body, header { background: #1e5e9e; }

/* .logo {background: url(/images/mx_emp.png) no-repeat 0 0; width: 110px; height: 25px; display: block; margin: 0 auto 1px;} */

.headerTop {
	background: url('/images/logo_emp.jpg') no-repeat 0 -7px;
	background-size: 223px;
}

.logo { background: none; }

.menu > li.active { box-shadow: inset 0 -3px 0 0 #ff00eb; }
.menu > li:hover { box-shadow: inset 0 2px 0 0 #ff00eb; }
