.nonEncarte, .encarte {
    padding: 0 0 20px 0;
}
.nonEncarte .hello {
    font-size: 15px;
    margin: 0 0 10px 0;
}
.nonEncarte .fLeft {
    width: 70%;
}
.nonEncarte .fRight {
    width: 25%;
    text-align: center;
    transform: translateY(0%);
}
.nonEncarte .fLeft p {
    text-align: justify;
    padding-bottom: 7px;
    font-size: 12px;
}
.nonEncarte img {
    float: left;    
    margin-right: 10px;
}

.accountArea .nonEncarte .bienvenue {
    float: left;
    height: 100%;
    margin-left: 0;
    margin-right: 21px;
    width: 340px;
    border: 0 none;
}

.accountArea .nonEncarte .bienvenue img {
    margin-top: 0px;
}

.accountArea .cheques 
{
    float: left;
    width: 100%;
}

/* Block Mes Chèques Confo+ */
.accountArea .cheques .cheque {
    background: #fff;
    display: inline-block;
    float: left;
    font-size: 11px;
    padding: 20px;
    width: 95%;
}
.accountArea .cheque .price {
    color: #d21d00;
    font-weight: bold;
    font-size: 20px;
}
.accountArea .cheque .fLeft {
    width: 80%;
}
.accountArea .cheque .fRight {
    text-align: center;
    padding: 15px 20px;
}
.imgCheque {
    display: block;
    position: absolute;
    top: -20px;
    left: 0px;
    height: 116px;
    width: 164px;
}
.descCheque {
    padding-left: 180px;
}
.descCheque .title {
    font-size: 12px;
}
.descCheque b {
    font-size: 14px;
}
.acCheque { background-position: -2383px center;}

/* evol 9855 : suppression diamant */
.acCheque {
	background: none;
	width:0;
}

a#btnMesAvantages.btnBlue,
a#btnCgvFidelite.btnBlue {
    margin-left: 0;
    margin-top: 20px;
    margin-bottom: 0;
}

.avantages  .avantage.lignedediee {
    color:#fff;
    background-color:#d21d00;
    padding-top:10px;
    padding-bottom:5px;
    border-top: 0 none;
    text-shadow: none;
}
.avantages .avantage.lignedediee p {line-height:1.6em;}

.accountArea .avantages .avantage,
.accountArea .avantages .avantage p span {font-size: 11px;}
.avantages .avantage.lignedediee p small {font-size:10px;}