z@import url('//media.conforama.fr/medias/webmaster/boutique/cuisine/styles/kitchen.css');

@font-face {
    font-family: din-ot-CDB;
    src: url(http://media.conforama.fr/medias/webmaster/boutique/rugby/css/DINOT-CONDBOLD.OTF);
}

@font-face {
      font-family: lubalin;
      src: url(http://media.conforama.fr/medias/webmaster/boutique/guide/css/Lubalin.otf);
}

/* BOUTIQUE NOEL */
.boutique-noel {
  background: url("http://media.conforama.fr/medias/webmaster/boutique/noel/img/boutique_noel.png") no-repeat top center transparent;
  height: 500px;
}
.boutique-noel #eventContainer {
  display: none;
}
.boutique-noel #topSegment {
  display: none;
}
.boutique-noel #contentSegment {
  display: none;
}

.sliderLanding li > p.slideTexte > span.blue { color: #003684; }

.sliderLanding li > p.slideTexte > span.green { color: #7c9f01;}

.pictosGarantie { background-image: url("//media.conforama.fr/medias/webmaster/img/css/garantie_pictos4.png") }

.pictosSocial { background-image: url("//media.conforama.fr/medias/webmaster/img/css/social_pictos.png")}


/* ONGLET SCROLL */

#ongletScrollHome { left:0%; position:fixed; padding:0; top:240px; margin:0; padding:0; text-align: left; z-index:2; }

#ongletScrollHome a img{ margin-left:-10px; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out;}
	
#ongletScrollHome a:hover img{ margin-left:0px; }

/* Header */
#header{
	background: url("../img/homepage/topbg.png") repeat-x scroll 0 top white;
	height:85px;
}

@media screen and (max-width: 1000px) {
    .img_soldes_homepage_130215 {
        display: none;
    }
}

#nav{
	padding-top:10px;
    width: 980px;
}

#ssMenu ul h2 a{text-align: center;}

#headerHomeConfo { position:relative; height:40px; }

#headerHomeConfo div {    position:absolute;    top:0;    left:0;    z-index:8;    opacity:0.0;    height: 40px;    background-color: #FFF;}

#headerHomeConfo div.active {    z-index:10;    opacity:1.0;}

#headerHomeConfo div.last-active {    z-index:9;}

#headerHomeConfo div img {    height: 40px;    display: block;    border: 0;    margin-bottom: 10px;}


/* Good deals */


/* NOIR */
ul.dealList li.black:hover,
ul.dealList li.black.current {
    background: none repeat scroll 0 0 #000;
}
	
ul.dealList li.black a {
    color: #000;
}

/* MARRON */
ul.dealList li.brown:hover,
ul.dealList li.brown.current {
    background: none repeat scroll 0 0 #674433;
}
	
ul.dealList li.brown a {
    color: #674433;
}


/* CYAN */
ul.dealList li.cyan:hover,
ul.dealList li.cyan.current {
    background: none repeat scroll 0 0 #2586B2;
}
	
ul.dealList li.cyan a {
    color: #2586B2;
}

/* ROSE */
ul.dealList li.pink:hover,
ul.dealList li.pink.current {
    background: none repeat scroll 0 0 #C3014A;
}
	
ul.dealList li.pink a {
    color: #C3014A;
}

/* BLUE 2 */
ul.dealList li.blue2:hover,
ul.dealList li.blue2.current {
    background: none repeat scroll 0 0 #0D5D95;
}
	
ul.dealList li.blue2 a {
    color: #0D5D95;
}

/* VERT */
ul.dealList li.green:hover,
ul.dealList li.green.current {
    background: none repeat scroll 0 0 #AFB90C;
}
	
ul.dealList li.green a {
    color: #AFB90C;
}

ul.dealList li:hover a, ul.dealList li.current a {
background: url("../medias/img/css/brand-white-arrow.png") no-repeat scroll left center transparent;
color: #FFFFFF;
}

/* Titre Conforama vous propose - page panier */
.offerTitle { text-indent: -9999px; background-image:url('/medias/webmaster/img/css/offerTitle.jpg'); background-repeat:no-repeat; display:none;}

/** Menu couleur */
#ssMenu ul li.rub1 a,
#ssMenu ul li.rub2 a,
#ssMenu ul li.rub3 a,
#ssMenu ul li.rub4 a,
#ssMenu ul li.rub5 a,
#ssMenu ul li.rub6 a,
#ssMenu ul li.rub7 a,
#ssMenu ul li.rub8 a,
#ssMenu ul li.rub9 a
 { color:#797979; }
 
 /* Avis clients etoiles */
.avisCustomer5 {
background: url("//media.conforama.fr/medias/webmaster/img/homepage/rate-5.png") no-repeat scroll right top transparent;
color: #A9CDE6;
font-size: 13px;
margin: 0 10px 0 0;
padding: 0 0 10px;
}


/* Service inclu */
ul.product_services_under li {display: block; background: url("//media.conforama.fr/medias/webmaster/img/css/pictos-plus.png") no-repeat left top; font-size: 11px; height: 16px;}

/* top recherche en ligne */
.footerMaskedBlock #topSearchSeo h3 { display:inline; margin-right: 5px; }

/* display none
.footerMaskedBlock #topSearchSeo p,
#main .bestSell
{
display:none; 
} */


/*
.checkoutContent .checkoutServiceIncluded li {
  float : none ;
  margin-left : 0px ;

}
*/
 

a.BtnService span span span {

       line-height: 24px;

}


/* pour l'affichage sur IPAD */
@media (max-device-width: 1024px) and (orientation: landscape){ 
    #ongletScrollHome, .blocRdv{
        display: none;
    }

}

@media (max-device-width: 768px) and (orientation: portrait){ 
    #ongletScrollHome, .blocRdv{
        display: none;
    }

}
/* Popin resize */
.popinContainer.popin800 {   width: 800px; } 
 
 .popinContainer.popin970 {   width: 970px; }  
 
 .popinContainer.popin765 {   width: 765px; }  
 
 .popinContainer.popin610 {   width: 610px; }  
 
 .popinContainer.popin755 {   width: 755px; } 
 
 .popinContainer.popin350 {   width: 350px; } 
 
 .popinContainer.popin1000 {   width: 1000px; } 
 
 .popinContainer.popinCut {   height: 800px; overflow-y: visible; } 
 
 
 /* Popin */
 .popinContainer.miseDisp .head img { margin-right:10px; }
 .popinContainer.miseDisp .head p.title { position:relative; top:0; left:0; margin-bottom: 5px; }
 .popinContainer.miseDisp span img { margin-right: 10px; float: left;}
 
 /* Fiche produit 
 .promoDate.red { color:#000; font-size:9px; padding-top: 5px; }
 .reducTxt.x-small, .slideCommon div p.reducPercent span.percent, .styleProd .priceDown .reducTxt { font-weight:bold; color:#c50103; }
 .slideCommon div p.reducPercent span.percent, .reduc, .styleProd .priceDown .reduc { color: #fff; height: 17px; line-height: 17px; margin: 3px 0 2px; text-align: center; width: 37px; background-color: #c50103; border: 1px solid #c50103; border-radius: 2px; background-image: none; }
 */
 /* Fiche produit */
 .promoDate.red { color:#000; font-size:9px; padding-top: 5px; }
 .reducTxt.x-small, .styleProd .infosProd .reducTxt { font-weight:bold; color:#c50103; }
  /* .reduc , .styleProd .infosProd .reduc{ color: #fff; height: 17px; line-height: 17px; margin: 3px 0 2px; text-align: center; width: 37px; background-color: #c50103; border: 1px solid #c50103; border-radius: 2px; background-image: none; }*/
 
 /* Produits suggeres */
 .sliderSuggest div p.reducPercent {
	/*display: none;*/
 }
 
 /* Bouton farandole */
 
.pager .btn.btnBlueDark.btn19 .content { background-position: 0 -44px; color:#696969; }
.pager .btn.btnBlueDark.btn19 .borderLeft { background-position: left -44px; }
.pager .btn.btnBlueDark.btn19 .borderRight { background-position: right -44px; }

.pager .btn.btnBlueDark.btn19:hover .content{background-position: 0 -66px; }
.pager .btn.btnBlueDark.btn19:hover .borderLeft{background-position: left -66px; }
.pager .btn.btnBlueDark.btn19:hover .borderRight{ background-position: right -66px; }
 
 /* Pieces de la maison */
 #eventMiddleR #eventMiddleContent strong { text-decoration: underline; }
 
 
 /* Liste des magasins */
 
.rechercheRegionMagasin  .titreRecherche { float:left ; color:#2586b2; background-color: #c2d8e3; padding: 3px 10px 3px 10px; margin: 10px; }
.rechercheRegionMagasin  .titreRecherche:hover, .rechercheRegionMagasin  .titreRecherche.current { color:#fff;  background-color:#2586B2; cursor:pointer }

.rechercheRegionMagasin ul { float:left; width: 235px; margin-left: 10px; font-size: 10px; }

.rechercheRegionMagasin .listeRegion, .rechercheRegionMagasin .listeMagasin { background: #FFF; clear: both; overflow: auto; margin: 0 0 10px;}

.shoppingGuide .shoppingGuideContent p.titreReponse {
	padding: 0 0 8px 10px;
	border-bottom: 1px dotted #696969;
	margin: 0 0 20px;
	color: #2586b2;
}

#cartMiniContentFlux p.noBg a{ background:none; padding:0 }

.univers-orange .leftSeg .blocTitle h1 { -webkit-hyphens: auto; -moz-hyphens: auto; -ms-hyphens: auto; -o-hyphens: auto; hyphens: auto; overflow-wrap: break-word;  }

/* menu */

ul#menu0 li.cat8 {
background: transparent url("//media.conforama.fr/medias/webmaster/img/css/bg-cat8.png") repeat-x 0 0;
}

ul#menu0 li.cat8:hover{
    background-position: 0 -30px;
}

ul#menu0 li.cat9 {
 background: url("//media.conforama.fr/medias/webmaster/img/css/bg-cat2.png") repeat-x scroll 0 0 transparent;
 border-radius: 0 5px 0 0;
}

ul#menu0 li.cat9 a{  border-right:0; }

ul#menu0 li.cat9:hover{
    background-position: 0 -30px;
}

#menu0 a { border-right: 1px solid #fff; border-radius: 0!important; height: 17px; margin-top: 4px; line-height: 20px;}

ul#menu0 li , #menu0 *:last-child{ border-radius: 0; }

#menu0 .current a, #menu0 li:hover a { line-height: 13px; }

#sliderEvent.vignetteEnBas .elEvent { clear: none; margin-top: 330px; float: left; width: 196px; }

#sliderEvent.vignetteEnBas .elEvent:first-child { padding-top:0; }

#sliderEvent.vignetteEnBas .active .arrowEv { display:none; }

.homeInfo { margin-bottom: 5px; }

/* Footer */

#follow { padding: 0px 20px 19px 5px !important;}

#follow img { float:left; margin-right: 10px;}

#follow div { margin-top: 10px; }

#footerSocial #follow p.normal , #footerSocial #follow a{ padding:0 !important; font-size: 11px; }

#footerSocial #connect ul#social { width: 50%; margin-bottom: 5px; }

#footerSocial #connect ul#partenaires { width: 100%; }

#footerSocial #connect { background: #DDEAF0; }
#footerNewsLetter input { width:160px; }
/* pieces de la maison 

.captionfull .boxcaption,
.caption .boxcaption,
.stepTwo .caption .boxcaption {
left: 0!important;
}*/

#follow span.large { line-height:8px!important; }

.newCat { left: 39%; }

.leftSeg .blocTitle h1, .leftSeg .blocTitle p { width: 100%; }

.leftSeg .blocTitle p.large { height:80% }

/*#eventTop .carrousProd .bx-pagerLeft { top: -35px; }*/

.floatBarArea .needHelp { background: #fff; border: 1px solid #ddd; padding: 12px 20px 0px; width: 334px; position: relative; margin: 20px 20px 20px 40px; float:left; height: 110px; }

.floatBarArea .conseillere { bottom: 0px; right: 30px; position: absolute; }

.floatBarArea .faq { bottom: 0; right: 20px; position: absolute; }

#landing_page #accountLeft .infoClient p { text-align: center; font: 16px/1em "Open Sans",arial; }

#landing_page #accountRight .accountArea h3.landing-picto img { margin-right: 5px; }
#landing_page #accountRight .accountArea h3.landing-picto { line-height: 32px; }
#landing_page #accountRight .accountArea h3 { margin-bottom: 10px; clear: both; font: normal 16px/16px "Open Sans", arial; }

.popinContainer .resetImg { margin: 0!important; float: none!important; }

/* Pieces de la maison - Cuisine */
.blocRdv {
    left: 0;
    position: fixed;
    top: 270px;
    width: 200px;
    z-index: 700;
    height:94px;
}

/* infos produits */
div.prodInfoCenter { text-align: center; margin-bottom: 20px; float: none!important; }


.andToo {
padding: 10px 9px 0;
}

#garantyConfo { line-height:35px; }


/*
************* Top vente dans les boutique
*/
.bestSell.bestSellBoutique {
    display: none;
}

/*
************* Résultat de la recherche
*/
	
.titleCat .large{
	color:#ffffff !important;}

li.univers1{
	background-image:url(http://media.conforama.fr/medias/webmaster/img/bg_catnoresult/bg_catnoresult_univers1.jpg)!important;
	background-position:right bottom!important;
	background-repeat:no-repeat!important;}
.univers1 span{
	color:#de4805 !important;}
.univers1 img{
	display:none;}

li.univers2{
	background-image:url(http://media.conforama.fr/medias/webmaster/img/bg_catnoresult/bg_catnoresult_univers2.jpg)!important;
	background-position:right bottom!important;
	background-repeat:no-repeat!important;}	
.univers2 span{
	color:#c3014a !important;}
.univers2 img{
	display:none;}

li.univers4{
	background-image:url(http://media.conforama.fr/medias/webmaster/img/bg_catnoresult/bg_catnoresult_univers4.jpg)!important;
	background-position:right bottom!important;
	background-repeat:no-repeat!important;}	
.univers4 span{
	color:#0d5d95 !important;}
.univers4 img{
	display:none;}

li.univers5{
	background-image:url(http://media.conforama.fr/medias/webmaster/img/bg_catnoresult/bg_catnoresult_univers5.jpg)!important;
	background-position:right bottom!important;
	background-repeat:no-repeat!important;}	
.univers5 span{
	color:#4c4c4c !important;}
.univers5 img{
	display:none;}
	
/*
************* Titre des marques
*/

.infoTxtBrand h1{
	font-size:1.5em;
    font-weight:bold;
    text-align:center;}
	
/*
************* Landing Discount
*/

#btnLandingDiscount{
	 background-image:linear-gradient(to bottom, #f51b1c, #b90f0f);
	 text-decoration:none;}

#btnLandingDiscount:hover{
	 background-image:linear-gradient(to top, #f51b1c, #b90f0f);
	 text-decoration:underline;}
	 
	 
/*
************* Surchage des éléments de sélection boutique
*/
.eventSlider h4.large.productTitle {
	font-size: 12px;
}

/*
************* Ajout d'une marge avant l'accroche produit dans la fiche produit
*/
.productDescArea .productWording li.accrocheProduit {
  margin: 4px 0 4px;
}


/*
************* Customisation des boutiques et résultats de recherche
*/
.boutique-custom #topSegment .leftSeg {
  display: none;
}
.boutique-custom .filtersBloc {
  border-left: medium none;
  width: 962px;
  min-height: 0;
}
.boutique-custom .optionsSelectedWarper {
  width: 944px;
}
.boutique-custom #eventTop .carrousProd .bx-pagerLeft{
	top:-22px;
}

.resultatsRecherche .filtersBloc,
.filtersBloc.typeBrand {
  min-height: 0;
}
.resultatsRecherche .filtersBloc  .filtersWrap,
.filtersBloc.typeBrand  .filtersWrap {
	margin-top: 4px;
}

/*
.boutique-custom .ongletsProducts {
  display: none;
}
*/

/*
************* popin livraison pied de l'immeuble
*/
.popinContainer.miseDisp.livraisonPiedImmeuble #landing_page #accountRight table.landingMounting tr td.price,
#landing_page #accountRight table.landingMounting.livraisonTransporteur tr td.price {
  width: 25%;
}
.popinContainer.miseDisp .head p {
  float: left;
}
.popinContainer.miseDisp.livraisonPiedImmeuble .head p.title {
  line-height: 70px;
  margin-right: 75px;
}

/*
************* popin livraison express
*/
#landing_page #accountRight table.landingMounting.livraisonExpress tr td{
	width: 0%;
}

/*
************* Nouvelle MAD
*/
.nouvelleMAD {
  background: url("http://media.conforama.fr/medias/webmaster/img/nouveau.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  padding-left: 57px;
}

/*
************* Pavé 4x Sans Frais
*/
.payFourtime .bRight {
  width: 49px;
}
.payFourtime .bLeft {
  width: 53px;
}

.no-textshadow .payFourtime .bRight .xxxx-large {
	line-height: 18px;
	font-size: 20px;
}
.payFourtime .infos {
  font-size: 8px;
}

/*
************* Suppression du background du push produit
*/
.pushFicheProduit {
	background: none;
	margin: 15px 0;
	padding: 15px 0;
}

.pushFicheProduit a img {
	margin-top: -20px;	
}

/*
************* Liens boutique Vente Privée
*/
.boutique-vente-privee .eventList {
/*
	margin-top: 30px;
*/
	margin-top: 10px;
}
.boutique-vente-privee .eventList li {
/*	height: 23px;
	padding-top: 3px;
	padding-bottom: 3px;
*/
}
.boutique-vente-privee .univers-red .eventList li.current, .boutique-vente-privee .univers-red .eventList li:hover {
  background-color: #5C0E0E;
}

.boutique-vente-privee .eventList li a{
	color: #5C0E0E;
}
.boutique-vente-privee .eventList li.current a{
	color: #FFF;
}
.boutique-vente-privee .eventList li a:hover{
	color: #FFF;
}
.boutique-vente-privee #eventMiddle,
.boutique-vente-privee .eventShadow{
	display: none;
}

/*
************* Liens boutique destockage
*/
.boutique-destockage .eventList a {
  padding-left: 10px;
  margin-left: 0px;

}

.boutique-destockage .eventList li{height:23px;}


#productSheet .backButton span span, .leftSeg a.backButton span span{
	font:15px "Open Sans",arial;
	line-height: 31px;
}

/*.boutique-destockage-250215 #eventContainer #eventTop #eventTopL .eventList li:last-child h3 a{color:#c50103 !important; font-weight: bold;}*/
.boutique-destockage-250215 #eventContainer #eventTop #eventTopL .eventList li:last-child h3 a:hover{color:#ffffff !important; font-weight: bold;}
.boutique-destockage-250215 #eventContainer #eventTop #eventTopL .eventList li.current h3 a{color:#ffffff !important; font-weight: bold;}

/*
************* Liens boutique SOLDES
*/
.boutique-soldes .eventList {
	margin-top: 7px;
}
.boutique-soldes .eventList li {
	height: 20px;
}

.boutique-soldes .eventList li a{
  font-family: "din-ot-CDB", arial;
  color: #ffe431;
  background: url("//media.conforama.fr/medias/webmaster/img/pucesoldes.png") no-repeat scroll left center transparent;
}

.boutique-soldes .eventList li.current a{
	color: #ffe431;
}
.boutique-soldes .eventList li a:hover{
	color: #ffe431;
}
.univers-red.boutique-soldes .eventList li.current {
  background-color: #ec4920;
}
.univers-red.boutique-soldes .eventList li:hover {
  background-color: rgba(0,0,0,0);
}

.univers-red.boutique-soldes .eventList li:hover a {
  color: white;
  background: url("//media.conforama.fr/_ui/desktop/theme-conforama/medias/img/css/brand-white-arrow.png") no-repeat scroll left center transparent;
}
.univers-red.boutique-soldes .filtersBloc {
	background-color: #FFEF76;
}
.boutique-soldes #eventTop .carrousProd .bx-pagerLeft{
	top:-22px;
}
.boutique-soldes #eventTopL {
  background-image: url("//media.conforama.fr/medias/webmaster/img/bloc/bg-soldes-boutique.jpg");
  /*background: none repeat scroll 0 0 black;*/
}
.boutique-soldes #eventTopL .eventTitle {
  color: white;
  font-weight: bold;
  padding: 5px 5px 0;
  text-align: center;
  text-shadow: 2px 2px #000000;
}
.boutique-soldes  .eventList a {
  margin-left: 12px;
  padding-left: 12px;
}
.boutique-soldes .shadow{
	display: none;
}
.boutique-soldes .eventList li:last-child a, .boutique-soldes .eventList li:last-child:hover a{
  color: #ec4920;
  font-weight: bold;
  background: url("//media.conforama.fr/medias/webmaster/img/pucesoldes_ew.png") no-repeat scroll left center transparent;
}
.boutique-soldes .eventList li:last-child.current a,
.boutique-soldes .eventList li:nth-child(9).current a {
	color: white;
    background: url("//media.conforama.fr/_ui/desktop/theme-conforama/medias/img/css/brand-white-arrow.png") no-repeat scroll left center transparent;
}

#menu0 .La.cat2.catSoldes.auto {
  background: url("//media.conforama.fr/medias/webmaster/img/css/bg-catsoldes.png") repeat-x scroll 0 0 transparent;
}
#menu0 .La.cat2.catSoldes.auto a {
  color: red;
  font-weight: bold;
}

#menu ul li.catSoldes{background-color: #fff200;}
#menu ul li.catSoldes:hover{background-color: #000000;}
#menu ul li.catSoldes a span{color: black;}
#menu ul li.catSoldes:hover a span{color: #fff200;}

/********************************* ONGLET MARKETPLACE *************************************************/
#menu ul li.catMarketplace a span{color: #4c1181;}
#menu ul li.catMarketplace:hover{background-color: #4c1181;}
#menu ul li.catMarketplace:hover a span{color: #ffffff;}

/********************************* BOUTIQUE MARKETPLACE *************************************************/
.univers-purple.boutique-MarketplaceByConfo .eventList li.current {
    color: #ffffff;
    background-color: #4c1181;
}

.univers-purple.boutique-MarketplaceByConfo .eventList li:hover a {
    color: #ffffff;
    background-color: #4c1181;
}

#menu0 .La.cat3.catbraderie.auto {
  background: url("//media.conforama.fr/medias/webmaster/img/css/bg-catbraderie.png") repeat-x scroll 0 0 transparent;
}
#menu0 .La.cat3.catdisney.auto {
  background: url("http://media.conforama.fr/medias/webmaster/boutique/disney/img/catdisney.png") repeat-x scroll 0 0 transparent;
  font-family: disney;
}
#menu0 .La.cat3.catbraderie.auto a {
  color: ffffff;
  font-weight: normal;
}
#menu0 .La.cat3.catdisney.auto a {
  color: ffffff;
  font-weight: normal;
}

/*
************* Titre guides d'achats
*/
.shopGuideTopNav h1 span.blueSoften, .shopGuideTopNav p span.blueSoften {
	margin:0px;
}

/*
************* Problème sur facebook
*/
.socialLinks {
	display: block;
}

.hitHeartL .socialLinks {
	display: none;
}

/*
************* Une seule image de fond pour la vitrine (homepage)
*/
#sliderEventOneSlide {
  height: 205px;
  position: relative;
  width: 980px;
}

/*
************* Menu Profil Literie
*/
#ssMenu .rub3 .ssMenuMarche.marcheProfilLiterie p.large a {
  line-height: 0px;
  color: #24294F;
}
#ssMenu .rub3 .ssMenuCol .ssMenuMarche.marcheProfilLiterie ul.ssMenuLinks li a {
	color: #ED7C06;
}

/*
************* Guide Achat Literie
*/

.shoppingGuide .shoppingGuideContent p.titreGuideLiterie {
	padding: 0 0 8px 10px;
	margin: 0 0 20px;
	text-align: center;
	color: #2586b2;
}

.shoppingGuide .shoppingGuideContent p.GuideLiterieChap1 {
	padding: 0 0 8px 10px;
	margin: 20px 0 20px;
	text-align: center;
}

.shoppingGuide .shoppingGuideContent p.GuideLiterieChap2Rouge {
	padding: 0 0 8px 10px;
	margin: 20px 0 20px;
	text-align: center;
	font-size:14px;
	line-height:16px;
	font-weight:bold;
	color:red;
}

.shoppingGuide .shoppingGuideContent p.GuideLiterieChap2 {
	padding: 0 0 8px 10px;
	margin: 20px 0 20px;
	text-align: center;
	font-size:16px;
	font-weight:bold;
}

.shoppingGuide .shoppingGuideContent #technologie {
	color:#538135;
	display:block;
	font-size:13px;
	font-weight:bold;
	line-height:17px;
}

.shoppingGuide .shoppingGuideContent strong.titretechnologie {
	color:#2586b2;
}

.shoppingGuide .shoppingGuideContent strong.titretechnologieBig {
	color:#2586b2;
	font-size:17px;
}

.shoppingGuide .shoppingGuideContent > div p{
text-align:justify;
}

/*
************* Disponible sur commande
*/
.styleProd p.reappro {
  background: url("//media.conforama.fr/_ui/desktop/theme-conforama/medias/img/css/v-check.png") no-repeat scroll left 4px transparent;
  color: #678c00;
}

.prodDelivery .deliveryMode .status.reappro {
  background: url("//media.conforama.fr/_ui/desktop/theme-conforama/medias/img/css/v-check.png") no-repeat scroll left 4px transparent;
}
.prodDelivery .deliveryMode .status.reappro strong {
  color: #678c00;
}

/************* Home page avec fond special
*/
#wrapper.slideSpecialLiterie {
	background-color: #ffffff;
	/*background-image: url("http://media.conforama.fr/medias/webmaster/img/homepage/bg-homepage.gif");
	background-repeat: repeat-x;	
	background-position: top;*/
}

#wrapper.slideSpecialDoc21 {
	background-color: #ed1c24;
}

#wrapper.slideCadorama {
	background-color: #62536c;
}


/**
 * Gestion du nombre de résultats affichés dans chacune des rubriques de l'autocompletion
 */
.AFSSuggestPopup #es_model1 ul li div.AFSSuggestItem:nth-child(6),
.AFSSuggestPopup #es_model1 ul li div.AFSSuggestItem:nth-child(7),
.AFSSuggestPopup #es_model1 ul li div.AFSSuggestItem:nth-child(8),
.AFSSuggestPopup #es_model1 ul li div.AFSSuggestItem:nth-child(9),
.AFSSuggestPopup #es_model1 ul li div.AFSSuggestItem:nth-child(10),
.AFSSuggestPopup #es_model1 ul li div.AFSSuggestItem:nth-child(11),
.AFSSuggestPopup #es_model1 ul li div.AFSSuggestItem:nth-child(12),
.AFSSuggestPopup #es_model1 ul li div.AFSSuggestItem:nth-child(13),
.AFSSuggestPopup #es_model1 ul li div.AFSSuggestItem:nth-child(14),
.AFSSuggestPopup #es_model1 ul li div.AFSSuggestItem:nth-child(15) {
	display: none;
}


/*
 * RDV Cuisine
 */
.rdvCuisine {
	height: 613px;
	overflow-y: hidden;
}
.rdvCuisine .bLeft{
	background: url("//media.conforama.fr/medias/webmaster/img/rdv-cuisine/img_experts2.jpg") no-repeat 0px 0px;
	width: 321px;
	height: 613px;
}
.rdvCuisine.step2 .bLeft{
	background: url("//media.conforama.fr/medias/webmaster/img/rdv-cuisine/img_experts3.jpg") no-repeat 0px 0px;
}
.rdvCuisine .bRight .banHaut{
	background: url("//media.conforama.fr/medias/webmaster/img/rdv-cuisine/ban_haut_choixmagasin.jpg") no-repeat 0px 0px;
	width: 659px;
	height: 80px;
}
.rdvCuisine .bRight .corps {
	background: url("//media.conforama.fr/medias/webmaster/img/rdv-cuisine/img_cuisine2.jpg") no-repeat 0px 2px #FFFFFF;
	width: 659px;
	height: 531px;
}
.rdvCuisine .boxChoix {
  background-color: #F6F6F6;
  height: 194px;
  left: 525px;
  padding: 12px;
  position: absolute;
  top: 260px;
  width: 235px;
  color: #000000;
  font-family: 'PT Sans Narrow',arial;
}
.rdvCuisine .boxChoix .titre {
  font-size: 22px;
  font-weight: 700;
  line-height: 20px;
  padding: 0px 3px;
}
.rdvCuisine .boxChoix .nomMagasin {
  font-size: 18px;
  padding: 0px 3px;
}
.rdvCuisine .boxChoix  .boutons {
  margin-top: 10px;
}
.rdvCuisine .boxChoix  .boutons .boutonPrendreRdv,
.rdvCuisine .boxChoix  .boutons .boutonChoixAutreMagasin {
  background: url("//media.conforama.fr/medias/webmaster/img/rdv-cuisine/prendre_rdv.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  height: 56px;
  width: 237px;
}
.rdvCuisine .boxChoix  .boutons .boutonChoixAutreMagasin {
  background-image: url("//media.conforama.fr/medias/webmaster/img/rdv-cuisine/changer_magasin.gif");
}
.rdvCuisine .boxChoix .boutonPrendreRdv > a,
.rdvCuisine .boxChoix .boutonChoixAutreMagasin > a {
  color: #FFFFFF;
  display: block;
  font-size: 17px;
  line-height: 14px;
  padding: 13px 8px 8px 55px;
}
.rdvCuisine .boxChoix .boutonChoixAutreMagasin > a {
  color: #000000;
}
.rdvCuisine .boxChoix .boutonPrendreRdv a span ,
.rdvCuisine .boxChoix .boutonChoixAutreMagasin a span {
  display: block;
  float: left;
}
.rdvCuisine .boxChoix .boutonChoixAutreMagasin span {
  line-height: 26px;
}
.rdvCuisine .boxChoix .boutonPrendreRdv a span.lienMagasin,
.rdvCuisine .boxChoix .boutonChoixAutreMagasin a span.lienMagasin {
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  margin-left: 18px;
}
.rdvCuisine .boxChoix .boutonChoixAutreMagasin a span.lienMagasin {
  margin-left: 12px;
}
.rdvCuisine .boxChoix .separateur {
  border-top: 2px solid #BCBCBC;
  margin: 10px 0;
  height: 1px;
}
.rdvCuisine  .boutonRdvRetour a {
  background: url("//media.conforama.fr/medias/webmaster/img/rdv-cuisine/btn_retour.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  height: 39px;
  width: 132px;
  display: block;
  margin: 21px 0 0 86px;
  
}

/************* Bannière Cookies
*/
#Consentement-cookies a {
	color:#ffffff;
	text-decoration:underline;
	font-weight:bold;
}

/************* Slide avec vignettes spéciales
*/
/*#sliderEvent.slideSpecial .sliderVignette {
  top: 90px;
  position: relative;
}
#sliderEvent.slideSpecial .elEvent {
  border-bottom: 1px solid #7EAFE9;
  color: #7EAFE9;
  font-family: Tahoma;
  font-size: 12px;
  height: 30px;
  line-height: 24px;
  width: 80px;
  padding: 4px 4px 9px;
}
#sliderEvent.slideSpecial .elEvent.twoLines {
  line-height: 13px;
}
#sliderEvent.slideSpecial .elEvent:first-child {
  padding-top: 4px;
}
#sliderEvent.slideSpecial .arrowEv {
	display: none;
}
#sliderEvent.slideSpecial .active img, #sliderEvent.slideSpecialLiterie .elEvent:hover,
#sliderEvent.slideSpecial .active img, #sliderEvent.slideSpecialLiterie .elEvent.active {
  font-weight: bold;
  color: white;
  background: url("//media.conforama.fr/medias/webmaster/img/fleche-n.png") no-repeat scroll 0 5px transparent;
  padding-left: 14px;
  width: 70px;
}

#sliderEvent {
  height: 305px;
  margin-bottom: 15px;
  position: relative;
  width: 980px;
}*/

/************* Slide avec vignettes normal *******************************************************************************************
*/
/*#sliderEvent.slideStandard.sliderVignetteStandard {
  top: 30px;
  position: relative;
}

#sliderEvent.slideStandard .elEvent {
  border-bottom: 1px solid #000000;
  color: #000000;
  font-family: Tahoma;
  font-size: 12px;
  height: 30px;
  line-height: 24px;
  width: 80px;
  padding: 4px 4px 9px;
  margin-right:10px;
}

#sliderEvent.slideStandard .elEvent.twoLines {
  line-height: 13px;
}
#sliderEvent.slideStandard .elEvent:first-child {
  padding-top: 4px;
  margin-top:80px;
}
#sliderEvent.slideStandard .arrowEv {
	display: none;
}

#sliderEvent.slideStandard .active img, #sliderEvent.slideStandard .elEvent:hover,
#sliderEvent.slideStandard .active img, #sliderEvent.slideStandard .elEvent.active {
  font-weight: bold;
  color: #000000;
  background: url("//media.conforama.fr/medias/webmaster/img/fleche-n.png") no-repeat scroll 0 5px transparent;
  padding-left: 14px;
  width: 87px;
}
*/
#sliderEvent {
  height: 320px;
  /* margin-bottom: 40px; */
  position: relative;
  width: 980px;
}

#sliderEvent a {
  display: block;
  height: 305px;
  left: 0;
  position: absolute;
  top: 0;
  width: 980px;
}

/************* Slide avec vignettes normal *******************************************************************************************
*/
#sliderEvent.slideStandard .sliderVignetteStandard {
  bottom: 0;
  position: absolute;
}

#slideshowContainer{
	margin-left:5px;
	background-color:#EEEEEE;
	}

#sliderEvent.slideStandard .elEvent {
  /* border-bottom: 1px solid #000000; */
  font-weight:bold;
  color: #fff;
  font-family: Tahoma;
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  width: 307px;
  padding: 0px 9px 0px 9px;
/*  margin-right:13px; */
  display:inline-block;
  text-align:center;
  border-left:2px solid white;
}

#sliderEvent.slideStandard .elEvent.twoLines {
  background-color: #333333;
  line-height: 30px;
  display:inline-block;
  float:left;
}

#sliderEvent.slideStandard .arrowEv {
	display: none;
}

#sliderEvent.slideStandard .active img, #sliderEvent.slideStandard .elEvent:hover,
#sliderEvent.slideStandard .active img, #sliderEvent.slideStandard .elEvent.active {
  background-color: #EEEEEE;
  /* font-weight: bold; */
  color: #000000;
  /* background: url("//media.conforama.fr/medias/webmaster/img/fleche-n.png") no-repeat scroll 0 5px transparent; */
  display:inline-block;
  width:306px;
}
/************* Menu de la homepage réduction de la taille de la police ****************************************
*/
#menu0 li {
	font:12px 'PT Sans Narrow', 'Arial Narrow', arial;
}
/************* Menu de la homepage réduction de la taille de la police TOUS NOS PRODUITS ****************************************/
#menu0 .cat1, #menu0 .cat1:hover {
  /*background: url("../medias/img/css/bg-current.gif") repeat-x scroll 0 0 transparent;*/
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  margin: 0 1px 0 0;
  padding: 0 13px;
  top: 0;
}

/************* Menu 'Nouveau guide' ***************************************************************************
*/
#menu0 .cat2.catNewGuide {
  background: url("//media.conforama.fr/medias/webmaster/img/homepage/bgcatnewguide.png") repeat-x scroll 0 0 transparent;
}

#menu0 .cat2.catNewGuide:hover {
	background-position: 0 -30px;
}
/************affichage du NEW *************************************/
.catNewGuide .newCat {
  background: url("//media.conforama.fr/medias/webmaster/img/homepage/newguidedeco.png") no-repeat scroll 0 0 transparent;
  width:29px;
}

/************* Menu 'Idées cadeaux' ***************************************************************************
*/
#menu0 .cat2.catIdeesKdo {
  background: url("//media.conforama.fr/medias/webmaster/img/homepage/bgcatideeskdo.png") repeat-x scroll 0 0 transparent;
}

#menu0 .cat2.catIdeesKdo:hover {
	background-position: 0 -30px;
}
/************affichage de l'étoile *************************************/
.catIdeesKdo .newCat {
  background: url("//media.conforama.fr/medias/webmaster/img/homepage/etoile.png") no-repeat scroll 0 0 transparent;
  width:29px;
}

/************* Popin 'Moyens de paiement' ***************************************************************************
*/
.popinPayment #accountRight .cardType {
    margin-top: 0;
	margin-left: 175px;
	padding-bottom: 18px;
    width: 540px;
}

.popinPayment #accountRight .accountArea .cardType .cbType {
  background: none repeat scroll 0 0 #fff;
  float: left;
  margin: 0 10px;
  width: 250px;
}

.popinPayment #accountRight .accountArea .cardType .cbType p.x-small img {
  text-align: center;
  margin:auto;
  display:block;
}

.popinPayment #accountRight .accountArea .cardType .cbType p.x-small2 {
  margin-left:37px;
  display:block;
}

/************* Accroche pour l'opération Bundle ***************************************************************************
*/
.accrocheOpeBundle {
  color: #777; 
  width: 460px;
}
.contentProdList .accrocheOpeBundle {
  font-size: 9px;
}
.accrocheOpeBundle .cadreAccroche {
  background-color: #f2f2f2; 
  padding: 5px; 
  border-radius: 10px;
}

.accrocheOpeBundle .titreProduitsVendusSeuls {
  color: #777; 
  font: 14px/14px arial;
  font-weight: bold;
}
.accrocheOpeBundle .oldPrice {
  font-size: 12px;
}
.accrocheOpeBundle .currentPrice {
	font-size: 14px;
}
.accrocheOpeBundle .titrePrixEnsemble {
  font-size: 14px; 
  margin-top: 10px;
  font-weight: bold;
  color: #777; 
}
.contentProdList .accrocheOpeBundle {
	display: none;
}
.contentProdList .accrocheOpeBundle .titreProduitsVendusSeuls {
  font-size: 11px;
  color: #777; 
}
.accrocheOpeBundle .libelleConstituant {
  font: 11px/11px arial;
  color: #777; 
  line-height: 15px;
}
.contentProdList .accrocheOpeBundle .libelleConstituant {
  display: none;
}
.contentProdList .accrocheOpeBundle .oldPrice {
  font-size: 10px;
  line-height: 15px;
}
.contentProdList .accrocheOpeBundle .currentPrice {
  font-size: 11px;
  line-height: 15px;
}
.contentProdList .accrocheOpeBundle .titrePrixEnsemble {
  display: none;
}

/******************SLIDE PRIX DES CUISINES ***************/
.slideBox p.kitchenPriceV2 {
  font-family: "open_sansbold";
  font-size: 46px;
  height: 56px;
  left: 400px;
  line-height: 56px;
  padding: 0 19px 0 15px;
  top: 176px;
}

/**********TUNNEL DE COMMANDE GRAISSE DES MAGASIN**********************/
.date a {
  font-weight:bold;
}

/****************** CATALOGUES ERRATA ***************/
.popinContainer .catalogues a.cataloguesErrata {
  color: #595959;
  cursor: pointer;
  display: block;
  height: 10px;
  padding: 15px 3px;
  text-decoration: none;
}

#landing_page #accountRight .catalogues a {
	height: auto;
}

/***********SLIDERS PAGES MARQUES***********************/
#topBrand .carrousProd{
	float:left;
}

.otherNav li a img{height: 90px;}

.bRight .productAccroche .pushOP a img{width: 214px;}

/******************NOUVELLE SEGMENTATION******************/
#ssMenu {
  height: 42px;
}
#ssMenu {
  background: url("//media.conforama.fr/_ui/desktop/theme-conforama/medias/img/css/bg-ssmenu.gif") repeat scroll 0 0 transparent;
}
#ssMenu ul {
  background: url("//media.conforama.fr/_ui/desktop/theme-conforama/medias/img/css/bg-ssmenu.gif") repeat scroll 0 0 transparent;
}
#ssMenu ul h2 a {
  font: 12px/17px "PT Sans Narrow",arial;
  padding: 0 8px;
  width: 70px;
  height: 34px;
}
#ssMenu > ul > li {
  height: 42px;
}
#ssMenu ul li.rub1 {
  padding: 0;
}
#ssMenu ul li.rub1 h2 a {
  width: 55px;
}
#ssMenu ul li.rub1 h2 a {
  width: 65px;
}
#ssMenu ul li.rub3 h2 a {
  width: 45px;
}
#ssMenu ul li.rub4 h2 a {
  width: 65px;
}
#ssMenu ul li.rub6 h2 a {
  width: 60px;
}
#ssMenu ul li.rub5 h2 a {
  width: 65px;
}
#ssMenu ul li.rub7 h2 a {
  width: 80px;
}
.ssMenuContainer {
  top: 42px;
}
#ssMenu a.subLink-white {
  width: 150px;
}
#ssMenu .ssMenuContainer .ssMenuContent .ssMenuMarche .large a {
  height: 16px;
  padding-left: 0;
}
#ssMenu .ssMenuContainer .ssMenuContent .ssMenuMarche.marcheProfilLiterie .large a {
  height: 31px;
  line-height: 16px;
}
#ssMenu .ssMenuContainer .ssMenuContent .ssMenuMarche .large a img {
  display: none;
}
#ssMenu .ssMenuContainer .ssMenuContent .ssMenuMarche .ssMenuLinks {
  margin-bottom: 10px;
}



/****************** COMPTEUR OP WEEK-END *****************/
.BG_compteur_WEEKEND2{width: 155px;height: 80px; background-image: url('http://media.conforama.fr/medias/webmaster/img/compteur-HP/compteurPlus100h2.png'); background-repeat: no-repeat; background-size: 100% auto; position: absolute; left:127px; top: 47px;}
.date_Fin{font-family: helvetica; font-size: 23px; font-weight: 700; color: white; margin-top: 21px; line-height: 26px; margin-left: 4px; letter-spacing: 0em;}
.compteur_WEEKEND{font-family: helvetica; font-size: 15px; font-weight: 700; bottom:0;text-align: left; color: black; margin-left: 0px;line-height: 25px;}

.boutique-rentree{display: block;}
.boutique-deco{display: none;}
.boutique-rangement{display: none;}
.boutique-chambre{display: none;}
.boutique-canape{display: none;}
.boutique-cop21{display: none;}
.boutique-deconoel{display: none;}
.boutique-noelbranche{display: none;}
.boutique-noelgourmets{display: none; width: 980px;}

#backgroundContainerLandingPage{
	background-color: #ffffff;
	background-image: url("http://media.conforama.fr/medias/webmaster/boutique/doc24/background_landingpage_doc24.jpg");
	background-repeat: no-repeat;	
	background-position: top center; 
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    height: 1926px;
}

@font-face {
    font-family: disneyMaj;
    src: url(http://media.conforama.fr/medias/webmaster/boutique/disney/css/waltographUI.ttf);
}
@font-face {
    font-family: disney;
    src: url(http://media.conforama.fr/medias/webmaster/boutique/disney/css/waltograph42.otf);
}


/*********************** MAGASIN EN GRAS **********************************************/
.middlebloc .encarts .encart .infoMag{
    font-weight: 900;
}



/****************** PREHOME CADORAMA *****************/

/*.fadeOutCadeau:hover{cursor:url(http://media.conforama.fr/medias/webmaster/img/homepage/prehomeNoel/pere-noel.gif),auto;}
.cadeauConfo:hover{cursor:url(http://media.conforama.fr/medias/webmaster/img/homepage/prehomeNoel/pere-noel.gif),auto;}*/
.papier1{position:absolute;z-index:100009; background-image:url(http://media.conforama.fr/medias/webmaster/img/homepage/prehomeNoel/fond-cadeau.gif);background-repeat:repeat;left:0;top:0;}
.papier2{position:absolute;z-index:100009; background-image:url(http://media.conforama.fr/medias/webmaster/img/homepage/prehomeNoel/fond-cadeau.gif);background-repeat:repeat;right:0;top:0;}
.papier3{position:absolute;z-index:100007; background-image:url(http://media.conforama.fr/medias/webmaster/img/homepage/prehomeNoel/fond1.png);left:0;top:0;z-index:100001;}
.papier4{position:absolute;z-index:100007; background-image:url(http://media.conforama.fr/medias/webmaster/img/homepage/prehomeNoel/fond2.png);left:0;top:0;z-index:100002;}


/************************ BOUTIQUE BON D'ACHAT *************************************/
.boutique-bon-dachat #eventTopL .eventTitle {
    padding: 3px 0 0 7px;  
}

.boutique-bon-dachat .eventList li {
    height: 20px;
}

/***************************** ASSURANCE CONFO EXCELLENCE **********************************/

#landing_page #accountRight p.normal strong.enligne{
    display: inline;
}

/**************************** RESEAUX SOCIAUX ************************************/

.instA {
    background-position: -36px 0;
}
.twitR2 {
    background-position: -71px 0;
}

.gPlus2 {
    background-position: -110px 0;
}
.uTube2 {
    background-position: -147px 0;
    width: 46px;
}

/**************************** SEO CONTENT ************************************/
.seoContent h2 {
  color: #2586b2;
  font: italic bold 16px/16px "Open Sans italic semi-bold";
  padding-bottom: 10px;
}


/**************************** Bloc réassurance ************************************/

#bottomInfo .Confo-engagement {
    font: italic 20px/20px "Open Sans italic semi-bold",arial;
    margin: 30px 0 4px;
    background-color: #2586B2;
    width: 843px;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    color: white;
}


/**************************** Ma pièce en plus ************************************/

#layermenus #layerMenu09 .layout .liste .col:nth-child(2) ul:nth-child(2) li:first-child a{font-style:italic; text-decoration: underline;}



/**************************** bouton Interroger les utilisateurs ************************************/

.productDescArea #PopinDiv{float: right; margin-top: -18px; width: 160px;}