/*============================== FONT-FACE ===================================*/
/* CHALET LONDON NINETEEN */
@font-face {
    font-family: 'Chalet-LondonNineteenSeventy';
    src: url('../medias/typo/chalet-londonseventy.eot');
    src: url('../medias/typo/chalet-londonseventy.eot?#iefix') format('embedded-opentype'),
         url('../medias/typo/chalet-londonseventy.woff') format('woff'),
         url('../medias/typo/chalet-londonseventy.svg#chalet-londonseventy') format('svg'),
         url('../medias/typo/chalet-londonseventy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* CHALET PARIS NINETEEN */
@font-face {
    font-family: 'Chalet-ParisNineteenSeventy';
    src: url('../medias/typo/chalet-parisseventy.eot');
    src: url('../medias/typo/chalet-parisseventy.eot?#iefix') format('embedded-opentype'),
         url('../medias/typo/chalet-parisseventy.woff') format('woff'),
         url('../medias/typo/chalet-parisseventy.svg#chalet-parisseventy') format('svg'),
         url('../medias/typo/chalet-parisseventy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* PT SANS NARROW */
@font-face {
    font-family: 'PT Sans Narrow';
    src: url('../medias/typo/ptsansnarrow-regular.eot');
    src: url('../medias/typo/ptsansnarrow-regular.eot?#iefix') format('embedded-opentype'),
         url('../medias/typo/ptsansnarrow-regular.woff') format('woff'),
         url('../medias/typo/ptsansnarrow-regular.svg#PT Sans Narrow') format('svg'),
         url('../medias/typo/ptsansnarrow-regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'Open Sans Condensed bold';
    font-style: normal;
    font-weight: 700;
    src: url('../medias/typo/opensans-condbold.eot');
    src: url('../medias/typo/opensans-condbold.eot?#iefix') format('embedded-opentype'),
         url('../medias/typo/opensans-condbold.woff') format('woff'),
         url('../medias/typo/opensans-condbold.svg#Open Sans Condensed') format('svg'),
         url('../medias/typo/opensans-condbold.ttf') format('truetype');
}
@font-face {
    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: 300;
    src: url('../medias/typo/opensans-condlight.eot');
    src: url('../medias/typo/opensans-condlight.eot?#iefix') format('embedded-opentype'),
         url('../medias/typo/opensans-condlight.woff') format('woff'),
         url('../medias/typo/opensans-condlight.svg#Open Sans Condensed') format('svg'),
         url('../medias/typo/opensans-condlight.ttf') format('truetype');
}
@font-face {
    font-family: 'Open Sans italic semi-bold';
    font-style: italic;
    font-weight: 600;
    src: url('../medias/typo/opensans-semibolditalic.eot');
    src: url('../medias/typo/opensans-semibolditalic.eot?#iefix') format('embedded-opentype'),
         url('../medias/typo/opensans-semibolditalic.woff') format('woff'),
         url('../medias/typo/opensans-semibolditalic.svg#opensans-semibolditalic') format('svg'),
         url('../medias/typo/opensans-semibolditalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Open Sans italic bold';
    font-style: italic;
    font-weight: bold;
    src: url('../medias/typo/opensans-bolditalic.eot');
    src: url('../medias/typo/opensans-bolditalic.eot?#iefix') format('embedded-opentype'),
         url('../medias/typo/opensans-bolditalic.woff') format('woff'),
         url('../medias/typo/opensans-bolditalic.svg#opensans-bolditalic') format('svg'),
         url('../medias/typo/opensans-bolditalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Open Sans semi-bold';
    font-style: normal;
    font-weight: 600;
    src: url('../medias/typo/opensans-semibold.eot');
    src: url('../medias/typo/opensans-semibold.eot?#iefix') format('embedded-opentype'),
         url('../medias/typo/opensans-semibold.woff') format('woff'),
         url('../medias/typo/opensans-semibold.svg#opensans-semibold') format('svg'),
         url('../medias/typo/opensans-semibold.ttf') format('truetype');
}
@font-face {
    font-family: 'Open Sans italic';
    font-style: italic;
    src: url('../medias/typo/opensans-italic.eot');
    src: url('../medias/typo/opensans-italic.eot?#iefix') format('embedded-opentype'),
         url('../medias/typo/opensans-italic.woff') format('woff'),
         url('../medias/typo/opensans-italic.svg#opensans-italic') format('svg'),
         url('../medias/typo/opensans-italic.ttf') format('truetype');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../medias/typo/opensans-regular.eot');
    src: url('../medias/typo/opensans-regular.eot?#iefix') format('embedded-opentype'),
         url('../medias/typo/opensans-regular.woff') format('woff'),
         url('../medias/typo/opensans-regular.svg#Open Sans') format('svg'),
         url('../medias/typo/opensans-regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Myriad Pro SemiCond';
    font-style: normal;
    font-weight: 400;
    src: url('../medias/typo/myriadpro-semibold.eot');
    src: url('../medias/typo/myriadpro-semibold.eot?#iefix') format('embedded-opentype'),
         url('../medias/typo/myriadpro-semibold.woff') format('woff'),
         url('../medias/typo/myriadpro-semibold.svg#myriadpro-semibold') format('svg'),
         url('../medias/typo/myriadpro-semibold.ttf') format('truetype');
}
.chalet{font-family: 'Chalet-LondonNineteenSeventy';}
.chalet-paris{font-family: 'Chalet-ParisNineteenSeventy';}