.blocRdv {
	left: 0;
	position: fixed;
	top: 270px;
	width: 200px;
	z-index: 700;
	height:94px;
}
@media (max-width: 1024px) {
	.blocRdv {
		display: none;
	}
}
.stepTwo{
	color: #000;
}
.stepTwo>.clearfix{
	margin:14px 0 0;
}
.kitchenTxt {
	background: #e8e8e6;
	border: 0 none;
	float: left;
	height: 368px;
	position: relative;
	width: 252px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	*behavior: url(boxsizing.htc);
	padding:89px 0 0 10px;
	border-right: 2px solid #FFFFFF;
}
.kitchenList{
	width: 215px;
}
.kitchenList li{
	height: 24px;
	padding:0 0 0 12px;
	border-top: 1px solid #fff;
}
.kitchenList li:first-child{
	border-top:0;
}
.kitchenList a{
	background: url("//media.conforama.fr/medias/webmaster/boutique/cuisine/medias/img/css/prod-arrow.png") no-repeat scroll left center rgba(0, 0, 0, 0);
	padding:0 0 0 12px;
	line-height: 24px;
	color:#4c4c4c;
}
.kitchenList li:hover, .kitchenList li.current{
	background: #4d4d4d;
}
.kitchenList li:hover a, .kitchenList li.current a{
	background: url("//media.conforama.fr/medias/webmaster/boutique/cuisine/medias/img/css/brand-white-arrow.png") no-repeat scroll left center rgba(0, 0, 0, 0);
	color:#fff;
}
.slider {
	position: relative;
	width: 727px;
	height: 368px;
	overflow: hidden;
}
.slides {
	height: 100%;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-webkit-transform-style: preserve-3d;
	-webkit-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
	-moz-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
	-ms-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
	-o-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
	transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
}
.slide {
	height: 100%;
	float: left;
	clear: none;
}
.slider-arrows {}
.slider-arrow {
	position: absolute;
	display: block;
	height: 53px;
	width: 35px;
	bottom: 160px;
}
.slider-arrow--right {right: 30px; background-position: center -604px;}
.slider-arrow--left {left: 30px;background-position: center -522px;}
.slider-nav {
	bottom: 110px;
	position: absolute;
}
.slider-nav__item {
	background: #ffffff;
	border: 1px solid #FFFFFF;
	border-radius: 8px;
	clear: none;
	display: block;
	float: left;
	height: 12px;
	margin: 0 5px;
	width: 12px;
}
.slider-nav__item:hover,
.slider-nav__item--current {
	background: none repeat scroll 0 0 #9AAF45;
}

.slider-btn{
	left: 50%;
	margin-left: -99px;
	height: 38px;
	width: 183px;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
	-webkit-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
	-webkit-box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.25);
	-moz-box-shadow:    0px 5px 6px 0px rgba(0, 0, 0, 0.25);
	box-shadow:         0px 5px 6px 0px rgba(0, 0, 0, 0.25);
	position: absolute;
	bottom: 30px;
}
.slider-btn:hover{
	background: rgb(229,229,229); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(229,229,229,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,229,229,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}
.slider-btn a{
	color: #000;
	font-size: 13px;
	font-weight: bold;
	line-height: 38px;
	text-decoration: none;
	background: url(//media.conforama.fr/medias/webmaster/boutique/cuisine/medias/css/black-arrow.png) no-repeat right center transparent;
	margin-left: 9px;
	padding-right: 16px;
}
.slideBox{
	position: relative;
}
.slideBox p{
	position: absolute;
	height: 36px;
	line-height: 36px;
	font-family: 'open_sansregular';
	background: #fff;
	padding: 0 6px 0 10px;
	font-size: 20px;
	margin: 0;
}
.slideBox p span{
	font-family: 'open_sansextrabold';
}
.slideBox p.kit,
.slideBox p.custom{
	left:295px;
	padding-left: 52px;
	top:140px;
}
.slideBox p.kitchenPrice{
	left:416px;
	top:176px;
	font-size: 50px;
	font-family: 'open_sansbold';
	height: 56px;
	line-height: 56px;
	padding: 0 19px 0 15px;
}
.shadow{
	/*background: url(//media.conforama.fr/medias/webmaster/boutique/cuisine/medias/img/css/info-shadow.png) no-repeat top center transparent;*/
	width: 100%;
	margin:0 0 10px;
	clear:both;
	height: auto;
	min-height: 12px;
	background-position:top;
}
.shadow p{
	text-align: right;
	font-size: 11px;
	padding: 10px 4px 0;
	display: none;
}
.shadow p span:first-child{
	text-decoration: underline;
	cursor:pointer;
}
.shadow .currentPrice{
	margin:0 10px;
}
div.intro{
	width: 780px;
	margin: 25px auto 46px;
}
div.intro blockquote {
	background-image: url("//media.conforama.fr/medias/webmaster/boutique/cuisine/medias/css/blockquote.png");
	background-position: left top;
	background-repeat: no-repeat;
	font-family: 'open_sansregular';
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	padding: 0 0 20px 25px;
	margin:0;
}
div.intro blockquote span {
	background-image: url("//media.conforama.fr/medias/webmaster/boutique/cuisine/medias/css/blockquote2.png");
	background-position: right bottom;
	background-repeat: no-repeat;
	display: block;
}
div.intro p{
	font-family: 'open_sansextrabold';
	font-size: 22px;
	line-height: 26px;
	text-align: center;
}
/*==================== BLOC ======================*/
.blocWrapper{
	padding:0 10px; 
}
.bloc{
	position: relative;
	clear: both;   
}
.bloc > div:first-child{
	width: 320px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	*behavior: url(boxsizing.htc);
	padding:0 30px;
	left: 0;
	position: absolute;
	top: 0;
}
.bloc1 {
	background: #9cb146;
}
.bloc2{
	background: url("//media.conforama.fr/medias/webmaster/boutique/cuisine/medias/kitchen-img/conseiller.jpg") no-repeat bottom center #464849;
	width: 320px;
}
.bloc3{
	background: #274f64;   
}
.bloc > div.accroche p{
	font-size: 13px;
	line-height: 18px;
	color:#fff;
	margin:0 0 15px;
}
.bloc div.accroche > p:first-child{
	font-family: 'theano_didotregular';
	font-size: 38px;
	line-height: 38px;
	margin: 44px 0 25px;
}
.bloc2 div.accroche > p:first-child{
	margin:45px 0 17px;
}
.bloc div.pics,
.bloc div.type{
	width: 640px;
	margin-left:320px;
	height:473px;
	position:relative;
}
.bloc div.type{
	height:522px;
}
.bloc div.pics p{
	width: 640px;
}
.bloc > div.type > div{
	float:left;
	width: 290px;
	height: 100%;
	background: #f6f6f6;
	padding: 0 15px;
}
.bloc div.type > div > ul{
	height: 198px;
}	
.bloc div.type > div li{
	min-height: 62px;	
}
.threePics li{
	width: 320px;
	float: left;
	position:relative;
	height:206px;
}
.bloc3 .threePics li{
	height: 258px;
}
.kitLegend{
	background:url(//media.conforama.fr/medias/webmaster/boutique/cuisine/medias/css/bg-gradient.png) repeat center center transparent; 
	bottom: 0;
	left: 0;
	position: absolute;
	text-align: center;
	width: 100%;
	color:#fff;
	font-size:12px;
	font-weight: bold;
	line-height: 16px;
	vertical-align: middle;
	padding:12px 0 10px;
}
.typeTitle{
	font-size: 20px;
	color:#09224a;
	font-family: 'open_sansbold';
	line-height: 20px; 
	border-bottom: 2px solid #BCBCBC;
	margin-top:32px;
}
.typeTitle span{
	display:block;
	font-size:14px;
	font-weight: bold;
	padding: 8px 0 11px;
	color:#000;
}
.typeTitle.custom{
	color:#f8ae40;
}
.type li {
	font-size: 12px;
	line-height: 14px;
	padding:0 0 0 4px;
}
.type li span{
	display: block;
	padding:12px 0 7px;
	font-family: 'open_sansbold';
	font-size: 14px;
}
.typeOutro{
	border-bottom: 2px solid #BCBCBC;
	overflow: hidden;
	padding:17px 0 20px;
	background-position: -54px -1090px;
}
.bloc > div.type > div:first-child .typeOutro{
	background-position: -54px -1197px;
}
.typeOutro p{
	padding: 23px 0 0 80px;
	font-size: 11px;
	font-style: italic;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	*behavior: url(boxsizing.htc);
	height:84px;
}
.txtBot{
	font-size: 12px;
	padding-top: 11px;
	width: 195px;
}
/*==================== FONT-FACE ======================*/
@font-face {
	font-family: 'theano_didotregular';
	src: url('//media.conforama.fr/medias/webmaster/boutique/cuisine/fonts/theanodidot-regular-webfont.eot');
	src: url('//media.conforama.fr/_ui/desktop/theme-conforama/fonts/theanodidot-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('//media.conforama.fr/medias/webmaster/boutique/cuisine/fonts/theanodidot-regular-webfont.woff') format('woff'),
	url('//media.conforama.fr/medias/webmaster/boutique/cuisine/fonts/theanodidot-regular-webfont.ttf') format('truetype'),
	url('//media.conforama.fr/medias/webmaster/boutique/cuisine/fonts/theanodidot-regular-webfont.svg#theano_didotregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'open_sansbold';
	src: url('//media.conforama.fr/medias/webmaster/boutique/cuisine/fonts/opensans-bold-webfont.eot');
	src: url('//media.conforama.fr/medias/webmaster/boutique/cuisine/fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('//media.conforama.fr/medias/webmaster/boutique/cuisine/fonts/opensans-bold-webfont.woff') format('woff'),
	url('//media.conforama.fr/medias/webmaster/boutique/cuisine/fonts/opensans-bold-webfont.ttf') format('truetype'),
	url('//media.conforama.fr/medias/webmaster/boutique/cuisine/fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
	font-weight: normal;
	font-style: normal;

}
@font-face {
	font-family: 'open_sansextrabold';
	src: url('//media.conforama.fr/medias/webmaster/boutique/cuisine/fonts/opensans-extrabold-webfont.eot');
	src: url('//media.conforama.fr/medias/webmaster/boutique/cuisine/fonts/opensans-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
	url('//media.conforama.fr/medias/webmaster/boutique/cuisine/fonts/opensans-extrabold-webfont.woff') format('woff'),
	url('//media.conforama.fr/medias/webmaster/boutique/cuisine/fonts/opensans-extrabold-webfont.ttf') format('truetype'),
	url('//media.conforama.fr/medias/webmaster/boutique/cuisine/fonts/opensans-extrabold-webfont.svg#open_sansextrabold') format('svg');
	font-weight: normal;
	font-style: normal;

}
@font-face {
	font-family: 'open_sansregular';
	src: url('//media.conforama.fr/medias/webmaster/boutique/cuisine/fonts/opensans-regular-webfont.eot');
	src: url('//media.conforama.fr/medias/webmaster/boutique/cuisine/medias/fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('//media.conforama.fr/medias/webmaster/boutique/cuisine/fonts/opensans-regular-webfont.woff') format('woff'),
	url('//media.conforama.fr/medias/webmaster/boutique/cuisine/fonts/opensans-regular-webfont.ttf') format('truetype'),
	url('//media.conforama.fr/medias/webmaster/boutique/cuisine/fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
	font-weight: normal;
	font-style: normal;

}
/*==================== BOUTON ======================*/
.kitchenBtn{
	-webkit-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
	-webkit-box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.25);
	-moz-box-shadow:    0px 5px 6px 0px rgba(0, 0, 0, 0.25);
	box-shadow:         0px 5px 6px 0px rgba(0, 0, 0, 0.25);
	padding-left: 9px;
	background: rgb(255,255,255); 
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1)));
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); 
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); 
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); 
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); 
	width: 231px;
	height: 42px;
	margin-top: 97px;
}
.kitchenBtn:hover{
	background: rgb(229,229,229);
	background: -moz-linear-gradient(top,  rgba(229,229,229,1) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,229,229,1)), color-stop(100%,rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top,  rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(top,  rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%); 
	background: -ms-linear-gradient(top,  rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%); 
	background: linear-gradient(to bottom,  rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#ffffff',GradientType=0 );
}
.kitchenBtn a{
	color: #000;
	float:left;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
	line-height: 14px;
	padding-top:8px;
	width: 152px;
	padding-left: 45px;
	height:33px;
}
.kitchenBtn img{
	float: left;
	margin: 14px 0 0 14px;
}
p.btnSprite,
.btnSprite a{
	background-image: url(//media.conforama.fr/medias/webmaster/boutique/cuisine/medias/css/small_ico.png);	
	background-repeat: no-repeat;

}
.schedBtn a{
	background-position: 0 4px;
}
.kitBtn a{
	background-position: 0 -38px;
}
.customBtn a{
	background-position: 0 -82px;
}
.threedBtn a{
	background-position: 0 -127px;
}
.guideBtn a{
	background-position: 4px -170px;
}
.configBtn a{
	background-position: 0 -214px;
	line-height: 42px;
	padding-top: 0;
	height: 42px;
}
p.kitBtn{
	background-position: 10px -42px;
}
p.customBtn{
	background-position: 10px -86px;
}
.kitBtn{
	margin-bottom: 15px;
}
.bloc3 .kitchenBtn{
	margin-top: 0;
}
.guide,.rassurance{
	overflow: hidden;
}
.guide div{
	float: left;
}
.guide div + div{
	width: 595px;
	background: url("//media.conforama.fr/medias/webmaster/boutique/cuisine/medias/kitchen-img/app_bg.png") no-repeat scroll right center #008797;
	height:141px;
	margin:40px 0 0;
}
.guide div p:first-child{
	font-family: 'open_sansbold';
	font-size: 26px;
	color:#fff;
	line-height: 26px;
	padding:0 9px;
}
.guide div p:first-child span{
	display: block;
	font-family: arial, sans-serif;
	font-size: 13px;
	line-height: 16px;
	padding:0 75px;
	font-weight: normal;
	margin-top:8px;
}
.guide div + div li{
	float: left;
}
.guide div + div li:first-child{
	margin: 0 25px 0 14px;   
}
.guide .btnBlack{
	width: 156px;
	margin:18px auto 20px;
}
.rassuranceTitle{
	font-family: 'open_sansbold';
	font-size: 24px;
	margin-bottom: 15px;
	text-align: center;
	clear: both;
}
.rassuranceTitle span{
	font-family: arial;
}
.rassurance div{
	float: left;
	width: 475px;
	height: 185px;
}
.rassurance div:first-child{
	background: #f5e21a;    
	margin-right: 10px;
}
.rassurance div p:first-child{
	font-size: 11px;
	background: #FFF;
	line-height: 12px;
	padding: 5px;
	font-weight: bold;
}
.rassurance div p.credit{
	font-family: 'open_sansextrabold';
	font-size: 28px;
	color: #e21200;
	text-align: right;
	line-height: 26px;
	margin: 30px 0 0 18px;
	width: 310px;
	padding-right: 130px;
	background-position: 290px -686px;
}
.rassurance div p.credit span{
	display: block;
	font-weight: normal;
	font-size: 21px;
	color:#000;
}
.rassurance div.mapMag{	
	background-position:3px -312px ;
	background-color: #E4E4E4;
}
.rassurance div.mapMag p:first-child{
	background: none;
	color: #fff;
	font-size: 42px;
	font-family: 'open_sansextrabold';
	padding: 0;
	width: 72px;
	margin: 60px 54px 0 60px;
	line-height: 42px;
}
.rassurance div.mapMag p:first-child span{
	display: block;
	font-size: 14px;
	font-weight: 700;
	line-height: 14px;
}
.rassurance div.mapMag p{
	width: 272px;
	font-size: 13px;
	line-height: 16px;
	float:left;
}
.rassurance div.mapMag p + p{
	margin: 40px 0 0 6px;
}
.rassurance div.mapMag .btnRdv{
	display: block;
	margin-top:20px;
}
.kitServ{
	padding:30px 0;
	clear: both;
	overflow: hidden;
}
.kitServ div{
	width: 240px;
	float: left;
	height: 211px;
	border-left: 1px solid #BFBFBF;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	*behavior: url(boxsizing.htc);
}
.kitServ div:first-child{
	border: none;
}
.kitServ div p:first-child{
	text-align: center;
	height: 56px;
	padding: 2px 0 0;
}
.kitServ div p{
	font-size: 12px;
	line-height: 14px;
	padding:14px 10px 0;
}
.kitServ div p span.space{
	display: block;
	margin-top: 20px;
}
.kitServ div p span.small{
	font-size: 11px;
	color: #757575;
	display: block;
}
span.gras{
	font-weight: bold;
}
.mention .small{
	font-size: 12px;
	color: #757575;
	line-height: 16px;
	margin-bottom: 20px;
}
p.rdvMag {
	background: none repeat scroll 0 0 #137883;
	color: #FFFFFF;
	display: block;
	font-size: 12px;
	font-weight: bold;
	line-height: 36px;
	padding: 0 12px;
	right: 100px;
	top: 275px;
}
.tbox {
	position: absolute;
	display: none;
	padding: 14px 17px;
	z-index: 900;
}
.tinner {
	padding: 15px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #fff;
	border-right: 1px solid #333;
	border-bottom: 1px solid #333;
	position: relative;
}
.tmask {
	position: absolute;
	display: none;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background: #000;
	z-index: 800;
}
.tclose {
	position: absolute;
	top: 10px;
	right: 13px;
	width: 11px;
	height: 12px;
	cursor: pointer;
	background: url(//media.conforama.fr/medias/webmaster/boutique/cuisine/medias/css/close.png) no-repeat;
}
.kitPatch {
	background-position: center -1215px;
	bottom: 210px;
}
.customPatch {
	background-position: center -1107px;
	bottom:24px;
}
.kitPatch, .customPatch {
	height: 78px;
	position: absolute;
	width: 78px;
	right:24px;
}
.kitInfo>div:first-child{
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	*behavior: url(boxsizing.htc);
	padding: 30px;
}
.kitBg,.customBg{
	background: #f6f6f6;
}
.kitInfo{
	display:none;
}
.kitInfo .bLeft,.kitInfo .bRight{
	padding-top: 2px;
}
.kitInfo .bLeft{
	background-position: -28px -1479px;
	height: 128px;
	padding-left: 140px;
	width: 250px;
}
.kitInfo .customBg .bLeft{
	background-position: -28px -1321px;
}
.kitInfo .bLeft .typeTitle{
	border:none;
	margin: 0; 
}
.kitInfo .bLeft .typeTitle span{
	line-height: 14px;
	padding:10px 0 12px;
}
.kitInfo .bRight{
	width: 530px;
}
.kitInfo .type ul {
	border-left: 1px solid #d3d3d3;
	padding-left: 35px;
}
.kitInfo .type li{
	padding:15px 0 0;
}
.kitInfo .type li:first-child{
	padding: 0;
}
.kitInfo .type li span{
	padding:0 0 6px;
}
.kitInfo .infoTitle{
	font-family: 'open_sansregular';
	font-style: italic;
	font-size: 24px;
	color: #4c4c4c;
	padding:25px 0 15px; 
}
.kitInfo .infoTitle span{
	font-family: 'open_sansbold';
}
.optionBloc{
	margin-bottom: 30px;
	padding-top: 10px;
}
.optionBloc .rubricTitle{
	font-size: 20px!important;
	line-height: 26px;
	margin-bottom: 20px;
}
.optionBloc>div{
	width: 320px;
	height: 294px;
	float: left;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	*behavior: url(boxsizing.htc);
	padding: 30px 10px 0 20px;
}
.optionBloc div p{
	font-family: 'theano_didotregular';
	font-size: 30px;
	line-height: 30px;
	color: #fff;
}
.optionBloc div p span{
	font-family: Arial;
	font-size: 13px;
	line-height: 18px;	
	display: block;
	margin-top:8px;
}
.optionBloc div + div{
	margin: 0 10px;
}
.optionBloc div + div + div{
	margin:0;	
}
.optionBloc .guideBG .kitchenBtn{
	width: 140px;	
	height: 42px;
	background: #303030; 
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMwMzAzMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #303030 0%, #000000 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#303030), color-stop(100%,#000000)); 
	background: -webkit-linear-gradient(top,  #303030 0%,#000000 100%);
	background: -o-linear-gradient(top,  #303030 0%,#000000 100%);
	background: -ms-linear-gradient(top,  #303030 0%,#000000 100%); 
	background: linear-gradient(to bottom,  #303030 0%,#000000 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#303030', endColorstr='#000000',GradientType=0 ); 
	margin: 97px 0 0 139px;
	padding: 0;
}
.optionBloc .guideBG .kitchenBtn:hover{
	background: #000000; 
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzMDMwMzAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #000000 0%, #303030 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(100%,#303030)); 
	background: -webkit-linear-gradient(top,  #000000 0%,#303030 100%); 
	background: -o-linear-gradient(top,  #000000 0%,#303030 100%);
	background: -ms-linear-gradient(top,  #000000 0%,#303030 100%); 
	background: linear-gradient(to bottom,  #000000 0%,#303030 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#303030',GradientType=0 ); 
}
.optionBloc .guideBG .kitchenBtn a{
	width: 62px;
	line-height: 16px;
	color:#fff;
	padding:5px 0 0 45px;
}
.optionBloc .guideBG .kitchenBtn img{
	margin-top:12px;
}
.optionBloc .schedBtn{
	height: 42px;
	margin-top: 97px;
}
.optionBloc .schedBtn a{
	line-height: 14px;
	padding: 6px 0 0 45px;
	width: 152px;
}
.optionBloc .schedBtn img{
	margin:14px 0 0 14px;

}
/*================ BG COLORED ==============*/
.aquaBg{
	background: #274F64;
}
.blueBg{
	background: #008797;
}
.brownBg{
	background: #6a5a4e;
}
.greyBg{
	background: url("//media.conforama.fr/medias/webmaster/boutique/cuisine/medias/kitchen-img/conseiller.jpg") no-repeat scroll center bottom #4d4d4d;
}
.elmBG,.kitBG,.cusBG{
	background-repeat:no-repeat;
	background-position: center 144px; 
}
.elmBG{
	background-image: url(//media.conforama.fr/medias/webmaster/boutique/cuisine/medias/css/picto-elmt.png);
}
.kitBG{
	background-image: url(//media.conforama.fr/medias/webmaster/boutique/cuisine/medias/css/picto-kit.png);
}
.cusBG{
	background-image: url(//media.conforama.fr/medias/webmaster/boutique/cuisine/medias/css/picto-custom.png);
}
.guideBG{
	background-image: url(//media.conforama.fr/medias/webmaster/boutique/cuisine/medias/css/guide-bg.png);
	background-repeat:no-repeat;
	background-position: left 135px;
}
.kitchenSp{
	background-image: url(//media.conforama.fr/medias/webmaster/boutique/cuisine/medias/css/kitchen-sprite.png);
	background-repeat:no-repeat;
}
.kitServD{
	background-position: 29px 2px;
}
.kitServT{
	background-position: 29px -79px;
}
.kitServF{
	background-position: 29px -154px;
}
.kitServS{
	background-position: 29px -230px;
}
.cold{
	background-position: -73px -1636px;
	width: 135px;
}
.water{
	background-position: -73px -1704px;
	width: 150px;
	margin: 0 10px 0 15px;
}
.cook{
	background-position: -73px -1772px;
	width:140px;
}
/*================ PAGES PROJECT ==============*/
.projTop{
	border-bottom: 1px solid #e3e3e3;
	margin-bottom: 30px;
	position: relative;
	height: 114px;
}
*+html .projTop .btn .content{
	width: 92px;
}
.projTop .btn .content{
	width: 84px;
	color:#4c4c4c;
}
.projTop .btn .ico{
	margin: 0 10px 0 9px;
}
.projTitle{
	color:#333;
	font-family: 'theano_didotregular';
	font-size: 38px;
	line-height:48px;
	text-align: center;
	margin-top:-48px;
}
.projNav{
	margin:42px auto 0;
	width: 544px;
	height: 32px;
}
.projNav li{
	float:left;
	font-size: 13px;
	text-align: center;
	width:136px;
}
.projNav a{
	color:#4c4c4c;
	padding-bottom: 13px;
}
.projNav a:hover,.projNav .current a{
	border-bottom: 3px solid #9aaf45;
}
.projBloc{
	clear:both;
}
.projBloc>div{
	float:left;
}
.projBloc>div li.formIntro {
	color: #4C4C4C;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	*behavior: url(boxsizing.htc);
	font-family: 'theano_didotregular';
	font-size: 17px;
	font-style: italic;
	line-height: 24px;
	padding: 38px 28px 38px 20px;
	width: 330px;
}
.projBloc>div.formTxt{
	background: #9aaf45;
	color:#fff;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	*behavior: url(boxsizing.htc);
	padding: 40px 35px;
	width: 330px;
	height:664px;	
}
.projBloc>div.formTxt p:first-child,
#forme>div:first-child p:first-child,
#eclairage p:first-child{
	font-family: 'theano_didotregular';
	font-size: 38px;
	line-height: 38px;	
}
.projBloc>div.formTxt p span:first-child{
	font-weight: bold;
}
.projBloc>div.formTxt p span{
	font-size: 13px;
	line-height: 18px;
	margin-top:22px;
	display:block;
}
.formSprite{
	background-image: url(//media.conforama.fr/medias/webmaster/boutique/cuisine/medias/css/sprite-forme.png);
	width: 174px;
	height: 130px;
	display: block;
}
.shapeA{
	background-position: 0 0;
}
.shapeB{
	background-position: 0 -145px;
}
.shapeC{
	background-position: 0 -290px;
}
.shapeD{
	background-position: 0 -434px;
}
.shapeE{
	background-position: 0 -579px;
}
#forme>div{
	width: 330px;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	*behavior: url(boxsizing.htc);
	background: none repeat scroll 0 0 #EEF0F0;
	border-bottom: 1px solid #FFFFFF;
	padding:40px 28px;
	height:428px;
}
#forme>div.formMiddle{
	width: 320px;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
}
#forme>div:first-child p:first-child{
	margin:65px 0 40px;
	display: block;
}
#forme>div .formDesc{
	font-size:12px;
	line-height: 16px;
	padding-top: 25px;
	height: 112px;
}
#forme>div .tips{
	display: block;
	font-weight: bold;
}
#forme>div p:first-child{
	font-family: 'theano_didotregular';
	font-size:26px;
	display: inline;
}
#forme>div p:first-child span{
	color:#008595;
}
.projBloc .projSlide{
	width: 650px;
	height: 570px;
	overflow: hidden;
	position: relative;
}
#triangle{
	position:relative;
}
#triangle .formTxt{
	height: 570px;
	padding-right:20px;
}
#triangle .formTxt span{
	font-weight:normal;
}
#triangle .formTxt span>span{
	font-weight: bold;
	display:inline;
	margin:0;
}
#triangle .formTxt .know{
	font-family: 'theano_didotregular';
	font-style: italic;
	text-align: center;
	font-size: 18px;
	line-height: 20px;
}
#triangle .formTxt .know span{
	background: none repeat scroll 0 0 #FFFFFF;
	height: 1px;
	margin: 32px auto;
	width: 172px;
}
#triangle .formTxt .author{
	text-align:center;
	padding-top: 20px;
}
.triangle-bot{
	background:url(//media.conforama.fr/medias/webmaster/boutique/cuisine/medias/css/w-bg-gradient.png) repeat center center transparent;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	*behavior: url(boxsizing.htc);
	bottom: 0;
	float: none;
	height: 90px;
	left: 0;
	position: absolute;
	padding: 18px 28px 0;
	width: 650px;
}
.triangle-bot li {
	float: left;
	padding-left:48px;
	line-height: 14px;
}
.triangle-bot span{
	color:#98ae54;
	display: block;
	font-size: 12px;
	font-weight: bold;
	margin:4px 0;
}
#kitchen-bar {
	width: 980px;
	z-index: 499;
	margin: 0 auto;
	position: absolute;
}
#kitchen-bar.fixed {
	position: fixed;
	top: 0 !important;
	left: 0;
	right: 0;
	background: #fff;
	border-bottom:2px solid #E3E3E3;
	padding:13px 0 0;
}
*+html #kitchen-bar.fixed{
	width: 100%;	
}
#kitchen-bar.fixed .projNav{
	margin: 0 auto;
}
.projBloc .momentContainerWrap{
	padding:0;
	width: 100%;
	height: 472px;
	border: none;
}
.projBloc .momentContainerWrap .momentContainerContent{
	height: 100%;
}
.projBloc .momentContainerWrap .momentContainerNav{
	background: none;
	margin:0 0 0 10px;
	width: 320px;
}
.projBloc .momentContainerElement{
	width: 650px;
	height: 100%
}
.projBloc .momentContainerContent>div:first-child{
	width: 330px;
	float:left;
	background: #eef0f0;
	height: 100%;
}
.projBloc .momentContainerContent>div p:first-child{
	font-family: 'theano_didotregular';
	font-size: 38px;
	line-height: 38px;
	margin: 40px 0 40px 32px;
}
.projBloc .momentContainerContent>div p{
	margin: 0 0 20px 32px;
}
.projBloc .momentContainerWrap .momentContainerNav li{
	height: auto;
	max-height: 100px;
	min-height: 58px;
	width: 359px;
	background: none;
	color:#4c4c4c;
}
.projBloc .momentContainerWrap.moving .momentContainerNav li.current .content{
	background-color:#98ae54;
	border:none;
}
.projBloc .momentContainerWrap.moving .momentContainerNav li.current {
	background: url("//media.conforama.fr/medias/webmaster/boutique/cuisine/medias/css/carouselnav-moving.png") no-repeat scroll right center transparent;
}
.projBloc .momentContainerWrap .momentContainerNav li .content{
	border-top: 1px solid #D2D2D2;
	padding:10px 26px 10px 22px;
	width: 272px;
	height: 58px;	
}
.projBloc .momentContainerWrap .momentContainerNav li:first-child .content{
	border: none;
}
.projBloc .momentContainerWrap .momentContainerNav li .content:first-letter{
	font-family: 'theano_didotregular';
	font-size: 18px;
}
#eclairage{
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	*behavior: url(boxsizing.htc);
	width: 100%;
	height: 390px;
	background: #eef0f0;
	padding:40px 0 0 30px;
}
#eclairage li{
	width: 300px;
	float: left;
	color: #4c4c4c;
	font-size: 13px;
	line-height: 18px;
	padding:30px 0 0;
}
#eclairage li span{
	display: block;
	font-size: 18px;
	font-weight: bold;
	margin:26px 0 12px;
}
#eclairage li:first-child + li{
	margin: 0 10px;
}
#discovery{
	margin-bottom:40px;
}
#discovery.bloc > div:first-child{
	width:330px;
	margin-top: 94px;
}
#discovery.bloc div.pics{
	width:650px;
	margin-left:331px;
	height: 379px;
}
#discovery .boxgrid{
	width: 160px!important;
	border-left:3px solid #fff;
	height:100%;
	margin:0;
}
#discovery .boxgrid:first-child{
	border:none;
}
.outro p{
	color:#4c4c4c;
	font-family: 'theano_didotregular';
	font-size: 22px;
	line-height: 28px;
	width: 575px;
	height: 108px;
	margin: 28px auto 25px;
	text-align: center;
}
