/* MODIFICATIONS GENERALES */
.print-popin,#cboxClose {
	display: none;
}
#colorbox {
	top: 0 !important;
	left: 0 !important;
}
#wrapperSite {
	background-image: none;
}
#headerTop,#headerTop,#headerBottom .search,#headerBottom .bann,#headerWrap .shadow.mainMenu,#nav,
#footer,#floatBar,#breadcrumb,#bottomInfo,#add {
	display:none !important;
}
#headerBottom {
	width: 200px;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 20px;
}
#header {
	height: inherit;
}
#main {
	margin-bottom: 20px;
}
.btn {
	display:  none;
}
.shadow,.shadowSlider {
	display:none !important;
}
.js-add-to-cart {
	display: none;
}
.btnBack {
	display: none;
}
.addthis_toolbox {
	display: none;
}
/* SUPPRESSION DES CAROUSELS */
.bestSell,.goodDeals {
	display: none;
}

/* FICHE PRODUIT */
#productSheet .productDescArea .sortBy,
#productSheet .productDescArea .addthisStyle,
#productSheet .colDetail a img,
#productSheet .colDetail a.knowMore,
#productSheet .colDetail .modifs,
#productSheet .colDetail .addBtn,
#productSheet .colDetail .dispoBtn,
#productSheet .productPictureArea .productView,
#productSheet .productViewLinks,
#productSheet .productViewLinks_bottom,
#productSheet .picsAreaTop a,
#seo,
.sliderProdView,
.productInfos .eco a,
.alertPriceDown,
.avis a.rate,#simulation ul,
#rating,
a{
	display: none;
}
.ecopart a {
	display:inline;
}
.productPictureArea{
	border: 1px solid #E2EBF0;
	padding: 9px;
}
#productInformations .productInformationsTabs li a {
	display: none;
	text-align: left;
	font-weight: bold;
}
#productInformations .productInformationsTabs li {
	border:0;
}
#productInformations .productInformationsTabs li a.current {
	display : block;
	background: none;
	color: #1D81AF;
	border:0;
}
#productInformations  .sliderPacks .modifs{
	display: none;
}
#productSheet a,
ul.productWording li a{
	text-decoration: none;
}
.productInfos .eco span{
	display: block;
}
.productInfos .colDetail{
	border: 1px solid #F2F2F2;
	padding: 7px 5px 10px
}
.prodDelivery .deliveryMode.chooseStore .status{
	float: none;
}
.productInfos .oldPrice{
	text-decoration: line-through;
}

.oldPrice{
	text-decoration: line-through;
}
#productSheet,.productInformationsArea{
	margin:0;
}
#garantyConfo{
	border: 1px solid #E2EBF0;
}
/*ACCOUNT */
#accountContainer {
	background: none;
}
#accountLeft {
	display: none;
}
#accountRight {
	float: none;
	margin: auto;
}
#accountContainer .goodDeals {
	display: block;
	background: none;
}
.sliderGoodDeal {
	width: 695px !important;
	left: 0 !important;
}
.sliderGoodDeal > div {
	display : none;
}
.sliderGoodDeal > div.pager {
	display :block;
}
.subLink,.linkGreyPuce  {
	display: none;
}
#features{
  page-break-after: always;
}
.productSuggestContent p.medium{
	margin:0;
	border-top: 1px solid #E7E7E7;
}
/*LANDING PAGE */
#landing_page {
	width: 746px;
	margin:auto;
}
/*Checkout */
#checkoutRight {
	display: none;
}
#checkoutLeft {
	width:  746px;
	margin:auto;
	float: none;
}
#stepsOrder {
	display: none;
}
.checkoutResumeInfo,
#totalCheckout .btn {
	display: none;
}
/* SHOPPING GUIDE */
#shopGuideTop {
	display: none;
}
.allGuideThem .colLeft,.allGuideList  {
	display: none;
}
.CarouSlide.shoppingGuide .colRight {
	margin: auto;
}
.CarouSlide.shoppingGuide .colRight .shoppingGuideChild {
	display: block;
}
.CarouSlide.shoppingGuide .colRight .shoppingGuideChild .guideContent {
	border: 0;
}
a:after{
	content:"" !important;
}
.shopTabs.ui-tabs .ui-tabs-panel{
	display: block!important;
}
.infoBloc{
	border: 1px solid #F2F2F2;
}