/*============================== FONT-SIZE ===================================*/
.xx-small {
    font-size: 8px;
}
.x-small {
    font-size: 10px;
}
.small {
    font-size: 11px;
}
.normal {
    font-size: 12px;
}
.treize{font-size: 13px;}
.medium {
    font-size: 14px;
}
.quinze{font-size:15px;}
.large {
    font-size: 16px;
}
.x-large {
    font-size: 18px;
}
.xx-large {
    font-size: 20px;
}
.xxx-large {
    font-size: 24px;
}
.xxxx-large {
    font-size: 30px;
}
.xxxxx-large {
    font-size: 35px;
}
.xxxxxx-large {
    font-size: 50px;
}
.xxxxxxxxx-large {
    font-size: 108px;
}
/*============================== FONT-STYLE ==================================*/
.Upper{text-transform: uppercase;}
.Italic{font-style: italic;}
.Under{text-decoration: underline;}
.noUnder{text-decoration: none;}
.bold{font-weight: bold;}
/*============================== COULEURS RECURENTES ==================================*/
.blue{
    color:#003684;
}
.blueSoften{
    color:#2586b2;
}
.blueSoft{
    color:#208dc0;
}
.red{
    color:#C50101;
}
.grey{
    color:#797979!important;
}
.darkgrey{
    color:#595959!important;
}
.purple{
    color:#68007B;
}
.orange{
    color:#C54601;
}
.yellow{
    color:#FF8A00;
}
.green{
    color: #7c9f01;
}
.white{
    color: #ffffff;
}