@import url("style-base.css");
::-webkit-input-placeholder {color: #888;}
:-moz-placeholder {color: #888;}
::-moz-placeholder {color: #888;}
:-ms-input-placeholder {color: #888;}
body {color: #909090; background: #000;}
a {color: #fff;
	-moz-transition: 0.2s all ease;
	-o-transition: 0.2s all ease;
	-webkit-transition: 0.2s all ease;
	transition: 0.2s all ease;
}
a:hover {color: #e50004;}
/* header */
div.header {height: 137px;}
div.logo {top: 5px;}
ul.topmenu {left: auto; right: 125px;}
/* search field */
div.search {background: #353131; border-color: #494444; border-radius: 3px; top: 50px;}
div.search input.sf {color: #fff;}
div.search button.sb:after {color: #e50004;}
.autocomplete-suggestions {border-color: #494444; background:#353131;}
.autocomplete-suggestion {color: #fff;}
.autocomplete-selected {background: #464141; color: #fff;}
.autocomplete-suggestions strong {color: #e50004;}
/* lang selector */
#lngselect {background:url("http://static.webclicks24.com/images/select-arrow-w.png") no-repeat 100% 50%;}
#lngselect strong {color: #fff;}
#lngselect.down:after {border-bottom-color: #494444;}
#lngselect ul {background-color: #353131; border-color: #494444; border-radius: 3px;}
/* headers */
h1,h2,div.h {color: #fff; border-bottom: 1px solid #282828;}
h1,h2 {font-size: 24px; font-weight: 400;}
div.h h1, div.h h2 {border: none; background: none; box-shadow: none;}
div.tbookshare {right: -5px;}
/* buttons */
div.sort a, div.durgrp a, div.timerange a, div.pages a {background:#262020; border: 1px solid #352d2d;}
div.sort a:hover, div.durgrp a:hover, div.timerange a:hover, div.pages a:hover {background:#362d2d; border: 1px solid #483c3c;}
div.sort a.current, div.durgrp a.current, div.timerange a.current, div.pages a.current {background:#e50005; color:#fff; border: 1px solid #a30306;}
/* content and thumb categories */
ul.content li, ul.tcats li, ul.relatedthumbs li {border-color: #262020; background: #171515;}
ul.tcats li h3 {text-transform: capitalize; font-weight: bold;}
ul.content li span.src a {color: #909090;}
ul.content li span.src a:hover {color: #e50004;}
ul.content li span.tl {border-top: 1px solid #271e1c;}
ul.content li span.tl span {color: #808080;}
ul.content li span.tl a {color: #fff;}
ul.content li span.tl a:hover {color:#e50005;}
ul.content li span.tl a.c {}
/* icons */
ul.content li h3:after, ul.content li span.add:after, ul.content li span.src:after, ul.content li span.tl:after, div.related a:after, ul.relatedthumbs li h3:after {color: #8d0205;}
div.az ul li:after, div.related a:after {color: #8d0205;}
/* text categories */
div.az ul li.letter {background: #1a1717; color: #fff; border-radius: 2px;}
/* back to top button */
#back_to_top a#back-to-top {background: #252525;}
/* banners */
.ads3b {border-color: #262020; background: #171515;}


@media all and (max-width: 1000px) {
	h1,h2 {font-size: 20px;}
	ul.content li, ul.tcats li, ul.relatedthumbs li, ul.content li:hover, ul.tcats li:hover, ul.relatedthumbs li:hover {border-color: #000; box-shadow: inset 0 0 1px #6a5858;}
}
@media all and (max-width: 767px) {
	div.header {height: 100px; background: none;}
	div.search {top:auto;}
	div.logo {top: 5px;}
	ul.content li a.report {color: #707070;}
}
@media all and (max-width: 479px) {
	h1,h2 {font-size: 16px;}
}

