@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 400;
  src: local('Cuprum'), local('Cuprum-Regular'), url(http://fonts.gstatic.com/s/cuprum/v7/GkRQHvchMkUIVL72Zh3gyw.ttf) format('truetype');
}
@font-face {
  font-family: 'Cuprum';
  font-style: italic;
  font-weight: 400;
  src: local('Cuprum Italic'), local('Cuprum-Italic'), url(http://fonts.gstatic.com/s/cuprum/v7/_SKlRkbAGT1t71Y81A1MJ_esZW2xOQ-xsNqO47m55DA.ttf) format('truetype');
}
