/* default
@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');
@import url('http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css');
*/

@import url('/_tpl/default/_css/fonts.css?1546618575');


body {background:#fff;/*font-family:dotum,AppleGothic,sans-serif;*/ font-size:12px;color:#333;font-family:'맑은 고딕' !important;}
body,form,div,p,h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,ol,li,fieldset,select,textarea,button,iframe {margin:0; padding:0;border:0;font-family:'맑은 고딕';}
ol,ul,dl {list-style:none;overflow:hidden}
img {border:0;vertical-align:top;-ms-interpolation-mode:bilinear}
input {vertical-align:middle}
hr {clear:both}



/* link */
a:link {color:#333;text-decoration:none}
a:visited {color:#333;text-decoration:none}
a:active {color:#333;text-decoration:none}
a:hover {color:#333;text-decoration:underline}

/* font 설정 */
.ff-nanum { font-family:'맑은 고딕';}
.ff-nanum-bold {/* font-family:"Nanum Gothic Bold";*/font-family:'맑은 고딕'; font-weight:bold; }
.ff-nanum-extra-bold { /*font-family:"Nanum Gothic Extra Bold"; */font-family:'맑은 고딕';font-weight:bold; }




/* 기본속성들 */
.textcenter {
	text-align:center !important;
}


.cb {clear:both}
.cp {cursor:pointer}
.fl  {float:left}
.fr  {float:right}
.tal {text-align:left}
.tar {text-align:right}
.tac {text-align:center}
.taf {text-align:justify}
.fwb {font-weight:bold}
.fwn {font-weight:normal}
.ofh {overflow:hidden}
.dpn {display:none}
.dpb {display:block}
.abs {position:absolute}
.rlt {position:relative}

a.tit25 {font-size:25px;color:#282828;font-weight:bold;letter-spacing:-1px;font-family:"맑은 고딕", dotum}
 .tit25 {font-size:25px;color:#282828;font-weight:bold;letter-spacing:-1px;font-family:"맑은 고딕",dotum}
a.tit18 {font-size:18px;color:#000;font-weight:bold; letter-spacing:-1px;font-family:"맑은 고딕",dotum}
 .tit15 {font-size:15px;color:#2b2b2b;font-weight:bold; letter-spacing:-1px;font-family:"맑은 고딕",dotum}
a.tit14 {font-size:14px;color:#2b2b2b;font-weight:bold; letter-spacing:-1px;font-family:"맑은 고딕",dotum}
 .re {height:18px;padding-left:15px;background:url(/_tpl/default/images/common/re.gif) left center no-repeat}
a.c777 {color:#777}
a.id_cor {color:#050055  }
a.id_cor2 {color:#088606}
 .id_cor {color:#050055  }
a.bbb {color:#000}
 .bbb {color:#000}
a.a6 {color:#a6a6a6}
 .a6 {color:#a6a6a6}
a.tw_cor {color:#26b0f6}
a.fb_cor {color:#3151ac}
a.fff {color:#fff}
.fff {color:#fff}
a.mlist {color:#535353}
.red_cor {color:#f00000}
a.red_cor {color:#f00000}
a.fn_cor {color:#3f3f3f}
.fn_cor {color:#3f3f3f}
a.sub_fn_cor {color:#898989}
.sub_fn_cor {color:#898989}
a.view_fn_cor {color:#767676}
.view_fn_cor {color:#767676}

.sep {color:#cecece}

.fb_cor {color:#3151ac}
.tw_cor {color:#26b0f6}
.tw_dt {color:#767676}
.id_cor {color:#050055 }
.num_cor {color:#5d5d5d}
.t_cor {color:#020451;}
.fb_cor {color:#335f9c;}
.v_cor {color:#008be3;}
.n_v_cor {color:#066fa9}
.bg_cor {background-color:#f5f5f5}

.line_01 {width:100%;border-bottom:1px solid #e1e1e1;}
.line_02 {width:100%;border-bottom:1px #838383 solid;}
.line_l_y {height:auto; background:url(/_tpl/default/_images/_common/bg_y.gif)  left repeat-y}
.line_x {width:100%;height:7px;background:url(/_tpl/default/_images/_common/bg_x.gif) center repeat-x}
.ar_cor a{color:#333}
.ar_subtit {color:#333}


.f00 {font-size:1px;line-height:1px}
.f10 {font-size:10px}
.f11 {font-size:11px}
.f12 {font-size:12px}
.f13 {font-size:13px}
.f14 {font-size:14px}
.f15 {font-size:15px}
.f16 {font-size:16px}
.f17 {font-size:17px}
.f18 {font-size:18px}
.f19 {font-size:19px}
.f20 {font-size:20px}


.w100 {width:100%}
.h05 {height:5px}
.h10 {height:10px}
.h13 {height:13px}
.h20 {height:20px}
.h30 {height:30px}
.h34 {height:34px}
.h35 {height:35px}
.h40 {height:40px}
.h50 {height:50px}

.ls01 {letter-spacing:-1px}
.ovt {overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;white-space:nowrap}
.ovt2 {overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis; -webkit-line-clamp:2;  -webkit-box-orient: vertical; display: -webkit-box; line-height: 1.2em;}

.lh12 {line-height:12px}
.lh14 {line-height:14px}
.lh16 {line-height:16px}
.lh18 {line-height:18px}
.lh25 {line-height:25px}

.gap01 {padding:0 3px;color:#c6c5c2;font-weight:normal}
.aline {height:30px;background:url(/_tpl/default/images/common/dot2.gif) center repeat-x}
.date {color:#2e2e2e}

.pt01 {padding-top:1px}
.pt02 {padding-top:2px}
.pt03 {padding-top:3px}
.pt04 {padding-top:4px}
.pt05 {padding-top:5px}
.pt06 {padding-top:6px}
.pt07 {padding-top:7px}
.pt08 {padding-top:8px}
.pt09 {padding-top:9px}
.pt10 {padding-top:10px}
.pt11 {padding-top:11px}
.pt12 {padding-top:12px}
.pt13 {padding-top:13px}
.pt14 {padding-top:14px}
.pt15 {padding-top:15px}
.pt16 {padding-top:16px}
.pt18 {padding-top:18px}
.pt20 {padding-top:20px}
.pt25 {padding-top:25px}
.pt30 {padding-top:30px}
.pt45 {padding-top:45px}
.pb05 {padding-bottom:5px}
.pb07 {padding-bottom:7px}
.pb10 {padding-bottom:10px}
.pb13 {padding-bottom:13px}
.pb14 {padding-bottom:14px}
.pb20 {padding-bottom:20px}
.pb30 {padding-bottom:30px}
.pl01 {padding-left:1px}
.pl02 {padding-left:2px}
.pl03 {padding-left:3px}
.pl04 {padding-left:4px}
.pl05 {padding-left:5px}
.pl06 {padding-left:6px}
.pl07 {padding-left:7px}
.pl08 {padding-left:8px}
.pl09 {padding-left:9px}
.pl10 {padding-left:10px}
.pl12 {padding-left:12px}
.pl13 {padding-left:13px}
.pl14 {padding-left:14px}
.pl17 {padding-left:17px}
.pl23 {padding-left:23px}
.pl25 {padding-left:25px}
.pr01 {padding-right:1px}
.pr02 {padding-right:2px}
.pr03 {padding-right:3px}
.pr04 {padding-right:4px}
.pr05 {padding-right:5px}
.pr06 {padding-right:6px}
.pr07 {padding-right:7px}
.pr08 {padding-right:8px}
.pr09 {padding-right:9px}
.pr10 {padding-right:10px}
.ps01 {padding:0 1px}

.mt01 {margin-top:1px}
.mt02 {margin-top:2px}
.mt03 {margin-top:3px}
.mt05 {margin-top:5px}
.mt08 {margin-top:8px}
.mt10 {margin-top:10px}
.mt13 {margin-top:13px}
.mt15 {margin-top:15px}
.mt20 {margin-top:20px}
.mt25 {margin-top:25px}
.mt30 {margin-top:30px}

.mb01 {margin-bottom:1px}
.mb02 {margin-bottom:2px}
.mb03 {margin-bottom:3px}
.mb05 {margin-bottom:5px}
.mb08 {margin-bottom:8px}
.mb10 {margin-bottom:10px}
.mb13 {margin-bottom:13px}
.mb15 {margin-bottom:15px}
.mb20 {margin-bottom:20px}
.mb25 {margin-bottom:25px}
.mb30 {margin-bottom:30px}

.ml03 {margin-left:03px}
.ml05 {margin-left:05px}
.ml10 {margin-left:10px}
.ml15 {margin-left:15px}
.ml30 {margin-left:30px}
.ml50 {margin-left:50px}
.mr02 {margin-right:02px}
.mr03 {margin-right:03px}
.mr05 {margin-right:05px}
.mr10 {margin-right:10px}
.mr20 {margin-right:20px}
.mr25 {margin-right:25px}
.mr30 {margin-right:30px}
.mr35 {margin-right:35px}
.square {margin:0 3px 3px 3px;width:12px;height:12px;background-color:#010252}

/* 되도록 쓰지 마세요  */
.line_d6 { display:block; background: url(/images/common/line_d6.gif) center left repeat-x;}
.line_65 { display:block; background: url(/images/common/line_65.gif) center left repeat-x;} /*2px 어두운 밤색계열 라인 */
.line_88 { display:block; background: url(/images/common/line_88.gif) center left repeat-x;} /*2px 약간 어두운 회색계열 라인 */
.line_type1 { display:block; background: url(/images/common/line_type1.gif) center left repeat-x;} /*1px 2px 밝은 회색계열 라인 */
.line_type2 { display:block; background: url(/images/common/line_type2.gif) center left repeat-x;} /*1px 1px 상단회색 하단흰색 라인 */
.line_type3 { display:block; background: url(/images/common/line_type3.gif) center left repeat-x;} /*1px 1px 상단회색 하단흰색 라인 */
/* 되도록 쓰지 마세요 도트 라인입니다  */
.dot_line { display:block; background: url(/images/common/line_dot.gif) center left repeat-x;}
.dot_line2 { display:block; background: url(/images/common/line_dot2.gif) center left repeat-x;}
.line_green { display:block; background: url(/images/common/line_green.gif) top left repeat-x;}
.line_green2 { display:block; background: url(/images/common/line_green2.gif) center left repeat-x;}

.updated_numnews {float:left;background:url(/images/common/ann_news.gif) left center no-repeat;  width:44px; height:37px; margin-right:10px;}
.updated_all {float:left; background:url(/images/common/2010_ann_bg_b.gif) left center no-repeat; width:44px; height:37px; margin-right:10px;}

.img_box {border:1px #bbb solid}
.level_icon {vertical-align:-5px; margin-right:2px}
.twit {color:#67b0d5}

/* subtitle style */
.t_all {color:#020451;float:left;font-weight:bold;margin-left:5px;}
.tt_all {color:#020451;font-weight:bold;margin-left:5px}

/* 광고 : 투명 레이어 */
.blayer {position:absolute; top:0; left:0; filter:alpha(opacity=0); opacity:0}

/*노란팝업*/
.wpopup{background-color:#ffffe1; border:1px solid #000; padding:8px; z-index:10;}


/*버튼*/
.rbt3{border-radius:3px;}

.hiddenImg {width:0; height:0; border:0; opacity:0; display:none;}



/*아이디 비밀번호 찾기*/
.id-pw-find {
	text-align:center;
	clear:both;
	font-size:14px;
}
.id-pw-find a {
	color:#050055 ;
	font-size:14px;
}



.btn {
	border-radius:4px;
	padding:5px 12px 6px;
	display:inline-block;
	font-size:12px;
	box-sizing: border-box;
}

.btn-theme {
	border:1px solid #ddd;
	background:#fff;
	color:#757575;
	border-radius:4px;
	padding:5px 12px 6px;
	display:inline-block;
}
.btn-theme:hover {
	text-decoration:none;
}

.btn-theme2 {
	border:1px solid #ddd;
	background:#fff;
	color:red;
	border-radius:4px;
	padding:5px 12px 6px;
	display:inline-block;
}

.btn-theme3 {
	border:1px solid #050055  ;
	background:#050055  ;
	color:#fff !important;
	border-radius:4px;
	padding:5px 12px 6px;
	display:inline-block;
}

.btn-theme4 {
	border:1px solid #ddd;
	background:#ddd;
	color:#333;
}
.btn-theme5 {
  border:1px solid #050055 ;
  background:#050055 ;
  color:#fff  !important;
}

.btn-theme:hover {
	text-decoration:none;
}

.form-control {
	border-radius:4px;
	background:#fff;
	color:#333;
	min-width:100px;
	height:28px;
	box-sizing: border-box;
	border:1px solid #ddd;
	padding:0 3px;
      background-color:#fff;
}
input.form-control:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: #fff !important;
    background-image: none;
    color: #333
}
.form-control.full-size {
	width:100%;
}
.form-control.small-size {
  width:80px;
}

a.btn:hover,.btn a:hover {
	text-decoration: none !important;
}


/*월간 페이스북 데이터 리포트*/
.right-card {
	margin-top:15px;
	background:#f5f5f5;
	border-top:2px solid #050055 ;
	padding-bottom:15px;
}
.biz_story_title{
	font-size:16px;
	font-weight:bold;
	text-align: left;
	padding:10px;
	border-bottom:2px solid #050055 ;
	color:#050055;
}
.biz_story_title a {
	color:#050055;
}
.biz_story_title a:hover {
	text-decoration: none

}
.monthly-date .title{
	font-size:16px;
	font-weight:bold;
	text-align: center;
	padding:10px;
	border-bottom:2px solid #050055 ;
	color:#050055;
}

.monthly-date .title small {
	display:block;
	font-size:12px;
	text-align:right;
	font-weight:normal;
	margin-top:5px;
}

.right-card .list-block {
	padding:10px 7px 5px;
	margin-bottom:5px;
}

.right-card .list-block li {
    padding-top:5px;
  list-style-type: none;
  position:relative;
  padding-left:8px;
}

.right-card .list-block li:after {
    border-radius: 100%;
    position:absolute;
    width:3px;
    height:3px;
    background:#050055;
    content:"";
    left:0;
    top:12px;
}


.right-card .list-block li a {
	display:inline-block;
	width:98%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	word-wrap:normal
}

.right-card .list-block li a b{
	display:inline-block;
	padding-right:5px;
}

.right-card small {
	padding-right:10px;
	display:block;
	text-align: right
}

/*//월간 페이스북 데이터 리포트*/


/*네이티브 광고 베스트*/

.over-block-list .item {}

.over-block-list .item {
	width:240px;
	height:135px;
	display:block;
	position:relative;
	margin-bottom:15px;
}
.over-block-list .item img {
	width:240px;
	height:135px;
}
.over-block-list.main .item {
    height: 100px;
    display: block;
    width: 173px;
    margin-bottom: 15px;
}

.over-block-list.main .item img {
	width:173px;
	height:100px;
}
.over-block-list .title {
	font-size:12px;
	color:#020451;
	font-weight:bold;
	margin:15px 0;
	padding-bottom:3px;
	border-bottom:1px solid #838383;
	padding-left:5px;

}

.opacity-bg {
	background:rgba(0,0,0,0.7);
	color:#fff;
	padding:10px 5px 12px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	position:absolute;
	left:0;
	bottom:0;
	display:inline-block;
	width:230px;
}


.over-block-list.main .opacity-bg {
	background:rgba(0,0,0,0.7);
	color:#fff;
	padding:10px 5px 12px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	position:absolute;
	left:0;
	bottom:0;
	display:none;
	width:163px;
}

.over-block-list.main .item:hover .opacity-bg,.over-block-list.main .item:active .opacity-bg {
	display:inline-block;
}

.native-banner {
	margin-top:15px;
	display:block;
}
/*//네이티브 광고 베스트*/

.opm-content {
	width:680px;
	margin-left:10px;
}
.opm-content .tab_opm ul {
	width:680px;
	border-bottom:1px solid #ddd;
}
.tab_opm ul:after {
	clear:both;
	display:block;
	content:"";
}
.tab_opm li {
	text-align:center;
	cursor:pointer;
	float:left;
	height:21px;
	padding:5px 0 4px;
	border-radius:4px 4px 0 0;
}
.tab_opm li {
	background:#ffffff;
	width:120px;
	overflow:hidden;
	border-top:1px solid #ddd;
	border-left:1px solid #ddd;
	border-right:1px solid #ddd
}
.tab_opm .tab_opm01_on,.tab_opm .tab_opm02_on {
	background:#050055;
	border-color:#050055;
	width:120px;
	height:22px;
	color:#fff
}
.opm-content .opm-block {
	width:100%
}
.opm-content .opm-block > .content{
	width:100%
}


.opm-list-block:after {
	clear:both;
	display:block;
	content:"";
}
.opm-list-block .img {
	width: 100px;
    max-height: 100px;
    margin: 0px;
    float:left;

}
.opm-list-block .img img {
    width: 80px;
    height:80px;
    border-radius: 4px;
    border:1px solid #ddd;
}
.opm-content .bg_block {
	padding:10px;
	border-radius: 4px;
	background:#f5f5f5;
	color:#333;
	margin-top:30px;
	margin-bottom:20px;
}
.opm-content .bg_block .tweet_list_tit {
	margin-bottom:10px;
}
.opm-content .bg_block .opm_cate_btn_box {
	margin-bottom:10px;
}
.opm_search_layer {
	border-top: 1px solid #ddd;
    padding-top: 10px;
}
.opm_search_layer form {
	display:block;
}
.opm_search_layer form:after {
	clear:both;
	display:block;
	content:"";
}
.opm_search_box {
	width:50%;
	float:left;
}
.opm_search_box:after {
	clear:both;
	display:block;
	content:"";
}
.opm_search_layer .form-control,.opm_search_layer .btn-theme {
	float:left;
	margin-right:3px;
}
.opm_sort_box {
	float:right;
	width:30%;
	text-align:right;
	padding-top:5px;
}

.btn-theme {
	border:1px solid #ddd;
	background:#fff;
	color:#757575;
	border-radius:4px;
	padding:5px 12px 6px;
	display:inline-block;
}
.btn-theme:hover {
	text-decoration:none;
}

.form-control {
	border-radius:4px;
	background:#fff;
	color:#333;
	min-width:100px;
	height:28px;
	box-sizing: border-box;
	border:1px solid #ddd;
}

.opm-list-block {
	padding:15px 0;
	border-bottom:1px solid #ddd;
	font-size:14px;
	position:relative;
}
.opm-list-block .title {

	padding-bottom:10px;
	color:#333;
}

.opm-list-block .ar_info {
	margin-bottom:5px;
}
.opm-list-block .ar_info a,.opm-list-block .ar_info span {
	color:#757575;
}
.opm-list-block .ar_info:last-child {
	margin-bottom:0;
}
.opm-list-block .small-block {
	font-size:12px;
	position:absolute;
	right:0;
	top:15px;
	color:#757575;
}
.clear:after {
	clear:both;
	display:block;
	content:"";
}
.ar_content img {
    max-width: 100%;
}

/*탭 CSS*/
.tab_container{
    width: 640px;

}
ul.tabs {
    list-style: none;
    height: 40px;
    border-left: 1px solid #ddd;
    width: 100%;
    font-family:"dotum";
    font-size:12px;
    border-radius:4px 0 0 0;
    margin-top:30px;
    box-sizing: border-box
}
ul.tabs:after {
    clear:both;
    display:block;
    content:"";
}
ul.tabs li {
    float: left;
    text-align:center;
    cursor: pointer;
    box-sizing: border-box;
    width:33.3%;
    height: 40px;
    line-height: 38px;
    border: 1px solid #ddd;
    border-left: none;
    font-size:18px;
    background: #fafafa;
    overflow: hidden;
    position: relative;
    border-radius:4px 4px 0 0;
    color:#bdbdbd  !important;
}
ul.tabs li.active,ul.tabs li.selected {
    background: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    color:#050055   !important;
}
.tab_content {
    border: 1px solid #ddd;
    border-top: none;
    clear: both;
    float: left;
    width:100%;
    box-sizing: border-box;
    background: #FFFFFF;
    padding:35px 15px;
}
.tab_block {
    padding: 5px;
    font-size: 12px;
    display: none;
}
.form-label-position {
  position:relative;
  padding-left:100px;
}
.form-label-position .label-block {
  position:absolute;
  left:0;
  top:4px;
  padding-right:10px;
  width:90px;
  text-align: right;
  font-weight:bold;
}

#u_loginid_msg  *{
  font-size:12px !important;
}

.sub-page-title {
    font-size: 28px;
    color: #333;
    padding-bottom: 10px;
    border-bottom: 1px solid #757575;
}
.search .sub-page-title {
    font-size: 24px;
}
 .brand-color {
    color:#050055  !important;
 }
  .brand-color2 {
    color:#050055 !important;
 }

 .search-btn-block {
    text-align: right;
    margin-top:10px;
 }
 .search-none {
    font-size:14px;
    line-height:1.5em;
    color:#757575;
}
 .search-none p:first-child {
    font-size:16px;
    margin-bottom:5px;
 }

.search p.title b,.search p.content b {
    color:#050055   !important
}

.keyword {
    border:1px solid #ddd;
    padding:8px 10px 10px;
    margin-top:5px;

}
.keyword .brand-bar {
    background:#050055 ;
    border-radius: 2px;
    color:#fff;
    padding:3px 10px 5px;
    line-height:100%;
}
.keyword .key:first-child {
        padding-left:10px;
}
.keyword .key {
    padding-left:5px;
}

#nwcu.notranslate br:last-child {
    display:none;
}

.partners-line {
    border-bottom:1px solid #ddd;
    padding:10px 0 ;
}
.partners-line:last-child {
    border:none;
}
.part-list {
    position:relative;
}
.part_t .ovt {
    width:90%;
    padding-left:3%;
    padding-right:3%;
    display:block;
    position:relative;
}
.part_t .fwb {
    font-size:13px;
}
.part_t .ovt:before {
    content:"";
    display:block;
    width:2px;
    height:2px;
    left:1px;
    border-radius: 100%;
    background:#050055 ;
    top:7px;
    position:absolute;
}
.part-list span.new {
    right:0px;
    top:2px;
    position:absolute;
    border:1px solid #ddd;
    color:#FA27F9 ;
    width:13px;
    height:13px;
    display:inline-block;
    border-radius:2px;
    text-align: center;
    line-height:12px;

}
.part-list span.new:before {
    content:"N";
    display:block;
    color:#FA27F9 ;
    font-size:11px;
    font-weight:bold;
}

/*캠페인 245 광고배너*/
#PrismDisplayBox {

}
#prism_displayAD {
}
#mainPlayer {
    position: relative;
}
#prismADP {
    height:100%;
}


#adTextArea .adtext {
height:30px;
padding:0 0 0 41px;
position:relative;
}
#adTextArea {
    width: 98%;
    height: auto;
    text-align: left;
     padding:5px 0px 5px 5px;
    background:#f7f7f7;
    margin-top:5px;
    min-height:30px;
}


#PrismDisplayBox #adTextArea:first-child {
    border-top:1px solid #838383 ;
    margin-bottom:0 !important;
    color:#050055 ;
    background:transparent;
}

#adlogoimg {
    display:block;
    width:30px;
    height:30px;
    position:absolute;
    left:0;
    top:0;
    border-radius:30px;
}
#adText0 {
    display:block;
    font-size:12px;
    color:#050055 ;
    line-height:28px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    font-weight:bold;
}
#adText1 {
    display:block;
    font-size:14px;
    color:#010101;
    line-height:18px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
#adText2 {
    display:block;
    font-size:12px;
    color:#555;
    line-height:16px;
    margin:3px 0 5px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

/*캠페인 245 광고배너*/
.table-style table,table.table-style {
    border-collapse: collapse;
    border:1px solid #ddd;
    border-bottom:none;
}



.table-style table th,table.table-style th,.table-style table td,table.table-style td {
    padding:5px;


}

.table-style table td,table.table-style td {

}

.table-style table th,table.table-style th {

}


.right_box table.table-style.notice td.content {
    width:700px !important;
}
.right_box table.table-style.notice td.content  .content_img_txt {
    text-align: center;
}
.right_box table.table-style.notice td.content .content_img_txt img {
    margin-right: 0;
}
.right_box table.table-style.notice td.content table ,.right_box table.table-style.notice td.content div {
    width:680px !important;
    margin:0;
}


.right_box .table-style.notice  th {
    text-align: center;
    border-bottom-width: 1px;

}
.right_box .table-style.notice th, .right_box .table-style.notice td {
    padding: 8px 10px;
    border-bottom: 1px solid #ddd;
}

.right_box .table-style.notice td ,.right_box .table-style.notice tr th{
    color:#333;
    background-color:#fff !important;
}

.right_box .table-style.notice td:hover , .right_box .table-style.notice tr:hover th{
    background-color:#fff !important;
    color:#333;
}
.right_box .table-style.notice tr:first-child td,.right_box .table-style.notice tr:first-child th{
    color:#333;
    background-color:#f7f7f7 !important;
}
.right_box .table-style.notice tr:first-child td:hover,.right_box .table-style.notice tr:first-child th:hover{
    color:#333;
    background-color:#f7f7f7 !important;
}
.right_box .table-style.notice td.content table tr:first-child td {
background: rgb(255, 240, 254) !important
}

.right_box .table-style.notice.list td.title a {
    display:inline-block;
    position:relative;
    width:auto !important;
    font-size:14px;
    color:#333;
}
.right_box .table-style.notice.list th {
    background: #f7f7f7 !important
}
.right_box .table-style.notice.list td div a img{
   position:absolute;
   right:-10px;
   top:5px;
}

.right_box .table-style.notice td div a {
    color:#333;
}
.right_box .table-style.notice td div a:hover{
    color:#333;
}
.right_box .table-style.notice td div.hand {
    cursor: pointer
}
.right_box .table-style.notice td div:last-child {
    margin-top:5px;
}

.btn-block.notice {
    text-align: right;
    margin-top:10px;
    margin-bottom:50px;
}

.right_box .table-style.notice td.prev-next-block,.right_box .table-style.notice td.prev-next-block:hover {
    background:#f7f7f7 !important;
}


.pagemove_btn2.notice-list{
    width:338px;
    margin:0 auto
}
.pagemove_btn2 form .form-select-box{
    position:relative;
    display:inline-block;
    float:left;
    margin-right:3px;
}


.pagemove_btn2 form .form-select-box:after{
    position:absolute;
    content:"\f0d7";
    font-family:"Fontawesome";
    right:10px;
    top:7px;
}

.pagemove_btn2 form:after {
    clear:both;
    display:block;
    content:"";

}

.pagemove_btn2 form input.form-control,.pagemove_btn2 form .btn {
    float:left;
    margin-right:3px;
}
