@font-face {font-family:'Avenir-Black'; src: url('../fonts/Avenir-Black_gdi.eot'); src: url('../fonts/Avenir-Black_gdi.eot?#iefix') format('embedded-opentype'), url('../fonts/Avenir-Black_gdi.woff') format('woff'), url('../fonts/Avenir-Black_gdi.ttf') format('truetype'), url('../fonts/Avenir-Black_gdi.svg#Avenir-Black') format('svg'); font-weight: 800; font-style: normal; font-stretch: normal; unicode-range: U+000D-E308; }
@font-face {font-family:'Avenir-Book'; src: url('../fonts/Avenir-Book_gdi.eot'); src: url('../fonts/Avenir-Book_gdi.eot?#iefix') format('embedded-opentype'), url('../fonts/Avenir-Book_gdi.woff') format('woff'), url('../fonts/Avenir-Book_gdi.ttf') format('truetype'), url('../fonts/Avenir-Book_gdi.svg#Avenir-Book') format('svg'); font-weight: 400; font-style: normal; font-stretch: normal; unicode-range: U+0020-25CA; }
@font-face {font-family:'Avenir-Heavy'; src: url('../fonts/Avenir-Heavy_gdi.eot'); src: url('../fonts/Avenir-Heavy_gdi.eot?#iefix') format('embedded-opentype'), url('../fonts/Avenir-Heavy_gdi.woff') format('woff'), url('../fonts/Avenir-Heavy_gdi.ttf') format('truetype'), url('../fonts/Avenir-Heavy_gdi.svg#Avenir-Heavy') format('svg'); font-weight: 900; font-style: normal; font-stretch: normal; unicode-range: U+000D-E305; }
@font-face {font-family:'Avenir-Light';
src: url('../fonts/Avenir-Light_gdi.eot');
src: url('../fonts/Avenir-Light_gdi.eot?#iefix') format('embedded-opentype'),
url('../fonts/Avenir-Light_gdi.woff') format('woff'), url('../fonts/Avenir-Light_gdi.ttf') format('truetype'), url('../fonts/Avenir-Light_gdi.svg#Avenir-Light') format('svg'); font-weight: 300; font-style: normal; font-stretch: normal; unicode-range: U+000D-E308; }
@font-face {font-family:'Avenir-Medium'; src: url('../fonts/Avenir-Medium_gdi.eot'); src: url('../fonts/Avenir-Medium_gdi.eot?#iefix') format('embedded-opentype'), url('../fonts/Avenir-Medium_gdi.woff') format('woff'), url('../fonts/Avenir-Medium_gdi.ttf') format('truetype'), url('../fonts/Avenir-Medium_gdi.svg#Avenir-Medium') format('svg'); font-weight: 500; font-style: normal; font-stretch: normal; unicode-range: U+0020-25CA; }


html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {    margin: 0;    padding: 0;    border: 0;    font-size: 100%;    font: inherit;    vertical-align: baseline;}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}

html {-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}

body {line-height: 1;font-family:'Avenir-Book',sans-serif;background-color: #666; }

a, a:active, a:visited { text-decoration: none; }
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;}
b,strong {font-weight: bold;}
hr {display: block;height: 1px;border: 0;border-top: 1px solid #ccc;margin: 1em 0;}
sub,sup {font-size: 75%;line-height: 0;position: relative;vertical-align: baseline;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}

html input[type="button"],input[type="reset"],input[type="submit"] {-webkit-appearance: button;cursor: pointer;}

.sisc-multisport-widget{
	border: 1px solid #AAAAAA;
}
/* Helper classes*/
.loader {
  bottom: 0;
  display: none;
  height: 50px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  z-index: 999;
}
.hidden {display: none !important;visibility: hidden;}
.invisible {visibility: hidden;}

.clearfix:before,.clearfix:after {content: " ";display: table;}
.clearfix:after {clear: both;}
.clearfix {*zoom: 1;}

.si-table {clear: both;display: table;}
.si-table-tr{display: table-row;}
.si-table-th{display: table-cell;}
.si-table-td{display: table-cell;}
.si-modal{overflow:hidden;}

.sisc-football .si-team-name span.si-fullname{display: inline-block;}
.sisc-football .si-team-name span.si-shortname{display: none;}

.sisc-content-wrap {display: table-cell;vertical-align: middle;}

.sisc-multisport-wrap{max-width: 1140px;margin: 0 auto;}

/*** Multi sport widget ***/
.sisc-multisport-wrap .si-lft{float: left;}
.sisc-multisport-wrap .si-rgt{float: right;}

.sisc-multisport-wrap {background-color: rgba(23, 21, 21, 0.8);position: relative;}

	/*_ Side score txt _*/
	.sisc-ms-scores {background-color: #171515;color: #fff;font-family: "Avenir-Medium",sans-serif;font-size: 30px;height: 55px;line-height: 55px;text-align: center;  text-transform: uppercase;}
	.sisc-ms-scores {left: -100px;position: absolute;top: 100px;width: 256px;-webkit-transform: rotate(-90deg);-moz-transform: rotate(-90deg);-ms-transform: rotate(-90deg);-o-transform: rotate(-90deg);transform: rotate(-90deg);}

	/*_ Multisport content _*/
	.sisc-ms-container {position: relative;margin-left: 55px;}

		/*_ Sports list _*/
		.sisc-ms-header {border-bottom: 1px solid #1f445a;height: 49px;position: relative;overflow: hidden;}
		.sisc-ms-header .si-rgt {padding-right: 12px;}
		.sisc-ms-header:before,.sisc-ms-header:after{clear: both;content: "";display: table;}
		.sisc-ms-serieslist li {color: #fff;font-family: "Avenir-Medium",sans-serif;font-size:15px;text-transform: uppercase;padding: 0 14px;display: table;float: left;height:50px;position: relative;cursor:pointer; white-space:nowrap; }
		.sisc-ms-serieslist li:first-child { padding-left:0px;  }
		.sisc-ms-serieslist li span{display: table-cell;vertical-align: middle;}
		.sisc-ms-serieslist li strong{font-family: "Avenir-Black",sans-serif;}
		.sisc-ms-serieslist li.active{color:#1f445a;}

		/*_ Select sports _*/
		.sisc-swtichsport {margin-top: 10px;}
		.sisc-ms-selectsport.si-selectbox {border: 1px solid #bbb8b8;color: #fff;font-family: "Avenir-Light",sans-serif;font-size: 14px;height: 30px; text-transform: none;width: 206px; position: relative;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;-o-box-sizing: border-box;-ms-box-sizing: border-box;box-sizing: border-box;display: inline-block;vertical-align: middle;background-image: url('../images/down-arrow-v1.png');background-repeat: no-repeat;background-position: 97% center;}
		.si-selectbox .select-out {display: block;line-height: 27px;padding: 0 20px 0 10px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
		.si-selectbox select{position: absolute;width: 100%;height: 100%;top: 0;left: 0;z-index: 1;cursor:pointer;opacity: 0;}

		.sisc-swtichsport > span {font-size: 14px; color: #7da63c; font-family: "Avenir-Medium",sans-serif; display: inline-block; vertical-align: middle; margin-right: 10px; }
		
		/*_ Header _*/
		.sisc-ms-header .nav-left,.sisc-ms-header .nav-right {display:block;height: 35px;position: absolute;width: 25px;background-color:transparent; top: 50%; margin-top: -18px;background-position: center;cursor: pointer;background-repeat: no-repeat;}
		.sisc-ms-header .nav-left{background-image: url('../images/nav-left-v1.png');left: 0;}
		.sisc-ms-header .nav-right{background-image: url('../images/nav-right-v1.png');right: 0;}
		.sisc-ms-header .si-lft {position: relative;width: 65%;}

		.sisc-ms-header .sisc-ms-serieslist {margin: 0 25px; overflow:hidden;  }
		.sisc-ms-header .sisc-ms-serieslist:before,.sisc-ms-header .sisc-ms-serieslist:after{clear: both;content: "";display: table;}

		/*_ Sports Box _*/
		.sisc-ms-sportsbox .si-slider {position: relative; height: 208px; }
		.sisc-ms-sportsbox .si-slider-wrap {position: relative;overflow: hidden;margin: 0 50px;}
		.sisc-ms-sportsbox .si-slider-wrap:before,.sisc-ms-sportsbox .si-slider-wrap:after{clear: both;content: "";display: table;}
		.sisc-ms-sportsbox .si-slide-item {float: left; position: relative;height: 208px;width: 328px;}
		.sisc-ms-sportsbox .si-slide-item .si-content-box{display: table; width:100%; height:100%; padding: 0 30px;position: relative; -webkit-box-sizing: border-box;-moz-box-sizing: border-box;-o-box-sizing: border-box;-ms-box-sizing: border-box;box-sizing: border-box; }
		.sisc-ms-sportsbox .si-slide-item .si-content-box .content-team-box { display:table-cell; vertical-align:middle;  }
		.sisc-ms-sportsbox .si-slide-item:before{width: 1px;height: 88px;background-color: #d1d1d1;position: absolute;left:0px;top: 50%;margin-top: -44px;content: "";}
		.sisc-ms-sportsbox .si-slide-item:after{width: 1px;height: 88px;background-color: #d1d1d1;position: absolute;right:0px;top: 50%;margin-top: -44px;content: "";}
		.sisc-ms-sportsbox .si-teambox:before,.sisc-ms-sportsbox .si-teambox:after{clear: both;content: "";display: table;}
		.sisc-ms-sportsbox .si-teambox{position: relative;}
		.sisc-ms-sportsbox .si-slider .nav-left,.sisc-ms-sportsbox .si-slider .nav-right {display: block;height: 35px;position: absolute;width: 25px;/*background-color: #f62134;*/ top: 50%; margin-top: -17px;background-position: center;cursor: pointer;background-repeat: no-repeat;}
		.sisc-ms-sportsbox .si-slider .nav-left.disabled,.sisc-ms-sportsbox .si-slider .nav-right.disabled{background-color:#444444 !important;cursor: default !important;}
		.sisc-ms-sportsbox .si-slider .nav-left{background-image: url('../images/nav-left-v1.png');left: 0;}
		.sisc-ms-sportsbox .si-slider .nav-right{background-image: url('../images/nav-right-v1.png');right: 0;}


			/*_ F1 Team box _*/
			.si-teambox{font-size: 0;position: relative;}
			.si-team-image {margin-right: 10px;}
			.si-team-image,.si-team-content {display: inline-block;vertical-align: middle;}
			.si-team-content{max-width: 170px;}
			.si-team-image img {height: auto;max-height: 48px;max-width: 68px;width: auto;}
			.si-team-name {font-size: 18px;color: #fdfdfd;font-family: "Avenir-Medium",sans-serif;text-transform: uppercase;line-height: 20px;}
			.si-matchschedule {font-size: 12px;color: #fdfdfd;font-family: "Avenir-Medium",sans-serif;margin-top: 6px;}
			
			.si-matchresult {color: #fdfdfd;font-family: "Avenir-Medium",sans-serif;margin-top: 15px;text-transform: uppercase;}			
			.si-matchresult span{display:block;}
			.si-matchresult span.txt1{font-size: 12px;}
			.si-matchresult span.txt2{font-size: 18px;margin-top: 5px;}

			.si-matchstatus {color: #fdfdfd;font-family: "Avenir-Medium",sans-serif;margin-top: 15px;text-transform: uppercase;}			
			.si-matchstatus span{display:block;}
			.si-matchstatus span.txt1{font-size: 12px;}
			.si-matchstatus span.txt2{font-size: 18px;margin-top: 5px;color: #7da63c;}
			.si-matchstatus span.txt2.error{color: #cc0d01;}

			.si-teambox-action .btn {background-color: #fff; border-radius: 0; display: inline-block; height: 26px; padding: 0 15px; font-size:14px;  font-family: "Avenir-Medium",sans-serif; text-transform: uppercase; line-height: 26px;-webkit-transition: all 0.2s;-moz-transition: all 0.2s;-ms-transition: all 0.2s;-o-transition: all 0.2s;transition: all 0.2s;color: #000;}
			.si-teambox-action .btn:hover{background-color: #F62134;color: #fff;}
			.si-teambox-action{display: block;position: absolute;width: 100%; height:auto;  bottom: 2px;left: 0; right:0;  text-align: center;}

			.si-matchcountdown {color: #fdfdfd;  text-align: left;margin-top: 15px;}
			.si-matchcountdown .si-countdown-txt {color: #fdfdfd; font-size: 12px; text-align: left; text-transform: uppercase; }
			.si-matchcountdown .si-countDate span {color: #fdfdfd; font-family: "Avenir-Medium",sans-serif; }
			.si-matchcountdown .si-countDate span.si-datetxt {font-size: 12px;font-family: "Avenir-Medium",sans-serif;}
			.si-matchcountdown .si-countDate span.si-dateno {font-size: 16px;margin-top: 5px;font-family: "Avenir-Medium",sans-serif;color: #fdfdfd;}
			.sisc-formula1-container .sisc-ms-sportsbox .si-slide-item:after {display:none;}
			.sisc-formula1-container .sisc-ms-sportsbox .si-slide-item:before {background-color:#fa0007;}
			
			.sisc-formula1-container .si-slider-wrap:after {width: 1px;height:88px;background-color:#fa0007; content:""; position: absolute; top: 50%;margin-top: -44px; right:0px; display: block;} 
			.sisc-formula1-container .sisc-ms-header { border-bottom: 1px solid #fa0007; }
			.sisc-formula1-container .si-teambox-action .btn {background-color: #fa0007; color:#fff;  }
			.sisc-formula1-container .si-teambox-action .btn:hover {background-color: #fff; color:#000; }
			.sisc-formula1-container .sisc-ms-sportsbox .si-slider .nav-left, .sisc-formula1-container .sisc-ms-sportsbox .si-slider .nav-right {background-color: #fa0007; }
			.sisc-formula1-container .sisc-ms-serieslist li.active{color:#fa0007;}
			.sisc-formula1-container .sisc-ms-sportsbox .si-teambox { text-align: center; }
			.sisc-formula1-container .sisc-ms-sportsbox .si-team-content { text-align:left; }
			/*_ Football Team Box _*/

			.sisc-football .si-team,.sisc-football .si-team-vs {display: table;float: left;height: 90px;}
			.sisc-football .si-team .content-wrap,.sisc-football .si-team-vs .content-wrap{display: table-cell;vertical-align: middle;}
			.sisc-football .si-team-vs {width: 22%;position: relative;}
			.sisc-football .si-team{width: 38%;}

			.sisc-football .si-team-name {font-family: "Avenir-Book",sans-serif;font-size: 11px;line-height: 16px;text-align: center;height: 32px;display: table;width: 100%;}
			.sisc-football .si-team-name span{display: table-cell;vertical-align: top;}
			.sisc-football .si-team-image {display: block;text-align: center;margin-top: 10px;margin-right: 0;}
			.sisc-football .si-matchscore {color: #fff; font-family: "Avenir-Black",sans-serif; font-size: 26px; line-height: 24px;text-align: center;}
			.sisc-football .si-matchvs {color: #fff; font-family: "Avenir-Black",sans-serif; font-size: 16px; line-height:18px; text-align: center; margin-bottom:2px;  }
			.sisc-football .si-matchstatus {color: #000;font-family: "Avenir-Book",sans-serif;font-size: 12px; text-align: center;margin-top: 15px;}
			.sisc-football .si-matchschedule {clear: both;font-family: "Avenir-Book",sans-serif;font-size: 14px;line-height: 16px;margin-top: 14px;text-align: center;}
			.sisc-football-container .sisc-ms-header { border-bottom: 1px solid #21BDE3; }
			.sisc-football-container .sisc-swtichsport > span { color: #21BDE3; }
			.sisc-football-container .sisc-ms-sportsbox .si-slide-item:before { background-color:#21BDE3; }
			.sisc-formula1-container .sisc-ms-sportsbox .si-slide-item::before { background-color:#fa0007}
			.sisc-football-container .sisc-ms-sportsbox .si-slide-item:after { display:none; }
			.sisc-football-container .si-slider-wrap:after { background-color:#21BDE3; content: ""; height: 88px; margin-top: -44px; position: absolute; right: 0; top: 50%; width: 1px;display:block;}
			.sisc-football .si-postmatch .si-matchstatus { color:#21BDE3;  }
			.sisc-football-container .si-teambox-action .btn {background-color: #21BDE3; color:#fff;  }
			.sisc-football-container .si-teambox-action .btn:hover{background-color: #fff; }
			.sisc-football-container .sisc-ms-sportsbox .si-slider .nav-left, .sisc-football-container .sisc-ms-sportsbox .si-slider .nav-right {background-color: #21BDE3; }
			.sisc-football-container .sisc-ms-serieslist li.active{color:#21BDE3;}
			.sisc-ms-sportsbox .si-slide-item .si-content-box{padding: 0 10px;}

			.sisc-football .si-matchstatus {bottom: 0;position: absolute; width: 100%;}
			.sisc-football .si-team-vs .content-wrap {padding-bottom: 22px;vertical-align: bottom;}


			/*_ Cricket Team box _*/
			.sisc-ms-sportsbox.sisc-cricket .si-slide-item .si-content-box{padding: 0 30px; }
			.sisc-cricket-container .sisc-ms-header .nav-left, .sisc-cricket-container .sisc-ms-header .nav-right { display:none;  }
			.sisc-cricket .si-team-name {font-size: 16px;line-height: 18px;}
			.sisc-cricket .si-team-name span{min-width: 30px;display: inline-block;text-align: center;}
			.sisc-cricket .si-team-image{text-align: center;margin: 0;}
			.sisc-cricket .si-team-image > img {max-width: 50px; max-height: 50px; width: auto; height: auto; }
			.sisc-cricket .si-matchtitle {color: #fff; font-family: "Avenir-Black",sans-serif; font-size: 15px; text-align: center; }
			.sisc-cricket .si-matchstatus {color: #b2b2b2; font-size: 14px; margin-bottom: 10px; text-align: center; text-transform: uppercase; }
			.sisc-cricket .si-matchvs {color: #fff; font-family: "Avenir-Black",sans-serif; font-size: 14px; line-height:16px; text-align: center; }
			.sisc-cricket .si-matchscore {font-size: 16px; color: #fff; font-family: "Avenir-Book",sans-serif;text-align: center;height: 70px;display: table;width: 100%;}
			.sisc-cricket .si-matchscore .sisc-content-wrap{display: table-cell;vertical-align: middle;}
			.sisc-cricket .si-matchscore span{display: block;margin-bottom:4px; }
			.sisc-cricket .si-matchscore span:last-child{margin-bottom: 0;}
			.sisc-cricket .si-matchresult {color: #a7eb3a;font-family: "Avenir-Book",sans-serif;margin-top:0px; text-transform: none;font-size: 15px;text-align: center;}
			.sisc-cricket-container .sisc-ms-header { border-bottom: 1px solid #7da63c; }
			.sisc-cricket-container .sisc-ms-sportsbox .si-slide-item:before { background-color:#7da63c; }
			.sisc-cricket-container .sisc-ms-sportsbox .si-slide-item:after { display:none;  }
			.sisc-cricket-container .si-slider-wrap:after { background-color:#7da63c; content: ""; height: 88px; margin-top: -44px; position: absolute; right: 0; top: 50%; width: 1px;display:block;}
			.sisc-cricket-container .si-teambox-action .btn {background-color: #7da63c; color:#fff;  }
			.sisc-cricket-container .si-teambox-action .btn:hover{background-color: #fff; }
			.sisc-cricket-container .sisc-ms-sportsbox .si-slider .nav-left, .sisc-cricket-container .sisc-ms-sportsbox .si-slider .nav-right {background-color: #7da63c; }
			.sisc-cricket-container .sisc-ms-serieslist li.active{color:#7da63c;}

				/*_ Team box _*/
				.sisc-cricket .si-teambox {margin-bottom: 0px;}
				.sisc-cricket .si-team-vs,.sisc-cricket .si-team {height: 40px;float: left;display: table;}
				.sisc-cricket .si-team{width: 30%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;-o-box-sizing: border-box;-ms-box-sizing: border-box;box-sizing: border-box;}
				.sisc-cricket .si-team-vs{width: 40%;}
				.sisc-cricket .si-team-vs .content-wrap,.sisc-cricket .si-team .content-wrap{display: table-cell;vertical-align: middle;}
				.sisc-cricket .si-team-a{padding-right: 10px;text-align: center;}
				.sisc-cricket .si-team-b{padding-left: 10px;text-align: center;}

				.sisc-cricket .si-matchstatus {margin-top: 0;}


			/*_ Match setting _*/
				
				/*_ Post Match _*/

				.si-postmatch .si-matchcountdown{display: none;}
				.si-postmatch .si-matchstatus{display: none;}
				.si-postmatch .si-matchvs{display: none;}
				.si-postmatch .si-matchschedule{/*display: none;*/}

				.sisc-football .si-postmatch .si-matchstatus{display: block;}

				/*_ In Match _*/
				.si-inmatch .si-matchcountdown{display: none;}
				.si-inmatch .si-matchresult{display: none;}
				.si-inmatch .si-matchvs{display: none;}
				.si-inmatch .si-matchschedule{display: none;}

				/*_ Pre Match _*/
				.sisc-football .si-prematch  .si-matchscore{display: none;}
				.si-prematch .si-matchresult{/* display: none; */}
				.si-prematch .si-matchstatus{/* display: none; */}
				.si-prematch .si-matchscore{/* display: none; */}
				.si-prematch .si-teambox-action{display: none;}

					/*_ Match setting for Cricket _*/
					.sisc-cricket .si-postmatch .si-matchstatus {display: block;}
					.sisc-cricket .si-inmatch .si-matchresult {display: block;}
					.sisc-cricket .si-inmatch .si-matchstatus{color: #a7eb3a;}

					/*_ Match setting for Football _*/
					.sisc-football .si-postmatch .si-matchschedule {display: block;min-height: 30px;}


			/*_ powered by _*/
			.sisc-widget-powered img {display: inline-block;max-height: 18px;vertical-align: middle;  width: auto;}
			.sisc-widget-powered span{color: #fff;font-family: "Avenir-Medium",sans-serif;font-size: 15px;display: inline-block;vertical-align: middle;margin-right: 5px;}
			.sisc-widget-powered {display: table;height: 48px;}
			.simc-content-wrap{display: table-cell;vertical-align: middle;}

			/*_ Single Sports _*/
				.sisc-singleSports .sisc-widget-powered {display: block; height: auto; margin-top: -9px; position: absolute; right: 10px; top: 50%; }
				.sisc-singleSports .sisc-ms-header .si-lft { float: left; margin-right: 175px; position: relative; width: auto; max-width: 68%; }
				
				
			/* countdown */

			.si-countdown {margin-top: 5px;}
			.si-countdown .si-countDate{display: inline-block;padding:0 4px;}
			.si-countdown .si-countDate-sep{display: inline-block;padding:0 4px;}
			.si-countdown .si-countDate-sep span{display: inline-block;vertical-align: bottom;}
			.si-countdown .si-countDate span {display: block;text-align: center;}
			.si-datetxt {font-size: 12px;color: #666;font-family: 'canaromedium',sans-serif;}
			.si-dateno {font-size: 18px;color: #333;font-family: 'canaromedium',sans-serif;margin-top: 2px;}	
			.si-dateno span{display:inline-block !important;}
				

@media screen and (max-width:1200px){
	.sisc-ms-serieslist li { font-size: 14px; }
	.sisc-multisport-wrap .si-lft { max-width: 68%; }
	.si-slider-wrap:before { background-color: #ffffff; content: ""; display: block; height: 88px; margin-top: -44px; position: absolute; left: 0; top: 50%; width: 1px; z-index:999; }
	.si-slider-wrap:after { background-color: #262424; content: ""; display: block; height: 88px; margin-top: -44px; position: absolute; left: 0; top: 50%; width: 1px; z-index:99; }
	
	/*_ Single Sports _*/
	/*.sisc-singleSports .sisc-ms-header .si-lft { max-width:100%; }	*/
	
	/* Football */
	/*.sisc-football-container .si-slider-wrap:after { background-color: #21BDE3; content: ""; display: block; height: 88px; right: 0; margin-top: -44px; position: absolute; top: 50%; width: 1px; z-index: 999999; }*/
	
	/* Cricket */
	/*.sisc-cricket-container .si-slider-wrap::after { background-color: #7da63c; content: ""; display: block; height: 88px; margin-top: -44px; position: absolute; right: 0; top: 50%; width: 1px; z-index: 999999; }*/

	/*.sisc-cricket .si-matchscore { font-size: 16px; height:60px;  }
	.sisc-cricket .si-matchresult { font-size: 16px; }
	.sisc-cricket .si-team-image > img { max-height: 50px; max-width: 50px; }
	.sisc-cricket .si-team-b { text-align: center; }
	.sisc-cricket .si-team-a { text-align: center; }
	.sisc-cricket .si-matchstatus { font-size: 14px; }
	.sisc-cricket .si-matchtitle { font-size: 15px; }*/

}/* End Media (max-width:1200px))  */

@media screen and (max-width:992px){
	/* F1 Team Box */
	.si-team-content { max-width: 150px; }
	.sisc-swtichsport > span { display: none; }
	.sisc-multisport-wrap .si-lft { max-width: 68%; }
	.sisc-ms-serieslist li { font-size:12px; padding:0px 6px;   }
	.sisc-ms-sportsbox .si-slide-item .si-content-box { padding: 0 5px; }
	.sisc-football-container .sisc-ms-sportsbox .si-slider-wrap { margin: 0 30px; }

	.sisc-singleSports .sisc-ms-header .si-lft { float: none; }



}/* End Media (max-width:992px))  */



@media screen and (max-width: 767px){


/** Multi scored widget **/

	/*_ Ads _*/
	.sisc-bannerad-left,.sisc-bannerad-right,.sisc-bannerad-sidebar {display: none;}	

	/*_ Score text _*/
	.sisc-ms-scores {display: none;}
	.sisc-ms-container {margin-left:0px;position: relative;margin-right: 0px;}

	/*_ Switch Sport _*/
	.sisc-swtichsport > span {display: none;}
	.sisc-ms-selectsport.si-selectbox {font-size: 15px;height: 30px;margin: 0 10px;display: block;width: auto;}
	.si-selectbox .select-out {line-height: 30px;}

	/*_ Sports nav _*/
	.sisc-ms-header {border-bottom: none;}
	/*.sisc-ms-serieslist li {font-size: 12px;height:49px;padding: 0 6px;border-bottom: none; white-space:nowrap;  }*/
	.sisc-ms-header { height: auto; }
	.sisc-multisport-wrap .si-lft {display: block;float: none;position: relative; height: 35px; max-width:100%; width:100%;   }
	.sisc-ms-header .si-rgt {display: block;float: none;padding-right: 0;position: relative;text-align: center;clear: both;margin-top: 10px;}
	.sisc-singleSports .sisc-ms-header .si-rgt { float:right;  }
	.sisc-singleSports .sisc-widget-powered { position: relative; }
	.sisc-singleSports .sisc-ms-header .si-lft { margin-right: 185px; }
	



	/* Header */
	/*	.sisc-ms-header .sisc-ms-serieslist {margin: 0 30px;}*/


	/*_ Sports Box _*/
	.sisc-ms-sportsbox {margin: 0 10px;}
	.sisc-ms-sportsbox .si-slider-wrap {margin: 0 15px;}
	.sisc-ms-sportsbox .si-slider .nav-left{left:-10px;}
	.sisc-ms-sportsbox .si-slider .nav-right{right:-10px;}
	.sisc-ms-sportsbox .si-slider { height:180px; }
	.sisc-ms-sportsbox .si-slide-item { height: 180px; }
	

		/*_ Slide Item _*/
		.sisc-ms-sportsbox .si-slide-item {width: 100%;}
		.sisc-ms-sportsbox .si-slide-item .si-content-box { padding: 0px 2px 37px 2px; }

		.si-teambox-action {bottom: 5px;}

		/* F1 Team Box */
		.si-team-name { font-size: 16px; line-height: 18px; }
		.si-matchresult span.txt2 { font-size: 16px; }
		.si-team-image img { max-height: 40px; max-width: 40px; }
		
		
			/*_ Football _*/
			.sisc-football .si-team-name {font-size: 12px;height:20px;line-height: 13px;}
			.sisc-football .si-matchscore {font-size: 20px;line-height: 20px;}
			.sisc-football .si-matchstatus {margin-top: 10px;}
			/*.sisc-football-container .sisc-ms-sportsbox .si-slide-item::before { background:transparent;  }*/
			.sisc-football .si-postmatch .si-matchschedule { min-height:13px; }
			.sisc-football .si-team { width: 35%; }
			.sisc-football .si-team-vs { width: 30%; }
			.sisc-football-container .si-slider-wrap:before { background-color: #ffffff; content: ""; display: block; height: 88px; margin-top: -44px; position: absolute; left: 0; top: 50%; width: 1px; z-index:99; }
			.sisc-football-container .si-slider-wrap:after { background-color: #21BDE3; content: ""; display: none; height: 88px; right: 0; margin-top: -44px; position: absolute; top: 50%; width: 1px; z-index: 999999; }

			.sisc-football .si-team-name span.si-fullname{display:none;}
			.sisc-football .si-team-name span.si-shortname{display: table-cell; vertical-align:middle;  }
			


			/* Formula 1 */
			.sisc-formula1-container .si-slider-wrap:before { background-color: #ffffff; content: ""; display: block; height: 88px; margin-top: -44px; position: absolute; left: 0; top: 50%; width: 1px; z-index:99; }
			.sisc-formula1-container .si-slider-wrap:after { display:none;  }

			/* Cricket */
			.sisc-cricket-container .sisc-ms-sportsbox .si-slide-item::before { background:transparent; }
			.sisc-ms-sportsbox.sisc-cricket .si-slide-item .si-content-box { padding: 0 30px 30px; }
			.sisc-cricket .si-team-name { font-size: 14px; line-height: 16px; margin-bottom:6px;  }
			.sisc-cricket .si-matchtitle { font-size: 16px; }
			.sisc-cricket .si-matchstatus { font-size: 12px; }
			.sisc-cricket .si-matchscore { font-size: 14px; height: 45px; }

			/*_ powered by _*/
			
			.sisc-widget-powered{display: table; height: 36px; width: 100%;}

			/* Single Sports */
			.sisc-singleSports .sisc-widget-powered { margin-top: 5px; }

			/*_ Sports nav _*/
			/*.sisc-ms-header .si-rgt { margin-top: 3px; }*/

			

			


}/* End Media (max-width:767px) */

@media screen and (max-width:767px ) and (orientation:portrait){
	.sisc-singleSports .sisc-widget-powered { display:none;  }
}

.sisc-formula1-container .sisc-multisport-wrap {background-color: rgba(23, 21, 21, 0.8); position: relative;}
.sisc-formula1-container .sisc-ms-scores { background-color: #353535; color: #fff; top:100px; left:-100px; width:256px;    }
.sisc-formula1-container .sisc-ms-scores span { color:#fff; }
.sisc-formula1-container .sisc-swtichsport > span { color: #FA0007;}
.sisc-formula1-container .sisc-ms-selectsport.si-selectbox {border: 1px solid #6F6E6E;}



.si-teambox-action .btn:hover span {color: #000;}
.sisc-formula1-container .sisc-ms-selectsport.si-selectbox {background-image: url('../images/down-arrow-v1.png');}
/*.sisc-formula1-container .si-slider-wrap:before {width: 1px;height:88px;background-color: rgba(250,1,7,0.6); content:""; position: absolute;top: 50%;margin-top: -44px; left:0px;    }*/
.si-sidebar-warpper{ position:absolute; right:0; top:0; width:300px;}
.si-sidebar-warpper .topAd{ height:250px; margin-bottom:20px; background-color:#fff}
.si-sidebar-warpper .socialBot{ min-height:700px; position:relative;}
.si-sidebar-warpper .socialBot:after{ content:""; /* background-color:#000; opacity:0.8; */ left:0; right:0; top:0; bottom:0; /* position:absolute; */ }



/*_ Swiper slider _*/
		
	/*_Swiper 3.1.0_*/

	.swiper-container {position: relative;overflow: hidden;z-index: 1;}
	.swiper-container-no-flexbox .swiper-slide {float: left;}
	.swiper-container-vertical > .swiper-wrapper {-webkit-box-orient: vertical; -moz-box-orient: vertical; -ms-flex-direction: column; -webkit-flex-direction: column; flex-direction: column; } 
	.swiper-wrapper {position: relative;display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-transform-style: preserve-3d;-moz-transform-style: preserve-3d;-ms-transform-style: preserve-3d;transform-style: preserve-3d;-webkit-transition-property: -webkit-transform;-moz-transition-property: -moz-transform;-o-transition-property: -o-transform;-ms-transition-property: -ms-transform;transition-property: transform;}
	.swiper-container-android .swiper-slide,.swiper-wrapper {-webkit-transform: translate3d(0px, 0, 0); -moz-transform: translate3d(0px, 0, 0); -o-transform: translate(0px, 0px); -ms-transform: translate3d(0px, 0, 0); transform: translate3d(0px, 0, 0); } 
	.swiper-container-multirow > .swiper-wrapper {-webkit-box-lines: multiple; -moz-box-lines: multiple; -ms-flex-wrap: wrap; -webkit-flex-wrap: wrap; flex-wrap: wrap; } 
	.swiper-container-free-mode > .swiper-wrapper {-webkit-transition-timing-function: ease-out; -moz-transition-timing-function: ease-out; -ms-transition-timing-function: ease-out; -o-transition-timing-function: ease-out; transition-timing-function: ease-out; margin: 0 auto; } 
	.swiper-slide {-webkit-transform-style: preserve-3d; -moz-transform-style: preserve-3d; -ms-transform-style: preserve-3d; transform-style: preserve-3d; -webkit-flex-shrink: 0; -ms-flex: 0 0 auto; flex-shrink: 0;position: relative;}

	.swiper-container .swiper-notification {position: absolute; left: 0; top: 0; pointer-events: none; opacity: 0; z-index: -1000; } 
	.swiper-wp8-horizontal {-ms-touch-action: pan-y;touch-action: pan-y;}
	.swiper-wp8-vertical {-ms-touch-action: pan-x;touch-action: pan-x;}

	.swiper-container-coverflow .swiper-wrapper {-ms-perspective: 1200px;}

	/* Fade */
	.swiper-container-fade.swiper-container-free-mode .swiper-slide {-webkit-transition-timing-function: ease-out; -moz-transition-timing-function: ease-out; -ms-transition-timing-function: ease-out; -o-transition-timing-function: ease-out; transition-timing-function: ease-out; } 
	.swiper-container-fade .swiper-slide {pointer-events: none; } 
	.swiper-container-fade .swiper-slide .swiper-slide {pointer-events: none; } 
	.swiper-container-fade .swiper-slide-active, .swiper-container-fade .swiper-slide-active .swiper-slide-active {pointer-events: auto; } 

	.swiper-container-cube.swiper-container-vertical .swiper-cube-shadow {z-index: 0; } 


/*_ JS Pane _*/

.sisc-f1v4 .jspVerticalBar {width: 4px;background-color: #999;}
.sisc-f1v4 .jspDrag {background-color: #333;}

@media screen and (max-width:639px) {
.sisc-ms-serieslist li {font-size: 12px;height:35px;padding: 0 6px;border-bottom: none; white-space:nowrap;  }	
.sisc-singleSports .sisc-ms-header .si-lft { display: block; float: none; height: 35px; position: relative; width: 100%; }
.sisc-singleSports .sisc-widget-powered { position: relative; }
.sisc-singleSports .sisc-widget-powered .simc-content-wrap { display:inline-block;  }
.sisc-singleSports .sisc-widget-powered { display: block; height: auto; margin-top:10px; margin-bottom:10px;  position: relative; right: 10px; top: 50%; }
.sisc-singleSports .sisc-ms-header .si-rgt { float:none; width:100%;   }


}

/**_ reskining _**/
.sisc-formula1-container .sisc-multisport-wrap,.sisc-multisport-wrap{ background-color: #ffffff; }

/*_ common css _*/
.si-team-name,.si-matchschedule,.si-matchresult,.si-matchcountdown .si-countdown-txt,.si-matchcountdown .si-countDate span,.si-dateno,.sisc-football .si-matchscore,.sisc-ms-serieslist li,.sisc-cricket .si-matchvs,.sisc-cricket .si-matchtitle,.sisc-cricket .si-matchscore{ color: #000000; }
.sisc-ms-selectsport.si-selectbox{ border-color:#000000; }
.sisc-ms-selectsport.si-selectbox{ color: #000000; }
.sisc-formula1-container .sisc-ms-header,.sisc-football-container .sisc-ms-header,.sisc-cricket-container .sisc-ms-header{ background-color: #f1f2f3; }
.sisc-formula1-container .sisc-multisport-wrap, .sisc-multisport-wrap { overflow: hidden;}
/*.si-teambox-action{ bottom:20px;}
.sisc-ms-sportsbox .si-slider{ height: 200px; }
.sisc-formula1-container .sisc-ms-scores{ width: 255px; }*/

/*_ formula1 _*/
.sisc-formula1-container .sisc-ms-selectsport.si-selectbox{ border-color:#000000; }
.sisc-formula1-container .sisc-ms-scores{ background-color: #aaaaaa; }
.sisc-formula1-container .si-teambox-action .btn:hover{background-color: #aaaaaa;}

/*_ football _*/
.sisc-formula1-container .sisc-ms-scores span{ color: #424242; }
.sisc-football-container .sisc-ms-sportsbox .si-slider .nav-left, .sisc-football-container .sisc-ms-sportsbox .si-slider .nav-right{     background-color: #03a653; }
.sisc-football-container .si-teambox-action .btn{ background-color: #03a653; }
.sisc-football .si-postmatch .si-matchstatus{ color: #03a653; }
.sisc-football-container .sisc-ms-serieslist li.active{ color: #03a653; }
.sisc-football-container .sisc-swtichsport > span{ color: #03a653; }
.sisc-football-container .sisc-ms-header{ border-bottom: 1px solid #03a653; }
.sisc-football-container .sisc-ms-sportsbox .si-slide-item:before{ background-color: #03a653; }
.sisc-ms-scores{ background-color: #aaaaaa; color: #424242;/* width: 255px;*/ }
.sisc-football-container .si-teambox-action .btn:hover{ background-color: #aaaaaa; }
.sisc-football-container .si-slider-wrap:after{ background-color: #03A653; }
.agg_score,.penalty_score{color:#000; font-size:13px; line-height:20px; text-align:center;}

/**_ cricket _**/
.sisc-cricket .si-matchresult{ color: #7da63c; }
.sisc-cricket .si-team-image > img{ border-color:#aaaaaa; }
.sisc-cricket-container .si-teambox-action .btn:hover{background-color: #aaaaaa;}
.sisc-cricket .si-matchscore {font-size: 14px;}
.sisc-cricket .si-matchscore {height: 65px;}
