@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('/css/fonts/proximanova-regular-webfont.eot');
    src: url('/css/fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/proximanova-regular-webfont.woff2') format('woff2'),
         url('/css/fonts/proximanova-regular-webfont.woff') format('woff'),
         url('/css/fonts/proximanova-regular-webfont.ttf') format('truetype'),
         url('/css/fonts/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_nova_rgbold';
    src: url('/css/fonts/proximanova-bold-webfont.eot');
    src: url('/css/fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/proximanova-bold-webfont.woff2') format('woff2'),
         url('/css/fonts/proximanova-bold-webfont.woff') format('woff'),
         url('/css/fonts/proximanova-bold-webfont.ttf') format('truetype'),
         url('/css/fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'roboto_condensedbold';
    src: url('/css/fonts/robotocondensed-bold1-webfont.eot');
    src: url('/css/fonts/robotocondensed-bold1-webfont.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/robotocondensed-bold1-webfont.woff2') format('woff2'),
         url('/css/fonts/robotocondensed-bold1-webfont.woff') format('woff'),
         url('/css/fonts/robotocondensed-bold1-webfont.ttf') format('truetype'),
         url('/css/fonts/robotocondensed-bold1-webfont.svg#roboto_condensedbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'roboto_condensedregular';
    src: url('/css/fonts/robotocondensed-regular-webfont.eot');
    src: url('/css/fonts/robotocondensed-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/robotocondensed-regular-webfont.woff2') format('woff2'),
         url('/css/fonts/robotocondensed-regular-webfont.woff') format('woff'),
         url('/css/fonts/robotocondensed-regular-webfont.ttf') format('truetype'),
         url('/css/fonts/robotocondensed-regular-webfont.svg#roboto_condensedregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
.menu_head {
    background-color: #e1e1e1;
    background-image: url("/images/kt_menu_logo.png");
    background-position: 7px 9px;
    background-repeat: no-repeat;
    font-family: "proxima_nova_rgregular";
    font-size: 20px;
    padding: 18px 10px 12px 59px;
    position: relative;
	color:#000;
}
.menu_close{ position:absolute; right:10px;top:10px; z-index:9999;
}
.sidemenu
{
	background: #ffffff;
	position: fixed;
	  font-family: 'roboto_condensedbold';
	  left:-191px;

	  
}
.pushmenu
{
	position:relative;
	border-right:1px solid #e7e7e7;
		  width:215px;
	
}
.pushmenu ul
{
	margin:10px 0px;
	padding:0px;
}
.pushmenu ul li
{
	list-style:none;
	padding:0px;
	margin:0px;
	 font-family: "proxima_nova_rgregular";
	font-size:12px;
	text-transform:uppercase;
	color:#000;
	border-bottom:1px solid #eceeed;
	padding:8px 5px 8px 16px;
	cursor:pointer;
}
.pushmenu ul li span
{
	margin:0px;
	padding:0px;
}
/*.pushmenu ul li:hover
{
	background-color:#2296e3;
	cursor:pointer;
}*/
.pushmenu ul li.bussiness
{
	background-color:#ea4a36;
	cursor:pointer;
	color:#FFF;
	
}

.pushmenu ul li a
{
	color:#000;
	text-decoration:none
}
.pushmenu ul li a:hover
{
	color:#000;
	text-decoration:none;
}
.pushmenu ul li ul
{
	margin:0px;
	padding:0px;
}

.pushmenu ul li li
{
	padding:8px 20px;
	font-size:12px;
	border-bottom:1px solid #f1f1f1;
}
.pushmenu ul li li a
{
	color:#FFF;
}
/* General styles for all menus */
.cbp-spmenu {
	background: #ffffff;
	position: fixed;
	  font-family: 'roboto_condensedbold';

}

.cbp-spmenu h3 {
	color:#000;
	font-size:18px;
	text-transform:uppercase;
	padding:10px;
	margin: 0;
	font-family: 'proxima_nova_rgregular';
	background-image:url(/images/kt_menu_logo.png);
	background-position:left;
	background-repeat:no-repeat;
	background: #e1e1e1;
}
.side_menu_scroll
{
	height:582px; overflow:auto!important;
}


/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
	width: 215px;
	height: 100%;
	top: 0;
	z-index: 1000;
}


.cbp-spmenu-horizontal {
	width: 100%;
	height: 150px;
	left: 0;
	z-index: 1000;
	overflow: hidden;
}

.cbp-spmenu-horizontal h3 {
	height: 100%;
	width: 20%;
	float: left;
}

.cbp-spmenu-horizontal a {
	float: left;
	width: 20%;
	padding: 0.8em;
	border-left: 1px solid #258ecd;
}

/* Vertical menu that slides from the left or right */

.cbp-spmenu-left {
	left: -240px;
}

.cbp-spmenu-right {
	right: -240px;
}

.cbp-spmenu-left.cbp-spmenu-open {
	left: 0px;
	z-index:10005 !important;
	width:215px!important;
	
}

.cbp-spmenu-right.cbp-spmenu-open {
	right: 0px;width:200px!important;
}

/* Horizontal menu that slides from the top or bottom */

.cbp-spmenu-top {
	top: -150px;
}

.cbp-spmenu-bottom {
	bottom: -150px;
}

.cbp-spmenu-top.cbp-spmenu-open {
	top: 0px;
}

.cbp-spmenu-bottom.cbp-spmenu-open {
	bottom: 0px;
}

/* Push classes applied to the body */

.cbp-spmenu-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}

.cbp-spmenu-push-toright {
	left: 95px;
}

.cbp-spmenu-push-toleft {
	left: -215px;
}

/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

/* Example media queries */

@media screen and (max-width: 55.1875em){

	.cbp-spmenu-horizontal {
		font-size: 75%;
		height: 110px;
	}

	.cbp-spmenu-top {
		top: -110px;
	}

	.cbp-spmenu-bottom {
		bottom: -110px;
	}

}

@media screen and (max-height: 26.375em){

	.cbp-spmenu-vertical {
		font-size: 90%;
		width: 190px;
	}

	.cbp-spmenu-left,
	.cbp-spmenu-push-toleft {
		left: -215px;
	}

	.cbp-spmenu-right {
		right: -190px;
	}

	.cbp-spmenu-push-toright {
		left:95px;
	}
}

.list_menu{
		position:relative;
		border-bottom:1px solid #e1e2e3;
}

.list_menu .plus{
    color: #000;
    height: 15px;
    line-height:8px;
    padding: 1px;
    position: absolute;
    right:10px;
    text-align: center;
    text-decoration: none;
    width: 15px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	z-index:10;
	top:12px;
}
.list_menu .minus{
    color: #000;
    height: 15px;
    line-height:8px;
    padding: 1px;
    position: absolute;
    right:10px;
    text-align: center;
    text-decoration: none;
    width: 15px;
	font-family:Verdana, Geneva, sans-serif;
	z-index:10;
	font-size:12px;
	top:10px;
}

.detail_menu{
	position:relative;
	display:none;
}

.detail_menu .btn_close{
	position:absolute;
	right:0px;
	top:32px;
	text-decoration:none;
	border: 1px solid #fff;
    border-radius: 10px;
    color: #fff;
	z-index:10;
    
}
#news {background-color:#2296e3; color:#FFF!important;}

#business_menu {background-color:#ea4a36;}
#sports {background-color:#7da63c;}
#technology {background-color:#ea6536;}
#lifestyle {background-color:#a152c5;}
#gold_forex {background-color:#ea4a36;}
#entertainment {background-color:#e7c21c;}
#women {background-color:#ea4a36;}
#gallery {background-color:#2296e3;}
#citytimes {background-color:#8b53fe;}
#wknd {background-color:#bd248e;}