﻿/* You can alter this CSS in order to give Smooth Div Scroll your own look'n'feel */

/* Invisible left hotspot */
div.scrollingHotSpotLeft
{
	/* The hotspots have a minimum width of 100 pixels and if there is room the will grow
    and occupy 15% of the scrollable area (30% combined). Adjust it to your own taste. */
	min-width: 75px;
	width: 7%;
	height:100%;
	top:25px;
	/* There is a big background image and it's used to solve some problems I experienced
    in Internet Explorer 6. */
	background-image: url(/images/big_transparent.gif);
	background-repeat: repeat;
	background-position: center center;
	position: absolute;
	z-index:999!important;
	left:25px;
	/*  The first url is for Firefox and other browsers, the second is for Internet Explorer */
cursor:pointer;}

/* Visible left hotspot */
div.scrollingHotSpotLeftVisible
{
	background-image: url(/images/arrow_left.png);				
		background-repeat: no-repeat;
	
	zoom: 1; /* Trigger "hasLayout" in Internet Explorer 6 or older versions */

}

/* Invisible right hotspot */
div.scrollingHotSpotRight
{
	min-width: 75px;
	width: 6%;
	height:100%;
	top:25px;
	background-image: url(/images/big_transparent.gif);
	background-repeat: repeat;
	background-position: center center;
	position: absolute;
	cursor:pointer;
	z-index:999!important;
	right:27px;
	cursor:pointer}

/* Visible right hotspot */
div.scrollingHotSpotRightVisible
{
	background-image: url(/images/arrow_right.png);
	
	background-repeat: no-repeat;
	/*opacity: 0.35;
	filter: alpha(opacity = 35);
	-moz-opacity: 0.35;*/
	zoom: 1;
}

/* The scroll wrapper is always the same width and height as the containing element (div).
   Overflow is hidden because you don't want to show all of the scrollable area.
*/
div.scrollWrapper
{
	position: relative;
	overflow: hidden;
	width: 1096px;
	height: 100%;
}

div.scrollableArea
{
	position: relative;
	width: auto;
	height: 100%;
}