/* CSS Document */

/* This documents combines the follow CSS files, in this order: 
/stylesheets/bls_thickbox.css
/stylesheets/bls_main.css
/stylesheets/bls_legacy.css
/stylesheets/bls_layout.css
/stylesheets/bls_navigation.css
*/

/* THICKBOX START */

/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> global settings needed for thickbox <<<-----------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
 * {
	padding: 0;
	margin: 0;
}
/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox specific link and font settings <<<------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
#TB_window {
	font: 12px;
	color: #333;
	z-index: 10001;
}
#TB_secondLine {
	font: 10px;
	color:#666;
}
#TB_window a:link {
	color: #2647A0;
}
#TB_window a:visited {
	color: #698DDA;
}
#TB_window a:hover {
	color: #3333CC;
}
#TB_window a:active {
	color: #2647A0;
}
#TB_window a:focus {
	color: #2647A0;
}
#TB_window ul {
	margin-left: 1em;
}
/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox settings <<<-----------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
#TB_overlay {
	position: fixed;
	z-index:100;
	top: 0px;
	left: 0px;
	height:100%;
	width:100%;
	z-index: 10000;
}
.TB_overlayMacFFBGHack {
	background: url(/images/thickbox/macFFBgHack.png) repeat;
}
.TB_overlayBG {
	background-color:#000;
	filter:alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;
	-ms-filter: alpha(opacity=50);
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); 
}
* html #TB_overlay { /* ie6 hack */
	position: absolute;
 height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}
#TB_window {
	position: fixed;
	background: #ffffff;
	color:#000000;
	display:none;
	border: 4px solid #ccc;
	text-align:left;
	top:50%;
	left:50%;
}
* html #TB_window { /* ie6 hack */
	position: absolute;
margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}
#TB_window img#TB_Image {
	display:block;
	margin: 15px 0 0 15px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #666;
	border-left: 1px solid #666;
}
#TB_caption {
	height:25px;
	padding:7px 30px 10px 25px;
	float:left;
}
#TB_closeWindow {
	height:25px;
	padding:11px 25px 10px 0;
	float:right;
}
#TB_closeAjaxWindow {
	padding:7px 10px 5px 0;
	margin-bottom:1px;
	text-align:right;
	float:right;
}
#TB_ajaxWindowTitle {
	float:left;
	padding:7px 0 5px 10px;
	margin-bottom:1px;
}
#TB_title {
	background-color:#F5F7F9;
	height:27px;
}
#TB_ajaxContent {
	clear:both;
	padding:2px 15px 15px 15px;
	overflow:auto;
	text-align:left;
	line-height:1.4em;
}
#TB_ajaxContent.TB_modal {
	padding:15px;
}
#TB_ajaxContent h1 {
	font-size: 120% !important;
	color: #600;
	margin-bottom: 1em;
}
#TB_ajaxContent h2 {
	font-size: 107% !important;
	font-weight: normal;
	color: #600;
	margin-bottom: 1em;
}
#TB_ajaxContent p {
	margin-bottom: 1em;
}
#TB_ajaxContent ul, ol, dl {
	margin:  0 0 1em 1em;
	padding: 0 0 0 1em;
}
#TB_ajaxContent ul {
	list-style: url(/images/layout/red_chevron_bullet.gif);
}
#TB_ajaxContent li {
	line-height: 160%;
	margin: 0;
	padding: 0 0 0 .5em;
}
#TB_load {
	position: fixed;
	display:none;
	height:13px;
	width:208px;
	z-index:103;
	top: 50%;
	left: 50%;
	margin: -6px 0 0 -104px; /* -height/2 0 0 -width/2 */
}
* html #TB_load { /* ie6 hack */
	position: absolute;
margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}
#TB_HideSelect {
	z-index:99;
	position:fixed;
	top: 0;
	left: 0;
	background-color:#fff;
	border:none;
	filter:alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	-ms-filter: alpha(opacity=0);
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); 
	height:100%;
	width:100%;
}
* html #TB_HideSelect { /* ie6 hack */
	position: absolute;
 height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}
#TB_iframeContent {
	clear:both;
	border:none;
	margin-bottom:-1px;
	margin-top:1px;
	_margin-bottom:1px;
}
/* THICKBOX END */


/*JQUERY OVERLAY START*/

.bls-chartdata-overlay {
	max-height:60%;
	max-width:90%;
	overflow-y:scroll;
	z-index:10001;
	border:4px solid #ccc;
	background-color:#fff;
	font-size:12px;
	position:absolute;
	margin:0 auto;
}
.bls-chartdata-overlay table{
	margin:1em !important;
}
.bls-chartdata-overlay .bls-overlay-heading {
	background-color: #F5F7F9;
	text-align:right;
	padding:5px;

}
#bls-overlay-background {
	position:fixed;
	height:100%;
	width:100%;
	background-color:#000;
	z-index:10000;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	-moz-opacity:0.6;
	opacity: 0.6;
}

.main-content .spotlight #sos-slideshow-container .bls-chartdata-overlay p  {
	width:auto;
	float:none;
	text-align: left;
}


/*JQUEYR OVERLAY END*/

/* ACCESSIBILITY START */

@media print {
.skiplink {
	display : none;
}

}
@media screen {
.skiplink {
	display : none;
}
}
/* ACCESSIBILITY END */

/* --------------------------------- */

/* FONTS MIN START */

body {
	font:13px Tahoma, Arial, Helvetica, clean, sans-serif;
	background:#E8E8E8;
*font-size:small;
*font:x-small;
}
table {
	font-size:inherit;
	font:100%;
}
select, input, textarea {
	font:99% Tahoma, Arial, Helvetica, clean, sans-serif;
}
body * {
	line-height:1.22em;
}
/* FONTS MIN END */

/* --------------------------------- */

/* MAIN START */

body {
	margin : 0;
	padding : 0;
	background: #fff;
}
.clearfloat {
	clear : both;
	height : 0;
	font-size : 1px;
	line-height : 0;
}
.pub-icon {
	float : left;
}
a img {
	border : none;
}
.fltrt {
	float : right;
	margin-left : 8px;
}
.fltlft {
	float : left;
	margin-right : 8px;
}
hr {
	border: 0;
	height: 0;
	background-color: #fff;
	margin: 0;
	padding: 0;
}
.inline-block{
	display:inline-block; 
	vertical-align:top;
	width:auto;	
	height:inherit;
	/* ie7 hack*/
	zoom:1; 
	*display: inline; 
	padding:0;

	}
	
.align-center{text-align:center !important;}
.align-right{text-align:right !important;}
.align-left{text-align:left !important;}

/* MAIN END */

/* LEGACY START */
/* Notices */
.notice {
	font-weight : bold;
	color : #990000;
	background-color : #ffff00;
}
.emergency {
	color : #003399;
}
.message {
	font-weight : bold;
	color : #ffffff;
	background-color : #99ff99;
}
.feedback {
	color : #ccffcc;
}
.feedback a {
	color : #006600 !important;
}
.warning {
	font-weight : bold;
	color : #990033;
}
.error {
	color : #000000;
	font-family : Courier;
}
.new {
	background-color : #ff0;
	font-weight : bold;
	color : #300;
	font-size: 85%;
	padding: 1px;
}
.highlight {
	background-color : #ffff00;
	color : #000000;
}
.updated {
	background : #cbdfb7;
	color : #030;
	font-weight : bold;
	font-size: 85%;
	padding: 1px;
}
.important {
	background-color : #00ffff;
	font-size : 0.8em;
	font-weight : bold;
	color : #000000;
}
.overview1 {
	font-weight : bold;
}
.revised {
	background-color : #cc3300;
	font-weight : bold;
	color : #ffffff;
}
.revised a {
	background-color : #cc3300;
	color : #ffffff !important;
	text-decoration : none;
}
.other {
	background-color : #ffcc99;
	font-weight : bold;
	color : #000000;
}
.fnotes a {
	color : #003399 !important;
}
.topdoc {
	vertical-align : middle;
}
.data-error {
	color: #c00;
	background: #ccc;
}
.data-divider {
	border-top: 1px dashed #666;
	margin: 1em 0;
}
/*  OEP/JSP */
 th.oep {
	background-color :  #ddd;
	color : #000;
}
/* Here's for the OES Help */
  .content {
	margin-left : 0.5em;
	margin-right : 0.5em;
}
.helplink {
}
.steplabel {
	color : #003399;
	font-weight : bold;
}
.descrip {
	margin-left : 0.5em;
	font-style : italic;
}
.steplabel2 {
	font-weight : bold;
}
hr.apps {
	color : #003399;
	width : 100%;
	height : 1px;
}
/* Here's for GQT */
.gqttable {
}
.gqtdropdown {
}
.gqtcell {
}
.gqtlabel {
}
.gqtbutton {
}
.gqtnote {
}
.gqtcontent {
}
.gqth4 {
}
/* Data output page */
.SurveyTitle {
	background-color : #F5F7F9;
	font-weight : bold;
	color : #183061;
	text-indent : 1em;
}
th.OutputHead {
	/*background-color : #F5F7F9;*/
	padding: 2px 4px;
	margin: 0;
	border: 1px solid #ccc;
}
td.OutputCell {
	padding: 2px 4px;
	margin: 0;
	border: 1px solid #ccc;
}
tr.DataHead {
	padding: 2px 4px;
	margin: 0;
	border: 1px solid #ccc;
}
.DataFormat {
	font-weight : bold;
	text-align : left;
}
.DataFormat a {
	font-weight : bold;
	color : #003399;
}
TD.DataFoot {
}
/* Org Chart */
.orgname {
	font-weight : bold;
	color : #990000;
}
.vacant {
	font-weight : bold;
	color : #003399;
}
.orgtitle {
	margin-left : 10pt;
	color : #000000;
	font-style : italic;
}
.orgoffice {
	color : #666666;
}
/* Here's for the Forms  [Note: that OOH & CGI uses an inline style sheet since they already has their own CSS file]*/
.fpmessage {
	color: #900;
	border: 2px solid #900;
	font-weight: bold;
}
.fperror {
	background-color : #ffffcc;
	color : #000000;
}
.fpflag {
	color : #990000;
}
.fpfield {
	border : 1px solid gray;
	border-width : 1px;
	margin : 2pt;
	background-color : #d8d8d8;
	padding : 5px;
}
.fpnotes {
	color : #000000;
	font-weight : bold;
	margin-top : 1 em;
}
.fpexpire {
	color : #c0c0c0;
}
.fpbox {
	color : #990000;
	border-style : solid;
	border-color : #990000;
	border-width : 2px;
	padding : 6px;
}




/* Here's for the Publications */
.pdf-link {
}
div.menu-header {
}
div.pub-icons {
}
div.citation {
	border-style : dashed;
	border-color : #003399;
	border-width : 1px;
	padding : 10px;
}
.toplink {
	text-align : right;
}
fieldset.OOH {
	padding : 0.25em;
	text-transform : uppercase;
	color : #990000;
	margin-left : 0;
	border : 1px solid #990000;
}
.onet {
	color : #000000;
	font-weight : bold;
	font-size : 10px;
}
.indent1 {
}
.indent0 {
	font-weight : bold;
}
.indent2 {
}
.iag-def {
	border : 1px solid #ededed;
	background : #f5f5f5;
	padding : 0 20px 0 20px;
	margin : 24px;
}
.iag-naics {
	text-align : right;
	font-size : 85%;
}
.iagsource {
	margin-top : -1em;
	font-size : 85%;
	margin-bottom: 2em;
}
/* Glossary */
.term {
	font-weight: bold
}
/* LEGACY END */



#main-nav-wrapper, #bls-banner-wrapper, #dol-bar{
	min-width:830px;
}
/* ------------BORDERS START------------ */
#wrapper-outer {
	margin: 0;
	/*padding: 4px 4px 0 4px ;*/
	background-color: #E8E8E8;
	}
#wrapper {
	margin: 0 auto;
	text-align: left;
	max-width: 75em;
	min-width: auto;
	border-left: 1px solid #E2E2E2;
	border-right: 1px solid #E2E2E2;
	background-color: #fff;
	}
#wrapper-auto-width {
	margin: 0 auto;
	text-align: left;
	background-color: #fff;
	}
#wrapper-basic {
	padding-top: 4px;
	margin: 0;
	text-align: left;
	background-color: #fff;
	/*
	border-top: 8px solid #B4B5B6;
	border-left: 6px solid #B4B5B6;
	border-right: 6px solid #B4B5B6;
	*/
	}
#wrapper-basic-inside {
	padding-top: 4px;
	margin: 0;
	text-align: left;
	/*
	border-top: 8px solid #B4B5B6;
	border-left: 6px solid #B4B5B6;
	border-right: 6px solid #B4B5B6;
	*/
	background: #ffffdd;
	}
#wrapper-top-basic {
	height: 16px;
	background:url(/images/layout/wrapper_basic_top_shadow.gif) repeat-x bottom left  #515151;
	}
#wrapper-bottom-basic {
	height: 10px;
	background:url(/images/layout/wrapper_basic_bottom_shadow.gif) repeat-x top left  #515151;
	}
#container {
	/*padding: 1em;*/
	background: #fff;
	clear:both;
	}
#container-inside {
	background: #ffffdd;
	clear: both;
	}
/* BORDERS END */


/* ------------DOL BANNER START------------ */
#dol-bar {
	background-color: #900;
	float: none;
	/*border-bottom: 4px #d4d4d4 solid;*/
	width: 100%;
	height: auto;
	}
#dol-bar-content {
	padding: 0;
	height: auto;
	max-width:75em;
	margin: 0 auto;
	background:url("/images/dol/dol_banner_background.png") repeat-x top #990000;
	}

#dol-bar-content-autowidth {
	padding: 0;
	height: auto;
	margin: 0 auto;
	background: url("/images/dol/dol_banner_background.png") repeat-x top #990000;

	}
#dol-bar-emblem {
	float: left;
	margin-left: 7px;
	background: url(/images/dol/dol_emblem.png) no-repeat top left;
	}
#dol-bar-emblem a {
	display: block;
	width: 328px;
	height: 30px;
	}
#dol-bar-emblem h3 {
	text-indent: -9999em;
}

	
#dol-bar-form {
	margin: 0;
	padding: 0;	
}
#dol-bar-right {
	float: right; 
	text-align: right;
	color: #fff;
	font-size: 10.3px;
	margin: 8px 8px 0 0;
	padding: 0;
	line-height: 10.3px;
	width: 42em;
	}
#dol-bar-right a {
	color: #fff;
	text-decoration: none;
	}
#dol-bar-right a:hover {
	text-decoration: underline;
	}

#dol-bar-email {
	padding: 0;
	margin: 0 2px 0 0;
	width: 14em;
	border: 1px solid #fff;
	}
#dol-bar-subscribe {
	padding: 0;
	cursor: pointer;
	vertical-align: bottom;
	}
/* DOL BANNER END */

/* --------------- BLS BANNER START -------------------- */
#bls-banner-wrapper {
	float: none;
	clear: both;
	background-color: #900;
	/*height:50px;*/
	}
#bls-banner {
	max-width: 75em;
	height: 48px;
	margin: 0 auto;
	color: #fff;
	background-color: #900;
	padding-bottom: 2px;
	}
#bls-banner-autowidth {
	height: 48px;
	margin: 0;
	color: #fff;
	background-color: #900;
	padding-bottom: 2px;
	}		
#bls-banner-emblem {
	float:left;
	border: none;
	width: 434px;
	height: 42px;
	margin: 4px 8px 2px 8px;
	background: url(/images/layout/bls_125_banner.gif) no-repeat top left;
	}
#bls-banner-emblem h2 {
	text-indent: -9999em;
}
#bls-banner-emblem a {
	display: block;
	width: 434px;
	height: 42px;	
}
#bls-banner-right {	
	
	height: 42px;
	margin: 2px 8px 2px 8px;
	color: #fff;
	float: right;
}
#bls-banner-links {
	font-size: 78%;
	font-weight: bold;
	margin: 0 0 8px 0;
	text-align: right;
}
#bls-banner-search {
	/*float: right;*/
	text-align: right;
	}
#bls-banner-search form {
	margin: 0;
	padding: 0;
}
#bls-banner-search a {
	color: #fff;
	}
#bls-banner-search-input {
	font-size: 85%;
	width: 20em;
	background: #fff;
	border: none;
	margin: 0;
	padding: 2px 9px 3px 3px;
	}
#bls-banner-search-submit {
	padding: 0 0 2px 0;
	vertical-align: bottom;
	margin: 0;
	}

#bls-banner a, #bls-banner-autowidth a {
	color: #fff;
	text-decoration: none;
	}
#bls-banner a:hover, #bls-banner-autowidth a:hover {
	text-decoration: underline;
	}
	
#bls-banner-wrapper .social-follow{
	font-weight:bold; 
	color: #FFF; 
}
#bls-banner-wrapper .social-follow-links{
	position:relative; 
	top:4px;
}

	
/* --------------- BLS BANNER END -------------------- */


/* ------------CONTENT START------------ */
/* CSS FOR ELASTIC LAYOUT */
#content {
	width: 60.4em;
	float: right;
	margin: 0;
	}
#content-auto-width {
	margin-left: 13em;
	}
#main-content {
	width: 43.5em;
	float: left;
	margin: 0;
	padding: 1em 0 0 0;
	}
#main-content-table {
	border-collapse:collapse;
	width: 100%;
	}
#main-content-td {
	vertical-align: top;
	padding: 1em;
	max-width: 42em;
	}
#main-content-wide {
	margin: 0 1em 0 0;
	padding: 1em 0 0 0;
	}
#main-content-full-width {
	padding-bottom: 2em;
	/*margin: 1em;*/
}
#secondary-nav {
	width: 11em;
	float: left;
	margin: 1em 0 0 1em;
	}
#secondary-nav-td {
	vertical-align:top;
	width:150px;
	}
/* END CSS FOR ELASTIC LAYOUT */
#content-footer {
	padding: 1em;
	/*background: url(images/layout/main_content_left_tile.gif) top left repeat-y;*/
	}
#content-footer hr {
	border: 0;
	height: 8px;
	background-color: #E4773A;
	margin: 0;
	padding: 0;
	}
#content-footer h2 {
	font-weight: normal;
	font-size:136%;
	}
/* LAYOUT END */
	
/* --------------------------------- */

/* SECONDARY CONTENT ID START */
#secondary-content {
	width: inherit;
	float: right;
	margin: 0;
	}
#secondary-content-td {
	/*width: 14.3em;*/
	width: 16em;
	vertical-align: top;
	}
#secondary-content-float-inner {
	background: #F5F7F9;	
	border: 1px solid #ccc;
	/*padding:1em;*/
	}
#secondary-content-float-outer {
	width: 20em;
	float: right;
	margin: 0;
	border-left: 1em solid #fff;
	border-bottom: 3em solid #fff;
	}
/* SECONDARY CONTENT ID END */

/*secondary content 3 col layout */
.secondary-content-td {
	vertical-align: top;
	width: 14.3em;
}

/* SECONDARY CONTENT CLASS START */
div.secondary-content, div.secondary-content-pubs {
	background-color: #F6F6F6;
	padding: 1em;
	font-family: Arial, Helvetica, sans-serif;
	}
div.secondary-content-pubs {
	width: 20em;	
}
.main-content .secondary-content-pubs .title, .main-content .content-tab-body .title, #jit-newsrelease .secondary-content-pubs .title {
	font-weight: bold;	
	line-height: 1.5em;
	}
.secondary-content p {
	font-size: 83%;
	color: #333;
	line-height: 1.3em;
	padding-bottom: 9px;
}
.main-content .secondary-content-pubs p {
	line-height: 1.4em;
	padding-bottom: 7px;
}
.secondary-content .data {
	font-weight: normal !important;
	line-height: 1.6em;
}
.secondary-content #regional-resources a img {
	float: none;
}
.secondary-content a img {
	border: none;
	text-decoration: none;
	float: right;
	margin-top: -1px;
	}
.secondary-content a {
	text-decoration: none;
	color: #4D6077;
	font-size: inherit;
	}
.secondary-content h3, .main-content .secondary-content-pubs h3, #jit-newsrelease .secondary-content-pubs h3{
	font-size: 92%;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0 0 8px 0;
	color: #990000;
	}
 .secondary-content h4, .main-content .secondary-content-pubs h4 {
	color: #185e46;
	font-size: 90%;
	font-weight: bold;
	border-bottom: 1px solid #ccc;
	margin-top: 1em;
	margin-bottom: 5px;
	padding-bottom: 3px;
	text-transform: uppercase;
	}
.secondary-content h4 a, .main-content .secondary-content-pubs h4 a {
	text-decoration: none;
	font-size: inherit;
	color: #333;
	font-weight: bold;
	padding-bottom: 3px;
	margin-bottom: 5px;
	}

.secondary-content h5, .main-content .secondary-content-pubs h5 a {
	font-size: 85%;
	margin-top: 8px;
	font-weight: bold;
	color:#000;
	text-decoration: none;
	text-transform: uppercase;
	padding-bottom: 5px;
	}
.secondary-content h5 a:hover {
	text-decoration: underline;
	}
.secondary-content h6, .main-content .secondary-content-pubs h6 a {
	color: #333;
	font-size: 85%;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	margin-bottom:6px;
	}
.secondary-content ul, .main-content .secondary-content-pubs ul, #jit-newsrelease .secondary-content-pubs ul{
	clear: both;
	list-style: url(/images/layout/red_chevron_bullet.gif);
	margin: 0.5em;
	padding: 0 0 0 1.5em;
}
.secondary-content ol, .main-content .secondary-content-pubs ol {
	margin: 0.5em;
	padding: 0 0 0 1.5em;
}
.secondary-content li {
	font-size: 85%;
	color: #183061;
	margin: 0;
	padding: 0 0 .5em 0;
}
.main-content .secondary-content-pubs li, #jit-newsrelease .secondary-content-pubs li {
	font-size: 90%;
	color: #000000;
	margin: 0;
	padding: 0 0 10px 0;
}

.secondary-content blockquote, .main-content .secondary-content-blockquote {
	margin-left: 8px;
}
.secondary-content-submit, .main-content .secondary-content-pubs-submit {
	margin: -6px 0 0 0;
	padding: 1px;
	border: 1px solid #006;
	vertical-align: middle;
	color: #006;
	background-color:#ccc;
	font-size: 85%;
	font-weight: bold;
	line-height: 100%;
}
.main-content  .secondary-content-pubs-submit {
	border: none;
}
.main-content .secondary-content-pubs-input {
	border:1px solid #CCCCCC;
	padding:2px 5px;
}





/* SECONDARY CONTENT CLASS START */

.nolink {
	text-decoration: none;
	color: #000;
	background-color: none;
	cursor: default;
	font-size: inherit;
	}

/* Latest Numbers & regional resources */

div#latest-numbers, div#subscribe {
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid #CCCCCC;
}

#latest-numbers h3, #subscribe h3{
	float: left;	
}

div#regional-resources {
	margin-top: 2em;
	float: none;
	clear: both;	
}

#regional-resource h3 {
	float: none;
}
	
#latest-numbers p {
	font-weight: bold;
}

#sidebar-rss-button img {
	
	}		

#sidebar-explainers	{
	color: #666;
	font-style: italic;
	margin-top: 16px;
	line-height: 1.4em;
	font-size: 10px;
	}
#sidebar-explainers span {
	padding-right: 11px;
	display:block;
	}

#sidebar-explainers p {
	font-weight: 100;
	color: #666;
	}


/*---------------------------------------*/


/* CONTENT SECONDARY END */
	
/* ------------QUICK LINKS START------------ */
#quicklinks-wrapper	{
	background-color: #eee;
	width:inherit;
	margin: 0px;
	padding-bottom: 20px;
	text-align:center;
	}
#quicklinks {
	/*background: #eee url(/images/layout/quick_links_background.gif) bottom repeat-x;*/
	font-family: Arial, Helvetica, sans-serif;
	width: 60em;
	margin: 0px auto;
	padding: 15px 0px 20px 0px;
	text-align:left;
	}
#quicklinks ul {
  	/*list-style: url(/images/layout/orange_bullet.gif);*/
  	float: left;
 	position: relative;
 	height: 120px;
 	border-right: 1px solid #ccc;
 	margin: 0;
 	padding: 0 20px;
 	list-style: none;
	}
#quicklinks h4 {
 	text-transform: uppercase;
 	font-size: 89%;
	line-height: 1.6em;
  	font-weight: bold;
  	color:#333333;
	}
#quicklinks ul a {
  	color:#666666;
  	font-size: 89%;
  	text-decoration: none;
	line-height: 1.5em;
	}
#quicklinks ul a:hover {
	color: #039;
	text-decoration: underline;
	}
/* QUICK LINKS END */


/* ------------FOOTER START------------ */
#footer-wrapper {
	width : 100%;
	padding: 0;
	/*background : #b4b5b6;*/
	background-color: #E8E8E8;
	}
#footer-links-wrapper {
	max-width : 75em;
	margin : 0 auto !important;
	/*
	border-right: 1px #999 solid;
	border-left: 1px #999 solid;	
	border-bottom: 1px #999 solid;
	*/
	}
#footer-links-wrapper-autowidth {

	margin : 0 4px !important;
	border-right: 1px #999 solid;
	border-left: 1px #999 solid;	
	border-bottom: 1px #999 solid;
	}
#footer-links {
	text-align : center;
	padding : 8px 1em;
	background: #900 url(/images/dol/red_gradient_bkground.gif) bottom repeat-x;
	/*
	border-right: 1px #666 solid;
	border-left: 1px #666 solid;	
	border-bottom: 1px #666 solid;
	*/
	}
#footer-info {
	padding : 6px 1em 1em 1em;
	text-align : center;
	}
#footer-links p {
	color : #fff;
	font-size : 77%;
	}
#footer-links a {
	color : #fff;
	font-weight : bold;
	text-decoration : none;
	}
#footer-links a:hover {
	color : #fff;
	text-decoration : underline;
	}
#footer-info p {
	font-size : 85%;
	margin-top: -6px !important;
	padding: 0;
	line-height: 100%
	}
#footer-info a {
	color: #006;
	}
#footer-info a:hover {
	color: #00c;
	}
/* These 2 classes are inside the contact and address include stm files */
#footer-address, #footer-contact {
	line-height: 200%;
	}
/* FOOTER END */

/* ------------FONT SWITCHER START------------ */
.xs {font-size: 77%;}
.sm {font-size: 85%;}
.md {font-size: 100%;}
.lg {font-size: 136%;}
.xl {font-size: 152%;}
/* FONT SWITCHER END */

/* BLS Layout END */

#main-nav-wrapper {
	background-color: #900;
	margin: 0;
	border-bottom: 4px solid #e2e2e2;
	}
#main-nav-container {
	max-width: 75em;
	margin: 0 auto;
	}
#main-nav-container-autowidth {
	margin: 0;
	}
ul#main-nav {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	font-weight: bold;	
	}

/* -------------------LEVEL 1 MENU items --------------------*/
ul#main-nav > li {
	float: left;
	margin: 0;
	padding: 0;
	position: relative;
	z-index: 9999;
	border-right: 1px solid #000;
	border-left: 1px solid #333;
	background-color: #000;
	background-image: url(/images/mega_dropdowns/main_nav_background.gif);
	background-position: top;
	background-repeat: repeat-x;	
	}
ul#main-nav  li.selected {
	border-right: 1px solid #fff;
	border-left: 1px solid #e8e8e8;
	
	background-color: #e8e8e8;
	background-image: url(/images/mega_dropdowns/main_nav_background_on.gif);
	background-position: bottom;
	background-repeat: repeat-x;	
	}


ul#main-nav li.focused, ul#main-nav li.focus {
	background-image:none;
	}
ul#main-nav  li.submenu  > a, ul#main-nav  li.submenu-home > a {
	background-image: url(/images/mega_dropdowns/drop_down_icon.png);
	background-position: right center;
	background-repeat: no-repeat;
	}
ul#main-nav  li.selected > a, ul#main-nav  li.selected > a {
	background-image: url(/images/mega_dropdowns/drop_down_icon_hover.png);
	background-position: right center;
	background-repeat: no-repeat;
	}	
ul#main-nav  li.selected a.basic {
	background-image: none;
	background-position: right center;
	background-repeat: no-repeat;
	}


ul#main-nav.basic li a{
	padding-right: 18px;
	}				
ul#main-nav li a {
	color: #fff;
	padding: 6px 24px 6px 10px;
	display: block;
	text-decoration: none;
	}

ul#main-nav li.selected  a {
	color: #900;
    }	
ul#main-nav  > li > a:hover{ 

	background-image: #405767 url(/images/mega_dropdowns/drop_down_icon_hover.png) no-repeat  right center;
	color: #ffffff !important;
	}
 ul#main-nav  li:hover > a, ul#main-nav  li.focus > a,ul#main-nav  li.focused > a{
	 background-color: #405767;
background-image:url(/images/mega_dropdowns/drop_down_icon.png);
	color: #fff;
	}


ul#main-nav.basic  li:hover  a,  ul#main-nav.basic  li  a:hover { 
	background: url(/images/mega_dropdowns/drop_down_icon_black.png) right center no-repeat #d0d0d0;
	border: none;
	color: #000;
	}

ul#main-nav.nojs li:hover div.sub {
	/*visibility : visible !important;*/
	display: block !important;
		background-color: #405767;
	}



/* keyboard-navigation styles */
ul#main-nav li.focus div.sub,ul#main-nav li.focused div.sub  {
	display : block;
	}
ul#main-nav > li.focus, ul#main-nav > li.focus a , ul#main-nav > li.focused, ul#main-nav >li.focused a{
	background-color:#405767;
	color:#ffffff ;
	}




/* -------------------LEVEL 2 MENU items --------------------*/

#submenu-home {
	left: 0px;
	width: 51em;
	}
#submenu-programs {
	left: -76px;
	width: 51em;	
	}
#submenu-data {
	left: -9.6em;
	width: 34em;
	}
#submenu-pubs {
	left: -11.7em;
	width: 34em;	
	}
#submenu-news {
	left: -21.8em;
	width: 37em;	
	}
#submenu-beta {
	left: -13.99em;
	width: 17em;
	}

 ul#main-nav li .sub { /*styled*/
	position: absolute; /*--Important--*/
	margin: 0;
	margin-left: 0px;
	top : 100%;
	z-index: 99999;
	color: #888888;
	background: #405767; /*#385061;*/
	padding: 8px 6px 8px 20px;
	/*float: left;*/
	/*visibility : hidden; */ /*--Hidden for those with js turned off--*/
	display: none;
	/*width: 57em !important;*/
	-webkit-box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.4), 0 0 100px rgba(0, 0, 0, 0.1) ;
    -moz-box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.4), 0 0 100px rgba(0, 0, 0, 0.1) ;
    box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.4), 0 0 100px rgba(0, 0, 0, 0.1) ;
	
	}
	
	
	
ul#main-nav li #er-menu-item {/*-- Moving Economic Releases submenu to the left --*/
	position: absolute; /*--Important--*/
	top: 24px;
	left: -369px;
	z-index: 99999;
	}


ul#main-nav li .sub ul { /*styled*/
	list-style: none;
	margin-right: 16px;
	padding: 0;
	width: 15.7em;
	float: left;
	}
ul#main-nav li div#submenu-news ul {
	width: 17.2em;
	}	
ul#main-nav .sub ul li {
	width: 95%; /*--Override parent list item--*/
	margin: 0;
	border: none;
	font-size: 90%;
	font-weight:normal;
	background-image: none;
	}
ul#main-nav .sub ul li a {
	float: none;
	text-indent: 0; /*--Override text-indent from parent list item--*/
	height: auto; /*--Override height from parent list item--*/
	padding: 2px 2px 2px 3px;
	display: block;
	text-decoration: none;
	color: #E1DFDF;
	background-image:none;
	}
ul#main-nav .sub ul li a:hover {
	color: #405767!important;
	padding: 2px 2px 2px 3px;
	text-decoration: none;
	background: #e9ecee;
	}
ul#main-nav li .submenu .sub li a {
	color: #c3c1c1!important;
	}
ul#main-nav li .submenu .sub li  {
	color: #efefef!important;
	}

ul#main-nav li .submenu .sub li:hover  {
	color: #405767;
	background: #ffffff;
	}




/*-------------DROP-DOWN SECTION titles-------------*/
/*--------------------------------------------------*/

ul#main-nav .sub ul li h5 a {
	background-image: none;
	color: #000;
	border-bottom: none;
	padding-bottom: 2px;
	padding: 2px 0 2px 5px;
	margin: 0;
	font-size: 12px;
	font-weight: bold !important;
	text-transform: uppercase;
	border-bottom: 1px dotted #efefef;
	color: #ffffff;
	}
ul#main-nav .sub ul li h5 a:hover  {
	color: #ffffff!important;
	background: none;
	text-decoration: none;
	padding: 2px 0 2px 5px;
	}
	
	
	
/* -------------SECONDARY NAV START------------- */
div.secondary-nav {
	margin: 0 0 2em 0;
	width: 14em;
	font-size: 77%;
	position: relative;
	z-index: 30;
}
div.secondary-nav li.menuhead {
	font-weight: bold;
	margin: 0;
	border-bottom: 1px solid #ccc;
}
div.secondary-nav ul {
	margin: 0;
	padding: 0;
	width: 14em;
}
div.secondary-nav li {
	position: relative;
	z-index: 40;
	list-style: none;
	margin: 0;
	/* This bottom border stops IE from expanding on hover */
	border-bottom: 1px solid #ccc;
	text-transform: uppercase;
}
div.secondary-nav li:hover {
	background: #ccc;
}
div.secondary-nav li.menuhead:hover {
	background-color: #eee;
}
div.secondary-nav li.submenu {
	background: url(/images/secondary_nav/submenu.gif) 99% 50% no-repeat;
	/*background-color: #eee;*/
	}
div.secondary-nav li.submenu:hover {
	background-color: #ccc;
	}
div.secondary-nav li a {
	display: block;
	padding: 0.5em;
	text-decoration: none;
	width: 13em;
	color: #333;
	text-transform: uppercase;
	}
div.secondary-nav li.menuhead a {

	}
div#nav>ul a {
	width: auto;
	}
div.secondary-nav li li a {
	width: 29em;
	text-transform:uppercase;
	}
div.secondary-nav ul ul {
	position: absolute;
	z-index: 50;
	top: 0;
	left: 14em;
	width: 30em;
	display: none;
	background-color: #eee;
	border: 1px solid #ccc;
	}
div.secondary-nav ul.level1 li.submenu:hover ul.level2, div.secondary-navul.level2 li.submenu:hover ul.level3 {
	display:block;
	}




/*--GovDelivery banner on Program Pages----*/
div.secondary-nav #govdelivery-banner {
	background: url(/images/layout/govdelivery_banner_empty.png) no-repeat; 
	height: 350px;
	margin-top: 20px;
	}
div.secondary-nav #govdelivery-banner .banner-text {
	padding: 75px 5px 0 5px; 
	line-height: 1.1em;
	color: #990000; 
	text-align: center; 
	font-family: Helvetica, Arial, sans-serif; 
	font-size: 16px; 
	font-weight: bold;
	}
div.secondary-nav #subscribe-form {
	margin-top: -65px;	
	padding-left: 5px;
	}
	
div.secondary-nav #subscribe-form form #email	{
	border: 1px solid #ccc; 
	background: #fff; 
	padding: 2px 2px 3px 2px;
	}

/*--GovDelivery green banner on Program Pages----*/
div.secondary-nav #govdelivery-greenbanner {
	background: url(/images/layout/banner_greengov.png) no-repeat; 
	height: 325px;
	margin-top: 20px;
	}
div.secondary-nav #govdelivery-greenbanner .greenbanner-text {
	padding: 20px 5px 0 5px; 
	line-height: 1.1em;
	color: #ffffff; 
	text-align: center; 
	font-family: Helvetica, Arial, sans-serif; 
	font-size: 16px; 
	font-weight: bold;
	}
div.secondary-nav #subscribe-form {
	margin-top: -65px;	
	padding-left: 5px;
	}
	
div.secondary-nav #subscribe-form form #email	{
	border: 1px solid #ccc; 
	background: #fff; 
	padding: 2px 2px 3px 2px;
	}


/* Search Form */
#search-secondary-nav-form p {
	margin-bottom: 1em;
	}
#secondary-nav p {
	font-size: 77%;
	}
#secondary-nav label {
	font-weight: bold;
	}
#search-secondary-nav-query {
	margin: 0;
	padding: 1px;
	border: 1px solid #999;
	width: 11em;
	vertical-align: middle;
	}
#search-secondary-nav-submit {
	margin: 0;
	padding: 0;
	border: 1px solid #ceb182;
	vertical-align: middle;
	color: #633;
	background-color:#ffda88;
	}
	
/* social media icons */

div.social-media {
	padding-top: 20px;
	}
div.social-media.article-tools-box  {
	padding-top: 2px;
	}
div.social-media > div{
	display:inline;
	border-right: #ccc 1px solid;	
}

div.social-media > div > a{
	padding-left:15px;
	text-decoration:none;
}
div.social-media > div > a img{
	position:relative;
	top:3px;
}
div.social-media > div{
	border-right:none;
	color:#666;
	text-transform: uppercase;
	font-size: 87%;
}
div.social-media > div a + span a {
	margin-left:5px;
	color:#666;
	text-decoration:none;
	text-transform: none;
}
.article-tools-box .social-media {
	width:250px;
}
.article-tools-box .social-media img{
	padding-left:3px;

}

/* SECONDARY NAV END */

/* BLS NAVIGATION END */

/* Fluid layout styles (regional cpi page) start */

#main-content-fluid {
    float: left;
    padding: 15px 0 10px 15px;
    position: relative;
    width: 49em;
}

#secondary-content-fluid {
    background-color: #F6F6F6;
    float: right;
    padding: 15px;
    position: relative;
    width: 21em;
}

#secondary-content-fluid #latest-numbers p,#secondary-content-fluid #subscribe p,#secondary-content-fluid #regional-resources p {
    color: #333333;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 85%;
    font-weight: bold;
    padding-top: 3px;
}

/* Fluid layout styles (regional cpi page) end */



/* ------------   SURVEY BANNER STYLES  --------------*/
div.secondary-nav div#survey_emp_banner {
    background-image: url("/images/layout/survey_banner_emp.png");
    background-repeat: no-repeat;
    height: 28px;
    padding: 230px 10px 0 12px;
    width: 117px;
	}
div.secondary-nav div#survey_emp_banner a {
    background: none repeat scroll 0 0 #5989B4;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    font-size: 11px;
    font-weight: bold;
    padding: 8px 17px;
    text-decoration: none;
	position: relative;
	top: -10px;
	}
div.secondary-nav div#survey_emp_banner a {color: #5989B4; background: #fff;
	}


/*------------------REGIONS HOMEPAGE ----------------*/
 #regionshome-search #states, #regionshome-search #subjects  {width: 230px; border: 1px solid #cccccc; padding: 1px 0 1px 4px;}
.content-tab-body #regionshome-search #regional-search {width: 160px; border: 1px solid #cccccc; padding: 1px 0 1px 4px; margin-left: 40px;}
.content-tab-body .regions-product-list {padding-bottom: 0;}
.main-content .content-tab-body .regions-product-list h4 {margin: 12px 0 0 -14px; padding: 0;}
.content-tab-body #regionshome-search form{display:inline;}
 #regionshome-search select#states option,  #regionshome-search select#subjects option , .sd-div-options div {padding-left: 2px !important; margin-left:0px;}
 #regionshome-search select#subjects option + option, #regionshome-search select#subjects + div + div.sd-div-options div + div{font-weight:bold; }
 #regionshome-search select#subjects option.sub, #regionshome-search select#subjects + div + div.sd-div-options .sub{font-weight:normal; padding-left:20px !important;}


/*----------------NEWS RELEASE COUNTDOWN--------------*/
#jit-countdown {font-family: Helvetica, Arial, sans-serif; padding: 15px 10px 15px 15px;  margin-bottom: 15px; height: 150px; color: #fff; font-size: 20px; font-family: Helvetica, Arial, sans-serif; 
background-image: url(/images/layout/jit_countdown_bckg.png); background-repeat:repeat-x;}
#jit-countdown #jit-next-release-message { font-size: 11px; color: #ccc; float:left; font-size:10px; margin:0px; padding:0px; font-weight:normal;}
#jit-countdown #jit-next-release-date{float:right; font-size:10px;margin:0px; padding:0 6px 0 0;}
#jit-countdown span {font-size: 37px; font-weight: bold; padding: 9px; margin: 20px 7px 20px 7px;}
#jit-countdown #jit-next-release-name{font-size: 18px; padding: 0; line-height: 1.2em; color: #fff; margin-bottom: 20px;}

#jit-countdown #jit-next-release-link a span {font-size: 25px; padding: 0 0 0 10px; margin: 0; position: relative; top: 2px;}
#jit-countdown #jit-next-release-link a {margin: 35px 0 0 11px; letter-spacing: 0.2px; font-family: Geneva, sans-serif;display: block; color: #fff; font-size: 13px; font-weight: bold; padding: 4px 20px 8px 20px; line-height: 1em;border: #1px solid #fff; background: #215B7A; -webkit-border-radius: 5px; border-radius: 5px;  text-align: center; width: 180px;text-decoration: none;}
#jit-countdown #jit-next-release-link a:hover {background: #fff; color: #164158; opacity: 0.8;}

#jit-countdown .clearfloat {margin:0; margin-bottom: 14px;}
#jit-countdown #jit-time-label {padding-left: 12px;}
#jit-countdown .time-label {font-size: 11px; text-transform: uppercase; font-weight: normal; padding: 0 26px 0 0; color: #ccc;}

#jit-wrapper{ 
	width: 500px;
	height:250px;
	background-color:#0F3042;
	margin-top:1em;
}
#jit-wrapper #jit-next-release-name{
	margin-top:1.2em;
}
#jit-wrapper #jit-clock{
	margin:0 auto;
	margin-top:40px;	
	display:block;
	text-align:center;
font-size:84px;
	
}
#jit-wrapper #jit-clock span{
	font-size:84px;

}

#jit-wrapper #jit-time-label {
	text-align:center;

}

#jit-wrapper #jit-time-label span{
	
	padding-left:53px;
	
}

#jit-wrapper #jit-time-label span + span{
	padding-left:65px !important;
	padding-right:45px !important;
	
}
#jit-wrapper #jit-time-label span + span + span{
	padding-left:50px !important;
	padding-right:65px !important;
	
}
#jit-wrapper #jit-next-release-link a{
margin: 80px auto 0 !important;

}



/*-----------------RELEASE.BLS.GOV page----------------*/
#jit-newsrelease {font-family: Arial, Helvetica, sans-serif; font-size: 13px; padding: 10px; width: 900px; margin: 0 auto;}
#jit-newsrelease #jit-banner-title {color: #990000; font-family: Times,serif;font-size: 30px; margin: 0 auto;padding: 5px 0;}
#jit-newsrelease #jit-banner-title img {height: 28px; padding-right: 5px;}
#jit-newsrelease #jit-banner-title a{text-decoration:none; color:#900; }
#jit-newsrelease #news-releases{width:600px; float:left;}
#jit-newsrelease .secondary-content-pubs{float:right; }
#jit-newsrelease #jit-menu  {background-color: #164158; font-family: Helvetica,Arial,sans-serif; font-size: 11px; font-weight: bold; margin-bottom: 40px; margin-top: 0; padding-top: 0; width: 100%;}
#jit-newsrelease #jit-menu a {float: left;  padding: 10px 0; font-size: 11px; position: relative;  text-align: center;  text-decoration: none;  width: 33.7%; color: #fff; background: #164158;  border-left: 1px solid #cccccc;
    border-right: 1px solid #000000;}
#jit-newsrelease #jit-menu a:hover {background: #990000; color: fff; border-left: 1px solid #ccc; border-right: 1px solid #420000;}
#jit-newsrelease .nr-entry {margin: 0 10px 40px 0; width: 490px; float: right;}
#jit-newsrelease .nr-entry p,  #jit-termsofuse p {line-height: 1.5em; margin-top: 5px;}
#jit-newsrelease .nr-entry h4 a {color: #000; padding-bottom: 10px; font-size: 14px; color: #000000; font-weight: bold; line-height: 1.6em; margin: 0; text-decoration: underline; }
#jit-newsrelease .nr-entry h4 a:hover {color: #003399; text-decoration: underline;}
#jit-newsrelease .nr-entry a, #jit-newsrelease .secondary-content-pubs a {color: #003399;}
#jit-newsrelease #jit-footer {margin-top: 40px; border-top: 1px solid #ccc; padding-top: 10px; font-size: 10px; color: #666; text-align: center;}
#jit-newsrelease .nr-calendar-date {
	float: left; position: relative;	width: 61px; height: 70px;	margin: 7px 17px 50px 11px;	border: 1px solid #2D4758; -moz-border-radius-bottomleft: 10px;
	-webkit-border-radius: 0px 0px 0px 10px; border-radius: 0px 0px 0px 10px; -moz-box-shadow: 2px 2px 5px #ccc; -webkit-box-shadow: 2px 2px 5px #ccc;
	box-shadow: 2px 2px 5px #ccc; text-align: center;
	}
#jit-newsrelease .nr-date-month  {width: inherit; height: 26px; color: #fff; background-color: #2D4758;	font-size: 150%; letter-spacing: 0.04em; text-transform: uppercase;	margin: 0;	}
#jit-newsrelease .nr-date-day  {width: inherit;	color: #2D4758;	font-size: 210%; font-weight: bold;	font-family: "Times New Roman", Times, serif; padding-top: 4px;}


#jit-termsofuse h1 {font-size: 17px; text-align: center; padding-bottom: 10px;}
#jit-termsofuse h3 {font-size: 15px; margin-top: 15px;}



/*----------------- pre.numberedCode styles ----------------*/
pre.numberedCode {
    background-color: #EEEEEE;
    font-family: Courier New,monospace,serif;
    margin-bottom: 10px;
    overflow: auto;
    padding: 5px;
    width: auto;

}
pre.numberedCode {
  background-color:#eee;
  overflow:auto;
  margin:0 0 1em;
  padding:.5em 1em;
}

pre.numberedCode code,
pre.numberedCode .line-number {
  font: 12px "Courier New",Courier,Monospace;
  color:black;
  display:block;
}

pre.numberedCode .line-number {
  float:left;
  margin:0 1em 0 -1em;
  border-right:1px solid;
  text-align:right;
}

pre.numberedCode .line-number span {
  display:block;
  padding:1.25px .5em 0 1em;
}

pre.numberedCode .cl {
  display:block;
  clear:both;
}