/* CSS Document */

#homepage	{
	max-width:75em;
	min-width: 50em;
	margin: 0 auto;
	text-align: left;
	background-color: #ffffff;
	}
#left-side-content	{
	width: 49em; 
	float: left;
	position: relative;
	padding: 1em 0 0 1em;
	}
#left-side-content p, .items	p	{
	font-size: 100%;
	font-weight:normal;
	line-height: 1.5em; 
	color: #000;
	margin: 0;
	padding-bottom: 8px;
	}
img	{
	border: none;
	}
#left-side-content .nr-entry p{
    padding-bottom:0px;
	line-height: 1.5em;
	font-size: 100%;
	}
#homepage h2	{
	font-size: 1.7em;
	font-family: "Times New Roman", Times, serif;
	font-stretch: condensed;
	font-weight: 600;
	color: #990000;
	margin:0;
	padding-bottom: 0.3em;
	}
#homepage h3, #homepage h3 a {	
	font-size: 100%;	
	font-weight: bold;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	color: #990000;
	margin-top: 0;
	text-decoration: none;
	padding-bottom: 5px;
	}
#homepage h3 a:hover {
	color: #990000;
	text-decoration: underline;
	}
#homepaget h4, #homepage h4 a	{
	font-size: 110%;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	line-height: 1.6em;
	padding-bottom: 10px;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	}
#homepage h4 a:hover, #nr-archive h4 a:hover	{
	text-decoration: underline;
	color: #003399;
	}
#homepage h5	{
	font-size: 100%;
	font-weight: bold;
	line-height: 1.5em;
	color: #ffffff;
	width: auto;
	}
#homepage h5 a {
	font-size: inherit;
	color: #ffffff;
	text-decoration: none;
	}
#homepage h6	{
	margin-left: 7px;
	color: #767676;
	font-size: 100%;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	margin-bottom: 0;	
	line-height: 1.7em;
	}
#homepage h6 a	{
	font-size: inherit;
	color: #333;
	text-decoration: none;
	border-bottom: 1px dotted #D9D9D9;
	}	
#homepage h6 a:hover	{
	color:#039;
	text-decoration: underline;
	border-bottom: none;
	}	
a.read-more-link{
	font-style: italic;
	font-weight: bold;
	font-size: 103%;
	font-family: "Times New Roman", Times, Georgia, serif;
	color: #990000;
	text-decoration: none;
	}
a:hover.read-more-link	{
	text-decoration: underline;
	}
.blue-links	{
	font-style: normal;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	color: #039;
	text-decoration: underline;
	}
#subscribe h5 {
	width: 70%;
	padding-bottom: 6px;
	margin: 0;
	float: left;
	position: relative;
	}
#subscribe	.subscribe-note {
	font-size: 80%;
	text-decoration: none;
	color: #333;
	width: 100%;
	margin-top: 3px;
	}
#subscribe a img	{
	float: right;
	position: relative;
	padding-bottom: 5px;
	}
#left-side-content .highlight-box-red	ul {
	padding-left: 17px;
	}
.green-anchor-button {
	background: url("/images/buttons/button_green_background.gif") repeat-x scroll left top #68A634;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	padding: 0 4px 1px 5px;
	clear: both;
	}	
	
	
/* ----------NEWS RELEASES -----------*/
#news-releases	{
	background-color: #ffffff;
	width: inherit;
	}	
.nr-charts	img{
	float: left;
	position: relative;
	width: 70px!important;
	border: 1px solid #E8E8E8;
	margin-right: 10px;
	margin-top: 5px;
	}
.nr-calendar-date {
	float: left;
	position: relative;
	width: 61px;
	height: 70px;
	margin: 7px 17px 0 0px;
	border: 1px solid #2D4758;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-left-radius: 10px;
	-webkit-border-radius: 0px 0px 0px 10px;
	border-radius: 0px 0px 0px 10px; 
	-moz-box-shadow: 2px 2px 5px #ccc;
	-webkit-box-shadow: 2px 2px 5px #ccc;
	box-shadow: 2px 2px 5px #ccc; 
	text-align: center;
	}
.nr-date-month  {
	width: inherit;
	height: 26px;
	color: #fff;
	background-color: #2D4758;
	font-size: 150%;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	margin: 0;
	}
.nr-date-day  {
	width: inherit;
	color: #2D4758;
	font-size: 210%;
	font-weight: bold;
	font-family: "Times New Roman", Times, serif;
	padding-top: 4px;
	}
.nr-entry	{
	float: left;
	position: relative;
	width: 42.6em;
	line-height: 1.5em;
	margin-bottom: 25px;
	}

.date, .nr-archive-date	{
	color: #666666;
	font-style: italic;
	font-size: 86%;
	font-weight: normal;
	line-height: 1.8em;
	}
.nr-archive-date {
	float: left;
	position: relative;
	width: 63px;
	padding:0 14px 0 3px;
	}
#nr-archive	h4 a{
	font-size: 95%;
	text-decoration: none;
	position: relative;
	width: 44.2em;
	float: left;
	padding-bottom: 2px;
	}
.read-more-link-nr {
	float: right; 
	margin-bottom: 20px;
	font-style: italic;
	font-weight: bold;
	font-size: 103%;
	font-family: "Times New Roman", Times, Georgia, serif;
	color: #990000;
	text-decoration: none;
	}
a:hover.read-more-link-nr	{
	text-decoration: underline;
	}
	
	
	


/* -----------REGIONAL RESOURCES ------------*/
#regional-products {
	background: #efefef; 
	border: 1px solid #ccc; 
	padding: 0;
	margin-bottom: 40px;
	width:635px;
	}
#regional-products div.geo-panes {
	padding: 0 10px 10px 10px;
	border: none;
	}
#homepage #regional-products h3 a, 
#homepage #regional-products h3 {
	font-family:Arial,Helvetica,sans-serif;
	font-size:100%;
	font-weight:bold;
	margin:0;
	padding-bottom:5px;
	text-transform:uppercase;
	border-bottom: none; color: #990000;
	}
#homepage #regional-products ul.geo-tabs li{
	background-color:#2D4758;
	background-image:none;
	border: none;
	display: inline;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	}
#homepage #regional-products ul.geo-tabs {
	 border-bottom: none;	
	 background-image:none; 
	 background-color: #D3DFE0;}
 
#homepage #regional-products ul.geo-tabs a.current {
	background-color:#2D4758;
	background-position: bottom;
	border: none;
	color:#FFFFFF;
	cursor:default;
	font-weight:bold;
	}
#homepage #regional-products ul.geo-tabs a.current span{
	background: url(/images/layout/arrowdown_tab.png) no-repeat;
	position:absolute;
	top:20px;
	right:80px;
	height:17px;
	width:33px;
	}
#homepage #regional-products ul.geo-tabs a:hover {
	background-color:#2D4758;	
	background-image:none; 
	color: #fff;
	}
#homepage #regional-products ul.geo-tabs a {
	background-color:#D3DFE0;
	border: none;
	color:#333333;
	display:block;
	float:left;
	font-size:12px;
	height:16px;
	margin-right:3.2px;
	outline:0 none;
	padding:7px 10px 5px;
	position:relative;
	text-decoration:none;
	text-transform: uppercase;
	font-weight: bold;
	font-family: Helvetica, Arial, sans-serif;
	width:189px; 
	text-align:center;
	background-image:none;
	}
#homepage .geo-panes h4 {
	font-size: 110%; 
	font-weight: bold; 
	font-family: "Arial Narrow", Arial, sans-serif;
	text-transform: uppercase; 
	margin-top: 20px; 
	float: left; 
	width: auto; 
	margin-left: 3px;
	}
.geo-panes ul.regions-product-list {
	width: 250px; 
	margin-left: 42px; 
	color: #999;
	}
.geo-panes ul.regions-product-list li {
	list-style-type: none; 
	line-height: 1.5em; 
	}
.geo-panes ul.regions-product-list li a {
	text-decoration: none; 
	color: #003399;
	}
.geo-panes ul.regions-product-list li a:hover {
	text-decoration: underline;
	}
#homepage .geo-panes ul.regions-product-list h5 {
	color: #333; 
	margin-top: 10px;
	}
	
#homepage .geo-panes form {
    float: left;
    margin: 19px 10px 0;
}
#homepage .geo-panes form input[type="image"] {
   position:relative;
   top:1px;
}
#homepage .geo-panes form select  {
	border: 1px solid #ccc; 
	width: 150px; 
	font-size: 90%; 
	font-family: Arial, sans-serif; 
	padding: 2px 2px 2px 5px;
	}
	
#homepage .regional-releases h5  {
	margin-top: 2px;
	padding-bottom: 1px;
	}
#homepage .regional-releases h5 a {
	color: #000; 
	font-size: 90% !important; 
	font-style: normal; 
	font-weight: bold;
	}
#homepage .regional-releases h5 a:hover {
	color: #000; 
	text-decoration: underline;
	}
#homepage .regional-releases  p a {
	color: #039; 
	text-decoration: none; 
	line-height:1.45em;
	}
#homepage .regional-releases p  a:hover {
	color: #039; 
	text-decoration: underline;
	}
#homepage #regional-left-col {
	margin-left:3px;
	margin-right:20px;
}	
#regional-left-col	{
	width: 293px;
	float: left;
	position: relative;
	padding-top: 12px;
	margin-right: 23px;
	}
#regional-right-col	{
	width: 293px;
	float: left;
	position: relative;	
	padding-top: 8px;
	}
	
/*------accordion --------*/
#accordion {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 350px;
	overflow: hidden;
	background: #efefef;
	width: 635px;
}
#accordion li {
	float: left;
	border-right: 1px solid #ccc;
	display: block;
	width: 22px;
	overflow: hidden;
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
#accordion li img {
	border: none;
	float: left;
}
#accordion li.active {
	width: 450px;
}


			/*--new version 1--*/
#homepage #regional-products #geo-intro-slide #slide-title  {
	font-family: Arial, Helvetica, sans-serif;
	width: inherit;
	text-align: center;
	font-size: 24px;
	text-transform: uppercase;
	font-weight: bold;
	margin: 30px 0 10px 5px;
	}
#homepage #regional-products #geo-intro-slide #slide-title a{
	text-decoration: none; color: #990000;
	}
#homepage #regional-products #geo-intro-slide #slide-text {
	padding: 0 33px;
	font-size: 13px; 
	line-height: 1.6em;
	}
#homepage #regional-products #geo-intro-slide h4 {
	text-align: center; 
	margin: 10px;}
#homepage #regional-products #geo-intro-slide select {
	width:155px; margin-left: 104px;
	}


			/*--new version 2--*/
#homepage #regional-products #geo-intro-slide {
	padding: 10px 0 10px 10px; 
	background: #EFEFEF; 
	height: 330px;
	}
#homepage #regional-products #geo-intro-slide h3 {
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
	width: inherit;
	text-align: center;
	font-size: 15px;
	margin:5px 0 0 12px;
	}
#homepage #regional-products #regional-left-col, #regional-right-col {width: 47%; }
#homepage #regional-left-col {padding-left: 12px; margin-right: 10px; margin-left: 0;}
#homepage #regional-products #geo-intro-slide .regional-releases p {
	font-size: 11.8px; 
	line-height: 1.35em;
	}
#homepage #regional-products #geo-intro-slide .regional-releases p a.region-title-link {
	font-size: 11.8px; 
	line-height: 1.3em; 
	font-family: arial, Arial, Helvetica, sans-serif;
}




	
/* -------------GRID LAYOUT styles ----------*/
#grid-content	{
	width: inherit;
	height: auto;
	}
#grid-col1, #grid-col2	{
	float: left;
	position: relative;
	width: 45%;
	min-width: 309px;
	}
#grid-col1	{
	margin-right: 18px;
	}
.grid-box	{
	width: auto;
	min-height: 180px;
	border: 1px solid #cccbcb;
	padding: 1em;
	margin-bottom: 20px;
	}
#grid-content h3, #grid-content h3 a	{
	font-size: 100%;	
	font-weight: bold;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
	margin-bottom: 10px;
	margin-top: 0;
	text-decoration: none;
	border-bottom: 1px solid #CCC;
	padding-bottom: 3px;
	}
#grid-content h3 a:hover {
	color: #990000;
	text-decoration: none;
	}
.grid-links	{
	padding-bottom: 15px;
	margin-left: 7px;
	color: #CCC;
	}





/*----------------------------------------*/
/*---------------- SIDEBAR ---------------*/
#bls-sidebar	{
	background-color: #f6f6f6;
	width: 21em;
	padding: 1em;
	float: right;
	position: relative;
	}	
#latest-numbers	h3, #slideshow h3 {
	font-size: 100%;
	font-weight: bold;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding-bottom: 5px;
	color: #990000;
	border-bottom: none;
	width: inherit;
	}
#latest-numbers	h3 a, #slideshow h3 a {
	text-decoration: none;
	font-size: inherit;
	color: #990000;
	border: none;
	}

/*------------Slideshow------------------*/
#slideshow	{
	width: 250px;
	height: 370px;
	background-color: #ffffff;
	border: 1px solid #E8E8E8;
	padding: 5px 8px 5px 13px;
	margin-bottom: 5px;
	}
#homepage .items h5, #homepage .items h5 a	{
	line-height: 1.2em;
	padding-bottom: 2px;
	}
#homepage .items h4, #homepage .items h4 a	{
	line-height: 1.3em;
	}
.scrollable {
	float:left;	
	position:relative;
	overflow:hidden;
	width: 250px;
	height: 370px;
	}

.scrollable .items {
	/* this cannot be too large */
	width: 20000em;
	position: absolute;
	}
.items div { /* each single slide content */
	float:left;
	width: 250px;
	height:inherit;
	}

.items	img{
	border: 1px solid #ccc;
	margin-bottom: 7px;
	width: 245px;
	height: 195px;
	}

.items	p {
	padding-top: 5px;
	padding-bottom: 5px;
	}
#slideshow-nav	{
	margin-bottom: 30px;	
	}

.navi	{ 	/* navigation numbers */
	width: 211px;
	height: auto;
	padding-top: 5px;
	padding-bottom: 5px;
	float: left;
	position: relative;
	text-align: center;
	}
.navi a	{
	text-decoration: none;
	color: #000;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	padding:3px 5px;
	margin: 0;
	font-size: 12px;
	}
.navi a:hover, a.active	{
	text-decoration: none;
	color: #660000;
	background-color: #e0d9bb;
	border: 1px solid #cccccc;
	padding:3px 5px;
	margin: 0;
	cursor:pointer;
	}
a.browse	{ /* navigation arrows */
	float: left;
	position: relative;
	margin: 0;
	padding: 0;
	background:url(/images/layout/arrows.png) no-repeat;
	display:block;
	width:30px;
	height:30px;
	cursor:pointer;
  	}
a.right 	{ background-position: 0 -30px; clear:right; margin-right: 0px;}
a.right:hover 	{ background-position:-30px -30px; }
a.right:active 	{ background-position:-60px -30px; } 
a.left		{ margin-left: 0px; } 
a.left:hover  	{ background-position:-30px 0; }
a.left:active  	{ background-position:-60px 0; }

/* disabled navigational button */
a.disabled {visibility:hidden !important;} 	



/* ---------------Latest Numbers--------------*/
#slideshow-nav, #homepage #latest-numbers, #factoid-teaser, #ooh-feature, #publications-feature	{
	padding-bottom: 18px;
	margin-bottom: 15px;
	border-bottom: 1px solid #ccc;
	width: 271px;
	}
#bls-sidebar .titles	{
	font-weight: bold;
	color: #000;
	}

#homepage #latest-numbers a img	{
	float: right;
	position: relative;
	border: none;
	text-decoration: none;
	padding-left:10px;
	margin-top: -3px;
	}
#homepage #latest-numbers p, #latest-numbers .data	{
	font-size: 90%;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.45em;
	letter-spacing: 0.03em;
	color: #333;
	width: inherit;
	font-weight: bold;
	margin-bottom: 12px;
	}
#homepage #latest-numbers p a {
	font-size: inherit;
	color: #333;
	text-decoration: none;
	}
#homepage #latest-numbers p a:hover {
	text-decoration: underline;
	}
#homepage #latest-numbers .data	{
	font-weight: 100;
	}
#homepage #explainers	{
	font-size: 10px;
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	color: #666;
	}
#homepage #sidebar-explainers span	{
	padding-right:5px;
	display: inline;
	}	
#homepage #latest-numbers #sidebar-rss-button	{ 
	float: right;
	position: relative;
	margin-top: -18px;
	}
#homepage #latest-numbers #rss-button-home	{
	float: right;
	position: relative;
	margin-top: -410px;
	}
	
/* ---------------------FACTOID--------------------*/
#factoid-teaser	{
	background-image: url(/content/homepage_factoid/images/factoid_teaser.png);
	background-repeat: no-repeat;
	height: 192px;
	width: 275px;
	margin-left: -5px;
	border-bottom: none;
	padding-bottom: 10px;
	cursor: pointer;
	}
#factoid-teaser p	{
	color: #ffffff;
	font-size: 17px;
	font-family: "Myriad Pro Condesnsed", Arial, Helvetica, sans-serif;
	font-weight: bold;
	width: 236px;
	height: 105px;
	padding: 69px 14px 7px 25px;
	margin: 0;
	line-height: 1.15em
	}
.title	{
 	font-size: 22px;
	font-weight: bold;
	line-height: 1.5em;
	}
#factoid-teaser a, #product-teaser a	{
	float: right;
	text-decoration: none;
	margin-top: 5px;
	}
	
	
/* ---------------------OOH------------------*/
#ooh-feature	{
	color: #ccc;
	text-align: center;
	}
#ooh-feature img	{
 	padding-bottom: 5px;
	width: 270px;
	}



	
/* ---------------------social media------------------*/
.social-media{
	padding-top:0px;
	padding-bottom:20px;	
}