@media print {
.regional-mapper{display:none;}
}

/* ------------MAIN CONTENT start---------------- */
.main-content	{
	width: inherit;
	height: auto;
	padding: 1em;
}
div#subdomain-title {
	margin: 0 1em 0 1em;
	padding-top: 1em;
	clear: both;
}
#subdomain-title h1, #subdomain-title #subdomain-title-text {
	font-family: "Times New Roman", Times, serif;
	font-size: 30px;
	font-weight: normal;
	color: #900;
	margin: 0;
	float: left;
}
#subdomain-title h1 a, #subdomain-title #subdomain-title-text a{
	font-size: inherit;
	color:#900;
	text-decoration: none;
	}
#subdomain-title h1 a:hover, #subdomain-title #subdomain-title-text a:hover{
	color:#c00;
	text-decoration: none;
	}
#subdomain-title-border {
	border-bottom: 1px solid #f2f2f2;
	clear: both;
	margin: 0 1em 0 1em;
	}
.article-tools-box {
	float:right;
	padding: 2px 4px;
	margin-top: 8px;
	color: #666;
	font-size: 77%;
	border: 1px solid #ccc;
	background: url(/images/layout/article_tools_background.gif) repeat-x;
	}
.article-tools-box a {
	color:#666 !important;
	text-decoration: none !important;
	}
.article-tools-box img {
	vertical-align:text-bottom;
	}
	

	
	
/*------------ HEADINGS styling----------- */
.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
	margin-bottom:10px;
	}
.main-content h1 {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	color: #183061;
	font-size: 180%;
	font-weight: normal;
	}
.main-content h1 a {
	color: #183061;
	font-size: inherit;
	text-decoration: none;
	}
.main-content h1 a:hover {
	color: #183061;
	background:#FFFFCC;
	text-decoration: underline;
	}
.main-content h1 a:visited {
	color: #698DDA;
	}
.main-content h2 {
	font-family: Arial, Helvetica, sans-serif;
	color: #666;
	font-weight: normal;
	font-size: 160%;
	margin: 6px 0 7px 0;;
	border-bottom: 1px dotted #666;
	}
.main-content h2 a {
	color: #666;
	font-size: inherit;
	text-decoration: none;
	}
.main-content h2 a:hover {
	color: #990000;
	background: #ffc;
	}
.main-content h3, .main-content h3 a {
	font-family: Arial, Helvetica, sans-serif;
	color: #183061;
	font-size: 18px;
	margin-bottom: 4px;
	text-decoration: none;
	font-weight: 200;
	}
.main-content h3 a:hover {
	color: #183061;
	background-color:#FFFFCC;
}
.main-content h3 a:visited {
	color: #;
}
.main-content h4 {
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
	font-size: 107%;
	font-weight: bold;
	padding: 5px 0 0 0;
	margin-bottom: 4px;
	width: auto;
	}
.main-content h4 a	{
	text-decoration: underline;
	font-size: inherit;
	color: #000;
	width: auto;
	}
.main-content h4 a:hover {
	color: #003399;
	background-color:#FFFFCC;
	}
.main-content h4 a:visited {
	color: #333;
}
.main-content h5	{
	font-size: 85%;
	font-weight: bold;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 0.03em;
	margin: 0;
	padding-bottom: 5px;
	color: #990000;
	}
.main-content h5 a {
	font-size: inherit;
	color: #990000;
	text-decoration: none;
	}
.main-content h6, .main-content h6 a {
	color: #333;
	font-size: 10.5px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	width: 50%;
	}


/*------------ ELEMENTS styling----------- */

.main-content p .nolink, .main-content li .nolink, .main-content blockquote .nolink, .main-content .nolink {
	text-decoration: none; 
	color: #000; 
	background-color: #fff; 
	cursor: default;
	}

.main-content p .nolink:hover, .main-content li .nolink:hover, .main-content blockquote .nolink:hover, .main-content .nolink:hover {
	text-decoration: none; 
	color: #000; 
	background-color: #fff; 
	cursor: default;
	}

.main-content p .nolink:visited, .main-content li .nolink:visited, .main-content blockquote .nolink:visited, .main-content .nolink:visited {
	text-decoration: none; 
	color: #000; 
	background-color: #fff; 
	cursor: default;
	}
.image-caption{
	background-color: #F9F9F9;
	font-family: Arial, Arial, Helvetica, sans-serif;
	padding: 5px;
}



.main-content p, .main-content blockquote {
	/*font-size: 92%;*/
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	line-height: 160%;
	margin: 0 0 1em 0;
	font-size: 100%;
	color: #333;
	}
.main-content p a, .main-content li a, .main-content blockquote a {
	color: #003399;
	text-decoration: underline;
	font-style: normal;
	}
.main-content p a:hover, .main-content li a:hover, .main-content blockquote a:hover {
	text-decoration: underline;
	background-color: #ffffcc;
	}
.main-content p a:visited, .main-content li a:visited, .main-content blockquote a:visited {
	color: #663366;
	}
.main-content a.external {
	background:url("/images/icons/external_link_icon.png") no-repeat scroll right center transparent;
	padding:0 15px 0 0;
	}
.main-content ul, ol, dl {
	margin:  0 0 1em 1em;
	padding: 0 0 0 1em;
	}
.main-content ol li {
	margin-left: 8px;
	}
.main-content blockquote {
	padding-left: 2.5em;
	}
.main-content ul {
	list-style: disc outside url("/images/gray_round_bullet.gif");
	color: #333;
	margin-bottom: 30px;
	}
.main-content li{
	line-height: 160%;
	margin: 0;
	padding: 0 0 0 4px;
	font-size: 100%;

	}
.main-content dd,dt {
	line-height: 160%;
	margin: 0;
	}
.main-content dd {
	padding: 0 0 0 2em;
	}
.main-content pre, .main-content code, .main-content tt {
	/*font-size: 11px; */
	font-size-adjust: none;
	}
.main-content legend {
	color: #183061;
	}
.main-content fieldset {
	/*font-size: 85%; */
	border: 1px solid #900;
	padding: .5em;
	margin: 1em 0;
	}
/* Classes */


.main-content .date {
	color: #666;
	font-style:italic;
}
.main-content .subscribe {
	height: 1.6em;
	margin-bottom: 3em;
}
.main-content .subscribe-text {
	height: 1.6em;
	padding-top: .2em;
	float: left;
	margin: 0;
	display: block;
}
.main-content .subscribe-text a {
	text-decoration: none;
	border-bottom: 1px dotted #666;
	color: #666;
}
.main-content .subscribe-text a:hover {
	text-decoration: underline;
	color:#66f;
}
.main-content .subscribe-icon {
	padding: 0 3px;
	float: right;
	display: block;
}
.main-content .sub-search-form {
	margin: 0;
	padding: 1px;
	border: 1px solid #999;
	width: 25em;
	vertical-align: middle;
}
.main-content .on-this-page-table {
	border-collapse:collapse;
	top-margin: 1em;
	width: 80%;
}
.main-content .on-this-page-cell-1 {
	width: 20em;
	vertical-align: top;
}
.main-content .on-this-page-cell-2 {
	width: 2em;
}
.main-content .on-this-page-cell-3 {
	width: 20em;
	vertical-align: top;
}
.main-content .on-this-page-cell-2col-content {
	width: 45%;
	vertical-align: top;
}
.main-content .on-this-page-cell-spacer {
	width: 6%;
}
.main-content .homepage-heading-table {
	border-collapse:collapse;
	width: inherit;
	margin: 0 0 10px 0;
}
.main-content .homepage-heading-table tr {
	background-image: url(/images/layout/grey_bar.gif);
	background-position: center;
	background-repeat: repeat-x;
}
.main-content .homepage-heading-table td {
	vertical-align: middle;
}
.main-content .homepage-heading-header {
	font-size: 182%;
	color: 4e463f;
	padding-right: 4px;
	background-color: #fff;
}
.main-content .homepage-heading-links {
	text-align: right;
	font-size: 100%;
	font-weight: bold;
	font-size: 85%;
}
.main-content .homepage-heading-text {
	color: #fff;
	border: 2px solid #fff;
	background-color: #68a634;
	padding: 2px 4px;
	margin: 0 2px 0 12px;
}
.main-content .homepage-heading-table a {
	padding: 2px 4px;
	margin: 0 2px 0 12px;
	text-decoration: none;
	background-color: #fff;
	color:#68a634;
}
.main-content .homepage-heading-table a:hover {
	text-decoration: underline;
}
/* Anchors &  Buttons */

.main-content a.red-anchor-button {
	background: url(/images/buttons/button_red_background.gif) center repeat-x #c00;
	border: 1px solid #900;
	padding: 0 4px;
	margin: 4px 0 0 0;
	text-decoration: none;
	color: #fff !important;
	font-weight: bold;
}
.main-content a.red-anchor-button:visited {
	color:#fff !important;
	background: url(/images/buttons/button_red_background.gif) center repeat-x #c00;
}
.main-content a.red-anchor-button:hover {
	color:#eee !important;
	background: #DD0000;
}
.main-content a.gray-anchor-button {
	background: #666;
	border: 1px solid #333;
	padding: 0 4px;
	margin: 4px 0 0 0;
	text-decoration: none;
	color: #eeeeee !important;
	font-weight: bold;
}
.main-content a.gray-anchor-button:visited {
	color: #eeeeee !important;
}
.main-content a.gray-anchor-button:hover {
	color: #eeeeee !important;
	background: #888888;
}


.main-content a.green-anchor-button {
	background: url(/images/buttons/button_green_background.gif) top left repeat-x #68a634;
	border-top: 1px solid #6eab3c;
	border-right: 1px solid #6eab3c;
	border-bottom: 1px solid #4d7e26;
	border-left: 1px solid #6eab3c;
	padding: 0 4px;
	margin: 0;
	text-decoration: none;
	color:#fff !important;
	font-weight: bold;

}
.main-content a.green-anchor-button:visited {
	color:#fff !important;
	background: url(/images/buttons/button_green_background.gif) top left repeat-x #68a634;
}
.main-content a.green-anchor-button:hover {
	color:#fff !important;
	background: #8bce53;
}

.main-content a.white-anchor-button {
	background: #fff !important;
	border: 1px solid #6eab3c;
	padding: 0 4px;
	margin: 4px 0 0 0;
	text-decoration: none;
	color: #360;
	font-weight: bold;
}

.main-content a.white-anchor-button:visited {
	color: #183061 !important;
}
.main-content a.white-anchor-button:hover {
	color: #fff;
	background: #68a634 !important;
}
.main-content a.blue-anchor-button {
	background: url(/images/buttons/button_blue_background.gif) top left repeat-x #5e8dde;
	border: 1px solid #4F678D;
	padding: 1px 4px;
	margin: 4px 0 0 0;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	text-decoration: none;
	color:#fff !important;
	font-weight: normal;

}
.main-content a.blue-anchor-button:visited {
	color:#fff !important;
	background: url(/images/buttons/button_blue_background.gif) top left repeat-x #5e8dde;
}
.main-content a.blue-anchor-button:hover {
	color:#fff !important;
	background: #4F678D;
}*/




.submit-button {
	width: 120px;	
}

div.download {
	border: 1px solid #ccc;
	padding: 4px;
}

/*---- Default Table Rules ---*/
.main-content table { 
	border-collapse:collapse; 
	width: inherit;
}
table.matrix-table {/*---- this style is here temp. ---*/
	width: inherit;
	} 
.main-content td, .main-content th { 
	padding: 3px;
}

/* OOH */
.SectionHead {
	border-bottom: 1px dotted #505050;
	color: #184BB1;
	margin: 1.5em 0 .5em 0;
	width: 96%;
}
.ProgramHead {
	color: #505050;
	font-size: 152%;
	font-weight: normal;
}
.BotNavText {
	
}
.BotNavText img {
	vertical-align: middle;
	padding-right: 4px;
}
.BotNavText a, .glossary {
	text-decoration:none;
	color: #184BB1;
	font-size: 85%;
}
.BotNavText a:hover, .glossary:hover {
	text-decoration:underline;
	color: #0D40A6;
}
.citation {
	background: #F5F7F9;
	border-bottom: 1px solid #AFC5D3;
	border-top: 1px solid #AFC5D3;
	padding: 8px;
	font-size: 85%;
	line-height: 140%;
}

/* CONTENT MAIN END */



/* --------------------------------- */

/* CONTENT BOXES START */

div.content-box {
	margin: 0 0 12px 0;
	border: 1px solid #eee;	
}
.content-box-outer {
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 2px solid #999;
}
.content-box-inner {
	background: #F7F7F7;
	border: 1px solid #fff;
	width: inherit;
	}
.content-box h5 {
	background: #2D4758 url(/images/content_box/content_box_heading_background.gif) repeat-x center;
	padding-top: 4px;
	padding-bottom: 4px;
	margin: 0 0 0.5em 0;
	font-size: 107%;
	font-weight: bold;
	color: #fff;
	text-align: center;
	line-height: 100%;
}
.content-box p {
	font-size: 92%;
	line-height: 160%;
	padding-left: .75em;
	padding-right: .75em;
}
.content-box h6 {
	font-size: 92%;
	color: #00236A;
	padding-left: .75em;
	padding-right: .75em;
	margin-bottom: 0;
}

/* ---------------- Main Content Tab-Heading----------------------- */
h2.content-tab {
	font-size: 100%;
	font-weight: bold;
	border-bottom: #2D4758 6px solid;
	border-top: none;
	margin: 0 0 0 0;
	color: #fff;	
	height:auto;
	width: auto;
	}
h2.content-tab a {
	color:#fff;
	position:relative;
	text-decoration:none;
	padding: 0;
	border-bottom:none;
	font-size: 100%;
	}
h2.content-tab a:hover {
	text-decoration:none;
	color:#fff;
	}
h2.content-tab strong {
	border: 1px solid #2D4758;
	left:0;
	right:0;
	bottom:0;
	position:relative;
	padding: 4px 12px 0 12px;
	background: #2D4758 url(/images/content_box/content_box_heading_background.gif) repeat-x bottom;
	-moz-border-radius:4px 4px 0 0;
	border-radius:4px 4px 0 0;	
	-wedkit-border-radius:4px 4px 0 0;	
	}
div.content-tab-body {
	padding: 1.5em 1em .5em 1em;
	background: #FBFBFC;
	border: #D2D5DA 1px solid;
	margin: 0 0 2em 0;
	width: auto;
	}



/* ----------------- HIGHLIGHT BOXES styling---------------- */
.highlight-box-blue table, .highlight-box-yellow table, .highlight-box-green table, .highlight-box-red table	{
	width: 100%;
	}
.highlight-box-blue h4, .highlight-box-green h4, .highlight-box-red h4 {
	color: #000;
	font-size: 114%;
	margin: 0 0 0.5em 0;
	}
.highlight-box-blue h5, .highlight-box-yellow h5, .highlight-box-green h5, .highlight-box-red h5 {
	margin: 0 0 0.5em 0;
	}
.highlight-box-green h5 {
	color: #444;
	font-size: 12px;
	margin-left: 11px;
	
	}
.highlight-box-blue p, .highlight-box-yellow p, .highlight-box-green p, .highlight-box-red p {
	font-size: 92%;
	margin: 0 0 0.5em 0;
	}
.highlight-box-blue, .highlight-box-yellow, .highlight-box-green, .highlight-box-red {
	margin: 0 auto 12px 0;
	padding: 1em;
	width: auto;
	}
.main-content .highlight-box-blue ul, .highlight-box-yellow ul, .highlight-box-green ul, .highlight-box-red ul	{
	list-style: disc outside url("/images/layout/red_chevron_bullet.gif");
	padding-left: 0.4em;
	}
.highlight-box-blue {
	background: #EEEEEE;
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	}
.highlight-box-yellow {
	background: #F4F1E9;
	border-top: 1px solid #CCC1A8;
	border-bottom: 1px solid #CCC1A8;
	}
.highlight-box-yellow h4 {
	color: #660000;
	}
.highlight-box-green {
	background: #E7F1D7;
	border-top: 1px solid #C5DC9C;
	border-bottom: 1px solid #C5DC9C;
	}
.highlight-box-red {
	background: #ECE8E8;
	border-top: 1px solid #C1A4A4;
	border-bottom: 1px solid #C1A4A4;
	}
.highlight-box-red h5, .highlight-box-red h4 {
	color: #990000;
	}
.highlight-box-red h5 a, .highlight-box-red h4 a {
	color: #990000;
	}
.highlight-box-red h5 a:hover, .highlight-box-red h4 a:hover {
	color: #990000;
	text-decoration: underline;
	}

.highlight-box-green #horizontal_list {padding-left: 10px;}

/* ---------------CALENDAR styling-------------- */
.release-calendar td {
	vertical-align: top;
	background:#FAF8F6;
	padding: 0;
	margin: 4px;
	border: 1px solid #ccc;
	width: 20%;
	}
.release-calendar th {
	color: #fff;
	background: #900;
	padding: 4px;
	margin: 4px;
	border: 1px solid #ccc;
	font-weight: bold;
	background-color: #2D4758;
	}
.release-calendar td.holiday {
	background: #E2F2D4;
	}
.release-calendar p {
	font-size: 85%;
	padding: 4px 4px 8px 4px;
	margin: 0;
	line-height: 125%;
	}
.release-calendar p.day {
	background: #E7E1D6;
	text-align: right;
	border-bottom: 1px solid #ccc;
	padding: 2px 4px;
	}
table.release-list {
	/*width: 100%;*/
	}
.release-list th {
	background: #2D4758;
	padding: 4px;
	margin: 4px;
	font-size: 92%;
	font-weight: bold;
	color: #fff;
	}
.release-list th p {
	color: #fff;
	}	
.release-list td {
	vertical-align: top;
	padding: 4px 12px 4px 4px;
	margin: 4px;
	font-size: 92%;
	}

.release-list td.date-cell {
	white-space: nowrap;
	}
.release-list td.time-cell {
	white-space: nowrap;
	}
.release-list td.desc-cell {
	}

.release-list p {
	padding: 0;
	margin: 0;
	line-height: normal;
	}
.release-list .release-list-even-row {
	background:#E5EFFF;
	}
.release-calendar td.other-month {
	background: #E7E1D6;
	}
.release-calendar td.holiday {
	background: #E2F2D4;
	}
.release-calendar td.other-month-holiday {
	background: #E2F2D4;
}
/* CALENDAR END */
/* --------------------------------- */

/* GOOGLE SEARCH START */

#google_spelling, #google_disambiguation,  #google_promotion, #googlesearch-result{

	}

#google_spelling{
    background:#EFD1D1;
    border-top:1px solid #C1A4A4;
    border-bottom:1px solid #C1A4A4;
    padding:0.5em;

	margin-right:200px;

}
#google_disambiguation li{
    padding:0px;
    margin:0px;
    display:inline;
    padding-right: 5em;
    position: relative;

}
#google_disambiguation {
    padding:.5em;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    margin-bottom:1px;
    background-color: #F5F7F9;


}
#google_promotion{
    background:#F4F1E9;
    border-top:1px solid #CCC1A8;
    border-bottom:1px solid #CCC1A8;
    padding:0.5em;
	padding-bottom:0px;
	width:inherit;

  }
#googlesearch-result{

	bottom:1em;


}

div#search-results-box, div#search-sidebox{ 
display:inline;  
vertical-align:top;}

#search-results-box{
float:left;
width:70%;


}

#search-sidebox{
	float:right;
	width:30%;
min-width:195px;
	}
#search-sidebox	#secondary-content-float-outer {
	width:auto;
	}
	
#search-sidebox	.secondary-content h4 a {
	padding-bottom:0;
	margin-bottom:0;
	}
#search-sidebox h3, #search-sidebox h3 a{
	color:#990000;
	font-size:100%;
	font-weight:bold;
	}
#search-sidebox h4 {
	font-size:90%;
	}
#search-sidebox h4 a{
	border-bottom:none;
	}
.googlesearch-item{
    padding:2px;
	padding-top:none;
	position:relative;
}
.googlesearch-link{
    color:#009911;
}
.googlesearch-title{
    font-size:110%;
    padding-bottom:5px;
    font-weight:bold;
}
.googlesearch-title a{
    color: #2647A0;
}
.googlesearch-title a:visited{
    color: #698DDA;
}
.search_result_page_numbers
{
    text-decoration:  none;
}
.search_result_page_numbers a
{
    text-decoration:  none;
    color:#2647A0;
}
.search_result_page_numbers a:visited
{
    text-decoration:  none;
    color:#2647A0;
}

/* Side Bar Content */

#secondary-content-float-outer p, #secondary-content-float-outer li{
    font-size: 11px;
}

#secondary-content-float-inner h3{
	width:100%;
	z-index:2;
	}
	
.etools{
    display:inline;
	
}

.etools a img{
    float:left;
	
}

#meta-top{
 font-size: 90%; 
 margin-left:-1em;
 width:720px;
	
}


#regional_resources{
    text-align: center;
	
}

#regions_wrapper{
  padding-top:1em;
	
}

#secondary-content-float-inner #latest-numbers h3{
	width:auto;
	
	}
#secondary-content-float-inner #latest-numbers {
	padding-top: 1em;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
}


/* query_branding  */


.cse-branding-bottom,
.cse-branding-right {
margin:0;
padding:0
}
.cse-branding-bottom,
.cse-branding-right {
zoom: 1;
}
.cse-branding-bottom:after,
.cse-branding-right:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden
}
.cse-branding-text {
padding-right:1.5em;
font: 10px Arial;
color: #000;
}
.cse-branding-form form {
margin-bottom: 0;
padding-bottom: 0;
}
/* Bottom-specific selectors */
.cse-branding-bottom .cse-branding-logo, 
.cse-branding-bottom .cse-branding-text {
display: block; 
float: right;
padding-right:20px;

}
.cse-branding-bottom .cse-branding-form {
margin-bottom: 3px;
}
.cse-branding-bottom .cse-branding-logo {
padding: 0
}
.cse-branding-bottom .cse-branding-text {
padding-top: 4px
}
.cse-branding-right .cse-branding-form {
float: left;
}
/* Right-specific selectors */
.cse-branding-right .cse-branding-logo, 
.cse-branding-right .cse-branding-text {
margin-left: 4px;

}
.cse-branding-right .cse-branding-form {
float: left;
margin-right: 4px;
}
.cse-branding-right .cse-branding-logo {
padding: 0
}
.cse-branding-right .cse-branding-text {
margin-top: -4px;
 }



/* GOOGLE SEARCH END */
/* --------------------------------- */


/*----------------Regional News Release Page/CPI -------------*/
#regional_map_regions { /* elements from the regions home page */
	width: 596px;
	float: left;
	position: relative;
	margin-left:10px;
	}
#regional-map-key-regions {/* elements from the regions home page */
	width: 165px;
	color: #000;
	line-height: 2.3em;
	float: left;
	position: relative;
	margin: 80px 0 100px 10px;
	font-size: 95%;
	font-family: Arial, Helvetica, sans-serif;
	}
#regional-list	ul {
	clear:both;
	}
#regional_map_regions map title	{
	background-color: #fff;
	color: #333;
	}	
#regional-nr {
	width: inherit;
	line-height: 1.6em;
	}
.main-content #regional-nr h3 a {
	font-size: 85%;
	font-weight: bold;
	text-transform: uppercase;
	}
.main-content #regional-nr h3	{
	border-bottom: 1px dotted #999;
	width: 70%;
	margin-left: 20px;
	}
.main-content #regional-nr h4 a {
	font-size: 100%;
	margin-left: 30px;
	}
.main-content #regional-nr h4{
	margin-top: 20px;
	}
#regional-nr h4#nrhead-1{
	margin-top: 20px;	
}
.nr-title-inactive{
	color: #666;
	text-decoration: none;
	line-height: 1.7em;
	}
.nr-title{
	color: #000;
	line-height: 1.7em;
	text-decoration:underline;
	}
.nr-title a, .nr-title a:hover{
	color: #003399;
	line-height: 1.7em;
	text-decoration:underline;
	}
a:hover.nr-title{
	line-height: 1.7em;
	color: #003399;
	text-decoration:underline;
	}
#regional-map-key	{
	font-size: 90%;
	width: inherit;
	padding-bottom: 30px;
	margin-bottom: 30px;
	}
#regional-map-key a{
	font-size: 90%;
	text-decoration: none;
	color: #000;
	line-height: 2.3em;
	}
#regional-map-key h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 90%;
	color: #990000;	
	width: inherit;
	}
#regional-map-key img, #regional-map-key-regions img {
	margin-right: 10px;
	margin-bottom: 7px;
	float: left;
	}
#regional-map-key span	{
	position: relative;
	float: left;
	}
	

/*------------ CPI - POPUP notice -----------------------*/
#rnr-popup {
	display: none;
	width: 400px;
	border: 10px solid #666;
	border: 10px solid rgba(82, 82, 82, 0.698);
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius: 8px;
	z-index: 1;
	}
#rnr-popup div {
	padding:10px;
	border:1px solid #aa0000;
	background-color:#fff;
	font-family:"lucida grande",tahoma, verdana, arial,sans-serif;
	text-align:center;
	}
#rnr-popup h2 {
	margin:-11px;
	margin-bottom:0px;
	color:#fff;
	background-color:#990000;
	padding:5px 10px;
	border:1px solid #aa0000;
	font-size:20px;
	}
#rnr-popup p {
	padding:10px;
	}	



/*---------------BETA HOMEPAGE styling------------------*/
.beta-product-text {
	float: right;
	position: relative;
	width: 620px;
	margin-right: 10px;
	}
.beta-product {
	margin-bottom: 50px;
	}
.beta-product .beta-icon {
	margin-top: 10px;
	float: left;
	position: relative;
	margin-left: 10px;
	}
.beta-product h4 {
	color: #900;
	}
.beta-product .green-anchor-button {
	float: left;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	margin-top: 0;
	}	
.beta-feedback {
	float: left;
	margin-right: 25px;
	}
.beta-product a, .main-content .beta-product-text p a  {
	color: #698DDA;
	}
.beta-product a:hover  {
	background-color: #FFFFCC;
	}
.main-content .beta-product a.read-more-link {
	color: #900;
	font-family: "Times New Roman", Times, serif;
	font-size: 103%;
	font-style: italic;
	text-decoration: none;
	font-weight: bold;
	}
.main-content .beta-product a:hover.read-more-link {	
	text-decoration: underline;
	}




#main-content-full-width .update 	{
	top: 20px;
	position: relative;
	margin-bottom: 20px;
	}

#errata {width: 85%; margin: 20px auto; border: 1px dotted #990000; padding: 10px 20px;}
#errata p#errata-label {float: left; font-size: 16px; font-weight: bold; border-radius: 5px; font-family: Calibri, Arial, sans-serif;width:70px; color: #fff; letter-spacing: 0.7px;padding: 5px; text-align: center; margin: 7px 15px 10px 0; background-color: #990000; text-transform: uppercase;}
#errata p.errata-text { margin-bottom: 5px; font-family: Arial, helvetica, sans-serif; font-size: 12px;}
#errata p.errata-text:last-child {margin-bottom: 0;}



/*----------------------------------------------------------*/
/*----------------BLS Feature Archives----------------------*/

.archives-tabs h1 {}
.archives-image {margin-left: 15px; border: 1px solid #ccc; padding: 3px; float: right; width: 140px;}
.archives-feature {margin: 10px 35px 5px 35px; height: 145px; display: block;}


.archives-feature a {color: #003399; text-decoration: underline;}
.main-content .archives-feature p {margin: 1px;}

.main-content .archives-feature h5 {font-size: 90%;}
.main-content .archives-feature h5 a {text-decoration: none; font-size: inherit; }
.main-content .archives-feature h5 a:hover {text-decoration: underline;}

.main-content .archives-feature h4 {font-size: 119%;}




/*----------------------------------------------------------*/
/*--------------RSS FEED Subscriptions----------------------*/

#rss_newsrelease {width: inherit; margin-bottom: 40px;}
#rss_newsrelease h4 {margin-top: 5px; margin-left: 15px;}
#rss_newsrelease h4:hover {cursor:pointer;background:#ffffcc;}

#rss_newsrelease a.rss_title, #rss_latestnumbers a.rss_title {text-align: left; float: left; width: 70%; line-height: 1.3em; margin: 0 0 10px 35px; text-decoration: none; color: #003399;}
#rss_newsrelease a:hover.rss_title, #rss_latestnumbers a:hover.rss_title  {text-decoration: underline;}
#rss_newsrelease a:visited.rss_title, #rss_latestnumbers a:visited.rss_title {color: #663366;}

.rss_icon {float: left; }




/*----------------------------------------------------------*/
/*--------------------BLS respondents pages ----------------*/

.main-content #bls-respondents-pages .questions-answers {margin-bottom:0px;}
.main-content #bls-respondents-pages p.question {background: #f7f7f7; border-top: 1px dashed #ccc;  padding: 10px 10px 10px 0;  margin-bottom: 0px; margin-left:30px; font-size: 13px; color: #000; text-decoration: none; font-weight: bold; font-family: Arial, Helvetica, sans-serif;}
.main-content #bls-respondents-pages .answer {padding: 10px 0 0 40px; line-height: 1.5em; margin: 0 0 20px 0; border-top:1px dashed #ccc;}
.main-content #bls-respondents-pages #panes {background: #fff; margin-bottom: 30px; padding: 20px;}
.main-content #bls-respondents-pages .panes .expand {color: #990000; border: none; border-top: 1px dashed #ccc; width: 30px; padding-bottom:1px;  font-size: 18px;  cursor: pointer; left: 0; float: left;  height: 42px; margin-top: -42px; background: #f7f7f7; }
.main-content #bls-respondents-pages .panes .expand:hover {color: #000; }
.clear {clear: both;}
.main-content #bls-respondents-pages .panes div {display: block; min-height: 0; padding:0; border: none;}