﻿@charset "utf-8";

@import url("http://ojsimg.ohmynews.com/css/ohmynews/board.css"); 
@import url("http://ojsimg.ohmynews.com/css/ohmynews/articleview.css");
@import url("http://ojsimg.ohmynews.com/css/ohmynews/articleview_full.css");
@import url("http://ojsimg.ohmynews.com/css/ohmynews/topboard_2015.css");
@import url("http://ojsimg.ohmynews.com/css/common/footer.css");
@import url("http://ojsimg.ohmynews.com/css/ohmynews/search_2015.css"); 
@import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");
@import url("http://ojsimg.ohmynews.com/css/cardnews/cardnews.css");
@import url("http://ojsimg.ohmynews.com/css/ohmynews/special.css");



/***common****/
/* Reset */
html,body{width:100%;height:100%;font-family:Nanum Gothic, "나눔고딕", NanumGothic, dotum, "돋움", Helvetica, sans-serif, Apple-Gothic;}
html{overflow-y:scroll}
body,div,dl,dt,dd,ul,ol,li,span,h1,h2,h3,h4,h5,form,fieldset,p,button,input,label,textarea{margin:0;padding:0;font-family:Nanum Gothic, "나눔고딕",  NanumGothic, dotum, "돋움", Helvetica, sans-serif, Apple-Gothic;font-size:12px;color:#666;}
body,h1,h2,h3,h4,input,button,textarea{font-family:Nanum Gothic, "나눔고딕", NanumGothic, dotum, "돋움", Helvetica, sans-serif, Apple-Gothic;font-size:12px;color:#666}
body{background-color:#fff;*word-break:break-all;-ms-word-break:break-all;}

hr, img,fieldset,iframe{border:0 none}
hr{display:none}
li{list-style:none}
img{border:0}
em,address{font-style:normal}
th{text-align:left;font-weight:normal;}
fieldset{border:none}
legend     { display:none;}
address{font-style:normal;font-size:10px}
.blind{display:none}
textarea{line-height:1.3em}
/*space*/
.m15{margin-bottom:15px}
.m_t15{margin-top:15px}
.m_t40{margin-top:40px}
.m10{margin-bottom:10px}
.m30{margin-bottom:30px}
.pb0{padding-bottom:0 !important}
.pt0{padding-top:0 !important}
.pb15{padding-bottom:15px !important}

.fl{float:left}

/*Link Css */
a:link,  a:visited,  a:active {color:#666;text-decoration:none;font-family:Nanum Gothic, "나눔고딕", NanumGothic, dotum, "돋움", Helvetica, sans-serif, Apple-Gothic;}
a:hover{text-decoration:underline;color:#333}

/*image*/
.img_line{position:relative;z-index:5;}
.line{border:1px solid #ddd;position:absolute;top:0;left:0}

/*color*/
.r01{color:#cd1821 !important}
.bul01{color:#0d54ab}
.fbd{ font-weight:bold}

/*.png24 { tmp:expression(setPng24(this)); }*/

/*layout*/
#news_wrap{width:100%; /*min-width:974px;*/ position: relative;}
#atc_wrap{width:100%; /*min-width:1254px;*/ position: relative;}
#wrap{width:970px; margin:0 auto; position:relative; z-index:1000;}
.con_wrap, #content_wrap{background: url(http://ojsimg.ohmynews.com/images/ohmynews/common/bg01_body.gif) 0 0 repeat-y;width:100%;*zoom:1;padding-bottom:50px}
.con_wrap_w{width:100%;*zoom:1;padding:0px 0 50px 0}
.con_wrap_w:after, .con_wrap:after, #content_wrap:after {content:""; display:block; clear:both;}
.con_wrap_w .content, .con_wrap .content, #content_wrap .content{float:left;width:620px;padding-top:20px}
.con_wrap_w .content, .con_wrap .content{padding-top:0}
.con_wrap_w .aside, .con_wrap .aside, #content_wrap .aside{float:right;width:320px;padding-bottom:50px}
#content_wrap_base{width:100%;padding:35px 0 50px 0}
.block{height:35px;background:#fff;margin-left:-1px;border-bottom:1px solid #d5d5d5;position:relative}
.fscreen{width:100%;text-align:center}
.base_layout{width:972px;margin:0 auto;padding-top:35px}
.notfound_layout{width:972px;margin:0 auto;padding:80px 0 80px 0;}
.notfound_layout .space20{margin:0 auto;padding-top:20px;}


/*footer  common/footer로 옮김 */






/* 모바일버전보기 버튼 */
.m_view{/*min-width:1200px; width:1200px;*/ width:970px; height:140px; margin:0 auto; padding-top:20px; text-indent:-9999em;text-align:center; overflow:hidden; }
@media screen and (-webkit-min-device-pixel-ratio:1.5){.m_view{width:970px; height:140px; margin:0 auto; padding-top:20px; text-indent:-9999em; overflow:hidden; }}
.m_view a{display:block; height:120px; background:url(http://ojsimg.ohmynews.com/images/ohmynews/common/footer_m_viewbtn_o.gif) no-repeat;}
@media screen and (-webkit-min-device-pixel-ratio:1.5){.m_view a{display:block; height:120px; background:url(http://ojsimg.ohmynews.com/images/ohmynews/common/footer_m_viewbtn_o.gif) no-repeat;}}



/*min_header*/
.mini_header{width:100%;background:#454545;height:29px;*zoom:1;position:relative;z-index:3000;min-width:972px;}
.mini_header:after {content:""; display:block; clear:both;}
.mini_gnb_area{float:left;}
.mini_gnb_area ul.mini_gnb{float:left;margin:3px 4px 0 4px;display:inline}
.mini_gnb_area ul.mini_gnb li{float:left}
.mini_gnb_area ul.mini_gnb li a{display:block;padding:5px;font-size:11px;color:#dcdcdc;}
.mini_gnb_area .selec_area{float:left;position:relative;margin-top:5px;z-index:2000;}
.mem_wrap{float:right;margin-right:8px;display:inline}
.mem_wrap li{float:left;background:url(http://ojsimg.ohmynews.com/images/ohmynews/common/bar1.gif) 0 11px no-repeat;padding:5px 4px 0 4px}
.mem_wrap li.first{background-image:none}
.mem_wrap li a{display:block;padding:3px 5px 5px 5px; color:#fff;}
.mem_wrap li.alim span{color:#d9482b}

.selec_area .search_select{position:absolute; left:0px; top:0px; z-index:10}
.m_menu .top_select, .selec_area .top_select{border:1px solid #cccccc; width:78px; height:19px; background:#ffffff;font-size:11px}

.selec_area .top_select a{display:block; color:#999 !important; text-decoration:none; padding: 4px 0 4px 5px;  font-weight:normal; }
.selec_area .top_select span{position:absolute; right:4px; top:5px;}

.m_menu .sel_box, .selec_area .sel_box{border:1px solid #cccccc; width:78px; position:absolute; top:19px; left:0; z-index:100; }
.m_menu .sel_box a, .selec_area .sel_box a{display:block; color:#999 !important; text-decoration:none; padding: 6px 5px 3px 6px; background:#ffffff;  font-weight:normal; font-size:11px}
.m_menu .sel_box li, .selec_area .sel_box li{margin:0; padding:0; float:left; width:78px;}
.m_menu .sel_box a:hover, .selec_area .sel_box a:hover{display:block; color:#666666; text-decoration:none; padding: 6px 5px 3px 6px; background:#f4f4f4; }
.m_menu .search_select .top_select a{color:#999 !important;padding: 5px 0 1px 5px; text-decoration:none;}

/*header*/
.header{position:relative;width:100%;height:178px;border-bottom:1px solid #e6e6e6;background:#FFF;margin:0 auto;z-index:500; margin-top:20px; /*overflow:hidden;*/}
.type1{border-bottom:none;height:125px}
.top_area{height:80px}
h1{position:absolute;top:16px;left:0;width:100%;text-align:center}
.h_snsarea{width: 117px;height: 34px;position:absolute;  top: 34px; left: 0px;z-index:100;overflow:hidden}
.h_snsarea a{float:left;width: 34px;height: 34px;overflow:hidden;margin-right:5px;display:inline}

.h_sns_area{width:300px;height:61px;padding-top:19px}
.h_sns li img{vertical-align:middle}
.h_sns li .tw_ct{background:url(http://ojsimg.ohmynews.com/images/ohmynews/common/bg_count.gif) 0 0 no-repeat;border-right:1px solid #d1d1d1;height:18px;display:inline-block;margin-left:2px}
.h_sns li .tw_ct span{display:inline-block;padding:2px 5px 0 9px;font-size:11px;color:#333;font-family:arial}

.tenmain_con{ position: absolute;top: 12px; left: 114px;}
.tenmain_con .people_c{ padding-left: 15px;}
.tenmain_con .ten_btn{background:url(http://ojsimg.ohmynews.com/images/ohmynews/common/icon_sns_ten.png) 0 0 no-repeat; width: 114px; height: 32px; display: block; text-indent: -999em;}
.tenmain_con .ten_btn:hover{background:url(http://ojsimg.ohmynews.com/images/ohmynews/common/icon_sns_ten_on.png) 0 0 no-repeat; width: 114px; height: 32px; display: block; text-indent: -999em;}
.tenmain_con .tenin{background:url(http://ojsimg.ohmynews.com/images/ohmynews/common/tenin.png) 0 0 no-repeat; width: 15px; height: 17px; display:inline-block;  text-indent: -9999em;  padding: 4px 0px 0px 0px;}
.tenmain_con .tenin01{font-size: 18px;  font-family: arial;text-decoration: none;  letter-spacing: -1px;  font-weight: bold; margin:0px 2px; color:#000;}
.tenmain_con .tenin02{font-size: 11px;}

p.bookmark{height:20px}
p.bookmark a{float:left;background:url(http://ojsimg.ohmynews.com/images/ohmynews/common/icon_bm.gif) 0 0 no-repeat;padding:2px 0 0 17px;font-weight:bold;color:#ccc;font-size:11px;height:14px}
p.bookmark a:hover{color:#666;text-decoration:none}
.h_sns{width:300px;overflow:hidden;position:relative}
.h_sns li{float:left;margin-right:10px}

.gnb_wrap{height:55px;*zoom:1;position:relative;z-index:2000;margin:0 -1px 0 -1px; border-bottom:1px solid #dcdcdc; border-top:2px solid #444;}
.gnb_wrap:after {content:""; display:block; clear:both}
.gnb_wrap .gnb_area{float:left;margin:0px 0 0 1px;display:inline}
.gnb_wrap .gnb_area li{float:left}
.gnb_wrap .sub_gnb li a, .gnb_wrap .gnb_area li a{display:block;text-indent:-9999em;overflow:hidden; background:url(http://ojsimg.ohmynews.com/images/ohmynews/common/gnb00.gif) 0 0 no-repeat; height:55px}
.gnb_wrap .gnb_area li.gnb1{width:68px}
.gnb_wrap .gnb_area li.gnb2{width:119px}
.gnb_wrap .gnb_area li.gnb3{width:68px}
.gnb_wrap .gnb_area li.gnb4{width:68px}
.gnb_wrap .gnb_area li.gnb5{width:83px}
.gnb_wrap .gnb_area li.gnb6{width:111px}
.gnb_wrap .gnb_area li.gnb7{width:104px}
.gnb_wrap .gnb_area li.gnb1 a{background-position: -11px 0px;}
.gnb_wrap .gnb_area li.gnb1 a:hover, .gnb_wrap .gnb_area li.gnb1 a.on{background-position: -11px -100px}
.gnb_wrap .gnb_area li.gnb2 a{background-position: -78px 0;}
.gnb_wrap .gnb_area li.gnb2 a:hover, .gnb_wrap .gnb_area li.gnb2 a.on{background-position: -78px -100px}
.gnb_wrap .gnb_area li.gnb3 a{background-position: -196px 0;}
.gnb_wrap .gnb_area li.gnb3 a:hover, .gnb_wrap .gnb_area li.gnb3 a.on{background-position: -196px -100px}
.gnb_wrap .gnb_area li.gnb4 a{background-position: -258px 0;}
.gnb_wrap .gnb_area li.gnb4 a:hover, .gnb_wrap .gnb_area li.gnb4 a.on{background-position: -258px -100px}
.gnb_wrap .gnb_area li.gnb5 a{background-position: -328px 0;}
.gnb_wrap .gnb_area li.gnb5 a:hover, .gnb_wrap .gnb_area li.gnb5 a.on{background-position: -328px -100px}
.gnb_wrap .gnb_area li.gnb6 a{background-position: -513px 0;}
.gnb_wrap .gnb_area li.gnb6 a:hover, .gnb_wrap .gnb_area li.gnb6 a.on{background-position: -513px -100px}
.gnb_wrap .gnb_area li.gnb7 a{background-position: -412px 0;}
.gnb_wrap .gnb_area li.gnb7 a:hover, .gnb_wrap .gnb_area li.gnb7 a.on{background-position: -412px -100px}
.gnb_wrap .sub_gnb{float:right;display:inline}
.gnb_wrap .sub_gnb li{float:left;}
.gnb_wrap .sub_gnb li.sgnb1{width: 80px;}
.gnb_wrap .sub_gnb li.sgnb2{width: 100px;}
.gnb_wrap .sub_gnb li.sgnb3{width: 80px;}
.gnb_wrap .sub_gnb li.sgnb1 a{background-position: 4px -200px}
.gnb_wrap .sub_gnb li.sgnb2 a{background-position: -82px -200px;}
.gnb_wrap .sub_gnb li.sgnb3 a{background-position: -186px -200px;}
.gnb_wrap .sub_gnb li.sgnb1 a:hover{background-position: 4px -299px}
.gnb_wrap .sub_gnb li.sgnb2 a:hover{background-position: -82px -299px;}
.gnb_wrap .sub_gnb li.sgnb3 a:hover{background-position: -186px -299px;}
.fb_sns{ background:url(http://ojsimg.ohmynews.com/images/ohmynews/common/icon_sns_fb.png) 0 0 no-repeat; text-indent:-999em;}
.tw_sns{ background:url(http://ojsimg.ohmynews.com/images/ohmynews/common/icon_sns_tw.png) 0 0 no-repeat;text-indent:-999em;}
.fb_sns:hover{ background:url(http://ojsimg.ohmynews.com/images/ohmynews/common/icon_sns_fb_on.png) 0 0 no-repeat; text-indent:-999em;}
.tw_sns:hover{ background:url(http://ojsimg.ohmynews.com/images/ohmynews/common/icon_sns_tw_on.png) 0 0 no-repeat;text-indent:-999em;}
.ka_sns{ background:url(http://ojsimg.ohmynews.com/images/ohmynews/common/icon_sns_ka.png) 0 0 no-repeat;text-indent:-999em;}
.ka_sns:hover{ background:url(http://ojsimg.ohmynews.com/images/ohmynews/common/icon_sns_ka_on.png) 0 0 no-repeat;text-indent:-999em;}


.side_area{width:100%;overflow:hidden;border-bottom:1px solid #e6e6e6;height:40px; background-color:#fff;}
.side_area .real{float:left;margin-top:13px}
.side_area .real strong{background:url(http://ojsimg.ohmynews.com/images/ohmynews/common/bul1.gif) right 1px no-repeat;padding:0 8px 0 0;font-size:11px;color:#000;margin:0 10px 0 0}
.side_area .real .text{font-size:12px;color:#000; letter-spacing:-1px;}
.side_area .real .text a{color:#8a9099;}
.side_area .real .text a:hover{color:#666666;}

.side_area .division{font-size:11px;color:#aaaeb3; padding-right:5px; letter-spacing:-1px;}

.side_area .flash{float:left;margin-top:16px}
.side_area .flash strong{background:url(http://ojsimg.ohmynews.com/images/ohmynews/common/bul1.gif) right 1px no-repeat;padding:0 8px 0 0;font-size:11px;color:#ff0000;margin:0 10px 0 0}
.side_area .flash .text{font-size:12px;color:#000; font-weight:bold; letter-spacing:-1px;}
.side_area .flash .text a{color:#000; }
.side_area .flash .text a:hover{color:#ff0000; }

.side_area .search{float:right;padding-top:10px;display:inline; /*width:415px*/}
.side_area .search p.time{float:left;color:#858a99;padding-top:4px}
.side_area .search div.weather{float:left;margin-left:10px;color:#858a99;}
.side_area .search div.weather img{vertical-align:middle;}
.top_area .sch{ position:absolute; right:0px; top: 34px;  border: 1px solid #ddd;}
.top_area .sch .input_text{border:none; width:133px;height:30px;padding:0px 0 0 5px;font-size:12px;background:url(http://ojsimg.ohmynews.com/images/ohmynews/common/txt_input.gif) 35px 6px no-repeat}
.top_area .sch *{vertical-align:middle}
.side_area .search div.sch{float:right;margin-left:10px;display:inline;}


/*시민기자가입자*/
.civic_group{}
.civic_group .con{float: left;   margin: 13px 0px 0px 0px; color:#333333; position:relative;width: 483px;}
.civic_group .con em.a0{ color:#ed3114; font-weight:bold; margin-right:1px;}
.civic_group .con em.b0{ color:#ed3114; font-weight:bold; font-size:11px; margin-right:5px; letter-spacing:-1px;}
.civic_group .con .clink{ color:#333; font-weight:bold; margin-left:7px; text-decoration:underline;}
.civic_group .con .clink:hover{color:#ed3114; font-weight:bold;}
.civic_group .con .noticelist{padding: 0px 34px 0px 34px;overflow: hidden;  text-overflow: ellipsis;  white-space: nowrap;}
.civic_group .con .know{ width:28px; height:28px; margin-right:5px; position:absolute; top:-7px; left:0px; background: url(http://ojsimg.ohmynews.com/images/ohmynews/main/main_title_list.png) -212px -276px no-repeat; text-indent: -9999em; background-color:#ed3114; }
.civic_group .con .onair{ width:28px; height:28px; margin-right:5px; position:absolute; top:-7px; left:0px; background: url(http://ojsimg.ohmynews.com/images/ohmynews/main/main_title_list.png) -215px -316px no-repeat; text-indent: -9999em; background-color:#ed3114; }


/*mini_layer*/
.layer_mini{z-index:2000;position:absolute;top:55px;left:0;background:#FFF;border:1px solid #cd1821;width:972px;*zoom:1; box-shadow: 3px 3px 6px #ccc;-o-box-shadow: 3px 3px 6px #ccc;-moz-box-shadow: 3px 3px 6px #ccc;-webkit-box-shadow: 3px 3px 6px #ccc;}
.layer_mini:after{content:""; display:block; clear:both;}
.gnb_wrap .subgnb{height:20px;padding-top:11px;padding-bottom:9px;*zoom:1}
.gnb_wrap .subgnb:after{content:""; display:block; clear:both;}
.gnb_wrap .subgnb li{float:left;background:url(http://ojsimg.ohmynews.com/images/ohmynews/common/bar3.gif) 0 3px no-repeat;}
.gnb_wrap .subgnb li.first{background:none}
.gnb_wrap .subgnb li a{display:block;color:#10141d;text-indent:0;padding:3px 11px 3px 11px}
.gnb_wrap .subgnb li a:hover{color:#cd1821}
.layer_mini .mini_l{float:left;width:689px}
.layer_mini .mini_r{float:left;width:270px;_width:270px; margin-left:5px;}
.list_picture{float:left;}
.list_picture .img_line{float:left;width:215px;padding-left:10px;position:relative;display:inline;}
.list_picture .img_line a{color:#000}
.list_picture .img_line span.text_link{ font-size:15px; letter-spacing:-0.1em; font-weight:bold; color: #000; display:block;text-align:center;line-height:1.3em;padding:6px 0 0 0}
.list_picture .img_line span.line{width:213px;height:113px; border:solid 1px #e6e6e6; position:absolute;left:10px;top:0;}
.list_picture .img_line .p_zoon{position:absolute;top:1px;left:7px;z-index:105}

.list_minisection{margin-top:7px}
.list_minisection li{ font-size:13px; letter-spacing:-0.1em; background:url(http://ojsimg.ohmynews.com/images/ohmynews/common/bul_sq.gif) 0 6px no-repeat;padding:0 0 6px 8px !important}
.list_minisection li a:hover{color:#333}
.list_minisection li em{color:#cd1821;font-size:11px;margin-right:3px}
.list_minisection li em.green{color:#68980e}
.list_minisection li em.green2{color:#9dca3c}
a.btn_layer_close{position:absolute;bottom:-1px;right:-19px}

.layer_mini .sg1{margin-left:11px}
.layer_mini .sg2{margin-left:77px}
.layer_mini .sg3{margin-left:196px}
.layer_mini .sg4{margin-left:265px}
.layer_mini .sg6{margin-left:527px}
.layer_mini .sg7{margin-left:415px}

.update{font-size:11px;color:#999;text-align:right;font-family:arial;margin:0 9px -4px 0;clear:both}
.mini_ranking{width:950px;margin:20px auto 8px auto;overflow:hidden;border-top:1px solid #e6e6e6}
.mini_ranking li.bg1{background:url(http://ojsimg.ohmynews.com/images/ohmynews/common/box_bg1.gif) 0 0 repeat-y;border-bottom:1px solid #e6e6e6;width:100%;overflow:hidden;padding:19px 0 16px 0}
.mini_ranking li.bg2{background:url(http://ojsimg.ohmynews.com/images/ohmynews/common/box_bg2.gif) 0 0 repeat-y;border-bottom:1px solid #e6e6e6;width:100%;overflow:hidden;padding:19px 0 16px 0}
.mini_ranking li dl{float:left;margin:0 16px 0 16px;display:inline}
.mini_ranking li dl dt{float:left;width:115px;background:url(http://ojsimg.ohmynews.com/images/ohmynews/common/img_rankingtitle.gif) -9999em -9999em no-repeat;text-indent:-9999em;height:46px}
.mini_ranking li dl dd{float:left;width:327px}
.mini_ranking li dl.rk1 dt{background-position:0 0}
.mini_ranking li dl.rk2 dt{background-position:0 -100px}
.mini_ranking li dl.rk3 dt{background-position:0 -200px}
.mini_ranking li dl.rk4 dt{background-position:0 -300px}
.mini_ranking li dl.rk5 dt{background-position:0 -400px}
.mini_ranking li dl li strong{font-size:11px;color:#000;font-family:arial;margin-right:11px}
.mini_ranking li dl.rk1 li.first a{color:#cd1821; font-size:14px; letter-spacing:-0.1em; font-weight:bold;overflow:hidden; text-overflow:ellipsis; white-space:nowrap; word-wrap:normal !important;}
.mini_ranking li dl li.first a{ font-size:14px; font-weight:bold;color:#373737;letter-spacing:-0.1em;}
.mini_ranking li dl ol li{padding-bottom:7px;width:327px;overflow:hidden; text-overflow:ellipsis; white-space:nowrap; word-wrap:normal !important;}
.mini_ranking li dl ol li em{font-weight:bold; font-family: Arial; font-size: 11pt;}
.mini_ranking li dl ol li .ct{float:right;color:#4b6bb0;text-decoration:underline;font-size:11px}
.mini_ranking li dl ol li strong, .mini_ranking li dl ol li a{float:left;font-size:14px; letter-spacing:-0.1em;}

.blog_news{border:1px solid #ddd;background:#f3f3f4;width:265px;padding-bottom:1px}
.blog_news ol{margin:8px 9px 0 13px}
.blog_news ol li{width:100%;overflow:hidden;padding:0 0 5px 0}
.blog_news ol li strong{color:#000;font-size:11px;font-family:arial;margin-right:5px;float:left;}
.blog_news ol li.first a, .blog_news ol li.first .ct{font-weight:bold;letter-spacing:-1px}
.blog_news ol li.first a{color:#575757}
.blog_news ol li a{color:#999;float:left}
.blog_news ol li .ct{float:right;color:#4b6bb0;text-decoration:underline;font-size:11px}
.layer_mini .mini_list_l{width:100%;overflow:hidden}
.layer_mini .mini_list_l li{float:left;width:215px;_width:210px;padding-top:3px;padding-left:10px;display:inline;}
.mini_list_l dl{padding-bottom:5px}
.mini_list_l dd.img_line{padding-bottom:10px; position:relative;}
.mini_list_l dd.img_line .line{width:213px;height:138px; border:solid 1px #e6e6e6; position:absolute;left:0;top:0;}
.mini_list_l dt em.is_tit{font-weight:bold;color:#10141d}
.mini_list_l dt em.is_tit img{vertical-align:middle;margin:0 4px 3px 0;}
.mini_list_l dt strong{font-size: 15px;letter-spacing: -0.1em;font-weight: bold;color: #000;display: block;text-align: center;line-height: 1.3em;padding: 6px 0 0 0;}
.mini_list_l dt a{text-decoration:none;line-height:2em;}
.mini_list_l .list_minisection li{padding:0 0 8px 4px !important;margin-left:0; font-size: 13px; letter-spacing: -0.1em; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}

/*
.mini_r .list_special{border-top:none;width:268px; }
.mini_r .list_special li a{display:block;color:#000;background:url(http://ojsimg.ohmynews.com/images/ohmynews/common/bul_gy.gif) 258px 11px no-repeat;text-decoration:none;padding:8px 17px 2px 10px;line-height:1.3em;font-weight:normal;height:20px;}
.mini_r .list_special li a:hover{background:#f3f3f4 url(http://ojsimg.ohmynews.com/images/ohmynews/common/bul_bl.gif) 258px 11px no-repeat;color:#0d54ab;font-weight:bold}
*/

.mini_r .list_special{border:1px solid #ddd;border-top:none;width:268px;}
.mini_r .list_special li a{display:block;color:#000;background:url(http://ojsimg.ohmynews.com/images/ohmynews/common/bul_gy.gif) 258px 11px no-repeat;text-decoration:none;padding:6px 17px 4px 10px;line-height:1.3em;height:21px;border-top:1px solid #ddd; font-size: 14px; font-weight:bold; letter-spacing: -0.1em;}
.mini_r .list_special li a:hover{background:#f3f3f4 url(http://ojsimg.ohmynews.com/images/ohmynews/common/bul_bl.gif) 258px 11px no-repeat;color:#0d54ab;font-weight:bold;}
.mini_r .mini_title img{margin-bottom:9px}



/* s:광고 컨트롤 */

/* 메인 광고 
#main .ad_right{position:absolute;top:165px;right:-110px}
#main .ad_bn01{position:absolute;top:289px;right:-110px}
#main .ad_bn02{position:absolute;top:480px;right:-110px}
#main .ad_bn02 a{position: relative; width: 100px; height: 100px; background: url(http://ojsimg.ohmynews.com/images/ohmynews/main/main_right_10man.jpg) no-repeat; display: block; text-decoration: none; }
#main .ad_bn02 a span{position: absolute; font-size: 24px; font-family: arial; font-weight: bold; right: 24px; bottom: 28px; color: #272727; text-decoration: none; }
*/
/*ad_bn02는 이전배너/ 141014  ad_bn03 새로 추가  
#main .ad_bn03{position:absolute;top:399px;right:-110px}
#main .ad_bn03 a{position: relative; width: 100px; height: 100px; background: url(http://ojsimg.ohmynews.com/images/ohmynews/main/main_right_club.png) no-repeat; display: block; text-decoration: none; }
#main .ad_bn03 a span{position: absolute; font-size: 18px; font-family: arial; font-weight: bold; right: 32px; bottom: 6px; color: #dc3400; text-decoration: none; letter-spacing:-1px }
*/
/*
#main .main_til_ad{position:absolute;top:179px;right:0px;width:389px;height:389px; z-index:400; }
#main .main_tis_ad{position:absolute;top:179px;right:-110px;width:100px;height:100px;}
*/

.ad_area{border:1px solid #d1d1d1;width:620px;height:140px;margin-bottom:36px;overflow:hidden;}
.ad_area li{float:left}
.ad_area li.ad1{width:250px;border-right:1px solid #d1d1d1}
.ad_area li.ad2 .ad2_in{width:160px;height:120px;margin:10px 0 0 15px; float:left;}
.ad_area li.ad3{width:340px;height:120px;margin:10px 0 0 15px; float:left;}
.ad_area li.ad4{width:369px;height:140px;margin:0; float:left;}
.aside_ad{width:280px;padding:20px;/* float:left;*/}
.aside_ad280{width:280px; margin-top:30px; padding-left:20px;}
.aside_ad320{width:320px; margin-top:30px;}
.aside_google_ad{width:300px;margin:0 auto;padding:10px 0}
.gnbl_ad_area{position:absolute;top:10px;left:0;width:250px;height:70px}
.gnbr_ad_area{position:absolute;top:10px;right:0;width:250px;height:70px}
.promotion_area{position:absolute;top:10px;left:0;width:250px;height:70px}
.promotion_area2{position:absolute;top:10px;right:0;width:250px;height:70px}
.m_ad1{width:100%; margin: 20px 0px;}
.m_ad1 p{position: relative;  width: 728px;  margin: 0 auto;  border: 1px solid #d7d7d7; height:90px;}
.m_ad1 p a.btn_close{position:absolute;  top: -1px;  right: -15px; border:0;}
.m_ad2 {text-align:center; margin-bottom:5px;}
.m_ad3{padding-bottom:30px}
.new_ad3{width:100%; margin: 18px 0px;}
.new_ad3 p{width: 200px;  height:200px; border: 1px solid #d7d7d7;}
.new_ad4{width:100%; margin: 0px 0px 20px 0px; }
.new_ad4 p{width: 420px;  height:50px; background-color:#ddd;}
.new_ad5{width:100%; margin: 63px 0px 64px 0px;}
.new_ad5 p{width: 300px;  height:250px;border: 1px solid #d7d7d7;}
.new_ad6{width:100%; margin: 18px 0px;}
.new_ad6 p{width: 970px;  height:150px; background-color:#ddd;}
.new_ad7{width:100%; margin: 0px 0px 18px 0px;}
.new_ad7 p{width: 468px;  height:60px;   margin: 0 auto;border: 1px solid #d7d7d7;}
.new_ad8{  border: 1px solid #ddd;  display: block;  height: 130px;}


/* 최종기사 TI광고: position:relative=news_view */
.atc_til_ad{position:absolute;top:0;right:0;width:300px;height:300px; z-index:300;}
.atc_tis_ad{position:absolute;top:0;right:-470px;width:100px;height:100px;}

/* 외부경로 최종기사 TI광고: position:relative=news_view */
.outatc_til_ad{position:absolute;top:-220px;right:-360px;width:300px;height:300px;}
.outatc_tis_ad{position:absolute;top:0;right:-470px;width:100px;height:100px}

/* 최종기사 스크롤광고: position:relative=news_view */
.atc_scroll_ad{position:absolute;top:0;left:-81px}

/* 기사최종면 왼쪽 공통광고: position:relative=wrap */
.ad_scroll{width:100px;position:absolute;top:720px;left:-131px;}/*최종면 개편:top위치수정*/
.ad_scroll li{width:100px;height:100px;padding-bottom:5px;float:left;}
.ad_scroll li p{width:100px;position:relative;}
.ad_scroll li p a{margin:0; border:0;}
.ad_scroll li .line{border:1px solid #ddd;width:98px;height:66px;position:absolute;top:0;left:0}
.ad_scroll li dt{width:100px;height:27px;padding-top:5px;text-align:center;}
.ad_scroll li dt a{font-size:11px;color:#999;line-height:12px;letter-spacing:-1px;}
.ad_area620{width:620px; margin-bottom:40px;}

/* 기사최종면 오른쪽 공통광고: position:relative=wrap */
.ad_scroll_rt{width:120px; height:600px; position:absolute; top:165px; right:-140px;}/*최종면 개편:top위치수정*/
.ad_scroll_rt_01{width:120px; height:600px; position:absolute; top:165px; right:-140px;}/*최종면 개편:top위치수정*/

/* 기사최종면 왼쪽 언컷: position:relative=wrap */
.ad_scroll_uncut{width:120px; height:600px; position:absolute; top:165px;left:-131px;}/*광고부요청으로 수정*/

/* 푸터광고 */
.ad_footer{border-top:3px solid #353b4b;width:970px; height:150px; float:left; }
.ad_footer .ad_footer_l{padding:15px 0 15px 10px; width:600px; height:120px; float:left;}
.ad_footer .ad_footer_r{padding:15px 0 15px 10px; width:340px; height:120px; float:left;}

/*.ad_right{position:absolute;top:646px;right:-90px}
.ad_view{position:absolute;top:0;right:0;width:300px;height:300px}*/


/* e:광고 컨트롤 */



/* s:대선특별면 추가*/
.gnb_wrap .gnb_area li.gnb8{width:90px}
.gnb_wrap .gnb_area li.gnb8 a{background-position: -621px 0}
.gnb_wrap .gnb_area li.gnb8 a:hover, .gnb_wrap .gnb_area li.gnb8 a.on{background-position: -621px -100px}


/* s_d-day */
.h_sday a{width:60px;height:20px;position:absolute;top:34px;left:640px;z-index:100; text-indent:-9999em;overflow:hidden; background: url("http://ojsimg.ohmynews.com/images/ohmynews/special_site/president2012/day_sno.png") 0 -999999px no-repeat;}
.h_sday a.d-40{display:block; background-position:0 0;}
.h_sday a.d-39{display:block; background-position:0 -20px;}
.h_sday a.d-38{display:block; background-position:0 -40px;}
.h_sday a.d-37{display:block; background-position:0 -60px;}
.h_sday a.d-36{display:block; background-position:0 -80px;}

.h_sday a.d-35{display:block; background-position:0 -100px;}
.h_sday a.d-34{display:block; background-position:0 -120px;}
.h_sday a.d-33{display:block; background-position:0 -140px;}
.h_sday a.d-32{display:block; background-position:0 -160px;}
.h_sday a.d-31{display:block; background-position:0 -180px;}

.h_sday a.d-30{display:block; background-position:0 -200px;}
.h_sday a.d-29{display:block; background-position:0 -220px;}
.h_sday a.d-28{display:block; background-position:0 -240px;}
.h_sday a.d-27{display:block; background-position:0 -260px;}
.h_sday a.d-26{display:block; background-position:0 -280px;}

.h_sday a.d-25{display:block; background-position:0 -300px;}
.h_sday a.d-24{display:block; background-position:0 -320px;}
.h_sday a.d-23{display:block; background-position:0 -340px;}
.h_sday a.d-22{display:block; background-position:0 -360px;}
.h_sday a.d-21{display:block; background-position:0 -380px;}

.h_sday a.d-20{display:block; background-position:0 -400px;}
.h_sday a.d-19{display:block; background-position:0 -420px;}
.h_sday a.d-18{display:block; background-position:0 -440px;}
.h_sday a.d-17{display:block; background-position:0 -460px;}
.h_sday a.d-16{display:block; background-position:0 -480px;}

.h_sday a.d-15{display:block; background-position:0 -500px;}
.h_sday a.d-14{display:block; background-position:0 -520px;}
.h_sday a.d-13{display:block; background-position:0 -540px;}
.h_sday a.d-12{display:block; background-position:0 -560px;}
.h_sday a.d-11{display:block; background-position:0 -580px;}

.h_sday a.d-10{display:block; background-position:0 -600px;}
.h_sday a.d-09{display:block; background-position:0 -620px;}
.h_sday a.d-08{display:block; background-position:0 -640px;}
.h_sday a.d-07{display:block; background-position:0 -660px;}
.h_sday a.d-06{display:block; background-position:0 -680px;}

.h_sday a.d-05{display:block; background-position:0 -700px;}
.h_sday a.d-04{display:block; background-position:0 -720px;}
.h_sday a.d-03{display:block; background-position:0 -740px;}
.h_sday a.d-02{display:block; background-position:0 -760px;}
.h_sday a.d-01{display:block; background-position:0 -780px;}

.h_sday a.d-00{display:block; background-position:0 -800px;}

/*special 140417*/
.s_header{position:relative;border-bottom:1px solid #e6e6e6;background:#FFF;width:970px;margin:0 auto;z-index:500;}


/* ad_bn03 10만인클럽 후원배너 추가 141014  */


/* 최종면 top 버튼 추가 160420*/
.btn_top{
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 2000;
}
.btn_top a{
    width: 50px;
    height: 50px;
    display: block;
    background-color: #868686;
    background-image: url(http://ojsimg.ohmynews.com/images/star/2016/icon_top.svg);
    background-position: center center;
    background-size: 20px;
    -webkit-background-size:20px;
    -moz-background-size:20px;
    -ms-background-size:20px;
    -o-background-size:20px;
    background-repeat: no-repeat;
    text-indent: -9999em;
}
.btn_top a:hover{background-color: #686868;}


/*연재면 카드뉴스로 교체*/
.mini_list_l dd.img_line .line-card{width:213px;height:213px; border:solid 1px #e6e6e6; position:absolute;left:0;top:0;}

/*연재/카드뉴스 타이틀변경*/
.gnb_wrap .gnb_area li.gnb9{width:120px}
.gnb_wrap .gnb_area li.gnb9 a{background-position: -507px -191px;}
.gnb_wrap .gnb_area li.gnb9 a:hover, .gnb_wrap .gnb_area li.gnb9 a.on{background-position: -507px -291px}