/*  */
.photo_area { margin-top:10px;}
.clock-area {line-height: normal; width:270px; position:relative; overflow:hidden; margin: 0 auto;}
.clock-title {position:absolute; z-index:100; left:15px; top:16px;-webkit-text-shadow: 0 -1px 0 #000;text-shadow: 0 -1px 0 #000;line-height:15px; }
.clock-title  span {font-size:14px; font-weight:bold;  color: #ffffff; padding:0; margin:0; line-height:15px;  text-align:center; }
.clock-title  em { position:absolute; right:0; top:4px; font-size:11px; line-height:11px; color: #777;padding:0; margin:0;  padding-left:5px;font-family:'Helvetica Neue','Helvetica','Arial'!important; font-style:normal}

.count-box{    background-color: #222;
    position: relative;
    bottom: 0px;
    width: 100%;}
.your-clock{
    line-height: normal;
    width: 270px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}

/* Reset */
.flip-clock-wrapper * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}


.flip-clock-wrapper a {
  cursor: pointer;
  text-decoration: none !important;
  border-bottom: none !important;
  color: #fff; }

.flip-clock-wrapper a:hover {
  color: #fff; }

.flip-clock-wrapper ul {
  list-style: none; }

.flip-clock-wrapper.clearfix:before,
.flip-clock-wrapper.clearfix:after {
  content: " ";
  display: table; }

.flip-clock-wrapper.clearfix:after {
  clear: both; }

.flip-clock-wrapper.clearfix {
  *zoom: 1; }

/* Main */
.flip-clock-wrapper {
  font-family: 'Helvetica Neue','Helvetica','Arial' !important;
  -webkit-user-select: none;
   }

.flip-clock-wrapper .flip-clock-meridium {
  background: none !important;
  box-shadow: 0 0 0 !important;
 }

.flip-clock-wrapper .flip-clock-meridium a { color: #fff; }

.flip-clock-wrapper {
  text-align: center;
  position: relative;
  padding: 41px 15px 0;
  height: 70px;
  text-align: center;
  /* display: inline-block; */
    *
  display: inline;
    *
  zoom: 1;
  background: #222;
  margin: 0 auto;
  width: 248px;
}


.flip-clock-wrapper:before,
.flip-clock-wrapper:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.flip-clock-wrapper:after {
    clear: both;
}

/* Skeleton */
.flip-clock-wrapper ul {
  position: relative;
  float: left;
  /*margin: 1px;*/
  width: 28px;
  height: 44px;
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
  border-radius: 0;
  background: #111;
}
.flip-clock-wrapper ul:after {
	content: "";
	position: absolute;
	top: 21px;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 2px;
	background-color: #333;
	background-image: linear-gradient(bottom, #000000 1%, #3c3c3c 21%, #111111 100%);
	background-image: -o-linear-gradient(bottom, #000000 1%, #3c3c3c 21%, #111111 100%);
	background-image: -moz-linear-gradient(bottom, #000000 1%, #3c3c3c 21%, #111111 100%);
	background-image: -webkit-linear-gradient(bottom, #000000 1%, #3c3c3c 21%, #111111 100%);
	background-image: -ms-linear-gradient(bottom, #000000 1%, #3c3c3c 21%, #111111 100%);
  }

.flip-clock-wrapper ul:nth-of-type(odd) li{ padding-left:5px;}
.flip-clock-wrapper ul:nth-of-type(even) li{padding-right:5px;}


.flip-clock-wrapper ul li {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-decoration: none !important;
  margin-left: 0;
  font-family: 'Helvetica Neue','Helvetica','Arial' !important;
}


/*.flip-clock-wrapper ul li:first-child {
  z-index: 2; 
  border-radius: 5px 0 0 5px;}*/

.flip-clock-wrapper ul li a {
  display: block;
  height: 100%;
  -webkit-perspective: 200px;
  -moz-perspective: 200px;
  perspective: 200px;
  margin: 0 !important;
  overflow: visible !important;
  cursor: default !important; }

.flip-clock-wrapper ul li a div {
  z-index: 1;
  position: absolute;
  left: 0;
  width: 100%;
  height: 50%;
  font-size: 35px;
  line-height: 41px;
  overflow: hidden; }

.flip-clock-wrapper ul li a div .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2; }

.flip-clock-wrapper ul li a div.up {
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  top: 0; }



.flip-clock-wrapper ul li a div.down {
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
  bottom: 0;
  }

.flip-clock-wrapper ul li a div div.inn {
  position: absolute;  
  left: 0;
  z-index: 1;
  width: 100%;
  height: 200%;
  color: #ffffff;
 /* text-shadow: 0 1px 2px #000;*/
  text-align: center;
  background-color: #111;
  /*border-radius: 6px;*/
  font-size: 35px;
  line-height:41px ;
  
  }

.flip-clock-wrapper ul li a div.up div.inn {
  top: 0; }

.flip-clock-wrapper ul li a div.down div.inn {
  bottom: 0; }

/* PLAY */
.flip-clock-wrapper ul.play li.flip-clock-before {
  z-index: 3; }

.flip-clock-wrapper .flip {box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.8);}

.flip-clock-wrapper ul.play li.flip-clock-active {
  -webkit-animation: asd 0.5s 0.5s linear both;
  -moz-animation: asd 0.5s 0.5s linear both;
  animation: asd 0.5s 0.5s linear both;
  z-index: 5; }

.flip-clock-divider {
  float: left;
  display: inline-block;
  position: relative;
  width: 5px;
  height: 50px; }

.flip-clock-divider:first-child {
  width: 0; }


.flip-clock-divider .flip-clock-label {
  position: absolute;
  bottom: -10px;
  left:14px;
  width:39px;
  -webkit-text-shadow: 0 -1px 0 #000;
  text-shadow: 0 -1px 0 #000;
  font-size: 10px;
  text-align: center;
  color: #ccc;
  font-family: 'Arial';
  z-index: 10;
  }
@media screen and (min-width:769px) { 
.flip-clock-divider .flip-clock-label { font-weight:bold;}
}
.flip-clock-divider.minutes .flip-clock-label {
left:14px;
  }

.flip-clock-divider.seconds .flip-clock-label {
left:14px;
  }
.flip-clock-dot {
  display: none;
  background: #323434;
  width: 10px;
  height: 10px;
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  left: 5px; }
/*
.flip-clock-dot.top {
  top: 30px; display:none; }

.flip-clock-dot.bottom {
  bottom: 30px; display:none; }*/

@-webkit-keyframes asd {
  0% {
    z-index: 2; }

  20% {
    z-index: 4; }

  100% {
    z-index: 4; } }

@-moz-keyframes asd {
  0% {
    z-index: 2; }

  20% {
    z-index: 4; }

  100% {
    z-index: 4; } }

@-o-keyframes asd {
  0% {
    z-index: 2; }

  20% {
    z-index: 4; }

  100% {
    z-index: 4; } }

@keyframes asd {
  0% {
    z-index: 2; }

  20% {
    z-index: 4; }

  100% {
    z-index: 4; } }

.flip-clock-wrapper ul.play li.flip-clock-active .down {
  z-index: 2;
  -webkit-animation: turn 0.5s 0.5s linear both;
  -moz-animation: turn 0.5s 0.5s linear both;
  animation: turn 0.5s 0.5s linear both; 
  }

@-webkit-keyframes turn {
  0% {
    -webkit-transform: rotateX(90deg); }

  100% {
    -webkit-transform: rotateX(0deg); } }

@-moz-keyframes turn {
  0% {
    -moz-transform: rotateX(90deg); }

  100% {
    -moz-transform: rotateX(0deg); } }

@-o-keyframes turn {
  0% {
    -o-transform: rotateX(90deg); }

  100% {
    -o-transform: rotateX(0deg); } }

@keyframes turn {
  0% {
    transform: rotateX(90deg); }

  100% {
    transform: rotateX(0deg); } }

.flip-clock-wrapper ul.play li.flip-clock-before .up {
  z-index: 2;
  -webkit-animation: turn2 0.5s linear both;
  -moz-animation: turn2 0.5s linear both;
  animation: turn2 0.5s linear both; }

@-webkit-keyframes turn2 {
  0% {
    -webkit-transform: rotateX(0deg); }

  100% {
    -webkit-transform: rotateX(-90deg); } }

@-moz-keyframes turn2 {
  0% {
    -moz-transform: rotateX(0deg); }

  100% {
    -moz-transform: rotateX(-90deg); } }

@-o-keyframes turn2 {
  0% {
    -o-transform: rotateX(0deg); }

  100% {
    -o-transform: rotateX(-90deg); } }

@keyframes turn2 {
  0% {
    transform: rotateX(0deg); }

  100% {
    transform: rotateX(-90deg); } }

.flip-clock-wrapper ul li.flip-clock-active {
  z-index: 3; }

/* SHADOW */
.flip-clock-wrapper ul.play li.flip-clock-before .up .shadow {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, black));
  background: linear, top, rgba(0, 0, 0, 0.1) 0%, black 100%;
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: linear, to bottom, rgba(0, 0, 0, 0.1) 0%, black 100%;
  -webkit-animation: show 0.5s linear both;
  -moz-animation: show 0.5s linear both;
  animation: show 0.5s linear both; }

.flip-clock-wrapper ul.play li.flip-clock-active .up .shadow {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, black));
  background: linear, top, rgba(0, 0, 0, 0.1) 0%, black 100%;
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: linear, to bottom, rgba(0, 0, 0, 0.1) 0%, black 100%;
  -webkit-animation: hide 0.5s 0.3s linear both;
  -moz-animation: hide 0.5s 0.3s linear both;
  animation: hide 0.5s 0.3s linear both; }

/*DOWN*/
.flip-clock-wrapper ul.play li.flip-clock-before .down .shadow {
  background: -moz-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, black), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background: linear, top, black 0%, rgba(0, 0, 0, 0.1) 100%;
  background: -o-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -ms-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: linear, to bottom, black 0%, rgba(0, 0, 0, 0.1) 100%;
  -webkit-animation: show 0.5s linear both;
  -moz-animation: show 0.5s linear both;
  animation: show 0.5s linear both; }

.flip-clock-wrapper ul.play li.flip-clock-active .down .shadow {
  background: -moz-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, black), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background: linear, top, black 0%, rgba(0, 0, 0, 0.1) 100%;
  background: -o-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -ms-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: linear, to bottom, black 0%, rgba(0, 0, 0, 0.1) 100%;
  -webkit-animation: hide 0.5s 0.3s linear both;
  -moz-animation: hide 0.5s 0.3s linear both;
  animation: hide 0.5s 0.2s linear both; }

@-webkit-keyframes show {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-moz-keyframes show {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-o-keyframes show {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes show {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-webkit-keyframes hide {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@-moz-keyframes hide {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@-o-keyframes hide {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@keyframes hide {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }
	

.bgimg {
    position: absolute;
    top: 0;
	z-index: 0;
	background-image: url(http://ojsfile.ohmynews.com/PHT_IMG_FILE/2016/1126/IE002058907_PHT.jpg); background-position-y:center; opacity: 0.5; 
    display: block;
    width: 100%;
    height: 111px;
    background-size: cover;
}
.count-box.mobile{height: 121px;}
.bgimg.mobile{height: 120px;margin-top: 0;}
.flip-clock-wrapper.mobile {width: 280px; height: 110px; padding: 39px 15px 0;}
.clock-title.mobile{left:22px}
.talk-go{    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #ffe400;
    z-index: 20;font-size: 11px;}
.m-talk-go{    position: absolute;
    bottom: 2px;
    right: 11px;
    color: #ffe400;
    z-index: 20;
    font-size: 10px;}