﻿@charset "utf-8";


@import url("base_2015.css");
 
/* 메인 우측광고,TI 컨트롤 */
#main_wrap{min-width:972px; position:relative;}
#main_wrap .main_til_ad{position:absolute;top:0;right:0px;width:389px;height:389px; z-index:400; }
#main_wrap .main_tis_ad{position:absolute;top:0;right:-110px;width:100px;height:100px;}
#main_wrap .ad_bn01{position:absolute;top:110px;right:-110px}
#main_wrap .ad_bn03{position:absolute;top:220px;right:-110px}
#main_wrap .ad_bn03 a{position: relative; width: 100px; height: 100px; background: url(http://ojsimg.ohmynews.com/images/ohmynews/main/main_right_club.png) no-repeat; display: block; text-decoration: none; }
#main_wrap .ad_bn03 a span{position: absolute; font-size: 18px; font-family: arial; font-weight: bold; right: 32px; bottom: 6px; color: #dc3400; text-decoration: none; letter-spacing:-1px }

/*짝수달광고*/
#main_wrap .ad_bn03_02{position:absolute;top:110px;right:-110px}
#main_wrap .ad_bn03_02 a{position: relative; width: 100px; height: 100px; background: url(http://ojsimg.ohmynews.com/images/ohmynews/main/main_right_club.png) no-repeat; display: block; text-decoration: none; }
#main_wrap .ad_bn03_02 a span{position: absolute; font-size: 18px; font-family: arial; font-weight: bold; right: 32px; bottom: 6px; color: #dc3400; text-decoration: none; letter-spacing:-1px }

#main_wrap .ad_bn04_02{position:absolute;top:220px;right:-110px}
#main_wrap .ad_bn04_02 a{position: relative; width: 100px; height: 100px; background: url(http://ojsimg.ohmynews.com/images/ohmynews/main/pod_100x100.jpg) no-repeat; display: block; text-decoration: none; }


/*팟짱광고*/
#main_wrap .ad_bn04{position:absolute;top:330px;right:-110px}
#main_wrap .ad_bn04 a{position: relative; width: 100px; height: 100px; background: url(http://ojsimg.ohmynews.com/images/ohmynews/main/pod_100x100.jpg) no-repeat; display: block; text-decoration: none; }

#main_content{width:100%;*zoom:1;margin-top:20px}
#main_content:after {content:""; display:block; clear:both;}
#main_content .left_con{float:left;width: 640px;}
#main_content .right_con{float:right;width: 312px; margin-left: 17px;}
.column_left{float:left;width:220px;margin-bottom:30px;}
.column_right{float:right;width:280px;}
.col_area{clear:both;margin-bottom:30px;/*padding-top:30px;*/}
.column_right .section{margin-bottom:30px;}
.column_right .m_banner{margin-bottom:30px;}

.tit_noti{overflow:hidden;*zoom:1}
.tit_noti:after {content:""; display:block; clear:both;}
.tit_noti h3.stitle{float:left}
.tit_noti p{float:left;font-size:11px;color:#858a99;padding-top:1px}
h3.stitle{background:url(http://ojsimg.ohmynews.com/images/ohmynews/main/stitle.gif) -9999em -99999em no-repeat;text-indent:-9999em;}
h3.s_noti{width:55px;height:15px;background-position:0 0}
h3.s_series{width:22px;height:15px;background-position:0 -50px}
h3.s_tv{width:47px;height:15px;background-position:0 -100px}
h3.s_photo{width:55px;height:11px;background-position:0 -750px;padding-bottom:7px; margin-top:10px;}
h3.s_kangwon{width:55px;height:11px;background-position:0 -800px;padding-bottom:10px}
h3.s_topnews{width:55px;height:15px;background-position:0 -850px;}
h3.s_school{width:55px;height:11px;background-position:0 -600px;padding-bottom:10px}
h3.s_club{width:53px;height:11px;background-position:0 -650px;padding-bottom:10px}
h3.s_book{width:44px;height:11px;background-position:0 -700px;padding-bottom:10px}
h3.s_ingle{width:43px;height:11px;background-position:0 -550px;padding-bottom:10px}
h3.s_onair{width:43px;height:11px;background-position:0 -150px;padding-bottom:7px}
h3.s_star{width:43px;height:11px;background-position:0 -198px;padding-bottom:10px}
h3.s_soty{width:62px;height:11px;background-position:0 -248px;padding-bottom:10px}
h3.s_isuue{width:21px;height:11px;background-position:0 -298px;padding-bottom:10px}
h3.s_hot{width:24px;height:11px;background-position:0 -348px;padding-bottom:10px}
h3.s_gyeongbuk{width:65px;height:11px;background-position:0 -900px;padding-bottom:10px}
span.bar{font-size:10px;margin:0 2px 0 4px;color:#d0d4d9}

/**/
#main_content .row_box{display: inline-block;width:100%;/*margin:10px 0px;*/}
.row_box:after {content:""; display:block; clear:both;}
.row_box .left00{ float:left; width: 312px;}
.row_box .center00{ margin: 0px 17px; float:left;width: 312px;}
.row_box .right00{width: 312px; float:right;}

/*오마이광장*/
.column_right .box_noti{border:1px solid #e6e6e6;padding:10px 0 2px 0;}
.column_right .box_noti ul{margin:0 0 0 9px}
.column_right .box_noti li{background:url(http://ojsimg.ohmynews.com/images/ohmynews/main/bul_sq.gif) 0 4px no-repeat;padding:0 0 8px 6px;_padding-bottom:6px}

/*많이본기사*/
.column_right .topnews{border:1px solid #e6e6e6;padding:10px 0 0 0;}
.column_right .topnews ul{margin:0 5px 4px 9px}
.column_right .topnews li{padding:0 0 5px 0; overflow:hidden;text-overflow: ellipsis; white-space: nowrap;}
.column_right .topnews li .num{font-family:Arial; font-weight:600; font-size:14px; padding-right:5px;}

.list_unit{margin:0; padding:0;  width: 420px; display:inline-block;}
.list_m1{padding-bottom:20px;}
.list_m1 li{width:100%;overflow:hidden; clear:both;}
.list_m1 li .thumb{float:left;padding:0 10px 10px 0;position:relative;}
.list_m1 li .thumb img{border:solid 1px #e6e6e6;}
.list_m1 li .thumb .line{position:absolute;top:0;left:0;border:0;}
.list_m1 li .thumb .line_ov{position:absolute;top:0;left:0;border:0;}

.list_m1 li p.source{float:right;width:60px;text-align:right;line-height:22px;}
.list_m1 li p.source a{font-size:11px;color:#999;}
.list_m1 li dl{padding-bottom:5px;padding-top:5px;}
.list_m1 li dl dt{letter-spacing:-1px;padding-bottom:3px;}
.list_m1 li dl dt a{font-size:15px;color:#000;font-weight:600;line-height:16px;}
.list_m1 li dl dt .article_sort{font-size:12px;color:#949aaa;padding-right:5px;line-height:16px;}
.list_m1 li dl dt .article_flash{font-size:12px;color:#cd1821;padding-right:5px;font-weight:600;line-height:16px;}
.list_m1 li dl dd a{font-weight:600;color:#999 !important;line-height:14px;}
.list_m1 .re{width:100%; padding-bottom:10px;line-height:14px; float:left;}
.list_m1 .re p{width:340px;background:url(http://ojsimg.ohmynews.com/images/ohmynews/common/ico_reple.gif) 0 0 no-repeat;padding:0 0 4px 20px; float:left;}
.list_m1 .re .row{float:left; width:160px;background:url(http://ojsimg.ohmynews.com/images/ohmynews/common/ico_reple.gif) 0 0 no-repeat;padding:0 10px 4px 20px;}
.list_m1 .re .row .article_sort{font-size:11px;color:#949aaa;padding-right:5px;}

.ac_area{float:left;width:350px}

.photo_list00{width: 200px;float: left; margin-right: 17px;}
.photo_list00 .ph00{ border:1px solid #ddd; display:block; margin-bottom: 17px;}
.photo_list00 .ph00 .pimg{ width: 198px;  height: 125px; border-bottom:1px solid #ddd;}
.photo_list00 .ph00 .p_name{ font-size:11px; color:#999; display:block; padding: 0px 10px 10px 10px;}
.photo_list00 .ph00 .p_tit{ font-size:15px; display:block; font-weight:600;color: #000; padding:10px; line-height:17px;}



/*박스*/
.g_box{border:1px solid #ddd; display:block; margin-bottom: 17px; width: 300px; padding: 5px; position:relative;}
.g_box .g_p{ width:270px;border:1px solid #ddd;  margin: 0 auto; margin-top: 12px; margin-bottom: 12px; position: relative;}
.g_box .g_p a{display:block;}
.g_box .g_p .rect{  width: 100%;  height: 170px;}
.g_box .g_p .squ{  width: 270px;  height: 270px;}
.g_box .g_p .g_up_txt{ position:absolute; bottom:0px; width: 100%; font-size:17px; font-weight:600; text-align:center; line-height:18px;  text-shadow: 1px 1px 1px #000;  background: url(http://ojsimg.ohmynews.com/images/ohmynews/main/t_bg.png) repeat;}
.g_box .g_p .g_up_txt a{ display:block; padding: 10px;color:#fff; letter-spacing:-1px;  line-height: 19px;}
.g_box .g_p .g_up_txt .lnk{ display:block; padding: 10px;color:#fff; letter-spacing:-1px;  line-height: 19px;font-size:17px;}
.g_box .g_p .g_up_txt img{ width:270px; height:270px;}

/*박스추가*/
.g_box .g_p_other{width:270px;border:1px solid #ddd;margin: 0 auto;margin-top: 12px;margin-bottom: 12px;position: relative;height: 170px;overflow: hidden;}
.g_box .g_p_other a{display:block;}
.g_box .g_p_other .rect{width: 100%;/* height: 170px; */}
.g_box .g_p_other .squ{  width: 270px;  height: 270px;}
.g_box .g_p_other .g_up_txt{ position:absolute; bottom:0px; width: 100%; font-size:17px; font-weight:600; text-align:center; line-height:18px;  text-shadow: 1px 1px 1px #000;  background: url(http://ojsimg.ohmynews.com/images/ohmynews/main/t_bg.png) repeat;}
.g_box .g_p_other .g_up_txt a{ display:block; padding: 10px;color:#fff; letter-spacing:-1px;  line-height: 19px;}
.g_box .g_p_other .g_up_txt .lnk{ display:block; padding: 10px;color:#fff; letter-spacing:-1px;  line-height: 19px;font-size:17px;}
.g_box .g_p_other .g_up_txt img{ width:270px; height:270px;}


.g_box .g_list{ padding:0px 10px 7px 10px;}
.g_box .g_list li{font-size:15px; padding:5px 5px 1px 14px; background: url(http://ojsimg.ohmynews.com/images/ohmynews/main/bul_sq.gif) 6px 11px no-repeat;  overflow: hidden;  text-overflow: ellipsis;  white-space: nowrap;}
.g_box .g_list li a{color:#000;}
.g_box .g_list .on{font-weight:600;}

.g_box .g_list00{ padding:5px 10px 10px 10px;  clear: both;}
.g_box .g_list00 li{font-size:13px; padding:5px 5px 1px 14px; background: url(http://ojsimg.ohmynews.com/images/ohmynews/main/bul_sq.gif) 6px 11px no-repeat;  overflow: hidden;  text-overflow: ellipsis;  white-space: nowrap;}
.g_box .g_list00 li a{color:#000;}
.g_box .g_list00 li em{ font-size:11px; font-weight:600; letter-spacing:-1px; margin-right:3px;}
.g_box .g_list00 .on{font-weight:600;}
.g_box .box002 {  margin-top: 7px; display:inline-block;}
.g_box .box002 .abox{  float: left;   padding: 5px 5px 5px 7px;}
.g_box .box002 .box_line{  border: 1px solid #ddd;  display: inline-block;width: 132px;  height: 132px;  overflow: hidden;}
.g_box .box002 .cap{font-size: 13px;  font-weight: 600;  width: 130px;  padding: 8px 4px 2px 4px;overflow: hidden;  text-overflow: ellipsis;  white-space: nowrap; color:#000;}
.g_box .box002 .cap01{font-size: 13px;  font-weight: 600;  width: 130px;  padding: 8px 4px 2px 4px; color:#000;}
.g_box .box002 .cap_txt{ font-size:11px;width: 130px;  padding: 0px 4px 0px 4px; letter-spacing:-1px;  line-height: 14px;}
.g_box .box002 .bbox{  float: left;   padding: 5px 5px 5px 7px;}

.g_tit{ height:36px;line-height:36px; position:relative;}
.g_tit a{background: url(http://ojsimg.ohmynews.com/images/ohmynews/main/main_title_list.png) no-repeat; text-indent:-9999em;}
.g_tit .sns_00{ width:77px; float: left;  margin-top: 10px;}
.g_tit .sns_00 a{display: inline-block;}
.g_tit .sns_00 .fb{background-position: -144px 0px;  width: 24px;  height: 24px;  margin-right: 2px;}
.g_tit .sns_00 .fb:hover{opacity: .7;  filter: alpha(opacity=70);}
.g_tit .sns_00 .tw:hover{opacity: .7;  filter: alpha(opacity=70);}
.g_tit .sns_00 .tw{background-position: -173px 0px;  width: 24px;  height: 24px; margin-right: 2px;}
.g_tit .sns_00 .ka:hover{opacity: .7;  filter: alpha(opacity=70);}
.g_tit .sns_00 .ka{background-position: -114px 0px;  width: 24px;  height: 24px;}
.g_tit .puls{ position:absolute; right:15px; top:15px; background-position: -176px -33px;  width: 16px;  height: 16px;}
.g_tit .puls:hover{ position:absolute; right:15px; top:15px; background-position: -146px -33px;  width: 16px;  height: 16px;}
.g_tit .ostar00{ background-position: 10px 14px;  width: 95px;  height: 33px;float: left;}
.g_tit .popular_title{background-position: 10px -24px;  width: 95px;  height: 33px;float: left;}
.g_tit .notice{background-position: 10px -209px;;  width: 95px;  height: 33px;float: left;}
.g_tit .s_story{background-position: 10px -172px;  width: 105px;  height: 33px;float: left;}
.g_tit .blog{background-position: 10px -388px;  width: 100px;  height: 33px;float: left;}
.g_tit .issuespecial{background-position: 10px -427px;  width: 115px;  height: 33px;float: left;}
.g_tit .hot{  width: 58px;  height: 33px;float: left;  background: url(http://ojsimg.ohmynews.com/images/ohmynews/main/main_title_list.png) 10px -319px no-repeat; text-indent:-9999em;}
.g_tit .moi{background-position: 10px -355px;  width: 58px;  height: 33px;float: left;}
.g_tit .serial{background-position: 10px -466px;  width: 58px;  height: 33px;float: left;}
.g_tit .ten{background-position: 10px -581px;  width: 95px;  height: 33px;float: left;}
.g_tit .school{background-position: 10px -618px;  width: 95px;  height: 33px;float: left;}
.g_tit .book{background-position: 10px -655px;  width: 80px;  height: 33px;float: left;}
.g_tit .local{background-position: 10px -247px;  width: 80px;  height: 33px;float: left;}
.g_tit .live{background-position: -3px -283px;  width: 120px;  height: 33px;float: left;}
.g_tit .kang{background-position: 10px -504px;  width: 102px;  height: 33px;float: left;}
.g_tit .kyoung{background-position: 10px -542px;  width: 102px;  height: 33px;float: left;}
.g_tit .card{background-position: 10px -689px;  width: 102px;  height: 33px;float: left;}



/*추천시민기자*/
.civic{ width: 300px; height: 332px; border:1px solid #ddd ; background-color:#f1f1f1; padding: 5px;}
.civic .titl{background: url(http://ojsimg.ohmynews.com/images/ohmynews/main/main_title_list.png) 0px -135px no-repeat; text-indent:-9999em;height: 33px;width: 132px;margin: 0 auto;margin-top: 25px;}
.civic .man {margin-top:30px;}
.civic .man .face{ width:138px; height:138px;  margin: 0 auto;}
.civic .man .face img{ width:138px; height:138px;}
.civic .man .face .round{ border-radius: 50% 50%; border:1px solid #ddd; }
.civic .man .c_name{   font-size: 15px;  font-weight: 600;  text-align: center;  padding: 15px 15px 5px 15px;  color: #000;  letter-spacing: -1px;}
.civic .man .snsbox{text-align:center;}
.civic .man .snsbox a{background: url(http://ojsimg.ohmynews.com/images/ohmynews/main/main_title_list.png) no-repeat;display: inline-block; margin:2px;width: 24px;    height: 24px;}
.civic .man .snsbox .fb{background-position: -147px -89px;  width: 24px;  height: 24px;}
.civic .man .snsbox .tw{background-position: -174px -89px;  width: 24px;  height: 24px;}
.civic .man .snsbox .fb:hover{opacity: .7;  filter: alpha(opacity=70);}
.civic .man .snsbox .tw:hover{opacity: .7;  filter: alpha(opacity=70);}
.civic .man .snsbox .winbox{  position:relative;  }
.civic .man .snsbox .win{background-position: -147px -120px;  width: 24px;  height: 24px;}
.civic .man .snsbox .win:hover{opacity: .7;  filter: alpha(opacity=70);}
.civic .man .snsbox .win_on{background-position:-173px -120px;  width: 24px;  height: 24px;}
.civic .man .snsbox .win_on:hover{opacity: .7;  filter: alpha(opacity=70);}
.civic .man .snsbox .winbox .bubble{position:absolute; top: -23px; left: -4px; width:38px; height:25px; line-height:25px;font-size:11px; color:#fff;  background: url(http://ojsimg.ohmynews.com/images/ohmynews/main/main_title_list.png) -348px -97px no-repeat;  letter-spacing: -1px; }
.civic .c_list{font-size: 13px;  padding: 5px 5px 1px 14px;  background: url(http://ojsimg.ohmynews.com/images/ohmynews/main/bul_sq.gif) 6px 11px no-repeat;  overflow: hidden;  text-overflow: ellipsis;  white-space: nowrap;}


/*공지사항*/
.list_em{ padding:10px; overflow-y: auto;   height: 257px;  margin-top: 18px;}
.list_em li .t0{ font-size:11px; font-weight:700; margin-right:4px; color:#8c8c8c;}
.list_em li{  font-size: 14px;height: 24px;   padding: 1px 0px 1px 5px;  line-height: 24px;letter-spacing:-1px;  border-bottom: 1px dotted #ddd;overflow: hidden;  text-overflow: ellipsis;  white-space: nowrap;}

/*모이/핫*/
.way_left{ position:absolute; top: 36%;left: 0px;  background: url(http://ojsimg.ohmynews.com/images/ohmynews/main/main_title_list.png) -352px 0px no-repeat;  width: 42px;  height: 86px;text-indent:-9999em;}
.way_left:hover{  opacity: .7;  filter: alpha(opacity=70);}
.way_right:hover{  opacity: .7;  filter: alpha(opacity=70);}
.way_right{ position:absolute; top:36%; right:0px;background: url(http://ojsimg.ohmynews.com/images/ohmynews/main/main_title_list.png) -405px 0px no-repeat; width: 42px;  height: 86px;text-indent:-9999em;}

/*지역뉴스*/
.g_box_large{border:1px solid #ddd; display:block; margin-bottom:20px;}
.g_box_large .g_p{ width:270px; /* height:170px; */ border:1px solid #ddd;  margin: 0 auto; margin-top: 12px; margin-bottom: 12px; position: relative;}
.g_box_large .g_p .g_up_txt{ position:absolute; bottom:0px; width: 100%; font-size:16px; font-weight:600; text-align:center; line-height:18px;  background-color: rgba(0, 0, 0, 0.60); text-shadow: 1px 1px 1px #000;}
.g_box_large .g_p .g_up_txt a{ display:block; padding: 10px;color:#fff; letter-spacing:-1px;  line-height: 19px;}
.local_left{ float:left; width: 642px;}
.local_right{ float:right;}
.more00{  position: absolute;  bottom: -36px; left: 0px;}
.more00 .moreimg{  width: 310px;  display: block;  height: 28px;  line-height: 28px;  text-align: center;  background-color: #f1f1f1;  border: 1px solid #ddd;  font-size: 11px;  text-decoration: none;}
.more00 .moreimg:hover{ background-color: #ededed; border: 1px solid #c4c4c4;}
.tree{ position:absolute; right:0px; bottom: -55px; }
.tree .txtt{  font-size: 11px;  color: #949aaa;  padding-right: 20px;  background: url(http://ojsimg.ohmynews.com/images/ohmynews/main/newtree.png) 65px -1px no-repeat;  display: block;  letter-spacing: -1px;}

.flow_box{ padding: 10px 10px 10px 0px; position:relative;  height: 300px; overflow-y: auto;  overflow-x: hidden;}
.flow_box .list_flow{ position:absolute; top: 7px; left: -6px;margin-left: 17px; border-left: 1px solid #ddd;}
.flow_box .f_list{ margin: 3px 0px 3px -6px;  display: inline-block;}
.flow_box .f_list li{float:left;}
.flow_box .f_list em{background: url(http://ojsimg.ohmynews.com/images/ohmynews/main/main_title_list.png) no-repeat; display: inline-block;  margin-right: 5px;}
.flow_box .f_list em.on{background-position: -348px -131px;  width:15px; height:15px;}
.flow_box .f_list em.off{background-position: -374px -131px ; width:15px; height:15px;}
.flow_box .f_list .l01{padding: 10px 0px 0px 0px;}
.flow_box .f_list .l02{ font-size:11px; color:#bcbcbc; margin-right: 5px; padding: 5px 0px 0px 0px;}
.flow_box .f_list .l03{width:190px;background-color:#fff;box-shadow: 2px 2px 3px -3px rgba(0,0,0,0.4);}
.flow_box .f_list .l03 a:hover{ border:1px solid #7b7b7b;}
.flow_box .f_list .l03 a.on{border:1px solid #db0000; padding:5px; display: block; font-weight:600;}
.flow_box .f_list .l03 a{ border:1px solid #ddd; padding:5px; display: block; text-decoration:none;}

.g_box_large .list_news{ padding:5px;display:inline-block;}
.g_box_large .list_news li{ margin: 5px 4px; float:left; width: 148px;  height: 137px; }
.g_box_large .list_news li .line00 { border: 1px solid #e6e6e6;display:inline-block; position:relative;}
.g_box_large .list_news li .line00 img{ width: 148px;  height: 93px;}
.g_box_large .list_news li span{position: absolute;top: 0px;left: 0px;}
.g_box_large .list_news li .line00 .name01{background-color:#63a028;font-size:11px; font-weight:600; color:#fff;line-height: 19px;text-align: center;letter-spacing: -1px;padding: 0px 5px;}
.g_box_large .list_news li .txt00{padding: 5px;  letter-spacing: -1px;  line-height: 16px; }
.g_box_large .list_news li .txt00 a{ height:42px;}


/*강원도/경상북도여행*/
.g_box_trip{ border:1px solid #ddd;height: 160px; margin-bottom: 17px;  padding: 5px;}
.g_box_trip .g_p{ width:270px; /* height:170px; */ border:1px solid #ddd;  margin: 0 auto; margin-top: 12px; margin-bottom: 12px; position: relative;}
.g_box_trip .g_p .g_up_txt{ position:absolute; bottom:0px; width: 100%; font-size:16px; font-weight:600; text-align:center; line-height:18px;  background-color: rgba(0, 0, 0, 0.60); text-shadow: 1px 1px 1px #000;}
.g_box_trip .g_p .g_up_txt a{ display:block; padding: 10px;color:#fff; letter-spacing:-1px;  line-height: 19px; /* height:37px; */}
.trip_left{ float:left;  width: 478px;}
.g_box_trip .trip_box{ margin-top:5px;}
.g_box_trip .po_box{float: left;width: 244px;}
.g_box_trip .po_con{padding-left: 5px;  float: left;width: 209px;margin-top: 3px;}
.g_box_trip .po_con li{ padding-left:14px; background: url(http://ojsimg.ohmynews.com/images/ohmynews/main/bul_sq.gif) 6px 8px no-repeat; padding: 3px 0px 3px 14px;  overflow: hidden;  text-overflow: ellipsis;  white-space: nowrap;}
.g_box_trip .po_box .g01{ float:left; width: 117px; margin: 5px 0px 5px 5px;}
.g_box_trip .po_box .g01 img{ width: 100%;  height: auto;}
.g_box_trip .box{border:1px solid #ddd;display: inline-block;}
.g_box_trip .box_tx{padding:5px; font-size:11px;  line-height: 14px;}
.g_box_trip .po_box .g02{ float:right; width:117px; margin: 5px 0px 5px 5px;}
.g_box_trip .po_box .g02 img{ width: 100%;  height: auto;}
.trip_right{ float:right;  width: 478px;}

/*카드뉴스추가*/
.right_card{ float:right;  width: 478px;}
.right_card .g_box_card{ border:1px solid #ddd;height: 160px; margin-bottom: 17px;  padding: 5px;}
.g_box_card .card_box{margin-top:5px;}
.g_box_card .card_box .sumbox{  padding: 0px 10px;display: inline-block;}
.g_box_card .card_box .sumbox li{ float:left; width:72px; margin:8px;}
.g_box_card .card_box .sumbox li img{ width: 70px;  height: 70px;}
.g_box_card .box{border:1px solid #ddd;display: inline-block;}
.g_box_card .box_tx{padding:5px 0px; font-size:11px;  line-height: 14px; letter-spacing: -1px;}


/*tv 포토*/
.ohmytv_box{ float:left; width: 480px;  background-color: #222;}
.ohmyphoto_box{width: 480px; float: right;  background-color: #222;}
.m_box{ width:480px;}
.m_box .m_titl{ position:relative; height:35px; line-height:35px; }
.m_box .m_titl a{background: url(http://ojsimg.ohmynews.com/images/ohmynews/main/main_title_list.png) no-repeat; display: inline-block;text-indent: -9999em;float: left;}
.m_box .m_titl .photo{background-position: 10px -60px;  width: 90px;  height: 35px;}
.m_box .m_titl .tv{background-position: 10px -96px;  width: 84px;  height: 35px;}
.m_box .m_titl .m_sns{ width: 60px; float:left;  margin-top: 10px;}
.m_box .m_titl .m_sns .fb{background-position: -147px -89px;  width: 24px;  height: 24px;  margin-right: 2px;}
.m_box .m_titl .m_sns .tw{background-position: -173px -89px;  width: 24px;  height: 24px;}
.m_box .m_titl .m_sns .fb:hover{opacity: .7;  filter: alpha(opacity=70);}
.m_box .m_titl .m_sns .tw:hover{opacity: .7;  filter: alpha(opacity=70);}
.m_box .mcon{width: 456px; margin: 0 auto;  margin-top: 12px;  margin-bottom: 12px;  position: relative;}
.m_box .mcon img{ width:456px;}
.m_box .mcon a{display:inline-block;}
.m_box .mcon .playbtn{background: url(http://ojsimg.ohmynews.com/images/ohmynews/main/main_title_list.png) -417px -260px no-repeat; width: 80px;  height: 80px;text-indent:-9999em; position:absolute;   top: 39%;  left: 42%; z-index:500;}
.m_box .mcon a:hover{opacity: .7;  filter: alpha(opacity=70);}
.m_box .c_tit{padding: 0px 10px 10px 10px; position:relative;}
.m_box .c_tit .m_tit a{ color:#fff;}
.m_box .c_tit .m_tit{ font-weight:600; font-size:15px; color:#fff;  overflow: hidden;  text-overflow: ellipsis;  white-space: nowrap;  margin-right: 80px;}
.m_box .c_tit em{color:#8c8c8c; font-size:11px; position:absolute; top: 0px; right: 10px;}
.m_box .c_tit em a{color:#8c8c8c;}
.m_box .plist{ display: inline-block; padding: 0px 10px 10px 10px;}
.m_box .plist li{float:left;  margin: 3px; position:relative;}
.m_box .plist li a{ border: 1px solid #222;width: 107px; height:67px; display:block;}
.m_box .plist li .on{border:1px solid #6b93f8;}
.m_box .plist li img{width: 107px; height:67px;}
.m_box .plist li a:hover{ border:1px solid #6b93f8; opacity: .7;  filter: alpha(opacity=70);}
.m_box .plist .playbtn_s{background: url(http://ojsimg.ohmynews.com/images/ohmynews/main/main_title_list.png) -372px -261px no-repeat; width: 30px;  height: 30px;text-indent:-9999em; position:absolute;   top: 30%;  left: 35%;}
.m_box .m_titl .onair{background: url(http://ojsimg.ohmynews.com/images/ohmynews/main/main_title_list.png) -245px -4px no-repeat; width: 57px;  height: 18px;text-indent:-9999em; position:absolute; top: 15px; right:10px;}


/*인기기사*/
.like{ padding:10px;}
.like li{ position:relative; border-bottom: 1px dotted #ddd; padding: 12px 0px 12px 26px;}
.like li em{ position:absolute; top:10px; left:0px;background: url(http://ojsimg.ohmynews.com/images/ohmynews/main/main_title_list.png) no-repeat;text-indent:-9999em; }
.like li em.no1{background-position: -216px 0px;  width: 20px;  height: 25px;}
.like li em.no2{background-position: -216px -60px;  width: 20px;  height: 25px;}
.like li em.no3{background-position: -216px -117px;  width: 20px;  height: 25px;}
.like li em.no4{background-position: -216px -175px;  width: 20px;  height: 25px;}
.like li em.no5{background-position: -216px -231px;  width: 20px;  height: 25px;}
.like li .list{ font-size:15px;overflow: hidden;  text-overflow: ellipsis;  white-space: nowrap; color:#000; display:block;letter-spacing: -0.8px;}
.like li .list.on{ font-weight:600;}
.like li.none{ border:none;}
.like li .resns{  padding: 5px 0px 0px 0px;  line-height: 18px;}
.like li .resns .bg00{background: url(http://ojsimg.ohmynews.com/images/ohmynews/main/main_title_list.png)  no-repeat;display: inline-block; }
.like li .resns .comment00{background-position:-148px -55px; width: 18px;  height: 18px; }
.like li .resns .sns00{background-position: -177px -55px; width: 18px;  height: 18px; cursor:pointer; position:relative; margin-right:3px;}
.like li .resns .sns00:hover{ border-radius: 5px;  background-color: #e7e7e7;}
.like li .resns .txt00{ font-size:11px; font-weight:600;width: 70px; display: inline-block;}
.like li .resns .open_sns{ position:absolute;   left: 70px;  top: -3px; background-color:#fff; width: 55px; }
.like li .resns .open_sns a{background: url(http://ojsimg.ohmynews.com/images/ohmynews/main/main_title_list.png)  no-repeat; text-indent:-9999em; margin-right:2px;}
.like li .resns .open_sns .fb{background-position:-143px 0px;  width: 24px;  height: 24px;display: block;float: left;}
.like li .resns .open_sns .tw{background-position:-172px 0px; width: 24px;  height: 24px;display: block;float: left;}
.like li .resns .open_sns .fb:hover{opacity: .7;  filter: alpha(opacity=70);}
.like li .resns .open_sns .tw:hover{opacity: .7;  filter: alpha(opacity=70);}

/*데2/데3*/
.de2box{ margin: 30px 0px 25px 0px; display: inline-block; border-bottom: 1px dotted #ddd; width: 950px; padding: 0px 10px;}
.de2box .delist_box01{float: left;width: 480px;}
.de2box .delist_box02{float: right;}

.de3box{margin-bottom:15px; display: inline-block; width: 950px;    padding: 0px 10px;}
.de3box .delist_box01{float: left;width: 480px;}
.de3box .delist_box02{float: right;}



/*오마이포토*/
.m_photo{margin-bottom:30px;position:relative;width:100%; clear:both;}
.photo_box{border:1px solid #ddd;padding:9px 9px 9px 9px;text-align:center}
.photo_box strong{display:block;padding:8px 0 2px 0}
.photo_box a{font-weight:600;color:#000;font-size:14px;letter-spacing:-1px;text-decoration:none}
.photo_box a:hover{color:#004d9c;}
.photo_box a span{font-size:12px;color:#004d9c;margin-right:5px}


/*타이틀 좌우이동컨트롤*/
.m_pg{position:absolute;top:0;right:0;width:60px;text-align:right;}
.m_pg span{color:#949aaa;font-size:11px;margin-right:3px;}
.m_pg span em{color:#cd1821;}
.m_pg a{display:inline-block;overflow:hidden;border:1px solid #ddd;width:13px;height:13px;vertical-align:middle;margin:0 0 3px 0;text-decoration:none !important}
.m_pg a span{text-indent:-9999em;display:none}
.m_pg a.btn_mpre{background:#fff url(http://ojsimg.ohmynews.com/images/ohmynews/main/btn_arw_pre.gif) 4px 3px no-repeat}
.m_pg a.btn_mpre:hover{background:#f3f3f4 url(http://ojsimg.ohmynews.com/images/ohmynews/main/btn_arw_pre_on.gif) 4px 3px no-repeat}
.m_pg a.btn_mnext{border-left:none;background:#fff url(http://ojsimg.ohmynews.com/images/ohmynews/main/btn_arw_next.gif) 5px 3px no-repeat}
.m_pg a.btn_mnext:hover{border-left:none;background:#f3f3f4 url(http://ojsimg.ohmynews.com/images/ohmynews/main/btn_arw_next_on.gif) 5px 3px no-repeat}


/*오마이TV*/
.list_ohmytv{border:1px solid #ddd;height:243px; overflow:hidden;}
.tv_noti{padding:18px 9px 18px 9px;height:47px;background:#f3f3f4;}
.live_noti dt{color:#000;padding-bottom:4px}
.live_noti dd{width:245px;height:13px;border:1px solid #ddd;background:#fff;font-size:11px;line-height:13px;font-weight:600;color:#4978bc;padding:10px 7px 7px 6px;overflow:hidden;}
.live_noti dd a{color:#4978bc}
.live_noti dd a:hover{color:#0d54ab}
.live_noti dd span{color:#666}

.on_air {padding:9px 10px 9px 10px;overflow:hidden;background:#fff}
.on_air dt{float:left;width:110px;height:62px; margin-right:10px; position:relative;}
.on_air dt .line{position:absolute;left:0;top:0;width:108px; height:60px; border:solid 1px #e6e6e6;}
.on_air dt .line_ov{position:absolute;left:0;top:0;width:106px; height:58px; border:solid 2px #4978bc;}
.on_air dt .btn_vod{position:absolute;right:5px;bottom:5px;}
.on_air dd{float:left;line-height:1.2em;width:138px;}
.on_air dd p.time{background:url(http://ojsimg.ohmynews.com/images/ohmynews/common/icon_group.gif) 0 -148px no-repeat;padding:0 0 0 15px;font-size:11px;color:#999;margin-top:3px;}

.scroll{overflow-y:auto;
	scrollbar-arrow-color:#c5c9cc;/*화살표*/
	scrollbar-base-color:#e9e9e9;/*기본*/
	scrollbar-darkshadow-color:#FFFFFF;/*어두운 그림자*/
	scrollbar-face-color:#FFFFFF;/*배경*/
	scrollbar-highlight-color:#e9e9e9;
	scrollbar-shadow-color:#c5c9cc;/*화살표비활성시*/

}

.scroll_list{height:351px;overflow-y:auto;
	scrollbar-arrow-color:#c5c9cc;/*화살표*/
	scrollbar-base-color:#e9e9e9;/*기본*/
	scrollbar-darkshadow-color:#FFFFFF;/*어두운 그림자*/
	scrollbar-face-color:#FFFFFF;/*배경*/
	scrollbar-highlight-color:#e9e9e9;
	scrollbar-shadow-color:#c5c9cc;/*화살표비활성시*/

}

.scroll_noti {
	height:115px;overflow-y:auto;
	scrollbar-arrow-color:#c5c9cc;/*화살표*/
	scrollbar-base-color:#e9e9e9;/*기본*/
	scrollbar-darkshadow-color:#FFFFFF;/*어두운 그림자*/
	scrollbar-face-color:#FFFFFF;/*배경*/
	scrollbar-highlight-color:#e9e9e9;
	scrollbar-shadow-color:#c5c9cc;/*화살표비활성시*/

}

.scroll_topnews {
	height:105px;overflow-y:auto;
	scrollbar-arrow-color:#c5c9cc;/*화살표*/
	scrollbar-base-color:#e9e9e9;/*기본*/
	scrollbar-darkshadow-color:#FFFFFF;/*어두운 그림자*/
	scrollbar-face-color:#FFFFFF;/*배경*/
	scrollbar-highlight-color:#e9e9e9;
	scrollbar-shadow-color:#c5c9cc;/*화살표비활성시*/
}

.scroll_noti_live{
	height:140px;overflow-y:auto;
	scrollbar-arrow-color:#c5c9cc;/*화살표*/
	scrollbar-base-color:#e9e9e9;/*기본*/
	scrollbar-darkshadow-color:#FFFFFF;/*어두운 그림자*/
	scrollbar-face-color:#FFFFFF;/*배경*/
	scrollbar-highlight-color:#e9e9e9;
	scrollbar-shadow-color:#c5c9cc;/*화살표비활성시*/

}

.scroll_series{
	height:188px;/*349px;*/overflow-y:auto;
	scrollbar-arrow-color:#c5c9cc;/*화살표*/
	scrollbar-base-color:#e9e9e9;/*기본*/
	scrollbar-darkshadow-color:#FFFFFF;/*어두운 그림자*/
	scrollbar-face-color:#FFFFFF;/*배경*/
	scrollbar-highlight-color:#e9e9e9;
	scrollbar-shadow-color:#c5c9cc;/*화살표비활성시*/

}

.scroll_series_live{
	height:387px;/*547px;*/overflow-y:auto;
	scrollbar-arrow-color:#c5c9cc;/*화살표*/
	scrollbar-base-color:#e9e9e9;/*기본*/
	scrollbar-darkshadow-color:#FFFFFF;/*어두운 그림자*/
	scrollbar-face-color:#FFFFFF;/*배경*/
	scrollbar-highlight-color:#e9e9e9;
	scrollbar-shadow-color:#c5c9cc;/*화살표비활성시*/

}


/**/
.column_left{border:1px solid #ddd;background:#f3f3f4;padding-top:18px}
.g_section{position:relative;width:200px;margin:0 auto;overflow:hidden;height:200px}
.icon_live{position:absolute;top:0;right:0}
.g_section .img{width:200px;display:block;position:relative;}
.g_section .img span.line{width:198px;height:123px;z-index:50;border:solid 1px #e6e6e6; position:absolute;top:0;left:0;}
.g_section .img span.line_ov{width:196px;z-index:50;height:121px; border:solid 2px #e6e6e6; position:absolute;top:0;left:0;}
.g_section a.img{width:200px;height:125px;display:block;position:relative;}
.g_section a.img span.line{width:198px;height:123px;z-index:50;border:solid 1px #e6e6e6; position:absolute;top:0;left:0;}
.g_section a.img span.line_ov{width:196px;z-index:50;height:121px; border:solid 2px #e6e6e6; position:absolute;top:0;left:0;}
.g_section a.img .btn_vod{position:absolute;right:10px;bottom:10px;}
.g_section .text_issue{display:block;text-align:center;padding:6px 0 0 0;color:#999;font-size:11px;line-height:1.2em;text-decoration:none;}
.g_section .text_issue a{color:#999;}
.g_section .text_issue img{vertical-align:middle; margin-right:5px;}
.g_section .text_link{display:block;text-align:center;line-height:1.2em;padding:6px 0 0 0}
.column_left .g_ad{margin-bottom:20px;text-align:center}
/*
.g_section .pic{width:200px;height:125px;display:block;position:relative;}
.g_section .pic span.line{width:198px;height:123px;z-index:50;border:solid 1px #e6e6e6; position:absolute;top:0;left:0;}
.g_section .pic span.line_ov{width:196px;z-index:50;height:121px; border:solid 2px #e6e6e6; position:absolute;top:0;left:0;}
.g_section .pic .btn_vod{position:absolute;right:10px;bottom:10px;}
*/

/*연재*/
.section .box_special{border:1px solid #e6e6e6;}
.section .list_special{border-top:none;}
.section .list_special li a{display:block;color:#000;text-decoration:none;padding:5px 0 0 10px;line-height:1.4em; height:21px; border-bottom:1px solid #ddd}
.section .list_special li a span{display:block;background:url(http://ojsimg.ohmynews.com/images/ohmynews/common/bul_gy.gif) right 3px no-repeat;margin-right:10px}
.section .list_special li a:hover{color:#0d54ab;font-weight:600;background:#f3f3f4 }
.section .list_special li a:hover span{background: url(http://ojsimg.ohmynews.com/images/ohmynews/common/bul_bl.gif) right 3px no-repeat;color:#0d54ab;font-weight:600;letter-spacing:-1px}

.series_box{ padding: 5px 5px 0px 5px;}
.series_box a{font-weight:600;background: url(http://ojsimg.ohmynews.com/images/ohmynews/main/series_arrow.png) 262px 3px no-repeat;position: relative; margin:3px 0px;   font-size: 13px;}
.series_box .sum{ position:absolute; left: 4px; top: 2px; width:30px; height:30px;}
.series_box .sum .summan{  border: 1px solid #ddd;  border-radius: 50% 50%;width: 30px;  height: 30px;}
.series_box a:hover{text-decoration:none; font-weight:600; color:#db0000; border:1px solid #db0000;background: url(http://ojsimg.ohmynews.com/images/ohmynews/main/series_arrow.png) 263px -65px no-repeat; background-color:#f6f6f6;}
.series_box .s001{ display: block; height: 36px;background-color: #f2f2f2; border: 1px solid #ddd; border-radius: 50px; line-height: 36px; padding-left: 40px;}


/*잉걸*/
.ingle_area {border:1px solid #ddd;padding:18px 0 0 0;margin-bottom:5px;position:relative;width:100%}
.ingle_area .tit_noti{margin-left:10px}
.ingle_area .list_area{width:100%;overflow:hidden;padding-top:4px}
.ingle_area .m_pg{top:15px;right:10px}
.area{border:1px solid #ddd;width:100%;margin-bottom:5px;overflow:hidden;height:170px;padding-top:13px}
.stit_tab{width:176px;overflow:hidden;margin:0 0 0 5px;padding-bottom:4px}
.stit_tab li{float:left;}
.stit_tab li a{display:block;text-indent:-9999em;overflow:hidden;background:url(http://ojsimg.ohmynews.com/images/ohmynews/main/stitle_tab.gif) -9999em -9999em no-repeat;height:22px}
.stit_tab li.st1 a{background-position:0 0;width:33px;}
.stit_tab li.st1 a.on{background-position:0 -50px}
.stit_tab li.st2 a{background-position:-34px 0;width:67px;}
.stit_tab li.st2 a.on{background-position:-34px -50px}
.stit_tab li.st3 a{background-position:-102px 0;width:54px;}
.stit_tab li.st3 a.on{background-position:-102px -50px}
.zone_list{width:500px;margin:0 auto;overflow:hidden}
.zone_list p.img{float:left;width:200px;padding-right:13px;position:relative;}
.zone_list p.img .line{width:198px;height:105px;border:solid 1px #e6e6e6; position:absolute;left:0;top:0;}
.zone_list p.img .line_ov{width:196px;height:103px;border:solid 2px #e6e6e6; position:absolute;left:0;top:0;}
.list_zone{float:left;width:285px;}
.list_zone li{line-height:16px;padding-bottom:4px;}
.list_zone .first a{font-size:12px;font-weight:600;color:#000;}
.list_zone span{font-size:11px;color:#669813;padding-right:3px}
/*.list_zone a:hover{font-weight:bold;}*/
.list_photo{width:510px;overflow:hidden;margin-left:10px;clear:both}
.list_photo li{float:left;width:150px;margin:0 10px 0 15px;}
.list_photo li.first{margin-left:0}
.list_photo a.img_line{display:block; position:relative;}
.list_photo span.line{width:148px;height:78px;border:solid 1px #e6e6e6; position:absolute;top:0;left:0;}
.list_photo span.line_ov{width:146px;height:76px;border:solid 2px #e6e6e6; position:absolute;top:0;left:0;}
.list_photo span.text_link{display:block;line-height:1.2em;padding:5px 0 7px 0}
.list_photo li p.writer a{font-size:11px;font-weight:600;color:#999}
.list_sq2{float:left;width:250px;padding-left:10px;padding-bottom:5px;}
.list_sq2 li{width:244px;line-height:14px;padding-bottom:7px;}
.list_sq2 li a{display:block;background:url(http://ojsimg.ohmynews.com/images/ohmynews/main/bul_sq.gif) 0 5px no-repeat;padding:0 0 0 6px !important;}
.er_news{background:#f3f3f4;border-top:1px solid #ddd;text-align:right;padding:10px 0 8px 0}
.er_news a{font-size:11px;font-weight:600;color:#666}
.er_news a:hover{color:#cd1821}
.er_news p{margin-right:9px}

/**/
.school_area{border:1px solid #ddd;padding:18px 0 0 0;position:relative;height:140px;margin-bottom:5px;width:100%}
.school_area h3{margin-left:10px}
.box_menu{position:absolute;top:17px;right:10px}
.box_menu a{font-size:11px;color:#999}
.box_menu a:hover{color:#666}
.box_menu span.bar{color:#ccc;font-size:11px;margin:0 8px 0 4px}

.photo_list{float:left;width:250px;margin-left:10px;display:inline}
.photo_list li{float:left;margin-left:10px;display:inline;width:120px;position:relative;}
.photo_list li.first{margin-left:0}
.photo_list li a{display:block;}
.photo_list li span.line{width:118px;height:73px;border:solid 1px #e6e6e6; position:absolute;top:0;left:0;}
.photo_list li span.line_ov{width:116px;height:71px;border:solid 2px #e6e6e6; position:absolute;top:0;left:0;}
.photo_list li span.text_link{display:block;text-align:center;font-size:11px;line-height:1.2em;padding-top:6px}

.school_area .list_sq1{float:left;width:230px;margin:6px 0 0 21px;display:inline;_margin-left:0px}
*:first-child+html .school_area .list_sq1{margin-left:0;}
.school_area .list_sq1 li{width:229px;background:url(http://ojsimg.ohmynews.com/images/ohmynews/main/bul_sq.gif) 0 5px no-repeat;padding:0 0 8px 6px;line-height:14px; letter-spacing:-1px;}
.school_area .list_sq1 li span{font-size:11px;color:#2463cd;margin:0 5px 0 0;display:inline;}
.group_area{border:1px solid #ddd;padding:18px 0 0 0;margin-bottom:5px;width:100%;height:140px;overflow:hidden;position:relative;background:url(http://ojsimg.ohmynews.com/images/ohmynews/main/bg_book.gif) 0 0 repeat-y}
.group_area h3{margin:0 0 0 10px}
.group_area div{position:relative;}
.group_area .club{float:left;width:270px}
p.club_join{position:absolute;top:-2px;right:10px;font-size:11px;color:#666}
.club_join strong{color:#000}
.club_join a{font-size:11px;color:#999}
.club_join span.bar{color:#ccc;margin:0 3px}
.book .m_pg{top:-4px;right:10px}

.group_area .book{float:right;width:249px;position:relative;display:inline;_width:239px}
.book_cover{width:100%;overflow:hidden;margin-left:10px}
.book_cover p.img{float:left;width:70px;padding-right:8px;position:relative;}
.book_cover p img{border:solid 1px #e6e6e6;}
.book_cover p.img .line{position:absolute;left:0;top:0; border:0;}
.book_cover dl{width:150px;height:125px;float:left;}
.book_cover dt{line-height:1.2em;padding-top:2px;letter-spacing:-1px;padding-bottom:6px;}
.book_cover dd.writer{font-size:11px;color:#999;padding-bottom:6px;}
.book_cover dd.buy a{font-size:11px;font-weight:600;color:#073685;}

/* 지난메인면 바로가기*/
.top_history{width:100%;font-size:11px;color:#666;text-align:right;font-family:arial;clear:both;height:12px;padding-top:5px;background:url(http://ojsimg.ohmynews.com/images/ohmynews/common/bul1.gif) right 9px no-repeat;}
.top_history a{font-family:arial;font-size:11px;color:#858A99;padding-right:7px;}

/*생중계영상*/
.live-box{width: 970px;height: 425px; background: #323232;}
.live-box .m-box{float: left; width: 568px;height: 405px;padding: 10px 0 10px 15px;}
.live-box .m-box .title1{padding: 5px 5px 5px 5px; text-align:center; }
.live-box .m-box .title1 span{font-size:27px; color:#fff; font-weight:600; letter-spacing: -2px;}
.live-box .m-box .title2{padding: 0px 5px 10px 5px; text-align:center; }
.live-box .m-box .title2 span{font-size:15px; color:#ddd;letter-spacing: -1px;font-weight:600;}
.live-box .m-box-right{ float: right;width: 387px;height: 425px;background: #353535;}
.snsreply {float:left; width:350px; padding:10px 10px 10px 10px; background:#FFFFFF;}
.reply {float:left; width:350px; padding:10px 10px 10px 10px; background:#2a2a2a; }
.reply_title{float:left;width:370px; height:23px; border-bottom:2px solid #4978bc; padding-top:6px; }
.reply_title dt{float:left; width:160px; }
.reply_title dd{float:right; width:130px; height:20px; text-align:right; font-size:11px; color:#FFF; line-height:20px; letter-spacing:-1px;}
.refresh {width:130px; float:right; text-align:right; font-size:11px;color:#FFF;letter-spacing:-1px;}

.reply_input {float:left; width:350px; padding-bottom:5px;}
.reply_input dt{float:left;}
.reply_input dd{float:right;}

.reply_login{float:left;width:280px;background:#222;padding:10px;}
.reply_loginbox{float:left;width:210px;font-size:12px; color:#FFF;}
.reply_login_img{float:right;}
.reply_login_close{float:right;}
.login_com{float:left;font-size:11px;color:#ff4444;width:280px;text-align:center;padding-top:8px;}

.reply_out{width:350px; float:left;}
.reply_name {float:left; width:350px; height:25px; padding:5px 0 5px 0; background:url(http://ojsimg.ohmynews.com/images/live/reply_bg.jpg) no-repeat; margin-top:5px; font-size:11px; color:#4978bc; }
.reply_name span{font-size:11px; color:#4978bc; padding-left:5px; }
.reply_text {float:left; width:350px; height:60px; padding:10px 0px 10px 0px; font-size:11px;color:#fff;line-height:13px; border-bottom:1px solid #121212;}
.page{float:left; width:100%; font-size:11px; color:#FFF; margin-top:8px; text-align:center;}

.input_st01{background:#333537; border:1px solid #4b4e50; font-size:12px; color:#FFFFFF; line-height:14px; padding:3px;}
.input_st02{background:#373737; border:1px solid #4a4a4a; font-size:11px; color:#FFF; line-height:14px; padding:5px;}
.input_st02 scroll {  
  scrollbar-face-color:#656565;
  scrollbar-3dlight-color:#545454;
  scrollbar-highlight-color:#545454;
  scrollbar-shadow-color:#545454;
  scrollbar-darkshadow-color:#545454;
  scrollbar-arrow-color:#8f8f8f; 
  scrollbar-track-color:#545454; }
.w_close_btn{ position:relative;width: 970px; height:30px; background-color:#464646;}
.w_close_btn .nonview{ color:#fff; position:absolute; right:70px; top:7px;}
.w_close_btn .close-x{ color:#fff;position:absolute; right:10px; top:7px;}
.w_close_btn .close-x .btn00{background:url(http://ojsimg.ohmynews.com/images/ohmynews/common/close-x.png) 2px 2px no-repeat; width:14px; height:14px; background-color:#f1f1f1; text-indent:-9999em;display: inline-block; margin-left:5px;}
.lock{background: url(http://ojsimg.ohmynews.com/images/ohmynews/common/lock-img.png) 0px 0px no-repeat;width: 15px; height: 15px;text-indent: -9999em;display: inline-block;}

/*0531추가*/
.g_tit .travel{background-position: 10px -726px;  width: 77px;  height: 33px;float: left;}
.g_tit .bookdong{background-position: 10px -760px;  width: 90px;  height: 33px;float: left;}
.g_tit .hotnews{width: 90px;  height: 33px;float: left;  background: url(http://ojsimg.ohmynews.com/images/ohmynews/main/main_title_list.png) 10px -792px no-repeat; text-indent:-9999em;}
.g_tit .picle{background-position: 10px -827px;  width: 58px;  height: 33px;float: left;}
.g_tit .s_story_n{background-position: 10px -860px;  width: 120px;  height: 33px;float: left;}



/*실시간기사 개편*/
.txt-live{position: absolute;top: 7px;left: 125px;color: #999;font-size: 11px;}
.new-live-box{border:1px solid #ccc;padding:10px 0;margin:10px 0 60px 0;background-color:#f7f7f7;position:relative;}
.new-live-box .line-a{position:absolute;top: 146px;left: 25px;width: 920px;x;height:2px;background:#e2e2e2;border-radius:1px;}
.new-live-box .turn-btn{padding:0px 10px 10px 0px;position: relative;height: 22px;}
.new-live-box .turn-btn .play-btn{background: url(http://ojsimg.ohmynews.com/images/ohmynews/main/main_title_list.png) -213px -484px no-repeat;width:51px;height:22px;text-indent: -999em;border: none;cursor: pointer;float: right;}
.new-live-box .turn-btn .play-btn:hover{box-shadow: 1px 1px 2px #ccc;-o-box-shadow: 1px 1px 2px #ccc;-moz-box-shadow: 1px 1px 2px #ccc;-webkit-box-shadow: 1px 1px 2px #ccc;}
.new-live-box .turn-btn .stop-btn{background: url(http://ojsimg.ohmynews.com/images/ohmynews/main/main_title_list.png) -213px -444px no-repeat;width:51px;height:22px;text-indent: -999em;border: none;cursor: pointer;float: right;}
.new-live-box .turn-btn .stop-btn:hover{box-shadow: 1px 1px 2px #ccc;-o-box-shadow: 1px 1px 2px #ccc;-moz-box-shadow: 1px 1px 2px #ccc;-webkit-box-shadow: 1px 1px 2px #ccc;}
.live-list-box{height: 180px;position: relative;clear: both;}
.live-list-box ul{padding: 0px 0 0 10px;}
.live-list-box li:first-child {margin-left: 13px;}
.live-list-box li {position: relative;float: left;width: 178px;height: 180px;margin: 0px 4px;}
.live-list-box li a {display:block;}
.live-list-box li .tl_wrap {height: 124px;border-radius: 3px;margin-bottom: 34px; background-color:#fff; position:relative;border:1px solid #ccc;}
.live-list-box li .tl_wrap.on{ border:1px solid #db0000;}
.live-list-box li .tl_wrap .date{display:block;font-size:12px;color:#555;text-align:center;cursor:pointer;position: absolute;width: 176px;bottom: -48px;}
.live-list-box li .tl_wrap .date.on{ color:#db0000;}
.live-list-box li .tl_wrap .dot.on{position:absolute;bottom: -31px;left:50%;display:inline-block;width:15px;height: 15px;background: url(http://ojsimg.ohmynews.com/images/ohmynews/main/main_title_list.png) -348px -132px no-repeat;text-indent: -9999em;    margin-left: -3px;}
.live-list-box li .tl_wrap .dot{position:absolute;bottom:-31px;left:50%;display:inline-block;width:15px;height: 15px;background: url(http://ojsimg.ohmynews.com/images/ohmynews/main/main_title_list.png) -374px -131px no-repeat;text-indent: -9999em;    margin-left: -3px;}
.live-list-box li .tl_wrap .ico_arrow{position:absolute;top: 123px;left: 85px;width:14px;height:14px;background: url(http://ojsimg.ohmynews.com/images/ohmynews/main/main_title_list.png) -351px -388px no-repeat;text-indent: -9999em;}
.live-list-box li .tl_wrap .ico_arrow.on{position:absolute;top: 123px;left: 85px;width:14px;height:14px;background: url(http://ojsimg.ohmynews.com/images/ohmynews/main/main_title_list.png) -351px -405px no-repeat;text-indent: -9999em;}
.live-list-box li .tl_wrap a.title-top:hover{ text-decoration:underline;}
.live-list-box li .tl_wrap .title-top{height: 40px; margin-top:20px;padding:10px;font-size:15px;text-align: left;font-weight: 600;letter-spacing: -0.03em;color: #000;}
.live-list-box li .tl_wrap .title-name{padding:0px 10px;}
.live-list-box li .tl_wrap .p-m-live{border-radius: 50% 50%;display: inline-block;    border: 1px solid #e5e5e5;}
.live-list-box li .tl_wrap .p-m-name{display: inline-block;    width: 120px;vertical-align: top; font-size: 12px; font-weight: 600; color:#000; padding: 5px 3px 0px 5px;}
.live-list-box .link_view_more-right{display:block;position:absolute;right:0;top:0;text-align:center;line-height:18px;font-size:12px;color:#777}
.live-list-box .link_view_more-right .live-btn{display:block;width:16px;height:160px;}
.live-list-box .link_view_more-right .live-btn .ico_arrow{display:inline-block;width: 15px;height: 25px;vertical-align:-2px;margin-top:48px;background: url(http://ojsimg.ohmynews.com/images/ohmynews/main/main_title_list.png) -242px -392px no-repeat;text-indent: -9999em;}
.live-list-box .link_view_more-left{display:block;position:absolute;left:0;top:0;text-align:center;line-height:18px;font-size:12px;color:#777}
.live-list-box .link_view_more-left .live-btn{display:block;width:16px;height:160px;}
.live-list-box .link_view_more-left .live-btn .ico_arrow{display:inline-block;width: 15px;height: 25px;vertical-align:-2px;margin-top:48px;background: url(http://ojsimg.ohmynews.com/images/ohmynews/main/main_title_list.png) -213px -392px no-repeat;text-indent: -9999em;}
.rolling-dot{text-align: center;}
.rolling-dot .num_page {display:inline-block; overflow:hidden; width:8px; height:8px; margin:7px 2px 0 2px; border-radius:5px; background-color:#e0e0e0;text-indent:10px; vertical-align:top;cursor: pointer;}
.rolling-dot .sb {background-color: #929292; width:8px; height:8px; border-radius:5px;}
.live-list-box li .tl_wrap .title-name:hover{opacity: .7;}