@media (min-width: 1040px) and (max-width: 1469px) { .item-normal { width: 20%; } }
@media (min-width: 1122px){
    #menu-block {display:block !important;height:auto !important;}   
    .menu-trigger {display:none !important;}
}
@media (min-width: 1122px) and (max-width: 1485px) {
    #menu-block {position:absolute;top:0;right:107px;left:660px;width:auto;background-color:transparent;line-height:1;}
     #menu-block ul li {height:30px;line-height:30px;}
}
#forum-search div.dropdown-menu {height:99px;}
 .bann-user-wall {right:45px;}
.item-block a .item-info .item-title .title {display:block;height:36px;line-height:17px;white-space:normal;}
.comment-block .alert, .comment-block .messages, .comment-block .notification { 
    padding: 15px 15px 15px 40px;
    margin-left: 74px;
}
.alert, .messages, .notification{
    padding-left: 44px;
}
#pagination a.active { 
    height: 32px; 
    line-height: 32px;
    width: 32px; 
    background-color: #fff; 
    color: #1e1e1e; 
    margin: 0 1px; 
    display: inline-block; 
    cursor: default; 
}
.wall-block img,
.wall-block iframe{
    max-width: 100%;
}
.wall-pagination-block{
    clear: both;
}
.i-send::before { content: "\f1d8"; }
.i-friend::before { content: "\f234"; }

.upgrade-profile.info-table,
.upgrade-profile.register-form{
    padding-left: 20px;
    padding-right: 20px;
}

.upgrade-profile.register-form {
    margin-top: 75px;
}

.upgrade-profile.ug-drop{
    right: 20px;
    margin-top: 13px;
}

/*BY MIETEK*/
#singleImage {text-align:center;}
#singleImage a{display:block;}
#singleImage a img{max-width:100%;width:auto;height:auto;}

.item-normal {}
.item-normal [data-title] {position:relative;z-index:2;}
.item-normal [data-title]::before{min-height:63px;z-index:10;font-weight:700;font-size:14px;line-height:1.2em;width:100%;display:none;content:attr(title);background-color:black;position:absolute;bottom:0;left:0px;right:0px;padding:2px 0 10px 0;color:white;white-space:normal;}
/*.item-normal [data-title]:hover::before {display:block;}*/


#bg-wrap {position:relative;background-color: transparent;background-repeat: repeat;background-position: 0 0%;background-image:url('../images/noise.png');}
#bg-wrap::before{z-index:-1;display:block;content:"";position:absolute;bottom:0;min-height:100%;left:0;right:0;background-color:black;background-repeat: no-repeat;background-position: 50% 0%;background-image:url('../images/bg.jpg');}
#bg-wrap > * {z-index:2;}

div#thisPlayer {top:0;left:0;right:0;bottom:0;position:absolute;}

/* THE BANANA CASE */
.thread-post-block .post-text img {width:auto;max-width:100%;}
@media (max-width:1039px) {
    .thread-post-block .post-text img,
    .post-text img, .post-text iframe {width:auto;}
}

