@media screen and (max-width:480px) {
    div.btm div.search {
        min-width: 270px;
        max-width: 300px;
    }
    div.auth {
        float: right;
        width: 120px;
        text-align: right;
        padding-right: 14px;
    }
    .hiddendiv, .hidden {
        display: none;
        visibility: hidden;
    }
    div.topNav a {
        line-height: 24px;
    }
    div.btm div.search {
        padding-left: 40px;
        padding-bottom: 10px;
        padding-right: 40px;
        min-width: 276px;
        text-align: right;
    }
    div.topNav {
        margin: 0 12px 26px 32px;
    }
    div.header-user {
        margin-top: -50px;
        padding: 12px 10px 10px 0 !important;
    }
    div.logo-mobile {
        width: 305px;
        padding-left: 20px;
    }
    table.main td.main {
        padding: 10px !important;
    }
    div.right-btn {
        float: left !important;
    }
    .mobileScreenAvatar, .logo-mobile{
        display: block;
    }
    .fullScreenAvatar, div.logo {
        display: none;
    }
    #top-header {
        width: 100%;
        height: 97px;
    }
    .sm-width-135 {
        width: 135px;
    }
}

@media screen and (min-width:480px) and (max-width:1145px) {
    div.btm div.search {
        margin-bottom: 10px;
    }
    .mobileScreenAvatar, .logo-mobile {
        display: none;
    }
}
@media screen and (min-width:480px) {
    .mobileScreenAvatar, .logo-mobile {
        display: none;
    }
    .fullScreenAvatar, div.logo{
        display: block;
    }
    #top-header {
        width: 100%;
        height: 114px;
    }
}
#nav .topNav {
    clear: both;
}
div.topNav {
    margin: 0 12px 26px 32px !important;
}
#top-header div.header-user{
    float: right;
    padding: 12px 40px 10px 0;
    min-width: 290px;
    text-align: right;
    color: white;
}
div#wrapper, div#wrapper-mob {
    float:right;
    margin-top: -2px;
}
div#user-menu, div#user-login, div.auth {
    padding: 0 0 6px;
    text-align: right;
    vertical-align: middle;
    font-size: 11px;
    margin-left: -15px;
}
div#user-login {
    float:left;
    width:90%;
}
div#user-menu {
    float:left;clear:left;width:90%;
}
div.btm div.search{
    float: right;
    padding-right: 40px;
    min-width: 200px;
    text-align: right;
}
#nav li {
    width: auto;
    float: left;
    font-size: 0.7rem;
    font-weight: bold;
    margin: 0 4px 0 0;
    padding: 2px 8px;
}
#nav {
    padding-top: 8px;
}
#nav ul {
    list-style: outside none none;
    margin-left: -30px;
}

#top-header div.header-user a {
    color: white;
}
#top-header div.logo {
    padding: 9px 20px 0;
    min-width: 300px;
    float: left;
    height: 70px;
}
div.btm div.nav {
    float: left;
    padding: 5px 0 0;
    vertical-align: bottom;
}

#top-header #loginForm {
    padding-left: 140px;
    position: absolute;
}
#top-header #header-banner {
    float: left;
    margin-left:15%;
    margin-top: 1%;
}

div#user-avatar p, div#user-avatar-mob p {
    line-height:1.4
}
.addMenuSection, .galleryMenuSection {
    display: none;
}
.addMenuContainer:hover .addMenuSection, .galleryMenuContainer:hover .galleryMenuSection {
    display: block;
}
.sectionStyle{
    width: 95px;
    background-color: #ffffff;
    position: absolute;
    margin-top: 2px !important;
    z-index: 6;
    -webkit-box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.4);
    box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.4);
}
.sectionStyle a {
    margin-top: 10px;
    color: #000 !important;
    font-size: 12px;
    line-height: 1.7em;
    text-decoration: none;
}
.sectionStyle a:hover {
    text-decoration: underline;
}
.m-arrow {
    background:url(/i/arrow-down.png) no-repeat;
    width: 5px;
    height: 7px;
    margin-top: -7px !important;
    position: absolute;
}
.addMenuContainer, .galleryMenuContainer {
    margin-right: 10px !important;
}
.addMenuContainer .m-arrow {
    margin-left: 57px !important;
}
.galleryMenuContainer .m-arrow {
    margin-left: 49px !important;
}