@media screen and (min-width: 758px) and (max-width:1024px) {
    div.main-block.hiddenBanner {
        display: none;
        visibility: hidden;
    }
}
@media screen and (max-width:800px) {
    #site-main {
        float:none;margin-right:0;width:100%
    }
}
@media screen and (max-width:480px) {
    #site-main {
        float:none;margin-right:0;width:100%;
    }
    #soonHolidays { display:none }
    #footer-content { overflow:hidden; }
    ul.pagination {
        float: left;
        margin: 5px 0 0 220px;
    }
    div.loginForm table.dialog td.c-top {
        padding-right: 180px;
    }
}
#soonHolidays {
    font-size: 13px;
}
#site-main::after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
    visibility: hidden;
}
#site-main {
    clear: both;
    background-color: #ffffff;
}
#info-line, #top-casts, #anons-line, #holidaycasts-line, #footer-content, #social-line {
    float: left;
    margin: 0;
    width: 100%;
    padding-left: 20px;
    margin-bottom: 20px;
}
#info-line div.main-block, #top-casts div.main-block, #anons-line div.main-block, #holidaycasts-line div.main-block, #footer-content div.main-block, #social-line div.main-block{
    float: left;
    padding: 0 20px 0 0;
    width: 30.5%;
    min-width: 320px;
    vertical-align: top;
}
@media screen and (min-width:1024px) and (max-width:1124px) {
    #site-main {
        min-width: 1060px;
    }
    #info-line div.main-block, #top-casts div.main-block, #anons-line div.main-block, #holidaycasts-line div.main-block, #footer-content div.main-block, #social-line div.main-block {
        min-width: 300px;
    }
}
#info-line div.main-block{
    padding: 0 30px 0 0;
}
#footer-content div.main-block{
    min-height: 495px;
    overflow: hidden;
}
#top-casts div.main-block {
    margin-bottom: 20px;
}

#top-casts span {
    font-size: 24px;
}
#site-main h2 {
    padding: 0 0 0.7em;
}
div.main-block div.slides {
    width: 320px;
}
div.fixBlock {
    float:left;
    width:31%;
    margin-right:2.3%;
}

div.fixBlock.fixHeight  {
    height: 230px;
}

div.fixBlock.smallText a {
    font-size: 12px;
}
.annonsTextR {
    font-size: 12px;
    margin-top: 153px;
    float: right;
    position: absolute;
}