body							{margin:0; padding:0; background:#333333 url('/i/h-bg.gif') repeat-x; font-family: Arial, "sans-serif";}
form							{margin:0;}
img								{border:none;}
div.hr							{height:1px; background-color:#CFCFD0; clear:both; margin:0 20px 10px 0;}
tr.spacer td					{padding:0 !important;}

.fade							{color:#999999;}
.hi								{color:#C90479;}
.user							{color:#C90479;}
.delete a						{color:#660000 !important;}
.add a							{color:#006600 !important;}
a.script						{color:#0066CC; text-decoration:none; border-bottom:#0066CC 1px dashed; cursor: pointer;}
textarea                        {font-family: Arial;}

/* layout */
table.header 					{min-height:80px;  height:112px; }
table.header td					{color:white;}
table.header a					{color:white;}

table.header td.top				{vertical-align:top;}
table.header table.top td		{vertical-align:top;}
table.header table.top td.logo	{padding:9px 20px 0 20px;}
table.header table.top td.user	{padding:10px 40px 10px 0;}
table.header table.user td.text	{padding:0 5px 0 0; text-align:right; vertical-align:middle; font-size:70%;}
table.header table.user td.img	{padding:0; width:35px; height:35px; background:url('/i/h-userpic-bg.gif') no-repeat; text-align:center; vertical-align:middle;}
table.header table.auth td.text	{padding:0; text-align:right; vertical-align:top; font-size:70%; height:35px;}

div#user-avatar, div#user-avatar-mob {
    padding: 5px 0;
    width: 35px;
    height: 100%;
    background: url('/i/h-userpic-bg.gif') no-repeat;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}
table.header td.btm, div.btm				{vertical-align:bottom;}
table.header td.btm td.nav, div.btm .nav		{vertical-align:bottom; padding:0 0 10px 0;}
table.header td.btm td.search	{vertical-align:bottom; padding:0 40px 10px 0;}

table.main td.main				{padding:0 20px;}
#mainContent 							{ position:relative;z-index:1; margin-bottom:280px; }
.ui-contextmenu                 {z-index: 6}

div.footer-info		{margin:12px 0 0 24px; float:left; width: 70%}
table.footer, div.footer-info, div.footer-info a	{color:#CCCCCC;  font-size: 12px; line-height: 20px}
table.footer p					{margin:0 0 0.25em 0;}
table.footer a					{color:#CCCCCC;}
table.footer td.right			{text-align:right;}
div.tabBtnListLight span.active {color:#f5f5f5;}
div.right-btn {
    float: left;
    margin-top: 20px;
    width: 25%;
    text-align: right;
}
/* titles */
h1								{font-size:200%; margin:0 20px 0 0; padding:0 0 0.5em 0; font-weight:normal;}
h2								{font-size:150%; margin:0 20px 0 0; padding:1em 0 0.2em 0; font-weight:normal;}
h3								{font-size:100%; margin:0 20px 0 0; padding:0 0 0.2em 0; font-weight:normal;}
h4								{font-size:80%; margin:0 20px 0 0; padding:0 0 0.2em 0; font-weight:normal; font-style:italic;}

/* text */
p								{font-size:80%; margin:0 20px 1.2em 0;}
ul, ol							{font-size:80%; margin:0 20px 0.2em 0; padding:0 0 0 30px;}
li ul, li ol					{margin:0; font-size:100%;}
ul p, ol p						{margin:0 0 0.5em 0; font-size:100%;}
li 								{padding-bottom:1em; padding-top:0;}
li li							{padding-bottom:0; padding-top:1em;}

ul.compact						{padding:0; list-style-type:none;}
ul.compact li					{padding-bottom:0.5em;}

p.link							{font-size:100%;}

div.incut 						{}
div.incut p						{font-size:100%;}

table.nList td					{vertical-align:top;}
table.nList td.n				{font-size:80%; padding:0 10px 0 0; text-align:right;}
table.nList tr.title td			{padding:20px 0 10px 0;}
table.nList tr.title td.n		{font-size:100%; padding:20px 10px 0 0;}
table.nList h3					{padding:0 0 0.3em 0;}

/* tables */
table.defTable 							{margin-bottom:1.2em; border-right:white 20px solid;}
table.defTable td						{vertical-align:top; font-size:70%; padding:0.5em 5px; border-bottom:#E5E5E5 1px solid;}
table.defTable tr.header td				{vertical-align:bottom; background-color:#F9E6F1; border:none; font-weight:bold;}
table.defTable tr.header td.left		{background-image:url('/i/c-tl.gif'); background-repeat: no-repeat;}
table.defTable tr.header td.right		{background-image:url('/i/c-tr.gif'); background-repeat: no-repeat; background-position:right top;}
table.defTable tr.header td.user		{color:black;}

table.defTable tr.header a				{color:black;}
table.defTable td.selected				{background-color:#F5F5F5;}
table.defTable tr.header td.selected	{background-color:#EBDAE4;}

table.compactTable						{margin-bottom:1em; border-left:white 25px solid; border-right:white 15px solid;}
table.compactTable td					{vertical-align:top; font-size:80%; padding:0 0.5em 0.5em 0;}
table.compactTable ul					{margin:0; font-size:100%;}
table.compactTable h2					{margin:0; font-size:150%;}

/* frames */
div.frame								{//width:100%; background:url('/i/c-tl.gif') no-repeat;}
div.frame div							{//width:100%; background:url('/i/c-tr.gif') no-repeat right top;}
div.frame div div						{//width:100%; background:url('/i/c-bl.gif') no-repeat left bottom;}
div.frame div div div					{//width:100%; background:url('/i/c-br.gif') no-repeat right bottom;}
div.frame div div div div				{background:none ! important;}

table.frame td.tl						{padding:0; background:url('/i/c-tl.gif') no-repeat;}
table.frame td.tr						{padding:0; background:url('/i/c-tr.gif') no-repeat;}
table.frame td.bl						{padding:0; background:url('/i/c-bl.gif') no-repeat left bottom;}
table.frame td.br						{padding:0; background:url('/i/c-br.gif') no-repeat right bottom;}

table.frameBorder 						{background:url('/i/c-border-bg.gif') repeat-x;}
table.frameBorder td.tl					{padding:0; background:url('/i/c-border-tl.gif') no-repeat;}
table.frameBorder td.tr					{padding:0; background:url('/i/c-border-tr.gif') no-repeat;}
table.frameBorder td.bl					{padding:0; background:url('/i/c-border-bl.gif') no-repeat left bottom;}
table.frameBorder td.br					{padding:0; background:url('/i/c-border-br.gif') no-repeat right bottom;}
table.frameBorder td.data				{background:url('/i/c-border-bg.gif') repeat-x left bottom;}

/* content */
table.content							{background-color:white;}
table.content td.body					{padding:0 20px 0 20px;}
table.blocks td							{padding:0 20px 0 0;}
table.blocks h2,
table.blocks h3,
table.blocks p,
table.blocks ul,
table.blocks ol 						{margin-right:0;}

div.block								{margin:0 20px 1.2em 0;}
div.block div.frame div div div 		{padding:10px 10px 1px 10px;}
div.block h2,
div.block h3,
div.block p,
div.block ul,
div.block ol 							{margin-right:0;}

div.block div.frame, .colorSchemaLightBg {background-color:#F9E6F1;}

/* navigation */
div.topNav						{margin:0 12px 0 32px;}
div.topNav div					{margin:0 4px 0 0; padding:2px 8px; float:left; font-size:70%; font-weight:bold;}
/* div.topNav div.active			{padding: 2px 4px;} */
div.topNav a					{color:white;}

div.topNav div.active {
    background: none repeat scroll 0 0 #E5B7D3;
    border-radius: 15px;
    color: #A51068;
}
div.topNav div.active a {
    color: #0066CC;
    text-decoration: none;
}

/* div.topNav td.tl				{background:url('/i/topnav-bg.gif'); vertical-align:top;}
div.topNav td.tr				{background:url('/i/topnav-bg.gif'); vertical-align:top;}
div.topNav td.bl				{background:url('/i/topnav-bg.gif') left bottom; vertical-align:bottom;}
div.topNav td.br				{background:url('/i/topnav-bg.gif') left bottom; vertical-align:bottom;}

div.topNav img					{behavior:none;}
div.topNav td.tl img			{background:url('/i/topnav-tl.png') no-repeat; //background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/i/topnav-tl.png',sizingMethod='crop');}
div.topNav td.tr img			{background:url('/i/topnav-tr.png'); //background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/i/topnav-tr.png',sizingMethod='crop');}
div.topNav td.bl img			{background:url('/i/topnav-bl.png'); //background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/i/topnav-bl.png',sizingMethod='crop');}
div.topNav td.br img			{background:url('/i/topnav-br.png'); //background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/i/topnav-br.png',sizingMethod='crop');}

div.topNav text				{background-color:#E5B7D3; padding:2px 0; font-size:70%; font-weight:bold; color:#A51068; vertical-align:middle;}
*/

div.altNav						{font-size:70%; margin:0;}
div.altNav img					{vertical-align:middle;}

ul.nav							{font-size:100%; margin:0 20px 2em 0; padding:0; list-style-type:none;}
ul.nav li						{padding-bottom:1em;}
ul.nav ul						{font-size:80%; margin:0; padding:0 0 0 20px; list-style-type:none;}
ul.nav ul li					{padding-bottom:0; padding-top:0.5em;}


/* sections */
div.sectionList 				{line-height:150%; color:#999999; margin:0 0 2em 0;}
div.sectionList span			{padding:0.3em 0.25em;}
div.sectionList span.current	{background-color:#C90479; color:white;}
div.sectionList span.current a	{color:white !important;}
div.sectionList span span		{padding:0; font-size:70%;}
ul.profile-tabs li.current      {background-color:#C90479; color:white;}

/* categories */
div.categoryList 				{line-height:150%; color:#999999; margin:0 20px 0.8em 0; position:relative; left:-0.25em; top:-0.3em; z-index:2; font-size: 14px;}
div.categoryList span			{padding:0.3em 0.25em;}
div.categoryList span.current	{background-color:#C90479; color:white;}
div.categoryList span.current a	{color:white;}
div.categoryList span span		{padding:0; font-size:70%;}

/* pages */
div.pages						{padding:0 0 1.2em 0;}
div.pages div.labels a			{margin:0 0 0 0.7em;}
div.pages div.labels span		{margin:0 0 0 0.7em; color:#999999;}
div.pages div.numbers 			{line-height:150%; margin-top:0.25em;}
div.pages div.numbers a			{padding:0.2em 0.25em;}
div.pages div.numbers span		{padding:0.2em 0.25em; background-color:#C90479; color:white;}
div.pages div.numbers span a	{text-decoration:none; color:white;}
div.pages div.numbers span.sep	{background-color:transparent; color:black;}

/* letters */
div.letters						{padding:0 0 1.2em 0; line-height:150%; margin-top:0.25em;}
div.letters a					{padding:0.2em 0.25em; margin:0;}
div.letters span				{font-size:0;}
div.letters span.selected		{font-size:100%; padding:0.2em 0.25em; background-color:#C90479; color:white;}
div.letters span.selected a		{text-decoration:none; color:white;}

/* tags */
div.tagsAnn 					{margin:0 20px 1.2em 0;}
div.tagsAnn div.tags			{font-size:80%;}
div.tags 						{margin:0 0 0.7em 0;}
div.tags a						{padding:0 0.25em 0 0;}

/* tabs */
div.tabData						{display:none;}
div.tabDatas						{width:100%;display:none;overflow:auto;overflow-y:auto;overflow-x:none;position:relative;/*  border: 1px solid Black; */}
div.tabBtnList 					{margin:0 0 1.2em 0; font-size:125%;}
div.tabBtnList span				{margin:0 20px 0 0; color:#0066CC; border-bottom:#0066CC 1px dashed; cursor:pointer; cursor:pointer;}
div.tabBtnList span.active		{color:black; border:none; cursor:default;}
div.tabBtnList a.bonus		{margin:0; color:#0066CC; border-bottom:#0066CC 1px dashed; cursor:pointer; cursor:pointer;  text-decoration: none; }
div.tabBtnList span.acc		{margin:0; color:#0066CC; border:0px;}
div.tabBtnList font.money		{font-size: 140%;color:#cc0000;}
/* playcast announce */
div.playcastAnn 							{margin:0 0 1.2em 0; position:relative;}
div.playcastAnn div.c						{width:5px; height:5px;}

/* popup with title and size */
.playcastPopup { position:absolute; top: -15px; left: 10px; margin-right: 10px; background: #f8f8f8; border:1px solid #c0c0c0; padding: 2px; font-size: 85%;}

div.playcastAnn table.frame 		 		{width:100%;}
div.playcastAnn table.frame td.data 		{width:99%; padding:8px 5px;}

div.playcastAnn table.frameBorder 		 	{width:100%;}
div.playcastAnn table.frameBorder td.data 	{width:99%; padding:8px 5px;}

div.playcastAnn td.data table				{height:132px;}
div.playcastAnn td.data td					{vertical-align:top;}
div.playcastAnn td.data td.img				{padding:2px 10px 2px 0; width:128px; text-align:center;}
div.playcastAnn td.data td.img img			{max-width:100px; max-height: 100px;}
div.playcastAnn td.data td.info				{padding:0;}
div.playcastAnn td.data td.stat				{padding:0; vertical-align:bottom;}
div.playcastAnn td.data div					{font-size:70%;}
div.playcastAnn td.data div.title			{font-size:100%; margin-bottom:0.25em;}
div.playcastAnn td.data div.info			{margin-bottom:0.4em;}
div.playcastAnn td.data div.stat div			{font-size:100%; float:left; margin-right:10px;}
p.playcastAnnCat							{margin:0 0 0.25em 0; font-size:70%;}

div.playcastAnn img.best					{float:left; top:5px; left:5px;  position: absolute; }
div.playcastAnnStatusImgs					{float:right; right:5px; top:5px; position: absolute; //right:25px; }
div.playcastAnnStatusImgs img				{display:block; margin-bottom:3px;}

div.playcastAdmin table.frame td.bl			{background-image:url('/i/c-gray-bl.gif');}
div.playcastAdmin table.frame td.br			{background-image:url('/i/c-gray-br.gif');}
div.playcastAdmin table.frameBorder td.bl	{background-image:url('/i/c-border-gray-bl.gif');}
div.playcastAdmin table.frameBorder td.br	{background-image:url('/i/c-border-gray-br.gif');}

table.playcastAdminFrame					{background:#E5E5E5; width:100%;}
table.playcastAdminFrame td.tl				{padding:0; background:url('/i/c-tl.gif') no-repeat;}
table.playcastAdminFrame td.tr				{padding:0; background:url('/i/c-tr.gif') no-repeat;}
table.playcastAdminFrame td.bl				{padding:0; background:url('/i/c-bl.gif') no-repeat left bottom;}
table.playcastAdminFrame td.br				{padding:0; background:url('/i/c-br.gif') no-repeat right bottom;}
table.playcastAdminFrame td.data			{width:99%; padding:5px;}

table.playcastAdminkaFrame					{background:#E5E5E5; width:100%;}
table.playcastAdminkaFrame td.tl				{padding:0; background:url('/i/c-tl.gif') no-repeat;}
table.playcastAdminkaFrame td.tr				{padding:0; background:url('/i/c-tr.gif') no-repeat;}
table.playcastAdminkaFrame td.bl				{padding:0; background:url('/i/c-bl.gif') no-repeat left bottom;}
table.playcastAdminkaFrame td.data			{width:99%; padding:5px;}

table.playcastAdminka					{background:#E5E5E5; width:100%;}
table.playcastAdminka td.tl				{padding:0; background:url('/i/c-tl.gif') no-repeat;}
table.playcastAdminka td.tr				{padding:0; background:url('/i/c-tr.gif') no-repeat;}
table.playcastAdminka td.bl				{padding:0; background:url('/i/c-bl.gif') no-repeat left bottom;}
table.playcastAdminka td.data			{width:99%; padding:5px;}

table.playcastAdmin 						{width:100%;}
table.playcastAdmin td						{font-size:70%; padding:5px 0; vertical-align:top;}
table.playcastAdmin td.btn input			{width:6em; margin-bottom:5px;}
div.playcastAnn img.icon					{float:right; margin:0 0 0 3px; position:relative; top:-3px; left:5px;}


/* playcast */
h1.playcastTitle				{padding-bottom:0.1em;}
p.playcastAuthor				{margin: 0; padding:0.7em 20px;}

p.playcastStat					{margin:0 0 0 0; padding-bottom: 1.2em; }
p.playcastStat span				{padding:0 15px 0 0;}
p.playcastStat img				{vertical-align:middle; margin:0 3px 2px 0; border:none;}
p.playcastStat span.rating img	{margin:0 0 3px 0;}

p.playcastSender				{margin:0 0 1.5em 0;}
p.playcastSender span			{padding:0 15px 0 0;}

div.playcastBlock				{margin:0 20px 2em 0;}

table.playcast 					{}
table.playcastBorder			{border:#CCCCCC 1px solid;}
table.playcast td				{padding:20px;}
table.playcast td.text			{padding-left:0;}
table.playcast h1				{font-size:150%;}

table.playcastInfo 				{margin:40px 0 10px 0;}
table.playcastInfo td			{padding:0 0.5em 0.25em 0; vertical-align:top; font-size:80%;}
table.playcastInfo a			{color:black;}
/* table.playcastInfo tr.tags td	{padding-top:1.2em;}*/
table.playcastInfo tr.tags a	{color:#0C4290;}
table.playcastInfo tr.author td	{padding-bottom:1.2em;}
table.playcastInfo tr.author a	{color:#C90479;}

/* AddThis float soc panel */

#floatsocbtn {
    position: fixed;
    z-index: 1000;
    margin-left: -45px;
    top: 245px;
    padding: 5px 5px 0;
}

* html #floatsocbtn {display: none}

#floatsocbtn a {
    display: block;
    width: 32px;
    height: 32px;
    margin: 0 0 6px;
}
.addthis_floating_style {
    background: none !important;
}
.at300bs:hover {
    opacity: 1 !important;
}

/* tools & actions */
div.playcastTools					{background-color:#0066CC; margin:0 0 1em 0;}
table.playcastTools	td				{font-size:70%; color:white; vertical-align:top; text-align:center; padding:5px 10px;}
table.playcastTools	td.rating img	{margin:2px 0 5px 0}
table.playcastTools	a				{color:white; text-decoration:none;}

table.actions td					{font-size:70%; vertical-align:top; text-align:center; padding:0 20px 0 0;}
table.actions a						{color:#0066CC;}
table.actions td.delete a			{color:#990000;}

/* comments */
div.cComment							{//width:100%;}
div.cComment div.cComment				{margin-left:20px;}
table.comments 							{margin:0; width:100%;}
table.comments td						{vertical-align:top;}
table.comments td.img					{padding:0 0 1.2em 0;}
table.comments td.img div				{width:100px; //width:108px; height:100px; //height:108px; background:url('/i/userpic-bg.gif') no-repeat; text-align:center; padding:4px;}
table.comments td.n						{padding:0 0 1.2em 0;}
table.comments td.n img					{background-color:#F5F5F5;}
table.comments td.comment				{padding:0 20px 1.2em 0; width:99%;}
table.comments div.frame 				{background-color:#F5F5F5;}
table.comments div.frame div div div	{padding:5px 10px;}
table.comments td.comment p				{margin:5px 0; font-size:80%;}
table.comments td.comment p.info		{font-size:70%;}
table.comments td.comment p.links		{font-size:70%;}
img.btnReplay{margin-top:2px; margin-left:15px;}

div.deepComments							{margin:0 0 0 108px; position:relative; top:-0.7em}
div.deepComment								{//width:100%; margin:0 0 0 10px;}
div.deepComment	table.comments td.n			{padding:5px 0 0.5em 0;}
div.deepComment	table.comments td.comment	{padding:0 20px 0.5em 0; width:99%;}
div.deepComment	table.comments td.comment p	{margin:0; font-size:70%;}
div.deepComment span.info					{margin-left:0.5em;}

.comments-block-hidden                      {display: none;}
.comments-block-invisible                   {visibility: hidden;}
.show-comments-button-container             { margin-bottom: 15px; }
.show-comments-button                       { position: relative; margin-left: 10px; font-size: 150%; color: #06C; text-decoration: none; border-bottom: #06C 1px dashed;  }
.comments-loading                           { position: absolute; margin-left: 10px; margin-top: -15px; }
.comments-loader-error                      { margin: 5px 0 5px; padding: 5px; max-width: 400px; background-color: #ffd0d0; color: #900; border: 1px solid #ff8080; border-radius: 3px; font-size: 85%; }

.commentFormErrorDialog                 {}
.commentSendingIndicator                { padding-top: 8px; margin-left: 5px; }

/* files */
table.fileList							{width:100%;}
table.fileList td.file div				{width:100px; //width:108px; height:100px; //height:108px; position:relative; background:url('/i/file-bg.gif') no-repeat; text-align:center; padding:4px;}
table.fileList td.file img.icon			{margin:34px;}
table.fileList td.file img.action		{position:absolute; top:82px; left:90px;}
table.fileList td.file img.closed		{position:absolute; top:5px; left:5px;}
table.fileList td.adminBtn input		{width:6em; margin-bottom:0.5em;}
table.fileList td.editBtn span			{padding:0 5px 5px 5px; white-space:nowrap; /*float:left;*/}
table.fileList td.editBtn img			{vertical-align:middle; margin-right:3px;}
table.fileList td.editBtn a				{color:#0066CC;}

table.fileList td.editBtnDontBreakSpans img           {vertical-align:middle; margin-right:3px;}
table.fileList td.editBtnDontBreakSpans a             {color:#0066CC;}
table.fileList td.editBtnDontBreakSpans .padded       {padding:0 5px 5px 5px; white-space:nowrap; /*float:left;*/}

table.fileList td.file div.compact				{width:50px; //width:58px; height:50px; //height:58px; background-image:url('/i/file-bg-sm.gif');}
table.fileList td.file div.compact img.icon		{margin:9px;}
table.fileList td.file div.compact img.action	{top:32px; left:40px;}

table.fileList img.music, .image img.music				{background:url('/i/file-music.gif');}
table.fileList img.video, .image img.video				{background:url('/i/file-video.gif');}
table.fileList img.image				{background:url('/i/file-img.gif');}
table.fileList img.flash, .image img.flash				{background:url('/i/file-flash.gif');}
table.fileList img.text				{background:url('/i/file-text.gif');}
/* file detail */
div.fileDetail h2 						{padding:0; position:relative;}
div.fileDetail h2 img.icon				{position:absolute; left:-17px; top:5px;}
h1 div.editBtn							{font-size:35%; top:-0.4em;}
div.editBtn 							{font-size:45%; top:-0.3em; display:inline; position:relative; white-space:nowrap;}
div.editBtn span						{padding:0 5px 5px 0;}
div.editBtn span img					{vertical-align:middle; margin-right:3px;}
div.editBtn span a						{color:#0066CC;}

h1 div.editBtnDontBreakSpans            {font-size:35%; top:-0.4em;}
div.editBtnDontBreakSpans               {font-size:45%; top:-0.3em; display:inline; position:relative; white-space:nowrap;}
div.editBtnDontBreakSpans .padded          {padding:0 5px 5px 0;}
div.editBtnDontBreakSpans .padded img      {vertical-align:middle; margin-right:3px;}
div.editBtnDontBreakSpans .padded a        {color:#0066CC;}

/* users */
table.userList							{width:100%;}
table.userList td.user div				{width:100px; //width:108px; height:100px; //height:108px; background:url('/i/userpic-bg.gif') no-repeat; text-align:center; padding:4px; margin-top:5px;}
table.userList td.photo 				{vertical-align:bottom;}
table.userList td.photo div				{width:100px; //width:108px; height:100px; //height:108px; background:url('/i/photo-bg.gif') no-repeat; text-align:center; padding:4px;}
table.userList td.group					{width:20%;}
table.userList td.casts					{text-align:center;}
table.userList td.files					{text-align:center;}
table.userList td.comments				{text-align:center;}
table.userList td.message				{padding-left:15px; text-align:center;}
table.userList td.delete				{padding-left:15px; text-align:center;}

table.userCard div.frame				{background-color:#E5E5E5; margin:0 20px 10px 0;}
table.userCard div.frame div div div	{padding:10px;}
table.userCard td.img					{vertical-align:top; padding-right:10px;}
table.userCard td.name 					{vertical-align:top; padding-right:10px;}
table.userCard td.name div.login		{font-size:125%; padding:0;}
table.userCard td.name div.name			{font-size:100%; padding:0; margin:0 0 0.5em 0;}
table.userCard td.actions				{vertical-align:bottom;}
table.userCard td.more					{vertical-align:bottom; font-size:70%; padding:0;}

div.collectionDetail h2 				{padding:0; position:relative;}
div.collectionDetail h2 img.icon		{position:absolute; left:-17px; top:5px;}

/* forms */
table.form					{margin:0; width:100%;}
table.form td.label			{font-size: 0.8em; padding: 0.1em 0.5em 1.2em 0; vertical-align:top;}
table.form td.input			{font-size: 0.8em; padding: 0 20px 1.2em 0; vertical-align:bottom;}
table.form td.input td		{padding:0 0.5em 0 0;}
table.form td.move			{padding-left:20px;}
table.form td.down_magnito	{padding-bottom:0.2em;}
table.form td.title			{padding:1.2em 0 0.5em 0; font-size: 100%;}
table.form td.compact		{padding-bottom: 0.2em;}
table.form h2				{padding:0; margin:0.5em 0 0 0;}
table.form div.comment		{clear:both; color:#999999; margin:0.2em 0 0 0;}
table.form td.label input	{margin-top:0.2em;}
table.form td.title p		{color:black;}
table.form tr.personalO      {display:none;}
table.form td.submit		{padding: 0 20px 1.2em 0; vertical-align:top;}

.wide						{width:100%; padding-left:2px;}
.wideFile					{width:expression('100%');}
.widePhEmpty				{width:100%; padding-left:2px; color:#797777;}
.phEmpty					{padding-left:2px; color:#797777;}
.widePass					{width:100%; padding-left:14px; background-image:url('/i/i-pass.gif'); background-repeat:no-repeat; background-position:left center;}

table.form div.delete a		{color:#990000; font-size:87%;}
table.form div.delete a		{color:#990000;}
table.form div.delete img	{vertical-align:middle; margin-right:3px;}

img.question				{vertical-align:middle; margin-left:3px;}
img.download				{vertical-align:middle; margin-left:3px;}

table.form td.wysiwyg								{background:#F3F3F1 url('/i/wysiwyg-bg.gif') repeat-x left bottom; border-right:white 20px solid;}
table.form td.wysiwyg div.container					{background:url('/i/c-tl.gif') no-repeat;}
table.form td.wysiwyg div.container div.container	{background:url('/i/c-tr.gif') no-repeat right top; padding:3px 5px;}

table.form table.guestName td						{font-size: 80%; padding:0.25em 0 0 0;}

table.submit div.frame								{background-color:#C90479; margin:0 20px 0 0;}
table.submit div.frame div div div					{padding:7px 10px;}

div.formPhoto										{//width:100%; position:relative; top:-5px;}

div.formFrame										{margin:0 20px 20px 0;}
div.formFrame div.frame								{background-color:#F9E6F1;}
div.formFrame div.frame div div div					{padding:0;}
div.formFrame div.frame div div div div				{padding:0;}

div.formFrame table.form							{margin:0; position:relative; top:10px; left:10px;}

div.formFilter 										{//width:100%; margin:1.2em 20px 1.2em 0;}
div.formFilter div.frame							{background-color:#E5E5E5;}
div.formFilter div.frame div div div				{padding:5px 0 5px 10px;}
div.formFilter table.form 							{margin:0; width:auto;}
div.formFilter table.form td						{padding:5px 10px 5px 0; vertical-align:middle;}

div.formSearchRes 									{//width:100%; margin:0 20px 1.2em 0;}
div.formSearchRes div.frame							{background-color:#E5EFFA;}
div.formSearchRes div.frame div div div				{padding:5px 0 5px 10px;}
div.formSearchRes table.form 						{margin:0; width:auto;}
div.formSearchRes table.form td						{padding:5px 10px 5px 0; vertical-align:middle;}

/* form dialogs */
div.dialogBtn							{margin:0 20px 20px 0; //width:100%;}
div.dialogBtn div.frame					{background-color:#E5EFFA;}
div.dialogBtn div.frame div div div		{padding:10px;}
div.dialogBtn h2						{margin:0; padding:0 0 0.2em 0;}
div.dialogBtn a							{color:#0066CC; text-decoration:none; border-bottom:#0066CC 1px dashed;}

div.dialogWnd							{display:none; margin:0 20px 20px 0; //width:100%;}
div.dialogWnd div.frame					{background-color:#E5EFFA;}
div.dialogWnd div.frame div div div		{padding:10px 10px 10px 0;}
div.dialogWnd div.frame div div div div	{padding:0;}
div.dialogWnd h2						{margin:0 10px 0 10px; padding:0 0 0.2em 0;}
div.dialogWnd img.close					{float:right; position:relative; left:10px;}
div.dialogWnd table.form				{margin:0; position:relative; left:10px; top:10px;}
div.dialogWnd table.form td.wysiwyg								{border-color:#E5EFFA;}
div.dialogWnd table.form td.wysiwyg div.container				{background:url('/i/c-blue-tl.gif') no-repeat ! important;}
div.dialogWnd table.form td.wysiwyg div.container div.container	{background:url('/i/c-blue-tr.gif') no-repeat right top ! important;}

table.dialog td							{padding:0;}
table.dialog td.c-top					{background:url('/i/dialog-top.png'); //background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/i/dialog-top.png',sizingMethod='crop'); text-align:center;}
table.dialog td.c-right					{background:url('/i/dialog-right.png'); //background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/i/dialog-right.png',sizingMethod='crop');}
table.dialog td.c-btm					{background:url('/i/dialog-btm.png'); //background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/i/dialog-btm.png',sizingMethod='crop');}
table.dialog td.c-left					{background:url('/i/dialog-left.png'); //background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/i/dialog-left.png',sizingMethod='crop');}
table.dialog td.c-mdl					{padding:0; background:#0066CC; text-align:left;}
table.dialog img.close					{float:right; position:relative; top:-5px; left:5px; zindex:2;}

/* calendar */
table.staticCalendar div.frame			{background-color:#0066cc; margin:0 20px 10px 0;}
table.staticCalendar div.frame div div div	{padding:10px;}

table.form td.fieldDate						{vertical-align:top; padding:0 0 0.7em 0 !important;}
table.form td.fieldDate div.date			{float:left; width:auto; padding:0 1em 0.5em 0;}
table.form td.fieldDate div.date input		{padding-left:2px;}
table.form td.fieldDate div.date img.icon	{margin-left:3px; vertical-align:middle;}

/* playcast gallery calendar */

div.calendar 							{position:absolute; display:none; z-index:35}
div.calendar table.dialog				{position:relative; top:-7px; left:-10px;}
table.calendar 							{/*width:100%;*/ position:relative; left:1px;}
table.calendar a						{color:white; text-decoration:none;}
table.calendar a:hover					{color:black;}
table.calendar td						{font-size:70%;padding: 2px 8px 0px 2px;}
table.calendar tr.days td				{color:#66a3e0;cursor:pointer; /*text-align:right;*/}
table.calendar td.header 				{/*padding:0 9px 2px 0;*/}
table.calendar td.header table			{/*width:100%;*/}
table.calendar td.header td				{padding:0;}
table.calendar td.month					{padding:0;color:white; width:99%; text-align:center;white-space: nowrap;}
table.calendar td.arrow					{margin:0;padding: 0;background:#0066CC;}

.arrow10									{background:white url('/i/arrow-pprev.gif') center; cursor:pointer;}
.arrow11									{background:black url('/i/arrow-pprev.gif') center; cursor:pointer;}
.arrow20									{background:white url('/i/arrow-prev.gif') center; cursor:pointer;}
.arrow21									{background:black url('/i/arrow-prev.gif') center; cursor:pointer;}
.arrow30									{background:white url('/i/arrow-next.gif') center; cursor:pointer;}
.arrow31									{background:black url('/i/arrow-next.gif') center; cursor:pointer;}
.arrow40									{background:white url('/i/arrow-nnext.gif') center; cursor:pointer;}
.arrow41									{background:black url('/i/arrow-nnext.gif') center; cursor:pointer;}

.hr										{border-top:#66a3e0 1px solid;}
table.calendar tr.footer td.today		{font-size:75%;text-align:right;padding:6px 8px;}
table.calendar td.today 				{color:black;}
table.calendar td.today a				{color:black;}
table.calendar td.selected 				{color:#ff9c00;}
    table.calendar td.selected a			{color:#ff9c00;}

table.rightcalendar a						{color:#000090; text-decoration:none;}
table.rightcalendar a:hover					{color:crimson;}
table.rightcalendar td						{font-size:90%;padding: 2px 8px 0px 2px;text-align:center;}
table.rightcalendar tr.days td				{cursor:pointer; text-align:center;}
table.rightcalendar td.month					{padding:0;width:99%; text-align:center;white-space: nowrap;}
table.rightcalendar tr.footer td.today		{font-size:90%;text-align:center;padding:6px 8px;}
table.rightcalendar td.today 				{color:black;background-color:white;}
table.rightcalendar td.selected 				{color:#C90479;text-align:center;}
table.rightcalendar td.selected a			{color:#C90479;}
table.rightcalendar td.othermonth 				{color:#707070;text-align:center;}

/* playcast code dialog */
div.getPlaycastCode								{display:none;}
div.getPlaycastCode div.inner1					{position:relative; width:1px;z-index:10;}
div.getPlaycastCode div.inner2					{position:absolute; top:5px; left:-220px; width:540px;z-index:10;}
div.getPlaycastCode table.dialog				{width:100%;}
div.getPlaycastCode table.dialog td.c-mdl		{width:99%;}

div.playcastCode								{margin:5px 25px 25px 25px;}
div.playcastCode div.buttons					{margin:0 0 0.5em 0;}
div.playcastCode div.buttons span				{padding:0.25em;font-size: 11px;}
div.playcastCode div.buttons span span			{padding:0; border-bottom:white 1px dashed; cursor:pointer; cursor:pointer;}
div.playcastCode div.buttons span.active		{background-color:white; color:black;}
div.playcastCode div.buttons span.active span	{border:none; cursor:default;}
div.playcastCode div.code						{display:none;}

/* login form dialog */
div.loginForm									{display:none;z-index:13;}
div.loginForm div.inner1						{position:relative; width:1px;z-index:10;}
div.loginForm div.inner2						{position:absolute; top:0; left:-160px; width:260px;z-index:10;}
div.loginForm table.dialog						{width:100%;}
div.loginForm table.dialog td.c-mdl				{width:99%;}
div.loginForm table.dialog td.c-top				{padding-left:98px;}

div.loginForm form								{padding:10px 25px 10px 25px; //width:100%;}
table.dialog table.login						{width:100%;}
table.dialog table.login td						{padding:5px 3px 0 0; vertical-align:middle;}
table.dialog table.login td.remember			{padding-top:2px;}
table.dialog table.login td.remember input		{position:relative; top:1px; left:-4px; zindex:2;}
table.dialog table.login td.forget				{padding-top:15px;}

div.lnk		{margin:0 0 1.2em 0;}
div.lnkH	{margin:0 0 1.2em 0; text-align:center;}

.playcast-footer { z-index: 0;position: fixed;bottom: 0;width: 100%; overflow: hidden; }

/* Fullscreen playcast view */
.page-fullscreen table.playcastBorder, .page-expanding table.playcastBorder { border: 0; }
.page-fullscreen .header, .page-expanding .header { position: absolute; min-width: 100%; left: -10000px; }
.page-fullscreen table.main td.main { padding-top: 0; }
.page-fullscreen body, .page-expanding body { overflow-y: scroll; } /* Avoid jump caused by scrollbar disappearing */
.page-fullscreen #mainContent, .page-expanding #mainContent { margin-bottom: 90px; background: transparent; }
.page-fullscreen #trainCasts, .page-expanding #trainCasts { display: none; }
.page-fullscreen .playcast-footer {  }
.page-expanding .playcast-footer { display: none; }
.page-fullscreen #pcCommContainer { display: none; }
.page-fullscreen .playcastStat { display: none; }
.page-fullscreen .playcastAuthor { display: none; }
.page-fullscreen .playcastInfo { display: none; }
/* .page-fullscreen .playcastTools, .page-expanding .playcastTools { display: none; } */
.page-fullscreen #anotherCasts { display: none; }
.page-fullscreen #authorComment { display: none; }
.page-fullscreen #commentsBlock, .page-expanding #commentsBlock { display: none; }
.page-fullscreen #fullView, .page-expanding #fullView { display: none; }
.page-fullscreen #restoreView, .page-expanding #restoreView { display: block; }
.page-fullscreen #restoreView { right: -19px; }
.page-fullscreen body { background: transparent; }
#fullView, #restoreView { position: relative; top: -20px;  }
#restoreView { display: none; }

/* Light version of a page */
.page-mobile-cast body { background: #fff; padding: 20px; }
.page-mobile-cast .playcastTools { display: inline-block; }
.page-mobile-cast .playcastVoteMessage { margin-bottom: 15px; color: black; font-size: 12px; font-weight: normal; padding: 0px; }

/* Events and Settings */
table.list {
	border-spacing: 0;
}

table.list td {
	border: 0;
	padding: 0 5pt 3pt 0;
	font-size: 10pt;
	vertical-align: top;
}

table.list tr.event-playcast td.time	{color: #E45025;}
table.list tr.event-news td.time		{color: #0066CC;}

table.list h3 {
	font-weight: bold;
	font-size: 10pt;
	margin: 5pt 0 0 0; padding: 0;
}

div.dialog {
	display:none;
	position:absolute; top:140px; left:25%;
	z-index:500;
	width:50%;
	background-color: #0066cc;
	color: white;
	-moz-border-radius: 6px; -webkit-border-radius: 6px;
	-moz-box-shadow: 0px 4px 6px #000; -webkit-box-shadow: 0px 4px 6px #000; box-shadow: 0px 4px 6px #000;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=6, Direction=90, Color='#000000')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=6, Direction=90, Color='#000000');
	font-size: 10pt;
}
div.dialog td {
	font-size: 10pt;
	color: white;
}
div.dialog div.close {
	text-align: right;
	margin: 3px 3px 0 0;
}
div.dialog div.content {
	margin: 0 36pt;
}
div.dialog div.submit {
	text-align: center;
	margin: 12pt 36pt 24pt 36pt;
}
div.dialog a {
	color: white;
}
div.dialog h1 {
	font-size: 14pt;
	font-weight: normal;
	margin: 6pt 0;
	padding: 0;
}
div.dialog p {
	margin: 0 0 12pt 0;
	padding: 0;
}
div.dialog ul {
	margin: 0 0 12pt 0;
	padding: 0 0 0 14pt;
}

div.dialog ul.checkboxes {
	list-style-type: none;
	padding: 0;
}

table.ad {
	border: 0;
	border-spacing: 0;
	padding: 0;
}

table.ad td {
	border: 0;
	padding: 0;
}

table.ad div.remove-ad {
	position: relative; top: 9px; left: 100%; width:10px;
}

table.ad div.remove-ad a {
	position: relative; left: -9px;
}

div.banner_place {
background: #e5e5e5;
font-weight:bold;
color: #444;
-moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px;
font-size: 9pt;
padding: 3pt 9pt;
width: 500pt;
}
div.banner_place a {
color: #444;
text-decoration:none;
border-bottom: 1px solid #444;
}

/* shanti */
div.categoryList span.current a         {color:#ffffff;text-decoration:none;}
div.letters a.selected		        {font-size:100%; padding:0.2em 0.25em; background-color:#C90479;color:#ffffff; text-decoration:none;}
table.playcast td.text p				{margin-top:0; margin-bottom:0;font-size:100%;}
table.playcast td.text p.long				{ }
table.comments td.comment p				{margin-top:0;}
a.opacityit img {
filter:alpha(opacity=50);
-moz-opacity: 0.5;
opacity: 0.5;}
a.opacityit:hover img {
filter:alpha(opacity=100);
-moz-opacity: 1.0;
opacity: 1.0;
}
/* jqModal base Styling courtesy of;
  Brice Burgess <bhb@iceburg.net> */

/* The Window's CSS z-index value is respected (takes priority). If none is supplied,
  the Window's z-index value will be set to 3000 by default (in jqModal.js). You
  can change this value by either;
    a) supplying one via CSS
    b) passing the "zIndex" parameter. E.g.  (window).jqm({zIndex: 500}); */

.jqmWindow {
    display: none;

    position: fixed;
    top: 17%;
    left: 50%;

    margin-left: -300px;
    width: 400px;

    background-color: #ffffff;
    color: #000000;
    border: 1px solid black;
    padding: 12px;
}

.jqmOverlay { background-color: #000; }

/* Background iframe styling for IE6. Prevents ActiveX bleed-through (<select> form elements, etc.) */
* iframe.jqm {position:absolute;top:0;left:0;z-index:-1;
	width: expression(this.parentNode.offsetWidth+'px');
	height: expression(this.parentNode.offsetHeight+'px');
}

/* Fixed posistioning emulation for IE6
     Star selector used to hide definition from browsers other than IE6
     For valid CSS, use a conditional include instead */
* html .jqmWindow {
     position: absolute;
     top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
}


tbody .day { /* Cells <TD> containing month days dates */
  color: white;
  text-align: right;
  cursor:pointer;
}


tbody .day.othermonth {
  text-align: center;
  COLOR: #66a3e0;
}

tbody td.today { /* Cell showing selected date */
  color: black;
}

.nav1 {
/*#007ED1 */
  background: url(/i/menuarrow2.gif) no-repeat 100% 100%;
  z-index: 0;
}
.navicon-line {
    background-color: #fff;
}
.calendar thead .hilite {color: black;}
.calendar thead .active {color: white;}

/* Combo boxes (menus that display months/years for direct selection) */

.calendar .combo {
  position: absolute;
  display: none;
  top: 0px;
  left: 0px;
  width: 4em;
  cursor: default;
  border: 1px solid #655;
  background: white;
  color: #000;
  font-size: 60%;
  z-index: 100;
}

.calendar .combo .label,
.calendar .combo .label-IEfix {
  text-align: center;
  padding: 1px;
}

.calendar .combo .label-IEfix {
  width: 4em;
}

.calendar .combo .hilite {
  background:#0066CC;
  color:white;
  border-top: 1px solid #46a;
  border-bottom: 1px solid #46a;
  font-weight: bold;
}

.calendar .combo .active {
  border-top: 1px solid #46a;
  border-bottom: 1px solid #46a;
  background: #F1F8FC;
  font-weight: bold;
}

/* main page tabs */
div.tabBtnList1 		{margin:0 0 1.2em 0; font-size:125%;}
div.tabBtnList1 span		{margin:0 20px 0 0; color:#0066CC; border-bottom:#0066CC 1px dashed; cursor:pointer;}
div.tabBtnList1 span.active	{color:black; border:none; cursor:default;}
div.tabBtnList1 a.credit	{margin:0; color:#0066CC; border-bottom:#0066CC 1px dashed; cursor:pointer; text-decoration: none; }
div.tabBtnList1 span.acc	{margin:0; color:#0066CC; border:0px;}

div.tabBtnList2 		{margin:0 0 1.2em 0; font-size:90%;}
div.tabBtnList2 span		{margin:0 20px 0 0; color:#0066CC; border-bottom:#0066CC 1px solid; cursor:pointer;}
div.tabBtnList2 span.active	{color:black; border:none; cursor:default;}


div.plthumbs 			{clear:both; padding:0;}
div.plthumb 			{float:left; margin:0 20px 0 0; width:350px;}

div.stuffthumb 			{float:left; margin:0 20px 0 0; text-align: center; width: 300px; height:250px;}
img.stuffphoto          {border: 1px #555555 solid;
                        -moz-box-shadow: 1px 1px 3px #666;
                        -webkit-box-shadow: 1px 1px 3px #666;
                        box-shadow: 1px 1px 3px #666;
                        -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=127, Color='#666666')";
                        filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=127, Color='#666666');
                        }

.mcePageBreak {display:none;}

.annonsP{
	float:left;
	width:170px;
	height:80px;
	/*margin-right: 20px; */
	/*margin-top: 15px;*/
	/*border: 1px solid black;*/
}
.annonsP1{
	float:left;
	width:170px;
	height:47px;
	margin-right: 20px;
	margin-bottom: 10px;
	/*border: 1px solid black;*/
}
.annonsTextP{
	font-size:12px;
	width:100%;
	padding-top:1px;
	padding-left:2px;
	line-height:100%;
}
.annonsTextP2{
	font-size:10px;
	color:#555555;
}
.annonsTextP3{
	font-size:13px;
	width:100%;
	padding-top:1px;
	padding-left:2px;
	line-height:110%;
}
.annonsTextP4{
	font-size:11px;
}
.annonsSpace{
	float:left;
	width:20px;
	height:80px;
}
.annonsSpace1{
	float:left;
	width:20px;
	height:47px;
}

#tooltip {
	position: absolute;
	z-index: 3000;
	border: 1px solid #111;
	background-color: #eee;
	padding: 5px;
	opacity: 0.85;
}
#tooltip h3, #tooltip div { margin: 0; }


.images_wrapper{}

.altNav {
color:#555555;
font:12px Arial;
margin:0 0 0 10px;
}
.altNav a{
font:12px Arial;
color:#4492db;
}
.go_search{
background:#e4f0fb;
	position:relative;
	behavior: url(ie-css3.htc);
	zoom: 1;
	border-radius: 8px;
	-moz-border-radius:8px 8px 8px 8px;
	-webkit-border-radius:8px 8px 8px 8px;
height:30px;
padding:10px 0 10px 10px;
}
.go_search a{
font:24px Arial;
color:#006bce;
text-decoration:none;
}
.go_search a:hover{
border-bottom:#006bce 1px dashed;

}
.katigorii{
margin:17px 0 24px 0;
}
.katigorii b{
font:12px Arial;
color:#333333;
margin-right:5px;
}
.katigorii a{
font:12px Arial;
color:#00498d;
margin-right:10px;
}

.images_wrapper .pager{
margin-bottom:13px;

}
.images_wrapper .pager_1{
margin-bottom:3px;
}
.images_wrapper .pager_1 .pager_title{
margin-right:16px;
color:#000000;
font:14px Arial;
}
.images_wrapper .pager_1 .pager_prev{
color:#999aa7;
font:16px Arial;
margin-right:15px;
}
.images_wrapper .pager_1 .pager_next{
color:#006cce;
font:16px Arial;
}

.images_wrapper .pager_2 .npage{
margin-right:6px;
font:16px Arial;
color:#006BCE;
}
.images_wrapper .pager_2 .activ_pager{
background:none repeat scroll 0 0 #337ABD;
color:#FFFFFF;
padding:0 2px 0 5px;
}

.images_wrapper .image_item{
float:left;
margin:0 30px 10px 0;
min-height:165px;
width:115px;
}
.images_wrapper .image_item .image{
	position:relative;
	behavior: url(ie-css3.htc);
	zoom: 1;
	border-radius: 8px;
	-moz-border-radius:8px 8px 8px 8px;
	-webkit-border-radius:8px 8px 8px 8px;
background:#cccccc;
text-align:center;
margin-bottom:5px;
display:table-cell;
vertical-align:middle;
margin-bottom:5px;
height:114px;
width:128px;
}
.images_wrapper .image_item .image img{
margin-top: expression(((outer.offsetHeight/2)
-parseInt(offsetHeight)/2)  <0 ? "0" :
(outer.offsetHeight/2)
-(parseInt(offsetHeight)/2) +'px') ;
}
.images_wrapper .image_id, .image_item .image_name{
margin-top:5px;
}
.images_wrapper .image_id,
.image_item .image_name,
.images_wrapper .image_lics{
font:12px/12px Arial;
color:#666666;
}








.images_wrapper .photo{
background:none repeat scroll 0 0 #CCCCCC;
padding:30px 0;
text-align:center;
margin:0 20px 20px 0;
}
.images_wrapper .add_to_fav{
float:right;
margin:10px 30px 0 0;
}
.licenses_details .titles_first{
font:11px Arial;
color:#222222;
padding:7px 10px 0 0;
}
.licenses_details .titles td{
font:14px Arial;
color:#222222;
padding:0px 10px 0 0;
}

.licenses_details .licenz{
width:90px;
}
.licenses_details .detali{

}
.licenses_details .titles td.cena{
color:#cc0000;
}
.licenses_details .download{

}
.licenses_details .download a{
font:11px Arial;
color:#006cce;
}
.keywords_wrapper .keywords_content{
margin:15px 0 0 0;
}
.keywords_wrapper .keywords_content b{
color:#333333;
font:14px Arial;
margin-right:5px;
}
.keywords_wrapper .keywords_content a{
font:14px Arial;
color:#00498d;
}



.go_back{
margin:0 0 15px 0;
}
.go_back a{
color:#006cce;
font:16px Arial;
}


h1.h1_full_photo {
color:#000000;
font:28px Arial;
margin: 5px 0;
padding: 0;
}

.keywords_content .keys_b {
    float: left;
    width: 40px;
    padding-top: 2px;
}

.keywords_keys {
    float: left;
    width: 90%;
}





.main_search {
        clear: both;
        overflow: hidden;
}
.main_search .keywords_title{
	float:left;
	font-size:14px;
	width:120px;
}
.main_search .form_filter{
	margin:0 0 0 10px;
	}
.main_search .formfield .category_selects,
.main_search .orientation div,
.main_search .type_image div {
	float:left;
        font-size: 14px;
	}
.main_search .offensive{
	margin:0 0 25px 0;
	}
.main_search .type_image,
.main_search .formfield,
.main_search .orientation{
	float:left;
	clear:both;
	margin:0 0 25px 0;
	}
.main_search .type_image_title,
.main_search .orientation_title,
.main_search .formfield_title{
 float:left;
 width:120px;
 font-size:14px;
 }

.main_search .form_filter{
 overflow:hidden;
 margin-top: 20px;
 }
.main_search .offensive{
 font-size:14px;
 margin:0 0 25px 116px;
 }
.main_search .form_filter .keywords_filter input[type='text']{
 width:549;
 }
.main_search .form_filter .category_selects select{
     min-width: 180px;
}
.image_item span{
    position: relative;
    float:right;
}
.images_wrapper .images_main_page td{
width:33%;
margin:0;
padding:0 0 20px 0 ;
vertical-align:top;
}
.images_wrapper  .main_cat_image{
float:left;
margin:4px 5px 5px 0;
}
.images_wrapper .subcats_wrapper {
margin:0 0 0 85px;
}
.images_wrapper  .subcats_wrapper span.subcat_title a{
font:12px Arial;
color:#00498d;
}
.images_wrapper  .subcats_wrapper span {
float:left;
margin:0 8px 0 0;
}

div.published_in {
background: #e3effa url('/i/arr.gif') center right no-repeat;
-moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px;
font-size: 9pt;
padding: 3pt 9pt;
width: 192pt;
}
div.published_in a {
color: #0066cc;
text-decoration:none;
border-bottom: 1px dotted #0066cc;
}
ul.published_list {
position: absolute;
margin: 0 8px;
padding: 3pt 9pt;
font-size: 9pt;
width: 178pt;
background-color: #e3effa;
list-style-type: none;
-moz-box-shadow: 0px 3px 4px #333;
-webkit-box-shadow: 0px 3px 4px #333;
box-shadow: 0px 3px 4px #333;
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=127, Color='#333333')";
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=127, Color='#333333');
}
ul.published_list li {
margin-bottom: 3pt;
}
ul.published_list a {
color: #0066cc;
}
div.blog-navbar-bg  				{background-color:#000000;    font-size: 12px;}
.itemZoom {
    cursor:pointer;
}
#share42{
    display: inline-block;
    padding: 6px 0 0 6px;
    background: #FFF;
    border: 1px solid #E9E9E9;
    border-radius: 4px;
    vertical-align: middle;
}
.socbtns {
    display: inline-block;
    padding: 6px 0 0 6px;
    background: #FFF;
    border: 1px solid #E9E9E9;
    border-radius: 4px;
    vertical-align: middle;
}
.socbtns img {
    display: inline-block;
    height: 24px;
    margin: 0 6px 6px 0;
    outline: medium none;
    vertical-align: bottom;
    width: 24px;
}
#share42:hover {
    background: #F6F6F6;
    border: 1px solid #D4D4D4;
    box-shadow: 0 0 5px #DDD;
}
#share42 a {opacity: 0.5;}
#share42:hover a {opacity: 0.7}
#share42 a:hover {opacity: 1}

.nice_btn:before {
    content: "";
    display: block;
    height: 100%;
    left: -8px;
    padding: 8px;
    position: absolute;
    top: -8px;
    width: 100%;
    z-index: -1;
}
.nice_btn {
    background-color: #0066cc;
    background-image: -moz-linear-gradient(center bottom , #0066CC 0%, #007FF6 100%);
    border: 1px solid #186F8F;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 0 #7FD2F1 inset, 0 1px 0 #FFFFFF;
    color: #FFFFFF;
    font-family: 'Open Sans',sans-serif;
    font-size: 12px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    font-size:20px;
    text-shadow: #333333 -1px -1px 0;
    position: relative;
    text-decoration: none;
    width: 150px;
}
div.userthumbnail {
    width: 110px;
    height: 110px;
    margin: 0 24px 50px 0;
    float: left;
    text-align: center;
}

div.userthumbnail div.useravatar {
    width: 110px;
    height: 110px;
    display: table-cell;
    background-color: #EEEEEE;
    border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; behavior: url('/js/border-radius.htc');
    text-align: center;
    vertical-align: middle;
    -moz-box-shadow: 0px 1px 2px #333; -webkit-box-shadow: 0px 1px 2px #333; box-shadow: 0px 1px 2px #333;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=90, Color='#333333')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=90, Color='#333333');
}
div.userthumbnail img {
    border-top: 1px solid #a6a6a6;
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    border-left: 1px solid #a6a6a6;
}
div.userthumbnail div.desc {
    font-size: 8pt;
    color: #999999;
    margin: 2px 4px;
}
div.userthumbnail div.author {
    font-size: 12pt;
    color: #999999;
    margin: 0 4px;
}
div.pl table.comments td.comment p, div.pl input {
    font-size: 12px;
}
div.pl table.comments td.comment p.links, div.pl table.comments td.comment p.info {
    font-size: 11px;
}
div.contest-tabs span.active	{
    padding:0.2em 0.7em;
    margin-right: 0.2em;
    background-color:#0066CC;
    cursor: pointer;
    font-size: 95%;
    color:white;
}
div.contest-tabs span.default	{
    padding:0.2em 0.7em;
    margin-right: 0.2em;
    text-decoration: underline;
    cursor: pointer;
    font-size: 95%;
    color:#0066CC;
}
div.contest-tabs {
    padding-bottom: 20px;
}
div.fb-comments span, div.fb-comments span iframe {
    height: 400px ! important;
}
.social-btn {
    float: left;
}
.social-btns {
    height: 22px;
    display: block;
    width: 470px;
}
.odkl-klass, .odkl-klass:hover {background:none;}
.uiGrid {
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
}
table.blocks .uiGrid  td{
    padding: 0 ! important;
}
.connect_widget_button_count_nub {
    float: left;
    position: relative;
    z-index: 2;
    height: 0;
    width: 5px;
    top: -5px;
    left: 2px;
}
.connect_widget_button_count_nub s, .connect_widget_button_count_nub i {
    border: solid transparent;
    border-right-color: #D7D7D7;
    top: 1px;
    display: block;
    position: relative;
    border-width: 4px 5px 4px 0;
}
.connect_widget_button_count_nub i {
    left: 2px;
    top: -7px;
    border-right-color: white;
}
.connect_widget_button_count_count {
    background: white;
    border: 1px solid #D1D1D1;
    float: left;
    font-weight: normal;
    height: 14px;
    margin-left: 1px;
    min-width: 15px;
    padding: 1px 2px 1px 2px;
    text-align: center;
    line-height: 14px;
    white-space: nowrap;
    font-size: 11px;
    color: #333333;
    font-weight: bold;
}
.contest-block {
    border: solid 1px #7EB2E4;
    border-radius: 8px;
    width: 220px;
    margin-right: 20px;
    margin-top: -4px;
    font-size: 11px;
    text-align: left;
    padding: 10px 2px 10px 15px;
}
.contest-block input {
    vertical-align: middle;
}

div.createCastContestBlock {
    display: block;
    background: none repeat scroll 0 0 #E5EFFA;
    border-radius: 15px;
    padding: 10px;
    height: 60px;
    width: 600px;
    color: #A51068;
}

/** При наличии CSS3 используется CSS, при отсутствии — картинки */
.deco-corner-tl, .deco-corner-tr, .deco-corner-bl, .deco-corner-br { display: inline-block; width: 20px; height: 20px;  }
.deco-corner-tl { background: url('/i/content-c-tl.gif') no-repeat 0 0; }
.deco-corner-tr { background: url('/i/content-c-tr.gif') no-repeat 0 0; }
.deco-corner-br { background: url('/i/content-c-br.gif') no-repeat 0 0; }
.deco-corner-bl { background: url('/i/content-c-bl.gif') no-repeat 0 0; }

.with-css3-base .deco-corner-tl { background: #fff; background-image: none;
    -webkit-border-radius: 7px 0 0 0; -moz-border-radius: 7px 0 0 0; border-radius: 7px 0 0 0; }
.with-css3-base .deco-corner-tr { background: #fff; background-image: none;
    -webkit-border-radius: 0 7px 0 0; -moz-border-radius: 0 7px 0 0; border-radius: 0 7px 0 0; }
.with-css3-base .deco-corner-br { background: #fff; background-image: none;
    -webkit-border-radius: 0 0 7px 0; -moz-border-radius: 0 0 7px 0; border-radius: 0 0 7px 0; }
.with-css3-base .deco-corner-bl { background: #fff; background-image: none;
    -webkit-border-radius: 0 0 0 7px; -moz-border-radius: 0 0 0 7px; border-radius: 0 0 0 7px; }


.deco-dialog-tl-s, .deco-dialog-tr-s, .deco-dialog-bl-s, .deco-dialog-br-s { display: inline-block;
    width: 5px; height: 5px; }
.deco-dialog-tl-s { background: url('/i/i/dialog-tl_s.gif') no-repeat }
.deco-dialog-tr-s { background: url('/i/i/dialog-tr_s.gif') no-repeat }
.deco-dialog-bl-s { background: url('/i/i/dialog-bl_s.gif') no-repeat }
.deco-dialog-br-s { background: url('/i/i/dialog-br_s.gif') no-repeat }

.with-css3-base .deco-dialog-tl-s { background: #06c;
    -moz-border-radius: 5px 0 0 0; -webkit-border-radius: 5px 0 0 0; border-radius: 5px 0 0 0; }
.with-css3-base .deco-dialog-tr-s { background: #06c;
    -moz-border-radius: 0 5px 0 0; -webkit-border-radius: 0 5px 0 0; border-radius: 0 5px 0 0; }
.with-css3-base .deco-dialog-br-s { background: #06c;
    -moz-border-radius: 0 0 5px 0; -webkit-border-radius: 0 0 5px 0; border-radius: 0 0 5px 0; }
.with-css3-base .deco-dialog-bl-s { background: #06c;
    -moz-border-radius: 0 0 0 5px; -webkit-border-radius: 0 0 0 5px; border-radius: 0 0 0 5px; }

/* IMG radius */

.b-img-radius{
    zoom: 1;
    /* position: relative; */
    -webkit-border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0 0;
    border-radius: 8px 8px 0 0;
    display: inline-block;
    vertical-align: top;
}

h2.weighty {
    font-weight: bold;
    font-size: 24px;
}

div.holiday-text {
    min-width: 186px;
    height: 130px;
    background-color: #eccde2;
    padding-left: 134px;
    vertical-align: top;
}
/* ----------------------------------------------------------------------------------------------------------------------------
== Загнутые уголки
** ---------------------------------------------------------------------------------------------------------------------------- */

.note {
    /* position:relative; */
    margin-top:10px;
    height: 130px;
    color:#fff;
    background:#eccde2;
    overflow:hidden;
}

.note:before {
    content:"";
    position:absolute;
    bottom:0;
    right:0;
    border-width:0 0 30px 30px; /* Данный трюк устраняет ошибку в браузерах webkit (сдвиг)  */
    border-style:solid;
    border-left-color:#f6e6f0; background:#f6e6f0;
    background:#f6e6f0; /* Для Opera при применении border-radius */
    display:block; width:0; /* Только для Firefox 3.0 для снятия ограничений */
    /* Опционально: тени */
    -webkit-box-shadow:0 1px 1px rgba(0,0,0,0.3), -2px -2px 2px rgba(0,0,0,0.2);
    -moz-box-shadow:0 1px 1px rgba(0,0,0,0.3), -2px -2px 2px rgba(0,0,0,0.2);
    box-shadow:0 1px 1px rgba(0,0,0,0.3), -2px -2px 2px rgba(0,0,0,0.2);
}

/* main page Holiday block */
.celebArea
{
    display:block;
    min-width: 336px;
}

.dateArea
{
    width: 120px;
    height: 130px;
    margin: 0;
    float:left;
    background-color: #a70f6a;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
}

.dateArea .numbers
{
    font-size: 72px;
    padding-top: 10px;
}

.dateArea .month
{
    font-size: 20px;
    margin-top: -16px;
    text-transform:uppercase;
}

.holiday-text .wm .celebName
{
    padding-top: 10px;
    font-weight: bold;
    font-size: 18px;
    color: #000;
    padding-right: 33px;
    word-wrap: break-word;
}

.holiday-text .wm .celebLink
{
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 5px;
    /* position: absolute;*/
    bottom: 0px;
    font-weight: bold;
    color: #06C;
}
/* end of main page Holiday block */
.peContentPage { background: #fff; padding: 1px 20px 1px; }
.imageButton { display: inline-block; cursor: pointer;}
.imageButton img { vertical-align: top; }

div.jspPane div.playcastAnn.friendCard {
	width: 311px !important;
	margin-right: 2px;
}


.page-clean { background: #fff; }
.uploader-block { padding: 20px; }

/* pefu = playcast editor file uploader */
.pefuFormError, .pefuErrorBlock { color: #a00; font-weight: bold; }

/* from playcast_view */
div.code.socialShare-wrapper {
    background-color: #fff !important;
    padding: 10px;
}

div.code.socialShare-wrapper a {
    font-size: 11px;
}

table.playcastTools a.share {
    color: rgb(0, 102, 204);
}

table#socialShare-buttons {
    height: 65px;
    width: 100%;
    margin-top: 5px;
}

table#socialShare-buttons td {
    width: 20%;
}

#share-help {
    margin-left: 5px;
    font-size: 12px;
    color: #000;
}

#floatsocbtn {
    position: fixed;
    z-index: 1000;
    margin-left: -45px;
    top: 245px;
    padding: 5px 5px 0;
}

* html #floatsocbtn {display: none}

#floatsocbtn a {
    display: block;
    width: 32px;
    height: 32px;
    margin: 0 0 6px;
}
.addthis_floating_style {
    background: none !important;
}
.at300bs:hover {
    opacity: 1 !important;
}
/*****/

.wm-offer {
    clear: both;
    height: 100px;
    margin: 10px 0;
    padding: 0 0 10px;
    width: 100%;
}

.wm-offer .img {
    float: left;
    margin: 7px;
    width: 76px;
}

.wm-offer .img img {
    margin: 0px auto;
}
.wm-offer .contents {
    float: left;
    margin-top: 10px;
    width: 420px;
}

.wm-offer-call {
    border-bottom: 1px dashed #0066CC;
    color: #0066CC;
    cursor: pointer;
    margin: 0 20px 0 0;
    text-decoration: none;
    font-size: 20px;
}

.playcastStat .c_cell {
    padding: 0 !important;
    margin: 0 !important;
}

/* Clipart window */
.clip-list { margin-bottom: 1.2em; }
/* clearfix */
.clip-cf:after { content: ''; display: table; clear: both; height: 0; overflow: hidden; }
.clip-music-column { float: left; width: 48%;  }
.clip-music-column + .clip-music-column { margin-left: 3%; }
.clip-music-row { background: none; min-height: 70px; width: 100%; 
    text-align: left; clear: both; margin-bottom: 12px; }
.clip-music-info { margin-left: 70px; }
.clip-music-author { margin-top: 0px; color: #888; }
.clip-music-icon { background: url('/i/file-bg-sm.gif') no-repeat 50% 50%; 
    position: relative;
    width: 50px; height: 50px; padding: 4px;float: left;margin-right: 15px; }
.clip-music-image { display: block; margin: 9px; width: 32px; height: 32px; 
    background:url('/i/file-music.gif') no-repeat 50% 50%; }
.clip-cats-sep { border-top: 1px solid #ccc; margin: 10px 0 8px; height: 0; width: 100px; }

/* Text library window */
.dialog-text-lib { background: #fff; padding: 20px; font: 13px/18px Arial, sans-serif; color: #000; }
.dialog-text-lib ul { font-size: 100%; }

.text-lib-categories { /*float: left;*/ width: 140px; position: fixed; }
.text-lib-categories h2 { margin: 0 0 8px 0; padding: 0; }
.text-lib-list { list-style-type: none; margin: 12px 0 12px; padding: 0; }
.text-lib-list > li { margin: 0; padding: 0; }
.text-lib-list > li a, .text-lib-list > li span { display: block; padding: 4px; }
.text-lib-list .text-lib-selected { background: #06c; color: #fff; font-weight: bold; }

.text-lib-main { margin-left: 190px;}
.text-lib-main-wrap {  float: left; width: 100%; }
.text-lib-main h2 { margin: 0 0 20px 0; padding: 0; }
.text-lib-main .text-item { display: inline-block; vertical-align: top; 
    width: 26em; margin: 0 0 30px 0; }
.text-lib-main h3 { font-weight: bold; padding: 0; margin: 0 0 12px 0; }

.text-item.left { margin-right: 15px; clear: left; }

.dialog-text-lib .text-item-body { display: inline-block; padding-bottom: 8px; 
        border-bottom: 1px solid #ccc; }
.dialog-text-lib .text-item-author { font-style: italic; color: #666; margin: 0 0 0 80px; 
    display: block; padding-top: 3px; }
.dialog-text-lib .text-item-footer { margin-top: 12px; }
.dialog-text-lib .text-item-select { float: left; margin-right: 15px; margin-bottom: 6px; }
.dialog-text-lib .text-item-select button { margin: 0; }

.text-item-clearfix:after { display: table; content: ''; height: 0; clear: both; overflow: hidden; }

.minWidth.conceal { display: none; }

.minWidth.dots { display: inline; }

@media only screen and (min-width: 1350px){
    .minWidth.conceal { display: inline; }

    .minWidth.dots { display: none; }
}

.anons-content {
    width:47px;
    height:47px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, .7);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, .7);
    -goog-ms-box-shadow: 0 0 1px rgba(0, 0, 0, .7);
    box-shadow: 0 0 1px rgba(0, 0, 0, .7);
}

.anons-small-preview {
   margin: 6px;
}

#toTop {
    position: fixed;
    z-index: 9993;
    right: 15px;
    background: #4F4F4F;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    text-align: center;
    font: normal normal 42px/42px sans-serif;
    text-shadow: 0 1px 2px #000;
    opacity: .5;
    padding: 3px;
    margin-bottom: 5px;
    width: 42px;
    height: 42px;
    bottom: 60px;
}
#onBottom {
    position: fixed;
    z-index: 9993;
    right: 15px;
    background: #4F4F4F;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    text-align: center;
    font: normal normal 42px/42px sans-serif;
    text-shadow: 0 1px 2px #000;
    opacity: .5;
    padding: 3px;
    margin-bottom: 5px;
    width: 42px;
    height: 42px;
    bottom: 10px;
}#toTop {
    position: fixed;
    z-index: 9993;
    right: 15px;
    background: #4F4F4F;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    text-align: center;
    font: normal normal 42px/42px sans-serif;
    text-shadow: 0 1px 2px #000;
    opacity: .5;
    padding: 3px;
    margin-bottom: 5px;
    width: 42px;
    height: 42px;
    bottom: 60px;
}
#onBottom {
    position: fixed;
    z-index: 9993;
    right: 15px;
    background: #4F4F4F;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    text-align: center;
    font: normal normal 42px/42px sans-serif;
    text-shadow: 0 1px 2px #000;
    opacity: .5;
    padding: 3px;
    margin-bottom: 5px;
    width: 42px;
    height: 42px;
    bottom: 10px;
}