/* Undo some styles from the master stylesheet */
.jSmsUL li { background: none; padding-left: 0; }

/* CSS for jSmsCodeSelect5s */
.jSmsUL {
    text-align:left;
	border: 1px solid #ccc;
	list-style: none;
	height: 80px;
	overflow: auto;
	width: 360px;
}
.jSmsUL, .jSmsUL li { text-align:left; margin: 0; padding: 0; cursor:pointer; }
.jSmsUL label { display: block; padding: 0 0.2em 0 25px; text-indent: -25px; }
.jSmsUL label:hover, .jSmsUL label.hover { background: #777; color: #fff; }
* html .jSmsUL label { height: 1%; }

/* Undo some styles from the master stylesheet */
.jSmsULP li { background: none; padding-left: 0; }

/* CSS for jSmsCodeSelect5s */
.jSmsULP {
    text-align:left;
	border: 1px solid #ccc;
	list-style: none;
	height: 80px;
	overflow: auto;
	width: 360px;
}
.jSmsULP, .jSmsULP li { text-align:left; margin: 0; padding: 0; cursor:pointer; }
.jSmsULP label { display: block; padding: 0 0.2em 0 25px; text-indent: -25px; }
.jSmsULP label:hover, .jSmsULP label.hover { background: #777; color: #fff; }
* html .jSmsULP label { height: 1%; }

/* shop */
.inputAmount1{
	font-size: 34px;
	line-height: normal;
	color: Black;
	padding: 4px 15px 4px 10px;
	border: none;
	width: 219px;
	height: 43px;
	background: url("/i/input-amount1.gif") 0 0 no-repeat;
	text-align: right;
}

table.dialog_1 td {padding:0;}
table.dialog_1 td.c-top {
	background: url('/i/dialog-top_1.png');
	text-align: center;
}
table.dialog_1 td.c-right {background:url('/i/dialog-right_1.png'); }
table.dialog_1 td.c-btm {background:url('/i/dialog-btm_1.png'); }
table.dialog_1 td.c-left {background:url('/i/dialog-left_1.png'); }
table.dialog_1 td.c-mdl {padding:0; background:#0066CC; text-align:left;}
table.dialog_1 img.close {position:relative; top:-5px; left:5px; zindex:2;cursor:pointer;}
table.dialog_1 img.indic {position:relative; top:-5px; left:-5px; zindex:2;cursor:pointer;}

table.frame_w td.tl {padding:0; background:url('/i/c-tl_w.png') no-repeat left top;}
table.frame_w td.tr {padding:0; background:url('/i/c-tr_w.png') no-repeat right top;}
table.frame_w td.bl {padding:0; background:url('/i/c-bl_w.png') no-repeat left bottom;}
table.frame_w td.br {padding:0; background:url('/i/c-br_w.png') no-repeat right bottom;}
table.frame_w div.c {width:5px; height:5px;}

table.dialog_w td {padding:0;}
table.dialog_w td.c-top {background:#e5f1fc;}
table.dialog_w td.c-right {background:#e5f1fc; }
table.dialog_w td.c-btm {background:#e5f1fc; }
table.dialog_w td.c-left {background:#e5f1fc; }

table.dialog_s td {padding:0;}
table.dialog_s td.c-top {padding:0; background:#0066CC;text-align: center;}
table.dialog_s td.c-right {margin: 0;padding:0; background:#0066CC; }
table.dialog_s td.c-btm {margin: 0;padding:0; background:#0066CC; }
table.dialog_s td.c-left {margin: 0;padding:0; background:#0066CC; }
table.dialog_s td.c-mdl {margin: 0;padding:0; background:#0066CC; text-align:left;}
table.dialog_s img.close {position:relative; top:-1px; left:1px; zindex:2;cursor:pointer;}
table.dialog_s img.indic {position:relative; top:-1px; left:1px; zindex:2;cursor:pointer;}

/* tabs */
div.tabBtnList1 				{margin:0 0 1.2em 0; font-size:125%;}
div.tabBtnList1 span		    {margin:0 20px 0 0; color:#0066CC; border-bottom:#0066CC 1px dashed; cursor:pointer;}
div.tabBtnList1 span.active		{color:black; border:none; cursor:default;}
div.tabBtnList1 a.credit		{margin:0; color:#0066CC; border-bottom:#0066CC 1px dashed; cursor:pointer; text-decoration: none; }
div.tabBtnList1 span.acc		{margin:0; color:#0066CC; border:0;}
h2.moneyTitle                   {margin:0;padding: 0; font-size: 125%; margin-bottom: 1.2em;}
span.money	                    {font-size: 140%;color:#cc0000; margin:0; border-bottom: 0; cursor:auto;}