.externLogin {
    background-image: url(/i/social-button-large.png);
    background-repeat: no-repeat;
    width: 32px;
    border: none;
    background-color: transparent;
    margin: 1px;
    cursor: pointer;
    height: 32px;
}
.externLogin:hover {
    opacity: 0.65;
}
.authLoader {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: url(/i/loading.gif) center center no-repeat;
    top: 0;
    left: 0;
    background-color: rgba(124, 124, 124, 0.31);
}
#authLoader.authLoader {
    position: fixed;
}
#soc_auth_dialog_dialog input[type="button"] {
    margin: 10px auto;
    width: 310px;
}
