#tinybox, #tinybox_shop, #tinybox_anons {
	position: fixed;
	/*position:absolute;*/
	display: none;
	padding-top: 10px;
	margin-top: 10px;
	z-index: 10;
}

#tinymask {
	position: absolute;
	display: none;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: #000;
	z-index: 9;
}
