/* UMass Manual Overrides */

/* google appliance searchbox styling */

.block-google-appliance { display: none; }

/* active state (smartphone viewport) */

.block-google-appliance.active { 
	display: block;
	width: 100%;
	position: relative;
	top: 6.5em;
	z-index: 1;
}

.block-google-appliance.active .content input {
	margin: 20px 0;
}

.block-google-appliance .content input#edit-submit { background-color: #444; }

.block-google-appliance.active .content input#edit-search-keys,
.block-google-appliance.active .content input#edit-search-keys--2,
.block-google-appliance.active .content input#edit-search-keys--3 { 
	width: 70%;
	margin-left: 9%;
}

/* normal state (table viewport and up) */

@media (min-width: 720px) { .block-google-appliance { 
  float: right;
	display: block;
}}

.block-google-appliance .content { 
	margin-top: 1em;
	font-family: "Trebuchet MS",sans-serif;
	font-size: 15px;
}

.block-google-appliance .content input {
  border: 1px solid #656565;
  color: #656565;
  font-family: "Trebuchet MS",sans-serif;
  font-size: inherit;
	height: 25px;
  padding: 1px 5px;
  text-rendering: optimizelegibility;
  width: 90px;
}
@media (min-width: 900px) { .block-google-appliance .content input { width: 130px; } }

.block-google-appliance .content input#edit-search-keys,
.block-google-appliance .content input#edit-search-keys--2,
.block-google-appliance .content input#edit-search-keys--3 {
	position: relative;
	right: -5px;
	top: 1px;
}

.block-google-appliance .content input#edit-submit,
.block-google-appliance .content input#edit-submit--2,
.block-google-appliance .content input#edit-submit--3 {
	background: transparent url("../img/buttons/btn-search.png") no-repeat;
	border: 0 none;
	height: 28px;
  position: relative;
	text-indent: -9999px;   
	top: 1px;
	height: 29px;
  width: 29px;
	vertical-align: top;
	left: -2px;
}


/* overrides of style.css */

@media (min-width: 720px) { li.googlebox { display: none; } }

@media (min-width: 720px) { #block-block-1, .block-google-appliance { margin-top: 30px; }}

#block-block-1 .content a { padding: 0 0.8em; }

#block-block-1 .content li:last-child { padding-top: 3px; }  /* or remove this declaration entirely */

#block-block-1 .content button { text-indent: -9999px; }

#block-menu-menu-meta-nav { 
	float: none; 
	position: absolute;
	right: 14px;
}

@media (min-width: 720px) { #block-menu-menu-meta-nav { height: 25px; } }

#block-menu-menu-meta-nav .content { float: right; }

#block-block-1.active li.googlebox { display: none; } 

#block-block-1.active ul { padding-bottom: 4em; }

.item-list .pager li {
	margin: .3em;
	padding: 0;
	font-size: smaller;
}

@media (min-width: 720px) { .item-list .pager li { font-size: inherit; }}

.homepage-head a { padding-right: 6px; } /* space rss logo from news and events header links */

#atoz span { color: #999; } /* fade policy dates */

#atoz span:before { content:" | Last updated: "; }

