/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* NOTA BENE be sure to update the javascript file if you add/edit/remove breakpoints!!! */
body {
  color: #444;
  font-family: "Helvetica Neue", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.6;
  -webkit-text-size-adjust: 100%; }

i {
  font-style: italic; }

.module-title,
.module-primary h1 {
  text-rendering: optimizelegibility;
  font-family: "Trebuchet MS", sans-serif;
  -webkit-font-smoothing: antialiased;
  /* to be used for knocked out text, or VERY judiciously on large text */
  font-weight: bold;
  font-size: 37px;
  line-height: 1.2;
  color: #656565; }

.module-headline {
  font-size: 18px; }

.module-primary h2 {
  font-size: 23px;
  line-height: 1.25; }

.node-type-listpage .module-primary h1 {
  color: #777;
  margin-bottom: 10px; }

.node-type-listpage .module-primary h2 {
  color: #777; }

.module-headline {
  margin: 1.5em 0;
  color: #000; }

.node-type-storypage .module-headline {
  color: #767676; }

.module-title + .module-headline {
  margin-top: 0.5em; }

.module-subheadline,
.module-primary h3 {
  font-size: 18px; }

.module-subheadline {
  margin-bottom: 1em; }

.module-primary h3 {
  padding-bottom: 1em; }

.module-primary h4 {
  font-weight: bold; }

.module-banner {
  margin-top: 1em; }

.module-primarytext {
  font-style: italic;
  color: #656565; }

.module-primary p {
  padding-bottom: 18px; }

.module-primary p:last-child {
  padding-bottom: 0; }

a:link, a:visited, a:active {
  color: #881C1C; }

a:link {
  text-decoration: none; }

.lt-ie9 a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

.module-primary ul,
.module-related-links ul {
  padding-bottom: 1em; }
  .module-primary ul li,
  .module-related-links ul li {
    display: block;
    padding-left: 16px;
    background: url(../img/arrows/right-dark.png) 0 5px no-repeat; }
    @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-device-pixel-ratio: 1.5) {
      .module-primary ul li,
      .module-related-links ul li {
        background-size: 9px 12px;
        background-image: url(../img/arrows/right-dark@2x.png); } }
  .module-primary ul.links,
  .module-related-links ul.links {
    padding-bottom: 2em; }
    .module-primary ul.links li,
    .module-related-links ul.links li {
      padding-bottom: 0.5em;
      background: url(../img/arrows/right-red.png) 0 5px no-repeat; }
      @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-device-pixel-ratio: 1.5) {
        .module-primary ul.links li,
        .module-related-links ul.links li {
          background-size: 9px 12px;
          background-image: url(../img/arrows/right-red@2x.png); } }

.module-headline b, .module-headline strong,
.module-primary b,
.module-primary strong {
  font-weight: bold; }
.module-headline i, .module-headline em,
.module-primary i,
.module-primary em {
  font-style: italic; }
.module-headline u,
.module-primary u {
  text-decoration: underline; }

@media (min-width: 1080px) {
  body {
    font-size: 15px; }

  .module-title {
    font-size: 39px; }

  .module-subheadline {
    color: #881C1C; }

  .module-headline {
    font-size: 19px; }

  .module-primary h2 {
    font-size: 24px; }

  .module-subheadline,
  .module-primary h3 {
    font-size: 19px; } }
.pull-quote {
  color: #767676;
  font-style: italic; }

.pull-quote.quote h3 {
  color: #881c1c;
  font-size: 1.5em; }

.quote h3::before {
  color: #767676;
  content: open-quote;
  font-family: serif;
  font-size: 4em;
  line-height: 0;
  position: relative;
  top: 0.3em; }

.quote {
  margin: 1em 2em 3em; }

.bar {
  border-left: 3px solid #881c1c;
  float: left;
  margin: 1em 1em 1em 0;
  max-width: 40%;
  padding: 0 1em 0 2em; }

.pull-quote p {
  float: right; }

.article-caption {
  float: left;
  font-size: 12px;
  font-style: italic;
  margin: 0.5em 2em 1em 0;
  width: 40%; }

.article-caption img {
  border: 1px solid #999;
  padding: 2px; }

.article-caption p {
  color: #881c1c;
  margin: 0 0.5em; }

.article-caption-full {
  color: #6d6d6d;
  font-size: 1.125em;
  margin: 1em auto;
  text-align: center;
  width: 80%; }

@media (max-width: 479px) {
  .article-caption {
    float: none;
    margin: 1em auto;
    width: 80%; } }
hr {
  border: none;
  height: 1px;
  background-image: url("../img/hr.png");
  background-position: 0 3px;
  margin: 0; }

.hr-wrapper {
  clear: both; }

#block-menu-devel {
  background-color: #fff;
  padding: 0 20px 20px;
  float: left; }

.element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px; }

@font-face {
  font-family: 'gateway-icons';
  src: url("../fonts/gateway-icons.eot");
  src: url("../fonts/gateway-icons.eot?#iefix") format("embedded-opentype"), url("../fonts/gateway-icons.woff") format("woff"), url("../fonts/gateway-icons.ttf") format("truetype"), url("../fonts/gateway-icons.svg#gateway-icons") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'gateway-icons';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-button-spotlight-chevron, .icon-button-spotlight-camera {
  font-family: 'gateway-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

.icon-button-spotlight-chevron:before {
  content: "\e000"; }

.icon-button-spotlight-camera:before {
  content: "\e001"; }

body {
  background-color: #EEE; }

#header .section,
#main-wrapper,
#footer .section {
  max-width: 1200px;
  margin: 0 auto; }

.lt-ie9 #header .section,
.lt-ie9 #main-wrapper,
.lt-ie9 #footer .section {
  min-width: 900px; }

#main-wrapper {
  padding-bottom: 18px; }

#page-wrapper {
  max-width: 1280px;
  background-color: #fff;
  box-shadow: 6px 0px 10px -7px #888, -6px 0px 10px -7px #888;
  margin: 0 auto; }

.lt-ie9 #page-wrapper {
  border-left: 1px solid #bbb;
  border-right: 1px solid #bbb; }

#main {
  padding: 20px 0;
  position: relative; }

.not-front #content .tabs {
  position: absolute;
  top: 0;
  width: 100%; }

.region {
  padding: 0 6px; }

.module-primary img {
  max-width: 100%; }

figure img {
  width: 100%;
  height: auto; }

figcaption img {
  width: auto; }

.module-slideshow-nav {
  float: right; }

.node-type-detailpage-left #sidebar-second,
.node-type-detailpage-right #sidebar-first {
  display: none; }

@media (min-width: 720px) {
  #main {
    padding: 30px 0; }

  .front #main {
    padding-top: 0; }

  .region {
    padding: 0 10px; }

  .module-primarytext {
    float: right; }

  .column-50 {
    float: left;
    width: 48%; }
    .column-50.first {
      margin-right: 4%; } }
@media (min-width: 900px) {
  #main {
    overflow: hidden;
    /* clear floats */ }

  .not-front #content {
    width: 75%; }
  .not-front #sidebar-first,
  .not-front #sidebar-second {
    width: 25%; }

  .page-campus-gallery #main-wrapper,
  .page-campus-gallery #content {
    max-width: initial;
    width: auto; }

  .node-type-detailpage-left #content, .node-type-listpage #content {
    float: right; }
  .node-type-detailpage-left #sidebar-first, .node-type-listpage #sidebar-first {
    float: left; }

  .node-type-storypage #content, .node-type-detailpage-right #content, .page-features #content, .page-gsearch #content {
    float: left; }
  .node-type-storypage #sidebar-second, .node-type-detailpage-right #sidebar-second, .page-features #sidebar-second, .page-gsearch #sidebar-second {
    float: right; } }
@media (min-width: 1080px) {
  .region {
    padding: 0 15px; }

  .node-type-storypage #content, .node-type-detailpage-right #content, .page-features #content {
    width: 66.66%; }
  .node-type-storypage #sidebar-second, .node-type-detailpage-right #sidebar-second, .page-features #sidebar-second {
    width: 33.33%; } }
@media (min-width: 1200px) {
  .node-type-storypage .region-sidebar-second, .node-type-detailpage-right .region-sidebar-second, .page-features .region-sidebar-second {
    padding-left: 45px; } }
.invideo {
  margin-bottom: -1.5em; }

#page-wrapper {
  border-top: 6px solid #881C1C; }

#header .section {
  position: relative; }

#block-system-main-menu .content {
  left: 0;
  right: -200%; }

#block-block-1 .content {
  left: -100%;
  right: -100%; }

#block-menu-menu-meta-nav .content {
  left: -200%;
  right: 0; }

#block-system-main-menu,
#block-block-1,
#block-menu-menu-meta-nav {
  position: absolute;
  top: 48px;
  height: 50px;
  width: 33.33333%;
  background-image: url(../img/nav-divider.png);
  background-repeat: no-repeat;
  background-position: 0 0px; }
  @media (min-width: 720px) {
    #block-system-main-menu,
    #block-block-1,
    #block-menu-menu-meta-nav {
      background-image: none; } }
  #block-system-main-menu > h2,
  #block-block-1 > h2,
  #block-menu-menu-meta-nav > h2 {
    border-radius: 4px 4px 0 0;
    text-align: center;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 24px;
    line-height: 50px;
    color: #444; }
  #block-system-main-menu .content,
  #block-block-1 .content,
  #block-menu-menu-meta-nav .content {
    display: none;
    position: absolute;
    top: 100%;
    margin-left: -6px;
    margin-right: -6px; }
  #block-system-main-menu.active .content,
  #block-block-1.active .content,
  #block-menu-menu-meta-nav.active .content {
    display: block; }
  #block-system-main-menu.active h2, #block-system-main-menu.active .content,
  #block-block-1.active h2,
  #block-block-1.active .content,
  #block-menu-menu-meta-nav.active h2,
  #block-menu-menu-meta-nav.active .content {
    color: #fff;
    background-color: #444; }
  #block-system-main-menu.active .content li,
  #block-block-1.active .content li,
  #block-menu-menu-meta-nav.active .content li {
    display: block;
    width: 50%;
    line-height: 55px;
    font-size: 17px; }
    @media (min-width: 350px) {
      #block-system-main-menu.active .content li,
      #block-block-1.active .content li,
      #block-menu-menu-meta-nav.active .content li {
        font-size: 19px; } }
    #block-system-main-menu.active .content li a,
    #block-block-1.active .content li a,
    #block-menu-menu-meta-nav.active .content li a {
      display: block;
      color: #fff;
      border: 1px solid #555; }
  @media (min-width: 720px) {
    #block-system-main-menu,
    #block-block-1,
    #block-menu-menu-meta-nav {
      position: relative;
      top: 0;
      width: auto;
      height: auto;
      float: none; }
      #block-system-main-menu > h2,
      #block-block-1 > h2,
      #block-menu-menu-meta-nav > h2 {
        display: none; }
      #block-system-main-menu .content,
      #block-block-1 .content,
      #block-menu-menu-meta-nav .content {
        display: block;
        position: static;
        width: auto;
        margin-left: 0;
        margin-right: 0; } }

#block-block-1.active .content li {
  width: 33.33333%;
  text-align: center; }
  #block-block-1.active .content li a {
    height: 55px;
    overflow: hidden; }
  #block-block-1.active .content li form {
    width: 280%;
    padding: 0 10%; }
    #block-block-1.active .content li form input {
      width: 80%; }

#block-system-main-menu {
  left: 0%; }
  @media (min-width: 350px) {
    #block-system-main-menu > h2 {
      text-indent: -30px;
      background-image: url(../img/mobile-menu.png);
      background-repeat: no-repeat;
      background-position: 84% 13px; } }
  @media only screen and (min-width: 350px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-width: 350px) and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-width: 350px) and (min-device-pixel-ratio: 1.5) {
    #block-system-main-menu > h2 {
      background-size: 31px 22px;
      background-image: url(../img/mobile-menu@2x.png); } }

  @media (min-width: 350px) {
    #block-system-main-menu.active > h2 {
      background-image: url(../img/mobile-menu-active.png); } }
  @media only screen and (min-width: 350px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-width: 350px) and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-width: 350px) and (min-device-pixel-ratio: 1.5) {
    #block-system-main-menu.active > h2 {
      background-image: url(../img/mobile-menu-active@2x.png); } }

  @media (min-width: 720px) {
    #block-system-main-menu {
      left: 0; }
      #block-system-main-menu > h2 {
        text-indent: 0;
        background-image: none; } }

#block-block-1 {
  left: 33.33333%; }
  @media (min-width: 350px) {
    #block-block-1 > h2 {
      text-indent: -16px;
      background-image: url(../img/mobile-find.png);
      background-repeat: no-repeat;
      background-position: 78% 13px; } }
  @media only screen and (min-width: 350px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-width: 350px) and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-width: 350px) and (min-device-pixel-ratio: 1.5) {
    #block-block-1 > h2 {
      background-size: 21px 22px;
      background-image: url(../img/mobile-find@2x.png); } }

  @media (min-width: 350px) {
    #block-block-1.active > h2 {
      background-image: url(../img/mobile-find-active.png); } }
  @media only screen and (min-width: 350px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-width: 350px) and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-width: 350px) and (min-device-pixel-ratio: 1.5) {
    #block-block-1.active > h2 {
      background-image: url(../img/mobile-find-active@2x.png); } }

  @media (min-width: 720px) {
    #block-block-1 {
      left: 0; }
      #block-block-1 > h2 {
        text-indent: 0;
        background-image: none; } }

#block-menu-menu-meta-nav {
  left: 66.66667%; }
  #block-menu-menu-meta-nav .content li {
    margin: 0;
    float: left;
    text-align: center; }
  @media (min-width: 720px) {
    #block-menu-menu-meta-nav {
      left: 0; }
      #block-menu-menu-meta-nav .content li {
        margin-left: 0.5em;
        float: none; } }

#block-block-1 {
  bottom: -4px; }

#block-menu-menu-meta-nav {
  bottom: -29px; }

@media (min-width: 720px) {
  #block-block-1,
  #block-menu-menu-meta-nav {
    bottom: 0; } }
@media (min-width: 720px) {
  #block-menu-menu-meta-nav {
    float: right; } }
#block-menu-menu-meta-nav .content {
  background-color: #881C1C;
  border-radius: 0 0 10px 10px;
  text-rendering: optimizelegibility;
  font-family: "Trebuchet MS", sans-serif;
  font-size: 13px;
  line-height: 18px;
  padding: 0px 8px 7px; }
  @media (min-width: 1080px) {
    #block-menu-menu-meta-nav .content {
      font-size: 14px;
      padding: 0px 24px 7px; } }
#block-menu-menu-meta-nav li {
  display: inline;
  list-style-type: none;
  padding: 0; }
#block-menu-menu-meta-nav a {
  color: #CBCB99;
  -webkit-font-smoothing: antialiased;
  /* to be used for knocked out text, or VERY judiciously on large text */
  padding: 0 4px; }
  @media (min-width: 900px) {
    #block-menu-menu-meta-nav a {
      padding: 0 9px; } }

#name-and-slogan {
  margin: 0 auto; }
  @media (min-width: 720px) {
    #name-and-slogan {
      padding-left: 23px; } }
  #name-and-slogan a {
    display: block;
    float: left; }
    @media (min-width: 720px) {
      #name-and-slogan a {
        padding: 23px 0 26px; } }
    #name-and-slogan a span {
      display: block;
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden; }
  #name-and-slogan .wordmark span {
    background: none, url("../img/header-logo_tagline.png") no-repeat;
    background: none, url("../img/header-logo_tagline.svg") no-repeat;
    width: 191px;
    height: 40px;
    background-size: contain; }
    @media (min-width: 720px) {
      #name-and-slogan .wordmark span {
        width: 229px;
        height: 48px;
        background-size: contain; } }
    @media (min-width: 900px) {
      #name-and-slogan .wordmark span {
        width: 306px;
        height: 65px;
        background-size: contain; } }
    @media (min-width: 1080px) {
      #name-and-slogan .wordmark span {
        width: 344px;
        height: 72px;
        background-size: contain; } }
  #name-and-slogan .sesq span {
    background: none, url("../img/header-150-logo.png") no-repeat;
    background: none, url("../img/header-150-logo.svg") no-repeat;
    width: 56px;
    height: 29px;
    background-size: 56px 29px;
    margin-right: 4px; }
    @media (min-width: 720px) {
      #name-and-slogan .sesq span {
        width: 67px;
        height: 35px;
        background-size: 67px 35px;
        margin-right: 6px; } }
    @media (min-width: 900px) {
      #name-and-slogan .sesq span {
        width: 88px;
        height: 46px;
        background-size: 88px 46px;
        margin-right: 7px; } }
    @media (min-width: 1080px) {
      #name-and-slogan .sesq span {
        width: 100px;
        height: 52px;
        background-size: 100px 52px;
        margin-right: 8px; } }
  #name-and-slogan #site-name {
    padding-top: 8px;
    width: 191px;
    margin: auto;
    overflow: hidden; }
    @media (min-width: 720px) {
      #name-and-slogan #site-name {
        padding-top: 0px;
        width: auto;
        overflow: visible; } }

.lt-ie9 #name-and-slogan .wordmark span {
  width: 229px;
  height: 48px; }
.lt-ie9 #name-and-slogan .sesq span {
  width: 100px;
  height: 52px;
  margin-right: 8px; }

#header {
  box-shadow: 0px 1px 5px 0 rgba(0, 0, 0, 0.65);
  position: relative;
  z-index: 2;
  /* ensure the shadow appears on top of elements lower in the page AND that on mobile menus appear over page content */
  height: 100px; }
  @media (min-width: 720px) {
    #header {
      height: auto; } }

#main {
  z-index: 1;
  /* ensure that page content appears underneath menus on mobile */ }

.lt-ie9 #header {
  border-bottom: 1px solid #ccc; }

.lt-ie9 #main-wrapper {
  border-top: 1px solid #eee; }

#page-wrapper {
  overflow: hidden;
  /* don't let header shadow leak on sides */ }

.lt-ie9 .block-google-appliance {
  clear: right; }

@media (min-width: 720px) {
  #block-block-1 {
    float: right; } }
#block-block-1 .content {
  font-size: 14px;
  text-rendering: optimizelegibility;
  font-family: "Trebuchet MS", sans-serif; }
  @media (min-width: 720px) {
    #block-block-1 .content {
      margin-top: 1em; } }
  @media (min-width: 1080px) {
    #block-block-1 .content {
      font-size: 15px; } }
  #block-block-1 .content ul {
    overflow: hidden; }
  #block-block-1 .content li {
    float: left; }
  #block-block-1 .content a {
    background-image: url(../img/vr-red.png);
    background-repeat: repeat-y;
    background-position: 0 0;
    padding: 0 1em; }
  #block-block-1 .content li:first-child a {
    background-image: none; }
  #block-block-1 .content li {
    padding-top: 3px; }
  #block-block-1 .content li:last-child {
    padding-top: 0; }
  #block-block-1 .content input {
    text-rendering: optimizelegibility;
    font-family: "Trebuchet MS", sans-serif;
    font-size: inherit;
    color: #656565;
    border: 1px solid #656565;
    display: inline-block;
    height: 24px;
    padding: 1px 5px;
    margin: 0; }
    @media (min-width: 900px) {
      #block-block-1 .content input {
        height: 25px; } }
  #block-block-1 .content button {
    border: 0;
    padding: 0;
    margin: 0;
    width: 28px;
    height: 28px;
    text-indent: 100%;
    background-image: url("../img/buttons/btn-search.png");
    background-color: transparent;
    position: relative;
    top: -1px; }
    @media (min-width: 900px) {
      #block-block-1 .content button {
        width: 29px;
        height: 29px; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-device-pixel-ratio: 1.5) {
      #block-block-1 .content button {
        background-image: url("../img/buttons/btn-search@2x.png");
        background-size: 28px 28px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.5) and (min-width: 900px), only screen and (-o-min-device-pixel-ratio: 3 / 2) and (min-width: 900px), only screen and (min-device-pixel-ratio: 1.5) and (min-width: 900px) {
    #block-block-1 .content button {
      background-size: 29px 29px; } }

.ua-is-gecko.ua-is-windows #block-block-1 input {
  padding-bottom: 0; }

.lt-ie9 #block-block-1 button {
  top: 1px; }

@media (min-width: 720px) {
  #block-system-main-menu {
    clear: both;
    line-height: 1.6;
    z-index: 3; } }
#block-system-main-menu .content {
  text-rendering: optimizelegibility;
  font-family: "Trebuchet MS", sans-serif;
  -webkit-font-smoothing: antialiased;
  /* to be used for knocked out text, or VERY judiciously on large text */
  font-size: 15px; }
  @media (min-width: 900px) {
    #block-system-main-menu .content {
      font-size: 17px; } }
  @media (min-width: 1080px) {
    #block-system-main-menu .content {
      font-size: 19px; } }
  #block-system-main-menu .content > ul {
    width: 100%; }
  #block-system-main-menu .content li {
    list-style-type: none;
    list-style-image: none;
    display: block;
    float: left;
    padding: 0;
    margin: 0; }
  @media (min-width: 720px) {
    #block-system-main-menu .content {
      /* based on pixel measurements from comp */ }
      #block-system-main-menu .content .about {
        width: 7.4359%; }
      #block-system-main-menu .content .visit-campus {
        width: 12.82051%; }
      #block-system-main-menu .content .admissions {
        width: 11.02564%; }
      #block-system-main-menu .content .academics {
        width: 10.94017%; }
      #block-system-main-menu .content .student-life {
        width: 12.05128%; }
      #block-system-main-menu .content .research {
        width: 9.82906%; }
      #block-system-main-menu .content .arts {
        width: 6.15385%; }
      #block-system-main-menu .content .athletics {
        width: 9.57265%; }
      #block-system-main-menu .content .community {
        width: 11.11111%; }
      #block-system-main-menu .content .giving,
      #block-system-main-menu .content .give {
        width: 9.05983%; } }
  #block-system-main-menu .content a {
    display: block;
    text-align: center;
    color: #000; }
    @media (min-width: 720px) {
      #block-system-main-menu .content a {
        padding-top: 7px;
        padding-bottom: 12px; } }
    @media (min-width: 900px) {
      #block-system-main-menu .content a {
        padding-top: 8px;
        padding-bottom: 16px;
        padding-left: 1px;
        background-image: url(../img/nav-divider.png);
        background-repeat: no-repeat;
        background-position: 0 4px; } }
    @media (min-width: 1080px) {
      #block-system-main-menu .content a {
        padding-top: 9px;
        padding-bottom: 18px; } }
    @media (min-width: 720px) {
      #block-system-main-menu .content a {
        border-radius: 4px 4px 0 0; } }
    @media (min-width: 900px) {
      #block-system-main-menu .content a {
        border-radius: 7px 7px 0 0; } }
    @media (min-width: 1080px) {
      #block-system-main-menu .content a {
        border-radius: 8px 8px 0 0; } }
    #block-system-main-menu .content a:hover {
      color: #881C1C;
      text-decoration: none; }
  #block-system-main-menu .content .first a {
    padding-left: 0;
    background-image: none; }

#block-views-megamenus-block {
  display: none; }

.megamenu {
  display: none;
  position: absolute;
  color: #fff;
  background-color: #444;
  background-color: rgba(68, 68, 68, 0.9);
  float: left;
  overflow: hidden; }
  @media (min-width: 720px) {
    .megamenu {
      border-radius: 0 0 4px 4px; } }
  @media (min-width: 900px) {
    .megamenu {
      border-radius: 0 0 7px 7px; } }
  @media (min-width: 1080px) {
    .megamenu {
      border-radius: 0 0 8px 8px; } }
  .megamenu.style-right.nav-about {
    width: 92.5641%; }
  .megamenu.style-right.nav-visit-campus {
    width: 79.74359%; }
  .megamenu.style-right.nav-admissions {
    width: 68.71795%; }
  .megamenu.style-right.nav-academics {
    width: 57.77778%; }
  .megamenu.style-right.nav-student-life {
    width: 45.7265%; }
  .megamenu.style-right.nav-research {
    width: 35.89744%; }
  .megamenu.style-right.nav-arts {
    right: 29.74359%; }
  .megamenu.style-right.nav-athletics {
    right: 20.17094%; }
  .megamenu.style-right.nav-community {
    right: 9.05983%; }
  .megamenu.style-right.nav-giving, .megamenu.style-right.nav-give {
    right: 0; }
  .megamenu .views-field {
    float: left;
    overflow: hidden; }
  .megamenu .module-dropdown-extra {
    padding-top: 3px; }

.first .megamenu {
  border-bottom-left-radius: 0; }

.last .megamenu {
  border-bottom-right-radius: 0; }

@media (min-width: 720px) {
  #block-system-main-menu .megamenu-active a {
    background-image: none;
    background-color: #444;
    color: #fff; }
    #block-system-main-menu .megamenu-active a:hover {
      color: #fff;
      text-decoration: underline; }
  #block-system-main-menu .megamenu-active .megamenu {
    display: block;
    padding: 12px 22px 16px;
    font-size: 15px;
    line-height: 1.6; }
    #block-system-main-menu .megamenu-active .megamenu li {
      clear: left; }
    #block-system-main-menu .megamenu-active .megamenu a {
      background: transparent;
      padding: 0; }
      #block-system-main-menu .megamenu-active .megamenu a:hover {
        text-decoration: underline; }
    #block-system-main-menu .megamenu-active .megamenu .views-field-field-menu-name {
      padding-right: 22px;
      border-right: 1px solid #c4c4c4;
      margin-right: 22px; }
    #block-system-main-menu .megamenu-active .megamenu.body-0 .views-field-field-menu-name {
      padding-right: 0;
      border-right: none;
      margin-right: 0; }
    #block-system-main-menu .megamenu-active .megamenu h2 {
      font-weight: bold;
      line-height: 1;
      margin-bottom: 9px; }
    #block-system-main-menu .megamenu-active .megamenu p {
      font-size: 12px;
      line-height: 1.25;
      margin-bottom: 15px; } }
/*

scrapping the double-story nav items for usability concerns


#block-system-main-menu {
  @include text-heading-style;
  @include text-tweak-weight;
  font-size: 18px;
  @media (min-width: $width-supports-everything) {
    font-size: 19px;
  }
  line-height: 1;
 .content {
    ul {
      display: table;
      width: 100%;
    }
    li {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      list-style-type: none;
      list-style-image: none;
      padding: 0;
      margin: 0;
      height: 57px;
      background-image: url(../img/nav-divider.png);
      background-repeat: no-repeat;
      background-position: 0 4px;
    }
    .first { background-image: none; }
    @media (min-width: $width-supports-sidebar) {
      .about        { width: percentage( 75px / 940px); }
      .visit-campus { width: percentage( 95px / 940px); }
      .admissions   { width: percentage(113px / 940px); }
      .academics    { width: percentage(112px / 940px); }
      .student-life { width: percentage( 93px / 940px); }
      .research     { width: percentage( 99px / 940px); }
      .arts         { width: percentage( 59px / 940px); }
      .athletics    { width: percentage( 99px / 940px); }
      .community    { width: percentage(119px / 940px); }
      .giving       { width: percentage( 76px / 940px); }
    }
    @media (min-width: $width-supports-everything) {
      .about        { width: percentage( 87px / 1170px); }
      .visit-campus { width: percentage(150px / 1170px); }
      .admissions   { width: percentage(129px / 1170px); }
      .academics    { width: percentage(128px / 1170px); }
      .student-life { width: percentage(141px / 1170px); }
      .research     { width: percentage(115px / 1170px); }
      .arts         { width: percentage( 72px / 1170px); }
      .athletics    { width: percentage(112px / 1170px); }
      .community    { width: percentage(130px / 1170px); }
      .giving       { width: percentage(106px / 1170px); }
    }
    a {
      padding-top: 14px;
      padding-bottom: 24px;
      color: $color-mainnav;
      &:hover {
        color: $color-body-link;
        text-decoration: none;
      }
    }
  }
}


*/
.view-homepage-features .homepage-billboard-image {
  position: relative;
  height: 0;
  padding-bottom: 75%;
  /* force 4:3 ratio */ }
  .view-homepage-features .homepage-billboard-image .field-content {
    position: absolute;
    top: 0;
    left: 0; }
  .view-homepage-features .homepage-billboard-image img {
    position: relative;
    width: 100%;
    height: auto;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
    opacity: 0; }
  .view-homepage-features .homepage-billboard-image .new img {
    opacity: 1; }
.view-homepage-features .homepage-billboard-caption {
  text-align: center;
  background-color: #881C1C;
  padding: 18px;
  color: #E4E3DA; }
  .view-homepage-features .homepage-billboard-caption a:link {
    color: #E4E3DA; }
  .view-homepage-features .homepage-billboard-caption a:visited {
    color: #E4E3DA; }
.view-homepage-features .view-content {
  text-align: center; }
.view-homepage-features .views-row {
  background: #BDBDAE;
  height: 12px;
  width: 12px;
  border-radius: 12px;
  display: inline-block;
  margin: 8px 4px; }
  .view-homepage-features .views-row.selected {
    background: #881C1C; }
  .view-homepage-features .views-row * {
    display: none; }
.view-homepage-features .view-footer {
  display: none; }

@media (min-width: 720px) {
  .view-homepage-features {
    background-color: #6A150D;
    position: relative;
    overflow: hidden;
    height: 425px;
    margin-bottom: 15px; } }
  @media (min-width: 720px) and (min-width: 1080px) {
    .view-homepage-features {
      height: 525px; } }
@media (min-width: 720px) {
    .view-homepage-features .homepage-billboard-image {
      float: left;
      width: 60%;
      line-height: 0; } }
    @media (min-width: 720px) and (min-width: 1080px) {
      .view-homepage-features .homepage-billboard-image {
        width: 59.82906%; } }
@media (min-width: 720px) {
      .view-homepage-features .homepage-billboard-image .field-content {
        left: 50%;
        margin-left: -320px;
        width: 640px; } }
      @media (min-width: 720px) and (min-width: 1080px) {
        .view-homepage-features .homepage-billboard-image .field-content {
          margin-left: -350px;
          width: 700px; } }
@media (min-width: 720px) {
    .view-homepage-features .homepage-billboard-caption {
      display: none; }
    .view-homepage-features .view-content {
      text-align: left; }
    .view-homepage-features .views-row {
      height: auto;
      width: auto;
      border-radius: 0;
      display: block;
      margin: 0; }
      .view-homepage-features .views-row * {
        display: block; }
    .view-homepage-features .view-footer {
      display: block; }
    .view-homepage-features .homepage-billboard-up,
    .view-homepage-features .view-content,
    .view-homepage-features .homepage-billboard-down {
      position: absolute;
      right: 0;
      width: 40%; } }
    @media (min-width: 720px) and (min-width: 1080px) {
      .view-homepage-features .homepage-billboard-up,
      .view-homepage-features .view-content,
      .view-homepage-features .homepage-billboard-down {
        width: 40.17094%; } }
@media (min-width: 720px) {
    .view-homepage-features .homepage-billboard-up {
      top: 0;
      background-image: url(../img/arrows/billboard-prev.png);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      border-bottom: 1px solid #fff; } }
    @media only screen and (min-width: 720px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-width: 720px) and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-width: 720px) and (min-device-pixel-ratio: 1.5) {
      .view-homepage-features .homepage-billboard-up {
        background-size: 22px 22px;
        background-image: url(../img/arrows/billboard-prev@2x.png); } }
@media (min-width: 720px) {
    .view-homepage-features .view-content {
      top: 28px; } }
    @media (min-width: 720px) and (min-width: 1080px) {
      .view-homepage-features .view-content {
        top: 35px; } }
@media (min-width: 720px) {
    .view-homepage-features .homepage-billboard-down {
      bottom: 0;
      background-image: url(../img/arrows/billboard-next.png);
      background-repeat: no-repeat;
      background-position: 50% 50%; } }
    @media only screen and (min-width: 720px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-width: 720px) and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-width: 720px) and (min-device-pixel-ratio: 1.5) {
      .view-homepage-features .homepage-billboard-down {
        background-size: 22px 22px;
        background-image: url(../img/arrows/billboard-next@2x.png); } }
@media (min-width: 720px) {
    .view-homepage-features .homepage-billboard-up,
    .view-homepage-features .homepage-billboard-down {
      height: 27px;
      background-color: #6A150D; } }
    @media (min-width: 720px) and (min-width: 1080px) {
      .view-homepage-features .homepage-billboard-up,
      .view-homepage-features .homepage-billboard-down {
        height: 34px; } }
@media (min-width: 720px) {
    .view-homepage-features .homepage-billboard-down {
      border-top: 1px solid #C37673;
      position: absolute;
      bottom: 0;
      right: 0; }
    .view-homepage-features .views-row {
      background: #981f12;
      /* Old browsers */
      /* IE9 SVG, needs conditional override of 'filter' to 'none' */
      background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk4MWYxMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3MjE5MTEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
      background: -moz-linear-gradient(top, #971f12 0%, #731911 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #971f12), color-stop(100%, #731911));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #971f12 0%, #731911 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #971f12 0%, #731911 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #971f12 0%, #731911 100%);
      /* IE10+ */
      background: linear-gradient(to bottom, #971f12 0%, #731911 100%);
      /* W3C */
      padding: 9px 16px 9px;
      border-bottom: 1px solid #C37673;
      text-rendering: optimizelegibility;
      font-family: "Trebuchet MS", sans-serif;
      -webkit-font-smoothing: antialiased;
      /* to be used for knocked out text, or VERY judiciously on large text */ } }
    @media (min-width: 720px) and (min-width: 1080px) {
      .view-homepage-features .views-row {
        padding: 10px 16px 11px; } }
@media (min-width: 720px) {
      .view-homepage-features .views-row.views-row-last {
        border-bottom: none; } }
    @media (min-width: 720px) and (min-width: 720px) {
      .view-homepage-features .views-row {
        height: 74px; } }
    @media (min-width: 720px) and (min-width: 1080px) {
      .view-homepage-features .views-row {
        height: 92px; } }
@media (min-width: 720px) {
    .view-homepage-features .views-field-field-homepage-image img {
      display: none;
      width: 72px;
      height: 72px;
      border: 1px solid #fff;
      margin-right: 16px;
      float: left;
      box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.3); } }
    @media (min-width: 720px) and (min-width: 900px) {
      .view-homepage-features .views-field-field-homepage-image img {
        display: block; } }
    @media (min-width: 720px) and (min-width: 1080px) {
      .view-homepage-features .views-field-field-homepage-image img {
        width: 90px;
        height: 90px; } }
@media (min-width: 720px) {
    .view-homepage-features .views-field-title {
      text-shadow: 1px 1px 1px rgba(93, 14, 0, 0.65);
      font-size: 18px;
      line-height: 1;
      padding-top: 16px;
      padding-bottom: 5px; } }
    @media (min-width: 720px) and (min-width: 1200px) {
      .view-homepage-features .views-field-title {
        font-size: 24px; } }
@media (min-width: 720px) {
      .view-homepage-features .views-field-title a {
        color: #fff; }
    .view-homepage-features .views-field-field-subhead {
      text-shadow: 1px 1px 1px rgba(93, 14, 0, 0.65);
      font-size: 12px;
      line-height: 1; } }
    @media (min-width: 720px) and (min-width: 1080px) {
      .view-homepage-features .views-field-field-subhead {
        font-size: 14px; } }
@media (min-width: 720px) {
      .view-homepage-features .views-field-field-subhead a {
        color: #CB8C8B; }
    .view-homepage-features .views-row.selected {
      background: #fff;
      border-right: 1px solid #e7dddd;
      position: relative;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.65); }
      .view-homepage-features .views-row.selected .views-field-title {
        text-shadow: none; }
        .view-homepage-features .views-row.selected .views-field-title a {
          color: #8C2017; }
      .view-homepage-features .views-row.selected .views-field-field-subhead {
        text-shadow: none; }
        .view-homepage-features .views-row.selected .views-field-field-subhead a {
          color: #521306; }
      .view-homepage-features .views-row.selected:after {
        right: 100%;
        content: " ";
        height: 117px;
        width: 36px;
        position: absolute;
        pointer-events: none;
        background-image: url("../img/arrows/billboard-selected.png");
        top: 50%;
        margin-top: -61px; } }
      @media (min-width: 720px) and (min-width: 1080px) {
        .view-homepage-features .views-row.selected:after {
          width: 42px; } }
@media (min-width: 720px) {
    .view-homepage-features .views-field-field-homepage-image-1 {
      display: none; }

  .lt-ie9 .view-homepage-features .views-row {
    /* leads to problematic behavior
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#981f12', endColorstr='#721911',GradientType=0 ); /* IE6-8 */ } }
.view-home-page-notifications .notification {
  font-family: "Trebuchet MS", sans-serif;
  border: 1px solid;
  border-radius: 0;
  font-size: 17px;
  line-height: 22px;
  padding: 12px 18px 12px 55px;
  margin: 15px 0;
  background-repeat: no-repeat;
  background-position: 15px 50%; }
  @media (min-width: 1080px) {
    .view-home-page-notifications .notification {
      font-size: 19px;
      line-height: 25px;
      padding: 13px 20px 13px 57px; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-device-pixel-ratio: 1.5) {
    .view-home-page-notifications .notification {
      background-size: 32px 28px; } }
  .view-home-page-notifications .notification.notice {
    background-color: #f4f3eb;
    border-color: #e4e3db;
    color: #747484;
    background-image: url(../img/icons/notice.png); }
    @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-device-pixel-ratio: 1.5) {
      .view-home-page-notifications .notification.notice {
        background-image: url(../img/icons/notice@2x.png); } }
  .view-home-page-notifications .notification.alert {
    background-color: #FFFFCC;
    border-color: #ffcf75;
    color: #556;
    background-image: url(../img/icons/alert.png); }
    @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-device-pixel-ratio: 1.5) {
      .view-home-page-notifications .notification.alert {
        background-image: url(../img/icons/alert@2x.png); } }

#block-umass-gateway-support-homepage-news,
#block-umass-gateway-support-homepage-events,
#block-block-7,
#block-views-homepage-spotlights-block {
  text-rendering: optimizelegibility;
  font-family: "Trebuchet MS", sans-serif; }

#block-block-7 {
  	/* removed because of unwanted broadness
   display: none; */ }

#block-views-homepage-spotlights-block .content {
  padding-top: 25px; }

@media (min-width: 720px) {
  #block-umass-gateway-support-homepage-news,
  #block-umass-gateway-support-homepage-events,
  #block-block-7,
  #block-views-homepage-spotlights-block {
    float: left;
    width: 50%; }

  #block-umass-gateway-support-homepage-news .content {
    padding-right: 10%;
    border-right: 1px solid #CCCCCC; }

  #block-umass-gateway-support-homepage-events .content,
  #block-block-7 .content {
    padding-left: 10%; }

  #block-block-7 .content {
    padding-top: 25px; }

  #block-views-homepage-spotlights-block {
    clear: left; }

  #block-block-7 {
    display: block; } }
@media (min-width: 900px) {
  #block-umass-gateway-support-homepage-news {
    width: 27.77778%; }

  #block-umass-gateway-support-homepage-events {
    width: 29.48718%; }

  #block-views-homepage-spotlights-block {
    width: 25.64103%; }

  #block-block-7 {
    width: 17.09402%; }

  #block-views-homepage-spotlights-block {
    clear: none; }

  #block-umass-gateway-support-homepage-news .content,
  #block-umass-gateway-support-homepage-events .content {
    padding-right: 25px;
    border-right: 1px solid #CCCCCC; }

  #block-umass-gateway-support-homepage-events .content,
  #block-block-7 .content,
  #block-views-homepage-spotlights-block .content {
    padding-left: 25px; }

  #block-views-homepage-spotlights-block .content,
  #block-block-7 .content {
    padding-top: 0; } }
.homepage-head {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 15px; }

.homepage-news-items a,
.homepage-events-items a {
  color: #444; }
  .homepage-news-items a .homepage-events-details,
  .homepage-events-items a .homepage-events-details {
    color: #656565; }
  .homepage-news-items a:hover,
  .homepage-events-items a:hover {
    color: #881c1c; }
    .homepage-news-items a:hover .homepage-events-details,
    .homepage-events-items a:hover .homepage-events-details {
      color: #881c1c; }

.homepage-news-item,
.homepage-events-item {
  overflow: hidden;
  display: block; }

.homepage-news-items hr,
.homepage-events-items hr {
  background-position: 0 0; }

.homepage-news-items hr {
  margin: 15px 0; }

.homepage-events-items hr {
  margin: 10px 0; }

.homepage-news-thumbnail,
.homepage-events-thumbnail {
  width: 30.15385%;
  float: left; }
  .homepage-news-thumbnail img,
  .homepage-events-thumbnail img {
    width: 100%;
    height: auto;
    padding: 2px;
    border: 1px solid #999999; }

.homepage-news-title,
.homepage-events-title {
  font-size: 15px;
  font-weight: bold;
  float: right;
  padding-top: 3px; }

.homepage-news-title {
  width: 66.15385%; }

.homepage-news-title {
  line-height: 1.33;
  padding-bottom: 15px; }

.homepage-events-title {
  line-height: 1.1; }

.homepage-events-details {
  font-size: 12px;
  line-height: 1.24;
  float: right;
  padding-bottom: 11px; }

.homepage-events-item .homepage-events-thumbnail {
  display: none; }
.homepage-events-item .homepage-events-title,
.homepage-events-item .homepage-events-details {
  width: 100%; }
.homepage-events-item:first-child.has-thumbnail .homepage-events-thumbnail {
  display: block; }
.homepage-events-item:first-child.has-thumbnail .homepage-events-title,
.homepage-events-item:first-child.has-thumbnail .homepage-events-title + .homepage-events-details {
  width: 66.15385%; }

#block-umass-gateway-support-homepage-news hr,
#block-block-7 hr,
.homepage-submit-event-link hr {
  margin: 15px 0; }

.homepage-more-link {
  font-size: 15px;
  text-align: right;
  position: relative;
  overflow: hidden; }
  .homepage-more-link img {
    float: left;
    width: 30.15385%;
    height: auto; }
  .homepage-more-link a {
    display: block;
    padding-right: 16px;
    background: url(../img/arrows/right-red.png) 100% 6px no-repeat; }
    @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-device-pixel-ratio: 1.5) {
      .homepage-more-link a {
        background-size: 9px 12px;
        background-image: url(../img/arrows/right-red@2x.png); } }
  .homepage-more-link img + a {
    position: absolute;
    bottom: 0;
    right: 0; }

.homepage-submit-event-link {
  display: none; }
  @media (min-width: 720px) {
    .homepage-submit-event-link {
      display: block; } }

#block-block-7 .content {
  font-size: 15px; }
  #block-block-7 .content li {
    font-size: 15px;
    font-weight: bold;
    line-height: 1.27;
    padding-bottom: 14px; }
    #block-block-7 .content li a {
      display: block;
      padding-left: 16px;
      background: url(../img/arrows/right-red.png) 0 3px no-repeat; }
      @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-device-pixel-ratio: 1.5) {
        #block-block-7 .content li a {
          background-size: 9px 12px;
          background-image: url(../img/arrows/right-red@2x.png); } }
  #block-block-7 .content h2 {
    font-size: 24px;
    line-height: 1.25;
    font-weight: bold;
    padding-bottom: 10px; }
  #block-block-7 .content p {
    line-height: 1.33;
    padding-bottom: 15px; }

.view-home-page-notifications .notification {
  font-family: "Open Sans",Helvetica,Arial,sans-serif;
  border-bottom: 1px solid;
  font-size: 17px;
  line-height: 22px;
  padding: 12px 18px 12px 55px;
  margin-bottom: 15px;
  background-repeat: no-repeat;
  background-position: 15px 50%; }

.view-home-page-notifications .notification p {
  padding-bottom: 0.65em; }

.view-home-page-notifications .notification em {
  font-style: italic; }

.view-home-page-notifications .date-display-single {
  color: #656565;
  font-size: 0.8em;
  font-style: italic; }
.view-home-page-notifications .notification.alert .date-display-single {
  color: #474747; }
.view-home-page-notifications .notification.emergency .date-display-single {
  color: #ededed; }

.view-home-page-notifications .notification strong {
  font-weight: 700; }

@media (min-width: 1080px) {
  .view-home-page-notifications .notification {
    font-size: 19px;
    line-height: 25px;
    padding: 13px 20px 13px 57px; } }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-device-pixel-ratio: 1.5) {
  .view-home-page-notifications .notification {
    background-size: 32px 28px; } }
.view-home-page-notifications .notification.notice {
  background-color: #f4f3eb;
  border-color: #e4e3db;
  color: #474747;
  background-image: url(../img/icons/notice.png); }

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-device-pixel-ratio: 1.5) {
  .view-home-page-notifications .notification.notice {
    background-image: url(../img/icons/notice@2x.png); } }
.view-home-page-notifications .notification.alert {
  background-color: #ECBA0E;
  border-color: #ECBA0E;
  color: #222;
  background-image: url(../img/icons/alert.png); }

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-device-pixel-ratio: 1.5) {
  .view-home-page-notifications .notification.alert {
    background-image: url(../img/icons/alert@2x.png); } }
.view-home-page-notifications .notification.emergency {
  background-color: #d41c1b;
  background-image: url(../img/icons/emergency.png);
  background-position: 1em 1.5em;
  color: #fff;
  font-size: 1.65em;
  line-height: 28px;
  padding: 1em 0.5em 0.5em 4.75em; }

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-device-pixel-ratio: 1.5) {
  .view-home-page-notifications .notification.emergency {
    background-image: url(../img/icons/emergency@2x.png); } }
#alert .region {
  padding: 0; }

.notification.emergency a {
  color: #fff;
  text-decoration: underline; }

.notification.emergency a:hover {
  text-decoration: none; }

.page-campus-gallery #main-wrapper,
.page-campus-gallery #content {
  max-width: initial;
  width: intrinsic; }

.page-campus-gallery .region.region-content,
.page-campus-gallery #main {
  padding: 0; }

.page-campus-gallery .item-list ul,
.page-campus-gallery .item-list ul li {
  margin: 0; }

.page-campus-gallery h1#page-title {
  font-size: 3em;
  background: #881c1c;
  color: #fff;
  padding: .25em .25em .25em 1em; }

.page-campus-gallery .view-photo-gallery-node-display .views-row a {
  display: block; }

.page-campus-gallery .view-photo-gallery-node-display .views-row {
  position: relative;
  width: 50%;
  float: left;
  padding: 1em 1em 0;
  box-sizing: border-box; }

.page-campus-gallery .view-photo-gallery-node-display .views-row-odd {
  padding-left: .5em; }

.page-campus-gallery .view-photo-gallery-node-display .views-row-even {
  padding-right: .5em; }

.page-campus-gallery .view-photo-gallery-node-display .views-row:nth-child(5n+1) {
  width: 100%;
  padding: 0; }

.page-campus-gallery .view-photo-gallery-node-display .views-row:nth-child(5n+6) {
  padding: 1em 0 0; }

.page-campus-gallery .view-photo-gallery-node-display .views-field img {
  max-width: 100%;
  height: auto;
  display: block; }

.page-campus-gallery .view-photo-gallery-node-display .views-field .caption {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  color: #fff;
  background: rgba(0, 0, 0, 0.8);
  padding: .25em .5em;
  min-height: 3.2em; }

.page-campus-gallery .view-photo-gallery-node-display .image_container {
  position: relative; }

.module-spotlight {
  display: block;
  margin-bottom: 12px; }
  .module-spotlight img {
    width: 100%;
    height: auto;
    display: block; }
  .module-spotlight .module-spotlight-body {
    margin-top: 1px;
    padding: 8px;
    font-size: 12px;
    line-height: 1.25;
    overflow: hidden;
    color: #000; }
  .module-spotlight .module-spotlight-button {
    display: block;
    float: right;
    background-color: #000;
    margin-top: 8px;
    line-height: 1;
    padding: 4px 20px 4px 10px;
    border-radius: 6px;
    position: relative; }
    .module-spotlight .module-spotlight-button.module-spotlight-button-icon-camera {
      padding-right: 25px; }
    .module-spotlight .module-spotlight-button .spotlight-icon {
      position: absolute;
      right: 6px;
      top: 5px;
      font-size: 10px;
      line-height: 1;
      color: #fff; }
  .module-spotlight:hover {
    text-decoration: none; }
    .module-spotlight:hover .module-spotlight-button {
      background-color: #fff; }
      .module-spotlight:hover .module-spotlight-button .spotlight-icon {
        color: inherit; }

#sidebar-first .module-spotlight, #sidebar-second .module-spotlight {
  margin-bottom: 2em; }

.module-listbody {
  overflow: hidden; }
  .module-listbody .module-listitem {
    float: left;
    margin-bottom: 18px; }

.module-listbody-one .module-listitem {
  width: 100%; }

@media (min-width: 720px) {
  .module-listbody-two .module-listitem {
    width: 49%;
    margin-left: 2%; }

  .module-listbody-three .module-listitem {
    width: 32%;
    margin-left: 2%; }
  .module-listbody-three .module-listitem-thumbnail {
    width: 100%; } }
.module-listbody-two br + .module-listitem,
.module-listbody-three br + .module-listitem {
  margin-left: 0; }

.module-listbody-one .module-listitem-content,
.module-listbody-two .module-listitem-content {
  overflow: hidden; }
.module-listbody-one .module-listitem-thumbnail,
.module-listbody-one .module-listitem-body,
.module-listbody-one .module-listitem-secondarytext,
.module-listbody-two .module-listitem-thumbnail,
.module-listbody-two .module-listitem-body,
.module-listbody-two .module-listitem-secondarytext {
  float: left; }

.module-listbody-one .module-listitem-thumbnail {
  width: 19.5%;
  margin-right: 2.5%; }
.module-listbody-one .module-listitem-body {
  width: 50%;
  margin-right: 2.5%; }
.module-listbody-one .module-listitem-content {
  background-image: url(../img/vr-gray.png);
  background-repeat: repeat-y;
  background-position: 74.5% 0; }
.module-listbody-one .module-listitem-secondarytext {
  width: 23%;
  padding-left: 1.5%; }

.module-listbody-two .module-listitem-secondarytext,
.module-listbody-three .module-listitem-secondarytext {
  display: none; }

.module-listbody-two .module-listitem-thumbnail {
  width: 39%;
  margin-right: 5%; }
.module-listbody-two .module-listitem-body {
  width: 56%; }

.module-listbody-nothumbs .module-listitem-thumbnail {
  display: none; }

.module-listitem-thumbnail img {
  width: 100%;
  height: auto;
  margin-top: 2px;
  /* line up with top of heading */ }

.module-listbody-clear {
  clear: left; }

.module-listitem-title {
  color: #000;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  padding-bottom: 15px; }
  @media (min-width: 1080px) {
    .module-listitem-title {
      font-size: 20px; } }

.module-listitem-text p {
  color: #656565;
  font-size: 13px;
  line-height: 1.38;
  padding-bottom: 15px; }

.module-listbody-one .module-listitem-text p {
  font-size: 14px;
  line-height: 1.38; }
  @media (min-width: 1080px) {
    .module-listbody-one .module-listitem-text p {
      font-size: 15px;
      line-height: 1.33; } }

.module-listitem-secondarytext {
  font-size: 12px;
  line-height: 1.25;
  padding-top: 33px;
  padding-bottom: 15px; }
  @media (min-width: 1080px) {
    .module-listitem-secondarytext {
      padding-top: 35px; } }
  .module-listitem-secondarytext li {
    padding: 0 0 11px 12px; }
  .module-listitem-secondarytext a {
    display: block;
    padding-left: 16px;
    background: url(../img/arrows/right-red.png) 0 0 no-repeat; }
    @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-device-pixel-ratio: 1.5) {
      .module-listitem-secondarytext a {
        background-size: 9px 12px;
        background-image: url(../img/arrows/right-red@2x.png); } }

#block-system-main-menu .content .module-button,
.module-listitem-button {
  overflow: hidden;
  padding-top: 5px;
  padding-bottom: 15px; }
  #block-system-main-menu .content .module-button a,
  .module-listitem-button a {
    float: left;
    display: block;
    padding: 2px;
    width: 120px;
    border: 1px solid #d5d5d5;
    border-radius: 5px;
    color: #888;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0pt;
    line-height: 125%;
    text-align: center;
    text-indent: -5px;
    text-shadow: 1px 1px 1px #fff;
    background: #dcdcdc;
    background: url(../img/arrows/right-dark.png) 110px 2px no-repeat, -moz-linear-gradient(50% 0% -90deg, #f6f6f6 0%, #dcdcdc 100%) top left repeat;
    background: url(../img/arrows/right-dark.png) 110px 2px no-repeat, -o-linear-gradient(-90deg, #f6f6f6 0%, #dcdcdc 100%) top left repeat;
    background: url(../img/arrows/right-dark.png) 110px 2px no-repeat, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0, #f6f6f6), color-stop(1, #dcdcdc)) top left repeat;
    background: url(../img/arrows/right-dark.png) 110px 2px no-repeat, -webkit-linear-gradient(-90deg, #f6f6f6 0%, #dcdcdc 100%) top left repeat;
    background: url(../img/arrows/right-dark.png) 110px 2px no-repeat, linear-gradient(180deg, #f6f6f6 0%, #dcdcdc 100%) top left repeat; }
    @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-device-pixel-ratio: 1.5) {
      #block-system-main-menu .content .module-button a,
      .module-listitem-button a {
        background: url(../img/arrows/right-dark@2x.png) 110px 2px/9px 12px no-repeat, -moz-linear-gradient(50% 0% -90deg, #f6f6f6 0%, #dcdcdc 100%) top left/100% 100% repeat;
        background: url(../img/arrows/right-dark@2x.png) 110px 2px/9px 12px no-repeat, -o-linear-gradient(-90deg, #f6f6f6 0%, #dcdcdc 100%)/100% 100% top left repeat;
        background: url(../img/arrows/right-dark@2x.png) 110px 2px/9px 12px no-repeat, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0, #f6f6f6), color-stop(1, #dcdcdc)) top left/100% 100% repeat;
        background: url(../img/arrows/right-dark@2x.png) 110px 2px/9px 12px no-repeat, -webkit-linear-gradient(-90deg, #f6f6f6 0%, #dcdcdc 100%) top/100% 100% left repeat;
        background: url(../img/arrows/right-dark@2x.png) 110px 2px/9px 12px no-repeat, linear-gradient(180deg, #f6f6f6 0%, #dcdcdc 100%) top left/100% 100% repeat; } }
    #block-system-main-menu .content .module-button a:hover,
    .module-listitem-button a:hover {
      color: #881C1C;
      text-decoration: none;
      background: #dcdcdc;
      background: url(../img/arrows/right-red.png) 110px 2px no-repeat, -moz-linear-gradient(50% 0% -90deg, #f6f6f6 0%, #dcdcdc 100%) top left repeat;
      background: url(../img/arrows/right-red.png) 110px 2px no-repeat, -o-linear-gradient(-90deg, #f6f6f6 0%, #dcdcdc 100%) top left repeat;
      background: url(../img/arrows/right-red.png) 110px 2px no-repeat, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0, #f6f6f6), color-stop(1, #dcdcdc)) top left repeat;
      background: url(../img/arrows/right-red.png) 110px 2px no-repeat, -webkit-linear-gradient(-90deg, #f6f6f6 0%, #dcdcdc 100%) top left repeat;
      background: url(../img/arrows/right-red.png) 110px 2px no-repeat, linear-gradient(180deg, #f6f6f6 0%, #dcdcdc 100%) top left repeat; }
      @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-device-pixel-ratio: 1.5) {
        #block-system-main-menu .content .module-button a:hover,
        .module-listitem-button a:hover {
          background: url(../img/arrows/right-red@2x.png) 110px 2px/9px 12px no-repeat, -moz-linear-gradient(50% 0% -90deg, #f6f6f6 0%, #dcdcdc 100%) top left/100% 100% repeat;
          background: url(../img/arrows/right-red@2x.png) 110px 2px/9px 12px no-repeat, -o-linear-gradient(-90deg, #f6f6f6 0%, #dcdcdc 100%)/100% 100% top left repeat;
          background: url(../img/arrows/right-red@2x.png) 110px 2px/9px 12px no-repeat, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0, #f6f6f6), color-stop(1, #dcdcdc)) top left/100% 100% repeat;
          background: url(../img/arrows/right-red@2x.png) 110px 2px/9px 12px no-repeat, -webkit-linear-gradient(-90deg, #f6f6f6 0%, #dcdcdc 100%) top/100% 100% left repeat;
          background: url(../img/arrows/right-red@2x.png) 110px 2px/9px 12px no-repeat, linear-gradient(180deg, #f6f6f6 0%, #dcdcdc 100%) top left/100% 100% repeat; } }
    #block-system-main-menu .content .module-button a:active,
    .module-listitem-button a:active {
      text-shadow: 1px -1px 1px #fff;
      background: url(../img/arrows/right-red.png) 110px 2px no-repeat, -moz-linear-gradient(50% 0% -90deg, #dcdcdc 0%, #f6f6f6 100%) top left repeat;
      background: url(../img/arrows/right-red.png) 110px 2px no-repeat, -o-linear-gradient(-90deg, #dcdcdc 0%, #f6f6f6 100%) top left repeat;
      background: url(../img/arrows/right-red.png) 110px 2px no-repeat, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0, #dcdcdc), color-stop(1, #f6f6f6)) top left repeat;
      background: url(../img/arrows/right-red.png) 110px 2px no-repeat, -webkit-linear-gradient(-90deg, #dcdcdc 0%, #f6f6f6 100%) top left repeat;
      background: url(../img/arrows/right-red.png) 110px 2px no-repeat, linear-gradient(180deg, #dcdcdc 0%, #f6f6f6 100%) top left repeat; }
      @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-device-pixel-ratio: 1.5) {
        #block-system-main-menu .content .module-button a:active,
        .module-listitem-button a:active {
          background: url(../img/arrows/right-red@2x.png) 110px 2px/9px 12px no-repeat, -moz-linear-gradient(50% 0% -90deg, #dcdcdc 0%, #f6f6f6 100%) top left repeat;
          background: url(../img/arrows/right-red@2x.png) 110px 2px/9px 12px no-repeat, -o-linear-gradient(-90deg, #dcdcdc 0%, #f6f6f6 100%) top left repeat;
          background: url(../img/arrows/right-red@2x.png) 110px 2px/9px 12px no-repeat, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0, #dcdcdc), color-stop(1, #f6f6f6)) top left repeat;
          background: url(../img/arrows/right-red@2x.png) 110px 2px/9px 12px no-repeat, -webkit-linear-gradient(-90deg, #dcdcdc 0%, #f6f6f6 100%) top left repeat;
          background: url(../img/arrows/right-red@2x.png) 110px 2px/9px 12px no-repeat, linear-gradient(180deg, #dcdcdc 0%, #f6f6f6 100%) top left repeat; } }

.lt-ie9 #block-system-main-menu .content .module-button a {
  /* IE8 recognizes background CSS above but fails to apply it, so we change foreground */
  color: #fff; }
  .lt-ie9 #block-system-main-menu .content .module-button a:hover {
    color: #000; }

.hr-wrapper {
  padding: 15px 0 30px; }

.row-1 {
  padding-top: 15px; }
  .row-1 .hr-wrapper {
    display: none; }

@media (min-width: 1200px) {
  /*
    .node-type-detailpage #sidebar-second .section,
    .node-type-storypage #sidebar-second .section {
      padding-left: 15px;
    }
  
    .node-type-detailpage .region-sidebar-second,
    .node-type-storypage .region-sidebar-second {
      border-left: 1px solid #DDDDDD;
      padding-left: 29px;
    }
  
  */
  .node-type-detailpage #content,
  .node-type-storypage #content {
    box-shadow: 15px 8px 0 #fff, 16px 8px 0 #dddddd; } }
#sidebar-first .block,
#sidebar-second .block {
  margin-bottom: 2em; }

#sidebar-first .block h2 {
  text-transform: uppercase;
  font-size: 12px;
  padding-bottom: 15px;
  font-weight: bold;
  color: #999; }

#sidebar-first .block .content, #sidebar-second .block:first-child .content {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 15px;
  line-height: 1.33; }
  #sidebar-first .block .content li, #sidebar-second .block:first-child .content li {
    margin: 6px 0 0;
    padding: 6px 0 0;
    list-style-type: none;
    list-style-image: none;
    background-image: url(../img/hr-gray.png);
    background-repeat: repeat-x;
    background-position: 0 0; }
    @media (min-width: 1080px) {
      #sidebar-first .block .content li, #sidebar-second .block:first-child .content li {
        margin: 10px 0 0;
        padding: 10px 0 0; } }
    #sidebar-first .block .content li.first, #sidebar-first .block .content li:first-child, #sidebar-second .block:first-child .content li.first, #sidebar-second .block:first-child .content li:first-child {
      margin-top: 0;
      padding-top: 0;
      background-image: none; }
    #sidebar-first .block .content li a, #sidebar-second .block:first-child .content li a {
      display: block;
      padding-right: 16px; }

#sidebar-first .block-menu .content li a {
  color: #535353;
  font-weight: bold;
  background: url(../img/arrows/right-dark.png) 100% 4px no-repeat; }
  #sidebar-first .block-menu .content li a.active-trail {
    color: #881C1C; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-device-pixel-ratio: 1.5) {
    #sidebar-first .block-menu .content li a {
      background-size: 9px 12px;
      background-image: url(../img/arrows/right-dark@2x.png); } }

#sidebar-second .block:first-child .content li a, .module-related-links .block:first-child .content li a {
  background: url(../img/arrows/right-dark.png) 100% 4px no-repeat; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-device-pixel-ratio: 1.5) {
    #sidebar-second .block:first-child .content li a, .module-related-links .block:first-child .content li a {
      background-size: 9px 12px;
      background-image: url(../img/arrows/right-dark@2x.png); } }
#sidebar-second .block h2, .module-related-links .block h2 {
  background-color: #E4E3DB;
  border-radius: 6px;
  text-transform: uppercase;
  font-family: "Helvetica Neue", "Arial", sans-serif;
  font-size: 13px;
  font-weight: bold;
  line-height: 1.2;
  color: #656565;
  text-shadow: 1px 1px 1px #fff;
  margin-bottom: 18px;
  padding: 12px 0 11px 28px;
  background: url(../img/arrows/right-dark.png) #E4E3DB 10px 12px no-repeat; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-device-pixel-ratio: 1.5) {
    #sidebar-second .block h2, .module-related-links .block h2 {
      background-size: 9px 12px;
      background-image: url(../img/arrows/right-dark@2x.png); } }

#sidebar-first #block-umass-gateway-support-detailpage-left .content {
  background-color: #F4F3EB;
  border: 1px solid #E4E3DB;
  border-radius: 6px;
  padding: 8px 14px 14px; }
  @media (min-width: 1200px) {
    #sidebar-first #block-umass-gateway-support-detailpage-left .content {
      width: 100%;
      margin-left: -15px; } }
  #sidebar-first #block-umass-gateway-support-detailpage-left .content h2 {
    background-color: #E4E3DB;
    border-radius: 6px;
    text-transform: uppercase;
    font-family: "Helvetica Neue", "Arial", sans-serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.2;
    color: #656565;
    text-shadow: 1px 1px 1px #fff;
    padding: 7px;
    margin-left: -7px;
    margin-bottom: 14px; }
    @media (min-width: 1200px) {
      #sidebar-first #block-umass-gateway-support-detailpage-left .content h2 {
        width: 100%; } }
  #sidebar-first #block-umass-gateway-support-detailpage-left .content ul li a {
    background: url(../img/arrows/right-dark.png) 100% 4px no-repeat; }
    @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-device-pixel-ratio: 1.5) {
      #sidebar-first #block-umass-gateway-support-detailpage-left .content ul li a {
        background-size: 9px 12px;
        background-image: url(../img/arrows/right-dark@2x.png); } }

.special-sidebar-block #sidebar-second .block, .module-related-links .block {
  margin-bottom: 25px; }
.special-sidebar-block #sidebar-second .block:first-child, .module-related-links .block:first-child {
  background-color: #F4F3EB;
  border: 1px solid #E4E3DB;
  border-radius: 6px;
  padding: 10px 12px; }
  @media (min-width: 1200px) {
    .special-sidebar-block #sidebar-second .block:first-child, .module-related-links .block:first-child {
      padding: 10px 15px; } }
  .special-sidebar-block #sidebar-second .block:first-child h2, .module-related-links .block:first-child h2 {
    padding: 12px 12px 11px 28px;
    margin-left: -21px; }
    @media (min-width: 1200px) {
      .special-sidebar-block #sidebar-second .block:first-child h2, .module-related-links .block:first-child h2 {
        padding: 12px 15px 11px 31px;
        margin-left: -24px; } }
.special-sidebar-block #sidebar-second #block-umass-gateway-support-share-this-story, .module-related-links #block-umass-gateway-support-share-this-story {
  font-size: 12px;
  line-height: 12px;
  padding-bottom: 0; }
  .special-sidebar-block #sidebar-second #block-umass-gateway-support-share-this-story .service-links, .module-related-links #block-umass-gateway-support-share-this-story .service-links {
    overflow: hidden;
    /* clear floats */
    padding-top: 2px;
    /* room for g+ adjustment */ }
    .special-sidebar-block #sidebar-second #block-umass-gateway-support-share-this-story .service-links li, .special-sidebar-block #sidebar-second #block-umass-gateway-support-share-this-story .service-links li:first-child, .module-related-links #block-umass-gateway-support-share-this-story .service-links li, .module-related-links #block-umass-gateway-support-share-this-story .service-links li:first-child {
      font-size: 12px;
      line-height: 12px;
      float: left;
      margin: 0 16px 12px 0;
      height: 32px;
      /* bottom padding on the widgets varies, so we normalize it here */
      background-image: none;
      padding: 0;
      font-family: "Helvetica Neue", "Arial", sans-serif; }
      .special-sidebar-block #sidebar-second #block-umass-gateway-support-share-this-story .service-links li.service-links-facebook-like, .special-sidebar-block #sidebar-second #block-umass-gateway-support-share-this-story .service-links li:first-child.service-links-facebook-like, .module-related-links #block-umass-gateway-support-share-this-story .service-links li.service-links-facebook-like, .module-related-links #block-umass-gateway-support-share-this-story .service-links li:first-child.service-links-facebook-like {
        margin-right: 0;
        /* widget includes margin */ }
      .special-sidebar-block #sidebar-second #block-umass-gateway-support-share-this-story .service-links li.service-links-google-plus-one, .special-sidebar-block #sidebar-second #block-umass-gateway-support-share-this-story .service-links li:first-child.service-links-google-plus-one, .module-related-links #block-umass-gateway-support-share-this-story .service-links li.service-links-google-plus-one, .module-related-links #block-umass-gateway-support-share-this-story .service-links li:first-child.service-links-google-plus-one {
        position: relative;
        top: -2px;
        /* widget is bigger, so we center it vertically */ }
      .special-sidebar-block #sidebar-second #block-umass-gateway-support-share-this-story .service-links li a, .special-sidebar-block #sidebar-second #block-umass-gateway-support-share-this-story .service-links li:first-child a, .module-related-links #block-umass-gateway-support-share-this-story .service-links li a, .module-related-links #block-umass-gateway-support-share-this-story .service-links li:first-child a {
        display: inline;
        padding: 0;
        background-image: none;
        line-height: 19px;
        color: #8D2117; }
        .special-sidebar-block #sidebar-second #block-umass-gateway-support-share-this-story .service-links li a img, .special-sidebar-block #sidebar-second #block-umass-gateway-support-share-this-story .service-links li:first-child a img, .module-related-links #block-umass-gateway-support-share-this-story .service-links li a img, .module-related-links #block-umass-gateway-support-share-this-story .service-links li:first-child a img {
          vertical-align: middle;
          padding-right: 8px;
          position: relative;
          top: -1px; }

#block-views-feature-stories-sidebar-block h2 {
  margin-bottom: 25px; }

.view-feature-stories-sidebar .feed-icon {
  float: right;
  margin-right: 1em; }
.view-feature-stories-sidebar .views-row {
  overflow: hidden; }
  .view-feature-stories-sidebar .views-row a {
    color: #333; }
.view-feature-stories-sidebar .views-field-field-thumbnail {
  float: left;
  padding-left: 2px;
  width: 29%;
  line-height: 0; }
  .view-feature-stories-sidebar .views-field-field-thumbnail .field-content {
    padding: 2px;
    border: 1px solid #999; }
  .view-feature-stories-sidebar .views-field-field-thumbnail a {
    display: block; }
  .view-feature-stories-sidebar .views-field-field-thumbnail img {
    width: 100%;
    height: auto; }
.view-feature-stories-sidebar .views-field-title,
.view-feature-stories-sidebar .views-field-field-subhead {
  float: right;
  width: 67%; }
@media (min-width: 900px) {
  .view-feature-stories-sidebar .views-field-field-thumbnail {
    display: none; }
  .view-feature-stories-sidebar .views-field-title,
  .view-feature-stories-sidebar .views-field-field-subhead {
    width: 100%; } }
@media (min-width: 900px) and (min-width: 1080px) {
  .view-feature-stories-sidebar .views-field-field-thumbnail {
    display: block; }
  .view-feature-stories-sidebar .views-field-title,
  .view-feature-stories-sidebar .views-field-field-subhead {
    width: 67%; } }

.view-feature-stories-sidebar .views-field-title,
.view-feature-stories-sidebar .view-footer {
  text-rendering: optimizelegibility;
  font-family: "Trebuchet MS", sans-serif;
  font-size: 14px;
  font-weight: bold; }
.view-feature-stories-sidebar .views-field-field-subhead {
  font-size: 12px; }
.view-feature-stories-sidebar .hr-wrapper {
  padding: 25px 0; }
.view-feature-stories-sidebar .view-footer {
  text-align: right; }
  .view-feature-stories-sidebar .view-footer a {
    padding-right: 16px;
    background: url(../img/arrows/right-red.png) 100% 50% no-repeat; }
    @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-device-pixel-ratio: 1.5) {
      .view-feature-stories-sidebar .view-footer a {
        background-size: 9px 12px;
        background-image: url(../img/arrows/right-red@2x.png); } }

.module-related-links {
  margin-top: 20px; }

.view-feature-stories-page .views-exposed-widget {
  overflow: hidden;
  margin-bottom: 1em; }
  .view-feature-stories-page .views-exposed-widget label, .view-feature-stories-page .views-exposed-widget .views-widget {
    float: left; }
  .view-feature-stories-page .views-exposed-widget label {
    margin-right: 1ex;
    font-weight: normal; }
.view-feature-stories-page .view-content {
  overflow: hidden; }
.view-feature-stories-page .views-row {
  padding-bottom: 1.5em; }
@media (min-width: 475.2px) {
  .view-feature-stories-page .views-row {
    float: left;
    width: 48%; }
  .view-feature-stories-page .views-row-odd {
    clear: left;
    margin-right: 4%; } }
@media (min-width: 1080px) {
  .view-feature-stories-page .views-row {
    float: left;
    width: 30%; }
  .view-feature-stories-page .views-row-odd {
    clear: none;
    margin-right: 0; }
  .view-feature-stories-page .views-row:nth-child(3n + 1),
  .view-feature-stories-page .views-row:nth-child(3n + 2) {
    margin-right: 5%; }
  .view-feature-stories-page .views-row:nth-child(3n + 1) {
    clear: left; } }
.view-feature-stories-page .views-field-field-homepage-image img {
  width: 100%;
  height: auto; }
.view-feature-stories-page .views-field-title {
  font-family: "Trebuchet MS", sans-serif;
  font-weight: bold; }
.view-feature-stories-page .views-field-field-subhead {
  font-size: 93%;
  line-height: 1.25; }

.lt-ie9 .view-feature-stories-page .views-row-1,
.lt-ie9 .view-feature-stories-page .views-row-2,
.lt-ie9 .view-feature-stories-page .views-row-4,
.lt-ie9 .view-feature-stories-page .views-row-5,
.lt-ie9 .view-feature-stories-page .views-row-7,
.lt-ie9 .view-feature-stories-page .views-row-8,
.lt-ie9 .view-feature-stories-page .views-row-10,
.lt-ie9 .view-feature-stories-page .views-row-11 {
  margin-right: 5%; }
.lt-ie9 .view-feature-stories-page .views-row-4,
.lt-ie9 .view-feature-stories-page .views-row-7,
.lt-ie9 .view-feature-stories-page .views-row-10 {
  clear: left; }

figure > img {
  display: block; }

figcaption {
  margin-top: 1px;
  color: #ffffff;
  padding: 18px;
  background-color: #767676;
  text-align: center;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  /* to be used for knocked out text, or VERY judiciously on large text */ }

.module-slideshow figcaption {
  text-align: left; }

.flexslider {
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none; }
  .flexslider .slides img {
    height: auto; }
  .flexslider .flex-control-paging li a {
    width: 10px;
    height: 10px;
    background: #BDBDAE; }
    .flexslider .flex-control-paging li a.flex-active {
      background: #881C1C; }

.atoz-nav {
  line-height: 0; }
  .atoz-nav .ln-letters {
    overflow: hidden; }
    .atoz-nav .ln-letters a {
      background-color: #8E2217;
      color: #fff;
      display: block;
      float: left;
      display: block;
      float: left;
      width: 32px;
      height: 32px;
      line-height: 32px;
      margin: 0 8px 8px 0;
      text-align: center; }
  @media (min-width: 720px) {
    .atoz-nav .ln-letters {
      background-color: #8E2217;
      border-radius: 6px;
      font-size: 18px;
      padding: 0 12px;
      line-height: 1;
      margin-bottom: 1.5em; }
      .atoz-nav .ln-letters a {
        background-color: transparent;
        padding: 12px 0;
        margin: 0;
        width: 3.4188%;
        text-align: center; }
        .atoz-nav .ln-letters a.all {
          width: 5.98291%; }
        .atoz-nav .ln-letters a._ {
          width: 5.12821%; }
      .atoz-nav .ln-letters .ln-disabled {
        color: #bb8888; }
      .atoz-nav .ln-letters .ln-selected {
        background-color: #fff;
        color: #871B1B;
        font-weight: bold; }
      .atoz-nav .ln-letters .ln-disabled:hover,
      .atoz-nav .ln-letters .ln-selected:hover {
        text-decoration: none;
        cursor: default; } }

.atoz-letter {
  background-color: #E4E3DB;
  border: 1px solid #CECEBF;
  margin-bottom: 1em;
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  color: #999;
  text-shadow: 1px 1px 1px #fff;
  padding: 10px 0 10px 24px; }

.view-undergraduate-programs label,
.view-graduate-programs label {
  display: inline; }
.view-undergraduate-programs .view-content,
.view-graduate-programs .view-content {
  padding-top: 1em;
  color: #999999;
  font-size: 14px; }
.view-undergraduate-programs table,
.view-graduate-programs table {
  width: 100%; }
.view-undergraduate-programs tbody,
.view-graduate-programs tbody {
  border-top: 3px solid #881C1C;
  border-bottom: 2px solid #999999; }
.view-undergraduate-programs tr,
.view-graduate-programs tr {
  border-bottom: 1px solid #EEEEEE; }
.view-undergraduate-programs th, .view-undergraduate-programs td,
.view-graduate-programs th,
.view-graduate-programs td {
  padding: 8px; }
.view-undergraduate-programs th,
.view-graduate-programs th {
  vertical-align: bottom; }
.view-undergraduate-programs tr.major,
.view-undergraduate-programs tr.minor,
.view-undergraduate-programs tr.masters,
.view-undergraduate-programs tr.doctoral,
.view-undergraduate-programs tr.certificate,
.view-undergraduate-programs th.views-field-field-major-url,
.view-undergraduate-programs th.views-field-field-minor-url,
.view-undergraduate-programs th.views-field-field-masters-url,
.view-undergraduate-programs th.views-field-field-doctoral-url,
.view-undergraduate-programs th.views-field-field-certificate-url,
.view-undergraduate-programs td.views-field-field-major-url,
.view-undergraduate-programs td.views-field-field-minor-url,
.view-undergraduate-programs td.views-field-field-masters-url,
.view-undergraduate-programs td.views-field-field-doctoral-url,
.view-undergraduate-programs td.views-field-field-certificate-url,
.view-graduate-programs tr.major,
.view-graduate-programs tr.minor,
.view-graduate-programs tr.masters,
.view-graduate-programs tr.doctoral,
.view-graduate-programs tr.certificate,
.view-graduate-programs th.views-field-field-major-url,
.view-graduate-programs th.views-field-field-minor-url,
.view-graduate-programs th.views-field-field-masters-url,
.view-graduate-programs th.views-field-field-doctoral-url,
.view-graduate-programs th.views-field-field-certificate-url,
.view-graduate-programs td.views-field-field-major-url,
.view-graduate-programs td.views-field-field-minor-url,
.view-graduate-programs td.views-field-field-masters-url,
.view-graduate-programs td.views-field-field-doctoral-url,
.view-graduate-programs td.views-field-field-certificate-url {
  display: none; }
.view-undergraduate-programs.major tr.major,
.view-graduate-programs.major tr.major {
  display: table-row; }
.view-undergraduate-programs.major th.views-field-field-major-url,
.view-undergraduate-programs.major td.views-field-field-major-url,
.view-graduate-programs.major th.views-field-field-major-url,
.view-graduate-programs.major td.views-field-field-major-url {
  display: table-cell; }
.view-undergraduate-programs.minor tr.minor,
.view-graduate-programs.minor tr.minor {
  display: table-row; }
.view-undergraduate-programs.minor th.views-field-field-minor-url,
.view-undergraduate-programs.minor td.views-field-field-minor-url,
.view-graduate-programs.minor th.views-field-field-minor-url,
.view-graduate-programs.minor td.views-field-field-minor-url {
  display: table-cell; }
.view-undergraduate-programs.masters tr.masters,
.view-graduate-programs.masters tr.masters {
  display: table-row; }
.view-undergraduate-programs.masters th.views-field-field-masters-url,
.view-undergraduate-programs.masters td.views-field-field-masters-url,
.view-graduate-programs.masters th.views-field-field-masters-url,
.view-graduate-programs.masters td.views-field-field-masters-url {
  display: table-cell; }
.view-undergraduate-programs.doctoral tr.doctoral,
.view-graduate-programs.doctoral tr.doctoral {
  display: table-row; }
.view-undergraduate-programs.doctoral th.views-field-field-doctoral-url,
.view-undergraduate-programs.doctoral td.views-field-field-doctoral-url,
.view-graduate-programs.doctoral th.views-field-field-doctoral-url,
.view-graduate-programs.doctoral td.views-field-field-doctoral-url {
  display: table-cell; }
.view-undergraduate-programs.certificate tr.certificate,
.view-graduate-programs.certificate tr.certificate {
  display: table-row; }
.view-undergraduate-programs.certificate th.views-field-field-certificate-url,
.view-undergraduate-programs.certificate td.views-field-field-certificate-url,
.view-graduate-programs.certificate th.views-field-field-certificate-url,
.view-graduate-programs.certificate td.views-field-field-certificate-url {
  display: table-cell; }
.view-undergraduate-programs th,
.view-graduate-programs th {
  text-transform: uppercase;
  font-weight: bold; }
.view-undergraduate-programs td.active,
.view-graduate-programs td.active {
  background-color: inherit; }
.view-undergraduate-programs .views-field-field-major-url,
.view-undergraduate-programs .views-field-field-minor-url,
.view-undergraduate-programs .views-field-field-masters-url,
.view-undergraduate-programs .views-field-field-doctoral-url,
.view-undergraduate-programs .views-field-field-certificate-url,
.view-graduate-programs .views-field-field-major-url,
.view-graduate-programs .views-field-field-minor-url,
.view-graduate-programs .views-field-field-masters-url,
.view-graduate-programs .views-field-field-doctoral-url,
.view-graduate-programs .views-field-field-certificate-url {
  width: 60%; }
.view-undergraduate-programs .views-field-field-school-name,
.view-graduate-programs .views-field-field-school-name {
  width: 40%; }

.google-appliance-synonyms {
  display: none; }

@media (min-width: 720px) {
  .search-google-appliance-search-form {
    float: right;
    margin-top: 15px; } }

#search-results-heading {
  text-rendering: optimizelegibility;
  font-family: "Trebuchet MS", sans-serif;
  -webkit-font-smoothing: antialiased;
  /* to be used for knocked out text, or VERY judiciously on large text */
  font-weight: bold;
  font-size: 37px;
  line-height: 1.2;
  color: #656565;
  color: #777;
  margin-top: 0;
  margin-bottom: 10px; }

#footer {
  overflow: hidden;
  background: #540403;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxMCUiIHN0b3AtY29sb3I9IiM1NDA0MDMiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI3MCUiIHN0b3AtY29sb3I9IiM4ODFjMWMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #540403 10%, #871c1c 70%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #540403), color-stop(70%, #871c1c));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #540403 10%, #871c1c 70%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #540403 10%, #871c1c 70%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #540403 10%, #871c1c 70%);
  /* IE10+ */
  background: linear-gradient(to bottom, #540403 10%, #871c1c 70%);
  /* W3C */ }

.lt-ie9 #footer {
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#540403', endColorstr='#881c1c',GradientType=0 );
  /* IE6-8 */ }

#block-views-viewmass-block,
#block-umass-gateway-support-wordmark-wtag,
#block-block-3,
#block-block-4 {
  float: left;
  text-rendering: optimizelegibility;
  font-family: "Trebuchet MS", sans-serif;
  -webkit-font-smoothing: antialiased;
  /* to be used for knocked out text, or VERY judiciously on large text */
  font-size: 15px;
  padding: 18px 0 36px;
  overflow: hidden; }
  #block-views-viewmass-block h2,
  #block-umass-gateway-support-wordmark-wtag h2,
  #block-block-3 h2,
  #block-block-4 h2 {
    font-size: 19px;
    font-style: italic;
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.65);
    text-indent: 3px; }

#block-umass-gateway-support-wordmark-wtag,
#block-views-viewmass-block {
  width: 100%; }
  @media (min-width: 900px) {
    #block-umass-gateway-support-wordmark-wtag,
    #block-views-viewmass-block {
      width: auto; } }

#block-umass-gateway-support-wordmark-wtag .content {
  padding-top: 0; }
  @media (min-width: 900px) {
    #block-umass-gateway-support-wordmark-wtag .content {
      padding-top: 63px; } }
#block-umass-gateway-support-wordmark-wtag .wordmark-wtag {
  background: none, url("../img/wordmark-wtag-white.png") no-repeat;
  background: none, url("../img/wordmark-wtag-white.svg") no-repeat;
  background-repeat: no-repeat;
  width: 305px;
  height: 61px;
  background-size: 305px 61px;
  margin: auto; }
  @media (min-width: 720px) {
    #block-umass-gateway-support-wordmark-wtag .wordmark-wtag {
      width: 326px;
      height: 65px;
      background-size: 326px 65px; } }
  @media (min-width: 950px) {
    #block-umass-gateway-support-wordmark-wtag .wordmark-wtag {
      width: 272px;
      height: 55px;
      background-size: 272px 55px; } }
  @media (min-width: 900px) {
    #block-umass-gateway-support-wordmark-wtag .wordmark-wtag {
      width: 326px;
      height: 65px;
      background-size: 326px 65px; } }

.lt-ie9 #block-umass-gateway-support-wordmark-wtag .wordmark-wtag {
  background-image: url(../img/wordmark-wtag-white-small.png); }

.view-viewmass ul {
  overflow: hidden;
  padding: 5px 0; }
.view-viewmass a {
  color: #fff; }
.view-viewmass .views-row {
  float: left;
  padding: 2px; }
  .view-viewmass .views-row a {
    display: block;
    position: relative;
    padding: 3px; }
    .view-viewmass .views-row a:hover {
      border: 1px solid #f00;
      padding: 2px; }
    .view-viewmass .views-row a div {
      border: 1px solid #fff;
      width: 100px;
      height: 100px;
      overflow: hidden;
      position: relative; }
      @media (min-width: 1080px) {
        .view-viewmass .views-row a div {
          width: 110px;
          height: 110px; } }
      .view-viewmass .views-row a div img {
        position: absolute;
        height: 100px;
        width: 160px;
        left: -30px; }
        @media (min-width: 1080px) {
          .view-viewmass .views-row a div img {
            height: 110px;
            width: 176px;
            left: -33px; } }
.view-viewmass .views-row:last-child {
  display: none; }
  @media (min-width: 460px) {
    .view-viewmass .views-row:last-child {
      display: block; } }
  @media (min-width: 900px) {
    .view-viewmass .views-row:last-child {
      display: none; } }
  @media (min-width: 1020px) {
    .view-viewmass .views-row:last-child {
      display: block; } }
  @media (min-width: 1080px) {
    .view-viewmass .views-row:last-child {
      display: none; } }
  @media (min-width: 1200px) {
    .view-viewmass .views-row:last-child {
      display: block; } }
.view-viewmass .views-field-title {
  float: left;
  max-width: 400px;
  text-indent: 5px; }
.view-viewmass .views-field-link-1 {
  float: right;
  padding-right: 12px; }
  .view-viewmass .views-field-link-1 a {
    padding-right: 16px;
    background: url(../img/arrows/right-white.png) 100% 50% no-repeat; }
    @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-device-pixel-ratio: 1.5) {
      .view-viewmass .views-field-link-1 a {
        background-size: 9px 12px;
        background-image: url(../img/arrows/right-white@2x.png); } }

@media (min-width: 720px) {
  #block-block-4 {
    float: right;
    clear: left; } }
  @media (min-width: 720px) and (min-width: 900px) {
    #block-block-4 {
      clear: none; } }

@media (min-width: 720px) {
  #block-block-4 {
    margin-left: 18px; } }
#block-block-3 .content,
#block-block-4 .content {
  margin-top: 7px;
  border: 1px solid #A45C5C;
  border-radius: 8px;
  background-color: #7F1818; }
  #block-block-3 .content a,
  #block-block-4 .content a {
    color: #fff; }

#block-block-3 .content {
  padding-top: 6px; }
  @media (min-width: 720px) {
    #block-block-3 .content {
      height: 138px; } }
  @media (min-width: 1200px) {
    #block-block-3 .content {
      height: 150px; } }

#block-block-4 .content {
  padding-top: 12px;
  height: 132px; }
  @media (min-width: 1200px) {
    #block-block-4 .content {
      height: 144px; } }

#block-block-3 {
  width: 96%; }
  @media (min-width: 720px) {
    #block-block-3 {
      float: left;
      clear: left;
      width: 47%; } }
  @media (min-width: 900px) {
    #block-block-3 {
      float: right;
      clear: none;
      width: 236px; } }
  @media (min-width: 1080px) {
    #block-block-3 {
      width: 280px; } }

#block-block-3 .content {
  padding-left: 8px;
  padding-right: 8px;
  text-align: center; }
  #block-block-3 .content img {
    padding: 10px 7px 4px; }
  @media (min-width: 720px) {
    #block-block-3 .content img {
      padding: 9px 3px 0; } }
  @media (min-width: 900px) {
    #block-block-3 .content img {
      padding: 8px 0px 0; } }
  @media (min-width: 1080px) {
    #block-block-3 .content img {
      padding: 10px 4px 0; } }

#block-block-4 {
  position: relative;
  width: 96%; }
  @media (min-width: 720px) {
    #block-block-4 {
      width: 47%; } }
  @media (min-width: 900px) {
    #block-block-4 {
      width: 300px; } }
  #block-block-4 .content li {
    padding: 0 12px; }
    @media (min-width: 1200px) {
      #block-block-4 .content li {
        padding-bottom: 2px; } }
  #block-block-4 .content a {
    display: block;
    padding-left: 16px;
    background: url(../img/arrows/right-white.png) 0 6px no-repeat; }
    @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-device-pixel-ratio: 1.5) {
      #block-block-4 .content a {
        background-size: 9px 12px;
        background-image: url(../img/arrows/right-white@2x.png); } }
  #block-block-4 .disability {
    background-color: #00537b;
    padding: 1px 2px 0 3px;
    position: absolute;
    right: 1em;
    top: 0.75em; }
    #block-block-4 .disability a {
      background: none;
      padding-left: 0; }

.region-footer .fa-fw {
  padding: 0.25em 0;
  width: 1.5em; }

#block-menu-menu-audience-nav .content ul {
  margin: 0 -6px;
  text-rendering: optimizelegibility;
  font-family: "Trebuchet MS", sans-serif;
  background-color: #656565;
  -webkit-font-smoothing: antialiased;
  /* to be used for knocked out text, or VERY judiciously on large text */
  font-weight: normal;
  text-align: center;
  overflow: hidden;
  font-size: 18px;
  line-height: 18px; }
  @media (min-width: 720px) {
    #block-menu-menu-audience-nav .content ul {
      margin: 0 -55px;
      padding: 15px 55px;
      border: none;
      border-bottom: 2px solid #fff;
      font-weight: bold;
      font-size: 15px;
      line-height: 19px; } }
  #block-menu-menu-audience-nav .content ul li {
    display: block;
    float: left;
    width: 50%;
    margin: 0;
    padding: 0; }
    @media (min-width: 720px) {
      #block-menu-menu-audience-nav .content ul li {
        display: inline;
        float: none;
        width: auto;
        border-left: 1px solid #fff;
        padding: 0 18px; } }
    #block-menu-menu-audience-nav .content ul li a {
      display: block;
      border: 1px solid #777;
      padding: 10px 0; }
      @media (min-width: 720px) {
        #block-menu-menu-audience-nav .content ul li a {
          display: inline;
          border: none;
          padding: 0; } }
  #block-menu-menu-audience-nav .content ul li.first {
    border-left: none; }
  #block-menu-menu-audience-nav .content ul a {
    color: #fff; }

#block-block-2 {
  clear: both;
  margin: 25px -6px 0;
  background-color: #fff;
  text-align: center;
  color: #999;
  font-size: 11px;
  line-height: 1.17;
  border-top: 1px solid #fff; }
  @media (min-width: 900px) {
    #block-block-2 {
      margin: 25px -55px 0; } }
  #block-block-2 .content {
    border-top: 4px solid #656565;
    padding: 20px 0; }
  #block-block-2 a {
    color: #999; }
    #block-block-2 a:hover {
      color: #881C1C; }
  #block-block-2 a, #block-block-2 span {
    white-space: nowrap; }
  #block-block-2 p {
    padding-bottom: 8px; }

/*# sourceMappingURL=style.css.map */
