/*
 * Noto Sans Devanagari (Devanagari) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Noto Sans Devanagari';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/notosansdevanagari/v3/NotoSansDevanagari-Regular.eot);
  src: url(//fonts.gstatic.com/ea/notosansdevanagari/v3/NotoSansDevanagari-Regular.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/notosansdevanagari/v3/NotoSansDevanagari-Regular.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/notosansdevanagari/v3/NotoSansDevanagari-Regular.woff) format('woff'),
       url(//fonts.gstatic.com/ea/notosansdevanagari/v3/NotoSansDevanagari-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Sans Devanagari';
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/ea/notosansdevanagari/v3/NotoSansDevanagari-Bold.eot);
  src: url(//fonts.gstatic.com/ea/notosansdevanagari/v3/NotoSansDevanagari-Bold.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/notosansdevanagari/v3/NotoSansDevanagari-Bold.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/notosansdevanagari/v3/NotoSansDevanagari-Bold.woff) format('woff'),
       url(//fonts.gstatic.com/ea/notosansdevanagari/v3/NotoSansDevanagari-Bold.ttf) format('truetype');
}
