body, table, tr, td {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

body, table, tr, td, select, input, textarea {
	font-family: 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 11px;
	color: #222222;
}

@font-face {
    font-family: 'icomoon';
    src: url('//static.updatestar.net/fonts/icomoon.eot?-686yr');
    src: url('//static.updatestar.net/fonts/icomoon.eot?#iefix-686yr') format('embedded-opentype'), url('//static.updatestar.net/fonts/icomoon.woff?-686yr') format('woff'), url('//static.updatestar.net/fonts/icomoon.ttf?-686yr') format('truetype'), url('//static.updatestar.net/fonts/icomoon.svg?-686yr#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-amazon:before {
    content: "\41";
}

.icon-ebay:before {
    content: "\e136";
}

.icon-cart:before {
    content: "\e607";
}

.icon-search:before {
    content: "\e600";
}

.icon-earth:before {
    content: "\e601";
}

.icon-facebook:before {
    content: "\e602";
}

.icon-twitter:before {
    content: "\e603";
}

.icon-feed:before {
    content: "\e604";
}

.icon-download:before {
    content: "\e605";
}

.icon-nostar:before {
    content: "\e606";
}

.icon-star:before {
    content: "\e608";
}

.footerbg .icon {
	font-size: 14px;
	margin-right: 2px;
	vertical-align: text-bottom;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    position: relative;
    top: -1px;
}

img {
	border:0px;
	margin:0px;
	padding:0px;
}

iframe {
	border: none;
	background-color: #FFFFFF;
}

a  {
	border:0px;
	color: #3473B1;
	text-decoration:none;
}

ul {
	margin-top: 3px;
	margin-bottom: 3px;
}

li {
	margin-top: 1px;
	margin-bottom: 1px;
}

#newsletterform {
	overflow: auto;
	display: inline-block;
}

#newsletterform input {
	float: left;
}

input.flat {
    margin: 0;
    padding: 0 0.5em;
    border: 0;
    height: 2em;
    outline: 0;

    /* fix width in quirks mode */
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/* Remove button padding in FF */
input.flat::-moz-focus-inner {
	border: 0;
	padding: 0;
}

    input.flat.dark {
        color: white;
        background-color: #ccc;
    }

    input.flat.light {
        color: #505050;
        background-color: #eaeaea;
    }

input[type="submit"].flat {
    cursor: pointer;
}

.gotoTop {
	text-align: right;
	display: block;
	padding: 2px;
	padding-right:20px;
	border-bottom: 1px solid #222222;
	font-size:8pt;
}

.gotoTop a{
	text-decoration: none;
	color: #0460ae;
}

.contenttopic {
	border: 0;
	color: #222222;
	font-size: 9pt;
	font-weight: bold;
	margin: 0;
}

.contentheadline {
	color: #444444;
	margin: 10px 0;
	font-size: 18px;
	letter-spacing: normal;
}

ul.bullets
{
	padding: 0;
	margin-left: 0;
}

ul.bullets li
{
	background:transparent url(http://static.updatestar.com/img/bullet.png) no-repeat scroll 0px 6px;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	padding:2px 2px 2px 14px;
	line-height: 15px;
}

.bigheadline
{
	font-size: 26px;
}

.content {
	line-height:150%;
}

.content a{
	color: #3473B1;
}

.content.width {
	width: 784px;
	margin: 10px 5px 0 0;
}

.content.widthmain {
	width: 610px;
	margin-top: 10px;
}

.footerbg
{
	background-color: white;
	border-left: 1px solid white;
	border-right: 1px solid white;
	margin-left: 1px;
}

.content, .content td{
	color: #222222;
	font-size: 9pt;
}

.content input, .content select{
	color: #505050;
	font-size: 11px;
}

.language {
	padding-top: 4px;
}


.menu {
	margin-top:15px;
	color:#333333;
}

.menu td {
	color:#333333;
	font-size: 11px;
}

.menu a {
	color: #3473B1;
}

.menu_button a {
	color: #0460ae;
	text-decoration: none;
		
}

.menu_button  {
	cursor: pointer;
	padding-top: 7px;
	background-repeat:no-repeat; 
	background-position:0px 10px;
	text-align: center;
	color: #FFFFFF;
}

.main_download {
	float:left;
	padding-left: 85px;
	padding-top: 15px;
	color: #FFFFFF;
	font-size: 14pt;
	font-weight:bold;
}

.main_download_desc {
	float:left;
	padding-left: 85px;
	color: #FFFFFF; 
	font-size: 8pt;
	cursor: pointer;
}

.main_download a {
	color: #FFFFFF;
	text-decoration: none;
	cursor: pointer;
}

.main_download_td {
	background: url('/images/uploads/dl_button2.gif');
	background-repeat: no-repeat; 
	height: 100;
	cursor: pointer;
}

.main_download_td_en {
	background: url('/images/uploads/dl_button2_en.gif');
	background-repeat: no-repeat; 
	height: 100;
	cursor: pointer;
}

.getting_started_td
{
	background: url('/images/gs_norm.gif');
	background-repeat: no-repeat; 
	height: 60;
	cursor: pointer;
}

.getting_started {
	float:left;
	padding-left: 15px;
	padding-top: 9px;
	color: #FFFFFF;
	font-size: 8pt;
	font-weight:bold;
}

.getting_started_desc {
	float:left;
	padding-left: 15px;
	color: #FFFFFF; 
	font-size: 8pt;
	cursor: pointer;
}

.getting_started a {
	color: #FFFFFF;
	text-decoration: none;
	cursor: pointer;
}

.pictitle {
	font-size:8pt;
}

.topquote {
	font-size:38pt;
	font-weight:bold;
	width: 45px;
}

.bottomquote {
	font-size:38pt;
	font-weight:bold;
	width: 45px;
}

.preview  {
	font-size:9pt;
	vertical-align:bottom;
	text-align: justify;
	width: 360px;
}

div.MPHWhiteBandSmallRight			
{
		position:absolute;
		left:100%;
		top:0px;
		overflow:visible;
		height:145px;
		width:145;
		background-repeat:no-repeat;
		background-position:-200px -200px;
		background-color:transparent;
		margin:0 0 0 -145px;
		padding:0;
		color:#000;
		z-index:1000000000;
		border:none;
		float:none;
}

div.header
{
	margin: 0 0 2px 0;
	font-size: 16px;
	font-weight: bold;
}

img.icon
{
	margin-right: 10px;
}


.search #dosearch
{
	width: auto;
}

.search form
{
	margin: 0;
	padding: 0;
	margin-top: 25px;
	overflow: auto;
}

.search a
{
	font-size: 10px;
}

.search form input
{
	color: #505050;
	font-size: 12px;
	margin: 0;
	width: 20em;
	float: left;
}

.search > div
{
	margin-left: 8px;
}

.client
{
        font-size: 10px;
        line-height: 11px;
        margin-top: 14px;
        white-space: normal;
        text-align: center;
	float: left;
	width: 168px;
}

a.getpremium
{
        display: block;
        width: 140px;
        height: 26px;
	margin: 0 auto;
}

a.downloadbutton
{
	background: transparent url(http://static.updatestar.com/img/download.png) no-repeat scroll center 0;
	display: block;
	height: 26px;
	width: 168px;
}

a.buybutton
{
        background: transparent url(http://client.updatestar.com/images/shopping.png) no-repeat scroll 0 0;
        display: block;
        width: 160px;
        height: 29px;
}

a.downloadbutton span, a.buybutton span
{
	color: white;
	font-size: 12px;
	position: relative;
	top: 8px;
	left: 12px;
}

#footerouter
{
	background: transparent url(/img/bottom.png) no-repeat scroll bottom;
	margin: 0 auto;
	width: 1004px;
	padding-bottom: 91px;
}


#footer
{
	background-color: white;
	margin: 0 auto;
	text-align:center;
}

.footernav
{
	color: #333333;
	font-size: 11px;
	margin: 0 auto;
	width: 948px;
	background-color: white;
	padding: 15px 0;
}

.footernav table
{
	width: 100%;
	border-collapse: collapse;
}

.footernav td
{
	font-size: 11px;
	text-align: left;
	width: 16%;
	padding: 1px;
}

div.langbox
{
	margin-right: 32px;
	font-size: 12px;
	margin-top: 26px;
	float: right;
	padding: 0;
	line-height: 0;
	cursor: pointer;
}

#nav, #nav ul { /* all lists */
	padding: 0;
	margin: 0;
	list-style: none;
	line-height: 1;
}

#langsel, #langsel ul { /* all lists */
	padding: 0;
	margin: 0;
	list-style: none;
	line-height: 1;
	z-index: 100;
}

#langsel a {
	display: block;
	font-size: 11px;
	font-weight: normal;
}

#langsel ul
{
	border: 1px solid #cccccc;
	background-color: white;
}
#langsel li { /* all list items */
	float: left;
	clear: both;
	padding: 0;
	line-height: 22px;
	margin: 0;
}

#langsel img
{
	vertical-align: middle;
}

#langsel li ul { 
	position: absolute;
	display: none;
	margin-left: -14px;
}

#langsel ul li
{
	padding: 4px;
	width: 115px;
	line-height: 12px;
	margin: 0;
}

#langsel li:hover ul, #langsel li.sfhover ul { 
	display: block;
}

#langsel ul li:hover
{
	background-color: #d2d2d2;
}

table.comparison
{
	border: 0;
	border-collapse: collapse;
	border-spacing: 0;
	clear: both;
}

table.comparison td, table.comparison th
{
	border: 0;
	padding: 8px 10px;
}

table.comparison th
{
	background-color: #d2d2d2;
}

table.comparison tr.odd
{
	background-color: #f1f2f8;
}

table.download
{
	width: auto;
	padding: .8em;
	margin-bottom:1em;
	border:2px solid #ddd;
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

table.download td
{
	padding: 5px;
}

table.download a
{
	color:#264409;
	text-decoration: underline;
}

.poll label
{
	display: block;
}

.poll input, .poll textarea
{
	margin-left: 20px;
}

.breadcrumb
{
	border-top: 0;
	color: #222222;
	font-size: 11px;
	height: 22px;
	line-height: 1.8em;
	margin: 0px 5px;
	margin-left:20px;
	margin-bottom:-5px;
	padding: 8px 0px 2px 0;
	text-align: left;
	white-space: nowrap;
}

.breadcrumb A:link, .breadcrumb A:visited
{
	color: #222222;
	padding-top: 6px;
	text-decoration: underline;
}

#logo
{
	background-image: url(http://static.updatestar.net/img/updatestar.png);
	background-position: 17px 23px;
	background-repeat: no-repeat;
	border-left: 1px solid #eaeaea;
}

#logo a
{
	display: block;
	width: 143px;
	height: 72px;
}

.full
{
	background: white;
	border-left: 1px solid white;
	border-right: 1px solid white;
	margin-left: 1px;
}

#topnav
{
	height: 31px;
	padding-top: 15px;
}

#menu
{
	font-size: 12px;
	background-color: #ddedfe;
	padding-left: 10px;
	float: right;
	margin-right: 20px;
}

/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {
	margin:			0;
	padding:		0;
	list-style:		none;
	white-space:	normal;
}
.sf-menu {
	line-height:	1.0;
}
.sf-menu ul {
	position:		absolute;
	top:			-999em;
	width:			218px; /* left offset of submenus need to match (see below) */
}
.sf-menu ul li {
	width:			100%;
}
.sf-menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu li {
	float:			left;
	position:		relative;
	z-index: 99;
}
.sf-menu a {
	display:		block;
	position:		relative;
}
.sf-menu li:hover ul,
.sf-menu li.sfhover ul {
	left:			-1px;
	top:			28px; /* match top ul list item height */
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfhover li ul {
	top:			-999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfhover ul {
	left:			218px; /* match ul width */
	top:			0;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfhover li ul {
	top:			-999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfhover ul {
	left:			218px; /* match ul width */
	top:			0;
}

.sf-menu {
	float:			left;
	background-color: #ddedfe;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 10px;
}

.sf-menu a 
{
	border: none;
	padding: 		.5em 1em;
	text-decoration: none;
}

.sf-menu a:hover
{
	color: #565656;
}

.sf-menu ul
{
	background-color: #e4e4e4;
	box-shadow: rgba(228, 228, 228, 0.4) 3px 3px;
	padding: 0 0px 10px 1px;
	top: 10px;
}

.sf-menu li:hover ul,
.sf-menu li.sfhover ul 
{
	left: 0;
	top: 10px;
}

.sf-bot
{
	width: 219px;
	height: 10px;
	top: -999em;
	left: -999em;
	background-color: #e4e4e4;	
	box-shadow: rgba(228, 228, 228, 0.4) 3px 3px;
	position: absolute;
}

.sf-menu li:hover .sf-bot,
.sf-menu li.sfhover .sf-bot 
{
	top: 24px;
	left: 0;
}

.sf-bot a
{
	padding-left: 1.5em;
}

.sf-bot li.toplevel a
{
	padding-left: 1em;
}

.sf-top
{
	padding-left: 8px;
	z-index: 99;
}

.sf-menu li:hover .sf-top,
.sf-menu li.sfhover .sf-top
{
	background-color: #e4e4e4;
	position: relative;
	top: 1px;
}

.sf-menu li:hover .sf-top a,
.sf-menu li.sfhover .sf-top a
{
	background-color: #e4e4e4;
	top: 0;	
}

.sf-top a
{
	padding-left: 4px;
	padding-right: 16px;
	top: 1px;
}

#topnav
{
	background: white;
	width: 1000px;
	border-left: 1px solid white;
	border-right: 1px solid white;
	height: 31px;
}

.sf-menu li li a:hover
{
	background-color: #d2d2d2;
}

.sf-menu li em
{
	padding: .5em 1em;
	display: block;
	font-style: normal;
}

.sf-menu li > a
{
	margin-top: 1px;
}

.sf-menu li.divider
{
	border-bottom: 1px dotted #ccc;
	margin: 5px 0;
	height: 0;
	line-height: 0;
	padding: 0;
	font-size: 1px;
}

.cart
{
	float: right;
	line-height: 22px;
	height: 22px;
	margin-top: 26px;
	font-size: 12px;
	margin-right: 10px;
	padding-right: 10px;
	border-right: 1px solid #ccc;
}

.cart img
{
	vertical-align: text-bottom;
}

#topnavinner
{
	border-bottom: 1px solid #ececec;
	height: 30px;
	width: 1000px;
}

#tabs ul
{
	font-size: 12px;
	font-weight: normal;
	float: left;
	margin: 0;
	padding: 0 10px 0 0;
}

#tabs ul li
{
	display: block;
	float: left;
	line-height: 15px;
	list-style: none;
	margin: 0 1px 0 0;
	padding: 0;
	background-color: #eaeaea;
}

#tabs ul li.last
{
	border: 0;
}

#tabs ul li a
{
	display: block;
	float: left;
	padding: 6px 10px 5px 10px;
	text-decoration: none;
	color: #565656;
}

#tabs ul li.current a
{
	color: #565656;
	font-weight: bold;
}

#tabs ul li a:hover
{
	color: #222222;
}

#tabs
{
	margin: 15px 5px 10px 0;
	overflow: hidden;
	padding: 0;
	height: 26px;
	border-bottom: 1px solid #ccc;
	font-size: 13px;
	letter-spacing: normal;
}

label.error
{
	color: red;
	margin-left: 5px;
}

input.street
{
	display: none;
}

.slider {
    overflow: auto;
    position: relative;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
}

.carousel {
    width: 970px;
}

.as-nav {
  text-align: center;
}

.as-nav a {
  color: transparent;
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: rgba(0,0,0,0);
  border: 1px solid #ccc;
  border-radius: 10px;
}

.as-nav a.as-active {
  margin: 0;
  background-color: #ccc;
}
