
.jcarousel-skin-tango .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-tango .jcarousel-container-horizontal {
    width:  285px;
	height: 160px;
    padding: 0px 40px; 
}

.jcarousel-skin-tango .jcarousel-container-vertical {
    width: 600px;
    height: 200px;
    padding: 0px;
	margin: 0px;
}

.jcarousel-skin-tango .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
    width:  285px;
	height: 160px;
}

.jcarousel-skin-tango .jcarousel-clip-vertical {
    width:  490px;
    height: 180px;
	padding-bottom: 20px;
}

.jcarousel-skin-tango .jcarousel-item {
    width: 280px;
    height: 150px;
}

.jcarousel-skin-tango .jcarousel-item-horizontal {
	margin-left: 0;
    margin-right: 10px;
	height: 160px;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
    margin-right: 0;
}

.jcarousel-skin-tango .jcarousel-item-vertical {
    margin-bottom: 10px;
	height: 90px;
}

.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    top: 50px;
    right: -5px;
    width: 34px;
    height: 68px;
    cursor: pointer;
    background: transparent url(/_arquivosestaticos/Itau/defaultTheme/img/redes-seta-dir-trans.png) no-repeat 0 0; /* alterado */
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: auto;
    background-image: url(/_arquivosestaticos/Itau/defaultTheme/img/redes-seta-esq-trans.png);
}

.jcarousel-skin-tango .jcarousel-next-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-horizontal:focus {
    /* background-position: -32px 0; ALTERADO */
}

.jcarousel-skin-tango .jcarousel-next-horizontal:active {
    background-position: -64px 0;
}

.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
    top: 50px;
    left: 6px;
    width: 32px;
    height: 68px;
    cursor: pointer;
    background: transparent url(/_arquivosestaticos/Itau/defaultTheme/img/redes-seta-esq-trans.png) no-repeat 0 0; /* alterado */
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
    background-image: url(/_arquivosestaticos/Itau/defaultTheme/img/redes-seta-dir-trans.png);
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:hover, 
.jcarousel-skin-tango .jcarousel-prev-horizontal:focus {
    /* background-position: -32px 0; ALTERADO */
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:active {
    background-position: -64px 0;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

.jcarousel-control a:focus,
.jcarousel-control a:active {
    outline: none;
}

/**
 *  Vertical Buttons
 */
.jcarousel-skin-tango .jcarousel-next-vertical {
    position: absolute;
    bottom: -26px;
    right: 100px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(/_arquivosestaticos/Itau/defaultTheme/img/redes-seta-down-trans.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-next-vertical:hover,
.jcarousel-skin-tango .jcarousel-next-vertical:focus {
	
}

.jcarousel-skin-tango .jcarousel-next-vertical:active {
}

.jcarousel-skin-tango .jcarousel-next-disabled-vertical,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:focus,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}

.jcarousel-skin-tango .jcarousel-prev-vertical {
    position: absolute;
    bottom: -25px;
    right: 130px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(/_arquivosestaticos/Itau/defaultTheme/img/redes-seta-up-trans.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-prev-vertical:hover,
.jcarousel-skin-tango .jcarousel-prev-vertical:focus {
}

.jcarousel-skin-tango .jcarousel-prev-vertical:active {
}

.jcarousel-skin-tango .jcarousel-prev-disabled-vertical,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:focus,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}

/* meus estilos de carrossel */

#videoCarousel .imgCarrossel { float: left; }
#videoCarousel .txtCarrossel { float: left; width: 550px; margin: 40px 50px 0 25px; }
#videoCarousel .txtCarrossel h4 { margin: 0 0 5px 0; }
#videoCarousel .txtCarrossel p { line-height: 14px; }
#videoCarousel .txtCarrossel p.link { margin: 7px 0 0 0; }



/**
 * Additional styles for the controls.
 */
.jcarousel-control {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.jcarousel-control a:focus,
.jcarousel-control a:active {
    outline: none;
}

#videoCarousel-next,
#videoCarousel-prev {
    cursor: pointer;
    margin-bottom: -10px;
    text-decoration: underline;
    font-size: 11px;
}

.jcarousel-item-vertical .content{
	margin: 0px !important;
	padding: 0px !important;
	width: 470px !important;
}

.contentTwitter .jcarousel-item-vertical .img {
	width:38px;
	height: 38px;
}

