@charset "gb2312";
/* CSS Document */
html{-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {margin:0;padding:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display:block;}
body{color:#000;}
body,button,input,select,textarea{font:12px/1.5 'microsoft yahei', tahoma,arial,\5b8b\4f53;}
input,select,textarea,button{font-size:100%;outline:none}/* 取消表单项聚焦时产生的黄色边框 */
textarea{resize:none}/* 取消textarea的拖动改变大小的功能 */
table{border-collapse:collapse;border-spacing:0;}
th{text-align:inherit;}
fieldset,img{border:0;}
img,embed{vertical-align:top;}
/*iframe{display:block;}*/
abbr,acronym{border:0;font-variant:normal;}
del {text-decoration:line-through;}
address,caption,cite,code,dfn,em,th,var {font-style:normal;font-weight:500;}
ol,ul,li {list-style:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6 {font-weight:500;}
q:before,q:after {content:'';}
sub, sup {font-size: 75%; line-height: 0; position: relative; vertical-align: baseline;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}
ins,a {text-decoration:none;}
div:after,ul:after,dl:after,.clearfix:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
div,ul,dl,.clearfix {zoom:1; /* for IE6 IE7 */}

.ftArial{font-family:arial;}

.fLeft{float:left;}
.fRight{float:right;}

a{color:#000;}
a:hover {color:#ba9e66;}
a:active{outline:none;}
a img{ -webkit-transition: -webkit-transform 0.4s ease; -moz-transition: -moz-transform 0.4s ease; -ms-transition: -ms-transform 0.4s ease;}
a:hover img{ transform:scale(1.04, 1.04);-ms-transform:scale(1.04, 1.04); -webkit-transform:scale(1.04, 1.04);}
a:hover img.nohover,
a.nohover:hover,.ad a:hover img{transform:scale(1, 1);-ms-transform:scale(1, 1); -webkit-transform:scale(1, 1);}

/*ad*/
#crazynavdown{ width:1180px; margin:0 auto; position:relative; overflow:hidden;z-index:1;}
#crazynavdown .s,#crazynavdown .b{ display:none;}
#crazynavdown .s img,#crazynavdown .s embed{ display:block; height:80px; position:relative; z-index:10;}
#crazynavdown .b img,#crazynavdown .b embed{ display:block;}
#crazynavdown .b .b1{height:300px;}
#crazynavdown .s div{/*height:40px;*/}
#crazynavdown .close{background: url('http://new-img5.ol-img.com/assets/onlylady/images/index/adclose.gif') no-repeat;bottom:0;cursor: pointer;height: 20px;overflow: hidden;position: absolute;right: 0;width: 50px;z-index:99;}
#crazynavdown .zz{ width:1180px; height:80px; background:url('http://new-img3.ol-img.com/assets/onlylady/images/index/space.gif'); position:absolute; top:0; left:0; z-index:20; cursor:pointer;}
