.Stockpromo__button {
  font-size: 15px;
  font-family: Arial;
  font-weight: bold;
  color: #000!important;
  display: inline-block;
  padding: 6px 12px;
  background-color: #ffcc3f;
  border-radius: 4px;
  width:1005;
  text-decoration: none;
}

.Stockpromo__button a, a:hover{
	color: #00529F;
	text-decoration:none;
}



.js-widget-caller {
	text-align: center !important;
	text-decoration: none;
	color: #000!important;
	 font-size: 0.8em;
}

.Stockpromo__button:hover {
	text-decoration: none;
	color: #000!important;
}


@media (max-width: 450px) {
	.no-mobile {
		display: none;
	}

	.Stockpromo_navy_cont-item {
		border: none;
	}

	.Stockpromo_navy {
		bottom: auto;
		top: 0;
	}
}

	.store-stocks-widget__popup__close {
		display: block;
		width: 13px;
		height: 13px;
		background-image: url(/img/icon-close.png);
		position: absolute;
		right: 10px;
		top: 15px;
		cursor:pointer;
	}

	.Stockpromo__time-cont_button{
		text-align:center;
		width:90%;
	}
	.ibutton__storestocks, .storestcosk-btn-container {
		
			vertical-align:middle;


	}
	TD.store-stocks-td{
		vertical-align: middle;
		line-height:44px;
		
	}
	.storestocks-button-container > span{
		display: inline-block;
			vertical-align: middle;
	}
