/*////////// printCSS //////////*/

/*@media print {*/

#header {
	display/**/:none;
}
#primaryNavi {
	display/**/:none;
}
#contents {
	margin-left/**/:0px;
}
#bodyArea {
	padding-right/**/:0px !important;
	/*margin-left:1em !important;*/
}
#pageNavi {
	display/**/:none;	
}
#wrapBg {
	background/**/:none;
}
#secondaryNavi {
	display/**/:none;
}

#footer { margin-top:2em;}

#footer #footerLink {
	display/**/:none;
}
#footer #map {
	display/**/:none;
}

#zeirishi .rightContent {
	display/**/:none;
}

#banner {
	display/**/:none;
}

* html #bodyArea ul {
	list-style/**/:url(../images/icn-arrow-blue.gif) disc outside;
	margin/**/:16px;
}
* html #bodyArea ul li {
	background-image/**/: none;
	padding-left/**/:0px;
}

* html #bodyArea ul.noListImg li {
	list-style-image:none;
}
* html #bodyArea table.shoIchiran,* html #bodyArea table.shoIchiran th,* html #bodyArea table.shoIchiran td {
	border-collapse:collapse !important;
	border:1px solid #666666 !important;
}

.sidenavi_wrap{display:none;}