@charset "Shift_JIS";

/*
ie : IE hack element
c :  Colored element
d :  Deprecated element
* :  Higher priority element
e :  Exceptional specify
*/

h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd
{
font-size/**/:100%;
line-height/**/:1.3;
margin-top/**/:0px;
margin-bottom/**/:0px;
padding-top/**/:0px;
padding-bottom/**/:0px;
}

img { border/**/:none; }

body
{
margin/**/:0px;
padding/**/:0px;
width:100%;
font-size/**/:90%;
}

#bodyArea
{
float:left;
padding-right:0;
}


/*リンク*/
a:link{color:#009;}
a:visited{color:#800080;}
a:hover{color:#009;}
a:focus{color:#009;}
a:active{color:#009;}

/*////////// class //////////*/
.noborder_top{border-top:none;}
.noborder_bot{border-bottom:none;}

.border_dotted{border-top:dotted!important;}


.ml1{margin-left/**/:1em!important;}

.marginLeft0_5em
{
margin-left/**/:0.5em!important;
margin-bottom/**/:0.5em;
}
.marginLeft1em
{
margin-left/**/:1em!important;
margin-bottom/**/:0.5em;
}

.marginLeft1_5em
{
margin-left/**/:1.5em!important;
margin-bottom/**/:0.5em;
}
.marginLeft2em
{
margin-left/**/:2em!important;
margin-bottom/**/:0.5em;
}

.marginLeft3em
{
margin-left/**/:3em!important;
margin-bottom/**/:0.5em;
}

.marginLeft35em
{
margin-left:3em!important;
margin-left:2.7em!important;
margin-bottom:0.5em;
}

.marginLeft4em
{
margin-left/**/:4em!important;
margin-bottom/**/:0.5em;
}

.marginLeft5em
{
margin-left/**/:5em!important;
margin-bottom/**/:0.5em;
}

.marginLeft6em
{
margin-left/**/:6em!important;
margin-bottom/**/:0.5em;
}

.marginLeft7em
{
margin-left/**/:7em!important;
margin-bottom/**/:0.5em;
}

.marginLeft65em
{
margin-left/**/:6.5em!important;
}
.marginLeft55em
{
margin-left/**/:5.5em!important;
}
.marginLeft14em
{
margin-left/**/:14em!important;
}

ol.marginLeft1em { margin-left/**/:4em!important; }

ol.marginLeft2em { margin-left/**/:5em!important; }

ol.marginLeft3em { margin-left/**/:6em!important; }

ol.marginLeft4em { margin-left/**/:7em!important; }

ol.marginLeft5em { margin-left/**/:8em!important; }

ol.marginLeft6em { margin-left/**/:9em!important; }

ol.marginLeft7em { margin-left/**/:10em!important; }

ol.marginLeft8em { margin-left/**/:11em!important; }

ol.marginLeft9em { margin-left/**/:12em!important; }

ol.marginLeft10em { margin-left/**/:13em!important; }

ol.marginLeft0 { margin-left/**/:-1em!important; }

.marginBottom1em { margin-bottom/**/:1em!important; }

.marginBottom0 { margin-bottom/**/:0px!important; }

.marginTop0_5em { margin-top/**/:0.5em!important; }

.marginTop1em { margin-top/**/:1em!important; }

.marginTop2em { margin-top/**/:2em!important; }

.marginTop3em { margin-top/**/:3em!important; }

.marginTop4em { margin-top/**/:4em!important; }

.marginTop5em { margin-top/**/:5em!important; }

.marginTop0 { margin-top/**/:0!important; }

.marginLeft0 { margin-left/**/:0!important; }

.textIndent05em { text-indent/**/:-0.5em!important; }
.textIndent1em { text-indent/**/:1em!important; }
.textIndent1_2em { text-indent/**/:1.2em!important; }

img.ImgfloatLeft
{
float/**/:left!important;
margin-right/**/:1em!important;
margin-bottom/**/:1em!important;
}

img.ImgfloatRight
{
float/**/:right!important;
margin-left/**/:1em!important;
margin-bottom/**/:1em!important;
}

#bodyArea .indent0_5
{
text-indent:-0.5em;
padding-left:0.5em;
}

#bodyArea .indent1
{
text-indent:-1em;
padding-left:1em;
margin-top:0.5em;
margin-bottom:0.5em;
}

#bodyArea .indent2
{
margin-left/**/:1em;
text-indent/**/:-1em;
padding-left/**/:1em;
margin-top/**/:0.5em;
margin-bottom/**/:0.5em;
}

#bodyArea .indent3
{
margin-left:2em;
text-indent:-1em;
padding-left:1em;
margin-top:0.5em;
margin-bottom:0.5em;
}

#bodyArea .indent4
{
margin-left/**/:3em;
text-indent/**/:-1em;
padding-left/**/:1em;
margin-top/**/:0.5em;
margin-bottom/**/:0.5em;
}

#bodyArea .indent5
{
margin-left/**/:4em;
text-indent/**/:-1em;
padding-left/**/:1em;
margin-top/**/:0.5em;
margin-bottom/**/:0.5em;
}

#bodyArea .indent6
{
margin-left/**/:5em;
text-indent/**/:-1em;
padding-left/**/:1em;
margin-top/**/:0.5em;
margin-bottom/**/:0.5em;
}

#bodyArea .indent7
{
margin-left/**/:6em;
text-indent/**/:-1em;
padding-left/**/:1em;
margin-top/**/:0.5em;
margin-bottom/**/:0.5em;
}

#bodyArea .indent8
{
margin-left/**/:7em;
text-indent/**/:-1em;
padding-left/**/:1em;
margin-top/**/:0.5em;
margin-bottom/**/:0.5em;
}

#bodyArea .indent1em
{
text-indent:-1em;
padding-left:1em;
}

#bodyArea .indent1emi
{
text-indent:-1em;
margin-left:1em;
}
#bodyArea .indent15emi
{
text-indent:-0.5em;
margin-left:1em;
}

#bodyArea .indent2em
{
text-indent:-2em;
padding-left:2em;
}
#bodyArea .indent2emi
{
text-indent:-2em;
margin-left:2em;
}

#bodyArea .indent3em
{
text-indent:-3em;
padding-left:3em;
}
#bodyArea .indent3emi
{
text-indent:-3em;
margin-left:3em;
}

#bodyArea .indent4em
{
text-indent:-4em;
padding-left:4em;
}
#bodyArea .indent4emi
{
text-indent:-4em;
margin-left:4em;
}

#bodyArea .indent5em
{
text-indent:-5em;
padding-left:5em;
}
#bodyArea .indent5emi
{
text-indent:-5em;
margin-left:5em;
}

#bodyArea .indent6em
{
text-indent:-6em;
padding-left:6em;
}
#bodyArea .indent6emi
{
text-indent:-6em;
margin-left:6em;
}

#bodyArea .indent7em
{
text-indent:-7em;
padding-left:7em;
}
#bodyArea .indent7emi
{
text-indent:-7em;
margin-left:7em;
}

#bodyArea .marginLeftMinus2 { margin-left:-2em; }

#bodyArea .marginLeftMinus3 { margin-left:-3em; }

#bodyArea .padLeft1 { padding-left/**/:1em; }
#bodyArea .padLeft1_2 { padding-left/**/:1.2em; }
#bodyArea .padLeft2 { padding-left/**/:2em; }

#bodyArea .minusIndent2 { text-indent:-2em; }

#bodyArea .minusIndent1 { text-indent:-1em; }

#bodyArea table .indent1, #bodyArea table .indent2, #bodyArea table .indent3, #bodyArea table .indent4, #bodyArea table .indent5, #bodyArea table .indent6, #bodyArea table .indent7, #bodyArea table .indent8
{
margin-top/**/:0em;
margin-bottom/**/:0em;
}

#bodyArea .red
{
color/**/:#dd0000;
background-color/**/:inherit;
}

#bodyArea .blue
{
color/**/:#0000FF;
background-color/**/:inherit;
}

#bodyArea .green
{
color/**/:#006600;
background-color/**/:inherit;
}

#bodyArea .white
{
color/**/:#FFFFFF;
background-color/**/:inherit;
}

#bodyArea .brown
{
color/**/:#990000;
background-color/**/:inherit;
}

#bodyArea .txt-big { font-size/**/:130%; }
#bodyArea .txt-sbig { font-size/**/:105%; }

#bodyArea .txt-small { font-size/**/:80%; }

#bodyArea .border, #sNavi .border { border:2px solid; }
#bodyArea .border1px, #sNavi .border { border:1px solid;}
* html #bodyArea .border, #sNavi .border { zoom:1; }
* html #bodyArea .border1px, #sNavi .border { zoom:1; }
#bodyArea .border_t1px{border-top:1px solid;}
#bodyArea .border_b1px{border-bottom:1px solid;}
#bodyArea .border_l1px{border-left:1px solid;}
#bodyArea .border_r1px{border-right:1px solid;}
#bodyArea .border_t2px{border-top:2px solid;}
#bodyArea .border_b2px{border-bottom:2px solid;}
#bodyArea .border_lr2px{border-left:2px solid;border-right:2px solid;}

#bodyArea .border5, #sNavi .border5
{
border/**/:2px solid;
padding:5px;
margin:5px;
}

#bodyArea .borderdouble, #sNavi .borderdouble
{
border: 3px double black;
padding:5px;
margin:5px;
}

#bodyArea .border-red { border/**/:2px solid #FF0000; }

#bodyArea .border-dashed { border/**/:1px dashed black; }

#bodyArea .through { text-decoration/**/:line-through; }

#bodyArea .underline { text-decoration/**/:underline; }

#bodyArea .unit
{
margin-bottom/**/:0px!important;
margin-top/**/:0px!important;
text-align/**/:right;
}

#bodyArea .th-bg01
{
background-color/**/:#D7D7D7!important;
color/**/:inherit;
}

#bodyArea .th-bg02
{
background-color/**/:#B2BFD3!important;
color/**/:inherit;
}

#bodyArea .th-bg03
{
background-color/**/:#E5E9F0!important;
color/**/:inherit;
}

#bodyArea .th-bg04
{
background-color/**/:#a6c2e6!important;
color/**/:inherit;
}

#bodyArea .th-bg05
{
background-color/**/:#acf7ac!important;
color/**/:inherit;
}

#bodyArea .td-bg01
{
background-color/**/:#F0F0F0!important;
color/**/:inherit;
}

#bodyArea .td-bg02
{
background-color/**/:#bbb!important;
color/**/:inherit;
}

#bodyArea .th-bg06, #bodyArea .td-bg06
{
background-color/**/:#ffcc99!important;
color/**/:inherit;
}

#bodyArea ul.disc li
{
list-style: disc;
background-image:none;
margin:5px 0 10px;
padding:0 0 10px 0;
}

#bodyArea ul.square li
{
list-style: square;
background-image:none;
margin-left:1.5em;
padding-left:0em;
}

#bodyArea ul.circle li
{
list-style: circle;
background-image:none;
margin-left:1.5em;
padding-left:0em;
}
/*注意書き　リスト*/

#bodyArea .lst_note p{
float:left;
width:3em;
margin-top:0;
margin-left:0;
text-indent:0;
}

#bodyArea .lst_note ul,#bodyArea .lst_note ol{
padding-left:1.5em;
margin-left:0;
}

#bodyArea .lst_note ul li{
background-image: none;
list-style: none outside none;
text-indent:-0.5em;
margin-left:0.5em;
}

#bodyArea .lst_note ol li{
background-image: none;
list-style: none outside none;
text-indent:-0.5em;
margin-left:0.5em;
padding-left:1em;
}

/*////////// skip //////////*/
.skip
{
line-height/**/:0.1!important;
text-indent/**/:-9999px!important;
margin-bottom/**/:5px!important;
}

/*////////// wrapBg //////////*/
#wrapBg { background/**/:url(../images/bg.gif) repeat-y left top; }

/*////////// header //////////*/
#header
{
width/**/:100%;
background/**/: #002C6D;
color/**/:inherit;
}

#logo
{
position/**/: absolute;
left/**/: 0px;
}

#logo img { float/**/:left; }

#header img
{
background/**/:#FFFFFF;
color/**/:inherit;
}

/*////////// subNavi //////////*/
#subNavi
{
margin-left/**/:280px;
padding:5px 0;
float/**/:right;
}

#subNavi form
{
margin/**/:0px 0px 7px;
padding/**/:0px;
text-align/**/:right;
}

#subNavi form p
{
font-size/**/:90%;
text-align/**/:right;
margin-right/**/:10px;
margin-bottom/**/:2px;
color/**/: #FFFFFF;
background-color/**/:#002c6d;
}

#subNavi form p a
{
color/**/: #FFFFFF;
background-color/**/:#002c6d;
}

/*////////// subNaviLink //////////*/
#subNaviLink
{
background/**/: #FFFFFF url(../images/subNaviLink-bg.jpg) repeat-y left top;
color/**/:inherit;
font-size/**/:90%;
height/**/:100%;
padding-left/**/:280px;
clear:both;
min-height:1.4em;
}

#subNaviLink:after, #subNaviLink ul:after
{
content/**/:".";
display/**/:block;
height/**/:0px;
clear/**/:both;
visibility/**/:hidden;
}

#subNaviLink ul
{
list-style/**/:none;
margin/**/:2px;
float/**/:right;
}

#subNaviLink ul li
{
float/**/: left;
border-right/**/: 1px solid #000000;
margin-right/**/:3px;
padding-right/**/:3px;
}

#subNaviLink ul li a
{
white-space:nowrap;
}




#subNaviLink_0015332{
background: #FFFFFF url(/shared/images/subNaviLink-bg-new.jpg) repeat-y left top;
color/**/:inherit;
font-size/**/:90%;
height/**/:100%;
padding-left/**/:115px;
clear:both;
min-height:1.4em;
}

#subNaviLink_0015332:after, #subNaviLink_0015332 ul:after{
content/**/:".";
display/**/:block;
height/**/:0px;
clear/**/:both;
visibility/**/:hidden;
}

#subNaviLink_0015332 ul{
list-style/**/:none;
margin/**/:2px;
float/**/:right;
}

#subNaviLink_0015332 ul li{
float/**/: left;
border-right/**/: 1px solid #000000;
margin-right/**/:3px;
padding-right/**/:3px;
}

#subNaviLink_0015332 ul li a{
white-space:nowrap;
}

#subNaviLink_0015332 p#hojin_id {
	color: #FFFFFF;
	float: left;
}






/*////////// globalNavi //////////*/
#globalNavi
{
background-color/**/:#002C6D;
color/**/:#FFFFFF;
padding-top/**/:5px;
padding-bottom/**/:5px;
padding-left/**/: 10px;
clear/**/: both;
}

#globalNavi ul
{
list-style/**/:none;
margin/**/:0px;
padding/**/:0px;
}

#globalNavi:after
{
content/**/:".";
display/**/:block;
height/**/:0px;
clear/**/:both;
visibility/**/:hidden;
}

#globalNavi ul li
{
float/**/: left;
padding/**/:2px;
background-color/**/:#666666;
color/**/:inherit;
}

/*////////// globalNavi home //////////*/
#globalNavi ul li#gn-home a
{
display/**/:block;
width/**/:105px;
height/**/:25px;
}

#globalNavi ul li#gn-home a:hover
{
background/**/: url(../images/gn-home-on.gif) no-repeat left top;
text-indent/**/: -9999px;
}

/*////////// globalNavi shiraberu //////////*/
#globalNavi ul li#gn-shiraberu a
{
display/**/:block;
width/**/:150px;
height/**/:25px;
}

#globalNavi ul li#gn-shiraberu a:hover
{
background/**/: url(../images/gn-shiraberu-on.gif) no-repeat left top;
text-indent/**/: -9999px;
}

/*////////// globalNavi tetsuzuki //////////*/
#globalNavi ul li#gn-tetsuzuki a
{
display/**/:block;
width/**/:150px;
height/**/:25px;
}

#globalNavi ul li#gn-tetsuzuki a:hover
{
background/**/: url(../images/gn-tetsuzuki-on.gif) no-repeat left top;
text-indent/**/: -9999px;
}

/*////////// globalNavi katsudou //////////*/
#globalNavi ul li#gn-katsudou a
{
display/**/:block;
width/**/:150px;
height/**/:25px;
}

#globalNavi ul li#gn-katsudou a:hover
{
background/**/: url(../images/gn-katsudou-on.gif) no-repeat left top;
text-indent/**/: -9999px;
}

/*////////// globalNavi gaiyou //////////*/
#globalNavi ul li#gn-gaiyou a
{
display/**/:block;
width/**/:150px;
height/**/:25px;
background/**/: url(../images/gn-gaiyou.gif) no-repeat left top;
}

#globalNavi ul li#gn-gaiyou a:hover
{
background/**/: url(../images/gn-gaiyou-on.gif) no-repeat left top;
text-indent/**/: -9999px;
}

/*////////// globalNavi choutatsu //////////*/
#globalNavi ul li#gn-choutatsu a
{
display/**/:block;
width/**/:150px;
height/**/:25px;
}

#globalNavi ul li#gn-choutatsu a:hover
{
background/**/: url(../images/gn-choutatsu-on.gif) no-repeat left top;
text-indent/**/: -9999px;
}

/*////////// contentsArea //////////*/
#contentsArea
{
clear/**/:both;
padding-top/**/:10px;
}

/*////////// primaryNavi //////////*/
#primaryNavi
{
float/**/:left;
width/**/:180px;
background-color/**/: #002C6D;
color/**/:inherit;
padding-left/**/: 5px;
}

#shortCut
{
color/**/:inherit;
background/**/:#F0F0F0;
height/**/:100%;
margin-bottom/**/:5px;
width/**/:182px;
}

#shortCut p
{
border-top/**/: 1px solid #999999;
clear/**/: left;
background/**/: url(../images/icn-arrow-blue.gif) no-repeat 5px 0.5em;
font-size/**/:93%;
}

#shortCut p a
{
display/**/:block;
padding/**/:3px 3px 3px 15px;
}

#shortCut p a:hover
{
background/**/: #0063c7 url(../images/icn-arrow-wh.gif) no-repeat 5px 0.5em;
color/**/:#FFFFFF;
}

#shortCut ul
{
list-style/**/:none;
margin/**/:5px 0px;
padding/**/:0px;
}

#shortCut ul li
{
font-size/**/:90%;
float/**/:left;
}

#shortCut ul li a
{
display/**/:block;
width/**/:76px;
padding-left/**/:15px;
}

#shortCut ul li a:hover
{
background/**/: #0063c7;
color/**/:#FFFFFF;
}

/*////////// ea //////////*/
#ea
{
padding/**/:3px;
color/**/:inherit;
background/**/:#FFFFFF;
margin-bottom/**/:5px;
}

#ea p.title { text-align/**/:center; }

#ea p.title a
{
display/**/:block;
width/**/:176px;
height/**/:33px;
}

#ea p.title a:hover
{
background/**/: url(../images/prime-img-zeirishi-on.gif) no-repeat left top;
text-indent/**/: -9999px;
}

/*////////// office //////////*/
#office
{
padding/**/:3px;
color/**/:inherit;
background/**/:#F0F0F0;
margin-bottom/**/:5px;
}

#office p.title
{
margin-bottom/**/:5px;
text-align/**/:center;
}

#office p.title a
{
display/**/:block;
width/**/:176px;
height/**/:33px;
}

#office p.title a:hover
{
background/**/: url(../images/prime-img-kyoku-on.gif) no-repeat left top;
text-indent/**/: -9999px;
}

#office p { font-size/**/:93%; }




/*sidenavi*/
.sidenavi_wrap {float:left;width:186px;background-color: #002c6d;color:#fff;}
.sidenavi {margin:0;padding:0 0 0 4px;list-style:none;height:100%;}
.sidenavi li {border-top: 1px solid #999999;color:#000;clear: left;background:#f0f0f0 url(../images/icn-arrow-blue.gif) no-repeat 5px 0.5em;font-size:93%;}
.sidenavi li a {margin:0;padding:3px 3px 3px 15px;display:block;zoom:1;/* ie */}
.sidenavi li a.here {background-color: #0063c7;color:#fff;}
.sidenavi li a:hover,.sidenavi li a:focus{background: #0063c7 url(../images/icn-arrow-wh.gif) no-repeat 5px 0.5em;color:#fff;}
.sidenavi ul {margin:5px 0 0;padding:0;list-style:none;}
.sidenavi ul li {border-top:1px solid transparent;font-size:100%;float:left;clear:none;background-image: none;}
.sidenavi ul li a{margin:0;padding:0 0 0 15px;display:block;width:76px;}
.sidenavi ul li a:hover,.sidenavi ul li a:focus {background: #0063c7;color:#fff;}

#sidenavi_etax,
#sidenavi_office {margin:5px 0;padding:3px;color:#000;background:#f0f0f0;zoom:1;/* ie */}
#sidenavi_etax p.title,
#sidenavi_office p.title { text-align:center; }
#sidenavi_etax p.title a,
#sidenavi_office p.title a {margin:0;padding:0;display:block;width:176px;height:33px;}
#sidenavi_etax p.title a:hover  ,#sidenavi_etax p.title a:focus   {background: url(../images/prime-img-zeirishi-on.gif) no-repeat left top;text-indent: -9999px;}
#sidenavi_office p.title a:hover,#sidenavi_office p.title a:focus {background: url(../images/prime-img-kyoku-on.gif) no-repeat left top;text-indent: -9999px;}
#sidenavi_office li{margin:0 2px 0 0;padding:0 2px 0 0;border-right:1px solid #000;float:left;white-space:nowrap;}
#sidenavi_office li.last{border-right:none;}
#sidenavi_office li a{padding:2px;display:inline;width:auto;/* ie */}
#sidenavi_office li a:hover{background-image:none;}

.page_sapporo #sidenavi_office_sapporo,
.page_sendai #sidenavi_office_sendai,
.page_kantoshinetsu #sidenavi_office_kantoshinetsu,
.page_tokyo #sidenavi_office_tokyo,
.page_kanazawa #sidenavi_office_kanazawa,
.page_nagoya #sidenavi_office_nagoya,
.page_osaka #sidenavi_office_osakao,
.page_hiroshima #sidenavi_office_hiroshima,
.page_takamatsu #sidenavi_office_takamatsu,
.page_fukuoka #sidenavi_office_fukuoka,
.page_kumamoto #sidenavi_office_kumamoto,
.page_okinawa #sidenavi_office_okinawa{background:#0063c7;color:#fff;}

/*////////// contents //////////*/
#contents
{
margin-left/**/:205px;
height/**/:1%;
}

#contents #pankuzu, #contents p.skip { margin-top/**/:0px; }

#pageNavi
{
clear/**/:both;
margin-top/**/:2em;
margin-right/**/:3px;
text-align/**/: right;
}

#pageNavi a
{
background/**/: url(../images/icn-arrow-blue-up.gif) no-repeat 0em 0.3em;
padding-left/**/:15px;
}

.pageNavi{clear/**/:both;margin-top/**/:2em;margin-right/**/:3px;text-align/**/: right;}
.pageNavi a{background/**/: url(../images/icn-arrow-blue-up.gif) no-repeat 0em 0.3em;padding-left/**/:15px;}

#bodyArea #pankuzu { margin-bottom/**/:1.5em !important; }

#bodyArea #cntPDFarea
{
margin-top/**/:10px;
margin-bottom/**/:10px;
border/**/:1px solid #cccccc;
padding/**/:10px;
height/**/:1%;
min-height/**/:33px;
}

#bodyArea #cntPDFarea p
{
margin-top/**/:0px;
margin-bottom/**/:0px;
}

#bodyArea #cntPDFarea .cntPDFimg
{
float/**/:left;
margin-right/**/:10px;
}

/*////////// secondaryNavi //////////*/
#secondaryNavi
{
float/**/:right;
width/**/:180px;
padding-right/**/:3px;
background/**/: #FFFFFF;
color/**/:inherit;
}

#sNavi
{
font-size/**/:85%;
padding/**/: 4px 8px;

margin-top/**/:2em;
}

#sNavi p
{
margin-bottom/**/:2px;
color/**/:#002C6D;
background/**/: #E5E9F0;
font-weight/**/:bold;
padding-top/**/:0.2em;
padding-left/**/:3px;
}

#sNavi ul
{
list-style/**/:none;
margin/**/:0px 0px 2px;
padding/**/:3px 0px;
}

#sNavi ul li
{
background/**/: url(../images/icn-arrow-blue.gif) no-repeat 5px 0.5em;
padding-left/**/: 20px;
margin-bottom/**/:1px;
}
#banner p
{
margin-top/**/:5px;
margin-bottom/**/:5px;
}

.localnavi_wrap {margin:2em 0;float:right;width:172px;}
.localnavi {margin:0;padding:0;background: #fff;color:#000;font-size:85%;}
.localnavi p {margin:0;padding:0.2em 0.2em;color:#002c6d;background: #e5e9f0;font-weight:bold;}
.localnavi ul {margin:.5em 0 .75em;padding:0;}
.localnavi li {margin:0;padding:0;list-style:none;}
.localnavi li li {padding-left: 20px;background: url(../images/icn-arrow-blue.gif) no-repeat 5px 0.4em;}
.localnavi_title {border:1px solid #000;}
#top_nta .localnavi_wrap{margin:0.5em 0 2em;}

/*////////// footer /////////////*/
#footer
{
	clear/**/:both;
	border-top/**/: 2px solid #003399;
	background-color/**/: #FFFFFF;
	color/**/:inherit;
	font-size/**/: 90%;
	padding/**/:1px;
	height/**/:1%;
}

#footer.fp75
{
	font-size/**/: 75% !important;
}

#footer a
{
white-space:nowrap;
}

#footerAdd
{
background-color/**/: #FFFFFF;
color/**/:inherit;
padding/**/:1px 5px 4px;
}

#footer address
{
font-style/**/:normal;
padding-top/**/: 2px;
float/**/: left;
background/**/: url(../images/ft-mark.gif) no-repeat left top;
padding-left/**/: 25px;
margin-right/**/:5px;
}

#footerLink ul
{
list-style/**/:none;
margin/**/:2px 0px;
padding/**/:0px;
float/**/:right;
}

#footerLink ul li
{
float/**/: left;
border-right/**/: 1px solid #000000;
margin-right/**/:3px;
padding-right/**/:3px;
}

#map { float/**/:left; }

#bodyArea li.m0 p {text-indent:0 !important;margin-top:0 !important;margin-bottom:0 !important;}
#bodyArea li.m0 p.mb1 {margin-bottom:1em !important;}
#bodyArea li.m0 p.mt1 {margin-top:1em !important;}


.pad5px { padding:5px; }

.padmar5px
{
padding:5px;
margin:5px;
}

/*////////// misc /////////////*/
.out
{
background-color/**/: inherit;
color/**/:blue;
padding:2px;
}
.here, #office .here,
a.here, #office a.here
{
background-color: #0063c7;
color:#fff;
padding:2px;
}

.clear { clear: both; }

.clrR { clear: right; }

.clrL { clear: left; }

.center { text-align:center; }

.right { text-align:right; }

.left { text-align:left; }

.hide { display:none; }

.boxCenter { margin:0 auto; }

#bodyArea p.pagetop
{
text-align:right;
padding-right:10px;
margin-bottom:5px;
}

#bodyArea p.pagetop a
{
background: url(../images/icn-arrow-blue-up.gif) no-repeat 0 0.3em;
padding-left:15px;
}

dl.setsumei
{
margin: 0.5em 1em;
border:1px solid black;
}

dl.noborder { margin: 0.5em 1em; }

.setsumei dt, .noborder dt
{
font-weight: bold;
margin: 0;
padding: 0.5em 0 1em 0.5em;
width: 5em;
float: left;
text-align: center;
}

.setsumei dd, .noborder dd
{
margin: 0 0 0 6em;
padding: 1.3em 1em 1em 1em;
}


/*////////// お酒チャンネル //////////*/


#sake_ch{}
#sake_ch .contentwrap:after{content:".";display:block;clear:both;height:0;visibility:hidden;}
#sake_ch .contentwrap{min-height:1px;/zoom:1;}
* html #sake_ch .contentwrap {height:1px;/*\*//*/ height:auto;/**/}


#sake_ch .contentwrap p.date{
	margin-top:-1em; text-align:right;
}
#sake_ch .contentwrap li.leftside{
	width:250px;
	text-align: center;
	float: left !important;
	margin-right: 2em !important;
}

#sake_ch .contentwrap li.leftside img{
	width:250px;
	margin-bottom:1em;
}

#sake_ch .contentwrap li.rightside{
	overflow:hidden;
}






/*////////// list //////////*/
#bodyArea ol.lst_none,#bodyArea ol.lst_none li,#bodyArea ul.lst_none,#bodyArea ul.lst_none li{
margin-left:0;
padding-left:0;
list-style-type:none;
background-image:none;
}

/*////////// letter-space //////////*/
.ls0_4em{letter-spacing: 0.5em;}
.ls0_9em{letter-spacing: 0.9em;}
.ls1em{letter-spacing: 1.0em;}
.ls1_1em{letter-spacing: 1.1em;}
.ls1_3em{letter-spacing: 1.3em;}

/*////////// hr //////////*/
hr.h1{margin-bottom:2em;height: 14px;border:0;background: url(../images/h1-bg.gif) repeat-x left bottom;}

/*////////// padding //////////*/
.pad8p{padding:8px;}
.pl1{padding-left:1em;}
.pl1_7{padding-left:1.7em;}
.pl2{padding-left:2em;}
.pl2_3{padding-left:2.3em;}
.pl2_5{padding-left:2.5em;}
.pl3{padding-left:3em;}
.pl5_1{padding-left:5.1em;}
.pl10{padding-left:10em;}

/*////////// width //////////*/
.width8 { width:8%!important; }

.width10 { width:10%!important; }

.width15 { width:15%!important; }

.width20 { width:20%!important; }

.width30 { width:30%!important; }

.width40 { width:40%!important; }

.width50 { width:50%!important; }

.width60 { width:60%!important; }

.width70 { width:70%!important; }

.width80 { width:80%!important; }

.width90 { width:90%!important; }

.width97 { width:97%!important; }

.width99 { width:99%!important; }

.width100 { width:100%!important; }

.width5em { width:5em!important; }

.width10em { width:10em!important; }

.width15em { width:15em!important; }

.width20em { width:20em!important; }

.width25em { width:25em!important; }

.width30em { width:30em!important; }

.width35em { width:35em!important; }

.width40em { width:40em!important; }

.width45em { width:45em!important; }

.width40em { width:40em!important; }

.width45em { width:45em!important; }

.width50em { width:50em!important; }

.width55em { width:55em!important; }

.width60em { width:60em!important; }


/*////////// height //////////*/
.kokaikoza_25{display:block;height:25em;}
.kokaikoza_30{display:block;height:30em;}
.kokaikoza_40{display:block;height:40em;}

/*////////// for shokai category //////////*/
#bodyArea #sho_data
{
border:2px solid gray;
padding:5px;
}

.ImgfloatLeft
{
float/**/:left!important;
margin-right/**/:1em!important;
}

.ImgfloatRight
{
float/**/:right!important;
margin-left/**/:1em!important;
}
.f_r{float:right;}
.f_l{float:left}
.fltbox:after {
content: " ";
display: block;
visibility: hidden;
clear: both;
height: 0.1px;
font-size: 0.1em;
line-height: 0;
}
* html .fltbox             { zoom: 1; } /* IE6 */
*:first-child+html .fltbox { zoom: 1; } /* IE7 */

#bodyArea .ImgfloatLeft ul li, #bodyArea .ImgfloatRight ul li, #bodyArea .noImage ul li, #bodyArea ul.listNoImg li, #bodyArea ol.listNoImg li
{
list-style-type:none!important;
list-style-image:none!important;
background-image:none!important;
}

#bodyArea ul.listNoImg li { margin-left:-16px; }

#bodyArea ul.lineHeight130, #bodyArea ol.lineHeight130, #bodyArea ul.lineHeight150, #bodyArea ol.lineHeight150
{
margin-top:0;
margin-bottom:0
}

#bodyArea ul.lineHeight130 li, #bodyArea ol.lineHeight130 li
{
line-height:130%;
margin-top:0;
margin-bottom:0
}

#bodyArea ul.lineHeight150 li, #bodyArea ol.lineHeight150 li
{
line-height:150%;
margin-top:0;
margin-bottom:0
}

#bodyArea ul.lineHeight150 li img, #bodyArea ol.lineHeight150 li img
{
margin-top:0.2em;
margin-bottom:0.3em;
vertical-align: middle;
}

/*////////// for sho-data category //////////*/
#sho_data
{
float: left;
width:97%!important; /* 07.06.20 added */
}

* + html #sho_data { /* IE7 only */ width:96%!important; }

#sho_data dl { background: none; }

/*#sho_data dl dt{
float:left;
width:11em;
clear:left;
}*/
#sho_data dl dd
{
margin-bottom:0.5em;
margin-left:1em;
}

.fltRight { float:right; }

.fltLeft { float:left; }
.bold { font-weight:bold; }
th.normal { font-weight:normal; }

/* 前へ・次へ */
.page_navi {
margin-top:2em;
font-family: arial;
font-size: 0.9em;
font-weight: bold;
}
.page_navi:after {
content: ".";
display:block;
clear: both;
height: 0;
visibility: hidden;
}

.page_navi .prev,
.page_navi .next {
padding: 0 8px;
border: 1px solid #999;
}
.page_navi .prev {
float: left;
}
.page_navi .next {
float: right;
}

/* リストイメージ消去 */
#bodyArea .noListImg li{ list-style:none; background-image:none; }

/* インデント消去 */
#bodyArea .noIndent,#bodyArea.noIndent p{ text-indent:0; }

/*  */
.nowrap{white-space: nowrap;}

/* icon付加 */
/*a[href $='\.pdf'] {
padding-right: 18px;
background: transparent url(../images/icon/icon_pdf.gif) no-repeat center right;
}
a[href $='\.doc'] {
padding-right: 18px;
background: transparent url(../images/icon/icon_doc.gif) no-repeat center right;
}
a[href $='\.xls'] {
padding-right: 18px;
background: transparent url(../images/icon/icon_xls.gif) no-repeat center right;
}
a[href ^="mailto:"] {
padding-right: 18px;
background: transparent url(../images/icon/icon_mailto.gif) no-repeat center right;
}
a[target $="blank"] {
padding-right: 18px;
background: transparent url(../images/icon/icon_external.gif) no-repeat center right;
}
a[href $='\.pdf'] img, a[href $='\.doc'] img, a[href $='\.xls'] img, a[href ^="mailto:"] img, a[target $="blank"] img {
background:transparent url();
padding-right: -18px;
}
* + html a[href $='\.pdf'], * + html a[href $='\.doc'], * + html a[href $='\.xls'], * + html a[href ^="mailto:"], * + html a[target $="blank"] {
display:inline-block;
text-indent:2px;
}
*/

/*class*/
/*class.list*/
.lst li ,li.lst{list-style-type:none;margin-left:0;padding-left:0;background:none;}
.lst_std li  ,li.lst_std {list-style-type:circle;margin-left:1em;padding-left:0;background:none;}
.lst_num li  ,li.lst_num {list-style-type:decimal;margin-left:1em;padding-left:0;background:none;}
.lst_dot li  ,li.lst_dot {list-style-type:disc;margin-left:1em;padding-left:0;background:none;}
.lst_urom li ,li.lst_urom{list-style-type:upper-roman;margin-left:1em;padding-left:0;background:none;}
.lst_lrom li ,li.lst_lrom{list-style-type:lower-roman;margin-left:1em;padding-left:0;background:none;}
.lst_arw1 li ,li.lst_arw1{list-style-type:none;margin-left:0;padding-left:1em;background:url("../img/ico_arrow1.gif") no-repeat 0 6px;}/*f*/
.lst_arw2 li ,li.lst_arw2{list-style-type:none;margin-left:0;padding-left:1em;background:url("../img/ico_arrow2.gif") no-repeat 0 6px;}/*f*/
.lst_arw3 li ,li.lst_arw3{list-style-type:none;margin-left:0;padding-left:1em;background:url("../img/ico_arrow3.gif") no-repeat 0 6px;}/*f*/
.lst_up1 li  ,li.lst_up1 {list-style-type:none;margin-left:0;padding-left:1em;background:url("../img/ico_up1.gif") no-repeat 0 6px;}/*f*/
.lst_down1 li,li.lst_down1{list-style-type:none;margin-left:0;padding-left:1em;background:url("../img/ico_down1.gif") no-repeat 0 6px;}/*f*/
.lst_none li ,li.lst_none{list-style-type:none;margin-left:0;padding-left:0;background:none;}
.lst_outline1 li,li.lst_outline1{list-style-type:none;padding-left:11px;background:url("../img/ico_arrow1.gif") no-repeat 0 6px;}.lst_outline1 li li,li.lst_outline1 li{list-style-type:disc;background:none;padding-left:0;}.lst_outline1 li li li,li.lst_outline1 li li{list-style-type:none;background:none;padding-left:0;}
.lst_outline2 li,li.lst_outline2{list-style-type:circle;margin-left:0;padding-left:0;background:none;}.lst_outline2 li li,li.lst_outline2 li{list-style-type:disc;background:none;padding-left:0;}.lst_outline2 li li li,li.lst_outline2 li li{list-style-type:none;background:none;padding-left:0;}
.lst_outline3 li,li.lst_outline3{list-style-type:none;margin-left:0;padding-left:0;background:none;}.lst_outline3 li li,li.lst_outline3 li{list-style-type:circle;background:none;padding-left:0;}.lst_outline3 li li li,li.lst_outline3 li li{list-style-type:disc;background:none;padding-left:0;}
.lst_1e li ,li.lst_1e {list-style-type:none;background:none;text-indent:-1.0em;margin-left: 0.0em;padding-left:1.0em;text-align:left;}
.lst_1he li,li.lst_1he{list-style-type:none;background:none;text-indent:-1.5em;margin-left:-0.5em;padding-left:2.0em;text-align:left;}
.lst_2e li ,li.lst_2e {list-style-type:none;background:none;text-indent:-2.0em;margin-left:-1.0em;padding-left:3.0em;text-align:left;}
.lst_2he li,li.lst_2he{list-style-type:none;background:none;text-indent:-2.5em;margin-left:-1.5em;padding-left:4.0em;text-align:left;}
.lst_cn li ,li.lst_cn {list-style-type:none;background:none;text-indent:-1.0em;margin-left: 0.0em;padding-left:1.0em;text-align:left;}
.lst_cn li img {vertical-align:middle;}
#bodyArea .lst_f_l li{float:left;background:none;}/* e */
.lst_noindent{text-indent:0 !important;}

.lst_1e li  *, li.lst_1e  *,
.lst_1he li *, li.lst_1he *,
.lst_2e li  *, li.lst_2e  *,
.lst_2he li *, li.lst_2he *,
.lst_cn li  *, li.lst_cn  * {text-indent:0;}

.lst_split  li, li.lst_split {float:left;}
.lst_split2 li, li.lst_split2{width:50%;}
.lst_split3 li, li.lst_split3{width:33.3333333%;}
.lst_split4 li, li.lst_split4{width:25%;}
.lst_split5 li, li.lst_split5{width:20%;}
.lst_split6 li, li.lst_split6{width:16.6666666%;}
.lst_split7 li, li.lst_split7{width:14.2857143%;}
.lst_split8 li, li.lst_split8{width:12.5%;}

.lst_state li,li.lst_state{margin:0;padding:0;list-style-type:none;background:#fafafa url("../img/ico_arrow1.gif") no-repeat 3px center;float:left;width:49.999%;}
.lst_state li a,li.lst_state a{padding:6px 0 6px 11px;display:block;border-bottom:1px solid #ddd;border-right:1px solid #ddd;}/*c*/
.lst_state a:link,.lst_state a:visited{}/*c*/
.lst_state li:hover,.lst_state li a:hover,.lst_state a:hover{color:#b6161a;}
.lst_state li:focus,.lst_state li a:focus,.lst_state a:focus{background:#fafafa url("../img/ico_arrow1.gif") no-repeat 3px center;color:#b6161a;}
.lst_state a:active{background:#fafafa url("../img/ico_arrow1.gif") no-repeat 3px center;color:#b6161a;}/*c*/

.lst_objbox{margin:1em 0;}
.lst_objbox li{float:left;}
.lst_objbox1{height:240px;}
.lst_objbox1 li, li.lst_objbox1{margin:0 8px 8px 0 !important;padding:0 !important;width:192px;height:232px;text-align:center;overflow:hidden;}
.lst_objbox1 a{padding:8px;display:block;text-decoration:none;width:176px;height:212px;}
.lst_objbox1 li.male  {border:4px solid #052767;background-color:#c5d3ee !important;color:#052767;background-image:none !important;list-style-type:none;}
.lst_objbox1 li.female{border:4px solid #a1413d;background-color:#fec2c2 !important;color:#a1413d;background-image:none !important;list-style-type:none;}
.lst_objbox1 li.male   a{color:#052767;}
.lst_objbox1 li.female a{color:#a1413d;}
.lst_objbox1 span{font-size:120%;font-weight:bold;line-height:3;}

.lst_navi li{margin:0.25em;float:left;width:auto;}

.dl_hints{}
.dl_hints dt{margin:0;padding:0;float:left;clear:left;}
.dl_hints dd{float:left:}
.dl_hints dt{margin:0 !important;}/* e */
.dl_hints dd{margin:0 !important;}/* e */
.dl_hints1e dt{width:1em;}
.dl_hints1e dd{margin:0 0 0 -1em;padding:0 0 0 1em;}
.dl_hints2e dt{width:2em;}
.dl_hints2e dd{margin:0 0 0 -2em;padding:0 0 0 2em;}
.dl_hints3e dt{width:3em;}
.dl_hints3e dd{margin:0 0 0 -3em;padding:0 0 0 3em;}

.dl_tbl1{margin:0 0 1em;padding:0;border: 1px solid #333;border-top: none;background: #e7e7e7;}
.dl_tbl1 dt,.dl_tbl1 dt dd{margin:0;padding:0;border-top:1px solid #333;}
.dl_tbl1 dt{float:left;clear:left;width:10em;}
.dl_tbl1 dt{margin:0 0 0 -10em;;}

/*class.table*/
.tbl_layout1{margin:0 auto 1em;padding:0;border:0px;border-collapse:collapse;line-height:1.5;width:100%;}
.tbl_layout1 td{padding:3px;border:0px;vertical-align:top;}

.tbl_std{}
.tbl_std{margin:0 auto 1em;padding:0;border:1px inset #222;border-collapse:collapse;line-height:1.5;width:100%;}
.tbl_std caption{text-align:left;}
.tbl_std th{padding:0;border:2px inset #999;background:#eef4ff;text-align:left;}
.tbl_std td{padding:0;border:2px inset #999;vertical-align:middle;}
.tbl_std thead th{text-align:center;}
.tbl_std tbody th{text-align:left;}
.tbl_std tbody td{text-align:left;}

.tbl_thin1{margin:0 auto 1em;padding:0;border:1px inset #222;border-collapse:collapse;line-height:1.5;width:100%;}
.tbl_thin1 caption{text-align:left;}
.tbl_thin1 th{padding:3px;border:1px inset #999;text-align:center;font-weight:normal;}
.tbl_thin1 td{padding:3px;border:1px inset #999;vertical-align:middle;}
.tbl_thin1 thead th{text-align:center;}
.tbl_thin1 tbody th{text-align:center;}
.tbl_thin1 tbody td{text-align:left;}

.tbl_kohyo1{margin:0 auto 1em;padding:0;border:1px solid #333;border-collapse:collapse;line-height:1.5;width:100%;}
.tbl_kohyo1 caption{padding:0;border:1px solid #333;background:#eef4ff;font-weight:bold;}
.tbl_kohyo1 th{padding:0;border:1px solid #333;background:#eef4ff;text-align:center;}
.tbl_kohyo1 td{padding:0;border:1px solid #333;vertical-align:middle;}
.tbl_kohyo1 thead th{text-align:center;}
.tbl_kohyo1 tbody th{}
.tbl_kohyo1 tbody td{}

.tbl_kohyo2{margin:0 auto 1em;padding:0;border:1px solid #333;border-collapse:collapse;line-height:1.5;width:100%;}
.tbl_kohyo2 caption{padding:0;border:1px solid #333;background:#eef4ff;font-weight:bold;text-align:left;}
.tbl_kohyo2 th{padding:3px;border:1px solid #333;background:#eef4ff;text-align:left;vertical-align:top;}
.tbl_kohyo2 td{padding:3px;border:1px solid #333;vertical-align:top;}
.tbl_kohyo2 thead th{text-align:center;}
.tbl_kohyo2 tbody th{}
.tbl_kohyo2 tbody td{}

.tbl_kohyo3{margin:0 auto 1em;padding:0;border:1px solid #333;border-collapse:collapse;line-height:1.5;width:100%;}
.tbl_kohyo3 caption{padding:0;font-weight:bold;text-align:left;}
.tbl_kohyo3 th{padding:3px;border:1px solid #333;background:#eef4ff;text-align:center;vertical-align:middle;}
.tbl_kohyo3 td{padding:3px;border:1px solid #333;vertical-align:middle;}
.tbl_kohyo3 thead th{text-align:center;}
.tbl_kohyo3 tbody th{}
.tbl_kohyo3 tbody td{}

.tbl_layout1-f{margin:0 auto 1em;padding:0;border:0px;border-collapse:collapse;line-height:1.5;width:100%;}/*=* */
.tbl_layout1-f td{padding:3px;border:0px;vertical-align:top;}

table tbody td.num{text-align:right;}

.tbl_widthauto{width:auto;}

/*class.paragraph*/
.pr1,.wrap_pr1 p{text-indent:1em;}
.wrap_pr1 p.pr_noindent{text-indent:0;}
.pr2,.wrap_pr2 p{text-indent:1em;margin-bottom:1em;}
.wrap_pr2 p.pr_noindent{text-indent:0;}
.pr3,.wrap_pr3 p{margin-bottom:1em;}
.wrap_pr3 p.pr_noindent{text-indent:0;}
.pr4,.wrap_pr4 p{text-indent:1em;margin-bottom:0;padding-bottom:0;}
.wrap_pr4 p.pr_noindent{text-indent:0;}
.noindent .wrap_pr p.pr_noindent{text-indent:0;}

/*class.layout*/
.m0{margin:0;}
.m1{margin:1em;}
.m2{margin:2em;}
.mt0{margin-top:0;}
.mt1{margin-top:1em;}
.mt2{margin-top:2em;}
.mb0{margin-bottom:0;}
.mb05{margin-bottom:0.5em;}
.mb1{margin-bottom:1em;}
.mb2{margin-bottom:2em;}
.ml1{margin-left:1em;}
.ml2{margin-left:2em;}
.pl1{padding-left:1em;}
.pl2{padding-left:2em;}

.f_r{float:right;margin:0 0 0 1em;text-align:center;}
.f_l{float:left;margin:0 1em 0 0;text-align:center;}

.w1e{width:1em;}
.w2e{width:2em;}
.w3e{width:3em;}
.w4e{width:4em;}
.w5e{width:5em;}
.w6e{width:6em;}
.w7e{width:7em;}
.w8e{width:8em;}
.w9e{width:9em;}
.w10e{width:10em;}
.w11e{width:11em;}
.w12e{width:12em;}
.w13e{width:13em;}
.w14e{width:14em;}
.w15e{width:15em;}
.w16e{width:16em;}
.w17e{width:17em;}
.w41e{width:41em;}
.w53e{width:53em;}
.w33p{width:33%;}
.w5p{width:50%;}

.wmax{width:100%;}

.vm{vertical-align:middle;}
.vt{vertical-align:top;}

/*class.text*/
.sign{text-align:right;}
.note{color:#c00000;}
.update_time{text-align:right;}
.center{text-align:center;}
.left{text-align:left;}
.right{text-align:right;}

/*class.text.color*/
.em_r{background:#ffefef;}
.em_g{background:#efffef;}
.em_b{background:#eeffff;}
.strong{color:#00356a;}
a.anchor:hover{color:inherit;}

.anc{color:inherit;text-decoration:none;}

/*class.text.alert*/
.alert,.alert strong {color: #000;}
.alert strong{margin: 0;}
.alert-info{color: #000;background-color: #d9edf7;border-color: #bce8f1;}
.alert-info strong,.info strong{color:#000;}
.alert-success{color: #000;background-color: #9edf7d;border-color: #bce8f1;}
.alert-success strong,.success strong{color:#000;}
.alert-error,.error{color: #000;background-color: #f2dede;border-color: #eed3d7;}
.alert-error strong,.error strong{color:#000;}
.alert-notice,.notice{color: #000;background-color: #fce2b8;border-color: #ffa000;}
.alert-notice strong,.notice strong{color:#000;}

/*class.block*/
.box{margin:0.5em 0 1em;padding:0.5em 1em;border:1px solid #666;text-align:left;}
.nlbox{padding:0.5em 0 0.5em 1em;}
.objbox{margin:0.5em auto;text-align:center;}
.objbox img{width:100%;border-radius:3px 3px 3px 3px;}
.objbox p{text-align:left;}
.objbox_thin{padding:1em;}
.box_g{margin:0.5em 0 1em;padding:0.5em 1em;border:1px solid #ddd;text-align:left;}
.box_g_g{margin:0.5em 0 1em;padding:0.5em 1em;border:1px solid #ddd;text-align:left;background-color:#F5F5F5;}

.box1{margin:15px 0;padding:5px;border:solid 5px #f0f0f0;background-color:#fff;width:100%;}
.box2{padding:5px;border: solid 1px #999;}

.tbl_green1 {width: 188px;background: #6d9cc0;border-collapse: collapse;font-family: Arial, Helvetica, sans-serif;font-size: small;text-align: center;}
.tbl_green1 th,
.tbl_green1 td.th {border: 1px solid #6d9cc0;background: #6d9cc0;color: #fff;height: 1.5em;font-size:inherit;}
.tbl_green1 td {border: 1px solid #6d9cc0;background: #fff;height: 1.5em;font-size:x-small;}

.subcat_img{display:block;float:left;margin-right:2px;}

.tile_wrap{overflow:hidden;}
.tile1{margin:0 0 -600px;padding:3px 3px 603px;border-right:3px solid #fff;background:#f0f0f0;}

.wpict1{width:4.5em;}
.wpict2{width:80px;}
.pictogram1 ul li{margin-bottom:0.25em;margin-left:0;padding-left:0;background:none;list-style-type:none;}
.pictogram1 ul li img{margin-right:0.25em;vertical-align:middle;}
.pictogram2 img{width:30px;height:30px;}

.thumimg{margin:0 auto 1em;text-align:center;}
.thumimg img{width:80%;border-radius:3px 3px 3px 3px;}

.mw320p img{max-width: 320px;width:80%;height:auto;}

#bodyArea em.italic{font-style: italic;}

.hide{display:none;}

.cl{clear:both;}
hr.cl{margin:0;padding:0;border:0 none;height:0;color:#fff;}

.clfix:after{content:".";display:block;clear:both;height:0;visibility:hidden;}
.clfix{min-height:1px;/zoom:1;}
* html .clfix{height:1px;/*\*//*/ height:auto;/**/}

/*class.icons*/
.ico{margin-right:3px;padding:0 0 0 4px;vertical-align:middle;}


/*class.layout*/
.col{float:left;}
.span-1_24,.span-1_16,.span-1_12,.span-2_24,.span-1_10,.span-1_9,.span-1_8,.span-2_16,.span-3_24,.span-1_7,.span-1_6,.span-2_12,.span-4_24,.span-3_16,.span-1_5,.span-2_10,.span-5_24,.span-2_9,.span-1_4,.span-2_8,.span-3_12,.span-4_16,.span-6_24,.span-2_7,.span-7_24,.span-3_10,.span-5_16,.span-1_3,.span-2_6,.span-3_9,.span-4_12,.span-8_24,.span-3_8,.span-6_16,.span-9_24,.span-2_5,.span-4_10,.span-5_12,.span-10_24,.span-3_7,.span-7_16,.span-4_9,.span-11_24,.span-1_2,.span-2_4,.span-3_6,.span-4_8,.span-5_10,.span-6_12,.span-8_16,.span-12_24,.span-13_24,.span-5_9,.span-9_16,.span-4_7,.span-7_12,.span-14_24,.span-3_5,.span-6_10,.span-5_8,.span-10_16,.span-15_24,.span-2_3,.span-4_6,.span-6_9,.span-8_12,.span-16_24,.span-11_16,.span-7_10,.span-17_24,.span-5_7,.span-3_4,.span-6_8,.span-9_12,.span-12_16,.span-18_24,.span-7_9,.span-19_24,.span-4_5,.span-8_10,.span-13_16,.span-5_6,.span-10_12,.span-20_24,.span-6_7,.span-7_8,.span-14_16,.span-21_24,.span-8_9,.span-9_10,.span-11_12,.span-22_24,.span-15_16,.span-23_24{float:left;}
.span-1_24{width:4.1666666%;}
.span-1_16{width:6.25%;}
.span-1_12,.span-2_24{width:8.3333333%;}
.span-1_10{width:10%;}
.span-1_9{width:11.1111111%;}
.span-1_8,.span-2_16,.span-3_24{width:12.5%;}
.span-1_7{width:14.2857143%;}
.span-1_6,.span-2_12,.span-4_24{width:16.6666666%;}
.span-3_16{width:18.75%;}
.span-1_5,.span-2_10{width:20%;}
.span-5_24{width:20.8333333%;}
.span-2_9{width:22.2222222%;}
.span-1_4,.span-2_8,.span-3_12,.span-4_16,.span-6_24{width:25%;}
.span-2_7{width:28.5714286%;}
.span-7_24{width:29.1666666%;}
.span-3_10{width:30%;}
.span-5_16{width:31.25%;}
.span-1_3,.span-2_6,.span-3_9,.span-4_12,.span-8_24{width:33.3333333%;}
.span-3_8,.span-6_16,.span-9_24{width:37.5%;}
.span-2_5,.span-4_10{width:40%;}
.span-5_12,.span-10_24{width:41.6666666%;}
.span-3_7{width:42.8571429%;}
.span-7_16{width:43.75%;}
.span-4_9{width:44.4444444%;}
.span-11_24{width:45.8333333%;}
.span-1_2,.span-2_4,.span-3_6,.span-4_8,.span-5_10,.span-6_12,.span-8_16,.span-12_24{width:50%;}
.span-13_24{width:54.1666666%;}
.span-5_9{width:55.5555555%;}
.span-9_16{width:56.25%;}
.span-4_7{width:57.1428572%;}
.span-7_12,.span-14_24{width:58.3333333%;}
.span-3_5,.span-6_10{width:60%;}
.span-5_8,.span-10_16,.span-15_24{width:62.5%;}
.span-2_3,.span-4_6,.span-6_9,.span-8_12,.span-16_24{width:66.6666666%;}
.span-11_16{width:68.75%;}
.span-7_10{width:70%;}
.span-17_24{width:70.8333333%;}
.span-5_7{width:71.4285715%;}
.span-3_4,.span-6_8,.span-9_12,.span-12_16,.span-18_24{width:75%;}
.span-7_9{width:77.7777777%;}
.span-19_24{width:79.1666666%;}
.span-4_5,.span-8_10{width:80%;}
.span-13_16{width:81.25%;}
.span-5_6,.span-10_12,.span-20_24{width:83.3333333%;}
.span-6_7{width:85.7142858%;}
.span-7_8,.span-14_16,.span-21_24{width:87.5%;}
.span-8_9{width:88.8888888%;}
.span-9_10{width:90%;}
.span-11_12,.span-22_24{width:91.6666666%;}
.span-15_16{width:93.75%;}
.span-23_24{width:95.8333333%;}


.sheet-a4{width:40em;}

/*/////////// iewin5.5 only //////////*/
@media tty {

i { content:"\";/*" "*/}}@m; @import'ie5.css';/*"; }
}/* */
