@charset "Shift_JIS";

/*////////// wrapBg //////////*/
#wrapBg {
	width/**/:995px;
}
#bodyArea{ float:none; }


/*////////// eyecatch //////////*/
#eyecatch
{height:100px;}

/*////////// QRcode //////////*/
#qr_code{
	background: none repeat scroll 0 0 #f0f0f0;
	margin:0 0 0 4px;
}
#qr_code p {color:#000;}

/*////////// contents //////////*/

#bodyArea {
	padding-right:190px;
	/*
	background: url(../../img/mainphoto07.jpg) no-repeat left top;
	padding-top: 100px;
	*/
}
#topics {
	width/**/:99%;
}
#topicHead h2 {
	float/**/:left;
}
#topicHead p {
	font-size/**/: 90%;
	text-align/**/:right;
}

#topics ul.lst_mb0_5em li {
	margin-bottom/**/:0.5em;
}


#topics ul {
	list-style/**/:none;
	margin/**/:5px 0px 0px;
	padding/**/: 5px 0px 0px;
	border-top/**/: 2px solid #000080;
}
#topics ul li {
	background/**/: url(../images/icn-arrow-blue.gif) no-repeat 5px 0.5em;
	padding-left/**/: 15px;
	font-size/**/:90%;
	line-height/**/:1.2;
	margin-bottom/**/: 3px;
}


/*////////// mainCategory //////////*/
#mainLeftCategory{
	float:left;
	width:594px;
}
#mainLeftCategory .leftCategory{
	border/**/: 1px solid #666666;
	background-color/**/: #F0F0F0;
	color/**/:inherit;
	display:inline;
	margin:5px;
	padding:3px;
	width:272px;
	float:left;
	font-size:110%;
}
#mainLeftCategory div h2{
	margin-bottom:3px;
}
#mainLeftCategory .leftCategory ul{
	padding-left:0;
	margin-left:1.5em;
}
#mainLeftCategory .leftCategory ul li{
	font-size:90%;
}

#mainCategory #subCategory ul{
	list-style:none;
	padding-left:0;
	margin:5px;
	margin-right:0;
}
#mainCategory #subCategory li{
	margin-left:0;
	margin-top:5px;
	margin-right:0;
	width:auto;
	float:left;
}
#mainCategory #subCategory #banner{
	width:594px;
	float:left;
	margin-top:0;
	margin-left:0px;
	display:inline;
}
#mainCategory #subCategory #banner li{
	margin-right:4px;
}

.contentsGroup{
	width:594px;
}

/* 090415 add */
#mainCategory #subCategory #banner2 li{
	margin-right:10px;
}

/* 090507 add */
* html #mainCategory #subCategory #banner2 li#kids{
	margin-right:0;
}

#mainCategory #subCategory .banner2 li{
	margin-right:10px;
}

* html #mainCategory #subCategory .banner2 li#kids{
	margin-right:0;
}

/*////////// footer //////////*/
#footer{ clear:both; }

#secondaryNavi img { margin-left:8px;}

#sNavi{ margin-top:2.3em; }
