@font-face {
  font-family: 'Bubbler One';
  font-style: normal;
  font-weight: 400;
  src: local('Bubbler One'), local('BubblerOne'), url(http://fonts.gstatic.com/s/bubblerone/v4/tiAxK_A8SViEcY0M590QMJ0EAVxt0G0biEntp43Qt6E.ttf) format('truetype');
}
