@font-face {
  font-family: 'Glegoo';
  font-style: normal;
  font-weight: 400;
  src: local('Glegoo'), local('Glegoo-Regular'), url(https://fonts.gstatic.com/s/glegoo/v5/rRnY1PEvm8fHngJkZm5BIA.ttf) format('truetype');
}
