
/* CSS Standard Document */
/* ---------------------------------------------------------------------------------------------------
	* File Name:			style.css
	* Description:			Global style sheet
	* Application:			Baroda Bank HTML Mokups
	* Naming Convention:	AbbreviationAbbreviation
		
========== Structure ================================================================================
	* Page Width:
	* Number of Columns:
	* $__Global:			Global Definitions
	* $__Header:			Header Definitions
	* $__Menu:				Global Site Navigation
	* $__Content:			Everything within the content
	* $__Footer:			Footer Styles
----------------------------------------------------------------------------------------------------*/

/* $__Global
---------------------------------------------------------------------------------------------------
All Classes related to Global site comes here
---------------------------------------------------------------------------------------------------*/
body{
	height:100%;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	color:#333;
	background:url(../images/bgGradient.gif) repeat-x;
	margin:0px;
	border:0px solid #000;
	font-style: normal;
	font-size: 12px;
}
html{padding:0; margin:0; height:100%;}

.main{ width:1003px; margin:0px auto; background:url(../images/bgImg.gif) no-repeat 365px 31px; overflow:hidden;}
.mainInner{ clear:both; border:1px solid #cfcfcf; border-top:none; background:#fff url(../images/tabLine.gif) repeat-x; overflow:hidden;}
.contentWrapper{clear:both; margin:8px 8px; overflow:hidden;}

a{color:#eb631b; text-decoration:none; outline: 0;}
a:hover{text-decoration:underline; color:#775E3B; outline:0;} 
a.tooltiplnk{color:#000; text-decoration:none; outline: 0;border-bottom:1px dashed #888;}
a.tooltiplnk:hover{text-decoration:none; color:#000; outline:0;}
a img{border:none;}

.rtFlt{float:right !important;}
.ltFlt{float:left !important;}
.clrBth{clear:both !important; font-size:0px !important;}
.clr {clear:both !important;}
.hand{cursor:hand !important;}
select, input{font-size:11px !important; padding:1px;}
label{ display:inline-block; vertical-align:middle;}
textarea{font-family:Arial, Helvetica, sans-serif;font-size:12px;font-weight:normal; overflow:auto;}

/* Padding CSS */
.pdt2{padding-top:2px !important;} 
.pdt5{padding-top:5px !important;}
.pdt10{padding-top:10px !important;}
.pdt15{padding-top:15px !important;}
.pdt45{padding-top:45px !important;}

.pdb10 {padding-bottom: 10px !important;}

.pdr5{padding-right:5px !important;} 
.pdr10{padding-right:10px !important;}
.pdr15{padding-right:15px !important;}

.lpd5{padding-left:5px !important;}
.lpd7{padding-left:7px !important;}
.lpd10{padding-left:10px !important;}
.lpd15{padding-left:15px !important;} 
.lpd20{padding-left:20px !important;}
.lpd25{padding-left:25px !important;}
.lpd30{padding-left:30px !important;}
.lpd50 {padding-left:50px !important;}
.lpd70 {padding-left:70px !important;}
.lpd100 {padding-left:100px !important;}
.lpd190 {padding-left:190px !important;}
.lpd195 {padding-left:195px !important;}

.mrgTopBtm0 {margin-top:0px; margin-bottom:0px;}
.paddingTop0{padding-top:0 !important;}
.pd10{padding:10px !important;}
.pdtb5{padding-top:5px !important; padding-bottom: 5px !important;}
.pdtb10{padding-top:10px !important; padding-bottom: 10px !important;}
.pdtb15{padding-top:15px !important; padding-bottom: 15px !important;}
.pdtb23{padding-top:23px !important; padding-bottom: 23px !important;}/* Added */
.pdtb43{padding-top:43px !important; padding-bottom: 43px !important;}/* Added */
.pdlr10{padding-left:10px !important; padding-right: 10px !important;}
.pdlr7{padding-left:7px !important; padding-right: 7px !important;}/* Added */
.boxPadding{padding:15px 10px;}
.ie6boxPadding{_padding:15px 10px 0px 10px;}
.boxPaddingTpBtm{padding:15px 0px;}

/* Margin CSS */ 
.spt2{margin-top:2px !important;}
.spt3{margin-top:3px !important;}
.spt5{margin-top:5px !important;}
.spt7{margin-top:7px !important;}
.spt8{margin-top:8px !important;}
.spt10{margin-top:10px !important;}
.spt12{margin-top:12px !important;}
.spt15{margin-top:15px !important;}
.spt20{margin-top:20px !important;}
.spt25{margin-top:25px !important;}
.spt30 {margin-top:30px !important;}

.splr5{margin:0px 5px !important;}
.splr10{margin-left:10px !important; margin-right:10px !important;}
.sptb10{margin:10px 0px !important;}
.sptrbl10{margin:10px;}

.sp2{margin-left:2px !important;} 
.sp5{margin-left:5px !important;}
.sp10{margin-left:10px !important;}
.sp15{margin-left:15px !important;}
.sp20{margin-left:20px !important;}
.sp25{margin-left:25px !important;}
.sp80 {margin-left:80px !important;}
.sp100 {margin-left:100px !important;}
.sp115{margin-left:115px !important;}
.sp200{margin-left:200px !important;}
.sp270{margin-left:270px !important;}
.sp400{margin-left:400px !important;}
.sp500{margin-left:500px !important;}
.sp600{margin-left:600px !important;}

.spr5{margin-right:5px !important;}
.spr10{margin-right:10px !important;}
.spr15{margin-right:15px !important;}
.spr25{margin-right:25px !important;}
.spr30{margin-right:30px !important;}
.spr50{margin-right:50px !important;}

.spb5{margin-bottom:5px !important;}
.spb10{margin-bottom:10px !important;}
.spb12{margin-bottom:12px !important;}
.noMargin{ margin:0px !important}

/* Align Text */
.leftAlign{text-align:left;}
.centerAlign{text-align:center;}
.rightAlign{text-align:right;}
 
/* Text Size Related */
.fntSize11{font-size:11px;}
.fntSizel2{font-size:12px;}
.normal{font-weight:normal !important}
.bold{font-weight:bold;}
.grnFnt{color:#0000FF !important;}
.rdFnt{color:#FF0000 !important;}

/* Width & Height Related Classes */
.width65{width:65px;}
.width70{width:70px;}
.width100{width:100px;}
.width115 {width:115px;}
.width120{width:120px;}
.width140{width:140px;}
.width150{width:150px;}
.width170 {width:170px;}
.width180{width:180px;}
.width212 {width:212px;}
.width220 {width:220px;}
.width230{width:230px;}
.width250 {width:250px;}
.width280{width:280px;}
.width300{ width:305px; border-bottom:1px solid #D7D7D7; padding-bottom:25px; display:inline !important}
.width325{width:325px;}
.width344{ width:344px;}
.width340{width:340px}
.width345{width:345px;}
.width370{width:370px;}
.width390{width:390px;}
.width425{width:425px;}
.width430{width:430px;}
.width443{width:443px;}
.width451{width:451px;}
.width504 {width:504px;}
.width513 {width:513px;}/*Added*/
.width514 {width:514px;}
.width518 {width:518px;}
.width530{width:530px}
.width570{width:570px}
.width626 {width:626px !important;}
.width690{width:690px;}
.width777{width:777px;}
.width793 {width:793px;}
.width800 {width:800px;}
.width806{ width:806px;}
.ie6width820px{ _width:820px;}
.width820{ width:820px;}
.width915 {width:915px;}
.width947{width:947px;}
.width953 {width:953px;}
.width967 {width:967px;}
.width968 {width:968px;}
.width650{ width:650px;}
.width605{width:605px !important;;}/* Added for yellow alert div */
.width380{width:380px;}/* Added */

.height1 {height:1px !important;}
.height75{height:75px;}
.height85{height:85px;}
.height150 {height:150px;}
.height190 {height:190px;}
.height210{height:210px !important;}
/* End width */

/* Percentage Width */
.width48p{width:48% !important}
.width80p{width:80%}
.width99p { width:99% !important}
.fullWidth {width:100% !important}

.txtGrey{color:#999;}
.hideOverflow{overflow:hidden; }
.overflow{overflow:auto;}
.inlineDisplay	{ display:inline}
.borderleft{border-left:1px solid #d7d7d7;}
.borderbottom{border-bottom:1px solid #d7d7d7;}/*added*/
.borderBottom0{border-bottom:0 !important;}
.borderTop {border-top:1px solid #ececec;}
.borderTop0 {border-top:0px solid #d7d7d7;}
.textBorder	{border:1px solid #ececec}
.error{border:1px #ec631b solid;background-color:#fdffcd;}
.errorMsg{color:red; display:block;}

/* end Global */

/* $__Header
---------------------------------------------------------------------------------------------------
All Classes related to Header comes here
---------------------------------------------------------------------------------------------------*/
.header{}
.loginTxt{padding:5px 25px; float:left;}
.headerNav{float:right; width:200px; height:40px; margin-right:0px;}
.headerNav  ul{float:left; height:50px; list-style:none; margin:0px; padding:0px;}
.headerNav ul li{position:relative; float:left; list-style:none; margin:0px; padding:0px;}
.headerNav ul li a{display: block; margin:0px; padding:9px 9px 6px 10px; float:left; color:#eb631b;  }
.headerNav ul li a:hover{ text-decoration:none}
.headerNav ul li a.message{background:url(../images/topBarIcon.gif) no-repeat 0px 0px; width:43px; height:36px;}
.headerNav ul li a.message:hover{background:url(../images/topBarIcon.gif) no-repeat 0px 0px; width:43px; height:36px; }
.headerNav ul li a.messageAlert{background:url(../images/topBarIcon.gif) no-repeat -0px 0px; width:43px; height:36px; }
.headerNav ul li a.messageAlert:hover{background:url(../images/topBarIcon.gif) no-repeat -0px 0px; width:43px; height:36px;}
.messageAlert span{display:block; padding:8px 0px 0px 32px !important; padding:8px 0px 0px 31px; font-size:10px; color:#fff;}
.headerNav  ul li a.alert{background:url(../images/topBarIcon.gif) no-repeat -141px 0px; width:29px; height:36px; padding:9px 9px 6px 8px;}
.headerNav  ul li a.alert:hover{background:url(../images/topBarIcon.gif) no-repeat -141px 0px; width:29px; height:36px; padding:9px 9px 6px 8px;}
.headerNav  ul li a.alertNum{background:url(../images/topBarIcon.gif) no-repeat -141px 0px; width:29px; height:36px; padding:9px 9px 6px 8px;}
.headerNav  ul li a.alertNum:hover{background:url(../images/topBarIcon.gif) no-repeat -141px 0px; width:29px; height:36px; padding:9px 9px 6px 8px;}
.alertNum span{display:block; padding:8px 0px 0px 10px; font-size:10px; color:#fff; text-align:center; }
.headerNav  ul li a.log{background:url(../images/topBarIcon.gif) no-repeat -247px 0px; width:65px; height:17px; font-weight:bold; padding:28px 0px 6px 20px;}
.headerNav  ul li a.log:hover{background:url(../images/topBarIcon.gif) no-repeat -247px 0px; width:65px; height:17px; font-weight:bold; padding:28px 0px 6px 20px;}
.headerInner{border:0px solid red}
.logo{margin:12px 0 0 35px !important; margin:0px 0 0 18px; float:left;}
.headerSubNav{color:#fff;  margin-top:47px !important; margin-top:37px; padding:0px; float:right;}
.headerSubNav  ul{float:left; width:345px; list-style:none; margin:0px; padding:0px;} /* modified */
.headerSubNav ul li{float:left; list-style:none; margin:0px; padding:10px 3px;}
.headerSubNav li a{margin:0px; padding:0px; float:left; color:#fff;}

/* Added for login page */
.headerSubNavLogin{color:#fff;  margin-top:47px !important; margin-top:37px; padding:0px; float:right;}
.headerSubNavLogin  ul{float:left; width:400px; list-style:none; margin:0px; padding:0px;} /* modified */
.headerSubNavLogin ul li{float:left; list-style:none; margin:0px; padding:10px 3px;}
.headerSubNavLogin li a{margin:0px; padding:0px; float:left; color:#fff;}

/* $__Footer
---------------------------------------------------------------------------------------------------
All Classes related to Footer comes here
---------------------------------------------------------------------------------------------------*/
.footer{clear: both;  width:95%; height:20px; bottom:0px; background:url(../images/footerBand.gif) repeat-x; margin:8px; padding:0px 12px 20px 12px; overflow:hidden; } /* modified */
.footer ul{list-style:none; margin:0px; padding:0px;}
.footer ul li{float:left; list-style:none; margin:0px; padding:13px 5px 0 5px; }
.footer ul li a{display: block; color:#333;}
.footer ul li.imgVerySign {padding-top:2px !important;float:left; list-style:none; margin:0px;}
.footer ul li.seperatorImage{background:url(../images/pix_footer.gif) repeat-y;margin:5px 5px 0px 10px !important;height:20px;}
/* $__Menu
---------------------------------------------------------------------------------------------------
All Classes related to Menu comes here
---------------------------------------------------------------------------------------------------*/

.menu{width:800px; height:36px; position:relative;}
.menu  .menuWrapper{ height:38px; list-style:none; margin:0px; padding:0px; margin-top:1px; _margin-top:-9px;}
.menu .menuWrapper li{/*position:relative;*/ float:left; list-style:none; margin:0px; padding:0px 0 0px 0 !important; _padding:10px 0 0px 0;}

.menu .menuWrapper li a{display:block; margin:0px; padding:0px 0px 0px 26px; color:#333; font-size:11px;  font-weight:bold; text-decoration: none; }
.menu .menuWrapper li a span{ display:block; padding:10px 22px 10px 0px}
.menu .menuWrapper li a:hover,.menu .menuWrapper li a.active, #home a#homeNav , #account  a#accountNav, #fund a#fundNav, #bill a#billNav,#26as a#26asNav, #tax a#taxNav, #trade a#tradeNav, #accountService a#accountServiceNav{background:url(../images/tabBg.gif) no-repeat left -38px;  font-weight:bold; text-decoration: none; }
.menu .menuWrapper li a:hover span, .menu .menuWrapper li a.active span, #home a#homeNav span, #account  a#accountNav span, #fund a#fundNav span, #bill a#billNav span,#26as a#26asNav span, #tax a#taxNav span, #trade a#tradeNav span, #accountService a#accountServiceNav span{background: url(../images/tabBg.gif) right -77px no-repeat ; }

/* SubMenu */
.menu .subMenuDiv{ position:absolute; z-index:500; left:-611px; top:49px;  width:975px;}
.menu .subMenuDiv .subMenu1, .menu .subMenuDiv .subMenuMiddle, .menu .subMenuDiv .subMenu4{ float:left !important; margin:0px 0px !important; }
.menu .subMenuDiv .noRbrd {border-right:0px solid #ccc !important;}
.menu .subMenuDiv .subMenu1{ width:260px;}
.menu .subMenuDiv .subMenu4{ width:240px;}
.menu .subMenuDiv .subMenu2, .menu .subMenuDiv .subMenu3 {float:left; width:230px;}

.menu li h2{font-size:12px; font-weight:bold; color:#333; margin-top:10px !important;}
.menu .subMenu1, .menu .subMenuMiddle, .menu .subMenu4{border-right:1px solid #dbd3c6 !important; }
.menu .subMenu1 ul, .menu .subMenuMiddle ul, .menu .subMenu4 ul{margin:0px; padding: 0px; }
.menu .subMenu1 li, .menu .subMenuMiddle .subMenu2 li, .menu .subMenuMiddle .subMenu3 li, .menu .subMenu4 li{float:none; list-style:none;  margin:10px 10px 10px 28px !important; margin:10px 10px 10px 33px; padding:0px !important; list-style-image:url(../images/arrow.gif);}

/* Sub Middle Menu */
.subMenu1, .subMenu2, .subMenu3, .subMenu4, .subMenuMiddle  { float:left}
.subMenuMiddle  { width:497px;}
.menu .subMenuMiddle{background:#faf5f1; height:329px !important;}
.menu .subMenuMiddle .middleMenuTtl {border-bottom:1px solid #dbd3c6; width:465px; margin:0px 15px !important;}
.menu .subMenuMiddle ul{list-style:none; margin:0px; padding:0px; }
.menu .subMenuMiddle li{list-style:none; margin:0px; padding: 9px 0px !important; padding:8px 0px; font-weight: bold;}

.menu .subMenu1 li a, .menu .subMenuMiddle .subMenu2 li a, .menu .subMenuMiddle .subMenu3 li a, .menu .subMenu4 li a{ display: inline !important; background:none !important; color:#eb631b; font-weight:normal;  text-decoration:none; margin:0px; padding:5px 0px 5px 0px !important; font-size:12px !important;}

.menu .subMenu1 li a:hover, .menu .subMenuMiddle .subMenu2 li a:hover, .menu  .subMenuMiddle .subMenu3 li a:hover, .menu .subMenu4 li a:hover{ background:none !important; text-decoration:underline; color:#775E3B; margin:0px; padding:10px 0px 10px 0px !important; font-weight:normal; }

.menu .subMenu1 .noImg, .menu .subMenuMiddle .subMenu2 .noImg, .menu .subMenuMiddle .subMenu3 .noImg, .menu .subMenu4 .noImg  { list-style-image:none !important; border-bottom:1px solid #dbd3c6 !important; margin:10px 10px 10px 15px !important; padding-bottom:8px !important; font-weight:bold;}

.menu .subMenuMiddle .subMenu2 .subNoImg, .menu .subMenuMiddle .subMenu3 .subNoImg  { list-style-image:none !important; margin:13px 10px 10px 15px !important;}
.menu .subMenuMiddle .subMenu2{border-right:1px solid #dbd3c6 !important; height:294px;}

/* menuWrapper*/
.menu .menuWrapper{ position:relative}
.menu .menuWrapper .subMenuDiv {display:none;}
.subMenuwrapper{position:absolute; z-index:502; width:990px; border:4px solid #a79370; background:#f4ede3; left:0px; top:48px;_top:58px;}
.subMenuwrapperSmall{position:absolute; z-index:502; width:180px; border:4px solid #a79370; background:#f4ede3; left:0px; top:48px;_top:58px;left:475px;}/*Added 08Sep11*/
.menuIframe{z-index:500; position:absolute;  width:975px !important; width:985px; height:305px !important; height:310px; left:0px; top:0px}

.saveMenu{position:absolute;width:220px;background-color:#dbd3c6;border:2px solid #775E3B;font:normal 10px Verdana;line-height:19px;z-index:99;}
.saveMenu a{text-decoration:none;color:black;padding-left:10px;padding-right:10px;}
#sixteenth{background-color:highlight;}
#sixteenth a{color:white;}


/* Corner setting CSS*/
.upArrow {position:absolute;}
.upArrowNew {position:absolute;}
.upArrowSmall {position:absolute;}

.menu .subMenuwrapper .tl, .menu .subMenuwrapper .tr, .menu .subMenuwrapper .bl,.menu .subMenuwrapper .br{width:9px; height:9px; -block; z-index:9999; position:absolute;}
.menu .subMenuwrapper .tl{left:-4px; top:-4px; background:url(../images/menuTopLeftCurve.gif) no-repeat left top; }
.menu .subMenuwrapper .tr{right:-4px !important; top:-4px; background:url(../images/menuTopRightCurve.gif) no-repeat left top; }
.menu .subMenuwrapper .bl{left:-4px; bottom:-4px; _bottom:-5px; background:url(../images/menuBottomLeftCurve.gif) no-repeat left bottom;}
.menu .subMenuwrapper .br{right:-4px ; bottom:-4px; _bottom:-5px; background:url(../images/menuBottomRightCurve.gif) no-repeat right bottom;}
.menu .subMenuwrapper .upArrow{right:360px; top:-17px; width:100px; text-align:center;}
.menu .subMenuwrapper .upArrowNew {right:467px; top:-17px; width:100px; text-align:center;} /* modified */

.menu .subMenuwrapperSmall .tl, .menu .subMenuwrapperSmall .tr, .menu .subMenuwrapperSmall .bl,.menu .subMenuwrapperSmall .br{width:9px; height:9px; -block; z-index:9999; position:absolute;}/*Added 08Sep11*/
.menu .subMenuwrapperSmall .tl{left:-4px; top:-4px; background:url(../images/menuTopLeftCurve.gif) no-repeat left top; }/*Added 08Sep11*/
.menu .subMenuwrapperSmall .tr{right:-4px !important; top:-4px; background:url(../images/menuTopRightCurve.gif) no-repeat left top; }/*Added 08Sep11*/
.menu .subMenuwrapperSmall .bl{left:-4px; bottom:-4px; _bottom:-5px; background:url(../images/menuBottomLeftCurve.gif) no-repeat left bottom;}/*Added 08Sep11*/
.menu .subMenuwrapperSmall .br{right:-4px ; bottom:-4px; _bottom:-5px; background:url(../images/menuBottomRightCurve.gif) no-repeat right bottom;}/*Added 08Sep11*/
.menu .subMenuwrapperSmall .upArrowSmall {top:-17px; width:180px; text-align:center;}/*Added 08Sep11*/
/*main menu end here */

/* Breadcrum */
.breadcrumb{margin-bottom:12px; background:url(../images/breadcrumbBg.gif) repeat-x; height:32px; line-height:32px; }
.breadcrumbLbg{ background:url(../images/breadcrumbLBg.gif) left top no-repeat; overflow:hidden }
.breadcrumbRbg{ background:url(../images/breadcrumbRBg.gif) right top no-repeat; }
.breadcrumb ul{margin:0px 5px; padding:0px;}
.breadcrumb ul li{list-style:none; margin:0px; padding:5px 2px 5px 2px; float:left;}
.breadcrumb ul li a{display:block;}
.breadcrumb a.breadcrumbLink{color: #f46717;text-decoration: none;}

/* Left Navigation Starts */
.leftNavPanel {float:left; width:140px; background:url(../images/panelBg.gif) left top repeat-x; display:inline; overflow:hidden;}
.leftNavPanel ul{list-style:none; margin:0px; margin-bottom:20px; padding:10px 0 0 0px;}
.leftNavPanel ul li{list-style:none; margin:0px; padding:5px 10px 5px 15px;clear:both}
.leftNavPanel ul li a.active{font-weight:bold; color:#775e3b; cursor:default;}
.leftNavPanel ul li a.active:hover{font-weight:bold; color:#775e3b; text-decoration:none; cursor:default;}
.leftNavPanel ul li span{ height:9px;width:9px;float:left;margin:3px 5px 0 0;cursor:hand;cursor:pointer}
.leftNavPanel ul li span.expand{ background:url(../images/UpArw.gif) left top no-repeat;height:13px;width:12px;float:right;margin:3px 5px 3px 0;cursor:hand;cursor:pointer}
.leftNavPanel ul li span.collapse{ background:url(../images/RightArrow.gif) left top no-repeat;height:13px;width:12px;float:right;margin:3px 5px 3px 0;cursor:hand;cursor:pointer}
.leftNavPanel ul.subList li{list-style:none; padding:0px 5px 0px 2px; margin:0px;}
.leftNavPanel ul.subList li a{ color: #EB631B; text-decoration: none;}
.leftNavPanel ul.subList li a.active{font-weight:bold; color:#775e3b; cursor:default;}
.leftNavPanel ul.subList li a.active:hover{font-weight:bold; color:#775e3b; text-decoration:none; cursor:default;}
.heading{font-weight:bold;color:#775e3b;padding-bottom:5px;margin-top:10px;float:left;margin-left:10px}
#tradeLeftPannel{}
#tradeLeftPannel li	{list-style:none; margin:0px; padding:4px 10px 4px 10px;}
#tradeLeftPannel li a.collapse, #tradeLeftPannel li a.expand{ background:url(../images/RightArrow.gif) right 1px no-repeat;}
#tradeLeftPannel li a.activelink{ font-weight:bold; color:#775e3b;}
#tradeLeftPannel li a.expand{ background:url(../images/UpArw.gif) right 1px no-repeat; font-weight:bold;}
#tradeLeftPannel li ul {list-style:none; margin:0px !important;}
/* left nav end */

/* Right Navigation */
.rightNavPanel{float:left; width:192px; margin-left:8px;}
.accSerNavPanel{width:224px; margin-right:8px; float:left;}
.accSerBigNavPnl{width:350px; float:left;}
.rightPanel{background:url(../images/panelBg.gif) left top repeat-x;}
.rightNavPanel h2, .accSerNavPanel h2, .accSerBigNavPnl h2{color:#735b41; margin:0px; padding:0px; font-size:16px;} 
 
.quickLinks ul{list-style:none; margin:0px; padding:0px;}
.quickLinks ul li{list-style:none; list-style-image:url(../images/arrow.gif); margin:0px; margin:10px 0 10px 25px; padding:0px; }
.quickLinks ul li a:hover { color:#775E3B; text-decoration:underline;}

/* Added for view demo Link */
.viewDemo a{background-image:url(../images/viewDemo.gif); width:130px;height:42px;float:left;margin-bottom:10px}
.viewDemo a:hover{background-image:url(../images/viewDemo1.gif); width:130px;height:42px;float:left;margin-bottom:10px;text-decoration:none}

/* Added for Baroda Connect Image */
.retBankImg a{background-image:url(../images/retailBanking2.jpg); width:130px;height:60px;float:left;margin-bottom:10px;right no-repeat;}/*Added*/


/*Home Nav*/
.dashboardNav {margin:0px; height:100% !important;} /* modified */
.dashboardNav ul{list-style-type:none; padding:0px; margin:8px 0px 0px 0px; float:left; width:100%; }
.dashboardNav li{margin:0px 0px 10px 0px; padding:0px; border:1px solid #d7d7d7; width:195px; float:left;}
.dashboardNav li a span{float:left;}
.dashboardNav li a{display:block; background:#eee url(../images/homeNavBg.gif) left top repeat-x !important;  margin:0px; padding:6px 0px 7px 10px !important; text-decoration:none; height:37px; font-weight:bold; font-family:Arial; color:#333;}
.dashboardNav li a:hover{background:#eeeeee url(../images/homeNavBgOver.gif) left top repeat-x !important; text-decoration:none;}
.dashboardNav li a span.summary, .dashboardNav li a span.transfer, .dashboardNav li a span.bill,.dashboardNav li a span.service, .dashboardNav li a span.tax, .dashboardNav li a span.password, .dashboardNav li a span.demo, .dashboardNav li a span.trade,.dashboardNav li a span.checkbook,.dashboardNav li a span.donation,.dashboardNav li a span.presentment,.dashboardNav li a span.direct,.dashboardNav li a span.adhoc,.dashboardNav li a span.edu{width:37px; height:37px; margin-right:10px; font-size:0px;}
.dashboardNav li a span.dblLineTxt{ padding:4px 0px 0px 0px; cursor:pointer; width:125px;}
.dashboardNav li a span.singlTxt{padding:10px 0px 0px 0px; cursor:pointer; width:125px;}

/* Added for Fund transfer landing page */
.dashboardNav li.fullText{margin:0px 0px 10px 0px; padding:0px; border:1px solid #d7d7d7; width:100%;}
.dashboardNav li.halfText{margin:0px 5px 10px 5px; _margin:0px 5px 10px 2px /* for ie6 */; padding:0px; border:1px solid #d7d7d7;  float:left; width:48%; font-weight:normal !important} 
.dashboardNav li.halfText a:hover{background:url(../images/homeNavBgOver.gif) left top repeat-x !important; text-decoration:none;font-weight:normal;height:51px}
.dashboardNav li.halfText a span{float:left;}
.dashboardNav li.halfText a{display:block; background:url(../images/homeNavBgOver.gif) left top repeat-x !important;  margin:0px;  text-decoration:none; height:51px; font-weight:bold; font-family:Arial; color:#333;}
/* Added for Fund transfer landing page end */

/* below class for Double line text */
.dashboardNav li a.doubleBlk {background:#eee url(../images/homeNavBg.gif) left top repeat-x;  margin:0px; padding:17px 10px 0px 10px; text-decoration:none; height:37px;}
.dashboardNav li a.doubleBlk:hover{background:#eeeeee url(../images/homeNavBgOver.gif) left top repeat-x; text-decoration:none;}
.dashboardNav li a.doubleBlk   {margin:0px 0px 0px 0px; padding:18px 0px 0px 10px; font-weight:normal; font-family:Arial; color:#333; vertical-align:middle; height:37px;}
.dashboardNav li a.doubleBlk span{float:left; font-size:12px; border:0px solid red;}
.dashboardNav li a.doubleBlk span.iconTxt{font-size:12px; padding:4px 0px 0px 0px; cursor:pointer;}
/* End Double line text */

.dashboardNav li a span.summary{background:#eeeeee url(../images/homeIcon.gif) left -0px no-repeat;cursor:pointer;}
.dashboardNav li a:hover span.summary{background:#eeeeee url(../images/homeIcon.gif) left -0px no-repeat;}

.dashboardNav li a span.transfer{background:#eeeeee url(../images/homeIcon.gif) left -38px no-repeat;}
.dashboardNav li a:hover span.transfer{background:#eeeeee url(../images/homeIcon.gif) left -38px no-repeat;}

.dashboardNav li a span.bill{background:#eeeeee url(../images/homeIcon.gif) left -76px no-repeat;}
.dashboardNav li a:hover span.bill{background:#eeeeee url(../images/homeIcon.gif) left -76px no-repeat;}

.dashboardNav li a span.26as{background:#eeeeee url(../images/homeIcon.gif) left -76px no-repeat;}
.dashboardNav li a:hover span.26as{background:#eeeeee url(../images/homeIcon.gif) left -76px no-repeat;}

.dashboardNav li a span.tax{background:#eeeeee url(../images/homeIcon.gif) left -418px no-repeat;}
.dashboardNav li a:hover span.tax{background:#eeeeee url(../images/homeIcon.gif) left -418px no-repeat;}

.dashboardNav li a span.password{background:#eeeeee url(../images/homeIcon.gif) left -152px no-repeat;}
.dashboardNav li a:hover span.password{background:#eeeeee url(../images/homeIcon.gif) left -152px no-repeat;}

.dashboardNav li a span.demo{background:#eeeeee url(../images/homeIcon.gif) left -190px no-repeat;}
.dashboardNav li a:hover span.demo{background:#eeeeee url(../images/homeIcon.gif) left -190px no-repeat;}

.dashboardNav li a span.trade{background:#eeeeee url(../images/homeIcon.gif) left -228px no-repeat;}
.dashboardNav li a:hover span.trade{background:#eeeeee url(../images/homeIcon.gif) left -228px no-repeat;}

.viewDemo li a span.demo{background:#eeeeee url(../images/homeIcon.gif) left -190px no-repeat;} /* Added for view demo Link*/
.viewDemo li a:hover span.demo{background:#eeeeee url(../images/homeIcon.gif) -40px -190px no-repeat;} /* Added for view demo Link */
.dashboardNav li a span.service{background:#eeeeee url(../images/homeIcon.gif) left -343px no-repeat;}
.dashboardNav li a:hover span.service{background:#eeeeee url(../images/homeIcon.gif) left -343px no-repeat;}

.dashboardNav li a span.checkbook{background:#eeeeee url(../images/homeIcon.gif) left -266px no-repeat;}
.dashboardNav li a:hover span.checkbook{background:#eeeeee url(../images/homeIcon.gif) left -266px no-repeat;}

.dashboardNav li a span.donation{background:#eeeeee url(../images/homeIcon.gif) left -456px no-repeat;}
.dashboardNav li a:hover span.donation{background:#eeeeee url(../images/homeIcon.gif) left -456px no-repeat;}

.dashboardNav li a span.presentment{background:#eeeeee url(../images/homeIcon.gif) left -304px no-repeat;}
.dashboardNav li a:hover span.presentment{background:#eeeeee url(../images/homeIcon.gif) left -304px no-repeat;}

.dashboardNav li a span.direct{background:#eeeeee url(../images/homeIcon.gif) left -342px no-repeat;}
.dashboardNav li a:hover span.direct{background:#eeeeee url(../images/homeIcon.gif) left -342px no-repeat;}

.dashboardNav li a span.adhoc{background:#eeeeee url(../images/homeIcon.gif) left -380px no-repeat;}
.dashboardNav li a:hover span.adhoc{background:#eeeeee url(../images/homeIcon.gif) left -380px no-repeat;}

.dashboardNav li a span.edu{background:#eeeeee url(../images/homeIcon.gif) left -495px no-repeat;}
.dashboardNav li a:hover span.edu{background:#eeeeee url(../images/homeIcon.gif) left -495px no-repeat;}

/* $__Content
---------------------------------------------------------------------------------------------------
All Classes related to Content comes here
---------------------------------------------------------------------------------------------------*/
.mainPanel {float:left; width:826px;  background:url(../images/panelBg.gif) left top repeat-x; display:inline; margin-left:8px;}
.leftCrn {background:url(../images/panelLcrn.gif) left top no-repeat;}
.rightCrn {background:url(../images/panelRcrn.gif) right top no-repeat;}

.mainPanel h1, h2, h3, .middlePanel h1, h2, h3, .fundTransPanel h1, h2, h3, .fullWidthPanel h1,h2, h3 {color:#735b41; margin:0px; padding:0px;}
.mainPanel h1, .middlePanel h1, .fullWidthPanel h1, .fundTransPanel h1{font-size:16px;} 
.mainPanel h2, .middlePanel h2, .fullWidthPanel h2, .fundTransPanel h2{font-size:14px;} 
.mainPanel h3, .middlePanel h3, .fullWidthPanel h3, .fundTransPanel h3{font-size:13px;} 
.mainPanel h4, .middlePanel h4, .fullWidthPanel h4, .fundTransPanel h4{font-size:12px;}

.mainPanel table{border:1px solid #ECECEC; border-collapse:collapse; font-size:11px;}
.mainPanel table th{background:url(../images/tableHeadBG.gif) repeat-x; border:1px solid #ECECEC; padding:5px 6px 5px 6px; vertical-align:bottom;}
.mainPanel table tr{}
.mainPanel table tr.gry{background:#f8f8f8;}
.mainPanel table td{border:1px solid #ECECEC !important; padding:5px 6px;}
.mainPanel table.noBorder {border:0px solid #ECECEC !important; border-collapse:collapse; font-size:12px !important;}
.mainPanel table.noBorder td{border:0px solid #ECECEC !important; padding:10px 10px 7px 10px;}


.mainTitle{border-bottom:1px solid #ececec; padding:7px 10px 7px 16px;}
.mainPanelInner{margin:10px 8px;}
.mainPanelInner table{border:1px solid #ECECEC; border-collapse:collapse; font-size:11px;}
.mainPanelInner table th{background:url(../images/tableHeadBG.gif) repeat-x; border:1px solid #ECECEC; padding:5px 6px 5px 6px; vertical-align:bottom;}
.mainPanelInner table tr{}
.mainPanelInner table tr.gry{background:#f8f8f8;}
.mainPanelInner table td{border:1px solid #ECECEC !important; padding:5px 6px;}
.mainPanelInner table.noBorder {border:0px solid #ECECEC !important; border-collapse:collapse; font-size:12px !important;}
.mainPanelInner table.noBorder td{border:0px solid #ECECEC !important; padding:10px 10px 7px 10px;}

.viewStatement table{border:1px solid #ECECEC; border-collapse:collapse; font-size:11px;}
.viewStatement table th{background:url(../images/tableHeadBG.gif) repeat-x; border:1px solid #ECECEC; padding:5px 6px 5px 6px; vertical-align:bottom;}
.viewStatement table tr{}
.viewStatement table tr.gry{background:#f8f8f8;}
.viewStatement table td{border:1px solid #ECECEC !important; padding:5px 6px;}
.viewStatement table.noBorder {border:0px solid #ECECEC !important; border-collapse:collapse; font-size:12px !important;}
.viewStatement table.noBorder td{border:0px solid #ECECEC !important; padding:10px 10px 7px 10px;}

.actionIcon{float:right; padding:0px 0px; border:0px solid red;}
.actionIcon ul{float:left;  list-style:none; margin:0px; padding:0px; }
.actionIcon ul li{float:left; list-style:none; margin:0px; padding:0px; padding:0px 5px;}
.actionIcon ul li.first{ padding:2px 5px 0px 0px;}
.actionIcon ul li.last{ padding:2px 0px 0px 0px;}
.actionIcon ul li a{ padding:0px 6px; border:0px solid red;}
.actionIcon ul li a.printIcon{ background:url(../images/printSaveHelpIconNew.gif) 0px 0px no-repeat; border:0px solid red;}
.actionIcon ul li a.printIcon:hover{background:url(../images/printSaveHelpIconNew.gif) 0px 0px no-repeat; }
.actionIcon ul li a.saveIcon{  background:url(../images/printSaveHelpIconNew.gif) -20px 0px no-repeat; border:0px solid red;}
.actionIcon ul li a.saveIcon:hover{background:url(../images/printSaveHelpIconNew.gif) -20px 0px no-repeat; }
.actionIcon ul li a.helpIcon{ background:url(../images/printSaveHelpIconNew.gif) -38px 0px no-repeat; border:0px solid red;}
.actionIcon ul li a.helpIcon:hover{background:url(../images/printSaveHelpIconNew.gif) -38px 0px no-repeat;}
a.helpIconTooltip{ background:url(../images/printSaveHelpIconNew.gif) -38px 0px no-repeat; border:0px solid red;padding:0px 6px;}
a.helpIconTooltip:hover{background:url(../images/printSaveHelpIconNew.gif) -38px 0px no-repeat;padding:0px 6px;}
a.helpIconLinks{ background:url(../images/printSaveHelpIconNew.gif) -38px 0px no-repeat; border:0px solid red;height:20px;width:20px;float:left;margin-top:2px;margin-left:7px;}
.noBg{clear:both; margin:0 0 0 8px;}
.gryBlk1{padding:10px 10px; background:#f5f5f5; border:1px solid #d7d7d7;font-size:12px;}
.gryBlk2, .gryBlk3 {display:block; background:#f5f5f5; border:1px solid #d7d7d7;}
.gryBlk3 {border-right:1px solid #d7d7d7; padding:10px 11px;font-size:12px;}
/* For Common Buttons */
.btn, .loginBtn{float:left;}
.btn a{display:block; background:url(../images/button.gif) right -24px no-repeat; padding:5px 12px 5px 0px; color:#000; font-weight:bold;}
.btn a:hover{background:url(../images/button.gif) right -72px no-repeat; font-weight:bold; text-decoration:none;}
.btn a span{background:url(../images/button.gif) left 0px no-repeat; padding:5px 0px 4px 12px; color:#000;}
.btndis {display:block; float:left;background:url(../images/button.gif) right -24px no-repeat; padding:5px 12px 5px 0px; color:#000; font-weight:bold;}
.btndis span{background:url(../images/button.gif) left 0px no-repeat; padding:5px 0px 4px 12px; color:#AAA;}
.btn a:hover span{background:url(../images/button.gif) left -48px no-repeat; font-weight:bold; text-decoration:none;}

/* Login Button Start Here */
.loginBtn a{display:block; background:url(../images/loginSprite.gif) right -32px no-repeat; padding:9px 20px 7px 0px; color:#000; font-weight:bold; font-size:15px;}
.loginBtn a:hover{background:url(../images/loginSprite.gif) right -98px no-repeat; font-weight:bold; font-size:15px; text-decoration:none;}
.loginBtn a span{background:url(../images/loginSprite.gif) left 0px no-repeat; padding:8px 0px 7px 20px; color:#000;}
.loginBtn a:hover span{background:url(../images/loginSprite.gif) left -66px no-repeat; font-weight:bold; text-decoration:none;}
/* Login Button End */

/* Expand & Collaps button */
.expandBtn span, .collapsBtn span{float:left;  background:url(../images/plusMinusBtn.gif) left top no-repeat; margin-right:7px; width:15px; text-decoration:none; cursor:pointer; display:block; height:16px;}
.collapsBtn span{ background:url(../images/plusMinusBtn.gif) -18px top no-repeat;}
.expand span, .collaps span{float:left; background:url(../images/arrowDownRight.gif) left top no-repeat; margin-right:7px; padding:5px 0px; width:14px; text-decoration:none; cursor:pointer;}
.collaps span{background:url(../images/arrowDownRight.gif) -17px top no-repeat; }
a.expand, a.expand:hover , a.collaps, a.collaps:hover {color:#735b41; text-decoration:none;}

.legend{margin:10px 0 0 0 ; padding:10px 0 0 0px; border-top:1px solid #ccc;}
.legend ul{list-style:none; margin:0px; padding:0px;}
.legend ul li{list-style:none; margin:0px; padding:0px;}

.middlePanel { float:left; width:628px; margin-left:8px; background:url(../images/panelBg.gif) left top repeat-x;}
.headerBlk {border:1px solid #d7d7d7;font-size:12px;}
.headerBlk .header{display:block; background:url(../images/tableHeaderBG.gif) left top repeat-x; border-bottom:1px solid #d7d7d7; padding:9px 7px;}
.headerBlk .titlehead {color:#735b41; margin:0px; padding-left:5px; font-size:12px;}
.headerBlk .blocknew{display:block; background:url(../images/tableHeaderBG.gif) left top repeat-x; padding:9px 7px;}
.newDetails {display:block; width:947px; background:url(../images/tableHeaderBG.gif) left top repeat-x; border:1px solid #d7d7d7; padding:9px 10px 9px 10px; color:#735b41; margin:0px; font-size:12px;}
.newCHKSDetails {display:block; width:777px; background:url(../images/tableHeaderBG.gif) left top repeat-x; border:1px solid #d7d7d7; padding:9px 10px 9px 10px; color:#735b41; margin:0px; font-size:12px;}
.newDetails .titlehead {color:#735b41; margin:0px; padding-left:5px; font-size:12px;}
.brdLftRht {border-left:1px solid #d7d7d7; border-right:1px solid #d7d7d7; border-bottom:1px solid #d7d7d7; width:967px;}
.brdLftRhttxndet {border-left:1px solid #d7d7d7; border-right:1px solid #d7d7d7; border-bottom:1px solid #d7d7d7; border-top:1px solid #d7d7d7; width:777px;}
.brdLftRhtCHKs {border-left:1px solid #d7d7d7; border-right:1px solid #d7d7d7; border-bottom:1px solid #d7d7d7; }
/* Form Fields */
.row{clear:both; padding-top:5px;}
.row p{padding:0px;margin:0;}
.row span.add{width:130px; display:block; padding-left:10px; _padding-left:15px; float:left; padding-top:2px}
.row span.label{float:left; width:125px; text-align:right; font-weight:bold; margin:3px 0 0 0;}
.row span.labelWide{float:left; width:150px; text-align:right; font-weight:bold; margin:3px 0 0 0;}

.fullWidthPanel{width:100%; background:url(../images/panelBg.gif) left top repeat-x;} 
.fullWidthPanel div.detailsSection{display:block; background:transparent url(../images/homeNavBg.gif) left top repeat-x !important; margin:0px !important; padding:18px 10px 18px 10px; font-weight:bold; font-family:Arial; color:#333; text-decoration:none;border:1px solid #d7d7d7;}

.detailBlk {border:1px solid #d7d7d7;} 
.detailBlk .header{display:block; background:url(../images/tableHeaderBG.gif) left top repeat-x; border-bottom:1px solid #d7d7d7; padding:9px 7px;}
.detailBlk .titlehead {color:#735b41; margin:0px; padding-left:5px; font-size:12px;}
.detailBlk .detailBlkview  p{padding:0px; margin:0; width:100%;}
.rhtbrd190 {border-right:1px solid #efeeee; height:190px;}
.rhtbrd160 {border-right:1px solid #efeeee; height:160px;}

.accSerBtmLftCrv {background:url(../images/AcSerBtmLft_crv.gif) left top no-repeat; width:6px; height:6px; float:left;}
.accSerBtmRhtCrv {background:url(../images/AcSerBtmRht_crv.gif) right top no-repeat; width:6px; height:6px; float:left;}
.accSerBtmMid {background:url(../images/AcSerBtmMdl_crv.gif) left top repeat-x; height:6px; float:left;}
.leftrhtBrd {border-left:2px solid #efeeee; border-right:2px solid #efeeee;}
.subTitle{padding:10px 10px 0px 10px;}
.plainTitle {color:#735b41; margin:0px; padding:0px; font-size:16px; font-weight:bold;}
.congratulationDiv{border:1px #e2e2e2 solid;background-color:#dbf3c7;padding:5px 5px 5px 5px;width:99%;#margin:0px 0px 0 0 !important;margin:0px 0px 10px 0;font-family:Arial, Helvetica, sans-serif; font-size:12px;font-weight:bold;color:#333}
.congratulationDiv span{background-image:url(../images/tickmark.gif);background-position:left;background-repeat:no-repeat;width:25px;height:23px;float:left}

/* Wizard Tabs start */
.wizardTab  {clear:both; font-size:12px; margin-left: 2px; padding: 5px 0px 10px 0px; font-family:Arial, Helvetica, sans-serif;}
.wizardTab ul {float:left; list-style:none; padding: 0px; margin: 0px;width:947px;}
.wizardTab ul li {float:left; list-style:none; margin: 0px;	width:191px; padding:0px;}
.wizardTab ul li div	{text-decoration:none; margin: 0px;	padding: 5px 0px 6px 0px; font-weight:bold;	background:url(../images/wizard/stepGrayArrowUnsel.gif) right top no-repeat; height:31px;}
.wizardTab p.stepnum{ font-size:24px; color:#999999; padding:0 10px 0 0; float:left; margin:0px;}
.wizardTab p.stepDef{ font-size:13px; color:#999999; float:left; padding:8px 0 0 0; margin:0px;}
.wizardTab p.Selstepnum{ font-size:24px; color:#333333; padding:0 8px 0 0; float:left; margin:0px;}
.wizardTab p.SelstepDef{ font-size:12px; color:#333333; float:left; padding:7px 0 0 0; margin:0px;}
.wizardTab ul li.unselLstTab {float:left; list-style:none; margin: 0px; background:url(../images/wizard/rightGrayStep.gif) right top no-repeat; padding: 0px 0px 0px 0px; border:0px solid red; height:42px; width:240px;}
.wizardTab ul li.unselLstTab div	{color:#999999; text-decoration:none; margin: 0px; font-weight:bold;	padding:5px 0px 8px 10px; background:url(../images/wizard/stepGrayLine.gif) left top repeat-x; width:224px;	border:0px solid red;}

.wizardTab ul li.unselLstTab2 {float:left; list-style:none; margin: 0px; background:url(../images/wizard/stepGrayArrow.gif) right top no-repeat; padding: 0px 23px 0px 0px; border:0px solid red; height:42px; width:240px;}
.wizardTab ul li.unselLstTab2 div{color:#999999; text-decoration:none; margin: 0px; font-weight:bold; padding:5px 0px 8px 10px; background:url(../images/wizard/stepGrayBG.gif) left top repeat-x; width:224px;}

.wizardTab ul li.selFstTab {float:left; list-style:none; margin: 0px; background:url(../images/wizard/stepOrangeBG.gif) left top no-repeat; width:265px; padding:0px;}
.wizardTab ul li.selFstTab div {color:#999999; text-decoration:none; background:url(../images/wizard/stepOrangeArrow.gif) right top no-repeat; margin: 0px;	width:auto; border:0px solid red; height:42px; padding:5px 0px 0px 15px; width:252px; }

.wizardTab ul li.DoneFstTab {float:left; list-style:none; margin: 0px; background:url(../images/wizard/stepGreenBG.gif) left top no-repeat; width:237px; padding:0px;}
.wizardTab ul li.DoneFstTab div	{color:#999999; text-decoration:none; background:url(../images/wizard/leftGrayStep.gif) left top no-repeat;	margin: 0px; height:42px; padding:5px 0px 0px 15px;}

.wizardTab ul li.DoneSecTab {float:left; list-style:none; margin: 0px; background:url(../images/wizard/stepGreenBG.gif) right top no-repeat; width:266px; padding:0px;}
.wizardTab ul li.DoneSecTab div	{color:#999999; text-decoration:none; background:url(../images/wizard/stepGrayArrow.gif) left top no-repeat; margin: 0px; height:42px; padding:5px 0px 0px 40px;  width:227px;}

.wizardTab ul li.selTab {float:left; list-style:none; margin: 0px; background:url(../images/wizard/rightOrangeStep.gif) right top no-repeat; vertical-align:middle; border:0px solid red; padding:0px; width:242px;}
.wizardTab ul li.selTab div  {color:#333333; text-decoration:none;  margin: 0px;	padding: 5px 0px 6px 40px; height:31px; background:url(../images/wizard/stepOrangeArrowBG.gif) right top no-repeat; width:197px; border:0px solid red;}

/* Added 2 new classes for ASBA 2nd step */
.wizardTab ul li.selTabASBA {float:left; list-style:none; margin: 0px; background:url(../images/wizard/rightOrangeStep.gif) right top no-repeat; vertical-align:middle; border:0px solid red; padding:0px; width:270px;} 
.wizardTab ul li.selTabASBA div  {color:#333333; text-decoration:none;  margin: 0px;	padding: 5px 0px 6px 40px; height:31px; background:url(../images/wizard/stepOrangeArrowBG_long.gif) right top no-repeat; width:227px; border:0px solid red;}


.wizardTab ul li.selSecTab {float:left; list-style:none; margin: 0px; background:url(../images/wizard/stepOrangeArrow.gif) right top no-repeat; vertical-align:middle; border:0px solid red; padding:0px; width:267px;}
.wizardTab ul li.selSecTab div  {color:#333333; text-decoration:none;  margin: 0px;	padding: 5px 0px 6px 40px; height:31px; background:url(../images/wizard/stepOrangeArrowBG.gif) left top no-repeat; width:227px;}

/* Tabs for 2fa  */
.wizardTab ul li.unselLstTab2fa {float:left; list-style:none; margin: 0px; background:url(../images/wizard/rightGrayStep.gif) right top no-repeat; padding: 0px 0px 0px 0px; border:0px solid red; height:42px; width:210px;}
.wizardTab ul li.unselLstTab2fa div	{color:#999999; text-decoration:none; margin: 0px; font-weight:bold;	padding:5px 0px 8px 10px; background:url(../images/wizard/stepGrayLine.gif) left top repeat-x; width:194px;	border:0px solid red;}

.wizardTab ul li.unselLstTab2fa2 {float:left; list-style:none; margin: 0px; background:url(../images/wizard/stepGrayArrow.gif) right top no-repeat; padding: 0px 20px 0px 0px; border:0px solid red; height:42px; width:219px;}
.wizardTab ul li.unselLstTab2fa2 div{color:#999999; text-decoration:none; margin: 0px; font-weight:bold; padding:5px 0px 8px 5px; background:url(../images/2fawizard/stepGrayBG.gif) left top repeat-x; width:210px;}

.wizardTab ul li.selFstTab2fa {float:left; list-style:none; margin: 0px; background:url(../images/2fawizard/stepOrangeBG.gif) left top no-repeat; width:245px; padding:0px;}
.wizardTab ul li.selFstTab2fa div {color:#999999; text-decoration:none; background:url(../images/wizard/stepOrangeArrow.gif) right top no-repeat; margin: 0px;	width:auto; border:0px solid red; height:42px; padding:5px 0px 0px 10px; width:236px; }

.wizardTab ul li.DoneFstTab2fa {float:left; list-style:none; margin: 0px; background:url(../images/2fawizard/stepGreenBG.gif) left top no-repeat; width:217px; padding:0px;}
.wizardTab ul li.DoneFstTab2fa div	{color:#999999; text-decoration:none; background:url(../images/wizard/leftGrayStep.gif) left top no-repeat;	margin: 0px; height:42px; padding:5px 0px 0px 10px;}

.wizardTab ul li.DoneSecTab2fa {float:left; list-style:none; margin: 0px; background:url(../images/2fawizard/stepGreenBG.gif) right top no-repeat; width:237px; padding:0px;}
.wizardTab ul li.DoneSecTab2fa div	{color:#999999; text-decoration:none; background:url(../images/wizard/stepGrayArrow.gif) left top no-repeat; margin: 0px; height:42px; padding:5px 0px 0px 40px;  width:237px;}

.wizardTab ul li.selTab2fa {float:left; list-style:none; margin: 0px; background:url(../images/wizard/rightOrangeStep.gif) right top no-repeat; vertical-align:middle; border:0px solid red; padding:0px; width:242px;}
.wizardTab ul li.selTab2fa div  {color:#333333; text-decoration:none;  margin: 0px;	padding: 5px 0px 6px 40px; height:31px; background:url(../images/wizard/stepOrangeArrowBG.gif) right top no-repeat; width:197px; border:0px solid red;}

.wizardTab ul li.selSecTab2fa {float:left; list-style:none; margin: 0px; background:url(../images/wizard/stepOrangeArrow.gif) right top no-repeat; vertical-align:middle; border:0px solid red; padding:0px; width:267px;}
.wizardTab ul li.selSecTab2fa div  {color:#333333; text-decoration:none;  margin: 0px;	padding: 5px 0px 6px 32px; height:31px; background:url(../images/wizard/stepOrangeArrowBG.gif) left top no-repeat; width:227px;}

/* tabs for 2fa ends */

/* End Tabs */

.paymentMsg {background:url(../images/BlueGredient.gif) left bottom repeat-x; padding:8px 10px; width:947px;}
.textMsg {background:url(../images/totalBalanceBG.gif) left top repeat-x; padding:7px 7px;} /* modified */
.congrtsMsg {background:url(../images/greenGredient.gif) left top repeat-x; padding:4px 7px 0px 7px; float:left; border:1px solid #ECECEC;}
.congrtsMsg span.congImg {float:left; background:url(../images/tickmark.gif) left top no-repeat; margin-right:5px; width:25px; height:23px; padding:0px 0px 3px 0px;}
.congrtsMsg span.msgTxt {float:left; margin:3px 0px 0px 0px;}
.brdMsg {border:1px solid #ECECEC; float:left;}

.errorMessage {background:url(../images/RedGredient.gif) left top repeat-x; padding:5px 1px 0px 2px; float:left; border:0px solid #ECECEC;}

.errorMessage span.errImg {float:left; background:url(../images/errorAlertIcon.gif) left top no-repeat; margin-right:5px; width:22px; height:20px; padding:0px 0px 6px 0px;}

.errorMessage span.errMsgTxt {float:left; margin:0px 0px 0px 0px;}



.fundTransPanel {width:784px; float:left; background:url(../images/panelBg.gif) left top repeat-x;} 
.restoreSuccessfullySection{background-color:#C0FDFE;padding:5px 5px 5px 5px;width:99%;#margin:0px 0px 0 0 !important;margin:0px 0px 10px 0;font-family:Arial, Helvetica, sans-serif;font-size:12px;font-weight:bold;color:#333}/* restore Successfully Section of Trade pages */
.activeStepLink{background-image:url(../images/step_over.gif);height:36px;width:36px;background-repeat:no-repeat} /* for step which is active */
.inActiveStepLink{background-image:url(../images/step_normal.gif);height:36px;width:36px;background-repeat:no-repeat}/* for step which is inactive */
.stepSeperator{border-bottom:1px #735b41 solid;width:20px}
.calenderIcon img{margin:-8px 0 -5px 5px; cursor:pointer;}

/* Browse button css */
div.fileinputs {position: relative;width:80px}
div.fakefile {position: absolute;top: 0px;left: 0px;z-index: 1;}

/*input.file {position: relative;text-align: right;-moz-opacity:0 ;filter:alpha(opacity: 0);opacity: 0;z-index: 2;left:-20px;}*/
.restore{position: absolute;top: 0px;left: 100px;text-align: right;z-index: 2;}

/* Classes for trade dashboard */
.middlePanelWithoutBgrnd { float:left; width:610px; margin-left:8px; display:inline; overflow:hidden;}
.borderRight{border-right:1px #D7D7D7 solid}
.marginPadding0{padding-top:0 !important;margin-top:0 !important;padding-bottom:0 !important;margin-bottom:0 !important;}

/* EmailPopup css start here */
.header .headerNav .emailPopupDiv {display:none;}
.emailPopupDiv{ position:absolute; z-index:600; right:-45px; top:65px;  width:228px !important; width:232px; height:153px; border:1px solid #fff;}

/* menuWrapper*/
.emailpopupwrapper{position:absolute; z-index:602; width:220px; border:4px solid #a79370; background:#fff;}
.emailPopupIframe{z-index:601; position:absolute;  width:225px !important; width:232px; height:153px !important; height:155px;}
/* Corner setting CSS*/
.header .emailpopupwrapper .tl, .header .emailpopupwrapper .tr, .header .emailpopupwrapper .bl, .header .emailpopupwrapper .br, .header .emailpopupwrapper .upArrow {position:absolute;}
.header .emailpopupwrapper .tl{left:-5px; top:-5px; background:#FB7D3A}
.header  .emailpopupwrapper .tr{right:-5px !important; right:-5px; top:-5px;background:#FB7D3A}
.header .emailpopupwrapper .bl{left:-5px; bottom:-5px !important; bottom:-5px;background:#FFF}
.header .emailpopupwrapper .br{right:-5px !important; right:-5px; bottom:-5px !important; bottom:-5px;background:#FFF}
.header .emailpopupwrapper .upArrow{right:55px; top:-17px}
.header .messageDivContent{ float:left;width:98%;margin:0px 2px 5px 2px}
.header div.messageDivContent h2{font-size: 14px;color:#735B41;margin-top:5px}
.header div.messageDivContent .msgDetails{background-color:#F4EDE3;width:100%;padding:7px 0 7px 0;margin-bottom:2px}
.headerNav ul li a.links{padding:5px !important;}
/* EmailPopup css end here */

.headerNav, #headerMenu { position:relative; z-index:9999}
#headerMenu, .menuCurveContainer{ z-index:1}
#tradeMiddlePanel{float:right; width:826px; overflow:hidden;}
.width608{overflow:hidden; width:608px;}

/* Trade Landing Page Css */
.bottonContainer{margin-left:8px; overflow:hidden}
.bottonContainer .btn{margin-right:10px;}
.detailBlkview{overflow:hidden; width:100% !important;}
.posRelative{position:relative}
.buttonContainer   { margin-top:10px; overflow:hidden; width:100%;}
.curveContent  {padding:0px; background:#fff; border-right:3px solid #a59176; border-left:3px solid #a59176;}
.noBorderTable	{ border:0px !important}
.noBorderTable  td	{ padding-bottom:5px; border:0px !important }
.autoFillTollTip{background:url(../images/BlueGredient.gif) left bottom repeat-x; padding:8px 10px; width:300px; position:absolute; right:15px; top:15px; border:1px solid #ECECEC;}
ol.instructionOL li{padding:0px;margin:0px 0px 0px -15px;}

.advSerBlk {float:left; border-top:1px solid #d7d7d7; margin-top:15px; width:794px; padding:9px 7px;}
/* Css For alert Page */
#formContainer{}
#formContainer input	{ verticle-align:middel}
#formContainer p {margin:0px 0px 10px 0px; overflow:hidden;}
#formContainer label	{ display:inline-block; width:115px;}
#formContainer label span{ color:#ff0000}
#formContainer label.inline	{ display:inline; width:auto}
.accountNumberContainer{overflow:hidden; margin-bottom:10px;}
.accountType{border:1px solid #ececec; padding:7px;}
#amountExceeding, .hideContainer{display:none;}
img.ui-datepicker-trigger	{vertical-align:middle; margin-left:5px;}
.CINumber {background:url(../images/BlueGredient.gif) left -65px repeat-x; padding:6px 8px; display:inline-block; margin-left:10px;}
.taxSpan{width:3px; display:inline-block; color:#ff0000; vertical-align: top}

/* 01-07-2011*/
.minHeight	{ _height:180px; min-height:180px;}
.advanceSearchContainer{padding-left:10px;}
.advanceSearchContainer ul { width:100%; overflow:hidden; margin:0px 0px 15px 0px; padding:0px; }
.advanceSearchContainer ul li { list-style-type:none; width:33%; float:left;  margin:0px; padding:0px;}
.advanceSearchContainer ul li label{ display:block; margin-bottom:1px;}
#toggleContainer{ padding:5px; float:right; width:142px; display:none; border:1px solid #D7D7D7; margin-top:-2px, _margin-top:-12px}
#toggleContainer ul	{ margin:0px; padding:0px;}
#toggleContainer ul li	{ list-style-type:none;}
.billAlert {background:url(../images/billAlertIcon.gif) left top no-repeat; margin-left:10px; height:15px; padding:0px 0px 0px 22px;}

/* classes added for Admin landing page */
.adminNavPanel{width:455px; float:left;margin-left:0px}
.height110 {height:110px;}
.adminNavPanel h2{color:#735b41; margin:0px; padding:0px; font-size:16px;} 

/* class added for header */
.headerNav  ul li a.logAdmin{background:url(../images/topbarBgAdmin.gif) repeat-x ; width:60px; height:32px; font-weight:bold; text-decoration:none; padding:6px 0px 6px 20px;} /* modified */

.homeMsg {background:url(../images/yellowGrd.gif) left top repeat-x; padding:7px 10px; width:960px;}
.homeMsg span.congImg {float:left; background:url(../images/alert_icon.gif) left top no-repeat; margin-right:10px; width:25px; height:22px; padding:0px 0px 0px 0px;}
.homeMsg span.msgTxt {float:left; margin:3px 0px 0px 0px;}

.loginBlk {border:1px solid #d7d7d7; height:243px; float:left;}
.loginBlk .header{display:block; background:url(../images/tableHeaderBG.gif) left top repeat-x; border-bottom:1px solid #d7d7d7; padding:9px 7px;}
#btnPymnt div a{float:left;margin-right:20px;}
.textIfsc{margin-top:3px;margin-bottom:2px;}

#listForNoIFSC, #listForYesIFSC, #bankDetails{display:none;}

/* class added for tooltip */
.tooltip{position:absolute;z-index:1;background:url(../images/1_pixcel.png) repeat;}
.tooltip .tolltipCntr{background-color:#f4ede3;padding:4px;border:1px solid #a79370;}

.loginBtn1 {display:block; background:url(../images/loginSprite.gif) right -32px no-repeat; padding:9px 20px 7px 0px; color:#000; font-weight:bold; font-size:15px;}
.loginBtn1 :hover{background:url(../images/loginSprite.gif) right -98px no-repeat; font-weight:bold; font-size:15px; text-decoration:none;}
.loginBtn1  span{background:url(../images/loginSprite.gif) left 0px no-repeat; padding:8px 0px 7px 20px; color:#000;}
.loginBtn1 :hover span{background:url(../images/loginSprite.gif) left -66px no-repeat; font-weight:bold; text-decoration:none;}

.SubmitBtn1 {border: none; display:block; background:url(../images/loginSprite.gif) right -32px no-repeat; padding:9px 20px 7px 0px; color:#000; font-weight:bold; font-size:15px;}
.SubmitBtn1 :hover{background:url(../images/loginSprite.gif) right -98px no-repeat; font-weight:bold; font-size:15px; text-decoration:none;}

/* Login Button End */

.wizardTabC  {clear:both; font-size:12px; margin-left: 2px; padding: 5px 0px 10px 0px; font-family:Arial, Helvetica, sans-serif; width:777px;}
.wizardTabC ul {float:left; list-style:none; padding: 0px; margin: 0px;width:777px;}
.wizardTabC ul li {float:left; list-style:none; margin: 0px;	width:191px; padding:0px;}
.wizardTabC ul li div	{text-decoration:none; margin: 0px;	padding: 5px 0px 6px 0px; font-weight:bold;	background:url(../images/wizard/stepGrayArrowUnsel.gif) right top no-repeat; height:28px;}
.wizardTabC p.stepnum{ font-size:20px; color:#999999; padding:0 10px 0 0; float:left; margin:0px;}
.wizardTabC p.stepDef{ font-size:12px; color:#999999; float:left; padding:8px 0 0 0; margin:0px;}
.wizardTabC p.Selstepnum{ font-size:19px; color:#333333; padding:0 8px 0 0; float:left; margin:0px;}
.wizardTabC p.SelstepDef{ font-size:12px; color:#333333; float:left; padding:7px 0 0 0; margin:0px;}
.wizardTabC ul li.unselLstTab {float:left; list-style:none; margin: 0px; background:url(../images/wizard/rightGrayStep.gif) right top no-repeat; padding: 0px 0px 0px 0px; border:0px solid red; height:38px; width:240px;}
.wizardTabC ul li.unselLstTab div	{color:#999999; text-decoration:none; margin: 0px; font-weight:bold;	padding:5px 0px 8px 10px; background:url(../images/wizard/stepGrayLine.gif) left top repeat-x; width:224px;	border:0px solid red;}

.wizardTabC ul li.unselLstTab2 {float:left; list-style:none; margin: 0px; background:url(../images/wizard/stepGrayArrow.gif) right top no-repeat; padding: 0px 23px 0px 0px; border:0px solid red; height:38px; width:240px;}
.wizardTabC ul li.unselLstTab2 div{color:#999999; text-decoration:none; margin: 0px; font-weight:bold; padding:5px 0px 8px 10px; background:url(../images/wizard/stepGrayBG.gif) left top repeat-x; width:224px;}

.wizardTabC ul li.selFstTab {float:left; list-style:none; margin: 0px; background:url(../images/wizard/stepOrangeBG.gif) left top no-repeat; width:265px; padding:0px;}
.wizardTabC ul li.selFstTab div {color:#999999; text-decoration:none; background:url(../images/wizard/stepOrangeArrow.gif) right top no-repeat; margin: 0px;	width:auto; border:0px solid red; height:38px; padding:5px 0px 0px 15px; width:252px; }

.wizardTabC ul li.DoneFstTab {float:left; list-style:none; margin: 0px; background:url(../images/wizard/stepGreenBG.gif) left top no-repeat; width:237px; padding:0px;}
.wizardTabC ul li.DoneFstTab div	{color:#999999; text-decoration:none; background:url(../images/wizard/leftGrayStep.gif) left top no-repeat;	margin: 0px; height:38px; padding:5px 0px 0px 15px;}

.wizardTabC ul li.DoneSecTab {float:left; list-style:none; margin: 0px; background:url(../images/wizard/stepGreenBG.gif) right top no-repeat; width:266px; padding:0px;}
.wizardTabC ul li.DoneSecTab div	{color:#999999; text-decoration:none; background:url(../images/wizard/stepGrayArrow.gif) left top no-repeat; margin: 0px; height:38px; padding:5px 0px 0px 40px;  width:227px;}

.wizardTabC ul li.selTab {float:left; list-style:none; margin: 0px; background:url(../images/wizard/rightOrangeStep.gif) right top no-repeat; vertical-align:middle; border:0px solid red; padding:0px; width:242px;}
.wizardTabC ul li.selTab div  {color:#333333; text-decoration:none;  margin: 0px;	padding: 5px 0px 6px 40px; height:28px; background:url(../images/wizard/stepOrangeArrowBG.gif) right top no-repeat; width:197px; border:0px solid red;}


.CustomWizTab  {clear:both; font-size:12px; margin-left: 2px; padding: 5px 0px 10px 0px; font-family:Arial, Helvetica, sans-serif; width:777px;}
.CustomWizTab ul {float:left; list-style:none; padding: 0px; margin: 0px;width:800px;}
.CustomWizTab ul li {float:left; list-style:none; margin: 0px;	width:191px; padding:0px;}
.CustomWizTab ul li div	{text-decoration:none; margin: 0px;	padding: 5px 0px 6px 0px; font-weight:bold; background-color:#E7D9B5; height:15px;}

.a .DeletIcon{ background:url(../images/delete.JPG) border:0px solid red;}
.unlock
{
background: transparent; 
display: table-cell;
/*height: 32px; 
margin-right: 6px;
padding-right: 20px; */
/* FONT PROPERTIES */
text-decoration: none;
color: blue;
font-family: Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:bold;
border-style:none;
cursor:hand;

}
