@media print {

    .md a[href]:after, .mce-body a[href]:after { display: inline-block; padding: 0 0.4em; content: " (" attr(href) ")"!important; font-size: 12px; line-height: 1em; color: #666; display: inline-block; }
    .mg a[href]:after, a[href]:after { content: none!important; }
    .gd6-m .u1, .gd6-m .u-first { margin-left: 0; background-color: #fff; }
    .dateline, .u2-4-n, .slidebar, #main, .fl, .fr, .limiter, .limiter1, .avatar-wrapper, blockquote, .comment-item-wrapper, .comment-item-v2, .md-ban-hazte, .u4-6-m, .u2-6-m, .mce-body { width: 100%!important; float: none!important; clear: both!important; border: 0!important;padding: 0!important;display: block!important;max-width: 100%!important;}
    .md-sk1-sbsk1, .fb-like-box, .hot-topics, .md-balcony, .no-adv-socios, #myAddThis, .slidebar .tags, .main-search, iframe, .social-lst, .twitter-follow-button, .md-belt-showcase .mtcol, .ad, .cmt-info, .col, .hd-content, .hd-header, .rg-footer-contrib .partner-claim, .rg-footer-contrib .slot-upper, .rg-footer-contrib .slot-inferior, .comments-sort, .comment-actions-v2, #edi-subscriber-comments, .outbrain-md, #edi-comment-submit, .social-lst, #edi-header-user, .nav, .adv-container { display: none; display: none!important }
    .comment-item-v2 .avatar { display: inline-block!important; padding-right: 10%; }
    .comment-item-v2 { margin-bottom: 2em; }
    img { display: block!important; clear: both!important; margin-bottom: 1em!important; height: auto; margin-left: 0!important;}
    .cp-tools { display: block!important;}
    .cp-tools .dateline { float: left!important; width: auto!important; line-height: 2em; font-size: 1.1em; }
    .cp-tools .md-social { float: right!important; border: 0; width: auto!important; clear: none!important; padding: 0!important; }
}
.md-sk1.md-sk1-sbsk1 { padding-right: 0!important; }
.md-sk3 .grp-news .lst-item .kicker { background: black; }

.menu-1000361 #nav .tabnav:last-child,
.menu-1001403 #nav .tabnav:last-child { float: right; background: #005695; color: white; }
.menu-1000264 #nav .tabnav:last-child,
.menu-1000001 #nav .tabnav:last-child,
.ed-menu-fixed #nav .tabnav:last-child { float: right; background-color: #FFF200; margin-right: 0; }
.menu-1000361 #nav .tabnav:last-child > a,
.menu-1001403 #nav .tabnav:last-child > a { color: white; background-color: #005695!important; }
.menu-1000264 #nav .tabnav:last-child > .tab-grp > a,
.menu-1000001 #nav .tabnav:last-child > .tab-grp > a,
.ed-menu-fixed #nav .tabnav:last-child > .tab-grp > a { color: #333;background-color: #ffef36!important; }
.menu-1000361 #nav .tabnav:last-child .tab-grp .tab-item,
.menu-1001403 #nav .tabnav:last-child .tab-grp .tab-item,
.menu-1000264 #nav .tabnav:last-child .tab-grp .tab-item,
.menu-1000001 #nav .tabnav:last-child .tab-grp .tab-item,
.ed-menu-fixed #nav .tabnav:last-child .tab-grp .tab-item {background: url(http://estaticos.lab.eldiario.es/estaticos/bg_tab-item.png) no-repeat 102% -30px;padding-right: 40px;text-shadow: none;}
.menu-1000361 #nav .tabnav.selected:last-child .tab-grp .tab-item,
.menu-1001403 #nav .tabnav.selected:last-child .tab-grp .tab-item,
.menu-1000264 #nav .tabnav.selected:last-child .tab-grp .tab-item,
.menu-1000001 #nav .tabnav.selected:last-child .tab-grp .tab-item,
.ed-menu-fixed #nav .tabnav.selected:last-child .tab-grp .tab-item { color: black }
.menu-1000361 #nav .tabnav.highlight:last-child,
.menu-1001403 #nav .tabnav.highlight:last-child,
.menu-1000264 #nav .tabnav.highlight:last-child,
.menu-1000001 #nav .tabnav.highlight:last-child,
.ed-menu-fixed #nav .tabnav.highlight:last-child { background: white; box-shadow: none; }

#nav .hightlight.tabnav:last-child a { text-shadow: 0; }
#nav .tabnav.highlight .tab-grp .tab-item { box-shadow: 0px 0px 6px -2px black; }
.menu-1000001 #nav .tabnav.highlight .tab-grp .tab-item,
.ed-menu-fixed #nav .tabnav.highlight .tab-grp .tab-item {box-shadow: none;}

.menu-1000001 #nav .navFirstLevel:first-child a,
.ed-menu-fixed #nav .theguardian { background: url(http://estaticos.lab.eldiario.es/estaticos/logoGuardian2.jpg); text-indent: -999px; width: 114px; border-right: 1px solid white; }
/*.ed-menu-fixed #nav .theguardian:hover { background-position: 0 -34px; }*/

    /* Cosas generales */
.menu-1000001 .rg-header-contrib #nav,
.ed-menu-fixed .rg-header-contrib #nav { padding: 3px 0;margin-top: 0;}
.menu-1000001 #nav .tabnav a,
.ed-menu-fixed #nav .tabnav a { line-height: 1.4em; }
.menu-1000001 #nav .tabnav.hightlight .tab-grp .tab-item,
.ed-menu-fixed #nav .tabnav.hightlight .tab-grp .tab-item { text-shadow: 0; }
  /* quitamos activo solo en home */
.ed-home #nav .tabnav.selected .tab-grp .tab-item { background-color: white; color: #06598c; background-position: 102% -30px; padding-right: 25px; }

#mc_embed_signup:before { z-index: 0; }
a[href=""] { text-decoration: none!important; cursor: default!important;}


    /* menu */
#nav { z-index: 99; }
#nav a { text-decoration: none!important; }
#nav .child-nav { background: white;box-shadow: 0 0 10px -5px;z-index: 99999;border-radius: 0; padding-top: 0.4em; }
#nav .child-nav ul {margin: 0;}
#nav .child-nav .lst-item { padding: 0; border: 0; background: none;margin: 0;}
#nav .child-nav .lst-item .lnk { color: #58545e;display: block; background: none; font-weight: 100;margin: 0; padding: 6px 10px;  text-shadow: none; }
#nav .child-nav .lst-item.last { padding-bottom: 6px; }
#nav .child-nav .lst-item:hover { background: #f6f6f6; }
#nav .child-nav .selected .lnk { background: #eee;color: #333;}

.rg-header-contrib .hd-highlight-topic { width: 285px; }
.rg-header-contrib .hd-highlight-topic .mt { border: 0; }

#container  .main-search .bt-submit { background: #005695; color: white; }

.rg-grp, .rg-ad, .rg-breakingnews, .rg-theme-wrap, .rg-header, .rg-belt {
    background: #FbFbFb url(http://static2.eldiario.es/static/EDIDiario/images/eld-bg-rg-body.png?hash=57c0d2c47626b5837fb68f5cbac0a68f) repeat-y center top;
}

.ed-menu-fixed #nav .tabnav .tab-item,
.ed-menu-fixed #nav .tabnav .tab-item { padding: 5px 9px 4px; }
.ed-menu-fixed #nav .tabnav .tab-grp .tab-item,
.ed-menu-fixed #nav .tabnav .tab-grp .tab-item { padding-right: 25px; }
.ed-menu-fixed #nav .tabnav.selected .tab-grp .tab-item,
.ed-menu-fixed #nav .tabnav.selected .tab-grp .tab-item { padding-right: 40px; }
.ed-home #nav .tabnav.selected .tab-item { padding: 5px 11px 4px; color: #06598c; }

.md-minute-head .md-advertisement { background: white; margin-bottom: 0; }

#mc_embed_signup2 { margin-top: 10px; padding: 0; margin: 10px 0; width: 100%; margin-left: 0px; }
#mc_embed_signup2 .mc_embed_signup-inn { border: 2px solid #000000; padding: 10px; }
	.ed-movil #mc_embed_signup2 .mc_embed_signup-inn { margin: 0 10px; }
#mc_embed_signup2 .mc-field-group{ font-family: "noto serif", serif; text-align: center; display: block; padding-top: 10px; }
#mc_embed_signup2 input { border: 1px solid #000000; max-width: 200px; width: 100%; height: 33px ;font-size: 18px; text-align: center; }
#mc_embed_signup2 .button{ background-color: #000000; color:white; margin-top: 10px; width:120px; text-align: center; cursor: pointer; font-size: 16px; border:none; margin: 10px auto 0 auto; display: block; font-family: "roboto slab", serif; }
#mc_embed_signup2 .button:hover{ background-color: #000; }
#mc_embed_signup2 #mc_OK, #mc_embed_signup2 #mc_KO { display: none; font-family: "roboto slab", serif; text-align: center; }
#mc_embed_signup2 #mc_KO { color: red; }
#mc_embed_signup2 #mc_OK { font-size: 1.4em; font-weight: 900; }
#mc_embed_signup #mc_OK, #mc_embed_signup #mc_KO { display: none; font-family: "roboto slab", serif; text-align: center; }
#mc_embed_signup #mc_KO { color: red; }
#mc_embed_signup #mc_OK { font-size: 1.4em; font-weight: 900; }

.rg-header-contrib .hd-header .hd-editions .edition-list .list-item:after { margin-right: 2px; }


.form-campgn-socios {animation:none;animation-delay:0;animation-direction:normal;animation-duration:0;animation-fill-mode:none;animation-iteration-count:1;animation-name:none;animation-play-state:running;animation-timing-function:ease;backface-visibility:visible;background:0 0;background-clip:border-box;background-origin:padding-box;background-position-x:0;background-position-y:0;background:0 0/auto auto;border:0;border-style:none;border-width:medium;border-color:inherit;border-bottom:0;border-collapse:separate;border-image:none;border-left:0;border-radius:0;border-right:0;border-spacing:0;border-top:0;bottom:auto;box-shadow:none;box-sizing:content-box;caption-side:top;clear:none;clip:auto;color:inherit;columns:auto;column-count:auto;column-fill:balance;column-gap:normal;column-rule:medium none currentColor;column-rule-color:currentColor;column-rule-style:none;column-rule-width:none;column-span:1;column-width:auto;content:normal;counter-increment:none;counter-reset:none;cursor:auto;direction:ltr;display:inline;empty-cells:show;float:none;font:400;font-family:inherit;font-size:medium;font-style:normal;font-variant:normal;font-weight:400;height:auto;hyphens:none;left:auto;letter-spacing:normal;line-height:normal;list-style:disc;margin:0;max-height:none;max-width:none;min-height:0;min-width:0;opacity:1;orphans:0;outline:0;outline:0;overflow:visible;overflow-x:visible;overflow-y:visible;padding:0;page-break-after:auto;page-break-before:auto;page-break-inside:auto;perspective:none;perspective-origin:50% 50%;position:static;quotes:'\201C' '\201D' '\2018' '\2019';right:auto;tab-size:8;table-layout:auto;text-align:inherit;text-align-last:auto;text-decoration:none;text-decoration-color:inherit;text-decoration-line:none;text-decoration-style:solid;text-indent:0;text-shadow:none;text-transform:none;top:auto;transform:none;transform-style:flat;transition:none;transition-delay:0s;transition-duration:0s;transition-property:none;transition-timing-function:ease;unicode-bidi:normal;vertical-align:baseline;visibility:visible;white-space:normal;widows:0;width:auto;word-spacing:normal;z-index:auto;

  display: block; padding: 0 0 0.5em 0; text-align: left; }

.fcs-label { font-size: 1.2em; display: block; line-height: 1em; padding-top: 0.2em; padding-bottom: 0.2em;
  text-transform: uppercase; font-family: "roboto slab", sans-serif; border-top: 9px solid #005695; margin-bottom: 0.4em; }
.form-campgn-socios input[type="password"],
.form-campgn-socios input[type="number"],
.form-campgn-socios input[type="email"],
.form-campgn-socios input[type="tel"],
.form-campgn-socios input[type="seach"],
.form-campgn-socios input[type="text"] { border-radius: 0px; box-shadow: none; font-size: 16px; color: grey; padding-left: 0.5em; background-color:#fff; box-shadow:none;
  border: 1px solid #ccc; background-color: #fff; box-shadow: none; padding: 0.4em 0.7em; font: 700 16px/1.2 "Roboto Slab",serif;
  font-size: 16px; margin-bottom: 0.6em; font-weight: 100; width: 240px; max-width: 100%; 
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.form-campgn-socios input[type="password"]:focus,
.form-campgn-socios input[type="number"]:focus,
.form-campgn-socios input[type="tel"]:focus,
.form-campgn-socios input[type="seach"]:focus,
.form-campgn-socios input[type="email"]:focus,
.form-campgn-socios input[type="text"]:focus,
.form-campgn-socios select:focus { outline: none; }    

.form-campgn-socios select { background: none; border: 1px solid #ccc; margin-bottom: 0.6em; width: 120px; font: 700 16px/1.2 "Roboto Slab",serif; height: 36.2px; }

.form-campgn-socios .fcs-button { margin: 0; background-color: #005695; color: white; font: 700 16px/1.2 "Roboto Slab",serif; text-transform: uppercase;
  font-weight: 400; box-shadow: none; padding-left: 0.5em; padding-right: 0.5em; border-radius: 0px;
  border: 0; font-size: 18px; border: none; padding-top: 0.1em; padding-bottom: 0.1em; padding: 0.4em 0.7em;   margin-bottom: 0.6em;}

.form-campgn-socios .fcs-button:hover { background-color: #333; color: white; }

.form-campgn-socios .fcs-mail.fcs-error { border-color: red; }
.form-campgn-socios .fcs-error { color: red; }
.form-campgn-socios input.fcs-tel { width: 140px; }

#mc_embed_signup3 { display: inline-block; width: 100%; margin-bottom: 20px; margin-left: 0;
	margin-top: 20px; padding: 10px; border: 2px solid #005695;
	box-sizing: border-box; -moz-box-sizing: border-box; webkit-box-sizing: border-box; }
#mc_embed_signup3:before { content: ""; display: block; position: relative; z-index: 1;
	background: #005695 url("http://eldiario.es/multimedia/web/email.png") no-repeat 12px 12px;
	background-size: 26px; left: 50%; top: -25px;
	height: 50px; width: 50px; margin-left: -25px; -moz-border-radius: 25px; -webkit-border-radius: 25px; border-radius: 25px;
	font-size: 1.7em; line-height: 1.7em; text-align: center; color: #FFF; }
#mc_embed_signup3 h2 { margin-bottom: 6px; margin-top: -20px; font-family: "Roboto Slab"; font-size: 21px; font-weight: 700;
	line-height: 22px; text-align: center; }
#mc_embed_signup3 input[type=email] { height: 30px; max-width: 100%; width: 200px; border: 1px solid #005695;
	font-family: "noto serif"; font-size: 18px; margin-bottom: 0.6em; }
#mc_embed_signup3 .clear { text-align: center; }
#mc_embed_signup3.mc_consumoclaro,#mc_embed_signup3.mc_consumoclaro input { border-color: #8FBD65; }
#mc_embed_signup3.mc_consumoclaro .button { background: #8FBD65; }
#mc_embed_signup3.mc_consumoclaro:before { height: 52px; width: 59px;
	background: transparent url("http://www.eldiario.es/multimedia/_media/logo-consumoclaro-mailchimp.png") 0 0;
	background-size: auto; }
#mc_embed_signup3.mc_clm,#mc_embed_signup3.mc_clm input { border-color: #AAA000; } 
#mc_embed_signup3.mc_clm .button { background: #AAA000; }
#mc_embed_signup3.mc_clm:before { background-color: #AAA000; } 
#edi-adv-head-container { margin: 0 auto; }

#mc_embed_signup3 { margin-top: 10px; padding: 0; margin: 20px 0 10px 0; width: 100%; margin-left: 0px; }
#mc_embed_signup3 .mc_embed_signup-inn { border: 2px solid #000000; padding: 10px; }
	.ed-movil #mc_embed_signup2 .mc_embed_signup-inn { margin: 0 10px; }
#mc_embed_signup3 .mc-field-group{ font-family: "noto serif", serif; text-align: center; display: block; }
#mc_embed_signup3 input[text] { border: 1px solid #000000; max-width: 200px; width: 100%; height: 33px ;font-size: 18px; text-align: center; }
#mc_embed_signup3 .button{ background-color: #000000; color:white; margin-top: 10px; width:120px; text-align: center; cursor: pointer; font-size: 18px; border:none; margin: 0 auto 0.6em auto; display: block; font-family: "roboto slab", serif; line-height: 1.8em; }
#mc_embed_signup3 .button:hover{ background-color: #000; }
#mc_embed_signup3 #mc_OK, #mc_embed_signup2 #mc_KO { display: none; font-family: "roboto slab", serif; text-align: center; }
#mc_embed_signup3 ul { padding: 0; text-align: left; margin: 0.4em 0em; }
#mc_embed_signup3 li { font-family: "roboto slab", serif; width: auto; margin: 0 0.8em; list-style: none; font-size: 1.2em; line-height: 1.4em; color: #444; }
.leyenda { font-size: 0.9em; display: block; margin-bottom: 0.4em; padding-left: 1.6em; color: #666; }
#mc_embed_signup3 #mc_KO { color: red; }
#mc_embed_signup3 #mc_OK { font-size: 1.4em; font-weight: 900; }
#mc_embed_signup3 #mc_OK, #mc_embed_signup3 #mc_KO { display: none; font-family: "roboto slab", serif; text-align: center; }
#mc_embed_signup3 #mc_KO { color: red; }
#mc_embed_signup3 #mc_OK { font-size: 1.4em; font-weight: 900; }
#mc_embed_signup3 #mc_OK h2 { margin-bottom: 1em; }

.info-author .dateline .byline .lnk { text-transform: none; }

.md-sk3 { border-bottom: 0; }

.md-sld-advantages .message { font-weight: 400; }
.user-box .lst-item.last .lnk, .user-box .lst-item.last .lnk { background: #FFF url("http://static1.eldiario.es/static/EDIDiario/images/bg_bullet-relinfo_blue.gif?hash=88d1857abd80b53aae936aec4ac44e66") no-repeat scroll -8px -21px; color: #00396E; }

.video-responsive { width: 100%; height: 0; position: relative; padding-bottom: 56.25%; }
.video-responsive iframe, .video-responsive object { position: absolute; width: 100%; height: 100%; left: 0; top: 0; }

/* ajustes menu locales tras salida de Asturias */
.rg-header-contrib .hd-header .hd-editions .edition-list .list-item .lnk { font-size: 14px; }
.rg-header-contrib .hd-header .hd-editions .edition-list { margin-right: 6px; }

/* paginador roto tras formularios */
.cp-paginator li { background: none!important; width: auto; font-size: 1em; }

/* apaño publi rota*/
.ad-controlled-height { max-height: none; }


#ed-servicios { margin-bottom: 0.4em; font-family: roboto slab, serif; }
#ed-servicios:before, #ed-servicios:after { content: ''; }
#ed-servicios h2 { line-height: 1em; font-size: 1em; padding: 0.4em 0.4em; margin: 0 0px 0.2em 0px;
    text-align: center; letter-spacing: 0.2em; background: #ebebeb; font-family: noto serif, serif; color: #999; font-weight: 300; text-transform: uppercase; }
  #ed-servicios ul a { text-decoration: none; color: #333; }
#ed-servicios ul  { margin-left: 10px; text-align: center;  }
#ed-servicios li { display: inline-block; text-align: left; width: 33%; margin-bottom: 0.2em;
      font-size: 1.1em; line-height: 2.3em; font-weight: 300; }
  #ed-servicios li:before { display: block; content: ''; width: 35px; height: 35px; float: left;
      background: url(http://estaticos.lab.eldiario.es/estaticos/servicios/sprite25.png) -9px -7px no-repeat; }
    #ed-servicios li.cupones:hover:before { background-position: -9px -37px; }
  #ed-servicios li.motor:before { background-position: -50px -5px; }
    #ed-servicios li.motor:hover:before { background-position:  -50px -37px; }
  #ed-servicios li.tiempo:before { background-position: -109px -5px; }
    #ed-servicios li.tiempo:hover:before { background-position: -109px -37px; }
  #ed-servicios li.pelis:before { background-position: -162px -5px; }
    #ed-servicios li.pelis:hover:before { background-position: -162px -37px; }
  #ed-servicios li.empleo:before { background-position: -218px -5px; }
    #ed-servicios li.empleo:hover:before { background-position: -218px -37px; }
  #ed-servicios li.tv:before { background-position: -257px -5px; }
    #ed-servicios li.tv:hover:before { background-position: -257px -37px; }

@media (max-width: 640px) {
  #ed-servicios h2 { font-size: 0.7em; margin: 0 0 0.2em 0; }
  #ed-servicios li { font-size: 0.9em; }
}

/* cabecera bloque minuto a minuto */
.md-minutebyminute .headline-aux, .md-sk3 .headline-aux { font-size: 16px;
padding-top: 26px; padding-left: 0; width: 97%; color: #00386F;
background: url(/static/EDIDiario/images/bg_masinfo.gif?hash=f42274b3c5eace187e678d9c36cbf190) repeat-x; }

/* botón duplicado bloque encuestas */
.md-poll-col .moreinfo { display: none; }

.u2-6-m .kalooga_slideshow { margin: 0 15px 20px; }

#tableQuienes {  }
#listQuienes { padding: 0; overflow: hidden; width: 94%; }

.pg-foco.pg {}.ad-bottom-menu .ad-wrap { display: block; }
.rg-body { padding-top: 0; }
.ad-bottom-menu .ad { margin: 10px auto; }
.kicker-focos { font-size: 1.1em; margin-bottom: 0.5em; }
.kicker-focos .lnk a {font-weight: 300}
.kicker-focos .byline a {
   font-family: 'Noto Serif',serif;
   font-weight: 500;}
   
.pg-foco .cp-paginator .pagination, .pg-foco .cp-paginator { font-size: 0.9em; text-align: left; padding-left: 0; }

.footer-foco {width:100%;margin:0px;padding:15px 0 15px 0;font-family: 'roboto slab';text-align: center;background-color: #1c262c;color:white;}
.footer-foco div.haztesocio {padding: 10px;font-family: 'roboto slab';font-size: 16px;margin-top: 20px}
.footer-foco div.white {background-color: #ffef36;color:black;}
.footer-foco div.white:hover {background-color: black;color:white;}
.footer-foco a {text-decoration: none}
.footer-foco .haztesocio a{color:black;background-color: #ffef36;color:black;padding: 10px}
.footer-foco .haztesocio a:hover {background-color: white;color:black;}
    .footer-foco  .h2 { padding: 0 1em;  }
    .ed-desktop .footer-foco  .h2 { font-size: 1.1em; line-height: 1.2em; }
    
#ed-flotante-news { position: fixed; top: 0; left: 0; right: 0; max-height: 150px; background: white; display: none;
    font-size: 1.2em; font-family: 'Roboto Slab', serif; z-index: 122; padding: 0; text-align: left; color: #333; box-shadow: 0 -7px 20px black;}
#ed-flotante-news a { color: white; }
  #ed-flotante-mainWrap { position: relative; width: 970px; margin: 0px auto; }
#ed-flotante-news .pg-headline { color: #333; font-size: 1.2em; width: 550px; float: left; margin-top: 0.4em; padding-left: 90px; height: 52px; overflow: hidden;  display: block; position: relative; }
  #ed-flotante-news .pg-headline:before { display: block; height: 56px; width: 62px; overflow: hidden;
    background: url(http://www.eldiario.es/multimedia/_media/sprite_consumoClaro.png) no-repeat -3px -3px;
    content: ''; position: absolute; left: 0; top: 0; }
#ed-flotante-news .ed-flotante-main_close { display: block; position: absolute; top: 0; right: 0; padding: 0.6em 0.8em; color: #333; text-decoration: none;
    font-weight: 900; font-family: arial,san-serif; }
#ed-flotante-news .ed-floatnte-sociol { float: right; width: 250px; font-weight: 900; padding-top: 5px; }
#ed-flotante-news .ed-floatnte-sociol a { display: block; width: 100px; height: 30px; background: red; text-indent: -999px; 
  overflow: hidden; float: left; margin-right: 5px; margin-top: 5px; margin-bottom: 12px;
  background: url(http://www.eldiario.es/multimedia/_media/sprite_consumoClaro.png) no-repeat -86px -16px; }
    #ed-flotante-news .ed-floatnte-sociol a.flotante-share-fb { width: 120px; background-position: -221px -16px; }
    
.mce ul, .mce ol { color: #333; }
.gdu.u1 > .md-news-main .headline:first-child { outline: none; }
.mce .pullquote-sk2, .mce .pullquote { margin-bottom: 5px; padding: 20px 10px 10px 14px; font-size: 15px; color: #333; background: #f8f7f3 none;}

blockquote p { margin: 0 45px 8px 0; font: italic 400 18px/1.3 Georgia,Times,"Times New Roman",serif; text-align: left;}