@font-face{font-family:'moonflower';src:url('http://twentytwowords.com/wp-content/themes/premise/fonts/moonflower/Moon_Flower.ttf');font-weight:normal;font-style:normal;}@font-face{font-family:'moonflower';src:url('http://twentytwowords.com/wp-content/themes/premise/fonts/moonflower/Moon_Flower_Bold.ttf');font-weight:bold;}.transition{-webkit-transition:all linear 500ms;-moz-transition:all linear 500ms;-o-transition:all linear 500ms;transition:all linear 500ms;}.icon-arrow-left,.icon-arrow-right{background:none!important;}.content-wrapper{margin:auto;}#category-archive .container,.single .container,.relative.container{position:relative;}.vct,.vctr,.vctd{width:100%;height:100%;vertical-align:middle;}.vct{display:table;}.vctr{display:table-row;}.vctd{display:table-cell;}html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,t{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}.alignleft{float:left;margin-right:1em;margin-bottom:1em;}.alignright{float:right;margin-left:1em;margin-bottom:1em;}.aligncenter{display:block;margin-left:auto;margin-right:auto;}.wp-caption{border:1px solid #ddd;text-align:center;background-color:#f3f3f3;padding-top:4px;margin:10px;-moz-border-radius:3px;-khtml-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}.wp-caption img{margin:0;padding:0;border:0 none;}.wp-caption p.wp-caption-text{font-size:11px;line-height:17px;padding:0 4px 5px;margin:0;}.mtop{margin-top:5px;}.fake-sticky{width:100%;display:block;position:relative;z-index:1;height:340px;background:#f00;}article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block;}audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}audio:not([controls]){display:none;}[hidden]{display:none;}html{font-size:100%;overflow-y:auto;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}body{overflow:hidden;margin:0;font-size:13px;line-height:1.231;min-height:100vh;}body,button,input,select,textarea{font-family:'Open Sans',helvetica,arial,sans-serif;color:#333;}::-moz-selection{background:#fe57a1;color:#fff;text-shadow:none;}::selection{background:#fe57a1;color:#fff;text-shadow:none;}a:focus,a:active{outline:0;}}
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; line-height: 20px; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { height: auto; max-width: 100%; border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }
form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }
table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

/* ==|== primary styles =====================================================
   Author: Jon Savage of Studio Ace of Spade
   ========================================================================== */
body {
	font-family: 'Open Sans', helvetica, arial, sans-serif;
	font-size: 14px;}
a, a:visited {
	color: #1B0916;
	text-decoration: none;}
a:hover {
	color: #09f;}
.final-slide-text a {
    text-decoration: underline;
	color: #09f;}
.hide {
	display: none !important;}

.cf:before,
.cf:after {
    content: " ";
    display: table;}
.cf:after {
    clear: both;}
.cf {
    *zoom: 1;}
h5,h6 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;}
h1 {
	font-size: 36px;
	line-height: 36px;}
h2 {
	font-size: 28px;
	line-height: 28px;}
.container h2 {
    font-weight: bold;
    font-size: 35px;
    line-height: 1.2;
    margin-top: 10px;
    margin-bottom: 10px;
}
h3 {
	font-size: 21px;
	line-height: 21px;}
h4 {
	font-size: 16px;
	line-height: 16px;}
p {
	font-size: 16px;
	line-height: 24px;
	padding-bottom: 10px;}
p + ol,
p + ul {
	padding-bottom: 0;}
blockquote p {
	font-weight: 400;
	line-height: 24px;
	font-size: 14px;
	color: #777;
	padding-top: 2px;
	padding-bottom: 2px;
	border-left: 2px solid #d4d4d4;
	margin: 0 0 1em 1em;
	padding-left: 10px;}
.last {
	margin-right: 0;}
.ltext {
	text-align: left !important;}
.ctext {
	text-align: center;}
.rtext {
	text-align: right;}
.table {
	display: table;}
.table-row {
	display: table-row;}
.table-cell {
	display: table-cell;
	vertical-align: middle;}

body {
	background: #fff;}

.page-push {
	margin-top: 65px; }
.container.main {
    padding: 20px 20px; }
.row.content {
    padding: 20px 20px; }
.content-main {
    padding: 0 11px;}
.mobile-only {
    display:none;
}




/***************************************
 * ADS
 ***************************************/
.sticky-ad {
    position: fixed;
    bottom: 0;
    z-index: 99999999999;
    margin-top: 0;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}
.sticky-ad .sticky-close {
    position: absolute;
    right: -5px;
    top: -10px;
    width: 25px;
    height: 25px;
    background: url('img/x-icon-thin.svg');
    background-repeat: no-repeat;
    background-size: 48%;
    background-position: center center;
    border-radius: 50%;
    background-color: #585858;
    cursor: pointer;
    border: 1px solid #fff;
}
.str-adunit {
	clear: both !important;
}
.header-ad {
    min-height: 90px;
}

.anchor-ad-unit {
    display:block;
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 50px;
    z-index:1000000;
    max-width: 320px;
    left: 50%;
    margin-left: -160px;
}
.anchor-ad-unit iframe {
    width: 100%;
    height: 100%;
}
.header-ad .str-backfill,
[data-str-mediation-key] [id^=creative] div:first-child,
[data-str-backfill-key] iframe,
[data-str-mediation-key] iframe,
.continue-ad .str-backfill {
    display: block !important;
    margin:auto !important;
    z-index: 0 !important;
}
[data-str-mediation-key] iframe{
    width: 300px;}
.gray-fullwidth {
    background-color: #eee; 
    margin-left: -31px;
    margin-right: -31px;
    padding-bottom: 30px;
    overflow: hidden;}
.gray-fullwidth p {
    color: #000;
    font-size: 15px;
    text-align: center;
    margin-top: 30px;}
.gallery-ad {
    text-align: center;
    margin: 20px auto;
}
.gallery-ad.promoted-ad {
    width: 100%;
    margin: auto;
    text-align: center;
}




.meta-share-bar {
    margin: 10px 0;
    color: #fff;
    background-color: #00a8b1;
    padding: 6px 20px; 
    font-size: 18px;
    line-height:16px;
}
.meta-share-bar .share-icons {
    display: inline-block;
}
.meta-share-bar .share-num {
    line-height: 31px;
    font-weight: 100;
    float: right;
}
.meta-share-bar .share-text {
    line-height: 31px;
    float: left;
    margin-right: 20px;
}


/***************************************
 * ICONS 
 ***************************************/
.popular-icon {
    height: 16px;
    width: 22px;
    margin-bottom: -2px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
}
.popular-icon.star {
    background-image: url('img/star.svg'); 
}
.popular-icon.trending {
    background-image: url('img/trending.svg'); 
}
.popular-icon.clock {
    background-image: url('img/clock.svg'); 
}
.share .icon.x-icon {
    background-image: url('img/x-icon.png');
    background-color: #008A93;
    background-position:center;}
.social-header-icons {
    padding-left: 80px;
    min-width: 170px;
    padding-top: 16px;}
  
.social-header-icons .icon,
.social-icon-cutouts .icon {
    background-image: url('img/social-sprites-v7.svg?2');
    cursor: pointer;
    background-size: 130px;
    background-repeat: no-repeat;
    width: 31px;
    height: 30px;
    margin-left: 4px;
    position:relative;
    display: inline-block;
}
.social-icon-cutouts .icon a,
.social-header-icons .icon a {
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;}
.social-header-icons .icon.fb-icon, 
.social-icon-cutouts .icon.fb-icon {
    background-position:  0 0;}
.social-header-icons .icon.fb-icon:hover, 
.social-icon-cutouts .icon.fb-icon:hover {
    background-position:  0 -33px;}
.social-header-icons .icon.twitter-icon, 
.social-icon-cutouts .icon.twitter-icon {
    background-position:  -33px 0;}
.social-header-icons .icon.twitter-icon:hover, 
.social-icon-cutouts .icon.twitter-icon:hover {
    background-position:  -33px -33px;}
.social-header-icons .icon.pinterest-icon, 
.social-icon-cutouts .icon.pinterest-icon {
    background-position:  -66px 0;}
.social-header-icons .icon.pinterest-icon:hover, 
.social-icon-cutouts .icon.pinterest-icon:hover {
    background-position:  -66px -33px;}
.social-header-icons .icon.instagram-icon, 
.social-icon-cutouts .icon.instagram-icon {
    background-position:  -99px 0;}
.social-header-icons .icon.instagram-icon:hover, 
.social-icon-cutouts .icon.instagram-icon:hover {
    background-position:  -99px -33px;}
.share .icon {
    vertical-align: top;
    line-height: 40px;
    cursor: pointer;
    width: 40px;
    min-width: 40px;
    height: 40px;
    margin: auto;
    z-index: 20;
    background-image: url('img/social-icons-fullv5.svg');
    background-repeat: no-repeat;
    background-size: 40px;
    position: relative;}
.share.home {
    text-align: justify;
    line-height: 15px;
}
.share.home .icon {
    min-width: 0;
    width: 50px;
    height: 50px;
    background-size: 100%;
    display: inline-block;
    border-radius: 50%;
}
.share .icon.large {
    padding-right: 50px;
    background-origin: content-box;
    width: auto;}
.share .icon.large:after  {
    content: "Share";
    display: inline;
    padding-left: 60px;
    color: #fff;
    margin-right: -10px;
    font-weight: bold;}
.share .icon a {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;}
.share .icon a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
.share .icon.social-icon {
    background-position: 50% 0;
    background-color: #4d4d4d;}
.share .icon.insta-icon {
    background-position: 50% 9.09%;
    background-color: #c19367;
}
.share .icon.ln-icon {
    background-position: 50% 18.18%;
    background-color: #0077B5;}
.share .icon.tumblr-icon {
    background-position: 50% 27.27%;
    background-color: #36465D;} 
.share .icon.google-plus-icon {
    background-position: 50% 36.36%;
    background-color: #dc4e41;}
.share .icon.fb-icon {
   background-position: 50% 45.45%;
   background-color: #3663BE; 
}
.share .icon.twitter-icon {
    background-position: 50% 54.54%;
    background-color: #57ABDD;
}
.share .icon.pinterest-icon {
    background-position: 50% 63.63%;
    background-color: #C7070F;
}
.share .icon.stumble-icon {
    background-position: 50% 72.72%;
    background-color: #00cb31;
}
.share .icon.reddit-icon {
    background-position: 50% 81.81%;
    background-color: #F33E27;
}
.share .icon.dots-icon {
    background-position: 50% 90.90%;
    background-color: #404040;
}
.share .icon.email-icon {
    background-position: 50% 100%;
    background-color: #d199f4;
}
span.icon-facebook2.punchout {
    position: relative;
    margin-right: 14px;
    background-color: white;
    border-radius: 3px;
    color: #3b5998;
    padding-top: 10px;
    padding-left: 6px;
    display: inline-block;
    line-height: 18px;
    top: 6px;}
span.icon-facebook2.punchout::before {
    font-size: 24px;}

/***************************************
 * HEADER 
 ***************************************/
/* Header Bar */
#header {
    z-index: 999999999;
}
.navbar-fixed-top {
    width:100%;
    position: fixed;
    background: transparent;
    height:60px;
    z-index:10;
	top: 0 !important;
	-webkit-backface-visibility: hidden;
}
.header-bar .mobile-responsive-div {
    position: relative;}
.header-bar {
    background-color: #00a8b1;
    position:fixed;
    top:5px;
    left: 0;
    height: 60px;
    width: 100%;
}
.header-bar .header-sharebar {
    position:absolute;
    top: 0;
    right: 0;}
.header-bar .header-sharebar.share .icon {
    float: left;
    margin-top: 10px;}
.pulldown-active {
    top: 500px;}

/* Header Items */
.header-item {
    position:absolute;
    top:0;
    background-position: center;
    background-repeat: no-repeat;
    
}
.header-item.icon {
    cursor: pointer;
    left: 11px;
    background-size: 30px;
    background-color: #008A93;
    height: 60px;
    width: 60px;
    background-image: url('http://twentytwowords.com/wp-content/uploads/bars-icon.png');
}
.header-item.brand {
    left: 50%;
    margin-left: -25px;
    background-image: url('http://twentytwowords.com/wp-content/uploads/header-logo.png');
    background-size: cover;
    height: 54px;
    width: 100px;
    margin-top: 5px;
}
.header-item.fb-icon {
    right: 0;
    right: 0;
    top: 8px;
    margin-right: 10px;
    padding: 5px;
    background-color: #fff;
    border-radius: 6px;
    border-color: #008A93;
    border-width: 3px;
    border-style: solid;
    width: 86px;
    height: 20px;
    overflow:hidden;
}

.header-bar .pulldown-trigger.disabled {
    display:none;
}
.header-bar .pulldown-trigger {
    cursor:pointer;
    position:absolute;
    top:0;
    right:0;
    padding: 0 10px;
    background-color: #B1F4F2;
    border-radius:0 0 4px 4px;
    box-shadow: 0 0 20px #777;}
.header-bar .pulldown-trigger .pulldown-image img {
    max-width: 100%;}
.header-bar .pulldown-trigger .pulldown-image.large {
    display:inline-block;
    width: 150px;
}
.header-bar .pulldown-trigger .pulldown-image.small {
    display:none;
    width:30px;}
.header-bar .pulldown-trigger .down-arrow {
    display:inline-block;
    margin-left: 15px;
    width: 30px;}
.header-bar .pulldown-trigger .down-arrow.active {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);}

/* Mobile Only FB Share */
.share.mobile-share {
    display: none;
    width: 120px;
    position: absolute;
    top: 10px;
    right: 0;
}
.share.mobile-share .icon.large {
    background-origin: content-box;
}


.header-bar .fixed-sharebar {
    width: 100%;
    height: 60px;
    position: absolute;
    top: 0px;
    z-index: 99;
    display:none;
    background-color: rgb(0, 168, 177);}
.header-bar .fixed-thumb {
    height: 40px;
    position: absolute;
    left: 0;
    width: 65px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 10px;
    margin-top: 10px;}
.header-bar .header-title {
    width: 100%;
    text-align: left;
    color: #fff;
    margin-top: 0;
    padding-top: 0;
    padding-left: 90px;
    padding-right: 350px;
    height: 60px;
    display: table;
}
.header-bar .header-title h2 {
    display: table-cell;
    vertical-align: middle;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
}
#header .mobile-fb-share {
    display: block;
    height: 60px;
    line-height: 60px;
    background-color: #3b5998;
    color: #fff;
    font-weight: bold;
    border: none;
    text-decoration: none;
    text-align: center;
    width:200px;
    position:absolute;
    right: -200px;} 
#header .mobile-fb-share .icon-facebook2 {
    margin-right: 10px;
    line-height: 16px;
}
#header a.header-home {
    position: absolute;
    top: 0;
    left: 0;
    right: 35px;
    bottom: 0;
}


/***************************************
 * HEADER PULLDOWN
 ***************************************/
.header-pulldown {
    background-color: #B1F4F2;
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: -495px;
    height: 500px;
    z-index: 999999999999; }
.header-pulldown h1,
.header-pulldown h2,
.header-pulldown h3 {
    font-family: 'moonflower';
    font-weight:  bold;
}
.header-pulldown h2 {
    font-size: 52px;
    line-height: 46px;
    margin-bottom: 10px;
}
.header-pulldown h3 {
    font-size: 36px;
    line-height: 36px;}
.header-pulldown.active {
    top:0;}
.header-pulldown .pulldown-section {
    vertical-align: top;
    display: block;
    float: left;
    width: 33.333%;
    margin-top: 50px;
    text-align: center;
    position:relative;}
.header-pulldown .pulldown-section .section-wrapper {
    max-width: 300px;
    margin:auto;}
.header-pulldown .pulldown-section.side {
    text-align: left;
    padding: 0 50px;
    padding-top: 40px;}
.header-pulldown .pulldown-section.side.right-text{
    text-align: center;}
.header-pulldown .pulldown-section.side.center-image img{
    width: 200px;}
.header-pulldown .pulldown-section img {
    max-width: 100%;}
.header-pulldown .anchor-image {
    position:absolute;}
.header-pulldown .anchor-image img{
    max-width: 100%;}
.header-pulldown .pulldown-text-wrapper {
    margin-top: 80px;}

.header-pulldown .anchor-image.bottom{
    bottom:5px;
    left: 0;
    right: 0;
    text-align: center;}
.header-pulldown .anchor-image.cloud1 {
    top: 40px;
    left: 60%;}
.header-pulldown .anchor-image.cloud2 {
    right: 20px;
    bottom: 70px;}
.header-pulldown.active .anchor-image.cloud1,
.header-pulldown.active .anchor-image.cloud2 {
    animation: cloudbounce 4s linear 0s infinite;
}
a.unbored-button,
.unbored-button {
    display: block;
    text-transform: none;
    text-decoration: none;
    width: 230px;
    text-align: center;
    background-color: #F54E4E;
    color: white;
    border-radius: 3px;
    padding: 14px;
    font-size: 18px;
    font-weight: 600;
    margin: auto;}
.unbored-button:hover {
    text-transform: none;
    text-decoration: none;
    color: #fff;
    background-color: #C0563F}

.header-pulldown p {
    font-size: 14px;
    color: #444;}

@keyframes cloudbounce {
    from { transform: rotate(0deg) translateX(5px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(5px) rotate(-360deg); }
}

#counter {
	transform: scale(0.57);
	-ms-transform: scale(0.57); 
	-webkit-transform: scale(0.57); 
	-o-transform: scale(0.57); 
	-moz-transform: scale(0.57); 
	transform-origin: top left;
	-ms-transform-origin: top left;
	-webkit-transform-origin: top left;
	-moz-transform-origin: top left;
	-webkit-transform-origin: top left;
	display: block;
	width: 505px;
	height: 100px;
	overflow: hidden;
    position:absolute;
    left: 50%;
    margin-left: -143.5px;
    top: 90px;
    backface-visibility: hidden;
}

.flip-counter ul.cd {
	float:left !important;
	list-style-type:none !important;
	margin:0 !important;
	padding:0 !important;
}
.flip-counter li {
	background: url("http://twentytwowords.com/wp-content/themes/premise/img/numbahs2.png") 0 0 no-repeat;
}
.flip-counter li.t {
	background-position:0 0;
	width:53px;
	height:39px;	
}
.flip-counter li.b {
	background-position:0 0;
	width:53px;
	height:64px;
}
.flip-counter li.s {
	background-position:-53px -1030px;
	width:14px;
	height:103px;
}

/***************************************
 * MOBILE MENU 
 ***************************************/
.mobile-menu {
    position:fixed;
    background-color: #008A93;
    color: #fff;
    width:300px;
    display:block;
    left: -300px;
    top: 0;
    height: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    z-index:9999;
}
.mobile-menu.active {
    left: 0;}
.menu-slide-right {
    margin-left: 300px;}
.mobile-menu .close-sidebar {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    height: 20px;
    width: 20px;
    background-image: url('http://twentytwowords.com/wp-content/uploads/x-icon.png');
    background-size: contain;}
.mobile-menu .search-box {
    position: relative;
    max-width: 400px;
    width: 100%;
}
.mobile-menu .search-box {
    width: 220px;
    position: relative;
}
.mobile-menu .searchsubmit {
    position: absolute;
    top: 4px;
    right: 0px;
    background-image: url('http://twentytwowords.com/wp-content/uploads/search-icon-blue.png');
    background-color: transparent;
    border: none;
    background-size: 14px;
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 30px;
}
.mobile-menu .search-input {
    border: 1px solid #00a8b1;
    color: #00a8b1;
    border-width: 4px;
    width: 200px;
    border-radius: 3px;
    line-height: 28px;
    margin-bottom: 20px;
    padding-left: 10px;
}
.mobile-nav {
    padding-bottom: 200px;
}

.mobile-nav-item {
    font-size: 24px;
    line-height: 24px;
    margin-bottom:10px;
}
.mobile-nav-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-color: transparent;
    display:inline-block;
    background-image: url('http://twentytwowords.com/wp-content/themes/premise/img/category-sprites.png');
}
.mobile-nav-icon.funny {
    background-position-x: 0px;
}
.mobile-nav-icon.bizarre {
    background-position-x: -39px;
}
.mobile-nav-icon.amazing {
    background-position-x: -78px;
}
.mobile-nav-icon.cute {
    background-position-x: -117px;
}
.mobile-nav-icon.intriguing {
    background-position-x: -156px;
}
.mobile-nav-icon.brainfood {
    background-position-x: -195px;
}

.mobile-nav-text {
    display: inline-block;
    font-family: 'Open Sans', helvetica, arial, sans-serif;
    font-size: 20px;
    font-weight: 100;
    line-height: 33px;
    vertical-align: top;
    height: 30px;
}


.mobile-menu a {
    color: #fff;
    text-decoration: none;
    font-family: 'Open Sans', helvetica, arial, sans-serif;
    font-size: 20px;
    font-weight: 100;
    -webkit-tap-highlight-color: transparent;
}

.right-arrow-dropdown {
    margin-right: 40px;
    float:right;
    margin-top: 8px;
}
.right-arrow-dropdown::after {
    background-size: contain;
    background-repeat: no-repeat;
    position:absolute;
    width: 10px;
    height: 20px;
    background-image: url('http://twentytwowords.com/wp-content/uploads/arrow-right-icon.png');
    content: '';
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}
.right-arrow-dropdown.active::after {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.mobile-submenu {
    display:none;
    padding-left: 65px;
}
.mobile-submenu-item {
    margin-bottom: 5px;
}
.mobile-submenu-item a{
    font-size: 16px;
    font-family: 'Open Sans', helvetica, arial, sans-serif;
}
/***************************************
 * VIDEO AND EMBEDS 
 ***************************************/
.slide-video {
    margin:auto;
}
.slide-video-wrapper {
    text-align:center;
    position:relative;
    padding-bottom: 56.24%;}
.slide-video iframe {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;}
.embed {
    width: 100%;
}
.embed iframe,
.embed twitterwidget {
    margin: auto !important;
}
.embed blockquote.twitter-tweet {
    min-height: 250px;
}
/***************************************
 * PAGINATION 
 ***************************************/
.justify-fix {
    width: 100%;
    display: inline-block;}
.pagination {
    min-height: 62px;
    margin: 20px auto;
    position: relative;
    margin-bottom: 30px;
}
/* Paging */
.paginated-button {
    font-weight: bold;
    font-size: 22px;
    color: #fff !important;
    display: block;
    border-radius: 2px;
    padding: 20px 0;
    position: absolute;
    text-decoration: none !important;
    text-align: center;
    margin: 0 auto;
    -moz-background-clip: padding;
    line-height: 1em;
    transition: all 0.4s ease;}
.paginated-button.next {
    right: 0;
    top: 0;
    width: 300px;
    background-color: #EFA627;
}
.pagination .next-text {
    height: 22px;
    display:block;
    margin-right: 62px;
}
.pagination .next-icon {
    position: absolute;
    right: 0px;
    top: 0px;
    text-align: center;
    width: 62px;
    height: 62px;
    line-height: 62px;
    background-color: #E87E00;
}
.paginated-button.prev {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #ccc;
    padding-left: 25px;
    padding-right: 25px;
}
.paginated-button.prev img {
    -webkit-transform: rotate(180deg);     /* Chrome and other webkit browsers */
    -moz-transform: rotate(180deg);        /* FF */
    -o-transform: rotate(180deg);          /* Opera */
    -ms-transform: rotate(180deg);         /* IE9 */
    transform: rotate(180deg);             /* W3C compliant browsers */}

.paginated-button img {
    width: 14px;}
.pagination .page-numbers {
    margin-bottom: 15px;
    line-height: 67px;
    width: 100%;
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding-right: 200px;
    color: #777;}
.pagination a.fb-share {
    overflow:hidden;
    font-size: 20px;
    display: block;
    height: 54px;
    line-height: 54px;
    background-color: #3b5998;
    color: #fff;
    font-weight: bold;
    border: none;
    margin-bottom: 15px;
    margin-right: 11.5%;
    text-decoration: none;
    text-align: center;
    position: relative;
    z-index: 2;}
.pagination a.fb-share::after {
    content: "Share on Facebook";
}
/* Share Area */
.pagination a.fb-share.inactive {
    width: 0px;}
.pagination .share .icon.dots-icon {
    margin-right: 0;
}
.pagination .share .icon.x-icon {
    background-size: 25px !important;
}
.pagination .share {
    text-align: justify;
    width: 100%;
    position:absolute;
    z-index: 1;}
.pagination .share .icon {
    width: 9%;
    height: 54px;
    background-size: 54px;
    margin-right: 2.36%;
    float: left;}
.pagination .share.modal-share {
    display: none;
    width: 260px;
    z-index:9999999;
    margin-top: -100px;
    right: 0;
    background-color: rgba(1, 1, 1, 0.8);
    padding: 30px;
    padding-right: 20px;
    padding-bottom: 0;
    margin-right: 85px;}
.pagination .share.modal-share:after {
    content: "";
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid rgba(1, 1, 1, 0.8);
    position: absolute;
    right: -20px;
    top: 50%;
    margin-top: -20px;}
.share.modal-share .icon {
    margin-right: 16px;
    width: 54px;
    margin-bottom: 15px;}

/* FB Comments */
.fb_iframe_widget.fb-comments,
.fb_iframe_widget.fb-comments span,
.fb_iframe_widget.fb-comments span iframe {
    width: 100% !important;
}
.comments-area {
    overflow: hidden;
}
.fb_iframe_widget.fb-comments {
    overflow:hidden;
}
.fb_iframe_widget.fb-comments span {
    margin-bottom: -30px;
}
.trigger-comments {
    height: 52px;
    line-height: 52px;
    background-color: #00a8b1;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: #fff;
    cursor: pointer;
}
.trigger-comments .fb_comments_count {
    display:none;
}
.comments-area {
    display: none;
}
.comments-toggle {
    padding: 15px 0;
    color: #2fa4ad;
    line-height: 24px;
    font-weight: 900;
    margin-bottom: 5px;
    font-size: 23px;
    border-bottom: 4px solid #2fa4ad;
    text-transform: uppercase;
}
.comments-toggle .comment-counter {
    float: right;
    font-size: 18px;
    text-transform: none;
}


/***************************************
 * SIDEBAR 
 ***************************************/
.sidebar-wrapper.minimum-sidebar {
    min-height: 1400px;
}
.sidebar-wrapper {
    height: 100%;
    position: absolute;
    width: 33.333%;
    padding-left: 40px;
    right: 0;}
.sidebar {
    height: 100%;
    background-color: #fff;
    padding-right: 15px;
    border-width: 3px 0 3px 5px;
    border-style: solid;
    -webkit-border-image: -webkit-gradient(linear, 100% 0, 0 0, from(#dfdfdf), to(rgba(0, 0, 0, 0))) 1 100%;
    -webkit-border-image: -webkit-linear-gradient(right, #dfdfdf, rgba(0, 0, 0, 0)) 1 100%;
    -moz-border-image: -moz-linear-gradient(right, #dfdfdf, rgba(0, 0, 0, 0)) 1 100%;
    -o-border-image: -o-linear-gradient(right, #dfdfdf, rgba(0, 0, 0, 0)) 1 100%;
    border-image: linear-gradient(to right, #dfdfdf, rgba(0, 0, 0, 0)) 1 100%;}
.sidebar-wrapper.fixed {
    margin-top: 60px;
    top: 0;
    right: 0;
    height: 100vh;
    position:fixed;}
.sidebar-item {
    padding-top: 30px;
    min-width: 300px;
    width: 100%;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: 0;
    max-width: 300px;
    text-align: center;}
p.email-confirm {
    font-weight:bold;
    font-family: 'moonflower';
    font-size: 22px !important;
}
.sidebar-item .email-signup {
    padding: 15px;
    height: 250px;
    background-color: #B1F4F2;}
.sidebar-item .email-signup img {
    width: 15%;
    margin-left: 14px;
    vertical-align: top;
    display: inline-block;}
#top-of-page .sidebar-item .email-signup h2 {
    display: inline-block;
    width: 66%;
    margin-bottom: 10px;
    font-family: 'moonflower';
    font-size: 40px;
    line-height: 40px;
    text-align: left;
    font-weight: bold;}
.sidebar-item .email-signup h3 {
    margin-top: 10px;}
.sidebar-item .sidebar-fb-icon {
    margin-top: 10px;}
.sidebar-item .related-posts h3 {
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: left;}
.sidebar-item .related-post {
    margin-bottom: 10px;
    width: 100%;}
.sidebar-item .related-post .round-thumbnail {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 40px;
    background-size: cover;
    background-repeat: no-repeat;}
.sidebar-item .related-post .related-title {
    font-size: 17px;
    height: 50px;
    line-height: 24px;
    overflow: hidden;
    display: inline-block;
    width: 80%;
    vertical-align: top;
    text-align: left;
    padding-left: 20px;
    font-weight: 600;
}
/* Sidebar Boxes! */
.sidebar-item .sidebar-box {
    box-shadow: 0px 4px 10px #ccc;
    background-color: #00a8b1;
}
.sidebar-box h3.sectioned {
    padding: 5px 0;
    font-size: 38px;
    line-height: 48px;
    color: #fff;
    background-color: #008a93;
    font-family: "Moonflower"
}
.sidebar-box .related {
    font-size: 30px;
    width: 100%;
    line-height: 30px;
    font-weight:700;
    padding: 20px 20px;
    text-align: left;
    font-family: "Moonflower";
}
.sidebar-box .related-wrapper {
    padding: 10px 0;
}
.sidebar-box .related a {
    color: #fff;
}
.sidebar-box .related a:hover {
    text-decoration: none;
    color: #B1F4F2;
}
.sidebar-item a{
    cursor: pointer;
}
.sidebar-item .related-post .related-title a{
    color: #333;}
.sidebar-ad iframe {
    display: block;}
/*  Stickies */
.sticky.sidebar-sticky {
    padding-bottom: 40px;
    z-index: 1;}
.sticky.sidebar-sticky.is-stuck {
    position: fixed !important;
    top: 65px;
    width: 330px;
    bottom: auto;
}
.sticky.sidebar-sticky.bottom {
    position: absolute;
    top: auto;
    bottom: 0;
    width: 330px;
}
.sidebar-always-sticky {
    position: fixed;
    top: 65px;
    width:330px;
}
/* No longer used */
.sidebar-like {
    position:fixed;
    right: 40px;
    bottom: 150px;
    width: 310px; 
    background-color: #B1F4F2;
    padding-top: 40px;
    border-radius: 4px;
    z-index: 9999;
    display: none;
}
.sidebar-like:after {
    display: block;
    width: 0;
    top: 50%;
    right: -15px;
    bottom: auto;
    left: auto;
    border-width: 15px 0 15px 15px;
    border-color: transparent #B1F4F2;
    content: '';
    position: absolute;
    margin-top: -15px;
    border-style: solid;}
.sidebar-like .close-modal {
    cursor: pointer;
    position: absolute;
    font-family: 'moonflower';
    top: 10px;
    right: 15px;
    -webkit-transform: scale(1.5,1);
    -moz-transform: scale(1.5,1);
    -ms-transform: scale(1.5,1);
    -o-transform: scale(1.5,1);
    transform: scale(1.5,1);
    font-size: 22px;
    font-weight: bold;}
.sidebar-like .kitty-cat {
    width: 110px;
    height: 110px;
    margin-right: -10px;
    display: inline-block;
    background-image: url('http://twentytwowords.com/wp-content/themes/premise/img/fat-kitty.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -20px 0px;
    margin-bottom: -3px;
}
.sidebar-like .like-text {
    width: 170px;
    display: inline-block;
    vertical-align: top;}
.sidebar-like h2 {
    font-family: 'moonflower';
    font-weight: bold;
    padding-bottom: 10px;}

/***************************************
 * OVERLAYS 
 ***************************************/
.fullpage-overlay {
    display:none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999999999999;
    background-color: rgba(255, 255, 255, 0.93);}
.fullpage-overlay.active {
    display:block;}
.bird-bomb {
    display: block;
    height: 230px;
    width: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;
    margin: auto;
    margin-top: 50px;
    background-image: url('http://twentytwowords.com/wp-content/themes/premise/img/owl.png');}
.fullpage-overlay img.unbored-header {
    margin-top: 20px;
    margin-bottom: 20px;}
.fullpage-overlay .overlay-text {
    margin:auto;
    max-width: 650px;
    text-align: center;
    margin-top: 30px;
    padding: 20px;}
.overlay-text h2 {
    font-family: 'moonflower';
    font-size: 46px;
    line-height: 46px;
    font-weight: bold;}
.fullpage-overlay p {
    font-size: 14px;
    max-width: 440px;
    margin: 20px auto;}
.sidebar-item .email-signup h3,
.fullpage-overlay h3 {
    font-family: 'moonflower';
    font-size: 26px;
    font-weight: bold;
    line-height: 36px;}
.sidebar-item input[type="submit"],
.fullpage-overlay input[type="submit"].signup {
    width: auto;
    padding: 8px;
    font-size: 14px;
    display:inline;
    border: none;}
.sidebar-item input[type='email'],
.fullpage-overlay input[type='email'].signup,
.fullpage-overlay input[type='text'].signup {
    padding: 8px;
    border-radius: 4px;
    background-color: #ddd;
    margin-right: 5px;
    border: none;}
.fullpage-overlay input[type='email'].signup {
    padding: 20px;
    width: 20%;
    min-width: 190px;}
.fullpage-overlay input[type='submit'].signup {
    padding: 20px 40px;}
.fullpage-overlay input[type='submit'].large-field {
    font-size: 20px;
    padding: 15px 54px; 
    font-weight: 100;
}
.fullpage-overlay input[type='email'].large-field {
    font-size: 20px;
    padding: 15px;
    width: 50%;
    vertical-align: top;}
.fullpage-overlay .field-group {
    margin-bottom: 20px;}

.sidebar-item input[type='email'] { 
    height: 36px;
    margin-right: 0;
    max-width: 170px;
    background-color: #fff;}
.fullpage-overlay .close-modal {
    font-size: 50px;
    line-height: 90px;
    font-family: 'moonflower';
    position: absolute;
    right: 40px;
    top: 0px;
    font-weight: bold;
    color: #aaa;
    cursor: pointer;}
.fullpage-overlay .email-quiz .close-modal {
    right: 0;
    color: #fff;
    line-height: 40px;
    background-color: #008A93;
    padding: 10px 20px;}
.fullpage-overlay .overlay-text h3 {
    margin-bottom: 20px;}
.fullpage-overlay h3.light-right {
    cursor: pointer;
    text-align: right;
    margin-top: 30px;
    color: #aaa;}
.fullpage-overlay .footer-fb-icon {
    padding-bottom: 30px;}
/***************************************
 * SIDE SHARES
 ***************************************/
.side-share {
   position: fixed;
    top: 50%;
    width: 60px;
    background-color: #2fa4ad;
    height: 317px;
    border-radius: 0 2px 2px 0;
    z-index:999;
    left: 0;
    margin-top: -170px;}
.side-share .side-icons {
    margin-top: 65px;}
.side-share .sticky-side-image {
    position:absolute;
    background-repeat: no-repeat;
    background-size: cover;
    width: 52.5px;
    right:0;
    z-index: 1;}
.side-share a.home-button {
    position: absolute;
    top: 0;
    bottom: 50%;
    left: 0;
    right: 0;}
.side-share .sticky-side-image.top {
    top:10px;}
.side-share .sticky-side-image.bottom {
    bottom: 0;}
.side-share .sticky-side-image.twentytwo-logo {
    height: 87px;
    background-image: url('http://twentytwowords.com/wp-content/themes/premise/img/twentytwo-side.svg');}
.side-share .sticky-side-image.spread-happiness {
    border-radius: 0 0 2px 0;
    height: 35px;
    width: 55px;
    background-image: url('http://twentytwowords.com/wp-content/themes/premise/img/spreading-happiness.svg');}

/***************************************
 * EMAIL QUIZ 
 ***************************************/
.quiz .email-quiz {
    position: relative;
    max-width: 500px;
    margin:auto;
    margin-top: 10%;
    padding: 40px;
    background-color: #2fa4ad;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;}
.quiz .email-quiz.two-step form {
    display: none;
}
.quiz .label {
    top: 50%;
    z-index: 20;
    left: 50%;
    position: absolute;
}
.quiz .checkboxes {
    margin-top: 10px;
    text-align: left;
    margin-left: 5px;
    font-family: "Moonflower";
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.quiz .checkboxes .check-me {
    display: inline-block;
    width: 25px;
    height: 20px;
    vertical-align: top;
    border: 1px solid #777;
    background-color: #fff;
    background-size: 14px;
    background-repeat: no-repeat;
    background-position: center center;
}
.quiz .checkboxes .check-me.active {
    background-image: url("img/checkmark.svg");
}
.quiz .email-quiz h2 {
    font-size: 45px;
    line-height: 50px;
    font-weight: bold;
    font-family: 'moonflower';
    border-bottom: 3px solid;
    display: inline;}
.quiz .email-quiz .results h2 {
    border: none;
}
.quiz .question {
    margin-top: 20px;
}
.quiz .answers {
    margin-bottom: 10px;}
.quiz input[type='text'],
.quiz input[type='email'] {
    width: 100%;
    margin-bottom:10px;
    border: none;
    padding: 20px;}
.quiz .button {
    padding: 20px 0;
    min-width: 150px;
    background-color: #008A93;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;}
.quiz .button:hover,
.quiz .answer.selected {
    background-color: #B1F4F2;
    color: #666;}
.quiz .answer.button {
    display: inline-block;
    margin: 5px 10px;
}
.quiz .quiz-loader {
    display: none;
    background-image: url('http://twentytwowords.com/wp-content/themes/premise/img/gears.svg');
    width: 100px;
    height: 100px;
    margin: 10px auto;
}
.quiz .email-button {
    border: none;
    color: #fff;
    width: 100%;}
.quiz .results {
    display: none;
}
.pie-chart {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin:10px auto;
}

.slice {
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0;
    overflow: hidden;
    -moz-transform-origin: left center;
    -ms-transform-origin: left center;
    -o-transform-origin: left center;
    -webkit-transform-origin: left center;
    transform-origin: left center;
}

.slice .slice-piece {
    position: absolute;
    width: 100%;
    height: 100%;
    left: -100%;
    border-radius: 50% 0 0 50%;
    -moz-transform-origin: right center;
    -ms-transform-origin: right center;
    -o-transform-origin: right center;
    -webkit-transform-origin: right center;
    transform-origin: right center;
}

.slice.big {
    width: 100%;
    height: 100%;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    -o-transform-origin: center center;
    -webkit-transform-origin: center center;
    transform-origin: center center;
}

.slice.big .slice-piece {
    width: 50%;
    left: 0;
}

.slice.big .slice-piece.after {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 50%;
    border-radius: 0 50% 50% 0;
}


/***************************************
 *  FOOTER 
 ***************************************/
/* Trending footer -- not in the site anymore */
.trending-footer {
    z-index: 100;
    position: relative;
    margin-left: -20px;
    margin-right: -20px;
    background-color: #008A93;
    padding: 40px;}
.trending-footer .trending-post {
    position:relative;
    color: #fff;}
.trending-footer .trending-post a {
    color: #fff;
    text-decoration: none;}
.trending-footer .trending-post h2 {
    margin-top: 5px;
    font-weight: bold;
    font-size: 26px;}
.trending-footer .trending-post h3 {
    margin-top:5px;
    font-size: 20px;
    font-weight:bold;}
.trending-footer .trending-category {
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    padding: 3px 15px;
    border-radius: 15px;
    top: 10px;
    right: 10px;
    /* font-style: italic; */
    font-size: 12px;}
.trending-post.small {
    margin-bottom:20px;}

/* Unbored footer -- not in the site anymore */
.unbored-footer {
    z-index: 100;
    position: relative;
    background-color: #B1F4F2;
    padding: 100px 20px;
    padding-bottom: 0px;
    margin-left: -20px;
    margin-right: -20px;
    text-align: center;
}
.unbored-footer h2 {
    font-size: 66px;
    font-family: 'moonflower';
    font-weight: bold;
    line-height: 66px;}

.unbored-footer .unbored-cat {
    margin-left: 30%;
    padding-top: 40px;}
.unbored-footer .unbored-bee {
    position:absolute;
    bottom: 100px;
    left: 25%;
    width: 80px;}
.unbored-footer .unbored-cat img {
    width: 40%;
    min-width: 200px;}
.unbored-footer .p-wrapper {
    max-width: 600px;
    margin: 20px auto;}
.unbored-footer p {
    font-size: 14px;
    color: #444;}
/***************************************
 *  HOME PAGE 
 ***************************************/
#home {
    font-family: "Roboto", "Open Sans", sans-serif;
    color: #404040;
}
#home h1,
#home h2,
#home h3 {
    letter-spacing: -1px;
}
/* Banner */
.banner {
    background-image:url('img/splash.jpg');
    background-position-x:center;
    background-size:cover;
    margin-top:60px;

}
.banner .banner-heading,
.banner-header span {
    font-weight:900;
    width:100%;
    text-align:center;
    font-size:48px;
    margin-bottom:40px;
    text-transform: uppercase;
}
.banner .banner-heading .color-one {
    color:#008690;
}
.banner .banner-heading .color-two {
    color:#00a6af;
}
.circle-container {
    position:relative;
    width:100%;
    /*height:700px;*/
    padding-bottom:56%;
}
.circle-container {
    position:relative;
}
.bubbles {
    position:absolute;
    border-radius:50%;
    border:5px solid #fff;
    height:20%;
    width:20%;
    background-size:cover;
    height:0px;
    background-position:center;
    background-color:#f3f3f3;
    box-sizing:content-box;
}


.circle-container .bubble-title {
    font-weight: 900;
    line-height:24px;
    font-size:24px;
    width:100%;
    margin-top:-12px;
    position:absolute;
    top:50%;
    color:#fff;
    text-align:center;
}
#logo {
    background-image:url('img/22logo.png');
    left:50%;
    width:41%;
    margin-left:-20.5%;
    margin-top:-20.5%;
    padding-bottom:41%;
    top:50%;
    overflow: hidden;
}
.circle-container .cloud {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
}
.circle-container .home-cloud1 {
    background-image: url('img/home_cloud1.svg');
    width: 18%;
    padding-bottom: 12%;
    right: 5%;
    top: 40%;
}
.circle-container .home-cloud2 {
    background-image: url('img/home_cloud1.svg');
    width: 28%;
    padding-bottom: 20%;
    top: 58%;
    left: -10%;
}
.circle-container .home-cloud3 {
    background-image: url('img/home_cloud2.svg');
    width: 37%;
    padding-bottom: 25%;
    top: 0;
    right: 9%;
}
#intriguing {
    left:26%;
    width:17%;
    padding-bottom:17%;
    margin-left:-8.5%;
    margin-top:-8.5%;
    top:52.5%;
    z-index:1;
    background-color:#d68686;
}

#funny {
    left:13.7%;
    width:25%;
    padding-bottom:25%;
    margin-left:-12.5%;
    margin-top:-12.5%;
    top:69%;
    z-index:0;
    background-color:#92dbff;
}
#bizarre {
    left:13.7%;
    width:17%;
    padding-bottom:17%;
    margin-left:-8.5%;
    margin-top:-8.5%;
    top:26%;
    background-color:#dbefa1;
}
#leftmost {
    left:5%;
    width:8%;
    padding-bottom:8%;
    margin-left:-4%;
    margin-top:-4%;
    top:41%;
}
#brainfood {
    left:75%;
    width:17%;
    padding-bottom:17%;
    margin-left:-8.5%;
    margin-top:-8.5%;
    top:26%;
    background-color:#dcc9ff;
}
#amazing {
    left:89%;
    width:17%;
    padding-bottom:17%;
    margin-left:-8.5%;
    margin-top:-8.5%;
    top:52.5%;
    background-color:#8af3cd;
}
#cute {
    background-image:url('img/chihuahua.png');
    left:77%;
    width:20%;
    padding-bottom:20%;
    margin-left:-10%;
    margin-top:-10%;
    top:75%;
}
#cute:hover {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('img/chihuahua.png');
    background-size:cover;
    background-position:center;
}

#top-right {
    left:92%;
    width:8%;
    padding-bottom:8%;
    margin-left:-4%;
    margin-top:-4%;
    top:29%;
}
#bottom-right {
    left:97%;
    width:7.5%;
    padding-bottom:7.5%;
    margin-left:-3.7%;
    margin-top:-3.7%;
    top:67.5%;
}

/* Popular Section */
.popular {
    background-color:#f3f3f3;
    border-style:none none solid none;
    border-width:3px;
    border-color:#96F4F1;
    position:relative;
    padding-top:50px;
    padding-bottom:30px;
    margin-bottom:50px;
}
.popular .container {
    overflow: hidden;
    padding: 0;
}
.popular .row {
    margin: auto;
    vertical-align: top;
}
.featured-article .hot-image {
    max-height: 400px;
    overflow: hidden;
}
.discover-by {
    width:350px;
    display:block;
    margin:auto;
    text-align:center;
    line-height: 20px;
    margin-top: 20px;
}

.discover:hover {
    cursor:pointer;
}


.discover {
    display:inline-block;
    width:32.5%;
    text-align:center;
}

.discover a {
    color:#00a5ae;
}
.discover:hover a {
    text-decoration:none;
    color:#008690;
}
.selection-indicator {
    position:absolute;
    background-color:#fff;
    width:14px;
    height:14px;
    border-style:solid solid none none;
    border-width:3px;
    bottom:0px;
    border-color:#96f4f1;
    left:50%;
    margin-left:-6px;
    margin-bottom:-8px;
    transform:rotate(-45deg);
}
.selection-indicator[data-active-tab="trending"] {
    margin-left: -118px;
}
.selection-indicator[data-active-tab="latest"] {
    margin-left: -6px;
}
.selection-indicator[data-active-tab="staff-picks"] {
    margin-left: 105px;
}

.featured-article {
    position:relative;
    width:65.5%;
    float:left;
    background-color:#d8d8d8;
    max-height: 400px;
    overflow:hidden;
}

.hot-image img {
    width:100%;
}

.sub-articles {
    float:right;
    width:30%;
    padding-left:20px;
}

.side-article {
    margin-left:5px;
    margin-bottom:15px;
    position:relative;
}
.side-article:hover {
    color:#888;
    opacity:.8;
}

.side-article-heading {
    font-weight:500;
    font-size:14px;
    float:right;
    width:70%;
    line-height:18px;
    padding:10px 0px;
    text-align:left;
    max-height: 84px;
    overflow: hidden;
}
h2.sub-articles-heading {
    font-size:24px;
    font-weight:500;
    margin-top:0px;
}

.side-article .side-image {
    width:70px;
    height:70px;
    background-position:center;
    background-size:cover;
    border-radius:50%;
    display:inline-block;
}
.article-tag {
    font-size: 12px;
    background-color:rgba(0,0,0,0.7);
    font-weight: 500;
    border-radius:30px;
    padding:2px 8px;
    color:#fff;
    position:absolute;
    right:20px;
    top:20px;
}

h2.article-heading {
    font-weight: 100;
    color:#fff;
    position:absolute;
    bottom:10px;
    width: 100%;
    padding: 0 15px;
}

.grad {
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgba(0,0,0,0), rgba(0, 0, 0, 0), rgba(0,0,0,0.6)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(0,0,0,0), rgba(0, 0, 0, 0), rgba(0,0,0,0.6)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(0,0,0,0), rgba(0, 0, 0, 0), rgba(0,0,0,0.6)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(0,0,0,0), rgba(0, 0, 0, 0), rgba(0,0,0,0.6)); /* Standard syntax */
}

.hot-tag {
    background-color:#f54e4e;
    border-radius:50%;
    position:absolute;
    top:20px;
    left:20px;
    height:60px;
    width:60px;
}

.fire-pic {
    width:40%;
    margin-left:29%;
    margin-top:10%;
}

.hot-tag .hot-word {
    font-size:14px;
    font-weight:900;
    color:#fff;
    margin-top:2px;
    text-align:center;
}

/* Paginated Section */
.content-article,
article.archive {
    width:100%;
    min-height:135px;
    margin-bottom:30px;
    box-shadow:0px 5px 20px #dedede;
    position:relative;
    -webkit-transition: all  linear 500ms;
    -moz-transition: all  linear 500ms;
    -o-transition: all  linear 500ms;
    transition: all  linear 500ms;
    overflow:hidden;
}

.content-article:hover,
article.archive:hover {
    color:#888;
}

.social-article {
    padding:25px;
    padding-bottom:21px;
}

.social-article h3,.social-article h4 {
    font-family:"moonflower";
}

.social-article h3 {
    font-size:46px;
    line-height:46px;
    font-weight:600;
    margin-bottom:15px;
}

.social-article h4 {
    font-size:27px;
    line-height:36px;
}

.panel-link {
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
}

.featured-image {
    height: 0;
    padding-bottom: 52.25%;
    overflow:hidden;
}
.featured-image img {
    width:100%;
}

.large-article .blurbl h3 {
    line-height:42px;
    font-size:45px;
}

.large-article .blurbl p {
    padding-bottom:17px;
    padding-top:14px;
}




.large-article {
    width:100%;
    min-height:290px;
    background-color:#f7f7f7;
    margin-bottom:30px;
    box-shadow:0px 5px 30px #e3e3e3;
    position:relative;
}
.large-article .blurbl {
    min-height:115px;
}
.large-article .blurbl h3 {
    padding-bottom:0px;
}
.content-article:hover,.large-article:hover {
    cursor:pointer;
}

.content-article.social-article:hover {
    color:#333;
}

.blurbl {
    background-color:#fff;
} 
.blurbl h3 {
    padding:15px;
    line-height:26px;
}
.blurbl p {
    padding:10px 20px;
}

.paginated-article-tag {
    position:absolute;
    right:10px;
    top:10px;
    background-color:rgba(0,0,0,0.5);
    padding:5px;
    border-radius:12px;
    color:#fff;
    font-size:12px;
}

.paginated-article-tag {
    color:#fff;
    text-decoration:none;
}

.staff-banner {
    height:0px;
    position:absolute;
    border-width:10px;
    transform:rotate(-45deg);
    border-bottom:20px solid #f54e4e;
    border-left:20px solid rgba(0,0,0,0);
    border-right:20px solid rgba(0,0,0,0);
    top:24px;
    left:-24px;
    width:117px;
}
.staff-banner p {
    font-family:"Open Sans";
    color:#fff;
    line-height:20px;
    font-size:13px;
    font-weight:800;
}
/* Load More */
.infiniscroll {
    display:block;
    width:58px;
    margin:auto;
    margin-bottom:30px;
    display:none;
}

.scrollipses {
    background-color:#008690;
    border-radius:50%;
    width:10px;
    height:10px;
    margin:3px;
    display:inline-block;
    animation-name:loading;
    animation-duration:1.5s;
    -webkit-animation-direction:alternate; /* Chrome, Safari, Opera */
    animation-direction:alternate;
    animation-iteration-count:infinite;
}

.scrollipses:nth-child(2) {
    animation-delay:1s;
}
.scrollipses:nth-child(3) {
    animation-delay:2s;
}

/*******************
 * 404 PAGE
 * *****************/
#not-found .sky-bg {
    background-color: #B1F4F2;
    position: absolute;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
    padding-top: 65px;
}
#not-found .constrained-content {
    position: relative;
    max-width: 500px;
    margin:auto;
}
#not-found .cloud {
    position: absolute;
    pointer:none;
}
#not-found .cloud-first {
    top: 90px;
    left: 0px;
}
#not-found .cloud-second {
    top: 0px;
    right: -60px;
}
#not-found h1 {
    font-size: 300px;
    font-family: "Moonflower";
    text-align: center;
    max-width: 500px;
    margin: auto;
    color: #F54E4E;
    line-height: 260px;
}
#not-found h3 {
    font-family: "Moonflower";
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    color: #F54E4E;
}
#not-found .search-box {
    text-align:center;
}
#not-found .search-box input {
    border: none;
    font-family: "Moonflower";
    vertical-align: bottom;
    border-radius: 4px;
}
#not-found .search-box input[type="search"] {
    width: 50%;
    padding: 10px;
    margin-top: 10px;
    font-size: 20px;
    height: 24px;
}
#not-found .search-box input[type="submit"] {
    background-color: #F54E4E;
    font-size: 36px;
    font-weight: bold; 
    width: 70px;
    color: #fff;
    height: 44px;
}    

@keyframes loading {
    from {background-color:#008690;}

    to{background-color:#b1f4f2;}
}


@media screen and (max-width: 1199px) {
    .share.home .icon {
        width: 40px;
        height: 40px;
    }
    .social-article h3 {
        font-size: 36px;
        line-height: 36px;
    }
    .social-article h4 {
        font-size: 24px;
        line-height: 22px;

    }
    .sticky.sidebar-sticky.bottom,
    .sticky.sidebar-sticky.is-stuck {
        width: 300px;
    }
    .header-ad {
        min-height: 270px;
        margin-left: -20px;
        margin-right: -20px;
    }
    .sidebar {
        padding-left: 20px;
    }
    .sidebar-item .email-signup h2 {
        font-size: 34px;
        line-height: 36px;}
    .sidebar-item .related-post .round-thumbnail {
        width: 40px;
        height: 40px;}
}
@media screen and (max-width: 1050px) {
    .side-share {
        display: none;
    }
}
@media screen and (min-width: 991px) {
    .single > .container {
        min-height: 1400px;
    }
    .single > .container ~ .container {
        min-height: 0px;
    }
}
@media screen and (max-width: 991px) {
    .mobile-only {
        display:block;
    }
    .share.home .icon {
        width: 30px;
        height: 30px;
    }
    .social-article h3 {
        font-size: 28px;
        line-height: 28px;
    }
    .social-article h4 {
        font-size: 15px;
        line-height: 15px;

    }
    .meta-share-bar {
        margin-left: -11px;
        margin-right: -11px;
    }
    .meta-share-bar .share-icons {
        display: inline-block;
        float: right;
    }
    .meta-share-bar .share-num {
        display: none;
    }
    .meta-share-bar .share-text {
        float: none;
    }
    .header-pulldown.pulldown-disabled,
    .mobile-header.pulldown-disabled .header-sharebar,
    .mobile-header.pulldown-disabled .pulldown-trigger {
        display: block !important;
    }
    .mobile-header.pulldown-disabled {
        top: 5px !important;
    }
    .header-pulldown #counter {
        top: 50px;
    }
    .header-pulldown p {
        display: none; }
    .header-bar .pulldown-trigger {
        padding: 0 5px;}
    .header-bar .pulldown-trigger .pulldown-image.large {
        display:none;
    }
    .header-bar .pulldown-trigger .pulldown-image.small {
        display:block;}
    .header-bar .pulldown-trigger .down-arrow {
        width: 14px;
        margin: auto;
        margin-top: -6px;
        display:block;}
    .header-pulldown .pulldown-section.side{
        display: block;
        text-align: center;
        width: 100%;}
    .header-pulldown .pulldown-section.side.right-text{
        padding-top: 0;
        margin-top: 20px;}
    .header-pulldown .pulldown-section.side.left-text{
        padding-top: 100px;}
    .header-pulldown .pulldown-section.center-image {
        position:absolute;
        top: 0;
        left: 0;
        right: 0;
        margin-top: 10px;
        width: auto;
        text-align: center;}
    .header-pulldown .pulldown-section.center-image img {
        width: 100px;}
    .header-pulldown .anchor-image.bottom {
        display:none;}
    .header-pulldown .anchor-image.cloud1 {
        left: -20px;
        top: 40px;
        width: 100px;}
    .header-pulldown .anchor-image.cloud2 {
        right: -20px;
        top: 40px;
        width: 100px;}
    .gray-fullwidth {
        display: none;
    }
    .banner .banner-heading span {
        display:block;
    }

     
    .header-item.icon {
        left: 0;
        background-size: 20px;
        background-color: #008A93;
    }
    .sidebar-wrapper {
        display: none; }
    .unbored-footer .unbored-bee {
        width: 40px;
        bottom: 50px;}
    .share .icon.large {
        padding-right: 40px;
        background-origin: padding-box;}
    .share .icon.large:after {
        display:none;}
    .header-bar .fixed-thumb {
        margin-left: 0;}
    .header-bar .fixed-sharebar .header-title {
        padding-left: 80px;
        padding-right: 300px}
    .header-bar .fixed-sharebar .header-title h2 {
        line-height: 18px;
        font-size: 14px;}
    .content-main {
        padding: 0;}
    .sub-articles {
        display: none;
    }
    .section.popular .featured-article {
        width: 100%;
    }
    .circle-container .bubble-title {
        font-size: 18px;
    }


}
@media screen and (min-width: 768px) and (max-height: 800px) {
    .bird-bomb {
        height: 120px;
        width: 105px;
    }
}
@media screen and (max-width: 768px) {
    .pro-co .content-post {
        padding: 0;
    }
    .popular,
    .selection-indicator {
        border-color: #ccc;
    }
    .popular {
        padding-top: 0;
    }
    .content-article h3 {
        font-size: 20px;
    }
    h2.article-heading {
        font-size: 24px;
        letter-spacing: 0px;
    }
    .share.home .icon {
        width: 70px;
        height: 70px;
    }
    .social-article h3 {
        font-size: 46px;
        line-height: 46px;
    }
    .social-article h4 {
        font-size: 26px;
        line-height: 26px;

    }
    .pagination .comments-toggle .comment-counter {
        display: none;
    }
    .header-bar .social-header-icons {
        display: none;
    }
    .share.mobile-share {
        display: block;
    }
    .share.mobile-share .icon.large:after {
        display:inline;
    }
    .pulldown-trigger {
        display: none !important;
    }
    .header-pulldown {
        display: none;
    }
    .header-bar {
        top: 0;
    }

    .pagination .share .icon.desktop-only {
        display: none;
    }
    .pagination .share .icon.dots-icon.desktop-only {
        display: block;
        width: 54px;
        float: right;}
    .pagination a.fb-share, .pagination a.fb-share {
        margin-right: 64px;
    }
    .pagination a.fb-share, .pagination a.fb-share::after {
        content:"Share";
    }

    .pagination .share.modal-share.active {
        display: block;}
	.white-bar {
		width: 100%;
		z-index: 2;}
	.container.sidepad {
		width: auto;
		padding: 0 10px;
	}
    .fullpage-overlay .close-modal {
        line-height: 40px;
        right: 20px;
        font-size: 40px;}
    .bird-bomb {
        margin-top: 10px;
        height: 115px;
        width: 100px;}
    .header-item.icon {
        background-size: 20px;
        background-color: #008A93;
        margin-left: -15px;}
    .header-item.fb-icon {
        margin-right: -5px;}
    .mobile-menu {
       overflow:scroll;
    }
    .unbored-footer {
        padding-bottom: 60px;}
    .fullpage-overlay .overlay-text {
        margin-top: 0px;}
    .fullpage-overlay h2,
    .header-pulldown h2 {
        font-size: 36px;
        line-height: 36px;
        padding: 0 10px;}
    .header-pulldown h3 {
        font-size: 26px;
        line-height: 26px;}
    .header-pulldown #counter {
        top: 33px;}
    .header-bar .fixed-sharebar .header-sharebar {
        margin-right: 20px;}
    .header-bar .fixed-sharebar {
        position: fixed;
        top: auto;
        left: 0;
        bottom: 0;}
    .slide-video {
        margin-left: -20px;
        margin-right: -20px;
    }
    .banner .banner-heading {
        font-size: 40px;
    }
    .bubbles {
        border-width: 2px;
    }
    .circle-container .bubble-title {
        font-size: 14px;
    }
    #leftmost,#top-right,#bottom-right {
        display:none;
    }
    .discover-by {
        width: 310px;
    }
    .discover a {
        color: #bcbcbc;
    }
    .discover.active a {
        color:#008690;
    }
    .discover:hover .popular-icon.star,
    .discover.active .popular-icon.star {
        background-image: url('img/star.svg'); 
    }
    .discover:hover .popular-icon.trending,
    .discover.active .popular-icon.trending {
        background-image: url('img/trending.svg'); 
    }
    .discover:hover .popular-icon.clock,
    .discover.active .popular-icon.clock {
        background-image: url('img/clock.svg'); 
    }
    .popular-icon.star {
        background-image: url('img/star_gray.svg'); 
    }
    .popular-icon.trending {
        background-image: url('img/trending_gray.svg'); 
    }
    .popular-icon.clock {
        background-image: url('img/clock_gray.svg'); 
    }
    .selection-indicator[data-active-tab="trending"] {
        margin-left: -106px;
    }
    .selection-indicator[data-active-tab="staff-picks"] {
        margin-left: 94px;
    }

}
@media(max-height: 550px) {
    .fullpage-overlay .overlay-text p {
        display: none; }
    .fullpage-overlay .bird-bomb {
        margin-top: 10px;
        height: 62.5px;
        width: 50px;
    }
    .fullpage-overlay h2 {
        font-size: 30px;
        line-height: 30px;
    }
    .fullpage-overlay h3 {
        font-size: 24px;
        line-height: 24px;
        margin: 10px 0;
    }
    .fullpage-overlay .footer-fb-icon {
        padding: 5px;}
    .unbored-footer {
        padding-bottom: 60px;}
}
@media (max-width: 550px) {
    #not-found .cloud-first {
        top: -40px;
        left: 10px;
    }
    #not-found .cloud-second {
        bottom: -100px;
        right: -30px;
        top: auto;
    }
    #not-found h1 {
        font-size: 200px;
        line-height: 170px;
    }
    #not-found h3 {
        font-size: 30px;
        line-height: 30px;
    }
    .share.home .icon {
        width: 60px;
        height: 60px;
    }
    .social-article h3 {
        font-size: 36px;
        line-height: 36px;
    }
    .social-article h4 {
        font-size: 24px;
        line-height: 26px;

    }
    .pagination .paginated-button.sticky.next {
        transition: none;
        z-index: 9999999;
    }
    .pagination .paginated-button.sticky.next.is-stuck {
        position: fixed !important;
        top: 65px;
        right: 11px;
        left: 11px;
        width: auto;
    }
    .pagination .paginated-button.sticky.next.bottom {
        position: absolute;
        top: auto;
        bottom: 0;
    }
    .pagination .paginated-button.prev {
        display: none !important;}
    .pagination .paginated-button.next {
        position: relative;
        max-width: 550px;
        padding: 17px 0;
        font-size: 20px;
        width: 100%;}
    .pagination .page-numbers {
        display: none;}
    .pagination .next-text {
        margin-right: 54px;
    }
    .next-wrapper {
        height: 54px;
        margin-bottom: 15px;
    }
    .pagination .next-text {
        display: inline;
    }
    .pagination .next-icon {
        width: 54px;
        height: 54px;
        line-height: 54px;
    }
    .share .icon.large:after {
        display:inline;
    }
    .header-bar .fixed-sharebar {
        height: 40px;
        background-color: rgba(0, 0, 0, 0);
    }
    .share .icon.large {
        background-origin: content-box;
    }

    .unbored-footer {
        padding-bottom: 44px;}
    .header-bar .fixed-sharebar .header-title {
        display: none;}
    .header-bar .fixed-sharebar .fixed-thumb {
        display: none;}
    .header-bar .header-sharebar.share .icon {
        margin-top: 0;
        opacity: 0.95;
        width: 17%;}
    .header-bar .header-sharebar.share .icon.large {
        padding-right: 14%;
        width: 32%;}
    .share .icon.large:after {
        padding-left:70%;}
    .header-bar .fixed-sharebar .header-sharebar {
        margin-right: 0;
        left: 0;}
    .fullpage-overlay input[type='submit'].signup,
    .fullpage-overlay input[type='email'].signup {
        padding: 12px;}
    .fullpage-overlay input[type='submit'].large-field,
    .fullpage-overlay input[type='email'].large-field {
        padding: 10px;
        font-size: 18px;
        display: block;
        width: 80%;
        margin:auto;
    }
    .fullpage-overlay input[type='email'].large-field {
        margin-bottom: 5px;}
    .author-like {
        display: none;}
    .circle-container .bubble-title {
        display: none;
    }

}
@media (max-width: 500px) {
    .quiz .email-quiz {
        margin-top: 0;
    }
    .quiz .email-quiz .button {
        padding: 15px 0;
    }
    .quiz input[type='text'], 
    .quiz input[type='email'] {
        font-size: 13px;
        padding: 15px;
    }
}

@media (max-width: 481px) {
    .hot-tag {
        width: 45px;
        height: 45px;
    }
    h2.article-heading {
        font-size: 20px;
    }
    .header-pulldown .pulldown-section.side.left-text {
        padding-top: 10px;
    }
    .header-pulldown .pulldown-section.side.right-text {
        padding-top: 0;
        margin-top: 0;
    }
    .header-pulldown .pulldown-section.center-image img {
        width: 50px;
    }
    .header-pulldown #counter {
        transform: scale(0.32);
        -ms-transform: scale(0.32);
        -webkit-transform: scale(0.32);
        -o-transform: scale(0.32);
        -moz-transform: scale(0.32);
        margin-left: -82px;
    }
    a.unbored-button,
    .unbored-button {
        padding: 8px;
        width: 150px;
        font-size: 14px;
    }
    .header-pulldown {
        top: -265px;
        height: 270px;
    }
    .pulldown-active {
        top: 270px; }
    #header .header-pulldown h2 {
        padding-bottom: 0;}
    .header-pulldown .pulldown-text-wrapper {
        margin-top: 40px;}
    .banner .banner-heading {
        font-size: 28px;
    }
}

@media (max-width: 410px) {
    .share.home .icon {
        width: 50px;
        height: 50px;
    }
    .pagination .share.modal-share {
        width: 200px;
        margin-top: -80px;
    }
    .pagination .share.modal-share .icon {
        margin-right: 10px;
        width: 40px;
        height: 40px;
        background-size: 40px;}
    .share.mobile-share {
        width: 80px;
    }
    .share.mobile-share .icon.large:after {
        padding-left: 80%;
    }
}
@media (max-width: 355px) {
    .share.home .icon {
        width: 45px;
        height: 45px;
    }
    .share.mobile-share {
        width: 40px;
    }
    .share.mobile-share .icon {
        padding: 0;
    }
    .share.mobile-share .icon.large:after {
        display:none;
    }
}
@media (max-width: 320px) {
	body {
		max-width: 320px;
		overflow: hidden;}
}
