@font-face {
  font-family: 'Terminal Dosis';
  font-style: normal;
  font-weight: 200;
  src: local('Dosis ExtraLight'), local('Dosis-ExtraLight'), url(http://fonts.gstatic.com/s/terminaldosis/v10/SwfduKDlxm7-vFPpKzhxuRKW9kAGzjjY40l656XuNMs.ttf) format('truetype');
}
@font-face {
  font-family: 'Terminal Dosis';
  font-style: normal;
  font-weight: 300;
  src: local('Dosis Light'), local('Dosis-Light'), url(http://fonts.gstatic.com/s/terminaldosis/v10/SwfduKDlxm7-vFPpKzhxuauuznd-hTom4EHJK8v7Jkw.ttf) format('truetype');
}
@font-face {
  font-family: 'Terminal Dosis';
  font-style: normal;
  font-weight: 400;
  src: local('Dosis Regular'), local('Dosis-Regular'), url(http://fonts.gstatic.com/s/terminaldosis/v10/_IcvjW_kWHsIHjjUsLbdpK_Xnf0piLoWncxghkIygyc.ttf) format('truetype');
}
@font-face {
  font-family: 'Terminal Dosis';
  font-style: normal;
  font-weight: 500;
  src: local('Dosis Medium'), local('Dosis-Medium'), url(http://fonts.gstatic.com/s/terminaldosis/v10/SwfduKDlxm7-vFPpKzhxuckF9hGo98MtZ2uvahGbmKc.ttf) format('truetype');
}
@font-face {
  font-family: 'Terminal Dosis';
  font-style: normal;
  font-weight: 600;
  src: local('Dosis SemiBold'), local('Dosis-SemiBold'), url(http://fonts.gstatic.com/s/terminaldosis/v10/SwfduKDlxm7-vFPpKzhxuR1yI46hF1uInOrMFLVeCEI.ttf) format('truetype');
}
@font-face {
  font-family: 'Terminal Dosis';
  font-style: normal;
  font-weight: 700;
  src: local('Dosis Bold'), local('Dosis-Bold'), url(http://fonts.gstatic.com/s/terminaldosis/v10/SwfduKDlxm7-vFPpKzhxudI3Mh32J8GZxkdcTb6BT4c.ttf) format('truetype');
}
@font-face {
  font-family: 'Terminal Dosis';
  font-style: normal;
  font-weight: 800;
  src: local('Dosis ExtraBold'), local('Dosis-ExtraBold'), url(http://fonts.gstatic.com/s/terminaldosis/v10/SwfduKDlxm7-vFPpKzhxuRXay-lYgcf1i0cvBfncivc.ttf) format('truetype');
}
