/* ######### Matt Black Strip Main Menu Bar CSS ######### */

.mattblackmenu ul{
margin: 0;
padding: 0;
font: bold 13px Arial,Verdana;
list-style-type: none;
overflow: hidden;
text-align: center;
}

.mattblackmenu li{
display: inline;
margin: 0;
}

.mattblackmenu li a{
float: left;
display: block;
text-decoration: none;
margin: 0;
padding: 5px; /*padding inside each tab*/
color: #CE6563;
}

.mattblackmenu li a:hover{
color: #FFFFFF;
background: #CE6563; /*background of tabs for hover state */
}

.mattblackmenu a:visited{
color: #CE6563;
background: transparent;
}

.mattblackmenu a.selected{
color: #FFFFFF;
background: #FF9933; /*background of tab with "selected" class assigned to its LI */
}