
#ysm_hotword_module2 .button, #ysm_hotword_module2 .button:visited {
	background: #222 repeat-x; 
	display: inline-block; 
	padding: 5px 10px 6px; 
	color: #fff; 
	text-decoration: none;
	-moz-border-radius: 6px; 
	-webkit-border-radius: 6px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer
}

#ysm_hotword_module2 .button:hover { 	background-color: #111; color: #fff;	}
#ysm_hotword_module2 .button:active {	top: 1px;	}
#ysm_hotword_module2 .button { font-size:12px;padding: 5px 10px 4px 10px;} 
#ysm_hotword_module2 .button:visited { font-size:12px;padding: 5px 10px 4px 10px;}
#ysm_hotword_module2 .large.button { font-size:12px;padding: 5px 10px 4px 10px;font-weight: bold; line-height: 1;}
#ysm_hotword_module2 .large.button:visited 	{	font-size: 12px;padding: 5px 10px 4px 10px;font-weight: bold; line-height: 1;}
													  
#ysm_hotword_module2 .pink.button, #ysm_hotword_module2 .pink.button:visited	{ 	background-color: #e22092;	}
#ysm_hotword_module2 .pink.button:hover						{ 	background-color: #c81e82;	}
	
#ysm_hotword_module2 .green.button, #ysm_hotword_module2 .green.button:visited	{ 	background-color: #05b505;	}
#ysm_hotword_module2 .green.button:hover						{ 	background-color: #749a02;	}
	
#ysm_hotword_module2 .red.button, #ysm_hotword_module2 .red.button:visited		{	background-color: #e62727;	}
#ysm_hotword_module2 .red.button:hover						{	background-color: #cf2525;	}
	
#ysm_hotword_module2 .orange.button, #ysm_hotword_module2 .orange.button:visited	{	background-color: #ff5c00;	}
#ysm_hotword_module2 .orange.button:hover					{ 	background-color: #d45500;	}
	
#ysm_hotword_module2 .blue.button, #ysm_hotword_module2 .blue.button:visited		{ 	background-color: #2981e4;	}
#ysm_hotword_module2 .blue.button:hover						{ 	background-color: #2575cf;	}

#ysm_hotword_module2 .yellow.button, #ysm_hotword_module2 .yellow.button:visited	{ 	background-color: #ccb333;	}
#ysm_hotword_module2 .yellow.button:hover					{ 	background-color: #e0cf7a;	}

#ysm_hotword_module2 .gray.button, #ysm_hotword_module2 .gray.button:visited	{ 	background-color: #777; 	}
#ysm_hotword_module2 .gray.button:hover						{ 	background-color: #4d4d4d; 	}
	

#ysm_hotword_module2 #title{
	font-size: 14px;
}
        
#ysm_hotword_module4 a {color: #3b8dbd;outline: 0 none;text-decoration: none;}
#ysm_hotword_module4 a:hover {color: #444;}
#ysm_hotword_module4 img {height: auto;max-width: 80px;}
#ysm_hotword_module4 a,a:before,a:after {transition-duration: 0.2s;transition-timing-function: ease;}
#ysm_hotword_module4 a img {transition: opacity 0.2s ease 0s;}
#ysm_hotword_module4 {font: 13px/1.231 arial;color: #333333;font-weight: normal;font-style: normal;}
#ysm_hotword_module4 h2 {float: left;width: 100px;font-size: 15px;margin: 0;margin-left: 4px;font-weight: bold;text-decoration: none;text-align: left;}
#ysm_hotword_module4 h2 a {text-decoration: none;font: bold 16px/22px'Helvetica Neue', Helvetica, Arial, STHeiti, 'Microsoft JhengHei', 微軟正黑體, sans-serif;}
#ysm_hotword_module4 ul {padding: 0;}
#ysm_hotword_module4 li {padding: 0px 2px 0px 2px ;display: inline-block;width: auto;line-height: 1;border-top: none;position: relative;}
#ysm_hotword_module4 li a {color: #07a;text-decoration: none;line-height: 1.4;font-family: 'Raleway', sans-serif;font-size: 12px;font-weight: 1400;letter-spacing: 0.1em;color: #ffffff;text-transform: uppercase;cursor: pointer;-webkit-border-radius: 4px;-moz-border-radius: 4px;-ms-border-radius: 4px;-o-border-radius: 4px;border-radius: 4px;display: -moz-inline-stack;display: inline-block;vertical-align: middle;zoom: 1;	width: 80px;}

#ysm_hotword_module4 .bd {}
#ysm_hotword_module4 .ysmImg {float: left;}
#ysm_hotword_module4 .ysmLink {border-top: none;overflow: hidden;text-align: left;float: left;	background-color: rgba(46, 46, 44, .07);box-shadow: 0 5px 5px -6px silver;border: 1px solid #e1e1e1;}
#ysm_hotword_module4 .ysmLink ul {margin: 0;}
.clearfix {*zoom: 1;}
.clearfix:before,.clearfix:after {display: table;line-height: 0;content: "";}
.clearfix:after {clear: both;}
#ysm_hotword_module4 .d2s {margin: 1px 8px 1px 7px;width: 80px;height: 80px;opacity: 0.85;float: left;box-shadow: 0 3px 8px rgba(0, 0, 0, 0.16);}
#ysm_hotword_module4 .d2s .title {line-height: 20px;height:20px;padding-left: 0px;padding-right: 0px;padding-top: 0;padding-bottom: 0;text-align: center;color: #fff;text-decoration: none;font-weight: normal;position: absolute;top: 60px !important;	width: 80px;	background: rgba(0, 0, 0, 0.65);}
        

#ysm_hotword_module5 a {color: #3b8dbd; text-decoration: none;}
#ysm_hotword_module5 a:hover {color: #444;}

#ysm_hotword_module5 a, a:before, a:after {transition-duration: 0.2s;transition-timing-function: ease;}
#ysm_hotword_module5 a img {transition: opacity 0.2s ease 0s;}

#ysm_hotword_module5 {font: 13px/1.231 arial;color: #333333;font-weight: normal;font-style: normal;display:inline-block;}

#ysm_hotword_module5 ul {list-style-type:disc ;padding: 0;}
#ysm_hotword_module5 li {
padding: 1px;
display:inline;
width: auto;
order-top: none;
color: #DD1100 !important;
}
#ysm_hotword_module5 li a {
white-space: nowrap;
padding: 2px 6px 1px !important;
font: 16px/25px 'ProximaNovaBold', Arial, Helvetica, sans-serif;
color: #DD1100;
text-align: center;
text-transform: uppercase;
margin: 1px 10px 0 0;
letter-spacing: 0px;
}
#ysm_hotword_module5 li a:hover {color: #3366FF;}

#ysm_hotword_module5 .ysmLink {
width: auto;
line-height: 18px;
margin-top: 3px;
border-top: none;
line-height: 4px;
overflow: hidden;
text-align: left;
float: left;
}
#ysm_hotword_module5 .ysmLink ul {
margin: 0;
}

#ysm_hotword_module6 { height:145px;padding:0px; margin:10px 10px 10px 10px;left:0px;top:0px;}

#ysm_hotword_module6 a {text-decoration: none;}

#ysm_hotword_module6 .sf_tab_content {border-left:1px solid #DDDDDD; border-right:1px solid #DDDDDD; border-bottom:1px  solid #DDDDDD; background-color:#FFFFFF; height:145px;}
#ysm_hotword_module6 #sftabhead {height:30px;}
#ysm_hotword_module6 .sf_tab_style1, #ysm_hotword_module6 .sf_tab_style2, #ysm_hotword_module6 .sf_tab_style3, #ysm_hotword_module6 .sf_tab_style4, #ysm_hotword_module6 .sf_tab_style5, #ysm_hotword_module6 .sf_tab_style6 {height:30px; }
#ysm_hotword_module6 .sf_tab_style1 a,#ysm_hotword_module6  .sf_tab_style2 a,#ysm_hotword_module6  .sf_tab_style3 a,#ysm_hotword_module6  .sf_tab_style4 a,#ysm_hotword_module6  .sf_tab_style5 a,#ysm_hotword_module6  .sf_tab_style6 a {color:#505050; font-weight:bold; font-size:15px; height:30px; padding-top:5px !important; padding-bottom:5px !important; max-height:none;}
#ysm_hotword_module6 .sf_tab_style1.active a,#ysm_hotword_module6  .sf_tab_style2.active a,#ysm_hotword_module6  .sf_tab_style3.active a,#ysm_hotword_module6  .sf_tab_style4.active a,#ysm_hotword_module6  .sf_tab_style5.active a,#ysm_hotword_module6  .sf_tab_style6.active a {border-bottom:0px !important;}
#ysm_hotword_module6 .sf_tab_style1,#ysm_hotword_module6  .sf_tab_style1.active a {filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6e3f0', endColorstr='#f2bee2',GradientType=0 ); background: -webkit-linear-gradient(top, #F5F5F5 0%,#F5F5F5 100%);}
#ysm_hotword_module6 .sf_tab_style2,#ysm_hotword_module6  .sf_tab_style2.active a {filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9fbff', endColorstr='#c2d6ff',GradientType=0 ); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F5F5F5), color-stop(100%,#F5F5F5)) !important;}
#ysm_hotword_module6 .sf_tab_style3,#ysm_hotword_module6  .sf_tab_style3.active a {filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#effbfd', endColorstr='#bdeefa',GradientType=0 ); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F5F5F5), color-stop(100%,#F5F5F5)) !important;}
#ysm_hotword_module6 .sf_tab_style4,#ysm_hotword_module6  .sf_tab_style4.active a {filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f9ef', endColorstr='#d0eccb',GradientType=0 ); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F5F5F5), color-stop(100%,#F5F5F5)) !important;}
#ysm_hotword_module6 .sf_tab_style5,#ysm_hotword_module6  .sf_tab_style5.active a {filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faf8f3', endColorstr='#ece1cb',GradientType=0 ); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F5F5F5), color-stop(100%,#F5F5F5)) !important;}
#ysm_hotword_module6 .sf_tab_style6,#ysm_hotword_module6  .sf_tab_style6.active a {filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faf1f2', endColorstr='#eccbd1',GradientType=0 ); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F5F5F5), color-stop(100%,#F5F5F5)) !important;}


#ysm_hotword_module6 .sf_tab_main .nav li {display:table-cell !important;}

#ysm_hotword_module6 .sf_tab_font { width:134px; height:46px; padding:0px 0px 0px 8px; font:13px/1.231 arial,helvetica,clean,sans-serif; font-family: arial, helvetica, clean, sans-serif; color: #059; text-decoration: none; } 
#ysm_hotword_module6 .img_modify { width:130; height:85; padding:11px 0px 5px 6px;}

        
#ysm_hotword_module7 a {
    color: #3b8dbd;
    outline: 0 none;
    text-decoration: none;
}
#ysm_hotword_module7 a:hover {
    color:#3366FF;
}
#ysm_hotword_module7 img {
    height: auto;
    max-width: 100%;
}
#ysm_hotword_module7 a, a:before, a:after {
    transition-duration: 0.2s;
    transition-timing-function: ease;
}
#ysm_hotword_module7 a img {
    transition: opacity 0.2s ease 0s;
}

#ysm_hotword_module7 {
	font: 13px/1.231 arial;
	color: #333333;
	font-weight: normal;
	font-style: normal;
}

#ysm_hotword_module7 h2 {
	float: left;
	width: 100px;
	font-size: 15px;
	margin: 0;
	margin-left: 4px;
	font-weight: bold;
	text-decoration: none;
	text-align: left;

}
#ysm_hotword_module7 h2 a {
	text-decoration: none;
	font: bold 16px/22px'Helvetica Neue', Helvetica, Arial, STHeiti, 'Microsoft JhengHei', 微軟正黑體, sans-serif;
	color: #EE0000;
}
#ysm_hotword_module7 ul {
	padding: 0;
}
#ysm_hotword_module7 li {
	padding: 2px 1px 0px 1px;
	width: auto;

	/*	background: url(https://s.yimg.com/f/i/tw/hp/spirit/dotted_v1.gif) 0 0 repeat-y;*/
	border-top: none;
}
#ysm_hotword_module7 li a {
	white-space: nowrap;
	padding: 4px 6px 2px !important;
	font: 15px 'ProximaNovaBold', Arial, Helvetica, sans-serif;
	color: #000000;
	text-align: center;
	text-transform: uppercase;
	margin: 3px 3px 0 0;
	text-decoration: none;
	
}
#ysm_hotword_module7 li a:hover {
	color: #3366FF;
	
}

#ysm_hotword_module7 .bd {
	background-color: rgba(46, 46, 44, .07);
	padding: 3px 5px 8px 8px;
	box-shadow: 0 5px 5px -6px silver;
	border: 1px solid #e1e1e1;
}
#ysm_hotword_module7 .ysmBlock {
	width: 50%;
	float: left;
	display: block;
	margin: 5px 0 0 0;
}
#ysm_hotword_module7 .ysmBlock img {
	float: left;
	width: 85px;
}
#ysm_hotword_module7 .ysmImg {
	float: left;
	width: 25%;
}
#ysm_hotword_module7 .ysmLink {
	width: 75%;
	line-height: 14px;
	margin-top: 0px;
	border-top: none;
	line-height: 4px;
	overflow: hidden;
	text-align: left;

}
#ysm_hotword_module7 .ysmLink ul {
	margin: 0;
}
.clearfix {
	*zoom: 1;
}
.clearfix:before,
.clearfix:after {
	display: table;
	line-height: 0;
	content: "";
}
.clearfix:after {
	clear: both;
}


#ysm_hotword_module8 a {
    color: #3b8dbd;
    outline: 0 none;
    text-decoration: none;
}
#ysm_hotword_module8 a:hover {
    color: #444;
}
#ysm_hotword_module8 img {
    height: auto;
    max-width: 100%;
}
#ysm_hotword_module8 a, a:before, a:after {
    transition-duration: 0.2s;
    transition-timing-function: ease;
}
#ysm_hotword_module8 a img {
    transition: opacity 0.2s ease 0s;
}

#ysm_hotword_module8 {
	font: 13px/1.231 arial;
	color: #333333;
	font-weight: normal;
	font-style: normal;
}

#ysm_hotword_module8 .title {
	width: 200px;
	font-size: 15px;
	margin: 0;
	margin-left: 4px;
	font-weight: bold;
	text-decoration: none;
	text-align: left;

}
#ysm_hotword_module8 .title a {
	text-decoration: none;
	font: bold 16px/22px'Helvetica Neue', Helvetica, Arial, STHeiti, 'Microsoft JhengHei', 微軟正黑體, sans-serif;
	color:#215DA9;
}
#ysm_hotword_module8 ul {
	padding: 0;
}
#ysm_hotword_module8 li {
	padding: 3px 1px 3px 1px;
	width: auto;

	/*	background: url(https://s.yimg.com/f/i/tw/hp/spirit/dotted_v1.gif) 0 0 repeat-y;*/
	border-top: none;
}
#ysm_hotword_module8 li a {
	white-space: nowrap;
	padding: 2px 6px 1px !important;
	font: 15px 'ProximaNovaBold', Arial, Helvetica, sans-serif;
	color: #0022EE;
	text-align: center;
	text-transform: uppercase;
	margin: 3px 3px 0 0;
	text-decoration: underline;
	
}
#ysm_hotword_module8 li a:hover {
	color: #DD1100;
	
}

#ysm_hotword_module8 .bd {
	background-color: rgba(46, 46, 44, .07);
	padding: 3px 5px 8px 8px;
	box-shadow: 0 5px 5px -6px silver;
	border: 1px solid #e1e1e1;
}
#ysm_hotword_module8 .ysmBlock {
	margin: 5px 0 0 0;
}
#ysm_hotword_module8 .ysmBlock img {
	float: left;
	width: 85px;
}
#ysm_hotword_module8 .ysmImg {
	float: left;
	width: 85px;
}
#ysm_hotword_module8 .ysmLink {
	line-height: 14px;
	margin-top: 0px;
	border-top: none;
	line-height: 4px;
	overflow: hidden;
	text-align: left;

}
#ysm_hotword_module8 .ysmLink ul {
	margin: 0;
}
.clearfix {
	*zoom: 1;
}
.clearfix:before,
.clearfix:after {
	display: table;
	line-height: 0;
	content: "";
}
.clearfix:after {
	clear: both;
}