/*  WBB3 Style Sheet
    --------------------------------------------------------------
	Style name:		     WBB3
	Modified by:		 ND @ Warez-BB.org
	Copyright:			 Warez-BB, ND and the Development Team
    --------------------------------------------------------------
*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li fieldset,form,label,legend,caption{list-style-type:none;border:0;font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0;}a,a:focus,a:active,a:selected,input[type=submit],input[type=button],embed,object,option:selected,select:selected{outline:none;-moz-outline-style:none;}input::-moz-focus-inner,embed::-moz-focus-inner,object::-moz-focus-inner,select::-moz-focus-inner,option::-moz-focus-inner,a::-moz-focus-inner,a::-moz-focus-inner{outline:none;border:none;}body{line-height:1;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:none;}ins{text-decoration:none;}del{text-decoration:line-through;}table{border-collapse:collapse;border-spacing:0;}select,option,input:focus,textarea:focus,a:focus,a:active{outline:none;}

.alert-icon, .info-icon, .cog-icon, .messages-icon, .chat-icon, .members-icon, .faq-icon, .search-icon, .logout-icon, .login-icon, .register-icon, .list-header, .flash-icon, .media-icon, .schedule-icon, .cat-row input[type=submit], .cat-row .collapse .icon, .cat-row .expand .icon, input[type=button], input[type=submit], input[type=reset], .but, #users-online .whos-online-icon, #users-online .statistics-icon, .slide-arrow .arrow, #top-footer .collapse .icon, #top-footer .expand .icon, .breadcrumbs .home .icon, .breadcrumbs .divider, .panel .leaf .icon, .tools .cap-date, .poll-bar > div, .report-post .submit-report, .last-post .sub-last-post, .dropdown li a, #messages .counter, .postrow .report-post .arrow, #profile .arrow-overlap {
	background-image: url("//img11.warez-bb.org/wbb3_theme/images/wbb3/sprites.png");
	background-repeat: no-repeat;	
}

html, body {
	font: 12px Tahoma, Geneva, sans-serif;
	background-color: #FFF;
	color: #2F3B48;	
}

input, .but {
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
}

input[type=text], input[type=password], .inputbox, textarea {
	background-color: #FFF;
	padding: 5px;
	font: 12px Verdana, Arial, Helvetica, sans-serif;
	width: 180px;
	vertical-align: middle;
	margin: 0 1px 1px;
}

select, input[type=text], input[type=password], textarea, .main-legend legend {
	border: 1px #999 solid;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

textarea {
	resize: vertical;
	margin: 0 1px 1px;
	min-height: 90px;	
}

input[type=submit], input[type=button], input[type=reset], input[type=submit][disabled=disabled]:active, input[type=button][disabled=disabled]:active, input[type=reset][disabled=disabled]:active, input[type=submit]:disabled:active, input[type=button]:disabled:active, input[type=reset]:disabled:active, .but, .pagination-links a, .pagination-links b {
	font-weight: bold;
	display: inline-block;
	font-size: 12px;
	text-decoration: none;
	background-color: #EEE;
	background-position: 0 -178px;
	background-repeat: repeat-x;
	text-shadow: 0 1px #FFF;
	font-weight: bold;
	padding: 4px 8px;
	position: relative;
	overflow: hidden;
	color: #333;
	border: 1px #AAA solid;
	-moz-box-shadow: inset 0 12px #FFF, 0 1px 2px #BBB;
	-webkit-box-shadow: inset 0 12px #FFF, 0 1px 2px #BBB;
	box-shadow: inset 0 12px #FFF, 0 1px 2px #BBB;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	vertical-align: middle;
	margin: 0 2px 2px;
	line-height: 1;
}

input[type=submit]:hover, input[type=button]:hover, input[type=reset]:hover, select:hover, input[type=radio], input[type=checkbox], .but:hover, label:hover, .pagination-links a:hover {
	cursor: pointer !important;
	text-decoration: none;
	color: #000;
}

input[type=submit]:active, input[type=button]:active, input[type=reset]:active, .but:active, input.active-button, .pagination-links a:active, .pagination-links .active-button, #faq .main-links .but:active {
	padding: 5px 8px 3px;
	-moz-box-shadow: inset 0 1px 3px #BBB, 0 1px #FFF;
	-webkit-box-shadow: inset 0 1px 3px #BBB, 0 1px #FFF;
	box-shadow: inset 0 1px 3px #BBB, 0 1px #FFF;
}

input[type=text], input[type=password], textarea, select, .input-shadow {
	-moz-box-shadow: inset 0 1px #FFF, inset 0 1px 2px #CCC, 0 1px rgba(255, 255, 255, 0.9);
	-webkit-box-shadow: inset 0 1px #FFF, inset 0 1px 2px #CCC, 0 1px rgba(255, 255, 255, 0.9);
	box-shadow: inset 0 1px #FFF, inset 0 2px 3px #CCC, 0 1px rgba(255, 255, 255, 0.9);	
}

select {
	padding: 5px;
	margin: 0 1px 1px;
}

.but {
	display: inline-block;
	padding: 5px 8px 6px;	
}

.but:hover {
	color: #000;	
}

.but:active {
	padding: 6px 8px 5px;
}

a {
	text-decoration: none;
	color: #2F3B48;
}

a:hover, .topicrow .description a:visited {
	color: #5E7793;
	cursor: pointer !important;
}

.wrap {
	margin: 0 auto;
	width: 98%;	
}

.gensmall {
	font-size: 10px;	
}

.genmed {
	font-size: 11px;	
}

.genlarge {
	font-size: 12px;	
}

.valign {
	vertical-align: middle;	
}

.centered {
	text-align: center;	
}

.clear, .clear-min {
	clear: both;	
}

.clear-min {
	margin-bottom: 5px;
}

.alert-icon, .info-icon, .cog-icon, .messages-icon, .chat-icon, .members-icon, .faq-icon, .search-icon, .logout-icon, .login-icon, .register-icon, .flash-icon, .media-icon, .schedule-icon, .leaf .icon {
	height: 16px;
	width: 16px;
	display: inline-block;
	vertical-align: middle;	
}

.alert-icon, .info-icon {
	height: 14px;
	width: 14px;
	margin-right: 2px;	
}

.info-icon {
	background-position: -15px 0;	
}

.cog-icon {
	background-position: 0 -84px;
}

.messages-icon {
	background-position: -17px -84px;
}

.chat-icon {
	background-position: -34px -84px;
}

.members-icon {
	background-position: -51px -84px;
}

.faq-icon {
	background-position: -68px -84px;
}

.search-icon {
	background-position: -85px -84px;	
}

.logout-icon {
	background-position: 0 -67px;
}

.login-icon {
	background-position: -34px -67px;
}

.register-icon {
	background-position: -17px -67px;
}

.flash-icon, .media-icon, .schedule-icon {
	height: 17px;
	width: 17px;	
}

.flash-icon {
	background-position: -30px 0;
	margin-left: 5px;
}

.media-icon {
	background-position: -48px 0;
}

.schedule-icon {
	background-position: -66px 0;
}

.info-icon, .cog-icon, .messages-icon, .chat-icon, .members-icon, .faq-icon, .search-icon, .logout-icon, .login-icon, .register-icon {
	margin-right: 2px;	
}

#javascript-error {
	display: block;
	text-align: center;
	font-weight: bold;
	padding: 14px 0;
}

#infobar, #infobar a {
	color: #FFF;
}

#infobar {
	font-weight: bold;
	font-size: 11px;
	overflow: hidden;
	background-color: #353F4B;
	border-bottom: 1px #0B1016 solid;
	height: 23px;
}

#infobar .global-message, #infobar .forum-rules {
	text-shadow: 0 1px #000;
	background: url("//img11.warez-bb.org/wbb3_theme/images/wbb3/red-grad.gif") repeat-x;
	float: left;
	height: 23px;
	line-height: 21px;
	padding: 0 7px;	
}

#infobar .forum-rules {
	background: none;	
}

#infobar .site-links {
	float: right;	
}

#infobar .forum-rules a, #infobar .site-links, #infobar .site-links a {
	color: #ADBACB;	
}

#infobar .forum-rules a:hover {
	color: #FFF;	
}

.site-links li {
	float: left;	
}

#infobar .site-links li a {
	height: 23px;
	display: block;
	line-height: 21px;
	padding: 0 8px;	
}

#infobar .site-links li a:hover {
	color: #ADBACB;
	background-color: #5A6570;	
}

#header-wrapper {
	display: table;
	border-bottom: 1px #E0E0E0 solid;
}

#header {
	position: relative;
	overflow: hidden;
	background: url("//img11.warez-bb.org/wbb3_theme/images/wbb3/headerbar.gif") repeat-x;
	display: table-row;
}

#header * {
	line-height: 1;
	vertical-align: middle;	
}

#wadio-info {
	height: 18px;
	position: absolute;
	top: 24px;
	right: 0;
	font-size: 11px;
	background-color: #D5D5D5;
	border-left: 1px #CCC solid;
	border-bottom: 1px #CCC solid;
	padding: 4px 4px 4px 8px;
	-moz-border-radius: 0 0 0 5px;
	-webkit-border-radius: 0 0 0 5px;
	border-radius: 0 0 0 5px;
	opacity: 0.4;	
	z-index: 2;
}

#wadio-info {
	-moz-box-shadow: 0 1px #FFF;
	-webkit-box-shadow: 0 1px #FFF;
	box-shadow: 0 1px #FFF;	
}

#wadio-info > div {
	float: left;	
}

#wadio-info .playing {
	padding: 1px 3px 0 0;	
}

#playing-song {
	font-weight: bold;	
}

#playing-song:hover {
	text-decoration: underline;	
}

#links-text {
	padding: 3px 10px;	
}

#header > div {
	display: table-cell;
}

#header .header {
	padding-top: 14px;	
}

#logo, #right-logo {
	/*width: 30%;
	min-width: 290px;*/	
}

#logo img, #right-logo img {
	height: 99px;	
}

#slogan {
	width: 100%;
	/*width: 40%;*/
	text-align: center;
	text-shadow: 0 1px #FFF;
}

#slogan .sub-text {
	margin: 5px 0;	
}

#header #slogan .sub-text * {
	vertical-align: bottom;	
}

#slogan h2, #user-unlogged h2 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 18px;
}

#header #right-logo {
	text-align: right;
}

#navigation {
	background: url("//img11.warez-bb.org/wbb3_theme/images/wbb3/navbar.png") repeat-x;
	height: 27px;
	border-top: 1px #F7F7F7 solid;
	border-bottom: 2px #EB9135 solid;
	margin-bottom: 12px;
	-moz-box-shadow: 0 3px 4px #EEE;
	-webkit-box-shadow: 0 3px 4px #EEE;
	box-shadow: 0 3px 4px #EEE;
}

#navigation ul {
	list-style: none;	
}

#navigation li {
	background: url("//img11.warez-bb.org/wbb3_theme/images/wbb3/seperator.png") right no-repeat;
	color: #353F4B;
	float: left;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	font-weight: bold;
	height: 26px;
	line-height: 24px;
	padding: 0 12px 0 10px;
	text-shadow: 0 1px #FFF;	
}

#navigation #messages {
	position: relative;
	padding-left: 17px;	
}

#messages .counter {
	background-position: 0 -500px;
	position: absolute;
	font-size: 9px;
	text-align: center;
	line-height: 120%;
	color: #FFF;
	padding: 1px 4px 2px;
	text-shadow: 0 1px #000;
	border: 1px #C89D7A solid;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	-moz-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5);
	-webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5);
	box-shadow: inset 0 1px rgba(255, 255, 255, 0.5);
	top: 3px;
	left: 6px;
}

#user-logout:after {
	content: " ";
	margin-left: 3px;	
}

#user-logout + a {
	vertical-align: bottom;
	padding-right: 3px;
}

#new-pm, #javascript-error, .errorline, .postrow .post-report, #revive-topic {
	color: #FFF;
	background-color: #D3262A;
	border: 1px #AB1D21 solid;
	text-decoration: none;
	text-align: center;
	padding: 10px 0;
	margin: 15px 0;
	font-weight: bold;
	text-shadow: 0 1px #000;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 0 2px 2px #DDD, inset 0 1px rgba(255, 255, 255, 0.5);
	-webkit-box-shadow: 0 2px 2px #DDD, inset 0 1px rgba(255, 255, 255, 0.5);
	box-shadow: 0 2px 2px #DDD, inset 0 1px rgba(255, 255, 255, 0.5);
}

#new-pm:hover, #revive-topic:hover {
	cursor: pointer;
	background-color: #D7252A;	
}

.errorline {
	margin: 0 10px 20px;	
}

.errorline br, .pagination-links br, .date .user br, .report-form .reason-row .gensmall br {
	display: none;	
}

.errorline a {
	color: #F3F3F3;
}

.errorline a:hover {
	color: #FFF;
}

#navigation ul ul {
	background-color: #EEE;
	border: 1px #D8D8D8 solid;
	border-top: none;
	display: none;
	margin: 0 0 0 -11px;
	position: absolute;
	-moz-box-shadow: 0 2px 2px #CCC;
	-webkit-box-shadow: 0 2px 2px #CCC;
	box-shadow: 0 2px 2px #CCC;
	-moz-border-radius: 0 0 3px 3px;
	-webkit-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
	padding: 2px 0;
	overflow: hidden;
	z-index: 2;
}

#navigation .dropdown:hover ul {
	display: block;	
}

#navigation .dropdown li {
	background: none;
	float: none;
	padding: 0;
	margin: 0;	
}

#navigation .non-user {
	line-height: 26px;	
}

.dropdown li a {
	line-height: normal;
	display: block;
	background-position: 1px -457px;
	background-repeat: no-repeat;
	padding: 6px 14px 6px 16px;
}

.dropdown li a:hover {
	background-color: #F8F8F8;
	color: #2F3B48;	
}

#navigation .right-nav {
	float: right;	
}

#navigation .right-nav li {
	background-position: left;	
}

#user-unlogged {
	text-align: center;
	padding: 10px 0 5px;	
}

#user-unlogged h2 {
	margin: 0 0 3px;	
}

#description {
	text-align: center; 
	padding: 10px 0;
}

.main-legend {
	background: #EEE;
	color: #2F3B48;
	padding: 6px 8px;
	margin: 20px 0 10px;
	overflow: hidden;
	font-size: 11px;
	border: 1px #D5D5D5 solid;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#general {
	overflow: hidden;
	font-size: 11px;
}

#general .visit-times {
	float: left;
}

#general .board-links {
	float: right;
	text-align: right;	
}

#general .visit-times > span, #general .board-links > span {
	display: block;
}

.list-wrap, .cat-row {
	font-family: Verdana, Helvetica, Arial, sans-serif;
}

.list-wrap .list-header, #faq .list-wrap .list-header:first-child {
	background-color: #596471;
	background-position: 0 -26px;
	background-repeat: repeat-x;
	overflow: hidden;
	-moz-border-radius: 5px 5px 0 0;
	-moz-box-shadow: inset 0 2px rgba(255, 255, 255, 0.2), inset 0 1px #626970;
	-webkit-border-radius: 5px 5px 0 0;
	-webkit-box-shadow: inset 0 2px rgba(255, 255, 255, 0.2), inset 0 1px #626970;
	border-radius: 5px 5px 0 0;
	box-shadow: inset 0 2px rgba(255, 255, 255, 0.2), inset 0 1px #626970;
}

.list-header > div {
	height: 26px;
	line-height: 25px;
	font-weight: bold;
	font-size: 11px;
	color: #FFF;
	text-shadow: 0 1px #000;
	float: left;
}

.list-header > div > span, tr.list-header span {
	display: block;
	padding: 0 9px;
	text-align: center;
	font-weight: bold;
	font-size: 11px;
	color: #FFF;
	text-shadow: 0 1px #000;
}

tr.list-header span {
	padding: 5px 9px;
}

.list-header .forums, .list-header .forum, .row .forums, .row .description, .row .forum {
	width: 62%;
}

.list-header .short-description {
	width: 52%;	
}

.list-header .posts, .row .posts, .list-header .topics, .row .topics, .list-header .views {
	width: 10%;
}

.list-header .last-post, .row .last-post {
	width: 18%;
}

.cat-row, table .cat {
	background-color: #CBD5E4;
	border-top: 1px #FFF solid;
	border-bottom: 1px #A2B2CC solid;
	position: relative;
	font-size: 11px;
	font-weight: bold;
	width: 100%;
}

.cat-row {
	display: block;	
}

.cat-row > span {
	display: block;
	font-weight: bold;
	text-shadow: 0 1px #EEE;
	line-height: normal;
	margin: 5px 8px;	
}

.cat-row .forum-tools {
	position: absolute;
	top: 0;
	right: 0;
}

.cat-row .forum-search {
	border-right: 1px #E4E9F1 solid;
	padding: 3px 5px;
}

.cat-row .collapse, .cat-row .expand {
	border-left: 1px #A2B2CC solid;
	padding: 3px 3px 3px 2px;	
}

.cat-row .collapse:hover, .cat-row .expand:hover, #top-footer .icon:hover, .cat-row input[type=submit]:hover {
	cursor: pointer;
}

.cat-row .collapse .icon, .cat-row .expand .icon {
	background-position: -68px -70px;
	margin: 3px 3px 3px 5px;
	height: 13px;
	width: 13px;	
}

.cat-row .expand .icon {
	background-position: -51px -70px;
}

.cat-row input {
	float: left;
	margin: 0;
	-moz-box-shadow: 0 1px rgba(255, 255, 255, 0.5);
	-webkit-box-shadow: 0 1px rgba(255, 255, 255, 0.5);
	box-shadow: 0 1px rgba(255, 255, 255, 0.5);	
	font-size: 10px;
}

.cat-row > div > div {
	float: left;	
}

.cat-row input[type=text] {
	height: 18px;
	color: #516A88;
	background: #DEE6EF url("//img11.warez-bb.org/wbb3_theme/images/wbb3/search-icon.gif") 4px center no-repeat;
	border: 1px #A5ADB9 solid;
	border-right: none;
	padding: 0 0 0 22px;
	-moz-border-radius: 3px 0 0 3px;	
	-webkit-border-radius: 3px 0 0 3px;	
	border-radius: 3px 0 0 3px;	
}

.cat-row input[type=submit] {
	padding: 0 4px;
	font-weight: bold;
	color: #FFF;
	text-shadow: 0 1px #000;
	background-position: 0 -140px;
	background-repeat: repeat-x;
	border: 1px #A1571E solid;
	-moz-border-radius: 0 3px 3px 0;
	-webkit-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
	height: 18px;
}

.cat-row input[type=submit]:hover {
	background-position: 0 -312px;	
}

.cat-row input[type=submit]:active {
	padding: 2px 5px 1px;	
}

.row, .topicrow, .subforumrow {
	overflow: hidden;
	display: table-row;
}

.row > div, .topicrow > div, .subforumrow > div {
	display: table-cell;
}

.row .icon, .row .description, .row .topics, .row .posts, .row .last-post, .topicrow .forum, .topicrow .icon, .topicrow .description, .topicrow .topics, .topicrow .posts, .topicrow .views, .topicrow .last-post, tr.row td {
	background-color: #E3E9F0;
	vertical-align: middle;
	font-size: 10px;
}

.row > div > span, .topicrow > div > span {
	display: block;
	margin: 5px 5px;
	position: relative;
}

.topicrow > div.icon > span {
	margin: 5px 0;
}

.description .highlighter, .name .highlighter {
	position: absolute;
	display: block;
	top: 0;
	right: 0;
	background-color: #D40;
	font-weight: bold;
	font-size: 9px;
	text-shadow: 0 1px #333;
	padding: 1px 3px 3px;
	color: #FFF;
	-moz-border-radius: 2px;	
	-webkit-border-radius: 2px;	
	border-radius: 2px;
	-moz-box-shadow: 0 1px #FFF;
	-webkit-box-shadow: 0 1px #FFF;
	box-shadow: 0 1px #FFF;	
}

.name .highlighter {
	top: 6px;	
}

.row .icon, .topicrow .icon, .topicrow .forum {
	width: 3%;
	text-align: center;
	border-bottom: 1px #BCCEE2 solid;
	border-right: 1px #BCCEE2 solid;
	border-top: 1px #F1F4F7 solid;
}

.row .description, .topicrow .description {
	width: 59%;
	position: relative;
	border-bottom: 1px #BCCEE2 solid;
	border-left: 1px #F2F3F6 solid;
	border-top: 1px #F2F3F6 solid;
}

.topicrow .description {
	width: 49%;	
}

.row .topics, .row .posts, .row .last-post, .topicrow .topics, .topicrow .posts, .topicrow .last-post, .topicrow .views, .topicrow .forum, .blank {
	text-align: center;
	background-color: #EDF1F5;
}

.blank {
	padding: 15px 0;	
}

.topicrow .forum {
	padding: 0 5px;
}

.row .topics, .row .posts, .row .last-post, .topicrow .topics, .topicrow .posts, .topicrow .last-post, .topicrow .views {
	border-bottom: 1px #E3E9F0 solid;
	border-right: 1px #E3E9F0 solid;
}

.row .topics, .row .posts, .topicrow .topics, .topicrow .posts, .topicrow .views, .subforumrow .topics, .subforumrow .posts {
	width: 10%;
	color: #536482;
	font-weight: bold;
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
}

.row .last-post, .topicrow .last-post {
	width: 18%;
	line-height: 18px;
	color: #000;
}

.topicrow .description > span {
	margin-top: 2px;
	position: relative;
}

.subforumrow {
	background-color: #EDF1F5;
}

.subforumrow > div {
	font-size: 11px;
	vertical-align: middle;
}

.subforumrow .icon {
	width: 3%;	
}

.subforumrow .name {
	width: 59%;
	font-size: 11px;
	line-height: 16px;
	position: relative;
}

.subforumrow .name > span {
	position: relative;
	display: block;	
}

.subforumrow .name .highlighter {
	line-height: 1;
	top: 1px;
	right: 5px;
	padding-bottom: 4px;
}

.subforumrow .topics, .subforumrow .posts {
	width: 10%;
	text-align: center;
	font-weight: bold;
}

.subforumrow > div {
	padding: 2px 0;
	border-top: 1px #FFF solid;
	border-bottom: 1px #DCE4EB solid;
}

.subforumrow .last-post {
	width: 18%;
	text-align: center;
}

.list-rows .subforumrow .last-post > div {
	background: none;
}

.subforumrow .icon > span {
	text-align: center;
	display: block;
	margin-top: 2px;
}

.forumtitle, .topictitle {
	color: #2F3B48;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: -0.1px;
	font-family: Verdana, Helvetica, sans-serif;
}

.row:hover .icon, .row:hover .description, .topicrow:hover .forum, .topicrow:hover .icon, .topicrow:hover .description {
	background-color: #EDF1F5;	
}

.row:hover .topics, .row:hover .posts, .row:hover .last-post, .topicrow:hover .topics, .topicrow:hover .posts, .list-rows .topicrow:hover .last-post > div, .topicrow:hover .views {
	background-color: #F4F6F9;
}

.topicrow:hover .last-post, .topicrow:hover .forum {
	background-color: #F4F6F9;
}

.topicrow .topics > span, .topicrow .posts > span, .topicrow .views > span, .topicrow .last-post > span {
	font-size: 10px;
}

.list-rows .topicrow .last-post > div {
	color: #536482;
	background-color: #E3E9F0;
}

.list-rows .last-post > div, .list-rows .last-post a {
	font-size: 10px;	
}

.last-post .sub-last-post {
	display: inline-block;
	background-position: -88px -270px;
	width: 12px;
	height: 11px;
	vertical-align: middle;
	margin-left: 2px;
}

.topicrow .last-post {
	border-bottom: 1px #BCCEE2 solid;
	border-right: 1px #BCCEE2 solid;
	border-left: 1px #FFF solid;
	border-top: 1px #FFF solid;
}

.topicrow .topic-description, .topicrow .pagination {
	display: block;	
}

.topicrow .pagination {
	margin-top: 2px;	
}

.topicrow .pagination img {
	margin-right: 3px;	
}

.topicrow a + .title {
	margin-left: 2px;
}

.breadcrumbs {
	border: 1px #CBD5E4 solid;
	background-color: #DDE4EC;	
	height: 33px;
	margin: 10px 0;
	overflow: hidden;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	font-weight: bold;
	font-size: 11px;
}

.breadcrumbs > a:first-child {
	border-radius: 4px 0 0 4px;	
}

.breadcrumbs, .breadcrumbs .breadcrumb, .breadcrumbs .home {
	-moz-box-shadow: inset 0 1px #FBFCFC;
	-webkit-box-shadow: inset 0 1px #FBFCFC;
	box-shadow: inset 0 1px #FBFCFC;
	text-shadow: 0 1px #FFF;	
}

.breadcrumbs > * {
	height: 33px;
	float: left;	
}

.breadcrumbs .breadcrumb {
	display: block;
	background-color: #ECF0F4;
	padding: 0 12px;
	line-height: 33px;	
}

.breadcrumbs .divider:last-child {
	background-position: -79px -258px;
}

.breadcrumbs .home {
	padding: 4px;
	border-right: 1px #C5D0DD solid;
}

.breadcrumbs .home .icon {
	background-position: -26px -261px;
	display: block;
	height: 26px;
	width: 26px;	
}

.breadcrumbs .home .icon:hover {
	background-position: 0 -261px;	
}

.breadcrumbs .divider {
	background-position: -79px -222px;
	width: 9px;	
}

.list-footer, #main-content #viewtopic .list-footer {
	min-height: 10px;
	text-shadow: 0 1px #EEE;
	background-color: #CFD9E5;
	border-top: 1px #EAEEF3 solid;
	-moz-border-radius: 0 0 3px 3px;
	-webkit-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
	overflow: hidden;
	padding: 0;
}

.list-footer .inner {
	margin: 10px;
	text-align: center;	
}

.list-footer span {
	display: inline-block;
	margin-left: 10px;	
}

.list-footer .forum-search {
	padding: 5px;
	text-align: right;	
}

.list-footer .forum-search input[type=text] {
	font-size: 12px;
	padding-bottom: 4px;
	margin-top: -1px;	
}

.list-footer .forum-search input[type=submit] {
	padding: 5px 8px;	
}

.list-footer .forum-search input[type=submit]:active {
	padding: 6px 8px 4px;	
}

.forum-view, .topic-view, .search-view, .forum-navigation, .topic-navigation, .forum-info {
	overflow: hidden;
	margin: 15px 6px 5px;
}

.forum-view .heading, .topic-view .heading, .search-view .heading, .main-heading {
	float: left;
	font-size: 18px;
	font-weight: bold;
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;	
}

.main-heading {
	float: none;	
}

.search-view .pagination {
	float: right;	
}

.forum-view .moderators {
	float: right;
	font-size: 11px;	
}

.forum-navigation, .topic-navigation {
	margin: 7px 6px 5px;
}

.forum-navigation .buttons, .topic-navigation .buttons, .forum-info .forum-icons {
	float: left;	
}

.forum-navigation .pagination, .topic-navigation .pagination, .forum-info .forum-perms {
	float: right;
	text-align: right;
	position: relative;
}

.forum-navigation .pagination {
	margin-top: -8px;	
}

.pagination-links {
	display: inline-block;
	font-weight: bold;
	font-size: 11px;	
}

.forum-navigation .pagination {
	margin: 4px 0 0;	
}

.pagination .gensmall {
	display: inline-block;
	margin-bottom: 3px;
}

.clear + .pagination-links {
	margin-top: 0;	
}

.pagination-links a, .pagination-links b {
	float: left;
	display: inline-block;
	font-size: 11px;
	margin: 0 0 2px;	
	border-left-width: 0;
	-moz-box-shadow: inset 0 11px #FFF, 0 1px 2px #BBB;
	-webkit-box-shadow: inset 0 11px #FFF, 0 1px 2px #BBB;
	box-shadow: inset 0 11px #FFF, 0 1px 2px #BBB;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}

.pagination-links a:first-child, .pagination-links b:first-child {
	border-left-width: 1px;
	-moz-border-radius: 3px 0 0 3px;
	-webkit-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;
	margin-left: 2px;
}

.pagination-links a:last-child, .pagination-links b:last-child {
	-moz-border-radius: 0 3px 3px 0;
	-webkit-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
}

.pagination-links .active-button {
	padding-top: 4px;
	padding-bottom: 4px;	
}

.pagination-links .pagination-wrapper {
	display: block;
	overflow: hidden;	
}

.pagination .mark-read {
	display: inline-block;
	vertical-align: top;
	font-size: 11px;
	padding: 2px 3px 0 0;
}

.forum-info, .topic-footer {
	border-top: 1px #E4E4E4 solid;
	padding-top: 10px;
	font-size: 11px;
}

.forum-icons > div, .icon-info > div {
	float: left;	
}

.forum-info .icon-info {
	min-width: 210px;
	margin: 2px 0;
}

.icon-info > div {
	height: 28px;
	line-height: 24px;	
}

.icon-info .label {
	padding-left: 8px;	
}

.topic-footer {
	overflow: hidden;
	position: relative;
	text-align: right;	
}

.jumpbox {
	padding-top: 12px;
	float: right;	
}

.topic-rows, .topic-poll {
	overflow: hidden;
	border: 1px #C8CFDC solid;
	position: relative;
}

.topic-rows, .topic-poll, .topic-poll .topic-title {
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;		
}

.topic-rows, .postrow, #main-content #review .postrow, #viewtopic #quickreply .postrow {
	/*overflow: hidden;*/
	position: relative;
	background-image: url("//img11.warez-bb.org/wbb3_theme/images/wbb3/post-line.gif");
	background-position: 13.1% 0;
	background-repeat: repeat-y;
	-moz-box-shadow: inset 1px 0 #FFF;
	-webkit-box-shadow: inset 1px 0 #FFF;
	box-shadow: inset 1px 0 #FFF;
}

#viewtopic .topic-rows .postrow:first-child {
	-moz-box-shadow: inset 0 1px #FFF;
	-webkit-box-shadow: inset 0 1px #FFF;
	box-shadow: inset 0 1px #FFF;	
}

#priv-msg .postrow, #post-form .postrow {
	background-image: none;
}

.postrow > div {
	display: inline-block;
}

.postrow .user-info {
	width: 13%;
}

.postrow .message-content {
	width: 86.3%;
}

.postrow .user-info {
	color: #00396A;
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	vertical-align: top;
}

.postrow .user-info > div {
	position: relative;
	padding: 9px 10px;
}

.postrow .bottom {
	float: none;
	position: absolute;
	width: 13.5%;
	bottom: 0;
	padding-bottom: 8px;
	text-align: center;
}

.postrow .avatar img {
	max-width: 100%;
}

.topic-rows .postrow .author {
	font-size: 11px;
}

.postrow .join-date {
	margin-top: 2px;	
}

.postrow .tools {
	text-align: right;
	font-size: 10px;
	border-bottom: 1px #FFF solid;
	-moz-box-shadow: inset 0 -1px #C8CFDC;
	-webkit-box-shadow: inset 0 -1px #C8CFDC;
	box-shadow: inset 0 -1px #C8CFDC;
	display: block;
	height: 29px;
	position: relative;
}

.postrow .tools .date {
	float: left;
	font-weight: bold;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	padding: 8px 6px 7px;
}

.postrow .tools .buttons {
	float: right;
	padding: 1px 0 4px;
	position: relative;
	margin-right: -6px;
}

.tools .buttons .report-post {
	display: inline-block;
	position: relative;
	margin: 2px 0 0 -3px;
}

.postrow .tools .buttons .checkbox {
	position: absolute;
	top: 4px;
	right: 5px;	
}

.postrow .tools .buttons * {
	vertical-align: middle;	
}

.postrow .tools .buttons .info {
	display: inline-block;
	font-size: 12px;
	color: #C00;
	padding: 5px 0 0 5px;
}

.postrow .postbody, .postrow .date, .postrow .user-icons, #quickreply .message-content > div {
	position: relative;
}

.postrow .postbody {
	min-height: 200px;
	padding: 8px 0;
	word-wrap: break-word;
	line-height: 125%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	position: relative;
}

.postbody .content {
	padding: 0 10px;
	min-height: 60px;	
}

.postbody .last-edit {
	display: block;
	padding-left: 10px;
	font-size: 10px;
}

.postbody .push-content {
	padding-top: 27px;	
}

.postbody ul {
	padding-left: 40px;
	margin: 12px 0;	
}

.postbody ul li {
	list-style-type: circle;	
}

.postbody img {
	max-width: 100%;	
}

.signature {
	line-height: 140%;
	padding-left: 3px;	
}

.quote-block, .code-block {
	width: 95%;
	margin: 0 auto 8px;	
}

.code-block {
	width: 96.7%;	
}

.quote {
	background: #FAFCFE url("//img11.warez-bb.org/images/bg_quote_content.gif") right bottom no-repeat;
	border: 1px #000 dotted;
	border-left: 4px #8394B2 solid;
	color: #465584;
	padding: 4px;
	line-height: 120%;
	word-wrap: break-word;
	font-weight: normal;	
}

.quote-block .quote-block .select-all {
	display: none;	
}

.code {
	background-color: #FAFCFE;
	border: 1px #000 dotted;
	color: #465584;
	font-family: Courier, Courier New, Verdana, Arial;
	margin: 0 auto;
	padding: 2px;
	width: 98%;	
	line-height: 1;
	word-wrap: break-word;
	font-weight: normal;
}

.moderator {
	background: #FAFCFE url("//img11.warez-bb.org/images/mod.gif") left center no-repeat;
	background-size: contain;
	border-style: dotted dotted dotted solid;
	border: 1px #000 dotted;
	border-left: 4px #B28383 solid;
	color: #465584;
	margin: 0 auto 8px;
	line-height: 1;
	padding: 4px 4px 4px 25px;
}

.red-label, .red-label:hover {
	color: #C00;	
}

#revive-topic {
	margin: 0;
	border: none;
	box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.2);
	border-radius: 2px 2px 0 0;
	padding-bottom: 13px;
	display: block;
}

.post-block .label {
	display: block;
	font-size: 11px;
	padding: 2px 8px 3px;
	color: #000;	
}

.post-block .label .select-all, .postbody .code-report-dead {
	float: right;
	font-weight: bold;
}

.post-block .label .code-report-dead:after {
	content: " ";
    padding: 0 10px;
}

.post-block .label .select-all:hover, .postbody .code-report-dead:hover {
	cursor: pointer;	
}

table .code-report-dead {
	padding-right: 4px;	
}

.postbody td {
	padding: 3px;	
}

.postrow .user-icons {
	padding: 8px 8px 7px;
	border-top: 1px #C8CFDC solid;
	-moz-box-shadow: inset 0px 1px #F7F7F7;
	-webkit-box-shadow: inset 0px 1px #F7F7F7;
	box-shadow: inset 0px 1px #F7F7F7;
}

#quickreply {
	background-color: #E3E9F0;	
}

#quickreply .old-topic-rule {
	padding: 3px 7px;	
}

#quickreply .message-content > div {
	padding: 8px 8px 4px;	
}

#quickreply textarea {
	width: 100%;
	margin: 0 1px 4px;	
}

#quickreply .bbcode {
	margin-bottom: 0;	
}

#quickreply .post-seperator {
	margin: 1px 0;
	border-top: 1px #FFF solid;
	border-bottom: 1px #FFF solid;	
}

.topic-poll {
	background-color: #E3E9F0;
	margin-top: 25px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.topic-poll .cat, .topic-poll .topic-title, #search-panel > .inner, #profile-panel > .inner, #post-form > .inner, .panel-tabs li a, #profile > .inner > .avatar-sig, #profile > .inner > .profile-info, #profile > .inner > .mod-user, .topic-poll .poll-buttons, .main-legend {
	-moz-box-shadow: inset 0 1px #FFF;
	-webkit-box-shadow: inset 0 1px #FFF;
	box-shadow: inset 0 1px #FFF;	
}

.topic-poll .cat, .topic-poll .poll-buttons {
	border-top: 1px #C8CFDC solid;
	padding: 8px 0;
}

.topic-poll th, .topic-poll .topic-title, .topic-poll .poll-buttons {
	text-align: center;
	font-weight: bold;
	border-bottom: 1px #C8CFDC solid;
	padding: 10px 0;
}

.topic-poll .poll-options {
	display: table;	
	padding: 10px 0;
	text-align: center;
	margin: 0 auto;
}

.poll-options .option-row {
	display: table-row;
	text-align: left;
}

.poll-voted .poll-options .poll-options {
	width: 100%;
}

.poll-options .poll-options {
	padding: 4px 0 6px;		
}

.row2 > .poll-options {
	width: 50%;
}

.poll-options .option-row > .caption, .poll-options .option-row > .input {
	display: table-cell;
	padding: 2px;
}

.option-row .input {
	padding-right: 5px;	
}

.option-row .poll-bar {
	margin-top: 3px;
	background-color: #6E89A9;
	-moz-box-shadow: 0 1px #FFF, inset 0 1px 5px #000;
	-webkit-box-shadow: 0 1px #FFF, inset 0 1px 5px #000;
	box-shadow: 0 1px #FFF, inset 0 1px 5px #000;
	height: 13px;
	padding: 1px 1px 0;
}

.option-row .poll-bar {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.poll-bar > div {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;	
}

.option-row .result {
	display: block;
	float: right;	
}

.poll-options .total-votes span {
	text-align: center;
	display: block;
	margin: 7px 0 2px;
}

.poll-bar > div {
	background-repeat: repeat-x;
	background-position: 0 -374px;
	height: 12px;
}





.row1 {
	background-color: #E3E9F0;	
}

.row2 {
	background-color: #EDF1F5;	
}

.post-seperator, .line-seperator {
	height: 8px;
	margin: 1px 0;
	background-color: #CAD9EA;	
}

.line-seperator {
	margin: 1px 0;	
}

#search-panel .search-info {
	position: absolute;
	top: 8px;
	right: 10px;
	font-size: 11px;	
}

#search-panel > .inner, #profile-panel > .inner, #post-form > .inner, #profile > .inner {
	padding: 30px 10px;
	position: relative;
	border: 1px #C8CFDC solid;	
	background-color: #E3E9F0;
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	text-shadow: 0 1px #F8F8F8;
}

#main-content #search-goodies {
	position: relative;
	width: 50%;	
}

#search-goodies > input[type=text] {
	width: 100%;	
}

#search-goodies .but {
	position: absolute; 
	top: 0; 
	right: -53px; 
	height: 27px; 
	width: 34px; 
	text-align: center; 
	-moz-border-radius: 0 3px 3px 0; 
	-webkit-border-radius: 0 3px 3px 0; 
	border-radius: 0 3px 3px 0; 
	border: 1px #999 solid; 
	-moz-box-shadow: 0 1px #FFF, inset 0 12px #FFF; 
	-webkit-box-shadow: 0 1px #FFF, inset 0 12px #FFF; 
	box-shadow: 0 1px #FFF, inset 0 12px #FFF; 
	padding: 0 8px;
	line-height: 26px;	
}

#search-goodies .but:active {
	padding: 1px 8px 0;
	-moz-box-shadow: inset 0 1px 3px #BBB, 0 1px #FFF;
	-webkit-box-shadow: inset 0 1px 3px #BBB, 0 1px #FFF;
	box-shadow: inset 0 1px 3px #BBB, 0 1px #FFF;
	height: 26px;
}

.main-heading {
	font-size: 16px;
	text-align: center;	
	margin-bottom: 15px;
}

.message-body {
	text-align: center;	
}

#main-content .message-body table {
	width: 80%;
	text-align: left;
	margin: 0 auto;
}

.input-seperator {
	border-top: 1px #C8CFDC solid;
	border-bottom: 1px #FFF solid;
	margin: 15px 0;	
}

.input-row {
	position: relative;
	overflow: hidden;	
}

.required {
	position: absolute;
	right: 20px;
	font-size: 10px;	
}

.input-row + .input-row {
	margin-top: 10px;
}

.input-row > div {
	float: left;
	width: 35%;	
}

.input-row > .explain {
	text-align: right;	
}

.input-row > .explain > div {
	padding-left: 10px;	
}

.input-row > .input {
	width: 65%;	
}

#post-form #pm-user {
	width: 63%;	
}

#review {
	margin-top: 10px;	
}

#review .list-header .author, #viewtopic .list-header .author {
	width: 14%;
}

#review .list-header .forum, #viewtopic .list-header .forum {
	width: 86%;
}

#review .topic-rows {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	max-height: 330px;
	overflow: scroll;
	overflow-x: hidden;	
}

#review .topic-rows .post-seperator:last-child, #main-content .last-seperator .post-seperator:last-child {
	display: none;	
}

.input-row .title {
	display: block;
	margin: 5px 0 2px;
}

.input-row .option {
	margin: 2px 0;	
}

.input-row .option + .option {
	margin-top: 4px;	
}

.option .type {
	display: block;
	padding: 7px 0 0 28px;	
}

.input-row select + .option, .input-row .option + select {
	margin-top: 5px;
}

.input-row > div > div {
	overflow: hidden;
	margin: 0 15px 5px 0;	
}

.input-row input[type=text], .input-row input[type=password], .input-row textarea, .input-row select.multi {
	width: 50%;	
}

.input-row .option-block {
	float: left;
	width: 20%;
}

#post-form .input-row .explain {
	width: 23%;	
}

#post-form .input-row .input {
	width: 77%;	
}

#post-form .input-row input[type=text], #post-form .input-row input[type=password], #post-form .input-row textarea, #post-form .input-row select.multi {
	width: 78%;
}

#safelinking-links {
	height: 50px;
	margin-bottom: 2px;	
}

#sl-options {
	display: none;
	padding-top: 5px;	
}

.input-row .option .sub-option {
	display: none;
	padding: 6px 0 3px 27px;	
}

#post-form .option .sub-option input[type=text] {
	width: 20%; 
}

#smilies {
	position: absolute;
	top: 13em;
	left: 5.2%;
	z-index: 1;
	text-align: center;	
}

#smilies > span {
	display: block;
	margin-bottom: 6px;	
}

#smilies a {
	display: inline-block;
	margin: 2px 2px 3px;
}

.bbcode, .font-options, .right-bbcode {
	overflow: hidden;
	margin: 1px 2px 5px;
	clear: both;
}

.right-bbcode {
	margin-left: 20px;
	float: right;
	clear: none;	
}

.font-options {
	margin: 10px 1px;	
}

.bbcode > input, #close-tags > input, #submit-reply > input {
	margin: 0 0 2px;
}

.bbcode > input {
	float: left;	
}

.bbcode > input, .bbcode > input:active {
	padding-left: 11px;
	padding-right: 11px;
}

.bbcode > input + input {
	border-left: none;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;	
}

.bbcode > .first-button, #autocode, #submit-reply .preview {
	-moz-border-radius: 3px 0 0 3px;	
	-webkit-border-radius: 3px 0 0 3px;	
	border-radius: 3px 0 0 3px;	
}

.bbcode > .last-button, #close-tags .close, #submit-reply .submit {
	-moz-border-radius: 0 3px 3px 0;
	-webkit-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
}

#close-tags input {
	display: inline-block;	
}

.bbcode #autocode, #submit-reply .preview {
	margin-left: 30px;
	margin-right: -5px;
}

#post-form #poll-form .option-row {
	width: 30%;
}

#post-form #poll-form .poll-length {
	width: 5%;
	text-align: center;
}

#post-form fieldset {
	border: none;	
}

#post-form fieldset:first-child {
	margin-top: 5px;	
}

#search-panel .list-footer, #profile-panel .list-footer, #post-form .list-footer {
	border: 1px #C8CFDC solid;
	text-align: center;
	padding: 10px 0;	
}

#results .list-header .forum {
	width: 16%;	
}

#results .list-header .author, #results .list-header .posts, #results .list-header .views, #results .topicrow .posts, #results .topicrow .views {
	width: 9%;	
}

#results .list-header .last-post {
	width: 15%; 
}

#results .topicrow .forum {
	width: 13%;	
}

#results .list-header .topics, #results .topicrow .description {
	width: 42%;	
}

#results .topicrow .last-post {
	width: 15%;
}

#posts-results .list-header .author, #posts-results .user-info {
	width: 13%;	
}

#posts-results .list-header .posts, #posts-results .message-content {
	width: 86%;	
}

#posts-results .post-seperator {
	height: auto;
	padding: 5px 8px;
}

#posts-results .postbody {
	min-height: 100px;	
}

#profile-panel .search-view {
	margin-bottom: 0;	
}

#profile-panel .heading {
	margin-bottom: 6px;
}

#profile-panel > .inner > .form-block {
	display: none;	
}

#profile-panel #form-password {
	display: block;	
}

.panel-tabs {
	float: right;
	padding-top: 6px;
}

.panel-tabs li {
	float: left;	
}

.panel-tabs li a {
	padding: 5px 12px;
	background: #E3E9F0;
	margin-left: 2px;
	border-radius: 4px 4px 0 0;
	border: 1px #C8CFDC solid;
	border-bottom: none;
	font-size: 11px;
	font-weight: bold;
	display: block;
	text-shadow: 0 1px #FFF;
}

.panel-tabs li.selected a {
	background-color: #EDF5FB;
}

#current-avatar, .form-notice, #captcha, #recaptcha_image {
	float: left;
	background-color: #F1F1F1;
	border: 1px #CCC solid;
	-moz-box-shadow: inset 0 1px #FFF;
	-webkit-box-shadow: inset 0 1px #FFF;
	box-shadow: inset 0 1px #FFF, 0 1px #FFF;
	margin: 0 1px 1px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 10px;	
}

#recaptcha_image {
	float: none;
	display: inline-block;	
}

#recaptcha_image img {
	border: 1px #CCC solid;	
}

#main-content #profile #current-avatar {
	margin-top: 15px;
	min-height: 105px;
	min-width: 125px;
}

.form-notice {
	float: none;
	width: 70%;
	text-align: center;
	margin: 0 auto 25px;	
}

#viewtopic .search-view + .form-notice {
	margin-top: 10px;	
}

#current-avatar img, #captcha {
	vertical-align: middle;	
}

#captcha {
	margin-bottom: 8px;	
}

#current-avatar + .upload {
	float: left;
	width: 50%;
	margin-left: 15px;
	padding-bottom: 10px;
}

.upload .delete {
	margin-bottom: 8px;	
}

/* Static pages */
#profile-panel .message-body table .genmed {
	font-size: 12px;	
}

#main-content .checklist .list-header .short-description {
	width: 50.8%;	
}

#main-content .checklist .list-header .topics, #main-content .checklist .list-header .posts {
	width: 12.5%;	
}

#main-content .checklist .list-header .views {
	width: 19.5%;	
}

#main-content .checklist .list-header .last-post {
	width: 3%;	
}

#main-content .checklist .topicrow .description {
	width: 29%;
}

#main-content .checklist .topicrow .topics {
	width: 8%;
}

#main-content .checklist .topicrow .posts {
	width: 8%;
}

#main-content .checklist .topicrow .views {
	width: 12%;
}

#main-content .checklist .topicrow .last-post {
	width: 3%;
}

#priv-msg .postrow {
	border: 1px #C8CFDC solid;
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;	
}

#priv-msg .list-footer {
	border: 1px #C8CFDC solid;
	border-top: none;	
}

#priv-msg .message-content{
	width: 100%;
}

#priv-msg .postbody, #priv-msg .date, #priv-msg .user-icons {
	border-left: none;
}

#priv-msg .tools {
	height: 74px;
	border-top: 1px #FFF solid;	
}

#priv-msg .date {
	width: 91%;	
}

#priv-msg .message-content .buttons {
	padding: 10px 10px 5px 0;	
}

.date .user {
	float: left;
	text-align: left;
	border-right: 1px #C8CFDC solid;
	box-shadow: 1px 0 #FFF;
	padding-left: 6px;
}

.date .rank-image img {
	margin-left: 20px;	
}

#priv-msg .date .rank-title {
	text-align: center; 
	display: block; 
	margin-left: -16px;	
}

.date .user img, .post-info > span {
	display: block;
}

.date .user > span {
	display: block;
	text-align: left;
	padding-bottom: 4px;
}

.date .post-info {
	float: left;
	overflow: hidden;
	padding-left: 15px;
	text-align: left;
	font-size: 11px;
}

.date .post-info span {
	padding-bottom: 2px;	
}

.tools .cap-date {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 5px 8px;
	line-height: 1;
	background-position: 0 -345px;
	background-repeat: repeat-x;
	border-left: 1px #CCC solid;
	border-top: 1px #CCC solid;
	-moz-border-radius: 4px 0 0 0;
	-webkit-border-radius: 4px 0 0 0;
	border-radius: 4px 0 0 0;
	text-shadow: 0 1px #FFF;
	font-weight: bold;
	font-size: 10px;
}

.right-inner {
	margin: 0; 
	padding: 10px; 
	overflow: hidden;
	text-align: right;
}

.content-inner {
	padding: 10px 0;	
}

.list-footer .bbcode {
	float: right;	
}

#agreement {
	width: 80%;
	margin: 0 auto;
	text-align: justify;	
}

#profile > .inner {
	padding: 0;
}

#profile .inner {
	overflow: hidden;	
}

#profile #current-avatar {
	float: none;
	margin: 0 15px;
	display: inline-block;
	min-width: 120px;
}

#profile .title {
	margin: 4px 0 10px;	
	font-size: 11px;
}

#profile .avatar-sig {
	float: left;
	width: 56%;
	background: #EDF1F5;
	-moz-border-radius: 4px 0 0 0;
	-webkit-border-radius: 4px 0 0 0;
	border-radius: 4px 0 0 0;
	text-align: center;
}

#profile .avatar-sig > .inner {
	padding: 12px 0 0;
	border-bottom: 1px #C8CFDC solid;	
	position: relative;
}

#profile .profile-info > .inner {
	padding: 12px 0 0;
	border-left: 1px #C8CFDC solid;
	position: relative;
}

#profile .arrow-overlap {
	background-position: -87px -535px;
	width: 14px;
	height: 28px;
	position: absolute;	
	left: 55.1%;
	top: 19px;
	z-index: 1;
}

#profile .profile-info .main-heading {
	margin-bottom: 14px;	
}

#profile .profile-info {
	float: left;
	width: 44%;	
	-moz-border-radius: 0 4px 0 0;
	-webkit-border-radius: 0 4px 0 0;
	border-radius: 0 4px 0 0;
}

#profile .main-rows, #profile .contact-info + .contact-info {
	border-top: 1px #C8CFDC solid;
}

#profile .row .icon {
	width: 72%;
	text-align: left;
}

#profile .row .description {
	width: 28%;
	text-align: right;	
}

#profile .row * {
	font-size: 11px;	
}

#profile .contact-info h2 {
	margin-top: 14px;	
}

#user-signature {
	padding: 15px;
	text-align: left;	
}

#profile #review, #profile .avatar-sig .main-heading {
	margin: 0;	
}

#profile .profile-info .row .icon {
	border-right: none;	
}

#profile .contact-info .row:last-child > div {
	border-bottom: none;	
}







#users-online {
	border-bottom: 1px #E0E0E0 solid;
	border-top: 1px #E0E0E0 solid;	
	background-color: #ECECEC;
	margin: 15px 0 20px;
}

#users-online .wrapper {
	border-bottom: 1px #F4F4F4 solid;
	border-top: 1px #F4F4F4 solid;	
}

#users-online .wrap {
	overflow: hidden;	
}

#users-online .wrap > div {
	float: left;	
}

#users-online .stats-icons {
	width: 3%;	
}

#users-online .whos-online-icon, #users-online .statistics-icon {
	background-position: -18px -103px;
	width: 31px;
	height: 31px;
	margin: 14px 0;
}

#users-online .statistics-icon {
	background-position: 0 -222px;
}

#users-online .whos-online-icon:hover {
	cursor: pointer;
	background-position: -49px -103px;	
}

#users-online .statistics-icon:hover {
	cursor: pointer;
	background-position: -31px -222px;	
}

#users-online .slide-arrow {
	width: 1%;
	height: 100px;
	position: relative;	
}

.slide-arrow .arrow {
	position: absolute;
	background-position: 0 -109px;
	width: 8px;
	height: 20px;
	display: block;
	z-index: 1;
	top: 20px;
	right: -1px;
}

#users-online .statistics-wrapper {
	border: 1px #CBD5E4 solid;
	background-color: #DFE6ED;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: inset 0 1px #EEF2F9, 0 1px rgba(255, 255, 255, 0.8);
	-webkit-box-shadow: inset 0 1px #EEF2F9, 0 1px rgba(255, 255, 255, 0.8);
	box-shadow: inset 0 1px #EEF2F9, 0 1px rgba(255, 255, 255, 0.8);
	text-shadow: 0 1px #F2F2F2;
	font-size: 11px;
	font-family: Verdana, Geneva, sans-serif;
	margin: 6px 0;
	width: 95.7%;
}

.statistics-wrapper .inner {
	padding: 8px 12px;
	min-height: 75px;	
}

.statistics-wrapper .explain {
	font-size: 10px;	
}

.statistics-wrapper .legend {
	font-size: 11px;
}

#users-online .statistics-info {
	display: none;	
}

.icon-help {
	border: 1px #E0E0E0 solid;
	background-color: #ECECEC;
	/*width: 28%;
	width: 365px;*/
	width: auto;
	margin: 0 auto;
	display: table;
}

.icon-help, .icon-help .inner {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.icon-help .inner {
	overflow: hidden;
	text-align: center;
	display: table-row;
	border: 1px #F4F4F4 solid;
}

.icon-help .tip {
	font-size: 11px;
	line-height: 120%;
	display: table-cell;
	padding: 8px 0;
}

.icon-help .tip > div {
	text-align: center;	
}

.icon-help .valign {
	display: block;	
}

.icon-help .subtext, .icon-help .valign {
	vertical-align: middle;	
	padding: 0 5px;
}

#priv-msg .icon-help {
	margin: 15px auto;	
}

#memberlist .list-header .posts, #memberlist .list-rows .description, #main-content #groupcp .assigned-users .posts, #main-content #groupcp .assigned-users .description {
	width: 12.5%;
	text-align: center;
}

#memberlist .list-rows .description, #groupcp .list-rows .description, #main-content #review .description, #report .list-rows .description, .format-rows .row .description {
	border-top: 1px #F1F4F7 solid;
	border-right: 1px #BCCEE2 solid;
	border-bottom: 1px #BCCEE2 solid;
	border-left: 1px #F2F3F6 solid;
}

#memberlist .list-rows .row > div:first-child, #faq .list-rows .row > div, #main-content .slim-border .row > div:first-child {
	border-left: none;	
}

#memberlist .form-notice, #viewtopic .form-notice {
	margin: 25px 0 0;
	width: auto;	
}

#main-content #memberlist .location-column, #main-content #memberlist .username-column, #main-content #groupcp .list-header .username-column, #main-content #groupcp .row .username-column {
	width: 25%;
}

#main-content .full-width {
	width: 100%;	
}

.ajax-wrap {
	position: relative;	
}

.ajax-wrap .spinner {
	width: 14px;
	height: 14px;
	display: block;
	background: #FFF url("//img11.warez-bb.org/wbb3_theme/images/wbb3/spinner.gif") no-repeat;
	position: absolute;
	z-index: 2;
	top: 27%;
	left: 75.6%;
}

#common-topic {
	display: block;
	padding-bottom: 5px;	
}

#search-matches {
	font-weight: bold; 
	padding: 3px 2px 0 5px;	
}

#quick-edit {
	width: 98%;
	position: absolute;
	background:	#000;
	background: rgba(0, 0, 0, 0.6);
	border: 1px #000 solid;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	top: 9px;
	left: 1%;
}

#quick-edit .loader {
	height: 30px;
	width: 30px;
	display: block;
	background: transparent url("//img11.warez-bb.org/wbb3_theme/images/wbb3/spinner-med.gif") center no-repeat;
	margin: 10px auto;
}

#quick-edit .loading {
	display: block;
	text-align: center;
	font-size: 15px;
	color: #FFF;
	text-shadow: 0 1px #000;
	margin-bottom: 14px;	
}

.quick-edit-block {
	width: 98%;
	margin: 0 auto;
}

.quick-edit-block textarea {
	width: 100%;
	min-height: 350px;
}

.quick-edit-block .quick-edit-buttons {
	padding-top: 6px;
	text-align: center;	
}

#faq .list-header, #main-content .no-radius {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;	
}

.columned-table {
	overflow: hidden;
	position: relative;
	background-color: #E3E9F0;
	border: 1px #BCCEE2 solid;
	border-top: none;
}

.columned-table .column {
	float: left;
	width: 50%;
}

.columned-table .inner {
	padding: 0 10px 10px;	
	overflow: hidden;
}

#faq .column a {
	display: block;
	margin-bottom: 2px;
}

#faq .column strong {
	display: block;
	margin: 8px 0 2px;	
}

#faq .main-heading {
	font-size: 13px;	
}

#faq .row .postbody p a {
	text-decoration: underline;	
}

#faq .row .postbody p a:hover {
	text-decoration: none;
}

#faq .extra-links {
	clear: both;
	border-top: 1px #F4F4F4 solid;
	text-align: center;
	padding-top: 10px;
}

#faq .bottom-clear {
	margin-top: 15px;
	border-top: 1px	#BCCEE2 solid;
}

#faq .main-links {
	margin-top: 8px;	
}

#faq .main-links .but {
	background-position: 0 -396px;
	font-size: 14px;
	-moz-box-shadow: inset 0 22px #FFF, 0 1px 2px #BBB;
	-webkit-box-shadow: inset 0 22px #FFF, 0 1px 2px #BBB;
	box-shadow: inset 0 22px #FFF, 0 1px 2px #BBB;
}

#faq .main-links .but:active {
	padding-top: 6px;
	padding-bottom: 5px;
}

.brain-icon, .helpdesk-icon, .ticket-icon {
	display: inline-block;
	background-image: url("//img11.warez-bb.org/wbb3_theme/images/wbb3/faq-sprites.png");
	height: 32px;
	width: 32px;
	vertical-align: middle;
	margin-right: 5px;
}

.helpdesk-icon {
	background-position: 0 -32px;	
}

.ticket-icon {
	background-position: 0 -64px;	
}

#groupcp .row .description, #groupcp .row .topics {
	padding: 5px 8px;	
}

#groupcp .row .description {
	width: 30%;
	text-align: right;	
}

#groupcp .row .topics {
	width: 70%;
	text-align: left;
}

#groupcp .row .topics * {
	font-size: 12px;
	color: #2F3B48;
	font-weight: normal;	
}

#groupcp .row .topics strong, #groupcp .row .topics input {
	font-weight: bold;	
}

#report .report-form {
	display: table;
	border: 1px #BCCEE2 solid;
	width: 99.85%;
}

#report .report-form, #report-tabs li.active {
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}

#report .report-form * {
	vertical-align: top;
}

.report-form .inner {
	display: table-row;	
}

.report-form .inner > div {
	display: table-cell;
}

.report-form .comment {
	width: 73%;
	border-right: 1px #BCCEE2 solid;
	-moz-border-radius: 4px 0 0 0;
	-webkit-border-radius: 4px 0 0 0;
	border-radius: 4px 0 0 0;
}

.report-form .reason {
	width: 37%;
	-moz-border-radius: 0 4px 0 0;
	-webkit-border-radius: 0 4px 0 0;
	border-radius: 0 4px 0 0;
}

.report-form .comment, .report-form .reason, #report .report-explain .gensmall {
	display: block;
	border-left: 1px #FFF solid;
	border-top: 1px #FFF solid;
}

.report-form .action-row {
	text-align: left;
	margin: 0 15px;
}

.action-row + .action-row {
	margin-top: 10px;
}

.action-row .lined {
	display: block;
	margin-bottom: 4px;
}

#report .report-explain {
	border: 1px #BCCEE2 solid;
	border-top: none;
	text-align: center;
}

.report-explain .gensmall {
	margin: 0;
	padding: 5px 0;
}

#report .delete {
	display: block;
	text-align: left;
	padding-top: 3px;
	width: 95%;
	margin: 0 auto;
}

#report .delete strong {
	vertical-align: middle;	
}

.report-form .block {
	padding: 12px;	
}

.report-form .reason-row {
	margin-bottom: 5px;	
}

.report-form .reason-row .gensmall {
	display: block;
	padding-left: 24px;	
}

.report-form .reason-row .genmed {
	display: inline-block; 
	margin-top: 2px;	
}

.report-form textarea {
	width: 95%;	
}

#report .comment {
	text-align: center;
	vertical-align: middle;	
}

#report .list-header .topics, #report .list-rows .description {
	width: 20%;	
}

#tabbed-reports {
	padding: 7px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;	
}

#tabbed-reports > div {
	display: none;	
}

#tabbed-reports, #report-tabs li.active {
	background-color: #596471;
}

#tabbed-reports .list-wrap {
	border: 1px #222 solid;	
}

#report-tabs ul {
	overflow: hidden;
	display: block;
	margin: 0 10px;
}

#report-tabs li {
	display: inline-block;
	padding: 3px 10px;
	font-weight: bold;
	cursor: pointer;
	font-size: 11px;	
}

#report-tabs li.active {
	color: #FFF;
	text-shadow: 0 1px #000;	
}

#report-tabs li.active:hover {
	cursor: default;	
}

#report .report-count {
	display: block;
	font-weight: bold;
	color: #FFF;
	text-shadow: 0 1px #000;
	margin-bottom: 7px;
	text-align: center;	
}

.postbody .action-panel {
	position: absolute;
	right: 27px;
	top: 6%;
}

.action-panel .leaf {
	border: 1px #BEBEBE solid;
	border-right: none;
	background-color: #F4F4F4;
	position: absolute;
	-moz-border-radius: 3px 0 0 3px;
	-webkit-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;
	-moz-box-shadow: inset 1px -1px #FFF, inset 0 1px #FFF, inset 0 1px #FFF;
	-webkit-box-shadow: inset 1px -1px #FFF, inset 0 1px #FFF, inset 0 1px #FFF;
	box-shadow: inset 1px 1px #FFF, inset -1px -1px #FFF;
	text-align: center;
	right: -32px;
}

.action-panel .leaf .icon {
	height: 16px;
	width: 16px;
	margin: 5px;
	background-position: -57px -266px;
}

.action-panel .panel {
	display: none;
	position: relative;
}

.postrow .report-post .actions {
	right: 0;
	top: 5px;
	z-index: 6;	
	width: 204px;
}

.postrow .report-post .arrow {
	width: 9px;
	height: 6px;
	z-index: 7;
	background-position: -56px -304px;
	top: 1px;
	left: 28px;
}

.report-post input[type=text] {
	width: 99%;
	resize: none;
	font-size: 11px;
}

.postrow .report-post .actions label {
	width: 200px;
	padding: 1px 1px 2px;
	text-align: left;
	overflow: hidden;
	float: left;
}

.report-post label .full-form {
	float: right;
}

.report-post label .full-form a {
	border: none;
	text-align: right;
	width: auto;
	padding-right: 6px;
}

.postrow .report-post .actions label.comment {
	text-align: center;
	padding: 5px 3px 6px;	
}

.postrow .report-post label {
	display: block;	
}

.action-panel .report-loader {
	position: absolute;
	margin: 1px;
	background: #EEE url("//img11.warez-bb.org/wbb3_theme/images/wbb3/report-spinner.gif") center 45% no-repeat;	
}

#main-content .report-post .submit-report {
	text-shadow: 0 1px #000;
	color: #FFF;
	margin-bottom: 1px;
	background-repeat: repeat-x;
	background-position: 0 -140px;
	text-align: center;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 4px 0;
	width: 202px;
}

#main-content .report-post .submit-report:hover {
	background-position: 0 -312px;	
}

.action-panel .arrow {
	position: absolute;
	left: -11px;
	top: 10px;
	z-index: 4;
	background-position: -57px -294px;
	height: 7px;
	width: 5px;
}

.action-panel .actions {
	right: 5px;
	z-index: 2;
	position: absolute;
	right: 10px;
	background-color: #F4F4F4;
	border: 1px #BEBEBE solid;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	overflow: hidden;
	width: auto;
}

.action-panel > .columned {
	float: left;	
}

.action-panel > .columned:last-child > a {
	border-left: none;
}

.action-panel .actions a, .action-panel .actions label {
	color: #555;
	display: block;
	padding: 2px;
	width: 100px;
	text-align: center;
	text-decoration: none;
	border: 1px #FFF solid;
	text-shadow: 0 1px #FFF;
	font-size: 10px;
}

.action-panel .actions a:first-child, .action-panel .actions label:first-child {
	border-bottom: none;	
}

.action-panel .actions a + a, .action-panel .actions label + label {
	border-bottom: none;
}

.action-panel .actions a:hover, .action-panel .actions label:hover {
	background-color: #EEE;	
}





















#footer-note {
	font-family: Verdana, Geneva, sans-serif;
	text-align: center;
	font-size: 10px;	
}

#top-footer {
	margin-top: 20px;
	background-color: #F0F0F0;
}

#top-footer .heading {
	background-color: #E5E5E5;
	border-top: 1px #E0E0E0 solid;
	border-bottom: 1px #E0E0E0 solid;
	text-transform: uppercase;
	font-weight: bold;
	position: relative;
	text-shadow: 0 1px #FFF;
}

#top-footer .collapse, #top-footer .expand {
	position: absolute;
	top: 5px;
	right: 5px;
}

#top-footer .collapse .icon, #top-footer .expand .icon {
	background-position: -82px -120px;
	display: block;
	height: 17px;
	width: 17px;	
}

#top-footer .expand .icon {
	background-position: -82px -103px;	
}

#top-footer .inner {
	overflow: hidden;
	border-top: 1px #F2F2F2 solid;
	border-bottom: 1px #F2F2F2 solid;	
}

.heading .inner > div, #top-footer .content > div {
	float: left;
	width: 33.3%;
}

.heading .inner > div > span {
	display: block;
	border-right: 1px #F2F2F2 solid;
	border-left: 1px #CECECE solid;
	padding: 5px 10px 5px 25px;
}

.heading .inner > div:first-child span {
	border-left: none;	
}

.heading .inner > div:last-child span {
	border-right: none;	
}

#top-footer .content {
	overflow: hidden;	
}

#top-footer .content .inner-content {
	padding: 18px 12px 18px 25px;
	font-size: 11px;
}

#top-footer h4 {
	font-size: 13px;
	margin-bottom: 3px;	
}

.content .links a {
	display: block;
	font-weight: bold;	
}

#overall-footer {
	background-color: #353F4B;
	border-top: 2px #EB9135 solid;
	height: auto;
	text-align: center;
	padding: 20px 0;
}

#overall-footer, #overall-footer a {
	color: #ADBACB;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;	
}

#overall-footer .footer-ad {
	padding-top: 20px;
}

#overall-footer .inappropriate-ads {
	color: #FFF;
	margin-top: 8px;
}

#overall-footer .footer-indent {
	background: url("//img11.warez-bb.org/wbb3_theme/images/wbb3/footer-indent.gif") no-repeat;
	height: 2px;
	margin: 10px auto;
	width: 277px;
}

.list-rows, #profile .main-rows {
	display: table;
	width: 100%;
}

#preview-post .postrow .date, #preview-post .postrow .postbody {
	border-left: none;
}

#preview-post .message-content {
	width: 100%;	
}

#main-content #priv-preview .tools {
	height: 50px;	
}

#modal-bg {
	cursor: pointer !important;
	background: url("//img11.warez-bb.org/wbb3_theme/images/wbb3/opac-bg.png") repeat;
	background: rgba(255, 255, 255, 0.6) url("//img11.warez-bb.org/wbb3_theme/images/wbb3/bar-load.gif") center center no-repeat;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;	
}

#modal {
	display: none;
	position: fixed;
	top: 55%;
	left: 50%;
	z-index: 30;
	width: 560px;
	margin: -250px 0 0 -280px;
	background-color: #FFF;
	border: 1px #111 solid;
	border: 1px solid rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

#modal .header {
	border-bottom: 1px solid #EEE;
	padding: 10px 15px;	
}

#modal .header h3 {
	font-size: 17px;
	font-weight: normal;
	text-align: left;
	margin: 0;	
}

#modal .header .close {
	color: #000;
	float: right;
	font-size: 20px;
	font-weight: bold;
	line-height: 17px;
	opacity: 0.2;
	text-shadow: 0 1px 0 #FFF;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#modal .header .close:hover {
	cursor: pointer;	
	opacity: 0.4;
}

#modal .content {
	max-height: 400px;
	overflow: hidden;
	overflow-y: auto;
	color: #666;
	word-wrap: break-word;
	padding: 15px;	
}

#modal .footer {
	color: #666;
	padding: 4px 0 5px;
	margin-bottom: 0;
	text-align: right;
	background-color: #F5F5F5;
	border-top: 1px solid #DDD;
	-webkit-border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
	-webkit-box-shadow: inset 0 1px 0 #FFF;
	-moz-box-shadow: inset 0 1px 0 #FFF;
	box-shadow: inset 0 1px 0 #FFF;
}

#modal input[type=text] {
	width: 98%;	
}

#modal .input-row > div {
	width: 23%;	
}

#modal .input-row > .input {
	width: 77%;	
}

#modal .input-seperator {
	border-bottom: 1px #EEE solid;
	border-top: none;	
}

#excluded-words {
	padding-bottom: 2px;	
}

#excluded-words .warning-search {
	padding-bottom: 7px;
	margin-bottom: 7px;
	text-align: center;
	font-size: 10px;
	font-weight: bold;
	border-bottom: 1px #EEE solid;	
}

#excluded-words span {
	display: inline-block;
	margin: 0 3px 3px 0;
	background-color: #C00;
	padding: 2px 5px 5px;
	color: #FFF;	
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	text-shadow: 0 1px #000;
	line-height: 1;
}

#search-panel #excluded-words {
	width: 50%;	
}

#search-panel #excluded-words .warning-search {
	border-bottom: none;	
}
