.logos a.tr-logo-clarivate{ background:url(../images/clarivate-analytics.png); background-repeat:no-repeat; background-size:315px 57px; display:block; height:57px; margin:10px 30px 10px 0; padding:0 30px 0 0; width:315px; }
span#tagline,  span#tagline a{
  color:white;font-size:16px;
}
span#tagline a, span#tagline a:hover{
  text-decoration: none;
}



  @font-face {
  font-family: Helvetica;
  src: local("Helvetica Neue"),
       local("Helvetica"),
       url("../fonts/HelveticaNeue.ttf");
}
