@charset "UTF-8";
/** GLOBAL **/
/** COLOURS **/
/** FONT STACK **/
/** FONTS **/
@font-face {
  font-family: 'Knowledge';
  src: url("../fonts/knowledge-ultralight.eot");
  src: url("../fonts/knowledge-ultralight.eot?#iefix") format("embedded-opentype"), url("../fonts/knowledge-ultralight.woff2") format("woff2"), url("../fonts/knowledge-ultralight.woff") format("woff"), url("../fonts/knowledge-ultralight.ttf") format("truetype"), url("../fonts/knowledge-ultralight.svg#knowledge-ultralight") format("svg");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'Knowledge';
  src: url("../fonts/knowledge-ultralight-italic.eot");
  src: url("../fonts/knowledge-ultralight-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/knowledge-ultralight-italic.woff2") format("woff2"), url("../fonts/knowledge-ultralight-italic.woff") format("woff"), url("../fonts/knowledge-ultralight-italic.ttf") format("truetype"), url("../fonts/knowledge-ultralight-italic.svg#knowledge-ultralight-italic") format("svg");
  font-weight: 200;
  font-style: italic; }

@font-face {
  font-family: 'Knowledge';
  src: url("../fonts/knowledge-light.eot");
  src: url("../fonts/knowledge-light.eot?#iefix") format("embedded-opentype"), url("../fonts/knowledge-light.woff2") format("woff2"), url("../fonts/knowledge-light.woff") format("woff"), url("../fonts/knowledge-light.ttf") format("truetype"), url("../fonts/knowledge-light.svg#knowledge-light") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Knowledge';
  src: url("../fonts/knowledge-light-italic.eot");
  src: url("../fonts/knowledge-light-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/knowledge-light-italic.woff2") format("woff2"), url("../fonts/knowledge-light-italic.woff") format("woff"), url("../fonts/knowledge-light-italic.ttf") format("truetype"), url("../fonts/knowledge-light-italic.svg#knowledge-light-italic") format("svg");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Knowledge';
  src: url("../fonts/knowledge-regular.eot");
  src: url("../fonts/knowledge-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/knowledge-regular.woff2") format("woff2"), url("../fonts/knowledge-regular.woff") format("woff"), url("../fonts/knowledge-regular.ttf") format("truetype"), url("../fonts/knowledge-regular.svg#knowledge-regular") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Knowledge';
  src: url("../fonts/knowledge-regular-italic.eot");
  src: url("../fonts/knowledge-regular-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/knowledge-regular-italic.woff2") format("woff2"), url("../fonts/knowledge-regular-italic.woff") format("woff"), url("../fonts/knowledge-regular-italic.ttf") format("truetype"), url("../fonts/knowledge-regular-italic.svg#knowledge-regular-italic") format("svg");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'Knowledge';
  src: url("../fonts/knowledge-medium.eot");
  src: url("../fonts/knowledge-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/knowledge-medium.woff2") format("woff2"), url("../fonts/knowledge-medium.woff") format("woff"), url("../fonts/knowledge-medium.ttf") format("truetype"), url("../fonts/knowledge-medium.svg#knowledge-medium") format("svg");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Knowledge';
  src: url("../fonts/knowledge-medium-italic.eot");
  src: url("../fonts/knowledge-medium-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/knowledge-medium-italic.woff2") format("woff2"), url("../fonts/knowledge-medium-italic.woff") format("woff"), url("../fonts/knowledge-medium-italic.ttf") format("truetype"), url("../fonts/knowledge-medium-italic.svg#knowledge-medium-italic") format("svg");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'Knowledge';
  src: url("../fonts/knowledge-bold.eot");
  src: url("../fonts/knowledge-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/knowledge-bold.woff2") format("woff2"), url("../fonts/knowledge-bold.woff") format("woff"), url("../fonts/knowledge-bold.ttf") format("truetype"), url("../fonts/knowledge-bold.svg#knowledge-bold") format("svg");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Knowledge';
  src: url("../fonts/knowledge-bold-italic.eot");
  src: url("../fonts/knowledge-bold-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/knowledge-bold-italic.woff2") format("woff2"), url("../fonts/knowledge-bold-italic.woff") format("woff"), url("../fonts/knowledge-bold-italic.ttf") format("truetype"), url("../fonts/knowledge-bold-italic.svg#knowledge-bold-italic") format("svg");
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: 'Knowledge';
  src: url("../fonts/knowledge-black.eot");
  src: url("../fonts/knowledge-black.eot?#iefix") format("embedded-opentype"), url("../fonts/knowledge-black.woff2") format("woff2"), url("../fonts/knowledge-black.woff") format("woff"), url("../fonts/knowledge-black.ttf") format("truetype"), url("../fonts/knowledge-black.svg#knowledge-black") format("svg");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Knowledge';
  src: url("../fonts/knowledge-black-italic.eot");
  src: url("../fonts/knowledge-black-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/knowledge-black-italic.woff2") format("woff2"), url("../fonts/knowledge-black-italic.woff") format("woff"), url("../fonts/knowledge-black-italic.ttf") format("truetype"), url("../fonts/knowledge-black-italic.svg#knowledge-black-italic") format("svg");
  font-weight: 700;
  font-style: italic; }

/*!
 *  Font Awesome 4.5.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.5.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.5.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.5.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.5.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.5.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -15%; }

.fa-2x {
  font-size: 2em; }

.fa-3x {
  font-size: 3em; }

.fa-4x {
  font-size: 4em; }

.fa-5x {
  font-size: 5em; }

.fa-fw {
  width: 1.28571em;
  text-align: center; }

.fa-ul {
  padding-left: 0;
  margin-left: 2.14286em;
  list-style-type: none; }
  .fa-ul > li {
    position: relative; }

.fa-li {
  position: absolute;
  left: -2.14286em;
  width: 2.14286em;
  top: 0.14286em;
  text-align: center; }
  .fa-li.fa-lg {
    left: -1.85714em; }

.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eee;
  border-radius: .1em; }

.fa-pull-left {
  float: left; }

.fa-pull-right {
  float: right; }

.fa.fa-pull-left {
  margin-right: .3em; }

.fa.fa-pull-right {
  margin-left: .3em; }

/* Deprecated as of 4.4.0 */
.pull-right {
  float: right; }

.pull-left {
  float: left; }

.fa.pull-left {
  margin-right: .3em; }

.fa.pull-right {
  margin-left: .3em; }

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear; }

.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8); }

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

.fa-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.fa-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.fa-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg); }

.fa-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1); }

.fa-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1); }

:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  filter: none; }

.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle; }

.fa-stack-1x, .fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center; }

.fa-stack-1x {
  line-height: inherit; }

.fa-stack-2x {
  font-size: 2em; }

.fa-inverse {
  color: #fff; }

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa-glass:before {
  content: ""; }

.fa-music:before {
  content: ""; }

.fa-search:before {
  content: ""; }

.fa-envelope-o:before {
  content: ""; }

.fa-heart:before {
  content: ""; }

.fa-star:before {
  content: ""; }

.fa-star-o:before {
  content: ""; }

.fa-user:before {
  content: ""; }

.fa-film:before {
  content: ""; }

.fa-th-large:before {
  content: ""; }

.fa-th:before {
  content: ""; }

.fa-th-list:before {
  content: ""; }

.fa-check:before {
  content: ""; }

.fa-remove:before,
.fa-close:before,
.fa-times:before {
  content: ""; }

.fa-search-plus:before {
  content: ""; }

.fa-search-minus:before {
  content: ""; }

.fa-power-off:before {
  content: ""; }

.fa-signal:before {
  content: ""; }

.fa-gear:before,
.fa-cog:before {
  content: ""; }

.fa-trash-o:before {
  content: ""; }

.fa-home:before {
  content: ""; }

.fa-file-o:before {
  content: ""; }

.fa-clock-o:before {
  content: ""; }

.fa-road:before {
  content: ""; }

.fa-download:before {
  content: ""; }

.fa-arrow-circle-o-down:before {
  content: ""; }

.fa-arrow-circle-o-up:before {
  content: ""; }

.fa-inbox:before {
  content: ""; }

.fa-play-circle-o:before {
  content: ""; }

.fa-rotate-right:before,
.fa-repeat:before {
  content: ""; }

.fa-refresh:before {
  content: ""; }

.fa-list-alt:before {
  content: ""; }

.fa-lock:before {
  content: ""; }

.fa-flag:before {
  content: ""; }

.fa-headphones:before {
  content: ""; }

.fa-volume-off:before {
  content: ""; }

.fa-volume-down:before {
  content: ""; }

.fa-volume-up:before {
  content: ""; }

.fa-qrcode:before {
  content: ""; }

.fa-barcode:before {
  content: ""; }

.fa-tag:before {
  content: ""; }

.fa-tags:before {
  content: ""; }

.fa-book:before {
  content: ""; }

.fa-bookmark:before {
  content: ""; }

.fa-print:before {
  content: ""; }

.fa-camera:before {
  content: ""; }

.fa-font:before {
  content: ""; }

.fa-bold:before {
  content: ""; }

.fa-italic:before {
  content: ""; }

.fa-text-height:before {
  content: ""; }

.fa-text-width:before {
  content: ""; }

.fa-align-left:before {
  content: ""; }

.fa-align-center:before {
  content: ""; }

.fa-align-right:before {
  content: ""; }

.fa-align-justify:before {
  content: ""; }

.fa-list:before {
  content: ""; }

.fa-dedent:before,
.fa-outdent:before {
  content: ""; }

.fa-indent:before {
  content: ""; }

.fa-video-camera:before {
  content: ""; }

.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {
  content: ""; }

.fa-pencil:before {
  content: ""; }

.fa-map-marker:before {
  content: ""; }

.fa-adjust:before {
  content: ""; }

.fa-tint:before {
  content: ""; }

.fa-edit:before,
.fa-pencil-square-o:before {
  content: ""; }

.fa-share-square-o:before {
  content: ""; }

.fa-check-square-o:before {
  content: ""; }

.fa-arrows:before {
  content: ""; }

.fa-step-backward:before {
  content: ""; }

.fa-fast-backward:before {
  content: ""; }

.fa-backward:before {
  content: ""; }

.fa-play:before {
  content: ""; }

.fa-pause:before {
  content: ""; }

.fa-stop:before {
  content: ""; }

.fa-forward:before {
  content: ""; }

.fa-fast-forward:before {
  content: ""; }

.fa-step-forward:before {
  content: ""; }

.fa-eject:before {
  content: ""; }

.fa-chevron-left:before {
  content: ""; }

.fa-chevron-right:before {
  content: ""; }

.fa-plus-circle:before {
  content: ""; }

.fa-minus-circle:before {
  content: ""; }

.fa-times-circle:before {
  content: ""; }

.fa-check-circle:before {
  content: ""; }

.fa-question-circle:before {
  content: ""; }

.fa-info-circle:before {
  content: ""; }

.fa-crosshairs:before {
  content: ""; }

.fa-times-circle-o:before {
  content: ""; }

.fa-check-circle-o:before {
  content: ""; }

.fa-ban:before {
  content: ""; }

.fa-arrow-left:before {
  content: ""; }

.fa-arrow-right:before {
  content: ""; }

.fa-arrow-up:before {
  content: ""; }

.fa-arrow-down:before {
  content: ""; }

.fa-mail-forward:before,
.fa-share:before {
  content: ""; }

.fa-expand:before {
  content: ""; }

.fa-compress:before {
  content: ""; }

.fa-plus:before {
  content: ""; }

.fa-minus:before {
  content: ""; }

.fa-asterisk:before {
  content: ""; }

.fa-exclamation-circle:before {
  content: ""; }

.fa-gift:before {
  content: ""; }

.fa-leaf:before {
  content: ""; }

.fa-fire:before {
  content: ""; }

.fa-eye:before {
  content: ""; }

.fa-eye-slash:before {
  content: ""; }

.fa-warning:before,
.fa-exclamation-triangle:before {
  content: ""; }

.fa-plane:before {
  content: ""; }

.fa-calendar:before {
  content: ""; }

.fa-random:before {
  content: ""; }

.fa-comment:before {
  content: ""; }

.fa-magnet:before {
  content: ""; }

.fa-chevron-up:before {
  content: ""; }

.fa-chevron-down:before {
  content: ""; }

.fa-retweet:before {
  content: ""; }

.fa-shopping-cart:before {
  content: ""; }

.fa-folder:before {
  content: ""; }

.fa-folder-open:before {
  content: ""; }

.fa-arrows-v:before {
  content: ""; }

.fa-arrows-h:before {
  content: ""; }

.fa-bar-chart-o:before,
.fa-bar-chart:before {
  content: ""; }

.fa-twitter-square:before {
  content: ""; }

.fa-facebook-square:before {
  content: ""; }

.fa-camera-retro:before {
  content: ""; }

.fa-key:before {
  content: ""; }

.fa-gears:before,
.fa-cogs:before {
  content: ""; }

.fa-comments:before {
  content: ""; }

.fa-thumbs-o-up:before {
  content: ""; }

.fa-thumbs-o-down:before {
  content: ""; }

.fa-star-half:before {
  content: ""; }

.fa-heart-o:before {
  content: ""; }

.fa-sign-out:before {
  content: ""; }

.fa-linkedin-square:before {
  content: ""; }

.fa-thumb-tack:before {
  content: ""; }

.fa-external-link:before {
  content: ""; }

.fa-sign-in:before {
  content: ""; }

.fa-trophy:before {
  content: ""; }

.fa-github-square:before {
  content: ""; }

.fa-upload:before {
  content: ""; }

.fa-lemon-o:before {
  content: ""; }

.fa-phone:before {
  content: ""; }

.fa-square-o:before {
  content: ""; }

.fa-bookmark-o:before {
  content: ""; }

.fa-phone-square:before {
  content: ""; }

.fa-twitter:before {
  content: ""; }

.fa-facebook-f:before,
.fa-facebook:before {
  content: ""; }

.fa-github:before {
  content: ""; }

.fa-unlock:before {
  content: ""; }

.fa-credit-card:before {
  content: ""; }

.fa-feed:before,
.fa-rss:before {
  content: ""; }

.fa-hdd-o:before {
  content: ""; }

.fa-bullhorn:before {
  content: ""; }

.fa-bell:before {
  content: ""; }

.fa-certificate:before {
  content: ""; }

.fa-hand-o-right:before {
  content: ""; }

.fa-hand-o-left:before {
  content: ""; }

.fa-hand-o-up:before {
  content: ""; }

.fa-hand-o-down:before {
  content: ""; }

.fa-arrow-circle-left:before {
  content: ""; }

.fa-arrow-circle-right:before {
  content: ""; }

.fa-arrow-circle-up:before {
  content: ""; }

.fa-arrow-circle-down:before {
  content: ""; }

.fa-globe:before {
  content: ""; }

.fa-wrench:before {
  content: ""; }

.fa-tasks:before {
  content: ""; }

.fa-filter:before {
  content: ""; }

.fa-briefcase:before {
  content: ""; }

.fa-arrows-alt:before {
  content: ""; }

.fa-group:before,
.fa-users:before {
  content: ""; }

.fa-chain:before,
.fa-link:before {
  content: ""; }

.fa-cloud:before {
  content: ""; }

.fa-flask:before {
  content: ""; }

.fa-cut:before,
.fa-scissors:before {
  content: ""; }

.fa-copy:before,
.fa-files-o:before {
  content: ""; }

.fa-paperclip:before {
  content: ""; }

.fa-save:before,
.fa-floppy-o:before {
  content: ""; }

.fa-square:before {
  content: ""; }

.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  content: ""; }

.fa-list-ul:before {
  content: ""; }

.fa-list-ol:before {
  content: ""; }

.fa-strikethrough:before {
  content: ""; }

.fa-underline:before {
  content: ""; }

.fa-table:before {
  content: ""; }

.fa-magic:before {
  content: ""; }

.fa-truck:before {
  content: ""; }

.fa-pinterest:before {
  content: ""; }

.fa-pinterest-square:before {
  content: ""; }

.fa-google-plus-square:before {
  content: ""; }

.fa-google-plus:before {
  content: ""; }

.fa-money:before {
  content: ""; }

.fa-caret-down:before {
  content: ""; }

.fa-caret-up:before {
  content: ""; }

.fa-caret-left:before {
  content: ""; }

.fa-caret-right:before {
  content: ""; }

.fa-columns:before {
  content: ""; }

.fa-unsorted:before,
.fa-sort:before {
  content: ""; }

.fa-sort-down:before,
.fa-sort-desc:before {
  content: ""; }

.fa-sort-up:before,
.fa-sort-asc:before {
  content: ""; }

.fa-envelope:before {
  content: ""; }

.fa-linkedin:before {
  content: ""; }

.fa-rotate-left:before,
.fa-undo:before {
  content: ""; }

.fa-legal:before,
.fa-gavel:before {
  content: ""; }

.fa-dashboard:before,
.fa-tachometer:before {
  content: ""; }

.fa-comment-o:before {
  content: ""; }

.fa-comments-o:before {
  content: ""; }

.fa-flash:before,
.fa-bolt:before {
  content: ""; }

.fa-sitemap:before {
  content: ""; }

.fa-umbrella:before {
  content: ""; }

.fa-paste:before,
.fa-clipboard:before {
  content: ""; }

.fa-lightbulb-o:before {
  content: ""; }

.fa-exchange:before {
  content: ""; }

.fa-cloud-download:before {
  content: ""; }

.fa-cloud-upload:before {
  content: ""; }

.fa-user-md:before {
  content: ""; }

.fa-stethoscope:before {
  content: ""; }

.fa-suitcase:before {
  content: ""; }

.fa-bell-o:before {
  content: ""; }

.fa-coffee:before {
  content: ""; }

.fa-cutlery:before {
  content: ""; }

.fa-file-text-o:before {
  content: ""; }

.fa-building-o:before {
  content: ""; }

.fa-hospital-o:before {
  content: ""; }

.fa-ambulance:before {
  content: ""; }

.fa-medkit:before {
  content: ""; }

.fa-fighter-jet:before {
  content: ""; }

.fa-beer:before {
  content: ""; }

.fa-h-square:before {
  content: ""; }

.fa-plus-square:before {
  content: ""; }

.fa-angle-double-left:before {
  content: ""; }

.fa-angle-double-right:before {
  content: ""; }

.fa-angle-double-up:before {
  content: ""; }

.fa-angle-double-down:before {
  content: ""; }

.fa-angle-left:before {
  content: ""; }

.fa-angle-right:before {
  content: ""; }

.fa-angle-up:before {
  content: ""; }

.fa-angle-down:before {
  content: ""; }

.fa-desktop:before {
  content: ""; }

.fa-laptop:before {
  content: ""; }

.fa-tablet:before {
  content: ""; }

.fa-mobile-phone:before,
.fa-mobile:before {
  content: ""; }

.fa-circle-o:before {
  content: ""; }

.fa-quote-left:before {
  content: ""; }

.fa-quote-right:before {
  content: ""; }

.fa-spinner:before {
  content: ""; }

.fa-circle:before {
  content: ""; }

.fa-mail-reply:before,
.fa-reply:before {
  content: ""; }

.fa-github-alt:before {
  content: ""; }

.fa-folder-o:before {
  content: ""; }

.fa-folder-open-o:before {
  content: ""; }

.fa-smile-o:before {
  content: ""; }

.fa-frown-o:before {
  content: ""; }

.fa-meh-o:before {
  content: ""; }

.fa-gamepad:before {
  content: ""; }

.fa-keyboard-o:before {
  content: ""; }

.fa-flag-o:before {
  content: ""; }

.fa-flag-checkered:before {
  content: ""; }

.fa-terminal:before {
  content: ""; }

.fa-code:before {
  content: ""; }

.fa-mail-reply-all:before,
.fa-reply-all:before {
  content: ""; }

.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: ""; }

.fa-location-arrow:before {
  content: ""; }

.fa-crop:before {
  content: ""; }

.fa-code-fork:before {
  content: ""; }

.fa-unlink:before,
.fa-chain-broken:before {
  content: ""; }

.fa-question:before {
  content: ""; }

.fa-info:before {
  content: ""; }

.fa-exclamation:before {
  content: ""; }

.fa-superscript:before {
  content: ""; }

.fa-subscript:before {
  content: ""; }

.fa-eraser:before {
  content: ""; }

.fa-puzzle-piece:before {
  content: ""; }

.fa-microphone:before {
  content: ""; }

.fa-microphone-slash:before {
  content: ""; }

.fa-shield:before {
  content: ""; }

.fa-calendar-o:before {
  content: ""; }

.fa-fire-extinguisher:before {
  content: ""; }

.fa-rocket:before {
  content: ""; }

.fa-maxcdn:before {
  content: ""; }

.fa-chevron-circle-left:before {
  content: ""; }

.fa-chevron-circle-right:before {
  content: ""; }

.fa-chevron-circle-up:before {
  content: ""; }

.fa-chevron-circle-down:before {
  content: ""; }

.fa-html5:before {
  content: ""; }

.fa-css3:before {
  content: ""; }

.fa-anchor:before {
  content: ""; }

.fa-unlock-alt:before {
  content: ""; }

.fa-bullseye:before {
  content: ""; }

.fa-ellipsis-h:before {
  content: ""; }

.fa-ellipsis-v:before {
  content: ""; }

.fa-rss-square:before {
  content: ""; }

.fa-play-circle:before {
  content: ""; }

.fa-ticket:before {
  content: ""; }

.fa-minus-square:before {
  content: ""; }

.fa-minus-square-o:before {
  content: ""; }

.fa-level-up:before {
  content: ""; }

.fa-level-down:before {
  content: ""; }

.fa-check-square:before {
  content: ""; }

.fa-pencil-square:before {
  content: ""; }

.fa-external-link-square:before {
  content: ""; }

.fa-share-square:before {
  content: ""; }

.fa-compass:before {
  content: ""; }

.fa-toggle-down:before,
.fa-caret-square-o-down:before {
  content: ""; }

.fa-toggle-up:before,
.fa-caret-square-o-up:before {
  content: ""; }

.fa-toggle-right:before,
.fa-caret-square-o-right:before {
  content: ""; }

.fa-euro:before,
.fa-eur:before {
  content: ""; }

.fa-gbp:before {
  content: ""; }

.fa-dollar:before,
.fa-usd:before {
  content: ""; }

.fa-rupee:before,
.fa-inr:before {
  content: ""; }

.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
  content: ""; }

.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: ""; }

.fa-won:before,
.fa-krw:before {
  content: ""; }

.fa-bitcoin:before,
.fa-btc:before {
  content: ""; }

.fa-file:before {
  content: ""; }

.fa-file-text:before {
  content: ""; }

.fa-sort-alpha-asc:before {
  content: ""; }

.fa-sort-alpha-desc:before {
  content: ""; }

.fa-sort-amount-asc:before {
  content: ""; }

.fa-sort-amount-desc:before {
  content: ""; }

.fa-sort-numeric-asc:before {
  content: ""; }

.fa-sort-numeric-desc:before {
  content: ""; }

.fa-thumbs-up:before {
  content: ""; }

.fa-thumbs-down:before {
  content: ""; }

.fa-youtube-square:before {
  content: ""; }

.fa-youtube:before {
  content: ""; }

.fa-xing:before {
  content: ""; }

.fa-xing-square:before {
  content: ""; }

.fa-youtube-play:before {
  content: ""; }

.fa-dropbox:before {
  content: ""; }

.fa-stack-overflow:before {
  content: ""; }

.fa-instagram:before {
  content: ""; }

.fa-flickr:before {
  content: ""; }

.fa-adn:before {
  content: ""; }

.fa-bitbucket:before {
  content: ""; }

.fa-bitbucket-square:before {
  content: ""; }

.fa-tumblr:before {
  content: ""; }

.fa-tumblr-square:before {
  content: ""; }

.fa-long-arrow-down:before {
  content: ""; }

.fa-long-arrow-up:before {
  content: ""; }

.fa-long-arrow-left:before {
  content: ""; }

.fa-long-arrow-right:before {
  content: ""; }

.fa-apple:before {
  content: ""; }

.fa-windows:before {
  content: ""; }

.fa-android:before {
  content: ""; }

.fa-linux:before {
  content: ""; }

.fa-dribbble:before {
  content: ""; }

.fa-skype:before {
  content: ""; }

.fa-foursquare:before {
  content: ""; }

.fa-trello:before {
  content: ""; }

.fa-female:before {
  content: ""; }

.fa-male:before {
  content: ""; }

.fa-gittip:before,
.fa-gratipay:before {
  content: ""; }

.fa-sun-o:before {
  content: ""; }

.fa-moon-o:before {
  content: ""; }

.fa-archive:before {
  content: ""; }

.fa-bug:before {
  content: ""; }

.fa-vk:before {
  content: ""; }

.fa-weibo:before {
  content: ""; }

.fa-renren:before {
  content: ""; }

.fa-pagelines:before {
  content: ""; }

.fa-stack-exchange:before {
  content: ""; }

.fa-arrow-circle-o-right:before {
  content: ""; }

.fa-arrow-circle-o-left:before {
  content: ""; }

.fa-toggle-left:before,
.fa-caret-square-o-left:before {
  content: ""; }

.fa-dot-circle-o:before {
  content: ""; }

.fa-wheelchair:before {
  content: ""; }

.fa-vimeo-square:before {
  content: ""; }

.fa-turkish-lira:before,
.fa-try:before {
  content: ""; }

.fa-plus-square-o:before {
  content: ""; }

.fa-space-shuttle:before {
  content: ""; }

.fa-slack:before {
  content: ""; }

.fa-envelope-square:before {
  content: ""; }

.fa-wordpress:before {
  content: ""; }

.fa-openid:before {
  content: ""; }

.fa-institution:before,
.fa-bank:before,
.fa-university:before {
  content: ""; }

.fa-mortar-board:before,
.fa-graduation-cap:before {
  content: ""; }

.fa-yahoo:before {
  content: ""; }

.fa-google:before {
  content: ""; }

.fa-reddit:before {
  content: ""; }

.fa-reddit-square:before {
  content: ""; }

.fa-stumbleupon-circle:before {
  content: ""; }

.fa-stumbleupon:before {
  content: ""; }

.fa-delicious:before {
  content: ""; }

.fa-digg:before {
  content: ""; }

.fa-pied-piper:before {
  content: ""; }

.fa-pied-piper-alt:before {
  content: ""; }

.fa-drupal:before {
  content: ""; }

.fa-joomla:before {
  content: ""; }

.fa-language:before {
  content: ""; }

.fa-fax:before {
  content: ""; }

.fa-building:before {
  content: ""; }

.fa-child:before {
  content: ""; }

.fa-paw:before {
  content: ""; }

.fa-spoon:before {
  content: ""; }

.fa-cube:before {
  content: ""; }

.fa-cubes:before {
  content: ""; }

.fa-behance:before {
  content: ""; }

.fa-behance-square:before {
  content: ""; }

.fa-steam:before {
  content: ""; }

.fa-steam-square:before {
  content: ""; }

.fa-recycle:before {
  content: ""; }

.fa-automobile:before,
.fa-car:before {
  content: ""; }

.fa-cab:before,
.fa-taxi:before {
  content: ""; }

.fa-tree:before {
  content: ""; }

.fa-spotify:before {
  content: ""; }

.fa-deviantart:before {
  content: ""; }

.fa-soundcloud:before {
  content: ""; }

.fa-database:before {
  content: ""; }

.fa-file-pdf-o:before {
  content: ""; }

.fa-file-word-o:before {
  content: ""; }

.fa-file-excel-o:before {
  content: ""; }

.fa-file-powerpoint-o:before {
  content: ""; }

.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
  content: ""; }

.fa-file-zip-o:before,
.fa-file-archive-o:before {
  content: ""; }

.fa-file-sound-o:before,
.fa-file-audio-o:before {
  content: ""; }

.fa-file-movie-o:before,
.fa-file-video-o:before {
  content: ""; }

.fa-file-code-o:before {
  content: ""; }

.fa-vine:before {
  content: ""; }

.fa-codepen:before {
  content: ""; }

.fa-jsfiddle:before {
  content: ""; }

.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
  content: ""; }

.fa-circle-o-notch:before {
  content: ""; }

.fa-ra:before,
.fa-rebel:before {
  content: ""; }

.fa-ge:before,
.fa-empire:before {
  content: ""; }

.fa-git-square:before {
  content: ""; }

.fa-git:before {
  content: ""; }

.fa-y-combinator-square:before,
.fa-yc-square:before,
.fa-hacker-news:before {
  content: ""; }

.fa-tencent-weibo:before {
  content: ""; }

.fa-qq:before {
  content: ""; }

.fa-wechat:before,
.fa-weixin:before {
  content: ""; }

.fa-send:before,
.fa-paper-plane:before {
  content: ""; }

.fa-send-o:before,
.fa-paper-plane-o:before {
  content: ""; }

.fa-history:before {
  content: ""; }

.fa-circle-thin:before {
  content: ""; }

.fa-header:before {
  content: ""; }

.fa-paragraph:before {
  content: ""; }

.fa-sliders:before {
  content: ""; }

.fa-share-alt:before {
  content: ""; }

.fa-share-alt-square:before {
  content: ""; }

.fa-bomb:before {
  content: ""; }

.fa-soccer-ball-o:before,
.fa-futbol-o:before {
  content: ""; }

.fa-tty:before {
  content: ""; }

.fa-binoculars:before {
  content: ""; }

.fa-plug:before {
  content: ""; }

.fa-slideshare:before {
  content: ""; }

.fa-twitch:before {
  content: ""; }

.fa-yelp:before {
  content: ""; }

.fa-newspaper-o:before {
  content: ""; }

.fa-wifi:before {
  content: ""; }

.fa-calculator:before {
  content: ""; }

.fa-paypal:before {
  content: ""; }

.fa-google-wallet:before {
  content: ""; }

.fa-cc-visa:before {
  content: ""; }

.fa-cc-mastercard:before {
  content: ""; }

.fa-cc-discover:before {
  content: ""; }

.fa-cc-amex:before {
  content: ""; }

.fa-cc-paypal:before {
  content: ""; }

.fa-cc-stripe:before {
  content: ""; }

.fa-bell-slash:before {
  content: ""; }

.fa-bell-slash-o:before {
  content: ""; }

.fa-trash:before {
  content: ""; }

.fa-copyright:before {
  content: ""; }

.fa-at:before {
  content: ""; }

.fa-eyedropper:before {
  content: ""; }

.fa-paint-brush:before {
  content: ""; }

.fa-birthday-cake:before {
  content: ""; }

.fa-area-chart:before {
  content: ""; }

.fa-pie-chart:before {
  content: ""; }

.fa-line-chart:before {
  content: ""; }

.fa-lastfm:before {
  content: ""; }

.fa-lastfm-square:before {
  content: ""; }

.fa-toggle-off:before {
  content: ""; }

.fa-toggle-on:before {
  content: ""; }

.fa-bicycle:before {
  content: ""; }

.fa-bus:before {
  content: ""; }

.fa-ioxhost:before {
  content: ""; }

.fa-angellist:before {
  content: ""; }

.fa-cc:before {
  content: ""; }

.fa-shekel:before,
.fa-sheqel:before,
.fa-ils:before {
  content: ""; }

.fa-meanpath:before {
  content: ""; }

.fa-buysellads:before {
  content: ""; }

.fa-connectdevelop:before {
  content: ""; }

.fa-dashcube:before {
  content: ""; }

.fa-forumbee:before {
  content: ""; }

.fa-leanpub:before {
  content: ""; }

.fa-sellsy:before {
  content: ""; }

.fa-shirtsinbulk:before {
  content: ""; }

.fa-simplybuilt:before {
  content: ""; }

.fa-skyatlas:before {
  content: ""; }

.fa-cart-plus:before {
  content: ""; }

.fa-cart-arrow-down:before {
  content: ""; }

.fa-diamond:before {
  content: ""; }

.fa-ship:before {
  content: ""; }

.fa-user-secret:before {
  content: ""; }

.fa-motorcycle:before {
  content: ""; }

.fa-street-view:before {
  content: ""; }

.fa-heartbeat:before {
  content: ""; }

.fa-venus:before {
  content: ""; }

.fa-mars:before {
  content: ""; }

.fa-mercury:before {
  content: ""; }

.fa-intersex:before,
.fa-transgender:before {
  content: ""; }

.fa-transgender-alt:before {
  content: ""; }

.fa-venus-double:before {
  content: ""; }

.fa-mars-double:before {
  content: ""; }

.fa-venus-mars:before {
  content: ""; }

.fa-mars-stroke:before {
  content: ""; }

.fa-mars-stroke-v:before {
  content: ""; }

.fa-mars-stroke-h:before {
  content: ""; }

.fa-neuter:before {
  content: ""; }

.fa-genderless:before {
  content: ""; }

.fa-facebook-official:before {
  content: ""; }

.fa-pinterest-p:before {
  content: ""; }

.fa-whatsapp:before {
  content: ""; }

.fa-server:before {
  content: ""; }

.fa-user-plus:before {
  content: ""; }

.fa-user-times:before {
  content: ""; }

.fa-hotel:before,
.fa-bed:before {
  content: ""; }

.fa-viacoin:before {
  content: ""; }

.fa-train:before {
  content: ""; }

.fa-subway:before {
  content: ""; }

.fa-medium:before {
  content: ""; }

.fa-yc:before,
.fa-y-combinator:before {
  content: ""; }

.fa-optin-monster:before {
  content: ""; }

.fa-opencart:before {
  content: ""; }

.fa-expeditedssl:before {
  content: ""; }

.fa-battery-4:before,
.fa-battery-full:before {
  content: ""; }

.fa-battery-3:before,
.fa-battery-three-quarters:before {
  content: ""; }

.fa-battery-2:before,
.fa-battery-half:before {
  content: ""; }

.fa-battery-1:before,
.fa-battery-quarter:before {
  content: ""; }

.fa-battery-0:before,
.fa-battery-empty:before {
  content: ""; }

.fa-mouse-pointer:before {
  content: ""; }

.fa-i-cursor:before {
  content: ""; }

.fa-object-group:before {
  content: ""; }

.fa-object-ungroup:before {
  content: ""; }

.fa-sticky-note:before {
  content: ""; }

.fa-sticky-note-o:before {
  content: ""; }

.fa-cc-jcb:before {
  content: ""; }

.fa-cc-diners-club:before {
  content: ""; }

.fa-clone:before {
  content: ""; }

.fa-balance-scale:before {
  content: ""; }

.fa-hourglass-o:before {
  content: ""; }

.fa-hourglass-1:before,
.fa-hourglass-start:before {
  content: ""; }

.fa-hourglass-2:before,
.fa-hourglass-half:before {
  content: ""; }

.fa-hourglass-3:before,
.fa-hourglass-end:before {
  content: ""; }

.fa-hourglass:before {
  content: ""; }

.fa-hand-grab-o:before,
.fa-hand-rock-o:before {
  content: ""; }

.fa-hand-stop-o:before,
.fa-hand-paper-o:before {
  content: ""; }

.fa-hand-scissors-o:before {
  content: ""; }

.fa-hand-lizard-o:before {
  content: ""; }

.fa-hand-spock-o:before {
  content: ""; }

.fa-hand-pointer-o:before {
  content: ""; }

.fa-hand-peace-o:before {
  content: ""; }

.fa-trademark:before {
  content: ""; }

.fa-registered:before {
  content: ""; }

.fa-creative-commons:before {
  content: ""; }

.fa-gg:before {
  content: ""; }

.fa-gg-circle:before {
  content: ""; }

.fa-tripadvisor:before {
  content: ""; }

.fa-odnoklassniki:before {
  content: ""; }

.fa-odnoklassniki-square:before {
  content: ""; }

.fa-get-pocket:before {
  content: ""; }

.fa-wikipedia-w:before {
  content: ""; }

.fa-safari:before {
  content: ""; }

.fa-chrome:before {
  content: ""; }

.fa-firefox:before {
  content: ""; }

.fa-opera:before {
  content: ""; }

.fa-internet-explorer:before {
  content: ""; }

.fa-tv:before,
.fa-television:before {
  content: ""; }

.fa-contao:before {
  content: ""; }

.fa-500px:before {
  content: ""; }

.fa-amazon:before {
  content: ""; }

.fa-calendar-plus-o:before {
  content: ""; }

.fa-calendar-minus-o:before {
  content: ""; }

.fa-calendar-times-o:before {
  content: ""; }

.fa-calendar-check-o:before {
  content: ""; }

.fa-industry:before {
  content: ""; }

.fa-map-pin:before {
  content: ""; }

.fa-map-signs:before {
  content: ""; }

.fa-map-o:before {
  content: ""; }

.fa-map:before {
  content: ""; }

.fa-commenting:before {
  content: ""; }

.fa-commenting-o:before {
  content: ""; }

.fa-houzz:before {
  content: ""; }

.fa-vimeo:before {
  content: ""; }

.fa-black-tie:before {
  content: ""; }

.fa-fonticons:before {
  content: ""; }

.fa-reddit-alien:before {
  content: ""; }

.fa-edge:before {
  content: ""; }

.fa-credit-card-alt:before {
  content: ""; }

.fa-codiepie:before {
  content: ""; }

.fa-modx:before {
  content: ""; }

.fa-fort-awesome:before {
  content: ""; }

.fa-usb:before {
  content: ""; }

.fa-product-hunt:before {
  content: ""; }

.fa-mixcloud:before {
  content: ""; }

.fa-scribd:before {
  content: ""; }

.fa-pause-circle:before {
  content: ""; }

.fa-pause-circle-o:before {
  content: ""; }

.fa-stop-circle:before {
  content: ""; }

.fa-stop-circle-o:before {
  content: ""; }

.fa-shopping-bag:before {
  content: ""; }

.fa-shopping-basket:before {
  content: ""; }

.fa-hashtag:before {
  content: ""; }

.fa-bluetooth:before {
  content: ""; }

.fa-bluetooth-b:before {
  content: ""; }

.fa-percent:before {
  content: ""; }

/** ANOTHER TEST COMMENT **/
/** GENERAL STUFF **/


h1, h2, h3, h4 {
  font-family: "knowledge", "Helvetica" , Helvetica, sans-serif;
}


body {
  background: #efefef;
  color: #555555;
  font-family: "knowledge", Helvetica, sans-serif;
  font-size: 18px;
  height: 100%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  position: relative; }

::-moz-selection {
  background: #ff8000;
  color: #ffffff; }

::selection {
  background: #ff8000;
  color: #ffffff; }

.content {
  background: #ffffff;
  background-image: url(../images/orange-dots-bottom2.png);
  background-position: 130px bottom;
  background-repeat: no-repeat;
  background-size: 300px 84px;
  padding-bottom: 130px;
  position: relative; }

b, strong {
  font-weight: 600; }

p, ul {
  font-size: 18px; }

ul {
  padding: 0 0 0 20px; }

li {
  margin: 0 0 10px 0; }

li strong {
  display: block; }

dl {
  margin-top: 10px; }

p {
  font-size: 18px; }

hr {
  margin: 20px 8.33333% 30px 8.33333%; }

a.button, button.button, form input.button {
  display: inline-block;
  font-family: 'knowledge-regular', sans-serif;
  font-weight: normal;
  margin: 20px 20px 20px 0;
  outline: 0;
  border-radius: 5px;
  color: #ffffff;
  background-color: #ff8000;
  white-space: nowrap;
  padding: 6px 16px;
  line-height: 1.4;
  border: 0;
  position: relative;
  text-decoration: none;
  transition: 0.1s;
  width: auto; }

a.button:hover, button.button:hover, .form-block input.button:hover {
  background-color: #ff8000;
  color: #ffffff;
  text-decoration: none; }

.button .arrow {
  font-weight: lighter; }

.panel {
  background: #efefef;
  border: 0;
  border-radius: 0;
  font-size: 16px;
  font-weight: bold;
  padding: 10px; }

.subhead {
  font-size: 18px;
  font-weight: bold;
  margin: 20px 0 10px 0;
  padding: 0; }

.button.rightarrow, a.rightarrow, .button.rightarrow:hover, a.rightarrow:hover, .strip span a, .strip span a:hover {
  background-image: url(../images/rightarrow-white.png);
  background-position: 95% center;
  background-repeat: no-repeat;
  background-size: 4px 8px;
  font-size: 18px;
  padding-right: 30px;
  width: auto; }

a.caret-link {
  background-image: url(../images/rightarrow-blue.png);
  background-position: 95% center;
  background-repeat: no-repeat;
  background-size: 4px 8px;
  font-size: 18px;
  padding-right: 15px;
  width: auto; }

.text-content {
  margin: 20px 0 0 0;
  padding: 0 8.33333%;
  padding-left: calc(8.33333% - 15px);
  padding-right: calc(8.33333% - 15px); }

.text-content ul {
  margin-top: 20px; }

.glyphicon {
  margin-right: 10px;
  color: #ff8000; }

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  margin: 20px 0;
  overflow: hidden;
  max-width: 100%; }

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.img-responsive {
  max-width: 100%;
  width: 100%; }

.desaturate {
  filter: grayscale(100%) contrast(2);
  -webkit-filter: grayscale(100%) contrast(20%);
  filter: gray;
  -webkit-filter: grayscale(1) contrast(2); }

ul#myTabs li a:hover, ul#myTabs li.active a {
  color: white;
  background-color: #ff8000; }

div.bordered {
  border-bottom: 1px solid #efefef;
  padding-bottom: 20px;
  margin-top: 20px; }

.phone {
  margin: 40px -15px; }

.phone h4 {
  border-bottom: 1px solid #efefef;
  display: block;
  font-weight: 400;
  margin: 0 15px 5px 15px;
  padding: 0 0 5px 0;
  text-transform: uppercase; }

/** TOP HEADER AREA AND BANNER **/
/** COOKIE MESSAGE **/
#cookie_message {
  display: none; }

.cookie-message {
  background: #efefef;
  font-size: 14px;
  margin: 0;
  padding: 30px 0;
  width: 100%; }

.cookie-buttons {
  padding: 20px 0 0 0; }

.cookie-buttons a {
  display: block; }

.cookie-buttons .glyphicon {
  color: #0083bf; }

/** GLOBAL MENU **/
.global {
  background: #86888a;
  display: block;
  padding: 2px 8.33333%;
  width: 100%; }

.global a {
  color: #ffffff;
  font-size: 12px; }

.global a:hover {
  color: #ffffff; }

.global .dropdown-menu {
  margin-left: 8.33333%;
  max-width: 215px;
  width: 215px; }

.global .dropdown-menu > li {
  float: none;
  width: 100%; }

.global .dropdown-menu ul li {
  color: #86888a;
  list-style: none; }

.global .dropdown-menu ul li a {
  color: #86888a; }

/** LOGOS **/
.logos {
  padding: 10px 8.33333% 9px 8.33333%; }

.logos > div {
  clear: both; }

.logos a.tr-logo {
  background: url(../images/clarivate-analytics-logo.png);
  background-repeat: no-repeat;
  background-size: 120px 60px;
  display: block;
  height: 60px;
  margin: 10px 20px 10px 0;
  padding: 0 30px 0 0;
  width: 136px; }

.logos a.tr-logo-white {
  background: url(../images/thomson-reuters-logo-white.png);
  background-repeat: no-repeat;
  background-size: 175px 40px;
  border-right: 1px solid #ffffff;
  display: block;
  height: 40px;
  margin: 10px 20px 0px 40px;
  padding: 0 30px 0 0;
  width: 205px; }

.logos span.division {
  display: inline-block;
  font-size: 14px;
  color: #86888a;
  margin-top: 0;
  font-family: "Helvetica";
   }

.logos span.division:hover {
  color: #86888a !important;
 }

.logos a.trail {
  color: #86888a;
  display: none;
  font-size: 14px;
  float: right;
  margin: 10px 15px 0 0;
  padding: 10px 0;
  text-align: right; }

/** SEARCH FORM **/
.search-form {
  display: inline-block !important;
  background: #efefef;
  border: 1px solid #86888a;
  float: left;
  height: 30px;
  margin: 15px 0 30px 0;
  padding: 0;
  text-align: right;
  width: auto; }

.search-form .search-field {
  outline: none;
  background: #efefef;
  border: 0;
  font-size: 14px;
  font-weight: lighter;
  height: 27px;
  margin: 0;
  min-width: 100px;
  padding: 5px;
  width: 100px;
  color: #555555; }

.search-form .search-submit {
  background: #efefef url(../images/search.png);
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-position: center center;
  border: 0;
  height: 27px;
  margin: -3px 0 0 0;
  padding: 0;
  position: relative;
  top: -5px;
  width: 30px; }

@-moz-document url-prefix() {
  .search-form .search-submit {
    height: 27px; } }

/** NAV **/
.navbar {
  background: #ff8000;
  border: 0;
  border-radius: 0;
  color: #ffffff;
  margin-bottom: 0;
  min-height: 30px;
  padding-left: 8.33333%;
  padding-right: 8.33333%;
  /*padding-left:8.33333%; padding-right:8.33333%;*/ }

.navbar.affix {
  margin-left: 0;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 9800; }

.navbar.affix .navbar-nav {
  margin-left: -70px !important; }

.menu-there .navbar.affix {
  margin-left: 0px;
  position: fixed; }

.navbar-collapse {
  padding-right: 0;
  padding-left: 0; }

.navbar-toggle {
  margin: 0;
  padding: 15px 0; }

.navbar-toggle .icon-bar {
  background: #ffffff;
  color: #ffffff; }

.collapse.in {
  padding-bottom: 20px; }

.navbar a {
  color: #ffffff; }

.navbar-nav {
  margin: 0;
  font-size: 14px; }

.navbar-nav > li {
  margin: 0; }

.navbar-nav > li > a {
  padding-top: 11px;
  padding-bottom: 10px;
  padding-left: 30px; }

.navbar-nav > li > a:hover, .nav .open > a, .nav .open > a:focus, .nav .open > a:hover, .nav > li > a:focus, .nav > li > a:hover {
  background: #4d4d4d; }

.dropdown-menu {
  clear: both;
  overflow: hidden;
  padding-bottom: 20px; }

.dropdown.open {
  clear: both; }

.dropdown-menu > li {
  float: left;
  margin: 0;
  width: 100%; }

.dropdown-menu > li a {
  padding: 5px 20px; }

.dropdown-menu > li a:hover {
  background: #ff8000;
  color: #ffffff; }

.dropdown-menu > .active > a:hover {
  background: #86888a;
  color: #ffffff; }

/** MEGA MENU **/
.menu-there .header {
  background: #ffffff;
  display: block;
  height: 139px;
  max-width: 1140px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9800; }

.mega-background {
  background: #2c262c;
  bottom: 0;
  display: none;
  height: 100%;
  left: 0;
  opacity: 0.8;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9500; }
.mega-menu {
  display: none;
  -webkit-box-shadow: 0px 0px 2px 0px #898989;
  box-shadow: 0px 0px 2px 0px #898989;
  background: #ffffff;
  left: 50%;
  margin-left: -384px;
  position: fixed;
  top: 165px;
  z-index: 9999; }

.mega-menu .container {
  padding: 0; }

.conatiner .mega-menu .mega-row {
  background: #efefef;
  margin-left: 0;
  margin-right: 0;
  padding: 0; }

.mega-menu .overview {
  background: #efefef;
  bottom: 0;
  display: block;
  padding: 20px 30px;
  position: relative;
  top: 0; }

.mega-menu .overview a:hover {
  text-decoration: underline; }

.mega-menu .overview p, .mega-menu .overview a, .mega-menu .overview ul li a, .mega-menu .overview img, .mega-menu .overview h3 {
  font-size: 16px;
  margin: 0 0 5px 0 !important;
  padding: 0 !important; }

.mega-menu .overview ul {
  margin-bottom: 50px; }

.mega-menu .mega-products {
  background: #ffffff;
  padding-bottom: 20px; }

.mega-menu .trail p, .mega-menu .trail a {
  margin: 0 0 0 10px; }

.mega-menu h2 {
  font-size: 20px;
  margin: 10px 0 0 0;
  padding: 10px;
  text-transform: uppercase; }

.mega-menu h3 {
  font-size: 16px;
  margin: 10px 0 0 0;
  padding: 10px;
  text-transform: uppercase; }

.mega-menu ul {
  margin: 0;
  padding: 0; }

.mega-menu ul li {
  list-style: none;
  margin: 0;
  padding: 0; }

.mega-menu ul li a {
  display: block;
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 4px;
  padding: 2px 10px;
  text-decoration: none; }

.mega-menu ul li a:hover {
  background: #efefef;
  text-decoration: none; }

.mega-menu ul li a span {
  display: block; }

/** BANNER **/
.container .banner.row {
  display: block;
  height: 250px;
  margin: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  position: relative;
  overflow: hidden; }

.banner-text {
  display: block;
  padding: 0 8.33333%;
  position: absolute;
  bottom: 2%; }

.banner-text h1 {
  font-weight: bold;
  font-size: 22px;
  text-transform: uppercase; }

.banner-text h1 a {
  color: #ffffff; }

.banner-text.colour-white, .banner-text.colour-white h1, .banner-text.colour-white h1 a {
  color: #ffffff; }

.banner-text.colour-grey, .banner-text.colour-grey h1, .banner-text.colour-grey h1 a {
  color: #4d4d4d; }

.gradient-back {
  background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
  background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.6) 100%);
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.65) 95%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
  display: block;
  height: 100%;
  left: 0;
  opacity: 0.6;
  position: absolute;
  top: 0;
  width: 100%; }

.rule {
  display: block;
  float: left;
  font-size: 60px;
  font-weight: 600;
  height: 20px;
  line-height: 30px;
  margin: 20px 0 0 -11.33333%;
  text-align: center;
  width: 8.33333%; }

@-moz-document url-prefix() {
  .rule {
    display: block;
    float: left;
    font-size: 60px;
    height: 200px;
    line-height: 30px;
    margin: 20px 0 0 -11.33333%;
    text-align: center;
    width: 7%; } }

.strapline {
  font-size: 18px;
  font-weight: 300;
  margin: 0 0 10px 0; }

.banner.row.banner_less {
  height: auto;
  margin: 30px 0 30px 0; }

@-moz-document url-prefix() {
  .banner_less {
    top: 0; } }

@-moz-document url-prefix() {
  .banner_less .rule {
    height: auto !important; } }

.banner.banner_less .banner-text {
  position: relative;
  bottom: auto;
  color: #ff8000; }

.banner.banner_less .banner-text h1, .banner_less .banner-text h1 a {
  color: #ff8000; }

.banner.banner_less .strapline {
  margin-bottom: 0; }

/** STRIP **/
.container .row.strip {
  margin: 0;
  margin-left: 0;
  margin-right: 0; }

.row.strip .col-md-12 {
  background: #ff8000;
  color: #ffffff;
  display: block;
  margin: 0;
  padding: 5px 8.33333%; }

.row.strip span {
  font-size: 16px;
  display: inline-block;
  margin: 15px 0;
  width: auto; }

.row.strip span a, .strip span a:hover {
  color: #ffffff;
  display: inline-block;
  font-size: 16px; }

/** CONTENT **/
/** INTRO **/
.intro {
  margin: 20px 0; }

.intro .col-md-8 {
  margin: 0;
  padding: 0 8.33333%; }

.intro h2 {
  font-size: 30px;
  font-weight: 600;
  line-height: 40px; }

.intro h3 {
  font-size: 30px;
  font-weight: 300; }

.body-text h3 {
  color: #ff8000;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px; }

.body-text h4 {
  font-size: 20px;
  margin-top: 20px; }

/** FEATURES LIST **/
.row.features {
  padding: 50px 8.33333% 20px 8.33333%; }

.features hr {
  color: #cdcdcd;
  clear: both;
  display: block;
  margin: 30px 0 0 0;
  max-width: 804px;
  padding: 0;
  position: relative; }

.features .panel {
  background: #efefef;
  border-radius: 0;
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 15px 0;
  padding: 15px; }

.features .panel h5 {
  margin: 0; }

.features .panel h5 a {
  color: #555555;
  display: block;
  font-weight: bold;
  font-size: 18px;
  padding-right: 25px;
  text-decoration: none;
  width: 100%; }

.features .panel p {
  font-weight: lighter;
  font-size: 18px; }

.features .panel ul {
  font-weight: lighter;
  padding: 0 0 0 20px; }

.panel h5 a {
  background-image: url("http://images.info.science.thomsonreuters.biz/EloquaImages/clients/ThomsonReutersScience/%7b75f21f33-6786-4302-9acb-a3876ed9dd79%7d_minus.png");
  background-repeat: no-repeat;
  background-position: 99% center;
  color: #0083bf;
  font-size: 16px;
  font-weight: bold; }

.panel h5 a.collapsed {
  background-image: url("http://images.info.science.thomsonreuters.biz/EloquaImages/clients/ThomsonReutersScience/%7b992d6e9a-141c-4771-a352-6f24f079ed2f%7d_plus.png"); }

/* BLOGS */
.post {
  margin: 0 0 50px 0; }

.post .post-image {
  display: block;
  height: 220px;
  max-height: 220px;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
  vertical-align: middle; }

.post .post-image img.img-responsive {
  position: absolute;
  top: -100%;
  left: 0;
  right: 0;
  bottom: -100%;
  margin: auto; }

.post h2 {
  clear: left;
  margin-top: 0; }

.post img {
  height: auto;
  margin: 0 0 20px 0;
  max-width: 100%; }

.post .post-meta {
  display: block;
  min-height: 100px;
  padding-right: 0;
  text-align: left; }

.post img.post-authorphoto {
  float: left;
  margin: 0 20px 5px 0;
  max-width: 110px; }

.post-author {
  display: inline-block;
  font-size: 12px;
  margin: 0; }

.single .post-meta .post-author {
  margin: 0; }

.post-date {
  display: block;
  font-size: 12px;
  padding: 30px 0 0 0;
  text-transform: uppercase; }

.post-authorjob {
  display: block;
  font-size: 12px; }

.post-authordetails {
  display: inline-block; }

.post-updated {
  display: block;
  font-size: 12px;
  text-transform: uppercase; }

.post.single .body-text > .row {
  margin: 0; }

.post.single .post-meta {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  text-align: left; }

.post.single .post-authordetails {
  padding: 25px 0 0 0;
  max-width: 60%; }

.post.single .post-authorphoto {
  max-width: 90px; }

.post.single .post-content {
  padding-left: 0;
  padding-right: 0; }

.post.single .post-date {
  display: block;
  margin: 0;
  padding: 0 10px 0 0; }

.post.single .post-datetimeago {
  display: block;
  padding: 0 0 20px 0; }

/** FORMS **/
.download {
  clear: both;
  display: block;
  margin-top: 25px;
  padding: 0; }

.download h3 {
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  padding-right: 2%; }

.download img {
  float: right;
  max-width: 80px;
  width: 25%; }

.instruction {
  clear: left;
  display: block;
  float: none;
  font-size: 18px;
  margin: 10px 0 0 0;
  padding: 0; }

.IN-widget {
  margin: 10px 0; }

.form-block {
  margin: 0;
  padding: 0; }

.form-wide {
  padding: 50px 8.33333% 50px 8.33333%;
  padding-left: calc(8.33333% + 15px); }

.form-block label {
  color: #2c262c;
  display: block;
  font-size: 16px;
  font-weight: normal;
  margin: 0;
  text-align: left; }

.form-block input {
  background-color: #efefef;
  border: 1px solid #86888a;
  color: #2c262c;
  margin: 0 0 10px 0;
  padding: 5px 10px;
  width: 100%; }

.form-block input[type="checkbox"] {
  display: inline;
  float: left;
  height: 24px;
  margin: 0 10px 0 0;
  width: auto; }

.form-block input:focus {
  border: 1px solid #2c262c;
  outline: none; }

.form-block input:focus[type="submit"] {
  border: none; }

.form-block option {
  padding: 0;
  max-width: 260px; }

.form-block .multiple, .form-block textarea {
  background: #efefef;
  width: 100%; }

.form-block input.button {
  margin: 0 0 10px 0; }

.form-block #primary_focus {
  background: #efefef;
  border: 1px solid #86888a;
  color: #2c262c;
  height: 100px;
  margin: 0 0 10px 0;
  padding: 5px 10px;
  width: 100%; }

.sc-regular-size {
  height: auto;
  margin: 0 0 15px 0; }

.form-block .hidden {
  height: 0; }

.privacy {
  display: block;
  font-size: 18px;
  margin: 0 0 20px 0; }

label.label {
  font-size: 14px;
  font-weight: bold;
  padding: 0;
  margin: 0; }

.group-sm {
  display: inline-block;
  margin: 0 2% 0 0;
  padding: 0;
  width: 46%; }

.group-sm.last {
  margin: 0 0 0 0 !important;
  width: 50%; }

.styled-select select {
  background: transparent;
  display: block;
  width: 140%;
  padding: 5px;
  font-size: 14px;
  line-height: 1;
  margin: 0;
  border: 0;
  border-radius: 0;
  height: 32px;
  -webkit-appearance: none; }

.styled-select {
  display: block;
  width: 100%;
  height: 34px;
  line-height: 30px;
  margin: 0 0 25px 0;
  overflow: hidden;
  background: #efefef url("http://images.info.science.thomsonreuters.biz/EloquaImages/clients/ThomsonReutersScience/%7bc808307f-0b39-4dca-8236-6dd960d3114a%7d_arrow-down-grey.png") no-repeat right;
  border: 1px solid #86888a; }

.form-block select:focus {
  border: 1px solid #cdcdcd;
  outline: none; }

textarea {
  width: 100%; }

.required {
  color: red;
  margin-left: 2px; }

.LV_validation_message {
  font-weight: bold;
  margin: 0 0 0 5px; }

.LV_valid {
  color: #00CC00;
  display: none; }

.LV_invalid {
  color: #CC0000;
  font-size: 10px; }

.LV_valid_field, input.LV_valid_field:hover, input.LV_valid_field:active, textarea.LV_valid_field:hover, textarea.LV_valid_field:active {
  outline: 1px solid #00CC00; }

.LV_invalid_field, input.LV_invalid_field:hover, input.LV_invalid_field:active, textarea.LV_invalid_field:hover, textarea.LV_invalid_field:active {
  outline: 1px solid #CC0000; }

div#formElement0 {
  margin-top: 20px; }

/* RELATED ARTICLES */
.articles {
  padding: 0 8.33333%; }

h3.articles-head {
  padding-left: 15px; }

.articles h4 {
  font-size: 24px;
  font-weight: 300; }

.article {
  margin-bottom: 30px; }

/* PERSONA / ROLE PAGES */
.role .banner-text {
  max-width: 65%; }

.role .strapline {
  font-size: 21px;
  line-height: 28px; }

.role .text-content .strapline {
  font-size: 21px;
  font-weight: 300;
  padding-left: 15px;
  padding-right: 15px; }

.role .text-content .col-sm-10, .role .text-content .col-sm-2 {
  padding-left: 0;
  padding-right: 0; }

.concerns {
  margin: 0 0 60px 0; }

.concerns:first-child {
  margin-top: 40px; }

.concerns h3 {
  margin-top: 8px;
  margin-bottom: 12px; }

.concerns p {
  margin-bottom: 0; }

.concerns .col-sm-2.persona-thumb {
  padding-left: 0;
  padding-right: 0; }

.concerns .col-sm-2.persona-thumb .img-responsive {
  max-width: 30%; }

.quote {
  margin: 30px 0; }

.sidebar .quote {
  margin-bottom: 60px;
  padding-left: 0;
  padding-right: 0; }

.quote blockquote {
  border-left: 0;
  font-size: 22px;
  font-weight: 400;
  font-style: italic;
  margin: 15px 0;
  padding: 0 0 0 0;
  quotes: "“" "”" "‘" "’"; }

.quote blockquote::before {
  content: open-quote; }

.quote blockquote::after {
  content: close-quote; }

.quote .rule {
  display: block;
  float: none;
  font-size: 50px;
  font-weight: 400;
  margin: 50px 0 0 -8px; }

@-moz-document url-prefix() {
  .quote .rule {
    display: block;
    float: none;
    font-size: 60px;
    height: 30px;
    line-height: 30px;
    margin: 15px 0;
    text-align: left;
    width: auto; } }

/* SEARCH RESULTS */
.results .row {
  margin: 0 -15px 30px -15px; }

.results h4 {
  margin: 0 0 20px 0; }

.results img {
  margin-top: 6px; }

/* SIDEBAR */
.sidebar .block {
  margin: 0 0 30px 0; }

.sidebar h4 {
  margin: 0 0 10px 0; }

.popular-tags a {
  line-height: 16px;
  margin-bottom: 4px; }

.sidebar ul {
  list-style: none;
  margin: 0 0 0 0;
  padding: 0; }

.sidebar li {
  list-style: none;
  margin: 0 0 3px 0; }

.sidebar .post-date {
  padding-top: 0; }

.sidebar .parent-category {
  font-weight: bold;
  margin: 0 0 3px 0;
  padding: 0; }

.selected a {
  color: #ff8000; }

.recent-post {
  margin: 0 0 20px 0; }

.recent-post img {
  margin-right: 10px;
  width: 25%; }

/** TAGS **/
h3.tags {
  font-size: 20px;
  font-weight: bold;
  margin: 30px 0 5px 0;
  padding: 0; }

.tag-list {
  list-style: none;
  padding: 0; }

.tag-list li {
  margin: 0 0 5px 0; }

.tag-list li a {
  font-weight: 300; }

.links {
  padding: 0 8.33333%; }

ul.link-group {
  list-style: none;
  padding: 0; }

ul.link-group li {
  list-style: none;
  margin: 0;
  padding: 0; }

.links .link-group h4 {
  font-weight: 400;
  font-size: 22px; }

ul.link-group li a {
  font-weight: 300; }

/* Contact page */
p.contact-list {
  padding-left: 28px; }

div#contact-page .glyphicon {
  float: left; }

div#contact-page strong {
  display: inline-block;
  width: 90%; }

/** Press Release **/
.pressReleaseCheckbox {
  margin-right: 8px !important; }

ul#pressReleaseCategoriesList {
  list-style: none;
  padding: 0px;
  margin-bottom: 70px; }

h2#pr-caption {
  font-weight: normal;
  margin-bottom: 30px; }

ul#pressReleaseCategoriesList li {
  float: left;
  margin-right: 20px;
  padding-top: 10px; }

.press-release-list h2 {
  font-size: 24px;
  margin-top: 10px; }

div.press-release-list {
  margin-bottom: 30px; }

label.pressReleaseCategoriesLabel input[type=checkbox] {
  position: relative;
  vertical-align: middle;
  bottom: 4px; }

label.pressReleaseCategoriesLabel {
  font-weight: 500; }

#subscribeForm {
  display: none;
  background-color: #ff8000;
  height: 300px; }

span.press-release-post-date {
  display: block;
  font-size: 14px;
  padding: 10px 0 0 0;
  text-transform: uppercase; }

.pagination li a {
  border: 0; }

.pagination li a:hover {
  background: none;
  text-decoration: underline; }

.pagination > li > a, .pagination > li > span {
  border: 0 !important; }

.pagination {
  border-radius: 0;
  border-top: 0;
  width: 100%; }

.regHide, .notVerified, .invalidLogin, .emailError, .fullNameError, .companyNameError, .passError, .passConfirmError, .emailExistError, #notificationRequired {
  display: none; }

/* $background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/13460/dark_wall.png'); */
.game-container.footer-spacer {
  padding-bottom: 200px; }

.game-container {
  /* NEW GOLD,SILVER,BRONZE section */
  /* Registration/Login Page */
  /* background colours */
  /* padding elements */
  /* typography */ }
  .game-container .final-standings {
    float: left;
    width: 100%;
    margin-top: 40px; }
    .game-container .final-standings .option-container {
      display: block; }
  .game-container .final-standings-choice {
    width: 100%;
    max-width: 140px;
    margin: 0 0 20px 0;
    display: block; }
  .game-container .error-popup, .game-container .error-popup-final {
    display: none; }
  .game-container .logo-incites {
    margin: 40px 0;
    max-width: 300px;
    width: 100%; }
  .game-container .incites-game-breadcrumb {
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0; }
    .game-container .incites-game-breadcrumb li {
      margin: 0;
      display: inline-block;
      font-size: 13px; }
      .game-container .incites-game-breadcrumb li a {
        font-size: 14px;
        color: #555555; }
  .game-container .olympic-refer {
    font-style: italic; }
  .game-container ol {
    padding: 0 0 0 18px; }
  .game-container form#registerLogin {
    margin-top: 30px; }
    .game-container form#registerLogin input {
      background-color: #f7f7f7;
      border: 0; }
    .game-container form#registerLogin input.button {
      background-color: #ff8000; }
    .game-container form#registerLogin input:focus {
      border: 0; }
    .game-container form#registerLogin .game-checkbox {
      float: left; }
    .game-container form#registerLogin .game-checkbox-alt {
      width: 28px;
      height: 28px;
      position: relative;
      margin: 0 10px 0 0;
      background: #fcfff4;
      background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
      box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5); }
      .game-container form#registerLogin .game-checkbox-alt label {
        width: 20px;
        height: 20px;
        cursor: pointer;
        position: absolute;
        left: 4px;
        top: 4px;
        background: linear-gradient(top, #222 0%, #45484d 100%);
        box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white; }
        .game-container form#registerLogin .game-checkbox-alt label:after {
          content: '';
          width: 9px;
          height: 5px;
          position: absolute;
          top: 4px;
          left: 4px;
          border: 3px solid #fcfff4;
          border-top: none;
          border-right: none;
          background: transparent;
          opacity: 0;
          transform: rotate(-45deg); }
        .game-container form#registerLogin .game-checkbox-alt label:hover::after {
          opacity: 0.3; }
      .game-container form#registerLogin .game-checkbox-alt input[type=checkbox] {
        visibility: hidden; }
        .game-container form#registerLogin .game-checkbox-alt input[type=checkbox]:checked + label:after {
          opacity: 1; }
  .game-container .bg-lightgrey {
    margin: 20px 0 125px;
    background-color: #efefef; }
    .game-container .bg-lightgrey .headline {
      color: #ff8000;
      font-size: 22px;
      line-height: 1.2; }
  .game-container .p-20 {
    padding: 20px; }
  .game-container .sml-terms {
    font-size: 14px;
    line-height: 1.9;
    color: #666666; }

.game-container.incites-banner {
  height: 389px;
  background-size: cover; }
  .game-container.incites-banner .banner-content {
    padding-top: 230px; }
    .game-container.incites-banner .banner-content .rule {
      color: #ffffff; }
    .game-container.incites-banner .banner-content h1 {
      color: #ffffff; }

.game-container.ptb-40 {
  padding-top: 40px;
  padding-bottom: 40px; }

.game-container.sub-menu-container {
  margin: 0;
  border-top: 10px solid #ff8000;
  background-color: #cccccc; }
  .game-container.sub-menu-container .about {
    float: left; }
  .game-container.sub-menu-container a {
    padding: 20px 55px;
    color: #555555;
    font-size: 16px;
    line-height: 1;
    display: block; }
  .game-container.sub-menu-container a:hover {
    text-decoration: none;
    background-color: #555555;
    color: #ffffff; }
  .game-container.sub-menu-container ul.game-submenu {
    float: right;
    display: inline-block;
    border-right: 1px solid #ffffff;
    margin: 0; }
    .game-container.sub-menu-container ul.game-submenu li {
      float: left;
      margin: 0;
      display: inline-block;
      border-left: 1px solid #ffffff; }
      .game-container.sub-menu-container ul.game-submenu li a {
        padding: 20px 55px;
        color: #555555;
        font-size: 16px;
        line-height: 1;
        display: block; }
      .game-container.sub-menu-container ul.game-submenu li a:hover {
        text-decoration: none;
        background-color: #555555;
        color: #ffffff; }
      .game-container.sub-menu-container ul.game-submenu li .lang-active {
        text-decoration: none;
        background-color: #555555;
        color: #ffffff; }

/* Game Round 1/2/3  */
.game-container .country-select {
  border-bottom: 1px solid #e9e9e9;
  padding-top: 20px; }

.game-container .option-container, .game-container .answer-container {
  position: relative;
  overflow: hidden;
  display: inline-block;
  height: 140px;
  padding: 0 0 20px 0; }
  .game-container .option-container .country-option, .game-container .answer-container .country-option {
    position: relative;
    z-index: 1;
    cursor: pointer;
    width: 140px;
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
    display: inline-block; }
    .game-container .option-container .country-option img, .game-container .answer-container .country-option img {
      width: 100%; }
  .game-container .option-container .country-selected, .game-container .option-container .user-answer, .game-container .answer-container .country-selected, .game-container .answer-container .user-answer {
    opacity: 0.1; }
  .game-container .option-container .checkmark, .game-container .answer-container .checkmark {
    z-index: 0;
    position: absolute;
    top: 16px;
    left: 41px;
    /* margin: -28px 0 0 -28px; */
    width: 57px;
    height: 57px;
    background-image: url(../images/game/tick.png); }

.game-container #saveGameSelection {
  display: inline-block;
  font-family: 'knowledge-regular', sans-serif;
  font-weight: normal;
  margin: 20px 20px 20px 0;
  outline: 0;
  border-radius: 5px;
  color: #ffffff;
  background-color: #77a22d;
  white-space: nowrap;
  padding: 6px 16px;
  line-height: 1.4;
  border: 0;
  position: relative;
  text-decoration: none;
  transition: 0.1s;
  width: auto;
  max-width: 120px; }

.results-section .results-column {
  position: relative;
  background-color: #efefef;
  font-size: 11px;
  text-align: center; }
  .results-section .results-column .result-title {
    width: 100%;
    display: block;
    padding: 15px 20px;
    color: #ffffff;
    background-color: #cccccc;
    margin-bottom: 20px;
    font-size: 18px;
    text-align: left; }
  .results-section .results-column .result-title.active {
    background-color: #ff8000; }
  .results-section .results-column .result-flag {
    border: 4px solid #cccccc; }
  .results-section .results-column .previous-answer img {
    border: 4px solid #77a22d; }

.game-container.incites-footer img {
  width: 100%; }

.game-container.bg-darkorange {
  background-color: #ff8000; }
  .game-container.bg-darkorange .lrg {
    color: #ffffff;
    font-size: 30px;
    line-height: 1.2; }
  .game-container.bg-darkorange p {
    color: #ffffff;
    font-size: 22px;
    line-height: 1.2; }
  .game-container.bg-darkorange a {
    color: #ffffff;
    font-size: 22px;
    line-height: 1.2; }

.game-container.bg-lightorange {
  margin-top: 0;
  background-color: #ffa64c; }
  .game-container.bg-lightorange .tweet .tweet-content {
    margin: 0 0 30px 0; }
    .game-container.bg-lightorange .tweet .tweet-content .lrg {
      color: #ffffff;
      font-size: 24px;
      line-height: 1.2;
      font-weight: 400; }
    .game-container.bg-lightorange .tweet .tweet-content p {
      color: #ffffff;
      font-size: 20px;
      line-height: 1.2;
      font-weight: 100; }
    .game-container.bg-lightorange .tweet .tweet-content a {
      color: #ffffff;
      font-size: 20px;
      line-height: 1.2;
      font-weight: 100; }

.winnerNotSelected {
  background-color: #f8c4c4; }

.mobile-social .addthis_toolbox {
  z-index: 2; }

.twitter-logo {
  position: absolute;
  right: 0;
  top: 20px; }

.LV_invalid {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px; }

.form-link {
  font-size: 14px;
  line-height: 1.5;
  color: #666666;
  text-decoration: underline;
  margin-bottom: 20px;
  display: block; }

.game-container .result-row {
  width: 100%;
  display: inline-block;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden; }
  .game-container .result-row .col-md-5 img {
    width: 100%; }

.game-container .result-flag {
  width: 100%; }

.game-container .result-status {
  position: absolute;
  right: 10px;
  top: 10px; }

@media (max-width: 993px) {
  .game-container.sub-menu-container a, .game-container.sub-menu-container ul.game-submenu li a {
    padding: 20px; }
  .country-select .col-md-5 {
    width: 49%;
    display: inline-block;
    text-align: center; }
  .results-column {
    width: 100%;
    float: left;
    font-size: 11px; }
    .results-column .result-row {
      width: 49%;
      display: inline-block;
      float: left;
      margin-bottom: 40px; }
      .results-column .result-row .col-md-5 {
        float: left;
        width: 40%;
        text-align: center;
        font-size: 11px;
        line-height: 1.5; }
        .results-column .result-row .col-md-5 img {
          width: 100%;
          margin-bottom: 10px; }
      .results-column .result-row .result-status {
        position: absolute;
        right: 20px;
        top: 10px; } }

@media (max-width: 767px) {
  .game-container.sub-menu-container a {
    margin-left: 20px; }
  .about {
    margin-left: 20px; }
  .game-container.sub-menu-container ul.game-submenu {
    width: 100%; }
    .game-container.sub-menu-container ul.game-submenu li {
      width: 33%; }
      .game-container.sub-menu-container ul.game-submenu li a {
        margin: 0;
        padding: 20px 10px; }
  .results-column {
    width: 100%;
    float: left; }
    .results-column .result-row {
      width: 100%;
      display: inline-block;
      float: left;
      margin-bottom: 40px; }
      .results-column .result-row .col-md-5 {
        float: left;
        width: 40%;
        text-align: center;
        font-size: 11px;
        line-height: 1.5; }
        .results-column .result-row .col-md-5 img {
          width: 100%;
          margin-bottom: 10px; }
      .results-column .result-row .result-status {
        position: absolute;
        right: 20px;
        top: 10px; } }

/** FOOTER **/
/** FOOTER **/
footer {
  background: #404040;
  color: #ffffff;
  padding: 10px;
  padding-bottom: 60px;
  margin: 0; }

footer .copy {
  float: none;
  font-size: 14px;
  line-height: 28px;
  margin-top: 8px;
  padding-left: 8.33333%;
}

footer ul.nav {
  float: none;
  margin-right: -13px;
  padding-left: 8.33333%; }

footer ul li {
  color: #ffffff;
  float: none;
  list-style: none;
  margin: 0; }

footer ul li:first-child {
  border-left: 0;
  margin-left: 0;
  padding-left: 0; }

footer ul.nav > li > a {
  color: #ffffff;
  display: inline-block;
  font-size: 14px;
  padding: 11px;
  width: auto; }

footer ul li a:hover {
  color: #ffffff;
  text-decoration: underline; }

footer ul {
  padding-left: 0; }

/** SOCIAL **/
/** SOCIAL BUTTONS **/
.header-social, .share-on {
  display: none; }

.blog-social .share-on {
  clear: both;
  color: #86888a;
  display: block;
  font-size: 12px;
  padding-top: 8px;
  padding-left: 10px;
  padding-bottom: 5px;
  text-transform: uppercase; }

.blog-social.end {
  float: left;
  margin: 20px 0 0 0; }

.blog-social:last-child {
  margin-left: 0; }

.addthis_toolbox {
  color: #fff;
  display: block;
  float: left;
  font-size: 14px;
  font-weight: normal;
  padding: 9px 0;
  right: 8.33333%;
  width: 150px; }

.blog-social .addthis_toolbox {
  width: 135px; }

.social_button {
  display: block;
  float: right;
  height: 23px;
  margin: 0 0 0 8px;
  padding: 0;
  text-decoration: none;
  width: 23px; }

.social_button:hover {
  text-decoration: none; }

.addthis_toolbox a {
  margin-bottom: 0 !important; }

.header-social .fa {
  background: #fff;
  border-radius: 50%;
  color: #fff; }

.blog-social .fa {
  background: #86888a;
  border-radius: 50%;
  color: #fff;
  height: 25px;
  width: 25px; }

.mobile-social .fa {
  background: #fff;
  border-radius: 0; }

.fa.fa-twitter {
  padding-left: 5px;
  padding-top: 4px; }

.fa.fa-facebook {
  padding-left: 7px;
  padding-top: 5px; }

.fa.fa-linkedin {
  padding-left: 6px;
  padding-top: 4px; }

.fa.fa-envelope {
  padding-left: 4px;
  padding-top: 4px; }

.blog-social .fa.fa-twitter {
  padding-left: 6px;
  padding-top: 5px; }

.blog-social .fa.fa-facebook {
  padding-left: 8px;
  padding-top: 2px; }

.blog-social .fa.fa-linkedin {
  padding-left: 7px;
  padding-top: 5px; }

.blog-social .fa.fa-envelope {
  padding-left: 5px;
  padding-top: 5px; }

.header-social .fa.fa-envelope, .mobile-social .fa.fa-envelope {
  display: none !important; }

.blog-social {
  font-size: 30px;
  padding-left: 0; }

.header-social .fa::before {
  color: #ff8000; }

.blog-social .fa::before {
  color: #fff; }

.mobile-social .fa-twitter.fa::before {
  color: #55acee; }

.mobile-social .fa-facebook.fa::before {
  color: #3a5795; }

.mobile-social .fa-linkedin.fa::before {
  color: #008cc9; }

.mobile-social .fa::after {
  background-color: #fff;
  border-radius: 50%;
  height: 23px;
  width: 23px; }

.mobile-social .addthis_toolbox {
  bottom: 0;
  display: block;
  float: none;
  height: 45px;
  position: fixed;
  right: 0;
  width: 100%; }

.mobile-social .addthis_toolbox .social_button:after {
  background-color: #fff;
  border-radius: 50%;
  height: 23px;
  width: 23px; }

.mobile-social .addthis_toolbox .social_button {
  display: block;
  height: 45px;
  margin: 0;
  padding: 11px 0 7px 0;
  text-align: center;
  width: 33.3333%; }

.mobile-social .addthis_toolbox .addthis_button_linkedin {
  background: #008cc9; }

.mobile-social .addthis_toolbox .addthis_button_facebook {
  background: #3a5795; }

.mobile-social .addthis_toolbox .addthis_button_twitter {
  background: #55acee; }

.mobile-social .social_button span {
  background: #ffffff;
  border-radius: 50%;
  display: block;
  height: 22px;
  margin: -18px auto 0 auto;
  text-align: center;
  width: 22px; }

/** RESPONSIVE **/
/* DIFFERENT RESPONSIVE STATES */
@media (min-width: 451px) {
  .visible-xxs-block {
    display: none !important; }
  .concerns .col-sm-2.persona-thumb .img-responsive {
    max-width: 20%; } }

@media (max-width: 450px) {
  .visible-xxs-block {
    display: block !important; }
  .banner-text br {
    display: none !important; }
  .role .banner-text {
    font-size: 18px;
    max-width: 70%; }
  .role .text-content .strapline {
    font-size: 18px;
    font-weight: 300;
    padding-left: 15px;
    padding-right: 15px; }
  .banner-text h1 {
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase; } }

@media (min-width: 600px) {
  .tr-logo {
    border-right: 1px solid #86888a;
    float: left;
    margin: 20px 0; }
  .logos span.division {
    margin-top: 17px; }
  .role .banner-text h1 {
    font-size: 30px; }
  .strapline {
    margin: 0 0 30px 0; }
  .dropdown-menu > li {
    float: left;
    margin: 0;
    width: 50%; }
  .post.single .post-date {
    border-right: 1px solid #86888a;
    display: inline-block;
    margin: 0 0 30px 0; }
  .post.single .post-datetimeago {
    display: inline-block;
    padding: 0 0 0 10px; } }

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .menu-there .header {
    max-width: 720px; }
  .menu-there {
    height: 100%;
    overflow: hidden; }
  .mega-menu {
    left: 50%;
    margin-left: -360px;
    max-width: 720px;
    width: 720px; }
  .mega-menu .mega-row {
    width: 720px; }
  .search {
    float: left; }
  .navbar.affix {
    max-width: 720px; }
  .navbar-nav {
    margin-left: -14px; }
  a.span {
    margin-top: 20px; }
  .nav > li > a {
    padding-left: 11px;
    padding-right: 11px; }
  .dropdown-menu {
    clear: both;
    overflow: hidden;
    padding-bottom: 20px; }
  .dropdown.open {
    clear: none; }
  .addthis_toolbox {
    float: right; }
  .blog-social {
    padding-left: 15px; }
  .container .banner.row {
    height: auto; }
  .banner-image {
    width: 100%;
    max-width: 100%; }
  .banner-text .col-md-8 {
    padding: 0; }
  .banner-text h1 {
    font-size: 39px;
    font-weight: bold; }
  .role .banner-text h1 {
    font-size: 39px; }
  .strapline {
    font-size: 25px;
    font-weight: 100; }
  .tr-logo {
    margin: 20px 0 0 0; }
  .social {
    display: block;
    float: right;
    margin: 5px auto 0 auto;
    position: relative; }
  .social li {
    margin: 0 0 0 8px; }
  .post h2 {
    clear: none; }
  .post .post-meta {
    text-align: center; }
  .post .post-date {
    padding-top: 0; }
  .post img.post-authorphoto {
    float: none;
    margin: 0 0 5px 0;
    max-width: 80%; }
  .concerns .col-sm-2.persona-thumb .img-responsive {
    max-width: 100%; }
  .role .text-content .col-sm-10 {
    padding-left: 15px; }
  .post .post-meta {
    clear: none; }
  footer ul li:first-child {
    border-left: 0; } }

@media (min-width: 992px) {
  .menu-there .header {
    max-width: 940px; }
  .mega-menu {
    left: 50%;
    margin-left: -470px;
    max-width: 940px;
    width: 940px; }
  .mega-menu .mega-row {
    width: 940px; }
  .mega-menu .overview {
    padding: 20px; }
  .mega-products .row .col-md-4:nth-child(4) {
    clear: both; }
  .menu-there .navbar.affix {
    margin-left: 0;
    position: fixed;
    top: 109px; }
  .navbar.affix {
    max-width: 940px; }
  .navbar.affix {
    position: fixed;
    top: 0;
    width: 100%;
    width: calc(100% - 30px);
    z-index: 5000; }
  .navbar-affix .navbar-nav {
    margin-left: -30px !important; }
  .dropdown-menu > li {
    float: left;
    margin: 0;
    width: 32%; }
  .tr-logo {
    margin-top: 10px; }
  .logos > div {
    clear: none; }
  .search-form {
    float: right;
    margin-top: 13px;
    margin-bottom: 10px; }
  .navbar-nav {
    margin-left: -14px; }
  .text-content {
    margin: 20px 0 0 0;
    padding: 0 8.33333%;
    padding-left: calc(8.33333% - 15px);
    padding-right: calc(8.33333% - 15px); }
  .role .banner-text {
    font-size: 21px;
    max-width: 75%;
    width: 75%; }
  .post.single .post-meta {
    padding-left: 15px; }
  .post .post-content {
    padding-left: 30px; }
  .post.single .post-content {
    padding-left: 15px;
    padding-right: 15px; }
  .post.single .body-text > .row {
    margin-left: -15px;
    margin-right: -15px; }
  .post.single .post-authordetails {
    margin-left: 15px; }
  .article-image {
    display: block;
    max-height: 150px;
    overflow: hidden;
    position: relative;
    vertical-align: middle; }
  .articles .articles-image img.img-responsive {
    position: absolute;
    top: -100%;
    left: 0;
    right: 0;
    bottom: -100%;
    margin: auto; }
  .article {
    margin-bottom: 0; }
  footer {
    padding-bottom: 10px; }
  footer .copy {
    float: left;
    font-size: 14px;
    line-height: 28px;
    margin-top: 8px;
    padding-left: 8.33333%;
 }
  .navbar-nav-footer {
    padding-right: 10px; }
  footer ul {
    float: left;
    padding-left: 8.33333%;
    text-align: right; }
  footer ul li {
    color: #ffffff;
    float: right;
    list-style: none;
    margin: 0; }
  footer ul li:first-child {
    border-left: 0;
    margin-left: 0;
    padding-left: 0; }
  footer ul li a {
    color: #ffffff;
    display: inline-block;
    font-size: 14px;
    padding: 0; }
  footer ul li a:hover {
    color: #ffffff;
    text-decoration: underline; } }

/* Social buttons appear in different places on different screen sizes. This is the point where the change happens. */
@media (min-width: 1027px) {
  .share-on {
    display: inline-block; }
  .mobile-social {
    display: none; }
  .header-social {
    display: block; }
  .collapse.in {
    padding-bottom: 0; }
  .dropdown-menu > li {
    float: none;
    margin: 0;
    width: 100%; }
  .dropdown-menu > li a {
    padding: 6px 20px; } }

/* large screens (below large desktop) */
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
    padding-left: 0;
    padding-right: 0; }
  .menu-there .header {
    max-width: 1140px; }
  .mega-menu {
    left: 50%;
    margin-left: -570px;
    max-width: 1140px;
    width: 1140px; }
  .mega-menu .mega-row {
    width: 1140px; }
  .mega-menu .mega-products {
    left: 15px;
    margin-left: 0; }
  .mega-products .row .col-md-4:nth-child(4) {
    clear: both; }
  .logos a.trail {
    display: inline-block;
    margin-top: 10px; }
  .navbar.affix {
    max-width: 1140px; }
  .mega-menu .overview {
    background: #efefef;
    bottom: 0;
    display: block;
    height: 100%;
    min-height: 500px;
    padding: 20px 30px;
    position: relative;
    top: 0; }
  .search-form .search-field {
    min-width: 100px;
    width: 100px; }
  .nav > li > a {
    padding-left: 15px;
    padding-right: 15px; }
  a.trail {
    display: block;
    margin-top: 8px; }
  .role .banner-text {
    font-size: 21px;
    max-width: 69%;
    width: 69%; }
  .article-image {
    display: block;
    max-height: 186px;
    overflow: hidden;
    position: relative;
    vertical-align: middle; }
  .articles .articles-image img.img-responsive {
    position: absolute;
    top: -100%;
    left: 0;
    right: 0;
    bottom: -100%;
    margin: auto; } }

@media (max-width: 1026px) {
  .navbar-header {
    float: none; }
  .navbar-left, .navbar-right {
    float: none !important; }
  .navbar-toggle {
    display: block; }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px; }
  .navbar-collapse.collapse {
    display: none !important; }
  .navbar-nav {
    float: none !important;
    margin-top: 7.5px; }
  .navbar-nav > li {
    float: none; }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px; }
  .navbar-text {
    float: none;
    margin: 15px 0; }
  .navbar-collapse.collapse.in {
    display: block !important; }
  .collapsing {
    overflow: hidden !important; }
  .collapse.in {
    display: block !important; }
  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none; } }
