ul,h3 { margin: 0px; padding: 0px; }
/*html { font-size: 100%; }*/
body,
select,
input,
textarea {
	font-size: 10px;
	font-family: Verdana, Arial, sans-serif;
}

.ar		{font-weight:bold;}
.b		{font-weight:bold!important;}
select		{font-weight:normal!important;}
.nob	{font-weight:normal!important;}
.bcf,.bst{font-size: 10px;font-weight:bold;}
.bsrt	{font-size: 10px;}
.c	{font-size:10px;border:none;width:80px;text-align:right;}
.cbl	{font-size: 10px;border-right:none;border-top:none;padding-left: 8px;}
.dpb	{font-size: 9px;font-weight: bold;cursor:pointer;cursor:hand;}
.dbt	{font-size: 10px;font-weight:bold;}
.di	{font-size: 9px;font-weight:bold;cursor:pointer;cursor:hand;}
.hdi	{font-size: 9px;font-weight:bold;cursor:pointer;cursor:hand;}
.f1	{font-size: 9px;}
.ff,.formfield {font-size: 10px;height:18px;}
.fm	{font-size: 10px;width:96px;}

.hdpb	{font-size: 9px;font-weight: bold;cursor:pointer;cursor:hand;}
.ih	{font-size: 10px;border-right:none;border-top:none;padding-left:30px;}
.it2	{border:0;width: 30px;}
.mc	{font-size: 10px;font-weight:bold;padding-right:20px;padding-top:51px;text-align:right;}
.ml,.dml{border:none;width: 60px;}
.mm	{line-height:16px;padding-right:16px;text-align:right;}
.mr	{line-height:16px;text-align:right;}
.mp	{font-size: 10px;font-weight:bold;padding-right:5px;padding-top:52px;text-align:right;}
.mt	{font-size: 10px;font-weight: normal;}
.nbr	{background-repeat:no-repeat;}
.ol	{border:none;width: 60px;text-align:center;}
.os	{border:none;width: 30px;text-align:center;}
.participant {font-size: 10px;font-weight: bold;}
.pk	{border-top:none;padding:6px;padding-right:2px;}
.pl	{padding-left: 30px;}
.plr	{padding-left: 15px;padding-right: 15px;}
.plr2	{padding-left: 30px;padding-right: 30px;}
.rh	{border:none;padding-bottom:5px;padding-left:30px;padding-top:5px;}
.pf	{margin-bottom:38px;margin-top:57px;}
.rh	{font-size: 10px;}
.rt	{font-size: 10px;font-weight: bold;}
.rt2	{font-size: 11px;font-weight: bold;}
.sc	{font-size: 12px;font-weight:bold;}
.sh	{font-size: 9px;font-weight:bold;}
.tb1,.tb2,.tb5,.tb6 {font-size: 10px;border:none;}
.tb10,.tb8{font-size: 10px;border:none;text-align:left;padding-top:3px;padding-left:8px;padding-bottom:5px;}
.tb7	{font-size: 10px;border-bottom:none;}
.tb9	{font-size: 10px;border-right:none;border-top:none;}
.mm2	{line-height:16px;padding-right:8px;text-align:right;}
.btn 	{font-size:10px;cursor:pointer;width:10em;height:18px;}
.btn1	{font-size:10px;font-weight:bold;cursor:pointer}
.p_tb   {padding-top:3px;padding-bottom:5px;}
.btn 	{font-size:10px;cursor:pointer;width:10em;height:18px;}
.btn1	{font-size:10px;font-weight:bold;cursor:pointer}
.hh1 {font-size: 11px;font-weight:bold;}
.fund {padding-left:20px;}
.nudge2{padding-left:2px}
.pl{text-align:left;padding-left:8px;}

a	{text-decoration:none;}
a:hover	{text-decoration:underline;}
a.lr,a.ls,a.lt{font-size: 11px;}
a.trn	{font-weight: normal;}
a.fur		{font-family:arial;font-size:11px;text-decoration:underline}
a.fu,a.fu:hover	{font-family:arial;font-size:11px;}
a.ls2		{line-height:13px;}
a.ls3		{margin-bottom:50px;}
a.cl11		{font-size:13px;text-transform:uppercase;}
a.cl13	{font-size:10px;}
a.no	{font-weight:normal;font-size: 10px}
a.no:hover {text-decoration:underline;}
a.addmb	{color:#555555}
a.addmb:hover,a.addmb:visited	{text-decoration:underline;color:#555555}
a.bm {font-weight:bold;}

div.dm	{left:164px;position:absolute;text-align:center;top:114px;width:565px;}
div.ls1	{text-align:left;width:126px;margin-top:2px;}
div.ls2	{text-align:left;width:126px;padding:5px 7px 5px 7px;}
div.ls3	{text-align:center;width:126px;padding:0px 0px 5px 0px;}
div.ls4	{text-align:center;font-size:10px;font-weight:bold;}
div.rhm	{padding-left:9px; line-height:16px;padding-right:16px;text-align:right;}
div.HTLA	{padding:5px 12px 0px 6px;}
div.HTLB	{padding:5px 12px 0px 12px;}
div.HTLC	{padding:8px 5px 0px 5px;}
div.HTLD	{padding:8px 7px 0px 7px;}
div.HTLE	{padding:8px 0px 0px 0px;}
div.bn	{text-align:left;width:415px;}

img	{border:none;}
img.l	{position:relative;top:-3px;vertical-align:text-top}

table		{border:none;}
table.h		{border-bottom:none;border-top:none;}
table.n		{border-bottom:none;}
table.o2	{margin-bottom:38px;}
table.s		{margin-bottom:7px;}
table.u		{border-top:none;}
table.z		{margin-top:17px;}

tr.b1,tr.h1,tr.hg{font-size: 10px;font-weight:bold;}
tr.l,tr.s1,tr.s2{font-size: 11px;font-weight:bold;}
tr.c5,tr.ck,tr.tc1,tr.tc2{font-size: 10px;}

tr.h3	{font-size: 9px;font-weight:bold;text-decoration:none;}
tr.h4	{font-size: 12px;}
tr.l1	{font-size: 11px;}
tr.l4	{font-size: 11px;font-weight:bold;height:20px;padding: 0px 0px 0px 16px;}
tr.t1	{font-size: 9px;font-weight:bold;}
tr.cs10	{font-size: 13px;font-weight:bold;}
tr.c6	{font-size: 12px;font-weight:bold;text-align:left;}
td.ack	{padding: 0px 0px 0px 10px;text-align:center;}
td.acn	{text-align:center;}
td.acr	{padding: 0px 10px 0px 0px;text-align:center;}
td.aln	{text-align:left;}
td.an3,td.anl,td.an4,td.bnl,td.bn3,td.bn4	{padding-left:8px;text-align:left;}
td.ank	{padding: 0px 0px 0px 10px;}
td.arn,td.arr,td.brr	{padding-right:5px;text-align:right;}
td.ars	{padding: 0px 7px 0px 0px;text-align:right;}
td.b1	{text-align: center;font-size: 10px;font-weight:bold;}
td.bcr	{padding: 0px 10px 0px 0px;text-align:center;}
td.bcn	{text-align:center;}
td.bln	{text-align:left;}
td.bn2	{padding: 12px 0px 0px 16px;}
td.bn5	{padding: 15px;}
td.bnj	{padding-left:45px;}
td.bnk	{padding-left:10px;}
td.bnn	{border:none;}
td.bn6	{padding: 9px 0px 0px 22px;}
td.brn	{text-align:right;}
td.ccn,td.hccn	{font-size: 9px;font-weight: bold;cursor:pointer;cursor:hand;text-align:center;}
td.cha	{font-size: 10px;border-bottom:none;height: 20px;padding-bottom: 0;padding-right: 0;padding-top: 0;width: 75px;}
td.dcn,td.hdcn{font-weight:bold;cursor:pointer;cursor:hand;text-align: center;width: 30px;}
td.ecn,td.hecn{font-weight:bold;cursor:pointer;cursor:hand;text-align: center;width: 40px;}
td.l	{padding:6px 56px 2px 16px;}
td.lg	{background-position: 9px 4px;background-repeat:no-repeat;padding: 0px 0px 0px 16px;height:25px;}
td.lh	{background-position: 0px 5px;background-repeat:no-repeat;padding: 0px 0px 0px 8px;}
td.li	{padding:0px 0px 0px 16px;}
td.sch	{font-size: 10px;font-weight:bold;height: 20px;margin: 0px;padding: 0px 0px 0px 15px;}
td.sw	{background-repeat: no-repeat;height: 25px;width:120px}
td.swl	{height: 25px;padding-left: 20px;font-size: 11px;font-weight:bold;}
td.zrn	{text-align:right;}
td.bca	{text-align:center;padding:2px 4px 0px 4px;}
td.blr 	{padding:0px 10px 0px 30px;}
td.c4	{height:24px;padding: 0px 0px 0px 16px;}
td.c5	{padding: 0px 6px 18px 10px;}
td.blnnb{padding: 3px 3px 4px 5px;text-align:left;}
td.LM,td.RM{font-weight:bold;}
.btn 	{font-size:10px;cursor:pointer;width:10em;height:18px;}
.btn1	{font-size:10px;font-weight:bold;cursor:pointer}
td.bar	{border-left:solid #FFFFFF 1px;border-right:none;border-top:solid #FFFFFF 1px;border-bottom:solid #FFFFFF 1px;}

td.od0	{padding: 0px 10px 0px 0px;text-align:right;}
td.od1	{padding: 0px 10px 0px 0px;text-align:right;}
td.lnk	{padding: 0px 0px 10px 0px;text-align:right;}
td.ctt	{padding: 2px 2px 2px 2px;text-align:center;}
td.bcnt,td.bcst{text-align:center;}
td.becn	{font-weight:bold;cursor:pointer;cursor:hand;height: 25px;text-align: center;width: 40px;}

td.bnrc	{text-align:right; padding: 0px 5px 5px 0px;}
td.tprc	{text-align:right; padding-right:10px;padding-bottom:5px}
td.tprc	{font-weight:bold;color:#ff0000}
td.lmh{font-weight:bold;}
td.irs{padding: 0px 0px 0px 10px;}
td.ir{font-weight:bold}
td.fbet	{font-size: 9px;font-weight: bold;cursor:pointer;cursor:hand;text-align:center;} 
td.ecn_dt{font-weight:bold;cursor:pointer;cursor:hand;text-align: center;width: 40px;}
td.hecn_dt{font-weight:bold;cursor:pointer;cursor:hand;text-align: center;width: 40px;}
td.bnk2	{padding-left:5px;}
div#middleTitle 
{	
	width: 565px; 
}
div#middleTitle h3 { padding: 8px 0 0 7px; font-size: 10px; color: #FFF; text-transform: uppercase; float: left; }
div#middleTitle span {padding: 6px 0 0 7px; float: left; vertical-align:middle;}
div#middleTitle ul { margin: 6px 3px 0 0; list-style: none; text-align: right; float: right; }
div#middleTitle ul li { display: inline; float: left; width: 25px; height: 16px;}

.wf
{
	color: #FFFFFF;
}
.hhd {padding: 1px 0 0 15px; font-size: 10px; font-weight: bold; color: #FFF; text-transform: uppercase; float: left; }
div.lpyt{color:#FFDF1B; font-weight:bold;padding-bottom:5px;}