body
{
	color: #666666;
	padding: 0px;
	margin:0px;
}
body.bet365
{
	background: #FFFFFF url(../images/bodyBG1.jpg) repeat-x;
}
body.bowmans
{
	background: #FFFFFF url(../images/bowmans365/images/bodyBG1.jpg) repeat-x;
}
body.all-matches
{
	background: #FFFFFF url(../images/sportsbet/images/bodyBG1.jpg) repeat-x;
}
body.jugandovoy
{
	background: #FFFFFF url(../images/jugandovoy/images/bodyBG1.jpg) repeat-x;
}
body.sunbet
{
	background: #FFFFFF url(../images/sunbet/images/bodyBG1.jpg) repeat-x;
}
body.notwbet
{
	background: #FFFFFF url(../images/notwbet/images/bodyBG1.jpg) repeat-x;
}

tr.bet365 {background-color: #046E51}
tr.bowmans {background-color: #046E51}
tr.all-matches {background-color: #8C0607}
tr.jugandovoy {background-color: #8D0507}
tr.sunbet {background-color: #8D0507}
tr.notwbet {background-color: #8D0507}

.ar, .bcf, .h2, .participant, .mt
{
	color: #666666;
}
.h1, .dbt, .di, .mp, .mc, .sh
{
	color: #FFFFFF;
}
.bsrt, .rt, .rt2, .sc
{
	color: #CC3300;
}
.bc
{
	border: solid #015A44 1px;
}
.bl
{
	border-left: #D2D2D2 1px solid;
}
.br
{
	border-right: #D2D2D2 1px solid;
}
.br0
{
	border-right: solid #000000 1px;
}
.bst
{
	border: none;
	color: #029D75;
}
.bz
{
	color: #000000;
	line-height: 14px;
}
.c
{
	background-color: #E5E5E5;
	color: #666666;
}
.cbl
{
	background-color: #ffffff;
	border-left: #015A44 1px solid;
	color: #015A44;
}
.dpb
{
	color: #ffffff;
	background-color: #c6040d;
}
.hdi
{
	color: #ffffff;
	background-color: #015A44;
}
.f1, .ff, .fm
{
	background-color: #ffffff;
	color: #000000;
}
.hdpb
{
	color: #ffffff;
	background-color: #69131c;
}
.pk
{
	border: solid #015A44 1px;
}
.PR12
{
	padding-right: 12px;
}
.it2
{
	background-color: #E5E5E5;
}
.th1
{
	background-color: #027E5E;
}
.th2
{
	background-color: #000000;
}
.ih, .tb9, .ml
{
	background-color: #A6A6A6;
	color: #FFFFFF;
}
.rh, .tb2, .tb7
{
	background-color: #029D75;
	color: #015A44;
}
.tb8, .ol
{
	background-color: #E5E5E5;
	color: #666666;
}
.tb1
{
	background-color: #015A44;
	color: #015A44;
}
.tb10
{
	background-color: #DCF1EC;
	color: #CC3300;
}
.tb5
{
	background-color: #CC3300;
	color: #015A44;
}
.tb6
{
	background-color: #fffffF;
	color: #015A44;
}
.dml
{
	background-color: #666666;
	color: #FFFFFF;
}
.os
{
	background-color: #ffffff;
	color: #666666;
}
.w
{
	background-color: #ffffff !important;
}
.pl7
{
	padding-left: 7px;
}
a.f, a.fu, a.f1, a.f1:hover, a.f2
{
	color: #666666;
}
a.f2:hover
{
	color: #666666;
	text-decoration: underline;
}
a.ir, a.bm:hover, a.ln, a.lr:hover, a.ls:hover, a.lt:hover, a.ln1, a.fur, a.fu:hover, a.ls2:hover
{
	color: #CC3300;
}

a.ir:hover, a.ln:hover, a.ln1:hover
{
	color: #CC3300;
}

a.lt, a.bm, a.mbetf:hover, a.trn, a.ls2, a.fbet
{
	color: #000000;
}
a.wn:hover, a.cl11, a.cl11:hover, a.cl12, td.ty, div.ty
{
	color: #FFDF1B;
}
a, a.cl12:hover, a.cl13:hover, a.nw:hover, a.fbet:hover, td.tw, div.tw
{
	color: #ffffff;
}
a.cl13, a.nw
{
	color: #fefe02;
}
a.no:link, a.no:visited
{
	color: #CC3301;
}
a.f:hover
{
	color: #CC3303;
}
a.swl:hover
{
	color: #029D75;
}
a.trn:hover
{
	color: #CC3302;
}
a.no:hover
{
	color: #000000;
}
a.wn2:hover
{
	color: #fefe02;
	text-decoration: none;
}
a.wn3
{
	display: block;
	height: 100%;
	width: 100%;
}
a.wn3:hover
{
	color: #fefe02;
	text-decoration: none;
}
a.cl13
{
	text-transform: uppercase;
}
a.ln2:link
{
	font-weight: normal;
	font-size: 12px;
	color: #ffffff;
}
a.ln2:hover
{
	font-weight: normal;
	font-size: 12px;
	color: #f2cbbe;
}
a.ln3:link
{
	font-weight: normal;
	font-size: 12px;
	color: #ffffff;
}
a.ln3:hover
{
	font-weight: normal;
	font-size: 12px;
	color: #DCF1EC;
}
A.LH16
{
	line-height: 16px;
}
a.wn3OLD
{
	display: block;
	height: 100%;
	width: 100%;
}
a.wn3OLD
{
	display: block;
}
a.wn3:hover
{
	color: #fefe02;
	text-decoration: none;
}
a.bpad
{
	padding-bottom: 200px;
	margin-bottom: 10px;
}

div#body div#left { width: 153px; float: left;}
div.menu ul { margin: 0px 0px 10px 0px; float: left; clear: both;}
div.menu li { width: 153px; padding: 0px 0px 0px 0px; margin:0px; background: url(../images/liMenu2.gif) repeat-y;  float: left; clear: both; display:block; cursor: pointer; cursor: hand;}
div.menu li.btm {height:24px; margin:0px; background: url(../images/liMenuBtm.gif) no-repeat bottom;  display:block}
div.menu ul li a {margin: 0px 1px 0px 1px; padding: 4px 0px 4px 15px; background-color: #E5E5E5; border: solid #FFFFFF; border-width: 1px 1px 0px 1px;  color: #666666; text-decoration: none; display:block; width:auto;}
div.menu a:hover { color: #FFF; background-color: #A6A6A6; text-decoration:none; display:block; width:auto;}
div.menu h3 { width: 153px; height: 30px; margin: 0px; padding: 0px;}
div.menu ul li a.Sb	{margin: 0px 1px 0px 1px; padding: 4px 0px 4px 15px; background-color: #f0f2f4; border: solid #FFFFFF; border-width: 1px 1px 0px 1px;  color: #666666; text-decoration: none; display:block; width:auto;}
div.menu a.Sb:hover { color: #FFF; background-color: #A6A6A6; text-decoration:none; display:block; width:auto;}

.btn
{
	border: solid #015A44 1px;
	background-color: #029D75;
	color: #FFFFFF;
}
.btn1
{
	border: solid #015A44 1px;
	background-color: #c6040d;
	color: #FFFFFF;
}
.ce
{
	text-align: center !important;
}
.vce
{
	vertical-align: middle;
}
.tr
{
	text-align: right;
}
.cap
{
	text-transform: uppercase;
}
.epad, .tpad
{
	padding: 6px 14px 6px 14px;
}
.tpad
{
	padding-left: 0px;
}
.fixtoppad
{
	padding-top: 4.5px !important;
}
.notoppad
{
	padding-top: 0px !important;
}
.btn
{
	border: solid #015A44 1px;
	background-color: #029D75;
	color: #FFFFFF;
}
.btn1
{
	border: solid #015A44 1px;
	background-color: #c6040d;
	color: #FFFFFF;
}
.clin, .clinleft
{
	padding-right: 16px;
}
.clinleft
{
	padding: 4px 0px 4px 42px;
}
.leftright
{
	padding-right: 6px;
}
.hh1
{
	color: #ffffff;
}
.bg_t_pp
{
	background-color: #003399;
}
.bg_t_qp
{
	background-color: #0099cc;
}
.bg_t_jp
{
	background-color: #ff0000;
}
.bg_t_s6
{
	background-color: #ffff00;
}
.bg_t_ex
{
	background-color: #009999;
}
.bg_t_tr
{
	background-color: #999900;
}
.bg_t_ew
{
	background-color: #990033;
}
.btn_boxl
{
	text-align: left;
	padding-left: 8px;
	padding-right: 0px;
}
.btn_boxr
{
	text-align: left;
	padding-left: 24px;
	padding-right: 0px;
}
.btn_boxfr
{
	text-align: left;
	padding-left: 40px;
	padding-right: 0px;
}
.b_all
{
	border: solid #D2D2D2 1px;
}
div.ls1, div.ls2
{
	background-color: #DCF1EC;
}
div.ls4
{
	background-color: #D2D2D2;
	color: #015A44;
}
div.cs3
{
	border-left: solid #33FFCC 1px;
	border-right: solid #33FFCC 1px;
	padding: 0px 6px 18px 10px;
}
div.dc7
{
	padding: 0px 10px 8px 19px;
	border-left: solid #49F7C2 1px;
	border-right: solid #49F7C2 1px;
}
div.mobt
{
	padding-top: 1px;
	height: 16px;
	width: 27px;
	background: url(../images/aBox.gif) no-repeat;
}
div.dn
{
	position: absolute;
	top: 112px;
	left: 5px;
	width:153px;
}
div.rt	
{
	position:absolute;
	left:613px;
	top:120px;
}

img
{
	border: 0px;
	padding: 0px;
}
span.fro, span.frov
{
	position: relative;
	left: -175px;
	display: none;
	visibility: hidden;
	font-size: 48px;
	font-weight: bold;
	color: Gray;
	z-index: 200;
	filter: alpha(opacity=40);
	opacity: 0.4;
	-moz-opacity: 0.4;
	float: right;
}
span.frov
{
	visibility: visible !important;
	display: block !important;
}
table
{
	font-size: 10px;
}
table.h
{
	border-top: #E5E5E5 1px solid;
}
table.n
{
	border: solid #DEF1EB 1px;
}
table.o, table.o2, table.u
{
	border: solid #E5E5E5 1px;
}
table.cs0
{
	margin-top: 20px;
}
table.cs1
{
	border: solid #015A44 1px;
	margin-top: 10px;
}
table.cs2
{
	border: solid #015A44 1px;
}
table.cs3
{
	border: solid #33FFCC 1px;
}
table.cs4
{
	margin-top: 10px;
}
table.cs5
{
	margin-top: 14px;
}
table.cs9
{
	border: solid #33FFCC 1px;
	border-bottom: none;
}
table.o3
{
	border-right: #D2D2D2 0px solid;
	border-top: #ffffff 1px solid;
	border-left: #D2D2D2 0px solid;
	border-bottom: #ffffff 0px solid;
}
table.o4
{
	border-right: #D2D2D2 1px solid;
	border-top: #ffffff 0px solid;
	border-left: #D2D2D2 1px solid;
	border-bottom: #D2D2D2 0px solid;
}
table.u1
{
	border-right: #D2D2D2 1px solid;
	border-top: #D2D2D2 0px solid;
	border-left: #D2D2D2 0px solid;
	border-bottom: #D2D2D2 1px solid;
}
table.u3
{
	border-right: #D2D2D2 1px solid;
	border-top: #D2D2D2 0px solid;
	border-left: #D2D2D2 0px solid;
	border-bottom: #D2D2D2 0px solid;
}
table.o6
{
	border-right: #D2D2D2 1px solid;
	border-top: #D2D2D2 0px solid;
	border-left: #D2D2D2 1px solid;
	border-bottom: #D2D2D2 1px solid;
}
table.u4
{
	border-right: #D2D2D2 0px solid;
	border-top: #D2D2D2 0px solid;
	border-left: #D2D2D2 1px solid;
	border-bottom: #D2D2D2 0px solid;
}
table.u2
{
	border-right: #D2D2D2 0px solid;
	border-top: #D2D2D2 0px solid;
	border-left: #D2D2D2 1px solid;
	border-bottom: #D2D2D2 1px solid;
}
table.o5
{
	border-right: #D2D2D2 0px solid;
	border-top: #D2D2D2 1px solid;
	border-left: #D2D2D2 0px solid;
	border-bottom: #D2D2D2 0px solid;
}
table.no_b_tlr
{
	border-right: 0px solid;
	border-top: 0px solid;
	border-left: 0px solid;
}
table.no_b_tr
{
	border-right: 0px solid;
	border-top: 0px solid;
}
table.no_b_tl
{
	border-top: 0px solid;
	border-left: 0px solid;
}
table.no_b_tlrb
{
	border: none;
}
table.no_b_tlb
{
	border-bottom: 0px solid;
	border-top: 0px solid;
	border-left: 0px solid;
}
table.no_b_trb
{
	border-bottom: 0px solid;
	border-top: 0px solid;
	border-right: 0px solid;
}
table.no_b_tb
{
	border-bottom: 0px solid;
	border-top: 0px solid;
}
table.ntop
{
	border-top: 0px solid;
}
table.y
{
	border-bottom: solid #000000 1px;
	border-top: solid #000000 1px;
}
table.HB4
{
	background: #C7E9E1;
}
table.bno
{
	background-color: #FBEFEB;
}
table.fixw
{
	width: 565px;
}
tr.h3, tr.l, tr.s1, tr.c6, TR.hg, TR.ck
{
	color: #ffffff;
}
tr.c1, tr.item, tr.tc1
{
	background-color: #E5E5E5;
}
tr.c2, tr.itemalt
{
	background-color: #ffffff;
}
tr.c3
{
	background-color: #fcf5f2;
}
tr.hp
{
	background-color: #015A44;
}
tr.c4, tr.c6
{
	background-color: #0E342B;
}
tr.tc2
{
	background-color: #D2D2D2;
}
tr.c3
{
	background-color: Pink;
}
tr.b1, tr.l1, tr.l4, tr.t1
{
	background-color: #666666;
	color: #ffffff;
}
tr.l2
{
	background-color: #029D75;
	color: #cc0000;
}
tr.h1
{
	background-color: #A6A6A6;
	color: #FFFFFF;
}
tr.s2
{
	background-color: #ffffff;
	color: #FFFFFF;
}
tr.rh1, tr.item, tr.itemalt
{
	height: 22px;
}
tr.rh2
{
	height: 31px;
}
tr.rh3
{
	height: 24px;
}
tr.rh4
{
	height: 45px;
}
tr.blk_r_wh
{
	height: 1px;
	background-color: #ffffff;
}
tr.item, tr.itemalt
{
	padding: 0px;
	margin: 0px;
	border: 0px;
}
td.tdbt
{
	border-top: solid #015A44 1px;
}
td.tdbb
{
	border-bottom: solid #D2D2D2 1px;
}
td.tdbl
{
	border-left: solid #D2D2D2 1px;
}
td.tdbr
{
	border-right: solid #015A44 1px;
}
td.b1
{
	background-color: #ffffff;
	border-top: #015A44 1px solid;
	color: #015A44;
}
td.ccn
{
	border-left: solid #000000 1px;
	color: #ffffff;
}
td.ch
{
	border-top: solid #ffffff 1px;
	border-bottom: solid #ffffff 1px;
}
td.hccn, td.sccn
{
	border-left: solid #000000 1px;
	color: #ffffff;
	background-color: #A6A6A6;
}
td.sccn
{
	text-decoration: underline;
}
td.cha
{
	background-color: #DCF1EC;
	border-top: #015A44 1px solid;
	color: #015A44;
}
td.dcn
{
	background-color: #DCF1EC;
	border-top: solid #015A44 0px;
	color: #015A44;
}
td.hdcn
{
	background-color: #DCF1EC;
	border-top: solid #015A44 1px;
	color: #ffffff;
	background-color: #029D75;
}
td.ecn
{
	background-color: #666666;
	border-top: solid #D2D2D2 1px;
	color: #ffffff;
}
td.ecn_dt
{
	background-color: #029D75;
	color: #ffffff;
	border-top: solid #029D75 1px;
}
td.hecn
{
	background-color: #A6A6A6;
	border-top: solid #D2D2D2 1px;
	color: #ffffff;
}
td.ld
{
	border-right: solid #000000 1px;
}
td.sch
{
	background-color: #ffffff;
	border-top: #015A44 1px solid;
	color: #015A44;
}
td.swl
{
	background-color: #015A44;
	color: #ffffff;
}
td.zrn
{
	border-left: solid #000000 1px;
}
td.c5
{
	background-color: #029D75;
	color: #FFFFFF;
}
td.tch
{
	border-top: 0;
	border-bottom: 0;
	padding-left: 10px;
}
td.ir
{
	color: #CC3300;
}
td.irb
{
	background-color: #F4D3C8;
}
td.irs
{
	border-top: solid #ffffff 1px;
}
td.btu
{
	border-left: solid #ffffff 1px;
}
td.ibd
{
	padding: 0px 7px 0px 7px;
}
td.ibr
{
	padding-right: 10px;
}
td.LM
{
	text-align: right;
	padding: 0px 8px 0px 4px;
	line-height: 16px;
	width: 136px;
}
td.BG1
{
	width: 136px;
	background: #DCF1EC;
}
td.RM
{
	padding: 0px 8px 0px 8px;
	width: 136px;
}
td.WS
{
	background: #FFFFFF;
}
td.RL
{
	padding: 6px 8px 8px 8px;
}
td.lmh
{
	color: #ffffff;
}
td.lms
{
	color: #ffffff;
	background-color: #ffffff;
}
td.rmr
{
	padding-left: 10px;
}
td.acn, td.an1, td.an3, td.an4, td.acr, td.ank, td.aln, td.anl, td.ann, td.arb, td.arn, td.arr, td.ars
{
	border-top: solid #D2D2D2 1px;
}
td.an3
{
	border-left: none;
}
td.ack
{
	border-top: none;
	border-bottom: none;
}
td.ccn
{
	border-left: solid #ffffff 1px;
	color: #ffffff;
}
td.bl
{
	border-left: #D2D2D2 1px solid;
}
td.br
{
	border-right: #D2D2D2 1px solid;
}
td.bl_w
{
	border-left: #ffffff 1px solid;
}
td.br_w
{
	border-right: #ffffff 1px solid;
}
td.bb
{
	border-bottom: #D2D2D2 1px solid;
}
td.nbot
{
	border-bottom: 0px solid;
}
td.ibl
{
	padding-left: 5px;
	padding-right: 3px;
}
td.u2
{
	border-bottom: #ffffff 0px solid;
}
td.rh1
{
	height: 22px;
}
td.ntop
{
	border-top: 0px solid;
}
td.wtop
{
	border-top: #ffffff 1px solid;
}
td.fbet
{
	border-left: solid #ffffff 1px;
	color: #015A44;
}
td.wd_odds
{
	width: 60px;
}
td.wd_bet
{
	width: 40px;
}
td.hecn_dt
{
	background-color: #029D75;
	border-top: solid #015A44 1px;
	color: #ffffff;
	background-color: #015A44;
}
.bsds
{
	border: solid #003022 1px;
}
.dbl
{
	border-left: solid #FFFFFF 1px;
	width: 235px;
}
.dbr
{
	border-right: solid #FFFFFF 1px;
	width: 235px;
}
.dbtUNUSED
{
	border-top: solid #003022 1px;
	width: 235px;
}
.dbd
{
	border-bottom: solid #003022 1px;
	width: 235px;
}
.dbg
{
	background-color: #FFFFFF;
	width: 233px;
	display: block;
	overflow: auto;
	scrollbar-face-color: #E5E5E5;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-3dlight-color: #999999;
	scrollbar-shadow-color: #A6A6A6;
	scrollbar-darkshadow-color: #000000;
	scrollbar-arrow-color: #003022;
	scrollbar-track-color: #A6A6A6;
}
.ml2
{
	background-color: #DCF1EC;
	color: #015A44;
}
tr.b2
{
	background-color: #666666;
	color: #FFFFFF;
}
tr.p1
{
	background-color: #FBEFEB;
	color: #CC3300;
}
.mob
{
	left: 0px;
	position: absolute;
	top: 160px;
	z-index: 0;
}
.mobc1
{
	color: #FFFFFF;
}
.mobc2
{
	color: #FFFF00;
}
.cl11
{
	color: #fefe02;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
}
#transparentlayer
{
	display: none;
	visibility: hidden;
	background-color: transparent;
	position: absolute;
	left: -500px;
	top: -500px;
	width: 2500px;
	height: 2500px;
	z-index: 5000;
}
#msgbox
{
	position: absolute;
	display: none;
	visibility: hidden;
	width: 244px;
	border-right: 2px solid #666666;
	border-bottom: 2px solid #666666;
	z-index: 6000;
	background-color: #DEEFEF;
}
.msgboxfade
{
	height: 29px;
	background: #D2D2D2 url( '../images/msgbox/msgbox_fade.jpg' ) repeat top left;
	border: 1px solid #000000;
	color: #FFFFFF;
}
.msgboxtitle
{
	padding-left: 5px;
	color: #FFFFFF;
	font-weight: bold;
}
.msgboxmain
{
	width: 242px;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	background-color: #DCF1EC;
}
.msgboxmsg
{
	padding: 10px;
	color: #294139;
	font-weight: bold;
}
.msgbox_button
{
	height: 27px;
	width: 110px;
	color: #FFFFFF;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
}
.msgboxbuttonclose
{
	cursor: pointer;
}
.leftrightpad
{
	padding: 1px 9px 1px 9px;
}
.graybg
{
	background-color: #EAEAEA;
}
td.mba
{
	font-weight: bold;
	cursor: hand;
	color: #015A44;
	background-color: #D2D2D2;
	text-align: center;
}
td.mbp
{
	font-weight: bold;
	color: #015A44;
	background-color: #DCF1EC;
	text-align: center;
	cursor: hand;
}
td.msh
{
	padding: 0px 0px 0px 10px;
	color: #ffffff;
	background-color: #015A44;
}
td.msh1
{
	padding: 0px 5px 10px 0px;
	color: #ffffff;
}
tr.msr
{
	background-color: #DCF1EC;
	font-weight: normal;
	color: #015A44;
}
tr.msu
{
	background-color: #D2D2D2;
	color: #015A44;
	font-weight: bold;
}
td.mp1
{
	padding: 0px 0px 0px 5px;
}
td.mp2
{
	padding: 0px 5px 0px 10px;
}
td.mp3
{
	padding: 0px 10px 0px 10px;
}
tr.msf
{
	color: #FFFFFF;
	background-color: #029d77;
	font-weight: bold;
}
td.mar
{
	text-align: right;
}
td.mal
{
	text-align: left;
}
td.msc
{
	color: #015A44;
	background-color: #D2D2D2;
	text-align: center;
}
td.mbb
{
	color: #015A44;
	background-color: #DCF1EC;
}
div.mrp
{
	border-right: #D2D2D2 1px solid;
	border-left: #D2D2D2 1px solid;
	border-bottom: #D2D2D2 1px solid;
	background-color: #ffffff;
	height: auto;
	padding-left: 30px;
	padding-bottom: 30px;
}
textarea.mst
{
	border-right: #D2D2D2 1px solid;
	border-top: #D2D2D2 1px solid;
	border-left: #D2D2D2 1px solid;
	height: 140px;
	overflow: auto;
	border-bottom: #ffffff 0px solid;
}
textarea.mro
{
	color: #015A44;
	overflow: visible;
	border-style: none;
	height: auto;
	background-color: transparent;
}
textarea.mrpb
{
	overflow: visible;
	border-right: #D2D2D2 1px solid;
	border-left: #D2D2D2 1px solid;
	border-bottom: #D2D2D2 1px solid;
	border-top: #000000 1px none;
	background-color: #ffffff;
	height: auto;
}
input.mtb
{
	border: #D2D2D2 1px solid;
	width: 485px;
	height: 20px;
}
select.msb
{
	border: #015A44 1px solid;
	width: 150px;
}
div.dfh
{
	height: 75px;
	width: 375px;
	padding-left: 10px;
}
span.mlrq
{
	padding: 0px 5px 20px 0px;
	color: #ffffff;
}
input.msub
{
	border-style: none;
	background-color: transparent;
	color: #ffffff;
}
div.mro
{
	color: #015A44;
	overflow: visible;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	height: auto;
	background-color: transparent;
	border-bottom-style: none;
}
div.mrpb
{
	overflow: visible;
	border-right: #D2D2D2 1px solid;
	border-left: #D2D2D2 1px solid;
	border-bottom: #D2D2D2 1px solid;
	border-top: #000000 1px none;
	background-color: #ffffff;
	height: auto;
	padding: 10px 10px 10px 10px;
}
#brands a
{
	width: 136px;
	background-color: #D2D2D2;
	padding: 0px;
	margin: 0px;
	color: #015A44;
	display: block;
}
#brands a:hover
{
	text-decoration: none;
	background-color: #9ED2C5;
}
.mbrs
{
	text-align: left;
	width: 589px;
}

div.structure
{
	width: 980px;
	float: left;
	clear: both;
}

.imgReplace
{
	background-position: top;
	background-repeat: no-repeat;
	display: block;
}
.imgReplace span
{
	width: 0px;
	height: 0px;
	overflow: hidden;
	display: block;
}

ul#menuMain { list-style: none; float: left;}
ul#menuMain li
{
	display: inline;
	float: left;
}
ul#menuMain a
{
	height: 59px;
}
ul#menuMain a:hover
{
	background-position: bottom;
}
ul.left
{
	padding: 0 0 0 25px;
	margin: 0 0 0px 0;
	float: left;
	clear: both;
}
ul.left li
{
	color: #FFF;
	display: inline;
}
ul.left a, a.aln3
{
	color: #FFF;
	font-weight:normal;
	text-decoration: none;
}
ul.left a:hover, a.aln3:hover
{
	color: #FFDF1B;
	text-decoration: underline;
}
ul.left li.no_border a
{
	color: #FFDF1B;
}
ul.left li.no_border a:hover
{
	color: #FFF;
}
a.alnk
{
	color: #FFF;
	text-decoration: underline;
}
a.alnk:hover
{
	color: #FFDF1B;
	text-decoration: none;
}
a.alnk2:hover
{
	color: #FFF;
	text-decoration: none;
}
a.alnk2, a.ya:hover
{
	color: #FFDF1B;
	text-decoration: underline;
}
ul.left a.txl, a.ya
{
	color: #FFDF1B;
	text-decoration: none;
}
ul.left a.txl:hover
{
	color: #FFF;
	text-decoration: underline;
}

.pad1{padding: 2px 0 2px 10px}

div.gd
{
	background-color: #E5E5E5;
	padding:7px;
	margin:0px;
}

div.gdi
{
	background-color: #333333;
	padding:5px;
}

div.gdii
{
	background: #565656 url(../images/home/imgs/grad-bgv2.gif) top left repeat-x;
}
.p5
{	
	padding:5px;
}
.p10
{	
	padding:10px;
}
.mh
{	
	min-height:88px;
}
.lh
{
	line-height:14px;
}
div.yd
{
	background-color: #FEF5BA;
	padding-top:6px;
	padding-left:4px;
	text-align:left;
}

.ytb
{
	border:solid 1px #CBBD12;
	background-color: #FEF5BA;
	width:530px;
	color:#000000;
	padding:8px 5px 8px 5px;
}
.bdy {background-color: #FFEF8D; }
.bly {background-color: #FFF5BA; }

input.u
{
	border:none;
	width:100px;
	height:18px;
	font-weight:bold;
	vertical-align:top;
	padding-left:3px;
	font-size: 10px;
	color: #FFFFFF;
}
input.bet365
{
	background-color: #017654;
}
input.bowmans
{
	background-color: #017654;
}
input.all-matches
{
	background-color: #B80606;
}
input.jugandovoy
{
	background-color: #C80000;
}
input.sunbet
{
	background-color: #A01C20;
}
input.notwbet
{
	background-color: #A01C20;
}
p
{
	padding:4px 10px 4px 10px;
}
div.brbt
{
	background-color:#E5E5E5;
	padding:10px;
	width:250px;
	border:solid 1px #D2D2D2;
}

.mb10{margin-bottom:10px;}
.formfield {border: solid 1px #A6A6A6;}

a.bsob
{
	color: #FFF;
	text-decoration: none;
	font-weight:bold;
}
a.bsob:hover
{
	color: #FFDF1B;
	text-decoration: none;
	font-weight:bold;
}
a.bsl
{
	color: #FFDF1B;
	text-decoration: none;
	font-weight:bold;
}
a.bsl:hover
{
	color: #FFF;
	text-decoration: none;
	font-weight:bold;
}
a.scl
{
	color: #666666;
	text-decoration: none;
	font-weight:bold;
}
a.scl:hover
{
	color: #A6A6A6;
	text-decoration: none;
	font-weight:bold;
}

.cr
{
	cursor:hand;
	cursor:pointer;
}
.ba{border-bottom:1px solid #E6E1E5;border-top:1px solid #FFFFFF}

div.GroupHeaderText
{
	height:28px;
	text-align:left;
	font-weight:bold;
	color:#FFFFFF;
	font-family:Verdana;
}

div.GroupHeaderWithText
{
	padding-left:15px;
	padding-top:9px;
}

.lsa
{
	background: url(../images/RHS/generic_body.jpg) no-repeat;
	height:223px;
}
.lsd
{
	padding-left:23px;
	color:#FFFFFF;
}
.lsd1
{
	padding:9px 0px 0px 9px;
	width:248px;
}
tabend{width:6px;height:30px}
.tabmiddle{height:30px;color:#FFFFFF;font-weight:bold;text-align:left;text-indent:3px;text-transform:uppercase;padding-top:3px}
.hdhlp{border: solid #E3E1E4; border-width: 0px 1px 1px 1px;}

.fy
{
	color: #FFDF1B;
	font-weight:normal;
}
.fyb
{
	color: #FFDF1B;
	font-weight:bold;
}
.fyq
{
	cursor: pointer;
}
ul#games { list-style: none; float: left; display:block;}
ul#games li
{
	display: inline;
	float: left;
	border-bottom: solid 1px #333333;
}
ul#games a
{
	height: 45px;
}
ul#games a:hover
{
	background-position: bottom;
}

div.gx1{width:225px; border: solid 1px #B7B7B7;}
div.gx2{border: solid 1px #FFFFFF;}
td.rl{background-color:#333333;height:18px;margin:0px;padding:0px 5px 0px 0px;text-align:right;vertical-align:middle;}
td.xbb{border-bottom:1px Solid #545454;}
div.gbdr{border-top:solid 1px #949494;}
div.pcnt{text-align:left;padding-bottom:5px;}
a#btn:hover
{
	background-position: bottom;
}

div.gdth
{
	background-color: #E5E5E5;
	padding-top:5px;
	padding-bottom:5px;
	width:565px;
}
tr.tcbg
{
	background-color: #F2F1F6;
}
a#btn:hover
{
	background-position: bottom;
	text-decoration: none;
}

div.lgbdr{border-top:solid 1px #388269;}
.lpgb{border:solid 3px #636363;}
.lpyb{border:solid 3px #FFDF1B;}
div.lpdgb{border:solid 3px #636363;}
div.lpdyb{border:solid 3px #FFDF1B;}

ul.lpnm
{
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	float: left;
	clear: both;
}
ul.lpnm li
{
	width: 90px;
	padding: 0px 0px 0px 0px; 
	margin:0px 0px 0px 1px;
	float: left; 
	clear: both; 
	display:block;
	text-align:left;
}
ul.lpnm a
{
	margin: 0px 0px 0px 0px;
	padding: 5px 0px 5px 10px;
	color: #FFFFFF;
	font-size:11px;
	font-weight:normal;
	text-decoration: none;
	display:block; 
	width:90px;
}
ul.lpnm a:hover, a.lpdgl
{
	color: #FFDF1B;
	font-size:11px;
	text-decoration: none;
	background-color: #333333;
	display:block; 
	width:90px;
}

div.lpcnt
{
	padding-top:34px;
	padding-right:5px;
	padding-bottom:0px;
	padding-left:15px;
}

a.wlnk
{
	color: #FFFFFF;
	text-decoration: none;
}

a.wlnk:hover
{
	color: #FFFFFF;
	text-decoration: underline;
}

tr.rcpn
{
	width: 565px;
	height: 22px;
}
td.dcpnl,td.dcpnr
{
	background-color:#FFFFFF;
	cursor:hand;
	cursor:pointer;
}
td.dcpnly,td.dcpnry,td.dcpngy,td.dcpngry
{
	background-color:#FEF5BA;
	cursor:hand;
	cursor:pointer;
}
td.dcpng,td.dcpngr
{
	background-color:#E5E5E5;
	cursor:hand;
	cursor:pointer;
}
td.claa
{
	width:517px;
}
td.clba
{
	width:234px;
}
td.clca
{
	width:140px;
}
td.clab
{
	width:48px;
}
td.ex
{
	border-top: solid 1px #D3D3D3;
	border-left: solid 1px #D3D3D3;
	text-align:left;
	padding-left:5px;
	font-weight:bold;
}
td.ex1
{
	border-top: solid 1px #D3D3D3;
	text-align:right;
	padding-right:5px;
}

td.ex2
{
	border-top: solid 1px #D3D3D3;
	border-left: solid 1px #D3D3D3;
	text-align:left;
	padding-left:5px;
	width:325px;
	font-weight:bold;
}
td.ex3
{
	border-top: solid 1px #D3D3D3;
	border-left: solid 1px #D3D3D3;
	text-align:center;
	width:80px;
}
td.ex4
{
	border-top: solid 1px #D3D3D3;
	border-left: solid 1px #D3D3D3;
	text-align:left;
	padding-left:5px;
	width:405px;
	font-weight:bold;
}
td.cbr
{
	border-right: solid 1px #D3D3D3;
}
td.cbb
{
	border-bottom: solid 1px #D3D3D3;
}
td.cbt
{
	border-top: solid 1px #D3D3D3;
}
td.cblt
{
	border-left: solid 1px #D3D3D3;
	border-top: solid 1px #D3D3D3;
	padding-left:5px;
}
td.nh
{
	cursor:default;	
}
td.gb, td.xgb
{
	background-color: #E5E5E5;
}
td.xwb
{
	background-color: #FFFFFF;
}
td.xyb, td.xgyb
{
	background-color: #FEF5BA;
}
td.chs
{
	cursor:hand;
	cursor:pointer;
}

/* START: Soccer  Markets */
div.gpmkd
{
	/*height:83px; */
	width:563px; 
	border:solid 1px #d3d3d3; 
	padding:0px; 	
	margin:2px 0px 2px 0px; 	
}

table.gpmktbl
{	width: 563px;}

td.gpmk
{
	font-size:10px; 
	color:#666;
	font-weight:normal;
	line-height:normal;
	background-color:#d3d3d3;
	border:solid 1px #d3d3d3;
	padding-left:7px;
	width: 185px;
	height: 25px;
	cursor:hand;	
	cursor:pointer;
}

td.gpmkh
{
	font-size:10px; 
	color:#fff;
	text-decoration:none; 
	font-weight:normal;	
	background-color:#a1a1a1;
	border:solid 1px #878787;
	padding-left:7px;
	width: 185px;
	height: 25px;
	cursor:hand;
	cursor:pointer;
}

td.gpmksel
{
	font-size:10px; 
	color:#fff;
	text-decoration:none; 
	font-weight:normal;	
	background-color:#a1a1a1;
	border:solid 1px #878787;
	padding-left:7px;
	width: 185px;
	height: 25px;
	cursor:hand;
	cursor:pointer;			
}

/* END: Soccer  Markets */

a.bsr{height: 12px; width: 12px; background-image: url(../images/Bettingslip/bsr.gif); display: block;}
a.bsr:hover{background-position: bottom;}

a.aPB {height: 15px; padding-left:3px;padding-right:3px;background: url(../images/Bettingslip/bspb.gif) repeat-x; border:solid 1px #FADF3C; text-align:center; color:#000000; font-weight:normal; display: block; background-position: top; vertical-align:middle;}
a.aPB:hover {background-position: 15px; text-decoration: none;}

a.aPBI{height: 15px;padding-left:3px;padding-right:3px; background: url(../images/Bettingslip/bspb.gif) repeat-x; border:solid 1px #787878; text-align:center; color:#999999; font-weight:normal; display: block; background-position: bottom; vertical-align:middle;}
a.aPBI:hover{text-decoration:none;}

/*
a#aMBB{height:9px; width: 9px; background: #000000 url(../images/Bettingslip/bsmb.gif) no-repeat; background-position:top;}
a#aMBB:hover{background-position:bottom}
a#aMBB2{height: 8px; width: 9px; background: url(../images/Bettingslip/bsmb.gif) no-repeat; background-position: bottom;}
*/

a.aVFB{height:17px; width:80px; background: url(../images/Bettingslip/bsvaldt.gif) repeat-x; border:solid 1px #787878;text-align:center; color:#000000;font-weight:normal;vertical-align:middle;background-position: top;padding-left:10px;padding-right:10px;padding-top:1px;}
a.aVFB:hover{background-position: bottom;text-decoration:none;}

.scn {background-color : #FEDF23;border: solid 2px #FEDF23;display: inline;}

a.licb{height: 15px; width: 15px; background-image: url(../images/logins/15x30-cross-icon-01.gif); display: block;}
a.licb:hover{background-position: bottom;}

a.fllb{height: 22px; width: 70px; display: block;}
a.fllb:hover,a.fllbl:hover {background-position: bottom;}
a.fllbl{height: 22px; width: 105px; display: block;}

/*a.lisb{height: 19px; width: 70px; background-image: url(../images/members_common/green-button-background.jpg); display: block; color:#FFFFFF; font-weight:bold;border-left:solid 1px #0e5035;border-right:solid 1px #0e5035;padding-top:3px;text-align:center;}
a.lisb:hover{background-position: bottom;text-decoration:none;}*/

a.lijn{color:#06855F; font-weight:bold;}

/*instant bet*/
div.contnt
{
	width:605px;
	padding:none;
	margin:none;
	text-align:center;
}

div.ibhdr
{
	background-image:url(../images/instantbet/images/605x107.jpg);
	background-repeat:no-repeat;
	width:605px;
	height:107px;
	position:relative;
	left:0px;
	top:0px;
	padding-bottom:10px;
}

div.ibtm
{
	position:relative;
	top:0px;
	right:0px;
	height:20px;
	width:595px;
	text-align:right;
	padding-right:10px;
	padding-top:7px;
	/*border:solid 1px Red;*/
}

div.ibci
{
	position:relative;
	top:0px;
	right:0px;
	height:58px;
	width:595px;
	text-align:right;
	padding-right:10px;
	padding-top:17px;
	/*border:solid 1px Blue;*/
}
table.ibci
{
	background:url(../images/instantbet/images/1x47-logged-in-panel-bg.gif) repeat-x;
	height:47px;
	border-top:solid 1px #06523F;
	border-left:solid 1px #06523F;
	border-right:solid 1px #06523F;
	border-bottom:solid 1px #06523F;
}
a.iba
{
	color:#84B8AB;
	text-decoration:none;
}
a.iba:hover, a.ibay:hover
{
	color:#FFDF1B;
	text-decoration:underline;
}
a.ibay
{
	color:#FFDF1B;
	text-decoration:none;
}
input.ibtxt
{
	border:solid 1px #054432;
	background-color:#0A5E46;
	color:#85AFA3;
	width:100px;
	height:16px;
	padding-top:3px;
	padding-left:5px;
}
a.ibgo
{
	background-repeat:no-repeat;
	width:23px;
	height:20px;
	display:block;
	background-position:top;
}
a.ibgo:hover, a.ibmail:hover, a.ibr:hover, a.ibrm:hover, a.ibbbrm:hover
{
	background-position:right bottom;
	text-decoration:none;
}
a.ibmail
{
	background-image:url(../images/instantbet/images/16x11-email-icon.gif);
	background-repeat:no-repeat;
	height:11px;
	display:block;
	background-position:right top;
	float:right;
	padding-right:20px;
	color:#FFDF1B;
	text-decoration:none;
}
td.ibmid
{
	background-image:url(../images/instantbet/images/2x1-H-Lines-Login-Panel.gif);
	background-repeat:repeat-y;
	background-position:0px 0px;
}
a.ibsb
{
	background-image:url(../images/instantbet/images/10x24-Arrow-Down.gif);
	background-repeat:no-repeat;
	height:12px;
	display:block;
	background-position:right bottom;
	float:left;
	padding-right:15px;
	color:#FFDF1B;
	text-decoration:none;
}
a.ibsb:hover
{
	background-position:right top;
	text-decoration:none;
}
div.ibbal
{
	z-index:1000;
	position:absolute;
	border-left:solid 1px #1D4C3D;
	border-right:solid 1px #1D4C3D;
	background-color:#065843;
	display:none;
	visibility:hidden;
	float:left;
	/*width:100px;
	left:345px;
	top:50px;*/
}
ul.ibbal
{
	border-left:solid 1px #15634E;
	border-right:solid 1px #15634E;
	background-color:#065843;
}
li.ibbal
{
	border-top:solid 1px #15634E;
	float:left;
	list-style-type:none;
	list-style-image:none;
	display:block;
	width:100%;
	border-bottom:solid 1px #044E3B;
	text-decoration:none;
}
a.ibbal
{
	padding-top:5px;
	padding-bottom:5px;
	padding-left:10px;
	padding-right:10px;
	display:block;
	text-decoration:none;
	float:left;
	line-height:16px;
	text-align:left;
	cursor:text;
}
a.ibbal:hover
{
	text-decoration:none;
	cursor:text;
}
div.ibslip
{
	width:585px;
	border:solid 1px #000000;
	border-bottom:none;
}
table.ibhdr1
{
	background-image:url(../images/instantbet/images/1x29-tbl-hdr-bg.gif);
	background-repeat:repeat-x;
	height:29px;
	width:100%;
	border-bottom:solid 1px #000000;
}
a.ibr
{
	background-image:url(../images/instantbet/images/18x34-Refresh-Icon-01.gif);
	background-repeat:no-repeat;
	background-position:top;
	width:18px;
	height:17px;
	display:block;
}
td.ibsh
{
	background-image:url(../images/instantbet/images/1x23-bg.gif);
	background-repeat:repeat-x;
	height:23px;
	border-top:solid 1px #5B5B5B;
	border-bottom:solid 1px #1B1B1B;
	color:#B3B3B3;
}
td.ibsd
{
	background-image:url(../images/instantbet/images/1x58-cell-bg.gif);
	background-repeat:repeat-x;
	background-color:#353535;
	vertical-align:middle;
	padding:10px;
	border-top:solid 1px #434343;
	border-bottom:solid 1px #292929;
	color:#7F7F7F;
	line-height:13px;
}
td.ibsdmid
{
	background-image:url(../images/instantbet/images/2x1-H-Line.gif);
	background-repeat:repeat-y;
	border-top:solid 1px #434343;
	border-bottom:solid 1px #292929;
	width:2px;
}
td.ibcsd
{
	background-image:url(../images/instantbet/images/1x58-confim-bg.gif);
	background-repeat:repeat-x;
	background-color:#282828;
	vertical-align:middle;
	padding:10px;
	border-top:solid 1px #3D3D3D;
	/*border-bottom:solid 1px #141414;*/
	color:#7F7F7F;
	line-height:13px;
}
td.ibcsdb
{
	background-color:#292929;
	vertical-align:middle;
	border-bottom:solid 1px #141414;
	color:#7F7F7F;
	padding: 0px 10px 10px 5px;
}

td.ibcsdmid
{
	background-image:url(../images/instantbet/images/2x1-bc-H-Line.gif);
	background-repeat:repeat-y;
	border-top:solid 1px #3D3D3D;
	border-bottom:solid 1px #141414;
	width:2px;
}
a.ibrm
{
	background-image:url(../images/instantbet/images/15x30-Close-Icon-01.gif);
	background-repeat:no-repeat;
	height:15px;
	width:15px;
	display:block;
	background-position:top;
}
div.ibns, div.ibno
{
	padding:0px;
	margin:0px;
	color:#FFFFFF;
	font-weight:bold;
	display:inline;
	vertical-align:middle;
}
div.ibcs
{
	padding:1px;
	margin:0px;
	background-color:#8B2D30;
	border:solid 1px #8B2D30;
	color:#FFFFFF;
	font-weight:bold;
	display:inline;
	vertical-align:middle;
}
div.ibco
{
	padding:1px;
	margin:0px;
	background-color:#FFE127;
	border:solid 1px #FFE127;
	color:#0D0D0D;
	display:inline;
	vertical-align:middle;
}
td.ibstk
{
	background-image:url(../images/instantbet/images/1x46-stakel-bg.gif);
	background-repeat:repeat-x;
	background-color:#282828;
	border-top:solid 1px #353535;
	border-bottom:solid 1px #1A1A1A;
	color:#999999;
	font-weight:bold;
	padding:10px 10px 5px 10px;
}
input.ibs
{
	border:solid 1px #121212;
	background-color:#4D4D4D;
	height:15px;
	width:60px;
	color:#FFFFFF;
	padding-top:3px;
}
a.ibbm
{
	color:#7F7F7F;
	text-decoration:none;
	font-weight:normal;
}
a.ibbmf
{
	color:#FFDF1B;
	text-decoration:none;
	font-weight:normal;
}
td.ibmh
{
	background-image:url(../images/instantbet/images/1x23-cell-bg.gif);
	background-repeat:repeat-x;
	height:23px;
	background-color:#2B2B2B;
	border-top:solid 1px #464646;
	/*border-bottom:solid 1px #1A1A1A;*/
	padding-left:10px;
	vertical-align:middle;
}
td.ibmd
{
	background-image:url(../images/instantbet/images/1x40-mul-bg.gif);
	background-repeat:repeat-x;
	background-color:#292929;
	border-bottom:solid 1px #212121;
	border-top:solid 1px #333333;
	padding:10px;
	color:#B3B3B3;
}
td.ibmsmid
{
	background-image:url(../images/instantbet/images/2x1-MH-Line.gif);
	background-repeat:repeat-y;
	border-bottom:solid 1px #212121;
	border-top:solid 1px #333333;
	width:2px;
}
a.ibmb
{
	color:#B3B3B3;
	font-weight:bold;
	text-decoration:none;
}
td.ibftr
{
	background-image:url(../images/instantbet/images/1x28-total-bg.gif);
	background-repeat:repeat-x;
	border-top:solid 1px #4A4A4A;
	border-bottom:solid 1px #000000;
	padding-right:5px;
	padding-left:10px;
	color:#CCCCCC;
	font-weight:bold;
	height:28px;
	vertical-align:middle;
}
a.ibpb
{
	background-image:url(../images/instantbet/images/80x66-Yellow-Btn.gif);
	background-repeat:no-repeat;
	height:17px;
	display:block;
	width:80px;
	background-position:left top;
	color:#333333;
	padding-top:5px;
	text-align:center;
	text-decoration:none;
}
a.ibipb,a.ibipb:hover
{
	background-image:url(../images/instantbet/images/80x66-Yellow-Btn.gif);
	background-repeat:no-repeat;
	height:18px;
	display:block;
	width:80px;
	background-position:left -44px;
	color:#3A3A3A;
	padding-top:4px;
	text-align:center;
	text-decoration:none;
	cursor:default;
}
a.ibpb:hover
{
	background-position:left -22px;
	text-decoration:none;
	color:#1A1A1A;
}
a.ibam
{
	color:#CCCCCC;
	text-decoration:none;
	font-weight:normal;
}
a.ibam:hover
{
	color:#FFDF1B;
	text-decoration:underline;
	font-weight:normal;
}
td.ibmsg
{
	background-image:url(../images/instantbet/images/1x30-bg.gif);
	background-repeat:repeat-x;
	border-bottom:solid 1px #1A1A1A;
	color:#CCCCCC;
	vertical-align:middle;
	text-align:center;
	padding:5px 10px 5px 10px;
	background-color:#535353;
}

div.ibbb
{
	/*border:solid 1px #696969;*/
	background-color:#444444;
	float:left;
}

td.ibbbtb
{
	background-color: #696969;
	/*border-top:solid 1px #545454;
	border-bottom:solid 1px #616161;*/
	color:#FFFFFF; 
	font-weight:bold;
	font-size:12px;
	width:100%;
	height:26px;
	margin:0px;
	padding-right:3px;
	vertical-align:middle;
}

div.ibbbd
{
	height:242px;
	display: block;
	overflow: auto;
	padding:5px;
	border-top:solid 1px #393939;
	border-bottom:solid 1px #050505;
	width:350px;
	
	scrollbar-border-color: #000000;
	scrollbar-base-color: #000000;
	scrollbar-arrow-color: #FFFFFF;
	scrollbar-3dlight-color: #000000;
	scrollbar-darkshadow-color: #000000;
	scrollbar-face-color: #686868;
	scrollbar-highlight-color: #494949;
	scrollbar-shadow-color: #686868;
	scrollbar-track-color: #222222;
}
div.ibbbt
{
	/*background:url(../images/instantbet/images/1x98-pop-up-bg-01.gif) repeat-x;*/
	background-color:#575757;
	display: block;
	height:auto;
}
td.ibbbh
{
	color:#FFFFFF;
	font-weight:bold;
	font-size:12px;
	text-align:left;
}

td.ibbbd
{
	color:#DDDDDD;
	font-weight:normal;
	font-size:12px;
	text-align:left;
	line-height:18px;
}
div.ibbbf
{
	background-color:#444444;
	height:50px;
	font-size:12px;
	display: block;
	overflow: auto;
	padding:5px;
	border-top:solid 1px #4E4E4E;
	color:#BBBBBB;
	line-height:16px;
}
a.ibbbrm
{
	background-image:url(../images/members_common/15x30-Close-Icon-01.gif);
	background-repeat:no-repeat;
	height:15px;
	width:15px;
	display:block;
	background-position:top;
}

a.flicb{height: 15px; width: 15px; background-image: url(../images/instantbet/images/logins/15x30-Close-Icon-01.gif); display: block;background-position: bottom;}
a.flicb:hover{background-position: top;}
a.liibjn{color:#e2c721; font-weight:bold;text-decoration:none;}
a.liibjn:hover{text-decoration:underline;}
a.fllb{height: 22px; width: 70px; display: block;background-position: 0px 0px;}
a.fllb:hover,a.fllbl:hover {background-position: 0px -22px;}
a.fllbl{height: 22px; width: 105px; display: block;}

a.cppods
{
	width: 227px; 
	display:block;
	background-repeat:no-repeat;
	background-position:0px 0px;
	height:79px;
}

a.cppods:hover
{
	background-position:0px -79px;
	text-decoration:none;
}

/* BEGIN: Homepage Non Flash */
a.sptlnk
{
	font: verdana; 
	font-size: 11px; 
	color: #06855f;
	text-decoration: none; 
	cursor: pointer; 
	cursor: hand;
}
a.sptlnk:hover
{
	text-decoration: underline;	
	cursor: pointer; 
	cursor: hand;
}

td.sptdetls
{
	font: verdana; 
	font-size: 11px; 
	color: #545454;
	text-decoration: none;	
	cursor: pointer; 
	cursor: hand;
}
tr.sp1
{
	background-color: #e6e1e5;
}

tr.spdata
{
	background-color: #ffffff;
/*	height: 25px; */
	display:block;
	line-height :20px;
}
/*
tr.spdataH
{
	background-color: #f0f0f0;
	height: 27px;
	display:block;
}
*/
/* END: Homepage Non Pull */

/* START: RHS html InPlay */
.aRHSWrapper {
	float: left;
	display: block;
	width: 213px;
	*width: 223px;
	background: url(1x40-bg.gif) #ededed repeat-x 0px 0px;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #c0bcbf;
	text-decoration: none;
	padding: 0px 5px 0px 5px;
	cursor: hand;
	height: 40px;	
}

.aRHSWrapper:hover {
	background: url() #dfdfdf repeat-x 0px 1px; 
	text-decoration:none; 
}


.aRHSWrapper table {
	font-size: 11px;
	color: #06855f;
	width: 100%;
}

.aRHSWrapper table td {
	vertical-align: middle;
	text-align: left;
}

.aRHSWrapper .tdTop {
	height: 19px; 
	padding-top: 5px; *padding-top: 3px; 
}

.aRHSWrapper .tdBottomLeft { 
	height: 21px; 
	padding-top: 2px; *padding-top: 4px; padding-bottom:2px;
	vertical-align:top;	
	color: #545454;
}

.aRHSWrapper .tdBottomRight { 
	height: 21px; 
	padding-top: 2px; *padding-top: 4px; padding-bottom:2px;
	vertical-align:top; 
	text-align: right;
	color: #545454;
}

.aRHSWrapper table td img {
	margin-left: 6px; 
	border: none; 
}

/* END: RHS html InPlay */

/* RHS Links 
a.sptlnkrhs
{
	font: verdana; 
	font-size: 11px; 
	color: #06855f;
	text-decoration: none; 
	display: block; 
	float: left; 
	height: 35px; 
	*height: 41px; 
	width: 219px; 		
	*width: 223px; 		
	border-bottom: solid 1px #c0bcbf;
	border-top: solid 1px #ffffff;
	padding: 3px 0px 2px 4px;	
	cursor: pointer; 
	cursor: hand;
	background: url(../images/RHS/1x40-bg.gif) #ededed repeat-x 0px 0px;
}
a.sptlnkrhs:hover
{
	background-color: #dfdfdf; 
	display: block;	
	background-image:none;
	text-decoration: none; 
}


span.sptscore, span.spttime, span.sptUpStartsIn, span.spUpStartsTime
{
	font-size: 11px; 
	float:left; 
	display:block; 
	width:159px;
	padding: 3px 0px 5px 0px; 
	line-height:11px; 
	margin:0px;  
	height:11px; 
	color: #545454; 
	text-align: left;
	text-decoration: none; 
}

span.sptUpStartsIn
{
	width:115px; 
	height:9px; 
	text-align: right;
	padding-bottom:   3px;
}


span.spttime, span.spUpStartsTime
{		
	width: 56px; 
	padding: 3px 0px 5px 0px; 
	text-align: right;
}


span.spUpStartsTime
{		
	width:100px; 
	height:9px;  
	text-align: left;
	padding-bottom:   3px;
}

*/
