body {
 width:100%;
 margin:0px;
 padding:0px;
 text-align:center;
 background:#FFF0CC;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,form,th,td,p {
 font-family: "HelveticaNeue", Helvetica, Arial, sans-serif;
 margin:0;
 padding:0;
 font-size:13px;
 line-height:20px;
 color:#133;
 word-break:break-all;
}
h1 {
 font-size:13px;
 line-height:17px;
 text-align:left;
 color:#FFF;
}
a {
 color:#06C;
 text-decoration:none;
}
a:hover {
 text-decoration:underline;
 color:#CCAA66;
}
a.arrow1 {
 background:url(images/arrow_1.png) no-repeat;
 padding-left:12px;
}
a.arrow_2 {
 display:block;
 background:url(images/arrow_2.png) no-repeat 0px 2px;
 padding-left:14px;
}
img {
 margin:0px;
 padding:0px;
 border:none;
}
#base {
 margin:0px auto;
 padding:0px;
 width:982px;
 text-align:left;
 background:#FFF0CC;
}
#captionBand {
 width:100%;
 height:90px;
 background:#4466AA url(images/back2.png) 0px -169px repeat-x;
 margin:0px;
 padding:0px;
}
#titleBand {
 color:#FFF;
 height:62px;
 overflow:hidden;
 padding:0px 10px 0px 10px;
 text-align:center;
 min-width:982px;
}
#titleBand .title {
 width:982px;
 margin:6px auto;
}
#titleBand .left {
 width:370px;
 height:50px;
 float:left;
 color:#FFF;
}
#titleBand .center {
 width:219px;
 height:57px;
 float:left;
 background:url(images/back2.png) 0px -112px no-repeat;
}
#titleBand .right {
 width:370px;
 height:50px;
 float:right;
}
#menuBand {
 height:28px;
 text-align:center;
}
#bodyBand {
 margin-top:20px;
 padding:0px;
 background:#F00;
}
#container {
 width:717px;
 float:right;
}
#leftBlock {
 width:250px;
 float:left;
}
#mainBlock {
 width:452px;
 float:left;
}
#rightBlock {
 width:250px;
 float:right;
}
#bottomBand {
 width:100%;
 background:#FFF;
 clear:both;
 margin-top:5px;
 padding:20px 0px;
 border-top:1px solid #CCC;
 text-align:center;
 font-size:12px;
 line-height:20px;
}
#bottomBand a {
 font-size:12px;
 line-height:20px;
 color:#000;
}
#bottomBand p {
 color:#333;
 font-size:12px;
}
#mainBlock .content,
#leftBlock .content,
#rightBlock .content {
 background:#FFF;
 margin-bottom:15px;
}
#mainBlock .caption,
#leftBlock .caption,
#rightBlock .caption {
 background:#CCAA66;
 border-top:1px solid #FFDD99;
 border-left:1px solid #FFDD99;
 border-right:1px solid #997744;
 border-bottom:1px solid #997744;
}
#mainBlock h2,
#leftBlock h2,
#rightBlock h2 {
 color:#FFF;
 font-size:14px;
 line-height:140%;
 padding-left:8px;
}
#Index,
#mainBlock .body,
#leftBlock .body,
#rightBlock .body {
 margin-top:1px;
 padding:3px 5px;
 background:#FFF;
 border-top:1px solid #CCAA66;
 border-left:1px solid #CCAA66;
 border-right:1px solid #997744;
 border-bottom:1px solid #997744;
}
#searchBlock {
 margin-bottom:15px;
}
#searchBlock h2 {
 padding-left:5px;
}
#searchBlock th {
 font-size:12px;
 font-weight:normal;
 text-align:right;
}
#searchBlock td {
 font-size:12px;
 text-align:left;
}
#searchBlock input {
 width:100px;
}


#rankingBlock h2 {
 padding-left:5px;
}
#rankingBlock .body {
 height:70px;
 padding:4px 4px 4px 0px;
}
#rankingBlock .rank {
 width:70px;
 float:left;
 color:#886633;
 text-align:center;
 padding-top:20px;
 font-family:'Arial Black';
 font-size:14px;
 line-height:20px;
 font-weight:bold;
}
#rankingBlock .image {
 width:65px;
 height:65px;
 float:left;
 margin-right:5px;
}
#rankingBlock .cdimage {
 width:60px;
 border-bottom:2px groove #CCC;
 border-right:2px groove #CCC;
}
#rankingBlock .title {
 font-size:medium;
 line-height:150%;
 font-weight:bold;
}


#pagerBlock {
 margin:20px 0px;
 padding-bottom:10px;
 text-align:center;
}
#pagerBlock a {
 display:block;
 background:#FFF;
 text-align:center;
 width:80px;
 margin:3px;
 float:left;
 border-top:1px solid #CCAA66;
 border-left:1px solid #CCAA66;
 border-right:1px solid #997744;
 border-bottom:1px solid #997744;
}
#pagerBlock a:hover {
 color:#FFF;
 background:#CCAA66;
 border-top:1px solid #FFDD99;
 border-left:1px solid #FFDD99;
}
#pagerBlock a.selected {
 color:#FF0000;
 background:#CCAA66;
 border-top:1px solid #FFDD99;
 border-left:1px solid #FFDD99;
}
.jasrac {
 font-size:11px;
 line-height:15px;
}
#lyricBlock {
}
#lyricBlock h2 {
 font-size:large;
 text-align:center;
}
#lyricBlock .body {
 padding:20px;
 line-height:180%;
 overflow:hidden;
}
#lyricBlock .status {
 padding:0px 0px 15px 0px;
 text-align:left;
}
#lyricBlock th {
 font-weight:normal;
 font-size:small;
 line-height:110%;
 text-align:right;
}
#lyricBlock td {
 font-size:small;
 line-height:110%;
 text-align:center;
}
#lyricBody {
 padding-top:20px;
 font-size:medium;
 line-height:180%;
}

#fontBlock {
 font-size:12px;
 margin-bottom:5px;
 padding:5px;
 text-align:center;
 background:#FFF;
 border-top:1px solid #CCAA66;
 border-left:1px solid #CCAA66;
 border-right:1px solid #997744;
 border-bottom:1px solid #997744;
}

#menuBand {
 width:850px;
 height:28px;
 margin:0px auto;
 font-size:12px;
}
#menuBand a {
 display:block;
 color:#FFF;
 height:16px;
 text-align:center;
 padding-top:12px;
 font-size:12px;
 line-height:12px;
 float:left;
 overflow:hidden;
}
#menuBand a:hover {
 color:#FF9900;
}
#menuBand .menu_1a {
 width:70px;
 background:url(images/back2.png) 0px 0px no-repeat;
}
#menuBand .menu_1b {
 color:#FF9900;
 font-weight:bold;
 width:70px;
 background:url(images/back2.png) -71px 0px no-repeat;
}
#menuBand .menu_2a {
 width:130px;
 background:url(images/back2.png) 0px -28px no-repeat;
}
#menuBand .menu_2b {
 color:#FF9900;
 font-weight:bold;
 width:130px;
 background:url(images/back2.png) -130px -28px no-repeat;
}
#menuBand .menu_3a {
 width:100px;
 background:url(images/back2.png) 0px -56px no-repeat;
}
#menuBand .menu_3b {
 color:#FF9900;
 font-weight:bold;
 width:100px;
 background:url(images/back2.png) -100px -56px no-repeat;
}
#menuBand .menu_4a {
 width:80px;
 background:url(images/back2.png) 0px -84px no-repeat;
}
#menuBand .menu_4b {
 color:#FF9900;
 font-weight:bold;
 width:80px;
 background:url(images/back2.png) -81px -84px no-repeat;
}

#sideLyricRank {
 margin-bottom:8px;
}
#sideLyricRank h2 {
 padding-left:5px;
}
#sideLyricRank .body {
 height:60px;
 padding:2px 3px;
 overflow:hidden;
}
#sideLyricRank .rank {
 width:44px;
 float:left;
 text-align:center;
 color:#886633;
 font-family:'Arial Black';
 font-size:12px;
 line-height:16px;
 font-weight:bold;
}
#sideLyricRank .image {
 width:43px;
 height:42px;
 text-align:left;
 float:left;
 margin-right:3px;
}
#sideLyricRank .noimage {
 width:43px;
 height:42px;
 float:left;
 margin-right:3px;
}
#sideLyricRank .cdimage {
 width:39px;
 border-bottom:2px groove #CCC;
 border-right:2px groove #CCC;
}
#sideLyricRank .title {
 font-size:13;
 line-height:16px;
 font-weight:bold;
}


#sideSpecial {
 margin-bottom:8px;
}
#sideSpecial h2 {
 padding-left:5px;
 color:#FFF;
}

#mainSpecial {
 margin-bottom:8px;
}
#mainSpecial h2 {
 padding-left:5px;
 color:#FFF;
}
#mainSpecial .status {
 width:100px;
 float:right;
 text-align:right;
 color:#050;
 font-size:12px;
 line-height:22px;
}

#sideArtist {
 margin-bottom:8px;
}
#sideArtist h2 {
 padding-left:5px;
}
#sideArtist .body {
 height:75px;
 padding:4px 0px;
}
#sideArtist .rank {
 width:80px;
 float:left;
 color:#886633;
 text-align:center;
 padding-top:20px;
 font-family:'Arial Black';
 font-size:14px;
 line-height:20px;
 font-weight:bold;
}
#sideArtist .image {
 width:50px;
 height:50px;
 float:left;
 margin-right:10px;
}
#sideArtist .cdimage {
 width:50px;
 border-bottom:2px groove #CCC;
 border-right:2px groove #CCC;
}
#sideArtist .artist
 {
 font-size:medium;
 line-height:150%;
 font-weight:bold;
}




#newreleaseBlock {
 margin-bottom:8px;
}
#newreleaseBlock h2 {
 padding-left:5px;
}
#newreleaseBlock .body {
 height:78px;
 padding:4px;
}
#newreleaseBlock .image {
 float:left;
 width:77px;
 height:77px;
 margin-right:5px;
 overflow:hidden;
}
#newreleaseBlock .cdimage {
 border-bottom:2px groove #CCC;
 border-right:2px groove #CCC;
}
#newreleaseBlock .title {
 font-size:medium;
 line-height:150%;
 font-weight:bold;
 overflow:hidden;
}
#newreleaseBlock .status {
 padding-left:15px;
}



#topNewRelease {
 margin-bottom:8px;
}
#topNewRelease h2 {
 padding-left:5px;
}
#topNewRelease .body {
 min-height:165px;
 padding:4px;
 overflow:hidden;
}
#topNewRelease .image {
 float:left;
 width:162px;
 height:162px;
 margin-right:5px;
 overflow:hidden;
}
#topNewRelease .cdimage {
 border-bottom:2px groove #CCC;
 border-right:2px groove #CCC;
}
#topNewRelease .title {
 font-size:medium;
 line-height:150%;
 font-weight:bold;
 overflow:hidden;
}
#topNewRelease .status {
 width:250px;
 float:left;
 padding-left:15px;
}
#topNewRelease .tracks {
 clear:both;
 padding-left:15px;
}


#lyricIndex,
#artistIndex {
 margin-bottom:8px;
}
#lyricIndex h2,
#artistIndex h2 {
 padding-left:5px;
}
#Index a {
 display:block;
 width:20px;
 height:16px;
 font-size:13px;
 line-height:16px;
 float:left;
 margin-right:1px;
 text-align:center;
}
#Index .selected,
#Index .blank {
 width:20px;
 height:16px;
 font-size:13px;
 line-height:16px;
 float:left;
 margin-right:1px;
 text-align:center;
}
#Index .selected {
 color:#F00;
 background:#F86;
}

#lyricList h2 {
 padding-left:5px;
}
#lyricList .body {
 clear:both;
 min-height:70px;
 overflow:hidden;
}
#lyricList .image {
 width:64px;
 height:65px;
 float:right;
 margin:5px 0px;
}
#lyricList .cdimage {
 width:60px;
 border-bottom:2px groove #CCC;
 border-right:2px groove #CCC;
/***
 height:60px;
***/
}
#lyricList .title {
 font-weight:bold;
 font-size:medium;
 line-height:160%;
}
#lyricList .status,
#lyricList .lyric {
 padding-left:15px;
}


a.Music {
 display:block;
 padding-left:18px;
 background:url(/amazon/icon-music2.gif) no-repeat 0px 2px;
}
a.Book {
 display:block;
 padding-left:18px;
 background:url(/amazon/icon-books2.gif) no-repeat 0px 2px;
}


#mainBlock p {
 padding-left:1em;
}

#entryListBlock a.h2caption {
 color:#FFF;
 text-decoration:underline;
}
#entryListBlock a.h2caption:hover {
 color:#FC0;
}
#entryListBlock .body {
 padding-bottom:0px;
}
#bookmarks img {
 margin:0px 2px 0px 5px;
}
#bookmarks a {
 font-size:12px;
 line-height:16px;
}
