﻿@charset "utf-8";
/* CSS Document */
body{font-size: 12px; color: #000000; line-height:170%; margin:0px; border:1px;	}
td{font-size: 12px; color: #000000; line-height:170%; padding:0px; }

.bai_zi {
	font-size: 15px;
	color: #ffffff;
	font-weight: bold;
}

.eng_zi_nr{
color:#333333;
font-size:12px;
font-family:Arial;
font-weight:420;
}

  
.eng_zi{
color:#989898;
font-size:13px;
font-family:Arial, Helvetica, sans-serif;
font-weight:450;
}


a.eng_left:link{ color: #012e8b; text-decoration:none; font-weight:bold; font-size:12px; font-family:Arial;}
a.eng_left:visited{ color:#012e8b; text-decoration:none; font-weight:bold; font-size:12px; font-family:Arial;} 
a.eng_left: hover{ color:#012e8b; text-decoration:none; font-weight:bold; font-size:12px; font-family:Arial;}

a.eng_left1:link{ color: #333333; text-decoration:none; font-weight:bold; font-size:12px; font-family:Arial;}
a.eng_left1:visited{ color:#333333; text-decoration:none; font-weight:bold; font-size:12px; font-family:Arial;} 
a.eng_left1: hover{ color:#012e8b; text-decoration:none; font-weight:bold; font-size:12px; font-family:Arial;}

a.eng_hui:link{ color: #989898; text-decoration:none; font-weight:450; font-size:12px; font-family:Arial}
a.eng_hui:visited{ color: #989898; text-decoration:none; font-weight:450; font-size:12px; font-family:Arial} 
a.eng_hui:hover{ color:#989898; text-decoration:none; font-weight: 450; font-size:12px; font-family:Arial}

.baizi {
	font-size: 12px;
	color: #ffffff;

}

.hei_zi_12 {
	font-size: 12px;
	color: #000000;
}
.top_zi_white {
	font-family: "";
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
}
.daohang_zi_black {
	font-size: 14px;
	font-weight: bold;
	color: #000000;
}
.daohang_zi_black_small {
	font-size: 12px;
	font-weight: bold;
	color: #000000;
}
.col_zi {
	font-family: "";
	font-size: 14px;
	color: #FFFFFF;
	font-weight: bold;
}
.top{
    font-family: "";
	color: #FFFFFF;
}
.col_zi_nr{ 
    font-family: "";
    color:#12316f;
	font-size: 18px;
}
.jiang_zi_nr{ 
    font-family: "";
    color:#12316f;
	font-size: 14px;
	font-weight: bold;
	}
	
.top_kuang {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #12316f;
	border-bottom-color: #12316f;
	border-left-color: #12316f;
}
.kuang{
	border: 1px solid #d9d9d9;
}
.4kuang{
	border: 1px solid #0C1D7C;
}
.hui_kuang{
	border: 1px solid #cacaca;
	
}

.lan_kuang{
	border: 1px solid #96c2f1;
	
}

.shenhui_kuang{
	border: 1px solid #cacaca;
}

.kuangform1 {
	width: 85px;
}

.red_zi{
    font-family: "";
	font-size: 12px;
	color:#BE0000; 
	font-weight: bold;
}

.big_red_zi{
    font-family: "";
	font-size: 14px;
	color:#BE0000; 
	font-weight: bold;
}

.big_reder_zi{
    font-family: "";
	font-size: 18px;
	color:#990000; 
	font-weight: bold;
}

.blue_hzi{
    font-family: "";
	font-size: 14px;
	color:#000000; 
	font-weight: bold;
}
.blue_zi{
    font-family: "";
	font-size: 14px;
	color:#0c1d7c; 
	font-weight: bold;
}

.black_zi{
    font-family: "";
	font-size: 14px;
	color:#000000; 
	font-weight: none;
} 

.blue_dzi{
    font-family: "";
	font-size: 20px;
	color:#0c1d7c; 
	font-weight: bold;
}

.blue_zi_small{
    font-family: "";
	font-size: 12px;
	color:#0c1d7c; 
}

.blue_zi_big{
    font-family: "";
	font-size: 20px;
	color:#000000; 
font-weight: bold;
}

a:link { color: #000000; text-decoration: none}
a:visited { color: #000000; text-decoration: none}
a:hover { color: #060dff; text-decoration: none}

a.hei:link { color: #000000; text-decoration: none}
a.hei :visited { color: #000000; text-decoration: none}
a.hei:hover { color: #060dff; text-decoration: none}

a.lian:link{ color: #000000; text-decoration: none}
a.lian:visited{ color: #000000; text-decoration: none}
a.lian:hover{ color: #060dff; text-decoration: none}

a.red:link{ color: #FF0000; text-decoration: none}
a.red:visited{ color: #FF0000; text-decoration: none}
a.red:hover{ color: #060dff; text-decoration: none}

a.red_title:link{ color: #FF0000; text-decoration: none; font-weight: bold; font-size:14px}
a.red_title:visited{ color: #FF0000; text-decoration: none; font-weight: bold; font-size:14px}
a.red_title:hover{ color: #060dff; text-decoration: none; font-weight: bold; font-size:14px}

a.bluez_xg:link{ color:#000000; text-decoration: none; font-weight: none; font-size:14px}
a.bluez_xg:visited{ color:  #000000; text-decoration: none; font-weight: none; font-size:14px} 
a.bluez_xg:hover{ color: #060dff; text-decoration: none; font-weight: none; font-size:14px}

a.blue141b1b70:link{ color:#1b1b70; text-decoration: none; font-weight: none; font-size:14px}
a.blue141b1b70:visited{ color:  #1b1b70; text-decoration: none; font-weight: none; font-size:14px} 
a.blue141b1b70:hover{ color: #1b1b70; font-weight: none; font-size:14px}


a.blue:link{ color: #0c1d7c; text-decoration: none; font-weight: bold; font-size:14px}
a.blue:visited{ color: #0c1d7c; text-decoration: none; font-weight: bold; font-size:14px} 
a.blue:hover{ color: #0c1d7c; text-decoration: none; font-weight: bold; font-size:14px}

a.bluez:link{ color: #000000; text-decoration: none; font-size:14px}
a.bluez:visited{ color: #000000; text-decoration: none;  font-size:14px} 
a.bluez:hover{ color: #060dff; text-decoration: none; font-size:14px}

a.blues:link{ color: #0c1d7c; text-decoration: none; font-weight: bold; font-size:15px}
a.blues:visited{ color: #0c1d7c; text-decoration: none; font-weight: bold; font-size:15px} 
a.blues:hover{ color: #0c1d7c; text-decoration: none; font-weight: bold; font-size:15px}

a.blue12:link{ color: #0c1d7c; text-decoration: none; font-weight: bold; font-size:12px}
a.blue12:visited{ color: #0c1d7c; text-decoration: none; font-weight: bold; font-size:12px} 
a.blue12:hover{ color: #0c1d7c; text-decoration: none; font-weight: bold; font-size:12px}

a.bluesmall:link{ color: #0b3090; text-decoration: none; font-weight: none; font-size:12px}
a.bluesmall:visited{ color: #0b3090; text-decoration: none; font-weight: none; font-size:12px} 
a.bluesmall:hover{ color: #060dff; text-decoration: none; font-weight: none; font-size:12px}

a.bai:link{ color: #FFFFFF; text-decoration: none; font-weight: bold; font-size:14px }
a.bai:visited{ color: #FFFFFF; text-decoration: none; font-weight: bold; font-size:14px}
a.bai:hover{ color: #FFFFFF; text-decoration: none; font-weight: bold; font-size:14px }

a.smallbai:link{ color: #FFFFFF; text-decoration: none; }
a.smallbai:visited{ color: #FFFFFF; text-decoration: none; }
a.smallbai:hover{ color: #FFFFFF; text-decoration: none;  }
.textfield {
	height: 15px;
	width: 90px;
}
.textfield_1{
	height: 18px;
	width: 40px;
}
.textfield2 {
	height: 15px;
	width: 160px;
}

.big_red_zi{
    font-family: "";
	font-size: 14px;
	color:#be0000; 
	font-weight: bold;
}

a.big_red_zi:link{
    font-family: "";
	font-size: 14px;
	color:#be0000; 
	font-weight: bold;
}

a.big_red_zi:visited{
    font-family: "";
	font-size: 14px;
	color:#be0000; 
	font-weight: bold;
}

a.big_red_zi:hover{
    font-family: "";
	font-size: 14px;
	color:#be0000; 
	font-weight: bold;
}

.big_reder_zi{
    font-family: "";
	font-size: 18px;
	color:#990000; 
	font-weight: bold;
}

a.big_reder_zi:link{
    font-family: "";
	font-size: 18px;
	color:#990000; 
	font-weight: bold;
}

a.big_reder_zi:visited{
    font-family: "";
	font-size: 18px;
	color:#990000; 
	font-weight: bold;
}

a.big_reder_zi:hover{
    font-family: "";
	font-size: 18px;
	color:#990000; 
	font-weight: bold;
}


a.red_zi:link{
    font-family: "";
	font-size: 12px;
	color:#be0000; 
	font-weight: bold;
}

a.red_zi:visited{
    font-family: "";
	font-size: 12px;
	color:#be0000; 
	font-weight: bold;
}

a.red_zi:hover{
    font-family: "";
	font-size: 12px;
	color:#be0000; 
	font-weight: bold;
}

.title14_b{
	letter-spacing:2px;
	font-size:14px;
	font-weight: bold;
}

.title14_b_5{
	letter-spacing:5px;
	font-size:14px;
	font-weight: bold;
}

#show_div {margin:0 auto;width:100%;height:60;border:#115792 0px solid;padding:0;text-align:left;background: url(images/div_bg1.gif) repeat-x; }
#show_div #title {margin:0 0 0 0;padding:0; }
#show_div #title ul{margin:0;padding:0; }
#show_div #title li {float:left;line-height:30px;text-align:center; }
#show_div #title a {letter-spacing:2px;width:80;display:block;font-size:14px;color:#ffffff; padding:2 0 0 0px;}
#show_div #title a:hover {letter-spacing:2px;font-size:14px;color:#060dff; }
#show_div #title .selectli {letter-spacing:2px;font-size:14px;color:#060dff;background-position:left 0px; }
#show_div .content {margin:0;padding:3 0 3 15;width:100%;text-align:left; }
#show_div .hidecontent {display:none; }


#show_div1 {margin:0 auto;width:100%;height:25;border:#115792 0px solid;padding:0;text-align:left; }
#show_div1 #title {margin:0 0 0 0;padding:0; }
#show_div1 #title ul{margin:0;padding:0; }
#show_div1 #title li {float:left;line-height:25px;text-align:center; }
#show_div1 #title a {letter-spacing:0px;display:block;font-size:12px;color:#000000; padding:2 0 0 0px;}
#show_div1 #title a:hover {letter-spacing:0px;font-size:12px;color:#060dff; }
#show_div1 #title .selectli {letter-spacing:0px;font-size:12px;color:#060dff;background-position:left 0px; }
#show_div1 .content {margin:0;padding:0 0 0 0;width:100%;text-align:left; }
#show_div1 .hidecontent {display:none; }

.textfield {
	height: 16px;
	width: 90px;
}


    .lanmu_box {
        border: 1px solid #2e4190;
        border-bottom: 3px solid #2e4190;
        background-color: #eceff6;
    }

    .lanmu_Innerbox {
        margin-top: 1px;
        border-top: 5px solid #2e4190;
    }

    .lanmu_top {
        margin-top: 4px;
    }
    
    
    .two_left{
  background-color:#f3f3f8;
   padding-top:6px;
 height:25px;
  margin:4px;

}

.leook-e
{
font:14px;
COLOR:#000000
}


.zwz_sbj_kuang{
	border: 8px solid #C8D6E0;
	
}

    .daohang_zi_black_hot {
        FONT-WEIGHT: bold;
        FONT-SIZE: 14px;
        COLOR: #000000;
        BACKGROUND: url(images/zj_top_t_hot_sml.jpg)
    }
    .menu_td_hot {
        FONT-WEIGHT: bold;
        FONT-SIZE: 14px;
        COLOR: #000000;
        BACKGROUND: url(images/zj_top_t_hot.jpg)
    }

    .daohang_zi_black {
        FONT-WEIGHT: bold;
        FONT-SIZE: 14px;
        COLOR: #000000
    }
	

    /* ǩ */
                .T_Menu_01 {
                    padding: 0px;
                    height: 30px;
                    background: url(images/index_t.jpg); /*repeat-x 0 -251px;*/
                    margin: 0px;

                }

                .T_Menu_01 label {
                    border: 1px solid #B4B2b2;
                    margin-top: 0px;
                    border-top: 0px;
                    margin-bottom: 0px;
                    border-bottom: 0px;
                    padding-top: 4px;
                    float: left;
                    width: 65px;
                    height: 24px;
                    background: url(images/index_t.jpg);
                    line-height: 21px;
                    border-left: none;
                    text-align: center;
                    cursor: pointer;
                    color: #012E8B;
                }

  

                .SSDiv {
                    float: left;
                    width: 246px;
                    padding-top: 4px;
                    padding-left: 20px;
                    color: #012E8B;
                }
				
		 
                .T_Menu_01 .selected {
                    border-bottom: none;
                    padding-top: 4px;
                    background: url(images/index_zyfb_selected.jpg);
                    height: 25px;
                    color: #c31c0a; /*border-bottom: 0px;*/
                    border-bottom: 1px solid #FFFFFF;
                }

                .T_Menu_01 a:link, .T_Menu_01 a:visited {
                    color: #000;
                    text-decoration: none;
                }

                .T_Menu_01 a:hover {
                    color: #f00;
                    text-decoration: underline;
                }

                .T_Menu_01 .SSDiv a.blue:link {
                    color: #0c1d7c;
                    text-decoration: none;
                    font-weight: bold;
                    font-size: 14px
                }

                .T_Menu_01  .SSDiv a.blue:visited {
                    color: #0c1d7c;
                    text-decoration: none;
                    font-weight: bold;
                    font-size: 14px
                }

                .T_Menu_01  .SSDiv  a.blue:hover {
                    color: #0c1d7c;
                    text-decoration: none;
                    font-weight: bold;
                    font-size: 14px
                }

                .SelDiv_selected {
                    display: block;
                }

                .SelDiv_unselected {
                    display: none;
                }




 /* ǩ */
                .T_Menu_02 {
                    padding: 0px;
                    height: 30px;
                    background: url(images/index_t.jpg); /*repeat-x 0 -251px;*/
                    margin: 0px;

                }

                .T_Menu_02 label {
                    border: 1px solid #B4B2b2;
                    margin-top: 0px;
                    border-top: 0px;
                    margin-bottom: 0px;
                    border-bottom: 0px;
					border-right: 0px;
                    padding-top: 4px;
                    float: left;
                    width: 65px;
                    height: 24px;
                    /*background: url(images/index_t.jpg);*/
                    line-height: 21px;
                    border-left: none;
                    text-align: center;
                    cursor: pointer;
                    color: #012E8B;
                }
 
				
		  .SSDiv2 {
                    float: left;                   
                    padding-top: 4px;
                    padding-left: 20px;
                    color: #012E8B;
                }

                .T_Menu_02 .selected {
                    border-bottom: none;
                    padding-top: 4px;
                    background: url(images/index_zyfb_selected.jpg);
                    height: 25px;
                    color: #c31c0a; /*border-bottom: 0px;*/
                    border-bottom: 1px solid #FFFFFF;
                }

                .T_Menu_02 a:link, .T_Menu_02 a:visited {
                    color: #000;
                    text-decoration: none;
                }

                .T_Menu_02 a:hover {
                    color: #f00;
                    text-decoration: underline;
                }

                .T_Menu_02 .SSDiv2 a.blue:link {
                    color: #0c1d7c;
                    text-decoration: none;
                    font-weight: bold;
                    font-size: 14px
                }

                .T_Menu_02  .SSDiv2 a.blue:visited {
                    color: #0c1d7c;
                    text-decoration: none;
                    font-weight: bold;
                    font-size: 14px
                }

                .T_Menu_02  .SSDiv2  a.blue:hover {
                    color: #0c1d7c;
                    text-decoration: none;
                    font-weight: bold;
                    font-size: 14px
                }

                .SelDiv2_selected {
                    display: block;
                }

                .SelDiv2_unselected {
                    display: none;
                }              
		


 /* ǩ */
                .T_Menu_03 {
                    padding: 0px;
                    height: 30px;
                    background: url(images/index_t.jpg); /*repeat-x 0 -251px;*/
                    margin: 0px;

                }

                .T_Menu_03 label {
                    border: 1px solid #B4B2b2;
                    margin-top: 0px;
                    border-top: 0px;
                    margin-bottom: 0px;
                    border-bottom: 0px;
					border-right: 0px;
                    padding-top: 4px;
                    float: left;
                   
                    height: 24px;
                    background: url(images/index_t.jpg);
                    line-height: 21px;
                    border-left: none;
                    text-align: center;
                    cursor: pointer;
                    color: #012E8B;
                }
 
				
		  .SSDiv3 {
                    float: left;
                   
                    padding-top: 4px;
                    padding-left: 20px;
                    color: #012E8B;
                }

                .T_Menu_03 .selected {
                    border-bottom: none;
                    padding-top: 4px;
                    background: url(images/index_zyfb_selected.jpg);
                    height: 25px;
                    color: #c31c0a; /*border-bottom: 0px;*/
                    border-bottom: 1px solid #FFFFFF;
                }

                .T_Menu_03 a:link, .T_Menu_03 a:visited {
                    color: #000;
                    text-decoration: none;
                }

                .T_Menu_03 a:hover {
                    color: #f00;
                    text-decoration: underline;
                }

                .T_Menu_03 .SSDiv3 a.blue:link {
                    color: #0c1d7c;
                    text-decoration: none;
                    font-weight: bold;
                    font-size: 14px
                }

                .T_Menu_03  .SSDiv3 a.blue:visited {
                    color: #0c1d7c;
                    text-decoration: none;
                    font-weight: bold;
                    font-size: 14px
                }

                .T_Menu_03  .SSDiv3  a.blue:hover {
                    color: #0c1d7c;
                    text-decoration: none;
                    font-weight: bold;
                    font-size: 14px
                }

                .SelDiv3_selected {
                    display: block;
                }

                .SelDiv3_unselected {
                    display: none;
                }              
		
		
/* ǩ */
                .T_Menu_04 {
                    padding: 0px;
                    height: 30px;
                  /*  background: url(images/index_t.jpg);  */
                    margin: 0px;

                }

                .T_Menu_04 label {
                    border: 1px solid #B4B2b2;
                    margin-top: 0px;
                    border-top: 0px;
                    margin-bottom: 0px;
                    border-bottom: 0px;
                    padding-top: 4px;
                    float: left;
                   
                    height: 24px;
                    background: url(images/index_t.jpg);
                    line-height: 21px;
                    border-left: none;
                    text-align: center;
                    cursor: pointer;
                    color: #012E8B;
                }
 
				
		  .SSDiv4 {
                    float: left;
                   
                    padding-top: 4px;
                    padding-left: 20px;
                    color: #012E8B;
                }

                .T_Menu_04 .selected {
                    border-bottom: none;
                    padding-top: 4px;
                    background: url(images/index_zyfb_selected.jpg);
                    height: 25px;
                    color: #c31c0a; /*border-bottom: 0px;*/
                    border-bottom: 1px solid #FFFFFF;
                }

                .T_Menu_04 a:link, .T_Menu_04 a:visited {
                    color: #000;
                    text-decoration: none;
                }

                .T_Menu_04 a:hover {
                    color: #f00;
                    text-decoration: underline;
                }

                .T_Menu_04 .SSDiv4 a.blue:link {
                    color: #0c1d7c;
                    text-decoration: none;
                    font-weight: bold;
                    font-size: 14px
                }

                .T_Menu_04  .SSDiv4 a.blue:visited {
                    color: #0c1d7c;
                    text-decoration: none;
                    font-weight: bold;
                    font-size: 14px
                }

                .T_Menu_04  .SSDiv4  a.blue:hover {
                    color: #0c1d7c;
                    text-decoration: none;
                    font-weight: bold;
                    font-size: 14px
                }

                .SelDiv4_selected {
                    display: block;
                }

                .SelDiv4_unselected {
                    display: none;
                }              
		
		
				

#zwz_three{
margin:auto;
width:800px;
border:12px solid #baccdc;
padding-top:15px;
padding-left:10px;
padding-right:10px;
background-color:#FFFFFF;
}
.zwz_top{
 float: right;
 font-size:12px;
}
.zwz_title{
color:#033eb7;
font_size:24px;
font-weight: bold;
} 
#contents{
padding-left:15px;
padding-right:15px;
padding-bottom:20px;
padding-bottom:10px;
}
.www{
background-image:url(images/zwz_san_www.jpg);
height:21px;
padding-top:5px;
}
.zwz_er_kuang{
border:1px solid #bdc4d6;
}

    .xwbox {
        border: 1px solid #000000;
        padding:3px;
        width: 330px;
        position: absolute;
        font-size: 12px;
        background-color: #FFFFE1;
    }
.zj_four_bg{
background-color:#E6E9F2;
width:960px;
margin:auto;
}

#zj_contents{
margin:auto;
padding-top:20px;
padding-left:80px;
padding-right:80px;
padding-bottom:10px;
width:800px;
}
#zj_contents_shuchu{
margin:auto;
padding-top:5px;
padding-left:5px;
padding-right:5px;
padding-bottom:5px;
}

.zj_four_time{
background-image:url(images/zj_four_date.jpg);
background-repeat:no-repeat;
margin:auto;
height:27px;
}
.zj_four_link{
background-image:url(images/zj_four_link.jpg);
background-repeat:no-repeat;
margin:auto;
height:24px;
padding-top:5px;
padding-left:15px;
font-size:14px;
color:#012e8b;
font-weight: bold;
}
.textfield{
width:100px;
height:18px;
border:1px solid #CCCCCC;
}
.zwz_textfield{
width:80px;
height:18px;
}

.bg_img{
background-image:url(images/zwz_san_bg.jpg);
background-repeat:no-repeat;
width:960px;
margin:auto;
}

.zwz_xx_title_zi{
font-size:24px;
color:#033EB7;
}


#zj_yxdl_bg{
background-image:url(images/zj_yhdl_bg.jpg);
background-repeat:no-repeat;
height:380px;
width:600px;
margin:auto;
margin-top:50px;
}
.zj_dl{
float:right;
width:232px;
height:112px;
margin-top:195px;
margin-right:25px;
}
.zj_red_ling{
font-size:42px;
font-family:"宋体";
FONT-WEIGHT: bold;
color:#FF0000;
}

.zj_red_title{
font-size:30px;
font-family:"宋体";
FONT-WEIGHT: bold;
color:#FF0000;
}
.zj_hei_neirong{
font-size:36px;
font-family:"宋体";
FONT-WEIGHT: bold;
color:#000000;
}
.zj_hao{
font-size:16px;
font-family:"宋体";
color:#666666;
}
img{
border:0;
}
-WEIGHT: bold;
color:#FF0000;
}
.zj_hei_neirong{
font-size:36px;
font-family:"宋体";
FONT-WEIGHT: bold;
color:#000000;
}
.zj_hao{
font-size:16px;
font-family:"宋体";
color:#666666;
}
img{
border:0;
}


a.left_zi:link{ color: #000000; text-decoration: none; font-weight: bold; font-size:14px}
a.left_zi:visited{ color: #000000; text-decoration: none; font-weight: bold; font-size:14px}
a.left_zi:hover{ color: #000000; text-decoration: none; font-weight: bold; font-size:14px}

a.black:link{ color: #000000; text-decoration: none; font-weight: none; font-size:12px}
a.black:visited{ color: #000000; text-decoration: none; font-weight: none; font-size:12px} 
a.black:hover{ color: #060dff; text-decoration: none; font-weight: none; font-size:12px}

a.left_zi_12:link{ color: #000000; text-decoration: none; font-weight: bold; font-size:12px}
a.left_zi_12:visited{ color: #000000; text-decoration: none; font-weight: bold; font-size:12px} 
a.left_zi_12:hover{ color: #000000; text-decoration: none; font-weight: bold; font-size:12px}


a.xiazai_zi12:link{ color: #fd960b; text-decoration: none; font-weight: none; font-size:12px}
a.xiazai_zi12:visited{ color: #fd960b; text-decoration: none; font-weight: none; font-size:12px} 
a.xiazai_zi12:hover{ color: #fd960b; text-decoration: none; font-weight: none; font-size:12px}

.hang {
	font-size: 12px;
	line-height: 24px;
	color: #000000;
	text-decoration: none;
}

.left_zi_bt{
font-size:14px;
color:#000000;
font-weight:bold;
}

.content_zi{
font-size:14px;
color:#000000;
font-weight:none;
}
.blue_zi{
    font-family: "";
	font-size: 14px;
	color:#0c1d7c; 
	font-weight: bold;
}

.left_dzi{
font-size:20px;
color:#000000;
font-weight:bold;
}

.left_zi_bt_12{
font-size:12px;
color:#000000;
font-weight:bold;
}

.kuang {
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
}
.textfield {
	height: 15px;
	width: 90px;
	color:#fd960b;
}

.xiazai_zi{
font-size:12px;
color:#fd960b;
font-weight:none;
}
 

.huang_kuang{
	border: 1px solid #fd960b;
	
}
 