@charset "utf-8";
/*modify by team csp start */
/* RESET */
h1,h2,h3,h4,h5,h6,pre,code,address,caption,cite,code,em,strong,th { font-size:1em;}
.blank { clear:both; display:block; margin:0; padding:0; height:0; line-height:1px; font-size:1px; width:0; overflow:hidden;}
fieldset,img { border: none; }
caption,th { text-align: left; }

body { color:#636363; font-family: Verdana, Arial, Gulim; height:100%}
a { color:#888; text-decoration:none;}
a:hover { color:#b00; text-decoration:underline; }
p { margin:0; padding:0; }

.skipToContent { position:absolute; z-index:-1; top:-50px; }
.skipToContent:focus { display:block; position:static; padding:5px; background:#f9f9f9; border-bottom:1px solid #ccc; text-align:center; color:#555; text-decoration:none; font:bold 13px Gulim, Arial; }

.layer_ { position:absolute; top:0; }
.layer_bottom {width:120px; height:618px; position:absolute;display:none;left:0;}
#layer_left { right:100%; }
#layer_right { left:100%; }

#outerWrapper_shadow { position:relative;
	width:980px;
	margin-top: 5px;
	margin-right: auto;
	margin-bottom: 30px;
	margin-left: auto;
}

#outerWrapper { margin:0 5px; position:relative; width:1100px; overflow:hidden; }
#header { position:relative; *zoom:1; z-index:50; padding:33px 0 0; }
#header * { margin:0; padding:0; }
#header h1 { float:left; padding:0px; height:92px; overflow:visible; }
#header h1 img{margin-left:5px;margin-top:15px;}

/*2014-07-23 #gnb { clear:both; background:#333; height:29px; padding:0 20px; border-top:1px solid #ccc; }*/
#gnb { clear:both; background:#333; height:35px; padding:0 0 0 5px; border-top:1px solid #ccc;}
#gnb ul,
#gnb li { margin:0; list-style:none; padding:0; line-height:0; font-size:0; }
/*#gnb .first_ul { margin-right:-190px; }*/
#gnb .first_ul a { text-decoration:none; display:block; font:12px Verdana, Gulim, Arial; }
#gnb .first_li { float:left; position:relative; }
#gnb .first_right { float:right; }
/*2014-07-23 #gnb .first_li .first_a { padding:0 25px; height:29px; overflow:hidden; display:inline-block; color:#bbb; text-align:center; font-weight:bold; cursor:pointer; border-left:1px solid #555; }*/
#gnb .first_li .first_a { padding:0 23px; height:35px; overflow:hidden; display:inline-block; color:#bbb; text-align:center; font-weight:bold; cursor:pointer; background:url(../img/bgTab_top.gif) no-repeat 100% 50%;  }
#gnb .first_li .first_a span { display:block; padding:10px 0; }
#gnb .first_li .first_a:hover,
#gnb .first_li .first_a:focus { background:#111; color:#eee;}
/*2014-07-23 #gnb .first_li .second_ul { z-index:101; left:10px; top:29px; } */
#gnb .first_li .second_ul { z-index:101; left:10px; top:35px; }
#gnb .first_li .second_ul,
#gnb .first_li .second_ul ul { display:none; position:absolute; width:200px; border:1px solid #5a5a5a; border-bottom:0; background:#454545;}
#gnb .first_li .second_ul li { position:relative; text-indent:0; width:100%;}
#gnb .first_li .second_ul li a { height:25px; overflow:hidden; display:block; padding:0 0 0 15px; white-space:nowrap; color:#ccc; cursor:pointer; border-top:2px solid #454545; border-bottom:1px solid #5a5a5a;}
#gnb .first_li .second_ul li a span { display:block; padding:5px 0; }
#gnb .first_li .second_ul li a:hover,
#gnb .first_li .second_ul li a:focus { border-top:2px solid #292929; border-bottom:1px solid #717171; background:#363636; color:#fff; }
#gnb .first_li .second_ul li .sub { background:url(../img/second_sub_bg.gif) no-repeat right bottom;}
#gnb .first_li .second_ul li ul { left:200px; top:-1px;}
#gnb .first_li .second_ul .selected { background:#363636 url(../img/arrow_blue.gif) no-repeat left 2px; text-indent:23px; }
#gnb .first_li .second_ul .selected_2 .second_a,
#gnb .first_li .second_ul .selected_3 .third_a,
#gnb .first_li .second_ul .selected_4 a { border-top:2px solid #292929; border-bottom:1px solid #717171; color:#fff; }
#gnb .first_li .second_ul .selected_2 .second_a:hover,
#gnb .first_li .second_ul .selected_3 .third_a:hover,
#gnb .first_li .second_ul .selected_4 a:hover,
#gnb .first_li .second_ul .selected_2 .second_a:focus,
#gnb .first_li .second_ul .selected_3 .third_a:focus,
#gnb .first_li .second_ul .selected_4 a:focus { background:none;}

/* 2014-09-18 */
#gnb .first_right { float:right; position:relative; } 
#gnb .first_right .first_a { padding:0 23px; height:35px; overflow:hidden; display:inline-block; color:#bbb; text-align:center; font-weight:bold; cursor:pointer; background:url(../img/bgTab_top.gif) no-repeat 100% 50%;  }
#gnb .first_right .first_a span { display:block; padding:10px 0; }
#gnb .first_right .first_a:hover,
#gnb .first_right .first_a:focus { background:#111; color:#eee;} 
#gnb .first_right .second_ul { z-index:101; left:10px; top:35px; }
#gnb .first_right .second_ul,
#gnb .first_right .second_ul ul { display:none; position:absolute; width:200px; border:1px solid #5a5a5a; border-bottom:0; background:#454545;}
#gnb .first_right .second_ul li { position:relative; text-indent:0; width:100%;}
#gnb .first_right .second_ul li a { height:25px; overflow:hidden; display:block; padding:0 0 0 15px; white-space:nowrap; color:#ccc; cursor:pointer; border-top:2px solid #454545; border-bottom:1px solid #5a5a5a;}
#gnb .first_right .second_ul li a span { display:block; padding:5px 0; }
#gnb .first_right .second_ul li a:hover,
#gnb .first_right .second_ul li a:focus { border-top:2px solid #292929; border-bottom:1px solid #717171; background:#363636; color:#fff; }
#gnb .first_right .second_ul li .sub { background:url(../img/second_sub_bg.gif) no-repeat right bottom;}
#gnb .first_right .second_ul li ul { left:200px; top:-1px;}
#gnb .first_right .second_ul .selected { background:#363636 url(../img/arrow_blue.gif) no-repeat left 2px; text-indent:23px; }
#gnb .first_right .second_ul .selected_2 .second_a,
#gnb .first_right .second_ul .selected_3 .third_a,
#gnb .first_right .second_ul .selected_4 a { border-top:2px solid #292929; border-bottom:1px solid #717171; color:#fff; }
#gnb .first_right .second_ul .selected_2 .second_a:hover,
#gnb .first_right .second_ul .selected_3 .third_a:hover,
#gnb .first_right .second_ul .selected_4 a:hover,
#gnb .first_right .second_ul .selected_2 .second_a:focus,
#gnb .first_right .second_ul .selected_3 .third_a:focus,
#gnb .first_right .second_ul .selected_4 a:focus { background:none;}
#gnb .keyword_rank { position: absolute;  right:0; width:190px;height:35px; }

#header .hLogin { position:absolute; left:0; top:0; width:100%; height:24px; padding:8px 5px 0; z-index:10; border-bottom:1px dashed #ddd; font:12px Arial, Gulim; color:#777; }
#header .hLogin * { }
#header .hLogin a:hover { color:#555; }
#header .hLogin strong.title { display:inline; float:left; padding:2px 12px 0 0; margin-right:10px; background:url(../img/form_bg.gif) no-repeat 100% 50%; }
#header .hLogin strong.title a { font-weight:bold; }
#header .hLogin form { float:left; padding-right:10px; margin-right:10px; background:url(../img/form_bg.gif) no-repeat 100% 40%; }
#header .hLogin fieldset { float:left; border:0; background:none; }
#header .hLogin legend { position:absolute; top:0; left:0; width:0; height:0; overflow:hidden; padding:0; visibility:hidden; font-size:0; line-height:0; }
#header .hLogin .dl { float:left; position:relative; }
#header .hLogin .dt { float:left; position:relative; width:0; height:0; }
#header .hLogin .dt label { position:absolute; white-space:nowrap; left:8px; top:2px; *top:4px; color:#777; font-size:12px; cursor:text; }
#header .hLogin .dd { float:left; }
#header .hLogin .dd .inputText { width:70px; margin:0 7px 0 3px; padding:1px; background:#fafafa; border:1px solid #ddd; font:12px Arial, Gulim; color:#777; }
#header .hLogin .dd .inputText:focus { border:1px solid #bbb; background:#fffffc; }
#header .hLogin .keep { display:inline; float:left; position:relative; margin:2px 5px 0; }
#header .hLogin .keep input { display:inline; float:left; margin-right:4px; *margin-top:-3px; }
#header .hLogin .keep label { display:inline; float:left; *padding-top:2px; }
#header .hLogin .keep:hover label.title { display:block; }
#header .hLogin .keep label.title { display:none; position:absolute; left:0; top:100%; margin:6px 0 0 -15px; padding:5px 10px 3px; background:#fbfbfb; border:1px solid #cfcfcf; font-size:11px; line-height:180%; color:#636363; white-space:nowrap; }
#header .hLogin .keep label.title:before /* 숨겨지지 않도록 */ { position:absolute; left:0; top:-7px; width:100%; height:8px; padding:0; content:""; }
#header .hLogin .keep label.title:after { position:absolute; left:15px; top:-5px; z-index:10; width:9px; height:6px; padding:0; content:""; background:#fbfbfb url(../img/keep.gif) no-repeat; }
#header .hLogin .submit { position:relative; float:left; display:inline; margin:0 3px; width:45px; height:18px; background:url(../img/search.gif?cache=0130) no-repeat -18px 0; }
#header .hLogin .submit input { display:block; width:100%; height:100%; overflow:hidden; background:none; border:0; text-indent:-200px; text-align:left; font-size:0; line-height:0; cursor:pointer; }
/*#header .hLogin .submit input { margin:0 0 0 5px; height:13px; vertical-align:middle; overflow:visible; background:none; border:0; font:12px Gulim, Arial; color:#777; cursor:pointer; } */
#header .hLogin .ul { float:left; }
#header .hLogin .ul span { float:left; padding:2px 10px 0 0; vertical-align:bottom; }

#header .search { position:absolute; top:58px; left:281px; }
#header .search .inputText { position:absolute;  border:3px solid #5a5a5a;  width:366px; height:28px; padding:3px; font:16px Verdana, Gulim; font-weight:bold; background:rgba(255,255,255,.8); }
/*#header .search .inputText:focus { border:1px solid #bbb; background:#fffff9;}*/
#header .search .submit { margin-left:383px;  width:54px; height:40px;  background-color:#5a5a5a; border:none; font:12px Verdana, Gulim; text-align:center; cursor:pointer; color:white;font-weight:bold;}

#header #teamcsp_ad_11 {position:absolute; top:0px; right:0px;}
#header #teamcsp_ad_11 img{margin-top:48px;}


#contentWrapper { clear:both; display:block; width:100%; background:#fff url(../img/widget_bg.gif) repeat-y right top;}
#category { margin:0; padding:0; list-style:none; background:#f7f7f7 url(../img/fff.gif) repeat-x center bottom; border-top:2px solid #fff; border-left:1px solid #fff; border-bottom:1px solid #e2e2e2; border-right:1px solid #e2e2e2; height:27px; overflow:hidden;}
#category .category { display:inline; margin:6px 0 0; padding:0 10px; background:url(../img/arrow.gif) no-repeat right 4px; float:left;}
#category .category a { text-decoration:none; color:#555; font:12px Arial,""; }
#category .category a.category_home { overflow:hidden; display:block; background:url(../img/home.gif) no-repeat center top; width:24px; height:14px; padding:0; margin:0;}
#category .category a:hover { color:#0189dd; text-decoration:underline; background-position: center -14px;}
#category .c_notice { margin-right:15px; float:right;}
#category.red .category a:hover { color:#cc0000; background-position: center -28px;}
#category.orange .category a:hover { color:#f89a20; background-position: center -42px;}
#category.green .category a:hover { color:#8cc01d; background-position: center -56px;}

#content { position:relative; background:#fff; padding-bottom:20px; min-height:250px; }
#content .content_margin { overflow:hidden; }

#widget { float:right; display:block;}
#widget .widget_div { margin-bottom:15px;}
#widget .widget_div .widget_title { position:relative; *width:100%; height:30px; overflow:hidden; display:block; margin:0; background:#a5a5a5 url(../img/widget_bg_title.gif) repeat-y; font:bold 12px Verdana, Gulim; color:#eee;}
#widget .third_menu .widget_title { background:#0189dd url(../img/widget_bg_title_blue.gif) repeat-y left top;}
#widget .widget_div .widget_title span { padding:8px 0 0 15px; display:block; }
#widget .widget_div .widget_title span a { color:#eee; text-decoration:none;}
#widget .widget_div .widget_title span a:hover { text-decoration:underline;}
#widget .widget_div .widget_title:before { position:absolute; left:0; top:0; width:100%; height:1px; background:rgba(255,255,255,.1); content:""; }
#widget .widget_div .widget_title:after { position:absolute; left:0; bottom:0; width:100%; height:1px; background:rgba(0,0,0,.15); content:""; }
#widget .widget_content { padding:10px 5px; width:210px; height:100%; }
#widget .widget_content a { text-decoration:none; color:#555;}
#widget .widget_content a:hover { text-decoration:underline; }
#widget.red .third_menu p.widget_title { background:#cc0000 url(../img/widget_bg_title_red.gif) repeat-y left top;}
#widget.orange .third_menu p.widget_title { background:#f89a20 url(../img/widget_bg_title_orange.gif) repeat-y left top;}
#widget.green .third_menu p.widget_title { background:#8cc01d url(../img/widget_bg_title_green.gif) repeat-y left top;}

#widget .widget_content ol,
#widget .widget_content ol li { position:relative; width:100%; height: 1%; margin:0; padding:0; list-style:none;}
#widget .widget_content ol li { width:auto; padding:0 5px; }
#widget .third_menu .widget_content ol li a { display:block; text-decoration:none !important; color:#777; background:url(../img/menu_second_widget_bg.gif) repeat-x 0 100%; }
#widget .third_menu .widget_content ol li a span { display:block; padding:7px 5px 7px 2px; }
#widget .third_menu .widget_content ol li a.selected,
#widget .third_menu .widget_content ol li a:hover { text-indent:2px; color:#0189dd; }
#widget .third_menu .widget_content ol li a:hover span { background:url(../img/lnb_a3.gif) no-repeat 100% 3px; }
#widget .third_menu .widget_content ol li a.toggle:hover span { background-image:url(../img/lnb_toggle.gif); }
#widget .third_menu .widget_content ol li .more { width:30px; height:30px; display:none; position:absolute; top:0; right:0; }
#widget .third_menu .widget_content ol li .more2 { position: absolute; right: 0; top: 0; border: 0; font-size: 11px; background: none; }
#widget .third_menu .widget_content ol li ol { display:none; padding:3px 0 0; }
#widget .third_menu .widget_content ol li ol.selected { display:block;}
#widget .third_menu .widget_content ol li ol li a { margin-left:12px; margin-right:-5px; background:none; border:none; }
#widget .third_menu .widget_content ol li ol li a span { padding:4px; background-position:100% 0 !important;}
#widget.red div.widget_content ol li a.selected,
#widget.red div.widget_content ol li a:hover { color:#cc0000;}
#widget.orange div.widget_content ol li a.selected,
#widget.orange div.widget_content ol li a:hover { color:#f89a20;}
#widget.green div.widget_content ol li a.selected,
#widget.green div.widget_content ol li a:hover { color:#639100;}

/* .popular 2013-03-27 */
#widget .widget_content .popular { position:relative; width:100%; list-style:none; white-space:nowrap; overflow:hidden; }
#widget .widget_content .popular li { display:block; width:auto; margin:0 0 0 8px; padding:0 10px 2px 10px; overflow:hidden; background:url(../img/popular.gif) no-repeat 0 50%; }
#widget .widget_content .popular li.active { background-position:-300px 50%; }
#widget .widget_content .popular li.active a { color:#6644DD !important; font-weight:bold; }
#widget .widget_content .popular li a { display:inline-block; overflow:hidden; max-width:100%; line-height:14px; text-overflow:ellipsis; -o-text-overow:ellipsis; }
#widget .widget_content .popular li a:visited { color:#bbb; }

#footerWrapper { background:#333; border-top:5px solid #0189dd; height:8px; margin-bottom:2px}
#footerWrapper #sitemap { display:block; padding:17px 0;}
#footerWrapper #sitemap .section { float:left; width:160px; margin:0 17px; display:inline;}
#footerWrapper #sitemap .section a:hover { color:#0189dd;}
#footerWrapper #sitemap .section h2 { margin:0 0 5px; font:bold 12px Arial; border-bottom:3px solid #363636;}
#footerWrapper #sitemap .section h2 a{ display:block; padding:3px; color:#999; text-decoration:none;}
#footerWrapper #sitemap .section ul { list-style:none; margin:0; padding:0;}
#footerWrapper #sitemap .section ul li { margin:0; padding:3px 4px; }
#footerWrapper #sitemap .section ul li a { color:#777; text-decoration:none; }
#footerWrapper.red { border-top:5px solid #cc0000;}
#footerWrapper.green { border-top:5px solid #8cc01d;}
#footerWrapper.orange { border-top:5px solid #f89a20;}
#footerWrapper.red #sitemap div.section a:hover { color:#cc0000;}
#footerWrapper.orange #sitemap div.section a:hover { color:#f89a20;}
#footerWrapper.green #sitemap div.section a:hover { color:#8cc01d;}

#footer { border-top:1px solid #444; padding:20px; background:url(../img/footer_bg.gif); }
#footer ol { list-style:none; margin:0; padding:0;}
#footer ol li { margin:0; padding:0; float:left; }
#footer ol li a { background:url(../img/menu_line.gif) no-repeat left 3px; display:block; padding:0 7px; color:#aaa; font:12px Arial; text-decoration:none;}
#footer ol li a.footer_menu_first { background:none; padding-left:0;}
#footer ol li a:hover { text-decoration:underline; color:#ccc;}
#footer p { margin:2px 0; padding:0; color:#888; font:12px Arial; display:inline;}
#footer p a { color:#ccc; text-decoration:none;}
#footer p a:hover { text-decoration:underline;}

#copyright { text-align:right; padding:0 5px; font-style:normal; }
#copyright strong { font-weight:normal; }

/* Colorset */

.red #gnb .first_li ul .selected { background-image:url(../img/arrow_red.gif);}
.green #gnb .first_li ul .selected { background-image:url(../img/arrow_green.gif);}
.orange #gnb .first_li ul .selected { background-image:url(../img/arrow_orange.gif);}

/* 2012-04-21 */
#gnb .first_li .first_a_last:hover,
#gnb .first_li .first_a_last:focus,
/* 2014-09-18 #gnb .e_hover .first_a { background:#222 !important; color:#eee; } */
/* 2014-07-23 #gnb .first_li .first_a_last { border-right:1px solid #555; }*/
#gnb .first_li .first_a_last { background-image:none; }

/* 2014-09-18 */
.red #gnb .first_right ul .selected { background-image:url(../img/arrow_red.gif);}
.green #gnb .first_right ul .selected { background-image:url(../img/arrow_green.gif);}
.orange #gnb .first_right ul .selected { background-image:url(../img/arrow_orange.gif);} 

#gnb .first_right .first_a_last:hover,
#gnb .first_right .first_a_last:focus, 
#gnb .e_hover .first_a { background:#222 !important; color:#eee; } 
#gnb .first_right .first_a_last { background-image:none; }

/* 2014-07-23 #gnb .e_ul2 { display:block; position:absolute; z-index:101; right:0; top:29px; width:600px; padding:7px; border:1px solid #838c99; background:#fafafa url(../img/intro.gif) no-repeat; visibility:hidden; } */
#gnb .e_ul2 { display:block; position:absolute; z-index:101; right:0; top:35px; width:600px; padding:7px; border:1px solid #838c99; background:#fafafa url(../img/intro.gif) no-repeat; visibility:hidden; }
#gnb .e_ul2 .intro { display:block; position:relative; margin:-7px -7px 0; height:26px; padding:7px 0 0 30px; overflow:hidden; font:11px Gulim, Arial; line-height:130%; color:#dfe3e3; }
#gnb .e_ul2 .intro:after { position:absolute; right:0; bottom:7px; width:50px; height:100%; content:""; background:url(../img/intro.gif) no-repeat 100% 100%; }
#gnb .e_ul2_ { padding:8px 0 6px; border:1px solid #e6e6e6; overflow:hidden; background:#fff; *zoom:1; }
#gnb .e_ul2_:after { display:block; clear:both; content:""; }
#gnb .e_fl { display:inline; float:left; margin:0 0 0 -2px; padding:0 10px 3px 10px; border-left:1px dashed #c1c1c1; }
#gnb .e_fl:last-child { padding-right:0; }
#gnb .e_li2 { margin:15px 0 0; }
#gnb .e_li2 strong { display:block; padding:0 0 1px; /* border-bottom:1px solid #333; padding:0 0 3px; */}
#gnb .e_li2_first { margin-top:0; }

#gnb .e_a2 { display:inline !important; line-height:130%; font-size:12px; font-weight:bold !important; color:#4b5665; }
#gnb a.e_a2:hover,
#gnb a.e_a2:focus { color:#384455; text-decoration:underline; }
#gnb .e_li2 ol { padding:3px 0 0 3px; }
#gnb .e_li2 li { position:relative; padding:1px 20px 1px 0; }
#gnb .e_li2 li a { display:inline; color:#474747; white-space:nowrap; }
#gnb .e_li2 li.added a,
#gnb .e_li2 li.hover a { font-weight:bold; letter-spacing:-1px; }
#gnb .e_li2 li.added.hover a { font-weight:normal; letter-spacing:0; }
#gnb .e_li2 li a:hover,
#gnb .e_li2 li a:focus { color:#333; text-decoration:underline; }
#gnb .e_li2 li .star { position:absolute; right:0; top:1px; content:""; width:16px; height:16px; background:url(../img/star.gif) no-repeat; cursor:pointer; }
#gnb .e_li2 li.added .star/*,
#gnb .e_li2 li .star:hover*/ { background-position:0 -16px; }
/* #gnb .e_li2 li.added .star:hover { background-position:0 0; } */
#gnb .first_ul .e_hover .border-bottom,
#gnb .e_hover .e_ul2 { visibility:visible; }

#gnb .e_ul2 .help { padding:7px 0 0; clear:both; text-align:right; }
#gnb .e_ul2 .help .item { position:relative; display:inline-block; padding:0 0 0 15px; }
#gnb .e_ul2 .help .item * { color:#636363; line-height:130%; font:11px Gulim Arial; text-decoration:none; cursor:pointer; }
#gnb .e_ul2 .help .item *:hover { text-decoration:underline; }
/* #gnb .e_ul2 .help .item:before { position:absolute; left:7px; top:50%; width:5px; height:1px; background:#636363; content:""; } */

/* 요건 게시판 */
.boardHeader2 .star,
.boardHeader2 .added:hover,
.boardHeader .star,
.boardHeader .added:hover { display:inline-block; vertical-align:bottom; width:18px; height:18px; background:url(../img/star2.gif) no-repeat 0 -18px; cursor:pointer; }
.boardHeader2 .star:hover,
.boardHeader2 .added,
.boardHeader .star:hover,
.boardHeader .added { background-position:0 0; }

.boardRead .deniedFile {cursor:pointer;}
.boardRead .deniedFile:hover {color:red;}

/* Test
#gnb .e_ul2 { visibility:visible; }
 */
/*.ad_ilbe_com { display:none; width:770px; height:111px; margin:0 auto; padding:10px 0 0; overflow:hidden; }
.ad_ilbe_com .t { position:relative; display:inline; float:right; margin:3px 3px 0; height:22px; background:none; z-index:1; font-weight:normal; }
.ad_ilbe_com .t * { }
.ad_ilbe_com a { margin:0 0 5px; font:13px "맑은 고딕", Gulim, Arial; line-height:1.231; color:#4f6228; text-decoration:none; color:#999; }*/
.ad_ilbe_com_v { position:absolute; right:100%; top:73px; margin:5px 0 0; padding:0; width:128px; height:618px; }
.ad_ilbe_com_v iframe { display:block; width:120px; height:100%; border:0; overflow:hidden; }
.ad_ilbe_com_v .t { margin-right:8px; height:18px; }
.ad_ilbe_com_show { display:block; }

.ad_ilbe_com_v2 { position:absolute; top:-5px; left:50%; }
.ad_ilbe_com_v3 { position:fixed; top:-72px; }

#event_banner_2013 { position:absolute; width:188px; height:33px; right:300px; top:50px; text-align:center;}
#event_banner_2013 button { position:relative; top:0; width:188px; height:33px; border:0; cursor:pointer; background:url(../img/event_banner_2014_001.png) no-repeat;  }
#event_banner_2013 button.event_vote { position:relative; text-align:right; top:-5px; width:175px; height:44px; border:0; cursor:pointer; background:url(../img/event_banner_vote_2014_006.png) no-repeat;  }

/* 신고하기 */
.procDocumentDeclarePopup { position:absolute;top:0;right:5px;width:60%;background:#FFF;z-index:10; border:1px solid #828282; display:none; }
.procDocumentDeclarePopup table { margin:0; padding:0; width:100%; border-spacing:0; border-collapse:collapse; text-align:left; }
.procDocumentDeclarePopup table td.declare_header { height:30px;line-height:30px; background:#464646; }
.procDocumentDeclarePopup table td.declare_header span { padding-left:10px; color:#FFF; font-size:13px; font-weight:bold; }
.procDocumentDeclarePopup table td.declare_header span.declare_close { float:right; padding-right:10px; cursor:pointer; font-size:12px; }
.procDocumentDeclarePopup table td.declare_form { position:relative; padding:10px; }
.procDocumentDeclarePopup table td.declare_form table { width:100%; } 
.procDocumentDeclarePopup table td.declare_form table th { width:60px; padding:5px 0; line-height:20px; border:1px solid #cfcfcf; text-align:center; background:#e9e9e9; }
.procDocumentDeclarePopup table td.declare_form table td { padding:5px 0 5px 5px; line-height:20px; word-break:break-all; border:1px solid #cfcfcf; }
.procDocumentDeclarePopup table td.declare_form table td.button_group { border:none; text-align:center; padding-top:10px; }
.procDocumentDeclarePopup table td.declare_form table td input, select { border:1px solid #a0a0a0; }
.procDocumentDeclarePopup table td.declare_form table td input { width:98%; height:25px;  }
.procDocumentDeclarePopup table td.declare_form .declare_complete { position:absolute; top:0;left:0; display: none; width:100%;height:100%;background:#FFF; z-index:10; }
.procDocumentDeclarePopup table td.declare_form .declare_complete span { display: table-cell; vertical-align: middle; padding:10px 0 20px 0; line-height:25px;font-size:13px;text-align:center; color:#1f8b00;font-weight:bold; font-family: '나눔 고딕','Nanum Gothic','맑은 고딕','Malgun Gothic'; }



#ad_sticky_footer{
	position:absolute;
	left:0px;
	width:100%;
	text-align:center;
    bottom:0;z-index:9999;
	background:#ccc;
   
    position:fixed}
#ad_sticky_footer span{
	margin:auto;
	display:block;
	width:60%;
	height:80%;
	background:#ccc;
}