@charset "utf-8";
/* NHN > UIT Center > Open UI Technology Team > Jeong Chan Myeong(dece24@nhncorp.com) */

.widgetBoxContainer{ position:relative;}

.widgetBox{ position:relative; *zoom:1; }
.widgetBox:after{content:""; display:block; clear:both; }
.widgetBox .widgetBoxHeader{ font-size:16px; font-family:Tahoma;  white-space:nowrap; color:#000; text-decoration:none; margin:0; z-index:10;}
.widgetBox .widgetBoxHeader a {text-decoration:none;}
.widgetBox .widgetContainer{ position:relative; text-decoration:none; z-index:10;}
.widgetBox .widgetMore{ position:absolute; display:block; text-decoration:none; font-size:11px !important; white-space:nowrap; font-family:Tahoma; color:#000; text-align:center; z-index:20;}
.widgetBox .widgetMore img{ border:0;}
.widgetBox .rcContainer{ display:block; width:100%; font-size:0; line-height:0; z-index:1; *zoom:1;}
.widgetBox .rc{ position:absolute; display:block; font-size:0; line-height:0; overflow:hidden;}
.widgetBox .rcTop .tl{ top:0;}
.widgetBox .rcTop .tr{ top:0;}
.widgetBox .rcBottom .bl{ top:0;}
.widgetBox .rcBottom .br{ top:0;}

.widgetBoxA .widgetBoxHeader{ position:relative; padding:4px 0; margin:1px; border-bottom:1px solid #ccc;}
.widgetBoxA .widgetMore{ top:10px; right:10px; color:#888;}
.widgetBoxA .rcContainer{ display:none !important;}

.widgetBoxHeader a { color:#000; }