/* Imagebox for company */
.image-box-wrap {
    position: fixed;
    left: 20%;
    top: 10%;
    bottom: 10%;
    right: 20%;
    z-index: 10000;
    display: none;
}
.image-box-container{
    position: absolute;
    z-index:1001;
    height: 100%;
    border: 1px solid #eee;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    background-color: #F8F8F8;
    -webkit-box-shadow: 0 0 2px #666;
    -moz-box-shadow: 0 0 2px #666;
    -o-box-shadow: 0 0 2px #666;
    box-shadow: 0 0 2px #666;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    width: 100%;
}
.image-box-container-bottom{
    height: 100%;
}
.image-box-container-middle {
    height: 100%;
}
.image-box-content {
    position: relative;
    overflow: hidden;
    height: 100%;
    text-align: center;
}
.image-box-header{
    margin: 10px 30px;
    color: #222;
}
.image-box-wrap .button-close{
    position: absolute;
    right: 7px;
    top: 7px;
    overflow: hidden;
    width: 18px;
    height: 17px;
    color: #A5A5A5;
    font: 30px/17px Arial, Serif !important;
    cursor: pointer;
}
.image-box-preview-container{
    overflow: hidden;
    width: 100%;
    text-align: center;
    margin: 10px 0;
    min-height: 60px;
    background: #F8F8F8;
}
.image-box-preview-container .arrow-prev,
.image-box-preview-container .arrow-next{
    display: inline-block;
    vertical-align: middle;
    border-bottom: 1px dotted;
    color: #1D89AA;
    font-size: 25px;
    font-family: Arial,sans-serif;
}
.image-box-preview-container .arrow-prev span,
.image-box-preview-container .arrow-next span{
    display: inline-block;
    height: 18px;
    cursor: pointer;
}
.image-box-preview-container .image-container{
    height: 60px;
    white-space: nowrap;
}
.image-scroller{
    display: inline-block;
    overflow: hidden;
    max-width: 360px;
    vertical-align: middle;
}
.image-box-preview-container img{
    max-width: 100%;
    max-height: 100%;
    box-sizing: border-box;
    padding: 8px 13px 6px;
    cursor: pointer;
    vertical-align: middle;
}
.image-container > div{
    display: inline-block;
    height: 54px;
    width: 70px;
    margin:0 1px;
    line-height: 54px;
    vertical-align: middle;
}
.image-box-image {
    position: relative;
    height: 60%;
    margin: 10px 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.image-box-image img {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
}
