.buscador_interno{
  width: 100%;
  padding:2em 0;
  margin:0 0 2em 0; 
  border:1px solid #ccc;
  background:#fafafa;
  font-family:Arial, Helvetica, sans-serif;
}

.buscador_interno label{
  font-size:1.2em;
  color:#515151;
  padding-bottom:0.2em;
  display:block;
}

label.l_oculto{
  position:absolute;
  height:1px;
  width:1px;
  overflow:hidden;
  clip:rect(1px 1px 1px 1px); /* Compatibilidad IE6/IE7 */
  clip:rect(1px, 1px, 1px, 1px);
}

label.l_inline{
  display: inline;
}

.buscador_interno > form {
  display: block;
  padding: 0;
}

.buscador_interno > form legend, #votacion form legend, #sugerencia form legend{
  display: none;
}

.buscador_interno select, .buscador_interno input, .buscador_interno textarea {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 1.2em;
  border: 1px solid #ccc;
  background-color: #fff; 
  padding: 5px;
  color: #515151;
  width: 100%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.buscador_interno select {
  height: 27px;
}

.buscador_interno select option{
  margin: 3px 0 2px 0;
}

.buscador_interno select:focus, .buscador_interno input:focus, .buscador_interno textarea:focus {
  border: 1px solid #087021;
  outline: none;
}

.buscador_interno input.input_principal{
  font-size: 1.4em;
  color: #515151;
}

#votacion .boton, #sugerencia .boton {
  border: 1px solid #ccc;
}

.buscador_interno .boton, #votacion .boton, #sugerencia .boton {
  width: auto;
  color: #fff;
  text-transform: uppercase;
  line-height: 1.2em;
  cursor: pointer;
  padding: 6px 20px 5px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8e8e8e+0,2b2b2b+100 */
  background: #2b2b2b; /* Old browsers */
  background: -moz-linear-gradient(top, #8e8e8e 0%, #2b2b2b 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #8e8e8e 0%,#2b2b2b 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #8e8e8e 0%,#2b2b2b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.buscador_interno .boton:hover ,#votacion .boton:hover, #sugerencia .boton:hover {
  width: auto;
  color: #fff;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#44ba60+0,087021+100 */
  background: #087021; /* Old browsers */
  background: -moz-linear-gradient(top, #44ba60 0%, #087021 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #44ba60 0%,#087021 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #44ba60 0%,#087021 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.buscador_interno .boton_pequeno{
  padding: 6px;

}
.hasDatepicker {
  float: left;
  width: 143px !important;
}

.buscador_interno input[type="checkbox"], .buscador_interno input[type="radio"] {
  float: left;
  width: auto;
  margin: 0 0.5em 0 0;
}

.sangria > input {
  width: 50%;
}

/* POSITIONING */

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.justify {
  text-align: justify;
}

/* ==== GRID SYSTEM ==== */


.row {
  position: relative;
  width: 100%;
}

.row [class^="col"] {
  float: left;
  margin: 0 2% 20px ;
  min-height: 0.125rem;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  display: block;
  width: 96%;
}

.col-1-sm {
  width: 4.33%;
}

.col-2-sm {
  width: 12.66%;
}

.col-3-sm {
  width: 21%;
}

.col-4-sm {
  width: 29.33%;
}

.col-5-sm {
  width: 37.66%;
}

.col-6-sm {
  width: 46%;
}

.col-7-sm {
  width: 54.33%;
}

.col-8-sm {
  width: 62.66%;
}

.col-9-sm {
  width: 71%;
}

.col-10-sm {
  width: 79.33%;
}

.col-11-sm {
  width: 87.66%;
}

.col-12-sm {
  width: 96%;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.hidden-sm {
  display: none;
}

@media only screen and (min-width: 960px) { /* 960px */
  
  .buscador_interno > form {
    padding: 0 60px;
  }
  .buscador_interno.historico_actualidad > form {
    padding: 0;
  }
  .hasDatepicker {
    width: 143px !important;
  }
  .hidden-sm {
    display: block;
  }
  .col-1 {
    width: 4.33%;
  }
  .col-2 {
    width: 12.66%;
  }
  .col-3 {
    width: 21%;
  }
  .col-4 {
    width: 29.33%;
  }
  .col-5 {
    width: 37.66%;
  }
  .col-6 {
    width: 46%;
  }
  .col-7 {
    width: 54.33%;
  }
  .col-8 {
    width: 62.66%;
  }
  .col-9 {
    width: 71%;
  }
  .col-10 {
    width: 79.33%;
  }
  .col-11 {
    width: 87.66%;
  }
  .col-12 {
    width: 96%;
  }
}


