.menuHeader {
	position:absolute;
}
.menuHeader, .genHeader {
	text-align:left;
	height:23px;
	line-height:23px;
	background:#F7F7F7;
	overflow:hidden;
	white-space: nowrap;
}
.genHeader {
	display:inline-block;
	border:1px solid #CCC;
	background:url(http://www.juntadeandalucia.es/themes/images/select-flecha.gif) no-repeat right #fff;
	padding:0 26px 0 10px;
	cursor:pointer;
	float:left;
	font-size:1.2em;
	color:#515151;
}

.genHeader span{width:100%; overflow:hidden;float:left;}

.genHeaderSel {
	background-color:#fff !important;
	border-color:#087021;
}

.advMenuUL {
	list-style-type: none;
	padding:0px;
	margin:0px;
	border:1px solid #ccc;
	-moz-box-shadow: 5px 5px 5px #666;
	-webkit-box-shadow: 5px 5px 5px #666;
	box-shadow: 5px 5px 5px #666;
	height: auto !important;
    z-index:10;
}

.advMenuUL li {
	height:22px;
	line-height:22px;
	margin:0px;
	padding: 0 10px 0 10px;
	cursor:pointer;
	font-size:1.2em;
}
.advMenuUL li.sel,
.advMenuUL li:hover {
	background: #5C5A5A;
	color: #fff;
}

.buscador_interno .ambito:after, .buscador_interno .modalidad:after, .buscador_interno .rango:after, .buscador_interno .tema:after, .buscador_interno .tipo_contrato:after, .buscador_interno .acto_recurrido:after, .buscador_interno .tipo_resolucion:after, .buscador_interno .centro_directivo:after, .buscador_interno .cdce:after, .buscador_interno .grupo:after, .buscador_interno .modo_acceso:after, .buscador_interno .subtema:after, .buscador_interno .organismo:after, #fr_discursos .grid_6:after, #fr_discursos .grid_3:after, .buscador_interno .lista_correo_css:after, .buscador_interno.contacto_justicia .selec:after {
  pointer-events: none;
}
.buscador_interno .movil_pinta_select::after{
    pointer-events: none;

}