@charset "UTF-8";
/*
 * cmn_layout.css
 *
 *  version --- 3.4
 *  updated --- 2015/03/23
 */


/* !HTML5 elements
---------------------------------------------------------- */
header, footer, nav, section, aside, article
{ display: block;}

/* !Reseting
---------------------------------------------------------- */
body {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Arial, Helvetica, Verdana, sans-serif;
	-webkit-text-size-adjust: none;
	line-height: 1.6;
}
body.fzDef { font-size: 14px;}
/* ie7 */ *:first-child+html body.fzDef { font-size: 88%;}
/* ie6Below */ * html body.fzDef { font-size:88%;}
/* ie8 */ html>/**/body.fzDef { font-size /***/: 88%9;}
body.fz01 { font-size: 16px;}
/* ie7 */ *:first-child+html body.fz01 { font-size: 100%;}
/* ie6Below */ * html body.fz01 { font-size:100%;}
/* ie8 */ html>/**/body.fz01 { font-size /***/: 100%9;}
body.fz02 { font-size: 18px;}
/* ie7 */ *:first-child+html body.fz02 { font-size: 113%;}
/* ie6Below */ * html body.fz02 { font-size:113%;}
/* ie8 */ html>/**/body.fz02 { font-size /***/: 113%9;}
body.fz03 { font-size: 20px;}
/* ie7 */ *:first-child+html body.fz03 { font-size: 125%;}
/* ie6Below */ * html body.fz03 { font-size:125%;}
/* ie8 */ html>/**/body.fz03 { font-size /***/: 125%9;}
body.fz04 { font-size: 22px;}
/* ie7 */ *:first-child+html body.fz04 { font-size: 138%;}
/* ie6Below */ * html body.fz04 { font-size:138%;}
/* ie8 */ html>/**/body.fz04 { font-size /***/: 138%9;}

body, div, pre, p, blockquote, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, th, td
{ margin: 0; padding: 0;}
input, textarea
{ margin: 0; font-size: 100%;}
label
{ cursor: pointer;}
table
{ border-collapse: collapse; border-spacing: 0; font-size: 100%;}
fieldset, img
{ border: 0;}
img
{ vertical-align: top;}
address, caption, cite, code, dfn, em, th, var
{ font-style: normal; font-weight: normal;}
ol, ul
{ list-style: none;}
caption, th
{ text-align: left;}
h1, h2, h3, h4, h5, h6
{ font-size: 100%; font-weight: normal;}
q:after, q:before
{ content:'';}
a, input
{ /* outline: none; */ }
abbr, acronym
{ border: 0;}

/* !Reset Module
---------------------------------------------------------- */
.reset div, .reset dl, .reset dt, .reset dd, .reset ul, .reset ol, .reset li, .reset h1, .reset h2, .reset h3, .reset h4, .reset h5, .reset h6,
.reset pre, .reset form, .reset fieldset, .reset p, .reset blockquote, .reset th, .reset td
{ margin: 0; padding: 0;}
.reset input, .reset textarea
{ margin: 0; font-size: 100%;}
.reset table
{ border-collapse: collapse; border-spacing: 0; font-size: 100%;}
.reset fieldset, .reset img, .reset abbr, .reset acronym
{ border: 0;}
.reset address, .reset caption, .reset cite, .reset code, .reset dfn, .reset em, .reset th, .reset var
{ font-style: normal; font-weight: normal;}
.reset ol, .reset ul
{ list-style: none;}
.reset caption, .reset th
{ text-align: left;}
.reset h1, .reset h2, .reset h3, .reset h4, .reset h5, .reset h6
{ font-size: 100%; font-weight: normal;}
.reset a, .reset input
{ /* outline: none; */ }
.reset q:after, .reset q:before
{ content:'';}

/* !Clearfix
---------------------------------------------------------- */
.subMenuWrap,
#pageTopWrap,
.clearfix,
#contents,
.sectionFirst,
.section,
.sectionSub,
.sectionAlt,
.indexPolicyBox01 ul li
{
display: block;
min-height: 1%;
}
.subMenuWrap:after,
#pageTopWrap:after,
.clearfix:after,
#contents:after,
.sectionFirst:after,
.section:after,
.sectionSub:after,
.sectionAlt:after,
.indexPolicyBox01 ul li:after
{
clear: both;
content:".";
display: block;
height: 0;
visibility: hidden;
}
* html .subMenuWrap,
* html #pageTopWrap,
* html .clearfix,
* html #contents,
* html .sectionFirst,
* html .section,
* html .sectionSub,
* html .sectionAlt,
* html .indexPolicyBox01 ul li
{
height: 1%;
/**//*/
height: auto;
overflow: hidden;
/**/
}
/* !Layout
---------------------------------------------------------- */
html { overflow-y: scroll;}
body { text-align: center;}
@media print {
html,
html body { *zoom: 0.65;}
}
/* !wrapper
---------------------------------------------------------- */
#wrapper {
text-align: left;
}
/* !header
---------------------------------------------------------- */
#header {
}
#hd_inner {
padding: 0 37px 8px;
text-align: left;
min-width: 950px;
}
#hd_left {
float: left;
width: 302px;
padding-top: 21px;
}
#hd_logo {
float: left;
}
#hd_main_anchor {
float: left;
padding:5px 6px 5px 0;
margin: 0 6px 0 0;
border-right: 1px solid #ddd;
}
#hd_main_anchor a {
display: block;
width: 55px;
overflow: hidden;
}
#hd_main_anchor a:hover img {
margin-left: -55px;
}
#hd_right {
float: right;
width: 540px;
}
#hd_right_l {
float: left;
width: 440px;
padding-top: 17px;
}
#hd_right_lt {
margin-bottom: 10px;
line-height: 1;
}
#hd_fz {
float: left;
padding-right: 6px;
border-right: 1px solid #ddd;
}
#hd_fz dt {
float: left;
margin-right: 8px;
line-height: 1;
font-size: 0;
}
#hd_fz dd {
float: left;
margin-right: 5px;
line-height: 1;
font-size: 0;
}
#hd_fz dd#fDefault {
}
#hd_fz dd#fDefault a {
display: block;
width: 45px;
overflow: hidden;
}
#hd_fz dd#fDefault a:hover img {
margin-left: -95px;
}
#hd_fz dd#fLarge {
margin-right: 0;
}
#hd_fz dd#fLarge a {
display: block;
width: 45px;
overflow: hidden;
}
#hd_fz dd#fLarge a img {
margin-left: -50px;
}
#hd_fz dd#fLarge a:hover img {
margin-left: -145px;
}
#hd_read {
float: right;
line-height: 1;
font-size: 0;
}
#hd_read a {
display: block;
width: 164px;
overflow: hidden;
}
#hd_read a:hover img {
margin-left: -164px;
}
#hd_right_lb {
}
#hd_search {
padding-left: 20px;
background: url(/common/000235530.gif) no-repeat left top;
float: left;
width: 274px;
margin:0 0 0 68px;
}
#SerchBox {
border: 1px solid #ccc !important;
width: 218px;
font-size: 14px;
float: left;
padding: 2px;
}
#SearchBtn {
background: url(/common/000235526.gif) no-repeat left top;
width: 45px;
height: 22px;
overflow: hidden;
text-indent: -9999px;
padding: 0;
border: 0;
float: right;
}
#SearchBtn:hover {
background: url(/common/000235526.gif) no-repeat right top;
}
#hd_search_way {
float: right;
line-height: 1;
font-size: 0;
}
#hd_search_way a {
width: 69px;
display: block;
overflow: hidden;
}
#hd_search_way a:hover img {
margin-left: -69px;
}
#hd_right_r {
float: right;
width: 88px;
}
#hd_lng {
margin-bottom: 10px;
}
#hd_sitemap {
line-height: 1;
font-size: 0;
}
#hd_lng a,
#hd_sitemap a {
display: block;
width: 88px;
overflow: hidden;
}
#hd_lng a:hover img,
#hd_sitemap a:hover img {
margin-left: -88px;
}
/* !gNavi
---------------------------------------------------------- */
#gNavi {
position: relative;
z-index: 1;
background: url(/common/001032624.png) repeat-x left top;
height: 55px;
min-width: 944px;
padding: 0 36px;
margin-bottom: -4px;
}
/*#g01 #gNavi {
margin-bottom: 21px;
}*/
#gNavi ul {
display: block;
position: relative;
width: 944px;
height: 50px;
}
#gNavi li {
overflow: hidden;
position: absolute;
left: 0;
top: 0;
width: 157px;
height: 50px;
}
#gNavi li#gNav01 { left: 0; width: 89px;}
#gNavi li#gNav02 { left: 89px; width: 196px;}
#gNavi li#gNav03 { left: 285px; width: 133px;}
#gNavi li#gNav04 { left: 418px; width: 171px;}
#gNavi li#gNav05 { left: 589px; width: 162px;}
#gNavi li#gNav06 { left: 751px; width: 193px;}
#gNavi li a {
display: block;
height: 50px;
background: url(/common/000235529.gif) no-repeat left top;
overflow: hidden;
text-indent: -9999px;
}
#gNavi li#gNav01 a { background-position: 0 0;}
#gNavi li#gNav02 a { background-position: -89px 0;}
#gNavi li#gNav03 a { background-position: -285px 0;}
#gNavi li#gNav04 a { background-position: -418px 0;}
#gNavi li#gNav05 a { background-position: -589px 0;}
#gNavi li#gNav06 a { background-position: -751px 0;}
#gNavi li#gNav01 a:hover,
#gNavi li#gNav01 a:focus,
#g01 #gNavi li#gNav01 a {
background-position: 0 -50px
}
#gNavi li#gNav02 a:hover,
#gNavi li#gNav02 a:focus,
#g02 #gNavi li#gNav02 a {
background-position: -89px -50px
}
#gNavi li#gNav03 a:hover,
#gNavi li#gNav03 a:focus,
#g03 #gNavi li#gNav03 a {
background-position: -285px -50px
}
#gNavi li#gNav04 a:hover,
#gNavi li#gNav04 a:focus,
#g04 #gNavi li#gNav04 a {
background-position: -418px -50px
}
#gNavi li#gNav05 a:hover,
#gNavi li#gNav05 a:focus,
#g05 #gNavi li#gNav05 a {
background-position: -589px -50px
}
#gNavi li#gNav06 a:hover,
#gNavi li#gNav06 a:focus,
#g06 #gNavi li#gNav06 a {
background-position: -751px -50px
}
/* !breadcrumb
---------------------------------------------------------- */
#breadcrumb {
padding: 12px 37px;
	line-height: 1.4;
}
#breadcrumb ul {
overflow: hidden;
*zoom: 1;
}
#breadcrumb li {
float: left;
white-space: nowrap;
font-size: 86%;
}
#breadcrumb li.home {
}
#breadcrumb li span.arrow {
margin: 0 5px;
}
#breadcrumb li a {
white-space: nowrap;
}
/* !mainimg
---------------------------------------------------------- */
#mainimg {
}
/* !contents
---------------------------------------------------------- */
#contents {
text-align: left;
padding: 0 37px;
min-width: 950px;
}
#leftColumn {
float: left;
width: 180px;
		line-height: 1.4;
}
#rightColumn {
float: right;
width: 180px;
		line-height: 1.4;
}
#twoColumnWrapL {
float: left;
width: 100%;
margin-right: -205px;
}
#twoColumnWrapR {
float: right;
width: 100%;
margin-left: -205px;
}
#contentsColumnWrapC {
margin: 0 205px;
}
#contentsColumnWrapL {
margin: 0 205px 0 0;
}
#contentsColumnWrapR {
margin: 0 0 0 205px;
}
/* !menuList
---------------------------------------------------------- */
.menuListWrap {
margin-bottom: 20px;
}
.menuList01 {
border-left: 1px solid #f4f4f4;
border-right: 1px solid #f4f4f4;
zoom: 1;
}
.menuList01 ul {}
.menuList01 ul li {
border-top: 1px solid #fff;
border-bottom: 1px solid #ccc;
background-color: #f4f4f4;
}
.menuList01 ul li div {
padding: 10px 8px;
}
.menuList01 ul li div p {
padding-left: 18px;
						background: url(/common/000235491.png) no-repeat left 0.25em;
}
.menuList01 ul li ul { border-top: 1px solid #ccc;}
.menuList01 ul li ul li {
border: none;
background: url(/common/000235476.gif) repeat-x left bottom #e9e9e9;
}
.menuList01 ul li ul li.last {
background: none #e9e9e9;
}
.menuList01 ul li ul li div {
padding: 10px 8px 10px 26px;
}
.menuList01 ul li ul li div p {
padding-left: 12px;
background: url(/common/000235494.gif) no-repeat left 0.4em;
}
.leftColumnTitle01 {
color: #fff;
font-weight: bold;
padding: 14px 10px 10px;
background: url(/common/000235462.gif) no-repeat left top #0d849d;
}
.rightColumnTitle01,
.rightColumnTitle02,
.rightColumnTitle03,
.rightColumnTitle04,
.rightColumnTitle05,
.rightColumnTitle06,
.rightColumnTitle07,
.rightColumnTitleDef01 {
font-weight: bold;
padding: 14px 10px 10px;
background: url(/common/000235463.gif) no-repeat left top #c6e3e9;
border-bottom: 1px solid #9eb6ba;
}
.rightColumnTitle02 {
background: url(/common/000235464.gif) no-repeat left top #d8e3e9;
border-bottom: 1px solid #adb6ba;
}
.rightColumnTitle03 {
background: url(/common/000235465.gif) no-repeat left top #d6ecf8;
border-bottom: 1px solid #abbdc6;
}
.rightColumnTitle04 {
background: url(/common/000235466.gif) no-repeat left top #dceae2;
border-bottom: 1px solid #b0bbb5;
}
.rightColumnTitle05 {
background: url(/common/000235467.gif) no-repeat left top #e0dfe9;
border-bottom: 1px solid #b3b2ba;
}
.rightColumnTitle06 {
background: url(/common/000235468.gif) no-repeat left top #eedad1;
border-bottom: 1px solid #beaea7;
}
.rightColumnTitle07 {
background: url(/common/000235469.gif) no-repeat left top #dfdfdf;
border-bottom: 1px solid #b2b2b2;
}
.rightColumnTitleDef01 {
padding: 14px 10px 8px;
background: url(/common/000235470.gif) no-repeat left top #e1e1e1;
border-bottom: 3px solid #0d849d;
}

.sideBnrList { margin-bottom: 20px;}
.sideBnrList li { margin-bottom: 10px!important; list-style:none!important; margin-left:0!important;}
.sideBnrList li.last { margin-bottom: 0;}

.menuList01 ul li ul li ul {
	padding: 10px 0 0; 
	border: none;
	background: url(/common/000235476.gif) repeat-x top #e9e9e9;
}
	.menuList01 ul li ul li ul li {
	}
			.menuList01 ul li ul li ul li div {
				padding: 0 8px 5px 40px;
				background: none #e9e9e9;
			}
			.menuList01 ul li ul li ul li.last > div {
				padding: 0 8px 0 40px;
				background: none #e9e9e9;
			}
			.menuList01 ul li ul li ul li.last {
				background: url(/common/000235476.gif) repeat-x bottom #e9e9e9;
				padding-bottom: 10px;
			}

				.menuList01 ul li ul li ul li div p {
					padding-left: 12px;
					background: url(/common/000236190.gif) no-repeat left 0.4em;
				}
.menuList01 ul li ul li ul li ul {
	background: none;
	padding: 10px 0 0;
	margin: 0;
	border: none; 
}
	.menuList01 ul li ul li ul li ul li {
		background: none;
		padding: 0; 
	}
		.menuList01 ul li ul li ul li ul li.first,
		.menuList01 ul li ul li ul li ul li.last {
			background: none;
			padding-bottom: 0;
		}
			.menuList01 ul li ul li ul li ul li div {
				padding: 5px 8px 0 50px;
				background: none #e9e9e9;
			}
				.menuList01 ul li ul li ul li ul li div p {
					padding-left: 12px;
					background: url(/common/000236189.gif) no-repeat left 0.6em;
				}
				.menuList01 ul li.last ul li.last ul li.last {
					background: none !important;
				}

/* !pageTop
---------------------------------------------------------- */
#pageTopWrap {
margin-top: 40px;
padding: 0 37px;
border-bottom: 4px solid #0d849d;
min-width: 950px;
}
#pageTopWrap .pageTop {
float: right;
}
#pageTopWrap .pageTop a {
display: block;
width: 148px;
overflow: hidden;
}
#pageTopWrap .pageTop a:hover img {
margin-left: -148px;
}
/* !footer
---------------------------------------------------------- */
#footer {
text-align: left;
	line-height: 1.5;
}
#ft_inner {
background-color: #f4f4f4;
padding: 20px 37px 25px;
min-width: 950px;
}
#ft_left {
float: left;
max-width: 590px;
}
#ft_name {
font-size: 115%;
font-weight: bold;
float: left;
margin-right: 5px;
}
#ft_access_info {
float: left;
padding-top: 1px;
}
#ft_access_info a {
padding-left: 15px;
background: url(/common/000235491.png) no-repeat left 0.1em;
}
#ft_access {
margin-top: 2px;
}
#ft_links {
margin-top: 2px;
}
#ft_links li {
float: left;
margin-right: 15px!important;
padding-left: 15px;
background: url(/common/000235491.png) no-repeat left 0.3em;
white-space: nowrap;
}
#ft_links li.last {
margin-right: 0;
}
#ft_right {
float: right;
width: 350px;
}
#ft_logo {
text-align: right;
margin-bottom: 10px;
}
#ft_copyright {
text-align: right;
font-size: 86%;
}
/* !h(n)eading
---------------------------------------------------------- */
.h1_basic {}
.h2_basic {}
.h3_basic {}
.h4_basic {}
.h5_basic {}
.h6_basic {}
/* !Listing
---------------------------------------------------------- */
.section ul{
}
.section ul li{
margin:0 0 0 20px;
list-style:disc;
}
.section ol{
}
.section ol li{
margin:0 0 0 20px;
list-style:decimal;
}
.ul_basic {
}
.ul_basic li {
}

.ol_basic {
}
.ol_basic li {
}

.dl_basic {
}
.dl_basic dt {
}
.dl_basic dd {
}
.linkArrowList01 {
	line-height: 1.5;
}
.linkArrowList01 li {
margin-bottom: 5px!important;
padding-left: 15px;
background: url(/common/000235494.gif) no-repeat left 0.4em;
list-style:none!important;
margin-left:0!important;
}
.linkArrowList01 li.listSub {
margin-bottom: 5px!important;
padding-left: 30px;
background: url(/common/000235494.gif) no-repeat 15px 0.4em;
list-style:none!important;
margin-left:0!important;
}
.linkArrowList01 li.last {
margin-bottom: 0;
}
.linkArrowList01 li.noarrow {
background-image:none;
}
.linkArrowList02 {
	line-height: 1.5;
}
.linkArrowList02 {}
.linkArrowList02 li {
margin-bottom: 10px!important;
padding-left: 20px;
background: url(/common/000235491.png) no-repeat left 0.35em;
list-style:none!important;
margin-left:0!important;
}
.linkArrowList02 li.last {
margin-bottom: 0;
}
.linkArrowList02 li.noarrow {
background-image:none;
}
.linkArrowList02 li img.cate_icon{
margin-top:3px;
}
.itemList {}
.itemList li {
margin-bottom: 10px!important;
padding-left: 20px;
background: url(/common/000235491.png) no-repeat left 0.2em;
list-style:none!important;
margin-left:0!important;
}
.itemList li.last {
margin-bottom: 0;
}
.itemList li.noarrow {
background-image:none;
}
.imageList01 {
overflow: hidden;
}
.imageList01 ul {
text-align: center;
margin: -10px 0 0 -10px;
}
@media print {
.imageList01 ul { width: 970px !important;}
#contentsColumnWrapC .imageList01 ul { width: 560px !important;}
#contentsColumnWrapL .imageList01 ul,
#contentsColumnWrapR .imageList01 ul { width: 765px !important;}
*:first-child+html .imageList01 ul,
*:first-child+html #contentsColumnWrapC .imageList01 ul,
*:first-child+html #contentsColumnWrapL .imageList01 ul,
*:first-child+html #contentsColumnWrapR .imageList01 ul { width: 100% !important;}
}
.imageList01 ul li {
display: inline-block;
*display: inline;
*zoom: 1;
padding: 10px 10px 0;
vertical-align: top;
list-style:none!important;
margin-left:0!important;
}
.contentsBnrList01 {
overflow: hidden;
padding-top: 26px;
background: url(/common/000235472.gif) repeat-x left top;
position: relative;
}
.contentsBnrList01 ul {
margin: -10px -10px 0 0;
position: relative;
left: 50%;
float: left;
}
.contentsBnrList01 ul li {
margin: 10px 10px 0 0!important;
position: relative;
left: -50%;
float: left;
list-style:none!important;
}
.sectionLast .contentsBnrList01 ul {
text-align: center;
margin: 0 0 10px;
position: static;
float: none;
}

.sectionLast .contentsBnrList01 ul li {
position: static;
float: none;
display: inline;
}
/* !Table
---------------------------------------------------------- */
.table_basic {
width: 100%;
	line-height: 1.5;
}
.table_basic th,
.table_basic td {
border: 1px solid #ccc;
}
.table_basic th {
background-color: #d7ebef;
font-weight: bold;
vertical-align: top;
text-align: left;
padding: 10px;
}
.table_basic td {
background-color: #f4f4f4;
vertical-align: top;
text-align: left;
padding: 10px;
}
.table_basic th div {
}
.table_basic td div {
}
.splitLayoutTable01 {
overflow: hidden;
}
.splitLayoutTable01 table {
margin-left: -10px;
}
table#public {
	border-spacing:2px!important;
	border-collapse:separate;

}
@media print {
.splitLayoutTable01 table { width: 970px !important;}
#contentsColumnWrapC .splitLayoutTable01 table { width: 560px !important;}
#contentsColumnWrapL .splitLayoutTable01 table,
#contentsColumnWrapR .splitLayoutTable01 table { width: 765px !important;}
*:first-child+html .splitLayoutTable01 table,
*:first-child+html #contentsColumnWrapC .splitLayoutTable01 table,
*:first-child+html #contentsColumnWrapL .splitLayoutTable01 table,
*:first-child+html #contentsColumnWrapR .splitLayoutTable01 table { width: 100% !important;}
}
.splitLayoutTable01 table td {
vertical-align: top;
padding: 0 10px;
}
/* !Section
---------------------------------------------------------- */
.section.first { /* First Section */ }
.section       { margin-bottom: 25px;}
#g01 .section       { margin-bottom: 40px;}
.section.last  { /* Last  Section */ }
.sectionSub { /* Sub Section including .sectionFirst and .section */ }
.sectionAlt { /* Alternative Section including .sectionFirst and .section */ }

/* !pageTitle01
---------------------------------------------------------- */
.pageTitle01 {
	height: 91px;
/*background: url(/common/000235518.jpg) no-repeat right top #3c494f;*/
background: no-repeat right top #3c494f;
	padding: 0 37px 0;
min-width: 950px;
border-bottom: 5px solid #56646b;
	vertical-align: middle;
}
.pageTitle01 h1 {
	height: 91px;
	vertical-align: middle;
	display: table-cell;
	font-size: 172%;
	color: #fff;
	margin: 0;
	/display: inline;
	/line-height: 91px;
	/height: 91px;
}
.pageTitle01 span {
 display: inline-block;
}
/*for IE7 */
*:first-child+html .pageTitle01 h1 {
	display: inline;  
	zoom: 1;
	line-height: 91px;
	height: 91px;
	behavior: expression(
		function(t){
			t.insertAdjacentHTML('afterBegin','<span></span>');
			t.runtimeStyle.behavior = 'none';
		}(this)
	);
}
.pageTitle01 img {
	vertical-align: middle;
}
.pageTitle02 {
	height: 91px;
	background: #3c494f;
	padding: 0 37px 0;
	min-width: 950px;
	border-bottom: 5px solid #56646b;
	vertical-align: middle;
}
.pageTitle02 h1 {
	height: 91px;
	vertical-align: middle;
	display: table-cell;
	font-size: 172%;
	color: #fff;
	margin: 0;
}
.pageTitle02 span {
 display: inline-block;
}
/*for IE7 */
*:first-child+html .pageTitle02 h1 {
	display: inline;  
	zoom: 1;
	line-height: 91px;
	height: 91px;
	behavior: expression(
		function(t){
			t.insertAdjacentHTML('afterBegin','<span></span>');
			t.runtimeStyle.behavior = 'none';
		}(this)
	);
}
.pageTitle02 img {
	vertical-align: middle;
}
.subMenuWrap {
margin-top: -5px;
border-top: 1px solid #384145;
background: url(/common/000235477.gif) repeat-x left top #56646b;
padding: 0 37px;
min-width: 950px;
	line-height: 1.4;
}
.subMenu {
float: left;
padding: 8px 16px 8px 0;
color: #fff;
background: url(/common/000235478.gif) repeat-y right top;
margin-right: 14px;
max-width: 500px;
}
.subMenuList {
overflow: hidden;
		padding: 7px 0;
}
.subMenuList ul {
display: block;
min-height: 1%;
}
.subMenuList ul:after {
clear: both;
content:".";
display: block;
height: 0;
visibility: hidden;
}
.subMenuList ul li {
float: left;
padding-left: 10px;
margin-right: 10px!important;
background: url(/common/000235494.gif) no-repeat left 0.4em;
white-space: nowrap;
margin-left:0!important;
}
.subMenuList ul li a {
color: #fff;
}

/* !title
---------------------------------------------------------- */
.titleType01,
.titleType02,
.titleType03,
.titleType04,
.titleType05,
.titleType06,
.titleType07,
.titleType08 {
border-bottom: 3px solid #0d849d;
margin-bottom: 18px;
}
.titleType02 { border-bottom: 3px solid #356ba2;}
.titleType03 { border-bottom: 3px solid #4da0cc;}
.titleType04 { border-bottom: 3px solid #4b8d66;}
.titleType05 { border-bottom: 3px solid #47367f;}
.titleType06 { border-bottom: 3px solid #aa5b35;}
.titleType07 { border-bottom: 2px solid #0d849d;}
.titleType08 { border-bottom: 2px solid #0d849d;}
.titleType01 .titleInner,
.titleType02 .titleInner,
.titleType03 .titleInner,
.titleType04 .titleInner,
.titleType05 .titleInner,
.titleType06 .titleInner,
.titleType07 .titleInner,
.titleType08 .titleInner {
background: url(/common/000235479.gif) repeat left top;
border: 1px solid #c6dce0;
border-bottom: none;
padding: 13px 10px 10px;
display: block;
min-height: 1%;
}
.titleType02 .titleInner {
border-color: #bfcddb;
background: url(/common/000235480.gif) repeat left top;
}
.titleType03 .titleInner {
border-color: #cee1eb;
background: url(/common/000235481.gif) repeat left top;
}
.titleType04 .titleInner {
border-color: #c3d8cb;
background: url(/common/000235482.gif) repeat left top;
}
.titleType05 .titleInner {
border-color: #cdc6e4;
background: url(/common/000235483.gif) repeat left top;
}
.titleType06 .titleInner {
border-color: #dacabc;
background: url(/common/000235484.gif) repeat left top;
}
.titleType07 .titleInner {
border-color: #ccc;
background: none #f6f6f6;
}
.titleType08 .titleInner {
padding: 5px 10px;
border-color: #ccc;
background: none #f6f6f6;
}
.titleType01 .titleInner:after,
.titleType02 .titleInner:after,
.titleType03 .titleInner:after,
.titleType04 .titleInner:after,
.titleType05 .titleInner:after,
.titleType06 .titleInner:after,
.titleType07 .titleInner:after,
.titleType08 .titleInner:after {
clear: both;
content:".";
display: block;
height: 0;
visibility: hidden;
}
.titleInner .title {
float: left;
overflow: hidden;
font-weight: bold;
line-height: 1.2;
font-size: 115%;
}
.titleType08 .titleInner .title { font-size: 100%;}
.titleInner .imgTitle {
float: left;
overflow: hidden;
font-size: 0;
line-height: 1;
}
.titleInner .linkList01 {
float: right;
}
.titleInner .linkList01 li {
float: left;
padding-right: 13px;
margin-right: 11px!important;
background: url(/common/000235474.gif) repeat-y right top;
margin-left:0!important;
}
.titleType02 .titleInner .linkList01 li { background: url(/common/000235474.gif) repeat-y right top;}
.titleType03 .titleInner .linkList01 li { background: url(/common/000235474.gif) repeat-y right top;}
.titleType04 .titleInner .linkList01 li { background: url(/common/000235474.gif) repeat-y right top;}
.titleType05 .titleInner .linkList01 li { background: url(/common/000235474.gif) repeat-y right top;}
.titleType06 .titleInner .linkList01 li { background: url(/common/000235474.gif) repeat-y right top;}
.titleType07 .titleInner .linkList01 li { background: url(/common/000235475.gif) repeat-y right top;}
.titleType08 .titleInner .linkList01 li { background: url(/common/000235475.gif) repeat-y right top;}
.titleInner .linkList01 li.last {
padding-right: 0;
margin-right: 0!important;
background: none;
}
.titleInner .linkList01 li.rss,
.titleInner .linkList01 li.list {
font-size: 0;
line-height: 1;
}
.titleInner .linkList01 li.rss a {
display: block;
width: 46px;
overflow: hidden;
}
.titleInner .linkList01 li.rss a:hover img {
margin-left: -46px;
}
.titleInner .linkList01 li.list a {
display: block;
width: 43px;
overflow: hidden;
}
.titleInner .linkList01 li.list a:hover img {
margin-left: -43px;
}
.titleType09 {
font-size: 115%;
font-weight: bold;
	padding-bottom: 7px;
border-bottom: 2px solid #d8d8d8;
margin-bottom: 15px;
	line-height: 1.2;
}
.titleTypeTable01 {
font-weight: bold;
padding-left: 7px;
border-left: 2px solid #0d849d;
margin-bottom: 10px;
line-height: 1.2;
}
.linkShing03  {
	padding-left: 20px;
	background: url(/common/000235491.png) no-repeat left 0.2em;
}
.linkShing03 a {
	color: #013aa2;
}
.linkShing03 a:hover {
	color: #016522;
}
.topicsList01 {
	line-height: 1.5;
}
.contentsTitle1 {
border-bottom: 3px solid #0d849d;
margin-bottom: 18px;
}
.contentsTitle1 h3.listNone {
background: url(/common/000235479.gif) repeat left top;
border: 1px solid #c6dce0;
border-bottom: none;
padding: 13px 10px 10px;
display: block;
min-height: 1%;
border-color: #ccc;
background: none #f6f6f6;
}

/* !topics
---------------------------------------------------------- */
.topicsList01 {}
.topicsList01 ul {}
.topicsList01 ul li {
margin-bottom: 5px!important;
padding-bottom: 6px;
background: url(/common/000235472.gif) repeat-x left bottom;
list-style:none!important;
margin-left:0!important;
}
.topicsList01 ul li.last { margin-bottom: 0!important;}
.topicsList01 ul li .inner {
padding-left: 20px;
background: url(/common/000235491.png) no-repeat left 0.3em;
display: block;
min-height: 1%;
}
.topicsList01 ul li .inner:after {
clear: both;
content:".";
display: block;
height: 0;
visibility: hidden;
}
.topicsList01 ul li .inner .text {
overflow: hidden;
}
.topicsList01 ul li .inner .text img {
vertical-align: middle;
margin-left: 5px;
}
.categoryType01,
.categoryType02,
.categoryType03,
.categoryType04,
.categoryType05,
.categoryType06,
.categoryType07 {
float: left;
width: 71px;
background: url(/common/000235442.gif) repeat-y left top;
margin-right: 12px;
}
.categoryType02 { background: url(/common/000235445.gif) repeat-y left top;}
.categoryType03 { background: url(/common/000235448.gif) repeat-y left top;}
.categoryType04 { background: url(/common/000235451.gif) repeat-y left top;}
.categoryType05 { background: url(/common/000235454.gif) repeat-y left top;}
.categoryType06 { background: url(/common/000235457.gif) repeat-y left top;}
.categoryType07 { background: url(/common/000235460.gif) repeat-y left top;}
.categoryType01 .categoryTop,
.categoryType02 .categoryTop,
.categoryType03 .categoryTop,
.categoryType04 .categoryTop,
.categoryType05 .categoryTop,
.categoryType06 .categoryTop,
.categoryType07 .categoryTop {
background: url(/common/000235443.gif) no-repeat left top;
padding-top: 3px;
}
.categoryType02 .categoryTop { background: url(/common/000235446.gif) no-repeat left top;}
.categoryType03 .categoryTop { background: url(/common/000235449.gif) no-repeat left top;}
.categoryType04 .categoryTop { background: url(/common/000235452.gif) no-repeat left top;}
.categoryType05 .categoryTop { background: url(/common/000235455.gif) no-repeat left top;}
.categoryType06 .categoryTop { background: url(/common/000235458.gif) no-repeat left top;}
.categoryType07 .categoryTop { background: url(/common/000235461.gif) no-repeat left top;}
.categoryType01 .categoryBtm,
.categoryType02 .categoryBtm,
.categoryType03 .categoryBtm,
.categoryType04 .categoryBtm,
.categoryType05 .categoryBtm,
.categoryType06 .categoryBtm,
.categoryType07 .categoryBtm {
background: url(/common/000235441.gif) no-repeat left bottom;
font-size: 86%;
padding: 0 3px 3px;
line-height: 1.2;
text-align: center;
}
.categoryType02 .categoryBtm { background: url(/common/000235444.gif) no-repeat left bottom;}
.categoryType03 .categoryBtm { background: url(/common/000235447.gif) no-repeat left bottom;}
.categoryType04 .categoryBtm { background: url(/common/000235450.gif) no-repeat left bottom;}
.categoryType05 .categoryBtm { background: url(/common/000235453.gif) no-repeat left bottom;}
.categoryType06 .categoryBtm { background: url(/common/000235456.gif) no-repeat left bottom;}
.categoryType07 .categoryBtm { background: url(/common/000235459.gif) no-repeat left bottom;}

/* !caption
---------------------------------------------------------- */
.imgCaption01 {
text-align: center;
margin-top: 8px;
font-size: 86%;
}

/* !link
---------------------------------------------------------- */
.linkArrow01 {
padding-left: 20px;
background: url(/common/000235491.png) no-repeat left 0.3em;
}
a.blankIcon {
padding-right: 18px;
background: url(/common/000235495.gif) no-repeat right 0.1em;
}
img.fileIcon {
vertical-align: middle;
padding-left: 5px!important;
}

/* !contact
---------------------------------------------------------- */
.contentsContactWrap01 {
border: 1px solid #ccc;
	line-height: 1.5;
}
.contentsContactWrap01 .title {
padding: 10px;
background: url(/common/000235471.gif) repeat left top;
border-bottom: 1px solid #ccc;
}
.contentsContact01 {
padding: 10px;
overflow: hidden;
}
.contentsContactIn01 {
margin-bottom: -15px;
}
.contentsContactIn01 dl {
margin-bottom: 15px;
display: block;
min-height: 1%;
}
.contentsContactIn01 dl:after {
clear: both;
content:".";
display: block;
height: 0;
visibility: hidden;
}
.contentsContactIn01 dl dt {
font-weight: bold;
}
.contentsContactIn01 dl dt .post {
margin-right: 30px;
}
.contentsContactIn01 dl dd {
float: left;
padding-left: 1em;
margin-top: 2px;
white-space: nowrap;
}
.contentsContactIn01 dl dd .head {
font-weight: bold;
}

/* !adobe
---------------------------------------------------------- */
.adobeArticleWrap01 {
padding: 4px;
background: url(/common/000235440.gif) repeat left top;
}
.adobeArticle01 {
background-color: #fff;
padding: 15px 15px 35px;
display: block;
min-height: 1%;
}
.adobeArticle01:after {
clear: both;
content:".";
display: block;
height: 0;
visibility: hidden;
}
.adobeArticle01 .bnrArea {
float: left;
margin-right: 15px;
text-align: center;
}
.adobeArticle01 .bnrArea .bnr {
margin-bottom:8px;
}
.adobeArticle01 .textArea {
overflow: hidden;
font-size: 86%;
}

/* !relatedLink
---------------------------------------------------------- */
.relatedLink01 {
	padding: 13px 37px;
	background-color: #f9f9f9;
	min-width: 950px;
	border-bottom: 1px solid #ccc;
	display: block;
	min-height: 1%;
}
.relatedLink01:after {
	clear: both;
	content:".";
	display: block;
	height: 0;
	visibility: hidden;
}
	.relatedLinkList01 {
		overflow: hidden;
		border-left: 1px solid #d0d0d0;
		padding-left: 17px;
	}
		.relatedLinkList01 ul {
			margin: -10px 0 0 -15px;
			display: block;
			min-height: 1%;
		}
		.relatedLinkList01 ul:after {
			clear: both;
			content:".";
			display: block;
			height: 0;
			visibility: hidden;
		}
			.relatedLinkList01 ul li {
				float: left;
				margin: 10px 0 0 17px;
				background: #fff;
				height: 56px;
			}
				.relatedLinkList01 ul li a {
					display: table-cell;
					height: 54px;
					vertical-align: middle;
					padding: 0 17px 0 0;
					background: url(/common/000236482.png) no-repeat right bottom;
					border: 1px solid #ccc;
					width: 145px;
				}
					.relatedLinkList01 ul li a img {
						vertical-align: middle;	
					}
					.relatedLinkList01 ul li a span {
						display: inline-block;
					}
					.relatedLinkList01 ul li a:hover {
						border: 1px solid #003399;
					}
				/*for IE7 */
				*:first-child+html .relatedLinkList01 ul li a{
					display: inline;  
					zoom: 1;
					line-height: 54px;
					height: 54px;
					behavior: expression(
						function(t){
							t.insertAdjacentHTML('afterBegin','<span></span>');
							t.runtimeStyle.behavior = 'none';
						}(this)
					);
				}

/* !printBtn
---------------------------------------------------------- */
.printBtn {
	float: right;
	display: block;
	width: 107px;
	height: 23px;
	overflow: hidden;
}
.printBtn a:hover img {
	margin-left: -107px;
}

/* !saigai_module
---------------------------------------------------------- */
.bgInfo01 {
	background: url(/common/000236171.png) repeat ;
	padding: 2px;	
}
.bgInfoInner01 {
	background: #fcf5f5;	
}
.bgInfo01InnerContent {
	background: #fff;
	padding: 14px 18px;
	background: #fcf5f5;
	line-height: 1.5;
}
.infoTxtBox {
	padding-bottom: 15px;
	margin-bottom: 15px;
	display: block;
	min-height: 1%;
	background: url(/common/000235472.gif) repeat-x bottom;
}
.infoTxtBoxLast {
	padding-bottom: 5px;
	display: block;
	min-height: 1%;
}
	.infoTxtBox ul{
	}
		.infoTxtBox ul li,
		.infoTxtBoxLast ul li {
			padding: 0 0 2px 20px;
			background: url(/common/000235494.gif) no-repeat 5px 0.45em;
			line-height: 1.5;
			list-style:none;
			margin-left:0!important;
		}
			.infoTxtBox ul li span{
				padding-left: 10px;
			}
.infoTxt01 {
	font-size: 115%;
	font-weight: bold;
	padding: 5px 0 5px;
}
.infoTxt02 {
	font-weight: bold;
	padding-bottom: 5px;
}
.linkArrowInfo01 {
		padding-left: 20px;
		background: url(/common/000235491.png) no-repeat left 0.25em;
		line-height: 1.5;
}
	.linkArrowInfo01 a {
		font-weight: bold;
	}
	.linkArrowInfo01 span {
		padding-left: 10px;
	}
	.linkArrowInfo01 img {
		padding-left: 40px
	}

.linkArrowSaigai01 {
	margin-left: 5px;
}
.linkArrowSaigai01 a {
	padding-left: 20px;
	background: url(/common/000235491.png) no-repeat left 0.2em;
	line-height: 1.5;
}
a.noborder {text-decoration: none;}
a[name] {
    color: black;
}
a[name]:hover {
    color: black;
    background-color: white;
}