@charset "utf-8";
/*
 * import.css
 *
 *  version --- 3.4
 *  updated --- 2011/07/12
 */


@import "./13_cmn_layout.css"; /* 13_cmn_layout.css */
@import "./13_cmn_style.css"; /* 13_cmn_style.css */


/* ipad
@import "ipad/portrait.css" screen and (min-device-width: 481px/) and (max-device-width: 1024px) and (orientation:portrait);
@import "ipad/landscape.css" screen and (min-device-width: 481px/) and (max-device-width: 1024px);
*/

/* iphone
@import "iphone/layout.css" screen and (max-device-width: 480px/);
@import "iphone/portrait.css" screen and (max-device-width: 320px/) and (orientation:portrait);
@import "iphone/landscape.css" screen and (max-device-width: 480px/) and (orientation:landscape);
*/
