@charset "UTF-8";

/* /index.html
---------------------------------------------------------- */
#contentsIndexTop {
	text-align: left;
	margin-bottom: 5px;
	padding: 10px 37px 0px;
	min-width: 950px;
	background: url(/common/001032605.gif) repeat-x center bottom #f4f4f4;
	background-color--: #f99;
}
#topicsSlideWrap {
	float: left;
	width: 340px;
}
	#topicsSlide {
		position: relative;
		width: 320px;
		background: url(/common/001032553.png) no-repeat center bottom;
		padding-bottom: 9px;
	}
	#topicsSlide .more {
		position: absolute;
		right: 0;
		top: 197px;
		background: url(/common/000235491.png) no-repeat left 4px;
		padding: 0 10px 0 16px;
		font-size: 86%;
	}
#slideshow {
	position: relative;
	background-color: #fff;
	border: 1px solid #e2e2e2;
	padding: 4px;
}
	#slideshow .img_area {
	}
		#slideshow .img_area .g_img {
			height:160px;
			overflow:hidden;
		}
		#slideshow .img_area .date {
			margin: 18px 0 0 8px;
		}
		#slideshow .img_area .title {
			background: url(/common/000235491.png) no-repeat left 6px;
			padding: 0px 10px 0 20px;
			margin: 0px 0 0 8px;
		}
	#slideshow #navi_area {
		position: absolute;
		right: 10px;
		top: 10px;
	}
		#slideshow #navi_area ul {
			overflow: hidden;
		}
			#slideshow #navi_area li {
				float: left;
				width: 6px;
				height: 6px;
				margin-left: 4px;
				background: url(/common/001032603.png) no-repeat top left;
				text-indent: -9999px;
			}
			#slideshow #navi_area li.last {
				margin-left: 0;
			}
			#slideshow #navi_area li a {
				display: block;
				width: 6px;
				height: 6px;
				background: url(/common/001032574.png) no-repeat top left;
			}
			#slideshow #navi_area li a.slide_selected {
				background: none;
			}
#topicsListWrap {
	float: right;
	width: 100%;
	margin-left: -340px;
}
	#topicsList {
		margin-left: 340px;
	}
		#topicsList #linkListTopics {
		}
			#topicsList #linkListTopics li {
				padding: 6px 10px;
			}
			#topicsList #linkListTopics li.odd {
				background-color: #e8e8e8;
			}
			#topicsList #linkListTopics li.even {
				background-color: #dedede;
			}
				#topicsList #linkListTopics li a {
					display: block;
					background: url(/common/000235491.png) no-repeat left 5px;
					padding-left: 20px;
				}
		#topicsList .linkList02 {
			float: right;
			margin-top: 17px;
		}
			#topicsList .linkList02 li {
				float: left;
				margin-left: 18px;
			}


#rightColumnTop {
	float: right;
	width: 225px;
}
#twoColumnWrapTop {
	float: left;
	width: 100%;
	margin-right: -250px;
}
	#contentsColumnWrapTop {
		margin: 0 250px 0 0;
	}
#liquidColumnLeft {
	float: left;
	width: 100%;
	margin-left: -490px;
}
	#liquidColumnLeftIn {
		margin-left: 490px;
	}
#NonLiquidColumnRight {
	float: right;
	width: 490px;
}
	#NonLiquidColumnRightIn {
		float: right;
		width: 466px;
	}

#remarkableWords {
	clear: both;
	background: url(/common/001032557.gif) repeat left top;
	border: 1px solid #c6dce0;
}
	#remarkableWords dl {
	}
		#remarkableWords dt {
			margin: 16px 0 16px 15px;
		}
		#remarkableWords dd {
			margin: 0 1px 1px;
		}
			#remarkableWords table {
				table-layout: fixed;
				width: 100%;
				border-collapse: separate;
				border-spacing: 4px;
			}
				#remarkableWords td {
					height: 70px;
					vertical-align: middle;
					background-color: #fff;
				}
					#remarkableWords td p {
						background: url(/common/000235491.png) no-repeat left center;
						padding: 8px 8px 8px 18px;
						margin-left: 16px;
					}
						#remarkableWords td p a {
							word-break: break-all;
							line-height: 1.2;
						}

#pickupInfo {
background-color: #888;
}
	#pickupInfo dl {
	}
		#pickupInfo dt {
			padding: 14px 0 14px 18px;
			background-color: #ebebeb;
			border: 1px solid #ccc;
			border-bottom: none;
		}
			#pickupInfo dt img {
				vertical-align: middle;
			}
		#pickupInfo dd {
		}
			#pickupInfo table {
				table-layout: fixed;
				width: 100%;
				border: 1px solid #ccc;
			}
				#pickupInfo td {
					height: 70px;
					border: 1px solid #ccc;
					vertical-align: middle;
					background-color: #fff;
				}
					#pickupInfo td p {
						background: url(/common/000235491.png) no-repeat left center;
						padding: 8px 8px 8px 18px;
						margin-left: 16px;
					}
						#pickupInfo td p a {
							word-break: break-all;
							line-height: 1.2;
						}





.indexH201 {
	margin: 5px 0 13px;
	height: 30px;
	border-bottom: 3px solid #d8d8d8;
}
	.indexH201 span {
		display: block;
		width: 125px;
		border-bottom: 3px solid #a22121;
		padding-left: 1px;
		padding-bottom: 7px;
}
.indexImportantNews01 li {
	padding-left: 20px;
	background: url(/common/000235492.png) no-repeat left 0.3em;
	margin-bottom: 12px;
	list-style:none!important;
	margin-left:0!important;
}



.indexH202 {
	background: url(/common/000235547.gif) repeat-x left bottom;
	margin-bottom: 20px;
	display: block;
	min-height: 1%;
}
.indexH202:after {
	clear: both;
	content:".";
	display: block;
	height: 0;
	visibility: hidden;
}
	.indexH202 h2 {
		float: left;
		padding: 3px 0 10px;
		border-bottom: 3px solid #0d849d;
	}
	.indexH202 .btn {
		float: left;
		margin-left: 8px;
	}
		.indexH202 .btn a {
			width: 115px;
			overflow: hidden;
			display: block;
		}
			.indexH202 .btn a:hover img {
				margin-left: -115px;
			}
.indexH203 {
	margin-bottom: 4px;
}
.indexH204 {
	margin: 14px 0 25px;
	height: 30px;
	border-bottom: 3px solid #d8d8d8;
}
	.indexH204 span {
		display: block;
		border-bottom: 3px solid #0d849d;
		padding-left: 1px;
		padding-bottom: 14px;
	}
.indexH205 {
	margin: 5px 0 10px;
	height: 30px;
	border-bottom: 3px solid #d8d8d8;
}
	.indexH205 span {
		display: block;
		width: 68px;
		border-bottom: 3px solid #0d849d;
		padding-left: 1px;
		padding-bottom: 13px;
	}
.indexH206 {
	margin: 10px 0 25px;
	height: 30px;
	border-bottom: 3px solid #d8d8d8;
}
	.indexH206 span {
		display: block;
		border-bottom: 3px solid #0d849d;
		padding-left: 1px;
		padding-bottom: 13px;
	}
	.indexH201 .imgTitle,
	.indexH203 .imgTitle,
	.indexH204 .imgTitle,
	.indexH206 .imgTitle {
		float: left;
		overflow: hidden;
		font-size: 0;
		line-height: 1;
	}
	.indexH203 .linkList01,
	.indexH204 .linkList01 {
		float: right;
	}
		.indexH203 .linkList01 li,
		.indexH204 .linkList01 li,
		.indexH207 .linkList01 li {
			float: left;
			/*background: url(/common/000235474.gif) repeat-y right top;*/
			list-style: none;
		}
		.indexH203 .linkList01 li.rss,
		.indexH204 .linkList01 li.rss,
		.indexH207 .linkList01 li.rss {
			border-right: 1px solid #ddd;
			padding-right: 10px;
			margin-left: 0;
		}
		.indexH207 .linkList01 li.rss {
			border-right: 1px solid #ccc;
		}
		.indexH203 .linkList01 li.list,
		.indexH204 .linkList01 li.list,
		.indexH207 .linkList01 li.list {
			margin-left: 10px;
		}
			.indexH203 .linkList01 li.rss a,
			.indexH204 .linkList01 li.rss a,
			.indexH207 .linkList01 li.rss a {
				display: block;
				width: 46px;
				overflow: hidden;
			}
				.indexH203 .linkList01 li.rss a:hover img,
				.indexH204 .linkList01 li.rss a:hover img,
				.indexH207 .linkList01 li.rss a:hover img {
					margin-left: -46px;
				}
			.indexH203 .linkList01 li.list a,
			.indexH204 .linkList01 li.list a,
			.indexH207 .linkList01 li.list a {
				display: block;
				width: 43px;
				overflow: hidden;
			}
				.indexH203 .linkList01 li.list a:hover img,
				.indexH204 .linkList01 li.list a:hover img,
				.indexH207 .linkList01 li.list a:hover img {
					margin-left: -43px;
				}
	.indexH206 .linkList03 {
		float: right;
		margin-top: -5px;
	}
		.indexH206 .linkList03 li {
			list-style: none;
			float: left;
			margin-left: 5px;
		}
			.indexH206 .linkList03 li a {
				height: 28px;
				overflow: hidden;
				display: block;
			}
					.indexH206 .linkList03 li a:hover img {
						margin-top: -28px;
					}
.indexH207 {
	position: relative;
}
	.indexH207 .linkList01 {
		position: absolute;
		right: 10px;
		top: 16px;
	}



.titleInner .imgTitle {
}
.titleInner .linkList01 {
}
.titleInner .linkList01 li {
}





.indexH301:after {
	clear: both;
	content:".";
	display: block;
	height: 0;
	visibility: hidden;
}
	.indexH301 h3 {
		float: left;
		padding: 6px 0 0;
	}
	.indexH301 .btn {
		float: left;
		margin-left: 8px;
		margin-bottom:16px;
	}
		.indexH301 .btn a {
			height: 28px;
			overflow: hidden;
			display: block;
		}
			.indexH301 .btn a:hover img {
				margin-top: -28px;
			}
#pressrelease {
	min-width: 230px;
}
.indexPressRelease01 {
	clear: both;
	overflow: hidden;
	padding: 0 10px;
	min
}
	.indexPressRelease01 dl {
		margin: -28px 0 -15px;
	}
		.indexPressRelease01 dl dt {
			background: url(/common/000235548.gif) repeat left top;
			padding: 2px 10px;
			margin: 28px 0 15px;
		}
		.indexPressRelease01 dl dd {
			padding-left: 20px;
			background: url(/common/000235491.png) no-repeat left 0.3em;
			margin-bottom: 15px;
			display: block;
			min-height: 1%;
		}
		.indexPressRelease01 dl dd:after {
			clear: both;
			content:".";
			display: block;
			height: 0;
			visibility: hidden;
		}
			.indexPressRelease01 dl dd .icon {
				float: left;
				margin-right: 10px;
				padding-top: 3px;
			}
			.indexPressRelease01 dl dd .text {
				overflow: hidden;
			}


.indexPolicyInfoListInline01 {
	min-height: 209px;
	
}
	.indexPolicyInfoListInline01 p {
		float: right;
		width: 180px;
	}
	.indexPolicyInfoListInline01 dl {
		float: left;
		width: 250px;
		margin-left: 12px;
	}
		.indexPolicyInfoListInline01 dt {
			background: url(/common/000235491.png) no-repeat left center;
			margin-bottom: 14px;
			padding-left: 18px;
			height: 22px;
			overflow: hidden;
		}
			.indexPolicyInfoListInline01 dt.leadtxt {
				height: auto;
				padding-left: 0px;
				background: none;
			}
			.indexPolicyInfoListInline01 dt a {
			}
		.indexPolicyInfoListInline01 dd {
  margin-bottom: 20px;
  margin-top: -15px;
		}
			.indexPolicyInfoListInline01 ul {
				margin-left: 22px;
			}
				.indexPolicyInfoListInline01 li {
					list-style: none !important;
					margin: 0 !important;
					margin-bottom: 5px !important;
				}
					.indexPolicyInfoListInline01 li a {
						background: url(/common/001032602.gif) no-repeat left center;
						font-size: 86%;
						padding-left: 13px;
					}


.indexPolicyInfoCategory01 {
	clear: both;
	padding: 0 11px;
}
	.indexPolicyInfoCategory01 p {
	}
		.indexPolicyInfoCategory01 p a {
			background: url(/common/000235491.png) no-repeat center left;
			padding-left: 18px;
		}
	.indexPolicyInfoCategory01 .list01 {
		table-layout: fixed;
		margin-bottom: 30px;
	}
	.indexPolicyInfoCategory01 .list02 {
		table-layout: fixed;
		margin-bottom: 10px;
		border: 1px solid #bed7e7;
	}
		.indexPolicyInfoCategory01 .list01 td {
			list-style: none !important;
			margin: 0 !important;
			width: 88px;
			background-color: #0d849d;
			border-right: 1px solid #afdae0;
			border-bottom: 1px solid #afdae0;
			vertical-align: top;
		}
		.indexPolicyInfoCategory01 .list01 tr.last td {
			border-bottom: none;
		}
		.indexPolicyInfoCategory01 .list02 td {
			list-style: none !important;
			margin: 0 !important;
			width: 88px;
			background-color: #488ebb;
			border-right: 1px solid #bed7e7;
			vertical-align: top;
		}
			.indexPolicyInfoCategory01 .list01 td a,
			.indexPolicyInfoCategory01 .list02 td a {
				display: block;
				height: 100%;
				color: #fff;
			}
				.indexPolicyInfoCategory01 .list01 td a span,
				.indexPolicyInfoCategory01 .list02 td a span {
					display: block;
					padding: 6px 5px;
					text-align: center;
					line-height:1.2;
				}


.indexDisaster01 {
	margin-bottom: 12px;
}
	.indexDisaster01 .heading {}
		.indexDisaster01 .heading a {
			display: block;
			overflow: hidden;
			width: 225px;
		}
			.indexDisaster01 .heading a:hover img {
				margin-left: -225px;
			}
.indexDisasterList01 {
	overflow: hidden;
}
	.indexDisasterList01 ul {
		margin-top: -1px;
		background: url(/common/000235537.gif) no-repeat left bottom;
	}
		.indexDisasterList01 ul li,
		.indexDisasterList02 ul li {
			padding: 12px 10px 10px;
			background: url(/common/000235544.gif) no-repeat center top #fbf1f1;
			list-style:none!important;
			margin-left:0!important;
		}
		.indexDisasterList02 ul li {
			background: url(/common/000235544.gif) no-repeat center bottom #fbf1f1;
		}
		.indexDisasterList01 ul li.last {
			padding: 12px 12px 9px;
		}
			.indexDisasterList01 ul li .info {
				margin-bottom: 3px;
				font-size: 86%;
				display: block;
				min-height: 1%;
			}
			.indexDisasterList01 ul li .info:after {
				clear: both;
				content:".";
				display: block;
				height: 0;
				visibility: hidden;
			}
				.indexDisasterList01 ul li .info .icon {
					float: right;
					margin-left: 10px;
				}
					.indexDisasterList01 ul li .info .icon div {
						margin-right:0;
					}
				.indexDisasterList01 ul li .info .date {
					overflow: hidden;
				}
			.indexDisasterList01 ul li .link,
			.indexDisasterList02 ul li .link {
				padding-left: 20px;
				background: url(/common/000235492.png) no-repeat left 0.3em;
				line-height: 1.2;
			}
				.indexDisasterList02 ul li .earthquakeLink {
					width:200px;
					background: url(/common/000235538.gif) repeat left top;
				}
					.indexDisasterList02 ul li .earthquakeLink .innerTop {
						padding-top: 8px;
						background: url(/common/000235539.gif) no-repeat left top;
					}
						.indexDisasterList02 ul li .earthquakeLink .innerTop .innerBtm {
							padding: 0 8px 5px;
							background: url(/common/000235540.gif) no-repeat left bottom;
							zoom: 1;
						}
							.indexDisasterList02 ul li .earthquakeLink .innerTop .innerBtm .link {
								padding-left: 16px;
								background: url(/common/000235493.png) no-repeat left 0.3em;
							}
								.indexDisasterList02 ul li .earthquakeLink .innerTop .innerBtm .link a {
									color: #fff;
								}
.indexDisasterList02 {
}
	.indexDisasterList02 ul {
	}
.btnRecruit01 {
	margin: 18px 0;
}
.btnRecruit02 {
	margin: 18px 0;
	background-image: url(/common/001069908.gif);
	background-repeat: no-repeat;
	background-color: #175fa0;
}
.btnRecruit02 a{
	display: table-cell;
	width:195px;
	height:47px;
	line-height:1.2em;
	vertical-align: middle;
	color:#ffffff;
	background: url(/common/001069910.gif) no-repeat bottom;
	text-decoration:none;
	padding:0px 0 0 30px;
	/display:inline;
	/zoom:1;
	/height: 47px;
	/padding: 15px 0 0px 30px;
}
.indexNotification01 {
	margin-bottom: 21px;
}
.indexNotificationList01 {
}
	.indexNotificationList01 ul {
	}
		.indexNotificationList01 li {
				padding: 6px 10px 8px;
				background: url(/common/000235545.gif) no-repeat left bottom #f4f4f4;
				list-style:none!important;
				margin-left:0!important;
		}
		.indexNotificationList01 li .date {
					font-size: 86%;
		}
		.indexNotificationList01 li .link {
					padding-left: 20px;
					background: url(/common/000235491.png) no-repeat left 0.3em;
					word-wrap: break-word;
					font-size: 86%;
		}

.indexAccident01 {
	margin-bottom: 25px;
}
	.indexAccident01 a {
		display: block;
		overflow: hidden;
		width: 225px;
	}
		.indexAccident01 a:hover img {
			margin-left: -225px;
		}
.indexPublicity01 {
	margin-bottom: 25px;
}
	.indexPublicityList01 {
		overflow: hidden;
	}
		.indexPublicityList01 ul {
			margin: -1px 0;
			padding-bottom: 2px;
			background: url(/common/000235545.gif) no-repeat left bottom;
		}
			.indexPublicityList01 ul li {
				padding: 12px 10px 10px;
				background: url(/common/000235545.gif) no-repeat left top #f4f4f4;
				list-style:none!important;
				margin-left:0!important;
			}
				.indexPublicityList01 ul li .link {
					padding-left: 20px;
					background: url(/common/000235491.png) no-repeat left 0.3em;
					word-wrap: break-word;
				}
				.indexPublicityList01 ul li .snsWrap {
					margin-bottom: 7px;
					display: block;
					min-height: 1%;
				}
				.indexPublicityList01 ul li .snsWrap:after {
					clear: both;
					content:".";
					display: block;
					height: 0;
					visibility: hidden;
				}
					.indexPublicityList01 ul li .snsWrap .twitter { float: left;}
					.indexPublicityList01 ul li .snsWrap .facebook { float: right;}
						.indexPublicityList01 ul li .snsWrap .twitter a,
						.indexPublicityList01 ul li .snsWrap .facebook a {
							width: 99px;
							overflow: hidden;
							display: block;
						}
							.indexPublicityList01 ul li .snsWrap .twitter a:hover img,
							.indexPublicityList01 ul li .snsWrap .facebook a:hover img {
								margin-left: -99px;
							}
				.indexPublicityList01 ul li .link02 {
					padding-left: 20px;
					background: url(/common/000235491.png) no-repeat left 0.2em;
					float: right;
					font-size: 86%;
				}
				.indexPublicityList01 ul li div.kids { }
					.indexPublicityList01 ul li div.kids .link {
						padding-left: 20px;
						background: url(/common/000235491.png) no-repeat left 0.3em;
					}
					.indexPublicityList01 ul li div.kids .icon {
						float:right;
					}
.bgKidsSubWrap {
	background:url(/common/000236275.gif)
repeat left top;
	padding: 4px;
	line-height: 1.5;
}

.bgKidsSub {
		background: #fdfdf9;
		padding: 12px 17px;	
	}

.linkKidsSub li {
	float: left;
	list-style:none!important;
	margin-left: 8px!important;
	background: url(/common/000236276.jpg) no-repeat right 0.25em;
	padding-right: 10px;
}

.linkKidsSub {
	overflow: hidden;
	*zoom: 1;	
}

.linkKidsSub li a,
.linkKidsSub li a:hover {
	color: #013aa2;
	background: url(/common/000236277.gif) no-repeat left 0.1em;
	padding-left: 20px;	
}

.linkKidsSub li a:hover {
	color: #016522;
}

.indexAccess01 {
	margin-bottom: 25px;
}
	.indexAccessList01 {
		overflow: hidden;
	}
		.indexAccessList01 ul {
			margin: -1px 0;
			padding-bottom: 2px;
			background: url(/common/000235545.gif) no-repeat left bottom;
		}
			.indexAccessList01 ul li {
				padding: 12px 10px 10px;
				background: url(/common/000235545.gif) no-repeat left top #f4f4f4;
				list-style:none!important;
				margin-left:0!important;
			}
				.indexAccessList01 ul li .link {
					padding-left: 20px;
					background: url(/common/000235491.png) no-repeat left 0.3em;
					display: block;
					min-height: 1%;
				}
				.indexAccessList01 ul li .link:after {
					clear: both;
					content:".";
					display: block;
					height: 0;
					visibility: hidden;
				}
					.indexAccessList01 ul li .link .num {
						float: left;
						margin-right: 8px;
					}
					.indexAccessList01 ul li .link .text {
						display: block;
						overflow: hidden;
					}
	.indexAccessLink01 {
		background: url(/common/000235546.gif) no-repeat center bottom #ececec;
		overflow: hidden;
		padding: 8px 10px;
	}
		.indexAccessLink01 .list {
			float: right;
		}
			.indexAccessLink01 .list a {
				display: block;
				overflow: hidden;
				width: 43px;
			}
				.indexAccessLink01 .list a:hover img {
					margin-left: -43px;
				}
.indexQr01 {
	border: 1px solid #ccc;
}
	.indexQr01 h2 {
		border-bottom: 1px solid #ccc;
		background: url(/common/000235549.gif) repeat left top;
		text-align: center;
		padding: 14px;
	}
	.indexQr01 .text {
		border-top: 1px solid #ccc;
		background: url(/common/000235549.gif) repeat left top;
		padding: 10px;
	}
/*/ kids_sub.html
-----------------------------------------------------*/
.pageTitleKidsSub01 {
	height: 56px;
	background: #3c494f;
	padding: 35px 37px 0;
	min-width: 950px;
	border-bottom: 5px solid #56646b;
}
.mainImageKidsSubWrap01 {
	border: 4px solid #d0ebf7;
	margin-bottom: 20px;
}
.mainImageKidsSubbg {
	background: url(/common/000236005.png) left repeat;
}
.mainImageKidsSub {
	text-align: center;
}
.kidsubWrap {
	line-height: 1.5;
	overflow: hidden;
	*zoom: 1;	
}
.bannerKidsSub01 {
	margin-bottom: 20px;
	background: url(/common/000236004.gif) left bottom repeat-x;
	padding-bottom: 21px;	
}
.titleTypeKidsSub {
	border-bottom: 3px solid #1493e1;
	margin-bottom: 18px;
}
.titleTypeKidsSub .titleInner:after {
		clear: both;
		content:".";
		display: block;
		height: 0;
		visibility: hidden;
	}
		.titleTypeKidsSub .titleInner {
		border-color: #cee1eb;
	}
	.titleTypeKidsSub .titleInner {
		border: 1px solid #c6dce0;
		border-bottom: none;
		padding: 13px 10px 10px;
		display: block;
		min-height: 1%;
		background-color: #f6f6f6;
	}
.linkArrowListKids01{
	line-height: 1.5;
}
	.linkArrowListKids01 li {
		margin-bottom: 10px!important;
		padding-left: 20px;
		background: url(/common/000236007.gif) no-repeat left 0.3em;
		list-style:none!important;
		margin-left:0!important;
	}
	.linkArrowListKids01 li a,
	.imgCaptionKids01 a {
		color:#013aa2;
	}
	.linkArrowListKids01 li a:hover,
	.imgCaptionKids01 a:hover {
		color:#016522;
	}
	.linkArrowListKids01 li.last {
		margin-bottom: 0;
	}
.leftColumnkidsSub {
	color: #fff;
	font-weight: bold;
	padding: 14px 10px 10px;
	background: url(/common/000235462.gif) no-repeat left top #0d849d;
}
.leftColumnKidsSub {
		float: left;
		width: 220px;
	}
#twoColumnWrapRKids {
		float: right;
		width: 100%;
		margin-left: -240px;
	}
		#contentsColumnWrapRKids {
			margin: 0 0 0 240px;
		}
#Navi_SideBar {
	background: url(/common/000235472.gif) right bottom repeat-x;
	padding-bottom: 8px;
	margin-bottom: 20px;
	display: block;
	width: 220px;

}
	#Navi_SideBar ul {
		display: block;
		position: relative;
		width: 220px;
		height: 410px;
	}
		#Navi_SideBar li {
			overflow: hidden;
			position: absolute;
			left: 0;
			top: 0;
			width: 220px;
			height: 80px;
			list-style:none!important;
			margin-left:0!important;
		}
		#Navi_SideBar li#Nav_SideBar01 { top: 0; height: 80px;}
		#Navi_SideBar li#Nav_SideBar02 { top: 80px; height: 60px;}
		#Navi_SideBar li#Nav_SideBar03 { top: 140px; height: 60px;}
		#Navi_SideBar li#Nav_SideBar04 { top: 200px; height: 60px;}
		#Navi_SideBar li#Nav_SideBar05 { top: 260px; height: 60px;}
		#Navi_SideBar li#Nav_SideBar06 { top: 320px; height: 80px;}
			#Navi_SideBar li a {
				display: block;
				height: 80px;
				background: url(/common/000236006.jpg) no-repeat right bottom;
				overflow: hidden;
				text-indent: -9999px;
			}
			#Navi_SideBar li#Nav_SideBar01 a { background-position: 0 0;}
			#Navi_SideBar li#Nav_SideBar02 a { background-position: 0 -80px; height: 60px;}
			#Navi_SideBar li#Nav_SideBar03 a { background-position: 0 -140px; height: 60px;}
			#Navi_SideBar li#Nav_SideBar04 a { background-position: 0 -200px; height: 60px;}
			#Navi_SideBar li#Nav_SideBar05 a { background-position: 0 -260px; height: 60px;}
			#Navi_SideBar li#Nav_SideBar06 a { background-position: 0 -320px;}
			#Navi_SideBar li#Nav_SideBar01 a:hover,
			#Navi_SideBar li#Nav_SideBar01 a:focus,
			#n01 #Navi_SideBar li#Nav_SideBar01 a,
			#Navi_SideBar li#Nav_SideBar01.current a {
				background-position: -220px 0;
			}
			#Navi_SideBar li#Nav_SideBar02 a:hover,
			#Navi_SideBar li#Nav_SideBar02 a:focus,
			#n02 #Navi_SideBar li#Nav_SideBar02 a,
			#Navi_SideBar li#Nav_SideBar02.current a {
				background-position: -220px -80px;
			}
			#Navi_SideBar li#Nav_SideBar03 a:hover,
			#Navi_SideBar li#Nav_SideBar03 a:focus,
			#n03 #Navi_SideBar li#Nav_SideBar03 a,
			#Navi_SideBar li#Nav_SideBar03.current a {
				background-position: -220px -140px;
			}
			#Navi_SideBar li#Nav_SideBar04 a:hover,
			#Navi_SideBar li#Nav_SideBar04 a:focus,
			#n04 #Navi_SideBar li#Nav_SideBar04 a,
			#Navi_SideBar li#Nav_SideBar04.current a {
				background-position: -220px -200px;
			}
			#Navi_SideBar li#Nav_SideBar05 a:hover,
			#Navi_SideBar li#Nav_SideBar05 a:focus,
			#n05 #Navi_SideBar li#Nav_SideBar05 a,
			#Navi_SideBar li#Nav_SideBar05.current a {
				background-position: -220px -260px;
			}
			#Navi_SideBar li#Nav_SideBar06 a:hover,
			#Navi_SideBar li#Nav_SideBar06 a:focus,
			#n06 #Navi_SideBar li#Nav_SideBar06 a,
			#Navi_SideBar li#Nav_SideBar06.current a {
				background-position: -220px -320px;
			}
/*/ kids_top.html
-----------------------------------------------------*/
.pageTitleKidsTop01 {
	height: 56px;
	background: #3c494f;
	padding: 35px 37px 0;
	min-width: 950px;
	border-bottom: 5px solid #56646b;
}
.mainImageKidsTopWrap01 {
	border: 4px solid #d0ebf7;
	margin-bottom: 30px;
}
.mainImageKidsTopbg {
	background: url(/common/000236022.png) left repeat;
	padding: 10px 0 20px;
}
.mainImageKidsTop {
	text-align: center;
	margin-top: -35px;
}
.kidsTopContentWrap01 {
	background: url(/common/000236015.jpg) repeat left top;
	padding: 42px 5px 5px;
	position: relative;
}
	.kidsTopContent01 {
		background: url(/common/000236020.jpg) repeat-x left top #fdfdf9;
		padding: 20px 24px 15px 38px;
	}
	.kidsTopImgContent01 {
		position: absolute;
		left: 9px;
		top: -21px	
	}
.linkArrowKidsTop01 {
	background: url(/common/000236025.jpg) no-repeat left 0.2em;
	padding-left: 20px;	
}
.linkKidsTop01 {
	margin-right: 10px;
}
.linkKidsTop01 a {
	width: 145px;
	overflow: hidden;
	display: block;
}
.linkKidsTop01 a:hover img {
	margin-left: -145px;
}
.linkKidsTop02 {}
.linkKidsTop02 a {
	width: 103px;
	overflow: hidden;
	display: block;
}
.linkKidsTop02 a:hover img {
	margin-left: -103px;
}
.contentKidsTop01 {
	background: url(/common/000236016.jpg) right bottom repeat-x ;
	padding-bottom: 17px;
	margin-bottom: 17px;
}
.txtKidsTop01 {
	margin: 13px 0 0 21px;
}
.tableKidsTop {
	width: 100%;
	line-height: 1.5;
}
.tableKidsTop table,
.tableKidsTop table tr {
	padding: 0;
	margin: 0;	
}
.tableKidsTop table td{
	width: 50%;
	padding: 0 14px 14px 0;	
}
.contentBorderBtm {
	background: url(/common/000236019.jpg) bottom no-repeat ;
	padding-bottom: 9px;
}
.contentKidsTable01 {
	border: 1px solid #dddddd;
	background: #fafafa;
	position: relative;
	padding: 16px 14px 10px 10px;
}
.contentKidsTablelink {
	position: absolute;
	right: 10px;
	top: -5px;	
}
.imgTableKids {
	background: url(/common/000236017.jpg) right bottom repeat-x;
	padding-bottom: 15px;
	margin-bottom: 16px;	
}
.imgBottom {
	background: url(/common/000235472.gif) left top repeat-x ;
	padding-top: 25px;	
}
/*/ shingi_index.html
-----------------------------------------------------*/
.pageTitleShingiIndex {
	height: 56px;
	background: #3c494f;
	padding: 35px 37px 0;
	min-width: 950px;
	border-bottom: 5px solid #56646b;
}

.linkShingIndex01 {}
.linkShingIndex01 ul {
	overflow: hidden;
	*zoom: 1;		
}
.linkShingIndex01 ul li {
	background: url(/common/000235472.gif) bottom right repeat-x;
	padding-bottom: 16px;
	margin-bottom: 13px;
	min-height: 1%;
	list-style:none!important;
	margin-left:0!important;
}
.linkShingIndex01 ul li .last {
	margin: 0;
}
.linkShingIndex01 ul li .date {
	float: left;
	width: 110px;
}
.linkShingIndex01 ul li .text {
	background:url(/common/000235491.png) no-repeat left 0.3em;
  	margin:0 0 0 112px;
	padding-left: 20px;
}
.borderShingi01 {
	border: 4px solid #c6e3e9;	
}
.bgShingi01 {
	background: #f4f9f9;
	padding: 0 14px;
}
.shingIndexTable01,
.shingIndexTable02 {
	width: 100%;
}
.shingIndexTable01 table{
	background: url(/common/000235472.gif) repeat-x bottom;
	width: 100%;	

}
.shingIndexTable01 table td {
	vertical-align: top;
	width: 25%;
	padding: 16px 0;	
}
.linkTabelShing01 {}
.linkTabelShing01 li {
	background: url(/common/000236067.gif) no-repeat left 0.2em;
	padding-left: 12px;	
}
.linkTabelShing01 li .linkShing01  {
	background: url(/common/000236068.gif) no-repeat left 0.2em;
	padding-left: 20px;
}
.linkShing03  {
	padding-left: 20px;
	background: url(/common/000235491.png) no-repeat left 0.2em;
}
.linkTabelShing01 li .linkShing01 a,
.linkTabelShing01 li .linkShing02 a,
.linkArrowListShing01 a,
.linkArrowShing01 a,
.textlinkShing01 a,
.linkShing03 a,
.linkShing04 a {
	color: #013aa2;
}
.linkTabelShing01 li .linkShing01 a:hover,
.linkTabelShing01 li .linkShing02 a:hover,
.linkArrowListShing01 a:hover,
.linkArrowShing01 a:hover,
.textlinkShing01 a:hover,
.linkShing03 a:hover,
.linkShing04 a:hover {
	color: #016522;
}
.linkTabelShing01 li .linkShing02  {
	background: url(/common/000235491.png) no-repeat left 0.2em;
	padding-left: 20px;
}
.linkArrowShing01,
.linkArrowShing02 {
	padding-left: 20px;
	background: url(/common/000235491.png) no-repeat left 0.35em;
	font-weight: bolder;
}
.linkArrowShing02 a {
	color: #444;
	text-decoration: underline;	
}
.linkArrowShing02 a:hover {
	color: #444;
	text-decoration: none;	
}
.linkArrowListShing01 {
	margin-bottom: 23px;
	margin-top: -10px;
}
	.linkArrowListShing01 li {
		background: url(/common/000235472.gif) repeat-x bottom;
		padding:5px 0;
	}
	.linkArrowListShing01 li .linkShing03 {
		padding-left: 15px;
		background: url(/common/000235494.gif) no-repeat left 0.4em;
	}
	.linkArrowListShing01 li .linkColorShing01 {
		padding-left: 15px;
		background: url(/common/000235494.gif) no-repeat left 0.4em;
	}
	.linkArrowListShing01 li .linkColorShing01 a {
		color: #444;
		text-decoration: underline;
	}
	.linkArrowListShing01 li .linkColorShing01 a:hover {
		text-decoration: none;;
	}
	.linkArrowListShing01 li.last {
		margin-bottom: 0;
	}
	.linkArrowListShingSub01 {
		padding-left: 15px;
		margin-top: 5px;
	}
	.linkArrowListShingSub01 li,
	.linkArrowListShingSub02 li {
		background: none;
		background: url(/common/000235472.gif) top repeat-x ;
		margin: 0;
		padding: 5px 0;
		}
	.linkArrowListShingSub01 li .linkShing04 {
		padding-left: 15px;
		background: url(/common/000236069.gif) no-repeat left 0.4em;
	}
	.linkArrowListShingSub01 li .linkColorShing02 {
		padding-left: 15px;
		background: url(/common/000236069.gif) no-repeat left 0.4em;
	}
	.linkArrowListShingSub01 li .linkColorShing02 a {
		color: #444;
		text-decoration: underline;
	}
	.linkArrowListShingSub01 li .linkColorShing02 a:hover {
		text-decoration: none;
	}
	.linkArrowListShingSub01 li.first {
		padding: 5px 0;
		margin: 0;	
	}
	.linkArrowListShingSub01 li.last {
		margin-bottom: 0;
		padding: 5px 0 0;

	}
.linkArrowListShingSub02 {
		padding-left: 15px;
	}
	.linkArrowListShingSub02 li .linkShing05 {
		padding-left: 15px;
		background: url(/common/000236070.gif) no-repeat left 0.65em;
	}
.titleShing01 {
	border: 1px solid #ddd;
	background: #f6f6f6;
	padding: 5px;
	margin-bottom: 15px;
}
	.titleShingInner01 {
		font-size: 115%;
		font-weight: bolder;	
	}

.kinkyuTxt{
	padding: 8px 37px 16px;
	min-width: 950px;
}

.section#newsticker {
	margin-bottom:15px;
}

#newsticker dl {
	width: 100%;
	box-sizing: border-box;
	line-height: 25px;
  background-color:#f4f4f4;
  border: 2px solid #d8d8d8;
	padding: 2px;
}
	#newsticker dl dt {
		width: 97px;
		float:left;
		display:inline-block;
		margin-right: -97px;
	}
	#newsticker dl dd.ticker {
		box-sizing: border-box;
		text-align: left;
		background-color:#fff;
		border-top: 1px solid #ccc;
		border-right: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		overflow: hidden;
		padding: 0 10px;
		margin-left: 97px;
	}
		#newsticker dl dd.ticker ul {
			width: 100%;
			position: relative;
		}
			#newsticker dl dd.ticker ul li {
				width: 100%;
  			display: none;
				margin: 0;
			}

#pickupInfo {
	clear: both;
}

.indexPublicityList01 li .iconImg{
	margin-top: -6px;
}

.indexPublicityList01 ul li .icon_link {
	padding-left: 20px;
	padding-top: 8px;
	background: url(/common/000235491.png) no-repeat left 0.8em;
	word-wrap: break-word;
}