#parent {    
    text-align: center;
}
#child {
    margin: 0 auto;
    display: inline-block;
}

.main_logo {
  position: relative;
  left: 5px;
  width: 400px;
}

	
	
	
	.facebook
{
margin-top: -16px;
margin-bottom: 4px;
margin-left: 24px; 
height:23px;
} 

	.twitter
{

margin-top:7px;


} 



	.WelcomeBox
{
    font-size: 14px;
    padding: 5px 15px;
    background: #45a885 none no-repeat scroll 0% 0%;

    width: 100%;
    border-radius: 4px;
    color: #fff;

    text-align: left;
    padding-bottom: -15px !important;
    margin-bottom: 10px;
}

.WelcomeTitle {
    position: relative;
    top:3px;
    padding: 5px 15px;
    color: #fff;
    font-weight: 600;
    background: rgb(85, 204, 162);
    width: 100%;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    text-align: center;
}

.WelcomeInnerText {
  position: relative;

}



/* Place Holder CSS */
::-webkit-input-placeholder {
  color: #000;
  opacity: 0.5;
  -webkit-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:-moz-placeholder {
  color: #000;
  opacity: 0.5;
  -moz-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
::-moz-placeholder {
  color: #000;
  opacity: 0.5;
  -moz-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:-ms-input-placeholder {  
  color: #000;
  opacity: 0.5;
  -ms-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}

/* Place Holder CSS for Focus */
:hover::-webkit-input-placeholder {
  color: #55cca2;
  opacity: 0.70;
  -webkit-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:hover:-moz-placeholder {
  color: #55cca2;
  opacity: 0.70;
  -moz-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:hover::-moz-placeholder {
  color: #55cca2;
  opacity: 0.70;
  -moz-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:hover:-ms-input-placeholder { 
  color: #55cca2; 
  opacity: 0.70;
  -ms-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}

/* Place Holder CSS for Focus */
:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:focus:-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:focus:-ms-input-placeholder {  
  opacity: 0;
  -ms-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}


@media only screen and (min-width: 1200px) {

	.ad_pla {
	width:728px;
	height: 90px;
  margin-bottom: 10px !important;
	}

}

@media only screen and (min-width: 980px) and (max-width: 1199px) {

	.ad_pla {
	width:728px;
	height: 90px;
  margin-bottom: 10px !important;
	}

}

@media only screen and (min-width: 765px) and (max-width: 979px) {

	.ad_pla {
	width:728px;
	height: 90px;
  margin-bottom: 10px !important;
	}

}

@media only screen and (max-width: 764px) {
	.ad_pla {
	left: 15%;
  margin-bottom: 10px !important;
	}

}

@media screen and (max-width: 480px) { 
	.ad_pla {
	left: 3%;
  
	}
	.form-group {
	max-width: 100%;
	}
	
	.facebook {
	display:none;
  	visibility: hidden;
	}
}
 .pcdisplay {
    
	transition: all .3s ease-in-out;
}

.pcdisplay:hover {
    
	opacity: 0.8;
    filter: alpha(opacity=40); /* For IE8 and earlier */
	-webkit-transform:scale(1.03); /* Safari and Chrome */
    -moz-transform:scale(1.03); /* Firefox */
    -ms-transform:scale(1.03); /* IE 9 */
    -o-transform:scale(1.03); /* Opera */
     transform:scale(1.03);
}

.btn-totw {
    margin-bottom: 0px;
}
.btn-home-half {
    background: transparent linear-gradient(0deg, #4cb590 50%, #55cca2 50%) repeat scroll 0% 0%;
    color: #FFF;
    border: medium none;
    border-radius: 4px;
    padding: 2px 10px;
}


.btn-home-half:hover {
	opacity: 0.9;
    text-decoration: none;
}


.btn .caret {
    margin-top: 0 !important;
    margin-left: 0;
}

.dropdown .caret {
    margin-top: 0 !important;
    margin-left: 0;
}

.small_home_box {
    padding: 4px;
    border-radius: 3px;
}

.draft_box {
    background: #2989d8; /* Old browsers */
    background: -moz-linear-gradient(45deg,  #2989d8 0%, #2989d8 50%, #207cca 51%, #0c427d 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg,  #2989d8 0%,#2989d8 50%,#207cca 51%,#0c427d 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg,  #2989d8 0%,#2989d8 50%,#207cca 51%,#0c427d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5db66', endColorstr='#0c427d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    color: white;
}

.builder_box {
    background: #000; /* Old browsers */
    background: -moz-linear-gradient(45deg,  #7dccb0 0%, #72cdad 50%, #6acba9 51%, #55cca2 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg,  #7dccb0 0%,#72cdad 50%,#6acba9 51%,#55cca2 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg,  #7dccb0 0%,#72cdad 50%,#6acba9 51%,#55cca2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5db66', endColorstr='#0c427d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    text-align: left;
    font-size: 14px;
    color: #fff;
    padding:5px;

}


.packs_box {
    background: #89e8fe; /* Old browsers */
    background: -moz-linear-gradient(45deg,  #89e8fe 0%, #89e8fe 50%, #6ae2ff 51%, #4fddff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg,  #89e8fe 0%,#89e8fe 50%,#6ae2ff 51%,#4fddff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg,  #89e8fe 0%,#89e8fe 50%,#6ae2ff 51%,#4fddff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5db66', endColorstr='#0c427d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    color: #236474;
}

.players_box {
    background: #d4ff78; /* Old browsers */
    background: -moz-linear-gradient(45deg,  #d4ff78 0%, #d4ff78 50%, #c7ff4e 51%, #bdff2e 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg,  #d4ff78 0%,#d4ff78 50%,#c7ff4e 51%,#bdff2e 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg,  #d4ff78 0%,#d4ff78 50%,#c7ff4e 51%,#bdff2e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5db66', endColorstr='#0c427d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    color: #516b19;
}

.main_text {
    font-weight: 600;
    color: #218c67;
}


@media (min-width: 980px) and (max-width: 1198px) {


    .col-md-offset-3 {
        margin-left: 15% !important;
    }

    .col-md-6 {
        width: 75% !important;
    }
}

.ut17.card-tiny .pcdisplay-country {
    left: -2px;
    top: 53px;
}