
ul.article-blog {
	margin: 0;
}
ul.article-blog > li {
	margin: 0;
	list-style: none;
	background: url('/_resources/media/img/default/bg_index_pagination.png') no-repeat center top;	
	padding-top: 40px;
	margin-top: 30px;
}

ul.article-blog > li:first-child {
	background: none;
	padding-top: 0;
	margin-top: 0;
}

.article .article-header h1 {
	margin-bottom: 0px;	
}

.article .article-header h1 a {
	text-decoration: none;
}

.article .article-header .share {
	margin-top: 20px;	
}

.article .article-header .share ul {
	margin: 0;
}

.article .article-header .share ul li {
	margin: 0;
	list-style: none;
	float: left;
	margin-left: 5px;
}
.article .article-header .share ul li:first-child {
	margin-left: 0;
}

.article .article-header h2 {
	border: 1px solid #c0e5f7;
	padding: 19px;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.5em;
	background: #eef8fd;
	color: #666666;
	margin: 0;
	margin-top: 30px;
}

.article .article-header .author {
	font-size: 13px;
	margin-top: 0.5em;
}
.article .article-header .author span {
	color: #a21505;
}


.article .article-header .highlight {
	margin-top: 20px;
}

.article .article-header .highlight .credit {
	text-align: right;
	font-size: 13px;
}
.article .article-header .highlight .image {
	height: 250px;
}

.article .article-header .highlight .title {	
	position: absolute;
	margin-top: -20px;
	line-height: 20px;
}

.article .article-header .highlight .title a, .article .article-header .highlight .title span {
	background: url('/_resources/media/img/default/bg_highlight_category.png') repeat-x top;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 13px;
	line-height: 20px;
	display: inline-block;
	text-transform: uppercase;
	color: #ffffff;	
}


.article .article-header .filter {
	margin-top: 20px;
}

.article .article-description {
	margin-top: 1.5em;
}

.article .article-description > .left {
	float: left;
	width: 430px;
}
.article .article-description > .right {
	float: right;
	width: 200px;
	margin-left: 30px;
}

.article .article-description > .right .box {
	margin-top: 20px;
}

.article .article-description > .right .box:first-child {
	margin-top: 0;
}

.article .article-description h2 {
	margin-top: 0;
}

.article .article-list {
	margin-top: 20px;
}

.article .article-list h2 {
	margin-bottom: 0;
}

.article .article-list-agenda h2 {
	margin-bottom: 1em;
}

.article .article-list-cidade {
	margin-top: 20px;
}

.article .article-list-licitacao {
	margin-top: 20px;
}
.article .article-photos {
	margin-top: 20px;
}

.article .article-photos ul.list-photo {
	margin: 0;
	margin-top: 8px;
}
.article .article-photos ul.list-photo:first-child {
	margin-top: 0;
}

.article .article-photos ul.list-photo li {
	margin: 0;
	list-style: none;
	float: left;
	margin-left: 8px;
}

.article .article-photos ul.list-photo li:first-child {
	margin-left: 0;
}

.article .article-photos .credits {
	margin-top: 20px;
	border-bottom: 1px solid #c0e5f7;
	background: #eef8fd;
	line-height: 2em;
	padding-left: 20px;
}
.article .article-photos .credits span {
	color: #a21505;
}

.article .article-video {
	margin-top: 20px;
	height: 355px;
}

.article .article-audio {
	margin-top: 20px;	
}

.article .article-audio .player-audio {
	float: left;
}

.article .article-audio .download-audio {
	float: left;
	margin-left: 20px;
	line-height: 2em;
	padding-left: 25px;
	background: url('/_resources/media/img/default/icon_download_mp3.png') no-repeat center left;
}

.article .article-map {
	margin-bottom: 20px;
}

.article .article-button {
	margin-top: 20px;
	background: url('/_resources/media/img/default/bg_article_button_repeat.png') repeat-x;
}

.borderradius .article .article-button {
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;	
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;	
}

.article .article-button a {
	display: block;
	line-height: 40px;
	padding-left: 20px;
	color: #ffffff;
	font-weight: 500;
	text-decoration: none;
}

.article .article-description .right .article-button {
	margin-top: 5px;
}
.article .article-button-label a span.label {
	display: inline-block;
	width: 80px;
}

.article .article-button-label {
	margin-top: 0;
	margin-bottom: 0.5em;
}
.article .article-button-flickr a {
	background: url('/_resources/media/img/default/bg_box_imagens_top.png') no-repeat 20px center;
	padding-left: 45px;
}
.article .article-button-file a {
	background: url('/_resources/media/img/default/icon_file_default.png') no-repeat 20px center;
	padding-left: 45px;
}

.article .article-button-pdf a {
	background: url('/_resources/media/img/default/icon_file_pdf.png') no-repeat 20px center;
	padding-left: 45px;
}



.article .article-button-2 {
	display: inline-block;
	border: 1px solid #c0e5f7;
	background: url('/_resources/media/img/default/bg_article_button_2.png') bottom repeat-x;
}

.borderradius .article .article-button-2 {
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;	
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;	
}

.article .article-button-2 a {
	display: inline-block;
	line-height: 2em;
	padding-left: 10px;
	padding-right: 10px;
	font-weight: 500;
	text-decoration: none;	
}

.article .article-button-2 a.comments {
	padding-left: 30px;
	background: url('/_resources/media/img/default/icon_comments.png') no-repeat 10px center;
}






.article .article-tools {
	margin-top: 20px;
	border: 1px solid #c0e5f7;
}

.article .article-tools table {
	width: 100%;
}

.article .article-tools table tr td {
	padding: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
	
	line-height: 2em;
	background: none;
	
}

.bg-cell {
	background: #eef8fd;
} 

.article .article-tools table tr td.big {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.article .article-tools table tr td .links img {
	vertical-align: middle;	
}
.article .article-tools table tr td .links a {
	margin-left: 4px;
}
.article .article-tools table tr td .links a:first-child {
	margin-left: 0;
}
.article .article-tools table tr td.label {
	 text-align: right;
	 width: 120px;
}

/*.article .article-tools table tr:first-child td, .article .article-tools table tr:last-child td { 
	background: none;
}*/

.article .article-comments {
	background: url('/_resources/media/img/default/bg_index_pagination.png') no-repeat top center;
	margin-top: 20px;
	padding-top: 30px;
}

.article .article-comments h1 {
	margin: 0;
	font-size: 14px;
	color: #ffffff;
	line-height: 2em;
	background: url('/_resources/media/img/default/bg_article_button_repeat.png') repeat-x bottom;
	text-transform: uppercase;
	padding-left: 20px;
	font-weight: 500;
}
.article .article-comments .container {
	padding: 20px;
	border: 1px solid #c0e5f7;
	border-top: 0;
}

.article .article-comments .container #disqus_thread {
	margin-bottom: 0;
}
.article .article-comments .container #dsq-content #dsq-global-toolbar {
	margin-top: 0;
}

.article .article-link-buttons {
	margin-top: 20px;
}


.article .article-download {
	margin-top: 1.5em;
	border-top: 1px solid #c0e5f7;
	line-height: 1.5em;
	padding-top: 0.5em;
}

.article .article-download img {
	vertical-align: top;
	margin-right: 5px;
}

ul.list-2 {
	margin: 0;
	margin-bottom: 1.5em;
}

ul.list-2 li {
	margin: 0;
	list-style: none;
	float: left;
	width: 310px;
	margin-left: 30px;
}
ul.list-2 li:first-child {
	margin-left: 0;
}

ul.list-line-2 {
	margin: 0;
	margin-top: 1.5em;
}

ul.list-line-2 li {
	margin: 0;
	list-style: none;
	float: left;
	width: 310px;
	margin-left: 30px;
}
ul.list-line-2 li:first-child {
	margin-left: 0;
}


ul.list-line-3 {
	margin: 0;
	margin-top: 30px;
}

ul.list-line-3 li {
	margin: 0;
	list-style: none;
	float: left;
	width: 200px;
	margin-left: 30px;
}
ul.list-line-3 li:first-child {
	margin-left: 0;
}

ul.list-line-3 li .image {
	margin-bottom: 5px;
}
ul.list-line-3 li .image .image-video {
	display: block;
	width: 200px;
	height: 120px;
	background: url('/_resources/media/img/default/bg_video_watermark.png') no-repeat center center;
	position: absolute;
	z-index: 1;
}
ul.list-line-3 li .date {
	text-transform: uppercase;	
	font-size: 13px;	
}
.article-list-audio ul.list-line-3 li .date {
	margin-top: 0;
}

ul.list-line-3 li .link {
	line-height: 1.2em;
}

.article-list-audio ul.list-line-3 li .link {
	min-height: 3.6em;
}

ul.list-line-3 li .download {
	margin-top: 1.5em;
	border-top: 1px solid #c0e5f7;
	line-height: 1.5em;
	padding-top: 0.5em;
}

ul.list-line-3 li .download img {
	vertical-align: top;
	margin-right: 5px;
}

ul.list-line-3 li .player-audio {
	margin-top: 0.5em;
}

ul.list-line-3 li .download-audio {
	border-bottom: 1px solid #c0e5f7;
	background: url('/_resources/media/img/default/icon_download_mp3.png') no-repeat left center;	
	line-height: 2em;
	padding-left: 25px;
}

ul.list-line-4 {
	margin: 0;
	margin-top: 20px;
}

ul.list-line-4 li {
	margin: 0;
	list-style: none;
	float: left;
	width: 150px;
	margin-left: 20px;
	
}
ul.list-line-4 li:first-child {
	margin-left: 0;
}

ul.list-line-4 li .image {
	margin-bottom: 5px;
}

ul.list-line-4 li .link {
	line-height: 1.2em;
}

ul.list-line-4 li .edition {
	color: #a21505;
}

ul.list-line {
	margin: 0;
}

ul.list-line li {
	margin: 0;
	list-style: none;
	margin-top: 20px;
}

ul.list-line li:first-child {
	margin-top: 0;
}

ul.list-line .arrow {
	font-size: 20px;
	font-weight: 500;
	background: url('/_resources/media/img/default/button_arrow_down.png') right center no-repeat;
	border-bottom: 1px solid #c0e5f7;
	line-height: 1.5em;
}

ul.list-line .arrow a {
	display: block;
	text-decoration: none;
}

ul.list-line .arrow-closed {
	background: url('/_resources/media/img/default/button_arrow_down.png') right center no-repeat;
}

ul.list-line .arrow-open {
	background: url('/_resources/media/img/default/button_arrow_up.png') right center no-repeat;
}

.list-box h1 {
	margin: 0;
	font-size: 14px;
	color: #ffffff;
	line-height: 2em;
	background: #045b8e url('/_resources/media/img/default/bg_article_button_repeat.png') repeat-x top;
	text-transform: uppercase;
	padding-left: 20px;
	font-weight: 500;
}
.list-box .container {
	padding: 20px;
	border: 1px solid #c0e5f7;
	border-top: 0;
}

.list-box .container .resume {
	padding-bottom: 1em;
	border-bottom: 1px solid #c0e5f7;
	margin-bottom: 1em;
}
.list-box ul.list-more {
	margin: 0;
	margin-top: 1em;
	border-top: 1px solid #c0e5f7;
	padding-top: 0.5em;
}

.list-box ul.list-more li {
	margin: 0;
	list-style: none;
	float: left;
	margin-left: 20px;
	background: url('/_resources/media/img/default/icon_mark_breadcrumb.png') no-repeat left center;
	line-height: 1em;
	padding-left: 10px;
}

.list-box ul.list-more li:first-child {
	margin-left: 0;
}
.list-box2 h1 {
	margin: 0;
	font-size: 14px;
	color: #ffffff;
	line-height: 2em;
	background: url('/_resources/media/img/default/bg_article_button_repeat.png') repeat-x bottom;	
	padding-left: 20px;
	font-weight: 500;
}
.list-box2 .container {
	padding: 20px;
	border: 1px solid #c0e5f7;
	border-top: 0;
	background: #eef8fd;
}

.borderradius .list-box2 h1 {
	border-radius: 5px 5px 0px 0px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
}

.borderradius .list-box2 .container {
	border-radius: 0px 0px 5px 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
}

.list-thumb h1 {
	font-size: 20px;
	padding-bottom: 0.5em;
	border-bottom: 1px solid #c0e5f7;
	margin-bottom: 1em;
}
.list-thumb .image {
	float: left;
	width: 200px;
	margin-right: 20px;
}
.list-thumb .text {
	float: left;
	width: 440px;
}
.list-thumb .text .resume {
	
}

.list-thumb .text .button {
	margin-top: 1em;
	heigth: 30px;
	display: inline-block;
	background: url('/_resources/media/img/default/bg_article_button_repeat.png') repeat-x bottom;	
}
.list-thumb .text .button a {
	padding-left: 25px;
	padding-right: 10px;
	display: inline-block;
	line-height: 30px;
	color: #ffffff;
	text-decoration: none;
	background: url('/_resources/media/img/default/icon_arrow_button.png') no-repeat 14px center;
}

ul.letter {
	margin: 0;
	border-bottom: 2px solid #c0e5f7;
}

ul.letter li {
	margin: 0;
	list-style: none;
	padding-left: 5px;
	padding-right: 5px;
	line-height: 2em;
	float: left;
	border-left: 1px solid #c0e5f7;
	
}

ul.letter li:first-child {
	padding-left: 0;
	border-left: 0;
}

ul.files {
	margin: 0;
	border-top: 1px solid #c0e5f7;
	padding-top: 1em;
}
ul.files li {
	margin: 0;
	list-style: none;
	line-height: 1.5em;
	margin-top: 5px;
}
ul.files li:first-child {
	margin-top: 0;
}
ul.files li img {
	vertical-align: top;
	margin-right: 5px;
}
table.telefones {
	width: 100%;
	margin-bottom: 1.5em;
}

table.telefones tr td {
	line-height: 1.2em;
	border-bottom: 1px solid #c0e5f7;
	text-align: right;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;	
	white-space: nowrap;
}

table.telefones tr td:first-child {
	text-align: left;
	white-space: normal;
}

table.telefones tr:first-child td, table.telefones tr:nth-child(odd) td {
	background: #eef8fd;
}

table.cidade {
	width: 100%;
}

table.cidade tr td {
	width: 33%;	
}

table.datas {
	width: 100%;
	margin-bottom: 1.5em;
}

table.datas tr td {
	line-height: 1.2em;
	border-bottom: 1px solid #c0e5f7;	
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

table.datas tr td:first-child {
	color: #a21505;
	width: 100px;
	
}

table.datas tr:first-child td, table.datas tr:nth-child(odd) td {
	background: #eef8fd;
}

table.endereco {
	width: 100%;
}

table.endereco tr td {
	padding-left: 20px;
	font-weight: 300;
}

table.endereco tr td:first-child {
	padding-left: 0;
	width: 70%;
}

table.endereco tr:first-child td {
	color: #a21505;
	font-weight: 500;
}

table.table-box{
	width: 100%;	
}
table.table-box tr td {
	padding-left: 20px;
	padding-top: 0.5em;	
	font-weight: 300;
}

table.table-box tr:first-child td {
	padding-top: 0;
}

table.table-box tr td:first-child {
	color: #a21505;
	font-weight: 500;
	width: 100px;
	padding-left: 0;
}

table.chkarray {
	width: 100%;
}

table.chkarray td {
	width: 33%;
}
table.chkarray td {
	line-height: 1.5em;
}
.box {
	border: 1px solid #c0e5f7;
	padding: 19px;
	font-size: 13px;
}

.box p{
	margin-bottom: 1em;
}

.box h1 {
	font-size: 13px;
	line-height: 13px;
	color: #231f20;
	padding-bottom: 8px;
	border-bottom: 2px solid #a9d8e9;
	text-transform: uppercase;
	margin-bottom: 1em;	
	font-weight: 500;
}

.box form table tr td {
	padding-top: 4px;
}

.box form table tr:first-child td {
	padding-top: 0;
}

.box .more {
	margin-top: 1em;
	border-top: 1px dotted #c0e5f7;
	padding-top: 0.5em;	
}
.box .more a {	
	background: url('/_resources/media/img/default/icon_mark.png') no-repeat left center;
	padding-left: 8px;	
	line-height: 1em;
}

.box ul.list {
	margin: 0;
}

.box ul.list li {
	margin: 0;
	list-style: none;
	margin-top: 1em;
}

.box ul.list li:first-child {
	margin-top: 0;
}

.box ul.list li .link {
	margin-top: 0.5em;
}

.box ul.list-simple {
	margin: 0;
}

.box ul.list-simple li {
	margin: 0;
	list-style: none;
	margin-top: 1em;
	line-height: normal;
}

.box ul.list-simple li:first-child {
	margin-top: 0;
}

.box ul.list-simple li .date {
	margin: 0;
}

.box ul.list-photo {
	margin: 0;	
	margin-top: 5px;
}
.box ul.list-photo:first-child {
	margin-top: 0;	
}

.box ul.list-photo li {
	margin: 0;
	float: left;
	margin-left: 5px;
}
.box ul.list-photo li:first-child {
	margin-left: 0;
}

.box ul.list-photo-home {
	margin: 0;	
	margin-top: 10px;
}
.box ul.list-photo-home:first-child {
	margin-top: 0;	
}

.box ul.list-photo-home li {
	margin: 0;
	float: left;
	margin-left: 10px;
}
.box ul.list-photo-home li:first-child {
	margin-left: 0;
}

.box-servicos {
	height: 230px;
	background: url('/_resources/media/img/default/bg_box_servicos.png') no-repeat center bottom;
} 

.box-servicos-menor {
	height: 104px;
	background: url('/_resources/media/img/default/bg_box_servicos_menor.png') no-repeat center bottom;
}


.box-servicos h1 {
	background: url('/_resources/media/img/default/bg_box_servicos_top.png') no-repeat right top;
}

.box-destaques {
	padding: 0;
	border: 0;
}

.box-destaques > h1 {
	margin-bottom: 0px;
}

.box-programas {
	padding: 0;
	border: 0;
	margin-top: 20px;
}

.box-programas > h1 {
	margin-bottom: 0px;
}

.box-mapadotrabalho {
	padding: 0;
	border: 0;
	margin-top: 20px;
}

.box-mapadotrabalho > .left {
	float: left;
	width: 450px;
	height: 200px;
	background: url('/_resources/media/img/default/bg_box_mapadotrabalho_left.png') no-repeat;
}

.box-mapadotrabalho > .right {
	float: left;
	width: 180px;
	height: 140px;
	padding: 30px;
	background: url('/_resources/media/img/default/bg_box_mapadotrabalho_right.png') no-repeat;
}

.box-conheca {
	width: 290px;
	background: url('/_resources/media/img/default/bg_box.png') repeat-x bottom;
}

.box-conheca .image {
	float: left;
	width: 90px;
	margin-right: 10px;
}

.box-conheca .text {
	float: left;
	width: 190px;
}

.box-agenda {
	width: 290px;
	background: url('/_resources/media/img/default/bg_box.png') repeat-x bottom;
}

.box-agenda .date {
	float: left;
	width: 90px;
	height: 90px;
	margin-right: 10px;
	background: url('/_resources/media/img/default/bg_date.png') no-repeat;
}
.box-agenda .date .month {
	display: block;
	font-size: 14px;
	line-height: 30px;
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
}
.box-agenda .date .day {
	display: block;
	font-size: 48px;
	line-height: 60px;
	color: #4c4c4c;
	text-align: center;
}

.box-agenda .text {
	float: left;
	width: 190px;
}

.box-agenda .text .category {
	font-size: 13px;
	line-height: 1em;
	margin-bottom: 0.5em;
	text-transform: uppercase;
}

.box-agenda .text .link {
	font-size: 14px;
	line-height: normal;	
}
.box-agenda .text .local {
	font-size: 14px;
	line-height: 1em;
}

.box-feed {
	margin-top: 20px;
}

.box-feed h1 {
	background: url('/_resources/media/img/default/bg_box_feed_top.png') no-repeat right top;
}


.bt-topo {
	border: 0;
	padding: 0;
}

.box-banner {
	border: 0;
	padding: 0;
	margin-top: 20px;
}

.box-banner-campusparty {
	position: relative;
	z-index: 2;
	width: 210px;
	height: 270px;
	margin-bottom: 20px;
}
.box-banner-acesso-main {
	width: 330px;
	height: 150px;
	background: url('/_resources/media/img/default/banner_acesso_main.png') no-repeat;
}
.box-banner-acesso-main a {
	display: block;
	position: absolute;
	z-index: 2;
	width: 330px;
	height: 150px;
}
.box-banner-copa {
	width: 210px;
	height: 150px;
	background: url('/_resources/media/img/default/banner_copa.gif') no-repeat;
}
.box-banner-copa-main {
	width: 330px;
	height: 150px;
	background: url('/_resources/media/img/default/banner_copa_main.png') no-repeat;
}
.box-banner-copa-main a {
	display: block;
	position: absolute;
	z-index: 2;
	width: 210px;
	height: 150px;
}

.box-banner-copa-main > span {
	display: block;
	position: absolute;
	z-index: 1;
	width: 330px;
	text-align: center;
	margin-top: 102px;
	color: #ffffff;
	padding-top: 12px;
}

.box-banner-copa-main > span > span {
	font-size: 18px;
	color: #004a1c;
	background: #fbd500;
	padding-left: 4px;
	padding-right: 4px;
	
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-bottomleft: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomright: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;	
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
}



.box-banner-copa a {
	display: block;
	position: absolute;
	z-index: 2;
	width: 210px;
	height: 150px;
}

.box-banner-copa > span {
	display: block;
	position: absolute;
	z-index: 1;
	width: 210px;
	text-align: center;
	margin-top: 102px;
	color: #ffffff;
	padding-top: 12px;
}

.box-banner-copa > span > span {
	font-size: 18px;
	color: #004a1c;
	background: #fbd500;
	padding-left: 4px;
	padding-right: 4px;
}

.borderradius .box-banner-copa > span > span {
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-bottomleft: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomright: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;	
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;	
}

.box-imagens {
	margin-top: 20px;
}

.box-imagens h1 {
	background: url('/_resources/media/img/default/bg_box_imagens_top.png') no-repeat right top;
}

.continente {
	width: 210px;
	height: 350px;
	background-color: #f2fafe;
}

.box-outside-continente {
	border: 0;
	padding: 0;
}

.box-outside {
	border: 0;
	padding: 0;
	margin-top: 20px;
}

.box-outside h1 {
	background: #055c8e;
	border: 0;
	font-size: 13px;
	line-height: 24px;
	padding: 0;
	padding-left: 10px;
	color: #ffffff;
}
.box-outside .more {
	border: 0;
	padding: 0;
}


.box-facebook {
	margin-top: 20px;
}

.box-right-photo {
	border: 0;
	padding: 0;	
}
.box-right-photo .credits {
	font-size: 13px;
	text-align: right;
	display: block;
}

.box-right-photo .subtitle {	
	position: absolute;
	margin-top: -20px;
	font-size: 13px;
}

.box-right-photo .subtitle span {
	background: url('/_resources/media/img/default/bg_highlight_category.png') repeat-x top;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 13px;
	line-height: 20px;
	display: inline-block;
	text-transform: uppercase;
	color: #ffffff;
	
}

.box-right-photo .resume {
	line-height: normal;
	margin-top: 0.5em;
}

.box-right-photo .description {
	font-size: 14px;
	padding-top: 0.5em;
}
.box-right-photo .description span {
	color: #a21505;
	font-weight: 500;
}
.box-right-photo .title {
	font-weight: 500;
	font-size: 14px;
	color: #a21505;
	padding-top: 0.5em;
}

.box-right-button {
	background: url('/_resources/media/img/default/bg_box_right_button.png') no-repeat;
	height: 30px;
	border: 0;
	padding: 0;
}
.box-right-button a {
	display: block;
	line-height: 30px;
	padding-left: 25px;
	color: #ffffff;
}


.borderradius .box-checkbox {
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;	
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;	
	background: url('/_resources/media/img/default/bg_box_bottom.png') repeat-x bottom;
	font-size: 14px;		
}
.highlight-list {
	margin-top: 20px;
}

.highlight-list ul {
	margin: 0;	
}

.highlight-list ul li {
	margin: 0;
	list-style: none;
	float: left;
	padding-left: 30px;
	background: url('/_resources/media/img/default/bg_highlight_list_separator.png') repeat-y 14px 0px;
}

.highlight-list ul li:first-child {
	padding-left: 0;
	background: none;	
}

.highlight-list-2 {
	margin-top: 20px;
}
.highlight-list-2 ul {
	margin: 0;
}

.highlight-list-2 ul li {
	margin: 0;
	list-style: none;
	float: left;
	margin-left: 30px;
}

.highlight-list-2 ul li:first-child {
	margin-left: 0;	
}


.highlight-690 {
	width: 690px;
	height: 270px;
	background: url('/_resources/media/img/default/bg_box_highlight_right.png') no-repeat right;
	margin-bottom: 20px;
}

.highlight-690 .image {
	float: left;
	width: 450px;
}
.highlight-690 .text {
	float: left;
	width: 180px;
	padding: 30px;
}

.highlight-690 .text * {
	color: #ffffff;
}

.highlight-690 .text .category {
	font-size: 13px;
	line-height: 1em;
	text-transform: uppercase;
	margin-bottom: 1em;
}
.highlight-690 .text .link {	
	font-size: 24px;
	line-height: 1.1em;
}

.highlight-330 {
	width: 330px;
}

.highlight-330 .image {
	height: 200px;
	position:relative;
}

.highlight-330 .image .image-video {
	display: block;
	width: 330px;
	height: 200px;
	background: url('/_resources/media/img/default/bg_video_watermark.png') no-repeat center center;
	position: absolute;
	z-index: 1;
}

.highlight-330 .category {
	position: absolute;
	margin-top: -20px;
}

.highlight-330 .category span {
	background: url('/_resources/media/img/default/bg_highlight_category.png') repeat-x top;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 13px;
	line-height: 20px;
	display: inline-block;
	text-transform: uppercase;
	color: #ffffff;
}

.highlight-330 .link {	
	margin-top: 0.5em;
	font-size: 13px;
	line-height: normal;
}


.highlight-red a { 
	color: #8e0605;
}

.highlight-red .category span {
	background: url('/_resources/media/img/default/bg_highlight_red_category.png') repeat-x top;
}

.highlight-210 {
	width: 210px;
}

.highlight-210 .image {
	height: 125px;
}

.highlight-210 .category {
	position: absolute;
	margin-top: -20px;
}

.highlight-210 .category span {
	background: url('/_resources/media/img/default/bg_highlight_category.png') repeat-x top;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 13px;
	line-height: 20px;
	display: inline-block;
	text-transform: uppercase;
	color: #ffffff;
}

.highlight-210 .category-title {
	text-transform: uppercase;
	display: block;
}

.highlight-210 .link {	
	margin-top: 0.5em;
	font-size: 13px;
	line-height: normal;
}

.highlight-210 .link-18 {
	font-size: 18px;
}

.highlight-150 {
	width: 150px;
}

.highlight-150 .image {
	height: 90px;
}

.highlight-150 .category {
	position: absolute;
	margin-top: -20px;
}

.highlight-150 .category span {
	background: url('/_resources/media/img/default/bg_highlight_category.png') repeat-x top;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 13px;
	line-height: 20px;
	display: inline-block;
	text-transform: uppercase;
	color: #ffffff;
}

.highlight-150 .category-title {
	text-transform: uppercase;
}

.highlight-150 .link {	
	margin-top: 0.5em;
	font-size: 13px;
	line-height: normal;
}

.highlight-150 .link-14 {
	font-size: 14px;
}

.index-governadores {
	margin-top: 20px;
	border: 1px solid #c0e5f7;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;	
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;	
	padding: 15px;
}

.borderradius .index-governadores {
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;	
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;	
}
 
.index-governadores .before {
	float: left;
	width: 273px;
	padding-right: 20px;
}

.index-governadores .before .arrow {
	float: left;
	width: 40px;
	padding-top: 10px;
}

.index-governadores .before .image {
	float: left;
	width: 60px;
}

.index-governadores .before .text {
	float: left;
	width: 173px;
}
.index-governadores .before .text .link {
	line-height: normal;
	padding-top: 0;
}

.index-governadores .after {
	float: right;
	width: 273px;
	padding-left: 20px;
	border-left: 1px solid #c0e5f7;
}

.index-governadores .after .arrow {
	float: right;
	width: 40px;
	padding-top: 10px;
}

.index-governadores .after .image {
	float: right;
	width: 60px;
}

.index-governadores .after .text {
	float: right;
	width: 173px;
}
.index-governadores .after .text .link {
	line-height: normal;
	padding-top: 0;
}

.index-pagination {
	background: url('/_resources/media/img/default/bg_index_pagination.png') no-repeat center top;
	text-align: center;
	padding-top: 1.5em;
	margin-top: 30px;
}

a.index:link, a.index:visited, a.index:active {				
	text-decoration: none;
	border: 1px solid #055c8e;
	line-height: 1.5em; 
	padding-left: 0.25em;
	padding-right: 0.25em;	
	
}

a.index:hover {
	text-decoration: none;	
	background: #055c8e;
	color: #ffffff; 
}

.index-on {	
	background: #055c8e;
	color: #ffffff;	
	border: 1px solid #055c8e;
	line-height: 1.5em;
	padding-left: 0.25em;
	padding-right: 0.25em;	
}


.image {
	line-height: 0;
	font-size: 0;
}

.text-center {
	text-align: center;
}

.image-left {
	float: left;
	margin-right: 10px;
}

.image-right {
	float: right;
	margin-left: 10px;
}

#tags {
	margin-top: 20px;
	text-align: center;
	padding-right: 20px;
}

.tag1 {
	font-size: 11px;
}

.tag2 {
	font-size: 13px;
}

.tag3 {
	font-size: 16px;
}

.tag4 {
	font-size: 20px;
}
.datas-home {
	border: 1px solid #bfe5f9;
	padding: 8px 20px 8px 20px;
	margin-top: 20px;
	width: 649px;
	position: relative;
}
.datas-home ul {
	width: 550px;
}
.datas-home ul li p {
	margin-bottom: 0px;
}
.datas-home ul li {
	margin-left: 5px;
}
.label-datas {
	color: #231f20;
	font-size: 14px;
	background: url('/_resources/media/img/default/icon_mark_breadcrumb.png') no-repeat left center;
	padding-left: 12px;
	padding-right: 5px;
	width: 50px;
}
.dt-datas {
	color: #a21505;
	font-size: 14px;
}
.texto-datas {
	font-size: 14px;
}
a.bt-mais-datas {
	background-color: #1e6c99;
	padding: 0px 10px;
	font-size: 13px;
	color: #ffffff;
	position: absolute;
	top: 8px;
	right: 20px;
	height: 20px;
	text-decoration: none;
}