

#search input.text {
	background: none;
	border: 0;
	font-size: 16px;
	line-height: 16px;
	display: block;
	position: absolute;
	width: 155px;
	margin-top: 7px;
	margin-left: 10px;
}


#search input.button{
	background: none;
	border: 0;
	display: block;
	height: 35px;
	width: 35px;
	position: absolute;
	margin-left: 175px;
}

input.text-share {
	margin: 0;
	padding: 0;
	font-size: 13px;
	line-height: 1.5em;
	padding-left: 10px;	
	padding-right: 10px;
	border: 1px solid #c0e5f7;
	background: url('/_resources/media/img/default/bg_input.png') repeat-x;
	color: #231f20;	
}

table.form {
}

table.form span.label {
	line-height: 1.5em;	
}
table.form > tbody > tr > td {
	padding-left: 20px;
	padding-top: 1em;
}

table.form > tbody > tr > td:first-child {
	padding-left: 0;
}
table.form > tbody > tr:first-child > td {
	padding-top: 0;
}





.window-error-ajax {	
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	
	background: #FAF0F0;		
	border: 1px solid #f5e3e3; 	
}

.window-error-ajax-content {
	padding-left: 40px;
	background: url('/_resources/media/img/admin/icon_message_error.png') no-repeat top left;
}

.window-error-ajax-content-text {
	border: 1px solid #f5e3e3; 
	background: #ffffff; 
	padding: 10px;
	line-height: normal;
	font-size: 11px;
}

.window-alert-ajax {	
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	
	background: #fcfded;
	border: 1px solid #f6f3d1; 
}

.window-alert-ajax-content {
	padding-left: 40px;
	background: url('/_resources/media/img/admin/icon_message_alert.png') no-repeat top left;
}

.window-alert-ajax-content-text {
	border: 1px solid #f6f3d1; 
	background: #ffffff; 
	padding: 10px;
}

.window-info-ajax {	
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	
	background: #e7f2f8; 
	border: 1px solid #d7e6ef; 
}

.window-info-ajax-content {
	padding-left: 40px;
	background: url('/_resources/media/img/admin/icon_message_info.png') no-repeat top left;
}
.window-info-ajax-content-text {
	border: 1px solid #d7e6ef; 
	background: #ffffff; 
	padding: 10px;
}

ul.error-messages {	
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 20px;
}
ul.error-messages li {	
	list-style-type: square;	
	margin-left: 0px;	
}