
.lay-barra {
	height: 20px;
	background: url('/_resources/media/img/default/bg_barra_repeat.png') repeat-x;
}

.lay-barra > div {
	height: 20px;
	background: url('/_resources/media/img/default/bg_barra.png') no-repeat center;
}

#lay-all {	
	background: url('/_resources/media/img/default/bg_all_top.png') repeat-x;
}

#lay-site-shadow {
	width: 980px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
	padding-right: 10px;
	background: url('/_resources/media/img/default/bg_site_shadow.png') no-repeat top;
}

#lay-site {
	background: #ffffff url('/_resources/media/img/default/bg_site_top.png') repeat-x;
}

#lay-header {
	height: 230px;	
	padding-left: 25px;
	padding-right: 25px;
	background: url('/_resources/media/img/default/bg_header_bottom.png') no-repeat center bottom;
}

.home #lay-header {
	height: 210px;
	background: none;
}

#lay-header #logo {
	position: absolute;
	margin-top: 15px;
}

#lay-header #search {
	width: 210px;
	height: 35px;
	position: absolute;
	margin-top: 20px;
	margin-left: 720px;	
	background: url('/_resources/media/img/default/bg_search.png') no-repeat;
}

#lay-header #links {
	position: absolute;
	width: 400px;
	margin-left: 530px;
	margin-top: 70px;
	font-size: 13px;
}

#lay-header #links ul {
	margin: 0;
}
#lay-header #links ul li {
	margin: 0;
	list-style: none;
	float: right;
	margin-right: 10px;
}
#lay-header #links ul li:first-child {
	margin-right: 0;
}
#lay-header #links ul li a {
	color: #231f20;
}

#lay-header #share {
	position: absolute;
	width: 132px;
	margin-left: 806px;
	margin-top: 119px;
	z-index: 1001;
}

#lay-header #share ul {
	margin: 0;	
}
#lay-header #share ul li {
	margin: 0;
	list-style: none;
	float: left;
	margin-left: 1px;
}
#lay-header #share ul li a{
	display: block;
	width: 24px;
	height: 24px;
}

#lay-header #share ul li:first-child {
	margin-left: 0;
}

#lay-header #share ul li.twitter {
	background: url('/_resources/media/img/default/icon_footer_twitter.png');
}
#lay-header #share ul li.facebook {
	background: url('/_resources/media/img/default/icon_footer_facebook.png');
}
#lay-header #share ul li.flickr {
	background: url('/_resources/media/img/default/icon_footer_flickr.png');
}
#lay-header #share ul li.youtube {
	background: url('/_resources/media/img/default/icon_footer_youtube.png');
}
#lay-header #share ul li.feed {
	background: url('/_resources/media/img/default/icon_footer_feed.png');
}


#lay-header #menu {
	position: absolute;
	z-index: 100;
	height: 40px;
	width: 930px;
	margin-top: 110px;
	background: url('/_resources/media/img/default/bg_menu.png') repeat-x;
}

/* 
	LEVEL ONE
*/
ul.dropdown { 
	position: relative;
	margin: 0; 
	z-index: 1000;
}
ul.dropdown > li {
	margin: 0;
	list-style: none;
	float: left;
	height: 40px;
	background: url('/_resources/media/img/default/bg_menu_separator_left.png') no-repeat left 12px;	
	zoom: 1;	
}
ul.dropdown > li > span {
	display: block;
	height: 37px;
	padding-top: 3px;	
	background: url('/_resources/media/img/default/bg_menu_separator_right.png') no-repeat right 12px;	
	zoom: 1;	
}

ul.dropdown > li:first-child {
	padding-left: 0px;
	background: none;
}
ul.dropdown > li > span > a { 
	display: block;	
	font-size: 13px;
	line-height: 13px;
	padding-top: 12px;
	padding-bottom: 12px;
	text-transform: uppercase;
	text-decoration: none;
	padding-left: 8px;
	padding-right: 8px;
}

ul.dropdown > li.on > span {
	border-top: 3px solid #098ccd;
	padding-top: 0;
}
ul.dropdown > li.on > span > a { 	
	color: #a21505;	
}
ul.dropdown > li.blog {	
}
ul.dropdown > li.blog > span {
	background: none;
}
ul.dropdown > li.blog-on > span {
	background: none;
}

ul.dropdown > li.blog > span > a {
	padding-top: 6px;
}

ul.dropdown > li.blog > span > a span {
	display: block;
	line-height: 24px;
	color: #ffffff;
	padding-left: 8px;
	padding-right: 8px;
	background: url('/_resources/media/img/default/bg_menu_blog.png') repeat-x;
}

.borderradius ul.dropdown > li.blog > span > a span {
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;	
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;	
}

ul.dropdown > li.hover, ul.dropdown > li:hover { 
	position: relative;
	z-index: 1000;
}
ul.dropdown > li.hover > span, ul.dropdown > li:hover > span { 
	border-top: 3px solid #098ccd;
	padding-top: 0; 	
}

ul.dropdown > li.blog > span, ul.dropdown > li.blog:hover > span {
	border-top: 0;
	padding-top: 3px;
}
ul.dropdown > li.hover > span > a, ul.dropdown > li:hover > span > a {
	color: #a21505;
}

ul.dropdown > li.hover > span.submenu > a, ul.dropdown > li:hover > span.submenu > a {
	position: relative;
	border-left: 1px solid #a9d8e9; 
	border-right: 1px solid #a9d8e9;
	
	background: #ffffff;
	padding-left: 7px;
	padding-right: 7px;
	text-decoration: none;
	z-index: 1000;
}

/* 
	LEVEL TWO
*/
ul.dropdown ul { 
	margin: 0; 	
	visibility: hidden; 
	position: absolute; 
	background: #ffffff;
	border-left: 1px solid #a9d8e9; 
	border-right: 1px solid #a9d8e9;
	border-bottom: 4px solid #0a96d7;
	padding: 15px; 
	left: 0; 
	top: 39px;
	z-index: 100;
	zoom: 1;
}
ul.dropdown ul > li { 
	list-style: none; 
	float: none;
	background: url('/_resources/media/img/default/icon_mark.png') no-repeat left center;
	padding-left: 10px; 
}
									  
ul.dropdown ul > li > a {
	white-space:nowrap;
	display: block;
	font-size: 14px;
	line-height: 1.5em;
	color: #666666;
} 

/* 
	LEVEL THREE
*/
ul.dropdown ul ul { 
	margin: 0; 
	left: 100%; 
	top: 0; 
}
ul.dropdown li:hover > ul { 
	visibility: visible; 
}


#lay-header #services {
	position: absolute;
	margin-top: 164px;
	z-index: 10;
}
#lay-header #services ul.selects {
	margin: 0;
}
#lay-header #services ul.selects > li {
	margin: 0;
	list-style: none;
	float: left;	
	border-left: 1px dotted #a9d8e9;
	padding-left: 14px;
	padding-right: 15px;
}
#lay-header #services ul.selects > li:first-child {
	padding-left: 0;
	border-left: 0;
}
#lay-header #services ul.selects > li select {
	width: 184px;
}
.home #lay-highlight {
	height: 360px;
	overflow: hidden;
}
#lay-main-bg {
	background: url('/_resources/media/img/default/bg_main_repeat.png') repeat-y;
}
#lay-main {
	background: url('/_resources/media/img/default/bg_main_top.png') no-repeat top;
}

.home #lay-main {
	background: url('/_resources/media/img/default/bg_main_top_home.png?v=2') no-repeat top;
}

.home #lay-main > .content {
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 40px;
	padding-bottom: 25px;
}

.home #lay-main > .content > .center {
	float: left;
	width: 690px;
	margin-right: 30px;	
}

.home #lay-main > .content > .right {
	float: left;
	width: 210px;
}

#lay-main > .left {
	float: left;
	width: 210px;
	padding-left: 25px;	
	padding-bottom: 25px;
}

#lay-main > .left .menu h1 {
	display: block;	
	font-size: 16px;
	line-height: 60px;
	font-weight: 500;
	padding-left: 20px;
	color: #ffffff;
	border: 0;
	margin: 0;
	text-transform: uppercase;
	background: url('/_resources/media/img/default/bg_submenu_top.png') no-repeat;
}

#lay-main > .left .menu ul {
	margin: 0;
	margin-top: 10px;	
}

#lay-main > .left .menu ul li {
	margin: 0;
	list-style: none;
	background: url('/_resources/media/img/default/bg_submenu_separator.png') no-repeat top;
	padding-top: 2px;
}
#lay-main > .left .menu ul li:first-child {
	background: none;
	padding-top: 0;
}

#lay-main > .left .menu ul li a {
	display: block;
	line-height: 2em;
	font-weight: 500;
	padding-left: 20px;
	
}
#lay-main > .left .menu ul li a:hover {
	text-decoration: none;
}

#lay-main > .left .menu ul li a.on {
	background: url('/_resources/media/img/default/bg_submenu_on.png') repeat-y;
}

#lay-main > .left .menu ul li ul {
	margin: 0;
	padding-bottom: 0.25em;
	padding-top: 0.25em;
}
#lay-main > .left .menu ul li ul li {
	background: none;
	padding: 0;	
}
#lay-main > .left .menu ul li ul li a {
	display: block;
	line-height: 1.5em;
	font-weight: 300;
	padding-left: 30px;
	background: url('/_resources/media/img/default/icon_mark.png') no-repeat 20px center;
}

#lay-main > .left .menu ul li ul li a.on {
	background: url('/_resources/media/img/default/icon_mark.png') no-repeat 20px center;
	color: #a21505;
}
#lay-main > .left .box {
	border: 1px solid #c0e5f7;
	border-right: 0;
	padding: 20px;
	margin-top: 20px;
	font-size: 13px;
	background: #eef8fd url('/_resources/media/img/default/bg_left_box_shadow.png') repeat-y right;
}
#lay-main > .left .box-accordion {
	border: 1px solid #c0e5f7;
	border-right: 0;
	font-size: 13px;
	margin-top:20px;
	overflow:hidden;
	background: #eef8fe url('/_resources/media/img/default/bg_left_box_shadow.png') repeat-y right;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	border-radius: 5px 0 0 5px;
}
#lay-main > .left .box-accordion h1 {
	background:#fff url('/_resources/media/img/default/bt-tit-white.png') repeat-y top right;
	margin:0px;
	font-size:13px;
	color:#231f20;
	padding-left:20px;
	padding-top:15px;
	text-transform:uppercase;
	height:27px;
	border-bottom:1px solid #bfe5f9;
}
#lay-main > .left .box-accordion #bt-aba-accordion {
	height:26px;
	background:#daf0fb url('/_resources/media/img/default/bt-aba.png') repeat-x top left;
	cursor:pointer;
	font-size:13px;
	text-transform:uppercase;
	color:#055c8e;
	padding-left:20px;
	padding-top:12px;
	border-top:1px solid #bfe5f9;
	border-left:1px solid #fff;
	border-bottom:1px solid #fff;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	border-radius: 3px 0 0 3px;
}
#lay-main > .left .box-accordion #accordion-tmp {
	overflow:hidden;
	height:230px;
	position:relative;
}
#item-aba-2 {
	display:none;
}
#lay-main > .left .box-accordion .item-aba {
	
	position:absolute;
	height:200px;
	top:15px;
	left:20px;
}
.borderradius #lay-main > .left .box {
  border-radius: 5px 0 0 5px;
   -moz-border-radius-topleft: 5px;
   -moz-border-radius-bottomleft: 5px;
   -webkit-border-top-left-radius: 5px;
   -webkit-border-bottom-left-radius: 5px;	
}

#lay-main > .left .box h1 {
	font-size: 13px;
	line-height: 13px;
	color: #231f20;
	padding-bottom: 8px;
	border-bottom: 2px solid #a9d8e9;
	text-transform: uppercase;
	margin-bottom: 1em;
}

#lay-main > .left .box h1.feed {
	background: url('/_resources/media/img/default/bg_left_box_top_feed.png') no-repeat right top;
}

#lay-main > .center {
	float: left;
	width: 720px;
	padding-right: 25px;
}

#lay-main > .center .title h1 {
	background: url('/_resources/media/img/default/bg_title.png') no-repeat;
	font-size: 24px;
	line-height: 60px;
	padding-left: 30px;
	color: #ffffff;
	text-transform: uppercase;
	margin: 0;	
}

#lay-main > .center .title .breadcrumb {
	padding-left: 30px;
	padding-right: 30px;	
}

#lay-main > .center .title .breadcrumb ul {
	margin: 0;
	height: 22px;
	padding-top: 18px;
	background: url('/_resources/media/img/default/bg_line.png') repeat-x bottom;
}

#lay-main > .center .title .breadcrumb ul li {
	margin: 0;
	list-style: none;
	float: left;
	line-height: 1em;
	background: url('/_resources/media/img/default/icon_mark_breadcrumb.png') no-repeat left center;
	padding-left: 12px;
	padding-right: 5px;
}

#lay-main > .center .title .breadcrumb ul li:first-child {
	background: none;
	padding-left: 0;
}
#lay-main > .center .content {
	padding: 30px;
}

#lay-footer {
	background: #ffffff url('/_resources/media/img/default/bg_footer_bottom.png') repeat-x bottom;
	padding-left: 25px;
	padding-right: 25px;
	font-size: 13px;
}

#lay-footer .top {
	height: 10px;
	font-size: 0;
	background: url('/_resources/media/img/default/bg_footer_top.png') no-repeat;
}

#lay-footer .newsletter {
	padding-top: 9px;
	padding-bottom: 10px;
	height: 30px;
	padding-left: 20px;
	background: url('/_resources/media/img/default/bg_footer_newsletter.png') repeat-x;
}

#lay-footer .newsletter ul {
	margin: 0;
}

#lay-footer .newsletter ul li {
	margin: 0;
	list-style: none;
	float: left;
	margin-left: 10px;
}
#lay-footer .newsletter ul li:first-child {
	margin-left: 0;
}

#lay-footer .newsletter ul li.label {
	padding-top: 0.5em;
}
#lay-footer .menu {	
	padding-top: 1.5em;
	padding-bottom: 1.5em;
}

#lay-footer .menu ul {
	margin: 0;
}

#lay-footer .menu ul li {
	margin: 0;
	list-style: none;
}

#lay-footer .menu > ul > li {
	float: left;
	width: 210px;
	margin-left: 30px;
}

#lay-footer .menu > ul > li:first-child {
	margin-left: 0;
}

#lay-footer .menu > ul > li h2 {
	font-size: 13px;
	line-height: 1.5em;
	text-transform: uppercase;
}
#lay-footer .menu > ul > li h2 a {
	color: #231f20;
}

#lay-footer .menu > ul > li > ul > li {
	padding-left: 10px;
	background: url('/_resources/media/img/default/icon_mark_footer.png') no-repeat left center;
}

#lay-footer .menu > ul > li > ul > li a {
	color: #666666;
}
#lay-footer .bottom {
	border-top: 1px solid #c0e5f7;
	line-height: 1em;
	padding-top: 1em;
	padding-bottom: 1em;
}

#lay-footer .bottom span {
	color: #055c8e;
}

#lay-footer .bottom ul {
	margin: 0;
	float: right;
	margin-top: -0.5em;
	
}

#lay-footer .bottom ul li {
	float: left;	
	list-style: none;
	margin-left: 3px;		
}
#lay-footer .bottom ul li a {
	display: block;
	width: 24px;
	height: 24px;
}
#lay-footer .bottom ul li:first-child {
	margin-left: 0;
}

#lay-footer .bottom ul li {
	vertical-align: top;
}

#lay-footer .bottom ul li.twitter {
	background: url('/_resources/media/img/default/icon_footer_twitter.png');
}
#lay-footer .bottom ul li.facebook {
	background: url('/_resources/media/img/default/icon_footer_facebook.png');
}
#lay-footer .bottom ul li.flickr {
	background: url('/_resources/media/img/default/icon_footer_flickr.png');
}
#lay-footer .bottom ul li.youtube {
	background: url('/_resources/media/img/default/icon_footer_youtube.png');
}
#lay-footer .bottom ul li.feed {
	background: url('/_resources/media/img/default/icon_footer_feed.png');
}
.right .meteorologia {
	margin-top:20px;
	padding:0px;
}
.right .meteorologia h1 {
	border-bottom:1px solid #c0e5f7;
	margin-bottom:0px;
	height:20px;
	padding:7px 0px 0px 20px;
}
.right .item-aba {
	height:200px;
}
.right .tit-aba {
	border-bottom:1px solid #;
}
.right .box-accordion {
	border:0px;	
}
.right .box-accordion #bt-aba-accordion {
	background:url('/_resources/media/img/default/bt-aba-home.png') ;
	height:22px;
	padding:5px 0px 0px 20px;
	cursor: pointer;
	font-size: 13px;
	text-transform: uppercase;
	color: #055C8E;
	font-weight:100;
	border-top:1px solid #c0e5f7;
}
.right #accordion-tmp {
	background:url('/_resources/media/img/default/bg-meteorologia-home.png') repeat-x top left;
}
.right .box-accordion #bt-aba-accordion a {
	font-size: 13px;
	text-transform: uppercase;
	font-weight:100;
}
.right .box-accordion #accordion-tmp {
	padding:15px 0px 15px 20px;
}