html, body {
	font-family: "proxima-nova",sans-serif;
	font-size: 14px;
	line-height: 1.5em;
	font-weight: 300;
	color: #666666;		
	background: #ffffff url('/_resources/media/img/default/bg.png');
}

body.print {
	background: #ffffff;
	padding-left: 20px;
	padding-top: 20px;
}

hr {
	display: block;
	height: 0px;	
	font-size: 0px;
	line-height: 0px;
	border: 0px;
	margin: 0px;
	border-bottom: 1px solid #c0e5f7;
}

h1 {	
	font-size: 28px;		
	color: #055c8e;
	font-weight: 500;
	margin: 0px;
	margin-bottom: 0.5em;
	line-height: 1em;
}

h2 {
	font-size: 20px;		
	color: #a21505;
	font-weight: 300;
	line-height: 1.5em;
	border-bottom: 1px solid #c0e5f7;
	margin: 0px;	
	margin-top: 1em;
	margin-bottom: 1em;
}

h3 {
	font-size: 18px;		
	font-weight: 500;
	margin: 0px;
	margin-top: 1em;
	margin-bottom: 0.5em;
	color: #a21505;
}

blockquote,ul,ol,dl {
	/* Giving blockquotes and lists room to breath. */
	margin: 1em;
}

ol,ul,dl {
	/* Bringing lists on to the page with breathing room. */
	margin-left: 2em;
}

ol li {
	/* Giving OL's LIs generated numbers. */
	list-style: decimal outside;
}

ul li {
	/* Giving UL's LIs generated disc markers. */
	list-style: square outside;
}

em {
	font-style: italic;
}

p {
	margin-bottom: 1.5em;
}

input {
	outline: none;
}
strong {
	font-weight: 500;
}
address {
	font-style: normal;
}
a, a:link, a:visited, a:active {
	color: #055c8e;
	text-decoration: none;
	font-weight: 300;
}
a:hover {
	text-decoration: underline;
}
