@charset "UTF-8";

.guideWindow { text-align: center; }
.guideWindow h2 { font:bold 18px/30px 'Microsoft Yahei' , 'Simhei'; color: #000; }
.guideWindow p { font:normal 14px/24px 'Microsoft Yahei' , 'Simhei'; color: #666; }
.guideWindow p.bin-weixin { width: 100%; overflow: hidden; padding: 15px 0; }
.guideWindow p.bin-weixin img { width: 168px; height: 168px; overflow: hidden; display: block; margin: 0 auto; }
.guideWindow p a { margin: 0px 3px; color: #189ae5; }
.guideWindow .yihouzaishou {
	margin-top: 30px;
    background: #189ae5;
    border: 1px solid #189ae5;
    width: 100px;
    height: 33px;
    padding: 0 20px;
    text-align: center;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    zoom:1;cursor: pointer;
    font: 400 16px/33px "Microsoft YaHei",'Simhei',Arial,Helvetica;
}
.guideWindow .yihouzaishou:hover {
    background: #0b8dd6;
    border: 1px solid #0b8dd6;
    color: #fff
}

/* 绑定微信后推荐订阅 */
.dsbguideUser { text-align: left; width: 620px; overflow: hidden; margin-top: -25px; }
.dsbguideUser .searchBar { width: 230px; padding: 0 5px; height:26px; overflow: hidden; border: 1px solid #dcdcdc; margin: 10px auto; }
.dsbguideUser .searchBar input { width:200px; height: 16px; padding: 5px 0; border: none; float: left; font:normal 14px/16px 'Microsoft Yahei','Simhei'; color: #999; }
.dsbguideUser .searchBar .dsbwxcommendSearchBtn { width: 30px; height: 26px; background: url('/hrloo/weixin/img/search.png') no-repeat 0 0; overflow: hidden; float: left; cursor: pointer; text-indent: -9999px; }
.dsbguideUser h2 { text-align: center; font:normal 22px/30px 'Microsoft Yahei' , 'Simhei'; color: #000; }
.dsbguideUser h3 { margin-bottom: 5px; }
.dsbguideUser p { font:normal 14px/18px 'Microsoft Yahei' , 'Simhei'; color: #999; }
.dsbguideUser .dsbguideUserConter { border-top: 1px solid #f4f4f4; margin-top: 15px; }
.dsbguideUser li { width: 300px; height: 88px; padding: 10px 0px; overflow: hidden; border-bottom: 1px solid #f4f4f4; float: left;}
.dsbguideUser li img { margin-right: 15px; }
.dsbguideUser li .scBtn { text-align: center; vertical-align: middle; padding-top: 2px; } 
.dsbguideUser li .scBtn span { margin-right: 15px; }
.dsbguideUser li .scCount { vertical-align: middle; padding-top: 2px; color: #999; }
.dsbguideUser li .scCount span { color: #189ae5; margin: 0 3px; } 
.dsbguideUser li .dsbpscribe { width: 60px; height: 22px; overflow: hidden; display: block; background: url('/hrloo/global/img/common/scribe.png') no-repeat 0px 0px; cursor: pointer; text-indent: -9999px; }
.dsbguideUser li .dsbpscribe:hover { background: url('/hrloo/global/img/common/scribe.png') no-repeat 0px -22px; }
.dsbguideUser li .dsbpscribed { width: 60px; height: 22px; overflow: hidden; display: block; background: url('/hrloo/global/img/common/scribe.png') no-repeat 0px -44px; cursor: pointer; text-indent: -9999px; }
.dsbguideUser li .dsbpscribed:hover { background: url('/hrloo/global/img/common/scribe.png') no-repeat 0px -66px; }

/* 订阅成功提示 */
.dsbguideUser .success { text-align: center; font:normal 24px/31px 'Microsoft Yahei' , 'Simhei'; color: #666; }
.dsbguideUser .success span { display: inline-block; }
.dsbguideUser .success i { width: 31px; height: 31px; display: inline-block; overflow: hidden; background: url('/hrloo/uc/index/img/uc_index/right.png') no-repeat 0px 0px; margin-right: 15px; float: left; }
.dsbguideUser .success b { font-weight: normal; }
.dsbguideUser .success em { color: #f06514; }

/* 绑定微信后推荐订阅 之分页 */
.dsbm-pageBar { text-align: center; padding: 10px 0; }
.dsbm-pageBar span { display: inline-block; height: 24px; line-height: 24px; border: 1px solid #d6d6d6; color: #888; background: #FFF; zoom:1; padding: 0px 8px; font-size: 12px; font-family: 'Microsoft Yahei', 'Simhei'; margin-left: 5px; cursor: pointer; }
.dsbm-pageBar span:hover { border: 1px solid #189be4; text-decoration: none; color: #189be4; }
.dsbm-pageBar span.selected { background: #189be4; border: 1px solid #189be4; color: #fff; text-decoration: none; cursor: default; }
.dsbm-pageBar span.disabled , .dsbm-pageBar span.disabled:hover { background: #fff; color: #CCC; cursor: default; text-decoration: none; border: 1px solid #ddd; }
