html.primary-lb-box-oh, body.primary-lb-box-oh {
  overflow: hidden;
  height: auto; }

#primary-lb-box {
  display: none;
  z-index: 999999999;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #071c3a; }
  #primary-lb-box.show {
    display: block; }
  #primary-lb-box .primary-lb-box-container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: -99; }
    #primary-lb-box .primary-lb-box-container .primary-lb-box-video-bg {
      position: fixed;
      top: 50%;
      left: 50%;
      width: 1920px;
      min-height: 100%;
      height: auto;
      z-index: -100;
      -ms-transform: translateX(-50%) translateY(-50%);
      -moz-transform: translateX(-50%) translateY(-50%);
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      background-size: cover; }
    #primary-lb-box .primary-lb-box-container .primary-lb-box-header {
      position: absolute;
      width: 100%;
      height: 54px;
      top: 24px;
      left: 0; }
      #primary-lb-box .primary-lb-box-container .primary-lb-box-header .primary-lb-box-logo {
        width: 54px;
        height: 54px;
        display: block;
        margin: 0 auto; }
        #primary-lb-box .primary-lb-box-container .primary-lb-box-header .primary-lb-box-logo img {
          width: 54px;
          height: 54px; }
      #primary-lb-box .primary-lb-box-container .primary-lb-box-header .primary-lb-box-close {
        position: absolute;
        top: 0px;
        right: 24px;
        width: 21px;
        height: 21px;
        background: url("../images/primary-lb-box-close.png");
        background-size: contain; }
    #primary-lb-box .primary-lb-box-container .primary-lb-box-content {
      position: absolute;
      top: 48px;
      left: 0px;
      width: 100%;
      height: calc(100% - 74px);
      overflow: scroll;
      display: table; }
      #primary-lb-box .primary-lb-box-container .primary-lb-box-content .flr {
        float: right; }
      #primary-lb-box .primary-lb-box-container .primary-lb-box-content .mr-22 {
        margin-right: 22px; }
      #primary-lb-box .primary-lb-box-container .primary-lb-box-content .primary-lb-box-content-inner {
        padding: 20px 0;
        display: table-cell;
        vertical-align: middle; }
        #primary-lb-box .primary-lb-box-container .primary-lb-box-content .primary-lb-box-content-inner h1, #primary-lb-box .primary-lb-box-container .primary-lb-box-content .primary-lb-box-content-inner p {
          color: #33536e;
          font-family: "Turkcell Satura Bold";
          font-weight: bold;
          text-align: center; }
        #primary-lb-box .primary-lb-box-container .primary-lb-box-content .primary-lb-box-content-inner h1 {
          font-size: 64px; }
        #primary-lb-box .primary-lb-box-container .primary-lb-box-content .primary-lb-box-content-inner p {
          margin: 0;
          padding: 10px 0 0 0;
          font-size: 26px;
          line-height: 26px; }
        #primary-lb-box .primary-lb-box-container .primary-lb-box-content .primary-lb-box-content-inner .primary-lb-box-video {
          width: 840px;
          height: 472px;
          margin: 20px auto;
          position: relative;
          top: -2px; }
          #primary-lb-box .primary-lb-box-container .primary-lb-box-content .primary-lb-box-content-inner .primary-lb-box-video #home-video {
            z-index: 3;
            position: relative; }
          #primary-lb-box .primary-lb-box-container .primary-lb-box-content .primary-lb-box-content-inner .primary-lb-box-video #comtrvideo {
            width: 100px;
            height: 100px;
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            margin: 36px 58px;
            z-index: 4; }
        #primary-lb-box .primary-lb-box-container .primary-lb-box-content .primary-lb-box-content-inner .primary-lb-box-button-wrapper {
          width: 840px;
          margin: 0 auto; }
          #primary-lb-box .primary-lb-box-container .primary-lb-box-content .primary-lb-box-content-inner .primary-lb-box-button-wrapper a {
            font-size: 12px;
            color: #011d33;
            text-align: center;
            width: 210px;
            display: inline-block;
            background-color: #ffe100;
            padding: 17px 0;
            transition: all 200ms;
            font-family: "Helvetica";
            font-weight: bold; }
            #primary-lb-box .primary-lb-box-container .primary-lb-box-content .primary-lb-box-content-inner .primary-lb-box-button-wrapper a:hover {
              opacity: 0.9;
              transition: all 200ms; }
        #primary-lb-box .primary-lb-box-container .primary-lb-box-content .primary-lb-box-content-inner .primary-lb-box-checkbox-wrapper {
          overflow: hidden;
          position: relative;
          display: table;
          float: left;
          width: 280px;
          background-color: #011d33; }
          #primary-lb-box .primary-lb-box-container .primary-lb-box-content .primary-lb-box-content-inner .primary-lb-box-checkbox-wrapper input {
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)";
            opacity: 0;
            position: absolute; }
          #primary-lb-box .primary-lb-box-container .primary-lb-box-content .primary-lb-box-content-inner .primary-lb-box-checkbox-wrapper label {
            color: #ffffff;
            font-size: 12px;
            margin-bottom: 0;
            position: relative;
            line-height: 30px;
            padding: 10px 0 10px 50px;
            font-family: "Helvetica";
            font-weight: bold; }
            #primary-lb-box .primary-lb-box-container .primary-lb-box-content .primary-lb-box-content-inner .primary-lb-box-checkbox-wrapper label:before, #primary-lb-box .primary-lb-box-container .primary-lb-box-content .primary-lb-box-content-inner .primary-lb-box-checkbox-wrapper label:after {
              position: absolute;
              top: 15px;
              left: 20px;
              content: ""; }
            #primary-lb-box .primary-lb-box-container .primary-lb-box-content .primary-lb-box-content-inner .primary-lb-box-checkbox-wrapper label:before {
              width: 16px;
              height: 16px;
              border: 2px solid #ffffff; }
            #primary-lb-box .primary-lb-box-container .primary-lb-box-content .primary-lb-box-content-inner .primary-lb-box-checkbox-wrapper label:after {
              left: -29px;
              width: 20px;
              height: 20px;
              background: url("//d.turkcell.com.tr/Downloads/bireysel/html/emocanlar/lightbox/assets/images/primary-lb-box-check-box.png") no-repeat 0 0;
              background-size: 14px; }
          #primary-lb-box .primary-lb-box-container .primary-lb-box-content .primary-lb-box-content-inner .primary-lb-box-checkbox-wrapper input:checked + label:after {
            left: 23px;
            top: 20px; }

@media screen and (min-width: 1024px) and (max-width: 1380px) and (max-height: 680px) {
  #primary-lb-box .primary-lb-box-container .primary-lb-box-video-bg {
    margin-top: -35px; }
  #primary-lb-box .primary-lb-box-container .primary-lb-box-content {
    top: 0px; } }
@media screen and (min-width: 1350px) and (max-width: 1360px) and (min-height: 630px) and (max-height: 640px) {
  #primary-lb-box .primary-lb-box-container .primary-lb-box-video-bg {
    margin-top: -28px; } }

/*# sourceMappingURL=primary-lb-box.css.map */
