/* CSS Document */
body{color:#666666; margin:0; padding:0}
/*.btn_blue_w150, .sub_btn, .node { background:url(http://static.51auto.com/images/v1/area/area_more.gif);}*/


.mainwrap{
	 font-family:\5fae\8f6f\96c5\9ed1,tahoma,Arail,sans-serif; 
	font-size:16px;
	
	}
.area_txt { font-weight:bold; padding:41px 0 0 15px; font-size:14px; width:700px; float:left;}
.area_txt b { color:#f00; font-size:24px;}
.area_txt_w { width:auto;}
.line_h2 { height:4px; overflow:hidden; background:#008cd6; margin:5px 0 0 0; _margin:0;}

.btn_blue_w150 { width:auto; padding:0 10px; border:1px solid #0d69ac; height:25px; display:inline-block; color:#fff; text-align:center; line-height:24px; *line-height:30px; _line-height:27px; vertical-align:middle; font-size:14px; font-weight:bold;}
.btn_blue_w150:hover { color:#fff;}




.area_con ul { width:230px; float:left; margin-bottom:10px;}
.area_con ul li { width:97px; height:28px; float:left; margin-right:10px;  border-bottom:none; text-align:center; line-height:28px; vertical-align:middle;  font-size:16px; cursor:pointer;}
ul li.cur { position:relative;  height:29px;  color:#2b8bd5;}
.area_con p { width:430px; float:left; font-size:14px; padding-top:10px;}
.area_con p a { display:inline-block; margin:0 8px;}
.sub_btn { background-position:0 -30px; width:100px; height:25px; line-height:25px; vertical-align:middle; color:#fff; border:none; font-weight:bold; margin:0 5px; cursor:pointer;} 
.txt { border:1px solid #bcbcbc; color:#8e8e8e; font-size:12px; padding-left:5px; height:20px; line-height:20px; vertical-align:middle; width:175px;}
.area_con form { float:right;}
.node { width:16px; height:30px; line-height:30px; vertical-align:middle; color:#ff8833; font-size:26px; font-weight:bold; display:block; float:left; padding-left:5px; margin-right:15px;  }
.area_con ol, .area_con dl { border-top:1px solid #2b8bd5; height:auto; overflow:hidden; margin-bottom:10px;  padding:8px 0 0 0; width:960px;}
.area_con ol li{ margin:15px auto; height:auto; overflow:hidden; width:930px;}
.area_con ol div{ line-height:24px;}
.area_con dt { margin-right:15px; color:#ff8833; font-size:22px;  padding:5px 0; width:120px; text-align:left;}
.area_con dt {margin:15px 0 5px 0;}
.area_con dt, .area_con dd {margin-left:15px;}
.area_con dd { line-height:23px; margin-left:0px; clear:both; margin-bottom:5px;}
.area_con dd a{ display:block; padding:5px 15px; float:left;}
.area_con dd span.province { display:block; margin:5px 5px 5px 15px; float:left; width:60px; color:#2b8bd5; font-size:20px;}

/* added by sophie */
.area_info {margin:0; font-size:16px; padding-left:20px; font-family:\5fae\8f6f\96c5\9ed1,tahoma,Arail,sans-serif;  width:190px; float:left; }
.currstation a{
	
	font-size:24px;
	color:#ff8833;
	text-decoration:none;
	
}

.area_hot { width:430px; float:left; font-size:16px; padding-top:3px; }
 
 

.txt_orange,
.area_hot a.txt_orange{
	color:#ff8833;
	font-size:16px;
	
	
}

.area_hot a{
	color:#666666;
	text-decoration:none;
	
	
}
.area_hot a:hover{
	color:#ff8833;
	font-size:16px;
}

ul,li{
	margin:0;
	padding:0;
	list-style:none;
}
.area_hot li{
	float:left;
	margin:0 4px;
	list-style:none;
	
}



.searchinfo_bar{
	 font-family:\5fae\8f6f\96c5\9ed1,tahoma,Arail,sans-serif;
	 margin:34px auto;
	 line-height:28px;
	 font-size:16px;
	 width:960px;
	 
	 
	
}

.clear{
	clear:both;
}

.input_box{
	border:1px solid #dddddd;
	width:320px;
	float:left;
	height:33px;
	position:relative;
	font-size:14px;
	
}

.input_box input{
	border:0;
	 padding:3px;
 	height:20px;
	width:244px;
	margin-top:3px;
	font-family:\5fae\8f6f\96c5\9ed1,tahoma,Arail,sans-serif;
	float:left;
	font-size:14px;
	
}

a.btn_search{
	background:#2b8bd5;
 
	font-size:16px;
	color:#fff;
	display:block;
	text-decoration:none;
	width:60px;
	float:left;
	text-align:center;
	height:33px;
	line-height:33px;
	
	
}

.pop_search{
	position:absolute;
	width:260px;
	border:1px solid #dddddd;
	z-index:33;
	top:33px;
	left:-1px;
	font-size:14px;
	background:#fff;
	display:none;
	
}
.pop_search li{
	padding:5px 5px;
	cursor:pointer;
	
	 
	
}
 .pop_search li:hover{
	 background:#f7f7f7;
	 
 }
	
.pop_search li.bggrey{
	
	background:#f7f7f7;
	 
	
}

.pop_search li.errormsg{
	background:#f7f7f7;
	color:#ff8833;
	
}

.cur_bluearrow{
	width:7px;
	height:4px;
	display:block;
	background:url(http://static.51auto.com/images/v1/home2014/icon/arrow_blue.png) no-repeat;
	position:relative;
	left:50px;
	
	
	
	
}
.area_con ol{
	clear:both;
	z-index:100
}
.area_con ol li a{
	display:block;
	float:left;
	padding:0 8px 5px 18px;
	white-space:nowrap;
	 
	
}



.more_city{
	width:80px;
	float:left;
	display:none;
	margin-left:10px;
}

.area_con ol li .more_city a{
	background:#f0f0f0;
	padding:1px 15px;
	white-space:nowrap;
	font-size:14px;
	
	
	
	
}
.area_con dd .more_city a{
	background:#f0f0f0;
	padding:1px 15px;
	white-space:nowrap;
	font-size:14px;
	
	
	
	
}
.area_con ol li a.plusup_city,
.area_con dd a.plusup_city
{
	background:url(http://static.51auto.com/images/v1/home2014/icon/arrow_greyup.png) 50px center no-repeat #f0f0f0;
	padding:1px 30px 1px 15px;
	white-space:nowrap;
	font-size:14px;
	display:none;
	margin-left:10px;
	
	 
	 
}
.area_con dd a.plusup_city
{
margin-top:5px;
}

.more_city_detail{
		
	float:left;
	width:760px;
	position:relative
	
	
	
	
}
 .lesscity{
	height:25px;
	overflow:hidden;
	
	 
 }
 .morecity {
   
	height:auto;
	overflow:auto;
	
	
	 
	
}




.area_con ol li a.more_city_disabled,
.area_con dd a.more_city_disabled 
{
	color:#999999;
	
}
 
 
 
 .area_province{
	 margin-left:80px;
 }
 
 /*changed by yan */
 
 #box{width:600px;text-align:left;margin:0 auto;padding-top:80px;}
#suggest,#suggest2{width:250px; z-index:1000; background:#fff;}
.gray{color:gray;}
.ac_results {background:#fff;border:1px solid #ddd;position:absolute;z-index:10000;display:none;}
.ac_results ul{margin:0;padding:0;list-style:none;border-top:1px solid #f0f0f0;}
.ac_results li a{white-space:nowrap;text-decoration:none;display:block;color:#666;padding:1px 3px; font-size:12px;}/*下拉框字体*/
.ac_results li{border:1px solid #fff;}
.ac_over,.ac_results li a:hover {background:#f0f0f0;} /*鼠标移上去颜色*/
.ac_results li a span{float:right; display:none;}
.ac_result_tip{padding:3px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; background:#f7f7f7;color:#ff8833;}
.ac_results .ac_result_tip{ font-size:12px;}
.sel_city_notice{position:relative; float:left; width:320px;}
.sel_city_input{ border:1px solid #ddd; height:28px; width:230px; padding-left:10px; font-size:14px; height:29px; float:left;
 font-family:\5fae\8f6f\96c5\9ed1;}
 
 .searchinfo_bar{ position:relative; z-index:9999;}
.sel_city_input{ line-height:30px;}
#suggest ul{ }
#suggest{ margin:0; padding:0;}

 /*changed by zhang 2015.4.13 */
.container {
	 width:1180px;
	 margin:0 auto;
 }
 
.source-list {
    font-size: 0
}

.source-list a {
    display: inline-block;
    *display: inline;
    *zoom:1;
	padding-right: 20px;
    width: 220px
}

.source-list dl dt img {
    height: 165px;
    width: 220px
}

.source-list dl .title {
    color: #444;
    font: normal normal normal 16px/40px microsoft yahei,simsun;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -moz-binding: url("ellipsis.xml#ellipsis");
    width: 220px
}

.source-list dl dd .prefix {
    color: #e13436;
    font: normal normal bolder 16px/25px microsoft yahei,simsun
}

.source-list dl dd .price {
    color: #e13436;
    font: normal normal normal 20px/30px microsoft yahei,simsun
}

.source-list dl dd .summary {
    color: #666;
    float: right;
    font: normal normal normal 12px/25px microsoft yahei,simsun;
	margin-top:2px;
}

.source-list .last {
    margin: 0
}
.pull-left {
display: block;
float: left;
}
.pull-right {
display: block;
float: right;
}


.car-wrap {
    height: 360px;
    margin-top: 30px;
}

.car-wrap h2 {
    font-size: 20px;
    font-weight: normal
}

.car-wrap .tabs-handle {
    border-bottom: 2px solid #0060a5;
    background-color: #f0f0f0;
    margin-bottom: 30px
}

.car-wrap .tabs-handle li {
    cursor: pointer;
    display: inline-block;
    *display: inline;
    *zoom:1;font-size: 20px;
    padding: 15px 50px
}

.car-wrap .tabs-handle li.on {
    background-color: #0060a5;
    color: #fff
}

.news-list {
    display: none
}

.news-list li {
    color: #ddd;
    float: left;
    font-size: 14px;
    height: 20px;
    list-style-type: disc;
    list-style-position: inside;
    line-height: 20px;
    overflow: hidden;
    padding: 0 10px 0 10px;
    margin-bottom: 5px;
    width: 48%
}

.news-list li a {
    color: #999
}

.news-list li a:hover {
    color: #0060a5
}

.qa-list {
    display: none
}

.qa-list ul {
    float: left;
    width: 50%
}

.qa-list li {
    color: #ddd;
    font-size: 14px;
    height: 20px;
    list-style-type: disc;
    list-style-position: inside;
    line-height: 20px;
    overflow: hidden;
    padding: 0 10px 0 10px;
    margin-bottom: 5px
}

.qa-list li a {
    color: #999
}

.qa-list li a:hover {
    color: #0060a5
}

.slide {
    display: block;
    overflow: hidden;
    position: relative;
    width: 1180px
}

.slide ul {
    display: block
}

.slide ul li {
    display: block;
    float: left
}

.slide .prev {
    background: url(http://cdn01.51autoimg.com/apps/2015.51auto.com/css/images/slider-arrow.png) no-repeat 0 -54px;
    cursor: pointer;
    height: 53px;
    position: absolute;
    left: 0;
    top: 80px;
    width: 25px;
    z-index: 100
}

.slide .next {
    background: url(http://cdn01.51autoimg.com/apps/2015.51auto.com/css/images/slider-arrow.png) no-repeat 0 0;
    cursor: pointer;
    height: 53px;
    position: absolute;
    right: 0;
    top: 80px;
    width: 25px;
    z-index: 100
}

.hot-brand {
    display: none;
    overflow: hidden;
    width: 100%
}

.hot-brand li {
    color: #ddd;
    float: left;
    font-size: 14px;
    height: 20px;
    list-style-type: disc;
    list-style-position: inside;
    line-height: 20px;
    overflow: hidden;
    padding: 0 10px 0 10px;
    margin-right: 50px;
    margin-bottom: 5px;
    width: 125px
}

.hot-brand li a {
    color: #999
}

.hot-brand li a:hover {
    color: #0060a5
}
