body {font-family:\5fae\8f6f\96c5\9ed1,tahoma,\5b8b\4f53,Arail,sans-serif;margin:0; padding:0; background: #FFF; font-size:12px; color:#666666;}
div,form,p,img,ul,ol,li,dl,dt,dd {margin: 0; padding: 0; border: 0; }
ul,li{ list-style:none; }
h1,h2,h3,h4,h5,h6{ margin:0; padding:0;font-size:12px;}
a img{ border:none; }
img{ -ms-interpolation-mode:bicubic }
em, cite, th, i{ font-style:normal; font-weight:normal;}
a {color:#666; text-decoration:none;}
a:hover {color: #ff8833; text-decoration:none;} 
.allow{background-image:url(http://static.51auto.com/images/v1/home2014/icon/icon_pack.gif);}

/* CSS Document */
/*文字排版*/
.f12 { font-size: 12px; }
.f13 { font-size: 13px; }
.f14 { font-size: 14px; }
.f16 { font-size: 16px; }
.f20 { font-size: 20px; }
.fb { font-weight: bold }
.fn { font-weight: normal; }
.t2 { text-indent: 2em; }
.lh150 { line-height: 150%; }
.lh180 { line-height: 180%; }
.lh200 { line-height: 200%; }
.unl { text-decoration: underlline; }
.no_unl { text-decoration: none; }
/*定位*/
.tl { text-align: left; }
.tc { text-align: center; }
.tr { text-align: right; }
.bc { margin-left: 0; margin-right: 0; }
.fl { float: left; display: inline; }
.fr { float: right; display: inline; }
.cb { clear: both; }
.cl { clear: left; }
.cr { clear: rigth; }
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.vm { verticle-align: middle; }
.pr { position: relative; }
.pa { position: absolute; }
.abs-right { position: absolute; right: 0 }
.zoom { zoom: 1; }
.hidden { visiility: hidden; }
.none { display: none; }
/*长度高度*/
.w10 { width: 10px; }
.w20 { width: 20px; }
.w30 { width: 30px; }
.w40 { width: 40px; }
.w50 { width: 50px; }
.w60 { width: 60px; }
.w70 { width: 70px; }
.w80 { width: 80px; }
.w90 { width: 90px; }
.w100 { width: 100px; }
.w200 { width: 200px; }
.w300 { width: 300px; }
.w400 { width: 400px; }
.w500 { width: 500px; }
.w600 { width: 600px; }
.w700 { width: 700px; }
.w800 { width: 800px; }
.w { width: 100% }
.h50 { width: 50px; }
.h80 { width: 80px; }
.h100 { width: 100px; }
.h200 { width: 200px; }
.h { height: 100% }
/*边距*/
.m10 { margin: 10px; }
.m15 { margin: 15px; }
.m30 { margin: 30px; }
.mt5 { margin-top: 5px; }
.mt10 { margin-top: 10px; }
.mt15 { margin-top: 15px; }
.mt20 { margin-top: 20px; }
.mt30 { margin-top: 30px; }
.mt50 { margin-top: 50px; }
.mt100 { margin-top: 100px; }
.mb5 { margin-bottom: 5px; }
.mb10 { margin-bottom: 10px; }
.mb15 { margin-bottom: 15px; }
.mb20 { margin-bottom: 20px; }
.mb30 { margin-bottom: 30px; }
.mb50 { margin-bottom: 50px; }
.mb100 { margin-bottom: 100px; }
.ml5 { margin-left: 5px; }
.ml10 { margin-left: 10px; }
.ml15 { margin-left: 15px; }
.ml20 { margin-left: 20px; }
.ml30 { margin-left: 30px; }
.ml50 { margin-left: 50px; }
.ml100 { margin-left: 100px; }
.mr5 { margin-right: 5px; }
.mr10 { margin-right: 10px; }
.mr15 { margin-right: 15px; }
.mr20 { margin-right: 20px; }
.mr30 { margin-right: 30px; }
.mr50 { margin-right: 50px; }
.mr100 { margin-right: 100px; }
.p10 { padding: 10px; }
.p15 { padding: 15px; }
.p30 { padding: 30px; }
.pt5 { padding-top: 5px; }
.pt10 { padding-top: 10px; }
.pt15 { padding-top: 15px; }
.pt20 { padding-top: 20px; }
.pt30 { padding-top: 30px; }
.pt50 { padding-top: 50px; }
.pt100 { padding-top: 100px; }
.pb5 { padding-bottom: 5px; }
.pb10 { padding-bottom: 10px; }
.pb15 { padding-bottom: 15px; }
.pb20 { padding-bottom: 20px; }
.pb30 { padding-bottom: 30px; }
.pb50 { padding-bottom: 50px; }
.pb100 { padding-bottom: 100px; }
.pl5 { padding-left: 5px; }
.pl10 { padding-left: 10px; }
.pl15 { padding-left: 15px; }
.pl20 { padding-left: 20px; }
.pl30 { padding-left: 30px; }
.pl50 { padding-left: 50px; }
.pl100 { padding-left: 100px; }
.pr5 { padding-right: 5px; }
.pr10 { padding-right: 10px; }
.pr15 { padding-right: 15px; }
.pr20 { padding-right: 20px; }
.pr30 { padding-right: 30px; }
.pr50 { padding-right: 50px; }
.pr100 { padding-right: 100px; }
.mainWrap{ width:960px; display:block;margin:auto;}

/*---font color---*/
.red,a.red:hover,a.red:visited,a.red:link,a.red:active {color:#df0000;}
.greenm{color:#609c17}
.fgray{color:#6e6e6e;}
.gray{ color:#9a9a9a;}
.gray2{ color:#333;}
.yellow { color: #FFF333;}
.yellow a{ color: #FFF333;}
.yellow a:hover{ color: #FFF333;}
.orange,.orange a{ color:#ff6600;}
.blue{ color:#003399;}

/*---other---*/
.left{ float:left;}
.right{ float:right;}
.right_side{ width:200px; float:right; overflow:hidden;}
.right_side2{ width:750px;float:right; overflow:hidden;}
.right_side3{ width:200px; float:right;}
.left_side{ width:750px;float:left; overflow:hidden;}
.left_side2{ width:200px; float:left;}
.blank3{ height:3px; clear:both;display:block; font-size:1px;overflow:hidden;}
.blank9{ height:9px; font-size:1px;display:block; clear:both;overflow:hidden;}
.blank6{ height:6px; font-size:1px; display:block;clear:both;overflow:hidden;}
.blank12{ height:12px; font-size:1px;clear:both;overflow:hidden;}
.blank10{ height:10px; font-size:1px;clear:both;overflow:hidden;}
.mar10 { margin-left:10px;}
.m10{ margin:10px;}
.m15{ margin:15px;}
.ad_top10{ margin:10px 0; width:auto;}/*广告通栏 3/2 3/1 分栏的情况下使用*/
.ad_10{ margin:10px 0; width:auto;}/*不是 3/2 3/1 的使用 */

.ad_top6{ padding-top:6px; float:left; width:auto;}
.ad_top7{ margin:6px 0; width:auto;}
.dis{ display:block;}
.mainwrap{ width:960px; margin:0 auto; clear:both; background:#fff;}
.w50{ width:50px;}
.w100{ width:100px;}
.w120{ width:120px;}
.w140{ width:140px;}
.ha{ height:131px;}
.t10{ margin-top:10px;}
.b10{ margin-bottom:10px;}
.r_li { margin:11px 7px 10px 10px; overflow:hidden;}
.r_li li{ height:21px; line-height:21px; padding-left:13px; background-position:left -510px; background-repeat:no-repeat;overflow:hidden;}

.hide {display: none;}
/*---bg---*/
.site-nav,.lmenu a:hover,.button_t,.button_t2,.button_t3,.button_t4,.g_add_compare,.city_on,.button_sina,.top_iphone,.top_android,.button_search,.tablist li,.r_li li,.r_jyzn li,.tit_a,.tit_b,.r_tool2 a,.phone a,.phone i, .notice_ad_ic,.shortcut .link a,.new_tool a,.back_top{background-image: url(http://static.51auto.com/images/v1/home2012/V1_51auto_icon.gif);}
.clear{clear:both; height:0; overflow:hidden; display:block;}
.fd{ position:relative;}
.border{border:1px solid #e3e3e3;}
.border_b{ border-bottom:1px dashed #e3e3e3; margin-bottom:8px;}
.borderg{border:1px solid #bbd8e6;}
.auto img { vertical-align: middle;}
.auto{border:1px solid #dcdcdc; padding:1px; width:120px; height:92px;*height:90px; 
 display: table-cell;vertical-align:middle;text-align:center; *display: block;*font-size: 79px;*font-family:Arial;}
.auto2 img { vertical-align: middle;}
.auto2{padding:1px; width:120px; height:92px;*height:90px; 
 display: table-cell;vertical-align:middle;text-align:center; *display: block;*font-size: 79px;*font-family:Arial;}

/*---title---*/
.tit_a,.tit_b{height:28px;height:30px\0; line-height:28px;line-height:30px\0; clear:both; }
.tit_a{ border-bottom:1px solid #e3e3e3; background-position:left -635px;}
.tit_b span{ color:#1a6094;}
.tit_a span,.tit_b span{ float:left;font-size:14px; font-weight:bold; margin-left:13px;}
.tit_a span a,.tit_b span a{color:#333;text-decoration: none;}
.tit_a .more,.tit_b .more{ color:#6e6e6e; float:right; margin-right:10px;}
.tit_a a:hover,.tit_b a:hover{color:#df0000}
.tit_b{border-bottom:1px solid #bbd8e6; background-position:left -710px;}
.daohang {clear: both;height: 28px;   line-height: 28px;   margin-top: 2px;   padding-left: 5px;   width: 955px;}	
.daohang h1{display: inline; font-weight:normal;}

/*---button---*/
.button_t,.button_t2,.button_t3,.button_t4,.g_add_compare{height:19px; line-height:19px;  border:1px solid #b4b4b4; text-align:center; display:block;}
.button_t{background-position:right -203px; }
.button_t2{padding-right:8px; background-position:right -251px;}
.button_t3{ background-position:right -558px; float:left;height:25px; line-height:25px; padding:0 5px; border:1px solid #b4b4b4; text-align:center; display:block;}
.button_t4{ padding:0 5px;background-position:right -558px;}
.g_add_compare{ background-position:right -558px;}
.btn{ float:center;}
.cityboxs{width:310px; height:auto;position:absolute;z-index:9999;}
.city_on{width:63px;height:19px; line-height:19px; padding-right:6px; border:1px solid #b4b4b4; border-bottom:none; text-align:center; display:block;background-position:right -227px;position: relative; z-index:9999; }
.city_panel{width:306px;line-height:25px;overflow: hidden;position:absolute;top:19px;border:1px solid #b4b4b4;background:#fff;z-index:-1;}
.city_panel dl{ border-bottom:1px dashed #e3e3e3; margin:0 15px; padding:8px 0 5px 0;}
.city_panel dl.nobot{border-bottom: 0;}
.city_panel dt{ height:25px;}
.city_panel dd{ width:275px; overflow: hidden;}
.city_panel ul{ width:305px; overflow: hidden;}
.city_panel li{ float:left; width:42px;}
.button_search{ width:142px; height:32px; font-size:14px; cursor:pointer; font-weight:bold; color:#ac5900; padding-left:25px; background-position:0px -166px; border:0;}

/*---top---*/
.site-nav{ width:958px; height:28px; line-height:28px;border:1px solid #CCC; margin:1px auto 0;background-position:0px 0px;}
.usersite{ float:left;}
.usersite span{ margin-left:10px;}
.rlink { float:right; margin:0 10px 0;_margin-right:5px; text-align:right;}
.rlink .rlk_l{width:400px;margin:0 5px; float:left; }
.rlink .shortcut{ float:left; z-index:999; cursor:pointer;}
.rlink .shortcut .link a{width:62px;height:28px;color:#6E6E6E;padding-right:8px;text-align:center;display:block;background-position:-139px -892px;background-repeat:no-repeat;text-decoration: none;}
.rlink .shortcut .link a.on{width:60px; height:24px;color:#6E6E6E; padding-right:8px; line-height:22px; margin-top:2px; text-align:center; display:block;border:1px solid #c6c6c6; border-bottom:0; background-color:#fff; z-index:33; background-position:-139px -878px; }

.rlink .shortcut .menu{ width:150px; padding:0 0 10px 12px; text-align:left;border:1px solid #c6c6c6; position: absolute;top:26px;left:-92px;background-color:#fff; overflow:hidden; z-index:-1;}
.rlink .shortcut .menu em{ font-weight:bold; line-height:30px;}
.rlink .shortcut .menu ul{ width:160px;}
.rlink .shortcut .menu li{ width:70px; float:left; padding-right:5px;}
.rlink a,.rsite i{ margin:0 2px;color:#6e6e6e}
.rlink a:hover{ color:#df0000}
.top_ad{width:960px; margin:0 auto; clear:both; overflow:hidden;line-height:0; font-size:0}
.dq{ position:relative; z-index:999999;}
/*--logo nav-*/
.logonav{ height:70px; padding:10px 0;z-index:1;}
.logo_51auto{ width:275px; float:left}
.logonav h1{ float:left;}
.logonav h1 img{ display:block;}
.top_city{ width:69px; float:left; margin:13px 10px 0 27px; position:relative; z-index:9999;}
.top_city span{ font-size:14px; font-weight:bold; line-height:20px;}
.top_banner{ width:520px; float:left;}
.weibo_box{width:135px; float:right; padding:8px 0;}
.top_weibo,.weibo_box .phone{height:23px; line-height:23px;}
.top_weibo span{ float:left;}
.top_weibo a{ float:left;color:#1582bd;}
.top_phone,.weibo_box .phone{ height:20px; margin-top:12px;font-family:"\5b8b\4f53" }
.top_phone span,.top_phone a,.phone span,.phone a{ float:left;}
.top_iphone,.top_android,.top_phone a{width:18px; height:18px; margin-right:5px; display:block;}
.top_iphone{background-position:-69px -230px;}
.top_android{background-position:-90px -230px;}
.button_sina{ width:36px; height:23px; float:left; line-height:23px;background-position:left -226px; padding:0 5px 0 22px;}
.phone a{width:63px; height:23px; float:left;line-height:23px;background-position:right -1437px;}
.phone i{ width:30px; height:15px; display:block; right:-2px; top:-5px;background-position:-106px -1437px; position:absolute;}
.navitems{ width:960px; height:41px;line-height:40px; color:#FFF;background-position:0px -30px;}
.navitems a{ color:#fff;}
.lmenu{ float:left; width:100%; font-size:14px; font-weight: bold;}
.lmenu a{width:121px;float:left;text-align:center;background-position:right -75px; }
.lmenu a:hover,.lmenu a.on{color:#fff;background-position:-79px -120px; }
.rmenu{ float:right;}
.rmenu{ float:right;}
.rmenu a{ float:left; width:60px;}
/*--right--*/
.r_tool3{ width:198px; overflow:hidden;border:1px #e3e3e3 solid;}/**2013 can delete **/
.tab1,.tab2{width:198px;height:30px;color:#333; font-size:14px; font-weight:bold;margin:0;padding:0;background-image: url(http://static.51auto.com/images/v1/home2012/V1_51auto_icon.gif);
background-position: 0 -673px;}
.tab1 li,.tab2 li{ width:98px;text-align:center;float:left;height:29px;line-height:29px;text-align:center;cursor:pointer; border-top:none;}
.tab1 li.on{color:#333; font-size:14px; font-weight:bold;background:#fff;font-weight:bold; border-bottom:none; }
.tab1 li.nowr,.tab2 li.nowr{width:99px;color:#333; font-size:14px; font-weight:bold;font-weight:bold; border-bottom:none; border-left:1px #e3e3e3 solid;background-color:#fff;}
.nowl { border-right:1px #e3e3e3 solid;background-color:#fff;}
.gonggao li.nowr,.mfpingu li.nowr{ background:none;}
.gonggao li.on,.mfpingu li.on{ background-color:#fff;}
.tablist{padding:8px 10px 10px;line-height:24px;border-top:0;display:none;}
.tablist li,.r_jyzn li,.source_car dt{ width:170px; line-height:23px; padding-left:12px; float:left; background-position:left -509px;}
.block{display:block;}
.right_box{width:198px;overflow:hidden; border:1px solid #e3e3e3;}
.r_tool2 a{ width:111px; height:50px; display:block; margin:0 0 5px 0; overflow:hidden; line-height:50px; font-size:14px; font-weight:bold; padding-left:89px;}
.r_tool2 a.b1{ background-position:0px -352px}
.r_tool2 a.b2{ background-position:0px -403px}
.r_tool2 a.b3{ background-position:0px -454px}
.r_tool2 a.b4{ background-position:0px -1299px}
.r_li_b{margin:10px; }
.r_li_b li{width:183px; overflow:hidden; height:23px;line-height:23px;}

.area{ width:960px; line-height:15px;padding-top:10px;*padding-bottom:10px; border: 1px solid #E3E3E3;overflow:hidden; margin-top:22px;}
.area ul{ width:970px;}
.area li{ width:144px; height:15px; float:left; padding:3px 8px; text-align:center; margin-bottom:10px; border-right:1px solid #d5d5d5;  font-size:14px;}

.new_tool{ padding-bottom:10px;}
.new_tool a{ float:left; width:60px; text-align:center; padding:68px 0 0 0;*padding:69px 0 0 0;_padding:68px 0 0 0; margin-right:10px; background-repeat:no-repeat;}
.new_tool .b1{ background-position:0 -1506px}
.new_tool .b2{ background-position:-70px -1506px;}
.new_tool .b3{ background-position:-140px -1506px; margin:0;}
.new_tool .b4{ background-position:0 -1620px}
.new_tool .b5{ background-position:-70px -1620px}
.new_tool .b6{ background-position:-140px -1620px; margin:0;}


/*back to top*/
.float_mess2 {background: none repeat scroll 0 0 #F7F7F7;border: 1px solid #CBCBCB;height: auto;line-height: 16px;text-align: center;width: 19px;}
.icon_5 {background: url(http://static.51auto.com/images/v1/home2012/contrast.gif) no-repeat scroll -19px -29px;display: block;    height: 5px;margin: 5px auto 0;overflow: hidden;width: 7px;}
.float_mess2 a {color: #6E6E6E;display: block;padding: 5px 0 5px 0;}
.back_top{background-position:left -2193px;}
.back_top a{ width:60px; height:20px; display:block; text-align:center; padding-top:30px;}
.back_top a:hover{ text-decoration:none; }


.xxpf,.back_to_top{width:60px; height:17px; padding-top:33px; padding-bottom:3px; text-align:center; display:block; background:#63b0d0;  color:#fff;-moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;}
.xxpf:hover,.back_to_top:hover{ color:#fff; text-decoration:none;}
.xxpf,.xxpf_pop,.xxpf_pop i{ background-image: url(http://static.51auto.com/images/v1/home2012/xxpf.gif);}


.xxpf{ margin-left:490px; background-position:19px 5px;position:absolute;left: 50%; cursor:pointer;}
.back_to_top{background-image: url(http://static.51auto.com/images/v1/home2012/V1_51auto_icon.gif);background-position:-58px -2192px;}


.xxpf_pop{ width:180px; height:100px; line-height:20px; padding:200px 27px 0;background-position:left -75px; text-align:left; }
.xxpf_pop img{ margin:0 3px;vertical-align:middle; }




/*弹框*/
.car_none,.car_submit{background:url(http://static.51auto.com/images/v1/home2012/car_bg_v1.gif);}
.aler_div { width:297px; border:1px solid #d8e1e6; background:#fff; display:none;}
.al_d_t{ display:block; background:#eff2f4; height:31px; padding:0 0 0 15px; line-height:31px; vertical-align:middle; font-size:14px; margin:1px;}
.al_d_t strong { display:block; float:left;} 
.car_none { background-position:-173px -224px; width:19px; height:19px; display:block; cursor:pointer; float:right; margin:5px 5px 0 0;}
.usercont{ padding:20px 15px 10px 15px; overflow:hidden;}
.aler_div .user{ width:220px; display:block; margin:0 auto 10px;}
.user{ color:#6e6e6e;}
.car_submit{ width:75px; height:23px; line-height:23px; float:left; background-position:0 -249px; border:0; color:#FFFFFF; text-align:center;}
.forget{ width:80px; float:left; line-height:23px; margin-left:15px;}
.login{ width:187px; clear:both; padding-left:70px; float:left; padding-bottom:15px; border-bottom:1px solid #D5D5D5;}
.card{ height:20px; line-height:20px; display:block; padding-top:15px; clear:both; text-align:center;}
.kuang{ width:170px; height:20px; line-height:20px; padding-left:40px; margin-left:28px; background-color:#fff8ef; border:1px solid #e8c28d; color:#ff0000; display:block; background-position:12px -698px; margin-bottom:10px; background-repeat:no-repeat;}
.huan{ width:185px; padding-left:25px; background-position:2px -698px;}
.input_text{ width:165px;}
.yzm_text { width: 65px;}
.yz img { vertical-align: middle;}
.user {display: block;margin: 0 auto 10px; width: 220px;}

/*zongdaohang*/
.zongdaohang{ background:#136DB7; height:30px; margin-top:5px; text-align:left;}
.zongdaohang img{ float:left; border:0px; margin-right:10px;} 
.zongdaohang a{ float:left; line-height:30px; color:#fff!important; padding:0px 10px;}  
.zongdaohang a:hover{ color:#FFF000!important; text-decoration:none; background:#004F94;}

/*zhihuan daohang*/
.z_navmenu{ width:958px; height:32px; line-height:32px; background-color:#bae2f5; border:1px solid #97d1ef; border-bottom: none; background-image:url(http://static.51auto.com/images/v1/home2012/z_border.gif); background-repeat:no-repeat; background-position:left 31px;}
.z_navmenu li{ float:left; font-size:14px; font-weight:bold; border-right:1px solid #97d1ef;}
.z_navmenu li a{ padding:0 25px;text-align:center; display:block;}
.z_navmenu li a:hover,.z_navmenu li a.on{line-height:28px; color:#333; border-top:2px solid #0052ae;border-bottom:2px solid #fff; background-color:#fff;}


/*--star--*/
.star i,.star2 i,.star3 i{ float:left; display:block; background-image:url(http://static.51auto.com/images/v1/home2012/star.gif); background-repeat:no-repeat; cursor:pointer;}
.star i{width:15px; height:16px;background-position:left -70px;}
.star i.ona{background-position:left 0px;}
.star i.onb{background-position:left -34px;}
.star2 i{width:15px; height:30px; margin-right:0;background-position:left -160px;}
.star2 i.ona{background-position:left -106px;}
.star2 i.onb{background-position:left -134px;}
.star3 i{width:15px; height:14px; margin-right:0;background-position:left -168px;}
.star3 i.ona{background-position:left -114px;}
.star3 i.onb{background-position:left -142px;}
/*--youqing link-*/
.yqlink_tab { width:960px; height:35px; background-position:0 -678px;background-image: url(http://static.51auto.com/images/v1/home2012/V1_51auto_bg.gif);}
.yqlink_tab li{width:60px; line-height:27px;cursor:pointer;font-size:14px; color:#333; text-align:center;background:#f7f7f7; float:left;cursor: pointer; padding:3px 20px; margin-right:4px; border:1px solid #dcdcdc; border-bottom:none;text-decoration: none;}
.yqlink_tab li.on{ line-height:28px; background:#fff; color:#333; font-weight:bold;text-decoration: none;}
.yqlink_tab a{line-height:27px;cursor:pointer;font-size:14px; color:#333; text-align:center;background:#f7f7f7; float:left;cursor: pointer; padding:3px 20px; margin-right:4px; border:1px solid #dcdcdc; border-bottom:none;text-decoration: none;}
.yqlink_tab a.on{ line-height:28px; background:#fff; color:#333; font-weight:bold;text-decoration: none; cursor:default;}

.link1,.link2{ width:928px;overflow: hidden;  padding:15px;border:1px solid #dcdcdc; border-top:0;}
.link1 ul{ width:943px;}
.link1 li{ float:left; margin:5px 9px 0 0;}
.link1 li img{ width:85px; height:35px;display:block;}
.link2 a{ line-height:20px; float:left;margin:0 8px;white-space:nowrap;}


/*fenye*/
.fenye{padding-top:10px; padding-bottom:4px; float:right; margin:0 auto;}
.fenye .gray{ border:1px solid #bbb;}
.fenye span,.fenye1 span{color:#fff; font-weight:bold; background:#296cb3; padding:0 8px; margin-top:5px; line-height:22px;display:block; float:left; margin-left:2px;}
.fenye a,.fenye1 a{display:block; border:1px solid #0083c8; padding:0 7px; float:left; margin-left:2px; margin-top:5px; line-height:20px; font-size:12px;}
.fenye1{ padding:10px 0px 4px 120px;white-space:nowrap;}
.fenye2{padding-top:10px; padding-bottom:4px; text-align:center;}
.fenye2 span{color:#fff; font-weight:bold; background:#296cb3; padding:0 8px; margin-top:5px;line-height:22px;display:inline-block; margin-left:2px;vertical-align: top;}
.fenye2 a{display:inline-block; border:1px solid #cad8e1; padding:0 7px; margin-left:2px; margin-top:5px; line-height:20px; font-size:12px;}
/*--foot info-*/
.footer{ text-align:left; line-height:20px;}
.footnav{line-height:38px;}
.footer,.footer a,.footer a:hover{color:#6e6e6e;}
.footnav a:hover{ color:#df0000;}
.lazy{background: url(http://static.51auto.com/images/v1/home2012/loading.gif) no-repeat 50% 50%;}

/*wang zhan gong gao */
.notice_ad { border:1px solid #f4e4b4; background:#fffff0; color:#df0000; padding:6px 0 4px 0; height:20px; text-align:center; width:960px; margin:10px auto;}
.notice_ad_ic{ background-position:left -1466px; width:16px; height:16px; vertical-align:middle; margin-right:10px; overflow:hidden; display:inline-block;}
.notice_ad i { display:inline-block; height:16px; line-height:16px; vertical-align:middle;}

/*--车型数据库--*/
.s_brand1{  float:left; position:relative; margin-right:5px; display:inline; z-index:1; background-color:#fff; }
.s_brand1 .s_lbi{width:85px;}
.s_brand1 .s_lbi input{width:74px; }
.s_brand1 .s_lbul,.s_brand1 .sboth{ right:0; left:inherit;}

.s_brand{ float:left; position:relative; margin-right:5px;display:inline;}
.s_xx .s_lbi,.s_brand .s_lbi{ width:108px; height:20px;background:url(http://static.51auto.com/images/v1/home2012/s_pointbg.gif) no-repeat; line-height:20px; overflow:hidden; padding:0 25px 0 5px; display:block; border:1px solid #B9B9B9; font-style:normal;cursor:pointer;background-position:right -1px;}
.s_brand .s_lbi input,.s_xx .s_lbi input{ width:105px; height:20px; line-height:20px; display:inline; border:0 none; padding:0;outline:none; cursor:pointer; overflow:hidden;text-overflow: ellipsis; background:none;color:#999;}
.s_lbul{ width:493px; height:245px; padding:5px 8px;border:1px solid #dddddd; position:absolute; top:24px; left:0; background-color:#fff; overflow-y:auto; z-index:99999;border-radius: 2px;  box-shadow: 1px 1px 2px 1px #dedede;}
.sboth{ width:425px; height:auto; border:1px solid #999999; position:absolute; top:21px; left:0; background-color:#fff; z-index:99999; zoom:1; _position:absolute; font-size:12px;}
.s_lbul dt{ font-weight:bold; line-height:24px; padding:8px 0 0 5px; font-size:14px; }
.s_lbul li{ width:470px; border-bottom:1px dotted #D5D5D5; padding:8px 3px 0; overflow:hidden; line-height:normal; height:auto; float:inherit;}
.s_lbul li b{ width:10px; line-height:24px; float:left; margin-right:10px; display:inline; color:#298bd4; font-family:Arial,Helvetica,sans-serif;}
.s_lbul li p{ width:450px; float:left; clear:right; height:auto;}
.s_lbul dd{ padding:5px; border-bottom:1px dotted #D5D5D5; overflow:hidden; zoom:1; float:none; display:block; font-size:12px;}
.s_lbul p span,.s_lbul dd span{width:89px; height:22px; border-bottom:8px solid #fff; float:left; text-align:left; overflow:hidden; font-weight:normal; line-height:normal;}
.s_lbul p a,.s_lbul dd a{ line-height:22px; overflow:hidden; padding:4px;}
.s_lbul a:link,.s_lbul a:visited{ color:#404040; text-decoration:none;}
.s_lbul p a.aon:link,.s_lbul dd a.aon:link,.s_lbul p a.aon:visited,.s_lbul dd a.aon:visited{ color:#fff;}
.s_lbul p a.aon:hover,.s_lbul dd a.aon:hover{ color:#fff;}
.s_lbul p a:hover,.s_lbul dd a:hover,.s_lbul p a.aon,.s_lbul dd a.aon{ overflow:hidden; background-color:#FF8833; color:#fff; white-space:nowrap; cursor:pointer; text-decoration:none;}
.spink dd span a:hover,.spink dd span .aon{background-color:#979797; color:#fff; text-decoration:none;}
.spink{ height:auto; padding:12px 5px 8px; background-color:#fbfbfb; overflow:hidden; border-bottom:1px solid #999999; zoom:1;}
.spink dt{ width:60px; height:20px; line-height:20px; text-align:right; float:left; font-size:12px; font-weight:normal; padding:0;}
.spink dd{ width:320px; height:auto; float:left;}
.spink dd span{ width:45px; height:20px; line-height:20px; float:left; padding-bottom:5px; overflow:hidden;}
.spink dd span a{ color:#333; padding:4px;}
.smlist{ height:160px; overflow-y:auto;padding:5px 8px 5px 15px;}
.smlist dt{ line-height:25px; font-weight:bold;}
.smlist dd{ width:auto; height:auto; float:none; line-height:22px;}
.smlist a{ padding:4px;}
.smlist dd.sddlince{ height:10px; margin-bottom:5px; border-bottom:1px dotted #D5D5D5; clear:both;}
.smlist dd span{ width:380px; text-align:left; display:inline-block; cursor:pointer; padding-left:5px;}
.smlist dd span.spanhon{background-color:#008cd6;}
.smlist dd span.spanhon i,.smlist dd span.spanhon i.gray{ color:#fff;}
.spanhover{background-color:#FF8833; color:#ff8833;}
.smlist dd span i{ width:auto; height:auto; background:0 none; display:inline-block; margin-right:5px; color:#404040; font-size:12px; font-weight:normal;}
.smlist dd span i.gray{ color:#9A9A9A;}
.smlist dd span i.white{ color:#fff;}
.search_tool ul.s_lbul{ height:245px;}
.hidden{ display:none;}

#info_dialog,#info_dialog1{background:#fff;position:absolute; z-index:99999;}
.ie6HackerIframe{width:425px; height:245px; display: none; position:absolute;background-color:#fff; z-index:-1; left:0; margin-top:25px;}

.pbounced{ width:138px; max-height:240px; background-color:#fff; overflow-y:auto; position:absolute; top:21px;height: expression( this.scrollHeight > 250?"250px":"auto" ); border:1px solid #999999;}
.pbounced span{ height:20px; line-height:20px; display:block; padding-left:7px; cursor:pointer;}
.s_brand .s_lbi input.sblack{ color:#000;}
.pbounced span a{ color:#000; text-decoration:none;}



/*--top search--*/
.newbtn_nobrd,.a_mine,.a_sina,.a_code,.a_phone,.code_tk i,.sleft,.pmiddle,.aright{ background-image: url(http://static.51auto.com/images/v1/home2012/V1_51auto_icon.gif);}

.global_header{ width:960px; height:30px; margin:1px auto 0; background-color:#f5f5f5; border-bottom:1px solid #CCCCCC; color:#6e6e6e;}
.log_left{line-height:30px; float:left; margin-left:15px; display:inline;}
.meg_right{ float:right; padding-top:4px;}
.log_left a,.log_left i{ display:inline-block; margin-left:6px;}
a.grayt:link{ color:#6e6e6e; text-decoration:none;}
a.grayt:visited{ color:#6e6e6e; text-decoration:none;}
a.grayt:hover{ color:#333; text-decoration:underline;}
.meg_right a:link,.meg_right a:visited{ color:#e77e23; text-decoration:none;}
.meg_right a:hover{ color:#e77e23; text-decoration:underline;}
.a_mine{ width:75px; height:21px; line-height:21px; background-position:0 -2056px; text-align:center; margin-top:4px;}
.code_tk{ width:110px; height:170px; padding:10px 15px; border:1px solid #ccc; position:relative; background-color:#fff; z-index:999; display:none;}
.code_tk .gray{ text-align:center;}
.code_tk span{ display:inline-block; margin:10px 0;}
.code_tk i{ width:17px; height:7px; display:block; position:absolute; top:-6px; left:55px; background-position:-43px -2086px;}
.code_tk img{ margin-left:5px;}
.meg_right a{ float:left; display:inline; margin-right:8px;}
.a_sina,.a_code{ width:16px; height:16px; margin-top:3px;}
a.a_sina{ background-position:0 -2024px;}
a.a_code{ background-position:-23px -2024px;}
.a_phone{ width:130px; height:21px; line-height:21px; padding-left:20px; background-position:0 -2160px;}
.newbtn_nobrd{ height:19px; line-height:19px; text-align:center; display:block; border:1px solid #fff; padding-right:8px; background-position:-135px -897px; background-repeat:no-repeat;}
.city_on{ background-position:-135px -880px; background-repeat:no-repeat;}
.dq{ width:72px; float:left; margin:3px 0 0 8px;}
.logo_51auto{ width:300px; }
.top_city{ width:215px; margin:25px 10px 0 27px;}
.top_city span{ float:left;}
.search_box{ float:right; margin:20px 10px 0 0; display:inline;}
.sleft{ width:27px; height:34px; float:left; background-position:0 -2082px;}
.pmiddle{ width:410px; height:34px; float:left; background-position:0 -2120px; background-repeat:repeat-x;}
.pmiddle input{ width:400px; height:29px; line-height:29px; margin:2px 0 0; overflow:hidden; border:0 none; padding:0 0 0 5px; }
.aright{ width:79px; height:34px; line-height:34px; color:#fff; font-weight:bold; text-align:center; float:left; font-size:14px; _background-position:right -2000px;}
a.aright:link{ background-position:right -2000px;}
a.aright:visited{ color:#fff;}
a.aright:hover{ background-position:right -2039px; text-decoration:none; color:#fff;}
a.aright:active{ background-position:right -2078px;}
.ac_results{ left:665.5px;}
.newbtn_nobrd{ background-position:-135px -880px;}
.pbounced .ons{ color:#fff; background-color:#FF8833;}
.pbounced .ons a{ color:#fff;}

.logo_51auto{ width:400px;}
.Tbanner{ float:right; margin-right:10px; display:inline;}
.pbounced span.ons a{ color:#fff;}


/*--对比车源样式--*/
.c_lcolse,a.a_submit{ background:url(http://static.51auto.com/images/v1/home2012/newover_bg.gif);}
.closedb_btn,.opendb_btn{ background-image:url(http://static.51auto.com/images/v1/home2012/V1_51auto_icon.gif);}
.c_cardb .auto1 img{ vertical-align: middle;}
.c_cardb .auto1{ width:70px; height:53px;*height:51px; display: table-cell; float:left;vertical-align:middle;text-align:center; *display: block;*font-size: 46px;*font-family:Arial;}
.c_pdi{ width:150px; float:left; overflow:hidden; padding-left:5px; float:left;}
.c_pdi i{ display:block; height:15px; line-height:15px;}
.c_pdn{ width:150px; float:left; margin-top:3px; display:inline-block;}
.c_pdn a{height:18px; line-height:18px; padding:0 8px 0 23px; display:inline-block; float:right; padding-right:10px;}
.c_pdn b{ line-height:18px; padding-left:5px;}
a.oaon_ratio{ height:18px; line-height:18px;padding:0 8px 0 23px;display:inline-block; margin-right:5px; background-position:-205px -643px; color:#fff; cursor:pointer;}
a.oa_ratio:link,a.oa_ratio:visited{ background-position:-181px -295px; border:1px solid #e0e0e0;}
a.oa_ratio:hover{background-position:-181px -295px; border:1px solid #bbbbbb;}
a.oa_ratio:active{ background-position:-181px -322px;}
.c_tktit{ padding:10px;}
.c_cardb{ width:265px; border:2px solid #e88b38; overflow:hidden; float:right; background-color:#fff;}
.c_cardb .c_tktit{ background-color:#e88b38; font-size:14px; color:#fff; font-weight:bold;}
.c_cardb li{ height:52px; padding-bottom:10px; border-bottom:1px dotted #ccc; margin:10px; padding-bottom:10px;}
.c_lcolse{ width:20px; height:18px; background-position:-212px -1146px; float:right; cursor:pointer;}
a.a_submit{ width:100px; height:29px; line-height:29px; margin:5px 20px 20px 55px; text-align:center; font-size:14px; font-weight:bold; color:#fff;}
a.a_qk{ margin-top:12px;}
a.a_submit:link,.o_fromdiv a.a_submit:visited{ background-position:0 -494px; color:#fff;}
a.a_submit:hover{ background-position:0 -532px; color:#fff; text-decoration:underline;}
a.a_submit:active{ background-position:0 -568px;}
.c_bgrp a{ float:left;}

.db_cont{ width:293px; position:fixed; top:20px; right:0;}
.closedb_btn{ width:23px; height:40px; float:left; background-color:#e67e22; color:#fff; text-align:center; padding-top:23px; cursor:pointer; background-position:-64px -1992px; border-right:1px solid #fff;}
.opendb_btn{ width:23px; height:40px; float:right; background-color:#e67e22; color:#fff; text-align:center; padding-top:23px; cursor:pointer; background-position:-88px -1992px;}


/*jgzn 2013.10.10 mao*/

.hot,.t_icon{background-image:url(http://static.51auto.com/images/v1/home2012/jg_icon.gif); background-repeat:no-repeat;}
.jg_guide_text{line-height:25px; text-align:center; margin:20px 0; }
.text_box{ width:370px; margin:0 auto; position:relative;}
.t_icon{ width:26px; height:22px; display:block; position: absolute; left:-1px; top:2px; background-position:left 0px;}
.hot{ width:34px; height:15px; display:block; position: absolute; right:0px; top:2px; background-position:left -40px;}
.feedback_form p{ display:block;}
.feedback_form p .hot{ right:445px; top:-11px;}

.Tbanner{ float:right; margin-right:10px; display:inline;}

/*-- 12.29.xu --*/
.a_gray:link,.a_gray:visited{ color:#404040; text-decoration:none;}
.a_gray:hover{ color:#ff8833; text-decoration:underline;}
.smlist a:link,.smlist a:visited{ color:#404040; text-decoration:none;}
.smlist a:hover{ color:#ff8833; text-decoration:underline;}
/*-- btn --*/
.p_bbtn:link,.p_bbtn:visited{ color:#fff; text-decoration:none; background-color:#65abdf; border-bottom:1px solid #298bd4;}
.p_bbtn:hover{ color:#fff; background-color:#75b7e9; border-bottom:1px solid #298bd4;}
.p_bbtn:active{ background-color:#65abdf; border-bottom:1px solid #65abdf;}
.p_ybtn:link,.p_ybtn:visited{ background-color:#ff8833; border-bottom:2px solid #d85710; text-decoration:none;}
.p_ybtn:hover{ color:#fff; text-decoration:underline; border-bottom:2px solid #d85710; background-color:#ff9446;}
.p_ybtn:active{ background-color:#ff9446; border-bottom:2px solid #ff9446;}



/*Pos*/
.pos{position:absolute;  border:1px solid #ddd; left:50%; border-top:0; border-radius:3px; z-index:9990;}

/*微博*/
.header_wb{width:150px;text-align:center; height:208px; top:22px;  background:url(http://static.51auto.com/images/v1/home2014/bg/dialog_top.jpg) no-repeat 90px 0 #fff; padding-top:1px;}
.header_wb h4{ line-height:30px; height:30px; background:url(http://static.51auto.com/images/v1/home2014/icon/icon_page.jpg) no-repeat -365px -262px; padding-left:20px; border-bottom:1px solid #ddd;}
.header_wb p{ line-height:30px;}
.header_wb p img{ margin-bottom:5px;}
.header_wb p.txt{ height:18px; line-height:18px; border:0; bottom:0; height:auto; left:auto; position:static; text-align:center; width:auto; right:auto; z-index:auto; background:none;}

/*网站导航*/
.ms{ width:500px; height:100px; top:22px; margin-left:-422px;  background:url(http://static.51auto.com/images/v1/home2014/bg/dialog_top.jpg) no-repeat -78px 0 #fff; padding:10px 0;}
.ms dl{ width:80px; float:left; display:block; padding-left:20px;}
.ms dt,.ms dd{ line-height:24px;}
.ms dt{ font-weight:bold;}

/*城市选择*/

/*changed by sophie */

.cityPanel{ width:350px;_width:370px; padding:1px; top:83px; background:url(http://static.51auto.com/images/v1/home2014/bg/dialog_top.jpg) no-repeat 89px 0 #fff;}
.cityPanel dl{ clear:both; padding:5px 0 10px 10px; margin:0px 0px; border-bottom:1px solid #ddd;  font-size:13px;
font-family:\5fae\8f6f\96c5\9ed1,tahoma,Arail,sans-serif; }


.cityPanel dt{ font-weight:bold; margin-bottom:0px; padding:0 0px;}
.cityPanel dl dd{ display:block; float:left; padding:3px 19px 3px 0px;  _padding:3px 16px 3px 0px; line-height:22px;}
.cityPanel dl.noborder{border:0; display:block;}
.cityPanel dl dd.long_city{
	 padding:3px 17px 3px 0px;
	 
 }
 .cityPanel dl dd.last_city{
	 padding:3px 18px 3px 0px;
	 _padding:3px 15px 3px 0px;
 }
 
  .cityPanel dl.dl_hotcity dd{
	   padding:3px 16px 3px 0px;
	  
  }
  
  
.cityPanel dl.hotcity,
.cityPanel dl.hotprovince{
	
	 padding:0px 0px 0px;
	 margin:0px;
}

.cityPanel dl.hotcity dt{
	background:#f7f7f7;
	padding:10px;
	display:block;
	margin:0px 0 1px;
	color:#ff8932;
	
}



.cityPanel dl.hotprovince dt{
	background:#f7f7f7;
	padding:10px;
	display:block;
	margin:1px 0 1px;
    color:#ff8932;
}



h3.title_area{
	width:66px;
	float:left;
	padding-top:6px;
}
.dd_hotcity{
	width:273px;
	_width:293px;
	float:left;
	
}
 .dd_hotcity a,
 .cityPanel dl dd a{
	 color:#666;
	 _display:block;
 }

.blue_title,
.title_area{
	font-size:13px;
	font-family:\5fae\8f6f\96c5\9ed1,tahoma,Arail,sans-serif;
	color:#2b8bd5;
	
}

.blue_title a,
.title_area a{
	color:#2b8bd5;
}







/*搜索选择*/
.search_select{ border:1px solid #298bd4; width:68px; top:89px; border-top:0; background:#fff; border-radius:0; margin:4px 0 0 -4px; _margin:2px 0 0 -8px; }
.search_select a{ width:100%; height:28px; display:block; text-indent:14px; font-size:14px; line-height:28px;}
.search_select a:hover{ background:#e7eaf4; color:#ff8833;}

/*搜索结果*/
.search_more{ width:358px; overflow:hidden; border:1px solid #298bd4; top:90px; background:#fff; border-radius:0;}
.search_more ul li{ width:100%; overflow:hidden;}
.search_more ul li a{ display:block; width:100%;padding:0 10px; height:26px;line-height:26px;}
.search_more ul li a:hover{ background:#e7eaf4;}

/*车型选择*/
.car_select{ width:61px; border:1px solid #ddd; border-top:0; top:350px;background:#fff; padding-top:5px;}
.car_select ul li{ width:100%;}
.car_select ul li a{ width:100%; display:block; text-indent:8px; height:26px; line-height:26px;}
.car_select ul li a:hover{ color:#ff8833; background:#e7eaf4;}

/*品牌选择*/
.band_select{ top:231px; margin-left:-415px;}

/*车系选择*/
.style_select{ top:231px; margin-left:-270px; }

/*头部css*/
.indexHeader{background:url(http://static.51auto.com/images/v1/home2014/bg/header_bg.jpg) repeat-x top left; width:100%; height:191px;}
.indexHeader .topPanel{ overflow:hidden; height:30px; color:#666666; display:block; width:100%; line-height:28px;}
.indexHeader .topPanel .fl{ width:500px;}
.indexHeader .myPanel{ background:#fff; border:1px solid #ddd; border-radius:3px; padding:4px 10px;}
.indexHeader .topPanel .fl span{ margin-right:5px;}
.indexHeader .topPanel a{ margin: 0 0 0 2px; color:#666666;}
.indexHeader .topPanel a:hover{ color:#ff8833;}
.indexHeader .topPanel .allow{ padding-right:21px;  padding:4px 20px 4px 10px; border:1px solid #f5f5f5; background-position: 65px 2px;}
.indexHeader .topPanel .allow:hover,.indexHeader .topPanel .active{ background-color:#fff; border:1px solid #ddd; width:auto; border-bottom:0; border-radius:3px; background-position: 65px 2px;}
.indexHeader .topPanel .follow{ background-position:75px 2px;}
.indexHeader .topPanel .follow:hover{background-position:75px 2px;}
.indexHeader .logoNav{padding:20px 0; height:76px;}
.indexHeader .logoNav .logo_51auto{ margin:5px 0;width:132px; display:block; }
.indexHeader .logoNav .top_city{ cursor:pointer; width:95px; margin:0; padding:27px 0 0 25px;}
.indexHeader .logoNav .top_city a span{ cursor:pointer; float:left; display:block; white-space:normal; width:68px; padding-right:20px; font-weight:normal; font-size:14px; background-position: 67px 2px; background-image:url(http://static.51auto.com/images/v1/home2014/icon/icon_pack.gif);}
.indexHeader .logoNav .top_city a span.allow{background-position: 1px 2px; width:14px; height:20px; display:block; float:left; }
.indexHeader .logoNav .top_city a{ border:1px solid #fff; padding:1px; color:#666666; font-weight:bold; font-size:14px; line-height:20px; height:20px; overflow:hidden; text-align:center; white-space:normal; display:block; width:87px;cursor:pointer;}
.indexHeader .logoNav .top_city .active{ border:1px solid #ddd; border-radius:3px; border-bottom:0;}
.indexHeader .logoNav .top_city .active span{
	 background-color:#f7f7f7;
}
 
 
.indexHeader .search_box{border:1px solid #298bd4; width:496px; height:43px; float:left; display:block; margin:17px 0 0 0px;}
.indexHeader .search_box .submit{ width:92px; height:43px; line-height:43px; font-size:18px; text-align:center; font-weight:normal; color:#fff; display:block; background:#298bd4;}
.indexHeader .search_box .submit:hover{ text-decoration:none;}
.indexHeader .search_box span{ margin:3px 0px 3px 3px; height:37px; cursor:pointer; border-right:1px solid #d3d3d3; display:block; line-height:37px; _line-height:39px; font-size:14px; padding:0 27px 0 10px; background-position:45px -12px; color:#666;}
.indexHeader .search_box input{width:310px; font-size:14px; line-height:29px; height:29px; padding:7px 10px; _padding:7px 6px 7px 10px; border:0;}
.lmenu{ float:left; width:100%; font-size:14px; font-weight: bold;}
.lmenu .fr{ max-width:110px;}
.lmenu .fr a{ padding:0 10px;}
.lmenu a{ padding:0 22px;float:left;text-align:center;background-position:right -75px; }
.lmenu a:hover,.lmenu a.on{color:#fff;background-position:-79px -120px; }
.rmenu{ float:right;}
.rmenu{ float:right;}
.rmenu a{ float:left; width:60px;}

.indexHeader .navitems{ background:none; height:45px;overflow:hidden; vertical-align:top;}
.indexHeader .navitems ul{ padding:0; margin:0; height:45px; display:block; overflow:hidden;}
.indexHeader .navitems ul li{ float:left; padding:0; margin:0; display:block; height:45px;}
.indexHeader .navitems ul li a{border-top:2px solid #2b8bd5;width:auto;color:#fff; height:43px; line-height:43px; font-size:18px; font-weight:normal; text-align:center;}
.indexHeader .navitems ul li a:hover{ background:#005baa; border-top:2px solid #005baa;}
.indexHeader .navitems ul li.active{ width:auto;}
.indexHeader .navitems ul li.active a{ background:#fff; border-top:2px solid #ff8833; color:#005bab;height:43px; overflow:hidden;}
.indexHeader .navitems ul li.active a:hover{ background:#fff; border-top:2px solid #ff8833;}
.indexHeader .navitems ul li.fr{ float:right; }
.indexHeader .navitems ul li.fr a{ color:#fff; font-size:16px;}
.indexHeader .appDown{ font-size:14px; color:#7c7c7c; margin: 30px 0px 0 0px; float:right;}
.indexHeader .appDown img{ vertical-align:middle; padding:0 5px;}

/*旧头部修正*/
.fd .navitems{ width:960px; height:41px;line-height:40px; color:#FFF; background-image:url("http://static.51auto.com/images/v1/home2012/V1_51auto_icon.gif");background-position:0px -30px;}
.fd .navitems a{ color:#fff;}
.fd .lmenu{ float:left; font-size:14px; font-weight: bold; width:auto;}
.fd .lmenu a{width:121px;float:left;text-align:center;background-position:right -75px; background-image:url("http://static.51auto.com/images/v1/home2012/V1_51auto_icon.gif");}
.fd .lmenu a:hover,.lmenu a.on{color:#fff;background-position:-79px -120px;}
.fd .top_city span{ line-height:26px;}
.fd .lmenu a:hover{ text-decoration:underline;}
.fd .yellow a:hover{ color: #FFF333;}
.fd .rmenu a{ float:left; width:60px;}
.fd .rmenu{ float:right;}
.fd .rmenu a:hover{ text-decoration:underline;}

/*底部样式*/
.footer{ margin-top:15px; clear:both; width:100%; background:#298bd4; padding:12px 0; color:#fff;}
.footer a{ color:#fff;}
.footer a:hover{color:#ffffff; text-decoration:underline;}
.footer p{ height:24px; line-height:24px; color:#99bddd; font-family:\5fae\8f6f\96c5\9ed1,\5b8b\4f53,,Tahoma}
.footer p.mapSite{ margin-bottom:10px;}
.footer p a{ margin:0 18px 0 0; padding:5px 0; color:#fff;}
.footer p a.active{width:auto; border:none;}
.footer p span{ margin-right:5px; line-height:30px;}
.footer p .tel,.footer p .weibo,.footer p .qustion{ padding-left:20px; background-image:url(http://static.51auto.com/images/v1/home2014/icon/footer_bg.png); background-repeat:no-repeat;}
.footer p .tel { background-position: -5px -4px; margin-right:5px;}
.footer p .weibo{background-position: 0px -66px; padding-left:30px; margin-right:5px;}
.footer p .qustion{ padding-left:30px;background-position: 3px -121px;}
.footer p.copyright{ line-height:22px;}
.footer p.copyright a{ margin:0; color:#99bddd;}
.footer p.copyright a:hover{ color:#fff; text-decoration:underline;}

/*搜索结果*/
/*2012.10.16 mao 模糊搜索下拉*/
.ac_results {padding: 0px;border: 1px solid #298BD4;background-color: white;overflow: hidden;z-index: 99999;}
.ac_results ul {width: 100%;list-style-position: outside;list-style: none;padding: 0;margin: 0;}
.ac_results li {
	margin: 0px;padding: 2px 5px;_padding_right:15px;cursor: default;display: block;/* 
	if width will be 100% horizontal scrollbar will apear 
	when scroll mode will be used
	*/
	/*width: 100%;*/
	font-size: 12px;/* 
	it is very important, if line-height not setted or setted 
	in relative units scroll will be broken in firefox
	*/
	line-height: 27px;overflow: hidden;
	cursor:pointer;
}
.ac_results li a:hover{ background:#e7eaf4;}
.ac_results li.on{ background-color:#eee;}
.ac_loading {background: white url('http://static.51auto.com/js/autocomplete/indicator.gif') right center no-repeat;}
.ac_over {background-color: #f2f2f2;color: white;}
.ac_even strong,.ac_over,.ac_odd { color:#313131;}

.mainWrap{ width:960px; display:block;margin:0 auto;}

/*-- 0216 --*/
.v2_ablue:link,.v2_ablue:visited{ color:#005BAB; text-decoration:none;}
.v2_ablue:hover{ color:#ff8833; text-decoration:underline;}

/*2014-6-12 公司汇款*/
.remit{ display:none; border:none;top:-120px; padding-bottom:30px; background:url(http://static.51auto.com/images/v1/home2014/bg/remit_bg.gif) repeat-x bottom;}
.remit .note{ border:1px solid #ababab; width:inherit; border-bottom:none; padding:10px; background:#fff; line-height:inherit; font-size:inherit; display:inherit; padding:10px; color:inherit;}
.remit .note p{ line-height:20px; white-space:nowrap;}
.footer .mapSite a,.footer .mapSite span{ padding-top:0; float:left; display:block; height:24px; line-height:24px; overflow:hidden; vertical-align:middle;}
.footer p span{ margin-right:15px;}
