@charset "utf-8";
/* CSS Document */

._slideImg {
	overflow: hidden;
	position: relative
}
._slideImg .img-box {
	position: absolute;
	margin:0px;
	overflow:hidden;
}

._slideImg .img-box li{
	margin:0px;
	padding:0px;
	list-style:none;
	vertical-align:top;
}

.flash_item {
	position: absolute;
	right: 5px;
	bottom: 5px;
	height: 18px;
	padding-top: 2px;
}
.flash_item li {
	background-color: #008cd6;
	border: 1px solid #008cd6;
	color: #fff;
	cursor: pointer;
	float: left;
	font-size: 12px;
	height: 16px;
	line-height: 16px;
	margin-left: 3px;
	text-align: center;
	width: 16px;
}
.flash_item li.on {
	background-color: #a6dcff;
	border-color: #a6dcff;
	color: #008cd6;
	font-weight: bold;
	height: 16px;
	line-height: 16px;
	width: 16px;
}
.flash_item li img {
	display: block
}


