
#ITSQ {
margin:0 0 10px;
}
#ITR,
#ITR2 {
margin:0 0 10px;
text-align:center;
}
body #COIDP {
width:990px!important;
margin:0 auto;
}
#ITN {
margin:0 auto;
}
#ITT {
margin:10px 0 20px;
padding:0 0 0 25px;
background:url(http://image.itmedia.co.jp/images/top/colBoxITTicon.gif) no-repeat 0 0;
}
#ITT .colBox {
margin:0;
}
#ITT .colBoxTitleSubtxt {
display:none;
}
#ITT .colBoxTitle {
background:url(http://image.itmedia.co.jp/images/top/ITT_bg.gif) no-repeat 0 0;
padding:0 0 5px 21px;
margin:0;
}
#ITT .colBoxTitle h3 {}
#ITT .colBoxTitle a {
font-size:12px;
line-height:18px;
font-weight:normal;
}
#ISTCPB .colBoxHeadSubtxt {
top:0;
right:5px;
font-weight:bold;
color:gray;
}
#ISTCPB .colBoxNewtxt {
padding-left:6px;
font-size:14px;
line-height:20px;
}
#ISTLR .colBoxHead {
background:#FFcc00;
margin-bottom:15px;
}
#ISTLR .colBoxHead h2 {
color:#FFcc00;
}
#ISTLR .colBoxHeadSubtxt {
top:0;
}
#ISTLR .colBoxTitle {
margin-bottom:3px;
}
#ISTLR .colBoxTitle h3 {
font-size:13px;
}
#ISTLR .colBoxDescription p {
font-size:11px;
line-height:18px;
}

#ITR #sidekickITR {
margin:0 auto;
}
