
/*=====================================================================*/
/* BASE OVERWRITE STYLE */
/*=====================================================================*/
body {
background:none #FFF;
color:#333;
}
a:link {
color:#036;
}
a img {
border:none;
}
/*=====================================================================*/
/* CHANNEL BASE STYLE */
/*=====================================================================*/
/*---------------------------------------------------------------------*/
/* コンテンツ */
/*---------------------------------------------------------------------*/
#masterContents {
padding:0 10px 10px;
}
/*---------------------------------------------------------------------*/
/* レイアウト */
/*---------------------------------------------------------------------*/
#masterMain {
width:650px;
float:left;
/* overflow:hidden; */
}
#masterSub {
width:300px;
float:right;
}
/*---------------------------------------------------------------------*/
/* ボディ */
/*---------------------------------------------------------------------*/
#masterBody {
width:990px;
background:#FFF;
margin:0 auto;
}
/*---------------------------------------------------------------------*/
/* グローバルナビゲーション */
/*---------------------------------------------------------------------*/
#globalNavigationGroup0 #globalNavigation .gnavOut .gnavIn .gnavBtn0 a {background-position:0 0;}
#globalNavigationGroup0 #globalNavigation .gnavOut .gnavIn .gnavBtn1 a {}
#globalNavigationGroup0 #globalNavigation {
border-bottom:1px solid #222;
}
#globalNavigationGroup0 #globalNavigation .gnavOut {
border-bottom:1px solid #000;
}
/*---------------------------------------------------------------------*/
/* ヘッダ */
/*---------------------------------------------------------------------*/
#globalHeader {
position:relative;
}
/*---------------------------------------------------------------------*/
/* タグライン */
/*---------------------------------------------------------------------*/
#globalTagline {
font-size:12px;
line-height:16px;
font-weight:bold;
text-shadow:1px 1px #000;
background:#000;
background:-webkit-gradient(linear, left top, left bottom, from(#666), to(#000));
background:-moz-linear-gradient(top, #666, #000);
border-bottom:2px solid #CCC;
color:#FFF;
padding:5px 10px;
}
/*---------------------------------------------------------------------*/
/* ロゴ */
/*---------------------------------------------------------------------*/
#globalLogo {
position:absolute;
top:70px;
left:10px;
width:170px;
height:28px;
}
#globalLogo h1,
#globalLogo div {
margin:0;
width:170px;
height:28px;
}
#globalLogo h1 a,
#globalLogo div a {
display:block;
width:170px;
height:28px;
text-indent:-9999px;
font-size:0;
line-height:0;
}

/*---------------------------------------------------------------------*/
/* スーパーバナー */
/*---------------------------------------------------------------------*/
#globalHeaderMiddle {
background:#FFF;
padding:10px 0;
}

/*---------------------------------------------------------------------*/
/* メインナビゲーション */
/*---------------------------------------------------------------------*/
#lnavMain {
background:#333;
background:-webkit-gradient(linear, left top, left bottom, from(#999), to(#333));
background:-moz-linear-gradient(top, #999, #333);
border-top:2px solid #CCC;
height:22px;
padding:5px;
}
#lnavMain .lnavBtn {
}
#lnavMain .lnavBtn a {
display:block;
width:100px;
float:left;
text-align:center;
font-size:12px;
line-height:16px;
margin:0 5px 0 0;
padding:2px 3px;
color:#333;
background:#FFF;
background:-webkit-gradient(linear, left top, left bottom, from(#FFF), to(#EEE));
background:-moz-linear-gradient(top, #FFF, #EEE);
border:1px solid #999;
}
#lnavMain .lnavBtn a:link,
#lnavMain .lnavBtn a:visited {
}
#lnavMain .lnavBtn a:hover {
text-decoration:none;
background:#EED;
background:-webkit-gradient(linear, left top, left bottom, from(#EED), to(#DDC));
background:-moz-linear-gradient(top, #EED, #DDC);
}
/*---------------------------------------------------------------------*/
/* サブナビゲーション */
/*---------------------------------------------------------------------*/
#lnavSub {
background:#444;
background:-webkit-gradient(linear, left top, left bottom, from(#444), to(#AAA));
background:-moz-linear-gradient(top, #444, #AAA);
border-bottom:1px dotted #FFF;
color:#FFF;
font-size:10px;
line-height:14px;
padding:3px 0 5px;
}
#lnavSub .lnavBtn {
display:inline;
margin:0 5px;
}
#lnavSub .lnavBtn a {
position:relative;
}
#lnavSub .lnavBtn a:link,
#lnavSub .lnavBtn a:visited {
color:#FFF;
}
#lnavSub .lnavBtn a:hover {
}
#lnavSub .lnavBtn a .raquo {
font-size:10px;
line-height:14px;
font-family:Arial, Helvetica, sans-serif;
}
#lnavSub .lnavBtn a:hover .raquo {
}
/*---------------------------------------------------------------------*/
/* サブサブナビゲーション */
/*---------------------------------------------------------------------*/
#lnavSubSub {
background:#CCC;
background:-webkit-gradient(linear, left top, left bottom, from(#CCC), to(#FFF));
background:-moz-linear-gradient(top, #CCC, #FFF);
color:#333;
font-size:10px;
line-height:14px;
padding:3px 0 5px;
}
#lnavSubSub .lnavBtn {
display:inline;
margin:0 5px;
}
#lnavSubSub .lnavBtn a {
}
#lnavSubSub .lnavBtn a:link,
#lnavSubSub .lnavBtn a:visited {
color:#333;
}
#lnavSubSub .lnavBtn a:hover {
}
#lnavSubSub .lnavBtn a .raquo {
font-size:10px;
line-height:14px;
font-family:Arial, Helvetica, sans-serif;
}
#lnavSubSub .lnavBtn a:hover .raquo {
}
/*---------------------------------------------------------------------*/
/* プルダウンナビゲーション */
/*---------------------------------------------------------------------*/
.lnavBtnGroup {
display:none;
width:150px;
z-index:50;
background:#FFF;
border:1px solid #CCC;
}
.lnavBtnGroupIn .lnavBtn {
margin:0;
}
.lnavBtnGroupIn .lnavBtn a {
width:auto !important;
margin:0 !important;
padding:3px !important;
color:#333 !important;
float:none !important;
border:none !important;
border-bottom:1px dotted #DDD !important;
text-align:left !important;
}
.lnavBtnGroupIn .lnavBtn a:hover {
background:#EEE;
text-decoration:none;
}
/*---------------------------------------------------------------------*/
/* ぱんくず */
/*---------------------------------------------------------------------*/
#localPankuzu {
font-size:10px;
line-height:14px;
padding:3px 5px;
}

/*---------------------------------------------------------------------*/
/* フッタ */
/*---------------------------------------------------------------------*/
#globalFooter {
border-top:0 none;
padding:10px;
}
#globalFooterLink {
font-size:11px;
line-height:14px;
text-align:right;
margin:0 0 20px;
padding:0 0 10px;
height:1%;
border-bottom:3px solid #CCC;
}
#globalCopyright {
font-size:12px;
line-height:16px;
}
#globalInquiry {
font-size:10px;
line-height:16px;
}
#globalFooterCorpLogo a {
background: url(http://image.itmedia.co.jp/images/top/spritesource.png) no-repeat 0 0;
}
/*---------------------------------------------------------------------*/
/* カラムボックスカスタム */
/*---------------------------------------------------------------------*/
#masterSub .colBoxHeadSubtxt {
top:6px;
right:5px;
color:#FFF;
}
#masterSub .colBoxOuter {
}
#masterSub .colBoxSubTitle h5 {
font-size:10px;
line-height:14px;
}
#masterSub .colBoxTitle {
margin-bottom:3px
}
#masterSub .colBoxTitle h3 {
font-size:12px;
line-height:18px;
}
#masterSub .colBoxHead a:link,
#masterSub .colBoxHead a:visited {
color:gray;
}


/*---------------------------------------------------------------------*/
/* 20110728 globalHeader */
/*---------------------------------------------------------------------*/
#globalHeaderTop {
background:#000;
width:100%;
}
#globalLogo {
position:static;
height:48px;
float:left;
}
#globalLogo h1 {
padding:15px 0 0 20px;
height:33px;
width:130px;
float:left;
}
#globalLogo h1 a {
height:33px;
width:130px;
background: url(http://image.itmedia.co.jp/images/top/spritesource.png) no-repeat 0 -28px;
display:block;
}
#globalSearchSjb {
float:left;
padding:16px 0 0 0;
}
#globalSearch {
float:right;
width:224px;
padding:17px 0 0 0;
}
#globalSearch .cse .gsc-search-button input.gsc-search-button-v2,
#globalSearch input.gsc-search-button-v2 {
margin-top:0;
margin-left:0;
padding:6px 10px;
}
#globalSearch .gsc-search-box-tools .gsc-search-box .gsc-input,
#globalSearch table.gsc-search-box td.gsc-input,
#globalSearch table.gsc-search-box td.gsc-input {
padding-right:0;
}





#popIn {
float:left;
width:215px;
}
#popIn input {
float:left;
}
#popInSearchField {
width:168px!important;
height:18px!important;
padding:0!important;
}
#globalSearch .submit {
border:0 none;
text-indent:-9999px;
background: url(http://image.itmedia.co.jp/images/top/spritesource.png) no-repeat 0 -61px;
height: 22px;
width: 41px;
}
#globalSocialBtn {
float:right;
padding:20px 0 0 0;
}
#globalSocialBtn ul {
margin:0;
padding:0;
float:left;
}
#globalSocialBtn li {
float:left;
display:block;
padding:0 10px 0 0;
}
#globalSocialBtn a {
display:block;
width:24px;
height:24px;
overflow:hidden;
text-indent:-9999px;
background:url(http://image.itmedia.co.jp/images/top/globalHeader_socialBtn.gif) no-repeat;
}
#globalSocialBtn .globalSocialBtnFacebook a {
background-position:0 0;
}
#globalSocialBtn .globalSocialBtnTwitter a {
background-position:-32px 0;
}
#globalSocialBtn .globalSocialBtnRss a {
background-position:-63px 0;
}
#globalSocialBtn .globalSocialBtnHatebu a {
background-position:-126px 0;
}
#localNavigation .lnavIn {
border-bottom:1px solid #AAA;
}
#lnavMain {
background:none #666;
padding:0 0 0 10px;
border-top:0 none;
border-bottom:1px solid #444;
font-size:12px;
height:25px;
}
#lnavMain p {
margin:0;
line-height:25px;
color:#FFF;
}
#lnavMain a {
color:#dfd58e;
font-size:12px;
font-weight:bold;
}


/*---------------------------------------------------------------------*/
/* 20110728 カラムボックスカスタム */
/*---------------------------------------------------------------------*/
.colBoxDescription p {
line-height:18px;
}
.colBoxHead {
background:#DFDFDF;
border:0 none;
float:left;
width:100%;
padding:0;
margin-bottom:10px;
}
.colBoxHead h2 {
background: none #FFF;
color:gray;
float:left;
font-size:14px;
line-height:100%;
padding: 0 5px 0 0;
}
.colBoxInner {
clear:both;
}
.colBoxSelector {
margin-bottom:5px;
}
.colBoxSelector ul {
margin:0;
padding:0;
}
.colBoxSelector ul li {
width:120px;
height:32px;
float:left;
list-style:none;
padding:0 14px 0 0;
border-bottom:0 none;
}
.colBoxSelector ul li a {
width:120px;
height:24px;
display:block;
background:#b2b2b2;
text-align:center;
line-height:24px;
color:#FFF;
font-weight:bold;
outline:none;
font-size:13px;
cursor:pointer;
position:relative;
}
.colBoxSelector ul li a:hover {
color:#FFF;
background:#CCC;
text-decoration:none;
}
.colBoxSelector ul .colBoxLlistActive {
}
.colBoxSelector ul .colBoxLlistActive a {
background:#ef4129;
}
.colBoxSelector ul .colBoxLlistActive a::before {
content: '';
position: absolute;
width: 0;
height: 0;
border: 9px solid transparent;
border-top-color: #ef4129;
z-index: 2;
left: 50%;
margin-left: -9px;
bottom: -17px;
}

.colBoxSelector ul .colBoxLlistActive a:hover {
background:#ef4129;
}
#masterMain .colBoxSubTitle h5 {
color:#666;
font-size:14px;
line-height:19px;
}
.colBoxTitle {
margin-bottom:5px;
}
.colBoxTitle h3 {
font-size:17px;
line-height:25px;
}
#masterMain .colBoxSocialButton {
padding:3px 0 10px;
}
#masterMain .colBoxSocialButton ul {
margin:0;
padding:0;
}
#masterMain .colBoxSocialButton ul li {
float:left;
list-style:none;
height:21px;
}
#masterMain .colBoxSocialButtonTweet {
width:130px;
}
#masterMain .colBoxSocialButtonFacebook {
width:107px;
}
#masterMain .colBoxSocialButtonHatena {
width:60px;
}
#masterMain .type-related li {
padding:0 0 7px 0;
background:none;
}
.colBoxTopStories .colBoxHead span {
font-size:10px;
line-height:14px;
}
.colBoxTopStories .colBoxIcon {
float:left;
padding-right:10px;
}
.colBoxTopStories .colBoxIcon a {
margin:0;
}
.colBoxTopStories .colBoxRelated,
.colBoxTopStories .colBoxKeyword {
clear:both;
padding-bottom:5px;
}
.colBoxTopStories .colBoxRelated ul,
.colBoxTopStories .colBoxKeyword ul {
padding:0;
margin:0;
height:1%;
}
.colBoxTopStories .colBoxRelated ul {
padding:0;
}
.colBoxTopStories .colBoxKeyword ul {
position:relative;
padding:0 0 0 17px;
float:left;
}
.colBoxTopStories .colBoxKeyword ul::before {
position:absolute;
content:'';
left:1px;
top:0;
background: url(http://image.itmedia.co.jp/images/top/spritesource.png) no-repeat 0 -113px;
height: 13px;
width: 11px;
}
.colBoxTopStories .colBoxRelated ul li {
background:none;
padding:0 0 3px 17px;
position:relative;
}
.colBoxTopStories .colBoxRelated ul li::before {
content:'';
position:absolute;
left:2px;
top:0;
background: url(http://image.itmedia.co.jp/images/top/spritesource.png) no-repeat 0 -141px;
height: 16px;
width: 10px;
}
.colBoxTopStories .colBoxKeyword ul li {
background:none;
float:left;
padding:0 16px 6px 0;
}
.colBoxTopStories .colBoxKeyword ul li a {
white-space:nowrap;
}
.colBoxTopStories .colBoxInnerHead p {
font-size:13px;
font-weight:bold;
line-height:17px;
border-bottom:1px solid #AAA;
background:#FFF;
}
.colBoxTopStories .colBoxTab2 .colBoxIndex {
background:url(http://image.itmedia.co.jp/images0509/tot_hl_bg.gif) no-repeat scroll 1px 3px transparent;
padding-left:18px;
}
.colBoxTopStories .colBoxTab2 .colBoxSubTitle h5 {
font-size:14px;
line-height:19px;
}
.colBoxTopStories .colBoxTab2 .colBoxTitle a {
font-size:15px;
line-height:20px;
}

.colBoxNewArt .colBoxTitle {
position:relative;
border-bottom:2px solid #E5E5E5;
margin-bottom:12px;
height:1%;
}
.colBoxNewArt .colBoxTitle h3 {
font-size:12px;
color:gray;
line-height:18px;
color:#666;
border-left:3px solid #DDD;
padding-left:4px;
}
.colBoxNewArt .colBoxTab2 .colBoxTitle h3 {
float:left;
}
.colBoxNewArt .colBoxTitle .colBoxInfo{
position:absolute;
top:0;
right:3px;
font-size:12px;
color:gray;
line-height:16px;
}
.colBoxNewArt .colBoxTitle .colBoxInfo a {
font-size:12px;
line-height:16px;
}
.colBoxNewArt .colBoxIcon {
float:right;
padding-left:15px;
}
.colBoxNewArt .colBoxUlist ul {
clear:none;
}
.colBoxNewArt .colBoxUlist ul li {
border-bottom:0 none;
padding-left:0;
margin-bottom:5px;
background:none;
}
.colBoxNewArt .colBoxTab2 .colBoxTitle {
position:relative;
}
.colBoxNewArt .colBoxTab2 .colBoxTitle ul {
margin:0;
position:absolute;
top:17px;
left:0;
z-index:10;
width:500px;
padding:5px 5px 5px 15px;
opacity:0.95;
border:1px solid #DDD;
display:none;
box-shadow:1px 1px 2px 0 #DDD;
background: #f9f9f9;
background: -moz-linear-gradient(top, #f9f9f9 0%, #ffffff 15%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(15%,#ffffff));
background: -webkit-linear-gradient(top, #f9f9f9 0%,#ffffff 15%);
background: -o-linear-gradient(top, #f9f9f9 0%,#ffffff 15%);
background: -ms-linear-gradient(top, #f9f9f9 0%,#ffffff 15%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#ffffff',GradientType=0 );
background: linear-gradient(top, #f9f9f9 0%,#ffffff 15%);
}
.colBoxNewArt .colBoxTab2 .colBoxTitle li {
float:left;
list-style:none;
padding:0 15px 3px 0;
white-space:nowrap;
}
.colBoxNewArt .colBoxTab2 .colBoxTitle li a {
font-size:12px;
line-height:16px;
white-space:nowrap;
font-weight:normal;
}
.colBoxRanking .colBoxUlist ul li {
padding:0 0 10px 0;
border-bottom:0 none;
margin:0;
float:left;
position:relative;
background:none;
width:100%;
}
.colBoxRanking .colBoxUlist ul li::before {
position:absolute;
content:'';
width:3px;
height:100%;
left:20px;
top:0;
background:#e5e5e5;
}
.colBoxRanking .colBoxUlist ul li a {
display:block;
float:right;
margin:0;
padding:0;
width:265px;
}
.colBoxRanking .colBoxUlist ul li span {
display:block;
height:100%;
width:35px;
float:left;
font-size:13px;
}
.colBoxRanking .colBoxUlist ul li.rank1::before,
.colBoxRanking .colBoxUlist ul li.rank2::before,
.colBoxRanking .colBoxUlist ul li.rank3::before {
background:#ec4228;
}
.colBoxRanking .colBoxUlist ul li.rank1 span,
.colBoxRanking .colBoxUlist ul li.rank2 span,
.colBoxRanking .colBoxUlist ul li.rank3 span {
color:#ec4228;
font-weight:bold;
}

.colBoxOnetopi .colBoxInner {}
.colBoxOnetopi .colBoxIndex img {
width:40px;
height:30px;
}
.colBoxOnetopi .colBoxInfo {
font-size:11px;
}

.colBoxLiveguide .colBoxIndex {
padding-left:35px;
position:relative;
}
.colBoxLiveguide .colBoxIndex::before {
content:'';
position:absolute;
top:0;
left:4px;
background: url(http://image.itmedia.co.jp/images/top/spritesource.png) no-repeat 0 -84px;
height: 18px;
width: 27px;
}
.colBoxTechTarget .colBoxIcon img {
width:40px;
height:30px;
}
.colBoxQA ul li,
.colBoxPress ul li {
border-bottom:0 none;
}
.colBoxQA .colBoxUlist ul li {
position:relative;
background:none;
}
.colBoxQA .colBoxUlist ul li::before {
content:'';
position:absolute;
top:2px;
left:0;
background: url(http://image.itmedia.co.jp/images/top/spritesource.png) no-repeat 0 -102px;
height: 11px;
width: 10px;
}
.colBoxKeywords .colBoxTitle {}
.colBoxKeywords .colBoxDescription {
margin-bottom:6px;
}
.colBoxKeywords .colBoxUlist ul {
padding-left:17px;
float:left;
position:relative;
}

.colBoxKeywords .colBoxUlist ul::before {
content:'';
position:absolute;
left:0;
top:0;
background: url(http://image.itmedia.co.jp/images/top/spritesource.png) no-repeat 0 -113px;
height: 13px;
width: 11px;
}
.colBoxKeywords .colBoxUlist ul li {
background:none;
border:0 none;
float:left;
padding:0 0 3px 0;
white-space:nowrap;
}
.colBoxKeywords .colBoxUlist ul li a {
white-space:nowrap;
}
.colBoxService .colBoxIndex {
float:left;
padding-right:10px;
width:48%;
}
.colBoxService .colBoxTitle {
border-bottom:2px solid #E5E5E5;
}
.colBoxService .colBoxTitle h3 {
border-bottom:1px solid #CECECE;
color:gray;
font-size:12px;
line-height:18px;
}
.colBoxService .colBoxUlist ul li {
border-bottom:0 none;
padding-left:0;
background:none;
}
.colBoxTabInner1 {
width:62%;
float:left;
overflow:hidden;
}
.colBoxTabInner2 {
width:35%;
float:right;
overflow:hidden;
}
.colBoxKeywordRank ul {
clear:none;
}
.colBoxKeywordRank ul li {
border-bottom:0 none;
padding-left:23px;
font-size:14px;
line-height:18px;
padding-left:38px;
}
.colBoxKeywordRank .rank1,
.colBoxKeywordRank .rank2,
.colBoxKeywordRank .rank3 {
font-size:23px;
line-height:35px;
}
.colBoxKeywordRank .rank1 {background:url(http://image.itmedia.co.jp/images0509/bt_top10_1.gif) no-repeat 0 0;}
.colBoxKeywordRank .rank2 {background:url(http://image.itmedia.co.jp/images0509/bt_top10_2.gif) no-repeat 0 0;}
.colBoxKeywordRank .rank3 {background:url(http://image.itmedia.co.jp/images0509/bt_top10_3.gif) no-repeat 0 0;}
.colBoxKeywordRank .rank4 {background:url(http://image.itmedia.co.jp/images/top/colBox_rank2.gif) no-repeat 6px -301px;}
.colBoxKeywordRank .rank5 {background:url(http://image.itmedia.co.jp/images/top/colBox_rank2.gif) no-repeat 6px -401px;}
.colBoxKeywordRank .rank6 {background:url(http://image.itmedia.co.jp/images/top/colBox_rank2.gif) no-repeat 6px -501px;}
.colBoxKeywordRank .rank7 {background:url(http://image.itmedia.co.jp/images/top/colBox_rank2.gif) no-repeat 6px -601px;}
.colBoxKeywordRank .rank8 {background:url(http://image.itmedia.co.jp/images/top/colBox_rank2.gif) no-repeat 6px -701px;}
.colBoxKeywordRank .rank9 {background:url(http://image.itmedia.co.jp/images/top/colBox_rank2.gif) no-repeat 6px -801px;}
.colBoxKeywordRank .rank10 {background:url(http://image.itmedia.co.jp/images/top/colBox_rank2.gif) no-repeat 6px -901px;}

.colBoxKeywordList ul li{
border:0 none;
float:left;
white-space:nowrap;
background:none;
padding-right:15px;
padding-left:0;
}
.colBoxKeywordList ul li a {
white-space:nowrap;
font-size:12px;
line-height:22px;
}

/*---------------------------------------------------------------------*/
/* 20110823 */
/*---------------------------------------------------------------------*/
.colBoxRanking .colBoxInfo a {
font-size:11px;
}

/*---------------------------------------------------------------------*/
/* 20110908 */
/*---------------------------------------------------------------------*/
.colBoxNewArt .colBoxTab1 .ednLiCnt2,
.colBoxNewArt .colBoxTab1 .ednLiCnt3 {
display:none;
}

/*---------------------------------------------------------------------*/
/* 20111107 */
/*---------------------------------------------------------------------*/
.colBoxHeaderInfo {
float:right;
margin:0;
width:425px;
padding-right:20px;
}
.colBoxHeaderInfo .colBoxOuter {
padding:22px 0px 0 0;
}
.colBoxHeaderInfo .colBoxIndex {
height:21px;
width:425px;
overflow:hidden;
}
.colBoxHeaderInfo .colBoxTitle {
margin:0;
padding:2px;
}
.colBoxHeaderInfo h3 {
font-size:11px;
line-height:17px;
color:#DDD;
height:17px;
padding-left:13px;
background:url(http://image.itmedia.co.jp/images/top/colBoxHeaderInfoIcon.gif) no-repeat 1px 5px;
}
.colBoxHeaderInfo h3 a {
color:#DDD;
}

/*---------------------------------------------------------------------*/
/* 20120319 BARKS remove */
/*---------------------------------------------------------------------*/
#colBoxNewArt .colBoxIndexBarks .colBoxTitle {}
#colBoxNewArt .colBoxIndexBarks .colBoxTitle h3 {}
#colBoxNewArt .colBoxIndexBarks .colBoxIcon a {
border:0 none;
}

/*---------------------------------------------------------------------*/
/* 20120402 - smartjapan */
/*---------------------------------------------------------------------*/
.colBoxSmartjapan .colBoxIcon img {
width:40px;
height:30px;
}

/*---------------------------------------------------------------------*/
/* 20120419 - colBoxOnetopi */
/*---------------------------------------------------------------------*/
.colBoxOnetopi .colBoxTitle a {
padding-right:10px;
}
.colBoxOnetopi .colBoxTitle .newMark {
color:#C00;
font-size:11px;
}

/*---------------------------------------------------------------------*/
/* 20120419 - colBoxOnetopi */
/*---------------------------------------------------------------------*/
.colBoxNetlabRankBanner {
margin:0 0 20px;
}
.colBoxNetlabRankBanner .colBoxIcon {
display:block;
float:none;
}
.colBoxNetlabRankBanner .colBoxIcon a {
display:block;
float:none;
margin:0;
padding:0;
border:0 none;
}
.colBoxNetlabRankBanner .colBoxIcon a:hover {
opacity:0.85;
}
.colBoxNetlabRankBanner .colBoxIcon img {
vertical-align:top;
margin:0;
padding:0;
}

/*---------------------------------------------------------------------*/
/* 20120516 - colBoxPress */
/*---------------------------------------------------------------------*/
.colBoxPress .colBoxUlist li {
padding: 0 0 3px 14px;
background: url(http://image.itmedia.co.jp/images/top/colBox_ulli.gif) no-repeat 3px 0px;
}
/*---------------------------------------------------------------------*/
/* 20151106 - colBoxMarketCommentary */
/*---------------------------------------------------------------------*/
#masterSub .colBoxMarketCommentary .colBoxIndex{
margin:0 0 8px 0;
}
#marketCommentary .colBoxHead .colBoxHeadSubtxt,
#hnaviList .colBoxHead .colBoxHeadSubtxt {
top:0;
right:5px;
font-weight:bold;
color:gray;
}
.colBoxMarketCommentary .colBoxIcon{
display:block;
text-align:center;
margin: 0 0 10px 0;
}
.colBoxMarketCommentary .colBoxIcon a{
margin:0;
padding:0;
display:inline-block;
float:none;
border:none;
}
.colBoxMarketCommentary .colBoxUlist ul li{
margin:5px 0;
background:url(http://image.itmedia.co.jp/images/arrow_glay.gif) no-repeat 4px 4px;
border:none;
}