@font-face {
  font-family: 'Ek Mukta';
  font-style: normal;
  font-weight: 400;
  src: local('Ek Mukta'), local('EkMukta-Regular'), url(https://fonts.gstatic.com/s/ekmukta/v7/hJlSfXjTRb9sxVqnEsWPQfesZW2xOQ-xsNqO47m55DA.ttf) format('truetype');
}
@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 400;
  src: local('Hind'), local('Hind-Regular'), url(https://fonts.gstatic.com/s/hind/v6/54xT50mTwp3x1sfAjryqVw.ttf) format('truetype');
}
@font-face {
  font-family: 'Kalam';
  font-style: normal;
  font-weight: 700;
  src: local('Kalam Bold'), local('Kalam-Bold'), url(https://fonts.gstatic.com/s/kalam/v7/4Hzm7f2FdjcMuLadUg_xM_esZW2xOQ-xsNqO47m55DA.ttf) format('truetype');
}
