html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li, input, textarea,
fieldset, form, label, legend, caption {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
* {
	font-size:100%;
}	
table, tbody, tfoot, thead, tr, td, th {
	margin: 0;
	padding: 0;
	outline: 0;
}
:focus {
	outline: 0;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
img {
	border: 0px;
}
table {
	border-collapse: separate;
}
caption, th, td {
	font-weight: normal;
}
blockquote:before, blockquote:after,q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
.clear {
	clear:both; 
	font-size:0; 
	line-height:0; 
	height:0;
}
* html .autoclear {
	height: 1%;
}
.autoclear:after {
	display: block;
	clear: both;
	content: ".";
	font-size:0px;
	height: 0px;
	line-height:0px;
	visibility: hidden;
}
.autoclear {
	display:block;
}