body {
	background:#d1cbb1 url('http://80.77.89.177/coffetube/logo/1.gif') 0% 0% repeat; 
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	text-align: center;
	width: 100%;
}
#all{
	position:relative;
}
a{
	font-size: 12px;
	color: #000;
	text-decoration: none;
}
a:hover{
	color: #fff;
	text-decoration: none;
}
h1{
	color: #f3b703;
	font-size: 18px;
	line-height: 150%;
}
h2{
	color: #000;
	font-size: 16px;
}
.bottom {
	background-color: #201a16;
	border-bottom: 1px solid #e6e2d2;
	position: relative;
	z-index: 5;
}
.logo{
	background: #201a16 url('http://80.77.89.177/coffetube/logo/logo.jpg') 0% 0% no-repeat; 
	height:65px;
	margin: 0 auto;
	width: 1000px;
}
.county{
	font-size: 14px ;
	color: #594c2e;
	margin-top: 25px;
}
.county p{
	display: inline;
	margin-left: 15px;
	margin-right: 5px;
}
.logo .adds{
	margin-top: 25px;
	width: 310px;
}
.county span{
		color: #e6e2d2;
}
.menu{
	bottom: 0px;
	position: relative;
	height: 55px;
	background-color: #43362d;
	border-bottom: 1px solid #16120f;
	border-top: 1px solid #16120f;
	width: 100%;
	z-index: 5;
}
.menu div.wraper{
	border-top: 1px solid #615348;
	height: 54px;;
	position: relative;
	width: 100%;
	z-index: 5;
}
.left{
	float: left;
	text-align: left;
}
.right{
	float: right;
	text-align: right;
}
.menuin{
	position: relative;
   margin: 0 auto;
	width: 1000px;
	z-index: 5;
}
ul.nav {
    max-width: 750px;
    position: relative;
    z-index: 7;
}
ul.nav li{
	background: none;
	float: left;
	
}
ul.nav li.drop{
	  background:  url('http://80.77.89.177/coffetube/logo/drop.gif') 50% 85% no-repeat;
}
ul.nav li a {
		color: #a1917b;
		display: block;
		font-size: 16px;
		font-weight: bold; 
		padding: 16px 9px 21px 9px;
}
ul.nav li a:hover, a.defaultdefaultdefault, a.highlight {
		color: #fff !important;
		text-decoration: none;
}
div.category{
	width: 925px;
	overflow: hidden;
	z-index: 10;
}
div.tube{
	width: 600px;
	color: #d1cbb1; 
	z-index: 10;
}
.tube, .category{
	display: none;
	position: absolute;
	left: 0px:
	top: 0px;
	border: 1px solid #201a16;
	background-color: #73675d;
	overflow: hidden;
	padding-bottom: 5px;
}
li.drop:hover div, li.drop:hover div.sfhover{
	display: block;
	
}
.drop:hover a{
	color: #fff;
}
.drop:hover li a{
	color: #a1917b;
}
.drop:hover li a:hover{
	color: #fff !important;
}
.category ul, .tube ul, .menulist .wraper ul{
	float: left;
	width: 185px;
}
.tube ul{
	float: left;
	width: 460px;
	border-bottom: 1px solid #82776e;
	padding: 7px 0;  
}
.tube p{
	clear: both;
	float: left;
	width: 120px;
	font-size:12px;
	font-weight: bold;
	color: #d1cbb1;
	padding-left: 10px;
	padding-top: 10px;
}
.tube a, .tube li{
	display: inline !important;
	line-height: 120%;
	word-wrap:break-word;
}
ul.nav li ul li, .menulist .wraper li {
	border-bottom: 1px solid #82776e;
	width: 90%;
	margin-left: 10px;
	
}
ul.nav li ul li:last-child, .tube ul:last-child, .menulist .wraper li:last-child{
	border-bottom: none;
} 
ul.nav li ul a, .menulist .wraper a {
		color:  #e6e2d2 !important;
		display: block;
		font-size: 12px;
		font-weight: bold; 
		padding: 3px 10px;
		margin:2px 0px;
}
ul.nav li ul span, .menulist .wraper li span{
	color:#16120f;
	font-weight: bold;
	font-size: 11px;
}
ul.nav li ul a:hover, .menulist .wraper li a:hover {
	background-color: #43362d; 	
	-webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}
.transparent{
	-moz-opacity: 0.90;
	-khtml-opacity: 0.90;
	opacity: 0.90;
}

.search{
	margin-top: 4px; 
	width: 270px;
}
.searchform {
        padding: 3px 5px;       
        background: none;
        position: relative;
}
.searchform input {
   	 font: normal 14px/100% sans-serif;
       color: #fff;
} 
.searchform input:hover {
	border: 1px solid #a1917b ;
}
.searchform .searchfield {
        border: 1px solid #43362d;
        background: #73675d;
        padding: 9px 6px 9px 8px;
        width: 202px;
        outline: none;
}
.searchform .searchbutton {
        color: #fff;
        border: none !important;
        font-size: 14px/100%;
        font-weight: bold;
        height: 35px;
        width: 35px;
        background: #cc9900;
}
.searchbutton:hover{
	background-color: #201a16;
}
.searchbutton{
	cursor: pointer;
}
.searchform:hover .drop_search{
	display: block;
}
.drop_search {
	display:none;
	position: absolute;
	border: none;
	background-color: #73675d;
	font: normal 12px/120% sans-serif;
	color: #fff;
	bottom: 50px; 
	left:0;
	padding: 5px 10px;
	width: 238px;
	height: 44px;
   text-align: left;
}
.drop_search span{
	font-weight: bold;
	color: #cc9900;
}
.radius {
	     -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
}
.content{
	clear: both;
	margin: 0px auto;
	min-width: 1000px;
	text-align: center;
	width: 100%;
	position: relative;	
	z-index: 3;
}
.contentmenu .left span{
	text-transform: lowercase;
	color: #9d0000;
	
}
.categories, .thumb{
	display: -moz-inline-stack;
	display: inline-block;		
	zoom: 1;
	*display: inline;
	height: 278px;
	margin-right: 1px;
	margin-bottom: 3px;
	width: 322px;
	background: none;
	font: bold 11px sans-serif;
	position: relative;
	border: 0px solid red;
	overflow: hidden;
	vertical-align: top;
	//margin-right:2px;
	//margin-left:2px;
}
.thumb a p {
	display: inline;
	text-transform: lowercase;
}
.thumb a p::first-letter {
	text-transform: uppercase;
}

.categories img, .thumb img{
	display: block;
	width: 320px;
	height: 240px;
	margin-bottom: 2px;
	border: 1px solid #f3b703;
	background:url(http://80.77.89.177/coffetube/logo/loading.png) center no-repeat; 
}
.categories:hover img, .thumb:hover img {
	border: 1px solid #fff;
}

.categories .catwrap a {
	position: relative;
	font-size: 22px;
	font-weight: bold;
	color: #f3b703;
	z-index: 2;
}
.categories a:hover{
	color: #43362d;
}
.footcat  a{
	font-size: 11px;
	font-weight: bold;
	text-decoration: underline;
	color: #fff;
	text-decoration: none;
	
}
.footcat  a:hover, .thumb  a:hover{
	color: #fff;
	text-decoration: underline;
}
.footcat{
	margin-left: 0px;
	margin-top: -26px;
	width: 320px;
	height: 30px;
	border: 0px solid #201a16;
	background-color: #73675d;
	color:#43362d;
	position: relative;
	z-index: 1;
}
.categories:hover .footcat,.categories:hover .catwrap a{
	background: #cc9900;
	color: #43362d;
}
.footcat .left,.footcat .right{
	position: absolute;
	bottom: 3px;
}
.footcat .left{
	left: 4px;
}
.footcat .right{
	right: 4px;
}
.thumb a{
	display: block;
	font-size: 11px;
	font-weight: bold;
	color: #e6e2d2;
}

.pic{
	height: 258px;
	margin-bottom: 3px;
}
.pic a span{
	padding: 0px 10px;
	display: block;
	height: 12px;
	overflow: hidden;
	position: relative;
	z-index: 2;
}
.footpic{
	bottom: 2px;
	width: 320px;
	height: 32px;
	border: 0px solid #201a16;
	color: #f3b703;
	background-color: #73675d;
	padding:0;
	position: absolute;
	left:0;
	z-index: 1;
}
.footpic .linfo{
	position: absolute;
	text-align: left;
	width: 120px;
	bottom: 2px;
	left: 3px;
}
.footpic .rinfo{
	position: absolute;
	text-align: right;
	width: 180px;
	bottom: 2px;
	right: 3px;
}
.rinfo span, .linfo span{
	color: #fff;
}

.leftcell, .rightcell{
	position: absolute;	
	color: #fff;
	background: #43362d;
	padding: 2px 4px;
	-moz-opacity: 0.60;
	-khtml-opacity: 0.60;
	opacity: 0.6;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.leftcell{
 	left: 10px;
 	top: 10px;
 	font-size: 11px;
}
.rightcell{
	top: 10px;
	right: 10px;	
	font-size: 12px;
}

.contentmenu {
	margin: 7px auto 0px auto;
	width: 1000px;
}
.contentmenu .left {
	width:340px;
}
.contentmenu .left, .contentmenu .right h2{
	padding-top: 3px;	
}
.contentmenu .right {
	max-width: 60%;
}
.inxy-paginator {
	text-align: center;
	}
.inxy-paginator li {
	display: inline;
}
.inxy-paginator  a{
	display: -moz-inline-stack;
	display: inline-block;		
	zoom: 1;
	*display: inline;
	font-size: 12px;
	font-weight: bold !important;
	color: #fff;	
	text-decoration: none;
	margin: 0 2px 7px 2px;
	padding: 5px 3px 0 1px;
	width: 19px;
	height: 19px;
}
.inxy-paginator  a, .inxy-paginator  a:visited {
	background:#cc9900;
	
}
.inxy-paginator .highlight a, .inxy-paginator .highlight a:visited, .inxy-paginator .highlight a:hover	{
	background:#201a16;
	
}
.inxy-paginator  a:hover {
	background:#201a16;
}	
.menulist{
	border: 1px solid #d1cbb1;
	//background-color: #82776e;
	margin: 0 auto;
	width:1000px;
	padding: 8px;
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);
   -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
   box-shadow: 0 0 10px rgba(0,0,0,0.5);
   text-align: left;
}
.menulist .wraper{
	background-color: #82776e;
	padding: 5px 20px;
	overflow: hidden;
}
.menulist .wraper ul{
	width: 192px;
}
.menulist .wraper li {
	border-bottom-color:#a1917b;
}
.menulist .wraper li:hover a {
	color: #fff !important;
}
.search_list li{
border: none !important;
}
.search_list span{
display: block;
border-bottom: 1px solid #a1917b;
	font: bold 14px sans-serif;
	color: #f3b703;
	padding-left: 10px;
	padding-top: 0px;
}
.footer{
	width: 100%;
	background-color: #43362d;
	border-top: 1px solid #e6e2d2;
	height: 100px;
}
.footer .wraper{
	width: 100%;
	height: 98px;;
	border-top: 1px solid #201a16;
	border-bottom: 1px solid #73675d;
}
.footer .wraper div{
	margin: 0 auto;
	text-align: center;
	width: 1000px;
	padding-top: 15px;	
	font: normal 11px/170% sans-serif;
	color: #e6e2d2;
}
.footer a{
	color: #fff;
	font-size: 11px;
	font-weight: bold;
	text-decoration: underline;
}
/* Sitemap */
.sitemap a.m, #sitemap a.m:visited {font-size:14px;font-weight:bold;text-decoration:none;color:#f3b703;margin:0;padding0;}
.sitemap a.sh {text-decoration: none;margin-left: 10px;font-size: 12px;margin:0;padding0;color:#fff !important;}
.sitemap a:hover{text-decoration: underline;}
/* Gallery */
.gallery {
	margin: 20px auto;
	width: 1000px;
	overflow: hidden;
}
.gallery .main{
	width: 640px;
	
}
.player {
	height: 480px;
	background-color: #000;
}
.player iframe{
	width: 640px  !important;
	height: 480px !important;
}
.ads{
	width: 360px;
}
.banner{
	margin: 0px auto 20px auto;
	width: 300px;
}
.playerfooter{
	margin-top: 5px;
	padding: 7px 20px;
	color: #f3b703;
	font: bold 12px/120% sans-serif;
	background-color: #82776e;
	overflow: hidden;
	//height: 55px;
}
.playerfooter span{
	color:#fff;
}
.playerfooter .left{
 	width: 420px;
 }
.playerfooter .right{
 	width: 180px;
}
.playerfooter .title span{
	color:#e6e2d2;
}

.playerfooter .title,.playerfooter .tags{
	max-height: 56px;
	overflow: hidden;
}
.playerfooter .title span,.playerfooter .tags span{
	text-transform: lowercase;
}
.tags a{
	font: bold 12px sans-serif;
	text-decoration: underline;
	color: #fff;
}
.tags a:hover {
	color: #201a16;
}
.sponwraper{
	margin: 0 auto;
}
.gallery .wraper{
	margin: 0 auto;
	text-align: center;
}
#exo {width:960px; height:250px; clear:both; text-align:center; margin:5px auto;}
#exo div {float:left; margin:0 5px;}
#ero {width:1024px; height:280px; clear:both; text-align:center; margin:5px auto;}
#ero>div {float:left;height:280px; width: 321px; padding-left: 20px;}
#adx {width:960px; height:250px; clear:both; text-align:center; margin:5px auto;}
#adx div {float:left; width: 310px; margin:0 5px;}