
.most_popular_link_container
{
    width: 171px;
    float: right;
}

.largetab .tabbed .tabContent ul li .most_popular_link_container
{
    width: 496px;
    float: right;
}

/* section header of the publication content*/
.sectionHeader
{
    background: none repeat scroll 0 0 #F1F1F1;
    border-top:1px solid #DDDDDD;
    border-bottom:1px solid #DDDDDD

}

#sddm li.d-down {
    background: url("../images/dropdown-arrow.png") no-repeat scroll right center transparent;
    padding-right: 15px;
    cursor:pointer;
    /* -webkit-transform: rotate(90deg);
     -moz-transform: rotate(90deg);
     filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);*/

}
/*#sddm li.d-down a:hover {
    background: url("../images/arrow.gif") no-repeat scroll right center transparent;
    padding-right: 15px;
    cursor:pointer;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);

}
*/
/* weather page * tyle:file affected(template/widgets/weather.jsp*/
.weatherimg { float: left; margin-right:15px;margin-bottom:30px;}
.weathertoday { height:150px;   }
.clear_weather {margin: 0px 0; padding: 0px 0;float: right;height:150px; width: 150px; background: url('../images/weather/64x64/clear.gif')  no-repeat 0 0; }
.cloudheavysnow {margin: 0px 0; padding: 0px 0;float: right;height:150px; width: 150px; background: url('../images/weather/64x64/cloudheavysnow.gif')  no-repeat 0 0; }
.cloudlightrain {margin: 0px 0; padding: 0px 0;float: right;height:150px; width: 150px; background: url('../images/weather/64x64/cloudlightrain.gif')  no-repeat 0 0; }
.cloudlightsnow {margin: 0px 0; padding: 0px 0;float: right;height:150px; width: 150px; background: url('../images/weather/64x64/cloudlightsnow.gif')  no-repeat 0 0; }
.cloudmodsnow {margin: 0px 0; padding: 0px 0;float: right;height:150px; width: 150px; background: url('../images/weather/64x64/cloudmodsnow.gif')  no-repeat 0 0; }
.cloudy {margin: 0px 0; padding: 0px 0;float: right;height:150px; width: 150px; background: url('../images/weather/64x64/cloudy.gif')  no-repeat 0 0; }
.cloudythundershowers {margin: 0px 0; padding: 0px 0;float: right;height:150px; width: 150px;  background: url('../images/weather/64x64/cloudythundershowers.gif')  no-repeat 0 0; }
.coldwet {margin: 0px 0; padding: 0px 0;float: right;height:150px; width: 150px;  background: url('../images/weather/64x64/coldwet.gif')  no-repeat 0 0; }
.dusty {margin: 0px 0; padding: 0px 0;float: right;height:150px; width: 150px; background: url('../images/weather/64x64/dusty.gif')  no-repeat 0 0; }
.foggy {margin: 0px 0; padding: 0px 0;float: right;height:150px; width: 150px; background: url('../images/weather/64x64/foggy.gif')  no-repeat  0 0; }
.frosty {margin: 0px 0; padding: 0px 0;float: right;height:150px; width: 150px; background: url('../images/weather/64x64/frosty.gif')  no-repeat 0 0; }
.hailsnowshower {margin: 0px 0; padding: 0px 0;float: right;height:150px; width: 150px; background: url('../images/weather/200x200/hailsnowshower.gif')  no-repeat 0 0; }
.haze {margin: 0px 0; padding: 0px 0;float: right;height:150px; width: 150px;  background: url('../images/weather/64x64/haze.gif')  no-repeat 0 0; }
.modheavyrain {margin: 0px 0; padding: 0px 0;float: right;height:150px; width: 150px;  background: url('../images/weather/64x64/modheavyrain.gif')  no-repeat 0 0; }
.na {margin: 0px 0; padding: 0px 0;float: right; height:150px;width: 150px;  background: url('../images/weather/200x200/na.gif')  no-repeat 0 0; }
.partlycloudyday {margin: 0px 0; padding: 0px 0;float: right;height:150px;width: 150px;  background: url('../images/weather/64x64/partlycloudyday.gif')  no-repeat 0 0; }
.partlycloudysnow {margin: 0px 0; padding: 0px 0;float: right;height:150px;width: 150px;  background: url('../images/weather/64x64/partlycloudysnow.gif')  no-repeat 0 0; }
.rainthunderstorm {margin: 0px 0; padding: 0px 0;float: right; height:150px;width: 150px;  background: url('../images/weather/64x64/rainthunderstorm.gif')  no-repeat 0 0; }
.sandstorm {margin: 0px 0; padding: 0px 0;float: right;height:150px;width: 150px;  background: url('../images/weather/64x64/sandstorm.gif')  no-repeat 0 0; }
.showersday {margin: 0px 0; padding: 0px 0;float: right;height:150px;width: 150px;   background: url('../images/weather/64x64/showersday.gif')  no-repeat 0 0; }
.suncloud {margin:0px 0; padding: 0px 0;float: right;height:150px; width: 150px; background: url('../images/weather/64x64/suncloud.gif')  no-repeat 0 0; }
.sunny {margin:0px 0; padding: 0px 0;float: right; height:150px;width: 150px;  background: url('../images/weather/64x64/sunny.gif')  no-repeat 0 0; }
.sunnyhot {margin: 0px 0; padding: 0px 0;float: right;height:150px;width: 150px;  background: url('../images/weather/64x64/sunnyhot.gif')  no-repeat 0 0; }
.thundershowers {margin: 0px 0; padding: 0px 0;float: right;height:150px; width: 150px; background: url('../images/weather/64x64/thundershowers.gif') no-repeat  0 0; }
.windy {margin: 0px 0; padding: 0px 0;float: right;height:150px;width: 150px;  background: url('../images/weather/64x64/windy.gif')  no-repeat 0 0; }

.nav_item ul li {
    border: 1px;
    color: #636363;
    font-size: 11px;
    line-height: 1;
    display: inline;
    padding: 5px 8px 6px;
    text-decoration: none;
    text-transform: uppercase;
}
.countrySelect
{
    float: left;
}
.nav_item ul li a:hover {
    color: #CC0000;

}
.nav_item ul li.selected a {
    color: #CC0000;


}
/* end of  weather page */
/* search buttton */
.searchAdvance .button {
    background: url("../images/sprite_search.gif") repeat scroll 97px 0 #C5130F;
    border: 0 none;
    float: left;
    font-weight: bold;
    height: 33px;
    margin: 0;
    padding: 0 0 0 20px;
    position: relative;
    text-shadow: 0 1px 0 #000000;
    text-transform: uppercase;
    width: 97px;
}
.searchAdvance .button:hover{
    background: url("../images/sprite_search.gif") repeat scroll 97px -33px #C5130F;

}
.searchAdvance{
    margin: 0 134px;
    padding: 10px;
}
/*.advancedForm {
    background: none repeat scroll 0 0 #FCFAF2;
    border: 1px solid #DDDDDD;
    margin: 0;
    padding: 10px 10px;
}*/
/* Author profile profile style:file affected(wireframes/articlepages/markup/authorprofile.jsp*/

.profileinfobox img {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DDDDDD;
    margin: -15px 0px 0px -15px;
    padding: 1px;
}

.profilebox {
    background: none repeat scroll 0 0 #FFFFFF;
    margin-bottom: 1.5em;
    padding: 1.5em;
    border: 1px solid #DDDDDD;
}
.author_img_big {
    background-color: #FFFFFF;
    border: 1px solid #89807E;
    padding: 2px;
    width: 216px;}
.profilebox .rightbox {
    border-left: 1px solid #E6DECE;
    float: left;
    padding-left: 10px;
    width: 500px;
}
.profilebox .leftbox {
    float: left;
    width: 150px;
}
.profilebox h2 {
    border-bottom: 1px solid #DDDDDD;
    font-size: 18px;
    margin: 0 -10px 10px;
    padding: 4px 8px;
}

.profilebox p {
    margin: 0 0 1.5em;
}
/*End of  Author profile profile style:file affected(wireframes/articlepages/markup/authorprofile.jsp*/

/* competion style:files affected(wireframes/articlepages/markup/competition.jsp*/
div.question {
    background:#EEEEEE;
    margin-bottom:10px;
    padding:5px;
    border-top:1px solid #d6ccc3;
}
div.question p {
    font-weight: bold;
    margin:0;
}
h3.labeltext {
    background:#f3eeea;
    border-top:1px solid #d6ccc3;
    font-size: 100%;font-weight: bold;
    margin:0 0 10px;
    padding:2px 2px 1px 6px;
    text-transform: uppercase;
}
div.question table tr td input[type=radio] {
    margin:0 5px 5px 5px;
}
div.question table tr td label {
    margin:0 5px 0 0;vertical-align: middle;
}
/* End of competion style*/
/* tv guide style:files affected(elements/sectionpages/tl_tvGuide.jsp*/
div.span-5ish .box table td[coln="1"] {
    font-weight:bold;
    background-color:#eeeeee;
    border-right:1px solid #cccccc;
    border-left:1px solid #cccccc;
    border-top:1px solid #cccccc;
}
div.span-5ish .box table td[coln="2"] {
    background-color:#ffffff;
    border-top:1px solid #cccccc;
}
div.span-5ish .boxtable td {
    vertical-align: top;
} 
div.span-5ish {float:left;
               margin:0 5px;
}
.span-5ish  { 
    width: 170px;
}
div.span-5ish .box table td {
    font-weight:bold;
    background-color:#eeeeee;
    border-right:1px solid #cccccc;
    border-left:1px solid #cccccc;
    border-top:1px solid #cccccc;
    padding: 10px 0px 4px 5px;
}
/* End of tv guide style*/
/* competion style:files affected(template/competitions/competitions_details.jsp*/
.leadnone {
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #D5D5D5 -moz-use-text-color -moz-use-text-color;
    border-style: solid none none;    
    color: #464646;
    padding: 10px;
}
.leaddark {
    background: none repeat scroll 0 0 #333333;
    border-color: #D9D9D9 -moz-use-text-color -moz-use-text-color;
    border-style: solid none none;
    border-width: 1px 0 0;
    color: #D9D9D9;
    padding: 10px;
}
.leadlight {
    background: none repeat scroll 0 0 #F3F3F3;
    border-color:#D5D5D5 -moz-use-text-color -moz-use-text-color;
    border-style: solid none none;
    border-width: 1px 0 0;
    color: #464646;
    padding: 10px;
}
.blurbs {
    clear: both;
    margin-bottom: 10px;
}
.leaddark h1 a, .leaddark h2 a, .leaddark h3 a, .leaddark h4 a, .leaddark h5 a, .leaddark h6 a {
    color: #FFFFFF;
}

.blurbs h1 a, .blurbs h2 a, .blurbs h3 a, .blurbs h4 a, .blurbs h5 a, .blurbs h6 a {
    font-weight: bold;
    line-height: 1;
}
/*End of competion style:files affected(template/competitions/competitions_details.jsp*/

/* Profile box kharma style begin */
.profileinfobox .kharma li
{

}

.profileinfobox .kharma
{
    margin-top: 3px;
}

.profileinfobox .kharma strong
{
    margin: 0px;
    padding:0px;
    float:none;
    text-transform: uppercase;
    font-weight: normal;
    color:#a7150d;
}

.kharmaImg
{
    display:block;
    margin: 0px;
    padding-left:2px;
    float: left;
    height:16px;
    width:16px;
    background: url(../images/kharmaflag.png) no-repeat 0 0;
    color:#d9d9d9;
    border:0px;
} 
/* Profile box kharma style end */

/* Comment kharma style begin */
.kharma ul
{
    margin: 0 0 0 -3px;
}

.kharma .kharmaFlag
{
    display:block;
    margin: 5px 0 0 3px;
    padding: 0 0 0 0;
    list-style: none;
    float: left;
    height:16px;
    width:16px;
    background: url(../images/kharmaflag.png) no-repeat 0 0;
    text-indent:-1000px;
    overflow:hidden;
    border-bottom: none;
}

.kharma .kharmaRate
{
    margin-top: -5px;
    float: left;
    color: red;
    font-weight: normal;
    text-transform: uppercase;
}
/* Comment kharma style end */

/* Advanced form search style:files affected(template/form/advancedSearch.jsp*/
.advancedForm img {
    vertical-align:middle;
    cursor:pointer;
}

.calenderImge{
    width:36px;
    height:35px;
    margin:-1px 0px 0px -44px;
    padding:8px;
    position: absolute;
    -moz-border-radius: 4px 4px 4px 4px;
}


input.textSearchQuery {
    background:url("../images/sprite_forms.png") no-repeat scroll 0 -565px transparent;
    border:0px;
    color:#666666;
    font-size:12px;
    padding:8px 7px;
    width:270px;
}
/* End of Advanced form search style:files affected(template/form/advancedSearch.jsp*/

/* Rightbar style classes start */
.label .noBottomMarginHeader {
    margin-bottom: 0px;
}

.label .noBottomMarginHeader h1 { font-size: 32px; float: none; }
.label .noBottomMarginHeader h2 { font-size: 28px; float: none; }
.label .noBottomMarginHeader h3 {
    font-size: 24px;
    float: none;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}
.label .noBottomMarginHeader h4 { font-size: 16px; float: none; }
.label .noBottomMarginHeader h5 { font-size: 13px; float: none; }
.label .noBottomMarginHeader h6 { font-size: 10px; float: none; }
/* Rightbar style classes end */
/* Horoscope stlyle class */
p#aquarius { background: url('../images/horoscopes/aquarius.jpg')  no-repeat scroll 0px 0px transparent;margin: 14px 10px 0px 0px;padding: 0 10px 50px 120px;}
p#aries { background: url('../images/horoscopes/aries.jpg')  no-repeat scroll 0px 0px transparent;margin: 14px 10px 0px 0px;padding: 0 10px 50px 120px;}
p#cancer { background: url('../images/horoscopes/cancer.jpg')  no-repeat scroll 0px 0px transparent;margin: 14px 10px 0px 0px;padding: 0 10px 50px 120px;}
p#capricorn { background: url('../images/horoscopes/capricorn.jpg')  no-repeat scroll 0px 0px transparent;margin: 14px 10px 0px 0px;padding: 0 10px 50px 120px;}
p#gemini { background: url('../images/horoscopes/gemini.jpg')  no-repeat scroll 0px 0px transparent;margin: 14px 10px 0px 0px;padding: 0 10px 50px 120px;}
p#leo { background: url('../images/horoscopes/leo.jpg')  no-repeat scroll 0px 0px transparent;margin: 14px 10px 0px 0px;padding: 0 10px 50px 120px;}
p#libra { background: url('../images/horoscopes/libra.jpg')  no-repeat scroll 0px 0px transparent;margin: 14px 10px 0px 0px;padding: 0 10px 50px 120px;}
p#pisces { background: url('../images/horoscopes/pisces.jpg')  no-repeat scroll 0px 0px transparent;margin: 14px 10px 0px 0px;padding: 0 10px 50px 120px;}
p#sagittarius { background: url('../images/horoscopes/sagitarius.jpg')  no-repeat scroll 0px 0px transparent;margin: 14px 10px 0px 0px;padding: 0 10px 50px 120px;}
p#scorpio { background: url('../images/horoscopes/scorpionew.jpg')  no-repeat scroll 0px 0px transparent;margin: 14px 10px 0px 0px;padding: 0 10px 50px 120px;}
p#taurus { background: url('../images/horoscopes/taurus.jpg')  no-repeat scroll 0px 0px transparent;margin: 14px 10px 0px 0px;padding: 0 10px 50px 120px;}
p#virgo { background: url('../images/horoscopes/virgo.jpg')  no-repeat scroll 0px 0px transparent;margin: 14px 10px 0px 0px;padding: 0 10px 50px 120px;}

p.starsign {
    border-bottom: 1px solid #CCCCCC;
    text-align:justify;
    margin: 0 0 0.5em;
    padding: 20px 1px;

}
.tmg_logo {


}
.st_infor_section {
	background: url('../images/gradient-bg.jpg')  no-repeat scroll 0px 0px transparent;
	 background-color: #000000; color: #FFFFFF; margin-bottom: 10px;padding:10px;
}


.commentseparate
 {
    margin-top: 20px;
}

/* End Horoscope stlyle class */

#navigation ul li.special a {  text-align: center; }

#navigation ul li.special a 		{


    width:49px;
    background:#c61410 url(../images/background_navigation.gif) repeat-x 0 -63px;
    border: solid 1px #e01a15;
    border-top: solid 1px #e36f6c;

    text-align: center;
}
#register_frame
{
	display:none;
}
#login_frame
{
	display:none;
}
#reset_frame
{
	display:none;
}
#error-invalid-emailfield
{
	display:none;
}
#error-emailfield
{
	display:none;
}
#forgotpassword_frame
{
	display:none;
}
#forgot_frame
{
	display:none;
}
#main-subscrition
{
	min-height:1000px;
}
.articleright
{
    width: 496px;
    float: right;
}
.stickyfooter{
    width: 728px;
    margin: 0 auto;
    position: fixed;
    bottom: 0px;
    left: 50%;
    margin-left: -364px;
    z-index:10170;
    transition: all 2s;
}
.stickyfooter .hide{
    bottom:-108px;
}
.stickyfooter .close{
    border: 1px solid black;
    background-color: white;
    color: black;
    position: relative;
    left: 718px;
    border-radius: 12px;
    padding: 1px 6px;
    z-index: 999;
    top: 5px;
    transition: padding .4s;
    cursor:pointer;
}
.stickyfooter .close:hover{
    padding: 5px 9px;
}
