.subbox {
  width:100%;
  padding:0;
  margin:0 auto;
  text-align:center;
  }
  
 .new-7 {
  width:240px;
 }
 
  
 .new-8 {
  width:230px;
  margin:0 10px 0 10px;
  float:left;
  }
  
 .new-16 {
  width:570px;
  margin:0;
 }
 
 .h4-new {
  height: 72px;
  padding: 5px 0;
  overflow:hidden;
 }
 
 .sub-box {
  float:left;
  padding:0;
  margin:0 0 0 0;
  text-align:center;

  
 }
 
  .sub-box-head {
  text-align: center;
  height:31px;
  /* background: #E7E9E8; */
  background: #FFF;
  font-size:12px;
  letter-spacing: 0.25px;
  font-weight: 400;
  color:#444;
  padding:5px 0px 5px 0px;
border-radius: 5px 5px 0px 0px;
-moz-border-radius: 5px 5px 0px 0px;
-webkit-border-radius: 5px 5px 0px 0px;
border: 0px solid #000000;
  line-height: 1.3;
  /* text-shadow: 1px -1px 1px #000; */  
  }
 
 .sub-login-box {
  float:left;
  display:inline-block;
  width:114px;
  padding:0;
  margin:0px 0 0 0;
  text-align:center;
  height:41px;
  font-weight:400;
border-radius: 0px 0px 0px 8px;
-moz-border-radius: 0px 0px 0px 8px;
-webkit-border-radius: 0px 0px 0px 8px;
border: 0px solid #000000;
  line-height: 1;
border-left:1px #fff solid;
  background: rgb(252,255,244); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(252,255,244,1) 0%, rgba(230,232,231,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,255,244,1)), color-stop(100%,rgba(230,232,231,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(230,232,231,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(230,232,231,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(230,232,231,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(252,255,244,1) 0%,rgba(230,232,231,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#e6e8e7',GradientType=0 ); /* IE6-9 */
 }
 
.sub-login-box-text {
  font-size:12px;
  font-weight:700;
  line-height: 12px;
  padding:16px 0 0 0; 
  text-transform: uppercase;
  text-shadow: 1px -1px 1px #fff;
    color:#606060;
 }
 
 .sub-login-box-text a {
  color:#000;
 }
 
  .sub-login-box-text a:hover {
  color:#AA0000;
 }
 
 .sub-profile-box {
  float:left;
  display:inline-block;
  width:114px;
  padding:0;	
  margin:0 0 0 0;
  text-align:center;
  height:41px;
  font-weight:400;
border-radius: 0px 0px 8px 0px;
-moz-border-radius: 0px 0px 8px 0px;
-webkit-border-radius: 0px 0px 8px 0px;
border: 0px solid #000000;
border-left:1px #fff solid;
  background: rgb(252,255,244); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(252,255,244,1) 0%, rgba(230,232,231,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,255,244,1)), color-stop(100%,rgba(230,232,231,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(230,232,231,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(230,232,231,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(230,232,231,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(252,255,244,1) 0%,rgba(230,232,231,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#e6e8e7',GradientType=0 ); /* IE6-9 */


 }
 
.sub-profile-box-text {
  font-size:12px;
  font-weight:700;
  line-height: 12px;
  padding:16px 0 0 0; 
  text-transform: uppercase;
  text-shadow: 1px -1px 1px #fff;
    color:#606060;
	}
 
.sub-profile-box-text a {
  color:#000;
}
 
 .sub-sub-box {
  float:left;
  display:inline-block;
  width:220px;
  padding:5px 0;
  text-align:center;
  font-size:12px;
  margin:10px 0 0 0;
  line-height:12px;
  font-weight: 400;
  font-family: georgia;
 }
 
 
  .sub-sub-box strong, .sub-sub-box strong a {
  color:#AA0000;
 }
 
  .sub-sub-box a {
  color:#444;
 }
 
 .sub-card-box {
   margin: 0 0 8px;

 }
 
 .sub-sub-search {
    display:inline-block;
    margin-top: 10px;
 }
 
 
 
 #header .blurb h4 {
  padding:5px 0;
 }
 
.modal-box {
  display: none;
  position: absolute;
  z-index: 1000;
  width: 500px;
  background: white;
  border-bottom: 1px solid #aaa;
  border-radius: 4px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-clip: padding-box;
  top:110px;
  right:10%;
}

.modal-box header,
.modal-box .modal-header {
  padding: 0;
  border-bottom: 0px solid #ddd;
}

.modal-box header h3,
.modal-box header h4,
.modal-box .modal-header h3,
.modal-box .modal-header h4 { margin: 0; }

.modal-box .modal-body { padding: 0; }

.modal-box footer,
.modal-box .modal-footer {
background: none repeat scroll 0 0 rgba(0, 0, 0, 0.02);
    border-top: 1px solid #ddd;
    font-family: arial;
    font-size: 1.2em;
    font-weight: 700;
    padding: 2em;
    text-align: right;
}

.modal-overlay {
  opacity: 0;
  filter: alpha(opacity=0);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 900;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8) !important;
}

a.close {
    background: none repeat scroll 0 0 #fff;
    border: 3px solid #000;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #000;
    color: #000;
    font-family: arial black;
    font-size: 1.4em;
    font-weight: 700;
    line-height: 1;
    padding: 8px 10px;
    position: absolute;
    right: 4px;
    text-decoration: none;
    top: 2px;
}

a.close:hover {
  color: #222;
  -webkit-transition: color 1s ease;
  -moz-transition: color 1s ease;
  transition: color 1s ease;
}


.js-open-modal {
  }



.js-open-modal a{
  color:#999;
}

#header {
  padding: 10px 10px 0px;
}



#search (
  width:300px;
)


#search input.text {
  width:178px;
}

.subs-button{
	background-color: #DDDDDD;
    font-size: 14px;
    padding: 1px;
    border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
}
.sub-checklist{
	width: 92px;
				float: right;
				margin-bottom: 4px;
 }
 .sub-checklist label{
 	font-size: 12px;
 	top: 2px;
				position: relative;
 }
 .sub-checklist div.checker {
 	    margin-right: 0px;
 }

 .sub-checklist ul {
     margin:5px 0 0;
 }
 .sub-checklist ul li{
 	background: none;
 	border-bottom: none;
 	margin-bottom: 0;
				padding-bottom: 0;
				float: left;
 }
 .sub-checklist div.checker input{
 	opacity: 9 !important;
 }

 .sub-checklist div.checker span{
 	height: auto;
 	width: auto;
 	background-image: none;
 }

 .sub-checklist div.checker input{
 	height: auto;
 	width: auto;
 }
 .sub-checklist div.checker {
				width: 16px;
			    height: 16px;
			}


 .sub-submit input[type=text] {
        margin: 0 0 0 5px;
	    width: 140px;
	    font-size: 10px;
	    padding:4px;
}
 .sub-submit input[type=submit] {
        margin: 0 0px 0;
	    width: 67px;
	    font-size: 10px;
	    padding: 4px;
	    background-color: #ef230f;
	    color: #ffffff;
	    border: none;
}

.sub-validate {
        margin: 0 0px 0;
	    width: 67px;
	    font-size: 10px;
	    padding: 4px;
	    background-color: #ef230f;
	    color: #ffffff;
	    border: none;
}