/*
 * Copyright (c) 2009 Jose Miguel Bataller. All rights reserved.
 *
 * @author Jose Miguel Bataller <jmbataller@webproyecto.com>
 * @version 1.0
*/
/*div.NavigationDiv { position: absolute; left:45%;width: 50%; height: 50px; overflow: visible;}*/
div.NavigationDiv2 {display: inline-block; height: 21px; margin: -20px 0px 0px 0px;}
div.pagination2 { width:100%; font-size: 11px; font-family: Verdana; padding:8px;}

.linkBlock_Out {
    float: left;
    background: #fff;
    border: 1px solid #d3d3d3;
    color: #454545;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    margin-right: 3px;
    padding: 2px 5px;
}

.linkBlock_Over {
    float: left;
    background: #283247;
    border: 1px solid #454545;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    margin-right: 3px;
    padding: 2px 5px;
}

.noLinkBlock {
    float: left;
    background: #fff;
/*    border: 1px solid #d3d3d3;*/
    color: #454545;
    font-weight: normal;
    text-decoration: none;
    margin-right: 3px;
    padding: 2px 5px;
}

div.NavigationDiv { height: 25px; margin: 0 auto; padding: 2px; position: absolute; right: 190px; width: 600px;}
div.pagination1 { width:800px; float: left; font-size: 11px; font-family: Verdana;padding:8px;margin-right:50%}
div.pagination1 span { background: #fff url(../images/bc_bg.jpg) 0 100% repeat-x; border: 1px solid #d3d3d3; color: #454545; float: left; font-weight: bold; margin: 0 2px 0 0; padding: 2px 5px; }
div.pagination1 span a:hover { color: #454545; text-decoration: none; }
div.pagination1 span.currents { background: #fff none; border: 1px solid #fff; color: black; }
div.pagination1 a { background: #fff url(../images/bc_bg.jpg) 0 100% repeat-x; border: 1px solid #d3d3d3; color: #454545; float: left; font-weight: bold; margin: 0 2px 0 0; padding: 2px 5px; text-decoration: none; }
div.pagination1 a:hover { border: 1px solid #454545; background: #283247; color: #fff; text-decoration: none; }

