/* CSS Imports
----------------------------------------------------------------------------------------------------*/
@import url('screen.css');
@import url('uniform.default.css');
/* Initialise
----------------------------------------------------------------------------------------------------*/
body
{
    background: #ebebeb;
    font-size: 13px;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.2em;
    color:#444
}

.wrapper
{
    background: #ebebeb url(../images/background_tile.gif) repeat-y top center;
}

a
{
    color:#114477;
    text-decoration: none
}

a:hover
{
    color:#cc0000;
    text-decoration: underline
}

h1, h2, h3, h4, h5, h6
{
    font-weight: normal;
    color: #222;
    margin: 0 0 10px 0;
    padding: 0;
    line-height:1.1;
    font-family: georgia
}

h1 { font-size: 40px; }
h2 { font-size: 26px; }
h3 { font-size: 18px; }
h4 { font-size: 15px; }
h5 { font-size: 12px; }
h6 { font-size: 10px; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
{
    font-weight: normal;
    text-decoration: none;
}

p
{
    padding: 0;
    margin:0 0 20px 0;
}

img.thumbnail
{
    float: left;
    border: solid 1px #777;
    margin: 0 10px 10px 0;
}

img.thumbnopadright
{
    margin-right: 0px;
}

img.thumbnopadbottom
{
    margin-bottom: 0px;
}

img.thumbright
{
    float: right;
    margin: 0 0 0 10px;
}

.box
{
    padding:0 0 0 10px;
    background: transparent;
    border-left: solid 1px #ddd;
}

.confirmation_box
{
    border-left: 0;
    padding: 0;
    margin: 0 9px 10px 0;
}

.boxright
{
    padding:0 10px 0 0;
    background: transparent;
    border-right: solid 1px #ddd;
}
.right{
float:right;
}
.redcontainer
{
    background:#c2100c url(../images/background_redcontainer.gif) repeat-x bottom center;
}
.redcontainerinner
{
    background: url(../images/background_shadow.png) repeat-y top center;
}
.label
{
    border-top: solid 3px #333;
    border-bottom: solid 1px #ddd;
    padding: 10px 0;
    margin: 0 0 10px;
}
.label h3
{
    text-transform: uppercase;
    padding:0;
    margin:0;
    float: left;
    text-shadow: 0 1px 0 #fff;
    font-size: 24px;
}

.label2 {
	border-top: solid 3px #cb1c0c;	
	border-bottom: dotted 1px #ddd;	
	padding: 10px 0;
	margin: 0 0 10px;
}
.label2 h3 {
	text-transform: uppercase;
	padding:0;
	margin:0;
	float: left;
	font-family: arial;
	text-shadow: 0 1px 0 #fff;
}

.label2 h3 a {
	color: #242424;
	font-weight: bold;
	font-size: 14px;
}

.label2 h3 a:hover {
	color: #cb1c0c;
	font-weight: bold;
	text-decoration: underline;
}

.twtr-hd {
	display: none;
}

#twitScroll {
	width: 280px;
	height: 350px;
	padding: 0 10px 10px 10px;
	overflow: auto;
	margin-bottom: 10px;
}

#twitScroll ul li {
	list-style-type: none;
	background: none;
	padding: 5px 0;
	border-bottom: dotted 1px #ddd;
	margin: 5px 0;
}

.followTimes {
	margin-bottom: 20px;
	background-color: #eff0ef;
	padding: 5px;
}

.twitText {
	float: right;
	width: 195px;
}

#content .sml h3
{
    font-size: 16px;
}
#content .sml .meta
{
    font-size: 10px;
}
.sub
{
    border:0;
    padding: 0;
    margin: 0 0 10px;
}

.sub h3
{
    font-size: 12px;
    font-family: arial;
    font-weight: bold;
    text-shadow: 0 1px 0 #fff;
}



a.comment
{
    font-size: 12px;
    font-family: arial;
    color:#cc0000;
    padding-left: 17px;
    background: url(../images/sprite_icons.gif) no-repeat 0 0;
}

a.comment:hover
{
    color:#444;
    background: url(../images/sprite_icons.gif) no-repeat 0 -20px;
}


.sketch
{
    text-transform: uppercase;
    text-align: center;
    font-family: georgia;
    font-size: 14px;
    margin-bottom:10px;
}

.sketch img
{
    border:0;
}


.noticepage
{
    text-align: center;
    border: solid 1px #ddd;
    padding:50px;
}

/* Network
----------------------------------------------------------------------------------------------------*/

#network
{
    background: #222;
    border-bottom: solid 1px #000;
    margin:0 ;
    padding: 5px 10px 3px 10px;
    color:#fff;
    text-transform: uppercase;
    font-size: 11px;
}

#network a
{
    color:#bbb;
    text-decoration: none;
}

#network a:hover
{
    color:#999;
    text-decoration: none;
}

#network ul
{
    list-style: none;
    padding:0px;
    margin:0px;
    float: left;
}

#network ul li
{
    list-style: none;
    padding:0px;
    margin:0 15px 0 0;
    float: left;
    background: transparent;
    border:0;
}

#network ul.right
{
    float: right;
}

#network ul.right li
{
    float: right;
    margin:0 0 0 10px;
    padding-left:18px;
}

#network ul.right li.nopad
{
    float: right;
    margin:0 0 0 20px;
    padding-left:0px;
}



#network ul.right li.subscribe
{
    background: url(../images/sprite_icons.gif) no-repeat 0 -365px;
}

#network ul.right li.mobile
{
    background: url(../images/sprite_icons.gif) no-repeat 0 -331px;
}

#sddm li.d-down
{
    padding-right:10px;
}

#sddm div
{
    position: absolute;
    visibility: hidden;
    margin: 0;
    padding: 0;
    border: 1px solid #232323;
    border-bottom:0px;
    z-index: 9999;
}

#sddm div a
{
    position: relative;
    display: block;
    margin: 0;
    padding: 5px 10px;
    width: auto;
    white-space: nowrap;
    text-align: left;
    text-decoration: none;
    text-transform:uppercase;
    background: #3e3e3e;
    color: #fff;
    font: 11px arial;
    font-weight:bold;
    border-bottom: 1px solid #232323
}

#sddm div a:hover
{
    background: #cc0000;
    color: #FFF;
}

/* Header
----------------------------------------------------------------------------------------------------*/

#header
{
    background:#fff url(../images/background_header.gif) repeat-x top center;
    margin:0;
    padding:10px 10px 10px;
}

#header h1
{
    float: left;
    display: inline;
    width: 90px;
    height: 82px;
    margin:0;
    padding:0px;
}

#header h1 a
{
    display: block;
    width: 90px;
    height: 82px;
    text-indent: -1000px;
    background: url(../images/sprite_main.gif) no-repeat 0 0;
    overflow: hidden;
}

#header h1 a:hover
{
    background: url(../images/sprite_main.gif) no-repeat -90px 0;
}

#header .blurb
{
    margin:0 0 10px 10px;
    background:#222;

}

#header .blurb h4
{
    padding:10px;
    font-family: arial;
}

#header .blurb h4 a
{
    color:#eee;
    font-size: 14px;
}

#header .blurb h4 a:hover
{
    color:#bbb;
}

#header .blurb img
{
    float: left;
    border: solid 1px #222;
    margin: 0 10px 0 0;
}

#header .blurb a img
{
    border: solid 1px #000;
}

#header #weather
{
    font-size: 13px;
    padding: 0px 0 0px
}

#header #weather p
{
    margin:0;
    padding:5px;
}

#header #weather a
{
    text-decoration: none;
}

#header #weather img
{
    float: left;
}

#header #weather h2
{
    float: left;
    margin:0;
    padding:5px 10px 0 0;
    font-family: georgia;
    color:#444;
}

#header #weather .sponsor
{
    margin-top:2px;
}

#search
{
    background: url(../images/sprite_search.gif) bottom left;
    width:310px;
    padding:0;
    margin:0;
}

#search input.text
{
    width:188px;
    padding:0 10px;
    margin:4px 0 0 3px;
    border:0px;
    height:23px;
    float: left;
    background: transparent;
}

#search .button
{
    background:#c5130f url(../images/sprite_search.gif) 97px 0;
    border:0;
    padding:0 0 0 20px;
    width:97px;
    height:33px;
    float: right;
    margin:0px;
    position:relative;
    text-transform: uppercase;
    text-shadow: 0 1px 0 #000;
    font-weight: bold;



}


#search .button:hover
{
    background:#c5130f url(../images/sprite_search.gif) 97px -33px;	}



/* Navigation
----------------------------------------------------------------------------------------------------*/

#navigation
{
    background:#111;
    border-top: solid 1px #000;
    border-bottom: solid 1px #000;
    margin:0;
    padding:0px;
    color:#fff;
    text-transform: uppercase;
    height:31px;
}

#navigation ul
{
    list-style: none;
    padding:0 0 0 1px;
    margin:0px;
    float: left;
}

#navigation ul li
{
    list-style: none;
    padding:0px;
    margin:0px;
    float: left;
    border:0;
}

#navigation ul li a
{
    background:#282828 url(../images/background_navigation.gif) repeat-x top left;
    padding:8px 13px 6px;
    display: block;
    text-decoration: none;
    border: solid 1px #4b4b4b;
    margin-right:1px;
    color:#fff;
    font-size: 12px;
    text-shadow: 0 1px 0 #000;
}

#navigation ul li a:hover
{
    background:#272727 url(../images/background_navigation.gif) repeat-x 0 -119px;
    border-bottom: solid 1px #383838;
}

#navigation ul li.current a
{
    background:#272727 url(../images/background_navigation.gif) repeat-x 0 -32px;
    border: solid 1px #222;
}



#navigation ul li.bold a:hover
{
    border: solid 1px #4b4b4b;
}


#navigation ul li .label h3 a 			{  text-align: left; width: 400px;}

#navigation ul li.news a,
#navigation ul li.politics a,
#navigation ul li.sport a,
#navigation ul li.business a,
#navigation ul li.entertainment a,
#navigation ul li.lifestyle a,
#navigation ul li.scitech a,
#navigation ul li.opinion a,
#navigation ul li.multimedia a,
#navigation ul li.focus a ,
#navigation ul li.consumerlive a ,
#navigation ul li.food a ,
#navigation ul li.sundaytimesmega a ,
#navigation ul li.ilive a {  text-align: center; }

#navigation ul li.news a 			{ padding-left:0; padding-right:0; text-align: center; width:68px;}
#navigation ul li.politics a 		{ padding-left:0; padding-right:0; width:89px; }
#navigation ul li.sport a 			{ padding-left:0; padding-right:0; width:85px; }
#navigation ul li.business a 		{ padding-left:0; padding-right:0; width:93px; }
#navigation ul li.entertainment a 	{ padding-left:0; padding-right:0; width:131px; }
#navigation ul li.lifestyle a 		{ padding-left:0; padding-right:0; width:108px; }
#navigation ul li.scitech a 		{ padding-left:0; padding-right:0; width:74px; }
#navigation ul li.opinion a 		{ padding-left:0; padding-right:0; width:83px; }
#navigation ul li.multimedia a 		{ padding-left:0; padding-right:0; width:73px; }
#navigation ul li.focus a 			{ padding-left:0; padding-right:0; width:78px; }
#navigation ul li.consumerlive a 	{ padding-left:0; padding-right:0; width:108px;}
#navigation ul li.food a 			{ padding-left:0; padding-right:0; width:93px;}
#navigation ul li.ilive a 			{ padding-left:0; padding-right:0; width:66px;
   /* padding-left:0;
    padding-right:0;
    width:67px !important;
    text-align: center;
    margin:0;
    text-transform: none; */
    /**width:44px;
    background:#c61410 url(../images/background_navigation.gif) repeat-x 0 -63px;
    border: solid 1px #e01a15;
    border-top: solid 1px #e36f6c;
    margin:0;
    text-align: center;
    text-transform: none;*/
}
#navigation ul li.sundaytimesmega a 			{
    padding-left:0; 
    padding-right:0;
    width:117px;    
    background:#c61410 url(../images/background_navigation.gif) repeat-x 0 -63px;
    border: solid 1px #e01a15;
    border-top: solid 1px #e36f6c;
    margin:0;
    text-align: center;
}

/* Expanding Menu
----------------------------------------------------------------------------------------------------*/

ul.megamenu {
    list-style: none;
    display: none;
    position: relative;
}

ul.megamenu li.mm-item {
}

ul.megamenu li {
    margin: 0px;
    padding: 0px;
}

ul.megamenu li.clear-fix {
    float: none;
    clear: both;
    margin: 0px;
    padding: 0px;
    height: 0px;
    font-size: 0px;
    line-height: 0px;
}



ul.megamenu div.mm-item-content {
    background: #383838;
    padding: 0 0 10px;
    position: absolute;
    border: 1px solid #000;
    z-index: 99999;
    text-transform: none;
    width: 968px;
    margin-left:-2px;
    left: 2px !important;
    top: 32px !important;
}

ul.megamenu .news div.mm-item-content {
  /*  margin-left:0;*/
}

.mm-content-base {
    position: relative;
    z-index: 11;
    padding: 10px;
    color:#fff;
}

.mm-content-base h1, .mm-content-base h2, .mm-content-base h3, .mm-content-base h4
{
    color:#fff;
    font-family: arial;
}
.mm-js-shadow {
    position: absolute;
    z-index: 10;
}

/* Expanding Menu tabs
----------------------------------------------------------------------------------------------------*/

#navigation .mm-content-base .tabbed .tabMenu
{
    width:140px;
}

#navigation .mm-content-base .tabbed .tabMenu li
{
    clear: left;
    background: transparent;
    border:0;
    padding:0;
    margin:0;
}

#navigation .mm-content-base .tabbed .tabMenu li a
{
    background: url(../images/arrow_white.gif) no-repeat 110px 7px;
    border:0;
    padding:7px 20px 5px 8px;
    margin:0;
    font-size: 12px;
    border-bottom: solid 1px #444;
    width:100px;
    text-align: left;
}

#navigation .mm-content-base .tabbed .tabMenu li a:hover
{
    font-size: 12px;
    background: #444 url(../images/arrow.gif) no-repeat 110px 7px;
}

#navigation .mm-content-base .tabbed .tabMenu li.selected a
{
    background:#222 url(../images/arrow.gif) no-repeat 110px 7px;
    text-shadow: 0 1px 0 #5a0300;
}

#navigation .mm-content-base .tabbed .tabContent
{
    border-left: solid 1px #444;
    float: left;
    padding-left:10px;
}

#navigation .mm-content-base .tabbed .tabContent .label
{
    border:0;
    padding:0;
    margin:0 0 10px 0;
}

#navigation .mm-content-base .tabbed .tabContent .label h3
{
    border:0;
    padding:0;
    margin:0;
}

#navigation .mm-content-base .tabbed .tabContent .label h3 a
{
    font-size:16px;
}

#navigation .mm-content-base .tabbed .tabContent a
{
    padding:0;
    margin:0;
    border:0;
    background: transparent;
}

#navigation .mm-content-base .tabbed .tabContent .blurb
{
    background: #222;
    border: solid 1px #222;
    margin:0;
}

#navigation .mm-content-base .tabbed .tabContent .blurb a
{
    width:100%;
    text-align: left;
}


#navigation .mm-content-base .tabbed .tabContent .blurb:hover
{
    border: solid 1px #fff;
}


#navigation .mm-content-base .tabbed .tabContent .blurb:hover h3
{
    text-decoration: underline;
}


#navigation .mm-content-base .tabbed .tabContent img
{
}

#navigation .mm-content-base .tabbed .tabContent a img
{
    border: solid 1px #222;
}

#navigation .mm-content-base .tabbed .tabContent h3
{
    padding:10px;
    margin:0;
    border:0;
}


/* Headlines
----------------------------------------------------------------------------------------------------*/

#headlines
{
    background:#505050 url(../images/background_headlines.gif) repeat-x top center;
    border-bottom: solid 1px #222;
    border-top: solid 1px #888;
    margin:0;
    padding: 5px 10px;
    color:#fff;
    font-size: 12px;
}

#headlines .headline_title
{
    float: left;
    margin-right: 10px;
}

#headlines strong
{
    text-transform: uppercase;
}

#headlines a
{
    color:#eee;
    text-decoration: none;
}

#headlines a:hover
{
    color:#fff;
}



#headlines ul.links {
    float: right;
    display:inline;
    border:0;
    margin:0;
    padding:0;
    background: transparent;
    z-index:2;
}
#headlines ul.links li {
    display:inline;
    border:0;
    margin:0;
    padding:0;
    background: transparent;
    width: 16px;
    height: 16px;
    text-indent: -1000px;
    overflow: hidden;
    z-index:2;

}
#headlines ul.links li a {
    float: right;
    display:inline;
    position: relative;
    background: transparent;
    width: 18px;
    height: 18px;
    border:0;
    margin:0 0 0 5px;
    z-index:2;
}
#headlines ul.links li.rss a {
    background: url(../images/sprite_icons.gif) no-repeat 0 -180px;
}
#headlines ul.links li.rss a:hover {
    background: url(../images/sprite_icons.gif) no-repeat 0 -199px;
}
#headlines ul.links li.facebook a {
    background: url(../images/sprite_icons.gif) no-repeat 0 -218px;
}
#headlines ul.links li.facebook a:hover {
    background: url(../images/sprite_icons.gif) no-repeat 0 -237px;
}
#headlines ul.links li.twitter a {
    background: url(../images/sprite_icons.gif) no-repeat 0 -256px;
}
#headlines ul.links li.twitter a:hover {
    background: url(../images/sprite_icons.gif) no-repeat 0 -275px;
}


/* infobar
----------------------------------------------------------------------------------------------------*/

#infobar
{
    background:#f1f1f1;
    margin: 0 0 10px;
    border-bottom: solid 1px #ddd;
    font-size: 12px;
}

/* Topics
----------------------------------------------------------------------------------------------------*/

#topics
{
    float: left;
    padding: 8px 10px 0px;
}

#topics strong
{
    text-transform: uppercase;
    margin-right:10px;
}

#topics a
{
    text-decoration: none;
    color:#333;
}

#topics a:hover
{
    color:#555;
}

/* Topics
----------------------------------------------------------------------------------------------------*/

ul#cj
{
    list-style: none;
    float: right;
    padding:0;
    margin:0px 11px 2px 0;
    font-size: 14px;
}
ul#cj li
{
    font-size: 14px;
    list-style: none;
    float: right;
    padding:8px 0 0;
    margin:0 0 0 5px;
    border:0;
    background: transparent;

}

ul#cj li form
{
    padding:0;
    margin:0;
}

ul#cj li input.text
{
    width:110px;
    padding:0 4px;
    height:18px;
    margin: -5px 5px 0 0;
    border-color:#999;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    display: block;
    float: left;
}

ul#cj li input.button
{
    text-indent: -1000px;
    overflow: hidden;
    height:20px;
    width:22px;
    display: block;
    float: left;
    margin: -5px 0 3px;
    border:0;
    background:#fff url(../images/background_button_sml.png) repeat-x top left;
}

ul#cj li.logo
{
    margin:0; padding:5px 6px 0 0;
}
ul#cj li.logo h2
{
    float: left;
    display: inline;
    width: 60px;
    height: 20px;
    margin:0;
    padding:0px;
}

ul#cj li.logo h2  a
{
    display: block;
    width: 60px;
    height: 20px;
    text-indent: -1000px;
    background: url(../images/cj.png) no-repeat 0px 0px;
    overflow: hidden;
}

ul#cj li.logo h2  a:hover
{
    background: url(../images/cj.png) no-repeat 0px -23px;
}


/* content
----------------------------------------------------------------------------------------------------*/


.contentcontainer {width:960px; padding:0 10px 0 20px;margin:0 auto;}

#content
{
    background:#fff;
    margin:0;
    padding:0;
}

#market_content
{
    background:#fff;
    margin:0;
    padding:0;
}

#content .blurb
{
    border-bottom: dotted 1px #999;
    margin-bottom:10px;
    padding-bottom:10px;
}

.label ul,  .label ul
{
    margin: 5px -5px 0 0;

    list-style: none;
}

.label ul li, .label ul li
{
    padding: 0;
    margin: 0;
    list-style: none;
    border:0;
    background: transparent;
    float: right
}

.label ul li a, .label ul li a
{
    padding: 0 5px;
    text-transform: uppercase;
}

.label .meta
{
    float: right;
    text-transform: uppercase;
    color:#999;
    padding-top:0px;
}

ul
{
    list-style: none;
    padding: 0 0 0 0;
    margin: 0 0 20px 0;
}
ul li
{
    padding: 0 0 2px 15px;
    margin: 0 0 2px 0;
    border-bottom: dotted 1px #999;
    background: url(../images/bullet.gif) no-repeat 0 4px
}

ul.nobullet li
{
    padding: 2px 0 2px 0;
    background: transparent;
}
ul li.stylenone
{
    list-style: none;
    padding-left:0;
}

ul li.camera, ul li.video, ul li.audio
{
    padding: 3px 0 3px 25px;
}

ul li.camera
{
    background: url(../images/icon_camera.gif) no-repeat 0 5px;
}

ul li.video
{
    background: url(../images/icon_video.gif) no-repeat 0 5px;
}

ul li.audio
{
    background: url(../images/icon_audio.gif) no-repeat 0 5px;
}

span.photos, span.video, span.audio
{
    padding: 0 0 0 20px;
}

span.photos
{
    background: url(../images/icon_camera.gif) no-repeat 0 2px;
}

span.video
{
    background: url(../images/icon_video.gif) no-repeat 0 1px;
}

span.audio
{
    background: url(../images/icon_audio.gif) no-repeat 0 1px;
}

.leadpic
{
    margin-bottom:10px;
    position: relative;
}

.leadpic img
{
    border: solid 1px #111;
}

.leadpic h1
{
    position:absolute;
    top:11px;
    left:10px;
    width:500px;
    padding:0px;
    line-height:1.3;
}

.leadpic h1 span
{
    background: url(../images/transparent.png);
    padding:0;
}

.leadpic h1 a
{
    color:#fff;
    font-family: arial; text-transform: uppercase;
    font-size: 26px;
}


.leadpic p
{
    position:absolute;
    bottom:-20px;
    left:0px;
    width:610px;
    padding:10px;
    background: url(../images/transparent.png);
    color:#ddd;
    font-size: 14px;
    line-height:1.2;
}

.leadpic strong
{
    color:#fff;
}

#content .multimedia
{
    background:#222;
    color:#555;
    margin-bottom:10px;
}

#content .multimedia .label
{
    border-top: solid 3px #cc0000;
    border-bottom: solid 1px #333;
    padding:10px;
    background:#181818;
}

#content .multimedia .label h3 a
{
    color:#fff;
    text-shadow: 0 1px 0 #000;
}


#content .multimedia .blurb h3 a
{
    font-family: arial;
    font-size: 14px;
}


#content .multimedia .boxright
{
    border-color:#333;
}

#content .multimedia .boxright .blurb
{
    margin-left: 10px;
}

#content .multimedia .blurb
{
    border-bottom:solid 1px #333;
}

#content .multimedia a
{
    color:#ccc;
}

#content .multimedia img
{
    border-color:#000
}



h2.infocus
{
    float: left;
    display: inline;
    width: 369px;
    height: 87px;
    margin:0 0 10px 10px;
    padding:0px;
}

h2.infocus a
{
    display: block;
    width: 369px;
    height: 87px;
    text-indent: -1000px;
    background: url(../images/btn_infocus.gif) no-repeat top left;
    overflow: hidden;
}

h2.infocus a:hover
{
    background: url(../images/btn_infocus.gif) no-repeat bottom left;
}

h2.logo
{
    float: left;
    display: inline;
    width: 180px;
    height: 50px;
    margin:0 0 10px 0;
    padding:0px;
}

h2.logo a
{
    display: block;
    width: 180px;
    height: 50px;
    text-indent: -1000px;
    overflow: hidden;
}

h2.logo a:hover
{
}

h2.sowetanlive
{
}
h2.sowetanlive a
{
    background: url(../images/sprite_logos.gif) no-repeat 0 0;
}
h2.sowetanlive a:hover
{
    background: url(../images/sprite_logos.gif) no-repeat 0 -50px;
}

h2.sundayworld
{
    margin:10px 0 0 0;
}
h2.sundayworld a
{
    background: url(../images/sprite_logos.gif) no-repeat 0 -100px;
}

h2.sundayworld a:hover
{
    background: url(../images/sprite_logos.gif) no-repeat 0 -150px;
}

h2.sundaytimes
{
    margin:10px 0 10px 0;
    width: 260px;
}
h2.sundaytimes a
{
    background: url(../images/sprite_logos.gif) no-repeat 0 -200px;
    width: 260px;
}

h2.thetimes a
{
    background: url(../images/sprite_logos.gif) no-repeat 0 -306px;
    width: 260px;
}

h2.sundaytimes a:hover
{
    background: url(../images/sprite_logos.gif) no-repeat 0 -200px;
}





/* article
----------------------------------------------------------------------------------------------------*/


#article .area
{
    font-size: 14px;
    line-height:22px;
}

#article .area a
{
    text-decoration: underline;
}



#article .banner img
{
    float: left;
    margin: 0 10px 10px 0;
}

#article .banner embed
{
    float: left;
    margin: 0 10px 10px 0;
}

#article .banner object
{
    float: left;
    margin: 0 10px 10px 0;
}

#article .meta
{
    color:#555;
    margin-bottom:10px;
}

#article .meta .comment
{
    float: right;
}

.breadcrumb ul
{
    padding:0;
    margin:0;
}
.breadcrumb ul li
{
    display: inline;
    float: left;
    list-style: none;
    margin: 0 10px 20px 0;
    padding:0;
    border:0;
    background: transparent;
}
.breadcrumb ul li a
{

    background: url(../images/arrow_small.gif) no-repeat right 2px;
    padding-right:8px;
}
.breadcrumb ul li a:hover
{

}

.intro
{
    font-family: arial;
    font-weight: bold;
    font-size: 16px;
    margin-bottom:20px;
}

.related_small
{
    clear:left;
    float: left;
    border-right:solid 1px #ddd;
    width: 170px;
    padding: 0 10px 10px 0;
    margin: 0 10px 10px 0;
}

.related_small .label
{
    border-top: solid 4px #cc0000;
    border-bottom: dotted 1px #999;
    padding: 8px 0;
    margin: 0 0 10px;
}
.related_small .label h3
{
    text-align: center;
    float: inherit;
}
.related_small ul
{
    margin: 0 0 10px;
    padding:0;
}
.related_small ul li
{
    background: transparent;
    padding:5px;
}


.related
{
    float: left;
    border-right:solid 1px #ddd;
    width: 170px;
    padding: 0 10px 10px 0;
    margin: 0 10px 10px 0;
}

.related .label
{
    border-top: solid 4px #cc0000;
    border-bottom: dotted 1px #999;
    padding: 8px 0;
    margin: 0 0 10px;
}
.related .label h3
{
    text-align: center;
    float: inherit;
}
.related ul
{
    margin: 0 0 10px;
    padding:0;
}
.related ul li
{
    background: transparent;
    padding:5px;
}

.share
{
    margin-bottom: 15px;
    border-top: dotted 1px #999;
    border-bottom: dotted 1px #999;
}

.share .sharelink {

}

.share .print, .share .email, .share h2.recommend, .share h2.recommended
{
    float: left;
    margin:10px 0 0 0;
    padding:0;
    text-transform: uppercase;
    font-family: arial;
    font-weight: bold;
    font-size:11px;
    /* width: 20px; */
}

.share h2.email
{
    margin-right: 5px;
}

.share .print a, .share .email a, .share h2.recommend a, .share h2.recommended a
{
    color:#222;
    padding:5px 0px 4px 20px;
    height:18px;
    font-weight: bold;

}

.share .email a
{
    background: url(../images/sprite_icons.gif) no-repeat 0 -37px;
}


.share .email a:hover
{
    background: url(../images/sprite_icons.gif) no-repeat 0 -57px;
}

.share .print a
{
    background: url(../images/sprite_icons.gif) no-repeat 0 -84px;
}

.share .print a:hover
{
    background: url(../images/sprite_icons.gif) no-repeat 0 -104px;
}

.share h2.recommend a
{
    background: url(../images/icons.gif) no-repeat  0 -203px;
}

.share h2.recommend a:hover
{
    background: url(../images/icons.gif) no-repeat 0 -224px;
}

.share h2.recommended a
{
    background: url(../images/icons.gif) no-repeat 0 -224px;
}

.share h2.recommended a:hover
{
    background: url(../images/icons.gif) no-repeat 0 -224px;
}



.area .share
{
    padding-top:10px;
}

.area .share h3
{
    text-transform: uppercase;
    font-family: arial;
    font-size:14px;
    font-weight: bold;
    margin: 2px 5px 0 0
}

.area ul
{
    padding: 0 0 20px 40px;
    margin:0;
    margin: inherit;
    overflow: auto;
}
.area ul li
{
    padding:3px 0;
    margin:0;
    border:0;
    list-style: square;
    background: none;
}

.area .share ul
{
    list-style: none;
    margin:0;
    padding:0;
    border:0;
}

.area .share ul li
{
    list-style: none;
    margin:0;
    padding:5px;
    border:0;
    float: left;
    border-right: dotted 1px #999;
    background: transparent;
}

.area .share h2.print, .area .share h2.email, .area .share h2.recommend, .area .share h2.recommended
{
    float: left;
    margin:5px 0 0 0;
    padding:0;
    width:inherit;
}

.area .share h2.email
{
    text-align: left;
}

.area .share h2.print a, .area .share h2.email a, .area .share h2.recommend a, .area .share h2.recommended a
{
    height:20px;
    width:20px;
    padding:5px 0px 4px 23px;
}

/* comments
----------------------------------------------------------------------------------------------------*/

.comments
{
    /*padding-bottom:15px;*/
    margin-bottom: 20px;
}

.comments .label
{
    border-top: solid 3px #cc0000;
    border-bottom: dotted 1px #DDD;
}

.comments .label h3
{
    text-transform: none;
}

.comments .label .meta
{
    text-transform: none;
    padding:0;
    margin:0;
    color: inherit
}

.comments .label .meta a
{
    color:#cc0000;
    font-weight: bold;
}

.comments .pullcomment
{
    background:#E6E6E6 url(../images/ilive_logo.png) no-repeat 8px 15px;
    border: solid 8px #333;
    padding:10px 10px 10px 10px;
    margin:25px 0;
}

.comments .pullcomment h3
{
    text-transform: uppercase;
    font-family: arial;
    margin-bottom:5px;
}

.comments .pullcomment h4
{
    font-family: arial;
    margin-bottom:5px;
}

.comments .pullcommentOpen
{
    background:#E6E6E6 url(../images/background_pullcomment.gif) no-repeat 8px 15px;
    border: solid 8px #333;
    padding:10px 10px 10px 10px;
    margin:25px 0;
}

.comments .pullcommentOpen h3
{
    text-transform: uppercase;
    font-family: arial;
    margin-bottom:5px;
}

.comments .pullcommentOpen h4
{
    font-family: arial;
    margin-bottom:5px;
}

.comments .arrow {
    background: url('../images/pullcommentarrow.gif') no-repeat left top;
    margin-top: -38px;
    padding-top: 38px;
    padding-left: 89px;
}

.comments .comment
{
    margin-bottom:20px;
}

.comments .comment .user
{
    color:#777;
}


.comments .comment .user h3
{
    font-family: arial;
    font-weight: bold;
    margin:0 0 5px 0;
}

.comments .comment .user h3 a
{
    font-size: 75%;
    font-weight: bold;
}

.comments .comment .user img
{
    padding:3px;
    background:#fff;
    border: solid 1px #ddd;
    margin-top:10px;

}

.comments .comment .usercomment
{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DDDDDD;
    min-height: 101px;
    padding: 10px;

}

.comments .comment .usercomment .arrow
{
    background: url('../images/usercommenttarrow.gif') no-repeat 0 40px;
    margin-left: -30px;
    padding-left: 30px;

}



.comments .comment .usercomment ul
{
    list-style: none;
    padding:0;
    margin: 20px 0 0 0;
}

.comments .comment .usercomment ul li
{
    list-style: none;
    padding:0;
    margin:0;
    border:0;
    background:#fff url(../images/commentbuttons.gif) repeat-x bottom left;
    float: left;
}

.comments .comment .usercomment ul li a
{
    border: solid 1px #bbb;
    color:#333;
    text-shadow: 0 1px 0 #fff;
    padding:4px 8px;
    line-height:2;
}

.comments .comment .usercomment ul li a:hover
{
    border: solid 1px #888;
}

.comments .comment .usercomment ul li.report a
{
    background: url(../images/sprite_icons.gif) no-repeat 4px -387px;
    padding-left:30px;
}

.comments .comment .usercomment ul li.reportDisabled a
{
    background: url(../images/sprite_icons.gif) no-repeat 4px -452px;
    padding-left:30px;
    color: #555;
    text-decoration: none;
}

.comments .comment .usercomment ul li.reply
{
    float: right;
}

.comments .comment .usercomment ul li.reply a
{
    background: url(../images/sprite_icons.gif) no-repeat 5px -124px;
    padding-left:30px;
}

.comments .comment .usercomment ul li.replyDisabled
{
    float: right;
}

.comments .comment .usercomment ul li.replyDisabled a
{
    background: url("../images/sprite_icons.gif") no-repeat scroll 5px -124px rgba(0, 0, 0, 0);
    padding-left: 30px;
}

.comments .comment .usercomment ul li.up a
{
    background: url(../images/sprite_icons.gif) no-repeat 3px -412px;
    display: block;
    width: 9px;
    height: 15px;
    text-indent: -1000px;
    overflow: hidden;
}


.comments .comment .usercomment ul li.down a
{
    background: url(../images/sprite_icons.gif) no-repeat 3px -432px;
    display: block;
    width: 9px;
    height: 15px;
    text-indent: -1000px;
    overflow: hidden;
}

/* sidebar
----------------------------------------------------------------------------------------------------*/

#sidebar
{
    padding:0 0 0 9px;
    margin:0 0 10px;
    border-left: solid 1px #ddd;
}

#sidebar .blurb
{
    margin-bottom:10px;
}

.featured
{
    background:#eee;
    border: solid 1px #ddd;
    padding:0px;
    margin-bottom:10px;
}

.featured:hover
{
    background:#333;
    border: solid 1px #222;
    color:#999
}

.featured:hover a
{
    color:#fff
}

.featured img
{
    margin: -1px -1px -1px 10px;
    float: right;
}

.featured:hover img
{
    border-color:#fff;
}

.featured h3
{
    padding:10px 0 0 10px;
    margin:0;
}

.featured p
{
    padding:3px 0 0 10px;
    margin:0;
}


#sidebar .sponsoredlinks
{
    background:#eee;
    border: solid 1px #ddd;
    padding:10px;
    margin-bottom:10px;
}

#sidebar .sponsoredlinks h4
{
    font-size: 13px;
    padding-right:5px;
    line-height:1;
}

#sidebar .sponsoredlinks img
{
    float: left;
    margin: 0 5px 5px 0;
}

#sidebar .sponsoredlinks .col
{
    float: left;
    width:139px;
}

#sidebar h3.readmore
{
    text-transform: uppercase;
    font-family: arial;
    font-size:14px;
    font-weight: bold;
    border-bottom: solid 3px #333;
    padding: 0 0 10px 0;
}

#sidebar h3.readmore a
{
    font-weight: bold;
}

#social
{
    margin-bottom:10px;
}

#social input.text
{
    width:190px;
    border: solid 1px #5a0300;
    padding:7px 10px;
    color:#333;
    font-size:14px;
}

#social .external
{
    background: #f5cfce;
    padding:5px;
    border: solid 1px #dfb1b0;
    border-bottom:0;
}

#social .external h1
{
    float: left;
    display: inline;
    width: 88px;
    height: 82px;
    margin:0;
    padding:0px;
}

#social .external h1 a
{
    display: block;
    width: 88px;
    height: 82px;
    text-indent: -1000px;
    background: url(../images/sprite_main.gif) no-repeat 0 0;
    overflow: hidden;
}

#social .external .col
{
    float: left;
    width:64px;
    margin-left:2px;
    text-align: center
}

#social .external .facebookbutton
{
    margin-bottom:4px;
    padding-left:8px;
}



#social .external .col a
{
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    line-height:1.2;
    text-shadow: 0 1px 0 #f9dddd;
}

#social .external h3.mobile, #social .external h3.twitter
{
    float: left;
    display: inline;
    width: 44px;
    height: 42px;
    margin:0 0 10px 6px;
    padding:0px;
}

#social .external h3.mobile a, #social .external h3.twitter a
{
    display: block;
    margin-left:5px;
    width: 44px;
    height: 42px;
    text-indent: -1000px;
    background: url(../images/sprite_social.gif) no-repeat top left;
    overflow: hidden;
}

#social .external h3.mobile a:hover, #social .external h3.twitter a:hover
{
    display: block;
    width: 44px;
    height: 42px;
    text-indent: -1000px;
    background: url(../images/sprite_social.gif) no-repeat bottom left;
    overflow: hidden;
}

#social .external h3.mobile
{
    width: 28px;
    margin-left: 14px;
}

#social .external h3.mobile a
{
    width: 28px;
    height: 42px;
    background: url(../images/sprite_social.gif) no-repeat top right;
}

#social .external h3.mobile a:hover
{
    width: 28px;
    height: 42px;
    background: url(../images/sprite_social.gif) no-repeat bottom right;
}

#social .newsletter
{
    background:#cc0000;
    color:#fff;
    padding:10px;
    border-top: solid 1px #5a0300;
}

#social .newsletter h3
{
    color:#fff;
    font-family: arial;
    padding-left:40px;
    padding-bottom:2px;
    background: url(../images/icon_newsletter.gif) no-repeat top left;
    margin-bottom:5px;
}

#social .newsletter input.text
{
    padding:3px;
    width:210px;
    margin:0;
}



.newsletter .button
{
    padding:4px 5px 3px;
    margin:0;
}

.related .socialbuttons
{
    margin-bottom:10px;
}

.related .socialbuttons .twitter
{
    text-align: left;
    margin-left:0px;
    width:60px;
}

.related .socialbuttons .facebook
{
    text-align: right;
    width:90px;
    overflow:hidden;
}

.socialbuttons .twitter
{
    text-align: left;
    margin-left:0px;
    width:60px;
    margin-right:16px;
}

.socialbuttons .facebook
{
    text-align: right;
    width:94px;
    overflow:hidden;
    margin-right:0px;
}

.socialbuttons .linkedin
{
    text-align: right;
    width:61px;
    overflow:hidden;
    margin-right:12px;
}

.socialbuttons .pinterest
{
    text-align: right;
    width:46px;
    overflow:hidden;
    margin-right:0px;
}

.share .facebook
{
    width:110px; height:27px; overflow:hidden;
}

.share .twitter
{
    padding-right:0;
}
/* footer
----------------------------------------------------------------------------------------------------*/

#footer
{
    background:#252525;
    margin:0;
    padding: 10px;
    color:#e6e6e6;
    font-size: 12px;
}

#footer ul, #footer ul li
{
    list-style: none;
    padding:0;
    margin:0;
    background: transparent;
    border:0;
}

#footer a
{
    color:#777;
    text-decoration: none;
    font-size: 11px;
}

#footer a:hover
{
    color:#999;
    text-decoration: underline;
}

#footer h4
{
    color:#e6e6e6;
    font-family: arial;
    text-transform: uppercase;
    font-size: 14px;
}

#footer .box
{
    background:#292929;
    border:0;
    padding:10px;
    height:320px;
    margin:0;
}

#footer .meta
{
    color:#666;
    padding-top:10px;
    font-size: 11px;
}

#footer .meta a
{
    color:#888;
}

#footer h1
{
    float: left;
    display: inline;
    width: 88px;
    height: 82px;
    margin:0 10px 0 0;
    padding:0px;
}

#footer h1 a
{
    display: block;
    width: 88px;
    height: 82px;
    text-indent: -1000px;
    background: url(../images/sprite_main.gif) no-repeat 0 0;
    overflow: hidden;
}

#footer h1 a:hover
{
    background: url(../images/sprite_main.gif) no-repeat -90px 0;
}



#footer h2.dmma
{
	float: left;
    width: 110px;
    height: 34px;
    margin:0;
    padding:0px;
    margin-top:18px;
}

#footer h2.dmma a
{
	display: block;
    width: 110px;
    height: 34px;
    text-indent: -1000px;
    background: url(../images/sprite_main.gif) no-repeat 0 -128px;
    overflow: hidden;
}

#footer h2.dmma a:hover
{
    background: url(../images/sprite_main.gif) no-repeat 0 -162px;
}

#footer .footerlists
{
}

/* START TABBED Sidebar */

#sidebar .tabbed
{
    margin-bottom:10px;
}

#sidebar .tabbed .tabContent
{
    display: none;
    margin-top:10px;
}

#sidebar .tabbed .tabContent ul
{
    list-style: none;
    padding:0px;
    margin:0px;
}

#sidebar .tabbed .tabContent ul li
{
    list-style: none;
    padding:0 0 5px;
    margin:0 0 5px;
    border-bottom: dotted 1px #999;
    background: transparent;
}

#sidebar .tabbed ul li
{
    background: transparent;
    padding:0;
}

#sidebar .tabbed .tabContent ul li h3
{
    padding:0;
    margin:0;
}

#sidebar .tabbed .tabContent ul li h2
{
    background:#ddd;
    float: left;
    margin: 0 5px 0 0;
    font-family: arial;
    color:#fff;
    height:57px;
    width:57px;
    line-height:55px;
    text-align: center;
    font-size:35px;
    font-weight: bold;
}

#sidebar .tabbed .tabContent ul li:hover h2
{
    font-size: 40px;
    background:#ccc;
}

#sidebar .tabbed .tabContent ul li:hover h3 a
{
    color:#cc0000;
}

#sidebar .tabbed ul.menu {
    background: #333 url(../images/background_tab.gif) repeat-x top center;
    margin:0px;
    height: 30px;
    padding: 0 0 10px;
}

#sidebar .tabbed ul.menu li
{
    float: left;
    display: inline;
    margin: 0;
    border-bottom:none;
    border-left:solid 1px #fff;
}

#sidebar .tabbed ul.menu a
{
    float: left;
    display: inline;
    height: 35px;
    line-height: 35px;
    padding: 0 13px 10px;
    text-transform: uppercase;
    color: #fff;
    font-family: georgia;
    font-size: 16px;
}

#sidebar .tabbed ul.menu li.selected a
{
    text-decoration: none;
    background: #d5231f url(../images/background_tab_active.gif) repeat-x bottom center;

}

#sidebar .tabbed ul.menu a:hover
{
    text-decoration: none;
    background: #2d2d2d url(../images/background_tab_hover.png) repeat-x bottom center;
}

#sidebar .tabbed ul.menu li.read a, #sidebar .tabbed ul.menu li.shared a, #sidebar .tabbed ul.menu li.commented a
{
    padding-left:0; padding-right:0px;
    text-align: center;
}

#sidebar .tabbed ul.menu li.read a
{
    width:80px;
}

#sidebar .tabbed ul.menu li.shared a
{
    width:90px;
}

#sidebar .tabbed ul.menu li.commented a
{
    width:127px;
}


/* END TABBED sidebar */

/* START TABBED Market indicators */

#content .marketindicators .tabbed
{
    margin-bottom:10px;
    border: solid 1px #ddd;
}

#content .marketindicators .tabbed .tabContent
{
    display: none;
    margin-top:10px;
    padding:0 10px 10px;
}

#content .marketindicators .tabbed ul.menu {
    margin:0px;
    padding: 0px;
    height: 23px;
    border-bottom:solid 1px #ddd;
}

#content .marketindicators  .tabbed ul.menu li
{
    float: left;
    display: inline;
    margin: 0 0 0 0;
    border-bottom:none;
    background: transparent;
}
#content .marketindicators ul li {
    padding: 0;
}

#content .marketindicators .tabbed ul.menu a
{
    float: left;
    display: inline;
    height: 23px;
    line-height: 23px;
    font-size: 11px;
    padding: 0 7px;
    text-transform: uppercase;
    color: #898989;
    border-right:solid 1px #ddd;
}

#content .marketindicators .tabbed ul.menu li.selected a
{
    text-decoration: none;
    color: #333;
    background: #fff;
    border-bottom:solid 1px #fff;
}

#content .marketindicators .tabbed ul.menu a:hover
{
    text-decoration: none;
    color: #222;
}

#content .marketindicators .table
{
    width:175px;
    font-size:10px;
    float: left;
    margin-right:10px;
}

#content .marketindicators .table tr.highlight
{
    background:#f0f4f5;
}

#content .marketindicators .wide
{
    width:275px;
    margin:0;
}


#content .marketindicators .table table
{
    margin:0;
}



#content .marketindicators .details
{
    width:90px;
    font-size:10px;
    float: left;
    text-transform:uppercase;
    font-weight: bold;
}

#content .marketindicators .details div
{

    font-weight: normal;
    color:#999
}

#content .marketindicators .calculator
{
    width:129px;
    float: left;
    margin-right:5px;
}

#content .marketindicators .calculatorwide
{
    width:300px;
    float: left;
    margin:0;
}

#content .marketindicators .calculator h3
{
    font-size:10px;
    font-family: arial;
    text-transform: uppercase;
    border-bottom: solid 1px #ddd;
    padding-bottom:6px;
    margin-bottom:6px;
    font-weight: bold;
    color:#222;
    text-shadow: 0 1px 0 #fff;
}

#content .marketindicators .calculator .col
{
    float: left;
}

#content .marketindicators .calculator .col div.result
{
    margin: 5px 0 0 5px;
}

#content .marketindicators .calculator input.text
{
    font-size: 10px;
    width:99px;
    padding:2px;
    border-color:#ddd;
}

#content .marketindicators .calculator div.selector
{
    margin-bottom: 5px;
    width: 100px;
    font-size: 12px;
}

#content .marketindicators .calculator div.selector select
{
    width: 100px;
    font-size: 12px;
}

#content .marketindicators .calculator div.selector span
{
    padding: 0px 25px 0px 2px;
}

#content .marketindicators .calculator div.selector span
{
    width: 75px;
}

#content .marketindicators .calculator .button
{
    font-size: 9px;
    padding:2px 0;
    border:solid 1px #ddd;
    background:#fff;
    color:#333;
    margin:0;
}

#content .marketindicators .tabtools
{
    padding:10px 10px 10px 10px;
    background:#eee;
    border-top: solid 1px #ddd;
}

#content .marketindicators .logo
{
    width:143px;
    float: left;
}


#content .marketindicators .table .up
{
    color: #4c9448
}

#content .marketindicators .table .down
{
    color:#ab2629;
}

#content .marketindicators .table td
{
    border-bottom: solid 1px #ddd;
    padding:2px 0;
}

#content .marketindicators .table td
{
    text-align: right;
}

#content .marketindicators .table td.left
{
    text-align: left;
}

#content .marketindicators .table strong
{
    color:#1f5184;
}



/* End TABBED Market indicators */

/* Start large tabs
----------------------------------------------------------------------------------------------------*/



.largetab .label
{
    margin-bottom:20px;
}

.largetab .tabbed
{
    margin:10px 0;
}

.largetab .tabbed .tabContent
{
    display: none;
    margin-top:20px;
}
.largetab .tabContent h3
{
    font-size: 26px;
}

.largetab .tabbed .tabContent ul
{
    list-style: none;
    padding:0px;
    margin:0px;
}

.largetab .tabbed .tabContent ul li
{
    list-style: none;
    padding:0 0 5px;
    margin:0 0 5px;
    border-bottom: dotted 1px #999;
    background: transparent;
}

.largetab .tabbed ul li
{
    background: transparent;
    padding:0;
}

.largetab .tabbed .tabContent ul li h3
{
    padding:0;
    margin:0;
}

.largetab .tabbed .tabContent ul li h2
{
    background:#ddd;
    float: left;
    padding:14px 0;
    margin: 0 10px 0 0;
    color:#333;
    font-size: 40px;
    text-align: center;
}

.largetab .tabbed ul.menu {
    background: #555;
    margin:0px;
    height: 26px;
    padding: 0 0 10px;
}

.largetab .tabbed ul.menu li
{
    float: left;
    display: inline;
    margin: 0 5px 0 0;
    border-bottom:none;
}

.largetab .tabbed ul.menu a
{
    float: left;
    display: inline;
    height: 26px;
    line-height: 35px;
    padding: 0 15px 10px;
    text-transform: uppercase;
    color: #fff;
    font-family: georgia;
    font-size: 16px;
}

.largetab .tabbed ul.menu li.selected a
{
    text-decoration: none;
    background: #fff;
    border: solid 1px #bbb;
    border-bottom:0;
    color: inherit;
    margin-top:-5px;
    height: 26px;
    padding-top:4px;
    font-size: 18px;
    color: #333;


}

.largetab .tabbed ul.menu a:hover
{
    text-decoration: none;
    color: #fff;
}

/* forms
----------------------------------------------------------------------------------------------------*/

.button
{
    border:0;
    border: solid 1px #5a0300;
    background:#c9241e url(../images/background_button.png) repeat-x top left;
    padding:3px 5px;
    color:#fff;
    font-size:12px;
    text-shadow: 0 1px 0 #5a0300;
    margin:5px 0;
    cursor: pointer;
}

.buttonDisabled
{
    border:0;
    border: solid 1px #5a0300;
    background:#c9241e url(../images/background_button.png) repeat-x top left;
    padding:3px 5px;
    color:#ccc;
    font-size:12px;
    text-shadow: 0 1px 0 #5a0300;
    margin:5px 0;
}

input.text
{
    border-color:#d4d4d4;
    color:#666;
    font-family: "Trebuchet MS", sans-serif;
}
legend
{
    text-transform:uppercase;
    padding-left:10px;
    padding-right:10px;
    font-size:18px;
}

label
{
    font-size:16px;
}

fieldset
{
    padding: 20px;
}

.form_item
{
    padding: 5px 0 5px 0;
    clear: both;
    border-bottom:solid 1px #d4d4d4;
}

.form_input
{
    float:left;
    width:320px;
    margin-bottom:2px;
}

.form_input label
{
    font-size:12px;
}

.form_info
{
    float:left;
    width:247px;
    border-left:solid 1px #d4d4d4;
    padding:8px;
    color:#888;
    margin-bottom:10px;
    margin-top: 5px;
    background:#f5f5f5;
}

textarea, textarea:focus
{
    border:solid 1px #d4d4d4;
    width:250px;
    padding:8px 7px;
    width:285px;
    color:#666;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 1.05em;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}


/* Article Loop slider
----------------------------------------------------------------------------------------------------*/


.loopcontainer { width:630px; height:400px; overflow:hidden; position:relative; cursor:pointer; margin-top:10px; }
.slides { position:absolute; top:0; left:0; }
.slides > div { position:absolute; top:0; width:630px; display:none; }
.slides .caption { background:#eee; border: solid 1px #ddd; border-top:0; padding:10px; margin: 0 0 10px; }

#loopedSlider { margin:0 auto; width:630px; position:relative; clear:both; }

#loopedSlider a.previous, #loopedSlider a.next
{
    top:180px;
    z-index:9999;
    position:absolute;
    height:30px;
    width:30px;
    text-indent:-1000px;
    overflow:hidden;
    background:#cc0000;
}
#loopedSlider a.previous
{
    left: 0;
    background:url(../images/btn_loopslider.gif) no-repeat top left
}
#loopedSlider a.previous:hover
{
    left: 0;
    background:url(../images/btn_loopslider.gif) no-repeat top right
}
#loopedSlider a.next
{
    right: 0;
    background:url(../images/btn_loopslider.gif) no-repeat bottom left
}
#loopedSlider a.next:hover
{
    right: 0;
    background:url(../images/btn_loopslider.gif) no-repeat bottom right
}

ul.pagination { list-style:none; padding:0 0 0 10px; margin:0 0 10px; }
ul.pagination li  { float:left; background: transparent; border:0; margin:5px 0 10px; padding:0;}
ul.pagination li a { padding:3px 7px; background: #eee; color:#bbb;}
ul.pagination li.active a { background:#cf111b; color:#fff; border: solid 1px #810008; border-bottom:0;}


/* Gallery loop slider
----------------------------------------------------------------------------------------------------*/
#gallery .loopcontainer {   }
#gallery .slides .caption { background: #eee; border: solid 1px #ddd; border-top:0; border-bottom:0; margin:0;}
#gallery ul.pagination {  background: #eee; border: solid 1px #ddd; border-top:0; height:35px; }

#single_image {margin-bottom: 10px;}
#single_image_big {margin-bottom: 10px;float:left; width:620px; margin-right:10px; padding:5px; background:none repeat scroll 0 0 #EEEEEE; border-style:solid; border-width:1px; border-color:#DDDDDD;}
#single_image_small {margin-bottom: 10px;float:left; width:310px; margin-right:10px; padding:5px; background:none repeat scroll 0 0 #EEEEEE; border-style:solid; border-width:1px; border-color:#DDDDDD;}
#single_image .caption { background: #eee; border: solid 1px #ddd; border-top:0; border-bottom:0; margin:0; padding:10px;}
#single_image_small .caption { background: #eee; border:0px;}

/* Section loop slider
----------------------------------------------------------------------------------------------------*/


#sectionloopedslider { margin:0 auto; width:630px; position:relative; clear:both; }
#sectionloopedslider .loopcontainer { width:630px; height:400px; overflow:hidden; position:relative; cursor:pointer; margin-top:10px; }
#sectionloopedslider .slides { position:absolute; top:0; left:0; }
#sectionloopedslider .slides > div { position:absolute; top:0; width:630px; display:none; }
#sectionloopedslider .slides .caption { background:#eee; border: solid 1px #ddd; border-top:0; padding:10px; margin: 0 0 10px; }

#sectionloopedslider ul.pagination { padding:0; margin:0px 0 0; 	}
#sectionloopedslider ul.pagination li { padding-top:10px; position:relative;}
#sectionloopedslider ul.pagination li div {  background:#333; }
#sectionloopedslider ul.pagination li span {
    background:#cc0000;
    border:#5a0300 solid 1px;
    border-bottom:0;
    border-left:0;
    color:#fff;
    height:12px;
    padding:4px;
    text-transform: uppercase;
    top:100px;
    left:1px;
    position: absolute;
    font-size:10px;
}


#sectionloopedslider ul.pagination li h3 {
    font-family: arial;
    padding:5px 10px 10px 10px;
    margin:0;
    font-size: 14px;
    clear: both;
    color:#fff;
    height:60px;
    overflow:hidden;
}

#sectionloopedslider ul.pagination li h3 a {
    color:#fff;
}

#sectionloopedslider ul.pagination li img { border: solid 1px #222; padding:0; margin:0;}
#sectionloopedslider ul.pagination li a { background: transparent;  padding:0; margin:0; text-decoration: none;}
#sectionloopedslider ul.pagination li.active { background: url(../images/arrowup.gif) no-repeat 67px 0; }
#sectionloopedslider ul.pagination li.active div { background:#222; }
#sectionloopedslider ul.pagination li.active a { border:0; }


/* News Slider
----------------------------------------------------------------------------------------------------*/

.slider  {
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
}
.slider img {
    border:0;
    float:left;
}
.slider .slider_inner {
    overflow:hidden;
    position:relative;
    overflow: hidden;
    width: 100%;
}

.slider .next a, .slider .back a
{
    top:10px;
    z-index:9999;
    position:absolute;
    height:27px;
    width:27px;
    text-indent:-1000px;
    overflow:hidden;
    background:#333;
}
.slider .back a
{
    right:30px;
    background: url(../images/featurersliderarrows.gif) no-repeat bottom left;
}
.slider .back a:hover
{
    background: url(../images/featurersliderarrows.gif) no-repeat bottom right;
}

.slider .next a
{
    right:0;
    background: url(../images/featurersliderarrows.gif) no-repeat top left;
}

.slider .next a:hover
{
    background: url(../images/featurersliderarrows.gif) no-repeat top right;
}


.slider .back a,.slider .next a {
    display:none;
    outline:none;
}

.slider ul {
    position:relative;
    left:0;
    width:auto;
    margin:0;
    padding:0;
    list-style-type:none;
    overflow:hidden;
    min-width:640px;
    z-index:1;
}
.slider li {
    float:left;
    display:inline;
    width:160px;
    border:0;
    margin:0;
    padding:0;
    background: transparent
}
#content .slider li div.blurb {
    margin-right:10px;
    background: #333;
    position: relative;
    border:0;
    height:170px;
    overflow:hidden;
}
.slider li div.blurb img{
    border: solid 1px #222;
}

.slider li div h3 {
    font-family: arial;
    padding:10px 10px 0 10px;
    margin:0;
    font-size: 14px;
    border-top: solid 1px #444;
    clear: both;
}

.slider li div h3 a {
    color:#fff;
}

.slider li div span {
    background:#cc0000;
    border:#5a0300 solid 1px;
    border-bottom:0;
    border-left:0;
    color:#fff;
    height:10px;
    padding:5px;
    text-transform: uppercase;
    top:90px;
    left:1px;
    position: absolute;
    font-size:10px;
}

/* Header Slider
----------------------------------------------------------------------------------------------------*/

#hotopicloopedslider { float: left; margin:0; width:255px; position:relative; }
#hotopicloopedslider .loopcontainer { width:210px; height:16px; overflow:hidden; position:relative; cursor:pointer; float: left; margin:0 0 0 5px; }
#hotopicloopedslider .slides {    }
#hotopicloopedslider .slides > div { position:absolute;  width:210px; display:none; float: left; }
#hotopicloopedslider  a.previous, #hotopicloopedslider  a.next
{
    position:relative;
    height:9px;
    width:5px;
    text-indent:-1000px;
    overflow:hidden;
    float: left;
    margin: 3px 5px 0 0;
}
#hotopicloopedslider a.previous
{
    background: url(../images/sprite_icons.gif) no-repeat 0 -154px;
}
#hotopicloopedslider a.previous:hover
{
    background: url(../images/sprite_icons.gif) no-repeat -5px -154px
}

#hotopicloopedslider a.next
{
    background: url(../images/sprite_icons.gif) no-repeat 0 -163px
}

#hotopicloopedslider a.next:hover
{
    background: url(../images/sprite_icons.gif) no-repeat -5px -163px
}

/* Highlights
----------------------------------------------------------------------------------------------------*/


/* Header Slider
----------------------------------------------------------------------------------------------------*/

#headlineloopedslider { float: left; margin:0; width:460px; position:relative; }
#headlineloopedslider .loopcontainer { width:430px; height:16px; overflow:hidden; position:relative; cursor:pointer; float: left; margin:0 0 0 5px; }
#headlineloopedslider .slides {    }
#headlineloopedslider .slides > div { position:absolute;  width:430px; display:none; float: left; }
#headlineloopedslider  a.previous, #headlineloopedslider  a.next
{
    position:relative;
    height:9px;
    width:5px;
    text-indent:-1000px;
    overflow:hidden;
    float: left;
    margin: 3px 5px 0 0;
}
#headlineloopedslider a.previous
{
    background: url(../images/sprite_icons.gif) no-repeat 0 -154px;
}
#headlineloopedslider a.previous:hover
{
    background: url(../images/sprite_icons.gif) no-repeat -5px -154px
}

#headlineloopedslider a.next
{
    background: url(../images/sprite_icons.gif) no-repeat 0 -163px
}

#headlineloopedslider a.next:hover
{
    background: url(../images/sprite_icons.gif) no-repeat -5px -163px
}

/* Highlights
----------------------------------------------------------------------------------------------------*/



#content .highlights .blurb {
    background: #333;
    position: relative;
    border:0;
}
.highlights .blurb img{
    border: solid 1px #222;
}

.highlights  div h3 {
    font-family: arial;
    padding:10px 10px 0 10px;
    margin:0;
    font-size: 14px;
    border-top: solid 1px #444;
    clear: both;
}

.highlights  div h3 a {
    color:#fff;
}

.highlights  div span {
    background:#cc0000;
    border:#5a0300 solid 1px;
    border-bottom:0;
    border-left:0;
    color:#fff;
    height:12px;
    padding:4px;
    text-transform: uppercase;
    top:90px;
    left:1px;
    position: absolute;
    font-size:10px;
}


/* Banner advertising
----------------------------------------------------------------------------------------------------*/

.banner img
{
    margin-bottom:10px;
}

.banner embed
{
    margin-bottom:10px;
}

.banner object
{
    margin-bottom:10px;
}

.leaderboard img
{
    margin:0 0 10px;
}

.leaderboard .earpeice
{
    float: left;
    margin:0 0 10px 10px;
    width:212px;
}

.leaderboard .earpeice .featured
{
    margin-bottom:0;
    font-size:10px;
    line-height:1;
}

.leaderboard .earpeice .featured h3
{
    font-size:15px;
    margin:0 0 3px 0;
}

.leaderboard .earpeice .featured img
{
    padding:0;
    margin:-1px 0 -1px 10px;
    border-color:#333;
}
.leaderboard .banner
{
    float: left;
}

.banners
{
    margin:0 -4px 0 0;
}
.banners img
{
    margin:0 0px 0px 0;
    padding:0;
    border:0;
}
/*.floatingbanner {position: fixed; top: 0; z-index: 1000}
.floating-banner {position: fixed; top: 0; z-index: 1000}*/

/* Sliding boxes
----------------------------------------------------------------------------------------------------*/



.blocks .blurb
{
    margin-right:5px;
}

.blocks .pad .blurb
{
    margin-left:5px;
    margin-right:0px;
}



.blocks .blurb {
    background:#333;
    margin-right:5px;

}
.blocks .blurb h3 {

}
.blocks .blurb h3 a {
    color:#fff;
    font-size: 14px;
    display: block;
    position: absolute;
    top:10px;
    left:10px;
    right:10px;
}

.boxgrid{
    width: 143px;
    height: 170px;
    float:left;
    background:#333;
    border: solid 1px #222;
    overflow: hidden;
    position: relative;
}

.blocks .blurb .boxgrid h3 {

    padding:0;
    margin:0;
}
.boxgrid img{
    position: absolute;
    top: 70px;
    left: 0;
    border: 0;
}

.boxcaption{
    float: left;
    position: absolute;
    background: #111;
    height: 150px;
    width: 100%;
    opacity: .9;
    /* For IE 5-7 */
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
    /* For IE 8 */
    -MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    top: 215px;
    color:#fff;
}

.boxcaption p {
    padding:10px;
}

.captionfull .boxcaption {
    top: 260;
    left: 0;
}
.caption .boxcaption {
    top: 220;
    left: 0;
}

.slidedown
{
}

/* Login box
----------------------------------------------------------------------------------------------------*/




#logincontainer {
    position: relative;
    border-top: solid 3px #cc0000;
    border-bottom: dotted 1px #999;
    margin-bottom:15px;
    z-index:9999;
}

#network #logincontainer {
    position: relative;
    border:0;
    margin:0;
}

#network a.signin span {
    background: transparent;
    padding:0;
}

#network  #signin_menu { top:15px;  right: -10px; }

#network #signin_menu h3 { text-transform: none; }
#network #signin_menu a { color: inherit;font-size: 12px;text-transform: none; }

#login_topnav {
    padding:10px 0px 12px;
    line-height:23px;
    text-align:right;
}
#login_topnav a.signin {
    background: #c31e19;
    padding:4px 6px 6px;
    text-decoration:none;
    font-weight:bold;
    color:#fff;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    *background:transparent url("../images/loginbox/signin-nav-bg-ie.png") no-repeat 0 0;
    *padding:2px 8px 6px;
    *border:0;
}
#login_topnav a.signin:hover {
    background: #c31e19;
    *background:transparent url("../images/loginbox/signin-nav-bg-hover-ie.png") no-repeat 0 0;
    *padding:2px 8px 6px;
    *border:0;
}
#login_topnav a.signin, #login_topnav a.signin:hover, a.signin2:hover {
    text-decoration: none;
    /* background-position:0 3px!important; */
}


a.signin2 {
    position:relative;
    margin-left:3px;
}
a.signin2 div{
    border: solid 1px #5a0300;
    background:#c9241e url(../images/background_button.png) repeat-x top left;
    padding:3px 5px;
    color:#fff;
    font-size:12px;
    text-shadow: 0 1px 0 #5a0300;
    /*
    margin:5px 0;
    background-repeat:no-repeat;
	background-position:100% 50%;
	padding:4px 16px 6px 0;
    */
    margin: 5px 0 5px -10px;
    text-align: center;
}

a.signin {
    position: relative;
    margin-left: 0px;
}
a.signin span.red {
    background: none repeat scroll 0 0 transparent;
    padding: 0;
    background-image:none;
    /*background-repeat:no-repeat;
	background-position:100% 50%;
	padding:4px 16px 6px 0;
    */
}


#login_topnav a.menu-open {
    background: #c31e19!important;
    color:#fff!important;
    outline:none;
}
#small_signup {
    display:inline;
    float:none;
    line-height:23px;
    margin:25px 0 0;
    width:170px;
}
a.signin.menu-open span {
    background-image:url("../images/loginbox/toggle_up_dark.png");
    color:#fff;
}

a.signin.menu-open span.red {
    background-image:none;
    color:#cc0000;
}

#signin_menu {
    -moz-border-radius-topleft:5px;
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    -webkit-border-bottom-right-radius:5px;
    -moz-box-shadow: 0 2px 5px #555;
    -webkit-box-shadow: 0 2px 5px #555;
    display:none;
    background-color: #fff;
    position:absolute;
    width:310px;
    z-index:1;
    border:1px transparent;
    border: solid 3px #c31e19;
    text-align:left;
    padding:12px;
    top: 27px;
    right: 0px;
    margin-top:5px;
    margin-right: 0px;
    *margin-right: -1px;
    color:#789;

}

#signin_menu input[type=text], #signin_menu input[type=password] {
    display:block;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border:1px solid #ddd;

    margin:0 0 5px;
    padding:5px;
    width:290px;
}
#signin_menu p {
    margin:0;
}
#signin_menu a {
}
#signin_menu label {
    font-weight:normal;
    color:#333;
}
#signin_menu p.remember {
    padding:10px 0;
}
#signin_menu p.forgot, #signin_menu p.complete {
    clear:both;
    margin:5px 0;
}
#signin_menu p a {
}
#signin_submit {
}
#signin_submit::-moz-focus-inner {
    padding:0;
    border:0;
}
#signin_submit:hover, #signin_submit:focus {
    background-position:0 -5px;
    cursor:pointer;
}

.tipsy-inner {
    padding:10px 15px;
    line-height:1.5em;
    font-weight:bold;
}
.tipsy {
    opacity:.8;
    filter:alpha(opacity=80);
    background-repeat:no-repeat;
    padding:5px;
}
.tipsy-inner {
    padding:8px 8px;
    max-width:200px;
    font:11px 'Lucida Grande', sans-serif;
    font-weight:bold;
    -moz-border-radius:4px;
    -khtml-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    background-color:#000;
    color:white;
    text-align:left;
}
.tipsy-north {
    background-image:url(../images/loginbox/tipsy-north.gif);
    background-position:top center;
}
.tipsy-south {
    background-image:url(../images/loginbox/tipsy-south.gif);
    background-position:bottom center;
}
.tipsy-east {
    background-image:url(../images/loginbox/tipsy-east.gif);
    background-position:right center;
}
.tipsy-west {
    background-image:url(../images/loginbox/tipsy-west.gif);
    background-position:left center;
}

.commentnumer { float: left; margin-top:10px;}

.ad {margin-bottom:10px}

.author_img {
    width: 45px;
    height: 45px;
}

.author_img_80x80 {
    width: 80px;
    height: 80px;
}



/* START TABBED Market indicators */

#market_content .marketindicators .tabbed
{
    margin-bottom:10px;
    border: solid 1px #ddd;
}

#market_content .marketindicators .tabbed .tabContent
{
    display: none;
    margin-top:10px;
    padding:0 10px 10px;
}

#market_content .marketindicators .tabbed ul.menu {
    margin:0px;
    padding: 0px;
    height: 23px;
    border-bottom:solid 1px #ddd;
    background:transparent;
}

#market_content .marketindicators  .tabbed ul.menu li
{
    float: left;
    display: inline;
    margin: 0 0 0 0;
    border-bottom:none;
    background: transparent;
}
#market_content .marketindicators ul li {
    padding: 0;
}

#market_content .marketindicators .tabbed ul.menu a
{
    float: left;
    display: inline;
    height: 23px;
    line-height: 23px;
    font-size: 11px;
    padding: 0 7px;
    text-transform: uppercase;
    color: #898989;
    border-right:solid 1px #ddd;
}

#market_content .marketindicators .tabbed ul.menu li.selected a
{
    text-decoration: none;
    color: #333;
    background: #fff;
    border-bottom:solid 1px #fff;
}

#market_content .marketindicators .tabbed ul.menu a:hover
{
    text-decoration: none;
    color: #222;
}

#market_content .marketindicators .table
{
    width:175px;
    font-size:10px;
    float: left;
    margin-right:10px;
}

#market_content .marketindicators .table tr.highlight
{
    background:#f0f4f5;
}

#market_content .marketindicators .wide
{
    width:275px;
    margin:0;
}


#market_content .marketindicators .table table
{
    margin:0;
}



#market_content .marketindicators .details
{
    width:90px;
    font-size:10px;
    float: left;
    text-transform:uppercase;
    font-weight: bold;
}

#market_content .marketindicators .details div
{

    font-weight: normal;
    color:#999
}

#market_content .marketindicators .calculator
{
    width:129px;
    float: left;
    margin-right:5px;
}

#market_content .marketindicators .calculatorwide
{
    width:300px;
    float: left;
    margin:0;
}

#market_content .marketindicators .calculator h3
{
    font-size:10px;
    font-family: arial;
    text-transform: uppercase;
    border-bottom: solid 1px #ddd;
    padding-bottom:6px;
    margin-bottom:6px;
    font-weight: bold;
    color:#222;
    text-shadow: 0 1px 0 #fff;
}

#market_content .marketindicators .calculator .col
{
    float: left;
}

#market_content .marketindicators .calculator .col div.result
{
    margin: 5px 0 0 5px;
}

#market_content .marketindicators .calculator input.text
{
    font-size: 10px;
    width:99px;
    padding:2px;
    border-color:#ddd;
}

#market_content .marketindicators .calculator div.selector
{
    margin-bottom: 5px;
    width: 100px;
    font-size: 12px;
}

#market_content .marketindicators .calculator div.selector select
{
    width: 100px;
    font-size: 12px;
}

#market_content .marketindicators .calculator div.selector span
{
    padding: 0px 25px 0px 2px;
}

#market_content .marketindicators .calculator div.selector span
{
    width: 75px;
}

#market_content .marketindicators .calculator .button
{
    font-size: 9px;
    padding:2px 0;
    border:solid 1px #ddd;
    background:#fff;
    color:#333;
    margin:0;
}

#market_content .marketindicators .tabtools
{
    padding:10px 10px 10px 10px;
    background:#eee;
    border-top: solid 1px #ddd;
}

#market_content .marketindicators .logo
{
    width:143px;
    float: left;
}


#market_content .marketindicators .table .up
{
    color: #4c9448
}

#market_content .marketindicators .table .down
{
    color:#ab2629;
}

#market_content .marketindicators .table td
{
    border-bottom: solid 1px #ddd;
    padding:2px 0;
}

#market_content .marketindicators .table td
{
    text-align: right;
}

#market_content .marketindicators .table td.left
{
    text-align: left;
}

#market_content .marketindicators .table strong
{
    color:#1f5184;
}

#market_content .tabbed ul.menu a:hover
{
    text-decoration: none;
    background: transparent;
}

#market_content .tabbed ul.menu a
{
    float: left;
    display: inline;
    height: 35px;
    line-height: 35px;
    padding: 0 13px 10px;
    text-transform: uppercase;
    color: #fff;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 16px;
}


/*TOP SECTION */

#topIMG img
{
	border: 0px;
	padding: 0px 0px 0px 0px;
}

#tLeftBtn
{
	width: 30px;
	height: 30px;
	background-image: url(../images/btn_loopslider.gif);
	background-position: 0px 0px;
	position: absolute;
	z-index: 10;
	top:80px;
	left:10px;
	display: none;
	outline: none;
}

#tRightBtn
{
	width: 30px;
	height: 30px;
	background-image: url(../images/btn_loopslider.gif);
	background-position: 0px 30px;
	position: absolute;
	z-index: 10;
	top:80px;
	left:275px;
	display: none;
	outline: none;
}

.topsec
{
	color: #ccc;
	padding: 10px;
}

.topSecRight
{
	width: 300px;
}

.topSecRight li
{
	color: #fff;
	border-bottom-color: #444;
}

.topLIVE
{
	padding: 5px;
	background: #BA2025;
	color: white;
	font-family: arial;
	font-size: 18px;
	float: left;
	margin-right: 10px;
}


#topIMG ul{
list-style: none;
padding: 0px;
margin: 0px 0px0px 0px;
position: relative;
left: 0;
width: auto;
margin: 0;
padding: 0;
/*overflow: hidden;
min-width: 640px;
z-index: 1;*/

	
}

#topIMG{
	height:188px;
	width:295px;
	overflow:hidden;
	margin-bottom: 10px;
    margin-left: 10px;
	
}

#topIMG ul li {
	background: none repeat scroll 0 0 transparent;
    border: 0 none;
    display: inline;
    float: left;
    margin: 0;
    padding: 0;
    width: 295px;
}

#sidebar .related {
	border-right: solid 0px #DDD;
	padding: 0 10px 10px 0;
	margin: 0 10px 10px 0;
	width:100%;
}

#sidebar .related .label h3 {
	text-align: left;
	float: inherit;
}

#sidebar .twitterfooter{
	background: #EEE;
	border: solid 1px #DDD;
	border-top: 0;
	height: 25px;
	padding-top: 10px;
	padding-left: 5px;
}

.aggregator .label {
	border-top: solid 3px #C00;
	border-bottom: dotted 1px #DDD;
}

.aggregator .label h3 {
	font-family:Arial;
	text-transform: uppercase;
	padding: 0;
	margin: 0;
	float: left;
	text-shadow: 0 1px 0 white;
	font-size: 18px;
}


.columnists .label {
	border-top: solid 3px #C00;
	border-bottom: dotted 1px #DDD;
}

.columnists .label h3 {
	font-family:Arial;
	text-transform: uppercase;
	padding: 0;
	margin: 0;
	float: left;
	text-shadow: 0 1px 0 white;
	font-size: 18px;
}

#loopedSliderAggregator .loopcontainer {
width: 630px;
overflow: hidden;
position: relative;
cursor: pointer;
margin-top: 10px;
height:auto;
}

#loopedSliderColumnists .loopcontainer {
width: 670px;
overflow: hidden;
position: relative;
cursor: pointer;
margin-top: 10px;
height:auto;
}

#loopedSliderColumnists .loopcontainer .slides > div{
position: absolute;
top: 0;
width: 670px;
display: none;
}

ul.aggregatorPagination { list-style:none; padding:0 0 0 10px; margin:0 0 10px; }
ul.aggregatorPagination li  { float:left; background: transparent; border:0; margin:5px 0 10px; padding:0;}
ul.aggregatorPagination li a { padding:3px 7px; background: #eee; color:#bbb;}
ul.aggregatorPagination li.active a { background:#cf111b; color:#fff; border: solid 1px #810008; border-bottom:0;}
#loopedSliderAggregator ul.aggregatorPagination {  border-top: 0; height: 35px; }


.related .socialbuttons .google {
text-align: left;
margin-left: 15px;
width: 60px;
}


.interactive
{
	margin: 0 0 0px 0px;
	background: #222;
	color: #EEE;
	padding:10px 10px 10px 10px;
}


.interactive img {
	border:0px;
	margin-bottom: 0px;
	
}
.interactive h4 a:hover {
color: #BBB;
}

.interactive h4 a {
color: #EEE;
font-size: 14px;
font-weight:bold;
}

#livestoryslider{
	position:relative;
}

#digitalHead {
	float: right;
	color: #D5231F;
	margin-right: 20px;
}

.topSecRight2 ul {
margin-left: 10px;
margin-bottom: 10px;
padding-bottom: 10px;
}

.topSecRight2 ul li {
color: #CCC;
border: 0;
}


.profilebox2{
	background: none repeat scroll 0 0 white;
	margin-bottom: 1.5em;
	padding: 1.5em;
	border: 1px solid #DDD;
	padding-bottom:5px;
}

.inspired {
	float:right;
	margin-top: 18px;
	display: block;
	width: 240px;
	height: 34px;
	text-indent: -1000px;
	background: url(../images/inspired-by-avusa.png) no-repeat;
	overflow: hidden;
}

#opinionFeatured
	{
		margin-bottom: 10px;
		background-color: #ebebeb;
		padding: 10px;
		
	}

.blogHead{
	margin-bottom: 5px;
}

.blogHead a {
text-decoration: none;
color: #147;
font-size: 15px;
font-size: arial;
font-weight: bold;
}

.latestBlogs {
border-bottom: solid 3px #333;
margin-bottom: 10px;
}

#search .fnb
{
    background:#129799 url(../images/sprite_search_fnb.gif) 97px 0;
    border:0;
    padding:0 0 0 20px;
    width:97px;
    height:33px;
    float: right;
    margin:0px;
    position:relative;
    text-transform: uppercase;
    text-shadow: 0 1px 0 #000;
    font-weight: bold;
    color:white;
}


#search .fnb:hover
{
    background:#129799 url(../images/sprite_search_fnb.gif) 97px -33px;	}

.socialbuttons div {
	margin-bottom: 5px;
}
#PinItCountv {
	margin-bottom: 5px;
 	display: block !important;
 }
 .outbrain_wrapper {
 	border-bottom: 6px solid  #999999;
 	
 }
 
 .ob_dual_right .ob_ads_header h3 {
 	border-bottom: 1px solid #D6CCC4;
 	width: 282px;
 }
 .ob_dual_container {
 	font-size: 12px;
 	margin-bottom: 2px;
 	border-bottom: 1px solid  #999999;
 }

.mailer_error {
	margin: 10px 0 11px 145px;
}

.lblmailer_error{
	font-size:10pt;
	font-weight:normal;
	height:20px;
	padding:5px;
	width:450px;
}
#headlines .headlinestopic a {
    text-transform: capitalize !important;
}
#error-email,#error-email2
{
   margin: 5px 0 15px 145px;
   display: none;
}
#error-username
{
   margin: 5px 0 15px 145px;
   display: none;
}
#error-invalid-email,#error-invalid-email2,#error-invalid-password
{
   margin: 5px 0 15px 145px;
   display: none;
}
.hideCity
{
	display: none;
}
.bannerright {
    float: right;
}
bannerleft {
    float: left;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 10;
}


/*.floatbanner embed{position: fixed; top: 0; z-index: 1000}
.floatbanner object{position: fixed; top: 0; z-index: 1000}
.floatbanner image{position: fixed; top: 0; z-index: 1000}*/

/* End TABBED Market indicators */


/* -----------------BRAND VOICE------------------- */

 .bv-frag-content {
	max-height:155px;
	overflow:hidden;
	margin:70px 10px 20px 20px;
	display:block;
	position: absolute;
	width:340px;
  }
  
    
  .bv-frag-img {
	float:left;
	display:block;
	max-width:115px;
	width:100%;
	height:73px;
	margin:0 10px 5px 0;
	background:#bbb;
	overflow:hidden;
  }
  
    
.bv-frag-head   {
font-size:1.4rem;


  }
    
  .bv-frag-head a  {
  color:#343434;
  }
  
    .bv-frag-head a:hover {
	    color:#000;
	}
  
  
  .bv-frag-text {
	font-size:0.8rem;
	line-height:1rem;
  }

/* -----------------END BRAND VOICE------------------- */


/* -------------------------New Comment Style -------------------*/
    .commentListBox{
        max-width: 460px;
        margin-top: 30px;
    }
    .commentListBox.reply{
        margin-left: 50px;
    }
    .commentListBox .username{
        color: #b30602;
        font-weight: bold;
        display: inline-block;
        margin: 0 10px ;
    }
    .commentListBox .date{
        display: inline-block;
        color: #86838c;
        font-weight: 500;
        font-size: 13px;
    }
    .commentListBox .comment_box{
        background-color: #ececec;
        padding: 20px;
        margin-top: 20px;
        border-radius: 15px;
        position: relative;
    }
    .commentListBox .arrow-up {
        width: 0;
        height: 0;
        border-left: 0px solid transparent;
        border-right: 20px solid transparent;
        border-bottom: 20px solid #ececec;
        position: absolute;
        top: -20px;
        left: 50px;
    }
    .commentListBox .buttons{
        padding: 5px;
        float: right;
        color: #86838c;
        font-weight: 500;
        font-size: 13px;
        margin-right: 10px;
    }
    .commentListBox .buttons span{
        cursor: pointer;
    }
    .commentListBox .replies{
        font-size: 13px;
        margin-right: 10px;
        position: relative;
        right: 0;
        display: inline-block;
        color: #86838c;
        float: right;position: relative;top: 3px;
    }
    .replies_box textarea, .replies_box textarea:focus{
   width: 100%;
    border: none;
    height: auto;
    padding: 0;
    outline: none;
    margin: 15px 0 10px;
}

    .replies_box input[type=button]{
        border: none;
        background-color: #b30602;
        color: #FFFFFF;
        padding: 5px 20px;
        cursor: pointer;
        border-radius: 10px;
        float: right;
    }
    .clearfix{
        clear: both;
    }

/* -----------------------End Comment Style ------------ */


/*-----------------Begin Consumer Live style--------------*/
.consumer_live_banner{
    margin-bottom:15px
}
.span-8 > .blurb.cl {
    border-bottom: 0px !important;
    margin-bottom: 15px !important;
}
.blurb.lead.cl{
  border-bottom: 0px !important;
  margin-top: 10px;
}
.clear + .blurb.cl{
text-transform:uppercase;
}
.clear + .blurb.cl.nobor{
border :none !important;
padding-bottom:0px !important;
}
.cl > .box {
    border-left: 0px!important;
    margin-top: 10px;
}
/*-----------------End Consumer Live style--------------*/