/* 
    Document   : style_community
    Created on : 2011/01/31, 03:58:00
    Author     : declercqq
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

/* START BUTTON */
.button {
    cursor: pointer;
    font-weight: bolder;
}

.buttonDisabled {
    cursor: default;
    font-weight: normal;
    background: white url(../images/commentbuttons.gif) repeat-x bottom left;
    color: #555;    
    text-shadow: none;
    border: solid 1px #888;
}

/* END BUTTON*/

.c_profile {
    float: left;
}

/* START TABBED */
.c_profile .tabbed {
    margin: 10px 0 10px 10px;
}
.c_profile .tabbed .tabContent {
    display:none;
    margin-top:10px;
}
.c_profile .tabbed ul.menu {
    background:#e2dad2;
    margin:-10px -10px 0;
    height:30px;
    padding:0px;
    border-bottom:solid 1px #c3baae;
}
.c_profile .tabbed ul.menu li {
    background: none;
    float:left;
    display:inline;
    margin:0 8px 0 1px;
    border-bottom:none;
    padding: 0px;
}

.c_profile .tabbed ul.menu li.selected a {
    text-decoration:none;
    color:#a7150d;
    background:#faf6e9;
    border:0;
    border-top:0px;
    padding-top:1px;
    font-weight:normal;
}

.c_profile .tabbed ul.menu a {
    float:left;
    display:inline;
    height:30px;
    line-height:30px;
    font-size:12px;
    padding:1px 5px 0 5px;
    text-transform:uppercase;
    color:#7f736b;
    font-weight:normal;
}
.c_profile .tabbed ul.menu a:hover {
    text-decoration:none;
    color:#645856;
}

/* Login box end----------------------------------------------------------------------------------------------------*/

/* START PUBLIC PROFILE */
.c_profile a.button_simulation_small {
    background: #D6151C url(http://ece-dev2.avusa.co.za:8080/businesslive/template/common/images/sprite_forms.png) repeat-x -1px -680px;
    border: 1px solid #7B0D09;
    color: white;
    font-size: 12px;
    margin-bottom: 20px;
    padding: 3px;
    text-align: center;
    text-decoration: none;
}

.c_profile .profile .box
{
    border:0;
    background: transparent;
}

.c_profile .profile .tabbed .menu
{
    background: transparent;
    border-color:#e2dad2;
}

.c_profile .profile .tabContent .content
{
    background: #fcfaf2;
    border: solid 1px #e2dad2;
    border-top: 0px;
    margin: -10px -10px 10px -10px;
    padding:10px;
}

.c_profile .profile .tabMenu li.selected
{
    background: #fcfaf2;
    border: solid 1px #e2dad2;
    border-bottom: 0px;
    padding:0px;
    margin: -1px 7px 0 0;
}

.c_profile .profile .tabMenu li.selected a
{
    background: #fcfaf2;
}

.c_profile .profile .tabbed ul.menu li.selected a
{
    background: #fcfaf2;
}

.c_profile .friends img
{
    margin: 0 0 2px 0;
    background:#fff;
    padding:3px;
    border: solid 1px #e2dad2;
}

.c_profile .newsfeed img.newsfeedpicture
{
    float:right;
    margin: 5px 0 10px 10px;
}

.c_profile .profile .span-13
{
    margin-right:0px;
    width: 525px;
}

.c_profile .profile .meta
{
    border-bottom: solid 1px #e2dad2;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.c_profile .newsfeeditem
{
    /* border-bottom: solid 1px #e2dad2; */
    margin-bottom: 5px;
}

.c_profile .profileinfo1
{
    float:left;
    width:190px;
    margin-right:10px;
}

.c_profile .profileinfo2
{
    float:left;
    width:190px;
    margin-right:10px;
}

.c_profile .profileinfo3
{
    float:left;
    width:208px;
}

.c_profile .profileinfobox h3
{
    margin: 0 2px 0 -10px;
    padding: 10px;
    font-size: 22px;
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    background: #FCFAF2;
}

.c_profile .profileinfobox img
{
    margin: 0 0 0 -10px;
    background: #FCFAF2;
    padding:5px;
    border: solid 1px #e2dad2;
}

.c_profile .profileinfobox ul
{
    margin: 0 2px 0 -10px;
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
    /* border-bottom: 1px solid #DDD; */
}
.c_profile .profileinfobox ul li
{
    margin: 0;
    background: #fcfaf2;
    border-bottom: 1px solid #DDD;
    padding:3px 10px;
}

.c_profile .profileinfobox ul li strong
{
    width:110px;
    display: block;
    float:left;
}

.c_profile .profileinfobox .button:hover {
    color:#fff;
    text-decoration: none;
}

.c_profile .profileinfobox .kharma li
{

}

.c_profile .profileinfobox .kharma
{
    margin-top: 3px;
}

.c_profile .profileinfobox .kharma strong
{
    margin: 2px 0 0 0;
    padding: 0;
    float: none;
    text-transform: uppercase;
    font-weight: normal;
    color: #A7150D;
    width: 100%;
}

.c_profile .kharmaImg
{
    display:block;
    margin: 0px;
    padding-left:2px;
    float: left;
    height:16px;
    width:16px;
    background: url(../images/kharmaflag.png) no-repeat 0 0;
    color:#d9d9d9;
    border:0px;
}

.c_profile .profile h2
{
    border-bottom: solid 1px #e6dece;
    font-size:18px;
    padding:4px 8px;
    margin: 2px -5px 0 -5px;
}

.c_profile .profile h2 a
{
    font-weight: normal;
    text-transform: uppercase;
    font-size:12px;
}

.c_profile .profile .left
{
    float:left;
    width: 150px;
    margin-left: 5px;
}

.c_profile .profile .right
{
    float:left;
    /* width: 526px; */
    padding-left:10px;
    border-left: solid 1px #e6dece;
    margin: 3px;
}

.c_profile .comments .newsfeeditem
{
    border:0px;
}

.c_profile .comments .expertblockarrowtop
{
    background: url(../images/expertarrow_top.png) no-repeat 20px 0;
}

.c_profile .comments .expertblock
{
    background-image: none;
    margin-left:90px;
}
.c_profile .comments .expertblockalt
{
    margin-bottom:10px;
    margin-left:90px;

}

.c_profile .profile .kharma
{

}

.c_profile .profile .kharma ul li
{

}

.c_profile .profile .kharma span
{

    margin-bottom:5px;
}

.c_profile .friendinfo
{
    width: 597px;
    float:left;
    padding-left:10px;
    border-left: solid 1px #e6dece;
}

.c_profile .profile textarea,.profile textarea:focus {
    width:630px;
}


.c_profile .profile  .form_info {

}

.c_profile .profile .noticepage
{
    background:#fff;
    margin-bottom:0px;
    padding: 123px 0;
}

.c_profile form.uploadavatar
{
    text-align: left;
}
.c_profile .uploadavatar input.button
{
    /* margin-left:10px; */
    margin: 2px 0 0 10px;
}
.c_profile .uploadavatar label
{
    margin-bottom:10px;
}
.c_profile .uploadavatar fieldset
{
    margin: 0;
    padding: 0;
}

.c_profile .uploadavatar .form_item
{

}

.c_profile .viewavatar fieldset
{
    padding:20px;
}
.c_profile .uploadavatar .form_item
{
    margin-bottom:10px;
    padding: 2px;
}

.c_profile .messages
{
    border-bottom: solid 1px #e6dece;
    margin-bottom:10px;
    padding-bottom:10px;
}

.c_profile .messagecontainer
{
    border-bottom: solid 1px #e6dece;
    margin-bottom:10px;
    padding-bottom:10px;
}

.c_profile .messages .status
{
    float: left;
    width:20px;
    padding: 0 10px 0 0;
}
.c_profile .messages .sender
{
    float: left;
    width:40px;
    padding: 0 10px 0 0;

}
.c_profile .messages .message
{
    float: left;
    width:395px;
    padding: 0 10px 0 0;
}
.c_profile .messages .date
{
    float: left;
    width:133px;
    padding: 0 10px 0 0;
}


.c_profile .messages .date .meta
{
    border:0px;
}
.c_profile .messages .options
{
    float: left;
    width:50px;
    padding: 0 0 0 10px;
}

.c_profile .messages ul.icons
{
    list-style:none;
    padding:0px;
    margin:0 0 10px;
    height:18px;
    width:40px;
}

.c_profile .messages ul.icons li
{
    list-style:none;
    padding:0 0 0 0;
    margin:0;
    float:left;
    margin-right:0px;
    text-indent:-1000px;
    overflow:hidden;
    height:18px;
    width:18px;
    border-bottom: 0px;
}

.c_profile .messages ul.icons li a {
    display:block;
    height:18px;
    width:18px;
}

.c_profile .messages ul.icons li.read a {
    background: url(../images/icons.gif) no-repeat 0 -16px;
}
.c_profile .messages ul.icons li.read a:hover {
    background: url(../images/icons.gif) no-repeat 0 -118px;
}

.c_profile .messages ul.icons li.unread a {
    background: url(../images/icons.gif) no-repeat  0 2px;
}
.c_profile .messages ul.icons li.unread a:hover {
    background: url(../images/icons.gif) no-repeat  0 -100px;
}

.c_profile .messages ul.icons li.reply a {
    background: url(../images/icons.gif) no-repeat 0 -40px;
}
.c_profile .messages ul.icons li.reply a:hover {
    background: url(../images/icons.gif) no-repeat 0 -142px;
}

.c_profile .messages ul.icons li.delete a {
    background: url(../images/icons.gif) no-repeat 0 -60px;
}
.c_profile .messages ul.icons li.delete a:hover {
    background: url(../images/icons.gif) no-repeat 0 -162px;
}

.c_profile .messages ul.icons li.sent a {
    background: url(../images/icons.gif) no-repeat  0 -80px;
}
.c_profile .messages ul.icons li.sent a:hover {
    background: url(../images/icons.gif) no-repeat  0 -182px;
}

.c_profile .messages p
{
    padding:0 0 5px 0;
    margin:0;
}

.c_profile .commenttitle {
    margin-bottom: 5px;
    margin-left: 85px;
}

.c_profile .commenttext {
    margin-bottom: 6px;
    margin-left: 85px;
}

.c_profile .commentlink {
    margin-bottom: 8px;
    margin-left: 85px;
}

.c_profile .box {
    border: none;
    padding: 0 0 0 10px;
}
/* END PUBLIC PROFILE */

/* START REGISTER FORM */
.captchaRefresh {
    margin: 5px 0 0 2px;
    padding-left: 20px;
    padding-top: 20px;
    background: url(../images/refresh_small.gif) no-repeat 2px 2px;
    border: 1px solid black;
    float: left;
    cursor: pointer;
}

.c_profile .ssoRegisterBox {
    margin: 12px 0 8px 0;
    width: 628px;
    height: 84px;
    background: whiteSmoke url(../images/loginbox/sso_bg.png) no-repeat -1px;
    border: 1px solid #D4D4D4;
}

.c_profile .ssoRegisterTextContainer {
    margin: 0;
    padding: 19px;
    width: 344px;
    height: 46px;
    float: left;
}

.c_profile .ssoRegisterButtonContainer {
    margin: 0;
    width: 246px;
    height: 84px;
    float: right;
}

.c_profile .ssoRegisterButton {
    margin: 12px 0;
    width: 82px;
    height: 60px;
    float: left;
    text-align: center;
    cursor: pointer;
}

.c_profile .ssoRegisterButtonImage {
    margin: 0;
    text-align: center;
}

.c_profile .ssoRegisterButtonText {
    margin: 3px 0 0 0;
    text-align: center;
    font-weight: bold;
}

.c_profile .smallMetaText {
    font-size: 11px;
    color: #888;
    margin-bottom: 20px;
}
/* END REGISTER FORM */

.profileHeaderBox {
    border-bottom: solid 1px #E6DECE;
    margin-bottom: 5px;
    margin-top: -4px;
}

.headerBox {
    float: left;
}

.buttonBox {
    text-align: right;
}

.userActivityList{
    margin-bottom: -5px;
}

.userActivityItem {
    margin: 3px 0 0 0;
    border-bottom: solid 1px #E6DECE;
    padding-bottom: 4px;
}

.commentReplyArrow {
    margin: -8px 0 7px 288px;
    height: 20px;
}

.commentReplyTop {
    margin: -16px 0 0 160px;
    height: 0px;
    border-left: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    padding: 0px;
    width: 468px;
    background: #F0F0F0;
}

.commentReply {
    margin: 0 0 0 160px;
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    padding: 0px;
    width: 468px;
    background: none repeat scroll 0 0 #F0F0F0;
    min-height: 85px;
}

.commentReplyBottom {
    margin: -2px 0 20px 160px;
    height: 1px;
    border-left: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    padding: 0px;
    width: 468px;
    background: none repeat scroll 0 0 #F0F0F0;
}

.commentReplyHead {
    font-family: arial;
    font-size: 11px;
}

.commentReplyImg {
    width: 30px;
    height: 30px;
    float: left;
    margin: 7px 5px 5px 7px;
}

.commentReplyBody {
    margin: 3px 6px;
}

.commentReplyFoot {
    margin: 3px 7px 3px 0;
    float: right;
}

.commentReplySeparator {
    float: left;
    margin: 0 0 0 5px;
    width: 458px;
    border-bottom: 1px solid #DDD;
}