/* forms
----------------------------------------------------------------------------------------------------*/

input.text
{
    border-color:#d4d4d4;	 
    color:#666;
    font-family: "Trebuchet MS", sans-serif;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding:8px 5px;
    width:260px;
}


label
{
    font-size:14px;
}

fieldset
{
    padding: 20px 0; 
    margin: 5px 0;
    border:0;
}

legend
{
    text-transform: none;
    padding:0;
    font-size:38px;
    color:#CC0000;
    font-family: georgia;
    font-weight: normal;
    padding:10px 0 12px 0;
    margin-bottom: 10px;    
}

.legend
{
    text-transform: none;
    padding:0;
    font-size:38px;
    color:#CC0000;
    font-family: georgia;
    font-weight: normal;
    padding:10px 0 12px 0;
}

.form_item
{ 
    padding:10px 0 0; 
    margin:0 0 5px 0;
    float: left; 
    text-align: right;
    border-bottom: none;
}

.form_checkbox
{ 
    color: #888;
    float: left;
    width: 70px;
    margin-top: 14px;
    margin-right: 5px;
}

.form_label {
    padding:10px 0 0;
    margin:0 0 10px 0;
    float: left;
    text-align: right;
    border-bottom: none;
    min-width: 135px;
}

.form_input
{ 
    padding:0 0 0 10px; 
    float:left;
    width:275px;  
}

.form_info
{ 
    padding:5px 0 5px 10px; 
    margin:5px 0;
    float:left;
    width:124px;
    border-left:solid 1px #d4d4d4; 
    color:#888;   
}


.form_input label
{
    font-size:12px;	
}


textarea, textarea:focus
{
    border:solid 1px #d4d4d4;
    width:250px;
    padding:8px 7px;
    width:285px;
    color:#666;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 1.05em;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
} 

.darkText {
    margin: -25px 0 5px 0;
    font-size: 14px;
    font-weight: bold;
}

.lightText {
    margin: 0 0 5px 0;
}

 #editionBtn
    {
    	background:url(../images/digitaledition/btn_bg.jpg);
    	background-repeat:repeat-x;
    	color: #fff;
    	width: 120px;
    	text-align: center;
    	height: 35px;
    	padding-top: 10px;
    }

    
#signin_menu2 input[type=text], #signin_menu2 input[type=password] {
    display:block;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border:1px solid #ddd;

    margin:0 0 5px;
    padding:5px;
    width:290px;
}
#signin_menu2 p {
    margin:0;
}
#signin_menu2 a {
}
#signin_menu2 label {
    font-weight:normal;
    color:#333;
}
#signin_menu2 p.remember {
    padding:10px 0;
}
#signin_menu2 p.forgot, #signin_menu2 p.complete {
    clear:both;
    margin:5px 0;
}
#signin_menu2 p a {
}
#signin_submit2 {
}
#signin_submit2::-moz-focus-inner {
    padding:0;
    border:0;
}
#signin_submit2:hover, #signin_submit2:focus {
    background-position:0 -5px;
    cursor:pointer;
}