#sectionloopedslider ul.pagination li .vaya h3 {
	border:none;
	font-family: arial;
	padding: 5px 10px 10px 10px;
	margin: 0;
	font-size: 14px;
	clear: both;
	color: white;
	height: 30px;
	overflow: hidden;
	background:#ea191f url(../images/vaya/vayaHead.jpg) repeat-x bottom;
}


#sectionloopedslider ul.pagination li .vaya div.vayaPage {
	border:solid 2px #EA191F;
	background: white url(../images/vaya/vayaBlock_bg.jpg) repeat-x bottom;
}


#sectionloopedslider ul.pagination li .vaya div.vayaPage p {
	color: #444;
	background: transparent;
	border: none;
	font-family: arial;
	padding: 5px 5px 5px 5px;
	margin: 0px 0px 10px 0px;
	font-size: 14px;
	clear: both;
	height: 71px;
	overflow: hidden;
}

#sectionloopedslider ul.pagination li .vaya div.vayaPage .vayaBlockBook {
	text-align: left;
	padding: 6px 0px 5px 5px;
	background: white url(../images/vaya/block_book.png) no-repeat 0px 0px;
	height: 17px;
	color: #fff;
	font-weight: normal;
	font-size: 9px;
}

#sectionloopedslider ul.pagination li.active .vaya div.vayaPage .vayaBlockBook .bookNow {
	background:transparent;
	font-weight: bold;
}


#sectionloopedslider ul.pagination li.active .vaya div.vayaPage .vayaBlockBook .boxPrice {
	background:transparent;
	font-weight: bold;
	width: 83px;
	float: left;
}

#sectionloopedslider ul.pagination li .vaya div.vayaPage .vayaBlockBook .bookNow {
	background:transparent;
	font-weight: bold;
}


#sectionloopedslider ul.pagination li .vaya div.vayaPage .vayaBlockBook .boxPrice {
	background:transparent;
	font-weight: bold;
	width: 83px;
	float: left;
}

.vayaPrice {
	text-align: center;
	padding: 2px;
	margin-bottom: 15px;
	background: url(../images/vaya/vaya_price_bg.jpg);
	background-repeat: repeat-x;
	height: 23px;
	color: #fff;
	font-weight: bold;
	font-size: 12px;
}

.vayaBook {
	text-align: left;
	padding: 2px 0px 0px 5px;
	margin-bottom: 15px;
	background: url(../images/vaya/vaya_book.jpg);
	background-repeat: no-repeat;
	height: 23px;
	color: #fff;
	font-weight: normal;
	font-size: 12px;
}

#article .vayaBook a {
	color: #fff;
	text-decoration: none;
}

#article .vaya p {
padding: 0;
margin: 0 0 10px 0;
}
