#header {
	background:#fff;		
	width:1000px;
	margin:auto;
	border-top:2px solid #00457c;	
    
	-moz-box-shadow:0px 2px 8px #aaa;
	-webkit-box-shadow:0px 2px 8px #aaa;
	box-shadow:0px 2px 8px #aaa;
}
#logo, #logo:hover { color:#000; margin-left:10px; }
#header_user_register { background:#fff; border:0px; width:980px; margin:auto; }
#header_user_register_holder { padding-left:120px; }
#header_user_register a, #header_user_register a:hover { left:20px; }

#header_holder { min-height:60px; }
.header_logo #header_right { top:4px; }

.header_logo #logo, .header_logo #logo:hover { margin-left:10px;height:48px; line-height:68px; }
#header_right { width:740px; left:240px; }


#header_menu {
	background:#fff;
	border:0px;	
	
	-moz-box-shadow:0px 4px 6px #ccc;
	-webkit-box-shadow:0px 4px 6px #ccc;
	box-shadow:0px 4px 6px #ccc;
}

#header_menu ul li { margin-right:2px; }
#header_menu ul li a, #header_menu ul li a:hover {
	
font: 13px verdana, san serif;
	color:#fff;
	background:#00457c;
	font-weight:bold;
	text-transform:uppercase;
	border:0;
	line-height:25px;
    text-shadow: 0.1em 0.1em #444;
    
}

#header_menu ul li a:hover {
	background:#333;
	color:#fff;
}

#header_menu ul li.menu_signup a, #header_menu ul li.menu_signup a:hover,
#header_menu ul li.menu_signup:hover,
#header_menu ul li.menu_signup:hover a,
#header_menu ul li.menu_signup:hover a:hover
{ 
	background:#00CD00; 
}


#header_menu ul li.menu_addnews a, #header_menu ul li.menu_addnews a:hover,
#header_menu ul li.menu_addnews:hover,
#header_menu ul li.menu_addnews:hover a,
#header_menu ul li.menu_addnews:hover a:hover
{ 
	background:#00CD00; 
}

#header_menu ul li.menu_army a, #header_menu ul li.menu_army a:hover,
#header_menu ul li.menu_army:hover,
#header_menu ul li.menu_army:hover a,
#header_menu ul li.menu_army:hover a:hover
{ 
	background:#4f8628; 
}

#header_menu ul li.menu_articles a, #header_menu ul li.menu_articles a:hover,
#header_menu ul li.menu_articles:hover,
#header_menu ul li.menu_articles:hover a,
#header_menu ul li.menu_articles:hover a:hover
{ 
	background:#ff8000; 
}


#header_menu ul li.menu_events a, #header_menu ul li.menu_events a:hover,
#header_menu ul li.menu_events:hover,
#header_menu ul li.menu_events:hover a,
#header_menu ul li.menu_events:hover a:hover
{ 
	background:#f68423; 
}

#header_menu ul li.menu_video a, #header_menu ul li.menu_video a:hover,
#header_menu ul li.menu_video:hover,
#header_menu ul li.menu_video:hover a,
#header_menu ul li.menu_video:hover a:hover
{ 
	background:#61b1e3; 
}

#header_menu ul li.menu_lastcom a, #header_menu ul li.menu_lastcom a:hover,
#header_menu ul li.menu_lastcom:hover,
#header_menu ul li.menu_lastcom:hover a,
#header_menu ul li.menu_lastcom:hover a:hover
{ 
	background:#999; 
}

#header_menu ul li.explore:hover,
#header_menu ul li.explore:hover a,
#header_menu ul li.explore:hover a:hover
{
	background:#00457c;
	color:#fff;
}
#header_menu ul li ul li a,
#header_menu ul li ul li a:hover,
#header_menu ul li.explore:hover ul li a,
#header_menu ul li.explore:hover ul li a:hover
{
	background:#00457c;
	line-height:25px;
	color:#fff;
	width:160px;
}
#header_menu ul li.explore:hover ul li a,
#header_menu ul li.explore:hover ul li a:hover
{
	font-size:16px;
}
#header_menu ul li.explore:hover ul li a:hover
{
	background:#1a639e;
	color:#fff;	
}
#header_menu_holder ul li ul {
	background:#333;
	color:#999;
	border:0px;
	right:0px;
	
	-moz-box-shadow:0 0 0;
	-webkit-box-shadow:0 0 0;
	box-shadow:0 0 0;
}
#header_menu_holder ul li ul li a { color:#fff; }
#header_menu_holder ul li ul li a:hover { background:#444; }
#header_menu_user_profile .user_profile_link_span a, #header_menu_user_profile .user_profile_link_span a:hover {
	color:#fff;
}

#header_menu_holder ul li a, #header_menu_holder ul li a:hover {
	color:#00457c;
}
#header_menu_holder ul li a:hover {
	color:#fff;
	background:#333;
}
#header_menu_holder ul li a.has_drop_down:hover { background-color:#333; }
#header_menu_holder ul li a.active, #header_menu_holder ul li a.active:hover {
	color:#fff;
	background-color:#333;
}

#header_sub_menu_search_input
{
	background:#f7f7f7;
	border:1px solid #ddd; 
		
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}
#header_sub_menu_search .focus
{
	background:transparent;
}

input.button, a.button_off_link, a.button_off_link:hover {
	color:#fff;
	text-shadow:0 1px 1px #000;
	border:1px solid #00457c;
	background:#00457c;
}
input.button_not_active:hover
{
	background:#000;
	color:#fff;
}
h1 a, h1 a:hover, .h1 a, .h1 a:hover {
	font-family:'BebasNeueRegular', Arial, sans-serif;	
}

.sub_section_menu ul li a:hover {
	color:#fff;
	background:#00457c;
}

ul.action li a:hover {
	color:#fff;
	background:#333;
}
.user_register_holder { 
	background:#dbeaf4 url('./theme/avenue/theme/frontend/tm_avenue/style/default/image/layout/banner1.png') no-repeat top center; padding:0 0 20px 0;
	padding-top:20px;
}

.user_register_form { 
	background:#000; color:#fff; padding:10px; width:350px;
	margin-top:20px; padding-top:40px; margin-left:580px;
}
.user_register_title {
	font-family:'BebasNeueRegular', Arial, sans-serif;	
	font-weight:normal;
	font-size:32px;
	border:0;	
}
.user_register_form .extra_info { color:#fff; font-size:18px; background:#000; }
.user_register_form .table_left { color:#fff; }
.user_register_form .table_right { height:40px; }
.user_register_form .table_right input { padding:6px 0 6px 4px; }
.user_register_title { margin-top:-70px; background:#00457c; float:left; padding:4px 6px 0 6px; }
.user_register_title .extra_info { background:#000; padding:4px; position:absolute;  }

input.button_register, #main_registration_form_holder input.button_register {
	color:#fff;
	text-shadow:0 1px 1px #000;
	border:1px solid #00457c;
	background:#00457c url('./theme/avenue/theme/frontend/tm_avenue/style/default/image/layout/button_bg.png') repeat-x bottom;
	font-family:'BebasNeueRegular', Arial, sans-serif;	
	font-size:21px;
}

#main_content_holder {
	background:#fff;
	margin:auto;
	width:990px;
	padding-left:5px;
	padding-right:5px;
	-moz-box-shadow:0px 2px 8px #aaa;
	-webkit-box-shadow:0px 2px 8px #aaa;
	box-shadow:0px 2px 8px #aaa;	
}
#main_content_holder .holder { width:990px; }
#content .block .title { 
	font-family:times new roman;	
	font-weight:normal;
	font-size:21px;
	border-bottom:1px solid #333;
	padding-bottom:0px;
}
#left { border:0px; }
#left .block .title { 
	font-family:times new roman;
	background:#fff; 
	font-weight:normal;
	font-size:21px;
	border-bottom:1px solid #333;
}
#right .block .title { 
	font-family:times new roman;
	background:#fff;	
	font-weight:normal;
	font-size:24px;
	border-bottom:1px solid #333;
}

#maintpl .content3 { width:230px; }
#maintpl #left { width:730px; }
#shortstorymain #left { width:740px; }
#js_controller_core_index-visitor #main_content { margin-left:470px; }

#main_footer_holder { 
	width:1000px; 
	margin:auto; 
	margin-top:0px; 
	background:#fff; 
	color:#999; 
	min-height:60px; 

	-moz-box-shadow:0px 2px 8px #aaa;
	-webkit-box-shadow:0px 2px 8px #aaa;
	box-shadow:0px 2px 8px #aaa;
}
#footer { margin-top:0px; }
#footer a { color:#333; }
#footer ul#footer_menu li a, #footer ul#footer_menu li a:hover { border:0; }
#copyright { margin-left:10px; }
#footer ul#footer_menu { margin-right:10px; }

#mobile_holder { width:320px; margin:auto; }
#mobile_holder #main_content_holder { width:auto; }
#mobile_footer ul li a, #mobile_footer ul li a:hover { color:#00457c; }

.tm_features {
	background:#e4e4e4 url('./theme/avenue/theme/frontend/tm_avenue/style/default/image/layout/pattern_bg.png');
	width:780px;
	margin:auto;
	
	-moz-box-shadow:0 2px 6px #777;
	-webkit-box-shadow:0 2px 6px #777;
	box-shadow:0 2px 6px #777;	
}
#tm_featuredphoto { 
	width:320px; 
	float:left;
	margin:10px 10px; 
	background:#fff;
	border:1px solid #ccc;
	padding:10px;
}
#tm_featuredphoto .title { 
	font-family:'BebasNeueRegular', Arial, sans-serif;
	font-size:24px; 
}

#tm_newblogs { 
	width:380px; 
	float:right; 
	margin:10px 10px 10px 0; 
	background:#fff;
	border:1px solid #ccc;
	padding:10px;	
}
#tm_newblogs .title { 
	font-family:'BebasNeueRegular', Arial, sans-serif;
	font-size:24px; 
}
#tm_newblogs .extra_info { font-size:11px; color:#777; font-weight:normal; }
#tm_newblogs .item { padding-top:4px; padding-left:5px; font-size:13px; font-weight:bold; }
#tm_newblogs .item a { color:#000; }
#tm_newblogs .item .view { background:#ddd; padding:4px 10px; font-size:11px; font-weight:normal; font-style:italic; }

.home-banner {
	background:#00457c;
	min-height:300px;
	margin-top:10px;
}

.home-banner .caption {
	color:#fff;
	font-size:32px;
	margin:0px 0px 20px 40px;
	padding-top:40px;
	text-transform:uppercase;
	
}

.home-blogs { margin-left:6px; }
.blog_item { padding-bottom:15px; }
.blog_thumb { 
	text-align:center;
	width:220px;
	height:140px;
	overflow:hidden;
	background:#000;
}
.blog_title a { font-size:21px; }

.feat_event_item { border-bottom:1px dotted #aaa; padding:15px 0px 10px 10px; }
.no_border { border:0px; } 

.new_forum_title a { color:#000; font-size:16px; }