.mainFooter .footer-secondary-navigation-links-title {
  font-size: 12.8px;
  font-size: 0.8rem;
  color: #414141;
/*  font-weight: 700; */
/*  text-transform: uppercase; */
  position: relative;
  letter-spacing:0;
}
.mainFooter .footer-secondary-links {
  margin-left: 15%;
}
.mainFooter .footer-secondary-navigation-links-title:hover {
  cursor: pointer;
}

.mainFooter .footer-secondary-navigation-links-title::before, .mainFooter .footer-secondary-navigation-links-title:before {
  content: "";
  display: inline-block;
  color: #434343;
  width: 15px;
  margin-right: 0.5em;
  margin-left: -1.5em;
  font-size: 1.3em;
  top: 4px;
  height: 15px;
  background-size: 100%;
}

.mainFooter .footer-secondary-navigation-links-title.footer-nav-list-open:before {
  background-image: url('/ISS_Static/WW/css/themes/owv3/images/minus.png?1427918492');
}

.mainFooter .footer-secondary-navigation-links-title.footer-nav-list-collapsed:before {
  background-image: url('/ISS_Static/WW/css/themes/owv3/images/plus.png?1427918512');
}
.mainFooter .footer-navigation-links-list ol {
  list-style-type: none;
  margin-left:0;
  padding-left:0;
  padding-left:0.5em\9;
}
.mainFooter .footer-secondary-links ol {
  display:none;
  padding-left: 0.5em;
}

@media all and (min-width:35em){
.pageWrapper .footer-navigation-column-5 > li {
width:19%!important;
margin-left:2.1%!important;
margin-right:-2%!important;}}