/* Companion Custom CSS over-rides for [ Shadbase V2 ]:  -  */


/*Changing Goggle Search Box align*/

.searchBoxLine {
   width: 260px;
   height:110px;
   margin-left: 2px;
   margin-top:15px;
   float: left;
}
.searchBoxLine{
   clear: both;
}



/*Changing tweeter align*/
.tweeterBox {

   float: right;
   margin-right: 0px;
}



/* Comment align */

/*.bypostauthor { background:url('http://shadbase.com/wp-content/uploads/2011/09/comment-background.jpg');  }*/
/*.byuser { background:url('http://shadbase.com/wp-content/uploads/2011/09/comment-background.jpg');  }*/
.comment { background:url('http://shadbase.com/wp-content/uploads/2012/08/box.png');}




/* Begins Custom Menubar */
/*#zrmenubar { background: url('http://www.zombieroomie.com/images/site/menubar.png') no-repeat; }*/
#zrmenubar ul, #zrmenubar ul li { margin: 0; padding: 0; }
#zrmenu .page_item a, #zrmenu .page_item { display: inline-block; float: left; text-decoration: none; text-indent: -99999px; }
#zrmenu { padding: 0 0 0 20px; margin: 0 0 0 0; width: 100%; height: 41px; }


/*#zrmenu .page-item-Bloc_Left a, #zrmenu .page-item-Bloc_Left { height: 38px; width: 21px; background: url('http://shadbase.com/wp-content/themes/comicpress/images/lefticon.gif') no-repeat; }*/
#zrmenu .page-item-Archive a, #zrmenu .page-item-Archive { height: 28px; width: 125px; background: url('http://shadbase.com/wp-content/themes/comicpress/images/archive.jpg') no-repeat; }
#zrmenu .page-item-Gallery a, #zrmenu .page-item-Gallery { height: 28px; width: 125px; background: url('http://shadbase.com/wp-content/themes/comicpress/images/gallery.jpg') no-repeat; }
#zrmenu .page-item-Videos a, #zrmenu .page-item-Videos { height: 28px; width: 125px; background: url('http://shadbase.com/wp-content/themes/comicpress/images/videos.jpg') no-repeat; }
#zrmenu .page-item-Shagbase a, #zrmenu .page-item-Shagbase { height: 28px; width: 125px; background: url('http://shadbase.com/wp-content/themes/comicpress/images/shagbase.jpg') no-repeat; }
#zrmenu .page-item-About a, #zrmenu .page-item-About { height: 28px; width: 125px; background: url('http://shadbase.com/wp-content/themes/comicpress/images/about.jpg') no-repeat; }
#zrmenu .page-item-Commission a, #zrmenu .page-item-Commission { height: 28px; width: 125px; background: url('http://shadbase.com/wp-content/themes/comicpress/images/commission.jpg') no-repeat; }
#zrmenu .page-item-Forum a, #zrmenu .page-item-Forum { height: 28px; width: 125px; background: url('http://shadbase.com/wp-content/themes/comicpress/images/forum.jpg') no-repeat; }
#zrmenu .page-item-Shop a, #zrmenu .page-item-Shop { height: 28px; width: 125px; background: url('http://shadbase.com/wp-content/themes/comicpress/images/shop.jpg') no-repeat; }
/*#zrmenu .page-item-Bloc_Right a, #zrmenu .page-item-Bloc_Right { height: 28px; width: 21px; background: url('http://shadbase.com/wp-content/themes/comicpress/images/rightticon.gif') no-repeat; }*/


#zrmenu .page-item-Archive a:hover { background-position: -125px 0; }
#zrmenu .page-item-Gallery a:hover { background-position: -125px 0; }
#zrmenu .page-item-Videos a:hover { background-position: -125px 0; }
#zrmenu .page-item-Shagbase a:hover { background-position: -125px 0; }
#zrmenu .page-item-About a:hover { background-position: -125px 0; }
#zrmenu .page-item-Commission a:hover { background-position: -125px 0; }
#zrmenu .page-item-Forum a:hover { background-position: -125px 0; }
#zrmenu .page-item-Shop a:hover { background-position: -125px 0; }

/* Ends Custom Menubar */



/* Website resolution */
#page {
	width: 1000px;
	margin: 0 auto;
}

#page-wide {
	width: 1000px;
	margin: 0 auto;
}


/* Changing column width */

.layout-2cl .narrowcolumn, .layout-2cr .narrowcolumn,
.layout-2cvr .narrowcolumn, .layout-2cvl .narrowcolumn 
{
	width: 760px;
}


/* Right Sidebar Themes */
#sidebar-right {
   width: 200px;
   text-align: center;
}


img {
max-width: inherit;/*
padding: 0 auto;
margin: 0 auto;*/
}



/* Font */

body {font-family: Verdana, Arial, Helvetica, Futura, sans-serif; 
      font-size: 75%; 
      color:#fffac7;}     
     
a:link{color:#ff4444;}

a:hover{color: #c97dff;}

a:visited{color:#ff4444;}
a:visited:hover {color:#c97dff;}




/* Changing pages and post titles */


h2.pagetitle, h2.pagetitle a, h2.page-title, h2.page-title a {
	letter-spacing: 2px;	
}

h2, h2 a {
	margin-top: 10px;
	letter-spacing: 2px;
}