/*
	Theme Name: GoodLife Child Theme
	Theme URI: http://themeforest.net/user/fuelthemes
	Description: <strong>GoodLife Magazine WordPress Theme by <a href="http://themeforest.net/user/fuelthemes?ref=fuelthemes">Fuel Themes</a></strong> – Update notifications available on Twitter and Themeforest <a href="http://twitter.com/anteksiler">Follow us on twitter</a> – <a href="http://themeforest.net/user/fuelthemes">Follow us on Themeforest</a>
	Version: 1.0.0
	Author: fuelthemes
	Template: goodlife-wp
*/

@import url("../goodlife-wp/style.css");


#wrapper #content-container {
background: #f5f5f5;
}

/*
#wrapper #content-container {
    background: url("http://i.pictr.com/wby1u2z0gf.jpg")no-repeat fixed top;
}
*/

.related-posts .related-title {
    display: block;
    padding-bottom: 20px;
    border-bottom: 2px solid #eaeaea;
    margin-bottom: 30px;
    margin-top: 30px;
}

.post.blog-post .post-gallery {
    margin-bottom: 20px !important;
}

div.reaction_buttons {
    text-align: center !important;
    font-weight: 600;
}

div.reaction_buttons_tagline {
padding-bottom: 5px;
}

.dsq-widget-avatar {
    border-radius: 0px !important;
    margin-right: 15px !important;
}

.dsq-widget-user {
    text-decoration: none;
    display: block;
    font-family: inherit !important; 
    color: #00ABD1;
}

.dsq-widget-comment {
    font-family: Droid Serif !important;
    display: block;
}

.essb_links.essb_template_metro-retina {
    word-wrap: normal!important;
    clear: both;
    margin: 1em 0;
    text-align: center;
}

#comments {
    border-left: 0px solid #f5f5f5; 
    border-right: 0px solid #f5f5f5; 
    border-bottom: 0px solid #f5f5f5; 
    margin-bottom: 30px;
}

#contact-form-342 {
padding: 30px;
}

#footer {
    background: transparent;
    padding: 40px 0 0 0;
    width: 100%;
    text-align: center;
}

#subfooter.dark .subfooter-menu-holder {
    border-top: 0px solid rgba(255, 255, 255, 0.15);
}

#subfooter .subfooter-menu-holder {
    padding: 20px 0;
}

.post-author .avatar, .authorpage .avatar {
    float: left;
    margin-right: 30px;
    width: 86px;
    display: block !important; 
}

.header > .row {
background: white;
}

.row.top-padding {
    padding-top: 20px;
}

@media only screen and (max-width: 980px) {
iframe.billboard {
        display: none !important;
    }
}

@media only screen and (min-width: 979px) {
iframe.mobilebillboard {
        display: none !important;
    }
}

.pagination {
    margin: 20px 0 40px;
}

.post.post-overlay .post-gallery img {
    opacity: 0.5 !important;
}

.thb-a {
    padding: 10px 15px;
    text-align: right;
}

#navholder > .row {
    background: #EAEAEA;
}

.menu-holder.style1 {
    border-bottom: 0px solid rgba(0, 0, 0, 0.08) !important;
}

.static-feature {
    /*border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
    height: 430px;
    padding: 10px;
    width: 958px;*/
}

.static-feature-one
{
	width: 338px;
	height: 400px;
	float: left;
}

.static-feature-others
{
/*	width: 620px;*/
	width: 960px;
/*	float: right;*/
}




.static-feature-title
{
	 background: url("images/top-transperent.png") repeat-x scroll 0 0 transparent;
	 display: block;
	 position: relative;
	 top: 50%;
	 padding: 5px 10px;
	 font-size: 18px;
	 line-height: 18px;
	 color: #fff;
	 clear: both;
}

table.forum-post
{
	width: 100%;
}

table.forum-post tr td
{
	width: 50%;
	
}

.row-title
{
	 font-family: 'Open Sans Condensed',sans-serif;
	 font-size: 22px;
	 color: #1D4396;
	 font-weight: bold;
}

.newpost
{
	background-image: url('images/new-post.png');
	background-repeat: no-repeat;
	padding-left: 50px;
	line-height: 29px;
}

.activepost
{
	background-image: url('images/active-post.png');
	background-repeat: no-repeat;
	padding-left: 50px;
	line-height: 29px;
}

.rowthis
{
    font-family: 'Poppins',sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 12px;
    padding: 4px 3px;
	border-top:1px dotted #fff;
	
}

.rowthis:first-child
{
	border-top: none;
}

.rowthis:nth-child(even)
{
background-color: #F5F1EE;
}

.rowthis:nth-child(odd)
{
}

.threads {
	color: white;
    display: none;
    font-size: 12px;
    position: absolute;
    right: -812px;
    visibility: visible;
    width: 980px;
    z-index: 999999;
}

.threads-content
{
	background-color: #ddd;
	padding: 10px 13px;
	border-top: 5px solid white;
	text-transform: none;
	/*background-image: url('images/thread-bg.png');*/
}


.threads-content a
{
	color: #058fc8;
	font-weight: bold;
}

.active-threads {
    background-image: url("images/active-red.png");
    font-family: 'Poppins', sans-serif;
    /*background-position: 0 9px;*/
    background-repeat: no-repeat;
    color: #E81919;
    font-size: 20px;
    /*font-weight: bold;*/
    padding: 3px 0 10px 28px;
    text-transform: uppercase;
    width: 230px;
}

.new-threads
{
    background-image: url('images/new-thread-red.png');
    font-family: 'Poppins', sans-serif;
    background-repeat: no-repeat;
    /*background-position: 5px 9px;*/
    background-repeat: no-repeat;
    color: #E81919;
    font-size: 20px;
    /*font-weight: bold;*/
    padding: 3px 0 10px 30px;
    text-transform: uppercase;
    width: 230px;
}


.threads-left
{
	width: 370px;
	float: left;
	padding: 0 10px 10px;
	/*height: 225px;*/
}

.threads-right
{
    float: left;
    padding: 0 10px 10px;
    width: 370px;
/*height: 225px;*/
}

.subheader.fixed .menu-holder .sf-menu li > a {
    font-size: 11px;
    font-weight: 400;
    padding: 0 2px;
}