@charset "utf-8";
/* CSS Document */
:link,:visited {text-decoration:none}
ul,ol {list-style:none}

ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input
{ margin:0; padding:0 }
a img,:link img,:visited img {border:none}
a {outline:none}
address {font-style:normal}

a {
	color:#575a06;
	}
	
a:hover {
	color:#575a06;
	text-decoration:underline;
}

body {
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 12px;
	color:#443D3D;
	margin: 5px 20px;
}

img 
{
	border: 0;
	max-width: 300px;
}

.cl{
	clear:both;
}
.top_bar {
    background: #5d648e;
    color: white;
    font-weight: bold;
    line-height: 20px;
	padding-left: 5px;
    border-radius: 7px 7px 0px 0px;
}
.top_bar a{
    color: white;
}
.logo{
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
}
.header_bar{
	font-size: 14px; 
	font-weight: bold;
	margin: 0px auto;
	text-align: center;
	border-top: 1px solid #5d648e;
	border-bottom: 1px solid #5d648e;
	padding: 5px 0px;
	color: #5d648e;
}

.fb1 {
color: #333333;
padding-top: 5px;
padding-bottom: 5px;
text-align: center;
vertical-align: middle;
background-color: #F6F7F8;
border-top: 1px solid #CED5E5;
border-bottom: 1px solid #CED5E5;
margin: auto;
margin-top: 5px;
margin-bottom: 5px;
}

.notice1 {
color: #333333;
padding-top: 5px;
padding-bottom: 5px;
text-align: center;
vertical-align: middle;
background-color: #ffffcc;
border-top: 1px solid #fc0;
border-bottom: 1px solid #fc0;
margin: auto;
margin-top: 5px;
margin-bottom: 5px;
}
.back{
	font-size: 13px; 
	font-weight: bold;
	margin: 0px auto;
	text-align: center;
	color: white;
	background-color: #5d648e;
}
.back a{
	color: white;
}

.header_bar .sub{
	font-size: 10px; 
	font-weight: normal;
}

.series_container{
	margin: 5px 0px;
}

/*
.series_set{
	margin: 0px auto;
	width: 90px;
	height: 30px;
	line-height: 30px;
}
.series_set a{
	float: left;
	width: 30px;
	text-align: center;
	display: block;
}
*/

.series_set{
	position: relative;
	border-bottom: 1px dashed #5d648e;
	min-height:90px;
}
.series_set:nth-child(1)
{
	border-top: 1px dashed #5d648e;
}
.series_set a{
	text-align: center;
	display: block;
	margin: 4px;
	padding: 2px 0px;
}
.series_set a:hover{
	text-decoration: none;
}
.series_set a span {
    display: block;
    height: 20px;
    text-align: left;
    margin-left: 10px;
}
.series_set a span.label {
	font-size: 14px;
	font-weight: bold;
}
.series_set a span.more {
	border-radius: 5px;
	background-color: #5d648e;
	color: white;
	margin-top: -15px;
	padding: 0px 4px;
	display: inline-block;
	float:right;
}


.data_list{
	margin: 5px 0px;
	padding: 5px 0px;
	border-top: 1px dashed #5d648e;
	border-bottom: 1px dashed #5d648e;
}

.data_list .data a{
	display: inline-block;
	line-height: 20px;
	background: url("../images/arrow_r.png") no-repeat left;
	padding-left: 20px;
}

.data_list .data.main {
	line-height: 20px;
	padding-left: 20px;
	background: url("../images/arrow_r.png") no-repeat left;
}

.data_list .data.main a{
	background: none;
	padding-left: 0px;
}

.page_nav,.page_desc,.pagination,.sort_wrap{
	text-align: center;
}

.sort_wrap {
    margin: 5px 0px;
}
.sort_wrap a {
    text-decoration: underline;
}
.sort_wrap a:hover {
    text-decoration: none;
}

.breadcrumb {
    background: #5d648e;
    color: white;
	font-weight: bold;
	padding: 4px 0px;
	margin: 5px 0px;
}
.breadcrumb a {
    color: white;
	padding-left: 5px;
}
.breadcrumb a.active {
    color: white;
	text-decoration: none;
}
.img {
	text-align: center;
}
.img img 
{
	border: 0;
	max-width: 250px;
	border-radius: 10px;
}

.serial_name {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}
.season_name {
    text-align: center;
    font-size: 13px;
    margin: 2px 0px;
}
.serial_desc {
    text-align: center;
    font-style: italic;
}

.other_info div.row{
	height: 20px;
	line-height: 20px;
}
.other_info div.field{
	float: left;
	font-weight: bold;
}
.other_info div.value{
	float: left;
	margin-left: 2px;
	padding-left: 2px;
}

.header_bar_file {
    text-align: center;
    background: #5d648e;
    color: white;
    font-weight: bold;
    line-height: 20px;
}
.count {
    font-size: 11px;
    color: black;
}
.rate_btn{
padding: 2px 5px;
background: rgb(228, 4, 4);
border: none;
color: white;
font-weight: bold;
border-radius: 5px;
cursor: pointer;
}
.rate_zone{
    height: 24px;
	line-height: 24px;
}
.rate_zone_text{
    float: left;
    font-weight: bold;
}
.other_info{
	border-top: 1px dashed #5d648e;
	border-bottom: 1px dashed #5d648e;
	border-bottom: none;
	margin: 10px 0px;
	padding: 5PX 0PX;
}

.footer_bar{
	margin-top: 5px;
	padding:  3px 0px;
	border-radius: 0px 0px 10px 10px;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	color: white;
	background-color: #5d648e;
}