body.index{
    background: #fff;
}
/*分栏-左*/
.columns{}
.columns-left {
    width: 120px;
    float: left
}
/*分栏-中*/
.columns-view {
    margin-left: 120px;
    border-bottom: 1px solid #dedede;
    overflow: hidden
}
/*分栏-中-左*/
.columns-center {
    width: 720px;
    background: #fff;
    float: left;

}
/*分栏-中-右*/
.columns-right {
    margin-left: 721px
}
/*分栏-中-通*/
.columns-center.full {
    width: 100%
}
/*线条*/
.columns-left, .columns-view {
    border-top: 1px solid #dedede
}
.columns-center, .columns-view {
    border-right: 1px solid #dedede
}
/*分栏-nav*/
.header-nav {
    overflow: hidden;
    padding: 0 0 7px
}

.header-nav h2 {
    font-size: 70px;
    text-shadow: 0 0 5px #333;
    color: #fff;
    padding: 15px 0;
    font-family: Verdana light,SimHei;
    font-weight: bolder;
    background-color: rgba(0, 0, 0, .05)
}

.header-nav h2 a {
    color: #FFF;
}

.header-nav ul {
    overflow: hidden;
    border-top: 1px solid rgba(0, 0, 0, .15);
    border-bottom: 1px solid rgba(255, 255, 225, .14)
}

.header-nav li a {
    font-size: 15px;
    color: #fff;
    padding: 10px;
    font-weight: 400;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    border-bottom: 1px solid rgba(0, 0, 0, .15);
    border-top: 1px solid rgba(255, 255, 225, .14)
}
.header-nav h2, .header-nav li a {
    text-align: center;
    display: block
}
.header-nav li a:hover {
    background-color: rgba(0, 0, 0, .05);
    border-bottom-color: rgba(0, 0, 0, .05);
    border-top-color: rgba(0, 0, 0, .05)
}

.ie7 .header-nav li a:hover, .ie8 .header-nav li a:hover {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)
}

.header-nav li a.active {
    background-color: rgba(0, 0, 0, .2);
    border-bottom: 0;
    border-top-color: rgba(0, 0, 0, .35)
}

.ie7 .header-nav li a.active, .ie8 .header-nav li a.active {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#c8000000, endColorstr=#c8000000)
}

/*news*/

@keyframes loading {
    0% {
        transform: translate(0, -6px);
        opacity: .5
    }
    80% {
        transform: translate(0, -2px);
        opacity: .9
    }
    100% {
        transform: translate(0, 0);
        opacity: 1
    }
}

@-moz-keyframes loading {
    0% {
        -moz-transform: translate(0, -6px);
        opacity: .5
    }
    80% {
        -moz-transform: translate(0, -2px);
        opacity: .9
    }
    100% {
        -moz-transform: translate(0, 0);
        opacity: 1
    }
}

@-webkit-keyframes loading {
    0% {
        -webkit-transform: translate(0, -6px);
        opacity: .5
    }
    80% {
        -webkit-transform: translate(0, -2px);
        opacity: .9
    }
    100% {
        -webkit-transform: translate(0, 0);
        opacity: 1
    }
}

@-o-keyframes loading {
    0% {
        -o-transform: translate(0, -6px);
        opacity: .5
    }
    80% {
        -o-transform: translate(0, -2px);
        opacity: .9
    }
    100% {
        -o-transform: translate(0, 0);
        opacity: 1
    }
}

.news-view {
    overflow: hidden;
    animation: loading .5s;
    -moz-animation: loading .5s;
    -webkit-animation: loading .5s;
    -o-animation: loading .5s
}

.news-view.position {
    position: relative
}

.news-view.position .news-position {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px 5%;
    width: 90%;
    background: rgba(0, 0, 0, .7)
}

.ie7 .news-view.position .news-position, .ie8 .news-view.position .news-position {
    background: url(../image/l-bg.png) 0 center repeat-x #000;
    opacity: .7;
    filter: alpha(opacity=70)
}

.news-view.position .news-position .news-header a {
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .4);
    font-size: 24px;
    line-height: 30px
}

.news-view.position .news-position .news-header a:hover {
    color: #f1f1f1;
    text-shadow: 0 0 10px rgba(0, 0, 0, .9)
}

.news-view.position .news-position .news-main p, .news-view.position .news-position p .author a, .news-view.position .news-position p .comment, .news-view.position .news-position p .date {
    color: #fff
}

.news-view.left .news-img {
    float: left;
    width: 210px
}

.news-view.left .news-right {
    margin-left: 230px;
    height: 105px
}

.news-view .news-img img {
    width: 100%;
    height: auto
}

.news-view .news-right {
    position: relative
}

.news-view .news-right .news-header, .news-view .news-right .news-tag {
    padding: 0 0 5px
}

.news-tag, .news-view .news-header {
    padding: 5px 0
}

.news-view .news-right .news-main {
    height: 40px;
    overflow: hidden
}

.news-tag .tags {
    font-size: 12px;
    color: #27757b;
    margin-right: 5px
}

.news-view .news-header h3 span img {
    display: inline-block;
    vertical-align: -5px
}

.news-view .news-header h1 {
    margin-top: 10px
}

.news-view .news-header a {
    font-size: 16px;
    line-height: 24px;
    color: #333;
    font-weight: 700;
    padding-right: 5px;
    transition: color .3s;
    -moz-transition: color .3s;
    -webkit-transition: color .3s;
    -o-transition: color .3s;
}
.news-view .news-header a:hover {
    color: #009bff
}

.news-view .news-main p {
    font-size: 14px;
    line-height: 20px;
    color: #777
}

.news-view .news-footer p {
    position: relative;
    color: #999;
    line-height: 25px;
    overflow: hidden
}

.news-view .news-footer p span {
    float: left
}

.news-view .news-footer p .author-avatar {
    margin-right: 6px
}

.news-view .news-footer p .author-avatar img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    box-shadow: 0 0 1px rgba(0, 0, 0, .2)
}

.news-view .news-footer p .author a, .news-view .news-footer p .date {
    color: #777
}

.news-view .news-footer p .comment {
    float: right
}

.news-view .news-footer p .comment i {
    width: 14px;
    height: 16px;
    background: url(../image/jm-icon.png) -83px -141px no-repeat;
    display: inline-block;
    vertical-align: -4px;

}
.news-view .news-footer p  i{
    margin-right: 3px
}
.ie7 .news-view .news-footer p .comment i {
    vertical-align: 0
}

.columns-right .sidebar-main .news-view.href {
    padding: 10px
}

.columns-right .sidebar-main .news-view.href .news-img {
    width: 175px;
    height: 100px
}

.columns-right .sidebar-main .news-view.href .news-right {
    height: 100px;
    margin-left: 185px
}

.columns-right .sidebar-main .news-view.href .news-header a {
    font-size: 14px
}

.load-view {
    overflow: hidden;
    width: 100%
}

.load-more {
    display: block;
    color: #666;
    font-size: 16px;
    width: 100px;
    padding: 8px 0 9px;
    text-align: center;
    margin: 10px auto 50px;
    cursor: pointer;
    background-color: #f8f8f8;
    border: 1px solid #a6a6a6;

    border-radius: 10px;
}

.load-more.loading {
    border-color: #8a8a8a;
}

.columns-top {
    background: #141414;
    border-bottom: 1px solid #dedede;
    height: 350px;
    overflow: hidden
}

.columns-top .bx-wrapper {
    padding: 0 190px 0 189px;
    position: relative;
    height: 350px
}

.columns-top .bx-controls-direction a {
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    -moz-transition: all .2s;
    position: absolute;
    top: 0;
    width: 190px;
    background: rgba(0, 0, 0, .5);
    height: 350px;
    text-align: center;
    font: 700 60px/350px leeter;
    color: #222
}

.ie7 .columns-top .bx-controls-direction a, .ie8 .columns-top .bx-controls-direction a {
    background: url(../image/l-bg.png) 0 center repeat-x #000;
    opacity: .7;
    filter: alpha(opacity=70);
    font-weight: 400
}

.columns-top .bx-controls-direction a:hover {
    background: rgba(0, 0, 0, .7);
    color: #FFF;
    text-shadow: 0 0 10px #fff
}

.ie7 .columns-top .bx-controls-direction a:hover, .ie8 .columns-top .bx-controls-direction a:hover {
    opacity: .8;
    filter: alpha(opacity=80)
}

.columns-top li .news-img a:hover img, .list-view .news-view.left .news-img a:hover img, .top-grid .news-view .news-img a:hover img {
    filter: brightness(.9);
    -webkit-filter: brightness(.9);
    -moz-filter: brightness(.9);
    -o-filter: brightness(.9);
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    -moz-transition: all .2s
}

.columns-top .bx-controls-direction .bx-prev {
    left: 0;
    border-right: 1px solid #FFF
}

.columns-top .bx-controls-direction .bx-next {
    right: 0;
    border-left: 1px solid #fff
}

.columns-top li {
    float: left;
    width: 700px;
    min-width: 700px
}

.columns-top li .news-view.position .news-position {
    width: 300px;
    bottom: 20px;
    padding: 10px 15px;
    left: -340px;
    box-shadow: 0 0 5px #000
}

.columns-top li .news-img {
    width: 700px;
    height: 350px;
    position: relative
}

.columns-top li .news-img a:hover img {
    -ms-filter: grbrightness(.9);
    filter: brightness(.9)
}

.columns-top.white {
    border-bottom-color: #000
}

.columns-top.white .bx-controls-direction a {
    background: rgba(255, 255, 255, .7);
    border-color: #000
}

.columns-top.white .bx-controls-direction a:hover {
    background: rgba(255, 255, 255, .9);
    color: #000;
    text-shadow: 0 0 10px #000
}

.columns-top.white li .news-view.position .news-position {
    background: rgba(255, 255, 255, .6)
}

.ie7 .columns-top.white li .news-view.position .news-position, .ie8 .columns-top.white li .news-view.position .news-position {
    background: #fff
}

.columns-top.white li .news-view.position .news-position .news-header a {
    color: #000;
    font-size: 26px;
    text-shadow: 0 0 1px #fff
}

.columns-top.white li .news-view.position .news-position .news-footer span, .columns-top.white li .news-view.position .news-position .news-footer a {
    color: #000
}

.top-grid {
    min-height: 400px;
    position: relative;
    margin-bottom: 10px;
}

.top-grid .top-grid-mate {
    position: absolute;
    left: 20px;
    top: 20px;
    z-index: 99
}

.bottom-grid, .partner-list {
    overflow: hidden;
    position: relative
}

.top-grid .top-grid-mate span {
    display: inline-block;
    background: #cf2a27;
    line-height: 30px;
    padding: 0 15px;
    font-size: 15px;
    color: #fff;
    font-weight: 700
}

.top-grid .top-grid-mate span a {
    color: #fff
}

.top-grid .left-card {
    width: 490px;
    height: 399px;
    padding-bottom: 1px;
    float: left
}

.top-grid .left-card .news-view .news-img img {
    height: 399px
}

.top-grid .news-view .news-position {
    background: rgba(0, 0, 0, .5)
}

.top-grid .right-card {
    margin-left: 491px
}

.top-grid .right-card .news-view {
    margin-bottom: 1px
}

.top-grid .right-card .news-view .news-img img {
    height: 199px
}

.top-grid .right-card .news-view.position .news-position .news-header a {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400
}

.top-grid .top-card {
    padding: 20px 20px 10px
}

.top-grid .top-card .news-position {
    width: 400px;
    bottom: 20px;
    padding: 10px 15px;
    left: auto;
    right: 20px;
    box-shadow: 0 0 5px #000
}

.top-grid .top-card .news-img img {
    height: 340px;
    width: 680px
}

.top-grid .news-view .news-img a:hover img {
    -ms-filter: grbrightness(.9);
    filter: brightness(.9)
}

.bottom-grid {
    background: #fff
}

.bottom-grid .grid-mate {
    padding-top: 15px;
    border-top: 3px solid #343434
}

.bottom-grid .grid-mate span {
    display: inline-block;
    line-height: 20px;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    padding: 0 20px;
    color: #3b900e
}

.bottom-grid .grid-view {
    margin: 20px;
    background: #000;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, .7)
}

.bottom-grid .grid-view .grid-item {
    width: 519px;
    float: left
}

.bottom-grid .grid-view .grid-item-1 {
    width: 700px;
    height: 350px;
    border-bottom: 1px solid #fff
}

.bottom-grid .grid-view .grid-item-2 {
    width: 338px;
    height: 350px;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff
}

.bottom-grid .grid-view .grid-item .news-img img {
    width: 519px;
    height: 260px;
    opacity: .7
}

.bottom-grid .grid-view .grid-item-1 .news-img img {
    width: 700px;
    height: 350px
}

.bottom-grid .grid-view .grid-item-2 .news-img img {
    width: 338px;
    height: 350px
}

.bottom-grid .grid-view .grid-item-3 {
    border-right: 1px solid #fff
}

.bottom-grid .news-view.position .news-position .news-header a {
    line-height: 24px;
    font-size: 20px;
    font-weight: 400
}

.bottom-grid .news-view .news-position {
    width: 300px;
    bottom: 20px;
    padding: 10px 15px;
    left: 20px;
    box-shadow: 0 0 5px #000
}

.bottom-grid .grid-item-2 .news-view .news-position {
    width: 240px
}

.bottom-grid .news-view .news-img img {
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    -moz-transition: all .2s
}

.bottom-grid .news-view .news-img a:hover img {
    transform: scale(1.01);
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -o-transform: scale(1.01);
    opacity: 1
}

.news-flash {
    padding: 15px 0;
    height: 28px;
    overflow: hidden;
    border-bottom: 1px solid #dcdcdc
}

.news-flash .news-title {
    float: left;
    width: 100px;
    text-align: center;
    border-right: 1px solid #dcdcdc
}

.news-flash .news-title a {
    font-size: 20px;
    font-weight: bold;
    line-height: 28px
}

.news-flash .news-info {
    margin-left: 101px;
    padding-left: 10px;
    overflow: hidden;
    height: 28px
}

.news-flash .nf-list {
    min-width: 968px
}

.news-flash .news-info .bx-wrapper {
    height: 28px
}

.news-flash .news-info .bx-wrapper li {
    overflow: hidden;
    min-width: 968px
}

.news-flash .news-info .news-header {
    float: left;
    width: 750px
}

.news-flash .news-info .news-header a {
    font-size: 16px;
    line-height: 28px
}

.news-flash .news-info .news-header a:hover {
    color: #009bff
}

.news-flash .news-info .news-footer {
    float: right;
    padding-right: 20px;
    line-height: 28px
}

.partner-list {
    padding: 60px 30px 10px;
    background: #fff
}

.partner-list .mate {
    position: absolute;
    left: 22px;
    top: 12px
}

.partner-list .mate span {
    display: inline-block;
    background: #666;
    line-height: 30px;
    padding: 0 15px;
    font-size: 15px;
    color: #333;
    font-weight: 700
}

.partner-list ul {
    text-align: center;
    overflow: hidden
}

.partner-list li {
    display: inline-block;
    margin: 0 25px;
    width: 50px
}

.partner-list li img {
    width: 50px;
    height: 50px;
    margin: 0 auto 5px;
    border-radius: 10px;
    border: 2px solid #666;
    display: block;
    float: left
}

.partner-list li span {
    display: block;
    width: 50px;
    line-height: 14px;
    height: 28px;
    word-break: break-all;
    float: left
}

.partner-list li a:hover {
    color: #666
}

.card-list {
    padding: 12px 20px;
    position: relative;
    overflow: hidden
}

.card-list h5 {
    float: left;
    line-height: 30px;
    color: #333;
    font-size: 15px;
}

.card-list h5 a {
    color: #333
}

.card-list p {
    float: left;
    margin-left: 15px;
    line-height: 30px;
    color: #666;
    font-size: 12px
}

.card-list ul {
    float: right;
    background: #333
}

.card-list ul li {
    display: inline-block;
    float: left;
    color: #666;
    line-height: 30px;
    padding: 0 10px;
    background: #fafafa;
    cursor: pointer;
    border: 1px solid #bdbdbd
}

.card-list ul li i {
    display: inline-block;
    height: 14px;
    width: 16px;
    background: url(../image/card-list.png) no-repeat;
    vertical-align: -3px;
    margin-left: 3px
}

.ie7 .card-list ul li i {
    vertical-align: 0
}

.card-list ul li.card-btn i {
    background-position: -3px -23px
}

.card-list ul li.card-btn.active i {
    background-position: -3px -3px
}

.card-list ul li.list-btn i {
    background-position: -22px -23px
}

.card-list ul li.list-btn.active i {
    background-position: -22px -3px
}

.card-list ul li.active {
    background: 0;
    color: #fff;
    border: 0
}
/**/
.news-list{
    padding: 5px 0;
}
.news-list .list-view {
    padding: 5px 10px;
    overflow: hidden
}
.news-list .list-view{}
.news-list .list-view .news-view{
    padding: 0 40px 20px 10px
}
.news-list .list-view .news-view .news-img a:hover img {
    -ms-filter: grbrightness(.9);
    filter: brightness(.9)
}
.news-list .list-view .news-view .news-tag{
    padding: 0;
}
.news-list .list-view .news-view .news-tag .tags{
    line-height: 19px;
    display: inline-block;
    border-bottom: 1px solid transparent;
}
.news-list .list-view .news-view .news-tag .tags:hover{
    color: #2e6e9e;
   border-color:#2e6e9e;
}
.news-list .list-view .news-view .news-header{
    padding: 0 0 6px;
}
.news-list .list-view .news-view .news-header a {
    display: block;
    font-size: 22px;
    line-height: 28px;
    font-weight: normal;
}
.news-list .list-view .news-view .news-right .news-footer ,
.news-list .list-view .news-view .text-news .news-footer {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0
}
/*left*/
.news-list .list-view .news-view.left {

}
.news-list .list-view .news-view.left .news-right{
    height: 118px;
}
.news-list .list-view .news-view.left .news-main {
    display: none
}
/*full*/
.full .news-list .list-view .news-view.left .news-main{
    display: block;
}
.full .news-list .list-view .news-view.card .news-main{
    display: none;
}
    /*card*/
.news-list .list-view .news-view.card {
    float: left;
    padding: 0;
    width: 330px;
    margin: 0 10px 20px;
    box-shadow: 0 0 1px rgba(0, 0, 0, .2)
}
.news-list .list-view .news-view.card .news-img {
    width: 100%;
    height: 186px;
    overflow: hidden;
}
.news-list .list-view .news-view.card .news-right {
    margin: 186px 0 0 0;
    padding: 4px 10px 10px;
    overflow: hidden;
    height: 130px;
}
.news-list .list-view .news-view.card .news-main {
    display: none
}
.news-list .list-view .news-view.card .text-news .news-main {
    display: block
}

.news-list .list-view .news-view.card .news-footer p {
    padding: 0 10px
}

.news-list .list-view .news-view.card .text-news {
    padding: 10px;
    height: 310px;
    position: relative
}
.ie7 .news-list .list-view .news-view.card,
.ie8 .news-list .list-view .news-view.card {
    border: 1px solid #dedede;
    width: 328px
}
.news-carousel {
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    position: relative;
    padding: 20px;
    background: #f9f9f9;
    height: 422px;
    overflow: hidden
}

.news-carousel .carousel-mate {
    position: absolute;
    left: 20px;
    top: 20px;
    z-index: 99
}

.news-carousel .carousel-mate span {
    display: inline-block;
    background: #cf2a27;
    line-height: 30px;
    padding: 0 15px;
    font-size: 15px;
    color: #fff;
    font-weight: 700
}

.news-carousel .carousel-mate span a {
    color: #fff
}

.news-carousel .bx-wrapper {
    position: relative;
    height: 340px
}

.news-carousel .news-view {
    animation: none;
    -webkit-animation: none;
    -moz-animation: none;
    -o-animation: none
}

.carousel-list li {
    float: left;
    width: 680px;
    min-width: 680px
}

.carousel-list li .news-view.position .news-position {
    bottom: 0;
    position: absolute;
    width: 100%;
    z-index: 54;
    padding: 10px 0
}

.carousel-list li .news-footer, .carousel-list li .news-header {
    padding: 0 10px
}

.carousel-list li .news-header {
    padding-bottom: 10px
}

.carousel-list li .news-header h3 a {
    color: #fff;
    line-height: 40px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .4);
    width: 100%;
    display: block
}

.carousel-list li .news-footer p {
    font-size: 14px;
    font-weight: 700;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .4)
}

.carousel-list li .news-img img {
    width: 680px;
    height: 340px
}

.carousel-list li .news-img a:hover img {
    -ms-filter: grbrightness(.9);
    filter: brightness(.9)
}

.carousel-pager {
    overflow: hidden;
    background: #000;
    background: rgba(0, 0, 0, .7);
    width: 680px;
    z-index: 75
}

.carousel-pager li {
    cursor: pointer;
    float: left;
    padding: 10px;
    position: relative;
    text-align: center
}

.carousel-pager li img {
    border: 1px solid #363636;
    display: block;
    overflow: hidden;
    transition: border-color .2s;
    height: 60px;
    width: 113px
}

.news-slide, .news-slide .bx-wrapper {
    height: 360px
}

.carousel-pager li .active img, .carousel-pager li a:hover img {
    border-color: #09f
}

.news-slide {
    position: relative;
    background: #f9f9f9;
    overflow: hidden
}

.news-slide .news-view .news-img img {
    height: 360px;
    width: 720px
}

.news-slide .bx-viewport li {
    float: left;
    width: 720px;
    min-width: 720px
}

.news-slide .news-view.position .news-position {
    background: rgba(0, 0, 0, .4)
}

.news-slide .bx-controls-direction a {
    position: absolute;
    top: 115px;
    line-height: 130px;
    width: 31px;
    height: 59px;
    background: url(../image/slide-arrow.png) no-repeat;
    overflow: hidden
}

.news-slide .bx-controls-direction a.bx-prev {
    left: 0;
    background-position: 0 0
}

.news-slide .bx-controls-direction a.bx-prev:hover {
    background-position: 0 -60px
}

.news-slide .bx-controls-direction a.bx-next {
    right: 0;
    background-position: -31px 0
}

.news-slide .bx-controls-direction a.bx-next:hover {
    background-position: -31px -60px
}

.columns-view {
    background: #f9f9f9;
}

.columns-right .sidebar-header {
    overflow: hidden;
    background-color: #ececec;
    border-bottom: 1px solid #dfdfdf
}

.columns-right .k-list, .sidebar-tab .tab-header {
    border-bottom: 1px solid #dcdcdc
}

.columns-right .sidebar-header h3 {
    font-size: 16px;
    line-height: 40px;
    padding-left: 15px;
    font-weight: 700;
    float: left;
    color: #282828;
    text-shadow: 0 1px 1px #fff
}

.columns-right .sidebar-header h3 a {
    color: #282828
}

.columns-right .sidebar-header .more {
    float: right;
    line-height: 40px;
    padding: 0 10px;
    font-size: 13px
}

.columns-right .sidebar-main .news-view {
    padding: 15px 20px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #dcdcdc
}

.columns-right .sidebar-main .news-view:hover {
    background-color: #FFF;
    border-top-color: transparent
}

.columns-right .sidebar-main .news-right {
    margin-left: 70px
}

.columns-right .sidebar-main .news-right .news-header {
    padding: 0
}

.columns-right .sidebar-main .news-header a {
    line-height: 20px;
    font-size: 16px;
    font-weight: 400
}

.columns-right .k-list li a {
    color: #444;
    padding: 10px 15px 5px;
    line-height: 18px;
    font-size: 15px;
    display: block;
    font-weight: 700
}

.columns-right .k-list li span {
    display: block;
    padding: 5px 15px 10px;
    text-align: left;
    font-weight: 400;
    color: #666
}

.columns-right .k-list li:hover {
    background: #fff
}



.columns-right .left .news-img {
    width: 80px;
    height: 80px
}

.columns-right .left .news-right {
    margin-left: 100px;
    height: 80px
}

.columns-right .left .news-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%
}

.sidebar-tab .tab-header {
    overflow: hidden;
    background-color: #ececec
}

.sidebar-tab .tab-header li {
    display: inline-block;
    line-height: 40px;
    float: left;
    cursor: pointer
}

.sidebar-tab .tab-header li span {
    text-align: center;
    display: block;
    padding: 0 10px;
    color: #666;
    font-size: 15px;
    border: 1px solid #e7e7e7
}

.sidebar-tab .tab-header li.active span {
    background: #fff;
    border-color: #fff;
    color: #333
}

.sidebar-tab .tab-main .tab-main-item {
    display: none
}

.sidebar-tab .tab-main .tab-main-item.current {
    display: block
}

.tab-main-item .main-list li {
    border-bottom: 1px solid #dcdcdc;
    height: 32px;
    line-height: 32px;
    padding: 2px 14px;
    display: block
}

.tab-main-item .main-list li:hover {
    background: #fff
}

.tab-main-item .main-list li span {
    position: absolute;
    left: 0;
    top: 7px;
    width: 20px;
    display: inline-block;
    text-align: center;
    color: #000;
    font: 12px/18px georgia
}

.tab-main-item .main-list a {
    position: relative
}

.tab-main-item .main-list li a {
    color: #000;
    font-size: 13px;
    padding-left: 30px;
    display: block;
    padding-right: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.special-list {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px
}

.special-list .list-view {
    overflow: hidden;
    padding: 0;
}

.special-list .card-list h5 {
    float: none;
    text-align: center;
    font-size: 20px;
    font-weight: 400
}

.special-list .card-list h5 a {
    display: inline-block;
    line-height: 34px;
    padding: 0 10px;
    border-bottom: 1px solid #333
}

.special-list .list-view .news-view.left {
    padding: 20px 280px 20px 40px;
    border-bottom: 1px solid #ddd
}

.special-list .list-view .news-view:last-of-type {
    border: 0
}

.special-list .list-view .news-view.left .news-img {
    width: 350px
}

.special-list .list-view .news-view .news-right .news-main {
    padding-top: 10px;
    height: auto
}

.special-list .list-view .news-view .news-right .news-main p {
    color: #333
}

.special-list .list-view .news-view.left .news-right {
    margin-left: 370px;
    height: 200px
}

.special-list .list-view .news-view.left .news-header a {
    font-size: 24px;
    line-height: 30px;
}

.special-list .list-view .news-view.position .news-position {
    background-color: transparent;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==);
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, .35)));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .35));
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .35));
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .35))
}

.special-list .list-view .news-view.position .news-position .news-header a {
    text-shadow: 0 0 5px #000
}

.special-list .list-view .news-view {
    padding: 0
}
.special-list .list-view .news-view .text-news{
    padding: 20px 280px 20px 40px;
    border-bottom: 1px solid #ddd;
}


.special-list.item-three {
    padding: 0 5px
}

.special-list.item-three .list-view {
    padding-bottom: 10px
}

.special-list.item-three .list-view .news-view {
    width: 346px;
    margin: 0 5px;
    float: left
}

.special-list.item-three .list-view .news-view .news-img {
    height: 346px
}

.special-list.item-two {
    padding-bottom: 0
}

.special-list.item-two .list-view {
    padding: 0 20px
}

.special-list.item-two .list-view .news-view {
    width: 479px;
    margin: 0 20px 40px;
    float: left
}

.special-list.item-two .list-view .news-view .news-img img {
    width: 479px;
    height: 240px
}
/*天下*/
.channel-32, .channel-32 .card-list ul{
    background: #9e1d0a
}

.channel-32 .news-view .news-header a:hover {
    color: #9e1d0a
}

.channel-32 .columns-right .sidebar-tab {
    width: 358px
}

.channel-32 .sidebar-tab .tab-header li {
    width: 179px
}
/*中国*/

.channel-71, .channel-71 .news-carousel .carousel-mate span {
    background: #009bff
}

.channel-71 .card-list h5 {
    background: #009bff;
    padding: 0 15px;
    color: #fff
}

.channel-71 .card-list h5 a{
    color: #fff
}

.channel-71 .news-list .news-view .news-header a:hover, .channel-71 .sidebar-main .news-view .news-header a:hover {
    color: #009bff
}
/*娱乐*/

.channel-63, .channel-63 .news-carousel .carousel-mate span, .channel-63 .sidebar-header,.channel-63 .partner-list .mate span {
    background: #741884
}


.channel-63 .card-list h5 {
    background: #741884;
    padding: 0 15px;
    color: #fff
}

.channel-63 .card-list h5 a,.channel-63 .partner-list .mate span {
    color: #fff
}
.channel-63 .news-list .news-view .news-header a:hover,
.channel-63 .sidebar-main .news-view .news-header a:hover {
    color: #741884
}

.channel-63 .sidebar-header h3, .channel-63 .sidebar-header h3 a {
    color: #fff;
    text-shadow: none
}
/*体育*/
.channel-82, .channel-82 .news-carousel .carousel-mate span, .channel-82 .sidebar-header {
    background: #3b900e
}

.channel-82 .sidebar-header h3, .channel-82 .sidebar-header h3 a {
    color: #fff;
    text-shadow: 0 0 2px #000
}

.channel-82 .bottom-grid .grid-mate, .channel-82 .columns-left, .channel-82 .columns-view {
    border-color: #3b900e
}

.channel-82 .news-list .news-view .news-header a:hover, .channel-82 .sidebar-main .news-view .news-header a:hover {
    color: #3b900e
}
/*时尚*/

.channel-68,
.channel-68 .header-nav h2 {
    background: #fff;
}

.channel-68 .columns-left {
    border-color: #fff
}

.channel-68 .news-view .news-header a:hover{
    color: #000;
}
.channel-68 .header-nav h2 a, .channel-68 .header-nav li a {
    color: #000;
    text-shadow: none
}

.channel-68 .header-nav li a {
    font-size: 18px
}

.channel-68 .columns-view {
    border-color: #000;
    background: #fff;
    border-left: 1px solid #000
}
/*旅行*/

.channel-105 {
    background: #ffa300
}

.channel-105 .columns-left {
    border-color: #ffa300
}
.channel-105 .news-list .news-view .news-header a:hover{
    color: #ffa300;
}
.channel-105 .columns-view {
    border-color: #000;
    background: #fff;
    border-left: 1px solid #000
}
/*生活*/

.channel-135,
.channel-135 .header-nav h2 {
    background: #fff;
}

.channel-135 .columns-left {
    border-color: #fff
}

.channel-135 .news-view .news-header a:hover{
    color: #000;
}

.channel-135 .header-nav h2 a, .channel-135 .header-nav li a {
    color: #000;
    text-shadow: none
}

.channel-135 .header-nav li a {
    font-size: 18px
}

.channel-135 .columns-view {
    border-color: #000;
    background: #fff;
    border-left: 1px solid #000
}
/*文化*/
.channel-130{
    background: #8a9fb3;
}
.channel-130 .columns-left {
    border-color: #8a9fb3
}
.channel-130 .news-view .news-header a:hover{
    color: #8a9fb3;
}
/*游戏*/
.channel-118{
    background: #5ebdc7
}
.channel-118 .columns-top.white{
    border-bottom-color: #999;
}
.channel-118 .news-list .news-view .news-header a:hover{
    color: #5ebdc7;
}

/*军事*/

.channel-103 {
    background: #4b7126
}

.channel-103 .columns-center {
    width: 100%
}

.channel-103 .inner-view .card-list h5 {
    float: left
}

.channel-103 .inner-view .card-list h5 span, .channel-103 .inner-view .card-list h5 a {
    font-size: 14px
}

.channel-103 .news-list .news-view .news-header a:hover, .channel-103 .inner-view .card-list h5 span {
    color: #4b7126
}

/*视频*/
.video-page {
    background: #666;
}



.video-page .news-list .news-view .news-img {
    position: relative
}

.video-page .news-list .news-view.first .news-img img {
    width: 680px;
    height: 340px
}

.video-page .news-list .news-view .news-img .play-mate {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../image/play-v.png) 280px 135px no-repeat
}

.video-page .news-list .news-view.first {
    padding: 10px 10px 20px;
    box-shadow: none
}

.video-page .news-list .news-view.first .news-img .play-mate {
    background: url(../image/videoplay.png) 450px 100px no-repeat
}

.video-page .news-view.position .news-position {
    left: 10px;
    bottom: 20px;
    padding: 10px;
    width: 660px
}


.ajax-loading {
    display: block;
    margin: 30px auto
}
.main-center{
    overflow: hidden;
    margin-bottom: 30px;
}
/*index*/
/*首页-左*/
.index-left {
    width: 470px;
    padding: 0 20px;
    float: left;
}

/*首页-slider*/
.top-slider {
    margin-bottom: 10px;
    overflow: hidden;
    background: #000;
    height: 446px;
    width: 470px;
    position: relative;
}
.top-slider .slider-page {
    position: relative;
    height: 440px
}

.top-slider .slider-img {
    position: relative
}

.top-slider .slider-img img {
    width: 100%;
    height: 313px
}

.top-slider .slider-page .tags {
    position: absolute;
    left: 30px;
    top: 265px
}

.top-slider .slider-page .tags a {
    padding: 0 10px;
    color: #fff;
    background: #f12b15;
    font-size: 14px;
    line-height: 24px;
    display: inline-block
}

.top-slider .slider-header {
    background-color: #000;
    border-top: 1px solid #333;
    padding: 15px 30px 10px
}

.top-slider .slider-header h3 a {
    font-size: 24px;
    line-height: 30px;
    color: #e5e5e5
}

.top-slider .slider-header p {
    color: #f5f5f5;
    font-size: 16px;
    line-height: 24px;
    margin-top: 10px;
    word-wrap: break-word
}

.top-slider .slider-footer {
    background-color: #000;
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%
}

.top-slider .slider-footer p {
    line-height: 20px;
    padding: 0 30px
}

.top-slider .slider-footer p span {
    color: #aaa;
    display: inline-block;
    font-size: 12px;
    margin-right: 10px;
    float: left;

}
.top-slider .slider-footer p span i{
    margin-right: 3px;
}
.top-slider .slider-footer span a {
    color: #aaa
}

.top-slider .slider-footer .collect,
.top-slider .slider-footer .comment {
    float: right;
    margin-left: 10px
}

.top-slider .bx-controls {
    height: 4px
}

.top-slider .bx-controls .bx-pager {
    width: 100%
}

.top-slider .bx-controls .bx-pager .bx-pager-item {
    display: inline-block;
    float: left
}

.top-slider .bx-controls .bx-pager .bx-pager-item .bx-pager-link {
    display: block;
    background: #666;
    height: 4px;
    text-indent: -9999px;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -o-transition: all .3s
}

.top-slider .bx-controls .bx-pager .bx-pager-item .bx-pager-link.active {
    background: #ee2e24
}

.top-slider .bx-controls-direction a {
    width: 100px;
    height: 98px;
    display: inline-block;
    background: url(../image/index/top-slider.png) no-repeat;
    position: absolute;
    top: 38%;
    margin-top: -50px;
    z-index: 100;
    text-indent: -9999px
}

.top-slider .bx-controls-direction .bx-prev {
    background-position: 0 0;
    left: 0
}

.top-slider .bx-controls-direction .bx-prev:hover {
    background-position: 0 -83px
}

.top-slider .bx-controls-direction .bx-next {
    background-position: -100px 0;
    right: 0
}

.top-slider .bx-controls-direction .bx-next:hover {
    background-position: -100px -83px
}
/*首页-快讯*/

.news-msg {
    box-shadow: 1px 1px 2px 0 #d0d0d0;
    padding-bottom: 10px
}

.news-msg .news-msg-title{
    overflow: hidden;
    border-bottom: 1px solid #f5f5f5;
    margin-bottom: 10px
}

.news-msg .news-msg-title  span{
    float: left;
    background: #f39801;
    color: #FFF;
    line-height: 34px;
    padding: 0 10px;
    font-size: 20px
}

.news-msg .news-msg-title .more {
    float: right;
    display: inline-block;
    height: 34px;
    width: 34px;
    background: url("../image/index/msg-arrow.png") no-repeat center center;
    background-size: 14px auto;
}

.news-msg-item{
    overflow: hidden;
}
.news-msg-item .news-date{
    float: left;
    width: 60px;
    text-align: center;
    font-size: 14px;
    line-height: 30px;
    color: #666
}
.news-msg-item .news-title{
    margin-left: 60px
}
.news-msg-item .news-title h3 a {
    font-size: 18px;
    line-height: 30px;
    font-weight: 400
}

/*首页-左-news*/
.index-left .news-view {
    position: relative;
    padding:0 0 15px;
    margin: 0 0 20px;
    box-shadow: 2px 1px 1px  #d0d0d0;
}

.ie7 .index-left .news-view,
.ie8 .index-left .news-view {
    border: 1px solid #f1f1f1
}
.index-left .news-view .news-img{
    position: relative;
    overflow: hidden;
}
.index-left .news-view .news-img img{
    position: relative;
}
.index-left .news-view .news-img .news-mate {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
.index-left .news-view .news-img .news-mate span {
    font-size: 14px;
    line-height: 24px;
    padding: 0 10px;
    color: #fff;
}
.index-left .news-view .news-img .mate-zb  {
    background: #F12B15;
    display: block;
}
.index-left .news-view .news-img .mate-zt  {
    background: #F12B15;
    display: block;
}


.index-left .news-view .news-header {
    padding: 11px 15px 0;
    background: #fff;
    margin: -35px 12px 0 0;
    position: relative;
}

.index-left .news-view .news-header h3 a {
    font-size: 22px;
    line-height: 30px;
    color: #414141;
    letter-spacing: 1px;
}

.index-left .news-view .news-main {
    padding: 5px 27px 10px 15px
}

.index-left .news-view .news-main p {
    font-size: 15px;
    line-height: 24px;
    color: #818181
}

.index-left .news-view .news-footer {
    position: relative;
    padding: 0 27px 0 15px;
}

.index-left .news-view .news-footer .collect,
.index-left .news-view .news-footer .comment {
    float: right;
    margin-left: 10px
}


.news-cell {
    margin: 0 15px;
    padding-right: 10px;
}

.news-cell li {
    font-size: 16px;
    line-height: 22px;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    padding-left: 15px;
    text-overflow: ellipsis;
}
.news-cell li:after{
    content: "";
    background: #F12B15;
    width: 4px;
    height: 4px;
    display: block;
    position: absolute;
    left: 3px;
    top: 50%;
    margin-top: -2px;
}
.news-cell li a {
    color: #666;
}

.news-cell li a:hover {
    color: #41647c
}
/*首页-中*/
.index-center {
    width: 306px;
    background: #f5f5f5;
    border: 2px solid #F12B15;
    float: left;
}
.columns-title h3 {
    line-height: 38px;
    height: 38px;
    font-size: 16px;
    color: #fff;
    background: #f12b15;
    text-align: center
}

.columns-title h3 a {
    display: block;
    color: #fff
}

.columns-lists {
    padding: 10px;
}

.columns-lists .news-view {
    margin-bottom: 10px;
    padding: 5px 5px 10px;
    border-bottom: 1px solid #dfdfdf
}

.columns-lists .news-view:hover {
    background: #fff;
    box-shadow: 1px 1px 2px 0 #d0d0d0
}


.columns-lists .news-view .news-header a {
    line-height: 20px;
}


.columns-lists .news-view .news-footer .collect,
.columns-lists .news-view .news-footer .comment {
    float: right;
    margin-left: 10px
}
/*Most Popular*/
.popular-list{

}
.popular-list li {
    font-size: 16px;
    line-height: 28px;
    border-bottom: 1px solid #dfdfdf;
    padding:15px 5px;
    font-weight: bold;
}
.popular-list li a{
    color:#414141;

}
.popular-list li a span{
    font-size: 24px;
    color: #f12b15;
    font-family: Georgia;
    display: inline-block;
    padding-right: 10px;
    font-style: italic;
}
/*JMedia*/

.media-columns .media-news {
    background: #F5F5F5;
    overflow: hidden;
    padding: 0 10px;
}

.media-columns .media-news {
    border-bottom: 1px dotted #dfdfdf;
    overflow: hidden;
    margin-bottom: 15px
}
.media-columns .media-news .media-img{
    overflow: hidden;
    padding-bottom: 10px;
}
.media-columns .media-news .media-img img {
    width: 30px;
    height: 30px;
    float: left;
    border-radius: 50%;
    border: 1px solid #ccc
}

.media-columns .media-news .media-img .author a {
    font-size: 12px;
    color: #777777;
    line-height: 30px
}

.media-columns .media-news .media-img .author i {
    display: none
}

.media-columns .media-news .media-img .author-info {
    margin-left: 40px
}

.media-columns .media-news .media-header a,
.media-columns .media-news .media-header a:hover {
    color: #393939
}

.media-columns .media-news .media-header h3 {
    font-size: 18px;
    line-height: 22px;
}
.media-columns .media-news .media-main {
    padding-bottom: 10px
}

.media-columns .media-news .media-main p {
    font-size: 13px;
    line-height: 20px;
    padding-top: 10px;
    color: #b7b7b7
}

/*首页-右*/
.index-right {
    float: left;
    width: 360px;
    margin: 10px 0 0;
    padding: 0 0 0 20px;
    position: relative;
}
/*首页-右-视频*/
.video-lists:last-of-type{
    border-top: 1px solid #ccc;
    padding-top: 20px;
}
.video-lists .news-view{
    margin-bottom: 20px
}
.video-lists .news-img{
    position: relative;
}
.video-lists .video-data{
    position: absolute;
    left: 0;
    bottom: 0;
    background: #656565;
    padding:0 5px;
    border-left: 30px solid #FFF;
    line-height: 30px;
    color: #fff;
}
.video-lists .video-data:after{
    content: "";
    display: block;
    position: absolute;
    left: -20px;
    top: 7px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 0 8px 10px;
    border-color: transparent transparent transparent #F12B15;
}

/*首页-右-news*/
.index-right .news-view {
    margin: 0 20px 20px
}
.index-right .news-arrow-title{
    border-top: 1px solid #ccc;
}
.index-right .news-arrow-title h3 {
    position: relative;
    height: 40px;
    margin-bottom: 10px
}
.index-right .news-arrow-title h3 i.arrow {
    display: block;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    color: #ee2e24;
    position: absolute;
    bottom: -7px;
    left: 50%;
    margin-left: -8px;
    border-top: 8px solid #ee2e24
}

.index-right .news-arrow-title span {
    color: #fff;
    width: 140px;
    background: #f12b15;
    text-align: center;
    margin: 0 auto;
    display: block;
    font-size: 16px;
    line-height: 40px;
    position: relative;
    z-index: 10
}

.index-right .news-arrow-title span a {
    display: block;
    color: #fff
}



.special-news .news-view .news-header h3 {
    position: relative
}

.special-news .news-view .news-header a {
    font-size: 22px;
    line-height: 30px;
    color: #414141;
    display: inline-block;
    padding-top: 8px
}

.special-news .news-view .news-main {
    padding: 5px 0;
    margin-bottom: 10px
}

.special-news .news-view .news-main p {
    font-size: 15px;
    line-height: 24px;
    color: #818181
}
.special-news .news-view .news-cell{
    margin: 0;
}
.jingcai-news .news-view .news-img img{
    width: auto;
    height: 20px;
}
/*科技*/
.article-news.c65 .article-mate a{
    background: #F12B15;
}
.article-news.c65 .article-mate:after{
    border-top: 10px solid #b01302;
}
/*汽车*/
.article-news.c51 .article-mate a{
    background:#ffcc00 ;
}
.article-news.c51 .article-mate:after{
    border-top: 10px solid #937600;
}
/*地产*/
.article-news.c62{
    border-bottom: none;
    margin-bottom: 0;
}
.article-news.c62 .article-mate a{
    background:#119e9e ;
}
.article-news.c62 .article-mate:after{
    border-top: 10px solid #035c5c;
}
.article-news{
   position: relative;
    padding: 0 10px 20px;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    margin-bottom: 40px;
}
.article-news .article-mate{
    position: absolute;
    left: 0;
    top: 15px;
    z-index: 9;
}
.article-news .article-mate a{
    display: inline-block;
    width: 75px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 16px;
    background: #F12B15;
}
.article-news .article-mate:after{
    position: absolute;
    left: 0;
    bottom: -10px;
    border-left: 10px solid transparent;
    border-top: 10px solid #b01302;
    width: 0;
    height: 0;
    content: "";
}
.article-news .article-left{
    float: left;
    width: 560px;
}
.article-news .article-left .news-position{
    padding: 10px 15px;
    right: 0;
    bottom: 25px;
    background: rgba(255,255,255,.7);
    width: 440px;
    left: auto;
    box-shadow: 0 0 5px #000;
}
.article-news .article-left .news-view.position .news-position .news-header{
    padding: 0;
}
.article-news .article-left .news-view.position .news-position .news-header a{
    color: #000;
    font-size: 26px;
    line-height: 36px;
    text-shadow: none;
}
.article-news .article-right{
    margin-left: 580px;
}
.article-news .article-right .news-view{
    margin-bottom: 20px;
    position: relative;
}
.article-news .article-right .news-view .news-img{
    float: left;
    margin-right: 20px;
}
.article-news .article-right .news-view .news-footer{
    position: absolute;
    left: 282px;
    bottom: 0;
    width: 310px;
}
/*时尚*/
.fashion-content{
    border-top: 1px solid #ccc;
    padding: 10px 0 40px 0;
}
.fashion-title{
    text-align: center;
    font-size: 24px;
    line-height: 30px;
}
.fashion-title a{
    color: #000000;
}
.fashion-title span{
    margin-left: 15px;
    color: #f12b15;
}
.fashion-lists{
    padding: 20px 0 0;
    overflow: hidden;
}
.fashion-lists .news-view{
    float: left;
    width: 580px;
    margin:0 10px;
}
.fashion-lists .news-view .news-header{
    padding: 20px 0 10px;

}
.fashion-lists .news-view .news-header h3{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size:26px;
    height: 60px;
}
.fashion-lists .news-view .news-header a{
    font-size: 26px;
    color: #414141;
    line-height: 30px;
}
.fashion-lists .news-view .news-main{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size:15px;
    height: 48px;
}
.fashion-lists .news-view .news-main p{
    font-size: 15px;
    line-height: 24px;
    color: #818181;
}
/*正午*/
.noon-content{
    position: relative;
    padding: 20px 10px 40px;
    border-top: 1px solid #ccc;
}
.noon-title {
    position: absolute;
    left: 670px;
    top: 20px;
}
.noon-title a{
    font-size: 16px;
    line-height: 30px;
    padding: 0 15px;
    background: #F12B15;
    color: #fff;
    display: inline-block;
}
.noon-lists .news-img{
    float: left;
    width: 630px;
    height: 360px;
    margin-right: 30px;
}
.noon-lists .news-view .news-header{
    padding: 40px 0 20px 0;

}
.noon-lists .news-view .news-header h3{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 36px;
}
.noon-lists .news-view .news-header a{
    font-size: 32px;
    line-height: 36px;
    color: #010101;
}
.noon-lists .news-view .news-main{
    height: 230px;
}
.noon-lists .news-view .news-main p{
    font-size: 15px;
    line-height: 26px;
    color: #818181;
}
/*文化*/
.culture-content{
    padding:0 0 40px;
}
.culture-title{
    text-align: center;
    border-top: 1px solid #ccc;
}
.culture-title a{
    font-size: 16px;
    line-height: 30px;
    color: #fff;
    background: #F12B15;
    display: inline-block;
    padding: 0 15px;
}
.culture-lists{
    overflow: hidden;
    padding: 30px 0 0;
}
.culture-lists .news-view{
    float: left;
    width: 380px;
    margin: 0 10px;
}
.culture-lists .news-view .news-header{
    padding-top: 10px;
}
.culture-lists .news-view .news-header h3{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size:22px;
    height: 60px;
}
.culture-lists .news-view .news-header a{
    font-size:22px;
    line-height: 30px;
    color: #414141;
}
.culture-lists .news-view .news-main{
    height: 60px;
    overflow: hidden;
}
/*歪楼*/
.wailou-content{
    padding:0 0 40px;
}
.wailou-title{
    text-align: center;
    border-top: 1px solid #ccc;
}
.wailou-title a{
    font-size: 16px;
    line-height: 30px;
    color: #fff;
    background: #F12B15;
    display: inline-block;
    padding: 0 15px;
}
.wailou-lists{
    overflow: hidden;
    padding: 30px 0 0;
}
.wailou-lists .news-view{
    float: left;
    width: 380px;
    margin: 0 10px;
}
.wailou-lists .news-view .news-header{
    padding-top: 10px;
}
.wailou-lists .news-view .news-header h3{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size:22px;
    height: 60px;
}
.wailou-lists .news-view .news-header a{
    font-size:22px;
    line-height: 30px;
    color: #414141;
}
.wailou-lists .list-item{
    overflow: hidden;
    border-bottom: 1px solid #cccccc;
    margin: 0 10px 0 810px;
}
.wailou-lists .list-item .news-view{
    float: none;
    margin: 0;
    padding: 10px 0;
}
.wailou-lists .list-item:last-of-type{
    border:none;
}
.wailou-lists .list-item .news-view .news-header{
    padding: 0;
}
.wailou-lists .list-item .news-view .news-header h3{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size:17px;
    height: 50px;
}
.wailou-lists .list-item .news-view .news-header a{
    font-size: 17px;
    line-height: 25px;
    color: #414141;
}
/*cell-content*/
.cell-content{
    overflow: hidden;
    padding: 40px 0;
    border-top: 1px solid #ccc;
}
.cell-content .cell-item{
    position: relative;
    float: left;
    width: 380px;
    margin: 0 10px;
}
.cell-content .cell-item .cell-title{
    position: absolute;
    left: 0;
    top: 0;
    font-size: 16px;
    line-height: 30px;
    background: #F12B15;
    z-index: 3;
}
.cell-content .cell-item .cell-title a{
    color: #fff;
    display: inline-block;
    padding: 0 15px;
}
.cell-content .cell-item .news-view{
    padding-bottom: 15px;
}
.cell-content .cell-item .news-view .news-header{
    padding-top: 10px;
}
.cell-content .cell-item .news-view .news-header h3{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size:22px;
    height: 60px;
}
.cell-content .cell-item .news-view .news-header a {
    font-size: 22px;
    line-height: 30px;
    color: #414141;
}
.cell-content .cell-item .list-item{
    border-top: 1px solid #cccccc;
    padding: 15px 0 0 ;
}
.cell-content .cell-item .list-item .news-view{
    padding-bottom: 15px;
}
.cell-content .cell-item .list-item .news-view .news-header{
    padding: 0;
}
.cell-content .cell-item .list-item .news-view .news-header h3{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-size:16px;
    height: 24px;
}
.cell-content .cell-item .list-item .news-view .news-header a{
    font-size: 16px;
    line-height: 24px;
    color: #414141;
}
/*前辈*/

/*pub-content*/
.pub-content{
    border-top: 4px solid #ddd;
    padding: 0 10px 30px;
}
.pub-title{
    font-size: 28px;
    line-height: 60px;

}
.pub-title a{
    color: #434343;
    font-weight: bold;
}
.pub-title span{
    color: #434343;
    margin-left: 10px;
}
.pub-main{
    overflow: hidden;
}
.pub-list{
    width: 360px;
    float: left;
}
.pub-list .list-item{
    border-bottom: 1px solid #d3d3d3;
    padding: 20px 0;
}
.pub-list .list-item:last-of-type{
    border: none;
}
.pub-list .news-view .news-img{
    float: left;
    width: 120px;
    margin-right: 20px;
}
.pub-list .news-view .news-header{
    padding: 0;
}
.pub-list .news-view .news-header h3{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size:14px;
    height: 40px;
}
.pub-list .news-view .news-header h3 a{
    font-size: 14px;
    line-height: 20px;
    color: #434343;
    font-weight: normal;
}
.pub-grid{
    margin-left: 380px;
    padding-top: 20px;
}
.pub-grid .left-grid{
    float: left;
    width: 500px;
    height: 400px;
    padding-bottom: 100px;
    position: relative;
}
.pub-grid .left-grid .news-position{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px 15px;
    width: 470px;
    background: rgba(0, 0, 0, .7);
    height: 80px;
}

.pub-grid .left-grid .news-position .news-header{
    padding-top: 0;
}

.pub-grid .left-grid .news-position .news-header a {
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .4);
    font-size: 22px;
    line-height: 26px;
}
.pub-grid .left-grid .news-position .news-footer span,
.pub-grid .left-grid .news-position .news-footer a{
    color: #dfdfdf;
}
.pub-grid .right-grid{
    margin-left: 520px;
}
.pub-grid .right-grid .news-view{
    padding-bottom: 20px;
}
.pub-grid .right-grid .news-header h3{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size:16px;
    height: 48px;
}
.pub-grid .right-grid  .news-header h3 a{
    font-size: 16px;
    line-height: 24px;
    color: #434343;
    font-weight: normal;
}

/*娱乐*/
.ent{
    border-color: #741884;
}
.ent .pub-title a{
color: #741884
}
.ent .pub-grid .left-grid .news-position{
    background:rgba(116,24,132,1);
}

/*体育*/
.sports{
    border-color: #3b900e;
}
.sports .pub-title a{
    color: #3b900e
}
.sports .pub-grid .left-grid .news-position{
    background:rgba(59,144,14,1);
}
.columns-right .ad-view {
    margin-left: 24px;
    width: 140px
}

/*旅行*/
.travel{
    border-color: #ffa300;
}
.travel .pub-title a{
    color: #ffa300
}
/*block-content*/
.block-left{
    width: 520px;
    padding: 0 20px 0 0 ;
    float: left;
}
.block-left  .news-view{
    position: relative;
    margin-bottom:15px;
}
.block-content{
    width: 218px;
    padding: 0 20px 50px;
    border-left:1px solid #cccccc;
    border-right:1px solid #cccccc;
    float: left;
}
.block-content .list-item:first-of-type{
    border-bottom: 1px solid #CCC;
    margin-bottom: 15px;
}
.block-content .news-view{
    position: relative;
    padding-bottom: 220px;
    margin-bottom: 20px;
}
.block-content .news-view:first-of-type{
    border-bottom: 1px solid #ccc;
}
.block-content .news-view .news-img{
    position: absolute;
    left: 0;
    bottom: 0;
}
.block-right{
    margin-left: 820px;
}
.block-right .news-view{
    position: relative;
    margin-bottom: 20px;
}
/*尤物*/
.youwu-content{
    border-top: 4px solid #788cd1;
    overflow: hidden;
    padding-bottom: 40px;
}
.youwu-title{
    padding:0 10px 20px;
}
.youwu-left{
    float: left;
    width: 860px;
    margin-left: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
}
.youwu-left .left-block{
    width: 575px;
    float: left;
}
.youwu-left .left-block img{
    height: 293px;
}
.left-block .news-view.position .news-position{
    background: rgba(121,141,210,.6);
}
.left-block .news-view.position .news-position .news-header h3{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 24px;
    color: #Fff;
    padding-right: 60px;
}
.left-block .news-view .news-footer p span{
    color: #FFF;
    font-size: 15px;
}
.right-block{
    float: left;
    margin-left: 29px;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    padding: 0 10px;
    width: 206px;
    height: 293px;
}
.right-block .news-view:first-of-type {
    margin-bottom: 27px;
}
.right-block .news-view .news-header{
    height: 24px;
    padding: 3px 0;

}
.right-block .news-view .news-header a{
    font-size: 15px;
    line-height: 24px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    height: 24px;

}
.right-block .news-view .news-header a:hover{
    color: #788cd1;
}
.youwu-right{
    margin:0 10px 0 869px;
    padding-bottom: 15px;
    width: 321px;
    border-bottom: 1px solid #ccc;
}
.youwu-right a{
    border: 1px solid #ccc;
    display: block;
}

.youwu-right a:hover{
    border-color: #788cd1;
}
.youwu-list{

}
.youwu-list .news-view{
    float: left;
    margin: 0 10px;
    width: 220px;
    padding: 16px 0 0 ;
}
.youwu-list .news-view .news-img{
    position: relative;
}
.youwu-list .news-view .news-img a{
    border: 1px solid #ccc;
    display: block;
}
.youwu-list .news-view .news-img a:hover{
    border-color: #788cd1;
}
.youwu-list .news-view .news-img span{
    position: absolute;
    left: 8px;
    top: -8px;
    display: inline-block;
    background-repeat: no-repeat;
    width: 30px;
    height: 37px;

}
.youwu-list .news-view .news-img .promotion{
    background-image: url(../image/index/promotion.png);
}
.youwu-list .news-view .news-img .presale{
    background-image: url(../image/index/presale.png);
}
.youwu-list .news-view .news-header{
    height: 24px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.youwu-list .news-view .news-header a,
.youwu-list .news-view .news-info a{
    font-size: 15px;
    font-weight: normal;
}
.youwu-list .news-view .news-header a:hover,
.youwu-list .news-view .news-info a:hover{
    color: #788cd1;
}
#jmedia {

}

.media-content {
    padding: 20px 72px 55px;
    height: 225px;
    border-top: 1px solid #DDD
}

.media-content .view-title h4 a {
    color: #ee2e24;
    font-size: 14px
}

.media-content .news-arrow-title span a {
    display: block;
    color: #fff
}

.media-main .bx-wrapper {
    position: relative;
    height: 184px;
    padding-top: 20px;
}

.media-main .bx-wrapper .bx-viewport,
.media-main .media-list,
.media-main .media-list li {
    height: 184px
}

.media-main .media-list li a {
    float: left;
    width: 40px;
    height: 40px;
    position: relative;
    margin: 3px
}

.media-main .media-list li a .card-box {
    position: absolute;
    left: 40px;
    top: 0;
    background: #fff;
    border: 2px solid #231815;
    font-size: 14px;
    line-height: 22px;
    color: #3e3a39;
    text-align: center;
    width: 100px;
    z-index: 999
}

.media-main .media-list li a.p-left .card-box {
    left: auto;
    right: 40px
}

.media-main .media-list li a img {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background: #fff
}

.media-main .bx-controls {
    height: 20px
}

.media-main .bx-controls .bx-pager {
    width: 100%;
    text-align: center;
    padding-top: 10px
}

.media-main .bx-controls .bx-pager .bx-pager-item {
    display: inline-block;
    width: 30px
}

.media-main .bx-controls .bx-pager .bx-pager-item .bx-pager-link {
    display: block;
    height: 30px;
    line-height: 30px;
    background: url(../image/media-dian.png) center center no-repeat;
    text-indent: -9999px;
    font-size: 20px
}

.media-main .bx-controls .bx-pager .bx-pager-item .bx-pager-link.active, .media-main .bx-controls .bx-pager .bx-pager-item .bx-pager-link:hover {
    color: #333;
    text-indent: 0;
    background: 0
}

.media-main .bx-controls-direction a {
    width: 74px;
    height: 98px;
    display: inline-block;
    background: url(../image/top-slider.png) no-repeat;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    z-index: 50;
    text-indent: -9999px
}



.media-main .bx-controls-direction .bx-prev {
    background-position: 0 0;
    left: -75px
}

.media-main .bx-controls-direction .bx-prev:hover {
    background-position: 0 -83px
}

.media-main .bx-controls-direction .bx-next {
    background-position: -124px 0;
    right: -75px
}

.media-main .bx-controls-direction .bx-next:hover {
    background-position: -124px -83px
}

.friends-content {
    padding:20px;
    width: 1160px;
    border: 1px solid #DDD;
    position: relative;
}

.media-content .view-title,
.friends-content .view-title {
    text-align: center;
    margin-top: -35px;
}

.media-content .view-title span ,
.friends-content .view-title span {
    font-size: 24px;
    border-right: 1px solid #DDD;
    border-left: 1px solid #DDD;
    padding: 0 30px;
    line-height: 30px;
    background: #FFF
}


.friends-content .friends-main {
    padding: 10px 15px
}

.friends-content  .friends-main p {
    color: #666;
    line-height: 28px;
    font-size: 16px
}

.friends-content  .friends-main p a {
    color: #666;
    margin: 0 5px
}






.media-tips {
    width: 350px;
    font-size: 12px;
    color: #000;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999999;
    background: #fff;
    display: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #CCC;
    overflow: hidden;
    padding: 10px
}

.media-loading {
    background: url(../image/jmedia-loading.gif) left center no-repeat;
    height: 154px;
    line-height: 154px;
    display: inline-block;
    padding-left: 18px
}

.tips-left {
    float: left;
    width: 150px
}

.tips-left img {
    width: 140px;
    height: 140px;
    padding: 5px;
    border: 1px solid #ccc
}

.tips-right {
    margin-left: 160px
}

.tips-right h3 em {
    line-height: 30px;
    color: #000;
    font-size: 14px;
    font-weight: 700
}

.tips-right p.fw {
    font-weight: 700;
    font-size: 13px;
    line-height: 24px
}

.tips-right p {
    line-height: 18px;
    color: #333;
    font-size: 12px
}

.tips-right p.tips-info {
    height: 54px;
    overflow: hidden;
    padding: 10px 0
}

.tips-right p .info-btn {
    display: inline-block;
    color: #fff;
    line-height: 24px;
    width: 80px;
    text-align: center;
    background: #d13428;
    float: right
}

/*mtg*/
.index-right .ad-views{
 margin: 0 20px 20px;
}
.ad-views {
    margin-bottom: 10px
}
.b-ad, .t-ad {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden
}

.b-ad iframe {
    padding-bottom: 20px
}

.columns-right .ad-view {
    overflow: hidden;
    width: 320px;
    margin: 0 auto
}

.columns-right .ad-view iframe {
    padding: 20px 0
}

.columns-center .list-ad-view {
    overflow: hidden;
    width: 680px;
    margin: 0 auto
}

.columns-center .list-ad-view iframe {
    padding-bottom: 20px;
    margin-bottom: 20px
}
.pub-grid .left-grid .news-position .news-header a:hover{
    color: #FFf;
}
.index-left .news-view .news-header h3 a:hover,
.columns-lists .news-view .news-header a:hover ,
.video-lists .news-view .news-header a:hover ,
.special-news .news-view .news-header a:hover ,
.jingcai-news .news-view .news-header a:hover ,
.popular-list li a:hover,
.media-columns .media-news .media-header a:hover,
.fashion-lists .news-view .news-header a:hover,
.noon-lists .news-view .news-header a:hover,
.culture-lists .news-view .news-header a:hover,
.wailou-lists .news-view .news-header a:hover,
.cell-content .cell-item .news-view .news-header a:hover,
.pub-content .news-view .news-header h3 a:hover,
.article-news .news-view .news-header h3 a:hover{
    color: #003e61
}
