a, iframe, img {
    text-decoration: none
}

.textarea, :focus, object {
    outline: 0
}

.al, td, th {
    text-align: left
}

.il, ol, ul {
    list-style: none
}

a, abbr, acronym, address, applet, b, big, blockquote, body, caption, center, cite, code, dd, del, dfn, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, u, ul, var {
    background: 0;
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    font: inherit
}

h1, h2, h3, h4, h5, h6, td, th {
    font-weight: 400
}

.emoji-img, .jm-icon, .vip, .vip2, .vip3 {
    vertical-align: text-bottom
}

a img, button, iframe, img {
    border: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

article, aside, details, figcaption, figure, footer, header, hgroup, img, menu, nav, section {
    display: block
}

.after, .before, .emoji-img, .jm-icon, .ui-icon, .vip, .vip2, .vip3 {
    display: inline-block
}

blockquote, q {
    quotes: none
}

blockquote:after, blockquote:before, q:after, q:before {
    content: '';
    content: none
}

button {
    cursor: pointer
}

button, input, optgroup, option, select, textarea {
    font: inherit
}

hr {
    margin: 0;
    padding: 0;
    border: 0;
    color: #000;
    background-color: #000;
    height: 1px
}

em, i {
    font-style: normal
}

a {
    color: #333
}

a:hover {
    color: #ae2a03
}

body {
    line-height: 1;
    font-family: STHeiti, "Microsoft YaHei", simsun, sans-serif, Arial;
    font-size: 12px;
    background: #f5f5f5
}

.textarea {
    border-width: 1px;
    border-style: solid;
    word-break: break-word;
    word-wrap: break-word;
    cursor: text;
    overflow: hidden;
    overflow-y: auto
}

.ar {
    text-align: right
}

.ac {
    text-align: center
}

.fl, .il .fl {
    float: left
}

.fr, .il .fr {
    float: right
}

.fc, .il .fc {
    float: none;
    clear: both
}

.rel {
    position: relative
}

.abs, .after, .before {
    position: absolute
}

.il li {
    float: left
}

.jm-icon {
    width: 20px;
    height: 20px;
    background: url(../image/jm-icon.png) no-repeat
}

.jm-icon.s-icon {
    width: 14px;
    height: 14px
}

.icon-chat {
    background-position: -83px -23px
}

.icon-reply {
    background-position: -83px -3px
}

.icon-pm {
    background-position: -83px -43px
}

.icon-rss {
    background-position: -83px -63px
}

.icon-minus {
    background-position: -83px -83px
}

.icon-a-collect {
    background-position: -83px -103px
}

.icon-a-browse {
    background-position: -83px -123px
}

.icon-comment {
    background-position: -83px -141px
}

.after, .before {
    top: 0;
    right: 0;
    height: 0;
    width: 0;
    border-style: solid;
    border-color: transparent;
    border-width: 0
}

.vip, .vip2, .vip3 {
    width: 14px;
    height: 16px
}

.vip {
    background: url(../image/jm-icon.png) -63px -23px no-repeat
}

.vip2 {
    background: url(../image/jm-icon.png) -63px -43px no-repeat
}

.vip3 {
    background: url(../image/jm-icon.png) -63px -63px no-repeat
}

.header-inner {
    position: relative;
    background: #222;
    background: rgba(0, 0, 0, .85)
}

.header-container {
    margin: 0 auto;
    width: 1200px
}

.scrolling-fixed .header-inner {
    /*position: fixed;*/
    /*top: 0*/
}

.header-inner {
    width: 100%;
    min-width: 1200px;
    z-index: 999;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .5)
}

.site-jiemian {
    overflow: hidden;
}

.scrolling-fixed .site-jiemian {
    /*transition: 200ms height linear;*/
    /*-moz-transition: 200ms height linear;*/
    /*-webkit-transition: 200ms height linear;*/
    /*height: 0*/
}

.scrolling-fixed .site-jiemian.open {
    /*height: 62px*/
}


.site-logo {
    float: left;
    padding: 5px 0;
}

.site-logo .logo {
    height: 50px;
    padding: 5px 0;
    display: inline-block
}

.ie7 .site-logo .logo {
    float: left
}

.site-logo .logo img {
    display: inline-block;
    margin-top: 5px
}

.site-logo p {
    line-height: 24px;
    padding-left: 15px;
    font-size: 16px;
    color: #999;
    display: inline-block;
    vertical-align: text-bottom
}

.ie7 .site-logo p {
    margin-top: 28px
}

.site-jiemian .sub-web {
    float: right;
    padding: 25px 20px 0 0
}

.site-jiemian .sub-web a {
    color: #fff;
    display: inline-block;
    margin: 0 10px;
    text-align: center
}

.ie7 .site-jiemian .sub-web a {
    float: left;
}

.site-jiemian .sub-web a img {
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 5px;
}

.site-jiemian .sub-web a span {
    line-height: 30px
}

.site-jiemian .site-top-search {
    float: right;
    padding-top: 25px
}


.site-jiemian .site-top-search input {
    background: #fff;
    color: #333;
    height: 22px;
    line-height: 22px;
    padding: 3px 5px;
    width: 177px;
    float: left;
    font-size: 14px;
    border: 1px solid #999;
    border-radius: 5px 0 0 5px
}

.site-jiemian .site-top-search input:focus {
    border: 1px solid #f12b35;
    box-shadow: 0 0 10px #f12b35
}

.site-jiemian .site-top-search button {
    display: inline-block;
    height: 30px;
    border: 1px solid #333;
    background: #333;
    font-size: 14px;
    border-radius: 0 5px 5px 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, .8)
}

.site-jiemian .site-top-search button .nav-icon {
    vertical-align: -3px
}

.nav {
    border-top: 1px solid #343434;
    height: 40px
}

.nav .jiemian-nav {
    height: 40px
}

.nav .nav-right {
    float: right
}

.nav .nav-list {
    position: relative;
    float: left;
    z-index: 999;
    display: inline-block;
    height: 40px;
    border-left: 1px solid #343434
}

.nav .nav-list .nav-list-inner a {
    display: block;
    color: #fcf9ef;
    font-size: 13px;
    text-align: center;
    border-top: 2px solid #999;
    line-height: 38px;
    transition: background .3s;
    -moz-transition: background .3s;
    -webkit-transition: background .3s;
    -o-transition: background .3s;

}
.index  .nav .nav-list .nav-list-inner a ,
.lists .nav .nav-list .nav-list-inner a {
    width: 60px;
}
.default .nav .nav-list .nav-list-inner a{
    width: 50px;
    padding: 0;
}
/*首页*/
.nav .nav-list .nav-list-inner a.item-index {
    border-top-color: #f12b35
}

.nav .nav-list .nav-list-inner a.item-index:hover, .nav .nav-list .nav-list-inner a.item-index.active {
    background: #f12b35;
    border-top-color: #f12b35
}
/*天下*/
.nav .nav-list .nav-list-inner a.item-32 {
    border-top-color: #9e1d0a
}

.nav .nav-list .nav-list-inner a.item-32:hover, .nav .nav-list .nav-list-inner a.item-32.active {
    background: #9e1d0a;
    border-top-color: #9e1d0a
}

/*中国*/
.nav .nav-list .nav-list-inner a.item-71 {
    border-top-color: #009bff
}

.nav .nav-list .nav-list-inner a.item-71:hover, .nav .nav-list .nav-list-inner a.item-71.active {
    background: #009bff;
    border-top-color: #009bff
}
/*娱乐*/
.nav .nav-list .nav-list-inner a.item-63 {
    border-top-color: #741884
}

.nav .nav-list .nav-list-inner a.item-63:hover, .nav .nav-list .nav-list-inner a.item-63.active {
    background: #741884;
    border-top-color: #741884
}
/*体育*/
.nav .nav-list .nav-list-inner a.item-82 {
    border-top-color: #3b900e
}

.nav .nav-list .nav-list-inner a.item-82:hover, .nav .nav-list .nav-list-inner a.item-82.active {
    background: #3b900e;
    border-top-color: #3b900e
}
/*时尚*/
.nav .nav-list .nav-list-inner a.item-68 {
    border-top-color: #fff
}

.nav .nav-list .nav-list-inner a.item-68:hover, .nav .nav-list .nav-list-inner a.item-68.active {
    background: #fff;
    border-top-color: #fff;
    color: #000
}
/*旅行*/
.nav .nav-list .nav-list-inner a.item-105 {
    border-top-color: #ffa300
}

.nav .nav-list .nav-list-inner a.item-105:hover, .nav .nav-list .nav-list-inner a.item-105.active {
    background: #ffa300;
    border-top-color: #ffa300
}
/*奢界*/
.nav .nav-list .nav-list-inner a.item-135 {
    border-top-color: #fff
}

.nav .nav-list .nav-list-inner a.item-135:hover, .nav .nav-list .nav-list-inner a.item-135.active {
    background: #fff;
    border-top-color: #fff;
    color: #000
}
/*文化*/
.nav .nav-list .nav-list-inner a.item-130 {
    border-top-color: #8a9fb3
}

.nav .nav-list .nav-list-inner a.item-130:hover, .nav .nav-list .nav-list-inner a.item-130.active {
    background: #8a9fb3;
    border-top-color: #8a9fb3
}
/*游戏*/
.nav .nav-list .nav-list-inner a.item-118 {
    border-top-color: #5ebdc7
}

.nav .nav-list .nav-list-inner a.item-118:hover, .nav .nav-list .nav-list-inner a.item-118.active {
    background: #5ebdc7;
    border-top-color: #5ebdc7
}
/*军事*/
.nav .nav-list .nav-list-inner a.item-103 {
    border-top-color: #4b7126
}

.nav .nav-list .nav-list-inner a.item-103:hover, .nav .nav-list .nav-list-inner a.item-103.active {
    background: #4b7126;
    border-top-color: #4b7126
}
/*视频*/
.nav .nav-list .nav-list-inner a.item-video {
    border-top-color: #fff
}

.nav .nav-list .nav-list-inner a.item-video:hover, .nav .nav-list .nav-list-inner a.item-video.active {
    background: #fff;
    border-top-color: #fff;
    color: #000;
}


.nav .nav-list .nav-list-inner a.active, .nav .nav-list .nav-list-inner a:hover {
    color: #fff;
    background: #323232;
    border-color: #fff
}

.nav .nav-list ul.open {
    display: block
}

.nav .nav-list ul {
    display: none;
    position: absolute;
    top: 40px;
    clear: both;
    border-top: 0;
    line-height: 30px;
    z-index: 999;
    margin-left: 0;
    background-color: #323232
}

.nav .nav-list ul li {
    list-style-type: none;
    font-size: 13px
}

.nav .nav-list ul li:last-of-type a {
    border-bottom: 0
}

.nav .nav-list ul li a {
    color: #fff;
    padding: 0 10px;
    border-bottom: 1px solid #5d5d5d;
    background: #323232;
    width: 140px;
    display: inline-block
}

.nav .nav-list ul li a span {
    display: inline-block;
    padding-left: 10px;
    color: #b5b5b6
}

.nav .nav-list ul li a:hover {
    background: #b5b5b6
}

.nav .nav-list ul li a:hover span {
    color: #323232
}

.nav .navbar-btn {
    width: 60px;
    text-align: center;
    height: 40px;
    display: inline-block;
    color: #FFF;
    font-size: 14px;
    line-height: 40px;
    float: left;
    position: relative;
    z-index: 9999
}

.nav .navbar-btn span {
    cursor: pointer
}

.nav .js-nav-hover .nav-drop-down {
    position: absolute;
    right: 0;
    top: 40px;
    background: #FFF;
    border: 1px solid #ddd;
    display: none;
    width: 120px;
    text-align: left;
    z-index: 9999;
}

.nav .js-nav-hover.active .nav-drop-down {
    display: block
}

.nav .js-nav-hover .nav-drop-down li a {
    font-size: 14px;
    display: block;
    line-height: 30px;
    padding: 0 10px
}

.nav .js-nav-hover .nav-drop-down li a:hover {
    color: #f12b35;
    background: #f2f2f5
}

.nav .navbar-btn .nav-drop-down li a .nav-icon {
    margin-right: 5px
}

.nav .navbar-btn .nav-drop-down li p {
    /*padding: 10px*/
}

.nav .navbar-btn .nav-drop-down li p img {
    width: 120px;
    height: 120px
}

.nav .navbar-btn .nav-drop-down .mobile-app {
    text-align: center;
    padding: 10px 0;
    overflow: hidden
}

.nav .navbar-btn .nav-drop-down .mobile-app a {
    width: 40px;
    float: left
}

.nav .navbar-btn .nav-drop-down .mobile-app a:hover {
    background: #fff
}

.nav-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("../image/nav-icon.png");
    background-repeat: no-repeat;
    position: relative;
    vertical-align: top;
    text-align: center
}

.nav-icon.icon-arrow {
    margin-top: 18px;
    height: 7px;
    background: 0;
    overflow: hidden;
    width: 20px;
    font: 400 15px/15px consolas;
    color: #fff;
    transition: transform .1s ease-in 0s;
    -webkit-transition: -webkit-transform .1s ease-in 0s;
    /*display: none*/
}

.ie7 .nav-icon.icon-arrow {
    margin-top: 8px
}

.nav .navbar-btn .f-btn:hover .icon-arrow {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg)
}

.nav-icon.icon-arrow s {
    position: relative;
    top: -7px;
    text-decoration: none
}

.nav-icon.icon-wb {
    background-position: 0 0
}

.nav-icon.icon-rss {
    background-position: 0 -30px
}

.nav-icon.icon-wx {
    background-position: 0 -60px
}

.nav-icon.icon-search {
    background-position: 0 -90px
}

.nav-icon.icon-phone {
    background-position: -30px 0
}

.nav-icon.icon-android {
    background-position: -30px -30px
}

.nav-icon.icon-apple {
    background-position: -30px -60px
}

.nav .navbar-btn .drop-down .weibo-btn, .nav .navbar-btn .drop-down .weixin-btn, .nav .navbar-btn .drop-down .rss-btn {
    display: block;
    padding-left: 10px
}

.nav #js-s-search.hide {
    display: none
}

.nav #js-s-search.open {
    display: block
}

.nav .navbar-btn .search-btn .nav-icon {
    vertical-align: -10px
}
.nav2{
    border-top: none;
}
.nav2 .nav-list{
    border-color: #222;
}
.nav2 .nav-list .nav-list-inner a{
    border-top: none;
    border-bottom: none;
    background: url("../image/logo/bg.png") repeat-x 0 0;
}
.nav2 .nav-list .nav-list-inner a.active, .nav2 .nav-list .nav-list-inner a:hover{
    background: #444;
    border-color: #fff;
}


.nav .align-right{
    float: right;
    margin-right: 20px;
}
.nav .align-right a{
    display: inline-block;
    padding: 0 14px;
    color: #fcf9ef;
    font-size: 13px;
    text-align: center;
    line-height: 40px;
    position: relative;
}
.nav .align-right a span{
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    left: 2px;
    top: 18px;
}


.user-home {
    position: relative;
    display: inline-block;
    float: left
}

.user-home .user-login {
    display: block;
    line-height: 40px;
    color: #fff;
    font-size: 14px;
    padding: 0 5px;
    /*border-left: 1px solid #343434*/
}

.user-home .user-loading {
    display: block
}

.user-home img {
    width: 40px;
    height: 40px
}

.user-home .new-count {
    width: 10px;
    height: 10px;
    text-align: center;
    background: #f12b15;
    color: #fff;
    border-radius: 3px;
    position: absolute;
    right: 0;
    bottom: 0;
    border: 1px solid #fff;
    display: none
}

.pjax-wrapper {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
    overflow: hidden;
    background: #fff;
}

.pjax-wrapper .pjax-loading {
    width: 1200px;
    height: 1200px
}

.pjax-wrapper .pjax-loading .loading-view {
    width: 100%;
    height: 100%;
    background: url(../plugins/pjax/loading.gif) center center no-repeat
}

.pjax-wrapper .pjax-content {
    width: 3600px;
    overflow: hidden;
    margin-left: -1200px
}

.pjax-wrapper .next-content, .pjax-wrapper .prev-content {
    width: 1200px;
    min-height: 100px;
    float: left;
    background: #fff
}

.pjax-wrapper .middle-content {
    float: left;
    max-width: 1200px;

}

.pjax-switch {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10
}

.pjax-switch a {
    position: absolute;
    top: 500px;
    line-height: 52px;
    color: #fff;
    text-align: center;
    font-size: 20px;
    display: inline-block;
    cursor: pointer;
    transition: background .2s ease-out
}

.content, .content-container, .footer {
    position: relative
}

.pjax-switch i {
    display: inline-block;
    width: 30px;
    height: 52px;
    background: url(../image/pjax-arrow.png) no-repeat
}

.footer, .footer-container {
    background-color: #141414;
    height: 50px
}

.pjax-switch a span {
    padding: 0 10px;
    opacity: 0;
    transition: opacity .2s ease-out
}
/*首页*/
.pjax-switch a.item-index:hover {
    background: #f12b35
}
/*天下*/
.pjax-switch a.item-32:hover {
    background: #9e1d0a
}
/*中国*/
.pjax-switch a.item-71:hover {
    background: #009bff
}
/*娱乐*/
.pjax-switch a.item-63:hover {
    background: #741884
}
/*体育*/
.pjax-switch a.item-82:hover {
    background: #3b900e
}
/*时尚*/
.pjax-switch a.item-68:hover {
    background: #000
}
/*旅行*/
.pjax-switch a.item-105:hover {
    background: #ffa300
}
/*奢界*/
.pjax-switch a.item-135:hover {
    background: #000
}
/*文化*/
.pjax-switch a.item-130:hover {
    background: #8a9fb3
}
/*游戏*/
.pjax-switch a.item-118:hover {
    background: #5ebdc7
}
/*军事*/

.pjax-switch a.item-103:hover {
    background: #4b7126
}
/*视频*/

.pjax-switch a.item-video:hover {
    background: #666
}


.pjax-switch a:hover span {
    opacity: 1
}

.pjax-switch #t-prev {
    left: 0;
    padding-right: 5px
}

.pjax-switch #t-prev i {
    float: left;
    background-position: left 0
}

.pjax-switch #t-prev:hover i {
    background-position: left -47px
}

.pjax-switch #t-next {
    right: 0;
    padding-left: 5px
}

.pjax-switch #t-next span {
    float: left
}

.pjax-switch #t-next i {
    float: left;
    overflow: hidden;
    background-position: right 0
}

.pjax-switch #t-next:hover i {
    background-position: right -47px
}

.content {
    padding: 20px 0
}

.pjax-wrapper .content {
    padding: 0
}

.content-container {
    width: 1200px;
    margin: 0 auto;
    background: #fff
}

.content-container:after, .content-container:before {
    content: "";
    display: block;
    clear: both
}

.footer {
    z-index: 600
}

.footer-inner {
    background: #141414
}

.footer-container {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden
}

.footer-container .b-logo {
    float: left;
    height: 50px;
    width: 66px;
    background: url(../image/b-logo.png) center center no-repeat
}

.footer-container p {
    float: left;
    line-height: 50px;
    padding-left: 15px;
    color: #ddd;
    font-size: 13px
}

.footer-container ul {
    float: right;
    line-height: 50px
}

.footer-container ul li {
    float: left;
    margin-left: 10px
}

.footer-container ul a {
    display: inline-block;
    color: #ddd;
    font-size: 13px;
    position: relative
}

.pagination {
    text-align: center;
    padding: 20px 0 80px
}

.pagination ul li {
    display: inline;
    border-bottom: 0;
    padding: 0
}

.pagination li:first-child a, .pagination li:first-child span {
    border-radius: 50%;
    background: 0
}

.pagination li a, .pagination li span {
    border: 0;
    border-radius: 50%;
    padding: 6px 10px;
    margin: 0 2px;
    background: 0;
    color: #000;
    font-size: 10px;
    display: inline-block;
    line-height: 18px;
    width: 10px;
    text-align: center
}

.pagination .active a, .pagination .active a:focus, .pagination .active a:hover, .pagination .active span, .pagination .active span:focus, .pagination .active span:hover {
    background: #999;
    color: #fff
}

.pagination li a:focus, .pagination li a:hover, .pagination li span:focus, .pagination li span:hover {
    background-color: #999;
    color: #fff
}

.pagination li:last-child a, .pagination li:last-child span {
    border-radius: 20px
}

/*layout*/
.jm-box-shade, .jm-box-layout {
    position: fixed;
    _position: absolute;
}

.jm-box-shade {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    _height: expression(document.body.offsetHeight+"px");
}

.jm-box-layout {
    top: 150px;
    left: 50%;
    height: auto;
    width: 310px;
    margin-left: -155px;
    /*border-radius: 3px;*/
}

.jm-box-border,
.jm-box-title,
.jm-box-title i,
.jm-box-page,
.jm-box-iframe,
.jm-box-title em,
.jm-box-close,
    /*.jm-box-icon,*/
.jm-box-moves {
    position: absolute;
}

.jm-box-border {
    /*border-radius: 5px;*/
}

.jm-box-title {
    left: 0;
    top: 0;
}

.jm-box-main {
    position: relative;
    height: 100%;
    _float: left;
    /*border-radius: 3px;*/
    /*border: 1px solid #ccc;*/
    box-shadow: 0 4px 20px 1px rgba(0, 0, 0, 0.2);

}

.jm-box-dialog {
    border-top: 2px solid #f3473a;
}

.jm-box-page {
    top: 0;
    left: 0;
}

.jm-box-load {
    background: url('../image/mbox/jm-box-loading0.gif') #fff center center no-repeat;
}

.jm-box-loading {
    display: block;
    float: left;
    text-decoration: none;
    color: #FFF;
    _float: none;
}

.jm-layer-png32 {
    background: url('../image/mbox/jm-box-ico0.png') no-repeat;
}

.jm-box-moves {
    border: 3px solid #666;
    cursor: move;
    background-color: rgba(255, 255, 255, .3);
    background-color: #fff \9;
    filter: alpha(opacity=50);
}

.jm-box-icon {
    width: 30px;
    height: 30px;
    background: url('../image/mbox/jm-box-icon.png') no-repeat;
    display: inline-block;
    vertical-align: -9px;
    margin-right: 10px;

}

.jm-box-text {
    line-height: 30px;
    padding: 0 30px;
    word-break: break-all;
    overflow: hidden;
    font-size: 16px;
    color: #666;
    display: block;
    text-align: center;
}

.jm-box-icon-0 {
    background-position: -91px -38px;
}

/*成功*/
.jm-box-icon-1 {
    background-position: -60px 0;
}

/*询问*/
.jm-box-icon-2 {
    background-position: -30px 0;
}

/*警告*/
.jm-box-icon-3 {
    background-position: 0 0;
}

.jm-box-loading-0 {
    width: 60px;
    height: 24px;
    background: url('../image/mbox/jm-box-loading0.gif') no-repeat;
}

.jm-box-loading-1 {
    width: 37px;
    height: 37px;
    background: url('../image/mbox/jm-box-loading1.gif') no-repeat;
}

.jm-box-loading-2, .jm-box-icon-16 {
    width: 32px;
    height: 32px;
    background: url('../image/mbox/jm-box-loading2.gif') no-repeat;
}

.jm-box-loading-3 {
    width: 126px;
    height: 22px;
    background: url('../image/mbox/jm-box-loading3.gif') no-repeat;
}

.jm-box-setwin {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 0;
}

.jm-box-setwin a {
    position: relative;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top;
    width: 14px;
    height: 14px;
    margin-left: 10px;
    font-size: 12px;
    _overflow: hidden;
}

.jm-box-setwin .jm-box-min cite {
    position: absolute;
    width: 14px;
    height: 2px;
    left: 0;
    top: 50%;
    margin-top: -1px;
    background-color: #919191;
    cursor: pointer;
    _overflow: hidden;
}

.jm-box-setwin .jm-box-min:hover cite {
    background-color: #2D93CA;
}

.jm-box-setwin .jm-box-max {
    background-position: -6px -189px;
}

.jm-box-setwin .jm-box-max:hover {
    background-position: -6px -206px;
}

.jm-box-setwin .jm-box-maxmin {
    background-position: -29px -189px;
}

.jm-box-setwin .jm-box-maxmin:hover {
    background-position: -29px -206px;
}

.jm-box-setwin .jm-box-close0 {
    width: 14px;
    height: 14px;
    background-position: -31px -7px;
    cursor: pointer;
}

.jm-box-setwin .jm-box-close0:hover {
    background-position: -51px -7px;
}

.jm-box-setwin .jm-box-close1 {
    position: absolute;
    right: -5px;
    top: -8px;
    width: 30px;
    height: 30px;
    margin-left: 0;
    background-position: -60px -195px;
    *right: -18px;
    _right: -15px;
    _top: -23px;
    _width: 14px;
    _height: 14px;
    _background-position: -31px -7px;
}

.jm-box-setwin .jm-box-close1:hover {
    background-position: -91px -195px;
    _background-position: -51px -7px;
}

.jm-box-title {
    width: 100%;
    height: 35px;
    line-height: 35px;
    border-bottom: 1px solid #D5D5D5;
    background: #f5f5f5;
    font-size: 14px;
    color: #333;
}

.jm-box-title em {
    height: 20px;
    line-height: 20px;
    width: 60%;
    top: 7px;
    left: 10px;
    font-style: normal;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.jm-box-button a {
    position: absolute;
    bottom: 10px;
    left: 50%;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    border-width: 1px;
    border-style: solid;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    color: #333;
    background-color: #fff;
    border-color: #d9d9d9;
}

.jm-box-button a:hover {
    text-decoration: none;
    border-color: #ccc;
}

.jm-box-button .jm-box-button1 {
    width: 79px;
    height: 32px;
    line-height: 32px;
    margin-left: -39px;
    background-position: -6px -34px;
}

.jm-box-button1:hover {
    background-position: -6px -72px;
}

.jm-box-button .jm-box-button2 {
    margin-left: -76px;
    width: 71px;
    height: 29px;
    line-height: 29px;
    background: #ffffff;
    color: #333
}

.jm-box-button2:hover {
    background-position: -5px -146px;
}

.jm-box-button .jm-box-button3 {
    width: 71px;
    height: 29px;
    line-height: 29px;
    margin-left: 10px;
    background-position: -81px -114px;
}

.jm-box-button3:hover {
    background-position: -81px -146px;
}

.jm-box-tips {
    position: relative;
    line-height: 20px;
    min-width: 12px;
    padding: 5px;
    font-size: 12px;
    _float: left;
    border-radius: 3px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
}

.jm-box-tips i.m-tips-G {
    position: absolute;
    width: 0;
    height: 0;
    border-width: 8px;
    border-color: transparent;
    border-style: dashed;
    *overflow: hidden;
}

.jm-box-tips i.m-tips-T, .jm-box-tips i.m-tips-B {
    left: 50%;
    margin-left: -8px;
    border-right-style: solid;
}

.jm-box-tips i.m-tips-T {
    bottom: -8px;
}

.jm-box-tips i.m-tips-B {
    top: -15px;
}

.jm-box-tips i.m-tips-R, .jm-box-tips i.m-tips-L {
    top: 1px;
    border-bottom-style: solid;
}

.jm-box-tips i.m-tips-R {
    left: -8px;
}

.jm-box-tips i.m-tips-L {
    right: -8px;
}



