@charset "UTF-8";
/* CSS Document */

/* ============================
			#ed1c24
=============================== */

/* ----------------------------
          kayan bant
------------------------------- */

#kayan-bant {
	font-size: 14px;
	height: 26px !important;
	line-height:26px;
	overflow: hidden;
	position: relative;
	width: 100%;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ed1c24;
	margin:6px 0;
	-webkit-backface-visibility:hidden;
}
#kayan-bant.sosyal-meydan {
	border-bottom-color: #1f8aad;
}
#kayan-bant div {
	color:#555;
	white-space:nowrap;
	position:absolute;
	font-size: 14px;
	font-style: oblique;
	left:670px;
	line-height:26px;
}
#kayan-bant div a {
	font-size: 14px;
	font-weight:bold;
	text-decoration:none;
}
#kayan-bant div a:link, #kayan-bant div a:visited {
	color:#666;
}
#kayan-bant div a:hover {
	color:#000;
	text-decoration:underline;
}
#kayan-bant div .link span {
	color:#ed1c24;
	padding:0 10px;
}
#kayan-bant.sosyal-meydan div .link span {
	color: #1f8aad;
}
#kayan-bant h3 {
	margin:0;
	position:absolute;
	color:#fff;
	background-color:#ed1c24;
	padding:0 0 0 10px;
	z-index:1;
	font-size:16px;
	line-height:26px;
}
#kayan-bant.sosyal-meydan h3 {
	background-color: #1f8aad;
}
#kayan-bant h3 a {
	position:relative;
	color:inherit;
}
#kayan-bant h3 span {
	display:block;
	position:absolute;
	right:-82px;
	bottom:0;
	width:82px;
	height:26px;
	background:url(images/bolum-grafikleri.png) -126px -760px no-repeat;
}
#kayan-bant.sosyal-meydan h3 span {
	background-position: -126px -840px;
}

/* ----------------------------
        dakika dakika
------------------------------- */

#dakika-dakika ul {
	list-style:none;
	margin:0;
	padding:0;
}
#dakika-dakika li {
	padding:6px;
}
#dakika-dakika li:nth-child(odd) {
	background-color:#e5e5e5;
}
#dakika-dakika li a {
	color:#666;
	display:block;
	margin-left:42px;
}
#dakika-dakika li span {
	color:#000;
	font-weight:bold;
	float:left;
}
#dakika-dakika div {
	text-align:right;
	margin:6px 16px 0 0;
}

/* ----------------------------
       su anda okunanlar
------------------------------- */

/*	1	*/
#su-anda-1 {
	display:none;
	position:relative;
	margin:9px 0;
}
#su-anda-1 div {
	color:#4c4c4c;
	background:#f0f0f0;
	padding:8px 10px;
	margin:10px 0;
	font-style:italic;
	line-height:1;
}

/*	2	*/
#su-anda-2 {
	margin-bottom:14px;
}
#su-anda-2 .info {
	color:#4c4c4c;
	padding:8px 10px;
	margin:10px 0;
	margin:-3px 0 6px;
	font-style:italic;
	line-height:1.3;
	font-size:11px;
}
#su-anda-2 .info,
#su-anda-2 .links {
	background:#f0f0f0;
}
#su-anda-2 .links {
	overflow:hidden;
}
#su-anda-2 .links a {
	display:block;
	position:relative;
}
#su-anda-2 .links a.big {
	width:280px;
	margin:10px auto;
}
#su-anda-2 .links a.half {
	width:135px;
	margin:0 10px 6px;
	text-align:center;
}
#su-anda-2 .links a.half.left {
	margin-right:0;
}
#su-anda-2 .links a span {
	display:block;
}
#su-anda-2 .links a .image {
	width:100%;
	height:90px;
}
#su-anda-2 .links a.big .image {
	width:100%;
	height:180px;
}
#su-anda-2 .links a .text {
	text-decoration:none;
	padding:6px 4px;
	color:#000;
	font-weight:bold;
}
#su-anda-2 .links a:hover .text {
	text-decoration:underline;
}
#su-anda-2 .links a.big .text {
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	color:#fff;
	padding:7px 12px;
	line-height:1.3;
	font-weight:normal;
	font-size:13px;
	background-color:#ed1c24;
	background-color:rgba(237,28,36,.8);
}

/* ----------------------------
        en cok
------------------------------- */

#en-cok {
	margin-bottom:14px;
}
#en-cok .hidden {
	display:none;
}
#en-cok div {
	border-bottom:3px solid #ccc;
}
#en-cok div h2 {
	margin:0;
}
#en-cok div h2 a {
	display:block;
	color:#000;
	padding:1px 0 3px 32px;
}
#en-cok div h2.active a,
#en-cok div h2 a:hover {
	color:#fff;
	text-decoration:none;
	background-color:#ed1c24;
}
#en-cok div h2 a:before {
	position:absolute;
	margin-left:-18px;
	content:"+";
}
#en-cok div h2.active a:before {
	content:"-";
}
#en-cok div h2,
#en-cok ul {
	border-bottom:1px solid #000;
}
#en-cok div h2.active {
	border:none;
}
#en-cok ul {
	list-style:none;
	margin:0;
	padding:8px 15px;
	background-color:#e5e5e5;
	background-color:#f5f5f5;
	background-repeat:repeat;
	background-position:left top;
	background-image:url(images/lines_diagonal.png);
}
#en-cok li {
	margin:0;
	padding:4px 0;
	border-bottom:1px dotted #b2b2b2;
	line-height:16px;
}
#en-cok li:last-child {
	border:none;
}

#en-cok li a {
	color:#000;
	display:block;
	overflow:hidden;
	height:16px;
}
#en-cok li a b {
	font-weight:bold;
	display:block;
	float:left;
}
#en-cok li a span {
	display:block;
	margin-left:20px;
}
#en-cok li a:hover b {
	text-decoration:none;
}

/* ----------------------------
          tweet alani
------------------------------- */

#twitter-tl {
	padding:0 0 12px;
}
#twitter-tl ul,
#twitter-tl li {
	list-style:none;
}
#twitter-tl ul {
	overflow:auto;
	margin:13px 6px 6px;
	padding:0;
	height:228px;
}
#twitter-tl li {
	color:#8a8a8a;
	padding:7px 0;
}
#twitter-tl li:first-child {
	padding-top:0;
}
#twitter-tl li:last-child {
	padding-bottom:0;
}
#twitter-tl li a {
	color:inherit;
}
#twitter-tl li a .twitter-ext-link {
	font-style:italic;
}
#twitter-tl li a .twitter-hash {
	font-style:italic;
	color:#0A96BD;
}
#twitter-tl li a .bold {
	font-weight:bold;
	color:#000;
}
#twitter-tl li a .twitter-mention {
	font-weight:bold;
	color:#0A96BD;
}

/* ----------------------------
         video haber
------------------------------- */

#video-haber {
	margin-bottom:14px;
}
#video-haber ul {
	list-style:none;
	margin:0;
	padding:0;
	background-color:#f5f5f5;
	overflow:auto;
	height:288px;
	height:294px;
}
#video-haber li {
	clear:both;
	margin:0;
	overflow:hidden;
	padding:10px;
	border-bottom:1px solid #cdcdcd;
}
#video-haber li:last-child {
	margin:0;
	border:none;
}
#video-haber li a {
	overflow:hidden;
	display:block;
	color:#000;
}
#video-haber li span {
	display:block;
}
#video-haber li .image {
	width:100px;
	height:75px;
	float:left;
	border:1px solid #e0e0e0;
	border:1px solid #aaa;
}
#video-haber li a .info {
	margin:6px 0 0 114px;
	height:63px;
	font-size:12px;
	line-height:16px;
}
#video-haber li a b {
	display:block;
	font-weight:bold;
	font-size:13px;
	margin:0 0 3px;
}

/* +++++++++++++++++++ */
#video-haber ul {
	height:261px;
}
#video-haber li .image {
	width:110px;
	height:64px;
}
#video-haber li a .info {
	margin-left:123px;
	height:54px;
}
/* +++++++++++++++++++ */

/* ----------------------------
        abonelere gazete
------------------------------- */

#abonelere * {
	position:relative;
}
#abonelere #cumh-uye,
#abonelere #anim2,
#abonelere #anim3 { width:300px; }
#abonelere #anim1 { width:260px; /* 300 - (20 * 2) */ }
.w242 #abonelere #cumh-uye,
.w242 #abonelere #anim2,
.w242 #abonelere #anim3 { width:242px; }
.w242 #abonelere #anim1 { width:202px; /* 242 - (20 * 2) */ }
#abonelere #cumh-uye {
	overflow:hidden;
	height:225px;
	position:relative;
	-webkit-backface-visibility:hidden;
}
#abonelere #cumh-uye a {
	display:block;
	text-decoration:none;
}
#abonelere #cumh-uye .block {
	display:block;
}
#abonelere #cumh-uye .hidden {
	display:none;
}
#abonelere #cumh-uye .bold {
	font-weight:bold;
}



#anim1 {
	position:relative;
	padding:20px;
	height:185px;
	
	color:#fff;
	font-weight:normal;
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	line-height:1;
	text-align:center;
	
	background:#ed1c23;
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #ED1C23),
		color-stop(1, #BD0009)
	);
	background-image: -o-linear-gradient(bottom, #ED1C23 0%, #BD0009 100%);
	background-image: -moz-linear-gradient(bottom, #ED1C23 0%, #BD0009 100%);
	background-image: -webkit-linear-gradient(bottom, #ED1C23 0%, #BD0009 100%);
	background-image: -ms-linear-gradient(bottom, #ED1C23 0%, #BD0009 100%);
	background-image: linear-gradient(to top, #ED1C23 0%, #BD0009 100%);
}
#anim1 .cum-logo {
	position:absolute;
	display:block;
	left:0;
	right:0;
	bottom:0;
	height:45px;
}
#anim1 .cum-logo span {
	display:block;
	height:100%;
	width:242px;
	margin:0 auto;
	background:url(images/abonelere/cumh.png) left bottom no-repeat;
}
#anim1 .bold {
	font-family:"Arial Black", Gadget, sans-serif;
}
#anim1 .today {
	display:block;
	font-size:28px;
	font-family:"Arial Black", Gadget, sans-serif;
	font-weight:bold;
	margin:34px 0 17px;
}
#anim1 .msg {
	display:block;
	line-height:1.2;
	font-size:0.9em;
}
#anim1:hover .msg {
	text-decoration:underline;
}
#anim1 .hidden {
	display:none;
}




#anim2 {
	position:relative;
	height:225px;
	background:#ccc;
}
#anim2 .papers {
	display:block;
	position:relative;
	width:100%;
	height:100%;
}
#anim2 .papers span {
	display:block;
	background:url(images/abonelere/arsiv-gazeteler.png) left top no-repeat;
	margin:0 auto;
}
#anim2 .papers .title {
	width:188px;
	height:38px;
	background-position:-218px top;
}
#anim2 .papers .title.full {
	background-position:-426px top;
}
#anim2 .papers .paper-group {
	position:static;
	bottom:0;
	width:208px;
	height:187px;
	background-position:left bottom;
}
#anim2 .papers .paper-group.pos2 {
	background-position:-208px bottom;
}
#anim2 .papers .paper-group.pos3 {
	background-position:-416px bottom;
}
#anim2 .articles {
	display:block;
	position:absolute;
	left:0;
	right:0;
	bottom:0;
	background:#ed1c24;
	padding:6px 0;
	color:#fff;
	font-size:18px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	text-align:center;
}
#anim2 .articles .bold {
	font-weight:bold;
}
#anim2:hover .articles {
	background:#bd0f15;
}
#anim2 .papers .title.hidden,
#anim2 .papers .paper-group.hidden,
#anim2 .articles.hidden {
	display:none;
}




#anim3 {
	position:relative;
	height:225px;
	background:#b2b2b2;
}
#anim3 .papers {
	position:absolute;
	width:760px;
	height:170px;
	left:-760px;
	bottom:0;
}
#anim3 .papers * {
	display:block;
}
#anim3 .papers .bg {
	position:relative;
	width:100%;
	height:100%;
	background:url(images/abonelere/gazeteler.png) left top no-repeat;
}
#anim3 .papers .image {
	overflow:hidden;
	position:absolute;
	left:390px;
	bottom:0;
	width:170px;
	height:160px;
}
#anim3 .papers .image img {
	border:none;
	border-width:0;
	outline:none;
	outline-width:0;
	width:100%;
}
#anim3 .title {
	display:block;
	position:absolute;
	width:100%;
	padding:4px 0;
	margin:13px 0;
	color:#fff;
	border-bottom:2px solid #fff;
	background:#ed1c24;
	
	text-align:center;
	font-size:20px;
	font-family: 'Playfair Display', serif;
	font-weight:900;
	/*background:#ed1c24;
	color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;*/
}
#anim3:hover .title {
	background:#555;
	background:#bd0f15;
}
#anim3 .title.hidden {
	display:none;
}
