@charset "UTF-8";


.bg-egitim {
	background-color: #8ac5de !important;
}
.bg-cevre {
	background-color: #a6d400 !important;
}
.bg-teknoloji {
	background-color: #00afe9 !important;
}
.bg-foto-galeri {
	background-color: #b9baa8 !important;
}
.bg-kultur-sanat {
	background-color: #682f8b !important;
}
.bg-turkiye {
	background-color: #be012e !important;
}
.bg-spor {
	background-color: #00a13e !important;
}
.bg-yasam {
	background-color: #ffd000 !important;
}
.bg-yazarlar {
	background-color: #ed1c24 !important;
}
.bg-ekonomi {
	background-color: #63abaa !important;
}
.bg-gezi {
	background-color: #ff7f00 !important;
}
.bg-siyaset {
	background-color: #336cb1 !important;
}
.bg-dunya {
	background-color: #b3a28a !important;
}
.bg-astroloji {
	background-color: #a472ba !important;
}
.bg-tv-rehberi {
	background-color: #b80068 !important;
}
.bg-video {
	background-color: #9b97a2 !important;
}
.bg-saglik {
	background-color: #f0a2c8 !important;
}
.bg-cizerler {
	background-color: #005e72 !important;
}
.bg-sosyal-meydan {
	background-color: #1f8aad !important;
}
.bg-sokak {
	background-color: #085000 !important;
}