@charset "UTF-8";
/* CSS Document */

/* ============================
			#ed1c24
=============================== */

@import url(//fonts.googleapis.com/css?family=Open+Sans:800&subset=latin,latin-ext);
@import 'jquery.bxslider-4.1.2.css';

/* ----------------------------
         manset slider
------------------------------- */

.bx-wrapper {
	margin-bottom: 0;
}
.bx-wrapper .bx-viewport {
	border: none;
	left: auto;
	box-shadow: none;
	height: 390px !important;
}
.slider-outer-wrapper {
	position: relative;
	overflow: hidden;
	padding-bottom: 44px;
	margin-bottom: 16px;
	height: 391px; /* +1: border */
}
.slider-outer-wrapper .bx-remove {
	display: block;
	position: relative;
}
.bx-wrapper,
.slider-outer-wrapper .bx-remove {
	border: none;
	border-bottom: 1px solid #ccc;
}
.slider-outer-wrapper .bx-remove a {
	position: absolute;
	display: block;
	left: 0;
	background: #ddd;
}
.slider-outer-wrapper .bx-remove a img {
	max-width: 100%;
}
.slider-outer-wrapper .bx-remove a:first-child {
	top: 0;
	z-index: 1;
}
.slider-outer-wrapper .bx-remove .title {
	position: absolute;
}
.slider-outer-wrapper .bx-remove,
.slider-outer-wrapper .bx-remove a {
	width: 670px;
	height: 390px;
}
.bxslider,
.slider-outer-wrapper {
	width: 670px;
	height: 391px;	/* +1: border */
}
.bx-wrapper .bx-caption,
.slider-outer-wrapper .bx-remove .title {
	left: auto;
	bottom: 26px;
	right: 0;
	width: auto;
	max-width: 80%;
	background: url(images/trans-70-black.png) repeat;
	background: rgba(0,0,0,.6);
}
.bxslider a:hover .bx-caption,
.slider-outer-wrapper .bx-remove a:hover .title {
	bottom: 22px;
	border-bottom: 4px solid #ed1c24;
}
.bx-wrapper .bx-caption span,
.slider-outer-wrapper .bx-remove .title span {
	display: block;
	color: #fff;
	padding: 10px;
	font-family: 'Playfair Display', serif;
	font-weight: 900;
	font-size: 30px;
	line-height: 38px;
}
.bxslider {
	list-style: none;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

/* ----------------------------
        manset sayilar
------------------------------- */

.bxPager {
	list-style: none;
	padding: 0;
	margin: 8px 0;
	text-align: center;
}
.bxPager li {
	display: inline-block;
	zoom: 1;
	*display: inline;
	margin: 0 3px;
}
.bxPager a {
	display: block;
	background: #b3b3b3;
	font-family: Arial, sans-serif;
	color: #fff;
	font-weight: bold;
	font-size: 14px;
	line-height: 28px;
	height: 28px;
	min-width: 28px;
	-moz-border-radius: 14px;
	-webkit-border-radius: 14px;
	border-radius: 14px;
}
.bxPager a.active,
.bxPager a.active:hover {
	background: #ed1c24;
}
.bxPager a:hover {
	background: #444;
	text-decoration: none;
}

/* ----------------------------
          buyuk manset
------------------------------- */

.slider-big .bx-wrapper,
.slider-big .bx-remove {
	border: 1px solid #ccc;
}
.slider-big .bx-remove,
.slider-big .bx-remove a {
	width: 984px;
	height: 440px;
}
.slider-big ul.bxslider,
.slider-big {
	width: 986px;	/* +2: border */
	height: 442px;	/* +2: border */
}
.slider-big {
	margin-left: -1px;
	margin-right: -1px;
	margin-bottom: 10px;
}
.slider-big .bx-viewport {
	height: 440px !important;
}
.slider-big .bx-wrapper .bx-caption,
.slider-big .bx-remove .title {
	left: 45px;
	right: auto;
	
	max-height: 7em;
	max-width: 8em;
	
	color: #ed1c24;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 4.4em;
	font-weight: 800;
	line-height: 1.1;
	letter-spacing: -1px;
	text-shadow: 3px 3px 7px rgba(0,0,0,.9);
	
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
.slider-big .bx-wrapper .bx-caption,
.slider-big .bx-remove .title,
.slider-big .bxslider a:hover .bx-caption,
.slider-big .bx-remove a:hover .title {
	bottom: 30px;
}
.slider-big .bx-wrapper .bx-caption span,
.slider-big .bx-remove .title span {
	padding: 8px 14px 12px;
	font-family: inherit;
	font-weight: inherit;
	font-size: .85em;
	line-height: inherit;
	
	-moz-hyphens: auto;
	/* -webkit-hyphens: auto; */
	word-break: break-word;
}
.slider-big .bxslider a:hover .bx-caption,
.slider-big .bx-remove a:hover .title {
	text-decoration: underline;
	border-bottom: none;
}
.slider-big .bxPager {
	margin-top: 10px;
}
