@media (min-width: 992px)
{#header-top .main-nav li:hover ul{display:block;}}@media (max-width: 992px)
{.reply{float:none;margin:20px auto 0 auto;width:75px;text-align:center;}}@media (max-width:990px){#header{text-align:center;}#header img.logo{margin:20px auto;}#header .ads-header{margin-bottom:20px;}.sidebar{max-width:320px;margin:25px auto;}.widget-ads{text-align:center!important;}#header{background-size:cover;}}@media (max-width:768px){.box{width:100%!important;}#header-top ul.social{margin:15px auto;text-align:center;}#header-top ul{text-align:right;width:100%;margin:0px auto 0px auto;z-index:999999;background:#fff;}#header-top ul li a{margin:0;padding:6px 8px;}#header-top ul.social{text-align:center;margin:10px auto;display:block;}#header-top .searchbox{width:100%;max-width:250px;margin:20px auto 5px auto;height:30px;}#header-top .searchbox .form-searchbox{padding:0;margin:0;height:30px;}#header-top .searchbox .form-searchbox .searchbox-input{width:90%;top:9px;}#header-top .searchbox .form-searchbox .searchbox-submit{top:5px;position:absolute;}#header-top .dropdown{margin-bottom:0px;background:#fff!important;}#header-top .dropdown.dropdown-user{background:transparent!important;z-index:9999;display:inline-block;}#header-top .dropdown.dropdown-user .btn-group.user-topurl,#header-top .dropdown.dropdown-user li{background:transparent}#header-top .dropdown-menu li a{padding-right:15px}#header-top .dropdown-menu li:last-child{border-bottom:0px solid #ebebeb;}#header-top .user-topurl .dropdown-menu{top:46px}.navbar-default .navbar-toggle{border-color:#1e8ce7;text-align:center}.navbar-default{text-align:center}.navbar-toggle{float:none;}#show-single{height:150px;}#show-single .show{text-align:center;padding-top:60px;}#projects-top h2{text-align:center;margin-top:25px}.homelift h3{text-align:center;}.homelift a.details{text-align:center;display:block;width:250px}#navigation .navbar-default{margin-top:0px}.navbar-collapse{padding:0;background:#fcfcfc;border:1px solid #e7e7e7;}#navigation{text-align:center;}.align-left{text-align:center;}#navigation .navbar-nav>li{display:block;text-align:center;padding:0;}#navigation .navbar-default .navbar-nav>li>a{padding:8px;font-size:15px;}#navigation .navbar-i{display:none;}.header-text a{left:50%!important;margin-left:-55px;}.slidertop{text-align:center!important;}.widget-ads{text-align:center!important;}.slidertop .col-md-3{margin-bottom:20px}#header .col-md-4{text-align:center;}#projects-top.norepadding .project-top-box{margin-bottom:25px;}#projects-top.norepadding .project-top-box h3{padding:10px 0;}#projects-top.norepadding .project-top-box p{padding:10px 0;}#projects-top.norepadding .project-top-box span{margin:15px 0}#projects-top{padding:10px 0}#projects{padding:20px 0}#projects-filter .info-post h3{padding:20px 0 10px 0;}#headline .align-right{text-align:center;margin-top:15px}#projectscate-filter h2,#services h2,#videos h2{text-align:center;}#projectscate-filter .projectscate-menu ul li{display:block;margin-bottom:2px;text-align:center}#projects-filter .projects-menu ul li{display:block;margin-bottom:6px}#projects-filter .thumb{margin:20px auto 0 auto}#projects-filter .item-work{margin:10px auto}#wordmanagers h2{margin-bottom:0px}#services .service-box{margin-bottom:20px}.videosCarousel .owl-controls .owl-nav{margin:-5px 0px;}#videos{padding-top:20px;}.cc_clear{clear:both;}#footer h3{margin-top:25px;}#footer a.more{margin-bottom:25px;}#footer .widget_rss_subscription{max-width:290px;margin:auto;}#footer .widget_rss_subscription input[type='text']{}#footer .widget_rss_subscription .btn-subscribe{}#footer .copyright{text-align:center;margin-bottom:15px;}#footer .social{text-align:center;margin-bottom:25px;}#projectscate-filter .bx-wrapper .bx-next{top:105%;right:0;}#projectscate-filter .bx-wrapper .bx-prev{top:105%;left:0;}.find-us-map{height:350px}#footer .pure4s{text-align:center;}#header-top ul.ul-box{display:block;width:100%;margin-bottom:10px;margin-top:0;}#footer{padding-top:0;padding-bottom:20px;}#footer .footer{margin:0 0 10px 0!important;padding:25px 0 0 0!important;}#box-home h2.line span{display:none;}}@media(min-width: 990px) and (max-width: 1199px) {
  
  .block-top-drama ul li, .block-top-drama ul li.lileft {margin: 10px auto;}
}

@media (max-width:599px){
  
  .block-top-drama ul li, .block-top-drama ul li.lileft {margin: 10px auto;}
}

@media (max-width:420px){
  h2.gtitle{max-width: 100%;width: 100%;}
  .block-new-episode a.bviewall {top: -15px;}
  .block-top-drama a.bviewall {top: -15px;}
}




@media (max-width: 1198px) {
  .navbar-default .navbar-nav>li>a {font-size: 15px}
}

/* Responsive: Header for devices below desktop */
@media (max-width: 995px) {
    .navbar-default .navbar-nav>li>a {font-size: 17px}
    .logo-container {text-align: center;padding: 10px 0;}
    span.tag-line {
        font-size: 12px;
        display: block;
        text-align: center;
    }
    #navigation i {display: none;}
    #navigation .align-left {text-align: center;}
    #navigation .date-hijri {margin-top: 5px;margin-bottom: 15px;}
    .main-nav > div > ul {text-align: center;}
    .main-nav > div > ul > li {float: none;display: inline-block;}
    .main-nav > div > ul > li .sub-menu {
        text-align: left;
        top: 55px;
    }
    .breadcrumbs {
        text-align: center;
    }
}

/* Responsive: Landscape phone to desktop/tablet */
@media (max-width: 770px) {
  #header-top .logo {
    margin: 20px auto 0 auto;
    display: block;
}
    .main-nav {
        position: relative;
        width: 280px;
        margin: auto!important;
    }
    .main-nav > div > ul {
        display: none;
    }
    .navigation_mobile_click {
    	border: 1px solid #ebebeb;
    	padding: 0 35px 0 10px;
    	background-color: #f7f7f7;
    	color: #2f3239;
    	cursor: pointer;
    	width: 280px;
    	height: 35px;
    	line-height: 32px;
    	font-size: 14px;
    	position: relative;
    	margin: 20px auto;
    	display: block;
    }
    .navigation_mobile_click:before {
        content: "\f0c9";
        font-family: "FontAwesome";
        font-size: 20px;
        position: absolute;
        right: 0;
        top: 0;
        height: 33px;
        width: 35px;
        text-align: center;
    }
    .main-nav div > ul {
    	background-color: #FAFAFA;
    	border: 1px solid #dedede;
    	border-top: none;
    	overflow: hidden;
    	position: absolute;
    	left: 0;
    	top: 55px;
    	width: 100%;
    	z-index: 993;
    	-moz-border-radius: 0 0 2px 2px;
    	-webkit-border-radius: 0 0 2px 2px;
    	border-radius: 0 0 2px 2px;
    	display: none;
    	-moz-box-sizing: border-box;
    	-webkit-box-sizing: border-box;
    	box-sizing: border-box;
    }
    .main-nav div > ul > li {
        float: none;
        padding: 0;
        line-height: 25px;
        border-top: 1px solid #ebebeb;
        color: #2f3239;
        text-align: right;
        font-size: 14px;
        display: block!important;
    }
    #header-top .main-nav div > ul > li a {color: #262626;}
    #navigation .navbar-default .navbar-nav > li:after {border: none;}
    .main-nav div > ul > li .menu-nav-arrow {
        float: right;
    }
    .main-nav div > ul > li:hover > a {
        color: #000;
        padding: 3px 0;
    }
    .main-nav .sub-menu {
        position: relative;
        top: 0px!important;
        margin: 0 -15px;
        padding: 10px 20px !important;
    }
    .main-nav .sub-menu li {
        width: 100%;
        background-color: transparent;
        padding: 0px 0px;
    }
    .main-nav .sub-menu li a:before {
        content: "\f054";
        font-family: "FontAwesome";
        font-size: 10px;
        margin-right: 8px;
        speak: none;
        position: relative;
        top: 1px;
    }
    .main-nav .sub-menu li:hover {background-color: transparent;}
    .main-nav .sub-menu li:hover > a {color: #000;}
    .main-nav div > ul > li ul {position: relative;margin-bottom: 0;border-top: 1px solid #ebebeb;margin: 0 -20px;top: 100%;}
    .main-nav div > ul li a,.main-nav div > ul li.current-menu-item a {color: #2f3239;background: transparent;padding: 8px;}
.caret {
    display: inline-block;
    left: 5px;
    top: 15px;
    position: absolute;
}
.single-episode {text-align: center;}
.single-episode .caret {
    display: inline-block;
    left: auto;
    top: auto;
    position: relative;
}


  #header-top .main-topurl {margin-top: 5px;background: transparent;max-width: 110px;margin-left: 5px}
  #header-top .main-topurl li {line-height: 45px;padding: 0 0px;}
  #header-top .main-topurl .caret {left: 10px;top: 25px;}
  #header-top .main-topurl li ul {left: auto;right: 0;top: 45px}
  #header-top .user-topurl .caret {left: 0px;top: 0;margin: 0 5px 0 0;position: relative;}
  .block-movie-translate .movie-translate {height: auto}
  a.bviewall {float: none;margin: auto;}
  
}



@media (max-width: 780px)
{
    #header-top{text-align: center!important;}
    #header-top .box-header-right .main-topurl {width: 100%!important;max-width: 100%!important;text-align: center!important;}
    .box-header-right ul ul {width: 180px!important;max-width: 180px!important;}
    .box {margin: 0!important;}
    #header-top .box-header-right .main-topurl li ul li {width: 190px!important;}
    #header-top .main-topurl li.userprostar {display: flex!important;}
}

