@charset "EUC-JP";

/* Information
==================================================
livedoor Blog CSS
 Name   : Cool Black
 Layout : 2カラム 右サイド
 Author : decoweb
 Author URI: http://www.decoweb.jp/
 Update : 
==================================================
*/

/* Table of Contents
==================================================
	01. Text - フォント・リンク
	02. Layout - 全体の枠組み
	03. Title - ブログタイトルエリア
	04. SubTitle - アーカイブタイトルエリア
	05. Pager -ページャ
	06. Main - 記事エリア
	07. Option - トラックバック・コメントエリア
	08. Sub & Extra - プラグインエリア
	09. Header & Footer - ヘッダー・フッター
	10. Others - ADエリア etc.
==================================================
*/


/* =============================================== */
/** 01. Text - フォント・リンク */
/* ----------------------------------------------- */

* {
	word-break: break-all;
}

body {
	font-family: "Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","ＭＳ Ｐゴシック",sans-serif;
	font-size: .8em;
}

body {
	color: #333333;
}

a:hover {
	text-decoration: none;
}

table#header a:link
, table#header a:active
, table#header a:visited
, table#header a:hover {
	color: #666666;
}

h1#blog-title a:link
, h1#blog-title a:active
, h1#blog-title a:visited {
	color: #EEE;
	text-decoration: none;
}

h1#blog-title a:hover {
	color: #EEE;
	text-decoration: underline;
}

p#blog-description {
	margin: 5px 20px;
	color: #DDD;
}

h2.archives-title {
	font-size: 1.2em;
}

div#main a:link
, div#main a:active {
	color: #666;
}

div#sub a:link
, div#sub a:active
, div#extra a:link
, div#extra a:active {
	color: #666;
}

div#main a:visited
, div#sub a:visited
, div#extra a:visited {
	color: #666;
}

div#sub a:hover
, div#extra a:hover {
	color: #666;
}

div#main h2.article-title a:link
, div#main h2.article-title a:active
, div#main h2.article-title a:visited {
	color: #88B500;
	text-decoration: none;
}

div#main h2.article-title a:hover {
	text-decoration: underline;
}

div#main ul.article-post li a:link
, div#main ul.article-post li a:active
, div#main ul.article-post li a:visited
, div#main ul.article-post li a:hover {
	color: #666;
}

div#main dl.article-category dd a:link
, div#main dl.article-category dd a:active
, div#main dl.article-category dd a:visited
, dl.article-category dd a:hover {
	color: #666;
}

div#main div.pager a {
	color: #666;
}

div.article-date-outer {
	color: #515e69;
}

ul.ping-info li.ping-date
, ul.comment-info li.comment-date {
	color: #8d8d8d;
}

div#sub div.sidetitle a
, div#extra div.sidetitle a {}

div#sub table.caltblday a:visited
, div#extra table.caltblday a:visited {}

div.footer-outer p
, div.footer-outer p a {
	color: #666;
}

/* ADエリアはCSS別途指定 */

/* =============================================== */
/** 02. Layout - レイアウト（全体の枠組み） */
/* ----------------------------------------------- */

body {
	margin: 0 0 10px 0;
	padding: 0;
	background: #EEE;
	text-align: center;
	color: #333;
}

img {
	border: 0;
}

div#container {
	width: 820px;
	margin: 0 auto;
	background: url(http://parts.blog.livedoor.jp/img/usr/dw001_cool_black/container_back_l.jpg) repeat-y #EEE;
}

div#content {
	width: 800px;
	margin: 20px auto 0 auto;
}

div#main
, div#sub
, div#extra {
	overflow: hidden;
}

div#main {
	width: 580px;
	float: left;
	margin:0 5px 0 15px;
	display: inline;
}

div#main div.column-inner {
	margin: 0;
}

div#sub {
	width: 180px;
	float: right;
	margin: 0 15px 0 5px;
	display: inline;
}

div#sub div.column-inner {
}

div#extra {
	width: 180px;
	clear: right;
	float: right;
	margin: 0 15px 0 5px;
	display: inline;
}

div#extra div.column-inner {}

/* ----------------------------------------------- */
/** clearfix */

div#container:after
, div#content:after
, ul.article-navigator:after
, ul.archives-navigator:after
, div.article-body:after
, div.article-body div.article-body-more:after
, div#trackback-form ul:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}

/** hasLayout */
div.blog-title-outer
, div.article-outer
, h2.archives-title
, div.article-body
, div.article-footer
, h2.article-title
, div.pager
, ul
, div.index-navigator-outer {
	height: 1%;
}

/** peek-a-boo bug */
div#trackback-form

, div#trackbacks-list
, div#comments-list
, div#comment-form {
	height: 1%;
}


/* =============================================== */
/** 03. Title - ブログタイトルエリア */
/* ----------------------------------------------- */

div.blog-title-outer {
	width: 820px;
	height: 135px;
	margin: 0 auto;
	background: url(http://parts.blog.livedoor.jp/img/usr/dw001_cool_black/banner_back_l.jpg) no-repeat left top #EEE;
}
div.blog-title-outer-2 {}
div.blog-title-outer-3 {}

h1#blog-title {
	margin: 0;
	padding: 35px 20px 0;
	font-size: 150%;
	font-weight: bold;
}

div.blog-description-outer {
}

p#blog-description {
	margin: 5px 0 0 0;
	padding: 0;
	line-height: 135%;
}

/* =============================================== */
/** 04. SubTitle - アーカイブタイトルエリア */
/* ----------------------------------------------- */

div.archives-title-outer {
	border-bottom: 1px dotted #BBBBBB;
	margin-bottom: 25px;
}
div.archives-title-outer-2 {
	padding-top: 15px;
}
div.archives-title-outer-3 {
}

h2.archives-title {
	margin: 0;
	padding: 0;
	padding-bottom: 5px;
	text-align: center;
}

/* =============================================== */
/** 05. Pager - ページャ */
/* ----------------------------------------------- */

div.pager {
	margin-bottom: 10px;
	text-align: left;
}

div.pager-inner {
	padding-bottom: 15px;
}

div.index-navigator-outer
, div.archives-pager-outer
, div.article-pager-outer {
}

/* ----------------------------------------------- */
/** IndexNavigator - トップページ */

ul.index-navigator {
	padding-top: 15px;
	font-size: 90%;
}

ul.index-navigator li a {
	padding: 0 7px;
}

/* ----------------------------------------------- */
/** ArchivesPager - アーカイブページ */

ul.archives-pager {
	padding-top: 15px;
	font-size: 90%;
}

ul.archives-pager li {
	padding: 2px 5px;
}

ul.archives-pager li a {
	padding: 0 5px;
}

ul.archives-pager li.both {
	border-left: 1px solid #575e69;
}

/* ----------------------------------------------- */
/** ArticlePager - 個別記事ページ */

ul.article-pager {
	padding-top: 15px;
	font-size: 90%;
}

ul.article-pager li {
	float: left;
	width: 49%;
	line-height: 1.25;
}

/* = special tech ... borderの高さを揃えるため */
ul.article-pager {
	overflow: hidden;
}

ul.article-pager li {
	padding-top: 1px;/* 1px余白（上部） */
	padding-bottom: 32768px;
	margin-bottom: -32767px;/* 1px余白（下部） */
}

ul.article-pager li a {
	display: block;
	margin: 0 10px;
}

ul.article-pager li.prev {
	text-align: right;
}

ul.article-pager li.next {
	text-align: left;
}

ul.article-pager li.both {
	border-left: 1px solid #8d8d8d;
}

/* =============================================== */
/** 06. Main - 記事エリア */
/* ----------------------------------------------- */

div.article-outer {
	text-align: left;
}

/* ----------------------------------------------- */
/** Message Board - インフォメーション */

div.message-board {
	padding: 10px;
	line-height: 1.4;
	text-align: left;
	font-size: 90%;
	border: 3px solid #ccc;
}


/* ----------------------------------------------- */
/** 記事ヘッダー */

div.article-header {
}

/*** 日付 */
div.article-date-outer {
	float: left;
	margin-left: 10px;
	font-weight: bold;
}

div.article-date-outer span.article-date {
	margin-right: 3px;
	margin-right: 0.25em;
	font-size: 200%;
}

div.article-date-outer span.article-time {}

/*** カテゴリ */
div.article-category-outer {
	margin-left: 12.5em;/* 日付の幅 */
	padding-left: 20px;
	padding-right: 20px;
}

div.article-category-outer dl.article-category {
	margin: 0;
	padding: 0;
	line-height: 1.25;
}

div.article-category-outer dl.article-category dt
, div.article-category-outer dl.article-category dd {
	display: inline;
	margin: 0;
	padding: 0;
	margin-right: 5px;
	font-size: 90%;
}

div.article-category-outer dl.article-category dt {
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	text-indent: -9999px;
}

/*** カテゴリアーカイブページではカテゴリを非表示にする */
body.category div.article-category-outer {
	display: none;
}

/** 記事タイトル */
div.article-title-outer {
	padding-right: 10px;
}

h2.article-title {
	clear: left;
	margin: 5px 10px 15px 5px;
	padding: 7px 5px 9px 37px;
	font-size: 125%;
	background: url(http://parts.blog.livedoor.jp/img/usr/dw001_cool_black/h2_back.gif) no-repeat left top;
	color: #88B500;
	line-height: 160%;
	letter-spacing: .05em;
}

/* ----------------------------------------------- */
/** 記事本文 */

div.article-body {
	background-color: transparent;
	padding: 0 10px 5px;
	line-height: 170%;
}

div.article-body-inner {
	overflow: hidden;
}

/** 続きを読む */
div.article-body span.article-continue {
	display: block;
	margin-top: 1em;
}

div.article-body div.article-body-more
, div.article-body div.article-body-private {
	clear: both;
	margin-top: 1em;
}

/*** blockquote & pre */
div.article-body blockquote
, div.article-body pre {
	background-color: #f5f5f5;
	padding: 5px 15px;
	margin: 5px 0;
	color: #595d68;
}

/*** img */
div.article-body img.pict {
	margin: 0 5px 5px 0;
}

/*** 共通テーマ */
body.default_2008 dl.common-theme {
	margin: 0 10px 25px;
}

/*** 記事タグ */
body.default_2008 dl.article-tags {
	margin: 25px 5px 0;
}

/*** プライベートモード */
div.private-mode-announcement {
	border-color: #858585;
	line-height: 135%;
	font-size: 90%;
}

/* ----------------------------------------------- */
/** 記事フッター */

div.article-footer {
	background-color: #ffffff;
	padding: 5px 5px 15px 10px;
	border-top: 1px dotted #CCC;
}

ul.article-post {
	margin: 0 0 20px;
	padding: 5px 0; 
	text-align: right;
}

ul.article-post li {
	min-height: 16px;
	font-size: 82%;
}

/* =============================================== */
/** 07. Option - トラックバック＆コメントエリア */
/* ----------------------------------------------- */

div#article-options {
	background-color: #ffffff;
	padding: 10px 20px;
}

div.article-option {
	padding: 0;
}

div.article-option h3 {
	margin: 20px 0 5px 0;
	padding: 10px 5px 10px 40px;
	font-size: 120%;
	font-weight: bold;
	background: url(http://parts.blog.livedoor.jp/img/usr/dw001_cool_black/h_title_back.gif) no-repeat left top;
}

/*** 指定しやすいようstyleReset */
	h4.ping-title
	, ul.ping-info
	, ul.ping-info li
	, ul.comment-info
	, ul.comment-info li {
		padding: 0;
		margin: 0;
	}

	ul.ping-info li
	, ul.comment-info li {
		list-style-type: none;
	}

/* ----------------------------------------------- */
/** トラックバックURL */

div#trackback-form ul {
	margin: 0 30px;
	padding: 0;
}

div#trackback-form ul li {
	list-style-type: none;
	float: left;
	margin: 0;
	padding: 0;
}

div#trackback-form ul li.trackback-form-url {
	width: 100%;
	margin-right: -90px;
}

div#trackback-form ul li.trackback-form-url span input {
	width: 100%;
}

div#trackback-form ul li.trackback-form-url span {
	display: block;
	padding-right: 100px;
	/* >> trackbackURL とsubmitボタンとの余白 100px-90px=10px となる */
}

div#trackback-form ul li.trackback-form-submit {
	width: 80px;
}

div#trackback-form ul li.trackback-form-submit input {}

/* ----------------------------------------------- */
/** トラックバック一覧 */

li.trackback-set {
	padding: 0 0 10px 20px;
	font-size: 90%;
}

h4.ping-title {
	display: inline;
	padding: 0;
	font-weight: normal;
}

ul.ping-info {
	display: inline;
}

ul.ping-info li.ping-blog-name {
	display: inline;
	margin-left: 20px;
}

ul.ping-info li.ping-blog-name span {
	margin: 0 10px;
}

ul.ping-info li.ping-date {
	display: inline;
	margin-left: 10px;
}

ul.ping-info li.ping-excerpt {
	display: block;
	margin-top: 5px;
	margin-left: 10px;
}

ul.ping-info li.ping-excerpt img.trackback-rating {}

/* ----------------------------------------------- */
/** コメント一覧 */

li.comment-set {
	padding: 0 0 10px 20px;
	font-size: 90%;
}

ul.comment-info li.comment-author {
	display: inline;
}

ul.comment-info li.comment-date {
	display: inline;
	margin-left: 10px;
}

ul.comment-info li {
	display: inline;
}

ul.comment-info li.comment-body {
	display: block;
	margin-top: 5px;
	margin-left: 10px;
}

ul.comment-info li.comment-body img.trackback-rating {}

/* ----------------------------------------------- */
/** コメントフォーム */

div#comment-form-body {
	padding: 15px 0 15px 10px;
}

div#comment-form-body table {
	border: 0;
	width: 80%;
	line-height: 250%;
}

div#comment-form-body table th {
	width: 3em;
	padding-right: 5px;
	margin
	text-align: right;
	font-weight: normal;
}

input#author {
	width: 65%;
}

input#email {
	width: 65%;
}

input#url {
	width: 85%;
}

input#bake {
	margin: 0 0 0 5px;
}

textarea#text {
	width: 90%;
	height: 250px;
}

input.button {
	margin-top: 10px;
	width: 80px;
}

div#comment-form-body table tr.input-etc td {
	padding-top: 6px;
}

label.input-rating {
	margin-left: 20px;
}

label.input-rating select {
	margin-left: 3px;
}

label.input-rating-face {
	margin-left: 5px;
}

label.input-rating-star {}

div#comment-form-body table tr.submit td {
	text-align: center;
}

/*** コメント認証 */
div.comment-auth-announcement {
	margin: 10px 0;
	border-color: #858585;
	font-size: 90%;
}

div.comment-auth-announcement p a {
	margin: 0 3px;
}

/* ----------------------------------------------- */
/** 関連記事 */

div.related-articles{
	padding: 15px 0 0;
}
div.related-articles h3{
	margin: 10px 0 5px 0;
	padding: 10px 5px 10px 40px;
	font-size: 120%;
	font-weight: bold;
	background: url(http://parts.blog.livedoor.jp/img/usr/dw001_cool_black/h_title_back.gif) no-repeat left top;
}
div.related-articles ul{
	list-style: none;
	margin: 0;
	padding: 0;
	line-height: 1.2;
}
div.related-articles ul li{
	background: url(http://parts.blog.livedoor.jp/img/usr/livedoor/web_directors/side_body.gif) no-repeat 0 8px;
	padding: 0 0 5px 9px;
	margin-left: 5px;
}


/* =============================================== */
/** 08. Sub & Extra - プラグインエリア */
/* ----------------------------------------------- */

div.sidetitlebody {}

div.sidetitle {
	margin: 10px 0 5px 0;
	padding: 6px 5px 6px 30px;
	font-weight: bold;
	text-align: left;
	background: url(http://parts.blog.livedoor.jp/img/usr/dw001_cool_black/title_back.gif) no-repeat left top;
}

div.sidetop
, div.sidebottom {
	display: none;
}

div.side {
	margin: 0 5px 15px 5px;
	text-align: left;
}

div.sidebody {
	margin: 0 0 5px 0;
	padding: 0;
	text-align: left;
}

/* ----------------------------------------------- */
/** Calendar */

div.calendarheadbody {}
div.calendarheadbody div.calendarhead {
	padding: 0 20px 10px;
	text-align: center;
	color: #666;
	font-weight: bold;
}

div#sub div.calendarheadbody div.calendarhead a
, div#extra div.calendarheadbody div.calendarhead a {
	color: #666;
}

div.caltop
, div.calbottom {
	display: none;
}

div.calbody {}

table.caltbl {
	width: 180px;
	margin: 0 auto;
	border: 0;
}
div.calbody table.calendartable {}
td.caltblwkbg {}
td.calendarwd {}
td table.caltblwk td {
	_font-size: 90%;
	font-weight: bold;
	height: 20px;
}

td table.caltblwk td.weekday {}
td table.caltblwk td.sat {
	color: #0066FF;
}

td table.caltblwk td.sun {
	color: #CC0000;
}
td table.caltblwk td span.calendarweek {}
td.caltbldaybg {}
td table.caltblday {
	margin: 0 auto 25px;
	width: 180px;
	color: #8d8d8d;
	_font-size: 82%;
}
td table.caltblday td {
	width: 20px;
	height: 24px;
	padding: 0;
	text-align: center;
}
td table.caltblday td.caloff {}
td table.caltblday td.calendard {}
td table.caltblday td.calon {}
td table.caltblday td.calon a {}
td table.caltblday td.calendardbg {}
td table.caltblday td span.calendar {}

/* ----------------------------------------------- */
/** Plugins */

.nickname {
	font-weight: bold;
	margin: 10px 0;
}

.message {
	text-align: left;
	line-height: 125%;
}

/* ----------------------------------------------- */
/** LDServices */

ul#ld-services {
	padding-top: 20px;
}

/* =============================================== */
/** 09. Header & Footer - ヘッダー・フッター */
/* ----------------------------------------------- */
/** Header */

table#header {
	font-size: 100%;
}

/* ----------------------------------------------- */
/** Footer */

div.footer-outer {
	width: 820px;
	margin: 0 auto;
}

div.footer-outer-2 {}

div#footer {
	width: 820px;
	height: 50px;
	clear: both;
	margin: 0 auto;
	padding: 0;
	background: url(http://parts.blog.livedoor.jp/img/usr/dw001_cool_black/footer_back_l.jpg) no-repeat center top #EEE;

}

div#footer p {
	padding-top: 30px;
}

p.template-by {
	margin: 0 0 20px;
}


/* =============================================== */
/** 10. Others - ADエリア etc. */
/* ----------------------------------------------- */
/** ADエリア */

div#ad {
	overflow: hidden;
	text-align: center;
	margin-bottom: 20px;
}

div#ad iframe {
	margin: 10px auto;
}

div.gAdsense {
	padding: 10px 0;
}

body.ad {
	background: transparent;
	text-align: left;
}

a.adtitle {
	color: #0000ff!important;
	font-weight: bold;
}

a.adtitle span {
	font-size: 90%!important;
}

a.addescription {
	color: #000000!important;
}

a.addescription span {
	font-size: 82%!important;
}

a.adurl {
	color: #1b8d1c!important;
	text-decoration: none;
}

a.adurl span {
	font-size: 82%!important;
}

a.adld {
	color: #666666!important;
	text-decoration: underline;
	font-size: 110%;
}

/* =============================================== */
/** エラー */
/* ----------------------------------------------- */

#error {
	margin: 10px auto;
	padding: 5px 10px;
	background: #FFD7D7;
}
