@font-face {
  font-family: 'Share';
  font-style: normal;
  font-weight: 400;
  src: local('Share'), local('Share-Regular'), url(https://fonts.gstatic.com/s/share/v6/oakJiqgNyXGIQSR0uuZQBw.ttf) format('truetype');
}
@font-face {
  font-family: 'Share';
  font-style: normal;
  font-weight: 700;
  src: local('Share Bold'), local('Share-Bold'), url(https://fonts.gstatic.com/s/share/v6/sIB6Zipah1bAnMw6oQYPEPesZW2xOQ-xsNqO47m55DA.ttf) format('truetype');
}
