/* media/css/global.css */
/*
  PostgreSQL.org - Global Styles
*/

body {
  margin: 0;
  padding: 0;
  font-family: verdana, sans-serif;
  font-size: 69%;
  color: #000;
  background-color: #fff;
}

h1 {
  font-size: 1.4em;
  font-weight: bold;
  margin-top: 0em;
  margin-bottom: 0em;
}

h2 {
  font-size: 1.2em;
  margin: 1.2em 0em 1.2em 0em;
  font-weight: bold;
}

h3 {
  font-size: 1.0em;
  margin: 1.2em 0em 1.2em 0em;
  font-weight: bold;
}

h4 {
  font-size: 0.95em;
  margin: 1.2em 0em 1.2em 0em;
  font-weight: normal;
}

h5 {
  font-size: 0.9em;
  margin: 1.2em 0em 1.2em 0em;
  font-weight: normal;
}

h6 {
  font-size: 0.85em;
  margin: 1.2em 0em 1.2em 0em;
  font-weight: normal;
}

img {
  border: 0;
}

ol, ul, li {/*
  list-style: none;*/
  font-size: 1.0em;
  line-height: 1.2em;
  margin-top: 0.2em;
  margin-bottom: 0.1em;
}

p {
  font-size: 1.0em;
  line-height: 1.2em;
  margin: 1.2em 0em;
}

td p {
  margin: 0em 0em 1.2em;
}

li > p {
  margin-top: 0.2em;
}

pre {
  font-family: monospace;
  font-size: 1.0em;
}

div#pgContentWrap code {
  font-size: 1.2em;
  padding: 1em;
  margin: 2ex 0 2ex 2ex;
  background: #F7F7F7;
  border: 1px solid #CFCFCF;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  display: block;
  overflow: auto;
}

strong, b {
  font-weight: bold;
}

/* media/css/layout.css */
/*
  PostgreSQL.org - Layout Styles
*/

/* Container Definitions */

/* Page Container */

#pgContainerWrap {
  text-align: center; /* Win IE5 */
}

#pgContainer {
  margin: 0em auto;
  width: 765px;
  padding: 0;
  padding-top: 4px;
  padding-bottom: 10px;
  text-align: left; /* Win IE5 */
}


/* Header Container */
#pgHeaderContainer {
  padding-bottom: 2px;
}

#pgHeader {
  position: relative;
  background: url("/media/img/layout/hdr_fill.png") repeat-x;
  height: 80px;
  margin: 0;
  padding: 0;
  clear: both;
}

#pgHeaderLogoLeft {
  position: relative;
  width: 230px;
  height: 80px;
  border: 0px;
  padding: 0px;
  margin: 0px;
  float: left;
}

#pgHeaderLogoLeft img {
  border: 0px;
}

#pgHeaderLogoRight {
  position: relative;
  width: 210px;
  height: 80px;
  border: 0px;
  padding: 0px;
  margin: 0px;
  float: right;
}

#pgHeaderLogoRight img {
  border: 0px;
}

#pgSearch {
  position: relative;
  text-align: right;
  padding: 0;
  margin: 0;
  color: #666;
}

#pgSearch form {
  position: relative;
  top: 5px;
  right: 0;
  margin: 0; /* need for IE Mac */
  text-align: right; /* need for IE Mac */
  white-space: nowrap; /* for Opera */
}

#pgSearch form label {
  color: #666;
  font-size: 0.8em;
}

#pgSearch form input {
  font-size: 0.8em;
}

#pgSearch form #submit,
#pgSearch form #q {
  font-size: 0.8em;
  background: #FFFFFF;
  color: #000000;
  border: 1px solid #7A7A7A;
}

#pgSearch form #submit {

  padding: 1px 4px;
}

#pgSearch form #q {
  width: 140px;
  padding: 2px;
}

/* Content Container */
#pgContent {
  clear: both;
  display: block;
}

#pgFrontContainer {
  width: 100%;
  float: left;
  margin-right: -220px;
}

#pgFrontMain {
  margin-right: 220px;
  margin-top: 10px;
}

#pgFrontFeature {
  position: relative;
  /* background: #F5F5F5 url(/media/img/feature/feature_elephant.png) right bottom no-repeat; */
  background: #F5F5F5 url(/media/img/feature/feature_gears.png) right bottom no-repeat;
  /* Also see pgFrontFeatureContent for image size */
  padding: 15px;
  margin-bottom: 1em;
  font-size: 1.0em;
}

#pgFrontFeature:before {
  line-height: 0.1;
  font-size: 1px;
  background: transparent url("/media/img/layout/feature_tr.gif") no-repeat top right;
  margin: -15px -15px 0 -15px;
  height: 15px;
  display: block;
  border: none;
  content: url("/media/img/layout/feature_tl.gif");
}

#pgFrontFeature:after {
  display: block;
  clear: both;
  padding-top: 15px;
  line-height: 0.1;
  font-size: 1px;
  content:  url("/media/img/layout/feature_bl.gif");
  margin: -15px;
  height: 8px;
  background: transparent url("/media/img/layout/feature_br.gif") scroll no-repeat bottom right ;
}

#pgFrontFeature h2{
  border: none;
  margin-top: 0;
}

#pgFrontFeature p {
  margin: 0 0 1em 0;
}

#pgFrontFeature #pgFrontFeatureContent {
    /* This padding controls the size of the text in the front blurb, and needs to be
     * adjusted whenever the image is changed. */
  padding: 6px 132px 16px 10px;
}

#pgFrontRightContainer {
  float: right;
  width: 200px;
/*  border-left: 1px solid #E1E1E1;*/
  margin: 0;
  padding: 0;

  padding-left: 10px;
}

#pgFrontBottomContainer {
  clear: both;
  width: 100%;
  padding-top: 0.7em;
  margin-bottom: 15px;
}

#pgFrontNews {
  float:left;
  width: 230px;
  margin-right: 10px;
}

#pgFrontEvents {
  width: 240px;
  border-left: 1px solid #E1E1E1;
  margin: 0;
  padding: 0;
  padding-left: 10px;
  margin-left: 250px;
  margin-right: 250px;
}

.pgNewsEventsWrap {
  padding-left: 5px;
}

.pgRSSBottomList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline;
}

.pgRSSBottomList img.pgRSSImage {
  display: inline;
  border: 0;
  vertical-align: bottom;
}

.pgRSSBottomList li {
  padding: 0 0.5em 0 0.5em;
  display: inline;
  border-right: 1px solid #E1E1E1;
}

.pgRSSBottomList li a {
}

/* Uncomment when IE/Validator supports last-child

.pgRSSBottomList li:last-child {
  border-right: 0;
  padding-right: 0;
}

*/

.pgRSSBottomList li.last-child {
  border-right: 0;
  padding-right: 0;
}

/* Used in pgRSSBottomList */
img.pgArrowImage {
  padding: 0;
  margin: 0;
  display: inline;
  border: 0;
}

#pgFrontUSSContainer {
}

/* Featured User Box */

#pgFrontUser {
  width: 545px;
  padding-top: 7px;
  float: left;
  background: url(/media/img/layout/usr_tbl_top.png) top right no-repeat;
  margin-bottom: 15px;
}

#pgFrontUserInner {
  background: url(/media/img/layout/usr_tbl_btm.png) bottom left no-repeat;
  width: 100%;
  padding-bottom: 7px;
}

#pgFrontUserWrap {
  padding: 11px 14px 12px 15px;
  border-left: 1px solid #DADADA;
  border-right: 1px solid #DADADA;
}

#pgFrontUserContent {
  margin-left: 4px;
}

#pgFrontSupportUs {
}

#pgFrontSupportUs h2 {
   margin-bottom: 0.7em;
}

#pgFrontSupportUsWrap {
  margin-left: 8px;
  color: #666;
}

#pgFrontShortcuts h2 {
   margin-bottom: 0.7em;
}

#pgFrontShortcutsWrap {
  font-size: 0.9em;
  margin-left: 12px;
  margin-top: 10px;
  color: #666;
}

#pgFrontShortcutsWrap img {
  padding-right: 7px;
}

#pgFrontShortcutsList {
  margin: 0;
  padding: 0;
  list-style: none;
}

#pgFrontShortcutsList li {
  margin: 0;
  padding-left: 12px;
  background-image: url(/media/img/layout/blt_blu_arrow.png);
  background-repeat: no-repeat;
  background-position: 0px 0.5em;
}

#pgFrontPlanet {
  float: right;
  width: 230px;
  border-left: 1px solid #E1E1E1;
  margin: 0;
  padding: 0;
  padding-left: 10px;
}

#pgFrontPlanetWrap {
  margin-left: 8px;
  font-size: 0.9em;
}

#pgFrontPlanetList {
  margin: 0;
  padding: 0;
}

#pgFrontLatestReleases h2 {
   margin-bottom: 0.7em;
}

#pgFrontLatestReleasesWrap {
  font-size: 0.9em;
  margin-left: 12px;
  margin-top: 10px;
  color: #666;
}

#pgFrontLatestReleasesNote {
  font-size: 0.9em;
  margin-left: 12px;
  margin-top: 10px;
  color: #666;
  vertical-align: bottom;
}

#pgFrontLatestReleasesNote IMG {
    vertical-align: bottom;
}

#pgFrontTrainingSummary {
  font-size: 1.1em;
  color: #666;
}

/* Secondary Pages */

#pgSideWrap {
  float: left;
  width: 166px;
  margin-top: 10px;
  margin-right: -165px;
}

#pgContentWrap {
  margin-left: 165px;
  padding-top: 10px;
}

#pgContentWrap dd.quote_source {
  font-weight: bold;
  margin-bottom: 18px;
}

#pgAdminWrap {
  padding-top: 10px;
  padding-bottom: 10px;
}

#pgCommunityWrap {
  margin-right: -420px;
  float: left;
  width: 100%;
}

#pgCommunity {
  margin-right: 210px;
}

#pgSurveyWrap {
  float: right;
  width: 200px;
  margin-left: 210px;
  padding: 0;
  border: 0;
  top: 0px;

  padding-left: 10px;
}

#pgSurvey dl {
  width: 200px;
  margin: 0;
  padding: 0;
  background: #F5F5F5 url(/media/img/layout/box_bottom.gif) no-repeat bottom left;
  padding-bottom: 10px;
}

#pgSurvey dt {
  margin: 0 0 10px 0;
  padding: 10px;
  font-weight: bold;
  color: #666;
  border-bottom: 1px solid #EFEFEF;
  background: #F5F5F5 url(/media/img/layout/box_top.gif) no-repeat top left;
}

#pgSurvey dd {
  margin: 0 0 0 10px;
  padding: 0 10px 0 0;
  color: #666;
  font-size: 0.9em;
}

#pgSurvey form #surveySubmit {
  font-size: 0.9em;
  background: #F5F5F5;
  color: #000000;
  border: 1px solid #7A7A7A;
  padding: 1px 4px;
}

#pgPlanetWrap {
  float: right;
  width: 200px;
  margin-left: 210px;
  padding: 0;
  border: 0;
  margin-top: 10px;

  padding-left: 5px;
}

#pgPlanet dl {
  width: 200px;
  margin: 0;
  padding: 0;
  background: #F5F5F5 url(/media/img/layout/box_bottom.gif) no-repeat bottom left;
  padding-bottom: 10px;
}

#pgPlanet dt {
  margin: 0 0 10px 0;
  padding: 10px;
  font-weight: bold;
  color: #666;
  border-bottom: 1px solid #EFEFEF;
  background: #F5F5F5 url(/media/img/layout/box_top.gif) no-repeat top left;
}

#pgPlanet dd {
  margin: 0 0 0 10px;
  padding: 0 10px 0 0;
  color: #666;
  font-size: 0.9em;
}

#pgPlanet dd ul {
   margin-left: 0px;
   padding-left: 10px;
   margin-bottom: 10px;
}

#pgDocsWrap {
  margin-right: -420px;
  float: left;
  width: 100%;
}

#pgDocs {
  margin-right: 210px;
}

#pgQuickDocsWrap {
  float: right;
  width: 200px;
  margin-left: 210px;
  padding: 0;
  border: 0;
  top: 0px;

  padding-left: 10px;
}

#pgQuickDocs dl {
  width: 200px;
  margin: 0;
  padding: 0;
  background: #F5F5F5 url(/media/img/layout/box_bottom.gif) no-repeat bottom left;
  padding-bottom: 10px;
}

#pgQuickDocs dt {
  margin: 0 0 10px 0;
  padding: 10px;
  font-weight: bold;
  color: #666;
  border-bottom: 1px solid #EFEFEF;
  background: #F5F5F5 url(/media/img/layout/box_top.gif) no-repeat top left;
}

#pgQuickDocs dd {
  margin: 0 0 0 10px;
  padding: 0 10px 0 0;
  color: #666;
  font-size: 0.9em;
}

#pgCommunityDocsFooter table tr td ul {
  padding-left: 0px;
  list-style: none;
}

#pgCommunityDocsHeader table tr.firstrow td {
  border-bottom: none;
}

#pgCommunityDocsHeader table tr.lastrow {
  height: 1px;
}

#pgCommunityDocsBreadcrumbs {
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
}

#pgCommunityDocsPageContent {
  margin-top: 5px;
  margin-bottom: 20px;
}

.pgCommunityDocsCurrentMenu {
  font-weight: bold;
}

#pgDownloadsWrap {
  margin-right: -420px;
  float: left;
  width: 100%;
}

#pgDownloads {
  margin-right: 210px;
}

#pgQuickDownloadsWrap {
  float: right;
  width: 200px;
  margin-left: 210px;
  padding: 0;
  border: 0;
  top: 0px;

  padding-left: 10px;
}

#pgQuickDownloads dl {
  width: 200px;
  margin: 0;
  padding: 0;
  background: #F5F5F5 url(/media/img/layout/box_bottom.gif) no-repeat bottom left;
  padding-bottom: 10px;
}

#pgQuickDownloads dt {
  margin: 0 0 10px 0;
  padding: 10px;
  font-weight: bold;
  color: #666;
  border-bottom: 1px solid #EFEFEF;
  background: #F5F5F5 url(/media/img/layout/box_top.gif) no-repeat top left;
}

#pgQuickDownloads dd {
  margin: 0 0 0 10px;
  padding: 0 10px 0 0;
  color: #666;
  font-size: 0.9em;
}

#pgFtpContent table tr td {
  vertical-align: bottom;
}

#pgProfPage div.tblBasic table td {
  color: black;
  padding: 3px 5px;
}

#pgPressContacts dt {
  font-weight: bold;
}

#pgPressContacts dd {
  margin-bottom: 10px;
}

#pgArchiveWrap {
  margin-top: 13px;
}

/* Footer Container */
#pgFooter {
  font-size: 0.9em;
  color: #666;
  line-height: 1.3em;
  padding-top: 5px;
  clear: both;
}

/* Generic forms class */
TABLE.pgGenericFormTable TR {
   vertical-align: top;
}

TABLE.pgGenericFormTable TR TD INPUT,
TABLE.pgGenericFormTable TR TD SELECT,
TABLE.pgGenericFormTable TR TD TEXTAREA,
TABLE.pgGenericFormTable TR TD DIV.markdownpreview {
  width: 100%;
}

TABLE.pgGenericFormTable TR.error {
  background-color: red;
  color: white;
}

TABLE.pgGenericFormTable TR.errorinfo {
  background-color: #FFFFCC;
}

TABLE.pgGenericFormTable TR.errorheader TD {
  background-color: #FFFFCC;
  border: 1px solid red;
  padding: 2px;
}

TABLE.pgGenericFormTable TR TH SPAN.formfieldhelp {
  font-weight: normal;
  font-style: italic;
}

/* Misc Classes */

.pgClearBoth {
  clear: both;
  margin: 0;
  padding: 0;
}

.pgBlockHide {
  display: none;
  height: 0;
  width: 0;
  overflow: hidden;
  position: absolute;  /* IE5 Mac */
}

img {
  border: 0;
}

/* media/css/text.css */
/*
  PostgreSQL.org - Text Styles
*/

/* Heading Definitions */

h1 {
  color: #EC5800;
}

h2 {
  color: #666;
}

h3 {
  color: #666;
}

h4 {
  color: #666;
}

/* Text Styles */

.txtColumn1 {
  width: 50%;
  line-height: 1.3em;
}

.txtColumn2 {
  width: 50%;
  line-height: 1.5em;
}

.txtCurrentLocation {
  font-weight: bold;
}

.txtDivider {
  font-size: 0.8em;
  color: #E1E1E1;
  padding-left: 4px;
  padding-right: 4px;
}

.txtNewsEvent {
  font-size: 0.9em;
  color: #0094C7;
}

.txtDate {
  font-size: 0.9em;
  color: #666;
}

.txtMediumGrey {
  color: #666;
}

.txtFormLabel {
  color: #666;
  font-weight: bold;
  text-align: right;
  vertical-align: top;
}

.txtRequiredField {
  color: #EC5800;
}

.txtImportant {
  color: #EC5800;
}

.txtOffScreen {
  position: absolute;
  left: -1999px;
  width: 1990px;
}

#txtFrontFeatureHeading {
  padding-bottom: 1.1em;
}

#txtFrontFeatureLink a {
  font-size: 1.2em;
  font-weight: bold;
  padding-left: 5px;
}

#txtFrontUserText {
  font-size: 1.0em;
  color: #666;
  margin-top: 12px;
}

#txtFrontUserName {
  font-size: 0.9em;
  color: #666;
  margin-top: 9px;
  font-weight: bold;
}

#txtFrontUserLink {
  font-size: 0.9em;
  color: #666;
  margin-top: 11px;
  margin-left: 1px;
}

#txtFrontUserLink img {
  padding-right: 5px;
}

#txtFrontSupportUsText {
  font-size: 1.0em;
  margin-top: 9px;
}

#txtFrontSupportUsLink {
  font-size: 0.9em;
  margin-top: 6px;
}

#txtFrontSupportUsLink img {
  padding-right: 7px;
}

/* Link Styles */

a:link                          { color:#0085B0; text-decoration: underline; }
a:visited                       { color:#004E66; text-decoration: underline; }
a:active                        { color:#0085B0; text-decoration: underline; }
a:hover                         { color:#000000; text-decoration: underline; }

#pgFooter a:link                { color:#666; text-decoration: underline; }
#pgFooter a:visited             { color:#666; text-decoration: underline; }
#pgFooter a:active              { color:#666; text-decoration: underline; }
#pgFooter a:hover               { color:#000000; text-decoration: underline; }

#txtFrontUserName a:link                { color:#666; text-decoration: underline; }
#txtFrontUserName a:visited             { color:#666; text-decoration: underline; }
#txtFrontUserName a:active              { color:#666; text-decoration: underline; }
#txtFrontUserName a:hover               { color:#000; text-decoration: underline; }

#txtArchives a:visited	{ color:#00536E; text-decoration: underline; }
#txtArchives pre        { word-wrap: break-word; font-size: 150%; }
#txtArchives tt         { word-wrap: break-word; font-size: 150%; }

#pgFrontUSSContainer h2, #pgFrontUSSContainer h3 {
  margin: 0;
  padding: 0;
}

#pgFrontNewsEventsContainer h2, #pgFrontNewsEventsContainer h3 {
  margin: 0;
  padding: 0;
}

#pgFrontNewsEventsContainer h3 img {
  margin-bottom: 10px;
}

/* media/css/navigation.css */
/*
  PostgreSQL.org - Navigation (and List) Styles
*/

/* Site Navigation */

#pgTopNav {
  text-align: left;
  color: #666;
  font-size: 0.9em;
  margin: 0;
  padding: 0;
  height: 23px;
  background: #B7B7B7 url("/media/img/layout/nav_fill.png") top left repeat-x;
  overflow: visible;
  margin-top: 2px;
}

#pgTopNavLeft {
  width: 7px;
  height: 23px;
  border: 0px;
  padding-right: 10px;
  margin: 0px;
  float: left;
}

#pgTopNavLeft img {
  border: 0px;
  margin: 0;
  padding: 0;
}

#pgTopNavRight {
  width: 7px;
  height: 23px;
  border: 0px;
  padding: 0px;
  margin: 0px;
  float: right;
}

#pgTopNavRight img {
  border: 0px;
  margin: 0;
  padding: 0;
}

#pgTopNavList {
  list-style: none;
  margin: 0;
  padding: 0;

  height: 23px;
  padding-top: 5px;
}

#pgTopNavList li {
  padding: 0 1em 0 1.2em;
  display: inline;
  border-left: 1px solid #C8C8C8;
}

#pgTopNavList li a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

#pgTopNavList li:first-child {
  border-left: 0;
  padding-left: 0;
}

#pgLoginLink {
  margin: 0;
  padding: 0;
}
#pgLoginlink a {
  float: right;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  padding: 5px 1em 0 1.2em;
  margin: 0;
  height: 23px;
}

/* The search navigation is the list of links next to the search box. */

#pgSearchNav {
  position: relative;
  float: right;
  text-align: right;
  color: #666;
  font-size: 0.9em;
  margin: 0px 0px 0px 0px;
  top: -11px;
  right: 209px;
  padding: 0;
}

#pgSearchNavList {
  list-style: none;
  margin: 0;
  padding: 0;
}

#pgSearchNavList li {
  padding: 0 0.5em 0 0.5em;
  display: inline;
  border-right: 1px solid #C8C8C8;
}

#pgSearchNavList li a {
  color: #666;
  text-decoration: none;
}

#pgSearchNavList li a:hover {
  color: #000;
}

/* Category Navigation */

#pgSideNav:before {
  line-height: 0.1;
  font-size: 1px;
  margin: 0;
  display: block;
}

#pgSideNav:after {
  line-height: 0.1;
  font-size: 1px;
  margin: 0;
  display: block;
}

#pgSideNav, #pgSideNav ul, #pgSideNav ul ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1.0em;
}

#pgSideNav {
  width: 150px;
  background-color: #F5F5F5;
  background-image: url(/media/img/layout/nav_tbl_top.png);
  background-position: top right;
  background-repeat: no-repeat;
}

#pgSideNav ul {
  background-image: url(/media/img/layout/nav_tbl_btm.png);
  background-position: bottom left;
  background-repeat: no-repeat;
  padding: 10px 0 10px 0;
}

#pgSideNav ul ul {
  background: none;
  background-color: #F5F5F5;
  margin: 0;
  padding: 0;
  list-style: none;
}

#pgSideNav ul ul li {
  background: none;
  border: none;
}

#pgSideNav ul li {
  border-bottom: 1px solid #EFEFEF;
  margin: 0;
  padding-left: 12px;
  background-image: url(/media/img/layout/blt_gry_arrow.png);
  background-repeat: no-repeat;
  background-position: 12px 0.65em;
}

/* Uncomment when IE/Validator supports last-child

#pgSideNav ul li:last-child {
  border-bottom: 1px solid #F5F5F5;
}

*/

#pgSideNav ul li.last-child {
  border-bottom: 1px solid #F5F5F5;
}

#pgSideNav ul li.active {
  font-weight: bold;
}

#pgSideNav ul li.active span {
  display: none;
}

#pgSideNav ul li a {
  display: block;
  color: #666;
  text-decoration: none;
  padding: 3px 5px 3px 15px;
  margin: 0;
}

#pgSideNav ul ul li a.active {
  font-weight: bold;
}

/* Uncomment when IE/Validator supports last-child

#pgSideNav ul ul li:last-child {
  border-bottom: none;
}

*/

#pgSideNav ul ul li.last-child {
  border-bottom: none;
}

#pgSideNav ul ul li a {
  display: block;
  /* padding: 3px 5px 3px 12px; */
  padding-left: 12px;
  margin: 0;
}

#pgSideNav ul li a:hover {
  color: #333;
}

/* media/css/table.css */
/*
  PostgreSQL.org - Table Styles
*/

div.tblBasic h2 {
        margin: 25px 0 .5em 0;
}

div.tblBasic table {
        background: #F5F5F5 url(/media/img/layout/nav_tbl_top_lft.png) top left no-repeat;
	margin-left: 2ex;
        margin-bottom: 15px;
}

div.tblBasic table th {
        padding-top: 20px;
        border-bottom: 1px solid #EFEFEF;
        vertical-align: bottom;
}

div.tblBasic table td {
        border-bottom: 1px solid #EFEFEF;
}

div.tblBasic table th,
div.tblBasic table td {
        padding: 8px 11px;
        color: #555555;
}

div.tblBasic table td.indented {
        text-indent: 30px;
}

div.tblBasic table.tblCompact td {
        padding: 3px 3px;
}

div.tblBasic table tr.lastrow td {
        border-bottom: none;
        padding-bottom: 13px;
}

div.tblBasic table.tblCompact tr.lastrow td {
        padding-bottom: 3px;
}

div.tblBasic table tr.lastrow td.colFirstT,
div.tblBasic table tr.lastrow td.colFirst {
        background: url(/media/img/layout/nav_tbl_btm_lft.png) bottom left no-repeat;
}

div.tblBasic table.tblBasicGrey th.colLast,
div.tblBasic table.tblCompact th.colLast {
        background: #F5F5F5 url(/media/img/layout/nav_tbl_top_rgt.png) top right no-repeat;
}

div.tblBasic table.tblBasicGrey tr.lastrow td.colLastT,
div.tblBasic table.tblBasicGrey tr.lastrow td.colLast,
div.tblBasic table.tblCompact tr.lastrow td.colLast,
div.tblBasic table.tblCompact tr.lastrow td.colLastT{
        background: #F5F5F5 url(/media/img/layout/nav_tbl_btm_rgt.png) bottom right no-repeat;
}

div.tblBasic table.tblBasicGrey tr.firstrow td.colLastT,
div.tblBasic table.tblBasicGrey tr.firstrow td.colLast,
div tblBasic table.tblCompact tr.firstrow td.colLast {
        background: #F5F5F5 url(/media/img/layout/nav_tbl_top_rgt.png) top right no-repeat;
}

div.tblBasic table th.colMid,
div.tblBasic table td.colMid,
div.tblBasic table th.colLast,
div.tblBasic table td.colLast {
        background-color: #F5F5F5 ;
}

div.tblBasic table th.colLastC,
div.tblBasic table td.colFirstC,
div.tblBasic table td.colLastC {
        text-align: center;
}

div.tblBasic table th.colLastR,
div.tblBasic table td.colFirstR,
div.tblBasic table td.colLastR {
        text-align: right;
}

div.tblBasic table td.colFirstT,
div.tblBasic table td.colMidT,
div.tblBasic table td.colLastT {
        vertical-align: top;
}

div.tblBasic table th.colLastRT,
div.tblBasic table td.colFirstRT,
div.tblBasic table td.colLastRT {
        text-align: right;
        vertical-align: top;
}

/* media/css/iefixes.css */
/*
  PostgreSQL.org - Fixes for Internet Explorer
*/

/*Win IE fix \*/
* html #pgHeaderContainer { height: 1%; }

/*End Win IE fix*/

/*Win IE fix \*/
* html #pgHeader { height: 1%; }

/*End Win IE fix*/

/*Win IE fix \*/
* html #pgTopNav { height: 1%; margin-top: 0px; }

/*End Win IE fix*/

/*Win IE fix \*/
* html #pgTopNavLeft { height: 1%; }

/*End Win IE fix*/

/*Win IE fix \*/
* html #pgTopNavRight { height: 1%; }

/*End Win IE fix*/

/*Win IE fix \*/
* html #pgTopNavList { height: 1%; margin-bottom: -2px; }
* html #pgTopNavList li { margin: 0 0.5em 0 -0.5em; }

/*End Win IE fix*/


/*Win IE fix \*/
* html #pgSearchNavList { height: 1%; margin-right: 0.5em; }
* html #pgSearchNavList li { margin: 0 0 0 0.5em; }

/*End Win IE fix*/

/*Win IE fix \*/
* html #pgContent { height: 1%; }

/*End Win IE fix*/

/*Win IE fix \*/
* html #pgFrontContainer { height: 1%; }

/*End Win IE fix*/

/*Win IE fix \*/
* html #pgFrontMain { height: 1%; }

/*End Win IE fix*/

/*Win IE fix \*/
* html #pgFrontFeature { height: 1%; }

/*End Win IE fix*/

/*Win IE fix \*/
* html #pgFrontFeatureLink { height: 1%; }

/*End Win IE fix*/

/*Win IE fix \*/
* html #pgFrontNewsEventsContainer { height: 1%; }

/*End Win IE fix*/

/*Win IE fix \*/
* html #pgFrontNews { height: 1%; }

/*End Win IE fix*/

/*Win IE fix \*/
* html #pgFrontEvents { height: 1%; }

/*End Win IE fix*/

/*Win IE fix \*/
* html .pgNewsEventsList { height: 1%; }

/*End Win IE fix*/

/*Win IE fix \*/
* html #pgFrontUSSContainer { height: 1%; }

/*End Win IE fix*/

/*Win IE fix \*/
* html #pgFrontUser { height: 1%; }

/*End Win IE fix*/

/*Win IE fix \*/
* html #pgFrontSupportUs { height: 1%; }

/*End Win IE fix*/

/*Win IE fix \*/
* html #pgFrontShortcuts { height: 1%; }

/*End Win IE fix*/

/*Win IE fix \*/
* html #pgFrontShortcutsWrap { height: 1%; margin-top: 7px; }

/*End Win IE fix*/

/*Win IE fix \*/
* html #pgFrontShortcutsList { height: 1%; }

/*End Win IE fix*/

/*Win IE fix \*/
* html #pgFrontNewsEventsContainer h3 img { height: 1%; margin-bottom: 4px; }

/*End Win IE fix*/

/*Win IE fix \*/
* html #pgSideWrap { /* margin-top: 11px; */ }
/*End Win IE fix*/

/*Win IE fix \*/
* html #pgContentWrap {margin-left: 165px; /* margin-top: 11px; */ }
/*End Win IE fix*/

/*Win IE fix \*/
* html #pgSideNav { height: 1%; position: static; }

/*End Win IE fix*/

/*Win IE fix \*/
* html #txtArchives pre { font-size: 100%; }
/*End Win IE fix*/

