/* static */
/*.ab-container a, .ab-container .ab-link{color:#09c;}*/
.litres-header .ab-link:hover{color:#FF4C14;}

/* header */
.litres-header{position:fixed; top:0; left:0; min-width:980px;z-index: 9997;width: 100%;}
.litres-header,.litres-header .ab-container{background:#efeee9;}
.litres-header .ab-container{padding-bottom:20px;}
.litres-header .block_td{vertical-align:top;}
	/* logo */
.litres-header .ab-logo{vertical-align:bottom;}
.litres-header .ab-logo span{width:111px;height:40px;margin-right:24px;display:inline-block;vertical-align:bottom;background:url(/static/litres/i/header/menu/logo.png) 0 0 no-repeat;background-image:url(/static/litres/i/header/menu/logo.svg);height: 39px;text-indent:-9999px;}

.litres-header .ab-logo span.xmas-2015 { width:131px; height:60px;
	background:url('/static/litres/i/header/newyear_2015.png') 0 0 no-repeat;
	background-image:url('/static/litres/i/header/newyear_2015.svg'), none; }

.ab-header_transform .ab-container > .ab-logo span.xmas-2015 { width:87px; height:40px;
	background:url('/static/litres/i/header/newyear_2015_small.png') 0 0 no-repeat;
	background-image:url('/static/litres/i/header/newyear_2015_small.svg'), none;
	display:block; margin-top:-5px;
}

	/* logo library */
.litres-header .logo_library span{background:#fff; display:block; margin:10px 20px -10px -4px;}
.litres-header .logo_library img{border:5px solid #fff; display:block;}

.ab-header_transform .logo_library span{margin:-1px 20px -4px -4px;}
.ab-header_transform .logo_library img{border-width:1px; height:36px; width:auto;}

	/* top menus */
.ab-nav-li{white-space:nowrap;display:inline-block;height:32px;line-height:33px;}
.ab-nav .ab-nav-li{font-weight:bold;text-transform:uppercase;padding-left:40px;letter-spacing:0.24px;}
.ab-userlinks .ab-nav-li{padding-left:22px;}
.ab-userlinks .ab-nav-li:first-child{padding-left:0;}
.ab-userlinks .ab-nav-li:last-child{padding-right:2px;}
.ab-nav-li:last-child{padding-right:0;}
.ab-nav-li > a{color:#666;text-decoration:none;display:inline-block;}
.ab-userlinks .ab-nav-li > a{color:#999;}
.ab-nav-li,.ab-nav-li > a{font-size:10px;}
.ab-nav-li.active,.ab-nav-li.active > a,.ab-nav-li > a:hover{color:#FF4C13;}
.ab-nav,.ab-userlinks{width:100%;}
.ab-nav .ab-topmenu > ul{height:32px;overflow:hidden;}
.ab-nav .ab-nav-li:first-child{padding-left:2px;}
	/* search */
/* .ab-search{min-width:434px;} for 1024: 44 pad + logo 135 + search (397) + right menu 448 + 24 scroll width [387] max-width:873px; */
.ab-search .searchbutn{float:right;width:130px;cursor:pointer;text-transform:uppercase;font-size:12px;font-weight:bold;letter-spacing:1px;}
.ab-search #q-cell{margin-right:130px;}
.ab-search #q{letter-spacing:-0.04px;background:#fff;height:40px;width:100%;font-size:16px;border:1px solid #d1d1d1;border-bottom-color:#b2b2b2;border-right:0;border-top-left-radius:3px;border-bottom-left-radius:3px;padding-left:14px;}
.ab-search #q:focus{border:1px solid #9dbef3;}
.ab-search .searchbutn span:after{background:url(/static/litres/i/header/menu/search-arrow.png) center center no-repeat; background-image:url(/static/litres/i/header/menu/search-arrow.svg);display:inline-block;margin-left:9px;width:6px;height:9px;content:"";}
.ab-search .searchbutn, .ab-userinfo .ab-userlink{height:40px;line-height:40px;}
	/* user links */
.ab-userlinks{padding-left:60px;}
.ab-userlinks .ab-topmenu,.ab-userlinks .ab-userinfo{text-align:right;max-width:460px;min-width:303px;}
.ab-userlinks .ab-topmenu ul{white-space:nowrap;}
.ab-userlinks .ab-topmenu li,.ab-userlinks .ab-topmenu li a{font-size:12px;}
.ab-userinfo .ab-user-li{background-color:#888886;display:table-cell;text-align:center;vertical-align:top;}
.ab-userinfo .ab-user-li,.ab-userinfo .ab-user-li > a{font-size:12px;}
.ab-userinfo .ab-user-li .ab-userlink,.ab-userinfo .ab-user-li .ab-userlink:hover{color:#fff;}
.ab-userinfo .ab-user-li .ab-userlink{display:block;text-decoration:none;background:url(/static/litres/i/header/menu/devider.png) right center no-repeat;background-image:url(/static/litres/i/header/menu/devider.svg); padding:0 8px;white-space:nowrap;}
.ab-userinfo .ab-user-li:last-child > a{background:none;}
.ab-userinfo .ab-user-li:hover,.ab-userinfo .ab-user-li.active{background-color:#7d7d7b;}
[data-header_open="user"]{width:130px;}
.no_info [data-header_open="user"]{width:167px;}
[data-header_open="user"] .ab-userlink{text-align:left;width:inherit;}
[data-header_open="user"] .ab-userlink:after{content:""; clear:both; display:block;}
[data-header_open="user"] .ab-userlink > span img{line-height:40px;display:inline-block;vertical-align:top;margin-top:8px;border:1px solid #949492;margin-right:9px;}
[data-header_open="user"] .ab-userlink > span{text-overflow:ellipsis; display:block;overflow:hidden;}
[data-header_open="info"]{width:37px;background:inherit url(/static/litres/i/header/menu/alarm.png);background-image:url(/static/litres/i/header/menu/alarm.svg);background-position:center center;background-repeat:no-repeat;}
.unreg [data-header_open="info"]{width:45px;}
[data-header_open="info"] .ab-userlink{line-height:normal;text-align:right;cursor:pointer;}
[data-header_open="info"] .ab-userlink span{background:#FF4D15;box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.65);border-radius: 3px;padding:1px 3px;font-size:9px;line-height:9px;font-weight:bold;display:inline-block;margin-top:10px;}
.unreg [data-header_open="info"] .ab-userlink span{margin-right:4px;}
[data-header_open="mybooks"]{width:93px;}
[data-header_open="mybooks"] .ab-userlink span,[data-header_open="library"] .ab-userlink span{height:auto;padding:4px 5px;font-size:10px;line-height:10px;font-weight:bold;display:inline-block;text-transform:uppercase;}
[data-header_open="cash"]{width:79px;}
[data-header_open="basket"],[data-header_open="basket"] .basket_not_empty, [data-header_open="basket"] .basket_empty{background:inherit url(/static/litres/i/header/menu/basket.png);background-image:url(/static/litres/i/header/menu/basket.svg);background-size:11px 10px;background-position:center center;background-repeat:no-repeat;}
[data-header_open="basket"] .basket_not_empty, [data-header_open="basket"] .basket_empty{padding-left:19px;background-position:left 1px;background-repeat:no-repeat;}
[data-header_open="basket"]{width:121px;background-position: -9999px -9999px;position: relative;}
.unreg [data-header_open="basket"]{width:128px;}
[data-header_open="basket"] .block_relative{padding-right: 11px;}
[data-header_open="login"]{width:157px;background: inherit url(/static/litres/i/header/menu/login.png);background-image:url(/static/litres/i/header/menu/login.svg);background-position:15px center;background-repeat:no-repeat;}
[data-header_open="login"] .ab-userlink span{padding-left:17px;}
[data-header_open="freebooks"]{width:129px;}

/* menu add biblio */
.ab-userinfo .biblio_user{width:194px;}
.ab-userinfo .biblio_user a{text-align:center;}
.biblio_user .ab-userinfo .unreg [data-header_open="login"]{background-image: none;}
.biblio_user .ab-userinfo .unreg [data-header_open="login"] > a > span{padding-left: 0;}
.biblio_user .ab-userinfo .unreg [data-header_open="service"]{width:151px;}
.biblio_user .ab-userlinks .ab-topmenu ul > li{padding-left: 48px;}
.biblio_unreg .ab-userlinks .ab-topmenu ul > li{padding-left: 21px;}
.lib_user .ab-userlinks .ab-topmenu ul > li{padding-left: 33px;}
.lib_noprice .ab-userlinks .ab-topmenu ul > li{padding-left: 43px;}
.biblio_user .ab-userlinks .ab-topmenu ul > li:first-child{padding-left: 0;}
.biblio_user .ab-userinfo .unreg [data-header_open="login"],.biblio_user .ab-userinfo .no_info .user,.biblio_user .ab-userinfo [data-header_open="mybooks"]{width:151px;}
.block_pointer{cursor:pointer;}

/* price */
[data-header_popup="basket"] .fast_basket .price {display:inline-block;font-size:11px;}
[data-header_popup="basket"] .fast_basket .price + *{margin-left:14px;}
[data-header_popup="basket"] .fast_basket .new-price,[data-header_popup="basket"] .fast_basket .simple-price,[data-header_popup="basket"] .fast_basket .old-price{white-space: nowrap;}
[data-header_popup="basket"] .fast_basket .simple-price {font-size:14px;font-weight: bold;}
[data-header_popup="basket"] .fast_basket .simple-price .currency{font-weight: normal;font-size: 11px;}
[data-header_popup="basket"] .fast_basket .new-price{color:#cc0000;font-weight:bold;padding-left:7px; white-space:nowrap;}
[data-header_popup="basket"] .fast_basket .old-price{color: #a6a6a6;font-style:italic;text-decoration: line-through;}
[data-header_popup="basket"] .fast_basket .fast_basket__price-ru{white-space: nowrap;}
[data-header_popup="basket"] .fast_basket .fast_basket__price-ru, [data-header_popup="basket"] .fast_basket .fast_basket__price-ru .simple-price,[data-header_popup="basket"] .fast_basket .fast_basket__price-ru .simple-price .currency{font-weight: normal;font-size: 8px;color: gray;font-style: italic;}

/* [48975] АБ-тест на плавающую шапку */
.ab-header_transform .ab-topmenu{display: none;}
.ab-header_transform .ab-container > .ab-logo span{background:url(/static/litres/i/header/menu/logo-small.png) 0 0 no-repeat;background-image:url(/static/litres/i/header/menu/logo.svg);width:90px;height:32px;}
.ab-header_transform.ab-header_transform .ab-container{padding:6px 7px 7px 7px;border-bottom: 1px solid #bbb;margin-left: auto;margin-right: auto;}
.ab-header_transform .ab-search .searchbutn,.ab-header_transform .ab-userinfo > ul > li > a{height:33px;line-height: 33px;}
.ab-header_transform .ab-search #q{height:33px;}
.ab-header_transform .ab-userinfo [data-header_open="user"] > a span img{margin-top:4px;}

/* media must be at bottom */
@media screen and (max-width:1599px){ /* 1440 */
	.ab-nav-li{padding-left:25px;}
	.litres-header .ab-container{margin-left:21.5px;margin-right: 21.5px;}
}
@media screen and (max-width:1439px){/* 1366 */
	.ab-nav .ab-nav-li{padding-left:20px;}
}
@media screen and (max-width:1365px){ /* 1280 */
	.ab-nav .ab-nav-li{padding-left:19px}
	.ab-userlinks .ab-nav-li{padding-left:29px;}
	[data-header_open="basket"]{width:42px;min-width: 42px;background-position:center center;}
	[data-header_open="basket"] .basket_not_empty, [data-header_open="basket"] .basket_empty{background-position:-9999px -9999px;}
	.unreg [data-header_open="basket"]{width:51px;}
	[data-header_open="basket"] .ab-userlink{line-height:normal;text-align:right;}
	/*[data-header_open="basket"] .ab-userlink .span{padding-left:0;}*/
	[data-header_open="basket"] .header_basket_spl_title_num{position: absolute;top: 50%;margin-top: -11px;right: 50%;margin-right: -13px;background:#FF4D15;box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.65);border-radius: 3px;padding:1px 3px;font-size:9px;line-height:9px;font-weight:bold;display:inline-block;}
	.ab-header_transform [data-header_open="basket"] .header_basket_spl_title_num{}
	[data-header_open="biblio_user"]{width:114px;}
}
@media screen and (max-width:1279px){ /* 1024 */
	
}
@media screen and (max-width:1023px){ /* 800 */
	.ab-userlinks{padding-left:20px;}
	.litres-header .ab-container{margin-left: auto;margin-right: auto;}
	.litres-header .ab-logo span{margin-right: 14px;}
}