/* [45770] */
.arts_container {display:inline-block; text-align:center;}

.arts_container ul {min-width:970px; max-width:1530px; overflow:hidden; margin-bottom:60px;text-align:center;}

.tablet_mode .ab-container { width:970px; }

.arts_container  ul:after {content:""; clear:both; display:block;}

.arts_container .basic_art li  {display:inline-block; height:100%; margin-left:20px; overflow:hidden; text-align:left;}
.arts_container .basic_art li:first-child {margin-left:0;}
.arts_container .basic_art li .container {float:left;}
.arts_container a {text-decoration:none;}
.arts_container .caption_txt a {display:inline;color:#999999;}
.arts_container .description a,.arts_container .description span {color:#fff;}
.arts_container .seq_name a, .arts_container .teaser_caption a {color:#000;}
.arts_container .seq_author a {color:#666666;}
.arts_container .caption_txt a:hover, .arts_container .description a:hover, .arts_container .seq_name a:hover, .arts_container .teaser_caption a:hover, .arts_container .teaser_caption a:hover .teaser_txt, .arts_container .seq_author a:hover {color:#ff4c14;}
.arts_container .bigart-btn-buy a:hover, .hover_actions .action_buy:hover {color:rgba(255,255,255,0.8)}
.cover:not(.no_shadow) img {text-align:center;}
.cover img {display:block; word-wrap:break-word;}

.not_tablet .cover:not(.no_shadow) img {
	-webkit-box-shadow:0px 1px 0px 0px rgba(0, 0, 0, 0.2), 0px 1px 2px 0px #000;
	-moz-box-shadow:0px 1px 0px 0px rgba(0, 0, 0, 0.2), 0px 1px 2px 0px #000;
	box-shadow:0px 1px 0px 0px rgba(0, 0, 0, 0.2), 0px 1px 2px 0px #000;
}
	
/* основные блоки главной */
.basic_arts1 {height:590px;}
.basic_arts2, .basic_arts4 {height:220px;}
.basic_arts3 {height:350px;}

/* высота и ширина блоков */
.span_w330 {width:330px;}
.span_w460 {width:460px;}
.span_w220 {width:220px;}
.span_w140 {width:140px; height:100%;}
.span_h590 {height:590px;}
.span_h350 {height:350px;}
.span_h220 {height:220px;}
li.span_w960 {width:960px;}
.basic_arts1 .span_h350 {margin-bottom:20px;}
.basic_arts1 .span_h220, .basic_arts1 li.span_w960 {margin-left:0;}
.basic_arts1 li.span_w960 .book_item {margin-left:20px;}
.span_w810 {width:810px;}

.basic_arts1 .banner {overflow:hidden; margin-left:20px;}
.basic_arts1 .main_item {border:1px solid #d2d2d2; background:#111111; position:relative; overflow:hidden; vertical-align:top;} /* опорная книга */
.basic_arts1 .main_item.no_bg {background:none;}
.basic_arts1 .main_item .container {width:100%; height:100%;}
/* блок с заголовком и обложкой */
.book_item {position:relative; overflow:hidden; border:1px solid #d2d2d2; padding:0 9px;margin-left:20px;}
.book_item:first-child {margin-left:0;}

/* описания книг */
.description {width:100%;  position:absolute; bottom:0; left:0; line-height:20px; color:#fff; padding:10px 8px;}
.big {height:110px; background:#111111; font-size:16px; line-height:22px;}
.no_bg .big {background:none;}
.no_bg .big:before {display:block; position: absolute; right: 50%; top: -120px; width: 64px; height: 63px; margin-right:-32px; background: url(/static/litres/i/pages/homepage/icons/audio_64x63.png) no-repeat 0 0;background-image:url('/static/litres/i/pages/homepage/icons/audio_64x63.svg'); content: "Аудиокнига"; text-transform:uppercase;color:#b8b8b8;font-size: 10px;line-height: 168px;}
.no_bg .big a {color:#000000;}
.description_txt {overflow:hidden; height:44px; width:312px;}
.small {height:40px; font-size:13px;padding:0; margin:0; background-color:#444444;white-space:nowrap; text-overflow:ellipsis;}
.small a{display:block;padding:10px 8px;}
.small:after{display:block; content: ""; position: absolute; right: 8px; top: 50%; width: 4px; height: 8px;  margin-top:-3px;}
.small:not(.small_no-icon):after {background: url(/static/litres/i/pages/homepage/path.png) no-repeat 0 0;}
.caption_txt {width:100%;height:27px; position:relative; font-size:10px; color:#999999; text-transform:uppercase; padding:8px 23px 8px 0; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
/* [48654] Контекстное меню */
.caption_menu_btn {display:block; content:""; position:absolute; right:0; top:0; width:37px; height:27px; background:url(/static/litres/i/pages/homepage/menu.png); background-image:url(/static/litres/i/pages/homepage/menu.svg); background-position: 4px -8px; background-repeat: no-repeat; z-index:11;}
.caption_menu_btn:hover {cursor:pointer;background-position:-27px -8px;}
.caption_menu_btn.menu_active {background-position:-27px -8px;}
.show_max1366 {display:none;} 



/* тизер и описание */
.teaser_cover {display: block;height:104px; border:1px solid #d2d2d2; padding:1px;overflow:hidden;background-repeat: no-repeat; background-position: center center;}
.not_tablet .teaser_cover { 
	-webkit-box-shadow:inset 0 0 0 1px #fff;
	-moz-box-shadow:inset 0 0 0 1px #fff;
	box-shadow:inset 0 0 0 1px #fff;
}
.seq_description, .teaser_caption {width:100%; font-size:14px; color:#000; line-height:17px; margin:9px 0;}
.seq_name {position:relative; overflow:hidden; text-overflow:ellipsis;}
.basic_arts1 .seq_name:before{position: absolute;top:17px;right:0;width:100%;content: "";height:17px;display: inline-block;}
.seq_author, .teaser_txt {font-size:12px; color:#666666;}
.seq_author {height:17px;white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.teaser_caption {margin:6px 0 7px; padding-left:2px;}
.basic_arts1 .teaser_caption{height:69px; overflow:hidden;}
.teaser_txt {font-style:italic;}

.content_ser {margin-left:-10px; margin-right:-2px;} /* при масштабировании изменяется ширина обложки */
.content_ser .cover_wrapper{display:inline-block; vertical-align:top; margin-left:10px;}
.span_w460 .content_ser {margin-left:-13px;}
.span_w460 .content_ser .cover_wrapper {margin-left:13px;}

.x3art .content_ser{margin-top:7px;}
.content_ser .cover_wrapper:after {content:""; clear:both; display:block;}

.basic_arts1 .span_w140 .book_item  {width:100%}
.basic_arts1 .span_w140 .content_ser .cover_wrapper {width:100%; margin-bottom:5px;}
.basic_arts4 .span_w810 .content_ser {margin-left:-14px;}
.basic_arts4 .span_w810 .content_ser .cover_wrapper {width:120px;margin-left:14px;}

.basic_arts1.mod6 .span_w140 {display:none;}
.basic_arts2.mod8 .col7, .basic_arts4.mod8 .col7, .basic_arts2.mod8 .col8, .basic_arts4.mod8 .col8, .basic_arts4.mod10 .col6 {display:none;}
.basic_arts2 .hide-1366 {display:none;}

/* [48095] Верстка среднего блока для новой главной */
.basic_arts3 .book_item{width:100%;}
.basic_arts3 .col1 .cover_wrapper{margin-left:10px;margin-bottom: 9px;}
.basic_arts3 .col1 .cover_wrapper:first-child{margin: 0;}
.basic_arts3 .book_item{height:350px;}
.basic_arts3 .col1 .cover_wrapper,.basic_arts3 .span_w460 .cover_wrapper{float:left;}
.basic_arts3 .span_w460 .seq_description{margin-left: 231px;font-size:12px; line-height: 14px;margin-top:-2px;width: inherit;}
.basic_arts3 .span_w460 .book_item:before,.basic_arts3 .teaser .book_item:before{position: absolute;bottom: 0;content: "";height:40px;display: inline-block;z-index: 1;}
.basic_arts3 .span_w460 .book_item:before{right:9px;width:209px;}
.basic_arts3 .teaser .book_item:before{left:0;width: 100%;}
.basic_arts3 .span_w460 .seq_name{font-size: 14px;line-height: 18px;margin-bottom: 3px;}
.basic_arts3 .span_w460 .seq_text{font-size: 12px; line-height: 17px;position: relative;}
.basic_arts3 .span_w460 .seq_link{position: absolute; left:0; top:0; width:100%;bottom:0;}
.basic_arts3 .span_w460 .stars {margin-bottom:15px;}
.basic_arts3 .span_w460 .seq_author{font-size: 12px;line-height: 14px;margin-bottom: 10px;}
.basic_arts3 .span_w460 .rating{margin-bottom: 8px;}
.basic_arts3 .teaser_caption{height:200px;}
.basic_arts3.mod1 .col5 .covers,.basic_arts3.mod4 .col4 .covers{margin-left: -8px;margin-top: -8px;clear:both;}
.basic_arts3.mod1 .col5 .covers:after,.basic_arts3.mod4 .col4 .covers:after{display: block;clear: both;content: "";}
.basic_arts3.mod1 .col5 .cover_wrapper,.basic_arts3.mod4 .col4 .cover_wrapper{float:left;margin-left:9px;margin-top: 8px;}
.basic_arts3 .teaser_cover{height:150px;}


/* gradients */
/* transparent to white (top to bottom) */
.not_tablet .basic_arts3 .span_w460 .book_item:before,
.not_tablet .basic_arts1 .seq_name:before,
.not_tablet .basic_arts3 .teaser .book_item:before{
	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 70%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(70%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 70%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 70%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 70%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 70%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

/* [50613] Ховер под обложки для новой главной */
.hover_book {position: absolute; left: -9999px; top: -9999px;}
.hover_book .shadow { position:absolute; display:none; border-style:solid; box-sizing:border-box; 
	-moz-box-sizing:border-box; -webkit-box-sizing:border-box; bottom:0;
	border-color:#000; background:none; }
.hover_book .shadow-left { left:0; width:9px; border-left-width:1px; }
.hover_book .shadow-right { right:-1px; width:9px; border-right-width:1px; }
.hover_book .shadow-top { left:0; height:1px; border-top-width:1px; }
.hover_book .shadow-bottom { bottom:0; height:0; border-bottom:1px solid #000; left:0;
	background:url('/static/litres/i/pages/homepage/bottom_shadow.png') repeat-x left top; }

.hover_book_showed .shadow { display:block; }

.container_hover { border-color:#000; }

.hover_book { z-index:9995; color:#202020; text-align:left; opacity:1; }
.hover_book .close{ display:block; position:absolute; content:"";z-index:1; bottom:0; right:12px;
	background:url('/static/litres/i/pages/homepage/close.png') no-repeat top right;
	background-image:url('/static/litres/i/pages/homepage/close.svg');
	width:17px; height:17px;cursor:pointer;}
.hover_book .close:hover {
	background: url('/static/litres/i/pages/homepage/close_hover.png') no-repeat top right;
	background-image: url('/static/litres/i/pages/homepage/close_hover.svg'); }
.hover_title {
	background:rgba(17, 17, 17, .9); padding:10px 10px 9px 9px; width:100%; 
}
.hover_title a { display:block; color:#fff; text-decoration:none; }
.hover_title a:hover { color:#ff4c14; }

.hover_title .item_name { font:bold 13px/16px 'Arial'; margin-bottom:0; position:relative; 
	overflow:hidden; text-overflow:ellipsis; }
.hover_title .item_author { display:block; font:12px/16px 'Arial'; }

.hover_actions { width:100%; }
.hover_book .hover_actions { background:rgba(17, 17, 17, .9); height:auto; min-height:36px; padding:0 8px 0 10px; }

.hover_actions .lgray_button { width:100px; }
.hover_actions.w96px .lgray_button,
.hover_actions.w96px .lgray_box { width:96px; }
.hover_actions.w100px .lgray_button,
.hover_actions.w100px .lgray_box { width:100px; }
.hover_actions.w120px .lgray_button,
.hover_actions.w120px .lgray_box { width:120px; text-indent:10px; }
.hover_actions .lgray_button,
.hover_actions .lgray_box { color:#d3d3d3; border-color:#d3d3d3; margin-top:0; display:inline-block; font:12px/28px 'Arial'; 
	border:1px solid rgba(73, 73, 73, 0.2); height:30px; text-decoration:none; }
.hover_actions .lgray_button:hover { background-color:#3b393f; color:#fff; }
.hover_actions .lgray_box { width:100%; text-align:center; }
.hover_actions .action_listen { text-align:left; width:auto; }

.hover_book .hover_actions .lgray_button,
.hover_book .hover_actions .lgray_box { margin-top:14px; }

.hover_actions .action_buy { width:86px; height:30px; float:right; font:14px/28px 'Arial'; }
.not_tablet .hover_actions .action_buy { box-shadow: inset 1px -1px 0 #004f00, inset -1px 1px 0 #44a841; }
.hover_book .hover_actions .action_buy { margin-top:14px; }
.hover_actions .lgray_icon { display:inline-block; vertical-align:top; }
.hover_actions .lgray_icon:before { margin-right:0; width:24px; float:left; display:block; height:30px; content:""; }
.hover_price + .lgray_icon { float:right; }
.hover_price { display:inline-block; font:12px/30px 'Arial'; color:#fff; vertical-align:top; }
.hover_price b { font:18px/30px 'Arial'; font-weight:bold; }

.hover_actions .action_read:before {
	margin-right:15px;
	background:url('/static/litres/i/pages/homepage/hover/read_icon.png') no-repeat left 7px; }
.hover_actions .action_read:hover:before{ background-position:right 7px; }
.hover_actions .action_listen:before {
	margin-right:11px; margin-left:0; margin-top:0;
	background:url('/static/litres/i/pages/homepage/hover/listen_icon.png') no-repeat left 6px; }
.hover_actions .action_listen:hover:before {
	background-position:right 6px; }
.hover_actions .action_download:before {
	opacity:.5;
	background:url('/static/litres/i/pages/homepage/action_download_gray.png') no-repeat 8px 6px;
	background-image:url('/static/litres/i/pages/homepage/action_download_gray.svg'), none; }
.hover_actions .action_download { float:right; }
.hover_actions .action_download:hover:before {
	opacity:1;
	background-image:url('/static/litres/i/pages/homepage/action_download_white.png');
	background-image:url('/static/litres/i/pages/homepage/action_download_white.svg'), none; }

.hover_actions .not_available.rows2 { line-height:15px; padding:5px 0px 0px; height:40px; margin-bottom:6px; }

.hover_actions .lgray_no_text { text-indent:-999px; overflow:hidden; }

.hover_actions .orange_hover_button,
.hover_actions .orange_hover_button.coolbtn  { display:block; border:1px solid #ff4c00; font:13px/30px 'Arial';
	color:#ff4c00; padding:0; width:90px; float:right; height:30px; text-align:center; text-decoration:none; }
.hover_actions .orange_hover_button:hover,
.hover_actions .orange_hover_button.coolbtn:hover  { background:#ff4c14; color:#fff; }

.hover_actions .gray_hover_button,
.hover_actions .gray_hover_button.coolbtn  { display:block; font:13px/30px 'Arial';
	color:#bebebe; padding:0; float:right; width:90px; height:30px; text-align:center; text-decoration:none; background:#3b393f;}
.hover_actions .gray_hover_button:hover,
.hover_actions .gray_hover_button.coolbtn:hover  { color:#bebebe; }

.hover_actions.w120px .orange_hover_button { width:81px; }
.hover_actions.w100px .orange_hover_button { width:62px; }
.hover_actions.w96px .orange_hover_button { width:57px; }
.hover_actions.w100 .orange_hover_button { width:100%; }

.description.big .hover_actions .orange_hover_button, .description.big .hover_actions .gray_hover_button { width:170px; }
.description.big .hover_actions { position: absolute; left:0; bottom:0; padding:9px; z-index:1; }
.description.big .hover_actions .action_buy { width:170px; color:#fff; }
.description.big .hover_actions .lgray_button,
.description.big .hover_actions .lgray_box { border:none; line-height:32px; color:#b9b9b9; padding-left:5px; }
.description.big .hover_actions .lgray_button:hover,
.description.big .hover_actions .lgray_box:hover { border-color:#fff; background-color:transparent; color:#ff4c14; }
.description.big .hover_actions .action_read:before { margin-right:10px; }

.can_preorder:hover { border-color:#ff4c14; color:#ff4c14; }

.arts_loader { width:100%; height:590px; display:none; text-align:center; 
	margin-bottom:60px; background:url('/static/litres/i/pages/homepage/arts_loader.gif') center center no-repeat; }
	
/* [51953] баннеры партнерских сетей */
.basic_arts2 .loyalty_partners a{width:223px;height:64px;display:block; float:left; background-position:0 0; background-repeat:none;}
.basic_arts2 .loyalty_partners .loyalty_mnogoru{background-image:url(/static/litres/i/pages/biblio_book/banner/partner_mnogoru.png);margin:0 7px 14px 0;}
.basic_arts2 .loyalty_partners .loyalty_malina{background-image:url(/static/litres/i/pages/biblio_book/banner/partner_malina.png);margin:0 0 14px 7px;}
.basic_arts2 .loyalty_partners .loyalty_spasibo{background-image:url(/static/litres/i/pages/biblio_book/banner/partner_spasibo.png);margin:0 7px 14px 0;}
.basic_arts2 .loyalty_partners .loyalty_sclub{background-image:url(/static/litres/i/pages/biblio_book/banner/partner_sclub.png);margin:0 0 14px 7px;}
.basic_arts2 .loyalty_partners .loyalty_kukuruza{background-image:url(/static/litres/i/pages/biblio_book/banner/partner_kukuruza.png);margin:0 0 0 7px;}
.basic_arts2 .loyalty_partners .loyalty_tnt{background-image:url(/static/litres/i/pages/biblio_book/banner/partner_tnt.png);margin:0 7px 0 0;}
.basic_arts2 .loyalty_partners .loyalty_komandacard{background-image:url(/static/litres/i/pages/biblio_book/banner/partner_komandacard.png);margin:0 7px 0 0;}

/* [52528] Показывать баннер для зарегистрированных пользователей из Москвы */
.basic_arts1.mod3 .homepage_banners {display:block; width:220px; height:220px; background:url(/static/litres/i/pages/homepage/banners/survey_220x220.png) no-repeat top left;}
.basic_arts1.mod2 .homepage_banners {display:block; width:220px; height:350px; background:url(/static/litres/i/pages/homepage/banners/survey_220x350.png) no-repeat top left;}
.basic_arts2.mod9 .homepage_banners {display:block; width:330px; height:220px; background:url(/static/litres/i/pages/homepage/banners/marafon_glavnaya.png) no-repeat top left;}

/* [58583] Аудиокниги на новой главной – наложить рамочки, поставить значок */
.block-link-type{padding: 0 10px;}
.block-link-type__type{display: block;text-overflow:ellipsis;overflow: hidden;padding: 10px 0;}
.block-link-type__type1:not(.block_link_type_hide-icon){padding-left: 42px;
	background: url(/static/litres/i/pages/homepage/icons/block_link_type1.png) left center no-repeat;
	background-image:url(/static/litres/i/pages/homepage/icons/block_link_type1.svg);
}
.block_link_type_hide-icon{text-align: center;}

.cover_type1{position: relative;}
.cover_type1:before{content: "";position: absolute;left: 0;top: 0;bottom: 0;width: 7px;
	background: url(/static/litres/i/cover/audio/100.png) 0 0 repeat-y;
	background-image:url(/static/litres/i/cover/audio/100.svg);
}
.cover_type1 .cover_img{border: 2px solid #3b393f;}
.cover_init_w30:before{width: 5px;
	background: url(/static/litres/i/cover/audio/30.png) 0 0 repeat-y;
	background-image:url(/static/litres/i/cover/audio/30.svg);
}
.cover_init_w37:before{width: 5px;
	background: url(/static/litres/i/cover/audio/37.png) 0 0 repeat-y;
	background-image:url(/static/litres/i/cover/audio/37.svg);
}
.cover_init_w57:before{width: 6px;
	background: url(/static/litres/i/cover/audio/57.png) 0 0 repeat-y;
	background-image:url(/static/litres/i/cover/audio/57.svg);
}
.cover_init_w89:before{width: 8px;
	background: url(/static/litres/i/cover/audio/89.png) 0 0 repeat-y;
	background-image:url(/static/litres/i/cover/audio/89.svg);
}
.cover_init_w100:before{width: 7px;
	background: url(/static/litres/i/cover/audio/100.png) 0 0 repeat-y;
	background-image:url(/static/litres/i/cover/audio/100.svg);
}
.cover_init_w123:before{width: 9px;
	background: url(/static/litres/i/cover/audio/123.png) 0 0 repeat-y;
	background-image:url(/static/litres/i/cover/audio/123.svg);
}
.cover_init_w185:before{width: 13px;
	background: url(/static/litres/i/cover/audio/185.png) 0 0 repeat-y;
	background-image:url(/static/litres/i/cover/audio/185.svg);
}
.cover_init_w200:before{width: 14px;
	background: url(/static/litres/i/cover/audio/200.png) 0 0 repeat-y;
	background-image:url(/static/litres/i/cover/audio/200.svg);
}
.cover_init_w250:before{width: 18px;
	background: url(/static/litres/i/cover/audio/250.png) 0 0 repeat-y;
	background-image:url(/static/litres/i/cover/audio/250.svg);
}
.cover_init_w330:before{width: 23px;
	background: url(/static/litres/i/cover/audio/330.png) 0 0 repeat-y;
	background-image:url(/static/litres/i/cover/audio/330.svg);
}
.cover_init_w415:before{width: 30px;
	background: url(/static/litres/i/cover/audio/415.png) 0 0 repeat-y;
	background-image:url(/static/litres/i/cover/audio/415.svg);
}

/* [58583] Аудиокниги на новой главной – наложить рамочки, поставить значок */
.cover_wrapper{position: relative;}

/* + отступы 45px */
@media screen and (max-width:1599px){ /* 1440 */
	li.span_w960 {width:720px;}	
	.basic_arts1.mod7 .col4 {display:none;}
	.basic_arts1.mod3 .span_w460, .basic_arts1.mod4 .col3,.basic_arts1.mod4 .col3 .span_w460 {width:220px;}
	.basic_arts1.mod3 .col5 .content_ser img, .basic_arts1.mod4 .col3 .content_ser img  {width:95px; height:auto;}
	.basic_arts1.mod3 .col5 .content_ser, .basic_arts1.mod4 .col3 .content_ser {margin-left:-10px;}
	.basic_arts1.mod3 .col5 .content_ser .cover_wrapper, .basic_arts1.mod4 .col3 .content_ser .cover_wrapper {margin-left:10px;}
	.mod9 .col3 {width:460px;}
	.mod9 .col3 .container{width:100%;}
	.mod9 .hide-1366 {display:inline-block;}
	.mod9 .col3 .content_ser{margin-left:-15px;}
	.mod9 .col3 .content_ser .cover_wrapper{margin-left:15px;}
	.mod9 .col3 .content_ser img{width:100px; height:auto;}
	.mod9 .col3 .cover_w200 img{width:200px; height:auto;}
	.mod9 .col4 {display:none;}
	.basic_arts4.mod10 .col4 {display:none;}
	.basic_arts3.mod2 .span_w460,.basic_arts3.mod3 .span_w460{width:220px}
	.basic_arts3.mod2 .span_w460 .book_item:before,.basic_arts3.mod3 .span_w460 .book_item:before{display: none;}/* скрываем градиент */
	.basic_arts3.mod1 .col5{display: none;}
}
@media screen and (max-width:1439px){/* 1366 */
	.basic_arts1 .span_w140, .basic_arts1.mod6 .span_w140 {display:inline-block;}
	.show_min1366 {display:none;}
	.show_max1366 {display:inline-block;}
	.basic_arts1 .x3art,.basic_arts1 .x3art .container {width:140px;}
	.basic_arts1 .x3art img,.basic_arts3 .x3art img{width:120px; height:auto;}
	.basic_arts1 .x3art .content_ser {margin-top:0;}
	.basic_arts1 .x3art .content_ser .cover_wrapper, .basic_arts1.mod2 .col4 .content_ser .cover_wrapper, .basic_arts1 .x3art .cover_wrapper{margin-bottom:5px;}
	.basic_arts1 .seq_description{display:none;}
	.basic_arts1.mod6 .col4 img {width:120px; height:auto;}
	.basic_arts1.mod7 .col3 {display:inline-block; width:220px;}
	.basic_arts1.mod7 .col3  .container{width:100%;}
	.basic_arts1.mod7 .span_w460 .content_ser,.mod8 .span_w460 .content_ser, .mod9 .col3 .content_ser{margin-left:-10px;}
	.basic_arts1.mod7 .span_w460 .content_ser .cover_wrapper, .mod8 .span_w460 .content_ser .cover_wrapper, .mod9 .col3 .content_ser .cover_wrapper{margin-left:10px;}
	.basic_arts1.mod7 .span_w460 .content_ser  img, .mod8 .span_w460 .content_ser img{width:95px; height:auto;}	
	.basic_arts1.mod7 .col4 {display:inline-block;}
	.hide-1366 div {width:100%}
	.basic_arts1.mod2 .col4 {width:140px;position:relative;}
	.basic_arts1.mod2 .col4 img {width:120px; height:auto;}
	.basic_arts1.mod2 .col4 .span_h220 {position:absolute; top:0;left:0; width:100%; height:350px; margin-bottom:20px;}
	.basic_arts1.mod2 .col4 .span_h350 {position:absolute; bottom:0;left:0; width:100%;height:220px; margin-bottom:0;}
	.mod3 .x3art {float:right;}
	.mod8 .col5, .mod8 .col5 .span_w460 {width:220px;}
	.basic_arts2.mod8 .col7, .basic_arts4.mod8 .col7  {display:inline-block;}
	.mod9 .col3 {width:220px;}
	.mod9 .col3 .content_ser img {width:95px; height:auto;}
	.mod9 .col4 {display:inline-block;}
	.basic_arts4.mod10 .col4 {display:inline-block;}
	.basic_arts3.mod2 .teaser,.basic_arts3.mod3 .teaser{width:140px;}
	.basic_arts3.mod1 .col5,.basic_arts3.mod4 .col4{display: inline-block;width: 140px;}
	.basic_arts3.mod1 .col5 .covers:last-child,.basic_arts3.mod4 .col4 .covers:last-child{display: none;}
}

@media screen and (max-width:1279px){ /* 1024 */
	li.span_w960 {width:480px;}
	/* .mod8 .col5,.mod8 .col5 .span_w460,.mod10 .col4, .mod10 .col4 .container {width:140px;} */
	/* .mod8 .content_ser .cover_wrapper,.mod10  .col4 .content_ser .cover_wrapper{width:100%;} */
	/* .mod8 .span_w460 .content_ser img, .mod10 .col4 img {width:120px; height:auto;} */
	.basic_arts2.mod8 .col8, .basic_arts4.mod8 .col8, .basic_arts4.mod10 .col6  {display:inline-block;}
	.arts_container ul{margin-bottom:48px;}
}