/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

input {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    -moz-border-radius: 0px;
}

body {
    margin: 0;
    background-color: #f3f3f3;
    font-family: 'Roboto Condensed', sans-serif;
	font-weight: 500;
}

.whitebg {
    background-color: white;
    padding: 10px 0px 10px 0px;
}

.darkgreybg {
    background-color: #444;
}


button {
    font-family: "Roboto Condensed";
    font-weight: 500;
}

.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.sl_loading_msg {
    margin-top: 15px;
}

.sl_loading_text {
    margin: 2px 0px 0px 10px;
}

input, textarea { color: #000; }
.placeholder { color: #aaa; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #f3f3f3;
    text-shadow: none;
}

::selection {
    background: #f3f3f3;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    padding: 0;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Global nav styles
   ========================================================================== */



.sl_wrapper {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    padding: 0px 20px;
}

.topblue {
    background-color: #3580b3;
    height: 8px;
    margin: 0px 0px 20px 0px;
}

.sl_header {	
	background-color: #fff;
	width: 100%;
	position: relative;
	z-index: 99999;
	border-top: 1px solid #19547d;
	
	/*background-color: rgba(255, 255, 255, 0.97);
	-webkit-box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.3);
	box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.3);*/
	
	-moz-transition:-moz-height 0.1s linear, -moz-margin-top 0.3s linear;
    -webkit-transition:height 0.1s linear, margin-top 0.3s linear;
    -o-transition:-o-height 0.1s linear, -o-margin-top 0.3s linear;
    transition:height 0.1s linear, margin-top 0.3s linear;
	
}

.fixednav {
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	z-index: 999999999;
	
	-moz-transition:-moz-height 0.2s linear;
    -webkit-transition:height 0.2s linear;
    -o-transition:-o-height 0.2s linear;
    transition:height 0.2s linear;
}

.sl_logo {
    background-image: url('/static/shoplocal/img/shoplocal_sprite.png');
    background-repeat: no-repeat;
    background-position: -5px -155px;
    display: block;
    height: 50px;
    width: 190px;
    overflow: hidden;
    text-indent: -99999px;
}

.first_nav {
    height: 57px;
    background-color: #3580b3;    
    -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.3);
}

.second_nav {
    margin: 12px 0px 0px 15px;
}

.second_nav li {
    display: inline-block;
}

.second_nav button {
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
    margin: 3px 20px 0px 0px;
    text-shadow: 0px 1px 1px #19547d;
    text-align: left;
}

.selected {
    color: #c4e817 !important;
    text-shadow: -1px -1px 1px #19547d !important;
} 

.selected .ddArrow {
    background: url('/static/shoplocal/img/shoplocal_sprite.png') -96px -112px transparent;
}

.sl_search_box {
    margin: 6px 0 0 10px;
    position: absolute;
    right: 20px; 
    top: 1px;
    width: 300px;
    
    -moz-transition:-moz-width 0.3s linear;
    -webkit-transition:width 0.3s linear;
    -o-transition:-o-width 0.3s linear;
    transition:width 0.3s linear;
}

.sl_search_form {
    height: 40px;
    /*-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;*/
    background-color: #215d86;
    overflow: hidden;
}

.sl_search_text {
    font-size: 14px;
    color: #ddd;
    border-width: 0;
    background: transparent;
}

.sl_search_box input[type="text"] {
    width: 75%;
    padding: 11px 0 12px 1em;
    color: #d6d6d6;
    outline: none;
    font-family: "Roboto Condensed";
    font-weight: 500;
    font-size: 16px;
}

.sl_search_cancel {
    position: absolute;
    top: 0;
    right: 0;
    height: 42px;
    width: 62px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 42px;
    border-width: 0;
    background: url('/static/shoplocal/img/shoplocal_sprite.png') 9px -92px transparent;
    -webkit-border-radius: 0px 5px 5px 0px;
    -moz-border-radius: 0px 5px 5px 0px;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
    display: block;
    overflow: hidden;
    text-indent: -9999px;
}

.sl_mobile_nav, .sl_mobile_search {
    display: none;
}

.btnHome {
    margin-right: 30px !important;
}

.horiz_rule {
    border-bottom: 2px solid #fff;
    margin: 3px 0px 5px 0px;
}

.ddArrow {
    background: url('/static/shoplocal/img/shoplocal_sprite.png') -184px -112px transparent;
    width: 10px;
    height: 15px;
    float: right;
    margin: 10px 0px 0px 5px
}

.sl_globalnav_dropdown {
    background-color: #fff;    
    -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.3);
    line-height: 36px;
	overflow:hidden;	
    padding: 15px;    
    margin: 0 auto;
}

.sl_globalnav_dropdown li {
	width: 90%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.sl_globalnav_dropdown a {
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
}

#GlobalNavPretailerList.sl_globalnav_dropdown li {	
	display: inline-block; 
	width:auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
	padding: 15px 15px 15px 15px;
	vertical-align: middle;
	height:50px;
}

#GlobalNavPretailerList.sl_globalnav_dropdown a {
	display:block;
    color: #666;
    text-decoration: none;
}

#GlobalNavPretailerList .sl_wrapper {
    max-width: 1215px;
    padding: 0px;
}

.sl_pretailer_logo {
    /*vertical-align: bottom;*/
}

/* ==========================================================================
   Advertisement styles
   ========================================================================== */

.ad_unit {
    font-family: Arial;
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 0px 0px 5px 0px;
}

.ads_mpu {
    text-align: center;
    z-index: 0;
}

.sponsor_text {
    text-align: left;
    margin-left: 3px;
}

.ad_border {
    border: 1px solid #333 !important;
}

.ads_leaderboard {
    background: url(/static/shoplocal/img/leader_b1.png) repeat #215b82;
    padding: 10px 0px 10px 0px;
    text-align: center;
}

.ads_leaderboard_footer {
    background: #dedede;
    border-top: 1px solid #d5d5d5;
    padding: 10px 0px 10px 0px;
    text-align: center;
    margin: 30px 0px 0px 0px;
}

.banner-leaderboard {
    width: 728px;
    height: 90px;
    margin: 0 auto;
}

.banner-mpu {
    width: 300px;
    height: 250px;
    margin: 0 auto;
}

.ads_right_sky {
    float: right;
    width: 16%;
    margin-top: 30px;
    z-index: 90;
}

.sl_listing .sponsor_text,
.sl_coupon .sponsor_text {
    margin-bottom: 8px;
}

.ads_mpu_spacing {
    padding: 3px;
    text-align: center;
}

#DealBrowseListingsContainer .ads_mpu_spacing {
    padding: 12px 3px;
}

.ads_gas_unit {
    padding: 10px;
    font-family: Arial; 
    font-size: 10px; 
    letter-spacing: 1px;
    text-transform: uppercase; 
    border: 1px solid #d5d5d5;
    background-color: #fff;
    position: relative;
}

.sl_sdc_items .ads_gas_unit {
    margin-left: 6px;
}

.gas_cube{
    overflow: hidden;
}
.gas_cube .ads_gas_unit {
    height: 273px !important;
}

.ad_units_container {
    position:absolute; 
    right:21px; 
    width:160px;
}

.sl_listing .ad_unit {
    padding: 3px 0 5px;
}

/* ==========================================================================
   Utilities/Components
   ==========================================================================*/
   
.arrow-down {
	border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #333333;
    height: 0;
    margin: 9px 4px 0 -5px;
    width: 0;
}

.arrow-up {
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #ccc;
    height: 0;
    left: 28px;
    top: -13px;
    padding-bottom: 2px;
    position: absolute;
    width: 0;
}


/* ==========================================================================
   Onboarding message
   ========================================================================== */
   
.bluebox {
    line-height: 16px;
    margin: 30px auto;
    border: 1px solid #D5D5D5;
    background-color: #E3F4FF;
    width: 99%;
    
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    
    -webkit-transition: background-color 500ms linear;
     -moz-transition: background-color 500ms linear;
     -o-transition: background-color 500ms linear;
     -ms-transition: background-color 500ms linear;
     transition: background-color 500ms linear;
}

.sl_watermark {
    background: url(/static/shoplocal/img/sl_bag_watermark.png) no-repeat;
    float: right;
    height: 107px;
    width: 100px;
    background-size: 100%;
}

.sl_onboarding {
    
    -webkit-transition: height 500ms linear;
     -moz-transition: height 500ms linear;
     -o-transition: height 500ms linear;
     -ms-transition: height 500ms linear;
     transition: height 500ms linear;
}

.onboarding_headline {
    font-size: 20px;
    font-weight: 600;
    color: #3580b3;
    text-transform: uppercase;
    margin: 0.35em 0;
    line-height: 20px;
}

.sl_onboarding_tagline {
    color: #666;
    font-size: 14px;
    font-weight: 300;
}

.sl_close_button {
    display: block;
    background: url("/static/shoplocal/img/shoplocal_sprite.png") no-repeat scroll -6px -457px transparent; 
    width: 27px;
    height: 27px;
}

.sl_close_onboarding {
    position:absolute;
    right:5px; 
    top:5px;
    text-indent: -9999px;
    overflow: hidden;
    z-index: 999;
}

.sl_close_dropdown {
    position:absolute;
    bottom: 0;
    right: 0;
    width: 85px;
    text-align: right;
    font-size: 14px;
    color: #666;
    text-transform: uppercase;
    font-weight: 200;
}

.sl_close_text {
    margin-top: 4px;
}

.onboarding_main {
    /*width: 40%;*/
    border-right: 1px solid #bdbdbd;
    padding: 15px;
}

.onboarding_email {
    /*width: 40%;*/
    padding: 15px;
}

.sl_light {
    color: #3580b3;
    font-weight: bold;
    font-size: 22px;
}

.sl_dark {
    color: #0d2f50;
    font-weight: bold;
    font-size: 30px;
}

.btnEmailSignup {
    height: 30px;
    width: 80px;
    margin-left: 20px;
    /*position: absolute;
    right: 0px;
    top: 0;*/
}

.btnEmailSignup:hover {
    background: #09852f;
}

.btnChangeLoc {
    border-width: 0;
    color: #3580b3;
    cursor: pointer;
    font-size: 12px;
    overflow: hidden;
    text-align: left;
    text-shadow: 0px 1px 0px #ffffff;
    margin-top: 3px;
    
    transition : all 200ms ease-out; 
   -webkit-transition : all 200ms ease-out; 
   -moz-transition : all 200ms ease-out;
   -o-transition : all 200ms ease-out; 
}

.btnChangeLoc:hover {
    color: #00a228;
}

.email_signup {
    height: 40px;
    overflow: hidden;
    position: relative;
}

.email_signup input {
    color: #999;
    font-family: "Roboto Condensed";
    padding: 5px 8px;
    border: 1px solid #cecece;
    font-size: 13px;
    width: 100%;
}

.sl_onboarding_email_error {
    color:#ff0000; 
    position:absolute; 
    bottom:-8px; 
    left:90px; 
    font-size: 13px;
}


/* ==========================================================================
   Change location
   ========================================================================== */
   
.sl_location {
    background-color: #f0f0f0;
    margin: 2px;
    text-align: left;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    border-bottom: 1px solid #e2e2e2;
    background-color: #f0f0f0;
    height: 35px;
}

.locationToggle {
  position: absolute;
  height: 100%;
  cursor: pointer;
  display: block;
  width: 100%;
}

.sl_location:hover {
    background-color: #e9e9e9;
}

.location_info_wrapper {
    position: relative;
}


.sl_location_icon {
    background: url('/static/shoplocal/img/shoplocal_sprite.png') no-repeat -8px -380px;
    display: inline-block;
    height: 25px;
    width: 18px;
    float: left;
    margin: 2px 10px 0px 3px;
}

.sl_location_text {
    position: absolute;
    left: 28px;
    top: 9px
}

.sl_city {
    font-size: 15px;
    /*color: #3580b3;*/
    color: #5f5f5f;
    text-transform: uppercase;
    font-weight: 600;
    margin: 1px 8px 0px 0px;
    text-shadow: 0px 1px 0px #ffffff;
}

.sl_changeloc {
    font-size: 12px;
    color: #9a9a9a;
    text-shadow: 0px 1px 0px #fff;
}

.email_icon {
    background-image: url('/static/shoplocal/img/shoplocal_sprite.png');
    background-repeat: no-repeat;
    background-position: -9px -250px;
    display: block;
    height: 57px;
    width: 66px;
    overflow: hidden;
    text-indent: -99999px;
    margin: 12px 10px 0px 0px;
}

.signup_confirmation_icon {
    background-image: url('/static/shoplocal/img/shoplocal_sprite.png');
    background-repeat: no-repeat;
    background-position: -155px -255px;
    display: block;
    height: 75px;
    width: 66px;
    overflow: hidden;
    text-indent: -99999px;
    margin: 12px 10px 0px 0px;
}

.sl_detail_wrap {
    padding: 0px 25px 0px 25px;
}

/* ==========================================================================
   Change location styles
   ========================================================================== */

.sl_change_location_form {
    position: absolute;
    left: 26px;
    top: -4px;
    opacity: 0;
    width: 100%;
}

.sl_change_location_form input, .sl_new_location_form input {
    color: #888888;
    font-family: "Roboto Condensed";
    font-size: 14px;
    height: 34px;
    padding: 0 7px;
    width: 160px;
    
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border: 1px solid #cecece;
}

.btnUpdateLoc {
    height: 35px;
    line-height: 28px;
    width: 55px;
    position: absolute;
    left: 185px;
    top: 1px;
}

.btnNewLoc {
    background: none repeat scroll 0 0 #19A845;
    border-radius: 5px 5px 5px 5px;
    border-width: 0;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 17px;
    height: 35px;
    line-height: 28px;
    overflow: hidden;
    text-align: center;
    width: 55px;
    text-transform: uppercase;
    position: relative;
    top: 1px;
}

.sl_location_loadingmsg {
    font-size: 15px;
    color: #747674;
    margin-top: 7px;
}

.sl_location_msg {
    margin: 8px 0px 0px 10px;
}

.change_loc h1 {
    margin: 25px 0px 15px 0px;
}


/* ==========================================================================
   Global styles
   ========================================================================== */

a:link {
    color: #3580B3;
    text-decoration: none;
    outline: none;
    transition : all 200ms ease-out; 
   -webkit-transition : all 200ms ease-out; 
   -moz-transition : all 200ms ease-out;
   -o-transition : all 200ms ease-out; 
}

a:visited {
    color: #3580B3;
    text-decoration: none;    
}

a:active, a:hover {
    color: #00a228;
    text-decoration: underline;
    transition : all 200ms ease-out; 
   -webkit-transition : all 200ms ease-out; 
   -moz-transition : all 200ms ease-out;
   -o-transition : all 200ms ease-out; 
}

h1 {
    font-size: 28px;
    font-weight: 500;
    text-transform: uppercase;
    color: #333;
    margin: 0;
}

h2 {
    color: #333;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 28px;
}

h3 {
    font-weight: 300;
    color: #333;
}

h4 {
    color: #0d2f50;
    font-weight: 500;
    text-transform: uppercase;
    text-shadow: 1px 1px 0px #fff;
    font-size: 22px;
    margin: 20px 0px;
}

.sl_homepage_headline {
    font-weight: 100;
    font-size: 32px;
    text-transform: uppercase;
    text-shadow: 0px 1px 0px #fff;
    color: #666;
    margin-bottom: 13px;
}

.sl_tile {
    background-color: white;
    border: 1px solid #d5d5d5;
    position: relative;
    overflow: hidden;
    min-height: 250px;
    
    transition : all 200ms ease-out; 
   -webkit-transition : all 200ms ease-out; 
   -moz-transition : all 200ms ease-out;
   -o-transition : all 200ms ease-out; 
}

.sl_tile:hover {
    border: 1px solid #999;
}

.medium-tile .tile_image, .large-tile .tile_image {
    height: 350px;
}

.tile_image {
    width: 100%;
    background-size: 80%;
    height: 267px;
    overflow: hidden;
    background-repeat: no-repeat;
}

.sl_weekly_ads .tile_image {
    background-size: 100%;
}

.sl_top_deals {
    position: relative;
    height: 236px;
    width:98.5%;
    margin-bottom: 30px;
    
    transition : all 200ms ease-out; 
   -webkit-transition : all 200ms ease-out; 
   -moz-transition : all 200ms ease-out;
   -o-transition : all 200ms ease-out; 
}

.sl_top_deals .featured_tile1 {
    width: 90%;
    max-height: 300px;
}

.tile_label {
    background-color: #fff;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 60px;
    border-top: 1px solid #D5D5D5;
}

.tile_primary {
    width: 90%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #333;
    font-size: 20px;
    padding: 10px 10px 5px 10px;
    font-weight: 600;
}

.tile_secondary {
    height:35px;
    color: #666;
    font-size: 14px;
    padding: 0px 10px 10px 10px;
    font-weight: 100;
    line-height: 17px;
}

.tile_cta {
    width: 100%;
    height:35px;
    text-transform: uppercase;
    color: #3580B3;
    font-size: 14px;
    padding: 0px 10px 10px 10px;
    font-weight: 500;
    line-height: 17px;
}

.popDeal .tile_cta, 
.sl_listing .tile_cta, 
.sl_coupon .tile_cta {
    width: 88%;
    text-transform: none;
}

.item_tile_label {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    position: absolute;
    bottom: 0px;
    width: 90%;
    font-size: 22px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.locationRegion {
    height: 0px;
    overflow: hidden;

}

.btnPrimary {
    background: none repeat scroll 0 0 #19A845;
    border-radius: 5px 5px 5px 5px;
    border-width: 0;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 17px;
    overflow: hidden;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
}

.btnPrimary:hover {
    background: #09852f;
}

.btnSecondary {
    background: #e1e1e1; /* Old browsers */
    background: -moz-linear-gradient(top,  #f9f9f9 0%, #e1e1e1 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#e1e1e1)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f9f9f9 0%,#e1e1e1 100%); /* Chrome10+,Safari5.1+ */
    background: -ms-linear-gradient(top,  #f9f9f9 0%,#e1e1e1 100%); /* IE10+ */
    
    display: block;
    padding: 6px;
    border: 1px solid #dedede;
    color: #666;
    font-size: 14px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}

.sl_split_tab {
    position: fixed;
    right: 0px;
    top: 56%;
	z-index: 9999;
	width: 32px;
}

.sl_share_icons button {
    display: block;
    width: 32px;
    height: 36px;
    background-color: rgba(140, 140, 140, 0.5);
    margin: 0;
    background-size: 62%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    
    
    transition : all 500ms ease-out; 
   -webkit-transition : all 500ms ease-out; 
   -moz-transition : all 500ms ease-out;
   -o-transition : all 500ms ease-out; 
   
}

.social_icon {
    width: 18px;
    height: 22px;
    position: absolute;
    left: 8px;
    top: 7px;
}

.btnGplus {
    -webkit-border-radius: 5px 0px 0px 0px;
	border-radius: 5px 0px 0px 0px;
}

.btnGplus:hover, .btnGplus:active {
    background-color: #dd4c39;
}

.btnFB:hover, btnFB:active {
    background-color: #3B5998;
}

.btnTwitter:hover, btnTwitter:active {
    background-color: #1ab7ea;
}

.btnPinterest:hover, .btnPinterest:active {
    background-color: #cc1e27;
}

.btnFeedback {    
    background: url(/static/shoplocal/img/shoplocal_sprite.png) -314px -712px, rgba(140, 140, 140, 0.5);
    -webkit-border-radius: 0px 0px 0px 5px;
	border-radius: 0px 0px 0px 5px;
	margin-top: 1px;

	font-size: 14px;
	color: #fff;
	font-weight: 500;
	width: 32px;
	height: 90px;
	display: block;
	font-family: 'Roboto', sans-serif;
	overflow: hidden;
	text-indent: -9999px;
	
	-moz-transition: -moz-background 0.2s linear;
    -webkit-transition: background 0.2s linear;
    -o-transition: -o-background 0.2s linear;
    transition: background 0.2s linear;
	 
}

.btnFeedback:hover {
    background: url(/static/shoplocal/img/shoplocal_sprite.png) -314px -712px, rgba(40, 40, 40, 0.5);
}


/* ==========================================================================
   Back to top button style
   ========================================================================== */
   
.btnTop {
    position: fixed;
    right: 60px;
    bottom: -80px;
	
	background: url(/static/shoplocal/img/shoplocal_sprite.png) 4px -624px, rgba(140, 140, 140, 0.5); /* Old browsers */
	
	font-size: 15px;
	padding: 20px 0px;
	width: 45px;
	display: block;
	
	overflow: hidden;
	 
	 -moz-transition: -moz-background 0.2s linear;
    -webkit-transition: background 0.2s linear;
    -o-transition: -o-background 0.2s linear;
    transition: background 0.2s linear;
    
}

.btnTop:active, .btnTop:hover {
	color: #666;
	background: url(/static/shoplocal/img/shoplocal_sprite.png) 4px -624px, rgba(40, 40, 40, 0.5);
}

.btnTopText {
    padding: 5px;
    margin-top: 5px;
    text-align: center;
	font-family: "Roboto Condensed";
	font-weight: 500;
	text-transform: uppercase;
	color: #fff;
}


/* ==========================================================================
   Homepage styles
   ========================================================================== */


.sl_homeview {
    margin-top: 25px;
    
    transition : all 500ms ease-out; 
   -webkit-transition : all 500ms ease-out; 
   -moz-transition : all 500ms ease-out;
   -o-transition : all 500ms ease-out; 
}

.sl_homepage{
    position: relative;
}


/* ==========================================================================
   Most Viewed Deals Carousel
   ========================================================================== */
   

.swiper-container {
    height: 100% !important;
}

.swiper-slide {
  width: 160px;
  height: 160px;
}

.popDeal {
   border: 1px solid #d9d9d9;
   width:93%;
   background-color: #fff;
   overflow: hidden;
   position: relative;
}

.popDeal:hover {
    border: 1px solid #999;
}

.popDealImg {
    width: 100%;
}

.carousel_nav span {
	position: absolute;
	background: url(/static/shoplocal/img/shoplocal_sprite.png) no-repeat #f3f3f3 -290px -85px;
	width: 33px;
	height: 100%;
	text-indent: -9000px;
	cursor: pointer;
	z-index: 9;
}

.carousel_nav span:hover {
	opacity: 1.0
}

.carousel_nav span {
	top: 33px;
	left: -35px;
	margin-top: -40px;

}

.carousel_nav span.next {
	right: -20px;
	left: auto;
	background-position: -416px -85px;
    z-index: 9999;
}

.sl_carousel_loadingmsg {
    width: 180px;
    height: 130px;
    margin: 150px auto 0px;
    vertical-align: middle
}


/* ==========================================================================
   Deal browse styles
   ========================================================================== */
   
.deal_content .sl_wrapper {
    padding: 0px 10px 0px 10px;
}

.deals {
    /*margin-bottom: 900px;*/
}

.deals, 
.coupons {
    position: relative;
    margin-top: 10px;
}

.sl_deal_sortby {
    float: right;
    margin-right: 13px;
}

.deals select {
    font-family: "Roboto Condensed", Sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #000;
    padding: 5px;
}

.sl_deal_count {
    color: #696969;
    font-size: 16px;
    font-weight: 500;
    float: left;
    display: inline-block;
    margin: 10px 0 0 20px
}

.sl_listing,
.sl_coupon {
    height: 293px;
}

.sl_featured_tile .sl_listing {
    height: 480px;
}

.sl_listing .tile_image,
.sl_coupon .tile_image {
    background-position: center center;
    height: 238px;
}

.sl_featured_tile .sl_listing .tile_image {
    height: 420px;
}

.filtering {
    margin-bottom: 15px;
    padding: 0px 0px 8px 0px;
}

.filtering h3, .filtering h3 {
    color: #333;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    padding: 12px 15px;
    margin: 0;
    background-color: #e3f4ff;
}

.filtering li, .filtering li {
    display: block;
    padding: 6px 15px;
}

.filtering a {
    font-size: 13px;
    font-weight: 500;
}


.btnFilter, .btnSortText {
    display: none;
}

.sl_retailer_label {
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    width:100%;
}

.sl_retailer_name {
    padding: 8px;
    text-align: right;
    color: #666;
    font-size: 14px;
    white-space: normal;
}

.btnSort {
    display: none;
}

.sl_deal_tile a {
    border: none;
    text-decoration: none;
}

.sl_breadcrumb_trail {
    padding: 15px 10px 0px 10px;
    font-size: 14px;
    color: #666;
}


.sl_sort_label {
    margin: 10px 7px 0 0;
    font-size: 14px;
    color: #666;
    font-weight: 600;
}

.sl_dealbrowse_cats {
    background-color: white;
    border: 1px solid #d5d5d5;
}


/* ==========================================================================
   Item detail styles
   ========================================================================== */
   
.sl_item_detail h4 {
    font-size: 18px;
    margin: 10px 0px 5px 0px;
} 

.sl_detail_dates {
    color: #cc0000;
    font-size: 18px;
}

.sl_detail_title {
    color: #000;
    font-weight: 200;
    font-size: 28px;
    margin: 15px 0px;
    text-transform: none;
}

.sl_detail_original_deal {
    color: #666;
    font-size: 14px;
    font-weight: 200;
    text-decoration:line-through;
    margin-bottom: 5px;
}

.sl_detail_dealdesc {
    font-size: 52px;
    color: #000;
    font-weight: 700;
    margin: 10px 0px 10px 0px;
}

.sl_detail_price_qualifier {
    color: #666;
    font-size: 20px;
    margin: 8px 0px 8px 0px;
}

.sl_additional_deal {
    color: #333;
    font-size: 18px;
    font-weight: 200;
    margin: 5px 0px 5px 0px;
}

.btnBuyOnline {
    color: #FFFFFF;
    font-size: 27px;
    height: 50px;
    width: 175px;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;
    margin-right: 5px;
}

.btnShare {
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #dbdbdb 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#dbdbdb)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#dbdbdb 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#dbdbdb 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#dbdbdb 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#dbdbdb 100%); /* W3C */

    border-radius: 5px 5px 5px 5px;
    border: 1px solid #ccc;
    color: #666;
    cursor: pointer;
    display: block;
    font-size: 16px;
    height: 50px;
    overflow: hidden;
    text-align: center;
    width: 85px;
    text-transform: uppercase;
    text-align: center;
    margin: 15px 0px 15px 0px;
    text-decoration: none;
}

.btnShare:hover {
    background: #f4f4f4; /* Old browsers */
    background: -moz-linear-gradient(top,  #f4f4f4 0%, #cecece 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f4f4), color-stop(100%,#cecece)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f4f4f4 0%,#cecece 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f4f4f4 0%,#cecece 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f4f4f4 0%,#cecece 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f4f4f4 0%,#cecece 100%); /* W3C */
    
    border: 1px solid #999;
    color: #333;

}

.btnSeeMoreFrom {
    display: inline-block;
    padding: 15px 18px;
    vertical-align: top;
    font-weight: 500;
    border: 1px solid #ccc;
    margin-top: 15px;
    
    transition : all 200ms ease-out; 
   -webkit-transition : all 200ms ease-out; 
   -moz-transition : all 200ms ease-out;
   -o-transition : all 200ms ease-out;  
    
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px
}

.btnSeeMoreFrom:hover {
    border: 1px solid #999;
    
    background: #cfcfcf; /* Old browsers */
    background: -moz-linear-gradient(top,  #f9f9f9 0%, #cfcfcf 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#cfcfcf)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f9f9f9 0%,#cfcfcf 100%); /* Chrome10+,Safari5.1+ */
    background: -ms-linear-gradient(top,  #f9f9f9 0%,#cfcfcf 100%); /* IE10+ */
}

.sl_sdc_items {
    margin-top: 10px;
}

.sl_ecomm_title {
    font-size: 24px;
    color: #333;
    font-weight: 200;
    padding: 0.5em 0;
}

.sl_detail_image {
    width: 100%;
}

.sl_detail_description {
    color: #666666;
    font-size: 18px;
    font-weight: 200;
    line-height: 25px;
    margin-bottom: 10px;
}

.sl_detail_fine_print {
    font-size: 13px;
    color: #999;
    line-height: 15px;
}

.sl_item_detail .arrow-up {
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #ccc;
    height: 0;
    margin-left: 25px;
    padding-bottom: 0px;
    position: inherit;
    width: 0;
}

.sl_detail_actions {
    vertical-align: middle;
    margin-bottom: 25px;
}

.sl_detail_grayarea {
    padding: 15px 0px 0px 0px;
}

.ecomm .sl_tile {
    height: 266px;
    margin-bottom: 15px;
}

.ecomm .tile_label {
    height: 78px;
}

.sl_detail_grayarea li:last-child {
    margin-right: 0px;
}

.ecomm_image {
    margin: 50px auto 0px auto;
    width: 100px;
    height: 100px;
}


.sl_detail_compare, .sl_detail_ecomm {
    padding: 20px 0px 20px 0px;
}

.sl_comparison {
    font-size: 24px;
    font-weight: 700;
    color: #000;
    margin: 15px 0px 15px 0px;
}

.sl_comparison a {
    font-weight: 200;
    text-transform: uppercase;
    text-decoration: underline;
    color: #3580B3;
}

.sl_detail_compare h3 {
    margin-bottom: 25px;
}

.findat .sl_retailer_label {
    background-color: rgba(255, 255, 255, 0.8);
    position: inherit;
    width: 100%;
}

.findat .sl_retailer_name {
    font-size: 16px;
    padding: 0px 10px 10px 0px;
    text-align: left;
}

.ecomm .tile_cta {
    text-transform: none;
    width: 90%;
}

.ecomm .sl_retailer_name {
    padding: 10px 5px;
}

.sl_ecomm_logo {
    height: 15px; 
    vertical-align: middle;
    min-width: 60px;
    max-width: 100px;
}

.sl_ecomm_logo img {
    width: 100%;
}

.sl_social_links {
    margin-bottom: 15px;
}

.p35 {
    padding: 35px 0px;
}


/* ==========================================================================
   Retailer Landing page styles
   ========================================================================== */

.sl_retailer_landing {
    margin-top: 20px;
}

.sl_retailer_heading {
    margin-top: 12px;
    margin-bottom: 12px;
}


/* ==========================================================================
   Browse by Page styles
   ========================================================================== */


.sl_promo_info_text h1 {
    margin-top: 20px;
}

.sl_promo_dates {
    color: #696969;
    display: inline-block;
    float: left;
    font-size: 16px;
    font-weight: 500;
    margin: 30px 0 0 20px;
}

.sl_retailer_page h4 {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}

.sl_retailer_page .whitebg {
    border-bottom: 1px solid #e5e5e5;
    padding: 30px 0px;
}

.sl_retailer_address1, .sl_retailer_address2 {
    font-size: 24px;
    font-weight: 600;
    color: #444;
}

.sl_retailer_phone {
    font-size: 24px;
    font-weight: 200;
}

.sl_retailer_hours {
    color: #666;
    font-size: 16px;
    font-weight: 200;
    padding-top: 3px;
}

.sl_retailerpage_logo {
    min-width: 50px;
    max-width: 265px;
    height: 100%;
}

.sl_retailerpage_logo img {
    width: 100%;
}

.sl_retailer_info {
    line-height: 25px;
    margin: 0px 0px 0px 25px;
    width: 70%;
}

.sl_promo_slider {
    position: relative;
}

.sl_promo_container {
    min-height: 600px;
    width:100%; 
    border: 1px solid #ccc;
}

.sl_retailer_page .sl_retailer_name {
    padding: 0px 0px 3px 0px;
    text-align: left;
}

.sl_retailer_page .tile_image {
    background-size: 100%;
}

.skinNextBtnArrow {
    position: absolute;
    right: 5px;
	
	background: url(/static/shoplocal/img/shoplocal_sprite.png) -147px -712px black;
	border-radius: 100px;
	-webkit-border-radius: 100px;

	font-size: 15px;
	width: 80px;
	height: 80px;
	display: block;
	text-indent: -9999px;
	
	overflow: hidden;
	 
	 -moz-transition:-moz-color 0.3s linear, -moz-background 0.3s linear;
    -webkit-transition:color 0.3s linear, background 0.3s linear;
    -o-transition:-o-color 0.3s linear, -o-background 0.3s linear;
    transition:color 0.3s linear, background 0.3s linear;
}

.skinPrevBtnArrow {
    position: absolute;
    left: 5px;
	
	background: url(/static/shoplocal/img/shoplocal_sprite.png) 17px -712px black;
	border-radius: 100px;
	-webkit-border-radius: 100px;

	font-size: 15px;
	width: 80px;
	height: 80px;
	display: block;
	text-indent: -9999px;
	
	overflow: hidden;
	 
	 -moz-transition:-moz-color 0.3s linear, -moz-background 0.3s linear;
    -webkit-transition:color 0.3s linear, background 0.3s linear;
    -o-transition:-o-color 0.3s linear, -o-background 0.3s linear;
    transition:color 0.3s linear, background 0.3s linear;
    
}

.sl_pagination {
    padding-top: 32px;
    text-align: right;
    float: right !important;
}

.btnViewAll {
    color: #3580B3;
    font-size: 16px;
    margin: -5px 0 0;
    padding: 6px 3px 0;
    text-align: left;
    vertical-align: middle;
}

.btnViewAll:hover, .btnViewAll:active {
    color: #00a228;
    text-decoration: underline;
}

.sl_more_ads {
    line-height: 37px;
    color: #333;
}



/* ==========================================================================
   Retailer page styles
   ========================================================================== */

.sl_promo_preloader {
    width: 100%;
    height: 30px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
}



/* ==========================================================================
   Coupon page style
   ========================================================================== */
.sl_coupon,
.sl_small_coupon {
    border: 2px dashed #d5d5d5;   
    background-color: #fff;
    position: relative;
    overflow: hidden;
    
    transition : border 200ms ease-out; 
   -webkit-transition : border 200ms ease-out; 
   -moz-transition : border 200ms ease-out;
   -o-transition : border 200ms ease-out;  
}

.sl_coupon:hover,
.sl_small_coupon:hover {
    border: 2px dashed #999; 
    cursor: pointer;
}

.coupon_tile_image {
    width: 100px;
    height: 100px;
    padding: 10px;
    background-position: center;
    background-repeat: no-repeat;
}

.sl_small_coupon .tile_cta, 
.sl_coupon .tile_cta {
    height: auto;
    text-transform: none;
}

.sl_coupon .tile_label {
    height: 105px;
}

.coupontitle {
    color: #333; 
    font-weight: 600
}

.btnPrintCoupons {
    height: 30px;
    margin: 0px 20px 0px 0px;
    padding: 0px 10px;
}

.sl_coupon_cta {
    padding: 10px;
}

.btnClipCoupon {
    opacity: 0.2;
    transition : opacity 200ms ease-out; 
   -webkit-transition : opacity 200ms ease-out; 
   -moz-transition : opacity 200ms ease-out;
   -o-transition : opacity 200ms ease-out;  
    width: 100%;

}

.hover .btnClipCoupon {
    opacity: 1;
}

.sl_clipped_banner {
    padding: 10px;
    width: 100%;
    color: #666;
    text-align: center;
    font-weight: 600;
    position: absolute;
    bottom: 7px;
    background-color: #dedede;
    display: none;
}

.clicked .sl_clipped_banner {
    display: block;
}

.sl_mobile_coupons_msg {
    font-size: 16px;
    color: #333;
    font-weight: 600;
    margin: 7px 0px 0px 3px;
    float: right;
}

.sl_printer_detect {
    width: 180px;
    height: 30px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.sl_printing_msg {
    width: 235px;
    height: 30px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.sl_printer_install {
    padding: 40px;
    border-top: 15px solid #3580B3;
}

.errorborder {
    border-top: 15px solid #cc0000
}

.errormsg {
    color: #cc0000;
}

.sl_printer_desc {
    font-weight: 500;
    font-size: 14px;
    color: #666;
    line-height: 20px;
}

.sl_printer_steps li {
    display: inline-block;
    margin-right: 15px;
    vertical-align: bottom;
}

.sl_printer_steps h3 {
    font-weight: 600;
}

.sl_printer_restrictions {
    padding: 40px;
    border-top: 1px solid #d5d5d5;
}

.sl_printer_restrictions li {
    border: 2px dashed #d5d5d5;
    padding: 10px;
    font-size: 15px;
    color: #666;
    line-height: 18px;
}

.btnInstall,
.btnPrint {

    background: none repeat scroll 0 0 #19A845;
    border-radius: 5px 5px 5px 5px;
    border-width: 0;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-size: 17px;
    line-height: 28px;
    overflow: hidden;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
    padding: 5px 10px;
    
}

.btnInstall:hover,
.btnPrint:hover {
    background: #09852f;
}

.sl_print_cancel {
    width: 67px;
    margin: 0px auto;
}

hr {
    margin: 30px 0px;
}


/* ==========================================================================
   Footer styles
   ========================================================================== */
   
.sl_footer {
    background-color: #ededed;
    height: 375px;
    padding: 25px 0 0;
    background: url("/static/shoplocal/img/separator-gradient.png") no-repeat scroll center top #ededed;
    border-top: 1px solid #d5d5d5;
}

.sl_footer h2 {
    color: #0d2f50;
}

.sl_bag_watermark {
    background: url("/static/shoplocal/img/sl_bag_watermark.png") no-repeat scroll bottom right;
    height: 375px;
}

.sl_footer li {
    display: block;
    margin-bottom: 15px;
}

.sl_footer li a {
    color: #0d2f50;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 1px 1px 0px #fff;
    font-size: 15px;
}

.sl_footer li a:hover {
    text-decoration: underline;
    color: #00A228;
}

.inset-shadow {
    -webkit-box-shadow: inset 1px 0px 0px 0px rgba(197, 197, 197, 1);
    box-shadow: inset 1px 0px 0px 0px rgba(197, 197, 197, 1);
    border-left: 1px solid #fff;
    padding: 0px 40px 0px 40px;
    height: 165px;
}

.sl_copyright_text {
    color: #aaa;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    margin: 50px 0px 0px 0px;
}

.sl_copyright_text a:link {
    font-size: 13px;
    color: #0D2F50;
    cursor: pointer;
}

.sl_copyright_text a:hover {
    text-decoration: underline;
    color: #00A228;
}


/* ==========================================================================
   Privacy Policy styles
   ========================================================================== */
   
.sl_privacy_policy {
    color: #666;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.sl_privacy_policy h3 {
    font-weight: 600;
}


/*JIRA TEST*/
#atlwdg-frame form.aui .button {
    border: 3px solid #f00 !important;
}
