/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 1100px) {

    .btnHome {
        display: none;
    }
    
    .ads_gas iframe {
        width: 205px;
    }
    
    .gas_cube iframe {
        width: 100% !important;
    }

}


/*Large tablet/iPad landscape*/
@media only screen and (max-width: 1024px) {
    
    .btnHome {
        display: none;
    }
    
    .ecomm .tile_label {
        height: 92px;
    }
    
    .showInTablet {
        display: inline-block;
    }
    
    .showBlockInTablet {
        display: block;
    }
    
    .hideFromTablet {
        display: none;
    }
    
    .btnEmailSignup {
        width: 95px;
    }
    
    .gas_cube .ads_gas_unit {
        width: auto;
        height: auto !important;
    }
    
    .ads_gas_unit {
        width: 98%;
    }
    
    .second_nav button {
        margin: 3px 12px 0 0;
    }
    
    .sl_logo {
        width: 170px;
    }
    
    .sl_search_box input[type="text"] {
        width: 63%;
    }
    
    .sl_search_box {
        width: 250px;
        
        -moz-transition:-moz-width 0.3s linear;
        -webkit-transition:width 0.3s linear;
        -o-transition:-o-width 0.3s linear;
        transition:width 0.3s linear;
    }
    
    .p35 {
        padding: 10px 0px;
    }
    
    .sl_close_dropdown {
        width: 100px;
    }
    
    /*----------------------Carousel Responsive------------------------*/
    
    
    .popDeal .tile_secondary {
        display: none;
    }
    
    .popDeal .tile_label {
        height: auto;
    }
    
    .popDeal .sl_topdeal_label {
        display: none;
    }
    
    .popDeal .sl_retailer_name {
        padding: 5px;
    }
    
    .sl_top_deals {
        margin-bottom: 10px;
        height: 160px;
        overflow: hidden;
    }
    
    .carousel_nav span {
        left: -4px;
        background: url("/static/shoplocal/img/shoplocal_sprite.png") no-repeat scroll -290px -105px #F3F3F3;
    }
    
    .carousel_nav span.next {
        right: -4px;
        background-position: -416px -105px;
    }
    
    
}


/*Small desktop*/
@media only screen and (max-width: 1000px) {
    
    
    .ads_right_sky {
        display: none;
    }
    
    .sl_homepage {
        width: 100%;
    }
    
    
    .btnDeals, .btnAds {
        background: none;
    }
    
    .sl_deal_sortby {
        position: relative;
        float: right;
        margin-right: 0px;
    }
    
    
    .ecomm .tile_label {
        height: 78px;
    }
    
    .sl_ecomm_logo {
        margin-top: -5px;
    }
    
    .sl_footer .email_signup {
        width: 100%
    }

       
}


/*---------------Small desktop-------------------*/
@media only screen and (max-width: 925px) {

.sl_search_cancel {
        background: url("/static/shoplocal/img/shoplocal_sprite.png") no-repeat scroll -190px -454px #215D86;
        border-radius: 0px;
        -webkit-border-radius: 0px;
        border-width: 0;
        color: #FFFFFF;
        cursor: pointer;
        display: inline-block;
        font-size: 18px;
        height: 35px;
        padding: 2px;
        position: absolute;
        right: 2px;
        top: 2px;
        width: 36px;
        z-index: 99999;  
    }
    
    .sl_search_box {
        display: none;
        width: 75%;
        float: none;
        margin-right: 6px;
        position: absolute;
        right: 0;
        top: 0;
    }
    
    
    .sl_mobile_search {
        display: inline-block;
        padding: 5px;
        width: 40px;
        height: 40px;
        padding: 10px;
        position: absolute;
        right: 8px;
        top: 8px;
        text-overflow: hidden;
        text-indent: -9999px;
    	background: url('/static/shoplocal/img/shoplocal_sprite.png') no-repeat -1px -92px;
    }
    
    
}


/*Large tablet portrait*/
@media only screen and (max-width: 768px) {

/*--------------------------------COUPONS RESPONSIVE----------------------------*/
    
    .sl_mobile_coupons_msg {
        clear:both;
    }
    
    .email_signup {
        width: 100%;
    }
    
    .showInTabletPortrait {
        display: inline-block;
    }
    
    .ads_gas iframe {
        width: 145px !important;
    }
    
    .gas_cube iframe {
        width: 100% !important;
    }

}

/*Large tablet portrait*/
@media only screen and (max-width: 760px) {
    
    .ads_leaderboard, .ads_leaderboard_footer {
        display: none
    }
 
}

/*All mobile devices*/
@media only screen and (max-width: 700px) {
    
    .hideFromMobile {
        display: none;
    }
   
   .showInMobile {
        display: block;
    }
    
    .showInlineMobile {
        display: inline;
    }
    
    
	/*-------------------------Global nav responsive--------------------------------*/
	.sl_mobile_nav {
        display: inline-block;
        padding: 5px;
        width: 40px;
        height: 40px;
        padding: 10px;
        margin: 7px 10px 0 0px;
	
    }
    
    .sl_logo {
        background-image: url('/static/shoplocal/img/logo.png');
        background-repeat: no-repeat;
        background-position: 0px 0px;
        display: block;
        height: 30px;
        width: 130px;
        background-size: 100%;
        float: none;
        margin: 5px auto;
    }
    
    .second_nav {
        display: none;
        position: absolute;
        left: 0px;
        top: 35px;
        width: 100%;
        margin: 0;
        z-index: 9999;
    }
    
    .second_nav .ddArrow {
        display: none;
    }
    
    .second_nav button {
        width: 100%;
        color: #666;
        padding: 10px 15px;
        text-align: left;
        text-shadow: none;
    }
    
    .second_nav button:hover {
        background: #000;
        border: 0px solid transparent;
        color: #fff;
        box-shadow: none;
    }
    
    .second_nav button:active {
        background: #000;
        border: 0px solid transparent;
    }
    
    .second_nav .selected {
        color: #fff !important;
    }
    
    .second_nav ul {
        background-color: #ccc;
        box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.3);
        padding: 10px 0px 10px 0px;
    }
    
    .second_nav li {
        display: block;
    }
    
    .sl_search_box {
        display: none;
        width: 83%;
        float: none;
    }
    
    .btnHome {
        display: block;
    }
    
    .btnTop {
        right: 5px;
    }
    
    .sl_city {
        max-width: 150px;
    }
    
    #WeekyAdsHome_PretailerList li {
        height: 82px;
    }
    
    /*------------------ONBOARDING/EMAIL SIGNUP RESPONSIVE-----------------------*/
    
    .onboarding_email .email_signup {
        margin-top: 40px;
    }
    
    .bluebox {
        margin: 10px auto;
    }
    
    
    .sl_onboarding_email_error {
        bottom:-12px; 
        left:18px; 
    }
    
    /*------------------------------------------------------*/
	
	.selSortby{
		position:absolute;
		width:1px; height:1px;
	}
    
    .first_nav {
        height: 35px;
    }
    
    .first_nav .sl_wrapper {
        padding: 0px;
    }
    
    .sl_mobile_nav {
        position: absolute;
        left: 5px;
        top: -3px;
        margin: 0;
    }
    
    .sl_mobile_search {
        top: -3px;
    }
    
    
    .arrow-up {
        left: 15px;
        display: block;
    }

    
    .tile_image, .medium-tile .tile_image, .large-tile .tile_image {
        height: 300px;
    }
    
    .sl_location .sl_wrapper {
        padding: 0px 10px;
    }
    
    .sl_location_text {
        left: 35px;
    }
    
    .sl_homeview {
        margin-top: 5px !important;
    }
    
    .sl_homepage_headline {
        font-size: 25px;
    }
    
    /*-----------------Carousel-------------------------*/
    
    .onboarding_main {
        border-right: 0px solid #bdbdbd;
        border-bottom: 1px solid #bdbdbd;
    }
    
    .carousel_nav {
        display: none;
    }
    
    .sl_top_deals {
        height: 120px;
    }
    
    .swiper-slide {
      width: 120px;
      height: 120px;
    }
    
    
    /*--------------Resposive ad behavior-----------------*/
    
    .ads_mpu {
        display: none !important;
    }
    
    .ads_gas iframe {
        width: 90% !important;
    }
    
    .gas_cube iframe {
        width: 100% !important;
    }
    
	
	/*----------------Deal Browse responsive-----------------*/
	
	.filtering a {
	   padding: 15px 10px;
	   width: auto;
	   display: block;
	   font-size: 16px;
	}
	
	.filtering li {
	   border-bottom: 1px solid #ccc;
	   background: url('/static/shoplocal/img/arrow-r.png') 95% center no-repeat;
	   padding: 0px;
	}
	
	.filtering li:last-child {
	   border: none;
	}
	
	.sl_headline {
	   display: none;
	}
	
	.sl_deal_count {
	   margin: 15px 0px 0px 0px;
	   float: none;
	}
	
	.deals {
	   margin: 0px;
	}
	
	.sl_search_box {
        display: none;
        width: 100%;
        float: none;
        margin-right: 0px;
        position: absolute;
        right: 0;
        top: -7px;
    }
    
    .sl_search_cancel {
        width: 39px;
    }
	
	.sl_wrapper {
	   padding: 0px 10px;
	}
	
	.btnFilter {
	   background-color: #E3F4FF;
        border: 1px solid #bebebe;
        
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        
        color: #333333;
        display: block;
        font-size: 16px;
        font-weight: 600;
        padding: 7px;
        right: 81px;
        text-align: center;
        text-decoration: none;
        top: 43px;
        width: 66px;
        margin-left: 5px;
        float: right;
	}
	
	.btnSort {
	   display: block;
	   width: 60px;
	   background-color: #E3F4FF;
       color: #333333;
       font-size: 16px;
       font-weight: 600;
       right: 11px;
       top: 43px;
       text-align: center;
       text-decoration: none;
       padding: 7px;
       border-radius: 3px;
       -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
       border: 1px solid #bebebe;
       float: right;
	}
	
	.btnSortText {
	   display: block;
    }
	
	.sl_deal_sortby {
        position: relative;
        float: right;
        right: 0px;
        top: 5px;
        max-height: 40px;
    }
	
	.deals select {
       border: 0;
       -webkit-appearance: none;
       -moz-appearance: none;
       opacity: 0.0;	   
       position: relative;
       top: -37px;
       left: 0px;
       float: left;
       width: 60px;
	   height:40px;
	}
	
	.sl_sort_label {
	   display: none;
	}
	
	.mobileSort {
	   z-index: 9999; 
	   background-color: rgba(0, 0, 0, 0.5); 
	   position: absolute; 
	   top: 0px; 
	   width: 100%; 
	   height: 120%;
	   min-height: 120%;
	   margin: 0 auto;
	}
	
	.filter_fields {
	   background-color: #fff;
	   position: relative;
	   padding: 30px;
	}
	
	.filter_fields select {
	   width: 220px;
	   
	   -webkit-appearance:none;
        -moz-appearance:none;
        appearance:none;
    
	   border: 1px solid #CECECE;
        color: #2C5987;
        display: block;
        font-size: 16px;
        font-weight: bold;
        height: 40px;
        padding-left: 10px;
        background: url(/static/shoplocal/img/shoplocal_sprite.png) -62px -372px, -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(237,236,234)), color-stop(0.2, rgb(255,255,255)), color-stop(1, rgb(230,230,228)) );
        background: url(/static/shoplocal/img/shoplocal_sprite.png) -62px -372px, -moz-gradient( linear, left bottom, left top, color-stop(0, rgb(237,236,234)), color-stop(0.2, rgb(255,255,255)), color-stop(1, rgb(230,230,228)) );
	   
	   
	}
	
	.sl-ui-modal .sl_close_button {
	   top: 1px;
	   right: 1px;
	}
	
	.sl_drill_form {
	   padding: 25px;
	   background-color: #fff;	   
	   padding: 10px;
	}
	
	.sl_filter_header {
	   background-color: #E3F4FF;
        border-bottom: 1px solid #BEBEBE;
        color: #333333;
        display: block;
        font-size: 16px;
        font-weight: 600;
        padding: 7px;
        text-transform: uppercase;
	}
	
	.sl_listing, 
	.sl_coupon {
        height: 350px;
    }
    
    .sl_featured_tile .sl_listing {
        height: 300px;
    }
    
    .sl_listing .tile_image,
    .sl_coupon .tile_image {
        height: 300px;
        background-position: center center;
    }
    
    .sl_featured_tile .sl_listing .tile_image {
        height: 250px;
    }
    
    .sl_breadcrumb_link {
        max-width: 90%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    
    .sl_breadcrumb_trail {
        padding: 5px 10px 0px 4px;
        font-size: 13px;
        line-height: 22px;
    }
    
    .whitebg {
        padding: 0px;
    }
    
    
    /*-------------------DETAIL page responsive------------------*/
    
    .sl_detail_grayarea .sl_wrapper {
        padding: 0px 20px;
    }
    
    .ecomm .tile_label {
        height: 81px;
    }
    
    .sl_detail_wrap {
        padding: 0px 10px 0px 10px;
    }
    
    .ads_gas {
        margin-left: 0px;
    }
    
    .bcwrap {
        display: none;
    }
    
    .breadcrumb_ellipsis {
        display: inline-block;
    }
    
    
     /*---------------------RETAILER PAGE responsive -----------------------------*/
    
    
    .sl_retailer_page .whitebg {
        padding: 8px 0px 8px 0px;
    }
    
    .sl_retailer_page .whitebg button {
        background: #fcfcfc; /* Old browsers */
        background: -moz-linear-gradient(top,  #fcfcfc 0%, #e5e5e5 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #fcfcfc 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #fcfcfc 0%,#e5e5e5 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #fcfcfc 0%,#e5e5e5 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #fcfcfc 0%,#e5e5e5 100%); /* W3C */
        
        border-radius: 3px;
        border: 1px solid #cacaca;
        font-size: 14px;
        color: #666;
        padding: 5px 0px;
        display: block;
        text-align: center;
        width: 100%;
    }
    
    .btnDisabled {
        background: #eee;
        
        border-radius: 3px;
        font-size: 14px;
        color: #ccc;
        padding: 5px 0px;
        display: block;
        text-align: center;
        width: 100%;
        margin-bottom: 5px;
    }
    
    .btnCall {
        margin-bottom: 5px;
    }
    
    .btnPrevMobile, .btnNextMobile {    	
    	background-color: black;
    	background-image: url(/static/shoplocal/img/shoplocal_sprite.png);
    	border-radius: 100px;
    
    	font-size: 15px;
    	width: 40px;
    	height: 40px;
    	display: block;
    	text-indent: -9999px;
    	
    	overflow: hidden;
    }
    
    .btnPrevMobile {
        background-position: 5px -815px;
    }
    
    .btnNextMobile {
        background-position: -83px -815px;
    }
    
    .disabled {
        opacity: 0.1;
    }
    
    .sl_pagination {
        text-align: center;
        padding-top: 11px;
        float: left !important;
    }
    
    .sl_additional_ads {
        padding-top: 25px;
        border-top: 1px solid #cecece;
    }
    
    .sl_additional_ads h1 {
        font-size: 25px;
    }
    
    .sl_retailer_hours {
        padding: 15px 10px;
    }
    
    .sl_retailer_page .tile_image {
        height: 290px;
    }
    
    .sl_popup_retailer_info {
        padding: 15px;
    }
    
    .sl_retailer_address1 {
        padding: 5px 10px 10px 10px;
    }
    
    .sl_popup_retailer_info .sl_retailer_name {
        text-align: left;
        padding: 10px 10px 0px 10px;
    }
    
    .btnMobileMap {
        width: 100%;
        padding: 8px;
    }
    
    .sl_retailer_page .sl_retailer_name {
        padding: 10px;
        text-align: right;
    }
    
    .sl_retailer_landing {
        margin-top: 10px;
    }
    
    .sl_retailer_heading {
        margin-top: 2px;
        margin-bottom: 10px;
        font-size: 18px;
    }
    
    
    /*--------------------------------COUPONS RESPONSIVE----------------------------*/
    
    .sl_mobile_coupons_msg {
        float: none;
    }
    
    
    /*--------------------------------FOOTER RESPONSIVE--------------------------------*/
    
    .sl_footer {
        height: auto;
        padding: 0;
    }
    
    .sl_footer h4 {
        margin: 10px 0px;
        font-size: 18px;
    }
    
    .sl_bag_watermark {
        height: auto
    }
    
    .inset-shadow {
        -webkit-box-shadow: 0px 0 0 0 transparent inset;
        box-shadow: 0px 0 0 0 transparent inset;
        border: 0px;
        padding: 0px 10px 0px 10px;
        height: auto;
    }
    
    .sl_bag_watermark {
        background-size: 35%;
    }
    
    .sl_copyright_text {
        margin: 0;
    }
    
	
}