﻿.sl-ui-modal-underlay {
    background-color: #000;
    opacity: 0.5;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}
.sl-ui-modal-ajax-spinner{
    width: 40px;
    height: 40px;
    margin: 0 auto;    
    text-align: center;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    background-color: #ffffff;
}
.sl-ui-modal-ajax-error{
    padding-top:35px;    
}
.sl-ui-modal-close{
    position:absolute;    
    top:0px; 
    right:0px;
}
.sl-ui-modal-overlay-content{
     background-color:#ffffff;
	 margin:10px;
	 -webkit-box-shadow:  2px 2px 2px 0px rgba(0, 0, 0, 0.5);
     box-shadow:  2px 2px 2px 0px rgba(0, 0, 0, 0.5);
}
.sl-ui-modal-print{
	display:none;
}