.gutter{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAABp0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuMTAw9HKhAAAADUlEQVQYV2P4//8/AwAI/AL+iF8G4AAAAABJRU5ErkJggg==);
    background-repeat: repeat-y;
    width:35px;height:100%;
    display:block;
    cursor:pointer;
}
.gutterPositionLeft{
    position:absolute;
    top:0;left:0;    
    }
.gutterPositionRight{
    position:absolute;
    top:0;right:-1px;
    }
.gutterCSSTable{
    display: table; 
    width:100%;height:100%;
    overflow: hidden;
    }
.gutterCSSTabCell{
    display: table-cell;
    vertical-align: middle;
}
.inactive{
    display: none;
}