/*
Theme Name: SociallyViral Pro by MyThemeShop
Theme URI: http://mythemeshop.com/themes/sociallyviral
Author: MyThemeShop
Author URI: http://mythemeshop.com/
Description: SociallyViral is an engaging WordPress theme that is designed to help boost social shares and get you more viral traffic from the web's top social media websites.
Version: 2.0.15
Text Domain: sociallyviral
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
html {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block }
ol, ul { list-style: none }
blockquote, q { quotes: none }
table {
    border-collapse: collapse;
    border-spacing: 0;
}
button, input, select, textarea { margin: 0 }
:focus { outline: 0 }
img, video, object {
    max-width: 100%;
    height: auto!important;
}
iframe { max-width: 100% }
blockquote {
    font-weight: normal;
    padding: 0 10px 20px 27px;
    position: relative;
    margin-top: 25px;
    font-family: Georgia;
    font-size: 20px;
}
blockquote:after {
    font-family: FontAwesome;
    position: absolute;
    content: "\f10d";
    font-size: 20px;
    width: 50px;
    top: 0;
    left: 0;
}
blockquote p { margin-bottom: 10px }
strong, b { font-weight: bold }
em, i, cite { font-style: italic }
small { font-size: 100% }
figure { margin: 10px 0 }
code, pre {
    font-weight: normal;
    font-style: normal;
}
pre {
    margin: 5px 0 20px 0;
    line-height: 1.3em;
    padding: 8px 10px;
    overflow: auto;
}
code {
    padding: 0 8px;
    line-height: 1.5;
}
mark {
    padding: 1px 6px;
    margin: 0 2px;
    color: black;
    background: #FFF7A8;
}
address {
    margin: 10px 0;
    font-style: italic;
}
.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%;
    padding: 5px 3px 10px;
    text-align: center;
}
.sticky {

}
.gallery-caption {

}
#gallery-1 img { border: 0!important }
.bypostauthor {

}
.wp-caption-text { margin-bottom: 0 }
dl {

}
dt {
    float: left;
    clear: left;
    width: 100px;
    text-align: right;
    font-weight: bold;
}
dd {
    margin: 0 0 0 110px;
    padding: 0 0 0.5em 0;
    overflow: hidden;
}
/*-[ Framework ]--------------------*/
body {
    font: 16px/27px Fira Sans, sans-serif;
    color: #707070;
    background-color: #F0EDE9;
}
::-moz-selection {
    background: #222;
    color: white;
    text-shadow: none;
}
::selection {
    background: #222;
    color: white;
    text-shadow: none;
}
#page, .container {
    position: relative;
    margin-right: auto;
    margin-left: auto;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    margin-bottom: 12px;
    color: #555;
}
h1 { line-height: 1.1 }
h2 { line-height: 1.2 }
h3 { line-height: 1.3 }
h4 {
    font-size: 20px;
    line-height: 1.4;
}
h5 {
    font-size: 18px;
    line-height: 1.4;
}
h6 {
    font-size: 16px;
    line-height: 1.4;
}
.sub-title { font-size: 12px }
p { margin-bottom: 20px }
a {
    text-decoration: none;
    color: #33BCF2;
    transition: color 0.25s ease-in;
}
a:hover { color: #EE210B }
a:link, a:visited, a:active { text-decoration: none }
/*-[ Main container ]---------------*/
.main-container {
    width: 1170px;
    margin: 0 auto;
    clear: both;
    display: block;
    padding: 0;
}
#page, .container {
    max-width: 1170px;
    min-width: 240px;
}
#page {
    margin-top: 40px;
    min-height: 100px;
    clear: both;
    float: left;
    width: 100%;
}
div#page.single, #page.error, .woocommerce #page {
    background: #fff;
    float: left;
    width: 100%;
    padding: 25px;
    box-sizing: border-box;
    margin-top: 11px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    margin-bottom: 30px;
}
.error404 .header-ad, .woocommerce .header-ad { margin-bottom: 7px }
.woocommerce #page { margin-top: 30px }
.error #s { border: 1px solid rgba(0, 0, 0, 0.2) }
.error p { color: #707070 }
/*-[ Header ]-----------------------*/
header {
    float: left;
    width: 100%;
    position: relative;
}
#site-header {
    position: relative;
    float: left;
    width: 100%;
    z-index: 99;
    background: #fff;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}
#site-header .container { background: #fff }
#header {
    position: relative;
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
    margin-top: 0;
    text-align: center;
}
#header h1, #header h2 {
    float: left;
    display: inline-block;
    line-height: 1;
    position: relative;
    margin-bottom: 29px;
    margin-top: 30px;
}
#logo a {
    float: left;
    line-height: 1;
}
.image-logo { margin-top: 10px }
#logo img { float: left }
.logo-wrap {
    padding: 0 0 0 25px;
    overflow: hidden;
    float: left;
    display: inline-block;
    box-sizing: border-box;
}
.site-description {
    float: left;
    margin-top: 0;
    max-width: 350px;
    clear: left;
}
#header .header-search {
    float: none;
    width: 100%;
    max-width: 453px;
    margin-bottom: 23px;
    margin-top: 31px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    text-align: left;
}
#header #searchform {
    width: 100%;
    float: left;
}
#header #s {
    margin: 0 !important;
    width: 100%;
    background: #EFEBE7;
    border-color: #EFEBE7;
}
.header-social {
    float: right;
    display: inline-block;
    margin-right: 25px;
    margin-bottom: 32px;
}
#header .header-social { margin-top: 32px }
.header-social a {
    padding: 12px 0px 8px;
    float: left;
    font-size: 20px;
    line-height: 1;
    width: 42px;
    box-sizing: border-box;
    margin-right: 3px;
    text-align: center;
}
.header-social a:last-child { margin-right: 0 }
.header-social a .fa { color: #fff }
.widget-header .textwidget {
    float: left;
    margin-top: 46px;
    border-left: 1px solid #cccccc;
    padding-left: 20px;
}
.header-ad {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 25px;
    margin-bottom: -20px;
}
.single .header-ad, .woocommerce .header-ad { margin-bottom: 0 }
.single .header-ad {

}
/*-[ Navigation ]-----------------*/
.menu-item-has-children > a:after {
    content: "\f0d7";
    font-family: FontAwesome;
    position: absolute;
    right: 25px;
}
#primary-navigation {
    display: block;
    float: right;
    width: 100%;
    text-align: left;
    max-width: 1170px;
}
#primary-navigation a {
    color: #FFF;
    text-align: left;
    text-decoration: none;
    padding: 8px 25px;
    transition: none;
}
#primary-navigation a {
    padding: 15px 14px;
    box-sizing: border-box;
}
#primary-navigation .menu-item-has-children > a { padding-right: 45px }
.navigation ul li:hover { background: rgba(0, 0, 0, 0.08) }
.navigation ul li:hover a { color: #fff!important }
#primary-navigation a .sub {
    font-size: 11px;
    font-weight: normal;
    color: #9B9B9B;
}
.navigation { float: left }
.navigation ul { margin: 0 auto }
.navigation ul li {
    float: left;
    line-height: 24px;
    position: relative;
    border-right: 1px solid rgba(255, 255, 255, 0.22);
    transition: background 0.25s ease-in;
}
.navigation ul li a, .navigation ul li a:link, .navigation ul li a:visited { display: inline-block }
.navigation > ul > .current a {
    background: transparent;
    color: #5a5a5a !important;
}
.navigation ul li li { border-bottom: 0 }
.navigation ul ul {
    position: absolute;
    width: 265px;
    padding: 20px 0 0 0;
    padding-top: 0;
    z-index: 400;
    font-size: 12px;
    color: #798189;
    border-top: 1px solid rgba(255, 255, 255, 0.22);
}
.navigation ul ul li {
    padding: 0;
    border-right: 0;
}
.navigation ul ul a, .navigation ul ul a:link, .navigation ul ul a:visited {
    padding: 13px 45px 13px 20px;
    position: relative;
    width: 265px;
    border-left: 0;
    background: transparent;
    border-right: 0;
    border-radius: 0;
    border-bottom: 0;
    margin: 0;
}
.navigation ul ul li:first-child a {

}
.navigation ul ul li:last-child a { border-bottom: none }
.navigation ul ul { display: none }
.navigation ul ul ul {
    left: 255px;
    top: -1px;
}
#navigation .wpmm-megamenu-showing.wpmm-light-scheme { background: rgba(0, 0, 0, 0.08)!important }
#navigation .wpmm-megamenu-showing.wpmm-light-scheme a { color: #fff!important }
#wpmm-megamenu .review-total-only { max-height: 25px }
.sub-menu .menu-item-has-children:after { color: #fff }
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after { clear: both }
.clearfix { *zoom: 1    }
#primary-navigation #navigation i { margin-right: 4px }
.mobile-menu.footer { display: none !important }
.navigation .toggle-caret { display: none }
a#pull { display: none }
.navigation i { margin-right: 4px }
/* Flyout nav */
.sticky-navigation-active {
    z-index: 500;
    position: fixed;
    top: 0;
    margin: 0 !important;
    -webkit-backface-visibility: hidden;
}
.admin-bar .sticky-navigation-active { top: 32px }
.sticky-navigation a { transition: all 0.25s linear }
.sticky-navigation-active a {
    padding-top: 5px;
    padding-bottom: 5px;
}
/*-[ Content ]--------------------*/
.home-h2 .latestPost.featuredPost {
    width: 100%;
    margin-right: 0;
}
.home-h2 .sidebar.c-4-12 {
    background: #fff;
    width: 33%;
    max-width: 370px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
}
.home-h2 .article { width: 65.812% }
.article {
    width: 67%;
    float: left;
    margin-bottom: 10px;
    padding: 0;
}
#content_box {
    float: left;
    width: 100%;
}
.post {
    float: left;
    width: 100%;
    word-wrap: break-word;
}
.single_post {
    width: 100%;
    overflow: hidden;
}
.single_post .thecategory a { color: #fff }
.single_post .thecategory {
    color: #ffffff;
    padding: 7px 15px;
    margin-left: 0;
    margin-bottom: 15px;
    float: left;
}
.single_page {
    padding-top: 0;
    float: left;
    width: 100%;
}
.post-single-content { clear: both }
.readMore {
    float: right;
    color: #7B7A79;
}
.readMore a { color: #EE210B }
.frontPost .readMore a {
    color: #000;
    font-size: 12px;
}
.ss-full-width {
    background: white;
    overflow: hidden;
    padding-top: 0;
}
.ss-full-width #content_box {
    padding-right: 0;
    padding-left: 0;
}
.ss-full-width #featured-thumbnail, .ss-full-width .featured-thumbnail, .ss-full-width .featured-thumbnail img { float: none }
.post.excerpt {
    clear: both;
    margin-bottom: 30px;
    overflow: hidden;
    padding-bottom: 15px;
    background-color: #fff;
    width: auto;
}
.wp-post-image { float: left; 
border-radius: 7px;
}
.featured-thumbnail {
    float: left;
    max-width: 100%;
    width: 100%;
}
#featured-thumbnail {
    float: left;
    max-width: 100%;
    display: block;
    position: relative;
    width: 100%;
}
.featured-thumbnail img {
    margin-bottom: 0;
    width: 100%;
    float: left;
}
.title { clear: both }
.single-title {
    float: left;
    width: 100%;
    margin-bottom: 5px;
}
h3.featured-category-title { clear: both }
h3.featured-category-title a { color: #555 }
.page h1.title {
    padding-top: 0;
    margin-bottom: 0;
}
.post-info {
    display: block;
    color: #A4A4A4;
    float: left;
    clear: both;
    width: 100%;
    font-size: 13px;
    text-transform: capitalize;
}
.post-info a, .single_post .post-info a { color: #A4A4A4 }
.post-info > span, .widget .vertical-small .post-info > span { margin-right: 35px }
.related-posts .post-info > span { margin-right: 10px }
.post-info > span:last-child { margin-right: 0 }
.post-info i { margin-right: 3px }
.widget .post-info > span { margin-right: 15px }
.related-posts .post-info {
    clear: none;
    float: none;
}
.thecategory { margin-left: 5px }
/**********latest-posts***********/
article header {
    margin-bottom: 11px;
    float: left;
    width: 100%;
}
.single article header { margin-bottom: 17px }
.single-prev-next {
    float: right;
    margin-bottom: 27px;
    overflow: hidden;
}
.single-prev-next a {
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    padding: 10px 15px;
    line-height: 22px;
    margin-right: 3px;
    margin-bottom: 3px;
    position: relative;
    display: inline-block;
    transition: background 0.25s ease-in;
}
.single-prev-next a i { margin-right: 3px }
.single-prev-next a:last-child { margin-right: 0 }
.latestPost {
    width: 17%;
    float: left;
    margin-bottom: 30px;
    margin-right: 2.6%;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    position: relative;
}
.home-h2 .latestPost {
    width: 48.052%;
    margin-right: 3.89600%;
}
.home-h2 .latestPost.last{
    margin-right: 0;
}
.latestPost.featuredPost { width: 65.8% }
.post-label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 7px 15px;
    color: #fff !important;
}
.latestPost.first { clear: left }
.home-h2 .latestPost.first { clear: none }
.latestPost .title {
    display: block;
    margin-bottom: 7px;
}
.latestPost.featuredPost .title { margin-bottom: 0px }
.latestPost header {
    padding: 15px 20px 14px;
    box-sizing: border-box;
    margin-bottom: 0;
    min-height: 135px;
}
.latestPost.featuredPost header { min-height: 92px }
.front-view-content {

}
.single_post header {
    width: 100%;
    margin-bottom: 8px;
}
article img.left, article img.alignleft, .wp-caption.alignleft {
    margin: 0.3em 1.571em 0.5em 0;
    display: block;
    float: left;
}
article img.right, article img.alignright, .wp-caption.alignright {
    margin: 0.3em 0 0.5em 1.571em;
    display: block;
    float: right;
}
article img.center, article img.aligncenter, .wp-caption.aligncenter {
    margin: 0.3em auto 0.5em auto;
    display: block;
}
article img.aligncenter, article img.alignnone {
    margin-top: 1em;
    margin-bottom: 1em;
    display: block;
    clear: both;
}
article ul {
    margin: 1.5em 0 1.571em 1.9em;
    list-style-type: square;
}
article ol {
    margin: 1.5em 0 1.571em 1.9em;
    list-style-type: decimal;
}
article ul ul, article ol ol, article ul ol, article ol ul {
    margin-top: 0;
    margin-bottom: 0;
}
article .iconlist { margin-left: 0 }
article .iconlist li { list-style-type: none }
.thecontent { clear: both }
/*-[ Tweets Widget ]---------------------------*/
.tweets li { margin-bottom: 15px!important }
/*-[ Facebook like box Widget ]---------------------------*/
.tweets li { margin-bottom: 25px!important }
.fb_iframe_widget, .fb_iframe_widget span {
    max-width: 100%;
    width: 100%!important;
}
.widget.facebook_like .widget-title, .widget.mts_googleplus .widget-title { margin-bottom: 0 }
.widget .fb_iframe_widget {
    padding: 0;
    float: left;
}
.widget.mts_googleplus > div { float: left!important }
/*-[ Custom Nav Widget ]---------------------------*/
.widget_nav_menu .fa > a, .widget_nav_menu .fa > a { padding-left: 5px }
.widget_nav_menu .sub-menu { margin-top: 8px }
#sidebar .widget_nav_menu li {
    list-style-type: none;
    margin-left: 0;
}
#sidebar .widget_nav_menu li ul { margin-left: 10px }
#sidebar .widget_nav_menu .sub-menu { display: none }
#sidebar .menu-item-has-children > a:after { content: '' }
#sidebar .menu-item-has-children.active > .toggle-caret i:before { content: "\f068" }
#sidebar .widget_nav_menu .toggle-caret {
    position: absolute;
    right: 0;
    top: 0;
}
/*-[ Text Widget ]---------------------------*/
.widget .textwidget {
    line-height: 23px;
    padding-top: 0;
}
#sidebars .widget.widget_text {
    background: none;
    box-shadow: none;
}
#sidebars .widget_text > div { padding: 0 }
/*-[ Form Input ]------------------*/
input, textarea, select {
    padding: 8px 12px;
    font-size: 14px;
    color: #a4a4a4;
    border: 1px solid #D8D8D8;
    font-family: inherit;
}
textarea {
    overflow: auto;
    resize: vertical;
}
select {
    padding: 6px 10px;
    border-color: #D8D8D8;
}
input:focus, textarea:focus {

}
/*-[ Tables ]--------------------*/
table {
    width: 100%;
    text-align: left;
    margin-bottom: 25px;
    border: 1px solid #E9E9E9;
}
thead {
    background: #FCFCFC;
    font-size: 14px;
    color: #585F65;
}
table th, table td {
    padding: 7px 15px;
    text-align: left;
}
thead th { padding: 14px }
tbody th {
    font-weight: normal;
    border-bottom: 1px solid #E9E9E9;
}
/*-[ Line ]---------------------*/
hr {
    border: none;
    border-bottom: 1px solid #E5E5E5;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    width: 297px;
    margin: 35px 0;
    clear: both;
    position: relative;
}
/*-[ Search Form ]------------------*/
#searchform {
    padding: 0;
    float: left;
    clear: both;
    width: 100%;
    position: relative;
}
.no-results #searchform { margin-bottom: 100px }
.article #searchform { max-width: 300px }
#searchform fieldset { float: left }
.sbutton, #searchsubmit {
    right: 0;
    top: 0;
    padding: 9px 0;
    float: right;
    border: 0;
    width: 42px;
    height: 42px;
    cursor: pointer;
    text-align: center;
    padding-top: 10px;
    color: #a4a4a4;
    transition: all 0.25s linear;
    background: transparent;
    z-index: 10;
    position: absolute;
    border: 0;
    vertical-align: top;
}
#searchform .fa-search {
    font-size: 20px;
    top: 0px;
    color: #FFF;
    background: #33BCF2;
    position: absolute;
    right: 0;
    padding: 9px;
    height: 24px;
    width: 24px;
    text-align: center;
}
#s,.woocommerce-product-search .search-field {
    width: 100%;
    background-color: #fff;
    float: left;
    padding: 8px 0;
    text-indent: 10px;
    color: #555555;
    border: 1px solid #fff;
    box-sizing: border-box;
    height: 42px;
}
.home-h2 #sidebar #s { background: #F0EDE9 }
/* Search input placeholder text styling */
::-webkit-input-placeholder { color: #a4a4a4 }
:-moz-placeholder { color: #a4a4a4 }
::-moz-placeholder { color: #a4a4a4 }
:-ms-input-placeholder { color: #a4a4a4 }
:input-placeholder { color: #a4a4a4 }
/* Microphone icon position fix */
input::-webkit-input-speech-button {
    margin-right: 14px;
    margin-left: 4px;
    cursor: pointer;
}
#searchform fieldset { width: 100% }
.breadcrumb, .breadcrumb> div, .breadcrumb .fa-caret-right, .breadcrumb .root a { float: none }
.breadcrumb {
    clear: both;
    padding: 0;
    overflow: hidden;
    margin-top: 13px;
    float: left;
    width: 100%;
    font-size: 14px;
    color: #a4a4a4;
}
.breadcrumb a { color: #a4a4a4 }
.breadcrumb> div {
    padding: 0 5px;
    overflow: hidden;
    float: none;
    display: inline-block;
}
.breadcrumb .fa-caret-right { padding: 0 }
.breadcrumb .root { padding: 0 }
.breadcrumb .fa-caret-right { padding: 0 0 }
.breadcrumb> div { overflow: visible }
.no-results h2 { font-size: 16px }
/*-[ Read More ]-------------------*/
.read-more {
    margin: 0 0 0 10px;
    line-height: 1.4em;
    background: none;
    padding: 0;
    font-size: 16px;
}
/*-[ Top Ad in Post ]-------------------------------------*/
.topad {
    margin: 0 0 25px 0;
    clear: both;
}
/*-[ Bottom Ad in post ]-----------*/
.bottomad {
    clear: both;
    margin: 0 0 25px 0;
}
.belowad {
    margin-bottom: 20px;
    width: 100%;
}
/*-[ Sidebar ]---------------------*/
#sidebars p { line-height: 20px }
.sidebar.c-4-12 {
    float: right;
    width: 30.7%;
    line-height: 20px;
    max-width: 344px;
    padding: 22px;
    box-sizing: border-box;
}
.sidebar.c-4-12 .widget:last-child { margin-bottom: 0 }
.sidebar.c-4-12 a { color: #555 }
#sidebars .wp-post-image, footer .wp-post-image {
    margin-bottom: 0;
    margin-top: 2px;
    margin-right: 12px!important;
    margin-left: 0;
}
.widget .post-img { position: relative }
.widget .post-img img {
    float: left;
    margin-right: 12px;
    margin-top: 4px;
}
.sidebar.c-4-12 .advanced-recent-posts li.vertical-small .post-img img, .sidebar.c-4-12 .popular-posts li.vertical-small .post-img img, .sidebar.c-4-12 .category-posts li.vertical-small .post-img img, .sidebar.c-4-12 .related-posts-widget li.vertical-small .post-img img, .sidebar.c-4-12 .author-posts-widget li.vertical-small .post-img img { margin: 0; width: 100%; }
.widget .vertical-small .post-title {
    clear: both;
    margin-bottom: 5px;
    float: left;
    width: 100%;
    font-size: 20px;
    line-height: 28px;
}
#sidebars .vertical-small .wp-post-image, footer .vertical-small .wp-post-image {
    margin-right: 0!important;
    margin-top: 0;
}
.widget .vertical-small .post-info {
    width: 100%;
    float: left;
    margin-bottom: 5px;
}
.widget .vertical-small .post-excerpt { clear: both }
#sidebars .widget {
    background: #fff;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}
#sidebars .widget.vertical-small {
    background: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}
#sidebars .widget.vertical-small .post-data { background: #fff }
#sidebars .widget .widget-title { background: #FCFCFC }
#sidebars .widget.vertical-small .widget-title {
    margin-bottom: 30px;
    background: transparent;
    padding: 0;
    border: 0;
}
.widget {
    margin-bottom: 30px;
    float: left;
    clear: both;
    width: 100%;
}
.latestPost.homepage-widget .widget { margin-bottom: 0 }
.widget .title {
    font-weight: bold;
    text-transform: uppercase;
    color: #545E68;
    font-size: 12px;
}
.widget li {
    list-style-type: square;
    margin-left: 17px;
    margin-bottom: 7px;
    position: relative;
}
.widget > h3 {
    font-size: 20px;
    line-height: 18px;
    margin: 0 0 15px 0;
    padding: 15px;
    border-bottom: 1px solid #e9e9e9;
}
.widget.vertical-small > h3 { padding: 0 }
.home-h2 .widget .vertical-small .post-data {padding: 15px 0 0; box-shadow: none; }
.home-h2  .widget .vertical-small .post-info { margin-bottom: 0; }
.home-h2 .widget > h3 {
    padding: 0;
    padding-bottom: 15px;
}
.sidebar .widget.vertical-small {
    background: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.widget .post-title {
    font-size: 17px;
    overflow: hidden;
    margin-bottom: 5px;
}
.widget .post-info {
    width: auto;
    float: none;
    overflow: hidden;
    display: inline;
}
.sidebar .widget {
    background: #fff;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    position: relative;
}
.sidebar.c-4-12 .widget.social-profile-icons {
    padding: 14px;
    box-sizing: border-box;
}
.home-h2 .sidebar .widget {
    box-shadow: none;
    background: transparent;
}
.home-h2 .sidebar .widget.mts_ad_300_widget > div {
    padding: 13px;
    background: #F0EDE9;
    overflow: hidden;
}
.sidebar.c-4-12 .advanced-recent-posts li, .sidebar.c-4-12 .popular-posts li, .sidebar.c-4-12 .category-posts li, .sidebar.c-4-12 .related-posts-widget li, .sidebar.c-4-12 .author-posts-widget li {
    padding: 10px 15px;
    margin: 0;
    background: #ffffff;
    box-sizing: border-box;
}
.sidebar.c-4-12 .advanced-recent-posts li:first-child, .sidebar.c-4-12 .popular-posts li:first-child, .sidebar.c-4-12 .category-posts li:first-child, .sidebar.c-4-12 .related-posts-widget li:first-child, .sidebar.c-4-12 .author-posts-widget li:first-child { padding-top: 0!important; }
.home-h2 .sidebar.c-4-12 .advanced-recent-posts li, .home-h2 .sidebar.c-4-12 .popular-posts li, .home-h2 .sidebar.c-4-12 .category-posts li, .home-h2 .sidebar.c-4-12 .related-posts-widget li, .home-h2 .sidebar.c-4-12 .author-posts-widget li { padding: 10px 0; }
.sidebar.c-4-12 .advanced-recent-posts li.vertical-small, .sidebar.c-4-12 .popular-posts li.vertical-small, .sidebar.c-4-12 .category-posts li.vertical-small, .sidebar.c-4-12 .related-posts-widget li.vertical-small, .sidebar.c-4-12 .author-posts-widget li.vertical-small {
    padding: 0;
    margin-bottom: 30px;
}
.sidebar.c-4-12 .advanced-recent-posts li.vertical-small:last-child, .sidebar.c-4-12 .popular-posts li.vertical-small:last-child, .sidebar.c-4-12 .category-posts li.vertical-small:last-child, .sidebar.c-4-12 .related-posts-widget li.vertical-small:last-child, .sidebar.c-4-12 .author-posts-widget li.vertical-small:last-child { margin-bottom: 0 }
.widget .vertical-small .post-data {
    float: left;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}
.widget .advanced-recent-posts, .widget .popular-posts, .widget .category-posts, .widget .related-posts-widget, .widget .author-posts-widget { padding: 0 }
.advanced-recent-posts li, .popular-posts li, .category-posts li, .related-posts-widget li, .author-posts-widget li {
    list-style: none!important;
    margin: 0;
    float: left;
    width: 100%;
    transition: all 0.25s linear;
    color: #aaa;
    padding-left: 0;
    background: none;
    padding-top: 2px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    overflow: visible;
}
.advanced-recent-posts li:last-child, .popular-posts li:last-child, .category-posts li:last-child, .related-posts-widget li:last-child, .author-posts-widget li:last-child { margin-bottom: 15px }
.advanced-recent-posts p, .popular-posts p, .category-posts p, .related-posts-widget p, .author-posts-widget p {
    margin: 0;
    font-size: 13px;
}
.widget .meta {
    font-size: 13px;
    color: #777;
    overflow: hidden;
}
.widget .post-excerpt {
    overflow: hidden;
    font-size: 14px;
}
.wpt_widget_content .entry-title { font-weight: normal !important }
/*-[ Social Buttons ]--------------------------*/
.article .rrssb-buttons.large-format li a, .article .rrssb-buttons.large-format li a .text {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
}
.article .rrssb-buttons, .article .rrssb-buttons li, .article .rrssb-buttons li a { box-sizing: border-box }
.header-social.single-social {
    float: left;
    padding: 0;
    margin-bottom: 27px;
}
.header-social.single-social:only-child {

}
.type-page .header-social.single-social {
    width: 100%;
    margin-bottom: 15px;
}
.type-page .header-social.single-social.floating { width: 44px }
article .rrssb-buttons li:last-child { padding-right: 0 }
.single-social a .fa { font-size: 20px }
article .rrssb-buttons {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    height: 42px;
    margin: 0;
    padding: 0;
    width: 100%;
}
article .rrssb-buttons li {
    float: left;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0 1.5px;
    line-height: 13px;
    margin-bottom: 3px;
    width: auto;
}
article .rrssb-buttons li.email a { background-color: #0a88ff }
article .rrssb-buttons li.email a:hover { background-color: #006ed6 }
article .rrssb-buttons li.facebook a, article .rrssb-buttons li.facebookshare a { background-color: #306199 }
article .rrssb-buttons li.facebook a:hover, article .rrssb-buttons li.facebookshare a:hover { background-color: #244872 }
article .rrssb-buttons li.reddit a { background-color: #8bbbe3 }
article .rrssb-buttons li.reddit a:hover { background-color: #62a3d9 }
article .rrssb-buttons li.twitter a { background-color: #26c4f1 }
article .rrssb-buttons li.twitter a:hover { background-color: #0eaad6 }
article .rrssb-buttons li.googleplus a { background-color: #eb5e4c }
article .rrssb-buttons li.googleplus a:hover { background-color: #e93f2e }
article .rrssb-buttons li.pinterest a { background-color: #e13138 }
article .rrssb-buttons li.pinterest a:hover { background-color: #b81621 }
article .rrssb-buttons li.stumbleupon a { background-color: #ff5c30 }
article .rrssb-buttons li.stumbleupon a:hover { background-color: #EF4E22 }
article .rrssb-buttons li a {
    background-color: #ccc;
    display: block;
    font-size: 11px;
    font-weight: bold;
    padding: 11px;
    min-width: 42px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    transition: background-color 0.2s ease-in-out;
}
article .rrssb-buttons li a .icon {

}
article .rrssb-buttons li a .text {
    color: #fff;
    margin-left: 7px;
    vertical-align: 3px;
}
/*-[ Social Profile Widget ]--------------------------*/
.widget > div, .widget > ul, .widget.social-profile-icons .social-profile-icons, .widget.widget_mts_widget_recent_tweets .mts_recent_tweets { box-sizing: border-box }
footer .widget > div, footer .widget > ul, footer .widget.social-profile-icons .social-profile-icons, footer .widget.widget_mts_widget_recent_tweets .mts_recent_tweets { padding: 0 }
.widget .wpt_widget_content, .widget .wp_review_tab_widget_content, .widget.mts_ad_300_widget > div, .widget.mts_ad_widget > div {
    padding: 0;
    border: 0;
}
.social-profile-icons ul li {
    background: none;
    border: none;
    float: left;
    list-style-type: none;
    margin: 0 1.5px 3px 1.5px!important;
    padding: 0 !important;
    border: none !important;
}
.social-profile-icons ul li a {
    width: 42px;
    height: 42px;
    display: block;
    float: left;
    text-align: center;
    line-height: 30px;
    color: #FFF!important;
    transition: all .4s;
    padding: 0;
    position: relative;
}
.social-profile-icons ul li i {
    font-size: 19px;
    line-height: 42px;
}
.social-profile-icons .social-youtube a { background: #c9322b }
.social-profile-icons .social-rss a { background: #ef922f }
.social-profile-icons .social-twitter a { background: #40bff5 }
.social-profile-icons .social-facebook a { background: #5d82d1 }
.social-profile-icons .social-gplus a { background: #eb5e4c }
.social-profile-icons .social-vimeo a { background: #35c6ea }
.social-profile-icons .social-dribbble a { background: #f7659c }
.social-profile-icons .social-tumblr a { background: #426d9b }
.social-profile-icons .social-instagram a { background: #91653f }
.social-profile-icons .social-flickr a { background: #ff48a3 }
.social-profile-icons .social-pinterest a { background: #e13138 }
.social-profile-icons .social-linkedin a { background: #238cc8 }
.social-profile-icons .social-github a { background: #b5a470 }
.social-profile-icons .social-email a { background: #1d90dd }
.social-profile-icons .social-behance a { background: #1879fd }
.social-profile-icons .social-skype a { background: #13c1f3 }
.social-profile-icons .social-soundcloud a { background: #ff7e30 }
.social-profile-icons .social-stumbleupon a { background: #ff5c30 }
.social-profile-icons .social-dropbox a { background: #3476e4 }
.social-profile-icons .social-foursquare a { background: #0bbadf }
.social-profile-icons .social-reddit a { background: #ff4400 }
/*-[ Footer ]-------------------*/
footer .widget li:first-child {
    border-top: none;
    padding-top: 0;
}
.footer-widgets .widget .advanced-recent-posts li {
    margin-bottom: 0 !important;
    padding-top: 12px;
}
.footer-widgets .widget .advanced-recent-posts li:first-child { padding-top: 0 !important }
.footer-widgets h3 { margin: 0 }
footer {
    overflow: hidden;
    width: 100%;
}
footer .footeText {
    width: 960px;
    margin: 22px auto;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}
footer .footeText a {
    color: #fff;
    border-bottom: 2px solid #ee3f02;
}
footer .widget { padding: 1px 0 0 0 }
footer .sidebar .widget .title {
    font-size: 135%;
    color: #D4D8DB;
}
footer .widget { margin-bottom: 20px }
footer {
    position: relative;
    overflow: hidden;
    clear: both;
    background: #fff;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}
footer .container {
    background: #fff;
    padding: 0;
}
footer a { color: #555 }
.footer-widgets {
    overflow: hidden;
    padding: 45px 0 0;
    width: 100%;
    margin: 0;
}
.footer-widgets h3 {
    padding: 0;
    padding-bottom: 12px;
    margin-bottom: 25px;
    border-bottom: 1px solid #ccc;
    padding-top: 0;
}
.f-widget {
    width: 28%;
    float: left;
    position: relative;
    margin-bottom: 0;
    margin-right: 8%;
}
.widgets-num-4 .f-widget {
    width: 23%;
    margin-right: 2.6%;
}
.widgets-num-4 .f-widget.last { margin-right: 0 }
.copyrights {
    float: left;
    width: 100%;
    clear: both;
    padding-bottom: 29px;
    padding-top: 38px;
}
.copyright {
    display: inline-block;
    float: left;
}
#copyright-note {
    width: 1170px;
    margin: 0 auto;
    clear: both;
    max-width: 100%;
    text-align: center;
    font-size: 14px;
    color: #a4a4a4;
}
.copyrights a { color: #a4a4a4 }
a.toplink {
    font-size: 40px;
    line-height: 15px;
    position: absolute;
    left: 50%;
    margin-left: -13px;
}
a.toplink .fa { line-height: 15px }
#footer-navigation #navigation li {
    display: inline-block;
    padding-right: 12px;
    padding-left: 12px;
    border-right: 1px solid #d2d2d2;
    line-height: 1;
    width: auto!important;
    float: none;
}
#footer-navigation li.menu-item-has-children > a:after { display: none }
#footer-navigation #navigation li:last-of-type {
    border-right: 0;
    padding-right: 0;
}
#footer-navigation li ul { display: none }
#footer-navigation li:last-child {
    padding-right: 0;
    border-right: 0;
}
#footer-navigation li:first-child {
    padding-right: 0;
    border-right: 0;
}
#footer-navigation #navigation ul .current-menu-item a {
    background: none;
    color: inherit!important;
}
.postsby { margin-bottom: 25px }
/*-[ Back To Top ]---------------------------*/
.top {
    float: right;
    position: relative;
    text-align: initial;
}
.toplink .fa-chevron-up { font-size: 24px }
#move-to-top {
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    height: 12px;
    padding: 14px 10px;
    position: fixed;
    right: 26px;
    top: 164px;
    transition: all 0.25s linear 0s;
    width: 20px;
    z-index: 25;
    background: #EE210B;
}
#move-to-top:not(.filling) {
    opacity: 0;
    visibility: hidden;
}
#move-to-top .fa-angle-up {
    font-size: 22px;
    position: absolute;
    top: 9px;
}
/*-[ Related Posts ]---------------------------*/
.related-posts {
    margin-top: 20px;
    clear: both;
    float: left;
    width: 100%;
}
.related-posts .latestPost {
    width: 31.3%;
    margin-right: 3.04%;
}
.related-posts .latestPost:nth-child(3n-2) { clear: left!Important }
.related-posts .last {
    margin-right: 0;
    padding-bottom: 0;
}
.related-posts .latestPost .title, .related-posts .latestPost .title a {
    font-size: 18px;
    margin-bottom: 10px;
    line-height: 24px;
}
.related-posts article header {
    margin-bottom: 0;
    border: 1px solid #E9E9E9;
    border-top: 0;
    min-height: 120px;
}
/*-[ Post Tags ]---------------------------------*/
.tags {
    margin: 10px 0 20px 0;
    width: 100%;
    float: left;
}
.tags a { margin-left: 5px }
/*-[ Author Box ]--------------------------------*/
.postauthor {
    margin: 20px 0 30px 0;
    padding: 0;
    min-height: 180px;
    float: left;
    clear: both;
    width: 100%;
}
.postauthor h5 {
    font-weight: normal;
    font-size: 20px;
    padding: 0;
    margin: 20px 0 15px;
    line-height: 1;
    text-transform: capitalize;
    color: #555;
    display: inline-block;
}
.postauthor img {
    float: left;
    margin: 0 20px 0 0;
    width: 23.065%;
}
.author-wrap {
    border: 1px solid #E9E9E9;
    min-height: 168px;
    padding-right: 20px;
}
span.author-posts {
    float: right;
    margin: 20px 0 10px;
    line-height: 1;
}
.postauthor h4 a { color: #473636 }
.related-posts h4, #respond h4, .total-comments, .postauthor h4, .postauthor-top {
    margin-bottom: 25px;
    margin-top: 1px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 1;
}
.postauthor-top {
    padding-top: 5px;
    padding-bottom: 8px;
    margin-bottom: 15px;
}
.clear { clear: both }
.left { float: left }
.right { float: right }
.last { margin-right: 0 }
/*-[ Tag widget ]------------------------------*/
.tagcloud a {
    font-size: 14px!important;
    padding: 8px 15px;
    margin-bottom: 3px;
    float: left;
    margin-right: 3px;
    background: #F47555;
    color: #FFFFFF!important;
    transition: all 0.25s linear;
}
.tagcloud a:hover {

}
/*-[ Subscribe Widget ]------------------------*/
.widget #wp-subscribe, .widget-header #wp-subscribe { box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05) }
/*-[ Ad Widgets ]------------------------------*/
.ad-125 ul {
    float: left;
    width: 100%;
    margin: 0;
    list-style: none;
    max-width: 100%;
    padding: 0 15px 10px;
    box-sizing: border-box;
}
.home-h2 .ad-125 ul { padding: 0 }
.ad-125 li {
    float: left;
    border: none;
    list-style: none!important;
    padding-left: 0;
    background: none;
    margin-bottom: 15px;
    margin-left: 0;
}
.ad-125 li:nth-child(2n+2) { float: right!important }
.ad-125 li:nth-last-child(2), .ad-125 li:last-child { margin-bottom: 0 }
.ad-300 img {
    float: left;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}
/*-[ Calender Widget ]-------------------------*/
#wp-calendar {
    margin-bottom: 0;
    background: #fff;
}
.widget.widget_calendar > div {
    padding: 0;
    background: transparent;
}
#sidebars .widget.widget_calendar {
    background: transparent;
    box-shadow: none;
}
#wp-calendar td {
    text-align: center;
    padding: 7px 0;
    border-top: 1px solid #E9E9E9;
    border-right: 1px solid #E9E9E9;
}
#wp-calendar caption {
    font-size: 16px;
    padding-bottom: 10px;
    font-weight: bold;
}
#wp-calendar #prev {
    text-align: left;
    padding-left: 12px;
}
#wp-calendar #next {
    text-align: right;
    padding-right: 12px;
}
#wp-calendar thead th {
    padding: 10px 0;
    text-align: center;
}
/*-[ WP Tab Widget ]--------------*/
.widget .wpt_widget_content .tab-content li, .widget .wp_review_tab_widget_content .tab-content li {
    border-bottom: 0;
    margin-bottom: 15px;
}
.widget .wpt_widget_content .tab_title a, .widget .wp_review_tab_widget_content .tab_title a {
    background: #fcfcfc;
    font-size: 18px;
    font-weight: 500;
    color: #555;
    line-height: 49px;
    padding: 0;
}
.widget .wpt_widget_content .inside, .widget .wp_review_tab_widget_content .inside { padding-top: 25px }
.widget .wpt_widget_content .wpt-pagination, .widget .wp_review_tab_widget_content .wpt-pagination {
    padding-bottom: 20px;
    padding-top: 10px;
}
/*-[Comments]--------------*/
.nocomments {
    margin-top: 20px;
    clear: both;
    float: left;
    width: 100%;
    display: none;
}
.cnumber { color: #2DB2EB }
#comments {
    padding: 0;
    margin-top: 27px;
    float: left;
    clear: both;
    width: 100%;
    margin-bottom: 0;
}
#commentsAdd {
    width: 100%;
    float: left;
    clear: both;
    margin-bottom: 0;
    margin-top: 20px;
}
#comments .avatar {
    float: left;
    margin-right: 20px;
    margin-top: 7px;
}
.comment-author.vcard { margin-bottom: 3px }
.comment time { padding-left: 10px }
ul.children .commentImageLeft {
    width: 60px;
    height: 90px;
    border-left: 1px solid #c1bbb6;
    border-bottom: 1px solid #c1bbb6;
    position: absolute;
    top: -50px;
    left: -70px;
}
input.text-input, #commentform input { padding: 9px 11px }
input#author, input#email, input#url, .contact-form input {
    width: 100%;
    border: 1px solid #F0EDE9;
    background: #F0EDE9;
    height: 42px;
    box-sizing: border-box;
}
input#author:hover, input#email:hover, input#url:hover, #comment:hover, .contact-form input:hover, .contact-form textarea:hover {
    background: #fff;
    border-radius: 2px;
}
input#author, input#email, input#url, #comment, .contact-form input, .contact-form textarea { transition: all 0.25s ease-in-out }
#cancel-comment-reply-link {
    float: right;
    line-height: 24px;
    margin-top: 0;
}
#cancel-comment-reply-link {
    cursor: pointer;
    margin-top: -49px;
    z-index: 100;
    position: relative;
}
#commentform input#submit, .contact-form #mtscontact_submit {
    line-height: 1;
    background-color: #F47555;
    text-transform: uppercase;
    padding: 12px 15px;
    color: #fff;
    text-decoration: none;
    float: left;
    cursor: pointer;
    display: inline-block;
    border: none;
    transition: all 0.2s linear;
    font-weight: normal;
    font-size: 18px;
    margin-top: 5px;
}
.contact-form #mtscontact_submit {
    margin-top: 15px;
    width: auto;
}
#commentform input#submit:hover, .contactform #submit:hover {
    background: #33BCF2;
    color: #fff;
}
.contactform #submit { float: left }
.contactform label { display: block }
.contactform {
    overflow: hidden;
    margin-bottom: 35px;
}
.error { color: red }
.thanks p { color: green }
ol.commentlist {
    margin-left: 0;
    margin-top: 13px;
}
.commentlist li {
    list-style: none;
    margin: 0 0 25px 0;
    padding-left: 0;
    float: left;
    width: 100%;
    position: relative;
}
.commentlist p { margin-bottom: 5px }
.ago {
    color: #a4a4a4;
    font-size: 12px;
    margin-left: 20px;
    text-transform: capitalize;
}
.fn {
    line-height: 1.375em;
    font-size: 18px;
    font-weight: 500;
    color: #555;
}
.fn a {
    font-weight: 500;
    font-size: 15px;
}
.comment-meta { font-size: 12px }
.commentmetadata { overflow: hidden }
.commentmetadata li {
    border: 0;
    padding: 0;
    margin-top: 0;
    margin-bottom: 5px;
    list-style: square;
}
.commentmetadata ol li { list-style: decimal }
.wp-review-comment-rating { margin-left: -3px }
#commentform .wp-review-comment-field a i, #commentform .wp-review-comment-field .review-result i, .comment .wp-review-comment-rating .review-result i, .comment .wp-review-comment-rating a i { color: #FFB300!important }
.reply {
    margin-top: 0px;
    padding-bottom: 0px;
    overflow: hidden;
    width: 100%;
    float: right;
}
.reply a {
    float: left;
    padding: 0 0px;
    color: #a4a4a4;
    font-size: 12px;
}
.comment #respond #respond { margin-top: 30px }
.commentlist .children {
    margin-left: 10%;
    margin-bottom: 0;
    margin-top: 25px;
    float: left;
    width: 90%;
}
.commentlist .children li { padding-bottom: 0 }
.commentlist .children li:last-child { margin-bottom: 0 }
.avatar { float: left }
#respond h3 {
    font-size: 18px;
    margin: 0;
    padding: 0;
}
.comment-awaiting-moderation {
    font-style: italic;
    font-weight: bold;
}
.commentmetadata ul, .commentmetadata ol { margin-top: 5px }
/*-[ Comment Form ]----------------------------*/
form#commentform {
    overflow: hidden;
    border: 1px solid #e9e9e9;
    padding: 30px;
    width: 100%;
    box-sizing: border-box;
}
#commentform textarea, .contact-form textarea {
    width: 95.5%;
    border: 1px solid #F0EDE9;
    background: #F0EDE9;
    padding: 2%;
    line-height: 25px;
    font-family: inherit;
}
#commentform p {
    margin-bottom: 15px;
    float: left;
    width: 100%;
    clear: both;
}
#commentform p.form-submit { margin-bottom: 0 }
#commentform p label {
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
}
.cancel-comment-reply a {
    float: right;
    margin-top: -8px;
}
.required {
    color: red;
    padding: 0;
    line-height: 1;
}
.comment-notes .required {
    padding-left: 0;
    padding-top: 3px;
}
.comment-notes { font-style: italic }
/*-[ pagination ]------------------*/
.pagination {
    clear: both;
    overflow: hidden;
    float: left;
    width: 100%;
    margin-top: 0;
    margin-bottom: 30px;
    padding: 20px;
    background: #fff;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
}
.single .pagination {
    border: 0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    margin-top: 0;
    padding: 0 0 30px;
    width: 100%;
    margin-bottom: 10px;
}
.pagination ul {
    list-style: none;
    margin: 0;
}
.pagination ul li {
    float: left;
    margin-bottom: 5px;
}
.currenttext, .pagination a:hover, .single .pagination a:hover .currenttext {
    color: #fff;
    margin: 0 5px 0 0;
    display: inline-block;
    float: left;
    line-height: 1;
    text-decoration: none;
    padding: 13px 14px;
    background: #33BCF2;
    min-width: 42px;
    text-align: center;
    box-sizing: border-box;
}
.pagination a, .pagination .dots {
    background: #33BCF2;
    margin: 0 5px 0 0;
    display: inline-block;
    float: left;
    line-height: 42px;
    text-decoration: none;
    color: #fff;
    padding: 0 14px;
    min-width: 42px;
    text-align: center;
    transition: all 0.25s linear;
    box-sizing: border-box;
}
.pagination a:hover { color: #fff }
.pagination .nav-previous {
    float: left;
    margin-bottom: 0;
}
.pagination .nav-next {
    float: right;
    margin-bottom: 0;
}
.pagination .nav-previous a, .pagination .nav-next a { color: #fff!important }
.pagination  .nav-previous a:hover, .pagination .nav-next a:hover { background-color: #F47555 }
.pagination .nav-next a {
    margin-right: 0;
    margin-left: 5px;
}
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
.currenttext, .pagination a:hover, .single .pagination a:hover .currenttext, .page-numbers.current {
    color: #fff;
    margin: 0 5px 0 0;
    min-width: 42px;
    display: inline-block;
    float: left;
    line-height: 42px;
    text-decoration: none;
    padding: 0 14px;
    text-align: center;
    background: #f47555;
    box-sizing: border-box;
}
.single .pagination a .currenttext, .single .pagination a:hover .currenttext {
    padding: 0;
    background: transparent;
    margin-right: 0;
    min-width: 100%;
}
.single .pagination a:hover .currenttext { color: #fff }
.single .post-single-content .pagination a:hover .currenttext {
    padding: 0;
    min-width: auto;
    margin: 0;
    float: none;
    background: transparent;
}
/*-[ Contact Form ]------------------*/
.contact-form { position: relative }
.contact-form.loading:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.8);
}
.contact-form label, .contact-form input, .contact-form textarea {
    display: block;
    width: 100%;
    box-sizing: border-box;
}
.contact-form textarea { height: 200px }
.contact-form label { margin-top: 12px }
.mtscontact_error { color: #B90101 }
/*-[ AJAX search results ]------------------*/
.widget_search { overflow: visible }
.ajax-search-box-open #s { border-bottom: 1px solid #fff }
.ajax-search-results-container {
    position: absolute;
    top: 43px;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    z-index: 9;
    background: #F0EDE9;
    border: 1px solid #EFEBE7;
    border-top: none;
}
.widget .ajax-search-results-container {
    background: #fff;
    border-color: #fff;
}
.ajax-search-results-container.loading:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
}
ul.ajax-search-results {
    margin: 0;
    margin-top: 10px;
    padding: 0;
}
.ajax-search-results li {
    margin: 0;
    margin-bottom: 12px;
    display: block;
    list-style: none;
    padding: 0 12px;
    clear: both;
    min-height: 85px;
}
.ajax-search-results li a { color: #555 }
.ajax-search-results img {
    margin-bottom: 0;
    margin-top: 5px;
    margin-right: 15px;
    margin-left: 0;
    float: left;
}
.ajax-search-meta {
    margin: 0 12px 10px;
    height: 20px;
    font-size: 13px;
}
.ajax-search-meta .results-count {
    float: left;
    color: #aaa;
}
.ajax-search-meta .results-link {
    float: right;
    color: #555;
}
.ajax-search-results-container .no-results {
    padding: 8px;
    color: #AAA;
    font-style: italic;
}
.ajax-search-results li .meta {
    font-size: 14px;
    color: #A4A4A4;
}
/*-[ Load More ]-------------------*/
.pace .pace-progress {
    background: #29d;
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    height: 3px;
    transition: width 0.8s;
}
.admin-bar .pace .pace-progress { top: 32px }
.pace-inactive { display: none }
div#load-posts a {
    float: left;
    width: 100%;
    text-align: center;
    background: #fff;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    margin-bottom: 30px;
    padding: 15px 0;
    line-height: 1;
    font-size: 18px;
    text-transform: uppercase;
}
#load-posts a {
    overflow: hidden;
    color: #555555;
}
#load-posts a.inactive { cursor: default }
#load-posts a .fa { margin-right: 8px }
/*-[ Misc ]---------------------------*/
pre {
    overflow: auto;
    padding: 25px 15px 15px;
    margin: 15px 0;
    position: relative;
    background: #555;
    font-family: monospace;
    color: #fff;
    box-sizing: border-box;
}
pre:before {
    content: "\f121";
    color: #FFF;
    position: absolute;
    font-size: 18px;
    right: 14px;
    top: 6px;
    font-family: fontawesome;
}
.flex-video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
.flex-video iframe, .flex-video object, .flex-video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/*-[ Parallax ]--------------------------------*/
#parallax {
    position: relative;
    padding-bottom: 30%;
    height: 0;
    overflow: hidden;
    background-size: cover;
    margin-bottom: 15px;
}
#page.parallax { padding-top: 15px }
/*-[ WP Review ]--------------------------------*/
.latestPost-review-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    background: #FFF;
    padding: 7px 15px;
    color: #fff !important;
}
.related-posts .latestPost-review-wrapper { padding: 3px 15px }
.latestPost-review-wrapper .review-total-star { margin: 1px 0 }
.latestPost-review-wrapper .percentage-icon {
    top: 0;
    font-size: inherit;
    font-style: normal;
}
.review-type-circle.review-total-only, .review-type-circle.wp-review-show-total { overflow: hidden }
/*-[ WP MegaMenu ]--------------------------------*/
#primary-navigation #wpmm-megamenu { border-top: 1px solid rgba(255, 255, 255, 0.22) }
#primary-navigation #wpmm-megamenu .wpmm-posts .wpmm-entry-title a { font-weight: 500 }