@charset "utf-8";

/* ------------------------- TOC
setup

 ------------------------- */

/* ============================== setup */
body { color: #333; background-color: #fff; font-size: 14px; font-family: "Lucida Grande", Verdana, "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "MS PGothic", sans-serif; }
table { border-collapse: collapse; border-spacing: 0; }

a { color: #003f99; text-decoration: none; }
a:link { color: #003f99; }
a:visited { color: #003f99; }
a:hover, a:active { color: #005fe7; text-decoration: underline; }
a img, a:link img, a:visited img, a:hover img, a:active img { border: none; text-decoration: none; }


/* ============================== wrapper */
#wrapper { background: url(../img/bg_wrapper.gif) #f5f8fb repeat-x 0 0; margin: 0 auto; padding-top: 6px; }


/* ============================== header */
#header { background: url(../img/bg_header.gif) #ffffff no-repeat center top; border-bottom: 1px solid #a1adb3; }
/*header_inner*/
#header #header_inner { position: relative; background: url(../img/bg_header_inner.gif) #ffffff no-repeat 0 0; width: 960px; margin: 0 auto; padding: 0 32px; }
#header #header_inner h1 { width: 427px; height: 76px; margin: 0 auto; padding-top: 60px; }
#header #header_inner p#cap_header { font-size: 86%; line-height: 1.8; text-align: center; margin-top: 30px; }
/*nav_global*/
#header #header_inner #nav_global { border-top: 1px solid #c6cdd1; margin-top: 22px; padding: 1px 0; }
#header #header_inner #nav_global li { float: left; }
#header #header_inner #nav_global li a { display: block; border: 1px solid #fff; width: 190px; height: 40px; padding-top: 18px; text-align: center; }
#header #header_inner #nav_global li a:hover,
#header #header_inner #nav_global li a:active { border-width: 1px; border-style: solid; }
#header #header_inner #nav_global li#gnav_rikunabi a:hover,
#header #header_inner #nav_global li#gnav_rikunabi a:active { border-color: #80b4db; }
#header #header_inner #nav_global li#gnav_next_rikunabi a:hover,
#header #header_inner #nav_global li#gnav_next_rikunabi a:active { border-color: #f38089; }
#header #header_inner #nav_global li#gnav_haken_rikunabi a:hover,
#header #header_inner #nav_global li#gnav_haken_rikunabi a:active { border-color: #f7bb80; }
#header #header_inner #nav_global li#gnav_yakuzaishi_rikunabi a:hover,
#header #header_inner #nav_global li#gnav_yakuzaishi_rikunabi a:active { border-color: #de80c0; }
#header #header_inner #nav_global li#gnav_shingakunet a:hover,
#header #header_inner #nav_global li#gnav_shingakunet a:active { border-color: #8ad49d; }
/*bt_sns*/
#header #header_inner #bt_sns { position: absolute; top: 15px; right: 32px; }
#header #header_inner #bt_sns ul li { display: inline-block; margin-left: 5px; }


/* ============================== contents */
#contents { width: 960px; margin: 0 auto; padding: 10px 0 30px; }
#contents .lc,
#contents .rc { width: 470px; }
#contents .sec_category { background-color: #fff; border-style: solid; border-width: 1px; border-top-width: 6px; margin-top: 20px; }
#contents .sec_category .tit_category { display: block; background-repeat: no-repeat; background-position: 10px 0; font-size: 114%; font-weight: bold; line-height: 1.6; margin-top: 10px; padding-left: 42px;}
#contents .sec_category .tit_category:hover,
#contents .sec_category .tit_category:active { text-decoration: none; }
#contents .sec_category .cassette_category { padding: 10px 25px 25px; }
#contents .sec_category .hed_category h2 { height: 61px; margin-top: 15px; padding-bottom: 1px; text-align: center; }
#contents .sec_category .hed_category .cap_category { line-height: 1.6; padding-bottom: 20px; border-bottom-width: 1px; border-bottom-style: solid; }
#contents .sec_category .detail_category { }
#contents .sec_category .detail_category h3 { color: #435966; font-weight: bold; margin-top: 20px; line-height: 1.6; }
#contents .sec_category .detail_category p { line-height: 1.6; }
#contents .sec_category .bn_category { margin-top: 25px; }
#contents .sec_category .sec_bt_area { margin-top: 20px; padding: 20px 0 0 8px; text-align: center; border-top-width: 1px; border-top-style: solid; }
#contents .sec_category .sec_bt_area li { display: inline-block; margin-right: 8px; }
#contents .sec_category .sec_bt_area li img { vertical-align: bottom; }
#contents .sec_category .list_box_category { background: url(../img/bg_list_box_category.gif) no-repeat left bottom; margin: 4px 0 25px; font-size: 86%; }
#contents .sec_category .list_box_category_top { background: url(../img/bg_list_box_category_top.gif) no-repeat 0 0; }
#contents .sec_category .list_box_category ul,
#contents .sec_category .list_box_category div { padding: 8px 16px; }
#contents .sec_category .list_category { margin-top: 10px; font-size: 86%; }
#contents .sec_category .list_category li { background: url(../img/line_dot.gif) repeat-x left bottom; line-height: 1.6; padding: 9px 0 11px; }
#contents .sec_category .list_category li a { background-position: 0 0.4em; }
#contents .sec_category .list_box_category li,
#contents .sec_category .list_box_category dd { line-height: 1.5; }
#contents .sec_category .list_box_category li a,
#contents .sec_category .list_box_category dd a,
#contents .sec_category .list_category li a { display: block; background-image: url(../img/bullet_list.png); background-repeat: no-repeat; padding-left: 11px; }
#contents .sec_category .list_box_category li a,
#contents .sec_category .list_box_category dd a { background-position: 0 0.4em; }
#contents .sec_category .list_box_category .list_column_2 { }
#contents .sec_category .list_box_category .list_column_2 li,
#contents .sec_category .list_box_category .list_column_2 dl { float: left; width: 180px; padding-right: 13px; }
#contents .sec_category .list_box_category .list_line { padding-top: 0; }
#contents .sec_category .list_box_category .list_line dt,
#contents .sec_category .list_box_category .list_line dl,
#contents .sec_category .list_box_category .list_line li { background: url(../img/line_dot.gif) repeat-x 0 0; padding-top: 8px; }
#contents .sec_category .list_box_category dt { color: #435966; font-weight: bold; line-height: 1.6; }


/* ============================== sec_rikunabi */
#contents #sec_rikunabi { border-color: #0068b7; }
#contents #sec_rikunabi .tit_category { color: #0066b7; background-image: url(../img/bullet_rikunabi.gif); }
#contents #sec_rikunabi .tit_category:hover,
#contents #sec_rikunabi .tit_category:active { color: #3385c5; background-image: url(../img/bullet_rikunabi_ov.gif); }
#contents #sec_rikunabi .cassette_category { padding: 0 0 20px; }
#contents #sec_rikunabi .detail_category { padding: 0 25px; }
#contents #sec_rikunabi .detail_category h3 { color: #0066b7; margin-top: 0; padding-bottom: 10px; }
#contents #sec_rikunabi .bn_category h4 { color: #0066b7; font-weight: bold; margin-top: 0; padding: 10px 0; }
#contents #sec_rikunabi .icon_ls_arw li { background: url(../img/bullet_list_02.png) no-repeat 0 5px; margin-bottom: 5px; padding-left: 3px; /padding-left: 12px; }
#contents #sec_rikunabi .bn_category { padding: 0 25px; margin-top: 20px; }
#contents #sec_rikunabi .sec_bt_area { margin-top: 10px; padding-top: 0; border-top: none; }
#contents #sec_rikunabi .clearfix{*zoom:1;}
#contents #sec_rikunabi .clearfix:before,
#contents #sec_rikunabi .clearfix:after {display:table;content:"";}
#contents #sec_rikunabi .clearfix:after{clear:both;}
#contents #sec_rikunabi .float_l {float: left;}
#contents #sec_rikunabi #rikunabi_cassette_02,
#contents #sec_rikunabi #rikunabi_cassette_03 { border-top: 1px solid #80b4db; padding-top: 0; }
#contents #sec_rikunabi #rikunabi_cassette_02 .sec_bt_area { margin-top: 0; }
#contents #sec_rikunabi #rikunabi_cassette_03 .bn_category { padding: 0 0 0 10px; }
#contents #sec_rikunabi #rikunabi_cassette_03 .tit_category { letter-spacing: 0; background: url(../img/bullet_rikunabi_2.png) left center no-repeat; }
#contents #sec_rikunabi #rikunabi_cassette_03 .tit_category:hover,
#contents #sec_rikunabi #rikunabi_cassette_03 .tit_category:active { background-image: url(../img/bullet_rikunabi_2_ov.png);}
#contents #sec_rikunabi #rikunabi_cassette_03 .category01 a { margin: 20px 0; }
#contents #sec_rikunabi #rikunabi_cassette_03 .category02 a { margin: 15px 0; }
#contents #sec_rikunabi #rikunabi_cassette_03 .category01 img { margin: 0 15px 0 0; position: relative; top: 5px; }
#contents #sec_rikunabi #rikunabi_cassette_03 .category02 img { margin: 4px 15px 0 0; }
#contents #sec_rikunabi #rikunabi_cassette_03 .category01 span { display: inline-block; vertical-align: middle; font-size:80%; font-weight: normal; line-height: 1.4; cursor: pointer; }
#contents #sec_rikunabi #rikunabi_cassette_03 .category02 span { display: inline-block; vertical-align: top; font-size:80%; font-weight: normal; line-height: 1.4; cursor: pointer; }
#contents #sec_rikunabi .icon_bl_arw { background: url(../img/bullet_list.png) 0 5px no-repeat; padding-left: 11px; }
#contents #sec_rikunabi .notice_area { margin-top: 10px; text-align: center; font-weight: bold; }
#contents #sec_rikunabi .notice_area span { margin-right: 10px; font-size: 140%; color:#DA2D05; }
#contents #sec_rikunabi .sns_area { margin-top: 10px; text-align: center; }
#contents #sec_rikunabi .sns_area li { margin-right: 20px; display: inline; }
#contents #sec_rikunabi .line_top_blue { border-top: 1px solid #80b4db; }
#contents #sec_rikunabi #rikunabi_cassette_01 .category01 { margin: 0 0 20px; }
#contents #sec_rikunabi #rikunabi_cassette_01 .rikunabi_announce { color: #e60012; font-size: 20px; font-weight: bold; margin-bottom: 10px; text-align: center; }
#contents #sec_rikunabi #rikunabi_cassette_01 .rikunabi_announce_open { color: #333; font-size: 14px; }
#contents #sec_rikunabi #rikunabi_cassette_01 .rikunabi_sns { margin: 10px 0 20px 0; text-align: center; }
#contents #sec_rikunabi #rikunabi_cassette_01 .rikunabi_sns li { display: inline-block; *display: inline; margin-right: 10px; }
#contents #sec_rikunabi #rikunabi_cassette_01 .rikunabi_sns li a { background: url(../img/bullet_list.png) no-repeat 0 5px; padding-left: 10px; }
#contents #sec_rikunabi #rikunabi_cassette_01 .dot_list li{background: url(../img/ico_list_dot.png) no-repeat 0 5px; padding-left: 5px; *padding-left: 13px; margin-bottom: 5px;}
#contents #sec_rikunabi #rikunabi_cassette_03 .type01 .tit_category,
#contents #sec_rikunabi #rikunabi_cassette_03 .type01 .type01_link { display: inline-block; *display: inline; margin: 0; vertical-align: top; }
#contents #sec_rikunabi #rikunabi_cassette_03 .tit_cate_type01 { *float: left; *width:218px;}
#contents #sec_rikunabi #rikunabi_cassette_03 .type01 .type01_link li { font-size: 13px; padding-bottom: 5px; }
#contents #sec_rikunabi #rikunabi_cassette_03 .type01 .type01_link .mgb0 { padding-bottom: 0; }
#contents #sec_rikunabi #rikunabi_cassette_03 .type01 .type01_link li a { background: url(../img/bullet_list.png) no-repeat 0 5px; padding-left: 10px; }
#contents #sec_rikunabi #rikunabi_cassette_03 .type01 .tit_category { background-position: 0 8px; padding-bottom: 9px; }
#contents #sec_rikunabi #rikunabi_cassette_03 .nabi_login{ margin-top: 17px; *margin-top: 20px; margin-bottom: -3px; *margin-bottom: 0;}
#contents #sec_rikunabi #rikunabi_cassette_03 .nabi_login .logo_t{padding-top: 18px; *padding-top: 10px; width: 238px;}
#contents #sec_rikunabi #rikunabi_cassette_03 .nabi_login .li_b {margin-bottom: 5px;}
#contents #sec_rikunabi #rikunabi_cassette_03 .nabi_login li a{background: url(../img/bullet_list.png) no-repeat 0 5px; *background: url(../img/bullet_list.png) no-repeat 0 2px; padding-left: 10px;}

#contents #sec_rikunabi #rikunabi_cassette_03 .nabi_login a{margin: 0;}
#contents #sec_rikunabi #rikunabi_cassette_03 .nabi_login a img{top: -8px; top: -5px\9;}

/* ============================== sec_next_rikunabi */
#contents #sec_next_rikunabi,
#contents #sec_next_rikunabi .sec_bt_area { border-color: #e60012; }
#contents #sec_next_rikunabi .tit_category { color: #e60012; background-image: url(../img/bullet_next_rikunabi.gif); }
#contents #sec_next_rikunabi .tit_category:hover,
#contents #sec_next_rikunabi .tit_category:active { color: #ea3341; background-image: url(../img/bullet_next_rikunabi_ov.gif); }
#contents #sec_next_rikunabi .hed_category .cap_category { border-bottom-color: #f38089; }
#contents #sec_next_rikunabi .list_box_category .list_line dt { background: none; padding-top: 0; }
#contents #sec_next_rikunabi .list_box_category .list_column_child dd { float: left; width: 80px; margin-right: 10px; }
#contents #sec_next_rikunabi .detail_category h3 { margin-top: 0; padding-top: 20px; }
#contents #sec_next_rikunabi .list_box_category { margin-bottom: 5px; }
#contents #sec_next_rikunabi .list_category { margin-top: 0; padding-top: 20px; }


/* ============================== sec_haken_rikunabi */
#contents #sec_haken_rikunabi,
#contents #sec_haken_rikunabi .sec_bt_area { border-color: #ee7700; }
#contents #sec_haken_rikunabi .tit_category { color: #ee7700; background-image: url(../img/bullet_haken_rikunabi.gif); }
#contents #sec_haken_rikunabi .tit_category:hover,
#contents #sec_haken_rikunabi .tit_category:active { color: #f19233; background-image: url(../img/bullet_haken_rikunabi_ov.gif); }
#contents #sec_haken_rikunabi .hed_category .cap_category { border-bottom-color: #f7bb80; }
#contents #sec_haken_rikunabi .list_box_category { margin-bottom: 0; }
#contents #sec_haken_rikunabi .list_box_category dl { padding: 8px 16px; }
#contents #sec_haken_rikunabi .list_box_category dl dt { margin-bottom: 8px; }
#contents #sec_haken_rikunabi .list_box_category dl dd { display: inline-block; margin-right: 15px; }
#contents #sec_haken_rikunabi .list_box_category .list_line { padding-top: 0; }
#contents #sec_haken_rikunabi .list_category { margin-top: 0; }
#contents #sec_haken_rikunabi .detail_category h3.tit_list_category { color: #ec7700; margin-top: 25px; }
#contents #sec_haken_rikunabi .detail_category .list_box_category dl dd a{ display: inline; }
#contents #sec_haken_rikunabi .detail_category .list_box_category dl dd a.area{ background: none; padding-left: 0;}

/* ============================== sec_yakuzaishi_rikunabi */
#contents #sec_yakuzaishi_rikunabi,
#contents #sec_yakuzaishi_rikunabi .sec_bt_area { border-color: #bd0081; }
#contents #sec_yakuzaishi_rikunabi .tit_category { color: #bd0081; background-image: url(../img/bullet_yakuzaishi_rikunabi.gif); }
#contents #sec_yakuzaishi_rikunabi .tit_category:hover,
#contents #sec_yakuzaishi_rikunabi .tit_category:active { color: #ca3399; background-image: url(../img/bullet_yakuzaishi_rikunabi_ov.gif); }
#contents #sec_yakuzaishi_rikunabi .hed_category .cap_category { border-bottom-color: #de80c0; }
#contents #sec_yakuzaishi_rikunabi .detail_category h3 { background: url(../img/icon_h3_yakuzaishi_rikunabi.gif) no-repeat 0 25%; color: #bd0081; padding-left: 30px; min-height: 35px; }
#contents #sec_yakuzaishi_rikunabi .bn_category { margin-top: 10px; }


/* ============================== sec_shingakunet */
#contents #sec_shingakunet { border-color: #14a83b; }
#contents #sec_shingakunet .tit_category { color: #14a83b; background-image: url(../img/bullet_shingakunet.gif); }
#contents #sec_shingakunet .tit_category:hover,
#contents #sec_shingakunet .tit_category:active { color: #42b861; background-image: url(../img/bullet_shingakunet_ov.gif); }
#contents #sec_shingakunet .hed_category .cap_category { border-bottom-color: #8ad49d; }
#contents #sec_shingakunet .detail_category h3 { margin-top: 0; padding-top: 20px; }
#contents #sec_shingakunet .list_box_category { margin-bottom: 5px; }
#contents #sec_shingakunet .list_category { margin-top: 0; padding-top: 10px; }


/* ============================== sec_link_list */
#contents #sec_link_list { }
#contents #sec_link_list h2 { color: #435966; font-weight: bold; line-height: 1.6; margin: 25px 0 10px; }
#contents #sec_link_list .detail_category h3 { color: #435966; font-size: 86%; font-weight: bold; line-height: 1.6; margin-bottom: 10px; }
#contents #sec_link_list .detail_category dl { padding: 0 7px; }
#contents #sec_link_list .detail_category dl dt { float: left; }
#contents #sec_link_list .detail_category dl dt img { vertical-align: bottom; }
#contents #sec_link_list .detail_category dl dd { float: right; font-weight: bold; }
#contents #sec_link_list .detail_category dl dd span { color: #003f99; font-weight: normal; }
#contents #sec_link_list .detail_category dl dd a { background: url(../img/bullet_list.png) no-repeat 0 0.2em; padding-left: 14px; }
#contents #sec_link_list .detail_category dl dd .ready { background: url(../img/bullet_list.png) no-repeat 0 0.2em; background-position: 0 0.3em; padding-left: 14px; color: #333 !important;}

#contents #sec_link_list .detail_category #link_list_haken { border-bottom: 1px solid #a1adb3; padding-bottom: 20px; }
#contents #sec_link_list .detail_category #link_list_haken dt { width: 77px; }
#contents #sec_link_list .detail_category #link_list_haken dd { width: 365px; padding-top: 30px; font-size: 86%; }
#contents #sec_link_list .detail_category #link_list_haken dd a { }

#contents #sec_link_list .detail_category .app_line_none{background: none !important;}
#contents #sec_link_list .detail_category .app_line_b,
#contents #sec_link_list .detail_category #link_list_jijitore,
#contents #sec_link_list .detail_category #link_list_next_rikunabi,
#contents #sec_link_list .detail_category #link_list_shingakunet  { background: url(../img/line_dot.gif) repeat-x left bottom; padding-bottom: 9px; }
#contents #sec_link_list .detail_category #link_list_rikunabi17,
#contents #sec_link_list .detail_category #link_list_rikunabi18 { margin-bottom: 9px; }
#contents #sec_link_list .detail_category #link_list_jijitore { padding-top: 8px; margin-bottom: 9px; }
#contents #sec_link_list .detail_category #link_list_next_rikunabi,
#contents #sec_link_list .detail_category #link_list_next_rikunabi,
#contents #sec_link_list .detail_category #link_list_shingakunet { margin-bottom: 9px; }
#contents #sec_link_list .detail_category #link_list_rikunabihaken { border-bottom: 1px solid #a1adb3; padding-bottom: 10px; }

#contents #sec_link_list .detail_category #link_list_rikunabi17 dt,
#contents #sec_link_list .detail_category #link_list_rikunabi18 dt,
#contents #sec_link_list .detail_category #link_list_jijitore dt,
#contents #sec_link_list .detail_category #link_list_next_rikunabi dt,
#contents #sec_link_list .detail_category #link_list_shingakunet dt,
#contents #sec_link_list .detail_category #link_list_rikunabihaken dt { width: 57px; }
#contents #sec_link_list .detail_category #link_list_rikunabi17 dd,
#contents #sec_link_list .detail_category #link_list_rikunabi18 dd,
#contents #sec_link_list .detail_category #link_list_jijitore dd,
#contents #sec_link_list .detail_category #link_list_next_rikunabi dd,
#contents #sec_link_list .detail_category #link_list_shingakunet dd,
#contents #sec_link_list .detail_category #link_list_rikunabihaken dd { width: 386px; padding-top: 20px; font-size: 86%; }
#contents #sec_link_list .detail_category #link_list_rikunabi17 dd a,
#contents #sec_link_list .detail_category #link_list_rikunabi18 dd a,
#contents #sec_link_list .detail_category #link_list_jijitore dd a,
#contents #sec_link_list .detail_category #link_list_next_rikunabi dd a,
#contents #sec_link_list .detail_category #link_list_shingakunet dd a,
#contents #sec_link_list .detail_category #link_list_rikunabihaken dd a { background-position: 0 0.3em; }

#contents #sec_link_list #link_aside h3 { margin-top: 20px; }
#contents #sec_link_list #link_aside ul.list_category { margin-top: 14px; }
#contents #sec_link_list #link_aside ul.list_category li { line-height: 1.5; font-size: 86%; }
#contents #sec_link_list #link_aside ul.list_category li a { background: url(../img/bullet_list.png) no-repeat 0 0.4em; padding-left: 12px; }
#contents #sec_link_list #link_aside p.link_offer { text-align: right; margin-top: 2px; font-size: 86%; }
#contents #sec_link_list #link_aside p.link_offer a { text-decoration: underline; }


/* ============================== footer */
#footer { width: 960px; margin: 0 auto; border-top: 2px solid #999; padding-bottom: 30px; }
#footer .link_ad { float: right; width: 460px; text-align: right; margin-top: 10px; font-size: 79%; }
#footer .link_ad a { color: #435b67; text-decoration: underline; font-weight: bold; }
#footer .lc { width: 500px; }
#footer .lc p { }
#footer .lc #logo_footer { margin-top: 8px; }
#footer .lc #copyright { margin-top: 10px; font-size: 71%; }
#footer .lc #copyright a { color: #435b67; font-weight: bold; }
#footer .link_group { margin-top: 6px; font-size: 79%; }
#footer .link_group a { color: #435b67; text-decoration: underline; font-weight: bold; }

#footer #footer_recruitwebsite { border-top: 1px solid #c6cdd1; margin-top: 22px; padding: 1px 0; font-size: 79%; }
#footer #footer_recruitwebsite #footer_recruitwebsite_link { margin: 5px 0 3px; }
#footer #footer_recruitwebsite #footer_recruitwebsite_link a { line-height: 140%; }
#footer h3 { color: #435966; font-weight: bold; margin-top: 4px; margin-bottom: 4px; line-height: 1.6; font-size: 100%; }
#footer #footer_recruitwebsite a { color: #6C625C; text-decoration: underline; }
#footer #footer_recruitwebsite a:link { color: #6C625C; text-decoration: underline; }
#footer #footer_recruitwebsite a:visited { color: #6C625C; text-decoration: underline; }
#footer #footer_recruitwebsite a:hover, a:active { color: #ff0000; text-decoration: underline; }
