@charset "utf-8";
/*
Template modified: 2009-06-30
*/

* { margin: 0; padding: 0; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
a, img, abbr, acronym, fieldset { border: 0; }

em, strong, dfn, code, var, cite,
input, select, textarea, button, optgroup, option,
address,
th, caption  { font-weight: inherit; font-style: inherit; font-size: inherit; }

input, select, textarea, button, optgroup, option { font-family: inherit; }

li { list-style: none; }

th, td { vertical-align: top; }
th, caption { text-align: left; }

abbr, acronym { font-variant: normal; }

ins, del { text-decoration: none; }

sub, sup { vertical-align: baseline; }

q:before, q:after { content: ''; }

div, p,
ul, ol, li, dl, dt, dd,
th, td,
h1, h2, h3, h4, h5, h6 { background-repeat: no-repeat; background-position: 0 0; }



/* ============================== css hack */
/* floating box clear */
.clr:after, .mc:after, .ms:after, .multi_section:after, .multi_column:after { content: ""; display: block; height: 0; clear: both; visibility: hidden; }
.clr, .mc, .ms, .multi_section, .multi_column { display: inline-table; min-height: 1%; }
/* Hide from mac IE5 \*/
* html .clr, * html .mc, * html .ms, * html .multi_section, * html .multi_column { height: 1%; }
.clr, .mc, .ms, .multi_section, .multi_column { display: block; }
/* End Hide from mac IE5 */

/* hide text */
.hidetxt, .hd { text-indent: -9999px; overflow: hidden; }
.hidetxt a, .hd a { overflow: hidden; }


/* ============================== multi column */
.multi_section {  }
.left_section { float: left; }
.right_section { float: right; }
.ms {  }
.ls { float: left; }
.rs { float: right; }

.multi_column { }
.left_column { float: left; }
.right_column { float: right; }
.mc {  }
.lc { float: left; }
.rc { float: right; }
