*{margin: 0; padding: 0; font-family: Arial, Helvetica, sans-serif;}
img { border: 0; display: block; }
h1, h2, h3, h4, h5, h6, h7, p { padding: 0; margin: 0; }
ul, ol, li { padding: 0; margin: 0; list-style: none; }
form { padding: 0; margin: 0; }
.radio { vertical-align: middle; }
select, input, textarea, option { padding: 0; margin: 0; font-size: 11px; color: #333333; outline: none; }
::-webkit-input-placeholder {color: #666;}
:-moz-placeholder {color: #666;}
::-moz-placeholder {color: #666;}
:-ms-input-placeholder {color: #666;}
/*======================================================*/
body {
	font-size: 12px;
	-webkit-text-size-adjust:none;
}
a {
	text-decoration: none;
	outline: none;
}
a:hover {
	text-decoration: none;
}
.clearfloat {clear: both; float: none; display: table; zoom: 1;}
/* icons */
*{	-webkit-font-smoothing: subpixel-antialiased;
	        font-smoothing: subpixel-antialiased;
	           font-smooth: auto;
}
div.search button.sb:after, ul.content li h3:after, ul.content li span.add:after, ul.content li span.src:after, ul.content li span.tl:after, ul.content li a.report:after, div.related a:after, div.az ul li:after, div.related a:after, ul.relatedthumbs li h3:after {
	display: block;
	position: absolute;
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;
	font-variant: normal;
	text-transform: none;
	text-indent: 0;
}
/*======================================================*/
/* header */
/*======================================================*/
div.main {width: 990px; padding: 5px; margin: 0 auto;}
div.header {
	clear: both;
	width:982px;
	height:120px;
	margin: 0 auto;
	z-index: 11;
	position: relative;
}
div.logo {
	position: absolute;
	left: 0;
	top: 35px;
}
div.logo a img {width:auto; height:auto; border:none;}
div.tbookshare {
	position: absolute;
	right: 0;
	top: 3px;
	width: 150px;
	height: 36px;
	overflow: hidden;
}
/*-------------*/
/* top menu */
/*-------------*/
ul.topmenu {
	position: absolute;
	top: 8px;
	left: 0;
}
ul.topmenu:after {content: ""; width: 0; height: 0; display: block; clear: both;}
ul.topmenu li {
	display:block;
	float:left;
}
ul.topmenu li a {
	display:block;
	font-size: 13px;
	line-height: 20px;
	padding: 0 20px 0 0;
}

/*-------------*/
/* search form */
/*-------------*/
div.search {
	position: absolute;
	width: 380px;
	height: 42px;
	right: 0;
	top: 40px;
	background: #181818;
	border: 1px solid #666;
	border-radius: 0;
}
div.search input.sf {
	position: absolute;
	left: 10px;
	top: 12px;
	width: 330px;
	border: none;
	background: none;
	font-size: 16px;
	color: #acacac;
	box-sizing: border-box;
	-webkit-appearance: none;
	border-radius: 0;
}
div.search button.sb {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 40px;
	height: 42px;
	border: none;
	background: none;
	font-size: 0;
	box-sizing: border-box;
	-webkit-appearance: none;
	cursor: pointer;
	background: none;
	border-radius: 0;	
}
div.search button.sb:after {
	left: 10px;
	top: 10px;
	font-size: 20px;
	line-height: 20px;
	-webkit-font-smoothing: antialiased;
	        font-smoothing: antialiased;
	           font-smooth: always;
	-moz-osx-font-smoothing: grayscale;
	content: '\e80f';
}
div.search.bottom {
	position: relative;
	right: auto;
	top: auto;
	margin-left: auto;
	margin: 40px auto 30px auto;
}
.autocomplete-suggestions {border: 1px solid #666; border-top: none; background:#181818; overflow: auto; box-shadow: 0px 4px 8px rgba(0,0,0,0.5); font-size: 14px; margin-top: 12px;}
.autocomplete-suggestion {padding: 6px 5px; white-space: nowrap; overflow: hidden; color: #acacac; cursor: pointer;}
.autocomplete-selected { background: #303030; color: #fff;}
.autocomplete-suggestions strong { font-weight: normal; color: #e7c098; }
/*-----------------*/
/* language select */
/*-----------------*/
#lngselect {
	position: absolute;
	right: 0;
	top: 4px;
	width: 126px;
	padding-left: 5px;
	z-index: 2000;
	cursor:pointer;
	background:url("http://static.webclicks24.com/images/select-arrow-w.png") no-repeat 100% 50%;
	text-align: left;
}
#lngselect.down:after {
	position: absolute;
	content: "";
	display: block;
	width: 0;
	height: 0;
	border-bottom: 10px solid #666;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
	right: 50px;
	top: 25px;
	z-index: 2000;
}
#lngselect strong {
	display:block;
	width: 68px;
	padding:7px 0 7px 32px;
	font-size: 13px;
	line-height:13px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	text-transform:capitalize;
	cursor:pointer;
	font-weight: normal;
	color: #fff;
}
#lngselect ul {
	display:none;
	position:absolute;
	top:30px;
	right: 0;
	width:584px;
	background:#282828;
	border: 1px solid #666;
	z-index:3000;
	height:140px;
	overflow:auto;
	text-transform:capitalize;
	box-shadow: 0px 4px 8px rgba(0,0,0,0.3);
	-webkit-overflow-scrolling: touch;
}
#lngselect ul li {
	float: left;
}

#lngselect ul li a {
	display:block;
	float: left;
	width: 114px;
	padding:7px 0 7px 32px;
	font-size: 13px;
	line-height: 13px;
	white-space:nowrap;
	text-overflow:ellipsis;
	text-transform:capitalize;
	border-radius: 0;
}
#lngselect strong.en, #lngselect ul li a.en {background: url(http://static.webclicks24.com/images/flags/gb.png) 5px 50% no-repeat;}
#lngselect strong.cs, #lngselect ul li a.cs {background: url(http://static.webclicks24.com/images/flags/cz.png) 5px 50% no-repeat;}
#lngselect strong.da, #lngselect ul li a.da {background: url(http://static.webclicks24.com/images/flags/dk.png) 5px 50% no-repeat;}
#lngselect strong.de, #lngselect ul li a.de {background: url(http://static.webclicks24.com/images/flags/de.png) 5px 50% no-repeat;}
#lngselect strong.el, #lngselect ul li a.el {background: url(http://static.webclicks24.com/images/flags/gr.png) 5px 50% no-repeat;}
#lngselect strong.es, #lngselect ul li a.es {background: url(http://static.webclicks24.com/images/flags/es.png) 5px 50% no-repeat;}
#lngselect strong.fr, #lngselect ul li a.fr {background: url(http://static.webclicks24.com/images/flags/fr.png) 5px 50% no-repeat;}
#lngselect strong.ko, #lngselect ul li a.ko {background: url(http://static.webclicks24.com/images/flags/kr.png) 5px 50% no-repeat;}
#lngselect strong.it, #lngselect ul li a.it {background: url(http://static.webclicks24.com/images/flags/it.png) 5px 50% no-repeat;}
#lngselect strong.hu, #lngselect ul li a.hu {background: url(http://static.webclicks24.com/images/flags/hu.png) 5px 50% no-repeat;}
#lngselect strong.nl, #lngselect ul li a.nl {background: url(http://static.webclicks24.com/images/flags/nl.png) 5px 50% no-repeat;}
#lngselect strong.ja, #lngselect ul li a.ja {background: url(http://static.webclicks24.com/images/flags/jp.png) 5px 50% no-repeat;}
#lngselect strong.no, #lngselect ul li a.no {background: url(http://static.webclicks24.com/images/flags/no.png) 5px 50% no-repeat;}
#lngselect strong.pl, #lngselect ul li a.pl {background: url(http://static.webclicks24.com/images/flags/pl.png) 5px 50% no-repeat;}
#lngselect strong.pt, #lngselect ul li a.pt {background: url(http://static.webclicks24.com/images/flags/pt.png) 5px 50% no-repeat;}
#lngselect strong.sk, #lngselect ul li a.sk {background: url(http://static.webclicks24.com/images/flags/sk.png) 5px 50% no-repeat;}
#lngselect strong.sl, #lngselect ul li a.sl {background: url(http://static.webclicks24.com/images/flags/si.png) 5px 50% no-repeat;}
#lngselect strong.fi, #lngselect ul li a.fi {background: url(http://static.webclicks24.com/images/flags/fi.png) 5px 50% no-repeat;}
#lngselect strong.sv, #lngselect ul li a.sv {background: url(http://static.webclicks24.com/images/flags/se.png) 5px 50% no-repeat;}
#lngselect strong.ru, #lngselect ul li a.ru {background: url(http://static.webclicks24.com/images/flags/ru.png) 5px 50% no-repeat;}

/*==========headers======================*/
h1,h2 {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	clear: both;
	width: 982px;
	height: 38px;
	padding: 0;
	line-height: 38px;
	margin: 5px auto;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-transform:capitalize;
}
div.h {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	clear: both;
	margin: 5px auto;
	padding: 0 154px 0 0;
	width: 982px;
	position: relative;
}
div.h h1 {
	width: 70%;
	margin: 0;
	background: none;
	border: none;
}
/*==========popular queries thumbs=======*/
ul.tcats {
	width: 990px;
	margin: 10px auto 30px auto;
}
ul.tcats:after {content: ""; width: 0; height: 0; display: block; clear: both;}
ul.tcats li {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 322px;
	height: auto;
	float: left;
	margin: 0 4px 8px 4px;
	border: 1px solid transparent;
	padding-bottom: 40px;
	position: relative;
}
ul.tcats li img {
	width: 320px;
	height: 180px;
	display: block;
	border: none;
}
ul.tcats li h3 {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	position: absolute;
	bottom: 5px;
	left: 0;
	right: 0;
	width: auto;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding: 5px;
	font-size: 18px;
	line-height: 20px;
	font-weight: normal;
	text-transform: uppercase;
	text-align: center;
	z-index: 1;
}
ul.tcats span.cnt {
	display: block;
	position: absolute;
	z-index:3;
	bottom: 40px;
	right: 0;
	color:#fff;
	line-height: 14px;
	padding: 5px;
	text-align:center;
	background: url("http://static.webclicks24.com/images/60.png") repeat;
}
ul.tcats.small li {width: 239px;}
ul.tcats.small li img {width: 100%; height: auto;}
ul.tcats.small li h3 {font-size: 13px;}
/*==========content=======*/
ul.content {
	width: 990px;
	margin: 0 auto;
}
ul.content:after {content: ""; width: 0; height: 0; display: block; clear: both;}
ul.content li {
	display: block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 322px;
	height: auto;
	float: left;
	margin: 0 4px 8px 4px;
	border: 1px solid transparent;
	padding-bottom: 99px;
	position: relative;
}
ul.content li img {
	width: 320px;
	height: 180px;
}
ul.content li h3 {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	position: absolute;
	bottom: 71px;
	left: 0;
	right: 0;
	padding: 4px 5px 4px 5px;
	width: auto;
	height: 27px;
	line-height: 18px;
	font-size: 12px;
	font-weight: normal;
	overflow: hidden;
	white-space: normal;
	text-overflow: ellipsis;
	text-align: left;
	text-indent: 16px;
	border-bottom: 1px solid transparent;
	z-index: 20;
}
ul.content li h3.full {
	white-space: normal;
	height: auto;
}
ul.content li h3:after {
	left: 5px;
	top: 4px;
	font-size: 14px;
	-webkit-font-smoothing: none;
	        font-smoothing: none;
	           font-smooth: never;
	-moz-osx-font-smoothing: grayscale;
	content: '\e805';
}
ul.content li span.hdlabel {
	position: absolute;
	z-index:3;
	top: 0;
	right: 0;
	color:#fff;
	width:30px;
	height: 12px;
	line-height: 14px;
	padding: 5px 0;
	text-align:center;
	font-weight:bold;
	font-size: 12px;
	font-style: italic;
	background: url("http://static.webclicks24.com/images/60.png") repeat;
}
ul.content li span.dur {
	position: absolute;
	z-index:3;
	bottom: 99px;
	right: 0;
	color:#fff;
	width:50px;
	height: 12px;
	line-height: 14px;
	padding: 5px 0;
	text-align:center;
	font-weight:bold;
	font-size: 11px;
	background: url("http://static.webclicks24.com/images/60.png") repeat;
}
ul.content li span.add {
	display: block;
	position: absolute;
	left: 5px;
	bottom: 51px;
	font-size: 11px;
	line-height: 15px;
	padding-left: 16px;
}
ul.content li span.add:after {
	left: 0;
	top: 0;
	font-size: 14px;
	-webkit-font-smoothing: none;
	        font-smoothing: none;
	           font-smooth: never;
	-moz-osx-font-smoothing: grayscale; 
	content: '\e800';
}
ul.content li span.src {
	display: block;
	position: absolute;
	right: 5px;
	bottom: 51px;
	font-size: 11px;
	line-height: 15px;
	padding-left: 15px;
}
ul.content li span.src:after {
	left: 0;
	top: 0;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	        font-smoothing: antialiased;
	           font-smooth: always;
	-moz-osx-font-smoothing: grayscale;
	content: '\e801';
}
ul.content li span.tl {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	position: absolute;
	bottom: 5px;
	left: 0;
	right: 0;
	padding: 4px 5px 0 5px;
	width: auto;
	height: 42px;
	text-align: left;
	font-size: 12px;
	overflow: hidden;
	border-top: 1px dotted transparent;
	line-height: 19px;
	text-transform: capitalize;
	text-indent: 15px;
}
ul.content li span.tl:after {
	left: 6px;
	top: 4px;
	font-size: 14px;
	-webkit-font-smoothing: none;
	        font-smoothing: none;
	           font-smooth: never;
	-moz-osx-font-smoothing: grayscale;
	content: '\e80c';
}
ul.content li span.tl a,ul.content li span.tl span {
	display: inline;
}
ul.content li a.report {
	display:block;
	position: absolute;
	left: 0;
	bottom: 99px;
	background: #000;
	color: #fff;
	width: 24px;
	height: 22px;
	z-index: 10;
	opacity: 0.6;
}
ul.content li a.report:after {
	left: 6px;
	top: 6px;
	font-size: 12px;
	line-height: 12px;
	-webkit-font-smoothing: antialiased;
	        font-smoothing: antialiased;
	           font-smooth: always;
	-moz-osx-font-smoothing: grayscale;
	content: '\e803';	
}
ul.content li:hover a.report:hover {
	opacity: 1;
}
/*==========not found=======*/
div.notfound {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	margin: 20px auto;
	font-size: 18px;
	text-align: center;
}
div.notfound b {text-transform: capitalize;}
div.notfound a {
	display:block;
	padding:10px;
	font-size:24px;
	line-height: 24px;
	text-decoration: none;
	min-width: 60px;
	text-align: center;
	border-radius: 0;
	margin: 10px auto;
	border: 1px solid #000;
	text-transform: capitalize;
}

/*==========popular queries text=======*/
div.az {
	width: 990px;
	margin: 5px auto 30px auto;
}
div.az:after {content: ""; width: 0; height: 0; display: block; clear: both;}
div.az ul {
	width: 20%;
	float: left;
	padding-left: 5px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
div.az ul li {
	display: block;
	width: 100%;
	height: 24px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding-left: 15px;
	position: relative;
}
div.az ul li:after {
	left: 0;
	top: 6px;
	font-size: 14px;
	line-height: 14px;
	-webkit-font-smoothing: none;
	        font-smoothing: none;
	           font-smooth: never;
	-moz-osx-font-smoothing: grayscale;
	content: '\e80e';
}
div.az ul li > a {
	display: block;
	width: 70%;
	line-height: 24px;
	font-size: 14px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	float: left;
	text-transform: capitalize;
}
div.az ul li > span {
	display: block;
	width: 28%;
	line-height: 24px;
	font-size: 11px;
	white-space: nowrap;
	overflow: hidden;
	float: left;
	text-align: right;
}
div.az ul li.space:after {display: none;}
div.az ul li.letter {
	font-size: 16px;
	line-height: 24px;
	width: 98%;
	text-transform: uppercase;
}
div.az ul li.letter:after {display: none;}

/*==========navigation=======*/
div.nav {
	width:982px;
	margin: 10px auto;
	text-align:left;
	clear:both;
}
div.nav:after {content: ""; width: 0; height: 0; display: block; clear: both;}
div.nav.top {padding-bottom: 5px;}
div.nav.bottom {margin-bottom: 40px; text-align: center;}
div.sort, div.timerange {
	float: left;
}
div.durgrp {
	float: right;
}
div.pages {
	display: inline-block;
}
div.sort a, div.timerange a, div.durgrp a, div.pages a, div.pages>span, div.sort>span, div.timerange>span {
	display:block;
	float:left;
	padding:10px;
	font-size:14px;
	line-height: 14px;
	text-decoration: none;
	min-width: 18px;
	text-align: center;
}
div.sort a, div.timerange a, div.durgrp a {
	margin: 0 3px 0 0;
	min-width: 60px;
}
div.pages a, div.pages>span {
	margin: 0 0 0 3px;
}
div.sort a.current, div.durgrp a.current, div.timerange a.current, div.pages a.current {
	font-weight: bold;
}

/*==========related text=======*/
div.related {margin: 5px auto; width: 982px;}
div.related:after {content: ""; width: 0; height: 0; display: block; clear: both;}
div.related a {display:block; float:left; margin-right:10px; padding-left: 14px; min-height:18px; text-transform:capitalize; margin-bottom: 5px; position: relative;}
div.related a:after {
	left: 0;
	top: 0;
	font-size: 14px;
	line-height: 14px;
	-webkit-font-smoothing: antialiased;
	        font-smoothing: antialiased;
	           font-smooth: always;
	-moz-osx-font-smoothing: grayscale;
	content: '\e80f';
}
div.related span {display:block; float:left; margin-right:8px; margin-bottom: 5px;}

/*==========related thumbs=======*/
ul.relatedthumbs {
	width: 990px;
	margin: 10px auto 30px auto;
}
ul.relatedthumbs:after {content: ""; width: 0; height: 0; display: block; clear: both;}
ul.relatedthumbs li {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 157px;
	height: auto;
	float: left;
	margin: 0 4px 8px 4px;
	border: 1px solid transparent;
	padding-bottom: 34px;
	position: relative;
}
ul.relatedthumbs li span.altimg {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 34px;
	z-index: 1;
	background: #000;
	color: #fff;
	overflow: hidden;
	padding: 8px;
	text-align: center;
	text-transform: capitalize;
	font-size: 18px;
	line-height: 20px;
}
ul.relatedthumbs li span.altimg span.h {
	display: inline-block;
	vertical-align: middle;
	height: 100%;
	width: 0px;
}
ul.relatedthumbs li span.altimg span.t {
	display: inline-block;
	vertical-align: middle;
}
ul.relatedthumbs li img {
	width: 100%;
	height: auto;
	display: block;
	border: none;
}
ul.relatedthumbs li h3 {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	position: absolute;
	bottom: 2px;
	left: 0;
	right: 0;
	width: auto;
	height: 30px;
	overflow: hidden;
	padding: 0 4px;
	font-size: 12px;
	line-height: 15px;
	font-weight: normal;
	text-transform: capitalize;
	text-align: left;
	text-indent: 15px;
	z-index: 1;
}
ul.relatedthumbs li h3:after {
	left: 4px;
	top: 0;
	font-size: 14px;
	line-height: 14px;
	-webkit-font-smoothing: antialiased;
	        font-smoothing: antialiased;
	           font-smooth: always;
	-moz-osx-font-smoothing: grayscale;
	content: '\e80f';
}
ul.relatedthumbs li span.cnt {
	display: block;
	position: absolute;
	z-index:3;
	bottom: 34px;
	right: 0;
	color:#fff;
	line-height: 14px;
	padding: 5px;
	background: url("http://static.webclicks24.com/images/60.png") repeat;
}

/*==========toplist=======*/
div.tradeindex {
	width: 990px;
	margin: 5px auto 30px auto;
}
div.tradeindex:after {content: ""; width: 0; height: 0; display: block; clear: both;}
div.tradeindex div.cont {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 25%;
	height: auto;
	float: left;
	padding: 4px;
}
div.tradeindex div.cont div.timg {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
}
div.tradeindex div.cont div.timg img {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	display: block;
	width: 100%;
	height: auto;
}
div.tradeindex div.cont div.timg h4 {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	line-height: 20px;
	font-size: 14px;
	font-weight: bold;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: center;
}
ul.globaltop {
	float:left;
	width:20%;
}
ul.globaltop li {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	width:100%;
	height:24px;
	font-size: 14px;
	line-height: 24px;
	padding-right:5px;
	margin-bottom:3px;
	white-space:nowrap;
	overflow:hidden;
	text-indent: 3px;
}

/*==========add this=======*/
div.bookshare {
	width: 476px;
	height: 40px;
	margin: 0 auto 30px auto;
	overflow: hidden;
}
/*==========footer=======*/
div.footer {
	clear: both;
	width: 982px;
	margin: 0 auto;
}
span.desktopspan, span.mobilespan {display: none;}

/*==========back to top=======*/
#back_to_top {
	right:20px;
	bottom:7%;
	z-index:1000;
	font-size:12px;
	position:fixed;
	display: none;
}
#back_to_top a#back-to-top {
	text-decoration:none;
	display:block;
	padding:10px 15px;
	width: 30px;
	height: 30px;
	position:relative;
	z-index:99999;
	background:#666;
	-webkit-border-radius:10%;
	-moz-border-radius:10%;
	border-radius:10%;
	opacity: 0.6;
}
#back_to_top a#back-to-top img {
	border: none;
	width: 30px;
	height: 30px;
}
#back_to_top a#back-to-top:hover {opacity: 0.9;}
/*==========ads=======*/
.ads3 {width:960px; margin:0 auto 30px auto; clear: both;}
.ads3:after {content: ""; width: 0; height: 0; display: block; clear: both;}
.ads3b {width:300px; height:250px; padding:4px; border: 1px solid transparent; margin: 0 5px 10px 5px; float:left;}

/* any mobile device
--------------------------------------------*/
@media only screen and (min-device-width : 320px) and (max-device-width : 1920px) {
    div.search button.sb:after, ul.content li h3:after, ul.content li span.add:after, ul.content li span.src:after, ul.content li span.tl:after, ul.content li a.report:after, div.related a:after, div.az ul li:after, div.related a:after, ul.relatedthumbs li h3:after {
		-webkit-font-smoothing: antialiased;
		        font-smoothing: antialiased;
		           font-smooth: always;
	}	
}

/* 4 col
--------------------------------------------*/
@media all and (min-width: 1340px) {
	div.header, div.footer, div.nav, div.related,h1,h2,div.h {width: 1312px;}
	div.tradeindex, div.az, ul.tcats, ul.content, ul.relatedthumbs, div.main {width: 1320px;}
	div.tradeindex div.cont {width: 16.666%;}
	ul.tcats.small li {width: 212px;}
}

/* 5 col
--------------------------------------------*/
@media all and (min-width: 1670px) {
	div.header, div.footer, div.nav, div.related,h1,h2,div.h {width: 1642px;}
	div.tradeindex, div.az, ul.tcats, ul.content, ul.relatedthumbs, div.main {width: 1650px;}
	ul.tcats.small li {width: 198px;}
}
/* < 1000
--------------------------------------------*/
@media all and (max-width: 1000px) {
	.hideonmobile {display: none;}
	body {padding: 0 5px 5px 5px;}
	div.head, div.header, div.az, div.nav, div.footer, div.tradeindex, h1, h2, div.related, div.h, ul.content, ul.tcats, ul.relatedthumbs, div.bookshare, div.main {width: 100%; box-sizing: border-box; -moz-box-sizing: border-box;}
	h1,h2 {height: auto;}
	#lngselect ul {width: 300px; height: auto;}
	div.sort, div.durgrp, div.timerange {display: table; width: 50%; border-spacing: 2px;}
	div.durgrp {margin-left: 0;}
	div.sort a, div.durgrp a {display: table-cell; float: none; width: 50%; text-align: center; margin: 0;}
	div.timerange a {display: table-cell; float: none; width: 33.3333%; text-align: center; margin: 0; vertical-align: middle;}
	div.nav.top div.pages {display: none;}
	ul.content li, ul.tcats li, ul.relatedthumbs li, ul.content li:hover, ul.tcats li:hover, ul.relatedthumbs li:hover {width: 33.3333%; margin: 0; border: 2px solid transparent; padding: 1px; padding-bottom: 99px; box-sizing: border-box; -moz-box-sizing: border-box; min-height: 100px;}
	ul.tcats li, ul.tcats li:hover {padding-bottom: 30px;}
	ul.relatedthumbs li, ul.relatedthumbs li:hover {width: 20%; margin: 0; border: 2px solid transparent; padding: 1px; padding-bottom: 34px;}
	ul.relatedthumbs li span.altimg, ul.relatedthumbs li:hover span.altimg {left: 1px; right: 1px; top: 1px;}
	ul.content li img, ul.tcats li img {width: 100%; height: auto; max-height: 180px;}
	ul.tcats li h3 {font-size: 16px; line-height:18px; bottom: 0;}
	ul.tcats li span.cnt {bottom: 30px; right: 1px;}
	ul.content li h3 {left: 1px; right: 1px;}
	/*ul.content li h3.full {white-space: nowrap;}*/
	ul.content li a.report {left: 1px; width: 30px; height: 28px;}
	ul.content li a.report:after {font-size: 16px; line-height: 16px;}
	ul.content li span.dur, ul.relatedthumbs li span.cnt {right: 1px;}
	ul.content li span.tl {left: 1px; right: 1px;}
	ul.content li span.hdlabel {right: 1px; top: 1px;}
	div.pages {float: none; width: 100%; box-sizing: border-box; -moz-box-sizing: border-box; display: table; border-spacing: 2px;}
	div.pages span, div.pages a {display: table-cell; float: none; text-align: center;}
	div.pages span.ptitle {display: none;}
	div.nav.bottom div.sort,div.nav.bottom div.durgrp {display: none;}
	ul.globaltop {width:25%;}
	ul.globaltop.col5 {display: none;}
	div.az ul {width: 100%; padding-left: 0;}
	div.az ul li {width: auto; padding-right: 20px; float: left; margin-bottom: 5px;}
	div.az ul li > a {width: auto; float: left; text-indent: 0;}
	div.az ul li > span {width: auto; float: left; padding-left: 0px; display: none;}
	div.az ul li.letter, div.az ul li.space {width: 100%; padding-right: 0;}
	ul.tcats.small li, ul.tcats.small li:hover {width: 25%;}
	ul.tcats.small li h3 {font-size: 13px;}
}

/* <860
--------------------------------------------*/
@media all and (max-width: 859px) {
	ul.topmenu li a.ext {display: none;}
}

/* <768
--------------------------------------------*/
@media all and (max-width: 767px) {
	h1,h2 {text-align: center;}
	div.h {padding: 0;}
	div.tbookshare {display: none;}
	div.h h1 {width: 100%;}
	ul.globaltop {width:33.333%;}
	ul.globaltop.col4 {display: none;}
	div.durgrp, div.timerange {width: 100%; float: none;}
	div.timerange {margin-bottom: 5px;}
	div.pages a.delta4 {display: none;}
	div.head {padding: 0 5px 10px 5px;}
	div.header {height: 100px; padding-top: 50px; padding-bottom: 0;}
	div.logo {top: 5px;}
	div.logo a img {width: auto; height:auto; max-height: 40px; max-width: 250px;}	
	div.search {position: relative; width: 100%; height: 44px; box-sizing: border-box; -moz-box-sizing: border-box; left:auto; right: auto; top: auto; margin: 0 auto;}
	div.search input.sf {width: 200px;}
	div.search.bottom {margin: 0 auto 20px auto; left: auto; top: auto;}
	#lngselect {top: 5px; width: 55px; height: 30px;}
	#lngselect strong {width: 0; height: 20px;}
	#lngselect strong span {display: none;}
	#lngselect.down:after {right: 28px; top: 30px;}
	#lngselect ul {right: 5px; top:38px;}
	ul.topmenu {left: auto; right: 50px; top: 12px;}
	
	ul.content li,ul.content li:hover {padding-bottom: 138px;}
	ul.content li h3 {bottom: 94px; height:44px; white-space: normal;}
	ul.content li h3.full {white-space: normal;}
	ul.content li span.dur {bottom: 138px;}
	ul.content li span.add {bottom: 72px;}
	ul.content li span.src {bottom: 52px; left: 5px; right: auto;}
	ul.content li a.report {right: 5px; left: auto; bottom: 57px; background: none; opacity: 1;}
	ul.content li a.report:after {font-size: 20px;}
	ul.relatedthumbs li,ul.relatedthumbs li:hover {width: 25%;}
	
}

/* <600px - 3 small columns
--------------------------------------------*/
@media all and (max-width: 599px) {
	ul.tcats li h3 {font-size: 13px;}
	ul.tcats.small li, ul.tcats.small li:hover {width: 33.33333%;}
	ul.tcats.small li h3 {font-size: 12px;}
	ul.relatedthumbs li,ul.relatedthumbs li:hover {width: 33.333%;}
	div.tradeindex div.cont {width: 33.333%;}
	div.tradeindex div.cont div.timg h4 {font-size: 13px;}
}

/* <480px - 2 columns
--------------------------------------------*/
@media all and (max-width: 479px) {
	ul.content li, ul.tcats li, ul.content li:hover, ul.tcats li:hover {width: 50%;}
	div.pages a.delta3 {display: none;}	
	ul.globaltop {width:50%;}
	ul.globaltop.col3 {display: none;}
	div.bookshare {height: 70px;}
	div.sort, div.durgrp {width: 100%; float: none;}
	div.sort {margin-bottom: 5px;}
	h1,h2 {font-size: 16px;}
	ul.topmenu li a.first {display: none;}
}

/* 400 - 2 small columns
--------------------------------------------*/
@media all and (max-width: 400px) {
	div.pages a.delta2 {display: none;}
	ul.relatedthumbs li,ul.relatedthumbs li:hover {width: 50%;}
	ul.topmenu {display: none;}
	div.tradeindex div.cont {width: 50%;}
	ul.tcats.small li, ul.tcats.small li:hover {width: 50%;}
}