/* vod right ad module */
.vod_right_ad_container{
	overflow: hidden;
	position: fixed;
	right: 0px;
}

.vod_right_ad_container.default{
	animation-name: float_down;
    animation-delay: 0.5s;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-name: float_down;
    -webkit-animation-delay: 0.5s;
    -webkit-animation-duration: 1.2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: float_down;
    -moz-animation-delay: 0.5s;
    -moz-animation-duration: 1.2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    z-index: 2;
}

@keyframes float_down {
    from {transform:translate(0, 0px);}
    50% {transform:translate(0, -20px);}
    to {transform: translate(0, 0px);}    
}
@-webkit-keyframes float_down {
    from {transform:translate(0, 0px);}
    50% {transform:translate(0, -20px);}
    to {transform: translate(0, 0px);}    
}
@-moz-keyframes float_down {
    from {transform:translate(0, 0px);}
    50% {transform:translate(0, -20px);}
    to {transform: translate(0, 0px);}    
}

/* common */
.web_white_background{
	background-color: #fff;
}