.common_dialog_mask{
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.5;
	position: fixed;
	z-index: 1000000;
	top: 0px;
	left: 0px;
}

.user_dialog{
	position: fixed;
	z-index: 1000000;
	top: 50%;
	left: 50%;
}

.user_dialog *{
	box-sizing: border-box;
	font-family: "Microsoft JhengHei", "Heiti TC", "WenQuanYi Zen Hei", "Arial";
	font-weight: normal;
}

.user_dialog .login_dialog{
	width: 450px;
	height: 500px;
}

.user_dialog .register_dialog{
	width: 450px;
	height: 550px;
}

.user_dialog .passcode_dialog{
	width: 450px;
	height: 500px;
}

.user_dialog .reset_pw_dialog{
	width: 450px;
	height: 500px;
}

.user_dialog .forget_pw_dialog{
	width: 450px;
	height: 400px;
}

.user_dialog .search_dialog{
    box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 450px;
	height: 500px;
	background-color: #ffffff;
	padding: 15px;
	position: relative;
}

.user_dialog .channel_trial_dialog{
	width: 550px;
	height: 170px;
}

.user_dialog .parental_control_dialog{
	width: 475px;
	height: 310px;
}

.user_dialog .multiple_streaming_dialog, .user_dialog .idle_for_hours_dialog{
	width: 450px;
}

.user_dialog .exit_btn{
	position: absolute;
   width: 30px;
   height: 30px;
   background-size: 30px 30px;
   background-image: url(/resources/image/dialog_exit_icon.png);
   cursor: pointer;
   right: 10px;
   top: 10px;
}

#header_left .search_bar div{
	float: none;
}
.search_form{
	width: 100%;
	height: 30px;
	padding-right: 30px;
	position: relative;
    box-sizing: border-box;
	-webkit-box-sizing:  border-box;
	-moz-box-sizing:  border-box;
}

.search_bar .search_form{
	width: 270px;
    box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	float: left;
    display: none;
}

.search_form .search_input{
    box-sizing: border-box;
	display: block;
	width: 100%;
	height: 100%;
	font-size: 16px;
    line-height: 28px;
    margin-bottom: initial;
    border: 1px solid rgb(187, 187, 187);
    border-radius: 5px 0px 0px 5px;
    padding: 0px 10px;
}
.search_form .send_btn{
    position: absolute;
    width: 30px;
    height: 30px;
    background: url("/resources/image/icon_search.png") center center no-repeat;
    background-size: auto;
    background-color: #eee;
    border: 1px solid #bbb;
    border-left: none;
    display: block;
    margin-bottom: initial;
    padding: 0px;
    border-radius: 0px 5px 5px 0px;
    right: 0px;
    top: 0px;
}
.search_form .send_btn:hover{
    background: url("/resources/image/icon_search_a.png") center center no-repeat;
    background-color: #5e0b75;
    border: 1px solid #5e0b75;
}
.search_recommand_items .recommand_item .item_index{
	width: 25px;
    height: 24px;
    line-height: 24px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 15px;
    text-align: center;
    background-color: transparent;
    border: 1px solid #F90;
    color: #F90;
}
.search_recommand_items .recommand_item i,.search_recommand_items .recommand_item .item_name{
	font-style: inherit;
}
.search_recommand_items .recommand_item:nth-of-type(1) .item_index, .search_recommand_items .recommand_item:nth-of-type(2) .item_index, .search_recommand_items .recommand_item:nth-of-type(3) .item_index{
	background-color: #F60;
    border: 1px solid #F60;
    color: #FFF;
}
.search_bar .search_dialog_btn{
    background: url("/resources/image/icon_search.png") center center no-repeat;
    background-size: 65%;
    background-color: #eee;
    border: 1px solid #bbb;
    width: 30px;
    height: 30px;
    float: left;
    padding: 0px;
    border-radius: 5px;
    margin-bottom: initial;
}

.search_bar .search_recommand_section{
    box-sizing: border-box;
	width: 240px;
	background-color: rgba(242, 242, 242, 0.952941);
	border: 1px solid rgb(186, 186, 186);
	padding: 10px;
    clear: both;
    display: none;
}

.search_bar .search_recommand_section .search_recommand_items{
	overflow: hidden;
}

.search_bar .search_recommand_section .search_recommand_title, .search_dialog .search_recommand_title{
	font-size: 18px;
    line-height: 40px;
}

.search_recommand_items .recommand_item{
	display: block;
    font-size: 18px;
    position: relative;
	float: left;
    clear: both;
    max-width: 100%;
}
.search_recommand_items .recommand_item .item_name{
	padding-left: 35px;
	line-height: 35px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.search_recommand_items .recommand_item.hover .item_name{
	color: #f5690a;
}
.search_dialog .content_title{
	font-size: 22px;
    line-height: 42px;
    text-align: center;
}

.search_dialog .search_recommand_title{
	margin-top: 5px;
	padding-left: 10px;
}

.search_dialog .search_recommand_items{
	position: absolute;
	top: 132px;
	bottom: 15px;
	left: 15px;
	right: 15px;
	border: #bbb 1px solid;
	padding-left: 10px;
	overflow: hidden;
}

/*********************************************************/
.dialog_mask{
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.5;
	position: fixed;
	z-index: 1000000;
	top: 0px;
	left: 0px;
}

.dialog_table{
	display: table;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 1000000;
	top: 0px;
	left: 0px;
}
.dialog_table .dialog_table_cell{
	display: table-cell;
	vertical-align: middle;
	height: 100%;
}
.dialog_table_cell .dialog_cell{
	position: relative;
	margin-left: auto;
	margin-right: auto;
}
.dialog_table_cell .dialog_exit_icon{
	position: absolute;
	width: 30px;
	height: 30px;
	background-size: 30px 30px;
	background-image: url(/resources/image/dialog_exit_icon.png);
	cursor: pointer;
	right: 10px;
	top: 10px;
	background-color: transparent;
	padding: 0px;
}
.dialog_table_cell .login_dialog_cell{
	width: 28%;
	height: 488px;
	min-width: 300px;
	max-width: 500px;
	background-color: #ffffff;
	padding: 15px;
}
.login_dialog_cell .body{
	position: absolute;
	top: 57px;
	bottom: 15px;
	left: 15px;
	right: 15px;
	overflow-x: auto;
	width: auto;
}
.dialog_table_cell .search_dialog_cell{
	width: 95%;
	height: 100%;
	background-color: #ffffff;
	padding: 15px;
	max-width: 700px;
	max-height: 650px;
}
.dialog_table_cell .multiple_streaming_dialog_cell{
	width: 520px;
	height: 225px;
	background-color: #ffffff;
	border-radius: 4px;
	text-align: center;
}
.multiple_streaming_dialog_cell .title{
	width: 100%;
	height: 74px;
	font-size: 22px;
	font-weight: bold;
	line-height: 74px;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
   white-space: nowrap;
}
.multiple_streaming_dialog_cell .content{
	width: 100%;
	height: 74px;
	padding-left: 10%;
	padding-right: 10%;
	font-size: 100%;
}
.multiple_streaming_dialog_cell .button{
	width: 146px;
	height: 46px;
	cursor: pointer;
	font-size: 24px;
	color: #fff;
	margin-left: auto;
	margin-right: auto;
	background-color: #f3680b;
	line-height: 46px;
	text-align: center;
	border-radius: 4px;
}
.search_dialog_cell .search_dialog_form{
	width: 100%;
	height: 30px;
	margin-top: 10px;
	position: relative;
}
.search_dialog_cell .search_dialog_recommand_list_title{
	width: 100%;
	height: 30px;
	font-size: 18px;
	line-height: 30px;
	padding-left: 12px;
	margin-top: 5px;
}
.search_dialog_form .search_dialog_form_input_outer{
	position: absolute;
	left: 0px;
	right: 30px;
	top: 0px;
	bottom: 0px;
}
.search_dialog_form .search_dialog_form_input{
	height: 30px;
	border: #bbb 1px solid;
	font-size: 16px;
	line-height: 30px;
	padding: 0 10px;
	background-color: white;
	display: block;
}
.search_dialog_form .search_dialog_form_btn{
	width: 30px;
	height: 30px;
	background-image: url(/resources/image/search_icon.jpg);
	background-size: 30px 30px;
	background-color: white;
	padding: 0px;
	border-radius: 0px;
	display: block;
	float: right;
}
.search_dialog_form .search_dialog_form_btn:hover{
	background-image: url(/resources/image/search_icon.jpg);
	background-size: 30px 30px;
	background-color: white;
}
.search_dialog_cell .search_dialog_recommand{
	border: #bbb 1px solid;
	overflow-x: hidden;
	position: absolute;
	top: 135px;
	left: 15px;
	right: 15px;
	bottom: 15px;
}
.search_dialog_recommand .list_item{
	width: 100%;
	height: 33px;
	font-size: 18px;
	line-height: 35px;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 0 12px;
	cursor: pointer;
	display: block;
	text-align: left;
}
.search_dialog_recommand > div > div > div:nth-child(1) > a >span {
	background-color: #ff5f24;
}
.search_dialog_recommand > div > div > div:nth-child(2) > a >span {
	background-color: #ff9124;
}
.search_dialog_recommand > div > div > div:nth-child(3) > a >span {
	background-color: #ffa727;
}
.search_dialog_recommand .list_item:hover{
	color: #f5690a;
}
.dialog_cell .header{
	width: 100%;
	height: 42px;
	line-height: 42px;
	text-align: center;
	font-size: 22px;
}
.login_dialog_cell .login_err_msg{
	width: 100%;
	height: 40px;
	margin-top: 10px;
	background-color: #ff2a00;
	font-size: 15px;
	line-height: 40px;
	color: #f1f1f1;
	padding-left: 10px;
}
.login_dialog_cell .phone_number_title{
	width: 100%;
	height: 22px;
	font-size: 15px;
	margin-top: 10px;
}
.login_dialog_cell .phone_number{
	float: left;
}
.login_dialog_cell .phone_number_mark{
	float: left;
	color: #FF2400;
}
.login_dialog_cell .phone_number_input{
	display: block;
	width: 100%;
	height: 35px;
	margin-bottom: 0px;
	margin-top: 10px;
	font-size: 15px;
}
.login_dialog_cell .phone_number_msg{
	width: 100%;
	height: 22px;
	font-size: 15px;
	margin-top: 3px;
	color: #ff0000;
}
.login_dialog_cell .pw_title{
	width: 100%;
	height: 22px;
	font-size: 15px;
	margin-top: 10px;
}
.login_dialog_cell .pw_word{
	float: left;
}
.login_dialog_cell .pw_mark{
	float: left;
	color: #FF2400;
}
.login_dialog_cell .pw_forget{
	float: right;
	color: #3e94dc;
	cursor: pointer;
}
.login_dialog_cell .pw_input{
	display: block;
	width: 100%;
	height: 35px;
	margin-bottom: 0px;
	margin-top: 10px;
	font-size: 15px;
}
.login_dialog_cell .pw_msg{
	width: 100%;
	height: 22px;
	font-size: 15px;
	margin-top: 3px;
	color: #ff0000;
}
.login_dialog_cell .show_pw_block{
	width: 100%;
	height: 22px;
	font-size: 15px;
	margin-top: 10px;
}
.login_dialog_cell .remember_user_info_block{
	width: 100%;
	height: 22px;
	font-size: 15px;
	margin-top: 10px;
	display: none;
}
.login_dialog_cell .show_pw_chkbox{
	float: left;
	margin-top: 5px;
	cursor: pointer;
	-ms-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-webkit-transform: scale(1.5);
	-o-transform: scale(1.5);
}
.login_dialog_cell .remember_user_info_chkbox{
	float: left;
	margin-top: 5px;
	cursor: pointer;
	-ms-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-webkit-transform: scale(1.5);
	-o-transform: scale(1.5);
}
.login_dialog_cell .remember_user_info_text{
	float: left;
	margin-left: 5px;
}
.login_dialog_cell .show_pw_text{
	float: left;
	margin-left: 5px;
}
.login_dialog_cell .login_btn_block{
	width: 100%;
	height: 45px;
	margin-top: 10px;
}
.login_dialog_cell .login_btn{
	display: block;
	width: 135px;
	height: 45px;
	border-radius: 5px;
	background-color: #408ed6;
	color: #f1f1f1;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	font-size: 18px;
}
.login_dialog_cell .register_btn_block{
	margin-top: 40px;
	padding: 15px;
	border: 1px solid #dbdbdb;
	background-color: #f5f5f5;
}
.login_dialog_cell .register_btn_text{
	font-size: 15px;
}
.login_dialog_cell .register_btn{
	display: block;
	width: 135px;
	height: 45px;
	border-radius: 5px;
	background-color: #39a60d;
	color: #f1f1f1;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	margin-top: 15px;
	font-size: 18px;
}

/* channel trial dialog */

.user_dialog .channel_trial_dialog{
	background-color: #f1f1f1;
	padding: 15px;
}

.channel_trial_dialog .content_section{
	position: relative;
	width: 100%;
	height: 100%;
}

.channel_trial_dialog .content_section .content_title{
	width: 100%;
    font-size: 22px;
    line-height: 42px;
    text-align: center;
}

.channel_trial_dialog .content_body .check_hint{
	color: #ff0000;
    text-align: center;
    background-color: transparent;
    font-size: 15px;
    display: none;
}

.channel_trial_dialog .content_body .check_hint.active{
	display: block;
}

.channel_trial_dialog .content_body .check_section{
	display: table;
	margin-left: auto;
	margin-right: auto;
	font-size: 18px;
	line-height: 30px;
	height: 20px;
}

.channel_trial_dialog .check_section .check_box[type=checkbox]{
	float: left;
    margin-top: 9px;
    margin-right: 10px;
    cursor: pointer;
    -ms-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
}

.channel_trial_dialog .check_section .check_description{
	float: left;
    cursor: pointer;
}

.channel_trial_dialog .check_section .check_description.star{
	color: #ff2400;
}

.channel_trial_dialog .check_section .description_link{
	float: left;
    color: #3e6ddc;
    border-bottom: #3e6ddc 1px solid;
    cursor: pointer;
}

.channel_trial_dialog .content_body .submit_btn{
    width: 100px;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
}

/* parental control dialog */
.parental_control_dialog{
	background-color: #f1f1f1;
	padding: 3px;
	border-radius: 3px;
}
.parental_control_dialog .content_body{
	width: 100%;
	height: 230px;
	background-color: #FF0C00;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 40px;
	padding-bottom: 20px;
}
.parental_control_dialog .content_body .restricted_logo{
	width: 108px;
	height: 108px;
	background-image: url(/resources/image/restricted.png);
	background-size: 100% 100%;
	float: left;
}
.parental_control_dialog .content_body .desc_section{
	width: auto;
	overflow:hidden;
	padding-left: 15px;
	color: #ffffff;
}
.parental_control_dialog .desc_section .desc_title{
	font-size: 25px;
	line-height: 35px;
}

.parental_control_dialog .desc_section .desc_text{
	padding-top: 10px;
	font-size: 15px;
	line-height: 25px;
}

.parental_control_dialog button{
	float: left;
	color: #ffffff;
	margin-bottom: 0px;
	font-size: 20px;
	width: 150px;
	height: 40px;
	padding: 0px;
	line-height: 40px;
	border-radius: 2px;
	margin-top: 16px;
	cursor: pointer;
}

.parental_control_dialog .cancel_btn{
	background-color: #FF0C00;
}

/* multiple stream dialog */
.multiple_streaming_dialog{
	background-color: #fff;
	padding: 15px;
}

.multiple_streaming_dialog .dialog_title{
	font-size: 22px;
	height: 42px;
	line-height: 42px;
	text-align: center;
	font-weight: bold;
}

.multiple_streaming_dialog .dialog_content{
	padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
}

.multiple_streaming_dialog .dialog_btn{
	margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    line-height: 40px;
    color: #ffffff;
    background-color: #f3680b;
    width: 96px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

/* idle for hours */
.idle_for_hours_dialog{
	background-color: #fff;
	padding: 15px;
}

.idle_for_hours_dialog .dialog_title{
	font-size: 22px;
	height: 42px;
	line-height: 42px;
	text-align: center;
	font-weight: bold;
}

.idle_for_hours_dialog .dialog_content{
	padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
}

.idle_for_hours_dialog .dialog_btn{
	margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    line-height: 40px;
    color: #ffffff;
    background-color: #408ed6;
    width: 96px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

/*
.user_dialog .trial_dialog{
	background-color: #f1f1f1;
}

.user_dialog .trial_dialog .content_title{
	width: 100%;
    font-size: 22px;
    line-height: 42px;
    text-align: center;
}

.trial_dialog .content_body .check_hint{
	color: #ff0000;
    display: none;
    text-align: center;
    background-color: transparent;
    font-size: 15px;
}

.trial_dialog .content_body .check_hint.active{
	display: block;
}

.trial_dialog .content_body .check_section{
	display: table;
	margin-left: auto;
	margin-right: auto;
	height: 30px;
}

.trial_dialog .check_section .check_box{
	float: left;
    margin-top: 8px;
    margin-right: 10px;
    cursor: pointer;
    -ms-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
}
*/
@media screen and (min-width: 1000px) {
	.search_recommand_items .recommand_item{
		text-decoration: none;
	}
	.search_recommand_items .recommand_item .item_name{
		color: #666;
		text-decoration: none;
	}
	.search_recommand_items .recommand_item .item_name:hover{
		text-decoration: none;
		color: #F60;
	}
}
/* ===== width 0 ~ 557 ===== */
@media screen and (max-height: 557px){
	.dialog_table_cell .login_dialog_cell{
		width: 95%;
		height: 100%;
		max-width: initial;
	}
}