/********** Shortcode: Animation Box *************************************************************/
.dnd-animo,
.dnd-animo-children > *{
	visibility: hidden;
}


/********** Shortcode: Columns & sections *************************************************************/
.dnd_container{
	width: 100%;
}

.dnd_container:before,
.dnd_container:after{
	display: table;
	line-height: 0;
	content: "";
}

.dnd_container:after{
	clear: both;
}

.section_body_fullwidth .dnd_section_content .dnd_container{
	width: 100%;
}

.dnd_section_dd{
	position: relative;
	overflow:hidden;
}

.dnd_section_dd > *{
	z-index: 1;
	position: relative;
}

.dnd_section_dd header,
.dnd_section_dd footer{
	text-align: center;
}

.dnd_section_dd header h3{
	font-family: 'Open Sans';
	font-weight: 300;
	display: inline-block;
	color: #333;
	text-transform: uppercase;
	font-size: 36px;
	line-height: 36px;
	margin-bottom: 49px;
	position: relative;
	padding-bottom: 43px;
}

.dnd_section_dd header h3:before{
	display: block;
	content: "";
	height: 1px;
	width: 36px;
	border-left: 82px solid #ddd;
	border-right: 82px solid #ddd;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -100px;
}

.dnd_section_dd header h3:after{
	display: block;
	content: "";
	height: 36px;
	width: 36px;
	position: absolute;
	bottom: -18px;
	left: 50%;
	margin-left: -18px;
	color: #e42382;
	font-family: 'entypo';
	font-size: 18px;
	content: "\e662";
}

.dnd_section_dd header p{
	font-family: 'Open Sans';
	font-weight: 300;
	font-size: 18px;
	margin-bottom: 85px;
	text-transform: uppercase;
	color: #676767;
	line-height: 24px;
}

.dnd_section_dd.pattern_overlayed header h3,
.dnd_section_dd.pattern_overlayed header h3:after,
.dnd_section_dd.pattern_overlayed header p,
.dnd_section_dd.color_overlayed header h3,
.dnd_section_dd.color_overlayed header h3:after,
.dnd_section_dd.color_overlayed header p{
	color: #fff;
}

.dnd_section_dd.pattern_overlayed a,
.dnd_section_dd.color_overlayed a{
	color: #e42382;
}

.section_gray_body .dnd_section_content{
	background: #f4f4f4;
	padding: 55px 0;
}

.section_body_fullwidth .dnd_section_content .dnd_container{
	width: 100%;
}



.dnd_video_background{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 0;
	visibility: hidden;
}

.dnd_video_background .mejs-container{
	background:none !important;
}

.dnd_video_background .mejs-overlay-loading{
	display: none !important;
}

.dnd-parallax{
	background-position: 50% top;
	background-attachment:fixed;
	background-size: cover;
}

.dnd_container [class*="column_dd_span"]{
	display: block;
	float: left;
	min-height: 20px;
	margin-left: 2.564102564102564%;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
}

.section_no_column_margin .dnd_container [class*="column_dd_span"],
.dnd_container [class*="column_dd_span"]:first-child{
	margin-left: 0;
}

.dnd_column_dd_span12  {width: 100%;}
.dnd_column_dd_span11  {width: 95.45299145299145%;}
.dnd_column_dd_span10  {width: 82.90598290598291%;}
.dnd_column_dd_span9   {width: 74.35897435897436%;}
.dnd_column_dd_span8   {width: 65.81196581196581%;}
.dnd_column_dd_span7   {width: 57.26495726495726%;}
.dnd_column_dd_span6   {width: 48.71794871794872%;}
.dnd_column_dd_span5   {width: 40.17094017094017%;}
.dnd_column_dd_span4   {width: 31.62393162393162%;}
.dnd_column_dd_span3   {width: 22.07692307692308%;}
.dnd_column_dd_span2   {width: 17.9%;}
.dnd_column_dd_span1   {width: 5.982905982905983%;}

.section_no_column_margin .dnd_column_dd_span12  {width: 100%;}
.section_no_column_margin .dnd_column_dd_span11  {width: 91.6666666666665%;}
.section_no_column_margin .dnd_column_dd_span10  {width: 83.3333333333334%;}
.section_no_column_margin .dnd_column_dd_span9   {width: 74.9999999999999%;}
.section_no_column_margin .dnd_column_dd_span8   {width: 66.6666666666665%;}
.section_no_column_margin .dnd_column_dd_span7   {width: 58.3333333333332%;}
.section_no_column_margin .dnd_column_dd_span6   {width: 49.9999999999999%;}
.section_no_column_margin .dnd_column_dd_span5   {width: 41.6666666666665%;}
.section_no_column_margin .dnd_column_dd_span4   {width: 33.3333333333332%;}
.section_no_column_margin .dnd_column_dd_span3   {width: 24.9999999999999%;}
.section_no_column_margin .dnd_column_dd_span2   {width: 16.6666666666665%;}
.section_no_column_margin .dnd_column_dd_span1   {width:  8.3333333333332%;}

.section_equalize_5 .dnd_column_dd_span3,
.section_equalize_5 .dnd_column_dd_span2{
	width:  17.95084476%;
}

.section_equalize_5 .dnd_container [class*="column_dd_span"]{
	margin-left: 2.564102564102564%;
}

.section_no_column_margin.section_equalize_5 .dnd_container [class*="column_dd_span"],
.section_equalize_5 .dnd_container [class*="column_dd_span"]:first-child{
	margin-left: 0;
}

.section_no_column_margin.section_equalize_5 .dnd_column_dd_span3,
.section_no_column_margin.section_equalize_5 .dnd_column_dd_span2{
	width:  20%;
}


/********** Shortcode: Abbreviation *************************************************************/
.dnd-abbr{
	border-bottom: 1px dotted #666;
	cursor: help;
}


/********** jQuery UI helpers *************************************************************/
.ui-helper-reset {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
}

.ui-helper-clearfix:before,
.ui-helper-clearfix:after { 
	content: "";
	display: table;
}

.ui-helper-clearfix:after { 
	clear: both;
}

.ui-helper-zfix {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	opacity: 0;
	filter:Alpha(Opacity=0);
}


/********** Shortcode: Tabs *************************************************************/
.dnd-tabs {
	position: relative; 
	margin-bottom: 40px;
	clear: both;
} 

.dnd-tabs .ui-tabs-nav{
	margin: 0;
}

.dnd-tabs .ui-tabs-nav li {
	list-style: none;
	float: left;
	display: block;
	white-space: nowrap;
	margin: 0;
	padding: 0;
	border-top: 1px solid #e1e1e1;
	border-left: 1px solid #e1e1e1;
	background: #f3f3f3;
	font-size: 14px;
	line-height: 14px;
	position: relative;
}

.dnd-tabs .ui-tabs-nav li a{
	text-decoration: none;
	text-align: center;
	color: #505050;
	clear:both;
	box-sizing: border-box;
	display: block;
	padding: 15px 20px;
	width: 100%;
	height: 100%;
	cursor: pointer;
	outline: none;
}

.dnd-tabs .ui-tabs-nav li:hover a{
	color: #333;
}

.dnd-tabs .ui-tabs-nav li.ui-tabs-active {
	background: #fff;
	position: relative;
}

.dnd-tabs .ui-tabs-nav li.ui-tabs-active:after{
	content: "";
	display: block;
	width: 100%;
	height: 1px;
	background: #fff;
	position: absolute;
	bottom: -1px;
	left: 0;
}

.dnd-tabs .ui-tabs-nav li.ui-tabs-active a{
	color: #505050;
	cursor: default;
}

.dnd-tabs .ui-tabs-nav li:last-child{
	border-right: 1px solid #e1e1e1;
}

.dnd-tabs .dnd-tabs-wrapper{
	border: 1px solid #e1e1e1;
}

.dnd-tabs .ui-tabs-panel {
	display: block;
	border-width: 0;
	padding: 20px 15px;
}

.ui-tabs-hide {
	display: none;
}


/* bottom positioned tabs */
.dnd-tabs-position-bottom .ui-tabs-nav {
	border-bottom: none;
	position: absolute;
	bottom:-45px;
}

.dnd-tabs-position-bottom .ui-tabs-nav li {
	border-top: none;
	border-bottom: 1px solid #e1e1e1;
}

.dnd-tabs-position-bottom .ui-tabs-panel {
	padding: 20px 15px;
}

.dnd-tabs-position-bottom .ui-tabs-nav li.ui-tabs-active:after{
	top: -1px;
	bottom: auto;
}


/* left or right positioned tabs */

.dnd-tabs-vertical .ui-tabs-nav li a{
	padding: 15px;
	text-align: right;
}

/* left positioned tabs */
.dnd-tabs-position-left .dnd-tabs-wrapper{
	margin-left: 200px;
}

.dnd-tabs-position-left .ui-tabs-nav {
	width: 200px;
	float: left;
	margin-bottom: 40px;
}

.dnd-tabs-position-left .ui-tabs-nav li{
	float: none;
	line-height: 14px;
	border-right: none;
}

.dnd-tabs-position-left .ui-tabs-nav li:last-child{
	border-bottom: 1px solid #e1e1e1;
	border-right: none;
}

.dnd-tabs-position-left .ui-tabs-nav li.ui-tabs-active{
	background: #fff;
}

.dnd-tabs-position-left .ui-tabs-nav li.ui-tabs-active:after{
	content: "";
	display: block;
	width: 1px;
	height: 100%;
	background: #fff;
	position: absolute;
	bottom: auto;
	left: auto;
	right: -1px;
	top: 0;
}



/* right positioned tabs */
.dnd-tabs-position-right .dnd-tabs-wrapper{
	margin-right: 200px;
}

.dnd-tabs-position-right .ui-tabs-nav {
	width: 200px;
	float: right;
	margin-bottom: 40px;
}

.dnd-tabs-position-right .ui-tabs-nav li{
	float: none;
	line-height: 14px;
	border-left: none;
	border-right: 1px solid #e1e1e1;
}

.dnd-tabs-position-right .ui-tabs-nav li a{
	text-align: left;
}

.dnd-tabs-position-right .ui-tabs-nav li:last-child{
	border-bottom: 1px solid #e1e1e1;
	border-left: none;
}

.dnd-tabs-position-right .ui-tabs-nav li.ui-tabs-active{
	background: #fff;
}

.dnd-tabs-position-right .ui-tabs-nav li.ui-tabs-active:after{
	content: "";
	display: block;
	width: 1px;
	height: 100%;
	background: #fff;
	position: absolute;
	bottom: auto;
	right: auto;
	left: -1px;
	top: 0;
}

/* Bellow width break point */
.dnd-tabs.dnd-tabs-fullwidthtabs .ui-tabs-nav li {
	margin-right: 0px;
	width: 100%;
	margin-left: 0;
	float: none;
	text-align: left;
	padding: 5px 15px;
	border: 1px solid #e6ebed;
	border-bottom:none;
}

.dnd-tabs.dnd-tabs-fullwidthtabs .ui-tabs-nav li.ui-tabs-active{
	background: #f9f9f9;
}

.dnd-tabs.dnd-tabs-fullwidthtabs .ui-tabs-nav li.ui-tabs-active:after{
	display: none;
}

.dnd-tabs-position-bottom.dnd-tabs-fullwidthtabs .ui-tabs-nav {
	position: relative;
}

.dnd-tabs-position-bottom.dnd-tabs-fullwidthtabs .ui-tabs-nav li.ui-tabs-active:after{
	display: none;
}

.dnd-tabs-position-bottom.dnd-tabs-fullwidthtabs .ui-tabs-panel {
	padding: 0;
}

.dnd-tabs-position-left.dnd-tabs-fullwidthtabs .ui-tabs-nav,
.dnd-tabs-position-right.dnd-tabs-fullwidthtabs .ui-tabs-nav {
	margin: 0;
	border-bottom:none;
	border-right: 1px solid #eeeeee;
	width: 100%;
	position: relative;
	padding-bottom: 20px;
}

.dnd-tabs-position-left.dnd-tabs-fullwidthtabs .ui-tabs-nav li,
.dnd-tabs-position-right.dnd-tabs-fullwidthtabs .ui-tabs-nav li{
	float: none;
	text-align: left;
	line-height: 37px;
	padding: 5px 15px;
	margin-right: 0;
	margin-left: 0;
}

.dnd-tabs-position-left.dnd-tabs-fullwidthtabs .ui-tabs-nav li.ui-tabs-active,
.dnd-tabs-position-right.dnd-tabs-fullwidthtabs .ui-tabs-nav li.ui-tabs-active{
	background: #f9f9f9;
}

.dnd-tabs-position-left.dnd-tabs-fullwidthtabs .ui-tabs-nav li.ui-tabs-active:after,
.dnd-tabs-position-right.dnd-tabs-fullwidthtabs .ui-tabs-nav li.ui-tabs-active:after{
	display: none;
}

.dnd-tabs-position-left.dnd-tabs-fullwidthtabs .ui-tabs-panel,
.dnd-tabs-position-right.dnd-tabs-fullwidthtabs .ui-tabs-panel{
	margin-left: 0px;
	margin-right: 0px;
	padding-top:0;
}




/********** Shortcode: Accordion *************************************************************/
.dnd-accordion{
	margin-bottom: 40px;
}

.dnd-accordion .ui-accordion-header { 
	display: block; 
	cursor: pointer; 
	position: relative;
	border-bottom: 1px solid #fff;
	color:#666666;
	background: #eee;
	font-weight:normal;
	padding: 15px 0 15px 20px;
	margin: 0;
}

.dnd-accordion .ui-accordion-content { 
	overflow: auto; 
	border: 1px solid #eeeeee;
	border-top: 0;
	padding: 20px;
}

.dnd-accordion .ui-accordion-header-icon{
	display: block;
	position: absolute;
	right: 15px;
	top: 15px;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	font-family: 'WebHostingHub-Glyphs';
	font-size: 14px;
}

.dnd-accordion .ui-icon-triangle-1-e{
	color: #666;
}

.dnd-accordion .ui-icon-triangle-1-e:before{
	content: "\002b";
}

.dnd-accordion .ui-icon-triangle-1-s{
	color: #666;
}

.dnd-accordion .ui-icon-triangle-1-s:before{
	content: "\2212";
}


/********** Shortcode: Toggle *************************************************************/
.dnd-toggle{
	margin-bottom: 20px;
}


/********** Shortcode: Tables *************************************************************/
.dnd-table-hover table,
.dnd-table-striped table{
	border-collapse:separate;
	line-height: 2 !important;
}

.dnd-table-condensed table{
	line-height: 1 !important;
	border-collapse:separate;
}

.dnd-table-hover table tr,
.dnd-table-striped table tr,
.dnd-table-condensed table tr{
	border-top: 1px solid #eee !important;
}

.dnd-table-hover table th,
.dnd-table-striped table th,
.dnd-table-condensed table th,
.dnd-table-hover table td,
.dnd-table-striped table td,
.dnd-table-condensed table td{
	padding: 2px 10px;
}

.dnd-table-striped table tr:nth-child(2n+1){
	background: #f9f9f9;
}

.dnd-table-hover table tr:hover{
	background: #efefef;
}


/********** Shortcode: Alert boxes *************************************************************/
.dnd_alert_success,
.dnd_alert_info,
.dnd_alert_warning,
.dnd_alert_error{
	margin-bottom: 40px;
	padding: 19px 48px 19px 19px;
	position: relative;
}

.dnd_alert_success i,
.dnd_alert_info i,
.dnd_alert_warning i,
.dnd_alert_error i{
	margin-right: 19px;
}

.dnd_alert_success,
.dnd_alert_success .dnd_alert_box_close{
	background: #e9f3d2;
	color: #91b64f;
}

.dnd_alert_info,
.dnd_alert_info .dnd_alert_box_close{
	background: #cee6e6;
	color: #1e6d81;
}

.dnd_alert_warning,
.dnd_alert_warning .dnd_alert_box_close{
	background: #fbf2e3;
	color: #ffad77;
}

.dnd_alert_error,
.dnd_alert_error .dnd_alert_box_close{
	background: #ffe9e9;
	color: #d04544;
}

.dnd_alert_box_close{
	cursor: pointer;
	position: absolute;
	top: 19px;
	right: 19px;
}


/********** Shortcode: Blockquote *************************************************************/
.dnd_blockquote,
.dnd_pullquote{
	font-size: 28px;
	font-weight: 400;
	line-height: 34px;
	margin-bottom: 40px;
}

.dnd_blockquote p{
}

.dnd_blockquote p small{
	color: #e42382;
	font-size: 24px;
	font-style: italic;
	font-weight: 400;
	display: block;
	margin-top: 29px;
}


/********** Shortcode: UL *************************************************************/
.dnd_shortcode_ul{
	list-style: none !important;
}

.dnd_shortcode_ul li{
	list-style: none !important;
}


/********** Shortcode: Follow us links *************************************************************/
.dnd_follow_us{
	text-align: center;
}

.dnd_socialicon{
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	margin: 0 4px 20px 4px;
	border: 1px solid #333;
	color: #333;
	opacity: 0.5;
}

.dnd_socialicon i{
	top: 0;
	color: #333;
}

.dnd_socialicon:hover{
	opacity: 1;
	box-shadow: 0 0 0 1px #333;
}

.pattern_overlayed .dnd_socialicon,
.color_overlayed .dnd_socialicon{
	border: 1px solid #fff;
}

.pattern_overlayed .dnd_socialicon i,
.color_overlayed .dnd_socialicon i{
	color: #fff;
}

.pattern_overlayed .dnd_socialicon:hover,
.color_overlayed .dnd_socialicon:hover{
	box-shadow: 0 0 0 1px #fff;
}


/********** Shortcode: Stats Excerpt *************************************************************/
.dnd_stats_excerpt{
	color: #093d71;
}

.dnd_stats_excerpt i{
	color: #097d89;
	font-size: 32px;
	margin-right: 13px;
}

.dnd_stats_excerpt .dnd_stats_number,
.dnd_stats_excerpt .dnd_stats_number_sign{
	font-size: 32px;
	font-weight: 700;
}

.dnd_stats_excerpt p{
	font-size: 18px;
	padding-top: 11px;
}


/********** Shortcode: Knob *************************************************************/
.dnd_knob_wrapper{
	text-align: center;
}

.dnd_knob_inner_wrap{
	position: relative;
	text-align: center;
}

.dnd_knob_wrapper input{
	display: none;
}

.dnd_knob_wrapper .dnd_knob_number_sign{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	visibility: hidden;
	font-size: 24px;
	z-index: 2;
}

/********** Shortcode: Team *************************************************************/
.dnd_team_member{
	text-align: center;
	padding-bottom: 19px;
	margin-bottom: 49px;
}

.dnd_team_member .dnd_overlayed{
	position: relative; 
	line-height: 1;
	margin-bottom: 28px;
}

.dnd_team_member.dnd_team_member_style_2{
    margin-bottom: 0;
    padding-bottom: 0;
}

.dnd_team_member.dnd_team_member_style_2 .dnd_overlayed{
	margin-bottom: 20px;
}

.dnd_team_member .dnd_overlayed .dnd_overlay {
	width: 100%; 
	height: 100%; 
	position: absolute; 
	overflow: hidden; 
	top: 0; 
	left: 0; 
	filter: alpha(opacity=0); 
	opacity: 0; 
	-webkit-transition: all 0.4s ease-in-out; 
	-moz-transition: all 0.4s ease-in-out; 
	-o-transition: all 0.4s ease-in-out; 
	-ms-transition: all 0.4s ease-in-out; 
	transition: all 0.4s ease-in-out; 
	background: rgba(0,0,0,0.6);
}

.dnd_team_member:hover .dnd_overlayed .dnd_overlay {
	filter: alpha(opacity=100); 
	opacity: 1; 
}

.dnd_team_member .dnd_overlayed .dnd_overlay p{
	position: absolute;
	width: 100%;
	top: 50%;
	margin-top: -18px;
	height: 40px;
	line-height: 40px;
}

.dnd_team_member .dnd_overlayed .dnd_overlay p a{
	color: #ccc;
	display: inline-block;
	width: 40px;
	height: 40px;
	border: 1px solid #ccc;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	line-height: 40px;
	margin: 0 3px;
}

.dnd_team_member .dnd_overlayed .dnd_overlay p a i{
	color: #ccc;
}

.dnd_team_member .dnd_overlayed .dnd_overlay p a:hover{
	color: #fff;
	border: 1px solid #fff;
}

.dnd_team_member .dnd_overlayed .dnd_overlay p a:hover i{
	color: #fff;
}

.dnd_team_member .dnd_team_member_position{
	text-transform: uppercase;
}

.dnd_team_member .dnd_team_member_name{
	display: block;
	font-weight: 600;
	font-size: 16px;
	text-transform: uppercase;
	margin-bottom: 2px;
}

.dnd_team_member.dnd_team_member_style_2 .dnd_team_member_name{
	color: #fff;
	display: block;
	font-weight: 400;
	font-size: 18px;
	margin-bottom: 8px;
}

.dnd_team_member .dnd_team_member_position{
	display: inline-block;
	font-weight: 400;
	font-size: 12px;
	color: #e42382;
	margin-bottom: 8px;
}

.dnd_team_member.dnd_team_member_style_2 .dnd_team_member_position{
	font-size: 14px;
}

.dnd_team_member > p{
	margin-bottom: 19px;
	color: #8d8c8c;
}

.dnd_team_member .dnd_team_member_social_under a{
	margin: 0 5px;
}

.dnd_team_member .dnd_team_member_social_under a i{
	color: #676767;
}

.dnd_team_member .dnd_team_member_social_under a:hover i{
	color: #e42382;
}

.dnd_team_member_modal{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: 9999;
	overflow-y: auto;
	padding-top: 80px;
	text-align: left;
}

.dnd_team_member_modal h4,
.dnd_team_member_modal .dnd_team_member_position{
	text-align: center;
}

.dnd_team_member_modal .dnd_container{
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

.dnd_team_member_modal_close{
	width: 32px;
	height: 32px;
	font-size: 32px;
	line-height: 32px;
	position: absolute;
	top: 60px;
	right: 60px;
	cursor: pointer;
}


.dnd_team_member.dnd_team_member_style_2 .dnd_overlayed .dnd_overlay .dnd_overlay_memeber{
	position: absolute;
	width: 100%;
	bottom: 20px;
	text-align: left;
	padding-left: 19px;
	margin-bottom: -3px;
}


/********** Shortcode: Priceboxes *************************************************************/
.dnd_pricing-table-1,
.dnd_pricing-table-2{
	text-align: center;
	margin-bottom: 40px;
} 

.dnd_pricing-table-1{
	background: rgba(255,255,255,0.9);
	color: #333;
	text-align: center;
}

.dnd_pricing-table-1 .dnd_pricebox_header{
	border-bottom: 1px solid #c8c8c8;
}

.dnd_pricing-table-1 .dnd_pricebox_featured_text{
	margin-bottom: 3px;
	min-height: 30px;
	text-align: center;
	color: #fff;
	font-size: 14px;
	line-height: 30px;
}

.dnd_pricing-table-1.dnd_popular-plan .dnd_pricebox_featured_text{
	background: #434342;
}

.dnd_pricing-table-1 .dnd_pricebox_name{
	font-size: 18px;
	line-height: 18px;
	font-weight: 700;
	text-transform: uppercase;
	display: block;
	background: #333;
	color: #fff;
	padding: 21px 10px;
}

.dnd_pricing-table-1.dnd_popular-plan{
	position: relative;
	top: -20px;
	margin-bottom: 60px;
	padding-bottom: 10px;
	box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.5);
	z-index: 1;
	position: relative;
}

.dnd_pricing-table-1.dnd_popular-plan .dnd_pricebox_name{
	background: #e42382;
	padding: 31px 10px;
}

.dnd_pricing-table-1 .dnd_pricebox_currency{
	font-size: 20px;
	line-height: 20px;
	position: relative;
	top: -20px;
}

.dnd_pricing-table-1 .dnd_pricebox_price{
	font-size: 50px;
	font-weight: 600;
	line-height: 50px;
	display: inline-block;
	margin: 19px 0;
}

.dnd_pricing-table-1 .dnd_pricebox_monthly{
	font-size: 16px;
	line-height: 16px;
}

.dnd_pricing-table-1 .dnd_pricebox_decsription{
	display: block;
	font-style: italic;
}

.dnd_pricing-table-1 .dnd_pricebox_feature{
	display: block;
	text-align: center;
	font-size: 16px;
	line-height: 16px;
	margin-bottom: 16px;
}

.dnd_pricing-table-1 .dnd_pricebox_feature strong{
	font-weight: 300;
}

.dnd_pricing-table-1 .dnd_pricebox_feature:first-of-type{
	padding-top: 38px;
}

.dnd_pricing-table-1 .dnd_pricebox_feature:last-child{
	border-top: 1px solid #c8c8c8;
	margin-top: 20px;
	padding-top: 16px;
}

.dnd_pricing-table-1.dnd_popular-plan .dnd_pricebox_feature_button{
	margin-bottom: 0;
}

.dnd_pricing-table-1.dnd_popular-plan .dnd_pricebox_feature:last-child{
	padding-top: 25px;
}



.dnd_pricing-table-2 .dnd_pricebox_header{
	background: #fff;
	color: #333;
	text-align: center;
}

.dnd_pricing-table-2 .dnd_pricebox_name{
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	display: block;
	padding: 21px 10px;
	background: #333;
	color: #fff;
}

.dnd_pricing-table-2.dnd_popular-plan .dnd_pricebox_name{
	background: #e42382;
	color: #fff;
	padding: 25px 10px;
}

.dnd_pricing-table-2 .dnd_pricebox_currency{
	font-size: 15px;
	position: relative;
	top: -33px;
}

.dnd_pricing-table-2 .dnd_pricebox_price{
	font-size: 65px;
	font-weight: 300;
	line-height: 65px;
	display: inline-block;
	padding-bottom: 26px;
	padding-top: 21px;
	font-style: italic;
}

.dnd_pricing-table-2 .dnd_pricebox_monthly{
	font-size: 12px;
}

.dnd_pricing-table-2 .dnd_pricebox_decsription{
	display: block;
	font-style: italic;
	padding-bottom: 30px;
}

.dnd_pricing-table-2 .dnd_pricebox_feature{
	background: #fff;
	display: block;
	border-bottom: 1px solid #c8c8c8;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
}

.dnd_pricing-table-2 .dnd_pricebox_feature:last-of-type{
	border-bottom: 4px solid #333;
}

.dnd_pricing-table-2.dnd_popular-plan .dnd_pricebox_feature:last-of-type{
	border-bottom: 4px solid #e42382;
}

.dnd_pricing-table-2 .dnd_button{
	margin-top: 40px;
	margin-right: 0;
}

.dnd_pricebox_feature .ABdev_icon-ok{
	color:#01f001;
}

.dnd_pricebox_feature .ABdev_icon-remove{
	color:red;
}


/********** Shortcode: Progress bar *************************************************************/
.dnd_meter {
	font-size: 16px;
	margin-bottom: 20px;
	background: #d9d9d9;
	margin-left: 200px;
	height: 45px;
}

.dnd_meter .dnd_meter_percentage {
	font-size: 16px;
	display: block;
	text-indent: 20px;
	background: #1e6d81;
	color: #fff;
	height: 45px;
	line-height: 45px;
}

.dnd_meter_label{
	font-size: 16px;
	line-height: 45px;
	float: left;
}


/********** Shortcode: Service boxes *************************************************************/
.dnd_service_box{
	text-align: center;
	margin-bottom: 55px;
	padding-top: 0;
}

.dnd_service_box .dnd_icon_boxed{
	display: inline-block;
	width: 100px;
	height: 100px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	background: #e42382;
	position: relative;
	margin-bottom: 24px;
	text-decoration: none;
}

.dnd_service_box.dnd_service_box_round_stroke .dnd_icon_boxed{
	background: none;
	border: 1px solid #333;
	-webkit-transition: all 180ms ease-in;
	transition: all 180ms ease-in;
}

.dnd_service_box.dnd_service_box_round_stroke .dnd_icon_boxed i{
	color: #333;
	-webkit-transition: all 180ms ease-in;
	transition: all 180ms ease-in;
}

.dnd_service_box.dnd_service_box_round_stroke:hover .dnd_icon_boxed{
	border: 1px solid #e42382;
	box-shadow: 0 0 0 5px #fff inset;
	background: #e42382;
	-webkit-transition: all 180ms ease-in;
	transition: all 180ms ease-in;
}

.dnd_service_box.dnd_service_box_round_stroke:hover .dnd_icon_boxed i{
	color: #fff;
	-webkit-transition: all 180ms ease-in;
	transition: all 180ms ease-in;
}

.dnd_service_box .dnd_icon_boxed i{
	font-size: 48px;
	color: #fff;
	line-height: 100px;
	position: relative;
	top: -1px;
}

.dnd_service_box:hover .dnd_icon_boxed{
	background: #333;
}

.dnd_service_box .dnd_icon_boxed:hover:after{
	border-top: 9px solid #333;
	transition: all 180ms ease-in;
	-webkit-transition: all 180ms ease-in;
}

.dnd_service_box p{
	line-height: 18px;
	margin-bottom: 22px;
	font-weight: 400;
}

.dnd_service_box h3{
	margin-bottom: 19px;
	color: #676767;
	font-size: 18px;
	font-weight: 400;
}


.dnd_service_box.dnd_service_box_round_aside{
	text-align: left;
}

.dnd_service_box.dnd_service_box_round_aside h3{
	color: #333;
	margin-bottom: 8px;
}

.dnd_service_box.dnd_service_box_round_aside h3:hover{
	color: #e42382;
}

.dnd_service_box.dnd_service_box_round_aside p{
	line-height: 20px;
}

.dnd_service_box.dnd_service_box_round_aside .dnd_icon_boxed{
	float: left;
	text-align: center;
	margin-right: 20px;
	width: 60px;
	height: 60px;
}

.dnd_service_box.dnd_service_box_round_aside .dnd_icon_boxed i{
	line-height: 60px;
	font-size: 25px;
	top: 2px;
}

.dnd_service_box.dnd_service_box_aside_small{
	text-align: left;
}

.dnd_service_box.dnd_service_box_aside_small h3{
	color: #333;
	font-weight: 600;
	margin-bottom: 15px;
}

.dnd_service_box.dnd_service_box_aside_small h3:hover{
	color: #e42382;
}

.dnd_service_box.dnd_service_box_aside_small p{
	line-height: 20px;
}

.dnd_service_box.dnd_service_box_aside_small .dnd_icon_boxed{
	float: left;
	text-align: center;
	margin-right: 20px;
	margin-bottom: 0;
	width: auto;
	height: auto;
	background: none;
}

.dnd_service_box.dnd_service_box_aside_small .dnd_icon_boxed i{
	line-height: 26px;
	font-size: 26px;
	color: #e42382;
}

.dnd_service_box_square .dnd_icon_boxed{
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	background: none;
	margin-bottom: 13px;
	width: auto;
	height: auto;
}

.dnd_service_box_square:hover .dnd_icon_boxed{
	background: none;
}

.dnd_service_box_square .dnd_icon_boxed i{
	color: #333;
	line-height: 48px;
}

.dnd_service_box_square:hover .dnd_icon_boxed i{
	color: #e42382;
}





/********** Shortcode: Divider *************************************************************/
.dnd_divider{
	clear:both;
	text-align: right;
	line-height: 20px;
	border-top: 1px solid #eeeeee;
	margin: 10px;
}

.dnd_divider a{
	text-decoration: none;
	display: inline-block;
}

.dnd_divider a:hover{
	text-decoration: none;
}

.dnd_divider i{
	position: relative;
	top: 2px;
}

.dnd_divider_dashed{
	border-top: 1px dashed #eeeeee;
}

.dnd_divider_dotted{
	border-top: 1px dotted #eeeeee;
}


/********** Shortcode: Pullquote *************************************************************/
.dnd_pullquote{
	padding: 20px 20px 20px 0;
	font-size: 1.6em;
	float: left;
}

.dnd_pullquote_right{
	padding: 20px 0 20px 20px;
	font-size: 1.6em;
	float: right;
}


/********** Shortcode: Tooltip *************************************************************/
.dnd_tooltip{
	cursor: pointer;
}

.tipsy { 
	font-size: 10px;
	position: absolute;
	padding: 5px;
	z-index: 100000;
	margin-top: -7px;
}

.tipsy-inner { 
	background-color: #fff;
	color: #333;
	max-width: 200px;
	padding: 5px 8px 4px 8px;
	text-align: center;
}

.tipsy-inner { 
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
}

.tipsy-arrow { 
	position: absolute;
	width: 0;
	height: 0;
	line-height: 0;
	border: 5px dashed #fff;
}

.tipsy-arrow-n { 
	border-bottom-color: #fff;
}

.tipsy-arrow-s { 
	border-top-color: #fff;
}

.tipsy-arrow-e { 
	border-left-color: #fff;
}

.tipsy-arrow-w { 
	border-right-color: #fff;
}

.tipsy-n .tipsy-arrow { 
	top: 0px;
	left: 50%;
	margin-left: -5px;
	border-bottom-style: solid;
	border-top: none;
	border-left-color: transparent;
	border-right-color: transparent;
}

.tipsy-nw .tipsy-arrow { 
	top: 0;
	left: 10px;
	border-bottom-style: solid;
	border-top: none;
	border-left-color: transparent;
	border-right-color: transparent;
}

.tipsy-ne .tipsy-arrow { 
	top: 0;
	right: 10px;
	border-bottom-style: solid;
	border-top: none;
	border-left-color: transparent;
	border-right-color: transparent;
}

.tipsy-s .tipsy-arrow { 
	bottom: 0;
	left: 50%;
	margin-left: -5px;
	border-top-style: solid;
	border-bottom: none;
	border-left-color: transparent;
	border-right-color: transparent;
}

.tipsy-sw .tipsy-arrow { 
	bottom: 0;
	left: 10px;
	border-top-style: solid;
	border-bottom: none;
	border-left-color: transparent;
	border-right-color: transparent;
}

.tipsy-se .tipsy-arrow { 
	bottom: 0;
	right: 10px;
	border-top-style: solid;
	border-bottom: none;
	border-left-color: transparent;
	border-right-color: transparent;
}

.tipsy-e .tipsy-arrow { 
	right: 0;
	top: 50%;
	margin-top: -5px;
	border-left-style: solid;
	border-right: none;
	border-top-color: transparent;
	border-bottom-color: transparent;
}

.tipsy-w .tipsy-arrow { 
	left: 0;
	top: 50%;
	margin-top: -5px;
	border-right-style: solid;
	border-left: none;
	border-top-color: transparent;
	border-bottom-color: transparent;
}


/********** Shortcode: Source Code *************************************************************/
.dnd_prettyprint{
	padding: 24px !important;
}

.dnd_prettyprint ol{
	margin: 0 !important;
	padding: 0 !important;
	list-style: decimal outside !important;
}

.dnd_prettyprint li{
	margin-left: 20px !important;
	list-style: decimal outside !important;
}


/********** Shortcode: RSS Feed *************************************************************/
.dnd_rss,
.dnd_rss li{
	list-style: none !important;
	margin-left: 0 !important;
}


/********** Shortcode: Children *************************************************************/
.dnd_children,
.dnd_children li{
	list-style: none !important;
	margin-left: 0 !important;
}


/********** Shortcode: Sitemap *************************************************************/
.dnd_sitemap,
.dnd_sitemap li{
	list-style: none !important;
}


/********** Shortcode: Google Map *************************************************************/
.dnd_google_map img{
	max-width: none !important;
	border: none !important;
	border-radius: 0px !important;
	box-shadow: none !important;
}


/********** Shortcode: Dropcap *************************************************************/
.dnd_dropcap{
	display: block;
	width: 54px;
	height: 54px;
	font-size: 50px;
	line-height: 54px;
	background: #1e6d81;
	text-align: center;
	color: #fff;
	float: left;
	margin-right: 20px;
	margin-bottom: 10px;
}


/********** Shortcode: Videos *************************************************************/
.dnd-videoWrapper-youtube{
	position:relative;
	padding-bottom:56.25%;
	padding-top:0px;
	height:0;
	overflow:hidden;
}

.dnd-videoWrapper-youtube iframe,
.dnd-videoWrapper-youtube object,
.dnd-videoWrapper-youtube embed{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.dnd-videoWrapper-vimeo{
	position:relative;
	padding-bottom:53%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.dnd-videoWrapper-vimeo iframe,
.dnd-videoWrapper-vimeo object,
.dnd-videoWrapper-vimeo embed{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}


/********** Shortcode: Clear *************************************************************/
	.dnd_clear{
		clear:both;
	}


/********** Shortcode: Callout Boxes *************************************************************/
	.dnd-callout_box{
		background: #f3f3f3;
		margin-bottom: 20px;
		padding: 20px;
	}

	.dnd-callout_box_title{
		display: block;
		font-weight: 700;
		font-size: 16px;
	}

	.dnd-callout_box p{
		margin-bottom: 0;
	}

	.dnd-callout_box .dnd_column_dd_span3{
		text-align: center;
		padding-top: 30px;
	}



/********** Shortcode: Buttons *************************************************************/
.dnd-button{
	display: inline-block;
	white-space: nowrap;
	font-size: 12px;
	line-height: 12px;
	font-weight: 600;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-right: 10px;
	margin-bottom: 20px;
	text-decoration: none;
	text-transform: uppercase;
}

.dnd-button i{
	margin-left: 10px;
	position: relative;
	top: 1px;
}

.dnd-button_light{
	background: none;
	border: 1px solid #333;
	color: #333 !important;
}

.dnd-button_dark{
	background: #505050;
	border: 1px solid #505050;
	color: #fff !important;
}

.dnd-button_yellow{
	background: #ffd800;
	border: 1px solid #ffd800;
	color: #fff !important;
}

.dnd-button_green{
	background: #e42382;
	border: 1px solid #e42382;
	color: #fff !important;
}

.dnd-button_red{
	background: #e74c3c;
	border: 1px solid #e74c3c;
	color: #fff !important;
}

.dnd-button_blue{
	background: #3498db;
	border: 1px solid #3498db;
	color: #fff !important;
}

.dnd-button_gray{
	background: #f2f4f5;
	border: 1px solid #f2f4f5;
	color: #505050 !important;
}

.dnd-button_cyan{
	background: #25bfba;
	border: 1px solid #25bfba;
	color: #fff !important;
}

.dnd-button_aquamarine{
	background: #25bf80;
	border: 1px solid #25bf80;
	color: #fff !important;
}

.dnd-button:hover{
	background: #505050;
	border: 1px solid #505050;
	color: #fff !important;
}

.dnd-button_dark:hover{
	background: #e42382;
	border: 1px solid #e42382;
	color: #fff !important;
}

.dnd-button_light:hover{
	background: none;
	border: 1px solid #e42382;
	color: #e42382 !important;
}

.dnd-button_small{
	padding: 10px 24px;
}

.dnd-button_medium{
	padding: 14px 24px;
}

.dnd-button_large{
	padding: 17px 40px;
}

.dnd-button_xlarge{
	padding: 23px 40px;
}

.dnd-button_rounded.dnd-button_small{
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px
	border-radius: 40px;
}

.dnd-button_rounded.dnd-button_medium{
	-webkit-border-radius: 48px;
	-moz-border-radius: 48px
	border-radius: 48px;
}

.dnd-button_rounded.dnd-button_large{
	-webkit-border-radius: 54px;
	-moz-border-radius: 54px
	border-radius: 54px;
}

.dnd-button_rounded.dnd-button_xlarge{
	-webkit-border-radius: 66px;
	-moz-border-radius: 66px
	border-radius: 66px;
}
