body, input {
	font-family: "Microsoft JhengHei", "Heiti TC", "WenQuanYi Zen Hei", "Arial";
	color: #444;
	font-size: 16px;
	line-height: 22px;
	background-color: #efefef;
}
body.preloader{
	visibility: hidden;
}
a{
	color: #666;
	text-decoration: none;
	transition: all 180ms ease-in;
	-webkit-transition: all 180ms ease-in;
}
a:hover{
	color: #6f7170;
	transition: all 180ms ease-in;
	-webkit-transition: all 180ms ease-in;
}
.changeCSS a, .changeCSS a:hover, nav > a, nav > a:hover{
	color: #444;
}
.add_mobile_web_app{
	height: 84px;
	background-color: #f1f1f1;
	border-bottom: 1px solid #ccc;
}
.add_mobile_web_app_text {
	font-size: 15px;
  	color: #000;
  	width: 80%;
  	display: inline-block;
  	position: absolute;
  	top: 22%;
  	left: 3%;
  	vertical-align: middle;
  	height: 40px;
  	line-height: 40px;
}
.add_mobile_web_app_text i {
	width: 35px;
  	height: 35px;
  	background-image: url(/resources/image/icon_gotop.png);
  	background-size: 35px 35px;
  	display: inline-block;
  	vertical-align: middle;
  	margin-top: -8px;
}
.add_mobile_web_app_close {
  	display: inline-block;
  	width: 22px;
	height: 22px;
	background-image: url(/resources/image/player_block_close.png);
	position: absolute;
  	right: 3%;
  	top: 34%;
  	cursor: pointer;
  	
}
.mobile_andorid_download_app{
	position: relative;
	height: 84px;
	background-color: #f1f1f1;
	border-bottom: 1px solid #ccc;
	line-height: 22px;
}
.mobile_andorid_download_app_logo{
	width: 50px;
	height: 50px;
	background-image: url(/resources/image/litv_app_icon.png);
	display: inline-block;
	margin: 5px 3% 0 3%;
	vertical-align: bottom;
}
.mobile_andorid_download_app_info{
  	display: inline-block;
	position: absolute;
  	top: 16%;
	width: 54%;
	margin-left: 3%;
}
.mobile_andorid_download_app_info_title{
	font-size: 15px;
	color: #000;
}
.mobile_andorid_download_app_info_desc{
	font-size: 13px;
	color: #444;
}
.mobile_iOS_download_app{
	height: 70px;
	background-color: #efefef;
  	border-bottom: 1px solid #ccc;
  	position: relative;
  	line-height: 22px;
}
.mobile_iOS_download_app_logo{
	width: 50px;
	height: 50px;
	background-image: url(/resources/image/litv_app_icon.png);
	display: inline-block;
	margin: 10px 3% 0 3%;
	vertical-align: bottom;
	background-size: cover;
}
.mobile_iOS_download_app_info{
  	display: inline-block;
	position: absolute;
  	top: 12%;
	width: 45%;
}
.mobile_iOS_download_app_info_title{
	font-size: 15px;
	color: #333;
  	font-weight: bold;
}
.mobile_iOS_download_app_info_desc{
	font-size: 13px;
  	color: #333;
  	font-weight: bold;
  	line-height: 13px;
}
.mobile_iOS_download_app_info_text{
	font-size: 10px;
	color: #444;
}
.mobile_iOS_download_app_button_block{
  	position: absolute;
  	right: 2%;
  	top: 16%;
}
.mobile_iOS_download_app_start{
  	width: 74px;
	height: 12px;
	background-image: url(/resources/image/download_iOS_stars.png);
	background-size: cover;
	margin-left: 5px;
}
.mobile_iOS_download_app_button{
  	width: 84px;
	height: 28px;
	background-image: url(/resources/image/btn_download.png);
	background-size: cover;
	margin-top: 10%;
}
#coverAD{
	position: fixed;
  	z-index: 10000;
  	cursor: pointer;
  	top: 0;
}
#coverAD i{
	width: 35px;
	height: 35px;
  	background-image: url(/resources/image/player_block_close.png);
	background-repeat: no-repeat;
    background-position: center center;
  	display: block;
	position: fixed;
  	right: 2%;
  	top: 2%;
}
.result_movie_future{
	font-size: 16px;
	line-height: 28px;
	/* color: #f5690a; */
}
.result_non_Link{
	cursor: default !important;
}
.result_non_Link:hover{
	border-bottom:0px !important;
}
/* ipad */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	.cover_ipad{
		width: 1024px;
		height: 768px;
		background-image: url(/resources/image/pad_1024x768_1.jpg);
		background-size: 100% 100%;
	}
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
	.cover_ipad{
		width: 768px;
		height: 1024px;
		background-image: url(/resources/image/pad_768x1024_1.jpg);
		background-size: 100% 100%;
	}
}
/* iphone */
@media only screen and (orientation : landscape) {
	.cover_iphone{
		width: 100vw;
		height: 100vh;
		background-image: url(/resources/image/phone_1920x1080_01.jpg);
		background-size: 100% 100%;
	}
}
@media only screen and (orientation : portrait) {
	.cover_iphone{
		width: 100vw;
		height: 100vh;
		background-image: url(/resources/image/phone_1080x1920_1.jpg);
		background-size: 100% 100%;
	}
}
#header_left{
	position: relative;
}
#header_left > a{
	display: block;
  	float: left;
}
#header_left, #header_left div {
	float: left;
}
#header_center {
	float: left;
	height: 50px;
	margin: 0 20px;
}
.bgcolor{
	background-color: #fff;
	border-top: 1px solid #dadada;
	border-bottom: 1px solid #dadada;
}
.arrow_int{
	border-color: transparent transparent #6f7170 transparent;
}
.under_header{
	height: 125px;
}
.under_no_header{
	height: 50px;
}
.under_no_subcategory_header{
	height: 90px;
}
.yahoo_header{
	font-size: 13px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif!important;
	height: 85px;
	visibility: visible;
	background-color: #efefef;
}
.atomic{
	font-size: 13px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif!important;
	height: 58px;
	visibility: visible;
	background-color: #400090;
}
.yheaderbottom {
	background-image: url(/resources/image/9.png);
	width: 100%;
	height: 1px;
	position: absolute;
	bottom: 0px;
}
.category_free {
	display: block;
	background-image: url(/resources/image/category_free.png);
	width: 22px;
	height: 10px;
	position: absolute;
	right: 10px;
	top: 1px;
}
.category_hot {
	display: block;
	background-image: url(/resources/image/category_hot.png);
	width: 22px;
	height: 10px;
	position: absolute;
	right: 10px;
	top: 2px;
}
.category_header_special {
	background: linear-gradient(to bottom, #cb60b3, #a80077);
	font-weight: 600;
}
nav .hightlight{
	color: #408ed6;
}
.masks {
    opacity: 0.7;
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    height: 470px;
    position: absolute;
    background: #000;
    overflow: hidden;
}
.vod-category-name a:hover, .vod-category-name-top a:hover, .vod-category-name a:hover span, .vod-category-name-top a:hover span, .vod-category-name-top a:hover h2 {
	color: #fb8a08;
	text-shadow: 1px 1px #fff;
}
/* Aji, 2015/02/09 add static promotion message. */
span.hardcodeForFreeTitle{
	font-size: 16px;
	color: #fff;
	padding: 1px 8px;
	background-color: #ca080c;
	border-radius: 4px;
	margin-left: 15px;
	vertical-align: middle;
	display: inline-block;
}
span.hardcodeForFree.list_page{
	margin: -20px 0 0 10px;
}
/* Aji, end */
.fb_page_block{
	display: inline-block;
	vertical-align: top;
	margin-top: 3px;
}
.fb_page_name{
	font-size: 12px;
	line-height: 20px;
	text-align: right;
	margin-right: 3px;
}
.fb-like.fb_iframe_widget{
	line-height: 14px;
}
.fb-like.fb_iframe_widget iframe{
	z-index: 2;
}
#recommend > .showbiz .mediaholder img{
	border: 2px solid #aaa;
}
.showbiz .mediaholder img{
	border: 2px solid #fff;
}
.showbiz p {
    color: #707070;
}
#abdev_main_footer {
	color: #444;
	text-align: center;
}
.device_section {
	background: #ddd;
	padding: 50px 0;
	/*margin: 30px auto 0;*/
	color: #444;
}
.device_block {
	width: 33%;
	padding: 0 2%;
	float: left;
}
.device_image {
	width: 38%;
	padding-right: 4%;
	display: table-cell;
	vertical-align: middle;
}
.device_image img {
	width: 100%;
}
.device_content {
	width: 58%;
	display: table-cell;
	vertical-align: middle;
}
.device_title {
	font-size: 24px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #aaa;
}
.device_title img {
	width: 1em;
	height: auto;
	margin: -0.2em 0.2em 0 0;
}
.QRcode {
	width: 46%;
	float: left;
}
.QRcode img {
	background: #FFF;
	width: 94%;
	padding: 2%;
	margin: 5px 0;
	border: 1px solid #CCC;
}
.device_desc {
	margin-bottom: 10px;
	text-align: left;
	font-size: 15px;
	line-height: 1.5em;
}
.device_desc.float_right {
	width: 50%;
}
.device_desc a {
	color: #06C;
	text-decoration: underline;
}
.download-app {
	background-image: url(/resources/image/downloadApp.jpg);
	height: 550px;
}
.download-andriod {
	width: 23%;
	height: 100%;
	display: inline-block;
	margin-left: 2%;
}
.download-ios-web {
	width: 23%;
  	height: 100%;
  	display: inline-block;
  	margin-right: 2%;
  	float: right;
}
.footer_section {
	width: 920px;
	margin: 0 auto;
}
.footer_buttom a:nth-child(3) {
	line-height: 50px;
}
.footer_buttom a:nth-child(4) {
	margin-right: 0;
}
.footer_buttom a .notes {
	font-size: 16px;
	margin-top: -24px;
	display: block;
}
.footer_buttom a img {
	width: auto;
	margin: 11.5% -19px auto 17%;
	float: left;
}
.footer_list {
	width: 61.5%;
	margin-top: 30px;
	float: left;
}
.footer_list ul {
	padding: 0;
	margin: 0;
}
.footer_list ul li {
	width: 16%;
	padding: 0;
	margin-right: 4%;
	color: #FFF;
	list-style: none;
	float: left;
	text-align: left;
}
.footer_list ul li:last-child {
	margin-right: 0;
}
.footer_list h5 {
	font-size: 16px;
	padding-bottom: 0.5em;
	margin-bottom: 0.3em;
	border-bottom: 1px solid #f2dbfe;
	color: #fff;
}
.footer_list ul li a {
	font-size: 15px;
	line-height: 1.6em;
	color: #f2dbfe;
	text-decoration: none;
	display: block;
}
.footer_list a:hover {
	color: #f78802;
}
.facebook {
	margin-top: 30px;
	display:inline-block;
}
.borderLeft {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	border-right: 0;
}
.borderRight {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-left: 0;
}
#contract_date {
	margin-bottom: 30px;
	font-size: 14px;
}
#contract {
	line-height: 24px;
}
#contract .margin_bottom {
	margin-bottom: 30px;
}
.font_weight_bold {
	font-weight: bold;
}
#contract .block {
	margin-left: 32px;
}
#contract .block2 {
	margin-left: 48px;
}
#contract ul {
	list-style-type: decimal;
}
#contract ul li {
	margin-left: 22px;
}
#contract ul ul {
	list-style-type: upper-roman;
	margin-left: 20px;
}
#contract ul ul ul {
	list-style-type: disc;
	margin-left: 20px;
}
.multiscreen_container {
	width: 1004px;
	margin: 0 auto;
}
.multi_banner {
	background-image: url(/resources/image/multi_banner.jpg);
	width: 100%;
	height: 320px;
	margin-bottom:10px;
}
.multiscreen_block {
	background-color: #fff;
	margin-right: 15px;
	padding: 30px 15px;
	width: 236px;
	height: 298px;
	display: inline-block;
	vertical-align: top;
}
.multiscreen_img {
	min-height: 112px;
	margin: 0 auto;
	background-position: center center;
}
.multiscreen_title {
	text-align: center;
	font-size: 26px;
	line-height: 70px;
	color: #000;
}
.multiscreen_content {
	font-size: 16px;
	color: #58595b;
}
.multiscreen_bigImg {
	width: 1004px;
	height: 563px;
	margin: 20px 0 30px 0;
}
.display_flex {
	display: flex;
	align-items: center;
}
.float_left {
	float: left;
}
.float_right {
	float: right;
}
.font_size_22 {
	font-size: 22px;
}
.blue {
	color: #408ed6;
}
.center {
	text-align: center;
}
.tip {
	text-align: center;
	width : 100%;
	padding: 0 10px 0 10px;
	position:fixed;
	top : 0px;
	z-index : 1900000;
	background-color: #ff0000;
	color: #ffffff;
}
.download-button {
	display: inline-block;
	background-color: #f3680b;
	color: #fff;
	padding: 11px 20px;
	font-size: 24px;
	border-radius: 4px;
	border: 1px solid #f3680b;
	margin-left: 15px;
	cursor: pointer;
	line-height:24px;
}
.search{
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: rgba(225, 225, 225);
}
.input_name_result_count{
	height:50px;
}
.result_line{
	height: 1px;
	background-color: rgba(225, 225, 225, 0.9);
	margin-left: 10px;
	margin-right: 10px;
}
.input_name{
	float: left;
	margin-left: 10px;
	font-size: 20px;
	line-height: 50px;
}
.result_name{
	color: #f5690a;
}
.result_count{
	font-size: 10px;
}
.result_movie{
	height: 235px;
}
.result_movie_image{
	width: 152px;
	height: 215px;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
	background-size: 152px 215px;
	float: left;
	display: block;
}
.result_movie_title{
	font-size: 20px;
	line-height: 30px;
	color: #f5690a;
}
.result_movie_title:hover{
	border-Bottom: 1px solid #f5690a;
	color: #f5690a;
}
.result_movie_secondary_mark{
	font-size: 16px;
	line-height: 30px;
	color: black;
}
.result_movie_display_count{
	font-size: 16px;
	line-height: 28px;
}
.result_movie_commentary{
	font-size: 15px;
	line-height: 25px;
	color: #8c8c8c;
}
.line_block .content{
	float: left;
	font-size: 15px;
	line-height: 24px;
}
.line_block .right_content{
	overflow: hidden;
	zoom: normal;
	margin: 0;
}
.line_block .level_icon{
	height: 24px;
	float: left;
	display: block;
	margin-right: 5px;
}
.result_movie_text .credits_block{
	width: 100%;
	overflow: hidden;
}
.content.margin_right_10{
	margin-right: 10px;
}
.result_movie_text .line_block{
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}
.result_movie_btn{
	width: 90px;
	height: 35px;
	display: block;
	background-color: #f5690a;
	border: #f5690a 1px solid;
	border-radius: 5px;
	line-height: 35px;
	font-size: 20px;
	text-align: center;
	color: #f1f1f1;
	cursor: pointer;
	padding-left: 30px;
	position: relative;
}
.result_movie_btn:hover{
	color: #f1f1f1;
}
.result_img_link{
	position: relative;
	display: block;
	float: left;
	cursor: pointer;
}
.result_img_link .result_movie_play_icon{
	position: absolute;
	width: 50px;
	height: 50px;
	background-size: 50px 50px;
	top: 92px;
	background-image: url(/resources/image/play.png);
	left: 60px;
	display: block;
	opacity: 0.8;
}
.result_img_link .result_movie_free_icon{
	position: absolute;
	width: 35px;
	height: 20px;
	display: block;
	background-image: url(/resources/image/free.png);
	left: 128px;
	bottom: 10px;
}
.no_result{
	/* height: 100px; */
}
.no_result_icon{
	display: block;
	float: left;
	width: 80px;
	height: 80px;
	background-size: 80px 80px;
	margin-left: 10px;
	margin-top: 10px;
	border: #bbb 1px solid;
}
.no_result_bakc_home_link{
	color: #408ed6;
	cursor: pointer;
}
.search_recommadation_title{
	height: 50px;
	font-size: 20px;
	line-height: 50px;
	overflow: hidden;
	margin-left: 24px;
	margin-top: 20px;
}
.search_recommadation_movie{
	margin: 8px 18px 20px 8px;
	display: block;
	float: left;
	cursor: pointer;
}
.recommadation_movie_poster{
	width: 152px;
	height: 215px;
	background-size: 152px 215px;
	display: block;
}
.recommadation_movie_poster:hover{
	box-shadow: 0px 0px 6px 3px #724F82;
}
.recommadation_movie_title{
	display: block;
	float: left;
	font-size: 20px;
	line-height: 25px;
	color: black;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 110px;
}
.recommadation_movie_score{
	display: block;
	float: left;
	font-size: 20px;
	line-height: 25px;
	color: #f5690a;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 42px;
}
.recommadation_movie_line_text{
	display: block;
	width: 152px;
	height: 25px;
	margin-top: 5px;
}
.recommadation_movie_line_text.recommadation_movie_desc{
	font-size: 15px;
	line-height: 25px;
	color: #666;
	overflow: hidden;
	text-overflow: ellipsis;
}
.overflow_hidden{
	overflow: hidden;
}
.result_blockStyle{
	width:97%;
	margin:0 auto;
	border-top:1px solid rgba(225, 225, 225, 0.9);
	display:block;
}
.triangle_icon{
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 7px 0 7px 14px;
	border-color: transparent transparent transparent #fff;
	margin-top: 10px;
	left: 15px;
}
.visibility_visible{
	visibility: visible !important;
}
.visibility_hidden{
	visibility: hidden !important;
}
.display_block{
	display: block !important;
}
.display_none{
	display: none !important;
}

/* ===== width 769 ~ max ===== */
@media screen and (min-width: 769px){
	.mobile_iOS_download_app_logo{
		width: 50px;
		height: 50px;
		background-image: url(/resources/image/litv_app_icon.png);
		display: inline-block;
		margin: 10px 2% 0 2%;
		vertical-align: bottom;
	}
	.search_result{
		margin-left: 200px;
		margin-right: 200px;
		background-color: #ffffff;
		/* overflow: hidden; */
	}
	.recommadation_result{
		margin-left: 200px;
		margin-right: 200px;
	}
	.result_movie_text{
		zoom: 1;
	  	overflow: hidden;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-right: 10px;
		padding-left: 10px;
	}
	.no_result_msg{
		height: 100px;
		font-size: 20px;
		line-height: 100px;
		overflow: hidden;
		padding-left: 10px;
	}
	.result_movie_text .text_block{
		min-height: 180px;
	}
}

/* ===== width 0 ~ 800 ===== */
@media screen and (max-width: 800px) {
	.search_result{
		margin-left: 10px;
		margin-right: 10px;
		background-color: #ffffff;
		/* overflow: hidden; */
	}
	.recommadation_result{
		margin-left: 10px;
		margin-right: 10px;
	}
	.result_movie_text{
		zoom: 1;
	  	overflow: hidden;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-right: 10px;
		padding-left: 10px;
		clear: both;
	}
	.no_result_msg{
		height: 100px;
		font-size: 20px;
		line-height: 50px;
		overflow: hidden;
		padding-left: 10px;
	}
	.result_movie_text .text_block{
		min-height: initial;
	}
	.result_movie_btn{
		margin-top: 5px;
	}
	.under_header, .under_no_subcategory_header {
		height: 50px;
	}
	.multiscreen_container {
		width: 100%;
	}
	.multi_banner {
		background-image: url(/resources/image/multi_banner_phone.jpg);
		width: 100%;
		height: 320px;
		background-position: center center;
		background-size: cover;
	}
	.multiscreen_block {
		margin-bottom: 15px;
	}
	.multiscreen_bigImg {
		width: 100%;
		height: 234px;
		background-position: center right;
		background-size: cover;
	}
	span.hardcodeForFree.list_page{
		margin: 5px 0 0 10px;
	}
	.add_mobile_web_app_text {
	  top: 28%;
	}
	.add_mobile_web_app_close {
	  top: 28%;
	}
	.footer_container {
		display: none;
	}
	#main_top{
		overflow: hidden;
	}
	.device_section {
		width: 100%;
		padding: 30px 3%;
	}
	.device_block {
		padding: 0 10px;
		border-right: none;
	}
	.device_block:nth-child(1) {
		width: 50%;
	}
	.device_block:nth-child(2) {
		width: 50%;
	}
	.device_block:nth-child(3) {
		width: 100%;
		border-bottom: none;
		float: none;
		clear: both;
	}
	.device_image {
		width: 48%;
	}
	.device_title {
		font-size: 18px;
	}
	.footer_section {
		width: 90%;
	}
	.footer_buttom a {
		width: 48%;
	}
	.footer_buttom a:nth-child(2) {
		margin-right: 0;
		margin-bottom: 15px;
	}
	.footer_buttom a img {
		margin: 7.5% 10px auto 28%;
	}
	.footer_list {
		width: 100%;
	}
	.facebook {
		display: none;
	}
}

/* ===== width 0 ~ 640 ===== */
@media screen and (max-width: 640px) {
	.device_block {
		float: none;
	}
	.device_block:nth-child(1) {
		width: 100%;
	}
	.device_block:nth-child(2) {
		width: 100%;
		padding: 30px 10px;
	}
	.device_image {
		display: none;
	}
	.QRcode {
		width: 44%;
		margin: 0 2%;
		display: inline-block;
	}
	.QRcode img{
		width: 94%;
		border: 1px solid #CCC;
		padding: 2%;
		margin-top: 0.2em;
	}
}

/* ===== width 0 ~ 440 ===== */
@media screen and (max-width: 440px){
	.result_blockStyle{
		width: 93.36%;
	}
	.mobile_andorid_download_app_logo {
		margin: 5px 3% 0 4%;
	}
	.mobile_andorid_download_app_info_desc {
		display: none;
	}
	.add_mobile_web_app_text {
	  top: 18%;
	  line-height: 22px;
	}
	.add_mobile_web_app_close {
	  top: 18%;
	}
}

@media only screen and (-webkit-min-device-pixel-ratio: 1), only screen and (min-device-pixel-ratio: 1) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2){
	.mobile_andorid_download_app, .add_mobile_web_app{
		height: 60px;
		background-color: #bebebe;
	}
	.mobile_andorid_download_app_logo{
		background-image: url(/resources/image/litv_app_icon@2x.png);
		background-size: 50px 50px;
	}
}