.leftmenu {
	background:#FFF;
	width:100%;
	float:left;
}
.leftmenu .leftmenu_title {
	padding:10px 20px;
	border-bottom:1px solid #BBB;
	font-size:18px;
	font-weight:bold;
	color:#000;
}
.leftmenu ul {
	margin-left:initial;
}
.leftmenu ul li {
	background:url(/resources/image/leftmenu/leftmenu_arrow_hover.png) 95% 50% no-repeat;
	list-style:none;
	font-size:16px;
	position:relative;
}
.leftmenu ul li a {
	padding:10px 20px;
	color:#666;
	text-decoration:none;
	display:block;
}
.leftmenu ul li a .leftmenu_price {
	color:#F60;
	font-size:13px;
}
.leftmenu ul li a:hover .leftmenu_price, .leftmenu ul li a.focus .leftmenu_price {color:#FFF;}
.leftmenu ul li .arrow_right {background:url(/resources/image/leftmenu/leftmenu_arrow_right.png) 95% 50% no-repeat;}
.leftmenu ul li .arrow_down {background:url(/resources/image/leftmenu/leftmenu_arrow_down.png) 95% 50% no-repeat;}
.leftmenu ul li ul {display:none;}
.leftmenu ul li ul li {
	font-size:15px;
	position:relative;
}
.leftmenu ul li ul li a {
	background:#e6e6e6;
	padding-left:30px;
	font-weight: bold;
}
.leftmenu ul li a:hover,
.leftmenu ul li a.focus {
	background-color:#8c4593;
	color:#FFF;
}
.leftmenu ul li a:hover{
	background-color: #a664aa;
}
.leftmenu ul li ul li a:hover{
	color: #8c4593;
	background-color: #e6e6e6;
}
.leftmenu ul li ul li a.focus{
    background-color: #8c4593;
    color: #FFF;
}
.leftmenu ul li a .leftmenu_price {
	color:#F60;
	font-size:13px;
}
.leftmenu ul li a:hover .leftmenu_price {
    color: #8c4593;
}
.leftmenu ul li a.focus .leftmenu_price {
	color:white;
}
.leftmenu ul li a.focus:hover .leftmenu_price {
	color:white;
}
/* === width 0 ~ 880 === */
@media only screen and (max-width: 880px) {
	.leftmenu {
		background:#FFF;
		width:100%;
		float:none;
		display:inline-block;
	}
	.leftmenu ul li a.on { background:url(/resources/image/leftmenu/leftmenu_arrow_down.png) 98% 50% no-repeat;}
}