#atomic .My\(8px\) {
	margin-top: 8px;
	margin-bottom: 8px;
}
#atomic .Pstart\(10px\), #atomic .Px\(10px\) {
	padding-left: 10px;
}
#atomic .Pb\(10px\), #atomic .Py\(10px\) {
	padding-bottom: 10px;
}
#atomic .Pt\(6px\), #atomic .Py\(6px\), #atomic .Py\(cell-padding\) {
	padding-top: 6px;
}
#atomic .Miw\(200px\) {
	min-width: 200px;
}
#atomic .Mxw\(160px\) {
	max-width: 160px;
}
#atomic .Pend\(62px\) {
	padding-right: 62px;
}
#atomic .Py\(10px\), #atomic .Pb\(10px\) {
	padding-bottom: 10px;
}
#atomic .Py\(cell-padding\), #atomic .Py\(6px\), #atomic .Pt\(6px\) {
	padding-top: 6px;
}
#atomic .Px\(10px\), #atomic .Pstart\(10px\) {
	padding-left: 10px;
}
#atomic .Miw\(200px\) {
	min-width: 200px;
}
#atomic .Z\(7\) {
	z-index: 7;
}
#atomic .W\(100\%\), .Row {
	width: 100%;
}
#atomic .Pos\(r\) {
	position: relative;
}
#atomic .D\(ib\), .Ell:after, .IbBox, .Row, a[class*=LineClamp], a[class*=LineClamp]:after {
	display: inline-block;
}
#atomic .H\(35px\) {
	height: 35px;
}
#atomic .H\(35px\) {
	height: 35px;
}
#atomic .Bdrs\(1px\) {
	border-radius: 1px;
}
.yfp-search-box {
	border-bottom: 1px solid rgba(255,255,255,.6);
}
#atomic .Pos\(a\), .StretchedBox {
	position: absolute;
}
#atomic .End\(0\) {
	right: 0;
}
#atomic .Va\(m\) {
	vertical-align: middle;
}
#atomic .Ta\(c\) {
	text-align: center;
}
#atomic .End\(0\) {
	right: 0;
}
#atomic .D\(ib\), .Ell:after, .IbBox, .Row, a[class*=LineClamp], a[class*=LineClamp]:after {
	display: inline-block;
}
#atomic .Cur\(p\) {
	cursor: pointer;
}
#atomic .C\(\#fff\), #atomic .C\(\#fff\)\:h:hover, #atomic .C\(inverse-text\) {
	color: #fff;
}
#atomic .Bxz\(bb\), .Row, .film-rating {
	box-sizing: border-box;
}
#atomic .W\(44px\) {
	width: 44px;
}
#atomic .W\(38px\) {
	width: 38px;
}
#atomic .W\(160px\) {
	width: 160px;
}
#atomic .Va\(m\) {
	vertical-align: middle;
}
#atomic .Us\(n\) {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#atomic .Ta\(c\) {
	text-align: center;
}
#atomic .End\(0\) {
	right: 0;
}
#atomic .Lh\(35px\) {
	line-height: 35px;
}
#atomic .H\(35px\) {
	height: 35px;
}
#atomic .D\(ib\), .IbBox, a[class*=LineClamp], .Row {
	display: inline-block;
}
#atomic .Cur\(p\) {
	cursor: pointer;
}
#atomic .C\(inverse-text\) {
	color: #fff;
}
#atomic .Bxz\(bb\), .Row {
	box-sizing: border-box;
}
#atomic .yfp-search-btn {
	background-color: #0f69ff;
	color: #fff;
}
#atomic .Fz\(18px\) {
	font-size: 18px;
}
.StencilRoot .Icon {
	font-family: Mobiv2-rollup;
}
.StencilRoot .Icon, .StencilRoot .Ycon {
	width: 1.25em;
	text-align: center;
	display: inline-block;
	zoom: 1;
}
#atomic .W\(100\%\), .Row {
	width: 100%;
}
#atomic .Pstart\(10px\), #atomic .Px\(10px\) {
	padding-left: 10px;
}
#atomic .O\(0\), #atomic .O\(0\)\:f:focus, #atomic .O\(n\), #atomic .O\(n\)\:f:focus {
	outline: 0;
}
#atomic .M\(0\) {
	margin: 0;
}
#atomic .H\(100\%\) {
	height: 100%;
}
#atomic .Fz\(15px\) {
	font-size: 15px;
}
#atomic .D\(ib\), .Ell:after, .IbBox, .Row, a[class*=LineClamp], a[class*=LineClamp]:after {
	display: inline-block;
}
#atomic .Bdrs\(0\) {
	border-radius: 0;
}
#atomic .W\(100\%\), .Row {
	width: 100%;
}
#atomic .Px\(10px\), #atomic .Pstart\(10px\) {
	padding-left: 10px;
}
#atomic .O\(0\) {
	outline: 0;
}
#atomic .M\(0\) {
	margin: 0;
}
#atomic .H\(100\%\) {
	height: 100%;
}
#atomic .Fz\(15px\) {
	font-size: 15px;
}
#atomic .D\(ib\), .IbBox, a[class*=LineClamp], .Row {
	display: inline-block;
}
#atomic .C\(\#262626\) {
	color: #262626;
}
#atomic .Bdrs\(0\) {
	border-radius: 0;
}
#atomic .Bd\(0\), .Bd\(0\) {
	border: 0;
}
.D\(b\) {
	display: block;
}
.StencilRoot input[type=search] {
	-webkit-appearance: textfield;
}
.StencilRoot input[type=date], .StencilRoot input[type=datetime-local], .StencilRoot input[type=datetime], .StencilRoot input[type=email], .StencilRoot input[type=month], .StencilRoot input[type=number], .StencilRoot input[type=search], .StencilRoot input[type=tel], .StencilRoot input[type=text], .StencilRoot input[type=time], .StencilRoot input[type=url], .StencilRoot input[type=week] {
	padding: .4em;
}
.StencilRoot input, .StencilRoot label, .StencilRoot select, .StencilRoot textarea {
	display: inline-block;
	vertical-align: middle;
	padding: .3em;
	color: inherit;
	border-radius: 3px;
	margin: 5px 0;
}
.StencilRoot .Themable .ThemeReset input, .StencilRoot .Themable .ThemeReset select, .StencilRoot .Themable .ThemeReset textarea, .StencilRoot input, .StencilRoot select, .StencilRoot textarea {
	background-color: #fff;
	border: 1px solid #ccc;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: none\9;
}
.StencilRoot input, .StencilRoot select, .StencilRoot textarea {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: border linear .2s,box-shadow linear .2s;
	-moz-transition: border linear .2s,box-shadow linear .2s;
	-o-transition: border linear .2s,box-shadow linear .2s;
	transition: border linear .2s,box-shadow linear .2s;
}
.StencilRoot button, .StencilRoot input, .StencilRoot select, .StencilRoot textarea {
	font: 13px/1.25 'Helvetica Neue',Helvetica,Arial,sans-serif;
	font-size: 1.3rem;
}
.yfp-search-input {
	-webkit-appearance: none!important;
	-moz-appearance: none!important;
	appearance: none!important;
}
#atomic .Bd\(0\), .Bd\(0\) {
	border: 0;
}
.StencilRoot i {
	font-style: normal;
}
.YLogoMY {
	background-repeat: no-repeat;
	background-image: url(https://s1.yimg.com/rz/d/yahoo_frontpage_zh-Hant-TW_s_f_w_350x40_frontpage.png);
	_background-image: url(https://s.yimg.com/rz/d/yahoo_celebrity_zh-Hant-TW_s_f_pw_351x40_celebrity.gif);
	width: 100px !important;
	height: 40px;
	margin: 0 auto;
	background-size: cover;
}
.DarkTheme .YLogoMY {
	background-position: -0px 0px !important;
	margin: 0 auto;
}
.yfp-search {
	width: 100%;
	height: 58px;
}
.yfp-search-form{
	width: 98%;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and ( min--moz-device-pixel-ratio: 2), only screen and ( -o-min-device-pixel-ratio: 2/1), only screen and ( min-device-pixel-ratio: 2), only screen and ( min-resolution: 192dpi), only screen and ( min-resolution: 2dppx) {
	.YLogoMY {
		background-size: cover;
		background-image: url(https://s1.yimg.com/rz/d/yahoo_frontpage_zh-Hant-TW_s_f_w_350x40_frontpage_2x.png);
	}
}