@charset "utf-8";

/*---------- Container ----------*/

.container,
.dnd_container {
	width: 90%;
	margin: 0 auto;
	position: relative;
}

.container hr {
	height: 1px;
	margin: 0;
	border: 0;
	background-color: #CCC;
	color: #CCC;
}

.left_content {
	width: 15%;
	margin: 20px 2% 0 0;
	float: left;
}

.right_content {
	background: #FFF;
	width: 83%;
	max-width: 1360px;
	margin: 20px 0 50px;
	line-height: 1.5em;
	float: left;
}

.right_content.no_background {background:none;}

.fullscreen_content {
	background-color:#FFF;
	max-width:1920px;
	padding:30px 2%;
	margin-bottom: 30px;
}

.middle_content {
	background: #FFF;
    max-width: 1000px;
    margin: 30px auto;
    padding: 40px;
}

.page_content {
	background: #FFF;
	min-height: 600px;
	margin: 0 auto;
	padding: 40px;
	font-size: 15px;
	line-height: 1.5em;
	color: #333;
}

.page_content .page_section {margin-bottom:40px;}
.page_content .page_section:last-child {margin-bottom:0;}
.page_content .page_section p {padding:0 30px 20px;}
.page_content .page_section p strong {
	margin:0 0.1em;
	font-size:110%;
	font-weight:bold;
	color:#F60;
}

.page_content a {
	color:#39C;
	text-decoration:underline;
}

.page_content a:hover {
    color:#36C;
}

.page_title, .section_title {
	margin-bottom: 20px;
	font-weight: bold;
}
.page_title {
	color: #303;
	font-size: 24px;
}
.section_title {
	font-size: 20px;
}
.tip_block {
	background:#f8f8f8;
	margin-bottom:20px;
	padding:10px 15px;
	border-radius:5px;
	display:inline-block;
}

/*---------- Table ----------*/

.common_form {
	width: 100%;
	border: 1px solid #CCC;
	margin: 0;
}

.common_form tr th, .common_form tr td {
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	padding: 10px;
	line-height: 1.2em;
	text-align: center;
	vertical-align: middle;
}

.common_form tr th {
	background: #EEE;
}

.common_form tr th:last-child,
.common_form tr td:last-child {
	border-right: none;
}

.common_form tr:last-child td {
	border-bottom: none;
}

.common_form a {
	color:#408ed6;
	text-decoration:underline;
}

.form_detail ul li {
	margin:10px;
	list-style:none;
	text-align:left;
}

/*----- Logo -----*/

#logo {
    width: 130px;
    height: 35px;
    display: inline-block;
    float: none;
    background-image: url("/resources/image/logo.png");
    float: left;
    margin: 7.5px 0;
    background-repeat: no-repeat;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1),
not all,
not all {
    #logo {
        background-image: url("/resources/image/logo.png");
        background-size: auto;
    }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and ( min--moz-device-pixel-ratio: 2),
only screen and ( -o-min-device-pixel-ratio: 2/1),
only screen and ( min-device-pixel-ratio: 2),
only screen and ( min-resolution: 192dpi),
only screen and ( min-resolution: 2dppx) {
#logo {
        background-image: url("/resources/image/logo@2x.png");
        background-size: 100% auto;
       }
}

/*----- Search -----*/

.search_bar {
    height: 30px;
    margin-top: 10px;
    margin-left: 50px;
}

.search_form .send_btn {
    position: absolute;
    width: 30px;
    height: 30px;
    background: url("/resources/image/icon_search.png") center center no-repeat;
    background-size: auto;
    background-color: #eee;
    border: 1px solid #bbb;
    border-left: none;
    display: block;
    margin-bottom: initial;
    padding: 0px;
    border-radius: 0px 5px 5px 0px;
    right: 0px;
    top: 0px;
}

.search_form .send_btn:hover {
    background: url("/resources/image/icon_search_a.png") center center no-repeat;
    background-color: #5e0b75;
    border: 1px solid #5e0b75;
}

.search_form .search_input:focus {
    background: #FFF;
    border: 1px solid #F90;
}

.search_bar .search_dialog_btn {
    background: url("/resources/image/icon_search.png") center center no-repeat;
    background-size: 65%;
    background-color: #eee;
    border: 1px solid #bbb;
    width: 30px;
    height: 30px;
    float: left;
    padding: 0px;
    border-radius: 5px;
    margin-bottom: initial;
    display: none;
}

.search_recommand_items .recommand_item .item_index {
    width: 25px;
    height: 24px;
    line-height: 24px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 15px;
    text-align: center;
    background-color: transparent;
    border: 1px solid #F90;
    color: #F90;
}

.search_recommand_items .recommand_item:nth-of-type(1) .item_index,
.search_recommand_items .recommand_item:nth-of-type(2) .item_index,
.search_recommand_items .recommand_item:nth-of-type(3) .item_index {
    background-color: #F60;
    border: 1px solid #F60;
    color: #FFF;
}


/*----- 右上選單 -----*/

#header_right {
    float: right;
    font-size: 15px;
}

nav .menu_right .user_info_desc {
    display: inline-block;
    min-width: 60px;
    max-width: 96px;
    overflow: hidden;
    height: 22px;
    margin-left: 5px;
    text-align: left;
    vertical-align: top;
    line-height: 20px;
    color: #303;
}

nav .menu_right {
    color: #999;
    float: right;
    text-align: center;
    margin-top: 10px;
    height: 32px;
}

nav .menu_right:hover,
nav .menu_right.highlight:hover,
nav .menu_right.active {
    color: #F60;
}

.menu_right_div {
    float: right;
    margin-right: 0;
}

.menu_right_div .menu_right {
    padding: 5px 0.4em;
}

.menu_right.split:hover{
    color: #999;
}

.menu_right_div.onlyPc .menu_right.menu_cart span::before {
    background: url(/resources/image/icon_purchase.png) center 4px no-repeat;
    width: 20px;
    height: 24px;
    margin: 0 3px 0 0;
    content: "";
    display: inline-block;
    float: left;
}

.menu_right_div.onlyPc .menu_right.hightlight span::before {
    display: none;
}

nav .menu_right.current_item {
    background-color: transparent;
    color: #999;
    border-radius: none;
}
nav .menu_right.current_item:hover{
    color: #F60;
}
nav .menu_right.menu_cart{
    color: #5e0b75;
}
nav .menu_right.right_menu_active {
    color: #F60;
}
nav .menu_right.right_menu_active:hover{
    color: #F60;
}
nav .menu_right.menu_cart:hover{
    color: #F60;
}
nav .menu_right.menu_cart.right_menu_active:hover{
    color: #F60;
}
.nonListStyle{
    background-color: #f1f1f1;
}
.noninformation{
    text-align: left;
}


/*----- 主選單 -----*/

.category_header {
    width: 100%;
    height: 40px;
    background: rgba(65, 0, 80, 0.9);
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.3);
    border-bottom: none;
    font-size: 16px;
    margin-top: 0px !important;
    position: fixed;
    z-index: 201;
    top:0;
}

.category_header li {
    display: inline-block;
    position: relative;
    padding: 10px 0;
    height: 40px;
    float: left;
    cursor: pointer;
}

.category_header li a {
    color: #eee;
    padding: 0 0.9em;
}

.category_header li:hover a {
    color: #ff8400;
}

.category_header li:nth-child(1) a,
.category_header li:nth-child(3) a,
.category_header li:nth-child(9) a {
    border-right: 1px solid #303;
    box-shadow: 1px 0px 0px 0px rgba(255, 255, 255, 0.5);
}

.category_header li.current-menu-item {
    background: rgba(155, 80, 160, 0.8);
    height: 40px;
}

.category_header li.current-menu-item a {
    font-weight: bold;
    color: #fff;
}


/*----- 次選單 -----*/

.subcategory_header {
    width: 100%;
    height: 35px;
    font-size: 14px;
    background: rgba(250, 250, 250, 0.9);
    border-bottom: 1px solid #CCC;
    overflow: hidden;
    position: fixed;
    z-index: 200;
    top:0;
}

.subcategory_header a,
.subcategory_header a:hover,
#more_category a,
#more_category a:hover {
    font-size: 14px;
    text-shadow: none;
}

.subcategory_header a,
#more_category a {
    color: #303;
}

.subcategory_header a:hover,
#more_category a:hover {
    border-bottom: 0;
    padding-bottom: 0;
    color: #F60;
}

.subcategory_header li a.active {
    color: #8c4593;
    padding-bottom: 4px;
    border-bottom: 3px solid #8c4593;
}

#more_category_box {
    position: fixed;
    z-index: 10000;
    border: 1px solid #bbb;
    background-color: rgba(51, 0, 51, 0.8);
    border-radius: 5px;
    display: none;
}

.more_arrow_int {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7px 5px 7px;
    margin-left: 25%;
    top: 36px;
    position: absolute;
    border-color: transparent transparent #471947 transparent;
}

#more_category_box li {
    padding: 5px 10px;
}

#more_category a {
    color: #FFF;
}

#more_category a:hover {
    color: #F80;
}


/*----- Banner 輪播 -----*/

.main_visual {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    border-bottom: none;
}

#btn_prev {
    left: 3.5%;
    background-size: contain;
    background-image: url(/resources/image/bn_arrow_prev.png);
}

#btn_prev,
#btn_next {
    z-index: 100;
    position: absolute;
    width: 60px!important;
    height: 60px!important;
    top: 52%;
    margin-top: -37px;
}

#btn_next {
    right: 3.5%;
    background-size: contain;
    background-image: url(/resources/image/bn_arrow_next.png);
}

#btn_prev:hover {
    background-image: url(/resources/image/bn_arrow_prev_a.png);
}

#btn_next:hover {
    background-image: url(/resources/image/bn_arrow_next_a.png);
}

.flicking_con a.on {
    background: #5e0b75;
    cursor: default;
}

.flicking_con a {
    width: 10px;
    float: left;
    height: 10px;
    font-size: 0px;
    overflow: hidden;
    cursor: pointer;
    margin-right: 10px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    background: #fff;
}


/*----- 首頁 影片列表 -----*/

.vod-category {
    padding: 20px 0 0;
}

.container.vod-category:first-child {
    padding: 30px 0 10px;
}

.container.vod-category:last-child {
    padding-bottom: 50px;
}

.vod-category-name-top {
    width: 100%;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    line-height: 1em;
    font-size: 26px;
    font-weight: bold;
}

.vod-category-name-top a h2 {
    color: #303;
    font-weight: bold;
    font-size: 24px;
    text-shadow: none;
    float: left;
    margin-bottom: 0;
    display: inline-block;
}

.vod-category-name a span,
.vod-category-name-top a span {
    border-left: 1px solid #ccc;
    font-size: 15px;
    padding: 0 0.5em;
    margin: 0.5em 0 0 10px;
    font-weight: normal;
    line-height: 1em;
    color: #666;
}

.vod-category-name a span:hover,
.vod-category-name-top a span:hover {
    color: #F60;
}

.fb_like {
    display: none;
}

.vod-category-name-related{
    font-size: 22px;
    font-weight: bold;
    color: #7c7c7c;
    padding: 10px 0 0 10px;
}

/* 
.fb_like {
    width: auto;
    position: absolute;
    right: 0;
    top: 8px;
    display: none;
    vertical-align: middle;
} */

span.hardcodeForFree {
    font-size: 15px;
    font-weight: bold;
    color: #666;
    vertical-align: middle;
    line-height: 25px;
    display: inline-block;
}

.als-container {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    margin: 0px auto;
    clear: both;
}

.arrow-left-img,
.arrow-right-img {
    background-size: auto 100%;
    background-position: center center;
    width: 60px;
    height: 60px;
}

.arrow-left-img {
    background-image: url(/resources/image/arrow_next.png);
}

.arrow-left-img:hover {
    background-image: url(/resources/image/arrow_next_a.png);
}

.arrow-right-img {
    background-image: url(/resources/image/arrow_prev.png);
}

.arrow-right-img:hover {
    background-image: url(/resources/image/arrow_prev_a.png);
}

.als-item { 
    background-color: #fcfcfc;
    position: relative;
    display: block;
    cursor: pointer;
    float: left;
    min-height: 30px;
    margin: 10px 14px 15px 5px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}

.als-item:hover {
    margin: 7px 15px -3px 4px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.5);
    -webkit-transition-property: margin,box-shadow;
    -moz-transition-property: margin,box-shadow;
    transition-property: margin,box-shadow;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.als-item .play_icon {
    left: 37%;
}

.als-item:hover .play_icon {
    opacity: 1;
}

.poster-img {
    width: 178px;
    height: 250px;
    border-radius: 3px 3px 0 0;
    box-shadow: none;
    background-position: center center;
    display: block;
}

.poster-img.horizontal {
    width: 215px;
    height: 121px;
    background-position: center center;
    display: inline-block;
    position: relative;
    /* box-shadow: 0px 0px 6px 1px #aaa; */
}

.als-item:hover .poster-img,
.als-item:hover .poster-img.horizontal,
.poster-img:hover,
.poster-img.horizontal:hover {
    box-shadow: none;
}

.poster-img.horizontal span {
    border-radius: 3px;
    font-size: 13px;
    right: 0.2em;
    text-shadow: none;
    padding: 0 5px;
    background: rgba(0, 0, 0, 0.6);
    bottom: 4px;
    position: absolute;
    color: #fff;
}

.detailholder {
    bottom: 0;
    position: relative;
    font-size: 14px;
    background: #fcfcfc;
    width: 178px;
    height: auto;
    padding: 5px 8px;
    margin-top: 0;
    border-radius: 0 0 3px 3px;
}

.detailholder p {
    display: block;
    width: 100%;
    overflow: hidden;
    position: relative;
    padding: 0;
    font-size: 14px;
    height: 1.143em;
    line-height: 1.143em;
    color: #999;
    margin-top: 0;
}

.showbiz-title,
.showbiz-title a,
.showbiz-title a:visited,
.showbiz-title a:hover {
    height: 1.467em;
    font-size: 15px;
    color: #333;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    overflow: hidden;
}

.showbiz-title h3 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.showbiz-score,
.showbiz-score a,
.showbiz-score a:visited,
.showbiz-score a:hover {
    background-color: #fcfcfc;
    padding: 0.3em;
    font-size: 15px;
    color: #F60;
    float: right;
    text-transform: uppercase;
    height: 22px;
    position: absolute;
    top: 0px;
    right: 0px;
    padding-left: 6px;
}


/*----- 各館分頁 影片列表 -----*/

.vod-movie-content-div{
    width: 65%;
    overflow: hidden;
    display: inline-block;
    line-height: 15px;
    height: 14px;
}

.vod-list-div {
    padding: 50px 0 15px 0;
    font-size: 0px;
}

.vod-list-category {
    margin: 0 0 10px 0;
    margin-top: 20px;
    border-bottom: 1px solid #ccc;
    position: relative;
}

.vod-category-name {
    font-size: 24px;
    font-weight: bold;
    line-height: 1em;
    color: #303;
    display: inline-block;
}

.sort-block::before {
    font-size: 15px;
    color: #666;
    content: "排序：";
}

.vod-category-sort.active,
.vod-category-sort.active:hover {
    background: #999;
    color: #FFF;
    border-radius: 5px;
    border: none;
}

.vod-category-sort {
    font-size: 15px;
    color: #666;
    padding: 0 0.5em;
    border: none;
    float: right;
    cursor: pointer;
}

.vod-filter-list {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    position: relative;
    margin: 10px 20px 20px 0;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}

.vod-filter-list:hover {
    margin: 7px 20px 17px 0;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.5);
    transition: 0.2s all;
    -webkit-transition: 0.2s all;
    -moz-transition: 0.2s all;
}

.vod-list {
    width: 100%;
    text-align: left;
    position: relative;
    box-shadow: none;
    font-size: inherit;
}

.vod-list a {
    height: 0;
}

.vod-list-content {
    background: #fcfcfc;
    width: 178px;
    height: auto;
    padding: 5px 8px 8px;
    margin-top: -10px;
    border-radius: 0 0 3px 3px;
    color: #333;
    overflow: hidden;
    position: relative;
}

.vod-list-content > h3 {
    width: 100%;
    height: 22px;
    font-size: 15px;
    text-decoration: none;
    color: #333;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    float: left;
    display: inline-block;
}

.movie .vod-list-content > h3 {
    width: 82%;
}

.vod-list-content p {
    position: relative;
    padding: 0;
    margin-top: -6px;
    display: block;
    width: 100%;
    height: 1em;
    line-height: 1em;
    color: #999;
    overflow: hidden;
    font-size: 14px;
}

.vod-list-content > span:nth-child(1),
.vod-category li p:nth-child(2) span:nth-child(1) {
    width: 100%;
    height: 1.5em;
    line-height: 1.2em;
    padding-top: 5px;
    color: #333;
    font-size: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.vod-list-content span.score {
    text-transform: uppercase;
    position: absolute;
    right: 0px;
    background-color: transparent;
    color: #F90;
    height: auto;
    padding: 0 0.3em;
    font-size: 15px;
    top: 5px;
}


/*----- 主題推薦 影片列表 -----*/

.bgcolor#promote {
    background-color: transparent;
    border: none;
}

.vod-top-category {
    padding: 30px 0 20px;
}

.vod-category-name-recommend-top {
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    color: #303;
    text-shadow: none;
    font-size: 24px;
    line-height: 1.2em;
    font-weight: bold;
}

.recommend-img {
    width: 274px;
    height: 168px;
    box-shadow: none;
    border-radius: 3px;
}

.recommend-img:hover {
    box-shadow: none;
}

.recommend-img.image {
    display: block;
}


/*----- 麵包屑 -----*/

.bread_crumbs {
    padding-top: 10px;
    color: #303;
    position: absolute;
}

.bread_crumbs a,
.bread_crumbs_content a {
    color: #303;
}

.bread_crumbs a:hover,
.bread_crumbs_content a:hover {
    text-decoration: underline;
}


/*----- 免費標籤 -----*/

.tag_Efree,
.tag_allfree,
.tag_onefree {
    background: left bottom no-repeat;
    height: 25px;
    display: inline-block;
    margin: -1px 0 0 20px;
}

.tag_Efree {
    background-image: url(/resources/image/free_label.png);
    vertical-align: middle;
    width: 62px;
}

.tag_allfree {
    background-image: url(/resources/image/free_label_all.png);
    width: 95px;
    height: 25px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

.tag_onefree {
    background-image: url(/resources/image/free_label_one.png);
    width: 114px;
    height: 25px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

.free,
.banner-allfree,
.banner-synchronous,
.banner-hot,
.banner-new {
    display: block;
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-size: cover;
}

.banner-allfree {
    background-position: right top;
}

.banner-new {
    background-image: url(/resources/image/NEW.png);
}

.banner-hot {
    background-image: url(/resources/image/HOT.png);
}

.banner-synchronous {
    background-image: url(/resources/image/synchronous.png);
}

.free,
.banner-allfree {
    width: 35px;
    height: 20px;
    background-image: url(/resources/image/free.png);
    bottom: 3.3em;
    right: 0.2em;
    display: block;
    position: absolute;
}

.banner-synchronous,
.banner-hot,
.banner-new {
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
    border-radius: 3px 0 0 0;
}

#memberInfo .free {
    bottom: 4.4em;
    z-index: 1;
}


/*----- 播放頁內文 -----*/

.bgcolor.content {
    border-top: none;
    border-bottom: none;
}

.vod-left-content-left a {
    color: #408ed6;
}


/* 劇集列表 */

.vod-category-episode .als-item {
    min-height: auto;
    box-shadow: none;
    margin: 12px 5px 0;
}

.vod-category-episode .als-item:hover {
    margin: 12px 5px 0;
    box-shadow: none;
}

.showbiz-season,
.showbiz-season a,
.showbiz-season a:visited,
.showbiz-season a:hover {
    padding: 5px 8px;
    border-radius: 5px;
    overflow: inherit;
    display: inline-block;
    background-color: #dfdfdf;
    border: 1px solid #dfdfdf;
    width: 115px;
}


/*----- Sitemap -----*/

.footer_container {
    background: url(/resources/image/sitemap_bg.jpg) center no-repeat;
    background-size: cover;
    background-color: #303;
    border: none;
    width: 100%;
    padding: 30px 0;
}

.footer_buttom a {
    background: rgba(255, 255, 255, 0.1);
    width: 22.5%;
    height: 76px;
    margin-right: 3%;
    border-radius: 5px;
    font-size: 24px;
    line-height: 76px;
    color: #FFF;
    text-decoration: none;
    cursor: pointer;
    float: left;
}

.footer_buttom a:hover {
    background: rgba(0, 0, 0, 0.2);
    border: none;
}

/*----- rank -----*/
.rank_block {
    background: #efefef;
    width: 21.7%;
    border: none;
    margin-bottom: 30px;
    float: right;
    display: inline-block;
    vertical-align: top;
}
.rank_1_image {
	width: 100%;
	border:1px solid #efefef;
}
.rank_1_right {
 	background-image: -moz-linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.3) 75%, rgba(0,0,0,0) 100%);
	background-image: -webkit-linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.3) 75%, rgba(0,0,0,0) 100%);
	background-image: -ms-linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.3) 75%, rgba(0,0,0,0) 100%);
    padding: 20px 8px 8px;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: block;
    color: #FFF;
}
.rank:nth-child(2) i{
	position: absolute;
    left: 0;
    top:20px;
}
/*----- Others -----*/

.mobile_andorid_download_app_button {
    background-color: #5e0b75;
    color: #fff;
    border-radius: 4px;
    position: absolute;
    right: 2%;
    top: 16%;
    padding: 10px 16px;
    font-size: 22px;
}


/* -----als-btn site----- */

.als-prev {
    left: -60px;
}

.als-next {
    right: -60px;
}

.detailholder.horizontal {
   width: 215px;
   padding: 0 8px 5px 8px;
}

/* -----purchase information------ */
.ps-infor{
    font-size:10px;
    line-height: 18px;
    color:#f60;
    padding: 10px 0;
}
.ps-infor a{
    color: #f60;
    padding: 0 0 3px 3px;
    text-decoration: underline;
}
.ps-infor a:hover{
    color: #f90;
}
.ps-infor a:active{
    color: #f90;
}

/* ------Advertising Style------ */
.advertisingframeStyle{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9;
    left: 0;
}
.adFrameBlock{
    top: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.75);
    z-index: 8;
}
.np{
	display:none; //control all /np/ page hide object
}
@media only screen and(min-width: 1025px){
    .mobile {display:none;}
    .pc {display:inline-block;}
}
@media only screen and (max-width: 1366px){
    /* vod隨選影片標題 */
    .visual_mask.vod-visualTitle{
        width: 63%;
    }

}

@media only screen and (max-width: 1090px) and (min-width: 999px) {
    .category_header li a{
        padding: 0 0.74em;
    }
}

@media only screen and (max-width: 1024px) {
    .container,
    .dnd_container {
        width: 96%;
    }
    .right_content {margin:20px 0;}
    .search_bar {
        margin-left: 20px;
    }
    .als-prev {
        left: -32px;
    }
    .als-next {
        right: -35px;
    }
    .arrow-left-img,
    .arrow-right-img,
    .arrow-left-img:hover,
    .arrow-right-img:hover {
        width: 35px;
        height: 35px;
    }
}

@media only screen and (max-width: 1000px) {
    .scrollSetting{
        overflow: hidden;
        height: 100%;
    }
    .advertisingframeStyle{
        position: fixed;
        z-index: 9;
    }
    .adFrameBlock{
        position: fixed;
        z-index: 999999;
    }
}

@media only screen and (max-width: 800px),
only screen and (max-device-width: 800px) {
    /*.container,
    .dnd_container {
        width: 96%;
    }*/
	.left_content {
		width: 100%;
		margin: 0 0 20px;
		float: none;
	}
	.right_content {
		width: 100%;
		max-width: 800px;
		float: none;
	}
	.page_content {
		padding: 20px;
	}
    .arrow-left-img,
    .arrow-right-img {
        background: none;
    }
    .tag_allfree.list_page,
    .tag_onefree.list_page,
    .tag_Efree.list_page {
        margin-top: -20px;
    }
    span.hardcodeForFree.list_page {
        margin: -20px 0 0 5px;
    }
    .als-item {
        margin: 15px 15px 0 0;
    }
    .als-item:hover {
        margin: 12px 15px 3px 0;
    }
    .vod-filter-list {
        margin: 20px 15px 0 0;
    }
    .vod-filter-list:hover{
        margin: 17px 15px 3px 0;
    }
    .poster-img {
        width: 165px;
        height: 232px;
    }
    .detailholder {
        width: 165px;
    }
    .vod-list-content {
        width: 165px;
    }
    .poster-img.horizontal {
        width: 100%;
        height: 95px;
    }
    .vod-list-content.horizontal {
        width: 168px;
    }
    .detailholder.horizontal {
        width: 168px;
    }
}

@media only screen and (max-width: 640px),
only screen and (max-device-width: 640px) {
	.pc {display:none;}
	.mobile {display:block;}
	.page_content .page_section p {padding:0 10px 20px;}
    .search_bar {
        margin-left: 20px;
    }
    .visual_mask.vod-visualTitle{
        width: 100%;
    }
}

@media only screen and (max-width: 480px),
only screen and (max-device-width: 480px) {
    span.hardcodeForFree.list_page {
        margin: 0 0 0 5px;
    }
    .als-item {
        margin: 10px 10px 0 0;
    }
    .als-item:hover {
        margin: 7px 10px 3px 0;
    }
    .vod-filter-list {
        margin: 20px 10px 0 0;
    }
    .vod-filter-list:hover{
        margin: 17px 10px 3px 0;
    }
    .poster-img {
        width: 145px;
        height: 204px;
    }
    .detailholder {
        width: 145px;
    }
    .vod-list-content {
        width: 145px;
    }
    .poster-img.horizontal {
        width: 100%;
        height: 83px;
    }
    .vod-list-content.horizontal {
        width: 148px;
    }
    .detailholder.horizontal {
        width: 148px;
    }
}
