@font-face{
	font-family: uh;
	src: url(https://s.yimg.com/os/uh-icons/0.1.9/uh/fonts/uh.eot?bm5z1j);
	src: url(https://s.yimg.com/os/uh-icons/0.1.9/uh/fonts/uh.eot?#iefixbm5z1j) format('embedded-opentype'),url(https://s.yimg.com/os/uh-icons/0.1.9/uh/fonts/uh.woff2?bm5z1j) format('woff2'),url(https://s.yimg.com/os/uh-icons/0.1.9/uh/fonts/uh.woff?bm5z1j) format('woff'),url(https://s.yimg.com/os/uh-icons/0.1.9/uh/fonts/uh.ttf?bm5z1j) format('truetype'),url(https://s.yimg.com/os/uh-icons/0.1.9/uh/fonts/uh.svg?bm5z1j#uh) format('svg');
	font-weight: 400;
	font-style: normal
}
[class^=Ycon],[class*=" Ycon"]{
	font-family: uh;
	speak: none;
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}