.register_page_section{
	position: absolute;
	left: 15px;
	right: 15px;
	top: 15px;
	bottom: 15px;
	overflow: hidden;
}
.register_page_section .half_section{
	width: 50%;
	height: 100%;
	float: left;
	position: relative;
}

.user_dialog .register_common{
	padding: 15px;
}

.register_common{
	padding-right: 10px;
	background-color: #ffffff;
	position: relative;
}
.register_common .content_section{
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #ffffff;
}
.register_common .content_section .content_title{
	width: 100%;
	font-size: 22px;
	font-weight: bold;
	line-height: 42px;
	text-align: center;
}
.user_dialog .content_section .content_body{
	position: absolute;
	left: 0px;
	right: 0px;
	top: 42px;
	bottom: 0px;
}
.register_common .content_section .content_body{
	font-size: 16px;
	line-height: 25px;
	color: #000000;
}
.content_section .content_body .mCSB_container > *, .content_section .content_body > *{
	margin-top: 5px;
}
.content_section .content_body .star{
	color: #ff2400;
	font-size: 20px;
}
.content_section .content_body .error_message{
	color: #ffffff;
	background-color: #ff2400;
	padding: 10px;
	display: none;
}
.content_section .content_body .error_message.active{
	display: block;
}
.content_section .content_body .hint{
	color: #ff2400;
	background-color: transparent;
	display: none;
}
.content_section .content_body .hint.active{
	display: block;
}
.content_section .content_body .year_sex_section{
	overflow: hidden;
}
.content_body .year_sex_section > *{
	float: left;
	width: 50%;
}
.content_body .year_sex_section .year_selector{
	width: 121px;
}
.sex_section .sex_selector_section{
	position: relative;
}
.sex_section .sex_selector_section .radio_section{
	overflow: hidden;
}
.sex_selector_section .radio_section .sex_radio_btn{
	margin: 0px;
	width: 50%;
	height: 32px;
	float: left;
}
.sex_section .sex_selector_section .btn_section{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}
.sex_selector_section .btn_section .sex_btn{
	width: 50%;
	height: 100%;
	float: left;
	line-height: 32px;
	text-align: center;
	background-color: #ffffff;
	border: 1px solid #dbdbdb;
	cursor: pointer;
	box-sizing: border-box;
}
.sex_btn.man.active{
	background-color: #009ddc;
	color: #ffffff;
}
.sex_btn.female.active{
	background-color: #f68ccb;
	color: #ffffff;
}
.content_section .content_body .verify_code_text{
	margin-top: 15px;
}
.content_section .content_body .verify_image_section{
	overflow: hidden;
	margin-top: 5px;
}
.content_body .verify_image_section .verfy_image{
	height: 45px;
}
.content_body .verify_image_section .image_refresh{
	display: inline-block;
	color: #3e94dc;
	cursor: pointer;
	margin-left: 5px;
	text-decoration: underline;
}
.content_section .content_body .agreement_section{
	margin-top: 10px;
	overflow: hidden;
}
.content_body .agreement_section > *{
	float: left;
}
.content_section .content_body input[type=checkbox]{
	margin-top: 7px;
}
.agreement_section .agree_contract_text .agree_contract{
	color: #3e94dc;
	text-decoration: underline;
}
.content_section .content_body .contract_hint{
	float: none;
	width: auto;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.content_section .content_body .submit_btn {
	background: #F60;
	padding: 10px 30px;
	font-size: 16px;
	line-height:1em;
	color: #FFF;
	display: block;
	cursor: pointer;
}
.content_section.register .content_body .submit_btn_section{
	overflow: hidden;
}
.content_section.register .submit_btn_section .submit_btn{
	display: inline-block;
	margin: 10px 10px 20px 0;
}
.content_section.register .submit_btn_section .btn_description{
	padding-top: 5px;
	display: inline-block;
	font-size: 14px;
}
.content_section.register .content_body .description_section{
	color: #333;
	line-height: 1.5em;
}
.content_section .content_body .submit_btn.hover{
	background-color: #F90;
	color: #fff;
}
.content_body .description_section b {
	font-size: 16px;
	font-weight: bold;
	margin-bottom:10px;
	display: block;
}
.content_body .description_section ol {
  	list-style: decimal;
	margin-left: 2em;
}
.register_page_section .half_section .ad_section{
	display: table;
   margin-left: auto;
   margin-right: auto;
   margin-top: 77px;
   max-width: 100%;
}
.content_body .body_description{
	background-color: #f4faee;
	padding: 10px;
}
.content_body .body_description > ul{
	margin-left: 18px;
	font-size: 16px;
	color: #000;
}
.content_body .cell_phone_number{
	font-size: 16px;
}
.content_body .passcode_text_section{
	overflow: hidden;
}
.content_body .passcode_text_section .passcode_text{
	overflow: hidden;
	width: auto;
}
.content_body .passcode_text_section .send_passcode_again{
	float: right;
	color: #3e94dc;
   cursor: pointer;
}
.content_section .content_body .pw_show_section{
	overflow: hidden;
}
.content_section .content_body .pw_show_section > *{
	float: left;
}
.content_body .body_description > *{
	line-height: 30px;
}
.content_body .body_description b{
	font-weight: bold;
}
.content_section .content_body input[type=text], .content_section .content_body input[type=password]{
	width:100%;
	font-size: 16px;
    margin-bottom: auto;
	border-radius: 5px;
}
.content_section .content_body .float_btn_section{
	margin-top: 0px;
}
.content_section .content_body .submit_btn.cancel{
	border: 1px solid #F60;
	background-color: #ffffff;
	color: #F60;
	display: inline-block
}
.content_section .content_body .submit_btn.no_reset.hover{
	color: #fe9712;
}
.content_section .content_body .submit_btn.send{
	margin-left: 10px;
	display: inline-block;
}
.content_section .content_body .password_section{
	overflow: hidden;
}
.content_body .password_section .password_text{
	overflow: hidden;
	width: auto;
}
.content_body .password_section .forget_password{
	float: right;
	color: #3e94dc;
   cursor: pointer;
}
.content_section .content_body .login_btn{
	margin: 15px auto 0;
}
.content_section .content_body .register_section{
	margin-top: 30px;
	padding: 15px;
	border: 1px solid #dbdbdb;
	border-radius: 5px;
	background-color: #f5f5f5;
}
.content_body .register_section .register_btn{
	margin: 15px auto 0;
	background-color: transparent;
	border: 1px solid #F60;
	color: #F60;
}
.content_body .register_section .register_btn.hover{
	background-color:transparent;
	border: 1px solid #F90;
	color: #F90;
}
.register_body{
	width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.register_body .register_container{
	width: 100%;
	max-width: 1000px;
	overflow: hidden;
	background-color: #ffffff;
	margin-left: auto;
	margin-right: auto;
	padding: 30px;
	position: relative;
}

.register_body .register_container .left_section{
	width: 50%;
	float: left;
}

.register_body .register_container .right_section{
	width: auto;
	overflow: hidden;
}

.register_container .right_section > a{
	margin-top: 78px;
	display: block;
	overflow: hidden;
}

.reset_pw_succ_hint{
    width: 350px;
    height: 40px;
    font-size: 15px;
    line-height: 36px;
    font-weight: bold;
    background-color: #f9eec3;
    border: 2px solid #d6be87;
    text-align: center;
    display: none;
    position: absolute;
    top: 15px;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}

.right_section > a > img{
	margin-left: auto;
    display: block;
}

input[type="text"],input[type="password"],input[type="email"], textarea {
	-webkit-appearance: none;
	/*width: 100%;*/
	font-family: inherit; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #dbdbdb;
	outline: none;
	padding: 5px 11px;
    margin-bottom: 15px;
    font-size: 14px;
    background-color: transparent;
    color: #444;
    font-size: 16px;
    line-height: 22px;
}

select {
    padding: 6px 11px;
    font-size: 14px;
    border: 1px solid #dadada;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}

button, input[type="submit"], input[type="button"]{
    padding: 10px 30px;
    display: inline-block;
    cursor: pointer;
    background: #F60;
    color: #fff;
    margin-bottom: 40px;
    font-size: 18px;
    border: 0;
    border-radius: 4px;
    -webkit-appearance: none;
}

.highlight {color:#F60;}

@media screen and (max-width: 829px) {
	.register_common{
		padding-right: initial;
	}
	
	.register_body .register_container .left_section{
		width: 100%;
	}
	
    .register_body .register_container .right_section{
    	display: none;
    }
}