nav > ul{
	display: none;
}
.noTrBackground tr:nth-child(odd){
	background-color: initial;
}
.margin_left_20{
	margin-left: 20px;
}
.margin_left_10{
	margin-left: 10px;
}
.margin_right_10{
	margin-right: 10px;
}
.margin_top_5{
	margin-top: 5px;
}
.margin_top_8{
	margin-top: 8px;
}
.margin_top_17{
	margin-top: 17px;
}
.float_left{
	float: left;
}
.float_right{
	float: right;
}

/* ===== width 0 ~ 1240 ===== */
@media only screen and (max-width: 1240px) {
	#description_container {
		width: 88%;
	}
}

/* ===== width 769 ~ 979 ===== */
@media only screen and (min-width: 769px) and (max-width: 979px) {
	.smallMenu{
		display: none;
	}
	.dnd_team_member_style_2 .dnd_overlayed .dnd_overlay p{
		top: 30%;
	}
	.dnd_pricebox_monthly{
		display: block;
		padding-top: 0;
		padding-bottom: 20px;
	}
}

/* ===== width 0 ~ 999 ===== */
@media only screen and (max-width: 999px){
	.bigSize {
		display: none;
	}
	.navBlock .onlyPc{
		display: none !important;
	}
	.navBlock .onlyMobile{
		display: block !important;
	}
	.navBlock {
		display: block;
		width: 100%;
	}
	.navBlock div.smallnone, .navBlock div.downloadapp, .navBlock > a {
		display: none;
	}
	.navBlock div a {
		border-bottom: 0px !important;
	}
	.navBlock div:nth-child(4) {
		display: block;
		width: 100%;
		border-bottom: 1px solid #ccc;
	}
	.navBlock .menu_right_div {
		float: none;
	}
	.arrow_logo_size{
		width: 50px;
  		height: 49px;
  		background-size: 16px 9px;
  		background-repeat: no-repeat;
  		background-position: center;
	}
	#show{
		display: none;
	}
	.smallMenu{
		display: none;
	}
	.main_visual{
		display: none;
	}
	.consumptionPage{
		position: initial;
		margin-top: 10px;
	}
	.changePassword input[type="text"], .changePassword input[type="password"],
	.updateMemberInfo input[type="text"], .updateMemberInfo input[type="password"], .updateMemberInfo input[type="email"]
	 {
		width: 80% !important; 
		display: block;
	}
}

/* ===== width 500 ~ 768 ===== */
@media only screen and (min-width: 500px) and (max-width: 768px) {
	.mutiscreen_block {
		margin-bottom: 15px;
		width: 45%;
	}
}

/* ===== width 0 ~ 370 ===== */
@media only screen and (max-width: 370px) {
	.showbiz-navigation{
		display: none;
	}
}