/* sideMenu style */
.dnd_container .ltc-sideMenu_content {
  width: 15%;
  margin: 20px 2% 0 0;
  float: left;
}

.dnd_container .ltc-sideMenu_content .ltc-sideMenu {
  background: #fff;
  width: 100%;
  float: left;
}

.dnd_container .ltc-sideMenu_content .ltc-sideMenu .ltc-sideMenu_title {
  padding: 10px 20px;
  border-bottom: 1px solid #BBB;
  font-size: 18px;
  font-weight: bold;
  color: #000;
}

.dnd_container .ltc-sideMenu_content .ltc-sideMenu ul {
  margin-left: initial;
}

.dnd_container .ltc-sideMenu_content .ltc-sideMenu ul li {
  cursor: pointer;
  background: url(/resources/image/leftmenu/leftmenu_arrow_hover.png) 95% 50% no-repeat;
  list-style: none;
  font-size: 16px;
  position: relative;
}

.dnd_container .ltc-sideMenu_content .ltc-sideMenu ul li a {
  padding: 10px 20px;
  color: #666;
  text-decoration: none;
  display: block;
}

.dnd_container .ltc-sideMenu_content .ltc-sideMenu ul li a.arrow_down {
  background: url(/resources/image/leftmenu/leftmenu_arrow_down.png) 95% 50% no-repeat;
  transition: inherit;
  -webkit-transition: inherit;
  transition: background-color 180ms ease-in;
  -webkit-transition: background-color 180ms ease-in;
}

.dnd_container .ltc-sideMenu_content .ltc-sideMenu ul li a.arrow_right {
  background: url(/resources/image/leftmenu/leftmenu_arrow_right.png) 95% 50% no-repeat;
  transition: inherit;
  -webkit-transition: inherit;
  transition: background-color 180ms ease-in;
  -webkit-transition: background-color 180ms ease-in;
}

.dnd_container .ltc-sideMenu_content .ltc-sideMenu ul li a.focus {
  background-color: #8c4593;
  color: #FFF;
}

.dnd_container .ltc-sideMenu_content .ltc-sideMenu ul li a.focus:hover {
  background-color: #8c4593;
}

.dnd_container .ltc-sideMenu_content .ltc-sideMenu ul li a:hover {
  background-color: #a664aa;
  color: #fff;
}

.dnd_container .ltc-sideMenu_content .ltc-sideMenu ul li ul {
  display: none;
}

.dnd_container .ltc-sideMenu_content .ltc-sideMenu ul li ul li {
  font-size: 15px;
  position: relative;
}

.dnd_container .ltc-sideMenu_content .ltc-sideMenu ul li ul li a {
  background: #e6e6e6;
  padding-left: 30px;
  font-weight: bold;
}

.dnd_container .ltc-sideMenu_content .ltc-sideMenu ul li ul li a .ltc-sideMenu_price {
  display: block;
  color: #F60;
  font-size: 13px;
}

.dnd_container .ltc-sideMenu_content .ltc-sideMenu ul li ul li a.focus {
  background-color: #8c4593;
  color: #FFF;
}

.dnd_container .ltc-sideMenu_content .ltc-sideMenu ul li ul li a.focus span {
  color: #fff;
}

.dnd_container .ltc-sideMenu_content .ltc-sideMenu ul li ul li a.focus:hover {
  background-color: #8c4593;
}

.dnd_container .ltc-sideMenu_content .ltc-sideMenu ul li ul li a.focus:hover span {
  color: #FFF;
}

.dnd_container .ltc-sideMenu_content .ltc-sideMenu ul li ul li a:hover {
  color: #8c4593;
  background-color: #e6e6e6;
}

.dnd_container .ltc-sideMenu_content .ltc-sideMenu ul li ul li a:hover span {
  color: #8c4593;
}

@media only screen and (max-width: 800px), only screen and (max-device-width: 800px) {
  .dnd_container .ltc-sideMenu_content {
    width: 100%;
    margin: 0 0 20px;
    float: none;
  }
  .dnd_container .ltc-sideMenu_content .ltc-sideMenu {
    float: none;
  }
}
