/**
 * videojs.ads.css
 */

/* Ad playback */
/* Aji: disable progress control bar */
.vjs-ad-playing.vjs-ad-playing .vjs-progress-control {
  pointer-events: none;
}

.vjs-ad-playing.vjs-ad-playing .vjs-play-progress {
  background-color: #ffe400;
}

/* Ad loading */
.vjs-ad-playing.vjs-ad-loading .vjs-loading-spinner {
  display: block;
}


/**
 * imgads css 
 */
img#vjs-imgads-image {
	position: absolute;
	top: 10px;
	left: 10px;
	transition: visibility 0.1s ease 0s, opacity 0.1s ease 0s;
    visibility: visible;
}

.vjs-user-inactive img#vjs-imgads-image {
	/*visibility: hidden;*/
	visibility: visible;
}

.vjs-user-inactive.vjs-paused img#vjs-imgads-image {
	visibility: visible;
}

.vjs-ad-playing a#vjs-imgads-destination {
	display: none;
}