.vod-movie {
	padding-top: 20px;
	width: 100%;
}
.vod-movie-right {
	width: 76%;
	float: right;
	position: relative;
}
.vod-movie-content-credits {
	margin-top: 73px;
}
.vod-category-episode {
	padding-bottom: 18px;
}
.episode_group {
	display: none;
}
.episode_group.active {
	display: block;
}
/* .vod-category li {
	vertical-align: top;
} */
.vod-category-related {
	border: 2px solid #e2e2e2;
}
.vod-category-relatedHighlights {
	margin: 20px 0;
}
.vod-episode-count {
	font-size: 16px;
  	line-height: 25px;
  	display: inline-block;
}
.vod-category-name-tag {
	display: inline-block;
}
.vod-category-name a {
	color: #4f2463;
}
.vod-category-list {
	font-size: 16px;
	color: #656565;
	padding: 2px 10px;
	cursor: pointer;
	text-align: center;
}
span.active {
	color: #fff;
	background-color: #468cc8;
	border: 1px solid #387eba;
}
.vod-list-category {
	margin: 0 0 10px 0;
}
.vod-sort {
	display: inline-block;
	float: right;
}
.sort-block {
	float: right;
}
.list_ad {
	height: 120px;
	margin: 0 auto;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
}
.episode-img {
	position: relative;
	width: 216px;
	height: 121px;
}
.episode-img i {
	display: block;
	background-image: url(/resources/image/play.png);
	width: 36px;
	height: 36px;
	opacity: 0.7;
	position: absolute;
	right: 5px;
	bottom: 5px;
	background-size: cover;
}
.episode_div:hover .episode i {
	opacity: 1;
}
.poster-img:hover, .poster-img.horizontal:hover {
	/* box-shadow: 0px 0px 6px 3px #4f2463; */
}
.vod-list img {
	height: 279px;
}
.vod-list-content.horizontal {
	width: 215px;
}
.vod-list-content span {
	height: 22px;
	overflow: hidden;
}
.vod-category li p:nth-child(2) span:nth-child(1) {
	color: #000;
	font-size: 17px;
	display: inline-block;
}
.vod-category li p:nth-child(3), .vod-category li p:nth-child(4){
	font-size: 14px;
}
.vod-list p {
	overflow: hidden;
	height: 14px;
	line-height: 14px;
	font-size: 14px;
}
.vod-movie-image {
	position: relative;
	float: left;
}
#poster {
	margin-bottom: 10px;
	margin-left: 0px;
	box-shadow: 0px 0px 10px 1px #999;
	width: 255px;
	height: 360px;
	margin-left: 5px;
	position: relative;
}
#play {
	position: absolute;
	top: 35%;
	left: 36%;
	display: none;
	cursor: pointer;
}
#restricted {
	background-image: url(/resources/image/restricted_img.png);
	width: 40px;
	height: 40px;
	position: absolute;
	right: 2%;
	top: 2%;
	display: none;
	cursor: pointer;
}
.vod-score-star {
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
}
.vod-score {
	display: flex;
	align-items: center;
	height: 36px;
}
.vod-score > span {
	font-size: 26px;
	color: #f5690a;
	margin-left: 10px;
}
.bottom_block {
	margin-top: 40px;
}
.rank_title {
    background: #FFF;
    color: #777;
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 15px;
    display: block;
}
.rank_title i {
	/* background-image: url(/resources/image/like.png);
	width: 32px;
	height: 32px;
	display: inline-block;
	margin-right: 10px; */
	display: none;
}
.rank_title div {
	vertical-align: middle;
  	display: table-cell;
}
.rank {
	margin: 15px 0;
	position: relative;
}
.rank:nth-child(2) {
	margin: 0;
}
.rank_1_left {
	width: 100%;
	display: inline-block;
}
.rank_1_left.horizontal {
	height: 100%;
}
.rank_1_right a {
	font-size: 18px;
	color: white;
}
.rank_1_commentary {
	overflow: hidden;
  	height: 32px;
}
.rank i {
    width: 26px;
    height: 26px;
    /*background-color: #aeaeae;*/
    display: inline-block;
    margin-left: 20px;
    text-align: center;
	border:1px solid #F90;
}
.rank:nth-child(2) i,
.rank:nth-child(3) i,
.rank:nth-child(4) i {
	background-color: #F60;
	border: 1px solid #F60;
}
.rank i:after {
  content: attr(title);
  font-size: 16px;
  position: relative;
  color: #F90;
  line-height: 26px;
}
.rank:nth-child(2) i::after, .rank:nth-child(3) i::after, .rank:nth-child(4) i::after {color:#FFF;}
.rank_program_name {
	width: 70%;
    display: inline-block;
    margin-left: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.rank_program_name a:hover {color:#F60;}
.rank div {
	vertical-align: top;
  	line-height: 26px;
}
.comments_block {
	width: 75%;
	display: inline-block;
	float: left;
}
.comments {
	margin: 20px 0 10px 0;
	width: 100%;
	display: inline-block;
}
.vod-fb-like-block {
	position: absolute;
  	right: 0;
  	bottom: 4px;
}
.fb-comments.fb_iframe_widget {
	width: 100%;
	vertical-align: top;
}
.fb-comments.fb_iframe_widget {
	line-height: 10px;
}
.fb-comments.fb_iframe_widget span, .fb-comments.fb_iframe_widget span iframe[style] {
	width: 100% !important;
}
.comments_text {
	margin-top: 20px;
	background-color: #eee;
}
.comments_text > div:nth-child(2) {
	padding: 12px 9px 10px 155px;
	vertical-align: top;
}
.comments_text_logo {
	background-image: url(/resources/image/litv_logo_comments.jpg);
	width: 140px;
	height: 140px;
	float: left;
}
.comments_text_title {
  	color: #4f2463;
  	font-size: 20px;
  	letter-spacing: 3px;
  	font-weight: bold;
  	display: inline-block;
}
.comments_text_desc {
	margin-top: 8px;
	font-size: 15px;
}
.vod-movie-content {
	width: 100%;
	height: 360px;
}
.vod-movie-content img {
	float: right;
}
.vod-movie-content-left {
	width: 71%;
	float: left;
	position: relative;
}
.providerLogo {
  	min-width: 110px;
  	width: 20%;
  	max-width: 150px;
  	height: 65px;
  	background-position: bottom right;
  	position: absolute;
  	right: 10px;
  	top: 28px;
}
.vod-movie-content-right {
	width: 27%;
	float: right;
}
.vod-movie-content-right div {
	max-height: 266px;
	overflow: hidden;
}
.vod-movie-content-right div ul {
	list-style: none;
	display: block;
 	width: 100%;
	overflow: hidden;
}
.vod-movie-content-right div ul li:first-child, .vod-movie-content-right div ul li.vod-movie-content-type {
	width: 35% !important;
	margin-left: 0;
}
.vod-movie-content-right div ul li:nth-child(2) {
	margin-left: 0;
	clear: none;
}
.vod-movie-content-right div ul li {
	float: left;
	margin-left: 35%;
	clear: both;
	width: 65%;
	overflow: hidden;
	height: 22px;
	color:#3a99db;
}
.vod-movie-content-right .vod-movie-content-type{
	color:#000;
}
.vod-movie-content-right div ul li:hover,
.vod-movie-content-right div ul li:active{
	text-decoration:underline;
	cursor:pointer;
}
.vod-movie-content-right .vod-movie-content-type:hover,.vod-movie-content-right .vod-movie-content-type:active{
	text-decoration:none;
	cursor:inherit;
}
.vod-movie-button {
	height: 42px;
	position: relative;
	margin-top: 5px;
}
.content-left-title {
	width: 75%;
	float: left;
	min-height: 95px;
}
.content-left-title i {
  margin: 0 5px;
  font-weight: bold;
}
.vod-movie-content-title {
	color: #f5690a;
	font-size: 30px;
	line-height: 30px;
}
.vod-movie-content-subtitle {
	color: #000;
	font-size: 22px;
	margin: 10px 0 5px 0;
	height: 25px;
	line-height: 25px;
	overflow: hidden;
}
.vod-movit-content-credits {
	color: #000;
	font-size: 16px;
}
.vod-left-content-left {
	width: 55%;
	float: left;
}
.vod-content-left {
	position: relative;
	min-height: 259px;
}
.vod-left-content-right {
	width: 45%;
	float: left;
}
.vod-left-content-left a:hover {
	text-decoration: underline;
}
.list-more, .list-small {
	cursor: pointer;
	color: #408ed6;
	display: none;
	text-align: right;
}
.phone {
	background-image: url(/resources/image/phone_2.png);
	width: 9px;
	height: 15px;
}
.pad {
	background-image: url(/resources/image/pad_2.png);
	width: 13px;
	height: 17px;
}
.pc {
	background-image: url(/resources/image/PC_2.png);
	width: 15px;
	height: 15px;
}
.tv {
	background-image: url(/resources/image/TV_2.png);
	width: 16px;
	height: 17px;
}
.phone.watch {
	background-image: url(/resources/image/phone.png);
	width: 9px;
	height: 15px;
}
.pad.watch {
	background-image: url(/resources/image/pad.png);
	width: 13px;
	height: 17px;
}
.pc.watch {
	background-image: url(/resources/image/PC.png);
	width: 15px;
	height: 15px;
}
.tv.watch {
	background-image: url(/resources/image/TV.png);
	width: 16px;
	height: 17px;
}
.vod-movie-content-type {
	color: #000;
}
.vod-movie-content-div2 {
	width: 100%;
	padding-top: 10px;
	float: left;
	overflow: hidden;
}
#vod_rank, #vod_watchdevices {
	display: inline-block;
}
.prize {
	border-radius: 5px;
	width: 100%;
	border: 1px solid #e6e7e9;
	box-shadow: 0px 0px 1px;
	padding: 5px 8px 5px 18px;
	position: absolute;
	bottom: 5px;
}
.prize img {
	float: left;
	margin-right: 10px;
}
.prize p {
	height: 48px;
	overflow: hidden;
	line-height: 24px;
}
.vod-movie-play, .vod-movie-play2, .vod-movie-play3 {
	cursor: pointer;
	padding: 9px 17px;
	border-radius: 4px;
	font-size: 19px;
	line-height: 19px;
	border: 1px solid #f5690a;
	background-color: #f5690a;
	color: #fff;
	margin-bottom: 5px;
}
.vod-movie-play i, .vod-movie-play2 i {
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 7px 0 7px 14px;
	border-color: transparent transparent transparent #fff;
	margin-top: 4px;
}
.vod-movie-play .line {
	display: inline-block;
	border-right: 1px solid #d44700;
	height: 16px;
	width: 12px;
	margin: 3px 12px 0 12px;
}
#to-comments, #share, #select-episode {
	cursor: pointer;
	padding: 9px 5px 9px 10px;
	font-size: 18px;
	color: #f5690a;
	height: 42px;
	line-height: 28px;
}
.comments-icon {
	background-image: url(/resources/image/comments.png);
	width: 16px;
	height: 17px;
	float: left;
	margin: 4px 5px 0 0;
}
.vod-movie-play3 div {
	display: inline-block;
}
.vod-movie-play div {
	display: inline-block;
}
.share-button {
	background: #fff;
	position: absolute;
	top: 45px;
	width: 260px;
	left: 104px;
	border: 2px solid #6f7170;
	z-index: 10;
	border-radius: 4px;
}
.share_arrow_div {
	position: absolute;
	width: 96px;
	height: 45px;
	top: -47px;
	left: -2px;
}
.share_arrow_int {
	border-color: transparent transparent #6f7170 transparent;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 8px 7px 8px;
	top: -7px;
	position: absolute;
}
.share_arrow_mirror {
	border-color: #6f7170 transparent transparent transparent;
	border-width: 7px 8px 0px 8px;
}
.vod-font-color-ff6600 {
	color: #ff6600;
}
.vod-font-color-db2b2e {
	color: #ff0528;
}
.vod-movie-content-package {
	float: left;
}
.vod-movie-content-duedate {
	margin-right: 20px;
	float: left;
}
.vod-movie-content-free.none, #play-button, #startPlay, #bookmark, #copyright {
	display: none;
}
#episode_list {
	font-size: 0;
}
.alert div.message {
	/* color: #b94a48; */
	color: #fff;
	display: flex;
	align-items: center;
	/* background-color: #f2dede; */
	background-color: #990000;
	border-color: #eed3d7;
	padding: 8px 35px 8px 14px;
	margin-bottom: 18px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	border: 1px solid #fbeed5;
	border-radius: 4px;
	position: relative;
	font-size: 18px;
}
.alert div.message.copyright i:first-child {
	float: left;
	width: 20px;
	height: 20px;
	background-image: url(/resources/image/no_authorized_sign.png);
	background-repeat: no-repeat;
	margin-right: 5px;
}
.alert div.message i:last-child {
	position: absolute;
	top: 18%;
	right: 2%;
	font-weight: bold;
	color: #fff;
	cursor: pointer;
	width: 23px;
	text-align: center;
}
.alert div.message i:last-child:after {
	content: attr(title);
	font-size: 12px;
}
.alert div.message a {
	/* color: #3a99db; */
	color: yellow;
}
.vod-movie-content-duedate span:nth-child(1), .vod-movie-content-duedate span:nth-child(2) {
	color: #f05b26;
	font-weight: bold;
}
.vod-play div {
	width: 10%;
	background: rgba(100%,100%,100%,0.7);
	text-align: center;
	margin: 27% 0 0 18%;
	line-height: 50px;
	border-radius: 10px;
	float: left;
	cursor: pointer;
}
.episode_div {
	display: inline-block;
	width: 90px;
	text-align: center;
	position: relative;
	vertical-align: top;
}
.episode_div .episode, .episode_relatedHighlights {
	width: 72px;
	border: 1px solid #CCC;
	height: 42px;
	margin: 0 auto;
	margin-bottom: 12px;
	color: #666;
	cursor: pointer;
	overflow: hidden;
}
.episode:hover, .episode_relatedHighlights:hover {
	border: 1px solid #f5690a;
}
.episode.active, .showbiz-season.active, .player-episode.active, .episode_relatedHighlights.active {
	border: 1px solid #f5690a;
	background-color: #f5690a;
	color: #fff;
}
.episode > span, .episode_relatedHighlights > span {
	font-size: 18px;
	line-height: 40px;
}
.free_bean {
	background-image: url(/resources/image/free.png);
	width: 35px;
	height: 20px;
	position: absolute;
	top: -10px;
	right: -5px;
	overflow: hidden;
}
.free_bean.large {
	width: 50px;
	height: 50px;
	line-height: 50px;
}
.free_bean.large:after {
	font-size: 18px;
}
.free {
	background-image: url(/resources/image/free.png);
	width: 34px;
	height: 21px;
	display: block;
	position: absolute;
	bottom: 53px;
	right: 2px;
}
.vip {
	background-image: url(/resources/image/vip.png);
	width: 34px;
	height: 21px;
	display: block;
	position: absolute;
	bottom: 53px;
	right: 2px;
}
.vip_bean {
	background-image: url(/resources/image/vip.png);
	width: 34px;
	height: 21px;
	position: absolute;
	top: -10px;
	right: -5px;
	overflow: hidden;
}
.banner-allfree {
	background-image: url(/resources/image/all_free.png);
	width: 34px;
	height: 21px;
	display: block;
	position: absolute;
	bottom: 59px;
	right: 2px;
	background-position: right top;
	background-repeat: no-repeat;
}
.banner-onefree {
	background-image: url(/resources/image/first_free.png);
	width: 81px;
	height: 81px;
	display: block;
	position: absolute;
	bottom: 54px;
	right: 0px;
}
.free.large {
	background-image: url(/resources/image/free_big.png);
	width: 46px;
	height: 31px;
	display: block;
	position: absolute;
	bottom: 51px;
	right: 0;
}
.banner-allfree.large {
	background-image: url(/resources/image/all_free_big.png);
	width: 82px;
	height: 31px;
	display: block;
	position: absolute;
	bottom: 59px;
	right: 2px;
}
.banner-onefree.large {
	background-image: url(/resources/image/first_free.png);
	width: 81px;
	height: 81px;
	display: block;
	position: absolute;
	bottom: 59px;
	right: 2px;
}
.banner-weekend {
	background-image: url(/resources/image/weekend_free.png);
	width: 81px;
	height: 81px;
	display: block;
	position: absolute;
	bottom: 50px;
	right: 0;
}
.banner-vip {
	background-image: url(/resources/image/vip_triangle.png);
	width: 56px;
	height: 56px;
	display: block;
	position: absolute;
}
.tag_allfree.list_page, .tag_onefree.list_page, .tag_Efree.list_page {
	margin-top: -20px;
}
.tag_allfree.program {
	background-image: url(/resources/image/tag-free.png);
	background-position: left top;
	background-repeat: no-repeat;
}
.tag_allfree.small {
	background-image: url(/resources/image/tag-free-s.png);
	width: 66px;
	height: 22px;
	display: inline-block;
	margin-left: 10px;
	background-repeat: no-repeat;
}
.tag_onefree.small {
	background-image: url(/resources/image/tag-onefree-s.png);
	width: 104px;
	height: 22px;
	display: inline-block;
	margin-left: 10px;
}
.poster-allfree {
	background-image: url(/resources/image/posterbanne_allfree.png);
	width: 119px;
	height: 120px;
	display: block;
	position: absolute;
	top: -2px;
	z-index: 1;
}
.showbiz-title span {
	margin: 0px 3px;
}
hr{
	margin: 3px 0 8px 0;
}
.social-share-icon {
	background-image: url(/resources/image/share.png);
  	width: 21px;
  	height: 18px;
  	display: inline-block;
  	float: left;
  	margin-top: 4px;
}
.comment-icon {
	background-image: url(/resources/image/comments.png);
  	width: 18px;
  	height: 18px;
  	display: inline-block;
  	float: left;
  	margin-top: 6px;
}
.list-icon {
	background-image: url(/resources/image/list.png);
  	width: 16px;
  	height: 14px;
  	display: inline-block;
  	float: left;
  	margin-top: 6px;
}
.mask {
	background-color: #000;
	opacity: 0.5;
	width: 100%;
	height: 100%;
	z-index: 100000;
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
}
.ui-widget-overlay {
	background: #000;
	opacity: 0.7;
	z-index: 100000;
}
.tooManyStreamsError, .blockMsg {
	background-color: #fff;
	text-align: center;
	width: 520px;
	height: 225px;
	margin: 0 auto;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 1000000;
	display: none;
	border-radius: 4px;
	margin-top:-130px;
	margin-left:-260px;
}
.tooManyStreamsError div:first-child, .blockMsg div:first-child {
	font-weight: bold;
	font-size: 22px;
  	margin: 0 auto;
  	padding: 20px 10px;
	width: inherit;
  	height: 74px;
}
.waring_content {
	margin-bottom: 30px;
	margin: 0 10% 5% 10%;
}
.waring_button_cancel {
	background-color: #f3680b;
  	padding: 11px 20px;
  	font-size: 24px;
  	border-radius: 4px;
  	border: 1px solid #f3680b;
  	color: #fff;
  	width: 148px;
  	margin: 0 auto;
}
.error-ip {
	color: #fff;
	background-color: #000;
	text-align: center;
	width: 520px;
	height: 210px;
	margin: 0 auto;
	position: absolute;
	top: 32%;
	left: 35%;
	z-index: 1000000;
	display: none;
	padding-top: 4%;
	border-radius: 4px;
}
.error-ip i {
	position: absolute;
	top: 5px;
	right: 5px;
	background-image: url('/resources/image/player_block_close.png');
	display: block;
	width: 32px;
	height: 32px;
	cursor: pointer;
}
.adultPopDialog .ui-dialog-titlebar {
	display: none;
}
.adultPopDialog .ui-dialog-content {
	font-size: 16px;
	color: #fff;
	padding: 40px 20px 40px 0;
	overflow: hidden;
	width: auto;
	min-height: 0px;
	max-height: none;
	height: auto !important;
	font-family: 'Arial', 'Microsoft JhengHei', 'Heiti TC', 'WenQuanYi Zen Hei';
	line-height: 24px;
	background-color: #ff0c00;
}
.adultPopDialog i {
	float: left;
	background-image: url(/resources/image/restricted.png);
	width: 108px;
	height: 108px;
	margin: 0 16px 20px 16px;
}
.restricted-title {
	font-size: 24px;
	margin-bottom: 6px;
}
.ui-dialog {
	display: none;
	z-index: 100000;
}
.ui-dialog.adultPopDialog {
	top: 50% !important;
	margin-top: -150px !important;
	position: fixed;
}
.ui-dialog .ui-dialog-buttonpane {
	padding: 0;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
	float: initial;
	text-align: center;
}
.ui-dialog .ui-dialog-buttonpane button {
	margin: 10px 20px;
}
.ui-button-text {
	font-weight: initial;
}
.ui-state-default, .ui-widget-content .ui-state-default {
	background: #f5690a;
	color: white;
	font-family: 'Arial', 'Microsoft JhengHei', 'Heiti TC', 'WenQuanYi Zen Hei';
}
.ui-widget-content {
	border: 0;
}
.adultPopDialogCancle {
	font-size: 20px !important;
	background-color: #ff0c00 !important;
}
.adultPopDialogOk {
	font-size: 20px !important;
	background-color: #3f8dd5 !important;
}
.banner_play {
	position: absolute;
	bottom: 30px;
	left: 140px;
}
.banner_play i {
	background-image: url(/resources/image/banner_play.png);
	width: 102px;
	height: 64px;
	display: inline-block;
}
.banner_program {
	display: inline-block;
	vertical-align: top;
	color: #fff;
	margin-left: 10px;
	text-shadow: 0px 0px 1px #000;
}
.program_title {
	font-size: 30px;
	line-height: 34px;
}
.program_secondaryMark {
	font-size: 20px;
	line-height: 26px;
}
.program_secondaryMark > .vod-episode-count span {
	font-size: 26px;
	padding: 0 3px;
}
.share-close {
	text-align: right;
	margin: 5px 5px 0 0;
	height: 22px;
}
.share-close div {
	cursor: pointer;
	background-image: url(/resources/image/player_block_close.png) !important;
}
.share-close div:hover {
	background-image: url(/resources/image/player_block_close_hover.png) !important;
}
.title {
	height: 40px;
	line-height: 34px;
	overflow: hidden;
}
.vod_movie_des_block {
	width: 100%;
	overflow : hidden;
}
.vod_movie_des_block .vod_movie_des_tab_block {
	width: 100%;
	height: 44px;
	border-bottom: 4px solid #EEE;
}
.vod_movie_des_tab_block .des_tab {
	height: 44px;
	line-height: 44px;
	padding:0 20px;
	font-size: 22px;
	color: #777;
	float: left;
	text-align: center;
	cursor: pointer;
	font-weight: bold;
}
.vod_movie_des_tab_block .des_tab.focus {
	color: #8c4593;
	border-bottom: 4px solid #8c4593;
}
.vod_movie_des_block .vod_movie_des_content_block {
	width: 100%;
}
.vod_movie_des_content_block .des_content {
	width: 100%;
}
.vod_movie_des_content_block .des_content > div {
	margin-top: 15px;
}
.share-square-facebook:hover {
  background-position: -384px -44px !important;
}
.share-square-tumblr:hover {
  background-position: -96px -44px !important;
}
/* show start */
.episode_section .originalDate {
	border-radius: 4px;
  	font-size: 15px;
  	padding: 0 5px;
  	background: rgba(0,0,0,0.6);
  	bottom: 5px;
  	position: absolute;
  	right: 5px;
  	color: #fff;
  	text-shadow: 1px 1px 3px #000;
  	line-height: 20px;
}
.episode-img.show i {
	bottom: 5px;
	left: 5px;
}
.episode-img.show span {
	border-radius: 4px;
  	font-size: 15px;
  	padding: 0 5px;
  	background: rgba(0,0,0,0.6);
 	bottom: 5px;
  	position: absolute;
  	right: 5px;
  	color: #fff;
  	text-shadow: 1px 1px 3px #000;
  	line-height: 20px;
}
.episode_div.show {
	width: 232px;
	margin: 10px 0 10px;
}
.episode_div .episode.show {
	width: 216px;
	height: 121px;
	margin-bottom: 0;
	border: none;
	position: relative;
}
.episode_div:hover .episode.show {
	box-shadow: 0px 5px 10px 0px rgba(0,0,0,.5);
	margin: -2px auto 2px;
}
.episode_div .episode.show.active {
	box-shadow: 0px 5px 10px 0px rgba(0,0,0,.5);
	outline: 3px solid #f90;
}
.detailholder.show {
	background: transparent;
    width: 100%;
    text-align: left;
    color: #000;
	height: 30px;
    overflow: hidden;
}
/* show end */
/* dueDate */
#dueDate{
	width: 100%;
    padding: 0.2em 0.5em;
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,0.8);
    color: #FFF;
    font-size: 15px;
    text-align: center;
    position: absolute;
}
@keyframes float_down {
    from {transform:translate(0, 0px);}
    50% {transform:translate(0, -20px);}
    to {transform: translate(0, 0px);}    
}
@-webkit-keyframes float_down {
    from {transform:translate(0, 0px);}
    50% {transform:translate(0, -20px);}
    to {transform: translate(0, 0px);}    
}
@-moz-keyframes float_down {
    from {transform:translate(0, 0px);}
    50% {transform:translate(0, -20px);}
    to {transform: translate(0, 0px);}    
}

/* ===== width 1241 ~ 1400 ===== */
@media only screen and (min-width: 1241px) and (max-width: 1400px) {
	.fb-comments.fb_iframe_widget {
		width: 63%;
	}
	.comments > div:first-child {
		width: 35%;
	}
}

/* ===== width 0 ~ 1240 ===== */
@media only screen and (max-width: 1240px) {
	.vod-movie {
		padding: 20px;
	}
	.series_list {
		padding: 0 20px;
	}
	.prize {
		bottom: 0;
	}
	.comments > div:first-child {
		width: 45%;
	}
	.vod-movie .vod-movie-content-left > div.image {
		/*display: none;*/
	}
	.vod-content-left div p > span:first-child {
		margin-right: 8px;
	}
	.vod-content-left div p {
		margin: 2px 0px;
	}
	.vod-movie-content-right div ul li:first-child, .vod-movie-content-right div ul li.vod-movie-content-type{
		width: 100%;
		margin-top: 5px;
		margin-left: 0px;
	}
	.vod-movie-content-right div ul:first-child li {
		margin-top: 0px;
	}
	.vod-movie-content-right div ul li {
		margin-left: 20px;
	}
}

/* ===== width 1025 ~ 1199 ===== */
@media only screen and (min-width: 1025px) and (max-width: 1199px) {
	.vod-movie-right {
		width: 73%;
		float: left;
		margin-left: 20px;
	}
	.prize{
		position: relative;
		margin-top: 20px;
		margin-bottom: 20px;
		border: 0px;
		padding: 8px;
	}
}

/* ===== width 0 ~ 1024 ===== */
@media only screen and (max-width: 1024px) {
	.fb-comments.fb_iframe_widget, .comments_text {
		width: 100%;
		float: initial;
		vertical-align: initial;
		margin: 30px 0 0 0;
	}
	.comments > div:first-child {
		width: 100%;
		float: initial;
		vertical-align: initial;
	}
	.comments_text {
		max-height: initial;
		padding: 0 10px;
	}
	.vod-category-related {
		margin: 0;
		height: 100%;
	}
	.vod-movie, .vod_movie_des_block {
		padding: 20px;
	}
	.vod-movie-button {
		margin-top: 5px;
	}
	.vod-movie-content-right div ul li:first-child, .vod-movie-content-right div ul li:nth-child(2) {
		margin-left: 0px;
 	}
 	.vod-movie-content-right div ul li {
		margin-left: 35%;
 	}
}

/* ===== width 980 ~ 1024 ===== */
@media only screen and (min-width: 980px) and (max-width: 1024px) {
	.vod-movie-right {
		width: 70%;
		float: left;
		margin-left: 20px;
	}
	.prize{
		position: relative;
		margin-top: 20px;
		margin-bottom: 20px;
		border: 0px;
		padding: 8px;
	}
	#poster{
		margin-left: 0px;
	}
}

/* ===== width 769 ~ 979 ===== */
@media only screen and (min-width: 769px) and (max-width: 979px) {
	.vod-movie .vod-score {
		margin-top: -5px;
		margin-bottom: 8px;
	}
	.vod-movit-content-credits {
		margin-top: 20px;
	}
	.vod-movie-content-div2 {
		padding-top: 30px;
	}
	.vod-movie-content-right > p {
		margin-top: 30px;
	}
	.vod-movie-right {
		width: 62%;
		float: left;
		margin-left: 20px;
	}
	.vod-movie-content-left {
		width: 100%;
		height: auto;
	}
	.vod-movie-content-right {
		width: 100%;
		height: auto;
		float: left;
	}
	.content .vod-category-name {
		margin-top: 15px;
	}
	.vod-movie-content-package, .vod-movie-content-duedate {
		margin-right: 5px;
		margin-top: 10px;
	}
	.prize{
		position: relative;
		margin-top: 30px;
		border: 0px;
		padding: 8px;
	}
	#poster{
		margin-left: 0px;
	}
}

/* ===== width 0 ~ 768 ===== */
@media only screen and (max-width: 800px) {
	body{
		-webkit-text-size-adjust: none;
  	}
	.vod-movie-right {
		width: 100%;
	}
	.vod-movie-content-left {
		width: 98%;
	}
	.vod-movie-content-right {
		width: 98%;
		float: left;
	}
	.prize{
		position: relative;
		margin-top: 20px;
		border: 0px;
		padding: 8px;
	}
	.content-left-title {
		width: 100%;
	}
	.vod-content-left div p {
		margin: 5px 0px;
	}
	.vod-main-list .vod-list-category {
		overflow: hidden;
		margin: 0;
		padding-top: 5px;
	}
	/* .vod-main-list .vod-category-name:first-child {
		float: left;
	} */
	.vod-main-list .vod-sort {
		float: right;
		margin-top: 0px;
		margin-left: 2px;
		height: 35px;
	}
	/* .vod-main-list .vod-category-sort {
		height: 35px;
		margin-bottom: 15px;
	} */
	.content #poster{
		margin-left: 0px !important;
	}
	.vod-movie .vod-score {
		margin-top: -5px;
		margin-bottom: 8px;
	}
	.comic div.vod-movie .vod-score, .drama div.vod-movie .vod-score { 
		display: none;
	}
	.comic div.vod-movie-content-right, .drama div.vod-movie-content-right { 
		display: none;
	}
	.movie .vod-movie-button {
		margin-top: 30px;
	}
	.comic .vod-movie-button, .drama .vod-movie-button {
		margin-top: 20px;
	}
	.drama div.vod-movie .vod-score, .drama div.vod-movie .vod-score {
		display: none;
	}
	.vod-movie-content-right {
		float: left;
	}
	.vod-movie-content-right > p {
		margin-top: 30px;
	}
	.content .vod-category-name {
		margin-top: 15px;
	}
	.vod-movie-content-package, .vod-movie-content-duedate {
		margin-right: 5px;
	}
	.vod-movie-play .line, .vod-movie-play3 .line{
		width: 3px;
		margin: 3px 5px 0 5px;
		border-right: 0px solid #d44700;
	}
	.vod-movie-play, .vod-movie-play2, .vod-movie-play3 {
		padding: 9px 10px;
	}
	.sponsorAdImage {
		display: none;
	}
	.vod-list-content span.score {
		top: initial;
		bottom: 22px;
	}
	.tag_allfree.list_page, .tag_onefree.list_page, .tag_Efree.list_page{
		margin-top: -20px;
	}
	.providerLogo {
	  position: initial;
	}
}
@media only screen and (min-width: 600px) and (max-width: 801px) {
	.rank_block {
		width: 100%;
		float: none;
		margin-bottom:0;
	}
	.rank_title {width: 100%;}
	.rank {
		width: 34%;
		margin: 10px 0 0;
		float: left;
	}
	.rank:last-child {margin: 10px 0;}
	.rank:nth-child(2) {width: 25%;}
	.show .rank:nth-child(2) {margin-bottom: 100px;}
	.comments_block {
		width: 100%;
		margin-top: 30px;
		float: none;
	}
}
/* ===== width 0 ~ 767 ===== */
@media only screen and (max-width: 640px) {
	.rank_block {
		width: 100%;
		float: inherit;
		margin-bottom: 0;
	}
	.comments_block {
		width: 100%;
		margin-top: 30px;
		float: inherit;
	}
	.bottom_block {
		margin-top: 20px;
	}
}

/* ===== width 0 ~ 450 ===== */
@media only screen and (max-width: 480px) {
	.ui-dialog {
	  	left: 5% !important;
	  	width: 90% !important;
	  	top: 15% !important;
	}
	.ui-widget-content {
		text-align: center;
	}
	.adultPopDialog .ui-dialog-content {
	  	padding: 25px 10px 25px 10px;
	  	height: auto !important;
	}
	.adultPopDialog i {
	  	display: none;
	}
	.comments_text_title div:nth-child(2) {
	  line-height: initial;
	}
	.comments_text > div:nth-child(2) {
	  padding: 152px 0 0 0;
	}
}

/* ===== width 0 ~ 375 ===== */
@media only screen and (max-width: 375px) {
	#vodList{text-align: left;}
	.vod-movie-content-left, .vod-movie-content-right {
		width: 100%;
		height: auto;
	}
	.prize {
		position: initial;
		padding: 10px 10px 35px 20px;
	}
	.vod-left-content-left, .vod-left-content-right {
		width: 100%;
	}
	.tag_Efree, .tag_allfree, .tag_onefree {
		margin-left: 10px;
	}
	.vod-movie-content > span:nth-child(2) {
		display: inline-block;
		width: 85%;
	}
	.vod-movit-content-credits {
		margin-top: 20px;
	}
	.vod-filter-list {
		margin: 10px 10px 0px 4px;
	}
	.vod-filter-list:hover{
		margin: 10px 10px 0px 4px;
		box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.5);
	}
	.sort-block {
		margin-top: 10px;
	}
	.poster-img {
		width: auto;
	  	height: 192px;
	}
	.vod-list-content {
		width: 136px;
	}
}

/* ===== width 0 ~ 299 ===== */
@media only screen and (max-width: 299px) {
	.vod-main-list .vod-filter-list{
		width: 100%;
	}
	.vod-main-list .poster-img {
		min-height: 190px;
		width: 100%;
	}
}

@-moz-document url-prefix() {
	.free {
		background-image: url(/resources/image/free.png);
		width: 34px;
		height: 21px;
		display: block;
		position: absolute;
		bottom: 49px;
		right: 0;
	}
	.banner-allfree {
		background-image: url(/resources/image/all_free.png);
		width: 62px;
		height: 21px;
		display: block;
		position: absolute;
		bottom: 49px;
		right: 0;
	}
	.banner-onefree {
		background-image: url(/resources/image/first_free.png);
		width: 81px;
		height: 81px;
		display: block;
		position: absolute;
		bottom: 55px;
		right: 0;
	}
}