/* #PRODUIRE{fond=css/tablet_refonte.css,host=www.credit-agricole.fr}
   md5:62973a51f4ed7647dd077391a6f1d508 */
/*
#@squelettes/css/libs/prefixer.less
#@squelettes/css/config.less
#@squelettes/css/tablet/pages/aide_choix.less
#@squelettes/css/tablet/pages/applications.less
#@squelettes/css/tablet/slideshow.less
#@squelettes/css/tablet/pages/blog.less
#@squelettes/css/tablet/pages/contact.less
#@squelettes/css/tablet/pages/conseils.less
#@squelettes/css/tablet/pages/contrib.less
#@squelettes/css/tablet/pages/engagements.less
#@squelettes/css/tablet/pages/aidechoix_v2.less
#@squelettes/css/tablet/pages/faq.less
#@squelettes/css/tablet/pages/listing.less
#@squelettes/css/tablet/pages/ouverture_compte.less
#@squelettes/css/tablet/pages/simulation_devis.less
#@squelettes/css/tablet/pages/tremplin.less
#@squelettes/css/tablet/pages/social-wall.less
#@squelettes/css/tablet/pages/talents-gourmands.less
#@squelettes/css/tablet/pages/conseils_banque_privee.less
#@squelettes/css/tablet/pages/mag.less
#@squelettes/css/tablet/pages/mag-article.less
#@squelettes/css/tablet/widgets/map.less
#@squelettes/css/tablet/widgets/navigation.less
#@squelettes/css/tablet/widgets/nos_services.less
#@squelettes/css/tablet/widgets/ombres.less
#@squelettes/css/tablet/widgets/onglets.less
#@squelettes/css/tablet/campagnes.less
#@squelettes/css/tablet/pages/article-booster-2016.less
#@squelettes/css/tablet/pages/lp_nouveau_territoire.less
#@squelettes/campagnes/epargne_utile/css/tablet/rubrique-epargne-regionale.less
#@squelettes/campagnes/booster/css/tablet/booster.less
#@squelettes/campagnes/sante_collective/css/tablet/sante-collective.less
#@squelettes/campagnes/compte_noel_15/css/tablet/rubrique-cdn_15.less
#@squelettes/campagnes/ptz_15/css/tablet/ptz_15.less
#@squelettes/campagnes/auto_2016/css/tablet/auto-2016.less
#@squelettes/campagnes/cdn_2016/css/tablet/cdn_2016.less
#@squelettes/campagnes/lp_apple_taux/css/tablet/lp_apple_taux.less
#@squelettes/campagnes/lp_mac/css/tablet/lp_mac.less
*/
.choix-projet a {
  width: 47.5%;
}
.choix-projet a:nth-child(3n+1) {
  margin-left: inherit;
}
.choix-projet a:nth-child(3n) {
  margin-right: inherit;
}
.choix-projet a:nth-child(even) {
  margin-right: 0;
  float: right;
}
.choix-projet a:nth-child(odd) {
  margin-left: 0;
}
/*  OLD VERSION
	----------------
	*/
#applications_ca .conteneur-appli .img-appli {
  width: 33%;
}
body.applications #pleine-page .main_header p {
  width: 90%;
}
body.applications #pleine-page .capsule-video {
  width: 90%;
}
body.applications #pleine-page .pleine-page-main-contenu h2 + ul:not(.fonctionnalites) > li i,
body.applications #pleine-page .pleine-page-main-contenu section i {
  margin-right: 1.714em;
  display: inline-block;
}
#visuels .slide-text-container {
  width: 748px;
  font-size: 85%;
}
#visuels .slide-text-container .texte_slide {
  width: 748px;
  top: 220px;
}
#visuels .slide-text-container .texte_slide > .iframe_wrapper {
  top: -15px;
  height: 380px;
}
body.blog #main {
  padding-top: 25px;
}
body.blog .button-light {
  position: absolute;
  right: 0;
  top: -3em;
}
body.blog #title-blog {
  line-height: 1em;
}
body.blog #encart article p {
  margin: 1em 2em;
}
body.blog #encart article .comments-bloc h2,
body.blog #encart article .comments-bloc h3 {
  margin-left: 1.6em;
}
body.blog #encart article .comments-bloc .form_comm ul {
  width: 100% !important;
  padding: 1em 1.86em;
  padding-bottom: 0;
  margin: 0 !important;
}
body.contact-agence-carte .selection-form,
body.contact-mail .selection-form,
body.contact-telephone .selection-form,
body.contact-agence-urgences .selection-form {
  width: 65%;
}
body.contact-agence-urgences .pleine-page-main-contenu {
  padding-left: 5%;
  padding-right: 5%;
}
body.contact-agence-urgences .pleine-page-main-contenu .container-grey .columns-right {
  display: block;
  width: 100%;
}
.contact-mail #FORMULAIRE_CONTACT_IFRAME iframe {
  height: 680px;
}
.rubrique.conseils .conseils_blog figure,
.rubrique.conseils-experts .conseils_blog figure,
.rubrique.faq .conseils_blog figure {
  width: 50%;
}
.rubrique.conseils .conseils_blog figure img,
.rubrique.conseils-experts .conseils_blog figure img,
.rubrique.faq .conseils_blog figure img {
  width: 100%;
  height: auto;
}
.rubrique.conseils .conseils_blog .horloge,
.rubrique.conseils-experts .conseils_blog .horloge,
.rubrique.faq .conseils_blog .horloge {
  margin-left: 53%;
}
.liste-elements-intro li {
  padding: 0 .7em;
}
.liste-elements-intro li article {
  padding: 0 1.2em;
}
.series_limites_epargne [class*=conteneur_],
.series_limites_epargne [class^=conteneur_] {
  width: 100%;
}
body.engagements #encart {
  min-width: 100%;
}
body.engagements #encart header div {
  width: 436px;
}
body.engagements #navigation {
  min-width: 100%;
  min-height: 100%;
}
body.engagements #pleine-page .liste-engagements li {
  max-width: 48%;
  min-height: 440px;
}
body.engagements #pleine-page .liste-engagements li:nth-child(even) {
  float: right;
  margin-right: 0;
}
body.engagements #pleine-page .liste-engagements li:nth-child(3n+2) {
  margin-left: 0;
}
body.engagements #pleine-page .liste-engagements li header img {
  width: 100%;
  height: auto;
}
body.engagements #pleine-page .pleine-page-main-contenu .adapt-img-wrapper {
  min-width: 100%;
  height: 100%;
}
body.engagements #pleine-page .pleine-page-main-contenu .adapt-img-wrapper img {
  min-width: 100%;
}
body.engagements #pleine-page .un_tiers,
body.engagements #pleine-page .deux_tiers,
body.engagements #pleine-page .mentions {
  float: left;
  width: 100%;
}
body.engagements #pleine-page .mentions {
  padding: 1.3em;
}
.aide_choix_bloc.aidechoix_v2 .choix-projet a {
  display: block;
  width: 47%;
  height: 14.0909em;
  padding: 2.5em 0.1em;
}
.aide_choix_bloc.aidechoix_v2 .choix-projet a:nth-child(3n+1) {
  margin-left: 0;
}
.aide_choix_bloc.aidechoix_v2 .choix-projet a:nth-child(3n) {
  margin-right: 0;
}
.aide_choix_bloc.aidechoix_v2 .choix-projet a:nth-child(4n+1) {
  margin-left: 0;
}
.aide_choix_bloc.aidechoix_v2 .choix-projet a:nth-child(4n) {
  margin-right: 0;
}
.aide_choix_bloc.aidechoix_v2 .choix-projet a:nth-child(even) {
  margin-left: 1.5em;
}
.aide_choix_bloc.aidechoix_v2 .choix-projet a:nth-child(even) .descriptif_hover {
  right: -2px;
  left: auto;
}
.aide_choix_bloc.aidechoix_v2 .choix-projet a:nth-child(even) .descriptif_hover:before {
  left: 82%;
}
.aide_choix_bloc.aidechoix_v2 .choix-projet a:nth-child(even) .descriptif_hover:after {
  left: 84%;
}
.aide_choix_bloc.aidechoix_v2 .choix-projet a:nth-child(odd) .descriptif_hover {
  right: -127px;
  left: auto;
}
.aide_choix_bloc.aidechoix_v2 .choix-projet a i {
  display: block;
}
.aide_choix_bloc.aidechoix_v2 .choix-projet a i:hover + .descriptif_hover,
.aide_choix_bloc.aidechoix_v2 .choix-projet a i:active + .descriptif_hover {
  display: block;
}
.aide_choix_bloc.aidechoix_v2 .choix-projet a .descriptif_hover {
  position: absolute;
  width: 215px;
  height: auto;
  left: auto;
  top: auto;
  bottom: 125px;
  padding: 1.5em 1em;
  background-color: #fff;
  color: #000;
  font-weight: normal;
  text-transform: inherit;
  border: 1px solid #898989;
  border-radius: 5px;
  background-clip: padding-box;
  -webkit-box-shadow: 2px 2px 5px 0 rgba(50, 50, 50, 0.25);
  box-shadow: 2px 2px 5px 0 rgba(50, 50, 50, 0.25);
  z-index: 3;
}
.aide_choix_bloc.aidechoix_v2 .choix-projet a .descriptif_hover:before {
  content: '';
  position: absolute;
  left: 23%;
  bottom: 0;
  display: inline-block;
  width: 25px;
  height: 13px;
  background-color: #fff;
  z-index: 2;
}
.aide_choix_bloc.aidechoix_v2 .choix-projet a .descriptif_hover:after {
  content: '';
  position: absolute;
  left: 25%;
  bottom: -0.8em;
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid #898989;
  background-color: #fff;
  -webkit-box-shadow: 2px 2px 5px 0 rgba(50, 50, 50, 0.25);
  box-shadow: 2px 2px 5px 0 rgba(50, 50, 50, 0.25);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.aide_choix_bloc.aidechoix_v2 .choix-projet a:hover {
  background-color: none;
  background: #f7ffe8;
  color: #333;
}
.aide_choix_bloc.aidechoix_v2 .choix-projet a:hover .descriptif_hover {
  display: none;
}
.aide_choix_bloc.aidechoix_v2 .choix-projet a:hover img {
  display: inline-block;
}
.aide_choix_bloc.aidechoix_v2 .choix-projet a:hover .titre {
  display: block;
}
#navigation .bloc_action a i.epargne + span {
  padding-right: 0.5em;
}
.liste-elements-intro li {
  padding: 15px;
}
.bloc_produit {
  width: 48%;
}
#plus-loin .liste-elements-intro .item-container li {
  display: inline-block;
  float: left;
  width: 50%;
}
body.faq #pleine-page header > form fieldset {
  margin-bottom: 2%;
}
body.faq .pleine-page-main-contenu .reponses_faq,
body.faq .encart-main-contenu .reponses_faq {
  width: 65%;
}
body.faq .pleine-page-main-contenu .navigation_faq,
body.faq .encart-main-contenu .navigation_faq {
  width: 32%;
}
#encart .listing ul li {
  margin: 0.3em;
  margin-bottom: .5em;
}
body.rubrique.ouverture-compte ol,
body.article.ouverture-compte ol {
  padding: 2em 2em 2em 3em;
}
#pleine-page .agence-infos a.tel,
#pleine-page .agence-infos a.tel:visited {
  font-size: 2.0714em;
}
.explication-client > ul {
  margin: 0 .2em;
}
.resultat-agence article {
  width: 92%;
  padding-top: 0;
}
.dossier-agence {
  padding-bottom: 5em;
}
.dossier-agence article {
  width: 100%;
}
.dossier-agence article h2 {
  width: 73%;
}
.dossier-agence article #navigation .contact_avance header span {
  font-size: 0.9286em;
  top: 25%;
  left: 0em;
}
.dossier-agence article #navigation .voir_aussi {
  padding-right: 0;
}
#eagence #navigation,
#eagence #encart {
  min-height: inherit;
  display: block;
  width: 100%;
}
#eagence #navigation ol,
#eagence #encart ol {
  padding: 2em;
  padding-bottom: 0;
}
#eagence #navigation > div,
#eagence #encart > div {
  margin-top: 1em;
  margin-bottom: 1em;
}
#eagence #encart {
  margin-bottom: 2em;
}
.rubrique.devis-simulations #encart .encart-main-contenu ul li {
  padding: 1em;
}
.rubrique.devis-simulations #navigation .navigation_item div div a {
  width: 49%;
}
.rubrique.devis-simulations #navigation .navigation_item div div a:nth-child(3n-1) {
  width: 49%;
  border: none;
}
.rubrique.devis-simulations #navigation .navigation_item div div a:nth-child(odd) {
  border-right: thin solid #ececec;
}
body.tremplin #pleine-page nav.anchor-content {
  display: none;
}
body.tremplin #pleine-page section.carousel {
  margin-right: 1.684%;
}
body.tremplin #pleine-page section.grid nav ul.onglets li {
  padding: 2.2% 1.4%;
}
body.tremplin #pleine-page section.grid div.tab-content div.grid-item > div {
  width: 50%;
}
body.tremplin #pleine-page section.grid div.tab-content div.grid-item div:last-child {
  width: 100%;
  max-height: 160px;
}
body.tremplin #pleine-page section.grid div.tab-content div.grid-item div:last-child > p {
  width: 49.716%;
  padding-top: 21.4%;
  display: inline-block;
}
body.tremplin #pleine-page section.grid div.tab-content div.grid-item div:last-child > p span img {
  max-height: 160px;
  width: auto;
}
body.tremplin #pleine-page section.grid div.tab-content div.grid-item div:last-child div.text-content {
  width: 49.7%;
  display: inline-block;
  padding: 2%;
}
body.tremplin #pleine-page section.grid div.tab-content div.grid-item div:last-child p:last-child {
  display: none;
}
@media (orientation: portrait) {
  body.social-wall #gridContainer {
    margin-right: 0;
  }
  body.social-wall #gridContainer #stamp {
    height: auto;
  }
  body.social-wall #gridContainer .item-sizer,
  body.social-wall #gridContainer .item {
    width: 48%;
    height: 200px;
  }
  body.social-wall #gridContainer ._1x2,
  body.social-wall #gridContainer .twitter-media,
  body.social-wall #gridContainer .instagram,
  body.social-wall #gridContainer .vine {
    width: 100%;
  }
  body.social-wall #gridContainer ._2x2,
  body.social-wall #gridContainer .youtube,
  body.social-wall #gridContainer .facebook {
    width: 100%;
    height: 450px;
  }
}
body.talents-gourmands #pleine-page section {
  margin-bottom: 2em;
}
body.talents-gourmands #pleine-page section .pleine-page-main-contenu {
  width: 100%;
  min-height: auto;
  padding: 1.28571429em;
}
body.talents-gourmands #pleine-page section .pleine-page-main-contenu .participants > li:first-child:before {
  bottom: -7px;
}
body.talents-gourmands #pleine-page section .pleine-page-main-contenu .participants > li:last-child {
  margin-bottom: 0;
}
body.talents-gourmands #pleine-page section .pleine-page-main-contenu .participants > li:last-child:after {
  bottom: -7px;
}
body.talents-gourmands #pleine-page section .pleine-page-main-contenu .participants > li header i {
  display: none;
}
body.talents-gourmands #pleine-page section .pleine-page-main-contenu .participants > li div img {
  width: 100%;
  height: auto;
}
body.talents-gourmands #pleine-page section .pleine-page-main-contenu .social_grid {
  margin: auto;
  margin-right: -2%;
}
body.talents-gourmands #pleine-page section .pleine-page-main-contenu .social_grid .gridx1 {
  width: 32%;
}
body.talents-gourmands #pleine-page section .pleine-page-main-contenu .social_grid .gridx2 {
  width: 65%;
}
body.talents-gourmands #pleine-page section .pleine-page-main-contenu .social_grid > div.img_contrib {
  display: none;
}
body.talents-gourmands #pleine-page section .pleine-page-main-contenu .social_grid > div:nth-last-child(2) {
  width: 65%;
}
body.talents-gourmands #pleine-page section .pleine-page-main-contenu .map {
  position: relative;
  width: 40%;
  height: 300px;
  left: 0;
  background-position: 50%;
  background-size: contain;
  display: inline-block;
  float: left;
}
body.talents-gourmands #pleine-page section#echo_video {
  margin-bottom: 2em;
}
body.talents-gourmands #pleine-page section#echo_video .capsule-video {
  width: 90%;
}
body.talents-gourmands #pleine-page section#social_actus {
  padding: 0 1.28571429em;
}
body.talents-gourmands #pleine-page section#map_form > div > div {
  position: relative;
  float: right;
  -webkit-transform: translate(0%, 0%);
  -ms-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
}
.conseils-banque-privee #pleine-page .video_experts .iframe_youtube {
  width: 100%;
  float: none;
}
.conseils-banque-privee #pleine-page .video_experts #liens-videos-conteneur {
  display: block;
  margin-left: 0;
  width: 100%;
}
.conseils-banque-privee #pleine-page .video_experts #liens-videos-conteneur p {
  margin: 0;
}
.conseils-banque-privee #pleine-page .video_experts #liens-videos-conteneur a {
  font-size: 0.8571em;
  margin-left: 1.2em;
}
.conseils-banque-privee #pleine-page a {
  color: #666666;
}
.conseils-banque-privee #pleine-page a:hover {
  color: #ac1a2f;
}
.conseils-banque-privee #pleine-page .articles_une {
  display: inline-block;
  width: 60%;
}
.conseils-banque-privee #pleine-page .articles_une > :first-child {
  margin-top: 0;
}
.conseils-banque-privee #pleine-page .articles_une figure {
  float: left;
  margin-top: 0;
}
.conseils-banque-privee #pleine-page .articles_une article {
  font-size: 0.8571em;
}
.conseils-banque-privee #pleine-page .articles_une article h3 {
  color: #666666;
}
.conseils-banque-privee #pleine-page .articles_une article p {
  margin: 0 0 0.857em;
}
.conseils-banque-privee #pleine-page .articles_une article a {
  text-decoration: none;
}
.conseils-banque-privee #pleine-page .blog {
  display: inline-block;
  width: 33%;
  float: right;
}
.conseils-banque-privee #pleine-page .blog h2 {
  margin-top: 0;
}
.conseils-banque-privee #pleine-page .blog .horloge {
  display: inline-block;
  margin-bottom: 0;
}
.conseils-banque-privee #pleine-page .blog ul li {
  font-size: 0.8571em;
}
.conseils-banque-privee #pleine-page .blog ul li .category {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
}
.conseils-banque-privee #pleine-page .blog ul li a {
  display: block;
}
.conseils-banque-privee #pleine-page .rss {
  width: calc(66% - 30px);
  margin-right: 30px;
  float: left;
}
.conseils-banque-privee #pleine-page .rss .infos {
  float: right;
}
.conseils-banque-privee #pleine-page .rss p,
.conseils-banque-privee #pleine-page .rss .p,
.conseils-banque-privee #pleine-page .rss ul,
.conseils-banque-privee #pleine-page .rss ol,
.conseils-banque-privee #pleine-page .rss dl,
.conseils-banque-privee #pleine-page .rss blockquote,
.conseils-banque-privee #pleine-page .rss fieldset {
  margin: 1.714em 1.45em;
}
.conseils-banque-privee #pleine-page .rss p,
.conseils-banque-privee #pleine-page .rss .p {
  margin-top: 0;
}
.conseils-banque-privee #pleine-page .rss li p {
  margin-left: 0;
}
.conseils-banque-privee #pleine-page .twitter {
  float: left;
  width: 34%;
  background: none;
  padding: 0;
}
.cma__articles .cma__article-title {
  font-size: 0.8em;
}
.cma__articles .cma__article-title a {
  display: block;
  text-indent: -9000px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.cma__nav {
  background: none;
  text-align: left;
  position: relative;
}
.cma__nav #cma_hamburger + label {
  font-size: 1em;
  display: block;
  position: relative;
  background: #f8f7f7;
  padding: 1em;
  transition: all 0.3s ease;
}
.cma__nav #cma_hamburger + label:before {
  display: none;
}
.cma__nav #cma_hamburger + label span {
  position: absolute;
  display: block;
  right: 1em;
  top: 1.25em;
  width: 1em;
  height: 1em;
  border-top: 2px solid #666666;
  border-bottom: 2px solid #666666;
  transition: all 0.3s ease;
}
.cma__nav #cma_hamburger + label span:after,
.cma__nav #cma_hamburger + label span:before {
  display: block;
  background: #666666;
  height: 2px;
  width: 1em;
  content: ' ';
  background-image: none;
  margin: 0;
  font-size: inherit;
  top: calc( 50% - 1px);
  position: absolute;
  transition: all 0.3s ease;
}
.cma__nav-rub {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  top: 0;
  width: 100%;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}
.cma__nav-rub li {
  background: #f8f7f7;
  margin-top: 100px;
  transition: all 0.3s ease;
  display: block;
}
.cma__nav-rub li:first-child a {
  padding: 1em;
}
.cma__nav > #cma_hamburger:checked + label {
  z-index: 15;
  background: none;
  text-indent: -9000px;
  width: 5em;
  float: right;
}
.cma__nav > #cma_hamburger:checked + label span {
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-color: #f8f7f7;
}
.cma__nav > #cma_hamburger:checked + label span:before,
.cma__nav > #cma_hamburger:checked + label span:after {
  width: 1.3em;
  height: 4px;
}
.cma__nav > #cma_hamburger:checked + label span:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.cma__nav > #cma_hamburger:checked + label span:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
input:checked ~ .cma__nav-rub {
  visibility: visible;
  opacity: 1;
  z-index: 10;
}
input:checked ~ .cma__nav-rub li {
  margin-top: 0;
}
input:checked ~ .cma__nav-rub li a {
  color: #666666;
}
.cma__articles li:not(.cma__articles-rs):hover > div a {
  background: none;
}
.cma__articles li.paysage {
  height: 390px;
  width: 249.33333333px;
}
.cma__articles li.portrait {
  height: 390px;
  width: 249.33333333px;
}
/*
ya un pb avec @tablet-page-width qui vaut 768, or la grille fait 748 :/
 */
.cma__tuille-portrait {
  height: 390px;
  width: 249.33333333px;
}
.cma__articles li.article:not(.cma__articles-rs):hover picture img {
  opacity: 1;
}
.cma__articles li.article:not(.cma__articles-rs):hover .vignette,
.cma__articles li.article:not(.cma__articles-rs):hover .indication,
.cma__articles li.article:not(.cma__articles-rs):hover .rubrique {
  display: block;
}
.cma__articles li.article:not(.cma__articles-rs):hover > div {
  text-align: center;
  justify-content: space-between;
  border-color: transparent;
}
.cma__articles li.article:not(.cma__articles-rs):hover > div .chapo {
  display: none;
}
.cma__articles li.article:not(.cma__articles-rs):hover.tuile-blanc > div h3,
.cma__articles li.article:not(.cma__articles-rs):hover.tuile-blanc > div h2 {
  color: black;
  font-size: 1em;
  margin-bottom: 0;
}
.cma__articles li.article:not(.cma__articles-rs):hover.tuile-couleur > div h3,
.cma__articles li.article:not(.cma__articles-rs):hover.tuile-couleur > div h2 {
  color: white;
  font-size: 1em;
  margin-bottom: 0;
}
.cma__articles div h2,
.cma__articles div h3 {
  font-size: 1.5em;
}
.location-container > span {
  display: block;
  margin: .7em;
}
#navigation .contact_simple a i {
  left: 1.3em;
}
#navigation .contact_simple a span {
  font-size: 1.3636em;
  padding-left: 2.7em;
}
#navigation .widget-avis footer .moyenne-ratings div:not(.star-ratings-sprite) {
  width: 100%;
}
#navigation .contact_avance header i {
  left: 1em;
  top: 30%;
}
#navigation .contact_avance ul {
  text-align: center;
  margin-top: 1em;
  margin-bottom: .5em;
}
#navigation .contact_avance ul li,
#navigation .contact_avance ul li a {
  width: 93%;
  text-align: left;
}
#navigation .contact_avance ul li i,
#navigation .contact_avance ul li a i {
  float: left;
  margin-right: 1em;
}
#navigation .contact_avance ul li a {
  padding: 1em;
  padding-right: 0;
}
#navigation .contact_avance ul li:nth-child(2) {
  border-right: none;
  border-left: none;
  border-top: thin solid #cecece;
  border-bottom: thin solid #cecece;
}
#navigation .nos_services .pagination .dot-container {
  margin-left: 0;
  margin-right: 0;
}
#navigation .nos_services .pagination .dot-container li {
  margin: 5px;
}
.colonnes-home > li:first-child:before {
  bottom: -9px;
}
.colonnes-home > li:last-child:after {
  bottom: -9px;
}
.onglets .blog {
  height: 3.5em;
}
body.contact-agence-carte .onglets li,
body.contact-mail .onglets li,
body.contact-telephone .onglets li,
body.contact-agence-urgences .onglets li {
  font-size: 0.9286em;
}
body.contact-agence-carte .onglets li.on,
body.contact-mail .onglets li.on,
body.contact-telephone .onglets li.on,
body.contact-agence-urgences .onglets li.on,
body.contact-agence-carte .onglets li a,
body.contact-mail .onglets li a,
body.contact-telephone .onglets li a,
body.contact-agence-urgences .onglets li a {
  padding-right: inherit;
}
.toolbar-items {
  width: 748px;
}
.toolbar-items .toolbar-action {
  font-size: 10px;
}
.toolbar-items .search-form.deployed input[type=text] {
  width: 81%;
}
#nous-contacter {
  display: none;
}
#wrap-content {
  width: 748px;
}
.site-header {
  width: 748px;
  height: 124.66666667px;
  margin-bottom: 50px;
}
.site-header .logo img {
  height: 125px;
}
.site-header .banner-content {
  width: 603px;
}
.site-header .banner-content ul.banner-categories li {
  height: 33px;
}
.site-header .banner-content ul.banner-categories li a {
  font-size: 0.6429em;
  padding: .5em 0;
}
.site-header .banner-content ul.banner-categories li.selected::after {
  height: 3px;
  bottom: -1px;
}
.site-header .banner-content ul.banner-subcategories li a {
  margin-top: -5px;
}
.site-header .banner-content ul.banner-subcategories li a span {
  font-size: 12px;
}
.site-header .banner-content ul.banner-subcategories li a > span:last-child {
  margin-top: -10px;
}
.site-header .banner-content ul.banner-subcategories li a span.small {
  font-size: 10px;
}
.site-header .banner-content ul.banner-subcategories li a .normal-icon,
.site-header .banner-content ul.banner-subcategories li a .hover-icon {
  transform: scale(0.75);
  -moz-transform: scale(0.75);
}
.ie8 .site-header .banner-content ul.banner-subcategories li a .normal-icon,
.ie8 .site-header .banner-content ul.banner-subcategories li a .hover-icon {
  zoom: 0.75;
}
.banque .site-header .banner-content {
  width: 569px;
}
.colonnes-home {
  width: 748px;
  height: auto;
}
.colonnes-home > li.slider-item {
  width: 48%;
  margin: 0;
}
.colonnes-home > li.slider-item:nth-child(1) {
  width: 49%;
  margin-right: 2%;
}
.colonnes-home > li.slider-item:nth-child(2) {
  width: 49%;
}
.colonnes-home > li.slider-item:nth-child(3) {
  width: 100%;
  margin-top: 1%;
}
footer .ariane > div,
footer .footer-obligation > div,
footer .footer-links,
footer .footer-ban,
footer .footer-legal {
  width: 748px;
}
footer .footer-obligation a span {
  width: 120px;
  font-size: 10px;
}
footer .footer-ban li {
  padding-right: 10px;
}
footer .footer-ban ul li a {
  font-size: 11px;
}
footer .footer-legal {
  text-align: center;
}
footer .footer-legal #footer-logo {
  margin: 10px;
}
#mentions_campagne {
  padding: 2em 1em;
}
#mentions_campagne div#texte_mentions_campagne {
  width: 100%;
}
.booster-2016 .rebond button {
  margin-top: 50px;
}
.nt__article {
  margin-left: 0;
  width: 48%;
}
.nt__article:nth-child(2n) {
  margin-left: 2%;
}
.nt__footer p:first-child {
  margin-right: 0;
}
.nt__footer p .autobr {
  display: none;
}
body.epargne-regionale div#pleine-page div.rub-max div.bloc-item-content header {
  margin-bottom: 2em;
}
body.epargne-regionale div#pleine-page div.rub-max div.bloc-item-content header form {
  width: 97%;
  margin: auto;
  display: block;
}
body.epargne-regionale div#pleine-page div.rub-max div.bloc-item-content div.main-donut {
  margin-left: 0;
  text-align: center;
  width: 58%;
}
body.epargne-regionale div#pleine-page div.rub-max div.bloc-item-content div.main-donut canvas#chart-area {
  /*simplest way to change chart size : https://github.com/nnnick/Chart.js/issues/56*/
  width: 240px !important;
  height: 240px !important;
}
body.epargne-regionale div#pleine-page div.rub-max div.bloc-item-content div.main-donut div.panneau-legende {
  position: relative;
  top: auto;
  right: auto;
  margin: 0 auto;
  width: 80%;
  height: 100%;
}
body.epargne-regionale div#pleine-page div.rub-max div.bloc-item-content div.main-donut div.panneau-legende:before {
  content: none;
}
body.epargne-regionale div#pleine-page div.rub-max div.bloc-item-content div.main-donut div.panneau-legende > p {
  text-align: center;
  width: 10%;
  margin: auto;
  height: 3em;
  font-size: 1.1429em;
}
body.epargne-regionale div#pleine-page div.rub-max div.bloc-item-content div.chiffres {
  width: 40%;
  vertical-align: top;
}
body.epargne-regionale div#pleine-page div.rub-max div.rubriques-container div.rub.contribution,
body.epargne-regionale div#pleine-page div.rub-max div.rubriques-container div.rub.questions {
  display: block;
  width: 100%;
}
body.booster div#pleine-page iframe {
  width: 100%;
}
body.booster div#pleine-page a.rebond {
  font-size: 0;
}
body.booster div#pleine-page a.rebond img.bandeau {
  display: none;
}
body.booster div#pleine-page a.rebond img.bandeau.tablet {
  display: inline;
}
body.booster div#mentions_campagne div#texte_mentions_campagnes {
  width: 95%;
}
body.rubrique.sante-collective nav.anchor-content,
body.article.sante-collective nav.anchor-content {
  margin-bottom: 1.4em;
}
body.rubrique.sante-collective nav.anchor-content a.key-words,
body.article.sante-collective nav.anchor-content a.key-words {
  width: 46.8%;
  text-align: center;
}
body.rubrique.sante-collective #encart div.liste-elements-intro ul.unique li,
body.article.sante-collective #encart div.liste-elements-intro ul.unique li,
body.rubrique.sante-collective #encart div.bloc-item-content ul.unique li,
body.article.sante-collective #encart div.bloc-item-content ul.unique li {
  width: 70%;
}
body.rubrique.sante-collective #encart div.bloc-item-content .echos-video ul li,
body.article.sante-collective #encart div.bloc-item-content .echos-video ul li {
  width: 48%;
}
body.rubrique.sante-collective #encart div.bloc-item-content .echos-video ul li article,
body.article.sante-collective #encart div.bloc-item-content .echos-video ul li article {
  width: 56%%;
}
body.rubrique.sante-collective #encart div.bloc-item-content .echos-video ul li figure,
body.article.sante-collective #encart div.bloc-item-content .echos-video ul li figure {
  width: 35%;
}
body.rubrique.sante-collective #encart div.bloc-item-content .echos-video ul li figure img,
body.article.sante-collective #encart div.bloc-item-content .echos-video ul li figure img {
  max-width: 100%;
  height: auto;
}
body.rubrique.sante-collective #encart div.bloc-item-content.echos_articles ul li article,
body.article.sante-collective #encart div.bloc-item-content.echos_articles ul li article {
  width: 63%;
}
body.rubrique.sante-collective #navigation .navigation_item div [class*=button-],
body.article.sante-collective #navigation .navigation_item div [class*=button-],
body.rubrique.sante-collective #navigation .navigation_item div [class^=button-],
body.article.sante-collective #navigation .navigation_item div [class^=button-] {
  width: 100%;
}
body.cdn_15 #encart {
  background-position: -13em;
}
body.cdn_15 #encart h1 {
  margin-left: 0.4em;
}
body.cdn_15 #encart h2 {
  word-break: break-word;
}
body.cdn_15 #encart ul {
  display: table;
  table-layout: fixed;
}
body.cdn_15 #livrets {
  margin-left: -1em;
  margin-right: -1em;
}
body.cdn_15 #livrets ul {
  border-spacing: 1.2em;
}
body.cdn_15 #livrets ul li {
  display: inline-block;
  width: 49%;
  margin-bottom: 1.9%;
}
body.cdn_15 #livrets ul li:nth-child(even) {
  float: right;
}
body.rubrique.ptz_15 nav.anchor-content,
body.article.ptz_15 nav.anchor-content {
  margin-bottom: 1.4em;
}
body.rubrique.ptz_15 nav.anchor-content a.key-words,
body.article.ptz_15 nav.anchor-content a.key-words {
  width: 46.8%;
  text-align: center;
}
body.rubrique.ptz_15 #encart div.liste-elements-intro ul.unique li,
body.article.ptz_15 #encart div.liste-elements-intro ul.unique li,
body.rubrique.ptz_15 #encart div.bloc-item-content ul.unique li,
body.article.ptz_15 #encart div.bloc-item-content ul.unique li {
  width: 70%;
}
body.rubrique.ptz_15 #encart div.bloc-item-content.echos_articles ul li article,
body.article.ptz_15 #encart div.bloc-item-content.echos_articles ul li article {
  width: 63%;
}
body.rubrique.ptz_15 #navigation .navigation_item div [class*=button-],
body.article.ptz_15 #navigation .navigation_item div [class*=button-],
body.rubrique.ptz_15 #navigation .navigation_item div [class^=button-],
body.article.ptz_15 #navigation .navigation_item div [class^=button-] {
  width: 100%;
}
.auto-2016 .ml p {
  padding-right: 10px;
  padding-left: 10px;
}
.cdn_2016-cadeau .spip_documents {
  display: block;
}
#pleine-page > div.ajaxbloc > div.cdn_2016-produits {
  padding: 1em 10%;
}
.lp_mac-prod li img {
  max-width: 80%;
  height: auto;
}
