@charset "utf-8";

* {margin:0;padding:0;}
/*html {overflow-y:scroll;}*/
#header {color:#848484;font:12px/1.5 '돋움', Dotum, Sans-serif;}
#header article, aside, canvas, details, figcaption, figure, footer, header, hgroup, nav, menu, nav, section {display:block;}
#header h1,h2,h3,h4,h5 {font-size:100%;}
#header a:link, #header a:hover, #header a:active, #header a:visited, #header a:focus {color:#848484;text-decoration:none;}
#header ul, ol, li {list-style:none;}
#header table {width:100%;border-collapse:collapse;border:0;} 
#header colgroup {background:none;}
#header input, select, textarea, label {vertical-align:middle;font:12px/1.5 '돋움', Dotum, Sans-serif;}
#header fieldset, img {border:0;}
#header img {vertical-align:top;}
#header td img {vertical-align:middle;}
#header legend, caption {visibility:hidden;width:0;font-size:0;line-height:0;text-indent:-5000px;}
#header hr {display:none;}
#header .hide {visibility:hidden;position:absolute;font-size:0;line-height:0;}
#header textarea, input.txt {height:16px;padding:2px 5px 0;border:1px solid;}
#header input.chk {width:13px;height:13px;vertical-align:middle;}
address, em {font-style:normal;}