@charset "utf-8";

.bnr_area ul {margin:0 auto; width:970px; background: url(http://imgenuri.enuri.gscdn.com/images/home/footer_bnr.gif) 0 0 no-repeat; height:95px;}
.bnr_area ul li {list-style:none; }
.bnr_area ul li a {width:50%; float:left; display:block; height:91px; text-indent:-9999em; }
.footer {width:1000px; font-family:dotum; font-size:12px; margin:0 auto; padding:0; font-family:"맑은 고딕",Malgun Gothic,Dotum,applegothic,sans-serif,arial;}
.footer_menu {text-align:center; height: 28px; padding:13px 0 0 0;  padding-top: 10px; border-bottom:1px solid #e2e2e2; background:#f2f2f2; margin:0;}
.footer_menu li {margin:auto; display:inline; margin:0 16px;}
.footer_menu li a {color:#555555; text-decoration:none;}
.footer .adr {padding: 14px 0 12px 23px;  font-size:12px;  color:#808080; line-height:16px; margin:0;}
.footer .adr span {padding-right:12px; }
.footer .adr img {vertical-align:middle;}
.footer .award_list {background:url(http://imgenuri.enuri.gscdn.com/images/main/footer_bnr03.gif) 0 0 no-repeat; height:51px; text-indent:-9999em; margin:0; padding:0;}
.footer .copyright {padding: 10px 0 20px 23px; line-height:16px;  font-size:11px;  color:#808080; }
.footer .copyright strong {display:block; font-weight:normal; color:#5390be; }

.main_bottom td a:hover { font-family: "돋움", "돋움체"; font-size: 9pt; font-style: normal; color:FFFFFF; font-weight: normal; font-variant: normal; text-decoration: underline;}
.main_bottom td a { font-family: "돋움", "돋움체"; font-size: 9pt; font-style: normal; color:FFFFFF; font-weight: normal; font-variant: normal;text-decoration: none;}
.main_bottom td a:visited { font-family: "돋움", "돋움체"; font-size: 9pt; font-style: normal; color:FFFFFF; font-weight: normal; font-variant: normal; }
.main_bottom td a:active { font-family: "돋움", "돋움체"; font-size: 9pt; font-style: normal; color:FFFFFF; font-weight: normal; font-variant: normal; text-decoration: underline;}
.main_bottom td { font-family: "돋움", "돋움체"; font-size: 9pt; font-style: normal; color:FFFFFF; font-weight: normal; font-variant: normal; text-decoration: none;}
address, em {font-style:normal;}