@charset "utf-8";

/*검색영역*/
.enuriBi{height:108px !important}
.enuriBi h1.logoArea{width:237px; margin:0 !important; padding:0 !important; height:102px; background:url(http://imgenuri.enuri.gscdn.com/images/home/enuri_logo.gif) no-repeat 0px 30px; text-indent:-9999em; }
.enuriBi h1.logoArea a{display:block; margin-top:25px; height:60px;}

.enuriBi .search_new .searchForm {position:relative;float:left;width:100%;height:42px;padding:0; background:url(http://imgenuri.enuri.gscdn.com/images/home/enuri_input_bg.gif) no-repeat 0 2px;}
.enuriBi .search_new .txt {width:385px; height:15px; margin:5px 0 0 20px !important; border:0;font-weight:bold;font-size:14px;line-height:14px;color:#444;}
.enuriBi .search_new .searchForm #imgToggleAutoMake{margin:19px 3px 0px 27px;}
.enuriBi .search_new {position:relative;float:left;width:496px; margin:32px 0 0; z-index:1001}
.enuriBi .search_new .searchForm input[type=text]::-ms-clear {display:none;}
.enuriBi .search_new .placeholder {position:absolute;top:7px;left:5px;color:#b0b0b0;font-weight:bold;}
.enuriBi .search_new .keywordDel {display:none;position:absolute;top:7px;left:246px;overflow:hidden;width:16px;height:16px;background:url(http://imgenuri.enuri.gscdn.com/2014/layout/btn_del.gif) no-repeat;line-height:1px;font-size:1px;text-indent:-9999px;}
.enuriBi .search_new .on {background:url(http://imgenuri.enuri.gscdn.com/2014/layout/bg_arrow7.gif) no-repeat 270px 50%;}
.enuriBi .search_new .over .keywordDel {display:block;}
.enuriBi .search_new .searchHistory {display:none;position:absolute;top:36px;left:0;width:337px;background:#fff;border:1px solid #212330;border-top:0;}
.enuriBi .search_new .searchHistory .desc {padding:7px 11px 5px;color:#444;}
.enuriBi .search_new .searchHistoryList {padding:7px 0;}
.enuriBi .search_new .searchHistoryList li {position:relative;}
.enuriBi .search_new .searchHistoryList li a {display:block;padding:2px 0 1px 11px;color:#444;}
.enuriBi .search_new .searchHistoryList li em {font-weight:bold;color:#0081e6;}
.enuriBi .search_new .searchHistoryList li.over a {background:#dff1ff;}
.enuriBi .search_new .searchHistoryList li a.del {display:none;position:absolute;top:5px;right:9px;overflow:hidden;width:11px;height:11px;padding:0;background:url(http://imgenuri.enuri.gscdn.com/2014/layout/btn_del2.gif) no-repeat;line-height:1px;font-size:1px;text-indent:-9999px;}
.enuriBi .search_new .searchHistoryList li.over a.del {display:block;}
.enuriBi .search_new .searchHistoryList li a.cate {margin:0 0 0 15px;background:url(http://imgenuri.enuri.gscdn.com/2014/layout/bg_cate.gif) no-repeat 0 5px;color:#7f7f7f;}
.enuriBi .search_new .searchHistoryList li a.cate:hover {text-decoration:underline;}
.enuriBi .search_new .keywordOpt {padding:4px 10px 3px;background:#f7f7f7;border-top:1px solid #ddd;font-size:11px;text-align:right;}
.enuriBi .search_new .keywordOpt a {color:#818181;text-decoration:underline;}
.enuriBi .search_new a.searchbtn{position:absolute; right:0; top:0; width:50px; height:44px; text-indent:-9999em; }

.enuriBi .headBanner{padding:0 7px; margin-top:14px !important;}
.enuriBi .headBanner:hover .bnr_bullet{display:block; }
.enuriBi .headBanner .bnr_bullet{position:relative;display:block; z-index:1; display:none; }
.bnr_bullet span{text-indent:-9999em; font-size:0px !important; cursor:pointer; position:absolute; width:15px;height:15px; display:inline-block; background:url(http://imgenuri.enuri.gscdn.com/images/home/topbnr_btn.png) no-repeat;}
#move_banner_left{left:-7px; top:-45px; background-position:0 0; }
#move_banner_left:hover{background-position:0 -29px;}
#move_banner_right{right:-7px; top:-45px; background-position:0 -57px; }
#move_banner_right:hover{background-position:0 -85px; }

#main_body #header .enuriBi{width:970px !important}
#header #gnb{z-index:999;}
/*gnb*/
.gnbarea{width:970px; margin:0 auto; position:relative; }
.gnbarea.Left{width:970px; }
.menuList *{font-family:Malgun Gothic !important;}
.menuList{width:920px; margin:0 auto; position:relative; z-index:1000; padding-left:50px; }
.menuList:after{content:""; clear:both; display:block; }
.menuList li{display:inline-block; float:left; cursor:pointer; }
.menuList li.on .snblist{display:block; }
.menuList li.all{position:absolute; left:0; top:0;}

.menuList li.all a{width:11px; overflow:hidden; background:url(http://imgenuri.enuri.gscdn.com/images/home/ico_all.gif) center 14px no-repeat #115078; }
.menuList li.on.all a, 
.menuList li.all a:hover{text-indent:18px; background:url(http://imgenuri.enuri.gscdn.com/images/home/ico_all.gif) center -21px no-repeat #115078; text-indent:-9999em }

.gnbarea .other_menu{position:absolute; right:0; top:8px; z-index:1000}
.gnbarea .other_menu a{width:76px; height:24px; border:2px solid #e5f1f9; background:#2883bd; color:#f3faff !important; display:block; text-align:center; font-size:14px; font-weight:bold;  letter-spacing:-1px; font-family:Malgun Gothic !important;}
.gnbarea .other_menu a:hover{background:#2371a4; color:#ffffff !important; border:2px solid #ffffff;}

.menuList li a{display:block; padding:10px 19px 0; height:33px; text-align:center; color:#ffffff !important; font-size:15px; font-weight:bold; letter-spacing:-1px; cursor:pointer }
.menuList li a em{cursor:pointer}
.menuList li.all a{text-indent:-9999em; }
.menuList li.on, .menuList li a:hover{background:#2082c1; }
.menuList li a:hover em{display:block; }
.menuList li.on a em{background:url(http://imgenuri.enuri.gscdn.com/images/home/ico_gnb.png) 59% -26px no-repeat; display:block; height:34px;}

.allview_gnb .on .back_img{height:599px !important;}
.menuList li.on .back_img{z-index:-1; background:url(http://imgenuri.enuri.gscdn.com/images/main/depth_bg.png) left bottom repeat-x; padding-bottom:10px; height:347px; width:970px; position:absolute; left:0px; top:43px;}
.menuList li .snblist{position:absolute; left:0px; top:0px; width:998px; height:0; display:none; z-index:10; }
.menuList li.on .snblist{width:968px; height:auto; border:1px solid #bbbbbb; border-top:1px solid #084872; background: #ffffff; }

.menuList ul{background:url(http://imgenuri.enuri.gscdn.com/images/main/bg_depthline.gif) right top repeat-y #ffffff; width:170px;padding-top:12px; height:336px; float:left;}
.menuList ul li{clear:both; width:100%; height:32px !important; margin-left:0 !important; }
.menuList ul li:first-child{width:100%; }
.menuList ul li, .menuList li ul.on a{background:none; border:none;}
.menuList ul li a{padding:5px 0 0 10px; height:27px; text-align:left; font-weight:normal; font-size:13px; letter-spacing:0; }

.menuList .first_depth .second_depth li.on li a{z-index:100}


.menuList .first_depth li span{background:url(http://imgenuri.enuri.gscdn.com/images/main/icon_set.gif) 0 0; display:inline-block; text-indent:-9999em; width:14px; margin-left:3px;}
.menuList .first_depth li span.new{background-position:0 3px;}
.menuList .first_depth li span.hot{background-position:0 -38px}

.key{float:left; width:148px; height:348px; overflow:hidden; }

.menuList .snblist dl.etc_menu{border-right: 1px solid #e3e3e3; position:absolute; left:513px; top:0; width:136px; padding:0 12px; height:348px; z-index:10; background:url(http://imgenuri.enuri.gscdn.com/images/main/bg_depthline.gif) left top repeat-y #ffffff;}
.menuList .snblist dl.etc_menu.on{display:block; }
.menuList .snblist dl.etc_menu dt{height:25px; border-bottom:1px solid #e2e2e2; margin-bottom: 6px; padding-top:10px; }
.menuList .snblist dl.etc_menu a{padding:0; text-align:left; font-weight:normal; background:none; letter-spacing:-1px; }
.menuList .snblist dl.etc_menu dt{color:#1bc4a2 !important; font-size:13px; cursor:default;}
.menuList .snblist dl.etc_menu dt.hit{color:#f34c58 !important}
.menuList .snblist dl.etc_menu dd{padding:0;}
.menuList .snblist dl.etc_menu dd a{color:#343434 !important; font-size:12px; line-height:25px; height:25px; padding:0; cursor:pointer;}
.menuList .snblist dl.etc_menu dd a:hover{background:none; text-decoration:underline !important; }

.menuList .ad_area{background:url(http://imgenuri.enuri.gscdn.com/images/main/bg_gnb_ad.gif) top left repeat-y #eeeeee; width:294px; height:348px; position:absolute; right:0; top:0; overflow: visible !important;}
.menuList .ad_area .adarea_h{overflow:hidden !important; height:349px; }
.menuList .ad_area .adarea_h ul{width:1000px; padding:0; margin:0; background:none; height:349px;}
.menuList .ad_area .adarea_h ul li{float:left; width:294px; height:349px !important; padding:0; margin:0;display:none; }
.menuList .ad_area .adarea_h ul li a{padding:0; margin:0; }
.menuList .ad_area .adarea_h ul li img{width:294px; height:348px; }
.menuList .ad_area .adarea_h ul li.on{display:block;}

.bnr_dot{text-align:center; height:16px;padding-top:5px; position:absolute; width:100%; left:0; bottom:15px; }
.bnr_dot span{background:url(http://imgenuri.enuri.gscdn.com/images/main/ico_bnrdot02.png) 0 0 no-repeat #fdfdfd; width:15px; height:16px; display:inline-block; cursor:pointer; }
.bnr_dot span.anchors{background-position:3px 3px; }
.bnr_dot span.anchors.on,
.bnr_dot span.anchors:hover{width:15px; background-position:-15px 3px; }
.menuList .snblist .btn_close,
.menuList li.all .snblist .btn_close{position:absolute; right:-32px; bottom:0px; width:32px; height:32px; background:url(http://imgenuri.enuri.gscdn.com/images/main/ico_bnrdot02.png) 8px -26px no-repeat #787878; padding:0; text-indent:-9999em;}
.bnr_dot span.left{background:url(http://imgenuri.enuri.gscdn.com/images/main/bg_dotarea.png) 0 0px no-repeat; width:10px;}
.bnr_dot span.right{background:url(http://imgenuri.enuri.gscdn.com/images/main/bg_dotarea.png) top right no-repeat; width:10px;}
.adarea_h li.on{background:none; }

/* hover, on */
.menuList .first_depth li a{color:#787878 !important; }
.menuList .second_depth li a{color:#171717 !important; }
.menuList .third_depth li a{color:#171717 !important; overflow:hidden;}
.menuList .third_depth{background:none !important;}

.first_depth li a:hover{background:url(http://imgenuri.enuri.gscdn.com/images/home/bg_depth_on.gif) right top no-repeat #ffffff; color:#2680ef !important; font-weight:bold; }
.first_depth li.on{background:url(http://imgenuri.enuri.gscdn.com/images/home/bg_depth_on.gif) right top no-repeat #ffffff; }
.first_depth li.on a{color:#2680ef !important; font-weight:bold; cursor:default }

.first_depth li.on ul li a{color:#171717 !important; font-weight:normal; cursor:pointer; }
.first_depth li.on ul li a:hover{background:url(http://imgenuri.enuri.gscdn.com/images/home/bg_depth_on.gif) right top no-repeat #ffffff; color:#2680ef !important; text-decoration:underline !important; font-weight:bold; }
.first_depth li.on ul li.on{background:url(http://imgenuri.enuri.gscdn.com/images/home/bg_depth_on.gif) right top no-repeat #ffffff !important; }
.first_depth li.on ul li.on a{background:url(http://imgenuri.enuri.gscdn.com/images/home/bg_depth_on.gif) right top no-repeat #ffffff; font-weight:bold; color:#2680ef !important; }

.first_depth li.on ul li.last, .first_depth li.on ul li.last a{background:none !important; }

.first_depth li.on ul li ul li{background:none !important; }
.first_depth li ul li ul li{background:none !important; }

.first_depth li.on ul li ul li.on{background:none !important; }
.first_depth li ul li ul li{background:none !important; }

.first_depth li.on ul li.on ul li a{font-weight:normal !important; background:none !important; color:#171717 !important; text-decoration:none !important; display:block; line-height:21px;}
.first_depth li ul li ul li a{font-weight:normal !important; background:none !important; color:#171717 !important; text-decoration:none !important;}

.first_depth li.on ul li.on ul li.on a{font-weight:bold !important; text-decoration:underline !important; display:block; height:20px; }

.first_depth li.on ul li ul li a:hover{font-weight:bold !important; text-decoration:underline !important; color:#171717 !important;}
.first_depth li ul li ul li a:hover{font-weight:bold !important; text-decoration:underline !important; color:#171717 !important;}

/* depth */
.menuList .first_depth li ul,
.menuList .first_depth li dl,
.menuList .first_depth li.on ul ul
{display:none;z-index:1; }

.menuList .first_depth li.on ul{display:block;z-index:10; }
.menuList .first_depth li.on dl,
.menuList .first_depth li.on ul li.on ul
{display:block;z-index:100; }

.second_depth{position:absolute; left:170px; top:0; width:181px}
.third_depth{position:absolute; left:170px; top:0; width:181px}


/*전체보기*/
.gnbarea .all .snblist{height:600px !important;}
.gnbarea .all_view{height:600px; width:1100px;}
.gnbarea .all_view .all_sub{height:290px; width:193px; border-bottom:1px solid #e2e2e2; border-right:1px solid #e2e2e2; overflow:hidden !important; padding:0; background:#ffffff;}
.gnbarea .all_view .all_sub.last{height:310px; border-bottom:none; }
.gnbarea .all_view .all_sub li:hover, .all_view .all_sub li:hover a{color:#171717 !important;}
.gnbarea .all_view .all_sub li, .all_view .all_sub li a{font-size:14px; letter-spacing:-1px;}
.gnbarea .all_view .all_sub li a{border-bottom:1px dotted #e2e2e2; height:25px;  color:#171717; padding:15px 0 0 0; font-weight:bold; }
.gnbarea .all_view .all_sub li a, .all_view .all_sub li a:hover{background:#ffffff !important; color:#171717 !important; text-indent:20px;}
.gnbarea .all_view .all_sub li ul{background:none !important; width:174px; padding:0; margin:14px 0 0 10px; clear:both !important}
.gnbarea .all_view .all_sub li ul li{height:22px !important; }
.gnbarea .all_view .all_sub li ul li:hover{background:none; }
.gnbarea .all_view .all_sub li ul li a{padding:1px 0 0 0; color:#5d5d5d; font-size:12px; border-bottom:none; height:20px; font-weight:normal; background:url(http://imgenuri.enuri.gscdn.com/images/main/ico_gnb.png) 164px -137px no-repeat !important;  text-indent:10px !important;}
.gnbarea .all_view .all_sub li ul li a:hover{color:#ffffff !important; background:url(http://imgenuri.enuri.gscdn.com/images/main/ico_gnb.png) 164px -98px no-repeat #1689d3 !important;}

.gnbbox{overflow:hidden  !important; width:968px;}

/*프로모션 GNB*/
.w_bg .menuList li.on a em{background:url(http://imgenuri.enuri.gscdn.com/images/main/ico_gnb.png) 58px -29px no-repeat; display:block; height:34px;}
.w_bg .menuList .first_depth li ul, .menuList .first_depth li dl{display:none; }
.w_bg .menuList .first_depth li.on ul, .menuList .first_depth li.on dl{display:block; }

.w_bg{background:#ffffff; border-bottom:2px solid #0073be; height:34px}
.w_bg .menuList li{background:none;border:none; width:125px;height:34px; margin-left:0;  }
.w_bg .menuList li a{color:#444444 !important; }

.w_bg .menuList li a:hover,
.w_bg .menuList li.on,
.w_bg .menuList li.on a{color:#ffffff !important; background:url(http://imgenuri.enuri.gscdn.com/images/main/w_bg.gif) no-repeat 0 0;}

.w_bg .first_depth li.on ul li a{color:#171717 !important; font-weight:normal; }
.w_bg .first_depth li.on ul li a:hover{background:url(http://imgenuri.enuri.gscdn.com/images/main/bg_depth_on.gif) right top no-repeat #ffffff; color:#2680ef !important; font-weight:bold; }
.w_bg .first_depth li.on ul li.on{background:url(http://imgenuri.enuri.gscdn.com/images/main/bg_depth_on.gif) right top no-repeat #ffffff !important; }
.w_bg .first_depth li.on ul li.on a{background:url(http://imgenuri.enuri.gscdn.com/images/main/bg_depth_on.gif) right top no-repeat #ffffff; font-weight:bold; color:#2680ef !important;}

.w_bg .first_depth li.on ul li ul li{background:none !important; }
.w_bg .first_depth li ul li ul li{background:none !important; }

.w_bg .first_depth li.on ul li ul li.on{background:none !important; }
.w_bg .first_depth li ul li ul li{background:none !important; }

.w_bg .first_depth li.on ul li.on ul li a{font-weight:normal !important; background:none !important; color:#171717 !important; text-decoration:none !important;}
.w_bg .first_depth li ul li ul li a{font-weight:normal !important; background:none !important; color:#171717 !important; text-decoration:none !important;}

.w_bg .first_depth li.on ul li.on ul li.on a{font-weight:bold !important; text-decoration:underline !important;}

.w_bg .first_depth li.on ul li ul li a:hover{font-weight:bold !important; text-decoration:underline !important; color:#171717 !important;}
.w_bg .first_depth li ul li ul li a:hover{font-weight:bold !important; text-decoration:underline !important; color:#171717 !important;}

/* depth */
.w_bg .menuList .first_depth li ul,
.w_bg .menuList .first_depth li dl,
.w_bg .menuList .first_depth li.on ul ul
{display:none; }

.w_bg .menuList .first_depth li.on ul, 
.w_bg .menuList .first_depth li.on ul li.on ul,
.w_bg .menuList .first_depth li.on dl
{display:block; }

.w_bg .menuList ul{background:url(http://imgenuri.enuri.gscdn.com/images/main/bg_depthline.gif) right top repeat-y #ffffff; width:181px;padding-top:12px; height:336px; float:left;}
.w_bg .menuList ul li{clear:both; width:100%; height:32px !important; margin-left:0 !important; }
.w_bg .menuList ul li:first-child{width:100%; }
.w_bg .menuList ul li,
.menuList li ul.on a{background:none; border:none;}
.w_bg .menuList ul li a{background:none !important; color:#171717 !important; padding:5px 0 0 12px; height:27px; text-align:left; font-weight:normal; font-size:13px; letter-spacing:0; }

.w_bg .menuList .first_depth li a{color:#787878 !important; }
.w_bg .menuList .second_depth li a{color:#171717 !important; }
.w_bg .menuList .third_depth li a{color:#171717 !important; }

.w_bg .menuList ul li.on, 
.w_bg .menuList ul li:hover{background:url(http://imgenuri.enuri.gscdn.com/images/main/bg_depth_on.gif) top right no-repeat; }
.w_bg .menuList ul li a{color:#171717 !mportant}
.w_bg .menuList ul li.on a,
.w_bg .menuList ul li:hover a{background:url(http://imgenuri.enuri.gscdn.com/images/main/bg_depth_on.gif) top right no-repeat; color:#2680ef !important; font-weight:bold;}

.w_bg .menuList ul li span{background:url(http://imgenuri.enuri.gscdn.com/images/main/icon_set.gif) 0 0; display:inline-block; text-indent:-9999em; width:14px;}
.w_bg .menuList ul li span.new{background-position:0 3px;}
.w_bg .menuList ul li span.hot{background-position:0 -38px}

.w_bg .menuList .snblist dl.etc_menu{float:left; width:136px; padding:0 12px; }
.w_bg .menuList .snblist dl.etc_menu dt{height:25px; border-bottom:1px solid #e2e2e2; margin-bottom: 6px; padding-top:10px; }
.w_bg .menuList .snblist dl.etc_menu a{padding:0; text-align:left; font-weight:normal; color:#343434; background:none;}
.w_bg .menuList .snblist dl.etc_menu dt{color:#1bc4a2 !important; font-size:13px; }
.w_bg .menuList .snblist dl.etc_menu dt.hit{color:#f34c58 !important}
.w_bg .menuList .snblist dl.etc_menu dd a{color:#343434 !important; font-size:12px; line-height:25px; height:25px;}
.w_bg .menuList .snblist dl.etc_menu dd a:hover{background:none; text-decoration:underline !important; }

.w_bg .menuList .ad_area{background:url(http://imgenuri.enuri.gscdn.com/images/main/bg_gnb_ad.gif) top left repeat-y #eeeeee; width:294px; height:348px; position:absolute; right:0; top:0; overflow: visible !important;}
.w_bg .menuList .ad_area .adarea_h{overflow:hidden !important; height:349px; }
.w_bg .menuList .ad_area .adarea_h ul{width:1000px; padding:0; margin:0; background:none; height:349px;}
.w_bg .menuList .ad_area .adarea_h ul li{float:left; width:294px; height:349px !important; padding:0; margin:0;display:none; }
.w_bg .menuList .ad_area .adarea_h ul li a{padding:0; margin:0; }
.w_bg .menuList .ad_area .adarea_h ul li img{width:294px; height:348px; }
.w_bg .menuList .ad_area .adarea_h ul li.on{display:block;}

.w_bg .menuList .snblist .btn_close,
.w_bg .menuList li.all .snblist .btn_close{position:absolute; right:-38px; bottom:0px; width:38px; height:38px; background:url(http://imgenuri.enuri.gscdn.com/images/main/ico_bnrdot02.png) 12px -24px no-repeat #787878; padding:0; text-indent:-9999em;}

.w_bg .menuList li.on.all a{background:url(http://imgenuri.enuri.gscdn.com/images/main/ico_gnb.png) 26px 11px no-repeat !important; }
.w_bg .menuList li.all a{background:url(http://imgenuri.enuri.gscdn.com/images/main/ico_gnb.png) 27px -170px no-repeat !important; }
.w_bg .menuList li.all a:hover{background:url(http://imgenuri.enuri.gscdn.com/images/main/w_bg.gif) no-repeat right bottom !important;}


/*전체보기*/
.w_bg .all .snblist{height:600px !important;}
.w_bg .all_view{height:600px; width:1100px;}
.w_bg .all_view .all_sub{height:290px; width:199px; border-bottom:1px solid #e2e2e2; border-right:1px solid #e2e2e2; overflow:hidden !important; padding:0; background:none;}
.w_bg .all_view .all_sub.last{height:310px; border-bottom:none; }
.w_bg .all_view .all_sub li:hover, 
.w_bg .all_view .all_sub li:hover a{color:#171717 !important;}
.w_bg .all_view .all_sub li,
.w_bg .all_view .all_sub li a,{font-size:14px; letter-spacing:-1px; background:none !important; }
.w_bg .on .all_view .all_sub li a,
.w_bg .on .all_view .all_sub li:hover{background:none !important;}
.w_bg .all_view .all_sub li a{border-bottom:1px dotted #e2e2e2; height:25px;  color:#171717; padding:15px 0 0 0; font-weight:bold; }
.w_bg .all_view .all_sub li a,
.w_bg .all_view .all_sub li a:hover{background:#ffffff !important; color:#171717 !important;}
.w_bg .all_view .all_sub li ul{background:none !important; width:179px; padding:0; margin:14px 0 0 10px; clear:both !important}
.w_bg .all_view .all_sub li ul li{height:22px !important; }
.w_bg .all_view .all_sub li ul li:hover{background:none; }
.w_bg .all_view .all_sub li ul li a{padding:1px 0 0 0; color:#5d5d5d; font-size:12px; border-bottom:none; height:20px; font-weight:normal; background:url(http://imgenuri.enuri.gscdn.com/images/main/ico_gnb.png) 164px -137px no-repeat !important;  text-indent:10px !important;}
.w_bg .all_view .all_sub li ul li a:hover{color:#ffffff !important; background:url(http://imgenuri.enuri.gscdn.com/images/main/ico_gnb.png) 164px -98px no-repeat #2680ef !important;}


.gnbgroup{position:relative; z-index:100; }
/*.allview_gnb{position:absolute; left:0; top:0px;}*/
.allview_gnb .snblist{height:600px !important}

/* main.css */
.Nprev, .Nnext{z-index:10 !important}

/* 레이아웃 센터용 */
div.centerbody_wrap {
  width: 1000px;
  overflow: visible;
  margin: 0px auto;
}

/*LP*/
#loading{z-index:10 !important}
#main_body #header #gnb{width:100%; }
#header #gnb{height:44px !important; background:#2e95d7 !important; }
#header .gnbgroup:after{content:""; position:absolute; left:0; top:0; height:2px; width:100%; background: #000; opacity: 0.1; z-index:1000}

/*151007 cpc 추가*/
#ac_layer_main{width:454px; position:absolute;top:44px;left:18px !important; background:#fff; border:1px solid #2a89c6 !important; box-shadow: 0px 2px 0px #efefef;}
#ac_layer_main iframe{width:100%; height:100%}
#ac_layer_main .cpc_ad{display:none; position:absolute; right:15px; top:0; height:255px; border-left:1px solid #dddddd; width:152px; padding-left:14px}
.cpc{height:255px;}
.cpc iframe{width:273px !important; }
#ac_layer_main.cpc .cpc_ad{display:block; }
.cpc_ad .ad{position:absolute; left:14px; top:14px; text-indent:-9999em; background:url(http://imgenuri.enuri.gscdn.com/images/main/ico_cpc_ad.gif) 0 0 no-repeat; width:73px; height:13px;}
.cpc_ad .thum{text-align:center; padding:40px 0 12px 0; }
.cpc_ad .thum img{width:98px; border:1px solid #e2e2e2; }
.cpc_ad a{display:block; }
.cpc_ad strong{overflow:hidden; height:30px; display:block; line-height:15px; font-weight:normal; color:#787878; font-size:11px; text-align:center; }
.cpc_ad .price{color:#2680ef; font-weight:bold !important; display:block; text-align:right; position:relative; padding:0 4px;}
.cpc_ad .price .won{font-family:tahoma; font-size:14px; padding-right:2px;}
.cpc_ad .price .tit{text-indent:-9999em; position:absolute; left:4px; top:4px; width:54px; height:15px; background:url(http://imgenuri.enuri.gscdn.com/images/main/txt_sale.gif) 0 0 no-repeat; display:block; font-size:0;}
.cpc_ad .price .tit{.top:0px}
.cpc_ad .btn{width:100%; padding-top:7px; height:22px; background:url(http://imgenuri.enuri.gscdn.com/images/main/btn_cpc.gif) center top no-repeat; display:block; text-align:center; color:#787878 !important; margin-top:10px}
.cpc_ad .btn{.padding-top:6px; .height:23px;}
.cpc_ad .btn span{color:#343434; }

/* 161031 검색 자동완성창 백화점 브랜드 노출 - 1115 재작업 */
#ac_layer_main .cpc_dept{display:none; position:absolute; right:0; top:0; height:255px; border-left:1px solid #dddddd; width:181px;}
#ac_layer_main.cpc .cpc_dept{display:block; }
.cpc_dept.basicty {background:url(http://imgenuri.enuri.gscdn.com/images/main/ban_dept_basicty.jpg) 0 0 no-repeat; }
.cpc_dept .proname {margin:0 10px; text-align:center;  line-height:1.1;width:161px; height:24px; font-weight:bold;  font-family:Malgun Gothic; font-size:20px; color:#8b308e; letter-spacing:-0.5px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.cpc_dept.basicty .proitem {position:absolute; top:55px; left:25px; width:130px; height:18px; text-indent:-9999em;}
.cpc_dept .btn_sp {position:absolute; bottom:0; left:0; width:181px; height:70px; background:url(http://imgenuri.enuri.gscdn.com/images/main/ban_dept_sp1.jpg) 0 0 no-repeat; }
.cpc_dept.basicty .proname {margin-top:25px;}
.cpc_dept.proty {background:url(http://imgenuri.enuri.gscdn.com/images/main/ban_dept_proty.jpg) 0 0 no-repeat; }
.cpc_dept.proty .proname {margin-top:22px;}
.cpc_dept.proty .proitem {position:absolute; top:1px; left:0; width:181px; height:183px;}
.cpc_dept.proty .proitem img {position:absolute; top:75px; left:41px; width:100px; height:100px;}
.cpc_dept.dimty { background:url(http://imgenuri.enuri.gscdn.com/images/main/ban_dept_dimty.jpg) 0 100% no-repeat; }
.cpc_dept.dimty .cover {position:absolute; left:0; left:0; width:181px; height:182px; z-index:50; background:url(http://imgenuri.enuri.gscdn.com/images/main/ban_dept_cover.png) 0 0 no-repeat; }
.cpc_dept.dimty .proname {color:#fff; margin-top:68px;}
.cpc_dept.dimty .btn_sp {bottom:4px; z-index:100}

/* footer */
.bnr_area{margin-top: 40px; background: url(http://imgenuri.enuri.gscdn.com/images/home/bg_footer_bnr.gif) bottom left repeat-x !important; height:95px;}
.bnr_area ul{width:970px; background: url(http://imgenuri.enuri.gscdn.com/images/home/footer_bnr.gif) 0 0 no-repeat; height:95px;}
.footer{width:970px !important;}
.footer_menu li{margin:0 16px;}
.footer .award_list{background: url(http://imgenuri.enuri.gscdn.com/images/home/footer_bnrprize.gif) 0 0 no-repeat !important;}