@charset "utf-8";

/*이미지확대보기*/
.zoomly{position:fixed; left:50%; top:50%; margin: -360px 0px auto -370px; z-index:10000; background:#fff;border:1px solid #575c67; box-shadow: 0px 1px 2px 0px #000;}
.zoomly .boxly{padding:10px 0; text-align:center; }
.zoomly .scr{height:700px; overflow:auto; }
.zoomly h4{font-size:18px; font-weight:bold; padding-top:6px; height:41px; color:#ffffff; background:#575c67; text-indent:15px}
.zoomly .close{width:22px; height:22px; position:absolute; right:14px; top:12px; background: url(http://imgenuri.enuri.gscdn.com/images/home/ico_stick.png) -84px -208px no-repeat; text-indent:-9999em;}
.zoomly .boxly strong{text-align:left; padding:0 18px; font-size:18px; display:block; line-height:22px;}
.zoom_info{text-align:left; padding:10px 18px;}
.zoom_info li{display:inline; margin-right:15px;}
.zoom_info li span{padding-left:16px}
.zoom_info li .unchk{background: url(http://imgenuri.enuri.gscdn.com/images/home/chk_radio.png) 0px 3px no-repeat !important; }
.zoom_info li .chk {background: url(http://imgenuri.enuri.gscdn.com/images/home/chk_radio.png) 0px -26px no-repeat !important;}
.zoom_info li .report{background: url(http://imgenuri.enuri.gscdn.com/images/home/ico_singo.gif) no-repeat 0 4px; padding-left:13px;}

/*레이어 기본 타입*/
.type_layer{background:#fff;border:1px solid #575c67; box-shadow: 0px 1px 2px 0px #000; z-index:10;position:relative; letter-spacing:-0.5px;}
.type_layer h4{background:#575c67; color:#ffffff !important; font-size:12px; height:25px; padding-top:5px; text-indent:10px}
.type_layer .close{width:14px; height:14px; position:absolute; right:7px; top:7px; background: url(http://imgenuri.enuri.gscdn.com/images/home/ico_stick.png) -117px -208px no-repeat; text-indent:-9999em;}
.type_layer .boxly{background:#ffffff; padding:10px 15px; color:#343434;}
.type_layer .boxly:after{content: ""; display: block; clear: both; }
.type_layer .boxly .qrcode{float:left; width:98px; }
.type_layer .boxly .qrcode img{border:1px solid #e2e2e2; width:84px; height:84px;}
.type_layer .boxly .m_txt{float:left; width:245px; }
.type_layer .boxly .m_txt p{font-size:13px; line-height:17px; }
.type_layer .boxly .m_txt ul{padding-top:13px;}
.type_layer .boxly .m_txt li{display:inline-block; border:1px solid #e2e2e2; font-size:12px; cursor:pointer; padding:0 8px; height:20px; margin-right:4px; vertical-align:bottom;}
.type_layer .boxly .m_txt li label{vertical-align:0}
.type_layer .boxly .m_txt li input{vertical-align:text-bottom; margin-right:2px;}
.type_layer .boxly .m_txt li.app{border:1px solid #0073be; background:#2e91fc; color:#ffffff;}

.type_layer .boxly .zzim_price{color:#0073be; }
.type_layer .boxly .zzim_price b{font-size:24px; vertical-align:-2px; letter-spacing:-1px; margin:0 2px}
.type_layer .boxly .zzimlist{position:absolute; right:10px; bottom:5px; padding-right:8px; background: url(http://imgenuri.enuri.gscdn.com/images/home/bullet.gif) right -346px no-repeat; display:block;}

/*sms*/
.type_layer .boxly_b{background:#f2f2f2; padding:10px 15px 15px; color:#787878; font-size:11px;}
.type_layer .boxly_b .mms{border:1px solid #e2e2e2; background:#ffffff;  width:212px;height:22px; padding:0 10px; vertical-align:bottom; display:inline-block; margin:0; }
.type_layer .boxly_b .mms input{color:#787878; font-size:11px; width:205px; background:transparent; border:none; margin-top:3px;}
.type_layer .boxly_b .btn_send{background:#ffffff; color:#343434; padding:2px 36px 0; height:20px; border:1px solid #e2e2e2; display:inline-block; vertical-align:bottom; margin-left:3px; cursor:pointer; }
.type_layer .boxly_b p{line-height:14px; margin-top:3px;}
.type_layer .none{display:none}
.type_layer.smsmore .none{display:block;}
.type_layer .boxly_b h5.tit{font-size:13px; font-weight:bold; color:#343434; padding-bottom:4px;}

/*sns공유*/
.type_layer .share{width:98px; height:89px; padding-top:5px; }
.type_layer .share li{height:21px; cursor:pointer; background: url(http://imgenuri.enuri.gscdn.com/images/home/ico_sns.gif) 0 0 no-repeat; padding-left:41px; }
.type_layer .share li.url{background-position:8px 4px}
.type_layer .share li.mail{background-position:8px -21px}
.type_layer .share li.fb{background-position:8px -49px}
.type_layer .share li.tw{background-position:8px -77px}


/*상품메일보내기*/
.type_layer .mailly{background:#ffffff; padding:10px; color:#343434;}
.type_layer .mailly:after{content: ""; display: block; clear: both; }
.mail_send dt{padding-bottom:3px; font-size:13px;}
.mail_send dd{padding:0 0 10px 5px;}
.mail_send dd .f5{text-decoration:underline; margin:0 5px 0 3px}
.mail_send dd input, .mail_send dd img{vertical-align:bottom;}
.mail_send dd .num{border:1px solid #e2e2e2; background:#ffffff;  width:140px;height:22px; padding:0 10px; vertical-align:bottom; display:inline-block; margin:0; }
.mail_send dd input{color:#787878; font-size:11px; width:100%; background:transparent; border:none; margin-top:3px;}
.mail_send dd .btn_send{background:#ffffff; color:#343434; padding:2px 36px 0; height:20px; border:1px solid #e2e2e2; display:inline-block; vertical-align:bottom; margin-left:3px; cursor:pointer; }
.mail_send dd .mail{border:1px solid #e2e2e2; background:#ffffff;  width:156px;height:22px; padding:0 10px; vertical-align:bottom; display:inline-block; margin:0; }

.mailly .option{display:block; text-align:right; padding-top:10px; }
.mailly .option a{padding-right:10px; background: url(http://imgenuri.enuri.gscdn.com/images/home/bullet.gif) right -375px no-repeat; }

.type_layer .mail_detail{display:none; background:#f2f2f2; padding:10px;}
.type_layer.mailmore .mail_detail{display:block;}
.type_layer.mailmore .option a{padding-right:10px; background: url(http://imgenuri.enuri.gscdn.com/images/home/bullet.gif) right -404px no-repeat; }
.type_layer .mail_detail dt{font-size:13px; width:33px; display:inline; color:#343434;height:22px; vertical-align:top; margin-bottom:5px;}
.type_layer .mail_detail dd{width:235px;border:1px solid #e2e2e2; background:#ffffff;  height:22px; padding:0 10px; vertical-align:bottom; display:inline-block; margin:0 0 5px 0;}
.type_layer .mail_detail dd input{color:#787878; font-size:11px; width:100%; background:transparent; border:none; margin-top:3px;}
.type_layer .mail_detail dd.txt{border:none; padding:0; height:98px; width:255px}
.type_layer .mail_detail dd.txt textarea{border:1px solid #e2e2e2; height:98px; width:255px; resize: none;}

.type_layer .benefit{font-size:13px; }
.type_layer .benefit li.mall img{margin:3px 5px 0 3px}
.type_layer .appmore{text-align:right; display:block; margin-bottom:-5px}
.type_layer .appmore a{color:#ff7070; font-size:12px; background: url(http://imgenuri.enuri.gscdn.com/images/home/bullet.gif) right -433px no-repeat; padding-right: 8px;}

/* 최저가 쇼핑 도우미 에누리 앱 */
.type_layer .boxly .m_txt .disc {margin:5px 0 6px; font-size:22px; color:#343434; letter-spacing:-0.75px; }
.type_layer .boxly .m_txt .disc  em {color:#ff2222;}


/*불편오류신고*/
.type_layer h5{font-size:15px; font-weight:bold; padding-bottom:10px;}
.type_layer .er_ly{background:#ffffff; padding:15px 18px; color:#343434;}
.error_info{border:1px solid #e2e2e2; background:#eeeeee; color:#171717; font-size:13px; height:36px; overflow:hidden; padding:6px 8px; }
.er_ly .report_detail{margin-top:15px; }
.er_ly .report_detail dt{font-weight:bold; padding-bottom:5px;}
.er_ly .report_detail dd{padding-bottom:15px; color:#666666}
.er_ly .report_detail dd ul{width:100%;}
.er_ly .report_detail dd ul:after{clear:both; display:block; content:""}
.er_ly .report_detail dd li{width:168px;float:left;}
.er_ly .report_detail dd  li input{-webkit-appearance: none; border: 0; height: 1px; width: 1px; position: absolute; margin: -9999em;}
.er_ly .report_detail dd .unchk{background: url(http://imgenuri.enuri.gscdn.com/images/home/chk_radio.png) 0 2px no-repeat !important; padding-left:15px; height:14px !important; line-height:11px !important}
.er_ly .report_detail dd .chk{background: url(http://imgenuri.enuri.gscdn.com/images/home/chk_radio.png) 0 -27px no-repeat !important; padding-left:15px; height:14px !important; line-height:11px !important; font-weight:bold;}
.er_ly .report_detail dd textarea{border:1px solid #e2e2e2; height:102px; width:322px; resize: none; padding:8px; color:#999999}
.er_ly .report_detail dd textarea:focus{border:1px solid #787878; color:#5d5d5d; }
.er_ly .report_detail dd .email{border:1px solid #e2e2e2; color:#a9a9a9; padding:3px 5px; width:328px; }
.er_ly .report_detail dd input[type=text]:focus{border:1px solid #787878; color:#343434; }
.er_ly .report_detail dd .result_chk{padding-bottom:4px;}
.er_ly .report_detail dd .result_chk .unchk{background:url(http://imgenuri.enuri.gscdn.com/images/home/ico.png) 0 -170px no-repeat !important; padding-left:17px; height:14px; line-height:12px; display:inline-block; cursor:pointer; padding-top:1px;}
.er_ly .report_detail dd .result_chk .chk{background:url(http://imgenuri.enuri.gscdn.com/images/home/ico.png) 0 -204px no-repeat !important; padding-left:17px; height:14px; line-height:12px; display:inline-block; cursor:pointer; padding-top:1px; font-weight:normal;}
.er_ly .report_detail dd .result_chk span input{-webkit-appearance:none; border:0; height:1px; width:1px; position:absolute; margin:-9999em;}

.type_layer .btncnt{text-align:center; }
.type_layer .btncnt a{display:inline-block; border:1px solid #e2e2e2; font-size:12px; cursor:pointer; padding:0 8px; height:20px; margin:0 3px; vertical-align:bottom;}
.type_layer .btncnt a.end{border:1px solid #0073be; background:#2e91fc; color:#ffffff;}


/*차종별 규격안내*/
.car{width:638px; position:fixed; left:50%; top:0; margin:0 auto 0 -319px; z-index:1001 !important;}
.car h4, .car h5, .car h6{margin:0;}
.car h5.cartit{height:28px; background:url(http://imgenuri.enuri.gscdn.com/images/home/ico_car.gif) 0 14px no-repeat; font-size:20px; color:#343434; text-indent:43px; letter-spacing:-1px; padding-top:10px;}
.car h6{color:#171717; font-size:13px; border-bottom:1px solid #eeeeee; padding:5px 0; font-weight:normal; }

.car_navi{padding:10px 0; margin:0;}
.car_navi:after{content:""; display:block; clear:both; }
.car_navi li{float:left; position:relative; font-size:14px; }
.car_navi li a{letter-spacing:-1px; overflow:hidden; color:#343434; display:block; height:22px; width:134px; border:1px solid #e2e2e2; border-radius:2px; padding: 5px 24px 5px 7px; margin-right:12px; text-decoration:none; background:url(http://imgenuri.enuri.gscdn.com/images/home/bullet.gif) right -33px no-repeat;}
.car_navi li .sub_dp{display:none; max-height:220px; overflow:auto; border-bottom:2px solid #dbdbdb; border-radius:2px; width:145px; position:absolute; left:0px; top:0px; display:none; border: 1px solid #787878; padding:0 18px 0 7px; background:url(http://imgenuri.enuri.gscdn.com/images/home/ico_sub_dp.gif) 87% 7px no-repeat #ffffff; z-index:11;}
.car_navi li.sub .sub_dp{display:block;}
.car_navi li .sub_dp li{background:none; padding:0; width:100%; }
.car_navi li .sub_dp li a{border:none; background:none; display:block; padding:1px 5px 2px 5px; margin:0; overflow:hidden; height:20px; }
.car_navi li .sub_dp li a:hover{background: #787878; color:#ffffff; }
.car_navi li .dp4{background:#2d9fe8; color:#ffffff; border:1px solid #1689d3; border-radius:2px; font-weight:bold; display:inline-block; padding:0 12px; height:22px;}
.car_navi li .sub_dp li a.on{color:#2d9fe8; text-decoration:underline; background:#ffffff; }
.car_navi li .sub_dp li span{padding:5px 0; display:block; }

.car_navi li.type a{width:67px; }
.car_navi li.type .sub_dp{width:51px; padding: 0 40px 0 7px; background-position:87% 12px;}
.car_navi li.type .sub_dp a{width:51px;}

.car_navi li.name a{width:107px; }
.car_navi li.name .sub_dp{width:91px; padding: 0 40px 0 7px; background-position:80% 12px;}
.car_navi li.name .sub_dp a{width:91px; }

.car_navi li.detail a{width:215px; }
.car_navi li.detail .sub_dp{width:199px; padding: 0 40px 0 7px; background-position:86% 12px;}
.car_navi li.detail .sub_dp a{width:199px; }
.car_navi li.detail.wifer a{width:327px; }
.car_navi li.detail.wifer .sub_dp{width:311px; background-position:92% 12px;}
.car_navi li.detail.wifer .sub_dp a{width:311px;}

.car .car_search{position:absolute; right:20px; top:129px; background:url(http://imgenuri.enuri.gscdn.com/images/home/car_search.gif) 48px 6px no-repeat #2d9fe8; border:1px solid #1689d3; color:#ffffff; font-weight:bold; font-size:14px; width:78px; height:27px; padding-top:3px; border-radius: 2px; text-indent:14px;}

.car_info{border:2px solid #2d9fe8; background:#fffff4; font-size:16px; padding:9px; position:relative;}
.car_info strong{padding-left:3px}
.car_info .size{position:absolute; right:4px; top:7px; width:295px; height:76px; overflow:auto; padding-right:8px; border-left:1px solid #e2e2e2}
.car_info .size li{text-align:right; line-height:25px; }
.car_info .size li span{display:inline-block; border:1px solid #bbbbbb; color:#666666; cursor:pointer; font-size:11px; background:#ffffff; width:58px; height:14px;  line-height:14px; text-align:center; padding:0px 0 2px 0; vertical-align:2px; margin-left:3px}

.car_content{border:1px solid #e2e2e2; padding:12px; overflow:auto; max-height:400px; margin:10px 0}
.car_content em{color:#0073be; font-weight:bold;}
.car_content .imgbox{text-align:center; padding:10px 0 20px 0;}

.s_tit{display:block; padding:5px 0;}
.wifer_size{border:1px solid #e2e2e2; border-right:none; color:#171717; border-collapse:collapse;}
.wifer_size td{width:62px; text-align:center; height:26px; border-right:1px solid #e2e2e2; border-top:1px solid #e2e2e2;}
.wifer_size th{background:#f9f9f9; width:67px; height:26px; border-right:1px solid #e2e2e2;}
.titarea{text-align:center; padding-bottom:20px; }
.titarea span{display:inline-block; border-bottom:2px solid #787878; font-weight:bold; font-size:14px; color:#171717}

.systemtooltip{display:none; min-height:100px;position:absolute;  bottom:-114px; left:0;  z-index:10; width:483px; text-align:left;  background:#ffffff; border:1px solid #575c67; box-shadow: 2px 2px 2px #ebebeb;}
.systemtooltip .tit {font-size:12px; color:#fff; height:29px; line-height:26px; text-indent:10px; background-color:#575c67; }
.systemtooltip .txt {padding:20px 18px 28px; margin-top:6px; font-size:12px; line-height:14px; color:#343434; letter-spacing:-0.02em; font-weight:normal;}
.systemtooltip ul:after{display:block; clear:both; content:""; }
.systemtooltip ul li {margin-top:3px; padding-left:7px; background:url(http://imgenuri.enuri.gscdn.com/images/home/bul_sq_gray3.gif) 0 6px no-repeat;}
.systemtooltip ul li:first-child {margin-top:0;}
.systemtooltip ul li .ta_right {color:#999999;}


/*주문결제 팝업*/
.ms_popup{border:1px solid #575c67; background:#f9f9f9; padding:17px; margin:0 auto; font-size:12px;}
.ms_popup h2{color:#343434; font-size:15px; padding-bottom:5px; font-weight:bold; letter-spacing:-0.5px;}
.ms_popup h3{color:#343434; font-weight:bold; letter-spacing:-0.5px; padding-bottom:7px; font-size:12px;}
.pop_content{background:#ffffff; padding:17px; border:1px solid #eeeeee; }
.ms_popup.pdno{background:#ffffff; }
.ms_popup.pdno .pop_content{padding:0; border:none;}
.ms_popup .fs11{font-size:11px;}
.ms_popup td .num{font-weight:bold; font-size:14px}
.ms_popup td{letter-spacing:-0.5px; line-height:15px}

.pop_content .radio_area{position:relative; }
.pop_content .ch{position:absolute; right:0; top:-22px;}
.pop_content .ch li{display:inline-block; margin-left:10px; color:#666666;}
.pop_content .ch li.on label{font-weight:bold}

.pop_content .order{width:100%; margin-bottom:15px;}
.pop_content .order th{background:#f9f9f9; border:1px solid #f1f1f1; padding:3px; font-weight:normal; color:#666666;}
.pop_content .order td{border:1px solid #f1f1f1; padding:8px; text-align:center; }
.pop_content .order td .thum img{width:60px; height:60px; border:1px solid #e2e2e2; position:absolute; left:0px; top:0px;}
.pop_content .order td .thum{position:relative; padding-left:70px; line-height:15px; display: table-cell; vertical-align: middle; height:62px; text-align:left;}
.pop_content .order td strong{font-weight:bold; color:#181818; font-size:16px; vertical-align:-1px; }
.pop_content .order td input{border:1px solid #e2e2e2; padding:3px;}
.pop_content .order td select{border:1px solid #e2e2e2; padding:2px; }
.pop_content .order td.txt{padding:7px 8px !important; color:#666666}
.pop_content .order td.agree{padding:7px !important; text-indent:0 !important; color:#666666; font-size:11px; }

.pop_content .order.type th{text-align:left; padding:3px 0 3px 8px; }
.pop_content .order.type td{text-align:left; padding:3px 0 3px 8px; }
.pop_content .order.type td.end{color:#181818; font-weight:bold; padding:7px !important; text-indent:0 !important; }
.pop_content .order.type td.end02{color:#666666; padding:7px !important; text-indent:0 !important; }

.popunchk input, .popchk input{-webkit-appearance: none; border: 0; height: 1px; width: 1px; position: absolute; margin: -9999em; }
.popunchk{background: url(http://imgenuri.enuri.gscdn.com/images/home/chk_radio.png) 0 3px no-repeat !important; padding-left:15px; height:14px !important; line-height:11px !important; cursor:pointer;}
.popchk{background: url(http://imgenuri.enuri.gscdn.com/images/home/chk_radio.png) 0 -27px no-repeat !important; padding-left:15px; height:14px !important; line-height:11px !important; font-weight:bold; cursor:pointer;;}

.ms_popup .result_chk{padding-bottom:4px; color:#666666; font-size:11px; }
.ms_popup .result_chk .unchk{background:url(http://imgenuri.enuri.gscdn.com/images/home/ico.png) 0 -171px no-repeat !important; padding-left:17px; height:14px; line-height:12px; display:inline-block; cursor:pointer; padding-top:1px;}
.ms_popup .result_chk .chk{background:url(http://imgenuri.enuri.gscdn.com/images/home/ico.png) 0 -204px no-repeat !important; padding-left:17px; height:14px; line-height:12px; display:inline-block; cursor:pointer; padding-top:1px; font-weight:normal;}
.ms_popup .result_chk span input{-webkit-appearance:none; border:0; height:1px; width:1px; position:absolute; margin:-9999em;}

.ms_popup .pop_btnarea_img{text-align:center; padding-top:9px; }
.ms_popup .pop_btnarea_img img{margin:0 3px;}

.pop_btnarea{text-align:center; padding-top:9px;}
.pop_btnarea a{border:1px solid #d2d2d2; background:#ffffff; color:#343434; font-size:14px; display:block; padding:4px 0 7px; display:inline-block; width:98px; margin:0 3px;}
.pop_btnarea a.red{border:1px solid #ff2222; background:#ff5e5e; color:#ffffff; font-weight:bold; }

.order_end{text-align:center; color:#343434; font-size:18px; letter-spacing:-0.5px; padding:10px 0 30px;}
.order_end strong{font-size:24px;font-weight:normal; display:block; color:#343434;}
.order_end strong em{color:#2d9fe8; font-weight:bold; }

.orderend_txt{color:#666666; letter-spacing:-0.5px; padding-top:10px;}
.orderend_txt li{padding:0 0 5px 9px; background: url(http://imgenuri.enuri.gscdn.com/images/home/bul_sq_gray3.gif) no-repeat 0 7px;}
.orderend_txt li a{color:#4c4c4c; font-weight:bold;}

/*selectbox*/
.pop_select{position:relative; display:inline-block; }
.pop_select a.fix{text-align:center; height:18px;padding-top:4px;  cursor:pointer; width:100%; background: url(http://imgenuri.enuri.gscdn.com/images/home/bullet.gif) 97% -36px no-repeat; border: 1px solid #e3e3e3; border-radius: 2px; display:inline-block;}
.pop_select ul{display:none; width:100%; background: url(http://imgenuri.enuri.gscdn.com/images/home/ico_sub_dp.gif) 98% 8px no-repeat #ffffff;; position:absolute; left:0; top:0; border-radius: 2px; border: 1px solid #787878; }
.pop_select li{padding:4px 15px 0 0; text-align:right; height:18px;}
.pop_select.card li{text-align:left; text-indent:7px}


.buy_sel:after{content:""; display:block; clear:both; }
.buy_sel li{float:left; position:relative; letter-spacing:-1px; }
.buy_sel li a{overflow:hidden; color:#343434;width:46px;height:18px; display:block; border: 1px solid #e3e3e3; border-radius: 2px;  text-align:right; padding: 1px 24px 0 0; text-decoration:none; background:url(http://imgenuri.enuri.gscdn.com/images/home/bullet.gif) 97% -38px no-repeat;}
.buy_sel li .sub_dp{display:none; border-bottom:2px solid #dbdbdb; border-radius:2px; position:absolute; width:62px; left:0; top:0px; border:1px solid #787878; padding:0 2px 0 6px; z-index:101; background:#ffffff}
.buy_sel li .sub_dp span{text-align:right; display:block; background:url(http://imgenuri.enuri.gscdn.com/images/home/ico_sub_dp.gif) 98% 7px no-repeat; padding:1px 20px 3px 0; height:18px; }
.buy_sel li .sub_dp ul{max-height:190px; overflow:auto;}
.buy_sel li .sub_dp li{background:none; padding:0; width:100%; }
.buy_sel li .sub_dp li a{border:none; background:none; display:block;width:38px; padding-right:22px; margin:0; overflow:hidden; }
.buy_sel li .sub_dp li a:hover, .local_navi li .sub_dp li a.on:hover{background:#2d9fe8; color:#ffffff; text-decoration:none;}
.buy_sel li .dp4{color:#000000; border:1px solid #ffffff; border-radius:2px; font-weight:bold; display:inline-block; height:22px; letter-spacing:-0.5px;}
.buy_sel li .sub_dp li a.on{color:#2d9fe8; text-decoration:underline; background:#ffffff; }
.buy_sel li a div.sub{padding-left:10px; font-size:13px; position:relative;}
.buy_sel li a div.sub:after{position:absolute; left:-4px; top:0; content:"└"; }


/*구버전 레이어*/
.old_ver{position:absolute; left:50%; top:50%; width:458px; height:450px; margin:-225px auto 0 -229px; z-index:100001; color:#343434; }
.old_ver .boxly{padding:28px !important;}
.old_ver h5{font-size:20px; letter-spacing:-1px; padding:0 0 15px 26px; background: url(http://imgenuri.enuri.gscdn.com/images/home/ico_time.gif) 0 3px no-repeat; }
.old_ver .boxly .info{font-size:13px;}
.old_ver .boxly .info em{background:#feff38; color:#0071be; font-weight:bold;}
.old_ver .old_go{text-align:center; padding-top:30px;}
.old_ver .old_go a{width:152px; padding:2px 0 5px 0; border:1px solid #1689d3; background:#2d9fe8; font-size:18px; font-weight:bold; display:inline-block; text-align:center; color:#ffffff; border-radius:3px; }
.old_ver .close_area{background:#f5f5f5; height:29px; padding-top:6px; color:#666666; font-size:13px; position:absolute; left:0; bottom:0; width:100%; }
.old_ver .close_area label{margin-left:20px;}
.old_ver .close_area label input{vertical-align:-2px;}
.old_ver .close_area .btnClose{position:absolute; right:20px; top:6px;}
.info_dim{width: 100%; height:100%; position:fixed; left: 0; top: 0; background:url(http://imgenuri.enuri.gscdn.com/images/mobilenew/images/layer_back.png); z-index:100000;}


/* vip 모바일 특가 */
.type_layer .boxly .m_txt .mb_price {font-size:15px; color:#0073be; }
.type_layer .boxly .m_txt .mb_price strong {vertical-align:2px;}
.icon.dismobilepr {display:inline-block; width:36px; height:15px; margin-right:3px; text-indent: -9999em; background-image:url(http://imgenuri.enuri.gscdn.com/images/home/ico_mobile_price.gif)}




/*==========================================================================
20161116 miniVIP 개편
==========================================================================*/
#miniVIP_AREA {position:fixed; top:40px; right:50%; margin-right:-783px; width:287px; z-index:1000;}

 /* 공통 모바일 아이콘 */
.minivip_wrap .btn em, .minivip_wrap .icon em {overflow:hidden;position:absolute;left:-1000%;top:0;width:0;height:0;font-size:0;line-height:0;}
.minivip_wrap .icon.mobile {display:inline-block; width:8px; height:12px;  vertical-align:-2px; margin-right:2px; cursor:pointer; background-image:url(http://imgenuri.enuri.gscdn.com/images/home/ico_mobile.gif)}
.minivip_wrap .icon.mobile3 {display:inline-block; width:8px; height:12px; vertical-align:-2px; margin-right:2px; background-image:url(http://imgenuri.enuri.gscdn.com/images/home/ico_mobile3.gif)}
.minivip_wrap .btn_singo2 {display:inline-block; width:30px; height:15px; line-height:13px; text-align:center; font-size:11px; color:#666666; letter-spacing:-0.5px; border:1px solid #d2d2d2;background-color:#fff; /*z-index:1;*/}
.minivip_wrap .sponser {display:inline-block; width:12px; height:15px; background:url(http://imgenuri.enuri.gscdn.com/images/home/icon_pack_vip.png) no-repeat 0 -160px;}
.minivip_wrap .powerseller {display:inline-block; width:12px; height:15px; background:url(http://imgenuri.enuri.gscdn.com/images/home/icon_pack_vip.png) no-repeat 0 -180px;}


.minivip_wrap {position:relative; width:285px; margin-top:17px; border:1px solid #787878; background:#ffffff;}
.minivip_wrap .btn.closex {position:absolute; top:-17px; left:-1px; display:inline-block; width:18px; height:16px; background:url(http://imgenuri.enuri.gscdn.com/images/home/btn_closex.gif) no-repeat 0 0;}
.topprobox {position:fixed; z-index:100;} 
.infopro_area {position:relative; width:266px; height:103px; padding:9px 10px 10px 9px}
.infopro_area .thumb {position:relative; display:inline-block; width:98px; height:98px; border:1px solid #e2e2e2; cursor:pointer;}
.infopro_area .thumb img {width:98px; height:98px;}
.infopro_area .thumb .icon.sponser {position:absolute; left:1px; top:1px;}
.infopro_area .proinfo {position:absolute; top:8px; left:114px; width:161px; height:100px;}
.infopro_area .proinfo .fixbt_info {position:absolute; bottom:0;}
.infopro_area .proinfo .modelname {max-height:48px; padding-top:3px; font-size:13px; font-weight:bold; color:#181818; line-height:15px; overflow:hidden; cursor:pointer;}
.simitemlist .infopro_area .proinfo .modelname {font-weight:normal;}}
.infopro_area .proinfo .proname {max-height:30px;  overflow: hidden;}
.infopro_area .proinfo.siminfo .proname {max-height:55px;}
/* 
.infopro_area .proinfo .modelname {padding-top:3px;  cursor:pointer;}
.infopro_area .proinfo .proname {max-height:30px; font-size:13px; font-weight:bold; color:#181818; line-height:15px; overflow:hidden;} 
.infopro_area .proinfo.siminfo .proname {max-height:55px;}*/
.infopro_area .proinfo .subcon {height:17px; margin-top:3px; font-size:11px; color:#666666; font-weight:normal; letter-spacing:-0.5px;}
.infopro_area .proinfo .btn_singo2:hover {border:1px solid #666666;}
.infopro_area .proinfo .lineprice { font-size:12px;  line-height:1.1; margin-bottom:2px;}
.infopro_area .proinfo .lineprice .mobile {margin-right:4px;}
.infopro_area .proinfo .lineprice strong {font-family:Arial; font-size:16px;  vertical-align: -1px;}
.infopro_area .proinfo .lowprice * {color:#0073be;}
.infopro_area .proinfo .lowprice .low {font-weight:bold; }
.infopro_area .proinfo .nodata {margin-bottom:4px; font-size:12px; font-weight:bold; color:#999999;}
.topprobox .ad_banner {width:285px; height:29px;}

.mallprlist_area {margin-top:149px; overflow:hidden}
.mallprlist_area:after {content:""; display:block; clear:both; } 
.mallprlist_area .option_sel {padding:8px 0 7px; border-bottom:1px solid #cccccc;}
.mallprlist_area .option_sel ul {margin-left:10px;}
.mallprlist_area .option_sel ul:after {content:""; display:block; clear:both; } 
.mallprlist_area .option_sel > ul > li {float:left; margin-right:7px; font-size:12px; color:#666666; letter-spacing:-0.5px; cursor:pointer; padding-left:8px; background:url(http://imgenuri.enuri.gscdn.com/images/home/bul_sq_black.gif) 0 10px no-repeat;}
.mallprlist_area .option_sel > ul > li.on {font-weight:bold; color:#343434; padding-left:10px; background:url(http://imgenuri.enuri.gscdn.com/images/home/bul_chk_blue2.gif) 0 7px no-repeat;}

.scroll_area {width:330px; overflow-y:auto;}
.scroll_area .scr .proitemlist .itembox {}
.mallprlist_zone:after {content:""; display:block; clear:both; } 
.tb_pack {float:left; width:285px; height:auto; border-bottom:1px solid #cccccc; background:url(http://imgenuri.enuri.gscdn.com/images/home/bg_mallprlist.gif) 0 0 repeat-y;}
.tb_pack:after {content:""; display:block; clear:both; } 

.mallprlist_zone .fieldleft {float:left; width:142px;}
.mallprlist_zone .fieldright {float:right; width:142px;}
.mallprlist_zone .thead {height:34px; line-height:34px; text-align:center; font-size:13px; color:#3343434; letter-spacing:-0.5px; border-top:1px solid #cccccc; border-bottom:1px solid #cccccc; box-shadow: 0 2px 0 #f5f5f5;}
.proitemlist li {position:relative; height:60px; border-bottom:1px solid #f1f1f1;}
.proitemlist .itembox {padding:6px 6px 4px; line-height:1.1}
.proitemlist .mallinfo .mallname {font-size:11px; color:#343434; letter-spacing:-0.5px; }
.proitemlist .mallinfo .mallname strong {vertical-align: 3px;}
.proitemlist .sponser {margin-left:2px; }
.proitemlist .powerseller {margin-left:2px; }

.mallprlist_zone li.last {position:relative;}
.mallprlist_zone .btn_packtop {position:fixed; bottom:0; /*bottom:50%;*/ right:50%; margin-right:-770px; margin-bottom:50px;  /*margin-bottom:-298px;*/ display:block; width:35px; height:35px; text-indent:-9999em; line-height:9999px; z-index:50; box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1); background-image:url(http://imgenuri.enuri.gscdn.com/images/home/btn_topgo.png)}

.priceline {text-align:right; font-size:11px;}
.priceline  * {color:#181818;}
.pricelow * {color:#0073be; }
.shopbid * {color:#ff2222}
.priceline .pricepack {width:74px; height:16px; line-height:14px; padding:0 3px; display:inline-block; background:#fcfcfc; border:1px solid #e2e2e2; border-radius:2px; }
.priceline .pricepack strong {font-size:12px; vertical-align: -1px; letter-spacing:-0.25px;}
.itembox .prlow {margin-right:2px;}
.itembox .only {margin-right:2px; color:#999999;}
.itembox .delivery {margin-top:3px; text-align:right; }
.itembox .delivery a {color:#999999; font-size:11px; letter-spacing:-0.5px;}
.itembox  .pricegen {color:#181818;}
.itembox  .mallinfo .crcard {position:absolute; right:6px; top:7px; font-size:11px; color:#1aaba9;}
.itembox  .nomall {margin-top:10px; text-align:center; line-height:15px; font-size:11px; color:#999999; letter-spacing:-0.5px;}


.mallprlist_area .list_more {width:285px; height:28px; line-height:28px; overflow:hidden; display:block; text-align:center; border-bottom:1px solid #cccccc; background-color:#fcfcfc; box-shadow: 0 2px 0 #f5f5f5;}
.mallprlist_area .list_more .btn_more {font-size:13px; color:#111111; letter-spacing:-1px;padding-right:18px; background:url(http://imgenuri.enuri.gscdn.com/images/home/bul_arrow_down.png) 100% 8px no-repeat; }

.powerlink_zone {width:285px; padding-top:25px; padding-bottom:15px; padding:}
.powerlink_zone .top_power {position:relative; height:22px; text-align:left; padding:0 10px;}
.powerlink_zone .top_power .title {font-size:11px; color:#181818;}
.powerlink_zone .top_power em {display:inline-block; margin-left:2px; width:17px; height:11px; text-indent:-9999em; font-size:0; vertical-align:9px; background-image:url(http://imgenuri.enuri.gscdn.com//images/home/ico_ad.gif)}
.powerlink_zone .top_power .applyad {position:absolute; right:10px; top:0; font-size:11px; color:#666666; padding-right:7px; background:url(http://imgenuri.enuri.gscdn.com//images/home/bul_right_gray.gif) 100% 7px no-repeat;}


.power_list li {font-size:11px; line-height:1.1; padding:8px 10px 5px; background:url(http://imgenuri.enuri.gscdn.com//images/home/bg_dot_gray.gif) 0 100% repeat-x;}
.power_list .item {width:257px; height:14px; color:#181818; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.power_list .exp {width:257px; height:14px; color:#666666; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }
.power_list .url {color:#2e95d7;}



/* 유사상품 */
.infopro_area .siminfo .singoline .btn_singo2 {margin-left:3px;}
.infopro_area .siminfo .simcompair {padding:0 3px 1px 3px; line-height:1; letter-spacing:-0.5px; font-size:11px; color:#666666; border:1px solid #d2d2d2; z-index: 100;}

/* 툴팁 공통 */
.minivip_wrap .badge {position:relative; display:inline-block; width:11px; height:11px; line-height:13px; text-align:center; color:#c3c3c3; vertical-align: -1px; border:1px solid #e6e6e6;  border-radius:50%; cursor:pointer; z-index:10; background:#fff; *zoom:1}
.minivip_wrap .badge:hover {border:1px solid #666666; }
.minivip_wrap .badge .tooltip{display:none; position:absolute;  top:18px; left:-110px; z-index:20; width:240px; padding:16px 17px 20px; text-align:left;  background-color:#fff; border:1px solid #575c67;  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);}
.minivip_wrap .badge:hover .tooltip {display:block;*zoom:1; }
.minivip_wrap .tooltip .tit {font-size:12px; color:#006fd6; margin-bottom:3px; }
.minivip_wrap .tooltip .txt {font-size:12px; line-height:14px; color:#343434; letter-spacing:-0.02em; font-weight:normal;}
.minivip_wrap .tooltip .txt strong {letter-spacing: -0.05em;}

.tb_pack2 {width:285px; height:auto; border-bottom:1px solid #cccccc; }
.simitemlist li {border-bottom:1px solid #f5f5f5;}
.simitemlist li .infopro_area .proname {font-weight:normal;}
.simitemlist li .etcinfo {height:16px; overflow:hidden; font-size:11px; color:#999999; letter-spacing:-0.5px;}
.simitemlist li .etcinfo span {height:17px; margin-left:5px; padding-left:5px; background:url(http://imgenuri.enuri.gscdn.com//images/home/bul_bar_gray3.gif) 0 3px no-repeat;}
.simitemlist li .etcinfo span:first-child {padding-left:0; margin-left:0; background:0;}
.simitemlist li .crcard {font-size:11px; font-weight:bold; color:#1aaba9;}



.minivip_wrap .rental_zone {width:267px; padding:20px 9px 18px; border-bottom:1px solid #cccccc;}
.minivip_wrap .rental_zone .guide {padding:10px 9px; line-height:15px; font-size:11px; color:#999999; border:1px solid #e2e2e2; background:#fcfcfc;}
.minivip_wrap .rental_zone .tit_caution {margin-top:8px; font-size:14px; color:#666666; letter-spacing:-0.25px;}

.minivip_wrap .rental_zone .caution_list dl {margin-top:12px; font-size:12px; letter-spacing:-0.25px;}
.minivip_wrap .rental_zone .caution_list dl:first-child {margin-top:14px;}
.minivip_wrap .rental_zone .caution_list dt {color:#343434; font-weight:bold;}
.minivip_wrap .rental_zone .caution_list dd {color:#666666; line-height:16px;}
.minivip_wrap .rental_zone .cou_apply {margin-top:17px; text-align:center;}
.minivip_wrap .rental_zone .cou_apply .btn_applygo {display:inline-block; height:26px; line-height:24px; padding:0 7px; font-size:14px; font-weight:bold; letter-spacing:-0.5px; color:#fff; box-shadow: 0 2px 0 #f5f5f5; background-color:#2d9fe8; border:1px solid #1689d3; border-radius:5px;}


.nodata_zone {width:285px; padding: 25px 0 30px; border-bottom:1px solid #cccccc;}
.nodata_zone .exclamark {text-align:center; padding-top:85px; background:url(http://imgenuri.enuri.gscdn.com/images/home/exclamark2.gif) no-repeat 50% 0;}
.nodata_zone .exclamark .txt1 {font-size:14px; line-height:1.1; letter-spacing:-0.25px; color:#666666; }
.nodata_zone .exclamark .txt2 {font-size:11px; margin-top:3px; color:#999999;}


