@charset "utf-8";

/* enuri */
.headerArea{position:relative; width:970px; z-index:10002;}
.s_more{ z-index:10002 !important;}
.simple_h{position:absolute; left:0; top:29px}
.simple_h .enuriApp{background:url(http://imgenuri.enuri.gscdn.com/images/main/ico_down.gif) 0 7px no-repeat; padding-left:20px !important; }
.simple_h .enuriApp:hover{text-decoration:underline !important; }
.sp_header li a.benefit {padding-top:4px;} /* 20160203 쇼핑혜택존 추가 */
#header .sp_header li img {vertical-align:middle !important;} /* 20160212 쇼핑혜택존 영역 수정 */

.simple_h .spbox{border:2px solid #0182e8; width:442px; height:288px; z-index:10; background:#ffffff; position:relative; text-indent:-9999em; z-index:100;}
.simple_h .spbox .ly_close{position:absolute; right:0; top:0; text-indent:-9999em; width:10px; padding:7px 10px; z-index:10000; display:block; }
.simple_h .spbox .sp_tab{position:absolute; left:12px; top:10px; width:100% !important; text-align:left !important;}
.simple_h .spbox .sp_tab li {float:left; background:none !important; margin:0 !important;}
.simple_h .spbox .sp_tab li a{width:70px; height:37px; padding:0 !important; text-indent:-9999em; float:left;}
.simple_h .spbox .sp_tab li:first-child a{width:107px;}
.simple_h .spbox .sp_tab li:last-child a{width:85px;}

.simple_h .spbox .sp_enuri{background:url(http://imgenuri.enuri.gscdn.com/images/main/new_simpleheader.jpg) 0 0; height:288px; width:442px;}
.simple_h .spbox .sp_car{background:url(http://imgenuri.enuri.gscdn.com/images/main/new_simpleheader.jpg) 0 -304px; height:288px; width:442px;}
.simple_h .spbox .sp_hotdeal{background:url(http://imgenuri.enuri.gscdn.com/images/main/new_simpleheader.jpg) 0 -608px; height:288px; width:442px;}
.simple_h .spbox .sp_depart{background:url(http://imgenuri.enuri.gscdn.com/images/main/new_simpleheader.jpg) 0 -913px; height:288px; width:442px;}
.simple_h .spbox dl dd a{padding:0 !important; width:48px;height:48px; position:absolute; }
.simple_h .spbox dl dd a.goole{left:31px; top:199px;}
.simple_h .spbox dl dd a.apple{left:101px; top:199px;}
.simple_h .spbox dl dd input.mobile{border:0; background-color:transparent; position:absolute; left:174px; top:200px; padding:3px 5px; width:150px; background:url(http://imgenuri.enuri.gscdn.com/images/main/bg_input.gif) 2px 5px no-repeat;}
.simple_h .spbox dl dd input.focus{position:absolute; border:0; background-color:transparent;  left:174px; top:200px; padding:3px 5px; width:150px; background:none; }
.simple_h .spbox dl dd .send{position:absolute; left:346px; top:198px; width:69px; height:29px; background:url(http://imgenuri.enuri.gscdn.com/images/main/btn_send.gif) 0 0; border:none; cursor:pointer; }
.sp_depart .enuri_m{width:68px; height:20px; position:absolute; left:222px; top:133px; }

/* department */
.r_menu a.enuriApp{background:url(http://imgenuri.enuri.gscdn.com/images/main/ico_down.gif) 0 5px no-repeat !important; padding-left:20px !important; }
.r_menu a.enuriApp:hover{text-decoration:underline !important; }
#header .r_menu{position:relative !important; z-index:10000; width:352px}
#header .r_menu .sp_tab li{border-left:none !important;}
.depart .simple_h{top:30px !important}

/* deal */
.headerArea_s .category li{position:relative; }
.category li a.enuriApp{background:url(http://imgenuri.enuri.gscdn.com/images/main/ico_down.gif) 0 0px no-repeat !important; padding-left:20px !important; }
.category li a.enuriApp:hover{text-decoration:underline !important; }
.headerArea_s .simple_h .spbox .ly_close{width:30px; height:30px; padding:0 !important; }
.headerArea_s .simple_h{left:-235px !important; top:26px;}
.headerArea_s .spbox{width:326px; }
.headerArea_s .spbox .sp_enuri{width:326px; background:url(http://imgenuri.enuri.gscdn.com/images/main/img_simpleheader_s.jpg) 0 0; }
.headerArea_s .spbox .sp_car{width:326px; background:url(http://imgenuri.enuri.gscdn.com/images/main/img_simpleheader_s.jpg) 0 -304px;  }
.headerArea_s .spbox .sp_hotdeal{width:326px; background:url(http://imgenuri.enuri.gscdn.com/images/main/img_simpleheader_s.jpg) 0 -608px;  }


/* soho*/
.header_enuri .h_e_center{z-index:1000}
.soho .simple_h{top:24px !important}
#headerWrap{position:static !important;}


/*150805*/
.sp_header li span{display:inline-block; margin:-1px 0 0 5px; background:url(http://imgenuri.enuri.gscdn.com/images/main/event_tag.gif) 0 0 no-repeat; text-indent:-9999em; width:36px; height:13px; vertical-align:middle}
.sp_header li span{.margin-top:2px}
.sp_enuri .evt_bnr{width:224px; height:47px; position:absolute; left:115px; top:79px; background:url(http://imgenuri.enuri.gscdn.com/images/main/evt_img.gif) 0 0 no-repeat; padding-top:42px;}
.sp_enuri .evt_bnr a{display:block; position:absolute; left:0; top:42px; width:224px; height:47px; }


/*로그인*/
.type_layer{background:#fff;border:1px solid #575c67; box-shadow: 0px 1px 2px 0px #000; z-index:10;position:relative; letter-spacing:-0.5px; font-family:malgun gothic, "맑은고딕", verdana, sans-serif;font-size:12px;line-height:1.5}
.type_layer h4{background:#575c67; color:#ffffff; font-size:12px; height:25px; padding-top:5px; text-indent:10px}
.type_layer .close{width:14px; height:14px; position:absolute; right:7px; top:7px; background: url(http://imgenuri.enuri.gscdn.com/images/home/ico_stick.png) -117px -208px no-repeat; text-indent:-9999em;}
.dim_back{width:100%; height:100%; position:fixed; left:0; top:0; background: rgba(146,146,146,0.8); z-index:11}
.loginArea{width:376px; height:238px; position:absolute; left:50%; top:50%; margin:-119px auto 0 -188px; }
.loginArea fieldset{width:316px; margin:40px auto 0; position:relative; }
.loginArea fieldset p{width:206px; margin-bottom:4px; }
.loginArea fieldset .btn_login{letter-spacing:-1px; width:108px; height:54px; padding-top:20px; border:1px solid #d2d2d2; text-align:center; color:#171717; font-size:18px; box-shadow: 0px 2px 0px #f5f5f5; display:inline-block; position:absolute; right:0; top:0; color:#171717}
.loginArea fieldset .auto_login{padding-top:10px;}
.loginArea fieldset .auto_login span{color:#505050; font-size:13px; background:url(http://imgenuri.enuri.gscdn.com/images/home/ico.png) 0 0 no-repeat; padding-left:17px; height:14px; line-height:12px; display:inline-block; cursor:pointer; padding-top:1px;}
.loginArea fieldset .auto_login span input{-webkit-appearance:none; border:0; height:1px; width:1px; position:absolute; margin:-9999em;}
.loginArea fieldset .auto_login .unchk{background-position:0 -170px;}
.loginArea fieldset .auto_login .chk{background-position:0 -204px; }
.loginArea fieldset .auto_login .member{font-size:11px; color:#505050; padding-top:4px;}
.loginArea fieldset .auto_login .member a{color:#505050}
.loginArea fieldset .auto_login .member a.join{padding-right:7px; background:url(http://imgenuri.enuri.gscdn.com/images/home/login_bg.gif) right 4px no-repeat; margin-right:5px;}

.loginArea fieldset .seller{position:absolute; left:0; top:-25px; width:100%; }
.loginArea fieldset .seller span{color:#505050; background: url(http://imgenuri.enuri.gscdn.com/images/home/chk_radio.png) 0 0 no-repeat; padding-left:15px; height:14px; line-height:12px; display:inline-block; cursor:pointer; padding-top:1px; margin-right:25px;}
.loginArea fieldset .seller span input{-webkit-appearance:none; border:0; height:1px; width:1px; position:absolute; margin:-9999em;}
.loginArea fieldset .seller .unchk{background-position:0 1px;}
.loginArea fieldset .seller .chk{background-position:0 -29px; }
.loginArea fieldset .seller_img{display:block; width:318px; height:28px; background: url(http://imgenuri.enuri.gscdn.com/images/home/img_seller.gif) 0 0 no-repeat; position:absolute; left:0; bottom:-30px; text-indent:-9999em; }
.loginArea fieldset.pv_login{margin-top:60px; }

.loginArea fieldset input{border:1px solid #e2e2e2; width:191px; height:34px; line-height:34px; color:#505050; padding-left:7px; font-size:14px; letter-spacing:-1px; background-color:transparent; }
.loginArea fieldset .idarea{position:absolute; left:7px; top:8px;}
.loginArea fieldset .pwarea{position:absolute; left:7px; top:48px;}
.loginArea fieldset label{color:#999999; z-index:-1;}
.loginArea fieldset .id_field.on label, 
.loginArea fieldset .pw_field.on label{display:none;}
.loginArea fieldset input:focus{background:#ffffff; }

.loginArea fieldset .pw_txt{position:absolute; left:0; top:-45px; width:100%;}
.loginArea fieldset.pv_login .auto_login{padding-top:0;}