@charset "utf-8";

* {margin:0;padding:0;}
html,body{width:100%;height:100%;margin:0;padding:0;font-family:malgun gothic, "맑은고딕", verdana, sans-serif;font-size:12px;line-height:1.5}
ul, ol, li{list-style:none}
em{font-style:normal}

/*wing*/
.Leftwing, .Rightwing{letter-spacing:-0.5px; position:fixed; top:193px; z-index:100; }

/*좌측*/ 
.Leftwing{left: 50%; margin-left: -630px; width:130px; }
.wingbnr{margin-bottom:6px; overflow:hidden; }
.wingbnr img{float:left; }


/*스마트파인더*/ 
.smart_finder{border:1px solid #d0d0d0; background:#ffffff; box-shadow: 0px 2px 0px #f5f5f5;}
.smart_finder h4{color:#1689d3; font-weight:bold; border-bottom:1px solid #bfbfbf; text-align:center; padding:4px 0; line-height:14px; font-size:14px; }
.smart_finder .tab:after{clear:both; content:""; display:block;}
.smart_finder .tab li{color:#ffffff; float:left; font-weight:bold; width:50%; text-align:center; cursor:pointer; padding-top:7px; height:28px; background:url(http://imgenuri.enuri.gscdn.com/images/home/bg_wingtab.gif) 0 0 no-repeat;}
.smart_finder .tab li:first-child{background:url(http://imgenuri.enuri.gscdn.com/images/home/bg_wingtab.gif) right bottom no-repeat;}
.smart_finder .tab li.on{background:#ffffff; color:#333333;}
.smart_finder .finder_list{max-height:226px; overflow:auto; padding:3px 0; margin:0 2px }
.smart_finder .finder_list li{line-height:20px; text-indent:7px; cursor:pointer; color:#676767; height:20px; width:100%; overflow:hidden; white-space: nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; -ms-text-overflow:ellipsis; -moz-text-overflow:ellipsis;}
.smart_finder .finder_list li:hover{font-weight:bold; background:#e2e2e2; }
.smart_finder  .finder_list li.on{font-weight:bold; background:#2d9fe8; color:#ffffff; }
.smart_finder .finder_list li.all, .smart_finder .finder_list li.all:hover{border-bottom:1px dashed #f2f2f2; padding-bottom:3px; font-weight:bold; cursor:default; background:#ffffff; color:#676767}
.smart_finder  .finder_list li .rank.red{background:#ff5e5e !important; border:1px solid #f83c3c !important; }


/*핫키워드*/ 
#leftSearchIngiKeywrdDiv h4{padding:8px 0;}
#leftSearchIngiKeywrdDiv.smart_finder .finder_list li{text-indent:3px}
#leftSearchIngiKeywrdDiv.smart_finder .finder_list li .rank{text-indent:0; display:inline-block; width:13px; height:13px; color:#ffffff; border:1px solid #bfbfbf; background:#cccccc; text-align:center; font-size:11px; line-height:14px; margin-right:7px; font-family:tahoma;}
#leftSearchIngiKeywrdDiv.smart_finder .finder_list li:hover{background:none; text-decoration:underline; }
#leftSearchIngiKeywrdDiv.smart_finder .finder_list li:hover .rank{font-weight:normal;}
#leftSearchIngiKeywrdDiv .updateTime{color:#aaaaaa; border-top:1px dashed #f4f4f4; padding:4px 0; text-align:center; font-size:11px; }

.charge{display:block; background:url(http://imgenuri.enuri.gscdn.com/images/home/img_calculator.gif) 0 0 no-repeat; width:130px; height:57px; text-indent:-9999em; cursor:pointer; }

/*우측*/
.Rightwing{right: 50%; margin-right: -710px; }
.Rightwing .qna{display:block; border:1px solid #d2d2d2; padding-top:4px; height:26px; color:#343434; text-align:center; cursor:pointer; font-weight:bold; margin:10px 0; }
.Rightwing .floating_area{position:fixed; bottom:0; right: 50%; margin-right: -715px; width:210px; }
#LP_AREA  .floating_area{margin-right: -710px;}
.Rightwing.main_Leftwing{right: 50%; margin-right: -604px; width:100px;}

.myzone{border:2px solid #115078; background:#115078; border-radius:6px 6px 0 0; box-shadow: -3px 2px 3px 0px rgba(0, 0, 0, 0.3); width:94px}
.myzone .btn_appdown{margin:0 0 9px 9px; border:1px solid #047ac6; color:#ffffff; font-weight:bold; text-align:center; width:108px; height:25px; padding-top:3px; background:#1689d3; display:block; }
.myzone.zone_view .btn_appdown{margin-top:9px;}
.myzone .tab:after{clear:both; content:""; display:block;}

.myzone .tab li{float:left; border-left:1px solid #1c78b2; font-weight:bold; width:94px; text-align:center; color:#ffffff; cursor:pointer; padding-top:4px; height:24px;}
.myzone .tab li:first-child{border-left:none; width:95px; }
.myzone .tab li:last-child{display:none; }
.myzone .tab li em{color:#8acaf2; padding-left:2px; vertical-align:-1px }

.myzone .fold_btn{cursor:pointer; text-indent:-9999em;  font-weight:bold; display:block; background:url(http://imgenuri.enuri.gscdn.com/images/home/ico_wing.gif) 52% 12px no-repeat #115078; height:26px; text-align:center; padding-top:4px; display:none;  }
.myzone .recent_thum{display:none;}
.myzone.zone_view .fold_btn, .myzone.zone_view .recent_thum, .myzone.zone_view .tab li:last-child{display:block; }

.myzone.zone_view{width:206px}
.myzone.zone_view .tab{padding:0;}
.myzone.zone_view .tab li{padding:10px 0 0 0; height:28px; float:left; border-left:none;font-weight:bold; width:103px; text-align:center; color:#ffffff; cursor:pointer; }
.myzone.zone_view .tab li:first-child{border-right:none; border-left:none; text-align:center; }

.myzone.zone_view .tab li.on{background:url(http://imgenuri.enuri.gscdn.com/images/home/bg_right_tab.png) left top no-repeat; color:#115078; }
.myzone .tab li:first-child em, .myzone.zone_view .tab li:first-child em{color:#ffffff; background:#ff5e5e; border:1px solid #f83c3c; display:inline-block; border-radius:10px; padding:0 4px 0 3px; line-height:11px; height:11px; margin-left:2px; vertical-align:-1px }

.recent_thum{background:#ffffff; }
.recent_thum .thum_list{width:190px; margin:0 auto; padding-top:20px}
.recent_thum .thum_list:after{clear:both; content:""; display:block;}
.recent_thum .thum_list li{width:174px; height:74px; padding:14px 7px 0; border:1px solid #ffffff; border-bottom:1px solid #eeeeee; z-index:10; position:relative; cursor:pointer; color:#343434;}
.recent_thum .thum_list li:hover{border:1px solid #787878; }
.recent_thum .thum_list li:hover .del{display:block; }
.recent_thum .thum_list li img{width:58px; height:58px; border:1px solid #e2e2e2; float:left; margin-right:5px;}
.recent_thum .thum_list li .unchk{z-index:11; position:absolute; left:7px; top:14px; background:url(http://imgenuri.enuri.gscdn.com/images/home/ico.png) 0 -171px no-repeat !important; padding-left:17px; height:16px !important; line-height:12px; display:inline-block; cursor:pointer; padding-top:1px; }
.recent_thum .thum_list li .unchk em{display:none; }
.recent_thum .thum_list li .chk em{display:block; border:1px solid #1689d3; color:#1689d3; background:#ffffff; line-height:16px; width:63px; text-align:center; position:absolute; left:13px; top:2px; padding-bottom:2px;}
.recent_thum .thum_list li .unchk input, .chk input{-webkit-appearance:none; border:0; height:1px; width:1px; position:absolute; margin:-9999em;}
.recent_thum .thum_list li .chk{z-index:11;position:absolute; left:7px; top:12px; background:url(http://imgenuri.enuri.gscdn.com/images/home/ico.png) 0 -204px no-repeat; padding-left:17px; height:13px; line-height:12px; display:inline-block; cursor:pointer; padding-top:1px; font-weight:bold; }
.recent_thum .thum_list li .del{display:none; z-index:11; width:18px; height:18px; position:absolute; right:-18px; top:-1px; background:url(http://imgenuri.enuri.gscdn.com/images/home/ico_wing.gif) 0 -28px no-repeat ; text-indent:-9999em; cursor:pointer}
.thum_list li strong{font-weight:normal; color:#666666; display:block; height:35px; overflow:hidden; line-height:16px; padding-top:3px}
.thum_list li .price{color:#2e95d7; }
.thum_list li .price .m_price{display:inline-block; width:8px; background: url(http://imgenuri.enuri.gscdn.com/images/home/ico_stick.png) no-repeat -97px -22px; text-indent:-999em; cursor:pointer; text-align:left; margin-left:0 !important; }

.recent_thum .page{font-family:tahoma; text-align:center; width:80px; color:#999999; position:relative; letter-spacing:4px; margin:10px auto 0; }
.recent_thum .page b{color:#333333; }
.recent_thum .page span{width:14px; height:13px; position:absolute; top:3px; text-indent:-9999em; background:url(http://imgenuri.enuri.gscdn.com/images/home/ico_wing.gif) 0 0 no-repeat; cursor:pointer;}
.recent_thum .page span.prev{background-position:0 -62px; left:0; }
.recent_thum .page span.prev:hover{background-position:0 -81px; left:0; }
.recent_thum .page span.next{background-position:-18px -62px; right:0;}
.recent_thum .page span.next:hover{background-position:-18px -81px; right:0;}
.recent_thum .all_view{text-align:center; display:block; padding:3px 0 15px 0; text-decoration:underline; color:#999999}
.recent_thum .no_msg{text-align:center; color:#999999; padding-top:150px; height:294px; }

.fixedarea{position:fixed; right:15px; bottom:50px; z-index:100}
.fixedarea li{margin-top:5px; background:#ffffff}
.fixedarea li a{width:47px; padding-top:9px; height:39px; border:1px solid #d5d5d5; box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1); text-align:center; display:block; color:#666666; line-height:14px; text-decoration:none;}
.fixedarea li a:hover{border:1px solid #ff2222; background:#ff5e5e; color:#ffffff}
.fixedarea li.top a{background:url(http://imgenuri.enuri.gscdn.com/images/home/wing_gotop.png) center 11px no-repeat; text-indent:-9999em; }
.fixedarea li.top a:hover{border:1px solid #787878; background:url(http://imgenuri.enuri.gscdn.com/images/home/wing_gotop.png) center -52px no-repeat; }

#header{margin-bottom:13px;}


/*찜 체크박스 영역*/
#main_body .recent_thum .thum_list li .chk{top:14px; }
#main_body .recent_thum .thum_list li .chk em{top:0;}

#LP_AREA .recent_thum .thum_list li .chk, #VIP_AREA .recent_thum .thum_list li .chk{top:12px; }
#LP_AREA .recent_thum .thum_list li .chk em, #VIP_AREA .recent_thum .thum_list li .chk em{top:2px; }

