/*
 Theme Name:   total-child
 Theme URI:    http://www.hawaii.edu/total-child/
 Description:  Total Child Theme
 Author:       Media Productions
 Author URI:   http://www.hawaii.edu
 Template:     Total
 Version:      1.0.0
 License:      
 License URI:  
 Tags:         light, responsive-layout, accessibility-ready, multisite
 Text Domain:  total-child
*/

/*parent style sheet and other style css are equeue-d in childtheme functions.php
 #907139 is the darker gold color used for the type on this site */

/*------------------------------------------------------------------
[Browser Reset] focus tab accessibility
-------------------------------------------------------------------*/
a:focus {outline:#5B9DD9 solid 2px !important;}

body {
	font-family:Open Sans, sans-serif !important;
}
p, ul, ol, li ul li {
	font-size:1.25em;
}
ul ol li ul li, ul ul li ul li, ol li ul li, ul li ul li, ol li ol li, 
.faq-arrow-left ul ul li, .faq-arrow-left ul li ul li {
	font-size:81%;
}
ul li ul li, .faq-arrow-left ul ul li, .faq-arrow-left ul li ul li {
	list-style-type: circle;
}
ol.I {
	list-style-type: upper-roman;
}
ol.i {
	list-style-type: lower-roman;
	font-size:100%;
	}
ol.a {
	list-style-type: lower-alpha;
}

h1.page-header-title {
	font-weight:600;
	font-size:2em;
}
div.page-subheading {
	font-size:1.55em;
	color:#444444;
}
/*subhead for category/archive page--in description field*/
div.page-subheading p {
	font-size:0.9em;
}
h2 {
	font-size:1.6em;
}
h3 {
	font-size:1.4em;
}
h4 {
	font-size:1.3em;
	font-weight:600 !important;
}
h1, h2, h3, h4, h5, h6 {
    color: #000;
    margin-bottom: 18px;
}
h2 a, h3 a {
	color:#003ebc;
	text-decoration:none !important;
}
h2 a:hover, h3 a:hover, p a:hover, .site-breadcrumbs a:hover, ul li a:hover {
	color:#907139 !important;
	text-decoration:underline !important;
}
.breadcrumb-trail {
	font-size:1.2em;
}
div#wnb-bar {
	border-bottom:none !important;
	display:block;
}
#wnb-bar span {
	color:#ffffff;
	font-size: 1.12em;
	margin-top:12px;
	margin-bottom:9px;
}
#wnb-bar a .wnb-bar-button{
	padding:3px;
	font-weight:500;
	border:2px solid #fff;
	font-size: 1.0em;
	color:#000000;
}
/*------------------------------------------------------------------
top-bar with icons */
#top-bar {
    padding: 6px 0;
}
.top-bar-menu {
    line-height:2.3em;
	font-size:1.17em;
}
@media (min-width:766px) {
	#social-icons-fa {
		float:right !important;
	}
} 
#social-icons-fa i.fa:hover {
	color:#f0d695 !important;
	}
	
/*-----------------------------------------------------------------
responsive tables */
.ourtable {
  border: 1px solid rgba(144,113,57,0.7);
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  font-size:1.1em;
}
.ourtable tr {
  background: #fff;
  border-top: 1px solid rgba(144,113,57,0.5);
  padding: .35em;
}
.ourtable th,
.ourtable td {
  padding: .625em;
  text-align: left;
}
.ourtable th {
  font-weight:700;
  background-color:#f3f3f3
}
@media screen and (max-width: 600px) {
  .ourtable {
    border: 0;
  }
  .ourtable thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  .ourtable tr {
    border-bottom: 3px solid rgba(144,113,57,0.5);
    display: block;
    margin-bottom: .625em;
  }
  .ourtable td {
    border-bottom: 1px solid rgba(144,113,57,0.5);
    display: block;
    text-align: right;
  }
  .ourtable td:before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
  }
  .ourtable td:last-child {
    border-bottom: 0;
  }
}
.table-responsive .faq-arrow-left h3.vc_custom_heading {
	margin-bottom:-24px !important;
	display:inline-block;
}
.table-responsive .faq-arrow-left div.vc_toggle_content {
	padding-left:0;
}
/* --------------------------------------------
H2 at top of the page*/
h2.top-most {
	margin-top:0;
}
.small-caps, .small-text, .small {
	font-size:0.8em;
}
.hanging-indent p {
	padding-left: 75px;
  	text-indent:-75px;
  	margin:0;
}
span.indent {
	padding-left:30px;
}
	
#wp-calendar tfoot td, #wp-calendar thead th,
#wp-calendar tbody td {
    line-height: 2.2em;
    font-size: 1.4em; 
}
#wp-calendar thead th {
	color:#444444;
}
#wp-calendar caption {
	font-size: 1.5em; 
}
.calendar-sidebar h4, .calendar-sidebar h3 {
	color:#907139;
	margin-bottom:9px;
}
.calendar-days .hanging-indent h3 {
	border-bottom: 1px #907139;
	border-style: solid;
	padding-bottom:6px;
}
/* --------------------------------------------
Last modified date at bottom of page*/
.last-modified-date {
	margin-bottom:6px;
	float:right;
	font-size:0.9em;
}
/* --------------------------------------------
top bar social icons 
Customizer did not work for hover so placed it here
div#top-bar-social .wpex-social-btn span.fa:hover {
	color:#f0d695 !important;
}*/
/* ---------------------------------------------
caption text for photos */
.wp-caption p.wp-caption-text {
    text-align: left;
}
.wp-caption {
	border:none;
	padding-left:0;
	padding-right:0;
	padding-top:0;
}

/* --------------------------------------------
major menu on homepage  */

.sf-menu {
	padding-top:9px;
	float:right;
	font-size:1.15em;
}
.sf-menu a span.link-inner:last-child {
	padding-right:0 !important;
}
#site-navigation .dropdown-menu .menu-item span.link-inner {
	color:#000000;   
}
/*top three items in major menu*/
#site-navigation .dropdown-menu .menu-item span.link-inner span:hover,
#site-navigation .dropdown-menu .menu-item span.link-inner:hover {
	color:#886a32 !important;
	text-decoration: underline;
}
#site-navigation .dropdown-menu .menu-item .nav-no-click span:hover, 
#site-navigation .dropdown-menu .menu-item .nav-no-click span.link-inner:hover {
    text-decoration: none !important;
}
#site-navigation .dropdown-menu li .nav-no-click :hover {
    text-decoration: none !important;
}
.megamenu.col-4.hide-headings.system {
	margin-right:8px !important;
}
#menu-item-2043 a.sf-with-ul span.link-inner  {
	padding-right:0 !important;
}
.megamenu.col-4.menu-item.menu-item-type-custom.menu-item-object-custom span.link-inner {
	padding-right:0;
}
#site-navigation .dropdown-menu ul li {
	padding-left:6px;
	padding-right:15px;
	margin-bottom:-1px !important;
	font-size:82%;
}
#site-navigation .dropdown-menu ul {
	border-top:none;
	border-bottom:1px solid #b3995d !important;
	border-left:1px solid #b3995d !important;
	border-right:1px solid #b3995d !important;
	box-shadow: 0px 30px 30px 0px rgba(0,0,0,0.2);
}
#site-navigation-wrap {
	margin-top:-12px;
}
li.sub-row.last-child.menu-item.menu-item-type-custom.menu-item-object-custom {
	padding-bottom:10px !important;
}
#site-navigation li.megamenu ul.sub-menu {
	padding-bottom:30px !important;
}
#site-navigation ul.sub-menu {
	top:66px !important;
	padding-bottom:20px !important;
	padding-top:10px;
}
#site-navigation .megamenu ul.sub-menu {
	top:75px !important;
}
li.megamenu.col-3 ul.sub-menu {
	width: 780px !important;
	margin-left:0 !important;
	left:-185px !important;
}
li.megamenu.col-2 ul.sub-menu {
	width: 500px !important;
	margin-left:0 !important;
	left:95px !important;
}
li.megamenu.col-4 ul.sub-menu {
	width: 915px !important; 
	left:-320px !important;
	margin-left:0 !important;
}
/* -------------------------------------------- 
adjusted navbar scroll-collapsed 
After putting in search, shrunk navbar was 10px larger so adjusted height. 
*/
header#site-header.header-one.fixed-scroll.clr {
	height:127px;
}
/* --------------------------------------------
third-level in mega menu */
li.third-level.menu-item.menu-item-type-custom.menu-item-object-custom a {
	padding-left:24px !important;
	padding-top:6px !important;
}
/*menu-item-has-children.dropdown a {
	border-bottom:none !important;}*/
li.menu-item.third-level a::before {
	display:none !important;
}
/* --------------------------------------------
top menu blocks on post and pages in navbar template builder*/
#top-menu-blocks a.vcex-navbar-link.theme-button  {
	color:#444444 !important;
	font-size:1.0em;
	border-color:#003ebc;
}
#top-menu-blocks a.vcex-navbar-link.theme-button:hover {
	border-color:#907139 !important;
	background-color:#ffffff;
	color:#907139 !important;
}
/* --------------------------------------------
mobile menu toggle */
.mobile-toggle-nav #menu-item-53.col-1.no-show .sf-with-ul,
.mobile-toggle-nav #menu-item-59.col-2.no-show .sf-with-ul,
.mobile-toggle-nav #menu-item-68.col-3.no-show .sf-with-ul,
.mobile-toggle-nav #menu-item-92.col-1.no-show .sf-with-ul,
.mobile-toggle-nav #menu-item-93.col-2.no-show .sf-with-ul,
.mobile-toggle-nav #menu-item-140.col-3.no-show .sf-with-ul,
.mobile-toggle-nav #menu-item-99.col-1.no-show .sf-with-ul,
.mobile-toggle-nav #menu-item-100.col-2.no-show .sf-with-ul,
.mobile-toggle-nav #menu-item-101.col-3.no-show .sf-with-ul,
.mobile-toggle-nav #menu-item-102.col-4.no-show .sf-with-ul {
	display:none;
}
.mobile-toggle-nav #menu-item-55 .sf-with-ul,
.mobile-toggle-nav #menu-item-60 .sf-with-ul,
.mobile-toggle-nav #menu-item-106 .sf-with-ul,
.mobile-toggle-nav #menu-item-123 .sf-with-ul,
.mobile-toggle-nav #menu-item-135 .sf-with-ul {
	display:block !important;
	width:100% !important;
}
.mobile-toggle-nav #menu-item-95 a,
.mobile-toggle-nav #menu-item-96 a,
.mobile-toggle-nav #menu-item-97 a {
	padding-left:40px;
}
.mobile-toggle-nav #menu-item-98 a span.link-inner {
	padding-left:0;
}
.mobile-toggle-nav li#menu-item-56,
.mobile-toggle-nav li#menu-item-57,
.mobile-toggle-nav li#menu-item-58,
.mobile-toggle-nav li#menu-item-61,
.mobile-toggle-nav li#menu-item-62,
.mobile-toggle-nav li#menu-item-63,
.mobile-toggle-nav li#menu-item-64,
.mobile-toggle-nav li#menu-item-65,
.mobile-toggle-nav li#menu-item-66,
.mobile-toggle-nav li#menu-item-67,
.mobile-toggle-nav li#menu-item-107,
.mobile-toggle-nav li#menu-item-108,
.mobile-toggle-nav li#menu-item-109,
.mobile-toggle-nav li#menu-item-128,
.mobile-toggle-nav li#menu-item-136,
.mobile-toggle-nav li#menu-item-137 {
	padding-left:0 !important;
}
.mobile-toggle-nav a {
    border-color: rgba(153, 122, 65, 0.3) !important;
}
.mobile-toggle-nav li.third-level.menu-item.menu-item-type-custom.menu-item-object-custom a {
	padding-top:10px !important;
}
.mobile-toggle-nav ul.sub-menu,
.mobile-toggle-nav li.megamenu.col-2 ul.sub-menu,
.mobile-toggle-nav li.megamenu.col-3 ul.sub-menu,
.mobile-toggle-nav li.megamenu.col-4 ul.sub-menu {
	width:100% !important;
}
.mobile-toggle-nav-search .fa {
	font-size:1.5em;
	color:#ffffff;
	line-height:1.8em;
	vertical-align:middle;
}
/*----mobile toggle button---------------------
*/
.wpex-mobile-toggle-menu-icon_buttons_under_logo #mobile-menu {
	padding:0;
	z-index:1;
	float:none;
}
#mobile-menu a {
	height: 26px;
    width: 80px;
    line-height: 1.3em;
	border: none;
	background:#fff;
	font-size:1.2em;
}
	
/* --------------------------------------------
 search box */
form.my-custom-searchform {
	display:inline-block;
	width: 250px;
	overflow: hidden;
	top:-18px;
	float:right;
	position:relative;
	left:63%
	}
button.searchform-submit {
    color: #000000;
    background: none;
    float:right;
    padding:0 37px 3px 0;
    font-size:1.35em !important;
}
button.searchform-submit:hover {
	color:#b3995d;
	background:none;
}
input[type="search"] {
	padding:3px 3px 3px 6px !important;
	border-radius: 3px;
	font-family: 'Open Sans';
	font-size:0.95em;
	text-align:left;
	width:190px;
	border: 1px solid rgba(153, 122, 65, 0.4);
	color:#444444;
}
/* --------------------------------------------
 bullets for slider */
 
.hesperiden .tp-bullet:hover, .hesperiden .tp-bullet.selected {
    background: rgba(153, 122, 65, 0.5);
}
.hesperiden .tp-bullet {
	width: 7px;
    height: 7px;
}
/* sidebar navigation -------------------------
*/
#sidebar .widget_nav_menu ul:first-child  {
    border-top: 1px solid #b3995d !important;
}
#sidebar .widget_nav_menu ul > li:first-child > a {
    border-top: 1px solid #ffffff !important;
}
/*---------------------------------------
sidebar-nav*/
.sidebar-box .widget-title {
    font-size: 1.125em !important;
}
#sidebar-inner .sidebar-box.widget_nav_menu.clr a {
	color:#444444;
}
#sidebar-inner .sidebar-box.widget_nav_menu.clr a:hover {
	color:#907139;
	text-decoration:underline !important;
}
/*little triangle in sidebar-nav*/
#sidebar .widget_nav_menu .parent > a:after {
	color:#907139;
}
/*removed arrow from last menu item to hide it.
Menu is a bit quirky as the last sub-menu would show so one has 
to put in an extra menu-item and sub-menu both titled, &nbsp; 
with no url and css class: nav-no-click */
#sidebar .widget_nav_menu ul > li:last-child > a:after {
    display:none;
}

/* sidebar for pages and posts menus no borders
*/
#sidebar .widget_nav_menu a {
	padding: 6px 2px;
    border:none;
}
#sidebar .widget_nav_menu ul ul li a {
	padding-left:0;
    margin-left: 12px;
	font-size:95%;
}
#sidebar .widget_nav_menu .current_page_item > .sub-menu,
#sidebar .widget_nav_menu .current-menu-item > .sub-menu {
	 display: none !important; 
	 }
#sidebar .widget_nav_menu .sub-menu li a:before {
	display:none !important;
}
#sidebar .widget_nav_menu ul > li:first-child > a,
#sidebar .widget_nav_menu a:hover, 
#sidebar .widget_nav_menu a,
#sidebar .widget_nav_menu li.active > a {
    background: none !important;
}
.sidebar-box {
	padding-bottom:0;
}
/* --------------------------------------------
 body */
 
body {
    font-family: 'Open Sans', sans-serif;
	color:#444444;
}
abbr[title] {
  border-bottom: none !important;
  cursor: inherit !important;
  text-decoration: none !important;
}
strong {
	color:#000000;
	font-weight:600;
}
a strong {
	color:#003ebc !important;
}
/* --------------------------------------------
 phrases on homepage below slider */
 
.homepage-phrase {
	padding-top:10px;
}
.homepage-phrase h2 {
	margin-bottom:8px;
	margin-top:10px;
	text-align:center;
	font-weight:600;
	font-size:1.6em;
    color: #444444 !important;
    text-decoration: underline;
}
.homepage-phrase h2 a:hover {
	color:#907139 !important;
	text-decoration:underline !important;
}
.homepage-phrase p {
	color: #907139; 
	text-align: center; 
	font-size: 1.6em;
	padding-bottom:20px !important;
}
/* --------------------------------------------
headings */
h1, h2, h3, h4, h5, h6 {
    color: #000;
    margin-bottom: 18px;
}

/* --------------------------------------------
news storys background on front page*/

.news-row-gray   {
	background-color:#f3f3f3 !important;
	padding-bottom:20px;
	padding-top:10px !important;
}

/* --------------------------------------------
 homepage headers with underline */
 
.homepage-news-header-gray {
	background-color:#f3f3f3;
	padding-top:10px;
	padding-bottom: 4px;
}
.homepage-campus-header h2,
.homepage-news-header h2 {
	color:#000000;
	background-color:none !important;
	border-bottom:1px solid #b3995d !important;
	padding-bottom:3px;
	margin-top:30px;
}
#homepage-subhead-underline .wpex-vc-column-wrapper,
.homepage-subhead-underline .wpex-vc-column-wrapper,
.our-ten-campuses-header .wpex-vc-column-wrapper {
	margin-bottom:25px !important;
	padding-top:30px;
}
/* --------------------------------------------
 NEW 2 columns of UH News stories --*/
 
.homepage-video div.vc_element.vc_vc_video {
	padding-top:0;
}
.homepage-news-story a h3 {
	 color: #003ebc !important;
	 margin-top:25px;
}
.homepage-news-story a h3:hover {
	color: #907139 !important;
	text-decoration:underline;
}
a:-webkit-any-link {
    text-decoration: none;
}
/* --------------------------------------------
NEW 3rd col with rss feed from News posts--*/
.office-pages-rss ul,
.homepage-rss-3 ul,
.pages-rss ul {
	margin-left:9px;
}
.office-pages-rss li,
.homepage-rss-3 li,
.pages-rss li {
	list-style:none !important;
}
.office-pages-rss li a,
.homepage-rss-3 li a,
.pages-rss li a {
	color:#003ebc !important;
}
.homepage-rss-3 li a:hover {
	color: #907139 !important;
	text-decoration:underline !important;
}
.office-pages-rss li::before,
.homepage-rss-3 li::before,
.pages-rss li::before {
	content: "\203A \0020";
	font-size: 130%;
	margin-left:-0.4em!important;
	margin-bottom:-1.3em;	
	color:#003ebc !important;
}
.homepage-rss-3 h3.widget-title img {
	display:none;
}
.homepage-rss-3 h3.widget-title a.rsswidget {
	display:none;
}
.homepage-rss-3 h2.wpb_heading.wpb_widgetised_column_heading,
.homepage-rss-3 h3.widget-title {
	margin:-5px 0 9px 0;
	color:#000000;
	font-size: 1.2em;
	font-weight: 600;
}
/*.homepage-rss-3 li:nth-child(1),
.homepage-rss-3 li:nth-child(2) {
	display:none;
}
*/
.sidebar-box.widget_rss.clr {
	padding-bottom:10px !important;
}
.sidebar-box.noaa_weather.clr {
	padding-bottom:5px !important;
}
/* --------------------------------------------
campus picture links on front page */
#campus-row .wpex-row .col {
    margin: 0 0 20px;
}
/* --------------------------------------------
weather widget in post list */
#noaa-weather p.{font-family:inherit !important;}
#noaa-weather p.noaa_loc {text-align: left !important;}
#noaa-weather p.noaa_update {display:none}
#noaa-weather p.noaa_link {display: none;}
#noaa-weather p.noaa_current {font-size:1.12em !important; line-height:1.3em !important; font-weight: normal !important; text-align: left !important; margin:3px 0 6px 0 !important}
#noaa-weather p.noaa_temp {font-size:1.12em !important; line-height:1.4em !important; font-weight: normal !important;}
#noaa-weather p.noaa_wind {font-size:1.12em !important; line-height:1.4em !important; font-weight: normal !important;}
#noaa-weather p.noaa_humidity {font-size:1.12em !important; line-height:1.4em !important; font-weight: normal !important;}
#noaa-weather p.noaa_current span {normal !important; text-align: left !important;}
#noaa-weather p.noaa_temp span {font-weight: normal !important;}
#noaa-weather p.noaa_wind span {font-weight: normal !important;}
#noaa-weather p.noaa_humidity span {font-weight: normal !important;}
#noaa-weather p.noaa_windchill {display:none;}
#noaa-weather p.noaa_dewpoint {display:none;}
#noaa-weather p.noaa_heatindex {display: none;}
#noaa-weather p.noaa_forecast {margin: 0 20px 0 0 !important; text-align: left !important;}
#noaa-weather p.noaa_forecast a:hover {font-size:0.9em !important; text-decoration:underline !important; color: #907139;}
#noaa-weather p.noaa_forecast a {font-size:0.9em; text-decoration: none; color:#003ebc;}
#noaa-weather p.noaa_icon {float: left; margin: 0 14px -7px 0 !important;border:none !important;}
#noaa-weather p.noaa_icon img {border: none !important; margin-left: 0 !important; padding: 4px 0 0 0 !important;}

/* three photos: research, hawaiian, and sustainability */
/*#three-subject-photos.background-gray {
	background-color:#f3f3f3 !important;
	padding-top:63px;
}
*/
#three-subject-photos {
	margin-bottom:80px;
	margin-top: 10px;
}
#three-subject-photos a:hover {
	color:#f0d695;
}
#three-subject-photos a {
	font-size:1.2em;
	color:#ffffff;
	font-weight:600;
}
#three-subject-photos a:focus {
	z-index:1;
	display:block;
	position:relative;
	border:#5B9DD9 solid 2px !important;
}
/* --------------------------------------------
widget title in footer */
.footer-widget h3.widget-title { 
	margin: 0 0 10px; 
	}
.footer-widget {
	padding-bottom:30px;
}
.site-footer li {
	font-size:87%;
}
/* --------------------------------------------
Topnav in footer */
#topnav-footer-right i.fa {
	letter-spacing:0.35em;
	font-size:1.5em;	
	color:#ffffff;
	line-height:33px;
}
#topnav-footer-right i.fa:hover {
	color:#f0d695;
}
#copyright.clr {
    float:left;
    margin-right:-93px;
	padding-bottom:40px;
}
#policies.middle {
   padding-top:0;
   font-size: 1.05em;
   line-height: 1.6em;
   padding-right:30px;
}
#topnav-footer-left {
	float:right;
	font-size: 0.95em;
	postion:relative;
	position:relative;
	z-index:1;
}
#topnav-footer-right {
	margin-right:65px;
	margin-left:86px;
	font-size: 1.1em;
	float:right;
	position:relative;
	z-index:1;
}
#topnav-footer-right a {
	padding-right:6px;
}
/*--------------------------------------
Subtitles for pages*/
.clr.page-subheading {
	color:#444444;
}
/*A-Z page --------------------------------------
system offices toggle*/

#offices-a-z i.vc_toggle_icon {
    position:absolute;
    left:1%;
    top:40%;
    height:12px;
    width:9px;
}
#offices-a-z div.vc_toggle_title h4 {
	padding-left:32px;
	text-align:left;
	display:inline-block;
	margin-bottom:0;
	margin-top:0;
}
#offices-a-z div.vc_toggle_title h4:hover {
	text-decoration:underline;
	color:#907139;
}
#offices-a-z div.vc_toggle_title {
	padding:10px;
	background-color:#f3f3f3;
}
#offices-a-z div.vc_toggle_content {
	padding-left:28px;
	padding-top:18px;
}
/* content inside toggle to two columns */
@media (min-width: 601px) {
	#offices-a-z .offices-a-z-toggle-content .right-column {
		top:-50px;
		left:50% !important;
		width:45% !important; 
		position:relative !important;
		display:inline !important;
		}
	#offices-a-z .offices-a-z-toggle-content .right-column-higher {
		top:-82px;
		left:50% !important;
		width:45% !important; 
		position:relative !important;
		display:inline !important;
	}	
	#offices-a-z .offices-a-z-toggle-content .right-column p {
		width:45% !important;
		word-wrap:break-word !important;
		margin-bottom:75px !important;
		}
		#offices-a-z .offices-a-z-toggle-content .right-column-higher p {
		width:45% !important;
		word-wrap:break-word !important;
		margin-bottom:80px !important;
		}
	#offices-a-z .offices-a-z-toggle-content .left-column {
		width:45% !important;
		margin-bottom:-120px !important;
		}
}

#offices-a-z .vc_toggle_icon::before {
    border-color: #003ebc;
}
#offices-a-z .vc_toggle_icon::after {
	border-color:#907139;
}
#offices-a-z div.vc_toggle_content a {
	color:#003ebc;
}
#offices-a-z div.vc_toggle_content a:hover {
	text-decoration:underline;
	color:#907139;
}
.offices-a-z-toggle-content-147,
.offices-a-z-toggle-content {
	margin-bottom:1px;
}
 
/*--------------------------------------------
pages- inset gray box*/
.page-gray-box {
	padding:20px;
	background-color:#f3f3f3;
}
.page-gray-box h2, .page-gray-box h3, .page-gray-box h4 {
	margin-top:0;
}
.page-gray-box-toggle {
	padding:0 20px 20px 20px;
	background-color:#f3f3f3;
	margin-bottom:0;
}
.page-gray-box-toggle i.vc_toggle_icon {
    height:6px;
    width:6px;
	float: left;
    margin: 3px 9px 3px -2px !important;
}
/*--------------------------------------------
leadership page*/
.leadership-pics figcaption {
	font-size:1.0em; /*caption*/
	margin-bottom:0;
	text-align:left;
}
.leadership-pics figcaption a {
	color:#003ebc;
}
.leadership-pics figcaption a:hover {
	color: #907139;
	text-decoration:underline !important;
}
.leadership-pics img {
	float:left;
	margin-bottom:0.15em;
	margin-right:1.2em;
}
.anchor-tag {
	margin-top:-80px;
}
/*---------------------------------------
Leadership bios*/
.download-link {
	margin-top:-10px;
	font-size:0.9em;
}
.leadership-contact-info {
	padding-top:20px !important;
}
.leadership-bios {
	padding-left:11px;
	padding-bottom:30px;
}
/*------------------------------------
FAQs single and two column*/

.faq-titles {
	padding-top:6px;
	padding-left:33px;
	margin-bottom:-14px !important;
	font-weight:600;
	color:#000000;
}
.scholarships .faq-arrow-left i.vc_toggle_icon,
.h2-spacing .faq-arrow-left i.vc_toggle_icon,
.h3-spacing .faq-arrow-left i.vc_toggle_icon,
.h4-spacing .faq-arrow-left i.vc_toggle_icon {
    position:absolute;
    left:1%;
    top:10%;
    height:12px;
    width:9px;
}
.h4-spacing .faq-arrow-left h2.vc_custom_heading,
.h4-spacing .faq-arrow-left h3.vc_custom_heading,
.h2-spacing .faq-arrow-left h2.vc_custom_heading,
.h3-spacing .faq-arrow-left h3.vc_custom_heading,
.h4-spacing .faq-arrow-left h4.vc_custom_heading,
.scholarships .faq-arrow-left h3.vc_custom_heading {
	padding-top:0;
	padding-left:28px;
	margin-bottom:-24px !important;
	display:inline-block;
}
.h2-spacing .faq-arrow-left p:first-child,
.h3-spacing .faq-arrow-left p:first-child,
.h4-spacing .faq-arrow-left p:first-child,
.scholarships .faq-arrow-left p:first-child,
.faq-text p  {
	padding-top:12px;
} 
.faq-arrow-left div.vc_toggle_content {
	padding-left:28px;
}

/* History page ---------------------*/
.wpb_single_image_caption {
    background: rgba(0, 0, 0, 0.7) !important;
   bottom: 0 !important;
   color: #fff !important;
   opacity:1.0 !important;
}
/*--------------------------------------
Search Filter Box plugin */
.searchandfilter .sf-field-category li,
.searchandfilter .sf-field-post-meta-_year_ li {
	padding-top:0;
}
.searchandfilter input.sf-input-text {
	width:260px !important;
	margin-top:-12px;
	font-size:0.9em;
	color:#444444;
}
/* GovRel testimony list style */
.govrel-testimony-list li {
	padding-bottom: 12px;
	list-style-type: none;
	margin-left:6px;
	text-indent:-24px;
}
/*govrel testimony post add ons */
.govrel-testimony-add-on {
	padding-bottom:36px;
	border-bottom:1px solid #907139;
}
/* GovRel results page */
#search-filter-results-4828 p:first-of-type,
#search-filter-results-4828 small {
	display:none !important;
}

/* Post--------------------------------------------*/
li#menu-item-583 /*do not delete, need for posts without sidebars*/ {
	display:none !important;
}
ul.meta.clr.meta-with-title li.meta-category,
.single-post li.meta-category {
	display:none;
}
.single-post li.meta-date {
	font-size:1.2em;
	color:#444;
}
.single-post li a {
	indent-left:0;
}
.category-side-custom-menu {
	border: #ddd solid 1px;
	padding:15px 20px;
}
.blog-entry-readmore  {
	display:none;
}
.blog-entry  {
	border-bottom: solid 1px rgba(144,113,57,0.8) !important;
}
li.cat-item {
	border-bottom: 0 !important;
	border-top: solid 1px rgba(144,113,57,0.6) !important;
}
#sidebar-inner .widget_categories h3.widget-title {
	font-size:1.25em !important;
	margin-bottom:9px !important;
	color:#444;
	font-weight:500;
}
.blog-entry ul.meta, .blog-entry ul.meta li a  {
	color:#444;
	font-size:1.05em;
}
*/----------------------------------------*/

@media (min-width: 767px) {
	.faq-arrow-left .right-column {
		top:-6px;
		left:55%;
		width:45%;
		position:relative;
		display:inline;
		margin-bottom:0;
		}
		.faq-arrow-left .right-column-hilo {
		top:-153px;
		left:55%;
		width:45%;
		position:relative;
		display:inline;
		}
	.faq-arrow-left p .right-column p {
		width:45%;
		}
	.faq-arrow-left .left-column {
		width:45%;
		margin-bottom:-190px;
		}
		.faq-arrow-left .left-column-hilo {
		width:45%;
		margin-bottom:-70px;
		}
}
/* Collegiate Licensing-----------------------
*/
#collegiate-logos .vc_column-inner.wpex-clr {
	padding-left:0;
	margin-top:30px;
}
.faq-arrow-left i.vc_toggle_icon {
    float: left;
    padding-right:10px;
	padding-bottom:20px;
    margin:3px 9px 3px -2px !important;
}
.second-li-indent {
	margin-left:1.3em;
}
li.ul-li-no-dot {
	list-style: none;
	margin-left:-1.2em;
	margin-top:6px;
}
/* Past Presidents -----------------------
*/
.past-presidents h2 {
	margin-top:0;
}
/* Campus Pages -----------------------
*/
@media only screen and (min-width: 768px) {
.campus-centered-text {
	width:70%;
	margin: auto;
	text-align:center;
	font-size:1.25em;
	line-height:2.15em;
}
.campus-centered-text-left {
	width:70%;
	margin: auto;
	text-align:left;
}
.campus-centered-text-left h2 {
	color: #000000;
    background-color: none !important;
    border-bottom: 1px solid #b3995d !important;
    padding-bottom: 0;
}
.campus-round-chart.vc_chart .vc_chart-legend {
    	text-indent:-1.8em;
    	padding-left:2em;
    }
}
.wpb_single_image .vc_figure-caption, 
#campus-image .wpb_single_image .vc_figure-caption,
.campus-image .wpb_single_image .vc_figure-caption  {
	line-height:1.5em;
	font-size:1.05em !important;
}
.photo-caption p  {
	line-height:1.5em;
	font-size:1.05em !important;
	padding-top:4px;
}
.map-text-equivalent p {
	line-height:1.5em;
	font-size:1.05em !important;
	padding-top:4px;
}
.campus-page-text h3:first-child {
	margin-top:0;
}
.office-pages-rss h2 {
	font-size:1.4em;
	margin-bottom:12px;
}
.office-pages-rss h2 a:link:last-child,
.news-widget-title h2 a:link:last-child, 
.pages-rss h2 a:link:last-child,
.campus-news-widget-title h2 a:link:last-child {
	pointer-events: none;
	cursor: default;
	color:#000000 !important;
}
.campus-news-widget-title li::before,
.news-widget-title li::before {
	content: "\203A \0020";
	font-size: 130%;
	color:#003ebc !important;
}
.news-widget-title li,
.campus-news-widget-title li  {
	text-indent:-0.7em;
	margin-left:0.9em;
}
.campus-news-widget-title h2 {
	margin-top:24px;
}
.news-widget-title h2 {
	font-size:1.4em;
	margin-bottom:12px;
}
.campus-page-news {
	background-color:#f3f3f3;
	padding-top:30px;
	padding-bottom:30px;
}
.homepage-campus-header .contact-info {
	margin-bottom:-20px;
	margin-top:50px;
}
#campus-page-charts h2 {
	margin-top:-30px !important;
	font-size:1.35em;
}
#campus-page-charts {
	margin-bottom:30px;
}
.campus-featured-video {
	padding-top:34px
}
/*--------------------------------------------
budget and finance page */
.financial-reports p {
	margin-bottom:3px;
}
.financial-reports ul {
	margin-bottom:6px;
}

.officepage-leadership-photo {
	margin-top:5px;
	margin-right:-20px;
}
/*--------------------------------------------
Title 3 section*/
.title3-contact-caption {
	text-align:center;
	font-size:1.01em;
}
.no-top-margin-h2 {
	margin-top:-20px;
	}
.gold h3 {
	color:#907139 !important;
}
/*---MENU SIDEBAR----------------------------
wordpress custom menu for right sidebar*/
.right-custom-menu .widget_nav_menu ul li
  {
	margin-left:20px !important;
	line-height:1.8em;
}
/*posts --------------------------------------*/
.post-pagination a {
    color: #555555;
}
/*--------------------------------------------
footer*/
.footer-widget.widget_wpgmp_google_map_widget_class.clr {
	padding-bottom:9px !important; 
	}
/*footer category page and single post----remove breadcrumbs, callout and footer widget*/
.single-post span.breadcrumb-trail, 
.single-post footer#footer.site-footer,
.single-post div#footer-callout-wrap.clr, 
.category span.breadcrumb-trail,
.category footer#footer.site-footer,
.category div#footer-callout-wrap.clr {
	display:none;
}
/*category to 75% of full-width*/
.category #blog-entries.entries {
	width:75%;
}
@media only screen and (max-width: 920px) {
	.category #blog-entries.entries {
	width:100%;
	}
}
/*--------------------------------------------
Search and Filter search results */
.search-entry-text {
	font-size:1.2em;
}
.search-entry-text p {
	font-size:100% !important;
}

/* Media queries--------------------------------------*/


/*---footer--*/
@media only screen and (max-width: 1098px) {
	#policies.middle {
		text-align:left;
		margin-top:125px !important;
	}
	#topnav-footer-right i.fa {
		text-align:left;
		padding-left:0;
	}
	#copyright.clr {
		position:absolute
	}
	.leadership-bios {
		padding-left:0; /*padding for body text taken out*/
		padding-bottom:0;
	}
}
@media only screen and (max-width: 1084px) {
	#footer-bottom.clr {
		height: 430px;
		padding-top: 0;
	}
	#policies.middle {
		text-align:left;
		margin-top:255px !important;
	}
	#topnav-footer-right {
		float:right;
		margin-right:50px;
	}
	#topnav-footer-left {
		float:left;
		margin-right:15px;
	}
	#copyright.clr {
		margin-top:130px;
		margin-bottom:50px;
	}	
}
@media only screen and (max-width: 1000px){
	.wpex-mobile-toggle-menu-icon_buttons_under_logo #site-header #site-logo img {
    	margin-top: -5px !important;
	}
	#site-header-inner {
    	padding-top: 25px;
    	padding-bottom: 40px;
	}
}
@media only screen and (max-width: 767px) {
	ul#menu-very-top.top-bar-menu {
    	position: inherit;
    	margin-left: auto;
   		margin-right: auto;
    	float: none !important;
    	width:315px;
	}
	#top-bar {
    padding: 9px 0 !important;
	}
	#topnav-footer-right, 
	#topnav-footer-left {
		text-align: left !important;
	}	
	.site-breadcrumbs {
			position: inherit; 
			top: auto; 
			left: auto; 
			right: auto; 
			margin-top: 0;
			display:block !important;
	}
	.no-top-margin-h2 {
		margin-top:20px;
	}
	#copyright {
		text-align:-webkit-left;
	}
}
@media screen and (max-width:600px) { 
/*header image switch to smaller stacked seal and nameplate*/
	 #site-header #site-logo img { 
		display: block !important;
    	-moz-box-sizing: border-box !important;
		box-sizing: border-box !important;
    	background: url('/wp/wp-content/uploads/2016/06/seal-name-stacked@2x.png') no-repeat !important;
    	width: 285px !important;
    	height: 67px !important;
    	padding-left:285px !important;
		margin:0 auto;
		background-size:100% !important;
	}
	#site-header-inner {
    	padding-top: 20px;
    	padding-bottom: 33px;
	}
}
@media only screen and (max-width: 557px) {	
	#copyright.clr {
		margin-top:198px; /*footer--nameplate*/
	}
	#policies.middle {
		margin-top:320px !important;
	}
	#footer-bottom.clr {
		height: 490px;
		padding-top: 0;
	}
	#topnav-footer-right {
		float:left;
		margin-top:122px;
		margin-left:0;
	}
	#topnav-footer-left {
		float:left !important;
		margin-top:0;
		margin-left:-210px;
	}
}
@media only screen and (max-width: 500px) {	
	.footer-box.col.col-3 {
		padding-bottom:5px 
		}
	.footer-box.col.col-3 p {
		width:330px !important;
	}
	#map1.wpgmp_map  {
		width:auto !important;
	}
}
