a:link, a:visited, a:hover{color:#000000;}
a:hover{text-decoration:underline;color:#ac2850;}
.top_menu_ads2{float:left;width:603px;border:1px solid #E8E8E8;padding:3px;margin:25px 0 12px -8px;}
ul,ol{list-style:none}
h1,h2,h3,h4,h5,h6,pre,code{font-size:1em;}
ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input{margin:0;padding:0;border:none;}
address{font-style:normal}
body{margin:0px;padding:0px;font-family:"Segoe UI",Arial;font-size:12px;line-height:20px;background:url(images/bg.jpg) no-repeat center top #3496b0;}
#body{margin:0 auto;width:980px;position:relative;-webkit-text-size-adjust: none;}
.text p {font-size:11px;font-family:Verdana;width:600px;margin-left:10px;}
:focus,:active{outline:0;}
img{border:0;}
form{margin:0;padding:0;}
h1{width:580px;float:left;font-size:15px;margin:5px 0 15px 0;color:#004658;text-shadow:1px 1px 2px #a2c8d2;text-transform:uppercase;letter-spacing:1px;padding-left:5px;}
h2{font-size:14px;color:#0258a8;float:left;width:270px;margin-top:20px;}
#header{width:950px;padding:0 0 0 18px;margin:0px;}
@font-face {font-family: League-Gothic;src: url("League-Gothic.otf") format("opentype");}
.side-header{font-size:21px;color:#bf3760;padding:0 0 10px 0;font-family: "League-Gothic", Segoe UI,Arial;text-transform:uppercase;}
.container{width:980px;padding:5px 0 0 0;}
.container_right{width:970px;}
.container_right_ie{display:none;}
.container_inside{width:970px;margin:0 5px;padding:0px;}
.content_background{float:left;width:958px;padding:5px 0 0 12px;background-color:#fff;margin-top:-5px;}
.content_top_ads{height:25px;}
.top-ads{margin:-10px 0 0 0;}
.bsads{padding-left:15px}
.newsletter{float:left;background-color:#C42857;background-image:url("images/newsletter_back.jpg");padding:10px 8px 10px 10px;border-top:1px solid #9d1b42;border-bottom:1px solid #9d1b42;width:224px !important;width:154px;height:68px}
.newsletter p{color:white;margin-top:6px;font-size:15px;}
.newsletter1{margin-left:0px;float:left;background-color:#C42857;background-image:url("images/newsletter_back.jpg");padding:10px 8px 10px 10px;border-top:1px solid #9d1b42;border-bottom:1px solid #9d1b42;width:224px !important;width:154px;height:68px}
.newsletter1 p{color:white;margin-top:6px;font-size:15px;}
.facebook{background-color:#aaa;margin-left:0px;float:left;padding:10px 8px 10px 10px;width:224px !important;width:154px;height:70px}
.spacer{padding:15px 0 0 8px;}
#left_container{float:left;width:157px;height:auto;padding:0 10px 0px 3px;}
#right_container{float:left;width:152px;height:auto;margin-left:5px;}
.left_panel_top{width:152px;padding:0px;float:left;background:url(images/panel_top_bg.gif) no-repeat center top;margin-bottom:-13px;}
.left_panel_bottom{width:152px;height:14px;float:left;padding:0px;background:url(images/panel_bottom_bg.gif) no-repeat center;background-position:0px 0px;}
.left-panel{float:left;width:152px;background:url(images/panel_repeat.gif) repeat-y center;font-size:13px;letter-spacing:1px;line-height:21px;}
.right-panel{float:left;width:152px;padding:0px;background:url(images/panel_repeat.gif) repeat-y center;font-size:13px;letter-spacing:1px;line-height:21px;}
.left-panel a:link, .left-panel a:visited, .right-panel a:link, .right-panel a:visited{text-decoration:none;background:url(images/bullet.gif) no-repeat left;padding:0 0 0 15px;}
ul.side-panel-statistic li{color:#000;}
.left-panel a:hover, .right-panel a:hover{text-decoration:underline;}
.content{float:left;width:620px !important;width:608px;padding-bottom:7px;}
.content-text{float:left;width:590px !important;width:588px;}
.wall_bg_big{width:305px;height:234px;margin-top:-8px;float:left;position:relative;background:url(images/wall_bg_big.gif) no-repeat center;}
.thumb_box{width:207px;height:180px;float:left;position:relative;background:url(images/wall_bg.gif) no-repeat center;}
ul.wallpapers{clear:both;float:left;width:624px;margin-bottom:-10px;padding-left:3px;}
ul.wallpapers li.wall{width:287px;height:206px;display:block;float:left;margin:-5px 24px 5px 0;}
ul.wallpapers li.wall a{text-decoration:none;}
.thumb_img{width:270px;height:169px;margin:-7px 0 0 13px;}
.thumbbg{width:300px;height:200px;float:left;position::relative;background:url(images/shadowBG.png) no-repeat center;}
.thumbbg1{float:left;margin:0 0 5px 45px;position::relative;}
.thumbbg1 img{border:1px solid #CCC;padding:5px;-webkit-box-shadow: 0px 0px 17px rgba(45, 45, 45, 0.68);-moz-box-shadow: 0px 0px 17px rgba(45, 45, 45, 0.68);box-shadow: 0px 0px 17px rgba(45, 45, 45, 0.68);}
.small{width:126px;}
.input-text-small{width:126px;color:#444444;padding:2px;border:1px #bcd6dd solid;}
.input-text, .input-textarea{color:#444444;padding:2px;width:300px;}
.input-textarea{height:31px;}
.input-text-short{color:#444444;padding:2px;width:250px;}
.input-other{color:#444444;padding:2px;width:357px;}
.button{background-color:#cc549b;color:#fff;font-size:14px;}
.pagination{clear:both;display:block;text-align:center;margin:0 auto;width:570px;padding:12px 12px 12px 0;background-color:#fff;color:#313031;}
.pagination a{transition: all 0.3s ease;-webkit-transition: all 0.3s ease;-moz-transition: all 0.3s ease;-o-transition: all 0.3s ease;color:#000;background:#ffe6f5;text-decoration:none;padding:8px 7px;margin:0 3px 0 3px;border:1px solid #FFCFE9;border-radius:7px;}
.pagination a:hover, .pagination a:active{color:#ffffff;border:1px solid #B84882;background-color:#ca1a75;}
.pagination span.selected{padding:8px 7px;margin:0 3px 0 3px;font-weight:bold;color:#ffffff;border:1px solid #B84882;background-color:#ca1a75;border-radius:7px;}
.pagination span.disabled{padding:8px 7px;margin:0 3px 0 3px;border:1px solid #bbbbbb;color:#bbbbbb;border-radius:7px;}
.logo{margin:0px;padding:20px 0 20px 5px;line-height:0;display:block;}
.wallpaper-thumb{display:block;float:left;}
.wallpaper-separator{float:left;width:5px;height:207px;border-right:1px solid #eee;margin-left:1px;}
.wallpaper-ads-right{line-height:28px;color:#4E4E4E;margin-left:50px;width:85%;}
.wallpaper-resolutions {-webkit-text-size-adjust: 100%;padding:5px 0 5px 10px;;width:590px;color:#868686;margin:10px 0 10px 5px;line-height:28px;border-radius:4px;-moz-border-radius:4px;-khtml-border-radius:4px;-webkit-border-radius:4px;border-width:1px 1px 1px 5px;border-style:solid; border-color:#DDD;background:#FBFBFB;}
.wallpaper-resolutions span{display:block;float:left;clear:left;letter-spacing:0.8px;color:#544C4E;}
.wallpaper-resolutions a, .wallpaper-resolutions a:visited{margin-left:10px;text-decoration:none;font-weight:bold;color:#545454;}
.wallpaper-resolutions a:hover{background-color:#ac2850;color:#FFFFFF;text-decoration:none;}
.wallpaper-2ads{clear:both;}
.wallpaper-2ads-separator{float:left;width:590px;height:0px;border-top:1px solid #eee;margin-top:5px;margin-bottom:10px;}
.sIFR-replaced{z-index:0;}
.reset{clear:both;height:0;line-height:0px;font-size:1px;}
.side-panel, .side-panel-search, .side-panel-login{margin-bottom:14px;}
#ie_background{display:none;}
.rss{float:left;margin:6px 7px 0 0;}
.rss-back{width:16px;height:16px;float:left;margin:6px 7px 0 0;}
.rss-image{background:url("images/rss.png");width:18px;height:18px;cursor:pointer;display:block;float:left;}
.title-image1{background:url("images/related.png") no-repeat 0 0;width:22px;height:22px;margin:6px 7px 0 0;display:block;float:left;}
.bottom_ads{text-align:center;background-color:#3e3f3b;}
#footer{width:970px;height:158px;color:#6f6f6f;padding:0px;background:url(images/footer_bg.jpg) no-repeat center;line-height:55px;font-size:13px;}
#footer a{text-decoration:none;color:#3f3f3f;}
.categories ul li{padding-left:10px;}
.categories a.selected{color:#cd0079;font-weight:bold;}
form ul li{margin:4px 0;clear:both;}
form label{width:150px;display:block;float:left;}
.label-author{width:auto;float:none;display:inline;}
.top-menu-ads{background:#FFFFFF;float:right;margin:5px 25px 5px 0px;width:918px;padding:2px;border:1px solid #cccccc;}
.menu-ads {margin:10px 0 10px 0;width:600px;text-align:center;}
.mytable{width:100%;}
.mytable td{border-top:1px solid #A1C5E5;border-left:1px solid #A1C5E5;text-align:center;padding:5px;line-height:normal;}
#selectAuthor, #createAuthor{float:left;width:500px;}
option.categorySub{font-size:11px;display:block;}
.attention{background:url(images/attention.png) no-repeat 0 0;width:8px;height:24px;display:inline;margin-left:10px;}
.icon-space{margin-left:5px;}
.row_odd{background-color:#F1F1F1;}
a.button{display:block;float:left;background-color:#E5ECF4;border:1px solid #3496b1;text-decoration:none;font-weight:bold;color:#3496b1;cursor:pointer;padding:2px 5px;}
a.button:hover,a.button.selected{transition: all 0.5s ease;-webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;-o-transition: all 0.5s ease;color:#FFFFFF;background-color:#3496b1;border:1px solid #E5ECF4;}
.button img{margin:0 3px -3px 0 !important;padding:0;border:none;width:16px;height:16px;}
.data{width:550px;}
.data th{text-align:left;background-color:#E8E8E8;}
.sortable .row_odd{background-color:transparent;}
.sortable tr td{border-bottom:1px solid #ccc;}
.themes_input{float:left;width:94px;margin-bottom:3px;margin-right:10px;}
.themes_example{float:left;width:20px;height:20px;border:1px solid #000000;}
.views{float:left;width:16px;height:16px;}
.thumb{}
.thumb a{display:block;padding:2px;margin-bottom:2px;position:relative;z-index:1;}
.thumb p{color:#6c6c6c;letter-spacing:1px;text-align:center;position:relative;opacity:0;transition:all 0.5s ease;-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;-o-transition:all 0.5s ease;}
.thumb a:hover p{opacity:1;margin-bottom:5px;}
.thumb em{background:none;color:#fff;font-style:normal;font-size:13px;font-family:arial;letter-spacing:1px;position:absolute;top:35px;left:15px;display:none;padding:0 3px;transition: all 0.5s ease;-webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;-o-transition: all 0.5s ease;}
.thumb a em{margin-left:5px;display:block;opacity:0;}
.thumb a:hover em{background:#000;display:block;opacity:0.7;margin-left:15px;display:block;}
.mini-tags span{float:right;width:27px;height:10px;display:block;margin-left:5px;}
.mini-tags{position:absolute;right:5px;bottom:5px;}
.tag-author{background:url("images/tag-author.png") no-repeat 0 0;}
.tag-hd{background:url("images/tag-hd.png") no-repeat 0 0;}
.tag-wide{background:url("images/tag-wide.png") no-repeat 0 0;}
.tool-tip{color:#fff;width:139px;z-index:13000;}
.tool-title{font-weight:bold;font-size:12px;margin:0 !important;color:#9FD4FF;padding:4px 4px 0 4px;background:url("images/bubble.png") top left;}
.tool-text{font-size:12px;padding:0 4px 4px 4px;background:url("images/bubble.png") bottom right;}
.categoryList li.wall{height:auto !important;}

.block295px{width:327px;height:250px;margin-right:3px;display:block;float:left;border:1px solid #CCC;margin-top:5px;margin-bottom:3px;}
.block250px{width:250px;height:250px;margin-right:3px;display:block;float:left;border:1px solid #CCC;margin-top:5px;margin-bottom:3px;}
.block590px{width:590px;margin-right:3px;display:block;float:left;border:1px solid #CCC;margin-top:5px;}
.block295px h1, .block590px h1{background-color:#f7e9f2;display:block !important;width:317px;padding:2px 5px;margin-top:0;}
.block295px .block_data, .block590px .block_data{margin:0 5px;}
.block590px h1{width:580px;}
.modules{border:1px solid #ccc;border-bottom:0 !important;}
.full{width:98%;}
.half{width:48%;}
.modules li{display:block;clear:both;border-bottom:1px solid #ccc;}
.modules li.odd{background-color:#F1F1F0;}
.modules li:hover{background-color:#dddddd;}
.modules .title{float:left;display:block;padding:2px 5px;}
.modules .actions{float:right;display:block;padding:2px 5px;}
ol.modules li{list-style:decimal;display:block;list-style-position:outside;}
#notifyBox{position:fixed;top:0;left:0;width:100%;opacity:0.9;padding:0.3em 0.5em;background-color:#F1F1F0;border-bottom:1px solid #ccc;z-index:20000;}
.drawerDown{background:url(images/small_arrow_down.png) no-repeat 0 0;width:5px;height:3px;cursor:pointer;position:absolute;bottom:-4px;left:50%;}
.drawerRight{background:url(images/small_arrow_right.png) no-repeat 0 0;width:3px;height:5px;cursor:pointer;position:absolute;right:-3px;top:50%;}
.tipsClass{padding:0.3em;background-color:#F1F1F0;border:1px solid #ccc;z-index:19999;border-radius:5px;}
#notices{padding:2px;margin-bottom:5px;}
.auto-input{width:auto;margin:0 4px;}
.inline{display:inline;width:auto;float:none;}
fieldset{border:1px solid #ccc;margin-right:1em;padding:5px 10px;}
fieldset legend{font-size:1em;}
.addFileInput{margin-top:5px;}
.fieldError{display:inline;color:#990000;font-weight:bold;}
ul.holder{margin:0;border:1px solid #999;overflow:hidden;height:auto !important;height:1%;padding:4px 5px 0;}
*:first-child+html ul.holder{padding-bottom:2px;}
* html ul.holder{padding-bottom:2px;}
ul.holder li{float:left;clear:none !important;list-style-type:none;margin:0 5px 4px 0;}
ul.holder li.bit-box, ul.holder li.bit-input input{font:11px "Lucida Grande", "Verdana";}
ul.holder li.bit-box a {font:12px "Segoe UI", "Verdana";text-decoration:none;}
ul.holder li.bit-box{margin-top:4px;border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;border:1px solid #CAD8F3;background:#FDF6FB;padding:1px 5px 1px 5px;}
ul.holder li.bit-box-focus{border-color:#598BEC;background:#598BEC;color:#fff;}
ul.holder li.bit-input input{float:left !important;display:inline !important;width:150px;margin:0;border:none;outline:0;padding:3px 0 2px;}
ul.holder li.bit-input input.smallinput{width:20px;}
form ol{font:11px "Lucida Grande", "Verdana";margin:0;padding:0;}
form ol li.input-text{margin-bottom:10px;list-style-type:none;border-bottom:1px dotted #999;padding-bottom:10px;}
form ol li.input-text label{font-weight:bold;cursor:pointer;display:block;font-size:13px;margin-bottom:10px;}
form ol li.input-text input{width:500px;padding:5px 5px 6px;font:11px "Lucida Grande", "Verdana";border:1px solid #999;}
form ul.holder{width:400px;}
ul.holder li.bit-hover{background:#BBCEF1;border:1px solid #6D95E0;}
ul.holder li.bit-box-focus{border-color:#598BEC;background:#598BEC;color:#fff;}
ul.holder li.bit-box a.closebutton{position:absolute;right:4px;top:5px;display:block;width:7px;height:7px;font-size:1px;background:url('images/close.gif');}
ul.holder li.bit-box a.closebutton:hover{background-position:7px;}
ul.holder li.bit-box-focus a.closebutton, ul.holder li.bit-box-focus a.closebutton:hover{background-position:bottom;}
#category-list ul.holder li.bit-box{padding-right:15px;position:relative;}
#category-auto{display:none;position:absolute;width:412px;background:#eee;z-index:1000;}
#category-auto .default{padding:5px 7px;border:1px solid #ccc;border-width:0 1px 1px;}
#category-auto ul{display:none;margin:0;padding:0;}
#category-auto ul li{padding:5px 12px;margin:0;list-style-type:none;border:1px solid #ccc;border-width:0 1px 1px;font:11px "Lucida Grande", "Verdana";}
#category-auto ul li em{font-weight:bold;font-style:normal;background:#ccc;}
#category-auto ul li.auto-focus{background:#4173CC;color:#fff;}
#category-auto ul li.auto-focus em{background:none;}
#tags-list ul.holder li.bit-box{padding-right:15px;position:relative;}
#tags-auto{display:none;position:absolute;width:412px;background:#eee;z-index:1000;}
#tags-auto .default{padding:5px 7px;border:1px solid #ccc;border-width:0 1px 1px;}
#tags-auto ul{display:none;margin:0;padding:0;}
#tags-auto ul li{padding:5px 12px;margin:0;list-style-type:none;border:1px solid #ccc;border-width:0 1px 1px;font:11px "Lucida Grande", "Verdana";}
#tags-auto ul li em{font-weight:bold;font-style:normal;background:#ccc;}
#tags-auto ul li.auto-focus{background:#4173CC;color:#fff;}
#tags-auto ul li.auto-focus em{background:none;}
#demo ul.holder li.bit-input input{padding:2px 0 1px;border:1px solid #999;}
#add a{color:#666;}
#add-test{width:100px;padding:2px;}
.add-box{clear:both;margin-bottom:0.5em;}
ul.tags{border:0;float:left !important;display:inline !important;}
.disabled{border:1px solid #990000;opacity:0.4;color:#990000;}
.warning{color:#990000;font-weight:bold;}
li.wall{font-size:12px;font-weight:normal;}
li.wall h2{float:left;width:auto;font-size:12px;font-weight:normal;}
.myinfo{width:0px;height:0px;visibility:hidden;}
.prevnext{margin-left:50px;width:525px;}
.prev{float:left;width:70px;}
.twitter{float:left;width:75px;}
.next{float:right;}
.hov a{background:#9c9;color:#000;text-decoration:none;background-color:white}
.hov b{display:none;font-weight:normal;}
.hov:hover{position:relative;z-index:1000;}
.hov a:hover, .hov:hover a{border:0;text-decoration:none;position:relative;}
.hov:hover b, .hov a:hover b{display:block;visibility:visible;position:absolute;left:-50px;top:-115px;background:white;cursor:pointer;border:1px solid #e3e3e3;padding:3px;}
.hov b a{white-space:nowrap;color:#000;text-decoration:none;background:transparent;display:block;}
.hov b a:hover{text-decoration:underline;}
.clear{clear:both;}
.container_inside, .content{background-color:transparent;}
.left-panel, .right-panel{background-color:#FFFFFF;}
.left-panel a:link, .left-panel a:visited, .right-panel a:link, .right-panel a:visited{color:#000000;}
.left-panel a:hover, .right-panel a:hover{color:#BF3760;}
.input-text, .input-textarea, .input-text-short, .input-other, .button{border:1px solid #00B7F1;}
div#menu{height:41px;width:930px;background:url(images/main-bg.png) repeat-x;text-transform:uppercase;letter-spacing:1.2px;}
div#menu ul{float:left;font-size:12px;font-family:Trebuchet MS;}
div#menu ul.menu{padding-left:5px;}
div#menu li{position:relative;z-index:9;margin:0;padding:0 5px 0 0;display:block;float:left;}
div#menu li:hover>ul{left:-2px;}
div#menu a{position:relative;z-index:10;height:41px;display:block;float:left;line-height:41px;text-decoration:none;font-weight:bold;}
div#menu a:hover, div#menu a:hover span{color:#fff;}
div#menu li.current a{}
div#menu span{display:block;cursor:pointer;background-repeat:no-repeat;background-position:95% 0;}
div#menu a{padding:0 10px 0 10px;line-height:30px;color:#e5e5e5;}
div#menu span{margin-top:5px;}div#menu li{background:url(images/main-delimiter.png) 98% 4px no-repeat;}
div#menu li.last{background:none;}
div#menu li.back{background:url(images/lava.png) no-repeat right -44px !important;background-image:url(images/lava.gif);width:13px;height:44px;z-index:8;position:absolute;margin:-1px 0 0 -5px;}
div#menu li.back .left{background:url(images/lava.png) no-repeat top left !important;background-image:url(images/lava.gif);height:44px;margin-right:8px;}
.author-tag {border-radius:6px;border:1px solid #CAD8F3;background:#f8def0;padding:1px 5px 1px 5px;}
.author-tag a{font:12px "Lucida Console", "Verdana";text-decoration:none;}
.author-tag:hover{background:#bf3760;}
.author-tag a:hover{color:#fff;}
div#footer a.anchor{background:url("images/footer_anchor.png") no-repeat scroll 0 0 transparent;float:right;height:5px;width:30px;margin:43px 20px 0 0}
#fbsticker{background:#f3f3f3;border-radius:9px;-moz-border-radius:9px;-webkit-border-radius:9px;-moz-box-shadow:inset 0 0 3px #333;-webkit-box-shadow:inset 0 0 3px #333;box-shadow:inner 0 0 3px #333;padding:12px 14px 12px 14px;width:300px;position:fixed;bottom:13px;right:2px;display:none;z-index:3;}
.walltitle {float:left;font-size:15px;font-weight:bold;margin-top:5px;margin-bottom:10px;color:#004658;text-shadow:1px 1px 2px #a2c8d2;text-transform:uppercase;letter-spacing:1px;}
.breadCrumbs a{text-decoration:none}
.titletag {margin:5px 0 0 37px;color:#d9d9d9;font-size:13px;}
.accordion {margin: 0;padding: 0;width: 100%;max-width: 155px;margin: 10px auto 10px;background: #FFF;border:1px solid #CCC;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}
.accordion .title{display: block;padding: 8px 8px 8px 18px;color: #b63b4d;font-family:"League-Gothic", Segoe UI,Arial;font-size: 21px;letter-spacing:1px;border-bottom: 2px solid #b63b4d;position: relative;}
.accordion .link {cursor: pointer;display: block;padding: 11px 11px 11px 18px;color: #000;background:#fbfbfb;font-size: 13px;border-bottom: 1px solid #CCC;position: relative;}
.link:hover {background:#FFF;border-left:1px solid #b63b4d;}
.accordion li:last-child .link { border-bottom: 0; }
.accordion li i {position: absolute;top: 14px;left: 12px;font-size: 18px;color: #595959;-webkit-transition: all 0.4s ease;-o-transition: all 0.4s ease;transition: all 0.4s ease;}
.accordion li i.fa-chevron-down {right: 14px;left: auto;font-size: 13px;color:#797979;}
.accordion li.open .link {background:#FFF;color: #b63b4d;border-left:1px solid #b63b4d;font-weight: 700;}
.accordion li.open i { color: #b63b4d; }
.accordion li.open i.fa-chevron-down {-webkit-transform: rotate(180deg);-ms-transform: rotate(180deg);-o-transform: rotate(180deg);transform: rotate(180deg);}
.submenu {margin: 0;padding: 0;display: none;background: #444359;font-size: 14px;}
.submenu li { border-bottom: 1px solid #525163; }
.submenu a {display: block;text-decoration: none;text-align:center;color: #d9d9d9;padding: 10px;-webkit-transition: all 0.25s ease;-o-transition: all 0.25s ease;transition: all 0.25s ease;}
.submenu a:hover {background: #b63b4d;color: #FFF;}

      /*----------Search form-----------*/	

    .cf:before, .cf:after{
      content:"";
      display:table;
    }
    
    .cf:after{
      clear:both;
    }

    .cf{
      zoom:1;
    }

    .form-wrapper {
        width: 160px;
        background: #EEE;
    }
    
    .form-wrapper input {
        width: 110px;
        padding: 5px 5px;
        float: left;    
        border: 0;
        background: #eee;
    }
    
    .form-wrapper input:focus {
        outline: 0;
        background: #fff;
        -moz-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
        -webkit-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
        box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
    }
    
    .form-wrapper input::-webkit-input-placeholder {
       color: #999;
       font-weight: normal;
       font-style: italic;
    }
    
    .form-wrapper input:-moz-placeholder {
        color: #999;
        font-weight: normal;
        font-style: italic;
    }
    
    .form-wrapper input:-ms-input-placeholder {
        color: #999;
        font-weight: normal;
        font-style: italic;
    }    
    
    .form-wrapper button {
		overflow: visible;
        position: relative;
        float: right;
        border: 0;
        padding: 0;
        cursor: pointer;
        height: 25px;
        width: 40px;
		background: url("images/search.png") no-repeat center;
    }   
      
    .form-wrapper button:before {
        content: '';
        position: absolute;
        border-width: 8px 8px 8px 0;
        border-style: solid solid solid none;
        border-color: transparent #C03569 transparent;
        top: 4px;
        left: -8px;
    }
    
    .form-wrapper button::-moz-focus-inner {
        border: 0;
        padding: 0;
    }