.fv-h1 {
    font-size: 40px;
    letter-spacing: -1px;
    font-weight: 200;
    line-height: 1.1;
    color: #289BFF;
    margin: 18px 0px 14px -10px;
}

.fv-h2 {
    font-size: 30px;
    letter-spacing: -1px;
    line-height: 1.1;
    color: #333333;
    margin: 13px 0px 11px 0;
}

.fv-h3 {
    color: #333;
    font-size: 20px;
    font-weight: normal;
    top: 5px;
    position: relative;
    margin: 13px 0 15px 5px;
}

h3 {
    color: #289bff;
}

/*BEGIN player thumbnail & hover effect*/

.fv-relvid {
    display: block;
    margin: 0 0 15px 0;
}

    .fv-relvid:hover {
        color: #00508F;
        text-decoration: none;
        cursor: pointer;
    }

.fv-relvidtxt {
    margin: 0 0 0 3px;
}

.fv-relvidttl {
    font-size: 15px;
    font-weight: bold;
}

.fv-relvidinfo {
    font-size: 13px;
    color: #878787;
}

.fv-relvid img {
    display: block;
    float: left;
    margin: 0 15px 0 0;
    z-index: 1000;
    width: 138px;
    height: 78px;
}


.fv-relvid .fv-relvid-img {
    position: relative;
    display: inline-block;
    margin: 0 15px 0 0;
}

.fv-relvid .fv-relvidtxt {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 216px);
}

.fv-relvid .fv-relvid-img img {
    float: none;
    margin: 0 !important;
}

.fv-relvid .fv-relvid-img::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.3);
    z-index: 2;
    background-image: url('../images/pressplay/fv-player-thumb.png');
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0;
    -webkit-transition: all 750ms ease;
    transition: all 750ms ease;
    background-size: 50px;
}

.fv-relvid:hover .fv-relvid-img::after {
    opacity: 1;
}

/*END player thumbnail & hover effect*/

.fv-thumb-play {
    position: absolute;
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    color: #fff;
    bottom: 0px;
    font-size: 18px;
    font-weight: 300;
    padding: 20px 10px 20px 10px;
}



.fv-share {
    float: right;
    margin: 13px 0 0 0;
    position: relative;
    z-index: 5;
}

.fv-share-fb {
    background: url('../images/pressplay/social-icons-facebook.svg') no-repeat 7px 5px #2d609b;
    height: 32px;
    width: 32px;
    float: left;
    position: relative;
    background-size: 27px;
    margin: 0 0 0 6px;
}

    .fv-share-fb:hover {
        background: url('../images/pressplay/social-icons-facebook.svg') no-repeat 7px 5px #397bc6;
        background-size: 27px;
    }

.fv-share-gp {
    background: url('../images/pressplay/social-icons-googleplus.svg') no-repeat 6px 5px #e54230;
    height: 32px;
    width: 33px;
    float: left;
    position: relative;
    background-size: 22px;
    margin: 0 0 0 6px;
}

    .fv-share-gp:hover {
        background: url('../images/pressplay/social-icons-googleplus.svg') no-repeat 6px 5px #fa4834;
        background-size: 22px;
    }

.fv-share-tw {
    background: url('../images/pressplay/social-icons-twitter.svg') no-repeat 6px 6px #59adeb;
    height: 32px;
    width: 33px;
    float: left;
    position: relative;
    background-size: 21px;
    margin: 0 0 0 6px;
}

    .fv-share-tw:hover {
        background: url('../images/pressplay/social-icons-twitter.svg') no-repeat 6px 6px #61bcff;
        background-size: 21px;
    }

.fv-share-yt {
    background: url('../images/pressplay/social-icons-youtube.svg') no-repeat 6px 5px #d02222;
    height: 32px;
    width: 32px;
    float: left;
    position: relative;
    padding: 10px;
    background-size: 21px;
    margin: 0 0 0 6px;
}

    .fv-share-yt:hover {
        background: url('../images/pressplay/social-icons-youtube.svg') no-repeat 6px 5px #f12727;
        background-size: 21px;
    }

.fv-currvid {
    width: 70%;
    float: left;
}

.fv-currvidinfo {
    color: #575757;
    font-size: 16px;
    margin: 0 0 7px 0;
}


.fv-article-wrap {
    width: 100%;
    padding: 0;
}

    .fv-article-wrap p {
        width: 100%;
        font-size: 16px;
        line-height: 1.5em;
        float: left;
        margin: 0 0 0 5px;
    }

/*Call to actions*/

.fv-links {
    border-top: 1px solid #d8d8d8;
    float: left;
    width: 100%;
    margin: 17px 0 0 0;
    font-size: 17px;
}

    .fv-links:hover {
        opacity: 0.9;
    }

.fv-play {
    float: left;
    margin: 14px 111px 0 0;
}

.fv-play-cu {
    background: url('../images/pressplay/fv-play-cu.svg') no-repeat 0px 0px transparent;
    background-size: 27px;
    width: 28px;
    height: 28px;
    float: left;
    margin: -2px 10px 0 0;
    position: relative;
}

.fv-play-bo {
    background: url('../images/pressplay/fv-play-bo.svg') no-repeat 0px 0px transparent;
    background-size: 27px;
    width: 28px;
    height: 28px;
    float: left;
    margin: -2px 10px 0 0;
    position: relative;
}

/*Link to guide*/

.fv-play-epg {
    float: left;
    margin: 14px 0 0 0;
}

.mnet-edge {
    background: url('http://cdn.dstv.com/www.dstv.com/dstvchannels//DStvChannels/Edge_Display.jpg') no-repeat 0px 0px transparent;
    width: 60px;
    height: 42px;
    background-size: 60px 42px;
    float: left;
    margin: -8px 10px 0 0;
}


@media (max-width: 768px) {



    .fv-currvid {
        width: 90%;
    }
}

@media (max-width: 360px) {

    .fv-currvid {
        width: 88%;
    }
}

.play-icon2 {
    position: absolute;
    left: 43%;
    top: 34%;
    width: 18%;
}

@media (max-width:1200px) {

    .play-icon2 {
        position: absolute;
        left: 35%;
        top: 25%;
        width: 25%;
    }
}

@media (min-width: 767px) {
    .visible-lg2 {
        display: block !important;
        width: 50%;
    }

    .fv-col-md-6 {
        width: 25% !important;
    }
}

@media (min-width: 767px) and (max-width: 1026px) {

    .play-icon2 {
        position: absolute;
        left: 42.5%;
        top: 34.5%;
        width: 15%;
    }

    .visible-lg2 {
        display: block !important;
        width: 100%;
    }

    .fv-col-md-6 {
        width: 50% !important;
    }
}
