/* Tooltip */
.ui-tooltip-rounded, .ui-tooltip-rounded .ui-tooltip-content {
     -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
}
.ui-tooltip-rounded .ui-tooltip-content {
	font-size:12px;
	line-height:15px;
}
.qtip p {
	padding:5px 0;
}
.qtip a {
	color:#fff;
	text-decoration:underline;
}
.ui-tooltip-rounded.ui-tooltip-default .ui-tooltip-content {
    background-color: #ff6d00;
	border-color: #ff6d00;
    color: #fff;
    font-size:12px;
    font-weight:bold;
}
.ui-tooltip.wide, .qtip.wide {
	max-width:400px;
}
.ui-light .ui-tooltip-content, .ui-light .ui-tooltip-dropbox {
    background-color: #fff;
	border-color: #777;
    color: #333;
    font-size:12px;
    line-height:1.3em;
}
.ui-tooltip-default .ui-tooltip-content, .ui-tooltip-default .ui-tooltip-dropbox {
    background-color: #fff;
	border-color: #777;
    color: #000;
    font-size:12px;
}
.ui-tooltip-sticky .ui-tooltip-content a {
    color: #333;
    text-decoration:underline;
}
