/* sticky footer styles */
html, body {height: 100%;}

#wrap {min-height: 100%;
    width:100%;
}

#main {overflow-y:auto;
    overflow-x:hidden;
    padding-bottom: 125px;}  /* must be at least the total height of the footer */

#footer {position: relative;
    margin-top: -67px; /* negative value of footer height */
    height: 27px;
    clear:both;
    padding:20px;
}

/*Opera Fix*/
body:before {
    content:"";
    height:100%;
    float:left;
    width:0;
    margin-top:-32767px;/
}
/* end sticky footer */
body {
    text-align:center;
    background:#f3f4f7 url('../images/bg3.png') repeat-y 50% 0;
    color:#5d6168;
    font-family:museo-sans, "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size:14px;
    font-weight:500;
}
table {
    border-collapse:collapse;
}
textarea {
    resize:none;
    font-family:museo-sans, "Lucida Grande", Helvetica, Arial, sans-serif;
}
.page-content {
    margin:0 auto;
    width:960px;
    text-align:left;
    position:relative;
}
.logged-out .logged-in, .logged-in .logged-out {
    display:none !important;
}
#header {
    height:67px;
    text-align:center;
}
#logo {
    display:block;
    position:absolute;
    width:187px;
    height:52px;
    top:8px;
    left:0;
    background-image:url('../images/logo.png');
    text-indent:-9999em;
}
#main p {
    margin-bottom:5px;
}
.button {
    display:block;
    background-position:0 0;
    background-repeat:no-repeat;
    text-indent:-9999em;
}
a.button:hover {
    background-position:0 100%;
}
.rounded {
    padding:12px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
    background:url('../images/container_bg.png') repeat 0 0;
}
.heading {
    font-size:21px;
    font-weight:bold;
    padding:30px 0 1px 0;
    font-family:museo-sans, Helvetica, Arial, sans-serif;
    color:#3a3e47;
}
.instruction {
    font-size:12px;
    padding-bottom:5px;
    line-height:1.4em;
    padding-right:200px;
}
input[type=text], textarea {
    border:1px solid #909090;
    font-size:12px;
    padding:4px;
}
input[type=checkbox] {
    margin-left:0;
    padding-left:0;
}
input.url {
    width:626px;
}
input.pixel-url {
    width:595px;
    margin:2px 0;
}
.pixel-row {
}
.pixel-row a.add, .pixel-row a.remove {
    display:inline-block;
    float:right;
    margin-top:2px;
}
input.rescan-url {
    width:325px;
}
input.date {
    width:83px;
}
input[name=smartUrl\.pageTitle] {
    width:300px;
}
.label {
    font-size:12px;
    font-weight:bold;
    padding:7px 0 4px 0;
}
.form-error {
    color:#c4161b;
}
.horizontal-separator {
    margin:10px 0;
    border-top:1px solid #DBDCDF;
}
.horizontal-separator > div {
    border-top:1px solid #fff;
}
#title-band {
    height:60px;
    background-color:#232427;
    color:#fff;
    font-size:26px;
    margin-bottom:20px;
}
#title-band .page-title {
    font-weight:bold;
    line-height:60px;
}
/*
.rounded table {
     -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
    margin:-12px 0 0 -12px;
}
.rounded thead {
     -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
	background:url('../images/container_bg_dark.png') repeat 0 0;
}
*/
table.rounded {
    padding:0;
    background:none;
}
th, .header td {
    font-size:12px;
    font-weight:bold;
}
.country-column {
    width:119px;
}
input.country {
    width:108px;
}
input.local-url {
    width:450px;
}
.button-col a {
    display:block;
    width:26px;
    height:26px;
    background-position:0 0;
    text-indent:-9999em;
    background-image:url('../images/minus.png');
}
.button-col a:hover {
    background-position:0 100%;
}
a.remove {
    background-image:url('../images/minus2.png');
}
a.add {
    background-image:url('../images/plus.png');
}
.country-name {
    font-size:12px;
    padding:5px 4px;
    display:block;
    width:88px;
    color:#000;
}
.with-name .country, .with-name .timezone {
    display:none;
}
.without-name .country-name, .without-name .timezone-name {
    display:none;
}
.timezone-name {
    font-size:12px;
}
.accessEmail {
    width:250px;
}
/*
.rounded.list th {
	background-image:none;
	background-color:#ff8f2b;
	color:#fff;
	border-color:#d4d4d4;
}
.rounded.list td {
	background-image:none;
	background-color:#fff;
	color:#656565;
	border-color:#d4d4d4;
	font-size:12px;
}
*/
input.default {
    color:#999;
}
.buttons {
    padding:10px 0;
}
.list a {
    color:#000;
    font-weight:bold;
    text-decoration:none;
}
.list a:hover {
    color:#ff6d00;
}
/* Sign In */
#user-area {
    position:absolute;
    right:0;
    top:0;
    z-index:2;
    text-align:right;
}
.dark a {
    color:#ff6d00;
    text-decoration:none;
}
.dark a:hover {
    color:#ff8f2b;
    text-decoration:none;
}
#sign-in {
    text-align:left;
    width:263px;
}
.slid-up {
    margin-top:-274px;
}
#login-options {
    color:#fff;
    font-size:12px;
    font-weight:bold;
    height:274px;
    padding-left:15px;
    background:url('../images/login_dropdown_box.png') no-repeat 0 0;
}
/*
#login-options > div {
	padding-left:15px;
}
*/
#sign-in .toggle a {
    background:url('../images/login_dropdown_tab.png') no-repeat 0 100%;
    display:block;
    float:right;
    width:83px;
    height:27px;
    text-indent:-9999em;
}
#sign-in.slid-up .toggle a {
    background-position:0 0;
}
#external-login-options {
    padding-top:12px;
}
#external-login-options ul {
    display:block;
    padding-top:5px;
    height:27px;
}
#external-login-options li {
    float:left;
}
#external-login-options li a {
    display:block;
    height:29px;
    text-indent:-9999em;
    background-repeat:no-repeat;
}
#external-login-options li a:hover {
    background-position:0 100%;
}
#external-login-options li.google a {
    width:73px;
    background-image:url('../images/login_dropdown_google.png');
    margin-left:6px;
}
#external-login-options li.facebook a {
    width:81px;
    background-image:url('../images/login_dropdown_facebook.png');
}
#house-login {
    clear:both;
    padding-top:50px;
}
#house-login form {
    padding:8px 0;
}
#house-login input.text {
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
    padding:3px 5px;
    margin:0 0 6px 0;
    display:block;
    border:none;
    width:210px;
}
/*
#house-login input[type='submit'] {
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
	cursor:pointer;
    border:none;
    margin-bottom:5px;
}
*/
#house-login input#login-button {
    background:url('../images/login_btn.png') no-repeat 0 0;
    height:30px;
    width:90px;
    border:none;
    text-indent:-9999em;
    cursor:pointer;
    font-size:0;
    line-height:0;
    display:block;
    float:left;
}
#house-login input#login-button:hover {
    background-position:0 100%;
}
#remember {
    margin-top:-2px;
    margin-bottom:3px;
}
#forgot {
    clear:both;
    padding-top:8px;
}
#new-user {
    margin-top:20px;
}
#user-area .logged-in {
    padding-top:5px;
    color:#3a3e47;
}
#user-area .username {
    padding-right:18px;
    margin-right:2px;
    background-position:right 2px;
    background-repeat:no-repeat;
}
.username.su {
    background-image:url('../images/fav_icon2.png');
}
.username.fb {
    background-image:url('../images/favicon-fb.ico');
}
.username.gl {
    background-image:url('../images/google_favicon.png');
}
/* footer */
#footer {
    background-color:#232427;
    font-size:12px;
    color:#8d94b1;
    font-weight:normal;
}
/* Home Page */
.chalkboard {
    background-color:#232427;
    height:237px;
    background-image:url('../images/homeslice.png');
    background-repeat:repeat-x;
}
.chalkboard.minimized {
    height:60px;
    background-image:none;
}
.chalkboard #title-band {
    display:none;
}
.chalkboard.minimized #title-band {
    display:block;
    margin-bottom:0;
}
.minimized .value-prop-container {
    display:none;
}
.value-prop {
    background-color:#232427;
    background-position:50% 0;
    height:237px;
    position:relative;
    text-align:center;
    font-family:museo-sans, "Lucida Grande", Helvetica, Arial, sans-serif;
    display:none;
}
.value-prop .value-heading {
    margin:0 auto;
    padding-top:28px;
    font-size:43px;
    color:#fff;
    font-weight:700;
}
.value-prop .mini-blurb {
    position:absolute;
    text-align:left;
    width:220px;
    top:107px;
}
.mini-blurb-1 {
    left:90px;
}
.mini-blurb-2 {
    left:420px;
}
.mini-blurb-3 {
    left:757px;
}
.value-prop .mini-blurb-heading {
    font-size:15px;
    font-weight:bold;
    color:#FF6D00;
    text-decoration:none;
}
.value-prop a.mini-blurb-heading:hover {
    color:#ff8f2b;
    text-decoration:none;
}
.value-prop .mini-blurb-content {
    padding-top:3px;
    font-size:12px;
    font-weight:700;
    color:#bbc0d0;
    line-height:1.3em;
}
#value-prop-1 {
    background-image:url('../images/homepage_banner2.jpg');
}
#value-prop-2 {
    background-image:url('../images/homepage_banner_itunes.png');
}
#value-prop-3 {
    background-image:url('../images/homepage_banner_smarttab.png');
}
#value-prop-3 .value-heading {
    font-size:32px;
}
#value-prop-3 .mini-blurb-heading {
    font-size:12px;
}
#value-prop-3 .mini-blurb-content {
    font-size:11px;
}
#value-prop-4 {
    background-image:url('../images/homepage_banner3.jpg');
}

.vp-1 #value-prop-1 {
    display:block;
}
.vp-2 #value-prop-2 {
    display:block;
}
.vp-3 #value-prop-3 {
    display:block;
}
.vp-4 #value-prop-4 {
    display:block;
}
#value-prop-4 .value-heading {
    font-size:32px;
}
#value-prop-5 .value-heading {
    font-size:32px;
}
.vp-5 #value-prop-5 {
    display:block;
}
#value-prop-5 {
    background-image:url('../images/homepage_banner5.jpg');
}

#get-started {
    background-image:url('../images/free_btn.png');
    width:260px;
    height:49px;
    position:absolute;
    left:350px;
    bottom:-22px;
    z-index:10;
}
.main-area {
    width:660px;
    padding-right:20px;
}
.sidebar {
    float:right;
    width:250px;
    margin-top:30px;
    background:url('../images/divider_v.jpg') repeat-y 0 0;
    padding-left:20px;
}
.sidebar-inner {
    /*	border-left:1px solid #fff;*/
}
.sidebar .heading {
    padding-top:0;
}
.sidebar .benefits .divider-h {
    display:none;
}
.sidebar .blurb {
    margin-top:10px;
    padding-top:100px;
    background-repeat:no-repeat;
    font-size:12px;
    line-height:1.4em;
}
.sidebar #globe .blurb {
    padding-top:254px;
    background-image:url('../images/infographic_globe3.png');
}
.sidebar #railroad .blurb {
    padding-top:205px;
    background-image:url('../images/infographic_railroad2.png');
}
.sidebar #cloud .blurb {
    padding-top:177px;
    background-image:url('../images/infographic_cloud2.png');
}
.sidebar #stats .blurb {
    padding-top:211px;
    background-image:url('../images/infographic_stats2.png');
}
.sidebar #s9id .blurb {
    padding-top:221px;
    background-image:url('../images/infographic_s9id2.png');
}
.sidebar #collab .blurb {
    padding-top:174px;
    background-image:url('../images/infographic_collabmgmt2.png');
}
.sidebar .share-buttons .divider-h {
    background:url('../images/sidebar-horz-divide.png') no-repeat 0 bottom;
    height:20px;
    margin-bottom:20px;
}

.sidebar-heading {
    background: url('../images/container_bg_dark.png') repeat 0 0;
    -moz-border-radius-topleft: 8px;
    -webkit-border-top-left-radius: 8px;
    border-top-left-radius: 8px;
    -moz-border-radius-topright: 8px;
    -webkit-border-top-right-radius: 8px;
    border-top-right-radius: 8px;
    color:#3A3E47;
    font-weight:700;
    font-size:13px;
}
.sidebar-bullet {
    background: url('../images/container_bg.png') repeat 0 0;
    border-top:1px solid #fff;
    font-size:13px;
    position:relative;
    padding:14px 12px 14px 60px;
}
.sidebar-bullet:last-child {
    -moz-border-radius-bottomleft: 8px;
    -webkit-border-bottom-left-radius: 8px;
    border-bottom-left-radius: 8px;
    -moz-border-radius-bottomright: 8px;
    -webkit-border-bottom-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-bottom:15px;
}
.sidebar-heading > div {
    padding:16px 12px 16px 60px;
    background-repeat:no-repeat;
}
.sidebar-heading > div {
    background-position:0 10px;
}
#sidebar-toolbox .sidebar-heading > div {
    background-image:url('../images/side_toolbox.png');
}
#sidebar-social .sidebar-heading > div {
    background-image:url('../images/side_megaphone.png');
}
.sidebar-icon {
    position:absolute;
    width:60px;
    height:48px;
    top:0;
    left:0;
    background-position:12px 10px;
    background-repeat: no-repeat;
}
.sidebar-blurb {
}
#sidebar-plus .sidebar-icon {
    background-image:url('../images/side_plus.png');
}
#sidebar-star .sidebar-icon {
    background-image:url('../images/side_asterisk.png');
}
#sidebar-iqid .sidebar-icon {
    background-image:url('../images/side_iqid.png');
}
#sidebar-dollar .sidebar-icon {
    background-image:url('../images/side_money.png');
}
#sidebar-facebook .sidebar-icon {
    background-image:url('../images/side_facebook.png');
}
#sidebar-twitter .sidebar-icon {
    background-image:url('../images/side_twitter.png');
}
#sidebar-social .sidebar-blurb {
    height:20px;
    padding:4px 0;
}
.sidebar-highlight {
    color:#FF6D00;
    font-weight:bold;
}
a.sidebar-highlight {
    text-decoration:none;
}

.rounded.alias {
    width:320px;
}
.rounded.captcha {
    width:450px;
}
.alias input[type='text'] {
    width:150px;
}
.alias .form-error {
    display:block;
    /*margin-left:115px;*/
    /*padding-top:5px;*/
}
.alias .label {
    font-size:14px;
}
.alias label.label {
    line-height:30px;
}
.alias .row, .smarturl-label .row {
    margin-bottom:5px;
    height:26px;
    line-height:26px;
}
.alias .label.spacer {
    visibility:hidden;
}
.alias .controls, .smarturl-label .controls {
    float:right;
    width:60px;
    margin-left:15px;
}
.alias .controls .button, .smarturl-label .button {
    float:left;
    width:26px;
    height:26px;
    margin-right:3px;
}
.try-smarturl {
    background-image:url('../images/go.png');
}
.copy-smarturl-container {
    float:left;
    position:relative;
}
.copy-smarturl {
    background-image:url('../images/copy.png');
}
.copy-smarturl.hover {
    background-position:0 100%;
}
.smarturl-label .row {
    margin-bottom:0;
    float:left;
}
.smarturl-label {
    display:inline-block;
    font-size:21px;
    color: #3A3E47;
    font-weight:bold;
}
#description {
    width:630px;
    height:50px;
    font-size:14px;
}
#home #save {
    background:url('../images/create_btn.png') no-repeat 0 0;
    height:40px;
    width:198px;
    border:0px solid #fff;
    text-indent:-9999em;
    cursor:pointer;
    display:block;
    font-size:0;
    line-height:0;
    float:none;
}
#home #save:hover {
    background-position:0 100%;
}
#full-list {
    background-image:url('../images/view_list2.png');
    width:127px;
    height:27px;
    margin-top:10px;
    margin-bottom:20px;
}
/* table styles */
.rounded.list thead .header td, .rounded.list th {
    background:#f36800 url('../images/list_header.png') repeat-x 0 0;
    color:#fff;
    border-color:#d4d4d4;
}
.rounded.list tbody td {
    background-image:none;
    background-color:#fff;
    color:#656565;
    border-color:#d4d4d4;
    font-size:12px;
}
td, th {
    padding:8px;
}
tbody td, thead th, .header td {
    border-top-style:solid;
    border-left-style:solid;
    border-left-width:1px;
    border-top-width:1px;
    border-color:#fff;
    border-bottom-style:none;
    border-right-style:none;
}
.rounded th, .header td {
    background:url('../images/container_bg_dark.png') repeat 0 0;
    border-top-style:hidden;
}
.rounded thead th:first-child, .rounded thead .header td:first-child, .rounded th.left {
    -moz-border-radius-topleft: 8px;
    -webkit-border-top-left-radius: 8px;
    border-top-left-radius: 8px;
    border-left-style:hidden;
}
.rounded thead th:last-child, .rounded thead .header td:last-child, .rounded th.right {
    -moz-border-radius-topright: 8px;
    -webkit-border-top-right-radius: 8px;
    border-top-right-radius: 8px;
    border-right-style:hidden;
}
.rounded th.button-col, .rounded td.button-col {
    border-left-style:hidden;
}
.rounded td {
    background:url('../images/container_bg.png') repeat 0 0;
    vertical-align:top;
}
.rounded td:first-child, .rounded td.left {
    border-left-style:hidden;
}
.rounded td.right {
}
.rounded tbody:last-child tr:last-child td:first-child, .rounded .last td.left,
.rounded tbody.tbody tr:last-child td:first-child {
    -moz-border-radius-bottomleft: 8px;
    -webkit-border-bottom-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-left-style:hidden;
}
.rounded tbody:last-child tr:last-child td:last-child, .rounded .last td.right,
.rounded tbody.tbody tr:last-child td:last-child {
    -moz-border-radius-bottomright: 8px;
    -webkit-border-bottom-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-right-style:hidden;
}
.list-page td.stats {
    text-align:center;
}
.list-page td.stats a {
    display:block;
    text-indent:-9999em;
    background:url('../images/stats_pie_small.png') no-repeat 0 0;
    width:17px;
    height:17px;
    margin:-2px auto 0;
}
/* battling some jmesa styles */
.toolbar .inner-div td, .statusBar td, .statusBar .inner-div td {
    background-color:transparent !important;
}
#jmesa {
    border-width:0;
    border-style:hidden;
}
.toolbar td, .statusBar td {
    padding:0 2px;
    background:none;
    border-width:0 0 0 0;
    border-style:hidden hidden hidden hidden;
}
.toolbar .inner-div, .statusBar .inner-div {
    height:20px;
}
.toolbar .inner-div {
    margin-bottom:10px;
}
.statusBar .inner-div {
    margin-top:10px;
}
.toolbar .inner-div table, .statusBar .inner-div table {
    float:right;
    border-width:0;
    border-style:hidden;
    margin:0;
}
.toolbar .inner-div td, .statusBar .inner-div td {
    vertical-align:middle;
}
/* pagination */
.paging {
    display:block;
    text-indent:-9999em;
    width:13px;
    height:15px;
}
.paging a {
    display:block;
    width:13px;
    height:15px;
    background-repeat:no-repeat;
    text-indent:-9999em;
}
.paging a:hover {
    background-position:0 100%;
}
.paging.first-page a {
    background-image:url('../images/page_start2.png');
}
.paging.prev-page a {
    background-image:url('../images/page_prev2.png');
}
.paging.last-page a {
    background-image:url('../images/page_end2.png');
}
.paging.next-page a {
    background-image:url('../images/page_next2.png');
}
.paging.disabled.first-page {
    background-image:url('../images/page_start_disable.png');
}
.paging.disabled.prev-page {
    background-image:url('../images/page_prev_disable.png');
}
.paging.disabled.last-page {
    background-image:url('../images/page_end_disable.png');
}
.paging.disabled.next-page {
    background-image:url('../images/page_next_disable.png');
}
.separator {
    display:block;
    width:5px;
}
/* styled submit buttons */
input.submit {
    background-repeat:no-repeat;
    border:0px solid #fff;
    text-indent:-9999em;
    cursor:pointer;
    display:block;
    font-size:0;
    line-height:0;
    float:left;
    height:30px;
    background-color:transparent;
}
input.submit:hover {
    background-position:0 100%;
}
/* search / list pages */
#create-smarturl {
    background-image:url('../images/list_create_btn.png');
    width:171px;
    height:35px;
    float:left;
}
.list-page form .rounded {
    float:left;
    width:270px;
    padding:8px;
}
.list-page #search-tags {
    width:230px;
    margin-left:12px;
}
.list-page form input.text {
    width:150px;
}
.list-page #search-tags input.text {
    width:150px;
}
.divider-h {
    background:url('../images/divider_h.jpg') repeat-x 0 0;
    height:2px;
    clear:both;
}
input.search {
    float:right;
    background-image:url('../images/search.png');
    width:26px;
    height:26px;
}
body.list-page table.list {
    width:100%;
}

/* box containers */
.box-container {
    background-image:url('../images/best_individual_bottom.png');
    background-repeat:no-repeat;
    background-position:7px bottom;
    padding-bottom:11px;
}
.box-header {
    background-image:url('../images/best_individual_top.png');
    background-repeat:no-repeat;
    background-position:0 0;
    color:#fff;
    height:30px;
    padding:7px 0 0 12px;
    font-size:14px;
}
.box-content {
    padding:6px 10px 10px 25px;
    background-image:url('../images/best_individual_mid.png');
    background-repeat:repeat-y;
    background-position:7px 0;
}
/* user nav */
#user-nav {
    position:absolute;
    top:17px;
    right:0;
}
#user-nav li {
    float:left;
}
#user-nav li {
}
#user-nav li a {
    float:left;
    display:block;
    background:url('../images/nav-bg3.png') repeat-x 0 0;
    height:13px;
    padding:7px 8px;
    font-size:12px;
    color:#fff;
    text-decoration:none;
    border-right:solid 1px #282a2e;
    border-left:solid 1px #3c4048;
}
#user-nav li.first a {
    -moz-border-radius-topleft: 8px;
    -webkit-border-top-left-radius: 8px;
    border-top-left-radius: 8px;
    -moz-border-radius-bottomleft: 8px;
    -webkit-border-bottom-left-radius: 8px;
    border-bottom-left-radius: 8px;

    border-left-width:0;
}
#user-nav li.last a {
    -moz-border-radius-topright: 8px;
    -webkit-border-top-right-radius: 8px;
    border-top-right-radius: 8px;
    -moz-border-radius-bottomright: 8px;
    -webkit-border-bottom-right-radius: 8px;
    border-bottom-right-radius: 8px;

    border-right-width:0px;
}
#user-nav a:hover {
    background-position:0 -27px;
}

#save {
    background-image:url('../images/save.png');
    width:88px;
    height:35px;
}
#save[disabled='disabled'], #save.disabled {
    background-image:url('../images/save_disabled.png');
    cursor:default;
}
#cancel {
    background-image:url('../images/cancel.png');
    width:86px;
    height:35px;
    float:left;
    margin-left:5px;
}
/* "slider" */

.sidebar .learn-item, .rotatable {
    display:none;
    height:450px;
}
.sidebar .learn-item.active-rotatable, .rotatable.active-rotatable {
    display:block;
}
.rotate-controls {
    height:25px;
    background:url('../images/sidebar-horz-divide.png') no-repeat 0 bottom;
}
.rotate-controls a {
    display:block;
    float:left;
    background-repeat:no-repeat;
    width:11px;
    height:15px;
    margin-right:3px;
    text-indent:-9999em;
}
.rotate-controls a:hover {
    background-position:0 100%;
}
.rotate-controls a.rotate-back {
    background-image:url('../images/sidebar-arrow-left.png');
}
.rotate-controls a.rotate-next {
    background-image:url('../images/sidebar-arrow-right.png');
}
.share-buttons {
    clear:both;
    padding-top:10px;
}
.share-button {
    float:left;
}
/* message */
.messages-container {
    padding-top:32px;
}
.messages {
    height:19px;
    padding:12px 8px 4px 8px;
    background-color:#ff6d00;
    color:#fff;
    margin:0 auto;
    width:460px;
    -moz-border-radius-topright: 8px;
    -webkit-border-top-right-radius: 8px;
    border-top-right-radius: 8px;
    -moz-border-radius-topleft: 8px;
    -webkit-border-top-left-radius: 8px;
    border-top-left-radius: 8px;
    display:none;
    z-index:100;
    position:relative;
}
/* Jquery UI */
.ui-dialog {
    /*
    font-size:62%;
    */
}

/* URL info "drawer" */
.url-info {
    padding-top:8px;
    height:16px;
    display:none;
}
.url-info.loading {
    background:url('../images/progress.gif') no-repeat right 8px;
}
.url-info.loaded {
    display:block;
}
.url-info li {
    display:block;
    float:left;
    padding-left:16px;
    background-repeat:no-repeat;
    background-image:url('../images/light_gray.png');
    background-position:0 50%;
    margin-right:10px;
    font-size:12px;
    font-weight:700;
    height:15px;
    line-height:16px;
    cursor:default;
}
.url-info li.green {
    background-image:url('../images/light_green2.png');
}
.url-info li.yellow {
    background-image:url('../images/light_yellow2.png');
}
.url-info li.orange {
    background-image:url('../images/light_orange.png');
}
.url-info li.red {
    background-image:url('../images/light_red2.png');
}
.url-info li span {
    display:block;
    padding-right:10px;
    border-right:1px solid #cfcfcf;
}
.url-info li:last-child span {
    border-right-style:none;
}
/*
Itunes expansion feedback
*/
.itunes-feedback {
    float:right;
    background-repeat:no-repeat;
    font-size:12px;
    font-weight:700;
    height:20px;
    line-height:16px;
    /*padding-right:16px;
    background-image: url("../images/progress.gif");
    background-position:right 0;*/
    width:170px;
    overflow:hidden;
    position:relative;
}
.itunes-feedback .progress-background {
    height:17px;
    background-color:#dadbde;
}
.itunes-feedback.green {
    padding-left:20px;
    background-image: url("../images/light_green2.png");
    background-position:0 0;
    background-color:transparent;
    width:auto;
}
.itunes-feedback .progress-bar {
    background-color:#ff8f2b;
    z-index:0;
    height:17px;
    width:0;
}
.itunes-feedback .message {
    position:absolute;
    z-index:1;
    top:0;
    font-size:12px;
    font-weight:400;
    padding-left:4px;
    color:#333;
}
.itunes-feedback.yellow {
    padding-left:20px;
    background-image: url("../images/light_yellow2.png");
    background-position:0 0;
    background-color:transparent;
    width:auto;
}
/* Error pages */
.blank-chalkboard {
    background-image:url('../images/chalkboard-blank.png');
    height:281px;
    color:#fff;
}
.blank-chalkboard .title {
    padding:30px 0;
    font-size:26px;
    color:#fffead;
    font-family:blambot-pro, Chalkboard, "Comic Sans MS", Helvetica, Arial, sans-serif;
}
/* Notification Bar */
#notification-bar {
    padding:10px;
    text-align:center;
    background-color:#fff1dc;
    border-bottom:1px solid #e6e7e9;
    display:none;
}
.notification {
    padding:10px;
    padding-left:70px;
    background-color:#fff;
    border:1px solid #e6e7e9;
    color:#3a3e47;
    font-size:12px;
    background-image:url('../images/notification.png');
    background-repeat:no-repeat;
    background-position:10px 17px;
    width:700px;
    line-height:1.2em;
}
.notification a {
    color:#ff6d00;
    text-decoration:none;
}
.notification a:hover {
    text-decoration:underline;
}

#site-identifier {
    display:block;
    position:absolute;
    width:72px;
    height:63px;
    top:2px;
    left:-12px;
    background-repeat:no-repeat;
    z-index:5;
}
#site-identifier.live {
    display:none !important;
}
#site-identifier.test {
    left:-10px;
    background-image:url('../images/stamp-test.png');
}
#site-identifier.dev {
    background-image:url('../images/stamp-dev.png');
}
#site-identifier.beta {
    background-image:url('../images/stamp-beta.png');
}
.meta-label {
    color:#5d6168;
    font-size:12px;
    padding-bottom:3px;
}
.meta-data {
    color:#3a3e47;
    font-size:12px;
    padding-bottom:15px;
}
.list td.list {
    padding-top:6px;
    padding-bottom:6px;
}
.list td.list a {
    display:block;
    text-indent:-9999em;
    background:url('../images/list-icon.png') no-repeat 0 0;
    width:24px;
    height:14px;
}
/* css button */
.css-button {
    border:0px none transparent;
    border-top: 1px solid #f7c197;
    background: #f46b02;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff7c17), to(#f46b02));
    background: -webkit-linear-gradient(top, #ff7c17, #f46b02);
    background: -moz-linear-gradient(top, #ff7c17, #f46b02);
    background: -ms-linear-gradient(top, #ff7c17, #f46b02);
    background: -o-linear-gradient(top, #ff7c17, #f46b02);
    padding: 7.5px 15px;
    -webkit-border-radius: 21px;
    -moz-border-radius: 21px;
    border-radius: 21px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 15px;
    font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    vertical-align: middle;
}
.css-button:hover {
    border-top-color: #fe8c28;
    background: #fe8c28;
    color: #ffffff;
}
.css-button:active {
    border-top-color: #f46b02;
    background: #f46b02;
}
.css-button.disabled {
    background-color:#ccc;
}
#url-builder-link {
    background:url('../images/URLbuilder_banner.png') no-repeat 0 0;
    height:54px;
    width:240px;
}
#url-builder-link:hover {
    background-position:0 100%;
}

.itunes-fuzzy, .itunes-fallback, .itunes-exact {
    height:auto;
}
.itunes-fuzzy .url-info, .itunes-fallback .url-info, .itunes-exact .url-info {
    display:block;
    height:auto;
}
.itunes-fuzzy .validation-feedback, .itunes-fallback .validation-feedback, .itunes-exact .validation-feedback {
    display:none;
}
.itunes-fuzzy .itunes-feedback, .itunes-fallback .itunes-feedback, .itunes-exact .itunes-feedback {
    background-color:transparent;
    float:none;
    width:auto;
    height:auto;
}
.itunes-match-container {
    padding:4px 0;
}
.itunes-match-container .item-name {
    font-weight:400;
    color:#3A3E47;
    text-decoration:none;
    float:left;
    display:block;
    width:264px;
}
.itunes-info img {
}
.itunes-match-container ul {
    float:left;
    width:110px;
    background: url('../images/divider_v_2.png') repeat-y right 0;
    margin-right:10px;
}
.url-info .itunes-match-container li {
    float:none;
    margin-bottom:6px;
}
.itunes-info .image-holder {
    display:block;
    float:left;
    margin-right:8px;
    padding:2px;
    background-color:#fff;
    width:60px;
    height:60px;
    border: 1px solid #73777d;
}
.itunes-info .artist-name, .itunes-info .item-label {
    font-weight:700;
}
.itunes-info .item-label {
    padding-right:3px;
}
.itunes-feedback .rescan {
}
.itunes-feedback .rescan a, .amazon-expand-feedback .rescan a {
    width:74px;
    display:block;
    background: url('../images/rescan.png') no-repeat 0 0;
    height:20px;
    line-height:17px;
    float:right;
    text-indent:-9999em;
    text-align:left;
}
.itunes-feedback .rescan a:hover, .amazon-expand-feedback .rescan a:hover {
    background-position:0 100%;
}
.remove-dispatch-urls-container {
    float:right;
    margin-top:-45px;
    /*display:none;*/
    padding:6px;
    padding-left:12px;
}
.remove-dispatch-urls-container a.remove {
    background-repeat:no-repeat;
    background-position:right top;
    padding-right:34px;
    line-height:26px;
    display:block;
    height:26px;
    margin-right:3px;
    text-indent:0;
    width:auto;
    cursor:pointer;
}
.remove-dispatch-urls-container a.remove:hover {
    background-position:right 100%;
}
#dispatch-properties {
    padding-top:30px;
}
#dispatch-properties li {
    float:left;
}
#dispatch-properties a {
    float:left;
    display:block;
    height:70px;
    background-repeat:no-repeat;
    width:90px;
    text-indent:-9999em;
}
#dispatch-COU a {
    background-image:url('../images/toggle_country6.png');
}
#dispatch-DVC a {
    background-image:url('../images/toggle_device6.png');
}
#dispatch-properties a:hover {
    background-position:0 50%;
}
#dispatch-properties li.selected a, #dispatch-properties li.selected a:hover {
    background-position:0 100%;
}
#dispatch-EVT a {
    background-image:url('../images/toggle_events6.png');
}
#dispatch-MUS a {
    background-image:url('../images/toggle_music6.png');
}
#dispatch-STR a {
    background-image:url('../images/toggle_stream6.png');
}
#dispatch-FLX a {
    background-image:url('../images/toggle_flex6.png');
}
#dispatch-RET a {
    background-image:url('../images/toggle_retail2.png');
}
.flavor {
    display:none;
}
.COU .flavor.cou, .DVC .flavor.dvc, .EVT .flavor.evt, .MUS .flavor.mus, .STR .flavor.str {
    display:inline;
}
/*
.instruction .flavor {
	display:none;
}
.COU .instruction div.cou, .DVC .instruction div.dvc, .EVT .instruction div.evt {
	display:inline;
}
*/
#country-urls-container, #device-urls-container, #event-urls-container, #streaming-urls-container {
    display:none;
}
.country-column .dispatch-prop, .heading .dispatch-prop {
    text-transform:capitalize;
}
select.country {
    font-size:11px;
    padding-right:0px;
    max-width:117px;
}
select.country option {
    padding:0 0 0 2px;
}
.smarturl-label .controls {
    position:relative;
    padding-left:13px;
    margin-left:13px;
}
.smarturl-label .controls .divider-v {
    width:2px;
    height:48px;
    background-image:url('../images/divider.png');
    position:absolute;
    top:-11px;
    left:0;
    background-repeat:repeat-y;
}
/* list page udates */
table.list td.create-time {
    width:95px;
    text-align:center;
}
table.list td.num-urls {
    width:50px;
    text-align:center;
}
table.list td.stats {
    width:40px;
    text-align:center;
}
table.list td.alias-or-code {
    width:220px;
}
table.list td.smarturl-type {
    width:68px;
    text-align:center;
}
table.list td.smarturl-type span {
    text-indent:-9999em;
    display:block;
    margin:-3px auto 0;
    background-repeat:no-repeat;
}
table.list td.smarturl-type span.dvc {
    width:13px;
    height:19px;
    background-image:url('../images/list_device.png');
}
table.list td.smarturl-type span.cou {
    width:18px;
    height:18px;
    background-image:url('../images/list_globe.png');
    margin-top:-2px;
}
table.list td.smarturl-type span.evt {
    width:13px;
    height:19px;
    background-image:url('../images/list_pin.png');
}
table.list td.smarturl-type span.mus {
    width:18px;
    height:18px;
    background-image:url('../images/list_music.png');
}
table.list td.smarturl-type span.str {
    width:27px;
    height:18px;
    background-image:url('../images/list_stream.png');
}
table.list td.smarturl-type span.flx {
    width:18px;
    height:18px;
    background-image:url('../images/list_flex.png');
}
table.list td.smarturl-type span.ret {
    width:20px;
    height:18px;
    background-image:url('../images/list_retail.png');
}
table.list td.num-clicks {
    width:80px;
    text-align:center;
}
table.list tbody td.num-clicks {
}
table.list td.premium {
    width:68px;
    text-align:center;
}
table.list tbody td.premium {
    padding:0;
}
table.list td.premium .premium {
    background-image:url('../images/list_premium3.png');
    background-position:50% 50%;
    background-repeat:no-repeat;
    display:block;
    width:17px;
    height:20px;
    text-indent:-9999em;
    margin:6px auto 0;
}

/* itunes panel */
.itunes-expansion-results {
    margin-top:8px;
    background-image:url('../images/divider_h.jpg');
    background-repeat:repeat-x;
    padding-top:12px;
}
.itunes-expansion-results .itunes-result-box {
    display:block;
    float:left;
    background-image:url('../images/white_box_bg.png');
    padding-left:0px;
}
.itunes-expansion-results .itunes-result-box.conflicts {
    width:270px;
    margin-right:15px;
}
.itunes-expansion-results .itunes-result-box.new {
    width:310px;
}
.itunes-expansion-results .num-itunes-urls {
    float:left;
    background-image:url('../images/divider_v_3.png');
    background-repeat:repeat-y;
    background-position:right top;
    text-align:center;
    width:125px;
    color:#3a3e47;
    font-size:13px;
    margin-right:8px;
    font-weight:bold;
}
.itunes-expansion-results .num-itunes-urls .num {
    display:block;
    font-size:46px;
    font-weight:bold;
}
.itunes-expansion-results .new .num-itunes-urls  {
    width:100px;
    margin-right:3px;
}
.itunes-expansion-results li {
    padding:3px 0;
    color:#5d6168;
    height:14px;
}
.itunes-result-box li .num {
    display:inline-block;
    width:25px;
    text-align:right;
    font-weight:bold;
    color:#3a3e47;
    text-decoration:inherit;
}
.itunes-expansion-results li div {
    display:block;
    float:left;
    width:133px;
}
.itunes-expansion-results .removed div {
    text-decoration:line-through;
}
.itunes-result-box.conflicts .controls {
    padding-top:3px;
}
.itunes-result-box.conflicts .controls .spacer {
    display:inline-block;
    margin-left:5px;
    padding-right:5px;
    width:2px;
    background-image:url('../images/divider_v_3.png');
    background-repeat:repeat-y;
    height:10px;
}
.itunes-expansion-results a.remove, .itunes-expansion-results a.add {
    background-image:none;
    display:block;
    float:left;
}
a.remove .icon, a.add .icon {
    display:block;
    float:left;
    height:12px;
    width:13px;
    margin-right:3px;
    background-repeat:no-repeat;
    margin-top:1px;
}
a.remove .icon {
    background-image:url('../images/remove.png');
}
a.add  .icon {
    background-image:url('../images/add.png');
}
.itunes-expansion-results a:hover .icon {
    background-position:0 100%;
}
.rescan.disabled a {
    color:#ccc;
}

.right-controls {
    float:right;
    width:400px;
    padding:8px 0;
}
.right-controls select {
    margin-top:4px;
}
div.export {
    position:relative;
    float:right;
    margin-left:10px;
    margin-top:1px;
}
a.export {
    display:block;
    background:url('../images/export_csv.png') no-repeat 0 0;
    padding-left:30px;
    height:23px;
    line-height:23px;
    color:#5d6168;
    text-decoration:none;
}
a.export:hover {
    color:#ff8f2b;
}
.unused-url {
    display:block;
    padding:4px;
    border:1px solid #909090;
    text-decoration:line-through;
    font-family:"Lucida Grande", Helvetica, Arial, sans-serif;
    font-size:12px;
    white-space:nowrap;
    overflow:hidden;
    line-height:15px;
    background-image:url('../images/empty_check.jpg');
    cursor:pointer;
}
.itunes-conflict input.local-url, .itunes-updated input.local-url, .unused-url {
    width:428px;
    padding-left:22px;
    background-repeat:no-repeat;
    background-position:3px 3px;
    margin:2px 0;
}
.itunes-conflict input.local-url, .itunes-updated input.local-url {
    background-image:url('../images/check.jpg');
}
.swap {
    display:none;
}
.inner-box {
    background-image: url('../images/white_box_bg.png');
    font-size:13px;
    font-weight:700;
    color:#3a3e47;
}
#scheduled-rescan-container {
    background-image: url('../images/white_box_bg.png');
    margin-top:12px;
    display:none;
}
.schedule-form .title {
    font-weight:900;
    font-size:13px;
}
.schedule-form {
    color:#3a3e47;
    font-size:13px;
    font-weight:700;
    float:left;
    width:400px;
}
#scheduled-rescan-container .schedule-form {
    background: url('../images/divider_v.jpg') repeat-y right 0;
}
#rescan-right {
    float:right;
    width:205px;
}
#rescan-right .schedule-list {
    display:none;
}
#rescan-blurb {
    display:none;
}
#rescan-blurb .title {
    padding-left:40px;
    background:url('../images/rescan_34x34.png') no-repeat 0 0;
    height:34px;
    line-height:34px;
    color: #3a3e47;
    font-size:14px;
    font-weight:700;
    padding-bottom:8px;
}
.rescan-explanation {
    font-weight:400;
    color:#5d6168;
    line-height:1.2em;
}
#scheduled-rescan-container .rescan-url, .ui-tooltip-content .rescan-url {
    display:block;
    width:380px;
}
.schedule-form .add {
    display:block;
    background-image:none;
    width:200px;
}
.schedule-form .add .icon {
}
.schedule-form input.date {
    margin-right:5px;
}
#scheduled-rescan-container .remove {
    display:inline-block;
    background-image: url('../images/remove.png');
    width:12px;
    height:12px;
}
#rescan-list {
    font-weight:400;
    margin-bottom:8px;
}
#rescan-list li {
    padding:2px 0;
    font-size:12px;
    height:12px;
}
#rescan-list li span {
    display:inline-block;
}
#rescan-list .date-name {
    width:70px;
    cursor:pointer;
    color:#FF6D00;
}
#rescan-list .timezone-name {
    width:113px;
}
#rescan-list .not-editable .date-name {
    color:inherit;
}
#rescan-list .not-editable .remove {
    display:none;
}
.rescan-row.template {
    display:none;
}
.rescan-row.placeholder span {
    width:70px;
    border-bottom:1px dashed #aaa;
    height:11px;
}
.rescan-complete {
    display:inline-block;
    width:14px;
    height:11px;
    background:url('../images/rescan_check.png') no-repeat 0 0;
}
.rescan-in-progress {
    display:inline-block;
    width:14px;
    height:11px;
    background:url('../images/rescan_progress.png') no-repeat 0 7px;
}
#rescans-remaining-blurb {
    color:#5d6168;
    font-weight:normal;
}
#rescans-remaining-blurb.error {
    color:#c4161b;
}
.schedule-form .form-row {
    padding:5px 0;
}
.schedule-form.disabled, .schedule-form.disabled input[type=text] {
    color:#a4a4a4;
}
.schedule-form.disabled .add, .schedule-form .add-disabled{
    display:none;
}
.schedule-form.disabled .add-disabled {
    display:block;
    color:#5d6168;
}

.schedule-form .label-row span {
    font-size:12px;
    display:inline-block;
}
.schedule-form .timezone-name {
    font-weight:400;
    display:inline-block;
    padding:4px;
    border: 1px solid #909090;
    min-height:12px;
}
.label-row span.help-trigger {
    padding-left:3px;
}
.ui-tooltip-content .dark a {
    color:#3a3e47;
    text-decoration:none;
}
.ui-tooltip-content a.add {
    line-height:17px;
}
.ui-tooltip-content .dark a.add .icon {
    width:17px;
    height:15px;
    background-image:url('../images/rescan_update.png');
}
.ui-tooltip-content .schedule-form {
    margin:5px;
}
.help-trigger {
    vertical-align: text-top;
    color: #9c9d9e;
    font-size: 13px;
    cursor: default;
    font-weight:700;
}
.ui-tooltip-content .schedule-form .help-trigger {
    display:none;
}
.ui-tooltip-content .schedule-form .title {
    display:none;
}
.ui-tooltip-content .schedule-form .collapsible-heading {
    display:none;
}
.ui-tooltip-content .schedule-form .collapsed .collapsible-content {
    display:block;
}

.collapsed .collapsible-content {
    display:none;
}
.collapsible-heading {
    padding-left:12px;
    background-repeat:no-repeat;
    background-image:url('../images/toggle2.gif');
    background-position:0 1px;
    cursor:pointer;
    display:inline-block;
}
.collapsed .collapsible-heading {
    background-image:url('../images/toggle1.gif');
}
/*
.collapsible-heading {
	display:none;
}
.collapsible-content {
	display:block !important;
}
.collapsible-container {
	padding:0 !important;
}
*/
span.customSelect { min-width:135px; font-size:12px; font-weight:400; background-color: #fff; padding:6px 7px 5px 7px; border:1px solid #909090; }
span.customSelect.changed {  }
.customSelectInner { background:url(canvas-list-nav-item-arrow.gif) no-repeat center right; }

#sidebar-premium .sidebar-heading > div {
    background-image:url('../images/side_star.png');
    background-position: 18px 0px;
}

#sidebar-premium .sidebar-bullet.no-icon {
    padding-left:15px;
}
#premium-drawer {
}
#premium-drawer .sidebar-bullet {
    border-top:0px none transparent;
    padding:12px 12px 6px 60px;
}
#premium-drawer .sidebar-bullet:last-child {
    padding-bottom:14px;
}
.sidebar-info .sidebar-icon {
    background-image: url('../images/side_info.png');
}
.sidebar-prem-company .sidebar-icon {
    background-image: url('../images/icon_hierarchy.png');
}
.sidebar-bullet.premium .sidebar-icon {
    background-image: url('../images/star_button.png');
}
#premium-affiliate .sidebar-icon {
    background-image: url('../images/premium_coins.png');
}
#premium-rescan .sidebar-icon {
    background-image: url('../images/rescan_34x34.png');
}
#premium-param .sidebar-icon {
    background-image: url('../images/premium_brain.png');
}
#premium-health .sidebar-icon {
    background-image: url('../images/premium_health.png');
}
#sidebar-premium .pipe {
    color:#bbbcbe;
    padding:0 3px 0 4px;
}
#sidebar-premium #non-premium .sidebar-icon {
    background-image: url('../images/side_warning.png');
}
/*
#sidebar-premium .last {
	border-top:0px none transparent;
	padding-top:0;
}
#non-premium {
	padding-bottom:1px;
}
*/
#sidebar-stats .sidebar-icon {
    background-image: url('../images/side_pie.png');
}
#sidebar-stats .sidebar-blurb {
    line-height:26px;
}
.meta-info-section {
    padding:6px 0 0 48px;
    background-image:url('../images/side_info.png');
    background-position: 1px 3px;
    background-repeat:no-repeat;
}

.dialog-custom .ui-dialog-titlebar {
    display:none;
}
.dialog-custom .close {
    clear:both;
    display:block;
}
.dialog-custom {
    font-size:12px;
    background-color:#ecedf1;
    font-family:museo-sans, "Lucida Grande", Helvetica, Arial, sans-serif;
}
#dialog-blacklist {
    padding:0 0 30px 0;
}
#blacklist-explanation {
    float:left;
    width:350px;
    text-align:left;
    margin:30px 0 0 30px;
}
#blacklist-restrictions {
    float:right;
    width:200px;
    text-align:left;
    margin:40px 30px 0 0;
    background: url('../images/divider.png') repeat-y 0 0;
    padding-left:20px;
}
.dialog-custom.ui-dialog .ui-dialog-buttonpane {
    margin-top:0;
    text-align:center;
    border-width: 0;
    padding: .6em;
}
.dialog-custom.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    float:none;
    margin:0 auto;
}
.dialog-custom.ui-dialog .ui-dialog-buttonpane button {
    margin:0;
    background: url('../images/close.png') no-repeat 0 0;
    width: 88px;
    height: 35px;
    border:0px none;
    box-shadow:none;
}
.dialog-custom.ui-dialog .ui-dialog-buttonpane button.ui-button.ui-state-hover {
    background-position:0 100%;
}
.dialog-custom .ui-button-text-only .ui-button-text {
    padding:0;
    display:none;
}
#blacklist-explanation h2 {
    color:#3a3e47;
    font-size:25px;
    font-weight:bold;
    line-height:81px;
    padding-left:98px;
    background: url('../images/popup_caution.png') no-repeat 0 0;
}
#blacklist-explanation p, #dialog-rescans-exceeded p {
    margin-top:20px;
    line-height:1.4em;
    color: #5d6168;
    font-weight:bold;
}
#blacklist-restrictions h3 {
    color:#3a3e47;
    font-weight:bold;
    padding-bottom:15px;
}
#blacklist-restrictions li {
    color:#a53237;
    line-height:1.5em;
    padding:7px 0 15px 57px;
    font-weight:bold;
    background-repeat:no-repeat;
}
#blacklist-aff {
    background-image:url('../images/popup_coins.png');
}
#blacklist-rescan {
    background-image:url('../images/popup_clock.png');
}
#blacklist-param {
    background-image:url('../images/popup_brain.png');
}
#dialog-rescans-exceeded h2 {
    color:#3a3e47;
    font-size:25px;
    font-weight:bold;
    line-height:81px;
    margin:30px auto 20px auto;
    background: url('../images/popup_caution.png') no-repeat 30px 0;
}
#dialog-rescans-exceeded.ui-dialog-content {
    padding-bottom:20px;
}
/*
	"drawer" for itunes premium info
*/
.affiliate-choice .collapsible-container {
    padding-top:7px;
}

#scheduled-rescan-container .rescan-url.error, .ui-tooltip-content .rescan-url.error {
    padding-left:22px;
    background:url('../images/light_red2.png') no-repeat 3px 3px;
    width:362px;
}

.schedule-form .validation-feedback li {
    color:#5d6168;
}

/*
Event Stuff
*/
#event-urls-list .button-col a.add {
    display:none;
}
#event-urls-list tr:last-child a.add {
    display:block;
}
#event-urls-list tr:last-child a.done {
    display:none;
}
.editing .view-container, .viewing .edit-container .non-map, .viewing .edit-container .map-container, .viewing .edit-container .after-map {
    display:none;
}
.map-view .edit-container .map-container {
    display:block;
}
.edit-container .non-map {
    float:left;
    width:180px;
}
#event-urls-list .button-col a.done {
    background-image: url('../images/events_checkmark.png');
}
#event-urls-list .button-col a.edit {
    background-image: url('../images/events_edit.png');
    width:21px;
    height:23px;
}
#event-urls-list .button-col a.toggle-map {
    background-image: url('../images/events_view_map.png');
    width:14px;
    height:23px;
}
.edit-container .map-container {
    float:right;
    width:460px;
    height:200px;
    border:solid 2px #dadbde;
    background-image:url('../images/events_default_map.png');
    background-repeat:no-repeat;
}
.edit-container .after-map {
    clear:both;
}
.edit-container .label {
    display:block;
    padding:3px 0px;
    color:#3a3e47;
}
.edit-container input[type=text] {
    margin-bottom:12px;
}
.radius-slider {
    float:left;
    width:143px;
    margin-top:10px;
}
.edit-container input.location, .edit-container input.venue {
    width:161px;
}
.edit-container input.radius {
    float:left;
    margin-left:5px;
    width:20px;
    background-color:transparent;
    border:none transparent;
    font-weight:bold;
    color:#5d6168;
    padding-right:0;
}
.ui-slider-horizontal .ui-slider-handle {
    background-image:url('../images/events_radius_handle.png');
}
.pac-container {
    text-align:left;
}
#event-urls-list input.local-url {
    width:600px;
    float:left;
}
.after-map .button-col {
    float:right;
    padding-top:1px;
    margin-right:1px;
}
.view-container {
    position:relative;
    padding:12px 140px 12px 73px;
    height:51px;
    color:#3a3e47;
    font-size:13px;
    font-weight:700px;
}
.view-container .date {
    position:absolute;
    left:7px;
    top:12px;
    background-image:url('../images/events_date.png');
    width:51px;
    height:51px;
    color:#ff6d00;
    text-align:center;
}
.view-container .date .month, .view-container .date .day {
    display:block;
    margin:0 auto;
    font-weight:bold;
}
.view-container .date .month {
    font-size:12px;
    padding-top:10px;
    text-transform:uppercase;
}
.view-container .date .day {
    font-size:20px;
    padding-top:0px;
}
.view-container .button-col {
    position:absolute;
    top:26px;
    right:1px;
    width:110px;
}
.view-container .button-col a {
    float:right;
    margin-left:15px;
}
.view-container .location, .view-container .radius {
    float:left;
    padding-top:6px;
    padding-bottom:5px;
}
.view-container .radius {
    background:url('../images/events_radius.png') no-repeat 0px 3px;
    padding-left:27px;
    color: #949496;
    margin-left:13px;
}
.view-container .url {
    float:left;
    width:430px;
    clear:left;
    overflow:hidden;
    color: #949496;
    padding-top:10px;
    line-height:1.1em;
}
.view-container .form-error {
    float:left;
    clear:left;
}
#event-urls-list .url-info {
    clear:both;
    padding-top:0px;
    padding-bottom:5px;
}
/* auto tagging */
#auto-tagging-container {
}
.conversion-tagging-container .title {
    line-height:18px;
}
.premium-only {
    background-image:url('../images/premium_only.png');
    background-position: right 0px;
    background-repeat:no-repeat;
    text-indent:-9999em;
    margin-left:5px;
    display:inline-block;
    width:95px;
    height:18px;
}
.options .premium-only {
    background-image:url('../images/premiumonly_light.png');
}
.enterprise-only {
    background-image:url('../images/enterprise_dark.png');
    background-position: right 0px;
    background-repeat:no-repeat;
    text-indent:-9999em;
    margin-left:5px;
    display:inline-block;
    width:109px;
    height:18px;
}
.options .enterprise-only, .light.enterprise-only {
    background-image:url('../images/enterprise_light.png');
}

.options label {
    color:#3a3e47;
}
.conversion-tagging-container .tag-container {
    float:left;
    background-image: url('../images/divider_v_3.png');
    background-repeat: no-repeat;
    background-position: right 10px;
    background-height:1px 30px;
    margin-right:27px;
    margin-top:5px;
    padding-bottom:5px;
    padding-right:20px;
}
.conversion-tagging-container .tag-container .tag {
    font-size:36px;
    font-weight:bold;
    display:block;
    width:133px;
    height:43px;
}
.conversion-tagging-container .tag-container #conversion-id.tag,
.conversion-tagging-container .tag-container .conversion-id.tag {
    width:150px;
}
.conversion-tagging-container {
    width:348px;
}
.conversion-tagging-container .tag-container.dark {
    background-image:none;
    padding-right:5px;
    margin-right:0;
}
.conversion-tagging-container .controls-container {
    margin-top:10px;
    float:left;

    display:none;
}
a.report .icon {
    background-image:url('../images/small_arrow.png');
    display: block;
    float: left;
    height: 12px;
    width: 13px;
    margin-right: 3px;
    background-repeat: no-repeat;
}
a:hover .icon {
    background-position:0 100%;
}
.conversion-tagging-container .controls-container .form-row {
    padding-top:3px;
}
.conversion-tagging-container.off .tag, .conversion-tagging-container.off .label, .conversion-tagging-container.off label,
.conversion-tagging-container.disabled .tag, .conversion-tagging-container.disabled .label, .conversion-tagging-container.disabled label,
.conversion-tagging-container.disabled label#tag-enabler,
.conversion-tagging-container.disabled label.tag-enabler {
    color:#a4a4a4;
}
.conversion-tagging-container.off #tag-enabler,
.conversion-tagging-container.off .tag-enabler {
    color:#3a3e47;
}
.conversion-tagging-container.on .tag, .conversion-tagging-container.on .label, .conversion-tagging-container.on label,
.conversion-tagging-container.on label#tag-enabler {
    color:#3a3e47;
}
.conversion-tagging-container.premium #affiliate-label,
.conversion-tagging-container.premium #affiliate-token,
.conversion-tagging-container.premium .affiliate-label,
.conversion-tagging-container.premium .affiliate-token {
    color:#3a3e47 !important;
}

#sidebar-verify-section .sidebar-heading > div {
    background-image:url('../images/side_verify2.png');
    background-position: 10px 10px;
}
#sidebar-verify-section .sidebar-icon {
    background-image:url('../images/side_mail.png');
}

.dialog-overlap .dialog-alert-heading {
    margin:30px 0 10px 30px;
    text-align:left;
    color: #3a3e47;
    font-size: 25px;
    font-weight: bold;
    line-height: 81px;
    padding-left: 98px;
    background: url('../images/mapoverlap.png') no-repeat 0 0;
}
.dialog-overlap .dialog-alert-body {
    padding:20px 30px;
    line-height: 1.4em;
    color: #5d6168;
    font-weight: bold;
    text-align:left;
}
#event-url-meta .rounded {
}
#event-url-meta #smartUrl\.artist {
    width:241px;
}
#event-url-meta .label {
    padding: 12px 0px 0 0;
    color: #3a3e47;
}
#event-url-meta #render-domain {
    color:inherit;
}
#event-url-meta input[name=smartUrl\.alias\.alias] {
    width:164px;
    padding-left:0;
}
#event-url-meta .event-left {
    float:left;
    width:260px;
}
#event-url-meta .event-right {
    margin-left:263px;
    min-height:120px;
    padding-left:20px;
    background: url('../images/divider.png') repeat-y 0 0;
}
#event-url-meta .event-map {
    height:100px;
    padding:30px 20px 0;
    line-height:1.25em;
    text-align:center;
    background-image:url('../images/map_pin_faded.png');
    background-repeat:no-repeat;
    background-position:50% 50%;
}
#event-url-meta .event-map a {
    display:block;
    font-weight:bold;
    font-size:13px;
}
#event-url-meta input.disabled {
    background-color:transparent;
}
.dialog-showsnearby .dialog-alert-heading {
    margin: 10px 0 10px 10px;
    text-align: left;
    color: #3a3e47;
    font-size: 25px;
    font-weight: bold;
    line-height: 130px;
    padding-left: 120px;
    background: url('../images/map_pin_faded.png') no-repeat 0 0;
}
.dialog-showsnearby .dialog-alert-body {
    padding: 20px 30px;
    line-height: 1.4em;
    color: #5d6168;
    font-weight: bold;
    text-align: left;
}
.tag-container a {
    background-image:none;
}
.tag-container a.add .icon {
    margin-top:0;
}
.rounded.options {
    margin-top:15px;
    width: 437px;
}
tbody.mid { display:none }
.toggle .toggle-hide {display:none }
.expanded .toggle .toggle-hide {display:block}
.expanded .toggle .toggle-show {display:none}

tr.toggle td {
    padding:5px;
    background-image:none;
    background: #e5e6e9; /* Old browsers */
    background: -moz-linear-gradient(top,  #e5e6e9 0%, #d9dadc 100%, #d9dadc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e6e9), color-stop(100%,#d9dadc), color-stop(100%,#d9dadc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e5e6e9 0%,#d9dadc 100%,#d9dadc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e5e6e9 0%,#d9dadc 100%,#d9dadc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e5e6e9 0%,#d9dadc 100%,#d9dadc 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #e5e6e9 0%,#d9dadc 100%,#d9dadc 100%); /* W3C */
}

tr.toggle a {
    display:block;
    background-repeat:no-repeat;
}
tr.toggle a.toggle-show {
    padding-top:7px;
    padding-bottom:11px;
    background-position:50% 19px;
    background-image:url('../images/toggle3.gif');
}
tr.toggle a.toggle-hide {
    padding-top:10px;
    padding-bottom:5px;
    background-position:50% 1px;
    background-image:url('../images/toggle4.gif');
}
#sidebar-maintenance .sidebar-heading > div {
    background-image: url('../images/side_maintenance.png');
}
#sidebar-wrench .sidebar-icon {
    background-image: url('../images/side_wrench.png');
}
.entry-bubble {
    background-color: #fff;
    float: left;
    margin-right: 5px;
    padding: 5px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    margin-bottom: 3px;
    border: solid 1px #909090;
    color:#000;
}
.entry-bubble a {
    padding-left:5px;
    color:#ff6d00;
    text-decoration:none;
}
.disabled .entry-bubble {
    background-color:#cacaca;
}
.shieldable {
    position:relative;
}
.shield {
    position: absolute;
    z-index: 100;
    background-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
}
.shielded .shield {
    width:100%;
    height:100%;
}
.shielded {
    color:#A4A4A4;
}
.shielded input, .shielded select {
    color:#A4A4A4;
    background-color:#F0F0F0;
    border-color:#909090;
}
.heading .premium-only {
    vertical-align:bottom;
}
#decoratedSmartUrl .smarturl-type {
    float:right;
    height:50px;
    width:124px;
    background-repeat:no-repeat;
}
#decoratedSmartUrl a.smarturl-type {
    background-position:0 -50px;
    cursor:pointer;
}
#decoratedSmartUrl a.smarturl-type:hover {
    background-position:0 -100px;
}
.COU .smarturl-type {
    background-image:url(../images/type_country.png);
}
.DVC .smarturl-type {
    background-image:url(../images/type_device.png);
}
.MUS .smarturl-type {
    background-image:url(../images/type_music.png);
}
.STR .smarturl-type {
    background-image:url(../images/type_stream.png);
}
.EVT .smarturl-type {
    background-image:url(../images/type_event.png);
}
.FLX .smarturl-type {
    background-image:url(../images/type_flex.png);
}
.RET .smarturl-type {
    background-image:url(../images/type_retail2.png);
}

#type-choices {
    padding:8px;
    font-weight:bold;
}
.choice-list li {
    border-top:1px solid #ccc;
    padding:7px 0 7px 6px;
    min-width:130px;
}
#type-choices li:first-child {
    margin-top:8px;
}
.choice-list li a {
    display:block;
    height:20px;
    line-height:20px;
    padding-left: 40px;
    background-repeat:no-repeat;
    background-position:left 50%;
    font-weight:bold;
}
.choice-list li a:hover {
    color:#ff6d00;
}
#type-choices li.COU a {
    background-image:url(../images/list_globe.png);
}
#type-choices li.DVC a {
    background-image:url(../images/list_device.png);
    background-position-x:3px;
}
#type-choices li.MUS a {
    background-image:url(../images/list_music.png);
}
#type-choices li.STR a {
    background-image:url(../images/list_stream.png);
}
#type-choices li.EVT a {
    background-image:url(../images/list_event.png);
}
#type-choices li.FLX a {
    background-image:url(../images/list_flex.png);
}
#type-choices li.RET a {
    background-image:url(../images/list_retail.png);
}

input[type=checkbox].ios-toggle {
    height:0;
    width:0;
    opacity:0;
    border:0 none;
    margin:0;
    outline:none;
    display:block;
}
.ios-toggle + label {
    box-sizing:border-box;
    padding:1px;
    display: block;
    position: relative;
    width:26px;
    height:16px;
    border-radius:8px;
    background-color:transparent;
    cursor:pointer;
    transition: all .2s ease-in;
    box-shadow: inset 0px 0px 0px 1px #d5d5d5;
}

.ios-toggle + label:before {
    content: "";
    position: absolute;
    display: block;
    z-index:1;
    height:14px;
    width:14px;
    border-radius:8px;
    top:1px;
    left:0px;
    right:auto;
    background:white;
    box-shadow: 0px 2px 2px 1px rgba(0,0,0,.2);
    transition: all .2s ease-in;
}

.ios-toggle + label:after {

    content:attr(data-text);
    padding-left:36px;
    line-height:16px;
    color: #5d6168;
    white-space:nowrap;
}

.ios-toggle:checked + label {
    box-shadow: inset 0px 0px 0px 10px #ff6d00;
}

.ios-toggle:checked + label:before {
    left:calc(100% - 15px);
}

.hidden {
    width:0;
    height:0;
    display:none;
}

.rounded-top-only {
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.rounded-bottom-only {
    -webkit-border-top-right-radius: 0px;
    -webkit-border-top-left-radius: 0px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-topleft: 0px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}
#dialog-android-options h2 {
    font-size:20px;
    color: #3A3E47;
    font-weight:400;
    line-height: 70px;
    padding-left: 64px;
    background-image: url(../images/beaker_icon.png);
    background-repeat: no-repeat;
    background-position: left center;
    display: inline-block;
    margin:5px 0;
}
.android-option {
    text-align:center;
    width:290px;
    float:left;
    margin:5px 10px 20px 10px;
}
.android-option:last-child {
    margin-right:0;
}
.android-option .option-format {
    background-image:url(../images/container_bg_dark.png);
    padding:10px;
    color: #3A3E47;
    font-weight:700;
    font-size:16px;
    height:18px;
}
.android-option .option-details {
    height:286px;
    background: url('../images/container_bg.png') repeat 0 0;
    padding:12px 8px 0px 8px;
}
.android-option .option-title {
}
.android-option .option-title a {
    color: #FF6D00;
    font-size:16px;
    text-decoration:none;
    height:22px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
    display:block;
}
.android-option .option-artist-phrase {
    color: #3A3E47;
    font-size:14px;
    height:15px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
    display:block;
}
.android-option .inner-box {
    padding:8px;
    width:auto;
    display:inline-block;
    color:#5d6168;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    margin:8px auto;
}
.android-option .option-label {
    color: #3A3E47;
    font-size:14px;
    height:15px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
    display:block;
}
.android-option .image-holder {
    width:auto;
    padding:4px;
    background-color:#fff;
    display:inline-block;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}
.android-option .option-image {
    max-height:172px;
    margin:10px auto;
}
.android-option li.inner-box {
    width:125px;
    padding:3px;
}
.android-option li span {
    display:block;
    font-size:12px;
}
.android-option li span.option-heading {
    font-size:10px;
    font-weight:400;
    color:#FF6D00;
}
.android-option .option-button {
    height:35px;
    padding-top:0;
}
.android-option .button {
    width:104px;
    height:31px;
    background-image:url(../images/select_button2.png);
    margin:0 auto;
}
.android-option.na .button {
    background-image:url(../images/select_greyed.png);
}
.android-option.none .button {
    background-image:url(../images/select_button2.png);
}
.android-option.na .option-details > div, .android-option.na .option-details > ul {
    visibility:hidden;
}
.android-option.none .option-label {
    padding-top:20px;
    color:#5d6168;
    font-size:15px;
    visibility:visible !important;
}
.android-option.none .option-details > ul {
    display:none !important;
}
.android-option.na .option-image {
    visibility:visible !important;
}
.android-option.option-none .rounded-top-only label {
    font-size:32px;
    color: #3A3E47;
    font-weight:400;
    display:block;
    padding-top:192px;
    height:100px;
}
#dialog-android-options #options-container {
    text-align:left;
}
.amazon-feedback {
    padding:4px 0;
    font-size: 12px;
    line-height: 16px;
}
.amazon-match-container ul {
    float: left;
    width: 104px;
    margin-right:10px;
    background: url('../images/divider_v_2.png') repeat-y right 0;
}
.amazon-match-container li {
    display: block;
    padding-left: 16px;
    background-repeat: no-repeat;
    background-image: url('../images/light_gray.png');
    background-position: 0 50%;
    margin-right: 10px;
    margin-bottom:6px;
    font-size: 12px;
    font-weight: 700;
    height: 15px;
    line-height: 16px;
    cursor: default;
}
.amazon-match-container li.green {
    background-image: url('../images/light_green2.png');
}
.amazon-info .image-holder {
    display: block;
    float: left;
    margin-right: 8px;
    padding: 2px;
    background-color: #fff;
    width: 75px;
    height: 75px;
    border: 1px solid #73777d;
}
.amazon-match-container .item-name {
    font-weight: 400;
    color: #3A3E47;
    text-decoration: none;
    float: left;
    display: block;
    width: 260px;
}
.amazon-info .artist-name, .amazon-info .item-label {
    font-weight:700;
}
.amazon-info .item-label {
    padding-right: 3px;
}
.amazon-match-row .validation-feedback {
    display:none;
}
.amazon-match-row .url-info {
    display:block;
    height:auto;
}
.amazon-expand-feedback {
    float: right;
    background-repeat: no-repeat;
    font-size: 12px;
    font-weight: 700;
    height: 20px;
    line-height: 16px;
    width: 170px;
    text-align:right;
    overflow: hidden;
    position:relative;
}
.amazon-expand-feedback .progress-background {
    height:17px;
    background-color:#dadbde;
}
.amazon-expand-feedback .progress-bar {
    background-color:#ff8f2b;
    z-index:0;
    height:17px;
    width:0;
}
.amazon-expand-feedback .message {
    position:absolute;
    z-index:1;
    top:0;
    font-size:12px;
    font-weight:400;
    padding-left:4px;
    color:#333;
}
.amazon-expand-feedback.green {
    padding-left:20px;
    background-image: url("../images/light_green2.png");
    background-position:0 0;
    background-color:transparent;
    width:auto;
}
#alias-container .alias label {
    display:inline-block;
    padding:0;
}
.namespace-status label.label {
    margin-left:5px;
    /*
        padding-left: 16px;
        background-repeat: no-repeat;
        background-position: 0 50%;
        */
}
.namespace-available label.label {
    background-image: none;
}
#namespace-1-container.namespace-available label.label {
    padding-left:0;
}
.namespace-unavailable /*label.label*/ .indicator {
    background-image: url("../images/lock.png");
    background-repeat: no-repeat;
    background-position: right 50%;
    display:inline;
    width:13px;
    padding-left:25px;
    line-height:30px;
    height:30px;
}
input[type='text'].disabled {
    background-color:#F0F0F0;
}
.logged-in nav {
    padding-top:10px;
}
nav ul ul {
    display: none;
}
nav ul {
    list-style: none;
    position: relative;
    display: inline-table;
}
nav ul:after {
    content: ""; clear: both; display: block;
}
nav ul li {
    float: left;
    color:#3a3e47;
    text-align:left;
    white-space:nowrap;
    padding-right:20px;
    cursor:pointer;
}
.nav-menu {
    min-width:190px;
}
.nav-menu li:first-child {
    border-top:0px transparent none;
}
.nav-menu.choice-list li {
    padding-right:6px;
}
.ui-tooltip-menu .ui-tooltip-content {
    padding:0;
}
nav > ul > li {
    height:32px;
    line-height:32px;
    padding-left:38px;
    background-repeat:no-repeat;
    background-position:left top;
}
nav > ul > li:last-child {
    padding-right:0;
}
nav > ul > li:hover {
    background-position:0 100%;
}
#nav-user.fb {
    background-image:url('../images/fb_user_icon.png');
}
#nav-user.gl {
    background-image:url('../images/google_user_icon.png');
}
#nav-user.su {
    background-image:url('../images/smarturl_user_icon.png');
}
#nav-company {
    background-image:url('../images/company_icon.png');
}
#nav-system {
    background-image:url('../images/labs_icon.png');
}
.nav-menu li a {
    height:24px;
    line-height:24px;
    background-image:url('../images/list_icon.png');
    background-position:4px top;
    font-size:13px;
}
li#nav-account a {
    background-image:url('../images/manage_icon.png');
}
li#nav-users a, li#nav-company-users a {
    background-image:url('../images/users_icon.png');
}
li#nav-companies a {
    background-image:url('../images/companies_icon.png');
}
li#nav-logout a {
    background-image:none;
    padding:0;
}
li#nav-logout {
    text-align:center;
    background-image: linear-gradient(to bottom, #e1e2e4, #d5d4d9);
}
li#nav-logout:hover {
    background-image: linear-gradient(to bottom, #f2f2f2, #d4d3d8);
}
li#nav-tags a {
    background-image:url('../images/tag2.png');
}
#stats-analytics .inner-box {
    margin:4px;
    margin-top:12px;
    height:55px;
}
#stats-analytics .inner-box.off {
    display:none;
}
#ga-id-holder {
    float:left;
    background-image: url('../images/divider_v_3.png');
    background-repeat:repeat-y;
    background-position:right top;
    width:225px;
    margin-right:20px;
    height:55px;
}
#ga-id-holder .label {
    padding-top:0;
}
#ga-id-holder input[type='text'] {
    width:160px;
}
#ga-id-label {
    display:block;
    color: #3a3e47;
    font-size:28px;
    font-weight:bold;
}
.with-label #smartUrl\.smartUrlExtra\.gaParams\.gaId {
    display:none;
}
.with-input #ga-id-label {
    display:none;
}
#ga-id-holder .add {
    display: block;
    background-image: none;
    font-size:13px;
    font-weight:bold;
    margin-top:3px;
}
#ga-id-holder .add .icon {
    margin-top:0;
    background-image: url('../images/small_arrow.png');
}
.rounded th {
    /*line-height:18px;*/
}

.urls-block {
    margin-bottom:10px;
    position:relative;
}
.help-trigger.sticky {
    cursor:pointer;
}

div.country-column, div.url-column {
    float:left;
}
div.country-column {
    border-right:1px solid #fff;
}
div.url-column {
    width:464px;
    border-left:1px solid #fff;
    margin-left:-1px;
}
.url-row .button-col {
    float:left;
}
.url-row {
    clear:left;
    border-bottom:#fff 1px solid;
}
.tfoot.url-row, .country-urls-container .url-row:last-child {
    border-bottom:transparent 0px none;
}
.url-row:after {
    content: "";
    display: table;
    clear: left;
}
td.country-urls-container {
    padding:0;
}
td.country-urls-container .heading, td.country-urls-container .instruction,
td.country-urls-container .remove-dispatch-urls-container,
td.country-urls-container .thead,
td.country-urls-container .tfoot {
    display:none;
}

.url-row > div {
    padding:8px;
}
.country-input-container.edit .country-name, .country-input-container.view .country {
    display:none;
}
.country-urls-container .country-input-container.view, .country-urls-container .country-input-container.edit .country  {
    text-align:right;
}
.country-input-container.view .country-name {
    display:block;
    width:auto;
}
#dialog-amazon-expansion h2 {
    font-size:20px;
    color: #3A3E47;
    font-weight:400;
    line-height: 70px;
    padding-left: 64px;
    background-image: url(../images/beaker_icon.png);
    background-repeat: no-repeat;
    background-position: left center;
    display: inline-block;
    margin:5px 0;
}
#dialog-amazon-expansion .android-option {
    width:205px;
}
#dialog-amazon-expansion .android-option .option-details {
    height:200px;
}
#dialog-amazon-expansion .image-holder {
    height:160px;
    width:160px;
}
#dialog-amazon-expansion .image-holder .front {
    background-image:url('../images/amz_placeholder.png');
    height:160px;
    width:160px;
}
.urls-block {
    margin-top:20px;
}
.urls-block .local-urls .url-row {
    background: url('../images/container_bg.png') repeat 0 0;
}
.urls-block .local-urls .thead.url-row {
    background: url('../images/container_bg_dark.png') repeat 0 0;
    font-weight:bold;
    font-size:12px;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-top-left-radius: 8px;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-topleft: 8px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
.urls-block .local-urls .tfoot.url-row {
    -webkit-border-botom-right-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-radius-bottomright: 8px;
    -moz-border-radius-bottomleft: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}
.tbody .country-column {
    min-height:26px;
}
.urls-block-main:after {
    content: "";
    display: table;
    clear: left;
}
.urls-block input.url {
    width:604px;
}
.urls-block div.url-column {
    width:440px;
}
.urls-block input.local-url {
    width:426px;
}
.urls-block.collapsed .inner-box {
    float:left;
    margin-right:10px;
    height:65px;
}
.urls-block.collapsed .inner-box:last-child {
    margin-right:0;
}
.summary-number {
    float:left;
    text-align:center;
}
.summary-number .number {
    display:block;
    font-size:46px;
    font-weight:bold;
}
.expand-block, .collapse-block {
    display:inline-block;
    clear:left;
    background-repeat:no-repeat;
    background-position: left 1px;
    padding-left:18px;
    cursor:pointer;
}
.expand-block {
    background-image: url('../images/toggle3.gif');
}
.collapse-block {
    background-position: left 3px;
    background-image: url('../images/toggle4.gif');
}

.summary-names {
    float:left;
    margin-left:10px;
    padding-left:10px;
    color:#5d6168;
    font-weight:500;
    background-image: url('../images/divider_v_3.png');
    background-repeat:repeat-y;
    background-position:left top;
    height:65px;
    overflow:hidden;
    line-height:1.3em;
    white-space: nowrap;
}
.countries-summary .summary-number {
    width:84px;
}
.devices-summary {
    width:167px;
}
.devices-summary .summary-number {
    width:50px;
}
.domains-summary .summary-number {
    width:55px;
}
.devices-summary .summary-names {
    width:97px;
}
.domains-summary .summary-names {
    width:215px;
}
.expand-collapse {
    border-top:1px solid #fff;
    background: url('../images/container_bg_dark.png') repeat 0 0;
    text-align:center;
    padding:6px;
}
.urls-block-main > .heading {
    padding-top:0px;
    height: 34px;
    line-height: 34px;
}
.inner-box .devices {
    float:left;
    width:145px;
    margin-right:20px;
    background-image: url('../images/divider_v_3.png');
    background-repeat:repeat-y;
    background-position:right top;
    color:#5d6168;
    font-weight:500;
    margin-top:12px;
    margin-bottom:5px;
}
.default-urls-block .inner-box .devices {
    margin-bottom:15px;
}
.devices .device-name {
    padding-left:5px;
}
.devices .flex-blurb {
    float:left;
}
.devices-panel:after {
    content: "";
    display: table;
    clear: left;
}
.url-info.active {
    display:block;
}
.urls-blocks .add-urls-block {
    margin-top:20px;
    text-align:center;
}
.urls-blocks .add-urls-block .button {
    width:158px;
    height:35px;
    background-image:url('../images/addflexblock_button.png');
    margin:0 auto;
    cursor:pointer;
}
.RET .urls-blocks .add-urls-block .button {
    width:137px;
    background-image:url('../images/addretailblock_button.png');
}

.urls-block .url-info {
    display:block;
    height:0px;
}
.urls-block .url-info.active {
    height:16px;
}
.disabled .device-name {
    color:#c7c7c8;
}
div.all-devices {
    display:block;
    float:left;
    width:360px;
    margin-right:20px;
    padding-right:20px;
    background-image: url('../images/divider_v_3.png');
    background-repeat:repeat-y;
    background-position:right top;
    color:#5d6168;
    font-weight:500;
    height:72px;
}
ul.devices li {
    padding:3px 0;
}
ul.devices li.readonly {
    padding:5px 0 5px 16px;
    background-repeat: no-repeat;
    background-position: 0 50%;
}
ul.devices li.readonly.selected {
    background-image: url('../images/check.png');
}
ul.devices li.readonly.unselected .device-name {
    color: #c7c7c8;
}
.flex-blurb-content {
    color:#5d6168;
    font-weight:400;
    line-height:1.2em;
}
.flex-blurb-title {
    display:inline-block;
    background-repeat:no-repeat;
    background-image:url('../images/flex_additional.png');
    padding-left:40px;
    height:34px;
    line-height:34px;
    padding-bottom:8px;
    font-size:14px;
}
.default-urls-block .flex-blurb-title {
    background-image:url('../images/flex_default.png');
}
.dialog-replace-urls #dialog-alert {
    padding-left: 255px;
    background: url('../images/dialog_rescan.png') no-repeat 50px 30px;
}
.dialog-replace-urls .dialog-alert-heading {
    text-align: left;
    color: #3a3e47;
    font-size: 25px;
    font-weight: bold;
    padding:80px 0 10px 0;
}
.dialog-replace-urls .dialog-alert-body {
    padding-top: 10px;
    line-height: 1.4em;
    color: #5d6168;
    font-weight: bold;
    text-align: left;
    height:95px;
}
.dialog-replace-urls .ui-dialog-buttonset {
    text-align:right;
}
.dialog-replace-urls.dialog-custom.ui-dialog .ui-dialog-buttonpane button {
    margin-left:10px;
}
.dialog-replace-urls.dialog-custom.ui-dialog .ui-dialog-buttonpane button:nth-child(2) {
    background-image:url('../images/Replace_URL_Button_34px.png');
    width:151px;
}
.dialog-replace-urls.dialog-custom.ui-dialog .ui-dialog-buttonpane button:nth-child(1) {
    background-image:url('../images/Keep_URL_Button_34px.png');
    width:128px;
}

.item-feedback {
    padding:4px 0;
    font-size: 12px;
    line-height: 16px;
}
.item-match-container ul {
    float: left;
    width: 104px;
    margin-right:10px;
    background: url('../images/divider_v_2.png') repeat-y right 0;
}
.item-match-container li {
    display: block;
    padding-left: 16px;
    background-repeat: no-repeat;
    background-image: url('../images/light_gray.png');
    background-position: 0 50%;
    margin-right: 10px;
    margin-bottom:6px;
    font-size: 12px;
    font-weight: 700;
    height: 15px;
    line-height: 16px;
    cursor: default;
}
.item-match-container li.green {
    background-image: url('../images/light_green2.png');
}
.item-info .image-holder {
    display: block;
    float: left;
    margin-right: 8px;
    padding: 2px;
    background-color: #fff;
    width: 64px;
    height: 64px;
    border: 1px solid #73777d;
}
.item-match-container .item-name {
    font-weight: 400;
    color: #3A3E47;
    text-decoration: none;
    float: left;
    display: block;
    width: 260px;
}
.item-info .artist-name, .item-info .item-label {
    font-weight:700;
}
.item-info .item-label {
    padding-right: 3px;
}
.item-match-row .validation-feedback {
    display:none;
}
.item-match-row .url-info {
    display:block;
    height:auto;
}
#conversion-and-destination-container {
    display:none;
}
.itunes-choices-container {
    padding-top:12px;
}
.apple-destination-choice-container {
    float:right;
    padding:12px;
    height:113px;
    width:217px;
}
.conversion-tagging-container {
    float:left;
    height:113px;
    width:361px;
}
.apple-destination-choice-container ul {
    padding-top:10px;
}
.apple-destination-choice-container li {
    display:block;
    float:left;
    text-align:center;
    width:103px;
    height:84px;
}
.apple-destination-choice-container li:last-child {
    float:right;
}
.apple-destination-choice-container li label {
    display:block;
    height:82px;
    cursor:pointer;
    border-radius:8px;
    border:1px solid #e9eaee;
    color:#5d6168;
}
.apple-destination-choice-container .icon {
    display:block;
    width:45px;
    height:45px;
    margin:8px auto 7px auto;
    background-repeat:no-repeat;
    background-position:0 100%;
}
.apple-destination-choice-container li label:hover {
    border-color:#FF6D00;
    color:#3a3e47;
}
.apple-destination-choice-container:not(.readonly) li label:hover .icon {
    background-position:0 0;
}
.apple-destination-choice-container.readonly li label:hover {
    border-color: #e9eaee;
    color:#5d6168;
    cursor:default;
}
.apple-destination-choice-container ul.AM li.AM label, .apple-destination-choice-container ul.IT li.IT label {
    border-color:#FF6D00;
    color:#3a3e47;
}
.apple-destination-choice-container ul.AM li.AM .icon, .apple-destination-choice-container ul.IT li.IT .icon {
    background-position:0 0;
}
.apple-destination-choice-container li.AM .icon {
    background-image:url(../images/apple_music.png);
}
.apple-destination-choice-container li.IT .icon {
    background-image:url(../images/itunes_store.png);
}
.apple-destination-choice-container li input[type='radio'] {
    display:none;
}
#google-remarketing-container {
    margin-top:5px;
}
.google-retargeting-options {
    float:left;
    width:260px;
}
.google-retargeting-options td  > div {
    margin:3px 0;
}
#retargeting-lists-checkbox + label {
    display:inline-block;
    margin-right:181px;
}
.google-acct-container {
    float:right;
    width:360px;
    height:82px;
}
.google-acct-select-container {
    padding-top:8px;
}
.google-acct-container .label {
    font-size:13px;
    padding-right:10px;
}
.google-acct-container select {
    width:240px;
}
.google-acct-container .inner-box {
    font-weight:400;
    margin-top:10px;
    color:#5d6168;
    height:16px;
}
.google-acct-container .inner-box .label {
    padding-top:0;
    color:#5d6168;
}
.google-cid-label, .google-conversion-id-label {
}
.google-cid-label {
    float:left;
    width:135px;
}
.google-conversion-id-label {
    float:left;
    width:180px;
    padding-left:12px;
    border-left:solid 1px #e3e3e3;
}
.google-acct-container .no-account {
    color:#909090;
}
.google-retargeting-attributes {
    clear:both;
    margin-top:15px;
}
.attr-name-input-container.edit .attr-name, .attr-name-input-container.view input {
    display:none !important;
}

.datepick {
    display:inline-block;
}
.datepick span:hover {
    cursor:pointer;
}
.datepick span.empty:hover {
    background-image:url(../images/calendar.png);
}
.datepick.edit span {
    display:none;
}
.datepick.view input {
    display:none;
}
.datepick input {
    width:95px;
}
.datepick span, .attrName span {
    display:inline-block;
    min-width:76px;
    min-height:15px;
    padding:4px;
    border:1px solid transparent;
}
.datepick span {
    background-image:url(../images/calendar.png);
    background-repeat:no-repeat;
    background-position:0 3px;
    padding-left:20px;
}
.datepick span.empty {
    background-image:none;
}
#google-remarketing-container .attrName {
    width:110px;
}
#google-remarketing-container .attrDate {
    width:110px;
}
#google-remarketing-container .button-col {
    width:27px;
    border-left-style: solid;
}
#google-remarketing-container .attrName input {
    width:100px;
}
#google-remarketing-container .attrValue input {
    display:block;
    width:94%;
}
#google-remarketing-container .list-indicator {
    display:block;
    height:28px;
    background-repeat:no-repeat;
    background-position: 50% 50%;
}
#google-remarketing-container .list-indicator.no-list {
    background-image: url('../images/light_gray.png');
}
#google-remarketing-container .list-indicator.has-list {
    background-image: url('../images/light_green2.png');
}

#cookie-notice {
    clear:both;
    padding:5px;
}
.tags-list-toggle {
    float:left;
    font-size:14px;
    padding-top:4px;
    width:300px;
}
.tags-list-toggle a {
    font-weight:500;
    color:#5d6168;
    background-repeat:no-repeat;
    position:relative;
    padding-left:26px;
    margin-left:10px;
}
.tags-list-toggle a.selected, .tags-list-toggle a:hover {
    color:#ff6c00;
}
.tags-list-toggle a span {
    display:block;
    background-repeat:no-repeat;
    position:absolute;
    left:0;
    top:0;
    background-position:0 50%;
}
.tags-list-toggle a.selected span {
    background-position:0 0;
}
.tags-list-toggle a:hover span {
    background-position:0 100%;
}
.tags-list-toggle a.smarturls {
    background: url('/_static/images/divider_v.jpg') repeat-y right top;
    padding-right:10px;
    padding-left:22px;
}
.tags-list-toggle a.smarturls span {
    width:12px;
    height:10px;
    top:3px;
    background-image:url(../images/list-icon-small.png);
}
.tags-list-toggle a.tags span {
    width:16px;
    height:16px;
    top:0px;
    background-image:url(../images/tag-icon-small.png);
}
.filters-controls {
    padding-bottom:15px;
    margin-bottom:10px;
    background: url('/_static/images/divider_h.jpg') repeat-x 0 bottom;
}
.filters-controls:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.product-image-container {
    float:left;
    width:160px;
    min-height:160px;
    margin-right:15px;
    padding:5px;
    background-color:#fff;
}
.product-image-container img {
    display:block;
    width:100%;
    height:auto;
}
.product-attributes-container {
    margin-left:185px;
}
.product-attributes-container input[type=text] {
    width:250px;
    margin-bottom:9px;
}
.product-attributes-container input[type=text].url {
    width:439px;
    margin-bottom:0px;
}
.product-information {
    padding-bottom:22px;
    background:url('/_static/images/divider_h.jpg') repeat-x 0 bottom;
}
.retailers-heading {
    padding-top:20px;
}
.remove-retailer-container {
    margin:0;
}
.retailer-summary-block {
    padding:0;
}
.retailer-summary-block .inner-box {
    margin-top:12px;
    margin-bottom:12px;
}
.retailer-summary {
    width:142px;
}
.retailer-summary span {
    display:block;
    height:100%;
    width:100%;
    text-indent:-9999em;
    background-repeat:no-repeat;
    background-position:50% 50%;
    background-size:contain;
}
.position-control-container {
    float:left;
    width:30px;
    margin-right:10px;
    background:url('/_static/images/divider_v.jpg') repeat-y right top;
    text-align:center;
    height:113px;
}
.position-control-container .position-number {
    display:block;
    height:20px;
}
.move-up, .move-down {
    display:block;
    clear:left;
    background-repeat:no-repeat;
    background-position: 0 0;
    margin:0 auto;
    text-indent:-9999em;
    width:13px;
    height:9px;
}
.move-up {
    margin-top:10px;
    margin-bottom:31px;
}
.move-down {
    margin-top:23px;
}
a.move-up {
    background-image: url('../images/toggle4.gif');
    cursor:pointer;
}
a.move-down {
    background-image: url('../images/toggle3.gif');
    cursor:pointer;
}
.busy-mask {
    position:absolute;
    display:none;
    top:0;
}
.urls-block.autopopulating .busy-mask {
    display:block;
    width:100%;
    height:100%;
    opacity:0.4;
    background-color:#aaa;
}
.urls-block.autopopulating .busy-indicator {
    width: 100%;
    height: 20px;
    border: 1px solid #5d6168;
    background-image:
            repeating-linear-gradient(
                    -45deg,
                    #5d6168,
                    #5d6168 11px,
                    #eee 10px,
                    #eee 20px /* determines size */
            );
    background-size: 28px 28px;
    animation: move .5s linear infinite;
    display:block;
    top:50%;
    position:absolute;
    margin-top:-10px;
}

.simple-lightbox {
    background-color: rgba(0,0,0,0.8);
    bottom: 0;
    display: none;
    left: 0;
    overflow: auto;
    padding: 100px 15px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}
.simple-lightbox.open {
    display: block;
}
.simple-lightbox-content {
    background-color: #ffffff;
    padding: 0 30px 30px;
    margin: 0 auto;
    max-width: 960px;
    top: 100px;
}


.color-input {
    margin-bottom: 8px;
}
.color-input:last-child {
    margin-bottom: 0;
}
.color-input .sp-replacer {
    background-color: #f3f4f8;
    border: 1px solid #eaeaed;
    border-radius: 14px;
    height: 26px;
    padding: 0;
    width: 26px;
}
.color-input .sp-dd {
    display: none;
}
.color-input .sp-preview {
    border-radius: 9px;
    border: none;
    height: 18px;
    float: none;
    margin: 4px auto 0;
    width: 18px;
}
.color-input .sp-preview-inner, .color-input .sp-alpha-inner, .color-input .sp-thumb-inner {
    border-radius: 9px;
}
.color-input .label {
    display: inline-block;
    margin-left: 5px;
}


.integer-input {
    margin-bottom: 8px;
}
.integer-input-wrap {
    display: inline-block;
    position: relative;
}
.integer-input input[type=text] {
    height: 16px;
    width: 40px;
}
.integer-input .integer-input-arrows {
    border: 1px solid #909090;
    position: absolute;
    right: 0;
    top: 0;
}
.integer-input .integer-input-arrow {
    background-color: #f3f4f8;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    font-size: 8px;
    height: 12px;
    padding: 2px 0;
    text-align: center;
    width: 13px;
}
.integer-input .integer-input-arrow + .integer-input-arrow {
    border-top: 1px solid #909090;
}
.integer-input .label {
    display: inline-block;
    margin-left: 5px;
}


.retail-customization-button-container {
    border-top: 1px solid #dbdcdf;
    margin-top: 18px;
    padding-top: 19px;
    position: relative;
}
.retail-customization-button-container:before {
    background-color: #ffffff;
    content: '';
    display: block;
    height: 1px;
    position: absolute;
    top: 0;
    width: 100%;
}

.retail-customization-button {
    background-color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    padding: 21px 10px 21px 110px;
    position: relative;
}
.retail-customization-button:before {
    background: url('../images/Tool.png');
    content: '';
    height: 47px;
    display: block;
    position: absolute;
    left: 25px;
    top: 10px;
    width: 56px;
}
.retail-customization-button:after {
    background: url('../images/arrow-right-orange.png');
    content: '';
    height: 18px;
    display: block;
    position: absolute;
    right: 20px;
    top: 22px;
    width: 9px;
}

.retail-customization {

}
.retail-customization .reset {
    background: url('../images/reset-gray.png') no-repeat center center;
    cursor: pointer;
    display: inline-block;
    height: 17px;
    margin-left: 5px;
    vertical-align: text-top;
    width: 14px;
}
.retail-customization .reset-orange {
    background: url('../images/reset-orange.png') no-repeat center center;
    color: #ff6c00;
}
.retail-customization .reset-all {
    background-position: right center;
    height: auto;
    float: right;
    line-height: 19px;
    margin: 30px 0 0;
    min-height: 17px;
    padding-right: 20px;
    width: auto;
}
.retail-customization .label {
    font-weight: 500;
}
.retail-customization h3 {
    color: #3a3e47;
    margin: 15px 0 15px;
    font-weight: bold;
}
.retail-customization-preview {}
.retail-customization-preview .preview-radio {
    cursor: pointer;
    display: inline-block;
    margin: 0 5px;
    vertical-align: middle;
}
.retail-customization-preview .preview-radio-label {
    margin-left: 3px;
}
.retail-customization-preview .heading {
    display: inline-block;
    margin-right: 20px;
    padding: 0;
    vertical-align: middle;
}

a.link-orange {
    color: #FF6D00;
    cursor: pointer;
}

.grid {
    display: block;
}
.grid:after {
    display: block;
    clear: left;
    content: '';
}

@media screen and (min-width: 762px) {
    .grid .grid-col {
        float: left;
    }
    .grid.grid-two .grid-col {
        width: 50%;
    }
    .grid.grid-three .grid-col {
        width: 33.3333%;
    }
    .grid.grid-four .grid-col {
        width: 25%;
    }
}


@keyframes move {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 28px 0;
    }
}
.form-note {
    display:block;
    font-size:11px;
}
.product-attributes-container .label a {
    text-decoration:none;
    color:#5d6168;
    margin-left:30px;
}
.product-attributes-container .label a:first-child {
    margin-left:0px;
}
.product-attributes-container.show-image-url a.show-image-url,
.product-attributes-container.show-image-upload a.show-image-upload {
    border-bottom:3px solid #ff6d00;
}
.image-upload-section, .image-url-section {
    margin-top:5px;
    padding-top:0px;
    min-height:25px;
}
.product-attributes-container.show-image-url .image-upload-section {
    display:none;
}
.product-attributes-container.show-image-upload .image-url-section {
    display:none;
}