/* CSS Document */


.consulta ul
{
	padding: 0;
	margin: 0;
}

.consulta ul li
{
	display: inline-block;
	width: 19%;
	text-align: center;
	/*border: 1px solid #666666;*/
	border: 0;
	height: 36px;
	vertical-align: middle;
	border-radius: 6px;
}

.rv_blanco
{
	background-color: #ffffff;
}

.rv_color01
{
	background-color: #f5d0a0;
}

.rv_color02
{
	background-color: #f0e6c6;
}

.rv_color03
{
	background-color: #c2e6b6;
}

.rv_color04
{
	background-color: #bbebf2;
}



.rv_rosa
{
	/*background-color: #90ded7;*/
	background-color: #8a0072;
}

.rv_a_blanco
{
	color: #444444;
	font-size: 1.2em;
	font-weight: bold;
	text-decoration: none;	
}

.rv_a_blanco:hover
{
	color: #444444;
	font-size: 1.2em;
	font-weight: bold;
	text-decoration: underline;	
}

.rv_btncentrado
{
	padding-top: 10px;
}

.consulta
{
	background-color: none;
}

/*.rv_a_rosa
{
	color: #444444;
	font-size: 1.2em;
	font-weight: bold;	
}

.rv_a_rosa:hover
{
	color: #444444;
	font-size: 1.2em;
	font-weight: bold;
	text-decoration: none;	
}*/


.rv_a_rosa
{
	color: #ffffff;
	font-size: 1.2em;
	font-weight: bold;
	text-decoration: none;	
}

.rv_a_rosa:hover
{
	color: #ffffff;
	font-size: 1.2em;
	font-weight: bold;
	text-decoration: underline;	
}
