@charset "utf-8";
/*============ Default CSS Document. ================*/
body{
    margin:0 auto;
    font-family:"SolaimanLipi";
    font-size:14px;
    /*background:#000 url(../../importent_images/bg00.png) repeat;*/
    overflow-x: hidden;
    background-color: #cccccc;
}

.hidden-class{
	display: none;
}
a{
    text-decoration:none;
}
ul,li{
    margin:0;
    padding:0;
    list-style:none
}
.bn_font{
    font-family:"SolaimanLipi";
    font-size:14px;
}
.eng_font{
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
}

div#rpt {
    border-left: 3px solid #ccc;
    display: block;
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    padding-left: 10px;
    position: relative;
    text-align: left;
}

div#dtl_page_content span.fontAction {
    border: 1px solid #ccc;
    color: #666;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    margin: 5px;
    text-align: center;
    width: 30px;
}

div#hl1 {
    color: #cd0000;
    display: block;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 8px;
    text-align: left;
}
div#hl2 {
    display: block;
    font-size: 30px;
    line-height: 39px;
    text-align: left;
}
div#hl3 {
    color: #963;
    display: block;
    font-size: 18px;
    line-height: 22px;
    margin-top: 8px;
    text-align: left;
}

div#highlights {
    display: block;
    font-size: 30px;
    line-height: 25px;
    text-align: left;
}

div#news_date_time {
    border-bottom: 1px solid #eee;
    display: block;
    font-weight: normal;
    margin: 0 0 20px;
    padding: 0 0 5px;
    position: relative;
}

.input_container ul {
    background: none repeat scroll 0 0 #f3f3f3;
    list-style: outside none none;
    margin-left: 149px;
    position: absolute;
    text-align: left;
    width: 210px;
    z-index: 9;
}

.paginatorcustom {
    text-align: right;
}
.paginatorcustom a {
    background-color: #e7e7e7;
    font-size: 15px;
    padding: 5px 10px;
}
.paginatorcustom a:hover {
    background-color: #00A750;
    color: #ffffff;
}
.paginatorcustom strong {
    background-color: #00A750;
    color: #ffffff;
    font-size: 15px;
    padding: 5px 10px;
}


.arc_scroll {
    height: 276px;
    padding-bottom: 10px;
}

.latest_newsarc {
    background: none repeat scroll 0 0 #ededed;
    margin-bottom: 15px;
    overflow: hidden;
    padding: 0 10px;
}

.rig_img {
    background: none repeat scroll 0 0 #ccc;
    border: 1px solid #ddd;
    float: left;
    margin-right: 15px;
    overflow: hidden;
    width: 70px !important;
}
.latest_news_row {
    border-bottom: 1px solid #bcbdbd;
    margin-bottom: 5px;
    overflow: hidden;
    padding-bottom: 5px;
    width: 100%;
}

.latest_news_row h3 {
    height: 44px;
    line-height: 18px;
    margin-bottom: 4px;
    margin-top: 10px;
    overflow: hidden;
}


/*======Some Necessary========*/

.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}

.space_bottom{
    margin-bottom: 20px;
}
.space_bottom10{
    margin-bottom: 10px;
}
.space-top{
    margin-top: 20px;
}

.space-left{
    margin-left: 10px;
}

.space-right{
    margin-right: 10px;
}

.inlinespace-top{
    padding-top: 5px;
}

.nospace-left{
    margin-left: 0px !important;
}
.nospace-right{
    margin-right: 0px !important;
}
.nospace-top{
    margin-top: 0px !important;
}
.nospace-bottom{
    margin-bottom: 0px !important;
}

#db_search {
    background-image: url("../../importent_images/search_button.png");
    border: 0 none;
    color: #d60000;
    cursor: pointer;
    float: right;
    height: 30px;
    margin: 0;
    padding: 0;
    width: 30px;
}

#pool_vote {
    background-image: url("../../importent_images/vote.png");
    border: 0 none;
    color: #d60000;
    cursor: pointer;
    float: left;
    height: 30px;
    margin: 0;
    padding: 0;
    width: 111px;
}
#pool_result {
    background-color: #000000;
    border: 0 none;
    color: #ffffff;
    text-align: center;
    float: right;
    height: 25px;
    margin: 0;
    padding-top: 5px;
    width: 117px;
}

.poll-box {
    border: 1px solid #30B771;
    padding: 5px;
}
/*===Breaking News===== */
.breakingtitle{
    display:inline-block;
    background:#D80505;
    font-size:16px;
    color:#fff;   
    padding-top: 5px;
    margin-right:10px;
}
.breakingnewsrow{
    background-color: #EEEEEE;
    font-size:16px;   
}

/*============= Template CSS ==================*/
.container-fluid{
    margin-right: auto;
    margin-left: auto;

}
.wrapper{
    display:block;
    max-width: 990px;
    background:#fff;	
    /*border:10px solid #666;*/
    border-top:none;	
    padding:19px;
    text-align:left;
}
.body-margin{
    margin:0 15px 0 15px;
}
.clr{
    clear:both;
    font-size:1px;
    height:1px;
}
/*============ Round CSS ================*/
/*--Top right rounded corner--*/
.all_round{
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
}
/*--Top right rounded corner--*/
.tr_round{
    -moz-border-radius-topright: 5px;
    -khtml-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
}
/*--Top left rounded corner--*/
.tl_round{
    -moz-border-radius-topleft: 5px;
    -khtml-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
}
/*--Bottom right rounded corner--*/
.br_round{
    -moz-border-radius-bottomright: 5px;
    -khtml-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
}
/*--Bottom left rounded corner--*/
.bl_round{
    -moz-border-radius-bottomleft: 5px;
    -khtml-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
}



img{
    /*max-width: 100%;
    height: auto;*/
}	
/*============== Top Left Button Menu CSS ================*/
/*div.top-lead-menu button.btn{
        font-size:15px;
        background:#C1D83E url(/bdp_top_menu_bg.jpg) repeat-x;
        background-size:contain;
}
div.top-lead-menu button.btn a{
        text-decoration:none;
        color:#000;
}
div.top-lead-menu button.btn a:hover{
        color:#CD0000;
}
div.top-lead-menu button.intro_bg{
        background:#1E1D1D url(/bdp_top_menu_intro_bg.jpg) no-repeat;
        background-size:cover;
        padding:10px 15px 10px 30px;
        margin-right:1px;
        font-size:17px;
        color:#fff;
        border:none;
}*/
div.top-body-wrapper{
    margin-top:90px
}

/*============== Top Left Menu CSS ================*/

.navbar .nav{
    background-color: #F0B79E ; 
    margin: 0;
    
}
.navbar .nav > li > a{
       color : #000;
       padding : 5px 15px;
       text-shadow: none;
}


div#topNavBar div.navbar{
    margin: 0;
}
div#topNavBar div.navbar div.navbar-inner{
    border:none;
    background:none;
    progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#fff2f2f2',GradientType=0);
    -webkit-box-shadow:0 1px 4px rgba(0,0,0,0);
    -moz-box-shadow:0 1px 4px rgba(0,0,0,0);
    box-shadow:0 1px 4px rgba(0,0,0,0)
}
div#topNavBar div.navbar div.navbar-inner a.brand{
    /*background:url(../../importent_images/bdp_top_menu_intro_bg.jpg) no-repeat;
    background-size:contain;*/
    background:#063;
    /*padding:10px 10px 10px 30px;*/
    padding:7px 10px 7px 10px;
    font-size:16px;
    color:#fff;
    border:none;
}	
div#topNavBar div.navbar div.navbar-inner ul.nav{
    border:1px solid #eaeaea;
    margin-top:5px
}

div#topNavBar div.navbar div.navbar-inner ul.nav li a{
    font-size:15px;
    /*background:#C1D83E url(/bdp_top_menu_bg.jpg) repeat-x;
    background:#C1D83E;
    background-size:contain;*/
    background:#eee;
    padding:2px 8px 2px 8px;
    border-right:1px solid #fff;
    /*text-shadow:0 -1px 0 rgba(0,0,0,0.25);*/
    text-shadow:0 0 0 rgba(0,0,0,0);
    color:#063;
}
div#topNavBar div.navbar div.navbar-inner ul.nav li a:hover{
    color:#000
}
div#topNavBar div.navbar div.navbar-inner ul.nav li:last-child a{
    border-right:none;
    -webkit-border-radius:0 4px 4px 0;-moz-border-radius:0 4px 4px 0;border-radius:0 4px 4px 0
}

/*============== Main Menu CSS ==============*/
div#main_menu{
    /*margin-top:15px;*/
}
div#main_menu div.navbar{		
    padding:0; margin:0;
    margin-bottom:10px;
}
div#main_menu div.navbar div.navbar-inner{
    background:#cccccc;
    padding:0;
    min-height: 25px;
    border:none;

    /*background-image: -moz-linear-gradient(top,#fff,#f2f2f2);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#f2f2f2));
    background-image: -webkit-linear-gradient(top,#fff,#f2f2f2);
    background-image: -o-linear-gradient(top,#fff,#f2f2f2);
    background-image: linear-gradient(to bottom,#fff,#f2f2f2);
    background-repeat: repeat-x;*/		

    -webkit-border-radius:0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#fff2f2f2',GradientType=0);
    -webkit-box-shadow: 0 1px 0px rgba(0,0,0,0.065);
    -moz-box-shadow: 0 1px 0px rgba(0,0,0,0.065);
    box-shadow: 0 1px 0px rgba(0,0,0,0.065);
}
div#main_menu div.navbar div.navbar-inner div.container{
    margin:0; padding:0;
}
div#main_menu div.navbar div.navbar-inner a.brand{		
}	
div#main_menu div.navbar div.navbar-inner ul.nav{	
    margin:0; padding:0;		
}
div#main_menu div.navbar div.navbar-inner ul.nav li{
    border-right:1px solid #E5E3E3;
    border-bottom:1px solid #E5E3E3;
}
div#main_menu div.navbar div.navbar-inner ul.nav li a{      
    text-shadow:none;		
    color:#000;
    border-right:1px solid #ccc;
    padding:4px 10px 4px 10px;
}	
div#main_menu div.navbar div.navbar-inner ul.nav li a:hover{
    background:#B0AFAF
}
div#main_menu div.navbar div.navbar-inner ul.nav li.active a{
    background:#B0AFAF;
    color:#000;
}
div#main_menu div.navbar div.navbar-inner ul.nav li:last-child a{		
}		

/*============== Latest News List CSS. ===================*/
div.caption_bar{
    font-size:15px;
    border-bottom:2px solid #660;
    margin-bottom:10px;
}
div.caption_bar span{
    display:inline-block;
    background:#666;
    color:#fff;
    margin-left:20px;
    /*border-left:5px solid #000;*/
    padding:2px 15px 2px 15px;
    margin-bottom:-2px;
}
div.caption_bar span a{
    color: #FFFFFF;
}
ul.ln_list{
    margin:0; padding:0;	
}
ul.ln_list li{
    margin-left:20px;
    font-size:18px;
    list-style-type: square;
    color:#808080;
}
ul.ln_list li:hover{
    color:#CCC
}

ul.ln_list li.active{
    margin-left:20px;
    font-size:18px;
    list-style-type: square;
    color:#ff3a3a;
}
ul.ln_list li.blue{
    margin-left:20px;
    font-size:18px;
    list-style:disc;
    color:#3399FF;
}

ul.ln_list li a{
    text-decoration:none;
    font-size:14px;
    color:#000;
}
ul.ln_list li a:hover{
    color:#CD0000;
}

/*============== Menu News Caption Bar CSS ==============*/
div.mn_caption_bar{
    position:relative;		
    font-size:15px;
    border-bottom:2px solid #600;
    margin-bottom:20px;
}

.sobiz div.mn_caption_bar{
	text-align:center;
	margin-bottom:2px;
	}

div.mn_caption_bar span{
    position:relative;
    /*display:inline-block;
    border-right:15px solid #005FBF;*/
    border-right:15px solid #555;
    top:3px;
}


div.mn_caption_bar span span{
    position:relative;
    display:inline-block;
    /*background:#3399FF;*/
    background:#666;
    color:#fff;
    margin-left:20px;
    margin-bottom:-3px;
    top:3px;
    padding:2px 10px 2px 10px;
}

/*div.mn_caption_bar_highlight span{
    position:relative;
    border-right:15px solid #d80505 !important;
    top:3px;
}


div.mn_caption_bar_highlight span span{
    position:relative;
    background:#d80505 !important;
    color:#fff;
    margin-left:20px;
    margin-bottom:-3px;
    top:3px;
    padding:2px 10px 2px 10px;
}*/




/*============== Special Section Caption Bar CSS ==============*/
div.spc_caption_bar{
    position:relative;		
    font-size:18px;
    border-bottom:2px solid #600;
    margin-bottom:20px;
}
div.spc_caption_bar span{
    position:relative;
    display:inline-block;	
    border-right:15px solid #600;
}
div.spc_caption_bar span span{
    border-left:15px solid #600;
}
div.spc_caption_bar span span{
    position:relative;
    display:inline-block;
    background:#CD0000;
    color:#fff;		
    margin-bottom:-15px;
    padding:5px 10px 5px 10px;
}

/*============== Small Menu News Summary CSS ===============*/
div.small-news-sum a{
    text-decoration:none;
}
div.small-news-sum div#hl2{
    font-size:18px;
    line-height:22px;
    margin-bottom:5px;
}
div.small-news-sum div#newsDtl{
    font-size:15px;
    line-height:19px;
    margin-bottom:5px;
}
div.small-news-sum div#img{		
    margin:5px 15px 5px 0;
    background:#eee;
    border:1px solid #ccc;
}
div.small-news-sum ul.ron_hl{
    margin:0; padding:0;
    margin-top:10px;	
}
div.small-news-sum ul.ron_hl li{
    margin-left:20px;
    font-size:18px;
    list-style:disc;
    color:#666;
}
div.small-news-sum ul.ron_hl li:hover{
    color:#CCC
}
div.small-news-sum ul.ron_hl li a{
    text-decoration:none;
    font-size:15px;
    color:#000;
}
div.small-news-sum ul.ron_hl li a:hover{
    color:#CD0000;
}

/*============== Normal Menu News Summary CSS ===============*/	

div.home-entertainment ul.ent-style li{
 list-style:none;  
 border-bottom: 1px dotted #999999;
 padding-bottom:5px;
 margin-bottom:15px;
}

div.home-entertainment ul.ent-style li:last-child {
    border-bottom: none;
} 

div.normal-news-sum a{
    text-decoration:none;
}
div.normal-news-sum div#hl2{
    font-size:22px;
    line-height:26px;
    margin-bottom:5px;
}
div.normal-news-sum div#newsDtl{
    font-size:16px;
    line-height:20px;
    text-align:justify;
}
div.normal-news-sum div#img{
    background:#eee;		
    border:1px solid #ccc;
    margin-bottom:10px
}
div.normal-news-sum div.leadImgHl a{
    font-size:140%;
}
div.normal-news-sum ul.ron_hl{
    margin:0; padding:0;
    margin-top:10px;	
}
div.normal-news-sum ul.ron_hl li{
    font-size:20px;
    color:#666;
    border-top:1px solid #eee;
    padding-top:5px;
    margin-top:5px;
}
div.normal-news-sum ul.ron_hl li:hover{
    color:#CCC
}
div.normal-news-sum ul.ron_hl li a{
    text-decoration:none;
    font-size:16px;
    color:#000;
}
div.normal-news-sum ul.ron_hl li a:hover{
    color:#CD0000;
}
/*============== Big Menu News Summary CSS ===============*/
div.big-news-sum a{
    text-decoration:none;
}
div.big-news-sum div#hl2{
    font-size:22px;
    line-height:26px;
    margin-bottom:5px;
}
div.big-news-sum div#newsDtl{
    font-size:16px;
    line-height:20px;
    text-align:justify;
}
div.big-news-sum div#img{		
    /*margin-bottom:10px;*/		
    background:#eee;		
    border:1px solid #ccc;
    margin:5px 0 5px 15px;
}
div.big-news-sum ul.ron_hl{
    margin:0; padding:0;
    margin-top:10px;	
}
div.big-news-sum ul.ron_hl li{
    margin-left:22px;
    font-size:22px;
    list-style:disc;
    line-height:26px;
    color:#666;
}
div.big-news-sum ul.ron_hl li:hover{
    color:#CCC
}
div.big-news-sum ul.ron_hl li a{
    text-decoration:none;
    font-size:18px;
    color:#000;
}
div.big-news-sum ul.ron_hl li a:hover{
    color:#CD0000;
}

/*============== Lead Slider News CSS ===============*/	
ul#lead_news_slider{
    display:block;
    position:relative;

}
ul#lead_news_slider li{
    display:none;
    background:#666; 
    width:100%; 
    height:322px;
}
ul#lead_news_slider li img{
    display:block;
    max-width:100%;
    max-height:322px;
    position:absolute;
    top:0;
}	
ul#lead_news_slider li div.leadImgHl,div.leadImgHl{
    display:block;
    position:absolute;
    background:url(../../importent_images/baground.jpg) repeat; 
    width:100%; 
    bottom:0;  
    opacity: 0.80;    
}
ul#lead_news_slider li div.leadImgHl a,div.leadImgHl a{
    display:block;
    text-decoration:none;
    color:#fff;				
    padding:3%;
    line-height:110%;
    font-size:200%;
}	
ul#lead_news_slider li div.nxtLeadNews{
    display:block;
    position:absolute;
    top:0;
    right:0;
    padding:5px;
}
ul#lead_news_slider li div.nxtLeadNews span{
    display:inline-block;
    background:#000;
    border:2px solid #CCC;
    /*background:url(/black_35x35.png) no-repeat;
    width:35px;
    height:35px;*/
    width:5px;
    height:5px;
    margin:3px;
    color:#fff;
    /*padding-top:6px;
    margin:-1px 1px 0 1px;
    font-size:18px;*/
    text-align:center;
}
ul#lead_news_slider li div.nxtLeadNews span.selected{
    background:#CD0000;
    border:2px solid #FFF;
    /*background:url(/black.png) no-repeat;
    width:50px;
    height:50px;
    font-size:28px;
    padding-top:13px;*/
}

/*============== Marquee News CSS =============*/
div#newsHeadlines{display:block; background:#eee; overflow:hidden; margin-bottom:20px; font-size:15px}	
div#newsHeadlines div#newsHeadlineCaption{
    display:inline-block;
    background:#D80505;
    padding:2px 8px 2px 8px;
    font-size:16px;
    color:#fff;
}
div#newsHeadlines marquee{
    color:#069;
}

/*============== Big Image CSS ===============*/
div.big-img-sum{
    background:#eee;
    border:1px solid #ccc;
}

/*============== Only Hl CSS ==============*/
div.only-news-hl ul.ron_hl li{
    margin-top:0;			
    margin-left:20px;
    font-size:18px;
    list-style:disc;
    line-height:22px;
    color:#666;
}
div.only-news-hl ul.ron_hl li:hover{
    color:#CCC
}
div.only-news-hl ul.ron_hl li a{
    text-decoration:none;
    font-size:15px;
    color:#000;
}
div.only-news-hl ul.ron_hl li a:hover{
    color:#CD0000;
}

/*============== Site Map / breadcrumb CSS =============*/
.breadcrumb {
    padding: 5px 15px;
    margin: 0;
    list-style: none;
    background-color: #f9f9f9;
    border-top:1px solid #eee;
    border-bottom:1px solid #eee;
    /*-webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;*/
}
.breadcrumb li{
    font-size:15px;
}	
.breadcrumb li a{
    text-decoration:none;
    color:#006699;
}
.breadcrumb li a:hover{
    color:#CD0000;
}

/*============== Others ==============*/
input.textColor {
    color: #aaa;
}
span#date_desc{
    color:#aaa;
    font-size:15px;
}
span#curTime{
    display:block;
    font-size:15px;
    /*background:#C1D83E;
    background-size:contain;*/
    background:#eee;
    padding:2px 8px 2px 8px;
    border-right:1px solid #fff;
    /*text-shadow:0 -1px 0 rgba(0,0,0,0.25);*/
    text-shadow:0 0 0 rgba(0,0,0,0);
    color:#CD0000;
}
div#top_header span#leadCaption,div.p_menu_item span#printLeadCaption{		
    background:url(../../importent_images/right_arrow.png) right center no-repeat;
}

.close_left_btn,.close_right_btn{
    position:absolute; top:-10px; left:-10px
}
.close_right_btn{
    left:auto; right:-10px;
}
.close_left_btn span,.close_right_btn span{
    display:inline-block; background:#fff;
    border:1px solid #ccc; color:#666; padding:1px 7px;
    border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50%; cursor:pointer
}		

/*============== For Phone Devices ================*/
@media (max-width: 768px){
    div#top_fixed_ads{display:none}
    div.top-body-wrapper{margin-top:0}
}
@media (max-width: 480px){
    div#main_menu div.navbar div.navbar-inner{
        background:#000; padding:0;
        min-height: auto;
        border:none;	
    }
    div#main_menu div.navbar div.navbar-inner div.container a.btn-navbar {
        float: left;
        padding: 5px;
        margin: 5px;		
        color: #fff;
        background:none;
        border:none;
        /*text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
        -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0),0 1px 0 rgba(255,255,255,0);
        -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0),0 1px 0 rgba(255,255,255,0);
        box-shadow: inset 0 1px 0 rgba(255,255,255,0),0 1px 0 rgba(255,255,255,0);*/
    }
    div#main_menu div.navbar div.navbar-inner div.nav-collapse{
        background:#000; margin:0; padding:0;
    }
    div#main_menu div.navbar div.navbar-inner div.nav-collapse ul.nav{	
        margin:0; padding:0;
    }
    div#main_menu div.navbar div.navbar-inner div.nav-collapse ul.nav li{					
    }
    div#main_menu div.navbar div.navbar-inner div.nav-collapse ul.nav li a{      
        text-shadow:none;			
        color:#fff;
        border-right:none;
        border-top:1px solid #eee;
        padding:4px 10px 4px 10px;
        margin:0;
        -webkit-border-radius:0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
    }	
    div#main_menu div.navbar div.navbar-inner div.nav-collapse ul.nav li a:hover{
        background:#060;
        color:#fff;
    }
    div#main_menu div.navbar div.navbar-inner div.nav-collapse ul.nav li.active a{
        background:#CD0000;
        color:#fff
    }
    div#main_menu div.navbar div.navbar-inner div.nav-collapse ul.nav li:last-child a{		
    }

    /* Headline Marquee */
    div#newsHeadlines marquee{
        width:140px;
        color:#069;
    }

    /* Google Ads CSS*/
    div.google_ads{
        display:none
    }
}

@media screen and (min-width: 1366px){
    #ads_left,#ads_right{
        display:block
    }
    .only-for-large-screen{
        display:block
    }
}

@media screen and (max-width: 1365px){
    #ads_left,#ads_right{
        display:none
    }
    .only-for-large-screen{
        display:none
    }
}

/** Lightbox **/
.black_overlay{
    /*display: none;*/
    position:fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color:#000;
    z-index:1001;	
}
.white_overlay{	
    /*display:none;*/
    padding:10px;
    position:fixed;
    top: 33%;
    left: 32%;
    background-color:#FFF;
    z-index:9999
}	
.transparent {
    /* Required for IE 5, 6, 7 */
    /* ...or something to trigger hasLayout, like zoom: 1; */
    width: 100%; 

    /* Theoretically for IE 8 & 9 (more valid) */	
    /* ...but not required as filter works too */
    /* should come BEFORE filter */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

    /* This works in IE 8 & 9 too */
    /* ... but also 5, 6, 7 */
    filter: alpha(opacity=60);

    /* Older than Firefox 0.9 */
    -moz-opacity:0.6;

    /* Safari 1.x (pre WebKit!) */
    -khtml-opacity: 0.6;

    /* Modern!
    /* Firefox 0.9+, Safari 2?, Chrome any?
    /* Opera 9+, IE 9+ */
    opacity: 0.6;
}

div.quiz-display1{background:#fff; padding:5px 10px; right:0; position:fixed; top:25%; border-left:5px solid #ED1C24; border-bottom:5px solid #ED1C24; border-top:5px solid #ED1C24; border-right:1px solid #ED1C24}
div.quiz-display1 h6 span{ display:block; color:#000}
div.quiz-display1 h6{ padding:0 !important}


div.social_plgin{ float:left; margin-top:7px}
div.social_plgin ul{ margin:left; text-align:left}
div.social_plgin ul li{ display:inline-block; padding-right:10px}
div.social_plgin ul li a{ cursor:pointer}
.englink {
    background: none repeat scroll 0 0 #D80505;
    border: medium none;
    color: #fff;
    font-size: 14px;
    padding: 7px 5px;
    float: left;
    text-decoration:none !important;
    font-family:Roboto;
}
.englink:hover { color:#fff;} 



div#hotBar{ margin-bottom:20px; position:relative; max-height:157px}
div#hotBar div#img{height:157px; overflow:hidden}
div#hotBar div#hl2{position:absolute; bottom:0; padding:5px 10px; background:url("../../importent_images/black-trans-bg.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0); display:block; width:212px}
div#hotBar div#hl2 a{ font-size:16px; color:#fff;}
div#hotBar div#hl2 a:hover{ text-decoration:none}
div#hotBar div#hl2 a font{ color:#fff !important;}
.featured-title:before {
    border-color: #cd0000 #cd0000 transparent transparent;
    border-style: solid;
    border-width: 3px;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    top: 20px;
    z-index: 1;
}
.featured-title:after {
    border-color: #cd0000 transparent #cd0000 #cd0000;
    border-style: solid;
    border-width: 10px 10px 12px 5px;
    content: "";
    display: block;
    position: absolute;
    right: -13px;
    top: 0;
    z-index: 1;
}
.featured-title {
    background: none repeat scroll 0 0 #cd0000;
    left: 0;
    margin-left: -4px;
    padding: 0 0 0 10px;
    position: absolute;
    top: 0;
    display:none;
}
.featured-title a {
    color: #fff;
    font-size: 13px;
    line-height: 20px;
}
.featured-title a{ text-decoration:none}


/*custom css*/
.owl-theme .owl-controls .owl-pagination{
    display:none !important;
}
.owl-theme .owl-buttons{
    position: relative;
}
.owl-theme .owl-buttons .owl-next{
    position: absolute;
    right: 0px;
    top: -103px;
    text-indent: -9999px;
    background: url("../../importent_images/rightscroller.jpg") right top no-repeat;
    background-color: #00C0FF;
}
.owl-theme .owl-buttons .owl-prev{
    position: absolute;
    top: -103px;
    text-indent: -9999px;
    background: url("../../importent_images/leftscroller.jpg") right top no-repeat;
}



.img_slide img{
    height:95px;
    float:left
}
/*.owl-item{
height: 125px;
 width: 326.667px;
}*/
.owl-wrapper-outer{
    border: 5px solid #DDDDDD;
    border-radius: 3px;
	
 
}
.owl-carousel .owl-wrapper-outer
{
    width :99% !important;
}
.img-view img{
	max-width:100%;
	height:233px;
}

div#newsDtl iframe{
    width:100% !important;
    height:315px;
}

div#more-pagi{
  float:left; 
  margin-left:476px; 
  width:67px;
  height:20px;
  text-align: center; 
  border:1px solid green;
  background-color:#EEEEEE;
}
.front a{
    font-size:16px !important;
}



.head_list{
    padding-left: 18px!important;
}
ul.head_list li{
    list-style: outside none disc;
}
ul.head_list li.point{
color:#3A83CE;
font-size:14px;
}

.country_img img
{
    width: 64px;
    height:auto !important;
}

@media only screen and (max-width: 766px) {
    #content-md .span4{width:66px;float:left;}
    #content-md .span8{  float: left;width: 168px;padding-left: 8px;}
}

.build_career {
    font-size: 16px;
    line-height: 17px !important;
    margin-left: 8%;
    margin-top: -5px;
    padding: 4px 5px;
    text-align: center;
    width: 156px !important;
}

#home_popup{
 width: 100%;
 height: 100%;
 background-color:rgba(0,0,0,0.8);
 position: fixed;
 left: 0;
 top: 0;
 z-index: 99999;
}
#home_popup .pop{
 width: 600px;
 margin: 7% auto 0 auto;
 background: #FFF;
 padding: 5px;
 position: relative;
}
#home_popup .pop img{
 width: 100%;
}
#home_popup .close{
 position: absolute;
 right: -9px;
    top: -9px;
 opacity: 1;
}
#home_popup .close img{
 width: 32px;
 height: 32px;
}
@media only screen and (max-width: 768px) {
    #home_popup {
        display:none;
    }
     #adimg {
       width: 130px;
    }
}

.banner-details-fixed-bottom{
 bottom: 0;
    overflow: hidden;
    position: fixed;
    text-align: center;
    width: 1000px;
    z-index: 99999;
}

.banner-desktop-fixed-bottom{
 bottom: 0;
    overflow: hidden;
    position: fixed;
    text-align: center;
    width: 1000px;
    z-index: 99999;
}
.banner-desktop-fixed-bottom .x-btn {
    right: 0;
    position: absolute;
}

.banner-desktop-fixed-bottom .x-btn img {
    width: 18px;
    margin-right: 172px;
}


.banner-mob-details-fixed-bottom{
  bottom: 0;
    left: 0;
    margin: 0 auto;
    overflow: hidden;
    position: fixed;
    right: 0;
    text-align: center;
    width: 90%;
    z-index: 99999;
}
.banner-details-fixed-bottom .x-btn {
    right: 0;
    position: absolute;
}

.banner-mob-details-fixed-bottom .x-btn {
    left: 0;
    position: absolute;
}

.banner-mob-details-fixed-bottom .x-btn img, .banner-details-fixed-bottom .x-btn img {
    width: 18px;
    margin-right: 172px;
}


#myCarousel .carousel-indicators li{background-color: #000;border-radius:0px;border:2px solid #ccc;width: 5px;height: 5px;cursor: pointer;}
#myCarousel .carousel-indicators .active{background-color: #ED1C24;border:2px solid #FFF;cursor: none;}
#myCarousel .carousel-indicators{top: 5px;right: 5px;}
#myCarousel .item img{width: 100%;height: 322px;}
#myCarousel .carousel-control{top: 48%;border:none;border-radius:0px;opacity: 0.8;}
#myCarousel .left-btn{left: 0;}
#myCarousel .right-btn{right: 0;}
#myCarousel .carousel-caption h4{font-size: 25px;font-weight: normal;}
#myCarousel .carousel-caption{padding: 4px 10px;}
#myCarousel .carousel-caption h4{line-height: 30px;}

@media only screen and (max-width: 640px) {
	#myCarousel .carousel-control{top: 35%;}
	#myCarousel .item img{height: auto;}
	#myCarousel .carousel-caption{position: absolute;}
	#myCarousel .carousel-caption{padding: 4px 10px;}
	#myCarousel .carousel-caption h4{font-size: 25px;font-weight: normal;line-height: 30px;}
}


.mobile_top_menu .navbar-inner{
    padding-left: 0 !important;
    padding-right: 0 !important;
}




.body-ad .x-btn{
	position: absolute;
}
.body-ad .x-btn img{
	width: 18px;
}

.body-ad{
	position: fixed;
	top: 10px;
	width: 160px;
	z-index: 2;
}
.body-ad-left{
	left: 0;
}
.body-ad .x-btn{
	right: -6px;
	top: -12px;
}
.body-ad-right{
	right: 0px;
}
.body-ad-right .x-btn{
	left: -6px;
}
@media screen and (min-width: 1360px){
	.body-ad-left, .body-ad-right{
		display:block
	}
}
@media screen and (max-width: 1359px){
	.body-ad-left, .body-ad-right{
		display:none
	}
}

.div-mid{
 	display:table-cell;
    	vertical-align:middle;

	}
.archive_calendar table{width:100%;}



.TickerNews{
    width: 100%;
    height: 30px;
    line-height: 30px;
    margin-bottom: 15px;
    overflow: hidden;
}
.ti_wrapper{
    width: 100%;
    position: relative;
    overflow: hidden;
}
.ti_slide{
    width: 30000px;
    position: relative;
    left: 0;
    top: 0;
}
.ti_content{
    width: 8000px;
    position: relative;
    float:left;
}
.ti_news{
    float:left;
}
.ti_news a{
    display: block;
    margin-right: 10px;
    color:black;
    text-decoration: none;
    font-family:"SolaimanLipi";
}
/* template 2 */
.TickerNews.default_theme_2{
    background-color: #f1f1f1;
    position: relative;
    font-family:"SolaimanLipi";
}

.TickerNews.default_theme_2 *{
    box-sizing:border-box;
}

.TickerNews.default_theme_2 .leftside{
    position: relative;
    left:0;
    float:left;
}

.TickerNews.default_theme_2 .leftside h4{
    margin: 0;
    display:inline-block;
    background:#D80505;
    font-size:16px;
    color:#fff;   
    padding: 5px;
    font-weight: normal;
    margin-right:10px;
}

.TickerNews.default_theme_2 .ti_wrapper{
    position: absolute;
    left: 70px;
    float:left;
}

.TickerNews.default_theme_2 .ti_news a{
    display: block;
    margin-right: 10px;
    color:#007f00 !important;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
}

.TickerNews.default_theme_2 .ti_news span{
    color:red;
    font-size: 110%;
}

