/*reset*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,caption,tfoot,thead{margin:0;padding:0;vertical-align:baseline;border:0;outline:0;background:transparent}
ol,ul{list-style:none}
blockquote,q{quotes:none}
:focus{outline:0}
a{text-decoration:none;color:#212121;cursor:pointer;}
a:hover{text-decoration:underline;color:#ff6600;}
a:visited{color:#212121;}
/*外皮*/
.header_all{
    width:100%;
    background:#fff;
    font-size:14px;
    color:#212121;
}

/*顶部导航*/
.topbar_wrap{
    width:100%;
    font-size:12px;
    background: #f7f7f7;
    border-bottom:1px solid #e0e0e0;
}
.topbar_cont{
    width:1000px;
    margin:0 auto;
    overflow: hidden;
    line-height:24px;
    height:24px;
    position:relative\9;
    left:50%\9;
    margin-left:-500px\9;
}
.topbar_cont ul{
	list-style-type:none;
}
.topbar_nav{
    float:left;
}
.topbar_nav_group{
    overflow: hidden;
}
.topbar_nav_list{
    float:left;
    margin-right:8px;
}
a.nav_grey{
    color:#999;
}
a.nav_grey:hover{
    color:#ff6600;
}
a.nav_red{
    color: #ff6600;
}
a.nav_red:hover{
    color:#ff6600;
}
.topbar_login{
    float:right;
}
.topbar_login_group{
    overflow: hidden;
}
.topbar_login_list{
    float:right;
    margin-left:10px;
}

/*频道导航*/
.channel_wrap{
    width:100%;
    background:#fff;
}
.channel_cont{
    width:1000px;
    height:60px;
    margin:0 auto;
    overflow: hidden;
    border-bottom:2px solid;
  
    position:relative\9;
    left:50%\9;
    margin-left:-500px\9;
}
.channel_logo{
    float:left;
    height:40px;
    padding:10px 0;
    overflow: hidden;
}
.logo_box{
    float:left;
    width:200px;
    height:40px;
    overflow: hidden;
    margin-right:10px;
}
.channel_nav{
    float: right;
    padding-top:36px;
}
.channel_nav_group{
    overflow: hidden;
}
.channel_nav_list{
    float:right;
    height:24px;
    padding:0 15px;
    margin-left:2px;
    -webkit-border-radius:;
    -moz-border-radius:;
    border-radius:4px 4px 0 0;
    line-height:24px;
	font-size:14px;
}
.channel_nav_list_jy{
	float:right;
    height:24px;
    padding:0 6px;
    margin-left:2px;
    -webkit-border-radius:;
    -moz-border-radius:;
    border-radius:4px 4px 0 0;
    line-height:24px;
	font-size:12px;
}
.brand_ad{
	width:320px;
	height:50px;
	float:right;
	overflow:hidden;
}
.channel_brand_ad{
	width:320px;
	height:50px;
	float:right;
	overflow:hidden;
	margin-top:5px;
}
.yp_location{
    float:right;
    font-size:12px;
    line-height:80px;
    padding-right:10px;
}
.yp_location i{
    padding-left:5px;
    font-style: normal;
    color:#ff6600;
}
/*各频道区分*/
/*--频道导航li背景色--*/
.news_bg{
    background:#A8D9FF;
}
.imm_bg{
    background:#A8D9FF;
}
.forum_bg{
    background:#cccc99;
}
.yp_bg{
	background:#ffe076;
}

/*--频道导航底部边框颜色--*/
.forum_bb{
    border-color:#cccc99;
}
.club_bb{
    border-color:#cccc99;
}
.news_bb{
    border-color:#A8D9FF;
}
.imm_bb{
    border-color:#A8D9FF;
}
.blog_bb{
    border-color:#cccc99;
}
.jhq_bb{
    border-color:#cccc99;
}
.yp_bb{
    border-color:#f67325;
}

/*搜索区域*/
.search_wrap{
    width:100%;
    background:#fff;
}
.search_cont{
    width:980px;
    height:30px;
    margin:0 auto;
    overflow:hidden;
    font-size:12px;
    padding:0 10px;

    position:relative\9;
   left:50%\9;
   margin-left:-500px\9;
}
.search_box{
    padding:5px 0;
    float:left;
    margin-right:10px;
}
.search_text{
    background-color: white;
    border: 1px solid;
    height: 20px;
    -webkit-appearance: none;
    box-sizing: border-box;
    vertical-align: middle;
    width: 100px;
}
.search_btn{
    border-color:#ffffff;
    height: 20px;
    padding: 0 10px;
    box-sizing: border-box;
    -webkit-appearance: none;
    vertical-align: middle;
	border:0;
}
.search_id{
	background:none;
	border:none;
	vertical-align:middle;
	height:20px;
}
.online_box{
    line-height:30px;
    float:right;
}
.online_box > span >a{
    margin-left:5px;
}
/*-搜索区域各频道区分-*/
/*--搜索区域背景色--*/
.forum_s_bc{
    background:#ecebcb;
}
.club_s_bc{
    background:#ecebcb;
}
.news_s_bc{
    background:#E9F8FE;
}
.imm_s_bc{
    background:#E9F8FE;
}
.blog_s_bc{
    background:#ecebcb;
}
.jhq_s_bc{
    background:#ecebcb;
}
.yp_s_bc{
    background:#ffe076;
}
/*--输入框边框--*/
.forum_search_text{
    border-color:#c9c64c;
}
.club_search_text{
    border-color:#c9c64c;
}
.news_search_text{
    border-color:#a9e1ff;
}
.imm_search_text{
    border-color:#a9e1ff;
}
.jhq_search_text{
    border-color:#c9c64c;
}
.blog_search_text{
    border-color:#c9c64c;
}
.yp_search_text{
    border-color:#f67325;
}
/*--按钮背景色--*/
.forum_search_btn{
    background:#c9c64c;
    color:#212121;
}
.club_search_btn{
    background:#c9c64c;
    color:#212121;
	border:0;
}
.news_search_btn{
    background: #a9e1ff;
    color: #212121;
}
.imm_search_btn{
    background: #a9e1ff;
    color: #212121;
}
.jhq_search_btn{
    background:#c9c64c;
    color:#212121;
}
.blog_search_btn{
    background:#c9c64c;
    color:#212121;
}
.yp_search_btn{
    background:#f67325;
    color:#fff;
}
/*二级导航高亮*/
.nav_hit_ym{
	background:#ff6600;
}
.nav_hit_ym a{
	color:#fff;
}
.hy_location{
	float: left;
	margin-top: 30px;
	font-size: 14px;
}
