@charset "gb2312";
img,input,body,h1,h2,h3,h4,h5,h6,div,span,b,u,i,ul,li,ol,a,border,p,dl,dt,dd,table{
	margin:0;
	padding:0;
	text-decoration:none;
	
	}
body {
	 font-family: Geneva,Arial,Helvetica,sans-serif;
	 font-size:12px;
	 margin: 0;
	 padding: 0;
     }
a{
	color:#000;
	}	 
a:hover{
	color:#ce0031;
	text-decoration:underline;
    }	 
	
.header_in{
	width:1000px;
	height:120px;
	margin:0 auto;
	}
.hd_in_top{
	height:20px;
	}	
	
.hd_in_top_left{
	float:left;
	}	
.hd_in_top_left a{
	color:#adadad;
	font-weight:bold;
	}

.hd_in_top_right{
	float:right;
	line-height:20px;
	}	
.hd_in_top_right a{
	color:#7d7e79;
	}	
.hd_in_bottom{
	height:98px;
	width:998px;
	border:1px solid #e8e8dc;
	border-top:1px solid #b8c087;
	background:#fcfcf0;
	overflow:hidden;
	}	         
.hd_in_b_top{
	height:66px;
	}
	
.hd_in_b_top div{
	margin-left:22px;
	float:left;
	}	
.index_search_left{
	margin-top:5px;
	}
		
.index_search{
	margin-top:5px;
	padding-top:12px;
	padding-left:20px;
	height:38px;
	width:420px;
	border:1px solid #d9dbcd;
	-moz-border-radius: 5px 5px 5px 5px;      /* Gecko browsers */
    -webkit-border-radius: 5px 5px 5px 5px;   /* Webkit browsers */
    border-radius:5px 5px 5px 5px;            /* W3C syntax */
	display:inline-block;
	background:#f7f7f7;
	}	
.index_search_in{
	
	height:20px; 
	width:100px;
	background:red;
	}
.index_search_text{
	height:20px;
	width:330px;
	border:1px solid #d3d3d5;
	background:#fff;
	}	
	
.index_con_left_nav{
width:118px;
border:1px solid #b8b58c;
margin-bottom:5px;
}
.index_con_left_nav ul li{
list-style:none;
background:url(../img/nav-bg.jpg) no-repeat;
height:27px;
width:113px;
line-height:20px;
padding-left:5px;
padding-top:5px;
}
.index_con_left_nav ul li a{
color:#000;
font-weight:bold;
height:27px;
width:70px;
}
.index_con_left_nav ul li a:hover{
text-decoration:underline;
color:#df3838;
}

.index_con_left_nav .nav_lineheight{
line-height:30px;
}
.index_con_left_nav dt{
float:left;
height:22px;
width:30px;
margin-right:7px;
background:url(../img/icon_elves.png) 9px 0 no-repeat;
}
.index_con_left_nav dt.nav_ts_icon01{
background:none;
}
.index_con_left_nav dt.nav_ts_icon02{
background:none;
}
.index_con_left_nav .nav_ts_icon01 .on_a01{
    display:block;
    height:22px;
    width:30px;
    background:url(../img/left_forum.png) 0 0 no-repeat;
}
.index_con_left_nav .nav_ts_icon01 .a01{
    display:block;
    height:22px;
    width:30px;
    background:url(../img/left_forum_hover.png) 0 0 no-repeat;
}

.index_con_left_nav .nav_ts_icon02 .on_a02{
    display:block;
    height:22px;
    width:30px;
    background:url(../img/left_news.png) 0 0 no-repeat;
}
.index_con_left_nav .nav_ts_icon02 .a02{
    display:block;
    height:22px;
    width:30px;
    background:url(../img/left_news_hover.png)0 0 no-repeat;
}
.index_con_left_nav dd{
    float:left;
}

#min_nav01{
    width:115px;
    background:red;
}
#min_nav01 li{
    /*width:103px;*/
    /*padding-left:15px;*/
    /*background:url(../img/index_r54_c2.jpg) no-repeat;*/
    /*height: 100%;*/
    background: url("../img/index_r54_c2.jpg") no-repeat scroll -1px 0 rgba(0, 0, 0, 0);
    height: 100%;
    padding-left: 11px;
    width: 107px;
}
#min_nav01 li a{
    font-size:12px;
    font-weight:300;
}
#min_nav01_01 li{
    /*width:93px;*/
    /*padding-left:25px;*/
    padding-left: 20px;
    width: 98px;
    height:100%;
    /*display:none;*/
}
#min_nav01_01_01 li{
    /*width:83px;*/
    width: 90px;
    /*padding-left:35px;*/
    padding-left: 28px;
    height:100%;
    /*display: none;*/
}
#min_nav02{
    width:115px;
    background:red;
}
#min_nav02 li{
    width:103px;
    padding-left:15px;
    height:100%;
    background:url(../img/index_r54_c2.jpg) no-repeat;
}
#min_nav02 li a{
    font-size:12px;
    font-weight:300;
}
#min_nav02_01 li{
    width:93px;
    padding-left:25px;
    height:100%;
    /*display:none;*/
}
#min_nav02_01_01 li{
    width:83px;
    padding-left:35px;
    height:100%;
    /*display: none;*/
}
	   

	
	
.hd_in_b_bottom{
	height:32px;
	line-height:24px;
	}	
.hd_in_b_bottom div{
	float:left;
	}	
.hd_in_b_bottom .hd_in_b_b_left{
	margin-left:5px;
	/*width:220px;*/
    width:260px;
	} 
.hd_in_b_b_left a{
	color:#000;
	}	
.hd_in_b_b_left a:hover{
	color:#ff0000;
	text-decoration:underline;
	}		
.hd_in_b_b_left span{
	color:#ff0000;
	}	
	
.hd_in_b_b_c_text{
	height:20px;
    width: 100px;
	}	
.hd_in_b_b_center{
	width:430px;
	}	

.hd_in_b_b_r_right p{
	line-height:13px;
	}
	
	


.index_add{
	margin:0 auto;
	width:1000px;
	position:relative\9;
	left:50%\9;
	margin-left:-500px\9;
	}
.index_add_box01{
	/*height:95px;*/
    height: 90px;
	}

.index_add_box01 ul li{
	list-style:none;}

.index_add_box01 ul li a{
	color:#00007f;
	}
.index_add_box01 ul li a:hover{
	color:#ff0000;
	}	
.add_left{
	float:left;
	}
.index_add_box01_left{
	width:130px;
	/*line-height:16px;*/
    line-height:18px;
    margin-top:0px;
	}
.index_add_box01_center{
	/*margin-right:10px;*/
	/*height:92px;*/
    /*width:728px;*/
	/*padding-top:3px;*/
    height: 90px;
    margin-right: 10px;
    width: 728px;
	}
.index_add_box01_right{
	width:130px;
	line-height:18px;
    margin-top:0px;
	}
	
.index_add_box02{
	width:1000px;
	margin:0 auto;
	}


.index_add_box02 a img{
	width:1000px;
	height:45px;
	}
.index_add_box02 img{
	margin:0;
	padding:0;
	border:0 none;
	display:block;
	}

	
.index_con{
	width:1000px;
	margin:0 auto;
	position:relative\9;
	left:50%\9;
	margin-left:-500px\9;
	}	
	
.index_con_left{
	float:left;
    width:160px;
	display:inline-block;
	}	
.index_con_left_nav{
	width:118px;
	border:1px solid #b8b58c;
	margin-bottom:5px;
	}
.index_con_left_nav ul li{
	list-style:none;
	background:url(../img/nav-bg.jpg) no-repeat;
	height:27px;
	width:113px;
	line-height:20px;
	padding-left:5px;
	padding-top:5px;
	}	
.index_con_left_nav ul li a{
	color:#000;
	font-weight:bold;
	height:27px;
	width:70px;
	}
.index_con_left_nav ul li a:hover{
	text-decoration:underline;
	color:#df3838;
	}	

.index_con_left_nav .nav_lineheight{
	line-height:30px;
	}	
.index_con_left_nav dt{
	float:left;
	height:22px;
	width:30px;
	margin-right:7px;
	background:url(../img/icon_elves.png) 8px 0 no-repeat;}	

.index_con_left_nav .nav_ts_icon01{
	height:22px;
	width:31px;
	/*background:url(../img/icon_elves03.png) 0 0 no-repeat;*/
    background:none;
	}	
	
.index_con_left_nav .nav_ts_icon02{
	height:22px;
	width:31px;
	/*background:url(../img/icon_elves02.png) 0 0 no-repeat;*/
    background:none;
	}

.index_con_left_nav dd{
	float:left;	
	}	
	
.wm_left_top_add{
	/**height:200px;*/
	width:120px;
	margin-bottom:5px;
	}


.wm_ann{
        height:auto;
	background:url(../img/index_r54_c2.jpg) no-repeat;
	background-size:160px;
        line-height:22px;
        font-weight:bold;

	background:url(../img/index_r54_c2_ie8.png) repeat-y 0 0\9 ;
	width:160px\9;
	border:1px solid #daddc8\9;
	border-top:none\9;
	}
.wm_ann_title{
	height:23px;
	background:url(../img/index_wm_ann_title.jpg) no-repeat;
	background-size:160px 22px;
        line-height:22px;
        font-weight:bold;
        text-align:center;

	background:url(../img/index_wm_ann_title_ie8.png) repeat-x 0 0\9;
	border:1px solid #b4b991\9;
	line-height:20px\9;
	height:20px\9;
	}
.wm_ann_con{
	padding:10px;
	line-height:16px;
	list-style:none;
}
.wm_ann_con li{
	background: url('/img/toparticle_bg_s.png') no-repeat 0 8px;
	padding-left: 10px;
}

.wm_ann_con a{
	color:#000;
	}
.wm_ann_con a:hover{
	color:#ce0031;
	text-decoration:underline;
	}

.wm_jiaoyou{
	width:160px;
	overflow:hidden;
	padding-bottom:5px;
	border-bottom:1px solid #d9dccb;
	background:url(../img/index_r54_c2.jpg) repeat-y;
	background-size:160px;
	margin-bottom:5px;

	background: url(../img/index_r54_c2_ie8.png)  repeat-y 0 0\9;
	width:160px\9;
        border:1px solid #daddc8\9;
        border-top:none\9;
	}
.wm_jiaoyou_title a{
	color:#000;
	}

.wm_jiaoyou_title a:hover{
	color:#F00;
	text-decoration:underline;
	}

.wm_jiaoyou_con_girl{
	padding:10px 5px 5px 5px;
	}
	
.wm_jiaoyou_con_girl .tuijian_girl{
	display:block;
	width:68px;
	margin:0 auto;	
	}
 
.jiaoyou_girl_id{
	margin-top:10px;
	list-style:none;
	margin-left:5px;
	}
.jiaoyou_girl_id li{
	height:15px;
	width:105px;
	margin-bottom:5px;
	line-height:15px;
	}

.jiaoyou_girl_id img{
	float:left;
	margin-right:5px;
	}
.jiaoyou_girl_id a{
	float:left;
	color:#32005d;
	}
.jiaoyou_girl_id a:hover{
	color:#ce0031;
	text-decoration:underline;
	}
.jiaoyou_girl_more{
	float:right;
	height:15px;
	width:37px;
	border:1px solid #d9dccb;}

.jiaoyou_girl_more a{
	color:#000;
	}	
.jiaoyou_girl_more a:hover{
	color:#ce0031;
	text-decoration:underline;
	}

.Canada_weather{
	width:120px;
	margin-bottom:5px;
	}
.Canada_weather_title{
	width:120px;
	height:23px;
	background:url(../img/index_r52_c22.jpg) no-repeat;
	line-height:23px;
	text-align:center;
	}
.Canada_weather_con{
	width:108px;
	border:1px solid #d7dac7;
	background:#e9ecdb;
	padding:10px 5px 10px 5px;
	height:40px;
	}
.Canada_weather_con li{
	float:left;
	width:40px;
	line-height:20px;
	margin-left:13px;
	}

.today_benison{
	background:url(../img/index_r54_c2.jpg) no-repeat;
	background-size:160px;
	border-bottom:1px solid #d9dccb;
	width:160px\9;
        background: url(../img/index_r54_c2_ie8.png) repeat-y 0 0\9;
	border:1px solid #daddc8\9;
        border-top:none\9;
	margin-bottom:5px;
	overflow:hidden;
}
.today_benison a{
	color:#000;
	}
.today_benison a:hover{
	color:#ce0031;
	text-decoration:underline;
	}
.today_benison_title{
	height:23px;
	background:url(../img/index_wm_ann_title.jpg) no-repeat;
	background-size:160px 22px;
	font-weight:bold;
	line-height:22px;
	text-align:center;

	background:url(../img/index_wm_ann_title_ie8.png) repeat-x 0 0\9;
        border:1px solid #b4b991\9;
        line-height:20px\9;
        height:20px\9;
	}
	
.today_benison_con{
	 width:93px;
	 padding:10px 5px 0 20px;
	}	
.today_benison_more a{
	height:15px;
	width:42px;
	float:right;
	border:1px solid #d9dccb;
	line-height:15px;
	margin-bottom:5px;
	}
.today_benison_more{
    padding:10px 5px 5px 10px;
	}

.index_con_left_add01{
	margin-bottom:5px;
	}
.wm_report{
	line-height:20px;
	margin-bottom:5px;
	background:url(../img/index_r54_c2.jpg) repeat-y;
	background-size:160px;
	border-bottom:1px solid #d9dccb;
	overflow:hidden;
	background: url(../img/index_r54_c2_ie8.png)  repeat-y 0 0\9;
	width:160px\9;
        border:1px solid #daddc8\9;
        border-top:none\9;
	}
	
.wm_report_title{
	height:23px;
	background:url(../img/index_wm_ann_title.jpg) no-repeat;
	background-size:160px 22px;
	line-height:22px;
	font-weight:bold;
	text-align:center;
	
	background:url(../img/index_wm_ann_title_ie8.png) repeat-x 0 0\9;
        border:1px solid #b4b991\9;
        line-height:20px\9;
        height:20px\9;
	}
	
.wm_report_con{
	padding:10px;
	line-height:20px;
}	
	

.wm_Links_more a{
	height:15px; 
	width:42px;
	border:1px solid #d9dccb;
	line-height:15px;
	float:right;
	margin-right:5px;
	margin-bottom:5px;
	}

.index_con_left_add02{
	margin-bottom:5px;
}
	
.index_con_center{
	float:left;
	margin-left:5px;
	width:570px;
   	 margin-right:5px;
//	overflow:hidden;
	}	
.index_con_cen_istop{
    background: none repeat scroll 0 0 #FEFEFE;
    margin-bottom: 5px;
    position:relative;
	}	
.in_con_cen_istop_title {
    width:569px;
    background: url(../img/index_istop_title.jpg) repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    border-right: 1px solid #C8C8C8;
    overflow:hidden;
}
.istop_title{
	float:left;
	margin-left:250px;
	font-weight:bold;
	line-height:22px;
	}	
	
.in_con_cen_istop_title_right{
	float:right;
	}	
.in_con_cen_istop_title_right img{
	margin-right:10px;
	margin-top:3px;
	vertical-align:middle;}

	
.index_Front_Page{
	/*height:69px;*/
	/*width:579px;*/
	/*border-bottom:1px solid #e6e6e6;*/
	/*padding:0 5px 0 5px;*/
    border-bottom: 1px solid #E6E6E6;
    border-left: 1px solid #BFC5A1;
    height: 69px;
    padding: 0 5px;
    clear:both;
	}	
	
.index_Front_Page h3{
	text-align:center;
	font-size:16px;
	line-height:28px;
	}	
.index_Front_Page h3 a{
	color:#000;
	}
.index_Front_Page h3 a:hover{
	color:#ce0031;
	text-decoration:underline;
    }
.index_Front_Page p{
	line-height:20px;
	word-break:break-all;
	height:40px;
	overflow:hidden;
	padding-bottom:5px;
	}	
.index_other_news{
    border-bottom: 1px solid #BFC5A1;
    border-left: 1px solid #BFC5A1;
    border-right: 1px solid #BFC5A1;
    padding: 10px 10px 0 10px;
    width: 548px;
    width:548px\9;
	}	
.index_other_news01{
	width:264px;
	margin-right:10px;
	float:left;
/*	list-style-position:inside;*/
	}	

.index_other_news01 li{
	background:url('/img/toparticle_bg_s.png') no-repeat 0 8px;
    padding-left:10px;		   
	line-height:20px;
	height:20px;
	overflow:hidden;
	word-break:break-all;
	}
.list_style{
	list-style:circle;
	}		
.index_other_news01 li a{
	color:#000;
	}	
.index_other_news01 li a:hover{
	color:#ce0031;
	text-decoration:underline;
    }

.index_other_news02{
	width:274px;
	margin:0;
}
.index_con_add01{
	width:570px;
	margin-bottom:5px;
    clear: both;
}

.index_hotspace{
	width:570px;
	margin-bottom:5px;
	}	
/*.index_hotspace_title{*/
	/*height:22px;*/
	/*width:580px;*/
	/*background:url(../img/index_istop_title.jpg) no-repeat;*/
	/*line-height:23px;*/
	/*padding:0 5px;*/
	/*}	*/
.index_hotspace_title {
    background: url(../img/index_istop_title.jpg) repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    border-left: 1px solid #C8C8C8;
    border-right: 1px solid #C8C8C8;
    height: 22px;
    line-height: 23px;
    padding: 0 5px;
    overflow:hidden;
}
.index_hotspace_title strong{
    float:left;
}
.index_hotspace_title a{
	height:23px;
	width:45px;
	background:url(../img/hg_ico.gif) 0 3px no-repeat;
	float:right;
	}	
.index_hotspace_con01{
	height:30px;
	border:1px solid #cacaca;
    border-bottom:none;
	}
.index_hotspace_con02{
	height:30px;
	border:1px solid #cacaca;
	}
.index_hotspace_con01 li{
	float:left;
	list-style:none;
	/*text-align:center;*/
    text-align:left;
	width:20%;
	box-sizing:border-box;
    padding-left:5px;
	}
.index_hotspace_con02 li{
	float:left;
	list-style:none;
    text-align:left;
    padding-left:5px;
	width:20%;
	box-sizing:border-box;
	}
.table01_li01{
	height:30px;
	border-right:1px solid #cacaca;
	line-height:30px;
	text-align:center;
	}
.table01_li02{
	height:30px;
	border-right:1px solid #cacaca;
	line-height:30px;
	text-align:center;
	}
	
.table01_li03{
	height:30px;
	border-right:1px solid #cacaca;
	line-height:30px;
	text-align:center;
	}
.table01_li04{
	height:30px;
	border-right:1px solid #cacaca;
	line-height:30px;
	text-align:center;
	}
.table01_li05{
	height:30px;
	line-height:28px;
	text-align:center;
	}
.index_hotspace_table li a{
	color:#5c4501;
    margin-left:5px;
	}
.index_hotspace_table li a:hover{
	color:#ce0031;
	}

.index_ten_big{
	width:570px;
	}
.index_ten_big_left{
	width:282px;
	margin-right:6px;
	float:left;
	margin-bottom:0px;
	}
.index_ten_big_left_title{
	height:20px;
	}
.ten_big_left_tit_left{
	float:left;
	height:26px;
	width:5px;
	background:url(../img/index_r32_left.jpg) no-repeat;
	}
.ten_big_left_tit_center{
	float:left;
	height:22px;
	width:272px;
	background:url(../img/index_r32_center.jpg) repeat-x;
	}
.ten_big_left_tit_center strong{
	line-height:22px;
	text-align:center;
    margin-left: 75px;
	}	
.tit_center_rss{
	height:22px;
	width:36px;
	float:right;
	margin-right:15px;
	background:url(../img/rss.jpg) 0 4px no-repeat;
	}	

.ten_big_left_tit_right{
	float:right;
	height:26px;
	width:5px;
    background:url(../img/index_r32_right.jpg) no-repeat;
	margin-bottom:5px;
	}

.index_ten_big_left_con{
	border:1px solid #cacaca;
	border_top:none;
	padding:5px 10px 5px 10px;
	}
.index_ten_big_left_con ol{
	list-style-type:decimal;
	list-style-position:inside;
}
.index_ten_big_left_con ol li{
	line-height:20px;
	height:20px;
	overflow:hidden; 
	word-break:break-all;	
}
.index_ten_big_left_con ol li:last-child{
	margin-left:-2px;
}
.index_ten_big_right{
	width:282px;
	float:right;
	}
	
.tit_center_lookback02{
	float:right;
	height:22px;
	width:42px;
	background:url(../img/gd_ico.gif) 0 3px no-repeat;
	}	

.index_migrant{
	width:570px;
	margin-bottom:5px;
	}

.index_migrant_left{
	width:398px;
	float:left;
	margin-right:5px;
	}

.index_migrant_left_title{
	width:398px;
	height:21px;
	}
.migrant_left_tit_left{
	float:left;
	height:26px;
	width:5px;
	background:url(../img/index_r32_left.jpg) no-repeat;
	}
.migrant_left_tit_center{
	width:388px;
	float:left;
	height:22px;
    text-align:center;
	background:url(../img/index_r32_center.jpg) repeat-x;
        overflow:hidden;
	}
.migrant_left_tit_center strong{
	line-height:22px;
	text-align:center;
	}	
.tit_center_lookback{
	float:right;
    /*margin-top: 3px;*/
	height:22px;
	width:42px;
	background:url(../img/gd_ico.gif) 0 3px no-repeat;
    /*background:url(../img/hg_ico.gif) 0 3px no-repeat;*/
	}	
.ten_big_left_tit_right{
	float:right;
	background:url(../img/index_r32_right.jpg) no-repeat;
	height:26px;
	width:5px;
	}
.index_migrant_con{
	border:1px solid #cacaca;
	border_top:none;
	height:270px;
	padding:10px 0;}
.lawyer_name{
	height:40px;
	background:#fbfbf2;
	padding:0 8px;
	}
.lawyer_name li{
	float:left;
	list-style:none;
	width:20%;
	height:20px;
	line-height:20px;
	text-align:center;
	}
.lawyer_name li a{
	color:#5c4501;
	}	
.lawyer_name li a:hover{
	color:#ce0031;
	}	
.index_lawyer_title{
	height:25px;
	line-height:25px;
	padding:0 9px;
	}
.index_lawyer_title_left{
	float:left;
	}
.index_lawyer_title_right{
	float:right;
	margin-right:29px;
	}

.index_migrant_left_con01{
	float:left;
	padding:0 5px 10px 10px;
	}
.index_migrant_left_con01 li{
	line-height:20px;
	height:20px;
	width:270px;
	overflow:hidden;
	word-break:break-all;
	padding-left:10px;
    background: url('/img/toparticle_bg_s.png') no-repeat 0 8px;
}
.index_migrant_left_con02{
	float:left;
	width:82px;
	overflow:hidden;
	margin-left:10px;
	}
.index_migrant_left_con02 li{
	list-style:none;
	line-height:20px;
	height:20px;
	overflow:hidden;
	word-break:break-all;
	}



.index_sponsor_links{
	float:left;
	width:166px;
	/*margin-top:4px;*/
	}
.index_sponsor_links_title{
	height:22px;
	width:166px;
	background:url(../img/index_r52_c22.jpg) no-repeat;
	line-height:22px;
	text-align:center;
	}
.index_sponsor_links_add{
	width:160px;
	height:280px;
	border:1px solid #cacaca;
	border-top:none;
	padding:5px 2px;
    text-align:center;
	}

/*----------~{g';o?=~}?~{o?~}???~{o?=o?=~}?~{o?~}??--------------------------------------------------------------------------*/
/*-----~{f57o?=~}????---???------~{o?~}??~{o?~}??  ?~{o?=o?=~}?~{o?~}?~{o?=o?=~}?--------------------------*/
.index_recruit{
	width:570px;
	margin-bottom:5px;
	}
.index_recruit_title{
	height:26px;
	width:570px;
	}
.index_recruit_title_left{
	height:26px;
	width:5px;
	float:left;
	background:url(../img/index_r32_left01.jpg) no-repeat;
	}
.index_recruit_title_center{
	height:26px;
	width:560px;
	float:left;
	background:url(../img/index_r32_center01.jpg) repeat-x;
	}
.index_PremierAssociate_nav a{
	display:block;
	
	}
.index_PremierAssociate_nav li{
	float:left;
	font-size:14px;
	font-weight:bold;
	list-style:none;
	line-height:29px;
	text-align:center;
	}
.PremierAssociate_nav01 a{
	height:26px;
	width:124px;
	}
.PremierAssociate_nav01 a:hover{
	height:26px;
	width:124px;
	background:url(../img/124-27.gif) no-repeat;
	}
	
.PremierAssociate_nav02 a{
	height:26px;
	width:124px;
	}
.PremierAssociate_nav02 a:hover{
	height:26px;
	width:124px;
	background:url(../img/124-27.gif) no-repeat;
	}
		
.PremierAssociate_nav03 a{
	height:26px;
	width:90px;
	}
.PremierAssociate_nav03 a:hover{
	height:26px;
	width:90px;
	background:url(../img/90-27.gif) no-repeat;
	}	
.PremierAssociate_nav04 a{
	height:26px;
	width:90px;
	}	
.PremierAssociate_nav04 a:hover{
	height:26px;
	width:90px;
	background:url(../img/90-27.gif) no-repeat;
	}	
.PremierAssociate_nav05 a{
	margin-left:85px;
	height:26px;
	width:42px;
	background:url(../img/gd_ico.gif) 0 6px no-repeat;
	}	
.index_recruit_title_right{
	height:26px;
	width:5px;
	float:left;
	background:url(../img/index_r32_right01.jpg) no-repeat;
	}
.index_recruit_list{
	height:100px;
	border:1px solid #cacaca;
	border-top:none;
	padding:10px 10px 10px 20px;
	}
.index_recruit_list li{
	line-height:20px;
	float:left;
	height:20px;
	width:50%;
	overflow:hidden;
}

.index_recruit_list li a{
	display:block;
	height:100%;
	word-break:break-all;
}
.index_bbs{
	width:570px;
	}
.index_bbs_title{
	height:23px;
	line-height:23px;
	text-align:center;
	font-size:14px;
	background: url(../img/index_istop_title.jpg) repeat-x scroll 0 0 rgba(0, 0, 0, 0);
	border-left: 1px solid #C8C8C8;
	border-right: 1px solid #C8C8C8;
	}
.index_bbs_con{
	border:1px solid #cacaca;
	border-top:none;
	padding:3px;
	}
.index_bbs_con_title{
	height:25px;
	background:#fbfbf2;
	line-height:25px;
	text-align:center;
	}
.index_bbs_con_title ul{
	overflow:hidden;
}	
.index_bbs_con_title ul li{
	float:left;
	list-style:none;
    margin-left:20px;
	}
.index_bbs_con_title01 ul li{
	margin-left:20px;
	}	
.index_bbs_con_title02 ul li{        
	margin-left:25px;
	}	
.index_bbs_con_title03 ul li{        
	margin-left:30px;
	}	
.index_bbs_con_title04 ul li{        
	margin-left:29px;
	}	
.index_bbs_con_title05 ul li{        
	margin-left:15px;
	}	
.index_bbs_con_title06 ul li{        
	margin-left:4px;
	}	
.index_bbs_con_title07 ul li{        
	margin-left:29px;
	}	
.index_bbs_con_title08 ul li{        
	margin-left:11px;
	}	
.index_bbs_con_title09 ul li{        
	margin-left:29px;
	}	
.index_bbs_con_title10 ul li{        
	margin-left:43px;
	}	
.index_bbs_con_title11 ul li{        
	margin-left:15px;
	}
.index_bbs_con_title12 ul li{
    margin-left:20px;
}


	
.index_bbs_con_title ul li a{
	color:#5c4501;
	}
.index_bbs_con_title .bbs_con_title_tesuli01{
	margin:0;
	font-size:14px;
	width:73px;
	height:25px;
	background:#f4f0a9;
	font-weight:bold;
	}	
.index_bbs_con_title .bbs_con_title_tesuli01 a{
	text-decoration:underline;
	color:#666;
	}
.index_bbs_con_title .bbs_con_title_tesuli01 a:hover{
	text-decoration:underline;
    color:#ce0031;
	}
.index_bbs_con_title .bbs_con_title_tesuli02{
	float:right;
	height:25px;
	width:34px;
	}

.index_bbs_con_title_title{
	height:25px;
	line-height:25px;
	font-weight:bold;
}	
.index_bbs_con_title_title .bbs_con_t_t01{
	height:25px;
	width:330px;
	float:left;
	padding-left:25px;
	}	
	
.index_bbs_con_title_title .bbs_con_t_t02{
	height:25px;
	width:80px;
	float:left;
	}	
.index_bbs_con_title_title .bbs_con_t_t02{
	height:25px;
	width:90px;
	float:left;
	}	
.bbs_con_t_t01_con01{
	width:340px;
	padding-left:5px;
	float:left;
	margin-right:10px;
	}	
.bbs_con_t_t01_con01 li{
	line-height:20px;
	height:20px;
	overflow:hidden;
	word-break:break-all;
	background: url('/img/toparticle_bg_s.png') no-repeat 0 8px;	
	padding-left:10px;
}	
	

.bbs_con_t_t01_con02{
	width:90px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	float:left;
	}	
.bbs_con_t_t01_con02 li{
	line-height:20px;
	list-style:none;
	}	
.bbs_con_t_t01_con03{
	width:114px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	float:left;
	}	
.bbs_con_t_t01_con03 li{
	/*line-height:20px;*/
	/*list-style:none;*/
    line-height:20px;
    list-style:none;
    overflow: hidden;
    width:117px;
    height: 20px;
	}	
	
.bbs_con_con_bottom{
	height:130px;
	}

.index_con_right{
	width:260px;
	float:right;
	}

.index_right_login{
    width:248px;
    height:105px;
    border:1px solid #c7d597;
    background:#f7fbed;
    background: -moz-linear-gradient(top, #fbfbfb, #f0fadf); /* Firefox----~{g:?o?=~}?~{o?~}??css3~{d=?o?=~}??~{o?=o?=~}? */	    background: -webkit-gradient(top, color-stop(0, #ff4f02), color-stop(1, #8f2c00)); /* Saf4+, Chrome */
    background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#f0fadf));	
    padding:0px 20px 0 10px;
    margin-bottom:5px;
}
.login_qcode{
	width: 60px; 
	height: 92px; 
	background-color: rgb(204, 204, 204); 
	position: absolute; 
	top: 5px; 
	right: 40px;
}
.index_right_login .login_text{
	height:20px;
	width:115px;
	}	
.login_btn{
	margin-right:15px;	
	height:20px;
	width:60px;
	border:1px solid #ccc;
	line-height:20px;
	cursor:pointer;
	}	
.login_text{
    width:100px
}
.logined_btn a{
	display:inline-block;
	width:50px;
	font-size:14px;
	line-height:22px;
}	

.index_con_right_add01{
	margin-bottom:5px;
	}	
	
		
.index_right_newsbroth{
	margin-bottom:5px;
	}
.index_right_newsbroth_title{
	height:23px;
	background:url(../img/index_r26_c30.jpg) no-repeat;
	background-size:260px 23px;
	line-height:23px;
	padding:0 5px;
	}	
.newsbroth_title_left{
	float:left;
	font-weight:bold;
	color:#ab8a3d;
	}	
.newsbroth_title_right{
	float:right;
	font-weight:bold;
	color:#ab8a3d;
	}	
	
.index_right_newsbroth_con{
	border:1px solid #bfc5a1;
	border-top:none;
	border-bottom:none;
	padding:5px 10px;
/*	list-style-position:inside;*/
	}	
	
.index_right_newsbroth_con li{
	overflow:hidden;
	line-height:20px;
	height:20px;
	word-break:break-all;
	background:url('/img/toparticle_bg_s.png') no-repeat 0 8px;
	padding-left:10px;
}	
.index_right_newsbroth_con li a{
	color:#5c4501;
	}	
.index_right_newsbroth_con li a:hover{
	color:#db1c1d;
	}	
	
.index_right_newsbroth_con_more{
	list-style:none;
	height:25px;
	border:1px solid #bfc5a1;
	border-top:none;
	}	
.index_right_newsbroth_con_more a{
	float:right;
	height:18px;
	width:45px;
	border:1px solid #bfc5a1;
	display:block;
	line-height:18px;
	text-align:center;
	margin-right:5px;
	}	
	
.index_right_ma_news{
	margin-bottom:5px;
	}	
.right_ma_news_title{
	height:23px;
	background:url(../img/index_r26_c30.jpg) no-repeat;
	background-size: 260px 23px;
	line-height:23px;
	font-weight:bold;
	color:#b49851;
	padding:0 5px;
	}	
.right_ma_news_title a{
	color:#b49851;
	}	
.right_ma_news_title a:hover{
	color:#dc0000;
	}	
.right_ma_news_box01{
	border:1px solid #bfc5a1;
	border-top:none;
	padding:5px 10px;
	}	
	
.ma_news_top_img{
	height:62px;
	width:80px;
	float:left;
	margin-right:10px;
	}	
.ma_news_top_mintitle{
	float:left;
	font-weight:bold;
	width:145px;
	height:20px;
	overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    word-break:break-all;
	}	
.ma_news_top_mintitle a{
	color:#7a5f21;
	}	
.ma_news_top_mincon{
	line-height:18px;
	word-break:break-all;
	}	
	

	
.ma_news_con li{
	line-height:20px;
	height:20px;
	overflow:hidden;
    word-break:break-all;
	background: url('/img/toparticle_bg_s.png') no-repeat 0 8px;
	padding-left: 10px;
}
.ma_news_con li a{
     color:#5c4501;
	}
.ma_news_con li a:hover{
     color:#ce0031;
	}
.ma_news_more{
	height:20px;
	}	
.ma_news_more a{
	float:right;
	height:18px;
	width:45px;
	line-height:18px;
	text-align:center;
	margin-right:5px;
	border:1px solid #bfc5a1;
	}	
.immigrant_news{
	margin-bottom:5px;
	}	
.immigrant_news_title{
	height:23px;
	background:url(../img/index_r26_c30.jpg) no-repeat;
	background-size:260px 23px;
	font-weight:bold;
	padding:0 5px;
	line-height:23px;
	}	
.immigrant_news_title a{
	color:#b49851;
	}
.immigrant_news_title a:hover{
	color:#ce0031;
	}
.immigrant_news_con{
	border:1px solid #bfc5a1;
	border-top:none;
	}	
.immigrant_news_con_usa p{
	height:20px;
	background:#fbfbf2;
	text-align:center;
	line-height:20px;
	font-weight:bold;
	color:#ab8a3d;
	}
.immigrant_news_con_usa_con{
	padding:5px 10px;
	}	
.immigrant_news_con_usa_con li{
	line-height:20px;
	height:20px;
	overflow:hidden;
    word-break:break-all;
	background: url('/img/toparticle_bg_s.png') no-repeat 0 8px;
	padding-left: 10px;
	}
.immigrant_news_con_usa_con li a{
	color:#5c4501;
	}
.immigrant_news_con_usa_con li a:hover{
	color:#ce0031;
	}
.immigrant_other_more{
	height:25px;
	}
.immigrant_other_more a{
	height:18px;
	width:45px;
	margin-right:10px;
	float:right;
	border:1px solid #bfc5a1;
	line-height:18px;
	text-align:center;
	color:#5c4501;
	}
.index_blog{
    float: right;
	width:260px;
	}
.index_blog_title{
	height:23px;
	background:url(../img/index_r26_c30.jpg) no-repeat;
	background-size:260px 23px;
	line-height:23px;
	padding-left:5px;
	font-weight:bold;
	color:#ab8a3d;
	}
.index_blog_box{
	border:1px solid #bfc5a1;
	border-top:none;
	padding:5px 10px;
	}
.index_blog_box ul li{
	line-height:20px;
	height:20px;
	overflow:hidden;
    word-break:break-all;
	background: url('/img/toparticle_bg_s.png') no-repeat 0 8px;
	padding-left: 10px;
	}
.index_blog_box ul li a{
	color:#5c4501;
	}
.index_blog_box ul li a:hover{
	color:#ce0031;
	}
.blog_other_more{
	height:20px;
	}
.blog_other_more a{
	height:18px;
	width:45px;
	float:right;
	border:1px solid #bfc5a1;
	line-height:18px;
	text-align:center;
	color:#5c4501;
	}
	
	
.foot_top_add{
	height:90px;
	width:1000px;
	margin:0 auto;
	margin-bottom:10px;
    clear: both;
	}
.index_foot{
	height:60px;
	border-top:1px solid #c7c7c7;
	}
.index_foot_in{
	height:60px;
	width:1000px;
	margin:0 auto;
        position: relative;
        bottom:0px;

	position:relative\9;
	left:50%\9;
	margin-left:-500px\9;
	}
.index_foot_in p{
	text-align:center;
	line-height:25px;
	}


.tuichu{
    color:#808080;
	font-size:14px;
	line-height:22px;

}
.tuichu:hover{
    color:red;
}
.index_search_right{
    padding-top: 5px;
}

.Canada_weather{
    width:120px;
    margin-bottom:5px;
}
.Canada_weather_title{
    width:120px;
    height:22px;
    background:url(../img/index_wm_ann_title.jpg) no-repeat;
    line-height:22px;
    text-align:center;
}
.Canada_weather_con{
    width:118px;
    border:1px solid #d7dac7;
    background:#e9ecdb;
    padding:10px 0 10px 0;
    height:50px;
}
.Canada_weather_con li{
    float:left;
    width:40px;
    line-height:25px;
    margin-left:18px;
}
.Canada_weather_teshu{
    list-style:none;
}
.canada_exchange_rate{
    width:120px;
    margin-bottom:5px;
}
.canada_exchange_rate_title{
    height:22px;
    width:120px;
    background:url(../img/index_wm_ann_title.jpg) no-repeat;
    line-height:22px;
    text-align:center;
}
.canada_exchange_rate_con{
    width:119px;
    border:1px solid #d7dac7;
    border-top:none;
    border-left:none;
    background:url(../img/index_r54_c2.jpg) no-repeat;
    padding:5px 0;
}
.canada_exchange_rate_text01{
    width:80px;
    height:20px;
    margin:10px 17px;

}
.canada_exchange_rate_text02{
    width:100px;
    height:20px;
    margin-left:10px;
    margin-bottom:5px;

}
.canada_exchange_rate_btn{
    margin:0 0 30px 16px;
}

.canada_exchange_rate_result{
    text-align:center;
    line-height:20px;
    height:125px;
}
.index_Share_Information{
    width:120px;
    margin-bottom:5px;
}
.index_Share_Information_title{
    height:22px;
    background:url(../img/index_wm_ann_title.jpg) no-repeat;
    line-height:22px;
    text-align:center;
}
.index_Share_Information_con{
    width:119px;
    border:1px solid #d7dac7;
    border-top:none;
    border-left:none;
    background:url(../img/index_r54_c2.jpg) no-repeat;
    padding-bottom:20px;
}
.index_Share_Information_con01{
    width:98px;
    padding:20px 0 10px 20px;
}
.index_Share_Information_con01 li{
    line-height:20px;
}

.index_Share_Information_con p{
    line-height:20px;
    text-align:center;
}



.index_canada{
    width:590px;
    margin-bottom:5px;
}
.index_canada_left{
    width:418px;
    float:left;
    margin-right:5px;
}
.index_canada_left_title{
    width:418px;
    height:26px;
}
.canada_left_tit_left{
    float:left;
    height:26px;
    width:5px;
    background:url(../img/index_r32_left.jpg) no-repeat;
}
.canada_left_tit_center{
    width:398px;
    float:left;
    height:26px;
    padding-left:10px;

    background:url(../img/index_r32_center.jpg) repeat-x;
}
.canada_left_tit_center strong{
    line-height:30px;
    text-align:center;

}
.canada_left_tit_center strong a{
    display:inline-block;
    height:25px;
    width:90px;
    background:url(../img/90-27.gif) no-repeat;
}
.canada_tit_center_lookback{
    float:right;
    height:26px;
    width:42px;
    background:url(../img/gd_ico.gif) 0 6px no-repeat;
}
.canada_ten_big_left_tit_right{
    float:right;
    background:url(../img/index_r32_right.jpg) no-repeat;
    height:26px;
    width:5px;
}

.index_canada_con{
    border:1px solid #cacaca;
    border_top:none;
    width:416px;
    height:270px;
    padding:10px 0;}
.canada_name{
    width:400px;
    height:40px;
    background:#fbfbf2;
    padding:0 8px;
}
.canada_name li{
    float:left;
    list-style:none;
    width:65px;
    height:20px;
    line-height:20px;
    text-align:center;
}
.canada_name li a{
    color:#5c4501;
}
.canada_name li a:hover{
    color:#ce0031;
}
.index_canada_title{
    height:25px;
    width:400px;
    line-height:25px;
    padding:0 9px;
}
.index_canada_title_left{
    width:230px;
    float:left;
}
.index_canada_title_center{
    float:left;
    width:90px;
}

.index_canada_title_right{
    float:right;
    margin-right:30px;
}

.index_canada_left_con01{
    float:left;
    width:215px;
    padding:0 5px 10px 20px;
}
.index_canada_left_con01 li{
    line-height:20px;
}
.index_canada_left_con02{
    float:left;
    width:90px;
}
.index_canada_left_con02 li{
    list-style:none;
    line-height:20px;
}
.index_canada_left_con03{
    float:left;
    width:82px;
}
.index_canada_left_con03 li{
    list-style:none;
    line-height:20px;
}
.Useful_Links{
    width:120px;
    line-height:20px;
    margin-bottom:5px;
    background:url(../img/index_r54_c2.jpg) repeat-y;
    border-bottom:1px solid #d9dccb;
}

.Useful_Links_title{
    height:22px;
    width:120px;
    background:url(../img/index_wm_ann_title.jpg) no-repeat;
    line-height:22px;index_right_newsbroth_con_more
    font-weight:bold;
    text-align:center;
}

.Useful_Links_con{
    padding:10px 5px 10px 20px;
    line-height:20px;
}

.Useful_Links_more a{
    height:15px;
    width:42px;
    border:1px solid #d9dccb;
    line-height:15px;
    margin-left:76px;
    margin-bottom:5px;
}
.iframe_left{
    float:left;
}
.login_wrap{
	width:160px;
	text-align:center;
	line-height:24px;
}

/*--meitu--*/
.mt_block{
	list-style:none;
	margin-bottom:10px;
}
.mt_list{
	width:260px;
	overflow:hidden;
	margin-bottom:10px;
}
.mt_box{
	display:block;
	width:260px;
	height:150px;
	overflow:hidden;
}
.mt_box img{
	width:100%;
}
.mt_title{
	display:block;
	line-height:30px;
	background:#e0e0e0;
	text-align:center;
}
.xh_list{
		padding:10px 0;
		border-bottom:1px solid #ccc;
}

/*------------------------------------------------*/
.index_con_left_tg{width:160px;position:relative;margin-bottom:5px;overflow:hidden;}
.index_con_left_tg ul{position:absolute;left:0;top:0;list-style:none;}
.index_con_left_tg ul li{font-size:30px;text-align: center;color:#fff;float:left;}
.index_con_left_tg ul li a{display: block;height:100%;}
.index_con_left_tg ul li img{width:100%;height:100%;}
.index_con_left_tg .dot{width:140px;padding:3px 10px;position:absolute;bottom:0;left:0;text-align:center;}
.index_con_left_tg .dot span{display: inline-block;width:5px;height:5px;border-radius: 50%;background:rgba(255,255,255,0.5);margin:0;}
.index_con_left_tg .dot .active{background:rgba(0,0,0,0.5);}
