/*overall--------------------*/
.width_auto{
    width:auto;
}
.width_1000{
    width:1000px;
    margin:0 auto;
    position:relative\9;
    left:50%\9;
    margin-left:-500px\9;
}
/*top bar--------------------*/
.top_bar_wrap{
    height:24px;
    background:#f7f7f7;
    border-bottom:1px solid #e0e0e0;
}
.top_bar_cont{
    overflow: hidden;
    font-size:12px;
    line-height:24px;
}
.font_change{
    float:left;
    font-size:12px;
    margin-top:4px;
}
.font_change a{
    margin-right:15px;
}
.login_box{
    float:right;
}
.login_box a{
    margin-left:15px;
}
.topbar_nav_group{
    float:left;
    overflow:hidden;
}
.topbar_nav_list{
    float:left;
    margin-right:10px;
}
.topbar_nav_list a{
    color:#999;
}
.topbar_nav_list a:hover{
    color:#ff6600;
    text-decoration: underline;
}

/*brand box--------------------*/
.brand_box{
    height:48px;
    padding:10px 0;
    z-index:998;
    position: relative;
}
.brand_box form{
    display:none\9;
}
.index_logo_box{
    width:180px;
    height:48px;
    float:left;
}
.index_logo_box img{
    width:100%;
    height:100%;
}
.searchWrap{
    height:34px;
    float:left;
    margin-left:20px;
    border:1px solid #bdbdbd;
    border-right:0;
    border-radius:3px 0 0 3px;
    overflow: hidden;
    text-align:center;
}
.searchWrap div{
    float:left;
    height:34px;
}
.searchSelect select{
    width:64px;
    height:34px;
    height:34px\9;	
    line-height: 34px;
    border-radius:0;
    border:0;
    border:0\9;
    font-size:14px;
    color:#999;
}
.searchContent input{
    width:315px;
    background:#fff;
    height:34px;
    border:0;
    border-radius:0;
    padding-left:5px;
    font-size:14px;
}
.searchBtn{
    float:left;
    width:80px;
    height:36px;
}
.searchBtn button{
    width:80px;
    height:36px;
    border:0;
    border-radius:0;
    background:#4A90E2;
    color:#fff;
    font-size:16px;
	border-radius:0 3px 3px 0;
}
.brand_ad{
    float:right;
}
.appdl_btn{
    position: absolute;
    top:52px;
    left:200px;
    font-size:12px;
}
.appdl_btn a{
    color:#ff6600;
}
.jf_box{
    float:right;
    margin-left:10px;
}
/*header tips--------------------*/
.header_tips{
    height:24px;
    font-size:12px;
    line-height:24px;
    border-bottom:2px solid #e0e0e0;
}

.ad_contact{
    float:right;
    color:#0072bb;
}
.ad_contact i{
    font-style: normal;
}
.online_user{
    float:left;
}
.online_user strong{
    color:#ff6600;
}

/*header nav--------------------*/
.header_nav{
    height:48px;
    background:#4A90E2;
    line-height:48px;
    font-size:15px;
    padding:0 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index:997;
}
.header_nav a{
    margin-right:15px;
    color:#fff;
}
.header_nav a:hover{
    text-decoration: underline;
    color:#ffd853;
}

