/*@import url("//hello.myfonts.net/count/2e561d");*/

@font-face {
	font-family: 'Flexo-BoldIt';
	src: url('../fonts/2E561D_0_0.eot');
	src: url('../fonts/2E561D_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2E561D_0_0.woff2') format('woff2'),url('../fonts/2E561D_0_0.woff') format('woff'),url('../fonts/2E561D_0_0.ttf') format('truetype');
}

body {
	font-size:14px;
	height:100%;
	font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
	
}

p {
	line-height:1.3rem;
}

a {
	text-decoration:underline;
}

.row {
	max-width: 73.1rem;
}

.collapse {
	padding:0;
}

.center {
		margin-left: auto;
		margin-right: auto;
}

table.reset {
	margin: 0;
	padding: 0;
	border: none;
}
table.reset td {
	padding: 0;
	vertical-align: top;
}

h1, h2, h3 {
	font-family: 'Flexo-BoldIt', sans-serif;
}

h1 {
	color:#005675;
	font-size:1.5rem;
	padding:1rem 0 1rem 0;
	margin:0;
}
h2 {
	color:#005675;
	font-size:1.3rem;
	padding:1rem 0 1rem 0;
	margin:0;
}
.preload {
	display: none;
}

.upper-section {
	width:100%;
	position: relative;
	z-index: 2;
	padding:10px 0 9px 0;
	background: #c9e0ee;
	border-bottom: 1px solid #8ab1c8;

	background: -moz-linear-gradient(top, #c9e0ee 0%, #a2c8df 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a2c8df), color-stop(100%,#c1dbec)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #c9e0ee 0%,#a2c8df 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #c9e0ee 0%,#a2c8df 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #c9e0ee 0%,#a2c8df 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #c9e0ee 0%,#a2c8df 100%); /* W3C */
}

.main-section {
	width: 100%;
	min-height: 430px;
	position: relative;
	z-index: 1;
	overflow: hidden;
	background: #cce3f3; /* Old browsers */
	border-bottom: 1px solid #adc6d6;
		
	background: -moz-linear-gradient(top, #deedf7 25%, #c1dbec 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(25%,#deedf7), color-stop(100%,#c1dbec)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #deedf7 25%,#c1dbec 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #deedf7 25%,#c1dbec 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #deedf7 25%,#c1dbec 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #deedf7 25%,#c1dbec 100%); /* W3C */
}

.lower-section {
	width:100%;
	position: relative;
	z-index: 1;
	padding:10px 0;
	border-bottom: 1px solid #cce0ed;
	background: #daecf7; /* Old browsers */
}

.main-section .sq {
	position: absolute;
	bottom:0;
	width:1000px;
	height:100%;
	z-index:1;
}
.main-section .sq.right {
	background:url('../img/sq-right.png') no-repeat bottom right;
	background-size:50%;
	right:0;
}
.main-section .sq.left {
	background:url('../img/sq-left.png') no-repeat bottom left;
	background-size:50%;
	left:0;
}

.bottom-section {
	width:100%;
	position: relative;
	z-index: 1;
	padding:10px 0;
	border-top: 1px solid #cce0ed;
	background: #daecf7;
}

.footer {
	width:100%;
	position: relative;
	z-index: 1;
	padding:6px 0;
	/*background: #daecf7;*/
}

.footer p {
	font-size: 0.8rem;
	color:#5F5F5F;
	margin: 0;
}

.primary {
	position: relative;
	z-index: 3;
}

.primary p {
	color:#00465f;
	font-size:.95rem;
	line-height: 1.4rem;
}
.primary p.secondary {
	/*font-weight:300;
	color:#588ea1;*/
}
.primary-content form i {
	color:#005675;
	position: relative;
	top:3px;
}
.primary-content form i.email-sign {
	top:-2px;
}

.display-bnr {
	width:728px;
	height:90px;
	display: block;
	overflow: hidden;
}

.promo-area {
	border:2px solid #acc2d6;
	border-radius:10px;
	-moz-border-radius:10px;
	padding:15px 0;
	height: 272px;
	position: relative;
	background:#DEEDF7;
}
.promo-area.result-narrow{
	display:none;
	padding:10px 5px;
}
.promo-area.result-trainer{
	display:none;
}
.promo-area.result-training{
	display:none;
	background:#E6F1F8 url(../img/trainer-hands-transparent.png) bottom center no-repeat;
	background-size:100%;
}
.promo-area.result-adexchange{
	display:none;
	border:2px solid #acc2d6;
	border-radius:10px;
	-moz-border-radius:10px;
	padding:10px 2px;
	max-width:230px;
	min-width:202px;
	height: 260px;
	position: relative;
}
.promo-area.active-promo{
	display: block;
}

.promo-area h2 {
	color:#1b7ea2;
	padding:0 15px;
	margin:0 0 0.3rem 0;
	font-size:1.3rem;
}
.promo-area p {
	font-weight: 300;
	padding:0 15px;
	margin:0 0 0.7rem 0;
}
.promo-area .center-button {
	position:absolute;
	bottom:-43px;
	left:50%;
	width:60%;
}
.promo-area .button {
	position:relative;
	left:-50%;
}

.link-display {
	min-width:120px;
	height:300px;
	overflow: hidden;
	position: relative;
	top:-19px;
}
.link-display .label {
	background:transparent;
	color:#1b7ea2;
	margin:0;
	padding:0;
}

.right-display {
	display: block;
	padding: 7px;
	background-color: #91c1d2;
	/*background: url('../img/sq-left.png') no-repeat top left;
	background-size: 800px;*/
	border: 1px solid #8ab1c8;
	width: 316px;
	height: 616px;
	overflow: hidden;
	position: absolute;
	z-index: 2;
	top:8px;
	left:-24px;
}

button.standard, .button.standard {
	padding:.5rem .9rem .5rem .9rem;
	color:white;
	border-radius:10px;
	-moz-border-radius:10px;
	border:3px solid white;
	font-family: 'Flexo-BoldIt', sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size:1.1rem;
}
button.primary, .button.primary {
	background:#ff7e00;
}
button.primary:hover, button.primary:focus, .button.primary:hover, .button.primary:focus {
  	background:#ffa229;
  	color:#fff;
}
button.secondary, .button.secondary {
	background:#58bc00;
}
button.secondary:hover, button.secondary:focus, .button.secondary:hover, .button.secondary:focus {
  	background:#56a213;
  	color:#fff;
}
button.small, .button.small {
	padding:.5rem .8rem .5rem .8rem;
	color:white;
	border-radius:8px;
	-moz-border-radius:8px;
	border:none;
	font-size:0.9rem;
	font-weight:bold;
}
.button-group {
	text-align: center;
	position: relative;
}
.button-group.start {
	margin-top:12px;
}
.button-group .cancel {
	position: absolute;
	right:0;
	top:0;
}
.button-group button {
	display: inline-block;
	margin:0 10px;
	position: relative;
	z-index: 3;
}
.button-group hr {
	background:#acc2d6;
	border:0;
	position: absolute;
	top:0;
	z-index:2;
	width:100%;
	height:2px;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

select {
  border-radius: 10px;
  -moz-border-radius:10px;
  border:0;
  padding-left:15px;
  border:1px solid #abcce8;
  padding:0 0.8rem;
  height:2rem;
}

input[type="password"], input[type="email"], input[type="text"] {
	border-radius: 10px;
	-moz-border-radius:10px;
	border:0;
	padding-left:15px;
	border:1px solid #abcce8;
	padding:0 0.8rem;
	height:2.3rem;
}

.field-additional-link {
	position:relative;
	top:-14px;
	font-size:0.7rem;
	text-align:center;
}

.meta {
	margin: 30px 0 5px 0;
	color:#234867;
}
.meta i {
	color:#74a5c7;
	font-size:1.3rem;
	position: relative;
	top:2px;
	margin-right:5px;
}

.secondary-section {
	margin: 20px 0 0 0;
}

.secondary-section .box {
	margin-bottom: 20px;
	border:2px solid #b2cad8;
	padding:12px 0;
	border-radius:10px;
	-moz-border-radius:10px;
}

.secondary-section h2, h3 {
	font-size: 1.4rem;
	color:#5c8298;
	font-weight:normal;
	margin: 0 15px 12px 15px;
	padding: 0;
	line-height: 1.5rem;
}
.secondary-section a {
	text-decoration: none;
}
.secondary-section p {
	font-size: 0.9rem;
	margin:0 15px 12px 15px;
}
.secondary-section .img-responsive {
	max-height: 230px;
	margin: 0 0 12px 0;
}

.secondary-section .button {
	margin:0;
}

table.blog {
	width: 100%;
}
table.blog .date-column {
	width:60px;
	padding-left:10px;
	padding-right:10px;
	border-right:1px solid #C9C7C7;
}
table.blog .date-column img{
	max-width:60px;
	margin-bottom: 10px;
}
table.blog .date-column .date{
	text-align: center;
	font-family: 'Flexo-BoldIt', sans-serif;
	color:#5c8298;"
}
table.blog .date-column .date .month{
	font-size:1.4rem;
}
table.blog .date-column .date .day{
	font-size:2.0rem;
}
table.blog .date-column .date .year{
	font-size:1.1rem;
}

table.blog .text-column {
	
}

.result {
	color:#396a83;
	width:423px;
}
.result .score {
	width:423px;
	height:101px;
	background:url('../img/result-div-bg.png') no-repeat;
	background-size:100%;
}
.result .score .col, .result-info .col {
	display: inline-block;
	width:136px;
	height:100%;
	text-align: center;
	overflow: hidden;
	padding-top:8px;
	color:#234867;
}
.result .score .col .headline {
	font-size:.8rem;
	display: block;
	height: 1rem;
}
.result .score .col .meta {
	font-size:.8rem;
	display: block;
	margin:0;
	color:#396a83;
}
.result .score .col .amount {
	font-family: 'Flexo-BoldIt', sans-serif;
	font-size:2.4rem;
	display: block;
	height:50px;
}
.result .score .col.errors .amount {
	color:#cd4343;
}
.result .score .col.adjusted .amount, .result .score .col.adjusted .meta {
	color:#53b100;
}
.result hr {
	background:#abcce8;
	height:2px;
	margin:0;
	border:0;
}
.result-info .col {
  font-size: 0.8rem;
  line-height: 1;
}
.speed .head {
	font-size:1.1rem;
	margin:.8rem 0;
	width:100%;
	text-align: center;
}
.speed .typing-speed-tag {
	padding:.3rem .8rem;
	margin: 0 .1rem;
	border:2px solid #fff;
	border-radius:3px;
	-moz-border-radius:3px;
}
.speed .typing-speed-tag.slow {
	background:#eeffde;
	color:#639d2c;
}
.speed .typing-speed-tag.average {
	background:#dbffbb;
	color:#2d5f01;
}
.speed .typing-speed-tag.fluent {
	background:#bbf28b;
	color:#4e811f;
}
.speed .typing-speed-tag.fast {
	background:#9de75b;
	color:#2f6400;
}
.speed .typing-speed-tag.pro {
	background:#83d936;
	color:#275100;
}
.speed-meter {
	width:367px;
	height:97px;
	background:url('../img/speed-div-bg.png') no-repeat;
	background-size:100%;
	margin:auto;
	position: relative;
}
.speed-meter .amount {
	width:50px;
	height:auto;
	background:#fff;
	border:2px solid #83a4be;
	text-align: center;
	font-family: 'Flexo-BoldIt', sans-serif;
	font-size:1.5rem;
	border-radius:4px;
	-moz-border-radius:4px;
	color:#53b100;
	position: absolute;
	top:-4px;
	left:0px;
	line-height:30px;
	padding:1px 0 0 0;
	z-index: 2;
}

.speed-meter .amount:after, .speed-meter .amount:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.speed-meter .amount:after {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #fff;
	border-width: 5px;
	margin-left: -5px;
}
.speed-meter .amount:before {
	border-color: rgba(131, 164, 190, 0);
	border-top-color: #83a4be;
	border-width: 8px;
	margin-left: -8px;
}
.speed-meter .speed-note1, .speed-note2 {
	font-size:0.7rem;
	position: absolute;
	width: 127px;
	top:85px;
	left:0px;
	text-align:right;
	color:#4e7b91;
}
.speed-meter .speed-note2 {
	width:165px;
	left:225px;
	text-align:left;
}

.speed-improvement-figure {
	font-family: 'Flexo-BoldIt', sans-serif;
	font-size: 2.5rem;
	color:#53b100;
}
.speed-improvement-text {
	font-weight:bold;
	font-size: 1.2rem;
	color:#53b100;
}


.result-info {
	min-width:423px;
}
.result .button-group {
	margin-top:10px;
}
.result .button-group hr {
	top:20px;
}
.result-card {
	width:100px;
	height:136px;
	background:url('../img/result-box-idle.png') no-repeat top center;
	background-size:100%;
	display:block;
	text-align: center;
	display: inline-block;
	margin:.3rem;
}
.result-card:hover {
	background:url('../img/result-box-hover.png') no-repeat top center;
	background-size:100%;
}
.result-card .day, .result-card .wpm, .result-card .amount {
	display:block;
}
.result-card .day {
	position: relative;
	top:2px;
}
.result-card .wpm {
	font-family: 'Flexo-BoldIt', sans-serif;
	font-size:2.3rem;
}
.result-card .amount {
	font-family: 'Flexo-BoldIt', sans-serif;
	font-size:1.2rem;
}
.result-card .amount .left {
	position: relative;
	top:5px;
	left:8px;
}
.result-card .amount .right {
	position: relative;
	top:5px;
	right:11px;
}

footer {
    margin: 50px 0;
}

@media screen 
and (max-width: 1160px) {
	.row {
		margin:0;
	}
}

@media screen 
and (max-width: 1185px) {
	.result-content {
		overflow: hidden;
	}
	.result-content .promo {
		max-width:30%;
	}
	.result-content .content-ad {
		float:left!important;
	}
}

@media screen 
and (max-width: 1044px) {
	.result-content .promo {
		max-width:29%;
	}
	
}

@media screen 
and (min-width: 992px)
and (max-width: 1155px) {
  .right-display {
	  padding: 4px;
		width: 168px;
		height: 608px;
	  top: 10px;
	  left: 50px;
  }
  .primary-content{
	  width:80%;
  }
  .secondary-section {
	  width:95.5%;
  }
}
@media screen and (max-width: 991px) {
  .right-display {
	  display:none;
  }
  .primary-content {
	  width:100%;
  }

}

@media screen and (max-width: 820px) {
	.promo-area.result-adexchange {
		display: none;
	}
	.promo-area.result-trainer {
		display: none;
	}
	.promo-area.result-training {
		display: none;
	}
	.promo-area.result-narrow {
		display: block;
	}

}

@media screen and (max-width: 768px) {
	html, body, .row {
		width:768px;
	}
}