
.navbar, .top-bar {
	background:#2a8fb4;
	color:#fff;
}
.top-bar a {
	color:#fff;
	text-decoration: none;
}
.top-bar li.active a, .top-bar li a:hover {
	/*background:#4fa1c2;*/
}
.top-bar .t-logo {
	width:37px;
	height:37px;
	background:url('../img/t-logo.png') no-repeat;
	background-size:cover;
	display:inline-block;
	float:left;
	position: relative;
	top:9px;
}

.top-bar .name {
	padding:0 0.8rem;
}
.top-bar .t-text {
	font-family: 'Flexo-BoldIt', sans-serif;
	margin-left: 5px!important;
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	font-size: 1.4rem!important;
	font-weight:normal;
	padding:0.4rem 0;
}

.top-bar .t-text .t-text-domain{
	font-size: 1.1rem!important;
}

.top-bar ul.right {
	margin-right:16px;
}

.top-bar-section li, .top-bar-section li:not(.has-form) a:not(.button) {
  background:#2a8fb4;
}
.top-bar-section li.active:not(.has-form) a:not(.button) {
  background: #5fafcf;
  color: #FFFFFF;
	padding: 0.4rem 0.8rem;
}
.top-bar-section li:not(.has-form) a:not(.button):hover {
  background-color: #0078a0;
  background: #0078a0;
}

.top-bar li i {
	font-size: 1.2rem;
	position: relative;
	top: 2px;
	margin-right: 5px;
	opacity: 0.7;	
}
.top-bar-section ul li>a {
  font-size: 0.95rem;
}
.top-bar-section li:not(.has-form) a:not(.button) { 
	padding: 0.4rem 0.8rem;
}

@media screen 
and (max-height: 769px) {
.top-bar .t-logo {
	top:3px;
}
.top-bar .t-text {
	padding: 0 0;
}
.top-bar-section li:not(.has-form) a:not(.button) { 
	padding: 0 0.8rem;
}
.top-bar-section li.active:not(.has-form) a:not(.button) {
	padding: 0 0.8rem;
}

}
