#home-content {
  width: 990px;
  margin: 0 auto;
  padding: 30px 0;
}
#home-content-col1 {
  width: 500px;
  float: left;
  margin-right: 20px;
  overflow-x: hidden;
}
#home-tabs {
  width: 500px;
  height: 40px;
  background: #333;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  text-align: center;
}
#home-tabs ul {
  list-style: none;
  display: inline-block;
}
#home-tabs ul li {
  float: left;
}
#home-tabs ul li a {
  text-decoration: none;
  color: #aaa;
  height: 40px;
  vertical-align: middle;
  display: table-cell;
}
#home-tabs ul li a:hover {
  color: #f98527;
  cursor: pointer;
}
.home-tabs-selected {
  color: #333 !important;
  background: #FFCC2F;
  padding: 0 8px;
  border-radius: 5px;
}
.glyph-selected {
  width: 34px;
  height: 7px;
  display: block;
  background: url(../images/sprite.png) 0px -65px;
  margin: 0 auto;
  visibility: hidden;
}
.glyph-selected-visible {
  visibility: visible;
}
.menu-sep-circle {
  width: 6px;
  height: 6px;
  margin: 17px;
  background: url(../images/sprite.png) -43px -65px;
}
#tabs-holder {
  width: 2550px;
  margin-top: 30px;
  margin-left: -510px;
}
.tab-content {
  float: left;
  width: 500px;
  margin-right: 10px;
}
.tab-header {
  margin-bottom: 20px;
}
.tab-description {
  color: #555;
}
.tab-description h1 {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 3em;
}
.tab-description p {
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  font-size: .9em;
}
.profile-img {
  width: 94px;
  height: 94px;
  float: left;
  margin-right: 20px;
}
#advertiser-profile-img {
  background: url(../images/sprite.png) -143px 0;
}
#publisher-profile-img {
  background: url(../images/sprite.png) -247px 0;
}
#affiliate-profile-img {
  background: url(../images/sprite.png) -351px 0;
}
#developer-profile-img {
  background: url(../images/sprite.png) -455px 0;
}
.tab-text {
  font-size: 14px;
  margin-bottom: 15px;
}
.tab-text p {
  margin-bottom: 7px;
  line-height: 19px;
}
.tab-text a,
#login-form a {
  color: #3b72d2;
  text-decoration: none;
}
.tab-text a:hover,
#login-form a:hover {
  color: #f98527;
}
#home-content-col2 {
  float: right;
  width: 440px;
  border-left: 1px solid #eee;
  padding-left: 20px;
}
#home-content-col2 h1 {
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  font-size: 1.8em;
  color: #333;
}
