div.lighter {
	position:fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
	z-index:99998;
	background-color:#CFCFCF;
	background:-ms-radial-gradient(#FFFFFF, #000000);
	background:-moz-radial-gradient(#FFFFFF, #000000);
	background:-webkit-radial-gradient(#FFFFFF, #000000);
	opacity:0.6;
	-moz-opacity:0.6;
	-khtml-opacity:0.6;
	filter:alpha(opacity=60);
}
* html div.lighter {
	left:expression(document.compatMode=="CSS1Compat"? (document.documentElement.scrollLeft)+"px" : (document.body.scrollLeft)+"px");
	top:expression(document.compatMode=="CSS1Compat"? (document.documentElement.scrollTop)+"px" : (document.body.scrollTop)+"px");
	
	
	width:expression(document.compatMode=="CSS1Compat"? (document.documentElement.scrollWidth)+"px" : (document.body.scrollWidth)+"px");
	height:expression(document.compatMode=="CSS1Compat"? (document.documentElement.scrollHeight)+"px" : (document.body.scrollHeight)+"px");
	
	position:absolute;
}
.lighter img {
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-10px;
	margin-top:-10px;
}
* html .lighter img {
	left:expression(document.compatMode=="CSS1Compat"? (document.documentElement.scrollLeft + document.documentElement.clientWidth/2)+"px" : (document.body.scrollLeft + document.body.clientWidth/2)+"px");
	top:expression(document.compatMode=="CSS1Compat"? (document.documentElement.scrollTop + document.documentElement.clientHeight/2)+"px" : (document.body.scrollTop + document.body.clientHeight/2)+"px");
}
.preloader div.lighter h1 {
	position:absolute;
	width:100%;
	top:50%;
	margin-top:30px;
	font-size:18px;
	color:#000;
	text-align:center;
}
div.lighter_hidden {
	opacity:0;
	-moz-opacity:0;
	-khtml-opacity:0;
	filter:alpha(opacity=0);
}
div.popup_container {
	position:fixed;
	left:50%;
	top:50%;
	z-index:99999;
	margin-left:-150px;
	margin-top:-50px;
	width:300px;
	min-width:300px;
	max-width:1000px;
	padding:7px;
	background-color:#eee;
	background-color:rgba(140, 140, 140, 0.23);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	display:table;
	box-shadow:rgba(0,0,0,0.5) 0 0 10px;
	-ms-box-shadow:rgba(0,0,0,0.5) 0 0 10px;
	-moz-box-shadow:rgba(0,0,0,0.5) 0 0 10px;
	-webkit-box-shadow:rgba(0,0,0,0.5) 0 0 10px;
}
* html div.popup_container {
	position:absolute;
	left:expression(document.compatMode=="CSS1Compat"? (document.documentElement.scrollLeft + document.documentElement.clientWidth/2)+"px" : (document.body.scrollLeft + document.body.clientWidth/2)+"px");
	top:expression(document.compatMode=="CSS1Compat"? (document.documentElement.scrollTop + document.documentElement.clientHeight/2)+"px" : (document.body.scrollTop + document.body.clientHeight/2)+"px");
}
div.popup_container .hello_ie {
	width: 334px;
	height:1px;
	display:none;
}
* html div.popup_container .hello_ie {
	width: 334px;
	display:block;
}
div.popup_container * {
	position:relative;
}
div.popup_container table,
div.popup_container tr,
div.popup_container th,
div.popup_container td,
div.popup_container table * {
	position:static;
}
div.popup_container * {
	font-family:Arial;
	text-align:left;
	vertical-align:top;
}
div.popup_container .form {
	display:block !important;
}
div.popup_container1 {
	background-color:#FFFFFF;
	border:1px solid #C1C7CD;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	font-size:12px;
	color:#555;
	padding-bottom:27px;
}
div.popup_header {
	height:20px;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	background-color:#5CB345;
	padding:2px 0 0 7px
}
div.popup_container a.popup_closer {
	float:right;
	height:18px;
	width:18px;
	cursor:pointer;
	background:url(../../img/close.gif) center center no-repeat;
	opacity:0.8;
	-moz-opacity:0.8;
	-khtml-opacity:0.8;
	filter:alpha(opacity=80);
}
div.popup_container a.popup_closer:hover {
	opacity:1;
	-moz-opacity:1;
	-khtml-opacity:1;
	filter:alpha(opacity=100);
}
div.popup_header div {
	margin-top:3px;
	color:#fefefe;
	font-size:12px;
	font-weight:bold;
	float:left;
}
div.popup_button_container {
	position:absolute;
	top:21px;
	left:50%;
}
div.popup_container .button {
	padding: 3px 0 !important;
}
div.popup_container a.popup_button {
	position:absolute;
	bottom:0;
	display:block;
	text-align:center;
	text-decoration:none;
	padding-top:2px;
	height:18px;
	width:150px;
	cursor:pointer;
	background-color: #DEDEDE;
	color: #555;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	left:-75px;
}
div.popup_container a.popup_button:focus {
    box-shadow: 0 0 1px 1px #3399FF;
    -o-box-shadow: 0 0 1px 1px #3399FF;
    -moz-box-shadow: 0 0 1px 1px #3399FF;
    -webkit-box-shadow: 0 0 1px 1px #3399FF;
    outline: none;
    border-color: #3399FF;
}
div.popup_container a.popup_button:hover {
	background-color: #EFEFEF;
}

div.popup_container a.popup_button_yes {
	right:2px;
	width:140px;
	left:auto;
}
div.popup_container a.popup_button_cancel {
	left:2px;
	width:142px;
	right:auto;
}
div.popup_text {
	padding:10px;
	font-size:12px;
	min-height:60px;
}
* html div.popup_text {
	height:60px;
}
div.popup_text * {
	font-size:12px;
	color:#777;
}
div.popup_text input, 
div.popup_text select, 
div.popup_text textarea {
	width:100%;
	border:1px solid #b8b8b8;
    margin-top: 9px;
}
div.popup_text textarea {
	height:68px;
}
div.popup_text table {
	background:#FAFAFA;
}
div.popup_text table,
div.popup_text th,
div.popup_text td {
	border:1px solid #DEDEDE;
	border-collapse: collapse;
}
div.popup_text th,
div.popup_text td {
	padding:5px;
}
div.popup_text th {
	text-align: center;
	font-weight: bold;
	background-color: #f9f9f9;
}
div.popup_text center, 
div.popup_text center * {
	position:static;
	text-align:center;
}
div.popup_text .vote {
	margin-top:10px;
	
}
div.popup_text .vote .widget {
	margin:2px 0 0 20px;
}
div.popup_text .vote .widget * {
	font-size:11px;
}
div.popup_text .vote .sh_vote {
	width:auto;
}
