/* INPUTS */
.reglament-chat-form {
  background: url("../img/reglam_logo.png") no-repeat 53px 53px;
  width: 384px;
  padding: 53px 53px 68px 293px;
  box-sizing: content-box;
  text-align: left;
  margin: 50px auto;
  position: relative;
}
.reglament-chat-form h1 {
  font-size: 24px;
  font-weight: bold;
  color: #666;
  line-height: 24px;
  margin: -4px 0 30px 0;
  font-family: Arial;
}
.reglament-chat-form p {
  font-size: 18px;
  font-weight: bold;
  color: #1F191A;
  line-height: 24px;
  margin: 0 0 30px 0;
  font-family: Arial;
}
.reglament-chat-form:after {
  content: ' ';
  clear: both;
  display: block;
  height: 25px;
  width: 100%;
  background: url("../img/reglam_line.png") no-repeat;
  position: absolute;
  left: 0;
  bottom: 0;
}
.reglament-chat-form .button.grey {
  -o-border-radius: 3px;
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -o-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.7);
  -moz-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.7);
  -khtml-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.7);
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.7);
  display: block;
  float: left;
  text-decoration: none;
  background: none;
  border: 1px solid #b8b8b8;
  line-height: 1;
  padding: 9px 18px;
  text-align: center;
  color: #484848;
  cursor: pointer;
  font-size: 14px;
}
.reglament-chat-form .button.grey:hover {
  background: #ebebeb;
  background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#dddddd));
  background: -moz-linear-gradient(top, #f9f9f9, #dddddd);
  background: -o-linear-gradient(top, #f9f9f9 0%, #dddddd 100%);
  background: -ms-linear-gradient(top, #f9f9f9, #dddddd);
  background: linear-gradient(top, #f9f9f9, #dddddd);
  filter: progid: DXImageTransform.Microsoft#gradient(startColorstr='#f9f9f9', endColorstr='#dddddd');
  -o-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  -khtml-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  border-color: #646464;
  color: #363636;
}
* html .reglament-chat-form {
  width: 730px;
}
