@charset "UTF-8";

.Bar-table:after {
  background-color: rgba(37, 39, 44, 0.7) !important;
}

.Home--support {
  background: url(//d585tldpucybw.cloudfront.net/sfimages/default-source/labs/support-bg.jpg) fixed 100% 0 no-repeat;
  background-size: cover;
}

.ie7 .Home--support {
  background-attachement: scroll;
  background-position: 50% 0 !important;
}

.hgroup2 {
  text-align: center;
}

.hgroup2 h1 {
  font: 300 70px/1 "FaktSlabPro", Arial, Helvetica, sans-serif;
}

.hgroup2 h2 {
  font: 300 50px/1 "FaktSlabPro", Arial, Helvetica, sans-serif;
}

.hgroup2 h2 span {
  color: #039be5;
}

.hgroup2 h3 {
  margin-bottom: 5px;
  color: #70CBF0;
  font: 400 36px/1 Arial,Helvetica,sans-serif;
  letter-spacing: -0.03em;
}

.hgroup2 h4 {
  font: 300 30px/1 "FaktSlabPro", Arial, Helvetica, sans-serif;
  line-height: 1.2;
}

.hgroup2 .SubTitle {
  margin: auto;
  color: #444;
  font: 400 22px/1.3 Arial, Helvetica, sans-serif;
  letter-spacing: -0.03em;
}

.Section--green5 {
  background: #39c051;
}
.Section--awardshome h4 {
  font-size: 21px;
  margin-bottom: 20px;
}
.Section--awardshome p {
  font-size: 14px
}

.HomepageHeader {
  position: relative;
}
.HomepageHeader h1 {
  margin-bottom: 15px;
  color: #fff;
  font: 300 100px/1 "FaktSlabPro", Arial, Helvetica, sans-serif;
}
.HomepageHeader h2 {
  color: #fff;
  font: 36px/1  Arial,Helvetica,sans-serif;
}

.HomepageHeader-hgroup {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  margin-left: -50%;
  height: 140px;
  margin-top: -70px;
  text-align: center;
  text-shadow: 0 0 30px rgba(8,58,61, .2);
}

.HomepageHeader video {
  display: block;
}

@media screen and  (min-width: 1200px){
  .ie9 .HomepageHeader video {
    width: 100%;
  }
}

.video-overlay {
  background: rgba(0, 0, 0, 0) url(//d585tldpucybw.cloudfront.net/sfimages/default-source/labs/video-overlay.png);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.Infobox {
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 50px;
  font-family: "FaktSlabPro", Arial, Helvetica, sans-serif;
  position: relative;
  z-index: 5001 !important;
  background: #ffda3f;
}

.Infobox .hide {
  position: absolute;
  text-decoration: none;
  right: 1%;
  top: 0;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 50px;
  font-family: arial, sans-serif;
  color: #333333;
  padding: 0px 10px;
  opacity: .5;
}

.Infobox .hide:hover {
  opacity: 1;
  -webkit-transition: opacity .3s ease-in-out;
  -moz-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}

.ProductBox {
  margin-bottom: 50px;
  padding: 0 0 20px;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  text-align: center;
  min-height: 200px;
}

.ProductBox sup {
  font-size: 20px;
  margin-left: -.2em;
}
.ProductBox sup.sm {
  font-size: 15px;
  position: relative;
  top: -.7em;
}

.ProductBox h3 {
  position: relative;
  top: -5px;
  display: inline-block;
  padding: 0 15px;
  margin-bottom: 0;
  color: #455a6e;
  color: rgba(58,78,97, .8);
  font: 500 20px/1.3 "FaktSlabPro", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  background: #fff;
}
.ProductBox--devcraft h3 {
  color: #03a93a;
}
.ProductBox--mobile h3 {
  color: #018fc9;
}
.ProductBox--html5 h3 {
  color: #e84f40;
}
.ProductBox h2 {
  font: 500 40px/1.2 "Metric", "Arial", Gadget, sans-serif;
  margin-bottom: 10px;
  margin-top: -1px;
}
.ProductBox h2 sup {
  font-size: 20px;
}
.ProductBox h4 {
  margin-bottom: 20px;
  padding: 0 16%;
  color: #555;
  font-size: 15px;
  line-height: 21px;
}
.ProductBox .Btn {
  padding: 6px 20px;
  background-color: #354a5f;
  background-image: linear-gradient("#394e63", "#314559");
  box-shadow: 0 1px 1px rgba(0,0,0, .25)
}
.ProductBox .Btn.Btn--devcraft {
  background-color: #26b756;
  background-image: linear-gradient("#2cbb5c", "#24b352");
}
.ProductBox .Btn.Btn--devcraft:hover {
  background-color: #32c563;
}
.ProductBox .Btn.Btn--mobile {
  background-color: #018dc8;
  background-image: linear-gradient("#0192cb", "#0188c5");
}
.ProductBox .Btn.Btn--mobile:hover {
  background-color: #02a2e1;
}
.ProductBox .Btn.Btn--html5 {
  background-color: #e74b3c;
  background-image: linear-gradient("#e95243", "#e64739");
}
.ProductBox .Btn.Btn--html5:hover {
  background-color: #f86859;
}

.LearnMoreContainer {
  position: absolute;
  bottom: 71px;
  left: 16px;
  right: 16px;
}

@media screen and (max-width: 620px){
  .LearnMoreContainer {
   bottom: 41px;
  }
}

@media only screen and (max-width: 620px) {
  .Justify--blond .Justify-item {
    text-align: left;
    width: 60% !important;
    margin: 15px auto !important;
    float: none !important;
    display: block !important;
  }
}


.Justify--blond .Aggregate {
  position: relative;
  left: 0;
}

@media only screen and (min-width: 1231px) {
  .Justify--blond .Aggregate {
    font: 200 85px/.8 "FaktSlabPro", "Arial", sans-serif;
  }
}

.Justify--blond.Justify--blondsmall .Aggregate {
  font-size: 50px;
}
.Justify--blond .Justify-item {
  color: #000;
}
.Justify--blond .Text--xl,
.Justify--blond .Aggregate,
.Justify--blond .Justify-item .icon--neutral:before,
.Justify--blond .Justify-item:hover .icon--neutral:before {
  transition: all .3s;
}

.ie7 .Justify--blond {
    min-width: 700px;
    margin: auto;
}

.Justify--blond .Justify-item:hover .Aggregate {
  left: 5%;
}
.Justify--blond .Justify-item:hover .Text--xl {
  text-indent: -15%;
}
.Justify--blond .Justify-item:hover .icon--neutral:before {
  color: rgba(255, 255, 255, 0.8);
}

.Support-hours {
  padding: 0 20%;
}

.ie9 .Award img {
  max-width: 143px !important;
  width: 60%;
}

@media only screen and (max-width: 1200px) {
  .Award--featured {
    max-width: 100% !important;
    width: 100% !important;
  }
  .HomepageHeader h1 {
    font-size: 60px;
  }
  .HomepageHeader h2 {
    font-size: 20px;
    letter-spacing: 0;
  }
  .HomepageHeader .Link--goTo {
    display: none;
  }
  .HomepageHeader-hgroup {
    text-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
  }
  .HomepageHeader {
    overflow: hidden;
  }
  .HomepageHeader video {
    height: 422px;
    width: 200%;
    margin-left: -50%;
  }
  .Home--support {
    background-attachment: scroll;
  }
  .ProductBox h2 {
    font-size: 30px;
  }
  .ProductBox h4 {
    padding: 0 4%;
  }
}

@media screen and (max-width: 1030px)  and (min-width: 914px) {
  .ProductBox {
    min-height: 219px;
  }
}

@media only screen and (max-width: 1024px) {
  .Support-hours {
    padding: 0;
  }
  .Support-hours br {
    display: none;
  }
  .Support-hours .Justify-item {
    max-width: 31.3%;
    display: inline-block !important;
    padding-left: 1%;
    padding-right: 1%;
  }
  .Support-hours img{
    background: rgba(255,255,255,.5);
    border-radius: 50%;
  }
  .Support-hours .Text--s {
    background: rgba(255,255,255,.75);
    padding: 2px 10px;
    border-radius: 5px;
  }
  .Home--support {
    background-position: 50% 50% !important;
  }
}

@media screen and (max-width: 914px)  and (min-width: 620px) {
  .ProductBox {
    min-height: 267px;
  }
}

@media screen and (max-width: 750px) {
  .Infobox {
    padding-right: 30px;
    font-size: 14px;
    line-height: 38px;
  }
  .Infobox .hide{
    font-size: 21px;
    line-height: 38px;
  }
}

@media screen and (max-width: 620px) {
  .ProductBox {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 610px) {
    .HomepageHeader video {
      display: none;
    }

    .HomepageHeader  {
      min-height: 380px;
      background: url("//d585tldpucybw.cloudfront.net/sfimages/default-source/labs/vid-home-fallback.jpg") 50% 0 no-repeat;
      background-size: cover;
    }
    .HomepageHeader h1 {
      font-size: 40px;
    }
}

@media screen and (max-width: 520px) {
  .Infobox {
    display: none;
  }
}

