body {
  background: url("../images/bg.jpg") no-repeat top center;
}

/*center*/
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

.img-responsive {
    margin: 0 auto !important;
}

/* float image */
#double-money {
    position: relative;
}

#double-money img {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1;
    width: 10%;
}

.move-right .bfh-selectbox {
  margin-top: 20px;
}

.move-right {
  float: right;
}

/* navigation */
.navbar {
    border: none;
    border-radius: 0;
    background-color: rgba(255,255,255,0.80);
}

.nav {
    margin-top: 30px;
}

.nav a {
  color:#333333 !important;
  padding:1px 8px !important;
}

.nav li {
  padding:0 !important;
}

.nav a:hover {
  text-decoration: underline !important;
}

/*.nav li:first-child {
  border-right:1px solid #333333;
}*/

.nav .dropdown {
  background: #7cbc41;
  border-radius: 2px;
}

.nav .dropdown a {
  color:#fff !important;
}  

.nav .dropdown li a {
  color:#000 !important;
}  

.dropdown-menu {
  min-width: 100px;
}

.nav .dropdown-menu li:first-child {
  border-right:none !important;
}

/* header text */
.header-text {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 10px;
    color: #fff;
    background-color: #7cbc41;
    border-color: #d6e9c6;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 20px;
}


/*video block*/

.video-block {
  position: relative;
}

.video-row {
   position: absolute;
   top: 28px;
   left: 34px;
   min-width: 91%;
   margin: 0 auto;  
}

.video-row iframe {
  border-radius: 8px;
  width: 100%;
  height: 422px;
}

.body-video {
  margin-top: 40px;
}

.body-video h1 {
  color: #024a87;
  font-size: 26px;
  font-weight: bold;
  margin-top: 0px;
}

.body-video ul.image-list {
  margin-top: 30px;
  list-style:none;
  padding:0;
}

.body-video ul.image-list li {
    background:url('../images/bullet.png') no-repeat 0 0;
    padding-left:55px;
    font-size: 20px;
    margin-bottom: 10px;
    padding-top: 5px;
}

.blue-hr {
  background:#00a0e9;
  height: 8px;
  border-radius: 8px;
  margin-top: 20px;
}

/*jetzts-button */
.jetzts-button {
  margin: 30px auto;
  position: relative;
  width: 493px;
}

.button-row {
   left: 0;
    position:absolute;
    text-align:center;
    top: 26px;
    width: 100%;
    color:#fff;
    font-weight: bold;
    font-size: 27px;
}

.trusted {
  margin-top: 20px;
}

.no1 {
  margin-bottom: 30px;
}

/*sub-footer */
.sub-footer {
  background: #0059b4;
  color: #fff;
}

.sub-footer .row {
  margin-top: 20px;
  padding: 20px 0;
}

.sub-footer .row h1 {
  font-weight: bold;
  text-align: right;
}

.sub-footer .row p {
  font-size:16px;
  text-align: right;
}

.grayscale {-webkit-filter: grayscale(100%); filter: grayscale(100%);}

.sub-footer .row .btn {
  font-size:30px;
  text-align: right;
  color: #fff;
  background: none;
  border:2px solid #fff;
  width: 80%;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  float: right;
}

.sub-footer .row img {
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}

.go-left {
  float: left;
  font-size: 15px;
}

.go-right {
  float: right;
  font-size: 15px;
}

/*footer*/
footer {
  background: #7dba40;
  color: #fff;
  padding:20px 0 10px 0;
}

footer ul {
  padding: 0;
  margin: 0;
}

footer ul li {
  list-style: none;
}

footer ul li a {
  color: #fff;
  text-decoration: underline;
}

footer ul li a:hover {
  color: #fff;
  text-decoration: none;
}

footer ul li.yellow {
  color: #fff000;
  text-decoration: underline;
}

footer ul.right {
  float: right;
  text-align: right;
}

.ads-1 {
  padding-top:0px;
}

.ads-2 {
  padding-top:15px;
}

.ads-3 {
  padding-top:25px;
}

.ads-4 {
  padding-top:25px;
}


.ads-5 {
  padding-top:15px;
}

.ads-6 {
  padding-top:20px;
}

.ads-7 {
  padding-top:10px;
}

.ads-8 {
  padding-top:8px;
}

.ads-9 {
  padding-top:10px;
}

.ads-10 {
  padding-top:13px;
}

.ads-11 {
  padding-top:0px;
}

.ads-12 {
  padding-top:15px;
}

/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

 .double-money {
    display: none;
  }

  .sub-footer .row h1 {
    text-align: center;
  }

  .sub-footer .row p {
    text-align: center;
  }

  .sub-footer .row .btn {
    float: none;
    margin: auto;
    display: block;
    margin-bottom: 50px;
    width: 50%;
  }

  footer ul {
    margin-bottom: 20px;
  }

  footer ul li {
    text-align: center;
  }

  footer ul.right {
    float: none;
  }

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

  .navbar-toggle {
    background: #7cbc41;
    border-color: #fff !important;
  }

 .navbar-toggle:hover {
    background: #024a87 !important;
    border-color: #fff !important;
  } 

  .nav {
    margin-top: 0;
  }
  
  .video-row {
    position: initial;
  }

  .video-row iframe {
      height: 300px;
  }

  .video-block img {
    display: none;
  }

  .double-money {
    display: none;
  }

  .jetzts-button {
    width: auto;
  }

  .body-video ul.image-list li {
    font-size: 14px;
  }

  .sub-footer .row h1 {
    text-align: center;
    font-size: 26px;
  }

  .sub-footer .row p {
    text-align: center;
    font-size: 14px;
  }

  .sub-footer .row .btn {
    float: none;
    margin: auto;
    display: block;
    margin-bottom: 50px;
    width: 50%;   
    font-size: 26px; 
  }

  footer ul {
    margin-bottom: 20px;
  }

  footer ul li {
    text-align: center;
  }

  footer ul.right {
    float: none;
  }

  .nav li:first-child {
      border-right: none;
  }

  .move-right {
    float: none;
  }

}

/* Portrait phones and smaller */
@media (max-width: 480px) {

  .move-right {
    float: none;
  }

  .navbar-toggle {
    background: #7cbc41;
    border-color: #fff !important;
  }

 .navbar-toggle:hover {
    background: #024a87 !important;
    border-color: #fff !important;
  } 

  .nav {
    margin-top: 0;
  }

  .video-row {
    position: initial;
  }

  .video-row iframe {
      height: 300px;
  }

  .video-block img {
    display: none;
  }

  .double-money {
    display: none;
  }

  .button-row {
    font-size: 18px;
    top: 17px;

  }

  .jetzts-button {
    width: auto;
  }

  .body-video ul.image-list li {
    font-size: 14px;
  }

  .sub-footer .row h1 {
    text-align: center;
    font-size: 26px;
  }

  .sub-footer .row p {
    text-align: center;
    font-size: 14px;
  }

  .sub-footer .row .btn {
    float: none;
    margin: auto;
    display: block;
    margin-bottom: 50px;
    width: 80%;   
    font-size: 26px; 
  }

  footer ul {
    margin-bottom: 20px;
  }

  footer ul li {
    text-align: center;
  }

  footer ul.right {
    float: none;
  }

  .nav li:first-child {
      border-right: none;
  }

  .add-margin {
    margin-top: 20px;
  }

}

