#dropdownLang li .flag{
    margin-right: 6px;
    margin-top: 4px;
	float:left;
}

#dropdownLang li{
	padding-right : 16px;
}


.flag {
  width: 16px;
  height: 11px;
  background: url(../img/flags.png) no-repeat;
}

div.flag {
  float: left;
}

.flag.flag-zw {
  background-position: 0px 0px;
}

.flag.flag-zm {
  background-position: -16px 0px;
}

.flag.flag-za {
  background-position: 0px -11px;
}

.flag.flag-yt {
  background-position: -16px -11px;
}

.flag.flag-ye {
  background-position: -32px 0px;
}

.flag.flag-ws {
  background-position: -32px -11px;
}

.flag.flag-wf {
  background-position: 0px -22px;
}

.flag.flag-vu {
  background-position: -32px -22px;
}

.flag.flag-vn {
  background-position: 0px -33px;
}

.flag.flag-vi {
  background-position: -16px -33px;
}

.flag.flag-vg {
  background-position: -32px -33px;
}

.flag.flag-ve {
  background-position: -48px 0px;
}

.flag.flag-vc {
  background-position: -48px -11px;
}

.flag.flag-va {
  background-position: -48px -22px;
}

.flag.flag-uz {
  background-position: -48px -33px;
}

.flag.flag-uy {
  background-position: 0px -44px;
}

.flag.flag-us {
  background-position: -16px -44px;
}

.flag.flag-um {
  background-position: -16px -44px;
}

.flag.flag-ug {
  background-position: -32px -44px;
}

.flag.flag-ua {
  background-position: -48px -44px;
}

.flag.flag-tz {
  background-position: -64px 0px;
}

.flag.flag-tw {
  background-position: -64px -11px;
}

.flag.flag-tv {
  background-position: -64px -22px;
}

.flag.flag-tt {
  background-position: -64px -33px;
}

.flag.flag-tr {
  background-position: -64px -44px;
}

.flag.flag-to {
  background-position: 0px -55px;
}

.flag.flag-tn {
  background-position: -16px -55px;
}

.flag.flag-tm {
  background-position: -32px -55px;
}

.flag.flag-tl {
  background-position: -48px -55px;
}

.flag.flag-tk {
  background-position: -64px -55px;
}

.flag.flag-tj {
  background-position: 0px -66px;
}

.flag.flag-th {
  background-position: -16px -66px;
}

.flag.flag-tg {
  background-position: -32px -66px;
}

.flag.flag-tf {
  background-position: -48px -66px;
}

.flag.flag-td {
  background-position: -64px -66px;
}

.flag.flag-tc {
  background-position: -80px 0px;
}

.flag.flag-sz {
  background-position: -80px -11px;
}

.flag.flag-sy {
  background-position: -80px -22px;
}

.flag.flag-sx {
  background-position: -80px -33px;
}

.flag.flag-sv {
  background-position: -80px -44px;
}

.flag.flag-st {
  background-position: -80px -55px;
}

.flag.flag-ss {
  background-position: -80px -66px;
}

.flag.flag-sr {
  background-position: 0px -77px;
}

.flag.flag-so {
  background-position: -16px -77px;
}

.flag.flag-sn {
  background-position: -32px -77px;
}

.flag.flag-sm {
  background-position: -48px -77px;
}

.flag.flag-sl {
  background-position: -64px -77px;
}

.flag.flag-sk {
  background-position: -80px -77px;
}

.flag.flag-si {
  background-position: -96px 0px;
}

.flag.flag-sh {
  background-position: -96px -11px;
}

.flag.flag-sg {
  background-position: -96px -22px;
}

.flag.flag-se {
  background-position: -96px -33px;
}

.flag.flag-sd {
  background-position: -96px -44px;
}

.flag.flag-sc {
  background-position: -96px -66px;
}

.flag.flag-sb {
  background-position: -96px -77px;
}

.flag.flag-sa {
  background-position: 0px -88px;
}

.flag.flag-rw {
  background-position: -16px -88px;
}

.flag.flag-ru {
  background-position: -32px -88px;
}

.flag.flag-rs {
  background-position: -48px -88px;
}

.flag.flag-ro {
  background-position: -64px -88px;
}

.flag.flag-qa {
  background-position: -80px -88px;
}

.flag.flag-py {
  background-position: -96px -88px;
}

.flag.flag-pw {
  background-position: 0px -99px;
}

.flag.flag-pt {
  background-position: -16px -99px;
}

.flag.flag-ps {
  background-position: -32px -99px;
}

.flag.flag-pr {
  background-position: -48px -99px;
}

.flag.flag-pn {
  background-position: -64px -99px;
}

.flag.flag-pm {
  background-position: -80px -99px;
}

.flag.flag-pl {
  background-position: -96px -99px;
}

.flag.flag-pk {
  background-position: -112px 0px;
}

.flag.flag-ph {
  background-position: -112px -11px;
}

.flag.flag-pg {
  background-position: -112px -22px;
}

.flag.flag-pf {
  background-position: -112px -33px;
}

.flag.flag-pe {
  background-position: -112px -44px;
}

.flag.flag-pa {
  background-position: -112px -55px;
}

.flag.flag-om {
  background-position: -112px -66px;
}

.flag.flag-nz {
  background-position: -112px -77px;
}

.flag.flag-nu {
  background-position: -112px -88px;
}

.flag.flag-nr {
  background-position: -112px -99px;
}

.flag.flag-no {
  background-position: 0px -110px;
}

.flag.flag-bv {
  background-position: 0px -110px;
}

.flag.flag-sj {
  background-position: 0px -110px;
}

.flag.flag-nl {
  background-position: -16px -110px;
}

.flag.flag-ni {
  background-position: -32px -110px;
}

.flag.flag-ng {
  background-position: -48px -110px;
}

.flag.flag-nf {
  background-position: -64px -110px;
}

.flag.flag-ne {
  background-position: -80px -110px;
}

.flag.flag-nc {
  background-position: -96px -110px;
}

.flag.flag-na {
  background-position: -112px -110px;
}

.flag.flag-mz {
  background-position: -128px 0px;
}

.flag.flag-my {
  background-position: -128px -11px;
}

.flag.flag-mx {
  background-position: -128px -22px;
}

.flag.flag-mw {
  background-position: -128px -33px;
}

.flag.flag-mv {
  background-position: -128px -44px;
}

.flag.flag-mu {
  background-position: -128px -55px;
}

.flag.flag-mt {
  background-position: -128px -66px;
}

.flag.flag-ms {
  background-position: -128px -77px;
}

.flag.flag-mr {
  background-position: -128px -88px;
}

.flag.flag-mq {
  background-position: -128px -99px;
}

.flag.flag-mp {
  background-position: -128px -110px;
}

.flag.flag-mo {
  background-position: 0px -121px;
}

.flag.flag-mn {
  background-position: -16px -121px;
}

.flag.flag-mm {
  background-position: -32px -121px;
}

.flag.flag-ml {
  background-position: -48px -121px;
}

.flag.flag-mk {
  background-position: -64px -121px;
}

.flag.flag-mh {
  background-position: -80px -121px;
}

.flag.flag-mg {
  background-position: -96px -121px;
}

.flag.flag-me {
  background-position: 0px -132px;
  height: 12px;
}

.flag.flag-md {
  background-position: -112px -121px;
}

.flag.flag-mc {
  background-position: -128px -121px;
}

.flag.flag-ma {
  background-position: -16px -132px;
}

.flag.flag-ly {
  background-position: -32px -132px;
}

.flag.flag-lv {
  background-position: -48px -132px;
}

.flag.flag-lu {
  background-position: -64px -132px;
}

.flag.flag-lt {
  background-position: -80px -132px;
}

.flag.flag-ls {
  background-position: -96px -132px;
}

.flag.flag-lr {
  background-position: -112px -132px;
}

.flag.flag-lk {
  background-position: -128px -132px;
}

.flag.flag-li {
  background-position: -144px 0px;
}

.flag.flag-lc {
  background-position: -144px -11px;
}

.flag.flag-lb {
  background-position: -144px -22px;
}

.flag.flag-la {
  background-position: -144px -33px;
}

.flag.flag-kz {
  background-position: -144px -44px;
}

.flag.flag-ky {
  background-position: -144px -55px;
}

.flag.flag-kw {
  background-position: -144px -66px;
}

.flag.flag-kr {
  background-position: -144px -77px;
}

.flag.flag-kp {
  background-position: -144px -88px;
}

.flag.flag-kn {
  background-position: -144px -99px;
}

.flag.flag-km {
  background-position: -144px -110px;
}

.flag.flag-ki {
  background-position: -144px -121px;
}

.flag.flag-kh {
  background-position: -144px -132px;
}

.flag.flag-kg {
  background-position: 0px -144px;
}

.flag.flag-ke {
  background-position: -16px -144px;
}

.flag.flag-jp {
  background-position: -32px -144px;
}

.flag.flag-jo {
  background-position: -48px -144px;
}

.flag.flag-jm {
  background-position: -64px -144px;
}

.flag.flag-je {
  background-position: -80px -144px;
}

.flag.flag-it {
  background-position: -96px -144px;
}

.flag.flag-is {
  background-position: -112px -144px;
}

.flag.flag-ir {
  background-position: -128px -144px;
}

.flag.flag-iq {
  background-position: -144px -144px;
}

.flag.flag-io {
  background-position: -160px 0px;
}

.flag.flag-in {
  background-position: -160px -11px;
}

.flag.flag-im {
  background-position: -160px -22px;
  height: 9px;
}

.flag.flag-il {
  background-position: -160px -31px;
}

.flag.flag-ie {
  background-position: -160px -42px;
}

.flag.flag-id {
  background-position: -160px -53px;
}

.flag.flag-hu {
  background-position: -160px -64px;
}

.flag.flag-ht {
  background-position: -160px -75px;
}

.flag.flag-hr {
  background-position: -160px -86px;
}

.flag.flag-hn {
  background-position: -160px -97px;
}

.flag.flag-hk {
  background-position: -160px -108px;
}

.flag.flag-gy {
  background-position: -160px -119px;
}

.flag.flag-gw {
  background-position: -160px -130px;
}

.flag.flag-gu {
  background-position: -160px -141px;
}

.flag.flag-gt {
  background-position: 0px -155px;
}

.flag.flag-gs {
  background-position: -16px -155px;
}

.flag.flag-gr {
  background-position: -32px -155px;
}

.flag.flag-gq {
  background-position: -48px -155px;
}

.flag.flag-gp {
  background-position: -64px -155px;
}

.flag.flag-gn {
  background-position: -80px -155px;
}

.flag.flag-gm {
  background-position: -96px -155px;
}

.flag.flag-gl {
  background-position: -112px -155px;
}

.flag.flag-gi {
  background-position: -128px -155px;
}

.flag.flag-gh {
  background-position: -144px -155px;
}

.flag.flag-gg {
  background-position: -160px -155px;
}

.flag.flag-ge {
  background-position: -176px 0px;
}

.flag.flag-gd {
  background-position: -176px -11px;
}

.flag.flag-gb {
  background-position: -176px -22px;
}

.flag.flag-en {
  background-position: -176px -22px;
}

.flag.flag-uk {
  background-position: -176px -22px;
}

.flag.flag-ga {
  background-position: -176px -33px;
}

.flag.flag-fr {
  background-position: -176px -44px;
}

.flag.flag-gf {
  background-position: -176px -44px;
}

.flag.flag-re {
  background-position: -176px -44px;
}

.flag.flag-mf {
  background-position: -176px -44px;
}

.flag.flag-bl {
  background-position: -176px -44px;
}

.flag.flag-fo {
  background-position: -176px -55px;
}

.flag.flag-fm {
  background-position: -176px -66px;
}

.flag.flag-fk {
  background-position: -176px -77px;
}

.flag.flag-fj {
  background-position: -176px -88px;
}

.flag.flag-fi {
  background-position: -176px -99px;
}

.flag.flag-eu {
  background-position: -176px -121px;
}

.flag.flag-et {
  background-position: -176px -132px;
}

.flag.flag-es {
  background-position: -176px -143px;
}

.flag.flag-er {
  background-position: -176px -154px;
}

.flag.flag-eh {
  background-position: -16px -166px;
}

.flag.flag-eg {
  background-position: -32px -166px;
}

.flag.flag-ee {
  background-position: -48px -166px;
}

.flag.flag-ec {
  background-position: -64px -166px;
}

.flag.flag-dz {
  background-position: -80px -166px;
}

.flag.flag-do {
  background-position: -96px -166px;
}

.flag.flag-dm {
  background-position: -112px -166px;
}

.flag.flag-dk {
  background-position: -128px -166px;
}

.flag.flag-dj {
  background-position: -144px -166px;
}

.flag.flag-de {
  background-position: -160px -166px;
}

.flag.flag-cz {
  background-position: -176px -166px;
}

.flag.flag-cy {
  background-position: 0px -177px;
}

.flag.flag-cx {
  background-position: -16px -177px;
}

.flag.flag-cw {
  background-position: -32px -177px;
}

.flag.flag-cv {
  background-position: -48px -177px;
}

.flag.flag-cu {
  background-position: -64px -177px;
}

.flag.flag-cs {
  background-position: -80px -177px;
}

.flag.flag-cr {
  background-position: -96px -177px;
}

.flag.flag-co {
  background-position: -112px -177px;
}

.flag.flag-cn {
  background-position: -128px -177px;
}

.flag.flag-cm {
  background-position: -144px -177px;
}

.flag.flag-cl {
  background-position: -160px -177px;
}

.flag.flag-ck {
  background-position: -176px -177px;
}

.flag.flag-ci {
  background-position: -192px 0px;
}

.flag.flag-cg {
  background-position: -192px -11px;
}

.flag.flag-cf {
  background-position: -192px -22px;
}

.flag.flag-cd {
  background-position: -192px -33px;
}

.flag.flag-cc {
  background-position: -192px -44px;
}

.flag.flag-ca {
  background-position: -192px -66px;
}

.flag.flag-bz {
  background-position: -192px -77px;
}

.flag.flag-by {
  background-position: -192px -88px;
}

.flag.flag-bw {
  background-position: -192px -99px;
}

.flag.flag-bt {
  background-position: -192px -110px;
}

.flag.flag-bs {
  background-position: -192px -121px;
}

.flag.flag-br {
  background-position: -192px -132px;
}

.flag.flag-bq {
  background-position: -192px -143px;
}

.flag.flag-bo {
  background-position: -192px -154px;
}

.flag.flag-bn {
  background-position: -192px -165px;
}

.flag.flag-bm {
  background-position: -192px -176px;
}

.flag.flag-bj {
  background-position: 0px -188px;
}

.flag.flag-bi {
  background-position: -16px -188px;
}

.flag.flag-bh {
  background-position: -32px -188px;
}

.flag.flag-bg {
  background-position: -48px -188px;
}

.flag.flag-bf {
  background-position: -64px -188px;
}

.flag.flag-be {
  background-position: -80px -188px;
}

.flag.flag-bd {
  background-position: -96px -188px;
}

.flag.flag-bb {
  background-position: -112px -188px;
}

.flag.flag-ba {
  background-position: -128px -188px;
}

.flag.flag-az {
  background-position: -144px -188px;
}

.flag.flag-ax {
  background-position: -160px -188px;
}

.flag.flag-aw {
  background-position: -176px -188px;
}

.flag.flag-au {
  background-position: -192px -188px;
}

.flag.flag-hm {
  background-position: -192px -188px;
}

.flag.flag-at {
  background-position: -208px 0px;
}

.flag.flag-as {
  background-position: -208px -11px;
}

.flag.flag-ar {
  background-position: -208px -22px;
}

.flag.flag-ao {
  background-position: -208px -33px;
}

.flag.flag-an {
  background-position: -208px -44px;
}

.flag.flag-am {
  background-position: -208px -55px;
}

.flag.flag-al {
  background-position: -208px -66px;
}

.flag.flag-ai {
  background-position: -208px -77px;
}

.flag.flag-ag {
  background-position: -208px -88px;
}

.flag.flag-af {
  background-position: -208px -99px;
}

.flag.flag-ae {
  background-position: -208px -110px;
}

.flag.flag-ad {
  background-position: -208px -121px;
}

.flag.flag-np {
  background-position: -208px -132px;
}

.flag.flag-ch {
  background-position: -208px -143px;
}

.flag.flag-wo {
  background-position: -208px -154px;
}
