/** home news shot css **/
html, body{
margin:0px;
}
.scl-news-shot-cntr {
	width: 960px;
    margin: 0 auto;
    margin-top:25px;
    padding-bottom: 10px;
    clear: both;
}
.scl-news-sht-ttl {
	width: 615px;
    height: 29px;
    background: url(../images/hm-ns-sht-img.png);
    background-position: 0px 0px;
	margin-bottom: 26px;
	}
.scl-news-indv-cntr {
    width: 300px;
    float: left;
	margin-left:29px;
}
.scl-news-indv-cntr:first-child {margin-left:0px !important;}
.scl-news-indv-cntr .scl-news-img {
    padding: 2px;
    border: 1px solid #a7a7a7;
	margin-bottom:5px;
}
.scl-news-indv-cntr .scl-news-ttl {
	font-family: arial;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
	margin-bottom:5px;
}

.scl-news-indv-cntr .scl-news-rd-mr  {
    display: block;
	width:100%;
	text-align:right;
	}
.scl-news-indv-cntr .scl-news-rd-mr a:hover,
.scl-news-indv-cntr .scl-news-rd-mr a{
    text-decoration: none;
    color: #e48200;
    font-size: 14px;
}
	
.scl-news-shot-cntr .read-nws {
    display: inline-block;
    text-align: right;
    width: 100%;
    height: 30px;
	margin-top:20px;
}
.scl-news-shot-cntr .read-nws a{ 
    width: 205px;
    height: 30px;
    background: url(../images/hm-ns-sht-img.png);
    background-position: -1px -47px;
    display: inline-block;
}
/** home news shot css **/