@font-face{font-family:'proxima_nova_rgregular';src:url('../fonts/proximanova-regular-webfont-webfont.eot');src:url('../fonts/proximanova-regular-webfont-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/proximanova-regular-webfont-webfont.woff') format('woff'),
url('../fonts/proximanova-regular-webfont-webfont.ttf') format('truetype'),
url('../fonts/proximanova-regular-webfont-webfont.svg#proxima_nova_rgregular') format('svg');font-weight:normal;font-style:normal;}
body{margin:0;padding:0;font-family:Arial, Helvetica, sans-serif;background-attachment:fixed;background-position:center top;background-repeat:no-repeat;}
h1, h2, h3, h4, h5, h6{font-weight:normal;margin:0;padding:0;}
a{text-decoration:none;color:#848484;}
ul{padding:0;margin:0;}
li{list-style:none;}
p{margin:0;}
input, img{border:0;outline:0;}
.clear{clear:both;}
.body_bg_anchor{width:50%;height:100%;display:block;position:fixed;left:0;top:0;z-index:0;}
.global_wrapper{width:1055px;margin:0 auto;position:relative;z-index:10;}
.global_header{width:1055px;height:137px;}
.logo{width:368px;height:114px;float:left;background:url(../images/sprite-home.png) 4px 0px;margin:14px 0 0 43px;}
.logo a{display:block;width:368px;height:114px;}
.header_right{width:620px;height:137px;float:right;}
.search_socialinks{width:448px;height:33px;float:right;margin-top:22px;}
.search_socialinks .search{margin-left:4px;width:165px;height:33px;background:url(../images/sprite-home.png) top left;background-position:-4px 158px;float:left;}
.search_socialinks .search .textBox{width:109px;height:20px;background:none;margin-left:10px;margin-top:7px;float:left;}
.search_socialinks .search .Button{width:27px;height:25px;background:none;margin-left:10px;margin-top:5px;cursor:pointer;float:left;}
.search_socialinks .socialinks{width:270px;height:33px;margin-left:7px;float:left;}
.search_socialinks .fb{width:32px;height:32px;float:left;}
.search_socialinks .fb a{width:32px;height:32px;display:block;background:url(../images/sprite-home.png) top left;background-position:-181px 158px;}
.search_socialinks .fb a:hover{width:32px;height:32px;display:block;background:url(../images/sprite-home.png) top left;background-position:-181px 120px;}
.search_socialinks .twit{width:32px;height:32px;float:left;margin-left:5px;}
.search_socialinks .twit a{width:32px;height:32px;display:block;background:url(../images/sprite-home.png) top left;background-position:-218px 158px;}
.search_socialinks .twit a:hover{width:32px;height:32px;display:block;background:url(../images/sprite-home.png) top left;background-position:-218px 120px;}
.search_socialinks .google{width:32px;height:32px;float:left;margin-left:5px;}
.search_socialinks .google a{width:32px;height:32px;display:block;background:url(../images/sprite-home.png) top left;background-position:-255px 158px;}
.search_socialinks .google a:hover{width:32px;height:32px;display:block;background:url(../images/sprite-home.png) top left;background-position:-255px 120px;}
.search_socialinks .pinterest{width:32px;height:32px;float:left;margin-left:5px;}
.search_socialinks .pinterest a{width:32px;height:32px;display:block;background:url(../images/sprite-home.png) top left;background-position:-329px 158px;}
.search_socialinks .pinterest a:hover{width:32px;height:32px;display:block;background:url(../images/sprite-home.png) top left;background-position:-329px 120px;}
.search_socialinks .youtube{width:32px;height:32px;float:left;margin-left:5px;}
.search_socialinks .youtube a{width:32px;height:32px;display:block;background:url(../images/sprite-home.png) top left;background-position:-292px 158px;}
.search_socialinks .youtube a:hover{width:32px;height:32px;display:block;background:url(../images/sprite-home.png) top left;background-position:-292px 120px;}
.search_socialinks .advertise{width:84px;height:32px;float:left;margin-left:5px;}
.search_socialinks .advertise a{width:84px;height:32px;display:block;background:url(../images/sprite-home.png) top left;background-position:-2px 78px;}
.search_socialinks .advertise a:hover{width:84px;height:32px;display:block;background:url(../images/sprite-home.png) top left;background-position:-2px 40px;}
.search_socialinks .contact{width:33px;height:33px;float:left;margin-left:5px;}
.search_socialinks .contact a{width:33px;height:33px;display:block;background:url(../images/sprite-home.png) top left;background-position:-94px 78px;}
.search_socialinks .contact a:hover{width:33px;height:33px;display:block;background:url(../images/sprite-home.png) top left;background-position:-94px 40px;}
.menu{width:603px;float:right;margin-top:30px;}
@media screen and (-webkit-min-device-pixel-ratio:0){.menu{width:610px;float:right;margin-top:30px;}
}
.menu ul{list-style:none;position:relative;display:inline-table;float:right;}
.menu ul:after{content:"";clear:both;display:block;}
.menu ul ul{display:none;}
.menu ul li:hover > ul{display:block;z-index:100;}
.menu ul li{float:left;margin-left:10px;}
.menu ul li:hover{}
.menu ul li:hover a{color:#b6110c;}
.menu ul li a{display:block;padding:0 2px 2px 2px;color:#646464;text-decoration:none;font-size:18px;font-family:Arial;text-transform:uppercase;background:#FFF;}
.menu ul li.sub a{margin-right:12px;}
.menu ul li.sub:hover a{color:#b6110c;background:#FFF;margin-right:12px;}
.menu ul li.stories{background:url(../images/sprite-home.png) top left;background-position:-473px 180px;}
.menu ul li.stories:hover{background:url(../images/sprite-home.png) top left;background-position:-473px 180px;}
.menu ul li.photos{background:url(../images/sprite-home.png) top left;background-position:-474px 180px;}
.menu ul li.photos:hover{background:url(../images/sprite-home.png) top left;background-position:-474px 180px;}
.menu ul li.videos{background:url(../images/sprite-home.png) top left;background-position:-485px 180px;}
.menu ul li.videos:hover{background:url(../images/sprite-home.png) top left;background-position:-485px 180px;}
.menu ul li.reviews{background:url(../images/sprite-home.png) top left;background-position:-470px 180px;}
.menu ul li.reviews:hover{background:url(../images/sprite-home.png) top left;background-position:-470px 180px;}
.menu ul li.rankings{background:url(../images/sprite-home.png) top left;background-position:-458px 180px;}
.menu ul li.rankings:hover{background:url(../images/sprite-home.png) top left;background-position:-458px 180px;}
.menu ul li.more_menu{background:url(../images/sprite-home.png) top left;background-position:-499px 180px;}
.menu ul li.more_menu:hover{background:url(../images/sprite-home.png) top left;background-position:-499px 180px;}
.menu .active{color:#b6110c;}
.menu ul ul{padding:0;position:absolute;top:100%;}
ul#submenu li{float:none;position:relative;background:#272727;margin-left:2px;}
ul#submenu li a{padding:8px 15px 5px 6px;margin: 0px 0px 0px -4px;color:#797979;background:#272727;text-decoration:none;font-size:11px;font-family:Arial;font-weight:bold;text-transform:uppercase;border:none;margin-right:0;}
ul#submenu li:hover a{color:#FFF;border:none;margin-right:0;}
li.stories ul#submenu li:hover a{background:url(../images/sprite-home.png) top left #8d0501;background-position:-366px 186px;}
li.photos ul#submenu li:hover a{background:url(../images/sprite-home.png) top left #8d0501;background-position:-389px 186px;}
li.videos ul#submenu li:hover a{background:url(../images/sprite-home.png) top left #8d0501;background-position:-385px 186px;}
li.reviews ul#submenu li:hover a{background:url(../images/sprite-home.png) top left #8d0501;background-position:-351px 186px;}
li.rankings ul#submenu li:hover a{background:url(../images/sprite-home.png) top left #8d0501;background-position:-360px 186px;}
li.more_menu ul#submenu li:hover a{background:url(../images/sprite-home.png) top left #8d0501;background-position:-400px 186px;}
.last{margin-right:3px;}
.last #submenu{right:0;}
.tophighlights{width:1055px;height:auto;color:#fff;background:#000;overflow:hidden;position:relative;}
.sld-icn-set {display:none;} 
.tophighlights .pagination{width:960px;height:40px;margin-left:47px;padding-top:15px;}
.tophighlights .pagination .heading{width:255px;height:40px;float:left;}
.tophighlights .pagination .heading h1{color:#c10906;font-size:25px;font-family:'proxima_nova_rgregular';border-left:5px solid #c10906;padding-left:15px;}
.tophighlights .pagination .heading .head{color:#c10906;font-size:25px;height:30px;font-family:'proxima_nova_rgregular';border-left:5px solid #c10906;padding-left:15px;padding-top:0px;}
.tophighlights .pagination .next_prev{width:83px;height:34px;float:left;}
.tophighlights .pagination .next{width:36px;height:34px;float:left;}
.tophighlights .pagination .next a{display:block;width:36x;height:34px;color:#000;background:url(../images/sprite-home.png) no-repeat;background-position:68% 74%;}
.tophighlights .pagination .next a:hover{display:block;width:36x;height:34px;color:#000;background:url(../images/sprite-home.png) no-repeat;background-position:68% 97%;}
.tophighlights .pagination .prev{width:36px;height:34px;float:left;margin-left:1px;}
.tophighlights .pagination .prev a{display:block;width:36x;height:34px;color:#000;background:url(../images/sprite-home.png) no-repeat;background-position:75% 74%;}
.tophighlights .pagination .prev a:hover{display:block;width:36x;height:34px;color:#000;background:url(../images/sprite-home.png) no-repeat;background-position:75% 97%;}
.tophighlights .pagination .numbering{width:100px;height:15px;float:left;color:#949494;font-size:14px;padding-top:10px;}
.tophighlights .gallerywrap{width:970px;clear:both;margin:16px 0 0 47px;}
.tophighlights .gallery{width:660px;float:left;height:1050px;overflow:hidden;}
.tophighlights .gallery .highlightimg{width:213px;height:183px;float:left;margin-right:7px;margin-top:10px;}
.tophighlights .gallery .highlightimg .title{width:213px;height:50px;position:relative;top:-54px;background:url(../images/titlebg.png) repeat;text-transform:uppercase;font-size:13px;color:#bababa;font-weight:bold;padding-top:6px;-webkit-background-opacity:0.3;-webkit-background-filter:Alpha(opacity=30);}
#gallerya .highlightimg a {width:300px !important;}
.tophighlights .gallery .title .firstline{margin:2px 0 0 9px;clear:both;}
.redarrow{background:url(../images/sprite-home.png) no-repeat;background-position:-533px -131px;width:10px;height:12px;float:left;}
.titledescription{float:left;padding-left:0px;width:190px;}
.titledescription a{color:#BABABA;}
.tophighlights .adwrap{width:300px;float:left;margin-left:0px;margin-top:0px;}
.tophighlights .adwrap .ads{width:300px;height:250px;margin-bottom:6px;}
.newstorieswrap{width:960px;margin-left:49px;padding-top:15px;padding-bottom:10px;}
.newstorieswrap .heading{width:960px;height:59px;}
.heading{width:960px;height:70px;}
.heading .head{width:auto;height:40px;float:left;padding-right:15px;text-transform:uppercase;}
.heading .inthead{width:544px !important;}
.heading .head h1{color:#c10906;font-size:25px;font-family:'proxima_nova_rgregular';border-left:5px solid #c10906;padding-left:15px;}
.heading .head .hd{}
.heading .head .hd h1{color:#c10906;font-size:25px;font-family:'proxima_nova_rgregular';border-left:5px solid #c10906;padding-left:15px;}
.heading .head .hd h2{color:#c10906;font-size:25px;font-family:'proxima_nova_rgregular';border-left:5px solid #c10906;padding-left:15px;}
.heading .head .hd h3{color:#c10906;font-size:25px;font-family:'proxima_nova_rgregular';border-left:5px solid #c10906;padding-left:15px;}
.heading .ytSubscribe{float:right;margin-top:15px;}
.heading .next_prev{width:83px;height:34px;float:left;}
.heading .next{width:36px;height:34px;float:left;}
.heading .next a{display:block;width:36x;height:34px;color:#000;background:url(../images/sprite-home.png) no-repeat;background-position:76% 74%;}
.heading .next a:hover{display:block;width:36x;height:34px;color:#000;background:url(../images/sprite-home.png) no-repeat;background-position:76% 97%;}
.heading .prev{width:36px;height:34px;float:left;margin-left:2px;}
.heading .prev a{display:block;width:36x;height:34px;color:#000;background:url(../images/sprite-home.png) no-repeat;background-position:83% 74%;}
.heading .prev a:hover{display:block;width:36x;height:34px;color:#000;background:url(../images/sprite-home.png) no-repeat;background-position:83% 97%;}
.heading .numbering{width:80px;height:15px;float:left;color:#949494;font-size:14px;padding-top:10px;}
.newstories{width:960px;height:1710px; margin-left:2px;}
.newstories .column{width:270px;height:280px;float:left;margin-right:75px;}
.newstories .columnlast{width:270px;height:280px;float:left;margin-right:0px;}
.new_stories{width:260px;height:280px;margin-bottom:20px;}
.new_stories .img{width:250px;height:250px;float:left; margin-bottom:1px;margin-top:14px; padding:3px;border:1px solid #d6d6d6;}
.new_stories .img a{cursor:pointer;}
.new_stories .details{width:250px;height:60px;float:left; margin-top:5px;}
.new_stories .description{text-align:center;padding-left:3px;width:250px;font-size:17px;color:#848484;}
.new_stories .description a{color:#c60;}
.more_new_wrap{width:960px;height:30px;margin:0 auto;clear:both;}
.more_new_wrap a{color:#848484;font-size:13px;float:left;padding-right:5px;padding-left:5px;text-transform:uppercase;font-family:'proxima_nova_rgregular';}
.more_new{width:356px;height:30px;float:right;padding-right:0px;}
.more_new a{color:#848484;font-size:13px;float:left;padding-right:5px;padding-left:5px;text-transform:uppercase;font-family:'proxima_nova_rgregular';}
.photogallerywrap{width:960px;margin:0 auto;padding-top:0px;padding-bottom:10px;clear:both;}
.photogallery{width:960px;margin:0 auto;}
.bigphoto{height:349px;float:left;width:351px;margin-right:50px;}
.bigphoto .newphoto{height:339px;width:351px;margin-right:50px;}
.newphoto a{color:#848484;}
.newphoto .img{margin:auto;padding-top:5px;height:339px;width:331px;}
#photogallerya .description{width:145px;height:35px;text-align:center;color:#848484;font-size:12px;margin:0 auto;padding-top:3px;}
#photogallerya .description a{color:#c60;}
#photogallerya .bigphoto .description{width:260px;}
.photo{height:265px;float:left;width:214px;margin-right:30px;}
.photo a{color:#848484;}
.photo .description{width:145px;height:35px;text-align:center;color:#848484;font-size:12px;padding-top:3px;}
.photo .description a{color:#c60;}
.photolast{height:214px;float:left;width:214px;margin-right:0px;}
.actors_actress{width:860px;height:30px;float:right;padding-right:0px;}
.actors_actress a{color:#848484;font-size:13px;float:left;padding-right:5px;padding-left:5px;text-transform:uppercase;font-family:'proxima_nova_rgregular';}
.actors_actress_hindi{width:312px;height:30px;float:right;padding-right:0px;}
.interview_video_wrap{width:960px;margin:0 auto;padding-top:0px;padding-bottom:20px;clear:both;}
.interview_video{width:960px;margin:0 auto;}
.youtubewrap{width:544px;height:355px;float:left;}
.youtube{width:544px;height:315px;}
.youtubewrap .title{width:544px;height:20px;color:#848484;font-size:14px;padding-top:8px;}
.videowrap{width:392px;height:355px;float:right;}
.videowrap .firstrow{width:392px;height:187px;text-align:center;}
.videowrap .secondrow{width:392px;height:187px;margin-top:10px;text-align:center;}
.video{height:155px;float:left;width:187px;margin-right:18px;}
.videolast{margin-right:0px;}
.video .img{width:187px;height:105px;}
.play{width:34px;height:34px;position:relative;top:-40px;left:130px;background:url(../images/sprite-home.png) 98% 19% no-repeat;}
.video .description{width:175px;height:35px;text-align:center;color:#848484;font-size:12px;margin:0 auto;padding-top:15px;}
.interview_trailer{height:30px;float:right;padding-right:10px;}
#interview_videob .videowrap{width:960px;height:347px;}
#interview_videob .videowrap .firstrow{width:auto;height:187px;}
#interview_videob .videowrap .secondrow{width:auto;height:187px;margin-top:10px;}
#interview_videob .video{height:auto;float:left;width:170px;margin-right:25px;}
#interview_videob .videolast{margin-right:0;}
#interview_videob .video .img{width:170px;height:105px;}
#interview_videob .video .description{width:165px;height:auto;text-align:center;color:#848484;font-size:12px;margin:0 auto;padding-top:15px;}
.event_coverages_wrap{width:960px;margin:0 auto;padding-top:0px;padding-bottom:10px;clear:both;}
.event_coverages{width:960px;height:215px;}
.event{width:223px;height:215px;float:left;margin-right:22px;}
.eventlast{margin-right:0px;}
.event .img{width:223px;height:149px;}
.event .description{width:213px;height:25px;text-align:center;color:#848484;font-size:12px;margin:0 auto;padding-top:5px;}
.story_videos{height:20px;padding-top:13px;float:right;text-align:right;margin-right:10px;}
.story_videos .redarrow{background:url(../images/sprite-home.png) no-repeat;background-position:-560px -133px;width:10px;height:14px;float:left;}
.story_videos a{color:#848484;font-size:10px;float:left;padding-right:9px;text-transform:uppercase;font-family:'proxima_nova_rgregular';}
.more_event{width:147px;height:30px;float:right;padding-right:0px;}
.more_coverages{width:187px;height:30px;float:right;padding-right:0px;}
.chennaiBoxoffice_wrap{width:630px;float:left;margin-left:20px;}
.chennaiboxoffice{width:310px;height:220px;float:left;}
.chennaiboxoffice .heading{width:305px;height:70px;}
.chennaiBoxoffice{width:310px;height:150px;}
.boxoffice{width:86px;height:210px;float:left;margin-right:15px;}
.boxofficelast{margin-right:0px;}
.boxoffice .img{width:86px;height:130px;}
.boxoffice .title{width:83px;text-align:center;color:#848484;font-size:12px;margin:0 auto;padding-top:5px;}
.more_movies{width:400px;height:30px;float:right;padding-right:10px;}
.more_reviews{width:855px;height:30px;float:right;padding-right:0px;margin-top:15px;}
.more_previews{width:875px;height:30px;float:right;padding-right:0px;margin-top:10px;}
.more_top_album{float:right;width:66px;}
.more_shortfilms{width:660px;height:30px;float:right;padding-right:0px;margin-top:15px;}
.more_movies a{color:#848484;font-size:13px;float:left;padding-right:5px;padding-left:5px;text-transform:uppercase;font-family:'proxima_nova_rgregular';}
.more_movies .redarrow{background:url(../images/sprite-home.png) no-repeat;background-position:-533px -131px;width:10px;height:14px;float:left;}
.more_reviews a{color:#848484;font-size:13px;float:left;padding-right:5px;padding-left:5px;text-transform:uppercase;font-family:'proxima_nova_rgregular';}
.more_reviews .redarrow{background:url(../images/sprite-home.png) no-repeat;background-position:-533px -131px;width:10px;height:14px;float:left;}
.more_shortfilms a{color:#848484;font-size:13px;float:left;padding-right:5px;padding-left:5px;text-transform:uppercase;font-family:'proxima_nova_rgregular';}
.more_shortfilms .redarrow{background:url(../images/sprite-home.png) no-repeat;background-position:-533px -131px;width:10px;height:14px;float:left;}
.topten_albums{width:310px;height:220px;float:right;}
.topten_albums .heading{width:305px;height:70px;}
.toptenalbums{width:310px;height:150px;}
.topten{width:86px;height:130px;float:left;margin-right:15px;}
.toptenlast{margin-right:0px;}
.topten .img{width:86px;height:130px;}
.topten .title{width:83px;text-align:center;color:#848484;font-size:12px;margin:0 auto;padding-top:5px;}
.movieReviews_wrap{width:960px;margin:0 auto;padding-top:10px;padding-bottom:10px;clear:both;}
.moviereviews{width:480px;height:300px;float:left;}
.moviereviews .heading{width:480px;height:70px;}
.movieReviews{width:480px;height:235px;}
.moviereview{width:142px;height:235px;float:left;margin-right:15px;}
.moviereviewlast{margin-right:0;}
.moviereview .img{width:142px;height:192px;text-align:center;}
.moviereview .title{width:130px;text-align:center;color:#848484;font-size:12px;margin:0 auto;padding-top:5px;}
.more_moviepreview{width:165px;height:30px;float:right;padding-right:0px;}
.music_movie_wrap{width:960px;margin:0 auto;padding-top:15px;padding-bottom:20px;clear:both;}
.music_movie_wrap .heading{width:305px;height:70px;}
.music_reviews_wrap{width:480px;height:300px;float:right;}
.music_reviews_wrap .heading{width:450px;height:70px;margin-left:19px;}
.music_reviews{width:459px;height:235px;margin-left:24px;}
.musicreview{width:142px;height:235px;float:left;margin-right:15px;overflow:hidden;}
.musicreviewlast{margin-right:0px;}
.musicreview .img{width:142px;height:192px;text-align:center;}
.musicreview .title{width:130px;text-align:center;color:#848484;font-size:12px;margin:0 auto;padding-top:5px;}
.more_music_review{width:190px;height:30px;float:right;padding-right:0px;}
.movie_preview_wrap{width:310px;float:left;height:270px;margin-left:0px;}
.movie_previews{width:310px;height:210px;}
.moviepreview{width:88px;height:210px;float:left;margin-right:15px;overflow:hidden;}
.moviepreviewlast{margin-right:0px;}
.moviepreview .img{width:88px;height:130px;}
.moviepreview .title{width:83px;text-align:center;color:#848484;font-size:12px;margin:0 auto;padding-top:5px;}
.more_preview{width:216px;height:30px;float:right;padding-right:0px;}
.articles_columns_wrap{width:960px;margin:0 auto;padding-top:0px;padding-bottom:20px;clear:both;}
.articles_columns{width:960px;height:220px;}
.articlescolumns{width:141px;height:220px;float:left;margin-right:22px;}
.articlescolumnslast{margin-right:0px;}
.articlescolumns .img{width:141px;height:181px;text-align:center;}
.articlescolumns .title{width:135px;text-align:center;color:#848484;font-size:12px;margin:0 auto;padding-top:5px;}
.more_articles{width:575px;height:30px;float:right;padding-right:0px;margin-top:10px;}
.exclusive_wrap{width:960px;margin:0 auto;padding-top:0px;padding-bottom:10px;clear:both;}
.exclusive_slideshow{width:960px;height:225px;}
.exclusive{width:176px;height:225px;float:left;margin-right:20px;}
.exclusivelast{margin-right:0px;}
.exclusive .img{width:176px;height:176px;}
.exclusive .title{width:165px;text-align:center;color:#848484;font-size:12px;margin:0 auto;padding-top:5px;}
.shortfilms_columns_wrap{width:960px;margin:0 auto;padding-top:10px;clear:both;}
.shortfilms_columns_wrap .heading{width:400px;height:70px;}
.short_films_wrap{width:480px;float:left;}
.short_films{width:480px;}
.shortfilms{width:83px;float:left;margin-right:35px;}
.shortfilmslast{margin-right:0px;}
.shortfilms .img{width:83px;height:122px;}
.shortfilms .title{width:78px;text-align:center;color:#848484;font-size:12px;margin:0 auto;padding-top:5px;}
.visitor_columns_wrap{width:465px;float:right;}
.visitor_columns{width:480px;}
.visitorcolumns{width:83px;float:left;margin-right:35px;}
.visitorcolumnslast{margin-right:0px;}
.visitorcolumns .img{width:83px;height:122px;}
.visitorcolumns .title{width:78px;text-align:center;color:#848484;font-size:12px;margin:0 auto;padding-top:5px;}
.more_visitor_columns{width:190px;height:30px;float:right;padding-right:0px;}
.wiki_page_wrap{width:960px;margin:0 auto;padding-top:0px;padding-bottom:40px;clear:both;}
.wiki_page{width:960px;height:147px;}
.wiki_page .img{width:171px;height:146px;float:left;}
.wikipage_wrap{width:740px;height:146px;float:right;}
.wikipage_wrap .header{width:740px;height:18px;color:#575757;font-size:15px;font-family:'proxima_nova_rgregular';text-transform:uppercase;margin:0;}
.wikipage_wrap ul{margin:0;padding:0;}
.wikipage_wrap li{display:inline;}
.wikipage_wrap li a{color:#848484;font-size:12px;}
.wikipage_wrap li a:hover{color:#333;}
.movie_wiki{width:740px;height:55px;}
.personality_wiki{width:740px;height:30px;}
.latest_discussions_wrap{width:960px;margin:0 auto;padding-top:0px;padding-bottom:10px;clear:both;}
.latest_discussions{height:105px;width:960px;}
.discussion{width:450px;height:105px;float:left;margin-right:60px;}
.discussionlast{margin-right:0px;}
.discussion .img{width:178px;height:97px;float:left;}
.discussion .textwrap{width:250px;height:97px;float:right;}
.discussion .textwrap .icon{width:54px;height:30px;background:url(../images/sprite-home.png) no-repeat;background-position:102% 74%;}
.discussion .textwrap .discuss{width:250px;height:50px;color:#848484;font-size:18px;}
.wall_fame_wrap{width:960px;margin:0 auto;padding-top:0px;padding-bottom:10px;clear:both;}
.wall_fame{width:960px;height:185px;}
.wallfame{width:213px;height:183px;float:left;margin-right:36px;margin-top:10px;}
.wallfamelast{margin-right:0;}
.wallfame .title{width:213px;height:34px;position:relative;top:-40px;background:url(../images/titlebg.png) repeat;text-transform:uppercase;font-size:11px;color:#bababa;font-weight:bold;padding-top:10px;*/}
.wallfame .firstline{margin:5px 0 0 9px;}
.wallfame .redarrow{background:url(../images/sprite-home.png) no-repeat;background-position:-533px -131px;width:10px;height:12px;float:left;}
.wallfame .titledescription{float:left;padding-left:0px;width:190px;}
.global_footer{width:1055px;height:323px;background:url(../images/footerbg.jpg) repeat-x;margin-top:55px;}
.footer_left_wrap{width:710px;height:253px;float:left;}
.footerlinks{width:656px;height:175px;margin:0 auto;padding-top:30px;}
.footerlinks ul{float:left;width:120px;margin-right:12px;background:url(../images/ul_bg.jpg) repeat-y right;}
.footerlinks .reviews{background:url(../images/ul_bg.jpg) repeat-y right;min-height:122px;}
.footerlinks .last{margin-right:0px;background:none;width:125px;}
.footerlinks li{color:#c4c4c4;font-size:11px;line-height:18px;}
.footerlinks .title{padding-bottom:8px;font-weight:bold;}
.footerlinks a{color:#7b7b7b;font-size:10.5px;}
.footerlinks a:hover{}
.footer_right_wrap{width:300px;height:252px;float:left;margin-top:25px;}
.filmfestlogos{width:656px;min-height:60px;margin:0 auto;}
.filmfestlogos li{margin:0 10px 0 0;padding:0;display:inline-block;vertical-align:top;}
.sitemap{width:656px;min-height:25px;margin:0 auto;}
.sitemap ul{}
.sitemap li{margin:0 10px 0 0;padding:0;display:inline;color:#c4c4c4;}
.sitemap a{color:#c4c4c4;font-size:11px;font-weight:bold;padding-right:10px;padding-left:0;height:3px;border-right:1px solid #515151;}
.sitemap a:hover{}
.footer_wrap{width:960px;height:90px;margin:0 auto;padding-top:15px;}
.footer_wrap .footerlogo{width:153px;height:52px;float:left;border-right:1px solid #e6e6e6;background:url(../images/sprite-home.png) no-repeat;background-position:-373px -38px;}
.footer_wrap .footerlogo a{display:block;width:153px;height:52px;}
.footer_wrap .footermenu{width:370px;height:52px;float:left;padding-left:15px;border-right:1px solid #e6e6e6;}
.footer_wrap .last{border-right:none;}
.footer_wrap .footermenu ul{}
.footer_wrap .footermenu li{display:block;float:left;padding:1px 3px 1px 2px;}
.footer_wrap .footermenu a{color:#9a9a9a;font-size:11px;}
.footer_wrap .footermenu a:hover{}
.prev{cursor:pointer;}
.next{cursor:pointer;}
#gallerya:target{display:block;}
#galleryb{display:none;}
#galleryb:target{display:block;}
#gallery1:target{display:inline;}
#gallery2{display:none;}
#gallery2:target{display:inline;}
#newstoriesa:target{display:block;}
#newstoriesb{display:none;}
#newstoriesb:target{display:block;}
#newstories1:target{display:inline;}
#newstories2{display:none;}
#newstories2:target{display:inline;}
#photogallerya:target{display:block;}
#photogalleryb{color:#848484;font-size:12px;line-height:18px;}
#photogalleryb:target{display:block;}
#photogallery1:target{display:inline;}
#photogallery2{display:none;}
#photogallery2:target{display:inline;}
#interview_videoa:target{display:block;}
#interview_videob{color:#848484;font-size:12px;line-height:18px;margin-top:15px;}
#interview_videob .firstrow{margin-bottom:10px;}
#interview_videob:target{display:block;}
#interview_video1:target{display:inline;}
#interview_video2{display:none;}
#interview_video2:target{display:inline;}
#chennaiBoxofficea:target{display:block;}
#chennaiBoxofficeb{display:none;}
#chennaiBoxofficeb:target{display:block;}
#chennaiBoxoffice1:target{display:inline;}
#chennaiBoxoffice2{display:none;}
#chennaiBoxoffice2:target{display:inline;}
#toptenalbumsa:target{display:block;}
#toptenalbumsb{display:none;}
#toptenalbumsb:target{display:block;}
#toptenalbums1:target{display:inline;}
#toptenalbums2{display:none;}
#toptenalbums2:target{display:inline;}
.photo img{box-shadow:1px 1px 3px #CCCCCC;-webkit-box-shadow:1px 1px 3px #ccc;-moz-box-shadow:1px 1px 3px #ccc;margin:5px;behavior:url(css/PIE.htc);}
.event img{box-shadow:1px 1px 3px #CCCCCC;-webkit-box-shadow:1px 1px 3px #ccc;-moz-box-shadow:1px 1px 3px #ccc;behavior:url(css/PIE.htc);}
.boxoffice img{box-shadow:1px 1px 3px #CCCCCC;-webkit-box-shadow:1px 1px 3px #ccc;-moz-box-shadow:1px 1px 3px #ccc;behavior:url(css/PIE.htc);}
.interview_video img{box-shadow:1px 1px 3px #CCCCCC;-webkit-box-shadow:1px 1px 3px #ccc;-moz-box-shadow:1px 1px 3px #ccc;behavior:url(css/PIE.htc);}
.toptenalbums img{box-shadow:1px 1px 3px #CCCCCC;-webkit-box-shadow:1px 1px 3px #ccc;-moz-box-shadow:1px 1px 3px #ccc;behavior:url(css/PIE.htc);}
.movieReviews img{box-shadow:1px 1px 3px #CCCCCC;-webkit-box-shadow:1px 1px 3px #ccc;-moz-box-shadow:1px 1px 3px #ccc;behavior:url(css/PIE.htc);}
.music_reviews img{box-shadow:1px 1px 3px #CCCCCC;-webkit-box-shadow:1px 1px 3px #ccc;-moz-box-shadow:1px 1px 3px #ccc;behavior:url(css/PIE.htc);}
.movie_previews img{box-shadow:1px 1px 3px #CCCCCC;-webkit-box-shadow:1px 1px 3px #ccc;-moz-box-shadow:1px 1px 3px #ccc;behavior:url(css/PIE.htc);}
.articles_columns img{box-shadow:1px 1px 3px #CCCCCC;-webkit-box-shadow:1px 1px 3px #ccc;-moz-box-shadow:1px 1px 3px #ccc;behavior:url(css/PIE.htc);}
.exclusive_slideshow img{box-shadow:1px 1px 3px #CCCCCC;-webkit-box-shadow:1px 1px 3px #ccc;-moz-box-shadow:1px 1px 3px #ccc;behavior:url(css/PIE.htc);}
.short_films img{box-shadow:1px 1px 3px #CCCCCC;-webkit-box-shadow:1px 1px 3px #ccc;-moz-box-shadow:1px 1px 3px #ccc;behavior:url(css/PIE.htc);}
.wiki_page img{box-shadow:1px 1px 3px #CCCCCC;-webkit-box-shadow:1px 1px 3px #ccc;-moz-box-shadow:1px 1px 3px #ccc;behavior:url(css/PIE.htc);}
.latest_discussions_wrap img{box-shadow:1px 1px 3px #CCCCCC;-webkit-box-shadow:1px 1px 3px #ccc;-moz-box-shadow:1px 1px 3px #ccc;behavior:url(css/PIE.htc);}
.wall_fame img{box-shadow:1px 1px 3px #CCCCCC;-webkit-box-shadow:1px 1px 3px #ccc;-moz-box-shadow:1px 1px 3px #ccc;behavior:url(css/PIE.htc);}
.right_skin{background:#FFF;display:block;width:147px;height:1000px;position:fixed;z-index:2;margin-left:1202px;overflow-x:hidden;text-align:left;}
.left_skin{background:#FFF;display:block;width:147px;height:1000px;position:fixed;z-index:2;overflow-x:hidden;text-align:right;}
.body_inner{display:block;width:auto;margin:0 auto;position:relative;}
.top_logo_banner{width:1055px;margin:0px 0px 5px;}
.logo_bottom_banner{width:1055px;margin:5px auto;}
.news_bottom_banner{width:1055px;margin:1px 1px 25px 1px;}
.adv_container{margin:0 auto;width:1055px;text-align:center;}
#languages{width:200px;float:right;margin-top:40px;}
#languages ul{list-style:none;float:right}
#languages ul li{float:left;margin-right:10px;}
#languages li a{color:#646464;font-family:Arial;font-size:24px;text-transform:uppercase;padding:2px 0 2px 0;height:24px;display:block;}
#languages li.first_item{border-right:3px solid #c10906;padding-right:18px;margin-right:18px;}
#tophighlights_wrap{width:1055px;height:auto;color:#fff;background:#000;}
.highlightswrap{width:970px;margin:0 auto;}
#tamil_highlights{width:460px;float:left;}
#hindi_highlights{width:460px;float:right;}
.language_page{float:left;width:55px;margin-left:10px;}
.language_page a{display:block;padding:0 2px 0 2px;color:#646464;text-decoration:none;font-size:19px;font-family:Arial;font-weight:normal;text-transform:uppercase;background:#000;}
.language_page a:hover{color:#FFF;}
.language_menu{width:460px;float:left;margin-top:20px;padding:2px 0;border-left:4px solid #c10906;}
.language_menu ul{list-style:none;position:relative;display:inline-table;float:right;margin-top:3px;}
.language_menu ul:after{content:"";clear:both;display:block;}
.language_menu ul ul{display:none;}
.language_menu ul li:hover > ul{display:block;}
.language_menu ul li{float:left;margin-left:10px;}
.language_menu ul li:hover{}
.language_menu ul li:hover a{color:#FFF;}
.language_menu ul li a{display:block;padding:0 2px 0 2px;color:#646464;text-decoration:none;font-size:17px;font-family:Arial;font-weight:normal;text-transform:uppercase;background:#000;}
.language_menu ul li.sub a{margin-right:12px;}
.language_menu ul li.sub:hover a{color:#FFF;background:#000;margin-right:12px;}
.language_menu ul li.stories{background:url(../images/sprite-home.png) -482px 97px;}
.language_menu ul li.stories:hover{background:url(../images/sprite-home.png) -482px 97px;}
.language_menu ul li.photos{background:url(../images/sprite-home.png) -486px 97px;}
.language_menu ul li.photos:hover{background:url(../images/sprite-home.png) -486px 97px;}
.language_menu ul li.videos{background:url(../images/sprite-home.png) -490px 97px;}
.language_menu ul li.videos:hover{background:url(../images/sprite-home.png) -490px 97px;}
.language_menu ul li.reviews{background:url(../images/sprite-home.png) -475px 97px;}
.language_menu ul li.reviews:hover{background:url(../images/sprite-home.png) -475px 97px;}
.language_menu .active{color:#b6110c;}
.language_menu ul ul{padding:0;position:absolute;top:100%;margin-top:0px;}
ul#lang_submenu li{float:none;position:relative;background:#272727;margin-left:2px;}
ul#lang_submenu li a{padding:7px 30px 4px 10px;color:#797979;background:#272727;text-decoration:none;font-size:10px;font-family:Arial;font-weight:bold;text-transform:uppercase;border:none;margin-right:0;}
ul#lang_submenu li:hover a{color:#FFF;border:none;margin-right:0;}
li.stories ul#lang_submenu li:hover a{background:url(../images/sprite-home.png) -398px 104px #8d0501;}
li.photos ul#lang_submenu li:hover a{background:url(../images/sprite-home.png) -434px 104px #8d0501;}
li.videos ul#lang_submenu li:hover a{background:url(../images/sprite-home.png) -416px 104px #8d0501;}
li.reviews ul#lang_submenu li:hover a{background:url(../images/sprite-home.png) -374px 104px #8d0501;}
li.rankings ul#lang_submenu li:hover a{background:url(../images/sprite-home.png) -362px 104px #8d0501;}
.last{margin-right:3px;}
.last #lang_submenu{right:0;}
.top_highlights{width:460px;height:auto;float:left;overflow:hidden;}
.top_highlights .highlightimg{width:213px;height:183px;float:left;margin-right:28px;margin-top:15px;}
.top_highlights .highlightimg .title{width:213px;height:40px;position:relative;top:-48px;background:url(../images/titlebg.png) repeat;text-transform:uppercase;font-size:11px;color:#bababa;font-weight:bold;padding-top:10px;*/}
.top_highlights .title .firstline{margin:2px 0 0 9px;clear:both;}
.top_highlights .second{margin-right:0px;}
.top_highlights .goto_pagewrap{width:460px;height:auto;float:left;margin-top:25px;}
.top_highlights .goto_page{width:255px;float:right;}
.top_highlights .goto_page a{font-size:19px;color:#646464;display:block;text-transform:uppercase;margin-top:-3px;margin-right:5px;float:right;}
.top_highlights .goto_page a:hover{color:#646464;}
#ads_wrap{width:970px;margin:25px auto 0;padding-bottom:50px;}
#ads_wrap .ads{width:300px;height:250px;float:left;margin-right:35px;}
#ads_wrap .last{margin-right:0px;}
.leftcontentwrap{float:left;width:706px;margin:15px 0 0 47px;}
.rightcontentwrap{float:left;width:300px;}
.leftcontentwrap .heading{width:706px;height:70px;}
.leftcontentwrap .heading h1, .contentwrap .heading h1{font-weight:bold;}
.heading .breadcrumb{font-size:14px;font-family:'proxima_nova_rgregular';color:#c10906;text-transform:none;border-left:5px solid #c10906;padding-left:15px;}
.heading .breadcrumb a{color:#c10906;}
.heading .breadcrumb a:hover{color:#c60;}
.hdgallery .photo{height:255px;float:left;width:210px;margin-right:25px;}
.hdgallery img{border:2px solid #CCC;margin:3px;behavior:url(css/PIE.htc);}
.hdgallery .photolast{height:255px;float:left;width:210px;margin-right:0px;}
.hdgallery .photo .img{width:210px;height:210px;}
.hdgallery .photo .description{width:185px;height:35px;text-align:center;color:#848484;font-size:12px;margin:0 auto;padding-top:3px;}
.hdgallery .photo .description a:hover{color:#c60;}
.otherposters .description a:hover{color:#c60;}
.alphabetoptionslist{width:706px;margin-top:15px;font-size:14.2px;font-weight:bold;color:#c10906;letter-spacing:0px;}
.alphabetoptionslist a, .alphabetoption a{color:#c10906;}
.alphabetoption{width:706px;margin-top:20px;font-size:28px;font-style:italic;color:#c60;letter-spacing:0px;}
.alphabetdata{width:706px;margin-top:10px;}
.alphabetdata ul.bullet_list{padding:0px 0px 0px 0px;margin-left:0px;margin-top:0em;list-style-type:none;}
.alphabetdata ul.bullet_list li{margin-left:0em;text-align:left;font-size:13px;}
.alphabetdata ul.red_small_arrow1 span{background:url(../images/sprite.jpg) no-repeat;background-position:-431px -162px;}
.alphabetdata ul.red_small_arrow1 li a{color:#900;line-height:25px;padding-left:25px;}
.socialsharebox{margin-top:20px;}
.socialsharebox .addthis_toolbox_float{width:360px;float:left;}
.socialsharebox .sharepageicons{width:165px;margin-top:-10px;float:left;background:url(../images/sprite.jpg) -238px -174px no-repeat;}
.socialsharebox .shareiocnsbox{margin-left:15px;margin-top:35px;width:290px;height:32px;float:left;background:#fff;}
.aboutthispage{width:960px;margin-top:20px;}
.aboutthispage h2{color:#900;font-size:14px;font-weight:bold;margin:0;}
.aboutthispage .description{margin-top:10px;text-align:justify;color:#c60;font-size:12px;}
.aboutthispage .description_new{margin-top:10px;text-align:justify;color:#c60;font-size:12px;width:706px;}
.contentwrap{width:960px;margin:0 auto;margin-top:20px;}
.contentwrap .heading{margin-top:25px;}
.hdgalleryinner{width:960px;margin:0 auto;}
.hdthumbslider{width:960px;margin:0 auto;}
#arrowleft{width:70px;height:110px;float:left;background: url(../images/arrow-left-red.png) left center no-repeat;}
#arrowright{width:70px;height:110px;float:left;background: url(../images/arrow-right-red.png) right center no-repeat;}
#arrowleft.prev11.disabled, #arrowleft.prev11.disabled:hover{width:70px;height:110px;float:left;background:url(../images/arrow-left.png) left center no-repeat;}
#arrowright.next11.disabled, #arrowright.next11.disabled:hover{width:70px;height:110px;float:left;background:url(../images/arrow-right.png) left center no-repeat;}
.thumbnails{width:820px;height:110px;float:left;overflow:hidden;}
.thumbnails ul li{float:left;}
.slides{width:1640px;height:110px;}
.slides img{border:2px solid #CCC;margin:3px;behavior:url(css/PIE.htc);}
.slide{width:820px;float:left;}
.slide .thumb{width:110px;height:110px;float:left;margin-right:8px;}
.thumb img{border:2px solid #CCC;margin:3px;behavior:url(css/PIE.htc);}
.slide .lastthumb{margin-right:0px;}
.hdposter{width:960px;margin:0 auto;margin-top:15px;text-align:center;}
.hdposter .posterwrap{width:auto;}
.hdposter img{border:1px solid #CCC;margin:3px;behavior:url(css/PIE.htc);}
.posterwrap ul{margin-left:20px;}
.posterwrap li{width:127px;float:left;font-size:18px;margin-right:5px;margin-top:20px;height:25px;}
.posterwrap li a{color:#FF4040;}
.posterwrap .fb_cover img{border:none;margin:0;margin-top:-10px;}
.redline{background:url(../images/red-line.png) center center no-repeat;width:960px;height:2px;margin-top:25px;}
.otherhdposters{width:960px;margin:0 auto;margin-top:5px;}
.otherposters .photo{height:210px;float:left;width:175px;margin-right:20px;}
.otherposters img{border:2px solid #CCC;margin:3px;behavior:url(css/PIE.htc);}
.otherposters .photo a{color:#c10906;}
.otherposters .photolast{height:210px;float:left;width:175px;margin-right:0px;}
.otherposters .photo .img{width:175px;height:175px;}
.otherposters .photo .description{width:165px;height:35px;text-align:center;color:#848484;font-size:12px;margin:0 auto;padding-top:9px;}
.moreposters{width:960px;margin:0 auto;margin-top:10px;text-align:right;}
.moreposters a{color:#c10906;font-size:12px;}
.moreposters a:hover{color:#c60;font-size:12px;}
.contenttags{width:960px;margin-top:15px;}
.contenttags strong{font-size:12px;}
.contenttags a{color:#900;font-size:12px;}
.contenttags .tags a:hover{color:#c60;}
.more_new_wrap_new{width:960px;height:30px;margin:auto;}
.more_new_wrap_new a{color:#848484;font-size:13px;float:left;padding-right:5px;padding-left:5px;text-transform:uppercase;font-family:'proxima_nova_rgregular';}
.alphabetdata ul li a:hover{color:#c60;}
.alphabetoptionslist a:hover{color:#c60;}
.news_marquee{width:965px;background-color:#fca318;padding:20px 45px 15px;}
.news_marquee a{color:#000;font-size:18px;margin-left:10px;margin-right:10px;}
.news_marquee .separator{color:#c10906;font-size:18px;font-weight:bold;}
#tamil_index .more_reviews{width:660px;}
#tamil_index .more_music_review{	width:160px;}
#hindi_index .more_reviews{width:660px;}
#hindi_index .more_music_review{	width:160px;}
#malayalam_index .more_reviews{width:660px;}
#malayalam_index .more_music_review{	width:160px;}
#malayalam_index .more_new{width:235px;}
#malayalam_index .actors_actress{width:305px;}
/** Top highlight slider **/
/* 
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.owl-carousel .owl-animated-in {
  z-index: 0;
}
.owl-carousel .owl-animated-out {
  z-index: 1;
}
.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* 
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

/* 
 *  Core Owl Carousel CSS File
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
}
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}
.owl-carousel.owl-hidden {
  opacity: 0;
}
.owl-carousel .owl-refresh .owl-item {
  display: none;
}
.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width:330px !important;
 
}

.sld-col-set0,.sld-col-set4,.sld-col-set8,.sld-col-set12 {height:260px;}
.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  -webkit-transform-style: preserve-3d;
}
.owl-carousel.owl-text-select-on .owl-item {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}
.owl-carousel .owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}
.owl-carousel.owl-rtl {
  direction: rtl;
}
.owl-carousel.owl-rtl .owl-item {
  float: right;
}

/* No Js */
.no-js .owl-carousel {
  display: block;
}

/* 
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-item img {
  transform-style: preserve-3d;
}

/* 
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}
.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: scale 100ms ease;
  -moz-transition: scale 100ms ease;
  -ms-transition: scale 100ms ease;
  -o-transition: scale 100ms ease;
  transition: scale 100ms ease;
}
.owl-carousel .owl-video-play-icon:hover {
  -webkit-transition: scale(1.3, 1.3);
  -moz-transition: scale(1.3, 1.3);
  -ms-transition: scale(1.3, 1.3);
  -o-transition: scale(1.3, 1.3);
  transition: scale(1.3, 1.3);
}
.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}
.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
}
/*** top hightlight mousehover ***/
#gallerya {
   list-style: none;
   width: 660px;
   height: auto;
   overflow: hidden;
   position: relative;
   margin: 0px auto 20px; 
   padding: 0;

}
#gallerya .highlightimg {
	margin:0px;
       background: #fff;
       padding:0px;
       position: relative;
       box-shadow: 0 1px 3px rgba(0,0,0,0.1);
       width:325px !important;
       height:250px !important; 
       overflow:hidden;
       margin-bottom:6px;
       display:block;
       border:0px solid;
       margin-right: 5px;
}
.sld-col-set {width:330px !important;height:1040px;float:left;}
.slc-main-tw-cnt {width:660px !important;height:1040px;float:left;}
#gallerya .highlightimg a,
#gallerya .highlightimg a img {
	display: block;
	position: relative;
	width:325px;
	height:250px;
	border:0px solid;
	padding:0px !important;margin:0px !important;
	
}
.titledescription {
    float: left;
    padding-left: 0px;
    width: 295px !important;
    DISPLAY: INLINE-FLEX !important;
}
#gallerya .highlightimg div {
	overflow: hidden;
	width:325px;
	height:250px;
	padding:0px !important;margin:0px !important;
}
#gallerya .highlightimg div {
	position: absolute;
	background: url(../images/titlebg.png) repeat;
	width: 100%;
	height: 100%;
	border:0px solid;
}
.tophighlights .gallery .highlightimg .title {display:inline-block;width:100%;}
.tophighlights .gallery .title .firstline {display:inline-block}
#gallerya .highlightimg div span {
    display: block;
    padding: 10px 0;
    margin: 40px 20px 20px 20px;
    text-transform: uppercase;
    font-weight: normal;
    color: #BABABA;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    text-align: center;
	font-family: arial;
	border-top: 1px solid #c10906;
    border-bottom: 1px solid #c10906;
} 
.tophighlights .pagination .heading {width:400px !important;}
.tophighlights .pagination .heading h1 ,
.sld-icn-set,#sldr-prv ,#sldr-nxt,#foo2_log{
	float:left;
}
#foo2_log { 
    color: #848484;
    font-weight: 700; 
    margin-top: 6px;
    margin-left: 14px;
}
#gallerya .highlightimg a img { 
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
 }
#gallerya .highlightimg:hover a img {
  
}
#gallerya .highlightimg .rmv-hover-efct {transform: scale(1);}
#gallerya .highlightimg .hover-efct {transform: scale(1.1);}
#sldr-prv ,#sldr-nxt {cursor:pointer;background:url(../images/sprite-home.png);width:16px;height:20px;
transition: all 0.5s ease;-webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;-o-transition: all 0.5s ease;}
#sldr-prv {
    background-position:-144px -215px;
    margin-top: 4px;
    margin-left: 12px;
}
#sldr-nxt {
    background-position: -179px -215px;
    margin-top: 4px;
    margin-left: 16px;
}
.caroufredsel_wrapper {margin-top:11px !important;} 
#sldr-prv:hover {background-position: -144px -242px;}
#sldr-nxt:hover {background-position: -179px -242px;}
.actors_actress_mal {width: 860px; height: 30px; float: right; padding-right: 0px;}
.actors_actress_mal a {color: #848484; font-size: 13px; float: left; padding-right: 5px; padding-left:5px; text-transform: uppercase; font-family: 'proxima_nova_rgregular'; }

/*** subscribtion css ***/
body{width:100%;overflow-x: hidden;}     
.subscrb-form-cntr  {   
    background: url(../images/subscribe-bg-close.png);  
    width:432px; 
    height: 190px;
    position: fixed;
    right: -376px;
    top: 200px;  
	z-index:99;  
}
.subscrb-form-cntr.slide-in  {
    background: url(../images/subscribe-bg-open.png);   
    width: 432px;  
    height: 190px;
    position: fixed;
    right: -376px;
    top: 200px;  
	z-index:99;  
} 
.thank-txt {  
	font-size: 18px;
    color: #ffffff;
    position: absolute;
    font-family: arial;
    width: 400px;
    left:70px;  
    top: 83px;}
#subform {
    position: relative;
} 
#subform .ttl-txt  {
	position: absolute;
    top: 18px;
    left:74px; 
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    font-family: Arial; 
}
#subform .ttl-txt span{}
#subform #email_id {
    top: 60px;
    left:74px;  
    position: absolute;
    font-size: 15px;
    padding: 10px;  
	border-radius: 5px;  
	border: 1px solid #ffffff;  
}
#subform #submit {
	position: ABSOLUTE;
    left:304px;  
    top: 60px;
    padding: 10px;
    background: #b30606;
    border: 2px solid #ffffff;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px; 
	cursor:pointer;    
} 
#subform .enter_fields {
    position: absolute;
    top: 105px;
    left:74px; 
    color: #ffffff;
    font-family: Arial; 
}
#subform .valid_mail {
    position: absolute;
    top: 105px;
    left:74px;  
    color: #ffffff;
    font-family: Arial;
}
#slide-sbscrb-cntr {
	cursor: pointer;
    left: 0px;
    top: 0px;
    width:56px; 
    height: 190px; 
}   
.adwrap.fixbootm {
	position: fixed;
    left: 50%;
    margin-left: 179px;
    bottom: 0px;
	}
	.adwrap.abbootm  {position: absolute;bottom: 19px;  right: 48px;}  
	