* {
	margin: 0;
	padding: 0;
}
body {
	color: #333333;
	font : normal normal 70% Tahoma;
	margin: 0;/* override journal */
	padding: 0;/* override journal */
	background-color: #ffffff;
        min-width: 1063px;
}

html, body{
	height: 100%;
}

* html body{
/*	behavior:url("/files/csshover.htc");*/
}

.min-height{
	min-height: 100%;
	_height: 100%;
}
.minwidth{
	padding-bottom: 55px;
}
.bottom_all{
   height: 55px;
   margin-top: -56px;
   padding-bottom: 0;
}
.wrapper{/*1024 - 1280: 1000 - 1256*/
	margin-right: auto;
	margin-left: auto;
	min-width: 1000px;
	max-width: 1256px;
	_width: expression((document.documentElement.clientWidth||document.body.clientWidth)<1000 ?'1000px':((document.documentElement.clientWidth||document.body.clientWidth)>1256 ?'1256px':'100%'));
}
.main_container{
	padding: 7px 18px 7px 33px;
}
#top_banner{
	padding: 5px 7px 10px 33px;
	min-height: 20px;
	_height: 20px;
	position:relative;
}
#dog{
	position: relative;
	float: right;
	margin-top: 2px;
	_margin-top: 4px;
	margin-right: 5px;
	margin-bottom:-21px;
	display:inline;
	z-index: 104;
	width: 84px;
	height: 85px;
	font-size: 0%;
	background: url(http://static.diary.ru/images/2007/dog.gif) no-repeat bottom right;

/*newyear* /
	background: url("http://static.diary.ru/i/dog_ny.gif") no-repeat bottom right;
	width: 95px;
	height: 175px;
	margin-top:-88px;
	_margin-top: -86px;
	margin-right:0;
/**/
}
#dog_back{
	position: relative;
	float: right;
	margin-top: 2px;
	_margin-top: 4px;
	margin-bottom:-21px;
	margin-right: 5px;
	display:inline;
	z-index: 4;
	width: 77px;
	height: 82px;
	font-size: 0%;
	background: url(http://static.diary.ru/images/2007/dog_back.gif) no-repeat bottom right;
}
#clouds_small,
#clouds_big{
	/**display:none;/**/
	background: url(http://static.diary.ru/images/2007/cloud_small.gif) no-repeat center;
	width: 99px;
	height: 82px;
	position: absolute;
	float: right;
	z-index: 3;
	text-align:center;
	top:35%;
	right: 90px;
}
clouds_small_mod{
}
#clouds_small span,
#clouds_big span,
.clouds_small_mod span{
	display:block;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	width: 99px;
	height: 82px;
}
#clouds_big{
	background: url(http://static.diary.ru/images/2007/cloud_big.gif) no-repeat center;
	width: 176px;
	height: 178px;
	z-index: 3;
	top: -17px;
	right: 25px;
}
#clouds_big span{
	width: 176px;
	height: 178px;
}
.clouds_small_mod{
	width: 99px;
	height: 82px;
	text-align:center;
	background: url(http://static.diary.ru/images/2007/cloud_small.gif) no-repeat center;
}
#inf{
	float: left;
	width: 650px;
	display:inline;
	height: 66px;
}
#logo{
	position: relative;
	z-index: 3;
	float: left;
	width: 200px;
	height: 66px;
/*newyear* /
	margin-top: -5px;
/**/
}
#logo a{
	display: block;
	width: 200px;
	cursor: pointer;
	height: 53px;
	padding: 3px 0 10px 0;
/*newyear* /
	height: 66px;
	padding: 0;
/**/

}
/*newyear* /
#logo a, #logo a.ball{
	background: url("http://static.diary.ru/i/logo_ny_b.png") no-repeat left;
	height: 66px;
	padding: 0;
	_background: none;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://static.diary.ru/i/logo_ny_b.png');
}
#logo a.cow{
	background: url("http://static.diary.ru/i/logo_ny_2009.png") no-repeat left;
	_background: none;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://static.diary.ru/i/logo_ny_2009.png');
}
#logo a img{
	display:none;
}
/**/
#topwrap{
	background: #f2ebe5 url('http://static.diary.ru/images/2007/bg.jpg') repeat;
	min-width: 1000px;
}
#top{
	height: 66px;
	padding: 0 33px 0 33px;
	position:relative;
}

/*info block*/
#inf_menu{
	list-style: none;
/*	height: 14px;*/
	padding: 0 0 7px 0;
	margin: 7px 0 0 0;
	overflow:hidden;
}
#inf_menu li{
	float: left;
	margin-right: 10px;
}
#inf_menu p{
	margin-bottom: 1px;
}
#login_change{
	display: none;
	border: 1px solid #dad1c9;
	padding: 5px 12px 5px 12px;
	position: absolute;
	background-color: #ffffff;
	width: 170px;
	z-index: 200;
	margin-left: -120px;
}
#login_change h3 a{
	float: right;
	position:relative;
	margin-right:-8px;
	margin-top: -5px;
}
#log_in{
	padding: 3px 0 0 5px;
}
#log_in a{
	margin-right:10px;
}
#log_in input{
	margin-top: 0;
	//margin-left:-3px;
	//margin-top: -3px;
}
#log_in input.text{
	width: 105px;
	margin: 0;
}
#log_in input.submit{
	width: 55px;
	margin: 0;
}
/*end info blok*/


/*menu*/
#m_menu{
	padding: 0;
	height: 14px;
}
#m_menu li{
	margin-right: 15px;
	font-size: 1em;
	font-weight: normal;
}
#m_menu li a{
	background-image: none;
	padding-right: 0;
	color: #640e06;
	border-bottom: 1px solid #e5dfda;
}
#m_menu li a:hover{
	border-bottom: 1px solid #640e06;
}
#m_menu ul{
	margin-top: -1px;
}
#m_menu ul li{
	margin-right: 0;
}
#m_menu .nodrop{
		border: none;
		background-color: transparent;
		margin-right: 15px !important;
		margin-left: 0;
}
#m_menu .count {
	margin-left: -13px;
}
#m_menu li.count a{
	background-image: none;
}
#m_menu ol{
	list-style: none;
	margin-left: 7px;
}
#m_menu ol li{
	padding: 0 0 0 8px;
	margin: 0;
	background: url(http://static.diary.ru/images/2007/podmenu.gif) no-repeat left;
}


/* end menu*/

/*menu*/
#line_menu{
	background-color: #800000;
	position: relative;
	z-index: -1;
	height: 25px;
	font-size: 0%;
	margin-bottom: -25px;
	display: none;
}
.ie6_menu #line_menu{
	display: block;
}
#menu_box{
	background: #800000 url(http://static.diary.ru/images/2007/line_menu.gif) repeat-x top;
	height: 25px;
	min-width: 1000px;
	left: 0px;
	top: 0px;
	width: 100%;
	z-index: 100;
	opacity: 0.95;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=95);
	box-shadow: 0 5px 12px -7px rgba(0, 0, 0, 0.5);
	position:relative;
}
.ie6_menu #menu_box{
	background-color: transparent;
}
#menu_box .wrapper{
	padding-top: 4px;
}
.menu{
	list-style: none;
	padding: 0 33px 0 33px;
	margin: 0;
}
.menu li{
	float: left;
	margin-right: 30px;
	font-size: 1.15em;
	font-weight: bold;
}
.menu li a,
.menu li b{
	color: #ffffff;
	background: url(http://static.diary.ru/images/2007/podm.gif) no-repeat right;
	padding-right: 13px;
	padding-left: 0px;
	display: block;
	border-bottom: none;
	cursor: pointer;
}
.ie6_menu .menu li a,
.ie6_menu .menu li b{
 	background: none;
 }
.menu li a:hover{
	color: #ffe9d9;
	background-color: transparent;
	border-bottom: none;
}
.menu li ul{
	list-style: none;
	border: 1px solid #dad1c9;
	display: none;
	padding: 10px 15px 10px 15px;
	margin: 0;
	position: absolute;
	background-color: #ffffff;
	z-index: 110;
}
 .ie6_menu .menu li ul{
	border: none;
	padding: 0;
	margin: 13px 0 7px 0;
	display: block;
	position: static;
	background-color: transparent;
}
.menu ul li{
	white-space: nowrap;
	float: none;
	margin: 0;
	line-height: 1.7em;
	font-size: 0.87em;
}
.menu ul li.help_ex{
	font-weight: bold;
	color: #928477;
	margin-top: 3px;
}
.menu ul li.help_ex_sub{
/*	margin-left:15px;*/
}
.ie6_menu .menu ul li{
	padding: 0 0 0 8px;
	background: url(http://static.diary.ru/images/2007/podmenu.gif) no-repeat left;
}
.menu ul li a{
	background-image: none;
	padding: 0;
	margin: 0;
	display: inline;
	color: #640e06;
	border-bottom: 1px solid #e5dfda;
	font-weight: normal;
	text-align: left;
}
.menu ul a:hover{
	color: #640e06;
	border-bottom: 1px solid #640e06;
}
.menu li:hover ul,
.menu li.iehover ul{
	display: block;
}
.menu .pda{
	float: right;
	margin-right: 80px;
	display: inline;
	z-index: 4;
	position: relative;
}
.menu .pda a{
	background-image: none;
	padding-right: 2px;
}
.menu .sms_li{
	float:right;
}
/*end menu*/

#right_side{
	float: right;
	width: 242px;
	display: inline;
	padding-top: 19px;
}
#right_side .adoff{
	visibility:hidden;
//	margin-bottom: 22px;
}
#top_banner .adoff{
	display:none;
	width:730px;
	text-align:right;
/*	position: absolute;*/
}
#right_side .adoff, #banner_top .adoff{
	text-align:right;
}
#right_side .adoff a, #top_banner .adoff a{
	display: block;
	float: right;
	background-color: #928477;
	padding: 0.25em 0.5em 0.25em 0.5em;
	color: #ffffff;
	text-decoration: underline;
	border: none;
	width: 80px;
	text-align: center;
}
#right_side .adoff a:hover, #top_banner .adoff a:hover{
	text-decoration: none;
}
.rightsection{
	margin-bottom: 22px;
	text-align:right;
}
#container{
	float: left;
	width: 100%;
	margin-right: -348px;
	display: inline;
/*	padding-left: 33px;*/
}
#favSmiles{
//	height: 1%;
//	display: block;
}
#contant{
	margin-right: 348px;
            min-width: 760px;
}
.clear{
	clear: both;
	font-size: 0%;
	height: 0;
}
p{
	margin-bottom:7px;
	line-height: 120%;
}
ul {
	list-style-type:square;
	margin:0 0 7px 50px;
	padding:0;
}
ol {
	margin:0 0 7px 60px;
	padding:0;
}
#bottom{
	padding-left: 33px;
	padding-right: 33px;
	padding-top:7px;
 }
#bottom_banner{
	padding-top:7px;
	color: #8a8a8a;
}
#bottom_banner p{
	font-size: 85%;
}
.counterz a,
.counterz a:hover{
  border-bottom:none;
  margin-left: 7px;
}
#kubic{
	width: 500px;
	float: left;
}
img{
	border: none;
}
table{
	font-size: 100%;
}
.line,
.line_h{
	background: url(http://static.diary.ru/images/2007/line.gif) repeat-x;
	height: 1px;
	font-size: 0%;
	margin-bottom: 7px;
}
.line_h{
	margin-left: -15px;
	_margin-left:0;
}
a{
	color: #640e06;
	text-decoration: none;
	border-bottom: 1px solid #e5dfda;
}
a:hover{
	text-decoration: none;/* override journal */
	border-bottom: 1px solid #640e06;
}
h1{
	font-size: 140%;
	font-weight: bold;
	color: #444444;
	display:block;
/*	background-color: #f4eee9;*/
	padding: 3px 0 0 0;
	margin: 19px 0 2px -15px;
	_margin-left:0;
}
h2{
	font-size: 130%;
	font-weight: bold;
	color: #666666;
	padding: 0;
	margin: 16px 0 0.8em -15px;
	_margin-left:0;
}
h3{
	font-size: 100%;
	color: #666666;
	margin-bottom: 0.5em;
	padding-top: 0.2em;
}
h3 a{
	border-bottom: none;
	color: #777777;
}
h3 a:hover{
	color: #640e06;
	border-bottom: none;
}
h4{
	font-size: 100%;
	color:#000000;
	margin-bottom: 0.5em;
}
h5{
	font-size: 130%;
	font-weight: bold;
	color: #666666;
	padding: 3px 0 4px 15px;
	display:block;
	margin: 16px 0 3px -15px;
	background-color: #f2ebe5;
}
h6{
	font-size: 100%;
	color: #000000;
	margin: 0.3em 0 0.3em 0;
}

/*table*/
table.table, table.tab{
	margin-bottom: 1em;
	border-collapse:collapse;
}
table.table th {
	font-weight: bold;
	color: #928477;
	padding: 2px 5px 5px 5px;
/*	border-right: 1px solid #ffffff;*/
	background: url(http://static.diary.ru/images/2007/line.gif) repeat-x bottom left;
}
table.table .noline th {
	background-image: none;
}
table.table th a {
	color:#928477;
	border-bottom: none;
}
table.table th a:hover {
	border-bottom: none;
	color:#640e06;
}
table.table tr, table.tab tr{
	vertical-align: top;
}
table.table tr:hover td{
	background-color: #f8f4f1;
}
table.table tr:hover td.nosel{
	background-color: transparent;
}
table.table td, table.tab td{
	border-collapse: collapse;
	padding: 3px 5px 3px 5px;
	vertical-align: top;
/*	border-right: 1px solid #ffffff;	*/
}
table.table .sms_td{
	padding: 3px 0 3px 0;
}
/*end table*/

.time_com{
	margin-right: 15px;
}
.date_com a{
	color: #928477;
}
.sel{
	font-weight: bold;
	color: #928477;
}
.sp{
	margin: 0.3em 0 1em 0;
	line-height: 120%;
}
.new span,
.list_news span{
	padding-right: 5px;
	color: #928477;
}
.new{
	margin-left: 20px;
}
.new,
.list_news{
	margin-bottom: 0.5em;
}
.list_news{
	padding: 3px 0 3px 5px;
	margin-left: 15px;
	margin-bottom: 0.1em;
}
.list_news:hover{
	background-color: #f8f4f1;
}
.list_news em,
h3 em{
	font-style:normal;
	margin-right: 7px;
	font-weight: normal;
}
em input{
/*	position:relative;
	top:-2px;
	height: 13px;*/
	margin-bottom: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-top: 0;
}
.box_main_page,
.box_main_news{
	float:left;
	margin-right: 1%;
	width: 23%;;
}
.box_main_news{
	width: 90%;
}
.box_main_page .mark{
	margin-bottom: 0;
}
.box_main_page .mark li{
	padding-bottom: 2px;
}

a.sms{
	padding-left: 15px;
	background: url(http://static.diary.ru/images/2007/sms.gif) no-repeat left;
	height: 11px;
	float: left;
}
.info_comm strong{
	margin-left: 13px;
	border-left: 1px solid #928477;
}
.info_comm a{
	margin-left: 15px;
}
.other, #dog a, #right_side a, #kubic a, #top_banner a, #login_change a, #more_login a{
	padding: 0;
}
.other, .other:hover, #dog a, #dog a:hover, #logo a, #logo a:hover, #right_side a, #right_side a:hover, #top_banner a, #top_banner a:hover, #more_login a, #more_login a:hover, .countrez_td a, .countrez_td a:hover, #clouds_small a, #clouds_big a, #clouds_small a:hover, #clouds_big a:hover, #codebuttons a, #codebuttons a:hover, .postActionLinks a, .postActionLinks a:hover{
/*	background-color: transparent;*/
	border-bottom: none;
}
.ser{
	color: #8a8a8a;
}
/*forms */
form{
	margin: 0;
	padding: 0;
}
input{
	margin: 2px 5px 0 0;
	padding: 1px 2px 1px 2px;
}
input.check_box{
//	margin: -2px;
}
.textbox,
input.text,
select,
input.i,
textarea{
    border: 1px solid #928477;
    border-radius: 3px;
    padding: 2px 2px 2px 2px;
    font-size: 100%;
    margin: 0;
    font-family: Tahoma;
    background-color: #ffffff;
    color: #666666;
    box-shadow: 1px 1px 5px -2px #111 inset;
    /* text-shadow: 1px 1px 3px #fff; */
    /* background: #efefef; */
    margin: 0px 5px;
}
#search_form input.text { box-shadow: none; }
input.text:focus,
textarea:focus,
select:focus{
	 border: 1px solid #444444; 
}
select{
	padding-left: 2px;
	padding-bottom: 1px;
	padding-top: 1px;
	padding-right: inherit;
}
button.submit,
button.simplebutton,
input.submit,
input.simplebutton
{
    border: 1px solid #928477;
    border-radius: 3px;
    /* background: #ffffff url(http://static.diary.ru/images/2007/but_bg.gif) repeat bottom left; */
    background: #bbb;
    color: #444;
    font-weight: bold;
    font-size: 100%;
    cursor: pointer;
    margin: 0;
    padding: 3px 7px;
    font-family: Tahoma;
    box-shadow: 1px 1px 2px -1px #111, 0 10px 10px 0 rgba(255,255,255,.7) inset;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}
html:first-child input.submit,
html:first-child input.simplebutton{
	padding: 2px;
}
input.submit{
	margin: 0.8em 0 1em 0;
}
p input.submit{
	margin: 0 0 1em 0;
}
input.simplebutton{
	margin: 0 5px 0 5px;
	font-weight: normal;
	color: #666666;
}
#top .submit,
.search_box .submit{
	margin: 0;
}
input, textarea {outline:none;}
/* end forms */

/* search */
#search_box{
	background:#fff;
	border: 1px solid #928477;
	height: 17px;
	width: 152px;
	display:block;
	margin-top:-1px;
}
#search_box input{
	border:none;
	background:transparent;
	padding:0;
	margin:0;
}
#search_box input.text{
	background:none;
	width: 115px;
	height:14px;
	font-size: 12px;
	padding:0px 3px;
	margin-left:16px;
}
#search_progress input.text {margin-left:3px;}
#search_box ul	{top:-2px;left:-1px;position:relative;width:129px;padding:3px; box-shadow:0 5px 12px -7px rgba(0, 0, 0, 0.5);}
#search_box ul li span	{padding-left:24px; font-weight:normal;}
#search_box ul li:hover	{background-color: #eee; cursor:pointer;}
#search_box ul .i1	{background: url('http://static.diary.ru/img/search_1ico.gif') no-repeat scroll 2px center transparent !important;;}
#search_box ul .i2	{background: url('http://static.diary.ru/img/search_2ico.gif') no-repeat scroll 2px center transparent !important;;}
#search_box ul .i3	{background: url('http://static.diary.ru/img/search_3ico.gif') no-repeat scroll 2px center transparent !important;;}
#search_box ul .i4	{background: url('http://static.diary.ru/img/search_4ico.gif') no-repeat scroll 2px center transparent !important;;}
#search_box ul .i5	{background: url('http://static.diary.ru/img/search_5ico.gif') no-repeat scroll 2px center transparent !important;;}
#search_box ul .i6	{background: url('http://static.diary.ru/img/search_6ico.gif') no-repeat scroll 2px center transparent !important;;}
#search_box ul .i7	{background: url('http://static.diary.ru/img/search_7ico.gif') no-repeat scroll 2px center transparent !important;;}


/*safari mac*/
.search_box select:first-of-type{
	height:15px;
}
.search_box input.submit:first-of-type{
	width: 6em;
}
.search_box #search_selectnewsel{
	margin:0;
}
.search_select_list{
	border-style: solid;
	border-width: 1px;
	background-color: #ffffff;
	position:absolute;
	z-index: 10;
	font-size: 100%;
	padding: 0;
	cursor: pointer;
}
.search_select_list .select_line{
	background-color: #e0dbd6;
}
#search_selectsform{
	border-color: #928477;
	margin: -1px 0 0 0;
	background-color: #ffffff;
}
#search_selectsform .unselect_line,
#search_selectsform .select_line{
	height: 15px;
	padding: 2px 2px 2px 5px;
	white-space:nowrap;
}
/*end search */

#login_change input.text,
#login_change input.submit{
	width: 60px;
	font-size: 100%;
}

.l {text-align: left;}
.r {text-align: right;}
.c {text-align: center;}
.m {vertical-align: middle;}
.flr{float: right;}
.fll{float: left;}
.b{font-weight: bold;}
.nob{font-weight: normal;}
ul.mark{
	list-style: none;
	margin: 0 0 15px 0;
	padding: 0;
}
ul.mark li{
	padding: 0 0 0 8px;
	margin: 0;
	background: url(http://static.diary.ru/images/2007/podmenu.gif) no-repeat left 5px;
}
ul.mark ul{
	margin: 2px 0 2px 7px;
	list-style: none;
}
ul.mark ul li a{
	color: #666666;
}
ul.m_line li{
	display:inline;
	margin-right: 15px;
}
.birthday_date{
	display:block;
	float:left;
	width: 60px;
	margin-right: 15px;
}

.pages{
	margin-top: 1.3em;
	margin-bottom: 1.3em;
	text-align:center;
/*	font-size: 90%;*/
}
.pages table{
	margin-left: auto;
	margin-right: auto;
}
.pages td{
	white-space: nowrap;
	padding: 0;
}
.pages a, .pages strong{
	margin: 0 2px 0 2px;
	padding: 0 3px 0 3px;
	font-size: 100%;
	color:#928477;
	border-bottom: none;
	font-weight: bold;
}
.pages strong{
	color: #333333;
	font-size:115%;
}
.pages a:hover{
	border-bottom: none;
/*	text-decoration:underline;*/
	color:#640e06;
}
.pages_str a{
	font-weight: normal;
	margin: 0 7px 0 7px;
	padding: 0;
}

/* old design */

/* avatars */

#avatarbit {
	width: 124px;
	float: left;
	border: 1px solid #ffffff;
	padding: 1px;
	margin: 0 3px 5px 0;
	height: 200px;
}
#avatarbit #avatar {
	width: 120px;
	height: 150px;
	border: 2px solid #ffffff;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-color: #ffffff;
}
#avatarbit #inputs {
	margin: 2px 5px 2px 10px;
}

/* ImagesLib */
#phototdw {
	width: 120px;
	margin: 0 10px 10px 0;
	text-align: center;
	float: left;
	background: #fff;
}
#phototdw a {
	background: #f2f2f2 no-repeat 50% 50%;
	width: 110px;
	height: 110px;
	display: block;
	margin: 5px;
}
#phototdw span {
	display: block;
	padding-bottom: 5px;
	text-align: left;
}
#phototdw span a {
	display: inline;
	margin: 3px 5px 0 0;
	width: auto;
	height: auto;
	background: none;
	float: right;
}
#phototdw input{
	margin-left: 5px;
}

/* themes */
#themebody {
	background: #fff;
	float: left;
	margin: 0 10px 10px 0;
	width: 140px;
	padding-bottom: 5px;
}
#themeimg {
	background: #f2f2f2;
	width: 130px;
	margin: 5px;
	padding: 5px 0 5px 0;
	text-align:center;
}
#themebody center {
	display: block;
	height: 1.5em;
}

/* calendar */
#c_x{
	visibility:hidden;
	position:absolute;
	display:none;
	border: 1px solid #928477;
	background:#ffffff;
	width: 162px;
}
.calendar	{
	background-color: #e0dbd6;
	border-bottom:1px solid #ffffff;
	width: 100%;
}
.calendar	 th{
	padding: 3px 1px 3px 1px;
}
.calendar	 th a{
	border-bottom:none;
	color: #000000;
}
.calendar select{
	font-size:80%;
	background-color: #e0dbd6;
	border:none;
	padding:0px;
	margin:0px;
}
#calendar_data{
	margin:0;
}
.calendar2 {
	background: #fff;
	border-top:1px solid #e0dbd6;
	width: 100%;
	padding: 0 3px 5px 3px;
}
.calendar2 td{
	text-align:center;
}
.calendar2 .selected{
	border: 1px solid #e0dbd6;
	background-color: #f0f0ee;
}
.calendar_box {top:-2px;left:-1px;position:relative;width:137px;padding-bottom:2px; box-shadow:0 7px 15px -7px rgba(0, 0, 0, 0.5); border:1px solid #928477;}
.calendar2 .selected {box-shadow:0 0 3px 0 rgba(0, 0, 0, 0.5); }
.calendar_input{border:1px solid #928477;width:75px;background:#fff url(http://static.diary.ru/img/b_calendar.png) no-repeat 98% !important; _padding:4px !important; padding-right:20px !important;}
/*
.calendar_box ul li:hover	{background-color: #eee; cursor:pointer;}
/**/

/*end calendar */

/* fav smiles */
.sml_div{
	background-color: #f0f0ee;
	padding: 5px 0 0 5px;
	margin-bottom:7px;
//	height: 1%;
}
.sml_box{
	text-align:center;
	float: left;
	width: 80px;
	height: 85px;
	margin:0 5px 5px 0;
	border: 1px solid #ffffff;
	padding: 1px;
}
.sml_img{
	height: 65px;
	background-color: #ffffff;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
/*end fav miles */

/*sugestor*/
#suggestform{
	border: 1px solid #928477;
}
.suggest_select {
	background-color:#e0dbd6;
}
.umail_menu{
	list-style:none;
	margin: 0 0 7px 0;
	padding: 0;
	height: 18px;
}
.umail_menu li{
	display: block;
	float: left;
	padding: 2px 0 2px 30px;
	background-position: left;
	background-repeat: no-repeat;
	margin: 0 15px 0 0;
	height: 18px;
}
.umail_sendnew{
	background-image: url(http://static.diary.ru/images/pm_sendnew_ico.gif);
}
.umail_folders{
	background-image: url(http://static.diary.ru/images/pm_folders_ico.gif);
}
.umail_blacklist{
	background-image: url(http://static.diary.ru/images/blacklist_ico.gif);
}
.umail_sendreply{
	background-image: url(http://static.diary.ru/images/pm_sendreply_ico.gif);
}
.umail_forward{
	background-image: url(http://static.diary.ru/images/pm_forward_ico.gif);
}
.umail_delete{
	background-image: url(http://static.diary.ru/images/pm_delete_ico.gif);
}

fieldset.box, div.box, form.box, table.box {
    background-color: #f0f0ee;
    margin: 0 0 10px 0;
    padding: 15px;
    border-radius: 3px;
    border: #e0e0de solid 1px;
    box-shadow: 1px 1px 5px -2px #111;
}
a.toolbutton,
a.toolbutton:hover {
	background-color:#e6e6e6;
	background-position:0pt 50%;
	background-repeat:no-repeat;
	border:2px solid #999999;
	color:#666666;
	margin-right:5px;
	padding:7px 10px 7px 28px;
	text-decoration:none;
	vertical-align:middle;
}
table.box {
	background:#f0f0ee none repeat scroll 0%;
	/*border:7px solid #f0f0ee;*/
	margin-bottom:10px;
}
table.box td{
	padding: 2px;
}
table.t_border{
	border-bottom:1px solid #e6e6e6;
	padding-bottom:1em;
	margin-bottom: 1em;
}
table.table .uline td {
	border-bottom:1px solid #f0f0ee;
}
table.table .selected {
	background-color:#f9f9f9;
	color: #666666;
/*	font-weight:bold;*/
}
table.table td.com_n{
	padding: 4px 2px 0 0;
	font-weight: bold;
}
.withfloat{
	display:inline;
}
.not_readed_umail,
.not_readed_umail b {
	font-weight: bold;
}

.avatarListBit {
	padding: 1px;
	margin: 0 10px 10px 0;
	float: left;
	background: #B8B8B8;
	border-right:1px solid #999999;
	border-bottom:1px solid #999999;
	border-top:1px solid #dddddd;
	border-left:1px solid #dddddd;
}
.avatarListBit span {
	display: block;
	width: 160px;
	height: 160px;
	background: #fff;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

#plistg {
	float: left;
	width: 120px;
	background: #f2f2f2;
	text-align: center;
	margin: 0 1px 1px 0;
	padding: 5px 0;
}
#plistg #inner {
	width: 110px;
	height: 110px;
	margin: 0 5px 5px 5px;
	background: #fff;
}
#plistg #inner span {
	width: 5px;
	height: 10px;
	margin: 50px 0 50px 0;
	vertical-align: middle;
}
#plistg #inner img {
	margin: 5px 5px 5px 0;
	vertical-align: middle;
}

.TagJIco {
	background:url('http://static.diary.ru/images/j.gif') no-repeat top;
	padding-left:16px;
	border-bottom:none;
}
.TagJIco:hover {
	border-bottom:none;
}
.error_text{
	color: #ff0000;
}
.postcard_box{
	margin: 16px 0 15px 0;
}
.counterz, .advert{
	float: right;
}
.lm #log_in table td{
	padding: 7px;
}

/*menu*/
.lm .minwidth{
	padding-bottom:0;
}
.lm .min-height{
	background: url(http://static.diary.ru/i/bgl.jpg) repeat-y left;
}
#lm_main_container{
	padding-bottom: 65px;
}
#banner_top{
	position: absolute;
	left: 240px;
	padding: 5px 0 5px 15px;
}
#lm_left_container{
	float: left;
	width: 240px;
	margin-left: -100%;
	padding-bottom: 50px;
}
.lm #menu_box{
	background: transparent none;
	min-width: 240px;
	height: auto;
}
.lm #menu_box .wrapper{
	padding: 0;
	min-width: 240px;
	max-width:inherit;
	margin:auto;
	_width: auto;
/*	width: 200px;
	background-color:#c2c2c2;*/
}
.lm #main_menu{
	padding-left: 30px;
}
.lm .box_main_news{
	width: 85%;
}
.lm #main_menu li{
	float: none;
	font-size: 1em;
	margin: 0;
	display:block;
}
.lm #main_menu li a,
.lm #main_menu li b{
	color: #4d190b;
	background-image: none;
	display: inline;
	padding-right: 0;
}
.lm #main_menu li b{
	cursor: text;
}
.lm #main_menu li.pda{
	margin-bottom: 7px;
}
.lm #main_menu li.help_ex{
	margin: 7px 0 3px -7px;
	color: #4d190b;
}
.lm #login_change{
	margin-top: 7px;
	margin-left:0;
	font-weight: normal;
	position: static;
	border-color: #cccccc;
}
.lm #login_change input.submit{
	margin:0;
}
.lm #main_menu li ul{
	display:block;
	position:static;
	background-color:transparent;
	border:none;
	padding: 3px 0 10px 7px;
}
.lm #main_menu li ul li{
	line-height: normal;
}
.lm #main_menu li ul a{
	border-bottom:none;
}
.lm #main_menu li ul strong a{
	font-weight:bold;
}
#lm_right_container{
	float: left;
	width: 100%;
}
#lm_right_content{
	margin-top: 100px;
	margin-left: 260px;
	margin-right: 330px;
}
.lm #right_side{
	float: left;
	margin-top: 100px;
	margin-left: -320px;
	padding-right: 15px;
}
.lm #logo,
.lm .search_box,
.lm #inf{
	float: none;
}
.lm #logo{
	border-bottom: 23px solid #800000;
	width: 240px;
	height: 100px;
}
.lm #logo a{
	height: 75px;
	margin-left:30px;
	background-position:left;
	padding-top: 25px;
}
.lm .search_box{
	margin-left:30px;
	margin-top: 15px;
	margin-bottom: 15px;
}
.lm{
	min-width: 1000px;
}
.lm,
.lm .new span,
.lm .list_news span,
.lm .sel,
.lm table.table th a{
	color: #666666;
}
.lm a{
	color: #4d190b;
	border-bottom: none;
}
.lm a:hover{
	text-decoration: underline;
	border-bottom: none;
}
.lm .line_h,
.lm .line{
	display: none;
}
.lm h1, .lm h2{
	background-color: transparent;
	font-size: 100%;
	color: #000000;
	margin: 0 0 0 -10px;
	padding: 7px 0 7px 0;
}
.lm table.table th{
	background: none;
	color: #666666;
	border-bottom: 1px solid #e6e6e6;
}
.lm table.table tr:hover td{
	background-color: #f4f4f4;
}
.lm .withfloat .flwin em{
	background-color: #f6f1ed;
}
.lm .bottom_all{
	border-top: 1px solid #800000;
	padding-top:7px;
	height: 49px;
	padding-right: 15px;
}
.lm #bottom_banner{
	padding-left:255px;
}
.lm #kubic{
	margin: 0 0 0 7px;
	font-size: 90%;
	width: 233px;
}
/*end left menu*/

.std_options{
	padding-left: 7px;
}
.std_options a{
/*	color: #928477;
	font-weight:bold;
	border-bottom: none;*/
	margin-left: -7px;
}
.std_options a:hover{
/*	color: #800000;
	border-bottom: none;*/
}
/* posts */
.singlePost.lastPost{
	padding-bottom: 15px;
	margin-bottom: 15px;
	border: none;
}
.singlePost{
	border:none;
	background: url(http://static.diary.ru/images/2007/line.gif) repeat-x bottom left;
}
.postDate{
	font-weight:bold;
	font-size: 120%;
	display:block;
	background-color: #f0f0ee;
	float:none;
	padding: 2px 5px 2px 5px;
	text-align:right;
	box-shadow: 0 5px 5px -4px rgba(0, 0, 0, 0.5);
}
.singleComment .paragraph{
	overflow: hidden;
	overflow-x: auto;
}

.header h2, .header h3, .header h4 {
	margin:0;
}
/* */
#dmess_header{
//	height: 1%;
}
#dmess_header a{
	display: block;
	float: right;
	background-color: #928477;
	padding: 0.25em 0.5em 0.25em 0.5em;
	color: #ffffff;
	text-decoration: underline;
	border: none;
	width: 80px;
	text-align: center;
}
#dmess_header a:hover{
	text-decoration: none;
	border: none;
}
#dog_message{
	border: 1px solid #928477;
	clear: both;
	background-color:#fcfcfc;
}
#dog_message div{
	margin: 0.5em;
}
#dog_message a{
	color: #640e06;
	text-decoration: none;
	border-bottom: 1px solid #e5dfda;
}
#dog_message a:hover{
	text-decoration: none;
	border-bottom: 1px solid #640e06;
}
/**/
#yandex_direct .y5-data td.y5-block div.ad-link a,
#yandex_direct .y5-data td.y5-footer div a{
	text-decoration:none;
	border-bottom: 1px solid #e5dfda;
}
#yandex_direct .y5-data td.y5-block div.ad-link a:hover,
#yandex_direct .y5-data td.y5-footer div a:hover{
	border-bottom: 1px solid #640E06;
}
#yandex_direct .y5-header td.y5-bg a{
	color: #ffffff;
}
#yandex_direct .y5-header{
	float:right;
	width: 100px;
}
#yandex_direct .y5-data{
	width: 100%;
	clear: both;
}
.fav_list{
	margin-top: 41px;
}
.fav_list ul.mark{
	margin-bottom: 10px;
}
.postActionLinks img{
	opacity: 0.5;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
}
.community_ul_all{
	float: left;
	width: 25%;
	margin-right: 3%;
	margin-bottom: 20px;
	padding-left: 15px;
	margin-left:5px;
}
.community_ul_all li span{
	float:right;
}
.community_ul_all .tags_header{
	font-weight:bold;
	list-style: none;
	margin-left: -15px;
	margin-bottom: 3px;
}
/*.community_ul_all li{
	line-height: 1.4em;
}*/
.comm_catalogue{
	margin-bottom: 0.5em;
}
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
#inform_box{
    width: 360px;
    background: #f2ebe5 url(http://static.diary.ru/images/2007/bg.jpg) repeat 0 0;
    border: 1px solid #bbb;
    filter: progid:DXImageTransform.Microsoft.shadow(direction=135,color=#666666,strength=3);
    text-align: left;
    padding: 0;
    border-radius: 5px;
    box-shadow: 0px 2px 10px -1px #444 !important;
}
#inform_box form{
	padding: 0 20px 15px 20px;
}
#inform_box h3{
	color: #ffffff;
	text-align:left;
	background: #800000 url(http://static.diary.ru/images/2007/line_menu.gif) repeat-x top;
	margin: 0 0 10px 0;
	height: 20px;
	font-size: 120%;
	padding-left: 10px;
}
#inform_box input.submit{
	margin: 0;
}
#inform_box .flwin{
	border: 1px solid #928477;
	background-color: #ffffff;
	padding: 5px;
	width: 200px;
	color: #333333;
	opacity: 0.9;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=90);
}
#inform_box .flwin b{
	font-weight: bold;
}
.withfloat:hover .flwin {
	_bottom: 102%;
}
html:first-child #inform_box .withfloat:hover .flwin{
	margin-top: -110px;
	margin-left:0;
}
#trust_info.withfloat:hover .flwin{
	left:-78px;
}
#trust_always_info.withfloat:hover .flwin{
	left:-128px;
}
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
#search_selectbtid{
	background: url('http://static.diary.ru/images/2007/select_but.gif') no-repeat top;
	border: none;
	width:14px;
	height:19px;
	margin:0;
	//margin-top: 1px;
	cursor: pointer;
	padding:0;
}
#ChebraCounter img{
	width:0;
	height:0;
}
#ChebraCounter{
	position:absolute;
	width:0;
	height:0;
	font-size: 0;
	left:0;
	top: 0;
}
h6.hlink{
	margin: 0 0 15px 0;
}

.box_options{
	float:left;
	margin-right:1%;
	width:48%;
}
#options_suggest_form{
	position:absolute;
	background-color:#FFFFFF;
	border:1px solid #DAD1C9;
	z-index: 50;
	cursor:pointer;
}
ul.mark .highlight a, a.highlight{
	background-color:#800000;
	color: #ffffff;
	border:3px solid #800000;
	border-top:1px solid #800000;
	border-bottom:1px solid #800000;
}
ul.mark .options_search_help { font-size:85%; color:#546739; text-align:justify; margin:0 0 3px 0px; background:#F2EBE5; border: 1px solid #800000; padding:3px;}


.design_catalogue{
	list-style: none;
	margin:0;
	padding:0;
}
.design_catalogue li{
	margin-bottom: 0.5em;
}
.design_catalogue a{
	font-weight:bold;
}
.design_catalogue span{
	display:block;
}
#design_box{
/*	background-color:#f0f0ee;*/
	//height: 1%;
}
.design_bit{
	float: left;
	width: 260px;
	height:315px;
	margin:5px;
	border:5px solid #f0f0ee;
	background-color: #f0f0ee;
}
.design_bit .preview{
	display:block;
	border:2px solid #ffffff;
	background-color:#f0f0ee;
	padding:3px;
	text-align:center;
	width:250px;
	height:164px;
}
.design_bit .preview:hover{
	border:2px solid #ffffff;
}
.design_bit .sel{
	font-weight: normal;
}
.design_bit h5{
	background-color: #ffffff;
	margin:0;
}
.design_bit ul.mark{
	margin: 5px 15px 5px 15px;
}
#select_design{
	margin: 15px 0 5px 0;
}
#select_design .box{
	height: 65px;
	border: 1px solid #cccccc;
	background-color:#F9F9F9;
	clear:both;
}
#select_design .box p{
	margin-bottom: 0;
}
#select_design #V_1{
	//width:50px;
}
#select_design #V_2{
	//width:80px;
}
#select_design #V_3{
	//width:115px;
}
#select_design #V_4{
	//width:110px;
}
#select_design #vkl li a, #select_design #vkl .z_n{
	background-color: #EAEAE8;
}
#select_design #vkl li.current a, #select_design #vkl li.current .z_n{
	background-color:#F9F9F9;
}
#select_design h6{
	margin:0 0 0.5em 0;
}
.mark .m_plus{
	background-image: url('http://static.diary.ru/images/2007/plus_btn.gif');
}
.menu_block_inner{
	_border: 1px solid #928477;
}
#top_banner .menu_block_inner{
	width: 728px;
}
#talking{
	position: absolute;
	background: url('http://static.diary.ru/images/2007/talking_top.png') no-repeat top;
	_background-image: none;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://static.diary.ru/images/2007/talking_top.png');
	width: 226px;
	z-index: 5;
	float: right;
	right: 50px;
	margin-top: -10px;
	padding-top: 35px;
	display: none;
}
#talking div{
	background: url('http://static.diary.ru/images/2007/talking_bottomp.png') no-repeat bottom;
	padding-bottom: 15px;
}
#talking span{
	display: block;
	padding: 0 15px;
	border-left: 1px solid #eceae8;
	border-right: 1px solid #eceae8;
	background-color: #fff;
}
#clouds_small a:hover #talking{
	display:block;
}
#right_banner OBJECT,
#right_banner IMG,
#right_banner EMBED {display: block; margin: 0; padding: 0;}
#right_banner BR {display: none;}
.bq{border-top:	1px solid #E6E6E6;}
.hidden{visibility:hidden;display:none;}
.font_bold{font-weight: bold !important;}

/* preview ********************************************************************************************************/
.withpv {
	_display: block;
	border-bottom:none;
}
.withpv:hover {
	position: relative;
	z-index: 1;
	border-bottom:none;
}
.withpv .pvwin img {width:100%;}
.withpv .pvwin {
	display: none;
	position:absolute;
	bottom: 120%;
	left: 50px;
	top: -50px;
	max-width: 300px;
	min-width: 150px;
	text-align: left;
	text-decoration: none;
	z-index: 2;
}
.withpv:hover .pvwin {
	display: block;
	text-decoration: none;
}
.withpv .pvwin strong {
	display: block;
	padding: 3px 9px;
	background: #800000;
	color: #fff;
	font-weight:normal;
	text-decoration: none;
}
.withpv .pvwin em {
	display: block;
	padding: 8px;
	background: #f6f1ed;
	color: #666;
	font-style: normal;
	text-decoration: none;
	border-width: 1px 1px 1px 1px;
	border-style: solid;
	border-color: #c9c3bf;
	border-top-color: #fff;
	text-align: justify;
}
.withpv span.right, .withpv:hover span.right {left: -250px;}
.withpv2 {
	_display: block;
	border-bottom:none;
}
.withpv2:hover {
	position: relative;
	z-index: 1;
	border-bottom:none;
}
.withpv2 .pvwin2 img {width:100%;}
.withpv2 .pvwin2 {
	display: none;
	position:absolute;
	bottom: 120%;
	left: 50px;
	top: -50px;
	max-width: 300px;
	min-width: 150px;
	text-align: left;
	text-decoration: none;
	z-index: 2;
}
.withpv2:hover .pvwin2 {
	display: block;
	text-decoration: none;
}
.withpv2 .pvwin2 em {
	display: block;
	padding: 8px;
	background: #f6f1ed;
	color: #666;
	font-style: normal;
	text-decoration: none;
	border: 1px solid #c9c3bf;
	_border-top-color: #eee;
	_border-left-color: #eee;
	text-align: justify;
}
.withpv2 span.right, .withpv2:hover span.right {left: -250px;}
/* preview ********************************************************************************************************/
/* social ico */
.social_ico
{
	display: -moz-inline-box;
	display: inline-block;
	width: 16px;
	height: 16px;
	background: no-repeat;
	background-image: url(http://static.diary.ru/img/social.png);
	margin: 0 2px -4px;
}
.ya{background-position: 0px -17px;}
.vk{background-position: 0px 0px;}
.fb{background-position: 0px -68px;}
.tw{background-position: 0px -51px;}
.ok{background-position: 0px -170px;}
.lj{background-position: 0px -34px;}
.ig{background-image: url(http://static.diary.ru/img/social_instagram.png);}
.icq{background-image: url(http://static.diary.ru/img/ico_icq.png);}
.home{background-image: url(http://static.diary.ru/img/ico_home.png);}
.skype{background-image: url(http://static.diary.ru/img/ico_skype.png);}
.jabber{background-image: url(http://static.diary.ru/img/ico_jabber.png);}
.mail{background-image: url(http://static.diary.ru/favicon.ico);}
.mail2{background-image: url(http://static.diary.ru/img/social_mail.png);}

/* reference */
.options{visibility:hidden;}
.tr_hover{background:#F8F4F1 !important;border:solid 1px #e8e4e1 !important;}
.table tr:hover .options, .tr:hover .options{visibility:visible;}
.mr_10{margin-right:10px !important;}
.enabled {}
.disabled {opacity: 0.4; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=40);}

.op05{
	opacity: 0.5;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
}


.box-error
{
    border: #bbb solid 1px;
    border-radius: 5px;
    text-shadow: 1px 1px 0 #fff;
    box-shadow: 0px 2px 10px -1px #444;
    min-height: 70px;
    padding: 20px 20px 20px 120px;
    background: #f2ebe5 url(http://static.diary.ru/images/2007/bg.jpg) repeat 0 0;
    font-size: 1.5em;
    text-align: left;
    position: relative;
}
.box-error:before
{
    background: url(http://static.diary.ru/img/error.png) 20px 20px / 70px no-repeat;
    content: '';
    display: block;
    width: 100px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.table.options_site_reference td:nth-child(2) > *:nth-child(2) {
    display: inline-block;
    max-width: calc(100% - 20px);
    text-overflow: ellipsis;
    overflow: hidden;
}
.comm_cat{margin:8px 0 3px;}


.catalogItemDescription:not(:empty):after,.catalogItemDescription:not(:empty):before {
    content:'';
    display:block;
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
    position:absolute;
    left: 8px;
    bottom: -4px;
    background:#fffbf6;
}
.catalogItemDescription:not(:empty):before {
    bottom: -5px;
    background: #800000;
    z-index:-1;
}

.catalogItemDescription:not(:empty) {
    display: none;
    position: absolute;
    bottom: 1.5em;
    max-width: 300px;
    min-width: 200px;
    text-decoration: none;
    padding: 4px 7px 7px;
    background:#fffbf6;
    color:#666;
    font-style:normal;
    font-weight:normal;
    border: #800000 solid 1px;
    border-radius: 3px;
    box-shadow: 1px 1px 10px -2px #111;
    transition:all .5s;
}

.catalogItemDescription:not(:empty) > div {
    overflow: hidden;
    width: 100%;
    max-height: 52px;
    display: block;
    /* position: absolute; */
    text-overflow: ellipsis;
}

.catalogItem:hover .catalogItemDescription {
    display: inline-block;
    opacity: .95;
}


.catalogItem {
    position: relative;
}

.catalogEditForm {
    position: absolute;
    right: 15px;
    width: 320px;
    border: 2px groove #fff;
    border-radius: 4px;
    padding: 10px;
    background: #dfdfdf;
    /* box-shadow: 1px 1px 7px -1px; */
}

.catalogEditForm button {
    float: right;
    margin: 10px -5px 0 10px;
    width: 100px;
}
.catalogEditForm textarea {
    height: 50px;
}
.catalogEditForm > * {
	width: calc(100% - 5px);
	margin: 3px 0 !important;
	white-space: nowrap;
}

.catalogEditForm #catalogEditCount {
    margin: 10px 5px 0 12px;
    display: inline-block;
    position: relative;
    padding: 3px 5px;
    border: 1px solid #888;
    border-radius: 3px;
    background: #ccc;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(255,255,255,.7);
    color: #555;
    cursor: default;
}

.catalogEditForm #catalogEditCount:before,
.catalogEditForm #catalogEditCount:after {
	content: '';
	width: 6px;
	height: 6px;
	transform: rotate(45deg);
	display: block;
	background: #ccc;
	position: absolute;
	top: 6px;
	left: -2px;
	/* z-index: 10; */
}
.catalogEditForm #catalogEditCount:before{
	background: #888;
	left: -3px
}

.loading:before {content: '';display: block;width: 11px;height: 11px;background: url(http://static.diary.ru/img/progress2_10x10.gif) no-repeat 50% 50%;position: absolute;left: 3px;}
.loading {
    padding-left: 17px !important;
    padding-right: 10px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
}


p.catalogDescription {
    color: #888;
    text-shadow: 1px 1px 3px rgba(0,0,0,.2);
    text-align: justify;
}