/*
Keremiya Teması için hazırlanmış özel css.

http://wordpress.org/extend/plugins/wp-pagenavi/
*/

.wp-pagenavi {
	margin:13px 0 14px;
	width:800px;
	margin-left:20px;
	padding-bottom:1px;
          float:left;
	font-family: 'Oswald', arial, serif;
}

.wp-pagenavi a, .wp-pagenavi span {
	border: 1px solid #373737;
	padding: 3px 5px;
	margin: 0 2px;
	font-size:12px;
	background: #2f2f2f;
	font-family: 'Oswald', arial, serif;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
          color:orange;
}

.wp-pagenavi a:hover, .wp-pagenavi span.current {
	border-color: #666;
}

.wp-pagenavi span.current {
	font-weight: bold;
	color:#ccc;
}
