@charset UTF-8;
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;font-size:inherit;font:100%;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:400;}
li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:400;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}
body{font:13px/1.231 arial,helvetica,clean,sans-serif;background:#3E3E3E url(http://s1.mangareader.net/images/bgana.png) repeat;color:#FFF;font-family:"Lucida Grande",Tahoma,Arial,Sans-serif,sans;}
select,input,button,textarea{font:99% arial,helvetica,clean,sans-serif;}
pre,code,kbd,samp,tt{font-family:monospace;line-height:100%;}
ul{list-style-type:none;}
a{text-decoration:none;}
.top,h1,h2,h3{font-family:"Century Gothic","Lucida Grande",Tahoma,Arial,Sans-serif,sans;}
#wrapper_header{background:0 0 repeat-x;width:100%;margin:0 auto;}
#wrapper_body{background-color:#D6EAEE;width:950px;margin:0 auto;padding:0;}
#logoimg{width:270px;height:40px;background:0 0 no-repeat;cursor:pointer;}
#top_navigation{background:no-repeat scroll left top #0f67a1;float:right;clear:right;-moz-border-radius:0 0 0 10px;border-radius:0 0 0 10px;}
#top_navigation ul{float:left;margin:0;padding:0 0 0 7px;}
#top_navigation li{background:none repeat scroll 0 0 transparent;border-left:1px solid #1175AE;border-right:1px solid #0D5995;float:left;height:34px;list-style:none outside none;margin:0;padding:0;}
#top_navigation .topnav-first{border-left:medium none;}
#top_navigation a{color:#EEE;float:left;font-size:116%;line-height:34px;position:relative;text-decoration:none;padding:0 12px;}
#top_navigation a:hover{text-shadow:1px 1px 1px #131C25;color:#FFF;}
#top_navigation .topnav-current{text-shadow:1px 1px 1px #131C25;}
#sec_navigation{background:no-repeat scroll left bottom #192839;float:right;-moz-border-radius:0 0 5px 5px;border-radius:0 0 5px 5px;margin:0 5px 0 0;}
#sec_navigation ul{float:left;margin:0;padding:0 .8em 2px;}
#sec_navigation li{background:none repeat scroll 0 0 transparent;float:left;list-style:none outside none;border-right:1px solid #0F1924;margin:0;padding:0;}
#sec_navigation a{color:#D0D0D0;float:left;line-height:25px;margin-bottom:2px;text-decoration:none;padding:4px 1em 2px;}
#sec_navigation a:hover{background:none repeat scroll 0 0 #192839;border-bottom:2px solid #176092;color:#D0D0D0;cursor:pointer;margin-bottom:0;}
#sec_navigation .aftersearch{margin-left:5px;border-left:1px solid #0F1924;}
#searchbox{line-height:18px;padding-top:4px;width:200px;border:1px solid #2A9EF0;color:#333;font-size:93%;font-weight:700;height:16px;text-transform:capitalize;padding-left:20px;font-family:"Lucida Grande",Tahoma,Arial,Sans-serif,sans;background:#FDFFFF -48px -70px no-repeat;margin:5px 5px 0;}
#wrapper_footer{background-color:#192839;border-top:1px solid #DDD;padding-bottom:20px;width:950px;margin:0 auto;}
#adfooter{width:950px;height:250px;margin:auto;padding:7px 0;}
#adbottomleft{width:300px;height:250px;margin-left:150px;float:left;}
#adbottomright{width:300px;height:250px;margin-left:50px;float:left;}
.top{background:#D6EAEE 0 0 repeat-x;height:60px;padding-bottom:10px;width:950px;margin:0 auto;}
.logo{float:left;height:30px;width:280px;padding:7px 0 0;}
.footer-column{padding:0 20px;}
.footer-column b{color:#777;font-size:85%;font-weight:700;margin-bottom:2px;}
.footer-column a{color:#AAA;font-size:85%;padding-top:2px;}
.clear{clear:both;}
.ac_results{border:1px solid #000;background-color:#FFF;overflow:hidden;z-index:99999;padding:0;}
.ac_results ul{width:100%;list-style-position:outside;list-style:none;margin:0;padding:0;}
.ac_results li{cursor:default;display:block;font:menu;font-size:93%;line-height:16px;overflow:hidden;margin:0;padding:2px 5px;}
.ac_loading{background:#FFF url(http://s2.mangareader.net/images/indicator.gif) right center no-repeat;}
.ac_odd{background-color:#E5E5E5;color:#3E3E3E;}
.ac_even{color:#3E3E3E;}
.ac_over{background-color:#0A246A;color:#FFF;}
#sec_navigation li,ul{display:inline;float:left;}
#adtop{width:728px;height:90px;margin:10px auto 0;}
#fpage,.nosprites{width:90px;height:10px;margin-top:8px;}
#latesthot{width:600px;}
#onlinemanga,.nosprites{width:320px;float:right;background:url(http://s2.mangareader.net/images/bg_rmo.jpg) no-repeat;}
#bodyust{padding:10px;}
p{font-size:93%;padding-bottom:12px;color:#000;margin:0;}
#onlinemanga p{text-align:center;margin-top:10px;}
h1{color:#1B4A7D;font-size:161.6%;font-weight:700;text-shadow:.5px .5px 0 #FFF;text-transform:uppercase;margin:0;}
h2{font-size:131%;}
#onlinemanga h1{text-align:center;}
.latesthotimages{width:130px;height:200px;margin-right:8px;float:left;background-color:#F6FCFC;-moz-border-radius:7px;border-radius:7px 7px 7px 7px;-webkit-border-top-right-radius:7px;-webkit-border-top-left-radius:7px;-webkit-border-bottom-left-radius:7px;-webkit-border-bottom-right-radius:7px;border-bottom:3px solid #708AA4;border-left:1px solid #898D91;border-right:4px solid #ACC2D9;}
.latesthotimages img{width:122px;}
.latesthotimages h3{color:blue;text-align:center;font-size:85%;font-weight:700;padding-top:3px;}
#latesthot h2{color:#1B4A7D;font-size:161.6%;font-weight:700;text-shadow:.5px .5px 0 #FFF;margin:0 0 10px;}
#poolbox{text-align:left;border:1px solid #CCC;height:50px;background-color:#F6FCFC;margin-top:25px;filter:alpha(opacity=80);opacity:0.80;}
.imageinside{width:122px;height:160px;margin-left:3px;margin-top:3px;border:1px solid #CCC;overflow:hidden;}
#bodyalt{background-color:#F6FFFF;border-top:1px solid #A6BEC3;color:#000;margin-top:10px;padding:10px;}
#latestchapters{width:600px;float:left;line-height:16px;}
#popularmangas{width:300px;float:right;display:inline;}
#popularcaption{background-color:#01487B;-webkit-border-top-right-radius:14px;-webkit-border-top-left-radius:2px;-moz-border-radius:10px 10px 0 0;border-radius:10px 10px 0 0;background:none repeat scroll 0 0 #01487B;color:#FFF;padding-top:3px;text-align:center;width:150px;border-color:#DCF0F8;border-style:solid solid none;border-width:1px 1px medium;}
#popularlist ol{padding-left:5px;}
#popularlist li{float:left;padding-top:10px;}
.manga{background:none repeat scroll 0 0 #F6FCFC;border:1px solid #CCC;float:left;height:44px;overflow:hidden;padding-left:5px;padding-top:5px;width:243px;}
.chapters{font-family:verdana, tahoma, arial, sans;font-size:85%;color:#000;}
.chaptersrec{font-family:verdana, tahoma, arial, sans;font-size:85%;color:#333;padding-left:15px;}
.icon{border:1px solid #DCDEE1;float:left;overflow:hidden;padding:1px;}
.pop1{height:47px;width:35px;}
.popularitemcaption{color:#003555;font-size:93%;}
#latestchapters h2{color:#0856C2;margin-bottom:20px;}
#latestchapters h3{color:#333;font-size:123.1%;font-weight:700;margin:0 0 5px;}
.updates{color:#444;margin-bottom:15px;width:610px;}
.updates a.chaptersrec{color:#1A1A1A;font-size:100%;}
.updates a{font-weight:400;padding-top:1px;color:#005FA1;}
#surveymsg{padding-top:5px;font-size:85%;}
#popularcaption h2{font-size:123.1%;}
#popularlist{-moz-border-radius:0 5px 5px;border-radius:0 5px 5px 5px;background:none repeat scroll 0 0 #31668B;border-top:1px solid #D7E0E6;color:#FFF;display:inline;float:right;padding-bottom:10px;width:300px;}
#surveyimg{background:0 -40px no-repeat;float:left;height:48px;width:48px;}
.hot{background:-48px -55px no-repeat;width:38px;height:15px;float:left;clear:right;margin-right:10px;vertical-align:top;}
.new{background:-48px -40px no-repeat;width:38px;height:15px;float:left;clear:right;margin-right:10px;vertical-align:top;}
.manga_open{background:-487px 0 no-repeat;height:25px;width:16px;padding:4px 5px!important;}
.manga_close{background:-461px 0 no-repeat;height:25px;width:16px;padding:4px 5px!important;}
#latestchapters td{padding-bottom:6px;padding-top:2px;}
td.c10{color:#AAA;}
span.c8{float:right;font-family:tahoma,arial,sans;font-size:93%;color:#000;}
tr.c6{border-bottom:1px dashed #FFD9FC;}
a.c3{background:-270px 0 no-repeat;width:191px;height:90px;float:right;margin-top:10px;}
iframe.c2{margin-top:10px;margin-bottom:-10px;}
html,legend,#poolbox strong{color:#000;}
h1,h2,h3,strong,b,.bold,a.c1{font-weight:700;}
#top_navigation .topnav-last,#sec_navigation .secnav-last,#sec_navigation .secnav-first{border-right:medium none;}
#wrapper_footer table,div.c4{width:100%;}
#tfollowme,div.c9{margin-bottom:10px;}
td.c7,td.c5{width:6em;vertical-align:top;font-family:tahoma,arial,sans;font-size:86%;color:#000;text-align:right;float:right;}
.top,#wrapper_header{background-image:url(http://s2.mangareader.net/sup/images/darkx.754325311c.png);}
#logoimg,a.c3,#surveyimg,.new,.hot,#searchbox,.manga_close,.manga_open{background-image:url(http://s3.mangareader.net/sup/images/dark.754325311c.png);}