.bx-wrapper .bx-viewport {
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
	border: none;
	background: transparent;
}

.bx-wrapper .bx-loading {
	background: url(https://www.adcash.com/wp-content/plugins/kiwi-logo-carousel/third-party/jquery.bxslider/images/bx_loader.gif) center center no-repeat transparent;
}

.bx-wrapper .bx-controls {
	opacity:0;
	transition:500ms;
	-webkit-transition:500ms;
	-moz-transition:500ms;
}

.bx-wrapper:hover .bx-controls {
	opacity:1;
}

.bx-wrapper ul {
	list-style-type:none;
	padding:0;
	margin:0;
}

.bx-wrapper ul li {
	background:none;
}
.bx-wrapper ul li img {
	max-height:100%;
	max-width:100%;
	display:inline-block;
}

.bx-wrapper ul.gray li img, .bx-wrapper ul.grayhovercolor li img {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
    /* -webkit-backface-visibility: hidden; /* Fix for transition flickering */
}

.bx-wrapper ul.grayhovercolor li img:hover {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%);
}

@media all and (-webkit-min-device-pixel-ratio: 2) {
	.bx-wrapper .bx-prev { background: url(https://www.adcash.com/wp-content/plugins/kiwi-logo-carousel/third-party/jquery.bxslider/images/controls@2x.png) no-repeat 0 -32px; background-size:96px,63px; }
	.bx-wrapper .bx-next { background: url(https://www.adcash.com/wp-content/plugins/kiwi-logo-carousel/third-party/jquery.bxslider/images/controls@2x.png) no-repeat -43px -32px; background-size:96px,63px; }
}

@media all and (-webkit-min-device-pixel-ratio: 3) {
	.bx-wrapper .bx-prev { background: url(https://www.adcash.com/wp-content/plugins/kiwi-logo-carousel/third-party/jquery.bxslider/images/controls@3x.png) no-repeat 0 -32px; background-size:96px,63px; }
	.bx-wrapper .bx-next { background: url(https://www.adcash.com/wp-content/plugins/kiwi-logo-carousel/third-party/jquery.bxslider/images/controls@3x.png) no-repeat -43px -32px; background-size:96px,63px; }
}

/* alignment */
.bx-wrapper ul.kiwi-logo-carousel.align-top li div.helper { width:100%; height:100%; display:table-cell; vertical-align:top; text-align:center; }
.bx-wrapper ul.kiwi-logo-carousel.align-top li img { max-height:100%; max-width:100%; display:inline-block; }
.bx-wrapper ul.kiwi-logo-carousel.align-center li div.helper { width:100%; height:100%; display:table-cell; vertical-align:middle; text-align:center; }
.bx-wrapper ul.kiwi-logo-carousel.align-center li img { max-height:100%; max-width:100%; display:inline-block; }
.bx-wrapper ul.kiwi-logo-carousel.align-bottom li div.helper { height:100%; display:table-cell; vertical-align:bottom; text-align:center; }
.bx-wrapper ul.kiwi-logo-carousel.align-bottom li img { max-height:100%; max-width:100%; display:inline-block; }