@font-face {
  font-family: 'ETmodules';
  src:    url('https://www.adcash.com/wp-content/plugins/Easy-FontAwesome-for-Blurbs-and-Buttons/custom-icons.eot?6gihly');
  src:    url('https://www.adcash.com/wp-content/plugins/Easy-FontAwesome-for-Blurbs-and-Buttons/custom-icons.eot?6gihly#iefix') format('embedded-opentype'),
      url('https://www.adcash.com/wp-content/plugins/Easy-FontAwesome-for-Blurbs-and-Buttons/custom-icons.ttf?6gihly') format('truetype'),
      url('https://www.adcash.com/wp-content/plugins/Easy-FontAwesome-for-Blurbs-and-Buttons/custom-icons.woff?6gihly') format('woff'),
      url('https://www.adcash.com/wp-content/plugins/Easy-FontAwesome-for-Blurbs-and-Buttons/custom-icons.svg?6gihly#custom-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}