/*
Theme Name: Divi_child_adcash.com
Version: 1.0
Description: A child theme of Divi
Template: Divi
*/

@import url("https://www.adcash.com/wp-content/themes/Divi/style.css");
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
:lang(zh) { font-family:Tahoma , Verdana , Arial , sans-serif; }

/*---------- [Equalise the Tabs] ----------*/
.equal-tabs .et_pb_tabs_controls li {
    width: 10%; /*change width of tabs here depending on the number of tabs you have*/
    text-align: center;
}
@media screen and (max-width: 768px){ /*change device breakpoint here depending on the number of tabs you have*/
.equal-tabs .et_pb_tabs_controls li {
    width: 100%; 
	text-align: center;
}
}
button#responsive-menu-button{background:rgba(255, 255, 255, 0.47);}
.et_pb_button_one.et_pb_button:after{display:none !important;}

/*------------------------------------------------*/
/*------[Big Invisible Triangle - Quiroz.co]------*/
/*------------------------------------------------*/
 
#main-content { overflow: hidden !important;} /* Hides all the items that float over the right margin */
 
.big-triangle:after,.big-triangle:before {
    content:'';
    position:absolute;
    bottom:0;
    width:50%;
    z-index:100;
    border-bottom:50px solid #FFFFFF;
    -moz-transform:rotate(0.000001deg);
    -webkit-transform:rotate(0.000001deg);
    -o-transform:rotate(0.000001deg);
    -ms-transform:rotate(0.000001deg);
    transform:rotate(0.000001deg);}
 
.big-triangle:before{
    right:50%;
    border-right:75px solid transparent;
    border-left:1000px solid;}
 
.big-triangle:after{
    left:50%;
    border-left:75px solid transparent;
    border-right:1000px solid;}

/*Dropdown fix?*/

ul#top-menu ul {
margin-top: -6px;
}

/*GLOBAL HEADER FIXES ON MOBILE*/

@media only screen and (max-width : 981px) {
  .et_pb_fullwidth_header_subhead {
    display: none !important;
  }
  #siteheader h1{
	font-size:40px !important;
  }
	#siteheader_ru h1{
	font-size:32px !important;
	  text-align:center;
  }
  #siteheader .et-pb-icon, #siteheader_ru .et-pb-icon{
	display: none !important
	}
	#siteheader .et_pb_button_one, #siteheader_ru .et_pb_button_one{
	margin-right:0 !important;
	}
	#siteheader_ru {text-align:center;}
}

/* Change columns from 4-3*/
 
.et_pb_column_4_4 .et_pb_portfolio_grid .project {
  clear: none !important;
  margin: 0 60px 42px 0 !important;
  width: 27% !important;}


/*COOKIE NOTICE*/
.cookie-notice-container{
padding:20px;
}

#cn-notice-text, #cookie-notice .button{
  font-size:14px;
}

/*FORM FIELDS STYLING*/
input.wpcf7-text, textarea.wpcf7-textarea, .wpcf7-submit{
border-radius: 10px; 
-moz-border-radius: 10px; 
-webkit-border-radius: 10px;
}

/*VIDEO BORDER REMOVE*/

#ms_avp video { background: transparent !important; }

/*Dissapear widget area in footer on mobile*/
@media only screen and (max-width : 981px) {
footer#main-footer #footer-widgets{
		display: none !important;
}
}

/*VIDEO OVERLAYS*/
#video .background-pattern:after {
	content: "";
    background: url("https://www.adcash.com/wp-content/uploads/2016/03/pattern.png") repeat;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}

/*TABS*/

/*---------- [Equalise the Tabs] ----------*/
.equal-tabs .et_pb_tabs_controls li {
    width: 33.3%; /*change width of tabs here depending on the number of tabs you have*/
    text-align: center;
}
@media screen and (max-width: 768px){ /*change device breakpoint here depending on the number of tabs you have*/
.equal-tabs .et_pb_tabs_controls li {
    width: 100%; 
	text-align: center;
}
}

/*Portfolio*/

.et_overlay {
  display:none;
}

.et_portfolio_image, .et_shop_image  {
  -moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
  }
  
  .et_portfolio_image:hover, .et_shop_image:hover {
  -webkit-transform: scale(.9);
	-moz-transform: scale(.9);
	-o-transform: scale(.9);
	-ms-transform: scale(.9);
	transform: scale(.9);
  }

  
/*FOOTER*/

#main-footer {
  background-color: rgba(0, 0, 0, 0.85);
}

#footer-widgets .footer-widget li:before {
  display: none;
}
#footer-widgets .footer-widget li{
margin-left:-16px;
}

html #footer-widgets .footer-widget .et_pb_widget:not(.woocommerce)
{
  padding-right:40px;
}
/*
	.footer-widget:nth-child(n) {
  
  margin:0 0 0 0 !important;
}
#footer-widgets {
	float: none;
	text-align: center;
}
.footer-widget:nth-child(1) {
  
  width:25% !important;
}
.footer-widget:nth-child(2) {
  
  width:50% !important;
}
.footer-widget:nth-child(3) {
  
  width:25% !important;
}

#footer-widgets .footer-widget {
  width: 100%;
 
}

html #footer-widgets .footer-widget .et_pb_widget:not(.woocommerce) ul li {
  padding-left: 0px;
  
}

html #footer-widgets .footer-widget .et_pb_widget:not(.woocommerce) ul
{
  padding-right:0px;
}


*/

/*STICKY FOOTER
#main-footer {
background-color:#333333;
bottom: 0;
position: fixed;
width: 100%;
z-index: 999;
}
*/

/*FIX FOR JUMPING HEADER
#main-header {
top: 54px !important;
}
*/

/*HEADER STUFF*/


/* #main-header::after {
  
  content: "";
 background-image: url('https://www.adcash.com/wp-content/uploads/2016/03/bg_spider_full.jpg');
  background-size:cover;
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}*/


/*SECONDARY MENU STUFF*/

/* style links hover color SECONDARY MENU */
#et-secondary-nav li a{
  color:#ffffff;
  text-transform:uppercase;
}
#et-secondary-nav li a:hover {
  color:#FFFFFF ;
}

/*FIX DROP DOWN WIDTH*/
#et-secondary-nav li li{
  padding:0 !important;
  text-align:center;
}
#et-secondary-nav li > ul{
  width:auto;
  padding:0 !important}

#top-menu ul{
  width:auto;
  padding:0 !important}

#top-menu li li {
  width: 175px;
  padding: 0;
}

.nav li ul {
  padding:0px 0px 0px 0px !important}

#main-header .nav li ul {
  width: 175px;
  padding:0 0 0 10px;
  background:rgba(255,255,255,0.85) !important;
}

.nav li ul {
  border-top: none !important;
  margin-top:1px;
}

.nav li ul a:hover {
  border-top:none !important;
  margin-top:1px;
}

/*LOCK ICON BEFORE LOGIN ITEM*/
li.custom_login a::before {
  font-family: 'ETmodules';
  content: '\7e  ';
}

/*ICON BEFORE TIMER*/
.et_pb_countdown_timer_0 .title::before {
  font-family: 'ETmodules';
  content: '\7d  ';
}


/*WORLD ICON BEFORE LANGUAGES
li.languages>a:first-child:before {
font-family: 'ETmodules';
content: "\e0e3  ";
*/
}
/*ANIMATED ARROW AFTER DROPDOWN*/
#et-secondary-menu li > a:after {
  -webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
  }
  #et-secondary-menu li:hover > a:after {
	  -ms-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	  }
	  
	  
	  /*MAIN MENU STUFF*/
	  
	  /* style links hover color MAIN MENU*/
	  #top-menu li a:hover {
		  color:#9d226d !important;
		}
		
		/* style the REGISTER cta button */
		.register {
		  border-radius: 0px;
		}
		.register a {
	  color: #fff!important;
	}
	li.register {
	  margin-bottom: 10px;
	  background-color:#19afbc;
	  
	  font-weight: 700;
	  
	  text-transform: uppercase;
	  
	  text-align: center;
	  
	  padding: 10px 10px 10px!important;
	  border-radius: 3px;
	  -moz-transition: all 0.5s;
	  
	  -webkit-transition: all 0.5s;
	  transition: all 0.5s;
	}
	li.register:hover {
	  background-color:#9c1f6c;
	  color:#ffffff !important;
	}
	
	@media only screen and (min-width : 981px) {
	  li.register {
		height: 33px;
	  }
	}
	
/*GENERAL ITEMS STUFF*/
	

/* CTA BUTTONS */
a.coral-cta {
  line-height: 85px;
  font-size: 25px;
  font-weight:bold;
  color: #fff;
  background-color: #FC364A;
  border-radius: 5px;
  padding: 10px 35px;
  -moz-transition: all 0.7s;
  
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

a.coral-cta:hover {
  background-color: #fff;
  color: #FC364A;
}

a.aqua-cta {
  line-height: 85px;
  font-size: 25px;
  font-weight:bold;
  color: #fff;
  background-color: #00AEBA;
  border-radius: 5px;
  padding: 10px 35px;
  -moz-transition: all 0.7s;
  
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

a.aqua-cta:hover {
  background-color: #fff;
  color: #00AEBA;
}

/* BOUNCING MORE ICON */
 
@-webkit-keyframes bounce {
0%, 100% {
-moz-transform: translateY(0);
-ms-transform: translateY(0);
-webkit-transform: translateY(0);
transform: translateY(0);
}
40% {
-moz-transform: translateY(-10px);
-ms-transform: translateY(-10px);
-webkit-transform: translateY(-10px);
transform: translateY(-10px);
}
}
@keyframes bounce {
0%, 100% {
-moz-transform: translateY(0);
-ms-transform: translateY(0);
-webkit-transform: translateY(0);
transform: translateY(0);
}
40% {
-moz-transform: translateY(-10px);
-ms-transform: translateY(-10px);
-webkit-transform: translateY(-10px);
transform: translateY(-10px);
}
}
span.scroll-down.et-pb-icon { 
-webkit-animation-name: bounce;
animation-name: bounce;
-webkit-animation-duration: 1s;
animation-duration: 1s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
-webkit-animation-iteration-count: infinite;
animation-iteration-count: infinite;
}
#click-menu{ /*position: relative !important; top: 0 !important;*/  position: fixed !important;float:right;top:12px!important;right:12px!important; }
#click-menu .threeLines{ padding-bottom: 32px; }
/*#responsive-menu{ position: fixed !important; }*/
			
