.my_timeline_hover_12_123{
	opacity:0;
	left:-10000px;
	top:-100000px;
	position:absolute;
	/*height:20px;
	overflow-y:hidden;*/
}
.timeline_open_content img{
	max-width:100% !important;
}
.timeline_open_content img{
	max-width:100% !important;
}

/**
*My added css
*/
.my_timeline_content{
	box-sizing:border-box;
}
.item .con_borderImage img, .item_open .con_borderImage img{
	max-width:none !important;
	position:absolute !important;
	top:0;
	left:0;
	
}
.item_open a.con_borderImage{
	position:absolute;
	top:0;
	left:0;
	z-index:0;
}
.item_open a.con_borderImage img{
	z-index:0;
}
/*
.t_left , .t_right{
	display:none !important;
}*/
.my_timeline_debug{
	height:100px;
	width:100%;
	overflow-y:auto;
	color:#212121;
	backgroud-color:gray;
	border:1px solid black;
}
.my_timeline_share div{
	display:none;
}

#my_timeline_share_click{
	width:150px;
	text-align:center;
	position:absolute;
	padding:10px;
	font-size:14px;
	background:#222222;
	z-index:10000000000;
	box-sizing:content-box;
}
#my_timeline_share_click ul li{
	display: inline-block;
    font-size: 14px;
    line-height: 21px;
    padding: 0 8px
}
#my_timeline_share_click i{
	color:white;
}
.my_timeline_share_arrow{
	border-top-color: #222222;
	
   
    margin-left: -10px;
	border-width: 10px;
    content: "";
	border-bottom-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
	
    border-style: solid;
    display: block;
    height: 0;
    position: absolute;
    width: 0;
	bottom: -19px;
    left: 50%;
    margin-left: -11px;
}

/**
*end changes
*/
@font-face {
    font-family: 'BebasNeueRegular';
    src: url('https://www.adcash.com/wp-content/plugins/content_timeline/css/frontend/bebas/bebasneue-webfont.eot');
    src: url('https://www.adcash.com/wp-content/plugins/content_timeline/css/frontend/bebas/bebasneue-webfont.eot#iefix') format('embedded-opentype'),
         url('https://www.adcash.com/wp-content/plugins/content_timeline/css/frontend/bebas/bebasneue-webfont.woff') format('woff'),
         url('https://www.adcash.com/wp-content/plugins/content_timeline/css/frontend/bebas/bebasneue-webfont.ttf') format('truetype'),
         url('https://www.adcash.com/wp-content/plugins/content_timeline/css/frontend/bebas/bebasneue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'FontAwesome';
  src: url('https://www.adcash.com/wp-content/plugins/content_timeline/css/frontend/awesome/fontawesome-webfont.eot?v=4.0.3');
  src: url('https://www.adcash.com/wp-content/plugins/content_timeline/css/frontend/awesome/fontawesome-webfont.eot#iefix&v=4.0.3') format('embedded-opentype'), 
       url('https://www.adcash.com/wp-content/plugins/content_timeline/css/frontend/awesome/fontawesome-webfont.woff?v=4.0.3') format('woff'), 
       url('https://www.adcash.com/wp-content/plugins/content_timeline/css/frontend/awesome/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), 
       url('https://www.adcash.com/wp-content/plugins/content_timeline/css/frontend/awesome/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* --- IMAGE --- */

.timeline a.timeline_rollover_bottom,
.timeline a.timeline_rollover_right,
.timeline a.timeline_rollover_top,
.timeline a.timeline_rollover_left
{
	margin:0;
 	display:block;
	position:relative;
	overflow:hidden;
}

.timeline a.timeline_rollover_bottom img,
.timeline a.timeline_rollover_right img,
.timeline a.timeline_rollover_top img,
.timeline a.timeline_rollover_left img {
	display:block;
}
.timeline .image_roll_zoom {
	display:inline-block;
	width:100%;
	height:100%;
	position:absolute;
	background:url(https://www.adcash.com/wp-content/plugins/content_timeline/css/images/zoomIn.png) no-repeat center center;
}
.timeline .image_roll_glass {
	display:none;
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	background:url('https://www.adcash.com/wp-content/plugins/content_timeline/css/images/glass.png') repeat;
}


.timeline,
#content .timeline {
	height:0;
	overflow:hidden;
	position:relative;
}
.timelineLoader {
	width:100%;
	text-align:center;
	padding:150px 0;
}

.timeline .timeline_line .t_node_desc.t_node_desc_empty,
#content .timeline .timeline_line .t_node_desc.t_node_desc_empty,
 .timeline .timeline_line .t_node_desc.t_node_desc_empty > span,
#content .timeline .timeline_line .t_node_desc.t_node_desc_empty >span {
    display:none !important;
}


/* fixed line holder */
.timeline .timeline_line,
#content .timeline .timeline_line {
	margin-top:10px;
	margin-bottom:10px;
	width:100%;
}

/* full (including months that are not shown) line holder */
.timeline .t_line_holder,
#content .timeline .t_line_holder {
	height:80px;
	background:url('https://www.adcash.com/wp-content/plugins/content_timeline/css/images/timeline/light/line.jpg') repeat-x 0 39px;
}

.timeline.darkLine .t_line_holder,
#content .timeline.darkLine .t_line_holder {
	background:url('https://www.adcash.com/wp-content/plugins/content_timeline/css/images/timeline/dark/line.jpg') repeat-x 0 39px;
}

/* 2 months are stored in one view */
.timeline .t_line_view,
#content .timeline .t_line_view {
	height:20px;
	width:100%;
}

/* holder for year number */
.timeline h3.t_line_year,
#content .timeline h3.t_line_year {
	font-family: 'BebasNeueRegular';
	font-weight:normal;
	font-size:22px;
	margin:0;
	color:#545454;
}

/* holder for 1 month (constist of nodes and month caption) - we use borders to separate months thats why it has width 2px less then 50% */
.timeline .t_line_m,
#content .timeline .t_line_m {
	margin-top:35px;
	height:10px;
	border-left:1px solid #545454;
	border-right:1px solid #545454;
	width:448px;
}

/* month on the right side - has left set at 459 so border would overlap border from first element (to evade duplicated borders) */
.timeline .t_line_m.right,
#content .timeline .t_line_m.right {
	left:449px;
	width:449px;
}

/* month caption */
.timeline h4.t_line_month,
#content .timeline h4.t_line_month {
	/*font-family: 'BebasNeueRegular';*/
	font-weight:normal;
	font-size:20px;
	margin:-30px 0 0;
	color:#545454;
}


/* node on the timeline */

.timeline a.t_line_node,
#content .timeline a.t_line_node {
	text-decoration:none;
	padding:38px 0 4px;
	height:10px;
	font-size:12px;
	top:-25px;
	background:url('https://www.adcash.com/wp-content/plugins/content_timeline/css/images/timeline/light/dot.png') no-repeat center 24px;
	color:#141817;
}
.timeline.darkLine a.t_line_node,
#content .timeline.darkLine a.t_line_node {
	background:url('https://www.adcash.com/wp-content/plugins/content_timeline/css/images/timeline/dark/dot.png') no-repeat center 24px;
}

.timeline a.t_line_node:hover,
#content .timeline a.t_line_node:hover {
	background:url('https://www.adcash.com/wp-content/plugins/content_timeline/css/images/timeline/light/dot-rollover.png') no-repeat center 24px;
}

.timeline.darkLine a.t_line_node:hover,
#content .timeline.darkLine a.t_line_node:hover {
	background:url('https://www.adcash.com/wp-content/plugins/content_timeline/css/images/timeline/dark/dot-rollover.png') no-repeat center 24px;
}

.timeline a.t_line_node.active,
#content .timeline a.t_line_node.active {
	background:url('https://www.adcash.com/wp-content/plugins/content_timeline/css/images/timeline/light/dot-selected.png') no-repeat center 24px;
}

.timeline.darkLine a.t_line_node.active,
#content .timeline.darkLine a.t_line_node.active {
	background:url('https://www.adcash.com/wp-content/plugins/content_timeline/css/images/timeline/dark/dot-selected.png') no-repeat center 24px;
}

/* FLAT line design */

.timeline.flatLine .t_line_holder,
#content .timeline.flatLine .t_line_holder {
	padding: 10px 0 0 0;
	height:80px;
	background:url('https://www.adcash.com/wp-content/plugins/content_timeline/css/images/timeline/light/line.jpg') repeat-x 0 49px;
}

.timeline.flatLine .t_line_m,
#content .timeline.flatLine .t_line_m {
	border-left:1px solid transparent;
	border-right:1px solid #b7b6b6;
}

.timeline.flatLine .t_line_m.right,
#content .timeline.flatLine .t_line_m.right {
	border-left:1px solid #b7b6b6;
	border-right:1px solid transparent;
}


.timeline.flatLine a.t_line_node,
#content .timeline.flatLine a.t_line_node {
	text-decoration:none;
	padding:38px 0 4px;
	font-family: Montserrat;
	height:10px;
	font-size:12px;
	line-height:12px;
	top:-25px;
	position: relative;
	color:#b7b6b6;
}

.timeline.flatLine a.t_line_node:after,
#content .timeline.flatLine a.t_line_node:after {
	content: "";
	border-radius: 22px;
	height: 10px;
	width: 10px;
	border: 2px solid #ffffff;
	position: absolute;
	top: 23px;
	left: 50%;
	margin: 0 0 0 -7px;
	background:#dd5555;
}
.timeline.flatLine a.t_line_node.active,
#content .timeline.flatLine a.t_line_node.active {
	color:#dd5555;
}

.timeline.flatLine a.t_line_node.active:after,
#content .timeline.flatLine a.t_line_node.active:after {
	border: 2px solid #b7b6b6;
}


.timeline.flatLine .t_node_desc,
#content .timeline.flatLine .t_node_desc {
	padding: 0;
	white-space: normal !important;
	top:-50px;
	opacity: 0;
	filter: alpha(opacity=0);
	left: 50%;
	color:#fff;
	display: inline-block !important;
	position: relative;
	transition:top 200ms, opacity 500ms;
	-webkit-transition:top 200ms, opacity 500ms;
	-moz-transition:top 200ms, opacity 500ms;
	background: transparent;
}

.timeline.flatLine a.t_line_node:hover .t_node_desc,
#content .timeline.flatLine a.t_line_node:hover .t_node_desc {
	/*top:0;
	opacity: 1;
	filter: alpha(opacity=100);*/
}
.my_timeline_hover_12_123 .t_node_desc span {
	white-space: nowrap;
	margin-left: -50%;
	margin-right: 50%;
	margin-top: -16px;
	display: block !important;
	padding:8px;
	border-radius: 3px;
	background: #dd5555;
	position: relative;
}
.my_timeline_hover_12_123 .t_node_desc span:after {
	content: "";
	width: 0;
	height: 0;
	display: block;
	position: absolute;
	bottom: -10px;
	border:5px solid transparent;
	border-top:5px solid #dd5555;
	left:50%;
	margin-left: -5px;
}

.my_timeline_hover_12_123 .t_node_desc{
	color:#fff;
	white-space: normal !important;
	top:-50px;
	opacity: 0;
	filter: alpha(opacity=0);
	left: 50%;
	color:#fff;
	display: inline-block !important;
	position: relative;
	transition:top 200ms, opacity 500ms;
	-webkit-transition:top 200ms, opacity 500ms;
	-moz-transition:top 200ms, opacity 500ms;
	background: transparent;
}
.timeline.flatLine .t_node_desc span,
#content .timeline.flatLine .t_node_desc span {
	white-space: nowrap;
	margin-left: -50%;
	margin-right: 50%;
	margin-top: -16px;
	display: block !important;
	padding:8px;
	border-radius: 3px;
	background: #dd5555;
	position: relative;
}
.timeline.flatLine .t_node_desc span:after,
#content .timeline.flatLine .t_node_desc span:after {
	content: "";
	width: 0;
	height: 0;
	display: block;
	position: absolute;
	bottom: -10px;
	border:5px solid transparent;
	border-top:5px solid #dd5555;
	left:50%;
	margin-left: -5px;
}
.timeline.flatLine #t_line_left,
.timeline.flatLine #t_line_right,
#content .timeline.flatLine #t_line_left,
#content .timeline.flatLine #t_line_right {
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	cursor:pointer;
	top:39px;
	width:14px;
	height:21px;
	font-size: 21px;
	color: #b7b6b6;
	position: relative;
	background: transparent;
}

.timeline.flatLine #t_line_left:hover,
.timeline.flatLine #t_line_right:hover,
#content .timeline.flatLine #t_line_left:hover,
#content .timeline.flatLine #t_line_right:hover {
	color: #dd5555;
	background: transparent;
}

/* line arrow left */
.timeline.flatLine #t_line_left,
#content .timeline.flatLine #t_line_left {
	left:-30px;
}
.timeline.flatLine #t_line_left:after,
#content .timeline.flatLine #t_line_left:after {
	content: "\f104";
	position: absolute;
	right: 0;
	top:0;
}

/* line arrow right */
.timeline.flatLine #t_line_right,
#content .timeline.flatLine #t_line_right {
	right:-30px;
}
.timeline.flatLine #t_line_right:after,
#content .timeline.flatLine #t_line_right:after {
	content: "\f105";
	position: absolute;
	left: 0;
	top:0;
}

/* node description */
.timeline .t_node_desc,
#content .timeline .t_node_desc {
	background: rgb(26,134,172);
	opacity:0.9;
	filter:alpha(opacity=90);
	top:0;
	color:#fff;
	padding:1px 5px;
}

/* descriptions on right side go from right to left */
.timeline .t_node_desc.pos_right,
#content .timeline .t_node_desc.pos_right {
	right:0;
}

/* line arrow left */
.timeline #t_line_left,
#content .timeline #t_line_left {
	cursor:pointer;
	left:-30px;
	top:30px;
	width:14px;
	height:19px;
	background:url('https://www.adcash.com/wp-content/plugins/content_timeline/css/images/timeline/light/arrow.png') no-repeat left top;
}
.timeline.darkLine #t_line_left,
#content .timeline.darkLine #t_line_left {
	background:url('https://www.adcash.com/wp-content/plugins/content_timeline/css/images/timeline/dark/arrow.png') no-repeat left bottom;
}
.timeline #t_line_left:hover,
#content .timeline #t_line_left:hover {
	background:url('https://www.adcash.com/wp-content/plugins/content_timeline/css/images/timeline/light/arrow.png') no-repeat left bottom;
}
.timeline.darkLine #t_line_left:hover,
#content .timeline.darkLine #t_line_left:hover {
	background:url('https://www.adcash.com/wp-content/plugins/content_timeline/css/images/timeline/dark/arrow.png') no-repeat left top;
}

/* line arrow right */
.timeline #t_line_right,
#content .timeline #t_line_right {
	cursor:pointer;
	right:-30px;
	top:30px;
	width:14px;
	height:19px;
	background:url('https://www.adcash.com/wp-content/plugins/content_timeline/css/images/timeline/light/arrow.png') no-repeat right top;
}
.timeline.darkLine #t_line_right,
#content .timeline.darkLine #t_line_right {
	background:url('https://www.adcash.com/wp-content/plugins/content_timeline/css/images/timeline/dark/arrow.png') no-repeat right bottom;
}
.timeline #t_line_right:hover,
#content .timeline #t_line_right:hover {
	background:url('https://www.adcash.com/wp-content/plugins/content_timeline/css/images/timeline/light/arrow.png') no-repeat right bottom;
}
.timeline.darkLine #t_line_right:hover,
#content .timeline.darkLine #t_line_right:hover {
	background:url('https://www.adcash.com/wp-content/plugins/content_timeline/css/images/timeline/dark/arrow.png') no-repeat right top;
}

/* items container */
.timeline .timeline_items_wrapper,
#content .timeline .timeline_items_wrapper {
	position: relative;
	width: 100%;
	margin: 10px 0;
}
.timeline .timeline_items,
#content .timeline .timeline_items {
	padding:10px 0;
}

/* single item (margines set from javascript) */
.timeline .item,
#content .timeline .item {
	height:380px;
	text-align:center;
	background:url('https://www.adcash.com/wp-content/plugins/content_timeline/css/images/timeline/light/background-white.jpg') repeat; 
	color:#545454;
	-moz-box-shadow: -3px 1px 6px rgba(0,0,0,0.4);
	-webkit-box-shadow: -3px 1px 6px rgba(0,0,0,0.4);
	box-shadow: -3px 1px 6px rgba(0,0,0,0.4);
	width:200px;
}

.timeline .item .post_date {
	font-family: Montserrat;
	background: #dd5555;
	color: #ffffff;
	border-radius: 50%;
	width: 35px;
	height: 35px;
	padding: 15px;
	text-align: center;
	font-size: 24px;
	line-height: 24px;
	margin: -34px 18px 0 0;
	float: right;
	position: relative;
	z-index: 2;
}

.timeline .item .post_date span {
	display: block;
	width: auto;
	height: auto;
	font-size: 12px;
	line-height: 12px;
	margin: 0 !important;
}


.timeline .item.item_node_hover,
#content .timeline .item.item_node_hover {
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.9);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.9);
	box-shadow: 0 0 10px rgba(0,0,0,0.9);
}

.timeline.flatLine .item.item_node_hover:before,
#content .timeline.flatLine .item.item_node_hover:before {
	content: "";
	position: absolute;
	height: 4px;
	background: #dd5555;
	width: 100%;
	z-index: 2;
	top:0;
	left:0;
}

.timeline.flatLine .item.item_node_hover:after,
#content .timeline.flatLine .item.item_node_hover:after {
	content: "";
	position: absolute;
	height: 0;
	width: 0;
	z-index: 2;
	top:0;
	left:50%;
	margin: 4px 0 0 -6px;
	border: 6px solid transparent;
	border-top: 6px solid #dd5555;
	
}


/* ----- content - non-plugin elements ----- */
.timeline .item img,
#content .timeline .item img {
	margin:0;
	padding:0;
	border:0;
}

.timeline .con_borderImage,
#content .timeline .con_borderImage {
	border:0;
	border-bottom:5px solid #1a86ac;
}

.timeline .item span,
#content .timeline .item span{
	display:block;
	margin:0 20px 10px;
}
.timeline .item .read_more,
#content .timeline .item .read_more {
	position:absolute;
	bottom:15px;
	right:0;
	padding:2px 8px 2px 10px;
	font-family: 'BebasNeueRegular' !important;
	font-weight:normal !important;
	/*font-size:20px !important;
	line-height:20px !important;
	*/
	color:#ffffff !important;
	background: rgba(0,0,0,0.35);
	cursor:pointer;
}

.timeline .item .read_more:hover,
#content .timeline .item .read_more:hover {
	background:rgb(26,134,172);
}

.timeline.flatButton .item .read_more,

.timeline.flatWideButton .item .read_more,
#content .timeline.flatButton .item .read_more,
#content .timeline.flatWideButton .item .read_more {
	font-family: Montserrat !important;
	padding:10px;
	/*font-size:12px !important;
	line-height:12px !important;*/
	left:0;
	bottom:0;
	right: auto;
	color:#ffffff;
	cursor:pointer;
	margin: 0 20px 20px;
	border-radius: 3px;
	background:#dd5555;
	transition:background-color 300ms;
	-webkit-transition: background-color 300ms;
	-moz-transition: background-color 300ms;
}

.timeline.flatButton .item .read_more:hover,
#content .timeline.flatButton .item .read_more:hover,
#content .timeline.flatButton .item .read_more:hover,
#content .timeline.flatWideButton .item .read_more:hover  {
	background:#f75f5f;
}

.timeline.flatButton .item .read_more,
#content .timeline.flatWideButton .item .read_more {
	right: 0;
}
/* ----------------------------------------- */

/* item details (margines set from javascript) */
.timeline .item_open,
#content .timeline .item_open {
	height:380px;
	background:url('https://www.adcash.com/wp-content/plugins/content_timeline/css/images/timeline/light/background.jpg') repeat;
	position:relative;
	color:#545454;
	z-index:2; 
	-moz-box-shadow: 0 0 6px rgba(0,0,0,0.4);
	-webkit-box-shadow: 0 0 6px rgba(0,0,0,0.4);
	box-shadow: 0 0 6px rgba(0,0,0,0.4);
	width:490px;
	
}

/* item details content wrapper (used for animation - shuld have same width as .item_open) */
.timeline .item_open_cwrapper,
#content .timeline .item_open_cwrapper {
	width:490px;
	/*width:100%;*/
	height:100%;
}

.timeline .item_open_content,
#content .timeline .item_open_content {
	width:100%;
	height:100%;
	position:relative;
}

.timeline .item_open_content .ajaxloader,
#content .timeline .item_open_content .ajaxloader {
	position:absolute;
	top:50%;
	left:50%;
	margin:-10px 0 0 -100px;
	
}



/* ----- content - non-plugin elements ----- */
.timeline .timeline_open_content,
#content .timeline .timeline_open_content {
	padding:20px;
}

.timeline .item_open h2,
#content .timeline .item_open h2 {
	margin-top:0;
	padding-top:0;
	font-size:28px;
}

.timeline .item_open .scrollable-content,
#content .timeline .item_open .scrollable-content {
	display: block;
}

.timeline .item_open .t_close,
#content .timeline .item_open .t_close {
	position:absolute;
	top:10px;
	right:10px;
	padding:2px 8px 2px 10px;
	font-family: 'BebasNeueRegular' !important;
	font-weight:normal !important;
	font-size:20px !important;
	line-height:20px !important;
	color:#ffffff !important;
	background: rgba(0,0,0,0.25);
	cursor:pointer;
	z-index:3;
	transition:background-color 300ms, color 300ms;
	-webkit-transition: background-color 300ms, color 300ms;
	-moz-transition: background-color 300ms, color 300ms;
}
.timeline .item_open .t_close:hover,
#content .timeline .item_open .t_close:hover {
	background:rgb(26,134,172);
}

.timeline.flatButton .item_open .t_close,
.timeline.flatWideButton .item_open .t_close, 
#content .timeline.flatButton .item_open .t_close,
#content .timeline.flatWideButton .item_open .t_close {
	font-size: 0 !important;
	line-height: 0 !important;
	padding: 5px 6px 5px 7px;
	top:12px;
	right:12px;
}

.timeline.flatButton .item_open.item_open_noImg .t_close,
.timeline.flatWideButton .item_open.item_open_noImg .t_close, 
#content .timeline.flatButton .item_open.item_open_noImg .t_close,
#content .timeline.flatWideButton .item_open.item_open_noImg .t_close {
	background: transparent !important;
}

.timeline.flatButton .item_open .t_close:after,
.timeline.flatWideButton .item_open .t_close:after, 
#content .timeline.flatButton .item_open .t_close:after,
#content .timeline.flatWideButton .item_open .t_close:after {
	font-family: FontAwesome;
	content: "\f00d";
	font-size: 14px !important;
	line-height: 14px !important;
	
}
/* ----------------------------------------- */



.timeline.flatButton .mCSB_container,
.timeline.flatWideButton .mCSB_container,
#content .timeline.flatButton .mCSB_container,
#content .timeline.flatWideButton .mCSB_container {
	margin-right: 16px;
}
.timeline.flatButton .mCS-light-thin > .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.timeline.flatWideButton .mCS-light-thin > .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
#content .timeline.flatButton .mCS-light-thin > .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
#content .timeline.flatWideButton .mCS-light-thin > .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar  {
	background: #dd5555;
}
.timeline.flatButton .mCS-light-thin > .mCSB_scrollTools .mCSB_draggerRail,
.timeline.flatWideButton .mCS-light-thin > .mCSB_scrollTools .mCSB_draggerRail,
#content .timeline.flatButton .mCS-light-thin > .mCSB_scrollTools .mCSB_draggerRail,
#content .timeline.flatWideButton .mCS-light-thin > .mCSB_scrollTools .mCSB_draggerRail {
	background: #aaaaaa;
}
.timeline.flatButton .mCustomScrollBox > .mCSB_scrollTools,
.timeline.flatWideButton .mCustomScrollBox > .mCSB_scrollTools,
#content .timeline.flatButton .mCustomScrollBox > .mCSB_scrollTools,
#content .timeline.flatWideButton .mCustomScrollBox > .mCSB_scrollTools {
	width: 8px;
}



/* FLAT left/right controles */
.timeline.flatNav .t_controles,
#content .timeline.flatNav .t_controles {
	margin:0;
}

.timelineTouch.timeline.flatNav .t_left,
.timelineTouch.timeline.flatNav .t_right,
#content .timelineTouch.timeline.flatNav .t_left,
#content .timelineTouch.timeline.flatNav .t_right {
	display: none;
}

.timeline.flatNav:hover .t_left,
.timeline.flatNav:hover .t_right,
#content .timeline.flatNav:hover .t_left,
#content .timeline.flatNav:hover .t_right {
	opacity: 1;
	filter: alpha(opacity=100);	
}

.timeline.flatNav .t_left,
.timeline.flatNav .t_right,
#content .timeline.flatNav .t_left,
#content .timeline.flatNav .t_right {
	position: absolute;
	display:block;
	height:100%;
	width:75px;
	margin:0;
	cursor:pointer;
	top:0;
	z-index: 10;
	opacity: 0;
	filter: alpha(opacity=0);	
	transition:background-color 300ms, opacity 300ms;
	-webkit-transition: background-color 300ms, opacity 300ms;
	-moz-transition: background-color 300ms, opacity 300ms;
}
.timeline.flatNav .t_left,  
.timeline.flatNav .t_left:hover:active,
#content .timeline.flatNav .t_left,  
#content .timeline.flatNav .t_left:hover:active {
	left:0;
	background: rgba(255,255,255, 0.5) url('https://www.adcash.com/wp-content/plugins/content_timeline/css/images/timeline/clean/blck-arrow-left.png') no-repeat center center;
}
.timeline.flatNav .t_left:hover,
#content .timeline.flatNav .t_left:hover {
	background: rgba(255,255,255, 0.7) url('https://www.adcash.com/wp-content/plugins/content_timeline/css/images/timeline/clean/blck-arrow-left.png') no-repeat center center;
}

.timeline.flatNav .t_right, 
.timeline.flatNav .t_right:hover:active,
#content .timeline.flatNav .t_right, 
#content .timeline.flatNav .t_right:hover:active{
	right:0;
	background: rgba(255,255,255, 0.5) url('https://www.adcash.com/wp-content/plugins/content_timeline/css/images/timeline/clean/blck-arrow-right.png') no-repeat center center;
}

.timeline.flatNav .t_right:hover,
#content .timeline.flatNav .t_right:hover {
	background: rgba(255,255,255, 0.7) url('https://www.adcash.com/wp-content/plugins/content_timeline/css/images/timeline/clean/blck-arrow-right.png') no-repeat center center;
}



/* LIGHT & DARK left/right controles */
.timeline .t_controles,
#content .timeline .t_controles {
	margin:10px auto;
	text-align:center;
}
.timeline .t_left,
.timeline .t_right,
#content .timeline .t_left,
#content .timeline .t_right {
	display:inline-block;
	height:50px;
	width:29px;
	margin:10px;
	cursor:pointer;
}
.timeline .t_left,  
.timeline .t_left:hover:active,
#content .timeline .t_left,  
#content .timeline .t_left:hover:active {
	background: url('https://www.adcash.com/wp-content/plugins/content_timeline/css/images/timeline/light/big-arrow.png') no-repeat left top;
}
.timeline .t_left:hover,
#content .timeline .t_left:hover {
	background: url('https://www.adcash.com/wp-content/plugins/content_timeline/css/images/timeline/light/big-arrow.png') no-repeat left bottom;
}
.timeline.darkNav .t_left,  
.timeline.darkNav .t_left:hover:active,
#content .timeline.darkNav .t_left,  
#content .timeline.darkNav .t_left:hover:active {
	background: url('https://www.adcash.com/wp-content/plugins/content_timeline/css/images/timeline/dark/big-arrow.png') no-repeat left bottom;
}
.timeline.darkNav .t_left:hover,
#content .timeline.darkNav .t_left:hover {
	background: url('https://www.adcash.com/wp-content/plugins/content_timeline/css/images/timeline/dark/big-arrow.png') no-repeat left top;
}

.timeline .t_right, 
.timeline .t_right:hover:active,
#content .timeline .t_right, 
#content .timeline .t_right:hover:active{
	background: url('https://www.adcash.com/wp-content/plugins/content_timeline/css/images/timeline/light/big-arrow.png') no-repeat right top;
}

.timeline .t_right:hover,
#content .timeline .t_right:hover {
	background: url('https://www.adcash.com/wp-content/plugins/content_timeline/css/images/timeline/light/big-arrow.png') no-repeat right bottom;
}

.timeline.darkNav .t_right, 
.timeline.darkNav .t_right:hover:active,
#content .timeline.darkNav .t_right, 
#content .timeline.darkNav .t_right:hover:active{
	background: url('https://www.adcash.com/wp-content/plugins/content_timeline/css/images/timeline/dark/big-arrow.png') no-repeat right bottom;
}

.timeline.darkNav .t_right:hover,
#content .timeline.darkNav .t_right:hover {
	background: url('https://www.adcash.com/wp-content/plugins/content_timeline/css/images/timeline/dark/big-arrow.png') no-repeat right top;
}

.timeline .item .read_more[href='#']
{
	display:none;
}

/* -----------------------------------------------------------------------*/
/* ------------------------------ RESPONSIVE -----------------------------*/
/* -----------------------------------------------------------------------*/



/* --- 768px --- */
@media screen and (max-width:980px) {
	
	.timeline .timeline_line,
	#content .timeline .timeline_line {
		width:680px !important;
	}
	
	.timeline .t_line_view,
	#content .timeline .t_line_view {
		width:680px !important;
	}
	
	.timeline .t_line_m,
	#content .timeline .t_line_m {
		width: 338px !important;
	}
	.timeline .t_line_m.right,
	#content .timeline .t_line_m.right {
		left: 339px !important;
		width: 339px !important;
	}
}


/* --- 610px --- */
@media screen and (max-width:768px) {
	
	.timeline .timeline_line,
	#content .timeline .timeline_line {
		width:530px !important;
	}
	
	.timeline .t_line_view,
	#content .timeline .t_line_view {
		width:1060px !important;
	}
	
	.timeline .t_line_m,
	#content .timeline .t_line_m {
		width: 528px !important;
	}
	.timeline .t_line_m.right,
	#content .timeline .t_line_m.right {
		left: 530px !important;
		width: 528px !important;
	}
	.timeline .t_line_year,
	#content .timeline .t_line_year {
		opacity:0 !important;
		filter:alpha(opacity=0) !important;
	}
	.timeline .t_line_month_year,
	#content .timeline .t_line_month_year {
		display:inline !important;
	}
	
	.timeline .t_line_node span,
	#content .timeline .t_line_node span {
		
	}
	.timeline .t_node_desc,
	#content .timeline .t_node_desc {
		font-size:8px !important;
	}
	.timeline .t_node_desc.pos_right,
	#content .timeline .t_node_desc.pos_right {
		right:auto !important;
		left:0 !important;
	}
}
@media screen and (max-width:500px) {
	.my_style_style_2 .my_post_date , .my_style_style_2 .my_share_items_1{
	float:none !important;
	width:100% !important;
	text-align:center !important;		
	} 
	
}

/* --- 300px --- */
@media screen and (max-width:610px) {
	
	.timeline .timeline_line,
	#content .timeline .timeline_line {
		width:220px !important;
		/*width:90% !important;*/
	}
	
	.timeline .t_line_view,
	#content .timeline .t_line_view {
		width:440px !important;
	}
	
	.timeline .t_line_m,
	#content .timeline .t_line_m {
		width: 218px !important;
	}
	.timeline .t_line_m.right,
	#content .timeline .t_line_m.right {
		left: 220px !important;
		width: 218px !important;
	}
	/*
	.timeline .item_open,
	#content .timeline .item_open {
		width:260px !important;
	}
	.timeline .item_open img,
	#content .timeline .item_open img {
		max-width:260px !important;
	} 
	.timeline .item_open_cwrapper,
	#content .timeline .item_open_cwrapper {
		width:260px !important;
	}*/
}
/*
 * Vertical css
 */
.myVerticalTimneline .timeline_items{
	padding-top:0px !important;
	padding-bottom:0px !important;
}
.myVerticalTimneline .item{
	float:none !important;
	position:relative;
	z-index:100;
	/*top:20px;
	legf:0px;*/
}
.myVerticalTimneline .myVerticalBorder{
	top:35px;
	position:absolute;
	width:50%;
	border-top:1px solid #dcdedd;; 
}
.myVerticalTimneline .myVerticalRow:nth-child(2n) .myVerticalBorder{
	left:0px;	
}
.myVerticalTimneline .myVerticalRow:nth-child(2n+1) .myVerticalBorder{
	left:50%;
	
}


.myVerticalTimneline .item .my_overlay{
	width:100%;
}
.myVerticalTimneline .myVerticalRow{
	position:relative;
	overflow:hidden;
}
.myVerticalTimneline .myVerticalRow:nth-child(2n) .item{
	margin-top:165px !important;	
}
.myVerticalTimneline .myVerticalRow:nth-child(2n) .myVerticalBorder{
	top:200px;
}
.myVerticalTimneline .myVerticalRow:nth-child(2n){
	/*padding-left:10%;*/
}
.myVerticalTimneline .myVerticalRow:nth-child(2n) .item{
	/*margin-left:10%;
	width:100% !important;*/
	/*left:10% !important;*/
	float:right !important;
}
.myVerticalTimneline .myVerticalRow:nth-child(2n+1){
	margin-top:-20px !important;
}
.myVerticalTimneline .t_left{
	top:0px !important;
}
.myVerticalTimneline .t_left, .myVerticalTimneline .t_right{
	display:none !important;
}
.myVerticalTimneline .myVerticalRow{
	width:50% !important;
	float:left;
	box-sizing:border-box;
	o-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-ms-box-sizing:border-box;
	
}
.myVerticalTimneline .myVerticalRow .item{
	/*width:90% !important;*/
}
.myVerticalTimneline .myVerticalRow:nth-child(2n)::after{
	clear:both;
	display:table;
	width:0;
	height:0;
	content:"";
	
}
.myVerticalLine{
	position:absolute;
	top:0px;
	left:50%;
	border-right:1px solid #dcdedd;
	height:100%;
}
.myVerticalTimneline .myVerticalRow:nth-child(2n+2){
	/*border-left:1px solid #dcdedd;*/
}
.myVerticalRightBorder{
	border-right:1px solid #dcdedd;
}
.myVerticalSmall .myVerticalLine{
	left:100%;
	margin-left:-2px;
}
.myVerticalSmall .myVerticalRow:nth-child(2n) .myVerticalBorder{
	left:50%;
}
.myVerticalTimneline .item_open{
	position:absolute !important;
	top:0px !important;
	left:0px !important;
	display:none;
	opacity:0;
	width:100% !important;
	height:100% !important;
}
.myVerticalTimneline .item_open_cwrapper{
	width:100%;
	height:100%;
}
.myVerticalTimneline .item_open .con_borderImage{
	
	height:auto !important;
}
.myVerticalTimneline .item_open , .myVerticalTimneline .t_close , .myVerticalTimneline .item_open_cwrapper{
z-index:1000000010 !important;	
}
.myVerticalSmall .myVerticalRow{
	width:100% !important;
}
.myVerticalSmall  .myVerticalRow:nth-child(2n+1){
	margin-top:20px !important;
}
.myVerticalSmall  .myVerticalRow{
	margin-top:20px !important;
}
.myVerticalSmall .myVerticalRow:nth-child(2n) .item{
	float:none !important;
	}
.myVerticalSmall .myVerticalRow:nth-child(2n) .item{
	margin-top:20px !important;	
}
.myVerticalSmall .myVerticalRow:nth-child(2n) .myVerticalBorder{
	top:40px;
} 
.myVerticalTimneline .t_left, .myVerticalTimneline .t_right{
	z-index:100000 !important;
}
/*.t_controls{
	display:none !important;
}
.t_left,.t_right{
	display:none !important;
}*/
.myVerticalTimneline .t_left{
	width:50% !important;
	left:0px !important;
	background-image:url("https://www.adcash.com/wp-content/plugins/content_timeline/css/images/timeline/clean/blck-arrow-up.png") !important;
}
.myVerticalTimneline .t_line_holder *{
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select': none;
user-select: none;
}
.myVerticalTimneline .t_right{
	width:50% !important;
	right:0px !important;
	background-image:url("https://www.adcash.com/wp-content/plugins/content_timeline/css/images/timeline/clean/blck-arrow-bottom.png") !important;
}


