@charset "gb2312";
/* CSS Document */


/* ----------------------------------- 公共样式  -------------------------------------------------- */
*{font-size:12px;color:#666;padding:0;margin:0;}
body,dl,dd,dt,div,p,h1,h2,h3,h4,h5,h6,table,td,tr,span,ul,ol{margin:0;padding:0;}
ul,ol{list-style:none;}
img{border:0;}
a{text-decoration:none;}
.clear{font-size:0;margin:0;padding:0;width:0;height:0;line-height:0;clear:both;}


.nav_2{}
.nav_2 .index_hot{position:relative;}
.nav_2 .index_hot span{position:absolute;top:-12px;right:-12px;_left:25px;z-index:9999;}


/* ------------------首页------------------- */
.box{margin:0 auto;}
.ad{width:960px;margin:0 auto;}
.ad1{margin-top:15px;}
.ad1 img{display:block;}
.ad2{margin-top:11px;}
.top{width:960px;margin:0 auto;margin-top:15px;height:60px;overflow:hidden;}
.logo{float:left;width:275px;}
.login_and_search{float:right;width:500px;}
.login{text-align:right;margin-right:10px;margin-top:10px;line-height:19px;}
.login a{color:#000;margin-left:7px;}
.search{margin-top:7px;float:right;}
.search_bar{float:left;margin-right:5px;background:url(../../images/index/search_bg.jpg) no-repeat;height:21px;width:205px;border:0;line-height:21px;padding-left:4px;padding-right:25px;}
.search_button{float:left;background:url(../../images/index/search_but.jpg) no-repeat;width:54px;height:21px;border:0;cursor:pointer;}

/*--------------------- nav ----------------------*/
.nav{margin-top:15px;background:url(/images/index/nav_bg.gif) repeat-x;height:69px;padding-top: 3px}
.index_hot{position:relative;}
.index_hot span{position:absolute;top:-12px;right:-12px;_left:25px;z-index:9999;}

.nav_er{width:960px;margin:0 auto;font-size:12px;color:#fff;height: 43px;}
.nav_er a{margin-right:12px;line-height:20px;color:#fff;}
.nav_er a strong{color:#fff;}
.nav_1{float:left;display:inline;width:270px;margin-left:7px;margin-top:5px;background:url(../../images/index/nav_lin.gif) no-repeat right center;margin-top: 2px;}
.nav_1 a{white-space:nowrap;}
.nav_2{float:left;display:inline;width:227px;margin-left:10px;margin-top:5px;background:url(../../images/index/nav_lin.gif) no-repeat right center;margin-top: 2px;}
.nav_2 a{white-space:nowrap;}
.nav_3{float:left;width:213px;margin-left:12px;margin-top:5px;position:relative;margin-top: 2px;}
.nav_3 a{white-space:nowrap;margin-right:8px;}
.nav_3 div{height:25px;line-height:25px;}
.nav_3 div img{margin-left:5px;}
.nav_3 iframe {
    width: 63px;
    height: 24px;
    line-height: 24px;
    display: block;
    float: right;
    position:absolute;
    right:10px;
	top:2px;
}
.nav_4{float:left;display:inline;width:200px;margin-left:12px;margin-top:5px;background:url(../../images/index/nav_lin.gif) no-repeat right center;margin-top: 2px;}
.nav_4 a{white-space:nowrap;}

.sy-topic{height:25px;line-height:25px;width:960px;margin:0 auto;}
.sy-topic a{line-height:25px;color:#666;margin-right:12px;margin-left:5px;}

.navbot{background:#a50d00;height:26px;}
.zhuanqu{width:960px;margin:0 auto;overflow:hidden;}
.zhuanqu a{line-height:26px;height:26px;font-size:14px;color:#fff;margin:0 8px;}


/*--------------------- main ----------------------*/
.main{width:960px;margin:0 auto;margin-top:15px;}
.main_l{float:left;display:inline;width:702px;margin-right:18px;}
.ml_1{width:690px;height:286px;overflow:hidden;border:1px solid #d6d6d6;padding:5px;}
.ml_1l{float:left;display:inline;width:424px;height:286px;overflow:hidden;margin-right:10px;}
/*焦点图1*/
#imgPlay{overflow:hidden;width:424px;height:286px;position:relative;}
#imgPlay .imgs{}
#imgPlay .imgs img{width:424px;}
#imgPlay .imgs li{float:left;position:relative;height:286px}
#imgPlay .imgs li .tspan{position:absolute;top:246px;left:0;width:424px;height:40px;background:#000;filter:alpha(opacity=60);opacity:0.6;}
#imgPlay .imgs li em{position:absolute;top:246px;left:0;font-style:normal;color:#fff;font-size:16px;width:409px;margin:0;padding:0;padding-left:15px;height:40px;line-height:40px;font-family:"宋体";font-weight:bold;}
#imgPlay .imgs {width:2172px;}
#imgPlay .num1{position:absolute;bottom:13px;right:-2px;height:15px;}
#imgPlay .num {height:15px;}
#imgPlay .num span {float:left;display:block;background: url(../../images/index/ico4.gif) no-repeat 3px 3px;margin-left:0px;overflow:hidden;width:9px;height:9px;padding:3px;cursor:pointer;}
#imgPlay .num span.on{background:url(../../images/index/ico3.gif) no-repeat 3px 3px;width:9px;height:9px;padding:3px;}
#imgPlay #numInner{}

#imgPlay .preNext{width:17px;height:28px;cursor:pointer;}
#imgPlay .prev{background:url(../../images/index/imgPlayer_l.gif) no-repeat 15px 108px;filter:alpha(opacity=60);opacity:0.6;padding-left:15px;padding-right:30px;width:17px;height:246px;cursor:pointer;text-indent:-9999px;position:absolute;left:0px;top:0px;}
#imgPlay .next{background:url(../../images/index/imgPlayer_r.gif) no-repeat 30px 108px;filter:alpha(opacity=60);opacity:0.6;padding-left:30px;padding-right:15px;width:17px;height:246px;cursor:pointer;text-indent:-9999px;position:absolute;right:0px;top:0px;}


.ml_1r{float:left;display:inline;width:250px;}
.ml_1r h2{margin-top:5px;}
.ml_1r h2 a{font-size:18px;color:#e23b0f;}
.ml_1r h2 a:hover{text-decoration:underline;}
.ml_1r p{line-height:23px;}
.ml_1r p a:hover{text-decoration:underline;}
.ml_1r ul{margin-top:10px;}
.ml_1r li a{color:#2f4d93;font-size:14px;line-height:25px;}
.ml_1r li a span{color:#666;font-size:12px;margin-right:5px;}
.ml_1r li a:hover{text-decoration:underline;}

.ml_2{width:700px;height:449px;overflow:hidden;border:1px solid #d6d6d6;margin-top:15px;}
.ml_2 h1,.ml_3 h1,.ml_4 h1,.ml_5 h1{background:url(../../images/index/title_bg.jpg) no-repeat;height:40px;line-height:40px;font-size:16px;padding-left:15px;}
.ml_2 span,.ml_3 span,.ml_4 span,.ml_5 span{float:right;}
.ml_2 h1 a,.ml_3 h1 a,.ml_4 h1 a,.ml_5 h1 a{font-size:14px;}
.ml_2 span a,.ml_3 span a,.ml_4 span a,.ml_5 span a{font-size:12px;padding:0 10px;font-weight:normal;}
.ml_2 em,.ml_3 em,.ml_4 em,.ml_5 em{font-style:normal;float:right;margin-right:10px;margin-top:13px;margin-left:5px;}

.ml_2t{margin:15px 15px 0px 15px;padding-bottom:20px;border-bottom:1px dashed #ccc;}
.ml_2tl{float:left;display:inline;width:235px;margin-right:27px;}
/*焦点图2*/
.phototop{width:235px;position: relative; height:179px;overflow: hidden;background:#efefef;}
.phototop a:link{color:#2f4d93;font-weight:bold;font-size:14px;}
.phototop .slider{position:absolute;color:#3b5997;}
.phototop .slider dt{height:29px;line-height:29px;padding-left:5px;}
.phototop .slider a{color:#2f4d93;font-weight:bold;font-size:14px;}
.phototop .slider img{display:block;width:235px; height:150px;}
.phototop .num{right:0px; position: absolute; top: 134px;}
.phototop .num li{font-size:9px;background:#7f7f7f;margin-left:1px;float:left;overflow: hidden; width: 20px; cursor: pointer; color: #ffffff;line-height:16px; height:16px;text-align:center;}
.phototop .num li.on {background: #ff0000;}


/*焦点图3*/
.phototop1{width:235px;position: relative; height:215px;overflow: hidden;}
.phototop1 a:link{color:#2f4d93;font-weight:bold;font-size:14px;}
.phototop1 .slider1{position:absolute;color:#3b5997;}
.phototop1 .slider1 dl{height:216px;overflow: hidden;}
.phototop1 .slider1 dt h2{text-align:left;font-size:12px;font-weight:normal;margin-top:7px;margin-bottom:5px;}
.phototop1 .slider1 dt h2 a{text-align:left;font-size:12px;font-weight:normal;color:#2f4d93;}
.phototop1 .slider1 dt p{color:#666;line-height:20px;font-size:12px;text-align:left;padding-right:5px;}
.phototop1 .slider1 a{color:#2f4d93;font-weight:bold;font-size:14px;}
.phototop1 .slider1 img{display:block;width:235px; height:150px;}
.phototop1 .num1{right:0px; position: absolute; top: 134px;}
.phototop1 .num1 li{font-size:9px;background:#7f7f7f;margin-left:1px;float:left;overflow: hidden; width: 20px; cursor: pointer; color: #ffffff;line-height:16px; height:16px;text-align:center;}
.phototop1 .num1 li.on {background: #ff0000;}




.ml_2tr{float:left;display:inline;width:400px;}
.ml_2tr h2 a{font-size:16px;color:#2f4d93;}
.ml_2tr p{line-height:18px;margin-top:5px;margin-bottom:10px;}
.ml_2tr li{float:left;display:inline;background:url(../../images/index/ico.gif) no-repeat 0 center;padding-left:13px;white-space:nowrap;width:187px;}
.ml_2tr li a{color:#2f4d93;line-height:25px;}
.ml_2tr li a:hover{text-decoration:underline;}

.ml_2bl{width:17px;float:left;display:inline;margin-top:20px;font-size:14px;font-weight:bold;line-height:20px;padding-top:11px;margin-left:30px;}
.ml_2bl img{margin-bottom:8px;}
.ml_2br{width:630px;float:left;display:inline;margin-top:20px;}
.ml_2br dl{float:left;display:inline;margin-left:35px;width:175px;}
.ml_2br dd img{width:175px;height:117px;}
.ml_2br dt{text-align:center;}
.ml_2br dt a{color:#2f4d93;line-height:25px;}
.ml_2br dt a:hover{text-decoration:underline;}

.ml_3{width:700px;height:486px;overflow:hidden;border:1px solid #d6d6d6;margin-top:15px;}
.ml_3t{margin:15px 15px 0px 15px;padding-bottom:15px;border-bottom:1px dashed #ccc;}
.ml_3tl{float:left;display:inline;width:235px;}
.ml_3tl_t{height:177px;overflow:hidden;}


.ml_3tl_b{background:#f6f6f6;height:103px;padding:15px;overflow:hidden;}
.ml_3tl_b h2{background:url(../../images/index/ico2.gif) no-repeat 0 center;padding-left:17px;letter-spacing:0.1em;margin-bottom:10px;}
.ml_3tl_b li{background:url(../../images/index/ico.gif) no-repeat 0 center;padding-left:12px;}
.ml_3tl_b li a{color:#2f4d93;line-height:25px;}
.ml_3tl_b li a:hover{text-decoration:underline;}
.ml_3tr{float:left;display:inline;width:420px;}
.ml_3tr dl{float:left;display:inline;margin-left:35px;width:175px;margin-bottom:5px;}
.ml_3tr dd img{width:175px;height:117px;}
.ml_3tr dt{text-align:center;height:25px;}
.ml_3tr dt a{color:#2f4d93;line-height:25px;overflow: hidden;height: 25px;display: block;}
.ml_3tr dt a:hover{text-decoration:underline;}
.ml_3b{padding:15px;}
.ml_3b li{float:left;display:block;width:210px;background:url(../../images/index/ico.gif) no-repeat 0 center;padding-left:12px;}
.ml_3b li a{color:#2f4d93;line-height:25px;}
.ml_3b li a:hover{text-decoration:underline;}

.ml_4{width:700px;height:384px;overflow:hidden;border:1px solid #d6d6d6;margin-top:15px;}
.ml_4l{float:left;display:inline;width:235px;margin-right:10px;margin-top:15px;margin-left:20px;}
.ml_4lt{width:235px;height:224px;}

.ml_4lb{margin-top:5px;}
.ml_4lb li{font-size:14px;background:url(../../images/index/ico.gif) no-repeat 0 center;padding-left:12px;}
.ml_4lb li a{font-size:12px;color:#2f4d93;line-height:25px;}
.ml_4lb li a:hover{text-decoration:underline;}
.ml_4r{float:left;display:inline;width:420px;margin-top:15px;margin-right:15px;}
.ml_4r dl{float:left;display:inline;margin-left:30px;width:175px;margin-bottom:5px;}
.ml_4r dd img{width:175px;height:117px;}
.ml_4r dt{text-align:center;height:25px;}
.ml_4r dt a{color:#2f4d93;line-height:25px;}
.ml_4r dt a:hover{text-decoration:underline;}


.ml_5{width:700px;height:468px;overflow:hidden;border:1px solid #d6d6d6;margin-top:15px;}
.ml_5t{margin:15px;}
.ml_5tl{float:left;display:inline;width:235px;margin-right:20px;}
.ml_5tr{float:left;display:inline;width:405px;}
#tab2{width:405px;height:23px;border-bottom:1px solid #cecece;}
#tab2 ul{margin:0;padding:0;}
#tab2 li{float:left;padding:0 20px;margin-right:10px;height:23px;line-height:24px;text-align:center;border:1px #cecece solid;border-bottom:0;cursor:pointer;}
#tab2 li.now{color:#616161;font-weight:bold;border:1px #cecece solid;border-bottom:0;background:#fff;}
.tablist{display:none;}
.tab2_t{margin-top:20px;}
.tab2_t dl{float:left;display:inline;width:175px;margin-bottom:5px;margin-right:25px;}
.tab2_t dd img{width:175px;height:117px;}
.tab2_t dt{text-align:center;height:25px;}
.tab2_t dt a{color:#2f4d93;line-height:25px;}
.tab2_t dt a:hover{text-decoration:underline;}
.tab2_t ul{float:left;display:inline;}
.tab2_t li{background:url(../../images/ico.gif) no-repeat 0 center;padding-left:12px;line-height:24px;}
.tab2_t li a{color:#2f4d93;}
.tab2_t li a:hover{text-decoration:underline;}


.ml_5b{margin-left:15px;margin-right:15px;padding-bottom:10px;}
#tab1{width:660px;height:23px;border-bottom:1px solid #cecece;}
#tab1 ul{margin:0;padding:0;}
#tab1 li{float:left;padding:0 20px;margin-right:10px;height:23px;line-height:24px;text-align:center;border:1px #cecece solid;border-bottom:0;cursor:pointer;}
#tab1 li.now{color:#616161;font-weight:bold;border:1px #cecece solid;border-bottom:0;background:#fff;}
.tab1_t{padding:10px;}
.tab1_t li{float:left;width:310px;display:inline;display:block;background:url(../../images/index/ico.gif) no-repeat 0 center;padding-left:12px;}
.tab1_t li a{color:#2f4d93;line-height:25px;}
.tab1_t li a:hover{text-decoration:underline;}
.block{display:block; }


.ml_6{border-top:9px solid #434343;width:702px;margin-top:15px;}
.ml_6 h1{color:#5e5e5e;line-height:35px;font-size:14px;padding-left:15px;}
.ml_6l{width:220px;float:left;display:inline;margin-right:20px;}
.ml_6c{width:220px;float:left;display:inline;margin-right:20px;}
.ml_6r{width:220px;float:left;display:inline;}
.ml_6_li{width:218px;border:1px solid #dcdcdc;padding-bottom:14px;margin-bottom:15px;}
.ml_6_li dl{padding:14px;padding-bottom:5px;border-bottom:1px solid #dcdcdc;margin-bottom:10px;}
.ml_6_li dd img{width:190px;}
.ml_6_li dt{line-height:25px;}
.ml_6_li dt a:hover{color:#e92c2c;}
.ml_6_li p{line-height:20px;margin-left:14px;color:#999999;}


.main_r{float:left;display:inline;width:240px;}
.mr_1{width:240px;height:207px;overflow:hidden;background:#666666;}
.mr_1 h1{height:20px;line-height:20px;background:#666666;color:#fff;padding-left:10px;}
#tab4{width:240px;margin-top:1px;padding-left:2px;}
#tab4 ul{margin:0;padding:0;}
#tab4 li{float:left;cursor:pointer;margin-left:1px;margin-right:1px;width:57px;overflow:hidden;}
#tab4 li.now{border:1px solid #fccf00;}
#tab4 li img{width:57px;height:40px;display:block;}

.tablist{display:none;}
.mrrt img{width:240px;height:144px;}
.block{display:block; }



.mr_2{margin-top:15px;width:230px;overflow:hidden;height:142px;border:5px solid #dddddd;}
.mr_2 h1{height:39px;line-height:39px;border-bottom:1px solid #ccc;font-size:14px;padding-left:10px;margin-bottom:3px;}
.mr_2 h1 span{margin-left:5px;font-size:8px;letter-spacing:-0.05em;}
.mr_2 h1 em{font-style:normal;float:right;color:#27479e;font-weight:normal;margin-right:10px;}
.mr_2 h1 em a{color:#27479e;font-weight:bold;}
.mr_2t{padding:10px;}
.select1{width:210px;margin-bottom:10px;height:20px;line-height:20px;}
.select2{width:100px;margin-right:10px;float:left;display:inline;height:20px;line-height:20px;margin-bottom:10px;}
.select3{width:100px;float:left;height:20px;line-height:20px;margin-bottom:10px;}
.qc_text{float:left;display:inline;margin-right:10px;height:18px;line-height:18px;}
.qc_button{float:left;background:url(../../images/index/qck_search_but.jpg) no-repeat;height:21px;width:61px;border:0;cursor:pointer;}

.mr_3{margin-top:15px;width:230px;overflow:hidden;border:5px solid #dddddd;}
.mr_3 h1{height:39px;line-height:39px;border-bottom:1px solid #ccc;font-size:14px;margin-bottom:3px;}
.mr_3 h1 span{margin-left:5px;font-size:8px;letter-spacing:-0.05em;}
.mr_3 h1 em a{float:right;margin-right:10px;margin-top:12px;}
.mr_3 h1 a{height:39px;line-height:39px;font-size:14px;padding-left:10px;}

.mr_4{margin-top:15px;width:228px;overflow:hidden;height:560px;border:5px solid #dddddd;border-right:6px solid #dddddd;border-left:6px solid #dddddd;position:relative;}
.mr_4 h1 {height:39px;line-height:39px;border-bottom:1px solid #ccc;font-size:14px;padding-left:10px;}
.mr_4 h1 span{margin-left:5px;font-size:8px;letter-spacing:-0.05em;}
.mr_4 h1 a{height:39px;line-height:39px;font-size:14px;}
#tab3{width:228px;height:23px;}
#tab3 ul{margin:0;padding:0;}
#tab3 li{float:left;font-size:14px;color:#000;height:28px;line-height:28px;background:url(../../images/index/t3_bg.gif) repeat-x;width:75px;border-left:1px solid #ddd;text-align:center;cursor:pointer;}
#tab3 li.now{color:#000;font-weight:bold;background:none;}
.tab3_t{border-left:1px solid #dddddd;}
.tab3_li{padding:10px;padding-top:12px;_padding-bottom:3px;border-bottom:1px solid #e1e1e1;height:70px;}
.tab3_tl{float:left;display:inline;width:70px;margin-right:10px;}
.tab3_tl a img{border:1px solid #e1e1e1;}
.tab3_tl a:hover img{border:1px solid #999;}
.tab3_tr{float:left;display:inline;width:120px;}
.tab3_tr h2{font-size:12px;line-height:17px;}
.tab3_tr h2 a{color:#495aa2;}
.tab3_tr h2 a:hover{text-decoration:underline;}
.tab3_tr p{height:21px;line-height:21px;}
.tab3_tr p span{color:#c22248;}
.jrlt{float:right;line-height:31px;margin-right:10px;position:absolute;bottom:0px;right:0px;}
.jrlt a{}
.jrlt span{margin-left:5px;font-size:8px;letter-spacing:-0.05em;color:#b01a37;font-weight:bold;}
.block{display:block;}



.mr_5{margin-top:15px;width:230px;overflow:hidden;height:260px;border:5px solid #dddddd;}
.mr_5 h1{height:39px;line-height:39px;border-bottom:1px solid #ccc;font-size:14px;padding-left:10px;}
.mr_5 h1 a{height:39px;line-height:39px;font-size:14px;}
.mr_5 h1 span{margin-left:5px;font-size:8px;letter-spacing:-0.05em;}
.mr_5t{padding:5px;padding-top:8px;}
.mr_5t dl{width:100px;float:left;display:inline;margin:3px 5px;}
.mr_5t dt{height:22px;line-height:22px;}
.mr_5t dt a{color:#495aa2;line-height:22px;}
.mr_5t dt a:hover{text-decoration:underline;}
.mr_6{margin-top:15px;width:230px;overflow:hidden;border:5px solid #dddddd;}
.mr_6 h1{height:39px;line-height:39px;border-bottom:1px solid #ccc;font-size:14px;padding-left:10px;}
.mr_6 h1 a{height:39px;line-height:39px;font-size:14px;}
.mr_6 h1 span{margin-left:5px;font-size:8px;letter-spacing:-0.05em;}
.mr_6t{padding:10px;}
.mr_6t_li{height:53px;margin-bottom:7px;}
.mr_6t_li a{color:#495aa2;line-height:20px;}
.mr_6t_li a:hover{color:#e92c2c;}
.mr_6t_li img{width:52px;height:53px;float:right;margin-left:5px;}
.mr_7{margin-top:15px;width:230px;overflow:hidden;height:370px;border:5px solid #dddddd;}
.mr_7 h1 a{height:39px;line-height:39px;font-size:14px;}
.mr_7 h1{height:39px;line-height:39px;border-bottom:1px solid #ccc;font-size:14px;padding-left:10px;margin-bottom:6px;}
.mr_7 h1 span{margin-left:5px;font-size:8px;letter-spacing:-0.05em;}
.mr_7t{padding-left:10px;padding-top:3px;}
.mr_7t dl{width:100px;float:left;display:inline;margin-right:10px;}
.mr_7t dt{margin-top:2px;}
.mr_7t dt a{color:#495aa2;line-height:18px;}
.mr_7t dt a:hover{text-decoration:underline;}
.mr_7b ul{margin:10px;margin-top:3px;}
.mr_7b li{line-height:24px;background:url(../../images/index/ico.gif) no-repeat 0 center;padding-left:15px;}
.mr_7b li a{color:#495aa2;line-height:24px;}
.mr_7b li a:hover{text-decoration:underline;}
.mr_8{margin-top:15px;width:230px;overflow:hidden;height:216px;border:5px solid #dddddd;}
.mr_8 h1{height:39px;line-height:39px;border-bottom:1px solid #ccc;font-size:14px;padding-left:10px;margin-bottom:6px;}
.mr_8 h1 span{margin-left:5px;font-size:8px;letter-spacing:-0.05em;}
.jlb{padding-left:15px;padding-right:15px;}
.jlb a{float:left;line-height:24px;width:100px;white-space:nowrap;}
.jlb a:hover{color:#e92c2c;}
.mr_9{margin-top:15px;width:230px;overflow:hidden;border:5px solid #dddddd;}
.mr_9 h1{height:39px;line-height:39px;border-bottom:1px solid #ccc;font-size:14px;padding-left:10px;}
.mr_9 h1 span{margin-left:5px;font-size:8px;letter-spacing:-0.05em;}
.hzpp{padding:10px 10px;}
.hzpp a{margin: 0 5px 5px 0;}
.hzwz{padding:0 15px 10px 15px;}
.hzwz a{float:left;line-height:27px;width:100px;white-space:nowrap;}
.hzwz a:hover{color:#e92c2c;}

.mr_10{margin-top:15px;width:230px;overflow:hidden;border:5px solid #dddddd;}
.mr_10 h1{height:39px;line-height:39px;border-bottom:1px solid #ccc;font-size:14px;padding-left:10px;margin-bottom:6px;}
.mr_10 h1 span{margin-left:5px;font-size:8px;letter-spacing:-0.05em;}
.mr_10 h1 em a{float:right;margin-right:10px;margin-top:12px;}
.mr_10 h1 a{font-size:14px;}

/*----/摄影团/-----*/
.SpecialColumn{overflow:hidden;}
.cf{CLEAR: both;display:block; font-size: 1px; line-height: 1px; height: 0px}
.yspace{margin:0px auto 0px}
.btl {display:block; font-size:1px;line-height:1px;position:relative; height: 6px}
.btr {display:block; font-size:1px;line-height:1px;position:relative; height: 6px}
.bbl {display:block; font-size:1px;line-height:1px;position:relative; height: 6px}
.sort .title LI {font-size: 1.1em; background: url(../../images/b1tDot.jpg) no-repeat right 1px; float: left; line-height: 28px; height: 28px; text-align: center}
.sort .title LI SPAN{left: -2px; float: left; position: relative; top: -1px; height: 33px}
.sort .title .current A:link{color:#fff}
.sort .title .current A:visited{color:#fff}
.sort .txt {padding-right:0px;padding-left: 0px; padding-bottom: 0px; padding-top: 0.4em}
.sort .txt LI{padding-right:0px;padding-left: 28px; padding-bottom: 0px; line-height: 22px; padding-top: 0px; border-bottom: #ddd 1px dashed; height: 22px}
.sort .txt LI.more{padding-right:10px;border-top: #eee 1px solid;padding-left:8px;background: #f8f8f8; padding-bottom: 6px; margin: 0px 0px 3px; padding-top: 8px; border-bottom: #eee 1px solid}
.sort .productImg {height: 52px}
.sort .productImg IMG{border-RIGHT: #ccc 1px solid; padding-right: 1px; border-top: #ccc 1px solid; padding-left: 1px; padding-bottom: 1px; border-left: #ccc 1px; padding-top: 1px; border-bottom: #ccc 1px solid}
.sort .productInfo H3{padding-right:0px;padding-left: 0px; font-weight: normal; font-size: 1.1em; padding-bottom: 3px; line-height: 1.1em; padding-top: 1px}
.texh6{color:#2f4d93;font-weight:normal;background:url(../../images/ico.gif) no-repeat 0px center;padding-left:15px;margin-bottom:5px;}
.sort1 {}
.sort1 .title{background: url(../../images/b1t.jpg) repeat-x; height: 32px}
.sort1 .title H2{border-RIGHT: #ccc 1px solid; font-size: 1.1em; left: -1px; position: relative; top: -1px; height: 27px}
.sort1 .title H2 span{padding-left: 27px; line-height: 27px}
.sort1 .title LI{font-size:1.1em; background: url(../../images/b1tDot.jpg) no-repeat right 1px; float: left; line-height: 28px; height: 28px; text-align: center}
.sort1 .title LI span{left: -2px; float: left; position: relative; top: -1px; height: 33px}
.sort1 .title .current A:link{color:#fff}
.sort1 .title .current A:visited{color:#fff}
.sort1 .txt {padding-right: 0px;padding-left:0px;padding-bottom: 0px; padding-top: 0.4em}
.sort1 .txt li {padding-right:0px;padding-bottom:0px;padding-top:0px;}
.sort1 .txt li.listHeight{background:url(../../images/ico.gif) no-repeat 0px center;line-height:30px;height:30px;padding-left:15px;}
.sort1 .txt li.listHeight span{float:right;color:#c22248;}
.sort1 .txt li.listHeight a{color:#2f4d93;}
.sort1 .txt LI.more{padding-right:10px;padding-bottom:6px;margin:0px 0px 3px;padding-top:8px;height:90px;}
.sort1 .numBig{width:20px;height:54px;text-align:center}
.sort1 .numBig SPAN {display:block; font-weight:bold;font-size:1.2em;width:20px;color:#fff;line-height:20px;border-bottom:#fff 1px solid;height: 20px}
.sort1 .productImg{float:left;height:68px;width:100px;}
.sort1 .productImg img{width:100px;margin-left:15px;}
.sort1 .productInfo h3{padding-right: 0px; padding-left: 0px; font-weight: normal; font-size: 1.1em; padding-bottom: 3px; line-height: 1.1em; padding-top: 1px}
.sort1 .productInfo p{color:#c22248;line-height: 1.4em}
.hotShop {width:210px;}
.hotShop .title H2 {background: url(../../images/p.jpg) #fff no-repeat 5px 4px;width:78px}
.hotShop .title H2 SPAN{color: #ff6e00}
.hotShop .title UL{padding-left:12px}
.hotShop .title LI {width:70px}
.hotShop .title LI SPAN {width:70px}
.hotShop .title .current span{font-weight:bold;}
.hotShop .txt11{}
.hotShop .productImg {padding-left:0px}
.hotShop .productInfo {padding-left:122px;}
.hotShop .productInfo h3 {color:#666}
.hotShop .productInfo h3 a:link {color:#656565;text-decoration:none;}
.hotShop .productInfo h3 a:visited {color: #656565;text-decoration: underline}
.hotShop .productInfo h3 a:hover {color: #000}

/* ----------------------- 版尾 ---------------------- */
.footer{margin:0 auto;width:960px;border-top:1px solid #d9d9d9;margin-top:30px;padding-top:15px;padding-bottom:25px;}
.footer p{color:#303030;line-height:23px;text-align:right;margin-right:20px;}
.footer p a{color:#303030;line-height:23px;}
.footer p a:hover{color:#e92c2c;}

.sdc{width:229px; }
.sdm{ padding:15px 5px;padding-bottom:0px;}
.rank-3{ background:url(../../images/index/product_bg.gif) no-repeat; background-position:-300px -333px;}
.rank-3{ zoom:1;}
.rank-3 li{ height:28px; line-height:28px; vertical-align:middle; overflow:hidden;}
.rank-3 li h4{ padding-top:0 !important; padding-top:4px; font-size:12px; font-weight:normal;}
.rank-3 h3{float:left; width:135px; overflow:hidden; height:28px; padding-left:20px;}
.rank-3 .r-3-3{float:right; width:60px;}

.rank-5{ width:218px; clear:both; overflow:hidden;padding-right:5px;  }
.rank-5 .r-5-pic{ position:absolute; left:0; top:0; width:85px; height:48px;}
.rank-5 .r-5-pic a img{ border: 1px solid #ddd; width:75px; height:35px;margin-top:5px;}
.rank-5 .r-5-pic a:hover img{  border: 1px solid #999;}
.rank-5 dl{ padding-left:90px; position:relative;height:45px; line-height:20px; width:133px;padding-top:5px;}
.rank-5 li{border-bottom:1px dashed #ddd;padding:3px 0 2px 0;}
.rank-5 li dl dd{ height:35px;}
.rank-5 dt a{font-weight:bold;color:#495aa2;} 
.rank-5 dt{ width:133px; white-space:nowrap; overflow:hidden;}

/* ----------------------- 右下角媒体广告 ---------------------- */
#rbad{ width:320px; height:250px; position:fixed; bottom:0px; right:10px; display:none;_position:absolute;z-index:51;}
#rbadinner{ width:320px; height:240px;float:left}
#rbclose{width:320px; height:10px;text-align:right;float:left}
#rbad a{ font-size:12px; text-decoration:none;}

/*---------------------------------------------/友情链接/--------------------------------------------*/

.friendlink{border-top:3px solid #ccc;margin-top:10px;padding-top:10px;}
#tab5{width:960px;height:25px;}
#tab5 span{float:left;display:inline;line-height:25px;font-size:14px;font-weight:bold;color:#424242;margin-left:10px;margin-right:15px;}
#tab5 ul{float:left;margin:0;padding:0;width:870px;border-bottom:1px solid #ccc;position:relative;height:26px;}
#tab5 li{float:left;padding:0 30px;height:25px;line-height:25px;text-align:center;border:1px solid #ccc;margin-right:10px;cursor:pointer;}
#tab5 li.now{color:#424242;border-bottom:1px solid #fff;font-weight:bold;}
.tablist{display:none;}
.block{display:block;}

.links{margin-top:10px;}
.links a{white-space:nowrap;margin:0 5px;line-height:23px;}

.shopwarp {width:220px;float:left; margin:0 0 10px 0;
}
.shopleft {width:66px; float:left
}

.shopright {
    width: 145px;
    float: right;
}

.shoptitle {
    width: 135px;
    float: left;
    font-weight:bolder;
    margin:5px 0 10px 0;
}
.shopprice {
    float: left;
    font-weight:bolder;
    color:red;
    margin:2px 0 0 0;
}

.shopgo {float:right;margin-right:10px
}

.shop{width:213px;margin:0 auto;}
.shop img{width:213px;height:142px;}
.shop ul{padding:5px 0;}
.shop li{background:url(../../images/index/ico.gif) no-repeat 0 center;padding-left:13px;}
.shop li a{color:#495aa2;font-size:12px;line-height:21px;}

#floatdiv{position:fixed;_position:absolute; float:left;left:49%; bottom:0; margin-left:503px;width:118px;display:block;}
.ada {
	display: block;
    position: relative;
	}
	
.ada span{
	position: absolute;
    bottom: 0;
    right: 0;
    padding: 2px 5px;
    color: white;
    background-color: darkgray;
	font-size: 8px;
	}
	
.adc{
	position: absolute;
    top: 0;
    right: 0;
    padding: 2px 5px;
    color: white;
    background-color: darkgray;
	font-size: 8px;
	}