/* SOCIAL EN SU NUBE VOLADORA */
#seguidores{font-size:12px;position:fixed; z-index:9999999; left:0; top:40%; text-align:center; padding:7px; background:#dee7f3; border:3px solid #405b80;border-radius:5px;width:140px;height:223px}
.box-content-player{position:relative;background-color:transparent;margin-right:auto;width:350px;height:250px;bottom:-360px;margin-left:350px;border-top-left-radius:4px;border-top-right-radius:4px;border-bottom-right-radius:4px;border-bottom-left-radius:4px;margin-top:-250px;z-index:1;background-position:initial initial;background-repeat:initial initial}
a.tex-cerrar:link{background-color:#a90000;padding:2px;text-decoration:none;font-family:Arial;font-size:11px;color:#fff;border-top-left-radius:3px;border-top-right-radius:3px;border-bottom-right-radius:3px;border-bottom-left-radius:3px;background-position:initial initial;background-repeat:initial initial}
a.tex-cerrar:visited{background-color:#a90000;padding:2px;text-decoration:none;font-family:Arial;font-size:11px;color:#fff;border-top-left-radius:3px;border-top-right-radius:3px;border-bottom-right-radius:3px;border-bottom-left-radius:3px;background-position:initial initial;background-repeat:initial initial}
a.tex-cerrar:hover{color:#fff;background-color:red;background-position:initial initial;background-repeat:initial initial}
a.tex-cerrar:active{background-color:#a90000;padding:2px;text-decoration:none;font-family:Arial;font-size:11px;color:#fff;border-top-left-radius:3px;border-top-right-radius:3px;border-bottom-right-radius:3px;border-bottom-left-radius:3px;background-position:initial initial;background-repeat:initial initial}

img.btn_close_social {
	float: right;
	margin: -5px -15px 0 0;
}
