A:link {
color : #f00;
text-decoration : none;
}
A:visited {
color : #f00;
text-decoration : none;
}
A:hover {
color : #b00000;
text-decoration : none;
}
A:active {
color : #f00;
text-decoration : none;
}
html {
min-height : 100%;
}
img {
border : 0;
}
body {
margin : auto auto 22px;
font-family : trebuchet ms, Verdana, Arial, Helvetica, sans-serif;
font-size : 12px;
background : url(images/bg_footer.png) repeat-x;
background-position : bottom;
}
#wrapper {
display : block;
width : 100%;
background : url(images/bg_page_2011.gif) repeat-x;
background-position : top;
height : 100%;
}
#pagecontainer {
margin : auto;
width : 1000px;
background : #fff;
height : 100%;
overflow : hidden;
}
.page_item {
float : left;
margin : 0;
}
h2 {
padding-left : 15px;
margin-top : -20px;
font-size : 14px;
text-decoration : none;
}
h5 {
font-size : 18px;
padding-top : 10px;
padding-left : 35px;
text-decoration : underline;
}
h6 {
font-size : 18px;
padding-top : 10px;
padding-left : 35px;
text-decoration : underline;
}
#header {
height : 112px;
background : url(images/logo.jpg) repeat-x;
text-align : left;
}
#header #siteinfo {
padding-left : 50px;
padding-top : 50px;
float : left;
background : url(images/sopa.png) no-repeat;
margin-left : 150px;
margin-top : 50px;
}
#header #siteinfo div {
color : #fff;
font-size : 12px;
font-weight : bold;
padding-left : 15px;
}
#header #SearchBox {
float : right;
padding-top : 29px;
padding-right : 35px;
margin-top : -1px;
}
#searchform {
margin : 0;
padding : 0;
}
#header #SearchBox #s {
background : #fff;
border : 0;
padding : 0;
color : #525252;
width : 214px;
height : 31px;
height : 31px;
font-size : 20px;
box-shadow : 0 0 5px #363636;
}
#navigation {
background : url(images/bg_nav.gif) #b70908;
background-repeat : repeat-x;
background-position : top;
height : 47px;
font-size : 1.0em;
font-weight : bold;
}
#navigation ul {
list-style : none;
margin : auto;
}
#navigation li {
display : inline;
}
#navigation li a {
height : 32px;
padding-top : 15px;
color : #FFF;
padding-right : 20px;
padding-left : 20px;
text-decoration : none;
float : left;
background : url(images/nav_split.gif) right bottom no-repeat;
}
#navigation li a:hover {
background : url(images/bg_nav_hover.gif) left top repeat-x;
}
#content {
width : 670px;
float : left;
text-align : left;
background : transparent;
}
.more-link {
float : right;
margin-top : -16px;
margin-right : 21px;
padding : 7px 12px 7px 12px;
cursor : pointer;
color : #fff;
border : transparent solid 1px;
line-height : 27px;
text-shadow : 0 1px rgba(0, 0, 0, 0.1);
text-transform : uppercase;
background-color : #d14836;
transition : all 0.218s;
background-image : linear-gradient(#dd4b39, #d14836);
border-radius : 2px;
}
.more-link:hover {
border : #b0281a solid 1px;
color : #fff;
text-shadow : 0 1px rgba(0, 0, 0, 0.3);
background-color : #c53727;
background-image : linear-gradient(#dd4b39, #c53727);
box-shadow : 0 1px 1px rgba(0, 0, 0, 0.2);
}
.more-link:active {
border : #992a1b solid 1px;
background-color : #b0281a;
background-image : linear-gradient(#dd4b39, #b0281a);
box-shadow : 0 1px 2px rgba(0, 0, 0, 0.3) inset;
}
.more-link:visited, .more-link:visited, .more-link:visited {
color : #fff;
}
.reading {
color : #fff;
text-decoration : none;
}
blockquote {
margin-left : 10px;
margin-right : 10px;
margin-top : 5px;
padding : 0 12px 0 15px;
background : url(images/blockquote.gif) no-repeat;
color : #000;
}
#PostSet {
padding-top : 10px;
padding-left : 15px;
padding-right : 15px;
padding-bottom : 15px;
}
#dateblock {
background : url(images/dateblock.gif);
background-repeat : no-repeat;
width : 66px;
height : 82px;
text-align : center;
float : left;
color : #fff;
font-size : 10px;
font-weight : bold;
margin : 0;
margin-top : 3px;
margin-right : 10px;
padding-top : 7px;
}
#dateblock #day {
font-size : 35px;
font-weight : bold;
color : #000;
padding-top : 2px;
letter-spacing : -1px;
}
#postheader {
padding : 10px;
margin-top : 10px;
}
#postheader h1 {
letter-spacing : -1px;
font-size : 22px;
font-weight : bold;
margin : 3px 0 3px 0;
padding-top : 5px;
}
#postheader h1 a:hover {
text-decoration : none;
}
#postheader a {
color : #000;
text-decoration : none;
font-weight : bold;
}
#postheader #postdetails a {
color : #f00;
}
#postheader #postdetails a:hover {
color : #b00000;
}
#postcontent {
padding : 0;
margin : 0;
font-size : 12px;
line-height : 200%;
background : #fff;
}
#postcontent div {
padding : 0 10px 10px 0;
}
#postcontent fieldset {
margin : 20px;
}
#postcontent fieldset legend {
font-weight : bold;
text-transform : uppercase;
margin : 0 0 0 -40px;
padding : 5px 10px 5px 10px;
background-color : white;
border : #ccc solid 1px;
}
#postcontent table {
border-width : 0;
border-style : solid;
border-color : #ccc;
}
#postcontent table tr td {
padding : 5px 10px;
border-width : 0;
border-style : solid;
border-color : #ccc;
}
#postcontent table tr th {
border-width : 0;
border-style : solid;
border-color : #ccc;
padding : 5px 10px;
background : #f4f4f4;
color : #666;
font-weight : bold;
text-align : center;
}
#post-navigator-single {
margin : 0;
padding : 0;
float : left;
width : 500px;
font-size : 12px;
line-height : 18px;
}
#postcontent .tabberlive .tabbertabhide {
display : none;
}
#postcontent .tabberlive {
margin-top : 1em;
}
#postcontent ul.tabbernav {
margin : 0;
padding : 3px 0;
border-bottom : 0 solid #778;
font : bold 12px Verdana, sans-serif;
}
#postcontent ul.tabbernav li {
list-style : none;
margin : 0;
display : inline;
}
#postcontent ul.tabbernav li a {
padding : 3px 0.5em;
margin-left : 3px;
border : #778 solid 1px;
border-bottom : none;
background : #DDE;
text-decoration : none;
}
#postcontent ul.tabbernav li a:link {
color : #448;
}
#postcontent ul.tabbernav li a:visited {
color : #667;
}
#postcontent ul.tabbernav li a:hover {
color : #000;
background : #AAE;
border-color : #227;
}
#postcontent ul.tabbernav li.tabberactive a {
background-color : #fff;
border-bottom : 1px solid #fff;
}
#postcontent ul.tabbernav li.tabberactive a:hover {
color : #000;
background : white;
border-bottom : 1px solid white;
}
#postcontent .tabberlive .tabbertab {
padding : 5px;
border : #aaa solid 0;
border-top : 0;
}
#postcontent .tabberlive .tabbertab h2 {
display : none;
}
#postcontent .tabberlive .tabbertab h3 {
display : none;
}
#postcontent .tabberlive#tab2 .tabbertab {
height : 200px;
overflow : auto;
}
#toplink {
float : left;
margin : 0;
padding : 5px;
}
#no_comments {
float : right;
width : 88px;
height : 63px;
background-repeat : no-repeat;
background-attachment : scroll;
background-position : right bottom;
margin-top : 0;
margin-right : 0;
margin-bottom : 0;
margin-left : 0;
padding-top : 0;
padding-right : 0;
padding-bottom : 0;
padding-left : 0;
text-align : right;
}
#no_comments a {
color : #fff;
text-decoration : none;
padding-right : 35px;
font-size : 0;
}
#postfooter {
border : 0;
margin-bottom : 15px;
margin-top : 0;
font-weight : bold;
width : 515px;
}
#postfooter .graylink {
color : #ccc;
font-size : 18px;
text-decoration : none;
font-weight : normal;
}
#postfooter .graylink:hover {
text-decoration : none;
}
#postfooter a:hover {
text-decoration : none;
}
.post-comentarios {
margin-bottom : 10px;
padding-bottom : 0;
background : url(../images/hr.png) center bottom no-repeat;
}
.comentario {
margin : 0;
padding : 15px 0;
border-bottom : 1px dotted #ddd;
overflow : hidden;
}
.comentario:last-child {
border : 0;
}
.comentario .avatar {
float : left;
width : 100px;
height : 100px;
box-shadow : -5px 5px 15px 0 #9e9e9e;
border-top-right-radius : 20px;
border-bottom-left-radius : 20px;
}
.comentario .comentdesc {
float : right;
width : 523px;
line-height : 140%;
text-align : justify;
}
.comentario .comentdesc a {
color : #D50000;
text-decoration : none;
}
.comentario .comentdesc span {
color : #000;
}
.post-formulario {
background : #f0f4f7;
border : #d9e4ef solid 1px;
overflow : hidden;
box-shadow : -5px 5px 15px 0 #9e9e9e;
}
#commentform {
margin : 30px;
}
#comment {
max-width : 600px;
}
.calloutUp {
border-bottom : 25px solid #d9e4ef;
border-left : 25px dotted transparent;
border-right : 25px dotted transparent;
left : 0;
top : 0;
height : 0;
width : 0;
margin-top : -25px;
}
.calloutUp2 {
border-bottom : 25px solid #f0f4f7;
border-left : 25px dotted transparent;
border-right : 25px dotted transparent;
position : relative;
left : -25px;
top : 1px;
height : 0;
width : 0;
z-index : 11;
}
.post-formulario .izq {
float : left;
width : 312px;
margin-top : 5px;
overflow : hidden;
}
.post-formulario .der {
float : right;
width : 312px;
margin-top : 5px;
overflow : hidden;
}
.post-formulario label {
display : block;
line-height : normal;
margin-bottom : 4px;
}
.post-formulario .input {
width : 298px;
margin-bottom : 10px;
}
.post-formulario .boton {
margin-top : 10px;
}
.data-comment {
padding-bottom : 2px;
padding-bottom : 7px;
}
.autor-comment {
font-size : 16px;
padding : 0 20px 0 0;
}
.date-comment {
vertical-align : text-top;
padding-left : 10px;
background : url(images/calendar.gif) no-repeat;
}
.time-comment {
vertical-align : text-top;
padding-left : 10px;
background : url(images/clock.gif) no-repeat;
}
.edit-comment {
padding-left : 2px;
}
.par {
padding : 15px 20px 5px 20px;
background-color : #000;
color : #FFF;
min-height : 60px;
border-radius : 20px;
box-shadow : -5px 5px 15px 0 #9e9e9e;
}
.impar {
padding : 15px 20px 5px 20px;
background-color : #3f3f3f;
color : #FFF;
min-height : 60px;
border-radius : 20px;
box-shadow : -5px 5px 15px 0 #9e9e9e;
}
.par .triangle {
float : left;
border-color : transparent #000 transparent transparent;
border-style : solid;
border-width : 10px 15px 23px 0;
width : 0;
height : 0;
margin : 10px 0 0 -34px;
font-size : 0;
line-height : 0;
}
.impar .triangle {
float : left;
border-color : transparent #3f3f3f transparent transparent;
border-style : solid;
border-width : 10px 15px 23px 0;
width : 0;
height : 0;
margin : 10px 0 0 -34px;
font-size : 0;
line-height : 0;
}
.comment-number {
float : right;
font-family : Century Gothic;
font-size : 18px;
}
.messenger {
margin-top : 10px;
background : #f0f4f7;
border : #d9e4ef solid 1px;
}
.messenger h6 {
background : url(images/messenger.png) no-repeat;
padding-left : 35px;
margin : 5px;
}
.messenger h2 {
padding : 5px;
margin : 0;
}
.comment-form {
background : url(images/messenger.png) no-repeat;
}
.impar a:link {
color : #008080 !important ;
}
.impar a:hover {
color : #FC0 !important ;
}
.impar a:visited {
color : #FFF !important ;
text-decoration : line-through;
}
.par a:link {
color : #DB0000 !important ;
}
.par a:hover {
color : #FC0 !important ;
}
.par a:visited {
color : #FFF !important ;
text-decoration : line-through;
}
.input {
padding : 6px;
font-family : Arial, Helvetica, sans-serif;
font-size : 12px;
border : #DFDFDF solid 1px;
background : #F4F4F4;
}
.input:hover {
background : #fff;
}
.nombre {
background : url(images/author-form.png) no-repeat #fff;
height : 20px;
padding-left : 20px;
}
.email {
background : url(images/email-form.png) no-repeat #fff;
height : 20px;
padding-left : 20px;
}
.urlform {
background : url(images/url-form.png) no-repeat #fff;
height : 20px;
padding-left : 20px;
}
.botoncomentario {
padding : 7px 12px 7px 12px;
cursor : pointer;
color : #fff;
border : transparent solid 1px;
line-height : 27px;
text-shadow : 0 1px rgba(0, 0, 0, 0.1);
text-transform : uppercase;
background-color : #4d90fe;
transition : all 0.218s;
background-image : linear-gradient(#4d90fe, #4787ed);
border-radius : 2px;
}
.botoncomentario:hover {
border : #2f5bb7 solid 1px;
color : #fff;
text-shadow : 0 1px rgba(0, 0, 0, 0.3);
background-color : #357ae8;
background-image : linear-gradient(#4d90fe, #357ae8);
box-shadow : 0 1px 1px rgba(0, 0, 0, 0.2);
}
.botoncomentario:active {
box-shadow : 0 1px 2px rgba(0, 0, 0, 0.3) inset;
}
.botoncomentario :visited, .botoncomentario :visited, .botoncomentario :visited {
color : #fff;
}
.reading {
color : #fff;
text-decoration : none;
}
.comment input[type="text"], .contacto textarea {
padding : 7px 6px;
width : 294px;
border : #CED5D7 solid 1px;
resize : none;
box-shadow : 0 0 0 3px #EEF5F7;
margin : 5px 0;
}
.comment input[type="text"]:focus, .contacto textarea:focus {
outline : none;
box-shadow : 0 0 0 3px #dde9ec;
}
.comment input[type="submit"] {
border : #CED5D7 solid 1px;
box-shadow : 0 0 0 3px #EEF5F7;
padding : 8px 16px;
border-radius : 20px;
font-weight : bold;
text-shadow : 1px 1px 0 white;
background : #e4f1f6;
}
.comment input[type="submit"]:hover {
background : #edfcff;
}
.comment input[type="submit"]:active {
background : #cfe6ef;
}
.error {
font-weight : bold;
margin-left : 16px;
margin-top : 0;
position : absolute;
padding : 6px 12px;
color : #fff;
border : transparent solid 1px;
line-height : 27px;
text-shadow : 0 1px rgba(0, 0, 0, 0.1);
text-transform : uppercase;
background : #BC1010;
background-color : #c53727;
background-image : linear-gradient(#dd4b39, #c53727);
box-shadow : 0 1px 1px rgba(0, 0, 0, 0.2);
border-radius : 2px;
}
.error:before {
content : '';
border-top : 8px solid transparent;
border-bottom : 8px solid transparent;
border-right : 8px solid #cc3d2c;
border-left : 8px solid transparent;
left : -16px;
position : absolute;
top : 11px;
}
#gravatar-comments {
float : right;
margin-top : -160px;
margin-right : 5px;
}
#gravatar-comments p {
text-align : center;
}
.emos {
float : right;
margin-top : -50px;
}
.logged {
font-size : 22px;
}
.author-comments-name {
float : left;
margin-top : -47px;
margin-left : 55px;
}
.comments-pager {
margin-top : -50px;
margin-bottom : 0;
font-size : 14px;
text-align : center;
}
.comments-pager-bottom {
border : #3079ed solid 1px;
background : #4c8ffb;
padding : 5px 10px 5px 10px;
border-radius : 5px 5px 5px 5px;
box-shadow : -1px 1px 20px 0 #9e9e9e;
}
.comments-pager p {
margin : 0;
line-height : 2em;
}
.comments-pager a, .comments-pager a:link {
margin : 2px;
padding : 5px 10px 5px 10px;
cursor : pointer;
color : #fff;
border : transparent solid 1px;
line-height : 27px;
text-shadow : 0 1px rgba(0, 0, 0, 0.1);
text-transform : uppercase;
background-color : #d14836;
transition : all 0.218s;
background-image : linear-gradient(#dd4b39, #d14836);
border-radius : 2px;
}
.comments-pager a:hover {
border : #b0281a solid 1px;
color : #fff;
text-shadow : 0 1px rgba(0, 0, 0, 0.3);
background-color : #c53727;
background-image : linear-gradient(#dd4b39, #c53727);
box-shadow : 0 1px 1px rgba(0, 0, 0, 0.2);
}
.comments-pager a:active {
box-shadow : 0 1px 2px rgba(0, 0, 0, 0.3) inset;
}
.comments-pager span.pages {
margin : 2px;
padding : 5px 10px 5px 10px;
cursor : pointer;
color : #fff;
border : transparent solid 1px;
line-height : 27px;
text-shadow : 0 1px rgba(0, 0, 0, 0.1);
text-transform : uppercase;
background-color : #d14836;
transition : all 0.218s;
background-image : linear-gradient(#dd4b39, #d14836);
border-radius : 2px;
}
.comments-pager strong.current-comment-page {
margin : 2px;
padding : 5px 10px 5px 10px;
cursor : pointer;
color : #333;
border : #C6C6C6 solid 1px;
line-height : 27px;
text-shadow : 0 1px rgba(0, 0, 0, 0.1);
text-transform : uppercase;
background-color : #F8F8F8;
transition : all 0.218s;
background-image : linear-gradient(#F8F8F8, #F1F1F1);
border-radius : 2px;
}
.comments-pager span.extend {
margin : 2px;
padding : 5px 10px 5px 10px;
cursor : pointer;
color : #fff;
border : transparent solid 1px;
line-height : 27px;
text-shadow : 0 1px rgba(0, 0, 0, 0.1);
text-transform : uppercase;
background-color : #d14836;
transition : all 0.218s;
background-image : linear-gradient(#dd4b39, #d14836);
border-radius : 2px;
}
a:hover {
background : none;
text-decoration : none;
}
a.tooltip span {
display : none;
padding : 2px 3px;
margin-left : 8px;
width : 150px;
}
a.tooltip:hover span {
display : inline;
position : absolute;
background : #FFFFC6;
border : #000 solid 1px;
color : #6c6c6c;
}
#sidebar {
width : 330px;
background : url(images/logo.gif) top no-repeat #FFF;
float : left;
}
#both {
clear : both;
}
.title {
letter-spacing : -1px;
color : #000;
font-size : 18px;
padding : 7px;
}
#sidebar ul li {
padding : 5px;
list-style-image : url(images/bullet.png);
color : #000;
border-bottom : 1px dotted #a6a6a6;
width : 180px;
text-align : left;
}
#sidebar ul .nobullet {
padding : 5px;
list-style : none;
color : #525252;
list-style-image : none;
}
#sidebar ul li a {
text-decoration : none;
color : #2d2d2d;
}
#sidebar ul li a:hover {
font-weight : bold;
}
#wp-calendar tr td {
padding : 3px;
}
#wp-calendar tr td a {
border : #a6a6a6 solid 1px;
font-weight : bold;
}
#wp-calendar tr td a:hover {
font-weight : bold;
}
#wp-calendar tr #today {
border : #a6a6a6 solid 1px;
background : #f00;
color : #fff;
}
#wp-calendar caption {
padding : 3px;
color : #f00;
font-size : 13px;
font-weight : bold;
}
#footer {
height : 178px;
background : transparent;
margin : auto;
width : 900px;
text-align : center;
}
#footer a {
color : #F00;
}
#footer a:hover {
color : #f0c36d;
}
#menu-footer {
float : left;
text-align : left;
margin-left : -50px;
margin-right : 20px;
padding-right : 30px;
background : #000;
border-bottom-left-radius : 20px;
border-bottom-right-radius : 20px;
}
#menu-footer ul {
list-style : none;
margin-top : 10px;
}
#footer #twitter {
float : left;
background : url(images/twitter.png) center no-repeat;
height : 50px;
width : 50px;
margin-left : 20px;
margin-top : 30px;
cursor : pointer;
}
#footer #twitter span {
color : #fff;
font-weight : bold;
font-size : 18px;
margin-left : 60px;
}
#footer #twitter p:hover {
color : #f0c36d;
}
#footer #facebook {
float : left;
background : url(images/facebook.png) center no-repeat;
height : 50px;
width : 50px;
margin-left : -50px;
margin-top : 100px;
cursor : pointer;
}
#footer #facebook span {
color : #fff;
font-weight : bold;
font-size : 18px;
margin-left : 60px;
}
#footer #facebook p {
color : #F00;
font-size : 12px;
margin-left : 60px;
margin-top : -3px;
}
#footer #facebook p:hover {
color : #f0c36d;
}
#footer #CM {
float : right;
margin-top : 110px;
margin-right : 20px;
height : 68px;
width : 269px;
padding-top : 20px;
background : #000;
border-top-left-radius : 20px;
border-top-right-radius : 20px;
}
.made-in {
margin-top : 10px;
}
.made-in span {
color : #fff;
font-weight : bold;
}
.post-social {
margin : 0 0 20px 20px;
padding : 10px 10px 10px 10px;
float : left;
width : 567px;
background : #f0f4f7;
border : #d9e4ef solid 1px;
font-size : 12px;
line-height : 18px;
font-weight : bold;
color : #000;
}
.social-face {
float : left;
}
.social-goo {
float : left;
}
.social-printerest {
float : left;
margin-top:10px;
}
.border-burbuja1 {
border-color : #fff transparent transparent transparent;
border-style : solid;
border-width : 6px;
bottom : -12px;
height : 0;
left : 50px;
position : absolute;
width : 0;
}
.border-burbuja2 {
border-color : #bbb transparent transparent transparent;
border-style : solid;
border-width : 6px;
bottom : -13px;
height : 0;
left : 50px;
position : absolute;
width : 0;
}
.isos-logo a {
color : #FFF;
}
.the-com a {
display : inline-block;
background : url(images/socials/icomment.png) left center no-repeat;
padding-left : 16px;
margin : 0;
}
.the-view a {
display : inline-block;
background : url(images/socials/view.gif) left center no-repeat;
padding-left : 16px;
margin : 0;
}
.the-fecha {
display : inline-block;
background : url(images/socials/fecha.gif) left center no-repeat;
padding-left : 16px;
}
.post-tag {
margin : -10px 0 0 20px;
padding : 8px 10px;
float : left;
width : 567px;
background : #f0f4f7;
border : #d9e4ef solid 1px;
font-size : 12px;
line-height : 18px;
font-weight : bold;
color : #000;
}
.post-tag a {
font-weight : normal;
color : #036;
text-decoration : underline;
}
.post-tag a:hover {
font-weight : normal;
color : #000;
text-decoration : none;
}
.the-tag-com a {
display : inline-block;
background : url(images/socials/icomment.png) left center no-repeat;
padding-left : 16px;
margin : 0;
font-size : 14px;
}
.the-tag-view a {
display : inline-block;
background : url(images/socials/view.gif) left center no-repeat;
padding-left : 16px;
margin : 0;
}
.the-tag-fecha {
display : inline-block;
background : url(images/socials/fecha.gif) left center no-repeat;
padding-left : 16px;
margin-top : 10px;
font-size : 14px;
}
#fade {
display : none;
background : #000;
position : fixed;
left : 0;
top : 0;
width : 100%;
height : 100%;
opacity : 0.800000011920928955078125;
z-index : 9999;
}
.popup_block {
display : none;
background : #fff;
padding : 20px;
border : #ddd solid 10px;
float : left;
font-size : 1.2em;
position : fixed;
top : 50%;
left : 50%;
z-index : 99999;
box-shadow : 0 0 20px #000;
border-radius : 10px;
}
img.btn_close {
float : right;
margin : -55px -55px 0 0;
}
.sidreg {
background : url(images/Alert.gif) left no-repeat;
padding-left : 20px;
}
#postcontent div.klappbox {
margin-bottom : 20px;
padding-left : 25px;
}
#postcontent div.klapp {
text-align : right;
padding-bottom : 30px;
padding-top : 5px;
}
#postcontent div.klappo {
text-align : left;
padding-bottom : 30px;
padding-top : 5px;
}
#postcontent div.klappo ul {
list-style-type : none;
}
#postcontent div.klappo ul.bullet {
list-style-type : disc;
}
#postcontent table.klapp {
width : 100%;
border : 0;
border-spacing : 0;
margin-top : 15px;
border-width : 0;
border-style : none;
}
#postcontent table.klapp tr {
border-style : solid;
border-width : 0;
border-bottom : 1px solid #00204E;
}
#postcontent table.klapp td {
border-style : solid;
border-width : 0;
}
#postcontent tr.klapptitel td {
border-width : 0;
border-style : solid;
border-bottom : 1px solid #00204E;
}
#postcontent table.klapp tr th {
border-width : 0;
border-style : none;
border-color : #fff;
background : #fff;
color : #fff;
text-align : center;
}
#postcontent tr.klapptitel {
vertical-align : bottom;
}
#postcontent tr.klapptitel td {
border-bottom : 1px solid #00204E;
}
#postcontent tr.klapptitel td a {
text-decoration : none;
}
#postcontent tr.klapp td a {
text-decoration : none;
}
#postcontent tr.klapptitel td div {
font-size : 18px;
font-weight : normal;
color : black;
}
#postcontent tr.klapptitel td div:hover {
color : #00204E;
}
#postcontent tr.klapptitel td div:link {
color : #333;
}
.wp-pagenavi a, .wp-pagenavi a:link {
margin : 2px;
padding : 5px 10px 5px 10px;
cursor : pointer;
color : #fff;
border : transparent solid 1px;
line-height : 27px;
text-shadow : 0 1px rgba(0, 0, 0, 0.1);
text-transform : uppercase;
background-color : #d14836;
transition : all 0.218s;
border-radius : 2px;
}
.wp-pagenavi a:hover {
border : #b0281a solid 1px;
color : #fff;
text-shadow : 0 1px rgba(0, 0, 0, 0.3);
background-color : #c53727;
box-shadow : 0 1px 1px rgba(0, 0, 0, 0.2);
}
.wp-pagenavi a:active {
box-shadow : 0 1px 2px rgba(0, 0, 0, 0.3) inset;
}
.wp-pagenavi span.pages {
margin : 2px;
padding : 5px 10px 5px 10px;
color : #fff;
border : transparent solid 1px;
line-height : 27px;
text-shadow : 0 1px rgba(0, 0, 0, 0.1);
text-transform : uppercase;
background-color : #d14836;
transition : all 0.218s;
border-radius : 2px;
}
.wp-pagenavi span.current {
margin : 2px;
padding : 5px 10px 5px 10px;
color : #333;
border : #C6C6C6 solid 1px;
line-height : 27px;
text-shadow : 0 1px rgba(0, 0, 0, 0.1);
text-transform : uppercase;
background-color : #F8F8F8;
transition : all 0.218s;
border-radius : 2px;
}
.wp-pagenavi span.extend {
margin : 2px;
padding : 5px 10px 5px 10px;
color : #fff;
border : transparent solid 1px;
line-height : 27px;
text-shadow : 0 1px rgba(0, 0, 0, 0.1);
text-transform : uppercase;
background-color : #d14836;
transition : all 0.218s;
border-radius : 2px;
}
.pages {
text-align : left;
margin-top : 70px;
margin-bottom : 50px;
padding-bottom : 10px;
}
#message {
cursor : pointer;
display : block;
display : none;
z-index : 999;
opacity : 0.5;
position : fixed;
top : 100%;
left : 80%;
margin-top : -80px;
margin-left : 100px;
line-height : 48px;
height : 40px;
width : 40px;
padding : 10px;
background : url(images/arrowtop.png) left no-repeat;
transition : opacity 0.2s ease-in-out;
}
#message:hover {
opacity : 0.699999988079071044921875;
}
#message:active {
opacity : 0.89999997615814208984375;
}
#top {
position : relative;
left : 0;
top : 0;
height : 0;
width : 0;
z-index : 1334;
}
.login-container {
border : gray solid 0;
margin-bottom : 10px;
}
.login-container > .avatar_container, .pagenav {
float : left;
padding-top : 20px;
}
.login-container > .pagenav {
float : right;
margin-top : -3px;
}
#loginform {
border : gray solid 1px;
}
#loginform > .login-username, .login-password {
white-space : pre-line;
padding-left : 50px;
padding-top : 10px;
}
#user_login, #user_pass {
width : 75%;
}
#loginform > .user_login, .user_pass, .login-remember, .login-submit {
padding-left : 50px;
}