@charset utf-8;
body,html,div,h1,h2,h3,p,a,em,i,ul,li,span,samp,input,select,button,form{margin:0;padding:0}
body{font-family:"Microsoft Yahei","Times New Roman", Arial,sans-serif;font-size:12px}
ul,li{list-style:none}
em,i{font-style:normal}
a{text-decoration:none}
a:hover{text-decoration:none}
img{border:none}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
input,button,select{outline:none;font-family:"microsoft yahei"}
.clear{clear:both}
.fl{float:left}
.fr{float:right}
.mt14{margin-top:14px}
.mt15{margin-top:15px}
.mt18{margin-top:18px}
.mt20{margin-top:20px}
.mt24{margin-top:24px}
.mr20{margin-right:20px}
/*header*/
.site-nav-bg{background:#f7f7f7;border-bottom:1px solid #eaeaea}
.site-nav{width:970px;height:40px;margin:0 auto;line-height:40px}
.site-nav .weibo{float: left;width: 135px;height: 25px;position: relative;top: 8px;overflow: hidden;}
.site-nav .link-s{display:block;float:left;width:60px;height:40px;padding-left:25px;text-indent:6px;color:#333}
.site-nav .site-serve{float:right;height:40px;overflow:hidden}
.site-nav .site-serve a{display:block float: left;margin-left:10px;color:#999}
/*head*/
.head-wrap{width:970px;height:63px;margin:0 auto;padding-bottom:20px}
.head-wrap .logo{float:left;width:287px;height:43px}
.head-wrap .logo a{display:block;width:254px;height:43px;background:url(../images/logo.png) no-repeat}
.head-wrap .iwine{float:left;width:82px;height:23px}
.head-wrap .iwine a{display:block;width:100%;height:100%;padding-top:28px;background:url(../images/iwine.png) no-repeat;font-size:12px;color:#999}
.head-wrap .city-news{float:left;width:41px;height:43px}
.head-wrap .city-news a{display:block;width:100%;height:100%;background:url(../images/city-news.png) no-repeat 0 5px}
.head-wrap .v-line{float:left;width:1px;height:38px;margin:24px 12px 0;background:#eaeaea}
.search-select{position:relative;z-index:3;float:left;width:60px}
.search-select p{width:57px;height:32px;line-height:32px;padding-left:4px;color:#333;border:2px solid #f7f7f7;border-left:none;border-right-width:1px;cursor:pointer;font-size:14px}
.search-select .select-down{background:url(../images/icon-down.png) no-repeat 40px 15px}
.search-select .select-top{background:url(../images/icon-up.png) no-repeat 40px 15px}
.search-select .search-type-list{display:none;position:absolute;z-index:9999;top:34px;width:61px;border:1px solid #cacaca;border-top:none;background:#fff}
.search-select .search-type-list a{display:block;height:24px;line-height:24px;text-indent:6px;color:#333;font-size:14px}
.search-select .search-type-list a:hover{background:#eaeaea}
.search-wrap{float:left;height:36px;margin-top:24px;margin-left:50px;border:1px solid #cacaca;border-right:none}
.search-wrap .sea{float:left;width:300px;height:36px;background:#fff}
.search-wrap .s-text{float:left;width:231px;height:32px;padding-left: 5px;border:2px solid #f7f7f7;border-right:none; font:14px/32px "microsoft yahei";color:#666;background:#FFF;}
.search-btn-wrap{float:left;border:1px solid #cacaca}
.search-btn-wrap .s-line{float:left;display:block;width:1px;height:36px;background:#cacaca}
.search-btn-wrap .s-btn{float:left;width:90px;height:36px;border:1px solid #FFF;line-height:33px;background:#f7f7f7;cursor:pointer;color:#333}
.s-btn:hover{background:#F4F4F4}
/*menu */
.menu{width:948px;height:56px;margin:0 auto;padding:10px 0 10px 20px;background:#F7F7F7;font-size:16px;border:1px solid #D7D7D7}
.menu div{float:left;display:inline;margin-right:18px;padding-right:16px;border-right:1px dashed #D7D7D7;line-height:28px;color:#FFF ;}
.menu div a{color:#888}
.menu .start{padding-right:10px}
.menu .start a{margin-right:10px}
.menu div strong a{font-size:16px;font-weight:normal;color:#333}
.menu div strong.out-left a{margin-left:4px}
.menu div span{padding:0 2px;}
.menu .last{margin-right:0;border-right:none}
/*main*/
.main{width:970px;margin:0 auto}
.main-left{float:left;width:680px;overflow:hidden}
.main-right{float:right;width:270px;overflow:hidden}
/*main-title*/
.main-title{width:100%;position:relative}
.main-title h2{width:100%;padding:18px 0;font-size:18px}
.main-title h2 a{color:#333}
.main-title .line-wrap{width:100%;height:2px;overflow:hidden}
.line-wrap .y-line,.line-wrap .b-line{display:inline-block;height:2px}
.line-wrap .y-line{float:left;background:#FF8F00}
.line-wrap .b-line{float:right;background:#6D6D6D}
.line-wrap .y-line.l-65{width:65px}
.line-wrap .b-line.l-680{width:613px}
.line-wrap .b-line.l-203{width:203px}
.line-wrap .b-line.l-263{width:263px}
/*w270 3色块*/
.w270-color-block{height: 30px;margin-left: -5px;margin-top: 12px;}
.w270-color-block a{display: block;width: 86px;float: left;margin-left: 5px;height: inherit;line-height: 30px;text-align: center;color: #FFF;}
.block-ff8{background:#ff8f00}
.block-c07{background:#C07246}
.block-7a7{background:#666}
.block-ff8:hover{background:#d4865a}
.block-c07:hover{background:#d5b695}
.block-7a7:hover{background:#7a7a7a}
/*新闻资讯*/
.top-news-wrap{width:100%;height:100%;overflow:hidden}
.slider-wrap{float:left;width:330px;margin-right:20px}
.focus-box{position:relative;z-index:1;width:330px;height:245px;overflow:hidden}
.focus-box .inner-bt{position:absolute;display:none;z-index:999;top:100px;width:15px;height:22px;background:#000;cursor:pointer;background:url(../images/ad_ctr.png) no-repeat;filter:alpha(opacity=40);opacity:0.4}
.focus-box .prev{left:0;background-position:0 -25px}
.focus-box .next{right:0;background-position:0 0}
.focus-box .prev:hover,.focus-box .next:hover{filter:alpha(opacity=70)!important;opacity:0.7!important}
.focus-box .pic li{position:absolute;width:330px;left:0;top:0;display:none}
.focus-box .pic-idx img{width:330px;height:245px;display:block}
.focus-box .txt{position:absolute;bottom:0;z-index:2;height:36px;width:100%;overflow:hidden;background:rgba(0,0,0,0.4);background:#000\9;filter:alpha(opacity=40)\9}
.focus-box .txt li{position:absolute;line-height:36px}
.focus-box .txt li a{position:relative;display:block;width:230px;padding-left:10px;color:white;overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.focus-box .num{position:absolute;z-index:3;bottom:12px;right:8px}
.focus-box .num li{float:left;position:relative;width:18px;height:15px;line-height:15px;margin-right:1px;text-align:center;cursor:pointer;text-indent:9999px;background:url(../images/bj.png) no-repeat 0 -23px;overflow:hidden}
.focus-box .num li.on,.focus-box .num li:hover{background:url(../images/bj.png) no-repeat 0 3px}
/*视频新闻 */
.video-news{margin-top:10px;width:330px;height:121px;position:relative;overflow:hidden}
.video-news ul{width:340px}
.video-news li{float:left;height:121px;margin-right:8px}
.video-news li a{position:relative;display:block;width:105px;height:65px;overflow:hidden}
.video-news li span{display:block;width:85px;height:36px;border: 10px solid #F7F7F7; line-height:18px;white-space:normal;background:#F7F7F7;color:#999;overflow:hidden}
.video-news .video-btn{position:relative;display:block;z-index:999;top:-29px;left:5px;width:20px;height:20px;background:url(../images/bj.png) no-repeat -5px -235px;cursor:pointer}
/*新闻资讯类别*/
.hot-class{position:absolute;right:0;top:18px}
.hot-class li{float:left;margin-left:10px}
.hot-class li a{display:block;color:#333;font-size:16px}
.hot-class li a:hover{color:#ff8f00}
.new-hot{float:left;margin-top:12px}
.news-list.acr-expert{width:270px;height:140px;margin-top: 11px;}
.news-list.new-hot li a,
.news-list.acr-expert li a{height:24px;line-height:24px}
.news-list li a{color:#333}
.news-list.right-270{float:right;width:270px !important; }
.news-list.news-t ul li a,
.news-list.font-12-24 ul li a{height:24px;line-height:24px;font-size:12px !important;}
.sjs-wrap,.forum-list{float:right;width:270px}
.news-list.forum-list ul li a{font-size:12px !important;}
.news-list.new-t-s li a{line-height:22px;height:22px;font-size:12px !important;}
/*热点专题*/
.index-hot{height:72px;width:270px;margin-top:18px;overflow:hidden}
.top-s-img{display:block;float:left;width:85px;height:72px;margin-right:20px}
.index-hot-text{float:left;width:164px;overflow:hidden}
.index-hot-text li{width:100%;height:18px;line-height:18px;font-size:14px;float:left}
.index-hot-text li a{color:#333}
.main-right-people{font-size:16px;height:64px;width:270px;line-height:64px}
.main-right-people a{color:#333}
.index-expert{margin-top:18px}
.pic-top-wrap{height:72px;overflow:hidden}
.pic-top-title{display:block;float:left;margin-bottom:8px;font-size:14px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.pi164{width:164px}
.pi225{width:225px}
.pic-top-info{height:45px;line-height:15px;float:left;display:block;color:#b2b2b2}
.pic-top-title a{color:#333}
/*广告*/
.index-adv{width:100%;height:100px;margin-top:18px;overflow:hidden}
.index-adv img{height:90px}
.index-adv .length-part{float:left;display:block;width:697px}
.index-adv .short-part{float:right;display:block;width:270px;overflow:hidden}
.index-adv .all-part{display:block;width:100%}
.index-adv-697x100 { width:697px; float:left;}
.index-adv-268x100 { width:268px; float:right;}
/*右侧广告*/
.index-main-adv{float:right;width:270px;margin-top:22px}
.index-main-adv a{display:block;width:270px;margin-bottom:22px}
.index-main-adv a img{width:270px}
/*列表*/
.center-news-wrap{height:718px;overflow:hidden}
.center-news-wrap .news-left{float:left;width:330px}
.center-news-wrap .news-right{float:left;margin-left:20px;width:330px}
.news-list{width:330px;overflow:hidden}
.main-title .index-other{float:right;height:14px;display:block;position:absolute;top:20px;right:0}
.news-list ul li a{display:block;width:100%;line-height:22px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;font-size:14px}
.tabnav{display:block;float:left;width:14px;height:18px;margin-left:2px;margin-right:2px;cursor:pointer;background:url(../images/bj.png) no-repeat 0 -23px}
.tabnav_now{background:url(../images/bj.png) no-repeat 0 3px}
.index-supplys{height:285px;overflow:hidden}
.index-function{height:30px;padding:7px 0 20px}
.index-function li{float:left}
.index-function li a{display:block;width:106px;height:30px;line-height:30px;text-align:center;color:#fff}
.index-gongqiu{background:#ff8f00;margin-right:5px}
.index-gongqiu:hover{background:#d4865a}
.index-hezuo{background:#C07246;margin-right:5px}
.index-hezuo:hover{background:#d5b695}
.index-zhaoshang{background:#666666}
.index-zhaoshang:hover{background:#7a7a7a}
.bottom-news-wrap{overflow:hidden}
.new-right-btn{position:absolute;right:0;top:19px}
.index-jiushi-right{width:100px;height:25px;margin-top:8px;line-height:25px;color:#fff;font-size:14px;text-align:center;background-color:#ff9100}
.index-jiushi ul li a{display:block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;width:100%;height:22px;line-height:22px;color:#333;font-size:14px}
.index-jiushi ul li a:hover{color:#ff8f00}
.index-club{float:right;width:270px}
.index-club .club-mang{position:absolute;right:0;top:0;padding:18px 0;line-height:18px;font-size:16px}
.index-club .club-mang span.line{position:relative;display:inline-block;top:3px;margin:0 4px;width:2px;height:18px;background:#bcbcbc}
.index-club .club-mang a{color:#999}
.index-club-totle{margin-top:14px;height:30px;width:270px;border-bottom:1px #ccc dashed;font-size:14px}
.index-club-totle span{float:left; display:inline-block;line-height:30px; width: 135px;overflow: hidden;white-space: nowrap; text-overflow: ellipsis;}
.index-club-totle span a{color:#c17246}
.index-club-notice span{margin:4px 0;font-size:14px;color:#c07246;display:block}
.index-club-notice ul li{float:left}
.index-club-notice ul li a{display:block;width:257px;height:23px;line-height:23px;color:#333;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.index-club-notice ul li a:hover{color:#ff8f00}
.index-club-notice.ul-1{border-bottom:1px dashed #ccc;overflow:hidden}
/*iwine*/
.wine-see{margin-top:18px;height:816px;overflow:hidden}
.wine-see .see-left,.wine-see .see-center{float:left;width:330px;margin-right:20px}
.wine-see .see-right{float:left;width:270px;overflow:hidden}
.index-experts{float:left;width:330px}
.index-experts-title{position:relative;width:320px;height:35px;padding-left:10px;background:#ebebeb;overflow:hidden}
.index-experts-title a{display:block;width:100px;height:35px;line-height:35px;padding-left:25px;margin-right:105px;color:#333;font-size:18px;float:left;background:url(../images/bj.png) no-repeat 0 -420px}
.index-experts-title span{display:inline-block;width:11px;height:25px;cursor:pointer;margin:0 3px;float:right}
.index-experts-first{background:url(../images/bj.png) no-repeat 0 -15px}
.index-experts-second{background:url(../images/bj.png) no-repeat 0 13px}
.index-exeprts-list{margin-top:5px;padding:0 13px;padding-top:10px}
.index-exeprts-list li{width:297px;height:70px;margin-bottom:8px;border:1px #ccc solid;background:#fff}
.index-experts-paper a{display:block;width:55px;height:55px;margin:6px;border:1px #ccc solid}

.index-experts-text{width:215px;height:72px;margin-left:5px}
.index-experts-text h3{height:25px;line-height:25px;color:#000}
.index-experts-text h3 a{display:block;width:215px;font-size:14px;color:#000;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.index-experts-text p{width:170px;color:#b8b8b8;line-height:21px;margin-top:0;display:block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.index-experts-text p span{position:relative;top:-4px}
.index-exeprte-li_position{position:absolute;width:300px}
.index-experts-font{position:relative;left:250px;top:30px;width:36px;height:36px;line-height:36px;text-align:center;font-size:14px;color:#fff;background:url(../images/bj.png) no-repeat -2px -155px}
.index-public{width:330px}
.index-public-title{position:relative;width:320px;height:35px;padding-left:10px;background:#ebebeb;overflow:hidden}
.index-public-title .index-other,.index-experts-title .index-other{position:absolute;right:12px;top:8px}
.index-public-title a{display:block;width:100px;height:35px;line-height:35px;padding-left:25px;margin-right:105px;color:#333;font-size:18px;float:left;background:url(../images/bj.png) no-repeat 0 -420px}
.index-public-title span{display:inline-block;width:11px;height:25px;cursor:pointer;margin:0 3px;float:right}
.index-experts-public_bg{background:#f2f2f2;height:338px;margin-top:5px}
.index-public-list{margin-top:5px;padding:0 13px;padding-top:/* height:320px*/9px}
.index-public-list li{width:297px;height:150px;margin-bottom:8px;border:1px #ccc solid;background:#fff}
.index-public-head{padding:5px;height:45px}
.index-public-head a{display:block;width:35px;height:35px;margin:6px;float:left;border:1px #ccc solid}
.index-public-head span{display:block;width:170px;color:#b8b8b8;float:left;margin:5px 0; height: 18px;overflow: hidden;text-overflow: ellipsis; white-space: nowrap;}
.index-public-head div{width:170px}
.index-public-text{width:280px;padding:0 10px}
.index-public-text h3{line-height:25px;color:#000}
.index-public-text h3 a{display:block;width:220px;font-size:14px;color:#000;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.index-public-text span{display:block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;color:#b8b8b8;line-height:21px;margin-top:0;width:280px}
.index-public-text p{color:#333;line-height:21px}
.index-public-photo{position:relative;width:55px;height:55px;top:10px;left:230px;border:1px #ccc solid;z-index:999}
.index-pos-paper a img,
.index-public-photo a img,
.index-experts-paper a img,
.index-relation-paper a img{max-width: 55px;max-height: 55px;}
.index-trends{width:270px}
.index-trends h2{width:260px;height:35px;line-height:35px;font-size:18px;padding-left:10px;background:#ebebeb}
.index-trends ul{height:59px;overflow:hidden;margin-top:5px;padding:18px 12px;background:#f2f2f2}
.index-trends ul li{width:240px}
.index-trends ul li a{display:block;width:240px;height:20px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;line-height:25px;color:#333}
.index-wine-search{width:270px;margin-top:5px}
.index-wine-search h2{height:35px;line-height:35px;font-size:18px;padding-left:10px;background:#ebebeb}
.index-wine-search ul{height:120px;margin-top:5px;padding:18px 12px;background:#f2f2f2/* position:absolute*/}
.index-wine-search ul li{width:250px;height:30px;line-height:30px}
.index-wine-search ul li span.t{float:left}
.index-wine-search ul li select{width:205px;height:25px;outline:medium none}
.index-wine-search ul li input{width:193px;height:25px;padding:0 5px;line-height:25px;border:1px #ccc solid;float:left;color:#999}
.index-wine-searchs{height:40px;background:#f2f2f2}
.index-wine-searchs a{display:block;width:120px;height:30px;line-height:30px;color:#fff}
.index-wine-searchs span{padding-right:40px;background:url(../images/bj.png) 0 -1043px}
.index-search-left{background:#ff9100;margin-right:10px}
.index-search-right{background:#6d6d6d}
.index-pos{width:330px;margin-top:18px}
.index-pos-title{width:320px;height:35px;padding-left:10px;background:#ebebeb}
.index-pos-title a{display:block;width:100px;height:35px;line-height:35px;font-size:18px}
.index-pos-title-left{padding-left:25px;font-size:16px;color:#333;background:url(../images/bj.png) no-repeat 0 -475px}
.index-pos-title-right{font-size:14px !important;text-align:center;color:#fff;background:#ff9100}
.index-pos-title span{display:inline-block;width:10px;height:25px;cursor:pointer;margin:0 3px}
.index-pos-list{overflow:hidden;margin-top:10px;margin-left:/* background:#f7f7f7;*/13px}
.index-pos-list li{width:297px;height:70px;padding:5px 0;margin-bottom:8px;border:1px #ccc solid;background:#fff}
.index-pos-paper a{display:block;width:55px;height:55px;margin:6px;border:1px #ccc solid;overflow:hidden}
.index-pos-text{width:215px;margin-left:5px}
.index-pos-text h3{line-height:25px;font-size:14px;color:#000}
.index-pos-text h3 span{color:#c17246;margin-right:5px}
.index-pos-text p{height:21px;width:200px;overflow:hidden;color:#9e9e9e;padding-left:20px;line-height:21px;background:url(../images/index_145.gif) no-repeat left center}
.index-pos-text a{display:block;width:200px;color:#000;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.index-pos-text p a{color:#b8b8b8}
.index-pos-text a.phone{color:#b8b8b8;line-height:21px;padding-left:20px;background:url(../images/index_149.gif) no-repeat left center}
.index-pos-relation_bg{background:#f7f7f7;height:380px;overflow:hidden;margin-top:5px}
.index-relation{width:330px;margin-top:18px}
.index-relation-title{width:320px;height:35px;padding-left:10px;background:#ebebeb}
.index-relation-title a{display:block;width:130px;height:35px;line-height:35px;font-size:18px}
.index-relation-title-left{padding-left:25px;font-size:16px;color:#333;background:url(../images/bj.png) no-repeat 0 -535px}
.index-relation-title-right{font-size:14px !important;text-align:center;color:#fff;background:#ff9100}
.index-relation-title span{display:inline-block;width:10px;height:25px;cursor:pointer;margin:0 3px}
.index-relation-list{overflow:hidden;margin-top:10px;margin-left:13px/*background:#f7f7f7;*/}
.index-relation-list li{width:297px;height:70px;padding:5px 0;margin-bottom:8px;border:1px #ccc solid;background:#fff}
.index-relation-paper a{display:block;width:55px;height:55px;margin:6px;border:1px #ccc solid;overflow:hidden}
.index-relation-text{width:215px;margin-left:5px}
.index-relation-text a{display:block;width:215px;color:#000;font-size:12px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.index-relation-text h3{line-height:25px;color:#000}
.index-relation-text h3 span{margin-right:5px}
.index-relation-text p{height:21px;width:215px;color:#9e9e9e;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.index-relation-text span{color:#FF8F00;font-size:14px}
/*e店*/
.index-eshop{width:270px;margin-top:20px}
.index-eshop-title{width:270px;height:35px;background:#ebebeb}
.index-eshop-title a{display:block;width:110px;height:35px;line-height:35px}
.index-eshop-left{padding-left:25px;background:url(../images/bj.png) no-repeat 0 -608px}
.index-eshop-right{font-size:14px;text-align:center;color:#fff;background:#ff9100}
.index-eshop-main{overflow:hidden;margin-top:5px;background:#f7f7f7}
.index-eshop-main_bg{height:380px;width:270px;margin-top:5px;background:#f7f7f7}
.index-eshop-list{width:95px;height:350px;margin-top:11px}
.index-eshop-list li a{display:block;width:90px;height:69px;text-align:center;background:#fff;color:#c17246}
.index-eshop-wine{width:90px;height:69px;border:1px solid #ccc;border-bottom:none}
.index-eshop-list li{width:90px;height:69px;border:1px solid #ccc;border-bottom:none}
.index-eshop-list li.index-eshop-other{border-bottom:1px solid #ccc}
.index-eshop-list span{display:block;width:90px;height:40px;background:url(../images/bj.png) no-repeat}
.index-eshop-other{width:90px;height:69px;border:1px solid #ccc}
.index-eshop-wine span{background-position:30px -665px}
.index-eshop-jiuju span{background-position:30px -740px}
.index-eshop-book span{background-position:30px -805px}
.index-eshop-shebei span{background-position:30px -870px}
.index-eshop-other span{background-position:30px -949px}
.index-eshop-totle{width:150px;height:350px;margin-top:13px}
.index-eshop-totle .eshop-number{height:21px;width:150px;line-height:21px}
.index-eshop-totle .eshop-number span{color:#c17246}
.index-eshop-new{width:139px;height:35px;line-height:35px;margin:8px 0;padding-left:10px;background:#fff;border-bottom:1px #eaeaea solid;border-left:1px #eaeaea solid;border-top:1px #eaeaea solid}
.index-eshop-new a{font-size:16px;color:#c17246}
.index-eshop-name{padding:10px 5px 10px 0}
.index-eshop-name li{height:22px;line-height:22px;background:url(../images/hedian.png) no-repeat left center}
.index-eshop-name li a{padding-left:12px;color:#333;display:block;width:130px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
/*葡萄酒博览*/
.index-wines{width:970px;margin-top:10px}
.index-expo{float:left;width:680px;overflow:hidden}
.index-expo-left{float:left;width:330px;margin-right:20px}
.index-expo-list{margin:18px 0;height:72px;overflow:hidden}
.index-expo-list li{float:left;height:63px;line-height:22px;font-size:14px}
.index-list-first{width:75px;border-right:1px #ccc solid}
.index-list-first a{display:block;width:60px;height:22px;color:#888;background:url(../images/bj.png) no-repeat 25px -1078px}
.index-list-first a:hover{color:#ff8f00}
.index-list-second{width:110px;border-right:1px #ccc solid;margin-left:35px}
.index-list-second a{display:block;width:100px;color:#888;background:url(../images/bj.png) no-repeat 55px -1078px}
.index-list-second a:hover{color:#ff8f00}
.index-list-third{width:70px;margin-left:35px}
.index-list-third a{display:block;width:70px;color:#888;background:url(../images/bj.png) no-repeat 55px -1078px}
.index-list-third a:hover{color:#ff8f00}
.index-expo-video{width:330px;height:230px;overflow:hidden;position:relative}
.index-expo-text{width:330px;height:50px;position:absolute;left:0;bottom:0;background:#000;opacity:.8;filter:alpha(Opacity=80)}
.index-expo-btn{display:block;width:40px;height:50px;float:left;background:url(../images/bj.png) no-repeat 5px -220px}
.index-expo-text a{color:#fff;vertical-align:middle;display:table-cell;height:50px}
.index-expo-text p{width:205px;height:50px;display:table-cell;vertical-align:middle;color:#fff;line-height:21px;float:left}
.index-expo-text ul{float:left;padding-top:10px;height:35px;margin-top:10px}
.index-expo-text span{display:block;width:15px;height:25px;float:left}
.index-expo-right{float:left;width:330px}
.index-expo-lists{height:72px;margin:18px 0 14px}
.tb18-14{margin-top:18px;margin-bottom:14px}
/*葡萄酒播客*/
.index-podcast{float:left;width:330px;margin-right:20px;overflow:hidden}
.index-podcast ul{width:340px;margin:18px 0 -6px}
.index-podcast .index-podcsast-first{float:left;width:105px;height:125px;margin-right:7px;margin-bottom:6px;overflow:hidden;background:#F7F7F7}
.index-podcast .index-podcsast-first a{display:block;width:105px;height:60px;overflow:hidden;position:relative}
.index-podcsast-first .video-btn{width:20px;height:20px;display:block;background:url(../images/bj.png) no-repeat -5px -235px;z-index:999;position:relative;top:-29px;left:5px;cursor:pointer}
.index-podcsast-first .video-title{padding:0 8px;height:40px;line-height:20px;overflow:hidden}
.index-podcast ul li font{color:#c17246;float:left;text-indent:8px;font-size:12px}
/*论坛新帖*/
.school-wrap{width:100%;overflow:hidden}
/*葡萄酒基础培训*/
.index-train{float:left;width:330px;margin:0 20px 0 0;height:335px}
.train-box{position:relative;width:330px;height:260px;margin-top:18px;background:#F7F7F7}
.train-box .pic{width:330px;height:260px;overflow:hidden}
.train-box .pic li img{width:330px;height:142px}
.train-box .pic li a.s-img{width:330px;height:142px;display:block;overflow:hidden}
.train-box .pic li h4{width:100%;height:26px;line-height:26px;margin:0;padding-top:12px;font-size:18px;text-indent:16px;color:#c07246}
.train-box .pic li p{height:20px;margin-bottom:10px;line-height:20px;font-size:12px;color:#333;text-indent:16px}
.train-box .pic li .icon-b-btn{margin-left:16px}
.train-box .hd{position:absolute;bottom:30px;right:20px}
.train-box .hd li{float:left;display:inline-block;width:14px;height:14px;margin:0 2px;text-indent:99999px;background:url(../images/bj.png) no-repeat 0 -23px;overflow:hidden;cursor:pointer}
.train-box .hd li.on{background:url(../images/bj.png) no-repeat 0 3px}
/*友情链接*/
.link-wrap{height:100%;overflow:hidden}
.link-wrap .link-title{width:970px;margin:0 auto;padding:18px 0;text-align:left;font-size:18px}
.flink{padding:18px 0;border-top:1px solid #ccc}
.flink ul{width:970px;margin:0 auto;overflow:hidden}
.flink ul li{float:left;width:96px;height:22px;line-height:22px;margin-right:11px}
.flink ul li a{color:#333}
/*版权*/
.footer{padding:50px 0;border-top:2px #eaeaea solid;text-align:center;background:#f3f3f3}
.footer ul{margin-bottom:20px}
.footer ul li{display:inline-block;height:25px;line-height:25px;font-size:16px}
.footer ul li a span{color:#ccc;margin:0 5px}
.footer p{height:30px;line-height:30px}
.footer p.in-qq iframe{position:relative;top:6px}
.footer p span{color:#ccc;margin:0 5px}
.footer .p-liul{margin-top:10px}
.footer .p-liul a{margin:0 4px}
.footer a{color:#333}
/*悬浮导航*/
#floatPanel{width:255px;height:auto;position:fixed;right:15px;bottom:50px;overflow:hidden;z-index:10000;_position:absolute;_top:expression(documentElement.scrollTop+300)}
#floatPanel .code{display:none;position:absolute;left:0;top:0;width:180px;height:180px;text-align:center;vertical-align:middle;background:#b2b2b2;z-index:999}
#floatPanel .code:before{display:block;content:"";position:absolute;right:-20px;top:50%;border-width:10px;border-style:solid;border-color:transparent transparent transparent #b2b2b2;margin-top:-10px}
#floatPanel .code img{margin-top:10px;width:90%}
#floatPanel .code span{position:absolute;bottom:0;left:48px}
#floatPanel a{display:block;width:100%;height:55px;margin-bottom:2px;background:url(../images/fixed-icon.png)}
#floatPanel .floatPanel-btn{position:relative;float:right;width:55px}
#floatPanel .qrcode{background-position:0 -171px}
#floatPanel .arrow{position:absolute;display:block;width:98px;height:88px;left:90px;top:10px;background:url(../images/fixed-icon.png);background-position:0 -228px;
-webkit-animation: play 2s ease-in-out infinite;
-moz-animation: play 2s ease-in-out infinite;
-ms-animation: play 2s ease-in-out infinite;
animation:play 2s ease-in-out infinite;}
@-webkit-keyframes play{
	0%,
    20%,
    50%,
    80%,
    100% {
    	-webkit-transform: rotateX() rotate();
		transform:translateX(0px) rotate(0);	
	}
	40%{
		-webkit-transform: translateX(2px)rotate(0);
		transform: translateX(2px)rotate(0);
	}
	60%{
		-webkit-transform: translateX(4px) rotate(0);		
		transform: translateX(4px) rotate(0);
	}
}
@-moz-keyframes play{
	0%,
    20%,
    50%,
    80%,
    100% {
    	-moz-transform:translateX(0px) rotate(0);	
		transform:translateX(0px) rotate(0);	
	}
	40%{
		-moz-transform: translateX(2px)rotate(0);
		transform: translateX(2px)rotate(0);
	}
	60%{
		-moz-transform: translateX(4px) rotate(0);
		transform: translateX(4px) rotate(0);
	}
}
@-ms-keyframes play{
	0%,
    20%,
    50%,
    80%,
    100% {
    	-ms-transform:translateX(0px) rotate(0);	
		transform:translateX(0px) rotate(0);	
	}
	40%{
		-ms-transform: translateX(2px)rotate(0);
		transform: translateX(2px)rotate(0);
	}
	60%{
		-ms-transform: translateX(4px) rotate(0);
		transform: translateX(4px) rotate(0);
	}
}
@keyframes play{
	0%,
    20%,
    50%,
    80%,
    100% {
    	-webkit-transform: rotateX() rotate();
    	-moz-transform:translateX(0px) rotate(0);	
		transform:translateX(0px) rotate(0);	
	}
	40%{
		-webkit-transform: translateX(2px)rotate(0);
		-moz-transform: translateX(2px)rotate(0);
		transform: translateX(2px)rotate(0);
	}
	60%{
		-webkit-transform: translateX(4px) rotate(0);
		-moz-transform: translateX(4px) rotate(0);
		transform: translateX(4px) rotate(0);
	}
}
@media only screen and (max-width:1024px) {
	#floatPanel{display: none;}	
}
#floatPanel .qrcode:hover{background-position:55px -171px}
#floatPanel .contact:hover{background-position:55px 0}
#floatPanel .top{background-position:0 -57px}
#floatPanel .top:hover{background-position:55px -57px}
#floatPanel .bottom{background-position:0 -114px}
#floatPanel .bottom:hover{background-position:55px -114px}
/*按钮 */
.icon-b-btn,.icon-y-btn{display:block;width:80px;height:24px;text-align:center;line-height:24px;background:url(../images/icon-index-btn.png);color:#FFF}
.icon-b-btn{background-position:-5px -5px}
.icon-y-btn{background-position:-186px -5px}
.icon-b-btn:hover{background-position:-95px -5px}
.icon-y-btn:hover{background-position:-275px -5px}
/*鼠标经过*/
.menu div a:hover{color:#c07246}
.index-pos-title-right:hover,
.index-relation-title-right:hover{color: #FFF !important;}
.index-experts-text h3 a:hover,
.news-list li a:hover,.index-eshop-name li a:hover,
.footer a:hover,.flink ul li a:hover,.pic-top-title a:hover,.main-title h2 a:hover,.index-pos-title a:hover,.index-pos-text h3 a:hover,.index-hot-text li a:hover,.index-trends ul li a:hover,.index-public-title a:hover,.index-experts-title a:hover,.index-relation-title a:hover,.index-public-text h3 a:hover,.index-experts-text h3 a:hover
.index-club .club-mang a:hover,.index-relation-text h3 a:hover{color:#ff8f00}
/* jQueryUI selectmenu 下拉样式 */
.select select{width:79px}
.ui-selectmenu-button{border-radius:0;height:24px;color:#999}
.ui-selectmenu-button,.ui-state-default{background:#FFF;border:1px solid #ccc}
.ui-selectmenu-menu .ui-state-focus{background:#ccc;border:1px solid #ccc}
.ui-selectmenu-button span.ui-selectmenu-text{text-align:left;padding:.3em 2.1em .4em 1em;display:block;_line-height:1.5;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
/* jQueryUI selectmenu 下拉样式 end */