/* CSS Document */
@charset "utf-8";
@import url("base.css");

/*banner*/
.slideBox{ position:relative; width:100%; height:560px; overflow:hidden;}
.slideBox .bd{ position:relative; width:100%;}
.slideBox .bd ul{ position:absolute; top:0; left:0;}
.slideBox .bd ul li{ float:left; width:100%; height:560px;}
.slideBox .bd ul li a{ display:block; width:100%; height:560px; overflow:hidden;}
.slideBox .hd{ position:absolute; bottom:20px; left:50%; margin-left:370px; z-index:100;}
.slideBox .hd ul li{ float:left; width:10px; height:10px; margin-right:10px; overflow:hidden; background-image:url(../images/circle.png); _background-image:url(../images/circle.png); filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/circle.png",sizingMethod="crop"); cursor:pointer; z-index:200;}
.slideBox .hd ul li.on{ background-image:url(../images/circle1.png); _background-image:url(../images/circle1.png); filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/circle1.png",sizingMethod="crop");}
.slideBox .prev,.slideBox .next{ position:absolute; top:232px; left:50%; width:44px; height:98px; overflow:hidden; z-index:200;}
.slideBox .prev{ margin-left:-634px; background:url(../images/prev.png) no-repeat; filter:alpha(opacity=50); opacity:0.5;}
.slideBox .next{ margin-left:590px; background:url(../images/next.png) no-repeat; filter:alpha(opacity=50); opacity:0.5;}
.slideBox .prev:hover,.slideBox .next:hover{ filter:alpha(opacity=100); opacity:1;}

/*focus*/
/*focus_left*/
.focus_left{ position:relative; float:left; width:800px; margin-top:-140px; _overflow:hidden;}
.jd_all{ width:811px; height:810px; margin-left:-5px; margin-bottom:30px; padding-top:65px; background:url(../images/focusbg.png) no-repeat;}
.jd_menu{ width:800px; height:814px;}
.focus_title{ width:154px; margin:0 auto; text-align:center; background:#fff;}
.icon{ display:inline-block; width:22px; height:19px; background:url(../images/jiao.png) no-repeat;}
.focus_title h2{ margin-top:8px; padding-bottom:20px; font-size:24px; } 
.jd{ margin-top:60px; padding:0 20px 0 40px;}
.jd_i{ padding:15px 0; border-bottom:1px solid #f2f2f2;}
.jd_i.jd_last{ border-bottom:none;}
.jd_left{ float:left; width:240px; height:177px; margin-right:20px; overflow:hidden;}
.jd_right{ float:left;}
.jd_right h3{ margin:13px 0 24px; font-size:21px;}
.jd_right h3 a{ padding-left:23px;}
.jd_right h3 a.v_icon1{ background:url(../images/sp.png) left center no-repeat;}
.jd_right .jd_list li{ padding-left:20px; font-size:18px; line-height:36px; background:url(../images/icon.png) left center no-repeat;}
.jd_right .jd_list li.v_icon2{ padding-left:20px; font-size:18px; line-height:36px; background:url(../images/sp.png) left center no-repeat;}
.jd_right a{ color:#000;}
.jd_right a:hover{ color:#fc1f7b;}
.read_more{ font-size:16px; margin-right:40px; text-align:right;}
.read_more a:hover{ color:#fc1f7b;}

#playBox{ position:relative; width:800px; height:385px; padding-bottom:5px; overflow:hidden;}
#playBox .oUlplay { width:99999px; position:absolute; left:0; top:0;}
#playBox .oUlplay li{ float:left; width:800px; height:385px;}
#playBox .pre{ position:absolute; top:158px; left:8px; width:37px; height:37px; background:url(../images/arrow1.png) no-repeat; filter:alpha(opacity=30); opacity:0.3; z-index:10; cursor:pointer;}
#playBox .next{ position:absolute; top:158px; right:24px; width:37px; height:37px; background:url(../images/arrow2.png) no-repeat; filter:alpha(opacity=30); opacity:0.3; z-index:10; cursor:pointer;}
#playBox .pre:hover,#playBox .next:hover{ filter:alpha(opacity=100); opacity:1;}
#playBox .smalltitle { width:40px; height:10px; position:absolute; left:50%; bottom:0; margin-left:-23px; overflow:hidden; z-index:10;}
#playBox .smalltitle ul{ width:40px; margin:0 auto;}
#playBox .smalltitle ul li{ float:left; width:10px; height:10px; margin:0 5px; -webkit-border-radius:10px; -moz-border-radius:10px; -ms-border-radius:10px; border-radius:10px; overflow:hidden; background:#ccc; background:url(../images/cbg1.png) no-repeat\0; *background:url(../images/cbg1.png) no-repeat; *display:inline; cursor:pointer;}
#playBox .smalltitle .thistitle{ background:#fc1f7b; background:url(../images/cbg.png) no-repeat\0; *background:url(../images/cbg.png) no-repeat;}
.list_all{ padding:0 20px 0 40px;}
.list{ float:left; width:336px;}
.line{ float:left; width:1px; height:374px; margin:0 20px; overflow:hidden; background:url(../images/line.png) no-repeat;}
.list a{ display:block; height:22px; margin-bottom:16px; padding-left:4px; padding-bottom:16px; border-bottom:1px dashed #ccc; font-size:16px; overflow:hidden; background:url(../images/icon1.png) -8px 7px no-repeat; color:#000; -webkit-transition:400ms; -moz-transition:400ms; -ms-transition:400ms; transition:400ms;}
.list a.last{ margin-bottom:0;}
.list a:hover{ padding-left:26px; background:url(../images/icon1.png) 8px 7px no-repeat; color:#929292;}
.list a.v_icon3{ display:block; height:22px; margin-bottom:16px; padding-left:4px; padding-bottom:16px; border-bottom:1px dashed #ccc; font-size:16px; overflow:hidden; background:url(../images/sp.png) -18px 3px no-repeat; color:#000; -webkit-transition:400ms; -moz-transition:400ms; -ms-transition:400ms; transition:400ms;}
.list a.v_icon3:hover{ padding-left:28px; background:url(../images/sp.png) 8px 3px no-repeat; color:#929292;}

/*focus_right*/
.focus_right{ float:right; width:400px; overflow:hidden;} 
.recom{ position:relative; width:376px; height:552px; margin-top:96px; margin-bottom:25px; padding:76px 10px 10px; border:1px solid #000;}
.recommend_title{ position:absolute; top:-43px; left:72px; width:242px; text-align:center; background:#fff;}
.icon{ display:inline-block; width:22px; height:19px; background:url(../images/jiao.png) no-repeat;}
.recommend_title h2{ margin-top:8px; padding-bottom:20px; font-size:24px; background:url(../images/recommend.png) bottom center no-repeat;}
.recom_i{ position:relative; float:left; width:186px; height:274px; margin-right:2px; margin-bottom:2px; overflow:hidden; filter:alpha(opacity=100); opacity:1;}
.recom_i img{ display:block;}
.recom_i a.pin{ position:absolute; left:50%; top:50%; width:44px; height:44px; margin-top:-22px; margin-left:-22px; background:url(../images/pin.png) no-repeat;}
.recom_i:hover{ filter:alpha(opacity=80); opacity:0.8;}
.recom_i .i_title{ position:absolute; bottom:0; left:0; width:186px; height:36px; font-size:12px; line-height:36px; text-align:center; background:rgba(0,0,0,0.5); background:url(../images/ibg.png) repeat-x\0; *background:url(../images/ibg.png) repeat-x;}
.recom_i .i_title a{ display:block; color:#fff;}
.xinwen_title{ margin-bottom:10px; padding-bottom:8px; border-bottom:1px solid #999;}
.xinwen_title h3{ float:left; font-size:24px;}
.xinwen_title .xin_more{ float:right; margin-top:12px; font-size:14px;}
.xinwen_title h3 a:hover,.xinwen_title a.xin_more:hover{ color:#fc1f7b;}
.xinwen_i{ position:relative; float:left; width:194px; margin-right:12px;}
.xinwen_i.i1{ margin-right:0;}
.xinwen_i a{ display:block;}
.xinwen_i span{ display:block; margin-top:5px; padding-left:10px; line-height:22px;}
.xinwen_i span a{ color:#000;}
.xinwen_i span a:hover{ color:#fc1f7b;}
.xinwen_i a.x_pin{ position:absolute; left:50%; top:50%; width:44px; height:44px; margin-top:-22px; margin-left:-22px; background:url(../images/pin.png) no-repeat;}
.xinwen_list{ margin-top:8px; padding-bottom:12px; border-bottom:1px dashed #ccc;}
.xinwen_list li{ padding-left:20px; font-size:18px; line-height:32px; background:url(../images/icon.png) left center no-repeat;}
.xinwen_list li.v_icon2{ padding-left:20px; font-size:18px; line-height:32px; background:url(../images/sp.png) left center no-repeat;}
.xinwen_list a{ color:#000;}
.xinwen_list a:hover{ color:#fc1f7b;}

/*star*/
.star{ margin-top:50px;}
.star_title{ padding:0 36px 18px 54px;}
.title_left{ float:left; *width:420px;}
.title_left a{ display:block;}
.title_left a h3{ height:40px; font-size:30px; padding-right:270px; line-height:31px; overflow:hidden; background:url(../images/title1.png) right center no-repeat;}
.title_right{ float:right; margin-top:20px; font-size:12px;}
.title_right .pai a{ margin-right:30px; color:#fc1f7b;}
.title_right .more a{ font-size:14px; color:#929292;}
.title_right .more a:hover{ color:#fc1f7b;}
.linebd{ height:2px; margin:0 36px 0 22px; border-top:1px solid #ccc; border-bottom:1px solid #ccc; overflow:hidden;}
.star_list{ margin-top:80px;}
.star_i{ float:left; width:400px;}
.star_title1{ height:32px; overflow:hidden;}
.star_title1 a{ display:block;}
.star_title1 a h4{ width:141px; height:32px; margin:0 auto; font-weight:bold; font-size:24px; line-height:23px; text-indent:-9999px; overflow:hidden; background:url(../images/title4.png) no-repeat;}
.i_all{ margin-top:44px;}
.lists{ padding:0 44px 0 46px; background:url(../images/line1.png) right center no-repeat;}
.lists.star_last{ background:none;}
.i_list{ margin-bottom:25px;}
.i_left{ float:left; width:230px; height:230px; overflow:hidden;}
.i_left a{ display:block;}
.i_pic{ position:relative; width:220px; height:220px; padding:5px; /*background:url(../images/quan.png) no-repeat; border:5px solid #ccc; *border:5px solid #ccc; -webkit-border-radius:50%; -moz-border-radius:50%; -ms-border-radius:50%; border-radius:50%;*/ overflow:hidden;}
.ibg{ position:absolute; left:0; top:0; width:230px; height:230px; background:url(../images/quan.png) no-repeat; overflow:hidden; z-index:10;}
.i_pic img{ width:220px; height:220px;}
.pic_title{ position:absolute; bottom:5px; left:0; width:230px; height:38px; font-size:18px; line-height:32px; text-align:center; background:url(../images/pbg.png) repeat-x; color:#fff;}
.i_right{ position:relative; float:right;}
.i_right a{ display:block; margin-top:20px; padding-left:14px; font-size:12px; background:url(../images/icon2.png) left center no-repeat; color:#000;}
.i_right a:hover{ background:url(../images/icon3.png) left center no-repeat; color:#fc1f7b;}
.i_right .num1{ display:block; width:50px; height:50px; margin:20px auto 0; background:url(../images/1.png) no-repeat;}
.i_right .num2{ display:block; width:50px; height:50px; margin:20px auto 0; background:url(../images/2.png) no-repeat;}
.i_right .num3{ display:block; width:50px; height:50px; margin:20px auto 0; background:url(../images/3.png) no-repeat;}
.i_right .ma{ display:none; position:absolute; left:-106px; bottom:0px; width:106px; height:125px; background:url(../images/wei.png) no-repeat; z-index:100;}
.more1{ width:86px; height:20px; margin:32px auto 0; border:1px solid #000; font-size:12px; line-height:20px; text-align:center;}
.more1 a{ display:block; color:#000;}
.more1 a:hover{ color:#fc1f7b;}
.star_title2{ height:32px; overflow:hidden;}
.star_title2 a{ display:block;}
.star_title2 a h4{ width:213px; height:32px; margin:0 auto; font-weight:bold; font-size:24px; line-height:23px; text-indent:-9999px; overflow:hidden; background:url(../images/tj.png) no-repeat;}
.star_title3{ height:32px; overflow:hidden;}
.star_title3 a{ display:block;}
.star_title3 a h4{ width:175px; height:32px; margin:0 auto; font-weight:bold; font-size:24px; line-height:23px; text-indent:-9999px; overflow:hidden; background:url(../images/title2.png) no-repeat;}

/*ads*/
.ads{ margin:45px auto;}

/*photo*/
.photo_title{ position:relative; margin-bottom:45px;}
.title_i{ display:inline; float:left; width:90px; margin-left:70px; text-align:center;}
.title_i a{ display:block; color:#929292;} 
.title_i.pho_cur a{ color:#000;} 
.title_i a h3{ margin-bottom:12px; font-size:18px;}
.title_i a span{ font-size:14px;}
.title_i1{ position:relative; display:inline; float:left; width:102px; margin-top:-5px; margin-left:70px; text-align:center;}
.title_i1 a{ display:block; color:#000;} 
.title_i1 a h3{ margin-bottom:6px; font-size:24px;}
.title_i1 a span{ font-size:18px;}
.red{ position:absolute; left:0; top:35px; width:102px; height:3px; overflow:hidden; background:#fc1f7b; z-index:20;}
.line4{ position:absolute; left:0 ;top:31px; width:100%; height:1px; overflow:hidden; background:#ccc;}
.dian{ display:none; position:absolute; top:26px; width:11px; height:11px; overflow:hidden; background:url(../images/rect.png) center center no-repeat,#fff; z-index:10;}
.p_hidden{ display:none;}
.photo_i{ position:relative; float:left; width:300px; height:300px;}
.p_one{ position:absolute; top:0; left:0; width:300px; height:300px; overflow:hidden;}
.p_one a{ display:block;}
.p_two a{ display:block; color:#fff;}
.photo_i.p_cur .p_one{ position:absolute; top:-9px; left:-9px; width:318px; height:318px; -moz-transition:all ease 0.2s; -webkit-transition:all ease 0.2s; -ms-transition:all ease 0.2s; transition:all ease 0.2s; -moz-box-shadow:0 0 12px #010101; -webkit-box-shadow:0 0 10px #010101; -ms-box-shadow:0 0 10px #010101; box-shadow:0 0 10px #010101; z-index:10;}
.photo_i.p_cur .p_two{ display:none; position:absolute; left:-9px; bottom:50px; width:318px; height:58px; font-size:18px; text-align:center; line-height:58px; background:rgba(0,0,0,0.5); background:url(../images/bgpic.png) repeat-x\0; *background:url(../images/bgpic.png) repeat-x; z-index:30;}
.photo_a{ width:600px; height:22px; margin:40px auto 0; font-size:12px; line-height:22px; text-align:center; background:#e5e5e5;}
.photo_a a{ display:block; width:100%;}
.photo_a a:hover{ color:#fc1f7b;}

/*movie*/
.movie_top{ position:relative; margin-bottom:30px;}
.lei_list1{ float:left; padding-top:18px;}
.lei_list1 li{ display:inline; float:left; margin:0 23px; font-size:20px; background:#fff;}
.lei_list1 li a{ float:left; width:82px; text-align:center; background:#fff; color:#929292;}
.lei_list1 li.lei_one1{ width:183px; margin:-18px 60px 0 0; padding-left:26px; background:#fff;}
.lei_list1 li.lei_one1 a{ display:block; width:183px; color:#000;}
.lei_list1 li.lei_one1 .m_left h3{ width:99px; height:57px; padding-left:84px; font-size:24px; line-height:28px; overflow:hidden; background:url(../images/movie.png) no-repeat;}
.lei_list1 li.lei_cur1 a{ font-size:24px; line-height:30px; background:url(../images/rect.png) left center no-repeat,url(../images/rect.png) right center no-repeat; color:#fc1f7b;}
.m_right{ float:right; padding:24px 22px 0 10px; background:#fff;}
.m_right a{ font-size:14px; color:#929292;}
.m_right a:hover{ color:#fc1f7b;}
.line1{ position:absolute; top:33px; left:0; width:100%; height:1px; overflow:hidden; background:#ccc; z-index:-10;}

.movie_left{ float:left; width:782px;}
.list_hidden{ display:none;}
.movie_i{ display:inline; position:relative; float:left; width:255px; height:382px; margin-top:16px; margin-right:8px; overflow:hidden;}
.movie_i.movie_i1{ margin-top:0;}
.movie_i.movie_i2{ margin-top:0; margin-right:0;}
.pic_bottom{ position:absolute; left:0; bottom:0; width:100%; height:60px; background:rgba(106,57,6,0.5);}
.pic_bottom a{ display:block; height:52px; padding-top:8px; padding-left:20px; color:#fff;}
.pic_bottom h4{ margin-bottom:4px; font-size:18px;}
.movie_i3{ float:left; width:165px; height:270px; margin-top:16px; padding:110px 20px 0 68px; border:1px solid #ccc;}
.movie_i3 h4{ margin-bottom:30px; font-size:24px; color:#333;}
.movie_i3 a{ display:block; font-size:16px; color:#666;}
.movie_i3 a:hover{ color:#fc1f7b;}
.movie_name a{ line-height:30px;}
.movie_i3 p{ margin-top:80px; text-align:right;}

.movie_right{ position:relative; float:right; width:380px; height:780px; margin-left:20px; background:url(../images/paibg.png) no-repeat;}
.concern_title{ position:absolute; top:-9px; left:50%; margin-left:-46px; background:#fff;}
.concern_title h4{ width:60px; padding:0 14px; font-size:20px; background:url(../images/gbg.png) left center no-repeat}
.concern_list{ padding:25px 35px 0;}
.concern_i{ position:relative; margin-top:26px; height:22px; overflow:hidden;}
.concern_i.i_cur{ height:500px;}
.i_one a{ font-size:16px; color:#000;}
.concern_i.i_cur a{ color:#929292;}
.concern_i.i_cur .i_two{ display:block;}
.i_one a span{ font-size:18px; color:#fc1f7b;}
.i_two{ display:none; position:absolute; left:0; top:42px;}

/*tv*/
.tv_top{ position:relative; margin-bottom:30px;}
.lei_list2{ float:left; padding-top:18px;}
.lei_list2 li{ display:inline; float:left; margin:0 23px; font-size:20px; background:#fff;}
.lei_list2 li a{ float:left; width:82px; text-align:center; background:#fff; color:#929292;}
.lei_list2 li.lei_one2{ width:167px; margin:-19px 60px 0 0; padding-left:40px; background:#fff;}
.lei_list2 li.lei_one2 a{ display:block; width:167px; color:#000;}
.lei_list2 li.lei_one2 .t_left h3{ width:95px; height:57px; padding-left:72px; font-size:24px; line-height:28px; overflow:hidden; background:url(../images/tv.png) no-repeat;}
.lei_list2 li.lei_cur2 a{ font-size:24px; line-height:30px; background:url(../images/rect.png) left center no-repeat,url(../images/rect.png) right center no-repeat; color:#fc1f7b;}
.t_right{ float:right; padding:24px 22px 0 10px; background:#fff;}
.t_right a{ font-size:14px; color:#929292;}
.t_right a:hover{ color:#fc1f7b;}
.line2{ position:absolute; top:33px; left:0; width:100%; height:1px; overflow:hidden; background:#ccc; z-index:-10;}

.tv_left{ float:left; width:782px;}
.list_hidden{ display:none;}
.tv_i{ display:inline; position:relative; float:left; height:382px; margin-top:16px; margin-right:8px; overflow:hidden;}
.tv_i.tv_i1{ margin-top:0;}
.tv_i.tv_i2{ margin-top:0; margin-right:0;}
.pic_bottom{ position:absolute; left:0; bottom:0; width:100%; height:60px; background:rgba(106,57,6,0.5);}
.pic_bottom a{ display:block; height:52px; padding-top:8px; padding-left:20px; color:#fff;}
.pic_bottom h4{ margin-bottom:4px; font-size:18px;}
.tv_i3{ float:left; width:165px; height:270px; margin-top:16px; padding:110px 20px 0 68px; border:1px solid #ccc;}
.tv_i3 h4{ margin-bottom:30px; font-size:24px; color:#333;}
.tv_i3 a{ display:block; font-size:16px; color:#666;}
.tv_i3 a:hover{ color:#fc1f7b;}
.tv_name a{ line-height:30px;}
.tv_i3 p{ margin-top:80px; text-align:right;}

/*shows*/
.shows_top{ position:relative; margin-bottom:30px;}
.lei_list3{ float:left; padding-top:18px;}
.lei_list3 li{ display:inline; float:left; margin:0 23px; font-size:20px; background:#fff;}
.lei_list3 li a{ float:left; width:82px; text-align:center; background:#fff; color:#929292;}
.lei_list3 li.lei_one3{ width:176px; margin:-19px 60px 0 0; padding-left:40px; background:#fff;}
.lei_list3 li.lei_one3 a{ display:block; width:176px; color:#000;}
.lei_list3 li.lei_one3 .s_left h3{ width:110px; height:57px; padding-left:66px; font-size:24px; line-height:28px; overflow:hidden; background:url(../images/shows.png) no-repeat;}
.lei_list3 li.lei_cur3 a{ font-size:24px; line-height:30px; background:url(../images/rect.png) left center no-repeat,url(../images/rect.png) right center no-repeat; color:#fc1f7b;}
.s_right{ float:right; padding:24px 22px 0 10px; background:#fff;}
.s_right a{ font-size:14px; color:#929292;}
.s_right a:hover{ color:#fc1f7b;}
.line3{ position:absolute; top:33px; left:0; width:100%; height:1px; overflow:hidden; background:#ccc; z-index:-10;}

.shows_left{ float:left; width:782px;}
.list_hidden{ display:none;}
.shows_i{ display:inline; position:relative; float:left; height:382px; margin-top:16px; margin-right:8px; overflow:hidden;}
.shows_i.shows_i1{ margin-top:0;}
.shows_i.shows_i2{ margin-top:0; margin-right:0;}
.pic_bottom{ position:absolute; left:0; bottom:0; width:100%; height:60px; background:url(../images/bgs.png) repeat-x;}
.pic_bottom a{ display:block; height:52px; padding-top:8px; padding-left:20px; color:#fff;}
.pic_bottom h4{ margin-bottom:4px; font-size:18px;}
.shows_i3{ float:left; width:165px; height:270px; margin-top:16px; padding:110px 20px 0 68px; border:1px solid #ccc;}
.shows_i3 h4{ margin-bottom:30px; font-size:24px; color:#333;}
.shows_i3 a{ display:block; font-size:16px; color:#666;}
.shows_i3 a:hover{ color:#fc1f7b;}
.shows_name a{ line-height:30px;}
.shows_i3 p{ margin-top:80px; text-align:right;}

