/*----- CSS Developed By Gopi -----*/

/*RESET.CSS*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/*----- Framework -----*/

body{
	font: normal 12px/16px arial;  
	padding:0;
	margin:0;
	background:url("../images/body_bg.jpg") repeat 0 0;
}

html{
	overflow-y:auto;
}

#shawdow{
	margin:0 auto;
	background: url("../images/body_shawdow.png") repeat-y  bottom center;
}

#wrapper{
	width:1000px;
	margin:0 auto;
	overflow:hidden;
	background:#fff;
	position:relative;
}

a{
	text-decoration:none;
}

img{
	border:0;
	vertical-align:middle;
}

.clearfix{
	height:0;
	clear:both;
	visibility:hidden;
}

/*----- Framework Ends -----*/

/*----- Typography -----*/


h2,h3,h4,h5,#content_area ul,#content_area p{
	margin:10px 0 0 0;
	padding:0 0 5px 0
}

h2,h3,h4,h5{
	padding:10px 0 5px 0;
	margin:0;
}

h2{
	font-size:20px;
}

h3{
	font-size:16px;
}


/*----- Typography Ends -----*/

/*----- Grouping -----*/
#logo,#osbi_logo,#reset,#fontSizePlus,#theme1,#theme2,.fb,.yt,.tw,#personal_icon,#corporate_icon,.slider-item-markers li a,.slider-item-markers li.active-marker a,.accept,.reject,#left_navigate,#right_navigate,.netbanking_button,.netbanking_button_up{
	background-position:no-repeat;
}

#logo,#osbi_logo,#reset,#fontSizePlus,#theme1,#theme2,.fb,.yt,.tw,#personal_icon,#corporate_icon,.slider-item-markers li a,.slider-item-markers li.active-marker a,.accept,.reject,#left_navigate,#right_navigate,.netbanking_button,.netbanking_button_up{
	background-image:url('../images/sprite.png');
}

#logo,.logo,#font-resize,#theme_switcher,#osbi_logo,.copy,.corp_login{
	float:left;	
}

#chairman,.osbi_logo,.site{
	float:right;
}

#fontSizePlus,#reset {
    vertical-align:top;
}

#reset,#fontSizePlus,#theme1,#theme2 {
	display:inline-block;
}

#theme1,#theme2{
    height:15px;
    margin:0 5px 0 0;
    width:15px;
}
/*----- Grouping Ends -----*/

/*----- Header -----*/
#header{
	overflow:hidden;
	padding:0 7px;
}

.logo{
	width:550px;
}

#logo{
	display:block;
	width:181px;
	height:54px;
	background-position:-12px -8px;
	margin:6px 0;
}

#chairman{
	background:url('../images/chairman.png') no-repeat 0 0;
	display:block;
	width:156px;
	height:25px;
}

.osbi_logo{
	width:190px;
	margin:5px 0 0;
}

#osbi_logo{
	width:70px;
	height:48px;
	background-position:-231px -12px;
	margin:0 0 0 25px;
}

#reset {
    background-position:-231px -88px;
    width:10px;
}

#fontSizePlus {
    background-position:-249px -88px;
    width:14px;
}
#reset, #fontSizePlus {
    margin:0 5px 0 0;
}

#theme_switcher {
    margin:0 0 0 10px;
}

#theme1 {
    background-position:-277px -88px;
}

#theme2 {
    background-position:-302px -88px;
}

/*----- Header Ends-----*/

/*----- Navigation-----*/
.void_border{
	border: 0 !important
}

#primary_navigation:after,#primary_navigation .after ,#primary_navigation a,#primary_navigation a span{
	display:block;
}

#navigation{
	position:relative;
	z-index:1;
	background:#0c376a;

}

#primary_navigation li{
	float:left;
	border-right:1px solid #16a086;
}

#primary_navigation li ul{
	width:170px;
}

#primary_navigation li ul li{
	padding:0;
	margin:0;
	width:100%
}

#primary_navigation li ul li a{
	padding:0 !important;
	margin:0 !important;
}

#primary_navigation{
	width:80%;
	float:left
}

#social_network{
	float:right;
	width:156px
}

#navigation:before,#navigation:after,#primary_navigation:before,#primary_navigation:after,#primary_navigation ul:after  {
    content: "";
    display: table;
} 

#navigation:after,#primary_navigation:after,#primary_navigation ul:after {
    clear: both;
}

/* IE 6 & 7 */
#primary_navigation,#navigation,#primary_navigation ul:after {
    zoom: 1;
}

#primary_navigation li{
	position:relative;
	cursor:pointer;
}

#primary_navigation a{
	text-align:center;
	cursor:pointer;
	color:#fff;
	padding:10px 6px;
	display:block;
}

.sub_navigation{
	border-bottom:1px solid #16a086;
	border-left:1px solid #16a086;
	border-right:1px solid #16a086;
	background:#fff;
	position:absolute;
	left:0;
	top:36px;
}

#primary_navigation ul ul{
	border:1px solid #16a086;
}


#primary_navigation .sub_navigation li a,#primary_navigation .sub_navigation li{
	background:none;
}

#primary_navigation .sub_navigation li{
	margin:0;
	border-bottom:1px solid #16a086;
	position:relative;
	border-right:0;
	zoom:1
}

#primary_navigation,#primary_navigation li a,#primary_navigation li,#primary_navigation .sub_navigation li ul li a,#primary_navigation .sub_navigation li ul li ,#primary_navigation .sub_navigation li ul,#primary_navigation .sub_navigation li,#primary_navigation .sub_navigation{
	zoom:1
}

#primary_navigation .sub_navigation li a{
	padding:5px 10px !important;
}

#primary_navigation .sub_navigation li a{
	padding:4px 10px;
	text-align:left;
	color:#0C376A;
	zoom:1
}

#primary_navigation .sub_navigation li:hover a,#primary_navigation .sub_navigation li:hover ul li:hover a{
	color:#fff;
}

#primary_navigation .sub_navigation li:hover ul li a{
	color:#0c376a;
}

#primary_navigation li:hover ul li:hover{
	background:#0c376a;
}

/******* Hiding Dropdown *********/
#primary_navigation li ul { display:none; }
#primary_navigation li:hover > ul {
  display: block;
}

#primary_navigation li ul li ul{position:absolute;top:0;zoom:1;float:none}
#primary_navigation .sub_navigation li,#primary_navigation .sub_navigation ul li{
	display:block;
	float:none
}

#primary_navigation ul ul {
  left:100%;
  top:-1px;
  background:#fff;
}

/******* Hiding Dropdown *********/

#hindi{
	float:right !important;
	border-right:0 !important;
	padding: 5px 0 6px !important;
}

#hindi{
	margin:5px 7px 0 0 !important;
}

.hindi{
	background:#0f6b5a;
    color:#fff251 !important;
    padding:4px 10px !important;
	height: auto !important;
}

/*----- Navigation Ends-----*/

/*----- Banking Contents-----*/

#banking{
	padding:10px;
	overflow:hidden;
}

.banking_section{
	width:480px;
	margin:0 15px 0 0;
	border:1px solid #d8d8d8;
	background:#f8f8f8;
	text-align:center;
	float:left;
}

.corp_section{
	margin:0 !important;
	padding:0 0 2px;
}

#personal_icon{
	background-position:-13px -88px;
	width:42px;
	height:46px;
	display:inline-block;
	margin:7px 0;
}

#corporate_icon{
	background-position:-104px -90px;
	width:76px;
	height:44px;
	display:inline-block;
	margin:7px 0;
}

.personal{
	display:block;
	color:#020202;
	font-size:18px;
}

.personal_highlight{
	color:#266fa0;
}

.login{
	padding:7px 0;
	background:#fff;
	margin:10px 0;
	overflow:hidden;
}

.login a{
	background:#0c376a;
	color:#fff;
	display:inline-block;
	width:80px;
	padding:7px 5px;
	margin:0 5px;
	font-weight:bold;
}

.corp_login{
	margin:0 15px !important;
}

.select-wrapper{
	float:left;
	display: inline-block;
	border: 1px solid #d8d8d8;            
	background: url("../images/dropdown.png") no-repeat right center;
	cursor: pointer;
	margin:0 0 0 100px;
}

.select-wrapper, .select-wrapper select{
	width:165px;
	height:28px;
}

.select-wrapper:hover{
	background: url("../images/dropdown-hover.png") no-repeat right center;
	border-color: #239fdb;
}

.select-wrapper .holder{
	display: block;
	white-space:nowrap;            
	overflow: hidden;
	cursor: pointer;
	text-align:left;
	margin:-21px 0 0 7px;
}

.select-wrapper select{
	margin: 0;
	z-index: 2;            
	cursor: pointer;
	outline: none;
	opacity: 0;
	/* CSS hacks for older browsers */
	_noFocusLine: expression(this.hideFocus=true); 
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-khtml-opacity: 0;
	-moz-opacity: 0;
}
	
.lite{
	background:#1867c5 !important;
}

.newuser{
	width:325px;
	margin:0 auto;
	overflow:hidden;
}

.newuser li{
	float:left;
	border-right:1px solid #ccc;
	padding:0 10px;
}

.noBdr{
	border-right:0 !important;
}

.newuser li a{
	display:block;
	color:#020202;
}

.register{
	background:url('../images/register.png') no-repeat 0 0;
	height:24px;
	padding:5px 0 0 35px;
}

.how{
	background:url('../images/faq.png') no-repeat 0 0;
	height:24px;
	padding:5px 0 0 35px;
}

.banking_section p{
	text-align:left;
	color:#333;
	line-height:20px;
	margin:7px 0 10px 15px;
}

/*----- Banking Contents Ends-----*/

/*----- Banner-----*/

#banner {
    width:1000px;
	position:relative;
}

#slider, .slider-item-slide {
    width:1000px;
	height:240px;
}

.slider-item {
    padding: 0;
}

.slider-item-slide, .slider-item-markers{
	position:absolute;
}

.slider-item-markers{
	top:5px;
	right:10px; 
	padding:7px;
	z-index:1000;
}
.slider-item-markers li{
	margin:0 3px; 
	line-height:0; 
	float:left;
}
.slider-item-markers li a {
	display:block;
}
.slider-item,.slider-item-slide {
	display:none;
}

.slider-item-markers li a {
    background-position:-256px -131px;
    height:12px;
    width:12px;
}

.slider-item-markers li.active-marker a {
    background-position:-230px -131px;
}
#banner-fest2{
	background:url("../../sbijava/images/banner-fest2.jpg") no-repeat 0 0;
}
#banner-fest{
	background:url("../../sbijava/images/banner-fest.jpg") no-repeat 0 0;
}
#banner_a{
	background:url("../../sbijava/images/banner1.jpg") no-repeat 0 0;
}
#banner_b{
	background:url("../../sbijava/images/banner2.jpg") no-repeat 0 0;
}
#banner_c{
	background:url("../../sbijava/images/banner3.jpg") no-repeat 0 0;
}
#banner_d{
	background:url("../../sbijava/images/banner4.jpg") no-repeat 0 0;
}
#banner_e{
	background:url("../../sbijava/images/banner5.jpg") no-repeat 0 0;
}
#banner_f{
	background:url("../../sbijava/images/banner6.jpg") no-repeat 0 0;
}
#banner_g{
	background:url("../../sbijava/images/banner7.jpg") no-repeat 0 0;
}

#banner_h{
	background:url("../../sbijava/images/banner8.jpg") no-repeat 0 0;
}
#banner_i{
	background:url("../../sbijava/images/banner9.jpg") no-repeat 0 0;
}
#banner_j{
	background:url("../../sbijava/images/banner10.jpg") no-repeat 0 0;
}
#banner_k{
	background:url("../../sbijava/images/banner11.jpg") no-repeat 0 0;
}
#banner_temp{
	background:url("../../sbijava/images/banner_temp.jpg") no-repeat 0 0;
}
.banner_link{
	display:block;
	width:1000px;
	height:240px;

}

.mutual_more{
    background:url("../images/know_sbimf.png") no-repeat scroll 0 0;
    bottom:35px;
    display:block;
    height:36px;
    left:165px;
    position:absolute;
    width:143px;
}

.invest_now{
    background:url("../images/invest_now.png") no-repeat scroll 0 0;
    bottom:70px;
    display:block;
    height:36px;
    position:absolute;
    right:190px;
    width:143px;
}

.buy_now{
	background:url("../images/buy_now.jpg") no-repeat scroll 0 0;
    bottom:46px;
    display:block;
    height:31px;
    position:absolute;
    right:233px;
    width:218px;
}

.apply_now{
	background:url("../images/apply_now.png") no-repeat scroll 0 0;
    bottom:10px;
    display:block;
    height:28px;
    position:absolute;
    right:240px;
    width:132px;
}
.know_more{
	background:url("../images/know_more.png") no-repeat scroll 0 0;
    bottom:50px;
    display:block;
    height:28px;
    position:absolute;
    right:223px;
    width:145px;
}

.click-here-follow{
	background:url("../images/click-here-follow.jpg") no-repeat scroll 0 0;
    bottom:6px;
    display:block;
    height:47px;
    position:absolute;
    right:660px;
    width:207px;
}

/*----- Banner Ends-----*/

/*----- Footer-----*/
#footer{
	background:#0c376a;
	padding:8px;
	color:#fff;
	font-size:11px;
	overflow:hidden;
}

#footer p{
	margin:0 5px;
}

/*----- Footer Ends-----*/

/*----- Phishing Page-----*/

.phishing_section{
	width:480px;
	float:left;
	margin:0 20px 0 0;
}

#personal_banner{
	background:url('../images/personal_banner.jpg') no-repeat 0 0;
	height:112px;
}

#corporate_banner{
	background:url('../images/corporate_banner.jpg') no-repeat 0 0;
	height:112px;
}

.personal_button{
	margin:10px 0;
	overflow:hidden;
}

.personal_button h2{
	float:left;
	background:#f5f5f5;
	color:#595959;
	padding:12px;
	font-size:16px;
	width:185px;
	text-align:center;
	font-weight:normal;
}

.personal_button span{
	color:#0c376a
}

#login_button{
	background:url('../images/login_button.png') no-repeat 0 0;
	width:188px;
	height:39px;
	display:block;
	float:left;
	margin:0 35px;
}

.phishing_contents{
	background:#e1f6fa;
	padding:7px
}

.phishing_contents h3{
	font-size:14px;
	color:#0c376a;
	margin:0 0 10px;
	padding:0;
	font-weight:normal;
}

.phishing_list li{
	background:url('../images/square_bullet.png') no-repeat 0 6px;
	margin:5px 0;
	color:#656565;
	padding:0 0 0 10px;
	line-height:18px;
}

.phishing_list li a{
	color:#0c376a;
}

.phishing_box{
	position:relative;
	width:112px;
	margin:0 6px 0 0;
	float:left;
	border:1px solid #dcdcdc;
	background:#f8f8f8;
}

.accept,.reject{
	width:64px;
	height:54px;
	display:inline-block;
	position:absolute;
	top:0;
	left:-5px;
}

.accept{
	background-position:-161px -166px;
}

.always,.never{
	font-size:12px;
	text-align:right;
	margin:0 10px 0 0;
}

.always{
	color:#35bc7a;
}
	
.never{
	color:#f05a49;
}

.phishing_box p{
	color:#656565;
	text-align:right;
	line-height:18px;
	margin:0 10px 25px;
}

.reject{
	background-position:-245px -166px;
}

.features{
	margin:10px 0;
	overflow:hidden;
	clear:both;
}

.features_title{
	border-bottom:1px solid #e8e8e8;
	overflow:hidden;
}

.features_title h3{
	font-size:15px;
	color:#595959;
	padding-bottom:0;
	border-bottom:1px solid #0089cf;
	display:inline-block;
	float:left;
	font-weight:normal;
}

.features_title a{
	float:right;
	margin:5px 0 0;
	color:#0c376a;
	background:#f7f7f7;
	display:block;
	padding:3px 5px;
}

.features_list{
	background:#dbdad9;
	padding:5px 5px 21px;
	overflow:hidden;
	margin:4px 0 0;
}

.personal_links{
	float:left;
	width:230px;
	margin:0 0 0 5px;
}

.personal_links li{
	margin:5px 0 0;
	background:url('../images/disc_bullet.png') no-repeat 0 6px;
	padding:0 0 0 12px;
}

.personal_links li a{
	color:#0f3e72;
	font-size:12px;
	display:block;
	background:url('../images/separator.png') no-repeat center bottom;
	padding:0 0 9px;
}

.terms{
	background:#f1f4f7;
	color:#34495e;
	padding:11px;
}

.terms p{
	line-height:20px;
}

.noLine{
	background:none !important;
}

#left_navigate{
	background-position:-259px -237px;
	position:absolute;
	bottom:5px;
	right:40px;
}

#right_navigate{
	background-position:-299px -237px;
	position:absolute;
	bottom:5px;
	right:7px;
}

.tab_content_data{
	display:none;
	position:relative;
	overflow:hidden;
}

.tab_content_active{
	display:block;
}

.tab_arrow_active {
    cursor: pointer;
    opacity: 1;
}

.tab_more, .tab_less {
    height:27px;
    width:27px;
}

/*----- Phishing Page Ends-----*/

.bodytheme1{
	font:normal 12px/16px arial;  
	padding:0;
	margin:0;
	background:url("../images/body_bg.jpg") repeat 0 0;
}

.bodytheme2{
    background-color:#333;
	background-image:none;
}

/*----- Lightbox -----*/

.lightbox_content{
	background:#fff;
	padding:10px;
	overflow:hidden;
	width:550px;
	border:2px solid #0083B9;
}

.lightbox_content h5{
	color:#006599;
    font-size:14px;
    font-weight:bold;
    margin:0 0 7px;
    padding:0;
}

.lightbox_content p{
	color:#444;
	line-height:20px;
}

.lightbox_loyality ul {
	margin:10px 0 0;
}

.lightbox_loyality ul li{
	margin:0 0 10px;
}

.lightbox_loyality ul li span {
    color: #006599;
    font-weight: bold;
}

.clx {
    position:absolute;
    right:-12px;
    top:-10px;
	background:url('../images/close.png') no-repeat 0 0;
	width:35px;
	height:35px;
}

.video_list{
	margin:10px 0 0 0;
}

.video_list li{
	margin:0 0 10px 0;
}

.video_list li a{
	color:#0083B9;
    display:inline-block;
    font-size:12px;
    font-weight:bold;
    margin:5px 0 0 39px;
    text-decoration:none;
}

.otb,.bp,.kbh,.cfo{
	height:30px;
}

.otb{
	background:url("../images/lb_ticket_icon.png") no-repeat 0 0;
}

.bp{
	background:url("../images/lb_online_icon.png") no-repeat 0 0;
}

.kbh{
	background:url("../images/lb_smart_user_icon.png") no-repeat 0 0;
}

.cfo{
	background:url("../images/lb_collect_fee_icon.png") no-repeat 0 0;
}

.rinb_video {
    background:url("../images/rinb_video.png") no-repeat 0 0;
	padding:6px 0px;
}

/*----- Lightbox Ends-----*/

#browser_cache{
	width:976px;
	border:1px solid #d8d8d8;
	overflow:hidden;
	margin:10px auto 0;
}

#browser_cache p{
	text-align:center;
}

.netbanking_button {
    background-position: -18px -316px;
    height: 35px;
    width: 185px;
	float: right;
}

.netbanking_button_up {
    background-position: -18px -263px !important;
}

#netbanking_popup {
    background:#f9f9f9;
    border-bottom: 5px solid #cbcbcb;
	position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
	display: none;
}

#netbanking_content{
	height:120px;
}

.useful_links{
	margin:0 10px;
	padding:5px 0;
	overflow: hidden;
}

.useful_links li{
	background: url("../images/disc_bullet.png") no-repeat scroll 0 12px;
    padding: 5px 0 5px 5px;
	float: left;
	margin:0 10px 0 0;
}

.useful_links li a{
	color:#6f6f6f;
	display:block;
	margin:0 7px;
}

.useful_links li a:hover{
	text-decoration:underline;
}

.my_cap {
    color: #0241ab;
    font-family: Lucida Calligraphy;
}
#inb-list  {
	margin:10px 50px 5px 50px;
	 list-style-type:disc;
	 list-style-position:inside;

}
#inb-list li a {
	color:#175986;
    display:inline-block;
    font-size:12px;
    font-weight:bold;
    text-decoration:none;
	margin:2px 0px;
}
#inb-list li {
	padding:6px 0px;
	margin: 0 !important;
}

/* Sticky Social Icons */
.sticky-container{ padding:0px; margin:0px; position:fixed; right:-180px; top:160px; width:220px; z-index:1000;}
.sticky li{list-style-type:none;background-color:#cbeffb;color:#efefef;height:43px;padding:0px;margin:0px 0px 1px 0px; -webkit-transition:all 0.25s ease-in-out;-moz-transition:all 0.25s ease-in-out;-o-transition:all 0.25s ease-in-out; transition:all 0.25s ease-in-out; cursor:pointer;}
.sticky li:hover{margin-left:-115px;}
.sticky li img{float:left;margin:5px 4px;margin-right:5px;}
.sticky li p{padding-top:5px;margin:0px;line-height:16px; font-size:11px;}
.sticky li p a{ text-decoration:none; color:#2C3539;}
.sticky li p a:hover{text-decoration:underline;}
/* Sticky Social Icons */

#message{
	background:#ffbd83; color:#743600; font-weight:bold; padding:5px; margin:0 0 10px; display:block;
}