/* Базовые PF-стили */

div.body  a {color: #000000; }

/*
div.body  a:visited {color: #004080;}
div.body  a:active {color: #6b598f;}
div.body  a:hover {color: #dd6d00;}
*/

div.dheader {
	padding: 0px 10px;
	margin: 8px 0 2px 0;
	overflow: hidden;
}

div.dheader, div.dheader h2, div.dheader h3, div.dheader div.left, div.dheader div.right, div.dheader a {
	font: bold 9pt/9pt Arial, Helvetica, sans-serif;
    color: white !important;
	background-color: #4c7aa8;
/*	height: 15px; */
}

div.dheader h2, div.dheader h3 {
	margin: 0;
	padding: 2px 0;
}

div.dheader h2, div.dheader div.left  { float: left; }
div.dheader h3, div.dheader div.right { float: right;  }

div.clear {	height: 0px !important; clear: both; }

div.rline {
	padding: 1px 10px;
	margin: 0 0 29px 0;
}

div.rline div.right, div.rline div.left {
	margin: 0;
	padding: 0;
}

div.rline div.left  { float: left;  }
div.rline div.right { float: right; }

div.news {
	text-align: justify !important;
	padding: 0 30px 0 10px;
	margin: 0;
}

/* Календарь */
th.holyday { color: red!important }
td.bc_disabled { color: #ccc; }
td.bc_normal   { font-weight: bold; }
td.bc_now, td.bc_now a { color: white; background-color: #4c7aa8; font-weight: bold; }

table.nobtab {
	border-left: none;
}

table.nobtab td {
	border: none;
}

table.small td,  table.small th {
	padding: 2px;
}

.w100p {
	width: 100% !important;
}

div.news_list {
	font-size: 12px;
	line-height: 15px;
	text-indent: -12ex;
	padding-left: 12ex;
}

div.news_list a {
	color: black;
}

div.news_list a:hover {
	color: #dd6d00;
}

div.news_list a:visited {
	color: #004080;;
}

div.news_line {

}

.center {
	text-align: center!important;
}

div.top_nav {
	font-size: 12px;
	font-weight: bold;
	padding-bottom: 15px;
}

.dotted {
	height: 1px;
	border: none;
	background: url(/img/dotg.gif);
	overflow: hidden;

	margin: 0 0 2px 0;
}

table.compact h2 {
	color: #314d73 !important;
	font-size: 11px !important;
	font-weight: 500;
	text-decoration: none;
	text-align: justify;
	padding: 0px !important;
	margin: 0px !important;
}

table.pf2_news_list {
	color: #232938;
	font: 12px Tahoma, Arial, Helvetica, sans-serif;
	line-height: 15px;
}

table.pf2_news_list a { color: #000000; }
table.pf2_news_list a:visited { color: #004080; }
table.pf2_news_list a:active { color: #6b598f; }
table.pf2_news_list a:hover { color: #dd6d00; }

table.pf2_news_list th a { color: white!important; }

h1, h1 a {
	color: #fff !important;
	text-align: left;
	font-size: 11px;
	background-color: #4c7aa8 !important;
	font-family: Tahoma, Verdana, Arial, sans-serif !important;
	padding: 5px 5px 5px 8px !important;
	text-decoration: none;
}

h1 a {
	padding-bottom: 0px !important;
}

div.body {
	padding: 0 8px 8px 8px;
	FONT-SIZE: 12px;
	color: #232938;
}

div.body p {
	margin-bottom: 18px;
}


table.btab {
	font-family: Tahoma, Arial, Verdana;
}

table.year-box {
	float: left;
	border: 1px solid #4c7aa8;
	margin: 4px;
	font-size: 13px;
}


table.year-box td {
	padding: 0 10px;
}

table.year-box caption {
	border: 1px solid #4c7aa8;
}

table.year-box caption, table.year-box caption a, table.year-box caption a:link, table.year-box caption a:visited, table.year-box caption a:active, table.year-box caption a:hover {
	background-color: #4c7aa8 !important;
	color: #fff !important;
	font-size: 14px;
	text-decoration: none;
}

table.year-box a, table.year-box a:link, table.year-box a:visited, table.year-box a:active, table.year-box a:hover {
	FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif;
	FONT-SIZE: 12px;
	line-height: 15px;
	font-weight: bold;
	color: #4c7aa8 !important;
}



/* BORS-стили */

table.btab {
    width: auto;
    border-top: 1px solid #4c7aa8;
    border-left: 1px solid #4c7aa8;
    font-size: 12px;
/*	font-family: sans-serif; */
    voice-family: "\"}\"";
    voice-family: inherit;
    margin-bottom: 10px;
    border-collapse:    collapse;
}

table.btab td, table.btab th {
    padding: 1px 10px;
    border-bottom: 1px solid #4c7aa8;
    border-right: 1px solid #4c7aa8;
    vertical-align: top;
}

table.btab td {
	padding: 5px;
}

table.btab th, .btab th a {
    font-size: 11px;
    font-weight: bold;
    text-align: left;
    color: white;
	background-color: #4c7aa8;
	text-decoration: none;
}

div.news {
	text-align: justify!important;
}

div.content {
	font-size: 10pt;
	width: auto;
	padding: 0;
	margin: 0;
}

h1.line, h1.line a {
	color: #fff !important;
	text-align: center;
	font-size: 11px !important;
	background-color: #4c7aa8 !important;
	font-family: sans-serif;
	padding: 2px 0;
	text-decoration: none;
}

h1.line a {
	padding-bottom: 0px;
}

h2.disabled {
	color: #3a82c2 !important;
	font-size: 20pt !important;
}

.btab, .btab td, .btab th {
	border-color: #4c7aa8;
}

.btab th {
	background-color: #4c7aa8 !important;
}

span.date {
	color: #3a82c2 !important;
}

td.news_b {
	font-size: 11px;
	color: #3a82c2 !important;
}

table.news_b th {
	color: white;
	text-align: center;
	font-size: 11px;
}

a#bmc_yprev, a#bmc_ynext { text-decoration: none; margin: 0 5px; font-size: 20px }


table.btab caption
{
	color: #fff;
	background-color: #4c7aa8 !important;
	font-family: "Tahoma", "Verdana", "Arial", sans-serif;
	font-size: 11px;
	font-weight: 700;
}

a.blue-under {
	color: #3a82c2 !important;
	text-decoration: underline !important;
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKBAMAAAB/HNKOAAAAAXNSR0IArs4c6QAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9sHDw4DA+bUpXkAAAAPUExURf///0x6qGaZzJnM/////x5sEGoAAAABdFJOUwBA5thmAAAAAWJLR0QEj2jZUQAAADNJREFUCB0FwQENgEAQA8HFwS3UyCcYaDj/mpgBVLiyBdyiz5b0PSXPp+Q+M6QZyO6AOvymFgWEYO8GSgAAAABJRU5ErkJggg==") 100% 50% no-repeat;
	background-clip: border-box;
	background-size: auto;
	padding-right: 13px;
}

div.pages_select {
	margin-top: 10px;
	margin-bottom: 5px;
	text-align: right;
	width: 95%;
	font-size: 11px;
}

div.pages_select a, div.pages_select span.skip {
	border: 1px solid #4c7aa8;
	text-decoration: none;
	padding: 1px 2px;
	margin: 1px 0 1px 4px;
	background-color: #4c7aa8;
	color: white;
}

div.pages_select a:link {
	color: white;
}

div.pages_select a.current_page {
	background-color: white;
	color: #4c7aa8;
}

div.pages_select span.skip {
	background-color: transparent;
	border: none;
	color: #4c7aa8;
}

