/* Новый дизайн */
.pfs-bnote {
	border: 1px solid #999999;
	background: #f6eddd;
	font-weight: bold;
	font-family: tahoma, verdana, Arial;
	font-size: 12px;
	color: #44506f;
	text-align: left;
	margin: 1px 0 2px 0;
	padding: 3px 10px;
	line-height: 1.5;
}

.pfs-bnote a {
	color: #1a82e0;
}

.pfs-hr {
	margin: 2px 0;
	padding: 0;
	height: 1px;
	background-image: url(/img/dotg.gif);
	background-repeat: repeat-x;
}

hr.pfs {
	margin: 2px 0;
	padding: 0;
	border: 0;
	height: 1px;
	background-image: url(/img/dotg.gif);
	background-repeat: repeat-x;
}
