.divnews {background: #ffffff url('http://www.forexpf.ru/img/dotg1.gif') repeat-x bottom; padding-left: 10px; padding-top: 7px; padding-bottom: 10px; COLOR: #232938; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; FONT-SIZE: 12px; TEXT-DECORATION: none; line-height: 14px}
.nick {color: #004080}
.admnick {color: red}
.shapka {background:  url('/img/top02bg.gif')} 

.topmenu {COLOR: #344c74; FONT-FAMILY: Arial, Tahoma, Helvetica, sans-serif; FONT-SIZE: 11px; FONT-WEIGHT: bold; TEXT-DECORATION: none}
.topmenu A {COLOR: #344c74; FONT-FAMILY: Arial,Tahoma, Helvetica, sans-serif; FONT-SIZE: 11px; FONT-WEIGHT: bold}
.topmenu A:link {COLOR: #344c74; FONT-FAMILY: Arial,Tahoma, Helvetica, sans-serif; FONT-SIZE: 11px; FONT-WEIGHT: bold; WIDTH: 100%}
.topmenu A:visited {COLOR: #344c74; FONT-FAMILY: Arial,Tahoma, Helvetica, sans-serif; FONT-SIZE: 11px; FONT-WEIGHT: bold; WIDTH: 100%}
.topmenu A:active {COLOR: #344c74; FONT-FAMILY: Arial,Tahoma, Helvetica, sans-serif; FONT-SIZE: 11px; FONT-WEIGHT: bold}
.topmenu A:hover {BACKGROUND: url(../img/on.gif) #344c74; COLOR: #ffffff; FONT-FAMILY: Arial,Tahoma, Helvetica, sans-serif; FONT-SIZE: 11px; FONT-WEIGHT: bold; HEIGHT: 100%; WIDTH: 100%}

.newsname {COLOR: #ffffff; FONT-FAMILY: Tahoma, Verdana, Arial, sans-serif; FONT-SIZE: 11px; FONT-WEIGHT: bold; MARGIN-LEFT: 0px; PADDING-LEFT: 0px; TEXT-DECORATION: none}
.newsname A {COLOR: #ffffff; FONT-FAMILY: Tahoma, Verdana, Arial, sans-serif; FONT-SIZE: 11px; FONT-WEIGHT: bold; MARGIN-LEFT: 0px; PADDING-LEFT: 0px}
.newsname A:link {COLOR: #ffffff; FONT-FAMILY: Tahoma, Verdana, Arial, sans-serif; FONT-SIZE: 11px; FONT-WEIGHT: bold; MARGIN-LEFT: 0px; PADDING-LEFT: 0px}
.newsname A:hover {COLOR: #ffffff; FONT-FAMILY: Tahoma, Verdana, Arial, sans-serif; FONT-SIZE: 11px; FONT-WEIGHT: bold; MARGIN-LEFT: 0px; PADDING-LEFT: 0px}
.newsname A:visited {COLOR: #ffffff; FONT-FAMILY: Tahoma, Verdana, Arial, sans-serif; FONT-SIZE: 11px; FONT-WEIGHT: bold; MARGIN-LEFT: 0px; PADDING-LEFT: 0px}
.newsname A:active {COLOR: #ffffff; FONT-FAMILY: Tahoma, Verdana, Arial, sans-serif; FONT-SIZE: 11px; FONT-WEIGHT: bold; MARGIN-LEFT: 0px; PADDING-LEFT: 0px}

.newstime {COLOR: #3a82c2; FONT-FAMILY: Tahoma, Helvetica, sans-serif; FONT-SIZE: 11px; TEXT-ALIGN: left; TEXT-DECORATION: none}

.news {COLOR: #232938; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; FONT-SIZE: 12px; TEXT-DECORATION: none; line-height: 15px}
.news A {COLOR: #3a82c2; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; FONT-SIZE: 12px; line-height: 15px}
.news A:link {COLOR: #3a82c2; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; FONT-SIZE: 12px; line-height: 15px}
.news A:visited {COLOR: #3a82c2; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; FONT-SIZE: 12px; line-height: 15px}
.news A:active {COLOR: #3a82c2; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; FONT-SIZE: 12px; line-height: 15px}
.news A:hover {COLOR: #3a82c2; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; FONT-SIZE: 12px; line-height: 15px}

.news0 {COLOR: #232938; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; FONT-SIZE: 9pt; TEXT-DECORATION: none; line-height: 15px}
.news0 A {COLOR: #000000; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; FONT-SIZE: 9pt; line-height: 15px}
.news0 A:link {COLOR: #000000; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; FONT-SIZE: 9pt; line-height: 15px}
.news0 A:visited {COLOR: #004080; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; FONT-SIZE: 9pt; line-height: 15px}
.news0 A:active {COLOR: #6b598f; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; FONT-SIZE: 9pt; line-height: 15px}
.news0 A:hover {COLOR: #dd6d00; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; FONT-SIZE: 9pt; line-height: 15px}

.news1 {COLOR: #232938; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; FONT-SIZE: 11px; TEXT-DECORATION: none; line-height: 17px}
.news1 A {COLOR: #000000; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; FONT-SIZE: 11px; line-height: 17px}
.news1 A:link {COLOR: #000000; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; FONT-SIZE: 11px; line-height: 17px}
.news1 A:visited {COLOR: #004080; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; FONT-SIZE: 11px; line-height: 17px}
.news1 A:active {COLOR: #6b598f; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; FONT-SIZE: 11px; line-height: 17px}
.news1 A:hover {COLOR: #dd6d00; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; FONT-SIZE: 11px; line-height: 17px}


.news5 {COLOR: #232938; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; FONT-SIZE: 11px; TEXT-DECORATION: none; line-height: 14px}
.news5 A {COLOR: #000000; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; FONT-SIZE: 11px; line-height: 17px}
.news5 A:link {COLOR: #000000; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; FONT-SIZE: 11px; line-height: 17px}
.news5 A:visited {COLOR: #004080; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; FONT-SIZE: 11px; line-height: 17px}
.news5 A:active {COLOR: #6b598f; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; FONT-SIZE: 11px; line-height: 17px}
.news5 A:hover {COLOR: #dd6d00; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; FONT-SIZE: 11px; line-height: 17px}


.newsarc {COLOR: #3a82c2; FONT-FAMILY: Tahoma,  Arial, Helvetica, sans-serif; FONT-SIZE: 11px; FONT-WEIGHT: bold; TEXT-DECORATION: none}
.newsarc A {COLOR: #3a82c2; FONT-FAMILY: Tahoma,  Arial, Helvetica, sans-serif; FONT-SIZE: 11px; FONT-WEIGHT: bold;}
.newsarc A:link {COLOR: #3a82c2; FONT-FAMILY: Tahoma,  Arial, Helvetica, sans-serif; FONT-SIZE: 11px; FONT-WEIGHT: bold;}
.newsarc A:visited {COLOR: #3a82c2; FONT-FAMILY: Tahoma,  Arial, Helvetica, sans-serif; FONT-SIZE: 11px; FONT-WEIGHT: bold;}
.newsarc A:active {COLOR: #3a82c2; FONT-FAMILY: Tahoma,  Arial, Helvetica, sans-serif; FONT-SIZE: 11px; FONT-WEIGHT: bold;}
.newsarc A:hover {COLOR: #3a82c2; FONT-FAMILY: Tahoma,  Arial, Helvetica, sans-serif; FONT-SIZE: 11px; FONT-WEIGHT: bold;}

.newsarc1 {COLOR: #3a82c2; FONT-FAMILY: Tahoma,  Arial, Helvetica, sans-serif; FONT-SIZE: 11px; FONT-WEIGHT: bold; TEXT-DECORATION: none}
.newsarc1 A {COLOR: #3a82c2; FONT-FAMILY: Tahoma,  Arial, Helvetica, sans-serif; FONT-SIZE: 11px; FONT-WEIGHT: bold }
.newsarc1 A:link {COLOR: #3a82c2; FONT-FAMILY: Tahoma,  Arial, Helvetica, sans-serif; FONT-SIZE: 11px; FONT-WEIGHT: bold;}
.newsarc1 A:visited {COLOR: #3a82c2; FONT-FAMILY: Tahoma,  Arial, Helvetica, sans-serif; FONT-SIZE: 11px; FONT-WEIGHT: bold;}
.newsarc1 A:active {COLOR: #3a82c2; FONT-FAMILY: Tahoma,  Arial, Helvetica, sans-serif; FONT-SIZE: 11px; FONT-WEIGHT: bold;}
.newsarc1 A:hover {COLOR: #3a82c2; FONT-FAMILY: Tahoma,  Arial, Helvetica, sans-serif; FONT-SIZE: 11px; FONT-WEIGHT: bold;}			

.news2 {COLOR: #4b5777; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; FONT-SIZE: 11px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px;}
.news2 A {COLOR: #000ac0; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; FONT-SIZE: 11px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px}
.news2 A:link {COLOR: #000ac0; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; FONT-SIZE: 11px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px}
.news2 A:visited {COLOR: #000ac0; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; FONT-SIZE: 11px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px}
.news2 A:active {COLOR: #6b598f; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; FONT-SIZE: 11px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px}
.news2 A:hover {COLOR: #ff2a00; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; FONT-SIZE: 11px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px}

.tlink {COLOR: #120090; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; FONT-SIZE: 13px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px;text-transform: uppercase;}
.tlink A {COLOR: #120090; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; FONT-SIZE: 13px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px;text-transform: uppercase;}
.tlink A:link {COLOR: #120090; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; FONT-SIZE: 13px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px;text-transform: uppercase;}
.tlink A:visited {COLOR: #120090; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; FONT-SIZE: 13px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px;text-transform: uppercase;}
.tlink A:active {COLOR: #120090; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; FONT-SIZE: 13px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px;text-transform: uppercase;}
.tlink A:hover {COLOR: #ff2a00; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; FONT-SIZE: 13px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px;text-transform: uppercase;}

.newstext {COLOR: #4b5777; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none}
.newstext A {COLOR: #000000; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; FONT-SIZE: 12px; FONT-WEIGHT: bold}
.newstext A:link {COLOR: #000000; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; FONT-SIZE: 12px; FONT-WEIGHT: bold}
.newstext A:visited {COLOR: #000000; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; FONT-SIZE: 12px; FONT-WEIGHT: bold}
.newstext A:active {COLOR: #6b598f; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; FONT-SIZE: 12px; FONT-WEIGHT: bold}
.newstext A:hover {COLOR: #ff2a00; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; FONT-SIZE: 12px; FONT-WEIGHT: bold}

.kotname {COLOR: #ffffff; FONT-FAMILY: Tahoma, Verdana, Arial, sans-serif; FONT-SIZE: 11px; FONT-WEIGHT: bold; MARGIN-LEFT: 0px; PADDING-LEFT: 0px; TEXT-DECORATION: none}
.kotname A {COLOR: #ffffff; FONT-FAMILY: Tahoma, Verdana, Arial, sans-serif; FONT-SIZE: 11px; FONT-WEIGHT: bold; MARGIN-LEFT: 0px; PADDING-LEFT: 0px; TEXT-DECORATION: none}
.kotname A:hover {COLOR: #ff2a00; FONT-FAMILY: Tahoma, Verdana, Arial, sans-serif; FONT-SIZE: 11px; FONT-WEIGHT: bold; MARGIN-LEFT: 0px; PADDING-LEFT: 0px}

.curs {COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 10px; MARGIN-LEFT: 0px; PADDING-LEFT: 0px; TEXT-DECORATION: none}
.curs a {COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 10px; MARGIN-LEFT: 0px; PADDING-LEFT: 0px}
.curs a:hover {COLOR: #ff2a00; }

.cursu {COLOR: #008740; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 10px; FONT-WEIGHT: bold; MARGIN-LEFT: 0px; PADDING-LEFT: 0px; TEXT-DECORATION: none}
.cursd {COLOR: #ff1e00; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 10px; FONT-WEIGHT: bold; MARGIN-LEFT: 0px; PADDING-LEFT: 0px; TEXT-DECORATION: none}

.text {COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 12px; TEXT-DECORATION: none}
.text A {COLOR: #003399; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 12px; TEXT-DECORATION: none}
.text A:link {COLOR: #003399; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 12px; TEXT-DECORATION: none}
.text A:visited {COLOR: #003399; FONT-FAMILY: Arial, Helvetica,sans-serif; FONT-SIZE: 12px; TEXT-DECORATION: none}
.text A:active {COLOR: #003399; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 12px; TEXT-DECORATION: none}
.text A:hover {COLOR: #ff6600; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 12px; TEXT-DECORATION: underline}

.stat {COLOR: #232938; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; FONT-SIZE: 12px; TEXT-DECORATION: none; padding-left: 4px; padding-right: 4px; padding-bottom: 3px; padding-top: 3px;}
.stat A {COLOR: #000000; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; FONT-SIZE: 12px}
.stat A:link {COLOR: #000000; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; FONT-SIZE: 12px}
.stat A:visited {COLOR: #004080; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; FONT-SIZE: 12px}
.stat A:active {COLOR: #6b598f; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; FONT-SIZE: 12px}
.stat A:hover {COLOR: #dd6d00; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; FONT-SIZE: 12px}

.cab2 {COLOR: #3a82c2; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; FONT-SIZE: 12px;}
.cab2 A {COLOR: #3a82c2; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; FONT-SIZE: 12px}
.cab2 A:link {COLOR: #3a82c2; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; FONT-SIZE: 12px}
.cab2 A:visited {COLOR: #3a82c2; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; FONT-SIZE: 12px}
.cab2 A:active {COLOR: #3a82c2; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; FONT-SIZE: 12px}
.cab2 A:hover {COLOR: #3a82c2; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; FONT-SIZE: 12px}

.kotname {COLOR: #ffffff; FONT-FAMILY: Tahoma, Verdana, Arial, sans-serif; FONT-SIZE: 11px; FONT-WEIGHT: bold; MARGIN-LEFT: 0px; PADDING-LEFT: 0px; TEXT-DECORATION: none}

.kotname2 {COLOR: #ffffff; FONT-FAMILY: Tahoma, Verdana, Arial, sans-serif; FONT-SIZE: 12px; FONT-WEIGHT: bold; MARGIN-LEFT: 0px; PADDING-LEFT: 0px; TEXT-DECORATION: none}

.kot {COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 11px; MARGIN-LEFT: 0px; PADDING-LEFT: 0px; TEXT-DECORATION: none}

.PhorumBodyArea {font-family: Verdana, Arial, Clean, Helvetica, sans-serif; font-size: 12px; width: 500px}
.PhorumListTable {font-family: Tahoma, Verdana, Arial, Clean, Helvetica, sans-serif; font-size: 11px;  border-style: solid; 
border-top-color: #4c7aa8; border-right-color: #999999; border-bottom-color: #999999; border-left-color: #999999; border-width: 1px}

.PhorumListRow {font-family: Verdana, Arial, Clean, Helvetica, sans-serif; font-size: 11px; height: 11px;padding-right: 5px; padding-left: 5px}
.PhorumListRow A {COLOR: #000000; font-family: Verdana, Arial, Clean, Helvetica, sans-serif; font-size: 11px; height: 11px}
.PhorumListRow A:link {COLOR: #000000; font-family: Verdana, Arial, Clean, Helvetica, sans-serif; font-size: 11px; height: 11px}
.PhorumListRow A:visited{COLOR: #004080; font-family: Verdana, Arial, Clean, Helvetica, sans-serif; font-size: 11px; height: 11px}
.PhorumListRow A:active{COLOR: #6b598f; font-family: Verdana, Arial, Clean, Helvetica, sans-serif; font-size: 11px; height: 11px}
.PhorumListRow A:hover{COLOR: #dd6d00; font-family: Verdana, Arial, Clean, Helvetica, sans-serif; font-size: 11px; height: 11px}


.PhorumListHeader {color: #ffffff; font-family: Tahoma, Verdana, Arial, Clean, Helvetica, sans-serif; font-size: 11px; font-weight: bold; height: 15px; font-variant: small-caps; padding-right: 5px; padding-left: 5px; vertical-align: middle;}

.PhorumForumTitle {COLOR: #4b5777; FONT-FAMILY: Tahoma, Arial, Verdana, Helvetica, sans-serif; FONT-SIZE: 19px; font-weight: bold; TEXT-DECORATION: none; padding-left: 5px; padding-top: 5px}
.PhorumForumTitle A {COLOR: #000000; FONT-FAMILY: Tahoma, Arial, Verdana, Helvetica, sans-serif; FONT-SIZE: 12px}
.PhorumForumTitle  A:link {COLOR: #000000; FONT-FAMILY: Tahoma, Arial, Verdana, Helvetica, sans-serif; FONT-SIZE: 12px}
.PhorumForumTitle  A:visited {COLOR: #004080; FONT-FAMILY: Tahoma, Arial, Verdana, Helvetica, sans-serif; FONT-SIZE: 12px}
.PhorumForumTitle  A:active {COLOR: #6b598f; FONT-FAMILY: Tahoma, Arial, Verdana, Helvetica, sans-serif; FONT-SIZE: 12px}
.PhorumForumTitle  A:hover {COLOR: #dd6d00; FONT-FAMILY: Tahoma, Arial, Verdana, Helvetica, sans-serif; FONT-SIZE: 12px}

.PhorumForumDescr {color: #232938; font-family: Arial, Courier New, Geneva, Courier, Clean;font-size: 12px; padding-left: 5px; padding-right: 5px}

.PhorumTableHeader {color: #ffffff; font-family: Tahoma, Verdana, Arial, Clean, Helvetica, sans-serif; font-size: 11px; font-weight: bold; height: 15px; font-variant: small-caps; padding-right: 5px; padding-left: 5px}
.PhorumNav {font-family: Arial, Verdana, MS Sans Serif , Clean, sans-serif; font-size: 12px;font-weight: 700; }
.PhorumNewFlag {font-family: Arial, Verdana, MS Sans Serif , Clean, sans-serif;font-size: 10px; color: Red}
.PhorumMessage {color: #232938; font-family: Verdana, Arial, Courier New, Geneva, Courier, Clean;font-size: 12px; padding-left: 5px; padding-right: 5px}
.PhorumMessage A {color: #232938; font-family: Verdana, Arial, Courier New, Geneva, Courier, Clean;font-size: 12px; padding-left: 5px; padding-right: 5px}
.PhorumMessage A:link {color: #232938; font-family: Verdana, Arial, Courier New, Geneva, Courier, Clean;font-size: 12px; padding-left: 5px; padding-right: 5px}
.PhorumMessage A:visited {color: #003399; font-family: Verdana, Arial, Courier New, Geneva, Courier, Clean;font-size: 12px; padding-left: 5px; padding-right: 5px}
.PhorumMessage A:active {color: #6b598f; font-family: Verdana, Arial, Courier New, Geneva, Courier, Clean;font-size: 12px; padding-left: 5px; padding-right: 5px}
.PhorumMessage A:hover {color: #ff6600; font-family: Verdana, Arial, Courier New, Geneva, Courier, Clean;font-size: 12px; padding-left: 5px; padding-right: 5px}

.inpt {border: 1px solid #4C7AA8; font-size:12px; font-family: Tahoma, Arial; position:relative; top:0; left:0; z-index:1; margin: 0px 0px 0px 0px; background-color: White; BACKGROUND-IMAGE: url(../img/formbg2.gif)}
.adx {visibility: hidden; margin-left: -1024; margin-top: -768;}
.dmenu {COLOR: #000000; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; FONT-SIZE: 11px;  font-weight: 500; TEXT-DECORATION: none; text-align: justify}
.dmenu a {COLOR: #000000; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; FONT-SIZE: 11px;  font-weight: 500; text-align: justify}
.dmenu a:link {COLOR: #000000; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; FONT-SIZE: 11px;  font-weight: 500; text-align: justify}
.dmenu a:visited {COLOR: #000000; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; FONT-SIZE: 11px;  font-weight: 500; text-align: justify}
.dmenu a:active {COLOR: #000000; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; FONT-SIZE: 11px;  font-weight: 500; text-align: justify}
.dmenu a:hover {COLOR: #ff2a00; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; FONT-SIZE: 11px;  font-weight: 500; text-align: justify}

h2 {COLOR: #314d73; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; FONT-SIZE: 11px;  font-weight: 500; TEXT-DECORATION: none; text-align: justify}
h2 a {COLOR: #314d73; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; FONT-SIZE: 11px;  font-weight: 500; text-align: justify}
h2 a:link {COLOR: #314d73; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; FONT-SIZE: 11px;  font-weight: 500; text-align: justify}
h2 a:visited {COLOR: #314d73; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; FONT-SIZE: 11px;  font-weight: 500; text-align: justify}
h2 a:active {COLOR: #314d73; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; FONT-SIZE: 11px;  font-weight: 500; text-align: justify}
h2 a:hover {COLOR: #f47a00; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; FONT-SIZE: 11px;  font-weight: 500; text-align: justify}

h1 {font-family: tahoma; color:004184 ; font-size:11px;padding:0;margin:0}

h4 {font-family: tahoma; color:004184 ; font-size:11px;padding:0;margin:0}

BODY {FONT-FAMILY: Tahoma, Arial, Verdana; FONT-SIZE: 12px; TEXT-ALIGN: justify; scrollbar-3d-light-color: #344c74; scrollbar-arrow-color: #FFFFFF; scrollbar-base-color: #4c7aa8; scrollbar-dark-shadow-color: #344c74; scrollbar-face-color: #4c7aa8; scrollbar-highlight-color: #FFFFFF; scrollbar-shadow-color: #344c74; scrollbar-track-color: #a9bfd5}

.blogButton, .printButton, .emailButton, .bookmarkButton, .commentButton, .addButton, .userpostLink 
{
	padding-left: 18px;
	margin-right: 12px;
	background: url(/_img/ico_print.gif) no-repeat 0px 0px;
}
.blogButton, .blogButton:hover, .blogButton:active, .blogButton:visited, .blogButton:link
{
	background-image: url(/_img/ico_blog.gif);
	color: red;
}

.emailButton
{
	background-image: url(/_img/ico_mail.gif);
}
.bookmarkButton
{
	background-image: url(/_img/ico_bookmark.gif);
}
.commentButton
{
	background-image: url(/_img/ico_comment.gif);
}             
.addButton
{
	background-image: url(/_img/ico_add.gif);
} 
/* .blogButton, .printButton, .bookmarkButton, {  padding-left: 18px; margin-right: 12px; FONT-FAMILY: Tahoma, Helvetica, sans-serif; FONT-SIZE: 11px; TEXT-ALIGN: left; TEXT-DECORATION: none; background: url(/_img/ico_print.gif) no-repeat 0px 0px; } .blogButton, .blogButton:hover, .blogButton:active, .blogButton:visited, .blogButton:link {ackground-image: url(/_img/ico_blog.gif);}  .bookmarkButton {background-image: url(/_img/ico_bookmark.gif);} */
.textActionBox {border-top: 1px solid #cee3f9; margin: 1em 5px 2em 5px;	_padding-bottom: 2em; overflow: hidden;	padding-top: 10px; clear: both; color: #cee3f9;
}

.textActionBox a, .textActionBox span
{
	float: left;
	padding-bottom: 3px;
	margin-right: 6px;
}
