@charset "UTF-8";
@font-face { font-family: MaidoGothic; src: url(/assets/MaidoGothicJpLighter-Regular.eot?8e3235d054c47e7f66d3bc2a48118c76750f1a4fc5de1a9129eb7b85e3557964); /* IE9 Compat Modes */ src: url(/assets/MaidoGothicJpLighter-Regular.eot?8e3235d054c47e7f66d3bc2a48118c76750f1a4fc5de1a9129eb7b85e3557964?#iefix) format("embedded-opentype"), url(/assets/MaidoGothicJpLighter-Regular.ttf?db1fe462a84d9c754d429b9120e3e985119290759761b7f32e9328ea3dc70513) format("truetype"); font-weight: normal; font-style: normal; }

.maido_font { font-family: MaidoGothic; font-weight: normal !important; }

.maido_font .tax_information { font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "Meiryo", "メイリオ", "Osaka", "MS PGothic", arial, helvetica, sans-serif; font-weight: bold; }
