@charset "UTF-8";
@font-face { font-family: MaidoGothic; src: url(/assets/MaidoGothicJpLighter-Regular.eot?8e3235d054c47e7f66d3bc2a48118c76750f1a4fc5de1a9129eb7b85e3557964); /* IE9 Compat Modes */ src: url(/assets/MaidoGothicJpLighter-Regular.eot?8e3235d054c47e7f66d3bc2a48118c76750f1a4fc5de1a9129eb7b85e3557964?#iefix) format("embedded-opentype"), url(/assets/MaidoGothicJpLighter-Regular.ttf?db1fe462a84d9c754d429b9120e3e985119290759761b7f32e9328ea3dc70513) format("truetype"); font-weight: normal; font-style: normal; }

.maido_font { font-family: MaidoGothic; font-weight: normal !important; }

.maido_font .tax_information { font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "Meiryo", "メイリオ", "Osaka", "MS PGothic", arial, helvetica, sans-serif; font-weight: bold; }

/* # label: - when in .left_top_label appear at left-top - when in .border_label: render border (special price only) - when other: render at sublabel position # sublabel: next to price PARTIAL: product (.product.basic) +-------------------+ | label |           | +-------+           | | name              | | price (sublabel)  | | product_area      | | comment           | +-------------------+ PARTIAL: product_large (.product.large) +-------------------+-------------------+ | label |           |  name             | +-------+           |  price (sublabel) | |                   |  product_area     | |                   |  comment          | |      image        |                   | |                   +-------+-----------+ |                   |       | message   | |                   | img   | link      | |                   |       |           | +-------------------+-------+-----------+ PARTIAL: product_with_photo (.product.with.photo) +-------------------+ | label |           | +-------+           | |      image        | |                   | +-------------------+ | comment           | +-------------------+ | name              | | price (sublabel)  | | product_area      | +-------------------+ PARTIAL: product_with_recipe (.product.with_recipe) +-------------------+--------+ | label |           |        | +-------+           |  img   | | name              |        | | price (sublabel)  |--------+ | product_area      |  link  | | comment           |        | +-------------------+--------+ PARTIAL: product_with_photo_and_recipe (.product.with_photo_and_recipe) +----------------------------+ | label |                    | +-------+                    | |      image                 | |                            | +----------------------------+ | comment                    | +-------------------+--------+ | name              |        | | price (sublabel)  |  img   | | product_area      |        | |                   |--------+ |                   |  link  | +-------------------+--------+ PARTIAL: coupon (.product.coupon) +-------------------+-------------------+ | label |           |  name             | +-------+           |  price            | |                   |  normal price     | |                   |  comment          | |      image        |                   | |                   |  conditions ----- | |                   |                   | |                   |  duration ------- | |                   |                   | |                   |  shop link        | +-------------------+-------------------+ */
.shop_products_and_items { overflow: hidden; }

.shop_products_and_items a { text-decoration: none; }

.border_label .product.coupon { border: 3px solid #ef6074; }

.left_top_label .product .top_label { font-weight: bold; }

.left_top_label .product.time_sale .top_label { font-size: 86%; }

.left_top_label .product { padding-top: 30px; }

.left_top_label .product .label_class { white-space: nowrap; display: block; }

.left_top_label .product .product_text .label_class { display: none; }

.product { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; font-size: 100%; display: inline-block; position: relative; padding: 0; margin: 0; border-radius: 5px; overflow: hidden; vertical-align: bottom; }

.product a { text-decoration: none; }

.product a.underline { text-decoration: underline; }

.product .top_label { z-index: 10; font-size: 100%; white-space: nowrap; font-weight: normal; position: absolute; top: 0; left: 0; border-radius: 0 0 5px 0; padding: 4px 6px; display: none; }

.product.special_price { border: none; }

.product.special_price .label_class { background-color: #ff6600; color: white; }

.product.recommended { border: none; }

.product.recommended .label_class { background-color: #ef6074; color: white; }

.product.time_sale .label_class { font-size: 86%; text-align: center; background-color: #ff6600; color: white; }

.product.limit_n_products_per_person .label_class { background-color: #845f4b; color: white; }

.product.limit_first_n_people .label_class { background-color: #96bc13; color: white; }

.product.today_only .label_class { background-color: #ef6074; color: white; }

.product.new_product .label_class { background-color: #ff9933; color: white; }

.product.season .label_class { background-color: #eec400; color: white; }

.product.theme .label_class { background-color: #ff9933; color: white; display: none; }

.shops_controller.index_action .product.theme .label_class.top_label { display: block; }

.product.theme .product_text .label_class { display: none; }

.product .product_text { font-size: 12px; padding-right: 3px; padding-bottom: 2px; padding-left: 2px; }

.product .product_text a:hover { text-decoration: underline; }

.product .product_text .label_class { font-size: 9px; position: relative; display: inline-block; line-height: 1; border-radius: 3px; padding: 4px; color: white; margin-left: 3px; }

.product .product_text .name { font-size: 16px; padding-top: 2px; font-weight: bold; }

.product .product_text .price_unit_and_production_area { color: #999999; }

.product .product_text .comment { *zoom: 1; color: #999999; }

.product .product_text .comment:after { content: ""; display: block; clear: both; }

.product .product_text .price_and_label { overflow: hidden; padding-top: 5px; }

.product .product_text .price_and_label .price { display: inline; color: #ef6074; font-weight: bold; line-height: 1; float: left; }

.product .product_text .price_and_label .price .number, .product .product_text .price_and_label .price .discount_digit { font-size: 28px; }

.product .product_text .price_and_label .discount { display: inline; color: #ef6074; font-weight: bold; line-height: 1; float: left; font-size: 24px; }

.product .product_text .price_and_label .sublabel_class { float: left; }

.product .product_text .recipe_by_product { float: right; width: 70px; margin-left: 5px; line-height: 1.2; }

.product .product_text .recipe_by_product img { width: 70px; height: 70px; border-radius: 3px; }

.product .product_text .recipe_by_product .recipe_title { font-size: 79%; word-wrap: break-word; word-break: break-all; }

.product .product_image { width: 100%; height: 238px; position: relative; }

.product .product_image img { width: 100%; height: 100%; }

.product .product_image .comment { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; font-size: 72%; position: absolute; bottom: 0; background: url(/assets/themes/bargain_shops/transparent_black.png?bf7b057ae309e2de08d7685b5444d7dc0a5fc87bfc0803855d6f76a68a6ace32); width: 100%; padding: 3px 5px; color: #fff; }

.product .shop_name_link { font-size: 93%; margin-top: 5px; height: 35px; }

.product .shop_name_link.shop_list { height: initial; }

.product .shop_name_link .more { font-size: 12px; text-decoration: underline; }

.product .shop_name_link .shop_icon { vertical-align: text-bottom; width: 15px; height: 16px; }

.product.basic { padding-right: 3px; padding-bottom: 2px; padding-left: 2px; margin: 0 5px 5px 0; width: 193px; min-height: 135px; border-bottom: 1px dashed #e3dcca; }

.product.basic .name { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }

.product.basic .comment { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }

.product.basic .price_unit_and_production_area { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }

.theme_product.basic .product_text .theme_title { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; font-size: 16px; font-weight: bold; color: #ff6600; }

.theme_product.basic .product_text .name { padding-top: 0; font-size: 14px; }

.theme_product.basic .product_text .price_and_label .price .number { font-size: 20px; }

.theme_product.basic .product_text .price_and_label .price .yen, .theme_product.basic .product_text .price_and_label .price .tax_information { font-size: 10px; }

.theme_product.basic .product_text .note { font-size: 11px; color: #999999; position: relative; bottom: 4px; }

.product.with_photo { padding: 0; margin: 0 4px 0 0; width: 193px; min-height: 247px; }

.product.with_photo.recommended .top_label { background: url(/assets/themes/bargain_shops/label_recommended.png?68ab8a9a5eaf98d1543811e7b22b1e870eafe939b8c1731f97e70bb4e10b318a) no-repeat 0 0; -webkit-background-size: 103px 31px; -moz-background-size: 103px 31px; -ms-background-size: 103px 31px; -o-background-size: 103px 31px; background-size: 103px 31px; width: 103px; height: 31px; padding: 0; text-indent: 101%; white-space: nowrap; overflow: hidden; }

.product.with_photo.time_sale .top_label { background: url(/assets/themes/bargain_shops/label_time_sale.png?8637b23bf177baed83effe4dbd693cebdf7481122472aabda390a822a0f7c026) no-repeat 0 0; -webkit-background-size: 103px 38px; -moz-background-size: 103px 38px; -ms-background-size: 103px 38px; -o-background-size: 103px 38px; background-size: 103px 38px; width: 103px; height: 38px; padding: 0; }

.product.with_photo.time_sale .top_label .time_sale_fixed_text { display: none; }

.product.with_photo.time_sale .top_label .time_sale_range { display: block; margin-top: 20px; text-align: center; width: 80.34px; }

.product.with_photo .product_image { height: 135px; border-radius: 3px; margin-bottom: 2px; overflow: hidden; }

.product.with_photo .name { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }

.product.with_photo .comment { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }

.product.with_photo:hover .comment { text-overflow: clip; white-space: normal; }

.product.with_photo .price_unit_and_production_area { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }

.theme_product.with_photo .top_label { display: block; padding: 3px 5px; }

.theme_product.with_photo .product_image { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; border: solid 3px #ff9933; }

.theme_product.with_photo .product_text .theme_title { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; font-size: 16px; font-weight: bold; }

.theme_product.with_photo .product_text .name { padding-top: 0; font-size: 14px; }

.theme_product.with_photo .product_text .price_and_label .price .number { font-size: 20px; }

.theme_product.with_photo .product_text .price_and_label .price .yen, .theme_product.with_photo .product_text .price_and_label .price .tax_information { font-size: 10px; }

.theme_product.with_photo .product_text .note { font-size: 11px; color: #999999; position: relative; bottom: 4px; }

.product.with_recipe { margin: 0 13px 15px 0; width: 289px; border-bottom: 1px dashed #e3dcca; }

.product.with_recipe .left_text { float: none; width: auto; min-height: 100px; }

.product.with_photo_and_recipe { padding: 0; margin: 0 7px 2px 0; width: 289px; }

.product.with_photo_and_recipe.recommended .top_label { background: url(/assets/themes/bargain_shops/label_recommended.png?68ab8a9a5eaf98d1543811e7b22b1e870eafe939b8c1731f97e70bb4e10b318a) no-repeat 0 0; -webkit-background-size: 103px 31px; -moz-background-size: 103px 31px; -ms-background-size: 103px 31px; -o-background-size: 103px 31px; background-size: 103px 31px; width: 103px; height: 31px; padding: 0; text-indent: 101%; white-space: nowrap; overflow: hidden; }

.product.with_photo_and_recipe.time_sale .top_label { background: url(/assets/themes/bargain_shops/label_time_sale.png?8637b23bf177baed83effe4dbd693cebdf7481122472aabda390a822a0f7c026) no-repeat 0 0; -webkit-background-size: 103px 38px; -moz-background-size: 103px 38px; -ms-background-size: 103px 38px; -o-background-size: 103px 38px; background-size: 103px 38px; width: 103px; height: 38px; padding: 0; }

.product.with_photo_and_recipe.time_sale .top_label .time_sale_fixed_text { display: none; }

.product.with_photo_and_recipe.time_sale .top_label .time_sale_range { display: block; margin-top: 20px; text-align: center; width: 80.34px; }

.product.with_photo_and_recipe .product_image { height: 208px; border-radius: 5px; margin-bottom: 2px; overflow: hidden; }

.product.with_photo_and_recipe .left_text { float: none; width: auto; min-height: 100px; }

.product.large { *zoom: 1; margin-bottom: 15px; width: 610px; padding: 0; }

.product.large:after { content: ""; display: block; clear: both; }

.product.large .top_label { font-size: 129%; padding: 3px 6px; }

.product.large.recommended .top_label { background: url(/assets/themes/bargain_shops/label_recommended.png?68ab8a9a5eaf98d1543811e7b22b1e870eafe939b8c1731f97e70bb4e10b318a) no-repeat 0 0; -webkit-background-size: 103px 31px; -moz-background-size: 103px 31px; -ms-background-size: 103px 31px; -o-background-size: 103px 31px; background-size: 103px 31px; width: 103px; height: 31px; padding: 0; text-indent: 101%; white-space: nowrap; overflow: hidden; }

.product.large.time_sale .top_label { background: url(/assets/themes/bargain_shops/label_time_sale.png?8637b23bf177baed83effe4dbd693cebdf7481122472aabda390a822a0f7c026) no-repeat 0 0; -webkit-background-size: 103px 38px; -moz-background-size: 103px 38px; -ms-background-size: 103px 38px; -o-background-size: 103px 38px; background-size: 103px 38px; width: 103px; height: 38px; padding: 0; }

.product.large.time_sale .top_label .time_sale_fixed_text { display: none; }

.product.large.time_sale .top_label .time_sale_range { display: block; margin-top: 20px; text-align: center; width: 80.34px; }

.product.large .product_image { width: 330px; float: left; }

.product.large .recipe_by_product { float: none; font-size: 100%; border-top: 1px dashed #e3dcca; padding-top: 5px; display: block; width: 240px; }

.product.large .recipe_by_product img { float: left; }

.product.large .recipe_descriptions { font-size: 86%; display: inline-block; width: 160px; margin-left: 5px; }

.product.large .recipe_descriptions .recipe_title { font-size: 108%; }

.product.large .product_text { position: relative; margin-left: 338px; width: auto; }

.product.large .product_text .name { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; font-size: 20px; line-height: 1.3; }

.product.large .product_text .comment { margin-top: 5px; max-height: 65px; overflow: hidden; }

.product.large .product_text .price_unit_and_production_area { font-size: 100%; margin-left: 0; }

.product.coupon { *zoom: 1; margin-bottom: 15px; width: 610px; padding: 0; display: block; }

.product.coupon:after { content: ""; display: block; clear: both; }

.product.coupon .top_label { font-size: 122%; background-color: #ef6074; border-color: #ef6074; color: white; }

.product.coupon .product_image { width: 292px; height: 208px; float: left; }

.product.coupon .product_text { position: relative; margin-left: 300px; width: auto; padding-left: 5px; }

.product.coupon .product_text .name { color: #330000; font-size: 20px; line-height: 1.3; margin-bottom: 5px; }

.product.coupon .product_text .comment { margin-top: 5px; max-height: 65px; overflow: hidden; }

.product.coupon .product_text .price { font-size: 143%; }

.product.coupon .product_text .original_price { font-size: 14px; float: left; margin-top: 5px; margin-left: 10px; color: #999999; }

.product.coupon .product_text .condition { font-size: 12px; margin-top: 5px; color: #999999; }

.product.coupon .product_text .subject { font-size: 13px; font-weight: bold; white-space: nowrap; overflow: hidden; color: #3c3c3c; }

.product.coupon .product_text .subject .border { display: inline-block; width: 100%; border-top: 1px dashed lightgray; margin: 5px 0 0 5px; height: 5px; }

.product.coupon.user_view .spweb_only_wrapper { border-radius: 4px; *zoom: 1; border: 1px solid #e3dcca; height: 64px; margin: 8px 8px 8px 0; display: block; }

.product.coupon.user_view .spweb_only_wrapper:after { content: ""; display: block; clear: both; }

.product.coupon.user_view .spweb_only_wrapper .image, .product.coupon.user_view .spweb_only_wrapper .text { float: left; color: #999999; }

.product.coupon.user_view .spweb_only_wrapper .image { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; font-size: 36px; width: 50px; padding: 4px 8px; }

.product.coupon.user_view .spweb_only_wrapper .text { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; width: 235px; padding: 14px 28px 14px 0; background: url(/assets/sara/icon_arrow_right_light_gray@2x.png?fb0a85acca15f543e8e52df5ec7360a79eb28645f92b23b147f9d49ca3f4f794) no-repeat right 8px center; background-size: 10px; }

.theme_product_strip.strip.slim { height: auto; margin-top: 5px; }

.theme_product_strip.strip.slim .product_text .name { float: left; }

.theme_product_strip.strip.slim .product_text .price_text { float: right; }

.theme_product_strip.strip.slim .product_text .price_text .number, .theme_product_strip.strip.slim .product_text .price_text .discount { font-size: 16px; }

.theme_product_strip.strip.slim .product_text .price_text .number .discount_digit, .theme_product_strip.strip.slim .product_text .price_text .discount .discount_digit { font-size: 16px; }

.theme_product_strip.strip.slim .point_present_img img { width: 37px; margin-left: -4px; }

.point_present_img.refund_point img.point_text { width: 57px; vertical-align: text-bottom; margin-left: -2px; }

.point_present_img.percent_refund_point img.point_text { width: 57px; vertical-align: text-bottom; margin-left: -8px; }

span.point.times_point { font-size: 14px; }

span.times.times_point { font-size: 14px; }

.pickup_product .maido_font img.point_text { width: 42px; margin-left: -4px; }

.product.strip { width: 100%; height: 79px; padding-top: 0; border-bottom: 1px dashed #e3dcca; }

.product.strip .name { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }

.product.strip .price_unit_and_production_area { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }

.product.detail .comment { white-space: normal; }

.product.detail .price_unit_and_production_area { white-space: normal; }

.color_recipe:before { color: #8b9d06; }

.color_news:before { color: #ffa321; }

.color_bargain:before { color: #f0c40e; }

.color_cafe:before { color: #90d5d6; }

.color_kenko:before { color: #977c28; }

.color_sancyokubin:before { color: #6ea702; }

.color_pro_recipe:before { color: #34b0b1; }

.color_cookstep:before { color: #c38bac; }

.color_cookpad_baby:before { color: #ffa178; }

.color_holiday:before { color: #f07b58; }

.color_mwed:before { color: #2fc3a7; }

.color_kondate:before { color: #9cc536; }

.color_video:before { color: #fda1b1; }

.color_wadai_kitchens:before { color: #dcd77d; }

.color_fril:before { color: #ff5555; }

.color_kurashinokihon:before { color: #222222; }

.color_cookpad_diet:before { color: #f3799d; }

.color_zaim:before { color: #50A135; }

.color_kampo:before { color: #ccdb83; }

.color_kidsstar:before { color: #fff000; }

.color_cyta:before { color: #e5393f; }

.color_ps_popularity_search:before, .color_ps_ranking:before, .color_ps_honor:before, .color_ps_category:before, .color_ps_kondate:before { color: #fd9940; }

#main > .box { margin-bottom: 10px; }

.spotlight_panel { margin-bottom: 10px; }

.spotlight_panel img { vertical-align: middle; }

.box a { text-decoration: none; }

.box a:hover { text-decoration: underline; }

.box a.focus_block { text-decoration: none; }

.box a.focus_block .focus_text:hover { text-decoration: underline; }

.box .title_border { font-size: 158%; border-bottom: 1px solid #e8e2d6; font-weight: normal; margin-bottom: 0; padding-left: 50px; padding-bottom: 8px; }

.box img { border-radius: 5px; }

.box .media_object.f_left { margin-right: 10px; }

.box .title_bar { font-size: 100%; background: #f8f6f0; clear: both; color: #3c3c3c; padding-left: 12px; }

.box .title_bar .description { font-size: 79%; color: #666666; font-weight: normal; padding-left: 5px; }

.box .title_bar img { border-radius: 0; vertical-align: middle; }

.box .title_bar a { color: #3c3c3c; text-decoration: underline; }

.box .title_bar .sub { font-size: 79%; margin-left: 7px; font-weight: normal; }

.box .title_bar.border_top { border-top: 1px solid #e8e2d6; }

.box .user_name { font-size: 93%; color: #666666; }

.box .user_name img { border-radius: 0; width: 20px; height: 20px; vertical-align: middle; }

.box .more_link { font-size: 86%; font-weight: bold; text-align: right; padding: 2px 0; }

.box .more_link a { text-decoration: underline; }

.box .left_container { float: left; width: 50%; }

.box .right_container { float: right; width: 50%; }

.box .right_container .inner { border-left: 1px solid #e8e2d6; }

.box .service_block { *zoom: 1; overflow: hidden; height: 180px; }

.box .service_block:after { content: ""; display: block; clear: both; }

.box .service_block .bargain_3column .bargain_first_product, .box .service_block .bargain_3column .bargain_other_products { width: 33%; }

.box .service_block .first_product_with_image .bargain_first_product { width: 50%; }

.box .service_block .first_product_with_image .bargain_other_products { width: 25%; }

.box .service_block .media_box { float: left; height: 120px; width: 303px; }

.box .service_block .media_box.bargain_first_product, .box .service_block .media_box.bargain_other_products { height: 100px; box-sizing: border-box; padding-right: 10px; }

.box .service_block .media_box.bargain_product_blank { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; padding-top: 42px; text-align: center; }

.box .service_block .content_title { font-size: 115%; font-weight: bold; margin-bottom: 2px; }

.box .service_block .sub_content { margin-top: 15px; }

.box .service_block .sub_content li { margin-bottom: 5px; }

.box .user_kondates, .box .diet, .box .cookstep { width: 323px; }

#feature_box { *zoom: 1; }

#feature_box:after { content: ""; display: block; clear: both; }

#feature_box .left_container { float: left; width: 169px; }

#feature_box .right_container { float: right; width: 478px; }

#feature_box .right_container.pickup_contents .inner { padding-bottom: 0; min-height: 816px; }

#feature_box.with_bargain_pickup_recipe_related_product .pickup_recipe_wrapper { padding-bottom: 0px; }

#feature_box.with_bargain_pickup_recipe_related_product .services.recipe_services li a { line-height: 36px; }

#feature_box.with_bargain_pickup_recipe_related_product .services.life_services li a { line-height: 35px; }

#feature_box.with_bargain_pickup_recipe_related_product .premium .services { height: 183px; }

#feature_box.with_bargain_pickup_recipe_related_product .premium .services li a { line-height: 36px; }

#feature_box .service_list_title { border-radius: 4px 0 0 0; }

#feature_box .life_service_list_title { border-top: 1px solid #e8e2d6; }

#feature_box .services { padding-bottom: 7px; }

#feature_box .services li a { display: block; padding-left: 8px; line-height: 33px; }

#feature_box .services li a .badge_new { margin: -3px 0 0 1px; }

#feature_box .services li a .icon_font_with_text { font-size: 136%; vertical-align: -2px; letter-spacing: -3px; }

#feature_box .services li a:hover { text-decoration: none; }

#feature_box .services li a:hover .service_name { text-decoration: underline; }

#feature_box .services li.recipe, #feature_box .services li.popular_search, #feature_box .services li.diet { padding-top: 6px; }

#feature_box .premium .services { height: 163px; }

#feature_box .premium .more_link { padding: 0 10px 7px 0; }

#feature_box .life_services .services { padding-bottom: 0; }

#feature_box .life_services .more_link { padding: 0 10px 7px 0; }

#feature_box .pickup_recipe_wrapper { position: relative; }

#feature_box .pickup_recipe_wrapper a:hover .pickup_recipe_photo img { opacity: 0.9; filter: alpha(opacity=90); -ms-filter: "alpha(opacity=90)"; }

#feature_box .pickup_recipe_wrapper .pickup_recipe_photo img { vertical-align: middle; }

#feature_box .pickup_recipe_wrapper .pickup_recipe_info { *zoom: 1; margin-top: 10px; }

#feature_box .pickup_recipe_wrapper .pickup_recipe_info:after { content: ""; display: block; clear: both; }

#feature_box .pickup_recipe_wrapper .date { font-size: 86%; float: left; border-radius: 4px; background: #ff9933; color: #ffffff; font-weight: bold; width: 90px; margin-right: 10px; padding: 5px; text-align: center; }

#feature_box .pickup_recipe_wrapper .date span { padding: 0 1px; font-size: 129%; }

#feature_box .pickup_recipe_wrapper .recipe_text { float: left; width: 330px; }

#feature_box .pickup_recipe_wrapper .recipe_text .pickup_recipe { display: block; height: 52px; }

#feature_box .pickup_recipe_wrapper .recipe_text .pickup_recipe:hover { text-decoration: none; }

#feature_box .pickup_recipe_wrapper .recipe_text .pickup_recipe:hover .recipe_title { text-decoration: underline; }

#feature_box .pickup_recipe_wrapper .recipe_text .recipe_title { font-size: 129%; margin-bottom: 3px; }

#feature_box .pickup_recipe_wrapper .recipe_text .user_name { color: #666666; padding-left: 4px; text-decoration: none; white-space: nowrap; }

#feature_box .topic { font-size: 93%; float: left; width: 50%; margin-bottom: 6px; }

#feature_box .topic.odd a { padding-right: 6px; }

#feature_box .cookpad_news ul { *zoom: 1; padding: 15px 10px 0 15px; }

#feature_box .cookpad_news ul:after { content: ""; display: block; clear: both; }

#feature_box .cookpad_news .more_link { padding: 2px 15px 10px 15px; }

#feature_box .recommended_contents ul { *zoom: 1; padding: 15px 10px 0 15px; }

#feature_box .recommended_contents ul:after { content: ""; display: block; clear: both; }

#feature_box .recommended_contents ul .first { width: 100%; margin-bottom: 10px; }

#feature_box .recommended_contents ul .first a { font-size: 129%; font-weight: bold; }

#feature_box .recommended_contents .editorial_topics { padding: 0 10px 15px 15px; }

#feature_box .cookpad_news .feature { width: 100%; margin-bottom: 15px; float: none; }

#feature_box .cookpad_news .feature .article_title { font-size: 143%; font-weight: bold; margin-bottom: 10px; }

#feature_box .cookpad_news .feature .article_description { color: #666666; }

#feature_box .cookpad_news .feature .article_description .description { font-size: 86%; line-height: 160%; }

#feature_box .cookpad_news .feature .article_description .lead { font-size: 93%; line-height: 170%; }

#recipe_box { border-top: 6px solid #889b00; }

#recipe_box .title_border { color: #889b00; background: url(/assets/themes/top/title_icon_recipe.png?e57def32a68a13abe0d12da155c1b802d410d0a1fe6239685fe472fedba15c2d) 15px 2px no-repeat; }

#recipe_box .title_bar { border-radius: 0; }

#recipe_box .ranking_recipes, #recipe_box .premium_categories { width: 323px; }

#recipe_box .ranking_recipes .paid_login_user, #recipe_box .premium_categories .paid_login_user { width: 100%; }

#recipe_box .ranking_recipes, #recipe_box .hot_recipes { min-height: 284px; max-height: 318px; }

#recipe_box .ranking_recipes .inner, #recipe_box .hot_recipes .inner { min-height: 284px; max-height: 318px; }

#recipe_box .ranking_recipes ul, #recipe_box .hot_recipes ul { *zoom: 1; padding: 10px 10px 0 10px; }

#recipe_box .ranking_recipes ul:after, #recipe_box .hot_recipes ul:after { content: ""; display: block; clear: both; }

#recipe_box .ranking_recipes .recipe, #recipe_box .hot_recipes .recipe { float: left; width: 94px; height: 206px; margin-right: 10px; }

#recipe_box .ranking_recipes .recipe.last, #recipe_box .hot_recipes .recipe.last { margin-right: 0; }

#recipe_box .ranking_recipes .recipe a, #recipe_box .hot_recipes .recipe a { height: 206px; float: left; }

#recipe_box .ranking_recipes .recipe_title, #recipe_box .hot_recipes .recipe_title { font-size: 93%; }

#recipe_box .ranking_recipes .more_link, #recipe_box .hot_recipes .more_link { padding: 2px 10px 10px 0; }

#recipe_box .hot_recipes_inner { height: 246px; }

#recipe_box .ranking_recipes .ranking_recipe_categories { border-top: 1px solid #e8e2d6; margin: 0 10px; padding: 10px 0; }

#recipe_box .ranking_recipes .ranking_recipe_categories li { float: left; width: 75px; border-right: 1px solid #e8e2d6; }

#recipe_box .ranking_recipes .ranking_recipe_categories li.last { border-right: none; width: 74px; }

#recipe_box .ranking_recipes .ranking_recipe_categories li a { display: block; text-align: center; font-weight: bold; }

#recipe_box .ranking_recipes .for_non_ps { *zoom: 1; }

#recipe_box .ranking_recipes .for_non_ps:after { content: ""; display: block; clear: both; }

#recipe_box .ranking_recipes .for_non_ps .recipe { height: auto; position: relative; margin: 0 0 10px 0; }

#recipe_box .ranking_recipes .for_non_ps .recipe img { vertical-align: middle; }

#recipe_box .ranking_recipes .for_non_ps .recipe.first { width: 198px; height: 198px; margin-right: 10px; }

#recipe_box .ranking_recipes .for_non_ps .recipe a { height: auto; }

#recipe_box .ranking_recipes .for_non_ps .recipe .crown { z-index: 1; background: #ffffff; position: absolute; top: -10px; left: -6px; opacity: 1; }

#recipe_box .ranking_recipes .lead_to_about { padding-bottom: 10px; text-align: center; }

#recipe_box .ranking_recipes .lead_to_about .focus_text { font-weight: bold; }

#recipe_box .user_name { font-size: 79%; color: #999999; }

#recipe_box .user_name img { width: 18px; height: 18px; }

#recipe_box .honor_recipe_for_free_user .honor_recipe { width: 628px; *zoom: 1; text-align: left; font-weight: normal; border-top: none; }

#recipe_box .honor_recipe_for_free_user .honor_recipe:after { content: ""; display: block; clear: both; }

#recipe_box .honor_recipe_for_free_user .honor_recipe .text { float: left; line-height: 72px; }

#recipe_box .honor_recipe_for_free_user .honor_recipe .text .balloon_message { color: #ff6600; }

#recipe_box .honor_recipe_for_free_user .honor_recipe .images { width: 216px; float: right; }

#recipe_box .honor_recipe_for_free_user .honor_recipe .images :first-child { border-radius: 5px 0 0 5px; }

#recipe_box .honor_recipe_for_free_user .honor_recipe .images :last-child { border-radius: 0 5px 5px 0; }

#recipe_box .honor_recipe { width: 303px; border-top: 1px solid #e8e2d6; text-align: center; font-weight: bold; margin: 0 10px; padding: 10px 0; }

#recipe_box .honor_recipe img { border-radius: 0; vertical-align: middle; }

#recipe_box .pickup_category .pickup_category_inner { padding: 15px 15px 5px 15px; }

#recipe_box .pickup_category .pickup_category_inner img { width: 80px; height: 80px; }

#recipe_box .pickup_category .category_title { font-size: 115%; font-weight: bold; margin-bottom: 3px; }

#recipe_box .pickup_category .description { font-size: 86%; color: #999999; }

#recipe_box .regular_categories { padding: 10px 0 0 15px; }

#recipe_box .regular_categories .more_link { padding: 10px; }

#recipe_box .regular_categories .category { float: left; width: 33%; margin-bottom: 25px; }

#recipe_box .regular_categories .category.last { margin-bottom: 0; }

#recipe_box .regular_categories .category .media_object { margin-right: 10px; }

#recipe_box .regular_categories .category .category_title { font-size: 115%; font-weight: bold; }

#recipe_box .regular_categories .category .category_icon { text-indent: -9999px; }

#recipe_box .regular_categories .category .category_icon a { display: block; width: 40px; height: 40px; }

#recipe_box .regular_categories .category .category_icon.category1651 { background: url(/assets/themes/top/pc_top/category_icons.png?e35d2d06cb9d7f9aa574ad0cc39cfea9db205674a911c532e7fa2a83d6d398cf) no-repeat 0px -335px; }

#recipe_box .regular_categories .category .category_icon.category10 { background: url(/assets/themes/top/pc_top/category_icons.png?e35d2d06cb9d7f9aa574ad0cc39cfea9db205674a911c532e7fa2a83d6d398cf) no-repeat 0px 0px; }

#recipe_box .regular_categories .category .category_icon.category11 { background: url(/assets/themes/top/pc_top/category_icons.png?e35d2d06cb9d7f9aa574ad0cc39cfea9db205674a911c532e7fa2a83d6d398cf) no-repeat 0px -46px; }

#recipe_box .regular_categories .category .category_icon.category12 { background: url(/assets/themes/top/pc_top/category_icons.png?e35d2d06cb9d7f9aa574ad0cc39cfea9db205674a911c532e7fa2a83d6d398cf) no-repeat 0px -83px; }

#recipe_box .regular_categories .category .category_icon.category2 { background: url(/assets/themes/top/pc_top/category_icons.png?e35d2d06cb9d7f9aa574ad0cc39cfea9db205674a911c532e7fa2a83d6d398cf) no-repeat 0px -126px; }

#recipe_box .regular_categories .category .category_icon.category6 { background: url(/assets/themes/top/pc_top/category_icons.png?e35d2d06cb9d7f9aa574ad0cc39cfea9db205674a911c532e7fa2a83d6d398cf) no-repeat 0px -170px; }

#recipe_box .regular_categories .category .category_icon.category9 { background: url(/assets/themes/top/pc_top/category_icons.png?e35d2d06cb9d7f9aa574ad0cc39cfea9db205674a911c532e7fa2a83d6d398cf) no-repeat 0px -210px; }

#recipe_box .regular_categories .category .category_icon.category14 { background: url(/assets/themes/top/pc_top/category_icons.png?e35d2d06cb9d7f9aa574ad0cc39cfea9db205674a911c532e7fa2a83d6d398cf) no-repeat 0px -253px; }

#recipe_box .regular_categories .category .category_icon.category15 { background: url(/assets/themes/top/pc_top/category_icons.png?e35d2d06cb9d7f9aa574ad0cc39cfea9db205674a911c532e7fa2a83d6d398cf) no-repeat 0px -296px; }

#recipe_box .regular_categories .category .category_icon.category1444 { background: url(/assets/themes/top/pc_top/category_icons.png?e35d2d06cb9d7f9aa574ad0cc39cfea9db205674a911c532e7fa2a83d6d398cf) no-repeat 0px -375px; }

#recipe_box .regular_categories .category .category_icon.category19 { background: url(/assets/themes/top/pc_top/category_icons.png?e35d2d06cb9d7f9aa574ad0cc39cfea9db205674a911c532e7fa2a83d6d398cf) no-repeat 0px -461px; }

#recipe_box .regular_categories .category .category_icon.category17 { background: url(/assets/themes/top/pc_top/category_icons.png?e35d2d06cb9d7f9aa574ad0cc39cfea9db205674a911c532e7fa2a83d6d398cf) no-repeat 0px -420px; }

#recipe_box .regular_categories .sub_categories { font-size: 86%; margin-top: 5px; }

#recipe_box .regular_categories .sub_categories li { margin-bottom: 2px; }

#recipe_box .premium_categories li { float: left; }

#recipe_box .premium_categories li.odd { width: 55%; }

#recipe_box .premium_categories li.even { width: 45%; }

#recipe_box .premium_categories li a { display: block; padding: 10px 0 10px 36px; }

#recipe_box .premium_categories li a.beauty { background: url(/assets/themes/top/pc_top/premium_category_icons.png?4d1799d55c9bf23c0a21544cc12752a581207662e4547ce6ce6f7f6de46288f4) no-repeat 5px 5px; }

#recipe_box .premium_categories li a.working_mama { background: url(/assets/themes/top/pc_top/premium_category_icons.png?4d1799d55c9bf23c0a21544cc12752a581207662e4547ce6ce6f7f6de46288f4) no-repeat 5px -267px; }

#recipe_box .premium_categories li a.good_cook { background: url(/assets/themes/top/pc_top/premium_category_icons.png?4d1799d55c9bf23c0a21544cc12752a581207662e4547ce6ce6f7f6de46288f4) no-repeat 5px -233px; }

#recipe_box .premium_categories li a.baby_and_mother { background: url(/assets/themes/top/pc_top/premium_category_icons.png?4d1799d55c9bf23c0a21544cc12752a581207662e4547ce6ce6f7f6de46288f4) no-repeat 5px -63px; }

#recipe_box .premium_categories li a.sports { background: url(/assets/themes/top/pc_top/premium_category_icons.png?4d1799d55c9bf23c0a21544cc12752a581207662e4547ce6ce6f7f6de46288f4) no-repeat 5px -164px; letter-spacing: -0.5px; }

#recipe_box .premium_categories li a.kids { background: url(/assets/themes/top/pc_top/premium_category_icons.png?4d1799d55c9bf23c0a21544cc12752a581207662e4547ce6ce6f7f6de46288f4) no-repeat 5px -97px; }

#recipe_box .premium_categories li a.health { background: url(/assets/themes/top/pc_top/premium_category_icons.png?4d1799d55c9bf23c0a21544cc12752a581207662e4547ce6ce6f7f6de46288f4) no-repeat 5px -29px; }

#recipe_box .premium_categories li a.men { background: url(/assets/themes/top/pc_top/premium_category_icons.png?4d1799d55c9bf23c0a21544cc12752a581207662e4547ce6ce6f7f6de46288f4) no-repeat 5px -199px; }

#recipe_box .premium_categories li a.papa { background: url(/assets/themes/top/pc_top/premium_category_icons.png?4d1799d55c9bf23c0a21544cc12752a581207662e4547ce6ce6f7f6de46288f4) no-repeat 5px -131px; }

#recipe_box .premium_categories, #recipe_box .pro_recipes { position: relative; }

#recipe_box .premium_categories .more_link, #recipe_box .pro_recipes .more_link { position: absolute; right: 10px; bottom: 8px; }

#recipe_box .pro_recipes .inner { height: 234px; }

#recipe_box .pro_recipes .recipe_set { *zoom: 1; margin-bottom: 10px; }

#recipe_box .pro_recipes .recipe_set:after { content: ""; display: block; clear: both; }

#recipe_box .pro_recipes .recipe_set.last { margin-bottom: 0; }

#recipe_box .pro_recipes .set_title { font-size: 108%; font-weight: bold; }

#recipe_box .kitchen_categories ul { *zoom: 1; padding-bottom: 10px; border-bottom: 1px solid #e8e2d6; margin-bottom: 10px; }

#recipe_box .kitchen_categories ul:after { content: ""; display: block; clear: both; }

#recipe_box .kitchen_categories ul li { float: left; width: 126px; border-right: 1px solid #e8e2d6; }

#recipe_box .kitchen_categories ul li.official_kitchen_category_1 { width: 130px; }

#recipe_box .kitchen_categories ul li.official_kitchen_category_2, #recipe_box .kitchen_categories ul li.official_kitchen_category_3 { width: 90px; }

#recipe_box .kitchen_categories ul li.official_kitchen_category_4 { width: 60px; }

#recipe_box .kitchen_categories ul li.last { border-right: none; }

#recipe_box .kitchen_categories ul li a { display: block; text-align: center; }

#recipe_box .hot_users li { float: left; margin-right: 11px; width: 80px; }

#recipe_box .hot_users li.last { margin-right: 0; }

#recipe_box .hot_users li .focus_text { font-size: 93%; font-weight: bold; word-break: break-all; }

#recipe_box .kitchen_topics ul { *zoom: 1; border-top: 1px solid #e8e2d6; padding: 15px 15px 0 15px; }

#recipe_box .kitchen_topics ul:after { content: ""; display: block; clear: both; }

#recipe_box .kitchen_topics li { font-size: 93%; float: left; width: 50%; margin-bottom: 5px; }

#recipe_box .kitchen_topics li .badge_hot { display: inline; }

#kondate_box { border-top: 6px solid #9ac724; }

#kondate_box .title_border { color: #9ac724; background: url(/assets/themes/top/pc_top/title_icon_kondate_green.png?309072c4e0fce9c015690ac0c39a54f60fe5ac8896ce79df4162ade3a5acbbcc) 13px 1px no-repeat; }

#kondate_box .kondate { height: 110px; }

#kondate_box .kondate_title { font-size: 115%; font-weight: bold; margin-bottom: 3px; }

#kondate_box .catch_phrase { font-size: 86%; color: #999999; }

#kondate_box .kondate_categories { *zoom: 1; margin-top: 10px; padding-top: 10px; border-top: 1px solid #e8e2d6; }

#kondate_box .kondate_categories:after { content: ""; display: block; clear: both; }

#kondate_box .kondate_categories li { float: left; width: 100px; border-right: 1px solid #e8e2d6; }

#kondate_box .kondate_categories li a { display: block; line-height: 30px; padding-left: 40px; }

#kondate_box .kondate_categories li a.morning { background: url(/assets/themes/top/pc_top/user_kondate_icons.png?91ae18cde2441afcddddad9d802e592c3181d61ba4a1ad1d95e1405f66cfb4e7) no-repeat 3px -5px; }

#kondate_box .kondate_categories li a.lunch { background: url(/assets/themes/top/pc_top/user_kondate_icons.png?91ae18cde2441afcddddad9d802e592c3181d61ba4a1ad1d95e1405f66cfb4e7) no-repeat 3px -46px; }

#kondate_box .kondate_categories li a.dinner { background: url(/assets/themes/top/pc_top/user_kondate_icons.png?91ae18cde2441afcddddad9d802e592c3181d61ba4a1ad1d95e1405f66cfb4e7) no-repeat 3px -90px; }

#kondate_box .kondate_categories li a.healthy { padding-left: 38px; background: url(/assets/themes/top/pc_top/premium_kondate_icons.png?9d466b735ebcb498abd49f479b3e9e8de61efe7b7765f376eda09ce4d649e462) no-repeat 1px -77px; }

#kondate_box .kondate_categories li a.speed { padding-left: 38px; background: url(/assets/themes/top/pc_top/premium_kondate_icons.png?9d466b735ebcb498abd49f479b3e9e8de61efe7b7765f376eda09ce4d649e462) no-repeat 3px -46px; }

#kondate_box .kondate_categories li a.saving { padding-left: 55px; background: url(/assets/themes/top/pc_top/premium_kondate_icons.png?9d466b735ebcb498abd49f479b3e9e8de61efe7b7765f376eda09ce4d649e462) no-repeat 13px -5px; }

#kondate_box .kondate_categories li.last { border-right: none; }

#news_box { border-top: 6px solid #ff9f21; }

#news_box .title_border { color: #ff9f21; background: url(/assets/themes/top/pc_top/title_icon_news.png?0a0cb2f4d1aa30ed296ffcfbec8ceaf68bf7fe77413b6dd8f41ae35e19e02122) 15px 4px no-repeat; }

#news_box li { margin-bottom: 4px; }

#news_box li:last-child { margin-bottom: 2px; }

#news_box .rank { font-size: 93%; width: 25px; display: inline-block; padding-left: 4px; color: #a6744c; }

#news_box .rank .crown { border-radius: 0; width: 20px; vertical-align: middle; }

#news_box .rankings .feature { position: relative; margin-bottom: 2px; }

#news_box .rankings .feature .rank { position: absolute; top: -5px; left: 1px; }

#news_box .rankings .feature .article_title { font-size: 115%; font-weight: bold; }

#news_box .rankings .feature .media_body { margin-right: 20px; }

#bargain_box { border-top: 6px solid #fbcd15; }

#bargain_box .title_border { color: #fbcd15; background: url(/assets/themes/top/pc_top/title_icon_bargain.png?889cb4ee5aa8d291ca70fd66257b224986a88b99a4f37dd30268c31be0b84f4f) 15px 2px no-repeat; }

#bargain_box .service_block { height: inherit; }

#bargain_box .bargain .price { color: #ef6074; }

#bargain_box .bargain .price .number { font-size: 158%; }

#bargain_box .bargain .price .tax_information { font-size: 86%; font-weight: normal; color: #999999; }

#bargain_box .bargain .shop_name { font-size: 79%; color: #999999; overflow: hidden; height: 1.2em; width: 100%; text-overflow: ellipsis; white-space: nowrap; }

#bargain_box .bargain .postal_mark { font-size: 115%; color: #ff3d58; font-weight: bold; }

#bargain_box .bargain .zip_field { font-size: 100%; margin: 0 1px; }

#bargain_box .bargain .zip_field.first_digits { width: 3em; }

#bargain_box .bargain .zip_field.second_digits { width: 4em; }

#bargain_box .bargain .zip_code_search_form { float: left; padding-top: 10px; }

#bargain_box .bargain .zip_code_search_button { font-size: 100%; border-radius: 3px; margin: 0 2px; padding: 3px 10px; }

#bargain_box .bargain .zip_save_description { font-size: 79%; color: #999999; margin-top: 10px; }

#bargain_box .shop .item_image { margin-right: 10px; width: 140px; height: 100px; }

#bargain_box .shop .item_name { font-size: 115%; margin-bottom: 5px; font-weight: bold; }

#bargain_box .shop .item_description { font-size: 79%; color: #999999; }

#healthcare_box { border-top: 6px solid #977c28; }

#healthcare_box .title_border { color: #977c28; background: url(/assets/themes/top/pc_top/title_icon_healthcare.png?f1079f3a4e7ffb0410a3f51fc8ce015b9fe353c236aad205fd3f618730cbbab4) 15px 4px no-repeat; }

#healthcare_box .service_block { height: inherit; }

#healthcare_box .nutrition_section .name, #healthcare_box .nutrition_section .unit { font-size: 79%; color: #999999; }

#healthcare_box .nutrition_section .value { font-size: 93%; font-weight: bold; color: #666666; }

#healthcare_box .nutrition_section .row { display: block; }

#healthcare_box img { width: 140px; height: 100px; }

#lesson_box { border-top: 6px solid #b46c80; }

#lesson_box .title_border { color: #b46c80; background: url(/assets/themes/top/pc_top/title_icon_lesson.png?7d85ad35217fb5775d0e68b4e6d16fab62d74baf3d4604c9ccae955e8887f973) 15px 3px no-repeat; }

#lesson_box img { width: 140px; height: 100px; }

#lesson_box .cyta_lessons li { font-size: 86%; float: left; margin: 0 12px 3px 0; }

#lesson_box .address { font-size: 79%; color: #999999; }

#community_box { border-top: 6px solid #8bccce; }

#community_box .title_border { color: #8bccce; background: url(/assets/themes/top/pc_top/title_icon_community.png?28f8b966765be3bbabf38f933d7c2549d9fee86840553d757b806dcb3391ed0c) 15px 3px no-repeat; }

#community_box .community_menu { position: absolute; right: 10px; top: 5px; }

#community_box .community_menu li { float: left; margin-left: 20px; }

#community_box .cafe_categories li { float: left; width: 50%; margin-bottom: 8px; }

#community_box .cafe_categories li a { display: block; line-height: 22px; padding-left: 25px; }

#community_box .cafe_categories li a.food { background: url(/assets/themes/top/pc_top/cafe_category_icons.png?ddf5251fc2a1efac11aa337cd6aa6f9cecf8a936ab58a7663690747b27077bf6) no-repeat 0px 0px; }

#community_box .cafe_categories li a.cooker { background: url(/assets/themes/top/pc_top/cafe_category_icons.png?ddf5251fc2a1efac11aa337cd6aa6f9cecf8a936ab58a7663690747b27077bf6) no-repeat 0px -23px; }

#community_box .cafe_categories li a.bento { background: url(/assets/themes/top/pc_top/cafe_category_icons.png?ddf5251fc2a1efac11aa337cd6aa6f9cecf8a936ab58a7663690747b27077bf6) no-repeat 0px -45px; }

#community_box .cafe_categories li a.life { background: url(/assets/themes/top/pc_top/cafe_category_icons.png?ddf5251fc2a1efac11aa337cd6aa6f9cecf8a936ab58a7663690747b27077bf6) no-repeat 0px -66px; }

#community_box .cafe_categories li a.beauty_and_health { background: url(/assets/themes/top/pc_top/cafe_category_icons.png?ddf5251fc2a1efac11aa337cd6aa6f9cecf8a936ab58a7663690747b27077bf6) no-repeat 0px -86px; }

#community_box .cafe_categories li a.local { background: url(/assets/themes/top/pc_top/cafe_category_icons.png?ddf5251fc2a1efac11aa337cd6aa6f9cecf8a936ab58a7663690747b27077bf6) no-repeat 0px -109px; }

#community_box .cafe_categories li a.eating { background: url(/assets/themes/top/pc_top/cafe_category_icons.png?ddf5251fc2a1efac11aa337cd6aa6f9cecf8a936ab58a7663690747b27077bf6) no-repeat 0px -132px; }

#community_box .cafe_categories li a.bread_and_sweets { background: url(/assets/themes/top/pc_top/cafe_category_icons.png?ddf5251fc2a1efac11aa337cd6aa6f9cecf8a936ab58a7663690747b27077bf6) no-repeat 0px -154px; }

#community_box .cafe_categories li a.nurturing { background: url(/assets/themes/top/pc_top/cafe_category_icons.png?ddf5251fc2a1efac11aa337cd6aa6f9cecf8a936ab58a7663690747b27077bf6) no-repeat 0px -178px; }

#community_box .cafe_categories li a.shopping { background: url(/assets/themes/top/pc_top/cafe_category_icons.png?ddf5251fc2a1efac11aa337cd6aa6f9cecf8a936ab58a7663690747b27077bf6) no-repeat 0px -201px; }

#community_box .cafe_categories li a.free_talk { background: url(/assets/themes/top/pc_top/cafe_category_icons.png?ddf5251fc2a1efac11aa337cd6aa6f9cecf8a936ab58a7663690747b27077bf6) no-repeat 0px -224px; }

#community_box .cafe_categories li a.diary { background: url(/assets/themes/top/pc_top/cafe_category_icons.png?ddf5251fc2a1efac11aa337cd6aa6f9cecf8a936ab58a7663690747b27077bf6) no-repeat 0px -247px; }

#community_box .cafe { position: relative; }

#community_box .cafe .more_link { position: absolute; right: 10px; bottom: 10px; }

#community_box .cafe_contents li { margin-bottom: 8px; }

#community_box .user_icon { width: 21px; height: 21px; display: inline-block; background: url(/assets/shared/cafe_user_icons/cup.png?4cd2f44f0580faf8a07ad19acbf5c234a855dc02520998ba0909ef8dcc864f98) no-repeat 0 -1px; vertical-align: middle; }

#community_box .user_icon.apple { background: url(/assets/shared/cafe_user_icons/apple.png?29c3c396863f10dd01f2d2b96e674822fa00deb57d0264d50f8ae48c40047df2) no-repeat 0 -1px; }

#community_box .user_icon.broccoli { background: url(/assets/shared/cafe_user_icons/broccoli.png?e48cddce6d1e0e5c11003aec6f56a0522c9c352a358f1832f7a6f8ccb2ed9505) no-repeat 0 -1px; }

#community_box .user_icon.chef { background: url(/assets/shared/cafe_user_icons/chef.png?bfe05cd390fadcd40dc21319ddef760a60712abe88ea3934a8161f03fa472718) no-repeat 0 -1px; }

#community_box .user_icon.chick { background: url(/assets/shared/cafe_user_icons/chick.png?cd8639b7ccf91291485650a9c5d24ceac0dcbb797a02243cac61e5f43beea00c) no-repeat 0 -1px; }

#community_box .user_icon.cow { background: url(/assets/shared/cafe_user_icons/cow.png?6ce997b37968f4365a4de5b8cf6970b8e64ba77db64670662a11971a2174d485) no-repeat 0 -1px; }

#community_box .user_icon.cup { background: url(/assets/shared/cafe_user_icons/cup.png?4cd2f44f0580faf8a07ad19acbf5c234a855dc02520998ba0909ef8dcc864f98) no-repeat 0 -1px; }

#community_box .user_icon.man { background: url(/assets/shared/cafe_user_icons/man.png?d8d674e7ecbd82b9db63390fef080a418cd4d6b57ffa13a2c4c929375125a659) no-repeat 0 -1px; }

#community_box .user_icon.man_a { background: url(/assets/shared/cafe_user_icons/man_a.png?5c251aa8104208241d21d943f8f248f89c8e5e75a4b5a37ffd055ad273c87ee7) no-repeat 0 -1px; }

#community_box .user_icon.man_q { background: url(/assets/shared/cafe_user_icons/man_q.png?76ae2540a97c745c6bc7de8c6577ab1fb0e5e4f1cba407b8d25a99f31544b937) no-repeat 0 -1px; }

#community_box .user_icon.pig { background: url(/assets/shared/cafe_user_icons/pig.png?596037dd14ee5fb1001040d0a3cbd5b9b4cfcd1deffa6affa6f39594218a5e72) no-repeat 0 -1px; }

#community_box .user_icon.squid { background: url(/assets/shared/cafe_user_icons/squid.png?619eca763661ed0c25bcd87640ac77a50ed62ff9b19a05d248468e00b3fc2d3c) no-repeat 0 -1px; }

#community_box .user_icon.woman { background: url(/assets/shared/cafe_user_icons/woman.png?122038c516df9b3f01661f270a6133b0de1426756a074703431d4e210f70e943) no-repeat 0 -1px; }

#community_box .user_icon.woman_a { background: url(/assets/shared/cafe_user_icons/woman_a.png?90c8e82501a8883b42435aa4d547bd4aa772a9755605f48a08e562219e5f0912) no-repeat 0 -1px; }

#community_box .user_icon.woman_q { background: url(/assets/shared/cafe_user_icons/woman_q.png?9838909a3b4ffc3c0f0d306bcd520d55a6607e8d37ac6ca5a2cdeec11e14b33b) no-repeat 0 -1px; }

#community_box .age { font-size: 86%; color: #999999; }

#device_box { border-top: 6px solid #b9b9b9; }

#device_box .title_border { color: #b9b9b9; background: url(/assets/themes/top/pc_top/title_icon_device.png?036c8f971df9498c925a5560042ecab5b8c8b8f926bda4b6ed6ff8d8d3c33021) 20px 3px no-repeat; }

#device_box .media_object { margin-right: 20px; }

#device_box p { font-size: 93%; margin-bottom: 8px; line-height: 170%; }

.today_bargains { border: 1px solid #e8e2d6; margin-bottom: 10px; background: #ffffff; border-radius: 5px; padding: 12px 15px 14px 15px; display: block; position: relative; height: 36px; }

.today_bargains .title.bargain_title { background: url(/assets/themes/top/title_icon_bargains_small.png?7439d5cda7a58e05781244bd1f3ec3dfd9c43ee0eb77ebc9e5eb4488e9d25ed7) no-repeat; padding-left: 20px; float: left; width: 95px; font-size: 12px; color: #f1bb01; margin: 0; border-right: 1px solid #eee; }

.today_bargains .badge_common { margin-left: 0; }

.today_bargains .badge_common.special_price { background: #ff6600; }

.today_bargains .badge_common.recommended { background: #ef6074; }

.today_bargains .badge_common.time_sale { background: #ff6600; font-weight: normal; }

.today_bargains .badge_common.limit_n_products_per_person { background: #845f4b; }

.today_bargains .badge_common.limit_first_n_people { background: #96bc13; }

.today_bargains .badge_common.today_only { background: #ef6074; }

.today_bargains .badge_common.new_product { background: #ff9933; }

.today_bargains .badge_common.season { background: #eec400; }

.today_bargains .badge_common.theme { display: none; }

.today_bargains.for_guest { height: auto; }

.today_bargains.for_guest .today_bargains_header { margin-bottom: 8px; }

.today_bargains.for_guest .bargain_suggestion { font-size: 86%; height: 21px; font-weight: bold; }

.today_bargains.for_guest .bargain_suggestion a { color: #000000; }

.today_bargains.for_guest .bargain_suggestion a:hover { text-decoration: underline; }

.today_bargains.for_guest .postal_mark { font-size: 115%; color: #ff3d58; font-weight: bold; }

.today_bargains.for_guest .zip_field { font-size: 100%; margin: 0 1px; }

.today_bargains.for_guest .zip_field.first_digits { width: 3em; }

.today_bargains.for_guest .zip_field.second_digits { width: 4em; }

.today_bargains.for_guest .zip_code_search_button { border-radius: 3px; font-size: 100%; margin: 0 4px; padding: 3px 10px; }

.today_bargains.for_guest .zip_save_description { font-size: 79%; color: #999999; margin-top: 10px; }

.today_bargains.for_guest .badge_common.time_sale .time_sale_range { display: none; }

.today_bargains .shops_with_items_or_products { font-size: 86%; float: left; position: absolute; left: 15px; overflow: hidden; height: 40px; }

.today_bargains .shops_with_items_or_products .shop_with_items_or_products { *zoom: 1; width: 618px; white-space: nowrap; }

.today_bargains .shops_with_items_or_products .shop_with_items_or_products:after { content: ""; display: block; clear: both; }

.today_bargains .shops_with_items_or_products .shop_with_items_or_products a:hover { text-decoration: underline; }

.today_bargains .shops_with_items_or_products .shop { display: block; font-weight: bold; padding-left: 126px; color: #330000; text-decoration: underline; }

.today_bargains .shops_with_items_or_products .updated_shops_wrapper { padding-left: 126px; }

.today_bargains .shops_with_items_or_products .grey { color: #999999; }

.today_bargains .shops_with_items_or_products .updated_shop_name { font-weight: bold; }

.today_bargains.without_product { height: 12px; }

.today_bargains .sample_items_or_products_wrapper { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; font-size: 86%; height: 18px; }

.today_bargains .sample_items_or_products_wrapper a { color: #000000; }

.today_bargains .sample_items_or_products_wrapper .caution { color: #999999; margin-left: -2px; }

.today_bargains .sample_items_or_products_wrapper .shop_name { float: left; color: #000000; font-weight: bold; margin-right: 12px; }

.today_bargains .items_or_products { float: left; position: relative; height: 22px; }

.today_bargains .items_or_products .inner { width: 615px; position: absolute; top: 4px; left: 0; }

.today_bargains .items_or_products .item_or_product { float: left; display: block; padding-right: 15px; text-decoration: none; }

.today_bargains .items_or_products .item_or_product:hover { text-decoration: underline; }

.today_bargains .items_or_products .item_or_product:hover .shop_name { text-decoration: underline; }

.today_bargains .items_or_products .badge_hot { margin-left: 0; }

.today_bargains .items_or_products .price { color: #ef6074; font-weight: bold; }

.today_bargains .items_or_products .number { font-size: 100%; }

.today_bargains .items_or_products .yen { font-size: 72%; }

.today_bargains .items_or_products .tax_information { font-size: 72%; }

.today_bargains .items_or_products .sample_label { font-size: 79%; color: #999999; margin-left: 4px; }

.with_bargain_pickup_recipe_related_product .pc_top_today_pickup_recipe_related_bargains { height: 70px; padding-top: 15px; }

.today_pickup_recipe_related_bargains { height: 55px; position: relative; border-top: 1px solid #e8e2d6; background: #ffffff; padding: 0 0 0 10px; margin: 0 15px 0 15px; border-radius: 5px; border: 1px solid #e8e2d6; }

.today_pickup_recipe_related_bargains:hover > div > div { text-decoration: underline; }

.today_pickup_recipe_related_bargains:after, .today_pickup_recipe_related_bargains:before { bottom: 100%; left: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; }

.today_pickup_recipe_related_bargains:before { border-color: rgba(232, 226, 214, 0); border-bottom-color: #e8e2d6; border-width: 11px; margin-left: -11px; }

.today_pickup_recipe_related_bargains:after { border-color: rgba(255, 255, 255, 0); border-bottom-color: #ffffff; border-width: 10px; margin-left: -10px; }

.today_pickup_recipe_related_bargains .bargain_icon { height: 36px; width: 40px; padding: 12px 0px; margin-right: 5px; float: left; }

.today_pickup_recipe_related_bargains .bargain_icon img { height: 35px; }

.today_pickup_recipe_related_bargains .catch_phrase_wrapper { height: 30px; width: 389px; float: right; }

.today_pickup_recipe_related_bargains .catch_phrase_wrapper .text { font-size: 93%; float: left; height: 20px; margin-top: 8px; padding-right: 10px; color: #fdba2d; font-weight: bold; }

.today_pickup_recipe_related_bargains .product_wrapper { float: right; height: 20px; width: 389px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

.today_pickup_recipe_related_bargains .product_wrapper .item_or_product { float: left; display: block; padding-right: 15px; }

.today_pickup_recipe_related_bargains .product_wrapper .item_or_product:hover { text-decoration: underline; }

.today_pickup_recipe_related_bargains .product_wrapper .item_or_product:hover .shop_name { text-decoration: underline; }

.today_pickup_recipe_related_bargains .product_wrapper .product_name { float: left; }

.today_pickup_recipe_related_bargains .product_wrapper .product_name:hover { text-decoration: underline; }

.today_pickup_recipe_related_bargains .product_wrapper .shop_name { font-size: 86%; float: left; height: 20px; margin-top: 1px; margin-left: 5px; }

.today_pickup_recipe_related_bargains .product_wrapper .shop_name:hover { text-decoration: underline; }

.today_pickup_recipe_related_bargains .product_wrapper .badge_hot { margin-left: 0; }

.today_pickup_recipe_related_bargains .product_wrapper .name { font-size: 86%; }

.today_pickup_recipe_related_bargains .product_wrapper .price { color: #ef6074; font-weight: bold; }

.today_pickup_recipe_related_bargains .product_wrapper .number { font-size: 100%; }

.today_pickup_recipe_related_bargains .product_wrapper .yen { font-size: 79%; }

.today_pickup_recipe_related_bargains .product_wrapper .tax_information { font-size: 79%; }

.today_pickup_recipe_related_bargains .product_wrapper .sample_label { font-size: 79%; color: #999999; margin-left: 4px; }

.today_pickup_recipe_related_bargains .product_wrapper .sample_label:hover { text-decoration: underline; }

.today_pickup_recipe_related_bargains .product_wrapper .normal_price { font-size: 79%; color: #999999; margin-left: 4px; }

.today_pickup_recipe_related_bargains .product_wrapper .normal_price:hover { text-decoration: underline; }

.today_bargain { height: 65px; position: relative; border-top: 1px solid #e8e2d6; background: #ffffff; padding: 0 15px; }

.today_bargain:hover > .product_wrapper { text-decoration: underline; }

.today_bargain .bargain_icon { height: 36px; width: 40px; padding: 12px 0px; margin-right: 5px; float: left; }

.today_bargain .bargain_icon img { height: 35px; }

.today_bargain .catch_phrase_wrapper { height: 30px; width: 100%; float: left; }

.today_bargain .catch_phrase_wrapper .text { font-size: 93%; float: left; height: 20px; margin-top: 4px; color: #fdba2d; font-weight: bold; }

.today_bargain .catch_phrase_wrapper .text:after { content: " | "; color: #e8e2d6; font-weight: normal; margin: 0 6px 0 3px; }

.today_bargain .catch_phrase_wrapper .icon_font { font-size: 129%; }

.today_bargain .catch_phrase_wrapper .shop_name { font-size: 86%; float: left; height: 20px; margin-top: 8px; font-weight: bold; text-decoration: underline; }

.today_bargain .product_wrapper { float: left; height: 20px; width: 100%; position: absolute; bottom: 15px; }

.today_bargain .product_wrapper .item_or_product { float: left; display: block; padding-right: 15px; }

.today_bargain .product_wrapper .badge_common { margin-left: 0; }

.today_bargain .product_wrapper .badge_common.special_price { background: #ff6600; }

.today_bargain .product_wrapper .badge_common.recommended { background: #ef6074; }

.today_bargain .product_wrapper .badge_common.time_sale { background: #ff6600; font-weight: normal; }

.today_bargain .product_wrapper .badge_common.limit_n_products_per_person { background: #845f4b; }

.today_bargain .product_wrapper .badge_common.limit_first_n_people { background: #96bc13; }

.today_bargain .product_wrapper .badge_common.today_only { background: #ef6074; }

.today_bargain .product_wrapper .badge_common.new_product { background: #ff9933; }

.today_bargain .product_wrapper .badge_common.season { background: #eec400; }

.today_bargain .product_wrapper .badge_common.theme { display: none; }

.today_bargain .product_wrapper .item_or_product:hover { text-decoration: underline; }

.today_bargain .product_wrapper .item_or_product:hover .shop_name { text-decoration: underline; }

.today_bargain .product_wrapper .badge_hot { margin-left: 0; }

.today_bargain .product_wrapper .name { font-size: 86%; }

.today_bargain .product_wrapper .price { color: #ef6074; font-weight: bold; }

.today_bargain .product_wrapper .number { font-size: 100%; }

.today_bargain .product_wrapper .yen { font-size: 79%; }

.today_bargain .product_wrapper .tax_information { font-size: 79%; }

.today_bargain .product_wrapper .sample_label { font-size: 79%; color: #999999; margin-left: 4px; }

#sk_top_showcase .title_bar { font-size: 86%; color: #4d2200; }

#sk_top_showcase .title_bar .link_to_index { font-size: 93%; }

#sk_top_showcase.box img { border-radius: 0; }

#sk_top_showcase a { text-decoration: underline; }
