/* HTML5 Boilerplate
 * ==|== normalize ==========================================================
 */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 13px; line-height: 1.231; }
body, button, input, select, textarea { font-family: sans-serif; }

::-moz-selection { background: #0099FF; color: #fff; text-shadow: none; }
::selection { background: #0099FF; color: #fff; text-shadow: none; }

a { text-decoration: none; color: #306FAA;}
a:hover, a:focus { text-decoration: underline; color: #004990;  }
a.underlined { text-decoration: underline;}


abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: 700; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: 700; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { /*background-color: #f0dddd;*/ }
/*input::-ms-clear { display: none;}*/

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* ==|== non-semantic helper classes ======================================== */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.group:before, .group:after, .clearfix:before, .clearfix:after { content: ""; display: table; }
.group:after, .clearfix:after { clear: both; }
.group, .clearfix { zoom: 1; }



/* ====================================================================================================
 * Primary styles: START
 *
 * Author: Andrew
 * Author: Roger
 *
==================================================================================================== */



/*=== Fonts - USING TYPEKIT:
	- DIN Light: 
		font-family: din-web-jetblue, Arial, Helvetica, sans-serif;
		font-weight: 300;

	- DIN Medium: 
		font-family: din-web-jetblue, Arial, Helvetica, sans-serif; 
		font-weight: 400;

	- DIN Regular: 
		font-family: din-web-jetblue, Arial, Helvetica, sans-serif;
		font-weight: 600;

	- DIN Bold: 
		font-family: din-web-jetblue, Arial, Helvetica, sans-serif;
		font-weight: 700;

	- DIN Black: 
		font-family: din-web-jetblue, Arial, Helvetica, sans-serif;
		font-weight: 900;

==================================================*/



/*=== FOUNDATION
==================================================*/


html {font-size: 62.5%;}
h1, h2, h3, h4, h5, h6 {line-height: 1.1; padding: 0; margin: 0; font-family: din-web-jetblue, Arial, Helvetica, sans-serif; font-weight:600;}
h1 {font-size: 44px;}
h2 {font-size: 28px;}
h3 {font-size: 20px;}
h4 {font-size: 20px; font-family: Arial, Helvetica, Verdana, sans-serif;}
h5 {font-size: 14px; font-family: Arial, Helvetica, Verdana, sans-serif;}
h6 {font-size: 11px; font-family: Arial, Helvetica, Verdana, sans-serif;}
strong {font-weight: 700;}
p {font-size: 12px; line-height: 16px; margin: 0;}
ol, ul, dl {list-style: none; margin: 0; padding: 0;}


body {
	background: url(/img/bg-jetblue-body-logoonly.jpg) no-repeat center top #FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 1;
	/* text-align: center; */
	color: #454545;
	min-width: 963px;
    font-size: 1.4em;
	}

.floatleft{float:left;}
.floatright{float:right;}
.clear{clear:both;}

/*=== Grid System
Author: Roger
==================================================*/

/* Structure */
.six .col1,
.six .col2,
.six .col3,
.six .col4,
.six .col5,
.six .col6,
.four .col1,
.four .col2,
.four .col3,
.four .col4 { float: left; margin-left: 10px; }

/* Alpha */
.six .first,
.four .first { margin: 0; }

/* Six Columns */
.six .col1 { width: 152px; }
.six .col2 { width: 314px; }
.six .col3 { width: 476px; }
.six .col4 { width: 638px; }
.six .col5 { width: 800px; }
.six .col6 { width: 962px; margin: 0; }

/* Four Columns */
.four .col1 { width: 233px; }
.four .col2 { width: 476px; }
.four .col3 { width: 719px; }
.four .col4 { width: 962px; margin: 0; }

/*=== Third Party Content
Author: Andrew
==================================================*/


#container {
	position: relative;
	width: 962px;
	margin: 0 auto;
	text-align: left;
	clear: both;
	}
	
body.third-party #container {
	padding: 30px 0 30px; 
	}
	

/*=== CAROUSEL
Author: Andrew
==================================================*/
.carousel {
	width: 450px;
	padding: 0;
	}

.carousel .prev,
.carousel .next {
	float: left;
	width: 50px;
	padding: 10px 0 0;
	}

.carousel .prev span,
.carousel .next span {
	display: block;
	width: 30px;
	margin: 0 auto;
	height: 30px;
	overflow: hidden;
	background-color: #AAA;
	color: #fff;
	font-size: 2.8em;
	line-height: 1.1;
	text-align: center;
	cursor: pointer;
	}

.carousel .prevDisabled span,
.carousel .nextDisabled span {
	background-color: #EEE;
	cursor: default;
	}

.carousel .prev span:hover,
.carousel .next span:hover {
	background-color: #333;
	}

.carousel .prevDisabled span:hover,
.carousel .nextDisabled span:hover {
	background-color: #EEE;
	}

.carousel .visibleStage {
	float: left;
	width: 350px;
	overflow: hidden;
	position: relative;
	}

.carousel .visibleStage ul {
	width: 350px;
	position: relative;
	top: 0px;
	left: 0px;
	float: left;
	}

.carousel .visibleStage ul li {
	float: left;
	width: 70px;
	/* padding: 0 10px; */
	}

.carousel .visibleStage ul li a {
	display: block;
	width: 50px;
	margin: 0 auto;
	height: 50px;
	overflow: hidden;
	background-color: #ffffff;
	}

.carousel .carouselPagin {
	clear: left;
	padding: 10px 0 0 5px;
	width: 100px;
	margin: 0 auto
	}

.carousel .carouselPagin span {
	/* background-color: #CCC; */
	display: block;
	float: left;
	width: 11px;
	height: 11px;
	padding: 0;
	margin-right: 5px;
	overflow: hidden;
	color: #fff;
	font-size: 1px;
	line-height: 1px;
	text-indent: -9999px;
	cursor: pointer;
	-moz-border-radiust: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	}

.carousel .carouselPagin span.active {
	/* background-color: #333; */
	}

.carousel .carouselPagin span:hover {
/* 	background-color: #AAA; */
	}

.content-side-layout {
	margin-top: 30px;
	margin-bottom: 10px;
	}
	
/*=== TOOLTIP
Author: Andrew
==================================================*/	
#tooltip,.tooltip-data {
	display: block;
	position: absolute;
	left: -10000px;
	top: -10000px;
	z-index: 50;
}


.tooltipChromeTopRight,
.tooltipChromeBottomRight,
.tooltipChromeArrow {
	display: none;
	}

/*=== HEADER
Author: Andrew
==================================================*/
#jb-header {
	width: 100%;
	min-width: 968px;
	}

#jb-header:focus {
    outline: 1px solid #4D90CD;
    overflow: hidden;
}

#jb-header .wrapper {
    /*background: url(/img/bg-jetblue-body-logoonly.jpg) no-repeat -216px 0;*/
	width: 968px;
	margin: 0 auto;
	text-align: left;
	padding: 0;
	}
/*
//#jb-header h1, 
#jb-header h1 a,
#jb-header a.jbLogo {
	display: block;
    float: left;
    font-size: 0px;
    line-height: 0px;
    margin-top: 34px;
    margin-left: 0px;
}
*/
#jb-header h1 a:focus,
#jb-header a.jbLogo:focus {
    //outline: none;
    //border-bottom: 2px solid #FFF;
    padding-bottom: 13px;
}
#jb-header a.jbLogo:focus {
    padding-bottom: 28px;
}

#jb-header h1 a {
	float: none;
	padding: 0;
}

#jb-header .global-nav {
	float: right;
	width: 780px;
	padding: 0 3px 10px 0;
	}

#jb-header .travel-alerts {
	padding: 7px 0 0;
	color: #ff9900;
	text-align: right;
	font-size: 0.9em;
	line-height: 21px;
	height: 31px;
	overflow: hidden;
	}

#jb-header .travel-alerts .rgt-arrow {
	display: inline-block;
	background: transparent url(/img/rgt-arrow.png) 0 0 no-repeat;
	width: 6px;
	height: 9px;
	margin-left: 4px;
	}
	
#jb-header .travel-alerts img {
	padding: 0 0 5px;
	}

#jb-header .travel-alerts span {
	color: #4d90cd;
	}
#jb-header .travel-alerts a:hover span {
	color: #004990;
	text-decoration: underline;
	}

#jb-header .travel-alerts a {
	color: #ff9900;
	}
	
#jb-header .travel-alerts a:hover {
	text-decoration: none;
	}

#jb-header .travel-alerts a:hover .rgt-arrow {
	background-position: 0 -14px; 
	}

#jb-header .login-utility 
{
    float: right;
    margin-top: 7px;
}
#jb-header .login-utility li {
	float: left;
	}

#jb-header .login-utility li a {
	display: table-cell;
	height: 27px;
	font-size: 0.88em;
	font-weight: 700;
	overflow: hidden;
	padding: 0 7px;
	vertical-align:middle;
	}

/*
#jb-header .login-utility li a:hover, 
#jb-header .login-utility li a:focus{
	color: white;
	text-decoration: none;
}
#jb-header .login-utility li a:focus{
	text-decoration: underline;
}
*/

#jb-header .true-blue-sign-in {
	float: right;
	overflow: hidden;
	}
	
#jb-header li.true-blue-sign-in a 
{
    min-width: 72px;
    display: inline-block !important;
    vertical-align: top;
}

#jb-header li.true-blue-sign-in .trueblue-sprite 
{
    display: block;
    float: left;
    width: 134px;
}

#jb-header .true-blue-join {
	width: 72px;
	padding: 0 0 0 7px;
	}

#jb-header li.true-blue-sign-in a,
#jb-header li.true-blue-join a   {
	display: block;
	//background: url(/img/bg-true-blue-btn.jpg) no-repeat 0 0 #4d90cd;
	height: 27px;
	overflow: hidden;
	color: #FFF;
	font-family: din-web-jetblue, Arial, Helvetica, sans-serif;
	font-weight: 700;
	font-size: 0.94em;
	line-height: 1.1;
	text-transform: uppercase;
	text-align: center;
	padding: 0 0 0 3px;
	cursor: pointer;
	background-color: #306FAA; 
	border-radius: 3px;
	}

#jb-header li.true-blue-join a span,
#jb-header li.true-blue-sign-in a span {
   font-weight: 700;
	font-size: 0.94em;
}

#jb-header li.true-blue-sign-in a:hover,
#jb-header li.true-blue-join a:hover, 
#jb-header li.true-blue-sign-in a:focus, 
#jb-header li.true-blue-join a:focus {
	text-decoration: none;
	background-position: 0 -66px;
	background-color: #004990;
}

#jb-header li.true-blue-sign-in a span,
#jb-header li.true-blue-join a span {
	//background: url(/img/bg-true-blue-btn.jpg) no-repeat right -33px;
	//width: 90px;
    height: 27px;
    padding: 2px 3px 0px 0px;
    cursor: pointer;
    display: table-cell;
    vertical-align: middle;
	}

#jb-header li.true-blue-sign-in a span 
{
    min-width: 69px;
}
#jb-header li.true-blue-join a span 
{
    min-width: 66px;
}




#jb-header li.true-blue-sign-in a:hover span,
#jb-header li.true-blue-join a:hover span,
#jb-header li.true-blue-sign-in a:focus span,
#jb-header li.true-blue-join a:focus span {
	background-position: right -99px;
}

#jb-header li.true-blue-sign-in a:focus span,
#jb-header li.true-blue-join a:focus span {
	text-decoration: underline;
}


#jb-header .main-nav {
	clear: both;
	}

#jb-header .main-nav a {
   outline: none;
}

#jb-primary-links {
	position: relative;
	top: 2px;
	/* padding: 3px 0 0; */
	}

#jb-primary-links li {
	float: left;
	width: 158px;
	min-height: 93px;
	margin: 0 0 0 4px;
}

#jb-primary-links li.first {
	margin: 0;
}

#jb-primary-links a.jb-primary-link {
	display: block;
	height: 84px;
	overflow: hidden;
	color: #FFF;
	margin-top: -2px;
}
#jb-primary-links a.jb-primary-link:focus {
    outline: #4D90CD solid 2px;
}


#jb-primary-links .submenu a.jb-primary-link {    
	height: 90px;
}	

/* Default State */

#jb-primary-links a.manage-flight img
{
    margin-left: -162px;
    margin-top: 0;
}

#jb-primary-links a.where-we-jet img
{
    margin-left: -324px;
    margin-top: 0;
}

#jb-primary-links a.flying-on-jetblue img
{
    margin-left: -486px;
    margin-top: 0;
}

#jb-primary-links a.travel-information img
{
    margin-left: -648px;
    margin-top: 0;
}

#jb-primary-links a.true-blue img
{
    margin-left: -810px;
    margin-top: 0;
	}

#jb-primary-links a.true-blue-logged-in img
{
    margin-left: -972px;
    margin-top: 0;
	}
	
#jb-primary-links a.true-blue-mosaic img
{
    margin-left: -1134px;
    margin-top: 0;
	}

/* Hover State	 */
#jb-primary-links li a.plan-a-trip:hover img, #jb-primary-links li a.plan-a-trip:focus img
{
    margin-left: 0px;
    margin-top: -100px;
}

#jb-primary-links li a.manage-flight:hover img, #jb-primary-links li a.manage-flight:focus img
{
	margin-left: -162px;
    margin-top: -100px;
}

#jb-primary-links li a.where-we-jet:hover img, #jb-primary-links li a.where-we-jet:focus img
{
    margin-left: -324px;
    margin-top: -100px;
}

#jb-primary-links li a.flying-on-jetblue:hover img, #jb-primary-links li a.flying-on-jetblue:focus img
{
    margin-left: -486px;
    margin-top: -100px;
}

#jb-primary-links li a.travel-information:hover img, #jb-primary-links li a.travel-information:focus img 
{
	margin-left: -648px;
    margin-top: -100px;
}

#jb-primary-links li a.true-blue:hover img, #jb-primary-links li a.true-blue:focus img 
{
    margin-left: -810px;
    margin-top: -100px;
}

#jb-primary-links li a.true-blue-logged-in:hover img,  #jb-primary-links li a.true-blue-logged-in:focus img
{
    margin-left: -972px;
    margin-top: -100px;
	}
	
#jb-primary-links li a.true-blue-mosaic:hover img, #jb-primary-links li a.true-blue-mosaic:focus img
{
    margin-left: -1134px;
    margin-top: -100px;
}

/* Active and Active/Hover State	 */
#jb-primary-links li.active a.plan-a-trip img,
#jb-primary-links li.active a.plan-a-trip:hover img,
#jb-primary-links li.hover a.plan-a-trip img,
#jb-primary-links li.hover a.plan-a-trip:hover img, 
#jb-primary-links li.active a.plan-a-trip:focus img, 
#jb-primary-links li.hover a.plan-a-trip:focus img {
	margin-left: 0px;
    margin-top: -100px;
}

#jb-primary-links li.active a.manage-flight img,
#jb-primary-links li.active a.manage-flight:hover img,
#jb-primary-links li.hover a.manage-flight img,
#jb-primary-links li.hover a.manage-flight:hover img,
#jb-primary-links li.active a.manage-flight:focus img 
#jb-primary-links li.hover a.manage-flight:focus img  {
    margin-left: -162px;
    margin-top: -100px;
}

#jb-primary-links li.active a.where-we-jet img,
#jb-primary-links li.active a.where-we-jet:hover img,
#jb-primary-links li.hover a.where-we-jet img,
#jb-primary-links li.hover a.where-we-jet:hover img,
#jb-primary-links li.active a.where-we-jet:focus img,
#jb-primary-links li.hover a.where-we-jet:focus img 
{
    margin-left: -324px;
    margin-top: -100px;
}

#jb-primary-links li.active a.flying-on-jetblue img,
#jb-primary-links li.active a.flying-on-jetblue:hover img,
#jb-primary-links li.hover a.flying-on-jetblue img,
#jb-primary-links li.hover a.flying-on-jetblue:hover img,
#jb-primary-links li.active a.flying-on-jetblue:focus img,
#jb-primary-links li.hover a.flying-on-jetblue:focus img
{
    margin-left: -486px;
    margin-top: -100px;
	}

#jb-primary-links li.active a.travel-information img,
#jb-primary-links li.active a.travel-information:hover img,
#jb-primary-links li.hover a.travel-information img,
#jb-primary-links li.hover a.travel-information:hover img,
#jb-primary-links li.active a.travel-information:focus img,
#jb-primary-links li.hover a.travel-information:focus img
{
    margin-left: -648px;
    margin-top: -100px;
	}

#jb-primary-links li.active a.true-blue img,
#jb-primary-links li.active a.true-blue:hover img,
#jb-primary-links li.hover a.true-blue img,
#jb-primary-links li.hover a.true-blue:hover img,
#jb-primary-links li.active a.true-blue:focus img,
#jb-primary-links li.hover a.true-blue:focus img
{
    margin-left: -810px;
    margin-top: -100px;
}

#jb-primary-links li.active a.true-blue-logged-in img,
#jb-primary-links li.active a.true-blue-logged-in:hover img,
#jb-primary-links li.hover a.true-blue-logged-in img,
#jb-primary-links li.hover a.true-blue-logged-in:hover img,
#jb-primary-links li.active a.true-blue-logged-in:focus img,
#jb-primary-links li.hover a.true-blue-logged-in:focus img
{
    margin-left: -972px;
    margin-top: -100px;
}

#jb-primary-links li.active a.true-blue-mosaic img,
#jb-primary-links li.active a.true-blue-mosaic:hover img,
#jb-primary-links li.hover a.true-blue-mosaic img,
#jb-primary-links li.hover a.true-blue-mosaic:hover img,
#jb-primary-links li.active a.true-blue-mosaic:focus img,
#jb-primary-links li.hover a.true-blue-mosaic:focus img
{
    margin-left: -1134px;
    margin-top: -100px;
}

/* Current Location State */
#jb-primary-links li.current a.plan-a-trip img,
#jb-primary-links li.current a.plan-a-trip:hover img, 
#jb-primary-links li.current a.plan-a-trip:focus img{
	margin-left: 0px;
    margin-top: -200px;
	}

#jb-primary-links li.current a.manage-flight img,
#jb-primary-links li.current a.manage-flight:hover img, 
#jb-primary-links li.current a.manage-flight:focus img
{
    margin-left: -162px;
    margin-top: -200px;
}

#jb-primary-links li.current a.where-we-jet img,
#jb-primary-links li.current a.where-we-jet:hover img,
#jb-primary-links li.current a.where-we-jet:focus img
{
    margin-left: -324px;
    margin-top: -200px;
}

#jb-primary-links li.current a.flying-on-jetblue img,
#jb-primary-links li.current a.flying-on-jetblue:hover img,
#jb-primary-links li.current a.flying-on-jetblue:focus img
{
    margin-left: -486px;
    margin-top: -200px;
}

#jb-primary-links li.current a.travel-information img,
#jb-primary-links li.current a.travel-information:hover img,
#jb-primary-links li.current a.travel-information:focus img
{
    margin-left: -648px;
    margin-top: -200px;
}

#jb-primary-links li.current a.true-blue img,
#jb-primary-links li.current a.true-blue:hover img,
#jb-primary-links li.current a.true-blue:focus img
{
    margin-left: -810px;
    margin-top: -100px;
	}

#jb-primary-links li.current a.true-blue-logged-in img,
#jb-primary-links li.current a.true-blue-logged-in:hover img,
#jb-primary-links li.current a.true-blue-logged-in:focus img
{
    margin-left: -972px;
    margin-top: -100px;
	}

#jb-primary-links li.current a.true-blue-mosaic img,
#jb-primary-links li.current a.true-blue-mosaic:hover img,
#jb-primary-links li.current a.true-blue-mosaic:focus img
{
    margin-left: -1134px;
    margin-top: -100px;
	}

#jb-primary-links a span.name,
#jb-primary-links a span.member {
	display: block;
	position: absolute;
	left: -10000px;
	top: -10000px;
	font-size: 1px;
	line-height: 1px;
	}

#jb-primary-links a.jb-primary-link.true-blue-logged-in {
    padding: 11px 0px 0px 14px;
    max-height: 71px;
}

#jb-primary-links a.jb-primary-link .foreground-sprite {
    z-index: 0;
}
    
#jb-primary-links a.true-blue-mosaic span.member,
#jb-primary-links a.true-blue-mosaic span.points,
#jb-primary-links a.true-blue-logged-in span.member,
#jb-primary-links a.true-blue-logged-in span.points {
	position: static;
	font-family: din-web-jetblue, Arial, Helvetica, sans-serif;
	font-weight: 700;
	font-size: 1em;
	line-height: 1.05;
	display: block;
	margin: 11px 0px -9px 14px;
	position: absolute;
    top: 0;
    left: 0;
	}

#jb-primary-links a.true-blue-mosaic span.points,
#jb-primary-links a.true-blue-logged-in span.points {
	font-size: 1em;
	padding: 13px 0 0;
	font-weight: 400;
	top: 30px;
	}

#jb-primary-links a.true-blue-mosaic span.points em,
#jb-primary-links a.true-blue-logged-in span.points em { 
	font-size: 9px;
	font-style: normal;
	}

#jb-backdrop {
	background-color: #f1f5f8;
	margin: 0 3px 10px;
	padding: 0 0 0;
	height: 126px;
	overflow: hidden;
	display: none;
	}

#jb-primary-links .jb-secondary-links  {
	position: absolute;
	left: 3px;
	top: 90px;
	width: 963px;
	background: url(/img/bg-main-nav-secondary_strips.jpg) no-repeat 0 0 #f1f5f8;
	/*display: none;*/
	opacity: 0;
	filter: alpha(opacity=0);
	z-index: -1;
	min-height: 132px;
	}
	
#jb-primary-links .jb-secondary-links.show-menu 
{
    opacity: 1;
    filter: none;
	z-index: 50;
}

#jb-primary-links .jb-secondary-links .plan-a-trip-submenu,
#jb-primary-links .jb-secondary-links .flying-on-jetblue-submenu,
#jb-primary-links .jb-secondary-links .travel-information-submenu {
	background: url(/img/bg-main-nav-secondary_strips.jpg) no-repeat -1000px bottom;
	padding: 3px 0;
	/*Cheight: 120px;*/
	overflow: hidden;
	}

#jb-primary-links .jb-secondary-links ul {
	list-style: none;
	}

#jb-primary-links .jb-secondary-links ul li {
	display: block;
	float: left;
	width: 130px;
	margin: 0;
	/*Cheight: 120px;*/
	}
	
#jb-primary-links .jb-secondary-links .flying-on-jetblue-submenu ul li, #jb-primary-links .jb-secondary-links .travel-information-submenu ul li
{
    width: 153px;
}

#jb-primary-links .jb-secondary-links ul li.flights,
#jb-primary-links .jb-secondary-links ul li.directv,
#jb-primary-links .jb-secondary-links ul li.t-5 {
	padding-left: 0;
	}


#jb-primary-links .jb-secondary-links ul li.additional-plan-a-trip-links,
#jb-primary-links .jb-secondary-links ul li.additional-travel-information-links-1,
#jb-primary-links .jb-secondary-links ul li.additional-travel-information-links-2,
#jb-primary-links .jb-secondary-links ul li.additional-flying-on-jetblue-links-1,
#jb-primary-links .jb-secondary-links ul li.additional-flying-on-jetblue-links-2 {
	width: auto;
    padding: 10px 0px 8px 15px;
	}

#jb-primary-links .jb-secondary-links ul li a {
	/*background: url(/img/bg-main-nav-secondary-icons.jpg) no-repeat 0 0;*/
	display: block;
	width: 97%;
	/*Cheight: 110px;*/
	margin: 10px auto 5px auto;
	//color: #4d90cd;
	font-family: din-web-jetblue, Arial, Helvetica, sans-serif;
	font-weight: 600;
	font-size: 1em;
	line-height: 1.1;
	text-align: center;
	position: relative;
	padding: 0px;
	}

#jb-primary-links .jb-secondary-links ul li a:hover, #jb-primary-links .jb-secondary-links ul li a:focus {
	color: #004990;
	}	

#jb-primary-links .jb-secondary-links ul li a sup {
	font-size: 6px;
	font-weight: 600;
	}

#jb-primary-links .jb-secondary-links ul li.flights a .foreground-sprite img
{
    margin-left: -4px;
    margin-top: -21px;
	}

#jb-primary-links .jb-secondary-links ul li.flights a:hover .foreground-sprite img, #jb-primary-links .jb-secondary-links ul li.flights a:focus .foreground-sprite img
{
    margin-left: -4px;
    margin-top: -147px;
	}

#jb-primary-links .jb-secondary-links ul li.vacations a .foreground-sprite img
{
    margin-left: -140px;
    margin-top: -21px;
	}

#jb-primary-links .jb-secondary-links ul li.vacations a:hover .foreground-sprite img, #jb-primary-links .jb-secondary-links ul li.vacations a:focus .foreground-sprite img
{
    margin-left: -140px;
    margin-top: -147px;
	}

#jb-primary-links .jb-secondary-links ul li.hotels a .foreground-sprite img
{
    margin-left: -274px;
    margin-top: -21px;
	}

#jb-primary-links .jb-secondary-links ul li.hotels a:hover .foreground-sprite img, #jb-primary-links .jb-secondary-links ul li.hotels a:focus .foreground-sprite img 
{
    margin-left: -274px;
    margin-top: -147px;
	}

#jb-primary-links .jb-secondary-links ul li.cars a .foreground-sprite img
{
    margin-left: -407px;
    margin-top: -21px;
	}

#jb-primary-links .jb-secondary-links ul li.cars a:hover .foreground-sprite img, #jb-primary-links .jb-secondary-links ul li.cars a:focus .foreground-sprite img
{
    margin-left: -407px;
    margin-top: -147px;
	}

#jb-primary-links .jb-secondary-links ul li.cruises a .foreground-sprite img
{
    margin-left: -544px;
    margin-top: -21px;
	}

#jb-primary-links .jb-secondary-links ul li.cruises a:hover .foreground-sprite img, #jb-primary-links .jb-secondary-links ul li.cruises a:focus .foreground-sprite img
{
    margin-left: -544px;
    margin-top: -147px;
}
	
#jb-primary-links .jb-secondary-links ul li.deals-sprite a .foreground-sprite img
{
    margin-left: -1933px;
    margin-top: -21px;
}

#jb-primary-links .jb-secondary-links ul li.deals-sprite a:hover .foreground-sprite img, #jb-primary-links .jb-secondary-links ul li.deals-sprite a:focus .foreground-sprite img
{
    margin-left: -1933px;
    margin-top: -147px;
}

#jb-primary-links .jb-secondary-links ul li.directv a .foreground-sprite img 
{
    margin-left: -666px;
	margin-top: -15px;
	}

#jb-primary-links .jb-secondary-links ul li.directv a:hover .foreground-sprite img , #jb-primary-links .jb-secondary-links ul li.directv a:focus .foreground-sprite img 
{
    margin-left: -666px;
    margin-top: -141px;
	}

#jb-primary-links .jb-secondary-links ul li.snacks a .foreground-sprite img 
{
    margin-left: -809px;
    margin-top: -21px;
	}

#jb-primary-links .jb-secondary-links ul li.snacks a:hover .foreground-sprite img, #jb-primary-links .jb-secondary-links ul li.snacks a:focus .foreground-sprite img
{
    margin-left: -809px;
    margin-top: -147px;
	}

#jb-primary-links .jb-secondary-links ul li.even-more a .foreground-sprite img 
{
    margin-left: -938px;
    margin-top: -21px;
	}

#jb-primary-links .jb-secondary-links ul li.even-more a:hover .foreground-sprite img, #jb-primary-links .jb-secondary-links ul li.even-more a:focus .foreground-sprite img	
{
    margin-left: -938px;
    margin-top: -147px;
	}

#jb-primary-links .jb-secondary-links ul li.mint-tab a .foreground-sprite img 
{
    margin-left: -1779px;
    margin-top: -21px;
	}

#jb-primary-links .jb-secondary-links ul li.mint-tab a:hover .foreground-sprite img, #jb-primary-links .jb-secondary-links ul li.mint-tab a:focus .foreground-sprite img	
{
    margin-left: -1779px;
    margin-top: -147px;
	}
	
#jb-primary-links .jb-secondary-links ul li.first-bag a .foreground-sprite img
{
    margin-left: -1068px;
    margin-top: -21px;
	}

#jb-primary-links .jb-secondary-links ul li.first-bag a:hover .foreground-sprite img, #jb-primary-links .jb-secondary-links ul li.first-bag a:focus .foreground-sprite img
{
    margin-left: -1068px;
    margin-top: -147px;
	}

#jb-primary-links .jb-secondary-links ul li.t-5 a .foreground-sprite img
{
    margin-left: -1204px;
    margin-top: -21px;
	}

#jb-primary-links .jb-secondary-links ul li.t-5 a:hover .foreground-sprite img, #jb-primary-links .jb-secondary-links ul li.t-5 a:focus .foreground-sprite img 
{
    margin-left: -1204px;
    margin-top: -147px;
	}

#jb-primary-links .jb-secondary-links ul li.baggage-info a .foreground-sprite img
{
    margin-left: -1343px;
    margin-top: -21px;
	}

#jb-primary-links .jb-secondary-links ul li.baggage-info a:hover .foreground-sprite img, #jb-primary-links .jb-secondary-links ul li.baggage-info a:focus .foreground-sprite img 
{
    margin-left: -1343px;
    margin-top: -147px;
	}

#jb-primary-links .jb-secondary-links ul li.special-needs a .foreground-sprite img
{
    margin-left: -1477px;
    margin-top: -21px;
	}

#jb-primary-links .jb-secondary-links ul li.special-needs a:hover .foreground-sprite img, #jb-primary-links .jb-secondary-links ul li.special-needs a:focus .foreground-sprite img 
{
    margin-left: -1477px;
    margin-top: -147px;
	}

#jb-primary-links .jb-secondary-links ul li.jet-paws a .foreground-sprite img
{
    margin-left: -1614px;
    margin-top: -21px;
	}

#jb-primary-links .jb-secondary-links ul li.jet-paws a:hover .foreground-sprite img, #jb-primary-links .jb-secondary-links ul li.jet-paws a:focus .foreground-sprite img
{
    margin-left: -1614px;
    margin-top: -147px;
	}

#jb-primary-links .jb-secondary-links ul li.mint a .foreground-sprite img 
{
    margin-left: -1788px;
    margin-top: -21px;
    }

#jb-primary-links .jb-secondary-links ul li.mint a:hover .foreground-sprite img, #jb-primary-links .jb-secondary-links ul li.mint a:focus .foreground-sprite img 
{
    margin-left: -1788px;
    margin-top: -147px;
}


#jb-primary-links .jb-secondary-links  .plan-a-trip-submenu ul li.additional-plan-a-trip-links	a,
#jb-primary-links .jb-secondary-links  .travel-information-submenu ul li.additional-travel-information-links-1 a,
#jb-primary-links .jb-secondary-links  .travel-information-submenu ul li.additional-travel-information-links-2 a,
#jb-primary-links .jb-secondary-links  .flying-on-jetblue-submenu ul li.additional-flying-on-jetblue-links-1 a,
#jb-primary-links .jb-secondary-links  .flying-on-jetblue-submenu ul li.additional-flying-on-jetblue-links-2 a {
	display: inline-block;
	width: auto;
	/*Cheight: 20px;*/
	overflow: hidden;
	background: none;
	//color: #4d90cd;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.85em;
	font-weight: 500;
	line-height: 1.6;
	text-align: left;
	text-indent: 0;
	margin: 0;
	padding: 0 1px;
	clear: both;
    float: left;
	}

#jb-primary-links .jb-secondary-links .additional-plan-a-trip-links,
#jb-primary-links .jb-secondary-links .additional-flying-on-jetblue-links-1,
#jb-primary-links .jb-secondary-links .additional-travel-information-links-1 {
	border-left: 1px solid #D3E3F2;
}
#jb-primary-links .jb-secondary-links  .plan-a-trip-submenu ul li.additional-plan-a-trip-links	a:hover,
#jb-primary-links .jb-secondary-links  .travel-information-submenu ul li.additional-travel-information-links-1 a:hover,
#jb-primary-links .jb-secondary-links  .travel-information-submenu ul li.additional-travel-information-links-2 a:hover,
#jb-primary-links .jb-secondary-links  .flying-on-jetblue-submenu ul li.additional-flying-on-jetblue-links-1 a:hover,
#jb-primary-links .jb-secondary-links  .flying-on-jetblue-submenu ul li.additional-flying-on-jetblue-links-2 a:hover, 
#jb-primary-links .jb-secondary-links  .plan-a-trip-submenu ul li.additional-plan-a-trip-links	a:focus,
#jb-primary-links .jb-secondary-links  .travel-information-submenu ul li.additional-travel-information-links-1 a:focus,
#jb-primary-links .jb-secondary-links  .travel-information-submenu ul li.additional-travel-information-links-2 a:focus,
#jb-primary-links .jb-secondary-links  .flying-on-jetblue-submenu ul li.additional-flying-on-jetblue-links-1 a:focus,
#jb-primary-links .jb-secondary-links  .flying-on-jetblue-submenu ul li.additional-flying-on-jetblue-links-2 a:focus {
	color: #004990;
	text-decoration: underline;
	}
	
.soflyHeader {
    height:27px;
    margin:0 0 0 7px;
    position:relative;
    border-left:1px solid #e1edf8;
    border-right:1px solid #e1edf8;
    }
    .soflyHeaderMaster {
    height:27px;
    position:relative;   
    }
    
.soflyHeaderNew {
    width:36px;
    height:20px;    
    position:absolute;
    top:-16px;
    right:4px;
    color:#ffffff;
    text-align:center;
    font:700 10px din-web-jetblue,arial;
    line-height:18px;
    background: url("/sofly/img/olagallery_spritesheet.png") no-repeat -235px -61px;
}

.jbSocialBlueTMMaster {
position: absolute;
font-size: 9px;
color:#4d90cd;

}
.jbSocialBlueTMMasterFooter {
position: absolute;
font-size: 9px;
color:#4d90cd;
top: -2px;
left:76px;
}

.jbSocialBlueTMMasterHeader {
position: absolute;
font-size: 9px;
top:-2px;
color:#4d90cd;
}
.soflyFooter {
    position:relative;    
}

.soflyFooterNew {
    width:40px;
    height:14px;
    position:absolute;
    top:5px;
    left:340px;
    padding:2px 0 0 2px;
    color:#ffffff;
    text-align:center;
    font:700 10px din-web-jetblue,arial;
    line-height:14px;
    background: url("/sofly/img/olagallery_spritesheet.png") no-repeat scroll -273px -61px;
}

.verticalline
{
    border-left:.1em solid #e1edf8;
    height:27px;
    margin: 0 0 0 7px;
}

/*=== Footer
Author: Roger
==================================================*/

#jb-footer {
	color: #454545;
	text-align: left;
	width: 968px;
	margin: 0 auto;
	padding: 10px 0 20px;
	}

#jb-footer p {
	font-size: 1.2rem;
    line-height: 16px;
    margin: 0;
    padding:0; 
}

#jb-footer a {
	//color: #4d90cd;
	}

#jb-footer a:hover {
	color: #004990;
	text-decoration: underline;
	}

#jb-footer .header-wrap {
	background: #f1f5f8 url(/img/bg-footer-bar-top.gif) no-repeat 0 0;
	width: 962px;
	margin: 0 auto;
	padding: 6px 0 0;
	}

#jb-footer .header-inner {
	background: #f1f5f8 url(/img/bg-footer-bar-bottom.gif) no-repeat 0 bottom;
	padding: 0 10px 6px;
	}

#jb-footer .header-wrap .app-wrap {
	float: left;
	width: 466px;
	}

#jb-footer .header-wrap .search-wrap {
	float: left;
	width: 465px;
	margin-left: 10px;    
	padding: 4px 0 0;
	}

#jb-footer .header-wrap .search-wrap form {
	position: relative;
	}

#jb-footer .header-wrap .search-wrap .search-inner {
    border-color: #C0C0C0 #F0F0F0 #E7E7E7 #C0C0C0;
	border-style: solid;
    border-width: 1px;
	/* Fallback declaration for unsupported browsers */
	background-image: url(/img/input-bg.png) 0 top repeat-x;
	/* Multiple Backgrounds using CSS3 */
	background: url(/img/input-bg.png) 0 top repeat-x,
				url(/img/input-bg.png) left 0 repeat-y,
				url(/img/input-bg.png) left top no-repeat,
				url(/img/input-bg.png) left top no-repeat;
	/* Declare background-color at the end to complete the cascade */
	background-color: #ffffff;
	width: 424px;
	height: 31px;
	padding-right: 40px;
	}

#jb-footer .header-wrap .search-wrap .search-inner #search-box {
	font-size: 14px;
	border: 0;
	width: 420px;
	height: 20px;
	margin: 1px;
	padding: 5px;
	color: #4D90CD;
	}

#jb-footer .header-wrap .search-wrap .search-inner .placeholder {
	color: #c0c0c0;
	}

#jb-footer .header-wrap .search-wrap .search-inner #search-box:focus {
	outline: 0;
	}

#jb-footer .header-wrap .search-wrap .search-inner #loupe-btn {
	position: absolute;
	top: 6px;
	right: 7px;
	background: transparent url(/img/loupe-btn-sp.gif) 0 0 no-repeat;
	text-indent: -10000px;
	border: 0;
	//outline: 0;
	width: 20px;
	height: 20px;
	margin: 0;
	padding: 0;
	font-size: 1px;
	line-height: 1px;
	color: #fff;
}

#jb-footer .header-wrap .search-wrap .search-inner #loupe-btn:hover {
	background: transparent url(/img/loupe-btn-sp.gif) 0 -25px no-repeat;
}
.media .app-wrap a {
	display: inline-block;
}

.media .app-wrap .img a:focus,
#jb-footer .header-wrap .search-wrap .search-inner #loupe-btn:focus {
	outline: #4D90CD solid 2px;
}

#jb-footer .body-wrap {
	width: 963px;
	margin: 15px auto;
	}

#jb-footer .body-wrap .social-wrap {
	float: left;
	color: #4d90cd;
	width: 476px;
	}

#jb-footer .body-wrap .social-wrap li {
	margin: 5px 0;
	}

#jb-footer .body-wrap .social-wrap li a {
	font-weight: bold;
	}
	
#jb-footer .body-wrap .social-wrap li .inner-media p {
	color: #999;
	}
	
#jb-footer .body-wrap .social-wrap li .inner-media p a {
	color: #4D90CD;
	}	
	
#jb-footer .body-wrap .social-wrap li .inner-media p a:hover {
	color: #004990;
	}
	
li div.inner-media > a {
  display: block;
  float: left;
  font-size: 1.2rem;
  height: 31px;
  line-height: 30px;
  position: relative;
  /*text-decoration: none;*/
  vertical-align: middle;
}


/*
li.facebook div.inner-media > a:before {
  background: url("/img/social-icons-sp.gif") no-repeat scroll 0 0 transparent;
  content: "";
  display: block;
  float: left;
  height: 31px;
  margin-right: 11px;
  width: 34px;
}
li.twitter div.inner-media > a:before {
  background: url("/img/social-icons-sp.gif") no-repeat scroll -35px 0 transparent;
  content: "";
  display: block;
  float: left;
  height: 31px;
  margin-right: 11px;
  width: 34px;
}
li.youtube div.inner-media > a:before {
  background: url("/img/social-icons-sp.gif") no-repeat scroll -70px 0 transparent;
  content: "";
  display: block;
  float: left;
  height: 31px;
  margin-right: 11px;
  width: 34px;
}
li.btblog div.inner-media > a:before {
  background: url("/img/social-icons-sp.gif") no-repeat scroll -105px 0 transparent;
  content: "";
  display: block;
  float: left;
  height: 31px;
  margin-right: 11px;
  width: 34px;
}
li.soflyFooter div.inner-media > a:before {
  background: url("/sofly/img/olagallery_spritesheet.png") no-repeat scroll -318px -61px;
  content: "";
  display: block;
  float: left;
  height: 31px;
  margin-right: 11px;
  width: 34px;
  margin-top: 3px;
}
*/


div.inner-media > span {
  color: #666666;
  font-size: 1.2rem;
  line-height: 16px;
  position: relative;
  top: 7px;
}
	

#jb-footer .body-wrap .social-wrap li .img {
	background: transparent url(/img/social-icons-sp.gif) 0 0 no-repeat;
	width: 31px;
	height: 31px;
	}

#jb-footer .body-wrap .social-wrap li.facebook .like-txt {
	color: #4d90cd;
	}

#jb-footer .body-wrap .social-wrap li.twitter .img {
	background-position: -35px 0;
	}

#jb-footer .body-wrap .social-wrap li.youtube .img {
	background-position: -70px 0;
	}

#jb-footer .body-wrap .social-wrap li.btblog .img {
	background-position: -105px 0;
	}
#jb-footer .body-wrap .social-wrap li.soflyFooter .media .img {
    width: 31px;
    height: 31px;
    margin: 0 14px 0 1px;
    background: url("/sofly/img/olagallery_spritesheet.png") no-repeat scroll -318px -61px;
    }
	
	

#jb-footer .body-wrap .sitemap-wrap {
	float: left;
	width: 476px;
	margin-left: 11px;
	}

#jb-footer .body-wrap .sitemap-wrap ul {
	float: left;
	width: 152px;
	margin-right: 11px;
	}

#jb-footer .body-wrap .sitemap-wrap ul.last {
	width: 150px;
	margin: 0;
	}

#jb-footer .body-wrap .sitemap-wrap li.list-head {
	padding: 2px 0 5px;
	color: #004990;
	font-family: din-web-jetblue, Arial, Helvetica, sans-serif;
	font-weight: 600;
	font-size: 1.6rem;
	line-height: 1.1;
}

html.ie9 #jb-footer .body-wrap .sitemap-wrap li.list-head {
	font-weight: 900;
}

#jb-footer .body-wrap .sitemap-wrap li, #jb-footer .body-wrap .sitemap-wrap li a {
	font-size: 1.2rem;
	font-weight: normal;
	//color: #4d90cd;
	margin: 7px 0;
	}

#jb-footer .body-wrap .sitemap-wrap li, #jb-footer .body-wrap .sitemap-wrap li a:hover {
	color: #004990;
	}

#getaways-cities-list {
	clear: both;
	padding: 26px 0 0;
	}

html.ie8 #getaways-cities-list {
	padding: 31px 0 0;
	}

html.ie7 #getaways-cities-list {
	padding: 16px 0 0;
	}

#getaways-cities-list .getaways-cities-wrap {
	border-top: 1px solid #dae8f4;
	padding: 30px 0 0;
	}
	
#getaways-cities-list p {
	margin: 0;
	padding: 0;
	//color: #999;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.1rem;
	line-height: 2;
	}
	
#getaways-cities-list p a {
	//color: #666666;
	font-weight: 400;
	}	
	
#getaways-cities-list p strong {
	color: #454545;
	font-weight: 700;
	}	
		
#getaways-cities-list p span.show-more {
	display: block;
}
#getaways-cities-list.hide-cities p span.show-more {
	display: block;
	position: absolute;
	top: -10000px;
	left: -10000px;
	display:none;
	}
	
#getaways-cities-list p.expander span {
	//color: #4d90cd;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.1rem;
	font-weight: 700;
	cursor: pointer;
	}

#getaways-cities-list p.expander img.up-icon,
#getaways-cities-list.hide-cities p.expander img.down-icon  {
	display: inline;
	}
	
#getaways-cities-list.hide-cities p.expander img.up-icon,
#getaways-cities-list p.expander img.down-icon  {
	display: none;
	}	

#jb-footer .footer-wrap {
	width: 963px;
	margin: 0 auto;
	}

#jb-footer .fine-print {
	display: block;
	color: #666666;
	font-size: 1.1rem;
	}

#jb-footer .media {
	margin: 0;
	padding: 0;
	/*overflow: hidden;
	_overflow: visible;
	*/
	zoom: 1;
	}

#jb-footer .media .img {
	float: left;
	margin-right: 15px;
	}

#jb-footer .media .img img {
	display: block;
	}

#jb-footer .media .inner-media {
	margin: 5px 0 0;
	overflow: hidden;
	_overflow: visible;
	zoom: 1;
	}

/* Tabs */

.ui-tabs-hide{
	display:none;
}

/*=== Modal
Author: Roger
Colors: Orange: #ff9900 | Light Blue: #4d90cd
	      Dark Blue: #004990 | Darker Blue: #00285e
==================================================*/
.overlay {
	z-index: 5000;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	}
.overlay .screen {
	cursor: pointer;
	position: absolute;
	background: transparent url(/img/overlay-bg.png) 0 0 repeat;
	width: 100%;
	height: 100%;
	}
.overlay .modal {
	position: absolute;
	left: 108px; /* (window.outerWidth - 850) / 2 */
	top: 145px; /* (window.outerHeight - 550) / 2 */
	width: 850px;
	min-height: 600px;
	margin: 0 auto;
	-moz-box-shadow: 0px 0px 10px #333;
	-webkit-box-shadow: 0px 0px 10px #333;
	box-shadow: 0px 0px 10px #333;
	}

/*=== Modal : Modal Structure
Author: Roger
==================================================*/
.overlay .modal .header {
	position: relative;
	background: transparent url(/img/modal-rnd.png) 0 top no-repeat;
	color: #ffffff;
	width: auto;
	height: 70px;
	padding: 3px 0 0 0;
	}

	.overlay .modal .header:focus {
		outline: 2px solid #7FB6E8 ;
	}
.overlay .modal .header .header-inner {
	background-color: #004990;
	width: auto;
	height: inherit;
	}
	
html.oldie .overlay .modal .header .header-inner {
	height: 70px;
	}
	
.overlay .modal .body {
	background: transparent url(/img/modal-rnd.png) -855px bottom no-repeat;
	width: auto;
	min-height: 530px;
	padding: 0 0 3px 0;
	}
.overlay .modal .body .body-inner {
	background-color: #ffffff;
	width: auto;
	min-height: 530px;
	}
	/*
.body-inner 
{
    overflow-y: auto;
    overflow-x: hidden;
}
*/
.fs-info 
{
    text-align: center;
    height: 20px;
    width: 100%;
    font-size: 11px;
    position: absolute;
    bottom: 0px;
}
/*=== Modal : Typography
Author: Roger
==================================================*/
.overlay .modal h3 {
	font-weight: 600;
	margin: 0;
	padding: 0;
	}
.overlay .modal .header h3 { font-size: 22px; padding: 25px 0 0 20px; }
.overlay .modal .body h4 { color: #004990; font-size: 16px; margin: 30px 0 10px; }
.overlay .modal .body p { font-size: 13px; line-height: 27px; }

/*=== Modal : Context Switcher
Author: Roger
==================================================*/
.header-inner .context-switch {
	position: absolute;
	top: 20px;
	right: 20px;
	}
.header-inner .context-switch .close-btn {
	cursor: pointer;
	display: block;
	float: right;
	background: transparent url(/img/context-switcher-btn-sp.png) 0 -128px no-repeat;
	text-indent: -9999px;
	width: 30px;
	height: 30px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	}
.header-inner .context-switch .close-btn:hover { background-position: 0 -291px; }

/*=== Modal : City : Regions
Author: Roger
==================================================*/
#city-modal .region,
#city-modal .cities {
	float: left;
	margin-top: 26px;
	margin-left: 30px;
	}

#city-modal .region {
	color: #4d90cd;
	width: 183px;
	}

#city-modal .region .region-list li {
	cursor: pointer;
	color: #4d90cd;
	font-weight: 700;
	width: 170px;
	height: 17px;
	margin-top: 10px;
	padding: 10px;
	}
#city-modal .region .region-list .two-line { height: 28px; padding: 5px 10px; }
#city-modal .region .region-list li:hover,
#city-modal .region .region-list .active {
	background: transparent url(/img/region-hover-bg.gif) 0 center no-repeat;
	color: #ffffff;
	}

/*=== Modal : City : Cities
Author: Roger
==================================================*/
#city-modal .cities {
/*	display: none;*/
	width: 588px;
	}

#city-modal .cities .city-desc {
	display: block;
	clear: both;
	}
#city-modal .cities .city-desc li {
	float: left;
	background: transparent url(/img/city-lrg-disc-orange.png) left 4px no-repeat;
	color: #4d90cd;
	margin-top: 2px;
	margin-left: 20px;
	padding-left: 10px;
	}
#city-modal .cities .city-desc .partner {
	background: transparent url(/img/city-lrg-disc-grey.png) left 4px no-repeat;
	color: #a6a6a6;
	}
#city-modal .cities .city-desc .first { background: none; margin: 0; padding: 0; }

#city-modal .cities .city-list {
	display: inline;
	float: left;
	padding-top: 15px;
/*
	width: 180px;
	margin-top: 15px;
	margin-left: 10px;
*/
	}
#city-modal .cities .city-list ul {
	width: auto;
	min-width: 160px;
	padding-right: 10px;
	}
#city-modal .cities .first {
	margin-left: 0;
	}
#city-modal .cities .city-list li {
	background: transparent url(/img/city-lrg-disc-orange.png) left 5px no-repeat;
	font-size: 11px;
	margin-top: 2px;
	padding-left: 8px;
	}

#city-modal .cities .city-list li.list-head {
	background: none;
	color: #454545;
	font-size: 12px;
	font-weight: 600;
	padding: 0px;
}
/*
 * This removes margin from the first city section names (text is in grey)
 */
/*#city-modal .cities .city-list ul:first-child { margin-bottom: 0; }*/
#city-modal .cities .city-list ul { margin-bottom: 22px; }
	
#city-modal .cities .city-list li a { display: block; }

#city-modal .cities .city-list .partner {
	background-image: url(/img/city-lrg-disc-grey.png);
	color: #a6a6a6;
	}

/*=== Modal : FAQ : Structure
Author: Roger
==================================================*/
#faq-modal .body-inner,
#restrictions-modal .body-inner {
	padding: 0 80px 0 30px;
	//overflow-y: auto;
	}

#faq-modal .body-inner h3 { margin: 40px 0 5px; }


/*=== Modal : PICK ME UP 
Author: Andrew
==================================================*/

#pick-me-up {
	width: 650px;
	}
	
#pick-me-up .header,
#pick-me-up .body {
	background: url(/img/bg-modal-rd-650.png) no-repeat 0 0;
	}	
	
#pick-me-up .body {
	background-position: -1000px bottom;
	}	
	
#pick-me-up div.body h4 {
	margin: 0;
	padding: 28px 30px 0px;
	color: #004990;
	font-family: din-web-jetblue, Arial, Helvetica, sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 1.6;
	}
		
#pick-me-up-form {
	padding: 0 0 0 30px;
	}
	
#pick-me-up-form .float-form-element {
	padding: 20px 0 0;
	float: left;
	width: 289px;
	padding-right: 13px;
	}
	
#pick-me-up-form .form-element {
	padding: 20px 0 0;
	width: 591px;
	clear: left;
	}	
	
#pick-me-up-form label,
#pick-me-up-form input {
	display: block;
	}	
	
#pick-me-up-form label {
	padding: 0 0 3px 0;
	color: #004990;
	font-family: din-web-jetblue, Arial, Helvetica, sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.1;
	}	
	
#pick-me-up-form label span {
	color: #F90;
	}	
	
#pick-me-up-form .input-holder,
#pick-me-up-form .textarea-holder {	
	display: block;
	border: 1px solid #e4e4e4;
	border-top: 1px solid #c0c0c0;
	height: 36px;
	}	

#pick-me-up-form .textarea-holder {	
	height: auto;
	}

#pick-me-up-form input {
	display: block;
	border: 0;
	border-top: 1px solid #e4e4e4;
	height: 35px;
	overflow: hidden;
	margin: 0;
	padding: 0 10px 0 10px;
	width: 267px;
	color: #454545;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: 600;
	line-height: 1.1;
	}	
	
html.oldie #pick-me-up-form input {
	width: 257px;
	padding: 9px 20px 0 10px;
	line-height: 1.2;
	height: 23px;
	zoom: 1;
	}
	
#pick-me-up-form .form-element input {	
	width: 568px;
	}
	
html.oldie #pick-me-up-form input {	
	width: 568px;
	}
	
#pick-me-up-form .url-element input	{
	color: #4d90cd;
	}
	
#pick-me-up-form textarea {
	width: 585px;
	height: 86px;
	margin: 0;
	padding: 0 0 0 4px;
	border: 0;
	border-top: 1px solid #e4e4e4;
	overflow: scroll;
	overflow-x: hidden;
	color: #454545;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: 600;
	line-height: 1.6;
	}	
	
#pick-me-up-form #pick-me-up-form-submit {
	float: right;
	display: block;
	width: 101px;
	height: 35px;
	overflow: hidden;
	margin: 18px 0 0;
	padding: 0;
	border: 0;
	background: url(/img/bg-pick-me-up-submit.jpg) no-repeat center center #FFF;
	color: #fff;
	font-family: din-web-jetblue, Arial, Helvetica, sans-serif;
	font-weight: 700;
	font-size: 12px;
	line-height: 1.1;
	text-transform: uppercase;
	}	

/*=== Modal : PICK ME UP 
Author: Andrew
==================================================*/

#pnr-modal {
	width: 570px;
	height: 300px;
	}

#pnr-modal .body {
	height: 249px;
	}
	
#pnr-modal .body .body-inner {
	padding: 20px;
	height: auto;
	}	


/*=== Input Boxes & Wraps
Author: Roger
==================================================*/

.input-wrap,
.textarea-wrap {
	border-top: 1px solid #c0c0c0;
	border-right: 1px solid #f0f0f0;
	border-bottom: 1px solid #e7e7e7;
	border-left: 1px solid #c0c0c0;
	/* Fallback declaration for unsupported browsers */
	background-image: url(/img/input-bg.png) 0 top repeat-x;
	/* Multiple Backgrounds using CSS3 */
	background: url(/img/input-bg.png) 0 top repeat-x,
							url(/img/input-bg.png) left 0 repeat-y,
							url(/img/input-bg.png) left top no-repeat,
							url(/img/input-bg.png) left top no-repeat;
	/* Declare background-color at the end to complete the cascade */
	background-color: #ffffff;
}


/*=== Global Styles for Sub-pages
Colors: Orange: #ff9900 | Light Blue: #4d90cd
	      Dark Blue: #004990 | Darker Blue: #00285e
==================================================*/

/*
 * Apply this style to any container to create a bottom divider
 */
.btm-divide {
	background: transparent url(/img/btm-divide.gif) 0 bottom repeat-x;
	}

.media {
	margin: 10px 0;
	padding: 10px 0;
	}
.media, .inner-media {
	margin: 3px 0 0;
	float: left;
	zoom:1;
	}
.media .img {
	float: left;
	margin-right: 10px;
	}
.media .img img {
	display: block;
	}
.media .imgExt {
	float:right;
	margin-left: 10px;
	}

/*=== Buttons
Author: Roger
==================================================*/

/* Left-side  */
.blue-dark-btn-wrap,
.blue-btn-wrap,
.orange-btn-wrap {
	cursor: pointer;
	background: transparent url(/img/submit-btn-sp.png) no-repeat;
	/* don't forget to set the width */
	height: 35px;
	padding-left: 3px;
	}
.blue-dark-btn-wrap { background-position: left -160px; }
.blue-btn-wrap { background-position: left -160px; }
.orange-btn-wrap { background-position: left 0; }

/* Right-side */
.blue-dark-btn-wrap .blue-dark-btn-inner,
.blue-btn-wrap .blue-btn-inner,
.orange-btn-wrap .orange-btn-inner {
	cursor: inherit;
	background: transparent url(/img/submit-btn-sp.png) no-repeat;
	width: inherit;
	height: inherit;
	padding-right: 3px;
	}
.blue-dark-btn-wrap .blue-dark-btn-inner { background-position: right -200px; }
.blue-btn-wrap .blue-btn-inner { background-position: right -200px; }
.orange-btn-wrap .orange-btn-inner { background-position: right -40px; }

/* Contents */
.blue-dark-btn-wrap .blue-dark-btn-inner a,
.blue-btn-wrap .blue-btn-inner a,
.orange-btn-wrap .orange-btn-inner a {
	cursor: pointer;
	display: block;
	color: #ffffff;
	font-family: din-web-jetblue, Arial, Helvetica, sans-serif;
	/*font-size: 13px;*/
	font-size: 1.3em;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	width: auto;
	height: auto;
	border: 0;
	margin: 0 auto;
	padding: 11px 0;
	}
.blue-dark-btn-wrap .blue-dark-btn-inner a { background-color: #4d90cd; }
.blue-btn-wrap .blue-btn-inner a { background-color: #4d90cd; }
.orange-btn-wrap .orange-btn-inner a { background-color: #ff9900; }

/* Hover states	*/
.blue-dark-btn-wrap:hover { background-position: left -240px; }
.blue-btn-wrap:hover { background-position: left -320px; }
.orange-btn-wrap:hover { background-position: left -80px; }
.blue-dark-btn-wrap:hover .blue-dark-btn-inner { background-position: right -280px; }
.blue-btn-wrap:hover .blue-btn-inner { background-position: right -360px; }
.orange-btn-wrap:hover .orange-btn-inner { background-position: right -120px; }
.blue-dark-btn-wrap:hover .blue-dark-btn-inner a { background-color: #004990; text-decoration: none; }
.blue-btn-wrap:hover .blue-btn-inner a { background-color: #76beec; text-decoration: none; }
.orange-btn-wrap:hover .orange-btn-inner a { background-color: #ff7300; text-decoration: none; }

.blue-dark-btn-wrap .blue-dark-btn-inner {font-size: 1.1rem !important;}
.blue-dark-btn-inner {background: none !important;}
.blue-dark-btn-wrap { background: none !important;}
.blue-dark-btn-wrap .blue-dark-btn-inner a {border-radius: 5px;}
/*=== Sidekick Base Styles
Author: Roger
==================================================*/

/*
.sidekick {}
.sidekick .inner {
	padding: 20px;
}
.sidekick .img-wrap {
	text-align: center;
	margin: 25px auto 50px;
}
.sidekick h3.heading {
	margin: 30px 0;
	padding: 0;
	display: block;
	font-size: 20px;
	color: #004990;
	font-weight: 700;
	position: relative;
	}
.sidekick p.body {
	margin: 0 0 15px 0;
	padding-top: 0;
	color: #454545;
	font-size: 14px;
	line-height: 1.75;
	word-spacing: -1px;
	}
.sidekick a.more {
	cursor: pointer;
	clear: both;
	position: relative;
	color: #4d90cd;
	font-size: 13px;
	text-transform: uppercase;
	font-family: din-web-jetblue, Arial, Helvetica, sans-serif;
	font-weight: 700;
	}
.sidekick a.more .arrow-rgt {
	width: 6px;
	height: 11px;
	display: block;
	overflow: hidden;
	background: url(/img/arrow-rgt-medium.png) no-repeat 0 -1px;
	position: absolute;
	top: 15%;
	right: -11px;
	}
	
html.ie7 .sidekick a.more .arrow-rgt {
	position: relative;
	display: inline-block;
	top: -2px;
	}		
	
html.ie8 .sidekick a.more .arrow-rgt,
html.ie9 .sidekick a.more .arrow-rgt {
	position: relative;
	display: inline-block;
	top: 1px;
	}	
	
.sidekick a.more:hover {
	color: #004990;
	}
.sidekick a.more:hover .arrow-rgt {
	background-position: 0 -18px;
	}
*/

/*=== Navigation Selected States
Author: Roger
==================================================*/
/*body .plan-a-trip #jb-primary-links li a.plan-a-trip {
	background-position: 0 -200px;
	}
body .manage-flight #jb-primary-links li a.manage-flight {
	background-position: -162px -200px;
	}
body .where-we-jet #jb-primary-links li a.where-we-jet {
	background-position: -324px -200px;
	}
body .manage-flight #jb-primary-links li a.manage-flight:hover {
	background-position: -162px -200px;
	}
body .where-we-jet #jb-primary-links li a.where-we-jet:hover {
	background-position: -324px -200px;
	}
body .flying-on-jetblue #jb-primary-links li a.flying-on-jetblue {
	background-position: -486px -200px;
	}
body .travel-information #jb-primary-links li a.travel-information {
	background-position: -648px -200px;
	}
body .trueblue #jb-primary-links li a.true-blue {
	background-position: -972px -200px;
	}
*/

/*=== CLEAR FIX / HOLLY HACK FOR STANDARD 
	  COMPLIANT BROWSERS AND IE 6-7
==================================================*/
body:after,
.clearfix:after,
#container:after,
#jb-header:after,
#jb-header .login-utility:after,
#jb-primary-links:after,
#jb-primary-links .jb-secondary-links .plan-a-trip-submenu:after,
#jb-primary-links .jb-secondary-links .flying-on-jetblue-submenu:after,
#jb-primary-links .jb-secondary-links .travel-information-submenu:after,
#jb-primary-links .jb-secondary-links .plan-a-trip-submenu ul:after,
#jb-primary-links .jb-secondary-links .flying-on-jetblue-submenu ul:after,
#jb-primary-links .jb-secondary-links .travel-information-submenu ul:after,
.carousel:after,
.carousel .visableStage ul:after {
	content: ".";
	height: 0;
	visibility: hidden;
	display: block;
	clear: both;
	}

html.oldie .clearfix,
html.oldie #container,
html.oldie #jb-header,
html.oldie #jb-header .login-utility,
html.oldie #jb-primary-links,
html.oldie .carousel,
html.oldie .carousel .visableStage ul {
	zoom: 1;
	_height: 1%;
	}



/** All Alberto's style below here. */
div.overlay { width: 100%; height: 100%; overflow: hidden; position: absolute; top: 0; left: 0; z-index: 1000; }
div.overlay div.screen { width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 3; cursor: pointer; }
div.overlay div.modal { margin: 0 auto; position: relative; top: auto; left: auto; z-index: 10; top: 20px !important; }

.MAC 
{
    font-weight:bold;
}
.offscreen {
    position: absolute;
    left: -999em;
}

#vac_a321EntertainmentError, #a321EntertainmentError 
{
    font-size: 14px;
}
#booker-mini #a321EntertainmentError 
{
    font-size: 14px;
}
#vac_Site_ReturnDateisMonthPastDeptError
{
    font-size: 12px;
}
#vac_Site_a321EntertainmentError
{
    font-size: 12px;
}


/*=== Legal Block at bottom of pages
Author: PJ
==================================================*/

.legal-container .legal-copy {
	color: #999999;
	font-size: 0.8em;
	line-height: 1.3em;
	font-family: Arial, Helvetica, sans-serif;
}


/*=== Gave Icon spacing after separating images from spritesheets
Author: PJ
==================================================*/

#jb-footer .body-wrap .social-wrap li a img {
	margin-right: 8px;
}
li.soflyFooter div.inner-media > a img {
	position: relative;
	top: 3px;
}


/*=== Setup so background can be changed in another CSS file
Author: PJ
==================================================*/

body {
    position: relative;
}
body, #jb-header .wrapper {
	background: none;
}
#jb-header .wrapper {
	position: relative;
}
#bgHolder {
    margin: 0 auto;
	min-width: 962px;
	pointer-events: none;
	width: 100%;
}
#bgHolder .background {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -99999;
}
#jb-header h1 {
	float: none;
	position: absolute;
	/*
    left: 3px;
	padding: 0;
	top: 35px;
    */
}

#jb-primary-links .jb-primary-link 
{
    position: relative;
}

.logo 
{
    overflow: hidden;
}

.logo img 
{
    margin: -12px 0px -11px 1px;
    height: 55px;
    margin-top: 21px;
}

#jb-primary-links .foreground-sprite
{
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 158px;
    height: 92px;
}
#jb-primary-links .jb-primary-link .foreground-sprite {
    margin-top: 2px;
}


#jb-primary-links .jb-secondary-links .foreground-sprite 
{
    height: 80px;
    width: 130px;
}

.secondary-link-name 
{
    /*Cposition: absolute;
    left: 0px;
    top: 80px;*/
    width: 100%;
    text-align: center;
    display: inline-block;
    margin-top: 80px;
}

#skipToMainContentLink a { 
    position:absolute; 
    left:-10000px; 
    top:auto; 
    width:1px; 
    height:1px; 
    overflow:hidden;
}

#skipToMainContentLink a:active, #skipToMainContentLink a:focus 
{
    color: #fff;
    background-color: #0659A9;
    left: auto;
    top: auto;
    width: 20%;
    height: auto;
    padding: 7px;
    overflow:auto;
    margin: 10px 40%;
    border-radius: 4px;
    border: 2px solid #FF9900;
    text-align:center;
    font-size:1.2em;
    z-index:999;
    text-decoration: underline;
}

.new-window 
{
    width: 10px;
    height: 10px;
    margin-left: 3px;
}

#jb-primary-links .jb-secondary-links ul li a img.new-window 
{
    margin: 0px;
    margin-left: 2px;
}

#jb-primary-links .jb-secondary-links ul li.additional-jb-link
{
    width: auto;
    max-width: 335px;
    margin-left: 10px;
    margin-top: 5px;
}

#jb-primary-links .jb-secondary-links .plan-a-trip-submenu li.additional-jb-link 
{
    width: 170px;
}

.trueblue-sprite-login 
{
    vertical-align: top;
}



/* h1 on marketing pages */
.page-title h1 {
    color: #004990;
    font-size: 1.43em;
}

/*The blue jetblue button */
.primary-jb-btn {
	background-color: #306faa;
    display: inline-block;
    color: white;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 3px;
    text-decoration: none;
    font-family: din-web-jetblue, Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    border: 1px solid transparent; 
}
.primary-jb-btn:hover{
	text-decoration: none;
}
.primary-jb-btn:hover,
.primary-jb-btn:focus {
	background-color: #004990;
	color: white;
}
.primary-jb-btn:focus {
	outline: #4D90CD solid 2px;
	border-radius: 0;
}
/* Orange button */
.secondary-jb-btn {
	background-color: #f90;
    display: inline-block;
    color: white;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 3px;
    text-decoration: none;
    font-family: din-web-jetblue, Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    border: 1px solid transparent; 
}
.secondary-jb-btn:hover{
	text-decoration: none;
}
.secondary-jb-btn:hover,
.secondary-jb-btn:focus {
	background-color: #ff7300;
	color: white;
}
.secondary-jb-btn:focus {
	outline: #4D90CD solid 2px;
	border-radius: 0;
}

.breadcr{
	font-size: 1.43em;
	font-family: din-web-jetblue, Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.section-focused:focus {
	outline: 2px solid #4D90CD;
}

.close-btn:focus {
	outline: 2px solid #7FB6E8;
}

::-webkit-input-placeholder /* webkit browsers*/ {
   color: #707070;   
   opacity: 1 !important;
}

:-moz-placeholder { /* Firefox 18- */
   color: #707070;
   opacity: 1 !important;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #707070;
   opacity: 1 !important;
}

:-ms-input-placeholder { 
   color: #707070 !important;
}

.tb-email-password-wrapper input::-moz-placeholder {
	color: white;
    opacity: 1 !important;
}
::-ms-clear { width : 0; height: 0; } ::-ms-reveal { width : 0; height: 0; }	
