/*=== 
Author: MC
Date/version: 2015-03-19-v3.0.5 search @v=
Purpose: manages user centered styles for heros;
==================================================*/

.promo-carousel {
	  background: url(/flightstatus/img/ajax-loader.gif?v=1.0.1) center center no-repeat ;
	  
}


/* BANNER  blue is the default used */
.gwlh-banner-bg-top-blue {
  background-color: #0076be;
  border: 1px solid #0076be;
  color:#FFFFFF;
  text-decoration:none;
  position:relative;
  float:left;
}

.gwlh-banner-bg-top-green { 
  background-color: #29a329;
  border: 1px solid #29a329;
  color:#FFFFFF;
  text-decoration:none;
  position:relative;
  float:left;
}


.gwlh-banner-text-top  {
	color: #FFFFFF;
	/*padding: 9px;*/
	padding: 8px 14px 7px 9px;
	font-family: din-web-jetblue, Arial, Helvetica, sans-serif;
	font-size: 17px;
	font-weight: 500;
	text-align: center;	
	/* @c 2015-0226 changed to medium font */
	margin: 2px 5px 0 10px;
	/*margin-left: 10px;
	margin-right: 5px;*/
}

.gwlh-clickTag {
	cursor:pointer;
}


.gwlh-headline-container {
	 
	/*v=3.0.4 padding-top: 7px;*/
	padding-left: 20px;
	margin: 0;
		 
}

.gwlh-headline {
	color: #FFFFFF;
	font-family: din-web-jetblue, Arial, Helvetica, sans-serif;
	font-size: 45px;
	font-weight: 700;
}

.gwlh-subhead-container {
	padding-top: 8px; 
	padding-left: 20px;
	
}

.gwlh-subhead {
	color: #FFFFFF;
	font-family: din-web-jetblue, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.4;
	/*border: 1px solid #00ff00;*/

}
 
 
 
.gwlh-button-bg {
	position: relative;
	float:left;
	left: 20px;
	background-color: #FF9900;
	display: block;
	border: 1px solid #FF9900;
    border-radius: 3px;
    /* @c 2015-0226 */
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	padding: 0 14px;

}

.gwlh-button-label  {
	color: #FFFFFF;
	padding: 8px;
	font-family: din-web-jetblue, Arial, Helvetica, sans-serif;
	text-align: center;	
	/* @c 2015-0226 */
	font-size: 13px;
	font-weight: 500;

}

.gwlh-footer {
	 padding-left: 12px;
	 margin-left: 9px;
	 position: absolute;
  	 bottom: 55px;
}

.gwlh-footer-IE8Only {
	position:relative; 
	top: -65px;
}

.gwlh-footer-text  {
	color: #FFFFFF;
	font-family: din-web-jetblue, Arial, Helvetica, sans-serif;
	font-size: .8em;
	font-weight: 200;
	  

}

.btn_restrictionsApply {
	cursor:pointer; 
	text-decoration:underline;
	color: #FFFFFF;
	font-family: din-web-jetblue, Arial, Helvetica, sans-serif;
	font-size: .8em;
	font-weight: 200;
} 

/* right-side tout start home page heros */
.gwlh-right-side-tout {
	position: relative;
	float: right;
	/* @c 2015-0226 */
	right: 20px;
	padding-top: 15px;
	
}

.gwlh-right-side-tout-line  {
	color: #FFFFFF;
	font-family: din-web-jetblue, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: 500;
	margin: 0 0 0 15px;
	padding-bottom:10px;
	display:block;
	text-align: center;
	/* line-ht @v= 3.0.4*/
	line-height: 1.2;

}


.gwlh-right-side-tout-large-text  {
	color: #FFFFFF;
	font-family: din-web-jetblue, Arial, Helvetica, sans-serif;
	font-size: 120px;
	font-weight: 450;
	text-align: center;
	letter-spacing: -5.3px;

	 
}

.gwlh-right-side-tout-large-sup  {
	color: #FFFFFF;
	font-family: din-web-jetblue, Arial, Helvetica, sans-serif;
	font-size: 55px;
	font-weight: 500;
	vertical-align: top;
	top: 7px;
	/*left added @v= 3.0.4*/
	left: 10px;
	position: relative;

}

.gwlh-right-side-tout-subText  {
	color: #FFFFFF;
	font-family: din-web-jetblue, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: 500;
	margin: 0 0 0 15px;
	padding:0;
	display:block;
	text-align: center;
	/* @c 2015-0226 */
	position: relative;
	top: -15px;

}
/* right-side tout end */

/* GW LANDING PAGE OVERRIDES */

.gwlh-landing .gwlh-headline-container {
	padding-top: 2px;	 
}


.gwlh-landing .gwlh-headline 
{

color: #FFFFFF;
    font-size: 60px;
	font-weight: 700;

}

.gwlh-landing .gwlh-subhead {
	color: #FFFFFF;
	/*font-size: 21px;*/
}
/* right-side tout start */
.gwlh-landing .gwlh-right-side-tout {
	 
	position: relative;
	float: right;
	top: 13px;
	right: 12px;
	text-align: center;
}

.gwlh-landing .gwlh-right-side-tout-line  {
	color: #FFFFFF;
	font-family: din-web-jetblue, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: -.3px;
}


.gwlh-landing  .gwlh-right-side-tout-large-text  {
	color: #FFFFFF;
	font-size: 140px;
	font-weight: 500;
}

.gwlh-landing .gwlh-right-side-tout-large-sup  {
	color: #FFFFFF;
	 
 
	font-size: 65px;
	font-weight: 500;
	/*letter-spacing: -.3px;*/
	
}

.gwlh-landing .gwlh-right-side-tout-subText  {
	color: #FFFFFF;
	font-size: 16px;
	font-weight: 500;
	/*letter-spacing: 0px;*/	 
}
/* right-side tout end */


.gwlh-landing .gwlh-footer-text  {
	font-size: .9em;
}

 
/* GW LANDING PAGE OVERRIDES end */

/* UTILITY */
.gwlh-break-clear-both 
{
    clear:both;
}
   