html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a 
{ 
	color: inherit; 
} 
a:link 
{
    text-decoration: none;
}
a:visited 
{
    text-decoration: none;
}
/*Fim do Reset*/
@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Roboto:100);
@font-face 
{
    font-family: 'Glober';
    src: url("fonts/Glober Thin Free.otf")
}
@font-face
{
	font-family:'Anders';
	src:url(fonts/Anders.ttf);
}
@font-face
{
	font-family:'Le Super';
	src:url(fonts/Le_Super.ttf);
}
body
{
	-moz-box-sizing:border-box;
   	-webkit-box-sizing:border-box;
   	box-sizing: border-box;
	font-family: 'Lato',Arial, sans-serif;
	margin:0;
	padding:0;
	min-height:100%;
}
nav
{
	width:100%;
	height:80px;
	margin:0 auto;
	text-align:center;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
	z-index:10;
	position:fixed;
	top:0px;
	left:0px;
	overflow:hidden;

	background: rgba(226,226,226,1);
    background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 0%, rgba(254,254,254,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(226,226,226,1)), color-stop(0%, rgba(219,219,219,1)), color-stop(100%, rgba(254,254,254,1)));
    background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 0%, rgba(254,254,254,1) 100%);
    background: -o-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 0%, rgba(254,254,254,1) 100%);
    background: -ms-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 0%, rgba(254,254,254,1) 100%);
    background: linear-gradient(to bottom, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 0%, rgba(254,254,254,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=0 );
}
nav h1
{
	font-size:2em;
	font-family:'Anders';
	line-height:80px;
	background-color: transparent;
}
nav ul
{
	width:auto;
	margin:0 2em;
	position:absolute;
	top:0;
	right:0;
}
nav ul li
{
	display:inline-block;
	text-align:center;
	background-color:transparent;
	height:80px;
	width:7em;
	margin:0;
	line-height:4.5em;
	font-size: 1.1em;
}
nav ul li a
{
	display: inline-block;
	line-height: 4.5em;
}
.login:hover
{
	background-color:#f5756c;
	color:#fff;
}
.signup:hover
{
	background-color:#6585ED;
	color:#fff;
}
header
{
	width:100%;
	height:600px;
	background-image:url(images/header_background2.jpg);
	background-size:cover;
	text-align:center;
	padding-top:250px;
	margin-top:80px;
	border-bottom: 1px solid #e2e6eb;
}
header h1
{
	font-family: 'Glober', sans-serif;
	font-size:4em;
	text-transform: uppercase;
	color:#fff;
	margin:30px 0;
}
header p
{
	font-size:1.2em;
	color:#fff;
	font-family: 'Glober', sans-serif;
	text-shadow: 1px 1px 1px #000, 3px 3px 5px #191625;
}
#conteiner
{
	width:100%
	height:auto;
	min-height:100%;
	position:relative;
}
#steps_wrapper
{
	height:600px;
	width:100%;
	background-color:#2C3E80;
	border-bottom: 1px solid #171C2B;
	text-align: center;
	vertical-align: middle;
}
#steps_wrapper p
{
	color:white;
}
#steps_wrapper h2
{
	color:#fff;
	font-size: 1.5em;
	margin:20px;
}
#stepOne
{
	text-align:center;
	height:300px;
	vertical-align: middle;
	padding:120px 0;
	display:inline-block;
	width:30%;
	margin:0 auto;

}
#stepTwo
{
	text-align:center;
	height:300px;
	vertical-align: middle;
	padding:120px 0;
	display:inline-block;
	width:30%;
	margin:0 auto;
}
#stepThree
{
	text-align:center;
	height:300px;
	vertical-align: middle;
	padding:120px 0;
	display:inline-block;
	width:30%;
	margin:0 auto;
}
#features
{
	width:100%;
	height:auto;
	min-height: 500px;
	background: linear-gradient(#ebeff8,#f5f6f8),#f5f6f8;
	border-bottom: 1px solid #e2e6eb;
}
#features ul
{
	vertical-align: middle;
	text-align: center;
}
#features ul li
{
	background-color: transparent;
	display:inline-block;
	vertical-align: middle;
	text-align:center;
	height:200px;
	width:250px;
	margin:50px 30px;
	padding:20px;
	border-radius:20px;
}
#features ul li h3
{
	/*color:43464c;*/
	color:#f5756c;
	line-height: 2em;
	font-weight: bold;
}


footer
{
	font-family: 'Roboto', sans-serif;
	font-size:0.9em;
	width:100%;
	height:230px;
	text-align: left;

	background: rgba(226,226,226,1);
    background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 0%, rgba(254,254,254,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(226,226,226,1)), color-stop(0%, rgba(219,219,219,1)), color-stop(100%, rgba(254,254,254,1)));
    background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 0%, rgba(254,254,254,1) 100%);
    background: -o-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 0%, rgba(254,254,254,1) 100%);
    background: -ms-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 0%, rgba(254,254,254,1) 100%);
    background: linear-gradient(to bottom, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 0%, rgba(254,254,254,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=0 );
}
footer h3
{
	color:#f5756c;
	margin: 0 50px;
	padding-top:30px;
	font-weight: bold;
}
footer table
{
	color:#000;
	margin: 10px 50px;
	line-height: 1.3em;
}
footer hr
{
	margin-top: 30px;
}
.footer_bar
{
	font-size:0.8em;
	color:#000;
	position:absolute;
	left:50%;
	margin:0 auto;
	padding:0;
}
footer hr
{	
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:-moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}
#pricing
{
	background-color: #fff;
	width:100%;
	height: 700px;
	color:#a5a9af;
	text-align: center;
	border-bottom: 1px solid #C0C0C0;

}
#pricing h1
{
	font-size: 2.5em;
	color:#43464c;
	margin:100px 0 0 0;
}
#pricing p
{
	margin:50px 0;
}
#inner_pricing
{	height: 100%;
	width:70%;
	margin:0 auto;
	text-align: center;
/*	position: relative;
	top: 20%;*/

}
.plan
{
	display: inline-block;
	vertical-align: middle;
	padding: 40px 40px 30px 40px;
	width: 200px;
	margin: 10px;
	font-weight: 200;
	font-size: 14px;
	color: #a5a9af;
	border: 1px solid rgba(0,0,0,0.09);
	background-color: #fff;
}
.plan h4
{
	font-size: 2em;
	color:#43464c;
	margin-bottom: 20px;
}
.plan span
{
	line-height: 80px;
	color: #f5756c;
	font-size: 100px;
	font-weight: 100;
}
.plan p
{
	line-height: 1.6em;
	margin-top: 10px;
}
#closure
{
	width:100%;
	height:700px;
	opacity:0.7;
	background-image: url(images/closure.jpg);
	background-size:cover;
}
#bom_negocio
{
	width:80%;
	margin:0 auto;
	height:100%;
	background-color:#fff;
	color:#71767f;
	position:relative;
}
#bom_negocio .left
{
	display:inline-block;
	width:60%;
	height:100%;
	margin:0 auto;
	position: absolute;
  	top: 50%;
  	transform: translateY(-50%);
}
#bom_negocio .right
{
	display:inline-block;
	width:40%;
	height:100%;
	margin:0 auto;
	position: absolute;
  	top: 50%;
  	left: 100%;
  	transform: translate(-100%, -50%);
  	text-align: center;
}
#bom_negocio h1
{
	font-size:2em;
	text-transform:uppercase;
	padding:2em 2em;
}
#bom_negocio p
{
	padding-left:4em;	
}
#bom_negocio img
{
	width:300px;
	height:300px;
	margin:0 auto;
	padding:2em 0;
}
#bom_negocio a
{
	display: inline-block;
	vertical-align: middle;
	padding: 19px 30px 17px 30px;
	color: #fff;
	background-color: #f5756c;
	margin-left:4em;
	margin-top:2.5em;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
#bom_negocio a:hover
{
	background-color:#6585ED;
}
#bomnegocio
{
	width:100%;
	height:650px;
	min-height:100%;
	background-image:url(images/blue-neon-cityscape.jpg);
	background-size: cover;
	padding-top: 100px;
}