/* Tags Stylesheet */
/**
  Mixin for rgba backgrounds
*/
/**
  Mixin for rgba border-colors
*/
/**
*  Mixing for ContentImages
*/
/* Primary Color */
/* Secondary Color */
/* Error Red */
/* Default Text Color */
/* Dark gray Font Color e.g Service Nav on Top*/
/* Search text Gray */
/* Color 5 for the Psychotest */
/* Gray */
/* another Gray */
/* lightGray used in default body Background */
/* lightGray2 */
/* white */
/* black */
/* Main Color */
/* blank 1x1 transparent image */
/* Dark Green */
/* Default Font Sizes */
.related-tags li:after, .related-tags a, .tagList.horizontal li a, .tagList.vertical li a, .tag-content figure figcaption, .tag-profile p, .tag-profile .more-biography, .tag-biography p {
  font-size: 14px;
  line-height: 18px; }

.tag-content figure figcaption .copyright {
  font-size: 12px;
  line-height: 16px; }

.channelHeadline {
  font-size: 46px;
  line-height: 54px; }

.tag-content h3, .tag-content h2 {
  font-size: 18px;
  line-height: 22px; }

/* Default Serif Font */
/* Italic Font */
.tag-content figure figcaption .copyright, .tag-content h3, .tag-content h2, .tag-biography p a.google-plus {
  font-style: italic; }

/* Italic Font */
.tag-profile p.label, .tag-biography p a {
  font-weight: bold; }

/* Italic Font */
.tag-profile p, .tag-biography p {
  font-style: normal; }

/* Primary Text Color */
.related-tags a:hover {
  color: #e78316; }

/* Primary Border Color */
/* Primary Border Color */
.tagList.horizontal li a:hover, .tagList.horizontal li a.active {
  background-color: #e78316; }

/* Secondary Text Color */
/* Secondary Text Color */
/* Secondary Border Color */
/* All sprites Default Values */
/* Primary color Sprite used */
/* secondary color Sprite used */
/* Social Icons Sprite */
/* 4 in a line teaser kicker bg sprite */
/* right shadow on top of element*/
/* right shadow on bottom of element*/
.channelHeadline {
  color: #000000;
  background: none;
  text-transform: none;
  padding: 0 0 0 0;
  left: 0; }

.related-tags {
  font-size: 0;
  line-height: 0;
  text-align: center; }
  .related-tags li {
    display: inline-block;
    vertical-align: top;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline; }
    .related-tags li:after {
      content: ', ';
      color: #000000;
      margin-right: 3px; }
    .related-tags li:last-child:after {
      content: '';
      margin-right: 0; }
  .related-tags a {
    color: #000000; }

.tagList {
  font-size: 0;
  line-height: 0; }
  .tagList.horizontal {
    font-size: 0;
    line-height: 0;
    margin-bottom: 30px; }
    .tagList.horizontal li {
      display: inline-block;
      vertical-align: top;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      margin-left: 2px; }
      .tagList.horizontal li:first-child {
        margin-left: 0; }
      .tagList.horizontal li a {
        padding: 3px 5px; }
        .tagList.horizontal li a:hover, .tagList.horizontal li a.active {
          color: #ffffff; }
  .tagList.vertical {
    display: inline-block;
    vertical-align: top;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    width: 50%; }
    .tagList.vertical li {
      vertical-align: top;
      margin-left: 2px; }
      .tagList.vertical li:first-child {
        margin-left: 0; }
      .tagList.vertical li a {
        padding: 3px 0;
        display: block; }

/* Tag content section */
.tag-content figure {
  width: 250px; }
  .tag-content figure.float-left {
    margin: 0 20px 15px 0; }
  .tag-content figure.float-right {
    margin: 0 0 15px 20px; }
  .tag-content figure.full {
    text-align: center; }
  .tag-content figure .image {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline; }
    .tag-content figure .image img {
      position: relative;
      left: -5px;
      background: #ffffff;
      padding: 5px; }
  .tag-content figure figcaption {
    color: #000000;
    margin: 20px 0 20px 0;
    padding: 0 0 15px 0;
    border-bottom: dotted 1px #000000;
    text-align: left; }
    .tag-content figure figcaption .copyright {
      color: #747474;
      text-align: right;
      margin-top: 10px; }
  .tag-content figure.no-border figcaption {
    border-bottom: none; }
.tag-content h3, .tag-content h2 {
  margin-bottom: 15px; }

/* Tag Profile for person-tags */
.tag-profile {
  position: relative;
  /* Default text styles */ }
  .tag-profile .text-box {
    width: 240px;
    display: inline-block;
    vertical-align: top;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline; }
  .tag-profile h2, .tag-profile h3 {
    text-align: center; }
  .tag-profile p {
    text-align: center;
    line-height: 22px;
    padding-bottom: 15px; }
    .tag-profile p.label {
      padding-bottom: 5px; }
      .tag-profile p.label:before {
        content: "";
        position: relative;
        display: block;
        width: 30px;
        height: 1px;
        margin: 0 auto 10px;
        background-color: #898989; }
      .tag-profile p.label:first-child:before {
        display: none; }
  .tag-profile .related-tags {
    text-align: center; }
  .tag-profile .more-biography {
    text-transform: uppercase;
    position: absolute;
    bottom: 35px;
    right: 0px; }

.tag-biography {
  margin-bottom: 40px; }
  .tag-biography h2, .tag-biography h3 {
    text-align: center; }
  .tag-biography th, .tag-biography td {
    border-right: 10px solid #ffffff;
    border-bottom: 10px solid #ffffff;
    border-left-width: 0;
    border-top-width: 0; }
    .tag-biography th:last-child, .tag-biography td:last-child {
      border-right-width: 0; }
    .tag-biography th.last, .tag-biography td.last {
      border-right-width: 0; }
  .tag-biography tbody tr:last-child th, .tag-biography tbody tr:last-child td, .tag-biography tfoot tr:last-child th, .tag-biography tfoot tr:last-child td {
    border-bottom-width: 0; }
  .tag-biography tbody tr.last th, .tag-biography tbody tr.last td, .tag-biography tfoot tr.last th, .tag-biography tfoot tr.last td {
    border-bottom-width: 0; }
  .tag-biography p {
    line-height: 22px;
    padding-bottom: 15px; }
    .tag-biography p a {
      text-decoration: underline; }
      .tag-biography p a.mail {
        font-weight: normal;
        text-decoration: underline; }
      .tag-biography p a.google-plus {
        font-weight: normal;
        text-decoration: none; }

/* END Tags Stylesheet */
