

@media only all {
	
.about { 
margin-top: 0;
margin-bottom: -20px;}

.datebox { 
top: -64px;}
	
#navigation_scroll .menu_right noscript div.no_js_categories a { 
display:none;}

#navigation .menu_right noscript div.no_js_categories a { 
display:none; 
top: 1px; 
right: -90px;}

#navigation .menu_right noscript div.no_js_categories a:hover {/* see styles_article */} 

#search_area, 
#navigation_scroll #search_area { 
transition: none;}

#mnt_header_ad .mnt_history {
disply:block;}

img.no_js {
top: 0px;
position: absolute;}

body.headlines .row.site_header {
margin-top: 150px;}

hr.header_hr {
position: relative;
top: 151px;}

body#written hr.header_hr, 
body#knowledge_center hr.header_hr, 
body#press_release hr.header_hr {
top: 148px;}

#mnt_header_ad {
top: 168px;}

body#written #mnt_header_ad, 
body#knowledge_center #mnt_header_ad, 
body#press_release #mnt_header_ad {
top: -303px;}

div#rating_bottom noscript {
display: table-cell;
vertical-align: middle;
height: 90px;
position: relative;
right: -90px;}

.list-wrap noscript {
font-size: 12px;
font-weight: bold;
text-align: center;
display: block;
width: 100%;}

body.headlines .headlines_fresh {
margin-top: 28px;}

}


@media only all and (max-width:490px) {

#navigation_scroll {
position: relative;
padding: 0;}

#navigation_scroll .menu_right noscript div.no_js_categories a {
top: 2px;}

#navigation_scroll .menu_right {
margin: 0 7px 0 0;}

.row.site_header { margin-top: 15px;}

.about { margin-top: 15px; margin-bottom: -25px;}

}


@media only all and (max-width:767px) {
	
#navigation_scroll .menu_right div#search_toggle, 
#navigation .menu_right div#search_toggle {
right: 30px; margin-right: 20px;}

#navigation .menu_right noscript div.no_js_categories a,
#navigation_scroll .menu_right noscript div.no_js_categories a { display:block;}

#navigation_scroll .menu_right noscript div.no_js_categories a {} /* see styles_article */

#navigation_scroll.container { padding: 0; margin: 0;}

#navigation .menu_right select { display: none;}

.no_js_category { float: right; display: block; position: relative; top: 6px; right: 50px;}
.no_js_category a { color: #fff;}

}


@media only all and (min-width:1000px) {

body#written #mnt_header_ad,
body#knowledge_center #mnt_header_ad, 
body#press_release #mnt_header_ad {
top: -261px;}

}
