@charset "utf-8";
/* CSS Document */

@charset "utf-8";
/* CSS Document */

* {
	margin:0;
	padding:0;
}
img {
	vertical-align:top;
	border:none;
}
h1, h2, h3, h4 {
	line-height:1;
}
ul{
	list-style:none;
	}
body {
	font-size:12px;
	line-height:1.3;
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	min-width:900px;
	background:#000000 url(/common/images/ismedia/about/bg.jpg) left top repeat-x;
	text-align:center;
	color:#000000;
}
* html body {
	font-size:75%;
	font-family:"ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
*:first-child+html body {
	font-size:75%;
	font-family:"メイリオ", Meiryo;
}
head~/**/body {
 font-size:75%;
}
#warpper {
	width:900px;
	margin:0 auto;
	text-align:center;
	text-align:left;
	overflow-x:hidden;
}
#header {
	background:url(/common/images/ismedia/about/head_bg.jpg) left top no-repeat;
	padding: 20px 0px 58px 0;
	overflow:hidden;
	_zoom:1;
	line-height:1;
}
#header h1 {
	float:left;
	margin-right:45px;
}
#header p {
	padding-top: 5px;
}
#contents {
	position: relative;
	background:#ffffff url(/common/images/ismedia/about/bg_cotents.gif) left bottom no-repeat;
	padding:0 32px 6px;
	margin:0 auto 21px;
}
#contents ul#logo_cloud {
	width: 836px;
	margin-bottom: 40px;
}
#logo_cloud li {
	float: left;
	margin: 0 10px 10px 0;
}
#logo_cloud li.noLeft {
	margin-right: 0;
}
#contents h2 {
	color:#ffffff;
	font-weight:bold;
	font-size:116.7%;
	background: url(/common/images/ismedia/about/bar.jpg) left top no-repeat;
	margin-bottom:12px;
}
#contents h2 span {
	padding: 9px 0 9px 31px;
	display: block;
}
#tabList li {
	float: left;
	margin: 0 2px 0 0;
	text-indent: -9999px;
}
#tabList li a {
	display: block;
	height: 30px;
}
#tabList li#tab1 a {
	background: url(/common/images/ismedia/about/tab_a_off.jpg) no-repeat left top;
	width: 150px;
}
#tabList li#tab1.selected a {
	background: url(/common/images/ismedia/about/tab_a_on.jpg) no-repeat left top;
	width: 150px;
}
#tabList li#tab2 a {
	background: url(/common/images/ismedia/about/tab_b_off.jpg) no-repeat left top;
	width: 160px;
}
#tabList li#tab2.selected a {
	background: url(/common/images/ismedia/about/tab_b_on.jpg) no-repeat left top;
	width: 160px;
}
#tabList li#tab3 a {
	background: url(/common/images/ismedia/about/tab_c_off.jpg) no-repeat left top;
	width: 152px;
}
#tabList li#tab3.selected a {
	background: url(/common/images/ismedia/about/tab_c_on.jpg) no-repeat left top;
	width: 152px;
}


#tab_buisiness {
	background: url(/common/images/ismedia/about/tab_a_bg.jpg) no-repeat left top;
	padding-top: 45px;
}
#tab_life {
	background: url(/common/images/ismedia/about/tab_b_bg.jpg) no-repeat left top;
	padding-top: 45px;
}
#tab_lady {
	background: url(/common/images/ismedia/about/tab_c_bg.jpg) no-repeat left top;
	padding-top: 45px;
}
#contents p.txt_r {
	/*position: absolute;*/
	text-align:right;
	top: 280px;
	right: 38px;
}
ul.ul_logo {
	overflow:hidden;
	_zoom:1;
	margin:0 1px 4px;
	width:834px;
}
ul.ul_logo li {
	padding-bottom:26px;
}
ul.ul_logo li .txt_m{
	padding-left: 5px;
	font-size: 97%;
}
ul.ul_logo li p.logoname{
	margin-bottom:5px;
	display:block;
	vertical-align: text-top;
	height: 20px;
	background:url(/common/images/ismedia/about/icon_arrow.gif) left top no-repeat;
}
ul.ul_logo li p.logoname a {
	color:#000;
	text-decoration:none;
	padding-left:18px;
	font-size:116.7%;
	font-weight:bold;
	min-height:20px;
	height:auto!important;
	height:20px;
}
ul.ul_logo li p.logoname img {
	margin-left: 5px;
}
ul.ul_logo li p.logoname a:hover{
	text-decoration:underline!important;
}
ul.ul_logo li ul {
	background:#F5F5F5 url(/common/images/ismedia/about/bg_article.jpg) left top repeat-x;
	padding:19px 10px 0px 15px;
	overflow:hidden;
	_zoom:1;

	}
* html body ul.ul_logo li ul{
	width:auto;
	}	
ul.ul_logo li ul li{
	background:url(/common/images/ismedia/about/bar.gif) left bottom repeat-x;
	float:none;
	display:block;
	width:auto;
	margin:0 0 8px 0;
	padding-bottom:9px;
	line-height:1.4;
	}
ul.ul_logo li ul li.end{
	background:none;
	margin-bottom:0;
	padding-bottom:9px;
	}
ul.ul_logo li ul li a{
	color:#000;
	text-decoration:none;
	}
ul.ul_logo li ul li a span{
	color:#DF1300;
	}
ul.ul_logo li ul li a:hover{
	text-decoration:underline;
	}
ul.ul_logo li ul li a:hover span{
	text-decoration:underline;
	}
.pg_about {
	background:url(/common/images/ismedia/about/bg_about.gif) left top no-repeat;
	width:900px;
	margin:0 auto 20px;
	padding:34px 0 0;
	color:#C0C0C0;
}
.pg_about p, .pg_about div {
	display:inline_block;
	_display:inline;
	_zoom:1;
}
.pg_about p {
	float:right;
	margin-right:28px;
}
.pg_about div {
	float:left;
	width:375px;
	margin:0 0 0 36px;
}
.pg_about div h4 {
	margin-bottom:20px;
}
.pg_about div p {
	float:none;
	padding:0;
	line-height:1.7;
	margin:0 0 25px;
}
.pg_about span {
	display:block;
	clear:both;
	width:900px;
	height:36px;
	background:url(/common/images/ismedia/about/bottom_about.gif) left bottom no-repeat;
}
#footer p {
	text-align:center;
	color:#C0C0C0;
	font-size:91.7%;
	padding-bottom:30px;
}
.mb0 {
	margin-bottom:0!important;
}
.mr0 {
	margin-right:0!important;
}


.clearfix:after {
	content: ".";
	height: 0;
	display: block;
	visibility: hidden;
	clear: both;
}
.clearfix {
	overflow: hidden;
}
/* hide from IE^mac \*/
*html .clearfix {
	height: 1%;
	overflow: visible;
}
/* End hide from IE-mac */




