/*------------------------------------*\
   Flash Message UI
\*------------------------------------*/

.flash-message {
    position: absolute;
    top: 80px;
    left: 50%;
    margin-left: -495px;
    width: 970px;
    background: rgba(238, 69, 153, 1);
    z-index: 2;
    color: #fff;
    padding: 10px;
    display: block;
}
.flash-message a.close {
    position: absolute;
    right: 4px;
    top: 4px;
}

.flash-message .code {
    font-family: Consolas, monospace;
    font-size: 11px;
}