/*------------------------------------*\
   $FOOTER
\*------------------------------------*/

a {
    text-decoration: none;
    color: #000;
}

.social-links {
    background-color: #2F2F2F;
    padding: 20px 0px;
}

.social-links > nav {
    margin: 0px auto;
}

.social-links > nav > ul {
    float: right;
}

.social-links > nav > ul > li {
    padding-left: 10px;
    float: left;
}

footer.footer {
    font: 12px 'open_sansregular';
    background-color: #CCC;
    color: #000;
    text-align: center;
}

footer.footer .wrapper {
    margin: 0px auto;
    padding: 30px 0px 20px 0px;
}

footer.footer .wrapper .left-side {
    float: left;
    text-align: left;
    width: 65%;
}

footer.footer p  {
    padding: 10px 0px;
}

footer.footer a:hover {
    text-decoration: underline;
    color: #3F3B3B;
}

footer.footer > section {
    padding: 10px 0 0 0;
}

footer.footer .wrapper .right-side {
    float: right;
    margin-top: 96px;
    text-align: left;
    max-width: 35%;
}