/*
Theme Name: Twenty Ten
Theme URI: http://wordpress.org/extend/themes/twentyten
Description: The 2010 theme for WordPress is stylish, customizable, simple, and readable -- make it yours with a custom menu, header image, and background. Twenty Ten supports six widgetized areas (two in the sidebar, four in the footer) and featured images (thumbnails for gallery posts and custom header images for posts and pages). It includes stylesheets for print and the admin Visual Editor, special styles for posts in the "Asides" and "Gallery" categories, and has an optional one-column page template that removes the sidebar.
Author: the WordPress team
Author URI: http://wordpress.org/
Version: 1.5
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: black, blue, white, two-columns, fixed-width, custom-header, custom-background, threaded-comments, sticky-post, translation-ready, microformats, rtl-language-support, editor-style, custom-menu, flexible-header
Text Domain: twentyten
*/


/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: top;
	font-size: 13px;
	color: #fff;
}

* {
	word-break: break-all;
}
body {
	line-height: 1;
}
h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-weight: normal;
}
ol, ul {
	list-style: none;
	list-style-type: none;
}
blockquote {
	quotes: none;
}
blockquote:before, blockquote:after {
	content: '';
	content: none;
}
del {
	text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a img {
	border: none;
}

/* =Layout
-------------------------------------------------------------- */

/*
LAYOUT: Two columns
DESCRIPTION: Two-column fixed layout with one sidebar right of content
*/

#container {
	float: right;
	margin: 0 0 0px -350px;
	width: 100%;
	border-top: 10px solid #2a2a2a;
}
#content {
	margin: 0 0 0 350px;
	padding: 10px;
}
#primary,
#secondary {
	float: left;
	overflow: hidden;
	width: 300px;
	padding: 10px 20px;
	margin-top: 10px;
	line-height: 1.8em;
	border-right: 10px solid #2a2a2a;
}
#secondary {
	clear: right;
}
#footer {
	clear: both;
	width: 100%;
}

/*
LAYOUT: One column, no sidebar
DESCRIPTION: One centered column with no sidebar
*/

.one-column #content {
	margin: 0 auto;
	width: 640px;
}

/*
LAYOUT: Full width, no sidebar
DESCRIPTION: Full width content with no sidebar; used for attachment pages
*/

.single-attachment #content {
	margin: 0 auto;
	width: 900px;
}


/* =Fonts
-------------------------------------------------------------- */
body,
input,
textarea,
.page-title span,
.pingback a.url {
	font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}
h3#comments-title,
h3#reply-title,
#access .menu,
#access div.menu ul,
#cancel-comment-reply-link,
.form-allowed-tags,
#site-info,
#site-title,
#wp-calendar,
.comment-meta,
.comment-body tr th,
.comment-body thead th,
.entry-content label,
.entry-content tr th,
.entry-content thead th,
.entry-meta,
.entry-title,
.entry-utility,
#respond label,
.navigation,
.page-title,
.pingback p,
.reply,
.widget-title,
.wp-caption-text {
	font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}
input[type="submit"] {
	font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}
pre {
	font-family: "Courier 10 Pitch", Courier, monospace;
}
code {
	font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}


/* =Structure
-------------------------------------------------------------- */

/* The main theme structure */
#access .menu-header,
div.menu,
#colophon,
#branding,
#main,
#wrapper {
	margin: 0 auto;
	width: 1020px;
}
#wrapper {
	background: #2a2a2a
}

/* Structure the footer area */
#footer-widget-area {
	overflow: hidden;
}
#footer-widget-area .widget-area {
	float: left;
	margin-right: 20px;
	width: 220px;
}
#footer-widget-area #fourth {
	margin-right: 0;
}
#site-info {
	float: left;
	font-size: 14px;
	font-weight: bold;
	width: 700px;
}
#site-generator {
	float: right;
	width: 220px;
}

/* =Global Elements
-------------------------------------------------------------- */

/* Main global 'theme' and typographic styles */
body {
	background: #2a2a2a;
}
body,
input,
textarea {
	color: #666;
	font-size: 12px;
	line-height: 18px;
}
hr {
	background-color: #e7e7e7;
	border: 0;
	clear: both;
	height: 1px;
	margin-bottom: 18px;
}

/* Text elements */
p {
	margin-bottom: 5px;
}
ul {
	list-style: none;
}
ol {
	list-style: decimal;
}
ol ol {
	list-style: upper-alpha;
}
ol ol ol {
	list-style: lower-roman;
}
ol ol ol ol {
	list-style: lower-alpha;
}
ul ul,
ol ol,
ul ol,
ol ul {
	margin-bottom: 0;
}
dl {
	margin: 0;
}
dt {
	font-weight: bold;
}
dd {
	margin-bottom: 18px;
}
strong {
	font-weight: bold;
}
cite,
em,
i {
	font-style: italic;
}
big {
	font-size: 131.25%;
}
ins {
	background: #ffc;
	text-decoration: none;
}
blockquote {
	font-style: italic;
	padding: 0 3em;
}
blockquote cite,
blockquote em,
blockquote i {
	font-style: normal;
}
pre {
	background: #f7f7f7;
	color: #222;
	line-height: 18px;
	margin-bottom: 18px;
	overflow: auto;
	padding: 1.5em;
}
abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
sup,
sub {
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
small {
	font-size: smaller;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="number"],
textarea {
	background: #f9f9f9;
	border: 1px solid #ccc;
	box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
/*	padding: 2px; */
}
a:link {
	color: #ffa500;
	text-decoration: none;
}
a:visited {
	color: #ffa500;
	text-decoration: none;
}
a:active,
a:hover {
	color: #a9a9a9;
	text-decoration: none;
}

/* Text meant only for screen readers */
.screen-reader-text {
	position: absolute;
	left: -9000px;
}


/* =Header
-------------------------------------------------------------- */

#header {
}

#masthead {
	position: relative;
}

#header h1 {
	position: absolute;
	top: 20px;
	left: 10px;
}
#site-title {
	float: left;
	font-size: 30px;
	line-height: 36px;
	margin: 0 0 18px 0;
	width: 700px;
}
#site-title a {
	color: #000;
	font-weight: bold;
	text-decoration: none;
}
#site-description {
	clear: right;
	float: right;
	font-style: italic;
	margin: 15px 0 18px 0;
	width: 220px;
}

/* This is the custom header image */
#branding img {
	display: block;
	float: left;
	margin-top: 10px;
}

.top-site-andander {
	padding: 8px 8px 5px 8px;
}

.top-site-andander ul {
	list-style: none;
	list-style-type: none;
}

.top-site-andander ul li {
	float:left;
	width: 245px;
	overflow: hidden;
	height: 213px;
	text-align: left;
	vertical-align: top;
	font-size: 13px;
	font-weight: normal;
	line-height: 24px;
	margin: 3px;
}

.foot-site-andander {
	/* margin-top: 10px; */
	padding-bottom: 3px;
}

.foot-site-andander ul {
	list-style: none;
	list-style-type: none;
	padding: 5px 8px 5px 8px;
}

.foot-site-andander ul li {
	float:left;
	width: 247px;
	text-align: left;
	vertical-align: top;
	font-size: 13px;
	font-weight: normal;
	line-height: 200%;
	margin: 2px;
}
.site-andander ul li img:nth-child(2),
.top-site-andander ul li img,
.foot-site-andander ul li img:nth-child(2) {
	margin: 3px 0px 0px 0px;
}

.top-site-andander ul li img:first-child,
.foot-site-andander ul li img:first-child {
	margin-bottom: 5px;
	margin-top: 0px;
}

.site-andander ul li img:first-child {
	margin-bottom: 8px;
}

.site-andander {
	border-top: 10px solid #2a2a2a;
}

.site-andander ul {
	list-style: none;
	list-style-type: none;
	padding: 12px 10px 5px 10px;
}

.site-andander ul li {
	float:left;
	width: 164px;
	text-align: center;
	vertical-align: top;
	line-height: 200%;
	margin: 1px;
	padding-bottom: 6px;
}

.site-andander ul li a {
	font-size: 15px;
	font-weight: bold;
}

.top-site-andander:after,
.foot-site-andander:after,
.site-andander:after {
	content: "";
	display: block;
	clear: both;
}
.Lowermost-part-andander {
	padding: 8px 8px 5px 8px;
	margin: -11px 433px 0px;
}

.Lowermost-part-andander ul {
	list-style: none;
	list-style-type: none;
}

.Lowermost-part-andander ul li {
	float:left;
	width: 245px;
	overflow: hidden;
	height: 213px;
	text-align: left;
	vertical-align: top;
	font-size: 13px;
	font-weight: normal;
	line-height: 24px;
	margin: 3px;
}

.foot-Lowermost-part-andander {
	/* margin-top: 10px; */
	padding-bottom: 3px;
}

.foot-Lowermost-part-andander ul {
	list-style: none;
	list-style-type: none;
	padding: 5px 8px 5px 8px;
}

.foot-Lowermost-part-andander ul li {
	float:left;
	width: 247px;
	text-align: left;
	vertical-align: top;
	font-size: 13px;
	font-weight: normal;
	line-height: 200%;
	margin: 2px;
}
.Lowermost-part-andander ul li img:nth-child(2),
.Lowermost-part-andander ul li img,
.foot-Lowermost-part-andander ul li img:nth-child(2) {
	margin: 3px 0px 0px 0px;
}

.Lowermost-part-andander ul li img:first-child,
.foot-Lowermost-part-andander ul li img:first-child {
	margin-bottom: 5px;
	margin-top: 0px;
}

.Lowermost-part-andander ul li img:first-child {
	margin-bottom: 8px;
}

.Lowermost-part-andander {
	border-top: 10px solid #2a2a2a;
}

.Lowermost-part-andander ul {
	list-style: none;
	list-style-type: none;
	padding: 12px 10px 5px 10px;
}

.Lowermost-part-andander ul li {
	float:left;
	width: 164px;
	text-align: center;
	vertical-align: top;
	line-height: 200%;
	margin: 1px;
	padding-bottom: 6px;
}

.Lowermost-part-andander ul li a {
	font-size: 15px;
	font-weight: bold;
}

.Lowermost-part-andander:after,
.foot-Lowermost-part-andander:after,
.Lowermost-part-andander:after {
	content: "";
	display: block;
	clear: both;
}

/* =Menu
-------------------------------------------------------------- */

#access {
	background: #000;
	display: block;
	float: left;
	margin: 0 auto;
	width: 940px;
}
#access .menu-header,
div.menu {
	font-size: 13px;
	margin-left: 12px;
	width: 928px;
}
#access .menu-header ul,
div.menu ul {
	list-style: none;
	margin: 0;
}
#access .menu-header li,
div.menu li {
	float: left;
	position: relative;
}
#access a {
	color: #aaa;
	display: block;
	line-height: 38px;
	padding: 0 10px;
	text-decoration: none;
}
#access ul ul {
	box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	display: none;
	position: absolute;
	top: 38px;
	left: 0;
	float: left;
	width: 180px;
	z-index: 99999;
}
#access ul ul li {
	min-width: 180px;
}
#access ul ul ul {
	left: 100%;
	top: 0;
}
#access ul ul a {
	background: #333;
	line-height: 1em;
	padding: 10px;
	width: 160px;
	height: auto;
}
#access li:hover > a,
#access ul ul :hover > a {
	background: #333;
	color: #fff;
}
#access ul li:hover > ul {
	display: block;
}
#access ul li.current_page_item > a,
#access ul li.current_page_ancestor > a,
#access ul li.current-menu-ancestor > a,
#access ul li.current-menu-item > a,
#access ul li.current-menu-parent > a {
	color: #fff;
}
* html #access ul li.current_page_item a,
* html #access ul li.current_page_ancestor a,
* html #access ul li.current-menu-ancestor a,
* html #access ul li.current-menu-item a,
* html #access ul li.current-menu-parent a,
* html #access ul li a:hover {
	color: #fff;
}


/* =Content
-------------------------------------------------------------- */

#main {
	clear: both;
	overflow: hidden;
	padding: 0;
	background: #000;
	border-top: 10px solid #2a2a2a;
}
#content {
	padding: 10px;
	/* min-height: 8900px; */
}
#content,
#content input,
#content textarea {
	color: #333;
	line-height: 24px;
}
#content p,
#content ul,
#content ol,
#content dd,
#content pre,
#content hr {
	margin-bottom: 5px;
}
#content ul ul,
#content ol ol,
#content ul ol,
#content ol ul {
	margin-bottom: 0;
}
#content pre,
#content kbd,
#content tt,
#content var {
	font-size: 15px;
	line-height: 21px;
}
#content code {
	font-size: 13px;
}
#content dt,
#content th {
	color: #fff;
}
#content h1,
#content h2,
#content h3,
#content h4,
#content h5,
#content h6 {
}
#content table {
/*	border: 1px solid #e7e7e7; */
	margin: 0 -1px 5px 0;
	width: 100%;
}
#content tr th,
#content thead th {
	color: #888;
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
	padding: 9px 24px;
}
#content tr td {
}
#content tr.odd td {
	background: #f2f7fc;
}
.hentry {
	margin: 10px 0 35px 0;
}
.home .sticky {
	background: #f2f7fc;
	border-top: 4px solid #000;
	margin-left: -20px;
	margin-right: -20px;
	padding: 18px 20px;
}
.single .hentry {
	margin: 20px 0 20px 0;
}
.page-title {
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	margin: 0 0 0 0;
}
.page-title span {
	color: #fff;
	font-size: 12px;
	font-style: italic;
	font-weight: normal;
}
.page-title a:link,
.page-title a:visited {
	color: #888;
	text-decoration: none;
}
.page-title a:active,
.page-title a:hover {
	color: #ff4b33;
}

h2.entry-title {
	margin-top: 10px;
	margin-bottom: 12px;
	padding-right: 0px;
	padding-bottom: 15px;
	background: url(http://img.po-kaki-to.com/image/title_line.gif) repeat-x left bottom;
}

h2.entry-title a {
	font-size: 22px;
	font-weight: bold;
	line-height: 1.4em;
}

.entry-date {
	font-weight: 900;
	font-size: 15px;
}

dl.article-category {
}

dl.article-category dd {
	display: inline;
	margin: 0;
	padding: 0;
	margin-right: 5px;
	font-size: 1em;
}

.entry-meta a {
	padding: 3px 3px 0;
	background: #099;
	color: #fff;
	font-size: 83%;
	font-weight: bold;
	text-decoration: none;
	margin-top: 10px;
	margin-bottom: -5px;
}

.entry-meta a:hover {
	background: #000;
	color: #fff;
}

.entry-content b,
.entry-content b a {
	font-size: 16px;
	font-weight: bold;
}

.w600 {
	margin-bottom: 10px;
}

.w600 img {
	max-width: 100%;
	height: auto;
}

.entry-more {
	margin:20px 0px;
}

.entry-footer {
	margin: 10px 0 6px 0;
	background: url(http://img.po-kaki-to.com/image/comment_icon.png) no-repeat 0 0;
	padding: 6px 6px 0px 0px;
}

.entry-footer p {
	color: #ffc0cb;
	margin-left: 40px;
	display: inline;
	font-size: 10px;
}

.entry-comment-count {
	float: right;
	text-align: right;
}

.entry-comment-count img {
	margin-right: 2px;
}

.entry-comment-count a {
	font-size: 10px;
	color: #999;
}

.entry-comment-count a:hover {
	color: #999;
}

.entry-utility abbr {
	border: none;
}

.entry-utility abbr:hover {
	border-bottom: 1px dotted #666;
}
.entry-content,
.entry-summary {
	clear: both;
	padding: 8px 0 0 0;
	line-height: 2em;
}
#content .entry-summary p:last-child {
	margin-bottom: 12px;
}
.entry-content fieldset {
	border: 1px solid #e7e7e7;
	margin: 0 0 24px 0;
	padding: 24px;
}
.entry-content fieldset legend {
	background: #fff;
	color: #000;
	font-weight: bold;
	padding: 0 24px;
}
.entry-content input {
	margin: 0 0 24px 0;
}
.entry-content input.file,
.entry-content input.button {
	margin-right: 24px;
}
.entry-content label {
	color: #888;
	font-size: 12px;
}
.entry-content select {
	margin: 0 0 24px 0;
}
.entry-content sup,
.entry-content sub {
	font-size: 10px;
}
.entry-content blockquote.left {
	float: left;
	margin-left: 0;
	margin-right: 24px;
	text-align: right;
	width: 33%;
}
.entry-content blockquote.right {
	float: right;
	margin-left: 24px;
	margin-right: 0;
	text-align: left;
	width: 33%;
}
.page-link {
	clear: both;
	color: #000;
	font-weight: bold;
	line-height: 48px;
	word-spacing: 0.5em;
}
.page-link a:link,
.page-link a:visited {
	background: #f1f1f1;
	color: #333;
	font-weight: normal;
	padding: 0.5em 0.75em;
	text-decoration: none;
}
.home .sticky .page-link a {
	background: #d9e8f7;
}
.page-link a:active,
.page-link a:hover {
	color: #ff4b33;
}
body.page .edit-link {
	clear: both;
	display: block;
}
#entry-author-info {
	background: #f2f7fc;
	border-top: 4px solid #000;
	clear: both;
	font-size: 14px;
	line-height: 20px;
	margin: 24px 0;
	overflow: hidden;
	padding: 18px 20px;
}
#entry-author-info #author-avatar {
	background: #fff;
	border: 1px solid #e7e7e7;
	float: left;
	height: 60px;
	margin: 0 -104px 0 0;
	padding: 11px;
}
#entry-author-info #author-description {
	float: left;
	margin: 0 0 0 104px;
}
#entry-author-info h2 {
	color: #000;
	font-size: 100%;
	font-weight: bold;
	margin-bottom: 0;
}
.entry-utility {
	clear: both;
	color: #888;
	font-size: 12px;
	line-height: 18px;
}
.entry-meta a,
.entry-utility a {
}
.entry-meta a:hover,
.entry-utility a:hover {
}
#content .video-player {
	padding: 0;
}

div.ga-rss {
	margin-bottom: 35px;
	font-weight: 800;
	line-height: 23px;
	margin-top: 6px;
}

div.ga-rss a {
	font-size: 15px;
}

.blogroll-channel {
	width:638px !important;
	height:554px !important;
	border:1px solid #ffffff !important;
	margin:0px 0px 0px 0px !important;
	padding:5px 5px 5px 5px !important;
	border-style:solid !important;
	font-size: 15.00px !important;
}

div.ga-rss .blogroll-list {
	margin-bottom: 9px !important;
}

div.ga-rss .blogroll-icon {
	margin-right: 9px !important;
}

.main-rss .blogroll-channel {
	overflow:auto !important;
}

.single-rss .blogroll-channel {
	overflow:hidden !important;
}

div.ga-rss .blogroll-category-name {
	display: none;
}

.post-categories li {
  float: left;
  margin-right: 10px;
}

/* =Asides
-------------------------------------------------------------- */

.home #content .format-aside p,
.home #content .category-asides p {
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 10px;
	margin-top: 0;
}
.home .hentry.format-aside,
.home .hentry.category-asides {
	padding: 0;
}
.home #content .format-aside .entry-content,
.home #content .category-asides .entry-content {
	padding-top: 0;
}


/* =Gallery listing
-------------------------------------------------------------- */

.format-gallery .size-thumbnail img,
.category-gallery .size-thumbnail img {
	border: 10px solid #f1f1f1;
	margin-bottom: 0;
}
.format-gallery .gallery-thumb,
.category-gallery .gallery-thumb {
	float: left;
	margin-right: 20px;
	margin-top: -4px;
}
.home #content .format-gallery .entry-utility,
.home #content .category-gallery .entry-utility {
	padding-top: 4px;
}


/* =Attachment pages
-------------------------------------------------------------- */

.attachment .entry-content .entry-caption {
	font-size: 140%;
	margin-top: 24px;
}
.attachment .entry-content .nav-previous a:before {
	content: '\2190\00a0';
}
.attachment .entry-content .nav-next a:after {
	content: '\00a0\2192';
}


/* =Images
-------------------------------------------------------------- */

/*
Resize images to fit the main content area.
- Applies only to images uploaded via WordPress by targeting size-* classes.
- Other images will be left alone. Use "size-auto" class to apply to other images.
*/
img.size-auto,
img.size-full,
img.size-large,
img.size-medium,
.attachment img,
.widget-container img {
	max-width: 100%; /* When images are too wide for containing element, force them to fit. */
	height: auto; /* Override height to match resized width for correct aspect ratio. */
}
.alignleft,
img.alignleft {
	display: inline;
	float: left;
	margin-right: 24px;
	margin-top: 4px;
}
.alignright,
img.alignright {
	display: inline;
	float: right;
	margin-left: 24px;
	margin-top: 4px;
}
.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img.alignleft,
img.alignright,
img.aligncenter {
	margin-bottom: 12px;
}
.wp-caption {
	background: #f1f1f1;
	line-height: 18px;
	margin-bottom: 20px;
	max-width: 632px !important; /* prevent too-wide images from breaking layout */
	padding: 4px;
	text-align: center;
}
.wp-caption img {
	margin: 5px 5px 0;
}
.wp-caption p.wp-caption-text {
	color: #888;
	font-size: 12px;
	margin: 5px;
}
.wp-smiley {
	margin: 0;
}
.gallery {
	margin: 0 auto 18px;
}
.gallery .gallery-item {
	float: left;
	margin-top: 0;
	text-align: center;
	width: 33%;
}
.gallery-columns-2 .gallery-item {
	width: 50%;
}
.gallery-columns-4 .gallery-item {
	width: 25%;
}
.gallery img {
	border: 2px solid #cfcfcf;
}
.gallery-columns-2 .attachment-medium {
	max-width: 92%;
	height: auto;
}
.gallery-columns-4 .attachment-thumbnail {
	max-width: 84%;
	height: auto;
}
.gallery .gallery-caption {
	color: #888;
	font-size: 12px;
	margin: 0 0 12px;
}
.gallery dl {
	margin: 0;
}
.gallery img {
	border: 10px solid #f1f1f1;
}
.gallery br+br {
	display: none;
}
#content .attachment img {/* single attachment images should be centered */
	display: block;
	margin: 0 auto;
}

div.site-Introduction img:first-child {
	margin: 6px 0px;
}

a:hover img {
	filter: alpha(opacity=60);
	opacity: .60;
}

/* =Navigation
-------------------------------------------------------------- */

.navigation {
	color: #888;
	font-size: 12px;
	line-height: 18px;
	overflow: hidden;
}
.navigation a:link,
.navigation a:visited {
	color: #888;
	text-decoration: none;
}
.navigation a:active,
.navigation a:hover {
	color: #ff4b33;
}
.nav-previous {
	float: left;
	width: 50%;
}
.nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
#nav-above {
	margin: 0 0 18px 0;
}
#nav-above {
	display: none;
}
.paged #nav-above,
.single #nav-above {
	display: block;
}
#nav-below {
	margin: -18px 0 0 0;
}


/* =Comments
-------------------------------------------------------------- */
#comments {
	clear: both;
}
#comments .navigation {
	padding: 0 0 18px 0;
}
h3#comments-title,
h3#reply-title {
	font-weight: bold;
	margin-bottom: 0;
}
h3#comments-title {
	padding: 24px 0;
}
.commentlist {
	list-style: none;
	margin: 0;
}
.commentlist li.comment {
	border-bottom: 1px solid #e7e7e7;
	line-height: 24px;
	margin: 0 0 24px 0;
	padding: 0 0 0 56px;
	position: relative;
}
.commentlist li:last-child {
	border-bottom: none;
	margin-bottom: 0;
}
#comments .comment-body ul,
#comments .comment-body ol {
	margin-bottom: 18px;
}
#comments .comment-body p:last-child {
	margin-bottom: 6px;
}
#comments .comment-body blockquote p:last-child {
	margin-bottom: 24px;
}
.commentlist ol {
	list-style: decimal;
}
.commentlist .avatar {
	position: absolute;
	top: 4px;
	left: 0;
}
.comment-author {
}
.comment-author cite {
	font-style: normal;
}
.comment-author .says {
	font-style: italic;
}
.comment-meta {
	font-size: 12px;
	/* margin: 0 0 18px 0; */
}
.comment-meta a:link,
.comment-meta a:visited {
	color: #888;
	text-decoration: none;
}
.comment-meta a:active,
.comment-meta a:hover {
	color: #ff4b33;
}
.commentlist .even {
}
.commentlist .bypostauthor {
}
.reply {
	font-size: 12px;
	padding: 0 0 24px 0;
}
.reply a,
a.comment-edit-link {
	color: #888;
}
.reply a:hover,
a.comment-edit-link:hover {
	color: #ff4b33;
}
.commentlist .children {
	list-style: none;
	margin: 0;
}
.commentlist .children li {
	border: none;
	margin: 0;
}
.nopassword,
.nocomments {
	display: none;
}
#comments .pingback {
	border-bottom: 1px solid #e7e7e7;
	margin-bottom: 18px;
	padding-bottom: 18px;
}
.commentlist li.comment+li.pingback {
	margin-top: -6px;
}
#comments .pingback p {
	color: #888;
	display: block;
	font-size: 12px;
	line-height: 18px;
	margin: 0;
}
#comments .pingback .url {
	font-size: 13px;
	font-style: italic;
}

/* Comments form */
input[type="submit"] {
	color: #333;
}
#respond {
	margin: 24px 0;
	overflow: hidden;
	position: relative;
}
#respond p {
	margin: 0;
}
#respond .comment-notes {
	display:none;
}
.form-allowed-tags {
	line-height: 1em;
}
.children #respond {
	margin: 0 48px 0 0;
}
h3#reply-title {
}
#comments-list #respond {
	margin: 0 0 18px 0;
}
#comments-list ul #respond {
	margin: 0;
}
#cancel-comment-reply-link {
	font-size: 12px;
	font-weight: normal;
	line-height: 18px;
}
#respond .required {
	color: #ff4b33;
	font-weight: bold;
}
#respond label {
}
#respond .comment-form-comment label {
	display: none;
}
#respond input {
	margin: 0 0 9px;
	width: 400px;
}
#respond textarea {
	width: 426px;
}
#respond .form-allowed-tags {
	display:none;
}
#respond .form-allowed-tags code {
	display:none;
}
#respond .form-submit {
}
#respond .form-submit input {
	margin-top: 6px;
	width: auto;
}


/* =Widget Areas
-------------------------------------------------------------- */

.widget-area ul {
	list-style: none;
	margin-left: 0;
}
.widget-area ul ul {
	list-style: none;
	margin-left: 1.3em;
}
.widget-area select {
	max-width: 100%;
}
.widget_search #s {/* This keeps the search inputs in line */
	width: 60%;
}
.widget_search label {
	display: none;
}
.widget-container {
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
	margin: 0 0 18px 0;
}
.widget-container .wp-caption img {
	margin: auto;
}
.widget-title {
	font-size: 15px;
	border-bottom: solid 3px #fff;
	color: #fff;
	background-color: #000;
	margin-bottom: 8px;
	font-weight: bold;
}
.widget-area a:link,
.widget-area a:visited {
	text-decoration: none;
}
.widget-area a:active,
.widget-area a:hover {
	text-decoration: none;
}
.widget-area .entry-meta {
	font-size: 11px;
}
#wp_tag_cloud div {
	line-height: 1.6em;
}
#wp-calendar {
	width: 100%;
}
#wp-calendar caption {
	color: #222;
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 4px;
	text-align: left;
}
#wp-calendar thead {
	font-size: 11px;
}
#wp-calendar thead th {
}
#wp-calendar tbody {
	color: #aaa;
}
#wp-calendar tbody td {
	background: #f5f5f5;
	border: 1px solid #fff;
	padding: 3px 0 2px;
	text-align: center;
}
#wp-calendar tbody .pad {
	background: none;
}
#wp-calendar tfoot #next {
	text-align: right;
}
.widget_rss a.rsswidget {
	color: #000;
}
.widget_rss a.rsswidget:hover {
	color: #ff4b33;
}
.widget_rss .widget-title img {
	width: 11px;
	height: 11px;
}

/* Main sidebars */
#main .widget-area ul {
	margin-left: 0;
	padding: 0;
}
#main .widget-area ul ul {
	border: none;
	padding: 0;
}
#primary {
	/* min-height: 8960px; */
}
#secondary {
}

/* Footer widget areas */
#footer-widget-area {
}

#npcatch li {
	height: 80px;
	padding-bottom: 5px;
	line-height: 1.2;
	min-height: 1px;
	text-align: left;
	clear: both;
}

#npcatch li img {
	float: left;
	margin-bottom: 5px;
	margin-right: 5px;
}

/* =Footer
-------------------------------------------------------------- */

#footer {
	border-top: 10px solid #2a2a2a;
	border-bottom: 10px solid #2a2a2a;
}
#colophon {
	border-top: 4px solid #000;
	margin-top: -4px;
	overflow: hidden;
	padding: 18px 0;
}
#site-info {
	font-weight: bold;
}
#site-info a {
	color: #000;
	text-decoration: none;
}
#site-generator {
	font-style: italic;
	position: relative;
}
#site-generator a {
	background: url(images/wordpress.png) center left no-repeat;
	color: #666;
	display: inline-block;
	line-height: 16px;
	padding-left: 20px;
	text-decoration: none;
}
#site-generator a:hover {
	text-decoration: underline;
}
img#wpstats {
	display: block;
	margin: 0 auto 10px;
}


/* =Mobile Safari ( iPad, iPhone and iPod Touch )
-------------------------------------------------------------- */

pre {
	-webkit-text-size-adjust: 140%;
}
code {
	-webkit-text-size-adjust: 160%;
}
#access,
.entry-meta,
.entry-utility,
.navigation,
.widget-area {
	-webkit-text-size-adjust: 120%;
}
#site-description {
	-webkit-text-size-adjust: none;
}


/* =Print Style
-------------------------------------------------------------- */

@media print {
	body {
		background: none !important;
	}
	#wrapper {
		clear: both !important;
		display: block !important;
		float: none !important;
		position: relative !important;
	}
	#header {
		border-bottom: 2pt solid #000;
		padding-bottom: 18pt;
	}
	#colophon {
		border-top: 2pt solid #000;
	}
	#site-title,
	#site-description {
		float: none;
		line-height: 1.4em;
		margin: 0;
		padding: 0;
	}
	#site-title {
		font-size: 13pt;
	}
	.entry-content {
		font-size: 14pt;
		line-height: 1.6em;
	}
	.entry-title {
		font-size: 21pt;
	}
	#access,
	#branding img,
	#respond,
	.comment-edit-link,
	.edit-link,
	.navigation,
	.page-link,
	.widget-area {
		display: none !important;
	}
	#container,
	#header,
	#footer {
		margin: 0;
		width: 100%;
	}
	#content,
	.one-column #content {
		margin: 24pt 0 0;
		width: 100%;
	}
	.wp-caption p {
		font-size: 11pt;
	}
	#site-info,
	#site-generator {
		float: none;
		width: auto;
	}
	#colophon {
		width: auto;
	}
	img#wpstats {
		display: none;
	}
	#site-generator a {
		margin: 0;
		padding: 0;
	}
	#entry-author-info {
		border: 1px solid #e7e7e7;
	}
	#main {
		display: inline;
	}
	.home .sticky {
		border: none;
	}
}


/* =============================================== */
/** Pager - ページャ */
/* ----------------------------------------------- */
div.pager {
	margin-bottom: 10px;
	text-align: left;
}

div.pager-inner {
	padding-bottom: 15px;
}

div.wp-pagenavi{
	text-align: center!important;
	margin-bottom: 22px;
}

div.wp-pagenavi span, div.wp-pagenavi a{
	margin: 0 2.5px;
}

div.article-pager-outer {
	margin-top: 35px;
	margin-bottom: 30px;
}

div#main div.wp-pagenavi .current {
	margin: 0 5px;
	font-weight: bold;
	padding: 3px 6px;
	background: url(http://img.po-kaki-to.com/image/pager_current.gif) repeat-x;
	color: #fff;
	/zoom: 1;
}

div#main div.wp-pagenavi a:link,
div#main div.wp-pagenavi a:visited,
div#main div.wp-pagenavi a:active {
	padding: 3px 6px;
	background: url(http://img.po-kaki-to.com/image/pager.gif) repeat-x;
	font-weight: bold;
	text-decoration: none;
}

div#main .wp-pagenavi a:link,
div#main .wp-pagenavi a:visited,
div#main .wp-pagenavi a:active {
	color: #fff;
}


div#main ul.article-pager a:link,
div#main ul.article-pager a:visited,
div#main ul.article-pager a:active,
div#main ul.archives-pager a,
div#main div.article-pager-outer a {
	background: none!important;
	color: #ffa500;
}

div#main ul.article-pager a:hover{
	color: #a9a9a9;
}


div#main div.wp-pagenavi a:hover {
	background-image: url(http://img.po-kaki-to.com/image/pager_current.gif);
}

.textwidget td {
	border: 2px #fff solid;
}

.smartfon {
	display: none;
}

.lllll {
	padding-bottom: 5px;
	margin-top: 51px;
	margin-bottom: 25px;
	border: 1px solid #fff;
}

.lllll td {
	text-align: left;
}

.lllll td img:first-child {
	margin:13px 12px 10px 12px;
}

.lllll td img {
	margin: 0px 10px;
}

.ad300 {
	width:300px;
	margin:0px 0px 0px 10px;
	padding:0px;
}

.ad300:active,
.ad300:hover {
	color: #a9a9a9;
	text-decoration: none;
}

.ad300 {
	color: #ffa500;
	text-decoration: none;
}

.ad300 img {
	margin: 2px 5px 0px 5px !important;
}

div.w600 img {
	width: 650px;
	height: auto;
}

div.w500 img {
	width: 500px;
	height: auto;
}

div.w400 img {
	width: 400px;
	height: auto;
}

.nnnnn {
	margin-bottom: 48px;
}

.nnnnn td {
	margin:3px
}

.nnnnn td img:first-child {
}

.nnnnn td img {
	margin: 3px 3px 4px 2px;
}

div#article-options {
	background-color: #2a2a2a;
	padding: 10px 20px;
}

div#trackback-form, div#trackbacks-list, div#comments-list, div#comment-form {
	height: 1%;
}

div.article-option {
	padding: 15px 0;
}

ol#commentlist {
	margin-left: 40px;
}

ul.ping-info li.ping-date, ul.comment-info li.comment-date, span.comment-date {
	color: #a9a9a9;
}

div.article-option h3 {
	margin: 0 10px 0 10px;
	padding: 13px 0 13px 0px;
	font-size: 100%;
	background: 000;
}

div#get-rest-of-comments a {
	margin: 0 10px 0 10px;
	padding: 15px 0 15px 0px;
}

ul.article-pager li {
	float: left;
	width: 48%;
	line-height: 1.25;
	padding: 6px;
}

ul.article-pager li.next {
	border-left: 1px solid #8d8d8d;
}


img#wpstats {
	width:0px;
	height:0px;
	padding:0px;
	border:none;
	overflow:hidden; 
	margin: 0;
}

#___plusone_0 {
	vertical-align: top !important;
}

.site-Introduction p {
	margin: 5px 0;
}

#og_354914340f2b56 {
margin-bottom: 30px;
}

.fam_ad {
    position: relative;
}
.fam_ad a div div img {
    width: auto;
    height:169px;
}
.fam_ad span {
    color: #ffa500;
    text-decoration: none;
    margin: 0 0 0 10px;
    padding: 0;
    text-indent: 37px;
    width: 300px;
    display: block;
}
.fam_ad .fam_pr {
    position: absolute;
    bottom : 29px;
    left: 5px;
}
.fam_ad a div br {
    display: none;
}
.fam_sp_ad a div span {
    height: 52px;
    overflow: hidden;
    display: inline-block;
}
/* <!--- タグ ---> */
.tags {
    float: left;
}
.article-tag dt {
  float:left;
  clear:left;
}
.article-tag dd {
  float:left;
}