#GB_overlay{background-color:#000;position:fixed;margin:auto;top:0;left:0;z-index:1000;}
#GB_window{left:0;/*top:40px !important;*/font-size:1px;position: fixed;overflow:visible;z-index:1001;
    top: 50%!important;
    transform: translate(0, -50%);
}
#GB_window .content{width:auto;margin:0;padding:0;}
#GB_frame{border:0;margin:0;padding:0;overflow:auto; white-space:nowrap;}
.GB_Gallery{margin:0 22px 0 22px;}
.GB_Gallery .content{background-color:#fff;border:3px solid #ddd;}
.GB_header{top:10px;left:0;margin:0;z-index:500;position:absolute;border-bottom:2px solid #555;border-top:2px solid #555;}
.GB_header .inner{background-color:#333; font-weight:400; padding:2px 20px 2px 20px;}
.GB_header table{margin:0;width:100%;border-collapse:collapse;}
.GB_header .caption{text-align:left;color:#ffffff;white-space:nowrap;font-size:20px;}
.GB_header .close{text-align:right;}
.GB_header .close img{z-index:500;cursor:pointer;}
.GB_header .middle{white-space:nowrap;text-align:center;}
#GB_middle{color:#eee;text-align:right;padding:6px 6px 0px 0px;}
#GB_middle img{cursor:pointer;vertical-align:middle;}
#GB_middle .disabled{cursor:default;}
#GB_middle .left{padding-right:0px;}
#GB_middle .right{padding-left:10px;}
.GB_Window .content{background-color:#fff;border-radius:0px 0px 2px 2px;}
.GB_Window .header{border:none;margin:0;height:42px;font-size:12px;color:#fff;font-weight:400; background:#76b6cc!important; border-radius:2px 2px 0px 0px; background-image:none!important; position:inherit !important;}
.GB_Window .caption{padding:10px 0 0 10px; font-size:18px; text-align:left; white-space:nowrap; color:#fff; font-weight: 400;}
.GB_Window .close{text-align:right;}
.GB_Window .close span{font-size:12px;}
.GB_Window .close img{width:15px;height:15px;padding:0 10px 0 0;cursor:pointer;}
.GB_Window .on{border-bottom:1px solid #333;}
.GB_Window .click{border-bottom:1px solid red;}
.GB_Window body{ background:none!important;}
iframe html > body{background:none !important;}
iframe html > body .content{#overflow:scroll!important;}


.mobilevrfblock{font-weight:400; background:#FFF; font-size:13px; padding:12px 20px 12px 20px; margin:0px;}
.mobilevrfpadding{padding:12px 20px;}
.mobilevrfhdg{color:#5dc430; background:#f8fed6; font-size:18px; font-weight:bold;}
.mobilevrfhdg2{font-size:18px; border-bottom:solid 1px #CCC;}
.mobilevrf{padding:5px 20px; background:#dfeafd;}
.mobilevrfred{color:#F00; font-size:20px; font-weight:bold;}