@charset "utf-8";
/* CSS Document */

/* minignb */

#minignbWrap {
	background:#2a2a2a;
	font-size:12px;
	line-height:22px;
	border-bottom:1px solid #333;
	min-width:1140px;
}

#minignbWrap .fa-lg {
	font-size: 1.33333em;
    line-height: 0.75em;
    vertical-align: -15%;
}
#minignbWrap .no-text {
	border: 0 none !important;
    display: inline-block !important;
    font-size: 0;
    left: 0;
    line-height: 0;
    margin: 0 !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute;
    top: 0;
}


#minignbWrap .miniGnb { max-width:1140px; width: 100%; margin:0 auto; overflow:hidden;}
#minignbWrap .miniGnb .mini_left {
	float:left;
	display:block;
}
#minignbWrap .miniGnb .mini_right {
	float:right;
	display:block;
}
#minignbWrap .miniGnb .mini_right i {
	margin-right:6px;
}

#minignbWrap .miniGnb ul {
	padding: 0;
	list-style: none;
}
#minignbWrap .miniGnb ul li {
	float: left;
	border-right:1px solid #505050;
}
#minignbWrap .miniGnb ul li:last-child {
	border:none;
}

#minignbWrap .miniGnb ul li a{
	color:#FFF;
    display: block;
    padding: 6px 15px;
	text-decoration:none;
}

#minignbWrap .miniGnb ul li a:hover {
	color:#FC0;
}

#minignbWrap .miniGnb ul li.sns_icon_email a.active {
	color:#FC0 !important;
}


#minignbWrap .miniGnb ul li.ddcoin a {
	
}

#minignbWrap .miniGnb ul li.ddcoin a img{
	padding: 0;
	margin: 0;
	display: block;
}

