@charset "utf-8";
#gnb{
	position:absolute; 
	height:40px; 
	top:0px; 
	left:0px;
	background:#fff; 
	width: 100%;
	border-top: 1px solid #917d5d; 
	border-bottom: 1px solid #917d5d; 
}

#gnb ul {
	list-style: none;
	margin: 0 0 0 10px;
	padding: 0;
	height:40px;	
}
#gnb li {
	position: relative;
	float: left;
	margin: 0;
	background:url(m_line.jpg) no-repeat left 13px !important;
	padding:0;
}
#gnb ul li.m1 {
	background:none !important;
}
#gnb li.active {
	
}
#gnb ul li.marketPlace {
	float: right;
	margin: 0;
	padding-right: 15px;
}

#gnb ul li a {
	padding:9px 15px;
	color:#000;
	text-decoration:none;
	font-size:14px;
	font-weight:bold;
	line-height:40px;
	vertical-align:text-top;
	font-family:나눔고딕, NanumGothic, "맑은 고딕", "MalgunGhotic";
}

#gnb ul li a:hover {
	color:#917d5d;
	text-decoration:underline;
}
#gnb ul li.active a {
	color:#917d5d;
	border-top: 3px solid #917d5d;
}

#gnb ul li ul {
	position:absolute;
	height: auto;
	overflow:hidden; 
	top:40px; 
	display: block; 
	left:0; 
	margin:0;
	z-index:999; 
	background: #FFF;
	border-left: 1px solid #917d5d;
	border-right: 1px solid #917d5d;
	border-bottom: 1px solid #917d5d;
}

#gnb li ul li {
	margin:0; 
	float:left;
	width: 120px; 
	padding: 0; 
	border-bottom: 1px solid #f1f1f1; 
	margin-bottom: -1px;
	background-image: none !important;
}
#gnb li ul a {
	display:inline;
	border-left: none;
	height:35px;
	padding:0 0 0 10px;
	margin:0 0 0 10px;
	overflow:hidden; 
	line-height:35px; 
	text-decoration:none; 
	font-weight:normal; 
	font-size:13px;  
	z-index:25; 
	color:#000;

	background:url(m_bar.jpg) no-repeat left 3px !important;
}
#gnb li.active ul a {
	color: #000;
}
#gnb li.m1 ul a {
	padding:0 0 0 10px;
}	

#gnb ul li ul li a {
	color:#000;
	border-top: none !important;
}

#gnb li ul a:hover {color:#996c33; font-weight:bold;}



