@charset "utf-8";
/* CSS Document */

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	background-color:#fff;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

a {
	outline: 0;
selector-dummy : expression(this.hideFocus=true);
}
ul {
	margin: 0;
	padding: 0;
}
ul li {
	margin: 0;
	padding: 0;
}

h1,h2,h3,h4,h5,h6 {
	font-family:"Apple SD Gothic Neo","맑은 고딕","Malgun Gothic","굴림",Gulim,Tahoma,Geneva,sans-serif;
}

.clear{clear:both;}

#AllWrap {
	width:100%;
	overflow:hidden;
	min-width:1120px;
}

#wholewarp {
	display:block;
	position:relative;
	margin:0 auto;
	padding:0;
	width:1120px;
	background: url(../images/all_bg.jpg) repeat;
}

#headerWrap {
	width:100%;
	margin:0 auto;
	padding:0;
}

#headerWrap #header {
	display:block;
	height: 135px;
	margin: 0;
	padding: 0;
	position: relative;
}

#headerWrap #header .logoWarp {
	display:block;
	overflow:hidden;
	height: 90px;
	margin: 0;
	padding: 0;
	
	position:relative;
}

#headerWrap #header .logoWarp .left_banner {
	margin: 0;
	padding: 0;
	position:absolute;
	top:15px;
	left:15px;
}

#headerWrap #header .logoWarp .right_banner {
	margin: 0;
	padding: 0;
	position:absolute;
	top:15px;
	right:15px;
}

#headerWrap #header .logoWarp h1 {
	display:block;
	width:238px;
	height:64px;
	margin: 20px 0 0 30px;
	padding: 0;
}

#headerWrap #header .logoWarp h1 img {
	height: 50px;	
}

/* 검색창*/
#headerWrap #header .searchWrap {
	margin: 0;
	padding: 0;
	position:absolute;
	top:18px;
	left:250px;
}

#headerWrap #header .searchWrap .searchBox {
	border: 3px solid #433222;
	background: #FFF;
    display: inline-block;
    height: 30px;
    width: 200px;
	
}

#headerWrap #header .searchWrap .searchBox .input_search {
	background-color: transparent;
    border: 0 none;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    height: 21px;
    line-height: 21px;
    margin: 3px 0 0 9px;
    outline: medium none;
    width: 190px;
    vertical-align: middle;
}



#headerWrap #header .searchWrap .searchButton  {
	width: 40px;
	height: 36px;	
	padding: 0;
	cursor: pointer;
	vertical-align: top;
	border: none !important;
	background: url(../images/header/search_btn.jpg) no-repeat 0px 0px;
}

#headerWrap #header .searchWrap .searchButton .ir {
    display: block;
    font-size: 11px;
    height: 11px;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    z-index: -1;
}



#headerWrap #header #gnbWarp {
	
	margin: 0 auto;
	padding: 0;
	position: relative;
	display:block;
}

#headerWrap #header #gnbWarp .gnb {
	display:block;
	position: absolute;
	left: 0px;
	top: 0;
	width: 100%;
}


#header .top_arrow {
	display: block;
	overflow: hidden;
	width: 1000px;
	margin: 0 auto;
	padding: 0;
	clear: both;
}

/* headerWrap end */


/* bodyWrap */


#bodyWarp {
	width: 1120px;
	margin: 0 auto;
	background: #FFF ;
}

.mainBodyWrap {
	background-image: none !important;
}

.mainActWrap {
	padding:10px 0;
	background-image: none !important;
}


.mainBodyWrap #mabbak {
	margin-bottom:5px;
}

.mainBodyWrap #contents {
	margin: 0  !important;
	padding:0;
}

#bodyWarp #contents {
	margin: 0 0px;
	padding:0;
}


#bodyWarp .substance {	
	float:left;
	width:850px;
	overflow: hidden;
}

#bodyWarp #sideWrap {
	float:right;
	width:250px;
	margin-top: 10px;
	overflow: hidden;
}


#bodyWarp #body_left {
	float: left;
	width: 650px;
	margin: 0;
	padding: 0;
	border: 1px solid #e3e3e3;
}
#bodyWarp #body_left #main_rolling {
}

.adWrap {
	position:absolute;
	width:120px;
	top:80px;
	left:-130px;
}

.adWrap2 {
	position:absolute;
	width:120px;
	top:80px;
	right:-130px;
}


#main_bannerWrap {
	margin: 0;
	padding: 0;
	background: #fbfbfb;
	border: 1px solid #e3e3e3;
}
#main_bannerWrap ul.main_banner {
	width: 300px;
	margin: 0 auto;
	padding: 0;
	padding-top: 20px;
	list-style: none;
}
#main_bannerWrap ul.main_banner li {
	margin: 0;
	padding: 0;
}
#main_bannerWrap ul.main_banner li a {
	margin: 0;
	padding: 0;
	display: block;
}
#main_bannerWrap ul.main_banner li.knowledge {
	margin: 0;
	padding-bottom: 30px;
	border-bottom: 1px solid #c3c3c3;
}
/* bodyWrap end */



/* footerWrap */
#footerWrap {
	margin:5px 0 0 0;
	padding:0;
}
#footerWrap #footer {
	padding:0;
	height:120px;
	background: url(../images/footer/bg_fixed.jpg) no-repeat right bottom;
}

#footerWrap #footer_menu {
	margin: 0 auto;
	position:relative;
	padding:0;
	
	height:40px;
	background: url(../images/footer/footermenu_bg.png) repeat-x;
}
#footerWrap #footer_menu .mobile_mode {
	position:absolute;
	top:7px;
	right:6px;
}
#footerWrap #footer_menu .mobile_mode a {
	background:#f7f7f7;
	color: rgb(51, 51, 51);
    display: block;
    padding: 6px 15px;
    text-decoration: none;
}
#footerWrap #footer_menu .mobile_mode a:hover {
	background:#333;
	color: #FFF;
}

#footerWrap #footer_menu ul {
	list-style: none;
	margin:0 0 0 20px;
	padding:0;
}
#footerWrap #footer_menu ul li {
	display:inline;
	margin: 0;
	padding-left: 16px;
}
#footerWrap #footer_menu ul li a {
	color: #f8daaa;
	text-decoration: none;
	line-height:40px;
}

#footerWrap #footer_menu ul li a:hover {
	color: #fff;
}

#footerWrap #footer_menu ul li.frist_menu {
	display:inline;
	margin: 0;
	padding: 0;
}
#footerWrap #footer_menu ul li.footer_menu_line {
	margin: 0;
	padding-top: 2px;
	line-height:40px;
	color:#f8daaa;
}

#footerWrap #footer .footer_address {
	line-height: 24px;
	color: #000;
	text-align: center;
	margin:0;
	padding:20px 0 0 0;
}
#footerWrap #footer .footer_address span {
	font-weight: bold;
	color: #0067a4;
}
/* footerWrap end */

.mo_page a:link, .mo_page a:visited {
	color: #555;
	text-decoration: none;
}
.mo_page a:active, .mo_page a:hover {
	color: #777;
	text-decoration: none;
}


.adblock-on {
	border: 1px solid #eee;
	color : #999;
	width:728px;
	height:90px;
	display: none;
}

a, li, button {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}


.sub-page-nav ul {	
	max-width: 1240px;
	margin: 0;	
	list-style: none;
	font-size: 1em;
	font-weight: 300;
}

.sub-page-nav li span {
	display: block;
}

.sub-page-nav a {
	display: block;
	color: #917d5d;
	text-decoration: none;
	border-top: 1px solid #eee;
	border-left: 1px solid #eee;	
	border-bottom: 1px solid #eee;
	-webkit-transition: color .5s, background .5s, height .5s;
	-moz-transition: color .5s, background .5s, height .5s;
	-o-transition: color .5s, background .5s, height .5s;
	-ms-transition: color .5s, background .5s, height .5s;
	transition: color .5s, background .5s, height .5s;
}

.sub-page-nav li:last-child a{
	border-right: 1px solid #eee;

}

.sub-page-nav a:visited, .sub-page-nav a:link{
		color: #917d5d;
}

.sub-page-nav li a:hover,
.sub-page-nav li a:active,
.sub-page-nav li a:focus {
	border-bottom: 4px solid #917d5d;
}

.sub-page-nav li {
	background: #fff;
}

.sub-page-nav li {
		float: left;
		width: 16.66666666666667%;
		text-align: center;
		-webkit-transition: border .5s;
		-moz-transition: border .5s;
		-o-transition: border .5s;
		-ms-transition: border .5s;
		transition: border .5s;
	}

.sub-page-nav a {
		display: block;
		width: auto;
	}

.sub-page-nav .icon {
	padding-top: 1em;
}

.sub-page-nav .icon + span {
	margin-top: 0.7em;
	-webkit-transition: margin .5s;
	-moz-transition: margin .5s;
	-o-transition: margin .5s;
	-ms-transition: margin .5s;
	transition: margin .5s;
}

/* Animating the height of the element*/
.sub-page-nav a {
	height: 7em;
}



/* Positioning the icons and preparing for the animation*/
.sub-page-nav i {
	position: relative;
	display: inline-block;
	margin: 0 auto;
	padding: 0.4em;
	border-radius: 50%;
	font-size: 1.8em;
	box-shadow: 0 0 0 30px transparent;
	background: rgba(255,255,255,0.1);
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transition: box-shadow .6s ease-in-out;
	-moz-transition: box-shadow .6s ease-in-out;
	-o-transition: box-shadow .6s ease-in-out;
	-ms-transition: box-shadow .6s ease-in-out;
	transition: box-shadow .6s ease-in-out;
}	




/* Animate the box-shadow to create the effect */
.sub-page-nav a:hover i,
.sub-page-nav a:active i,
.sub-page-nav a:focus i {		
	box-shadow: 0 0 0 0 rgba(255,255,255,0.2);
	-webkit-transition: box-shadow .4s ease-in-out;
	-moz-transition: box-shadow .4s ease-in-out;
	-o-transition: box-shadow .4s ease-in-out;
	-ms-transition: box-shadow .4s ease-in-out;
	transition: box-shadow .4s ease-in-out;
}

span.community_memo {
	font-weight: bold;
	color:#f00;
}