@charset "utf-8";

#headlinekWrap {width:850px; overflow:hidden; margin: 0 auto;}
#headlinekWrap a {color:#000;}
#headlinekWrap .headlineImage {max-height: 300px; overflow: hidden;}
#headlinekWrap h2{
	font-size: 32px;
	letter-spacing:-0.1em; 
	line-height:1.2em;
	text-overflow:ellipsis; 
	overflow: hidden; 
	white-space: nowrap;
	margin: 0;
	padding-bottom: 5px;
}

#headlinekWrap .contentText {font-size: 13px; line-height: 1.5em;}

#mabbakWrap .mabbak_date {height:24px; padding:0; margin:10px 0; text-align:center;}
#mabbakWrap .mabbak_date .f_left{float:left;}
#mabbakWrap .mabbak_date .f_right{float:right;}
#mabbakWrap .mabbak_date .mabbakList {width:0; overflow:visible;}
#mabbakWrap .mabbak_date span {height:24px;line-height:24px;vertical-align:middle; }
#mabbakWrap .mabbak_date span.mabbakDate { font-size:20px; font-weight:bold;vertical-align:top;}
#mabbakWrap #view{*zoom:1;}
#mabbakWrap #view:after{content:""; clear:both; display:block}

