div.simpleWidgetStyle {
	
}
div.simpleWidgetStyle .w-header {
	display:table;
	margin:0 0 10px;
	overflow:hidden;
}
div.simpleWidgetStyle .w-header h4 {
	font-weight:700;
	margin: 0;
	padding: 0;
}
div.simpleWidgetStyle .w-title {
	display: table-cell;
    float: left;
    line-height: normal;
    font-size: 12px;
    margin: 0;
    padding: 0 12px 0 0;
    white-space: nowrap;
}
div.simpleWidgetStyle .w-title a {
	text-decoration:none;
	color:#000;
}
div.simpleWidgetStyle.black .w-title a {
	color:#d82d36;
}
div.simpleWidgetStyle .w-title a:hover {
	color:#d82d36;
}

div.simpleWidgetStyle .w-barWrap {
    display: table-cell;
    height: 6px;
    position: relative;
    vertical-align: middle;
    width: 100%;
}
div.simpleWidgetStyle .w-bar {
	background:rgb(240, 240, 240) none repeat scroll 0 0;
	height:3px;
	margin-top:-1px;
	box-sizing:content-box;
	display:block;
	position:relative;
	width:100%;
}

