@charset "utf-8";
.clubWrap {
    display:block;
    width: 100%;
    overflow: hidden;
    position: relative;
}


.clubWrap ul.clubList {
    margin: 0 3px;
    padding: 0;
}
.clubWrap ul li {
    padding: 0;
    margin-bottom:10px;
    overflow: hidden;
    list-style: none;
    line-height: 17px;
    vertical-align: middle;
}

.clubWrap .clubListWrap .clubList .title {
    color: #000;
    text-decoration: none;
    font-size: 12px;
    
}


.clubWrap .clubList a.title:hover {
    text-decoration:underline;
}


.clubWrap .clubList .desc {
    color:#aaa;
    font-size:11px;
    
}
.clubWrap .clubList .desc .bar {
    margin:0 10px;
}





