.newsnoticeWrap {
	display:block;
	width: 100%;
	overflow: hidden;
	position: relative;
}


.newsnoticeWrap ul {
	margin: 0;
	padding: 0;
}
.newsnoticeWrap ul li {
	padding: 0;
	margin-bottom:5px;
	overflow: hidden;
	list-style: none;
	line-height: 17px;
	vertical-align: middle;
}
.newsnoticeWrap ul li .n_photoWrap { float:left; width:50px;}
.newsnoticeWrap ul li .n_photoWrap img {
	border-radius: 50%;
	vertical-align: middle;
	border: 1px solid #f7f7f7;
}

.newsnoticeWrap ul li .is_thum{margin-left:60px;}
.newsnoticeWrap ul li .n_contentWrap .n_contents { float:left; width:100%;}

.newsnoticeWrap  .n_contentWrap .title a {
	color: #000;
	text-decoration: none;
	font-size: 12px;
	
}
.newsnoticeWrap  .n_contentWrap .title a:hover {
	text-decoration:underline;
}


.newsnoticeWrap  .n_contentWrap .regdate {
	color:#aaa;
	font-size:11px;
	
}
.newsnoticeWrap  .n_contentWrap .regdate .bar {
	margin:0 10px;
}

