.newslatestWrap {
	display:block;
	width: 100%;
	overflow: hidden;
	position: relative;
}
.newslatestWrap h4 {
	margin: 0;
	padding: 10px 5px;
	border-top: 2px solid #533e2a;
	border-bottom: 1px solid #CCC;
	background: #FFF;
}

.newslatestWrap h4 a {
	text-decoration: none;
	color:#d82d36;
}


.newslatestWrap ul {
	margin: 10px 3px;
	padding: 0;
}
.newslatestWrap ul li {
	padding: 0;
	margin-bottom:5px;
	overflow: hidden;
	list-style: none;
	line-height: 17px;
	vertical-align: middle;
}
.newslatestWrap ul li .n_contentWrap .n_contents { float:left; width:100%;}

.newslatestWrap  .n_contentWrap .title {
	display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
	
}
.newslatestWrap  .n_contentWrap .title a {
	color: #000;
	text-decoration: none;
	font-size: 12px;
	
}

.newslatestWrap  .n_contentWrap .title .category { 
	font-weight:bold;
}

.newslatestWrap  .n_contentWrap .title a:hover {
	text-decoration:underline;
}


.newslatestWrap  .n_contentWrap .regdate {
	color:#888;
	font-size:11px;
	
}
.newslatestWrap  .n_contentWrap .regdate .bar {
	margin:0 10px;
}

