@charset "Shift_JIS";

/* summary ------------------
ad
-------------------------- */

.GoogleActiveViewClass {
margin:0 0 10px 0;
}


/* top page ----------------- */

/* adTopPRBanner01 */
#adTopPRBanner01 {
width:970px;
margin:0 auto;
padding:0 0 10px 0;
}

/* adTopPR01  */
#contents #adTopPR01 {
margin:0;
}
#contents #adTopPR01 p {
margin:0 0 10px 0;
font-size:1.4em;
line-height:1.2;
text-align:center;
}
#contents #adTopPR01 p a {
display:block;
text-align:center;
padding:2px 0;
}
#contents #adTopPR01 p a:hover {
background:#FFFAD6;
color:#009900;
text-decoration:none;
}



#contents #adRectangleBanner01 {
float:right;
width:300px;
}
#contents #adRectangleBanner02 {
width:300px;
margin:0 0 10px 0;
}

#contents #adOfficialBanner {
width:300px;
margin:0 0 10px 0;
}


#contents #prTop01 {
width:950px;
text-align:center;
margin:0 0 10px 0;
}
#contents #prTop01 .pr {
display:inline;
margin:0 0 0 20px;
padding:0 0 0 20px;
background:url(../images/arrow_003.gif) no-repeat left 1px;
font-size:1.4em;
line-height:1.2;
}




#contents #adTopics {
width:1188px;
margin:0 0 10px 0;
}
	#contents #adTopics:after {
	content: ".";  
	display: block;  
	visibility: hidden;  
	height: 0.1px;  
	font-size: 0.1em;  
	line-height: 0;  
	clear: both;  
	}
	* html #contents #adTopics {
	display: inline-block;
	}

	*+html #contents #adTopics {
	display: inline-block;
	}

#contents #adTopics p {
float:left;
width:304px;
margin:0 6px 0 0;
padding:5px;
background:#FFF;
border:1px solid #D9D9D9;
}
	#contents #adTopics p:after {
	content: ".";  
	display: block;  
	visibility: hidden;  
	height: 0.1px;  
	font-size: 0.1em;  
	line-height: 0;  
	clear: both;  
	}
	* html #contents #adTopics p {
	display: inline-block;
	}

	*+html #contents #adTopics p {
	display: inline-block;
	}
#contents #adTopics p span.image {
float:left;
display:block;
width:60px;
}
#contents #adTopics p span.title,
#contents #adTopics p span.text {
display:block;
padding:0 0 0 65px;
font-size:1.4em;
line-height:1.3;
}


#contents #adKikaku {
width:966px;
margin:0 0 10px 0;
}
	#contents #adKikaku:after {
	content: ".";  
	display: block;  
	visibility: hidden;  
	height: 0.1px;  
	font-size: 0.1em;  
	line-height: 0;  
	clear: both;  
	}
	* html #contents #adKikaku {
	display: inline-block;
	}

	*+html #contents #adKikaku {
	display: inline-block;
	}

#contents #adKikaku p {
float:left;
width:304px;
margin:0 6px 0 0;
padding:5px;
background:#FFF;
border:1px solid #D9D9D9;
}
	#contents #adKikaku p:after {
	content: ".";  
	display: block;  
	visibility: hidden;  
	height: 0.1px;  
	font-size: 0.1em;  
	line-height: 0;  
	clear: both;  
	}
	* html #contents #adKikaku p {
	display: inline-block;
	}

	*+html #contents #adKikaku p {
	display: inline-block;
	}

#contents #adKikaku p span.image {
float:left;
display:block;
width:60px;
}
#contents #adKikaku p span.title,
#contents #adKikaku p span.text {
display:block;
padding:0 0 0 65px;
font-size:1.4em;
line-height:1.3;
}




#contents #adOsusume {
width:636px;
margin:0 0 10px 0;
background:#FFF;
border:1px solid #D9D9D9;
overflow:hidden;
}
#contents #adOsusume h3 {
margin:0 0 7px 0;
padding:5px;
background:#ECECEC url(../images/h3_bg_001.gif) repeat-x;
border-bottom:1px solid #D9D9D9;
font-size:1.4em;
}

#contents #adOsusume ul.list {
width:644px;
margin:0 0 0 5px;
}
	#contents #adOsusume ul.list:after {
	content: ".";  
	display: block;  
	visibility: hidden;  
	height: 0.1px;  
	font-size: 0.1em;  
	line-height: 0;  
	clear: both;  
	}
	* html #contents #adOsusume ul.list {
	display: inline-block;
	}

	*+html #contents #adOsusume ul.list {
	display: inline-block;
	}

#contents #adOsusume ul.list li {
float:left;
width:304px;
margin:0 18px 10px 0;
}
#contents #adOsusume ul.list li.first {
clear:left;
float:left;
}
	#contents #adOsusume ul.list li:after {
	content: ".";  
	display: block;  
	visibility: hidden;  
	height: 0.1px;  
	font-size: 0.1em;  
	line-height: 0;  
	clear: both;  
	}
	* html #contents #adOsusume ul.list li {
	display: inline-block;
	}

	*+html #contents #adOsusume ul.list li {
	display: inline-block;
	}

	* html #contents #adOsusume ul.list li {float:none;margin:0 15px 10px 0;}
	*+html #contents #adOsusume ul.list li {float:none;}
	* html #contents #adOsusume ul.list li.first {float:left;margin:0 15px 10px 0;}
	*+html #contents #adOsusume ul.list li.first {float:left;}

#contents #adOsusume ul.list li span.image {
float:left;
display:block;
width:50px;
}
#contents #adOsusume ul.list li span.title,
#contents #adOsusume ul.list li span.text {
display:block;
padding:0 0 0 55px;
font-size:1.4em;
line-height:1.3;
}



/* Mega  */
#contents #adMega {
margin:0 0 10px 0;
}


/* RectangleBox  */
#contents #adRectangleBox {
width:636px;
margin:0 0 10px 0;
border:1px solid #D9D9D9;
}
#contents #adRectangleBox h3 {
margin:0 0 7px 0;
padding:5px;
background:#ECECEC url(../images/h3_bg_001.gif) repeat-x;
border-bottom:1px solid #D9D9D9;
font-size:1.4em;
}
#contents #adRectangleBox .image {
float:left;
padding:0 0 7px 7px;
}
#contents #adRectangleBox .text {
padding:0 7px 7px 164px;
font-size:1.4em;
line-height:1.3;
}
#contents #adRectangleBox .arrow {
margin:0 0 7px 0;
padding:0 0 0 164px;
font-size:1.4em;
line-height:1.3;
}
#contents #adRectangleBox .arrow a {
padding:0 0 0 20px;
background:url(../images/arrow_001.gif) no-repeat left center;
}

	#contents #adRectangleBox:after {
	content: ".";  
	display: block;  
	visibility: hidden;  
	height: 0.1px;  
	font-size: 0.1em;  
	line-height: 0;  
	clear: both;  
	}
	* html #contents #adRectangleBox {
	display: inline-block;
	}

	*+html #contents #adRectangleBox {
	display: inline-block;
	}


/* RectangleBox  */
#contents #adRectangleBox02 {
width:648px;
margin:0 0 10px 0;
border:1px solid #D9D9D9;
}
	#contents #adRectangleBox02:after {
	content: ".";  
	display: block;  
	visibility: hidden;  
	height: 0.1px;  
	font-size: 0.1em;  
	line-height: 0;  
	clear: both;  
	}
	* html #contents #adRectangleBox02 {
	display: inline-block;
	}
	*+html #contents #adRectangleBox02 {
	display: inline-block;
	}
#contents #adRectangleBox02 h3 {
margin:0;
padding:5px;
background:#ECECEC url(../images/h3_bg_001.gif) repeat-x;
border-bottom:1px solid #D9D9D9;
font-size:1.4em;
}

#contents #adRectangleBox02 a {
width:324px;
float:left;
display:block;
margin:0;
background:#FFF;
color:#000;
}
#contents #adRectangleBox02 a:hover {
background:#DFF4F4;
text-decoration:none;
}

#contents #adRectangleBox02 .RectangleBox {
margin:0;
}
#contents #adRectangleBox02 .RectangleBox .title {
margin:10px 0 5px 0;
font-size:1.4em;
line-height:1.3;
color:#334DAB;
text-align:center;
}
#contents #adRectangleBox02 .RectangleBox .image {
margin:10px 0 5px 0;
text-align:center;
}
#contents #adRectangleBox02 .RectangleBox .text {
margin:10px 30px;
font-size:1.4em;
line-height:1.3;
}


/* adRectangleBox03  */
#contents #adRectangleBox03 {
position:relative;
width:648px;
margin:0 0 20px 0;
background:#FFF;
border:1px solid #D9D9D9;
}
	#contents #adRectangleBox03:after {
	content: ".";  
	display: block;  
	visibility: hidden;  
	height: 0.1px;  
	font-size: 0.1em;  
	line-height: 0;  
	clear: both;  
	}
	#contents #adRectangleBox03 {
	display: inline-block;
	}
/* トップページ用 */
#contents .LeftArea #adRectangleBox03 {
margin:0 0 10px 0;
}

#contents #adRectangleBox03 .banner {
float:left;
width:324px;
}

#contents #adRectangleBox03 .list {
float:right;
width:308px;
padding:7px 5px 0 0;
}
#contents #adRectangleBox03 ul.text {
margin:0;
}
#contents #adRectangleBox03 ul.text li {
margin:0 0 10px 0;
padding:0 0 0 20px;
background:url(../images/arrow_001.gif) no-repeat left 1px;
font-size:1.4em;
line-height:1.2;
}
#contents #adRectangleBox03 .list p {
position:absolute;
bottom:6px;
right:6px;
font-size:1.4em;
line-height:1.2;
}



/* adSEO ----------------- */
#adSEO {
width:950px;
margin:0 auto;
margin-bottom:15px;
padding:5px 5px 0 5px;
border:1px solid #D9D9D9;
text-align:left;
background:url(images/ad_seo_bg.gif) repeat-y left top;
}
	#adSEO:after {
	content: ".";
	display: block;
	visibility: hidden;
	height: 0.1px;
	font-size: 0.1em;
	line-height: 0;
	clear: both;
	}
	* html #adSEO {
	display: inline-block;
	}

	*+html #adSEO {
	display: inline-block;
	}

#adSEO .title {
float:left;
width:80px;
margin:0;
font-size:1.2em;
line-height:1.3;
color:#4D4D4D;
text-align:center;
}
#adSEO .list {
float:right;
}
#adSEO .list ul {
width:850px;
padding:0 5px 5px 0;
}
#adSEO .list ul li {
display:inline;
margin:0 0 0 5px;
padding:0 5px 0 0;
border-right:1px solid #4D4D4D;
font-size:1.2em;
line-height:1.3;
color:#4D4D4D;
text-indent:0px;
}


/* adSEO20120702 ----------------- */
#adSEO20120702 {
width:960px;
margin:0 auto;
margin-bottom:15px;
border:1px solid #D9D9D9;
text-align:left;
}

	#adSEO20120702:after {
	content: ".";
	display: block;
	visibility: hidden;
	height: 0.1px;
	font-size: 0.1em;
	line-height: 0;
	clear: both;
	}
	* html #adSEO20120702 {
	display: inline-block;
	}

	*+html #adSEO20120702 {
	display: inline-block;
	}

#adSEO20120702 .title {
float:left;
margin:0;
padding:5px;
font-size:1.2em;
line-height:1.3;
text-align:center;
}
#adSEO20120702 .block {
float:left;
width:285px;
padding:5px;
border-left:1px solid #E6E6E6;
}

#adSEO20120702 .block dl {
margin:0;
}
	#adSEO20120702 .block dl:after {
	content: ".";
	display: block;
	visibility: hidden;
	height: 0.1px;
	font-size: 0.1em;
	line-height: 0;
	clear: both;
	}
	* html #adSEO20120702 .block dl {
	display: inline-block;
	}

	*+html #adSEO20120702 .block dl {
	display: inline-block;
	}

#adSEO20120702 .block dl dt {
float:left;
width:50px;
margin:0 ;
text-align:center;
}
#adSEO20120702 .block dl dd {
margin:0;
padding:0 0 0 55px;
}
#adSEO20120702 .block dl dd p.subtitle {
margin:0 0 3px 0;
font-size:1.2em;
line-height:1.3;
font-weight:normal;	
}
#adSEO20120702 .block dl dd ul {
margin:0;
}
	#adSEO20120702 .block dl dd ul:after {
	content: ".";
	display: block;
	visibility: hidden;
	height: 0.1px;
	font-size: 0.1em;
	line-height: 0;
	clear: both;
	}
	* html #adSEO20120702 .block dl dd ul {
	display: inline-block;
	}

	*+html #adSEO20120702 .block dl dd ul {
	display: inline-block;
	}

#adSEO20120702 .block dl dd ul li {
float:left;
margin:0 3px 3px 0;
padding:0 3px 0 0;
border-right:1px solid #333;
font-size:11px;
line-height:1.3;
font-weight:normal;	
}




/* SankeiDigitalServive */
#SankeiDigitalServive {
width:960px;
margin:0 auto;
margin-bottom:25px;
padding:0;
border:1px solid #CCC;
text-align:left;
}
	#SankeiDigitalServive:after {
	content: ".";  
	display: block;  
	visibility: hidden;  
	height: 0.1px;
	font-size: 0.1em;  
	line-height:0;  
	clear: both;  
	}
	* html #SankeiDigitalServive {
	display: inline-block;
	}
	*+html #SankeiDigitalServive {
	display: inline-block;
	}

#SankeiDigitalServive h2{
margin:0 0 9px 0;
padding:7px 5px;
border-bottom:1px solid #CCC; 
background:#004080;
font-size:1.4em;
line-height:1;
color:#FFF;
}
#SankeiDigitalServive .block {
float:left;
width:230px;
margin:0 0 9px 8px;
}

#SankeiDigitalServive .block dl {
margin:0;
}
	#SankeiDigitalServive .block dl:after {
	content: ".";
	display: block;
	visibility: hidden;
	height: 0.1px;
	font-size: 0.1em;
	line-height: 0;
	clear: both;
	}
	* html #SankeiDigitalServive .block dl {
	display: inline-block;
	}

	*+html #SankeiDigitalServive .block dl {
	display: inline-block;
	}

#SankeiDigitalServive .block dl dt {
float:left;
width:70px;
margin:0 ;
text-align:center;
}
#SankeiDigitalServive .block dl dd {
float:right;
width:155px;
margin:0;
}
#SankeiDigitalServive .block dl dd h3 {
margin:0 0 5px 0;
}
#SankeiDigitalServive .block dl dd p {
font-size:1.2em;
line-height:1.3;
font-weight:normal;	
}
#SankeiDigitalServive .block dl dd p a {
color:#4D4D4D;
}

#SankeiDigitalServive .speech{
	position: absolute;
	top: -99999px;
	left: -99999px;
	overflow: hidden;
	font-size: 0;
	height: 0;
	width: 0;
}



#SankeiDigitalServiveBanner{
margin:0 0 10px 0;
}









/* Google  */
#adGoogle {
margin:0 0 25px 0;
}
#adGoogle .gtitle {
margin:0;
font-size:1.4em;
line-height:1.3;
}
#adGoogle .gtitle a {
margin:0;
}
#adGoogle .gtitle span a {
background:none;
}
#adGoogle .glist {
margin:0 0 10px 0;
font-size:1.4em;
line-height:1.3;
}
#adGoogle .glist a {
color:#000;
}

#adGoogle .gImg,
#adGoogle .gFlash {
margin:0 0 10px 0;
text-align:center;
}

#adGoogle h3 {
margin:0 0 10px 0;
font-size:1.2em;
line-height:1.3;
}



/* RakutenWidge */
#contents .adRakutenWidget {
margin:0 0 10px 0;
}


