@charset "utf-8";


#cyclistModule {
	border: 1px solid #D9D9D9;
	margin-bottom: 10px

}

.SidebarCyclist {
	position: relative;
}


.SidebarCyclist h3 {
	background: url("images/h3_bg_001.gif") repeat-x scroll 0 0 #ECECEC;
	border-bottom: 1px solid #D9D9D9;
	font-size: 1.4em;
	margin: 0;
	padding: 5px;
	position:relative;
	text-indent:-9999px;
}

.SidebarCyclist h3 a {
	background: url("images/logo_cyclist.png") no-repeat 5px center;
	width:288px;
	height:16px;
	display:block;
}

.SidebarCyclist h3 a span{
	color:#333333;
	text-indent:0;
	font-size: 0.8em;
	position:absolute;
	right:10px;
	top:7px;
}

.cyclistTopics {
	overflow: hidden;
	margin: 0;
	padding:5px;
	width: 288px;
}

.cyclistTopics ul li:after {
	clear: both;
	content: ".";
	display: block;
	font-size: 0.1em;
	height: 0.1px;
	line-height: 0;
	visibility: hidden;
}

.cyclistTopics ul li .title  {
	padding: 0 0 5px;
	background: url("images/arrow_001.gif") no-repeat scroll 4px 5px transparent;
	margin: 0 0 5px;
	padding: 0 0 0 17px;
	font-size: 1.4em;
	line-height: 1.3;
}

.cyclistTopics ul li.photo .image {
	float: left;
	width: 80px;
	background-color:#d8f9ff;
	text-align:center;
	vertical-align:middle;
}

.cyclistTopics ul li.photo .image img {
	display:block;
	margin:0 auto;
}

.cyclistTopics ul li.photo .title {
	background:none;
	font-size: 1.4em;
	line-height: 1.5;
	padding: 0 0 0 85px;
}