@charset "Shift_JIS";

/* summary ------------------
footer
-------------------------- */

#footer {
padding:7px 0 0 0;
border-top:1px solid #D9D9D9;
}

/* navi ----------------- */
#footer .navi {
width:960px;
margin:0 0 7px 0;
}
	#footer .navi:after {
	content: ".";  
	display: block;  
	visibility: hidden;  
	height: 0.1px;  
	font-size: 0.1em;  
	line-height: 0;  
	clear: both;  
	}
	* html #footer .navi {
	display: inline-block;
	}

	*+html #footer .navi {
	display: inline-block;
	}
#footer ul {
float:left;
}
	#footer .navi ul:after {
	content: ".";  
	display: block;  
	visibility: hidden;  
	height: 0.1px;  
	font-size: 0.1em;  
	line-height: 0;  
	clear: both;  
	}
	* html #footer .navi ul {
	display: inline-block;
	}

	*+html #footer .navi ul {
	display: inline-block;
	}

#footer li {
float:left;
margin:0 5px 0 0;
padding:0 0 0 5px;
border-left:1px solid #000;
font-size:1.2em;
line-height:1.3;
}
#footer li.first {
margin:0 5px 0 0;
padding:0;
border-left:none;
}
#footer li img {
vertical-align:middle;
}
#footer .anchor {
float:right;
font-size:1.2em;
line-height:1.3;
}
#footer .anchor a {
padding:0 0 0 15px;
background:url(images/arrow_005.gif) no-repeat left center;
}


/* copyright ----------------- */
#footer .copyright {
background:#FEBB2B url(images/copyright_bg.gif) repeat-x left top;
}
#footer .copyright span {
display:block;
height:18px;
padding:7px 0 0 25px;
background:url(images/copyright_icon.gif) no-repeat 4px top;
font-size:12px;
}


