@charset "Shift_JIS";

/* summary ------------------
header
-------------------------- */


/* HeaderMainTop ----------------- */
#HeaderMainTop {
margin:0 0 5px 0;
}
	#HeaderMainTop:after {
	content: ".";  
	display: block;  
	visibility: hidden;  
	height: 0.1px;  
	font-size: 0.1em;  
	line-height: 0;  
	clear: both;  
	}
	* html #HeaderMainTop {
	display: inline-block;
	}

	*+html #HeaderMainTop {
	display: inline-block;
	}

#HeaderMainTop .logo {
float:left;
width:242px;
}
#HeaderMainTop .HeaderBlock01 {
float:left;
width:350px;
margin:0;
}
#HeaderMainTop .HeaderBlock01 p.lead {
height:35px;
}
#HeaderMainTop .HeaderBlock01 .HeaderNavi li {
display:inline;
margin:0 10px 0 0;
padding:2px 0 0 13px;
font-size:1.2em;
line-height:1.3;
}
#HeaderMainTop .HeaderBlock01 .HeaderNavi li.a {
background:url(images/header_icon_001.gif) no-repeat;
}
#HeaderMainTop .HeaderBlock01 .HeaderNavi li.b {
background:url(images/header_icon_002.gif) no-repeat;
}
#HeaderMainTop .HeaderBlock01 .HeaderNavi li.c {
background:url(images/header_icon_003.gif) no-repeat;
}
#HeaderMainTop .HeaderBlock01 .HeaderNavi li.d {
background:url(images/header_icon_004.gif) no-repeat;
}

#HeaderMainTop .HeaderBlock02 {
float:left;
width:365px;
text-align:right;
}
#HeaderMainTop .HeaderBlock02 .LinkList {
margin:0 0 5px 0;
}
#HeaderMainTop .HeaderBlock02 .LinkList li {
display:inline;
margin:0 0 0 4px;
}

#HeaderMainTop .HeaderBlock02 .search {
font-size:12px;
}
#HeaderMainTop .HeaderBlock02 .search .text {
width:135px;
vertical-align:middle;
}
#HeaderMainTop .HeaderBlock02 .search .select {
width:85px;
vertical-align:middle;
}
#HeaderMainTop .HeaderBlock02 .search .submit {
vertical-align:middle;
}
#HeaderMainTop .HeaderBlock02 .search img {
vertical-align:middle;
}


#HeaderMainTop .HeaderBlock03 {
float:left;
width:200px;
margin:0;
}
#HeaderMainTop .HeaderBlock03 p.lead {
height:35px;
}
#HeaderMainTop .HeaderBlock03 .HeaderNavi li {
display:inline;
margin:0 10px 0 0;
padding:2px 0 0 13px;
font-size:1.2em;
line-height:1.3;
}
#HeaderMainTop .HeaderBlock03 .HeaderNavi li.a {
background:url(images/header_icon_001.gif) no-repeat;
}
#HeaderMainTop .HeaderBlock03 .HeaderNavi li.b {
background:url(images/header_icon_002.gif) no-repeat;
}
#HeaderMainTop .HeaderBlock03 .HeaderNavi li.c {
background:url(images/header_icon_003.gif) no-repeat;
}
#HeaderMainTop .HeaderBlock03 .HeaderNavi li.d {
background:url(images/header_icon_004.gif) no-repeat;
}

#HeaderMainTop .HeaderBlock04 {
float:left;
width:150px;
margin:16px 0 0 0;
}
#HeaderMainTop .HeaderBlock04 ul.SNSButton {
margin:0;
}
#HeaderMainTop .HeaderBlock04 ul.SNSButton li {
margin:0 0 0 5px;
display:inline-block;
}



/* HeaderMain ----------------- */
#HeaderMain {
margin:0 0 5px 0;
}
	#HeaderMain:after {
	content: ".";  
	display: block;  
	visibility: hidden;  
	height: 0.1px;  
	font-size: 0.1em;  
	line-height: 0;  
	clear: both;  
	}
	* html #HeaderMain {
	display: inline-block;
	}

	*+html #HeaderMain {
	display: inline-block;
	}

#HeaderMain .logo {
float:left;
width:270px;
}
#HeaderMain .HeaderNavi {
float:left;
width:345px;
margin:15px 0 0 0;
}

#HeaderMain .HeaderNavi li {
display:inline;
margin:0 10px 0 0;
padding:2px 0 0 13px;
font-size:1.2em;
line-height:1.3;
}
#HeaderMain .HeaderNavi li.a {
background:url(images/header_icon_001.gif) no-repeat;
}
#HeaderMain .HeaderNavi li.b {
background:url(images/header_icon_002.gif) no-repeat;
}
#HeaderMain .HeaderNavi li.c {
background:url(images/header_icon_003.gif) no-repeat;
}
#HeaderMain .HeaderNavi li.d {
background:url(images/header_icon_004.gif) no-repeat;
}


#HeaderMain .HeaderNavi02 {
float:left;
width:205px;
margin:15px 0 0 0;
}
#HeaderMain .HeaderNavi02 li {
display:inline;
margin:0 10px 0 0;
padding:2px 0 0 13px;
font-size:1.2em;
line-height:1.3;
}
#HeaderMain .HeaderNavi02 li.a {
background:url(images/header_icon_001.gif) no-repeat;
}
#HeaderMain .HeaderNavi02 li.b {
background:url(images/header_icon_002.gif) no-repeat;
}
#HeaderMain .HeaderNavi02 li.c {
background:url(images/header_icon_003.gif) no-repeat;
}
#HeaderMain .HeaderNavi02 li.d {
background:url(images/header_icon_004.gif) no-repeat;
}



#HeaderMain ul.SNSButton {
float:left;
width:140px;
margin:0;
}
#HeaderMain ul.SNSButton li {
margin:0 0 0 5px;
display:inline-block;
}


#HeaderMain .LinkList {
float:left;
width:345px;
margin:10px 0 0 0;
}
#HeaderMain .LinkList li {
display:inline;
margin:0 0 0 4px;
}




/* GlobalNavi ----------------- */
#GlobalNavi {
width:950px;
padding:0 0 0 10px;
background:#FEBB2B url(images/header_bg_001.gif) no-repeat;
font-size:1.4em;
}
	#GlobalNavi:after {
	content: ".";  
	display: block;  
	visibility: hidden;  
	height: 0.1px;  
	font-size: 0.1em;  
	line-height: 0;  
	clear: both;  
	}
	* html #GlobalNavi {
	display: inline-block;
	}

	*+html #GlobalNavi {
	display: inline-block;
	}

#GlobalNavi ul {
float:left;
width:470px;
border-left:1px solid #D89F25;
}
	#GlobalNavi ul:after {
	content: ".";  
	display: block;  
	visibility: hidden;  
	height: 0.1px;  
	font-size: 0.1em;  
	line-height: 0;  
	clear: both;  
	}
	* html #GlobalNavi ul {
	display: inline-block;
	}

	*+html #GlobalNavi ul {
	display: inline-block;
	}

#GlobalNavi ul li {
float:left;
}
#GlobalNavi ul li.last {
border-right:1px solid #FFAF35;
}
#GlobalNavi ul li a {
display:block;
padding:8px;
color:#000;
text-decoration:none;
border-right:1px solid #D89F25;
border-left:1px solid #FFAF35;
}

#GlobalNavi ul li a:hover,
#GlobalNavi ul li a:active,
#GlobalNavi ul li a.active {
border-right:1px solid #D0D0D0;
border-left:none;
padding:8px 8px 8px 9px;
background:#FFF url(images/header_bg_003.gif) repeat-x;
}
#GlobalNavi .button {
float:right;
width:470px;
padding:0 0 3px 0;
text-align:right;
}
#GlobalNavi .button img {
margin:0 4px 0 0;
}


/* GlobalNaviNews ----------------- */
#GlobalNaviNews {
width:958px;
margin:0 0 10px 0;
background:#ECECEC url(images/header_bg_002.gif) repeat-x;
border-bottom:1px solid #D9D9D9;
border-right:1px solid #D9D9D9;
border-left:1px solid #D9D9D9;
font-size:1.4em;
}
#GlobalNaviNews ul {
padding:8px 0 3px 0;
}
	#GlobalNaviNews ul:after {
	content: ".";  
	display: block;  
	visibility: hidden;  
	height: 0.1px;  
	font-size: 0.1em;  
	line-height: 0;  
	clear: both;  
	}
	* html #GlobalNaviNews ul {
	display: inline-block;
	}

	*+html #GlobalNaviNews ul {
	display: inline-block;
	}


#GlobalNaviNews ul li {
float:left;
padding:2px 8px;
border-left:1px solid #D6D6D6;
color:#999;
}
	html*#GlobalNaviNews ul li  {letter-spacing: -1px;} /* Safari */
	
#GlobalNaviNews ul li.first {
padding:2px 8px 2px 10px;
border-left:none;
}
#GlobalNaviNews ul li a {
color:#000;
}
#GlobalNaviNews ul li a:hover,
#GlobalNaviNews ul li a.active {
color:#7F7F7F;
}
