@charset "Shift_JIS";


#ironnaModule {
	border: 1px solid #D9D9D9;
	margin-bottom: 10px

}

.SidebarIronna {
	position: relative;
}


.SidebarIronna h3 {
	background: url("images/h3_bg_001.gif") repeat-x scroll 0 0 #ECECEC;
	border-bottom: 1px solid #D9D9D9;
	font-size: 1.4em;
	margin: 0;
	padding: 5px;
	position:relative;
	text-indent:-9999px;
}

.SidebarIronna h3 a {
	background: url("images/logo_ironna.png") no-repeat 5px center;
	width:288px;
	height:16px;
	display:block;
}

.SidebarIronna h3 a span{
	color:#333333;
	text-indent:0;
	font-size: 0.8em;
	position:absolute;
	right:10px;
	top:7px;
}

.SidebarIronna  ul {
	padding: 0 5px;
}

.SidebarIronna  li {
	margin: 0 0 10px 0;
	padding: 0 0 0 20px;
	background: url(images/arrow_001.gif) no-repeat left 1px;
	font-size: 1.4em;
	line-height: 1.2;
}

.SidebarIronna  li:after {
	content: "."; 
	display: block; 
	visibility: hidden; 
	height: 0.1px; 
	font-size: 0.1em; 
	line-height: 0; 
	clear: both;
}

.SidebarIronna  li.headline {
	margin: 5px 0;
	padding: 0;
	background: none;
}

.SidebarIronna li.headline a {
	margin-left: 0;
}

.SidebarIronna  li.headline div {
	vertical-align: middle;
}

.SidebarIronna  .photo {
	background-color: #fff;
	text-align: center;
	display: block;
	margin: 0 auto 5px;
	overflow: hidden;
}

.SidebarIronna  .photo img {
	display: block;
	margin: 0 auto;
	vertical-align: middle;
}
