@charset "Shift_JIS";

/* summary ------------------
1.layout
-------------------------- */


/* layout ----------------- */
body {
width:100%;
text-align:center;
}

#header {
width:960px;
margin:0 auto;
padding:10px 0 0 0;
text-align:left;
}

#container {
width:960px;
margin:0 auto;
text-align:left;
}

#contents {
width:960px;
overflow:hidden;
}

#footer {
width:960px;
margin:0 auto;
text-align:left;
}
