@charset "Shift_JIS";

/* summary ------------------
sidebar
-------------------------- */


/* search ----------------- */
#sidebar #search {
margin:0 0 10px 0;
}
#sidebar #search .form {
margin:0 0 7px 0;
font-size:12px;
}
#sidebar #search .form .text {
width:155px;
vertical-align:middle;
}
#sidebar #search .form .submit {
vertical-align:middle;
}
#sidebar #search .form a img {
vertical-align:middle;
}




/* AdultBox ----------------- */
#sidebar #AdultBox {
margin:0 0 10px 0;
background:#FFF;
}
#sidebar #AdultBox h3 {
padding:5px;
background:#ECECEC url(images/h3_bg_001.gif) repeat-x;
border:1px solid #D9D9D9;
font-size:1.4em;
position:relative;
}
#sidebar #AdultBox h3 span {
display:inline-block;
position:absolute;
right:5px;
top:5px;
}
#sidebar #AdultBox .expander {
padding:7px 5px;
border:1px solid #D9D9D9;
border-top:none;
}
	#sidebar #AdultBox .expander:after {
	content: ".";  
	display: block;  
	visibility: hidden;  
	height: 0.1px;  
	font-size: 0.1em;  
	line-height: 0;  
	clear: both;  
	}
	* html #sidebar #AdultBox .expander {
	display: inline-block;
	}

	*+html #sidebar #AdultBox .expander {
	display: inline-block;
	}


#sidebar #AdultBox .expander .photo {
float:left;
width:60px;
}
#sidebar #AdultBox .expander ul.contents {
margin:0 0 0 70px;
font-size:1.4em;
}
#sidebar #AdultBox .expander ul.contents li {
margin:0 0 7px 0;
}
#sidebar #AdultBox .expander ul.contents li.main {
font-weight:bold;
}

#sidebar #AdultBox .expander ul.site {
margin:0 0 0 70px;
padding:7px 0 0 0;
border-top:1px dotted #B2B2B2;
font-size:1.4em;
}
#sidebar #AdultBox .expander ul.site li {
display:inline;
padding:0 0 0 5px;
}
#sidebar #AdultBox .expander ul.site li.first {
border-right:1px solid #000;
padding:0 5px 0 0;
}




/* PickUpNews ----------------- */
#sidebar #PickUpNews {
margin:0 0 10px 0;
border:1px solid #D9D9D9;
}
#sidebar #PickUpNews h3 {
margin:0 0 7px 0;
padding:5px;
background:#ECECEC url(images/h3_bg_001.gif) repeat-x;
border-bottom:1px solid #D9D9D9;
font-size:1.4em;
}
#sidebar #PickUpNews ul.text {
margin:0 5px 10px 5px;
}

#sidebar #PickUpNews ul.text li {
margin:0 0 10px 0;
padding:0 0 0 20px;
background:url(images/arrow_003.gif) no-repeat left 1px;
font-size:1.4em;
line-height:1.2;
}
#sidebar #PickUpNews ul.text li a:visited {
color:#551A8B;
}


#sidebar #PickUpNews .PhotoSlider {
width: 288px;
margin:0 5px;
padding:0 0 7px 0;
position: relative;
overflow: hidden;
}
#sidebar #PickUpNews .PhotoSlider .back {
width:14px;
height:80px;
background:url(../images/slide_button_001b.gif) no-repeat;
position: absolute;
top: 0;
left: 0;
z-index: 2;
}
#sidebar #PickUpNews .PhotoSlider .next {
width:14px;
height:80px;
background:url(../images/slide_button_002b.gif) no-repeat;
position: absolute;
top: 0;
right: 0;
z-index: 2;
}
#sidebar #PickUpNews .PhotoSlider .back a,
#sidebar #PickUpNews .PhotoSlider .next a {
display: none;
}
#sidebar #PickUpNews .PhotoSlider ul {
width: auto;
height:80px;
margin:0 0 0 15px;
position: relative;
left:0;
overflow: hidden;
z-index: 1;
}
#sidebar #PickUpNews .PhotoSlider li {
float:left;
width:81px;
text-align:center;
}
#sidebar #PickUpNews .PhotoSlider li a {
display:block;
width:80px;
height:80px;
background:#F7F7F7;
text-decoration:none;
}
#sidebar #PickUpNews .PhotoSlider li a img {
border:none;
}
.view_all {
display:none;
}



	#sidebar #PickUpNews .PhotoSlider ul:after {
	content: ".";  
	display: block;  
	visibility: hidden;  
	height: 0.1px;  
	font-size: 0.1em;  
	line-height: 0;  
	clear: both;  
	}
	* html #sidebar #PickUpNews .PhotoSlider ul {
	display: inline-block;
	}

	*+html #sidebar #PickUpNews .PhotoSlider ul {
	display: inline-block;
	}
	
	



/* Ranking ----------------- */
#sidebar #Ranking {
margin:0 0 10px 0;
border:1px solid #D9D9D9;
}
#sidebar #Ranking h3 {
margin:0 0 7px 0;
padding:5px;
background:#ECECEC url(images/h3_bg_001.gif) repeat-x;
border-bottom:1px solid #D9D9D9;
font-size:1.4em;
}
#sidebar #Ranking ul.NewsList {
margin:0 5px 10px 5px;
}
#sidebar #Ranking ul.NewsList li {
position:relative;
margin:0 0 10px 0;
}
#sidebar #Ranking ul.NewsList li img {
margin:0 0 0 3px;
}
#sidebar #Ranking ul.NewsList li a {
display:inline-block; 
padding:0 0 0 1.6em;
font-size:1.4em;
line-height:1.3;
}
#sidebar #Ranking ul.NewsList li a:visited {
color:#551A8B;
}
#sidebar #Ranking ul.NewsList li span {
display:inline-block; 
position:absolute;
width:1.6em;
padding:0.2em 0;
background:#FF9900;
color:#FFF;
text-align:center;
font-size:1.0em;
top:0;
left:0.2em;
}

#sidebar #Ranking ul.PhotoList {
margin:0 1px 10px 5px;
}
	#sidebar #Ranking ul.PhotoList:after {
	content: ".";  
	display: block;  
	visibility: hidden;  
	height: 0.1px;  
	font-size: 0.1em;  
	line-height: 0;  
	clear: both;  
	}
	* html #sidebar #Ranking ul.PhotoList {
	display: inline-block;
	}

	*+html #sidebar #Ranking ul.PhotoList {
	display: inline-block;
	}
	

#sidebar #Ranking ul.PhotoList li {
width:97px;
height:83px;
float:left;
}
	#sidebar #Ranking ul.PhotoList li:after {
	content: ".";  
	display: block;  
	visibility: hidden;  
	height: 0.1px;  
	font-size: 0.1em;  
	line-height: 0;  
	clear: both;  
	}
	* html #sidebar #Ranking ul.PhotoList li {
	display: inline-block;
	}

	*+html #sidebar #Ranking ul.PhotoList li {
	display: inline-block;
	}
	

#sidebar #Ranking ul.PhotoList li span {
display:block;
float:left;
width:13px;
height:78px;
padding:2px 0 0 1px;
background:#FF9900;
color:#FFF;
text-align:center;
font-size:1.0em;
}
#sidebar #Ranking ul.PhotoList li a {
display:block;
float:left;
width:80px;
height:80px;
background:#F7F7F7;
text-align:center;
}

#sidebar #Ranking .more {
margin:0 5px 7px 5px;
padding:10px 0 0 0;
border-top:1px dotted #B2B2B2;
text-align:right;
}
#sidebar #Ranking .more a {
padding:0 0 0 10px;
background:url(images/arrow_004.gif) no-repeat left center;
font-size:1.2em;
}


/* PressRelease ----------------- */
#sidebar #PressRelease {
margin:0 0 10px 0;
border:1px solid #D9D9D9;
background:#FFF;
}
#sidebar #PressRelease h3 {
margin:0 0 7px 0;
padding:5px;
background:#ECECEC url(images/h3_bg_001.gif) repeat-x;
border-bottom:1px solid #D9D9D9;
font-size:1.4em;
font-weight:normal;
position:relative;
}
#sidebar #PressRelease h3 span {
display:inline-block;
position:absolute;
right:5px;
top:6px;
}
#sidebar #PressRelease h3 a {
color:#333;
}
#sidebar #PressRelease ul.list {
margin:0 5px;
}
#sidebar #PressRelease ul.list li {
margin:0 0 10px 0;
padding:0 0 0 20px;
background:url(images/arrow_001.gif) no-repeat left 1px;
font-size:1.4em;
line-height:1.2;
}
#sidebar #PressRelease ul.list li a:visited {
color:#551A8B;
}
#sidebar #PressRelease ul.list li img {
margin:0 0 0 3px;
}
