@charset "Shift_JIS";


/*--- デザイン ---*/


/*--- 表示 ---*/

div#deviceKit {
	margin:20px 250px;
}

div#deviceKit a{
	background-color: #000;
	font-size: 3em;
	font-weight: bold;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	-webkit-box-shadow: 1px 1px 3px #eee, inset  0 0 5px #fff;
	-moz-box-shadow: 1px 1px 3px #eee, inset  0 0 5px #fff;
	-ms-box-shadow: 1px 1px 3px #eee, inset  0 0 5px #fff;
	-o-box-shadow: 1px 1px 3px #eee, inset  0 0 5px #fff;
	box-shadow:inset 1px 1px 5px #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	height: 70px;

	width: 460px;
	overflow: hidden;
	color: #fff;
	-webkit-text-shadow: 0 -1px 1px #eee;
	-moz-text-shadow: 0 -1px 1px #eee;
	-ms-text-shadow: 0 -1px 1px #eee;
	-o-text-shadow: 0 -1px 1px #eee;
	text-shadow: 0 -1px 1px #eee;
}

/*-- 押され --*/

div#deviceKit a:active {
	background-color: #000;
	color: #fff;
	-webkit-box-shadow: -1px -1px 2px #ccc;
	-moz-box-shadow: -1px -1px 2px #ccc;
	-ms-box-shadow: -1px -1px 2px #ccc;
	-o-box-shadow: -1px -1px 2px #ccc;
	box-shadow: -1px -1px 2px #ccc;
}


/*--- landscapeの場合、全OB_小さめにする ---*/

@media only screen and (orientation : landscape) {
	div#deviceKit a{
		height: 70px;
	}
}

div#deviceKit .speech {
	display:none;
}