@charset "Shift_JIS";

/* summary ------------------
EC
-------------------------- */


/* contents ----------------- */
#contents .ECmodule {
width:648px;
margin:0 0 20px 0;
background:#FFF;
border:1px solid #D9D9D9;
}

	#contents .ECmodule:after {
	content: ".";  
	display: block;  
	visibility: hidden;  
	height: 0.1px;  
	font-size: 0.1em;  
	line-height: 0;  
	clear: both;  
	}
	#contents .ECmodule {
	display: inline-block;
	}
	

/* トップページ用 */
#contents .LeftArea .ECmodule {
margin:0 0 10px 0;
}



#contents .ECmodule .banner {
float:left;
width:324px;
}

#contents .ECmodule .list {
float:right;
width:308px;
padding:7px 5px 0 0;
}
#contents .ECmodule .list h3 {
text-align:right;
}


#contents .ECmodule ul.text {
margin:0;
}
#contents .ECmodule ul.text li {
margin:0 0 10px 0;
padding:0 0 0 20px;
background:url(images/arrow_001.gif) no-repeat left 1px;
font-size:1.4em;
line-height:1.2;
}
#contents .ECmodule ul.text li a:visited {
color:#551A8B;
}
#contents .ECmodule ul.text li img {
margin:0 0 0 3px;
}

#contents .ECmodule .menu {
width:302px;
}
	#contents .ECmodule .menu:after {
	content: ".";  
	display: block;  
	visibility: hidden;  
	height: 0.1px;  
	font-size: 0.1em;  
	line-height: 0;  
	clear: both;  
	}
	#contents .ECmodule .menu {
	display: inline-block;
	}
#contents .ECmodule .menu h3 {
float:left;
width:150px;
}

#contents .ECmodule .menu ul {
float:right;
width:110px;
}
#contents .ECmodule .menu ul li {
font-size:12px;
float:left;
margin:0 0 0 5px;
}
#contents .ECmodule .menu ul li a {
display:block;
width:14px;
padding:2px 0;
font-size:12px;
border:1px solid #93A0CD;
text-align:center;
}
#contents .ECmodule .menu ul li a:hover {
background:#000;
color:#FFF;
border:1px solid #000;
text-decoration:none;
}
#contents .ECmodule .menu ul li.active {
display:block;
width:14px;
padding:2px 0;
font-size:12px;
background:#CCC;
color:#000;
border:1px solid #000;
text-align:center;
}

/* sidebar ----------------- */
#sidebar .ECparts {
margin:0 0 10px 0;
border:1px solid #D9D9D9;
}
#sidebar .ECparts h3 {
margin:0 0 7px 0;
padding:5px;
background:#ECECEC url(images/h3_bg_001.gif) repeat-x;
border-bottom:1px solid #D9D9D9;
font-size:1.4em;
}

#sidebar .ECparts .banner {
margin:0 5px 10px 5px;
}
#sidebar .ECparts p {
margin:0 5px 10px 5px;
font-size:1.4em;
line-height:1.2;
}