@charset "Shift_JIS";

/* summary ------------------
top
-------------------------- */
#GlobalNaviNews {
margin:0 0 15px 0!important;
}



/* contents ----------------- */
	#container:after {
	content: ".";  
	display: block;  
	visibility: hidden;  
	height: 0.1px;  
	font-size: 0.1em;  
	line-height: 0;  
	clear: both;  
	}
	
	* html #container {
	display: inline-block;
	}

	*+html #container {
	display: inline-block;
	}

#contents .layout2 {
width:960px;
}
#contents .LeftArea {
float:left;
width:650px;
overflow:hidden;
}
#contents .RightArea {
float:right;
width:300px;
}
	#contents:after,
	#contents .layout2:after {
	content: ".";  
	display: block;  
	visibility: hidden;  
	height: 0.1px;  
	font-size: 0.1em;  
	line-height: 0;  
	clear: both;  
	}
	* html #contents,
	* html #contents .layout2 {
	display: inline-block;
	}

	*+html #contents,
	*+html #contents .layout2 {
	display: inline-block;
	}


/* TopNews ----------------- */
#contents #TopNews {
width:960px;
margin:0 0 10px 0;
}
	#contents #TopNews:after {
	content: ".";  
	display: block;  
	visibility: hidden;  
	height: 0.1px;  
	font-size: 0.1em;  
	line-height: 0;  
	clear: both;  
	}
	* html #contents #TopNews {
	display: inline-block;
	}

	*+html #contents #TopNews {
	display: inline-block;
	}

#contents #TopNews h1 {
margin:5px 0 0 0;
padding:0 0 5px 0;
font-size:1em;
}
#contents #TopNews h1 img {
margin:0 5px 0 0;
vertical-align:middle;
}
#contents #TopNews h1 a {
font-size:2.6em;
vertical-align:middle;
}
#contents #TopNews .lead {
margin:0 0 0 10px;
font-size:1.4em;
vertical-align:middle;
color:#CC0000;
}

#contents #TopNews p.text {
margin:0 0 18px 0;
font-size:1.4em;
line-height:1.3;
}
#contents #TopNews p.text a {
font-weight:bold
}

#contents #TopNews a:visited {
color:#551A8B;
}



#contents #TopNews #PickupNews {
float:left;
width: 650px;
padding:5px 0;
background:url(../images/top_parts_001.gif) no-repeat left top;
}
#contents #TopNews #PickupNews .PhotoSlider {
width: 640px;
margin:0 0 0 5px;
position: relative;
overflow: hidden;
background:#171717;
}
#contents #TopNews #PickupNews .PhotoSlider .back {
width:30px;
height:240px;
background:url(../images/slide_button_003b.gif) no-repeat;
position: absolute;
top: 0;
left: 0;
z-index: 2;
}
#contents #TopNews #PickupNews .PhotoSlider .next {
width:30px;
height:240px;
background:url(../images/slide_button_004b.gif) no-repeat;
position: absolute;
top: 0;
left: 610px;
z-index: 2;
}
#contents #TopNews #PickupNews .PhotoSlider .back a,
#contents #TopNews #PickupNews .PhotoSlider .next a {
display: none;
}
#contents #TopNews #PickupNews .PhotoSlider ul {
width: 3000px;
margin:0 0 0 30px;
position: relative;
left:0;
overflow: hidden;
z-index: 1;
}
	#contents #TopNews #PickupNews .PhotoSlider ul:after {
	content: ".";  
	display: block;  
	visibility: hidden;  
	height: 0.1px;  
	font-size: 0.1em;  
	line-height: 0;  
	clear: both;  
	}
	* html #contents #TopNews #PickupNews .PhotoSlider ul {
	display: inline-block;
	}

	*+html #contents #TopNews #PickupNews .PhotoSlider ul {
	display: inline-block;
	}

#contents #TopNews #PickupNews .PhotoSlider li {
float:left;
width:132px;
padding:3px 0;
}
#contents #TopNews #PickupNews .PhotoSlider li.spa {
width:264px;
}
#contents #TopNews #PickupNews .PhotoSlider li h2 {
width:125px;
height:230px;
padding:2px;
background:#FFF;
overflow:hidden;
font-size:1em;
}
#contents #TopNews #PickupNews .PhotoSlider li h2 a:visited {
color:#551A8B;
}


#contents #TopNews #PickupNews .PhotoSlider li h2 .photo {
display:block;
margin:0 0 5px 0;
}
#contents #TopNews #PickupNews .PhotoSlider li h2 .text {
display:block;
font-size:1.4em;
line-height:1.3;
}
	html*#contents #TopNews #PickupNews .PhotoSlider li h2 .text  {letter-spacing: -1px;} /* Safari */

.view_all {
display:none;
}


/* CategoryNewsList01 ----------------- */
#contents #CategoryNewsList01 {
width:980px;
}
	#contents #CategoryNewsList01:after {
	content: ".";  
	display: block;  
	visibility: hidden;  
	height: 0.1px;  
	font-size: 0.1em;  
	line-height: 0;  
	clear: both;  
	}
	* html #contents #CategoryNewsList01 {
	display: inline-block;
	}

	*+html #contents #CategoryNewsList01 {
	display: inline-block;
	}

#contents #CategoryNewsList01 .CategoryBox {
margin:0 10px 10px 0;
background:#FFF;
border:1px solid #D9D9D9;
}
#contents #CategoryNewsList01 .first {
width:318px;
clear:left;
float:left;
}
#contents #CategoryNewsList01 .second {
width:318px;
float:left;
}
#contents #CategoryNewsList01 .last {
width:298px;
float:left;
}
	* html #contents #CategoryNewsList01 .first {float:left;}
	*+html #contents #CategoryNewsList01 .first {float:left;}
	* html #contents #CategoryNewsList01 .second {float:left;margin:0 6px 10px 0;}
	* html #contents #CategoryNewsList01 .last {float:none;margin:0 0 10px 0;}
	*+html #contents #CategoryNewsList01 .last {float:none;}


#contents #CategoryNewsList01 .CategoryBox h3 {
margin:0 0 7px 0;
padding:5px;
background:#ECECEC url(images/h3_bg_001.gif) repeat-x;
border-bottom:1px solid #D9D9D9;
font-size:1.4em;
font-weight:normal;
position:relative;
}
#contents #CategoryNewsList01 .CategoryBox h3 span {
display:inline-block;
position:absolute;
right:5px;
top:6px;
}

#contents #CategoryNewsList01 .CategoryBox h3 a {
color:#333;
}

#contents #CategoryNewsList01 .CategoryBox p.pickup {
margin:0 5px 10px 5px;
}
	#contents #CategoryNewsList01 .CategoryBox p.pickup:after {
	content: ".";  
	display: block;  
	visibility: hidden;  
	height: 0.1px;  
	font-size: 0.1em;  
	line-height: 0;  
	clear: both;  
	}
	* html #contents #CategoryNewsList01 .CategoryBox p.pickup {
	display: inline-block;
	}

	*+html #contents #CategoryNewsList01 .CategoryBox p.pickup {
	display: inline-block;
	}

#contents #CategoryNewsList01 .CategoryBox p.pickup a:visited {
color:#551A8B;
}
#contents #CategoryNewsList01 .CategoryBox p.pickup span.photo {
float:left;
display:block;
width:80px;
height:80px;
padding:2px;
border:1px solid #93A0CD;
text-align:center;
}
#contents #CategoryNewsList01 .CategoryBox p.pickup span.title,
#contents #CategoryNewsList01 .CategoryBox p.pickup span.text {
display:block;
padding:0 0 0 96px;
font-size:1.4em;
line-height:1.3;
}

#contents #CategoryNewsList01 .CategoryBox ul.list {
margin:0 5px;
}
#contents #CategoryNewsList01 .CategoryBox ul.list li {
margin:0 0 10px 0;
padding:0 0 0 20px;
background:url(images/arrow_001.gif) no-repeat left 1px;
font-size:1.4em;
line-height:1.2;
}
#contents #CategoryNewsList01 .CategoryBox ul.list li a:visited {
color:#551A8B;
}
#contents #CategoryNewsList01 .CategoryBox ul.list li img {
margin:0 0 0 3px;
}


#contents #CategoryNewsList01 .CategoryBox .more {
margin:0 5px 7px 5px;
padding:10px 0 0 0;
border-top:1px dotted #B2B2B2;
text-align:right;
}
#contents #CategoryNewsList01 .CategoryBox .more a {
padding:0 0 0 10px;
background:url(images/arrow_004.gif) no-repeat left center;
font-size:1.2em;
}

/* CategoryNewsList02 ----------------- */
#contents #CategoryNewsList02 {
width:650px;
}
#contents #CategoryNewsList02 .CategoryBox {
width:648px;
margin:0 0 10px 0;
background:#FFF;
border:1px solid #D9D9D9;
}

	#contents #CategoryNewsList02 .CategoryBox:after {
	content: ".";  
	display: block;  
	visibility: hidden;  
	height: 0.1px;  
	font-size: 0.1em;  
	line-height: 0;  
	clear: both;  
	}
	* html #contents #CategoryNewsList02 .CategoryBox {
	display: inline-block;
	}

	*+html #contents #CategoryNewsList02 .CategoryBox {
	display: inline-block;
	}

#contents #CategoryNewsList02 .CategoryBox p.pickup {
float:left;
width:325px;
}

#contents #CategoryNewsList02 .CategoryBox .CategoryList {
float:right;
width:308px;
margin:7px 5px 0 0;
}

#contents #CategoryNewsList02 .CategoryBox ul.list {
margin:0;
}
#contents #CategoryNewsList02 .CategoryBox ul.list li {
margin:0 0 10px 0;
padding:0 0 0 20px;
background:url(images/arrow_001.gif) no-repeat left 1px;
font-size:1.4em;
line-height:1.2;
}
#contents #CategoryNewsList02 .CategoryBox ul.list li a:visited {
color:#551A8B;
}
#contents #CategoryNewsList02 .CategoryBox ul.list li img {
margin:0 0 0 3px;
}

#contents #CategoryNewsList02 .CategoryBox .more {
margin:0 5px 7px 5px;
padding:10px 0 0 0;
border-top:1px dotted #B2B2B2;
text-align:right;
}
#contents #CategoryNewsList02 .CategoryBox .more a {
padding:0 0 0 10px;
background:url(images/arrow_004.gif) no-repeat left center;
font-size:1.2em;
}


/* CategoryNewsList03 ----------------- */
#contents #CategoryNewsList03 {
width:300px;
}
#contents #CategoryNewsList03 .CategoryBox {
width:298px;
margin:0 0 10px 0;
background:#FFF;
border:1px solid #D9D9D9;
}
#contents #CategoryNewsList03 .CategoryBox h3 {
margin:0 0 7px 0;
padding:5px;
background:#ECECEC url(images/h3_bg_001.gif) repeat-x;
border-bottom:1px solid #D9D9D9;
font-size:1.4em;
font-weight:normal;
position:relative;
}
#contents #CategoryNewsList03 .CategoryBox h3 span {
display:inline-block;
position:absolute;
right:5px;
top:6px;
}
#contents #CategoryNewsList03 .CategoryBox h3 a {
color:#333;
}


#contents #CategoryNewsList03 .CategoryBox p.pickup {
margin:0 5px 10px 5px;
}
	#contents #CategoryNewsList03 .CategoryBox p.pickup:after {
	content: ".";  
	display: block;  
	visibility: hidden;  
	height: 0.1px;  
	font-size: 0.1em;  
	line-height: 0;  
	clear: both;  
	}
	* html #contents #CategoryNewsList03 .CategoryBox p.pickup {
	display: inline-block;
	}

	*+html #contents #CategoryNewsList03 .CategoryBox p.pickup {
	display: inline-block;
	}

#contents #CategoryNewsList03 .CategoryBox p.pickup span.photo {
float:left;
display:block;
width:125px;
background:#F7F7F7;
text-align:center;
}
#contents #CategoryNewsList03 .CategoryBox p.pickup span.title,
#contents #CategoryNewsList03 .CategoryBox p.pickup span.text {
display:block;
padding:0 0 0 135px;
font-size:1.4em;
line-height:1.3;
}



#contents #CategoryNewsList03 .CategoryBox ul.list {
margin:0 5px;
}
#contents #CategoryNewsList03 .CategoryBox ul.list li {
padding:0 0 10px 0;
}
	#contents #CategoryNewsList03 .CategoryBox ul.list li:after {
	content: ".";  
	display: block;  
	visibility: hidden;  
	height: 0.1px;  
	font-size: 0.1em;  
	line-height: 0;  
	clear: both;  
	}
	* html #contents #CategoryNewsList03 .CategoryBox ul.list li {
	display: inline-block;
	}

	*+html #contents #CategoryNewsList03 .CategoryBox ul.list li {
	display: inline-block;
	}


#contents #CategoryNewsList03 .CategoryBox ul.list li span.photo {
float:left;
display:block;
width:80px;
height:80px;
padding:2px;
border:1px solid #93A0CD;
text-align:center;
}


#contents #CategoryNewsList03 .CategoryBox ul.list li span.title,
#contents #CategoryNewsList03 .CategoryBox ul.list li span.text {
display:block;
padding:0 0 0 90px;
font-size:1.4em;
line-height:1.3;
}

#contents #CategoryNewsList03 .campaigngirl .title a:visited {
color:#551A8B;
}

#contents #CategoryNewsList03 .CategoryBox .more {
margin:0 5px 7px 5px;
padding:10px 0 0 0;
border-top:1px dotted #B2B2B2;
text-align:right;
}
#contents #CategoryNewsList03 .CategoryBox .more a {
padding:0 0 0 10px;
background:url(images/arrow_004.gif) no-repeat left center;
font-size:1.2em;
}

/* PressRelease ----------------- */
#contents #PressRelease {
width:300px;
}
#contents #PressRelease .CategoryBox {
width:298px;
margin:0 0 10px 0;
background:#FFF;
border:1px solid #D9D9D9;
}
#contents #PressRelease .CategoryBox h3 {
margin:0 0 7px 0;
padding:5px;
background:#ECECEC url(images/h3_bg_001.gif) repeat-x;
border-bottom:1px solid #D9D9D9;
font-size:1.4em;
font-weight:normal;
position:relative;
}
#contents #PressRelease .CategoryBox h3 span {
display:inline-block;
position:absolute;
right:5px;
top:6px;
}
#contents #PressRelease .CategoryBox h3 a {
color:#333;
}
#contents #PressRelease .CategoryBox ul.list {
margin:0 5px;
}
#contents #PressRelease .CategoryBox ul.list li {
margin:0 0 10px 0;
padding:0 0 0 20px;
background:url(images/arrow_001.gif) no-repeat left 1px;
font-size:1.4em;
line-height:1.2;
}
#contents #PressRelease .CategoryBox ul.list li a:visited {
color:#551A8B;
}
#contents #PressRelease .CategoryBox ul.list li img {
margin:0 0 0 3px;
}






/* Ranking ----------------- */
#contents #Ranking {
width:648px;
margin:0 0 10px 0;
background:#FFF;
border:1px solid #D9D9D9;
}

#contents #Ranking h3 {
margin:0 0 7px 0;
padding:5px;
background:#ECECEC url(images/h3_bg_001.gif) repeat-x;
border-bottom:1px solid #D9D9D9;
font-size:1.4em;
position:relative;
}
#contents #Ranking h3 span {
display:inline-block;
position:absolute;
right:5px;
top:7px;
}
#contents #Ranking h3 span a {
margin:0 0 0 10px;
padding:0 0 0 10px;
background:url(images/arrow_004b.gif) no-repeat left center;
font-size:85%;
}
#contents #Ranking ul.list {
margin:0 5px 10px 5px;
}
#contents #Ranking ul.list li {
position:relative;
margin:0 0 10px 0;
}
#contents #Ranking ul.list li img {
margin:0 0 0 3px;
}
#contents #Ranking ul.list li a {
display:inline-block; 
padding:0 0 0 1.6em;
font-size:1.4em;
line-height:1.3;
}
#contents #Ranking ul.list li a:visited {
color:#551A8B;
}
#contents #Ranking ul.list li span {
display:inline-block; 
position:absolute;
width:1.6em;
padding:0.2em 0;
text-align:center;
font-size:1.0em;
top:0;
left:0.2em;
}
#contents #Ranking .more {
margin:0 5px 7px 5px;
padding:10px 0 0 0;
border-top:1px dotted #B2B2B2;
text-align:right;
}
#contents #Ranking .more a {
padding:0 0 0 10px;
background:url(images/arrow_004.gif) no-repeat left center;
font-size:1.2em;
}


#contents #Ranking ul.list li span {background:#FF9900;color:#FFF;}
#contents #Ranking .more a {background:url(images/arrow_004.gif) no-repeat left center;}



/* Information ----------------- */

#contents #Information {
width:648px;
margin:0 0 10px 0;
background:#FFF;
border:1px solid #D9D9D9;
}
#contents #Information h3 {
margin:0 0 7px 0;
padding:5px;
background:#ECECEC url(images/h3_bg_001.gif) repeat-x;
border-bottom:1px solid #D9D9D9;
font-size:1.4em;
}
#contents #Information div.shimen {
margin:0 5px 15px 5px;
}
	#contents #Information div.shimen:after {
	content: ".";  
	display: block;  
	visibility: hidden;  
	height: 0.1px;  
	font-size: 0.1em;  
	line-height: 0;  
	clear: both;  
	}
	* html #contents #Information div.shimen {
	display: inline-block;
	}

	*+html #contents #Information div.shimen {
	display: inline-block;
	}


#contents #Information div.shimen p.photo {
float:left;
display:block;
width:125px;
}
#contents #Information div.shimen p.photo img {
display:block;
}
#contents #Information div.shimen p.title {
margin:0 0 5px 0;
padding:0 0 0 130px;
font-size:1.4em;
line-height:1.3;
}

#contents #Information div.shimen p.text {
margin:0 0 10px 0;
padding:0 0 0 130px;
font-size:1.4em;
line-height:1.3;
}
#contents #Information div.shimen ul.list {
padding:0 0 0 130px;
}
#contents #Information div.shimen ul.list li {
margin:0 0 7px 0;
padding:0 0 0 20px;
font-size:1.4em;
line-height:1.2;
background:url(images/arrow_001.gif) no-repeat left 1px;
}
#contents #Information div.shimen ul.list li img {
margin:0 0 0 3px;
}


/* AdultBox ----------------- */
#contents #AdultBox {
width:300px;
margin:0 0 10px 0;
background:#FFF;
}
#contents #AdultBox h3 {
padding:5px;
background:#ECECEC url(images/h3_bg_001.gif) repeat-x;
border:1px solid #D9D9D9;
font-size:1.4em;
position:relative;
}
#contents #AdultBox h3 span {
display:inline-block;
position:absolute;
right:5px;
top:5px;
}
#contents #AdultBox .expander {
padding:7px;
border:1px solid #D9D9D9;
border-top:none;
}
	#contents #AdultBox .expander:after {
	content: ".";  
	display: block;  
	visibility: hidden;  
	height: 0.1px;  
	font-size: 0.1em;  
	line-height: 0;  
	clear: both;  
	}
	* html #contents #AdultBox .expander {
	display: inline-block;
	}

	*+html #contents #AdultBox .expander {
	display: inline-block;
	}

#contents #AdultBox .expander .photo {
float:left;
width:60px;
}
#contents #AdultBox .expander ul.contents {
margin:0 0 0 70px;
font-size:1.4em;
}
#contents #AdultBox .expander ul.contents li {
margin:0 0 7px 0;
}
#contents #AdultBox .expander ul.contents li.main {
font-weight:bold;
}

#contents #AdultBox .expander ul.site {
margin:0 0 0 70px;
font-size:1.4em;
}
#contents #AdultBox .expander ul.site li {
display:inline;
padding:0 0 0 5px;
}
#contents #AdultBox .expander ul.site li.first {
border-right:1px solid #000;
padding:0 5px 0 0;
}
#contents #AdultBox .expander p.credit {
clear:both;
text-align:right;
margin:7px 0 0 0;
padding:7px 0 0 0;
border-top:1px dotted #B2B2B2;
font-size:1.4em;
color:#C60000;
}

/* SankeiDirectory ----------------- */

#contents #SankeiDirectory {
width:648px;
margin:0 0 10px 0;
background:#FFF;
border:1px solid #D9D9D9;
}
#contents #SankeiDirectory h3 {
margin:0 0 10px 0;
padding:7px 5px 5px 5px;
background:#ECECEC url(images/h3_bg_001.gif) repeat-x;
border-bottom:1px solid #D9D9D9;
}
#contents #SankeiDirectory .DirectoryList ul {
margin:0 5px 0 10px;
}
	#contents #SankeiDirectory .DirectoryList ul:after {
	content: ".";  
	display: block;  
	visibility: hidden;  
	height: 0.1px;
	font-size: 0.1em;  
	line-height:0;  
	clear: both;  
	}
	* html #contents #SankeiDirectory .DirectoryList ul {
	display: inline-block;
	}
	*+html #contents #SankeiDirectory .DirectoryList ul {
	display: inline-block;
	}

#contents #SankeiDirectory .DirectoryList ul li {
float:left;
width:132px;
margin:0 5px 10px 0;
padding:0 0 0 19px;
background:url(images/icon_directory_001.gif) no-repeat left top;
}
#contents #SankeiDirectory .DirectoryList ul li a {
font-size:1.2em;
line-height:1.3;
}



#contents #SankeiDirectory .more {
margin:0 5px 10px 5px;
padding:10px 0 0 0;
border-top:1px dotted #B2B2B2;
text-align:right;
}
#contents #SankeiDirectory .more a {
padding:0 0 0 10px;
background:url(images/arrow_004.gif) no-repeat left center;
font-size:1.2em;
}


/*
 * Swiper 2.6.1
 * Mobile touch slider and framework with hardware accelerated transitions
 *
 * http://www.idangero.us/sliders/swiper/
 *
 * Copyright 2010-2014, Vladimir Kharlampidi
 * The iDangero.us
 * http://www.idangero.us/
 *
 * Licensed under GPL & MIT
 *
 * Released on: May 6, 2014
*/
.swiper-container {
	margin:0 auto;
	position:relative;
	overflow:hidden;
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
	-ms-backface-visibility:hidden;
	-o-backface-visibility:hidden;
	backface-visibility:hidden;
	/* Fix of Webkit flickering */
	z-index:1;
}
.swiper-wrapper {
	position:relative;
	width:100%;
	-webkit-transition-property:-webkit-transform, left, top;
	-webkit-transition-duration:0s;
	-webkit-transform:translate3d(0px,0,0);
	-webkit-transition-timing-function:ease;
	
	-moz-transition-property:-moz-transform, left, top;
	-moz-transition-duration:0s;
	-moz-transform:translate3d(0px,0,0);
	-moz-transition-timing-function:ease;
	
	-o-transition-property:-o-transform, left, top;
	-o-transition-duration:0s;
	-o-transform:translate3d(0px,0,0);
	-o-transition-timing-function:ease;
	-o-transform:translate(0px,0px);
	
	-ms-transition-property:-ms-transform, left, top;
	-ms-transition-duration:0s;
	-ms-transform:translate3d(0px,0,0);
	-ms-transition-timing-function:ease;
	
	transition-property:transform, left, top;
	transition-duration:0s;
	transform:translate3d(0px,0,0);
	transition-timing-function:ease;

	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.swiper-free-mode > .swiper-wrapper {
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	-ms-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	margin: 0 auto;
}
.swiper-slide {
	float: left;
}

/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
	-ms-touch-action: pan-y;
}
.swiper-wp8-vertical {
	-ms-touch-action: pan-x;
}


#PickupNewsSlider {
	float: left;
	width: 655px;
	padding: 5px 0;
	background: url(../../images/top_parts_001.gif) no-repeat left top;
	position: relative;
}

#PickupNewsSlider .base {
	position: relative;
	width: 580px;
	height: 240px;
	margin-left: 35px;
	overflow: hidden;
}

#PickupNewsSlider .swiper-container {
	width: 512px;
	height: 240px;
	overflow: visible;
}
#PickupNewsSlider .swiper-container .swiper-wrapper .swiper-slide {
	width: 128px;
	height: 240px;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	float: left;
	background: #FFF;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
#PickupNewsSlider .swiper-container .swiper-wrapper .swiper-slide .text {
	display: block;
	font-size: 1.4em;
	line-height: 1.3;
	padding: 2px;
}
#PickupNewsSlider .swiper-container .swiper-wrapper .swiper-slide .photo {
	display: block;
	margin: 0 0 5px;
}
#PickupNewsSlider .nav .prev {
	position: absolute;
	top: 5px;
	left: 2px;
}
#PickupNewsSlider .nav .prev img {
	cursor: pointer;
}
#PickupNewsSlider .nav .next {
	position: absolute;
	top: 5px;
	right: 2px;
}
#PickupNewsSlider .nav .next img {
	cursor: pointer;
}


/* IGNModule ----------------- */
#IGNModule {
	border: 1px solid #D9D9D9;
	margin-bottom: 10px
}
#IGNModule {
	position: relative;
}
#IGNModule h3 {
	background: url("images/h3_bg_001.gif") repeat-x scroll 0 0 #ECECEC;
	border-bottom: 1px solid #D9D9D9;
	font-size: 1.4em;
	margin: 0;
	padding: 5px;
	position:relative;
	text-indent:-9999px;
}
#IGNModule h3 a {
	background: url("images/logo_ign.png") no-repeat 5px center;
	width:288px;
	height:16px;
	display:block;
}
#IGNModule h3 a span{
	color:#333333;
	text-indent:0;
	font-size: 0.8em;
	position:absolute;
	right:10px;
	top:7px;
}
#IGNModule .topics {
	overflow: hidden;
	margin: 0;
	padding:5px;
	width: 288px;
}
#IGNModule .topics ul li:after {
	clear: both;
	content: ".";
	display: block;
	font-size: 0.1em;
	height: 0.1px;
	line-height: 0;
	visibility: hidden;
}

#IGNModule .topics ul li {
    margin: 0 0 10px 0;
    padding: 0 0 0 20px;
    background: url(images/arrow_001.gif) no-repeat left 1px;
}
#IGNModule .topics ul li  {
    font-size: 1.4em;
    line-height: 1.2;
}
#IGNModule .topics ul li.photo {
    padding:0;
    background:none;
}
#IGNModule .topics ul li.photo .image {
	float: left;
	width: 135px;
	background-color:#d8f9ff;
	text-align:center;
	vertical-align:middle;
}
#IGNModule .topics ul li.photo .image img {
	display:block;
	margin:0 auto;
}
#IGNModule .topics ul li.photo .title {
	background:none;
	padding: 0 0 0 140px;
}

