
/* CART */
.ni-wrapper-header .cart {
    color:white;
    height: 65px;
    margin: 0px;
    padding:8px;
    width: 70px;
    cursor: pointer;
    background-color: #6AA239;
    background-image: url(/niassets/icons/cart.svg);
    background-position: 9px 14px;
    background-repeat: no-repeat;
    background-size: 58% 58%;
}
.cart-badge {
   position:relative;
}
.cart-badge[data-badge]:after {
   content:attr(data-badge);
   position:absolute;
   top:7px;
   right:9px;
   font-size:10px;
   background: #065FA3;
   color: #FFF;
   width:auto;
   min-width: 18px;
   height:18px;
   padding: 1px;
   text-align:center;
   line-height:16px;
   border-radius:45%;
}
.cart-badge[data-badge=""]:after {
    content: none;
}
.cart-badge:hover{
    background-color: #4B8400;
}

.nav > li.cart  > a:focus, .nav > li.cart  > a:hover {
    background: none;
}



/**X SMALL (phones)*/
@media (max-width: 767px) {
    .ni-wrapper-header .cart {
    margin-top:1px;
    height:50px;
    width:56px; 
    }
    
    
}


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
 
   
    .nav > li.cart  > a:focus, .nav > li.cart  > a:hover {
    background: none;
}       .cart-badge[data-badge]:after {
        top: 9px;
    }
    
}


@media (min-width: 768px) and (max-width: 992px) {
}


@media (max-width: 991px) {

}
    
