/* FOOTER */

#cookieLaw {
    background-color: #444;
	opacity: 0.95;
    color: #fff;
    font-size: 16px;
    bottom: 0;
    display: none;
    left: 0;
    padding: 0 0 20px 0;
    position: fixed;
    right: 0;
    z-index: 4000;
}

#cookieLaw p {
    display: table-cell;
    height: 65px;
    padding: 20px 10px 0 0;
    vertical-align: middle;
}

#cookieLaw p a {
    text-decoration: underline;
    color: #fff;
}

#cookieLaw  p a:hover{
	text-decoration:underline;
	color:#b2b2b3;
}

#cookieLaw .ni-btn-tertiary {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    font-weight: 400;
	text-transform: uppercase;
}

#cookieLaw .ni-btn-tertiary:hover{
	color: #065fa3;
	background-color: #fff;
}
#cookieLaw .ni-btn{
	display: inline-block !important;
	margin-top: 20px;
	padding: 13px 15px;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 17px;
	text-align: center;
	white-space: nowrap;
	cursor: pointer;
	text-transform: uppercase;
	line-height: 1em;
}

.footer {
 font-family: Helvetica;
 font-size: 13px;
 background-color: #065FA3;
 color: #ffffff !important; /* to keep from ni.css overwriting the thie */
 line-height: 20px;
 margin-top: 40px;
}

.footer .container-fluid{
 padding: 40px 15px;
 background-color: #065FA3;
}

.footer h4{
 text-transform: uppercase;
 font-family: 'Roboto Condensed', sans-serif;
 font-weight: bold;
 font-size: 18px;
 padding: 0;
 padding-bottom: 12px;
 margin: 0;
}

.left{
 float: left;
}

.right{
 float: right;
}

.footer .col1of3{
 width: 33.3333%;
}

.footer a, .footer a:visited{
 color: #ffffff;
 text-decoration: none;
}

.footer-nav a:hover, .footer a:hover{
 color: #ffffff;
 text-decoration: underline;
}

.footer-nav {
 padding-bottom: 30px;
}

.footer ul{
 margin: 0;
 padding: 0;
 line-height: 20px;
}

.footer ul li{
 list-style: none;
 padding: 0;
 padding: 6px 0;
}

.footer .pipe{
 padding: 0 3px;
}

.footer .truste-image{
 padding-right: 8px;
}

.footer .truste-image img{
 height: 34px;
 width: 109px;
}

.footer-social-media{
 text-align: left;
}

/*** CODE FOR SVG SPRITE WHEN READY:***/
.footer-social-media a{
 margin-right: 5.9%;
}

.footer-social {
 display: inline-block;
 height: 34px;
 vertical-align: middle;
 width: 13%;
 background-position: 0 0;
 background-size: 100% 100%;
}

/* CODE FOR SVG SPRITE WHEN READY:
 * .footer-social-media a {
    margin-right: 1.6%;
}
 
.footer-social {
    display: inline-block;
    height: 49px;
    vertical-align: middle;
    width: 44px;
    background-position: 0 0;
    background-size: 100% 100%;
}*/
 
.footer-social-media a:last-child{
 margin-right: 0px;
}

.twitter { background: url('/niassets/icons/twitter.svg') 0 0 no-repeat; }
.feeds { background: url('/niassets/icons/rss.svg') 0 0 no-repeat; }
.linkedin { background: url('/niassets/icons/linkedin.svg') 0 0 no-repeat; }
.facebook { background: url('/niassets/icons/fb.svg') 0 0 no-repeat; }
.youku { background: url('/niassets/icons/youku.svg') 0 0 no-repeat; }
.weibo { background: url('/niassets/icons/weibo.svg') 0 0 no-repeat; }
.youtube { background: url('/niassets/icons/youtube.svg') 0 0 no-repeat; width: 18%;}

.footer .motto{
 margin-bottom: 30px;
}

.footer .legal{
 padding: 18px 0 ;
}

.footer .legal-copy{
 width: 82%;
 padding-top: 7px;
}

.footer .contact-us{
 padding-top: 6px;
}

.footer .glyphicon-plus, .footer .glyphicon-minus{
 font-size: 42px;
 font-family: "Courier New";
 float: left;
 color: #FFF;
 padding-top: 7px;
}

.footer .panel-default > .panel-heading{
 background-color: #065FA3;
 padding: 0px 16px 16px 14px;
}

.footer .panel-section{
 padding: 0px 0px 15px 0px;
}

.footer .panel-body{
 border: none !important;
 padding-left: 54px;
 padding-top: 0px;
}

.footer .panel-body li:first-child{
 padding-top: 0px;
}

.footer .panel-heading{
 cursor: pointer;
 height: 58px;
 vertical-align: middle;
}

.footer .panel-heading h4{
 padding: 20px 17px 0px 14px;
 color: #ffffff;
 float: left;
}

.footer .panel-group .panel{
 border-radius: 0;
 background-color: #065FA3;
}

.footer .panel-default {
 border: none;
 border-bottom-color: #FFF;
 border-bottom: solid;
}

.footer .inactive, .inactive .panel-heading{
 background-color: #065FA3 !important;
}

.footer .active, .active .panel-heading{
 background-color: #0E385F !important;
}

.footer .panel-group .panel + .panel {
 margin-top: 0px;
}

@media  (max-width: 767px) {
    .footer{
     padding: 0;
     border-top-color: #FFF;
     border-top: solid;
    }
    .footer-social-media{
     text-align: center;
    }
        .footer-social-media a {
        margin-right: 8.1%
    }
    .footer-social {
        height: 40px;
        width: 40px;
    }
    .youtube{
     width: 17.8%;
    }
    .footer .contact-us {
     padding: 30px 15px;
     border-color: #FFF;
     border-top: solid;
     border-width: thin;
    }
    .footer .contact-us a{
     text-decoration: underline;
    }
    .footer .row{
     padding: 0px;
    }
    .motto-table{
     display: table;
    }
    .footer-social-media{
     text-align: center;
     width: 100%;
     display: table-header-group;
    }
    .motto{
     margin-top: 30px;
     width: 70%;
     float: left;
     margin-bottom: 20px;
    }
    .footer .truste-image {
     margin-top: 30px;
     width: 30%;
     float: right;
     padding-right: 0px;
     padding-left: 5px;
     text-align: center;
    }
    
    .footer .container-fluid{
    padding-top: 5px;
   }
}

@media (min-width: 768px) and (max-width: 992px) {
 .motto{
  margin-top: 20px;
  margin-bottom: 15px;
  padding-bottom: 0px;
  float:left;
  width: 40%;
 }
 .motto h4{
  padding-bottom: 5px;
 }
 .footer-social-media{
  padding-top: 34px;
  padding-right: 15px;
  text-align: right;
  float:right;
  width: 40%;
 }
 .footer-social-media a{
  margin-right: 4%;
 }
 .motto-table{
  padding-top: 20px;
 }
 .footer .row{
  padding-bottom: 0px;
 }
 .footer ul li{
  padding: 3px 0;
 }
 .footer .legal-copy{
  width: 78%;
 }
 .footer .truste-image {
    padding-right: 0px;
 }
 .footer .truste-image img {
    margin-right: 10px;
 }
}
@media (min-width: 876px) and (max-width: 1077px) {
 .footer .legal-copy{
  width: 79%;
 }
}
@media (min-width: 768px) and (max-width: 875px) {
 .footer .legal-copy{
  width: 75%;
 }
}

@media (min-width:992px) and (max-width:1300px) {
    .footer-social-media a {
        margin-right: 1.7%
    }
}
 
 
@media (min-width:992px) and (max-width:1200px) {
    .footer-social-media a {
        margin-right: 1.7%
    }
    .footer-social {
        width:36px;
}
 
}

@media (min-width: 769px){
 .img-responsive{
  display: inline;
 }
 
 .legal-desktop{
	margin-left:0px;
	padding-left:0px;
}
    
}


/* SKINNY FOOTER */
.right{
 float: right;
}

.footer-skinny{
 background-color: #FFF;
 margin-top: 40px;
 color: #B2B2B2;
 font-family: Helvetica;
 font-size: 13px;
 padding: 5px 15px 0 15px;
}

.footer-skinny .container-fluid{
 border-top: solid 1px;
 border-color: #DDD;
 padding-top: 3px;
 padding-left: 15px;
 padding-right: 15px;
}

.footer-skinny .copy{
 padding-top: 5px;
 text-align: center;
}

.footer-skinny a{
 color: #065FA3;
 text-decoration: none;
}

.footer-skinny a:hover{
 text-decoration: underline;
}

.footer-skinny .pipe{
 padding: 0 3px;
}

.footer-skinny .truste-image{
 padding-right: 8px;
}

.footer-skinny .truste-image img{
 height: 27px;
 width: 85px;
}

@media (min-width: 1006px){
 .footer-skinny .truste-div{
  margin-right: 100px;
 }
 .footer-skinny .truste-image{
  position: absolute;
  padding-right: 0px;
 }
}
@media (min-width: 768px) and (max-width: 992px) {
 .footer-skinny .copy{
  text-align: left;
  padding-top: 4px;
  padding-left: 0px;
 }
 .footer-skinny .truste-div{
  margin-top: 6px;
  margin-right: 0px;
 }
 .footer-skinny .truste-image{
  padding-right: 0px;
 }
 .footer .container-fluid {
 padding-top:15px;
 }
 
  .footer-social {
     width:15%;
  }
}
 

@media  (max-width: 767px) {
 .footer-skinny{
  padding: 10px 0px;
 }
 .footer-skinny .copy{
  padding: 11px 15px 0px 15px;
  text-align: left;
 }
 .footer-skinny .truste-div{
  margin-right: 15px;
  margin-top: 0px;
 }
 .footer-skinny .truste-image img{
  width: 109px;
  height: 34px;
 }
 .footer {
   margin-left:0px !important; 
 }
 
 .footer .container-fluid {
 padding-top:0px;
 }
}

