/* GLOBAL GATEWAY */

.nav > li > a.global-gateway, .nav > li > a.global-gateway-up{
    color:#333;
    background:none;
    font-size:12px;
    padding: 21px 6px;
}


.nav > li > a.global-gateway:active, .nav > li > a.global-gateway-up:hover, .nav > li > a.global-gateway:active, .nav > li > a.global-gateway-up:hover{
    outline:0;
}
.nav > li > a.global-gateway-up
{
    outline:0;
    border-top:1px solid #b2b2b2;
    border-right:1px solid #b2b2b2;
    border-left:1px solid #b2b2b2;
    border-bottom:1px solid #ffffff;
    position:relative;
    z-index:9999;
    background-color:#ffffff;

}

.header-skinny .nav > li > a.global-gateway, .header-skinny .nav > li > a.global-gateway-up{
    padding-top: 13px !important;
}

.header-skinny .utils-gg {
    padding-top: 9px;
}

.nav > li > a.global-gateway:after, .nav > li > a.global-gateway-up:after{
    background:none;
    font-family: "Glyphicons Halflings";
    content: "\e259";
    padding: 0px 3px;
    font-size:9px;
    font-weight: bold;
}

.nav > li > a.global-gateway-up:after{
    font-family: "Glyphicons Halflings";
    content: "\e260";
    color:#065FA3;
    padding: 0px 3px;
    font-size:9px;
    font-weight: bold;
}

.nav > li.nav-global-gateway > a.global-gateway-up:after, .nav > li.nav-global-gateway > a.global-gateway:after{
    content: none;
}



.nav > li a.global-gateway:hover, .nav > li a.global-gateway-up {
    color: #065FA3;
   /* padding-left: 20px;
    padding-right:20px;*/
}
 
.navTextHighlight {
    border: 1px #b2b2b2 solid;
    border-bottom: 0;
    color: #333 !important;
}


.utils-gg {
    margin-right:10px;
    padding-top: 1px;
    position:relative;
}

.nav>li.skinny-global-mobile>a:focus, .nav>li.skinny-global-mobile>a:hover {
  background-color:transparent;
}


/*Global Gateway Panel*/

.gg-panel {
    background: #fff;
    border: 1px #b2b2b2 solid;
    box-shadow:3px 3px 5px rgba(0, 0, 0, 0.18); 
    display:none;
    font-size:11px;
    line-height: 20px;
    position: absolute;
    right:0px;
    top: 60px;
    width: 375px;
    z-index: 9998;
    -moz-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.18);
    -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.18);
}


.gg-panel ul li, .gg-panel_mobile ul li {
    list-style: none;
 }
 
 
 .gg-panel ul, .gg-panel_mobile ul {
    padding: 10px 0px;
 }

.gg-panel   ul  li, .gg-panel_mobile > ul > li {
   text-decoration:none;
    list-style: outside none none;
    padding:5px;
}

.gg-panel  ul  li:hover, .gg-panel ul li:hover a {
    background: rgb(6, 95, 163) none repeat scroll 0 0;
    color:#fff !important;
    font-weight: normal;

}

.gg-panel  ul  li a:hover {
    color:#fff;
      text-decoration:none;
}


.gg-panel row {
    padding:20px;
}

.gg-panel-bottom {
    background: #e7e7e7;
    padding: 5px 15px
}

.gg-panel_mobile {
    display:none;
}

/*.gg-panel:before {
  border: 1px solid #333333;
    content: "";
    left: -4px;
    margin-left: 268px;
    padding: 52px;
    top: 11px;
    z-index: 9999;
}*/


/**X SMALL (phones)*/
@media (max-width: 767px) {
    .skinny-global-mobile{
        padding-top: 10px;
    }
    #navbar ul > li.nav-global-gateway a {
        background-color: #0e385f;
        border: 1px solid white;
        color:white;
        font-family: helvetica, sans-serif;
        font-size:10px;
    }
        
    #navbar ul > li.nav-global-gateway.a:hover {
       color:white;
    }
         
   
    .dropdown-menu > li > a{
        background-color: #fff !important;
        color: #b2b2b2 !important;
        font-size: 16px !important;
        height:15px;
        padding: 15px !important;
        text-align: center;
        text-transform: uppercase;
       
    }
    
    .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
        color:black !important;;
    }

    
    
    .gg-panel_mobile  {
        background: #fff;
        border: 1px #b2b2b2 solid;
        box-shadow:3px 3px 5px rgba(0, 0, 0, 0.18); 
        font-size:11px;
        line-height: 20px;
        position: absolute;
        right:-1px;
        /*top: 0;*/
        width: 100%;
      /*  z-index: 9998;                                                                                                .navbar-nav .open .dropdown-menu, .navbar-nav .open .dropdown-menu ul li a
        -moz-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.18);
        -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.18);*/
    }

    .navbar-nav .open .dropdown-menu, .navbar-nav .open .dropdown-menu ul li a  {
        background-color: #fff;
        color: #065fa3;
    }
    
    nav .navbar-nav open {
        height:750px;
        margin-top:335px;
    }
    
    
    #navbar ul > li.nav-global-gateway a {
        color:#fff;
    }
    
    #navbar ul > li.nav-global-gateway a:hover {
        color:#fff;
    }
    
    #navbar ul > li.nav-global-gateway a:active, #navbar ul > li.nav-global-gateway a:focus{
        color:#fff;
        background-color: #065fA3;
        outline:0;
    }
    
    .nav > li a.global-gateway:active:after{
        color:#fff;
    }


}



/* Small devices (tablets, 768px and up) */
@media  (min-width: 768px) {
 
}


@media (min-width: 768px) and (max-width: 992px) {
    .header-skinny .nav > li > a.global-gateway {
        padding-right: 15px !important;
    }
    
    .nav > li > a.global-gateway, .nav > li > a.global-gateway-up{
    font-size:11px;
}
    
     .nav > li > a.global-gateway-up::after {
    padding: 0 2px;
}
    
    .utils-gg {
    padding-top: 2px;
}
    

    
}

@media (max-width: 991px) {
   
}


