/* LOGO */


.navbar-brand {
  background: url("/images/global/neutral/ni_logo_2c.svg") no-repeat left center;
  background-size: contain;
  height: 49px;
  width: 204px;
  margin-top:24px;
}

/**X SMALL (phones)*/
@media (max-width: 767px) {
 
    .navbar-brand {
        padding: 15px 0 13px 0px;
    }
    
    .navbar-brand {
        margin-top: 15px;
        height: 28px;
    }
}


/* Small devices (tablets, 768px and up) */
@media  (min-width: 768px) {
    .header-skinny .navbar-brand  {
        margin-top: 17px;
        margin-bottom: 14px;
        height: 33px !important;
    }
    
    .navbar-brand {
  background: url("/images/global/neutral/ni_logo_2c.svg") no-repeat left center;
  background-size: contain;
  height: 49px;
  width: 204px;
  margin-top:24px;
}
    
}


@media (min-width: 768px) and (max-width: 992px) {
     .navbar-brand > img {
        margin-left: 15px;
    }
}

@media (max-width: 991px) {
    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
        margin-left: 15px;
    }
}


@media (max-width: 991px) {
  
}



