
/*main structure */
.container {
    max-width: 1176px;
}


html, body{
  min-height: 100%;ni-logo
  
}

.ni-page-wrap {
    padding-top: 0px;
}


/*overwrite PNX styles */
.pnx-content {
    height: auto !important;
    margin: 0 auto;
    min-height: 50%;
    width:980px;
}

/* TYPOGRAPHY */
.ni-wrapper-footer a{
    font-family: 'Roboto Condensed', sans-serif;
}


/*trying this out to test overlay */
body {
 position: relative;
 
}

.glyphicon{
    top: 0;
}



/**X SMALL (phones)*/
@media (max-width: 767px) {
    
   body {
    padding-top: 0;
    /**these margins prevent the phone view from having large margins on side for toggling menu ++ 12/15/15 -- updated because now it has huge padding right*/
   /*  margin-left:px;*/
    margin-right:0;
    /*overflow:hidden;*/
    }

    .ni-page-wrap {
        padding-top:0;
        /*overflow:hidden;*/
    }
    
    .ni-page-wrap .ni-wrapper-header {
            overflow:hidden;
        
    }

    .ni-page-wrap .container-fluid {
       /* padding:0;
        margin:0;*/
    }
    
    .container .global-header-breadcrumb {
        height: 0;
        display: none;
    }
    
    .ni_logo {
        margin-left: -15px;
    }	
}




/* Medium devices (desktops, 991px and up) */
@media (min-width: 991px) {
    
    
/*styles to specifically remove padding from header styles*/

.ni_logo{
    padding-left: 0;
}

.header-skinny .ni_logo {
    padding-left: 15px;
}



.global-header-search, .utility-nav  {
    padding-right: 0;
}
    
   /* body {
        padding:0;
    }*/
    
  /*  .container-fluid {
         padding:0 15px;
        margin:0;
    }*/
}



/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
@media(max-width:767px){

    
    
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {  }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Large devices (large desktops, 1200px and up) */
@media (min-width:1200px) {}

