/*---------- MY ACCOUNT ----------*/


.myaccount-utility {
    background-color: #0e385f;
    color: white;
    font-size: 11px;
    font-weight: normal;
    height: 65px;
    margin-top: 0 !important;
    padding-left: 7px;
    padding-right: 0;
    padding-top: 17px;
    white-space: nowrap;
    overflow:hidden;
     min-width:235px;
}

.up-greeting {
    white-space: nowrap;
    display: inline-block;
    max-width: 110px;
}


.global-header-nav-up-wrap  {
    padding-right:0;
    }


.global-header-nav-up-wrap a, mobile-nav-up-wrap a{
    font-size:11px;
    color:white;
    
}


.global-header-nav-up-wrap a:hover, mobile-nav-up-wrap a:hover{
    color:white;
    background: none;
}

.user {
    height: 50px;
    margin: 0;
    padding:8px;
    width: 50px;
    background-image: url(/niassets/icons/user.svg);
    background-position: 12px 1px;
    background-repeat: no-repeat;
    background-size: 58% 58%;
}


/**X SMALL (phones)*/
@media (max-width: 767px) {
    
    .user {
        background-position: 12px 0;
    }
        
    #navbar ul > li.nav-myaccount {
        background-color: #0e385f;
        color:white;
        font-family: helvetica;
        font-size:10px;
        font-weight:bold;
        margin-top:1px;
        min-width: 167px;
        padding-top:10px;
        
    }
    
    .mobile-nav-up-wrap {
		padding-right: 20px;
		padding-top: 5px;
	}
    

    .glyphicon-user {
        padding: 1px 1px 2px 8px;
	}
    #navbar ul li.nav-myaccount > span {
        margin:5px;
    }
    
    #navbar ul li.nav-myaccount {
		border: 1px solid white;
	}

	#navbar ul > li.nav-myaccount  a{
		padding: 9px 5px;
		color:white;
	}

	.up-greeting {
		max-width: 200px;
	}


    
}

/* Small devices (tablets, 768px and up) */
@media  (min-width: 768px) {
    
 
}

@media (min-width: 768px) and (max-width: 992px) {

}


@media (max-width: 991px) {
 
}