/* MAIN NAV BAR */

.navbar {
    border-radius: 0;
    margin-bottom: 0;
}

.navbar .row{
    height:74px;
}

nav .navbar-nav{
    margin-top:-13px;
}
.ni-nav{
	padding-left:0px;
	padding-right:0px;
}


.navbar-default {
    background-image: none;
    background-color: #fff;
    border-color: transparent;
    border-left: 0;
    border-right: 0;
    border-top: 4px solid #3498db;
    border-bottom: 4px solid #3498db;
}

.navbar-toggle {
    background-color: #0e385f;
    background-image: none;
    border: none;
    border-radius:0;
    float: right;
    height: 50px;
    margin: 0 0 8px 1px;
    padding: 8px 18px;
    position: relative;
    top:1px;
    width: 52px;
}


#navbar ul li a, #navbar ul li a:hover{
    background:none;

}

#navbar ul li{
    font-family: 'Roboto Condensed', sans-serif;
}


#navbar ul > li {
    background-color: white;
    border: medium none;
    display: block;
    font-size:21px;
    height: 55px;
    margin: 12px 0;
    padding: 6px 0;
}

#navbar ul > li:lang(hu-HU) a, #navbar ul > li:lang(nl-NL) a, #navbar ul > li:lang(de-DE) a   {
    padding-left: 10px;
    padding-right: 10px;
}


#navbar ul > li:lang(hu-HU)  {
font-size:18px;
}

.navbar-default .navbar-nav > li > a {
    color:#333333;
    padding-left:15px;
    padding-right:15px;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #065FA3;
}

#navbar ul li.nav-myaccount {
    background-color: transparent;
    border: 2px solid #fff;
}
#navbar ul li.nav-myaccount > img{
    padding: 10px;
}
#navbar ul li.nav-myaccount > a{
    font-size: 21px;
    color: #fff;
    padding: 15px 5px;
    height: 51px;
}
#navbar ul li.nav-myaccount:hover{
    background-color: transparent;
}
#navbar ul li.nav-myaccount > span{
    font-size: 21px;
    color: #fff;
    margin: 9px 3px;
}
    
.open > .dropdown-toggle.btn-default, open > .dropdown-toggle.btn-default.focus, .open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default:hover {
    background-color: #0e385f;
    border-color: #fff;
    color: #fff;
}
    
.header-skinny {
    margin-bottom:-100px;
    height:72px !important;
}


/*UTILITY NAVBAR */

.nav-pills > li + li {
    margin-left: 0px;
}
.nav-pills > li > a {
    border-radius: 0;
}


/**X SMALL (phones)*/
@media (max-width: 767px) {
    
    .utility-nav {
        margin-right:-15px;
    }

    .navbar {
        height: 60px;
        margin-bottom: 0;
    }
    
    nav .navbar-nav{
        margin-top:2px;
    }
    .navbar-default .navbar-toggle:hover {
        background-color: #0e385f;
        border: 0 none;
    }
    
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        background-color: #0e385f;
        border: 0 none;
        margin-top: -24px;
    }
    
      
   
    .navbar-nav > li:active, .navbar-nav > li:hover {
        background-color: #065FA3;
        color: #FFF;
    }
    
    

    #navbar ul > li {
        background-color: white;
        border: medium none;
        display: block;
        height: 55px;
        margin: 12px;
           padding: 0;
    }

    #navbar ul > li a {
       color: #065FA3;
       padding: 15px;
       height: 55px;   
   }
   
    #navbar ul > li a:hover{
       color: #FFF;
   }
   
    #navbar ul > li:hover {
        background-color: #065FA3;
        color: #FFF;
    }

    #navbar.in ul > li.nav-myaccount{
        display: block;
    }

    .navbar-fixed-top {
        position: inherit;
        top: auto;
        z-index: 0;
    }
    
    .navbar-fixed-top .navbar-collapse {
    max-height: 430px;
    }
    
    
    
    .container-fluid, .container {
        width: 100%;
    }


  

    #navbar  { 
        height: 425px;
        max-height: 600px;
        width: 100%;
        overflow-y: scroll;
        -webkit-overflow-scrolling:touch;
    }
    
    .dropdown-menu {
        height: 125px;
        width: 100%;
        overflow-y: scroll;
        -webkit-overflow-scrolling:touch;
    }
    
     .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff !important;
    }
}

@media (max-width: 800px) {
    .ni-page-wrap {
        padding-top: 0px;
    }
    .navbar-fixed-top {
        position: inherit;
        top: auto;
        z-index: 0;
    }
    
    .navbar-fixed-top .navbar-collapse {
        max-height: 430px;
    }
}

/* Small devices (tablets, 768px and up) */
@media  (min-width: 768px) {
    .navbar {
        border-radius: 0;
        margin-bottom: 0;
        height:148px;
    }
    
    #navbar ul {
        position: relative;
         /*width: 460px;*/
        z-index: 1;
        margin-left:15px;
    }
    
}


@media (min-width: 768px) and (max-width: 992px) {
      /*resetting this bootstrap style to 0 because it was pushing logo off the grid*/
    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 0px;
}

#navbar ul > li {
font-size: 18px;   
}

#navbar ul > li:lang(ja-JP) {
font-size: 17px;
letter-spacing: -.5px;
}

#navbar ul > li:lang(hu-HU) {
font-size: 16px;
letter-spacing: -.5px;
}

#navbar ul > li:lang(ru-RU) {
font-size: 17px;
}
#navbar ul > li:lang(nl-NL) {
font-size:14px;
}


.autoCompleteItem-global INPUT:lang(hu-HU) {
    width: 200px !important;
}


  #navSlider {
        background:#3498db;
        bottom: 0px;
        display:none;
        height: 9px;
        margin-left: 0;
        position: absolute;
        z-index: 2;
    }



}


@media (max-width: 991px) {
    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
        margin-left: 0;
        margin-right: 0;
        margin-bottom:0;
    }
    .nav-pills > li + li {
        margin-left: 1px;
        margin-top: 1px;
    }
}
/* Large devices (tablets, 992px and up) */



@media (min-width: 992px) {
    #navbar {
        position: relative;
        /*width: 300px;*/
        height: 40px;
    }
    
    
    
    #navbar ul li {
        float: left;
        /*width: 100px;*/
        height: 30px;
        text-align: center;
    }
    
    #navSlider {
        background:#3498db;
        bottom: -25px;
        display:none;
        height: 9px;
        margin-left: 0;
        position: absolute;
        z-index: 2;
    }
  
    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 0px;
    }
    
    

}
    

