/*---------- NI.CSS ----------*/
/*********************************
 * Fixing Bootstrap Col Centering
 * Ref: http://stackoverflow.com/questions/18153234/center-a-column-using-twitter-bootstrap-3
 *********************************/
.center-block { float:none; }
.collapse.in { display:inline-block; }

/* HTML DEFAULTS */

h1, h2, h3, h4, .h1, .h2, .h3, .h4 {
	font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0;
    line-height:1.42857143;
    color:#333333;
}
h1, .h1, h2, .h2 {
	font-weight: 300;
}

h3, .h3{
	font-weight: 400;
}

h4, .h4{
	font-weight: 600;
}

h1, .h1, .ni-home h1, .ni-home .h1, h1.ni-home {
	font-size:24px;
}
h2, .h2{
	font-size:21px;
}
h3, .h3{
	font-size:16px;
}

.footer h1, .footer h2, .footer h3, .footer h4, .footer .h1, .footer .h2, .footer .h3, .footer h4 {
    color: inherit;
}

li
{
	text-align: left;
}
.section-header,
.ni-section-header
{
	font-size:14px;
	font-weight: bold;
	text-transform: uppercase;
}
body{
		font-size:13px;
          margin: 0;  /*added to overwrite css in apps that include margins around body == like AEMs asset share store  -- CH 8/4/2016 */
          padding: 0;  /*added to overwrite css in apps that include margins around body == like AEMs asset share store -- CH 8/4/2016 */
}
.ni-body-copy-secondary, 
.ni-body-copy-tertiary
{
	font-family:Helvetica, sans-serif;
	font-size:11px;
	color:#333333;
}
.ni-body-copy-tertiary
{
	color:#777777;
}

@media (min-width: 768px){
	h1, .h1{ font-size:36px; }
	.ni-home h1, .ni-home .h1, h1.ni-home{ font-size:25px; }
	h2, .h2{ font-size:26px;}
	h3, .h3{ font-size:18px;}
	.section-header,.ni-section-header{font-size:14px;}
	body{font-size:14px;}
 .ni-body-copy-secondary, .ni-body-copy-tertiary{font-size:12px;}
}

@media (min-width:920px) {
	h1, .h1 { font-size: 45px; }
	.ni-home h1, .ni-home .h1 { font-size: 45px; }
	.ni-homepage-top h1, .ni-homepage-top .h1, h1.ni-home-top { font-size: 40px; }
	h2, .h2{ font-size:32px;}
	h3, .h3{ font-size:21px;}
	.section-header,.ni-section-header {font-size:18px;}
	body {font-size:16px;}
 .ni-body-copy-secondary, .ni-body-copy-tertiary {font-size:13px;}
}


.ni-title-margin
{
		margin-bottom: 30px;
}
@media (min-width:920px)
{
		.ni-title-margin
		{	margin-bottom: 40px; }
}

p
{
    margin:0;
    padding:0;
}

A.ni-primary-link:after
{
    content: " >";
}
A.ni-primary-link:hover
{
    text-decoration: underline;
}
/*-----------------------------------------------------
		Remove the 40 pixels from footer for AEM/CMS
-------------------------------------------------------*/
.ni-page-wrap .footer {
	margin-top: 0;
}

/*-----------------------------------------------------
		Adding Optional 85 pixel rule
-------------------------------------------------------*/
.ni-page-wrap .ni-footer-divider {
	height: 85px;
}

@media only screen and (max-device-width : 667px) {
	.ni-page-wrap .ni-footer-divider {
		height: 10px;
	}

}

/*-----------------------------------------------------
  NI Colors
-------------------------------------------------------*/
.ni-navyblue {
    background-color: #0e385f;
    color: #fff;
}
.ni-lightblue {
    background-color: #3498DB;
    color: #fff;
}

.ni-labviewyellow {
    background-color: #FFBB00;
    color: #000;
}

.ni-green {
    background-color: #6AA239;
    color: #fff;
}

.ni-darkgreen {
    background-color: #4B8400;
    color: #fff;
}

.ni-purple {
    background-color: #46467F;
    color: #fff;
}

.ni-lightgrey20 {
    background-color: #F4F4F4;
    color: #000;
}
.ni-lightgrey40 {
    background-color: #E7E7E7;
    color: #000;
}
.ni-lightgrey60 {
    background-color: #DDD;
    color: #000;
}
.ni-lightgrey80 {
    background-color: #CCC;
    color: #000;
}
.ni-lightgrey100 {
    background-color: #B2B2B2;
    color: #000;
}
.ni-grey-ccc{
    background-color: #CCC;
    color: #000;
}


/*-----------------------------------------------------
		Adding Legal Treatment.
-------------------------------------------------------*/

.ni-text-legal-treatment {
    font-size: 10px;
    font-style: italic;
}

/*-----------------------------------------------------
       Removing "X" from input boxes in IE.
-------------------------------------------------------*/
::-ms-clear {
	display: none;
}
/*-----------------------------------------------------
       Declare font specific classes
-------------------------------------------------------*/

.section-header, .section-subhead{font-family: 'Roboto Condensed', sans-serif;
}

/*-----------------------------------------------------
       Divider Classes
-------------------------------------------------------*/
.ni-divider {
    width: 100%;
    border-top: 1px solid #ccc;
}

.ni-divider-small {
    height: 1px;
}

.ni-divider-medium {
    height: 5px;
}

.ni-divider-large {
    height: 10px;
}

/*-----------------------------------------------------
        Reset ul and ol padding and margin
-------------------------------------------------------*/

ol, ul {
    margin-bottom: 0;
    padding: 0;
}

ol {
    padding-left: 20px;
}
ul {
    padding-left: 15px;
    list-style-type: square;
}
ul.ni-linklist li,
ul.ni-linklist li
{
	margin-bottom:9px!important;
}

ul.ni-linklist li::-moz-list-bullet
{
	font-size: 10px;
	padding-right: 8px;
}



/* FLOATS */
.left { float:left; }
.right { float:right; }
.clear { clear:both; }

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}


/* NI text modifications -  */

.ni-uppercase {
    text-transform: uppercase;
}

.ni-lowercase {
    text-transform: lowercase;
}

.ni-capitalize {
    text-transform: capitalize;
}

.ni-text-align-left {
	text-align: left;
}

.ni-text-align-center {
	text-align: center;
}

.ni-text-align-right{
	text-align: right;
}



/* Enforcing the 15px padding on container -  */
.container-fluid.aem {
	padding-left: 15px;
	padding-right: 15px;
}

/* NI text component background AEMEC-14 -  */

.ni-blue {
	background-color: #065FA3;
	color: #fff;
}

.ni-darkgrey {
	background-color: #444;
	color: #fff;
}

.ni-midgrey {
	color:#000000;
	background-color: #E7E7E7;
}
.ni-lightgrey {
	color:#000000;
	background-color: #F4F4F4;
}

/*-----------------------------------------------------
        Default anchor tags styles
-------------------------------------------------------*/
a {
  color: #065FA3;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #065FA3;
  text-decoration: underline;
}
/*-----------------------------------------------------
        Light grey anchor tags for feature only
-------------------------------------------------------*/

.ni-lightgrey .feature p a {
    color: #000;
    font-weight: bold;
    text-decoration: underline;
}

.ni-lightgrey .feature p a:hover {
    text-decoration: none;
}

.ni-white {
	background-color: #fff;
	color: #000;
}
.ni-darkgrey p a, .ni-darkgrey a, .ni-blue p a, .ni-blue a, {
	color:#fff;
}
.ni-darkgrey p a:hover, .ni-darkgrey a:hover, .ni-blue p a:hover, .ni-darkgrey p a:focus, .ni-darkgrey a:focus, .ni-blue p a:focus, .ni-blue a:focus{
	text-decoration:underline;
	color:#b2b2b2;
}
.ni-blue p a:hover, .ni-blue p a:focus, .ni-blue a:focus{
	text-decoration:underline;
	color:#fff;
}
.ni-darkgrey h1, .ni-darkgrey h2, .ni-darkgrey h3, .ni-darkgrey h4, .ni-darkgrey .h1, .ni-darkgrey .h2, .ni-darkgrey .h3, .ni-darkgrey .h4,.ni-blue h1, .ni-blue h2, .ni-blue h3, .ni-blue h4, .ni-blue .h1, .ni-blue .h2, .ni-blue .h3, .ni-blue .h4{
    color:#FFFFFF;
}

/*-------------------------------------------
			S&B Button Styles
---------------------------------------------*/
.ni-btn{
	display: inline-block !important;
	padding: 13px 15px;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 17px;
	text-align: center;
	white-space: nowrap;
	cursor: pointer;
	text-transform: uppercase;
 line-height: 1em;
}
.ni-btn:hover{
  text-decoration: none;
}

/* Default NI Button - Light */
.ni-btn-primary{
	color: #fff;
	background-color: #f04e23;
	font-weight: 400;
}
.ni-btn-primary:hover{
	color: #fff;
	background-color: #d73a0f;
}

.ni-btn-secondary{
	color: #d73a0f;
	background-color: transparent;
	font-weight: 400;
	border: 2px solid #f04e23;
}
.ni-btn-secondary:hover{
	color: #fff;
	background-color: #f04e23;
}

.ni-btn-tertiary{
	color: #065fa3;
	background-color: transparent;
	font-weight: 400;
	border: 2px solid #065fa3;
}
.ni-btn-tertiary:hover{
	color: #fff;
	background-color: #065fa3;
}
.ni-btn-commerce{
	color: #fff;
	background-color: #6aa239;
	font-weight: 400;
}
.ni-btn-commerce:hover{
	color: #fff;
	background-color: #4b8400;
}

/* Dark Button */
.ni-darkgrey .ni-btn-primary, .ni-blue .ni-btn-primary{
	color: #d73a0f;
	background-color: #fff;
	font-weight: 400;
}
.ni-darkgrey .ni-btn-primary:hover, .ni-blue .ni-btn-primary:hover{
	color: #fff;
	background-color: #f04e23;
	border: 2px solid #fff;
	padding: 11px 13px;
}

.ni-darkgrey .ni-btn-secondary, .ni-blue .ni-btn-secondary{
	color: #fff;
	background-color: transparent;
	font-weight: 400;
	border: 2px solid #fff;
}
.ni-darkgrey .ni-btn-secondary:hover, .ni-blue .ni-btn-secondary:hover{
	color: #d73a0f;
	background-color: #fff;
}

.ni-darkgrey .ni-btn-tertiary, .ni-blue .ni-btn-tertiary{
	color: #fff;
	background-color: transparent;
	font-weight: 400;
	border: 2px solid #fff;
}
.ni-darkgrey .ni-btn-tertiary:hover, .ni-blue .ni-btn-tertiary:hover{
	color: #065fa3;
	background-color: #fff;
}

.ni-darkgrey .ni-btn-commerce, .ni-blue .ni-btn-commerce{
	color: #4b8400;
	background-color: #fff;
	font-weight: 400;
}
.ni-darkgrey .ni-btn-commerce:hover, .ni-blue .ni-btn-commerce:hover{
	color: #fff;
	background-color: #6aa239;
	border: 2px solid #fff;
	padding: 11px 13px;
}
/******************************
 * Form Specific Button Styles
 ******************************/
FORM .ni-btn-tertiary {
	color: #fff;
	background-color: #065fa3;
	font-weight: 400;
	border: 2px solid #065fa3;
}
FORM .ni-btn-tertiary:hover {
	background-color: #0e385f;
	border-color: #0e385f;
}
FORM .ni-btn-tertiary:disabled {
	color: #ffffff;
	background-color: #065fa3;
	opacity : .5;
	cursor:not-allowed;
}

/*-------------------------------------------
			End: Button Styles
---------------------------------------------*/
.ni-margin-1x
{
	margin-bottom:4.5px;
}
.ni-margin-2x
{
	margin-bottom:9px;
}
.ni-margin-3x
{
	margin-bottom:18px;
}
@media (min-width:920px)
{
	.ni-margin-1x { margin-bottom:6px; }
	.ni-margin-2x { margin-bottom:12px; }
	.ni-margin-3x { margin-bottom:24px; }
}	

/* Brought over from PNX */
.pnx-block-1x, .padding-bottom-sm, .ni-padding-bottom-small {
	margin-bottom:9px;
}

.pnx-block-2x, .padding-bottom-md, .ni-padding-bottom-medium {
	margin-bottom:18px;
}

.pnx-block-3x, .padding-bottom-lg, .ni-padding-bottom-large {
	margin-bottom:27px;
}

.pnx-block-1x p:last-child, .pnx-block-2x p:last-child, .pnx-block-3x p:last-child{
	margin-bottom: 0;
}

@media (max-width: 767px){
	/*New Padding Sizes WCMSR-1103*/
	.padding-d40-t30-m25{
		margin-bottom: 25px;
	}
	.padding-d50-t35-m30{
		margin-bottom: 30px;
	}
	.padding-d70-t43-m35{
		margin-bottom: 35px;
	}
}

@media (min-width: 768px){
	/* Brought over from PNX */
.pnx-block-1x, .padding-bottom-sm, .ni-padding-bottom-small {
	margin-bottom:12px;
}

.pnx-block-2x, .padding-bottom-md, .ni-padding-bottom-medium {
	margin-bottom:24px;
}

.pnx-block-3x, .padding-bottom-lg, .ni-padding-bottom-large {
	margin-bottom:36px;
}

	/*New Padding Sizes WCMSR-1103*/
	.padding-d40-t30-m25{
		margin-bottom: 30px;
	}
	.padding-d50-t35-m30{
		margin-bottom: 35px;
	}
	.padding-d70-t43-m35{
		margin-bottom: 43px;
	}
}

@media (min-width:920px) {
	
	/* Brought over from PNX */
.pnx-block-1x, .padding-bottom-sm, .ni-padding-bottom-small {
	margin-bottom:12px;
}

.pnx-block-2x, .padding-bottom-md, .ni-padding-bottom-medium {
	margin-bottom:24px;
}

.pnx-block-3x, .padding-bottom-lg, .ni-padding-bottom-large {
	margin-bottom:36px;
}
	/*New Padding Sizes WCMSR-1103*/
	.padding-d40-t30-m25{
		margin-bottom: 40px;
	}
	.padding-d50-t35-m30{
		margin-bottom: 50px;
	}
	.padding-d70-t43-m35{
		margin-bottom: 70px;
	}
}

/* Separation for hotspot */
.ni-transparent-dark-blue {
	background-color: rgba(6, 95, 163, 0.9);
}

/*-------------------------------------------
			Adding Inset options
---------------------------------------------*/
.ni-inset-padding-small{
	padding: 15px;
}

.ni-inset-padding-medium{
	padding: 30px;
}

.ni-inset-padding-large{
	padding: 45px;
}

/*-------------------------------------------
			Adding container dropshadow
---------------------------------------------*/

.ni-container-top-dropshadow{
    -webkit-box-shadow: inset 0px 10px 8px -9px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0px 10px 8px -9px rgba(0,0,0,0.3);
    box-shadow: inset 0px 10px 8px -9px rgba(0,0,0,0.3);
}

/* TODO: Need to organize/redo icons. -Matt */
/* PNX Icons */

[class^="ni-icn-"],
[class*=" ni-icn-"] {
  display: inline-block;
  width: 25px;
  height: 16px;
  line-height: 16px;
  vertical-align: middle;
  background-image: url("/images/icons/pnx-icns.png");
  background-position: 0px 0px;
  background-repeat: no-repeat;
}

[class^="ni-icn-"]:nth-child(2),
[class*=" ni-icn-"]:nth-child(2){
  margin-left: 8px;
}

.ni-icn-save{background-position: 0px -46px}
.ni-icn-save.disabled{background-position: 0px -92px}
.ni-icn-rtf{background-position: 0px -184px}
.ni-icn-pdf{background-position: 0px -460px}
.ni-icn-phone{background-position: 0px -322px}
.ni-icn-phone.disabled{background-position: 0px -368px}
.ni-icn-email{background-position: 0px -597px}
.ni-icn-user{background-position: 0px -733px}
.ni-icn-user.disabled{background-position: 0px -779px}
.ni-icn-cart{background-position: 0px -870px}
.ni-icn-cart.disabled{background-position: 0px -914px}
.ni-icn-print{background-position: 0px -1016px}
.ni-icn-fax{background-position: 0px -1016px}
.ni-icn-chevLeft{background-position: 0px -1162px; height: 18px}
.ni-icn-chevRight{background-position: 0px -1210px; height: 18px}
.ni-icn-pageLeft{background-position: 0px -1257px; height: 18px}
.ni-icn-pageRight{background-position: 0px -1303px; height: 18px}
.ni-icn-globalSearch{background-position: 0px -1349px; height: 18px}
.ni-icn-sidebarSearch{background-position: 0px -1394px; height: 20px; width: 28px}
.ni-icn-search{background-position: 0px -1442px}
.ni-icn-retrieve{background-position: -3px -1956px}
.ni-icn-refresh{background-position: -3px -1818px}
.ni-icn-request-quote{background-position: -3px -1542px}
.ni-icn-chat{background-position: -3px -1542px}
.ni-icn-chat.disabled{background-position: -3px -1588px}
.ni-icn-download{background-position: -3px -1680px}
.ni-icn-download.disabled{background-position: -3px -1726px}
.ni-icn-rss{background-position: 0px -2098px}
.ni-icn-srm{background-position: -3px -2373px}
.ni-icn-srm.disabled{background-position: -3px -2423px}
.ni-icn-training{background-position: -3px -2233px}
.ni-icn-training.disabled{background-position: -3px -2278px}
.ni-icn-checkmark{background-position: -3px -1123px}
.ni-icn-attachment{background-position:-3px -2460px; height:20px;}
.ni-icn-close {background-image: url('/niassets/icons/close.svg'); width:32px; height:32px; cursor: pointer;}


a:hover .ni-icn-save{background-position: 0px 0}
a:hover .ni-icn-save.disabled{background-position: 0px -92px}
a:hover .ni-icn-rtf{background-position: 0px -138px}
a:hover .ni-icn-pdf{background-position: 0px -414px}
a:hover .ni-icn-phone{background-position: 0px -276px}
a:hover .ni-icn-email{background-position: 0px -552px}
a:hover .ni-icn-user{background-position: 0px -687px}
a:hover .ni-icn-cart{background-position: 0px -825px}
a:hover .ni-icn-print{background-position: 0px -960px}
a:hover .ni-icn-fax{background-position: 0px -960px}
a:hover .ni-icn-retrieve{background-position: -3px -1910px}
a:hover .ni-icn-refresh{background-position: -3px -1772px}
a:hover .ni-icn-request-quote{background-position: -3px -1496px}
a:hover .ni-icn-chat{background-position: -3px -1496px}
a:hover .ni-icn-download{background-position: -3px -1634px}
a:hover .ni-icn-rss{background-position: 0px -2052px}
a:hover .ni-icn-srm{background-position: -3px -2322px}
a:hover .ni-icn-training{background-position: -3px -2190px}

span:hover .ni-icn-phone{background-position: 0px -32px}
span:hover .ni-icn-phone.disabled{background-position: 0px -368px}
span:hover .ni-icn-user{background-position: 0px -687px}
span:hover .ni-icn-user.disabled{background-position: 0px -779px}
span:hover .ni-icn-chat{background-position: -3px -1496px}
span:hover .ni-icn-chat.disabled{background-position: -3px -1588px}
span:hover .ni-icn-download{background-position: -3px -1634px}
span:hover .ni-icn-download.disabled{background-position: -3px -1726px}
span:hover .ni-icn-srm{background-position: -3px -2322px}
span:hover .ni-icn-srm.disabled{background-position: -3px -2423px}
span:hover .ni-icn-training{background-position: -3px -2190px}
span:hover .ni-icn-training.disabled{background-position: -3px -2278px}

/******** Action icons ********/
.ni-actions{ background:url("/widgets/pnx/1.0/img/icons/pnx-icns.png") 50px 50px no-repeat; display:inline-block;}

[class^="ni-action-l-"],
[class*=" ni-action-l-"] {
  padding-left: 26px;
  height: 17px;
  vertical-align: middle;
}

.ni-action-l-download{   background-position: -2px -1680px;}
.ni-action-l-download:hover{   background-position: -2px -1634px }
.ni-action-l-request-quote{    background-position: -2px -1542px; }
.ni-action-l-request-quote:hover{    background-position: -2px -1496px; }
.ni-action-l-print-fax{    background-position: 1px -1016px;}
.ni-action-l-print-fax:hover{    background-position: 1px -960px}
.ni-action-l-print{   background-position: 1px -1016px;}
.ni-action-l-print:hover{   background-position: 1px -960px}
.ni-action-l-buy-now{   background-position: 0px -870px }
.ni-action-l-buy-now:hover{   background-position: 0px -825px }
.ni-action-l-save-share{    background-position: 0px -46px;}
.ni-action-l-save-share:hover{   background-position: 0px 0 }
.ni-action-l-refresh{    background-position:0px -1818px; }
.ni-action-l-refresh:hover{    background-position:0px -1772px; }

/*finish disables*/
.ni-action-l-download.disabled{   background-position: -2px -1680px;}
.ni-action-l-download.disabled:hover{   background-position: -2px -1634px }
.ni-action-l-request-quote.disabled{    background-position: -2px -1542px; }
.ni-action-l-request-quote.disabled:hover{    background-position: -2px -1496px; }
.ni-action-l-print-fax.disabled{    background-position: 1px -1016px;}
.ni-action-l-print-fax.disabled:hover{    background-position: 1px -960px}
.ni-action-l-print.disabled{   background-position: 1px -1016px;}
.ni-action-l-print.disabled:hover{   background-position: 1px -960px}
.ni-action-l-buy-now.disabled{   background-position: 0px -870px }
.ni-action-l-buy-now.disabled:hover{   background-position: 0px -825px }
.ni-action-l-save-share.disabled{    background-position: 0px -92px }
.ni-action-l-save-share.disabled:hover{   background-position: 0px -92px}
.ni-action-l-refresh.disabled{    background-position:0px -1818px; }
.ni-action-l-refresh.disabled:hover{    background-position:0px -1772px; }

[class^="ni-action-r-"],
[class*=" ni-action-r-"] {
  padding-right:31px;
  height: 17px;
  vertical-align: middle;
}

.ni-action-r-download{ background-position:100% -1680px }
.ni-action-r-download:hover{ background-position:100% -1634px  }
.ni-action-r-request-quote{  background-position:100% -1542px }
.ni-action-r-request-quote:hover{  background-position:100% -1496px}
.ni-action-r-print-fax{  background-position:100% -1016px}
.ni-action-r-print-fax:hover{  background-position:100% -960px}
.ni-action-r-print{  background-position:100% -1016px }
.ni-action-r-print:hover{  background-position:100% -960px}
.ni-action-r-buy-now{  background-position:100% -870px }
.ni-action-r-buy-now:hover{  background-position:100% -825px }
.ni-action-r-save-share{    background-position:100% -46px }
.ni-action-r-save-share:hover{  background-position:100% 0; }
.ni-action-r-refresh{  background-position:97% -1818px; }
.ni-action-r-refresh:hover{  background-position:97% -1772px;}


[class^="ni-support-icon-"],
[class*=" ni-support-icon-"] {
  display: inline-block;
  width: 48px;
  height: 48px;
  line-height: 48px;
  vertical-align: middle;
  background-image: url("../img/icons/support-icons.png");
  background-position: 0px 0px;
  background-repeat: no-repeat;
  margin-right:12px;
}

.ni-support-icon-prod-manuals{ background-position:-389px 100% }
.ni-support-icon-knowledge-base{ background-position:-143px 100% }
.ni-support-icon-discuss{ background-position:-301px 100% }
.ni-support-icon-downloads{ background-position:-69px 100% }
.ni-support-icon-tutorials{ background-position:0px 100% }
.ni-support-icon-examples{ background-position:-220px 100% }


/***************************************************************
 * NI Message Icons
 ***************************************************************/
.ni-msg .ni-msg-icon
{
  display: inline-block;
  width: 27px;
  height: 27px;
  line-height: 27px;
  vertical-align: middle;
  background-image: url("/niassets/icons/ni-msg.png");
  background-position: 0px 0px;
  background-repeat: no-repeat;
  vertical-align: top;
}
.ni-msg.ni-msg-warning .ni-msg-icon
{
    background-position: -399px -399px;
}
.ni-msg.ni-msg-error .ni-msg-icon
{
    background-position: -599px -599px;
}

.glyphicon-user {
    border: 1px solid;
    color: #dddddd;
    font-size: 84px;
}

/**************************************************
 * jQuery-UI & Bootstrap Modal Overrides          *
 * ************************************************/
@media (min-width:920px)
{
		.modal-backdrop
		{
				background-color: #b2b2b2;
				opacity: .85;
				z-index: 1031;
		}
}
.modal .modal-header,
.modal .modal-body,
.modal .modal-footer
{
  padding:0px;
}
@media (min-width:920px)
{
		.modal .modal-content
		{
				background:none;
				background-color:#ffffff;
				border: 5px solid #E7E7E7;
				border-radius:0;
				padding:20px;
				-moz-border-radius:0;
				-webkit-border-radius:0;
				box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.18);
				-webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.18);
				-moz-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.18);
		}
}
.modal .modal-header
{
  border-bottom: none;
}
.modal .modal-footer
{
  border-top: none;
}
.modal .modal-title
{
		color:#333333;
		float:left;
}
.modal .close
{
		fill: #333333;
  float:right;
  opacity:1;
}

.ui-widget-overlay {
  background-image:none;
		background-color: #b2b2b3!important;
		opacity: .85!important;
  z-index: 1031;
 	position:absolute;
  top:0;
  left:0;
}
.ui-dialog
{
		background:none!important;
		background-color:#ffffff!important;
		border: 5px solid #E7E7E7!important;
		border-radius:0!important;
  padding:20px!important;
		-moz-border-radius:0!important;
		-webkit-border-radius:0!important;
		box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.18)!important;
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.18)!important;
  -moz-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.18)!important;
  min-width: 600px!important;
}
.ui-dialog .ui-dialog-content
{
		background-color: #ffffff!important;
  padding:0!important;
}
.ui-dialog .ui-dialog-titlebar
{
  padding:0 0 20px 0!important;
		border-radius:0!important;
		-moz-border-radius:0!important;
		-webkit-border-radius:0!important;
}
.ui-dialog .ui-dialog-titlebar.ui-widget-header
{
		background:none!important;
		border:none!important;
}
.ui-dialog .modal-titlebar
{
		color:#333333;
		float:left;
}
.ui-dialog #close-modal
{
  cursor:pointer;
  opacity:1;
		fill: #333333;
  float:right;
}
.ui-dialog .modal-content,
.ui-dialog .ui-dialog-content
{
  box-shadow:none!important;
  -webkit-box-shadow:none!important;
  -moz-box-shadow:none!important;
  border:none!important;
		color:#333333!important;
  padding:0;
  border-radius: 0;
		-moz-border-radius:0;
		-webkit-border-radius:0;
}

/* jQuery-UI overrides to make old modal match new for VOC survey*/
.ui-dialog #survey-launch-modal h1,
.ui-dialog #survey-launch-modal h2,
.ui-dialog #survey-launch-modal h3,
.ui-dialog #survey-launch-modal h4 {
	font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0;
    line-height:1.42857143;
}
.ui-dialog #survey-launch-modal  h1,
.ui-dialog #survey-launch-modal  h2 {
	font-weight: 300;
}

.ui-dialog #survey-launch-modal  h3{
	font-weight: 400;
}

.ui-dialog #survey-launch-modal  h4{
	font-weight: 600;
}

.ui-dialog #survey-launch-modal  h1 {
	font-size:24px;
}
.ui-dialog #survey-launch-modal  h2 {
	font-size:21px;
}
.ui-dialog #survey-launch-modal  h3 {
	font-size:16px;
}
.ui-dialog #survey-launch-modal {
		font-size:13px;
  text-align: left;
}
.ui-dialog #survey-launch-modal .center {
	text-align: center;
}
.ui-dialog #survey-launch-modal .gutter-outer-r {
    margin-right: 12px;
}
.ui-dialog #survey-launch-modal .pnx-block-1x {
	margin-bottom:9px;
}
.ui-dialog #survey-launch-modal .pnx-block-2x {
	margin-bottom:18px;
}

.ui-dialog #survey-launch-modal  .font-size-s
{
	font-family:Helvetica, sans-serif;
	font-size:11px;
	color:#777777;
}
.ui-dialog #survey-launch-modal .pnx-btn
{
 background: none;
	display: inline-block;
	margin-top: 20px;
	padding: 13px 15px;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 17px;
	text-align: center;
	white-space: nowrap;
	cursor: pointer;
	text-transform: uppercase;
 line-height: 1em;

	color: #065fa3!important;
	background-color: transparent;
	font-weight: 400;
	border: 2px solid #065fa3;
 
		border-radius:0;
		-moz-border-radius:0;
		-webkit-border-radius:0;
}
.ui-dialog #survey-launch-modal .pnx-btn:hover{
  text-decoration: none;
 	color: #fff!important;
 	background-color: #065fa3;
}
@media (min-width: 768px){
.ui-dialog #survey-launch-modal h1 { font-size:36px; }
.ui-dialog #survey-launch-modal h2 { font-size:26px;}
.ui-dialog #survey-launch-modal h3 { font-size:18px;}
.ui-dialog #survey-launch-modal { font-size:14px; }
.ui-dialog #survey-launch-modal .font-size-s {font-size:12px;}
}

@media (min-width:920px) {
.ui-dialog #survey-launch-modal h1 { font-size: 45px; }
.ui-dialog #survey-launch-modal h2 { font-size:32px;}
.ui-dialog #survey-launch-modal h3 { font-size:21px;}
.ui-dialog #survey-launch-modal .ni-section-header {font-size:18px;}
.ui-dialog #survey-launch-modal { font-size:16px; }
.ui-dialog #survey-launch-modal .font-size-s {font-size:13px;}
}


/**

 * Tabs Widget

 */

.ui-tabs .ui-tabs-nav {

	padding:0;

	margin:0;

	list-style: none;

	*display:inline-block; /* IE7 hack */

}



.ui-tabs .ui-tabs-nav:after {

	content: ".";

	display: block;

	clear: both;

	visibility: hidden;

	line-height: 0;

	height: 0;

	_height: 1%; /* IE6 hack */

}



html[xmlns] .ui-tabs .ui-tabs-nav {

	display: block;

}



.ui-tabs .ui-tabs-nav li {

	font-size:12px;

	float:left;

	margin-right:4px;

	margin-left:0;

	margin-top:5px;

	position:relative;

	top:1px;

	_top:2px; /* IE6 hack */

	*top:2px; /* IE7 hack */

	list-style-type:none;

	border:1px solid #CCC;

	border-bottom:none;

	border-top-left-radius:5px;

	border-top-right-radius:5px;

	-moz-border-radius-topleft :5px;

	-moz-border-radius-topright:5px; 

	-webkit-border-top-left-radius: 5px;

	-webkit-border-top-right-radius:5px;

}



.ui-tabs .ui-tabs-nav li, .ui-tabs .ui-tabs-nav li a, .ui-tabs .ui-tabs-nav li a span {

	cursor:pointer;

}



.ui-tabs .ui-tabs-nav li a {

	padding:2px 16px;

	color:#000;

	outline:none;

	text-decoration:none;

}



.ui-tabs .ui-tabs-nav li a, .ui-tabs .ui-tabs-nav li span {

	display:block;

}



.ui-tabs .ui-state-hover {

	background:transparent url(images/tabs.png) repeat-x 0 0;

	border-bottom:1px solid #ccc;

}



.ui-tabs .ui-tabs-nav li.ui-tabs-active {

	background:transparent url(images/tabs.png) repeat-x 0 0;

	position:relative;

	top:1px;

	margin-top:0;

}



.ui-tabs .ui-tabs-nav li{

	margin-bottom: 0;

}



.ui-tabs .ui-tabs-nav li.ui-tabs-active a {

	font-weight:bold;

	position:relative;

	padding-top:8px;

	top:-1px;

}



.ui-tabs .ui-tabs-panel {

	padding:12px;
	
	display: block;

	background:transparent url(images/tabs.png) repeat-x 0 -26px;

	border:1px solid #CCC;

	border-bottom-left-radius:5px;

	border-bottom-right-radius:5px;

	border-top-right-radius:5px;

	-moz-border-radius-bottomleft :5px;

	-moz-border-radius-bottomright:5px; 

	-moz-border-radius-topright :5px;

	-webkit-border-bottom-left-radius: 5px;

	-webkit-border-bottom-right-radius:5px;

	-webkit-border-top-right-radius:5px;

}

/*for RMS tabs */
.region .ui-tabs .ui-tabs-panel {

	border:1px solid #CCC !important;
}

 
.ui-tabs .ui-tabs-hide {

	display:none;

}



/* Bottom tabs, places the tabs at the bottom of the container */

.ui-tabs-bottom {

	position:relative;

	zoom:1;

}



.ui-tabs-bottom .ui-tabs-panel {

	background:#fff;

	border-top-left-radius:5px;-moz-border-radius-topleft :5px;-webkit-border-top-left-radius: 5px;

	border-bottom-left-radius:0;-moz-border-radius-bottomleft :0;-webkit-border-bottom-left-radius: 0;

}



.ui-tabs-bottom .ui-tabs-nav {

	position:absolute;

	top:100%;

}



.ui-tabs-bottom .ui-tabs-nav li {

	background: transparent url(/widgets/jqueryui/1.8.5/css/ni/images/tabs-bottom.png) repeat-x 0 100%; 

	top:0;

	margin-top:0;

	border-bottom:1px solid #ccc;

	border-top:none;

	border-top-left-radius:0;-moz-border-radius-topleft: 0;-webkit-border-top-left-radius: 0;

	border-top-right-radius:0;-moz-border-radius-topright: 0;-webkit-border-top-right-radius: 0;

	border-bottom-left-radius:5px;-moz-border-radius-bottomleft:5px;-webkit-border-bottom-left-radius:5px;

	border-bottom-right-radius:5px;-moz-border-radius-bottomright:5px;-webkit-border-bottom-right-radius:5px;

}



.ui-tabs-bottom .ui-tabs-nav li.ui-tabs-active {

	background:#fff;

	top:-1px;

	margin-top:0;

}

/*-------------------------------------------
			HotSpot override
scrip tags are showing in hotspots, code below fixes that issue.
---------------------------------------------*/

.hotspot .hs-spot script{
	display: none;
}

/*-----------------------------------------------------
		Hotspot Close
-------------------------------------------------------*/

#hotspotModal .modal-header .close svg polygon {
	fill: #ccc;
}

#hotspotModal .modal-header .close:hover svg polygon{fill:#b2b2b2}

#hotspotModal .modal-header {
	min-height: 40px;
	padding-bottom: 0;
}
#hotspotModal #ni-close-svg {
	width: 20px;
	height: 20px;
}

/*-----------------------------------------------------
		Fonzie H1
-------------------------------------------------------*/

.ni-homepage-top .title div {
	/*padding-top: 44px;
	padding-bottom: 44px;*/
}


/*-----------------------------------------------------
		Fixes Highlight Card View
-------------------------------------------------------*/

.highlight-card-height {
	overflow: hidden;
	margin-bottom:30px;
}

.highlight-horizontal-img{
	float: left;
}
.highlight-horizontal-content{
	float: left;
	padding-left: 20px;
}

@media only screen and (min-width: 1200px) {

	.highlight-card-height {
		overflow:hidden;
		margin-bottom:30px;
	}
	
	.highlight-horizontal-img {
		width: 165px;
	}

	.highlight-horizontal-content{
		width: 84%;
	}
	
	.grid .col-sm-6 .highlight-horizontal-content{
		width: 66%;
	}
}

@media only screen and (max-width: 1199px) {
	.highlight-title-card{
		bottom: 75px!important;
	}
	.highlight-card-height {
		padding-left: 0;
		height: 176px !important; /*184*/
	}
	.highlight-title-card{
		bottom: 44px!important;
		padding: 12px 0 12px 12px !important;
	}
	.highlight-image-card img{
		width: 100%;
	}
	
	.highlight-horizontal-img {
		width: 165px;
	}

	.highlight-horizontal-content{
		width: 80%;
	}
	
	.grid .col-sm-6 .highlight-horizontal-content{
		width: 60%;
	}
}



@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px){
	.highlight-card-height {
		padding-left: 0;
		height: 136px !important;
	}
	.highlight-title-card{
		bottom: 40px!important; /*20*/
		padding: 8px 0 10px 5px !important; /*15 0 10 10*/
		height: 40px !important;
	}
	
	.grid .highlight-card .col-xs-12 { /*Added*/
		margin-bottom: -30px;
	}

	.highlight-title-card h3 {
		font-size: 13px !important;
	}

	.highlight-image-card img{
		width: 100%;
	}
}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {
	.highlight-title-card{
		bottom: 40px!important; /*45 change*/
	}
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px),
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px){ /*Added*/
	.grid .highlight-card .col-xs-12 {
		margin-bottom: -21px; /*-20*/
	}
	
	.highlight-horizontal-img {
		width: 77px;
	}
	
	.highlight-horizontal-content {
		width: 70%;
	}
}

@media only screen
and (min-device-width : 360px)
and (max-device-width : 567px){ /* Added */
	.grid .highlight-card .col-xs-12 {
		margin-bottom: -11px !important;
	}
}


@media only screen
and (min-device-width : 360px)
and (max-device-width : 640px){ /* Added */
	.grid .highlight-card .col-xs-12 {
		margin-bottom: -6px !important;
	}
}

@media only screen
and (min-device-width : 384px)
and (max-device-width : 567px){ /* Added */
	.grid .highlight-card .col-xs-12 {
		margin-bottom: -8px !important;
	}
}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 627px){ /* Added */
	.grid .highlight-card .col-xs-12 {
		margin-bottom: 1px !important;
	}
	
	.grid .col-sm-6 .highlight-horizontal-content {
		width: 70%;
	}
}

@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px){ /*Added*/
	.grid .highlight-card .col-xs-12 {
		margin-bottom: 16px !important;
	}
}

@media only screen
and (min-device-width: 412px)
and (max-device-width: 659px){ /*Added*/
	.grid .highlight-card .col-xs-12 {
		margin-bottom: 15px !important; /*16*/
	}
}

@media only screen
and (min-device-width: 600px)
and (max-device-width: 1024px){ /*Added*/
	.grid .highlight-card .col-xs-12 {
		margin-bottom: 18px !important; /*32*/
	}
	
	.highlight-horizontal-img {
		width: 132px;
	}
	
	.highlight-horizontal-content{
		width: 70%;
	}
	
	.grid .col-sm-6 .highlight-horizontal-content {
		width: 75%;
	}
}

@media only screen and (max-device-width: 1024px) and (min-device-width: 768px){
	.grid .highlight-card .col-xs-12 {
		margin-bottom: 30px !important; /*32*/
	}
	
	.grid .col-xs-6.col-sm-4 {
		padding-left: 15px !important;
		padding-right: 15px !important;
	}
	
	.highlight-title-card p {
		padding-top: 33px !important;
	}
	
	.highlight-horizontal-content {
		width: 80%;
	}
	.grid .col-sm-6 .highlight-horizontal-content {
		width: 60%;
	}
}

@media only screen
and (min-device-width: 800px)
and (max-device-width: 1280px){ /*Added*/
	.highlight-horizontal-content {
		width: 80%;
	}
	
	.grid .col-sm-6 .highlight-horizontal-content {
		width: 60%;
	}
}

@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px) {
	.highlight-title-card{
		bottom: 40px!important; /*60 change*/
	}
}

@media only screen
and (min-device-width : 600px)
and (max-device-width : 960px) { /*Style added*/
	.highlight-title-card{
		bottom: 67px!important;
	}

}

/*-----------------------------------------------------
		Fixes Highlight Standard view Shop Page
-------------------------------------------------------*/
.grid .col-xs-12 {
	margin-bottom: 40px;
}

.grid .product-support-resource .col-xs-12 {
	margin-bottom: 50px;
}

.grid .no-padding {
	margin-bottom: 0;
}
/*-----------------------------------------------------
		Overlay Card fixes
-------------------------------------------------------*/
.ni-card-overlay-title h3{
color:#ffffff;
}

/*-----------------------------------------------------
		Categorical Link fix
-------------------------------------------------------*/
@media only screen and (max-device-width: 768px){
	.categorical-content.horizontal img{width:46px!important;}
	.categorical-content.horizontal .section-media+.link-desc {
	margin-left:60px!important;
	}
}

@media only screen and (max-width: 767px){
	.row.ni-home{
		/*margin-right: 0!important;
		margin-left: 0!important;*/
		margin-top: -20px;
	}
}

@media only screen and (max-device-width: 860px){
	.flexslider .flex-next, .flexslider .flex-prev{
		background: rgba(255, 255, 255, 0.25);
	}

	.flex-direction-nav a.flex-next::before {
		color: white!important;
		margin-top:-10px;
		content: "\203A" !important;

		margin-right: 6px;
	}

	.flex-direction-nav .flex-next {
		right: 0!important;
		top:197px;
		width:25px;
	}

	.flex-direction-nav a.flex-prev::before {
		color: white!important;
		margin-top:-10px;
		content: "\2039" !important;

		margin-left: 6px;
	}

	.flex-direction-nav .flex-prev {
		left: 0!important;
		top:197px;
		width:25px;
	}

	.ni-feature-content.carousel .feature-content{
		padding: 15px 40px 35px 40px !important;
	}


}

/***************************************************
 * Messaging styles
 * *************************************************/

/** adding warning syle for downtime**/
.ni-page-wrap .warning {
    background: #fff url("/widgets/pnx/1.0/img/icons/pnx-msg.png") no-repeat scroll -390px -390px;
    border-radius: 0px;
    border: solid 4px rgba(255,119,0,0.6);
    margin: 12px auto;
    min-height: 26px;
    padding: 6px 6px 6px 45px;
    position: inherit;
    vertical-align: middle;
    width: 95%;
    max-width:1170px;
    z-index: 0;
}

.ni-msg .ni-msg-content
{
    display:inline-block;
}

.ni-msg.ni-msg-warning {
    background-color:#ffffff;
    border-radius: 0px;
    border: solid 4px rgba(255,119,0,0.6);
    margin: 12px auto;
    min-height: 26px;
    padding: 6px;
    position: relative;
    vertical-align: middle;
}
.ni-msg.ni-msg-error {
    background-color:#ffffff;
    border-radius: 0px;
    border: solid 4px #D73A0F;
    min-height: 26px;
    padding: 6px;
    position: relative;
    vertical-align: middle;
}

/***************************************************
 * Tooltip styles
 * *************************************************/
.ni-tooltip-content,
.ni-form-tooltip-content
{
  display: none;
}

body .ui-tooltip
{
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
	border:none;
}

.ni-form-tooltip-customization
{
	background: none;
  background-color:#ffffff;
  border:5px solid #E7E7E7!important;
  width:303px;
  border-radius:0px;
  -moz-border-radius:0px;
  -webkit-border-radius:0px;
  padding:15px;
}


.ni-form-tooltip-customization:after {
   border-bottom: 12px solid transparent;
    border-left: 12px solid #fff;
    border-top: 12px solid transparent;
    content: "";
    display: block;
    height: 0;
    right: -12px;
    position: absolute;
    top: 31px;
    width: 0;
}
.ni-form-tooltip-customization:before {
   border-bottom: 14px solid transparent;
    border-left: 14px solid #e7e7e7;
    border-top: 14px solid transparent;
    content: "";
    display: block;
    height: 0;
    right: -18px;
    position: absolute;
    top: 29px;
    width: 0;
}


/***********************************************
 * FORMS
 ***********************************************/
FORM label
{
	text-align:left;
}
LABEL
{
	font-family: 'Helvetica', sans-serif;
	font-size: 13px;
	font-weight:bold;
	text-transform: capitalize;
	color:#333333;
	margin-bottom:6px;
	display:block;
}
INPUT
{
	width: 100%;
	padding:0 0 0 15px;
	display:inline-block;
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
}
FORM .ui-selectmenu-button,
FORM .ui-selectmenu-button.ui-state-default,
FORM .ui-selectmenu-button:hover
{
    background:none;
    background-color:#ffffff;
}

INPUT:focus,
FORM .ni-custom-dropdown:focus,
FORM .ui-selectmenu-button.ui-state-focus,
FORM .ni-custom-dropdown.opened
{
  box-shadow: 0 0 5px rgba(52, 152, 219, 0.35)!important;
  -webkit-box-shadow: 0 0 5px rgba(52, 152, 219, 0.35)!important;
  -moz-box-shadow: 0 0 5px rgba(52, 152, 219, 0.35))!important;
	border-color:#3498DB!important;
 background-color:#ffffff!important;
}
::-webkit-input-placeholder {
   color: #999!important;
}
:-moz-placeholder { /* Firefox 18- */
   color: #999!important;  
}
::-moz-placeholder {  /* Firefox 19+ */
   color: #999!important;  
}
:-ms-input-placeholder {  
   color: #999!important;  
}

INPUT,
FORM .ni-custom-dropdown,
FORM .ui-selectmenu-button
{
	height:35px;
	font-size:14px!important;
	border:1px solid #cccccc;
	font-family:'Helvetica', sans-serif;
	color:#333333!important;
 top:0;
 border-radius: 0;
 -moz-border-radius:0;
	-webkit-border-radius:0;
	
}
INPUT, TEXTAREA, SELECT,
FORM .ni-custom-dropdown,
FORM .ui-selectmenu-button,
DIV.intl-tel-input
{
	margin:0 0 25px 0;
	width:100%;
 line-height: normal;
}
FORM .ui-selectmenu-menu .ui-menu
{
		padding:10px;
		border-radius: 0;
		-moz-border-radius:0;
	 -webkit-border-radius:0;
}
FORM .ui-selectmenu-open .ui-menu
{
		max-height: 330px;
		overflow-y: auto;
}
FORM .ui-selectmenu-menu .ui-menu .ui-menu-item
{
		padding-top:5px;
		padding-bottom:5px;
}

FORM .ui-selectmenu-menu .ui-menu .ui-state-hover,
FORM .ui-selectmenu-menu .ui-menu .ui-widget-content .ui-state-hover,
FORM .ui-selectmenu-menu .ui-menu .ui-widget-header .ui-state-hover,
FORM .ui-selectmenu-menu .ui-menu .ui-state-focus,
FORM .ui-selectmenu-menu .ui-menu .ui-widget-content .ui-state-focus,
FORM .ui-selectmenu-menu .ui-menu .ui-widget-header .ui-state-focus
{
	color: #ffffff;
}

FORM .ni-custom-dropdown,
FORM .ui-selectmenu-button
{
	height:35px!important;
	padding:10px 30px 0 15px!important;
    
}
.ui-multiselect-menu.ni-multiselect{ border-top: 1px solid #ccc;}
.ui-multiselect.ui-state-active {
    border-color: #3498DB;
	outline: #3498DB auto 1px;
}
FORM .ni-multiselect
{
  padding:0px 30px 0 15px!important;
  width: auto !important;
  max-width: 220px;
  min-width: 100px;
  height: 40px !important;
  font-size: 16px !important;
}
FORM .ui-selectmenu-button .ui-selectmenu-text
{
    padding:0;
				width:100%;
}


FORM .ui-selectmenu-button .glyphicon
{
  left: auto;
  margin-top: -0.5em;
  position: absolute;
  right: 0.5em;
  top: 50%;
}


/* START ui-multiselect styles */
FORM .ui-multiselect .glyphicon {
    left: 15px;
    position: relative;
    float: right;
    top: 11px;
}

.ui-multiselect-menu
{
  display:none;
  padding:0 !important;
  position:absolute;
  z-index:10000;
  text-align: left;
}
.ui-multiselect-checkboxes label
{
  cursor:pointer;
  display:block;
}
.ui-multiselect-checkboxes li:hover { background-color: #065FA3; }
.ui-multiselect-checkboxes label input
{
  position:relative;
  margin-right: 10px;
  top: 0;
  display: inline !important;
  width: 15px !important;
  float: left;
}
/* remove label borders in IE6 because IE6 does not support transparency */
* html .ui-multiselect-checkboxes label { border:none }
.ui-multiselect-menu
{
  min-width: 207px;
}

.disabled * { color: #ccc !important; }
.ui-multiselect-checkboxes li.disabled label:hover, .ui-multiselect-checkboxes li.disabled:hover, .ui-multiselect-checkboxes li.disabled label.ui-state-hover, li.disabled label.ui-corner-all
{
    color: #ccc !important;
    background-color: white;
    border: none;
	cursor: pointer;
}

.ui-multiselect-checkboxes span {
    margin-top: 0px;
    display: inline;
	font-size: 13px;
}
.ui-multiselect-checkboxes label.ui-state-hover input[type="checkbox"], .ui-multiselect-checkboxes label.ui-state-hover input[type="checkbox"]:focus
{
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline-offset: 0px;
  cursor: pointer !important;
}
.ui-multiselect-checkboxes li {
  padding: 5px 7px !important;
}


.ui-multiselect-checkboxes label, .ui-multiselect-checkboxes label.ui-state-hover
{
    border-radius: 0px;
    cursor: pointer;
    margin: 0px;
    background-color: white;
    color: #333 !important;
    font-weight: 100;
    padding: 0px !important;
    border: 0px !important;
}
.ui-multiselect-checkboxes label:hover, .ui-multiselect-checkboxes li:hover * {
  background-color: #065FA3;
  color: #c1d7e8 !important;
}

.ui-multiselect-checkboxes li.disabled:hover *, .ui-multiselect li.disabled label:hover, .ui-multiselect-checkboxes li.disabled label span:hover {
	background-color: #fff !important;
	color: #ccc !important;
}
.ui-selectmenu-button
{
    border: solid #ccc;
    border-radius: 0px;
    border-width: 0px 1px 1px 1px;
}

.ui-multiselect-menu .ni-clear
{
    background-color: #f4f4f4;
    padding: 5px 15px 5px 5px;
    text-align: right;
    margin: 0 -3px -2px -3px;
    color: #065FA3;
    cursor: pointer;
	font-size: 13px;
}
.ui-multiselect-menu .ni-clear:hover { text-decoration: underline; }
.ui-multiselect-checkboxes 
{ 
    list-style-type: none;
    padding-left: 0px;
    margin-left: 0px;
    padding: 8px !important;
    max-height: 330px;
	max-width: 400px;
    overflow-y: auto !important;
}
.ui-multiselect span { font-size: 13px; margin-right: 0px !important; }
.ui-multiselect span:not(.glyphicon) { 
	position: relative;
    max-width: 173px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline;
    white-space: nowrap;
}
.ni-clear-all { 
	margin-left: 10px;
	font-size: 13px;
}
/* END ui-multiselect styles */


INPUT[type="radio"] {
    display:inline-block;
    width:auto;
    height: 1em!important;
    margin: 2px 6px 6px 0!important; /*0 6 6 0*/
    border:none;
}
INPUT[type="checkbox"] {
    display: inline-block;
    width:auto;
    border:none;
    margin: 2px 6px 6px 0;
    padding: 0;
    height:1em!important
}
TEXTAREA
{
    width:100%;
    
}
FORM .ni-custom-dropdown.country,
FORM .phoneprefix
{
	width:25%;
}
FORM .password
{
  margin-bottom: 6px;
}
label .optionalfield
{
  font-weight: normal;
  font-color:#000000!important;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px)
{
	LABEL {	font-size: 14px; }
	INPUT, TEXTAREA, SELECT, FORM .ni-custom-dropdown { margin:0 0 25px 0; }
    FORM button.ni-multiselect { margin-bottom: 0px; }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px)
{
	LABEL { font-size: 16px; }
	INPUT, FORM .ni-custom-dropdown, FORM .ui-selectmenu-button:not(.ui-multiselect) { height:43px!important; font-size:16px!important; }
	INPUT, TEXTAREA, SELECT, FORM .ni-custom-dropdown, FORM .ui-selectmenu-button { margin:0 0 30px 0; }
    FORM button.ni-multiselect { margin-bottom: 0px; }
}

.ui-multiselect { height: 40px!important;}
.ni-margin-new-size
{
	margin-bottom:25px
}
@media (min-width: 992px)
{
	.ni-margin-new-size { margin-bottom:30px }
}
.ni-content-center
{
	text-align: center;
}

FORM .ni-custom-dropdown
{
    display:inline-block;
    position:relative;
    border:1px solid #cccccc;
    /*padding:6px 20px 4px 4px;*/
    background-color: #ffffff;
				text-align: left;
}
FORM .ni-custom-dropdown:last-child:after
{
  content:'';
}
FORM .ni-custom-dropdown.opened
{
    cursor: pointer;
}
FORM .ni-custom-dropdown A,
FORM .ni-custom-dropdown A:hover
{
    text-decoration: none!important;
    display: block;
    width: 100%;
}

FORM .ni-custom-dropdown .input-text
{
		color:#333333;
		text-align: left;
  float:left;
  display:inline-block;
  white-space: nowrap;
		width:80%;
}
FORM .ni-custom-dropdown .ni-custom-select-icon
{
    position: absolute;
    display:inline-block; 
    right:6px;
    margin-top:2px;
}
FORM .ni-custom-dropdown .ni-custom-select-icon .glyphicon-menu-down
{
  margin:0;
}
FORM .ni-custom-dropdown-contents
{
  display:none;
  position:absolute;
  overflow:hidden;
  max-height: 330px;
  min-width:227px;
		padding:0;
  z-index:100;
  background-color:#ffffff;
  top:100%;
  left:0;
		overflow-y: auto;
}
FORM .ni-custom-dropdown-container-border
{
  border:1px solid #cccccc;
}
FORM .ni-custom-dropdown-contents UL
{
  margin:0px;
		padding:10px;
  list-style: none;
}

FORM .ni-custom-dropdown-contents UL LI
{
  padding:10px 15px;
  margin-bottom:0!important;
  cursor: pointer;
  white-space: nowrap;
  color:#000000;
  line-height:2em;
}

FORM .ni-custom-dropdown-contents UL LI A
{
  color:#000000!important;
  text-decoration: none;
}

FORM .ni-custom-dropdown-contents UL LI.sub
{
  padding:10px;
}

FORM .ni-custom-dropdown-contents UL LI.selected
{
  background-color:#e6eff6;
}

FORM .ni-custom-dropdown-contents UL LI:hover
{
  background-color:#D7E5F0;
}




.ui-multiselect-checkboxes label input:focus {
    outline: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}


.actions-dropdowns .ui-selectmenu-text, .actions-dropdowns .glyphicon, .actions-dropdowns .ui-menu-item {
    font-size: 13px !important;
}



/* validation error styles
   Still old classnames because UP couldn't upgrade at this time.
   TODO:  Need to port to new styles at some point
*/

.pnx-form-error INPUT,
.pnx-form-error SELECT,
.pnx-form-error TEXTAREA,
.pnx-inline-dropdown.pnx-form-error,
.pnx-inline-input.pnx-form-error,
.pnx-inline-dropdown.pnx-form-error .input-text,
.pnx-inline-input.pnx-form-error .input-text
{
    background-image: none;
    border-color: #D73A0F;
}

INPUT.pnx-form-error,
SELECT.pnx-form-error,
TEXTAREA.pnx-form-error,
.fielderror INPUT,
.fielderror SELECT,
.fielderror TEXTAREA,
.fielderror .ui-selectmenu-button,
INPUT.fielderror,
SELECT.fielderror,
TEXTAREA.fielderror,
.fielderror .ni-custom-dropdown
{
    background-image: none;
    border-color: #D73A0F;
}

.pnx-form-error INPUT[type="checkbox"],
INPUT[type="checkbox"].pnx-form-error,
.fielderror INPUT[type="checkbox"],
INPUT[type="checkbox"].fielderror
{
    outline: 1px solid #D73A0F;
}

/* Fixing wrapping issues for dual byte languages */
p:lang(ko),p:lang(ja),p:lang(zh-CN),p:lang(zh-TW),
div p:lang(ko), div p:lang(ja),div p:lang(zh-CN), div p:lang(zh-TW),
h1:lang(ko),h1:lang(ja),h1:lang(zh-CN),h1:lang(zh-TW),
h2:lang(ko),h2:lang(ja),h2:lang(zh-CN),h2:lang(zh-TW),
h3:lang(ko),h3:lang(ja),h3:lang(zh-CN),h3:lang(zh-TW){
    word-break: keep-all;
}

/* Safari fix only for dual byte */
@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0) 
{ @media {
    p:lang(ko),p:lang(ja),p:lang(zh-CN),p:lang(zh-TW),
    div p:lang(ko), div p:lang(ja),div p:lang(zh-CN), div p:lang(zh-TW),
    h1:lang(ko),h1:lang(ja),h1:lang(zh-CN),h1:lang(zh-TW),
    h2:lang(ko),h2:lang(ja),h2:lang(zh-CN),h2:lang(zh-TW),
    h3:lang(ko),h3:lang(ja),h3:lang(zh-CN),h3:lang(zh-TW){
        word-break: break-all;
    }
}}


/*-----------------------------------------------------
		NI Image - Responsive sizes
-------------------------------------------------------*/

.ni-icon{
    max-height: 84px;
}
.ni-image-2col{
    width:166px;
    }
    .ni-image-3col{
    width:264px;
    }
    .ni-image-4col{
    width:362px;
    }
    .ni-image-5col{
    width:460px;
    }
.ni-image-6col{
    width:558px;
    }

/* Desktop */
@media (min-width:920px) {

}
/* Portrait tablet to landsacpe and desktop*/
@media (min-width: 768px) and (max-width:919px){
.ni-image-2col{
    width:98px;
    }
    .ni-image-3col{
    width:162px;
    }
    .ni-image-4col{
    width:226px;
    }
    .ni-image-5col{
    width:290px;
    }
.ni-image-6col{
    width:354px;
    }
}

/* Landscape phone to portrait tablet*/
@media  (max-width: 767px) {

}
/* Landscape phones and down */
@media (max-width: 480px) {   
    .ni-image-2col{
    width:76px;
    }
    .ni-image-3col{
    width:129px;
    }
    .ni-image-4col{
    width:182px;
    }
    .ni-image-5col{
    width:235px;
    }
.ni-image-6col{
    width:100%;
    }

}
@media  (min-width: 320px) {

}

/*-----------------------------------------------------
		NI Padding
-------------------------------------------------------*/
.ni-padding-top-1x{
    padding-top:25px;
}
.ni-padding-top-2x{
    padding-top:30px;
}
.ni-padding-top-3x{
    padding-top:35px;
}
.ni-padding-top-4x{
    padding-top:35px;
}
.ni-padding-bottom-1x { 
    padding-bottom:25px;
}
.ni-padding-bottom-2x { 
    padding-bottom:30px; 
}
 .ni-padding-bottom-3x { 
    padding-bottom:35px; 
}
.ni-padding-bottom-4x { 
    padding-bottom:35px; 
}
.ni-padding-vertical-1x { 
    padding:25px 0; 
}
.ni-padding-vertical-2x { 
    padding:30px 0; 
}
.ni-padding-vertical-3x { 
    padding:35px 0; 
}
.ni-padding-vertical-4x { 
    padding:35px 0; 
}
.ni-margin-grid-row{
    margin-bottom:30px;
}

@media only screen and (min-width:768px){
    .ni-padding-top-4x { 
        padding-top:40px; 
    }
    .ni-padding-bottom-4x {
        padding-bottom:40px; 
    }
    .ni-padding-vertical-4x { 
        padding:40px 0; 
    }
}

@media only screen and (min-width:920px){
    .ni-padding-top-1x { 
        padding-top:30px; 
    }
    .ni-padding-top-2x { 
        padding-top:40px; 
    }
    .ni-padding-top-3x { 
        padding-top:50px; 
    }
    .ni-padding-top-4x { 
        padding-top:70px; 
    }
    .ni-padding-bottom-1x { 
        padding-bottom:30px; 
    }
    .ni-padding-bottom-2x { 
        padding-bottom:40px; 
    }
    .ni-padding-bottom-3x { 
        padding-bottom:50px; 
    }
    .ni-padding-bottom-4x { 
        padding-bottom:70px; 
     }
    .ni-padding-vertical-1x { 
        padding:30px 0; 
    }
    .ni-padding-vertical-2x { 
        padding:40px 0; 
    }
    .ni-padding-vertical-3x { 
        padding:50px 0; 
    }
    .ni-padding-vertical-4x { 
        padding:70px 0; 
    }
    .ni-margin-grid-row {
        margin-bottom:40px;
    }
}    