
/* search box */


#wrapperSearchModal .modal-dialog, .ni-wrapper-header .modal-backdrop{
    display:none;
}
    
.search-box {
    background-color: #065FA3;
    color:white;
    cursor:pointer;
    font-size: 1.7em;
    height: 50px;
    margin-top:1px;
    padding:14px;
    width: 52px;
}

.input-group {
    margin-top: 8px;
}

.stylish-input-group .input-group-addon{
    background: transparent;
    border: 0 none;
    padding-top: 4px;
    padding-bottom: 12px;
}

.ni-wrapper-header .autoCompleteItem-global .input-group-addon
{
  vertical-align:top;
}

.stylish-input-group .form-control{
    border-right:0; 
    box-shadow:0 0 0; 
    border-color:#ccc;
}

.stylish-input-group button{
    border:0;
    background:transparent;
    height: 30px;
    padding: 0;
    width: 30px;
}

.autoCompleteItem-global INPUT {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: none;
    box-sizing: border-box;
    color: #666;
    height: 43px !important;
    line-height: 17px !important;
    margin-right: -53px;
    outline: 0 none !important;
    padding: 3px 38px 2px 10px !important;
    width: 360px !important;
    margin-bottom:0px;
}

.autoCompleteItem-global input:focus{
    -webkit-box-shadow: 0px 0px 7px 0px rgba(52,152,219,0.35);
    -moz-box-shadow: 0px 0px 7px 0px rgba(52,152,219,0.35);
    box-shadow: 0px 0px 7px 0px rgba(52,152,219,0.35);
    border-color: #3498DB;
}

.global-header-search .ui-autocomplete.ui-menu.global-dropdown {
    left: 0  !important;
    width: 100% !important;
}

.modalsearch {
    right:15px;
    left:15px;
}


.modal-backdrop.in {
    opacity: 0.95;
}

.modal-backdrop {
   background-color: #444;
}


html, body{
  min-height: 100%;
}


/*X SMALL (phones)*/
@media (max-width: 767px) {
    .search{
        background-color: #065FA3;
        width: 56px;
        height: 50px;
    }
    
    .search-box {
        padding: 2px 2px 0 4px;
    }
    
    #wrapperSearchModal .modal-dialog {
        display:block;
    }
    
    .input-group-addon .glyphicon-search {
        color:#fff;
        font-size: 1.8em;
        padding: 5px 6px;
    }
        
    .input-group {
        border: 1px solid #fff;
        margin-top: 0px;
    }
        
    .search-bar .niAutocompleteInput {
        border: 1px solid #e0e0e0;
        height: 30px !important;
        margin-bottom: 0 !important;
    }
    .modalsearch .search{
        background: transparent;
    }
    .modalsearch .stylish-input-group button {
        height: 50px;
        width: 50px;
    }
    .modalsearch .autoCompleteItem-global INPUT {
        background:transparent;
        border: none;
        color: #fff;
        height: 30px;
        line-height: 17px !important;
        outline: 0 none !important;
        padding: 3px 0px 2px 10px !important;
        width: 100% !important;
    }
   
    #wrapperSearchModal .autoCompleteItem-global INPUT:focus{
        /*forcing background to be transparent because autocomplete styles are over writing with their own !important*/
        background-color: transparent !important;
         -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        box-shadow: none !important;
    }
    
    .modalsearch .ui-autocomplete.ui-menu.global-dropdown {
        background: #fff scroll 0 0;
        border-top:1px solid #eee;
        box-shadow: none;
        left:0 !important;
        width: 100% !important;
    }
    
    
    .modalsearch .ui-autocomplete.ui-menu .ui-state-focus  {
        background-color:#0655A3;
        color:#c1d7e8;
    }
    
    .modalsearch .ui-autocomplete.ui-menu .ui-state-focus .ui-menu-item-label-highlight{
        color:#fff;
    }
    
    .modalsearch .ui-autocomplete.ui-widget-content {
        background-color: #ffffff;
        width:100%;
        border: 0;
    }
        
        
    .modalsearch.in ~ .modal-backdrop.in {
        display:block;
        background: rgba(225, 225, 225, 0.8) none repeat fixed 0 0;
        opacity: 1;
    }
    
    .modalsearch .modal-content {
        background:transparent scroll;
        border-radius: 0;
        box-shadow:none;
        border:0;
    }
    
    .modalsearch .modal-dialog {
        margin: 0;
        padding-right:0 !important;
        position: relative;
        width: auto;
    }
    
    .modalsearch .modal-header .close {
        margin-top: 0;
    }
    
    
    .modalsearch .ui-autocomplete a {
        font-size:12px;
    }
    
     .autoCompleteItem-global INPUT {
        background: transparent;
        border: 1px solid #3498DB;
        color: #fff;
    }
    
     .autoCompleteItem-global INPUT:focus {
        padding-right: 5px !important;
    }
    
    .input-group-addon {
        padding-left: 0;
        padding-right: 0;
    }
    
    
    .stylish-input-group .input-group-addon {
        background: transparent;
    }
    
    .modal-header {
        border:none;
        min-height: 55px;
    }

    .close {
        color: #fff;
        float: right;
        font-size: 40px;
        font-weight: 100;
        line-height: 1;
        opacity: 1;
        text-shadow:none;
    }
    
    .close:hover {
      color: #ddd;
    }
    
    .ui-autocomplete {
        height:150px;
         -webkit-overflow-scrolling:touch;
        overflow-y: scroll;
        
    }
    
   .modalsearch .autoCompleteItem-global input[type="text"] {
    font-size: 18px;
    } +    
       
}




/* Small devices (tablets, 768px and up) */
@media  (min-width: 768px) {
    .search {    
        width: 35px;
        height: 35px;
        background-color: transparent;
    }
    
    button:hover .search-icon path{ 
        fill: #0E385F;
    }
    
  /*blue box in menu*/
    .search-box {
    background-color: yellow;
     color:#065FA3;
    height:35px;
    padding:8px;
    font-size:1.1em;
    width:35px;
    }
    
    .glyphicon-search {
    color: #065fa3;
    font-size: 1.3em;
    padding: 0 6px;
    }
    
    .input-group {
        margin-top: 6px;
    }
    
    .ui-autocomplete.ui-menu.global-dropdown {
        box-shadow: none;
        width: 100% !important;
        }
        
      
 
}
/** TABLET ONLY **/
@media (min-width: 767px) and (max-width: 991px){
   .autoCompleteItem-global INPUT {
    width: 233px !important;
 }

}

}

input[type=text]::-ms-clear {
    display: none;
}

