/*---------------------------------------*\
    $CUSTOM PD
\*---------------------------------------*/
/**
 * CSS custom pd
 * ........................
 * FONT.................... gestione font e "icon-font"
* BACKGROUND .................. gestione immagini e background

 * COLORI.................. gestione colori 
   * .. #cc1439 rosso default -- rgba(204,20,57,.7) N.B in caso di find e replace non sovrascrivere il canale alpha ma solo 204,20,57
   * .. #b31232 rosso hover label e btn - corrispondente rgba 179,18,50
   * .. #412e33 colore base testo senza link (marrone quasi nero)
   * .. #ebe5e6 grigio chiaro neutro
   * .. #bfaeb3 grigio chiaro
   * .. #fcf7f9 rosa chiaro sfondo
   * .. #ea9cac rosa chiaro testi
   * .. #db5b75 bordo rosa hamburger 
   * .. #c7afb5 tortora
   * .. #87797b marrone chiaro testi s
   * .. PALETTE NAV MENU
        * .. #624f51 marrone chiaro 
        * .. #6e6264 marrone chiaro bordi e testo
        * .. #534345 marrone scuro
        * .. #4b3c3e marrone scuro colore linguetta tabmenu mobile
        * .. #504547 marrone tab login
        
        -- test francesco
 **/

body{   
    background: #fcf7f9;
    color:#412e33;    
}

a {
    color:#000;    
}

a:hover{
    color: #cc1439;
}

.wrapper{   
    background: #fcf7f9;
}

.container.with-border {
    border-top: 3px solid #cc1439;   
}

/*-- Bottone --*/
.btn {    
    background: #cc1439;      
}

.btn:hover{
    background: #b31232;   
}

/*-- categoria  --*/
.categoria{    
    background: #cc1439;      
}

.categoria:before{    
    color: #cc1439;    
}

a.categoria:hover{
    background:#b31232;   
}

a.categoria:hover:before{
    color: #b31232;
}

/*-- breadcrumb con label  --*/   
    
.label_breadcrumb .categoria:hover { 
    background: #cc1439;       
}    
.label_breadcrumb  .categoria:hover:before { 
    color: #cc1439;       
}

.label_breadcrumb .categoria-l2 {      
    background: #fcf7f9;       
    color: #cc1439;      
}

/*-- breadcrumb SEO nascosta   --*/ 
       
.container-breadcrumb-jsdisabled,
.container-breadcrumb-jsdisabled a {  
    color: #666666;        
}

.container-breadcrumb-jsdisabled a { 
    border-right: 1px solid #ebe5e6; 
}
    
/*-- header  --*/

@media only screen and (max-width: 1024px) {
    .header-wrap { 
        background: #cc1439;
    }
}

.header .logo a {   
    width: 89px;
    height: 34px;
    background: url("http://static.stbm.it/pianetadonna/images/grafica/logo-light.png") no-repeat;    
}

/* menù laterale */
.content-menu-laterale ul.logged_menu.list-unstyled li a:hover span,
.content-menu-laterale ul.logged_menu.list-unstyled li a:hover:before{color: #cc1439;}

.content-menu-laterale .foot p a:hover{color: #cc1439;}

.content-menu-laterale #searchform .button{color: #cc1439;}

/* logo per schermi retina */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
    .header .logo a{
        width: 89px;
        height: 34px;
        background: url("http://static.stbm.it/pianetadonna/images/grafica/logo-light-2x.png") no-repeat;
        background-size: 89px 34px;
    }
    .footer-wrap .footer .logo-pd a{
        display: block;
        width: 115px;
        height: 44px;
        background: url("http://static.stbm.it/pianetadonna/images/grafica/pianeta-donna-logo-2x.png") no-repeat;
        background-size: 115px 44px;
    }
    .footer-wrap .footer .logo-pd a img{
        display:none;
    }
}


/*-- .network-list da 1140px in su --*/
@media only screen and (min-width: 1140px){
   
    .header .network-list a {
        color: #c7afb5;        
    }
	
    .header .network-list a:hover{
        color: #c7afb5;
    }
        
    .header .network-list li{
        border-left: 1px solid #ea9cac;
    }
    
    .header .network-list li a{      
        background: url("http://static.stbm.it/Share/images/sprites.png");       
    }
	    
    .header .network-list li a span{      
        background: url("http://static.stbm.it/Share/images/sprites.png");       
    }
    
    .header .network-list .action-network:before{      
        background: url("http://static.stbm.it/Share/images/sprites.png") -180px 0;      
        color: #cc1439;        
    }
    .header .network-list .action-network:after{       
        background: url("http://static.stbm.it/Share/images/sprites.png") -160px 0;    }
    
    /*-- .network-list - versione slim --*/
    
    .header-wrap.slim .network-list a{
        color: #ea9cac;
    }
        
    .header-wrap.slim .network-list li{       
        border-color: #ebe5e6;
    }
    
    .header-wrap.slim .network-list .action-network{        
        background: #cc1439;
    }
    
    .header-wrap.slim .network-list.jq-open .action-network:before{
        color: #cc1439;        
	}  
	
} 
/*-- //fine .network-list da 1140px in su --*/


/*-- pulsantiera  --*/

.header .pulsantiera ul > li > div:before{   
    color: #574648;
}

.header .pulsantiera .burger{
    border-left: 1px solid #db5b75;  
}

.header .pulsantiera .search form .text{     
    color: #bfaeb3;    
}

.header .pulsantiera .search form .button{
    color: #cc1439;   
}

.content-menu-laterale h4.segui-social{
    border-top: none;
}

/*-- .pulsantiera per desktop --*/
@media only screen and (min-width: 1025px){
    
    .header-wrap .header .pulsantiera li.network-pd{
    	border-left: none;
	}
    
	.header .pulsantiera > ul > li {       
        border-left: 1px solid #ebe5e6;
    }
		
    .header .pulsantiera > ul > li > a:hover{
        color: #624f51;
    }  
    
    .header .pulsantiera .search form .text{       
        border: 1px solid #ebe5e6;        
        background: #fcf7f9;
    }
	
    .header .pulsantiera .search form .text:focus{       
        box-shadow:0 0 5px #ebe5e6 inset;
    }  
	
    .header .pulsantiera .network-pd > a,
    .header .pulsantiera .network-pd > a span{       
        background: url("http://static.stbm.it/Share/images/sprites.png") 0 -256px;
    }
    .header .pulsantiera .network-pd > a:hover{       
        background: url("http://static.stbm.it/Share/images/sprites.png") -100px -256px;
        background-repeat:no-repeat;
    }
    
	.header .pulsantiera .network-pd > a span{
  		position: absolute;
  		left: 0;
  		top: 0;
        background-position: -100px 44px;
  		opacity: 0;
        filter: alpha(opacity = 0);
    }
	        
    /* HEADER versione slim */
    .header-wrap.slim{       
        background: #cc1439;
        box-shadow: 0 7px 0 rgba(78, 5, 30, 0.1);
    }
    
    .header-wrap.slim .logo a {       
        width: 89px;
        height: 34px;
        background: url("http://static.stbm.it/pianetadonna/images/grafica/logo-light.png") no-repeat;        
    }
	
}
/*-- //fine .pulsantiera per desktop --*/

/* ombra header per smartphone e tablet */
@media only screen and (max-width: 1024px){
    .header-wrap{       
        box-shadow: 0 7px 0 rgba(78, 5, 30, 0.1);
    }
}
/* //fine ombra header per smartphone e tablet */

/*-- header - slim-nav  --*/

.slim-nav:before{    
    color: #4b3c3e;    
}

.slim-nav menu li a{   
    background: #534345;
    border-right: 1px solid #6e6264;     
    color: #87797b;   
    border-bottom: 1px solid #6e6264;  
}
.slim-nav menu li a:hover {
    color: #ebe5e6;
}
.slim-nav menu li.current a {
    background: #624f51;
    border-bottom-color: #624f51;   
}

.tab-menu{   
    background: #624f51;   
}

/*-- tab-menu--nav --*/

.tab-menu--nav li > span:hover{
    background-color: #cc1439;
}
.tab-menu--nav li > a:hover{
    color: #ebe5e6;
}
.tab-menu--nav .slimScrollDiv > ul > li > a{
    border-top: 1px solid #6e6264;
} 
.tab-menu--nav .slimScrollDiv > ul > li > ul{   
    background: #534345;
    border-top: 1px solid #6e6264; 
}

.tab-menu--nav li ul li a{  
    color: #c7afb5;
}
.tab-menu--nav li .sub-menu-title .icon-minus{
    background-color: #cc1439;
}

/*-- tab-menu--user --*/

.tab-menu--user .riga input {
    background: #504547;
    border: 1px solid #6e6264;      
}

.tab-menu--user .foot{
    border-top: 1px solid #6e6264;   
}

/*-- tab-menu--user | logged --*/
.tab-menu--user .avatar{   
    border: 5px solid #534345;    
}

/*-- tab-menu--social --*/
.tab-menu--social li {    
    border-top: 1px solid #6e6264;    
}
.tab-menu--social li:hover{
    background: #534345;
}
.tab-menu--social li .loghi-social{  
    color: #87797b;
}  

.tab-menu--social li .loghi-social:hover{
    color: #cc1439;
}

.tab-menu--social li .arrow{  
    background: #cc1439;  
}

.tab-menu--social li .arrow:hover{
    background: #b31232;
}

/*-- tab-menu--network --*/


.tab-menu--network li a div{
    background: url("http://static.stbm.it/Share/images/sprites.png") no-repeat;   
}

.tab-menu--network li a div span{  
    background: url("http://static.stbm.it/Share/images/sprites.png");   
}

@media only screen and (min-width: 1025px){
    
    .header .pulsantiera > ul > li >a{
        color: #c7afb5;
    }   
}

/* .main-nav per desktop */
@media only screen and (min-width: 1025px){  
    .main-nav-wrap{      
        background: #cc1439;
        box-shadow: inset 0 7px 0 rgba(78, 5, 30, 0.1);
    }    
}

/* //fine .main-nav per desktop */

/* .sub-nav per desktop */
@media only screen and (min-width: 1025px){
    .sub-nav-wrap{      
        border-bottom: 1px solid #ebe5e6;
    }
    .sub-nav-wrap{      
        background: #fcf7f9;
    }
    
    .sub-nav li a{
        color: #6e6264;          
        margin: 0 11px; /* sottomenu con troppe voci va ridotto lo spazio */
    }
    .sub-nav li a.external{
        color: #382b2e;
    }
    
    .sub-nav li a:hover:after{
        border-bottom: 2px solid #ebe5e6;    
    }
    .sub-nav li a.current:after,
    .sub-nav li a.current:hover:after{
        border-bottom: 2px solid #cc1439;
    }
    
}
/* //fine .sub-nav per desktop */

/*-- sidebar  --*/

.adv300{   
    background:#fcf7f9;
}
    
.side-sponsored > h2{   
    color: #bfaeb3;   
}
.side-sponsored > h2:before,
.side-sponsored > h2:after,
.side-sponsored article a {  
    border-bottom: 1px solid #ebe5e6;
}

.sidebar-block a:hover h1.title5 { 
    color: #cc1439;
}

/*-- footer  --*/
.footer-wrap{
    border-color: #cc1439;
}
.footer-wrap .footer,
.footer-wrap .footer .copy a {
    color: #333;
}

.footer-wrap .footer .copy a.copy-link { 
    border-right: 1px solid #ebe5e6;
}
 
/*-- anteprima articolo  --*/

.articolo-anteprima:hover  .gallery{
	background: rgba(204, 20, 57, 0.9);
}

.articolo-anteprima .autore{  
    color: #c7afb5;
}
.articolo-anteprima .autore a{
    color: #624f51;
}

.articolo-anteprima p a,
.articolo-anteprima p a:after{
    color: #cc1439;  
}

/*-- blocco slider  --*/

.blocco-slider{   
    background: url("http://static.stbm.it/Share/images/bkg-gallery.gif") center top repeat-y;
}

.blocco-slider .container > h3,
.blocco-slider .container > h4{  
    color: #cc1439;  
}

.blocco-slider .container > h3 .name,
.blocco-slider .container > h4 .name{  
    border-left: 2px solid #ccbcc0;
    color:#bfaeb3;    
}

.blocco-slider .item:hover .level-hover{
    background: rgba(204,20,57,.8);
}

.blocco-slider .item .level-hover h2 { 
    color: #fff;
}

.arrow-left,
.arrow-right{   
    background: rgba(204,20,57,.8);   
}

.arrow-left:hover,
.arrow-right:hover{      
    background: rgba(179,18,50,.8);
}    
        
@media only screen and (min-width: 600px) { 
    .blocco-slider .container > h3,
    .blocco-slider .container > h4{
      border-top: 1px solid #ebe5e6;     
      color: #cc1439;      
    }
    
    .blocco-slider .container > h3 .name,
    .blocco-slider .container > h4 .name{
      border-left: 2px solid #ebe5e6;
      color:#bfaeb3;      
    }
   
}

@media only screen and (min-width: 1640px){ 
    .blocco-slider--foto .arrow-left:after,
    .blocco-slider--foto .arrow-right:after{
        background: #cc1439;
    }
} 
   
 
/*-- .blocco-slider video --*/

.blocco-slider--video,
.blocco-slider--video .container > h3 > span{
    background: #f3eef0;
}
.blocco-slider--video.blocco-slider--lista .container > h3 > span{
    background: #fff;
}
.blocco-slider--video .container > h3{
    border-color: #ebe5e6; 
}

@media only screen and (min-width: 600px) {     
  
    .blocco-slider--video menu a{      
        color: #cc1439;
    }
   
}

/*------------------------------------*\
    $OROSCOPO ** BLOCCO SLIDER 
\*------------------------------------*/

.blocco-slider--oroscopo{
    padding-bottom: 20px;
    margin: 0 -15px;
}
.blocco-slider--oroscopo .jq-slider{
    display: none;
}
.blocco-slider--oroscopo{
    position: relative;
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.blocco-slider--oroscopo menu{
    display: block;
    margin-bottom: 40px;
   
    border-bottom: 1px solid #ebe5e6;
}
.blocco-slider--oroscopo menu li{
    float: left;
    display: block;
    width: 23%;
    margin: 0 1%;
}

.blocco-slider--oroscopo menu li a{
    position: relative;
    display: block;
    height: 70px;
    text-align: center;
}

.blocco-slider--oroscopo menu li a:before{
    content: "";
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-top: 15px;
    background: url("http://static.stbm.it/pianetadonna/images/oroscopo/sprite-oroscopo.png") no-repeat;
}    

.blocco-slider--oroscopo menu li a.ariete:before{background-position: 0 0;}
.blocco-slider--oroscopo menu li a.toro:before{background-position: -40px 0;}
.blocco-slider--oroscopo menu li a.gemelli:before{background-position: -80px 0;}
.blocco-slider--oroscopo menu li a.cancro:before{background-position: -120px 0;}
.blocco-slider--oroscopo menu li a.leone:before{background-position: -160px 0;}
.blocco-slider--oroscopo menu li a.vergine:before{background-position: -200px 0;}
.blocco-slider--oroscopo menu li a.bilancia:before{background-position: -240px 0;}
.blocco-slider--oroscopo menu li a.scorpione:before{background-position: -280px 0;}
.blocco-slider--oroscopo menu li a.sagittario:before{background-position: -320px 0;}
.blocco-slider--oroscopo menu li a.capricorno:before{background-position: -360px 0;}
.blocco-slider--oroscopo menu li a.acquario:before{background-position: -400px 0;}
.blocco-slider--oroscopo menu li a.pesci:before{background-position: -440px 0;}

.blocco-slider--oroscopo menu li a span{
    position: absolute;
    left: 50%;
    bottom: -15px;
    z-index: 1;
    margin-left: -45px;
    display: block;
    width: 90px;
    background: #db5b75;
    color: #fff;
    opacity: 0;
    filter: alpha(opacity = 0);
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}
.blocco-slider--oroscopo menu li a span:before{
    position: absolute;
    top: -22px;
    display: block;
    width: 100%; 
    color: #db5b75;
    text-align: center;
    font-size: 20px;    
}
.blocco-slider--oroscopo menu li a:hover span{ 
    bottom: -10px;  
    opacity: 1;
    filter: alpha(opacity = 100);
    visibility: visible;
}
.blocco-slider--oroscopo article figure{
    display:block;
    text-align: center;
}
.blocco-slider--oroscopo article figure a:hover img{
    transition: .3s opacity ease-in-out;
}
.blocco-slider--oroscopo article figure a:hover img{
    opacity: .8;
    filter: alpha(opacity = 80);
}
.blocco-slider--oroscopo article h2{
    margin-bottom: 40px;
    font-size: 44px;
    font-style: italic;
}
.blocco-slider--oroscopo article h4{
    margin-bottom: 10px;
    color: #cc1439;
    font-weight: bold;
    text-transform: uppercase;
}
.blocco-slider--oroscopo article p{
    font-size: 25px;
    color: #000;
}
.blocco-slider--oroscopo article p a{
    font-size: 14px;
    color: #cc1439;
    font-weight: bold;   
}
.blocco-slider--oroscopo article p a:after{
    content: " »";
    color: #cc1439;     
    font-size: 20px; 
}

.blocco-slider--oroscopo article p a span{
    text-transform: uppercase;      
}
.blocco-slider--oroscopo article p a:hover span{
    text-decoration: underline;      
}

.blocco-slider--oroscopo .arrow-left,
.blocco-slider--oroscopo .arrow-right{
    width: 40px;
    height: 70px;
    line-height: 70px;
    font-size: 40px;
    margin-top: -35px;
}
.blocco-slider--oroscopo .arrow-left{
    left: -30px; 
}
.blocco-slider--oroscopo .arrow-right{
    right: -30px;  
}

/*-- .blocco-slider--oroscopo per tablet e desktop --*/
@media only screen and (min-width: 600px) {
    .blocco-slider--oroscopo{
        margin: 0 auto;
    }
    .blocco-slider--oroscopo .jq-slider{
        display: block;
    }
    .blocco-slider--oroscopo article{
        padding: 0 20% 0 10%;
    }
    .blocco-slider--oroscopo article figure{
        float: left;
        width: 40%;
          margin-right: 5%;
    }
}
/*-- //fine .blocco-slider--oroscopo per tablet e desktop --*/

/*-- .blocco-slider--oroscopo per desktop --*/
@media only screen and (min-width: 1025px) {  
    .blocco-slider--oroscopo menu li{
        width: 8.3%;
        margin: 0;
    }
}
/*-- //fine .blocco-slider--oroscopo per desktop --*/
    
/*-- mostra i bordi sui pulsanti di navigazione sono da 1240 in su per evitare che ci sia lo scroll orizzontale --*/
@media only screen and (min-width: 1240px){ 
    .blocco-slider--oroscopo .arrow-left:after,
    .blocco-slider--oroscopo .arrow-right:after{
        content: "";
        position: absolute;
        right: 0;
        top:0;
        display: block;
        width: 20px;
        height: 70px;
        background: #cc1439;
        left: -20px;
    }
    .blocco-slider--oroscopo .arrow-right:after{
        left: inherit;
        right: -20px;
    }
}    
    
/*------------------------------------*\
    BLOCCO SLIDER ** $FIRME
\*------------------------------------*/  
.item-firma .swiper-slide { height:230px !important;}

.blocco-slider--firme{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    padding-top: 10px;
} 

.blocco-slider--firme .container > h4 .name{
	display: block;	
	border: none;
}

.blocco-slider--firme p{ 
    font-size:22px; 
    margin-top: 10px
}

.blocco-slider--firme .autore{
    margin: 0 32px;
    margin: 0 15px;         
    text-align: center;
} 
.blocco-slider--firme .autore > a{
    display: block;
    margin-bottom: 10px;
}  
.blocco-slider--firme .avatar{
    display: block;
    overflow: hidden;
    max-width: 160px;
    max-height: 160px;
    margin: 0 auto;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
}
.blocco-slider--firme .autore > a:hover h2{
    color: #cc1439;
}
.blocco-slider--firme .link a{
    font-size: 16px;
}  
.blocco-slider--firme .link a:hover{
    text-decoration: underline;
}  
.blocco-slider--firme .arrow-left,
.blocco-slider--firme .arrow-right{
    width: 40px;
    height: 70px;
    line-height: 70px;
    font-size: 40px;
}
.blocco-slider--firme .arrow-left{
    left: -30px;
    padding-left: 0;    
}
.blocco-slider--firme .arrow-right{
    right: -30px;
    padding-right: 0;    
}
.blocco-slider--firme .arrow-left{
    display: block;
}
/*-- .blocco-firme per tablet e desktop --*/
@media only screen and (min-width: 600px) {  
    
    .blocco-slider--firme p {
        font-size:25px;
        line-height: 1.1;
    }
    .blocco-slider--firme .autore{
        margin: 0 32px;
    }       
}/*-- //fine .blocco-firme per desktop --*/  
 
@media only screen and (min-width: 1024px) { 
	.blocco-slider--firme .container > h4 .name{
		line-height: 59px;
	}
}

/*-- per desktop da 1240 in su--*/
/*-- mostra i bordi sui pulsanti di navigazione sono da 1240 in su per evitare che ci sia lo scroll orizzontale --*/
@media only screen and (min-width: 1240px){ 
    .blocco-slider--firme .arrow-left:after,
    .blocco-slider--firme .arrow-right:after{
        content: "";
        position: absolute;
        right: 0;
        top:0;
        display: block;
        width: 20px;
        height: 70px;
        left: -20px;
    }
    .blocco-slider--firme .arrow-right:after{
        left: inherit;
        right: -20px;
    }
} 


/*-- blocco-slider firme  --*/

.blocco-slider--firme .link a{  
    color: #db5b75;
}
/*-- per desktop da 1240 in su--*/
/*-- mostra i bordi sui pulsanti di navigazione sono da 1240 in su per evitare che ci sia lo scroll orizzontale --*/
@media only screen and (min-width: 1240px){ 
    .blocco-slider--firme .arrow-left:after,
    .blocco-slider--firme .arrow-right:after{
        background: #cc1439;
    }
}    
 
/*------------------------------------*\
    $SOCIAL
\*------------------------------------*/

/*-- .blocco-social small per desktop --*/
@media only screen and (min-width: 1024px) {  
     
    .social-small a {
    	color: #666;    	
    }
    
    .social-small a:hover { 
        color: #cc1439;
    }
   
    .social-small .commenti-baloon a{ 
    	background: #cc1439;    	
    }   
    
    .social-small .commenti-baloon a:after {     
    	border-top: 4px solid #cc1439;    	
    }
        
    .social-small .commenti-baloon a:hover { 
        background: #b31232;        
    }
    
    .social-small .commenti-baloon a:hover:after { 
        border-top: 4px solid #b31232;       
    }
}
/*-- //fine .blocco-social small per desktop --*/

/*-- .blocco-social big per desktop --*/
@media only screen and (min-width: 1024px) {  
    
    .social-big {     	
		border-top: 1px solid #ebe5e6; 		 
	}
	.social-big a,
	.social-big span { 		
		color: #666;		
	}	
		
	.social-big a:hover,
    .social-big .commenti-btn b a{ 
		color: #cc1439; 
	}   	
	
}
/*-- //fine blocco-social big per desktop --*/

/*------------------------------------*\
    $ARTICOLO
\*------------------------------------*/

.foglia .autore a { 
	color: #cc1439; 	
}

.foglia .foglia-author time {
	color: #6e6264; 	
}

/* personalizzazione modale commenti orionDisqus */
.modalDisqus .topBar .logoGallery {   
	padding-left: 120px;
    background: url("http://static.stbm.it/pianetadonna/images/grafica/logo-light.png") no-repeat scroll 10px 5px;	
}

.modalDisqus .topBar .close:hover { 
    background: #cc1439;
    border-color:#cc1439;
}

/*-- paginatore articolo --*/
@media only screen and (min-width: 600px){ 
    
	.foglia .foglia-pager .current-page  {
		color: #cc1439;	
        border-color: #bfaeb3;
	}
	
	
    .foglia .foglia-pager .total-page {		
		color: #bfaeb3;				
    }     
			
	.foglia .autore:before {
		color: #6e6264;	
	} 
	
    .foglia .foglia-gallery a:hover .gallery_withmask,
    .foglia .foglia-cover a:hover .gallery_withmask  { 
    	background: rgba(204, 20, 57, 0.9);			
	}    
    
    .foglia .foglia-gallery--small figure,
    .foglia .correlati_bigbottom figure .pic{        
        background: #fcf7f9;
    }	
			
	.container-breadcrumb-jsdisabled {  color: #666666;   }
	.container-breadcrumb-jsdisabled a { 
		color: #666666;  
		border-right: 1px solid #ebe5e6; 
	}

}
/*-- //fine paginatore articolo --*/

/*-- contenuto articolo --*/

.foglia .foglia-content,
.foglia .foglia-content h2,
.foglia .foglia-content h5,
.foglia .foglia-content h5:before,
.foglia .foglia-content h6 {	
	color: #000;   
}

.foglia .foglia-content .abstract {
    color: #333333;	
}

.foglia .foglia-content a,
.foglia .foglia-content h3 a { 
    color: #cc1439;
}

.foglia .foglia-content h5,
.foglia .foglia-content h6 { 
	border-top: 1px solid #ebe5e6;
	border-bottom: 1px solid #ebe5e6;
}

.foglia .foglia-content h5:before { 
	font-style:italic;
}

.foglia .foglia-content blockquote { 	
	border-left: 2px solid #cc1439;
	color: #412e33;	
}

/*-- gallery articolo --*/

.foglia .foglia-gallery figcaption { 	
	color: #87797b;	
}

.foglia .box_gallery_bottom h2,
.foglia .box_gallery_bottom h3 a:hover{  
    color: #cc1439;   
}

.foglia .foglia-content ul li:before,
.foglia .foglia-content ol li:before {	
	color: #cc1439;
}
 
/*-- sondaggio articolo --*/

.poll { 
	background: #fcf7f9;
}

.poll .poll-info { 	
	background: #cc1439;
}

.poll .poll-info figure:before,
.poll ul li.jq-item-poll-answer span i,
.poll ul .jq-poll-answer + label.css-label:before { 
	color: #cc1439; 	
}

/* stile meterbar per chrome - N.B non accorpare con hack successivo */
meter::-webkit-meter-optimum-value {
  background: #cc1439;
}

/* stile meterbar per firefox - N.B non accorpare con hack precedente  */
meter::-moz-meter-bar { 
    background: #cc1439;
}
    
.poll .jq-button.closed {
	color: #ccbcc0;
	border: 2px solid  #ebe5e6;		
}

/*-- correlati bottom articolo --*/

.foglia .correlati_bigbottom h3 {
	border-top: 1px solid #cc1439;  
    color: #cc1439;
}

.foglia .correlati_bigbottom figure .pic {    
    background: #fcf7f9;   
}


/*-- box leggi il prossimo - sidebar articolo --*/
@media only screen and (min-width: 1024px){ 	 
	.box_next_article { 		
		background: #fcf7f9; 		
	}   
	
    .box_next_article h3,
    .box_next_article h3 a { 
        color: #cc1439;
        font-style: italic;
    }  	
	
}
/*-- //fine box leggi il prossimo - sidebar articolo --*/


/*------------------------------------*\
        $QUIZ 
\*------------------------------------*/

.single-quiz .quiz_info h2 {   
    color: #6e6264;       
}

/*-- header singola domanda --*/

.quiz-content .quiz-content-header {
    background: #cc1439;   
}

.quiz-content .quiz-content-header:before {   
    color: #cc1439;  
}

.quiz-pager .current-question {  
    border-color: #db5b75;   
}

.quiz-pager .total-questions {   
    color: #ea9cac;
}

.quiz-content .quiz-content-header ul li {  
    color: #ebe5e6;   
}

.quiz-content .quiz-content-header ul li a,
.quiz-content .quiz-content-header ul li a:after,
.quiz-content .quiz-content-header ul li:first-child a:before {   
    background: #ebe5e6; 
}

.quiz-content .quiz-content-header ul li a:hover,
.quiz-content .quiz-content-header ul li a:hover:after,
.quiz-content .quiz-content-header ul li a:hover:before,
progress.progress_bar_answered:before {
    background: #ea9cac;
}

/* IE10 */
progress {
    color: #ea9cac;
}
    
/* Firefox */
progress::-moz-progress-bar { 
    background: #ea9cac;    
}
    
/* Chrome */
progress::-webkit-progress-value {
    background: #ea9cac;
}
    
/* Polyfill */
progress[aria-valuenow]:before  {
    background: #ea9cac;
}

/*--contenuto singola domanda --*/

.question-content,
.result-content  {       
    background:#fcf7f9; 
}

.question-content ul li label.css-label:before {   
    color: #cc1439;
}

/*-- risultati test --*/

.result-content {
    border: 2px solid #cc1439;  
}

.result-content .alfabetic_profile,
.other_results  .alfabetic_profile {
    background: #cc1439;     
    color: #fff;
}

.result-content .social-shareresult-quiz a:hover { 
    color: #cc1439;
}

.other_results .other_profile { 
    border: 2px solid #ebe5e6;  
}

.other_results .alfabetic_profile {   
    background: #ebe5e6;
}

@media only screen and (max-width: 599px) {              
    .other_results .other_profile h4:before {       
        color: #c7afb5; 
    }	
}

/*-- correlati test --*/
    
.correlati_bigbottom h1.title4 {
	color: #cc1439;  
}

@media only screen and (min-width: 600px) {  
	
	.correlati_bigbottom h1.title4 {
		border-top: 1px solid #cc1439;   
	}
	
}

/*------------------------------------*\
    $LISTATO ARTICOLI
\*------------------------------------*/

.articolo-anteprima p span { 
	color: #cc1439;	
}

.articolo-anteprima .autore {	
	color: #bfaeb3;			
}

.articolo-anteprima .autore a { 
	color: #624f51;	
}

.articolo-anteprima figure:hover .video {   	
	background: rgba(204, 20, 57, 0.8); 
}

/*-- speciali --*/

.testata-spc .testata-spc-label {
    background: #cc143a; 
} 

.testata-spc .testata-spc-label:before { 
    color: #cc143a;
}

.testata-spc.testata-spc-withlogo .testata-spc-logo { 
    background-size: 100%;
}

.testata-spc.testata-spc-backtolife .testata-spc-logo { 
    background: url("http://static.stbm.it/pianetadonna/images/speciali/logo-spc-backtolife.png") no-repeat scroll center center;       
   
}

.testata-spc.testata-spc-nissan-fitness .testata-spc-logo { 
    background: url("http://static.stbm.it/pianetadonna/images/speciali/logo-spc-nissan.jpg") no-repeat scroll center right;        
    background-size: 50%;
}

.testata-spc.testata-spc-amore-carriera .testata-spc-logo {
    background: url("http://static.stbm.it/pianetadonna/images/speciali/logo-spc-amore-o-carriera.png") no-repeat scroll right 15px;
    background-size: 85%;
}

.testata-spc.testata-spc-ucciso-napoleone .testata-spc-logo {
    background: url("http://static.stbm.it/pianetadonna/images/speciali/logo-spc-ucciso-napoleone.png") no-repeat scroll right 15px;
    background-size: 85%;
    height: 82px;
}

.box-seo a{
    color: #cc1439;
}

.box-seo .close,
.parziale .open{
    background: #cc1439;
}
.box-seo .close:hover,
.parziale .open:hover{
	background: #b31232 ;
}

@media only screen and (min-width: 768px) { 
    .testata-spc.testata-spc-withlogo .testata-spc-logo { 
       margin-top: 10px;
    }
}

@media only screen and (min-width: 1024px) { 
    
    .testata-spc-withlogo h1 { 
        text-indent: -9999px;
    }
    
    /* testatina speciali - personalizzata */
    .testata-spc-milanomodadonna {
        background: url("http://static.stbm.it/pianetadonna/images/speciali/testata-spc-milanomodadonna.jpg") no-repeat scroll 0 0; 
    }
    .testata-spc-halloween {
        background: url("http://static.stbm.it/pianetadonna/images/speciali/testata-spc-halloween.jpg") no-repeat scroll 0 0; 
    }
    
    .testata-spc-backtolife {
        background: url("http://static.stbm.it/pianetadonna/images/speciali/testatina_mondo_donne_backtolife.jpg") no-repeat scroll 0 0; 
    }
    
    .testata-spc-nuvenia {
        background: url("http://static.stbm.it/pianetadonna/images/speciali/testatina_mondo_donne_nuvenia.jpg") no-repeat scroll 0 0; 
    }
    
    .testata-spc-natale {
        background: url("http://static.stbm.it/pianetadonna/images/speciali/testata-spc-natalepd.jpg") no-repeat scroll 0 0; 
    }
    
    .testata-spc-nissan-fitness {
        background: url("http://static.stbm.it/pianetadonna/images/speciali/testatina_nissan.jpg") no-repeat scroll 0 0; 
    }
    
    .testata-spc-amore-carriera {
        background: url("http://static.stbm.it/pianetadonna/images/speciali/testatina_amore-o-carriera.jpg") no-repeat scroll 0 0; 
    }
    
    .testata-spc-ucciso-napoleone {
        background: url("http://static.stbm.it/pianetadonna/images/speciali/testatina-spc-ucciso-napoleone.jpg") no-repeat scroll 0 0; 
    }
    
    .testata-spc-carnevale {
        background: url("http://static.stbm.it/pianetadonna/images/speciali/testata-spc-carnevale.jpg") no-repeat scroll 0 0; 
    }
    
    .testata-spc-sanvalentino {
        background: url("http://static.stbm.it/pianetadonna/images/speciali/testata-spc-sanvalentinopd.jpg") no-repeat scroll 0 0; 
    }
    
    .testata-spc-pasqua {
        background: url("http://static.stbm.it/pianetadonna/images/speciali/spc-pasqua.jpg") no-repeat scroll 0 0; 
    }
    
    .testata-spc-carnevale h1,
    .testata-spc-sanvalentino h1 { 
        text-shadow: 1px 1px 2px rgba(0,0,0,.3); 
    }    

}

/* testatina speciali - versione NEW con link articoli */
.testata-spc-new .testata-spc-head .testata-spc-label:before {color: #cc1439;}
.testata-spc-new .testata-spc-head .testata-spc-label {background: #cc1439;}
.testata-spc-new .testata-spc-head h3{color: #cc1439;}

.testata-spc-home p,
.testata-spc-home .logo-sponsor .logo-sponsor-text{
	color: #baa6ab;
}
.testata-spc-home a h1{
	color: #cc1439;	
}

.testata-spc-new .testata-spc-links ul li.vedi-altri-link {
	background: url("http://static.stbm.it/pianetadonna/images/grafica/vedi-tutti-spc.jpg")	;
	transition: all 200ms ease-in 0s;
	-webkit-transition: all 200ms ease-in 0s;
	-moz-transition: all 200ms ease-in 0s;
	-ms-transition: all 200ms ease-in 0s;
}

.testata-spc-new .testata-spc-links ul li.vedi-altri-link a:after{
	content:"";
	display:block;
	z-index: 0;
	width: 100%;
	height: 100%;
	background: rgba(204,20,57,0.8);
}
.testata-spc-new .testata-spc-links ul li.vedi-altri-link a:hover:after { 
	background: rgba(179,18,50,0.8);
}


/*------------------------------------*\
    $ANTEPRIMA SPECIALI & SLIDER
\*------------------------------------*/
.slider-spc-home .arrow-right:after{
    background: #cc1439;
}
.slider-spc-home,
.articolo-anteprima--spc{
    background: #fcf7f9;
} 

.slider-spc-home p,
.articolo-anteprima--spc p{
	color: #baa6ab;
}

.articolo-anteprima--spc .categoria{
	background: #baa6ab;
}
.articolo-anteprima--spc .categoria:before{
	color: #baa6ab; 
}

.articolo-anteprima--spc figure a:before{
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(252,247,249,1) 65%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(65%,rgba(252,247,249,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(252,247,249,1) 65%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(252,247,249,1) 65%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(252,247,249,1) 65%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(252,247,249,1) 65%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#fcf7f9',GradientType=0 ); /* IE6-9 */
}
.articolo-anteprima--spc .arrow-right:after{
	background: #cc1439;
}
.articolo-anteprima--spc h3 a{
	color: #624f51;
}
.articolo-anteprima--spc h3 a:hover{
	color: #cc1439;
}


/*-- paginatore listati --*/

.pager span { 
    color:#666666; 	
}

.pager a { 	
	color: #c7afb5;	
}

.pager .selected {  
	background: #c7afb5;
}

.pager a:hover { 
	background: #fcf7f9; 
	border-color: #ebe5e6; 
}

.pager .arrow,
.pager .pager-btn { 
	background: #cc1439 ;
	border-color: #cc1439 ; 	
}

.pager .arrow:hover ,
.pager .pager-btn:hover { 
    background: #b31232 ;
	border-color: #b31232 ; 	
}

.pager--allarticle {
	border-bottom: 1px solid #ebe5e6;		
}

@media only screen and (min-width: 600px){     
			
       	
	.articolo-anteprima .adv-art-pp-lista { 
		background: url("http://static.stbm.it/Share/images/label_pubblicita.png") no-repeat scroll 20px 0; 
	}
	
	.author-header,
    .art-pp-lista--big,
    .pager--allarticle,
    .serp-results-info,
    .author_details .author-blogger,    
    .articolo-anteprima.art-pp-lista {	
		border-bottom: 1px solid #ebe5e6;	
	}    
}

/*-- profilo autore --*/

.author_details .author-blogger h2,
.author-social a:hover { 
	color: #cc1439;
}

/*-- profilo blogger --*/

.title-lista {
    border-bottom: 1px solid #ebe5e6;
    padding:0 0 5px;
}

.author_details .author-blogger {
	display: none;
}

.author_details .author-blogger h2 { 
	font-style: italic;
	margin-bottom: 15px;	
	line-height: 1.5;	
}

.author_details .author-blogger.alessandra-razete {
    background: url('http://static.stbm.it/pianetadonna/images/blogger/testata-alessandra-razete.png') no-repeat scroll right -20px;
}

.author_details .author-blogger.laura-grampa {
    background: url('http://static.stbm.it/pianetadonna/images/blogger/testata-laura-grampa.png') no-repeat scroll right -20px;
}

.author_details .author-blogger.laura-manfredi {
    background: url('http://static.stbm.it/pianetadonna/images/blogger/testata-laura-manfredi.png') no-repeat scroll right -20px;
}

/*------------------------------------*\
    $SERP
\*------------------------------------*/

.serp-results-info span,
.serp-results-info ul li.selected a { 
	color: #cc1439; 	
}

.serp-results-info ul li a {
	color:  #624f51;	
}

.serp-results-info ul li.no-results-found em { 
	color: #c7afb5; 
}

.serp-results-info ul li b,
.serp-results-info ul li.selected div:before {
	background: #cc1439;	
}

.serp-results-info ul li div:before {	
	background:  #624f51;	
}

.serp-results-info ul li.no-results-found div:before,
.serp-results-info ul li.no-results-found a:hover div:before,
.serp-results-info ul li.no-results-found b { 
    background: #c7afb5;  
}

.serp-results-info ul li a:hover div:before { 
    background: #cc1439;
}

/*------------------------------------*\
    $FOTO GALLERY
\*------------------------------------*/

/*-- listato thumbs singola gallery  --*/
.content-singleGallerylist ul li figure a.singleGallerylist-img-link {     
    background: #fcf7f9;   
}

.content-singleGallerylist a.singleGallerylist-img-link:hover .singleGallerylist-img-mask {
    background: rgba(204, 20, 57, 0.9);   
}

/*------------------------------------*\
    $INFO E CONTATTI
\*------------------------------------*/ 

.page-info a { 
    color: #cc1439;
}
.page-info hr {
    border:1px solid #ebe5e6;
}
.page-info div.address {
    border:4px solid #ebe5e6;
}
.page-info div.address div {
    border-top: 1px solid #ebe5e6;
}
.page-info div.address b {
    color: #000;
}
.page-info ul li b {
    color:#cc1439;
}

@media only screen and (min-width: 768px) {
    .page-info div.address div { 
      border-left: 1px solid #ebe5e6;  
      border-top: 0; 
    }  
}

/*------------------------------------*\
    $FORM BOX 
\*------------------------------------*/ 

.form-box .form-control,
.form-box .chosen-container-single .chosen-single  {   
    background: #fcf7f9;
    border: 1px solid #c7afb5;   
    color: #000;
}

.form-box .chosen-container .chosen-results li.highlighted,
.form-box .chosen-container .chosen-results li.no-results,
.form-box .chosen-container .chosen-drop { 
    background-color:#fcf7f9;
}
.form-box .radio label:before,
.form-box .checkbox label:before,
.form-box .form-group .required:after,
.form-box .chosen-container-single .chosen-default,
.form-box .chosen-container-single .chosen-single div b:before,
.form-box .chosen-container-active.chosen-with-drop .chosen-single div b:before {    
    color: #cc1439;    
}

.contact_result a { 
    color: #cc1439;    
}

/*------------------------------------*\
    $ORION GALLERY
\*------------------------------------*/ 
.orionGalleryLevel header .logo{
    background: url("http://static.stbm.it/pianetadonna/images/grafica/logo-light.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 34px;
    width: 89px;
}

.orionGalleryLevel header,
.orionGalleryLevel header .chiudi{
    background: #cc1439;
}
.foto-container .advCenter-wrapper .continua{
    color: #cc1439;
}
.modale-foto-wrapper .sidebar-modale p a{
    color: #cc1439;
    text-decoration: underline;
}
.modale-foto-wrapper .sidebar-modale p a:hover{
    text-decoration: none;
}

.modale-foto-wrapper .sidebar-modale .azioni a.guarda-tutte.open:hover:after,
.modale-foto-wrapper .sidebar-modale .azioni a:hover{
    background-color: #cc1439;
    border-color: #cc1439;
}
.modale-foto-wrapper .thumb-container .slimScrollBar{
    background-color:#cc1439 !important;
}
.modale-foto-wrapper .foto-container .descrizione p a{
    color: #cc1439;
}
.modale-foto-wrapper .foto-container .descrizione p a:hover{
    text-decoration: underline;
}

.foto-container .descrizione h4 a{
    color: #cc1439;
}

/* link speciali gallery */
.modale-foto-wrapper .sidebar-modale p{
    color: #9e8189;
}

.jq-photoAbstractContainer h3{
	color: #9e8189;
}
.jq-photoAbstractContainer h3:before{
	border-color: #dbcfd3;
}

@media only screen and (min-width: 801px){
  .orionGalleryLevel header .logo{
  	width: 115px;
    height: 55px;
    background: url("http://static.stbm.it/pianetadonna/images/grafica/pianeta-donna-logo.png") no-repeat 0 0;
	}
	.orionGalleryLevel header{
        background: #f3eef0;
    }
	.modale-foto-wrapper .nav a:hover,
	.modale-foto-wrapper .sidebar-modale .azioni a:hover,
    .modale-foto-wrapper .sidebar-modale .azioni a.guarda-tutte.open:hover:after{
        background: #cc1439;
    }
	.conteggio{
        background: rgba(204, 20, 57, 0.8);
    }
	 .modale-foto-wrapper .nav a{
        background: rgba(204, 20, 57, 0.8);
	}
}

@media only screen and (min-width: 1640px){ 
  .modale-foto-wrapper .nav a:after{
        background: #cc1439;
	}
}
@media only screen and (max-width: 801px){
    .modale-foto-wrapper .thumb-box-open .sidebar-modale .azioni a{
        background: #cc1439;
	}
	.modale-foto-wrapper .thumb-box-open .sidebar-modale .azioni a:after{
        background: #cc1439;
    }
}

/*  BOX ASIDE */
.box-aside article h1 a:hover{
    color: #cc1439;
}

/*------------------------------------*\
    $BACKGROUND LEADERBOARD TOP 
\*----------------------------------------*/
.adv-leaderboard-top{
    background-color: #fcf7f9;
}

/*------------------------------------*\
    $OUTBRAIN  
\*------------------------------------*/
.OUTBRAIN .ob_strip_container .ob_org_header,
.OUTBRAIN .ob_strip_container .strip-rec-link-title:hover,
.OUTBRAIN .ob_source:before{
    color: #cc1439; 
}
.OUTBRAIN .ob_source{
    background: #cc1439;
}

.OUTBRAIN .ob_source:hover {    
    background: #b31232;
}

.OUTBRAIN .ob_source:hover:before {    
    color: #b31232;
}


/*------------------------------------*\
    $SPECIALI
\*------------------------------------*/
.speciale-description a{
    color: #cc1439;
}
.speciale-description a:hover{
    text-decoration: underline;
}


/*------------------------------------*\
    $LEGGI-ANCHE-SPECIALE-NATALE-PD  
\*------------------------------------*/

.leggi-anche{
    color: #cc1439;
}
.leggi-anche h4{
	color:#412e33;
}
.leggi-anche h3 a{
	color: #cc1439;
}

.leggi-anche h3 a:hover{
	color: #000;
}

/*------------------------------------*\
    $SITEMAP
\*------------------------------------*/  
.sitemap ul li a{
	color: #cc1439;
}

/*------------------------------------*\
    $ADV VIDEO - NO FLOAT-LEFT  
\*------------------------------------*/

#eyeDivInject{ float:none !important;}