/*------------------------------------*\
    $FONT CSS 1 
\*------------------------------------*/

/* Lora */
@font-face {
    font-family: 'lora';
    src: url('http://www.pianetadonna.it/fonts/lora/lora-regular-webfont.eot');
    src: url('http://www.pianetadonna.it/fonts/lora/lora-regular-webfont.svg') format('svg'),
         url('http://www.pianetadonna.it/fonts/lora/lora-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://www.pianetadonna.it/fonts/lora/lora-regular-webfont.woff') format('woff'),
         url('http://www.pianetadonna.it/fonts/lora/lora-regular-webfont.ttf') format('truetype');
         
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lora';
    src: url('http://www.pianetadonna.it/fonts/lora/lora-italic-webfont.eot');
    src: url('http://www.pianetadonna.it/fonts/lora/lora-italic-webfont.svg') format('svg'),
         url('http://www.pianetadonna.it/fonts/lora/lora-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://www.pianetadonna.it/fonts/lora/lora-italic-webfont.woff') format('woff'),
         url('http://www.pianetadonna.it/fonts/lora/lora-italic-webfont.ttf') format('truetype');
         
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'lora';
    src: url('http://www.pianetadonna.it/fonts/lora/lora-bold-webfont.eot');
    src: url('http://www.pianetadonna.it/fonts/lora/lora-bold-webfont.svg') format('svg'),
    url('http://www.pianetadonna.it/fonts/lora/lora-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://www.pianetadonna.it/fonts/lora/lora-bold-webfont.woff') format('woff'),
         url('http://www.pianetadonna.it/fonts/lora/lora-bold-webfont.ttf') format('truetype');        
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'lora';
    src: url('http://www.pianetadonna.it/fonts/lora/lora-bolditalic-webfont.eot');
    src: url('http://www.pianetadonna.it/fonts/lora/lora-bolditalic-webfont.svg') format('svg'),
         url('http://www.pianetadonna.it/fonts/lora/lora-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://www.pianetadonna.it/fonts/lora/lora-bolditalic-webfont.woff') format('woff'),
         url('http://www.pianetadonna.it/fonts/lora/lora-bolditalic-webfont.ttf') format('truetype');
         
    font-weight: bold;
    font-style: italic;
}


/* Lato */
@font-face {
    font-family: 'lato';
    src: url('http://www.pianetadonna.it/fonts/lato/lato-reg-webfont.eot');
    src: url('http://www.pianetadonna.it/fonts/lato/lato-reg-webfont.svg') format('svg'),
         url('http://www.pianetadonna.it/fonts/lato/lato-reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://www.pianetadonna.it/fonts/lato/lato-reg-webfont.woff') format('woff'),
         url('http://www.pianetadonna.it/fonts/lato/lato-reg-webfont.ttf') format('truetype');
         
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lato';
    src: url('http://www.pianetadonna.it/fonts/lato/lato-regita-webfont.eot');
    src: url('http://www.pianetadonna.it/fonts/lato/lato-regita-webfont.svg') format('svg'),
         url('http://www.pianetadonna.it/fonts/lato/lato-regita-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://www.pianetadonna.it/fonts/lato/lato-regita-webfont.woff') format('woff'),
         url('http://www.pianetadonna.it/fonts/lato/lato-regita-webfont.ttf') format('truetype');
         
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'lato';
    src: url('http://www.pianetadonna.it/fonts/lato/lato-bol-webfont.eot');
    src: url('http://www.pianetadonna.it/fonts/lato/lato-bol-webfont.svg') format('svg'),
    url('http://www.pianetadonna.it/fonts/lato/lato-bol-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://www.pianetadonna.it/fonts/lato/lato-bol-webfont.woff') format('woff'),
         url('http://www.pianetadonna.it/fonts/lato/lato-bol-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'lato';
    src: url('http://www.pianetadonna.it/fonts/lato/lato-bolita-webfont.eot');
    src: url('http://www.pianetadonna.it/fonts/lato/lato-bolita-webfont.svg') format('svg'),
         url('http://www.pianetadonna.it/fonts/lato/lato-bolita-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://www.pianetadonna.it/fonts/lato/lato-bolita-webfont.woff') format('woff'),
         url('http://www.pianetadonna.it/fonts/lato/lato-bolita-webfont.ttf') format('truetype');
         
    font-weight: bold;
    font-style: italic;
}


/* Icone-pd */
@font-face {
  font-family: 'icone';
  src: url('http://www.pianetadonna.it/fonts/icone-pd/icone-pd.eot');
  src: url('http://www.pianetadonna.it/fonts/icone-pd/icone-pd.svg') format('svg'),
       url('http://www.pianetadonna.it/fonts/icone-pd/icone-pd.eot#iefix') format('embedded-opentype'),
       url('http://www.pianetadonna.it/fonts/icone-pd/icone-pd.woff') format('woff'),
       url('http://www.pianetadonna.it/fonts/icone-pd/icone-pd.ttf') format('truetype');       
  font-weight: normal;
  font-style: normal;
}