/*--------------------------------------*\
    $FRAMEWORK
\*--------------------------------------*/
/**
 * basato su inuit.css e bootstrap
 * ....................
 * RESET...............
 * CLEARFIX............ 
 * GRIGLIA.............
 * LARGHEZZA GRIGLIA...
 * TABLET.............. 600px ≤ X ≤ 1024px
 * DESKTOP............. 1025px ≤ X
 * DEFAULT............. stili default
 * TYPOGRAPHY.......... 
 * CODE................ 
 * TABELLE.............
 **/

/*------------------------------------*\
    $RESET
\*------------------------------------*/
*,
:before,
:after {
-webkit-box-sizing: border-box; 
   -moz-box-sizing: border-box; 
        box-sizing: border-box; 
}

html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,hr,
a,abbr,address,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strong,sub,sup,tt,var,
b,u,i,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video{
    margin:0;
    padding:0;
    border: 0;
    outline: 0;
}

article,aside,details,figcaption,figure,footer,
header,hgroup,menu,nav,section{
    display:block;
}

/*------------------------------------*\
  $CLEARFIX
\*------------------------------------*/
.cf, .gc, .nav, .media {zoom: 1;}
.cf:before, .gc:before, .nav:before, .media:before, 
.cf:after, .gc:after, .nav:after, .media:after {
 content: " ";
 display: table; 
}
.cf:after, .gc:after, .nav:after, .media:after {clear: both;}


/*------------------------------------*\
  $GRIGLIA 
\*------------------------------------*/

/* .gc = grid container (racchiude gli elementi che compongono la griglia) */
.gc {margin-left: -30px;}

.gc--rev .grid {float: right;}

.gc > .gc {margin-left: 0;}

.grid {
    float: left;
    padding-left: 30px;
    position: relative; 
}


/*-- LARGHEZZA GRIGLIE ---------------*/ 
.span-1 {width: 100%;}

.span-1-2, .span-2-4, .span-3-6, .span-4-8, .span-5-10, .span-6-12 {width: 50%;}

.span-1-3, .span-2-6, .span-4-12 {width: 33.333%;}

.span-2-3, .span-4-6, .span-8-12 {width: 66.666%;}

.span-1-4, .span-2-8, .span-3-12 {width: 25%;}

.span-3-4, .span-6-8, .span-9-12 {width: 75%;}

.span-1-5, .span-2-10 {width: 20%;}

.span-2-5, .span-4-10 {width: 40%;}

.span-3-5, .span-6-10 {width: 60%;}

.span-4-5, .span-8-10 {width: 80%;}

.span-1-6, .span-2-12 {width: 16.666%;}

.span-5-6, .span-10-12 {width: 83.333%;}

.span-1-8 {width: 12.5%;}

.span-3-8 {width: 37.5%;}

.span-5-8 {width: 62.5%;}

.span-7-8 {width: 87.5%;}

.span-1-10 {width: 10%;}

.span-3-10 {width: 30%;}

.span-7-10 {width: 70%;}

.span-9-10 {width: 90%;}

.span-1-12 {width: 8.333%;}

.span-5-12 {width: 41.666%;}

.span-7-12 {width: 58.333%;}

.span-11-12 {width: 91.666%;}

/*------------------------------------*\
  $TABLET
\*------------------------------------*/
@media only screen and (min-width: 600px) and (max-width: 1023px) { 
.tablet-1 {width: 100%;}

.tablet-1-2, .tablet-2-4, .tablet-3-6, .tablet-4-8, .tablet-5-10, .tablet-6-12 {width: 50%;}

.tablet-1-3, .tablet-2-6, .tablet-4-12 {width: 33.333%;}

.tablet-2-3, .tablet-4-6, .tablet-8-12 {width: 66.666%;}

.tablet-1-4, .tablet-2-8, .tablet-3-12 {width: 25%;}

.tablet-3-4, .tablet-6-8, .tablet-9-12 {width: 75%;}

.tablet-1-5, .tablet-2-12 {width: 20%;}

.tablet-2-5, .tablet-4-10 {width: 40%;}

.tablet-3-5, .tablet-6-10 {width: 60%;}

.tablet-4-5, .tablet-8-10 {width: 80%;}

.tablet-1-6, .tablet-2-12 {width: 16.666%;}

.tablet-5-6, .tablet-10-12 {width: 83.333%;}

.tablet-1-8 {width: 12.5%;}

.tablet-3-8 {width: 37.5%;}

.tablet-5-8 {width: 62.5%;}

.tablet-7-8 {width: 87.5%;}

.tablet-1-10 {width: 10%;}

.tablet-3-10 {width: 30%;}

.tablet-7-10 {width: 70%;}

.tablet-9-10 {width: 90%;}

.tablet-1-12 {width: 8.333%;}

.tablet-5-12 {width: 41.666%;}

.tablet-7-12 {width: 58.333%;}

.tablet-11-12 {width: 91.666%;}
}
/*-- //fine only screen and (min-width: 600px) and (max-width: 1023px) ------------------*/

/*------------------------------------*\
  $DESKTOP
\*------------------------------------*/
@media only screen and (min-width: 1024px) {
.desktop-1 {width: 100%;}

.desktop-1-2, .desktop-2-4, .desktop-3-6, .desktop-4-8, .desktop-5-10, .desktop-6-12 {width: 50%;}

.desktop-1-3, .desktop-2-6, .desktop-4-12 {width: 33.333%;}

.desktop-2-3, .desktop-4-6, .desktop-8-12 {width: 66.666%;}

.desktop-1-4, .desktop-2-8, .desktop-3-12 {width: 25%;}

.desktop-3-4, .desktop-6-8, .desktop-9-12 {width: 75%;}

.desktop-1-5, .desktop-2-12 {width: 20%;}

.desktop-2-5, .desktop-4-10 {width: 40%;}

.desktop-3-5, .desktop-6-10 {width: 60%;}

.desktop-4-5, .desktop-8-10 {width: 80%;}

.desktop-1-6, .desktop-2-12 {width: 16.666%;}

.desktop-5-6, .desktop-10-12 {width: 83.333%;}

.desktop-1-8 {width: 12.5%;}

.desktop-3-8 {width: 37.5%;}

.desktop-5-8 {width: 62.5%;}

.desktop-7-8 {width: 87.5%;}

.desktop-1-10 {width: 10%;}

.desktop-3-10 {width: 30%;}

.desktop-7-10 {width: 70%;}

.desktop-9-10 {width: 90%;}

.desktop-1-12 {width: 8.333%;}

.desktop-5-12 {width: 41.666%;}

.desktop-7-12 {width: 58.333%;}

.desktop-11-12 {width: 91.666%;}


/*------------------------------------*\
    $PUSH
\*------------------------------------*/
.push--1-2, .push--2-4, .push--3-6, .push--4-8, .push--6-12 {margin-left: 50%;}

.push--1-3, .push--2-6, .push--4-12 {margin-left: 33.333%;}

.push--2-3, .push--4-6, .push--8-12 {margin-left: 66.666%;}

.push--1-4, .push--2-8, .push--3-12 {margin-left: 25%;}

.push--3-4, .push--6-8, .push--9-12 {margin-left: 75%;}

.push--1-5, .push--2-10 {margin-left: 20%;}

.push--2-5, .push--4-10 {margin-left: 40%;}

.push--3-5, .push--6-10 {margin-left: 60%;}

.push--4-5, .push--8-10 {margin-left: 80%;}

.push--1-6, .push--2-12 {margin-left: 16.666%;}

.push--5-6, .push--10-12 {margin-left: 83.333%;}

.push--1-8 {margin-left: 12.5%;}

.push--3-8 {margin-left: 37.5%;}

.push--5-8 {margin-left: 62.5%;}

.push--7-8 {margin-left: 87.5%;}

.push--1-10 {margin-left: 10%;}

.push--3-10 {margin-left: 30%;}

.push--5-10 {margin-left: 50%;}

.push--7-10 {margin-left: 70%;}

.push--9-10 {margin-left: 90%;}

.push--1-12 {margin-left: 8.333%;}

.push--5-12 {margin-left: 41.666%;}

.push--7-12 {margin-left: 58.333%;}

.push--11-12 {margin-left: 91.666%;}

.push--6-12 {margin-left: 50%;}
}
/*-- //fine only screen and (min-width: 1024px) ------------------*/


/*------------------------------------
  $DEFAULT
------------------------------------*/

body {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.4;
}

img{max-width: 100%;}

.no-border{border: none !important;}
.float-left{float: left;}
.float-right{float: right;}

/*------------------------------------
  $TYPOGRAPHY
------------------------------------*/
h1, h2, h3, h4, h5, h6 { 
    line-height: 1.1; 
    font-weight: normal;
}

h1, .title1 {font-size: 60px;}

h2, .title2 {font-size: 36px;}

h3, .title3 {font-size: 33px;}

h4, .title4 {font-size: 30px;}

h5, .title5 {font-size: 25px;}

h6, .title6 {font-size: 14px;}

p {
    font-size: 20px; 
    line-height: 1.5; 
    margin-bottom: 15px; 
}

b, strong{font-weight: bold;}
i, em{font-style: italic;}

ul, ol{
    list-style: none outside none;
}
ul ul, ol ul, ul ol, ol ol {
    margin-bottom: 0;
}
.list-inline {
    list-style: none outside none;
    margin-left: -5px;
    padding-left: 0;
}
.list-inline > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}
dl {
    margin-bottom: 20px;
    margin-top: 0;
}
dt, dd {
    line-height: 1.42857;
}
dt {
    font-weight: 700;
}
dd {
    margin-left: 0;
}

.dl-horizontal dt {
    clear: left;
    float: left;
    overflow: hidden;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 160px;
}
.dl-horizontal dd {
    margin-left: 180px;
}

abbr[title]{border-bottom: 1px dotted #999; cursor: help;} /* Si applica al tag <abbr> solo se ha un 'title' */

.text-left {text-align: left;}
.text-right {text-align: right;}
.text-center {text-align: center;}
.text-justify{text-align: justify;}


/*------------------------------------
  $CODE
------------------------------------*/
code, kbd, pre, samp {
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}
code {
    background-color: #F9F2F4;
    border-radius: 4px;
    color: #C7254E;
    font-size: 90%;
    padding: 2px 4px;
    white-space: nowrap;
}
kbd {
    background-color: #eee;
    border:1px solid #ddd;
    border-radius: 3px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) inset;
    color: #666;
    font-size: 90%;
    padding: 2px 4px;
}
pre {
    background-color: #F5F5F5;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    color: #333333;
    display: block;
    font-size: 13px;
    line-height: 1.42857;
    margin: 0 0 10px;
    padding: 9.5px;
    word-break: break-all;
    word-wrap: break-word;
}
pre code {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0;
    color: inherit;
    font-size: inherit;
    padding: 0;
    white-space: pre-wrap;
}
.pre-scrollable {
    max-height: 340px;
    overflow-y: scroll;
}


/*------------------------------------
  $TABELLE
------------------------------------*/
table {
    max-width: 100%;
    background-color: transparent;
	border-spacing: 0;
	border-collapse: collapse;
}
th {
	text-align: left;
}
.table {
	width: 100%;
	margin-bottom: 20px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
	padding: 8px;
	line-height: 1.42857143;
	vertical-align: top;
	border-top: 1px solid #ddd;
}
.table > thead > tr > th {
	vertical-align: bottom;
	border-bottom: 2px solid #ddd;
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
	border-top: 0;
}
.table > tbody + tbody {
	border-top: 2px solid #ddd;
}
.table .table {
	background-color: #fff;
}
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
	padding: 5px;
}
.table-bordered {
	border: 1px solid #ddd;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
	border: 1px solid #ddd;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
	border-bottom-width: 2px;
}
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
	background-color: #f9f9f9;
}
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
	background-color: #f5f5f5;
}
table col[class*="col-"] {
	position: static;
	display: table-column;
	float: none;
}
table td[class*="col-"],
table th[class*="col-"] {
	position: static;
	display: table-cell;
	float: none;
}
.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
	background-color: #f5f5f5;
}
.table-hover > tbody > tr > td.active:hover,
.table-hover > tbody > tr > th.active:hover,
.table-hover > tbody > tr.active:hover > td,
.table-hover > tbody > tr.active:hover > th {
	background-color: #e8e8e8;
}
.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
	background-color: #dff0d8;
}
.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td,
.table-hover > tbody > tr.success:hover > th {
	background-color: #d0e9c6;
}
.table > thead > tr > td.info,
.table > tbody > tr > td.info,
.table > tfoot > tr > td.info,
.table > thead > tr > th.info,
.table > tbody > tr > th.info,
.table > tfoot > tr > th.info,
.table > thead > tr.info > td,
.table > tbody > tr.info > td,
.table > tfoot > tr.info > td,
.table > thead > tr.info > th,
.table > tbody > tr.info > th,
.table > tfoot > tr.info > th {
	background-color: #d9edf7;
}
.table-hover > tbody > tr > td.info:hover,
.table-hover > tbody > tr > th.info:hover,
.table-hover > tbody > tr.info:hover > td,
.table-hover > tbody > tr.info:hover > th {
	background-color: #c4e3f3;
}
.table > thead > tr > td.warning,
.table > tbody > tr > td.warning,
.table > tfoot > tr > td.warning,
.table > thead > tr > th.warning,
.table > tbody > tr > th.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > tbody > tr.warning > td,
.table > tfoot > tr.warning > td,
.table > thead > tr.warning > th,
.table > tbody > tr.warning > th,
.table > tfoot > tr.warning > th {
	background-color: #fcf8e3;
}
.table-hover > tbody > tr > td.warning:hover,
.table-hover > tbody > tr > th.warning:hover,
.table-hover > tbody > tr.warning:hover > td,
.table-hover > tbody > tr.warning:hover > th {
	background-color: #faf2cc;
}
.table > thead > tr > td.danger,
.table > tbody > tr > td.danger,
.table > tfoot > tr > td.danger,
.table > thead > tr > th.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > tbody > tr.danger > td,
.table > tfoot > tr.danger > td,
.table > thead > tr.danger > th,
.table > tbody > tr.danger > th,
.table > tfoot > tr.danger > th {
	background-color: #f2dede;
}
.table-hover > tbody > tr > td.danger:hover,
.table-hover > tbody > tr > th.danger:hover,
.table-hover > tbody > tr.danger:hover > td,
.table-hover > tbody > tr.danger:hover > th {
    background-color: #ebcccc;
}

@media only screen and (max-width: 767px){
.table-responsive {
    border: 1px solid #DDDDDD;
    margin-bottom: 15px;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
}
.table-responsive > .table {
    margin-bottom: 0;
}
.table-responsive > .table > thead > tr > th, .table-responsive > .table > tbody > tr > th, .table-responsive > .table > tfoot > tr > th, .table-responsive > .table > thead > tr > td, .table-responsive > .table > tbody > tr > td, .table-responsive > .table > tfoot > tr > td {
    white-space: nowrap;
}
.table-responsive > .table-bordered {
    border: 0 none;
}
.table-responsive > .table-bordered > thead > tr > th:first-child, .table-responsive > .table-bordered > tbody > tr > th:first-child, .table-responsive > .table-bordered > tfoot > tr > th:first-child, .table-responsive > .table-bordered > thead > tr > td:first-child, .table-responsive > .table-bordered > tbody > tr > td:first-child, .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0 none;
}
.table-responsive > .table-bordered > thead > tr > th:last-child, .table-responsive > .table-bordered > tbody > tr > th:last-child, .table-responsive > .table-bordered > tfoot > tr > th:last-child, .table-responsive > .table-bordered > thead > tr > td:last-child, .table-responsive > .table-bordered > tbody > tr > td:last-child, .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0 none;
}
.table-responsive > .table-bordered > tbody > tr:last-child > th, .table-responsive > .table-bordered > tfoot > tr:last-child > th, .table-responsive > .table-bordered > tbody > tr:last-child > td, .table-responsive > .table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0 none;
}
}



/*--  screen reader only: per nascondere tag (ad esempio label) che non devono essere visibili, ma leggibili dagli screen-reader  --*/
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}