/*------------------------------------*\
    $GENERALE modifica per committa
\*------------------------------------*/
/**
 * CSS generale
 * ........................
 * FONT.................... gestione font e "icon-font"
 * GENERALI................ classi generali
 * HEADER.................. include anche la versione slim
 * .. NETWORK-LIST......... blocco network accanto al logo
 * .. PULSANTIERA.......... blocco pulsanti header
 * .. SLIM-NAV............. navigazione menu tab
 * NAVIGAZIONE.............
 * SIDEBAR.................
 * FOOTER..................
 * ARTICOLO ANTEPRIMA...... settaggi base per le anteprime articoli
 * BLOCCO SLIDER........... gestioni blocchi slider (foto, video, oroscopo, blogger)
 * BLOCCO NETWORK.......... blocco network prima del footer in home
 * INFO E CONTATTI......... 
 **/

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "icone";
    font-style: normal;
    font-weight: normal;
    speak: none;
 
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    text-align: center;
 
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
}

.icon-youtube:before { content: '\e822'; } /* '' */
 
.icon-prev:before { content: '\e800'; } /* '' */
.icon-next:before { content: '\e801'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-fb2:before { content: '\e803'; } /* '' */
.icon-user:before { content: '\e804'; } /* '' */
.icon-gp:before { content: '\e805'; } /* '' */
.icon-fb:before { content: '\e806'; } /* '' */
.icon-network:before { content: '\e807'; } /* '' */
.icon-tw:before { content: '\e808'; } /* '' */
.icon-camera:before { content: '\e809'; } /* '' */
.icon-v-down:before { content: '\e80a'; } /* '' */
.icon-burger:before { content: '\e80b'; } /* '' */
.icon-search:before { content: '\e80c'; } /* '' */
.icon-play:before { content: '\e80d'; } /* '' */
.icon-tw2:before { content: '\e80e'; } /* '' */
.icon-gp2:before { content: '\e80f'; } /* '' */
.icon-balloon:before { content: '\e810'; } /* '' */
.icon-print:before { content: '\e811'; } /* '' */
.icon-fb3:before { content: '\e812'; } /* '' */
.icon-v-left:before { content: '\e813'; } /* '' */
.icon-v-right:before { content: '\e814'; } /* '' */
.icon-v-up:before { content: '\e815'; } /* '' */
.icon-close:before { content: '\e816'; } /* '' */
.icon-home:before { content: '\e817'; } /* '' */
.icon-list:before { content: '\e818'; } /* '' */
.icon-plus:before { content: '\e819'; } /* '' */
.icon-minus:before { content: '\e81a'; } /* '' */
.icon-forum:before { content: '\e81b'; } /* '' */
.icon-poll:before { content: '\e81c'; } /* '' */
.icon-instagram:before { content: '\e81f'; } /* '' */
.icon-pinterest:before { content: '\e820'; } /* '' */
.icon-article:before { content: '\e821'; } /* '' */
.icon-youtube:before { content: '\e822'; } /* '' */
.icon-rss:before { content: '\e823'; } /* '' */
.icon-ingranaggi:before { content: '\e824'; } /* '' */
.icon-close2:before { content: '\e825'; } /* '' */
.icon-check:before { content: '\e826'; } /* '' */
.icon-check-v:before { content: '\e827'; } /* '' */
.icon-radio:before { content: '\e81e'; } /* '' */
.icon-radio-v:before { content: '\e81d'; } /* '' */
.icon-down:before { content: '\e828'; } /* '' */
.icon-up:before { content: '\e829'; } /* '' */
.icon-pencil:before { content: '\e82a'; } /* '' */
.icon-menu-apri:before { content: '\e82b'; } /* '' */
.icon-menu-chiudi:before { content: '\e82c'; } /* '' */

.sans{font-family: lato, arial, sans-serif;} /* classe per avere ls font-family sans-serif */

h1,h2,h3,h4,h5,h6 { 
    color: #000;
}

/*------------------------------------*\
    $GENERALI
\*------------------------------------*/
#site-content{
    width: 100%;
    overflow:hidden;
    min-height: 700px;
}
body{
    font-family: lora, Georgia, serif;
}

a{    
    text-decoration: none;
}

.wrapper{
    position: relative;
}

.container{
    min-width: 320px;
    padding: 0 10px;
}
.filo { 
   margin-left: -15px;
   margin-right: -15px; 
}
.padding-top-0{
    padding-top:0 !important;
}

.container.with-border {
    background: #fff;    
    padding-bottom: 30px;
    border-bottom: 1px solid #ebe5e6;
}

.adv-leaderboard-top{
    padding: 10px 0;
    text-align: center;
}
/*
.adv-leaderboard-top iframe,
.adv-leaderboard-top > div,
.adv-leaderboard-top > div > div,
.adv-leaderboard-top > div > div div{
    text-align: center;
    display:block;
}
*/

.adv-leaderboard-top .jq-adv-only-responsive > div > iframe{
    margin:0 auto;
}

/* nasconde div intro splash */
#splashmobile-1{
    height:0;
    oveflow: hidden;
}

/* nuove regole css per nuovo menu */
    

  .header-wrap .open-menu {
    position: absolute;
    top: 10px;
    left: 0;
    padding: 0 16px;
    width: 36px;
    font-size: 30px;
    box-sizing: content-box;
    color: #fff;
    font-weight: normal;
    text-decoration: none;
    border-right: 1px solid #eae4e6;
    height: 32px;
    line-height: 33px;
    z-index: 15;
    color: #fff;
}
@media only screen and (max-width: 1024px) {
  .header-wrap .header .pulsantiera .network-pd > a::before{
    content: '\e807';
    font-size: 24px;
    margin-top: 2px;
  }
}

.header-wrap .header .pulsantiera .network-pd > a span{
  display: none;
}

#window-content{
    position: relative; left: 0px;
}

#site-content{
    position: relative;
}

#menu-laterale{
    position:fixed;
    width:320px;
    height: 100%;
    background-color: #624f51;
    top:0;
    left:0;
    overflow-y: auto;
    display: none;
}

.content-menu-laterale{
    padding:12px 20px 20px; 
    position: relative;
}
.content-menu-laterale ul.list-unstyled li{
    padding: 20px;
    border-bottom: 1px solid #746063; 
}

.content-menu-laterale ul.list-unstyled li:first-child{
     display:none;
}

.content-menu-laterale ul li a{
    display: block;
    font: 700 16px 'Lato';
    color: #FFF;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
}
.content-menu-laterale ul li a:hover{
    color: #918486;
}

.content-menu-laterale ul.logged_menu.list-unstyled li:first-child{
     display:block;
}

.content-menu-laterale ul.logged_menu.list-unstyled li{
    margin: 0 0 20px 0;
    
    padding: 0;
    /* font-weight: bold; */
    width:50%;
    float:left;
    border-bottom:none;
    text-align:center;
}
.content-menu-laterale ul.logged_menu.list-unstyled li a{
    display: block;
    font: 100 13px 'Lato';
    color: #FFF;
    letter-spacing: 0px;
    text-transform: uppercase;
    text-decoration: none;
}

.content-menu-laterale ul.logged_menu.list-unstyled li a span{

text-decoration: underline;
}


.content-menu-laterale ul.logged_menu.list-unstyled li a:hover span,
.content-menu-laterale ul.logged_menu.list-unstyled li a:hover:before{
    text-decoration: none;
}

.content-menu-laterale ul.logged_menu.list-unstyled li a:before{
    display:block;
    margin: 0 auto 5px;
    font-size:18px;
}



.content-menu-laterale ul.logged_menu.list-unstyled li:before{
    color:#fff;
    margin-bottom:5px;

}

.content-menu-laterale a.open-menu.jq-open-menu.icon-menu-chiudi{
    display: none;
}

.content-menu-laterale h4{
    display: block;
    font-size: 16px;
    font-style: italic;
    text-align: center;
    margin-bottom: 15px;
    color: #fff;
    margin-top: 30px;
    }
 .content-menu-laterale h4.segui-social{
    padding: 21px 20px 5px 0;
    font: italic 18px 'Lora';
    color: #918486;
    text-align:left;
    border-top: 1px solid #746063;
    }
 .content-menu-laterale ul.sans li{
    margin-bottom: 20px;
}

.content-menu-laterale ul.sans .community-blog{
  font-size: 12px;
  text-transform: none;
}

#layer-dark{
    position:fixed;
    top:0;
    left:320px;    
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: none;
}




#layer-dark.overshadowed .open-menu {
    position: absolute;
    top: 10px;
    left: 0;
    padding: 0 16px;
    width: 36px;
    font-size: 33px;
    box-sizing: content-box;
    color: #fff;
    font-weight: normal;
    text-decoration: none;
    height: 50px;
    line-height: 55px;
}

#layer-dark .open-menu.jq-open-menu.icon-menu-chiudi {
    position: relative;
    padding: 0 16px;
    width: 36px;
    font-size: 33px;
    top:5px;
    color: #fff;
	font-weight: normal;
	display:none;
}

 .content-menu-laterale #searchform{
    position:relative;
    display: block;
 } 
 
 .content-menu-laterale #searchform .text{
        width:100%;
        height: 45px;
        border: 1px solid #ebe5e6;
        padding: 10px 40px 8px 10px;
    	background: #fff;
		font-size: 17px;
		font-family: lora, Georgia, serif;
		font-style: italic;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
        color: #bfaeb3;
        -webkit-appearance:none !important;
    }
    
.content-menu-laterale #searchform .button{
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      background: transparent;
      border: none;
      font-family: "icone";
      font-size: 23px;
      cursor: pointer;
      padding: 0 10px 0 0;
      line-height: 44px;
      height: 44px;
}
.content-menu-laterale a.apri-search{display: none}

.header-wrap.slim .header .pulsantiera .network-pd > a::before{
	content: '\e807';
	font-size: 24px;
	margin-top: 2px;
}

.header-wrap.slim .header .pulsantiera .network-pd > a, .header-wrap.slim .header .pulsantiera .network-pd > a span{
	background:none;
}

.header-wrap .header .pulsantiera .network-pd > span{
  display:none;
  border-left: 1px #fff solid;
}

.header-wrap .header .pulsantiera li.network-pd,
.header-wrap.slim .header .pulsantiera li.network-pd{
  border-left: 1px #fff solid;
  padding-left: 15px;
  margin-left: 15px;
}


/*-- tab-menu--user --*/
.content-menu-laterale .riga{
    margin:0 0 10px;
}
.content-menu-laterale .riga input{
    display: block;
    width: 100%;
    padding: 15px;
    color: #000;  
    font-family: lora, Georgia, serif;
    font-size: 15px;
    font-style: italic;
    background: #504547;
    color: #fff; 
    border: none;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    border: 1px solid #6e6264;
}
.content-menu-laterale a.pass-dimenticata{
    float: right;
    display: block;
    clear: both;
    margin: 0 0 10px;
    font-size: 11px;  
    color: #fff;
    text-decoration:underline;
}
.content-menu-laterale a.pass-dimenticata:hover{
    text-decoration:none;
}
.content-menu-laterale .foot{
    margin-top: 0;    
    padding-top: 24px;
}
.content-menu-laterale .foot p{
    font-size: 16px;
    font-style: italic;
    text-align: center;
    color: #fff;
}
.content-menu-laterale .foot p a{
    text-transform: uppercase;
    font-style: normal;
    color: #fff;
    text-decoration: underline;
}

.content-menu-laterale .foot p a:hover{
    text-decoration: none;
}

/*-- tab-menu--user | logged --*/
.content-menu-laterale .avatar{
    position: relative;
    display: block;
    overflow: hidden;
    width: 120px;
    height: 120px;
    margin: 0 auto;    
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
}
.content-menu-laterale .avatar:after{
    content: "";
    position: absolute;
    left: -5px;
    top: -5px;
    display: block;
    overflow: hidden;
    width: 120px;
    height: 120px;
    margin: 0 auto;
    box-shadow: 8px 12px 0 rgba(0,0,0,.3) inset;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
}

.content-menu-laterale .avatar img { 
    width: auto;
    height: 100%;
    min-width: 100%;
}

.logged_menu{
    margin-top: 20px;
    font-size: 16px;
}
.tab-menu .logged_menu li{
    float: left;
    width:50%;  
    padding: 0 1%;
    margin-bottom: 15px;    
}

.tab-menu .logged_menu li:before { 
    margin-right: 5px;
}

.tab-menu .logged_menu li:hover:before {
    -webkit-transition: all 200ms ease-in 0s; 
       -moz-transition: all 200ms ease-in 0s;
            transition: all 200ms ease-in 0s;    
}


@media only screen and (max-width: 600px) { 
  .header-wrap .open-menu {
		padding:0;
		font-size:26px;
		line-height: 35px;
		padding-left: 8px;
	}

	.content-menu-laterale form#searchform{
		width: calc(100% - 40px);
        height: 44px;
        
	}
	.content-menu-laterale #searchform .text {
		font-size: 15px;
        -webkit-appearance: none;
	} 

	.content-menu-laterale a.open-menu.jq-open-menu.icon-menu-chiudi{
		display: block;
		position: absolute;
		right: 20px;
		top: 16px !important;
	
		color: #fff;
		font-size: 32px;
}
	.header-wrap .open-menu {
left: 0px;
padding: 0 6px 0 12px !important
/* position: static; */
}
/*
#jq-vuoto-network.menu-network-pd.display-yes{
	width: 100%;
	left: 0;
	position: fixed;
	top: 50px;
}

#jq-vuoto-network.menu-network-pd.display-yes ul li a{
	height: 50px
}
*/

}



/* fine nuove regole css per nuovo menu */

@media only screen and (min-width: 600px) {
    .container{
        padding: 0 15px;
    }    
}


/* adv300x250 responsive */
.adv300x250-responsive{
    width: 300px;
    margin: 0 auto 20px;
}
@media only screen and (min-width: 600px) {
    .adv300x250-responsive{
        margin: -30px auto 45px;  
    }
}  

@media only screen and (min-width: 1025px) {
    .adv300x250-responsive{
        display: none; 
    }
} 
/* //fine adv300x250 responsive */

.indent-hide{
    text-indent: -9999px;
}
.pushdown-body {
    box-sizing: content-box;
}

/*-- .container e .filo per tablet e desktop --*/
@media only screen and (min-width: 600px) {  
    .container
     {
        width: 1200px;
        max-width: 100%;
        padding:0 30px;
        margin: 0 auto;
    }   
    .filo {
        margin-left: 0;
        margin-right: 0;
    } 
} /*-- //fine .container e .filo per tablet e desktop--*/


/*-- body e .filo per desktop --*/
@media only screen and (min-width: 1025px) {
    .filo {    
        margin-left: -60px;
        margin-right: -30px;
    }
    
}/*-- //fine body e .filo per desktop --*/

@media only screen and (max-width: 600px) { 
    h1, .title1 {font-size: 30px;}
}

/*-- Bottone --*/
.btn{
    display: inline-block;
    padding: 10px;
    border: none;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgba(0,0,0,.2);
    font-family: lato, arial, sans-serif;
    text-decoration: none;
    cursor: pointer;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    -webkit-transition: all 200ms ease-in 0s; 
       -moz-transition: all 200ms ease-in 0s;
            transition: all 200ms ease-in 0s;  
    -webkit-appearance: none;
}

.btn:hover{    
    color: #fff;
}
.btn--block{
    display: block;
    clear: both;
    width: 100%;
}

.btn--sm{
    padding: 15px 30px;
    text-shadow: none;
    font-size: 14px;
    letter-spacing: 1;
}

.btn--xs{
    padding: 8px 15px;
    text-shadow: none;
    font-size: 11px;
    letter-spacing: 1;
}

.btn--raquo {     
    padding: 15px 45px 15px 30px;
    position: relative;
}

.btn--raquo:after,
.btn--laquo:before {
    content: " \00bb";
    font-family: lora, Georgia, serif;
    font-size: 25px;
    position: absolute;
    top: 5px;
    right: 25px;
}

.btn--laquo {     
    padding: 15px 30px 15px 45px;
    position: relative;
}

.btn--laquo:before {
    content: " \00ab";
    left: 25px;
}

/*-- .no-mobile - per nascondere gli elementi su mobile --*/
.no-mobile{
    display: none !important;
}

@media only screen and (min-width: 601px){
    .no-mobile{
        display: block !important;
    } 
}
/*-- //.no-mobile --*/

/*-- .only-desktop - per rendere visibili gli elementi solo su desktop --*/
.only-desktop{
    display: none !important;
}
@media only screen and (min-width: 1025px){
    .only-desktop{
        display: block !important;
    } 
}
/*-- //.only-desktop --*/


/*-- categoria  --*/
.categoria{
    position: absolute;
    display: block;
    min-width: 140px;
    width: auto;
    padding: 0 10px;
    height: 34px;   
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    line-height: 34px;
    font-family: lato, arial, sans-serif;
    font-weight: bold;
    letter-spacing: .2em;
}

.categoria:before{
    position: absolute;
    bottom:-32px;
    right: 0;
    display: block;
    width: 100%;
    text-align: center;
    font-family: "icone";
    font-size: 32px;
    
}
.categoria span {
    display:block;
    height:34px;
    overflow:hidden;
    color:#fff;
}  
a.categoria:hover,
a.categoria:hover:before {
    transition: all .3s ease-in-out;
}

/*-- categoria - pianetamamma --*/
.categoria.categoria--pianetamamma{
    background: #4fb7fa;
}
.categoria.categoria--pianetamamma:before{
    color: #4fb7fa;
}
/*-- categoria - girlpower --*/
.categoria.categoria--girlpower{
    background: #661c66;
}
.categoria.categoria--girlpower:before{
    color: #661c66;
}
/*-- categoria - cookaround --*/
.categoria.categoria--cookaround,
.categoria.categoria--speciali-cookaround{
    background: #fe8b27;
}
.categoria.categoria--cookaround:before,
.categoria.categoria--speciali-cookaround:before{
    color: #fe8b27;
}
/*-- categoria - my-personaltrainer --*/
.categoria.categoria--my-personaltrainer{
    background: #009dd4;
}
.categoria.categoria--my-personaltrainer:before{
    color: #009dd4;
}
/*-- categoria - soluzionidicasa --*/
.categoria.categoria--soluzionidicasa{
    background: #e45340;
}
.categoria.categoria--soluzionidicasa:before{
    color: #e45340;
}
/*-- categoria - cliomakeup --*/
.categoria.categoria--cliomakeup{
    background: #ff00a9;
}
.categoria.categoria--cliomakeup:before{
    color: #ff00a9;
}
/*-- categoria - invidia-pianetadonna --*/
.categoria.categoria--invidia-pianetadonna{
    background: #ec1172;
}
.categoria.categoria--invidia-pianetadonna:before{
    color: #ec1172;
}
/*-- categoria - ricette-per-bambini-pianetamamma --*/
.categoria.categoria--ricette-per-bambini-pianetamamma{
    background: #5dc4f0;
}
.categoria.categoria--ricette-per-bambini-pianetamamma:before{
    color: #5dc4f0;
}
/*-- categoria - lezpop --*/
.categoria.categoria--lezpop{
    background: #e41784;
}
.categoria.categoria--lezpop:before{
    color: #e41784;
}

/*------------------------------------*\
        $BREADCRUMB CON LABEL
\*------------------------------------*/    
        
    .label_breadcrumb.label_breadcrumb--padding  { 
        padding: 0 15px;
    }
    
    @media only screen and (min-width: 600px){
       .label_breadcrumb.label_breadcrumb--padding  { 
            padding: 0 30px;
        }
    }
    
    .label_breadcrumb a {
        float: left;
        display: block;
    }
    
    .label_breadcrumb  .categoria { 
        position: relative;
        display: inline-block;       
    }
    
    .label_breadcrumb .categoria-l2 {       
        height: 34px;
        padding: 0 10px;        
        font-size: 12px;
        text-transform: uppercase;       
        text-align: center;
        line-height: 34px;
        font-family: lato, arial, sans-serif;
        font-weight: bold;
        letter-spacing: .2em;
    }
    
    .label_breadcrumb  .categoria:hover span,
    .label_breadcrumb .categoria-l2:hover { 
        text-decoration: underline;        
    }
 
    /*------------------------------------*\
            $BREADCRUMB NASCOSTA - SEO 
    \*------------------------------------*/
  
    .container-breadcrumb-indent { 
        text-indent: -9999px;
        height: 0;
        overflow: hidden;
    }  
    
    .container-breadcrumb-jsdisabled {  
        display: block; 
        overflow: hidden; 
        padding: 0 0 20px;  
        font-size: 13px;  
    }
    
    .container-breadcrumb-jsdisabled a { 
        text-decoration: none;
        padding: 5px 10px 5px 0; 
        margin-right: 10px;
    }
    
    .container-breadcrumb-jsdisabled a:hover {
        text-decoration: underline;
    }
    
    .container-breadcrumb-jsdisabled span {
        padding: 5px 10px 5px 0; 
    }

/*------------------------------------*\
    $HEADER
\*------------------------------------*/
.header-wrap{
    position: relative;
    top: 0;
    z-index: 9996;
    width: 100%;
    height: 50px;
}

.header{
    height: 50px;
}
.header .logo{
    float: left;
    margin: 8px 0;
}
.header .logo a{
    display: block;   
    text-indent:-9999px;
}
.header .logo span{
    position: absolute;
    left: -9999px;
}



@media only screen and (max-width: 1440px){
	.header-wrap .container { position: relative; }
	.header-wrap .open-menu { 
        left: 0px;
        padding-left: 20px;
    
        /* position: static; */
}	
	.header .logo {  margin: 10px 0 0 60px; }	
}

@media only screen and (min-width: 800px) {
	.header-wrap .open-menu:hover { color: #614f51; }
	.header-wrap.slim .open-menu {
		color: #fff;
		height: 31px;
		line-height: 34px;
		top: 9px;
		font-size: 30px;
	}

}

/*------------------------------------*\
    HEADER ** $NETWORK-LIST
\*------------------------------------*/
.header .network-list{
    display:none;
}

/*-- .network-list da 1140px in su --*/
@media only screen and (min-width: 1140px){
    .header .network-list{
        position: absolute;
        z-index: 10;
        display: block;
        overflow: hidden;
        padding-left: 160px;
        width: 280px;
        height: 100%;
        margin: 0; 
    }
    
    .header .network-list:before{
        position: absolute;
        opacity: 0;
        filter: alpha(opacity = 0);
        left: 136px;
        top: 8px;
        font-size: 25px;
        color: #fff;  
    }
    
    .header .network-list.jq-open{
        width: 100%;
    }
    
    .header .network-list.jq-open:before{
        opacity: 1;
        filter: alpha(opacity = 100);
    }
    
    .header .network-list a{
        text-decoration: none;
    }
    
    .header .network-list ul {
        display: block;
        height: 70px;        
        background: #fff;
    }
    
    .header .network-list li{
        float: left;
        display: block;
        height: 46px;
        padding: 0 20px;
        margin: 12px 0;
    }
    
    .header .network-list li:first-child{
        border: none;
    }
    
    .header .network-list li a {
        position:relative;
        display: block;
        width: 95px;
        height: 34px;
        margin-top: 6px;        
        text-indent: -9999px;
    }
    
    .header .network-list .pianetamamma a{width: 93px; background-position: 0 -80px;}
    .header .network-list .pianetadonna a { background-position: 12px -170px;}
    .header .network-list .soluzionidicasa a{width: 69px; background-position: -100px -80px;}
    .header .network-list .girlpower a{width: 55px; background-position: -200px -80px;}
    .header .network-list .cookaround a{width: 67px; background-position: -300px -80px;}
    .header .network-list .mypersonaltrainer a{width: 52px; background-position: -400px -80px;}
    .header .network-list .invidia a{width: 75px; background-position: -500px -80px;}
    .header .network-list .ricetteperbambini a{width: 100px; background-position: -600px -80px;}
    .header .network-list .cliomakeup a{width: 52px; background-position: -700px -80px;}
    
    .header .network-list li a span {
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        width: 100%;
        height:100%;        
        opacity: 0;
        filter: alpha(opacity = 0);
    }
    
    .header .network-list .pianetamamma a span {background-position: 0 -114px;}
    .header .network-list .pianetadonna a span { background-position: 12px -206px;}
    .header .network-list .soluzionidicasa a span{background-position: -100px -114px;}
    .header .network-list .girlpower a span{background-position: -200px -114px;}
    .header .network-list .cookaround a span{background-position: -300px -114px;}
    .header .network-list .mypersonaltrainer a span{background-position: -400px -114px;}
    .header .network-list .invidia a span{background-position: -500px -114px;}
    .header .network-list .ricetteperbambini a span{background-position: -600px -114px;}
    .header .network-list .cliomakeup a span{background-position: -700px -114px;}
    
    .header .network-list li a:hover span{
        opacity: 1;
        filter: alpha(opacity = 100);
    }
    
    .header .network-list .action-network{
        position: absolute;
        right: 0;
        top: 0;
        z-index: 10;
        display: block;
        width: 125px;
        height: 70px;
        padding-left: 30px;
        background: #fff;
        font-size: 11px;
        text-transform: uppercase;
        line-height: 1;
    }
    
    .header .network-list .action-network:before{
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        width: 10px;
        height: 70px;       
        font-size: 25px;       
        text-indent: -9999px;
    }
    .header .network-list .action-network:after{
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        width: 10px;
        height: 42px;        
    }
    
    .header .network-list .action-network span{
        display: block;
        font-size: 20px;
        margin: 0 10px 5px 0;
    }
    
    .header .network-list .action-network > div{
        height: 100%;
        padding-top: 10px;
    }
    
    .header .network-list.jq-open .scopri,
    .header .network-list.jq-close .nascondi{display: none;}
    .header .network-list.jq-close .scopri,
    .header .network-list.jq-open .nascondi{display: block;}

    /*-- .network-list - versione slim --*/
    .header-wrap.slim .network-list{
    }
        
    .header-wrap.slim .network-list ul{
        height: 50px;
    }
    
    .header-wrap.slim .network-list li{
        height: 34px;
        margin-top: 8px;       
    }
    
    .header-wrap.slim .network-list li{
        margin: 8px 0;
    }
    
    .header-wrap.slim .network-list li a{
        margin-top: 0;
    }
    
    .header-wrap.slim .network-list a:hover{
        color: #fff;
    }
    
    .header-wrap.slim .network-list .action-network{
        height: 50px;       
    }
    
    .header-wrap.slim .network-list .action-network span{
        float: left;
    }
    
    .header-wrap.slim .network-list.jq-open .action-network:before{
        left: -24px;
        top: 12px;
        width: 10px;
        height: 70px;
        background: none;
        font-size: 25px;
        text-indent: 0;
    }
    
    .header-wrap.slim .network-list.jq-close .action-network:before{
        left: 0;
        top: 4px;
        width: 10px;
        height: 42px;
        background-position: -160px 0;
        text-indent: -9999px;
    }
    
    .header-wrap.slim .network-list .action-network > div{
        padding-top: 15px;
    }
} 
/*-- //fine .network-list da 1140px in su --*/


/*------------------------------------*\
    HEADER ** $PULSANTIERA
\*------------------------------------*/
/*.header .pulsantiera{
    float:right;
    height: 42px;
    margin-top: 8px;
}*/
.header .pulsantiera{
    position:absolute;
    right:0;
    height: 58px;
    margin-top: 10px;
}
.header .pulsantiera ul > li{
    float:left;
}
.header .pulsantiera ul > li > .menu-social,
.header .pulsantiera ul > li > .menu-network-pd,
.header .pulsantiera ul > li > .menu-user{
  position: absolute;
  top: 100%;
  right: 0;
  display:none;
  width: 320px;
}

.header .pulsantiera ul > li > div:before{
    position: absolute;
    top: -28px;
    display: block;
    font-size: 25px;
}


.header .pulsantiera ul > li > div.menu-social:before{right:38px;}
.header .pulsantiera ul > li > div.menu-user:before{right:131px;}
.header .pulsantiera ul > li > div.menu-network-pd:before,
.header-wrap.normal .pulsantiera ul > li > .menu-network-pd:before{right: 10px;}

@media only screen and (min-width: 601px){
	.header-wrap.normal .pulsantiera ul > li > .menu-network-pd:before,
    .header-wrap.slim .pulsantiera ul > li > .menu-network-pd:before{right:30px;}
}

@media only screen and (min-width: 1024px){
	.header-wrap.normal .pulsantiera ul > li > .menu-network-pd:before{right: 50px;}
}

.header .pulsantiera ul > li > div.display-yes{
  display: block;
}
.menu-social .tab-menu li{
    display: block;
}
.slim-nav .tab-menu{
    display:none;
}
#jq-tab-nav{
    display: block;}



.header .pulsantiera > ul > li > a{
    position: relative;
    z-index: 5;
    overflow: hidden;
    text-decoration: none;    
    display: block;
    height: 34px;
    line-height: 34px;  
    font-size: 22px;
    text-decoration: none;
    cursor: pointer;
    color: #fff;   
}

.header .pulsantiera > ul > li > a.apri-social {
    padding-left: 1px;
}

.header .pulsantiera .burger{
    padding-left: 20px;
    font-size: 16px; 
    margin-left: 10px;
}
.header .pulsantiera .burger a{
    font-size: 18px;
}
.header .pulsantiera .search{
    position: relative;
	padding-right: 5px;
}
.header .pulsantiera .search .apri-search{
    position: absolute;
    right: 0;
}
.header .pulsantiera .search form{
    width:0;
    height: 34px;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
}
.header .pulsantiera .search form .text{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    min-width: 182px;
    background: #fff;
    border: none;
    padding: 8px 40px 8px 10px;
    font-size: 18px;
    font-family: lora, Georgia, serif;
    font-style: italic;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
}
.header .pulsantiera .search form .button{
    display:block;
    position: absolute;
    right: 0;
    top: 5px;
    z-index: 1;
    background: transparent;
    border: none;
    font-family: "icone";
    font-size: 18px;
    cursor: pointer;
}
.header-wrap.slim .pulsantiera .search.jq-open form{
    width:240px;
}
.header .pulsantiera .social,
.header .pulsantiera .user{
    width: 0;
    padding: 0;
    margin: 0;
}

.header .pulsantiera .social { 
    border: none; 
}


/* HEADER versione slim */
.header-wrap.slim{
	height: 50px;
	/* nuova regola */
	position: fixed;
}
.header-wrap.slim header{
	height: 50px;
}
.header-wrap.slim .logo{
	margin-top: 8px;
}

.header-wrap.slim .logo a { 
	display: block;
}

.header-wrap.slim .logo a img{
	opacity: 0;
	filter: alpha(opacity = 0);
}



.header-wrap.slim .pulsantiera{
	margin-top: 8px;
}

.header-wrap.slim .pulsantiera .social,
.header-wrap.slim .pulsantiera .user{
	width: 0;
	padding: 0;
	border: 0;
	overflow: hidden;
}
.header-wrap.slim .pulsantiera .social a{
	overflow:hidden;
}
.header-wrap.slim .pulsantiera .burger{
	display: none;
}
.header-wrap.slim .pulsantiera ul > li{
	height: 35px;       
}
.header-wrap.slim .pulsantiera a{
	height: 54px;
	line-height: 34px;
	font-size: 21px;
}

.header-wrap.slim .pulsantiera a,
.header-wrap.slim .pulsantiera a:hover{
	color:#fff;       
}    

.header-wrap.slim .pulsantiera .burger a{
	font-size: 18px;
}
.header-wrap.slim .pulsantiera li.burger{
	padding-right: 0;
}
.header-wrap.slim .pulsantiera .search{
	position: relative;
	overflow: hidden;
	width: 25px;
}
.header-wrap.slim .pulsantiera .search form{
	position: absolute;
	top: 0;
	width: 0;
	height: 34px;        
} 
.header-wrap.slim .pulsantiera .search form .text{
	z-index: 7;
	right: 0;
	height: 34px;
	width: 100%;
	padding:4px 30px 4px 10px;
}
.header-wrap.slim .pulsantiera .search form .button{
	z-index: 7;
	font-size: 18px;
	right: 6px;
	top: 6px;
	padding: 0;
	margin: 0;
}
.header-wrap.slim .pulsantiera .search.jq-open{
	width: 250px;   
}
.header-wrap.slim .pulsantiera .search.jq-open form{
	width: 200px;
	height: 34px;
}
.header-wrap.slim .pulsantiera .search.jq-open form .text{
	width: 100%;
}
.header-wrap.slim .pulsantiera .search .apri-search{
	display: block;
	z-index: 1;
}   
.header-wrap.slim .pulsantiera .network-pd{  
	margin-left: 15px;
	padding-left: 15px;
}

.header-wrap.slim .pulsantiera ul > li > .menu-social,
.header-wrap.slim .pulsantiera ul > li > .menu-network-pd,
.header-wrap.slim .pulsantiera ul > li > .menu-user{
  top: 42px;
  right:-30px
}



@media only screen and (max-width: 1025px){
	.header-wrap .pulsantiera ul > li > .menu-social,
.header-wrap .pulsantiera ul > li > .menu-network-pd,
.header-wrap .pulsantiera ul > li > .menu-user{
  top: 42px;
  right:-30px
}


}

/*-- .pulsantiera per desktop --*/
@media only screen and (min-width: 1025px){
    .header-wrap{
        height: 70px;           
        background: #fff;
        left: 0;
    }
    
    .header{
        position: relative;
        height: 70px;
    }
    
    .header .logo{
        position: relative;
        z-index: 11;
        float: left;
    }
    
    .header .logo a{
        display: inline;
        width: auto;
        height: auto;
        text-indent: 0;
    }
    .header .logo img{
        display: block;
    }
    
    .header .pulsantiera{
        margin-top: 12px;
    }
    
    .header .pulsantiera ul{
        margin-bottom: 0;
    }
    
    .header .pulsantiera > ul > li{
        height: 50px;
        padding: 0 20px;
    }
    
    .header .pulsantiera > ul > li > a{
        display: block;
        font-size: 24px;
        height: 45px;
        line-height: 50px;
        overflow: hidden;
    }
           
    .header .pulsantiera .search{
        padding-left: none;
        border: none;
	}
        
    .header .pulsantiera .search form{
        position: relative;
        opacity: 1;
        filter: alpha(opacity = 100);
        width:346px;
        height: 50px;
        transition: none;
    }
    
    .header .pulsantiera .search form .text{
        width: 326px;
		height: 50px;
        right: 0;
        border: 1px solid #e8e4e5;
        padding: 10px 40px 11px 10px;        
    }
    
    .header .pulsantiera .search form .text:focus{
        background: #fff;        
    } 
    
    .header .pulsantiera .search form .button{
        top: 7px;
        right: 5px;
        font-size: 24px;
    }
    
    .header .pulsantiera .burger,
    .header .pulsantiera .search .apri-search{
        display: none;
    }
    
    .header .pulsantiera .social,
    .header .pulsantiera .user{
        display: block;
        width: auto;
        padding: 0 10px;
    }
	
	.header .pulsantiera .user {
		border: none;
		padding: 0 20px 0 15px;
	}
    
    .header .pulsantiera .social{
        width: 95px;
    }
    
    .header .pulsantiera .social .icon-tw,
    .header .pulsantiera .social .icon-gp{margin-left: -1px;}
    
    .header .pulsantiera .network-pd{
        display: block;
		padding-right: 0;
    }

     .header-wrap .open-menu {	
		font-size: 33px;
		height: 50px;
		line-height: 55px;
		 color: #baa6ab;
	}
    
    #jq-tab-user > div.no-logged,
    #jq-tab-user > div.logged{
		padding: 20px 20px 0;
	}

	#jq-tab-user > div.no-logged h4,
	#jq-tab-user > div.logged h4{
		margin: -40px -20px 20px -20px ;
	}
    
}
/*-- //fine .pulsantiera per desktop --*/


/*-- // .pulsantiera per smartphone tabelt (no-slim) --*/
@media only screen and (max-width: 1025px){
    .header-wrap .pulsantiera{
        margin-top: 8px;
    }
    
    .header-wrap .pulsantiera .social,
    .header-wrap .pulsantiera .user{
        width: 0;
        padding: 0;
        border: 0;
        overflow: hidden;
    }
    .header-wrap .pulsantiera .social a{
        overflow:hidden;
    }
    .header-wrap .pulsantiera .burger{
        display: block;
    }
    .header-wrap .pulsantiera ul > li{
        height: 34px;       
    }
    .header-wrap .pulsantiera a{
        height: 60px;
        line-height: 34px;
        font-size: 21px;
    }
    
    .header-wrap .pulsantiera a,
    .header-wrap .pulsantiera a:hover{
        color:#fff;       
    }    
    
    .header-wrap .pulsantiera .burger a{
        font-size: 18px;
    }
    .header-wrap .pulsantiera li.burger{
        padding-right: 0;
    }
    .header-wrap .pulsantiera .search{
        position: relative;
    }
    .header-wrap .pulsantiera .search form{
        position: absolute;
        top: 0;
        width: 0;
        height: 34px;        
    } 
    .header-wrap .pulsantiera .search form .text{
        z-index: 7;
        right: 0;
        height: 34px;
        width: 100%;
        padding:4px 30px 4px 10px;
    }
    .header-wrap .pulsantiera .search form .button{
        z-index: 7;
        font-size: 18px;
        right: 6px;
        top: 6px;
        padding: 0;
        margin: 0;
        line-height: 1.2;
    }
    .header-wrap .pulsantiera .search.jq-open{
        width: 240px;   
    }
    .header-wrap .pulsantiera .search.jq-open form{
        min-width: 182px;
        height: 34px;
    }
    .header-wrap .pulsantiera .search.jq-open form .text{
        width: 100%;
    }
    .header-wrap .pulsantiera .search .apri-search{
        display: block;
        z-index: 1;
    }
}
/*-- //fine .pulsantiera per smartphone tabelt (no-slim) --*/

@media only screen and (min-width: 480px){
    /*.header-wrap .pulsantiera .search.jq-open form{
        width: 100%;
    }*/
    .header .pulsantiera .search form .text{
        font-size: 16px;
    }
}

@media only screen and (min-width: 1024px){
    .header .pulsantiera .search form .text{
        font-size: 18px;
    }
}



/*------------------------------------*\
    HEADER ** $SLIM-NAV
\*------------------------------------*/
.slim-nav{
    visibility: hidden;
    position: absolute;
    top:40px;
    right: -15px;
    width: 100%;
    opacity: 0;
    filter: alpha(opacity = 0);
    transition: all 0.3s ease-in-out .1s;
}
.slim-nav.jq-open{
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity = 100);
    top: 100%;
}
.slim-nav:before{
    position: absolute;
    top: -18px;
    right: 13px;
    font-size: 24px;  
    cursor: default;
}
.slim-nav.jq-open:before{
    top: -26px;
}
.slim-nav menu ul{
    margin-bottom: 0;
}
.slim-nav menu li{
    float:left;
    display: block;
    width: 33.33%;
}
.slim-nav menu li.current a {
    color: #fff;
    transition: all 0s ease-in-out;
}

.slim-nav menu li.social-slim{
 width: 33.34%;
}


.slim-nav menu li a{
    display: block;
    height: 50px;
    line-height: 50px;   
    text-align: center;  
    font-size: 22px;
    text-decoration: none;   
    box-shadow: 0 7px 0 rgba(0, 0, 0, 0.1) inset;
}

.slim-nav menu li.network a{
    border-right:none;
}
.tab-menu{
    width: 100%;
    padding: 20px 0;
    color: #fff;

}

.tab-menu li{
	display:block;
	width:100%;
}
.tab-menu a{    
    text-decoration: underline;
    color:#fff;   
}

.tab-menu a:before{    
    text-decoration: none;
    margin-right:5px   
}

.tab-menu a:hover{
    text-decoration: none;
}

.tab-menu h4{
    display:block;
    font-size:16px;
    font-weight: bold;
    text-align: center;
    background-color: #574648;
    height: 50px;
    line-height: 50px;
    color: #918486;
    margin: -20px 0 15px;
}  
.tab-menu h4 span{
    font-style: normal;
    text-transform: uppercase;	
	color: #FFF;
}

/*-- tab-menu--nav --*/
.tab-menu--nav > ul{
    display:inline-block;
    position: relative;
}
.tab-menu--nav li{
	display: inline-block;
    
    
    
	border-top: 1px solid #6e6264;
	padding: 0 10px;
	height: 30px;
}

.tab-menu--nav li > a{ 
    font-size: 15px;  
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    float:left;
    width: 230px;
    line-height: 37px;
}
.tab-menu--nav li > span{
    cursor: pointer;
    font-size: 15px;
    float: right;
    padding: 1px 3px;
    margin-top: 4px;

}

.tab-menu--nav > ul > li > ul{
    margin: 0 -10px;   
}
.tab-menu--nav > ul > li > .jq-close{
    display: none;
}
.tab-menu--nav > ul > li > .jq-open{
    display: block;
}
.tab-menu--nav li ul li a{
    padding-left: 40px;
    font-size: 13px;  
}


ul.list-menu li ul.sub-category{
    display: none;
    position: absolute;
    background: #534345;
    width: 100%;
    z-index: 1;
    top: 0;
    height: 100%;
    left: 10px;
}

.tab-menu--nav li .sub-menu-title{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    border-top: none!important;
    padding: 10px;
    height: 35px;
    position: relative;
    }
    
#tab-1 ul li {
    border-top: 1px solid #6e6264;
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
}

#tab-1 ul li > span{
    cursor: pointer;
    float: right;
    line-height: 37px;
}

.tab-menu--nav li .sub-menu-title .icon-minus{
    position: absolute;
    top: 1px;
    right: 10px;
}

.tab-menu--nav li .sub-menu-title .icon-minus:hover{
background-color: #624f51;
}

/*-- tab-menu--user --*/
.tab-menu--user .riga{
    margin:0 0 10px;
}
.tab-menu--user .riga input{
    display: block;
    width: 100%;
    padding: 15px;
    color: #fff;  
    font-family: lora, Georgia, serif;
    font-size: 20px;
    font-style: italic;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
}
.tab-menu--user a.pass-dimenticata{
    float: right;
    display: block;
    clear: both;
    margin: 0 0 10px;
    font-size: 11px;  
    color: #fff;
}
.tab-menu--user .foot{
    margin-top: 20px;    
    padding-top: 24px;
}
.tab-menu--user .foot p{
    font-size: 16px;
    font-style: italic;
    text-align: center;
}
.tab-menu--user .foot p a{
    text-transform: uppercase;
    font-style: normal;
}

/*-- tab-menu--user | logged --*/
.tab-menu--user .avatar{
    position: relative;
    display: block;
    overflow: hidden;
    width: 120px;
    height: 120px;
    margin: 0 auto;    
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
}
.tab-menu--user .avatar:after{
    content: "";
    position: absolute;
    left: -5px;
    top: -5px;
    display: block;
    overflow: hidden;
    width: 120px;
    height: 120px;
    margin: 0 auto;
    box-shadow: 8px 12px 0 rgba(0,0,0,.3) inset;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
}

.tab-menu--user .avatar img { 
    width: auto;
    height: 100%;
    min-width: 100%;
}

.logged_menu{
    margin-top: 20px;
    font-size: 16px;
}
.tab-menu .logged_menu li{
    float: left;
    width:50%;  
    padding: 0 1%;
    margin-bottom: 15px;    
}

.tab-menu .logged_menu li:before { 
    margin-right: 5px;
}

.tab-menu .logged_menu li:hover:before {
    -webkit-transition: all 200ms ease-in 0s; 
       -moz-transition: all 200ms ease-in 0s;
            transition: all 200ms ease-in 0s;    
}

/*-- tab-menu--social --*/
.tab-menu--social li{
    position: relative;
    height: 50px;
    line-height:20px;
    padding: 15px 20px;    
}

.tab-menu--social li .loghi-social{
    float: left;
    margin-right: 20px;
    font-size: 20px;  
}  
.tab-menu--social li a{
    display: block;
    text-decoration: none;
}

.tab-menu--social li .arrow{
    position: absolute;
    top: 0;
    right: 0;
    display:block;
    width: 20px;
    height: 50px;
    line-height: 50px;   
    text-align: center;
    font-size: 20px;
    opacity:0;
    filter: alpha(opacity = 0);
}
.tab-menu--social li:hover .arrow{
    opacity:1;
    filter: alpha(opacity = 100);
    color: #fff;
}

.tab-menu--social li .loghi-social.icon-tw2:hover{color:#55acee}
.tab-menu--social li .loghi-social.icon-fb3:hover{color:#3b5998}
.tab-menu--social li .loghi-social.icon-gp2:hover{color:#d4412c}
.tab-menu--social li .loghi-social.icon-rss:hover{color:#ff893a}
.tab-menu--social li .loghi-social.icon-rss:hover{color:#ff893a}
.tab-menu--social li .loghi-social.icon-pinterest:hover{color:#cb2027}
.tab-menu--social li .loghi-social.icon-youtube:hover{color:#ce261d}

/*-- tab-menu--network --*/
@media only screen and (max-width: 600px) {

	.header-wrap.normal .pulsantiera ul > li > .menu-network-pd, .header-wrap.slim .pulsantiera ul > li > .menu-network-pd{
  		right: -10px;
		background: #624f51;
	}

    .tab-menu--network{
        height: 90%;
		background: none;
		margin-left: 0px;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }
	
	
	
}

.tab-menu--network li{
    height: 54px!important; 
	padding: 0px;
}

.tab-menu--network li a{
    display: block;
    padding: 0;
    text-decoration: none;
    color: #918486!important;
	overflow: hidden;
}

.tab-menu--network li a:hover { 
    color: #fff;
}

.tab-menu--network li a div{
    position:relative;
    float: left;
    width: 100px;
    height: 34px;
    margin: 10px 20px 0 30px;    
    text-indent: -9999px;
}
.tab-menu--network .pianetadonna a div {background-position: 0 -170px;}
.tab-menu--network .pianetamamma a div{background-position: 0 -80px;}
.tab-menu--network .soluzionidicasa a div{background-position: -100px -80px;}
.tab-menu--network .girlpower a div{background-position: -200px -80px;}
.tab-menu--network .cookaround a div{background-position: -300px -80px;}
.tab-menu--network .mypersonaltrainer a div{background-position: -400px -80px;}
.tab-menu--network .invidia a div{background-position: -500px -80px;}
.tab-menu--network .ricetteperbambini a div{background-position: -600px -80px;}
.tab-menu--network .cliomakeup a div{background-position: -700px -80px;}

.tab-menu--network li a div span{
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height:100%;    
    opacity: 0;
    filter: alpha(opacity = 0);
}
.tab-menu--network .pianetadonna a div span{background-position: 0 -206px;}
.tab-menu--network .pianetamamma a div span{background-position: 0 -114px;}
.tab-menu--network .soluzionidicasa a div span{background-position: -100px -114px;}
.tab-menu--network .girlpower a div span{background-position: -200px -114px;}
.tab-menu--network .cookaround a div span{background-position: -300px -114px;}
.tab-menu--network .mypersonaltrainer a div span{background-position: -400px -114px;}
.tab-menu--network .invidia a div span{background-position: -500px -114px;}
.tab-menu--network .ricetteperbambini a div span{background-position: -600px -114px;}
.tab-menu--network .cliomakeup a div span{background-position: -700px -114px;}

.tab-menu--network li a:hover div span{    
    color:#fff;
    opacity: 1;
    filter: alpha(opacity = 100);
}

.tab-menu--network li a > span{
   float: left;
   display: block;
   max-width: 130px;
   font-size: 12px;
   padding-top: 14px;
   line-height: 1.2;
   font-weight: 400;
   text-transform: uppercase;
   text-decoration: none;
}

@media only screen and (min-width: 600px){
    .slim-nav{
        max-width: 320px;
        right: -30px;
    }
} 

@media only screen and (min-width: 1025px){
	.tab-menu{
		margin-left: 0;
	}
    .tab--menu-container > menu{
        display: none;
    }
    .slim-nav:before{
        right: 28px;
    }
    
}

/*------------------------------------*\
    $NAVIGAZIONE
\*------------------------------------*/
.main-nav-wrap{
    display:none;
}
/* .main-nav per desktop */
@media only screen and (min-width: 1025px){
    .main-nav-wrap{
        display:block;
    }
    .main-nav-wrap{
        position: relative;
        z-index: 1;
        height: 50px;       
    }

    .main-nav {
        height: 50px;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: bold;
    }
    .main-nav li{
        display: inline-block;
    }
    .main-nav li a{
        position: relative;
        display: block;
        height: 50px;
        margin: 0 10px;        
        text-decoration: none;
        line-height: 50px;
        color:#fff;
    }
    .main-nav li a.home{
        font-size: 20px;
		margin-left: 0;
    }
    .main-nav li a:hover:after,
    .main-nav li a.current:after{
        content:"";
        position: relative;
        bottom: 12px;
        display: block;
        width: 40%;
        margin: 0 auto;    
        border-bottom: 2px solid #fff;
    }
    .main-nav li a.home:hover:after{
        width: 100%;
    }
	
	.main-nav li a.current.home:after {
		width: 100%;
	}
	
    .main-nav li a.current:before{
        content:"\e80a";
        position: absolute;
        left: 0;
        top:-15px;
        display: block;
        width: 100%;
        text-align: center;
        font-family: "icone";
        font-size: 24px;       
        font-weight: normal;
        color: #fff;   
    }
}

@media only screen and (min-width: 1129px){
    .main-nav {        
        font-size: 15px;
    }   
}

/* //fine .main-nav per desktop */


/*------------------------------------*\
    NAVIGAZIONE ** $SUB-NAV
\*------------------------------------*/
.sub-nav-wrap{
    display:none;
}
/* .sub-nav per desktop */
@media only screen and (min-width: 1025px){

	.header-wrap .header .pulsantiera li.network-pd {
        border-left: 1px solid #eae4e6;
        padding-left: 15px;
        margin-left: 0px;
    }

	    .header .pulsantiera .network-pd > a,
    .header .pulsantiera .network-pd > a span{
        position: relative;
        display: block;       
    }
	
	.header-wrap.normal .header .pulsantiera .network-pd > a,
    .header-wrap.normal .header .pulsantiera .network-pd > a span { 
		width: 97px;
		height: 50px;		
	}
	
	.header-wrap.normal .header .pulsantiera .network-pd a:before {
		color: #c7afb5;
		font-size: 15px;
		position: absolute;
		right: 3px;
		top: 50%;
		font-weight: bold;
		height: 12px;
		line-height: 10px;
		overflow: hidden;
		margin-top: -4px;
	}
	
	.header-wrap.normal .header .pulsantiera .network-pd a:hover:before { 
		color: #614f51;
	}
	
    .header .pulsantiera .network-pd > a span{
        position: absolute;
        left: 0;
        top: 0;       
  		opacity: 0;
        filter: alpha(opacity = 0);
		text-indent: -9999px;
    }
	
	 .header .pulsantiera .network-pd a:hover span{
  		color: #fff;
    }  
    
    .sub-nav-wrap{
        display:block;        
    }
    .sub-nav-wrap{
        position: relative;
        z-index: 1;
        height: 41px;       
    }
    .sub-nav {
    	position: relative;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: bold;
    }
    .sub-nav li{
        display: inline-block;
    }
    .sub-nav li a{
        position: relative;
        display: block;
        height: 40px;
        margin: 0 13px;       
        text-decoration: none;
        line-height: 40px;
    } 
    .sub-nav li a.home{
        font-size: 20px;
    }
    .sub-nav li a:after{
        content:"";
        position: relative;
        bottom: 1px;
        display: block;
        width: 40%;
        margin: 0 auto;
    }
    

    .sub-nav .link-network{
        cursor: default;
        position:relative;
        height: 30px;
        line-height: 30px;
        vertical-align: top;
  		padding: 0 10px 0 33px;
        margin:5px 0 5px 20px;
        background: #d8c7cb;
        color: #fff;
        text-align: center;
        -webkit-border-radius: 3px 0 0 3px;
           -moz-border-radius: 3px 0 0 3px;
                border-radius: 3px 0 0 3px;
    }
    .sub-nav .link-network:before{
        position: absolute;
        right: -19px;
        top: 1px;
        display:block;
        color:  #d8c7cb;
        font-size: 20px;
    }
	.sub-nav .link-network span{
		display: block;
      	height: 30px;
    	font-size: 10px;
    }
    .sub-nav .link-network span:before{
  		position: absolute;
  		left: 10px;
	    font-size: 18px;
 		margin-right: 6px;
    }
    
    
}/* //fine .sub-nav per desktop */

/*------------------------------------*\
    $SIDEBAR
\*------------------------------------*/
.sidebar-block{
    margin-bottom: 30px;
}
 
.side-sponsored{
    position: relative;
}       
.side-sponsored > h2{
    font-size: 22px;
    font-style: italic;   
    text-align: center;
}
.side-sponsored > h2:before,
.side-sponsored > h2:after{
    content: "";
    position: absolute;;
    top: 15px;
    display: block;
    width: 28%;   
}
.side-sponsored > h2:after{
    right:0;
}
.side-sponsored article h1{
    font-size:22px;
    margin-bottom: 5px;
}
.side-sponsored article a{
    display: block;
    padding: 15px 0;   
    text-decoration: none;
}
.side-sponsored article figure{
    float: left;
    margin-right: 25px;
}

/*-- // .sidebar per desktop --*/
@media only screen and (min-width: 600px){
    .sidebar{
    width:300px ;
    display:block;
    }
}
@media only screen and (min-width: 1025px){
    .sidebar{
    width:360px ;
    display:block;
    }
}
@media only screen and (max-width: 1023px){
    .sidebar{display:none !important;}
}
/*------------------------------------*\
    $FOOTER 
\*------------------------------------*/
.footer-wrap{
    position: relative;
    z-index: 1; 
    background: #fff;
    border-top: 2px solid #fff;
}
.footer-wrap .footer{
    padding: 50px 0;      
}
.footer-wrap .footer .logo-pd{
    display: block;
    width: 115px;
    position: relative;
    margin: 0 auto;
}
.footer-wrap .footer .logo-pd span{
    position: absolute;
    left: -9999px;
}
.footer-wrap .footer .copy{
    padding: 5px 0 10px;
    font-size: 14px;
    text-align: center;   
}
.footer-wrap .footer .copy a{
    font-size: 12px;  
    text-decoration: underline;
}
.footer-wrap .footer .copy a:hover{
    text-decoration: none;
}  
.footer-wrap .footer .copy a.copy-link { 
    display: inline-block;
    padding-right: 7px;
    margin-right: 3px;
}
.footer-wrap .footer .logo-banzai{
    display: block;
    clear: both;
    width: 115px;
    margin: 20px auto 0;
}

/*--  .footer per tablet desktop --*/
@media only screen and (min-width: 600px){
    .footer-wrap{
        margin-top: 80px;
    }
}/*-- //fine .footer per tablet desktop --*/

/*--  .footer per desktop --*/
@media only screen and (min-width: 1025px){
    
    .footer-wrap .footer .logo-pd{
        float: left;
        margin-right: 30px;
    }
    .footer-wrap .footer .copy{
        float: left;
        padding: 20px 0 0;
        text-align: left;
        border: none;
    }
    .footer-wrap .footer .logo-banzai{
        position: fixed;
        bottom: 65px;
        right: 0px;
        height: 50px;
        width: 50px;
        cursor: pointer;
        z-index: 15000;
    }

    .footer-wrap .footer .logo-banzai img{
        position: absolute;
        top: 13px;
        right: 13px;
        max-width: inherit;
        -webkit-transform-origin: 95.5% 19.5%;
        -webkit-transform: rotate(-145deg);
        -moz-transform-origin: 95.5% 19.5%;
        -moz-transform: rotate(-145deg);
        transform-origin: 95.5% 19.5%;
        transform: rotate(-145deg);
        transition:all 300ms 300ms;      
        -moz-transition:all 300ms 300ms;       
        -webkit-transition:all 300ms 300ms;
    }

    .footer-wrap .footer .logo-banzai.gira img,
    .footer-wrap .footer .logo-banzai:hover img{
        -webkit-transform:rotate(0deg) scale(0.5, 0.5);
        -moz-transform:rotate(0deg) scale(0.5, 0.5);
        transform:rotate(0deg) scale(0.5, 0.5);
    }
}/*-- //fine .footer per desktop --*/
  
  
  
/*------------------------------------*\
    $ARTICOLO ANTEPRIMA 
\*------------------------------------*/
.articolo-anteprima{
    margin-bottom:30px;
}

.articolo-anteprima figure{
    position: relative;
    margin-bottom: 15px;
    width: 100%; 
}

.articolo-anteprima figure a.pic {
    display: block;
    overflow: hidden;
    max-height: 100%;
}

.articolo-anteprima figure a.pic img {
    width: 100%; 
    height: auto;
    display: block;
}

.articolo-anteprima figure .categoria {
    left: 0;
    bottom: 0;
}
.articolo-anteprima figure .gallery {
	position: absolute;
	right: 0;
	bottom: 0;
	line-height: 30px;
	font-size: 26px;	
	overflow: hidden;
	display: block;
	padding: 15px 20px;
	height: 60px;
    color: #fff;
	text-shadow: 1px 1px 3px rgba(0,0,0, 0.8);	
}
.articolo-anteprima figure .gallery span{
    display: inline-block;
    text-indent: -9999px;
}
.articolo-anteprima figure .gallery:before {
	float: right;
	display: block;
	padding-left: 10px;
	margin-left: 5px;
	line-height: 33px;
	width: 40px;
    border-left: 1px solid #fff;
}

.articolo-anteprima h2{
    margin:0 0 5px;
}

.articolo-anteprima .autore{
    display: block;
    margin: 0 0 15px;
    font-size: 14px;  
}

.articolo-anteprima .autore a:hover{
    text-decoration: underline;
}
.articolo-anteprima p a{   
  	text-transform: uppercase;
    font-size: 15px;
    font-weight: bold; 
    text-decoration: none;
    white-space: nowrap;
}

.articolo-anteprima p a:after{
    content: " \00bb"; /* " »" */   
    font-family: lora, Georgia, serif;
    font-size: 20px;
}

.articolo-anteprima p a:hover{
	text-decoration: underline;
}

/*  Primo piano wide-medium-normal nei canali */
.articolo-anteprima.art-pp-lista--big figure{
  width: auto;
  height: auto;
}
.articolo-anteprima.art-pp-lista--big figure img{
  display: block;
}
.articolo-anteprima.art-pp-lista--big .categoria{
  position: absolute;
}

/*------------------------------------*\
    $BLOCCO SLIDER
\*------------------------------------*/
.jq-slider{
    position: relative;
}
.blocco-slider{
    padding: 15px 0 0;
    position: relative;    
}

.blocco-slider--foto{
    padding-top: 0;
	padding-bottom: 20px;
}

.blocco-slider .container{
    padding: 0 30px;
}
.blocco-slider .container > h3,
.blocco-slider .container > h4{
    height: 45px;
    line-height: 45px;
    margin-bottom: 10px;
    text-align: center;   
    font-style: italic;
    font-size: 32px;
}
.blocco-slider .container > h3 > span,
.blocco-slider .container > h4 > span{
    position: relative;
    display: inline-block;
    margin: 0 auto ; 
    background:#fff;
}
.blocco-slider .container > h3 .name,
.blocco-slider .container > h4 .name{
	display: none;
}
.blocco-slider .item{
    position: relative;
    overflow: hidden;
}
.blocco-slider .item img{
    display: block;
    width: 100%;
}

.blocco-slider .item a{
    display: block;
    position: relative;
    max-height: 100%;
    color: #fff;   
    overflow:hidden;
}
.blocco-slider .item .level-hover{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    padding: 5%;
    padding-left: 40px;  
    transition: .3s opacity ease-in-out;
    background: rgba(255,255,255,0) /*bianco */ ;   
}

.blocco-slider .item .level-hover .zoom{
    position: relative;
    float: left;
    display: block;
    overflow: hidden;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-bottom: 13%;
    border: 2px solid #fff;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    background: rgba(0,0,0,.1);
    border: 2px solid #fff;     
    transition: .3s all ease-in-out;
}
.blocco-slider .item .level-hover .zoom:before{
    position: absolute;
    left: 10px;
    font-size: 18px;
    line-height: 36px;
}
.blocco-slider .item .level-hover .zoom span{
    position: absolute;
    right: 10px;
    top: 0;
    opacity: 0;
    filter: alpha(opacity = 0);
    transition: .3s all ease-in-out;
}
.blocco-slider .item:hover .level-hover .zoom{
    width:90px;
}
.blocco-slider .item:hover .level-hover .zoom span{
    opacity: 1;
    filter: alpha(opacity = 100);
}
.blocco-slider .item .level-hover .num{
    position: absolute;    
    right: 5%;
    display:block; 
    font-size: 26px;
    text-shadow: 1px 1px 0 rgba(0,0,0,.4); 
} 

.blocco-slider .item .level-hover .num b { 
    padding-right: 11px;
    margin-right: 5px;
    border-right: 1px solid #fff;
    font-weight: normal;
    display: none;
}

.blocco-slider .item .level-hover .num span {
    display: inline-block;
    font-size: 26px;
}

.blocco-slider .item .level-hover h2 {
    clear: both;
    font-weight: bold;    
    position: absolute;
    bottom: 10px;
    text-shadow: 1px 1px 0 rgba(0,0,0,.5);
    font-size: 22px;
    margin-right: 10px;
}
.arrow-left,
.arrow-right{
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -27px;
    z-index: 2;
    display: block;
    width: 30px;
    height: 55px;
    line-height: 55px;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
    color: #fff;  
}
.arrow-left{
    display: none;
}
.arrow-right{
    left: auto;
    right: 0;
}

.arrow-left:hover,
.arrow-right:hover{
    color: #fff;    
}  

.arrow-left span,
.arrow-right span{
    position: absolute;
    left: -9999px;
}
.blocco-slider .foot{
    padding: 20px 0;
    text-align: center;
}
.blocco-slider .guarda-tutte{
    font-size: 16px;
    font-weight: bold;
}

/* livello in trasparenza per slider foto e video */
.blocco-slider--video .item a:after,
.blocco-slider--foto .item a:after{
    content: "";
    position: absolute;
    top:0;
    left:0;
    display: block;
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(top, rgba(153,153,153,0) 0%, rgba(82,66,68,0.05) 60%, rgba(82,66,68,0.4) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(153,153,153,0)), color-stop(60%,rgba(82,66,68,0.05)), color-stop(100%,rgba(82,66,68,0.4))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(153,153,153,0) 0%,rgba(82,66,68,0.05) 60%,rgba(82,66,68,0.4) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(153,153,153,0) 0%,rgba(82,66,68,0.05) 60%,rgba(82,66,68,0.4) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(153,153,153,0) 0%,rgba(82,66,68,0.05) 60%,rgba(82,66,68,0.4) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(153,153,153,0) 0%,rgba(82,66,68,0.05) 60%,rgba(82,66,68,0.4) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00999999', endColorstr='#66524244',GradientType=0 ); /* IE6-9 */
}
        
        
/*-- .blocco-slider per tablet e desktop --*/
@media only screen and (min-width: 600px) { 
  	.blocco-slider--foto{
        padding-top: 0;
        padding-bottom: 0;
    }
    .blocco-slider .container > h3,
    .blocco-slider .container > h4{     
        height: 64px;
        line-height: 64px;     
        font-size: 32px;
    }
    .blocco-slider .container > h3 > span,
    .blocco-slider .container > h4 > span{
        top: -36px;
        padding: 0 60px;
    }
    .arrow-left,
    .arrow-right{
        margin-top: -52px;
        width: 60px;
        height: 105px;
        line-height: 105px;
        font-size: 60px;
    }
    .arrow-left{
        display: block;
    }
    .blocco-slider .item .level-hover{
        padding-left: 5%;
    }
    .blocco-slider .item .level-hover h2{
        bottom: 20px;
        font-size: 28px;
        margin-right: 0;
    }
    
    .blocco-slider .item .level-hover .num b { 
        display: inline-block;
    }
    
    .blocco-slider .foot{
        padding: 35px 0;    
    }    

}/*-- //fine .blocco-slider per tablet e desktop --*/

/*-- .blocco-slider per desktop --*/
@media only screen and (min-width: 1024px) { 
    .blocco-slider .container > h3,
    .blocco-slider .container > h4{          
        font-size: 36px;
    }
    .blocco-slider .container > h3 .name,
    .blocco-slider .container > h4 .name{
        display: block;
        float: right;
        display: block;
        height: 64px;
        padding: 5px 0 0 20px;
        margin-top: 0;
        margin-left: 10px;
        border-top: none;   
        text-align:left;
        text-transform: uppercase;
        font-style: normal;
        font-size: 26px;
        line-height: 1;
    }  
    .blocco-slider .item .level-hover h2 {
        bottom: 30px;
        font-size: 33px;
    }
}


/*------------------------------------*\
    BLOCCO SLIDER ** $FOTO
\*------------------------------------*/ 

.blocco-slider--foto .swiper-wrapper {
    left: -35px; 
} 
.blocco-slider--foto .jq-slider {
    position: relative;
    max-width: 1600px;
    margin:0 auto;
}
.blocco-slider--foto .item{
    width: 500px;
}
.blocco-slider--foto .item a{
    margin:0 5px;      
}

/*-- .blocco-slider--foto per tablet e desktop --*/
@media only screen and (min-width: 600px) { 
     .blocco-slider--foto .swiper-wrapper{
        left: 0;
    } 
    .blocco-slider--foto .swiper-wrapper{
        left: -25%; /* "taglia" il primo e l'ultimo elemento */
    }
    .blocco-slider--foto .arrow-left,
    .blocco-slider--foto .arrow-right{
        width: 60px;
    }
    .blocco-slider--foto .arrow-right{
        left: inherit;
    } 
}/*-- //fine .blocco-slider--foto per tablet e desktop --*/   

/*-- .blocco-slider--foto per desktop sopra i 1200px--*/
@media only screen and (min-width: 1200px) { 
    .blocco-slider--foto .swiper-wrapper{
        left: -16.66%; /* "taglia" il primo e l'ultimo elemento */
    }
}/*-- //fine .blocco-slider--foto per desktop sopra i 1200px--*/
    
/*-- per desktop da 1640 in su--*/
/*-- mostra i bordi sui pulsanti di navigazione sono da 1640 in su per evitare che ci sia lo scroll orizzontale --*/
@media only screen and (min-width: 1640px){ 
    .blocco-slider--foto .arrow-left:after,
    .blocco-slider--foto .arrow-right:after{
        content: "";
        position: absolute;
        right: 0;
        top:0;
        display: block;
        width: 20px;
        height: 105px;
        left: -20px;
    }
    .blocco-slider--foto .arrow-right:after{
        left: inherit;
        right: -20px;
    }
} 
    
    


/*------------------------------------*\
    BLOCCO SLIDER ** $VIDEO
\*------------------------------------*/
.blocco-slider--video .swiper-wrapper{
    left: -35px;
} 
.blocco-slider--video menu{
    display: none;
}


.blocco-slider--video .item{
    width: 560px;
}
.blocco-slider--video .item a{
    margin:0 5px;  
    
}
.blocco-slider--video .item img{
    width: 100%;
}
.blocco-slider--video .item:hover .level-hover .zoom{
    width:130px;
}

/*-- .blocco-slider--video per tablet e desktop --*/
@media only screen and (min-width: 600px) { 
      .blocco-slider--video{
        padding-top: 45px;
    }
    .blocco-slider--video .swiper-wrapper{
       left: -25%;  /* "taglia" il primo e l'ultimo elemento */
    }
    .blocco-slider--video menu{
        display: block;
        margin-bottom: 50px;
        text-align: center;
        font-size: 15px;
    }
    .blocco-slider--video menu li{
        display: inline-block;
        margin: 0 15px;
    }
    .blocco-slider--video menu a{
        font-weight: bold;
        text-transform: uppercase;       
    }
    .blocco-slider--video menu a:hover{
        text-decoration: underline;
    }
}/*-- //fine .blocco-slider--video per tablet e desktop --*/ 

/*-- .blocco-slider--video per e desktop --*/
@media only screen and (min-width: 1200px) { 
    .blocco-slider--video{
        padding-top: 75px;
    }
}/*-- //fine .blocco-slider--video per e desktop --*/

/*-- .blocco-slider--video per desktop sopra i 1200px--*/
@media only screen and (min-width: 1200px) { 
    .blocco-slider--video .swiper-wrapper{
       left: -16.66%; /* "taglia" il primo e l'ultimo elemento */
    }
}/*-- //fine .blocco-slider--video per desktop sopra i 1200px--*/

@media only screen and (min-width: 1024px) and (max-width: 1439px){ 
    .blocco-slider--video .item .level-hover h2 {
        font-size: 28px; 
    }
}   


/*-- .blocco-social small per desktop --*/
@media only screen and (min-width: 1024px) {  
    .social-small {
        float: right;
    	display: block;	
    	height: 30px;
    	margin: 15px 30px;
    }
    
    .social-small a {    	
    	text-decoration: none !important;
    	font-size: 20px;
    	margin-right: 10px; 
    }
    
    .social-small a:last-child {
        margin-right: 0; 
    }
    
    .social-small a:hover {     
    	-webkit-transition: all 100ms ease-in 0s;
    	   -moz-transition: all 100ms ease-in 0s;
    			transition: all 100ms ease-in 0s;
    }
    
    .social-small .commenti {
        	position: relative; 
    }
    	
    .social-small .commenti span {   
    	position: absolute;
    	top: 4px;
    	font-size: 10px;
    	display: block;
    	overflow: hidden;
    	right: 0;
    	text-align: center;
    	width: 100%;
        color: #fff;    
    }
     
    .social-small .commenti-baloon a{ 
        display: inline-block;        
        margin: 3px 0 0;
        padding: 3px 7px;   
        position: relative;    
        line-height: 11px;
        vertical-align: top;
    }
    
    .social-small .commenti-baloon a:after { 
    	content: '';
    	width: 0;
    	height: 0;    	
    	position: absolute;
    	bottom: -4px;
    	left: 0;        
        border-right: 4px solid transparent;
    }
    
    .social-small .commenti-baloon a {      
        font-weight: normal;
        font-size: 10px;
        margin: 0;
        color: #fff;  
    }
    
    .social-small .commenti-baloon a:hover {  
        color: #fff;
        -webkit-transition: all 200ms ease-in 0s;
           -moz-transition: all 200ms ease-in 0s;
                transition: all 200ms ease-in 0s;
    }
    
    .social-small .commenti-baloon a:hover:after {         
        -webkit-transition: all 200ms ease-in 0s;
           -moz-transition: all 200ms ease-in 0s;
                transition: all 200ms ease-in 0s;
    }
}/*-- //fine .blocco-social small per desktop --*/


/*-- .blocco-social big per desktop --*/
@media only screen and (min-width: 1024px) {  
    .social-big { 
    	display:block; 
		overflow: hidden; 	
		padding-top: 20px; 
        padding-bottom: 15px; 
	}
	
	.social-big span { 
		font-size: 12px;	
		text-transform: uppercase;
		float: left;
		letter-spacing: 1px;
		margin: 15px 30px 0 ;
	}
	
	.social-big a {		
		text-decoration: none !important;
		font-size: 35px;
		float: left;
		margin-right: 30px; 
        -webkit-transition: all 100ms ease-in 0s;
           -moz-transition: all 100ms ease-in 0s;
                transition: all 100ms ease-in 0s;
	}
		
	.social-big .puls_stampa,
	.social-big .puls_forum { 
		float: right;
	}
	.social-big .puls_stampa span,
	.social-bigg .puls_forum span { 
		margin: 22px 10px 0 20px;
	}
			
	.social-big .commenti-btn {    
		height: 35px;
		line-height: 35px;
		padding: 0 15px 0 10px;	
		margin: 5px 0 0;        
        text-shadow: none;
	}
	
	.social-big .commenti-btn b { 
		display: block;	
		float: left;
		height: 21px;
		margin: 7px 10px 0 0;
		padding: 0 ;		
		border-radius: 2px;		
		position:relative;
        background: #fff;
	}
    
    .social-big .commenti-btn b a { 
        font-size: 16px;
        line-height: 21px;
        margin: 0;  
        padding: 0 7px;    	
    }
	
	.social-big .commenti-btn b:after {
		content: '';
		width: 0;
		height: 0;
		border-top: 8px solid #fff;
		border-right: 10px solid transparent;
		position: absolute;
		bottom: -6px;
		left: 0;
	}
	
	.social-big .commenti-btn:hover { 
		text-decoration: underline !important;
	}    
    
    .social-big .commenti-btn a.handleDisqus {   
        font-size: 12px; 
        color: #fff !important;
    	text-transform: uppercase;
        margin: 0;
        cursor: pointer;
    }
	
	.social-big .puls_stampa,
	.social-big .puls_forum { 
		float: right;
	}
    
	.social-big .puls_stampa span,
	.social-big .puls_forum span { 
		margin: 22px 10px 0 20px;
	}			
	
}/*-- //fine blocco-social big per desktop --*/


/*------------------------------------*\
    $BLOCCO NETWORK
\*------------------------------------*/
.blocco-network{
    display:none;
}

/*-- .blocco-network per tablet da 800px a 1023px --*/
@media only screen and (min-width: 800px) {  
    .blocco-network{
        display: block;
        position: relative;
        background: url("http://static.stbm.it/Share/images/bkg-gallery.gif") center top repeat-y;
    }
    .blocco-network .container > h4{
        position: relative;
        max-width: 800px;
        padding-top: 30px;
        margin:0 auto 50px;
        border-top: 1px solid #ddd2d6;
        font-style: italic;
        text-align: center;
        color: #bfaeb3;
    }
    .blocco-network .container > h4 span{
        display: block;
        clear:both;
        text-transform: uppercase;
        font-style: normal;
    }
    .blocco-network .container > h4:before{
        position: absolute;
        top: -20px;
        left: 50%;
        margin-left: -40px;
        display: block;
        width: 80px;
        height: 40px;
        line-height: 40px;
        background: #fff;
        font-size: 32px;
        text-align: center;
        color: #dfd6d9;
    }
    .blocco-network li{
        float: left;
        display: block;
        /*width: 14.28571428%;*/
        /*width: 16.66666666666667%;*/
        width: 20%;
    }
    
    .blocco-network li a{
        display: block;
        padding: 25px 0;
        text-align: center;
        transition: all .3s ease-in-out;
    }
    
    .blocco-network .pianeta-donna a {background:rgb(204, 20, 57);}
    .blocco-network .pianeta-mamma a {background:rgb(32, 188, 216);}
    .blocco-network .ricette-per-bambini a {background:rgb(93, 196, 240);}
    .blocco-network .cookaround a {background:rgb(231, 81, 72);}
    .blocco-network .invidia a {background:rgb(230, 30, 120);}
    .blocco-network .girlpower a {background:rgb(236, 71, 140);}
    .blocco-network .hidden {display:none;}
    
    .blocco-network li h5{
        width: 90px;
        height: 70px;
        margin: 0 auto;
        text-indent: -9999px;
        background: url("http://static.stbm.it/Share/images/sprite-network.png") 0 0 no-repeat;
        background-size: 150px;
    }
    
    .blocco-network .pianeta-donna h5 {background-position: center -498px;}
    .blocco-network .pianeta-mamma h5 {background-position: center -388px;}    
    .blocco-network .ricette-per-bambini h5 {background-position: center -10px;}
    .blocco-network .cookaround h5 {background-position: center -193px;}
    .blocco-network .invidia h5 {background-position: center -285px;}
    .blocco-network .girlpower h5 {background-position: center -598px;}
    
    .blocco-network li h6{
      		display: none;
    }
    
}/*-- //fine .blocco-network per tablet da 800px a 1023px --*/

/*-- .blocco-network da 1024px a 1279px --*/
@media only screen and (min-width: 1024px) {
    .blocco-network li h5{
        width: 110px;
        height: 90px;
        background-size: 193px;
    }
    
    .blocco-network .pianeta-donna h5 {background-position: center -638px;}
    .blocco-network .pianeta-mamma h5{background-position: center -498px;}
    .blocco-network .ricette-per-bambini h5{background-position: center -12px;}
    .blocco-network .cookaround h5{background-position: center -247px;}
    .blocco-network .invidia h5{background-position: center -366px;}
    .blocco-network .girlpower h5 {background-position: center -768px;} 
    
}/*-- //fine .blocco-network da 1024px a 1279px --*/


/*-- .blocco-network da 1280px --*/
@media only screen and (min-width: 1280px) {
    .blocco-network li a{
        height: 310px;
        padding: 40px 0 30px;
    }
    .blocco-network li h5{
        width: 174px;
        height: 115px;
        margin: 0 auto 20px;
        background-size: auto;
    }
    
    .blocco-network .pianeta-donna h5 {background-position: center -998px;}
    .blocco-network .pianeta-mamma h5{background-position: center -778px;}
    .blocco-network .ricette-per-bambini h5{background-position: center -20px;}
    .blocco-network .cookaround h5{background-position: center -390px;}
    .blocco-network .invidia h5{background-position: center -570px;}
    .blocco-network .girlpower h5 {background-position: center -1198px;}
        

    .blocco-network li h6{
        display: block;
      	min-height:55px;
        color: #fff;
        font-size: 13px;
        font-weight: bold;
        text-transform: uppercase;       
    }
    .blocco-network li h6:before{
        content: "";
        display: block;
        width: 80%;
        max-width: 168px;
        height: 10px;
        margin: 0 auto 30px;
        background: url("http://static.stbm.it/Share/images/sprite-network.png") no-repeat center -10px;
    }
}
/*-- //fine .blocco-network da 1280px --*/



/*------------------------------------*\
    $INFO E CONTATTI
\*------------------------------------*/          

.page-info a:hover { 
    text-decoration: underline;
}
.page-info p { 
    font-size: 18px;
}

.page-info hr {
    border-width:1px 0 0;
    margin:30px 0;
}

.page-info div.address {
    clear:both;
    overflow:hidden;
    padding:20px 10px;
    margin:0 auto;
}

.page-info div.address img {
    margin:0 auto 15px; 
    width: 120px; 
    display: block;
}

.page-info div.address div {
    margin: 0 0 10px;
    padding: 10px 0 0;
    display: block;
}

.page-info div.address .sede-operativa { 
    margin: 0;
}

.page-info div.address b {
    font-size:1.2em;
}

.page-info ul {
    padding:10px 0;
    clear:both;
    overflow:hidden;
}

.page-info ul li {
    overflow:hidden;
    position:relative;
    margin-bottom: 30px;
}

.page-info ul li div.staff-img {
    width:80px;
    height:80px;
    float:left;
    margin-right:10px;
    overflow:hidden;
}

.page-info ul li div.staff-img img {
    width:100%;
    border-radius: 50%;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: gray;
}
  
.page-info ul li div.staff-contatti { 
    overflow: hidden;
}

.page-info ul li b {
    font-size: 18px;
}

.page-info ul div.staff-img img:hover {  
     -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: none;
    -webkit-transition:all 0.3s ease-in 0s; 
    -moz-transition:all 0.3s ease-in 0s; 
    -o-transition:all 0.3s ease-in 0s; 
    transition:all 0.3s ease-in 0s;
}

.page-info a.fb {
    background:#4a66b7;
    color:#fff;
}

.page-info a.fb:hover {
    text-decoration:none;
    background:#3d57a3;
} 
  
@media only screen and (min-width: 768px) {
    .page-info div.address div { 
      float: left; 
      margin: 0 0 0 10px;
      padding: 0 0 0 10px;      
    }
    
    .page-info div.address img {
       float:left;
       margin:12px 20px 0;
    }
    
    .page-info ul li {
        float:left;
        width:50%;
        margin-bottom: 30px;

    }
    
    .page-info ul li div.staff-img {
        width: 120px; 
        height: 120px;
    }
}    
  
@media only screen and (min-width: 1024px) {
    .page-info div.address {
      width:80%;
    }
    
    .page-info div.address div { 
        margin-right: 20px; 
        padding-left: 20px; 
    }
}    

/*------------------------------------*\
    $SITEMAP
\*------------------------------------*/  
.sitemap ul li{
    font-size: 14px;
    margin: 0 0 10px;
    list-style: inside disc;
    color: #624f51;

}
.sitemap ul li a{
    font-size: 16px;
}
.sitemap ul li a:hover{
	text-decoration: underline;
}

@media only screen and (min-width: 600px) {
    .sitemap ul li{
        float: left;
        width: 50%;
    }
    .sitemap--category ul li{
  	float: none;
        width: 100%;
      }
}
@media only screen and (min-width: 1024px) {
  .sitemap ul{
  		margin-left: 30px;	
  }
}

/*------------------------------------*\
    $ADV-LEADERBOAR-TOP
    su smartphone in 'position:fixed' in basso
\*------------------------------------*/
@media only screen and (max-width: 420px) { 
    .adv-leaderboard-top {
		position: fixed;
		z-index:9995;
		bottom: 0;
		display: block !important;
		width: 100%;
		padding: 0;
		margin:0;
		background:#fff;
		box-shadow: 0 -2px 2px  rgba(0,0,0,.4);
	}
}

/*------------------------------------*\
    $ADV-300x250 e 300x100 in responsive
\*------------------------------------*/
@media only screen and (max-width: 1023px) {
    .adv-responsive-box{overflow:hidden; margin-bottom: 20px;}
	.adv-responsive-box .adv300x250-responsive{float:left; margin:0 20px 0 0;}
	.adv-responsive-box .adv300x100-responsive{float:left; width: 300px; max-width: 320px;}
}
@media only screen and (max-width: 601px) {
	.adv-responsive-box{overflow:hidden;}
	.adv-responsive-box .adv300x250-responsive{float:none; margin:0 auto 20px;}
	.adv-responsive-box .adv300x100-responsive{float:none; width: 300px; margin:0 auto;}
	.adv-responsive-box .adv300x100-responsive h1{font-size: 18px;}
}

/*------------------------------------*\
    $DA VEDERE 
\*------------------------------------*/

.adv300{
    padding:0px;  
}
 
.adv300 img{
    display: block;
    margin: 0 auto;
}

@media only screen and (min-width: 1025px) {
    .adv300{
        padding: 30px;
	}
}