/*-------------------------------------------*\
    $HOMEPAGE
\*-------------------------------------------*/
/**
 * CSS generale
 * ....................
 * PRIMO PIANO COVER... primo piano cover
 * PP WIDE-MEDIUM...... primo piano wide-medium
 * BOX ASIDE........... blocchi 'custom-list' network, quiz e blog
 * .. NETWORK .........
 * .. QUIZ ............
 * .. BLOG ............
 **/

/* voce menù 'home' selezionata */
@media only screen and (min-width: 1025px){
    
    body.body-home{ 
        padding-top:70px;
    }
    .header-wrap{
        position:fixed;
    }
    
    .main-nav li a.home:after{
        content:"";
		position: relative;
		bottom: 12px;
		display: block;
		width: 40%;
		margin: 0 auto;    
		border-bottom: 2px solid #fff;
	}
	.main-nav li a.home:after{
		width: 100%;
	}
}


.wrapper{
    z-index: 10;
}

.blocco-home{
    padding-top: 20px;
    padding-bottom: 20px;
    background: #fff;
}

@media only screen and (min-width: 600px){    
    .blocco-home{
        padding-top: 48px;
        padding-bottom: 48px;
    }
}

/*------------------------------------*\
    $PRIMO PIANO COVER 
\*------------------------------------*/
.pp-cover-wrapper{
    height: 334px;
    overflow: hidden;
    background-color: #fcf7f9;
}
.pp-cover-wrapper .pp-cover a{
    position: relative;
    display: block;
    height: 334px;
}
.pp-cover-wrapper .pp-cover img{
    position: absolute;
    left: 50%;
    margin-left: -400px;
    width: auto;
    max-width:inherit;
    height: 334px;
}
.pp-cover-wrapper .pp-cover header{
    position: absolute;
    z-index:2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 190px 15px 0;
    color: #fff;
}
.pp-cover-wrapper .pp-cover .categoria{
    top: 140px;
    left: 15px;
}
.pp-cover-wrapper .pp-cover h2{
    font-size: 30px;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0,0,0,.2);
    color: #fff;
}
.pp-cover-wrapper .pp-cover .autore{
    display: block;
    margin-bottom: 8px;
    font-style: italic;
}
.pp-cover-wrapper .pp-cover .strong{
    font-style: normal;
    font-weight: bold;
}

.pp-cover-wrapper article a:before,
.pp-cover-wrapper article a:after,
.pp-wide-medium a:before,
.pp-wide-medium a:after{    
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left:0;
    display: block;
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(45deg, rgba(82,66,68,0.25) 0%, rgba(255,255,255,0) 75%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(82,66,68,0.25)), color-stop(75%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg, rgba(82,66,68,0.25) 0%,rgba(255,255,255,0) 75%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg, rgba(82,66,68,0.25) 0%,rgba(255,255,255,0) 75%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg, rgba(82,66,68,0.25) 0%,rgba(255,255,255,0) 75%); /* IE10+ */
    background: linear-gradient(45deg, rgba(82,66,68,0.25) 0%,rgba(255,255,255,0) 75%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40524244', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.pp-cover-wrapper article a:after,
.pp-wide-medium a:after{
    background: -moz-linear-gradient(45deg, rgba(204,20,57,0.25) 0%, rgba(255,255,255,0) 75%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(204,20,57,0.25)), color-stop(75%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg, rgba(204,20,57,0.25) 0%,rgba(255,255,255,0) 75%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg, rgba(204,20,57,0.25) 0%,rgba(255,255,255,0) 75%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg, rgba(204,20,57,0.25) 0%,rgba(255,255,255,0) 75%); /* IE10+ */
    background: linear-gradient(45deg, rgba(204,20,57,0.25) 0%,rgba(255,255,255,0) 75%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40cc1439', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/* .pp-cover per tablet e desktop */
@media only screen and (min-width: 600px){
    .pp-cover-wrapper,  
    .pp-cover-wrapper .pp-cover a{
        height: 450px;
    }
    .pp-cover-wrapper .pp-cover header{
        padding: 300px 25px 0;

    }
    .pp-cover-wrapper .pp-cover .categoria{
        top: 230px;
        left: 25px;
    }
    .pp-cover-wrapper .pp-cover h2{
        font-size: 40px;
    }
    .pp-cover-wrapper .pp-cover .autore{
        display: block;
        margin-bottom: 15px;
        font-style: italic;
}
    .pp-cover-wrapper .pp-cover img{
        margin-left: -540px;
        height: 450px;
    }    
}/* //fine .pp-cover per tablet e desktop */


/* .pp-cover per desktop */
@media only screen and (min-width: 1025px){
    /*.main-nav-with-cover .main-nav-wrap{
        margin-top: 600px;
    }*/
    .pp-cover-wrapper{
        position: fixed;
        z-index: 0;
        top: 50px;
        left: 0;
        width: 100%;
        height: 666px;
        padding: 0;
    }
    .pp-cover-wrapper,  
    .pp-cover-wrapper .pp-cover a{
        height: 666px;
    } 
    .pp-cover-wrapper .pp-cover{
        width: 1600px;
        max-width: 100%;
        margin: 0 auto;
    }
    .pp-cover-wrapper .pp-cover a{
        display: block;
        width: 1600px;
        max-width: 100%;
        height: 666px;
        margin: 0 auto;
        text-decoration: none;
        background: #000;
    }
    .pp-cover-wrapper .pp-cover img{
        position: fixed;
        display: block;
        width: 1600px;
        max-width: 1600px;    
        height: 666px;
        margin-left: -800px;
        opacity: .9;
    }

    .pp-cover-wrapper .pp-cover a header{
        position: relative;
        z-index: 2;
        left: 0;
        top: 0;
        max-width: 1200px;
        height: 100%;
        padding: 280px 30px 0;
        margin: 0 auto;    
    }
    .pp-cover-wrapper .pp-cover a hgroup{
        width: 50%;
        transition: .3s background ease-in-out;
    }
    .pp-cover-wrapper .pp-cover a:hover hgroup{
        background: rgba(204,20,57,.7);   
    }
    .pp-cover-wrapper .pp-cover h2{
        padding: 8px 30px 30px;
        color: #fff;
        font-size: 55px;    
        font-weight: bold;
        text-shadow: 1px 1px 2px rgba(0,0,0,.3);
    }
    .pp-cover-wrapper .pp-cover .categoria{
        left:40px;
        top: 0;
    }

    .pp-cover-wrapper article .autore{
        display: block;
        width: 100%;
        padding: 8px 30px;
        margin-bottom: 0;
        border-bottom: 1px solid rgba(255,255,255,.5);
        color: #fff;
        text-shadow: 1px 1px 2px rgba(0,0,0,.3);
        font-size: 14px;
        font-style: italic;
    }
    .pp-cover-wrapper article .autore strong{
        font-style: normal;
    }
}/* //fine .pp-cover per desktop */

@media only screen and (min-width: 1025px){
    .pp-cover-wrapper{
        top: 70px;
    }
}
  
  
/*------------------------------------*\
    $PRIMO PIANO WIDE-MEDIUM 
\*------------------------------------*/ 
.pp-wide-medium{
    height: 325px;
    margin: -20px -10px 20px;
}
.pp-wide-medium a{
    position: relative;
    display: block;
    height: 325px;
    overflow: hidden;
}
.pp-wide-medium img{
    position: absolute;
    left: 50%;
    margin-left: -364px;
    width:auto;
    max-width:inherit;
    height: 325px;
}
.pp-wide-medium header{
    position: absolute;
    z-index:2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 190px 15px 0;
    color: #fff;
}
.pp-wide-medium .categoria{
    top: 140px;
    left: 15px;
}
.pp-wide-medium h1{
    font-size: 30px;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0,0,0,.2);
    color: #fff;
}
.pp-wide-medium .autore{
    display: block;
    margin-bottom: 8px;
    font-style: italic;
}
.pp-wide-medium .strong{
    font-style: normal;
    font-weight: bold;
}
/* .pp-wide-medium per tablet e desktop */
@media only screen and (min-width: 600px){
    .pp-wide-medium{
        width: 100%;
        height: auto;
        position: relative;
        margin: 0 0 50px;
    }
    .pp-wide-medium a{
        display: block;
        width: 100%;
        height: auto;
        color: #fff;
    } 
    .pp-wide-medium img{
        position: static;
        display: block;
        width: 100%;
        height: auto;
        margin: 0;
    }
    .pp-wide-medium .categoria{
        top: 90px;    
    }
    .pp-wide-medium header{
        position: absolute;
        left: 0;
          top: auto;
        bottom: 0;
        z-index: 2;
        width: 100%;
          height: auto;
        padding: 0 40px 20px;
    }
    .pp-wide-medium header .categoria{
      	left: -20px;
		top: -20px;
		position: relative;
		display: inline-block;
    }
    .pp-wide-medium header .autore{
        display: block;
        margin-bottom: 10px;
        text-shadow: 1px 1px 1px rgba(0,0,0,.3);
    }
    .pp-wide-medium a:hover .autore{color: #fff;}
    .pp-wide-medium header h2{
        color: #fff;
        font-size: 50px;
        font-weight: bold;
        text-shadow: 1px 1px 1px rgba(0,0,0,.3);
    }
}
/* //fine .pp-wide-medium per tablet e desktop */
  
/*------------------------------------*\
    $BOX ASIDE
\*------------------------------------*/
.box-aside{
    position: relative;
    padding: 40px 15px 0;
    margin: 0 -10px;
    background: #fcf7f9;
    border-top: 1px solid #e9e1e4;
}
.box-aside > h3{
    position: relative;
    margin-bottom: 60px;
    color: #bfaeb3;
    text-align: center;
    font-style: italic;
}
.box-aside > h3 span{
    font-style: normal;
    text-transform: uppercase;
}
.box-aside > h3:after{
    content: "";
    position: absolute;
    left: 50%;
    bottom: -30px;
    margin-left: -38px;
    display: block;
    width: 77px;
    height: 9px;
    background:url("http://static.stbm.it/Share/images/sprites.png") no-repeat 0 -70px;
}

.box-aside article h2 a{
	color: #624f51;
}

/*-- .box-aside per tablet e desktop --*/
@media only screen and (min-width: 601px) { 
    .box-aside{
        padding: 40px 15px 0;
        margin: 0;
    }
    .box-aside article .title3{
    	font-size: 30px;
    }
    .box-aside article > figure,
    .box-aside article > .pic{
          	margin-left: 45px;
        margin-right: 45px;
    }
    .box-aside--quiz .item-quiz{
        margin:0 45px 50px;
    }
    .box-aside--quiz .item-quiz .pic{
        margin:0;
    }
}/*-- //fine .box-aside per tablet e desktop --*/

/*------------------------------------*\
    BOX ASIDE ** $NETWORK
\*------------------------------------*/
.box-aside--network{
    padding-top:50px; 
}
.box-aside--network:before{
    position: absolute;
    left: 50%;
    top: -50px;
    margin-left: -35px;
    display: block;
    width: 64px;
    height: 70px;
    line-height: 75px;
    background: url("http://static.stbm.it/Share/images/sprites.png") no-repeat -200px 48px;
    color: #e5dfe1;
    font-size: 40px;
    text-align: center;
    cursor: default;
}
.box-aside--network article{
    margin-bottom: 60px;
}
.box-aside--network article h2{
    text-align: center;
}
.box-aside--network article figure{
    margin-bottom: 30px;
}
.box-aside--network article figure a{
    position: relative;
    display: block;
}
.box-aside--network article figure a img{
    display: block;
    margin: 0 auto;
}
.box-aside--network article a .categoria{
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-left: -70px;
}
.box-aside--network article p{
    margin-bottom: 10px;
    font-size: 16px;
    text-align: center;
}
.box-aside--network article p a:hover{
    text-decoration: underline;
}
.box-aside--network .pianetamamma p a{
    color: #1188bb;
}
.box-aside--network .girlpower p a{
    color: #cc33cc;
}
.box-aside--network .cookaround p a,
.box-aside--network .speciali-cookaround  p a{
    color: #fe8b27;
}
.box-aside--network .my-personaltrainer p a{
    color: #1188bb;
}
.box-aside--network .soluzionidicasa p a{
    color: #e45340;
}
.box-aside--network .cliomakeup p a{
    color: #ff00a9;
}
.box-aside--network .invidia-pianetadonna p a{
    color: #ec1172;
}
.box-aside--network .ricette-per-bambini-pianetamamma p a{
    color: #5dc4f0;
}
.box-aside--network .lezpop p a{
    color: #f34ca5;
}

@media only screen and (max-width: 600px){
    .box-aside--network article{
        margin-bottom:40px;
    }
}


/*------------------------------------*\
    BOX ASIDE ** $QUIZ
\*------------------------------------*/
.box-aside--quiz .item-quiz{
    margin-bottom: 50px;
    background: #cc1439; 
}
.box-aside--quiz .item-quiz a{
    color: #fff;
}
.box-aside--quiz .item-quiz .pic{
    position: relative;
    display: block;    
    overflow: hidden;
    max-height: 156px;
}
.box-aside--quiz .item-quiz .pic img{
    display: block;
}
.box-aside--quiz .item-quiz .pic:before{
    position: absolute;
    bottom: -9px;
    width: 100%;
    font-size: 30px;
    color: #cc1349;
}
.box-aside--quiz .item-quiz hgroup{
    padding: 20px;
}
.box-aside--quiz .item-quiz h2{
    margin-bottom: 20px;
}
.box-aside--quiz .item-quiz p{
    margin-bottom: 15px;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
}
.box-aside--quiz .item-quiz h2 a:hover,
.box-aside--quiz .item-quiz p a:hover{
    text-decoration: underline;
    color: #fff;
}
/* rivedere questo pezzo relativo ai bottoni, forse si sovrascrive troppa roba */
.box-aside--quiz .item-quiz .btn{
    padding: 8px 35px 8px 8px;
    font-weight: bold;
    border: 1px solid #fff;
    font-size: 13px;
}
.box-aside--quiz .item-quiz .btn:after{
    top: -1px;
    right: 10px;
}

/*------------------------------------*\
    BOX ASIDE ** $BLOG
\*------------------------------------*/
.box-aside--blog{
    text-align: center;
}
.box-aside--blog .item-blog .pic{
    display: block;
    overflow: hidden;
    max-height: 156px;
    margin-bottom: 20px;
}
.box-aside--blog .item-blog p{
    margin-bottom: 15px;
    font-size: 16px;
}
.box-aside--blog .item-blog p a{ 
    color: #d76071;
}
.box-aside--blog .item-blog p a:hover{
    text-decoration:underline;
}
.box-aside--blog .item-blog{
    margin-bottom: 60px;
}
       

/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
.footer-wrap{
    margin-top:0 !important;
    border-color: #fff !important;
}


/*------------------------------------*\
    $DA CANCELLARE
\*------------------------------------*/
.pp-cover-wrapper article a:before,
.pp-cover-wrapper article a:after,
.pp-wide-medium a:before,
.pp-wide-medium a:after{
    display:none !important;
}