/*--------------------------------------------*\
    $HEADER LISTATI E PRIMO PIANO BIG 
\*-----------------------------------------*/

.cat_details,
.author_details,
.serp_details  { 
    padding: 0 ;
}

.cat_details .cat-header,
.author_details header,
.serp-results-info {    
    padding: 20px 0;
}

.cat_details > .categoria, 
.author_details > .categoria, 
.serp_details > .categoria { 
    display: none; 
}

.cat-header-adsense { 
    overflow: hidden;
    display: block;
    margin: 20px 0;
}

.cat-header-adsense-spc { 
    margin: 20px 0 ;
}

.art-pp-lista--big {     
    padding: 0 0 30px; 
    margin: 0;    
    display:block;
}    
    
.art-pp-lista--big figure { 
    margin-bottom: 20px;
}

.articolo-anteprima.art-pp-lista--big figure img {  
    width: 100%;
}

/*------------------------------------*\
    $LISTATO ARTICOLI
\*------------------------------------*/

.articolo-anteprima.art-pp-lista  {    
    padding: 0 0 20px;
    margin: 0;    
    display:block;
    position:relative; 
}

section .articolo-anteprima.art-pp-lista:last-child { 
    border: 0;    
}

.wrapper .speciali-box-row .articolo-anteprima.art-pp-lista {
    border-bottom: 1px solid #ebe5e6;
}

.articolo-anteprima figure .video {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
	margin: auto;
	width: 55px;
	height: 45px;
	color: #fff;
	text-align: center;
	font-size: 20px;
	border: 2px solid #fff;
	line-height: 40px;
	background: rgba(0,0,0, 0.1);
	overflow:hidden;	
}

.articolo-anteprima figure .video span {
	text-transform: uppercase;
	display: none;
	font-size: 15px;
	margin-left: 6px;
	font-weight: 700;
}

.articolo-anteprima figure:hover .video {	
	width: 165px;	
	transition: all 100ms ease-in 0s;
	-webkit-transition: all 100ms ease-in 0s;
	-moz-transition: all 100ms ease-in 0s;
	-ms-transition: all 100ms ease-in 0s; 	
}

.articolo-anteprima figure:hover .video span { 
	display: inline-block;
}

.articolo-anteprima.art-pp-lista header .categoria {
	top: -52px;	    
}

.articolo-anteprima.art-pp-lista-withbanner header .categoria {
	top: 0;	
	position: relative;
    display: inline-block;
}

.articolo-anteprima.art-pp-lista header .categoria a { 
    color: #fff;
}

.articolo-anteprima.art-pp-lista header {
    margin: 0 0 10px; 
}

.articolo-anteprima.art-pp-lista h2{
	margin: 18px 0 0;
	font-size: 28px;
	line-height: 1.2;
}

.articolo-anteprima.art-pp-lista h2,
.listato-orizzontale .articolo-anteprima h2,
.custom-griglia-due-colonne .articolo-anteprima h2{
	font-size: 28px;
	line-height: 1.2;
}

.articolo-anteprima.art-pp-lista p,
.listato-orizzontale .articolo-anteprima p,
.custom-griglia-due-colonne .articolo-anteprima p{
	font-size: 18px; 
    margin-bottom:  0;
}

.articolo-anteprima p span { 
	text-transform: uppercase;
	font-family: lato, arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
}

.articolo-anteprima p a:hover span { 
    text-decoration: underline;
}

.articolo-anteprima.art-pp-lista p span a:after { 
	content: " \00bb";	
}

.articolo-anteprima .autore {
	display: block;
	margin: 10px 0 0;
	font-size: 14px;
	letter-spacing: 0.1px;	
}

.articolo-anteprima .autore a { 
	font-style: normal;
}

.articolo-anteprima-testo {
	position: relative;
}

.adv-container { 
    width: 300px;
    min-height:250px;
    display: block; 
    overflow: hidden;
    margin: 0 auto;
}

.articolo-anteprima .adv-art-pp-lista { 
    margin-bottom:  15px;
}

.lista-solotesto h1 {
    font-size: 22px;
	padding-bottom: 7px;
	margin-bottom: 7px;
	border-bottom: 1px dotted #ebe5e6;
}

.lista-solotesto h1:before {
	content: "-";
}

.lista-solotesto-cat {
	font-size: 16px;
	color: #666;	
	margin-top: 3px;
}

@media only screen and (min-width: 1024px){ 
    .lista-solotesto-cat {   
    	float: right;
    }
}

@media only screen and (min-width: 600px) and (max-width: 800px){ 
    .listato-orizzontale .articolo-anteprima .categoria {
        font-size:9px;
        width: 100%;       
        text-overflow: ellipsis; 
    }
    
    .listato-orizzontale .articolo-anteprima h2 { 
        font-size:  24px;
    }
}

/*------------------------------------*\
    $PAGINATORE
\*------------------------------------*/

.pager {
	display: block; 
	overflow: hidden; 
	text-align: center; 
	padding: 30px 0; 
}

.pager span { 
		font-size: 12px; 
		text-transform: uppercase; 
		display: inline-block;	
		letter-spacing: 1px;
}

.pager a,
.pager .selected { 
	text-decoration: none;
	font-size: 15px;
	border-radius: 4px;
	display:  inline-block;
	margin-left: 9px;
	font-weight: 700;
	width: 24px;
	height: 24px;
	text-align: center;
	line-height: 24px;
    border: 1px solid #fff; 
}

.pager .selected { 
    color: #fff;
}

.pager a {
    display:  none; 
}

.pager .arrow { 
	font-family: lora, Georgia, serif;
	font-size: 18px;
	line-height: 28px;
	width: 30px;
	height: 30px;
	display: inline-block;
    color: #fff;    
}

.pager .pager-btn {
	line-height: 46px;
	text-transform: uppercase;
	width: 250px;
	text-align: center;
	letter-spacing: 1px;
	font-weight: normal;
	height: 46px;
	font-size: 14px;
	margin:0;
	display: inline-block;
    color: #fff;
}

.pager--allarticle {
	text-align: center;
}

@media only screen and (min-width: 1400px){
	.pager a,
	.pager .selected { 
		text-decoration: none;
		font-size: 15px;
		border-radius: 4px;
		display:  inline-block;
		margin-left: 9px;
		font-weight: 700;
		width: 37px;
		height: 37px;
		text-align: center;
		line-height: 36px;
		border: 1px solid #fff; 
	}

	.pager .arrow {
		color: #fff;
		display: inline-block;
		font-family: lora,Georgia,serif;
		font-size: 22px;
		height: 45px;
		line-height: 39px;
		width: 45px;
	}
}


/*------------------------------------*\
    $PROFILO AUTORE
\*------------------------------------*/

.author-header figure {
	overflow: hidden;
	display: block;
	border-radius: 45px 45px;
	width: 90px;
	height: 90px;
	margin: 10px auto 0;	
}

.leggi-anche{
	margin: 0 0 40px 0;
	font-size: 20px;
}
.leggi-anche h4{
    font-size: 20px;
	font-style: italic;
    font-weight: bold;
}

.leggi-anche:before{
    content:"";
	display:block;
	width: 60px;
	border-top: 1px solid #ebe5e6;
	padding-bottom: 30px;
}

.leggi-anche h3{
    font-size: 17px;
	display:block;
}

.leggi-anche h3:before { 
    content: "\2022";
    color: #c7afb5;
    margin-right:15px;
    font-size: 28px;
    position:relative;
    top:4px
}

.leggi-anche h3:last-child:after { 
    content: "";
}

.author-header figure img {
	overflow: hidden;
	display: block;    
}

.author-info { 
	overflow: hidden;
	text-align:center;
}

.author-info h1 {
	font-size: 40px;
	margin: 0 30px;
}

.author-info p {
	display: none;
}

.author-info .author-site { 
	font-style: italic;	
	text-decoration: underline;
	font-size: 20px;
}

.author-social {
	margin: 15px 0 10px;
	text-align:center;
}

.author-social a {
	text-decoration: none !important;
	font-size: 20px;
	margin-right: 10px;
}

.author-btn { 	
        padding: 6px 10px 3px;
}

.author-btn:before {
	font-size: 20px;
	margin: -3px 5px 0 0;
	vertical-align: middle;
}

/*------------------------------------*\
    $SPECIALI
\*------------------------------------*/

.speciali-box-row .sidebar {
    display: block !important;
}

.speciale-description {    
    font-style: italic;
    line-height: 1.5;
    color: #412e33;
    font-size: 20px;
    padding: 10px 0 5px;
}

.speciale-description.speciale-description--small {    
    font-size:20px;
    line-height:30px;
    padding-top:0;
}

.cat_details.no-border .art-pp-lista--big { 
    border: none !important;
}

.custom-griglia--mtop {
    margin-top: 20px;
}

.custom-griglia-due-colonne .articolo-anteprima figure a.pic { 
   height: auto;
}

.custom-griglia-tre-colonne { 
    margin: 30px 0;
}

.custom-griglia-tre-colonne .articolo-anteprima {
    margin-bottom: 30px;
}

.articolo-anteprima figure.thumb-list-video a.pic img {
    width: 100%;
    height: auto;
}

/* box player video  */
.container-player-video-spc{
	padding-bottom: 40px;
}
.box-player-video-spc{
    position: relative;
    margin-bottom: 20px;
}

.title-box-player-video-spc{
    margin-bottom: 10px;
}

.box-player-video-spc iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.box-player-video-spx-text  p{
    margin: 0;
}


/*  listato articoli contenuti cliente con target _blank -
    N.B: aggiungere sempre la classe sans per il font family 
*/

.contenuticliente .articolo-anteprima-testo {
    margin: 0; 
}

.contenuticliente .articolo-anteprima.art-pp-lista h2{ 
    margin: 0; 
}

.contenuticliente-label {
    padding: 3px 7px;
    display: inline-block;
    margin: 20px 0 0;
    background: #bfaeb3;
    text-transform: uppercase;
    font-size: 10px;
    color: #fff;
}

/* testatina speciali - versione base */

.testata-spc {         
    display: block; 
    overflow: hidden;       
    margin-left: 15px;
    margin-right: -15px;
    margin-bottom: 10px;
    clear:both;
} 

.testata-spc .testata-spc-linked { 
    overflow: hidden;
    display: block;    
    width: 100%;    
}

.testata-spc .testata-spc-linked:hover .testata-spc-label {
    padding-right: 15px;  
}

.testata-spc .testata-spc-label {   
    float: left;
    display:none;
    color: #fff;
    text-align: center;
    padding: 17px 0;
    position:relative;   
    width: 140px;
    transition: all 200ms ease-in 0s;
    -webkit-transition: all 200ms ease-in 0s;
    -moz-transition: all 200ms ease-in 0s;
    -ms-transition: all 200ms ease-in 0s; 
    box-sizing: content-box;
} 

.testata-spc .testata-spc-label:before {
    position: absolute;
    right: -14px;
    font-size: 30px;
    width: 15px;
    height: 30px;
    line-height: 30px;
    top: 50%;
    margin-top: -15px;
}

.testata-spc .testata-spc-label em {
    display: block;
    font-size: 14px; 
}

.testata-spc .testata-spc-label b  {
    display: block;
    text-transform: uppercase;    
    font-size: 16px;
} 

.testata-spc h1 {  
    float: left;
    display: block;
    font-size: 22px;
    padding: 20px 15px 0;      
}

.foglia-header .testata-spc {
    margin-left: 0;
}

.testata-spc.testata-spc-withlogo h1 { 
    width: 60%;
}

.foglia .foglia-header .testata-spc h1 {     
    padding: 10px 0;
}

.testata-spc .testata-spc-logo { 
    float: right;
    display: block;
    height: 75px;
    text-indent: -9999px;   
    text-align: center;
    background-color: rgba(255, 255, 255, 1 ); 
    width: 35%;
    max-width: 100px;
    margin-right: 5%;
}

.testata-spc .testata-spc-social {
    float: right;
    display: block;
    padding: 10px 0;
    width: 37px;
    text-align: center;
    margin-right: 5px;
} 

.testata-spc .testata-spc-social a {     
    display: block;
    font-size: 20px;
    color: #fff;
} 

.testata-spc .testata-spc-social a:hover {
    transition: all 200ms ease-in 0s;
    -webkit-transition: all 200ms ease-in 0s;
    -moz-transition: all 200ms ease-in 0s;
    -ms-transition: all 200ms ease-in 0s; 
    opacity: 0.8;
    filter: alpha(opacity = 0.8);
}

@media only screen and (min-width: 600px){ 
    
    .testata-spc {  
        margin-right: -30px;
        margin-left: 0;
        margin-top: -6px;  
    } 
    
    .testata-spc .testata-spc-label {      
        display: block;
    } 

    .listato-orizzontale,
    .custom-griglia-due-colonne {    
        margin-bottom: 40px;
    }    
   
    .listato-orizzontale .articolo-anteprima,
    .custom-griglia-due-colonne .articolo-anteprima {         
        margin-bottom: 0;
    }
  
}

@media only screen and (min-width: 768px){ 
    
    .testata-spc.testata-spc-withlogo { 
        padding-bottom: 10px;
    }
    
    .testata-spc h1 {
        font-size: 40px;
        padding: 18px 20px 0;
    } 
  
}

@media only screen and (min-width: 1024px){ 
    
    .testata-spc {   
        margin-bottom: 40px;
        background: #000;
        height: 74px; 
        padding-bottom: 0;
    }
    
    .testata-spc.testata-spc-withlogo { 
        margin-bottom: 40px;
        padding-bottom: 0;
    }
    
    .speciale-description {
        font-size: 25px;
        padding: 20px 0 30px;
    }
    
    .testata-spc .testata-spc-linked { 
        width: 95%;
        float: left;
    }
    
   .testata-spc h1 {  
        font-size: 50px; 
        padding: 13px 20px 0;
        text-shadow: 1px 1px 0 rgba(0,0,0, 1);
        width: auto;
        color: #fff;
        line-height: 50px;        
    }
    
    .testata-spc.testata-spc-withlogo h1 { 
        width: auto;
    }
    
    .testata-spc .testata-spc-logo { 
        display:none;
    }
    
    /* gestione testatina in articolo */

    .foglia .foglia-header .testata-spc {
        margin: -6px 0 10px; 
    }
    
}


/*------------------------------------*\
    $BOX-SEO speciali
\*------------------------------------*/
.box-seo{
	position: relative;
	overflow: hidden;
    background: #fcf8f9;
	padding: 20px 10px;
	margin: 0 -10px 30px;
	transition:max-height 0.3s linear;
}

.box-seo .box-seo-title{
	display: block;
	margin-bottom: 20px;
	color: #bba4aa;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.box-seo h1,
.box-seo h2,
.box-seo h3,
.box-seo h4,
.box-seo h5,
.box-seo h6{
	margin-bottom: 10px;
	font-size: 18px !important;
	color: #624f51;
	font-style: italic;
	font-weight: bold;
}

.box-seo p{
	margin-bottom: 15px;
	font-size: 13px;
	color: #624f51;
	line-height: 1.6em;
}

.box-seo a:hover{
	text-decoration: underline;
}

.box-seo ul{
	color: #624f51;
	margin-left: 10px;
	font-size: 13px;
}

.box-seo ul li{
	list-style: disc inside;
	margin-bottom: 8px;
}

.box-seo ul li h1,
.box-seo ul li h2,
.box-seo ul li h3,
.box-seo ul li h4,
.box-seo ul li h5,
.box-seo ul li h6{
	color: #624f51;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
    display: inline;
}

/* parziale */

.parziale.jq-close{
	padding-bottom: 34px;
	max-height: 340px;
}

.parziale.jq-close:before{
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	display:block;
	width: 100%;
	height: 80px;

	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(252,248,249,1) 40%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(40%,rgba(252,248,249,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(252,248,249,1) 40%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(252,248,249,1) 40%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(252,248,249,1) 40%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(252,248,249,1) 40%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#fcf8f9',GradientType=0 ); /* IE6-9 */
}

.parziale .open{
	position: absolute;
	right: 20px;
	bottom: 20px;
	display: block;
	height: 34px;
	line-height: 34px;
	padding: 0 20px;
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
	text-decoration: none;
}
.parziale .open:hover{
	text-decoration: none;
}

.parziale .open .raquo{
	display: inline-block;
	margin-left: 5px;
	font-size: 20px;
	-webkit-transform: rotate(90deg); 
		-ms-transform: rotate(90deg);
			transform: rotate(90deg);
}

.parziale.jq-open .open,
.parziale.jq-close .close{
	display: none;
}

.box-seo .close{
	position: absolute;
	top: 20px;
	right: 20px;
	display: block;
	width: 34px;
	height: 34px;
	text-align: center;
	line-height: 36px;
	text-decoration: none;
}
    
.box-seo .close:before{
	color: #fff;
	font-size: 14px;
} 

.box-seo .close span{
	position: absolute;
	left: -9999px;
}   
.box-seo .close:hover{
	text-decoration: none;
}

@media only screen and (min-width: 601px){
	.box-seo{
		padding: 30px 60px 30px 40px;
		margin: 0 -40px 30px;
	}
    .foglia .box-seo{
        margin: 0 0 30px;
        background: none;
    }
}

/*------------------------------------*\
    $TESTATINA SPECIALI NEW
\*------------------------------------*/

.testata-spc-new {         
    display: block; 
    overflow: hidden;    
    margin-left: 20px;
 	margin-right: -10px;
    margin-bottom: 15px;
} 

.testata-spc-new .testata-spc-head {	
	overflow: hidden;
}

.testata-spc-new .testata-spc-head a.testata-spc-head-link { 
	display: block;
	clear: both;
	margin-left: 15px;
}

.testata-spc-new .testata-spc-head.testata-spc-head--withlogo a.testata-spc-head-link {
	width: 90%;
}

.testata-spc-new .testata-spc-head .testata-spc-label { 
	display: none;
}

.testata-spc-new .testata-spc-head > p{
	display: block;
	margin: 15px 0 15px 15px;
	font-size: 11px;
	color: #baa6ab;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
}

.testata-spc-new .testata-spc-head h3 {
	font-size: 22px;
	line-height: 1.2;
	font-style: italic;    
}

.testata-spc-new .logo-sponsor { 
	display: block; 
	width: 100%;
	clear: both;
	overflow: hidden; 
	margin: 11px 0 0 15px;	
	width: auto;
  	padding: 0 10px 0 0;
  	height: 24px; 
  	line-height: 24px;
}

.testata-spc-new .logo-sponsor .logo-sponsor-text {
	color: #c8adb2;
	font-size: 11px;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-family: lato, arial, sans-serif;
	padding: 0 0 5px;
	margin: 0;	
}

.testata-spc-new .logo-sponsor .logo-sponsor-text{
	float: left;
	display: block;
	height: 16px;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-family: lato, arial, sans-serif;
}

.testata-spc-new .logo-sponsor .logo-sponsor-img{
	float: left;
	display: block;
	width: auto;
	height: 24px;
	margin-left: 10px;
}

.testata-spc-new .logo-sponsor .logo-sponsor-img img{
	width: auto;
	max-height: 24px;
}

.testata-spc-new .logo-sponsor:hover .logo-sponsor-img img {
	opacity: 1;	
	transition: all 200ms ease-in 0s;
	-webkit-transition: all 200ms ease-in 0s;
	-moz-transition: all 200ms ease-in 0s;
	-ms-transition: all 200ms ease-in 0s;
}

.testata-spc-new .testata-spc-links { 
	overflow: hidden; 
	display:block;
    margin-top:  10px;
}

.testata-spc-new .testata-spc-links a {
	overflow: hidden; 
	display:block; 
	width: 100%;
	height: 100%;
	color: #fff;
}

.testata-spc-new .testata-spc-links a:hover h2 { 
	text-decoration: underline;
}

.testata-spc-new .testata-spc-links,
.testata-spc-new .testata-spc-links ul li.vedi-altri-link,
.testata-spc-new .testata-spc-links ul li .testata-spc-links-img { 
	height: 89px;
}
	
.testata-spc-new .testata-spc-links ul { 
	overflow: hidden; 
	display:block;
}

.testata-spc-new .testata-spc-links ul li { 
	width: 43%;
	float: left;
	margin-right: 0.5%;
	overflow: hidden;
	position: relative;
}

.testata-spc-new .testata-spc-links ul li.no-mobile-link { 
	display: none;
}

.testata-spc-new .testata-spc-links ul li:nth-child(6) { 
	display: none !important;
}

.testata-spc-new .testata-spc-links ul li .testata-spc-links-img { 
	position: relative;
}

.testata-spc-new .testata-spc-links ul li .testata-spc-links-img:before{    
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left:0;
    display: block;
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.30) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.30))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.30) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.30) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.30) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.30) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}

.testata-spc-new .testata-spc-links ul li a:hover .testata-spc-links-img:before{ 
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.45) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.45))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.45) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.45) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.45) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.45) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}

.testata-spc-new .testata-spc-links ul li img { 
   display: block;
   height: auto;
   width: 100%;
   min-height: 100%;
}

.testata-spc-new .testata-spc-links ul li h6  {
	position: absolute;
	left: 5px;
	width: 90%;
	color: #fff;
	font-size: 14px;
	bottom: 12px;
	font-weight: bold;
	line-height: 1.2;
	z-index: 100;
	text-shadow: 1px 1px 2px rgba(0,0,0,.3);
}

.testata-spc-new .testata-spc-links ul li.no-img-link { 
	display: none;
}

.testata-spc-new .testata-spc-links ul li.vedi-altri-link { 
	width: 13%;
	margin: 0;
}

.testata-spc-new .testata-spc-links ul li.vedi-altri-link img { 
	display: block; 
	max-width: 360px;
	width: auto;
	height:100%;
}

.testata-spc-new .testata-spc-links ul li.vedi-altri-link h2 {
	display: none;
}

.testata-spc-new .testata-spc-links ul li.vedi-altri-link a:before { 
	position: absolute;
	color: #fff;
	font-size: 45px;
	z-index: 100;
	width: 100%;
	display: block;
	height: 50px;
	line-height: 50px;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	margin: auto;
}

@media only screen and (min-width: 600px){ 
	.testata-spc-new .testata-spc-links ul li:nth-child(3) { 
		display: block !important;
	}	
	
	.testata-spc-new .testata-spc-links ul li { 	
  		width: 28.5%;
  	}
}

@media only screen and (min-width: 768px){ 

	.testata-spc-new .testata-spc-head > p{
    	float: left;
    	width: 80px;		
		margin: 20px 20px 0 0;
	}     
          
	.testata-spc-new .logo-sponsor {
        margin: 20px auto;
        text-align: center;
	}		
	
    .testata-spc-new {     
        margin-left: 30px;
        margin-right:  0;
    }
    
	 .testata-spc-new .logo-sponsor{
	 	float: right;
    	clear: none;
    }

    .testata-spc-new .testata-spc-head a.testata-spc-head-link {
    	float: left;
    	clear: none;
        padding: 20px 0 0;
        margin:  0;
    }

    .testata-spc-new .testata-spc-head.testata-spc-head--withlogo a.testata-spc-head-link {
        width: 60%;
        border: 0;
        margin:  0;
    }
    
	.testata-spc-new .testata-spc-head h3 { 
		font-size: 28px;   
        margin:  0;
	}
	
	.testata-spc-new .testata-spc-links ul li { 
		width: 18.2%;
		margin-right: 0.2%;	
	}		
	
	.testata-spc-new .testata-spc-links ul li.no-mobile-link { 
		display: block;
	}
	
	.testata-spc-new .testata-spc-links ul li.vedi-altri-link { 
		width: 8%;
	}	
}


@media only screen and (min-width: 1024px){
    
    .testata-spc-new {  
		margin-right: -30px;
        margin-left: 0;
	}
    
	.testata-spc-new .testata-spc-head > p{
		margin-left: 20px;		
	}
    
    
    .testata-spc-new .testata-spc-head a.testata-spc-head-link { 
		width: 60%;		
	}
    
    .testata-spc-new .testata-spc-head a.testata-spc-head-link,
    .testata-spc-new .testata-spc-head.testata-spc-head--withlogo a.testata-spc-head-link {
        padding:  0;
        margin:  0;
        height:  50px;
    }
    
    .testata-spc-new .testata-spc-head h3 { 
 		margin: 12px 0 0 30px;   
        overflow: hidden;
        height: 40px;       
        padding:  0;
	}	
	
    .testata-spc-new .logo-sponsor {  
	    float: right;
	    padding: 0;
	    margin: 20px 20px 0 0;	    
		height: 24px;
		line-height: 24px;
	}
	
	
	
    .testata-spc-new .logo-sponsor .logo-sponsor-text {	
    	display: inline-block;
    	height: 35px;
    	line-height: 30px;
    	font-size: 11px !important;
    	font-weight: bold;
    	letter-spacing: 2px;
    	text-transform: uppercase;
	}
	
    .testata-spc-new .logo-sponsor .logo-sponsor-img{
		margin-left: 20px;
	}
	
	.testata-spc-new .logo-sponsor .logo-sponsor-img img{
		max-height: 100%;
	}

	.testata-spc-new .testata-spc-head .testata-spc-label:hover {
		padding-right: 12px;
	}
	
	.testata-spc-new .testata-spc-head .testata-spc-label em {
		font-size: 17px;
	}
	
	.testata-spc-new .testata-spc-head .testata-spc-label b {
		text-transform: uppercase;
		font-size: 13px;
	}

	.testata-spc-new .testata-spc-head .testata-spc-label:before {
		position: absolute;
		right: -14px;
		font-size: 30px;
		width: 15px;
		height: 30px;
		line-height: 30px;
		top: 50%;
		margin-top: -15px;
	}
		
	
}

@media only screen and (min-width: 1024px){ 

	.testata-spc-new {   
		margin-bottom: 20px;	
	}	
    
    .testata-spc-new .testata-spc-head h3 {
        font-size: 26px;
        max-width: 625px;
        line-height: 1.2;       
        margin: 20px 0 0 15px;
    }
    
    .testata-spc-new .testata-spc-head .testata-spc-label {
		float: left;
		display: block;
		color: #fff;
		text-align: center;
		padding: 0 8px;
        font-size: 12px;
		height: 40px;
		margin: 11px 0 ;
		line-height: 40px;
		position: relative;	
		transition: all 200ms ease-in 0s;
		-webkit-transition: all 200ms ease-in 0s;
		-moz-transition: all 200ms ease-in 0s;
		-ms-transition: all 200ms ease-in 0s;
		box-sizing: content-box;
	}
    
    .testata-spc-new .testata-spc-head .testata-spc-label b {		
		font-size: 13px;
	}
    
    .testata-spc-new .testata-spc-head .testata-spc-label:hover {
		padding-right: 12px;
	}
    
    .testata-spc-new .testata-spc-links ul li { 
		width: 15.2%;
	}	
	
	.testata-spc-new .testata-spc-links ul li.vedi-altri-link { 
		width: 7.6%;
	}
		
	.testata-spc-new .testata-spc-links ul li:nth-child(6) { 
		display: block !important;
	}	
	
	.testata-spc-new .testata-spc-links ul li h6 {
		font-size: 16px;		
		line-height: 1.3;
		left: 12px;
	}
    
   .testata-spc-new .testata-spc-links ul li.vedi-altri-link h6 {
   		position: absolute;
   		bottom: 5px;
		text-align: center; 
		width: 100%; 
		left: 0;
		color: #fff;
		text-transform: uppercase;
		font-size: 10px;
		font-weight: bold;
	}	
}

@media only screen and (min-width: 1280px){  
    
    .testata-spc-new .testata-spc-head .testata-spc-label {		
		padding: 0 20px;       
	}
    
    .testata-spc-new .testata-spc-head .testata-spc-label b {		
		font-size: 16px;
	}
    
    .testata-spc-new .testata-spc-head .testata-spc-label:hover {
		padding-right: 30px;
	}
    
    .testata-spc-new .testata-spc-head h3 { 	     
        max-width: 765px;
        line-height: 1.2;
	}	
    
    .testata-spc-new .testata-spc-links,
	.testata-spc-new .testata-spc-links ul li.vedi-altri-link,
	.testata-spc-new .testata-spc-links ul li .testata-spc-links-img { 
		height: 120px;
	}
    
    .testata-spc-new .testata-spc-links ul li.vedi-altri-link a:before { 
		top: -18px;
	}
	.testata-spc-new .testata-spc-links ul li.vedi-altri-link h6 {
		bottom: 12px;
	}
}

@media only screen and (min-width: 1366px){  
    
    .testata-spc-new .testata-spc-head h3 { 	
        font-size: 33px;
        margin: 11px 0 0 0;
	}	    
    
}

@media only screen and (min-width: 1367px){ 

    .testata-spc-new .testata-spc-head.testata-spc-head--withlogo a.testata-spc-head-link {
        width: 60%;
    }  
}


/*------------------------------------*\
    $TESTATA SPECIALE HOME 
\*------------------------------------*/
.testata-spc-home{
	padding: 20px;
	margin-left: 20px;
}

.testata-spc-home p{
	margin-bottom: 8px;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
}

.testata-spc-home .testata-spc-head-link{
	display: block;
	margin-bottom: 15px;
}

.testata-spc-home .testata-spc-head-link h1{
	font-size: 24px;
	font-style: italic;
}

.testata-spc-home .logo-sponsor .logo-sponsor-text{
	float: left;
	display: block;
	height: 30px;
    line-height: 30px;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
}

.testata-spc-home .logo-sponsor .logo-sponsor-img{
	float: left;
	display: block;
	width: auto;
    max-height: 30px;
	margin-left: 5px;
}

.testata-spc-home .logo-sponsor .logo-sponsor-img img{
	width: auto;
	max-height: 30px;
}

@media only screen and (min-width: 600px){
	.testata-spc-home{
		padding: 40px 30px;
		text-align: center;
	}
	
	.testata-spc-home p{
		margin-bottom: 25px;
		letter-spacing: 2px;
	}
	
	.testata-spc-home .testata-spc-head-link{
		max-width: 760px;
		margin: 0 auto;
	}
	
	.testata-spc-home .testata-spc-head-link h1{
		font-size: 60px;
		margin-bottom: 30px;
	}
	
	.testata-spc-home .testata-spc-head-link:hover{
		text-decoration: underline;
	}
	
	.testata-spc-home .logo-sponsor{
		display: inline-block;
	}
	
	.testata-spc-home .logo-sponsor .logo-sponsor-text{
		height: 35px;
		line-height: 35px;
		letter-spacing: 2px;
	}
	
	.testata-spc-home .logo-sponsor .logo-sponsor-img{
        max-height: 35px;
		margin-left: 20px;
	}
    
    .testata-spc-home .logo-sponsor .logo-sponsor-img img{
        max-height: 35px;
	}
}


/*------------------------------------*\
    $ANTEPRIMA SPECIALI & SLIDER
\*------------------------------------*/
.slider-spc-home{
    position: relative;
    padding-bottom: 30px;
	margin-top: 30px;
}

.slider-spc-home p,
.articolo-anteprima--spc p{
	margin: 0 20px 20px;
	text-align: center;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.slider-spc-home .arrow-right{
	top: 30%;
}

.slider-spc-home .arrow-right:after{
	content: "";
	position: absolute;
	right: -20px;
	top:0;
	display: block;
	width: 20px;
	height: 105px;
}

.slider-spc-home .articolo-anteprima--spc{
	padding-bottom: 0;
}

.articolo-anteprima--spc{
	padding-bottom: 40px;
}

.articolo-anteprima--spc figure{
    position: relative;
    width: 100%;
	margin-bottom: 25px;
}

.articolo-anteprima--spc figure a{
	position: relative;
	display:block;
    min-height: 200px;
}

.articolo-anteprima--spc figure a:before{
	content: "";
	position: absolute;
	left: 0;
	bottom: -1px;
	display: block;
	width: 100%;
	height: 50%;
}

.articolo-anteprima--spc figure a img{
	width: 100%;
	vertical-align: top;
}

.articolo-anteprima--spc figure a .categoria{
    bottom: 0;
    left: 50%;
    margin-left: -100px;
    position: absolute;
	width: 200px;
}

.articolo-anteprima--spc h3{
	margin: 0 20px 35px;
	text-align: center;
}

.spc_bigbottom{
	padding-top: 15px;
}

.spc_bigbottom .correlati_bigbottom_content > div{
	display:block;
	max-height: none;
	width: 100%;
}


.swiper-pagination{
	text-align: center;
}
.swiper-pagination span{
	display:inline-block;
	width: 10px;
	height: 10px;
	margin: 0 5px;
	background: #dbced2;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;   
}

.swiper-pagination span.swiper-active-switch{
	background: #baa6ab;
}

@media only screen and (min-width: 600px) {
    .articolo-anteprima--spc figure a{
        min-height: 150px;
    }	
    .spc_bigbottom .correlati_bigbottom_content > div{
		width: 33%;
    }
}

@media only screen and (min-width: 1024px) {
    .articolo-anteprima--spc figure a{
        min-height: 200px;
    }    
}

@media only screen and (min-width: 1280px) {
    .articolo-anteprima--spc figure a{
        min-height: 240px;
    }    
}


/*------------------------------------*\
    $SPC-CATEGORY
\*------------------------------------*/
.spc_category{
    margin-bottom: 35px;
	letter-spacing: 2px;
}

.spc_category a{
	color: #000;
	text-decoration: underline;
}

.spc_category a:hover{
	text-decoration: none;
}

.spc_category p{
	float: left;
	display: block;
	height: 14px;
	line-height:14px;
	margin-bottom: 10px;
	color: #baa6ab;
}

.spc_category p,
.spc_category a{
	font-size: 11px;
	text-transform: uppercase;
}

.spc_category ul{
	clear: both;
	display:block;
}

.spc_category ul li{
	display:block;
	margin: 0 0 5px;
}
.spc_category ul li h3{
	line-height: 14px;
	font-size: 11px;
}

@media only screen and (min-width: 1024px) {
	.spc_category p{
		margn-bottom: 0;
	}
	.spc_category ul{
		clear: none;
		float: left;
        max-width: calc(100% - 140px);
	}
    .spc_category ul li{
		float: left; 
		margin: 0 12px  5px;; 
	}
    .spc_category ul li h3{
        height: 14px;
    }
}



/*------------------------------------*\
    $SERP
\*------------------------------------*/

.serp-results-info {		
	text-align:center;
}

.serp-results-info span { 
	font-style: italic;
}

.serp-results-info h1 { 
	font-size: 50px;	
	margin: 10px 0 30px;
}

.serp-results-info ul { 
	margin: 0;
	padding: 0;
}

.serp-results-info ul li {
	display: inline-block;
	margin-right: 10px;
}

.serp-results-info ul li.serp-results-video { 
	margin-right: 0;	
}

.serp-results-info ul li a {
	text-decoration: none;
	display: block;
}

.serp-results-info ul li.no-results-found em {
	text-decoration: none;
}

.serp-results-info ul li b {
	display: block;
	overflow: hidden;
	border-radius: 13px;
	padding: 2px 8px;
	font-size: 12px;
	position: absolute;
	font-weight: 400;
	top: 0;
	right: 0;
    color: #fff;
    border: 2px solid #fff;    
}

.serp-results-info ul li div {
	display: block;
	padding-top: 12px;
	width: 80px;
	position:relative;
	margin: 0 auto;
}

.serp-results-info ul li em {
	font-size: 18px;
	display: block;
	text-decoration: underline;
}

.serp-results-info ul li div:before { 
	display: block;
	margin: 0 auto;
	overflow: hidden;
	height: 39px;
    padding: 5px 7px;
    font-size: 30px;
	text-decoration: none !important;
    width: 47px;
	border-radius: 3px;
	line-height: 28px; 
    color: #fff;
}

.serp-results-info ul li a:hover div:before { 
    transition: all 200ms ease-in 0s;
    -webkit-transition: all 200ms ease-in 0s;
    -moz-transition: all 200ms ease-in 0s;
    -ms-transition: all 200ms ease-in 0s;
}

.serp-results-info ul li.serp-results-gallery div:before {
	line-height: 29px;
	font-size: 34px; 
}

.serp-results-info ul li.serp-results-video div:before { 
	font-size: 14px;
}

/*------------------------------------*\
    $LISTATO FOTO WITH THUMB
\*------------------------------------*/

.content-singleGallerylist ul li {    
    width: 47%;
    margin-right: 6%;   
    float: left;
    margin-bottom: 20px;
    height: 100px;
    overflow: hidden;    
}

.content-singleGallerylist ul li figcaption {     
    font-size: 18px;   
    display: block;
    overflow: hidden;
    padding: 5px 0 0;
    line-height: 1.3;
}

.content-singleGallerylist ul li figure a.singleGallerylist-img-link { 
    height: 100px;
    text-align: center;
    position: relative;
}

.content-singleGallerylist ul li .singleGallerylist-img-mask {    
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%; 
    opacity: 0;
    transition: all 200ms ease-in 0s;
    -webkit-transition: all 200ms ease-in 0s;
    -moz-transition: all 200ms ease-in 0s;
    -ms-transition: all 200ms ease-in 0s;
}

.content-singleGallerylist ul li .zoom {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    display: block;
    overflow: hidden;
    width: 95px;
    height: 40px;
    color: #fff;
    line-height: 36px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    background: rgba(0,0,0,.1);
    border: 2px solid #fff;  
}

.content-singleGallerylist ul li .zoom:before { 
    font-size: 18px;
    color: #fff;
}

.content-singleGallerylist a.singleGallerylist-img-link:hover .singleGallerylist-img-mask {
    opacity: 1;   
}

/*------------------------------------*\
    $SLIDER FOTO E VIDEO NEI LISTATI
\*------------------------------------*/

.blocco-slider.blocco-slider--lista {
    margin: 0 -10px;    
}

.blocco-slider--video.blocco-slider--lista, 
.blocco-slider--video.blocco-slider--lista .container > h1 > span {
    background: #fff;
}

.blocco-slider.blocco-slider--lista .container > h1 { 
    margin-bottom: 0;
}


@media only screen and (min-width: 600px){
    .blocco-slider.blocco-slider--lista{
        margin: 0 -30px;    
    }
}

@media only screen and (max-width: 479px){ 
    .content-singleGallerylist ul li:nth-child(even) { 
        margin-right: 0;
    }
}

.content-singleGallerylist ul li figure a.singleGallerylist-img-link {     
    display: block;
    overflow: hidden;    
}

.content-singleGallerylist ul li figure a.singleGallerylist-img-link:hover {    
    transition: all 200ms ease-in 0s;
    -webkit-transition: all 200ms ease-in 0s;
	-moz-transition: all 200ms ease-in 0s;
	-ms-transition: all 200ms ease-in 0s; 	
}

.content-singleGallerylist ul li figure.vertical a img {
    height: 100%;
    width: auto;
}

.content-singleGallerylist ul li figure.horizontal a img,
.content-singleGallerylist ul li figure.square a img {
    height: auto;
    width: 100%;
}

@media only screen and (min-width: 600px){ 

	.cat_details,
	.author_details,
	.serp_details  {
		padding: 0;
	}

	.cat_details .cat-header,
	.author_details header {	
		padding: 25px 0 30px;
	}
	
	.articolo-anteprima-testo {
		overflow: hidden; 
	}	
	
    .articolo-anteprima.art-pp-lista { 
		padding: 0 0 40px;
        margin:  0 0 40px;
	}	
		
	.articolo-anteprima.art-pp-lista header .categoria {
		top: 0;        
		position: relative;
        display: inline-block;
	}
    
    .articolo-anteprima .adv-art-pp-lista,
	.articolo-anteprima.art-pp-lista figure { 		
		float:left;
  	    width: 47.5%;
  	    height: auto;
  	    max-width: 360px;
        max-height: 240px;
		margin-right: 30px; 
		margin-bottom: 0; 
        overflow:hidden;
	}
    
    .articolo-anteprima .adv-art-pp-lista { 
        overflow: hidden; 
        display: block;         
        max-height:  250px;
    }
    
	.adv-container { 	
		 float: right;
	}	
    	
	.articolo-anteprima .adv-container:before {
		display: none;
	}
	
	.articolo-anteprima figure .gallery { 
        top: auto; 
        bottom: 0;
    }
	
	.art-pp-lista--big p { 
		font-size: 22px;
	}
	
	.author_details .author-blogger {		
		display: block; 
		overflow: hidden;
		margin: 0 0 40px;
	}
	
	.author-header figure {
		float: left;
		margin-right: 20px;	
	}
	
	.author-btn {
		margin: 20px 0 0; 
	}
	
	.author-info { text-align: left;}
	
	.author-info h1 { 
		font-size: 50px;	
		margin: 0;	
	}
	
	.author-info p {
		margin-bottom: 5px; 
		display: block;
	}
	
	.author-social {	
		text-align:left;
	}
	
	.pager { 
		 padding: 50px 30px 0 0;	
	}
    
	.pager a {
		display: inline-block;
	}
	
	.serp-results-info {		
		padding: 25px 0 40px;	
	}
	
	.serp-results-info ul li {	
		margin-right: 60px;	
	}
	
	.serp-results-info ul li em {
		font-size: 21px;	
	}
    
    /*------------------------------------*\
        $LISTATO FOTO WITH THUMB
    \*------------------------------------*/

    .content-singleGallerylist ul li {    
        width: 29%;
        margin-right: 4%;       
        height: 215px;
    }
    
    .content-singleGallerylist ul li figure a.singleGallerylist-img-link { 
        height: 140px;
    }
    
    /*------------------------------------*\
        $SLIDER FOTO E VIDEO NEI LISTATI
    \*------------------------------------*/
    
    .blocco-slider--lista .swiper-wrapper{
        left: -25%; /* "taglia" il primo e l'ultimo elemento */
    }
    
}

@media only screen and (min-width: 480px) and (max-width: 768px) { 
    
    .content-singleGallerylist ul li { 
        width: 29%;
        margin-right: 6%;       
        height: 100px;
    }
    
    .content-singleGallerylist ul li figure a.singleGallerylist-img-link { 
        height: 100px;
    }
    
    .content-singleGallerylist ul li:nth-child(3n+0) { 
        margin-right: 0;
    }
}

@media only screen and (min-width: 701px) and (max-width: 768px) { 
    
    .content-singleGallerylist ul li {     
       height: 215px;
    }
    
    .content-singleGallerylist ul li figure a.singleGallerylist-img-link {     
       height: 140px;
    }
   
}

@media only screen and (min-width: 1024px){ 

    .blocco-slider.blocco-slider--lista {
        padding-top: 75px;
        margin: 0 auto;    
    }
    
    .testata-spc-new .logo-sponsor .logo-sponsor-text { 
        font-size:  16px;
    }

}

@media only screen and (min-width: 1025px){ 
 
    .cat_details,
    .author_details,
	.serp_details  {
		padding: 0 30px;
	}
    
    .cat_details .categoria, 
    .author_details .categoria, 
    .serp_details .categoria { 
        display: inline-block; 
        position: relative;
    }
    
	.main-nav-wrap {
		display: block;
	}
	
	.pager { 	
	 	text-align: right;
    }
	
	.pager--allarticle {	
		padding-right: 80px;
	}      
	
}