@charset "utf-8";
/*--------------------------------------*
    ORION GALLERY - modale foto
*--------------------------------------*/

/**
 * OWL.................parte relativa al carousel owl
 * MODALE FOTO.........
 * .. HEADER........... header modale
 * .. CONTENUTO........ contenuto modale (contenuto e sidebar)
 * .. THUMB CONTAINER.. contenitore thumb
 * FOTOSTORY........... eccezioni per gestire la fotostory
 * MODALE FAKE......... modifiche per rendere la 'foglia gallery' graficamente uguale alla modale
 */


/*------------------------------------*
    $OWL CAROUSEL
    Core Owl Carousel CSS File
    v1.3.3
*------------------------------------*/
/* clearfix */
.orionGalleryLevel .owl-carousel .owl-wrapper:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
/* display none until init */
.orionGalleryLevel .owl-carousel{
    display: none;
    position: relative;
    width: 100%;
    -ms-touch-action: pan-y;
}
.orionGalleryLevel .owl-carousel .owl-wrapper{
    display: none;
    position: relative;
    -webkit-transform: translate3d(0px, 0px, 0px);
}
.orionGalleryLevel .owl-carousel .owl-wrapper-outer{
    overflow: hidden;
    position: relative;
    width: 100%;
}
.orionGalleryLevel .owl-carousel .owl-wrapper-outer.autoHeight{
    -webkit-transition: height 500ms ease-in-out;
    -moz-transition: height 500ms ease-in-out;
    -ms-transition: height 500ms ease-in-out;
    -o-transition: height 500ms ease-in-out;
    transition: height 500ms ease-in-out;
}
.orionGalleryLevel .owl-controls .owl-page,
.orionGalleryLevel .owl-controls .owl-buttons div{
    cursor: pointer;
}
.orionGalleryLevel .owl-controls {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.orionGalleryLevel .grabbing {
    cursor:url(grabbing.png) 8 8, move;
}


/* fix */
.orionGalleryLevel .owl-carousel  .owl-wrapper,
.orionGalleryLevel .owl-carousel  .owl-item{
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}


/*-- THEME --*/

/*
*     Owl Carousel Owl Demo Theme
*    v1.3.3
*/

.orionGalleryLevel .owl-theme .owl-controls{
    margin-top: 10px;
    text-align: center;
}

/* Styling Next and Prev buttons */

.orionGalleryLevel .owl-theme .owl-controls .owl-buttons div{
    color: #FFF;
    display: inline-block;
    zoom: 1;
    *display: inline;/*IE7 life-saver */
    margin: 5px;
    padding: 3px 10px;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background: #869791;
    filter: Alpha(Opacity=50);/*IE7 fix*/
    opacity: 0.5;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.orionGalleryLevel .owl-theme .owl-controls.clickable .owl-buttons div:hover{
    filter: Alpha(Opacity=100);/*IE7 fix*/
    opacity: 1;
    text-decoration: none;
}

.orionGalleryLevel .jq-btn-nextPhoto.next.disabled,
.orionGalleryLevel .jq-btn-prevPhoto.prev.disabled {
    display: none !important;
}


/* Styling Pagination*/

.orionGalleryLevel .owl-theme .owl-controls .owl-page{
    display: inline-block;
    zoom: 1;
    *display: inline;/*IE7 life-saver */
}
.orionGalleryLevel .owl-theme .owl-controls .owl-page span{
    display: block;
    width: 12px;
    height: 12px;
    margin: 5px 7px;
    filter: Alpha(Opacity=50);/*IE7 fix*/
    opacity: 0.5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #869791;
}

.orionGalleryLevel .owl-theme .owl-controls .owl-page.active span,
.orionGalleryLevel .owl-theme .owl-controls.clickable .owl-page:hover span{
    filter: Alpha(Opacity=100);/*IE7 fix*/
    opacity: 1;
}

/* If PaginationNumbers is true */

.orionGalleryLevel .owl-theme .owl-controls .owl-page span.owl-numbers{
    height: auto;
    width: auto;
    color: #FFF;
    padding: 2px 10px;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

/* preloading images */
.orionGalleryLevel .owl-item.loading{
    min-height: 200px;
    background: url("http://static.stbm.it/Share/images/loading-dark.gif") no-repeat center center #191717;
}


/*------------------------------------*
    $MODALE FOTO
*------------------------------------*/
body.orionGallery{
    overflow:hidden;
    overflow-y:hidden;
}
.orionGalleryLevel{
    position:fixed;
    overflow-y: auto;
    width:100%;
    height:100%;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background: #191717;
    z-index:9999;
    zoom: 1;
    -webkit-overflow-scrolling: touch;
}

@media only screen and (min-width: 801px){
    .orionGalleryLevel{
        background:#f3eef0;    
    }  
        .orionGalleryLevel .owl-item.loading{
      background: url("http://static.stbm.it/Share/images/loading-light.gif") no-repeat center center #fff;
  }  
}


/*------------------------------------*
    MODALE FOTO ** $HEADER
*------------------------------------*/
.orionGalleryLevel header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    min-width:320px;
    height: 50px;
    margin:0 auto;
}
.orionGalleryLevel header .logo{
    position:absolute;
    right: 60px;
    top:0;
    display: block;
    margin-top: 10px;
    text-indent: -9999px;
}
.orionGalleryLevel header .chiudi{
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    font-size: 20px;
}
.orionGalleryLevel header .chiudi span{
    position: absolute;
    left: -9999px;  
}

.modale-foto-wrapper .sidebar-modale .adv-300{
    display:none !important;
}
.orionGalleryLevel .adv-leaderboard{
    position: fixed;
    z-index: 200;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: #221e1e;
}
.orionGalleryLevel .adv-leaderboard iframe{
    display:block;
    width:320px;
    height: 50px;
    margin: 0 auto;
}


/*-- .HEADER per tablet e desktop --*/
@media only screen and (min-width: 801px){
    .orionGalleryLevel header{
            position: static;
        height: 95px;
        background: #f3eef0;
        padding-right: 360px;
    }
    .orionGalleryLevel header .logo{display: none;}
    .orionGalleryLevel header .chiudi{
        width: 80px;
        height: 95px;
        line-height: 95px;
        font-size: 30px;
    }
    .orionGalleryLevel .adv-leaderboard-wrapper{
        position: static;
        display: block;
        height: 90px;
        margin-top: 5px;
        background: transparent;
    }
    .orionGalleryLevel .adv-leaderboard{
        background: transparent;
    }
    .orionGalleryLevel .adv-leaderboard-wrapper .adv-leaderboard{
          position: static;
    }
    .orionGalleryLevel .adv-leaderboard-wrapper .adv-leaderboard,
    .orionGalleryLevel .adv-leaderboard-wrapper .adv-leaderboard iframe{
        width: 728px;
        height: 90px;
        margin:0 auto;
    }
    .modale-foto-wrapper .sidebar-modale .adv-300{
        display:block !important;
    }
}
/*-- //fine .HEADER per tablet e desktop --*/

@media only screen and (min-width: 1200px){
    .orionGalleryLevel header .logo{
        right: 100px;
        margin-top: 20px;
        display: block;
        background-position: 0 0;
    }
}
/*-- //fine .HEADER per desktop --*/



/*------------------------------------*
    MODALE FOTO **   $CONTENUTO
*------------------------------------*/
.modale-foto-wrapper{
    position:relative;
    max-width:1600px;
    height: 100%;
    margin:50px auto 0;
}

.modale-foto-wrapper .foto-container{
    left:0;
    width: 100%;
}
.orionGalleryLevel .item{
    text-align: center;
}


.orionGalleryLevel .item .pic{
  display: inline-block;
  position: relative;
  max-width: 100%;
}
.orionGalleryLevel .item .social{
    position: absolute;
      display: none;
    top: 0;
    right: 0;
}
.orionGalleryLevel .item .social a{
    display: block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: #fff;
    font-size: 24px;
    transition: all .5s;
    cursor: pointer;
}
.orionGalleryLevel .item .social a span{position: absolute; left:-9999px;}
.orionGalleryLevel .item .social .fb{background: rgba(62, 89, 165, 0.6);}
.orionGalleryLevel .item .social .tw{background: rgba(3, 172, 236, 0.6);}

.orionGalleryLevel .item .social .fb:hover{background: #3e59a5;}
.orionGalleryLevel .item .social .tw:hover{background: #03acec;}

.orionGalleryLevel .item .info{
    position: absolute;
    right: 0;
    bottom: 2px;
    line-height: 30px;
    color: #ffffff;
    font-size: 11px;
    text-shadow: 1px 1px 2px #000, 0 0 3px #000;
}
.orionGalleryLevel .item .info li{
    float: left;
    margin: 0 10px;
}
.foto-container .advCenter-wrapper{
    background: #fff;
    height: 100%;
    min-height: 350px;
}
.foto-container .advCenter{
    width: 300px;
    height:270px;
    padding: 20px 0;
    margin:0 auto 20px;
}
.foto-container .advCenter iframe{
    display: block;
    width:300px;
    height:250px;
 
}
.foto-container .advCenter-wrapper .continua{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;
}
.foto-container .advCenter-wrapper .continua:hover{
    text-decoration: underline;
}

.modale-foto-wrapper .nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}  
.modale-foto-wrapper .nav a{
    position: absolute;
    top:200px;
    color: rgba(140,140,140,.5); 
    font-size: 50px;
}
.modale-foto-wrapper .nav a.prev{left: 0;}
.modale-foto-wrapper .nav a.next{right: 0;}
.modale-foto-wrapper .nav a span{
    position: absolute;
    left: -9999px;         
}


.modale-foto-wrapper .sidebar-modale-wrapper{
    position: static;
    width: 100%;
    height: 0;
}
.modale-foto-wrapper .sidebar-modale{
    position: static;
    width: 100%;
    background: rgba(34,30,30,0.8);
    padding: 15px 40px 65px;
    color: #fff;
}

.conteggio{
    position: fixed;
    top: 5px;
    left: 10px;
    z-index: 205;
}
.conteggio .currentElement{
    color: #fff;
    font-size: 40px;
    line-height: 40px;
    padding-right: 24px;
    position: relative;
}
.conteggio .currentElement:before{
    background: #fff;
    position: absolute;
    content: "";
    right: 12px;
    top: 7px;
    height: 35px;
    width: 1px;
    opacity: 0.5;
}
.conteggio .totElements{
    font-size: 18px;
    color: #fff;
    font-family: lato;
    position: relative;
    top: -15px;
    opacity: .9;
}

.modale-foto-wrapper .sidebar-modale h2{
    margin-bottom: 10px;
    font-size: 22px;
    color: #fff;
}
.modale-foto-wrapper .sidebar-modale p{
    color: #dfd0d0;
    font-size: 16px;
    line-height:1.3;
      font-style: italic;
}

.modale-foto-wrapper .sidebar-modale .jq-photoAbstractContainer h3:before{
    content:"Vai allo speciale:";
	display:block;
	padding-top: 25px;
	margin-top: 20px;
	margin-bottom: 5px;
	border-top: 1px solid #ccc;
}
.modale-foto-wrapper .sidebar-modale .jq-photoAbstractContainer h3{
	font-size: 16px;
}

.modale-foto-wrapper .sidebar-modale .azioni a{
    position: relative;
    text-decoration: none;
    display: inline-block;
    height: 34px;
    line-height: 34px;
    padding: 0 10px 0 32px;
    margin-top: 20px;
    color: #fff;
    font-size: 12px;
    background: #221e1e;
    border: 1px solid #c1b5b7;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;      
}
.modale-foto-wrapper .sidebar-modale .azioni a span{
    position: absolute;
    left: 10px;
    top: 10px;
    display:block;
    width: 13px;
    height: 13px;
    background: url("http://static.stbm.it/Share/images/sprite-modale.png") 0 -13px;
}
.modale-foto-wrapper .sidebar-modale .azioni a.altre-gallery span{
    background-position: -13px -13px;
}
.modale-foto-wrapper .sidebar-modale .azioni a.guarda-tutte{
    width: 120px;
    margin-right: 10px;
}
.modale-foto-wrapper .sidebar-modale .azioni a.open span{
    background-position: -26px -13px;
}

.modale-foto-wrapper .sidebar-modale .azioni a.open:after{
    content:"Torna alla foto";
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 90px;
    height: 32px;
    line-height: 32px;
    padding: 0 10px 0 0;
    background: #221e1e;
      border:none;
    color: #fff;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;  
}
.modale-foto-wrapper .sidebar-modale .azioni a.guarda-tutte.open:hover:after,
.modale-foto-wrapper .sidebar-modale .azioni a:hover{
    color: #fff; 
}



/*-- CONTENUTO per tablet e desktop --*/
@media only screen and (min-width: 801px){
    .modale-foto-wrapper{
        margin-top: 0;
    }
    .modale-foto-wrapper .foto-container{
        position: static;
        padding-right: 360px;
        margin-top: 0;
    } 
    .modale-foto-wrapper .foto-container .owl-carousel{
        background: #fff;    
    }
    .modale-foto-wrapper .foto-container h1{
        /* display:block !important; */
        padding: 30px 30px 60px;
        background: #fff;
        font-size: 15px;
        text-align: center;
        color: #000;
    }
    .modale-foto-wrapper .foto-container h1 em{
        color: #9e8189;    
    }

    .orionGalleryLevel .item .social{
        display: block;
    }
    .advCenter-wrapper{
        position: relative;
        height:100%;
     }
    .foto-container .advCenter iframe{
          position: absolute;
        top: 50%;
        margin-top: -125px;
    }
    .foto-container .advCenter-wrapper .continua{
        position: absolute;
        left: 50%;
        top: 50%;
        display:block;
        width: 300px;
        text-align:center;
        margin-top: 145px;
        margin-left: -150px;
    }
    .modale-foto-wrapper .nav{
        position: static;
        height: 0;
    }
    .modale-foto-wrapper .nav a{
        position: absolute;
        top: 280px;
        display: block;
        width: 60px;
        height: 106px;
        line-height: 106px;
        color: #fff;
        font-size: 60px;
        text-align: center;
  
    }
    .modale-foto-wrapper .nav a span{
        position: absolute;
        left: -9999px;         
    }
        
    .modale-foto-wrapper .sidebar-modale-wrapper{
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 0;
        max-width: 1600px;
    }
    .modale-foto-wrapper .sidebar-modale{
        position: static;
        float: right;
        width: 300px;
        background: transparent;
        padding: 0;
        margin-right: 30px;
        color: #000;
    }
    .modale-foto-wrapper .sidebar-modale h2{
        color: #000;
    }
    .conteggio{
        position: absolute;
        left: 30px;
        top: 20px;
              padding: 5px;
    }
    .conteggio .currentElement{
        font-size: 50px;
          	color: #fff !important;
    }
    .conteggio .currentElement:before{
        background: rgba(255,255,255,.7);
        top: 12px;
        height: 45px;
    }
    .conteggio .totElements{
        font-size: 25px;
        color: rgba(255,255,255,.7);
        top: -16px;
    }
    .modale-foto-wrapper .sidebar-modale h2{
        margin-bottom: 20px;
        margin-right: 70px;
        font-size: 22px;
    }
    .modale-foto-wrapper .sidebar-modale p{
        margin-right: 70px;
        color: #373031;
    }
    .modale-foto-wrapper .sidebar-modale .azioni a,
    .modale-foto-wrapper .sidebar-modale .azioni a.guarda-tutte.open:after{
        background: #f3eef0;
        color: #373031;    
    }
    .modale-foto-wrapper .sidebar-modale .azioni a:hover,
    .modale-foto-wrapper .sidebar-modale .azioni a.guarda-tutte.open:hover:after{
        color: #fff;    
    }
    .modale-foto-wrapper .sidebar-modale .azioni a span{
        background-position: 0 0;
    }
    .modale-foto-wrapper .sidebar-modale .azioni a.altre-gallery span{
        background-position: -13px 0;
    }
    .modale-foto-wrapper .sidebar-modale .azioni a.open span{
        background-position: -26px 0;
    }
    .modale-foto-wrapper .sidebar-modale .azioni a:hover span{
        background-position: 0 -13px;
    }
    .modale-foto-wrapper .sidebar-modale .azioni a.altre-gallery:hover span{
        background-position: -13px -13px;
    }
    .modale-foto-wrapper .sidebar-modale .azioni a.open:hover span{
        background-position: -26px -13px;
    }
    .modale-foto-wrapper .sidebar-modale .adv-300{
        position: static;
          height: 250px;
          margin-bottom: 20px;
    } 
    .modale-foto-wrapper .sidebar-modale .adv-300 iframe{
        width: 300px;
        height: 250px;
    }
}
/*-- //fine  CONTENUTO per tablet e desktop --*/

/*-- CONTENUTO per desktop da 1640 in su--*/
/*-- mostra i bordi sui pulsanti di navigazione sono da 1640 in su per evitare che ci sia lo scroll orizzontale --*/
@media only screen and (min-width: 1640px){ 
  .modale-foto-wrapper .nav a:after{
        content: "";
        position: absolute;
        right: 0;
        top:0;
        display: block;
        width: 20px;
        height: 106px;
        left: -20px;
    }
    .modale-foto-wrapper .nav a.next:after{
        left: inherit;
        right: -20px;
    }
}

/* solo per smartphone */
@media only screen and (max-width: 801px){
    .modale-foto-wrapper .foto-container h1{
        display: none !important;    
    }
}



/*------------------------------------*
    MODALE FOTO ** $THUMB CONTAINER
*------------------------------------*/
.thumb-container{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height:0;
    -webkit-transition:all .3s ease-in;
       -moz-transition:all .3s ease-in;
            transition:all .3s ease-in;
}
.modale-foto-wrapper .thumb-container.close{
    display:none;
}
.modale-foto-wrapper .thumb-container.open{
    z-index: 0;
    height: 100%;
}
.thumb-container > div{
    padding: 20px;
    background: #fff;
}
.thumb-container > div li{
    float: left;
    display:block; 
}

.thumb-container > div li{
    float:left;
    display:block;
      width:29%;
    margin:2%;
    /*width:18%;
    margin:1%;*/
}
.thumb-container > div li a{
    position:relative;
    display:block;
    height:150px;
    background:#f3eef0;
    border:2px solid #eadde2;
    -webkit-transition:all .2s ease-in;
       -moz-transition:all .2s ease-in;
            transition:all .2s ease-in;
}
.thumb-container > div li a:hover{
    background-color:#eadde2;
    border-color:#dac1cb;
}
.thumb-container > div li a img{
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    margin:auto; width:auto; height:auto; max-width:100%; max-height:100%;
}


/*-- THUMB CONTAINER per tablet e desktop  --*/
@media only screen and (min-width: 801px){
    .thumb-container{
        padding-right: 360px;
    }
    .thumb-container > div li{
        width:18%;
        margin:1%;
    }
}
/* controllo altezza */
@media only screen and (min-height: 801px){
	.thumb-container{
        min-height: 720px;
    }
}
/*-- //fine  THUMB CONTAINER per tablet e desktop --*/

/* div scroll per tutta la lunghezza della pagina - solo per mobile */
@media only screen and (max-width: 800px){
    .thumb-container .slimScrollDiv{
        position: fixed !important;
        width: 100% !important;;
        height: calc(100% - 100px) !important;
        padding: 0 10px;
    }
}
 /* //fine div scroll per tutta la lunghezza della pagina - solo per mobile */ 

  
/*------------------------------------*
    $FOTOSTORY
*------------------------------------*/  
/* Fotostory | da rivedere per fare mobile first */
.foto-container .descrizione{
    width: 100%;
    padding: 0 45px 30px;
    margin: 0 auto;
    background: #fff;
    color: #000;
} 
.foto-container .descrizione h4:before{
	content:"Leggi anche: ";
    display: inline;
    font-style: italic;
}
.foto-container .descrizione h4:after{
	content:"";
  position: absolute;
  display: inline-block;
  width: 100%;
	border-top: 1px solid #ccc;
  top: 0;
  left: 0;
}
.foto-container .descrizione h4{
  position: relative;
    padding-top: 20px;
	font-size: 16px;
}
.foto-container .descrizione h4 a:hover{
	text-decoration: underline;
}
.fotostory .item > h2{
    position: relative;
    font-size: 30px;
    line-height: 32px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 40px;
  	margin-top: 30px;
}
.fotostory .item >  h2:after{  
    content: "";  
    position:absolute;
    left: 50%;
    margin-left: -90px;
    bottom: 20px;
    display:block;
    width:180px;
    height: 1px;
    background: #ddd2d6;
}
.foto-container .descrizione p{
    font-size: 16px;
    line-height: 1.4;
}
.fotostory .sidebar-modale .descrizione h1 em{
	display: none;
}
/*-- FOTOSTORY per tablet e desktop --*/
@media only screen and (min-width: 801px){    
    .fotostory .item .descrizione{
    	float: left;
        display: block;
        width: 60%;
        padding: 0 20px 60px 90px;
        text-align: left;
    }  
    .foto-container .descrizione h4{
        font-size: 18px;
        line-height: 1.5;
        margin-top: 20px;
    }
    .fotostory .item > h2{  
        width: 60%;
        margin: 30px auto 0;
        padding-bottom: 80px;
        font-size: 50px;
        line-height: 54px;
    }
    .fotostory .item > h2:after{
        bottom: 40px;
    }
    .foto-container .descrizione p{
      	padding: 0;
        font-size:22px;
    }
		.fotostory .item .pic{
  		float:right;
      width: 40%;
		}
}    
/*-- //fine FOTOSTORY per tablet e desktop --*/


/* Thumb gallery */
@media only screen and (max-width: 801px){
    .modale-foto-wrapper .sidebar-modale-wrapper.thumb-box-open{
        position: fixed !important;
        width: 100%;
        width: 130px;
        height: 50px;
        top: 0;
        z-index: 2;
    }
    .modale-foto-wrapper .sidebar-modale-wrapper.thumb-box-open .customNavigation{
        display: none;
    }
    .modale-foto-wrapper .thumb-box-open .sidebar-modale{
        position: static !important;
        top: inherit;
        padding:9px 0 0 15px;
        background: transparent;
    }
    .thumb-box-open .descrizione{
        display:none;
    }
    .modale-foto-wrapper .thumb-box-open .sidebar-modale .azioni a{
        margin-top:0;
        border-color:#fff;
    }
    .modale-foto-wrapper .thumb-box-open .sidebar-modale .azioni a.altre-gallery{
        display: none;
    }
}


/*------------------------------------*
    $MODALE FOTO "FAKE"
*------------------------------------*/
body.orionGallery .orionGalleryLevel--fake{
    display: none;
}

.orionGalleryLevel--fake .item--statico{
    max-width: 100%;
    background: #fff;
}
.orionGalleryLevel--fake .item--statico .pic{
    max-width: 100%;
}




/*------------------------------------*
    $FOTOSTORY
*------------------------------------*/

/* fotostory solo per smartphone e alcuni tablet */
@media only screen and (max-width: 801px){
    .fotostory{
        background: #fff;
    }
    .fotostory .modale-foto-wrapper{
    		background: #221e1e;
		}
    .fotostory .modale-foto-wrapper .owl-item{
    		background: #fff;
		}
    .fotostory .modale-foto-wrapper .foto-container,
    .fotostory .modale-foto-wrapper .sidebar-modale-wrapper,
    .fotostory .modale-foto-wrapper .sidebar-modale-wrapper .sidebar-modale{
        position: static;
        height: auto;
    }
    .fotostory .modale-foto-wrapper .sidebar-modale-wrapper .sidebar-modale{
        padding-bottom: 105px;
        background: #221e1e;
    }
    .fotostory .modale-foto-wrapper .sidebar-modale h1{
        font-size: 22px; 
        color: #fff;
    }
    .fotostory .modale-foto-wrapper .sidebar-modale h1 em{
        display: none;
    }

/* Thumb gallery  */
    .fotostory .modale-foto-wrapper .thumb-box-open .sidebar-modale{
        background: transparent;
    }
}
/* //fine fotostory solo per smartphone e alcuni tablet  */

/* fotostory solo per tablet e desktop */
@media only screen and (min-width: 800px){
    .fotostory .modale-foto-wrapper .foto-container{
        height: 100%;
    }
    .fotostory .modale-foto-wrapper .sidebar-modale h1{
        margin-right: 70px;
        margin-bottom: 10px;
        font-size: 22px; 
    }
}
/* //fine fotostory solo per tablet e desktop */



/*------------------------------------*
    $FOTOSTORY "FAKE"
*------------------------------------*/
.orionGalleryLevel--fake.orionFotostory .sidebar-modale h1{
    font-size: 22px; 
}




/* da cancellare quando sarà online 'altre gallery' */
.modale-foto-wrapper .sidebar-modale .azioni a.altre-gallery{
    display:none !important;
}