/* SKIN ATTIVA */
.skinActive .wrapper {
    z-index: 1;
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {
    
    .skinActive .wrapper {
        max-width: 1000px;
        margin: 0 auto;
        margin-top: 95px;
    }

    .skinActive .main-nav-with-cover {
        max-width: 1000px;
        margin: 0 auto;
    }

    .skinActive .main-nav-with-cover .main-nav ul li a {
        margin: 0 4.4px;
    }

    .skinActive .main-nav-with-cover .main-nav-wrap {
        margin-top: 497px !important;
    }

    .skinActive .pp-cover-wrapper {
        max-width: 1000px;
        left: 50%;
        margin-left: -500px;
        top: 170px;
    }

    .skinActive .pp-cover-wrapper .pp-cover,
    .skinActive .pp-cover-wrapper .pp-cover a,
    .skinActive .pp-cover-wrapper .pp-cover a img {
        width: 1000px;
        height: 417px;
    }

    .skinActive .pp-cover-wrapper .pp-cover a img {
        margin-left: -500px;
    }

    .skinActive .pp-cover-wrapper .pp-cover a header {
        padding-top: 160px;
    }

    .skinActive .pp-cover-wrapper .pp-cover h2 {
        font-size: 46px;
    }

    .skinActive .wrapper-home--pp-cover .wrapper {
    margin-top: 0;
    }

    .skinActive .pp-wide-medium header h2 {
        font-size: 40px;
    }

    .skinActive .sidebar {
        width: 300px !important;
    }

    .skinActive .sidebar .adv300 {
        padding: 0;
    }
    
    .skinActive .side-sponsored article figure {
        height: auto !important;
        width: 110px;
        margin-right: 15px;
    }

    .skinActive .side-sponsored article h2 {
        font-size: 18px;
    }

    .skinActive .blocco-slider {
        width: 1000px;
        margin: 0 auto;
    }
    
    .skinActive .container.with-border .blocco-slider {
        width: 940px;
    }

    .skinActive .blocco-slider--foto .swiper-wrapper,
    .skinActive .blocco-slider--video .swiper-wrapper {
        left: -25% !important;
    }

    .skinActive .adv-leaderboard-top {
        margin: 85px auto -98px !important;
        width: 1200px;
        padding: 3px 0 0px;
        background: #222;
        position: relative;
        z-index: 1;
    }

    .skinActive .box-aside article > .pic,
    .skinActive .box-aside--quiz .item-quiz,
    .skinActive .box-aside article > figure,
    .skinActive .box-aside--ebook .item-ebook:nth-of-type(1) .pic {
        margin-left: 15px !important;
        margin-right: 15px  !important;
    }

    .skinActive .box-aside--ebook .item-ebook {
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 30px;
    }

    .skinActive .box-aside--quiz .item-quiz .pic {
        margin: 0 !important;
    }

    .skinActive .box-aside--ebook .item-ebook .pic {
        margin: 0 10px 10px 0 !important;
    }

    .skinActive .box-aside--ebook .item-ebook h2,
    .skinActive .box-aside--ebook .item-ebook h2 {
        margin-left: 10px;
    }

    .skinActive .foglia .correlati_bigbottom .articolo-anteprima figure a.pic {
        height: 190px;
    }

    .skinActive .foglia .correlati_bigbottom .articolo-anteprima figure a.pic img {
        min-height: 190px;
    }

    .skinActive .foglia .foglia-title h2 {
        width: 670px;
    }

    .skinActive .foglia .foglia-title .foglia-header-adsense {
        margin-left: -100px;
    }

    .skinActive .box_next_article {
        width: 300px !important;
    }

    .skinActive .box_next_article h3 {
        font-size: 22px;
    }

    .skinActive .box_next_article p {
        font-size: 16px;
    }

    .skinActive .foglia .foglia-gallery.vertical .gallery-img-container,
    .skinActive .foglia .foglia-gallery.horizontal .gallery-img-container {
        max-width: 310px;
        min-width: 280px;
    }

    .skinActive .foglia .foglia-gallery.horizontal .gallery-img-container {
        max-width: 360px;
    }

    .skinActive .art-oroscopo-content ul li a {
        font-size: 12px;
        padding: 10px 8px;
    }

    .skinActive .adv-leaderboard-top {
        margin: 75px auto -98px !important;
        width: 1000px;
        padding: 3px 0 0px;
        background: #222;    
        z-index: 1;
    }

    .skinActive .blocco-network li a {
        height: auto;
        padding: 25px 0;
    }

    .skinActive .blocco-network li h2 {
        width: 110px;
        height: 90px;
        margin: 0 auto;
        background-size: 193px auto;
    }

    .skinActive .blocco-network .ricette-per-bambini h2 {
        background-position: center -12px;
    }

    .skinActive .blocco-network .soluzioni-di-casa h2 {
        background-position: center -130px;
    }

    .skinActive .blocco-network .cookaround h2 {
        background-position: center -247px;
    }

    .skinActive .blocco-network .invidia h2 {
        background-position: center -366px;
    }

    .skinActive .blocco-network .pianeta-mamma h2 {
        background-position: center -498px;
    }

    .skinActive .blocco-network .my-personal-trainer h2 {
        background-position: center -635px;
    }

    .skinActive .blocco-network .clio-make-up h2 {
        background-position: center -765px;
    }

    .skinActive .blocco-network li h3 {
        display: none;
    }

    .skinActive .cat_details .cat-header-adsense {
        margin-left: -30px;
        margin-right: -30px;
    }

    .skinActive .articolo-anteprima.art-pp-lista figure,
    .skinActive .articolo-anteprima .adv-art-pp-lista {
        width: 45%;
        min-width:  293px;
    }

    .skinActive .articolo-anteprima.art-pp-lista header .categoria,
    .skinActive .articolo-anteprima.art-pp-lista header .categoria span {
        height: 26px;
        line-height: 26px;
    }

    .skinActive .articolo-anteprima.art-pp-lista header .categoria:before {
        bottom: -25px;
        font-size: 23px;
    }

    .skinActive .articolo-anteprima.art-pp-lista h2 {
        margin-top: 10px;
    }

    .skinActive .contenuticliente .articolo-anteprima.art-pp-lista h2 {
        margin-top: -3px;
    }

    .skinActive .articolo-anteprima.art-pp-lista h2,
    .skinActive .listato-orizzontale .articolo-anteprima h2,
    .skinActive .custom-griglia-due-colonne .articolo-anteprima h2 {
        font-size: 24px;
    }

    .skinActive .articolo-anteprima.art-pp-lista p, 
    .skinActive .listato-orizzontale .articolo-anteprima p,
    .skinActive .custom-griglia-due-colonne .articolo-anteprima p {   
        font-size: 17px;
    }

    .skinActive .articolo-anteprima.art-pp-lista header {
    margin-bottom: 5px;
    }

    .skinActive .articolo-anteprima p span,
    .skinActive .listato-orizzontale .articolo-anteprima p span,
    .skinActive .custom-griglia-due-colonne .articolo-anteprima p span {
        font-size: 12px;
    }

    .skinActive .articolo-anteprima p a:after,
    .skinActive .listato-orizzontale .articolo-anteprima p a:after,
    .skinActive .custom-griglia-due-colonne .articolo-anteprima p a:after {
        line-height: 1;
    }

    .skinActive .gravidanza-menu,
    .skinActive .blocco-slider--gravidanza  {
        width: 1000px;
    }

    /* Testatina speciali */

    .skinActive .testata-spc-new .testata-spc-head h2 {
        font-size: 26px;
        max-width: 625px;
        line-height: 1.4;       
        margin: 13px 0 0 15px;
        height: 40px;   
    }

    .skinActive .testata-spc-new .testata-spc-head .testata-spc-label {     
        padding: 0 8px;
    }

    .skinActive .testata-spc-new .testata-spc-head .testata-spc-label:hover {
        padding-right: 12px;
    }

    .skinActive .testata-spc-new .testata-spc-head .testata-spc-label b {   
        font-size: 11px;
    }
    
    .skinActive .testata-spc-new .logo-sponsor .logo-sponsor-text { 
        font-size: 13px;
    } 

    .skinActive .testata-spc-new .testata-spc-links ul li.vedi-altri-link h2 { 
        display:  none !important;
    }

    .skinActive .testata-spc-new .testata-spc-links, 
    .skinActive .testata-spc-new .testata-spc-links ul li.vedi-altri-link, 
    .skinActive .testata-spc-new .testata-spc-links ul li .testata-spc-links-img {
        height: 100px;
    }

    .skinActive .testata-spc-new .testata-spc-links ul li.vedi-altri-link a:before {
        top: 0;
    }

    .skinActive .testata-spc-new .testata-spc-links ul li h2 {    
        font-size: 14px;
        line-height:  1.2;
        left:  5px;
    } 
    
    /* slider speciali */
    .articolo-anteprima--spc{max-width: 294px;}
    .articolo-anteprima--spc figure a .categoria{font-size:11px;}

}

@media only screen and (min-width: 1367px) {

    .skinActive .wrapper {
        max-width: 1200px;
        margin: 0 auto;
        margin-top: 95px;
    }

    .skinActive .main-nav-with-cover {
        max-width: 1200px;
        margin: 0 auto;
    }

    .skinActive .main-nav-with-cover .main-nav-wrap {
        margin-top: 580px !important;
    }

    .skinActive .pp-cover-wrapper {
        max-width: 1200px;
        left: 50%;
        margin-left: -600px;
        top: 170px;
    }

    .skinActive .pp-cover-wrapper .pp-cover,
    .skinActive .pp-cover-wrapper .pp-cover a,
    .skinActive .pp-cover-wrapper .pp-cover a img {
        width: 1200px;
        height: 500px;
    }

    .skinActive .pp-cover-wrapper .pp-cover a img {
        margin-left: -600px;
    }

    .skinActive .pp-cover-wrapper .pp-cover a header {
        padding-top: 230px;
    }

    .skinActive .pp-cover-wrapper .pp-cover h2 {
        font-size: 46px;
    }

    .skinActive .wrapper-home--pp-cover .wrapper {
        margin-top: 0;
    }

    .skinActive .blocco-slider {
        width: 1200px;
        margin: 0 auto;
    }

    .skinActive .container.with-border .blocco-slider {
        width: 1140px;
    }

    .skinActive .adv-leaderboard-top {
        margin: 85px auto -98px !important;
        width: 1200px;
        padding: 3px 0 0px;
        background: #222;
        position: relative;
    }

    .skinActive .foglia .correlati_bigbottom .articolo-anteprima figure a.pic {
        height: 190px;
    }

    .skinActive .foglia .correlati_bigbottom .articolo-anteprima figure a.pic img {
        min-height: 190px;
    }

}

.skinActive .gravidanza-menu {
    padding: 0 30px;
}

.skinActive .with-border .gravidanza-menu {
    padding: 0 0 0 30px;
    margin-bottom: 20px;
}

/* testatina speciale */
@media only screen and (min-width: 600px){
    .skinActive .testata-spc-home .testata-spc-head-link h2{
    	font-size: 45px;
	}
}