@media screen and (max-width: 768px) {
  #grid[data-columns]::before {
    content: '1 .column.size-1of1';
  }
}
@media screen and (min-width: 769px) {
  #grid[data-columns]::before {
    content: '2 .column.size-1of2';
  }
}
@media (max-width: 1100px) {
  body {
    padding: 72px 0px 0px 0px;
  }
  .navbar-nav {
    display: none;
  }
  .navbar-header {
    width: 100%;
  }
  .navbar-header .navbar-toggle {
    display: block;
    float: right;
  }
  .navbar > .container-fluid > .navbar-header .navbar-brand > img {
    height: 30px;
  }
}
@media (min-width: 1101px) {
  #mobile-nav {
    display: none;
  }
  body.mobile-menu {
    overflow: scroll;
  }
}
@media (min-width: 992px) {
  .hero-video .video {
    padding: 0px 50px;
  }
}
@media (max-width: 768px) {
  .navbar .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }
  .mobile-navigation > .mobile-links ul > li > a {
    padding: 0px 15px;
  }
  .mobile-navigation > .mobile-links ul > li > .dropdown-menu > li > a {
    padding: 0px 30px;
  }
  .hero-video .container h1 {
    margin-bottom: 30px;
  }
  .hero-video .video {
    margin-bottom: 30px;
  }
  .call-to-action {
    text-align: center;
  }
  .call-to-action .more {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }
  .call-to-action .btn {
    float: none !important;
    display: inline-block !important;
  }
}
@media (max-width: 992px) {
  .row-flex {
    display: block;
  }
  .row-flex.mb-100 {
    margin-bottom: 50px;
  }
  .feature-description-content {
    float: left;
    width: 100%;
    display: block;
    text-align: center;
  }
  .feature-description-content.right {
    padding: 30px 0px 0px 0px !important;
  }
  .feature-description-content.left {
    padding: 30px 0px 0px 0px !important;
  }
}
@media (max-width: 1200px) {
  
}
@media (max-width: 767px) {
  .content-block .container {
    padding: 30px 15px;
  }
  .content-block .text h1 {
    font-size: 26px;
  }
  .content-block .text h2 {
    font-size: 20px;
  }
  .content-block .side {
    display: none;
  }
  .hero-new h1 {
    text-align: left;
    font-size: 26px;
    line-height: 130%;
  }
  .pricing-list li .col-xs-12 {
    padding: 0px 30px 15px 30px;
  }
  .pay-option li a {
    font-size: 14px;
  }
}
