/***************************/
/*******  VARIABLES ********/
/***************************/
/* colors */
/* transformations */
/* font */
/* img path */
/* font social icons */
@font-face {
  font-family: 'socicon';
  src: url('webfonts/newsletter-landing/socicon-webfont.eot');
  src: url('webfonts/newsletter-landing/socicon-webfont.eot?#iefix') format('embedded-opentype'), url('webfonts/newsletter-landing/socicon-webfont.woff') format('woff'), url('webfonts/newsletter-landing/socicon-webfont.ttf') format('truetype'), url('webfonts/newsletter-landing/socicon-webfont.svg#sociconregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/**************************/
/********** MAIN **********/
/**************************/
/*** START MEDIA QUERIES ***/
@media screen and (max-width: 400px) {
  .row .chapters-block .chapter {
    width: 33.33% !important;
  }
  .row .chapters-block .chapter:nth-child(9) {
    width: 33.33% !important;
  }
  .row .chapters-block .chapter:last-child {
    width: 100% !important;
  }
}
@media screen and (max-width: 500px) {
  .unlimited-guide .ultimate-guide-head.ultimate-guide-hero.content-block {
    min-height: 1px!important;
    height: auto!important;
  }
}
@media screen and (max-width: 553px) {
  .chapters-block .chapter {
    width: 25% !important;
  }
  .chapters-block .chapter:nth-child(9) {
    width: 50% !important;
  }
  .chapters-block .chapter:nth-child(10) {
    width: 50% !important;
  }
}
@media screen and (max-width: 600px) {
  .ultimate-guide-head.ultimate-guide-hero.content-block {
    min-height: 850px!important;
  }
}
@media screen and (max-width: 767px) {
  .ultimate-guide-head.ultimate-guide-hero {
    min-height: 710px!important;
  }
  .ultimate-guide-head h1 {
    margin: 25px 0px!important;
    font-size: 25px!important;
  }
  .ultimate-guide .container {
    padding: 25px 15px 0px!important;
  }
  .guides-comment .comment {
    margin-bottom: 0px;
  }
  .guides-comment .comment:after {
    left: 50%!important;
    margin-left: -8px;
    top: -30px !important;
    border: 15px solid!important;
    border-color: transparent transparent #f1f1f1 transparent !important;
  }
  .guides-comment .author {
    margin-bottom: 25px!important;
  }
  .guides-subscribe {
    margin: 25px 0px!important;
  }
  .guides-subscribe .input-group {
    width: 100%;
  }
  .guides-subscribe .input-group input.form-control {
    width: 100%;
    margin-bottom: 15px;
    display: block;
  }
  .guides-subscribe .input-group span.input-group-btn {
    width: 100%;
    display: block;
    float: left;
    padding-left: 0px!important;
  }
  .guides-subscribe .input-group span.input-group-btn button {
    width: 100%;
  }
}
@media screen and (max-width: 992px) {
  .single-page .chapters-block.desktop {
    display: none!important;
  }
  .single-page .chapters-block .chapter {
    padding: 5px!important;
  }
  .single-page .chapters-block.mobile {
    display: block!important;
    border-bottom: 2px solid #009842 !important;
    position: relative;
    background: #00a154;
    height: 97px;
  }
  .single-page .chapters-block.mobile .nav {
    display: block!important;
    margin: 0px!important;
    width: 100%!important;
  }
  .single-page .chapters-block.mobile .dropdown {
    float: none!important;
  }
  .single-page .chapters-block.mobile .navigation {
    height: 50px;
    width: 50px;
    display: block;
  }
  .single-page .chapters-block.mobile .dropdown-toggle {
    height: 93px;
    padding: 23px;
    background: #00a154;
    width: 91px;
  }
  .single-page .chapters-block.mobile .dropdown-toggle .glyphicon {
    color: #ffffff;
    font-size: 20px;
    padding: 10px;
    border: 2px solid #ffffff;
    border-radius: 5px;
  }
  .single-page .chapters-block.mobile .dropdown-toggle:hover .glyphicon {
    background: #009842 !important;
  }
  .single-page .chapters-block.mobile .dropdown-toggle:focus,
  .single-page .chapters-block.mobile .dropdown-toggle:hover,
  .single-page .chapters-block.mobile .dropdown-toggle:active {
    background: #00a154;
  }
  .single-page .chapters-block.mobile .dropdown-toggle:focus .glyphicon,
  .single-page .chapters-block.mobile .dropdown-toggle:hover .glyphicon,
  .single-page .chapters-block.mobile .dropdown-toggle:active .glyphicon {
    color: #ffffff;
    border-color: #ffffff;
  }
  .single-page .chapters-block.mobile .dropdown-toggle a {
    background: #00a154;
  }
  .single-page .chapters-block.mobile .dropdown-toggle a:active,
  .single-page .chapters-block.mobile .dropdown-toggle a:focus,
  .single-page .chapters-block.mobile .dropdown-toggle a:hover {
    background: #00a154;
  }
  .single-page .chapters-block.mobile .dropdown-menu {
    border-radius: 0px;
    border-right: none;
    border-left: none!important;
    border-top: none!important;
    border-bottom: 2px solid #009842;
    box-shadow: none;
    margin-top: 2px;
    padding: 0px;
    position: relative;
    width: 100%;
  }
  .single-page .chapters-block.mobile .dropdown-menu li a {
    color: #ffffff !important;
    font-family: 'ProximaNova-Bold', sans-serif;
    padding: 15px;
    border-bottom: 2px solid #009842;
    background: #00a154 !important;
  }
  .single-page .chapters-block.mobile .dropdown-menu li:hover,
  .single-page .chapters-block.mobile .dropdown-menu li:active,
  .single-page .chapters-block.mobile .dropdown-menu li:focus {
    background: #01904c !important;
  }
  .single-page .chapters-block.mobile .dropdown-menu li:hover a,
  .single-page .chapters-block.mobile .dropdown-menu li:active a,
  .single-page .chapters-block.mobile .dropdown-menu li:focus a {
    background: #01904c !important;
  }
  .single-page .chapters-block.mobile .dropdown-menu li:last-child a {
    border-bottom: none !important;
  }
  .single-page .chapters-block.mobile .dropdown-menu li.active a {
    color: #00a154 !important;
    background: white!important;
  }
  .single-page .chapters-block.mobile .chapter {
    width: 130px!important;
    background: #ffffff !important;
    border-bottom: none!important;
    border-left: 2px solid #009842 !important;
    position: absolute;
    right: 0;
    bottom: -2px;
    top: 0;
  }
  .single-page .chapters-block.mobile .chapter span,
  .single-page .chapters-block.mobile .chapter h4 {
    color: #00a154;
  }
  .chapter {
    width: 20%!important;
  }
  .ultimate-guide-head.ultimate-guide-hero .chapters-block {
    position: relative!important;
  }
  .ultimate-guide-head h1 a {
    text-decoration: none;
  }
  .ultimate-guide-head h1 a:hover {
    text-decoration: none;
  }
  .ultimate-guide-head h1 a:focus {
    text-decoration: none;
  }
}
@media screen and (max-width: 1400px) {
  .chapters-block .chapter {
    padding: 10px 0px!important;
  }
}
/*** END MEDIA QUERIES ***/
.Tcenter {
  text-align: center;
}
.ultimate-guide-hero.ultimate-guide-head {
  background: url('../../images/guides/hero-cover.png') no-repeat top left #d5d5d5;
  background-size: cover;
  display: flex;
  -moz-box-align: center;
  align-items: center;
  position: relative;
  min-height: 560px;
}
.ultimate-guide-hero.ultimate-guide-head h1 {
  color: #ffffff;
  font-family: 'ProximaNova-Bold', sans-serif;
  font-size: 56px!important;
  padding: 0px 25px;
  margin-top: 0px!important;
}
.ultimate-guide-hero.ultimate-guide-head .chapters-block {
  border-top: 0px;
  position: absolute;
  left: 0;
  bottom: 0;
}
body.unlimited-guide #intercom-container {
  display: none!important;
}
.ultimate-guide-head {
  border-bottom: 0px;
  background: url('../../images/guides/covermain.png') no-repeat center center #ffffff;
  background-size: cover;
}
.ultimate-guide-head .row {
  margin: 0px;
}
.ultimate-guide-head h2 {
  font-family: 'ProximaNova-Bold', sans-serif;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 25px;
  font-size: 36px;
  color: #000000;
}
.ultimate-guide-head h2 a {
  color: #000000;
}
.ultimate-guide-head h2 a:focus {
  text-decoration: none;
}
.ultimate-guide-head h2 a:hover {
  color: #00a154;
}
.ultimate-guide-head.single-page .chapters-block .chapter.active {
  background: #ffffff;
  border-bottom: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
}
.ultimate-guide-head.single-page .chapters-block .chapter.active h4,
.ultimate-guide-head.single-page .chapters-block .chapter.active span {
  color: #00a154;
}
.ultimate-guide-head.single-page h1 a {
  color: #000000;
  border: none;
}
.ultimate-guide-head.single-page h1 a:hover {
  color: #00a154;
  text-decoration: underline;
}
.ultimate-guide-head .container-fluid {
  padding: 0px;
}
.ultimate-guide {
  background-color: #ffffff;
}
.ultimate-guide .container {
  padding-top: 100px;
  padding-bottom: 100px;
}
.ultimate-guide.single-page .container {
  padding-top: 50px;
  padding-bottom: 50px;
}
.ultimate-guide.single-page h1 {
  text-align: left;
  font-size: 30px;
  color: #000000;
}
.ultimate-guide.single-page p {
  margin-bottom: 30px;
  font-size: 22px;
}
.chapters-block {
  width: 100%;
  border-top: 2px solid #eaedf1;
  float: left;
  padding: 0px;
}
.chapters-block .chapter {
  width: 10%;
  float: left;
  box-sizing: border-box;
  text-align: center;
  border-bottom: 2px solid #009842;
  border-right: 2px solid #009842;
  background-color: #00a154;
  padding: 20px 0px;
}
.chapters-block .chapter div {
  padding-bottom: 10px;
}
.chapters-block .chapter h4 {
  font-size: 15px;
  text-align: center;
  padding: 0px;
  margin: 0px;
  font-family: 'ProximaNova-Bold', sans-serif;
  color: #ffffff;
  display: inline-block;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}
.chapters-block .chapter h4 a {
  text-decoration: none;
  border: none;
  color: #5b5b5b;
}
.chapters-block .chapter span {
  font-family: ProximaNova-Bold, sans-serif;
  font-weight: 800;
  font-size: 50px;
  color: #ffffff;
  display: block;
  width: auto;
  text-align: center;
  line-height: 40px;
  padding: 15px 0px 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}
.chapters-block .chapter:hover {
  background: #01904c;
}
.chapters-block .chapter:hover a {
  text-decoration: none;
}
.chapters-block .chapter:last-child {
  border-right: none;
}
.chapters-block .chapter a h4,
.chapters-block .chapter a span {
  cursor: pointer!important;
}
.chapters-block .chapter a:hover,
.chapters-block .chapter a:focus {
  text-decoration: none!important;
  border-bottom: none!important;
}
.guides-comment .comment {
  background: #f1f1f1;
  border-radius: 20px 20px 20px 20px;
}
.guides-comment .comment p {
  font-size: 16px;
  font-style: italic;
}
.guides-comment .comment:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -60px;
  top: 40px;
  border: 30px solid;
  border-color: transparent #f1f1f1 transparent transparent;
}
.guides-comment .comment h5 {
  font-size: 20px;
  line-height: 150%;
  font-family: ProximaNova-Bold;
  font-weight: normal;
  margin: 0px 0px 10px 0px;
}
.guides-comment .author img {
  border-radius: 50%;
  margin: 0 auto;
  float: none;
}
.guides-comment .author .description {
  text-align: center;
  color: #ffffff;
}
.guides-comment .author .description h6,
.guides-comment .author .description span {
  color: #ffffff;
  font-family: 'ProximaNova-Bold', sans-serif;
}
.guides-comment .author .description h6 {
  font-size: 22px;
}
.guides-subscribe {
  margin-top: 50px;
}
.guides-subscribe h4 {
  font-family: 'ProximaNova-Bold', sans-serif;
  color: #666666;
  font-size: 25px;
  text-align: left;
  margin-bottom: 25px;
}
.guides-subscribe .subscribe-form .ml-subscribe-form {
  padding: 0px;
  background: #f1f1f1;
}
.guides-subscribe .subscribe-form .ml-subscribe-form .ml-block-form {
  padding: 20px;
}
.guides-subscribe .subscribe-form .ml-subscribe-form .ml-block-form input {
  border-right: 2px solid #cccccc;
  border-radius: 4px!important;
}
.guides-subscribe .subscribe-form .ml-subscribe-form .ml-block-form input:active,
.guides-subscribe .subscribe-form .ml-subscribe-form .ml-block-form input:focus {
  border-color: #00a154;
}
.guides-subscribe .subscribe-form .ml-subscribe-form .ml-block-form .input-group-btn {
  padding-left: 20px;
}
.guides-subscribe .subscribe-form .ml-subscribe-form .ml-block-form .input-group-btn button {
  border-radius: 4px;
}
.guides-subscribe .ml-block-success {
  padding: 20px;
  color: #666666;
  font-size: 18px;
  display: block;
}
.single-page .chapters-block.mobile {
  display: none;
}
.single-page .outstand {
  padding-left: 25px;
  border-left: 5px solid #666666;
  font-family: 'ProximaNova-Bold', sans-serif;
  color: #666666;
}
ul.guides-ul {
  margin: 0px;
}
ul.guides-ul li {
  margin-bottom: 10px;
  font-family: 'ProximaNova-Bold', sans-serif;
  font-size: 18px;
  list-style: none;
}
ul.guides-ul li a {
  color: #00a154;
  font-size: 22px;
  padding-bottom: 3px;
}
ul.guides-ul li:before {
  content: "";
  border-color: transparent #00a154;
  border-style: solid;
  border-width: 7px 0 7px 7px;
  display: block;
  height: 0;
  width: 0;
  left: -20px;
  top: 20px;
  position: relative;
}
