/* Fanpage.it - news */
/* Mixin */
.category-header,
.menu-sub,
.sezioni ul li .section-point {
  background: #dbdad3;
  color: #333;
}
.menu-wrapper li a.selected .menu-arrow {
  border-color: transparent transparent #dbdad3 transparent;
}
p a,
.article-body ul li a,
.article-body ol li a {
  color: #333;
}
.article-body .art_summaryBox .label-general,
.article-body .summarySectionNum {
  background: #333 !important;
}
.article-body .summarySectionItem {
  color: #666 !important;
}
