/*body {
	font-family: 'Lucida Grande', 'segoe UI', 'ヒラギノ丸ゴ ProN W4', 'Hiragino Maru Gothic ProN', Meiryo, Arial, sans-serif;
}*/

body {
	font-family: Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
	font-size: 16px;
	counter-reset: lsdb-num;
}

a {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	tap-highlight-color: rgba(0, 0, 0, 0);
}

a:hover {
	/*transition-duration: 0.2s;*/
}

.field-name-body {
	line-height: 1.8em;
}

.field-name-body p a {
	text-decoration: underline;
}

.contents_navi a {
	text-decoration: none;
}

.line-stamp-button a {
	text-decoration: none;
}

.region-sidebar-second a,
#block-views-related-block-6 .view-related .item-list ul li a,
#block-views-recent-article-block-2  .views-row  .views-field-title {
	font-weight: bold;
}

.view-header {
	font-size: 18px;
	line-height: 18px;
	height: 18px;
	margin-top: 15px;
}

.line-stamp-button {
	padding: 1em 0 0;
}

.ad-inside {
	margin-top: 20px;
	text-align:center;
}

.node-type-article .field-name-body ul,
.node-type-article .field-name-body ol {
	margin-top: 1em;
	margin-bottom: 1em;
}

.node-type-article .field-name-body li ul,
.node-type-article .field-name-body li ol{
	margin-top: 0;
	margin-bottom: 0;
}

#footer #block-block-53 .footer-btt {
	position: fixed;
	bottom: 10px;
	right: 10px;
	width: 46px;
	z-index: 999;
	display: none;
}

#footer #block-block-53 .footer-btt a {
	color: #fff;
	background: rgba(34,34,34,0.9);
	display: block;
	text-align: center;
	padding: 15px;
	border-radius: 2px;
}

#footer #block-block-53 .footer-btt a:hover {
	background: rgba(34,34,34,0.7);
}

.node-type-article .field-name-body p,
.annotation-box {
	margin: 1em 25px 0;
}

.node-type-article .field-name-body p:first-child {
	margin: 0 25px;
}

@media only screen and (max-width: 480px) {
.node-type-article .field-name-body p,
.annotation-box {
	margin: 1em 5px 0;
}
.node-type-article .field-name-body p:first-child {
	margin: 0 5px 0;
}

.node-type-article .field-name-body p.width-cover-img:first-child {
	margin-top: 0;
}

.node {
	font-size: 16px;
	line-height: 1.5em;
	/*padding: 0 0 0 0;*/
}
.field-name-body {
	line-height: 1.5em;
}
.field-name-body h4 {
	font-size: 1em;
	padding-left: 5px;
}
.ad-inside {
	width: 300px;
	margin: 20px auto;
}
}

@media only screen and (max-width: 768px) and (min-width: 481px) {
.node {
	/*padding: 0 0 0 0;*/
}
}

@media only screen and (max-width: 768px)  {
.node-type-article .field-name-body p.width-cover-img {
	margin: 1em -10px 0 -10px;
}
.node-type-article .field-name-body p:first-child {
	margin-top: 0;
}
.node-type-article .field-name-body h2,
.node-type-article .field-name-body h3 {
	margin-left: -10px;
	margin-right: -10px;
}
.node-type-article .field-name-body h2.h-width-cover-img  {
	margin-bottom: 0;
}
.node-type-article .field-name-body h2.h-width-cover-img + p.width-cover-img {
	margin-top: 0;
}
#table_contents {
    margin-left: -10px;
    margin-right: -10px;
}
}

/****2015/03/30****/
/*インスタグラム*/
.instagram-media {
	margin-bottom: 20px !important;
}

/*記事下フォローボタン*/
#main-content aside #block-block-60 .block-inner {
	margin: 0px 10px;
}

.follow-box {
	padding: 10px 0px;
	/*border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;*/
	width: 100%;
	max-width: 620px;
	margin: 0 auto;
	background: #eee;
}

.follow-box-text{
	margin-bottom: 5px;
	text-align: center;
	color: #777;
}

.follow-box-bottom-text{
	text-align: center;
	color: #777;
}

.fb-like-button-box{
	padding: 5px 0;
	transform: scale(1.5);
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	width: 111px;
	margin: 0px auto;
	text-align: center !important;
}

.android .fb-like-button-box,
.ipod .fb-like-button-box,
.iphone .fb-like-button-box,
.ipad .fb-like-button-box,
.mobile .fb-like-button-box {
	transform: scale(2);
	-webkit-transform: scale(2);
	-moz-transform: scale(2);
	padding: 10px 0;
}

.tw-follow-button-box{
	margin: 0px auto 5px;
	text-align: center !important;
}

.line-friend-button-box {
	text-align: center;
	height: 40px;
	z-index: 10;
	position: relative;
	margin-bottom: 0px;
	display: none;
}

.android .line-friend-button-box,
.ipod .line-friend-button-box,
.iphone .line-friend-button-box,
.ipad .line-friend-button-box,
.mobile .line-friend-button-box {
	display: block;
}

#block-block-60 {
	display: none;
}

.android #block-block-60,
.ipod #block-block-60,
.iphone #block-block-60,
.ipad #block-block-60,
.mobile #block-block-60 {
	display: block;
}

/*右下フォローブロック*/
#block-block-54 .fb-page {
	margin-bottom: 10px;
	display: block;
}
.rs-follow-line {
	/*margin-bottom: 10px;*/
	/*max-width: 500px;*/
	clear: both;
}

#block-block-54 .block-content .rs-follow-line a {
	background: #3cc200;
	color: #eee;
	opacity: 1;
}

#block-block-54 .block-content .rs-follow-line a:hover {
	background: #37b100;
}

.rs-follow-tw {
	/*width: 100% !important;
	margin-bottom: 10px !important;
	float: none !important;
	max-width: 500px !important;*/
}

#block-block-54 .block-content .rs-follow-fb {
	margin-right: 2%;
}

#block-block-54 .block-content .rs-follow-fb,
#block-block-54 .block-content .rs-follow-tw {
	margin-bottom: 2%;
	width: 49%;
	max-width: none;
}

/****2015/4/4****/
.image-center-caption {
        margin: 0 auto 20px;
        display: block;
        clear: both;
        width: 100%;
}

.image-center-caption img.image-article-center,
.image-center-caption img.image-article-center-m,
.image-center-caption img.image-article-center-m-under-margin,
.image-center-caption img.image-article-center-m-upper-margin,
.image-center-caption img.image-article-center-under-margin,
.image-center-caption img.image-article-center-upper-margin {
        margin: 0 auto 0;
        clear: both;
        display: block;
}

.image-center-caption-title {
        font-size: 12px;
        line-height: 18px;
        display: block;
        color: #777;
        margin-top: 5px;
        text-align: center;
}

.image-center-caption img.image-article-center-m + span.image-center-caption-title,
.image-center-caption img.image-article-center-m-under-margin + span.image-center-caption-title,
.image-center-caption img.image-article-center-m-upper-margin + span.image-center-caption-title {
        width: 300px;
        margin: 5px auto 0;
}

/****2015/4/6****/

.adb-list ul li.adb-google-play a {
	width: 180px;
	background-image: url("images/getiton-googleplay-60.jpg");
	display: block;
}

/****2015/7/3/****/
/*@media (max-width: 768px) {
	#block-block-82 {
		display: block;
	}
}*/

/*PC Header*/
#block-block-82 #div-gpt-ad-1415456289958-0 {
	display: block;
	/*height: 90px;*/
	margin: 5px 0;
}

.android #block-block-82 #div-gpt-ad-1415456289958-0,
.ipod #block-block-82 #div-gpt-ad-1415456289958-0,
.iphone #block-block-82 #div-gpt-ad-1415456289958-0,
.ipad #block-block-82 #div-gpt-ad-1415456289958-0,
.blackberry #block-block-82 #div-gpt-ad-1415456289958-0,
.mobile #block-block-82 #div-gpt-ad-1415456289958-0 {
	display: none;
}

/*SP Top*/
#block-block-82 #div-gpt-ad-1435138647056-0 {
	display: none;
}

.android #block-block-82 #div-gpt-ad-1435138647056-0,
.ipod #block-block-82 #div-gpt-ad-1435138647056-0,
.iphone #block-block-82 #div-gpt-ad-1435138647056-0,
.ipad #block-block-82 #div-gpt-ad-1435138647056-0,
.blackberry #block-block-82 #div-gpt-ad-1435138647056-0,
.mobile #block-block-82 #div-gpt-ad-1435138647056-0 {
	display: block;
	height: 100px;
}

/*（仮）PC Header/SP TOP*/

#block-block-82, .android #block-block-82, .ipod #block-block-82, .iphone #block-block-82, .ipad #block-block-82, .blackberry #block-block-82, .mobile #block-block-82 {
	display: block;
}

#block-block-82 {
	text-align: center;
	margin: 0 0;
	/*background: #f9f9f9;*/
}

#block-block-82 .block-inner {
	padding: 10px 0px;
	margin: 0 0;
}

#page  {
	background: #fff;
	border-top: none;
	/*margin-top: 10px;*/
	padding-top: 0px;
	margin-top: 10px;
}

#page-upper {
	position: relative;
	border-bottom: 1px solid #e5e5e2;
	min-height: 229px;
}

#block-block-54 {
	margin-bottom: 10px;
}

/*20150725*/
/* Post-date */
.created {
	color: #333;
	font-size: 13px;
	display: inline-block;
	margin: 0 0 10px 10px;
}

.published {
	/*text-indent: -9999px;*/
}

.published:before {
	content: "\f017";
	font-family: FontAwesome;
	margin-right: 5px;
}

.updated {
	/*text-indent: -9999px;*/
}

.updated:before {
	content: "\f021";
	font-family: FontAwesome;
	margin-right: 5px;
}

.author-name {
	font-size: 13px;
	color: #333;
}

/*.author-name:before {
	content: "\f040";
	font-family: FontAwesome;
	margin-right: 5px;
}*/


/*#block-block-35 {
	margin-bottom: 0px;
}

#block-block-35 .block-inner {
	padding: 10px;
}

#block-block-35 dl.share {
	width: auto;
	height: auto;
	margin: auto;
	overflow: hidden;
}

#block-block-35 dl.share dd {
	height: 69px;
	margin: 0 8px 0 0;
}

iframe.twitter-share-button {
    width: 69px !important;
}

#block-block-35 dl.share dd.tw {
	width: 69px;
}

#block-block-35 dl.share dd.gp {
	margin-left: 0;
}

dl.share {
	width: 300px;
	height: 90px;
	height: 60px;
	width: auto;
	height: auto;
	margin: auto;
}

dl.share dd {
	height: 69px;
	margin: 0 8px 0 0;
}

dl.share dd.tw {
	width: 69px;
}

dl.share dd.gp {
	margin-left: 0;
}

#feedly-followers {
    display: block;
}
*/
/* カウンタ本体の修飾 */
#feedly-count,
#feedly-count2 {
    margin-bottom: 6px;
    top: 0px;
    width: 56px;
    height: 31px;
    background-color: #FFF;
    position: relative;
    border: 1px solid #bbb;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 0 4px;
    font-family: Arial;
    font-size: 16px;
    line-height: 31px;
    text-align: center;
    color: #333;
    display: block;
}
/* カウンタ吹き出し部分の修飾 */
.fdly-count:after,
.fdly-count:before {
    border: solid transparent;
    content: ' ';
    height: 0;
    right: 100%;
    position: absolute;
    width: 0;
}
.fdly-count:before {
    border-width: 5px;
    border-top-color: #bbb;
    top: 32px;
    left: 45%;
}
.fdly-count:after {
    border-width: 5px;
    border-top-color: #FFF;
    top: 30px;
    left: 45%;
}#feedly-followers {
    display: block;
}
/* カウンタ本体の修飾 */
#feedly-count,
#feedly-count2 {
    margin-bottom: 6px;
    top: 0px;
    width: 56px;
    height: 31px;
    background-color: #FFF;
    position: relative;
    border: 1px solid #bbb;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 0 4px;
    font-family: Arial;
    font-size: 16px;
    line-height: 31px;
    text-align: center;
    color: #333;
    display: block;
}
/* カウンタ吹き出し部分の修飾 */
.fdly-count:after,
.fdly-count:before {
    border: solid transparent;
    content: ' ';
    height: 0;
    right: 100%;
    position: absolute;
    width: 0;
}
.fdly-count:before {
    border-width: 5px;
    border-top-color: #bbb;
    top: 32px;
    left: 45%;
}
.fdly-count:after {
    border-width: 5px;
    border-top-color: #FFF;
    top: 30px;
    left: 45%;
}

/*#block-block-35 {
	margin-bottom: 0px;
}

#block-block-35 .block-inner {
	padding: 10px 0px;
}

#block-block-35 dl.share {
	width: 300px;
	height: 60px;
}

#block-block-35 dl.share dd {
	position: absolute;
	margin-left: 0px;
}

#block-block-35 dl.share dd.fb {
}

#block-block-35 dl.share dd.tw {
	left: 85px;
	width: 55px;
}

#block-block-35 dl.share dd.gp {
	left: 147px;
}

#block-block-35 dl.share dd.hb {
	left: 203px;
}

#block-block-35 .block-inner {
	padding: 10px 0px;
}

#block-block-35 dl.share {
	width: 300px;
	height: 60px;
}

#block-block-35 dl.share dd {
	position: absolute;
	margin-left: 0px;
}

#block-block-35 dl.share dd.fb {
}

#block-block-35 dl.share dd.tw {
	left: 85px;
	width: 55px;
}

#block-block-35 dl.share dd.gp {
	left: 147px;
}

#block-block-35 dl.share dd.hb {
	left: 203px;
}*/

/*2015/07/26 記事タイトル下DFP*/

#block-block-89 {
	display: none;
	/*background: #f9f9f9;*/
}

.android #block-block-89,
.ipod #block-block-89,
.iphone #block-block-89,
.ipad #block-block-89,
.blackberry #block-block-89,
.mobile #block-block-89 {
	display: block;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	min-height: 200px;
    margin-bottom: 0;
}

#block-block-89 .block-inner {
	padding: 0;
}

.android #div-gpt-ad-1416828510593-0,
.ipod #div-gpt-ad-1416828510593-0,
.iphone #div-gpt-ad-1416828510593-0,
.ipad #div-gpt-ad-1416828510593-0,
.blackberry #div-gpt-ad-1416828510593-0,
.mobile #div-gpt-ad-1416828510593-0 {
	margin-bottom: 0;
	padding: 10px 0px;
}

/*ソーシャルボタンLITE*/

#block-block-90,
#block-block-91 {
	max-width: 300px;
}

#block-block-90 .block-inner {
	padding: 0;
}

#block-block-90 .block-content ul,
#block-block-91 .block-content ul {
	margin-left: 0px;
}

.android .social-button-lite .social-button-lite-line,
.ipod .social-button-lite .social-button-lite-line,
.iphone .social-button-lite .social-button-lite-line,
.ipad .social-button-lite .social-button-lite-line,
.blackberry .social-button-lite .social-button-lite-line,
.mobile .social-button-lite .social-button-lite-line {
	display: block;
}

.social-button-lite-line {
	display: none;
}

.social-button-lite {
	width: 100%;
	margin: 10px 0px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.social-button-lite li {
	list-style: none;
	-webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-right: 5px;
    width: 33px;
}

.social-button-lite li a {
    display: block;
    height: 32px;
    overflow: hidden;
    border-radius: 3px;
}

.social-button-lite li a > div {
    text-align: center;
    text-indent: -9999px;
    background-image: url(/sites/all/themes/adaptivetheme/Appllio_theme/css/images/social-sprite.png);
    background-repeat: no-repeat;
    -webkit-background-size: 50px auto;
    background-size: 50px auto;
    width: 21px;
    height: 18px;
    margin: 8px auto 6px;
}

/*.social-button-lite .social-button-lite-facebook {
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
}*/

.social-button-lite a:before {
    font-family: FontAwesome;
    color: #fff;
    font-size: 18px;
    top: 1px;
    margin: 0 auto;
    width: 20px;
    display: block;
    position: relative;
    height: 32px;
    line-height: 32px;
}

.social-button-lite-facebook a {
	background: #3B5999;
}

.social-button-lite-facebook a:hover {
	background: #324b80;
}

.social-button-lite-facebook a > div {
    background-position: 0px -1px;
    background: none;
    display: none;
}

.social-button-lite-facebook a:before {
    content: "\f09a";
    left: 4px;
}

/*.social-button-lite .social-button-lite-twitter {
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
}*/

.social-button-lite-twitter a {
	background: #55acee;
}

.social-button-lite-twitter a:hover {
	background: #369deb;
}

.social-button-lite-twitter a > div {
	background-position: 0px -20px;
	background: none;
	display: none;
}

.social-button-lite-twitter a:before {
    content: "\f099";
}

.social-button-lite-hatena {
}

.social-button-lite-hatena a {
	background: #008fde;
}

.social-button-lite-hatena a:hover {
	background: #0079bc;
}

.social-button-lite-hatena a > div {
	background-position: 0px -39px;
}

.social-button-lite-googleplus {
}

.social-button-lite-googleplus a {
	background: #db4a39;
}

.social-button-lite-googleplus a:hover {
	background: #cd3725;
}

.social-button-lite .social-button-lite-googleplus a > div {
	background-position: -1px -57px;
	background: none;
	display: none;
}

.social-button-lite-googleplus a:before {
    content: "\f0d5";
}

.social-button-lite-line a {
	background: #00c300;
}

.social-button-lite-line a:hover {
	background: #00b200;
}

.social-button-lite-line a > div {
	background-position: -1px -76px;
}

/*20150730*/
#block-block-54 .block-content .rs-follow-fb a,
#block-block-54 .block-content .rs-follow-tw a,
#block-block-54 .block-content .rs-follow-line a {
background: #aaa;
color: #fff;
}

#block-block-54 .block-content .rs-follow-fb a:hover,
#block-block-54 .block-content .rs-follow-tw a:hover,
#block-block-54 .block-content .rs-follow-line a:hover {
color: #fff;
}

#block-block-54 .block-content .rs-follow-fb a:hover {
background: #3B5999;
}

#block-block-54 .block-content .rs-follow-tw a:hover {
background: #55acee;
}

#block-block-54 .block-content .rs-follow-line a:hover {
background: #00c300;
}

/*20150730 polar*/
#content .polar-embedded {
margin: 10px 25px !important;
}

/*20150731*/
@media only screen and (max-width: 480px) and (min-width: 321px) {
h1#page-title {
	font-size: 24px;
}
}

@media only screen and (max-width: 768px) and (min-width: 481px) {
h1#page-title {
	font-size: 24px;
}
}

@media only screen and (min-width: 1040px) {
h1#page-title {
	font-size: 28px;
}
}

/*20150801*/
#block-views-related-block-3 .views-row {
	border-top: none;
}

/*20150804 右サイドのハウツー記事リンク*/
#block-views-related-block-5 .block-inner {
	padding: 10px 0 0;
	margin: 0 10px 0 8px;
	background: none;
}

#block-views-related-block-5 .block-title {
	color: #000;
	margin-top: 0;
}

/*20150804 記事下のハウツー記事リンク*/
#block-block-61 {
	margin-bottom: 5px;
}

#block-block-61 .block-inner {
	/*padding: 0;*/
}

#article-bottom-howto-link ul.tchr {
	margin-left: 0;
}

#article-bottom-howto-link .tchr li {
    display: block;
    margin: 0 5px 5px 0;
    /*background: #a5a5a2;
    color: #fff;*/
    float: left;
}

#article-bottom-howto-link .tchr li a {
	font-size: 11px;
    padding: 5px 10px;
    display: block;
    border: 1px solid #e5e5e2;
    border-radius: 2px;
    color: #777;
    background: #fff;
}

#article-bottom-howto-link .tchr li.abhl-line a:hover {
	background: #00c300;
	border-color: #00c300;
	color: #fff;
}

#article-bottom-howto-link .tchr li.abhl-fb a:hover {
	background: #3B5999;
	border-color: #3B5999;
	color: #fff;
}

#article-bottom-howto-link .tchr li.abhl-tw a:hover {
	background: #55acee;
	border-color: #55acee;
	color: #fff;
}

#article-bottom-howto-link .tchr li.abhl-iphone a:hover {
	background: #777;
	border-color: #777;
	color: #fff;
}

#article-bottom-howto-link .tchr li.abhl-iphone-app a:hover {
	background: #777;
	border-color: #777;
	color: #fff;
}

#article-bottom-howto-link .tchr li.abhl-android a:hover {
	background: #88b131;
	border-color: #88b131;
	color: #fff;
}

#article-bottom-howto-link .tchr li.abhl-android-app a:hover {
	background: #74962a;
	border-color: #74962a;
	color: #fff;
}

#article-bottom-howto-link .tchr li.abhl-windows a:hover {
	background: #0072c6;
	border-color: #0072c6;
	color: #fff;
}

#article-bottom-howto-link .tchr li.abhl-google a:hover {
	background: #D94A38;
	border-color: #D94A38;
	color: #fff;
}

#block-block-61 .block-content {
	padding: 10px 10px 5px;
	display: block;
	overflow: auto;
	background-color: #eee;
}

#block-block-61 .block-inner {
	padding-top: 0;
}

#block-block-94 {
	margin-bottom: 0;
}

/*20150810*/
#main-content-header {
	padding: 0 0 0;
	margin-bottom: 0;
}

@media only screen and (min-width: 1040px) {
.page-node #content {
	padding: 0 50px 0 0;
}
#content-aside {
	width: 670px;
	padding: 0 50px 0 0;
}
#block-views-recent-article-block-3 .views-row-odd, #block-views-recent-article-block-2 .views-row-odd {
	width: 48%;
	margin: 0 2% 0 0;
}
#block-views-recent-article-block-3 .views-row-even, #block-views-recent-article-block-2 .views-row-even {
	width: 48%;
	margin: 0 0 0 2%;
}
#block-block-90 {
	padding-bottom: 5px;
}
.node {
    padding: 5px 15px 0 10px;
}
.image-article-center {
	/*width: 92%; lazyload*/
}
.video-wrapper {
	/*max-width: 92%; lazyload*/
}
}

@media only screen and (max-width: 1039px) and (min-width: 769px){
h1#page-title {
	font-size: 24px;
	margin: 0px 10px 0px;
	line-height: 1.4em;
	padding: 10px;
}
/*.created {
	display: block;
	margin: 0 10px;
	padding: 0 10px;
}*/
#block-block-90 {
	padding-bottom: 5px;
}
.node {
    padding-top: 5px;
}
#block-block-90 .block-inner {
	margin: 0 10px;
}
#block-views-recent-article-block-3 .views-row-odd, #block-views-recent-article-block-2 .views-row-odd {
	width: 48%;
	margin: 0 2% 0 0;
}
#block-views-recent-article-block-3 .views-row-even, #block-views-recent-article-block-2 .views-row-even {
	width: 48%;
	margin: 0 0 0 2%;
}
.image-article-center {
	/*width: 92%; lazyload*/
}
.video-wrapper {
	/*max-width: 92%; lazyload*/
	/*margin: 20px auto 40px; lazyload*/
}
}

@media only screen and (max-width: 768px) and (min-width: 481px){
h1#page-title {
	font-size: 24px;
	padding: 10px 10px;
}
/*.created {
	display: block;
	margin: 0px 10px;
}*/
.block-region-highlighted .block-inner{
	padding: 0;
}
#block-views-recent-article-block-3 .views-row-even,
#block-views-recent-article-block-2 .views-row-even {
	clear: none;
	float: left;
	width: 48%;
	margin: 0 0 0 2%;
	padding-bottom: 20px;
}

#block-views-recent-article-block-3 .views-row-odd,
#block-views-recent-article-block-2 .views-row-odd {
	float: left;
	width: 48%;
	margin: 0 2% 0 0;
	padding-bottom: 20px;
}
.image-article-center {
	/*width: 92%; lazyload*/
}
.video-wrapper {
	/*max-width: 92%; lazyload*/
}
}
@media only screen and (max-width: 480px) and (min-width: 321px) {
/*.created {
	margin: 0 0 0 10px;
}*/
.image-article-center {
	/*width: 94%; lazyload*/
}
.video-wrapper {
	/*max-width: 94%; lazyload*/
}
}

@media only screen and (max-width: 320px) {
.created {
	margin: 0 0 0 10px;
}
.image-article-center {
	/*width: 94%; lazyload*/
}
.video-wrapper {
	/*max-width: 94%; lazyload*/
}
}

/*.author-social a {
	background: none;
	border: none;
	padding: 5px 10px 2px 2px;
}
.author-social .author-googleplus a {
	padding: 6px 2px 1px 2px;
}*/

#block-cck-blocks-field-section-tag .field-name-field-section-tag a[href="/windows"]:hover {
	background: #0072c6;
	border: 1px solid #0072c6;
}

#block-cck-blocks-field-section-tag .field-name-field-section-tag a[href="/pokemon-go"]:hover {
    background: #5ad7ba;
	border: 1px solid #31cda8;
}

/*20150810*/
.logged-in a span.demoSpan1 { 
	top: 77px;
	z-index: 100;
}

/*20150815*/
.author-social a {
	padding: 4px 10px 3px 2px;
}

.video-wrapper {
	/*width: auto; lazyload*/
}

/*Twitter*/
.twitter-tweet {
	margin: 20px auto !important;
}
/*編集枠：Editorial*/
#editorial-1 .views-field-nothing {
    margin: 0 0 0;
    padding: 5px 0;
    border-bottom: none;
    border-top: 2px dotted #eee;
}

#editorial-1 .views-row-first .views-field-nothing {
	border-top: none;
}

#editorial-1 p.tile-title {
	margin: 0;
}

#editorial-1 .tile-image {
	width: 20%;
	margin-bottom: 0;
}

#editorial-1 .tile-title {
	color: #0645ad;
}

#editorial-1 .views-field-nothing a:hover .tile-title {
	color: #dd2321;
}

#editorial-1 .tile-description {
	margin-left: 0;
	font-size: 13px;
}

#editorial-1 .tile .views-field-nothing a {
    padding: 5px 0px;
}

@media only screen and (max-width: 480px) {
#editorial-1 .tile {
	margin: 0 0;
}
#editorial-1 .tile-title {
    font-size:13px;
}
#block-views-recent-article-block-2 .views-field-field-entry-image {
	width: 21%;
}
#block-views-recent-article-block-2 .views-field-title {
	margin-left: auto;
}
}

@media only screen and (max-width: 768px) and (min-width: 481px) {
.tile-image img {
	width: auto;
}
}

/*easy socila button*/
.easy-social-buttons-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.esb-counter {
	display: block;
}

.esb-googleplus .esb-counter span {
	display: none;
}

.social-btn .esb-googleplus a {
	padding: 24px 20px 14px;
}

.esb-facebook {
	background: #3B5999;
}

.esb-twitter {
	background: #55acee;
}

.esb-twitter:hover {
	background: #369deb;
}

.esb-hatebu {
	background: #008fde;
}

.esb-hatebu:hover {
	background: #0079bc;
}

.esb-googleplus {
	background: #db4a39;
}

.esb-googleplus:hover {
	background: #cd3725;
}

a.esb-counter:visited, a.esb-counter {
	padding: 12px 15px 10px 30px;
}

.social-btn a {
    background: url(http://appllio.com/sites/all/themes/adaptivetheme/Appllio_theme/css/images/sprite3.png) no-repeat 0 0;
    background-size: 109px;
}

.social-btn .esb-facebook a {
    background-position: 0 -122px;
}

.social-btn .esb-twitter a {
    background-position: 0 -208px;
}

.social-btn .esb-hatebu a {
    background-position: 0 -36px;
}

.social-btn .esb-googleplus a {
    background-position: 7px 8px;
    background-size: 100px;
}

.social-btn .esb-line a {
    background-position: 3px -217px;
    background-size: 140px;
}

.esb-line a.esb-counter {
    display: block;
    padding: 0;
    width: 28px;
    padding: 13px 12px 5px 0px;
}

/*.esb-googleplus {
	display: none;
}*/

/*FB Page plugin*/

.fb-page-article {
	margin: 20px auto 0;
	text-align: center;
}

/*右サイドフォローブロック*/
.fb-page-right {
	margin: 0 auto 10px;
}

.twitter-follow-right {
	margin: 0 0 6px;
}

.follow-button-right {
	display: inline-block;
	margin: 0 0 10px;
}

.follow-button-right div {
	float: left;
	margin-right: 12px;
}

.follow-button-right-feedly {
	height: 26px;
}

.follow-button-right-ldrp {
	height: 26px;
}

.follow-button-right-ldrp input {
	height: 26px;
	width: 71px;
}

.follow-button-right-line {
	height: 26px;
}

.follow-button-right-line a {
	display: block;
	height: 26px;
}

.follow-button-right-line img {
	height: 26px;
}

.follow-gp-right {
	margin: 0 auto 6px;
}

/*TABEL*/
.t-ovfw {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	font-size: 12px;
	width: 90%;
	margin: 0 auto 10px;
}

/*おすすめゲームアプリ*/
.page-node-1515 .created {
	display: none;
}

/*ハウツー記事下ボタン*/
.htlab a {
    display: block;
    padding: 10px;
    margin: 0 auto;
    width: 260px;
    text-align: center;
    background: #aaa;
    color: #fff;
    border-radius: 2px;
}

.htlab a:hover {
	background: #dd2321;
}

/*メインコンテンツ内のAdsense＋記事下関連記事ブロック＋ソーシャルボタン*/
#block-block-36 .block-inner {
	padding: 10px 0;
}

#block-views-related-block-3 .block-inner,
#block-block-80 .block-inner {
	padding: 0;
}

/*スクロールできるテーブル*/
.t-ovfw {
overflow: auto;
-webkit-overflow-scrolling: touch;
font-size: 12px;
width: 90%;
margin: 0 auto 10px;
}
.t-ovfw td,.t-ovfw th,.t-ovfw thead th, .t-ovfw thead td {
border: 1px solid #ddd;
background: #fff;
}
.t-ovfwth, .t-ovfw td {
min-width: 50px;
}
.t-ovfw .t-docomo {
background: #cc0033;
color: #fff;
}
.t-ovfw .t-au {
background: #EB5505;
color: #fff;
}
.t-ovfw .t-softbank {
background: #B7BBBE;
color: #fff;
}
.t-ovfw .t-apple {
background: #999;
color: #fff;
}
.t-ovfw .t-lowp {
background: #cff;
}
.t-ovfw .t-highp {
background: #cff;
}
.t-ovfw .t-bgon th,
.t-ovfw .t-bgon td {
background: #f5f5f5;
}

.page-node-6723 .t-ovfw td,
.page-node-6723 .t-ovfw th {
	min-width: 90px;
	text-align: center;
}

/*記事内の特殊表現*/

.attention {
	color: #dd2321;
}

.inarticle-comment-block {
    margin: 1em 25px 2em;
    padding: 10px 20px;
    color: #777;
    font-size: 0.9em;
    line-height: 1.5em;
}

@media only screen and (max-width: 480px) and (min-width: 321px) {
.inarticle-comment-block {
    margin: 0 10px 3em;
}
}

.inarticle-comment-block-type {
    display: block;
    width: 120px;
    height: 22px;
    background: url(http://appllio.com/sites/all/themes/adaptivetheme/Appllio_theme/css/images/sprite3.png) no-repeat 0 0;
    background-size: 186px;
    margin-bottom: 10px;
    position: relative;
    left: -10px;
}

.inarticle-comment-block-title {
	font-weight: bold;
	margin-bottom: 5px;
}

.inarticle-comment-block-text {
}

.attention-block {
    border: 1px solid #dd9e21;
    background: #fdf8ef;
}

.attention-block .inarticle-comment-block-type {
    background-position: -10px -651px;
}

.info-block {
    border: 1px solid #234594;
    background: #eef2fb;
}

.info-block .inarticle-comment-block-type {
    background-position: -10px -674px;
}

.tip-block {
    border: 1px solid #1ab11a;
    background: #effdef;
}

.tip-block .inarticle-comment-block-type {
    background-position: -10px -695px;
}

.note-block {
    border: 1px solid #aaa;
    background: #f6f6f6;
}

.note-block .inarticle-comment-block-type {
    background-position: -10px -719px;
}

/*20151002*/

.field-name-body h2, .field-name-field-app-list h2, #block-block-123 h2, #block-block-96 h2, #block-block-36 h2 {
	background: #f3f3f3;
	border-bottom: none;
	border-left: 10px solid #CF0E0E;
	padding: 10px 10px 10px;
	margin: 40px 0px 20px;
	position: relative;
}

@media only screen and (min-width: 1040px){
.field-name-body h2, .field-name-field-app-list h2, #block-block-96 h2, #block-block-36 h2 {
	padding: 10px 10px 6px;
}

}

@media only screen and (min-width: 1040px){
#main-content aside .block-inner {
    max-width: 645px;
}
}

.field-name-body h3 {
	border-left: 5px solid #CF0E0E;
}

.field-name-body .amb h3 {
	border-left: none;
}

.field-name-body .ranking-table h2,
.field-name-body .ranking-table h3 {
	border-left: none;
}

.field-name-body #ranking h2,
.field-name-field-app-list #ranking h2 {
	border-left: none;
	background: none;
}

#table_contents {
    border-left: 10px solid #CF0E0E;
    margin-top: 20px;
    font-size: 1em;
}

/*アフィリエイト注記*/
#aflink {
	font-size: 12px;
	color: #777;
	text-align: center;
}

/*目次*/
#table_contents_title {
	color: #333;
	font-weight: bold;
}

#table_contents > ul > li > a,
#table_contents > ol > li > a {
	font-weight: bold;
}
/*GameFeat*/

#block-block-123 {
	display: none;
}

.android #block-block-123,
.ipod #block-block-123,
.iphone #block-block-123,
.ipad #block-block-123,
.blackberry #block-block-123,
.mobile #block-block-123 {
	display: block;
}

#block-block-123 .block-inner,
#block-block-96 .block-inner {
	padding: 0;
}

#block-block-123 h2 {
	margin: 10px 0;
}

@media only screen and (max-width: 480px) {
#block-block-123 h2,
#block-block-96 h2 {
    font-size: 16px;
}
}

@media only screen and (max-width: 1039px) and (min-width: 481px) {
#block-block-123 h2 {
    font-size: 20px;
}
}

@media only screen and (max-width: 768px) {
#block-block-123 .block-inner,
#block-block-96 .block-inner {
	margin-left: 0;
	margin-right: 0;
}
}

#block-block-123 .adb {
	padding: 5px 5px 5px 5px;
    margin: 10px 5px;
    background: none;
    border: none;
}

#block-block-123 .gfpr {
	position: absolute;
	font-size: 10px;
	color: #fff;
	background: #ccc;
	padding: 6px 10px;
	right: 10px;
	top: 50%;
	margin-top: -13px;
}

#iaad-a .gfpr:before,
#iaad-b .gfpr:before,
#iaad-c .gfpr:before {
	content: "（";
}

#iaad-a .gfpr:after,
#iaad-b .gfpr:after,
#iaad-c .gfpr:after {
	content: "）";
}

#iaad-a .adb,
#iaad-b .adb,
#iaad-c .adb {
	background: none;
	border: none;
}

/*Inline Image*/
.image-article-center-2-inline {
	display: inline;
	margin: 0px 0.4%;
	width: 49.2%;
}

.image-article-center-3-inline {
	display: inline;
	margin: 0px 0.4%;
	width: 32.53%;
}

.field-name-body p.img-caption {
	margin-bottom: 2em;
	margin-top: 0;
	font-size: 13px;
	color: #777;
	line-height: 1.7;
}

.field-name-body p.img-caption a {
	color: #777;
}

span.img-caption-left {
	margin-right: 0.3em;
	font-weight: bold;
}

span.img-caption-center {
	margin-right: 0.3em;
	margin-left: 1em;
	font-weight: bold;
}

span.img-caption-right {
	margin-right: 0.3em;
	margin-left: 1em;
	font-weight: bold;
}

span.img-caption-image {
	margin-right: 0.3em;
	font-weight: bold;
}

.field-name-body p.imgc-center {
	text-align: center;
}

.field-name-body p.imgc-right {
	text-align: right;
}

.field-name-body p.imgc-left {
	text-align: left;
}

.image-article-center {
	margin-bottom: 8px;
}

/*Summary*/

.node-type-summary {
	font-family: Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
}

.node-type-summary #page-upper {
	min-height: 109px;
	border-bottom: none;
}

.node-type-summary #main-content {
	width: 100%;
}

.node-type-summary #main-content #content {
	padding-right: 0;
}

.node-type-summary .block-inner {
	padding: 0;
}

.node-type-summary h1#page-title {
	font-size: 13px;
	/*color: #777;*/
}

.node-type-summary .created {
	/*display: none;*/
}

#block-cck-blocks-field-summary-title-description {
	width: 66.66%;
	float: right;
}

#block-cck-blocks-field-entry-image {
	width: 33.33%;
	float: right;
}

#block-cck-blocks-field-entry-image img {
	background: #f9f9f9;
	width: 100%;
}

#block-cck-blocks-field-entry-image .field-type-image {
	margin-bottom: 0;
	position: relative;
}

.node-type-summary h2#summary-title {
	font-size: 60px;
	color: #222;
	margin: 0;
}

.node-type-summary #block-cck-blocks-field-summary-title-description p {
	/*color: #777;*/
	/*color: #e78686;*/
	font-weight: bold;
	font-size: 13px;
	margin: 0 0 10px 0;
}

.node-type-summary .summary-description-rumor {
	background: #dd2321;
    color: #fff;
    padding: 4px 5px 3px;
    font-size: 13px;
    line-height: 13px;
    height: 13px;
    display: block;
    width: 70px;
    text-align: center;
    margin: 0 5px 10px 0;
}

#block-cck-blocks-field-archived {
	clear: both;
}

#block-cck-blocks-field-archived .block-inner {
	/*padding-top: 10px;*/
	/*border-top: 5px solid #e78686;*/
}

/*.summary-updating {
	display: inline-block;
	padding: 2px 5px;
	border: 1px solid #e5e5e2;
	background: #f5f5f2;
	color: #777;
	font-size: 10px;
}

.summary-archived {
	display: inline-block;
	padding: 5px 10px;
	background: #cf0e0e;
	border: 1px solid #cf0e0e;
	color: #fff;
	font-size: 13px;
	font-weight: bold;
}*/

.summary-updating {
	border: 1px solid #e5e5e2;
	background: #f5f5f2;
	color: #777;
    padding: 4px 5px 3px;
    font-size: 13px;
    font-weight: bold;
    line-height: 13px;
    height: 13px;
    display: block;
    width: 70px;
    text-align: center;
}

.summary-archived {
    background: #dd2321;
    color: #fff;
    padding: 4px 5px 3px;
    font-size: 13px;
    font-weight: bold;
    line-height: 13px;
    height: 13px;
    display: block;
    width: 70px;
    text-align: center;
}

.node-type-summary #block-cck-blocks-field-table-of-contents {
	/*display: inline-block;*/
	/*margin-left: 10px;*/
	padding: 10px 0;
	margin: 10px;
}

.page-node-7951 #block-cck-blocks-field-table-of-contents,
.page-node-8176 #block-cck-blocks-field-table-of-contents {
	background: url(http://appllio.com/sites/default/files/line-bg-black-green-logo-r.jpg) no-repeat 80% center;
	background: url(http://appllio.com/sites/default/files/line-matome-page-banner.jpg) no-repeat center center;
	background-size: cover;
}

.page-node-7952 #block-cck-blocks-field-table-of-contents {
	background: url(http://appllio.com/sites/default/files/iphone-563065_1280.jpg) no-repeat 10% 27%;
	background-size: cover;
}

.page-node-7966 #block-cck-blocks-field-table-of-contents {
	background: url(http://appllio.com/sites/default/files/android-637457_1920.jpg) no-repeat 10% 27%;
	background-size: cover;
}

.page-node-7967 #block-cck-blocks-field-table-of-contents {
	background: url(http://appllio.com/sites/default/files/iphone-6s-ios-9-5-devices.jpg) no-repeat 10% 27%;
	background-size: cover;
}

.page-node-7985 #block-cck-blocks-field-table-of-contents {
	background: url(http://appllio.com/sites/default/files/what-is-chromecast.jpg) no-repeat center center;
	background-size: cover;
}

.page-node-7986 #block-cck-blocks-field-table-of-contents {
	background: url(http://appllio.com/sites/default/files/google-io-logo.jpg) no-repeat center center;
	background-size: cover;
}

.page-node-8016 #block-cck-blocks-field-table-of-contents {
	background: url(http://appllio.com/sites/default/files/iPhoneSE-4ColorFan-PR_US-EN-PRINT-r.jpg) no-repeat center center;
	background-size: cover;
}

.page-node-7959 #block-cck-blocks-field-table-of-contents {
	background: url(http://appllio.com/sites/default/files/iPhone-Family_US-EN-PRINT-r_0.jpg) no-repeat center center;
	background-size: cover;
}

.page-node-8415 #block-cck-blocks-field-table-of-contents {
	background: url(http://appllio.com/sites/default/files/pkg-summary-toc-bg-r.jpg) no-repeat center center;
	background-size: cover;
}

.node-type-summary #block-cck-blocks-field-table-of-contents .block-inner {
	padding: 10px 20px;
	background: #f5f5f2;
	background: rgba(245,245,242,0.8);
	/*border: 1px solid #e5e5e2;*/
}

.node-type-summary #block-cck-blocks-field-table-of-contents h2 {
	font-size: 14px;
	font-weight: bold;
	margin: 0;
}

.node-type-summary #block-cck-blocks-field-table-of-contents #toc-summary {
	padding: 10px 10px 0 10px;
}

.node-type-summary #block-cck-blocks-field-table-of-contents .block-content ul,
.node-type-summary #block-cck-blocks-field-table-of-contents .block-content ol {
	font-size: 14px;
	font-weight: bold;
}

#block-views-summary-news-block,
#block-views-summary-news-block-1 {
	/*padding: 10px;
    	margin: 10px;
    	border: 5px solid #e5e5e2;*/
}

.node-type-summary #block-views-summary-news-block .block-content,
.node-type-summary #block-views-summary-news-block-1 .block-content {
	width: 100%;
}

#block-views-summary-news-block h2.block-title,
#block-views-summary-news-block-1 h2.block-title {
    /*margin: 0;
    padding-top: 0;*/
    color: #aaa;
}

.node-type-summary h2 {
	background: none;
	border-left: none;
	padding-left: 0;
	padding-right: 0;
	padding-top: 10px;
	padding-bottom: 6px;
	margin: 40px 0 20px;
	font-size: 2em;
	font-weight: bold;
	color: #222;
	line-height: 1.2;
}

.node-type-summary h3 {
	background: none;
	border-left: none;
	padding-left: 0;
	padding-right: 0;
	color: #e78686;
	margin: 0 0 10px 0;
	font-weight: bold;
	font-size: 1.4em;
}

.node-type-summary li br {
	display: none;
}

.node li .image-article-center,
.node li .image-article-center-m {
	margin-top: 5px;
}

.node-type-summary span.summary-inline-image {
	max-width: 500px;
	margin: 5px auto 0;
	display: block;
}

.node-type-summary .summary-col-90 {
	width: 90%;
	margin: 10px auto;
}

.node-type-summary .summary-col-left-img {
	float: left;
	width: 40%;
	margin: 0 2% 10px 0;
}

.node-type-summary .summary-col-right-img {
	float: right;
	width: 40%;
	margin: 0 0 10px 2%;
}

.node-type-summary .summary-col-left-text {
	width: 58%;
	float: left;
}

.node-type-summary .summary-col-right-text {
	width: 58%;
	float: right;
}

@media only screen and (max-width: 768px) {
.node-type-summary .summary-col-left-img,
.node-type-summary .summary-col-right-img,
.node-type-summary .summary-col-left-text,
.node-type-summary .summary-col-right-text {
	width: 100%;
	float: none;
}
.node-type-summary h2#summary-title {
font-size: 48px;
}
}

.node-type-summary .block-views .block-content {
	width: 90%;
	margin: 0 auto;
}

.node-type-summary .views-row {
	/*border-bottom: 1px dotted #e5e5e2;*/
	padding: 5px 0;
}

.node-type-summary #block-views-summary-news-block-1 .views-row {
	border: none;
}

.node-type-summary .views-row .summary-views-content-text p {
	margin-bottom: 0;
}

.node-type-summary #block-views-summary-news-block .view-grouping-header {
	font-weight: bold;
	font-size: 2.4em;
	color: #e78686;
}

.node-type-summary #block-views-summary-news-block .snm {
	float: left;
	margin: 0;
	font-weight: bold;
	font-size: 1.8em;
}

.node-type-summary #block-views-summary-news-block .views-row {
	margin-left: 50px;
}

.node-type-summary .view-summary-news .summary-views-content-text {
	font-weight: bold;
}

.summary-card  .views-row {
	display: inline-block;
	width: 22.5%;
	margin: 10px 1%;
}

.summary-card  a.card {
	display: block;
	border: 1px solid #e5e5e2;
	border-radius: 2px;
}

.summary-card  a.card:hover .card-content-header {
	background-color: #fff;
	/*transition-duration: 0.2s;*/
	opacity: 0.8;
}

.summary-card  a.card:hover .card-content-title h3 {
	color: #dd2321;
	/*transition-duration: 0.2s;*/
}

.summary-card .card-content-header {
	background-color: #f5f5f2;
	background-position: center center;
	height: 126px;
	position: relative;
}

.summary-card  .card-content-title {
	text-align: center;
	padding: 10px 0 10px;
	border-top: 1px solid #e5e5e2;
}

.summary-card  .card-content-title h3 {
	margin-bottom: 0;
	color: #0645ad;
	font-size: 1em;
}

.node-type-summary .summary-card  .views-row {
	border-bottom: none;
	padding: 0;
}

.node-type-summary .view-summary-line-stamp .view-content {
	overflow: auto;
}

.node-type-summary .view-summary-line-stamp .views-row {
	/*padding: 0;
	width: 30%;
	margin: 10px 1%;
	display: inline-block;
	background: #f5f5f2;
	border: 1px solid #e5e5e2;*/
	border: none;
	padding: 0;
}

.node-type-summary .line-stamp-card a {
	display: table;
	float: left;
	font-weight: bold;
	padding: 1%;
	width: 29%;
	margin: 10px 1%;
	background: #f5f5f2;
	border: 1px solid #e5e5e2;
	border-radius: 2px;
}

.node-type-summary .line-stamp-card a:hover {
	background: #fff;
}

.node-type-summary .line-stamp-counter {
	display: table-cell;
	height: 60px;
	width: 20px;
	color: #e78686;
	vertical-align: middle;
}

.node-type-summary .line-stamp-card-icon {
	display: table-cell;
	width: 60px;
	height: 60px;
	min-width: 60px;
}

.node-type-summary .line-stamp-card-icon img {
	vertical-align: bottom;
}

.node-type-summary .line-stamp-card-name {
	display: table-cell;
	height: 60px;
	padding-left: 10px;
	vertical-align: middle;
	max-width: 160px;
}

.node-type-summary .field-name-field-entry-image:after {
	content: "\f128";
	font-family: FontAwesome;
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 200px;
    margin-left: -62px;
    margin-top: -149px;
    color: rgba(221,35,33, 0.7);
    display: none;/*デフォルト非表示*/
}

.page-node-7952 .field-name-field-entry-image:after,
.page-node-7959 .field-name-field-entry-image:after,
.page-node-7952 .field-name-field-entry-image:after {
	display: inline-block;/*表示*/
}

.node-type-summary a[href="/summary/ios/iphone-5se"] .card-content-header:after,
.node-type-summary a[href="/summary/ios/iphone-7"] .card-content-header:after,
.node-type-summary a[href="/summary/android/xperia-z6"] .card-content-header:after {
	content: "\f128";
	font-family: FontAwesome;
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 120px;
    margin-left: -40px;
    margin-top: -90px;
    color: rgba(221,35,33, 0.7);
}

@media only screen and (max-width: 768px) {
	#block-cck-blocks-field-summary-title-description,
	#block-cck-blocks-field-entry-image {
		width: 100%;
		float: none;
	}
	#block-views-summary-summary-block-block .views-row,
	#block-views-summary-summary-block-block-1 .views-row {
		width: 45%;
		margin: 10px 2%;
	}
	.node-type-summary .summary-line-stamp .views-row {
		width: 94.4%;
		margin: 10px 2.2%;
	}
	.node-type-summary .line-stamp-card a {
		padding: 2%;
		width: 96%;
		margin: 10px 0;
	}
}

@media only screen and (min-width: 769px) {
	.node-type-summary #block-cck-blocks-field-table-of-contents .block-inner {
		margin-right: 50%;
	}
}

/*Ranklet*/
#block-block-94 {
	/*display: none;*//*おすすめブロックを非表示にして、Rnakletと一体化*/
}

#block-block-124 {
	display: none;
}

.ranklet-wrapper {
	counter-reset:ranklet-item;padding-top:5px;
}
.ranklet-item,
.ranklet-item-ad,
.ranklet-item-editorial {
	position:relative;
	margin:0;
	overflow:hidden;
	cursor:pointer;
	padding: 10px 0;
	border-bottom: 2px dotted #eee;
}
.ranklet-item:before {
        position: absolute;
        top: 5px;
        left: -5px;
        width: 13px;
        height: 13px;
        font-size: 10px;
        font-weight: bold;
        line-height: 10px;
        color: #fff;
        background: #dd2321;
        text-align: center;
        content: counter(ranklet-item);
        counter-increment: ranklet-item;
        z-index: 10;
        border: 5px solid #fff;
        padding: 8px 6px 4px;
        border-radius: 20px;
}
.ranklet-item-ad:before {
        position: absolute;
        top: 5px;
        left: -5px;
        width: 13px;
        height: 13px;
        font-size: 10px;
        font-weight: bold;
        line-height: 10px;
        color: #fff;
        background: #1C83F3;
        text-align: center;
        content: "PR";
        z-index: 10;
        border: 5px solid #fff;
        padding: 8px 6px 4px;
        border-radius: 20px;
}
.ranklet-item-editorial:before {
        position: absolute;
        top: 5px;
        left: -5px;
        width: 20px;
        height: 13px;
        font-size: 10px;
        font-weight: bold;
        line-height: 10px;
        color: #fff;
        background: #0f9d58;
        text-align: center;
        content: "注目";
        z-index: 10;
        border: 5px solid #fff;
        padding: 8px 6px 4px;
        /*border-radius: 20px;*/
}
.ranklet-item-editorial:last-child {
        border-bottom: none;
}
.ranklet-link {
	display:block;
	color:#0645ad;
	overflow:hidden;
}
.ranklet-image {
	float:left;
	width:30%;
	height:80px;
}
.ranklet-image img {
	width:100%;
	height:auto;
}
.ranklet-title {
	margin:0 0 0 33%;
	font-weight: bold;
	font-size: 18px;
}

@media only screen and (max-width: 1039px) and (min-width: 481px) {
.ranklet-title {
        font-size: 16px !important;
    }
}

@media only screen and (max-width: 480px)  {
.ranklet-title {
        font-size: 12px !important;
    }
}

/*App Button 2016*/
.adb {
	/*padding: 10px 20px;
	margin: 15px 25px;
	overflow: auto;
	background: #f9f9f9;
	border: 1px solid #e5e5e2;*/
	/*min-height: 100px;*/
	padding-top: 10px;
	padding-bottom: 10px;
}

.adbi img {
	border-radius: 20%;
}

#iaad-a .adb,
#iaad-b .adb,
#iaad-c .adb,
#iaad-d .adb,
#iaad-z .adb {
	min-height: auto;
}

@media only screen and (max-width: 480px)  {
.adb {
	margin: 15px 10px;
}
}

.node-type-article .field-name-body .adb-list ul {
	margin: 0;
}

.adb-list ul li {
	float: none;
	width: 150px;
	margin-bottom: 8px;
}

.adb-list ul li a {
	height: 25px;
	position: relative;
	font-weight: bold;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    text-decoration: none;
}

.adb-list ul li a:hover {
    text-decoration: none;
    color: #fff;
}

.adb-list ul li.adb-google-play a,
.adb-list ul li.adb-google-pc a,
.adb-list ul li.adb-google-sp a {
	background: #0f9d58;
	border: 1px solid #58862f;
	width: 150px;
}

.adb-list ul li.adb-google-play a:after,
.adb-list ul li.adb-google-pc a:after,
.adb-list ul li.adb-google-sp a:after {
	content: "Google Play";
	color: #fff;
	display: block;
	position: absolute;
	top: -1px;
	width: 150px;
	height: 13px;
	font-size: 13px;
	line-height: 13px;
	padding: 7px 0;
	text-align: center;
	text-indent: 0;
}

.adb-list ul li.adb-apple a {
	background: #1C83F3;
	border: 1px solid #0c72e1;
	width: 150px;
}

.adb-list ul li.adb-apple a:after {
	content: "App Store";
	color: #fff;
	display: block;
	position: absolute;
	top: -1px;
	width: 150px;
	height: 13px;
	font-size: 13px;
	line-height: 13px;
	padding: 7px 0;
	text-align: center;
	text-indent: 0;
}


/*share button 2016*/
#block-block-126 .block-inner,
#block-block-127 .block-inner {
	padding: 0;
}

iframe.twitter-share-button {
    width: 75px !important;
}
.sbtn {
	display:block;
	float: left;
	margin: 0 10px 10px 0;
	height: 20px;
}
.fbcomments, .fb_iframe_widget, .fb_iframe_widget[style], .fb_iframe_widget iframe[style], .fbcomments iframe[style], .fb_iframe_widget span {
	/*width: auto !important;*/
}
#block-block-95 .fbcomments, #block-block-95 .fb_iframe_widget, #block-block-95 .fb_iframe_widget[style], #block-block-95 .fb_iframe_widget iframe[style], #block-block-95 .fbcomments iframe[style], #block-block-95 .fb_iframe_widget span {
	width: 300px !important;
}
.share-facebook {
	position: relative;
	top: -1px;
}
.share-line {
	display: none;
}
.android .share-line,
.ipod .share-line,
.iphone .share-line,
.ipad .share-line,
.mobile .share-line {
	display: block;
}

@media only screen and (max-width: 768px) {
.share-line {
	clear: left;
}
}

/*記事内リンク*/

.field-name-body a.in-link,
.block a.in-link {
	display: block;
    margin-left: 25px;
    position: relative;
    text-decoration: none;
}

.field-name-body a.in-link:before,
.block a.in-link:before {
	content: "\f0a9";
    font-family: FontAwesome;
    position: absolute;
    left: -20px;
}

.field-name-body a.rel-link {
    display: block;
    margin-left: 45px;
    position: relative;
    text-decoration: none;
}

.field-name-body a.rel-link:before {
    content: "関連";
    position: absolute;
    left: -40px;
    top: 4px;
    color: #fff;
    background: #0645ad;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.2em;
    padding: 3px 4px 2px;
    border-radius: 2px
}

@media only screen and (max-width: 480px) {
.field-name-body a.rel-link:before {
    line-height: 1.2em;
    top: 2px;
}
}

/***アプリDLボタン***/

/*advcss修正用*/
.adb-list ul li.adb-google-pc a,
.adb-list ul li.adb-google-sp a {
	display: block;
}

@media only screen and (min-width: 1040px) {
.adb-list ul li.adb-google-sp {
	display: block;
}
.adb-list ul li.adb-google-sp a {
    display: block;
}
}

@media only screen and (min-width: 1040px) {
.adb-list ul li.adb-google-pc a {
    display: block;
}
}
/*ここまでadvcss修正用*/

.adb-apple-pc {
	display: block;
}

.android .adb-apple-pc,
.ipod .adb-apple-pc,
.iphone .adb-apple-pc,
.ipad .adb-apple-pc,
.mobile .adb-apple-pc {
	display: none;
}

.adb-apple-sp {
	display: none;
}

.android .adb-apple-sp,
.ipod .adb-apple-sp,
.iphone .adb-apple-sp,
.ipad .adb-apple-sp,
.mobile .adb-apple-sp {
	display: block;
}

.adb-list ul li.adb-google-pc {
	display: block;
}

.android .adb-list ul li.adb-google-pc,
.ipod .adb-list ul li.adb-google-pc,
.iphone .adb-list ul li.adb-google-pc,
.ipad .adb-list ul li.adb-google-pc,
.mobile .adb-list ul li.adb-google-pc {
	display: none;
}

.adb-list ul li.adb-google-sp {
	display: none;
}

.android .adb-list ul li.adb-google-sp,
.ipod .adb-list ul li.adb-google-sp,
.iphone .adb-list ul li.adb-google-sp,
.ipad .adb-list ul li.adb-google-sp,
.mobile .adb-list ul li.adb-google-sp {
	display: block;
}


/*ボタン振り分け*/

.iphone .adb-list ul li.adb-google-play,
.ipad .adb-list ul li.adb-google-play,
.iphone .adb-list ul li.adb-google-sp,
.ipad .adb-list ul li.adb-google-sp,
.android .adb-list ul li.adb-apple,
.android .adb-list ul li.adb-apple-sp {
	display: none;
}

.iphone .adb-list ul li,
.ipad .adb-list ul li,
.android .adb-list ul li {
	width: auto;
}

.iphone .adb-list ul li a,
.ipad .adb-list ul li a,
.android .adb-list ul li a {
	height: 58px;
    text-shadow: -1px -1px rgba(0,0,0,0.1);
}

.iphone .adb-list ul li.adb-apple a,
.ipad .adb-list ul li.adb-apple a,
.iphone .adb-list ul li.adb-apple-sp a,
.ipad .adb-list ul li.adb-apple-sp a,
.android .adb-list ul li.adb-google-play a,
.android .adb-list ul li.adb-google-sp a {
	width: auto;
}

.iphone .adb-list ul li.adb-apple a:after,
.ipad .adb-list ul li.adb-apple a:after,
.iphone .adb-list ul li.adb-apple-sp a:after,
.ipad .adb-list ul li.adb-apple-sp a:after,
.android .adb-list ul li.adb-google-play a:after,
.android .adb-list ul li.adb-google-sp a:after {
	top: 12px;
	width: 100%;
	height: auto;
	font-size: 20px;
	line-height: 1;
}

.adb-list ul li.adb-google-play-null a,
.adb-list ul li.adb-apple-null a{
	background: #f3f3f3;
	border: 1px solid #f3f3f3;
	width: auto;
   text-shadow: none;
}

.adb-list ul li.adb-google-play-null a:after {
	content: "Android版なし（記事掲載時点）";
	color: #777;
	display: block;
	position: absolute;
	top: 16px;
	width: 100%;
	height: 13px;
	font-size: 13px;
	line-height: 13px;
	padding: 7px 0;
	text-align: center;
	text-indent: 0;
}
  
.adb-list ul li.adb-apple-null a:after {
	content: "iOS版なし（記事掲載時点）";
	color: #777;
	display: block;
	position: absolute;
	top: 16px;
	width: 100%;
	height: 13px;
	font-size: 13px;
	line-height: 13px;
	padding: 7px 0;
	text-align: center;
	text-indent: 0;
}

/***ここまでアプリDLボタン***/

/*Kindle node top*/
#kindlesale-node-top-wrapper {
	position: relative;
	font-size: 16px;
	/*font-weight: bold;*/
	padding: 10px 10px 0px;
	margin-bottom: 10px;
	border-bottom: 1px solid #eee;
}

#kindlesale-node-top {
	padding: 20px 10px 10px;
	margin: 0px auto;
	border-radius: 2px;
	background: #fff;
}

#kindlesale-node-top:before {
   content: "Kindleセール";
   position: absolute;
   display: block;
   top: 0;
   left: 20px;
   text-align: center;
   width: 90px;
   background: #fff;
   background: #e47911;
   color: #aaa;
   color: #fff;
   font-weight: normal;
   font-size: 13px;
   border: 2px solid #eee;
   border: 2px solid #e47911;
   line-height: 13px;
   padding: 3px 0 1px;
}

#kindlesale-node-top ul {
	margin: 0;
	list-style: none;
}

#kindlesale-node-top ul li {
	margin-bottom: 10px;
	line-height: 1.3em;
}

#kindlesale-node-top ul li:last-child {
	margin-bottom: 0;
}

#kindlesale-node-top ul li a {
	display: block;
	margin-left: 25px;
	position: relative;
}


#kindlesale-node-top ul li a:before {
	content: "AD";
	content: "\f0a9";
	font-family: FontAwesome;
	line-height: 14px;
	font-weight: normal;
	position: absolute;
	left: -25px;
	top: 2px;
	padding: 0px 2px;
	border-radius: 2px;
	vertical-align: baseline;
}

/*手順を装飾*/
.menu-order-leaf {
    background: #f9f9f9;
    border: 1px solid #ddd;
    padding: 1px 7px;
    margin: 0 4px;
    border-radius: 2px;
    font-size: 0.8125em;
    line-height: 0.8125;
    font-weight: bold;
    word-break: keep-all;
    position: relative;
    top: -1px;
}

.android .menu-order-leaf,
.ipod .menu-order-leaf,
.iphone .menu-order-leaf,
.ipad .menu-order-leaf,
.mobile .menu-order-leaf {
    padding: 2px 7px 0px;
}

/*Octpass anchor*/
#octpass-anchor-wrapper {
	position: fixed;
	bottom: 10px;
	left: 10px;
	display: none;
	z-index: 998;
	width: 100%;
	font-size: 13px;
	font-weight: bold;
}

#octpass-anchor {
	margin: 0 80px 0 0;
}

#octpass-anchor a {
	background: rgba(34,34,34,0.9);
	background: rgba(28,131,243,0.9);
	color: #fff;
	padding: 5px;
	border-radius: 2px;
}

#octpass-anchor span.oati {
	display: table-cell;
	vertical-align: middle;
	line-height: 1.2em;
}

#octpass-anchor span.oai {
	display: table-cell;
    line-height: 0;
    width: 36px;
	padding-right: 5px;
}

#octpass-anchor img {
	height: 36px;
}
#octpass-anchor a {
	display: block;
}

#footer {
	padding-bottom: 60px;
}

/*無料LINEスタンプおすすめランキング*/

.line-stamp-button {
	width: 240px;
}

.line-stamp-button a {
	font-weight: bold;
}

.lsdb-wrapper .line-stamp-button-app {
	width: 100%;
}

.lsdb-wrapper .line-stamp-button-store {
	width: 85px;
	margin: 0 0 0 auto;
}

.lsdb-wrapper .line-stamp-button-store a {
	font-size: 10px;
	padding: 2px 7px 2px 5px;
	background: #aaa;
    text-shadow: -1px -1px 1px #777;
    box-shadow: 0 1px 1px #777;
    border-radius: 0;
}

.lsdb-wrapper .line-stamp-button-store a:after {
	content: "\f054";
	font-family: FontAwesome;
	font-weight: normal;
	margin-left: 8px;
}

.lsdb-wrapper {
	background: #f9f9f9;
	padding: 18px;
	font-size: 11px;
	line-height: 1.2em;
	color: #777;
	border: 1px solid #aaa;
	border-top-left-radius: 20px;
	margin-bottom: 20px;
	position: relative;
	clear: both;
}

h2 {
	counter-reset: lsdb-num;
}

.lsdb-wrapper-num:after {
    position: absolute;
    height: 13px;
    width: 20px;
    content: counter(lsdb-num);
    counter-increment: lsdb-num;
    left: 1px;
    top: 5px;
    z-index: 10;
    font-size: 11px;
    font-weight: bold;
    color: #fff;
    text-align: center;
 transform: rotate(-45deg);
 -webkit-transform: rotate(-45deg);
 -ms-transform: rotate(-45deg);
}

.lsdb-wrapper:after {
	position: absolute;
	content: "";
        top: -1px;
        left: -1px;
        border-bottom:40px solid transparent;
        border-left:40px solid #aaa;
}

.lsdb {
	margin-bottom: 10px;
}

.lsdb-i {
	overflow: hidden;
}

.lsdb-icon {
	float: left;
	margin-right: 10px;
	width: 120px;
}

.lsdb-info {
	line-height: 1.4em;
	margin-left: 130px;
}

.lsdb-creator {
	font-weight: bold;
	color: #222;
}

h3.lsdb-title {
    border-left: none;
    font-size: 18px;
    line-height: 1.2em;
    padding-left: 0;
    margin: 5px 0 5px;
    color: #222;
    clear: none;
}

.lsdb-dist-period {
}

.lsdb-dist-period-date {
	/*font-weight: bold;*/
}

.lsdb-dist-period-last {
	margin-left: 10px;
	font-weight: bold;
	color: rgba(207,14,14,1);
}

.lsdb-usable-period {
}

.lsdb-usable-period-date {
	/*font-weight: bold;*/
}

.lsdb-get {
	margin-top: 5px;
}

.lsdb-get span {
	font-size: 11px;
	padding: 2px 5px;
	margin: 2px 5px 0 0;
	/*width: 36px;
	line-height: 1.6em;*/
}

.lsdb-get .lsdb-get-condition {
	display: inline-block;
	font-weight: bold;
	border: 2px solid #aaa;
}

.lsdb-c {
	border: 1px solid #ddd;
	padding: 0 5px;
}

.lsdb-d {
	clear: both;
	font-size: 13px;
	margin-left: 130px;
}

.line-button-in-article {
	margin: 10px auto;
	width: 200px;
}

@media only screen and (max-width: 480px)  {
.lsdb-icon {
	margin-right: 10px;
	width: 80px;
}

.lsdb-info {
	margin-left: 90px;
}
.lsdb-d {
	margin-left: 0;
}
}

/*Link Card*/

.embed-wrapper a:hover {
text-decoration:none;
}
.embed-wrapper a:hover .ibl-title {
color:#dd2321;
}
.embed-inner {
	margin: 1em 25px 1em;
}
.embed-inner span {
	display: block;
}
.embed-content {
	width:100%;
	min-height: 130px;
	margin:0 0 20px 0;
	/*background:#fff;
	border:1px solid #ddd;
	border-radius:3px;
	box-sizing:border-box;
	border-bottom: 2px solid #ccc !important;
	padding:12px;*/
	position:relative;
}
.ibl-thum-container {
	width:100px;
	height:100px;
	margin:0 10px 0 0;
	padding:0;
	position:absolute;
	/*left: 12px;*/
}
.ibl-thum {
	width:100px;
	height:100px;
	overflow:hidden;
}
.ibl-thum img {
	position: relative;
	top: 50%;
	left: 50%;
	width: auto;
	height: 100%;
	-webkit-transform:translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	max-width:none;
}
.ibl-body {
	/*margin-right:110px;*/
	margin-left: 110px;
}
.ibl-title {
	font-weight:bold;
	text-decoration:none;
	font-size:1em;
	margin:0 0 10px 0;
	line-height:1.5;
	border-left:none;
	background:none;
	padding:0;
}
.ibl-title:before {
	content: "関連記事";
    font-size: 13px;
    line-height: 13px;
    background: #f3f3f3;
    color: #333;
    padding: 3px 10px;
    margin: 0 8px 5px 0;
    top: -2px;
    position: relative;
    display: block;
    width: 60px;
    text-align: center;
}
.embed-inner span.ibl-desc {
	margin:0;
	color:#333;
	font-size:11px;
	line-height:1.5;
	display: none;
}

@media only screen and (max-width: 480px)  {
	.embed-inner {
		margin: 1em 5px 1em;
	}
	.ibl-thum-container {
		width: 60px !important;
		height: 60px !important;
	}
	.ibl-thum {
		width: 60px !important;
		height: 60px !important;
	}
	.ibl-body {
		margin-left: 70px !important;
	}
}

/*Footer Follow*/

#block-block-14 {
	background: #eee;
	margin-bottom: 10px;
}

#logo-footer {
	padding: 0;
}

#logo-footer a {
    background: url("/sites/all/themes/adaptivetheme/Appllio_theme/css/images/sprite3.png") no-repeat 0 -636px;
    display: block;
    text-indent: -9999px;
    z-index: 301;
    height: 51px;
    background-size: 160px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    padding: 8px;
    width: 146px;
    margin: 0 auto;
}

#follow-footer {
	padding: 10px 0 20px;
}

#block-block-14 .block-content ul {
	width: 304px;
	margin: 0 auto;
}

#block-block-14 .block-content ul li {
	margin: 0 16px 0 0;
	width: 64px;
}

#block-block-14 .block-content ul li a {
	width: 64px;
	height: 64px;
	background-image: none;
}

#block-block-14 .block-content .social-button-lite a:before {
	height: 64px;
	line-height: 64px;
}

#block-block-14 .block-content .social-button-lite-facebook a {
    background: #3B5999;
}

#block-block-14 .block-content .social-button-lite-twitter a {
    background: #55acee;
}

#block-block-14 .block-content .social-button-lite-googleplus a {
    background: #db4a39;
}

#block-block-14 .block-content .social-button-lite-line a {
    background: #00c300;
}

#block-block-14 .block-content .social-button-lite-line {
	display: block;
}

#block-block-14 .block-content .social-button-lite .social-button-lite-line a > div {
	background-position: -1px -89px;
	-webkit-background-size: 60px auto;
    background-size: 60px auto;
    width: 26px;
    height: 26px;
    margin: 20px auto 18px;
}

#block-block-122 {
	padding-top: 10px;
}

/*Octpass node top*/
#octpass-node-top-wrapper {
	position: relative;
	font-size: 16px;
	padding: 10px 10px 10px;
	/*margin-bottom: 10px;*/
	border-top: 1px solid #eee;
	/*border-bottom: 1px solid #eee;*/
	background: #f9f9f9;
}

#octpass-node-top {
	padding: 20px 10px 10px;
	margin: 0px auto;
	border-radius: 2px;
	/*background: #fff;*/
}

#octpass-node-top:before {
   content: "AD";
   position: absolute;
   display: block;
   top: -1px;
   right: 20px;
   text-align: center;
   width: 30px;
   background: #fff;
   background: #e47911;
   background: #ccc;
   /*color: #aaa;*/
   color: #fff;
   font-weight: normal;
   font-size: 10px;
   /*border: 2px solid #eee;
   border: 2px solid #e47911;*/
   line-height: 12px;
   padding: 5px 0 4px;
}

#octpass-node-top ul {
	margin: 0;
	list-style: none;
}

#octpass-node-top ul li {
	margin-bottom: 10px;
	line-height: 1.3em;
}

#octpass-node-top ul li:last-child {
	margin-bottom: 0;
}

#octpass-node-top ul li a {
	display: block;
	margin-left: 25px;
	position: relative;
}


#octpass-node-top ul li a:before {
	/*content: "AD";
	content: "\f0a9";*/
	content: "\f046";
	font-family: FontAwesome;
	line-height: 14px;
	font-weight: normal;
	position: absolute;
	left: -25px;
	top: 2px;
	padding: 0px 2px;
	border-radius: 2px;
	vertical-align: baseline;
}

/*Simple Guide*/
.annotation-box {
	padding:20px 10px;
	font-size:12px;
	background:#f3f3f3;
	line-height:1.8em;
}
h3.fa-stack-h3 {
	border:none;
	padding-left:0;
	color: #e78686;
}
h3 .fa-stack,
h4 .fa-stack {
	top:-0.33em;
	margin-right:5px;
	float:left;
}
.text-primary {
	color:#fff;
}

h4.fa-stack-h4 i.fa {
	font-size:1.4em;
	top:0.3em;
}

h4.fa-stack-h4 .text-primary {
	font-size:0.9em;
	top:0.15em;
}

.fa-stack-h3-text {
	display:block;
	margin-left:2.3em;
}

.fa-stack-h4-text {
	display:block;
	margin-left:2.3em;
	line-height:1.6em;
}

p .fa-stack {
	color:#e78686;
	font-weight:bold;
	top:-2px;
	margin:0px 10px 0 5px
}
.img-caption .fa-stack {
	color:#e78686;
	font-weight:bold;
	top:-2px;
	margin:0 10px 0 5px
}

.node p .fa-stack-toggle-on {
	color:#4cd864;
}
.node p .fa-stack-toggle-off {
	color:#e3e3e3;
}
@media only screen and (max-width: 768px)  {
.node-type-article .field-name-body h3.fa-stack-h3,
.node-type-article .field-name-body h4.fa-stack-h4  {
	margin-left: 0px;
	margin-right: 0px;
}
}

/*PKG*/
.pkg-summary-text {
	text-align:center;
	font-weight:bold;
}
.pkg-summary-link {
	margin:20px 0;
}
.pkg-summary-link a {
    display: block;
    text-align: center;
    padding: 10px;
    color: #fff;
    border-radius: 20px;
    width: 300px;
    margin: 10px auto;
    background: #31cda8;
}
.pkg-summary-link a:hover {
	background:#5ad7ba;
}

/*Footer*/

#footer #block-menu-menu-info- {
	width: 220px;
}
