
/* Font file folder reference - DO NOT REPLACE */

@font-face {
	font-family: 'jlicons';
	src:url('/assets/fonts/jlicons.eot');
	src:url('/assets/fonts/jlicons.eot?#iefix') format('embedded-opentype'),
	url('/assets/fonts/jlicons.ttf') format('truetype'),
	url('/assets/fonts/jlicons.woff') format('woff'),
	url('/assets/fonts/jlicons.svg#jlicons') format('svg');
	font-weight: normal;
	font-style: normal;
}
.panel-btn-opening-hours:before, [class^="icon-"], [class*=" icon-"] {
	font-family: 'jlicons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;


	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Font file folder reference end */


/* Font icon references as per the style.css - Add future references here */

.icon-delivery:before {
	content: "\e901";
}

.icon-returns:before {
	content: "\e806";
}

.icon-swatch:before {
	content: "\e807";
}

.icon-accordion-down:before {
	content: "\e801";
}

.icon-accordion-up:before {
	content: "\e802";
}

.icon-approved-supplier:before {
	content: "\e803";
}

.icon-guarantee:before {
	content: "\e805";
}

.icon-collect-plus:before {
	content: "\e62d";
}

.icon-pencil:before {
	content: "\e630";
}

.icon-bin:before {
	content: "\e627";
}

.icon-grid-view:before {
	content: "\e628";
}
/* we force a redraw of the icons in ie8 by adding/removing the
  "js-active" class (ie8 doesn't redraw :before pseudo elements if we change color of the icon,
  this elements are redrawn only on content change => by adding the "js-active" class
  we change content (the difference in content is only one space))*/
.icon-grid-view.js-active:before {
	content: " \e628";
}
.icon-flip:before {
	content: "\e629";
}

.icon-add-to-wishlist:before {
	content: "\e626";
}

.icon-create-wishlist:before {
	content: "\e625";
}

.icon-telephone:before {
	content: "\e603";
}

.icon-arrow-left:before {
	content: "\e600";
}

.icon-arrow-right:before {
	content: "\e621";
}

.icon-minus-square:before {
	content: "\e622";
}

.icon-plus-square:before {
	content: "\e623";
}

.icon-tooltip:before {
	content: "\e624";
}

.icon-close_icon:before {
	content: "\e620";
}

.icon-mouse:before {
	content: "\e61e";
}

.icon-gift_card_icon:before {
	content: "\e61c";
}

.icon-voucher_icon:before {
	content: "\e61d";
}

.icon-arrow-up:before {
	content: "\e610";
}

.icon-arrow-down-solid:before {
	content: "\e61a";
}

.icon-arrow-down:before {
	content: "\e61b";
}

.icon-at-symbol:before {
	content: "\e60e";
}

.icon-eco:before {
	content: "\e60f";
}

.icon-minus:before {
	content: "\e618";
}

.icon-plus:before {
	content: "\e619";
}

.icon-express-delivery:before {
	content: "\e617";
}

.icon-printer:before {
	content: "\e616";
}

.icon-gift:before {
	content: "\e614";
}

.icon-calendar:before {
	content: "\e615";
}

.icon-wishlist:before {
	content: "\e601";
}

.icon-tick-roundal:before {
	content: "\e602";
}

.icon-tick:before {
	content: "\e604";
}

.icon-collect:before {
	content: "\e605";
}

.icon-store-search:before {
	content: "\e606";
}

.icon-search:before {
	content: "\e607";
}

.icon-secure:before {
	content: "\e608";
}

.icon-jl-logo:before {
	content: "\e609";
}

.icon-int-del:before {
	content: "\e60a";
}

.icon-email:before {
	content: "\e60b";
}

.icon-uk-del:before {
	content: "\e60c";
}

.icon-basket:before {
	content: "\e60d";
}

.icon-johnlewis:before {
	content: "\e611";
}

.icon-map-view:before {
	content: "\e612";
}

.icon-opening-hours:before {
	content: "\e613";
}

.icon-list-view:before {
	content: "\e61f";
}

.icon-quick-view:before {
	content: "\e62f";
}

.icon-JL-payment:before {
    content: "\e90b";
}

.icon-vat-receipt:before {
	content: "\e90a";
}

.icon-collect-plus2:before {
	content: "\e804";
}

.icon-jl-shop:before {
	content: "\e62b";
}

.icon-JL-prices:before {
    content: "\e90c";
}

/* we force a redraw of the icons in ie8 by adding/removing the
  "js-active" class (ie8 doesn't redraw :before pseudo elements if we change color of the icon,
  this elements are redrawn only on content change => by adding the "js-active" class
  we change content (the difference in content is only one space))*/
.icon-list-view.js-active:before {
	content: " \e61f";
}

/* Font icon references as per the style.css reference end */
