@import '/assets/css/fonts.css'; /* Import for Icon moon fonts from JL_Assets REMOVE THIS AFTER ASTERIX RELEASE*/
/* Use only for emergency styles to override current styles on live site */
/* Remove after added to live stylesheet */



.first.lt-nav{
	padding:8px 6px 9px 0;
}

.left-nav-widget-default{
	padding:0;
}

/* Temporary fix for MC-567 */

#order-receipt .product-summary .unit-price .old-price, 
#order-receipt .total-qty-price .old-price{
	text-decoration:none;
	display:inline;
}

#order-receipt .product-summary .unit-price .new-price,
#order-receipt .total-qty-price .new-price{
	display:none;
}

/* Temporary fix for partnercard image update in Checkout */

.pay-types{
	width:165px;
	margin-right:-5px;
}

#logged-in .pay-types{
	margin-right:-35px;
}
