/*
================================================================================
|                                     TAGS                                     |
================================================================================
*/
body{ margin:0px; padding:0px; font-family:Tahoma,Arial,Times New Roman;background-color:#FFFFFF; height:100%; position:relative; font-size:11px; }
/*MAIN*/
.fL{ float:left}
.fR{ float:right}
.clear{clear:both}
.im{margin:0px}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, 
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;}
table {border-collapse: collapse; border-width: 0px; padding: 0px; margin: 0px;}
html{height:100%; -webkit-text-size-adjust: none;-ms-text-size-adjust: none;}
input, textarea {font: 12px "OpenSans-CondensedLight", Arial, sans-serif; color: #333;  outline:none;}
input[type="button"], input[type="submit"], button {cursor: pointer}
td{margin: 0px; padding: 0px;}
form{padding: 0px; margin: 0px;}
a{color: #000100; -moz-transition: color 0.1s linear; -o-transition: color 0.0s linear; -ms-transition: color 0.0s linear; -webkit-transition: color 0.0s linear; transition: color 0.0s linear; text-decoration:none; outline:none}
input[type=submit], input[type=button]{-webkit-appearance: none;}
.clearfix:after, .wrapper:after, .content:after, header:after, footer:after, .mainWrapper:after{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;}

/*
================================================================================
|                                     BG_STYLES                                |
================================================================================
*/
@font-face {
    font-family: 'HelveticaNeueCyr-Roman';
    src: url('../fonts/HelveticaNeueCyr-Roman.eot');
    src: url('../fonts/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
         url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff'),
         url('../fonts/HelveticaNeueCyr-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;}
@font-face {
    font-family: 'HelveticaNeueCyr-Bold';
    src: url('../fonts/HelveticaNeueCyr-Bold.eot');
    src: url('../fonts/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/HelveticaNeueCyr-Bold.woff') format('woff'),
         url('../fonts/HelveticaNeueCyr-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;}

.mainWrapper{
	min-height:100%;
	position:relative;
/*	max-width:1480px;  */
 	max-width:1280px;
	min-width:320px;
	margin:0 auto;
	padding:0 0px 0 0px;}
.emptyRightBlock{
	float:right;
/*	padding:0 0px 0px 820px;	*/
	width:300px;
	min-height:500px;
	content:'';
	position:relative;
	z-index:2;
	/*border:solid 2px #fe0000;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;*/
	margin:16px 0 0 0;}

.emptyTextBlock{
	float:left;
	width:100%;
	max-width:1200px;
	color: #c2c2c2;
	content:'';
	position:relative;
	z-index:2;
	padding:0px 0 0 0;
	border-top:solid 1px #e5e5e5; 
	text-indent: 25px;
/*	border:solid 2px #fe0000;
	-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box; */
	margin:30px auto;
}

.emptyTextBlock h1{
	color: #c2c2c2;
font:20px/22px 'HelveticaNeueCyr-Roman';}
}
.emptyTextBlock h2{
	color: #c2c2c2;
	font:16px/18px 'HelveticaNeueCyr-Bold';
	}
.emptyTextBlock h3{
	color: #c2c2c2;
	font:16px/18px 'HelveticaNeueCyr-Bold';
	}
.emptyTextBlock p{
     text-indent: 25px;
	}
.emptyPerevod{
	float:left;
	width:100%;
	color: #000000;
	position:relative;
	z-index:2;
	text-indent: 25px;
	font:17px/20px 'HelveticaNeueCyr-Roman';
}

.advtest{
	position: fixed; 
        bottom: 0; 
        left: 0;
}	


.AdvertScrollTop{
     margin-top: 25px;
     -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.AdvertScrollDown{
     margin-top: 20px;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.emptySpisok{
	float:left;
	width:100%;
	color: #000000;
	position:relative;
	z-index:2;
	font:19px/22px 'HelveticaNeueCyr-Roman';
	padding:20px 0 0 0;
	text-indent: 40px;
line-height: 150%;
}	
.emptySpisok a{
	color:#0947b1;
	font:18px/21px 'HelveticaNeueCyr-Roman';
	}
.emptySpisok a:hover {
	color:#fe0000;
	}
.mainWrapperLeft{
	float:left;
	width:100%;
	margin-right:-300px;
	padding:0 320px 0 0;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;}
.mainPage .emptyRightBlock{
	width:400px;}
.mainPage .mainWrapperLeft{
	margin-right:-400px;
	padding:0 420px 0 0;}
/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
header{
	background:url(../img/bg_header.jpg) no-repeat; 
	height:75px;	
	text-align:left;
	border-bottom:solid 1px #e5e5e5;
	padding:0 10px 0 10px;
	min-width:300px;}
.mainPage header{
	border-bottom:none;}	
.mainLogo{
	display:inline-block;
	vertical-align:top;
	margin:20px 0 0 0;}
.menu{
	display:inline-block;
	vertical-align:top;
	white-space:nowrap;}
.menu ul{
	padding:0 0 0 28px;}
.menu ul li{
	list-style:none;
	display:inline-block;
	vertical-align:top;
	border-top:solid 5px transparent;
	margin:0 17px 0 17px;
	padding:20px 0 0 0;}
.menu ul li.last{
	margin:0 0px 0 18px;}
.menu ul li a{
	font:17px/20px 'HelveticaNeueCyr-Roman';
	color:#0947b1;}
.menu ul li:hover{
	border-top:solid 5px #0947b1;}
.menu ul li.active{
	border-top:solid 5px #fe0000;}
.menu ul li.active a{
	color:#fe0000;
	font:17px/20px 'HelveticaNeueCyr-Bold';}

/*
================================================================================
|                                     CONTENT                                 |
================================================================================
*/
.advtop{
margin-top:15px;
text-align: center;
}
.adseanstop{
}
.adseansdown{
}
.adseansnewopportunities{

}
.content{
	padding:0 10px 80px 10px;	
	text-align:left;}
.mainPage content{}	
.textRP{
	color:#000000;
	font:17px/20px 'HelveticaNeueCyr-Roman';}
.textRP-c{
	color:#000000;
	text-align:center;
	 margin-bottom: 10px;
	font:17px/20px 'HelveticaNeueCyr-Roman';}
.textRPgray{
	color:#95918c;
	font:17px/20px 'HelveticaNeueCyr-Roman';}

.textRPcenter{
	color:#000000;
	text-align:center;
	 margin-bottom: 10px;
	font:23px/26px 'HelveticaNeueCyr-Bold';}
.textRP23{
	color:#000000;

	font:23px/26px 'HelveticaNeueCyr-Bold';}
span.textRPinform{
	color:#888888;
}
span.textRPinformAll{
	color:#888888;
}
.tableLessons{
	padding:12px 0 0 0;}
.tableLessons ul{
	display:table;
	width:100%;}
.tableLessons ul li{
	list-style:none;
	display:table-row;}
.tableLessons ul li .th{
	display:table-cell;
	color:#000000;
	font:17px/20px 'HelveticaNeueCyr-Bold';
	padding:0 0 11px 2.2%;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	width:20%;
	border-bottom:solid 1px #cfd9df;}
.tableLessons ul li .th+.th{
	width:80%;
	padding-left:30px;}
.tableLessons ul li .td{
	display:table-cell;
	color:#000000;
	font:17px/20px 'HelveticaNeueCyr-Roman';
	padding:14px 0 14px 2.2%;
	background:#ecf1f7;
	border-bottom:solid 1px #e2e7ed;
	vertical-align:top;}
.tableLessons ul li .td+.td{
	padding:0 0 0 0;}
.tableLessons ul li .td ul{
	display:table!important;}
.tableLessons ul li .td ul li{}
.tableLessons ul li .td ul li .td{
	background:none;
	display:table-cell!important;
	width:9.0909%!important;
	text-align:center;
	border:none;
	padding:0 0 0 0!important;}
.tableLessons a{
	display:block;
	width:100%;
	height:49px;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	padding-top:14px;
	color:#0947b1;
	font:17px/20px 'HelveticaNeueCyr-Roman';}
.tableLessons a:hover{
	background:#fe0000;
	color:#ffffff;}
.tableLessons ul li:hover .td{
	background:#dee7f0;}
.tableLessons ul li .td.disabled a{
	background:none!important;
	color:#dddddd!important;
	cursor:default;}

.blockForMenu{
	float:right;
	width:199px;
	position:relative;
	z-index:10;
	height:100%;
	overflow:auto;}
.mainCont{
	float:left;
	width:100%;
	margin-right:-199px;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	padding:0 199px 0 0;}
.menuRight{
	width:198px;
	height:100%;
	position:fixed;
	border-left:solid 1px #d1dae0;
	top:0px;
	background:url(../img/box_menu.jpg) repeat;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	padding:27px 0 0 30px;
	right:0;
	}
.buttonMenu{
	background:#0947b1;
	display:inline-block;
	position:relative;
	color:#ffffff;
	font:15px/18px 'HelveticaNeueCyr-Bold';
	padding:3px 10px 3px 9px;}
.buttonMenu span{
	background:url(../img/triangle.png) no-repeat left top;
	width:7px;
	height:24px;
	position:absolute;
	left:-7px;
	top:0px;
	display:block;}
.buttonMenuHide{
	margin:0px 0 8px 17px;
	background:#0947b1;
	display:inline-block!important;
	color:#ffffff!important;
	font:15px/18px 'HelveticaNeueCyr-Bold'!important;
	position:relative;
	padding:3px 10px 3px 9px;}
.buttonMenuHide span{
	background:url(../img/triangle_right.png) no-repeat left top!important;
	left:inherit!important;
	right:-7px!important;
	width:7px!important;
	top:0px!important;
	height:24px!important;
	position:absolute;
	display:block!important;}
.menuRight ul{ overflow:auto; max-height:94%;}
.menuRight ul li{
	list-style:none;
	padding:22px 0 3px 0;}
.menuRight ul li a{
	color:#0947b1;
	font:17px/20px 'HelveticaNeueCyr-Roman';
	position:relative;}
.menuRight ul li a:hover{
	color:#fe0000;}
.menuRight > ul > li.active > a{
	color:#fe0000;
	font:17px/20px 'HelveticaNeueCyr-Bold';}
.menuRight ul li a span{
	background:url(../img/triangle_menu.png) no-repeat left top;
	width:16px;
	height:25px;
	position:absolute;
	left:-31px;
	top:-2px;
	display:none;}
.menuRight > ul > li.active > a > span{
	display:block;}
.drop-leftMenu{
	width:133px;
	border-left:solid 1px #d1dae0;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	padding:27px 0 0 30px;
	position:absolute;
	left:-134px;
	top:0px;
	height:100%;
	background:url(../img/box_menu.jpg) repeat;
	display:none;}
.menuRight ul li.active .drop-leftMenu{
	display:block;}
.drop-leftMenu > ul > li.active > a > span{
	display:block;}
.drop-leftMenu > ul > li.active > a{
	color:#fe0000;
	font:17px/20px 'HelveticaNeueCyr-Bold';}
.menuRight h3{
	color:#000000;
	font:17px/18px 'HelveticaNeueCyr-Roman';
	padding:3px 0px 3px 0px;
	display:inline-block;}
.menuRight.active{}
.menuRight.active .buttonMenu{
	display:none;}
.drop-leftListBook{
	width:774px;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	padding:27px 0 0 30px;
	position:absolute;
	left:-775px;
	top:0px;
	height:100%;
	background:url(../img/box_menu.jpg) repeat;
	overflow:auto;
	display:none;
	-moz-box-shadow:-10px 0px 10px 0 rgba(192, 192, 192, 0.5);-webkit-box-shadow:-10px 0px 10px 0 rgba(192, 192, 192, 0.5);box-shadow:-10px 0px 10px 0 rgba(192, 192, 192, 0.5);
	behavior: url(css/PIE.htc);}
.shadowMenu{
	background:url(../img/box_shadow.png) repeat-y;
	width:46px;
	height:100%;
	position:absolute;
	left:-46px;
	top:0px;}
.drop-leftMenu > ul > li.active .drop-leftListBook{
	display:block;}
.oneBook{
	width:320px;	
	display:inline-block;
	vertical-align:top;
	margin:16px 0 0 5px;}
.oneBook .img{
	background:url(../img/line_product.png) no-repeat center bottom;
	width:180px;
	text-align:center;
	padding-bottom:18px;
	display:inline-block;
	vertical-align:top;}
.oneBook .img span{
	display:table;
	width:100%;}
.oneBook .img span span{
	display:table-cell;
	vertical-align:bottom;
	height:192px;
	width:180px;
	text-align:center;}
.oneBook .img img{
	display:inline-block;}
.oneBook .info{
	width:135px;
	display:inline-block;
	vertical-align:top;
	padding:12px 0 0 0;}
.oneBook p{
	color:#000000;
	font:15px/24px 'HelveticaNeueCyr-Roman';}
.oneBook .author{
	color:#0947b1;
	font:17px/26px 'HelveticaNeueCyr-Roman';
	padding:0 0 0 0;}

.oneBook .author:hover {color:#fe0000;}	
.oneBook.top{
	margin:29px 0 4px 5px;}
.oneBook.top .info{
	padding:29px 0 0 0px;
	margin-left:-5px;}

h1{
	color:#000000;
	font:23px/26px 'HelveticaNeueCyr-Bold';
	padding:24px 0 0 33px;}
.listBook{
	padding:8px 0 0 0;}
.listBook .oneBook {
	margin:26px -5px 0 0;
	width:335px;
	max-width:50%;}
.listBook .oneBook .info{
	padding:12px 0 0 0px;}
	
.listJobs{
	padding:10px 10px 0 10px;}
.listJobsilFile{
	padding:0px 0px 0 0px;}
.listJobsilFile15pr{
	padding:0px 0px 0 0px;}
.listJobsilFile25pr{
	padding:0px 0px 0 0px;}
.listJobs.option2{
	padding:0px 40px 20px 40px;}
.listJobsilFile.option{
	padding:0px 0px 0 0px;}
.listJobsilFile15pr.option{
	padding:0px 0px 0 0px;}
.listJobsilFile25pr.option{
	padding:0px 0px 0 0px;}
.listJobs ul{
	display:table;
	width:100%;
	padding:20px 0 0 0;}
.listJobs ul li{
	list-style:none;
	display:table-row;}
	
	
.textColor20pr{
	font:17px/20px 'HelveticaNeueCyr-Roman';
	font-weight: bold;
	width: 20%; /* В«РґРµСЃСЊ, РІРѕР·РјРѕР¶РЅРѕ РЅСѓР¶РЅРѕ Р±СѓРґРµС‚ РїРѕРґРєРѕСЂСЂРµРєС‚РёСЂРѕРІР°С‚СЊ РґРѕ 32, РѕСЃРѕР±РµРЅРЅРѕ РІ IE7 */
	display: inline-block;
	padding:11px 0 11px 0;
	text-align: center;
	background-color:#F7F7F7;

}
.textColor30pr{
	font:17px/20px 'HelveticaNeueCyr-Roman';
	font-weight: bold;
	width: 30%; /* В«РґРµСЃСЊ, РІРѕР·РјРѕР¶РЅРѕ РЅСѓР¶РЅРѕ Р±СѓРґРµС‚ РїРѕРґРєРѕСЂСЂРµРєС‚РёСЂРѕРІР°С‚СЊ РґРѕ 32, РѕСЃРѕР±РµРЅРЅРѕ РІ IE7 */
	display: inline-block;
	padding:11px 0 11px 0;
	text-align: center;
	background-color:#F7F7F7;

}
.textColor40pr{
	font:17px/20px 'HelveticaNeueCyr-Roman';
	font-weight: bold;
	width: 40%; /* В«РґРµСЃСЊ, РІРѕР·РјРѕР¶РЅРѕ РЅСѓР¶РЅРѕ Р±СѓРґРµС‚ РїРѕРґРєРѕСЂСЂРµРєС‚РёСЂРѕРІР°С‚СЊ РґРѕ 32, РѕСЃРѕР±РµРЅРЅРѕ РІ IE7 */
	display: inline-block;
	padding:11px 0 11px 0;
	text-align: center;
	background-color:#F7F7F7;

}
.textColor50pr{
	font:17px/20px 'HelveticaNeueCyr-Roman';
	font-weight: bold;
	width: 50%; /* В«РґРµСЃСЊ, РІРѕР·РјРѕР¶РЅРѕ РЅСѓР¶РЅРѕ Р±СѓРґРµС‚ РїРѕРґРєРѕСЂСЂРµРєС‚РёСЂРѕРІР°С‚СЊ РґРѕ 32, РѕСЃРѕР±РµРЅРЅРѕ РІ IE7 */
	display: inline-block;
	padding:11px 0 11px 0;
	text-align: center;
	background-color:#F7F7F7;

}
.textColor60pr{
	font:17px/20px 'HelveticaNeueCyr-Roman';
	font-weight: bold;
	width: 50%; /* В«РґРµСЃСЊ, РІРѕР·РјРѕР¶РЅРѕ РЅСѓР¶РЅРѕ Р±СѓРґРµС‚ РїРѕРґРєРѕСЂСЂРµРєС‚РёСЂРѕРІР°С‚СЊ РґРѕ 32, РѕСЃРѕР±РµРЅРЅРѕ РІ IE7 */
	display: inline-block;
	padding:11px 0 11px 0;
	text-align: center;
	background-color:#F7F7F7;
}

.listJobs ul li .td{
	width: 10%; /* В«РґРµСЃСЊ, РІРѕР·РјРѕР¶РЅРѕ РЅСѓР¶РЅРѕ Р±СѓРґРµС‚ РїРѕРґРєРѕСЂСЂРµРєС‚РёСЂРѕРІР°С‚СЊ РґРѕ 32, РѕСЃРѕР±РµРЅРЅРѕ РІ IE7 */
	display: inline-block;
	vertical-align: top;
}
.listJobs ul li .td-c{
	width: 10%; /* В«РґРµСЃСЊ, РІРѕР·РјРѕР¶РЅРѕ РЅСѓР¶РЅРѕ Р±СѓРґРµС‚ РїРѕРґРєРѕСЂСЂРµРєС‚РёСЂРѕРІР°С‚СЊ РґРѕ 32, РѕСЃРѕР±РµРЅРЅРѕ РІ IE7 */
	display: inline-block;
	vertical-align: top;
	background-color:#F7F7F7;
}

.listJobs ul li .td-20c{
	width: 20%; /* В«РґРµСЃСЊ, РІРѕР·РјРѕР¶РЅРѕ РЅСѓР¶РЅРѕ Р±СѓРґРµС‚ РїРѕРґРєРѕСЂСЂРµРєС‚РёСЂРѕРІР°С‚СЊ РґРѕ 32, РѕСЃРѕР±РµРЅРЅРѕ РІ IE7 */
	display: inline-block;
	vertical-align: top;
	background-color:#F7F7F7;
}

.listJobs ul li .td-30c{
	width: 30%; /* В«РґРµСЃСЊ, РІРѕР·РјРѕР¶РЅРѕ РЅСѓР¶РЅРѕ Р±СѓРґРµС‚ РїРѕРґРєРѕСЂСЂРµРєС‚РёСЂРѕРІР°С‚СЊ РґРѕ 32, РѕСЃРѕР±РµРЅРЅРѕ РІ IE7 */
	display: inline-block;
	vertical-align: top;
	background-color:#F7F7F7;
}


.listJobs ul li .textKZ{

	text-align:left;
	color:#0947b1;
	font:17px/20px 'HelveticaNeueCyr-Roman';
	display: inline-block;
	vertical-align: top;
	padding: 1px 1px 0 35px;
}


.listJobs15pr{
	padding:10px 10px 0 10px;}
.listJobs15pr ul{
	display:table;
	width:100%;
	padding:20px 0 0 0;}
.listJobs15pr ul li{
	list-style:none;
	display:table-row;}
.listJobs15pr ul li .td{
	width: 15%; /* В«РґРµСЃСЊ, РІРѕР·РјРѕР¶РЅРѕ РЅСѓР¶РЅРѕ Р±СѓРґРµС‚ РїРѕРґРєРѕСЂСЂРµРєС‚РёСЂРѕРІР°С‚СЊ РґРѕ 32, РѕСЃРѕР±РµРЅРЅРѕ РІ IE7 */
	display: inline-block;
	vertical-align: top;
}
.listJobs15pr ul li a{
	color:#0947b1;
	font:17px/20px 'HelveticaNeueCyr-Roman';
	display:block;
	text-align:center;
	padding:11px 0px 11px 0px;}
.listJobs15pr ul li a:hover{
	background:#fe0000;
	color:#ffffff;}


.listJobs25pr{
	padding:10px 10px 0 10px;}
.listJobs25pr ul{
	display:table;
	width:100%;
	padding:20px 0 0 0;}
.listJobs25pr ul li{
	list-style:none;
	display:table-row;}
.listJobs25pr ul li .td{
	width: 15%; /* В«РґРµСЃСЊ, РІРѕР·РјРѕР¶РЅРѕ РЅСѓР¶РЅРѕ Р±СѓРґРµС‚ РїРѕРґРєРѕСЂСЂРµРєС‚РёСЂРѕРІР°С‚СЊ РґРѕ 32, РѕСЃРѕР±РµРЅРЅРѕ РІ IE7 */
	display: inline-block;
	vertical-align: top;
}
.listJobs25pr ul li a{
	color:#0947b1;
	font:17px/20px 'HelveticaNeueCyr-Roman';
	display:block;
	text-align:center;
	padding:11px 0px 11px 0px;}
.listJobs25pr ul li a:hover{
	background:#fe0000;
	color:#ffffff;}

.listJobs ul li a{
	color:#0947b1;
	font:17px/20px 'HelveticaNeueCyr-Roman';
	display:block;
	text-align:center;
	padding:11px 0px 11px 0px;}
.listJobs ul li a:hover{
	background:#fe0000;
	color:#ffffff;}

	
	
	

.listJobsilFile ul{
  position: relative;
	display:table;
	width:100%;
	padding:0px 0 0 0;}
.listJobsilFile ul li{
	list-style:none;
	display:table-row;}
.listJobsilFile ul li .td{
	width: 10%; /* В«РґРµСЃСЊ, РІРѕР·РјРѕР¶РЅРѕ РЅСѓР¶РЅРѕ Р±СѓРґРµС‚ РїРѕРґРєРѕСЂСЂРµРєС‚РёСЂРѕРІР°С‚СЊ РґРѕ 32, РѕСЃРѕР±РµРЅРЅРѕ РІ IE7 */
	display: inline-block;
	vertical-align: top;
}

.listJobsilFile ul li .td-c{
	width: 10%; /* В«РґРµСЃСЊ, РІРѕР·РјРѕР¶РЅРѕ РЅСѓР¶РЅРѕ Р±СѓРґРµС‚ РїРѕРґРєРѕСЂСЂРµРєС‚РёСЂРѕРІР°С‚СЊ РґРѕ 32, РѕСЃРѕР±РµРЅРЅРѕ РІ IE7 */
	display: inline-block;
	vertical-align: top;
	background-color:#F7F7F7;
}

.listJobsilFile ul li .td-20c{
	width: 20%; /* В«РґРµСЃСЊ, РІРѕР·РјРѕР¶РЅРѕ РЅСѓР¶РЅРѕ Р±СѓРґРµС‚ РїРѕРґРєРѕСЂСЂРµРєС‚РёСЂРѕРІР°С‚СЊ РґРѕ 32, РѕСЃРѕР±РµРЅРЅРѕ РІ IE7 */
	display: inline-block;
	vertical-align: top;
	background-color:#F7F7F7;
}

.listJobsilFile ul li .td-30c{
	width: 30%; /* В«РґРµСЃСЊ, РІРѕР·РјРѕР¶РЅРѕ РЅСѓР¶РЅРѕ Р±СѓРґРµС‚ РїРѕРґРєРѕСЂСЂРµРєС‚РёСЂРѕРІР°С‚СЊ РґРѕ 32, РѕСЃРѕР±РµРЅРЅРѕ РІ IE7 */
	display: inline-block;
	vertical-align: top;
	background-color:#F7F7F7;
}


.listJobsilFile ul li .textKZ{

	text-align:left;
	color:#0947b1;
	font:17px/20px 'HelveticaNeueCyr-Roman';
	display: inline-block;
	vertical-align: top;
	padding: 1px 1px 0 35px;
}



.listJobsilFile ul li a{
	color:#0947b1;
	font:17px/20px 'HelveticaNeueCyr-Roman';
	display:block;
	text-align:center;
	padding:11px 0px 11px 0px;}
.listJobsilFile ul li a:hover{
	background:#fe0000;
	color:#ffffff;}


.listJobsilFile.notAllTasks li:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100px;
  width: 100%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 90%);
}

.listJobsilFile15pr.notAllTasks li:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100px;
  width: 100%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 90%);
}


.listJobsilFile25pr.notAllTasks li:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100px;
  width: 100%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 90%);
}


.listJobsilFile15pr ul{
  position: relative;
	display:table;
	width:100%;
	padding:0px 0 0 0;}
.listJobsilFile15pr ul li{
	list-style:none;
	display:table-row;}
.listJobsilFile15pr ul li .td{
	width: 15%; /* В«РґРµСЃСЊ, РІРѕР·РјРѕР¶РЅРѕ РЅСѓР¶РЅРѕ Р±СѓРґРµС‚ РїРѕРґРєРѕСЂСЂРµРєС‚РёСЂРѕРІР°С‚СЊ РґРѕ 32, РѕСЃРѕР±РµРЅРЅРѕ РІ IE7 */
	display: inline-block;
	vertical-align: top;
}
.listJobsilFile15pr ul li a{
	color:#0947b1;
	font:17px/20px 'HelveticaNeueCyr-Roman';
	display:block;
	text-align:center;
	padding:11px 0px 11px 0px;}
.listJobsilFile15pr ul li a:hover{
	background:#fe0000;
	color:#ffffff;}

	.listJobs25pr{
	padding:10px 10px 0 10px;}
/*.listJobs25pr ul{
  position: relative;
	display:table;
	width:100%;
	padding:20px 0 0 0;} */

.listJobsilFile25pr ul{
  position: relative;
	display:table;
	width:100%;
	padding:20px 0 0 0;}

.listJobs25pr ul li{
	list-style:none;
	display:table-row;}
.listJobs25pr ul li .td{
	width: 25%; /* В«РґРµСЃСЊ, РІРѕР·РјРѕР¶РЅРѕ РЅСѓР¶РЅРѕ Р±СѓРґРµС‚ РїРѕРґРєРѕСЂСЂРµРєС‚РёСЂРѕРІР°С‚СЊ РґРѕ 32, РѕСЃРѕР±РµРЅРЅРѕ РІ IE7 */
	display: inline-block;
	vertical-align: top;
}
.listJobs25pr ul li a{
	color:#0947b1;
	font:17px/20px 'HelveticaNeueCyr-Roman';
	display:block;
	text-align:center;
	padding:11px 0px 11px 0px;}
.listJobs25pr ul li a:hover{
	background:#fe0000;
	color:#ffffff;}
.listJobsilFile25pr ul{
	display:table;
	width:100%;
	padding:0px 0 0 0;}
.listJobsilFile25pr ul li{
	list-style:none;
	display:table-row;}
.listJobsilFile25pr ul li .td{
	width: 25%; /* В«РґРµСЃСЊ, РІРѕР·РјРѕР¶РЅРѕ РЅСѓР¶РЅРѕ Р±СѓРґРµС‚ РїРѕРґРєРѕСЂСЂРµРєС‚РёСЂРѕРІР°С‚СЊ РґРѕ 32, РѕСЃРѕР±РµРЅРЅРѕ РІ IE7 */
	display: inline-block;
	vertical-align: top;
}
.listJobsilFile25pr ul li a{
	color:#0947b1;
	font:17px/20px 'HelveticaNeueCyr-Roman';
	display:block;
	text-align:center;
	padding:11px 0px 11px 0px;}
.listJobsilFile25pr ul li a:hover{
	background:#fe0000;
	color:#ffffff;}
	
.banner{
	margin:11px 0 0 0;
	display:block;}
.banner img{
	width:100%;}
.boxSolution{
	padding:28px 0 19px 0;
	width:100%;
	text-align:center;}
.boxSolution p{
	color:#000000;
	font:12px/14px Arial;
	text-align:left;
	padding:0 10px 0 10px;}
.boxSolution p span{
	font-weight:bold;}
.boxSolution .name{
	color: #c2c2c2;
	font:12px/15px 'HelveticaNeueCyr-Bold';
	text-align:right;}
.boxSolution .nametext{
	color: #000000;
	font:20px/20px 'HelveticaNeueCyr-Roman';
	text-align:left;
		padding: 10px 0 10px 0;}
.boxSolution h1{
	color: #000000;
	font:22px/24px 'HelveticaNeueCyr-Bold';
	text-align:center;}
.boxSolution h2{
	color: #000000;
	font:20px/22px 'HelveticaNeueCyr-Bold';
	text-align:left;
	padding: 10px 0 10px 0;
	}
.boxSolution .name2{
	color: #c2c2c2;
	font:12px/15px 'HelveticaNeueCyr-Bold';
	text-align:left;}
.boxSolution .name a{
	color:#e15000;
	font:15px/18px 'HelveticaNeueCyr-Bold';
	text-decoration:underline;}
.boxSolution .name a:hover{
	text-decoration:none;}
.boxSolution .imgSolution{
	display:inline-block;
	margin:10px 0 9px 0;
	width:100%;
	border:solid 1px #000000;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;}
.boxSolution .imgSolution img{
	width:100%;
	display:block;
	}

.viewNext{
	color:#0946af;
	font:15px/18px 'HelveticaNeueCyr-Roman';
	padding:12px 0 0 0;}
 
 .togblock {
 display:none;
 text-align:inherit
 }

 	
	
/*
================================================================================
|                                     MENU                                   |
================================================================================
*/	
	
	 /*
 * New menu: 13.09.2015
 */

    .mainCont {
        margin-right: -250px;
        padding-right: 250px;
    }

    .sideMenu {
        width: 250px;
        background: #3e3e3f;
        background: -webkit-linear-gradient(left, #3c4144 0%, #3e3e3f 0%);
        background: -o-linear-gradient(left, #3c4144 0%, #3e3e3f 0%);
        background: linear-gradient(to right, #3c4144 0%, #3e3e3f 0%);
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        padding-bottom: 60px;
        overflow: hidden;
    }

    .classList {
        list-style: none;
        float: right;
        height: 100%;
        border-left: 1px solid #323233;
        overflow: auto;
        padding-top: 60px;
        box-sizing: border-box;
        width: 50px;
    }

    .subjectList {
        list-style: none;
        overflow: auto;
        height: 100%;
        box-sizing: border-box;
        float: left;
        width: 200px;
    }
    .subjectList > li {}

    .classList li > a,
    .subjectList li > a {
        padding: 10px 10px 10px 30px;
        display: block;
        font-family: 'HelveticaNeueCyr-Roman';
        font-size: 17px;
        line-height: 25px;
        color: #fff;
        transition: .1s;
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
    }

    .classList li > a {
        padding: 10px 20px 10px 10px;
        text-align: right;
    }

    .classList li > a:hover,
    .subjectList li > a:hover {
        background: #2b2b2d;
        border-color: #222324;
    }

    .classList li > a.active,
    .subjectList li > a.active {
        background: #515355;
        border-color: #515355;
    }

    .classList li > a.disable,
    .subjectList li > a.disable {
        color: #757579;
        border-color: transparent;
        background: 0;
        cursor: default;
    }

    .sideMenu__title {
        padding: 15px 10px 15px 30px;
        height: 30px;
        line-height: 30px;
        font-family: 'HelveticaNeueCyr-Roman';
        font-size: 17px;
        color: #fff;
        opacity: .4;
        cursor: pointer;
    }

    .sideMenu__icon {
        width: 18px;
        height: 15px;
        background: url(../img/side-menu-icon.png) no-repeat 0 0;
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
        position: relative;
        top: -1px;
    }

    .sideMenu__text {
        display: inline-block;
        vertical-align: right;
    }

    .sideMenu__title.inversed {
        position: absolute;
        top: 4px;
        right: 1px;
        color: #000000;
        opacity: 1;
        display: none;
     /*   padding-left: 10px; */
        box-sizing: border-box;
        width: 140px;
        height: 60px;
    }

    .sideMenu__icon.inversed {
        background: url(../img/side-menu-icon-inversed.png) no-repeat 0 0;
        margin-right: 0px;
        margin-left: 15px;
    }
    .sideMenu__title.mobile {
    	transition: .15s;
    	display: none;
    }
    .sideMenu__title.mobile:after {
    	content: ">";
    	font-size: .8em;
    	font-family: Arial;
    }
    .sideMenu__title.mobile:hover {
    	opacity: 1;
    }
	
	
	    @media screen and (max-width: 1275px) {
      .emptyRightBlock{
    		display:none;}
    	.mainWrapperLeft{
    		padding:0 0 0 0!important;
    		margin:0 0 0 0!important;}
    }
	    @media screen and (max-width: 955px) {
        .sideMenu {
        	width: 0;
        }
        .sideMenu__title.inversed {
            display: block;
        }
        header {
            padding-right: 165px;
        }
        .sideMenu__title.desktop {
        	display: none;
        }
        .sideMenu__title.mobile {
        	display: block;
        }
        .mainCont{
          margin:0 0 0 0;
          padding:0 0 0 0;}

    }
	
	

 /*   @media screen and (max-width: 600px) {
        header {
            margin-top: 60px;
        }
    } */
	.sideMenu {
		transition: .3s;
	}
    body.touch-active .sideMenu {
    	width: 250px;
    }

    body.touch-active {
    	overflow: hidden;
    }
    .mainCont {
    	transition: .3s;
    }
    body.touch-active .mainCont {
    	transform: translate(-250px, 0px);
    }

    .mCustomScrollbar {
        -ms-touch-action: none;
        touch-action: none;
        /* MSPointer events - direct all pointer events to js */
    }

    .mCustomScrollbar.mCS_no_scrollbar,
    .mCustomScrollbar.mCS_touch_action {
        -ms-touch-action: auto;
        touch-action: auto;
    }

    .mCustomScrollBox {
        /* contains plugin's markup */
        position: relative;
        overflow: hidden;
        height: 100%;
        max-width: 100%;
        outline: none;
        direction: ltr;
    }

    .mCSB_container {
        /* contains the original content */
        overflow: hidden;
        width: auto;
        height: auto;
    }

    .mCSB_inside > .mCSB_container {
        margin-left: 4px;
        margin-left: 0px;
    }

    .mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden {
        margin-right: 0;
    }
    /* non-visible scrollbar */

    .mCS-dir-rtl > .mCSB_inside > .mCSB_container {
        /* RTL direction/left-side scrollbar */
        margin-right: 0;
        margin-left: 30px;
    }

    .mCS-dir-rtl > .mCSB_inside > .mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden {
        margin-left: 0;
    }
    /* RTL direction/left-side scrollbar */

    .mCSB_scrollTools {
        /* contains scrollbar markup (draggable element, dragger rail, buttons etc.) */
        position: absolute;
        width: 4px;
        height: auto;
        left: auto;
        top: 0;
        left: 0;
        bottom: 0;
    }

    .mCSB_outside + .mCSB_scrollTools {
        right: -26px;
    }
    /* scrollbar position: outside */

    .mCS-dir-rtl > .mCSB_inside > .mCSB_scrollTools,
    .mCS-dir-rtl > .mCSB_outside + .mCSB_scrollTools {
        /* RTL direction/left-side scrollbar */
        right: auto;
        left: 0;
    }

    .mCS-dir-rtl > .mCSB_outside + .mCSB_scrollTools {
        left: -26px;
    }
    /* RTL direction/left-side scrollbar (scrollbar position: outside) */

    .mCSB_scrollTools .mCSB_draggerContainer {
        /* contains the draggable element and dragger rail markup */
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        height: auto;
    }

    .mCSB_scrollTools a + .mCSB_draggerContainer {
        margin: 20px 0;
    }

    .mCSB_scrollTools .mCSB_draggerRail {
        width: 2px;
        height: 100%;
        margin: 0 auto;
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        border-radius: 16px;
    }

    .mCSB_scrollTools .mCSB_dragger {
        /* the draggable element */
        cursor: pointer;
        width: 100%;
        height: 30px;
        /* minimum dragger height */
        z-index: 1;
        background: #3af;
    	opacity: 0;
    }
    .mCustomScrollbar:hover .mCSB_scrollTools .mCSB_dragger {
    	opacity: .3;
    }
    .mCSB_scrollTools .mCSB_dragger_onDrag {
    	opacity: 1 !important;
    }

    .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
        /* the dragger element */
        position: relative;
        width: 4px;
        height: 100%;
        margin: 0 auto;
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        border-radius: 16px;
        text-align: center;
    }

    .mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded .mCSB_dragger_bar,
    .mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_dragger .mCSB_dragger_bar {
        width: 12px;
        /* auto-expanded scrollbar */
    }

    .mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded + .mCSB_draggerRail,
    .mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_draggerRail {
        width: 8px;
        /* auto-expanded scrollbar */
    }

    .mCSB_scrollTools .mCSB_buttonUp,
    .mCSB_scrollTools .mCSB_buttonDown {
        display: block;
        position: absolute;
        height: 20px;
        width: 100%;
        overflow: hidden;
        margin: 0 auto;
        cursor: pointer;
    }

    .mCSB_scrollTools .mCSB_buttonDown {
        bottom: 0;
    }
    /**/
	
	
	
	
/*
================================================================================
|                                     FOOTER                                   |
================================================================================
*/
.boxFooter{
	width:100%;
	position:absolute;
	left:0px;
	bottom:0px;
	min-width:320px; 	
	overflow:hidden;}
footer{
	max-width:1260px; 
	min-width:300px;
	margin:0 auto;	 	
	height:45px; 
	text-align:left;
	padding:18px 10px 0 10px;
	border-top:solid 1px #e5e5e5;}
.footerLogo{
	display:inline-block;
	vertical-align:top;}
footer p{
	color:#000000;
	font:17px/20px 'HelveticaNeueCyr-Roman';
	display:inline-block;
	vertical-align:top;
	padding:3px 0 0 34px;}

@media screen and (max-width: 1700px){
	.advtest{
		display:none;}
	}

/*@media screen and (max-width: 1600px){
.mainWrapper{

max-width:1280px;
}
	}*/


@media screen and (max-width: 1100px){
	.drop-leftListBook{
		width:394px;
		left:-395px;}
	}
@media screen and (max-width: 1050px){
	.subPage .mainWrapperLeft{
		padding:0 0px 0 0px;
		margin:0 0px 0 0;}
	}
@media screen and (max-width: 900px){
	.blockForMenu{
		display:none;}
	}
@media screen and (max-width: 800px){
	.boxSolution .name2{
		display:none;}
	.boxSolution .name{
		display:none;}
	.emptyTextBlock,#showAll{
		display:none;}
	.blockForMenu{
		display:none;}
		
	.textColor20pr{
	width: 30%;}
	.listBook .oneBook{ padding-left:10px; max-width:calc(50% - 10px);}
	
	
	}
@media screen and (max-width: 767px){
	.listBook .oneBook{ padding-left:10px; max-width:calc(100% - 10px);}
}
@media screen and (max-width: 600px){



span.textRPinform{
		display:none;}
	.mainLogo{
		display:none;}
	.menu ul{
		padding:0 0 0 8px;}
	.menu ul li{
		margin:0 2px 0 4px;}
	.menu ul li a{
		font:15px/18px 'HelveticaNeueCyr-Roman';}
	.menu ul li.last{
		margin:0 0px 0 4px;}
	.mainWrapper{
		padding:0 0px 0 0px;}
	.tableLessons ul li .th{
		display:none;}
	.tableLessons ul li .td{
		display:block;
		background:none;
		border-bottom:none;
		padding:10px 0 5px 2.2%;}

	.listJobsilFile ul li .td{
	width: 15%;
	display: inline-block;
	vertical-align: top;
	/*	padding:0 0 0 1%; */}
	
	.listJobsilFile ul li .td-c{
	width: 15%;
	display: inline-block;
	vertical-align: top;
	/*	padding:0 0 0 1%; */}
	
	
	.listJobsilFile15pr ul li .td{
	width: 25%;
	display: inline-block;
	vertical-align: top;
	/*	padding:0 0 0 1%; */}
	.listJobsilFile25pr ul li .td{
	width: 50%;
	display: inline-block;
	vertical-align: top;
	/*	padding:0 0 0 1%; */}
	
	.listJobs ul li .td{
	width: 15%;
	display: inline-block;
	vertical-align: top;
	/*	padding:0 0 0 1%; */}
	
	.listJobs ul li .td-c{
	width: 15%;
	display: inline-block;
	vertical-align: top;
	/*	padding:0 0 0 1%; */}
	
.listJobs15pr ul li .td{
	width: 25%;
	display: inline-block;
	vertical-align: top;
	/*	padding:0 0 0 1%; */}
	
	
	.listJobs25pr ul li .td{
	width: 50%;
	display: inline-block;
	vertical-align: top;
	/*	padding:0 0 0 1%; */}
	
	
.textColor20pr{
	font:15px/18px 'HelveticaNeueCyr-Roman';
	width: 30%; /* В«РґРµСЃСЊ, РІРѕР·РјРѕР¶РЅРѕ РЅСѓР¶РЅРѕ Р±СѓРґРµС‚ РїРѕРґРєРѕСЂСЂРµРєС‚РёСЂРѕРІР°С‚СЊ РґРѕ 32, РѕСЃРѕР±РµРЅРЅРѕ РІ IE7 */
	padding:7px 0 7px 0;

	display: inline-block;

	text-align: center;
	background-color:#F7F7F7;

}
.textColor30pr{
	font:17px/20px 'HelveticaNeueCyr-Roman';
	width: 30%; /* В«РґРµСЃСЊ, РІРѕР·РјРѕР¶РЅРѕ РЅСѓР¶РЅРѕ Р±СѓРґРµС‚ РїРѕРґРєРѕСЂСЂРµРєС‚РёСЂРѕРІР°С‚СЊ РґРѕ 32, РѕСЃРѕР±РµРЅРЅРѕ РІ IE7 */
	padding:7px 0 7px 0;

}
.textColor40pr{
	font:17px/20px 'HelveticaNeueCyr-Roman';
	width: 60%; /* В«РґРµСЃСЊ, РІРѕР·РјРѕР¶РЅРѕ РЅСѓР¶РЅРѕ Р±СѓРґРµС‚ РїРѕРґРєРѕСЂСЂРµРєС‚РёСЂРѕРІР°С‚СЊ РґРѕ 32, РѕСЃРѕР±РµРЅРЅРѕ РІ IE7 */
	padding:7px 0 7px 0;

}
.textColor50pr{
	font:17px/20px 'HelveticaNeueCyr-Roman';
	width: 75%; /* В«РґРµСЃСЊ, РІРѕР·РјРѕР¶РЅРѕ РЅСѓР¶РЅРѕ Р±СѓРґРµС‚ РїРѕРґРєРѕСЂСЂРµРєС‚РёСЂРѕРІР°С‚СЊ РґРѕ 32, РѕСЃРѕР±РµРЅРЅРѕ РІ IE7 */
	padding:7px 0 7px 0;

}
.textColor60pr{
	font:17px/20px 'HelveticaNeueCyr-Roman';
	width: 100%; /* В«РґРµСЃСЊ, РІРѕР·РјРѕР¶РЅРѕ РЅСѓР¶РЅРѕ Р±СѓРґРµС‚ РїРѕРґРєРѕСЂСЂРµРєС‚РёСЂРѕРІР°С‚СЊ РґРѕ 32, РѕСЃРѕР±РµРЅРЅРѕ РІ IE7 */
	padding:7px 0 7px 0;
}
	
	
	.listJobs ul li .td-20c{
	width: 30%; /* В«РґРµСЃСЊ, РІРѕР·РјРѕР¶РЅРѕ РЅСѓР¶РЅРѕ Р±СѓРґРµС‚ РїРѕРґРєРѕСЂСЂРµРєС‚РёСЂРѕРІР°С‚СЊ РґРѕ 32, РѕСЃРѕР±РµРЅРЅРѕ РІ IE7 */
	display: inline-block;
	vertical-align: top;
	background-color:#F7F7F7;
}
	
	
	

	.tableLessons ul li .td+.td{
		border-bottom:solid 1px #e2e7ed;}
	footer{
		padding:18px 0 0 10px;}
	.content{
		padding:0 0 80px 0;}
	header{
		padding:0 0 0px 0;
		min-width:320px;}
	.listJobs ul li a{
		padding:6px 0px 6px 0px;}
	.listJobsilFile ul li a{
		padding:6px 0px 6px 0px;}
	.listJobs.option2{
		padding:0 10px 0 10px;}
	.boxSolution .imgSolution{
		width:100%;}
	.viewNext{ padding:0 10px 0 10px;}

	.adseansnewopportunities{
       padding:0 0 0px 0;}

	}

	
	
@media screen and (max-width: 450px){
.textColor20pr{
	font:15px/18px 'HelveticaNeueCyr-Roman';
	width: 45%; /* В«РґРµСЃСЊ, РІРѕР·РјРѕР¶РЅРѕ РЅСѓР¶РЅРѕ Р±СѓРґРµС‚ РїРѕРґРєРѕСЂСЂРµРєС‚РёСЂРѕРІР°С‚СЊ РґРѕ 32, РѕСЃРѕР±РµРЅРЅРѕ РІ IE7 */
	padding:7px 0 7px 0;

	display: inline-block;

	text-align: center;
	background-color:#F7F7F7;

}

.listJobs ul li .td-20c{
	width: 45%; /* В«РґРµСЃСЊ, РІРѕР·РјРѕР¶РЅРѕ РЅСѓР¶РЅРѕ Р±СѓРґРµС‚ РїРѕРґРєРѕСЂСЂРµРєС‚РёСЂРѕРІР°С‚СЊ РґРѕ 32, РѕСЃРѕР±РµРЅРЅРѕ РІ IE7 */
	display: inline-block;
	vertical-align: top;
	background-color:#F7F7F7;
}

.listJobs ul li .td-30c{
	width: 45%; /* В«РґРµСЃСЊ, РІРѕР·РјРѕР¶РЅРѕ РЅСѓР¶РЅРѕ Р±СѓРґРµС‚ РїРѕРґРєРѕСЂСЂРµРєС‚РёСЂРѕРІР°С‚СЊ РґРѕ 32, РѕСЃРѕР±РµРЅРЅРѕ РІ IE7 */
	display: inline-block;
	vertical-align: top;
	background-color:#F7F7F7;
}

.listJobsilFile ul li .td-20c{
	width: 45%; /* В«РґРµСЃСЊ, РІРѕР·РјРѕР¶РЅРѕ РЅСѓР¶РЅРѕ Р±СѓРґРµС‚ РїРѕРґРєРѕСЂСЂРµРєС‚РёСЂРѕРІР°С‚СЊ РґРѕ 32, РѕСЃРѕР±РµРЅРЅРѕ РІ IE7 */
	display: inline-block;
	vertical-align: top;
	background-color:#F7F7F7;
}

.listJobsilFile ul li .td-30c{
	width: 45%; /* В«РґРµСЃСЊ, РІРѕР·РјРѕР¶РЅРѕ РЅСѓР¶РЅРѕ Р±СѓРґРµС‚ РїРѕРґРєРѕСЂСЂРµРєС‚РёСЂРѕРІР°С‚СЊ РґРѕ 32, РѕСЃРѕР±РµРЅРЅРѕ РІ IE7 */
	display: inline-block;
	vertical-align: top;
	background-color:#F7F7F7;
}



	}
	
	
	
	
/* New custom CSS */
.btn {
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  margin-top: 20px;
  width: 100%;
  background: none;
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  color: #0947b1;
  font:16px 'HelveticaNeueCyr-Roman';
  padding: 14px 20px 14px 20px;
  border: solid #9db5e0 1px;
  text-decoration: none;
}

.btn:hover {
  text-decoration: none;
  color: #fe0000;
  border: solid #ff9999 1px;
}

.btnBlue {
  text-decoration: none;
  color: #0947b1;
  border: solid #9db5e0 1px;
}

.btnBlue:hover {
  color: #fe0000 !important;
  border: solid #ff9999 1px !important;
}

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}
#errorModal {
  width: 330px;
  height: 120px;
  text-align: center;
  padding: 50px 60px;
  background: #fff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}
#errorModal textarea {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  line-height: 18px;
  padding: 5px 15px;
  box-sizing: border-box;
  resize: none;
}
#errorModal .btnSubmit {
  display: inline-block;
  float: left;
  box-sizing: border-box;
  text-align: center;
  width: 120px;
  height: 35px;
  margin-top: 10px;
  background: #f2f2f2;
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  color: #000;
  font-size: 16px;
  font-weight: bold;
  border: none;
  text-decoration: none;
}
#errorModal .btnSubmit:hover {
  color: #f2f2f2;
  background: #505050;
}
#errorModal .modal_close {
  float: right;
  display: inline-block;
  margin-top: 10px;
  height: 35px;
  line-height: 35px;
  color: #a3a3a3;
}
#errorModal .modal_close:hover {
  color: #505050;
}



#socialModal {
  width: 390px;
  height: 140px;
  padding: 40px 10px 20px 10px;
  background: #fff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}
#socialModal .socialIcons {
  width: 270px;
  height: 60px;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
}
#socialModal .socialIcons .socialIcon {
  position: relative;
  float: left;
  margin-left: 5px;
}
#socialModal .socialIcons .socialIcon:first-child {
  margin-left: 0;
}
#socialModal a.modal_close {
  display: inline-block;
  color: #a3a3a3;
  padding-top: 25px;
  font-size: 18px;
}
#socialModal .socialOverlay {
  height: 40px;
  width: 40px;
  top: 0;
  left: 0;
  border-radius: 5px;
  position: absolute;
  z-index: 2;
  background: rgba(0,0,0,0);
}
#socialModal .socialOverlay:hover {
  background: rgba(0,0,0,0.3);
  cursor: pointer;
}





.p-to-clamp {
  text-align: left;
  max-height: 225px;
  line-height: 1.5em;
  margin-bottom: 10px;
  overflow: hidden;
  -webkit-transition: max-height 1s cubic-bezier(0, 1.05, 0, 1);
  -moz-transition: max-height 1s cubic-bezier(0, 1.05, 0, 1);
  -ms-transition: max-height 1s cubic-bezier(0, 1.05, 0, 1);
  -o-transition: max-height 1s cubic-bezier(0, 1.05, 0, 1);
  transition: max-height 1s cubic-bezier(0, 1.05, 0, 1);
}
.p-to-clamp:after {
  content: "";
  position: absolute;
  bottom: 0px;
  right: 0;
  height: 100px;
  width: 100%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 100%);
}
.p-to-clamp.shown {
  max-height: 4000px;
  -webkit-transition: max-height 1s;
  -moz-transition: max-height 1s;
  -ms-transition: max-height 1s;
  -o-transition: max-height 1s;
  transition: max-height 1s;
}
.p-to-clamp.shown:after {
  background: none !important;
}
.yetMainWrapper {
  position: relative;
}
.moduletable {
  right:0;
}
.moduletablearticle-primer {
  text-align: center;
}
.pokazatmenu {
  text-align: center;
}


/* New custom CSS 08-09-2016 */

.total-search{
    float: right;
    max-width: 300px;
    width: 35%;
    min-width: 120px;
    position: relative;
    margin-top: 19px;
}
.total-search__open{
    display: block;
}
.ya-site-form__search-input{
    padding: 0 0 0 0!important;
}
.total-search .ya-site-form__input-text{
    font-size: 17px!important;
    color: #a3a3a3!important;
    border: solid 1px #d9d9d9!important;
    width: 100%!important;
    height: 34px!important;
    border-radius: 5px!important;
    padding: 0 30px 0 10px!important;
}
.total-search .ya-site-form__input-text::-webkit-search-cancel-button {
    -webkit-appearance: none;
    width: 14px; 
    height: 14px;
    background: url("../images/delete_search.png");
    margin-right: 10px; 
    cursor: pointer; 
}
.total-search .ya-site-form__submit{
    position: absolute;
    right: 15px;
    top:8px;
    z-index: 10;
    background: url(../images/icon_search.png) no-repeat left top!important;
    width: 18px!important;
    height: 18px!important;
    border: none!important;
    font-size: 0px!important;
    text-indent: -9999px;
    margin: 0px 0 0 0!important;
    box-shadow: 0 0 0 0 #000000!important;
}
.total-search .ya-site-form__input-text::-webkit-input-placeholder{color:#a3a3a3!important;opacity:1 !important;}
.total-search .ya-site-form__input-text::-moz-placeholder{color:#a3a3a3!important;opacity:1 !important;}
.total-search__btn-open{
    display: none;
    background: url(../images/icon_search.png) no-repeat left top;
    width: 18px;
    height: 18px!important;
    margin: 8px 15px 0 0;
}
.sideMenu__title.inversed{
    top:8px;
}

.breadcrambs{
    background: #f4f4f4;
    border-radius: 3px;
    padding: 9px 5px 9px 5px;
    margin: 18px 0 0 0;
}
.breadcrambs li{
    list-style: none;
    display: inline-block;
    vertical-align: top;
    padding-right: 20px;
    padding-left: 10px;
    position: relative;
    font-size: 15px;
    line-height: 18px;
    color: #fe0000;
}
.breadcrambs li:after{
    content: '→';
    display: block;
    position: absolute;
    right: -2px;
    top :0px;
    color: #6e6e6e;
    font-size: 15px;
    line-height: 18px;
}
.breadcrambs li:last-child:after{
    display: none;
}
.breadcrambs a{
    font-size: 15px;
    line-height: 18px;
    color: #6e6e6e;
}
.breadcrambs li a:hover{
    color: #fe0000;
}

.search-content{
    margin: 24px 0 0 0;
    padding: 0 0px 0 0px;
    position: relative;
}
.search-result {
    margin-top: 15px;    
text-align: center;
    color: #878787;
}
.search-content__input{
    display: block;
    height: 34px;
    width: 100%;
    border: solid 1px #d9d9d9;
    border-radius: 3px;
    padding: 6px 30px 5px 15px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    font-size: 17px;
    line-height: 20px;
    color: #000;
}
.search-content__clear{
    background: url(../images/delete_search.png) no-repeat left top;
    width: 14px;
    height: 14px;
    position: absolute;
    right: 12px;
    top:50%;
    margin-top: -7px;
    display: block;
    z-index: 3;
    border: 0;
    cursor: pointer;
}
.list-sections-jobs{
    padding: 10px 0 0 0;
    margin-bottom: 40px;
}
.list-sections-jobs > li{
    list-style: none;
    display: block;
}
.list-sections-jobs__title{
    border-bottom: solid 1px #e5e5e5;
    padding: 12px 0px 12px 0px;
    position: relative;
    font-size: 17px;
    color: #000000;
    line-height: 20px;
    display: block;
    font-family: Arial;
}
.list-sections-jobs__text-open{
    position: absolute;
    right: 0px;
    top:14px;
    font-size: 15px;
    line-height: 18px;
    display: block;
    font-family: Arial;
    color: #b0b0b0;
}
.list-sections-jobs__title:hover .list-sections-jobs__text-open{
    color: #fe0000;
}
.list-sections-jobs .listJobs{
    padding: 5px 0px 5px 0px;
    /*display: none;*/
}
.list-sections-jobs .listJobs ul{
    padding-top: 2px;
}
.answer{
   
    
}
.spinner {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin: 0 auto;
    background: url(../img/spinner.gif);
}
#answer-content{ 

/*margin-top: 30px; 
border-top: solid 1px #e4e4e4; */

padding-top:1px; display: none;}
.answer__img{
    margin: 0 auto;
}
.solution-name {
    display: none;
}
.answer__img img{
    display: block;
    max-width: 750px;
    margin: 0 auto;
}
.answer__battons{
    padding: 20px 0 0 0;
    overflow:hidden;
}
.btn.small{
    height: 34px;
    font-size: 17px;
    width: auto;
    min-width: 166px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 6px;
}
.btn.prev{
    float: left;
}
.btn.next{
    float: right;
}


@media screen and (min-width: 720px){
    .oneBook{
        max-width: 50%;
        margin-right: -5px;
    }
}

@media screen and (max-width: 1050px){

.answer__img img{
    display: block;
    width: 100%;
}

@media screen and (max-width: 955px){
    header {
        padding-right: 130px;
    }

}
@media screen and (max-width:900px){
    
}
@media screen and (max-width:767px){
    .total-search{
        width: auto;
        min-width: 0px;
    }
    .total-search__open{
        display: none;
        position: absolute;
        right: 0px;
        top:0px;
        width: 175px;
    }
    .total-search__btn-open{
        display: inline-block;
    }
    .list-sections-jobs__title{
        padding-left: 5px;
    }
}
@media screen and (max-width:460px){
    .total-search{
        display: none;
    }
}
    