/******************************* CSS RESET - MEYERWEB.COM *******************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}


/******************************* BASE CSS *******************************/
/* 	Common elements
	Commonly used elements on the site. Srsly.
*/
.clear { clear:both }
.left { text-align:left } .center { text-align:center } .right { text-align:right }
.alignleft { float:left } .aligncenter { margin:0 auto } .alignright { float:right }
img.alignleft, table.alignleft { margin:5px 10px 5px 0 } img.alignright, table.alignright { margin: 5px 0 5px 10px }
img.aligncenter { display:block; margin: 10px auto }
.noborder { border:none; padding:0 }
.nomargin { margin:0 }
.banner { border:none; padding:0; }
.hidden { display:none }
.show { display:block }
strong { font-weight:bold; color:#fff; }
.spacer { clear:both; margin-bottom:20px; padding-bottom:20px; border-bottom:1px solid #eee }
p.spacer { clear:none }

/* 	Styling the Body tag */
body {
	font-size:62.5%;
	font-family:'Helvetica Neue', Arial, sans-serif;
	color:#aaa;
	text-align:center;
	background:#000000 url(http://static.titlovi.com/images/art/body-bg.png) repeat 0 0;
}

/* 	Main tags */
h1, h2, h3, h4, p, .view table, .view ul, .view ol, .form { margin-bottom:15px; }

h1 { font:normal 32px/36px 'Helvetica Neue', Arial, sans-serif; color:#fff; }
h2 { font:normal 24px/28px 'Helvetica Neue', Arial, sans-serif; color:#fff; }
h3 { font:normal 18px/22px 'Helvetica Neue', Arial, sans-serif; color:#fff; }
h4 { font:bold 14px/20px 'Helvetica Neue', Arial, sans-serif; color:#fff; }
p, .view li {
    font-size:12px;
    line-height:18px;
    color:#aaa;
}
.view .description {
    font-size:14px;
    line-height:18px;
}
.view ul {
	list-style:disc inside;
}
.view ul ul { margin-left:25px; }
.view ul.widget, .view ul.widget ul, .view .form ol { list-style:none; margin:0; }
.view ol {
	margin-left:25px;
	list-style:decimal;
}
.view ol ol { list-style:lower-latin }
.view ul ul, .view ol ol { margin-bottom:0 }
.view li li { font-size:1em }

/* 	Building blocks */
.container {
	width:970px;
	margin:0 auto;
	position:relative;
	text-align:left;
}
#header { padding-top:20px;}
#header .container {
    padding-top:90px;
    background:url(http://static.titlovi.com/images/art/header-bg.jpg) no-repeat 0 0;
    border-bottom:5px solid rgba(0,0,0,.2);
    position:relative;
    z-index:100;
}
#main .container { background:url(http://static.titlovi.com/images/art/main-bg-y.png) repeat-y 50% 50%; position:relative; z-index:10; margin-top:-5px; margin-bottom:1px; }
#footer { padding-bottom:140px;}
#footer .container { background-color:#131415; padding:5px 0; }
#sidebar {
    float:right;
    width:300px;
    padding:10px;
}
#content {
    float:left;
    width:610px;
    padding:25px 20px 20px;
    position:relative;
}

/*	General HTML tags */

/*	Links */
a {
	color:#aec1dd;
	text-decoration:none;
	font-weight:bold;
}
a:hover {
	color:#fff;
	text-decoration:underline;
}
/* Transitions */
#content a, #sidebar a, #headnav a, #langnav a, .widget .listing li, .autocomplete a, .autocomplete2 a, .autocomplete3 a, .search .text, .form .text, .button, .action, #header .navigation a {
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

/*	Header */
#header .bar {
    background:#222429 url(http://static.titlovi.com/images/art/gradient-bottom-x.png) repeat-x 0 100%;
    width:970px;
    height:40px;
    border-top:1px solid #393a3f;
    border-bottom:2px solid #000;
    position:relative;
    z-index:50;
}
/* 	Logo */
#logo { margin:0; width:274px; position:absolute; top:13px; left:-12px; }
#logo a {
    display:block;
    height:77px;
    background:url(http://static.titlovi.com/images/art/logo.png) no-repeat 0 0;
    text-indent:-9999px;
}

/* Search */
.search {
    position:absolute;
    top:20px;
    right:40px;
    z-index:300;
}
.search div {
    float:left;
    margin-left:10px;
    font-size:12px;
}
.search .first {margin-left:0;}
.search div a { color:#8dabc3; }
.search label {
    display:block;
    font-size:14px;
    line-height:20px;
    color:#8797a4;
}
.search .text {
    border:1px solid #fff;
    font-size:14px;
    line-height:20px;
    font-weight:bold;
    color:#666;
    text-shadow:0 1px 0 rgba(255,255,255,.5);
    padding:4px 5px;

    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    background:#e2e2e2 url(http://static.titlovi.com/images/art/gradient-top-x.png) repeat-x 0 0;
}
.search .text:hover {
    color:#000;
}
.search .text:focus {
    background-color:#fff;
    color:#000;
    -moz-box-shadow:0px 0px 10px rgba(0,0,0,.5);
    -webkit-box-shadow:0px 0px 10px rgba(0,0,0,.5);
    box-shadow:0px 0px 10px rgba(0,0,0,.5);
}
.search select.text {
    height:28px;
}
.search .subtitle { width:210px; }
.search .subtitle .text { width:198px;}
.search .buttons .button { margin-top:20px; font-weight:bold; padding:5px 20px; overflow:visible; margin-right:10px; color:#fff;}

/* Autocomplete */
.autocomplete {
    width:210px;
    border:1px solid #fff;
    background-color:#eee;
    position:absolute;
    z-index:300;
    left:0;
    top:53px;

    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    -moz-box-shadow:0px 0px 10px rgba(0,0,0,.5);
    -webkit-box-shadow:0px 0px 10px rgba(0,0,0,.5);
    box-shadow:0px 0px 10px rgba(0,0,0,.5);
}
.autocomplete.show { display:block; }
.autocomplete li {
    font-size:12px;
    line-height:16px;
    border-top:1px solid #fff;
}
.autocomplete li.first, .autocomplete li:first-child { border-top:none; }
.autocomplete li a {
    display:block;
    padding:5px;
    text-decoration:none;
    color:#666;
    background:url(http://static.titlovi.com/images/art/gradient-bottom-x-2.png) repeat-x 50% 100%;
}
.autocomplete li a:hover {
    color:#000;
    background-color:#fff;
}
.autocomplete li a span {
    font-size:11px;
    font-weight:normal;
    color:#aaa;
}

/* Navigation */
#headnav {
    float:left;
}
#headnav li { float:left; font-size:16px; line-height:20px; }
#headnav li a { display:block; color:#aec1dd; font-weight:bold; padding:10px 15px; }
#headnav li a:hover { color:#fff; text-decoration:none;}

/* Langnav */
#langnav {
    margin:12px 10px 0 0;
    float:right;
}
#langnav li { float:left; margin-left:5px;}
#langnav li a {
    border:2px solid #000;
    text-indent:-9999px;
    width:16px;
    height:11px;
    display:block;
    background:url(http://static.titlovi.com/images/art/langnav.png) no-repeat 0 0;
    -moz-box-shadow:0px 1px 0px rgba(0,0,0,.5);
    -webkit-box-shadow:0px 1px 0px rgba(0,0,0,.5);
    box-shadow:0px 1px 0px rgba(0,0,0,.5);
}
#langnav li a:hover, #langnav li a.selected {
    border:2px solid #fff;
}
#langnav #langhr a { background-position:0 -11px}
#langnav #langsi a { background-position:-16px -11px}
#langnav #langrs a { background-position:-32px -11px}
#langnav #langen a { background-position:-48px -11px}
#langnav #langmk a { background-position:-64px -11px}
#langnav #langba a { background-position:-80px -11px}

#langnav #langhr a:hover { background-position:0 0}
#langnav #langsi a:hover { background-position:-16px 0}
#langnav #langrs a:hover { background-position:-32px 0}
#langnav #langen a:hover { background-position:-48px 0}
#langnav #langmk a:hover { background-position:-64px 0}
#langnav #langba a:hover { background-position:-80px 0}

/* Profile */
#header .profile {
    background:#2b4962;
    float:right;
    margin:4px;
}
#header .profile .navigation {
	position:relative;
	z-index:200;
	right:left;
}
#header .profile .navigation > li {
	position:relative;
	float:left;
	font-size:12px;
	line-height:20px;
	border-left:1px solid #355874;
}
#header .profile .navigation > li:first-child { border-left:none;}
#header .profile .navigation li > a {
    height:20px;
    padding:6px 10px;
    display:block;
}
#header .profile .navigation #myprofile > a {
	background:url(http://static.titlovi.com/images/art/icons/arrow-down-small.png) no-repeat 5px 50%;
	width:auto;
	height:20px;
	padding:6px 40px 6px 30px;
	display:block;
	color:#fff;
	font-weight:bold;
	text-shadow:1px 1px 0 rgba(0,0,0,0.2);
	text-decoration:none;
	position:relative;
}
#header .profile .navigation #myprofile img {
    position:absolute;
    top:2px;
    right:2px;
}
#header .profile .navigation #myprofile > a:hover, #header .profile .navigation #myprofile.active > a {}
#header .profile .navigation li ul {
	display:none;
	position:absolute;
	top:32px;
	right:0;
	width:240px;
}
#header .profile .navigation li:hover ul { display:block }
#header .profile .navigation li li a {
	width:220px;
	height:auto;
	font-size:12px;
	padding:5px 10px;
	font-weight:bold;
	text-shadow:1px 1px 0 rgba(0,0,0,0.2);
	display:block;
	text-decoration:none;
	border-top:1px solid #355874;
	background-color:#2b4962;
}
#header .profile .navigation li li a:hover {
	background:#121212;
}
#header .profile .navigation li li:last-child a {
    border-bottom:1px solid #355874;
}

/* Header > Banner */
#header .banner { background-color:#0e0f10; text-align:center; }
#header .banner div { margin:0 auto; display:block; }
/* Content > Subtitle */
#content.subtitle .inner {
    width:610px;
    padding:25px 20px 60px 20px;
    position:relative;
    margin-top:-25px;
    left:-20px;
}
/* Authentic */
#content.subtitle.authentic .inner { background-color:#1a3f2d; }
#content.subtitle.authentic .inner .meta { background-color:#133324; }
#content.subtitle.authentic .inner .author { background-color:#0f2c1e; }
/* Authentic V2 */
#content.subtitle.authentic2 .inner .meta { background-color:#1a3f2d; }
#content.subtitle.authentic2 .inner .author { background-color:#0f2c1e; }

#content.subtitle .inner h1 { margin-bottom:5px; text-shadow:0 2px 1px rgba(0,0,0,.4); font-weight:bold; }
#content.subtitle .inner .originaltitle { font-size:18px; line-height:24px; color:#fff; display:block; margin-bottom:5px; text-shadow:0 1px 1px rgba(0,0,0,.4); }
#content.subtitle .inner .originaltitle.imdb { padding-left:56px; background:url(http://static.titlovi.com/images/art/imdb-logo.png) no-repeat 0 50%; font-weight:bold; }
#content.subtitle .inner .release { font-size:14px; line-height:20px; color:#fff; display:block; margin-bottom:10px; text-shadow:0 1px 1px rgba(0,0,0,.4); }
#content.subtitle .inner .cover { float:left; }
#content.subtitle .inner .cover img { display:block; -moz-box-shadow:0px 2px 5px rgba(0,0,0,.5); -webkit-box-shadow:0px 2px 5px rgba(0,0,0,.5); box-shadow:0px 2px 5px rgba(0,0,0,.5); }

#content.subtitle .inner .meta {
    float:right;
    width:360px;
    background-color:#444;
    padding:5px;
    font-size:14px;
    line-height:20px;
    color:#ddd;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
#content.subtitle .inner .meta li.rating .votes { position:relative; }
#content.subtitle .inner .meta li.rating .votes a { font-weight:normal; }
#content.subtitle .inner .meta li.rating .votes .voteslisting {
    position:absolute;
    left:0;
    top:25px;
    display:none;
    width:250px;
    padding:5px;
    background-color:#444;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    z-index:100;
}
#content.subtitle .inner .meta li.rating .votes .voteslisting.show { display:block}
#content.subtitle .inner .meta li.rating .votes .voteslisting li {
    background:none;
    padding:2px 5px;
    width:240px;
    float:left;
    clear:both;
    background-color:#000;
    font-size:12px;
    line-height:18px;
    text-align:left;
    margin-bottom:1px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}
#content.subtitle .inner .meta li.rating .votes .voteslisting li .user { float:left; display:block; width:200px; }
#content.subtitle .inner .meta li.rating .votes .voteslisting li .grade{float:left;display:inline-block;background-color:#ece482;color:#000;text-align:center;padding:0;width:20px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}

#content.subtitle .inner .meta li.rating .votes .voteslisting li .delete { float:right; width:18px; height:18px; background:url(http://static.titlovi.com/images/art/icons/delete.png) no-repeat 50% 50%; text-indent:-9999px; }

#content.subtitle .inner .info li, #content.subtitle .inner .author, #content.subtitle .inner .download, #content.subtitle .inner .comment {
    background:#222 url(http://static.titlovi.com/images/art/gradient-bottom-x.png) repeat-x 0 100%;
    margin-bottom:1px;
    padding:10px;

    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}
#content.subtitle .inner .info  { float:left; width:140px; }
#content.subtitle .inner .info li { width:120px; text-align:center; color:#aaa; }
#content.subtitle .inner .info li span { color:#fff; font-weight:bold; line-height:20px; display:inline-block; padding-left:25px; }
#content.subtitle .inner .info li strong { color:#fff; }

/* Icons */
#content.subtitle .inner .info li.cd span { background:url(http://static.titlovi.com/images/art/icons/cd.png) no-repeat 0 50%; }
#content.subtitle .inner .info li.fps span { background:url(http://static.titlovi.com/images/art/icons/fps.png) no-repeat 0 50%; }
#content.subtitle .inner .info li.lang.hr span { background:url(http://static.titlovi.com/images/art/flags/hr.png) no-repeat 0 50%; }
#content.subtitle .inner .info li.lang.en span { background:url(http://static.titlovi.com/images/art/flags/en.png) no-repeat 0 50%; }
#content.subtitle .inner .info li.lang.rs span { background:url(http://static.titlovi.com/images/art/flags/rs.png) no-repeat 0 50%; }
#content.subtitle .inner .info li.lang.si span { background:url(http://static.titlovi.com/images/art/flags/si.png) no-repeat 0 50%; }
#content.subtitle .inner .info li.lang.mk span { background:url(http://static.titlovi.com/images/art/flags/mk.png) no-repeat 0 50%; }
#content.subtitle .inner .info li.lang.ba span { background:url(http://static.titlovi.com/images/art/flags/ba.png) no-repeat 0 50%; }

/* Rating */
#content.subtitle .info li ul.rating {
    text-align:center;
    margin:8px 0;
    -webkit-transition:none;
    -moz-transition:none;
    -o-transition:none;
    -ms-transition:none;
    transition:none
}
#content.subtitle .info li ul.rating li {
    display:inline-block;
    width:18px;
    padding:0;
    background:none;
}
#content.subtitle .info li ul.rating li a {
    display:block;
    text-indent:-9999px;
    width:18px;
    height:18px;
    background:url(http://static.titlovi.com/images/art/rating-stars.png) no-repeat 0 0;
}
#content.subtitle .inner .info li ul.rating li.full a, #content.subtitle .info li ul.rating li a:hover  { background-position:0 100%;}
#content.subtitle .inner .author { float:right; width:199px; height:199px; }
#content.subtitle .inner .author .button { background-color:#2a6047; border-color:#3c6a55; margin-bottom:10px;}
#content.subtitle .inner .author .button:hover { background-color:#3c7c5e; }
#content.subtitle .inner .author .name {
    font-size:20px;
    line-height:24px;
    padding-left:60px;
    float:left;
    margin-bottom:20px;
}
#content.subtitle .inner .author h3 {
    padding:5px 20px;
    font-size:14px;
    line-height:30px;
    background:#008641 url(http://static.titlovi.com/images/art/gradient-bottom-x.png) repeat-x 100% 0;
    text-transform:uppercase;
    margin-bottom:20px;
    position:relative;
    margin-top:-20px;

    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    border-radius:20px;
}
#content.subtitle .inner .author h3 span {
    display:inline-block;
    padding-left:30px;
    background:url(http://static.titlovi.com/images/art/icons/medal.png) no-repeat 0 50%;
}
#content.subtitle .author .avatar { position:relative; margin:0 0 0 -60px; float:left; }
#content.subtitle .author .avatar img { border:1px solid #84a997; display:block; }

/* Tabnav */
.tabnav {
    width:610px;
    padding:0 20px;
    position:relative;
    left:-20px;
    margin-bottom:20px;
    float:left;
    background:url(http://static.titlovi.com/images/art/gradient-bottom-x.png) repeat-x 0 100%;
    border-bottom:2px solid #2b2d33;
    list-style:none!important;
}
#content.subtitle .tabnav { margin-top:-40px; }
.tabnav li { float:left; margin-right:5px;}
.tabnav li a, #sidebar .tabnav li a {
    display:block;
    font-size:14px;
    line-height:20px;
    padding:10px 15px;
    background:#151515 url(http://static.titlovi.com/images/art/gradient-bottom-x.png) repeat-x 0 100%;
    color:#afafaf;
    text-shadow:0 1px 0 rgba(0,0,0,.5);

    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-radius-topleft:5px;
    -moz-border-radius-topright:5px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}
.tabnav li a.selected, .tabnav li a:hover, #sidebar .tabnav li a.selected, #sidebar .tabnav li a:hover {
    background-image:none;
    background-color:#2b2d33;
    color:#fff;
    text-decoration:none;
}

#sidebar .tabnav { width:260px; border-bottom:1px solid #2b2d33;}
#sidebar .tabnav li { margin:0 5px 0 0;}
#sidebar .tabnav li a {
    padding:5px 10px;
    font-size:12px;
}

/* Tab contents */
.tabcontent { float:left; width:100%; }
.action {
    display:block;
    font-size:18px;
    line-height:24px;
    padding:7px 10px;
    background:#151515 url(http://static.titlovi.com/images/art/gradient-bottom-x.png) repeat-x 0 100%;
    cursor:pointer;
    position:relative;
    margin-bottom:10px;
    border:1px solid #333;

    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}
.action:hover { border:1px solid #666; }
.action:hover .icon { color:#fff; }
.action span {
    font-size:11px;
    line-height:16px;
    color:#aaa;
}
.action span.icon {
    position:absolute;
    font-size:11px;
    line-height:16px;
    padding:12px 20px 12px 10px;
    color:#888;
    top:0;
    right:10px;
}
.action.open span.icon { background:url(http://static.titlovi.com/images/art/icons/arrow-up.png) no-repeat 100% 50%; }
.action.closed span.icon { background:url(http://static.titlovi.com/images/art/icons/arrow-down.png) no-repeat 100% 50%; }
/*
.seasons ul li.season {
    font-size:18px;
    line-height:24px;
    margin-bottom:1px;
}
.seasons ul li.season a span { display:block; background:url(http://static.titlovi.com/images/art/icons/arrow-down.png) no-repeat 100% 50%; }
.seasons ul li.season a.open span { background:url(http://static.titlovi.com/images/art/icons/arrow-up.png) no-repeat 100% 50%; }

.seasons ul li a {
    padding:6px 10px;
    background:#151515 url(http://static.titlovi.com/images/art/gradient-bottom-x.png) repeat-x 0 100%;
    color:#eee;
    display:block;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
.seasons ul li a:hover { color:#fff; background-color:#000; text-decoration:none; }
.seasons ul li li {
    font-size:12px;
    line-height:16px;
    margin-top:1px;
}
.seasons ul li li a { background-color:#181818; color:#888; font-weight:normal; padding:6px 10px;}
.seasons ul li li a.selected { background-color:#000; color:#fff; }
.seasons ul li li a:hover { background-color:#000; color:#fff; }
*/
/* Button */
.button {
    display:inline-block;
    background:#00427e url(http://static.titlovi.com/images/art/gradient-bottom-x.png) repeat-x 0 100%;
    padding:4px 10px;
    font-size:12px;
    line-height:20px;
    border:1px solid #004c7a;
    color:#fff;
    color:rgba(255,255,255,.8);
    cursor:pointer;
    text-shadow:0 1px 0 rgba(0,0,0,.2);
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    margin-right:5px;
    overflow:visible;
    -moz-box-shadow:0px 1px 0px rgba(0,0,0,.2);
    -webkit-box-shadow:0px 1px 0px rgba(0,0,0,.2);
    box-shadow:0px 1px 0px rgba(0,0,0,.2);
}
.button:hover {
    background-color:#1964a8;
    color:#fff;
    text-decoration:none;
}
.button span { padding-left:25px; display:inline-block; }
.button.s1 {
    font-size:16px;
    padding:9px 30px;
}
/* Icons */
.button-thumbsup span { background:url(http://static.titlovi.com/images/art/icons/thumbs-up.png) no-repeat 0 50%;}
.button-othersubtitles span { background:url(http://static.titlovi.com/images/art/icons/list.png) no-repeat 0 50%;}
.button-comment span { background:url(http://static.titlovi.com/images/art/icons/comment.png) no-repeat 0 50%;}
.button-download span { background:url(http://static.titlovi.com/images/art/icons/download.png) no-repeat 0 50%;}

.button-editsubtitle { margin-bottom:20px; }

/*	Columns */
.column {
	float:left;
	display:block;
	margin-left:20px;
	width:220px;
}
.column.first { margin-left:0; clear:both }

/* Form */
.form {
    background-color:#111;
    padding:20px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}

.form fieldset { margin-bottom:20px;}
.form ol {
    float:left;
    padding:0;
    margin:0;
    width:100%;
}
.form ol > li {
    clear:both;
    float:left;
    padding:5px 0;
    width:100%;
    border-bottom:1px solid #222;
}
.form ol > li.first { border-top:1px solid #222;}
.form ol li em {
    font-size:11px;
    line-height:15px;
    color:#999;
    padding:0;
    padding-left:180px;
    margin-top:5px;
    clear:both;
    float:left;
    font-style:normal;
    width:390px;
}

.form p, .form li { font-size:12px; line-height:16px; color:#888; }
.form label {
    font-size:12px;
    line-height:16px;
    text-shadow:0 1px 0 rgba(0,0,0,.5);
    margin-top:2px;
    padding:6px 0;
    color:#aaa;
    font-weight:bold;
    width:160px;
    margin-right:20px;
    float:left;
}
.form .required > label { color:#d71920; color:#aaa;}
.form input.text, .form textarea.text, .form select.text {
    border:1px solid #fff;
    background:#e2e2e2 url(http://static.titlovi.com/images/art/gradient-top-x.png) repeat-x 0 0;
    width:378px;
    font-size:14px;
    line-height:20px;
    font-weight:bold;
    color:#666;
    text-shadow:0 1px 0 rgba(255,255,255,.5);
    padding:4px 5px;

    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}
.form input.text:hover, .form textarea.text:hover, .form select.text:hover {
    color:#000;
}
.form input.text:focus, .form textarea.text:focus, .form select.text:focus {
    background-color:#fff;
    color:#000;
}
.form input.text.sizeauto, .form select.text.sizeauto { width:auto;}
.form input.text.s1, .form select.text.s1 { width:189px;}
.form textarea.text {
    resize:vertical;
    height:140px;
}
.form li.radio div { float:left; position:relative; float:left; margin-right:10px;}
.form li.radio div input { position:absolute; left:0; top:9px; margin:0; padding:0;}
.form li.radio div label, .form li.checkbox label {
    float:left;
    width:auto;
    cursor:pointer;
    margin-right:0;
    padding-left:20px;
}
.form li.checkbox { position:relative;}
.form li.checkbox input { position:absolute; left:0; top:15px; margin:0; padding:0; }
.form input.button { margin:10px 10px 10px 180px; color:#fff;}
.form input.button.nomargin { margin:0 }

p.msg {
    font-size:12px;
    line-height:18px;
    color:#ccc;
    font-weight:bold;
    padding:5px 10px;
    background-color:#333;
    border:1px solid #555;
    text-shadow:0 1px 0 rgba(0,0,0,.5);
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    -moz-box-shadow:inset 0px 0px 10px rgba(0,0,0,.2);
    -webkit-box-shadow:inset 0px 0px 10px rgba(0,0,0,.2);
    box-shadow:inset 0px 0px 10px rgba(0,0,0,.2);
}
p.msg.error {
    color:#fff;
    text-shadow:0 1px 0 rgba(0,0,0,.2);
    border:1px solid #f15a22;
    background-color:#db4f1b;
}
p.msg.important {
    color:#65601f;
    text-shadow:0 1px 0 rgba(255,255,255,.2);
    border:1px solid #fff579;
    background-color:#fff24e;
}
p.msg.important a { color:#000; border-bottom:1px solid rgba(0,0,0,.2); text-decoration:none; }
p.msg.important a:hover { color:#000; border-bottom:1px solid rgba(0,0,0,.5); }

.commentform input.button { margin-top:-10px; }

/* Comments */
ol.comments { margin-bottom:20px;}
ol.comments li { margin-top:5px }
ol.comments li.first { margin-top:0 }
ol.comments .commenthead {
    border-bottom:1px solid #222;
    padding:20px 20px 20px 58px;
    background-color:#000;
    font-size:12px;
    line-height:16px;
    position:relative;
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-radius-topleft:5px;
    -moz-border-radius-topright:5px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}
ol.comments .commenthead .time { position:absolute; right:20px; top:20px; font-size:11px; color:#666;}
ol.comments .commenthead .avatar {
    border:1px solid #666;
    position:relative;
    margin:-7px 0 0 -38px;
    float:left;
}
ol.comments .commentbody {
    padding:20px 20px 15px 20px;
    background-color:#111;
    -webkit-border-bottom-left-radius:5px;
    -webkit-border-bottom-right-radius:5px;
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottompright:5px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}
ol.comments .commentbody h4, ol.comments .commentbody p { margin-bottom:5px;}
ol.comments .deletecomment {
    font-size:11px;
    line-height:15px;
    text-align:right;
    display:inline-block;
    background-color:#444;
    color:#fff;
    padding:2px 8px;
    margin-top:10px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
ol.comments .deletecomment:hover { color:#fff; background-color:#da1a1a; text-decoration:none; }

/* Footer */
#footer p {
    font-size:12px;
    line-height:18px;
    padding:6px 10px;
    color:#bbb;
    margin-bottom:0;
}
#footer .navigation {
    padding:6px 0;
}
#footer .navigation li { float:left; border-left:1px solid #444; font-size:12px; line-height:18px; }
#footer .navigation li:first-child { border-left:none;}
#footer .navigation li a {
    display:block;
    padding:0px 10px;
}

/* Profile Box > Sidebar */
.myprofile ul { margin-bottom:10px; list-style:disc inside;}
.myprofile li {
    font-size:11px;
    line-height:14px;
}
.myprofile .user {
    float:left;
    padding:10px;
    width:240px;
    background:#2B4962 url(http://static.titlovi.com/images/art/gradient-bottom-x.png) repeat-x 0 100%;
    margin-bottom:10px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
.myprofile .user img {
    float:left;
    margin:0 10px 0 0;
    border:2px solid #4B6479;
}
.myprofile .user span {
    display:block;
    margin-top:5px;
    font-size:14px;
    line-height:18px;
    font-weight:bold;
    color:#fff;
    text-shadow:0 1px 0 rgba(0,0,0,.5);
}

/* Widgets */
.widget {}
.widget > li {
    margin-bottom:10px;
}
#sidebar .widget > li {
    background-color:#222429;
    border:1px solid #2d3035;
    padding:19px;
    -moz-box-shadow:0px 0px 10px rgba(0,0,0,1);
    -webkit-box-shadow:0px 0px 10px rgba(0,0,0,1);
    box-shadow:0px 0px 10px rgba(0,0,0,1);
}
#content .widget > li { margin-bottom:20px;}
#sidebar .widget > li.style1 { background:url(http://static.titlovi.com/images/art/sidebar-li-bg.png) no-repeat 100% 0;}
#sidebar .widget .nostyle {
    background:transparent;
    padding:0;
    border:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
}
.widget .likebox { background:#000; }

.widget h3 {
    color:#999;
    font-size:14px;
    line-height:16px;
}
.widget h4 {
    color:#999;
    font-size:12px;
    line-height:16px;
}
.widget p { font-size:12px; line-height:16px; }
.widget .news img { display:block; margin-bottom:10px; width:260px;  }
.widget .news .title {
    color:#fff;
    font-size:14px;
    line-height:18px;
    margin-bottom:5px;
    display:block;
}
.widget .news .description {
    margin-bottom:0;
    font-size:12px;
    line-height:18px;
    color:#bbb;
}
.widget .news .readmore {}
.widget .news .readmore:hover { text-decoration:underline; }

.widget ul.tagcloud li {
    display:inline;
    margin-right:10px;
}
.widget ul.tagcloud li a {
    font-size:12px;
    line-height:20px;
    font-weight:normal;
}
.widget ul.tagcloud li a:hover { color:#fff!important; }
.widget ul.tagcloud li a.tag1  { font-size:11px; color:rgba(174,193,221,.55); }
.widget ul.tagcloud li a.tag2  { font-size:12px; color:rgba(174,193,221,.60); font-weight:bold; }
.widget ul.tagcloud li a.tag3  { font-size:13px; color:rgba(174,193,221,.65); }
.widget ul.tagcloud li a.tag4  { font-size:14px; color:rgba(174,193,221,.70); font-weight:bold; }
.widget ul.tagcloud li a.tag5  { font-size:15px; color:rgba(174,193,221,.75); }
.widget ul.tagcloud li a.tag6  { font-size:16px; color:rgba(174,193,221,.80); font-weight:bold; }
.widget ul.tagcloud li a.tag7  { font-size:17px; color:rgba(174,193,221,.85); }
.widget ul.tagcloud li a.tag8  { font-size:18px; color:rgba(174,193,221,.9); font-weight:bold; }
.widget ul.tagcloud li a.tag9  { font-size:19px; color:rgba(174,193,221,.95); }
.widget ul.tagcloud li a.tag10 { font-size:20px; color:#fff; font-weight:bold; }

/* Widget > Navigation */
.widget .navigation {
    list-style:none;
}
.widget .navigation li { display:block; margin-bottom:1px; }
.widget .navigation li a {
    font-size:12px;
    line-height:18px;
    display:block;
    padding:8px 10px;
    text-decoration:none;
    color:#aaa;
    background:#111 url(http://static.titlovi.com/images/art/gradient-bottom-x.png) repeat-x 0 100%;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
.widget .navigation li.selected a, .widget .navigation li.selected a:hover {
    background-color:#193247;
    color:#fff;
    text-shadow:0 1px 0 rgba(0,0,0,.5);
}
.widget .navigation li a:hover {
    color:#fff;
    background-color:#000;
}
.widget .navigation li a.addsubtitle {
    color:#fff;
    background-color:#2A6047;
    text-shadow:0 1px 0 rgba(0,0,0,.2);
}
.widget .navigation li a.addsubtitle:hover { background-color:#3c7c5e; }
/* Listing */
.listing li {
    padding:9px;
    border:1px solid #3b3f4b;
    border:1px solid #353841;
    margin-top:-1px;
    cursor:pointer;
    position:relative;
}
.listing li.authentic {
    background-color:#0f2c1e;
    border:1px solid #1a3f2d;

    -moz-box-shadow:0px 0px 10px #1a3f2d;
    -webkit-box-shadow:0px 0px 10px #1a3f2d;
    box-shadow:0px 0px 10px #1a3f2d;
}
.listing li:hover, .listing li.alternate:hover {
    background-color:#103049;
    border:1px solid #1a4d76;

    -moz-box-shadow:0 0 10px rgba(0,0,0,1);
    -webkit-box-shadow:0 0 10px rgba(0,0,0,1);
    box-shadow:0 0 10px rgba(0,0,0,1);

    z-index:50;
}
.listing li.alternate {
    background-color:#111;
}
.listing li div {
    float:left;
    font-size:11px;
    line-height:14px;
}
.listing li .meta span {
    display:block;
}
.listing li .c1 { width:350px; margin-right:10px; }
.listing li .c2 { width:120px; margin-right:10px; }
.listing li .c3 { width:100px;}

.listing li h4 { margin-bottom:0;}
.listing li .comments {
    background:url(http://static.titlovi.com/images/art/icons/comment.png) no-repeat 50% 50%;
    width:20px;
    height:20px;
    text-indent:-9999px;
    float:left;
    display:block;
    margin-right:5px;
}
.listing li .authentic {
    background:url(http://static.titlovi.com/images/art/icons/medal-small.png) no-repeat 50% 50%;
    width:14px;
    height:20px;
    text-indent:-9999px;
    display:block;
    float:left;
    margin-right:5px;
}
.listing li .lang {
    width:30px;
    height:20px;
    text-indent:-9999px;
    float:left;
    margin-right:5px;
}
.listing li .author { clear:both;}
.listing li .download { width:80px; }
.listing li .download a {
    width:98px;
    text-align:center;
    color:#fff;
    font-weight:bold;
    padding:5px 0;
    line-height:18px;
    display:block;
}
.listing li .download span {
    display:block;
    padding:18px 4px 0 4px;
    background:url(http://static.titlovi.com/images/art/icons/download.png) no-repeat 50% 0;
}
.listing li .download a em { color:rgba(255,255,255,.5); font-weight:normal; font-size:11px;}
.listing li .release { display:block; }
.listing li .usernote {
/*
    background-color:#f7931e;
    color:#fcf2e6;
    font-weight:bold;
    text-shadow:0 1px 0 rgba(0,0,0,.2);
    padding:2px 5px;
    display:inline-block;
    margin-top:5px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    */
    display:block;
    margin-top:5px;
    font-size:12px;
    color:#f7931e;
}
.listing li .usernote a { color:#fff; }

/* Listing rating */
.listing li ul.rating { clear:both; padding:0; margin:2px 0; width:100px; float:left; }
.listing li ul.rating li {
    padding:0;
    border:none;
    background:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
}
.listing li ul.rating li {
    float:left;
    margin-right:2px;
    width:18px;
    padding:0;
    background:none;
}
.listing li ul.rating li a {
    display:block;
    text-indent:-9999px;
    width:18px;
    height:18px;
    background:url(http://static.titlovi.com/images/art/rating-stars.png) no-repeat 0 0;
}
.listing li ul.rating li.full a, .listing li ul.rating li a:hover  { background-position:0 100%;}

span.lang.hr { background:url(http://static.titlovi.com/images/art/flags/hr.png) no-repeat 5px 50%; }
span.lang.en { background:url(http://static.titlovi.com/images/art/flags/en.png) no-repeat 5px 50%; }
span.lang.rs { background:url(http://static.titlovi.com/images/art/flags/rs.png) no-repeat 5px 50%; }
span.lang.si { background:url(http://static.titlovi.com/images/art/flags/si.png) no-repeat 5px 50%; }
span.lang.mk { background:url(http://static.titlovi.com/images/art/flags/mk.png) no-repeat 5px 50%; }
span.lang.ba { background:url(http://static.titlovi.com/images/art/flags/ba.png) no-repeat 5px 50%; }

.listing span.lang.hr { background:url(http://static.titlovi.com/images/art/flags/hr2.png) no-repeat 0 50%; }
.listing span.lang.en { background:url(http://static.titlovi.com/images/art/flags/en2.png) no-repeat 0 50%; }
.listing span.lang.rs { background:url(http://static.titlovi.com/images/art/flags/rs2.png) no-repeat 0 50%; }
.listing span.lang.si { background:url(http://static.titlovi.com/images/art/flags/si2.png) no-repeat 0 50%; }
.listing span.lang.mk { background:url(http://static.titlovi.com/images/art/flags/mk2.png) no-repeat 0 50%; }
.listing span.lang.ba { background:url(http://static.titlovi.com/images/art/flags/ba2.png) no-repeat 0 50%; }

span.note { position:relative; display:inline-block; }
span.note .icon {
    display:inline-block;
    text-indent:-9999px;
    width:16px;
    height:16px;
    background:url(http://static.titlovi.com/images/art/icons/nuked.png);
    position:relative;
    top:1px;
    z-index:10;
}
span.note .description {
    display:none;
    position:absolute;
    background-color:#000;
    border:1px solid #444;
    width:140px;
    padding:5px;
    font-size:11px;
    line-height:15px;
    z-index:100;

    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;

    -moz-box-shadow:0px 0px 10px rgba(0,0,0,.2);
    -webkit-box-shadow:0px 0px 10px rgba(0,0,0,.2);
    box-shadow:0px 0px 10px rgba(0,0,0,.2);
}
span.note:hover .description {display:block;}

/* Pagination */
.pagination {
    text-align:center;
    float:left;
    width:100%;
}
.pagination li {
    font-size:12px;
    line-height:24px;
    float:left;
    margin-right:2px;
    margin-bottom:2px;
}
.pagination li.nostyle {
    font-size:14px;
    padding:2px 7px;
    text-shadow:0 1px 0 rgba(0,0,0,.5);
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}
.pagination li a {
    display:block;
    padding:2px 7px;
    color:#aaa;
    background:#222 url(http://static.titlovi.com/images/art/gradient-bottom-x.png) repeat-x 0 100%;
    border:1px solid #444;
    text-shadow:0 1px 0 rgba(0,0,0,.5);
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}
.pagination li a:hover {
    color:#222;
    background-color:#eee;
    text-shadow:0 1px 0 rgba(255,255,255,.5);
    text-decoration:none;

}
.pagination li.selected a {
    font-weight:bold;
    color:#444;
    text-shadow:0 1px 0 rgba(255,255,255,.5);
    background-color:#999;
    border:1px solid #999;
}
/* Alphabet */
.alphabet {
    padding:5px 5px 3px 5px;
    background-color:#151515;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
.alphabet .pagination a { width:22px; font-size:14px; text-transform:uppercase; }

/* Filter navigation */
.filter {
    position:relative;
    z-index:100;
    background-color:#151515;
    padding:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
.filter .title {
    padding:5px;
    font-size:12px;
    line-height:16px;
    margin-right:10px;
    color:#aaa;
    float:left;
    margin-bottom:0;
}
.filter .navigation > li {
    float:left;
    margin-left:5px;
    position:relative;
}
.filter .navigation li { margin-bottom:1px; width:200px; }
.filter .navigation li li { margin-top:1px; margin-bottom:0; }
.filter .navigation li a {
    display:block;
    font-size:12px;
    line-height:16px;
    padding:5px 10px;
    background:#00427e url(http://static.titlovi.com/images/art/icons/arrow-down-small.png) no-repeat 100% 50%;
    color:#fff;
    color:rgba(255,255,255,.8);
    text-decoration:none;

    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}
.filter .navigation li ul { display:none; z-index:200;}
.filter .navigation li:hover ul {
    display:block;
    left:-5px;
    position:absolute;
    background-color:#000;
    padding:0 5px 5px 5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
.filter .navigation li a:hover { background-color:#1964a8; color:#fff;}
.filter .navigation li li a { background-image:none;}
.filter .navigation li li a:hover { background-image:url(http://static.titlovi.com/images/art/icons/check-small.png);}

.filter .navigation .check { display:block; margin:0; }
.filter .navigation .check li { width:auto; float:left; margin:0 5px 0 0; }
.filter .navigation .check li a { background-color:#444;}
.filter .navigation .check li a:hover { background-color:#666; background-image:none;}
.filter .navigation .check li.selected a { background:#00427e url(http://static.titlovi.com/images/art/icons/check-small.png) no-repeat 100% 50%; padding-right:20px; }

/*	Fixevi */
.clearfix:before, .clearfix:after, .widget:before, .widget:after, .widget > li:after, .widget > li:before
	{ content: "\0020"; display: block; height: 0; visibility: hidden; }

.clearfix:after, .widget:after, .widget > li:after
	{ clear: both; }

.clearfix, .widget, .widget > li
	{ zoom: 1; }

/*	The end ;) */

#site {
    width: 970px;
    margin: auto;
    text-align: left;
    position: relative;
    z-index: 990;
}
#wallpaper_bkg_ad {
}

/* Advanced search */
.form .advanced-search fieldset { margin-bottom:10px;}
.form .advanced-search .button { margin:0;}
.advanced-search label {
    display:block;
    float:none;
}
.form .advanced-search li {
    float:left;
    width:auto;
    border-bottom:none;
    clear:none;
    margin-left:10px;
}
.form .advanced-search li.first { margin-left:0; clear:both; border-top:none }
.advanced-search .s-auto.text, .advanced-search .text {
    width:auto!important;
}


.form .advanced-search .field-title        { width:350px; }
.form .advanced-search .field-language     { width:210px; }
.form .advanced-search .field-type         { width:350px; }
.form .advanced-search .field-season       { width:100px; }
.form .advanced-search .field-episode      { width:100px; }
.form .advanced-search .field-uploader     { width:350px; }
.form .advanced-search .field-year         { width:100px; }
.form .advanced-search .field-cd           { width:100px; }

.form .advanced-search .field-title .text,
.form .advanced-search .field-type .text,
.form .advanced-search .field-uploader .text {
    width:338px!important;
}

.autocomplete2 {
    width:348px;
    border:1px solid #fff;
    background-color:#eee;
    position:absolute;
    z-index:300;
    left:0;
    top:67px;

    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    -moz-box-shadow:0px 0px 10px rgba(0,0,0,.5);
    -webkit-box-shadow:0px 0px 10px rgba(0,0,0,.5);
    box-shadow:0px 0px 10px rgba(0,0,0,.5);
}
.autocomplete2.show { display:block; }
.autocomplete2 li {
    font-size:12px;
    line-height:16px;
    border-top:1px solid #fff !important;
    float: none !important;
    margin-left: 0 !important;
    width: auto;
}
.autocomplete2 li.first, .autocomplete2 li:first-child { border-top:none; }
.autocomplete2 li a {
    display:block;
    padding:5px;
    text-decoration:none;
    color:#666;
    background:url(http://static.titlovi.com/images/art/gradient-bottom-x-2.png) repeat-x 50% 100%;
}
.autocomplete2 li a:hover {
    color:#000;
    background-color:#fff;
}
.autocomplete2 li a span {
    font-size:11px;
    font-weight:normal;
    color:#aaa;
}

.autocomplete3 {
    width:348px;
    border:1px solid #fff;
    background-color:#eee;
    position:absolute;
    z-index:300;
    left:0;
    top:67px;

    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    -moz-box-shadow:0px 0px 10px rgba(0,0,0,.5);
    -webkit-box-shadow:0px 0px 10px rgba(0,0,0,.5);
    box-shadow:0px 0px 10px rgba(0,0,0,.5);
}
.autocomplete3.show { display:block; }
.autocomplete3 li {
    font-size:12px;
    line-height:16px;
    border-top:1px solid #fff !important;
    float: none !important;
    margin-left: 0 !important;
    width: auto;
}
.autocomplete3 li.first, .autocomplete3 li:first-child { border-top:none; }
.autocomplete3 li a {
    display:block;
    padding:5px;
    text-decoration:none;
    color:#666;
    background:url(http://static.titlovi.com/images/art/gradient-bottom-x-2.png) repeat-x 50% 100%;
}
.autocomplete3 li a:hover {
    color:#000;
    background-color:#fff;
}
.autocomplete3 li a span {
    font-size:11px;
    font-weight:normal;
    color:#aaa;
}





.ui-multiselect { padding:2px 0 2px 4px; text-align:left }
.ui-multiselect span.ui-icon { float:right }
.ui-multiselect-single .ui-multiselect-checkboxes input { position:absolute !important; top: auto !important; left:-9999px; }
.ui-multiselect-single .ui-multiselect-checkboxes label { padding:5px !important; }

.ui-multiselect-header { margin-bottom:3px; padding:3px 0 3px 4px }
.ui-multiselect-header ul { font-size:0.9em }
.ui-multiselect-header ul li { float:left; padding:4px 10px 0 0 }
.ui-multiselect-header a { text-decoration:none }
.ui-multiselect-header a:hover { text-decoration:underline }
.ui-multiselect-header span.ui-icon { float:left }
.ui-multiselect-header li.ui-multiselect-close { float:right; text-align:right; padding-right:0 }

.ui-multiselect-menu { display:none; padding:3px; position:absolute; z-index:10000; text-align: left }
.ui-multiselect-checkboxes { position:relative /* fixes bug in IE6/7 */; overflow-y:scroll }
.ui-multiselect-checkboxes label { cursor:default; display:block; border:1px solid transparent; padding:3px 1px; color: #666666; font-size: 12px; font-weight: bold; }
.ui-multiselect-checkboxes label input { position:relative; top:3px; border: 1px solid #111; margin:0 5px 0 5px; padding:0; }
.ui-multiselect-checkboxes li { clear:both; font-size:0.9em; padding-right:3px }
.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label { text-align:center; font-weight:bold; border-bottom:1px solid }
.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label a { display:block; padding:3px; margin:1px 0; text-decoration:none }

/* remove label borders in IE6 because IE6 does not support transparency */
* html .ui-multiselect-checkboxes label { border:none }


/*! jQuery UI - v1.9.2 - 2012-11-23
* http://jqueryui.com
* Includes: jquery.ui.core.css, jquery.ui.accordion.css, jquery.ui.autocomplete.css, jquery.ui.button.css, jquery.ui.datepicker.css, jquery.ui.dialog.css, jquery.ui.menu.css, jquery.ui.progressbar.css, jquery.ui.resizable.css, jquery.ui.selectable.css, jquery.ui.slider.css, jquery.ui.spinner.css, jquery.ui.tabs.css, jquery.ui.tooltip.css, jquery.ui.theme.css
* Copyright 2012 jQuery Foundation and other contributors; Licensed MIT */

/* Layout helpers
----------------------------------*/
.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:before, .ui-helper-clearfix:after { content: ""; display: table; }
.ui-helper-clearfix:after { clear: both; }
.ui-helper-clearfix { zoom: 1; }
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }


/* Interaction Cues
----------------------------------*/
.ui-state-disabled { cursor: default !important; }


/* Icons
----------------------------------*/

/* states and images */
.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }


/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.ui-accordion .ui-accordion-header { display: block; cursor: pointer; position: relative; margin-top: 2px; padding: .5em .5em .5em .7em; zoom: 1; }
.ui-accordion .ui-accordion-icons { padding-left: 2.2em; }
.ui-accordion .ui-accordion-noicons { padding-left: .7em; }
.ui-accordion .ui-accordion-icons .ui-accordion-icons { padding-left: 2.2em; }
.ui-accordion .ui-accordion-header .ui-accordion-header-icon { position: absolute; left: .5em; top: 50%; margin-top: -8px; }
.ui-accordion .ui-accordion-content { padding: 1em 2.2em; border-top: 0; overflow: auto; zoom: 1; }

.ui-autocomplete {
	position: absolute;
	top: 0;
	left: 0;
	cursor: default;
}

/* workarounds */
* html .ui-autocomplete { width:1px; } /* without this, the menu expands to 100% in IE6 */

.ui-button { display: inline-block; position: relative; padding: 0; margin-right: .1em; cursor: pointer; text-align: center; zoom: 1; overflow: visible; } /* the overflow property removes extra width in IE */
.ui-button, .ui-button:link, .ui-button:visited, .ui-button:hover, .ui-button:active { text-decoration: none; }
.ui-button-icon-only { width: 2.2em; } /* to make room for the icon, a width needs to be set here */
button.ui-button-icon-only { width: 2.4em; } /* button elements seem to need a little more width */
.ui-button-icons-only { width: 3.4em; }
button.ui-button-icons-only { width: 3.7em; }

/*button text element */
.ui-button .ui-button-text { display: block; line-height: 1.4;  }
.ui-button-text-only .ui-button-text { padding: .4em 1em; }
.ui-button-icon-only .ui-button-text, .ui-button-icons-only .ui-button-text { padding: .4em; text-indent: -9999999px; }
.ui-button-text-icon-primary .ui-button-text, .ui-button-text-icons .ui-button-text { padding: .4em 1em .4em 2.1em; }
.ui-button-text-icon-secondary .ui-button-text, .ui-button-text-icons .ui-button-text { padding: .4em 2.1em .4em 1em; }
.ui-button-text-icons .ui-button-text { padding-left: 2.1em; padding-right: 2.1em; }
/* no icon support for input elements, provide padding by default */
input.ui-button { padding: .4em 1em; }

/*button icon element(s) */
.ui-button-icon-only .ui-icon, .ui-button-text-icon-primary .ui-icon, .ui-button-text-icon-secondary .ui-icon, .ui-button-text-icons .ui-icon, .ui-button-icons-only .ui-icon { position: absolute; top: 50%; margin-top: -8px; }
.ui-button-icon-only .ui-icon { left: 50%; margin-left: -8px; }
.ui-button-text-icon-primary .ui-button-icon-primary, .ui-button-text-icons .ui-button-icon-primary, .ui-button-icons-only .ui-button-icon-primary { left: .5em; }
.ui-button-text-icon-secondary .ui-button-icon-secondary, .ui-button-text-icons .ui-button-icon-secondary, .ui-button-icons-only .ui-button-icon-secondary { right: .5em; }
.ui-button-text-icons .ui-button-icon-secondary, .ui-button-icons-only .ui-button-icon-secondary { right: .5em; }

/*button sets*/
.ui-buttonset { margin-right: 7px; }
.ui-buttonset .ui-button { margin-left: 0; margin-right: -.3em; }

/* workarounds */
button.ui-button::-moz-focus-inner { border: 0; padding: 0; } /* reset extra padding in Firefox */

.ui-datepicker { width: 17em; padding: .2em .2em 0; display: none; }
.ui-datepicker .ui-datepicker-header { position:relative; padding:.2em 0; }
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { position:absolute; top: 2px; width: 1.8em; height: 1.8em; }
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover { top: 1px; }
.ui-datepicker .ui-datepicker-prev { left:2px; }
.ui-datepicker .ui-datepicker-next { right:2px; }
.ui-datepicker .ui-datepicker-prev-hover { left:1px; }
.ui-datepicker .ui-datepicker-next-hover { right:1px; }
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span { display: block; position: absolute; left: 50%; margin-left: -8px; top: 50%; margin-top: -8px;  }
.ui-datepicker .ui-datepicker-title { margin: 0 2.3em; line-height: 1.8em; text-align: center; }
.ui-datepicker .ui-datepicker-title select { font-size:1em; margin:1px 0; }
.ui-datepicker select.ui-datepicker-month-year {width: 100%;}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year { width: 49%;}
.ui-datepicker table {width: 100%; font-size: .9em; border-collapse: collapse; margin:0 0 .4em; }
.ui-datepicker th { padding: .7em .3em; text-align: center; font-weight: bold; border: 0;  }
.ui-datepicker td { border: 0; padding: 1px; }
.ui-datepicker td span, .ui-datepicker td a { display: block; padding: .2em; text-align: right; text-decoration: none; }
.ui-datepicker .ui-datepicker-buttonpane { background-image: none; margin: .7em 0 0 0; padding:0 .2em; border-left: 0; border-right: 0; border-bottom: 0; }
.ui-datepicker .ui-datepicker-buttonpane button { float: right; margin: .5em .2em .4em; cursor: pointer; padding: .2em .6em .3em .6em; width:auto; overflow:visible; }
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current { float:left; }

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi { width:auto; }
.ui-datepicker-multi .ui-datepicker-group { float:left; }
.ui-datepicker-multi .ui-datepicker-group table { width:95%; margin:0 auto .4em; }
.ui-datepicker-multi-2 .ui-datepicker-group { width:50%; }
.ui-datepicker-multi-3 .ui-datepicker-group { width:33.3%; }
.ui-datepicker-multi-4 .ui-datepicker-group { width:25%; }
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header { border-left-width:0; }
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header { border-left-width:0; }
.ui-datepicker-multi .ui-datepicker-buttonpane { clear:left; }
.ui-datepicker-row-break { clear:both; width:100%; font-size:0em; }

/* RTL support */
.ui-datepicker-rtl { direction: rtl; }
.ui-datepicker-rtl .ui-datepicker-prev { right: 2px; left: auto; }
.ui-datepicker-rtl .ui-datepicker-next { left: 2px; right: auto; }
.ui-datepicker-rtl .ui-datepicker-prev:hover { right: 1px; left: auto; }
.ui-datepicker-rtl .ui-datepicker-next:hover { left: 1px; right: auto; }
.ui-datepicker-rtl .ui-datepicker-buttonpane { clear:right; }
.ui-datepicker-rtl .ui-datepicker-buttonpane button { float: left; }
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current { float:right; }
.ui-datepicker-rtl .ui-datepicker-group { float:right; }
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header { border-right-width:0; border-left-width:1px; }
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header { border-right-width:0; border-left-width:1px; }

/* IE6 IFRAME FIX (taken from datepicker 1.5.3 */
.ui-datepicker-cover {
    position: absolute; /*must have*/
    z-index: -1; /*must have*/
    filter: mask(); /*must have*/
    top: -4px; /*must have*/
    left: -4px; /*must have*/
    width: 200px; /*must have*/
    height: 200px; /*must have*/
}
.ui-dialog { position: absolute; top: 0; left: 0; padding: .2em; width: 300px; overflow: hidden; }
.ui-dialog .ui-dialog-titlebar { padding: .4em 1em; position: relative;  }
.ui-dialog .ui-dialog-title { float: left; margin: .1em 16px .1em 0; }
.ui-dialog .ui-dialog-titlebar-close { position: absolute; right: .3em; top: 50%; width: 19px; margin: -10px 0 0 0; padding: 1px; height: 18px; }
.ui-dialog .ui-dialog-titlebar-close span { display: block; margin: 1px; }
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus { padding: 0; }
.ui-dialog .ui-dialog-content { position: relative; border: 0; padding: .5em 1em; background: none; overflow: auto; zoom: 1; }
.ui-dialog .ui-dialog-buttonpane { text-align: left; border-width: 1px 0 0 0; background-image: none; margin: .5em 0 0 0; padding: .3em 1em .5em .4em; }
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset { float: right; }
.ui-dialog .ui-dialog-buttonpane button { margin: .5em .4em .5em 0; cursor: pointer; }
.ui-dialog .ui-resizable-se { width: 14px; height: 14px; right: 3px; bottom: 3px; }
.ui-draggable .ui-dialog-titlebar { cursor: move; }

.ui-menu { list-style:none; padding: 2px; margin: 0; display:block; outline: none; }
.ui-menu .ui-menu { margin-top: -3px; position: absolute; }
.ui-menu .ui-menu-item { margin: 0; padding: 0; zoom: 1; width: 100%; }
.ui-menu .ui-menu-divider { margin: 5px -2px 5px -2px; height: 0; font-size: 0; line-height: 0; border-width: 1px 0 0 0; }
.ui-menu .ui-menu-item a { text-decoration: none; display: block; padding: 2px .4em; line-height: 1.5; zoom: 1; font-weight: normal; }
.ui-menu .ui-menu-item a.ui-state-focus,
.ui-menu .ui-menu-item a.ui-state-active { font-weight: normal; margin: -1px; }

.ui-menu .ui-state-disabled { font-weight: normal; margin: .4em 0 .2em; line-height: 1.5; }
.ui-menu .ui-state-disabled a { cursor: default; }

/* icon support */
.ui-menu-icons { position: relative; }
.ui-menu-icons .ui-menu-item a { position: relative; padding-left: 2em; }

/* left-aligned */
.ui-menu .ui-icon { position: absolute; top: .2em; left: .2em; }

/* right-aligned */
.ui-menu .ui-menu-icon { position: static; float: right; }

.ui-progressbar { height:2em; text-align: left; overflow: hidden; }
.ui-progressbar .ui-progressbar-value {margin: -1px; height:100%; }
.ui-resizable { position: relative;}
.ui-resizable-handle { position: absolute;font-size: 0.1px; display: block; }
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; }
.ui-resizable-n { cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0; }
.ui-resizable-s { cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0; }
.ui-resizable-e { cursor: e-resize; width: 7px; right: -5px; top: 0; height: 100%; }
.ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0; height: 100%; }
.ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px; }
.ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }
.ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }
.ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px;}
.ui-selectable-helper { position: absolute; z-index: 100; border:1px dotted black; }

.ui-slider { position: relative; text-align: left; }
.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 1.2em; height: 1.2em; cursor: default; }
.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background-position: 0 0; }

.ui-slider-horizontal { height: .8em; }
.ui-slider-horizontal .ui-slider-handle { top: -.3em; margin-left: -.6em; }
.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }

.ui-slider-vertical { width: .8em; height: 100px; }
.ui-slider-vertical .ui-slider-handle { left: -.3em; margin-left: 0; margin-bottom: -.6em; }
.ui-slider-vertical .ui-slider-range { left: 0; width: 100%; }
.ui-slider-vertical .ui-slider-range-min { bottom: 0; }
.ui-slider-vertical .ui-slider-range-max { top: 0; }
.ui-spinner { position:relative; display: inline-block; overflow: hidden; padding: 0; vertical-align: middle; }
.ui-spinner-input { border: none; background: none; padding: 0; margin: .2em 0; vertical-align: middle; margin-left: .4em; margin-right: 22px; }
.ui-spinner-button { width: 16px; height: 50%; font-size: .5em; padding: 0; margin: 0; text-align: center; position: absolute; cursor: default; display: block; overflow: hidden; right: 0; }
.ui-spinner a.ui-spinner-button { border-top: none; border-bottom: none; border-right: none; } /* more specificity required here to overide default borders */
.ui-spinner .ui-icon { position: absolute; margin-top: -8px; top: 50%; left: 0; } /* vertical centre icon */
.ui-spinner-up { top: 0; }
.ui-spinner-down { bottom: 0; }

/* TR overrides */
.ui-spinner .ui-icon-triangle-1-s {
	/* need to fix icons sprite */
	background-position:-65px -16px;
}

.ui-tabs { position: relative; padding: .2em; zoom: 1; } /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
.ui-tabs .ui-tabs-nav { margin: 0; padding: .2em .2em 0; }
.ui-tabs .ui-tabs-nav li { list-style: none; float: left; position: relative; top: 0; margin: 1px .2em 0 0; border-bottom: 0; padding: 0; white-space: nowrap; }
.ui-tabs .ui-tabs-nav li a { float: left; padding: .5em 1em; text-decoration: none; }
.ui-tabs .ui-tabs-nav li.ui-tabs-active { margin-bottom: -1px; padding-bottom: 1px; }
.ui-tabs .ui-tabs-nav li.ui-tabs-active a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-tabs-loading a { cursor: text; }
.ui-tabs .ui-tabs-nav li a, .ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel { display: block; border-width: 0; padding: 1em 1.4em; background: none; }

.ui-tooltip {
	padding: 8px;
	position: absolute;
	z-index: 9999;
	max-width: 300px;
	-webkit-box-shadow: 0 0 5px #aaa;
	box-shadow: 0 0 5px #aaa;
}
/* Fades and background-images don't work well together in IE6, drop the image */
* html .ui-tooltip {
	background-image: none;
}
body .ui-tooltip { border-width: 2px; }

/* Component containers
----------------------------------*/
.ui-widget { font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif; font-size: 1.1em; }
.ui-widget .ui-widget { font-size: 1em; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif; font-size: 1em; }
.ui-widget-content { border: 1px solid #dddddd; background: #eeeeee url(http://static.titlovi.com/images/ui-bg_highlight-soft_100_eeeeee_1x100.png) 50% top repeat-x; color: #333333; }
.ui-widget-content a { color: #333333; }
.ui-widget-header { border: 1px solid #000; background: #333333; color: #ffffff; font-weight: bold; }
.ui-widget-header a { color: #ffffff; }

/* Interaction states
----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { border: 1px solid #ccc; background: #E2E2E2 url("http://static.titlovi.com/images/art/gradient-top-x.png") repeat-x; font-weight: bold; color: #666666; }
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #1c94c4; text-decoration: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { border: 1px solid #ccc; color: #000; }
.ui-state-hover a, .ui-state-hover a:hover, .ui-state-hover a:link, .ui-state-hover a:visited { color: #c77405; text-decoration: none; }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { border: 1px solid #ccc; background-color: #ffffff; font-weight: bold; color: #000; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #eb8f00; text-decoration: none; }

/* Interaction Cues
----------------------------------*/
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight  {border: 1px solid #fed22f; background: #333333; color: #363636; }
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a { color: #363636; }
.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {border: 1px solid #cd0a0a; background: #b81900 url(images/ui-bg_diagonals-thick_18_b81900_40x40.png) 50% 50% repeat; color: #ffffff; }
.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a { color: #ffffff; }
.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text { color: #ffffff; }
.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary { font-weight: bold; }
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary,  .ui-widget-header .ui-priority-secondary { opacity: .7; filter:Alpha(Opacity=70); font-weight: normal; }
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled { opacity: .35; filter:Alpha(Opacity=35); background-image: none; }
.ui-state-disabled .ui-icon { filter:Alpha(Opacity=35); } /* For IE8 - See #6059 */

/* Icons
----------------------------------*/

/* states and images */
.ui-icon { width: 16px; height: 16px; background-image: url(images/ui-icons_222222_256x240.png); }
.ui-widget-content .ui-icon {background-image: url(images/ui-icons_222222_256x240.png); }
.ui-widget-header .ui-icon {background-image: url(images/ui-icons_ffffff_256x240.png); }
.ui-state-default .ui-icon { background-image: url(images/ui-icons_ef8c08_256x240.png); }
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {background-image: url(images/ui-icons_ef8c08_256x240.png); }
.ui-state-active .ui-icon {background-image: url(images/ui-icons_ef8c08_256x240.png); }
.ui-state-highlight .ui-icon {background-image: url(images/ui-icons_228ef1_256x240.png); }
.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {background-image: url(images/ui-icons_ffd27a_256x240.png); }

/* positioning */
.ui-icon-carat-1-n { background-position: 0 0; }
.ui-icon-carat-1-ne { background-position: -16px 0; }
.ui-icon-carat-1-e { background-position: -32px 0; }
.ui-icon-carat-1-se { background-position: -48px 0; }
.ui-icon-carat-1-s { background-position: -64px 0; }
.ui-icon-carat-1-sw { background-position: -80px 0; }
.ui-icon-carat-1-w { background-position: -96px 0; }
.ui-icon-carat-1-nw { background-position: -112px 0; }
.ui-icon-carat-2-n-s { background-position: -128px 0; }
.ui-icon-carat-2-e-w { background-position: -144px 0; }
.ui-icon-triangle-1-n { background-position: 0 -16px; }
.ui-icon-triangle-1-ne { background-position: -16px -16px; }
.ui-icon-triangle-1-e { background-position: -32px -16px; }
.ui-icon-triangle-1-se { background-position: -48px -16px; }
.ui-icon-triangle-1-s { background-position: -64px -16px; }
.ui-icon-triangle-1-sw { background-position: -80px -16px; }
.ui-icon-triangle-1-w { background-position: -96px -16px; }
.ui-icon-triangle-1-nw { background-position: -112px -16px; }
.ui-icon-triangle-2-n-s { background-position: -128px -16px; }
.ui-icon-triangle-2-e-w { background-position: -144px -16px; }
.ui-icon-arrow-1-n { background-position: 0 -32px; }
.ui-icon-arrow-1-ne { background-position: -16px -32px; }
.ui-icon-arrow-1-e { background-position: -32px -32px; }
.ui-icon-arrow-1-se { background-position: -48px -32px; }
.ui-icon-arrow-1-s { background-position: -64px -32px; }
.ui-icon-arrow-1-sw { background-position: -80px -32px; }
.ui-icon-arrow-1-w { background-position: -96px -32px; }
.ui-icon-arrow-1-nw { background-position: -112px -32px; }
.ui-icon-arrow-2-n-s { background-position: -128px -32px; }
.ui-icon-arrow-2-ne-sw { background-position: -144px -32px; }
.ui-icon-arrow-2-e-w { background-position: -160px -32px; }
.ui-icon-arrow-2-se-nw { background-position: -176px -32px; }
.ui-icon-arrowstop-1-n { background-position: -192px -32px; }
.ui-icon-arrowstop-1-e { background-position: -208px -32px; }
.ui-icon-arrowstop-1-s { background-position: -224px -32px; }
.ui-icon-arrowstop-1-w { background-position: -240px -32px; }
.ui-icon-arrowthick-1-n { background-position: 0 -48px; }
.ui-icon-arrowthick-1-ne { background-position: -16px -48px; }
.ui-icon-arrowthick-1-e { background-position: -32px -48px; }
.ui-icon-arrowthick-1-se { background-position: -48px -48px; }
.ui-icon-arrowthick-1-s { background-position: -64px -48px; }
.ui-icon-arrowthick-1-sw { background-position: -80px -48px; }
.ui-icon-arrowthick-1-w { background-position: -96px -48px; }
.ui-icon-arrowthick-1-nw { background-position: -112px -48px; }
.ui-icon-arrowthick-2-n-s { background-position: -128px -48px; }
.ui-icon-arrowthick-2-ne-sw { background-position: -144px -48px; }
.ui-icon-arrowthick-2-e-w { background-position: -160px -48px; }
.ui-icon-arrowthick-2-se-nw { background-position: -176px -48px; }
.ui-icon-arrowthickstop-1-n { background-position: -192px -48px; }
.ui-icon-arrowthickstop-1-e { background-position: -208px -48px; }
.ui-icon-arrowthickstop-1-s { background-position: -224px -48px; }
.ui-icon-arrowthickstop-1-w { background-position: -240px -48px; }
.ui-icon-arrowreturnthick-1-w { background-position: 0 -64px; }
.ui-icon-arrowreturnthick-1-n { background-position: -16px -64px; }
.ui-icon-arrowreturnthick-1-e { background-position: -32px -64px; }
.ui-icon-arrowreturnthick-1-s { background-position: -48px -64px; }
.ui-icon-arrowreturn-1-w { background-position: -64px -64px; }
.ui-icon-arrowreturn-1-n { background-position: -80px -64px; }
.ui-icon-arrowreturn-1-e { background-position: -96px -64px; }
.ui-icon-arrowreturn-1-s { background-position: -112px -64px; }
.ui-icon-arrowrefresh-1-w { background-position: -128px -64px; }
.ui-icon-arrowrefresh-1-n { background-position: -144px -64px; }
.ui-icon-arrowrefresh-1-e { background-position: -160px -64px; }
.ui-icon-arrowrefresh-1-s { background-position: -176px -64px; }
.ui-icon-arrow-4 { background-position: 0 -80px; }
.ui-icon-arrow-4-diag { background-position: -16px -80px; }
.ui-icon-extlink { background-position: -32px -80px; }
.ui-icon-newwin { background-position: -48px -80px; }
.ui-icon-refresh { background-position: -64px -80px; }
.ui-icon-shuffle { background-position: -80px -80px; }
.ui-icon-transfer-e-w { background-position: -96px -80px; }
.ui-icon-transferthick-e-w { background-position: -112px -80px; }
.ui-icon-folder-collapsed { background-position: 0 -96px; }
.ui-icon-folder-open { background-position: -16px -96px; }
.ui-icon-document { background-position: -32px -96px; }
.ui-icon-document-b { background-position: -48px -96px; }
.ui-icon-note { background-position: -64px -96px; }
.ui-icon-mail-closed { background-position: -80px -96px; }
.ui-icon-mail-open { background-position: -96px -96px; }
.ui-icon-suitcase { background-position: -112px -96px; }
.ui-icon-comment { background-position: -128px -96px; }
.ui-icon-person { background-position: -144px -96px; }
.ui-icon-print { background-position: -160px -96px; }
.ui-icon-trash { background-position: -176px -96px; }
.ui-icon-locked { background-position: -192px -96px; }
.ui-icon-unlocked { background-position: -208px -96px; }
.ui-icon-bookmark { background-position: -224px -96px; }
.ui-icon-tag { background-position: -240px -96px; }
.ui-icon-home { background-position: 0 -112px; }
.ui-icon-flag { background-position: -16px -112px; }
.ui-icon-calendar { background-position: -32px -112px; }
.ui-icon-cart { background-position: -48px -112px; }
.ui-icon-pencil { background-position: -64px -112px; }
.ui-icon-clock { background-position: -80px -112px; }
.ui-icon-disk { background-position: -96px -112px; }
.ui-icon-calculator { background-position: -112px -112px; }
.ui-icon-zoomin { background-position: -128px -112px; }
.ui-icon-zoomout { background-position: -144px -112px; }
.ui-icon-search { background-position: -160px -112px; }
.ui-icon-wrench { background-position: -176px -112px; }
.ui-icon-gear { background-position: -192px -112px; }
.ui-icon-heart { background-position: -208px -112px; }
.ui-icon-star { background-position: -224px -112px; }
.ui-icon-link { background-position: -240px -112px; }
.ui-icon-cancel { background-position: 0 -128px; }
.ui-icon-plus { background-position: -16px -128px; }
.ui-icon-plusthick { background-position: -32px -128px; }
.ui-icon-minus { background-position: -48px -128px; }
.ui-icon-minusthick { background-position: -64px -128px; }
.ui-icon-close { background-position: -80px -128px; }
.ui-icon-closethick { background-position: -96px -128px; }
.ui-icon-key { background-position: -112px -128px; }
.ui-icon-lightbulb { background-position: -128px -128px; }
.ui-icon-scissors { background-position: -144px -128px; }
.ui-icon-clipboard { background-position: -160px -128px; }
.ui-icon-copy { background-position: -176px -128px; }
.ui-icon-contact { background-position: -192px -128px; }
.ui-icon-image { background-position: -208px -128px; }
.ui-icon-video { background-position: -224px -128px; }
.ui-icon-script { background-position: -240px -128px; }
.ui-icon-alert { background-position: 0 -144px; }
.ui-icon-info { background-position: -16px -144px; }
.ui-icon-notice { background-position: -32px -144px; }
.ui-icon-help { background-position: -48px -144px; }
.ui-icon-check { background-position: -64px -144px; }
.ui-icon-bullet { background-position: -80px -144px; }
.ui-icon-radio-on { background-position: -96px -144px; }
.ui-icon-radio-off { background-position: -112px -144px; }
.ui-icon-pin-w { background-position: -128px -144px; }
.ui-icon-pin-s { background-position: -144px -144px; }
.ui-icon-play { background-position: 0 -160px; }
.ui-icon-pause { background-position: -16px -160px; }
.ui-icon-seek-next { background-position: -32px -160px; }
.ui-icon-seek-prev { background-position: -48px -160px; }
.ui-icon-seek-end { background-position: -64px -160px; }
.ui-icon-seek-start { background-position: -80px -160px; }
/* ui-icon-seek-first is deprecated, use ui-icon-seek-start instead */
.ui-icon-seek-first { background-position: -80px -160px; }
.ui-icon-stop { background-position: -96px -160px; }
.ui-icon-eject { background-position: -112px -160px; }
.ui-icon-volume-off { background-position: -128px -160px; }
.ui-icon-volume-on { background-position: -144px -160px; }
.ui-icon-power { background-position: 0 -176px; }
.ui-icon-signal-diag { background-position: -16px -176px; }
.ui-icon-signal { background-position: -32px -176px; }
.ui-icon-battery-0 { background-position: -48px -176px; }
.ui-icon-battery-1 { background-position: -64px -176px; }
.ui-icon-battery-2 { background-position: -80px -176px; }
.ui-icon-battery-3 { background-position: -96px -176px; }
.ui-icon-circle-plus { background-position: 0 -192px; }
.ui-icon-circle-minus { background-position: -16px -192px; }
.ui-icon-circle-close { background-position: -32px -192px; }
.ui-icon-circle-triangle-e { background-position: -48px -192px; }
.ui-icon-circle-triangle-s { background-position: -64px -192px; }
.ui-icon-circle-triangle-w { background-position: -80px -192px; }
.ui-icon-circle-triangle-n { background-position: -96px -192px; }
.ui-icon-circle-arrow-e { background-position: -112px -192px; }
.ui-icon-circle-arrow-s { background-position: -128px -192px; }
.ui-icon-circle-arrow-w { background-position: -144px -192px; }
.ui-icon-circle-arrow-n { background-position: -160px -192px; }
.ui-icon-circle-zoomin { background-position: -176px -192px; }
.ui-icon-circle-zoomout { background-position: -192px -192px; }
.ui-icon-circle-check { background-position: -208px -192px; }
.ui-icon-circlesmall-plus { background-position: 0 -208px; }
.ui-icon-circlesmall-minus { background-position: -16px -208px; }
.ui-icon-circlesmall-close { background-position: -32px -208px; }
.ui-icon-squaresmall-plus { background-position: -48px -208px; }
.ui-icon-squaresmall-minus { background-position: -64px -208px; }
.ui-icon-squaresmall-close { background-position: -80px -208px; }
.ui-icon-grip-dotted-vertical { background-position: 0 -224px; }
.ui-icon-grip-dotted-horizontal { background-position: -16px -224px; }
.ui-icon-grip-solid-vertical { background-position: -32px -224px; }
.ui-icon-grip-solid-horizontal { background-position: -48px -224px; }
.ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }
.ui-icon-grip-diagonal-se { background-position: -80px -224px; }


/* Misc visuals
----------------------------------*/

/* Corner radius */
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -khtml-border-top-left-radius: 4px; border-top-left-radius: 4px; }
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr { -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; -khtml-border-top-right-radius: 4px; border-top-right-radius: 4px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl { -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; -khtml-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br { -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; -khtml-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px; }

/* Overlays */
.ui-widget-overlay { background: #666666 url(images/ui-bg_diagonals-thick_20_666666_40x40.png) 50% 50% repeat; opacity: .5;filter:Alpha(Opacity=50); }
.ui-widget-shadow { margin: -5px 0 0 -5px; padding: 5px; background: #000000 url(images/ui-bg_flat_10_000000_40x100.png) 50% 50% repeat-x; opacity: .2;filter:Alpha(Opacity=20); -moz-border-radius: 5px; -khtml-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }





/* Notification */
.notification {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 9999;

    padding: 10px;
    text-align: left;
    max-width: 180px;
    width: 180px;

    background-color: #222;
    background-color: rgba(0,0,0,.8);
    border: 1px solid #aaa;

    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;


    -moz-box-shadow:    0px 0px 10px rgba(255,255,255,.5);
    -webkit-box-shadow: 0px 0px 10px rgba(255,255,255,.5);
    box-shadow:         0px 0px 10px rgba(255,255,255,.5);
}
.notification  .username {
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
    display: block;
    border-bottom: 1px solid #555;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.notification .username a {
    color: #fff;
}
.notification .close {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 10px;
    right: 10px;
    background: url(http://static.titlovi.com/images/art/icons/close.png) no-repeat 50% 50%;
    opacity: .7;

    text-indent: -9999px;
}
.notification .close:hover { text-decoration: none; opacity: 1; }

.notification p { margin-bottom: 0; }

/* Izmjene */

span.note .icon.icon-uploader-not-author {  background:url(http://static.titlovi.com/images/art/icons/icon-uploader-not-author.png); }

#content.subtitle .inner .originaltitle { display: inline-block; margin-right: 10px; }
#content.subtitle .inner .originaltitle.comment {  padding-left:26px; background:url(http://static.titlovi.com/images/art/icons/icon-titlovi.png) no-repeat 0 50%; margin-left: 15px; }

.thank-author .button { padding: 0px 3px; margin-right: 0; }
.thank-author strong { font-size: 12px }

/* Izmjene */

span.note .icon.icon-titlovi {  background:url(http://static.titlovi.com/images/art/icons/icon-titlovi.png); }
span.note .description strong { font-weight: bold; color: #fff; }

/* Izmjene */
/* Pagination */
.tag {
    text-align:center;
    float:left;
    width:100%;
}
.tag li {
    font-size:12px;
    line-height:24px;
    float:left;
    margin-right:2px;
    margin-bottom:2px;
    white-space: nowrap;
}
.tag li.nostyle {
    font-size:14px;
    padding:2px 7px;
    text-shadow:0 1px 0 rgba(0,0,0,.5);
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}
.tag li a {
    display:block;
    padding:2px 7px;
    color:#aaa;
    background:#222 url(http://static.titlovi.com/images/art/gradient-bottom-x.png) repeat-x 0 100%;
    border:1px solid #444;
    text-shadow:0 1px 0 rgba(0,0,0,.5);
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}
.tag li a:hover {
    color:#222;
    background-color:#eee;
    text-shadow:0 1px 0 rgba(255,255,255,.5);
    text-decoration:none;

}
.tag li.selected a {
    font-weight:bold;
    color:#444;
    text-shadow:0 1px 0 rgba(255,255,255,.5);
    background-color:#999;
    border:1px solid #999;
}

/* Table */
table {
    border-top: 1px solid #444;
    width: 100%;
}
table th, table td {
    font-size: 12px;
    line-height: 1.5;
    padding: 5px 10px;
    border-bottom: 1px solid #444;
}

table .title td {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    background-color: #333;
 }
 table .highlight td { background-color: #12364d; color: #fff; }

.separator {
    border-top: 1px solid #444;
    padding-top: 20px;
}

.widget .schedule-box {
    float: left;
    width: 190px;
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: #111;
}
.widget .schedule-box.first { margin-left: 0; }
.widget .schedule-box table { margin-bottom: 0; }

/* Schedule next */
.schedule-next h4 {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 0;
    clear: both;
}
.schedule-next li {
    padding: 10px 0;
    border-top: 1px solid #333;
}
.schedule-next li:first-child { margin-top: 0; }
.schedule-next .meta {
    text-align: center;
    border: 1px solid #333;
    background-color: #111;
    display: inline-block;
    margin-bottom: 5px;
    -webkit-border-radius:  3px;
    -moz-border-radius:     3px;
    border-radius:          3px;
}
.schedule-next .meta span {
    font-size: 12px;
    font-weight: 700;
    padding: 5px 5px;
    display: inline-block;
}
.schedule-next .meta .meta-time { color: #fff; width: 40px; }
.schedule-next .meta .meta-program { color: #999; border-left: 1px solid #222; }

/* Popup */
.listing li { cursor: auto; }

.info-popup .icon { display: inline-block; width: 16px; height: 16px; }
.info-popup .icon.icon-forum {  background:url(http://static.titlovi.com/images/art/icons/details.png); }
.info-popup .cover { display: block; }
.info-popup .cover img { display: block; max-width: 100% }
.info-popup .text { display: block; margin-bottom: .5em; padding: 3px 0; }
.info-popup .text .icon { margin-top: -2px; width: 16px; vertical-align: middle; margin-right: 5px; }

.info-popup { position: relative; display: inline-block; }

.info-popup .info-content {
    display: none;
    position:absolute;
    background-color:#000;
    border:1px solid #444;
    width:140px;
    padding:5px;
    font-size:11px;
    line-height:15px;
    z-index:100;

    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;

    -moz-box-shadow:0px 0px 10px rgba(0,0,0,.2);
    -webkit-box-shadow:0px 0px 10px rgba(0,0,0,.2);
    box-shadow:0px 0px 10px rgba(0,0,0,.2);
}
.info-popup:hover .info-content { display: block; }

/* Thankyou */
.thankyou {
    display: inline-block;
    margin-bottom: 10px;
    position: relative;
}
.meta .thankyou { margin-left: 5px; margin-bottom: 0; }
.thankyou .button-thankyou {
    background-color: #2a6047;
    border-color: #3c6a55;
}
.thankyou .value-thankyou {
    font-size: 14px;
}
.thankyou .thankyou-dropdown {
    display: none;
    top: 100%;
    left: 0;
    margin-top: 5px;
    position: absolute;
    padding: 5px;
    background-color: #444;
    width: 250px;
    z-index: 100;
    -webkit-border-radius:     5px;
    -moz-border-radius:     5px;
    border-radius:             5px;
}
.thankyou .thankyou-dropdown.show { display: block; }
.thankyou .thankyou-dropdown ul { margin-bottom: 0; }
.thankyou .thankyou-dropdown li {
    /*border-top: 1px solid #ddd;*/
    list-style: none;
    padding: 5px;
    margin-top: 1px;
    background-color: #000;
    -webkit-border-radius:     3px;
    -moz-border-radius:     3px;
    border-radius:             3px;
}
.thankyou .thankyou-dropdown li:first-child { margin-top: 0; }

#sidebar .thankyou {
    margin-top: 5px;
    margin-bottom: 0;
}
#sidebar .thankyou li a {
    background: none;
    float: none;
    padding: 0;
}

/* Responsive embed, object, iframe */

embed, object, iframe { 
max-width: 100%;  
-webkit-box-sizing: border-box; 
-moz-box-sizing: border-box; 
box-sizing: border-box; 
}

.LBD_CaptchaDiv
{
float:inherit;
}

.autocomplete
{
max-height: 215px;
overflow-y: auto;
}

/* AdNow requries */
.SC_TBlock {
  width: 600px;
  margin: auto;
  clear: both;
}

#SC_TBlock_77431
{
	margin-left:0px;
}

#SC_TBlock_77431_Table
{
	width:600px !important;
}

.SC_TBlock_77431_td
{
	vertical-align:top !important;
}

/* mojTV plugin CSS */
		ul.movielist li img{-webkit-transform: rotate(3deg); transform: rotate(3deg)}
		ul.movielist li:nth-child(2n) img{-webkit-transform: rotate(-3deg); transform: rotate(-3deg)}
	
		ul.movielist {margin:0; padding:0; font-family: arial; font-size:11px; background:#fff}
		ul.movielist li {cursor:pointer; padding:7px 110px 7px 40px;  position:relative; border-top:1px d #fff;
			-webkit-transition:all 0.2s ease-in-out;
			-ms-transition:all 0.2s ease-in-out;
			-moz-transition:all 0.2s ease-in-out;
			transition:all 0.2s ease-in-out
			background: rgb(255,255,255); /* Old browsers */
			background: -moz-linear-gradient(top,  rgba(255,255,255,1) 47%, rgba(246,246,246,1) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(47%,rgba(255,255,255,1)), color-stop(100%,rgba(246,246,246,1))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 47%,rgba(246,246,246,1) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  rgba(255,255,255,1) 47%,rgba(246,246,246,1) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  rgba(255,255,255,1) 47%,rgba(246,246,246,1) 100%); /* IE10+ */
			background: linear-gradient(to bottom,  rgba(255,255,255,1) 47%,rgba(246,246,246,1) 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
		}
		ul.movielist div.time {border-radius:2px; font-size:12px; letter-spacing:-1px; font-weight:bold; position:absolute; margin-left:-36px; display:inline-block;  padding:2px 2px}
		ul.movielist h3 {margin:0 0 2px 0; padding:0;white-space: nowrap;overflow: hidden;text-overflow: ellipsis}
		ul.movielist a {-webkit-transition:all 0.25s ease-in-out;
			-ms-transition:all 0.25s ease-in-out;
			-moz-transition:all 0.25s ease-in-out;text-decoration:none; font-size:14px; color:#000; overflow:hidden; text-overflow: ellipsis;}
		ul.movielist div.genres {white-space:nowrap;overflow:hidden; text-overflow: ellipsis;border-radius:2px; display:inline-block; font-size:9px; letter-spacing:1px; padding:2px 5px; background:red; color:#fff; text-transform:uppercase}
		ul.movielist li img {
			border:1px solid #fff;
			position:absolute; right:7px; border-radius:5px;
			-webkit-transition:all 0.5s ease-in-out;
			-ms-transition:all 0.5s ease-in-out;
			-moz-transition:all 0.5s ease-in-out;
			transition:all 0.5s ease-in-out;

		}
		ul.movielist .year {margin-top:3px}
		ul.movielist .actors {color:#777; white-space:nowrap; overflow:hidden; text-overflow: ellipsis;}
		ul.movielist .channel {margin-bottom:2px; color:#777}
		ul.movielist li:hover {background:#222; color:#fff !important}
		ul.movielist li:hover a {color:#fff !important}
		ul.movielist li:hover img {border:1px solid #000; -webkit-transform: rotate(0deg); transform: rotate(0deg)}
		ul.movielist ol.first {background:#B90000; color:#d0d0d0; padding:10px 0 10px 40px}
	
/* mojTV plugin end CSS */




#appBanner {display: none; position: fixed; width: 200px; height: 200px; background-color: #333; border: 1px solid #555; border-radius: 3px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) inset; color: #ccc; font-size: 12px; font-weight: bold; line-height: 18px; padding: 15px; text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5); z-index:1000;}
#appBanner #img {width: 200px; height:200px;}
#appBanner #img img {width: 100%; height:auto;}
#closeX {display: block; width:11px; height:11px; background:url(http://static.titlovi.com/images/art/icons/x.png); position:absolute; top:4px; right:4px;}



#google_ads_div_Titlovi_Float_Ads_ad_container {display: block !important;}



.downloadIconAd {display: inline-block; width:160px; height:14px; background:url(http://static.titlovi.com/images/art/icons/download_icon_ad.png) no-repeat center; padding:10px 0 10px 0; vertical-align: bottom;}


.fbShareDiv {display: none;}
.fbLogoDown {display: inline-block; width:25px; height:25px; background:url(http://static.titlovi.com/images/fb_logo_down.png); margin:0 10px 0 0; vertical-align:middle;}



#sidebar .banner a {
    transition: none 0s ease 0s ;
}

img[width="1"] {
    width:0px; height:0px; display:none;
}