/* TESTING SPECIFIC */
#test {
	width:230px;
	position:absolute;
	top:220px;
	left:20px;
	opacity:.6;
	z-index:20000;
}
#test ul {
	background:#fff;
	text-align:left;
	padding:10px;
	border:1px solid #ddd;
	margin-bottom:10px;
	width:100%;
}
#test li.heading {
	font-size:1.5em;
	color:#222;
	padding-bottom:10px;
}
#test li {
	border-bottom:1px solid #ccc;
	width:100%;
}
#test a {
	display:block;
	font-size:1em;
	text-transform:uppercase;
	padding:5px;
	color:#0066CC;
	text-decoration:none;
}
#test a:hover { color:#333; background:#fff }
#test a.selected {
	color:#222;
	background:#f5f5f5;
}