﻿.sprite-Pause{ background: url(../images/aramexPlayer.png) no-repeat top left; background-position: 0 0; width: 60px; height: 60px; } 
.sprite-Play{ background: url(../images/aramexPlayer.png) no-repeat top left; background-position: 0 -110px; width: 60px; height: 60px; } 
.sprite-Replay-05{background: url(../images/aramexPlayer.png) no-repeat top left; background-position: 0 -220px; width: 60px; height: 60px; } 
.sprite-Stop{ background: url(../images/aramexPlayer.png) no-repeat top left; background-position: 0 -330px; width: 60px; height: 60px; } 
.sprite-aramex{background: url(../images/aramexPlayer.png) no-repeat top left; background-position: 0 -440px; width: 47px; height: 9px; }

.btn-Play
{
    position:absolute;
    width:60px !important;
    height:60px !important;
    bottom:40%;
    left:0;
    right:0;
    margin:0 auto;
    cursor:pointer; 
}

.logo-Aramex {
    position:absolute;
     bottom: 4%;
    left: 0.5%;
    cursor:pointer; 
    width:47px !important;
    height:9px !important;

}

.video-player
{ 
    position:relative;
    display: inline-block;
    height:100%;
}

video {
       /*width:100%; 
       height:auto;*/
} 

video::-webkit-media-controls-play-button{
    display:none !important;
}

video::-webkit-media-controls-panel{
    display:none !important;
}

@media screen and (device-aspect-ratio: 2/3) {
    .btn-Play {
        display:none;
    }


}