﻿.RedHeader {
    color: #ffffff;
    background-color: #DD2821;
    font-weight: bold;
    margin: 10px;
    border-right-color: #ffffff;
    border-right-width: 1px;
    border-right-style: solid;
    cursor: pointer;
}

.GrayHeader {
    color: #ffffff;
    background-color: #d1d0d1;
    font-weight: bold;
    margin-bottom: 0px;
    border-right-color: #ffffff;
    border-right-width: 1px;
    border-right-style: solid;
    cursor: pointer;
}

.MainBannerDimensions {
    width: 394px;
    height: 238px;
    padding-left: 0px;
    vertical-align: top;
    display: block;
}

.rightSection {
    width: 604px !important;
    padding-bottom: 30px;
}

.middleSection {
    width: 380px !important;
}

.trackSection {
    width: 200px !important;
}

.trackBox {
    height: 232px !important;
    padding-left: 10px;
    padding-top: 6px;
    padding-right: 10px;
}

.textareaBox {
    width: 165px !important;
}

.trackButton {
    width: 50px;
}

.transparentBorder {
    border: 1pt solid transparent;
}

    .transparentBorder div {
        height: 30px;
    }

.padding_15px {
    padding-left: 15px;
    padding-right: 15px;
}

.width_250px {
    width: 250px !important;
}

.width_360px {
    width: 360px !important;
}

.width_195px {
    width: 195px !important;
}
