﻿body {
    margin: 10px 0px 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #666666;
    cursor: default;
}

.GraySmallBoldText {
    font-weight: bolder;
    font-size: smaller;
    color: Gray;
    text-decoration: none;
    padding-left: 1px;
    padding-right: 1px;
}

#divMainContainer {
    width: 767px;
    margin: auto;
    height: auto;
    display: block;
}

#divLogin {
    width: 767px !important;
}

#divSiteMap {
    width: 500px !important;
}

#divSiteMapPath {
    width: 85%;
}

#form2 {
    vertical-align: top;
}

#languages {
    cursor: default;
    margin-left: 8px;
    padding-left: 2px;
    margin-right: 8px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-bottom: dashed 1px black;
    position: relative;
    z-index: 10000;
}

#languagesList {
    display: none;
    margin-left: 11px;
    top: 18px;
    left: 0px;
    z-index: 10000;
}

    #languagesList ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
        position: absolute;
        z-index: 10000;
    }

    #languagesList li .link {
        cursor: pointer;
        display: block;
        background-color: #f1eff0;
        border-bottom: 1px solid #d4d4d4;
        width: 41px;
        padding: 7px 5px 2px;
        color: #706e6f;
        position: relative;
        z-index: 10000;
    }

Input[type=text], Input[type=password], textarea {
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    border: #929192 1px solid;
    color: #444444;
    vertical-align: top;
    width: 250px;
}

Input[type=text], Input[type=password] {
    height: 15px;
}

textarea.small {
    width: 150px;
    min-height: 15px;
}

Input[type=checkbox] {
    border-right: none !important;
    border-top: none !important;
    border-left: none !important;
    border-bottom: none !important;
    font-weight: normal !important;
    width: 17px;
    height: 13px;
}

Input[type=text].LoginInput, Input[type=password].LoginInput {
    width: 113px;
}

a {
    color: #dc291e;
    text-decoration: none;
    cursor: pointer;
}

label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}

.grayLink {
    color: #706e6f;
}

a:hover {
    text-decoration: underline;
}

.rightFloat {
    float: right;
}

.leftFloat {
    float: left;
}

.fullWidth {
    width: 100%;
}

.halfWidth {
    width: 50% !important;
}

.60Percent {
    width: 50%;
}

.clear {
    clear: both;
}

.spaceUp5 {
    margin-top: 5px;
}

.spaceUp10 {
    margin-top: 10px;
}

.spaceUp50 {
    margin-top: 50px;
}

.spaceUp7 {
    margin-top: 7px;
}

.spaceUp15 {
    margin-top: 15px;
}

.spaceUp12 {
    margin-top: 12px;
}

.spaceDown10 {
    margin-bottom: 10px;
}

.spaceDown5 {
    margin-bottom: 5px;
}

.spaceUp20 {
    margin-top: 20px;
}

.spaceUp25 {
    margin-top: 25px;
}

.spaceUp30 {
    margin-top: 30px;
}

.spaceUp35 {
    margin-top: 35px;
}

.spaceUp40 {
    margin-top: 40px;
}

.spaceUp50 {
    margin-top: 50px;
}

.spaceUp70 {
    margin-top: 70px;
}

.pushSides20 {
    margin-left: 20px;
    margin-right: 20px;
}

.pushLeft20 {
    margin-left: 20px;

}

.textCenter {
    text-align:center;
}


.BasicButton {
    padding: 0;
    height: 19px;
    cursor: pointer;
    font-size: 8pt;
    color: #5a5959;
    text-decoration: none;
    background-color: #FBFBFB;
    border: 1pt solid #9d9d9d;
}

.HandOverButton, .RequestPickupButton {
    border: solid 1px #808080;
    color: #808080;
    font-size: 10pt;
    font-family: calibri;
    font-weight: bolder;
}

.Buttons {
    border: none;
    color: #FFFFFF;
    font-size: 10pt;
    font-family: calibri;
    font-weight: bolder;
    background-color: #dc291e;
    height: 19px;
    padding-top: 0px;
    padding-bottom: 2px;
    margin-top: 0px;
    margin-left: 0px;
    cursor: pointer;
    padding-left: 0.5em;
    padding-right: 0.5em;
    vertical-align: top;
    margin: 0px;
}

select {
    height: 20px;
    width: 256px;
    background-color: white;
    border: 0px none;
    font-size: 11px;
    padding: 2px 2px 1px;
    margin: 0px;
    color: #444444;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    border-right: #929192 1px solid;
    border-top: #929192 1px solid;
    border-left: #929192 1px solid;
    border-bottom: #929192 1px solid;
    vertical-align: top;
}

    select.LoginSelect {
        width: 116px;
    }

#divTop {
    height: 30px;
}
/* navigation classes */

#divNavigationBar {
    height: 74px;
    background-color: #D5291C;
}

#divRightSection {
    position: relative;
}

#divRightSection, #divLanguage {
    display: inline-block;
}

#divLogo {
    border: 0;
    padding: 15px 15px 15px 15px;
    width: 767px;
    vertical-align: baseline;
    z-index: 0;
}

    #divLogo a {
        border: 0;
        height: 100%;
        width: auto;
        display: inline-block;
        float: left;
    }

        #divLogo a.logo {
            width: 25%;
        }

#divSubNavigationBar {
    z-index: 0;
}

img {
    border: 0;
}

#divLogo a.fixedTabs {
    width: 13%;
    text-align: center;
}

#divLogo a.fixedTab {
    width: 20%;
    text-align: center;
}

.white {
    color: White;
}

.topMainMenu {
    font-size: 13px;
}

/* end of navigation classes */

/* footer classes*/

#divFooter {
    border-top: 1px dotted #706e6f;
    border-bottom: 1px dotted #706e6f;
    min-height: 25px;
    position: relative;
    display: inline-block;
}

    #divFooter div {
        height: 100%;
        padding-right: 15px;
        margin-left: 5px;
        display: inline-block; /*Here you can also used display-inline:block instead of float:left*/
        margin-bottom: 5px;
        margin-top: 5px;
        text-align: left;
        float: left;
    }

        #divFooter div a {
            font-size: 8pt;
        }

#divCopyRight {
    font-size: 7pt;
    width: 100%;
}
/*end of footer classes*/


/*end of main content classes*/

#divMainContent div {
    width: auto;
    xdisplay: block; /*Here you can also used display-inline:block instead of float:left*/
    height: auto;
}

/*end of main content classes*/

/* login box classes*/
.greyBackground {
    background-color: #f1eff0;
    height: 223px;
    width: 200px;
}

#divLoggedOut, #divLoggedIn, #MainContent, #innerMainContent, #InnerMiddleMainContent {
    width: 100%;
    display: block;
}

#divLoggedOut, #divLoggedIn {
    padding: 14px 12px 8px 14px;
}

    #divLoggedOut div, #divLoggedIn div {
        display: block;
    }

    #divLoggedOut div, #divLoggedIn div {
        border: 0;
    }

#divLoggedOut {
    min-height: 216px;
    max-height: 216px;
}

#divLoggedIn {
    min-width: 125px;
    max-width: 150px;
    min-height: 167px;
    max-height: 167px;
}

#divLeftPanel, #divLeftPanel div {
    max-width: 152px;
}

#divRightPanel, #divRightPanel div {
    max-width: 190px;
}

#MainContent div.description, #InnerMiddleMainContent div.description {
    padding-left: 20px;
}

.Login {
    width: 75px;
}

.checkboxInput {
    width: 13px;
    height: 13px;
    padding: 0px;
    text-align: left;
}

.noPadding {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}



/* end of login box classes*/

/* main content classes*/
#divPageContent, #divRightPanel {
    vertical-align: top;
    margin-left: 10px;
}

#divPageContent {
    border: 0px;
    position: relative;
    display: inline-block;
    float: left;
    max-width: 400px;
}

/* main content classes*/

.redText, .error, .Red {
    color: #dc291e !important;
}

.RedBackground {
    background-color: #dc291e;
}
/* RadMenu additional classes*/
.RadMenuPositin {
    margin-top: 5%;
    display: block;
}

.RadSubMenuPositin {
    max-width: 560px;
    min-width: 300px;
    display: block;
    float: right !important;
    z-index: 0;
}

.RadMenu_Gray .rmGroup a.rmLink {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #706e6f;
}

ul.list {
    padding-left: 8px;
    margin-left: 8px;
}

    ul.list li {
        list-style-type: none;
        list-style-image: url(../images/styleImages/bullet.png);
        list-style-position: outside;
        line-height: 15px;
    }

        ul.list li a, ul.toolsList li a, .Gray {
            color: #706e6f;
        }

.PageTitle {
    font-weight: bold;
    font-size: 10pt;
    color: #dc291e;
    text-decoration: none;
}

#title {
    width: 100%;
    vertical-align: top;
}

#divtxtContainer div {
    width: 100%;
    margin: auto;
    height: auto;
    display: block;
    float: left;
    padding-left: auto;
}

.divList {
    float: left;
    width: 100%;
    display: block;
    padding-left: 70%;
}

.underline {
    border-bottom: 1pt solid #d6d6d6;
    font-size: 0px;
}

.horizontalLine {
border-bottom: 1pt solid #d6d6d6;
width:150px !important;
}
/* old design*/

#RequiredDocumentationFRT a {
    background: transparent url(../images/View_required_documentation.jpg) scroll no-repeat;
    background-position: left top;
    padding-top: 0px;
    height: 15px;
    display: block;
    border: 0px none;
    padding-left: 30px;
}

#OceanFreightOperationalProceduresFRT a {
    background: transparent url(../images/View_ocean_fright_operational_procedure1.jpg) scroll no-repeat;
    background-position: left top;
    padding-top: 0px;
    height: 15px;
    display: block;
    border: 0px none;
    padding-left: 30px;
}

#AirFreightOperationalProceduresFRT a {
    background: transparent url(../images/View_air_fright_operational_procedure1.jpg) scroll no-repeat;
    background-position: left top;
    padding-top: 0px;
    height: 15px;
    display: block;
    border: 0px none;
    padding-left: 30px;
}

#LandFreightOperationalProceduresFRT a {
    background: transparent url(../images/Land_freight-02.png) scroll no-repeat;
    background-position: left top;
    padding-top: 0px;
    height: 15px;
    display: block;
    border: 0px none;
    padding-left: 30px;
}

#scheduleApickup a, #scheduleApickupFRT a {
    background: transparent url(../images/links/tell_me_about.png) scroll no-repeat;
    background-position: 0 0;
    padding-top: 5px;
    height: 24px;
    display: block;
    border: 0px none;
    padding-left: 30px;
}

#deliveryRatesFRT a {
    background: transparent url(../images/tell_me_about.png) scroll no-repeat;
    background-position: 0 -296px;
    padding-top: 5px;
    height: 24px;
    display: block;
    border: 0px none;
    padding-left: 30px;
}

#prepareShipment a {
    background: transparent url(../images/links/tell_me_about.png) scroll no-repeat;
    background-position: 0 -74px;
    padding-top: 5px;
    height: 24px;
    display: block;
    border: 0px none;
    padding-left: 30px;
}

#trackShipment1 a, #trackShipment1FRT a, #trackOrdertLOG a {
    background: transparent url(../images/links/tell_me_about.png) scroll no-repeat;
    background-position: 0 -148px;
    padding-top: 5px;
    height: 24px;
    display: block;
    border: 0px none;
    padding-left: 30px;
}

#trackByDetails a {
    background: transparent url(../images/links/tell_me_about.png) scroll no-repeat;
    background-position: 0 -222px;
    padding-top: 5px;
    height: 24px;
    display: block;
    border: 0px none;
    padding-left: 30px;
}

#calculateRates a {
    background: transparent url(../images/links/tell_me_about.png) scroll no-repeat;
    background-position: 0 -296px;
    padding-top: 5px;
    height: 24px;
    display: block;
    border: 0px none;
    padding-left: 30px;
}

#requestOffer a {
    background: transparent url(../images/links/tell_me_about.png) scroll no-repeat;
    background-position: 0 -370px;
    padding-top: 5px;
    height: 24px;
    display: block;
    border: 0px none;
    padding-left: 30px;
}

#openDNSAccount a {
    /*background: transparent url(../images/links/dns.png) no-repeat;
   
    padding-top: 5px;
    height: 24px;
    display: block;
    border: 0px none;*/
    padding-left: 7px;
}
#customs a {

    padding-left: 7px;
}


#locateOffice a, #locateOfficeFRT a, #locateOfficeLOG a {
    background: transparent url(../images/links/tell_me_about.png) scroll no-repeat;
    background-position: 0 -444px;
    padding-top: 5px;
    height: 24px;
    display: block;
    border: 0px none;
    padding-left: 30px;
}

#customersupport a {
    background: transparent url(../images/links/tell_me_about.png) scroll no-repeat;
    background-position: 0 -518px;
    padding-top: 5px;
    height: 24px;
    display: block;
    border: 0px none;
    padding-left: 30px;
}

.toolsList {
    padding-left: 0px;
    margin-left: 0px;
}

ul.toolsList li {
    display: inline-block;
    list-style-type: none;
    list-style-position: outside;
}

.hide {
    display: none !important;
}

.show {
    display: inherit !important;
}

.italic {
    font-style: italic;
}

.xSmallFont {
    font-size: x-small;
}

.maxInnerContentWidth {
    min-width: 600px !important;
}

#divPasswordPolicy {
    max-width: 250px !important;
    display: block;
    height: 0px;
    font-size: x-small;
}

#divButtons {
    width: 436px !important;
}

.font_10 {
    font-size: 10pt;
}
.font_9 {
    font-size: 9pt;
}
.font_8 {
    font-size: 8pt;
}
.font_7 {
    font-size: 7pt;
}

.font_bold {
    font-weight: bold;
}

.top_vertical_align {
    vertical-align: top;
}

fieldset {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 79%;
}

.auto_margin {
    margin: auto;
}

.maxInnerContentWidth .leftFloat {
    min-width: 180px;
}

    .maxInnerContentWidth .leftFloat.small {
        min-width: 120px;
    }

    .maxInnerContentWidth .leftFloat.medium, .halfInnerContentWidth .leftFloat.medium {
        min-width: 150px;
    }

    .maxInnerContentWidth .leftFloat.very-small, .maxInnerContentWidth .leftFloat.very-small {
        min-width: 85px;
    }

    .maxInnerContentWidth .leftFloat.halfContent, .maxInnerContentWidth .leftFloat.halfContent {
        min-width: 300px;
    }

.maxInnerContainer {
    min-width: 660px;
}

    .maxInnerContainer .leftFloat {
        min-width: 180px;
    }

        .maxInnerContainer .leftFloat.meduim {
            min-width: 85px;
        }

        .maxInnerContainer .leftFloat.very-small, .maxInnerContainer .leftFloat.very-small {
            min-width: 80px;
        }

        .maxInnerContainer .leftFloat.halfContent, .maxInnerContainer .leftFloat.halfContent {
            min-width: 300px;
        }


.halfInnerContentWidth {
    width: 275px !important;
}

.tabs .greyBg a {
    text-align: center;
    background-color: #F1EFF0;
    margin: 0px 6px;
}


.tabs .list li p.leftText {
    border-left: 3px double #CCCCCC;
    display: none;
    font-style: oblique;
    margin-bottom: 25px;
    margin-top: 10px;
    padding-left: 5px;
    max-width: 500px;
}

ul.sideBySide li a.White {
    color: white;
    border-right: 1px solid white;
}

ul.sideBySide li a {
    color: #706e6f;
}

ul.sideBySide li, ul.sideBySide li div {
    display: inline;
}

ul.sideBySide {
    padding: 0px;
    list-style-type: none;
}

    ul.sideBySide li.menu a, ul.sideBySide li.menu div {
        padding: 4px 5px 3px 10px;
    }

.greyBorder {
    border: 1px solid #d6d6d6;
}

.bottomGreyBorder {
    border-bottom: 1px solid #d6d6d6;
}

.greyBg {
    background-color: #f1eff0;
}

.darkGreyBg {
    background-color: #d1d0d1;
}

.medGreyBg {
    background-color: #DEDEDE;
}

.noBorder {
    border: 0 !important;
}

.BlackTitle {
    color: Black;
    font-weight: bold;
}

.InnerPageHeader {
    color: #dc291e;
    font-weight: bold;
    font-size: large;
}

.odd {
    background-color: #f1eff0;
}

.even {
    background-color: #fff;
}

TD {
    font-size: 8pt;
    font-family: Arial, Helvetica, sans-serif;
}

input, textarea, select {
    font-size: 11px;
    padding: 2px 2px 1px;
    margin: 0px;
    color: #444444;
}

.extended_pager ul {
    display: inline;
}

.extended_pager {
}

    .extended_pager li {
        display: inline;
    }

    .extended_pager ul li .prev {
        color: #3e3d3d;
    }

    .extended_pager ul li .next {
        color: #3e3d3d;
    }

    .extended_pager .current {
        color: #ec202d;
        font-weight: bold;
        text-decoration: underline;
    }

    .extended_pager ul li span .arc {
        color: #3e3d3d;
    }

#MiddleMainContent {
    max-width: 400px;
}

.collapsable {
    display: none;
    padding-left: 20px;
    padding-bottom: 5px;
}

.space5 {
    width: 5px !important;
}

.WhiteBoldText {
    font-weight: bolder;
    font-size: 8pt;
    color: white;
}

.Red11 {
    color: #dc281e;
    font-weight: bold;
    font-size: 11pt;
}

.bold {
    font-weight: bold;
}

#myShippingTools .tabs {
    height: 150px;
    padding: 13px;
}

    #myShippingTools .tabs .top_part, #myShippingTools .tabs .bottom_part {
        width: 400px;
    }

.top_part {
    margin: 15px 0 5px 0 !important;
}

.shippingToolsIcon {
    background: transparent url(../images/my_aramex_title_icons.png) no-repeat scroll;
    background-position: left top;
}

.myShipmentsIcon {
    background: transparent url(../images/my_aramex_title_icons.png) no-repeat scroll;
    background-position: left bottom;
}

.noMargin {
    margin: 0px;
}

.tabs div.bgTabTopLeft {
    background: url(../images/tabsCornerGrey.gif) no-repeat scroll;
    position: absolute;
    height: 2px;
    width: 2px;
    top: 0px;
    display: none;
    font-size: 0px;
}

.tabs div.bgTabTopLeft {
    background-position: top left;
    left: 6px;
}

.bottom_part ul.sideBySide li a {
    font-size: 12px;
}

.whiteBg {
    background-color: #FFF;
}

.ui-tabs .ui-tabs-hide {
    display: none;
}

.tabs .greyBg .ui-state-active a {
    background-color: white;
    border-bottom: 1px solid white;
}

.advanceTracking, .prepareShipment, .schedulePickUp, .orderSupplies, .addressBook {
    background: transparent url(../images/my_aramex_icons.png) no-repeat scroll;
    max-width: 50px !important;
    height: 23px !important;
    cursor: pointer;
}

.trackShipmentFrt {
    background: transparent url(../images/tell_me_about.png) no-repeat scroll;
    font-size: 0px;
    display: block;
    border: 0px none;
    cursor: pointer;
    width: 32px;
    height: 18px;
    background-position: left -33px;
}

.advanceTracking {
    background-position: left top;
}

.prepareShipment {
    background-position: left -24px;
}

.schedulePickUp {
    background-position: left -47px;
}

.orderSupplies {
    background-position: left -71px;
}

.addressBook {
    background-position: left -94px;
}

.list_icon {
    width: 70px !important;
}

.block {
    display: block;
}

.noLeftPadding {
    padding-left: 0px;
}

.LeftPadding {
    padding-left: 5px;
}

.noLeftMargin {
    margin-left: 0px;
}

.topAlignment {
    vertical-align: top;
}

.fullInnerWidth {
    width: 606px !important;
}


.hidden {
    display: none;
}

.padding10 {
    padding: 10px !important;
}

.padding5 {
    padding: 5px !important;
}

.height150 {
    max-height: 150px !important;
    min-height: 150px !important;
}

.LeftInnerWidth {
    width: 400px !important;
}

.rightInnerWidth {
    width: 200px !important;
}

.noRightPadding {
    padding-right: 0px;
}

.noRightMargin {
    margin-right: 0px;
}

.darkGray {
    color: #444444;
}

.width580px {
    width: 580px !important;
}

#CreateNewCV a, #EditMyCV a, #ViewMyCV a, #MakeAvailableCV a, #OpenJob a, #MyApplications a {
    background-position: left top;
    padding-top: 0px;
    height: 20px;
    display: block;
    border: 0px none;
    padding-left: 30px;
}

#CreateNewCV a {
    background: transparent url(../images/jobs/Create_New_CV.jpg) scroll no-repeat;
    background-position: left top;
    padding-top: 0px;
    height: 20px;
    display: block;
    border: 0px none;
    padding-left: 30px;
}

#EditMyCV a {
    background: transparent url(../images/jobs/Edit_My_CV.jpg) scroll no-repeat;
    background-position: left top;
    padding-top: 0px;
    height: 20px;
    display: block;
    border: 0px none;
    padding-left: 30px;
}

#ViewMyCV a {
    background: transparent url(../images/jobs/View_My_CV.jpg) scroll no-repeat;
    background-position: left top;
    padding-top: 0px;
    height: 20px;
    display: block;
    border: 0px none;
    padding-left: 30px;
}

#MakeAvailableCV a {
    background: transparent url(../images/jobs/Make_MYCV_Available.jpg) scroll no-repeat;
    background-position: left top;
    padding-top: 0px;
    height: 20px;
    display: block;
    border: 0px none;
    padding-left: 30px;
}

#OpenJob a {
    background: transparent url(../images/jobs/Job_Opening.jpg) scroll no-repeat;
    background-position: left top;
    padding-top: 0px;
    height: 20px;
    display: block;
    border: 0px none;
    padding-left: 30px;
}

#MyApplications a {
    background: transparent url(../images/jobs/MYApplications.jpg) scroll no-repeat;
    background-position: left top;
    padding-top: 0px;
    height: 20px;
    display: block;
    border: 0px none;
    padding-left: 30px;
}


#ReceiveAdvancedShippingNoticeLog a, #ShipFromWarehouseLOG a, #CheckItemBalanceLOG a, #ViewInventoryReportsLOG a {
    background-position: left top;
    padding-top: 0px;
    height: 20px;
    display: block;
    border: 0px none;
    padding-left: 30px;
}

#ReceiveAdvancedShippingNoticeLog a {
    background: transparent url(../images/logistics/Receive_advanced_shipping_notice1.jpg) scroll no-repeat;
    background-position: left top;
    padding-top: 0px;
    height: 20px;
    display: block;
    border: 0px none;
    padding-left: 30px;
}

#ShipFromWarehouseLOG a {
    background: transparent url(../images/logistics/SHip_from_WH.jpg) scroll no-repeat;
    background-position: left top;
    padding-top: 0px;
    height: 20px;
    display: block;
    border: 0px none;
    padding-left: 30px;
}

#CheckItemBalanceLOG a {
    background: transparent url(../images/logistics/Check_item_balance.jpg) scroll no-repeat;
    background-position: left top;
    padding-top: 0px;
    height: 20px;
    display: block;
    border: 0px none;
    padding-left: 30px;
}

#ViewInventoryReportsLOG a {
    background: transparent url(../images/logistics/View_inventory_reports.jpg) scroll no-repeat;
    background-position: left top;
    padding-top: 0px;
    height: 20px;
    display: block;
    border: 0px none;
    padding-left: 30px;
}

.ShareButtons {
    display: none;
    font-weight: bold;
    max-width: 180px;
}

.ShareLabel {
    margin-right: 10px;
}

.ajax__tab_Aramex .ajax__tab_header {
    font-size: 9pt;
    background: none;
    border-color: White;
    border-width: 1px;
    cursor: pointer;
}

.ajax__tab_Aramex .ajax__tab_tab {
    height: 13px;
    padding: 4px;
    margin: 0;
}

.ajax__tab_Aramex .ajax__tab_active .ajax__tab_tab {
    background-color: white !important;
}

.ajax__tab_Aramex .ajax__tab_body {
    font-family: verdana,tahoma,helvetica;
    font-size: 8pt;
    background-color: white;
}

.leftMargin10 {
    margin-left: 10px;
}

.rightMargin10 {
    margin-right: 10px;
}

.topMargin10 {
    margin-top: 10px;
}

#divTrackingResult .fullWidth {
    width: 600px !important;
}

#divTrackingResult .halfWidth {
    min-width: 300px !important;
    max-width: 300px !important;
}

#divTrackingResult .thirdWidth {
    min-width: 200px !important;
    max-width: 200px !important;
}

#divTrackingResult .sixthWidth {
    min-width: 100px !important;
    max-width: 100px !important;
}

#divTrackingResult .shipmentSummaryLabel {
    min-width: 120px !important;
    max-width: 120px !important;
}

#divTrackingResult .shipmentHistoryActivityLabel {
    min-width: 280px !important;
    max-width: 280px !important;
}

#processing {
    text-align: center;
    xmargin-top: 30px;
    display: none;
}

.NotVisible {
    visibility: hidden;
    display: none;
}

.redRegular {
    font-size: 1em;
    color: red;
}

.MailboxAddress {
    width: 100%;
    padding: 10px 15px 10px 15px;
    min-height: 125px;
}

.SelectedMailboxServices {
    min-width: 300px;
    min-height: 100px;
}

.bg_import {
    background-image: url(../images/Import.png);
    width: 20px;
    height: 20px;
}

.bg_export {
    background-image: url(../images/Export.png);
    width: 20px;
    height: 20px;
}

.bg_3rdparty {
    background-image: url(../images/3rd.png);
    width: 20px;
    height: 20px;
}

.height_20px {
    width: 20px !important;
}

.width_30px {
    width: 30px !important;
}

.width_70px {
    width: 70px !important;
}

.width_90px {
    width: 90px !important;
}

.width_100px {
    width: 100px !important;
}

.width_115px {
    width: 115px !important;
}

.width_160px {
    width: 160px !important;
}
.width_200px {
    width: 200px !important;
}

.width_300px {
    width: 300px !important;
}

.width_420px {
    width: 420px !important;
}

.width_290px {
    width: 290px !important;
}

.width_600px {
    width: 600px !important;
}


.required_bg {
    background-color: #FFBABA;
}

.font_size_9px {
    font-size: 9px;
}

.font_size_25px {
    font-size: 25px;
}

.no_left {
    left: 0px;
}

.no_right {
    right: 0px;
}

.font_size_7pt {
    font-size: 7pt;
}

.font_size_9pt {
    font-size: 9pt;
}

.font_size_10pt {
    font-size: 10pt;
}

.font_family_calibri {
    font-family: Calibri;
}

.width_150px {
    width: 150px !important;
}

.font_family_ArialGreek {
    font-family: Arial Greek;
}

.max_width_100 {
    max-width: 100px;
}

.max_width_500 {
    max-width: 500px;
}

.height_237px {
    height: 237px !important;
}

.height_300px {
    height: 300px !important;
}

.padding_bottom_30px {
    padding-bottom: 30px;
}



.padding_bottom_150px {
    padding-bottom: 150px;
}

.padding_bottom_300px {
    padding-bottom: 300px;
}

.padding_top_5px {
    padding-top: 5px;
}

.padding_top_7px {
    padding-top: 7px;
}

.WhiteText {
    color: #FFF;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;
}

.bodyText {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: reqular;
    color: Black;
}

.bg_processing {
    background: transparent url(../images/prog_indicator.gif) scroll no-repeat;
    background-position: right;
    width: 17px;
}

.required_bg {
    background-color: #FFBABA;
}

.secondField {
    width: 42px !important;
}

.firstField {
    width: 199px !important;
}

.ContainerSpan {
    word-wrap: break-word;
}

.normal {
    font-weight: normal;
}

#AskUsForAdvice {
    background: url("../images/links/customs_information.png") no-repeat top left;
    background-position: 0 0;
    width: 24px;
    height: 24px;
   
}

#CustomsInformatioCenter {
       width: 81px;
    height: 81px;
    background: url("../images/links/customs_information.png") no-repeat top left;
    
     background-position: 0 -74px;

    
}

#GenerateCommercialInvoice {
         background: url("../images/links/customs_information.png") no-repeat top left;
   background-position: 0 -205px;
    width: 24px;
    height: 24px;
    
}


#GetAramex {
    background: url("../images/links/customs_information.png") no-repeat top left;
         background-position: 0 -279px;
    width: 24px;
    height: 24px;
   
}

#Terminologies {
      background: url("../images/links/customs_information.png") no-repeat top left;
    background-position: 0 -353px; 
    width: 24px;
    height: 24px;
   
}



.Border-lightgray {
    border: 1px lightgray solid;
}

.paddingLeft25 {
    padding-left: 25px;
}

.paddingRight80 {
    padding-right: 80px;
}
.paddingRight5 {
    padding-right: 5px;
}
.line_width_150{

    width: 150px;
}
.textCenter {
    text-align:center;
}