/* RadMenu Default skin */

.RadMenu_Default 
{
	text-align: left;

}

.RadMenu_Default_rtl
{
	text-align: right;
}

.RadMenu_Default .rmRootGroup
{
	
	border-bottom-width: 0;
	background-color:transparent;
}

.RadMenu_Default_Context
{
	background: none;
	border: 0;
}

.RadMenu_Default .rmLink,
.RadMenu_Default .rmTemplate
{
	line-height: 24px;
	text-decoration: none;
	color: #fff;
}

.RadMenu_Default .rmLink:focus,
.RadMenu_Default .rmFocused
{
	outline: 0;
}

.RadMenu_Default .rmExpanded
{
	z-index: 10000;
	position: relative;
}

.RadMenu_Default_rtl .rmExpanded
{
	position: static;
}

.RadMenu_Default .rmLink:hover,
.RadMenu_Default .rmItem .rmExpanded
{
	background-color: #fff;
	color: #333;
	font-weight:bold;
}

.RadMenu_Default .rmLink,
.RadMenu_Default .rmTemplate
{
    color: #333;
	font: normal 12px Arial, sans-serif;
}

.RadMenu_Default .rmGroup
{
	background: #f1eff0;
}

.RadMenu_Default .rmGroup .rmLink,
.RadMenu_Default .rmGroup .rmTemplate
{
	text-decoration: none;
	color: #333;
}

.RadMenu_Default_rtl .rmGroup .rmLink
{
	text-align: right;
}

.RadMenu_Default .rmGroup .rmLink:hover,
.RadMenu_Default .rmGroup .rmFocused,
.RadMenu_Default .rmGroup .rmExpanded
{
	background: #dfdfdf;
	color: #6b6b6b;
}

.RadMenu_Default .rmText
{
	padding: 3px 20px 5px;
}

.RadMenu_Default .rmGroup .rmLink .rmText
{
	font-size: 11px;
	padding: 4px 37px 5px 20px;
}

.RadMenu_Default_rtl .rmGroup .rmLink .rmText
{
	padding: 4px 20px 5px 37px;
}

/* <expand arrows styling> */

.RadMenu_Default .rmGroup .rmLink .rmExpandRight
{
	background: transparent url(Menu/ArrowExpand.gif) no-repeat right -1px;
}

.RadMenu_Default .rmGroup .rmLink .rmExpandLeft
{
	background: transparent url(Menu/ArrowExpandRTL.gif) no-repeat left -1px;
}

.RadMenu_Default .rmGroup .rmLink:hover .rmExpandRight,
.RadMenu_Default .rmGroup .rmFocused .rmExpandRight,
.RadMenu_Default .rmGroup .rmExpanded .rmExpandRight
{
	background-image: url(Menu/ArrowExpandHovered.gif);
}

.RadMenu_Default .rmGroup .rmLink:hover .rmExpandLeft,
.RadMenu_Default .rmGroup .rmFocused .rmExpandLeft,
.RadMenu_Default .rmGroup .rmExpanded .rmExpandLeft
{
	background-image: url(Menu/ArrowExpandHoveredRTL.gif);
}

/* </expand arrows styling> */

.RadMenu_Default .rmHorizontal .rmItem { padding-bottom:1px; }
.RadMenu_Default .rmHorizontal .rmLast { border-right: 0; }

.RadMenu_Default .rmVertical .rmItem { border-bottom: 1px solid #353535; }
.RadMenu_Default .rmVertical .rmLast { border-bottom: 0; padding-bottom: 1px; }

.RadMenu_Default_rtl .rmHorizontal .rmItem { border-left: 0; }

.RadMenu_Default .rmRootGroup .rmGroup .rmItem,
.RadMenu_Default_Context .rmGroup .rmItem
{ border-right: 0; border-bottom: 0; padding-bottom: 0; }

.RadMenu_Default .rmRootGroup .rmGroup .rmItem,
.RadMenu_Default .rmRootGroup .rmGroup .rmLink
{
    background: transparent;
	border-bottom :1px solid white;
	border-right :1px solid white;
}
.RadMenu_Default .rmGroup
{
	
	background-color: #f1eff0;
}

.RadMenu_Default .rmGroup .rmExpanded
{
	z-index: 1;
}

.RadMenu_Default .rmTopArrow,
.RadMenu_Default .rmBottomArrow
{
	height: 10px;
	width: 100%;
	background: #fff url(Menu/ArrowScrollUpDown.gif) no-repeat top center;
}

.RadMenu_Default .rmBottomArrow
{
	background-position: center -18px;
}

.RadMenu_Default .rmLeftArrow,
.RadMenu_Default .rmRightArrow
{
	width: 10px;
	height: 100%;
	margin-top: -1px;
	background: #fff url(Menu/ArrowScrollLeftRight.gif) no-repeat left center;
}

.RadMenu_Default .rmRightArrow
{
	background-position: -18px center;
}

.RadMenu_Default .rmItem .rmDisabled .rmText
{
	color: #999;
}

.RadMenu_Default .rmRootGroup .rmItem .rmDisabled
{
	background: none;
}

.RadMenu_Default .rmGroup .rmItem .rmDisabled
{
	background-color: #fff;
}

.RadMenu_Default .rmRootGroup .rmSeparator,
.RadMenu_Default .rmGroup .rmSeparator
{
	background: #8f8f8f;
	border-top: 1px solid #676767;
	border-bottom: 0;
}

.RadMenu_Default .rmSeparator .rmText
{
	display: none;
}

.RadMenu_Default .rmHorizontal .rmSeparator
{
	height: 20px;
	width: 1px;
	line-height: 20px;
	border: 0;
}

.RadMenu_Default .rmVertical .rmSeparator
{
	height: 1px;
	margin: 3px 0;
	border: 0;
	line-height: 1px;
}

.RadMenu_Default .rmLeftImage
{
	margin: 2px;
}

.RadMenu_Default .rmSlide
{
	margin: -1px 0 0 -1px !important;
}

.RadMenu_Default .rmHorizontal .rmSlide
{
	margin-top: -2px !important;
}

.RadMenu_Default_rtl .rmSlide
{
	margin-left: 0 !important;
	margin-right: -1px !important;
}

.RadMenu_Default .rmGroup .rmSlide
{
	margin: 0 !important;
}

.RadMenu_Default .rmItem .rmDisabled:hover
{
	background: none;
}