/*body.product_page #alti-content a.popin-add-to-cart-close {
	position:relative;
	bottom:200px;
	left:700px;
}
.cross-selling-head .title {
	background:none !important;
	background-color:none !important;
	color:#e15415;
	font-size:20px;
	position: absolute;
    top: 60px;
}
*/



body.product_page .alti-content .product-others-group {
	right:0 !important;
}
body.product_page .alti-content #popup__2_ComponentProductOthersGroup {
	padding-left: 150px;
}
.prod_confirm .prod_visu {
	 margin: 0 30px 0 60px;
}
.prod_confirm .prod_visu img {
    border: 1px solid #ccc;
    height: 250px;
    margin-top: 10px;
    padding: 5px;
}
.prod_confirm .prod_title_text {
	color: black;
    font-family: roboto;
    font-style: italic;
    font-weight: bold;
    margin: 0 0 30px;
    text-transform: uppercase;
}
.prod_confirm .prod_added {
	width:auto !important;
}
/*
body.product_page .alti-content .popin-add-to-cart, body.product_page .alti-content .zoneMiniCartModify {
	background:none !important;
	}

*/
body.product_page .alti-content #popup__2_ComponentProductOthersGroup {
	padding-left:40px;
}
.total-total .amont {
	font-size:30px;
}
.order-total-shipping-step1 {
	background:#f0f0f0;
}
#map-region-subcontainer ul { 
    margin-left:10px;
	margin-top:10px;
	font-size:13px;
}
#map-region-subcontainer ul li {
	list-style-image:url(/skins/images/decat/relay_store.png);
}

#map-region-subcontainer ul li a {
    color: #4e4e4e !important;
    line-height: 19px;
    margin: 10px 0;
    padding: 10px;
    text-decoration: none;
}
#map-region-subcontainer ul li img {
	display:none;
}
.psp_title span.method-name {
	font-size:15px;
}
/*
a#paymentvalidcart_payment-confirm {
    left: 320px;
    position: relative;
}
*/
div.paymentlegalmention_mention-payment {
	border:none;
    color: #5f5f5f;
    display: inline;
    font-size: 11px;
    height: auto;
    /*left: 610px;*/
    line-height: 14px;
    position: relative;
    text-align: left;
    /*width: 350px;*/
}
#paymentaddresstitle_formulaire-paiement h2, div#paymentdetailcart_total-payment h2 {
	color: #008de0;
}
div.paymentaddressshipping_order-addresses a, div.paymentaddressbilling_order-addresses a {
	color: #fe7f32;
    font-size: 13px;
    text-decoration: underline;
}
