/* SHADOW HOMEPAGE */
body.main_page div#main-content-container { background:#ffffff !important; }
body.main_page div#maincontainer { background:none !important; }

/* BOUTON E-RESERVATION FICHE PRODUIT */
div#PageProduitProd a#AddToErep_buttonShowStock, div#addEbookingButton a#AddToErep_buttonShowStock { padding:0; width:170px; height:44px; display:block; background:url('http://www.decathlon.fr/ecfr/static/btn_eresa.jpg') 0 0 no-repeat; font-size:14px; font-weight:bold; text-align:center; text-shadow:1px 1px 1px #333; color:#ffffff; }
div#PageProduitProd a#AddToErep_buttonShowStock div, div#addEbookingButton a#AddToErep_buttonShowStock div { padding:0; line-height:44px; }
div#PageProduitProd a#AddToErep_buttonReservation, div#addEbookingButton a#AddToErep_buttonReservation { padding:0; width:170px; height:44px; display:block; background:url('http://www.decathlon.fr/ecfr/static/btn_eresa.jpg') bottom no-repeat; font-size:14px; font-weight:bold; text-align:left; color:#ffffff; }
div#PageProduitProd a#AddToErep_buttonReservation div.button-left, div#addEbookingButton a#AddToErep_buttonReservation div.button-left { display:none; }
div#PageProduitProd a#AddToErep_buttonReservation div.button-right, div#addEbookingButton a#AddToErep_buttonReservation div.button-right { line-height:16px; padding:7px 0 0 41px; }

/* AFFICHAGE DISPO */
p.product_info_dispo label.block_filter_lbl, p.product_infospe label:first-child, p.product_infospe a.infobulle:first-child, p.product_info_dispo span.info_enstock { display:none !important; }
p.product_info_dispo .infobulle, p.product_infospe .infobulle.dispo.dispo-01, p.product_infospe .infobulle.dispo.dispo-02, p.product_infospe .infobulle.dispo.dispo-03 { background-image:url('http://www.decathlon.it/ecit/static/css/images/dispo.jpg'); background-repeat:no-repeat; width:166px; height:9px; }
p.product_infospe .infobulle.dispo.dispo-01, p.product_infospe .infobulle.dispo.dispo-02, p.product_infospe .infobulle.dispo.dispo-03 { display:inline-block; margin:0 43px 0 0; }
p.product_info_dispo a.infobulle.dispo.dispo-01, p.product_infospe .infobulle.dispo.dispo-01 { background-position:0 -1px; /* CAR */ }
p.product_info_dispo a.infobulle.dispo.dispo-02, p.product_infospe .infobulle.dispo.dispo-02 { background-position:0 -10px; /* CAC */ }
p.product_info_dispo a.infobulle.dispo.dispo-03, p.product_infospe .infobulle.dispo.dispo-03, p.product_info_dispo a.infobulle.dispo.dispo-04, p.product_infospe .infobulle.dispo.dispo-04 { background-position:0 -20px; /* indispo */ }

/* BORDER FICHE PRODUIT PACK */
div#PageProduitProd div.pack-container, div#popup_ div.pack-container { border:2px solid #ff5f00; width:584px; }

/* CHANGEMENT BOUTON PANIER ORANGE
div#panier_content_articles a#orderDetailLink div.background_container, div#panier_content_articles a#orderDetailLink div.background_container_second, div#panier_content_articles a#orderDetailLink span.button-cart-center { background:none; padding:0; margin:0; }
div#panier_content_articles a#orderDetailLink span.button-cart-center { padding:0 15px 0 0; background:url('../images/puce_panier.gif') right no-repeat; }
div#panier_content_articles a#orderDetailLink { display:block; width:180px; line-height:28px; background:#ff5f00; background: -moz-linear-gradient(top, #ff7100 0%, #ff4d00 100%);/* Firefox */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff7100), color-stop(100%,#ff4d00)); /* Chrome, Safari */ background: -webkit-linear-gradient(top, #ff7100 0%,#ff4d00 100%); background: -o-linear-gradient(top, #ff7100 0%,#ff4d00 100%);/* Opera */ background: -ms-linear-gradient(top, #ff7100 0%,#ff4d00 100%);/* IE */ background: linear-gradient(top bottom, #ff7100 0%,#ff4d00 100%); border:1px solid #ff5f00; /* Norme W3C */ }
div#panier_content_articles a#orderDetailLink:hover { background:#ff5f00; background: -moz-linear-gradient(top, #ff4d00 0%, #ff7100 100%);/* Firefox */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff4d00), color-stop(100%,#ff7100)); /* Chrome, Safari */ background: -webkit-linear-gradient(top, #ff4d00 0%,#ff7100 100%); background: -o-linear-gradient(top, #ff4d00 0%,#ff7100 100%);/* Opera */ background: -ms-linear-gradient(top, #ff4d00 0%,#ff7100 100%);/* IE */ background: linear-gradient(top bottom, #ff4d00 0%,#ff7100 100%); }
*/

/* FOOTER DECATHLON
#messagetop { display: none; z-index: 999; opacity: .8; position: fixed; bottom: 3%; right:1%; }
#messagetop a { display:block; height:34px; background:url('../images/picto_up_top.png') top no-repeat; text-decoration:none; color: #000000;  font-size: 12px; padding-top: 55px; text-align: center; width: 100px; }
#footer, #footer div.footer { padding:0 !important; }
div#footerv2 .sprites { background-image:url('../images/sprites_footer.jpg');  background-repeat:no-repeat; }
div#footerv2 { width:980px; height:auto; background:#282828; padding:10px; font-family:Arial, Helvetica, sans-serif; }
div#footerv2 a { text-decoration:none; }
div#footerv2 a:hover { text-decoration:underline }
div#footerv2 div#rassurance { width:980px; height:64px; display:block; border-bottom:1px dashed #000000; margin:0 0 20px; }
div#footerv2 div#rassurance a { width:108px; height:44px; display:block; float:left; font-size:11px; color:#fff; padding:10px 0 0 55px; text-align:left; position:relative; }
div#footerv2 div#rassurance a span { width:55px; height:54px; display:block; position:absolute; top:0; left:0; z-index:1; overflow:hidden; text-decoration:none !important; }
div#footerv2 div#rassurance a:hover { text-decoration:none; color:#ccc; }
div#footerv2 div#rassurance a#retour span { background-position:-56px 0; }
div#footerv2 div#rassurance a#livraison span { background-position:-112px 0; }
div#footerv2 div#rassurance a#fidelite span { background-position:-168px 0; }
div#footerv2 div#rassurance a#service span { background-position:-224px 0; }
div#footerv2 div#rassurance a#france span { background-position:-280px 0; }
div#footerv2 div#liens, div#footerv2 div#reseaux { width:960px; height:auto; display:block; margin:0 0 20px; border-bottom:1px dashed #000000; padding:0 10px 20px; overflow:hidden; position:relative; }
div#footerv2 div#liens div.colonne, div#footerv2 div#reseaux div.colonne { width:234px; height:auto; display:inline-block; float:left; }
div#footerv2 div#liens div.colonne p, div#footerv2 div#reseaux p { font-size:14px; font-weight:bold; text-transform:uppercase; color:#fff; text-shadow:1px 1px 1px #000; text-align:left; padding:0 0 10px; margin:0; display:block; }
div#footerv2 div#liens div.colonne ul { margin:0; padding:0; list-style:none; width:240px; height:auto; overflow:hidden; }
div#footerv2 div#liens div.colonne ul li { float:left; display:inline; }
div#footerv2 div#liens div.colonne ul li a { font-size:11px; color:#ccc; text-align:left; display:block; padding:0; width:230px; height:16px; line-height:16px; }
div#footerv2 div#reseaux { margin:0 0 10px }
div#footerv2 div.fb-like { position:absolute; top:30px; left:60px; z-index:2; }
div#footerv2 div#reseaux div.colonne { min-height:52px; padding:5px 0 0 10px; width:230px; }
div#footerv2 div#reseaux div#last_box { position:relative; }
a#facebookimg { display:inline-block; width:45px; height:45px; float:left; margin:0 3px 0 0; background-position:0 -104px; }
a#facebooklink, a#googlelink { font-size:11px; color:#CCCCCC; text-align:left; line-height:15px; float:left; width:150px; margin:0 0 4px; }
a#facebookbtn { width:55px; height:20px; display:inline-block; float:left; float:left; margin:0 5px 0 0; background-position:-196px -104px; }
a#facebookbtn:hover { background-position:-196px -124px; }
a#facebookimg:hover, a#googleimg:hover, a#facebookbtn:hover, a#googlebtn:hover { text-decoration:none !important; }
div#countfacebook, div#countgoogle { float:left; display:inline; padding:3px; background:#fff; border:1px solid #c7c7c7; text-align:center; line-height:12px; font-size:11px; color:#000; position:relative  }
div#countfacebook span, div#countgoogle span { width:5px; height:6px; display:block; position:absolute; top:50%; margin-top:-3px; left:-5px; z-index:1; background-position:-252px -104px; }
a#googleimg { display:inline-block; width:38px; height:38px; float:left; margin:0 8px 0 0; background-position:-122px -104px; }
a#googlebtn { width:32px; height:20px; display:inline-block; float:left; background-position:-163px -104px; float:left; margin:0 5px 0 0; }
a#googlebtn:hover { background-position:-163px -124px; }
a#twitter { width:157px; height:38px; display:block; float:left; font-size:11px; color:#CCCCCC; text-align:left; padding:0 0 0 43px; line-height:38px; position:relative; }
a#twitter span { width:38px; height:38px; display:block; position:absolute; top:0; left:0; z-index:1; background-position:-43px -104px; text-align:center; }
a#youtube { width:157px; height:38px; display:block; float:left; font-size:11px; color:#CCCCCC; text-align:left; padding:0 0 0 43px; line-height:38px; position:relative; }
a#youtube span { width:38px; height:38px; display:block; position:absolute; top:0; left:0; z-index:1; background-position:-84px -104px; text-align:center; }
a#google { width:38px; height:38px; display:block; float:left; }
div#footerv2 div#countries, div#footerv2 div#conditions, div#footerv2 div#mentions, div#footerv2 div#paiement { width:960px; height:auto; display:block; margin:0 0 20px; border-bottom:1px dashed #000000; padding:0 10px 10px; overflow:hidden; }
div#footerv2 div#countries p { font-size:11px; color:#ccc; text-align:left; display:inline; float:left; padding:0 6px 0 0; line-height:18px; height:18px; }
div#footerv2 div#countries img { border:none; }
div#countries a { display:inline-block; float:left; margin:2px 3px 0 0; width:21px; height:15px; }
div#footerv2 div#countries a:hover { opacity:0.7; filter:opacity(alpha=70); }
div#footerv2 div#mentions p { font-size:10px; color:#ccc; margin:0; padding:0; text-align:left; }
div#countries a#france-flag { background-position:-85px -88px; }
div#countries a#belgique-flag { background-position:-358px -88px; }
div#countries a#bresil-flag { background-position:-21px -88px; }
div#countries a#china-flag { background-position:-42px -88px; }
div#countries a#germany-flag { background-position:-106px -88px; }
div#countries a#hungary-flag { background-position:-127px -88px; }
div#countries a#india-flag { background-position:-148px -88px; }
div#countries a#italie-flag { background-position:-169px -88px; }
div#countries a#pays-bas-flag { background-position:-190px -88px; }
div#countries a#pologne-flag { background-position:-211px -88px;  }
div#countries a#portugal-flag { background-position:-232px -88px; }
div#countries a#romania-flag { background-position:-253px -88px; }
div#countries a#russia-flag { background-position:-274px -88px; }
div#countries a#espagne-flag { background-position:-295px -88px; }
div#countries a#angleterre-flag { background-position:0 -88px; }
div#countries a#turquie-flag { background-position:-337px -88px; }
div#footerv2 div#conditions p, div#footerv2 div#paiement p { font-size:11px; color:#ccc; text-align:left; display:inline; float:left; padding:0 6px 0 0; line-height:18px; height:18px; }
div#footerv2 div#conditions span { display:inline; padding:0 3px; }
div#footerv2 div#conditions a { font-size:11px; color:#ccc; }
div#footerv2 div#paiement, div#footerv2 div#conditions { margin:0 0 10px; }
div#footerv2 a.ogone { background-position:-169px -145px !important; width:72px; height:26px; }
div#footerv2 a.carte_bancaire { background-position:-79px -145px !important; width:90px; height:26px; }
div#footerv2 a.paiement_cheque { background-position:-339px 1px !important; width:40px; height:26px; }
div#footerv2 a.paiement_alsolia { background-position:-52px -144px !important; width:25px; height:26px; }
div#footerv2 a.paiement_oney { background-position:-326px -145px !important; width:161px; height:26px; }
div#footerv2 a.paypal_payment { background-position:-243px -145px !important; width:81px; height:26px; }
div#footerv2 div#paiement a { display:inline; float:left; margin:0 8px 0 0; height:26px; color:#282828; }
div#footerv2 div#paiement a.ogone { margin:0 15px 0 0; }
div#footerv2 div#paiement p { height:28px; line-height:28px; }
div#footerv2 a.ogone:hover { background-position:-169px -171px !important; }
div#footerv2 a.carte_bancaire:hover { background-position:-79px -171px !important; }
div#footerv2 a.paiement_cheque:hover { background-position:-339px -25px !important; }
div#footerv2 a.paiement_alsolia:hover { background-position:-52px -170px !important; }
div#footerv2 a.paiement_oney:hover { background-position:-326px -171px !important; }
div#footerv2 a.paypal_payment:hover { background-position:-243px -171px !important; }
div#bloc_newsletter { width:286px; min-height:82px; display:inline-block; background:#fff; float:left; padding:33px 0 0 15px; position:relative; text-align:left; }
div#bloc_newsletterTop { width:301px; height:33px; display:block; background-position:0 -54px; position:absolute; top:0; left:0; z-index:1; }
div#liens { overflow:visible !important; }
div#bloc_newsletter form { margin:0; padding:0; }
div#bloc_newsletter label { font-size:11px; color:#000; line-height:14px; padding:0 0 6px; display:block; }
div#bloc_newsletter input#zone_txt { width:230px; height:31px; display:inline-block; float:left; padding:0 5px; line-height:31px; border:1px solid #8f8f8f; border-radius:3px; font-size:11px; color:#000; margin:0 4px 7px 0; }
div#bloc_newsletter input#valid_newsletter { width:36px; height:33px; display:inline-block; border:none; background-position:-2px -151px; cursor:pointer; float:left; border:1px solid #ccc; border-radius:3px; color:transparent; }
div#bloc_newsletter input#valid_newsletter:hover { background-position:-2px -187px; border-color:#8f8f8f }
div.subscriptionError, div.EmailFormatError, div.AlreadyError, div.ErrorLegalMention { font-size:11px; line-height:15px; font-weight:bold; color:#e71705; margin:0 0 10px; clear:both; min-height:15px; padding:0 10px 0 18px; background:url('../images/valid_form_none.png') top left no-repeat; }
div.subscriptionOk { font-size:12px; line-height:15px; font-weight:bold; color:#489702; margin:0 0 10px; min-height:15px; padding:0 10px 0 18px; background:url('../images/valid_form_true.png') top left no-repeat; }
div#bloc_newsletter div.parentDiv { width:auto; border:none; }
div#bloc_newsletter form.subscribeNewsLetter { width:auto; }*/

/* REFONTE MOTEUR DE RECHERCHER */
div#top div.search-screen { background:none; width:258px; }
div#top div.search-screen input.input_text2 { background:#ffffff; border:1px solid #cccccc; border-right:none; padding:7px 7px 4px 10px; }
div#top div.search-screen div.buttonsearch { background-image:url('/ecit/static/css/images/sprites_footer.jpg'); background-position:-451px 0; width:35px; height:28px; }
div#top div.search-screen div.buttonsearch:hover { background-position:-451px -28px; }
div#top .autocompleteDiv { top:33px; }

/* FIL D'ARIANE - SMALL-BLUE */
div#main-content-container .breadcrumb { background:url('images/fdarianebarre.png') 0 -36px repeat-x; height:36px; }
div#main-content-container #breadcrumb-bg { background:url('images/fdarianebarre.png') 100% -108px no-repeat; padding:0 20px 0 0; }
div#main-content-container .breadcrumb_list { background:url('images/fdarianebarre.png') 0 0 repeat-x; }
div#main-content-container .breadcrumb_list li a.link_breadcrumb { background:url('images/fdarianebarre.png') 100% -72px no-repeat; }
div#main-content-container .sub_nav_search { height:36px; padding:0 18px 0 20px; }
div#main-content-container #breadcrumb-bg .link_breadcrumb_no_child_last, div#main-content-container #breadcrumb-bg .link_breadcrumb_no_child { background:none }
div#main-content-container .breadcrumb_list li.sep { height:36px; background:none; }
div#main-content-container .breadcrumb_list li a.link_breadcrumb, .breadcrumb_list li span.link_breadcrumb  { height:36px; line-height:36px; display:block; }
div#main-content-container .breadcrumb_list li.sep { background:url('images/fdarianebarre.png') 100% -144px no-repeat; width:20px; }
div#main-content-container .breadcrumb_list li.sep_next { background:url('images/fdarianebarre.png') 100% -180px no-repeat; }
div#main-content-container .breadcrumb_list li.sep_prev { background:url('images/fdarianebarre.png') 100% -216px no-repeat; }
div#main-content-container .breadcrumb_search li.sep { background:none }
div#main-content-container .sub_nav { top:24px; }
div#main-content-container .breadcrumb_list .link_close { height:36px; top:0; right:-30px; background-position:0 -12px; }
div#main-content-container .breadcrumb a, div#main-content-container .breadcrumb a span { font-size:11px; font-weight:100; }
div#main-content-container .breadcrumb_list li.sub_nav_search span.link_breadcrumb { line-height:36px; }

/* HIDE STORE PRICE

.product_page .prod_action_content .mag_infos, .box_price #store_from_to_price { display:none !important; }

*/

/*.product_list p.product_info_dispo, p.product_infospe label:first-child, p.product_infospe a.dispo{display: none !important;}*/
.box_price #store-end-life-mention {display: none !important;}


/* BEGIN - alignment on Availibility on Product Long on page liste (big TG) (Mathieu CALLAGHAN - 05122013 */
.product_list .productlong p.product_infospe a.dispo{
	background-position: 102px -229px;
	margin-right: 0;
	margin-top: -6px;
}
/* END - alignment on Availibility on Product Long on page liste (big TG) (Mathieu CALLAGHAN - 05122013 */

/* BEGIN - TEMP FIX on THE CART (Mathieu CALLAGHAN - 13112013 */
#panier_content .button-cart{
	width:auto;
}
div#panier_content_articles .button-cart a#orderDetailLink{
	width: auto;
	margin: 0 20px;
}
div#panier_content_articles a#orderDetailLink span.button-cart-center {
	padding: 0 15px 0 0;
	background: url(./images/puce_panier.gif) right no-repeat;
}
#panier_content #panier_content_articles #achatEtResa #achats #article_panier {
	max-height: 318px;
}
#panier_content .sub-total .droite, #panier_content #total_panier div .total_panier_titre, #panier_content #total_panier div .total_panier_content{
	color:#0082C3;
}
#header-panier.no-clickable{
	border-top: 1px solid #004c73;
	border-bottom: 1px solid #004e75;
	background-position: -1px -11px;
}
/* END - TEMP FIX on THE CART (Mathieu CALLAGHAN - 13112013 */

/* BEGIN - REFONTE NAVIGATION BARRE (Mathieu CALLAGHAN - 14112013 */

/* COLORE TAB PRIMI PREZZI TECNICI */
div#top li.tab_nav[index='5'] a.link_nav {
	background-position:50% 92%;
}
div#top li.tab_nav[index='5'] a.link_nav:hover {
}

div#top li.tab_nav[index='5'] a.link_nav {/* RIATTIVARE SE TESTO PULSANTE E' SU DUE RIGHE      padding: 8px 2px 9px !important;     */background-position:50% 92%;}

/* FINE COLORE TAB PRIMI PREZZI TECNICI */

div#top .link_nav_empty {background: none !important;}
/* END - REFONTE NAVIGATION BARRE (Mathieu CALLAGHAN - 14112013 */

/* BEGIN - REFONTE MOTEUR DE RECHERCHE (Mathieu CALLAGHAN - 14112013 */
div#top div.search-screen div.buttonsearch { background:transparent url(/skins/images/specific-country/sprite_global.png) no-repeat -37px -1px;width:35px; height:28px; }
div#top div.search-screen div.buttonsearch:hover { background-position:-37px -29px; }
/* END - REFONTE MOTEUR DE RECHERCHE (Mathieu CALLAGHAN - 14112013 */

/* BEGIN - Hide availability info (Mathieu CALLAGHAN - 28012014 */
.product_info_dispo a.dispo-01, .product_info_dispo a.dispo-02  { display:none !important }
/* END - Hide availability info (Mathieu CALLAGHAN - 28012014 */

/* Alerte mail
div.prod_action_content div.button_email_available { width:170px; height:52px; display:block; background:url('http://www.decathlon.it/ecit/static/css/images/stop-allerta-dispo.jpg') top right no-repeat; }
div.prod_action_content div.button_email_available a { display:none } */

/* LAYER UPDTADE 09042014
body.product_page #alti-content a.popin-add-to-cart-close { background-image:url('/ecit/static/css/images/continued.jpg') !important; background:url('/ecit/static/css/images/continued.jpg') top no-repeat; !important; width:240px; height:43px; display:block; padding:0 !important; margin:0 !important; }
body.product_page a.popin-add-to-cart-close span { display:none }
/*body.product_page .alti-content .close { left:30px !important; top:230px !important; right:inherit; height:43px !important; z-index:101; margin-top:0 !important; }*/ /*
body.product_page .alti-content .article_recap, body.product_page .alti-content h2.cart_title, body.product_page .alti-content .total_cart { display:none !important; }
body.product_page .alti-content .mini_cart_modify .btn_type_01 { margin:0 !important; top:230px !important; position:absolute;  right:30px !important; z-index:101 }
body.product_page .alti-content .zoneProductConfirm { position:absolute; top:0; left:50%; z-index:100; margin-left:-315px; }
body.product_page .alti-content .product-others-group { width:941px !important; position:absolute; bottom:10px; left:30px; background:none !important; height:300px !important; }
body.product_page .alti-content #popup__2_ComponentProductOthersGroup { clear:both; display:block; padding-top:69px; }
body.product_page .alti-content .cross-selling-head { width:180px; margin-left:0 !important; margin-top:83px !important; float:left; }
body.product_page .alti-content .cross-selling-head span.title { margin-left:0 !important; background:#000 !important; }
body.product_page .alti-content .cross-selling-head span.coche { display:none !important; }
body.product_page .alti-content #popup__2_ComponentProductOthersGroup ul.product-cross-selling { pading-top:15px !important; }*/
/* fond popin add to cart
body.product_page .alti-content .popin-add-to-cart, body.product_page .alti-content .zoneMiniCartModify { background:url('/ecit/static/css/images/fdlayer-sansrecap.gif') 0 293px repeat-x; min-height:560px; }

*/
body.product_page .alti-content .zoneProductConfirm { background:none; }
/*RESET ZOOM PRODUIT */
body.product_page .alti-content-zoom .close { left:928px !important; top:0px !important; right:0 !important; height:inherit !important; }
/* ADD PUCE GO PANIER */
body.product_page #alti-content a#button_end_order { padding:0 30px 0 10px; position:relative; }
body.product_page #alti-content a#button_end_order:after { content:''; display:block; position:absolute; top:50%; right:13px; margin-top:-4px; background:url('/ecit/static/css/images/puce-white-go.gif') top no-repeat; width:7px; height:8px; }

/* BEGIN - Fixing display price on product page - Ticket N° (Mathieu CALLAGHAN - 29042014 */
.prod_action_content { padding:20px 20px 20px 8px;}
/* END - Fixing display price on product page - Ticket N° (Mathieu CALLAGHAN - 29042014 */

/* BEGIN - Remove right border on Help Block - list page (Mathieu CALLAGHAN - 30062014 */
.zone_filter_new .conseil{border:0;}
/* END - Remove right border on Help Block - list page (Mathieu CALLAGHAN - 30062014 */

/* BEGIN - Hide the Banner's Pause button - home page (Mathieu CALLAGHAN - 02072014 */
/*div#main-content-container div#presentation-nav{display:none;}*/
/* END - Hide the Banner's Pause button - home page (Mathieu CALLAGHAN - 02072014 */

/* BEGIN - Center the footer (Mathieu CALLAGHAN - 06082014 */
div#footerv2{width:auto !important;margin-top: 0 !important;}
div#footerv2 div#rassurance{margin:0 auto 10px !important;}
div#footerv2 div#liens{margin:0 auto !important;}
div#footerv2 div#paiement, div#footerv2 div#society{margin: 0 auto 5px !important;}
div.left-mentions, div.right-mentions{width:48% !important;float:none !important;}
div.right-mentions{width: 20% !important;}
/* END - Center the footer (Mathieu CALLAGHAN - 06082014 */

/* BEGIN - Ajustement suite à l'ouverture du Footer - Wide (Mathieu CALLAGHAN - 07082014 */
#main-content-container{padding-bottom: 20px;}
#box_show_next_product{margin-bottom:0 !important;}
/* END - Ajustement suite à l'ouverture du Footer - Wide (Mathieu CALLAGHAN - 07082014 */

/* BEGIN - TEMPLATE TG - Andrea Spreafico - 11082014 */
/* ---- PACK ---*/
/* ---- EFFETTO TRANSIZIONE SU HOVER PRODOTTO ---*/
.over {
    -webkit-transition-timing-function: ease-in-out; /* Safari e Chrome */
    transition-timing-function: ease-in-out;
}
/* ----Color bg product normal ---*/
.product_list .productshort_pack {
background-image: url(/content/website/merch/pack/bg-product.jpg);
}
/* ----Color bg product over ---*/
.product_list .productshort_pack.over {
background-image: url(/content/website/merch/pack/bg-product-over.jpg);
}
/* ----Color bg more info ---*/
.product_list .productshort_pack .more_info .more_info_content {
background-color:#fdcf00;
}
/* ---- Boton comprar TG long ---*/
.productlong_pack .product_profite {
background-image: url(/content/website/merch/pack/bg-profite.jpg);
}
/* ---- BG TG long  normal ---*/
.product_list .productlong_pack {
background-image: url(/content/website/merch/pack/bg-product-long.jpg);
}
/* ---- BG TG long  over ---*/
.product_list .productlong_pack.over {
background-image: url(/content/website/merch/pack/bg-product-over-long.jpg);
}
/* ---- SUGGESTION ---*/
/* ----Color bg product normal ---*/
.product_list .productshort_suggestion {
background-image: url(/content/website/merch/suggestion/bg-product.jpg);
}
.product_list .productshort_suggestion.over {
background-image: url(/content/website/merch/suggestion/bg-product-over.jpg);
}
.product_list .productshort_suggestion .more_info .more_info_content {
background-color:#282828;
}
.productlong_suggestion .product_profite {
background-image: url(/content/website/merch/suggestion/bg-profite.jpg);
}
.product_list .productlong_suggestion {
background-image: url(/content/website/merch/suggestion/bg-product-long.jpg);
}
.product_list .productlong_suggestion.over {
background-image: url(/content/website/merch/suggestion/bg-product-over-long.jpg);
}
/* ---- COSTAMENO ---*/
/* ----Color bg product normal ---*/
.product_list .productshort_costameno {
background-image: url(/content/website/merch/costameno/bg-product.jpg);
}
.product_list .productshort_costameno.over {
background-image: url(/content/website/merch/costameno/bg-product-over.jpg);
}
.product_list .productshort_costameno .more_info .more_info_content {
background-color:#f2383b;
}
.productlong_costameno .product_profite {
background-image: url(/content/website/merch/costameno/bg-profite.jpg);
}
.product_list .productlong_costameno {
background-image: url(/content/website/merch/costameno/bg-product-long.jpg);
}
.product_list .productlong_costameno.over {
background-image: url(/content/website/merch/costameno/bg-product-over-long.jpg);
}
/* ---- BESTRATED ---*/
.product_list .productshort_bestrated .more_info .more_info_content {
background-color:#c8c8c8;
}
/* ---- LOT ---*/
/* ----Color bg product normal ---*/
.product_list .productshort_lot {
background-image: url(/content/website/merch/lot/bg-product.jpg);
}
/* ----Color bg product over ---*/
.product_list .productshort_lot.over {
background-image: url(/content/website/merch/lot/bg-product-over.jpg);
}
/* ----Color bg more info ---*/
.product_list .productshort_lot .more_info .more_info_content {
background-color:#fdcf00;
}
/* ---- Boton comprar TG long ---*/
.productlong_lot .product_profite {
background-image: url(/content/website/merch/lot/bg-profite.jpg);
}
/* ---- BG TG long  normal ---*/
.product_list .productlong_lot {
background-image: url(/content/website/merch/lot/bg-product-long.jpg);
}
/* ---- BG TG long  over ---*/
.product_list .productlong_lot.over {
background-image: url(/content/website/merch/lot/bg-product-over-long.jpg);
}

/*----- BANNER COOKIES -----*/
#container-screen{
bottom: 0 !important;
top: auto !important;
}
