/* sport-fitness-material */
.picto-menu.sport-fitness-material {
  background-image: url("/ecit/static/picto-menu-extra/picto-menu-extra.png?v=5") !important;
  background-position: -40px 0px !important;
  background-size: 160px 160px !important; }

/* sport-ice-hockey-1 */
.picto-menu.sport-ice-hockey-1 {
  background-image: url("/ecit/static/picto-menu-extra/picto-menu-extra.png?v=5") !important;
  background-position: -40px -80px !important;
  background-size: 160px 160px !important; }

/* sport-ice-hockey-2 */
.picto-menu.sport-ice-hockey-2 {
  background-image: url("/ecit/static/picto-menu-extra/picto-menu-extra.png?v=5") !important;
  background-position: 0px -40px !important;
  background-size: 160px 160px !important; }

/* sport-volley-2 */
.picto-menu.sport-volley-2 {
  background-image: url("/ecit/static/picto-menu-extra/picto-menu-extra.png?v=5") !important;
  background-position: -40px -40px !important;
  background-size: 160px 160px !important; }

/* sport-volley */
.picto-menu.sport-volley {
  background-image: url("/ecit/static/picto-menu-extra/picto-menu-extra.png?v=5") !important;
  background-position: -80px 0px !important;
  background-size: 160px 160px !important; }

/* sport-boat */
.picto-menu.sport-boat {
  background-image: url("/ecit/static/picto-menu-extra/picto-menu-extra.png?v=5") !important;
  background-position: -80px -40px !important;
  background-size: 160px 160px !important; }

/* sport-bodybuilding */
.picto-menu.sport-bodybuilding {
  background-image: url("/ecit/static/picto-menu-extra/picto-menu-extra.png?v=5") !important;
  background-position: 0px -80px !important;
  background-size: 160px 160px !important; }

/* sport-dance-2 */
.picto-menu.sport-dance-2 {
  background-image: url("/ecit/static/picto-menu-extra/picto-menu-extra.png?v=5") !important;
  background-position: 0px 0px !important;
  background-size: 160px 160px !important; }

/* sport-horse-riding */
.picto-menu.sport-horse-riding {
  background-image: url("/ecit/static/picto-menu-extra/picto-menu-extra.png?v=5") !important;
  background-position: -80px -80px !important;
  background-size: 160px 160px !important; }

/* sport-roller-2 */
.picto-menu.sport-roller-2 {
  background-image: url("/ecit/static/picto-menu-extra/picto-menu-extra.png?v=5") !important;
  background-position: -120px 0px !important;
  background-size: 160px 160px !important; }

/* sport-skate */
.picto-menu.sport-skate {
  background-image: url("/ecit/static/picto-menu-extra/picto-menu-extra.png?v=5") !important;
  background-position: -120px -40px !important;
  background-size: 160px 160px !important; }

/* sport-snowboard */
.picto-menu.sport-snowboard {
  background-image: url("/ecit/static/picto-menu-extra/picto-menu-extra.png?v=5") !important;
  background-position: -120px -80px !important;
  background-size: 160px 160px !important; }

/* sport-volley-3 */
.picto-menu.sport-volley-3 {
  background-image: url("/ecit/static/picto-menu-extra/picto-menu-extra.png?v=5") !important;
  background-position: 0px -120px !important;
  background-size: 160px 160px !important; }

/* sport-xc-skiing */
.picto-menu.sport-xc-skiing {
  background-image: url("/ecit/static/picto-menu-extra/picto-menu-extra.png?v=5") !important;
  background-position: -40px -120px !important;
  background-size: 160px 160px !important; }

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* sport-fitness-material */
  .picto-menu.sport-fitness-material {
    background-image: url("/ecit/static/picto-menu-extra/picto-menu-extra@2x.png?v=5") !important; }
  /* sport-ice-hockey-1 */
  .picto-menu.sport-ice-hockey-1 {
    background-image: url("/ecit/static/picto-menu-extra/picto-menu-extra@2x.png?v=5") !important; }
  /* sport-ice-hockey-2 */
  .picto-menu.sport-ice-hockey-2 {
    background-image: url("/ecit/static/picto-menu-extra/picto-menu-extra@2x.png?v=5") !important; }
  /* sport-volley-2 */
  .picto-menu.sport-volley-2 {
    background-image: url("/ecit/static/picto-menu-extra/picto-menu-extra@2x.png?v=5") !important; }
  /* sport-volley */
  .picto-menu.sport-volley {
    background-image: url("/ecit/static/picto-menu-extra/picto-menu-extra@2x.png?v=5") !important; }
  /* sport-boat */
  .picto-menu.sport-boat {
    background-image: url("/ecit/static/picto-menu-extra/picto-menu-extra@2x.png?v=5") !important; }
  /* sport-bodybuilding */
  .picto-menu.sport-bodybuilding {
    background-image: url("/ecit/static/picto-menu-extra/picto-menu-extra@2x.png?v=5") !important; }
  /* sport-dance-2 */
  .picto-menu.sport-dance-2 {
    background-image: url("/ecit/static/picto-menu-extra/picto-menu-extra@2x.png?v=5") !important; }
  /* sport-horse-riding */
  .picto-menu.sport-horse-riding {
    background-image: url("/ecit/static/picto-menu-extra/picto-menu-extra@2x.png?v=5") !important; }
  /* sport-roller-2 */
  .picto-menu.sport-roller-2 {
    background-image: url("/ecit/static/picto-menu-extra/picto-menu-extra@2x.png?v=5") !important; }
  /* sport-skate */
  .picto-menu.sport-skate {
    background-image: url("/ecit/static/picto-menu-extra/picto-menu-extra@2x.png?v=5") !important; }
  /* sport-snowboard */
  .picto-menu.sport-snowboard {
    background-image: url("/ecit/static/picto-menu-extra/picto-menu-extra@2x.png?v=5") !important; }
  /* sport-volley-3 */
  .picto-menu.sport-volley-3 {
    background-image: url("/ecit/static/picto-menu-extra/picto-menu-extra@2x.png?v=5") !important; }
  /* sport-xc-skiing */
  .picto-menu.sport-xc-skiing {
    background-image: url("/ecit/static/picto-menu-extra/picto-menu-extra@2x.png?v=5") !important; } }
/*SISTEMO PROBLEMA VISUALIZZAZIONE PRODOTTI COMPLEMENTARI IN POP UP AGGIUNTA CARRELLO*/
.cross-selling .product .product_price {
	position: relative !important;
}

/* STILE PREZZO NORMALE */
.product_price .actual_price {
    background: #ffc201;
    background: -webkit-linear-gradient(75deg, #ffc201 20%, #fffb0b 68%);
    background: -moz-linear-gradient(75deg, #ffc201 20%, #fffb0b 68%);
    background: -o-linear-gradient(75deg, #ffc201 20%, #fffb0b 68%);
    background: linear-gradient(75deg, #ffc201 20%, #fffb0b 68%);    
    color: #1e1e1d;
    float: right;
    font-size: 12pt;
    font-weight: bold;
    padding: 5px;
}
/* STILE PREZZO BARRATO */
	/*percentuale di sconto*/
.oldPrice-reduce {
    color: red;
}
   /*prezzo finale scontato*/
.cross-selling .product .product_price .price {
    background: #E42300;
    background: -webkit-linear-gradient(75deg, #E42300 20%, #FF2A00 68%);
    background: -moz-linear-gradient(75deg, #E42300 20%, #FF2A00 68%);
    background: -o-linear-gradient(75deg, #E42300 20%, #FF2A00 68%);
    background: linear-gradient(75deg, #E42300 20%, #FF2A00 68%);
	color:#ffffff !important;
    float: right;
	font-size: 12pt;
    font-weight: bold;
	padding:5px;
}
 .product_similar .product_price .price {
   background: #E42300;
    background: -webkit-linear-gradient(75deg, #E42300 20%, #FF2A00 68%);
    background: -moz-linear-gradient(75deg, #E42300 20%, #FF2A00 68%);
    background: -o-linear-gradient(75deg, #E42300 20%, #FF2A00 68%);
    background: linear-gradient(75deg, #E42300 20%, #FF2A00 68%);
    color:#ffffff !important;
    float: right;
	font-size: 12pt;
    font-weight: bold;
	padding:5px;
}
.product_similar .old_price_box {display:block;}
/* SISTEMO POP UP AGGIUNTA PRODOTTO CARRELLO - SPAZIATURA PRODOTTI COMPLEMENTARI */
.product-cross-selling { 
    height:290px !important;
}
/*CONTAINER PAGINA*/
.page_nav {padding-top: 0; padding-bottom: 0; text-align: center;}
.page_nav .sub_nav_list {width:15.7%; border-right:0; margin: 4px 2px; float:none;box-shadow: 0 0 5px #bbb;}
.page_nav .sub_nav_list_title h1 {width:auto; margin: 0 auto;padding: 15px;font-size: 2em !important;-webkit-transform: none;-moz-transform: none;-ms-transform:none; -o-transform: none;}
.page_nav .sub_nav_list .tete_rayon {background:#f7f7f7 !important;  margin-top: 0; padding-bottom: 0; text-align: center;}
.page_nav .sub_nav_list li.tete_rayon {padding: 0px;}
.page_nav .sub_nav_list li.tete_rayon h2 {margin:0; display: inline-table;}
.page_nav .sub_nav_list .tete_rayon a {display: table-cell; vertical-align: middle;width:1%; height: 60px; font-size:16px !important; color: #0082C3 !important; background: #ffffff; padding: 15px 0!important; font-weight: bold;letter-spacing: normal; -ms-transition:all 0.25s ease-in-out; -webkit-transition:all 0.25s ease-in-out; transition:all 0.25s ease-in-out;}
.page_nav .sub_nav_list .tete_rayon a:hover {text-decoration:none; color: #FFFFFF !important; background:#131313; -ms-transition:all 0.25s ease-in-out; -webkit-transition:all 0.25s ease-in-out; transition:all 0.25s ease-in-out;}
/* CATEGORIE */
.universeMobile .page_nav .sub_nav_list li a {text-decoration: none;width:100%;display: block;font-size: inherit;}
.page_nav .sub_nav_list li{ list-style:none; text-align: left; padding: 0; background:rgba(230, 230, 230, 0.8); margin: 1px;  position:relative;-ms-transition:all 0.25s ease-in-out; -webkit-transition:all 0.25s ease-in-out; transition:all 0.25s ease-in-out;}
.page_nav .sub_nav_list li:nth-child(odd){background:rgba(206, 206, 206, 0.8);}
.page_nav .sub_nav_list li:hover {color: #FFFFFF; background: rgba(0,130,195,1.00); -ms-transition:all 0.25s ease-in-out; -webkit-transition:all 0.25s ease-in-out; transition:all 0.25s ease-in-out; text-decoration: none;}
.page_nav .sub_nav_list li a{ color: #4f4f4f; font-size: 16px; padding:10px; display:block; text-decoration:none; font-weight:300; line-height:21px; -ms-transition:all 0.25s ease-in-out; -webkit-transition:all 0.25s ease-in-out; transition:all 0.25s ease-in-out;}
.page_nav .sub_nav_list li a:hover {color:#FFFFFF; background: rgba(0,130,195,1.00); text-decoration:none; -ms-transition:all 0.25s ease-in-out; -webkit-transition:all 0.25s ease-in-out; transition:all 0.25s ease-in-out; }

/* RESPONSIVE MEDIA QUERY*/

/* Smartphone*/
@media all and (max-width:600px) {
	.page_nav .sub_nav_list .tete_rayon a {text-align: left;}
	.page_nav .sub_nav_list{width:100%; margin-bottom:20px; margin:0px auto; box-shadow:none;}
	.page_nav .sub_nav_list li { width:100%; margin:1px auto; display:table; float:none; }
	.page_nav .sub_nav_list li a {font-size:1.1em; padding:15px 30px 15px 57px;}
	.page_nav .sub_nav_list .tete_rayon a {color: #0082C3 !important; padding: 15px !important;}
}

/*Tablet*/
@media all and (min-width:601px) and (max-width:997px) {
	    .page_nav .sub_nav_list .tete_rayon a {color: #0082C3 !important; padding: 15px !important;text-align: left;}
		.page_nav .sub_nav_list { overflow: hidden; margin: auto; width: auto;box-shadow:none;}
	    .page_nav .sub_nav_list li { list-style: none; display: inline-table;float: left;margin: 1px; position: relative; width: 49.7%; height:40px;}
	    .page_nav .sub_nav_list li a {display: table-cell;text-decoration: none;vertical-align: middle;font-size: 14px;font-weight: 300;letter-spacing: 0.8px;line-height: 22px;}
}
/* page orderdetail and billing mode */

.order-main-container #next-button-top, .order-main-container #next-button-bottom, #bottomTagCloud #next-button-bottom, .mydkt-btn, a#paymentvalidcart_payment-confirm {  text-transform:uppercase; padding:9px 40px 9px 20px !important; background: url('/skins/images/specific-country/components/ProductPromoPanoply/puce.png') 93% 50% #fde828!important; background-repeat:no-repeat !important; outline:none; border:none; color: #000 !important;-webkit-transition: all 0.15s ease-in-out; -chrome-transition: all 0.15s ease-in-out;-khtml-transition: all 0.15s ease-in-out; -moz-transition: all 0.15s ease-in-out; -ms-transition: all 0.15s ease-in-out; -o-transition: all 0.15s ease-in-out; transition: all 0.15s ease-in-out; }
a#paymentvalidcart_payment-confirm {padding:0 !important;}
.order-main-container #next-button-top:hover, .order-main-container #next-button-bottom:hover, #bottomTagCloud #next-button-bottom:hover, .mydkt-btn:hover, a#paymentvalidcart_payment-confirm:hover { background: url('/skins/images/specific-country/components/ProductPromoPanoply/puce.png') 93% 50% no-repeat #eec423 !important; outline:none; border:none; -webkit-transition: all 0.15s ease-in-out; -chrome-transition: all 0.15s ease-in-out;-khtml-transition: all 0.15s ease-in-out; -moz-transition: all 0.15s ease-in-out; -ms-transition: all 0.15s ease-in-out; -o-transition: all 0.15s ease-in-out; transition: all 0.15s ease-in-out;}
.order-main-container #next-button-top:active, .order-main-container #next-button-bottom:active, #bottomTagCloud #next-button-bottom:active, .mydkt-btn:active {background: url('/skins/images/specific-country/components/ProductPromoPanoply/puce.png') 93% 50% no-repeat #FFDD28 !important; }


/* Listing Page */
#box_show_next_product .btn_show_next_product { color: #000 !important; background: #eec423;
    background: linear-gradient(to bottom, #fef63a 0%, #eec423 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fef63a), color-stop(100%, #eec423));
    background: -webkit-linear-gradient(top, #fef63a 0%, #eec423 100%);
    background: -moz-linear-gradient(top, #fef63a 0%, #eec423 100%);
    background: -o-linear-gradient(top, #fef63a 0%, #eec423 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#fef63a), to(#eec423));
	-webkit-transition: all 0.15s ease-in-out; -chrome-transition: all 0.15s ease-in-out;-khtml-transition: all 0.15s ease-in-out; -moz-transition: all 0.15s ease-in-out; -ms-transition: all 0.15s ease-in-out; -o-transition: all 0.15s ease-in-out; transition: all 0.15s ease-in-out; text-shadow: inherit; font-family: roboto_condensedregular, arial !important; text-transform: uppercase; }
#box_show_next_product .btn_show_next_product:hover { color: #000; background: #eec423; }
#box_show_next_product .btn_show_next_product:active { color: #000; background: #FFDD28;}

/* Product page */

.add_to_cart_button, body.product_page #alti-content a#button_end_order,  .button_email_available_displayed, #bouton_ajout_panier .btn-panier, a.button-component.validate-button { color: #000 !important; background: #eec423 !important;
    background: linear-gradient(to bottom, #fef63a 0%, #eec423 100%)!important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fef63a), color-stop(100%, #eec423)!important);
    background: -webkit-linear-gradient(top, #fef63a 0%, #eec423 100%)!important;
    background: -moz-linear-gradient(top, #fef63a 0%, #eec423 100%)!important;
    background: -o-linear-gradient(top, #fef63a 0%, #eec423 100%)!important;
    background: -webkit-gradient(linear, left top, left bottom, from(#fef63a), to(#eec423))!important;
	-webkit-transition: all 0.15s ease-in-out; -chrome-transition: all 0.15s ease-in-out;-khtml-transition: all 0.15s ease-in-out; -moz-transition: all 0.15s ease-in-out; -ms-transition: all 0.15s ease-in-out; -o-transition: all 0.15s ease-in-out; transition: all 0.15s ease-in-out; }
.add_to_cart_button:hover, body.product_page #alti-content a#button_end_order:hover, .button_email_available_displayed:hover { color: #000 !important;background: linear-gradient(to bottom, #eec423 0%, #eec423 100%)!important; background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eec423), color-stop(100%, #eec423))!important;
    background: -webkit-linear-gradient(top, #eec423 0%, #eec423 100%)!important;
    background: -moz-linear-gradient(top, #eec423 0%, #eec423 100%)!important;
    background: -o-linear-gradient(top, #eec423 0%, #eec423 100%)!important;
    background: -webkit-gradient(linear, left top, left bottom, from(#eec423), to(#eec423))!important;
	-webkit-transition: all 0.15s ease-in-out; -chrome-transition: all 0.15s ease-in-out;-khtml-transition: all 0.15s ease-in-out; -moz-transition: all 0.15s ease-in-out; -ms-transition: all 0.15s ease-in-out; -o-transition: all 0.15s ease-in-out; transition: all 0.15s ease-in-out; }
.add_to_cart_button:active, body.product_page #alti-content a#button_end_order:active, .button_email_available_displayed:active { color: #000 !important; 
background: linear-gradient(to bottom, #FFDD28 0%, #FFDD28 100%)!important;background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFDD28)!important, color-stop(100%, #FFDD28))!important;
    background: -webkit-linear-gradient(top, #FFDD28 0%, #FFDD28 100%)!important;
    background: -moz-linear-gradient(top, #FFDD28 0%, #FFDD28 100%)!important;
    background: -o-linear-gradient(top, #FFDD28 0%, #FFDD28 100%)!important;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFDD28), to(#FFDD28))!important;
	-webkit-transition: all 0.15s ease-in-out; -chrome-transition: all 0.15s ease-in-out;-khtml-transition: all 0.15s ease-in-out; -moz-transition: all 0.15s ease-in-out; -ms-transition: all 0.15s ease-in-out; -o-transition: all 0.15s ease-in-out; transition: all 0.15s ease-in-out; }
body.product_page #alti-content a#button_end_order:after {    margin-top: -7px; background: url('/skins/images/specific-country/components/ProductPromoPanoply/puce.png') top no-repeat; width: 10px; height: 18px;}
.add_to_cart_image_button:hover {}
/*bottone mobile inserisco freccia nera*/a.button-component.arrow-right .arrow.white {background: url('/skins/images/specific-country/components/ProductPromoPanoply/puce.png') 96% 50% no-repeat !important;  color: #000;}

/* CTA bottone prenota in negozio */
div#PageProduitProd a#AddToErep_buttonShowStock div, div#addEbookingButton a#AddToErep_buttonShowStock div {font-family:'Roboto', roboto, roboto_condensedbold, robotocondensedbold, sans-serif !important; font-size: 13px;
    padding: 7px 5px; line-height: 15px; background: #0082c3; text-shadow:none; font-weight:normal;}
	div#prix-magasin .right {width:100%;}
	div#PageProduitProd a#AddToErep_buttonShowStock div, div#addEbookingButton a#AddToErep_buttonShowStock div:hover {background:#149ee3;}
	div#PageProduitProd a#AddToErep_buttonShowStock div, div#addEbookingButton a#AddToErep_buttonShowStock div:active {background:#25a8e9;}
#wishlist-deleteAll{
 width: 194px;
}
.btn-text:hover{
	color:red;
}
div.comment-return-final1 div.return-description {
color:#0082c3 !important;
}
div#top ul.new_menu li .sous_nav div.teaser ul li.btn_01 a.ctaUI.greyUI {
	height:inherit;
	line-height:20px;
	font-size:11px;
}
div#top ul.new_menu li .sous_nav .encartBanner img {
    max-width: 219px;
    display: block;
    width: 100%;
    margin: 0 auto;
    float: left;
}
.panoplies .panoply-content-title {background:#F8EB1D !important; color: #000000 !important;}
.panoplies {border:2px solid #F8EB1D;}
.panoplies .plusImg{background:url('http://www.decathlon.it/ecit/static/immagini/plusequal-giallo.png') top left no-repeat;}
.panoplies .equalImg {background:url('http://www.decathlon.it/ecit/static/immagini/plusequal-giallo.png') bottom right no-repeat;}
.panoplies .visualBox .quantityBox, #promo-panoply h3 {color:#000000;}
div#PageProduitProd a#AddToErep_buttonReservation, div#addEbookingButton a#AddToErep_buttonReservation {
    padding: 0;
    width: 170px;
    height: 44px;
    display: block;
    background: url(http://www.decathlon.fr/ecfr/static/btn_eresa.jpg) bottom no-repeat;
    font-size: 13px;
    font-weight: bold;
    text-align: left;
    color: #ffffff;
    font-family: Roboto;
}
/* STICKER SEMPRE VISIBILI */
.product-thumbnail-picto {opacity:1;}
div#addEbookingButton a#AddToErep_buttonShowStock div {
    font-family: 'Roboto', roboto, roboto_condensedbold, robotocondensedbold, sans-serif !important;
    font-size: 13px;
    padding: 7px 5px;
    line-height: 15px;
    background: #0082c3;
    text-shadow: none;
    font-weight: normal;
    line-height: 22px !important;
}
/*RECENSIONI TAB*/
.new_menu li.tab_nav_03, .new_menu li.tab_nav_03:hover, .new_menu li.tab_nav_03.tab_nav_active, .new_menu li.tab_nav_03:after, .new_menu li.tab_nav_03.tab_nav_active:after {background:#0082c3;}
div#top li.tab_nav[index='5'] a.link_nav {color:#ffffff !important;}
/*OFFERTE TAB*/
div#top li.tab_nav[index='6'], div#top li.tab_nav[index='6']:hover, div#top li.tab_nav[index='6']:after {background:#e53322; color:#ffffff;}
div#top li.tab_nav[index='6'] a.link_nav {color:#ffffff !important;}
.mydkt-page-body {background:none !important; padding:0 !important, margin-top:0 !important;}
#mydktlogin {padding:0 20px; font-family:roboto, sans-serif;}
.mydkt-block {width: 410px; min-height:302px !important; box-shadow: 0 0 3px #444; border:none; margin:10px !important; padding:20px;font-family: roboto, sans-serif;}
.zone-dashboard h2 {background:#0082C3; color: #FFFFFF;padding: 10px;}
.fidelity-block p {margin-top:0; display: block; text-align: center;}
.fidelity-right-doyouknow, .complete-profile-message {font-size:1em; text-align: center;}
#menu-my-account-infos-user1>p {font-size:1.3em;}
#sideColumn {border:none;}
.profile-completion-img-back {display:none;}
.order-history-content .order-history-left {text-align:center;}
.order-history-content {margin-top:5px;}
.order-history-content a {text-transform: uppercase; color: #ec6607;}
.order-history-content a:hover {color: #ff4600;}
.order-history-content>div {height:auto;}
.order-history-content .order-history-all-order {font-size: 1em; text-align: center;}
#menu-my-account-infos-name {font-size: 1.4em !important; background: #0082c3;padding: 10px; color: #ffffff;}
#menu-my-account-infos-user1 {padding:0; border-bottom: none;}
#sideColumn {margin: 20px 10px 0 0; width: 282px;padding: 10px;}
.zone-dashboard {border:none; margin-bottom:10px; }
.profile-completion-percentage, .fidelity-left, #menu-my-account-infos-user1>p .loyalty-content {color:#0082C3;}
#sideColumn, .zone-dashboard, div.order-history  {background: #FFFFFF;}
div.order-history {padding:10px;}
/* MARGIN TOP DEI CONTAINER A DESTRA NELLE VARIE PAGINE*/
.mydkt-box, .order-history, .manage-alias, #mydktpurchase {margin-top:20px;}
#mydktpurchase {padding:0;}
.mydkt-tab--current, .gwt-TabLayoutPanelTab-selected {background:#0082c3; box-shadow: none;}
.mydkt-box-tabs > ul, .gwt-TabLayoutPanelTabs {padding-left:0;}
.mydkt-box-tabs, .gwt-TabLayoutPanelTabs {border-bottom: 5px solid #0082C3;}
.dashboardComponent {display: inline-block; width: 48.5%;float: left; margin-left:10px;}
.simpleZone {width:inherit; height: 205px;}
#middle1.middle-right {width:686px !important; float: right; margin-top: inherit;}
.order-history-content .order-history-left .order-status-label>span {color:#FFF; background: #EC6607;}
a.menu-my-account-item {font-size: 1em; -webkit-transition: all 0.25s ease-in-out;-chrome-transition: all 0.25s ease-in-out;-khtml-transition: all 0.25s ease-in-out; -moz-transition: all 0.25s ease-in-out; -ms-transition: all 0.25s ease-in-out; -o-transition: all 0.25s ease-in-out; transition: all 0.25s ease-in-out;}
a.menu-my-account-item:hover {color:#0082C3; background: #F7F7F7; -webkit-transition: all 0.25s ease-in-out;-chrome-transition: all 0.25s ease-in-out;-khtml-transition: all 0.25s ease-in-out; -moz-transition: all 0.25s ease-in-out; -ms-transition: all 0.25s ease-in-out; -o-transition: all 0.25s ease-in-out; transition: all 0.25s ease-in-out;}
li.menu-my-account-group {background:#E6E6E6; border-bottom: 1px solid #f7f7f7; font-size:1em;}
/* TOLGO LO SFONDO DA OGNI PAGINA */
 #middle1.middle-right, .loginPage_page .contactUs_page, .contactUsWithoutAccount_page #main-content-container, .loginPage_page #maincontainer, .loginPage_page #main-content-container, .updateCustomer_page #main-content-container,  .updateCustomer_page #maincontainer, .orderhistory_page #main-content-container, .orderhistory_page #maincontainer, .addressBook_page #main-content-container, .addressBook_page #maincontainer, .manageAlias_page #maincontainer, .manageAlias_page #main-content-container, .orderreturnhistory_page #maincontainer, .orderreturnhistory_page #main-content-container, .mydktPurchase_page #main-content-container, .mydktPurchase_page #maincontainer, .mydktArticle_page #maincontainer, .mydktArticle_page #main-content-container, .updateSport_page #maincontainer, .updateSport_page #main-content-container, .mydktFamily_page #maincontainer, .mydktFamily_page #main-content-container, .updateIdentifying_page #maincontainer, .updateIdentifying_page #main-content-container, .updateCommunication_page #maincontainer, .updateCommunication_page #main-content-container, .mydktCGU_page #maincontainer, .mydktCGU_page #main-content-container, .myStore_page #main-content-container, .myStore_page #maincontainer, .updateStore_page #main-content-container,  .updateStore_page #maincontainer, .mydktTrocathlonManage_page #main-content-container,  .mydktTrocathlonManage_page #maincontainer, .page-viewprofile #main-content-container, .page-viewprofile #maincontainer{background:rgba(0,0,0,0.00) !important;}
body.loginPage_page, body.updateCustomer_page, body.orderhistory_page, body.addressBook_page, body.manageAlias_page, body.orderreturnhistory_page, body.mydktPurchase_page, body.mydktArticle_page, body.updateSport_page, body.mydktFamily_page, body.updateIdentifying_page, body.updateCommunication_page, body.mydktCGU_page, body.myStore_page, body.updateStore_page, body.mydktTrocathlonManage_page, body.page-viewprofile {background-color:#0082C3 !important; background-image:none !important;}
/* FINE TOLGO SFONDO */
#menu-my-account-accueil, #menu-my-account-accueil:hover, #menu-my-account-accueil[class="menu-my-account-accueil-current"]  {background:none; font-family:roboto; font-size:1em;}
.manage-alias {padding: 10px; background: #ffffff;}
div.manage-alias div.manage-alias-header div.h9 {background:#0082c3;}
#mydktpurchase {padding:0 10px; background:#FFFFFF;width:auto; margin-top:20px;}
.msg-mode-drp-box, .gwt-TabLayoutPanelContentContainer {border:none !important;}
#mydktarticle {padding-top:0;}
#middle1.middle-right .order-details {background:#FFFFFF !important; margin-bottom: 0; margin-top: 20px; padding: 10px; padding-bottom: 50px; }
div.order-details div.order-details-title {background: #0082c3;}
#middle1.middle-right .button-create-return, #middle1.middle-right .button-confirm-return {margin-right: 135px;margin-top: -50px;}
#PageMyDktAddressBook_PageMyDktAddressBook {margin-top:20px; padding:10px; background:#FFFFFF;}
.my-dkt-address-book-before {background: #0082c3;padding: 6px 10px;color: #ffffff;text-transform: uppercase;}
.my-dkt-address div.my-dkt-address-title {background:#0082c3; font-weight:bold; text-transform:uppercase;}
.mydkt-product-marque {background:#EC6607; color: #FFFFFF; padding:5px 0; margin:0 !important; font-weight:bold;}
.mydkt-label, .mydkt-labelcrm { margin-bottom: 0;}
.mydkt-box-header {background:#0082C3; margin-top:-20px; padding: 10px;}
.mydkt-product {max-width: inherit; height:auto; margin-bottom: 0;}
.mydkt-product-title {padding:5px 3px 0 3px; margin-bottom: 0px;}
.mydkt-article-info-secondaire {margin:5px 0;}
a.mydkt-article-info-secondaire {color:#EC6607;}
.zone-dashboard h2 {background:#0082C3; color: #FFFFFF;padding: 10px;}
.fidelity-block p {margin-top:0; display: block; text-align: center;}
.fidelity-right-doyouknow, .complete-profile-message {font-size:1em; text-align: center;}
#menu-my-account-infos-user1>p {font-size:1.3em;}
#sideColumn {border:none;}
.profile-completion-img-back {display:none;}
.order-history-content .order-history-left {text-align:center;}
.order-history-content {margin-top:5px;}
.order-history-content a {text-transform: uppercase; color: #ec6607;}
.order-history-content a:hover {color: #ff4600;}
.order-history-content>div {height:auto;}
.order-history-content .order-history-all-order {font-size: 1em; text-align: center;}
#menu-my-account-infos-name {font-size: 1.4em !important; background: #0082c3;padding: 10px; color: #ffffff;width:auto;}
#menu-my-account-infos-user1 {padding:0; border-bottom: none;}
/*OMBRE AI VARI BOX E SEZIONI*/
#sideColumn {margin: 20px 10px 0 0; width: 282px;padding: 10px; box-shadow: 0 0 3px #444;}
.middle-right > div {box-shadow: 0 0 3px #444444; background: #FFFFFF; margin-top: 20px;}
.zone-dashboard {box-shadow: 0 0 3px #444;}
#PageAccountDashboard_PageAccountDashboard, #PageMyDktArticleProd_PageMyDktArticleProd, #PageMyDktUpdateIdentifyingProd_0_ComponentMyDktUpdateIdentifying_0_ComponentMyDktUpdateIdentifying_0_screen, #PageMyDktEditCustomerProd_0_ComponentMyDktEditCustomer_ComponentMyDktEditCustomer, #PageMyDktUpdateSportProd_0_ComponentMyDktUpdateSport_0_ComponentMyDktUpdateSport_0_screen {margin-top:20px;}
.mydkt-page-body {background:#FFFFFF; padding: 10px !important; margin-top: 20px !important; min-height: auto !important;}
.mydkt-sauvegarder05 {padding:10px;}
.mydkt-inline > li {width:29.7%; margin: 10px;}
.mydkt-optinMaitre {padding:0; border:none; background: noane;}
.mydkt-cube-title-header  {color: #fff; text-transform: uppercase; background: #0082c3; padding: 6px 10px;font-size: 14px; font-style: normal; font-family: inherit;}
#PageMyDktCGU_0_ComponentMyDktCGU_0_ComponentMyDktCGU_0_screen {margin-top:-15px;}
#mydktupdatestore {width:auto; padding-top:0;}
a.menu-my-account-item-current {background:#0082c3; border-bottom:none;}
a.menu-my-account-item-current:hover {color:#FFFFFF; background: #0082C3;}
.mydkt-table--sortable > thead td, .mydkt-table--sortable > thead th, .mydkt-table--sortable > tr:first-child > td, .mydkt-table--sortable > tr:first-child > th, .mydkt-table .cellTableHeader, .mydkt-table .cellTableFirstColumnHeader {padding:7px;}
#mydkttrocathlonmanage {padding-top: 0; padding-left: 0; width: inherit;}
table.orderTable tbody tr.first-line td#orderHistoryStatus {text-align:center;}
.mag_infos, .mag_infos #ProductPrice_storeProductAvailable {
    position: relative;
    color: #4c4c4c;
    font-size: 12px;
    margin-top: 5px;
}
.howtochoose .visual{
	background-image: url('/ecit/static/how-to-choose/howtochoose-background.jpg');
}
.filter_new_design .block-advice {
    float: none;
    padding-top: 0;
    max-width: none;
}

.conseil-tpl {
   width:auto !important;
   height:auto !important
}
.picto-menu {
    background-image: url('/skins/images/picto-menu-gtc.png?v=fix1611');
}

@media(-webkit-min-device-pixel-ratio: 2),(min-resolution:192dpi) {
    .picto-menu {
        background-image:url('/skins/images/picto-menu-gtc@2x.png?v=fix1611');
    }
}
div.descriptionOrderDetails div.return-block1 div.body div.subtitle {
	font-weight: normal;
    font-size: 12px;
    color: #343434;
    text-align: center;
    float: left;
    margin: 10px;
    border: 1px solid #ccc;
    width: 26%;
    padding: 10px 10px 28px 10px;
	transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
}
div.descriptionOrderDetails div.return-block1 div.body div.subtitle span.bold {height:50px;}
div.descriptionOrderDetails div.return-block1 div.body div.subtitle:hover {
	box-shadow: 2px 2px 4px #ccc;   
	background: #f7f7f7; 
	transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;}
div.descriptionOrderDetails div.return-block1 div.body div.subtitle a{ text-decoration:underline; color:#0082C3; text-transform:uppercase;transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;}
div.descriptionOrderDetails div.return-block1 div.body div.subtitle a:hover {opacity:0.85; color:#EC6607; transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;}
div.descriptionOrderDetails div.return-block1 div.body div.sub-invoice a {
    background-position: -56px 0;
}
a.triggerGuide {
    position: relative;
    font-family: 'Roboto-Condensed',sans-serif;
    color: #0082c3;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8em;
    border: 1px solid #0082c3;
    padding: 0 5px;
    -webkit-transition: all 0.25s ease-in-out;
    -chrome-transition: all 0.25s ease-in-out;
    -khtml-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;}
a.triggerGuide:hover {
	background:#0082c3; color:#FFFFFF;
    -webkit-transition: all 0.25s ease-in-out;
    -chrome-transition: all 0.25s ease-in-out;
    -khtml-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;}
#shippingForms {background:none;}
.photo{background:#FFFFFF; box-shadow:0px 50px 121px #dedede;}
.header-table {font-style: italic;color: #575D5E; height:25px;}
.order-price-table-header, .order-ship-table-header, .order-code-promo-enter div.header {background: none; border:1px solid #CCCCCC; border-top-left-radius: 5px; border-top-right-radius: 5px;}
.order-specific-marques-bottom {border: none;}
.order-detail-total {height: 40px; border: 1px solid #ccc; background: #fff;border-bottom-right-radius: 5px; border-bottom-left-radius: 5px;}
.order-specific-marques-bottom {background:none;}
.left-arrow-title, .order-code-promo-enter div.header {font-style: italic;}
.left-arrow-title, .order-code-promo-enter div.header, .date-livraison span {color:#0082C3;}
div.order-price-table-header div.left-arrow-title {padding-top:11px;}
.order-code-promo-enter div.header {font-size:16px;padding-bottom:7px;}
.shipping-mode .order-price-table-bottom {display:none;}
.total-bottom {background: none; border: 1px solid #ccc; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; height: 30px; padding-top: 7px;}
.total-total-header, .total-total-bottom {display:none;}
.total-total {background:none; border:1px solid #CCCCCC;border-bottom-right-radius: 5px; border-bottom-left-radius: 5px;}
.order-code-promo-enter div.body {background:none; border-left:1px solid #CCCCCC; border-right:1px solid #CCCCCC;}
.order-code-promo-enter div.body div.benefit {padding: 6px; margin-bottom: 0; font-size: 13px;}
.product_similar .product_price .oldPrice-textBefore {    float: left;    font-size: 7pt;    margin-right: 5px}
.product_similar .product_price .oldPrice-percentage {    font-weight: bold;    font-size: 7pt;    float: right;    margin-left: 5px;}
.product_similar .taxMention {    color: #2b2b2b;    font-size: 7pt;    padding-top: 7px;    float: right;}
.product_similar .product .product_brand, .product_similar .product .product_name {color: #2b2b2b;display: block;font-size: 11px;position: relative;text-decoration: none;width: 100px;overflow: hidden;}
.product_similar .product .product_price {position: absolute;right: 10px;text-align: right;top: 175px;}
.product_similar .product_price .a_partir_de {color: #a2a2a2;font-size: 8pt;display: none;}
.product_similar .product .product_brand {font-weight: bold;}
.product_similar .product_brand {float: left;}
.product_similar .product_name {float: left;height: 28px;}
#home.search_page .no_result *
{
  font-family: Roboto;  
  text-transform: uppercase;
  color:white;
  background: #0082C3;
  text-align: center;

}

#home.search_page .title_no_result {
  padding-top: 25px;
}

#home.search_page .newsearch p{
  padding:1em;
}

.no_result_suggest:after, .no_result_suggest:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.no_result_suggest:after {
	border-color: rgba(136, 183, 213, 0);
	border-top-color: #0082C3;
	border-width: 20px;
	margin-left: -20px;
}
#MenuMyAccountWebMyDkt_1_MenuMyAccountWebHomeComponent_MenuMyAccountWebHomeComponent {display:none;}
#MenuMyAccountMyDktMobile_1_MenuMyAccountMobileHomeComponent_0_MenuMyAccountMobileHomeComponent_0_screen {display:none;}
/*GREY STEPS*/
.tunnel-order-step table tr td.step span.left {background: #7B7B7B; width: 50px;}
/*ACTIVE STEP*/
.tunnel-order-step table tr td.step-select span.left {background: #0082c3; width: 50px;}
#newHeader .dkt_logo .BrandLogoDecathlon {background:url('http://www.decathlon.it/ecit/static/immagini/Decathlon_logo_header_2x.jpg') center no-repeat; background-size:cover;}
@media only screen and (max-width: 660px){
#newHeader.without-labels .addtocart_link {
   padding: 12px 2px 0 2px;
}
}
#map-region-subcontainer ul li a {padding: 2px;}
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700); 
body, .prod-desc, .add_to_cart_button {font-family: 'Roboto', roboto, roboto_condensedbold, robotocondensedbold, sans-serif;}
/*div#tg_up {font-family: 'Roboto Condensed', sans-serif; font-size: 21px; line-height: 36px;}*/
#BoxDark .insideP .div5 .resume-footer {font-family: 'Roboto Condensed', sans-serif;}
#BoxGrey a b {font-family: 'Roboto Condensed', sans-serif !important;  font-size: 24px !important;}
a.questionnaire {
    color: #0082C3;
    font-size: 14px;
    float: right;
    line-height: 36px;
}

a.questionnaire:hover {
	text-decoration: none;
}
.NewsletterLabel {font-size:26px !important;font-family:roboto, sans serif;}
.paymentZoneValidation .cart-type{display:none;}
.header-generic-content {
   left: 338px;
   top: 11px;
}
.product_price_long .a_partir_de {display:none;}
.old_menu .sous_nav_list a:hover .sous_nav_picto {
    background-position: -80px 0;
}
.box_top .box_title {width:250px !important;}
.shipping-title span {font-size:14px;}
/* PREZZO GIALLO IN PAGELIST*/
ul.product_list .product_price .actual_price{
    height: 23px;
    line-height: 18px;
    padding: 5px 5px 0 15px;
    background-size: cover;
}

/* PREZZO ROSSO IN PAGELIST*/
ul.product_list .product_price .price {
    background-size: cover;
    height: 23px;
    line-height: 18px;
    padding: 5px 5px 0 15px;
}
.box_carac .list_carac {    
    margin: 10px 10px 0 0;
    width: 265px;
    padding: 10px;
    border: 1px solid white;
}
/* FOOTER DECATHLON */
#footer, #footer div.footer { padding:0 !important; margin:0; }
#BoxFooter { width:100%; height:auto; display:block; margin:0; padding:0;}
.insideP { max-width:1024px; height:auto; display:block; margin:0 auto; }
#BoxFooter .ui-btn-inner {display:none }
#BoxFooter a {font-weight: normal;}
#footer #messagetop {bottom: 75px;}

/* Grey Zone */
#BoxGrey { display:block; padding:20px 0px 0px 0px; background:#eeeeee; }
.div3 { display:block; width:32%; float:left; text-align:center; padding-top:40px; }
.sepaEnd { width:1%; min-height:100px; display:block; float:left; background:url('/ecit/static/footer/images/sprites-footer-fr.png') -241px 0 no-repeat; }
#BoxGrey a { text-decoration:none; color:#686868; font-size:12px; line-height:17px; display:block; padding:0px 5px; }
#BoxGrey a b { font-family:dincond-regular, arial; font-size:28px; color:#191919; font-weight:100; display:block; margin:0 0 8px; }
#BoxGrey a:hover b { color:#0083c1; }
.boxpicto { width:30px; height:34px; display:block; margin:-40px auto 10px; background:url('/ecit/static/footer/images/sprites-footer-fr.png') 0 0 no-repeat;  }
.skimium { background:url('/ecit/static/footer/images/sprites-footer-icone-skimium.png') -71px -10px no-repeat; }
.gift-card { background:url('/ecit/static/footer/images/sprites-footer-icone.png') -71px -10px no-repeat; }
.reso-gratuito { background:url('/ecit/static/footer/images/sprites-footer-icone.png') 11px -10px no-repeat; }
.carta-fedelta { background:url('/ecit/static/footer/images/sprites-footer-icone.png') -28px -10px no-repeat; }

/* Blue Zone */
#BoxBlue { display:block; padding:15px 0 0 0; background:#0083c1; }
.BlocNews { width:80%; display:inline; }
	.NewsletterLabel { font-size:30px; color:#ffffff; display:inline; float:left; height:40px; line-height:30px; margin:0; padding:0 10px 0 0; text-transform:uppercase; letter-spacing:0.5px; border-right:1px solid #006fa4; }
	.MentionsNewsletter { font-size:12px; display:inline; float:left; line-height:14px; color:#ffffff; height:40px; padding:0 10px 0 10px; line-height:15px; border-left:1px solid #3098ca; }
.BlocSocial { width:23%; float:right; display:inline; }
#bloc_newsletter { display:inline; float:left; }
form.subscribeNewsLetter { margin:0; padding:0; color:#fff; font-size:12px; }
input#zone_txt { height:30px; width:190px; padding:0 5px; display:block; background:#ffffff; float:left; border:none; text-align:left; border-radius:0; font-size:12px; color:#676767; }
input#valid_newsletter { height:30px; cursor:pointer; display:block; float:left; margin:0; padding:5px 9px; font-size:12px; color:#ffffff; background:#191919; border:none; border-radius:0; text-align:center; }
input#valid_newsletter:hover { color:#0083c1; }
.cochevert, .cocherouge { background: url('/ecit/static/footer/images/sprites-footer-fr.png') no-repeat scroll -1px -141px rgba(0, 0, 0, 0); display: inline-block; float: left; height: 16px; margin: 0 4px 0 0; width: 15px; }
.cocherouge { background-position:-1px -159px; }
.subscriptionOk, .subscriptionError, .EmailFormatError, .AlreadyError, .LegalMentionError { font-size: 11px; line-height: 16px; padding: 5px 0 0; text-align: left; color:#ffffff; }
.facebook-footer, .twitter-footer, .googleplus-footer, .youtube-footer, .linkedin-footer, .instagram-footer { width:34px; height:34px; display:inline-block; float:right; margin:0 0 0 5px; background:url('/ecit/static/footer/images/sprites-footer-fr.png') 0 0 no-repeat; }
.facebook-footer { background-position:0 -98px; }
.twitter-footer { background-position:-40px -98px; }
.googleplus-footer { background-position:-80px -98px; }
.youtube-footer { background-position:-120px -98px; }
.linkedin-footer { background-position:-160px -98px; }
.instagram-footer { background-position:-200px -98px;}
/* Dark Zone */
#BoxDark { display:block; padding:20px 0; background:#191919; }
.div5 { display:block; width:46%; float:left; padding:0 4% 15px 0; }
#BoxDark .div5 { text-align:left; min-height:102px; }
.resume-footer {font-size:22px; color:#ffffff; display:block; text-align:left; text-transform:uppercase; letter-spacing:newsletter0.5px; margin:0 0 8px; }
.div5 a { text-decoration:none; color:#ffffff; font-size:12px; padding:7px 10px; background:#3a3a3a; border-radius:2px; display:inline-block; width:auto; margin:0 0 5px 0; }
.div5 a:hover { background:#0083c1; }

 
/* White Zone */
#BoxWhite { display:block; padding:15px 0; background:#ffffff; text-align:center; }
#BoxWhite a, #BoxWhite p { font-size:10px; color:#424242; text-decoration:none; line-height:15px; margin:0; padding:0; }
#BoxWhite a:hover { text-decoration:underline; color:#0083c1; }



/* turn up */
#messagetop { display:block; position:fixed; bottom:30px; right:30px; z-index:9999999;}
#messagetop a { width:45px; height:45px; display:block; background:url('/ecit/static/footer/images/sprites-footer-fr.png') -215px -146px no-repeat #0083c1; border-radius:2px; text-decoration:none; box-shadow: 1px 1px 1px 0 #092a56; }
.box_top .box_title {width:250px !important;}
/* Fix red price*/
.product-cross-selling .old_price_box {display: block;}
/* Fix padding yellow price*/
#uploadFileButton div > #UploadFileInput{position:inherit;opacity:1;margin-left:200px;margin-top:15px;}
#avis_utilisateur_header .box_note_avis a.btn_add_avis {width: 175px; left:43%;}
/* SISTEMO PROBLEMA TESTO MODIFICANDO ALTEZZA TG E PRODOTTI*/ 
.productlong, .productshort {
	height:315px !important;
}
ul.product_list .product_normal, ul.product_list .productshort {
	height:315px !important;
	}
/* SLIDESHOW SCHEDA PRODOTTO*/
.list_miniature li {
    background:none;
    border: 1px solid #ccc;
    display: block;
    height: 45px;
    margin: 10px 0 0;
    padding: 1px;
    position: relative;
    width: 45px;
}
.list_miniature li:hover {
	opacity:0.6; 
	filter:alpha(opacity=60);
	-webkit-transition:all 0.25s ease-out; 
	-chrome-transition:all 0.25s ease-out; 
	-khtml-transition:all 0.25s ease-out; 
	-moz-transition:all 0.25s ease-out; 
	-ms-transition:all 0.25s ease-out; 
	-o-transition:all 0.25s ease-out; 
	transition:all 0.25s ease-out;
	background:none !important;
}
#followfooter span { display:none; }
div.boxlinksocial { width:33.33333333333333333333333333%; display:block; float:left; background:#0083c1; padding-top:12px; padding-bottom:12px; }
.instagram, .linkedin { border:none !important;}
.facebook, .twitter, .instagram, .googleplus, .linkedin, .youtube { display: inline-block; height: 43px; margin:0 0 10px 0; position:relative; display:block; border-right: 1px dashed #FFF; box-shadow: none; }
.youtube { display: inline-block; height: 43px; margin:0 0 10px 0; position:relative; display:block; box-shadow: none; }
.facebook:after, .twitter:after, .youtube:after, .instagram:after, .googleplus:after, .linkedin:after, .wordpress:after { content: ""; display:block; position:absolute; width:50px; height:50px; left:50%; margin:0 0 0 -26px; top:0; }
.facebook:after { background:url('loghi-social-vettoriali-sprite.png') no-repeat scroll -250px 0px transparent; }
.twitter:after { background:url('loghi-social-vettoriali-sprite.png') no-repeat scroll 0px 0px transparent; }
.youtube:after { background:url('loghi-social-vettoriali-sprite.png') no-repeat scroll -313px 0px transparent; }
.instagram:after { background:url('loghi-social-vettoriali-sprite.png') no-repeat scroll -125px 0px transparent; }
.googleplus:after { background:url('loghi-social-vettoriali-sprite.png') no-repeat scroll -188px 0px transparent; }
.linkedin:after { background:url('loghi-social-vettoriali-sprite.png') no-repeat scroll -62px 0px transparent; }
.wordpress:after { background:url('loghi-social-vettoriali-sprite.png') no-repeat scroll 0px 0px transparent; }
/* BEGIN - fix due to go live 15.02 - MCallaghan 17022015 */
.product_list .product .bloc_picto {
position: absolute;
top: 15px;
left: 25px;
}
.info_enstock{font-weight:bold;color:#009ffa}
a.infobulle.etoile.infobulle_etoile_05 {
	background-position: -49px 50%
}
a.infobulle.etoile.infobulle_etoile_10 {
	background-position: -98px 50%
}
a.infobulle.etoile.infobulle_etoile_15 {
	background-position: -147px 50%
}
a.infobulle.etoile.infobulle_etoile_20 {
	background-position: -196px 50%
}
a.infobulle.etoile.infobulle_etoile_25 {
	background-position: -245px 50%
}
a.infobulle.etoile.infobulle_etoile_30 {
	background-position: -294px 50%
}
a.infobulle.etoile.infobulle_etoile_35 {
	background-position: -343px 50%
}
a.infobulle.etoile.infobulle_etoile_40 {
	background-position: -392px 50%
}
a.infobulle.etoile.infobulle_etoile_45 {
	background-position: -441px 50%
}
a.infobulle.etoile.infobulle_etoile_50 {
	background-position: -490px 50%
}
a.infobulle.etoile.noInfobulle {
	visibility: hidden
}

.bloc_infobulle{text-align:left;width:201px}
.bloc_infobulle .bloc_infobulle_top{width:250px;height:25px;background:url(/skins/images/specific-country/background/bg-infobulle-top.png) no-repeat 0 0}
.bloc_infobulle .bloc_infobulle_bottom{width:201px;height:25px;background:url(/skins/images/specific-country/background/bg-infobulle-bottom.png) no-repeat 0 0}
.bloc_infobulle .bloc_infobulle_content{width:201px;background:url(/skins/images/specific-country/background/bg-infobulle-middle.png) repeat-y 0 0}
.bloc_infobulle .bloc_infobulle_content .infobulle_text{background:#fff;margin:0 20px 0 20px;padding:10px 10px;font-size:11px;color:#313131}
.bloc_infobulle .infobulle_coche,.bloc_infobulle .infobulle_coche_01,.bloc_infobulle .infobulle_coche_02{display:block;position:absolute;top:50%;left:3%;width:10px;height:15px;background:url(/skins/images/specific-country/background/bg-infobulle-coche.png) no-repeat 0 0}
.bloc_infobulle .infobulle_coche_01{top:50%;left:186px;background-image:url(/skins/images/specific-country/background/bg-infobulle-coche-01.png)}
.bloc_infobulle .infobulle_coche_02{top:10px;left:40px;background-image:url(/skins/images/specific-country/background/bg-infobulle-coche-02.png);width:13px;height:10px}
ul.product_list .product .product_brand, ul.product_list .product .product_name { width:130px; }
ul.product_list .productlong .product_brand, ul.product_list .productlong .product_name { width:240px; }
/* SMOOTH RESPONSIVE */
.tr, .div5 a, #BoxWhite a, #BoxFlag a, #BoxGrey a.boxpicto, #BoxGrey a b, input#valid_newsletter, .facebook-footer, .twitter-footer, .googleplus-footer, .youtube-footer, .linkedin-footer, .instagram-footer  { -webkit-transition:all 0.35s ease-out; -chrome-transition:all 0.35s ease-out; -khtml-transition:all 0.35s ease-out; -moz-transition:all 0.35s ease-out; -ms-transition:all 0.35s ease-out; -o-transition:all 0.35s ease-out; transition:all 0.35s ease-out; }
/* SISTEMO IMMAGINE SCEGLI IL TUO NEGOZIO NEL TUNNEL PAGAMENTO*/
 a#decathlon-relay-detail-change-link-map img {
     margin: 0px auto;
     text-align: center;
     width:100%;
}
div#main-content-container div.hp_gondolas {height: 332px !important; }
.box_top .box_title{width : 310px;}
/*RIPORTO IN ALTO IL CODICE PRODOTTO*/
 .zoneConversion .ref-product {
    color: #999999;
    font-size: 11px;
    font-weight: normal;
    left: 20px;
    line-height: 15px;
    position: absolute;
    top: 0px;
}
/* SISTEMO PADDING ULTIMO ONGLET*/
div#top .tab_nav_04 a {padding:0 !important;} /*SCRITTA SU UNA riga centrata*/
/* div#top .tab_nav_04 a {padding:8px !important;} SCRITTA DU DUE RIGHE centrata*/
/* AGGIUNGO BOTTONE COMPRA ALLA NUOVA TG "SETTIMANALE" */
 .productlong_settimanale .product_profite {
	 background: url("/content/website/merch/settimanale/bg-profite.jpg");
 }
/* STICKER SEMPRE VISIBILI IN PRODUCT CATEGORY	*/
ul.product_list .bloc_picto img {
     opacity:1 !important;
}
/* TOLGO scritta "PREZZO ON LINE" da desktop (COLORE BIANCO DI SFONDO PER MANTENERE IL DIV che con display none si toglierebbe)*/
.product_price .a_partir_de { color:#ffffff;}
/*NASCONDO DESCRIZIONE TRASPORTO CORRIERE */

.carrier-description {
    display: none !important;
    font-size: 12px;
    font-weight: bold;
    margin-top: 2px;
}
/* INFORMAZIONI LEGALI CHECKBOX */
.informazioni-legali-checkbox {
    margin-top:2px;
    text-align: left;
	color:#cecece;
	font-size: 10px;
    line-height: 11px;
}
/* CALL TYPO DIN *****  font-family:'dinbold';  *****/
@font-face { font-family: dincond-bold, dincond; src: url(/ecit/static/fonts/ff_din_bold-webfont.eot); src: url(/ecit/static/fonts/ff_din_bold-webfont.eot?#iefix) format(embedded-opentype), url(/ecit/static/fonts/ff_din_bold-webfont.woff) format("woff"), url(/ecit/static/fonts/ff_din_bold-webfont.ttf) format("truetype"), url(/ecit/static/fonts/ff_din_bold-webfont.svg#dinbold) format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: dincond-regular, dincond; src: url(/ecit/static/fonts/ff_din_condensed_regular_0-webfont.eot); src: url(/ecit/static/fonts/ff_din_condensed_regular_0-webfont.eot?#iefix) format("embedded-opentype"), url(/ecit/static/fonts/ff_din_condensed_regular_0-webfont.woff) format("woff"), url(/ecit/static/fonts/ff_din_condensed_regular_0-webfont.ttf) format("truetype"), url(/ecit/static/fonts/ff_din_condensed_regular_0-webfont.svg#dincond-regular) format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: robotocond-regular, robotocond; src: url(/ecit/static/fonts/RobotoCondensed-Regular.ttf); src: url(/ecit/static/fonts/RobotoCondensed-Regular.ttf?#iefix) format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: robotocond-bold, robotocond; src: url(/ecit/static/fonts/RobotoCondensed-Bold.ttf); src: url(/ecit/static/fonts/RobotoCondensed-Bold.ttf?#iefix) format("truetype"); font-weight: normal; font-style: normal; }
/* PAGE CONTACT FORMULAIRE */
.loginPage_page #main-content-container, .contactUs_page #main-content-container, .contactUsWithoutAccount_page #main-content-container { background:#ffffff; }
.loginPage_page .personal-account, .contactUs_page .personal-account, .contactUsWithoutAccount_page .personal-account { margin:0; display:block; width:940px; padding:30px; }
.loginPage_page .personal-account .personal-account-header, .contactUs_page .personal-account .personal-account-header, .contactUsWithoutAccount_page .personal-account .personal-account-header { display:block; height:auto; padding:0 0 3px; margin:0; }
.loginPage_page .personal-account-header .h9, .contactUs_page .personal-account-header .h9, .contactUsWithoutAccount_page .personal-account-header .h9 { color:#0083c1; font-size:30px; letter-spacing:-0.3px; padding-top:0; }
.loginPage_page .personal-account-encart, .loginPage_page .personal-account-body, .loginPage_page .personal-account-bottom, .contactUs_page .personal-account-encart, .contactUs_page .personal-account-body, .contactUs_page .personal-account-bottom, .contactUsWithoutAccount_page .personal-account-encart, .contactUsWithoutAccount_page .personal-account-body, .contactUsWithoutAccount_page .personal-account-bottom  { background:none; }
.loginPage_page .personal-account-encart, .contactUs_page .personal-account-encart, .contactUsWithoutAccount_page .personal-account-encart { display:block; margin:0 0 12px; padding:0 0 12px; font-size:12px; color:#191919; text-align:left; border-bottom:1px solid #e5e5e5; }
.loginPage_page .personal-account-body, .contactUs_page .personal-account-body, .contactUsWithoutAccount_page .personal-account-body { padding:0; display:block; }
#frm_contact .field-row { margin:0; padding:0; width:100%; height:auto; margin:0 0 12px; overflow:hidden; }
#frm_contact .field-title { width:200px; height:36px; display:block; float:left; font-size:13px; font-weight:bold; color:#191919; line-height:36px; }
form[name="frm_contact"] .mandatoryField { width:675px; height:36px; display:block; margin:0; }
.personal-account-body .field-value { float:left; height:auto; overflow:hidden; }
form[name="frm_contact"] .field-value .field-7 { /*width:275px; height:auto !important;*/ display:block; border:1px solid #cccccc !important; border-radius:2px; margin:0; padding:8px !important; background:url('/ecit/static/footer/images/spritescontact.jpg') 0 0 repeat-x #ffffff; float:left; }
form[name="frm_contact"] .textarea .mandatoryField { height:auto !important; }
form[name="frm_contact"] .field-value textarea#content {/* height:115px !important;*/ background:url('/ecit/static/footer/images/fdtextaera.png') 0 0 repeat-x #ffffff; float:left; /*width:400px !important;*/ }
form[name="frm_contact"] .textarea .mandatoryField .ValidationCheck { float:left !important; right:inherit !important; }
.personal-account-body #file-upload-area { clear:both; margin:0; padding:0; height:auto; width:100%; border-bottom:1px solid #e5e5e5; padding:0 0 12px; margin:0 0 12px; }
form[name="frm_contact"] select { width:293px !important; }
.personal-account-body #uploadFileButton { margin-top:0; position:relative; }
.personal-account-body #uploadFileButton p.fileUploadInformation { display:inline; }
.personal-account-body #uploadFileButton span.button img { display:none }
.personal-account-body #uploadFileButton span.button { cursor:pointer; width:auto; display:inline-block; background:url('/ecit/static/footer/images/spritescontact.jpg') 0 -72px repeat-x #0083c1; color:#ffffff !important; text-align:center; font-size:14px; font-weight:bold; line-height:36px; height:36px; padding:0 15px; margin:12px 0 0 200px; }
.loginPage_page .personal-account-bottom, .contactUs_page .personal-account-bottom, .contactUsWithoutAccount_page .personal-account-bottom  { width:100%; height:auto; display:block; margin:0; padding:0; }
.contactUs_page .personal-account-bottom #personal-account-button, .loginPage_page .personal-account-bottom #personal-account-button, .contactUsWithoutAccount_page .personal-account-bottom #personal-account-button { margin:0 0 0 200px; height:36px; }
.contactUs_page .personal-account-bottom #personal-account-button a, .loginPage_page .personal-account-bottom #personal-account-button a, .contactUsWithoutAccount_page .personal-account-bottom #personal-account-button a { margin:0; display:block; padding:0; font-size:14px; font-weight:bold; text-align:center; color:#ffffff; line-height:36px; height:36px; background:url('/ecit/static/footer/images/spritescontact.jpg') 0 -144px repeat-x #ff5f00; border-radius:2px; width:150px;}
.contactUs_page .personal-account-bottom #personal-account-button a span, .loginPage_page .personal-account-bottom #personal-account-button a span, .contactUsWithoutAccount_page .personal-account-bottom #personal-account-button a span { margin:0; padding:0; background:none; height:inherit !important; width:inherit !important; }
.contactUs_page .personal-account-bottom #personal-account-button a span.genericbuttong, .contactUs_page .personal-account-bottom #personal-account-button a span.genericbuttond, .loginPage_page .personal-account-bottom #personal-account-button a span.genericbuttong, .loginPage_page .personal-account-bottom #personal-account-button a span.genericbuttond, .contactUsWithoutAccount_page .personal-account-bottom #personal-account-button a span.genericbuttong, .contactUsWithoutAccount_page .personal-account-bottom #personal-account-button a span.genericbuttond { display:none }
@keyframes mymove { 0% { opacity:1; filter:alpha(opacity=100); } 50% { opacity:0.6; filter:alpha(opacity=60); } 100% { opacity:1; filter:alpha(opacity=100); } }
@-webkit-keyframes mymove { 0% { opacity:1; filter:alpha(opacity=100); } 50% { opacity:0.6; filter:alpha(opacity=60); } 100% { opacity:1; filter:alpha(opacity=100); } }
.personal-account-body #uploadFileButton span.button:hover, .contactUs_page .personal-account-bottom #personal-account-button a:hover, .contactUsWithoutAccount_page .personal-account-bottom #personal-account-button a:hover, .loginPage_page .personal-account-bottom #personal-account-button a:hover { animation:mymove 2s infinite; -webkit-animation:mymove 2s infinite; }
li#MenuSports .sous_nav_left .btn_01, li#MenuSports .sous_nav_right .btn_01 { right:30px; }
@media(max-width:1450px) {
    .container-bottom .btnall {
        font-size:12px;
    }
}
@media(max-width:1024px){
	#BoxBlue .insideP { padding:0 10px; }
	#BoxDark .insideP { padding:0 10px; }
	#BoxFlag { text-align:center; padding-bottom:0; }
	#BoxFlag p { display:block; text-align:center; float:none; clear:both; margin-bottom:5px; }
	#BoxFlag a { float:none; }
	#BoxDark { padding:10px 0; }
}

@media(max-width:768px){
	#BoxGrey a b { font-size:24px; }
	#BoxGrey a { font-size:11px; }
	.MentionsNewsletter { display:none; }
	.NewsletterLabel { border:none; }
	.BlocNews { width:70%; }
	.BlocSocial { width:29%; }
}

@media(max-width:660px){
	#BoxGrey { padding:10px 0; }
	.div3 { float:none; clear:both; width:90%; margin:0 auto 10px; background:none; border-bottom:1px solid #ccc; padding-bottom:10px; }
	#boxGrey .div3:nth-child(3) { margin-bottom:0; border:none; padding-bottom:0; }
	.sepaEnd { display:none; }
	.NewsletterLabel { margin-bottom:5px; }
	.BlocNews { width:50%; }
	.BlocSocial { width:40%; }
	.div5 { width:100%; clear:both; float:none; display:block; padding:0; border:none; }
	#BoxFlag { display:none; }
	#BoxDark .div5:nth-child(1) { margin-bottom:15px; }
}

@media(max-width:480px){
	.BlocNews, .BlocSocial { width:100%; float:none; clear:both; display:block; }
	.BlocNews { margin-bottom:10px; overflow:hidden; position:relative; }
	.facebook-footer, .twitter-footer, .googleplus-footer, .youtube-footer, .linkedin-footer { float:left; margin:0 10px 0 0; }
	#bloc_newsletter { width:100%; display:block; }
	input#zone_txt { width:65%; }
	input#valid_newsletter { width:35%; }
}

@media(max-width:320px){
	.div5 a { width:auto; display:block; }
}
/* BEGIN CORE-7547 */
#uploadFileButton {	
	/*cursor: pointer;*/
	display: inline-block; 
	overflow: hidden; 
	position: relative;
	margin-top: -20px;
}

#uploadFileButton div &gt; input[type="file"]{
	cursor: pointer; 
	position: absolute; 
	top: 0; 
	opacity: 0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#uploadFileButton div &gt; input[type="file"]:disabled{
	cursor: default !important; 
}

#uploadFileButton .button{
	background: white;
	border-radius: 5px;
	display: inline-block;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	font-size: 14px;
	font-weight: bold;
	padding: 0px 8px;
	color: red;
	z-index:100;
	line-height: 25px;
}

#uploadFileButton .button img{
	width: 20px;
	height: 20px;
	float: left;
	margin-right: 5px;
}

.personal-account-body #file-upload-area{
	/*width: 260px;
	margin-left: 613px;
	height: 80px;*/
}

#uploadFileButton .fileUploadInformation{
	margin-left: 8px;
	font-style: italic; 
}

#file-upload-area #file-upload-result{	
	margin-left: 8px;
	margin-top:8px;
	font-size: 12px;
	font-weight: bold;
}

#file-upload-area #file-upload-result a.MultiFile-remove{
	color: red;
}

#continueWithoutLoggin{
	margin-right: 45px;
	margin-top: 20px;
}

form[name="frm_contact"] .mandatoryField{
	width: 410px;
	margin-right: -30px;
}


form[name="frm_contact"] .textarea .mandatoryField .ValidationCheck {
	position: relative;
	float: right;
	right: 10px;
	z-index: 1;
}
/* END CORE-7547 */
/* BEGIN  Jira CORE-12078 Yhafidi */ 


.productlong_tecnico .product_profite{ background-image: url(/content/website/merch/suggestion/bg-profite.jpg); }
.productlong_suggestion .product_profite{ background-image: url(/content/website/merch/suggestion/bg-profite.jpg); }

/* END  Jira CORE-12078 Yhafidi */
/* Begin  Jira CORE-12116 Yhafidi */ 
 #pricePerUnit{padding-top: 10px;}
 /* END  Jira CORE-12116 Yhafidi */
/* BEGIN - AFFICHAGE STANDARD BOUTON SITE - YHafidi 04032015 */


/* RESET BOUTON */
span.smallgenericbuttong, span.smallgenericbuttond, span.genericbuttong, span.genericbuttond, span.buttong, span.buttond {display:none;}
span.autoResizesmallgenericbuttonc, span.autoResizegenericbuttonc, span.buttonc, span.genericbuttonc { height:auto !important; display:inline-block; margin:5px 0 20px 0; padding:9px 30px 9px 10px; }
a.genericbutton-small-blue span.buttonc, a.promo-code-button span.autoResizegenericbuttonc { padding:5px 20px 5px 5px; }
span.btn-continue span.autoResizegenericbuttonc, span.autoResizegenericbuttonc-gray { padding:9px 10px 9px 30px; }


.middle-right span.buttonc{margin: 0;padding: 0;}
.middle-right span.autoResizegenericbuttonc, .middle-right span.autoResizegenericbuttonc-gray, .middle-right span.genericbuttonc {  padding: 9px 30px 9px 10px;}


/* BTN Orange */
span.genericbuttonc, span.autoResizegenericbuttonc, span.autoResizesmallgenericbuttonc { background:url('/ecit/static/footer/images/specific-country/picto/puce-btn.gif') 93% 50% no-repeat #ff5f00; color:#ffffff; }
span.genericbuttonc:hover, span.autoResizegenericbuttonc:hover, span.autoResizesmallgenericbuttonc:hover { background-color:#ff8740; }
/* BTN Bleu */
a.genericbutton-small-blue span.buttonc, a.promo-code-button span.autoResizegenericbuttonc { background:url('/ecit/static/footer/images/puce-btn.gif') 93% 50% no-repeat #0083c1; }
a.genericbutton-small-blue span.buttonc:hover, a.promo-code-button span.autoResizegenericbuttonc:hover { background-color:#40a2d1; }
/* BTN Gris */
span.autoResizegenericbuttonc-gray { background:url('/ecit/static/footer/images/puce-return-btn.gif') 7% 50% no-repeat #c4c4c4; color:#191919; }
span.autoResizegenericbuttonc-gray:hover { background-color:#d3d3d3; }



.order-main-container #back-button-bottom, #bottomTagCloud #back-button-bottom {
	 height: auto!important;
    display: inline-block;
    background: url(/skins/images/specific-country/picto/puce-return-btn.gif) 7% 50% no-repeat #c4c4c4;
    color: #191919;
    padding: 9px 10px 9px 30px
}


.order-main-container #next-button-bottom, #bottomTagCloud #next-button-bottom{
    height: auto!important;
    display: inline-block;
    background: url(/skins/images/specific-country/picto/puce-return-btn.gif) 7% 50% no-repeat #c4c4c4;
    color: #191919;
    padding: 9px 10px 9px 30px
}

.order-main-container #next-button-bottom, #bottomTagCloud #next-button-bottom{
    background: url(/skins/images/specific-country/picto/puce-btn.gif) 93% 50% no-repeat #ff5f00;
    color: #fff;
    padding: 9px 30px 9px 10px
}

.order-main-container #next-button-bottom:hover, #bottomTagCloud #next-button-bottom:hover{
    background-color: #ff8740
}

.order-main-container  #back-button-bottom:hover, #bottomTagCloud #back-button-bottom:hover{
    background-color: #d3d3d3
}

/* END - AFFICHAGE STANDARD BOUTON SITE - yhafidi 04032015 */
.order-total-shipping-step1{display: block;}
.zone_filter_new .search_result .search_result_title strong h1 {font-size:26px;}
.zone_filter_new .search_result .search_result_title .nb_articles {font-size:26px;}
.zone_filter_new .search_result .search_result_title {font-size:18px;}
