/* CALL TYPO DIN *****  font-family:'dinbold';  *****/
@font-face { font-family: dincond-bold, dincond; src: url(/ecit/static/fonts/ff_din_bold-webfont.eot); src: url(/ecit/static/fonts/ff_din_bold-webfont.eot?#iefix) format(embedded-opentype), url(/ecit/static/fonts/ff_din_bold-webfont.woff) format("woff"), url(/ecit/static/fonts/ff_din_bold-webfont.ttf) format("truetype"), url(/ecit/static/fonts/ff_din_bold-webfont.svg#dinbold) format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: dincond-regular, dincond; src: url(/ecit/static/fonts/ff_din_condensed_regular_0-webfont.eot); src: url(/ecit/static/fonts/ff_din_condensed_regular_0-webfont.eot?#iefix) format("embedded-opentype"), url(/ecit/static/fonts/ff_din_condensed_regular_0-webfont.woff) format("woff"), url(/ecit/static/fonts/ff_din_condensed_regular_0-webfont.ttf) format("truetype"), url(/ecit/static/fonts/ff_din_condensed_regular_0-webfont.svg#dincond-regular) format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: robotocond-regular, robotocond; src: url(/ecit/static/fonts/RobotoCondensed-Regular.ttf); src: url(/ecit/static/fonts/RobotoCondensed-Regular.ttf?#iefix) format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: robotocond-bold, robotocond; src: url(/ecit/static/fonts/RobotoCondensed-Bold.ttf); src: url(/ecit/static/fonts/RobotoCondensed-Bold.ttf?#iefix) format("truetype"); font-weight: normal; font-style: normal; }

/* SMOOTH RESPONSIVE */
.tr, .div5 a, #BoxWhite a, #BoxFlag a, #BoxGrey a.boxpicto, #BoxGrey a b, input#valid_newsletter, .facebook-footer, .twitter-footer, .googleplus-footer, .youtube-footer, .linkedin-footer  { -webkit-transition:all 0.35s ease-out; -chrome-transition:all 0.35s ease-out; -khtml-transition:all 0.35s ease-out; -moz-transition:all 0.35s ease-out; -ms-transition:all 0.35s ease-out; -o-transition:all 0.35s ease-out; transition:all 0.35s ease-out; }

/* FOOTER DECATHLON */
#footer, #footer div.footer { padding:0 !important; margin:0; }
#BoxFooter { width:100%; height:auto; display:block; margin:0; padding:0; font-family:Arial, Helvetica, sans-serif; }
.insideP { max-width:1024px; height:auto; display:block; margin:0 auto; }
#BoxFooter .ui-btn-inner {display:none }
#BoxFooter a {font-weight: normal;}

/* Grey Zone */
#BoxGrey { display:block; padding:20px 0px 0px 0px; background:#eeeeee; }
.div3 { display:block; width:32%; float:left; text-align:center; padding-top:40px; }
.sepaEnd { width:1%; min-height:100px; display:block; float:left; background:url('../images/sprites-footer-fr.png') -241px 0 no-repeat; }
#BoxGrey a { text-decoration:none; color:#686868; font-size:12px; line-height:17px; display:block; padding:0px 5px; }
#BoxGrey a b { font-family:dincond-regular, arial; font-size:28px; color:#191919; font-weight:100; display:block; margin:0 0 8px; }
#BoxGrey a:hover b { color:#0083c1; }
.boxpicto { width:30px; height:34px; display:block; margin:-40px auto 10px; background:url('../images/sprites-footer-fr.png') 0 0 no-repeat;  }
.skimium { background:url('../images/sprites-footer-icone-skimium.png') -71px -10px no-repeat; }
.gift-card { background:url('../images/sprites-footer-icone.png') -71px -10px no-repeat; }
.reso-gratuito { background:url('../images/sprites-footer-icone.png') 11px -10px no-repeat; }
.carta-fedelta { background:url('../images/sprites-footer-icone.png') -28px -10px no-repeat; }

/* Blue Zone */
#BoxBlue { display:block; padding:15px 0 0 0; background:#0083c1; }
.BlocNews { width:80%; display:inline; }
	.NewsletterLabel { font-family:dincond-bold, arial; font-size:30px; color:#ffffff; display:inline; float:left; height:40px; line-height:30px; margin:0; padding:0 10px 0 0; text-transform:uppercase; letter-spacing:0.5px; border-right:1px solid #006fa4; }
	.MentionsNewsletter { font-size:12px; display:inline; float:left; line-height:14px; color:#ffffff; height:40px; padding:0 10px 0 10px; line-height:15px; border-left:1px solid #3098ca; }
.BlocSocial { width:23%; float:right; display:inline; }
#bloc_newsletter { display:inline; float:left; }
form.subscribeNewsLetter { margin:0; padding:0; color:#fff; font-family:arial; font-size:12px; }
input#zone_txt { height:30px; width:190px; padding:0 5px; display:block; background:#ffffff; float:left; border:none; text-align:left; border-radius:0; font-size:12px; color:#676767; font-family:Arial, Helvetica, sans-serif; }
input#valid_newsletter { height:30px; cursor:pointer; display:block; float:left; margin:0; padding:5px 9px; font-size:12px; color:#ffffff; background:#191919; border:none; border-radius:0; text-align:center; }
input#valid_newsletter:hover { color:#0083c1; }
.cochevert, .cocherouge { background: url('../images/sprites-footer-fr.png') no-repeat scroll -1px -141px rgba(0, 0, 0, 0); display: inline-block; float: left; height: 16px; margin: 0 4px 0 0; width: 15px; }
.cocherouge { background-position:-1px -159px; }
.subscriptionOk, .subscriptionError, .EmailFormatError, .AlreadyError, .LegalMentionError { font-size: 11px; line-height: 16px; padding: 5px 0 0; text-align: left; color:#ffffff; }
.facebook-footer, .twitter-footer, .googleplus-footer, .youtube-footer, .linkedin-footer, .instagram-footer { width:34px; height:34px; display:inline-block; float:right; margin:0 0 0 5px; background:url('../images/sprites-footer-fr.png') 0 0 no-repeat; }
.facebook-footer { background-position:0 -98px; }
.twitter-footer { background-position:-40px -98px; }
.googleplus-footer { background-position:-80px -98px; }
.youtube-footer { background-position:-120px -98px; }
.linkedin-footer { background-position:-160px -98px; }
.instagram-footer { background-position:-200px -98px;}
/* Legal informations checkbox*/
.informazioni-legali-checkbox {
    margin-top:2px;
    text-align: left;
	color:#cecece;
	font-size: 10px;
    line-height: 11px;
}
/* Dark Zone */
#BoxDark { display:block; padding:20px 0; background:#191919; }
.div5 { display:block; width:46%; float:left; padding:0 4% 15px 0; }
#BoxDark .div5 { text-align:left; min-height:102px; }
.resume-footer { font-family:dincond-bold, arial; font-size:22px; color:#ffffff; display:block; text-align:left; text-transform:uppercase; letter-spacing:newsletter0.5px; margin:0 0 8px; }
.div5 a { text-decoration:none; color:#ffffff; font-size:12px; padding:7px 10px; background:#3a3a3a; border-radius:2px; display:inline-block; width:auto; margin:0 0 5px 0; }
.div5 a:hover { background:#0083c1; }

/* Flag Box */
#BoxFlag { display:block; border-top:1px solid #0c0c0c; padding:15px 0; margin:0 auto; max-width:1024px; }
#BoxFlag p { font-size:12px; display:inline; color:#ffffff; float:left; margin:0; padding:0 5px 0 0; }
#BoxFlag a { display:inline-block; float:left; width:21px; height:15px; background:url('../images/sprites-footer-fr.png') 0 0 no-repeat; margin:0 10px 0 0; }
#BoxFlag .allemagne { background-position: -105px 0; }
#BoxFlag .belgique { background-position: -21px -30px; }
#BoxFlag .bresil { background-position: -21px 0; }
#BoxFlag .chine { background-position: -42px 0;}
#BoxFlag .espagne { background-position: -126px -15px; }
#BoxFlag .france { background-position: -84px 0; }
#BoxFlag .hongrie { background-position: -126px 0; }
#BoxFlag .inde { background-position: -147px 0; }
#BoxFlag .italie { background-position: 0 -15px; }
#BoxFlag .pays-bas { background-position: -21px -15px; }
#BoxFlag .pologne { background-position: -42px -15px; }
#BoxFlag .portugal { background-position: -63px -15px; }
#BoxFlag .roumanie { background-position: -84px -15px; }
#BoxFlag .russie { background-position: -105px -15px; }
#BoxFlag .turquie { background-position: 0 -30px; }
#BoxFlag .australie { background-position: -42px -30px; }
#BoxFlag .indonesie { background-position: -63px -30px;}
#BoxFlag .malaisie { background-position: -84px -30px; }
#BoxFlag .singapour { background-position: -105px -30px; }
#BoxFlag .slovenia { background-position: -147px -30px; }
#BoxFlag .thailande { background-position: -126px -30px; }
#BoxFlag .turquie { background-position: 0 -30px; }
#BoxFlag a:hover, #BoxGrey a.boxpicto:hover, .facebook-footer:hover, .twitter-footer:hover, .googleplus-footer:hover, .youtube-footer:hover, .linkedin-footer:hover, .instagram-footer:hover { opacity:0.6; filter:alpha(opacity=60); transform:rotate(360deg); -ms-transform:rotate(360deg); -webkit-transform:rotate(360deg); }

/* White Zone */
#BoxWhite { display:block; padding:15px 0; background:#ffffff; text-align:center; }
#BoxWhite a, #BoxWhite p { font-size:10px; color:#424242; text-decoration:none; line-height:15px; margin:0; padding:0; }
#BoxWhite a:hover { text-decoration:underline; color:#0083c1; }

/* TRASPORTO CORRIERE */

.carrier-description {
    display: none !important;
    font-size: 12px;
    font-weight: bold;
    margin-top: 2px;
}

@media(max-width:1024px){
	#BoxBlue .insideP { padding:0 10px; }
	#BoxDark .insideP { padding:0 10px; }
	#BoxFlag { text-align:center; padding-bottom:0; }
	#BoxFlag p { display:block; text-align:center; float:none; clear:both; margin-bottom:5px; }
	#BoxFlag a { float:none; }
	#BoxDark { padding:10px 0; }
}

@media(max-width:768px){
	#BoxGrey a b { font-size:24px; }
	#BoxGrey a { font-size:11px; }
	.MentionsNewsletter { display:none; }
	.NewsletterLabel { border:none; }
	.BlocNews { width:70%; }
	.BlocSocial { width:29%; }
}

@media(max-width:660px){
	#BoxGrey { padding:10px 0; }
	.div3 { float:none; clear:both; width:90%; margin:0 auto 10px; background:none; border-bottom:1px solid #ccc; padding-bottom:10px; }
	#boxGrey .div3:nth-child(3) { margin-bottom:0; border:none; padding-bottom:0; }
	.sepaEnd { display:none; }
	.NewsletterLabel { margin-bottom:5px; }
	.BlocNews { width:50%; }
	.BlocSocial { width:40%; }
	.div5 { width:100%; clear:both; float:none; display:block; padding:0; border:none; }
	#BoxFlag { display:none; }
	#BoxDark .div5:nth-child(1) { margin-bottom:15px; }
}

@media(max-width:480px){
	.BlocNews, .BlocSocial { width:100%; float:none; clear:both; display:block; }
	.BlocNews { margin-bottom:10px; overflow:hidden; position:relative; }
	.facebook-footer, .twitter-footer, .googleplus-footer, .youtube-footer, .linkedin-footer { float:left; margin:0 10px 0 0; }
	#bloc_newsletter { width:100%; display:block; }
	input#zone_txt { width:65%; }
	input#valid_newsletter { width:35%; }
}

@media(max-width:320px){
	.div5 a { width:auto; display:block; }
}



/* turn up */
#messagetop { display:block; position:fixed; bottom:30px; right:30px; z-index:9999999;}
#messagetop a { width:45px; height:45px; display:block; background:url('../images/sprites-footer-fr.png') -215px -146px no-repeat #0083c1; border-radius:2px; text-decoration:none; box-shadow: 1px 1px 1px 0 #092a56; }

/* tolgo rombo di sfondo
body#home #main-content-container{
	background: transparent url(/ecbe/static/carousel/images/loader.gif) no-repeat center 161px !important;
}
*/

/* BEGIN - fix due to go live 15.02 - MCallaghan 17022015 */
.product_list .product .bloc_picto {
position: absolute;
top: 15px;
left: 25px;
}
.info_enstock{font-weight:bold;color:#009ffa}
a.infobulle.etoile.infobulle_etoile_05 {
	background-position: -49px 50%
}
a.infobulle.etoile.infobulle_etoile_10 {
	background-position: -98px 50%
}
a.infobulle.etoile.infobulle_etoile_15 {
	background-position: -147px 50%
}
a.infobulle.etoile.infobulle_etoile_20 {
	background-position: -196px 50%
}
a.infobulle.etoile.infobulle_etoile_25 {
	background-position: -245px 50%
}
a.infobulle.etoile.infobulle_etoile_30 {
	background-position: -294px 50%
}
a.infobulle.etoile.infobulle_etoile_35 {
	background-position: -343px 50%
}
a.infobulle.etoile.infobulle_etoile_40 {
	background-position: -392px 50%
}
a.infobulle.etoile.infobulle_etoile_45 {
	background-position: -441px 50%
}
a.infobulle.etoile.infobulle_etoile_50 {
	background-position: -490px 50%
}
a.infobulle.etoile.noInfobulle {
	visibility: hidden
}
/* BEGIN - fix due to go live 15.02 - MCallaghan 17022015 */
.product_list .product .bloc_picto {
position: absolute;
top: 15px;
left: 25px;
}
.info_enstock{font-weight:bold;color:#009ffa}
a.infobulle.etoile.infobulle_etoile_05 {
	background-position: -49px 50%
}
a.infobulle.etoile.infobulle_etoile_10 {
	background-position: -98px 50%
}
a.infobulle.etoile.infobulle_etoile_15 {
	background-position: -147px 50%
}
a.infobulle.etoile.infobulle_etoile_20 {
	background-position: -196px 50%
}
a.infobulle.etoile.infobulle_etoile_25 {
	background-position: -245px 50%
}
a.infobulle.etoile.infobulle_etoile_30 {
	background-position: -294px 50%
}
a.infobulle.etoile.infobulle_etoile_35 {
	background-position: -343px 50%
}
a.infobulle.etoile.infobulle_etoile_40 {
	background-position: -392px 50%
}
a.infobulle.etoile.infobulle_etoile_45 {
	background-position: -441px 50%
}
a.infobulle.etoile.infobulle_etoile_50 {
	background-position: -490px 50%
}
a.infobulle.etoile.noInfobulle {
	visibility: hidden
}

.bloc_infobulle{text-align:left;width:201px}
.bloc_infobulle .bloc_infobulle_top{width:250px;height:25px;background:url(/skins/images/specific-country/background/bg-infobulle-top.png) no-repeat 0 0}
.bloc_infobulle .bloc_infobulle_bottom{width:201px;height:25px;background:url(/skins/images/specific-country/background/bg-infobulle-bottom.png) no-repeat 0 0}
.bloc_infobulle .bloc_infobulle_content{width:201px;background:url(/skins/images/specific-country/background/bg-infobulle-middle.png) repeat-y 0 0}
.bloc_infobulle .bloc_infobulle_content .infobulle_text{background:#fff;margin:0 20px 0 20px;padding:10px 10px;font-size:11px;color:#313131}
.bloc_infobulle .infobulle_coche,.bloc_infobulle .infobulle_coche_01,.bloc_infobulle .infobulle_coche_02{display:block;position:absolute;top:50%;left:3%;width:10px;height:15px;background:url(/skins/images/specific-country/background/bg-infobulle-coche.png) no-repeat 0 0}
.bloc_infobulle .infobulle_coche_01{top:50%;left:186px;background-image:url(/skins/images/specific-country/background/bg-infobulle-coche-01.png)}
.bloc_infobulle .infobulle_coche_02{top:10px;left:40px;background-image:url(/skins/images/specific-country/background/bg-infobulle-coche-02.png);width:13px;height:10px}

.product_similar .product_price .oldPrice-textBefore {    float: left;    font-size: 7pt;    margin-right: 5px}
.product_similar .product_price .oldPrice-percentage {    font-weight: bold;    font-size: 7pt;    float: right;    margin-left: 5px;}
.product_similar .product_price .price {    color: #ff5f06;    font-size: 12pt;    font-weight: bold;    display: block;}
.product_similar .taxMention {    color: #2b2b2b;    font-size: 7pt;    padding-top: 7px;    float: right;}
.product_similar .product .product_brand, .product_similar .product .product_name {color: #2b2b2b;display: block;font-size: 11px;position: relative;text-decoration: none;width: 100px;overflow: hidden;}
.product_similar .product .product_price {position: absolute;right: 10px;text-align: right;top: 175px;}
.product_similar .product_price .a_partir_de {color: #a2a2a2;font-size: 8pt;display: block;}
.product_similar .product .product_brand {font-weight: bold;}
.product_similar .product_brand {float: left;}
.product_similar .product_name {float: left;height: 28px;}

/* END - fix due to go live 15.02 - MCallaghan 17022015 */


/* BEGIN - AFFICHAGE STANDARD BOUTON SITE - YHafidi 04032015 */


/* RESET BOUTON */
span.smallgenericbuttong, span.smallgenericbuttond, span.genericbuttong, span.genericbuttond, span.buttong, span.buttond {display:none;}
span.autoResizesmallgenericbuttonc, span.autoResizegenericbuttonc, span.buttonc, span.genericbuttonc { height:auto !important; display:inline-block; margin:5px 0 20px 0; padding:9px 30px 9px 10px; }
a.genericbutton-small-blue span.buttonc, a.promo-code-button span.autoResizegenericbuttonc { padding:5px 20px 5px 5px; }
span.btn-continue span.autoResizegenericbuttonc, span.autoResizegenericbuttonc-gray { padding:9px 10px 9px 30px; }


.middle-right span.buttonc{margin: 0;padding: 0;}
.middle-right span.autoResizegenericbuttonc, .middle-right span.autoResizegenericbuttonc-gray, .middle-right span.genericbuttonc {  padding: 9px 30px 9px 10px;}


/* BTN Orange */
span.genericbuttonc, span.autoResizegenericbuttonc, span.autoResizesmallgenericbuttonc { background:url(/skins/images/specific-country/picto/puce-btn.gif) 93% 50% no-repeat #ff5f00; color:#ffffff; }
span.genericbuttonc:hover, span.autoResizegenericbuttonc:hover, span.autoResizesmallgenericbuttonc:hover { background-color:#ff8740; }
/* BTN Bleu */
a.genericbutton-small-blue span.buttonc, a.promo-code-button span.autoResizegenericbuttonc { background:url('../images/puce-btn.gif') 93% 50% no-repeat #0083c1; }
a.genericbutton-small-blue span.buttonc:hover, a.promo-code-button span.autoResizegenericbuttonc:hover { background-color:#40a2d1; }
/* BTN Gris */
span.autoResizegenericbuttonc-gray { background:url('../images/puce-return-btn.gif') 7% 50% no-repeat #c4c4c4; color:#191919; }
span.autoResizegenericbuttonc-gray:hover { background-color:#d3d3d3; }



.order-main-container #back-button-bottom, #bottomTagCloud #back-button-bottom {
	 height: auto!important;
    display: inline-block;
    background: url(/skins/images/specific-country/picto/puce-return-btn.gif) 7% 50% no-repeat #c4c4c4;
    color: #191919;
    padding: 9px 10px 9px 30px
}


.order-main-container #next-button-bottom, #bottomTagCloud #next-button-bottom{
    height: auto!important;
    display: inline-block;
    background: url(/skins/images/specific-country/picto/puce-return-btn.gif) 7% 50% no-repeat #c4c4c4;
    color: #191919;
    padding: 9px 10px 9px 30px
}

.order-main-container #next-button-bottom, #bottomTagCloud #next-button-bottom{
    background: url(/skins/images/specific-country/picto/puce-btn.gif) 93% 50% no-repeat #ff5f00;
    color: #fff;
    padding: 9px 30px 9px 10px
}






.order-main-container #next-button-bottom:hover, #bottomTagCloud #next-button-bottom:hover{
    background-color: #ff8740
}

.order-main-container  #back-button-bottom:hover, #bottomTagCloud #back-button-bottom:hover{
    background-color: #d3d3d3
}

/* END - AFFICHAGE STANDARD BOUTON SITE - yhafidi 04032015 */




#footer #messagetop {bottom: 75px;}


/* BEGIN - fix due to go live 15.03 - YHafidi 24032015 */

ul.product_list .product .product_brand, ul.product_list .product .product_name { width:130px; }
ul.product_list .productlong .product_brand, ul.product_list .productlong .product_name { width:240px; }
/* END - fix due to go live 15.03 - YHafidi 24032015 */


@media(max-width:1450px) {
    .container-bottom .btnall {
        font-size:12px;
    }
}

/* bouton menu all sports */
li#MenuSports .sous_nav_left .btn_01, li#MenuSports .sous_nav_right .btn_01 { right:30px; }

div#main-content-container div.hp_gondolas {height: 332px !important; }




/* BEGIN  Jira CORE-12078 Yhafidi */


.productlong_tecnico .product_profite{ background-image: url(/content/website/merch/suggestion/bg-profite.jpg); }
.productlong_suggestion .product_profite{ background-image: url(/content/website/merch/suggestion/bg-profite.jpg); }

/* END  Jira CORE-12078 Yhafidi */

/* [INIZIO MODIFICHE ZECCHIN 4-8-15] */

/* AGGIUNGO STILE PALLINI COLORE NELLA SCHEDA PRODOTTO (versione old)

.product-coloris ul li {
    background: none repeat scroll 0 0 #fff;
    border-radius: 50%;
	border:2px solid #fff !important;
    box-shadow: 0 1px 2px #999;
    color: #4c4c4c;
    display: inline;
    float: left;
    height: 25px;
    line-height: 12px;
    margin: 0 6px 5px 0;
    text-align: center;
    width: 25px;
}
.product-coloris .selected {
    border:2px solid #000 !important;
	margin:-2px;
	width: 25px;
	height: 25px;
	background:none;
    border-radius:50%;
}
.product-coloris ul li a {
	height:25px !important;
}
.product-size ul li a, .product-size ul li div, .box_color ul li a {
    border:1px solid transparent !important;
}
.product-size ul li.guide_size {
	background:none;
}

*/

/* SLIDESHOW SCHEDA PRODOTTO*/
.list_miniature li {
    background:none;
    border: 1px solid #ccc;
    display: block;
    height: 45px;
    margin: 10px 0 0;
    padding: 1px;
    position: relative;
    width: 45px;
}
/* SISTEMO PADDING ULTIMO ONGLET*/
div#top .tab_nav_04 a {padding:0 !important;} /*SCRITTA SU UNA riga centrata*/
/* div#top .tab_nav_04 a {padding:8px !important;} SCRITTA DU DUE RIGHE centrata*/
 /* AGGIUNGO BOTTONE COMPRA ALLA NUOVA TG "SETTIMANALE" */
 .productlong_settimanale .product_profite {
	 background: url("/content/website/merch/settimanale/bg-profite.jpg");
 }
 /*RIPORTO IN ALTO IL CODICE PRODOTTO*/
 /*
	This override is not necessary anymore, with the new GoToCube design, and not necessary in the actual design

 .ref-product {
    color: #999999;
    font-size: 11px;
    font-weight: normal;
    left: 20px;
    line-height: 15px;
    position: absolute;
    top: 0px;
}
*/
 /* SISTEMO IMMAGINE SCEGLI IL TUO NEGOZIO NEL TUNNEL PAGAMENTO*/
 a#decathlon-relay-detail-change-link-map img {
     margin: 0px auto;
     text-align: center;
     width:100%;
}
.list_miniature li:hover {
	opacity:0.6;
	filter:alpha(opacity=60);
	-webkit-transition:all 0.25s ease-out;
	-chrome-transition:all 0.25s ease-out;
	-khtml-transition:all 0.25s ease-out;
	-moz-transition:all 0.25s ease-out;
	-ms-transition:all 0.25s ease-out;
	-o-transition:all 0.25s ease-out;
	transition:all 0.25s ease-out;
	background:none !important;
}
/* AGGIUNGO SFONDO GRIGIO E OMBRA ALLA BARRA LATERALE SCHEDA PRODOTTO
.zoneConversion {
    background: none repeat scroll 0 0 #f9f9f9;
    box-shadow: -2px -4px 6px #ececec;
	border:1px solid #fff;
    position: absolute;
    right: 0;
    top: 36px;
    /* margin:16px 0px 0px 7px; 
}*/
/* SISTEMO PROBLEMA TESTO MODIFICANDO ALTEZZA TG E PRODOTTI*/
.productlong, .productshort {
	height:315px !important;
}
ul.product_list .product_normal, ul.product_list .productshort {
	height:315px !important;
	}
/* STICKER SEMPRE VISIBILI IN PRODUCT CATEGORY	*/
ul.product_list .bloc_picto img {
     opacity:1 !important;
}
/*SISTEMO PROBLEMA VISUALIZZAZIONE PRODOTTI COMPLEMENTARI IN POP UP AGGIUNTA CARRELLO*/
.cross-selling .product .product_price {
	position: relative !important;
}
/* STILE PREZZO NORMALE */
.product_price .actual_price {
    background-color: #f7df2f;
    background-image: linear-gradient(#fef63a 0%, #eec523 100%);
    color: #1e1e1d;
    float: right;
    font-size: 12pt;
    font-weight: bold;
    padding: 6px;
}
/* STILE PREZZO BARRATO */
	/*percentuale di sconto*/
.oldPrice-reduce {
    color: red;
}
    /*prezzo finale scontato*/
.cross-selling .product .product_price .price {
	background-color:#E00000;
    background-image: linear-gradient(#ff1313 0%, #E00000 100%);
	color:#fff;
    float: right;
	font-size: 12pt;
    font-weight: bold;
	padding:9px;
}
/* SISTEMO POP UP AGGIUNTA PRODOTTO CARRELLO - SPAZIATURA PRODOTTI COMPLEMENTARI */
.product-cross-selling {
    height:290px !important;
}
/*
div.cross-selling-pager-1{
	top:55px !important;
}*/
/* RIPRISTINO BOLLINO DISPONIBILITA' PRODOTTI NELLE CATEGORIE */
ul.product_list .product p {
	display: block;
}
.product_info_dispo {
	margin-left: 8px;
    margin-top: -7px;
}
.product_info_dispo a.dispo-01, .product_info_dispo a.dispo-02 {}

/*SISTEMO TITOlO ARANCIONE "Completa il tuo acquisto con" SCRITTA PRODOTTI POP UP AGGINTA CARRELLO*/
/*.cross-selling-head .title{font-size: 19px; width: 139px; display: block !important;}*/
/* TOLGO scritta "PREZZO ON LINE" da desktop (COLORE BIANCO DI SFONDO PER MANTENERE IL DIV che con display none si toglierebbe)*/
.product_price .a_partir_de { color:#ffffff;}

 /* [FINE MODIFICHE ZECCHIN 4-8-15] */

/* Unavailable info adjustments on product page - MCallaghan 2603205 */
 .product_info_dispo{margin-left:8px;}
 ul.product_list .product_bloc_orga_03{display:block;}
 p.product_info_dispo a.infobulle.dispo.dispo-03, p.product_infospe .infobulle.dispo.dispo-03, p.product_info_dispo a.infobulle.dispo.dispo-04, p.product_infospe .infobulle.dispo.dispo-04 { background-position:0 -2px; width:200px;/* indispo */ }

/* Begin  Jira CORE-12116 Yhafidi */
 #pricePerUnit{padding-top: 10px;}
 /* END  Jira CORE-12116 Yhafidi */

/* Begin  Jira CORE- Yhafidi
 ul.product_list{z-index: 2;}
 Begin  Jira CORE- Yhafidi */

/* PAGE CONTACT FORMULAIRE */
.loginPage_page #main-content-container, .contactUs_page #main-content-container, .contactUsWithoutAccount_page #main-content-container { background:#ffffff; }
.loginPage_page .personal-account, .contactUs_page .personal-account, .contactUsWithoutAccount_page .personal-account { margin:0; display:block; width:940px; padding:30px; }
.loginPage_page .personal-account .personal-account-header, .contactUs_page .personal-account .personal-account-header, .contactUsWithoutAccount_page .personal-account .personal-account-header { display:block; height:auto; padding:0 0 3px; margin:0; }
.loginPage_page .personal-account-header .h9, .contactUs_page .personal-account-header .h9, .contactUsWithoutAccount_page .personal-account-header .h9 { color:#0083c1; font-size:30px; letter-spacing:-0.3px; padding-top:0; }
.loginPage_page .personal-account-encart, .loginPage_page .personal-account-body, .loginPage_page .personal-account-bottom, .contactUs_page .personal-account-encart, .contactUs_page .personal-account-body, .contactUs_page .personal-account-bottom, .contactUsWithoutAccount_page .personal-account-encart, .contactUsWithoutAccount_page .personal-account-body, .contactUsWithoutAccount_page .personal-account-bottom  { background:none; }
.loginPage_page .personal-account-encart, .contactUs_page .personal-account-encart, .contactUsWithoutAccount_page .personal-account-encart { display:block; margin:0 0 12px; padding:0 0 12px; font-size:12px; color:#191919; text-align:left; border-bottom:1px solid #e5e5e5; }
.loginPage_page .personal-account-body, .contactUs_page .personal-account-body, .contactUsWithoutAccount_page .personal-account-body { padding:0; display:block; }
#frm_contact .field-row { margin:0; padding:0; width:100%; height:auto; margin:0 0 12px; overflow:hidden; }
#frm_contact .field-title { width:200px; height:36px; display:block; float:left; font-size:13px; font-weight:bold; color:#191919; line-height:36px; }
form[name="frm_contact"] .mandatoryField { width:675px; height:36px; display:block; margin:0; }
.personal-account-body .field-value { float:left; height:auto; overflow:hidden; }
form[name="frm_contact"] .field-value .field-7 { /*width:275px; height:auto !important;*/ display:block; border:1px solid #cccccc !important; border-radius:2px; margin:0; padding:8px !important; background:url('../images/spritescontact.jpg') 0 0 repeat-x #ffffff; float:left; }
form[name="frm_contact"] .textarea .mandatoryField { height:auto !important; }
form[name="frm_contact"] .field-value textarea#content {/* height:115px !important;*/ background:url('../images/fdtextaera.png') 0 0 repeat-x #ffffff; float:left; /*width:400px !important;*/ }
form[name="frm_contact"] .textarea .mandatoryField .ValidationCheck { float:left !important; right:inherit !important; }
.personal-account-body #file-upload-area { clear:both; margin:0; padding:0; height:auto; width:100%; border-bottom:1px solid #e5e5e5; padding:0 0 12px; margin:0 0 12px; }
form[name="frm_contact"] select { width:293px !important; }
.personal-account-body #uploadFileButton { margin-top:0; position:relative; }
.personal-account-body #uploadFileButton p.fileUploadInformation { display:inline; }
.personal-account-body #uploadFileButton span.button img { display:none }
.personal-account-body #uploadFileButton span.button { cursor:pointer; width:auto; display:inline-block; background:url('../images/spritescontact.jpg') 0 -72px repeat-x #0083c1; color:#ffffff !important; text-align:center; font-size:14px; font-weight:bold; line-height:36px; height:36px; padding:0 15px; margin:12px 0 0 200px; }
.loginPage_page .personal-account-bottom, .contactUs_page .personal-account-bottom, .contactUsWithoutAccount_page .personal-account-bottom  { width:100%; height:auto; display:block; margin:0; padding:0; }
.contactUs_page .personal-account-bottom #personal-account-button, .loginPage_page .personal-account-bottom #personal-account-button, .contactUsWithoutAccount_page .personal-account-bottom #personal-account-button { margin:0 0 0 200px; height:36px; }
.contactUs_page .personal-account-bottom #personal-account-button a, .loginPage_page .personal-account-bottom #personal-account-button a, .contactUsWithoutAccount_page .personal-account-bottom #personal-account-button a { margin:0; display:block; padding:0; font-size:14px; font-weight:bold; text-align:center; color:#ffffff; line-height:36px; height:36px; background:url('../images/spritescontact.jpg') 0 -144px repeat-x #ff5f00; border-radius:2px; width:150px;}
.contactUs_page .personal-account-bottom #personal-account-button a span, .loginPage_page .personal-account-bottom #personal-account-button a span, .contactUsWithoutAccount_page .personal-account-bottom #personal-account-button a span { margin:0; padding:0; background:none; height:inherit !important; width:inherit !important; }
.contactUs_page .personal-account-bottom #personal-account-button a span.genericbuttong, .contactUs_page .personal-account-bottom #personal-account-button a span.genericbuttond, .loginPage_page .personal-account-bottom #personal-account-button a span.genericbuttong, .loginPage_page .personal-account-bottom #personal-account-button a span.genericbuttond, .contactUsWithoutAccount_page .personal-account-bottom #personal-account-button a span.genericbuttong, .contactUsWithoutAccount_page .personal-account-bottom #personal-account-button a span.genericbuttond { display:none }
@keyframes mymove { 0% { opacity:1; filter:alpha(opacity=100); } 50% { opacity:0.6; filter:alpha(opacity=60); } 100% { opacity:1; filter:alpha(opacity=100); } }
@-webkit-keyframes mymove { 0% { opacity:1; filter:alpha(opacity=100); } 50% { opacity:0.6; filter:alpha(opacity=60); } 100% { opacity:1; filter:alpha(opacity=100); } }
.personal-account-body #uploadFileButton span.button:hover, .contactUs_page .personal-account-bottom #personal-account-button a:hover, .contactUsWithoutAccount_page .personal-account-bottom #personal-account-button a:hover, .loginPage_page .personal-account-bottom #personal-account-button a:hover { animation:mymove 2s infinite; -webkit-animation:mymove 2s infinite; }




/* BEGIN CORE-7547 */
#uploadFileButton {
	/*cursor: pointer;*/
	display: inline-block;
	overflow: hidden;
	position: relative;
	margin-top: -20px;
}

#uploadFileButton div > input[type="file"]{
	cursor: pointer;
	position: absolute;
	top: 0;
	opacity: 0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#uploadFileButton div > input[type="file"]:disabled{
	cursor: default !important;
}

#uploadFileButton .button{
	background: white;
	border-radius: 5px;
	display: inline-block;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	font-size: 14px;
	font-weight: bold;
	padding: 0px 8px;
	color: red;
	z-index:100;
	line-height: 25px;
}

#uploadFileButton .button img{
	width: 20px;
	height: 20px;
	float: left;
	margin-right: 5px;
}

.personal-account-body #file-upload-area{
	/*width: 260px;
	margin-left: 613px;
	height: 80px;*/
}

#uploadFileButton .fileUploadInformation{
	margin-left: 8px;
	font-style: italic;
}

#file-upload-area #file-upload-result{
	margin-left: 8px;
	margin-top:8px;
	font-size: 12px;
	font-weight: bold;
}

#file-upload-area #file-upload-result a.MultiFile-remove{
	color: red;
}

#continueWithoutLoggin{
	margin-right: 45px;
	margin-top: 20px;
}

form[name="frm_contact"] .mandatoryField{
	width: 410px;
	margin-right: -30px;
}


form[name="frm_contact"] .textarea .mandatoryField .ValidationCheck {
	position: relative;
	float: right;
	right: 10px;
	z-index: 1;
}
/* END CORE-7547 */

/* BEGIN MEP280415 Yhafidi*/
/*body.product_page .bloc-continue-shopping-button{	top:230px;	left:30px;	margin:0;  	width:240px;}*/


/*
.shipping-title{	width: 450px;	 height:  65px;}
.shipping-content-selected{	width: 290px;}
.shipping-content{ left: 473px; width: 290px;}
#decathlon-relay-map{width: auto;}
.parcel-shop-enable{width: auto;}
*/

.box_top .box_title{width : 310px;}

.order-total-shipping-step1{display: block;}

/* END MEP280415 Yhafidi*/



/* BEGIN BO OSMOSE : Changes since the 1er September 2015  to 31 November 2015*/

.cross-selling .product .product_price {
    position: relative;
}


/* END BO OSMOSE : Changes since the 1er September 2015  to 31 November 2015*/
