/**
* @author    JoomlaShine.com http://www.joomlashine.com
* @copyright Copyright (C) 2006 - 2010 JoomlaShine.com. All rights reserved.
* @license   GNU/GPL v2 http://www.gnu.org/licenses/gpl-2.0.html
*/
/* ============================== DEFAULT HTML ============================== */
/* =============== DEFAULT HTML - GENERAL STYLES =============== */
html, body {
	line-height: 1.5;
	margin: 0;
	padding: 0;
}
body {
	font-size: 75%;
	font-family: Arial, Helvetica, sans-serif;
}
/* =============== DEFAULT HTML - TEXT STYLES =============== */
p, pre, blockquote, form, dl, ul, ol, fieldset, address {
	margin: 0.35em 0 0.8em 0;
	padding: 0;
}
fieldset {
	padding: .5em;
}
small {
	font-size: .85em;
}
sup {
	font-size: .8em;
	position: relative;
	bottom: 0.3em;
	vertical-align: baseline;
}
sup em {
	color: red;
}
acronym, abbr {
	border-bottom: 1px dashed;
	letter-spacing: 1px;
	cursor: help;
}
pre {
	background: #FFFFD5;
	font-family: "Courier New",Courier,monospace;
	padding: 1em;
	border-left: 5px solid #404040;
}
blockquote {
	font-style: italic;
	min-height: 45px;
	color: #404040;
	padding-left: 60px;
	background: url(../images/icons/icon-text-blockquote.png) no-repeat top left;
}
/* =============== DEFAULT HTML - HEADING STYLES =============== */
h1 {
	font-size: 1.4em;
	color: #000000;
}
h2 {
	font-size: 1.3em;
	color: #000000;
}
h3 {
	font-size: 1.2em;
	color: #CC3333;
}
h4 {
	font-size: 1.1em;
	color: #CC8033;
}
h5, h6 {
	font-size: 1em;
	font-weight: bold;
	color: #333333;
}
h1, h2, h3, h4, h5, h6 {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin: 0.8em 0 0.3em 0;
}
/* =============== DEFAULT HTML - LINK STYLES =============== */
a {
	text-decoration: none;
	outline: none;
	color: #009aca;
}
a:hover {
	text-decoration: underline;
}
a:active {
	text-decoration: none;
}
a img {
	border: none;
}
/* =============== DEFAULT HTML - LIST STYLES =============== */
ul li {
	margin: 0.3em 0 0.3em 1.6em;
	padding: 0;
}
ol li {
	margin: 0.3em 0 0.3em 2em;
	padding: 0;
}
/* =============== DEFAULT HTML - IMAGES STYLES =============== */
img {
	border: none;
}
/* ============================== LAYOUT ============================== */
/* =============== LAYOUT - GENERAL LAYOUT =============== */
.clearafter:after {
	clear: both;
	display: block;
	content: ".";
	height: 0;
	visibility: hidden;
}
.clearbreak {
	clear: both;
}
div.jsn-modulescontainer2 div.jsn-modulecontainer {
	float: left;
	width: 49.95%;
}
div.jsn-modulescontainer3 div.jsn-modulecontainer {
	float: left;
	width: 33.3%;
}
div.jsn-modulescontainer4 div.jsn-modulecontainer {
	float: left;
	width: 24.975%;
}
div.jsn-modulescontainer5 div.jsn-modulecontainer {
	float: left;
	width: 19.98%;
}
div.jsn-modulescontainer6 div.jsn-modulecontainer {
	float: left;
	width: 16.65%;
}
div.jsn-modulescontainer {
	padding: 2px 5px;
}
div.jsn-modulescontainer div.jsn-modulecontainer_inner {
	padding: 5px 10px;
}
div.jsn-modulescontainer2 #jsn-pos-user1,
div.jsn-modulescontainer2 #jsn-pos-user2,
div.jsn-modulescontainer2 #jsn-pos-user3,
div.jsn-modulescontainer2 #jsn-pos-user4,
div.jsn-modulescontainer2 #jsn-pos-user5,
div.jsn-modulescontainer2 #jsn-pos-user6,
div.jsn-modulescontainer2 #jsn-pos-user7 {
	float: left;
	width: 49.95%;
}
div.jsn-modulescontainer3 #jsn-pos-user5,
div.jsn-modulescontainer3 #jsn-pos-user6,
div.jsn-modulescontainer3 #jsn-pos-user7 {
	float: left;
	width: 33.3%;
}
#jsn-usermodules1 div.jsn-modulecontainer,
#jsn-usermodules2 div.jsn-modulecontainer,
#jsn-usermodules3 div.jsn-modulecontainer {
	float: none;
	width: auto;
}
/* =============== LAYOUT - OVERALL PAGE =============== */
#jsn-master {
	background: repeat-x fixed left top;
}
#jsn-page {
	background-color: #fff;
	color: #000;
	border-left: 2px solid #000000;
	border-right: 2px solid #000000;
	width: 960px;
	
	margin: 0 auto;
}
/* ----- STICKLEFT / STICKRIGHT ----- */
#jsn-pos-stickleft {
	position: fixed;
	left: 0;
	visibility: hidden;
}
#jsn-pos-stickright {
	position: fixed;
	right: 0;
	visibility: hidden;
}
/* =============== LAYOUT - HEADER AREA =============== */
#jsn-header {
	position: relative;
	overflow: hidden;
}
#jsn-pos-logo {
	line-height: 0;
}
#jsn-pos-logo h1 {
	display: none;
}
#jsn-pos-top {
	position: absolute;
	top: 28px;
	right: 20px;
}
#jsn-pos-top form {
	margin: 0;
}
#jsn-pos-top div.jsn-modulecontainer {
	float: right;
	margin-left: 10px;
}
/* =============== LAYOUT - MENU AREA =============== */
#jsn-menu {
	
	color: #f2f2f2;
	position: relative;
	z-index: 89;
	background-image: url(/images/bgn.jpg);
	background-repeat: repeat;	
}
#jsn-pos-mainmenu {
	float: left;
	margin: 3px 0 0 1px;
}
#jsn-pos-toolbar {
	float: right;
}
#jsn-pos-toolbar div.jsn-modulecontainer {
	float: right;
	margin-left: 10px;
}
/* =============== LAYOUT - FEATURED AREA =============== */
#jsn-featured {
	color: #D4D4D4;
	border-bottom: 5px solid #404040;
	background-color: #ffffff;
	background-image: url(/images/bgn2.jpg);
	background-repeat: repeat-x;
}
#jsn-featured h3.jsn-moduletitle {
	color: #fff;
}
#jsn-pos-promo-left div.jsn-modulecontainer,
#jsn-pos-promo-right div.jsn-modulecontainer {
	padding: 18px 12px 0px;
}
/* =============== LAYOUT - CONTENT TOP AREA =============== */
#jsn-content-top {
	border-bottom: 6px solid #404040;
}
/* =============== LAYOUT - CONTENT AREA =============== */
#jsn-content,
#jsn-content_inner,
#jsn-content_inner1,
#jsn-content_inner2,
#jsn-content_inner3,
#jsn-content_inner4,
#jsn-content_inner5,
#jsn-content_inner6,
#jsn-content_inner7,
#jsn-maincontent,
#jsn-centercol,
#jsn-pos-innerleft,
#jsn-leftsidecontent {
	position: relative;
}
#jsn-content {
	overflow: hidden;
}
div.jsn-hasleft #jsn-content_inner {
	background: #E5E5E5 url(../images/backgrounds/bg-leftside.png) right top repeat-y;
}
div.jsn-hasright #jsn-content_inner2 {
	background: #E5E5E5 url(../images/backgrounds/bg-rightside.png) left top repeat-y;
}
div.jsn-hasinnerleft #jsn-content_inner4 {
	background: url(../images/border.png) right top repeat-y;
}
div.jsn-hasinnerright #jsn-content_inner6 {
	background: url(../images/border.png) left top repeat-y;
}
#jsn-leftsidecontent_inner,
#jsn-rightsidecontent_inner,
#jsn-pos-innerleft_inner,
#jsn-pos-innerright_inner {
	padding: 5px;
}
#jsn-leftsidecontent div.jsn-modulecontainer,
#jsn-rightsidecontent div.jsn-modulecontainer,
#jsn-pos-innerleft div.jsn-modulecontainer,
#jsn-pos-innerright div.jsn-modulecontainer {
	margin: 8px 10px;
}
#jsn-leftsidecontent div[class*=box-].jsn-modulecontainer,
#jsn-rightsidecontent div[class*=box-].jsn-modulecontainer,
#jsn-pos-innerleft div[class*=box-].jsn-modulecontainer,
#jsn-pos-innerright div[class*=box-].jsn-modulecontainer {
	margin: 8px 5px;
}
#jsn-leftside-middle.jsn-positionscontainer2 div.jsn-modulecontainer,
#jsn-rightside-middle.jsn-positionscontainer2 div.jsn-modulecontainer {
	margin-top: 0;
	margin-bottom: 0;
}
#jsn-leftside-middle.jsn-positionscontainer2 div#jsn-left-2,
#jsn-rightside-middle.jsn-positionscontainer2 div#jsn-right {
	float: left;
	width: 49.95%;
}
#jsn-leftside-middle.jsn-positionscontainer2 div#jsn-left,
#jsn-rightside-middle.jsn-positionscontainer2 div#jsn-right-2 {
	float: right;
	width: 49.95%;
}
#jsn-pos-left,
#jsn-pos-right,
#jsn-pos-left-2,
#jsn-pos-right-2 {
	padding: 0;
}
#jsn-centercol_inner {
	padding: 0 1px;
}
#jsn-mainbody {
	
}
#jsn-pos-breadcrumbs {
	padding: 0.6em 1em;
}
#jsn-pos-breadcrumbs,
#jsn-pos-user-top,
#jsn-mainbody-content,
#jsn-pos-user-bottom,
#jsn-pos-banner,
#jsn-usermodules1,
#jsn-usermodules2 {
	background: url(../images/dot.png) repeat-x left bottom;
}
#jsn-usermodules1_inner_grid2,
#jsn-usermodules2_inner_grid2 {
	width: 100%;
	background: url(../images/dot.png) repeat-y 50% top;
}
#jsn-pos-banner {
	text-align: center;
	margin: 0 auto;
	padding: 20px 0;
}
/* =============== LAYOUT - CONTENT BOTTOM AREA =============== */
#jsn-content-bottom {
	border-top: 2px solid #ffffff;
	border-bottom: 6px solid #404040;
	background: #d9d9d9 url(../images/backgrounds/bg-usermodules3.png) repeat-x left top;
}
/* =============== LAYOUT - FOOTER AREA =============== */
#jsn-footer {
	/*background-image: url("http://nirwana.in/cscdemo/images/bgn.jpg");*/
	font-size: 0.9em;
	color: #FFF;
	border-top: 1px solid #b3b3b3;
	padding: 5px;
	height:20px;
}
#jsn-footer a {
	text-decoration: underline;
}
#jsn-footer a:hover {
	text-decoration: none;
}
#jsn-pos-bottom {
	text-align: right;
}
#jsn-footer.jsn-positionscontainer2 div#jsn-pos-footer {
	float: left;
	width: 49.95%;
}
#jsn-footer.jsn-positionscontainer2 div#jsn-pos-bottom {
	float: right;
	width: 49.95%;
}
#jsn-footer div.jsn-modulecontainer_inner {
	padding: 5px 10px;
}
#jsn-copyright {
	text-align: center;
	padding: 5px 0;
}
#jsn-copyright a {
	font-size: 0.8em;
	color: #366999;
}
/* ============================== TYPOGRAPHY ============================== */
/* =============== TYPOGRAPHY - GENERAL TYPOGRAPHY =============== */
.hd {
	display: none;
}
/* ----- PREDEFINED CONTENT ALIGN ----- */
.align-left {
	float: left;
}
.align-right {
	float: right;
}
.margin-right {
	margin-left: 0;
	margin-right: 1em;
}
.margin-left {
	margin-left: 1em;
	margin-right: 0;
}
.align-center {
	margin-left: auto;
	margin-right: auto;
}
.content-center {
	text-align: center;
}
/* =============== TYPOGRAPHY - TEXT STYLES =============== */
.text-box {
	border: 1px solid #e5e5e5;
	padding: .8em;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-moz-box-shadow: 0px 0px 2px #999999;
}
.text-box-highlight {
	padding: .8em;
	border: 1px solid transparent;
}
.text-box-highlight:hover {
	background-color: #f2f2f2;
	border-color: #d9d9d9;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-moz-box-shadow: 0px 0px 2px #999999;
}
.text-highlight {
	padding: .2em .5em;
	background: #FFFFAA;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
.text-highlight.highlight-green {
	color: #fff;
	background: #48691b;
}
.text-highlight.highlight-light {
	color: #000;
	background: #e5e5e5;
}
.text-highlight.highlight-dark {
	color: #fff;
	background: #8e8e8e;
}
.text-dropcap:first-letter,
.text-dropcap :first-child:first-letter {
	color: #404040;
	font: 4em/.8em "Times New Roman", Times, serif;
	float: left;
}
.text-size-small {
	font-size: 0.9em;
}
.text-size-medium {
	font-size: 1em;
}
.text-size-large {
	font-size: 1.1em;
}
.text-size-xlarge {
	font-size: 1.2em;
}
.text-size-xxlarge {
	font-size: 1.3em;
}
hr.line-dots {
	background: url(../images/dot.png) repeat-x center left;
	padding: 0.5em 0;
	border: none;
}
hr.line-solid {
	
}
/* ----- ACTION LINK ----- */
.link-action {
	font-weight: bold;
	text-decoration: underline;
}
.link-action:hover {
	background-color: #0066FF;
	color: #ffffff;
	text-decoration: none;
}
/* ----- HIGHLIGHT LINK ----- */
.link-highlight {
	color: #595959;
	font-weight: bold;
	display: block;
	padding: 5px;
	border: 1px solid transparent;
}
.link-highlight:hover {
	background-color: #f2f2f2;
	border-color: #d9d9d9;
	color: #000;
	text-decoration: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-moz-box-shadow: 0px 0px 2px #999999;
}
/* =============== TYPOGRAPHY - LIST STYLES =============== */
/* ----- ARROW LIST ----- */
ul.list-arrow {
	list-style: none;
}
ul.list-arrow li{
	margin-left: 0;
	padding-left: 16px;
}
ul.list-arrow.arrow-red li {
	background: url(../images/icons/icons-arrow.png) no-repeat 0 0;
}
ul.list-arrow.arrow-blue li {
	background: url(../images/icons/icons-arrow.png) no-repeat 0 -86px;
}
ul.list-arrow.arrow-green li {
	background: url(../images/icons/icons-arrow.png) no-repeat 0 -172px;
}
/* =============== TYPOGRAPHY - IMAGES STYLES =============== */
img.image-left {
	float: left;
	margin: 0.5em 1em 0.5em 0;
}
img.image-right {
	float: right;
	margin: 0.5em 0.5em 0.5em 1em;
}
img.image-border {
	border: 1px solid #e5e5e5;
	padding: 3px;
}
img.image-margin {
	margin: .5em;
}
/* ============================== MENU ============================== */
/* =============== MENU - MAIN MENU =============== */
/* ----- GENERAL ----- */
ul#base-mainmenu {
	margin: 0;
	padding: 0;
}
ul#base-mainmenu li {
	margin: 0;
	padding: 0;
	list-style-type: none;
	float: left;
	border-right: 1px solid #404040;
}
ul#base-mainmenu li a {
	display: block;
	color: #cfdbe5;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	border-right: 1px solid #000;
	cursor: pointer;
	padding: 6px 1em;
}
ul#base-mainmenu li:hover a,
ul#base-mainmenu li.sfhover a,
ul#base-mainmenu li.active a {
	background-color: #404040;
	color: #fff;
}
ul#base-mainmenu li:hover ul a,
ul#base-mainmenu li.sfhover ul a,
ul#base-mainmenu li.active ul a {
	background-color: transparent;
	color: #D9D9D9;
}
ul#base-mainmenu li a span {
	display: block;
	line-height: 16px;
}
ul#base-mainmenu li a span.separator,
ul#base-mainmenu li a span.jsn-menutitle,
ul#base-mainmenu li a span.jsn-menudescription {
	padding: 0;
	background: none;
}
/* ----- 1st LEVEL ----- */
ul#base-mainmenu ul {
	position: absolute;
	width: 185px;
	left: -999em;
	margin: 0 0 0 -2px;
	padding: 0;
}
ul#base-mainmenu ul li {
	width: 185px;
	border: none;
	position: relative;
}
ul#base-mainmenu ul li a {
	display: block;
	border-left: 1px solid #162c40;
	border-right: none;
	padding: 4px 0 4px 10px;
	font-size: 0.9em;
	font-weight: normal;
	background: none;
}
ul#base-mainmenu ul ul {
	margin-left: 185px;
	top: 0;
}
/* ----- PARENT ITEMS / ADD ARROW TO ITEMS HAVE SUBLEVEL ----- */
div.jsn-modulecontainer ul#base-mainmenu ul li.parent a span,
div.jsn-modulecontainer ul#base-mainmenu ul li.parent li.parent a span,
div.jsn-modulecontainer ul#base-mainmenu ul li.parent li.parent li.parent a span {
	background: url(../images/icons/icons-arrow.png) no-repeat right -343px;
	padding-right: 16px;
}
div.jsn-modulecontainer ul#base-mainmenu ul li.parent a span.separator,
div.jsn-modulecontainer ul#base-mainmenu ul li.parent li.parent a span.separator,
div.jsn-modulecontainer ul#base-mainmenu ul li.parent li.parent li.parent a span.separator,
div.jsn-modulecontainer ul#base-mainmenu ul li.parent a span.jsn-menutitle,
div.jsn-modulecontainer ul#base-mainmenu ul li.parent li.parent a span.jsn-menutitle,
div.jsn-modulecontainer ul#base-mainmenu ul li.parent li.parent li.parent a span.jsn-menutitle,
div.jsn-modulecontainer ul#base-mainmenu ul li.parent a span.jsn-menudescription,
div.jsn-modulecontainer ul#base-mainmenu ul li.parent li.parent a span.jsn-menudescription,
div.jsn-modulecontainer ul#base-mainmenu ul li.parent li.parent li.parent a span.jsn-menudescription {
	background: none;
	padding-right: 0;
}
/* ----- CLEAR PARENT ITEMS / REMOVE ARROW FROM ITEMS DON'T HAVE SUBLEVEL ----- */
div.jsn-modulecontainer ul#base-mainmenu ul li.parent ul a span,
div.jsn-modulecontainer ul#base-mainmenu ul li.parent li.parent ul a span,
div.jsn-modulecontainer ul#base-mainmenu ul li.parent li.parent li.parent ul a span {
	background: none;
	padding-right: 10px;
}
/* ----- ACTIVE STATE / MAKE ACTIVE ITEM BOLD ----- */
ul#base-mainmenu li.active a,
ul#base-mainmenu li.active li.active a,
ul#base-mainmenu li.active li.active li.active a {
	font-weight: bold;
	color: #fff;
}
/* ----- CLEAR ACTIVE STATE / MAKE NON-ACTIVE ITEM NORMAL ----- */
ul#base-mainmenu li.active ul a,
ul#base-mainmenu li.active li.active ul a,
ul#base-mainmenu li.active li.active li.active ul a {
	color: #D9D9D9;
	font-weight: normal;
}
/* ----- CURRENT STATE ----- */
ul#base-mainmenu li.active ul a.current,
ul#base-mainmenu li.active li.active ul a.current,
ul#base-mainmenu li.active li.active li.active ul a.current {
	color: #fff;
	font-weight: bold;
}
/* ----- HOVER STATE ----- */
ul#base-mainmenu li a:hover {
	text-decoration: none;
	color: #fff !important;
}
ul#base-mainmenu ul li:hover a,
ul#base-mainmenu ul li:hover li:hover a,
ul#base-mainmenu ul li:hover li:hover li:hover a,
ul#base-mainmenu ul li.sfhover a,
ul#base-mainmenu ul li.sfhover li.sfhover a,
ul#base-mainmenu ul li.sfhover li.sfhover li.sfhover a {
	color: #fff;
}
/* ----- CLEAR HOVER STATE / MAKE UN-HOVER ITEM BACK TO NORMAL COLOR ----- */
ul#base-mainmenu ul li:hover ul a,
ul#base-mainmenu ul li:hover li:hover ul a,
ul#base-mainmenu ul li:hover li:hover li:hover ul a,
ul#base-mainmenu ul li.sfhover ul a,
ul#base-mainmenu ul li.sfhover li.sfhover ul a,
ul#base-mainmenu ul li.sfhover li.sfhover li.sfhover ul a {
	color: #D9D9D9;
}
/* ----- ROLLOVER STATE / DISPLAY SUB-MENU OF SELECTED MENU ITEM ----- */
ul#base-mainmenu li:hover ul,
ul#base-mainmenu li:hover ul li:hover ul,
ul#base-mainmenu li:hover ul li:hover ul li:hover ul,
ul#base-mainmenu li.sfhover ul,
ul#base-mainmenu li.sfhover ul li.sfhover ul,
ul#base-mainmenu li.sfhover ul li.sfhover ul li.sfhover ul {
	left: auto;
	right: auto;
}
/* ----- CLEAR ROLLOVER STATE / HIDE SUB-MENU OF NON-SELECTED MENU ITEM ----- */
ul#base-mainmenu li:hover ul ul,
ul#base-mainmenu li:hover ul li:hover ul ul,
ul#base-mainmenu li:hover ul li:hover ul li:hover ul ul,
ul#base-mainmenu li.sfhover ul ul,
ul#base-mainmenu li.sfhover ul li.sfhover ul ul,
ul#base-mainmenu li.sfhover ul li.sfhover ul li.sfhover ul ul {
	left: -999em;
}
ul#base-mainmenu,
ul#base-mainmenu li li {
	clear: both;
}
/* =============== MENU - TREE MENU =============== */
/* ----- GENERAL ----- */
ul.menu-treemenu {
	border-top: 1px dotted #b3b3b3;
	color:#036;
}
ul.menu-treemenu,
ul.menu-treemenu ul {
	list-style: none;
	padding: 0;
	margin: 0;
	color:#036;
}
ul.menu-treemenu li {
	padding: 0;
	margin: 0;
	color:#039;
}
ul.menu-treemenu li a {
	display: block;
	border-bottom: 1px dotted #b3b3b3;
	color:#039;
	text-decoration: none;
	background: url(../images/icons/icons-base.png) left -339px no-repeat;
	padding: 3px 0 3px 17px;
	cursor: pointer;
}
/* ---------- 1st LEVEL ---------- */
ul.menu-treemenu ul li {
	margin-left: 1em;
}
ul.menu-treemenu ul li a {
	border-bottom: none;
	color:#039;
}
ul.menu-treemenu li a:hover {
	color: #000000;
	text-decoration: none;
	background-color: #EFEFEF;
}
/* ----- CURRENT STATE ----- */
ul.menu-treemenu li a.current {
	font-weight: bold;
	background: url(../images/icons/icons-arrow.png) no-repeat 0 5px;
}
ul.menu-treemenu li a.current span {
	color: #000;
}
div.box-grey ul.menu-treemenu li a.current span {
	color: #FFF;
}
/* ---------- MODULE BOX APPLY ---------- */
div.box-grey ul.menu-treemenu li a {
	color:#039;
}
div.box-grey ul.menu-treemenu li a:hover,
div.box-grey ul.menu-treemenu li.active a.current {
	background-color: #404040;
	color: #FFF;
}

/*start*/
.menu_boxgrey2 li
{
  list-style: none;
}
.menu_boxgrey2 li img
{
  padding-top:5px;
}
/*end*/

div.box-yellow ul.menu-treemenu li a:hover,
div.box-yellow ul.menu-treemenu li.active a.current {
	background-color: #f5f5d4;
}
div.box-green ul.menu-treemenu li a:hover,
div.box-green ul.menu-treemenu li.active a.current {
	background-color: #e2f5d4;
}
div.box-blue ul.menu-treemenu li a:hover,
div.box-blue ul.menu-treemenu li.active a.current {
	background-color: #d4eaf5;
}
/* =============== MENU - DIV MENU =============== */
ul.menu-divmenu {
	margin: 0;
	padding: 0;
	list-style: none;
}
ul.menu-divmenu li {
	display: inline;
	margin: 0;
	padding: 0 0.8em;
	border-right: 1px solid #B3B3B3;
}
ul.menu-divmenu li a {
	display: inline-block;
	color: #000;
}
ul.menu-divmenu li.last {
	border-right: none;
}
ul.menu-divmenu li a:hover {
	text-decoration: underline;
}
/* ============================== MODULE STYLES ============================== */
div.jsn-middle div.jsn-modulecontent {
	padding-top: 0px;
}
h3.jsn-moduletitle {
	margin: 0;
	color: #000;
	font-size: 1.1em;
}
h3.jsn-moduletitle span.jsn-moduleicon {
	display: block;
	line-height: 16px;
}
/* ----- RICH MENU STYLE ----- */
.jsn-menutitle,
.jsn-menudescription {
	display: block;
}
.jsn-menudescription {
	font-weight: normal;
	font-size: 0.9em;
	color: #B8B8B8;
	background: none !Important;
}
/* =============== MODULE STYLES - MODULE BOXES =============== */
div[class*=box-].jsn-modulecontainer div.jsn-top {
	height: 15px;
	margin-left: 15px;
}
div[class*=box-].jsn-modulecontainer div.jsn-top_inner {
	height: 15px;
	width: 15px;
	margin-left: -15px;
}
div[class*=box-].jsn-modulecontainer div.jsn-middle {
	padding: 0 15px 0 0;
	margin-left: 15px;
}
div[class*=box-].jsn-modulecontainer div.jsn-middle_inner {
	padding-left: 15px;
	margin-left: -15px;
	padding-bottom: 1px;
}
div[class*=box-].jsn-modulecontainer div.jsn-bottom {
	height: 22px;
	margin-left: 15px;
}
div[class*=box-].jsn-modulecontainer div.jsn-bottom_inner {
	height: 22px;
	width: 15px;
	margin-left: -15px;
}
/* ----- MODULE BOX BLUE ----- */
div.box-blue div.jsn-top {
	background: url(../images/module-styles/module-box-blue.png) right top no-repeat;
}
div.box-blue div.jsn-top_inner {
	background: url(../images/module-styles/module-box-blue.png) left top no-repeat;
}
div.box-blue div.jsn-middle {
	background: url(../images/module-styles/module-box-blue_m.png) right top repeat-y;
}
div.box-blue div.jsn-middle_inner {
	background: url(../images/module-styles/module-box-blue_m.png) left top repeat-y;
}
div.box-blue div.jsn-bottom {
	background: url(../images/module-styles/module-box-blue.png) right bottom no-repeat;
}
div.box-blue div.jsn-bottom_inner {
	background: url(../images/module-styles/module-box-blue.png) left bottom no-repeat;
}
/* ----- MODULE BOX GREEN ----- */
div.box-green div.jsn-top {
	background: url(../images/module-styles/module-box-green.png) right top no-repeat;
}
div.box-green div.jsn-top_inner {
	background: url(../images/module-styles/module-box-green.png) left top no-repeat;
}
div.box-green div.jsn-middle {
	background: url(../images/module-styles/module-box-green_m.png) right top repeat-y;
}
div.box-green div.jsn-middle_inner {
	background: url(../images/module-styles/module-box-green_m.png) left top repeat-y;
}
div.box-green div.jsn-bottom {
	background: url(../images/module-styles/module-box-green.png) right bottom no-repeat;
}
div.box-green div.jsn-bottom_inner {
	background: url(../images/module-styles/module-box-green.png) left bottom no-repeat;
}
/* ----- MODULE BOX YELLOW ----- */
div.box-yellow div.jsn-top {
	background: url(../images/module-styles/module-box-yellow.png) right top no-repeat;
}
div.box-yellow div.jsn-top_inner {
	background: url(../images/module-styles/module-box-yellow.png) left top no-repeat;
}
div.box-yellow div.jsn-middle {
	background: url(../images/module-styles/module-box-yellow_m.png) right top repeat-y;
}
div.box-yellow div.jsn-middle_inner {
	background: url(../images/module-styles/module-box-yellow_m.png) left top repeat-y;
}
div.box-yellow div.jsn-bottom {
	background: url(../images/module-styles/module-box-yellow.png) right bottom no-repeat;
}
div.box-yellow div.jsn-bottom_inner {
	background: url(../images/module-styles/module-box-yellow.png) left bottom no-repeat;
}
/* ----- MODULE BOX GREY ----- */
div.box-grey div.jsn-top {
	background: url(../images/module-styles/module-box-grey.png) right top no-repeat;
}
div.box-grey div.jsn-top_inner {
	background: url(../images/module-styles/module-box-grey.png) left top no-repeat;
}
div.box-grey div.jsn-middle {
	background: url(../images/module-styles/module-box-grey_m.png) right top repeat-y;
}
div.box-grey div.jsn-middle_inner {
	background: url(../images/module-styles/module-box-grey_m.png) left top repeat-y;
}
div.box-grey div.jsn-bottom {
	background: url(../images/module-styles/module-box-grey.png) right bottom no-repeat;
}
div.box-grey div.jsn-bottom_inner {
	background: url(../images/module-styles/module-box-grey.png) left bottom no-repeat;
}
/* ----- CUSTOM BOX STYLE IN SPECIFIC POSITION ----- */
#jsn-featured div[class*=box-].jsn-modulecontainer,
#jsn-featured div[class*=box-].jsn-modulecontainer h3.jsn-moduletitle {
	color: #000;
}
div.box-grey,
#jsn-featured div.box-grey {
	color: #d4d4d4;
}
div.box-grey h3.jsn-moduletitle,
#jsn-featured div.box-grey h3.jsn-moduletitle {
	color: #FFF;
}
/* ============================== JOOMLA! DEFAULT EXTENSIONS ============================== */
/* =============== JOOMLA! EXTENSIONS - GENERAL =============== */
/* ----- HEADING ----- */
.contentheading,
.componentheading {
	font-size: 1.4em;
	margin-top: 0;
	font-weight: normal;
}
table.contentpaneopen {
	width: 100%;
}
/* ----- FORM ----- */
.jsn-formbuttons {
	text-align: center;
	padding-top: .45em;
}
table.paramlist td {
	padding: .3em;
}
table.paramlist td.paramlist_key {
	width: 150px;
}
/* ----- TOOLTIPS ----- */
.tool-tip {
	float: left;
	background: #ffc;
	border: 1px solid #D4D5AA;
	padding: 5px;
	max-width: 200px;
}
.tool-title {
	padding: 0;
	margin: 0;
	font-size: 100%;
	font-weight: bold;
	margin-top: -15px;
	padding-top: 15px;
	padding-bottom: 5px;
	background: url(../../system/images/selector-arrow.png) no-repeat;
}
.tool-text {
	font-size: 100%;
	margin: 0;
}
/* ----- POP-UP / PRINT WINDOWS ----- */
body.contentpane {
	color: #000000;
	background: #FFFFFF;
}
body.contentpane div.com-content {
	padding: 1em;
}
/* =============== JOOMLA! EXTENSIONS - COM_CONTENT =============== */
/* ----- ARTICLE METADATA ----- */
.jsn-article-metadata {
	margin: 0.3em 0;
}
/* ----- ARTICLE TOOLBAR ----- */
.jsn-article-toolbar {
	margin-bottom: .6em;
	background-color: #f4f4f4;
	position: relative;
	min-height: 28px;
}
/* ----- ARTICLE INFO ----- */
.jsn-article-info {
	padding: 0.3em 0.6em;
}
.author,
.createdate {
	padding-left: 22px;
	margin: 5px 0;
	color: #595959;
	font-size: 0.9em;
}
.author {
	background: url(../images/icons/icons-base.png) no-repeat 0 0;
}
.createdate {
	background: url(../images/icons/icons-base.png) no-repeat 0 -86px;
}
.modifydate {
	margin: 1em 0;
	text-align: right;
	color: #999999;
	font-style: italic;
}
/* ----- 3 BUTTON PDF, PRINT, EMAIL CONTAINER ----- */
ul.jsn-article-tools {
	float: right;
	margin: 0;
	padding: 6px;
	list-style: none;
}
ul.jsn-article-tools li {
	margin: 0 0 0 10px;
	float: left;
}
ul.jsn-article-tools li a {
	float: left;
	display: block;
	height: 16px;
	width: 16px;
	background: url(../images/icons/icons-base.png) left top no-repeat;
}
ul.jsn-article-tools li a.jsn-article-print-button {
	background-position: 0 -430px;
}
ul.jsn-article-tools li a.jsn-article-email-button {
	background-position: 0 -516px;
}
ul.jsn-article-tools li a.jsn-article-pdf-button {
	background-position: 0 -602px;
}
ul.jsn-article-tools li a:hover {
	text-decoration: none;
}
/* ----- READ MORE ----- */
a.readon {
	padding: 3px 6px;
	color: #404040;
	border: 1px solid #e5e5e5;
	background: #F4F4F4;
}
a.readon:hover {
	background-color: #e5e5e5;
	text-decoration: none;
}
/* ----- TABLE OF CONTENT ----- */
table.contenttoc {
	margin: 0 0 1em 1em;
	border: 1px solid #D9D9D9;
	background: #f2f2f2;
	float: right;
}
table.contenttoc th {
	padding: .4em;
	background: url(../images/grey_dot.png) bottom repeat-x;
	font-weight: bold;
	text-align: center;
}
table.contenttoc td {
	padding: .25em .6em;
}
/* PAGE LINK IN TOC */
a.toclink {
	font-size: .9em;
}
/* PAGE NUMBER SHOWING "PAGE 1 OF ..." UNDER TOC */
div.pagenavcounter {
	color: #595959;
	margin: .5em 0;
	font-size: .9em;
	font-weight: bold;
}
/* PAGE NAVIGATION */
div.pagenavbar div {
	color: #999999;
	font-weight: bold;
	font-size: .9em;
}
/* ----- SECTION / CATEGORY BLOG LAYOUT ----- */
/* SEPARATOR BETWEEN ARTICLES */
span.article_separator {
	display: block;
	height: 0.5em;
}
/* ARTICLE COLUMN CONTAINER */
.jsn-articlecols {
	float: left;
}
.jsn-articlecols .jsn-article {
	padding: 0 5px;
}
/* "MORE ARTICLES..." PANEL HEADING TEXT */
div.blog_more {
	background-color:#F4F4F4;
	border: 1px solid #e5e5e5;
	padding: 0.2em 1em;
	margin: 0 0 1em 0;
}
/* PAGE PAGINATION */
ul.jsn-pagination {
	list-style-type: none;
	text-transform: uppercase;
}
ul.jsn-pagination li {
	display: inline;
	margin: 0;
}
ul.jsn-pagination li a,
ul.jsn-pagination li span {
	font-weight: bold;
	padding: 3px 8px;
	border: 1px solid #CCC;
	background-color: #EAEAEA;
	color: #999;
}
ul.jsn-pagination li a:hover {
	color: #000;
	text-decoration: none;
}
ul.jsn-pagination li.navigation-page span {
	border: none;
	padding: 4px 9px;
	color: #fff;
}
ul.jsn-pagination,
p.jsn-pageinfo {
	text-align: center;
	margin: 0 0 10px;
	font-size: 0.9em;
}
/* BLOG PAGES NAV LINK */
a.pagenav {
	text-transform: uppercase;
}
/* ----- CATEGORY LIST LAYOUT ----- */
/* DESCRIPTION IN CONTENT TABLE AND COMPONENT PAGE */
.contentdescription {
	padding: .5em 0;
}
/* TABLE IN CATEGORY TABLE PAGE */
.sectiontableheader {
	padding: 5px 8px;
	font-weight: bold;
	font-size: 1.1em;
	color: #FFFFFF;
}
.sectiontableheader img {
	margin: 0;
	padding: 0 0 12px 0;
}
.sectiontableheader a {
	color: #ffffff;
	text-decoration: underline;
}
.sectiontableheader a:hover {
	text-decoration: none;
}
/* TABLE FILTER */
.jsn-infofilter {
	padding: 0.6em 0;
	text-align: right;
}
.jsn-titlefilter {
	float: left;
}
.archived-article-list .jsn-infofilter {
	text-align: left;
}
/* TABLE'S ROW 1 */
tr.sectiontableentry1 td {
	padding: 5px 8px;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
}
/* TABLE'S ROW 2 */
tr.sectiontableentry2 td {
	padding: 5px 8px;
}
/* ----- SECTION LAYOUT ----- */
/* LINKS IN SECTION TABLE PAGE */
a.category {
	font-weight: bold;
}
/* =============== JOOMLA! EXTENSIONS - COM_CONTACT =============== */
/* ----- STANDARD CONTACT LAYOUT - CONTACT FORM INPUT BOXES ----- */
input#contact_name,
input#contact_email,
input#contact_subject,
#contact_text {
	display: block;
}
/* =============== JOOMLA! EXTENSIONS - COM_POOL =============== */
/* ----- POOL RESULT FOR EACH ANSWER ----- */
table.pollstableborder tr.sectiontableentry0 td {
	background-color: #f2f2f2;
	padding: .5em .8em;
}
table.pollstableborder tr.sectiontableentry1 td {
	background: none;
	padding: .5em .8em;
}
/* =============== JOOMLA! EXTENSIONS - COM_SEARCH =============== */
/* ----- CHILD ELEMENTS ----- */
.jsn-search-keyword,
.jsn-search-option,
.jsn-search-ordering,
.jsn-search-category,
.searchintro {
	margin: 1em 0;
}
/* ----- KEYWORD GIGHLIGHT IN SEARCH RESULT ----- */
span.highlight {
	padding: .2em;
	background: #FFFFAA;
}
/* =============== JOOMLA! EXTENSIONS - COM_USER =============== */
/* ----- USER FORM LAYOUT ----- */
table .paramlist_key {
	width: 130px;
}
/* =============== JOOMLA! EXTENSIONS - SYSTEM MESSAGES =============== */
/* ----- SYSTEM STANDARD MESSAGES ----- */
#system-message {
	margin-bottom: 20px;
}
#system-message dd.message ul {
	text-indent: 0;
	padding-left: 40px;
	background: #c3d2e5 url(../../system/images/notice-info.png) 4px center no-repeat;
}
#system-message ul li {
	margin-left: 0;
}
/* ----- SYSTEM ERROR MESSAGES ----- */
#system-message dd.error ul {
	background: #e6c0c0 url(../../system/images/notice-alert.png) 4px center no-repeat;
}
/* ----- SYSTEM NOTICE MESSAGES ----- */
#system-message dd.notice ul {
	border-top: 3px solid #f0dc7e;
	border-bottom: 3px solid #f0dc7e;
	color: #cc0000;
	background: #efe7b8 url(../../system/images/notice-note.png) 4px center no-repeat;
}
/* =============== JOOMLA! EXTENSIONS - MOD_BREADCRUMB =============== */
span.breadcrumbs {
	font-size: 0.9em;
	display: block;
}
span.breadcrumbs a,
span.breadcrumbs span {
	color: #404040;
	background: url(../images/icons/icons-arrow.png) no-repeat right -258px;
	padding-right: 18px;
	text-decoration: none;
}
span.breadcrumbs a:hover {
	text-decoration: underline;
}
span.breadcrumbs span.current {
	color: #404040;
	font-weight: bold;
	background: none;
}
/* =============== JOOMLA! EXTENSIONS - MOD_LOGIN =============== */
#form-login fieldset.input {
	border: none;
	padding: 0;
}
#form-login div.button-wrapper {
	text-align: center;
	margin-top: 0.5em;
}
#form-login #form-login-username,
#form-login #form-login-password,
#form-login #form-login-remember {
	margin: 0 0 6px 0;
}
/* =============== JOOMLA! EXTENSIONS - MOD_POOL =============== */
/* ----- POLL'S TABLE ----- */
table.poll td,
table[class*=box-].jsn-modulecontainer td {
	text-align: left;
}
table.pollstableborder {
	margin: .5em 0;
	text-align: left;
}
table.pollstableborder td {
	text-align: left;
	font-size: .9em;
	padding: 3px 2px;
	border: none;
}
/* =============== JOOMLA! EXTENSIONS - MODULE SEARCH =============== */
#jsn-pos-top div.search {
	float: right;
}
#jsn-pos-top div.search input#mod_search_searchword {
	background: url(../images/icons/icons-base.png) no-repeat 5px -170px;
	padding: 2px 0 2px 25px;
	border: 1px solid #284D73;
}
/* =============== JOOMLA! EXTENSIONS - MODULE NEWSFLASH =============== */
#jsn-master .jsn-mod-newsflash.jsn-horizontal-container .jsn-article {
	padding: 0 1em;
}
.heading2 {
	background-color: #9CF;
	background: #1e5799; /* Old browsers */
background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 68%, #7db9e8 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(68%,#2989d8), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 68%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #1e5799 0%,#2989d8 68%,#7db9e8 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #1e5799 0%,#2989d8 68%,#7db9e8 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #1e5799 0%,#2989d8 68%,#7db9e8 100%); /* W3C */height: 1em;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	padding-top: 5px;
	padding-bottom: 7px;
	padding-left: 5px;
	font-weight: bold;
	border-bottom-width: thin;
	border-bottom-style: double;
	border-bottom-color: #999;
	color: #FFF;	
}
.contentheading{
 background-color: #9CF;
	background: #1e5799; /* Old browsers */
background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 68%, #7db9e8 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(68%,#2989d8), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 68%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #1e5799 0%,#2989d8 68%,#7db9e8 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #1e5799 0%,#2989d8 68%,#7db9e8 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #1e5799 0%,#2989d8 68%,#7db9e8 100%); /* W3C */height: 1em;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	padding-top: 5px;
	padding-bottom: 7px;
	padding-left: 5px;
	font-weight: bold;
	border-bottom-width: thin;
	border-bottom-style: double;
	border-bottom-color: #999;
	color: #FFF;
}
.componentheading
{
background-color: #9CF;
	background: #1e5799; /* Old browsers */
background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 68%, #7db9e8 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(68%,#2989d8), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 68%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #1e5799 0%,#2989d8 68%,#7db9e8 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #1e5799 0%,#2989d8 68%,#7db9e8 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #1e5799 0%,#2989d8 68%,#7db9e8 100%); /* W3C */height: 1em;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	padding-top: 5px;
	padding-bottom: 7px;
	padding-left: 5px;
	font-weight: bold;
	border-bottom-width: thin;
	border-bottom-style: double;
	border-bottom-color: #999;
	color: #FFF;
}
.article
{
padding:3px;
}