/**
* @author    JoomlaShine.com http://www.joomlashine.com
* @copyright Copyright (C) 2006 - 2010 JoomlaShine.com. All rights reserved.
* @license   GNU/GPL v2 http://www.gnu.org/licenses/gpl-2.0.html
*/
/* ============================== DEFAULT HTML ============================== */
/* ============================== LAYOUT ============================== */
/* =============== LAYOUT - OVERALL PAGE =============== */
#jsn-master {
	background-color: #c5c5c5;
	background-image: url(../images/colors/blue/bg-master.jpg);
}
/* =============== LAYOUT - FEATURED AREA =============== */
#jsn-pos-promo-left a,
#jsn-pos-promo-right a {
	color: #40afff;
}
/* ============================== MENU ============================== */
/* =============== MENU - MAIN MENU =============== */
/* ----- 1st LEVEL ----- */
ul#base-mainmenu ul {
	background-color: #284d73;
}
div.jsn-modulecontainer ul#base-mainmenu ul li a {
	border-top: 1px solid #366999;
	border-bottom: 1px solid #162c40;
	border-left: 1px solid #162c40;
}
body.jsn-direction-rtl div.jsn-modulecontainer ul#base-mainmenu ul li a {
	border-left: none;
	border-right: 1px solid #162c40;
}
/* ----- HOVER STATE ----- */
div.jsn-modulecontainer ul#base-mainmenu ul li:hover a,
div.jsn-modulecontainer ul#base-mainmenu ul li:hover li:hover a,
div.jsn-modulecontainer ul#base-mainmenu ul li:hover li:hover li:hover a,
body.jsn-direction-rtl div.jsn-modulecontainer ul#base-mainmenu ul li:hover a,
body.jsn-direction-rtl div.jsn-modulecontainer ul#base-mainmenu ul li:hover li:hover a,
body.jsn-direction-rtl div.jsn-modulecontainer ul#base-mainmenu ul li:hover li:hover li:hover a,
div.jsn-modulecontainer ul#base-mainmenu ul li.sfhover a,
div.jsn-modulecontainer ul#base-mainmenu ul li.sfhover li.sfhover a,
div.jsn-modulecontainer ul#base-mainmenu ul li.sfhover li.sfhover li.sfhover a,
body.jsn-direction-rtl div.jsn-modulecontainer ul#base-mainmenu ul li.sfhover a,
body.jsn-direction-rtl div.jsn-modulecontainer ul#base-mainmenu ul li.sfhover li.sfhover a,
body.jsn-direction-rtl div.jsn-modulecontainer ul#base-mainmenu ul li.sfhover li.sfhover li.sfhover a {
	border-top-color: #1f3d59;
	background-color: #1f3d59;
}
/* ----- CLEAR HOVER STATE / MAKE UN-HOVER ITEM BACK TO NORMAL COLOR ----- */
div.jsn-modulecontainer ul#base-mainmenu ul li:hover ul a,
div.jsn-modulecontainer ul#base-mainmenu ul li:hover li:hover ul a,
div.jsn-modulecontainer ul#base-mainmenu ul li:hover li:hover li:hover ul a,
body.jsn-direction-rtl div.jsn-modulecontainer ul#base-mainmenu ul li:hover ul a,
body.jsn-direction-rtl div.jsn-modulecontainer ul#base-mainmenu ul li:hover li:hover ul a,
body.jsn-direction-rtl div.jsn-modulecontainer ul#base-mainmenu ul li:hover li:hover li:hover ul a,
div.jsn-modulecontainer ul#base-mainmenu ul li.sfhover ul a,
div.jsn-modulecontainer ul#base-mainmenu ul li.sfhover li.sfhover ul a,
div.jsn-modulecontainer ul#base-mainmenu ul li.sfhover li.sfhover li.sfhover ul a,
body.jsn-direction-rtl div.jsn-modulecontainer ul#base-mainmenu ul li.sfhover ul a,
body.jsn-direction-rtl div.jsn-modulecontainer ul#base-mainmenu ul li.sfhover li.sfhover ul a,
body.jsn-direction-rtl div.jsn-modulecontainer ul#base-mainmenu ul li.sfhover li.sfhover li.sfhover ul a {
	border-top-color: #366999;
	background-color: transparent;
}
/* ============================== MODULE STYLES ============================== */
/* =============== MODULE STYLES - MODULE BOXES =============== */
/* ----- MODULE BOX GREY ----- */
div.box-grey a {
	color: #40afff;
}
/* ============================== JOOMLA! DEFAULT EXTENSIONS ============================== */
/* =============== JOOMLA! EXTENSIONS - COM_CONTENT =============== */
/* ----- SECTION / CATEGORY BLOG LAYOUT ----- */
/* PAGE PAGINATION */
ul.jsn-pagination li.navigation-page span {
	background-color: #4786BE;
}