
.compact .informer { display: none; }

.informer {
	position: static;
	padding-left: 75px;
	background: transparent url("http://s9.stc.all.kpcdn.net/share/i/ivory/b3a1eeed7983a9a98b9c9f0d331be5f0") no-repeat left bottom;
	background-size: auto 65px;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 600;
	line-height: 19px;
	display: block;
	top: 0;
	max-height: 79px;
	overflow: hidden;
	height: 80px;
	z-index: 130;
	left: 585px;
	width: 240px;
}

.coverStyle .flex-container {
	-moz-justify-content: flex-start;
	-ms-justify-content: flex-start;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}

.coverStyle .regionFrame { margin-right: 10px !important; margin-left: 20px !important;}
.coverStyle .radioFrame { margin-left: 0; }
.coverStyle .currency { display: none !important; }
.coverStyle .weather { display: none !important; }


@media screen and (min-width: 1366px) and (max-width: 1439px) {

	.coverStyle .informer { left: 605px !important; }
	.coverStyle .informer.regionInf { left: 545px !important; }

	.informer {
		position: static;
		padding-left: 95px;
		background: transparent url("http://s9.stc.all.kpcdn.net/share/i/ivory/b3a1eeed7983a9a98b9c9f0d331be5f0") no-repeat left bottom;
		background-size: auto 75px;
		font-family: "Open Sans";
		font-size: 14px;
		font-weight: 600;
		line-height: 19px;
		display: block;
		top: 0;
		height: 80px;
		z-index: 130;
		left: 585px;
	}
}

@media screen and (min-width: 1440px) {

	.coverStyle .informer { left: 640px !important; }
	.coverStyle .informer.regionInf { left: 605px !important; }

	.informer {
		position: static;
		padding-left: 95px;
		background: transparent url("http://s9.stc.all.kpcdn.net/share/i/ivory/b3a1eeed7983a9a98b9c9f0d331be5f0") no-repeat left bottom;
		background-size: auto 75px;
		font-family: "Open Sans";
		font-size: 14px;
		font-weight: 600;
		line-height: 19px;
		display: block;
		top: 0;
		height: 80px;
		z-index: 130;
		left: 585px;
	}
}

@media screen and (max-width: 1365px) {
	.coverStyle .regionFrame { margin-left: 10px !important; }
	.coverStyle .informer { left: 570px !important; }
	.coverStyle .informer.regionInf { left: 600px !important; }
	.coverStyle .formSearch { display: none; }
}

@media screen and (max-width: 1200px) {
	.coverStyle .regionFrame { margin-left: 0px !important; }
	.coverStyle .informer { left: 495px !important; }
	.coverStyle .informer.regionInf { left: 435px !important; }
	.informer .title { font-size: 15px !important; }
	.informer .txt {
		font-size: 11px !important;
	}


}@media screen and (max-width: 900px) {
	.coverStyle .informer { display: none !important; }
}


.informer .title {
	font-size: 16px;
	color: #000000;
	letter-spacing: 0px;
	display: block;
	padding: 7px 0 2px 0;
}


.informer .txt {
	font-size: 12px;
	color: #40454C;
	letter-spacing: 0px;
	line-height: 15px;
	display: block;
	font-weight: normal;

}

.informer .blue {
	font-size: 11px;
	color: #FFFFFF;
	letter-spacing: 0px;
	line-height: 15px;
	background: #0083CF;
	display: inline-block;
	padding: 6px 8px;
	text-transform: uppercase;
}


.exclusiveCover {
	border: 4px solid #0083cd;
	margin: 15px 20px 20px 20px;
	padding: 20px 50px 30px 50px;
	position: relative;
}


.exclusiveCover h1 {
	color: black;
	font-family: "Open Sans";
	font-size: 26px;
	font-weight: 600;
	line-height: 33px;
	margin-top: 0;
}

.exclusiveCover p {
	font-family: "Open Sans";
	font-size: 18px;
	color: #000;
	letter-spacing: 0px;
	margin: 15px 0 15px 0;
}

.exclusiveCover p span.red {
	color: #DB212A;
	display: block;
	font-weight: 600;
}

.exclusiveCover .title {
	font-family: "TT Prosto Sans";
	font-size: 23px;
	color: #0083cd;
	position: absolute;
	top: -16px;
	left: 31px;
	background: #fff;
	display: inline-block;
	padding: 0 20px;
	text-transform: uppercase;
}

.wrapperVideo {
	background: #EFEFEF;
	display: block;
	padding: 20px;
}

.exclusiveCover .ext-video {
	position: relative;
	width: 100%;
	padding-bottom: 70%;
	overflow: hidden;
	height: 0;
}

.exclusiveCover .ext-video iframe {
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	position: absolute;
}

.exclusiveCover .link {
	color: #40454c;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 600;
	line-height: 22px;
	text-decoration: underline;
	margin: 25px 0 0 0;
}