@media print {

	@font-face {font-family: 'Open Sans'; font-weight: normal; src: local('Open Sans'), url('/fonts/OpenSans/OpenSansRegular.eot');src: local('Open Sans'), url('/fonts/OpenSans/OpenSansRegular.eot?#iefix') format('embedded-opentype'),url('/fonts/OpenSans/OpenSansRegular.woff') format('woff'),url('/fonts/OpenSans/OpenSansRegular.ttf') format('truetype');}
	@font-face {font-family: 'Open Sans'; font-weight: bold; src: local('Open Sans'), url('/fonts/OpenSans/OpenSansBold.eot');src: local('Open Sans'), url('/fonts/OpenSans/OpenSansBold.eot?#iefix') format('embedded-opentype'),url('/fonts/OpenSans/OpenSansBold.woff') format('woff'),url('/fonts/OpenSans/OpenSansBold.ttf') format('truetype');}
	@font-face {font-family: 'Open Sans'; font-weight: 600; src: local('Open Sans'), url('/fonts/OpenSans/OpenSans-Semibold.eot');src: local('Open Sans'), url('/fonts/OpenSans/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),url('/fonts/OpenSans/OpenSans-Semibold.woff') format('woff'),url('/fonts/OpenSans/OpenSans-Semibold.ttf') format('truetype');}
	
	* {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }

	BODY {
		margin: 0px 0px 0px 0px;
		color: #000;
		background: #FFF;
	}

	body, article {
        width: 100%;
        margin: 0;
        padding: 0;
        font-family: 'Open Sans';
    }

    article h1 {
    	margin-top: 8px;
    	margin-bottom: 8px;
    	font-size: 26pt;
    }

    @page {
        margin: 2cm;
    }

    a:link, 
	a:visited {
		color: #333;
		background: transparent; 
		font-weight: bold; 
		text-decoration: underline; 
	}

	iframe,
	video,
	audio,
	button,
	input,
	embed {
		display: none;
	}

	.menuHead,
	.news,
	.boxCols,
	.externalBlock,
	.boxFrame,
	.commentsAfter,
	#sectionNewsJS,
	#top5,
	#seeAlso,
	#commentsJs,
	#bottomJs,
	#headJS,
	#customMenuJS,
	#search-inset0,
	.tools,
	.popap,
	.comments, 
	.showCommentsJS,
	.broadcastMessage,
	.externalVideo,
	.video,
	.photocontest,
	.PhotocontestJS,
	.js-mediator-footer,
	.article_quiz,
	.cover,
	#main-page,
	* [class*="quiz"],
	* [id*="widget"],
	* [id*="banner"] {
		display: none;
	}

	img {
    	max-width: 100% !important;
	}

	time {
		display: inline-block;
		margin-top: 12px;
		margin-bottom: 12px;
	}

	time:after {
		display: inline-block;
		content: "|";
		padding-left: 8px;
		padding-right: 5px;
		}

	.tags {
		display: inline-block;
		}

	.print-logo {
		border-bottom: 1px solid #d6d6d6;
	}

	.description {
		font-size: 12pt;
	}
	h2[itemprop="description"] {
		font-size: 15pt;
	}
}