
.topInfo > * {
	display: inline-block \9;
	vertical-align: middle \9;
}

.digest {
	display: inline-block \9;
	vertical-align: middle \9;
}

.digest .img, .digest .txt {
	display: inline-block \9;
	vertical-align: middle \9;
}

.kpNav, ul.eventsNav, .chooseRegion ul, .news header .container {
	display: block \9;
}

.kpNav > *, ul.eventsNav > *, .chooseRegion ul > *, .news header .container > * {
	display: inline-block \9;
	vertical-align: middle \9;
}

.article .header time, .commentsPage .header time,  .commentsPage .header {
	display: block \9;
}

.article .header time > *, .commentsPage .header time  > *,  .commentsPage .header > * {
	display: inline-block \9;
	vertical-align: middle \9;
}

.commentSendBlock {
	display: block \9;
}

.commentSendBlock > * { display: inline-block \9; }


.withImg .digest.no-img, .loadSection .digest.no-img, .noImg .digest {
	display: inline-block \9;
	vertical-align: middle \9;
}


.withImg .digest:not(.no-img):nth-child(1), .withImg .digest:not(.no-img):nth-child(2) {
	display: inline-block \9;
	vertical-align: middle \9;
}

.withImg .digest:not(.no-img) time, .loadSection .digest:first-child:not(.no-img) time, .loadSection .digest:nth-child(2):not(.no-img) time, .loadSection .digest:nth-child(3):not(.no-img) time {
	display: inline-block \9;
	vertical-align: middle \9;
}

.digest:not(.no-img) time > * {
	display: block \9;
}

.withImg .digest:not(.no-img):first-child .txt a {
	display: inline-block \9;
	vertical-align: middle \9;
}

.withImg .digest:not(.no-img):first-child .txt a > * { width: 100% \9; }
.columnists article a:not(.authorTxt) { width: 100% \9; }
.columnists article h2 { width: 100% \9; }
.columnists article h1 { width: 100% \9; }


.withImg .wSection, .loadSection .flex-container {
	display: inline-block \9;
	vertical-align: middle \9;
}

.loadSection .digest:not(.no-img):first-child {
	display: inline-block \9;
	vertical-align: middle \9;
}

.loadSection .seeAlsoLoad .digest, .loadSection .digest + .digest + .digest + .digest {

	display: inline-block \9;
	vertical-align: middle \9;
}

.authorBlock {
	display: inline-block \9;
	vertical-align: middle \9;
}

.archiveHeader {
	display: inline-block \9;
	vertical-align: middle \9;
}

.photoDigest {
	display: block \9;
	vertical-align: middle \9;


}

.photoDigest time {
	display: block \9;
	vertical-align: middle \9;

}

.flex-container {
	display: inline-block \9;
	vertical-align: middle \9;
}

.flex-container.topInfo > div {
	display: inline-block \9;
	vertical-align: middle \9;

}

.columnists article {
	display: inline-block \9;
	vertical-align: middle \9;
}

.columnists article .authorTxt, .columnists article:nth-child(3) .authorTxt, .columnists article:nth-child(5) .authorTxt, .columnists article:nth-child(6) .authorTxt {
	display: block \9;
	vertical-align: middle \9;

}

.columnists article:not(.no-img) .authorTxt .name, .columnists article:nth-child(3):not(.no-img) .authorTxt .name, .columnists article:nth-child(5) .authorTxt .name, .columnists article:nth-child(6) .authorTxt .name {
	display: inline-block \9;
	vertical-align: middle \9;
}


.columnists article:not(.no-img) .author img {
	display: inline-block \9;
	vertical-align: middle \9;
}

.photoDay .header, body #headJS #olympicWidget {
	display: inline-block \9;
	vertical-align: middle \9;
}

body .digestTitle .close {
	bottom: 15px \9;
}
body main .digest, body main .digest .txt {
	border-bottom-color: #fff \9;
}

body .digestTitle .btn_global, body .digestTitle .btn_region  {
	margin-top: 10px \9;
}
