#header {height: 45px !important;}
#branding {height: 45px !important;width:980px;/* overflow: hidden; */}

#header-ad {top: 65px !important;left: 8px !important;height:auto;width: auto;}
.livebox .timebox {float:left !important;margin-left: 5px !important;}
.dropdown-times {left: 5px !important;}
.wrap_LatestContentTeaser .list-thumb {margin: 0 0 18px !important;padding: 0 0 10px !important;}
#logo {top: 22px;right: 10px !important;background: url(../img/mbc-logo-2016.png?v=1) center center transparent;background-size: 90px;background-repeat: no-repeat;width: 105px !important;height: 45px !important;z-index: 10120;}
#fancybox-loading div {display:none !important}
#branding #nav-global ul.nav-global > li.new-tab a, #branding #nav-global ul.nav-global > li.new-tab a:hover{background:url("../img/new-tab2.png") no-repeat 4px 3px !important;}

/* Gigya Poll - generic style */
#main .box.poll_sml .text, #extras .box.poll_sml .text, #main .box.poll_sml .text.image, #extras .box.poll_sml .text.image {color:#000;cursor:pointer}
#main .box.poll_sml .text:hover, #extras .box.poll_sml .text:hover, #main .box.poll_sml .text.image:hover, #extras .box.poll_sml .text.image:hover,#main .box.poll_sml .gig-button-down .text, #extras .box.poll_sml .gig-button-down .text {color:#be1e25}
.box.poll_sml .video-thumb a:hover,.box.poll_sml .image-thumb a:hover { border: 5px solid #be1e25; }
.results dd strong, .results dd .bar {background:url(/dms/creative/poll-images/poll-result.jpg)}
.box.poll_sml .questionName {text-align:right;direction:rtl;color:#be1e25;}
.box.poll_sml .results dd {border: 1px solid #bdbcbd;background:#fff}
.box.poll_sml .results dt {color:#000}
.box.poll_sml .results dd span {color:#e4e4e4}
#main .box.poll_sml.special .content {background-color:#fff !important;padding:20px 0;}
.box.poll_sml .results dd em {color:#000}
#main .box.poll_sml,#extras .box.poll_sml {background:#fff !important;}

#main .box.poll_sml tr .text.votingButton, #extras .box.poll_sml tr .text.votingButton {
	color:#fff;
	background: #d90708; /* Old browsers */
	background: -moz-linear-gradient(top,  #d90708 0%, #a40405 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d90708), color-stop(100%,#a40405)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #d90708 0%,#a40405 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #d90708 0%,#a40405 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #d90708 0%,#a40405 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #d90708 0%,#a40405 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d90708', endColorstr='#a40405',GradientType=0 ); /* IE6-9 */
}

#main .box.poll_sml tr .gig-button-down .text.votingButton, #extras .box.poll_sml tr .gig-button-down .text.votingButton, #main .box.poll_sml tr .text.votingButton:hover, #extras .box.poll_sml tr .text.votingButton:hover {
	color:#fff;
	background: #a40405; /* Old browsers */
	background: -moz-linear-gradient(top,  #a40405 0%, #d90708 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a40405), color-stop(100%,#d90708)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #a40405 0%,#d90708 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #a40405 0%,#d90708 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #a40405 0%,#d90708 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #a40405 0%,#d90708 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a40405', endColorstr='#d90708',GradientType=0 ); /* IE6-9 */
}

#main .box.poll_sml tr:first-child .text.votingButton, #extras .box.poll_sml tr:first-child .text.votingButton {
	color:#fff;
	background: #00eeb6; /* Old browsers */
	background: -moz-linear-gradient(top,  #00eeb6 0%, #02b174 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00eeb6), color-stop(100%,#02b174)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #00eeb6 0%,#02b174 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #00eeb6 0%,#02b174 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #00eeb6 0%,#02b174 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #00eeb6 0%,#02b174 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00eeb6', endColorstr='#02b174',GradientType=0 ); /* IE6-9 */
}

#main .box.poll_sml tr:first-child  .gig-button-down .text.votingButton, #extras .box.poll_sml tr:first-child .gig-button-down .text.votingButton, #main .box.poll_sml tr:first-child .text.votingButton:hover, #extras .box.poll_sml tr:first-child .text.votingButton:hover {
	color:#fff;
	background: #02b174; /* Old browsers */
	background: -moz-linear-gradient(top,  #02b174 0%, #00eeb6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#02b174), color-stop(100%,#00eeb6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #02b174 0%,#00eeb6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #02b174 0%,#00eeb6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #02b174 0%,#00eeb6 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #02b174 0%,#00eeb6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#02b174', endColorstr='#00eeb6',GradientType=0 ); /* IE6-9 */
}
.box.poll_sml .results.voteImage dl:first-child dd strong, .box.poll_sml .results.voteText dl:first-child dd strong, .box.poll_sml .results.voteVideo dl:first-child dd strong {background: url(../img/poll-result-btn1.jpg) right 0 repeat-x;}
#main .box.poll_sml .votingVideo, #main .box.poll_sml .votingImage {margin-top: 0;margin-left:50px;}
#main .box.poll_sml #questionName-689, #main .box.poll_sml #questionName-696 {float: right; font: 33px/26px mytestmedium; width: 270px; }
.box.poll_sml .questionName.voteImage, .box.poll_sml .questionName.voteVideo, .box.poll_sml .questionName.voteText {float:right;}
#main .box.poll_sml .gigyaPoll, #extras .box.poll_sml .gigyaPoll {float:right;}
#extras .box.poll_sml .videoIcon {background: url("/dms/templating-kit/themes/mbc/img/social/poll/video_icon.png") repeat scroll 0 0 transparent; display: block; height: 70px; left: 30px; position: absolute; top: 7px; width: 70px; z-index: 1; }
.box.poll_sml .voteVideoIcon {background: url("/dms/templating-kit/themes/mbc/img/social/poll/video_icon.png") repeat scroll 0 0 transparent; display: block; height: 70px; left: 153px; position: absolute; top: 77px; width: 70px; z-index: 1; }
#main .box.wrap_article .box.poll_sml td {border: 0;}
#main .box.wrap_article .box.poll_sml .gigyaPoll.pollVideo tr, #main .box.wrap_article .box.poll_sml .gigyaPoll.pollImage tr {margin: 0 16px !important;}
#main .box.wrap_article .box.poll_sml.special, #main .box.wrap_article .box.poll_sml.special .content {background:#e5e5e5 !important}
#main .box.wrap_article .box.poll_sml.special table{background: transparent !important}
.box.poll_sml .results dd {height:22px}
.box.poll_sml .results dd em {top:3px;}
.results dd strong, .results dd .bar {height:22px}
.box.poll_sml .results dd span {font: 18px mytestbold; padding-right: 12px; position: relative; top: -15px; }
#extras .box.poll_sml .gigyaPoll.voteImage, #extras .box.poll_sml .gigyaPoll.voteVideo, #extras .box.poll_sml .gigyaPoll.voteText {margin: 0 auto;}
#extras .gigyaPoll.voteText .gig-bar-container table tbody tr, #extras .gigyaPoll.voteImage .gig-bar-container table tbody tr, #extras .gigyaPoll.voteVideo .gig-bar-container table tbody tr {margin: 0 auto;padding: 0 17px;}
#extras .box.poll_sml .questionName {padding-right: 0;}
.gigyaPoll.voteImage,.gigyaPoll.voteVideo {width: 285px;}
#main .box.poll_sml .head h3, #extras .box.poll_sml .head h3 {padding: 0 !important;}
#main .box.poll_sml .pollVideo .gig-bar-container table tbody tr, #main .box.poll_sml .pollImage .gig-bar-container table tbody tr {min-height: 200px;}
/* End Gigya Poll - generic style */

/* Start: timing */
.time-box{ position:absolute; right:520px; min-width:140px; background:#000; padding:0px 7px;display:inline-block;top:120px;z-index:100; min-height:auto !important}
.time-box .maintiming{overflow:hidden; display:block; padding:0px}
.time-box .maintiming .channel-logo{float:right; display:block; margin:2px 0 1px 10px}
.time-box .maintiming .channel-logo img{height: 18px; margin-top: 2px;}
.time-box .maintiming .timing-text{float:right; display:block; margin:3px 0 0 0; font: normal 17px/17px mytestbold; color:#FFF}
.time-box .maintiming .time-red{color:#c2080d;}
.time-box .maintiming .arrow-down{display:block; float:left; margin:2px 5px 0px 0px;}
.time-box .reapate-time{overflow:hidden; display:none; border-top:solid 1px #333; padding:5px 0px}
.time-box .reapate-time .channel-logo{float:right; display:block; margin:5px 0 2px 10px;}
.time-box .reapate-time .timing-text{float:right; display:block; margin:2px 0 0 10px; font: normal 17px/17px mytestbold; color:#FFF;padding-bottom:0px;}
.time-box .reapate-time .time-red{color:#c2080d;}
#down-arr img {border: 0 none;}
/* End: timing */

/* Fix photo slider issue */

.alboum-page #main .wrap_article .content .image-wrapper img {top:42px !important;}

/* Update on Menu To Add MBC Bollywood 16.09.2013*/


#branding ul.nav-global h3.mbc1 {
    background-position: right -6px;
    width: 105px;
}

#branding ul.nav-global h3.mbc2 {
    background-position: right -239px;
    width: 55px;
}

#branding ul.nav-global h3.mbc3 {
    background-position: right -438px;
    width: 61px;
}
#branding ul.nav-global h3.mbc4 {
    background-position: right -193px;
    width: 87px;
}
#branding ul.nav-global h3.max {
    background-position: right -295px;
    width: 85px;
}

#branding ul.nav-global h3.mbcmaser {
    background-position: right -96px;
    width: 92px;
}

#branding ul.nav-global h3.mbcmasr2 {
    background-position: right -145px;
    width: 90px;
}

#branding ul.nav-global h3.mbcfm {
    background-position: right -542px;
    width: 102px;
}

#branding ul.nav-global h3.HD {
    background-position: right -600px;
    width: 70px;
}

#branding ul.nav-global h3.panorama {
    background-position: right -491px;
    width: 100px;
}

#branding ul.nav-global h3.drama {
    background-position: right -46px;
    width: 103px;
}

#branding ul.nav-global h3.drama-plus {
    background-position: right -646px;
    height: 43px;
    width: 106px;
}


#branding ul.nav-global h3.action {
    background-position: right -393px;
    height: 43px;
    width: 113px;
}

#branding ul.nav-global h3.bollywood {
    background-position: right -346px;
    border-bottom: 0 none;
    width: 116px;
}

#branding ul.nav-global h3.bollywood a{
	border-bottom:0 solid;
}

#branding #menu1 .menu-box-group{
	padding:0 8px 6px;
}


#branding ul.nav-global li#menu1 .menu-box.channel.single-column{
	margin-top:0;
}


#branding ul.nav-global li.home .menu-box.channel.single-column {
    margin: 0 15px;
}

/* End */


/* Start Live Streaming Box */
.talent-show-live-streaming{
	position:fixed !important;
	width:100%;
	height:0;
	bottom:0;
	left:0;
	overflow:visible;
    z-index: 55555555;
}

.talent-show-live-streaming-content{
	width:972px;
	display:block;
	margin:auto;
	position:relative;
}

.talent-show-live-box, .talent-show-live-box-header #talent-show-live-box-show-hide, .talent-show-live-box-content span{
	background-image:url(../img/talent-show-live-streaming/alamal-live-stream-sprite.png);
	background-repeat:no-repeat;
}

.talent-show-live-box {
    background-position: -248px -510px;
    float: right;
    height: 333px;
    position: relative;
    width: 337px;
}

.talent-show-live-box-header #talent-show-live-box-show-hide{
 	background-position: -6px -411px;
    float: right;
    height: 29px;
    position: relative;
    top: 30px;
    width: 35px;
	-webkit-transition: all .23s ease-in-out;
    -moz-transition: all .23s ease-in-out;
    -o-transition: all .23s ease-in-out;
    transition: all .23s ease-in-out;
}

.talent-show-live-box-header {
    padding-top: 25px;
	overflow:hidden;
	height:80px;
}

.talent-show-live-box-content > div{
	width:91%;
	display:block;
	overflow:hidden;
	margin:auto;
	position:relative;
	left:-1px;
}

.talent-show-live-box-content {
	width:95%;
	display:block;
	overflow:hidden;
	float:right;
	padding-top:2px;
}

.talent-show-live-box-content img{
	border:2px solid #434343;
}

.talent-show-live-box-content span{
 	background-position: -342px -174px;
    display: block;
    height: 251px;
    left: 61px;
    position: absolute;
    top: -114px;
    width: 100%;
}


.talent-show-live-box-content a {
    background: none repeat scroll 0 0 #000000;
    border: 1px solid #CCCCCC;
    border-radius: 1px 1px 1px 1px;
    box-shadow: 0 0 2px #000000;
    height: 18px;
    left: 251px;
    padding: 6px;
    position: absolute;
    top: 178px;
    width: 18px;
    z-index: 22222;
}
/*End of Live Streaming*/




#fancybox-outer{
	background:none !important;
}

#fancybox-close {
    background-image: url(/dms/creative/channels/ar-2013/css/../img/close-btn.png) !important;
    height: 50px !important;
    width: 50px !important;
    background-position: right 0 !important;
    background-repeat: no-repeat;
    /*right: -25px !important;
    top: 57px !important;	*/
}
#fancybox-close.liveStreamingPopUp{
	right: -25px !important;
    top: -16px !important;
}

#fancybox-overlay{
	z-index:1100000 !important;
}

#fancybox-wrap{
	z-index:1100001 !important;
}


#fancybox-content iframe, #fancybox-content div {
    overflow: hidden;
}

#main .box.wideflash {
clear: both;
margin: 0 !important;
}



#slideshow {
    height: 700px;
    overflow: hidden;
    width: 855px;
	margin:auto;
}

.alboum-page #main .wrap_article .content{
	overflow:hidden;
}

.alboum-page div.slideshow-container{
	top:0 !important;
	right:0 !important;
	width:849px !important;

}

div.controls{
	height:384px;
	margin-top:0;
}


.alboum-page div.nav-controls .prev, .alboum-page div.nav-controls .next {
    top:0px !important;
	margin:0;
	padding:0;
	height:470px !important;
}

.alboum-page div.nav-controls .prev{
	right:0 !important
}

.alboum-page div.nav-controls .next{
	left:0 !important
}

.alboum-page #slideshow {
    position: relative;
}

.alboum-page #main .wrap_article .content .image-wrapper {
    position: absolute;
    right: 0;
    top: 0px !important;
    width: 850px;
}

.alboum-page div.caption-container{
	float:none !important;
	top:0 !important;
	left:0 !important;
	right:0 !important;
	margin:0 !important;
	width:849px !important;

}

.alboum-page div.slideshow-container{
	height:470px !important;
}

/*  removed on the merge mseini*
.alboum-page #main .wrap_article .content .image-wrapper img {
    top: 0 !important;
}
*/
.alboum-page #main .wrap_article .content .image-wrapper{
	overflow:hidden;
}

.image-wrapper {
    display: block;
    height: 560px;
}

.alboum-page .advance-link {
	height: 560px !important;
	display: block;
	position:relative;
}

.alboum-page #main .wrap_article .content .image-wrapper .advance-link img{
	position:absolute !important;
	top:0 !important;
	width: 855px;
	left:0;
}

.alboum-page.articles .content{
	margin-top:0;
	padding:0 !important;
	margin:0 !important;
}

.alboum-page div.ss-controls a{
	top:492px !important;
}

.alboum-page span.image-caption div.image-title {
    font: 400 16px tahoma;
}

.alboum-page div.photo-index {
    font: 400 13px tahoma;
    top: 70px;
}

.alboum-page #main .wrap_article .content .arena{
	margin:0 !important;
}

.alboum-page #main .wrap_article .content .arena h2 {
    margin-right: 30px;
}

.alboum-page span.image-caption div.image-desc {
    font: 13px tahoma;
}

.alboum-page .photolist {
    margin: auto;
    padding: 0;
    width: 80%;
}

.alboum-page .photitm {
    float: right;
    height: 92px;
    margin: 6px 0;
    padding: 0;
}

.alboum-page #alboum-list {
    margin-right: 0;
    min-height: 600px;
    padding: 39px 0;
    width: 100%;
}


#branding ul.nav-global li .menu-box.movies.single-column {
    width: 130px;
}

#branding ul.nav-global .menu-box h3.english-title, #branding ul.nav-global .menu-box h3.english-title a {
    font: 20px/15px mytestmedium;
    text-align: left;
}

#branding ul.nav-global .menu-box h3 a{
	border:0 solid;
}


/* Fix image alignment issue */
.full-width .e-size h3 a, .full-width .f-size h3 a, .full-width .g-size h3 a {
    width: 87%;
}

.full-width .b-size h3 a, .full-width .c-size h3 a  {
    width: 91%;
}
.full-width .main-title {
    padding-right: 0px;
}
/* End Change */


#extras .box.wrap_maintt4 #button > a, #main .box.wrap_maintt4 #button > a{
	padding:6px;
}

.mystuff .alboum-list{
	height:170px;
}

#extras .box.killerbanner a img {
	border:0;
}

.disabledArrow {
    background: url(/dms/creative/channels/mbc-1-2013/img/arrow-left-related-box-off.png) no-repeat scroll center top rgba(0, 0, 0, 0) !important;
    border: 0 none !important;
    border-radius: 0 0 0 0 !important;
    display: inline-block;
    float: left;
    height: 14px;
    left: 99px;
    position: relative;
    top: 14px;
    width: 7px;
}

.slideshow.multimedia .rack .rack-design .teaser {
    float: right !important;
}

#main .disabledArrow{
	left:293px;
}

/* Change to The Group Logo - 01.08.2014 - Mutasem Shahin */
#site-info #site-info-inner .copyrights{
	background:url(../img/mbc-logo-mid-brand.png) no-repeat scroll center 12px rgba(0, 0, 0, 0) !important;
	padding-top:80px;
	direction:ltr !important;
}
/* End- Change  */

#adSlot-inPage-1x1-theme {
    left: 0;
    position: absolute;
    top: 0;
}

#adSlot-outPage-1x1-floating {
    left: 0;
    position: absolute;
    top: 0;
}

/* MBC New slider:alshaikh */
.main-slider .full-width > div {display: none;}
.main-slider .full-width .SS_interface, .program-listing .SS_interface, .prime-series .SS_interface {display: block;}
.data-block.full-width-block.main-slider {width: 100%;left:0;}
.main-slider .full-width {width:100% !important;height:460px;margin:auto;}
.main-slider .full-width > div > div {width:448px;height:462px;}
.main-slider .full-width .a-size {width:448px;height:230px;left:12px;}
.main-slider .full-width .b-size, .main-slider .full-width .c-size {width:218px;height:220px;top:242px;}
.main-slider .full-width .b-size {left:12px;}
.main-slider .full-width .c-size {left: 242px;}
.main-slider .full-width .GroupA {width: 460px;}
.main-slider .full-width .GroupB {width: 460px;}
.main-slider .full-width .GroupB .d-size {width:448px;height:460px;top:0;left:12px;}
.main-slider .full-width .main-anchor-1 {background: url(../img/inner-shadow.png) 0 bottom repeat-x;height: 100%;left: 0;position: absolute;top: 0;width: 100%;z-index: 0;}
.main-slider .full-width div div h3 {width:100%;height:58px;margin:0;position:absolute;bottom:0;background:none;z-index: 1;}
.main-slider .full-width div div h3 a {background: rgba(0, 0, 0, 0) none repeat scroll 0 0;display: block;font: 25px/21px mytestmedium;height: 50px;overflow: hidden;padding: 5px 10px 0;position: relative;width: auto;}
.main-slider .full-width .SS_left-arrow, .main-slider .full-width .SS_right-arrow{width:90px !important;background: #dedede;z-index: 2}
.main-slider .full-width .SS_right-arrow {background: url("../img/right-fade-slider.png") repeat-y scroll right 0 rgba(0, 0, 0, 0) !important;}
.main-slider .full-width .SS_left-arrow {background: url("../img/left-fade-slider.png") repeat-y scroll right 0 rgba(0, 0, 0, 0) !important;}
.main-slider .full-width .SS_right-arrow span {background: url("../img/full-width-slider-arrow-right_new.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0) !important;height: 55px;left:-25% !important;width: 34px;top:40% !important;}
.main-slider .full-width .SS_left-arrow span {background: url("../img/full-width-slider-arrow-left_new.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0) !important;height: 55px;left:30% !important;width: 34px;top:40% !important;}
.main-slider .full-width .SS_roll {margin: 0 auto;}
.main-slider .full-width .SS_interface {width: 100% !important;}
.main-slider .full-width .a-size h3, .main-slider .full-width .d-size h3 {height: 48px;}
.main-slider .full-width .a-size h3 a, .main-slider .full-width .d-size h3 a {font:26px/21px mytestmedium;}
.main-slider .full-width .c-size h3, .main-slider .full-width .b-size h3 {height: 60px;}
.main-slider .full-width .c-size h3 a, .main-slider .full-width .b-size h3 a {font:22px/21px mytestmedium;}
.main-slider .full-width .a-size .main-img img, .main-slider .full-width .b-size .main-img img, .main-slider .full-width .c-size .main-img img, .main-slider .main-slider .full-width .d-size .main-img img {width: 100%;height: auto;border: 0 none;}
.main-slider .full-width > div > div > div:hover {box-shadow: none;transition: none;}
.main-slider .full-width.arrows-removal .SS_roll {margin: 0 auto;}
.main-slider .full-width table.mgnlControlBar, .main-slider .full-width table.mgnlControlBarSmall, .main-slider .full-width table.mgnlControlBarSmall_PUSHED, .main-slider .full-width table.mgnlControlBarSmall_MOUSEOVER {position: relative;z-index: 151;}
.main-slider .full-width .a-size, .main-slider .full-width .b-size, .main-slider .full-width .c-size, .main-slider .full-width .d-size {-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
.edit-mode .SS_roll .block-wrap {opacity: 1 !important;}
.main-slider .full-width .a-size h3, .full-width .d-size h3 {height: 60px !important;}
.data-block.full-width-block.main-slider .block-contents.full-width-contents {left:0;}

.sliderkit-panel .mgnlControlBarSmall {
    position: absolute;
    z-index: 10002;
}

.sliderkit-panel .over-text .mgnlControlBarSmall {
    position: absolute;
    top: auto;
}


#wrapper-header, #header {
    background: #313131 !important;
    z-index: 10000;
}

#profileDiv {
    margin-top: 11px;
}
#profileDiv {
    margin-top: 7px !important;
    margin-left: -13px !important;
    position: absolute;
}

.mains #extras .featured-articles h4 a {
    font-size: 22px;
    height: 54px;
    line-height: 20px;
    margin: 0;
    padding: 0;
}

.mains #extras .featured-articles h4 {
    width: 205px;
    overflow: hidden;
    margin-right: 17px;
}

/* timing */
.program-timing {
    background: url(../img/program-time-bg.png) 0 0 repeat;
    float: right;
    height: 36px;
    position: absolute;
    right:260px;
    top:95px;
}

.show-channel-logos {
    border-left: 1px solid #3a3a3a;
    overflow: hidden;
    float: right;
    height: 36px;
}

.show-channel-logos img {
    float: right;
    margin: 7px 6px;
}

.show-day {
    float: right;
    color:#fff;
    font: 16px/25px MyTestMedium;
    margin: 0 5px;
}

.show-time {
    float: right;
    color:#fff;
    font: 15px/12px MyTestMedium;
    margin: 2px 0;
}

.show-time > .show-time-ksa > span, .show-time > .show-time-gmt > span {
    color: #FFFFFF;
    font: 15px/12px MyTestMedium;
    margin-left: 0;
}

.show-time span {
    color: #757575;
    font: 10px/12px MyTestMedium;
    margin-left: 3px;
    position: relative;
    top: -3px;
}

.show-time-arrow {
    float: left;
    margin: 13px 7px;
}

.show-time-arrow .dropdown-arrow {
    width:11px;
    height: 11px;
    display: block;
    background: url(../img/arrow-up.jpg) 0 0 no-repeat;
    cursor: pointer;
}

.program-repeat-time {
    background: #000000;
    overflow: hidden;
    clear: both;
    width:100%;
    position: absolute;
    left: 0;
    bottom: 0;
    display: none;
}

.repeat-time {
    clear: both;
}

.repeat-time .show-channel-logos {
    width: 70px;
    text-align: center;
}

.repeat-time .show-channel-logos img {
    float:none;
}

.program-repeat-time .show-time-arrow .dropdown-arrow {
    background: url(../img/arrow-down.jpg) 0 0 no-repeat;
}

.channel-repeat-time {
    width:auto !important;
    float: right;
    border-right: 1px solid #3a3a3a;
    padding: 2px 0;
}

.program-repeat-time .show-time-arrow {
    position: absolute;
    left: 0;
    bottom:0;
}

.repeat-time .show-channel-logos {
    width: auto !important;
    text-align: center;
    border: 0;
}

.show-channel-logos {
    min-width: auto;
}

.show-time .show-time {
    margin: 2px 0 2px 5px;
}
.agt-live-box, .agt-live-box-header #agt-live-box-show-hide, .agt-live-box-content span {
    background-image: url("/dms/creative/channels/ar-2014/img/agt4-sprite.png");
    background-repeat: no-repeat;
}
/*************global header CSS***************/
.top-nav {
    position: absolute;
    height: 27px;
    top: 0;
    bottom: 0px;
    width: 100%;
    z-index: 100;
    background:#000;
    display:block;
}
.top-nav ul {
    margin: auto;
    width: 960px;
    padding: 1px 0px;
    display: table;
    float: none;
    position: static;
}
.top-nav li {
    float: right;
    position: relative;
    margin: 0 10px;
}
.top-nav li.mbc-logo {
    background: url(../img/mbc-logo.jpg) right 2px no-repeat;
    border-left: 1px solid #7b7b7b;
    padding-left: 15px;
    width: 32px;
    height: 24px;
}
.top-nav li.mbc3 {
    margin-left: 0;
}
.top-nav li a {
    color:#7b7b7b;
    font: 17px/16px mytestmedium;
}
.top-nav li a:hover {
    color:#fff;
}
.top-nav li.mbc-logo a {
    display: block;
    height: 100%;
    width: 100%;
}
#adSlot-inPage-multipleSize-top {
    background: none repeat scroll 0 0 #000000;
    text-align: center;
    width: 100% !important;
    padding: 6px 0 10px !important;
    min-height: 95px !important;
    margin-top: 25px !important;
    margin-bottom: -25px !important;
}
#adSlot-inPage-multipleSize-top div div {
    margin: 0 auto;
}
#adSlot-inPage-multipleSize-top div {
    margin: 0 auto;
}

/************* end global header CSS***************/
#wrapper #site-info .info-form {
    top:-148px !important;
}
#site-info .info-form {
    top:-148px !important;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
.comments_err {
	width: 220px;
}
.wrap_comments .arena {
	float: right;
	margin-top: 10px;
	margin-right: 20px;
	width: 96%;
}
}

.content-stream .tabactive .img-box a {
    position: relative;
}

.content-stream a .videos {
    background: url(../img/video-play-icon.png) 0 0 no-repeat;
    height: 44px;
    left: 10px;
    position: absolute;
    top: 165px;
    width: 45px;
}
.articles #wrapper-3 {
    -webkit-user-select: element;
 -moz-user-select: element;
 -ms-user-select: element;
 -o-user-select: element;
 user-select: element;
}

.articles dl.photo {
    margin-left: 70px;
}
/*** knajjar ***/
/**** Start of App Content ****/
body.full-width-area #wrapper #wrapper-3, body.full-width-area #wrapper #wrapper-3-inner, body.full-width-area #wrapper #wrapper-3-inner #main{width: 100% !important;}
.full-width-area #wrapper-3-inner{padding:15px 0;}
body .app-content .appsVariation img{height: 356px !important;width: 280px !important;}
body .app-content .appsVariation {height: 485px !important;}
#section .content-stream.content-stream-full-width .content .appsVariation .img-box b img {height: 251px !important;width: 169px !important;position: relative;top: 3px;}
#section .content-stream .content .appsVariation .img-box {height: auto !important;}
body .tabactive.app-content .appsVariation {height: 258px !important;margin: 5px 0 27px !important;padding:0 5px !important;width: 310px !important;  }
.tabactive .box01.appsVariation h4 a {font: 24px/28px mytestmedium;color: #6e6d6d;width: 124px;display: block;margin-top: -8px;}
.appsVariation .headline {margin-bottom: 0 !important;}
.tabactive .box01.appsVariation h4 {height: 90px !important;width: 169px !important;}
.tabactive.app-content {margin-right: 0;}
#extras .featured-articles.app-content {height: 460px;}
.content-stream .content .tabactive.app-content .txt{width: 112px !important;}
.app-content span.caption,.full-width-area #extras,.full-width-area .wrap_comments{display: none;}
.appsVariation .share-strmphoto {position: relative;top: 124px;}
.app-content.tabactive .box01:hover .txt{background: transparent;}
.app-content.tabactive .box01:hover{background: #ffdd00;-webkit-transition: all 0.28s linear;-o-transition: all 0.28s linear;-moz-transition: all 0.28s linear;-ms-transition: all 0.28s linear;-kthtml-transition: all 0.28s linear;transition: all 0.28s linear;}
.mgnlMainbarPreview{z-index: 10000002 !important;}
.content-stream-one-tab ul.tabs li a{pointer-events:none;}
body.full-width-area #wrapper #wrapper-3-inner #main {padding: 0 !important;}
/**** End of App Content ****/

.program-timing-no-repeat .show-time{
  color: #6e6e6e;
  font: 15px/12px MyTestMedium;
  margin: 0 !important;
  width: auto;
}

.program-timing.program-timing-no-repeat .show-time > .show-time-ksa > span, .program-timing.program-timing-no-repeat .show-time > .show-time-gmt > span {
  color: #6e6e6e;
  font: 15px mytestmedium;
}

.program-timing.program-timing-no-repeat .show-time span {
  color: #9b9b9b;
  font: 13px/12px MyTestbold;
  margin-right: 3px;
  margin-left: 0;
  top: 0;
}
.program-timing.program-timing-no-repeat {
  padding: 10px 10px 0 0;
}
table#navBox__mgnlNew {
    float: right;
}



/*** knajjar ***/
/*** Pin Navigation **/
/*
#section .top-nav,#article .top-nav{display:none;}
#section .global-login,#article .global-login{top: 10px;}
#section #wrapper-header #adSlot-inPage-multipleSize-top,#article #wrapper-header #adSlot-inPage-multipleSize-top{float:left;margin-top: 47px !important;}
#section #wrapper,#article #wrapper{margin-top: 133px;}
*/
/*** End of Pin Navigation **/


/*** remove it **/
/*
#section #wrapper, #article #wrapper {
  margin-top: 48px;
}
*/
/*** remove it **/

.floating-full-width {
	width: 980px !important;
}

.hide-image-header .article-main-image {
display: none;
}

.sliderkit-nav {
    visibility: visible !important;
}

#wrapper #wrapper-3-inner #extras .social_sml .content .arena div {
    width: 288px !important;
}

/*** Content Stream Full Width ***/
.content-stream.box.content-stream-full-width {
 width: 980px;
}
#main .content-stream.box.content-stream-full-width .content {
 padding: 0;
}
.content-stream-full-width .tabs {
 margin: 0 15px 15px;
}
.content-stream-full-width .tabactive {
 padding-right: 7px;
}
.content-stream-full-width .tabactive .box01 {
 width: 300px !important;
 margin: 0 8px 15px;
}
.content-stream-full-width .content .img-box b img {
 height: auto;
 width: 100%;
}
.content-stream-full-width .content .txt, .articles .content-stream-full-width .content .txt {
 width: 95%;
}
.content-stream-full-width .content .loadmore {
 margin-right: 8px;
 width: 950px;
}
.content-stream.content-stream-full-width .content .loadmore {
width: 98%;
}
.content-stream.content-stream-full-width .content .tabs {
width: 97%;
}

#wrapper #main .box.has-killer .box.kill-banner.win-killer {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  height: 345px;
  margin: 0 8px 15px;
  padding-top: 0;
  width: 317px;
}

#extras { z-index: 10 !important; }

.minigrid.grid-timing-new, .minigrid.grid-timing-new.expanded {
  background: #f4f4f4 none repeat scroll 0 0 !important;
}
#stage_0 .wrap_grid.minigrid.grid-timing-new {
  border: 0 none;
  border-radius: 0;
  margin-right: 10px;
}
.minigrid.grid-timing-new .minigrid-header {
  border: 0 none;
  border-radius: 0;
  min-height: 64px;
  border-bottom: 4px solid #ffffff;
  background:none;
}

.minigrid.grid-timing-new .minigrid-header .toggle-button {
  background: transparent url("../img/minigrid_collapse-new.jpg") no-repeat scroll 0 0;
  height: 64px !important;
  width: 211px;
}
.minigrid.grid-timing-new.expanded .minigrid-header .toggle-button {
  background: transparent url("../img/minigrid_expand-new.jpg") no-repeat scroll 0 0;
}
.minigrid.grid-timing-new .minigrid-header .current-shows {
  padding: 0;
}
.grid-timing-new .time {
  color: #9d9d9d !important;
  font: 16px mytestmedium;
}
.minigrid.grid-timing-new a {
  color: #6e6d6d;
  font: 29px/20px mytestmedium;
  height: 27px;
  overflow: hidden;
}
.minigrid.grid-timing-new .minigrid-header .current-shows li.now {
  padding-right: 9px;
  width: 198px;
}
.minigrid.grid-timing-new .minigrid-header .current-shows li {
  border-left: 0 none;
  height: 56px !important;
  padding-bottom: 0;
  padding-top: 8px;
}
.minigrid.grid-timing-new .title {
  font-size: 26px;
  margin-top: -3px;
}
.minigrid.grid-timing-new .current-shows .next {
  border-color: #dcdcdc;
  border-width: 0 1px;
  padding-right: 25px;
  width: 240px;
}
.minigrid.grid-timing-new .current-shows .later {
  border-right: 1px solid #dcdcdc;
  padding-left: 0;
  padding-right: 19px;
  width: 214px;
}
.minigrid.grid-timing-new #timeline-1.timeline {
  background: #fff url("../img/grid-timing-bg.png") repeat-x scroll center top;
  margin: 0;
}
.minigrid.grid-timing-new #timeline-1.timeline .teaser-wrapper {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  margin: 0;
}
.grid-timing-new .timeline .teaser-wrapper::-moz-selection {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
#main .minigrid.grid-timing-new .pager {
  margin: 0;
}
.minigrid.grid-timing-new .teaser .time {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  margin-right: -5px;
}
.minigrid.grid-timing-new .timeline .next, .minigrid.grid-timing-new .timeline .prev {
  background-color: #fff;
  height: 80%;
  margin-top: 46px;
}
.grid-timing-new .timeline .next span, .grid-timing-new .timeline .prev span {
  background-image: url("../img/bwd_fwd_arrows-new.png");
  background-position: 107% 34%;
  background-repeat: no-repeat;
}
.grid-timing-new  .timeline .next span {
  background-position: -7% 34%;
}
.grid-timing-new .timeline .teaser {
  border: 0 none;
  padding-right: 5px;
}
.grid-timing-new .program-details {
  border-right: 1px solid #dbdbdb;
  height: 190px;
  margin-right: 10px;
  margin-top: -10px;
  padding-left: 0;
  padding-right: 10px;
  padding-top: 15px;
}
.grid-timing-new .timeline .teaser ul.time li {
  color: #676767;
  font: bold 15px/36px arial;
  margin-right: 0;
  padding: 0;
  text-align: right;
}
.grid-timing-new .timeline .teaser ul.time li span {
  font: bold 12px arial;
}
.grid-timing-new .timeline .teaser img {
  width: 100%;
}
.grid-timing-new .timeline .rack .teaser h2 {
  color: #676767;
  font: 28px/27px mytestmedium;
}
.minigrid.grid-timing-new .minigrid-header .meta-info li.date {
  color: #353535;
  font: 18px mytestmedium;
  margin-right: -55px;
}
.minigrid.grid-timing-new .minigrid-header .meta-info li.countries {
  padding-top: 25px;
}
.minigrid.grid-timing-new .minigrid-header .meta-info li.countries select {
  border: 1px solid #abadb3;
  color: #000000;
  font: 12px Tahoma,Geneva,sans-serif;
  width: 200px;
}
.minigrid.grid-timing-new .timeline .next.show, .minigrid.grid-timing-new .timeline .prev.show {
  background: #fff none repeat scroll 0 0;
  height: 80%;
  margin-top: 46px;
}
#stage_0 .minigrid.grid-timing-new .minigrid-header .meta-info li.date {
  margin-right: 0px;
}


/*** HTML5 Counter ****/
.html5-counter-container .background-source{background: url(../img/html5-counter/snap-chat-counter.jpg) no-repeat scroll top center transparent;width: 980px;height: 124px;display: block;}
.html5-counter-container{width: 980px;margin: 7px auto 0;position: relative;}
.html5-counter-container .counterDiff > div > div{display: inline-block;font-family: mytestmedium;color: #fff;font-size: 28px;}
.html5-counter-container .daysDiff,.html5-counter-container .daysDiffWithCounter span{display: inline-block;font-family: mytestmedium;color: #fff;font-size: 60px;line-height: 40px;position: relative;left: 54px;}
.html5-counter-container .counter-container {position: absolute;top: 38px;left: 6px;line-height: 60px;}
.html5-counter-container .showPlaying {display: inline-block;font-family: mytestmedium;color: #241b5a;font-size: 34px;line-height: 45px;position: relative;left: 14px;background-color: #ffffff;line-height: 24px;padding: 5px 10px 20px;border-radius: 5px;}
.html5-counter-container .counterHours,.html5-counter-container .counterMinutes,.html5-counter-container .counterSeconds{width: 45px;text-align: center;}
.html5-counter-container .counterDiff .counterDiff-labels > div {font-size: 20px;}
.html5-counter-container .counterDiff .counterDiff-numbers > div, .html5-counter-container .daysDiffWithCounter span.counter-numbers {background: #ffffff;border-radius: 3px;line-height: 40px;padding-bottom: 4px;}
.counterDiff-labels {line-height: 10px;}
.counterDiff {position: relative;top: -10px;}
.html5-counter-container .counterDiff .counterDiff-numbers > div {color: #000000;}
.html5-counter-container .daysDiffWithCounter span.counter-numbers {line-height: 40px;padding: 0 10px 10px;margin-left: 10px;}
/*** End of HTML5 Counter ****/
.video-player{width:970px;height:528px;}



/*** Native Ads ***/
.native-ads #mv-media img {width: 560px;height: 315px;}
.native-ads #mv-pub-date{color: #888888;font: 14px Droid Arabic Kufi Regular, Arial;margin: 0;padding: 0;}
.native-ads .icon-mbcNews{background: transparent url("../img/iconsGFX/articles-icon.png?") no-repeat scroll 0 0;float: right;height: 16px;margin: 0 0 0 14px;width: 16px;}
.native-ads #mv-title{color: #1e1e1e;float: right;font: 25px/37px Droid Arabic Kufi Bold, Arial !important;margin: 0 0 20px 0;width: 100%;}
.native-ads .me-content-body p, .native-ads .me-content-body p a {color: #4a4a4a;float: none;font: 16px Droid Arabic Naskh Regular, Arial;margin: 12px 0 18px 0;width: 560px;}
.native-ads .articleBody{float: right;}
.native-ads #mv-sponsor-logo {}
.native-ads #mv-sponsor-logo > div {padding: 0;float: left;}
.native-ads #mv-sponsor-logo img {width: 100%;height: auto;border: 0 none;}
body #wrapper.native-ads #wrapper-3-inner #main {background: #fff none repeat scroll 0 0 !important;font: 16px Droid Arabic Naskh Regular,Arial;left: 0;margin: 0;overflow: visible;padding: 20px 40px 0 0;top: 0;width: 600px !important;float:right;}
body#section .native-ads #extras {display: block;width: 300px !important;}
#section .native-ads #extras .agt-live-killer.killerbanner {padding: 10px 0 0;margin-bottom: 40px;}
body .native-ads-footer #site-info .links, body .native-ads-footer #site-info div.links div {height: auto;}
.native-ads .icon-mbcNews {background: transparent url("../img/articles-icon.png?") no-repeat scroll 0 0;float: right;height: 16px;margin: 0 0 0 14px;width: 16px;position: relative;top: 5px;}
.native-ads .related-component-sliding-format2-title h3 {padding-right: 0;border-bottom: 4px solid #1e1e1e;}
.native-page .header-box {float: right;width: 560px;background-color: #f3f3f3;height: auto;padding: 10px 0 5px;}
.native-page .header-box > div {display: inline-block;}
.native-page .logo-container, .native-ads #mv-sponsor-logo {float: left;}
.native-ads #mv-sponsor-logo {padding: 0 10px;}
.native-ads #extras .slide-item {height: 120px;}
.native-ads .logo-container span {font-family: mytestmedium;font-size: 20px;line-height: 18px;font-weight: normal;}
/*** End of Native Ads ***/



#extras .social-feed iframe {
	height: 70px !important;
}
.search-wrap{
display:none;
}

/** To align the navigation with the search box in all the browsers **/
div#nav-global {position: relative;top: 11px;width: 665px;}
.photosgallery-std .sliderkit-nav-clip ul li p {direction: rtl;}

/** Remove after Eid Adha 2016  **/
.eid-logo {background: url(../img/eid-adha-2016/eid-adha.png) no-repeat scroll center right transparent;width: 184px;height: 105px;position: absolute;right: -160px;}
.mbc-anniversary-container {position: absolute;right: -135px;top:0px!important;}
@media screen\0 {
	.mbc-anniversary-container {top:-31px!important}
}
.mbc-anniversary #logo {display: none !important;}
.mbc-anniversary #wrapper-header, .mbc-anniversary #header {background: url(../img/25th-anniversary/header-background-imge.jpg) repeat-x scroll top center transparent !important;}

.mbc-anniversary-container {
    background-image: url(/dms/creative/channels/mbcNET/img/25th-anniversary/doodle-lighter.gif);
		margin-top: 0px;
		width: 300px;
		margin-right: 1px;
		z-index: 9;
		height: 90px;
		background-repeat: no-repeat;
		border-top: solid 2px #c3b39c;
		border-bottom: solid 2px #c3b39c;
	}
#header .logo-clicked {height: 93px;width: 90px;position: absolute;margin: 0px 21px 0px;z-index: 10000;cursor: pointer;top: 0;}
#site-info h4 a {pointer-events: none;}
