
a img, .wrap_trivia img, #extras .box, .button-wrapper input, .wrap-options li .button {
    border: 0 none;
}
.full-width > div {
    display: none;
}
body {
    background: #dedede none repeat scroll 0 0;
    margin: 0;
    padding: 0;
}
#wrapper-header, #header {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
#wrapper-2 .stage {
    margin: 12px 0 0;
    width: 100%;
}
#section-header, .wrap_channel_navigation {
    display: none;
}
#main .box.include-theme {
    margin: 0;
}
#wrapper-3-inner {
    background: #fff url("../img/wrapper-3-inner_bg.jpg") repeat-x scroll 0 -310px;
    padding: 15px 15px 0;
    position: relative;
    width: 950px;
}
.noor-bank {
    background: rgba(0, 0, 0, 0) url("/dms/creative/channels/ar-2013/img/noor-bank-ar/noor-bank-ar.jpg") no-repeat scroll center top;
    clear: both;
    float: none;
    height: 152px;
    left: -8px;
    margin: auto;
    position: relative;
    top: 500px;
    width: 1056px;
}
.noor-take-over #wrapper-3-inner {
    margin-top: 164px;
}
.noor-bank a {
    display: block;
    height: 100%;
    width: 100%;
}
.noor-take-over #wrapper-1 #page-header {
    display: block;
    height: 0;
}
.noor-take-over .take-over {
    overflow: visible;
    position: relative;
    text-align: center;
    width: 100%;
}
.full-width > div, .program-listing > div, .prime-series > div {
    display: none;
}
.full-width .SS_interface, .program-listing .SS_interface, .prime-series .SS_interface {
    display: block;
}
.data-block.full-width-block {
    left: 0;
    width: 100%;
}
.full-width {
    height: 460px;
    margin: auto;
    width: 100% !important;
}
.full-width > div > div {
    height: 462px;
    width: 448px;
}
.full-width .a-size {
    height: 230px;
    left: 12px;
    width: 448px;
}
.full-width .b-size, .full-width .c-size {
    height: 220px;
    top: 242px;
    width: 218px;
}
.full-width .b-size {
    left: 12px;
}
.full-width .c-size {
    left: 242px;
}
.full-width .GroupA {
    width: 460px;
}
.full-width .GroupB {
    width: 460px;
}
.full-width .GroupB .d-size {
    height: 460px;
    left: 12px;
    top: 0;
    width: 448px;
}
.full-width .main-anchor-1 {
    background: rgba(0, 0, 0, 0) url("../img/inner-shadow.png") repeat-x scroll 0 bottom;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}
.full-width div div h3 {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    bottom: 0;
    height: 58px;
    margin: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
}
.full-width div div h3 a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    display: block;
    font: 25px/21px mytestmedium;
    height: 58px;
    padding: 5px 10px 0;
    position: relative;
    width: auto;
}
.full-width .SS_left-arrow, .full-width .SS_right-arrow {
    width: 90px !important;
    z-index: 2;
}
.full-width .SS_right-arrow {
    background: transparent url("../img/right-fade-slider.png") repeat-y scroll right 0 !important;
}
.full-width .SS_left-arrow {
    background: transparent url("../img/left-fade-slider.png") repeat-y scroll right 0 !important;
}
.full-width .SS_right-arrow span {
    background: transparent url("../img/full-width-slider-arrow-right_new.png") no-repeat scroll 0 0 !important;
    height: 55px;
    left: -25% !important;
    top: 40% !important;
    width: 34px;
}
.full-width .SS_left-arrow span {
    background: transparent url("../img/full-width-slider-arrow-left_new.png") no-repeat scroll 0 0 !important;
    height: 55px;
    left: 30% !important;
    top: 40% !important;
    width: 34px;
}
.full-width .SS_roll {
    margin: 0 auto;
}
.full-width .SS_interface {
    width: 100% !important;
}
.full-width .a-size h3, .full-width .d-size h3 {
    height: 48px;
}
.full-width .a-size h3 a, .full-width .d-size h3 a {
    font: 26px/21px mytestmedium;
}
.full-width .c-size h3, .full-width .b-size h3 {
    height: 60px;
}
.full-width .c-size h3 a, .full-width .b-size h3 a {
    font: 22px/21px mytestmedium;
}
.full-width .a-size .main-img img, .full-width .b-size .main-img img, .full-width .c-size .main-img img, .full-width .d-size .main-img img {
    height: 100%;
    width: 100%;
}
.full-width > div > div > div:hover {
    box-shadow: none;
    transition: none 0s ease 0s ;
}
.full-width.arrows-removal .SS_roll {
    margin: 0 auto;
}
#main {
    width: 950px;
}
#main .box.tabsBlock {
    background: #ffffff none repeat scroll 0 0;
    left: 16px;
    margin-bottom: 30px;
    width: 630px;
}
.box.tabsBlock .block-header, #header-ad {
    display: none;
}
#tabs {
    width: 100%;
}
#tabs li {
    cursor: pointer;
    display: inline;
    list-style: outside none none;
    outline: medium none;
}
.container {
    clear: both;
    height: 265px;
    width: 100%;
}
.box.tabsBlock ul {
    clear: both;
    height: 37px;
    margin: 15px 38px;
    width: auto;
}
.box.tabsBlock li a {
    background: #8f8f8f none repeat scroll 0 0;
    color: #ffffff;
    display: block;
    float: right;
    font: 30px/24px mytestmedium;
    padding: 0 15px 10px;
}
.box.tabsBlock li a.inactive {
    background: #ffffff none repeat scroll 0 0;
    color: #8f8f8f;
}
#main .box.tabsBlock .program-listing-block, #main .box.tabsBlock .program-listing, #main .box.tabsBlock .prime-series-block, #main .box.tabsBlock .prime-series {
    height: 310px;
    margin: 0;
    width: 630px;
}
.box.tabsBlock .program-listing .SS_roll > div, .box.tabsBlock .program-listing .SS_roll > div, .box.tabsBlock .prime-series .SS_roll > div {
    height: 270px;
    width: 190px;
}
.box.tabsBlock .program-listing .SS_roll, .box.tabsBlock .prime-series .SS_roll {
    left: 23px;
}
.box.tabsBlock .program-listing .SS_roll .main-img img, .box.tabsBlock .prime-series .SS_roll .main-img img {
    height: 112px;
    width: 168px;
}
.box.tabsBlock .SS_left-arrow, .box.tabsBlock .SS_right-arrow {
    background: #ffffff none repeat scroll 0 0;
    width: 36px !important;
}
.box.tabsBlock .SS_right-arrow span {
    background: rgba(0, 0, 0, 0) url("../img/slider-arrow-right.png") no-repeat scroll center center;
    height: 30px;
    top: 14% !important;
    width: 36px;
}
.box.tabsBlock .SS_left-arrow span {
    background: rgba(0, 0, 0, 0) url("../img/slider-arrow-left.png") no-repeat scroll center center;
    height: 30px;
    top: 14% !important;
    width: 36px;
}
.box.tabsBlock .SS_roll div > span a {
    background: #f5f5f5 none repeat scroll 0 0;
    clear: both;
    color: #8d8d8d;
    float: right;
    font: 18px/18px mytestmedium,Tahoma,Geneva,sans-serif;
    margin-right: 10px;
    margin-top: 4px;
    padding: 0 10px 7px;
    text-align: center;
    text-decoration: none;
    width: auto;
}
.box.tabsBlock .channel .channel-time > .main-timimg time {
    clear: none;
    float: right;
    font: 12px Tahoma,Geneva,sans-serif;
    margin-right: 5px;
    width: auto;
}
.channel .main-title {
    height: auto;
    min-height: 60px;
}
.prime-series .main-channel {
    height: 25px;
    margin-right: 10px;
}
.prime-series h3 a {
    font: 23px/24px mytestmedium;
    margin-bottom: 5px;
}
.prime-series .SS_roll .main-option-3 {
    background: #eeeeee none repeat scroll 0 0;
    float: right;
    height: 115px;
    position: absolute;
    right: 0;
    top: 136px;
    width: 1px;
}
.programs .SS_roll .main-option-3 {
    background: #eeeeee none repeat scroll 0 0;
    float: right;
    height: 115px;
    position: absolute;
    right: 1px;
    top: 136px;
    width: 1px;
}
.prime-series h3 {
    height: auto;
    padding-right: 10px;
}
.prime-series .main-timimg {
    margin-bottom: 5px;
    padding-right: 10px;
}
.prime-series time {
    direction: ltr;
    font: 11px Tahoma,Geneva,sans-serif;
}
.box.tabsBlock .channel.show-logo .main-timimg {
    clear: none;
    float: right;
    margin-top: 10px;
    padding-right: 0;
    width: 90%;
}
.box.tabsBlock .channel.program-listing h3 {
    margin-bottom: 20px;
    margin-right: 7px;
}
.box.tabsBlock .channel.hide-logo.show-time .times {
    margin-right: 15px;
    min-height: 23px;
}
.box.tabsBlock .channel.program-listing h3 a {
    font: 23px/28px mytestmedium !important;
    padding-right: 0;
    width: 170px;
}
.featured-articles .item:hover .main-img a img, .featured-articles .item:hover p, .featured-articles .item:hover h4 a, .program-listing .SS_roll > div:hover .main-img img, .program-listing .SS_roll > div:hover h3 a, .prime-series .SS_roll > div:hover .main-img img, .prime-series .SS_roll > div:hover h3 a {
    border-color: #ffffff;
}
.featured-articles {
    float: right;
}
.featured-articles.special {
    background: transparent url("../img/special-box/arab-Idol-s4-special-box-v1.jpg?dates=13-12-2016") no-repeat scroll 0 0;
    height: 300px;
    margin-top: 15px;
    width: 605px;
}
.featured-articles.special h3 {
    display: none;
    height: 113px;
    position: absolute;
    right: -31px;
    text-indent: -999px;
    top: -66px;
    width: 210px;
}
.featured-articles.special .sub-articles {
    margin-top: 82px;
}
.featured-articles.special .sub-articles .item {
    margin: 1px 10px 12px 0 !important;
}
.featured-articles.special a p {
    color: #ffffff;
}
.featured-articles.special > .item {
    float: right;
    margin: 25px 23px 0;
    width: 278px;
}
.featured-articles.special > .item h4 a {
    border: 0 none;
    color: #fff;
    font: 25px/28px mytestmedium;
    margin: 0;
    padding-right: 5px;
    width: 97%;
}
#main .featured-articles.special .sub-articles a div {
    height: auto;
}
.featured-articles.special img {
    box-shadow: none;
    height: 173px;
    width: 271px !important;
}
.featured-articles.special .featured-articles-desc {
    display: none;
}
#main .featured-articles.special div.main-img a {
    border: 1px solid #fff;
}
.featured-articles.special .item:hover .main-img a img {
    color: #000000;
}
.featured-articles.special .item:hover p, .featured-articles.special .item:hover h4 a, .featured-articles.special a:hover p {
    color: #fff;
}
.featured-articles.special > div {
    clear: none;
}
.featured-articles.special .sub-articles img {
    border: 1px solid #fff !important;
    box-shadow: none;
    float: right;
    height: 66px;
    width: 102px !important;
}
.featured-articles.special a p {
    clear: none;
    color: #fff;
    float: right;
    font: 22px/24px mytestmedium;
    height: auto;
    width: 52%;
}
.featured-articles.special .item:hover a p {
}
.featured-articles.special .sub-articles .item {
    height: 72px;
    margin: 30px 10px 10px 0;
    padding: 0;
}
.featured-articles.special .sub-articles .item:first-child {
    border: 0 none;
}
.featured-articles.special > span {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    display: inline-block;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
}
.featured-articles.special > span a {
    background: #055793 none repeat scroll 0 0;
    border-radius: 3px;
    color: #fff;
    float: left;
    font: 21px/21px mytestbold;
    left: 100px;
    margin: 0;
    padding: 0 25px 7px;
    position: relative;
    width: 30px;
}
.featured-articles {
    width: 315px;
}
.featured-articles h3 {
    margin: 20px;
    width: auto;
}
.featured-articles h3 a {
    color: #353535;
    font: 36px/40px mytestmedium;
}
.featured-articles img {
    width: 281px;
}
.featured-articles h4 a {
    color: #6e6d6d;
    font: 28px/28px mytestmedium;
}
.featured-articles .featured-articles-desc {
    display: none;
}
.featured-articles h4 a {
    border-bottom: 1px solid #e4e4e4;
    color: #6e6d6d;
    font: 28px/32px mytestmedium;
    height: 66px;
    margin: 0 15px;
    overflow: hidden;
    padding: 0;
    text-overflow: ellipsis;
    white-space: pre-wrap;
    width: 287px;
}
.featured-articles h4 a span {
    -moz-box-orient: vertical;
    line-height: 1;
    overflow: hidden;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: auto;
}
.featured-articles .sub-articles .item {
    clear: both;
    height: 85px;
    margin: 0 15px;
    padding: 15px 0;
}
.featured-articles .sub-articles .item:first-child {
    border-bottom: 1px solid #e4e4e4;
}
.featured-articles a p {
    clear: none;
    color: #999999;
    float: right;
    font: 24px/24px mytestmedium;
    height: 80px;
    overflow: hidden;
    padding-right: 10px;
    text-align: right;
    width: 54%;
}
.featured-articles > span {
    background: #e6e6e7 none repeat scroll 0 0;
    display: block;
    margin: 0 16px;
    padding: 0 0 6px;
    text-align: center;
    width: 285px;
}
.featured-articles.black-box {
    background: rgba(0, 0, 0, 0) url("../img/most-read-in.jpg") no-repeat scroll 0 52px / 316px 262px;
    float: left;
    height: 316px;
    margin-top: 0;
    width: 316px;
}
.featured-articles.black-box h4, .featured-articles.black-box .main-img {
    display: none;
}
.featured-articles.black-box h3 {
    float: none;
    font: 40px/37px MyTestMedium;
    margin: 0;
}
.featured-articles.black-box > span a {
    background: transparent none repeat scroll 0 0;
    display: block;
    height: 100%;
    text-indent: -9999px;
    width: 100%;
}
.featured-articles.black-box > span {
    background: transparent none repeat scroll 0 0;
    height: 100%;
    margin: 0;
    width: 100%;
}
.program-listing-block.videos, .program-listing-block.promos, .program-listing-block.stars {
    clear: both;
    left: 15px;
    margin: auto;
    position: relative;
    top: 20px;
    width: 980px;
}
.videos .program-listing, .stars .program-listing {
    height: 270px;
    width: 980px;
}
.data-block.program-listing-block.videos {
    background: #2b2b2b none repeat scroll 0 0;
}
.data-block.program-listing-block .block-header h3 {
    margin: 15px 30px;
}
.data-block.program-listing-block.videos .block-header h3 {
    color: #ffffff;
}
.program-listing h3 a {
    font: 28px/28px mytestmedium;
    padding: 0 3px;
    width: 204px;
}
.program-listing .SS_roll {
    left: 25px !important;
}
.program-listing .SS_roll > div {
    height: 270px;
    width: 230px;
}
.videos .program-listing .SS_left-arrow, .videos .program-listing .SS_right-arrow {
    background: #2b2b2b none repeat scroll 0 0;
}
.program-listing .SS_left-arrow, .program-listing .SS_right-arrow {
    background: #ffffff none repeat scroll 0 0;
    width: 30px !important;
}
.videos .program-listing .SS_roll .main-img img {
    border: 2px solid #404040;
    box-shadow: 0 0 2px #000000;
}
.videos .program-listing h3 a {
    color: #898989;
}
.videos .program-listing .SS_roll > div:hover .main-img img, .videos .program-listing .SS_roll > div:hover h3 a {
    border-color: #ffffff;
    color: #ffffff;
}
.videos .program-listing .SS_roll > div .main-anchor-1 {
    background: transparent url("../img/video-play-btn.png") no-repeat scroll 0 0;
    display: block;
    height: 161px;
    left: 7px;
    position: absolute;
    top: -5px;
    width: 222px;
}
.program-listing .SS_right-arrow span {
    background: rgba(0, 0, 0, 0) url("../img/slider-arrow-right.png") no-repeat scroll center center;
    height: 30px;
    top: 22% !important;
    width: 36px;
}
.program-listing .SS_left-arrow span {
    background: rgba(0, 0, 0, 0) url("../img/slider-arrow-left.png") no-repeat scroll center center;
    height: 30px;
    top: 22% !important;
    width: 36px;
}
.program-listing-block.promos {
    background: #dedede none repeat scroll 0 0;
}
.promos .program-listing {
    height: 225px;
    left: 8px;
    width: 998px;
}
.program-listing-block.promos .program-listing .SS_roll > div {
    height: 225px;
    width: 250px;
}
.program-listing-block.promos .program-listing .SS_roll .main-img img {
    border: 0 none;
    box-shadow: none;
    height: 225px;
    width: 225px;
}
.data-block.promos .program-listing .SS_roll {
    left: -19px !important;
}
#extras {
    left: 0;
    position: absolute;
    top: 9px;
    width: 320px;
}
#extras .box.killerbanner {
    background: rgba(0, 0, 0, 0) url("../img/killerbanner-bg.png") no-repeat scroll 0 0 !important;
    height: 300px;
    margin: 0 0 10px;
    width: 320px;
}
#adSlot-inPage-300x250-left {
    left: 10px;
    position: absolute;
    top: 35px;
}
#site-info {
    padding-top: 20px;
}
#site-info h4, #copyright {
    border: 0 none;
    padding-bottom: 15px;
    padding-right: 0;
}
#site-info h4 a {
    font: 21px mytestmedium;
}
#site-info .info-form {
    border-top: 2px groove rgba(255, 255, 255, 0.4);
    display: block;
    height: 6px;
    position: relative;
    top: -122px;
    width: 976px;
}
#site-info #site-info-inner .copyrights {
    background: transparent url("../img/mbc-logo-mid-brand.png") no-repeat scroll center 15px !important;
    border-top: 2px groove rgba(255, 255, 255, 0.4);
    color: #5d5d5e;
    direction: ltr !important;
    font: 14px mytestmedium;
    padding-top: 105px;
}
#site-info #site-info-inner .copyrights {
    background: transparent url("../img/mbc-logo-25-mid-brand-v1.png") no-repeat scroll center 15px !important;
}
#site-info div.links div {
    margin: 0 0 10px;
    width: 127px;
}
#site-info ul {
    margin: 0 0 0 10px;
    width: auto;
}
#site-info li {
    color: #838385;
    list-style: disc inside none;
}
#site-info li a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #5d5d5e;
    display: inline-block;
    font: 19px/18px mytestmedium;
    padding-right: 0;
}
@-moz-document url-prefix("") {
#site-info li a {
    margin-right: 0;
}
}
#site-info a {
    color: #5d5d5e;
}
#site-info a:hover {
    color: #454545;
}
#site-info .links {
    margin-right: 20px;
}
#site-info .links:first-child {
    margin-right: 50px;
}
.stage .mgnlControlBar, .stage .mgnlControlBarSmall {
    position: relative;
    z-index: 2;
}
.videos .mgnlControlBarSmall {
    position: relative;
    z-index: 3;
}
#branding #nav-global {
    width: 1080px;
}
#wrapper-header, #header {
    z-index: 10500;
}
#branding #nav-global .nav-global > li > table {
    display: none;
    position: relative;
    top: 32px;
    z-index: 1;
}
#branding #nav-global .nav-global > li:hover table {
    display: block;
}
#branding #nav-global .nav-global > li li table {
    display: block;
    margin: 20px 0 0 !important;
    width: 120px !important;
}
.take-over {
    height: 0;
    margin: 0 auto;
    overflow: visible;
    position: relative;
    width: 1010px;
    z-index: 51;
}
.mbcmaser-banner {
    left: 13px;
    position: absolute;
    top: 473px;
}
#wrapper-2, #wrapper-3, .take-over {
    -moz-user-select: none;
}
#main .box.matches {
    margin-bottom: 0;
    padding-top: 15px;
}
.mx-widget html, .mx-widget body, .mx-widget div, .mx-widget span, .mx-widget applet, .mx-widget object, .mx-widget iframe, .mx-widget h1, .mx-widget h2, .mx-widget h3, .mx-widget h4, .mx-widget h5, .mx-widget h6, .mx-widget p, .mx-widget blockquote, .mx-widget pre, .mx-widget a, .mx-widget abbr, .mx-widget acronym, .mx-widget address, .mx-widget big, .mx-widget cite, .mx-widget code, .mx-widget del, .mx-widget dfn, .mx-widget em, .mx-widget img, .mx-widget ins, .mx-widget kbd, .mx-widget q, .mx-widget s, .mx-widget samp, .mx-widget small, .mx-widget strike, .mx-widget strong, .mx-widget sub, .mx-widget sup, .mx-widget tt, .mx-widget var, .mx-widget b, .mx-widget u, .mx-widget i, .mx-widget center, .mx-widget dl, .mx-widget dt, .mx-widget dd, .mx-widget ol, .mx-widget ul, .mx-widget li, .mx-widget fieldset, .mx-widget form, .mx-widget label, .mx-widget legend, .mx-widget table, .mx-widget caption, .mx-widget tbody, .mx-widget tfoot, .mx-widget thead, .mx-widget tr, .mx-widget th, .mx-widget td, .mx-widget article, .mx-widget aside, .mx-widget canvas, .mx-widget details, .mx-widget embed, .mx-widget figure, .mx-widget figcaption, .mx-widget footer, .mx-widget header, .mx-widget hgroup, .mx-widget menu, .mx-widget nav, .mx-widget output, .mx-widget ruby, .mx-widget section, .mx-widget summary, .mx-widget time, .mx-widget mark, .mx-widget audio, .mx-widget video, .mx-inline-widget html, .mx-inline-widget body, .mx-inline-widget div, .mx-inline-widget span, .mx-inline-widget applet, .mx-inline-widget object, .mx-inline-widget iframe, .mx-inline-widget h1, .mx-inline-widget h2, .mx-inline-widget h3, .mx-inline-widget h4, .mx-inline-widget h5, .mx-inline-widget h6, .mx-inline-widget p, .mx-inline-widget blockquote, .mx-inline-widget pre, .mx-inline-widget a, .mx-inline-widget abbr, .mx-inline-widget acronym, .mx-inline-widget address, .mx-inline-widget big, .mx-inline-widget cite, .mx-inline-widget code, .mx-inline-widget del, .mx-inline-widget dfn, .mx-inline-widget em, .mx-inline-widget img, .mx-inline-widget ins, .mx-inline-widget kbd, .mx-inline-widget q, .mx-inline-widget s, .mx-inline-widget samp, .mx-inline-widget small, .mx-inline-widget strike, .mx-inline-widget strong, .mx-inline-widget sub, .mx-inline-widget sup, .mx-inline-widget tt, .mx-inline-widget var, .mx-inline-widget b, .mx-inline-widget u, .mx-inline-widget i, .mx-inline-widget center, .mx-inline-widget dl, .mx-inline-widget dt, .mx-inline-widget dd, .mx-inline-widget ol, .mx-inline-widget ul, .mx-inline-widget li, .mx-inline-widget fieldset, .mx-inline-widget form, .mx-inline-widget label, .mx-inline-widget legend, .mx-inline-widget table, .mx-inline-widget caption, .mx-inline-widget tbody, .mx-inline-widget tfoot, .mx-inline-widget thead, .mx-inline-widget tr, .mx-inline-widget th, .mx-inline-widget td, .mx-inline-widget article, .mx-inline-widget aside, .mx-inline-widget canvas, .mx-inline-widget details, .mx-inline-widget embed, .mx-inline-widget figure, .mx-inline-widget figcaption, .mx-inline-widget footer, .mx-inline-widget header, .mx-inline-widget hgroup, .mx-inline-widget menu, .mx-inline-widget nav, .mx-inline-widget output, .mx-inline-widget ruby, .mx-inline-widget section, .mx-inline-widget summary, .mx-inline-widget time, .mx-inline-widget mark, .mx-inline-widget audio, .mx-inline-widget video {
    font-family: mytestmedium !important;
}
#wrapper-2 .mx-inline-widget .mx-event-widget .mx-bar.mx-gamecenter-topbar {
    background: #a3a7af none repeat scroll 0 0;
}
#wrapper-2 .mx-inline-widget .mx-event-widget .mx-bar.mx-gamecenter-topbar .mx-topnav-buttons .mx-button, #wrapper-2 .mx-inline-widget .mx-event-widget .mx-bar.mx-gamecenter-topbar .mx-topnav-buttons .mx-sound-enable, #wrapper-2 .mx-inline-widget .mx-event-widget .mx-bar.mx-gamecenter-topbar .mx-topnav-buttons .mx-match-link, #wrapper-2 .mx-inline-widget .mx-event-widget .mx-bar.mx-gamecenter-topbar .mx-topnav-buttons .mx-button {
    background: #93b743 none repeat scroll 0 0;
}
#wrapper-2 .mx-inline-widget .mx-event-widget .mx-bar.mx-gamecenter-topbar .mx-topnav-buttons .mx-button:hover, #wrapper-2 .mx-inline-widget .mx-event-widget .mx-bar.mx-gamecenter-topbar .mx-topnav-buttons .mx-sound-enable:hover, #wrapper-2 .mx-inline-widget .mx-event-widget .mx-bar.mx-gamecenter-topbar .mx-topnav-buttons .mx-match-link:hover, #wrapper-2 .mx-inline-widget .mx-event-widget .mx-bar.mx-gamecenter-topbar .mx-topnav-buttons .mx-button:hover {
    background: #92b743 none repeat scroll 0 0;
}
#wrapper-2 .mx-league-name, #wrapper-2 .mx-button span {
    font-size: 18px;
    line-height: 15px;
}
#wrapper-2 .mx-res-away, #wrapper-2 .mx-res-home {
    line-height: 5px;
}
.mx-widget .mx-link, .mx-inline-widget .mx-link {
    font-size: 40px;
}
#wrapper-2 .mx-team-vs > span {
    color: #000000;
    font-size: 32px;
    line-height: 20px;
}
#wrapper-2 .mx-inline-widget .mx-event-widget .mx-event-wrapper.mx-event-info, #wrapper-2 .mx-inline-widget .mx-event-widget .mx-goal-incidents-container {
    background: transparent none repeat scroll 0 0;
}
#wrapper-2 .mx-inline-widget .mx-event-widget .mx-teams {
    background: transparent none repeat scroll 0 0;
    height: 115px;
}
#wrapper-2 .mx-widget-gamecenter {
    background: #ffffff url("../img/match-center-bg.jpg") no-repeat scroll center bottom;
}
#wrapper-2 .mx-inline-widget .mx-event-widget .mx-teams .mx-team-away, #wrapper-2 .mx-inline-widget .mx-event-widget .mx-teams .mx-team-home {
    top: 10px;
}
#wrapper-2 .mx-inline-widget .mx-event-widget .mx-gc-flag.mx-float-left {
    float: left;
    margin-right: 35px;
}
#wrapper-2 .mx-inline-widget .mx-event-widget .mx-gc-flag.mx-float-right {
    float: right;
    margin-left: 30px;
}
#wrapper-2 .mx-inline-widget .mx-event-widget .mx-gc-right.mx-float-left {
    float: right;
}
#wrapper-2 .mx-inline-widget .mx-event-widget .mx-event-info-container {
    font-size: 20px;
}
#wrapper-2 .mx-inline-widget .mx-event-widget .mx-event-info-container .mx-status {
    width: 150px;
}
#wrapper-2 .mx-inline-widget .mx-event-widget .mx-timeline-container.mx-double-timeline .mx-timeline-team-names, #wrapper-2 .mx-inline-widget .mx-event-widget .mx-timeline-container .mx-timeline {
    background: #e4e8ec none repeat scroll 0 0;
}
#wrapper-2 .mx-inline-widget .mx-event-widget .mx-timeline-container .mx-timeline-incidents LI SPAN, #wrapper-2 .mx-inline-widget .mx-event-widget .mx-timeline-container .mx-timeline-labels LI SPAN {
    font-size: 20px;
}
#wrapper-2 .mx-inline-widget .mx-event-widget .mx-timeline-container.mx-soccer .mx-timeline-labels {
    background: #5b950b none repeat scroll 0 0;
    top: -20px;
}
.wrap_channel_navigation ul li a, .wrap_channel_navigation ul li strong {
    border-right: 1px solid #575957;
}
.wrap_channel_navigation ul li:first-child a, .wrap_channel_navigation ul li:first-child strong, .wrap_channel_navigation li li a, .wrap_channel_navigation li li strong {
    border: 0 none;
}
#wrapper-2 .mx-header-label span {
    font-size: 16px;
    line-height: 16px;
    padding: 0;
    top: 0;
}
#wrapper-2 .mx-inline-widget TABLE TH.mx-header-label {
    background: #a4a9af none repeat scroll 0 0;
}
#wrapper-2 .matches .mx-widget .mx-link, #wrapper-2 .matches .mx-inline-widget .mx-link, #wrapper-2 .matches .mx-inline-widget .mx-matches-table.mx-group-by-date .mx-time-starttime {
    color: #000;
    font-size: 18px;
}
#wrapper-2 [dir="rtl"] .mx-matches-table TD > DIV.mx-team-home-name {
    direction: ltr;
    text-align: right;
}
#wrapper-2 .mx-inline-widget .mx-matches-table DIV.mx-team-away-name DIV.mx-highres-flags DIV.mx-flag, #wrapper-2 .mx-inline-widget .mx-matches-table DIV.mx-team-home-name DIV.mx-highres-flags DIV.mx-flag {
    transform: scale(0.4, 0.4);
}
#wrapper-2 .mx-highres-flags.mx-flags {
    margin-left: 10px;
}
.mx-inline-widget TABLE TR {
    background-color: #d6dbe2;
}
.mx-inline-widget TABLE TR:nth-child(2n) {
    background-color: #eff5fc;
}
.mx-inline-widget .mx-event-widget .mx-timeline-container.mx-double-timeline .mx-timeline-labels {
    left: 0;
}
#wrapper-2 .mx-inline-widget .mx-event-widget .mx-timeline-container.mx-soccer .mx-timeline-labels li span {
    color: #000000;
    font-size: 14px;
    top: -1px;
}
#wrapper-2 .mx-inline-widget .mx-event-widget .mx-timeline-container {
    height: 60px;
}
#wrapper-2 .mx-timeline-team-away {
    position: relative;
    top: 20px;
}
#wrapper-2 .mx-inline-widget .mx-event-widget .mx-timeline-container {
    background: #e4e7e9 none repeat scroll 0 0;
}
#wrapper-2 .mx-inline-widget .mx-event-widget .mx-timeline-container.mx-double-timeline .mx-timeline-incidents {
    left: 0;
    top: -60px;
    width: 94%;
}
#wrapper-2 .mx-inline-widget .mx-event-widget .mx-timeline-container.mx-double-timeline .mx-timeline-labels {
    left: 0;
    width: 100%;
}
#wrapper-2 .mx-inline-widget .mx-event-widget .mx-timeline-container.mx-double-timeline .mx-timeline {
    left: 0;
    width: 100%;
}
#wrapper-2 .mx-inline-widget .mx-event-widget .mx-timeline-container.mx-soccer .mx-timeline-labels .mx-t0 {
    left: 20px;
}
#wrapper-2 .mx-inline-widget .mx-event-widget .mx-timeline-container.mx-soccer .mx-timeline-labels .mx-t90 {
    left: 98.4%;
}
#wrapper-2 .mx-inline-widget .mx-event-widget .mx-gc-flag .mx-flag {
    transform: scale(1.6, 1.6);
}
#wrapper-2 .matches .mx-widget-gamecenter .mx-team-away-name .mx-link {
    font-size: 30px;
    line-height: 38px;
}
#wrapper-2 .group-standing .mx-widget .mx-link, .mx-inline-widget .mx-link {
    font-size: 20px;
    line-height: 20px;
    position: relative;
    top: -6px;
}
#wrapper-2 .group-standing .mx-widget .mx-link, .mx-inline-widget .mx-flags .mx-link {
    right: 19px;
    top: 16px;
}
#wrapper-2 .group-standing .mx-inline-widget TABLE TD, .mx-inline-widget TABLE TH {
    font-size: 16px;
}
#wrapper-2 .group-standing .mx-inline-widget TABLE .mx-table-header, .mx-inline-widget TABLE TR.mx-table-header {
    background-color: #f1f6fd;
}
#wrapper-2 .group-standing .mx-inline-widget TABLE TR {
    background-color: #dadee4;
}
#wrapper-2 .group-standing .mx-inline-widget TABLE TR:nth-child(2n) {
    background-color: #ffffff;
}
#wrapper-2 .group-standing .mx-header-label span {
    padding: 0 10px 0 0;
}
#main .group-standing {
    padding: 10px;
}
#wrapper-2 .group-standing .mx-header-label span {
    font-size: 21px;
}
#wrapper-2 .mx-league-name, #wrapper-2 .mx-league-name {
    font-size: 21px;
}
#wrapper-2 .mx-team-vs > span {
    color: #000000;
    font-size: 23px;
    line-height: 5px;
}
#wrapper-2 .matches .mx-inline-widget .mx-event-widget .mx-timeline-container .mx-timeline {
    background: transparent none repeat scroll 0 0;
}
#wrapper-2 .matches .mx-team-home-name .mx-link {
    font-size: 30px;
    line-height: 38px;
}
#wrapper-2 .matches .mx-inline-widget .mx-event-widget .mx-lineup .mx-lineup-graph-toggle .mx-label {
    font-size: 22px;
    line-height: 13px;
    padding: 5px 15px 15px;
}
#wrapper-2 .matches .mx-inline-widget .mx-event-widget .mx-gamecenter-subpage {
    height: 255px;
}
#wrapper-2 .matches .mx-inline-widget .mx-event-widget .mx-livestats .mx-livestat-textlabel {
    font-size: 16px;
}
#wrapper-2 .all-matches .mx-header-label span {
    font-size: 21px;
}
#wrapper-2 .all-matches .mx-inline-widget .mx-matches-table DIV.mx-team-home-name DIV.mx-highres-flags DIV.mx-flag {
    top: -26px;
}
#wrapper-2 .all-matches .mx-team-away-name .mx-link, #wrapper-2 .all-matches .mx-team-home-name .mx-link {
    font-size: 18px;
    line-height: 25px;
    top: 0;
}
#wrapper-2 .all-matches .mx-inline-widget .mx-highres-icon .mx-icon.icons-dark-link {
    display: none;
    left: -30px;
    top: 17px;
}
.mx-inline-widget .mx-event-widget .mx-teams .mx-team-home .mx-highres-flags {
    top: -9px;
}
.box.tabsBlock li.selected a, .box.tabsBlock li:hover a {
    background: #8f8f8f none repeat scroll 0 0;
    color: #fff;
}
body .box.tabsBlock .SS_left-arrow {
    width: 27px !important;
}
.featured-articles.special.ramdan-2016-special-box-1 {
    background: transparent url("../img/special-box/ramadan-2016/special-box-qomra.jpg") no-repeat scroll 0 0;
}
.featured-articles.special.ramdan-2016-special-box-2 {
    background: transparent url("../img/special-box/ramadan-2016/special-box-selfi.jpg") no-repeat scroll 0 0;
}
.featured-articles.special.ramdan-2016-special-box-3 {
    background: transparent url("../img/special-box/ramadan-2016/special-box-trip.jpg") no-repeat scroll 0 0;
}
.featured-articles.special.ramdan-2016-special-box-4 {
    background: transparent url("../img/special-box/ramadan-2016/special-box-sharayan.jpg") no-repeat scroll 0 0;
}
.featured-articles.special.ramdan-2016-special-box-5 {
    background: transparent url("../img/special-box/ramadan-2016/special-box-red-tear.jpg") no-repeat scroll 0 0;
}
.featured-articles.special.ramdan-2016-special-box-6 {
    background: transparent url("../img/special-box/ramadan-2016/special-box-horof-w-olof.jpg") no-repeat scroll 0 0;
}
.featured-articles.special.ramdan-2016-special-box-7 {
    background: transparent url("../img/special-box/ramadan-2016/special-box-haret-alsheakh.jpg") no-repeat scroll 0 0;
}
.featured-articles.special.ramdan-2016-special-box-8 {
    background: transparent url("../img/special-box/ramadan-2016/special-box-mamoun-w-shorkah.jpg") no-repeat scroll 0 0;
}
.featured-articles.special.ramdan-2016-special-box-9 {
    background: transparent url("../img/special-box/ramadan-2016/special-box-ramez.jpg") no-repeat scroll 0 0;
}
.featured-articles.special.ramdan-2016-special-box-10 {
    background: transparent url("../img/special-box/ramadan-2016/special-box-the-legend.jpg") no-repeat scroll 0 0;
}
#main .featured-articles.special.special.ramdan-2016-special-box img {
    border: 1px solid #526282 !important;
}
#main .featured-articles.special.special.ramdan-2016-special-box div.main-img a {
    height: 160px;
}
#main .featured-articles.special.ramdan-2016-special-box .sub-articles a div {
    height: 63px;
}
.featured-articles.special.ramdan-2016-special-box > span a {
    background: #af886a none repeat scroll 0 0;
    color: #ffffff;
    float: left;
    margin: 0;
}
.featured-articles.special.ramdan-2016-special-box > span {
    width: 485px;
}
.featured-articles.special.special.special-box-25th > .item h4 a {
    color: #ffffff;
}
.featured-articles.special.special.special-box-25th a p {
    color: #ffffff;
    width: 52%;
}
#main .featured-articles.special.special-box-25th img {
    border: 1px solid #526282 !important;
}
#main .featured-articles.special.special-box-25th div.main-img a {
    height: 160px;
}
#main .featured-articles.special.special-box-25th .sub-articles a div {
    height: 63px;
}
.featured-articles.special-box-25th > span a {
    background: #ecbc40 none repeat scroll 0 0;
    color: #526282;
    float: left;
    margin: 0;
}
.featured-articles.special-box-25th > span {
    width: 485px;
}
.featured-articles.special-box-25th {
    background: transparent url("../img/special-box/25th-anniversary.jpg") no-repeat scroll 0 0;
}
.featured-articles.special.special-box-25th .item:hover p, .featured-articles.special.special-box-25th .item:hover h4 a, .featured-articles.special.special-box-25th a:hover p {
    color: #ecbc40;
}
.box.drama-plus-banner {
    margin: auto;
    width: 980px;
}
