 /** Body **/
body div#wrapper {
    background-position: center 95px !important;
    margin-top: 25px !important;
}
/* LOGO */
#logo {
    top: 22px;
    right: 10px !important;
    background: url(../img/mbc-logo-2016.png?v=1) center center transparent;
    background-size: 90px;
    background-repeat: no-repeat;
    width: 105px !important;
    height: 45px !important;
    z-index: 10120;
}

/*Left Side Menu */

.left-side-menu {
    z-index: 9999;
    width: 980px;
    left: 0;
    right: 0px;
    margin: auto;
    top: 5px;
    margin-top: 2px;
    padding: 10px 5px;
    position: absolute;
    height: 35px;
    direction: rtl;
    display: block
}

.left-side-menu div.english-menu {
    float: left;
    padding: 5px 10px;
    width: 19px;
    background: url(../img/navGFX/top-nav-separator.png) 0 22% no-repeat !important;
    margin-left: 160px;
    margin-top: 3px;
}

.left-side-menu a.english-side span, .profile-info span {
    color: #cccccc;
    display: inline-block;
    font: 14px Trebuchet MS Regular, Sans-Serif !important;
    cursor: pointer;
    z-index: 9999;
}

.left-side-menu .global-login {
    width: 122px !important;
    position: relative;
    float: left;
    right: 169px;
    margin-right: 31px;
}

.global-login-container {
    margin: 0 auto;
    width: 980px;
}

.global-login .global-login-container #profileDiv {
    margin-top: 9px !important;
    position: relative;
    float: right;
    margin-left: 42px !important;
    width: 145px !important;
    overflow: hidden;
}

.left-side-menu .profile-info {
    float: right;
    margin-right: -10px;
    margin-top: 2px;
    padding: 5px 10px;
    height: 24px;
    width: auto;
    position: absolute;
}

.global-login #mbcloginicons {
    margin-top: 12px !important;
}

#mbcloginicons {
    width: auto;
    height: 20px;
    margin: 18px 0 0;
    direction: ltr;
    float: left;
    display: block;
    position: relative;
    z-index: 101;
}

.global-login #mbcloginicons span {
    color: #cccccc;
    font: 14px/19px Droid Arabic Kufi Regular, Sans-Serif !important;
    cursor: pointer;
}

#mbcloginicons span {
    padding: 0 0 0 9px;
    display: inline-block;
    margin-left: 10px;
    position: relative;
    top: -10px;
}

.profile-info span {
    font: 14px/16px Droid Arabic Kufi Regular, Sans-Serif !important;
}

.left-side-menu a.english-side span, .profile-info span {
    color: #cccccc;
    display: inline-block;
    font: 14px Trebuchet MS Regular, Sans-Serif !important;
    cursor: pointer;
    z-index: 9999;
}

/** Search Box **/

/*** Search Feautre ***/

/**** Serach Field ****/

#branding {
    height: 93px !important;
}

#header {
    height: 95px !important;
}

#logo {
    top: 22px;
    right: 10px !important;
    background: url(../img/mbc-logo-2016.png?v=1) center center transparent;
    background-size: 90px;
    background-repeat: no-repeat;
    width: 105px !important;
    height: 45px !important;
    z-index: 10120;
}

#logo a {
    display: block;
    width: 105px !important;
    height: 45px !important;
}

#branding ul.nav-global li.home {
    margin-right: 0PX !IMPORTANT;
}

#nav-global {
    width: 562px;
    margin: auto !important;
    margin-right: 127px !important;
}

.search-wrap .search .body {
    background: transparent !important;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.search-wrap {
    display: block;
}

.search-wrap .body div.searchFields {
    width: 509px !important;
    height: 31px;
    border-radius: 0px 0px 0px 0px;
    float: right;
}

.search-wrap .searchFields.openList input#searchField {
    border-radius: 0px 4px 0px 0px;
}

.search-wrap input#searchField {
    width: 475px;
    border: none;
    border-radius: 0px;
    padding: 0px 19px;
    font: normal 13px Droid Arabic Kufi Regular, Sans-Serif !important;
    color: #aaaaaa;
    height: 31px;
    outline: 0px !important;
    box-sizing: border-box;
    border-radius: 0px 4px 4px 0px;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.09);
    direction: rtl;
    -moz-box-sizing: border-box;
}

.search-wrap a.submitSearch {
    width: 34px;
    height: 31px;
    display: block;
    background: url(../img/search/searchIcon.png?v=123) no-repeat scroll center center #FFF;
    position: relative;
    float: left;
}

.search-wrap input#searchField::-ms-clear {
    display: none;
}

.search-wrap input#searchField:Focus, .search-wrap input#searchField:active {
    outline: 0px !important;
}

.search-wrap {
    position: relative;
    top: 16px;
    z-index: 100;
    width: 717px;
    background-color: transparent;
    z-index: 10110;
    margin: auto;
    left: 0px;
    right: 0px;
}

.search-wrap ul li div {
    border-bottom: 1px solid #e2e2e2;
    color: #313131;
    cursor: pointer;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0px 17px 0 0;
}

.search-wrap ul li div span {
    padding: 9px 2px;
    color: #313131;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    font: 12px Droid Arabic Kufi Regular, Sans-Serif !important;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.09);
}

.search-wrap li.active, .search-wrap li:hover, .search-wrap li:active {
    background-color: #e2e2e2 !important;
}

.search-wrap ul {
    top: 0;
    width: 100%;
}

.search-wrap ul li div {
    float: right;
    width: 93%;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space : nowrap;
}

.search-wrap ul li div span.title {
    float: right;
    width: 85%;
}

.search-wrap ul li div span.title bdi{
    width: 100%;
    float : right;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.search-wrap ul li div span.type {
    float: left;
    /* margin-left: 10px; */
    color: #bababa;
    font-size: 10px !important;
    -webkit-font-smoothing: antialiased;
}

.search-wrap .autocomplete {
    position: relative;
    display: none;
    overflow: hidden;
    width: 475px !important;
    margin: 0px !important;
    background-color: #FFFFFF !important;
    border-top: 1px solid #b6b6b6;
    left: 0px !important;
    top: 0px !important;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0px 1px 5px #ababab;
    float: right;
}

.search-wrap ul li {
    color: #101010;
    cursor: pointer;
    float: right;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    background: transparent !important;
}

/* Mobile */
.search-wrap.show {
    display: block !important;
}

#searchMan {
    display: block;
    height: 5.8rem;
    width: 5.5rem;
    background: url(../img/search/mobile-search.png?v=123) no-repeat center center;
    background-size: 41px;
    position: absolute !important;
    z-index: 1000;
    overflow: hidden;
    margin-right: 65px !important;
    right: 0px;
    top: -1px;
    bottom: 0px;
    border: 0px;
    outline: 0px;
}

#searchMan.openSearchBox {
    background: url(../img/search/mobile-search-close-icon.png?v=123) no-repeat center center;
    background-size: 58px;
}

.mbc-mobile .search-wrap .body div.searchFields {
    width: 90% !important;
    height: 50px;
    margin: 15px auto !important;
    clear: both;
    left: 0px;
    right: 0px;
    float: none;
    border: 1px solid #c2c2c2;
    /* box-sizing: border-box; */
    border-radius: 6px;
    overflow: hidden !important;
}

.mbc-mobile .searchFields.openList input#searchField {
    border-radius: 0px 4px 4px 0px;
}

.mbc-mobile input#searchField {
    width: 85%;
    border: none;
    border-radius: 0px !important;
    padding: 0px 15px;
    font: 11px Droid Arabic Kufi Regular, Sans-Serif !important;
    color: #aaaaaa;
    height: 49px;
    outline: 0px !important;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    direction: rtl;
    top: 0;
    margin: 1px 0;
}

.mbc-mobile .search-wrap a.submitSearch {
    width: 15%;
    height: 50px;
    display: block;
    background: url(../img/search/searchIconMobile.png?v=22) no-repeat scroll top center transparent;
    position: relative;
    background-size: 50px;
    float: left;
    padding: 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.mbc-mobile .search-wrap {
    position: absolute;
    top: 56px;
    min-width: 100%;
    width: 100%;
    height: 74px;
    background-color: #eceff1;
    z-index: 9999999999999;
    margin: auto;
    left: 0px;
    right: 0px; /* margin: auto; *//* clear: both; */
}

.mbc-mobile .search-wrap .autocomplete {
    position: absolute;
    display: none;
    overflow: hidden;
    width: 100% !important;
    margin: 0px !important;
    background-color: #FFFFFF !important;
    border-top: 1px solid #cccccc;
    left: 0px !important;
    top: 74px !important;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0px 0px 10px #f4f4f4;
    float: right;
}

.mbc-mobile input#searchField {
    width: 100%;
    border: none;
    border-radius: 0px !important;
    padding: 0px 13px 0 55px;
    font: 89% Droid Arabic Kufi Regular, Sans-Serif !important;
    color: #aaaaaa;
    height: 49px;
    outline: 0px !important;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    direction: rtl;
    top: 0;
    margin: 1px 0;
    float: right;
}

.mbc-mobile .search-wrap a.submitSearch {
    position: absolute;
    width: 50px !important;
    display: block;
    background: url(../img/search/searchIconMobile.png?v=22) no-repeat scroll top center transparent;
    background-size: 50px;
    padding: 0px;
    border-radius: 4px 0px 0px 4px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    float: left;
    bottom: 19px;
}

.mbc-mobile .search-wrap {
    position: absolute;
    top: 56px;
    min-width: 100%;
    width: 100%;
    height: 85px;
    background-color: #eceff1;
    z-index: 9999999999999;
    margin: auto;
    left: 0px;
    right: 0px;
    box-sizing: border-box; /* margin: auto; *//* clear: both; */
}

.mbc-mobile .search-wrap .autocomplete {
    position: absolute;
    display: none;
    overflow: hidden;
    width: 100% !important;
    margin: 0px !important;
    background-color: #FFFFFF !important;
    border-top: 1px solid #cccccc;
    left: 0px !important;
    top: 85px !important;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0px 0px 10px #f4f4f4;
    float: right;
}

.mbc-mobile.hideSearchResult #wrapper-1 {
    visibility: hidden !important;
    xdisplay: none !important;
    height: 500px !important;
    z-index: 0 !important;
    overflow: hidden;
}

.mbc-mobile.hideSearchResult #social-media-embed-post block-560,
.mbc-mobile.hideSearchResult #site-info,
.mbc-mobile.hideSearchResult .share-bar {
    display: none !important;
    visibility: hidden !important;
}

.mbc-mobile.hideSearchResult .searchResultBox {
    visibility: hidden !important;
    height: 100% !important;
    height: 0px !important
}

@media screen and (max-width: 760px) {
    .search-wrap input#searchField, .search-wrap ul li div span {
        font: 16px Droid Arabic Kufi Regular, Sans-Serif !important;
    }

    .search-wrap ul li div span.type {
        font-size: 12px !important;
        line-height: 31px !important;
    }
}

@media screen and (max-width: 460px) {
    .search-wrap input#searchField, .search-wrap ul li div span {
        font: 10px Droid Arabic Kufi Regular, Sans-Serif !important;
    }

    .search-wrap input#searchField {
        padding-left: 50px !important
    }
}

@media screen and (max-width: 475px) {
    .search-wrap ul li div span.title {
        width: 80%;
    }
}

/**** Wrraper ****/
div#nav-global {
    position: relative;
    top: 11px;
}

/** NAV **/

.js-on #branding ul.nav-global li:hover .menu, #branding ul.nav-global li .menu {
    margin: 0 -127px 0 !important;
    width: 980px;
    position: absolute;
    z-index: -1;
}

body.rootProsports .js-on #branding ul.nav-global li:hover .menu,
body.rootProsports #branding ul.nav-global li .menu,
body.prosports .js-on #branding ul.nav-global li:hover .menu,
body.prosports #branding ul.nav-global li .menu  {
    margin: 0 0px 0 !important;
    width: auto;
    position: absolute;
    z-index: -1;
}

#wrapper-header > div.search-wrap > div.search > div > div > div > ul > li:last-child > div{
    border: none;
}