#limelight_player#limelight_player {width:100%!important}
#limelight_player#limelight_player, #limelight_player#limelight_player * {
    min-width:100%!important
}

#limelight_player#limelight_player * {object-fit: initial!important;}

.articles.video-article .external-media:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
/*.limelight-player-footprint {height:56px!important}*/

@media screen and (max-width:980px) {
    .mediaContainer.videoClass>div.limelight-player-footprint {
        width:100%!important;
        height:56.25vw!important;
    }


    #limelight_player#limelight_player .limelight-player-viewport {
        overflow: hidden;
        display: block;
        position: relative;
        height: 100%;
        width: 0;
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        -webkit-flex: 1;
        -moz-flex: 1;
        -ms-flex: 1;
        flex: 1;
        -webkit-box-ordinal-group: 1;
        -moz-box-ordinal-group: 1;
        -ms-flex-order: 1;
        -webkit-order: 1;
        -moz-order: 1;
        order: 1;}
}