@media print {
    .ui-right-rail {
        display: none !important;
    }
    .ui-pagination {
        display: none !important;
    }
    .neighbors {
        display: none !important;
    }
    .tags {
        display: none !important;
    }
    .comments-header {
        display: none !important;
    }
    .recommended-header {
        display: none !important;
    }
    .ui-comments {
        display: none !important;
    }
    .ui-newsletter-channel-sign-up {
        display: none !important;
    }
    .related {
        display: none !important;
    }
    .ui-ad {
        display: none !important;
    }
    .ui-popular-today {
        display: none !important;
    }
    .rail-container {
        display: none !important;
    }
    .feed-container {
        display: none !important;
    }
    .ui-skexplorer {
        display: none !important;
    }
    .page-container {
        min-height: 0 !important;
    }
    .menu-text {
        display: none !important;
    }
    .search-toggle {
        display: none !important;
    }
    .user {
        display: none !important;
    }
    .socials {
        display: none !important;
    }
    #header-sub {
        display: none !important;
    }
    .ui-socials {
        display: none !important;
    }
    .logo {
        position: absolute !important;
        top: 0 !important;
        left: 0 !important;
    }
    .ui-header {
        position: absolute !important;
        top: 0 !important;
        left: 0 !important;
        width: 100% !important;
        z-index: 5 !important;
    }
    #debug-kit-toolbar {
        display: none !important;
    }
    .ui-sk-explorer {
        display: none !important;
    }
    .content-container.img {
        width: 100%  !important;
        height: auto  !important;
    }
    .featured {
        width: 100%  !important;
        height: auto  !important;
    }
    h1 {
        font-size: 1.3em  !important;
    }
    h2 {
        font-size: 1.5em !important;
    }
    .ui-content-container {
        font-size: 14px !important;
    }
    .ui-article .blurb {
        font-size: 14px !important;
    }
    .body p {
        font-size: 14px !important;
    }
    .body ul li {
        font-size: 14px !important;
    }
    .body ol li {
        font-size: 14px !important;
    }
    #header-social-share-more {
        display: none !important;
    }
    #header-social-share {
        display: none !important;
    }
}
