@charset "shift_jis";

#calendarBalloonArea{
	width:300px;
	background:#eeeeee;
	text-align:center;
	position:relative;
	padding:3px 0px;
}

/*calender*/
#calendarBalloonArea table.calender{
	margin:0px auto;
	filter: expression(document.execCommand("BackgroundImageCache",false, true)); 
}

	#calendarBalloonArea table.calender th{
		background:#cccccc;
		width:40px;
		color:333333;
		padding:2px 0px;
		font-size:85%;
		text-align:center;
	}
	#calendarBalloonArea table.calender th.calSunday{color:#cc3399;}
	#calendarBalloonArea table.calender th.calSaturday{color:#0066cc;}

	#calendarBalloonArea table.calender td{
		width:40px;
		background:#ffffff;
		text-align:center;
		color:#999999;
	}
	#calendarBalloonArea table.calender td.today{
		font-weight:bold;
		background:#dddddd;
	}
	#calendarBalloonArea table.calender td span,
	#calendarBalloonArea table.calender td a{
		padding:3px 0px;
		width:38px;
		border:#ffffff 1px solid;
		display:block;
	}
	
	#calendarBalloonArea table.calender td.today span,
	#calendarBalloonArea table.calender td.today a{
		border:#999999 1px solid;
	}
	#calendarBalloonArea table.calender td a:hover{ border:#0000ff 1px solid; }

/*balloon*/
#calendarBalloonArea div.balloon{
	position:absolute;
	bottom:0px; left:0px;/*script set*/
	display:none;/*script set*/
	width:156px;
	background:url(image/baloon_top.gif) top left no-repeat;
	padding-top:8px;
}
#calendarBalloonArea div.balloon div{
	width:156px;
	background:url(image/baloon_btm.gif) bottom left no-repeat;
	padding-bottom:20px;
	text-align:center;
}
#calendarBalloonArea div.balloon div table{
	text-align:left;
	width:140px;
	margin:0px auto;
}
	#calendarBalloonArea div.balloon div table th{
		text-align:left;
		font-weight:normal;
	}
	#calendarBalloonArea div.balloon div table td{
		text-align:right;
		font-weight:bold;
	}
	#calendarBalloonArea div.balloon div table th,
	#calendarBalloonArea div.balloon div table td{
		font-size:10px;
		color:#ffffff;
		padding:1px 0px;
	}