@charset "SHIFT_JIS";



/* /////////////////////////////////////////////////
 1.common setting
 	- css reset
	- font family
	- font size
	- Image Float
    -Align
	- tags base setting
	
 2.universal class
  - font size
	- float clear
  - text align
  - vertical align
  - margin set
///////////////////////////////////////////////// */



/* common setting (ver 2.0)
==================================================*/


	/* css reset
	------------------------------------------------*/
	body, div, p,
	h1, h2, h3, h4, h5, h6,
	dl, dt, dd, ul, ol, li,
	table, caption,th, td,
	form, fieldset, input, textarea, select,
	pre, address, blockquote,
	embed, object{margin:0px;padding:0px;}

	
	/* font family
	------------------------------------------------*/
	body, form textarea{
		font-family: "MS P Gothic", "lr oSVbN", "Osaka|", "Hiragino Kaku Gothic Pro", "qMmpS Pro W3", sans-serif;
	}


	/* font size
	------------------------------------------------*/
	/*universal class > font size > ftMedium*/
	h1, h2, h3, h4, h5, h6,
	p, dt, dd, li,
	caption, th, td,
	form, fieldset, input, textarea, select,
	pre, address, blockquote{font-size:100%; line-height:1.5em;}

	/* Image Float
	------------------------------------------------*/
	.imageLeft  {float:left;  margin:0px 10px 0px 0px;}
	.imageRight {float:right; margin:5px 0px 10px 15px;}
	
	/* Align
	------------------------------------------------*/
    .txtAlignL {text-align:left   !important;}
    .txtAlignC {text-align:center !important;}
    .txtAlignR {text-align:right  !important;}

	/* tags base setting
	------------------------------------------------*/
		/*body*/
		body{
			background:#ffffff;
			color:#333333;
			font-size:83%;
		}
	
		/*h*/
		h1, h2, h3,	h4, h5, h6{font-weight:bold;}
		
		/*p*/
		p{font-weight:normal;}

		/*em || strong*/
		em, strong{font-style:normal;font-weight:bold;}
		
		/*ul || ol*/
		ul, ol{line-height:0px;}
		ul    {list-style:none;}
		li 		{display:list-item;}
		li img{vertical-align:bottom;}
		
		/*dl*/
		dl{line-height:0px;}
		dt img, dd img{vertical-align:bottom;}
		
		/*img*/
		img{border:0px;}
		
		/*form*/
		form {font-weight:normal;}
		input{line-height:1em;}
		input, select{padding:1px;}
		textarea     {padding:2px 2px 2px 5px;}
		
		/*a*/
		a         {text-decoration:underline;}
		a:link    {color:#0000ff;}
		a:visited {color:#0000ff;}
		a:hover,
		a:active,
		a:focus   {color:#0000ff; text-decoration:none;}



/* universal class (ver 1.5)
==================================================*/
	
	/* font size
	------------------------------------------------*/
	/*common setting > font size > ftMedium*/
	.ftSmallx , table.ftSmallx  th, table.ftSmallx  td {font-size:70%      !important; line-height:1.5em !important;}
	.ftSmall  , table.ftSmall   th, table.ftSmall   td {font-size:85%      !important; line-height:1.5em !important;}
	.ftMedium , table.ftMedium  th, table.ftMedium  td {font-size:100%     !important; line-height:1.5em !important;}
	.ftLarge  , table.ftLarge   th, table.ftLarge   td {font-size:120%     !important; line-height:1.6em !important;}
	.ftLargex , table.ftLargex  th, table.ftLargex  td {font-size:150%     !important; line-height:1.6em !important;}
	.ftLargexx, table.ftLargexx th, table.ftLargexx td {font-size:200%     !important; line-height:1.6em !important;}


	/* float clear
	------------------------------------------------*/
	br.clearFloat,
	img.clearFloat {clear:both;height:1px;}
	div.clearFloat {clear:both;font-size:1px;line-height:0px;height:1px;width:1px;}


	/* text align
	------------------------------------------------*/
	.txtAlignL, table.txtAlignL th, table.txtAlignL td {text-align:left   !important;}
	.txtAlignC, table.txtAlignC th, table.txtAlignC td {text-align:center !important;}
	.txtAlignR, table.txtAlignR th, table.txtAlignR td {text-align:right  !important;}


	/* vertical align
	------------------------------------------------*/
	.vAlignT, table.vAlignT th, table.vAlignT td {vertical-align:top    !important;}
	.vAlignM, table.vAlignM th, table.vAlignM td {vertical-align:middle !important;}
	.vAlignB, table.vAlignB th, table.vAlignB td {vertical-align:bottom !important;}


	/* margin set
	------------------------------------------------*/
		/*reset*/
		.margReset {margin:0px !important;}
		
		/*0px*/
		.margT00 {margin-top   :0px !important;}
		.margR00 {margin-right :0px !important;}
		.margB00 {margin-bottom:0px !important;}
		.margL00 {margin-left  :0px !important;}
		
		/*5px*/
		.margT05 {margin-top   :5px !important;}
		.margR05 {margin-right :5px !important;}
		.margB05 {margin-bottom:5px !important;}
		.margL05 {margin-left  :5px !important;}
		
		/*10px*/
		.margT10 {margin-top   :10px !important;}
		.margR10 {margin-right :10px !important;}
		.margB10 {margin-bottom:10px !important;}
		.margL10 {margin-left  :10px !important;}
		
		/*15px*/
		.margT15 {margin-top   :15px !important;}
		.margR15 {margin-right :15px !important;}
		.margB15 {margin-bottom:15px !important;}
		.margL15 {margin-left  :15px !important;}
		
		/*20px*/
		.margT20 {margin-top   :20px !important;}
		.margR20 {margin-right :20px !important;}
		.margB20 {margin-bottom:20px !important;}
		.margL20 {margin-left  :20px !important;}
		
		/*25px*/
		.margT25 {margin-top   :25px !important;}
		.margR25 {margin-right :25px !important;}
		.margB25 {margin-bottom:25px !important;}
		.margL25 {margin-left  :25px !important;}
		
		/*30px*/
		.margT30 {margin-top   :30px !important;}
		.margR30 {margin-right :30px !important;}
		.margB30 {margin-bottom:30px !important;}
		.margL30 {margin-left  :30px !important;}

		/*35px*/
		.margT35 {margin-top   :35px !important;}
		.margR35 {margin-right :35px !important;}
		.margB35 {margin-bottom:35px !important;}
		.margL35 {margin-left  :35px !important;}

		/*40px*/
		.margT40 {margin-top   :40px !important;}
		.margR40 {margin-right :40px !important;}
		.margB40 {margin-bottom:40px !important;}
		.margL40 {margin-left  :40px !important;}

		/*45px*/
		.margT45 {margin-top   :45px !important;}
		.margR45 {margin-right :45px !important;}
		.margB45 {margin-bottom:45px !important;}
		.margL45 {margin-left  :45px !important;}

		/*50px*/
		.margT50 {margin-top   :50px !important;}
		.margR50 {margin-right :50px !important;}
		.margB50 {margin-bottom:50px !important;}
		.margL50 {margin-left  :50px !important;}

		/*55px*/
		.margT55 {margin-top   :55px !important;}
		.margR55 {margin-right :55px !important;}
		.margB55 {margin-bottom:55px !important;}
		.margL55 {margin-left  :55px !important;}
		
/* button
==========================================================*/
	/*a*/
	a img.btn{
    filter:alpha(opacity=100);
    opacity: 1.0;
		}
	a:hover img.btn{
    filter:alpha(opacity=80);
    opacity: 0.8;
	}

	/*img.btn*/
	img.btn{
    filter:alpha(opacity=30);
    opacity: 0.3;
		}
