@charset "SHIFT_JIS";

/* /////////////////////////////////////////////////
 1.head
	
 2.foot
///////////////////////////////////////////////// */



/* 1.head
==================================================*/
	/*h1*/
	#contentHead h1{
		top:31px;
		left:10px;
		position:absolute;
	}
	#contentHead.popUp h1{top:20px; left:10px; position:absolute;}
	#contentHead.magazineH h1,
	#contentHead.digitalH h1,
	#contentHead.booksH h1{top:15px; left:10px; position:absolute; width:171px; height:20px;}

	/*div#fontChange*/
	#contentHead div#fontChange{
		top:10px;
		right:10px;
		position:absolute;
		width:160px;
		line-height:0em;
		height:30px;
		background:transparent url(image/fontsize_bg.gif) no-repeat left top;
	}
	/*div#fontChange dl dt dd*/
	#contentHead div#fontChange dl dt,
	#contentHead div#fontChange dl dd{
		position:absolute;
		font-size:0px;
		line-height:0em;
	}
	/*div#fontChange dl dt*/
	#contentHead div#fontChange dl dt{bottom:10px; left:10px;}
	/*div#fontChange dl dd#fontChangeS*/
	#contentHead div#fontChange dl dd#fontChangeS{top:5px; left:95px;}
	/*div#fontChange dl dd#fontChangeM*/
	#contentHead div#fontChange dl dd#fontChangeM{top:5px; left:115px;}
	/*div#fontChange dl dd#fontChangeL*/
	#contentHead div#fontChange dl dd#fontChangeL{top:5px; left:135px;}

	/*ul#quickNavi*/
	#contentHead ul#quickNavi{display:block; width:430px; position:absolute; right:200px;}
		/*li a*/
		#contentHead ul#quickNavi li{
			display:inline;
		}
		/*li a*/
		#contentHead ul#quickNavi li a{
			display:block;
			float:right;
			margin-left:20px;
			padding:5px 0px 5px 18px;
			font-size:12px;
			background:transparent url(image/icon_arrow.gif) no-repeat 0px 0.6em;
			text-decoration:none;
			clear:left;
			color:#000099;
			line-height:1.5em;
		}
			#contentHead.magazineH ul#quickNavi li a{
				background:transparent url(image/icon_arrow_mag.gif) no-repeat 0px 0.6em;
				color:#006666;
			}
			#contentHead.digitalH ul#quickNavi li a{
				background:transparent url(image/icon_arrow_dig.gif) no-repeat 0px 0.6em;
				color:#662299;
			}
			#contentHead.booksH ul#quickNavi li a{
				background:transparent url(image/icon_arrow_bok.gif) no-repeat 0px 0.6em;
				color:#224499;
			}
		#contentHead ul#quickNavi li a:hover,
		#contentHead ul#quickNavi li a:hover,
		#contentHead ul#quickNavi li a:hover{text-decoration:underline;}


	/*div#headTopSearch*/
	#contentHead div#headTopSearch{
		bottom:5px;
		right:10px;
		position:absolute;
		width:320px;
		height:30px;
		background:transparent url(image/bg_topsearch.gif) no-repeat left top;
		}
		#contentHead div#headTopSearch input.headsearchTxt{
			bottom:5px;
			right:70px;
			position:absolute;
			width:215px;
			height:15px;
			border:1px solid #999999;
			padding:3px 2px 0px 2px;
			background:#eeeeee url(image/bg_topsearch02.gif) repeat-x left top;
			overflow:hidden;
			font-size:12px;
			}
		#contentHead div#headTopSearch input.headsearchBtn{
			bottom:5px;
			right:5px;
			position:absolute;
			padding:0px;
			margin:0px;
			}



/* 2.foot
==================================================*/
	/*p.copyright*/
	#contentFoot p.copyright{ margin:10px 0px 0px 10px;}
	#contentFoot p.TopCopyright{ margin:10px 0px 0px 10px; float:left; width:220px;}

	/*ul*/
	#contentFoot ul li{display:block; float:left;}

	/*ul.footBn*/
	#contentFoot ul#footBn{display:block; width:830px; background:#dddddd url(image/foot_bn_bg.gif) no-repeat left top; text-align:center; height:40px; padding:20px 0px 20px 130px;}
	/*ul*/
	#contentFoot ul#footBn li{display:inline;}
	/*ul*/
	#contentFoot ul#footBn li img{display:block; margin:0px 10px;}

	/*ul#quickNavi*/
	#contentFoot ul#footQuickNavi{display:block; float:right; margin:5px 10px 0px 0px; text-align:right; width:710px;}
	/*ul#quickNavi*/
	#contentFoot ul#footQuickNavi li{display:block; float:right;}
		/*li a*/
		#contentFoot ul#footQuickNavi li a{
			display:block;

			margin-left:20px;
			padding:5px 0px 5px 18px;
			font-size:12px;
			background:transparent url(image/icon_arrow.gif) no-repeat 0px 0.6em;
			text-decoration:none;
			color:#000099;
			line-height:1.5em;
		}
		#contentFoot ul#footQuickNavi li a:hover{text-decoration:underline;}


