@charset "SHIFT_JIS";

/* contentAll
--------------------------------------------------*/
#contentAll{
	width:960px;
	margin:0px auto;
	}
	#contentAll.popUp{
	width:640px;
	margin:0px auto;
	}
	
	
/* contentHead
--------------------------------------------------*/
#contentHeadPR{
	width:728px;
	margin:0px auto;
	padding:5px 116px;
	background:transparent url(head_foot/image/swf_bg.gif) no-repeat left top;
	min-width:728px;
	position:relative;
	z-index: 10;
	}

/* contentHead
--------------------------------------------------*/
#contentHead{
	width:960px;
	margin:0px auto;
	padding:10px 0px 0px 0px;
	position:relative;
	background:transparent url(head_foot/image/head_bg.gif) no-repeat left top;
	min-width:960px;
	height:70px;
	}
	#contentHead.popUpH{
	width:640px;
	margin:0px auto;
	padding:10px 0px 0px 0px;
	position:relative;
	background:transparent url(head_foot/image/popup_bg.gif) no-repeat left top;
	min-width:640px;
	height:60px;
	overflow:hidden;
	}
	#contentHead.popUp2010{
	width:1100px;
	margin:0px auto;
	padding:10px 0px 0px 0px;
	position:relative;
	background:transparent url(head_foot/image/popup_bg2.gif) no-repeat left top;
	min-width:1100px;
	height:60px;
	overflow:hidden;
	}
	/*#contentHead*/
	.magazineH,
	.digitalH,
	.booksH{height:32px !important;}
	.popUpH{height:60px !important;}



/* contentBody
--------------------------------------------------*/
#contentBody{
	width:960px;
	margin:0px auto 30px auto;
	}
	#contentBody.popUp{
		width:620px;
		margin:0px auto 15px auto;
		}



	/* contentBodyMain
	--------------------------------------------------*/
	#contentBodyMain{
		width:800px;
		margin:0px auto;
		}
		#contentBodyMain.popUp{
			width:565px;
			margin:0px auto;
			}
		.magTop{
			width:940px !important;
			margin:20px auto 0px auto;
			}
			
	#contentBodyMain.magTop div.BlockL{width:640px;float:left;}
	#contentBodyMain.magTop div.BlockR{width:280px;float:right;}


/* contentFoot
--------------------------------------------------*/
#contentFoot{
	width:960px;
	margin:0px auto 10px auto;
	}
	#contentFoot.popUp{
		width:640px;
		margin:0px auto 10px auto;
		}
	#contentFoot.popUp2010{
		width:1100px;
		margin:0px auto 10px auto;
		}
		
#contentFoot ul#footQuickNavi > li.pcNone{
	display: none;
}

.pcNone{
	display: none;
}
.spNone{
	display: block;
}
.tabBlock{
	display: none;
}



/* contentHead sp navi
--------------------------------------------------*/
#contentHead ul.spNavi{
	display: none;
}
#contentHead .spMenu{
	display: none;
}

@media only screen and (max-width: 767px){
#contentHead.popUpH{
	overflow: visible;
}
#contentHead .spMenu{
	display: block;
}
#contentHead ul.spNavi{
	position: absolute;
	top:40px;
	right: 0;
	width: 100%;
	z-index: 10;
}
#contentHead ul.spNavi > li > a{
	display: block;
	position: relative;
	border-bottom: 1px solid #666;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	color: #333;
	font-size: 18px;
	padding: 11px 11px 11px 15px;
	text-decoration: none;
	width: 100%;
	background-color: #fff;
}
#contentHead ul.spNavi > li > a:after{
	content: "";
	position: absolute;
	top: 50%;
	right:15px;
	width: 8px;
	height:11px;
	background: url(head_foot/image/sp_icon_arrow_nav.gif) no-repeat 0 0;
	background-size: 8px 11px;
	-webkit-background-size: 8px 11px;
	-moz-background-size: 8px 11px;
	margin-top: -4px;
}
#contentHead .spMenu{
	width: 39px;
	height: 30px;
	background: url(../image/sp_menu_btn.gif) no-repeat 0 0;
	background-size: 39px 60px;
	-webkit-background-size: 39px 60px;
	-moz-background-size: 39px 60px;
}
#contentHead .spMenu.on{
	background: url(../image/sp_menu_btn.gif) no-repeat 0 -30px;
	background-size: 39px 60px;
	-webkit-background-size: 39px 60px;
	-moz-background-size: 39px 60px;
}
}
