@charset "SHIFT_JIS";

	/* color
	--------------------------------------------------*/
	/*other*/
	#contentBody .otherLink a{color:#0000ff; text-decoration:uhnderline;}
	#contentBody .otherLink a:hover,
	#contentBody .otherLink a:active,
	#contentBody .otherLink a:focus{background:#0000ff; color:#ffffff !important;}
	#contentBody .otherLink a:visited{color:#0000cc;}
	#contentBody .otherLink2 a{color:#0000ff; text-decoration:uhnderline; font-size:120%;}


/* mainVisualArea
--------------------------------------------------*/
#mainVisualArea{width:960px;}

/* contentSearchArea
--------------------------------------------------*/
#contentSearchArea{width:960px; margin-bottom:24px;}

	/* contentSearch
	--------------------------------------------------*/
	#contentSearch{
		width:320px;
		height:130px;
		overflow:hidden;
		background:#333385 url(image/search_bg2.gif) no-repeat left bottom;
		float:left;
		position:relative;
	}
		/*p*/
		#contentSearch p{ padding-left:20px; width:280px; height:40px; background:#333385 url(image/search_bg.gif) no-repeat 20px top;}
		/*searchTxt*/
		#contentSearch input.searchTxt{width:200px; border:none; position:absolute; top:58px; _top:57px; left:29px; font-size:12px; line-height:1.3em; color:#FFFFFF; padding:0px 0px 0px 0px; height:20px; overflow:hidden;}
		/*searchBtn*/
		#contentSearch input.searchBtn{position:absolute; top:50px; right:20px; line-height:0px; font-size:0px;}

		/*ul*/
		#contentSearch ul{display:block; width:280px; margin-left:20px; line-height:0em;}
		/*ul*/
		#contentSearch ul li{display:inline; font-size:14px;}
		/*ul*/
		#contentSearch ul li a{display:block; line-height:normal; padding:2px 15px 2px 18px; color:#FFFFFF; background:transparent url(image/search_icon.gif) no-repeat 0em 0.4em; float:left;}

	/* contentCategory
	--------------------------------------------------*/
	#contentCategory{
		width:639px;
		height:130px;
		float:right;
		position:relative;
	}
		/*li*/
		#contentCategory ul li{position:absolute; line-height:0em; font-size:0px;}
		#contentCategory ul li.Category1{top:0px; left:0px;}
		#contentCategory ul li.Category2{top:0px; left:160px;}
		#contentCategory ul li.Category3{top:0px; left:320px;}
		#contentCategory ul li.Category4{top:0px; left:480px;}


	/* contentBodyMain
	--------------------------------------------------*/
	#contentBodyMain{
		width:960px;
		margin:0px auto;
		}
		/*blockL*/
		#contentBodyMain > div.blockL{width:620px; float:left;}
		/*blockR*/
		#contentBodyMain div.blockR{width:300px; float:right;}

	/*a.otherListLink*/
	#contentBody a.otherListLink{
		display:inline;
		padding:5px 0px 5px 18px;
		font-size:100%;
		background:transparent url(../content/image/icon_arrow.gif) no-repeat 0px 0.4em;
		text-decoration:none;
		color:#000099;
		line-height:normal;
	}
	#contentBody a.otherListLink:hover{text-decoration:underline;}

	/*a.otherListLinkA*/
	#contentBody a.otherListLinkA{
		display:block;
		padding:1px 0px 1px 18px;
		font-size:100%;
		background:transparent url(../content/image/icon_arrow.gif) no-repeat 0px 0.2em;
		text-decoration:none;
		color:#000099;
		line-height:normal;
		min-height:15px;
		_height:15px;
	}
	#contentBody a.otherListLink:hover,
	#contentBody a.otherListLinkA:hover{text-decoration:underline;}

	/*headLinkA*/
	#contentBody div.headLinkA{width:620px; position:relative;}
	/*headLinkB*/
	#contentBody div.headLinkB{width:300px; position:relative;}
		/*p.moreInfo*/
		#contentBody div.headLinkA p.moreInfo{ position:absolute; top:5px; right:60px;}
		#contentBody div.headLinkB p.moreInfo{ position:absolute; top:5px; right:10px;}
		/*p.moreInfo*/
		#contentBody div.headLinkA p.Rss{ position:absolute; top:5px; right:10px;}


	/*newsListArea*/
	#contentBody div.newsListArea{
		background:#eeeeee;
		padding:5px;
		width:610px;
		margin-bottom:20px;
		}
		/*dl*/
		#contentBody div.newsListArea dl{
			width:610px;
			}
		/*dt*/
		#contentBody div.newsListArea dl dt{
			display:block;
			padding:5px 0px 5px 65px;
			}
			#contentBody div.newsListArea dl dt.news{background:transparent url(../content/image/icon_news.gif) no-repeat 5px 0.5em;}
			#contentBody div.newsListArea dl dt.magazines{background:transparent url(../content/image/icon_magazines.gif) no-repeat 5px  0.5em;}
			#contentBody div.newsListArea dl dt.event{background:transparent url(../content/image/icon_event.gif) no-repeat 5px  0.5em;}
			#contentBody div.newsListArea dl dt.digital{background:transparent url(../content/image/icon_digital.gif) no-repeat 5px  0.5em;}
			#contentBody div.newsListArea dl dt.comics{background:transparent url(../content/image/icon_comics.gif) no-repeat 5px  0.5em;}
			#contentBody div.newsListArea dl dt.books{background:transparent url(../content/image/icon_books.gif) no-repeat 5px  0.5em;}
		/*dd*/
		#contentBody div.newsListArea dl dd{
			border-bottom:1px solid #999999;
			display:block;
			padding:0px 10px 5px 10px;
			clear:both;
			}
			/*span*/
			#contentBody div.newsListArea dl dd span{
				display:block;
				padding:5px 0px 0px 18px;
				font-size:85%;
				line-height:normal;
				}


	/*linksArea*/
	#contentBody div.linksArea{
		background:#eeeeee;
		padding:0px 10px 15px 10px;
		width:600px;
		margin-bottom:20px;
		}
		/*ul li*/
		#contentBody div.linksArea ul li{display:block; font-size:85%; color:#666666; float:left; padding-left:30px; width:160px;}
		/*ul li img*/
		#contentBody div.linksArea ul li img{display:block; margin:15px 0px 5px 0px;}



	/*cautionArea*/
	#contentBody div.cautionArea{
		border:1px solid #ff0000;
		padding:10px 10px 10px 10px;
		width:598px;
		text-align:center;
		color : red;
		font-size:120%;
		}
		/*p*/
		#contentBody div.nationalArea p{margin-bottom:10px;}
		/*p*/
		#contentBody div.nationalArea p.lastUpDate{margin-bottom:0px; font-size:85%; text-align:right;}


	/*nationalArea*/
	#contentBody div.nationalArea{
		border:1px solid #999999;
		padding:10px 10px 10px 10px;
		width:598px;
		text-align:center;
		}
		/*p*/
		#contentBody div.nationalArea p{margin-bottom:10px;}
		/*p*/
		#contentBody div.nationalArea p.lastUpDate{margin-bottom:0px; font-size:85%; text-align:right;}

	/*nationalArea2*/
	#contentBody div.nationalArea2{
		border:1px solid #999999;
		padding:8px 8px 8px 8px;
		width:598px;
		text-align:center;
		}
		/*p*/
		#contentBody div.nationalArea2 p{margin-bottom:10px;}
		/*p*/
		#contentBody div.nationalArea2 p.title2{margin-bottom:10px; font-size:120%;}
		/*p*/
		#contentBody div.nationalArea2 p.titlebtm{margin-bottom:10px; font-size:100%;}
		/*p*/
		#contentBody div.nationalArea2 p.titlebtm2{margin-bottom:13px; font-size:100%;}
		/*p*/
		#contentBody div.nationalArea2 p.titlebtm3{margin-bottom:5px; font-size:100%;}
		/*p*/
		#contentBody div.nationalArea2 p.lastUpDate{margin-bottom:0px; font-size:85%; text-align:right;}

	/*prizeListArea*/
	#contentBody div.prizeListArea{
		background:#eeeeee;
		padding:10px 10px 10px 10px;
		width:280px;
		margin-bottom:20px;
		}
		/*span*/
		#contentBody div.prizeListArea p span{font-size:85%;}


	/*topicArea*/
	#contentBody div.topicArea{
		background:#eeeeee;
		padding:5px;
		width:290px;
		margin-bottom:20px;
		}
		/*ul*/
		#contentBody div.topicArea ul{
			width:290px;
			}
		/*dd*/
		#contentBody div.topicArea ul li{
			border-bottom:1px solid #999999;
			display:block;
			padding:0px 0px 10px 0px;
			margin:10px 0px 0px 0px;
			z-index:1;
			line-height:0px;
			}

	/*snsBnArea*/
	#contentBody div.snsBnArea{
		width:300px;
		padding-bottom:15px;
		}
	#contentBody div.snsBnArea p.bnL{float:left; padding-right: 8px;}
	#contentBody div.snsBnArea p.bnC{float:left;}
	#contentBody div.snsBnArea p.bnR{float:right; padding-left: 8px;}


