@charset "SHIFT_JIS";

@media only screen and (max-width: 767px){
#contentBody img{
	max-width:100%;
	height:auto;
}
.pcNone{
	display: block;
}
.spNone{
	display: none;
}
.tabBlock{
	display: none;
}

/*------------------------------------------------------
layout
------------------------------------------------------*/

/* contentAll
--------------------------------------------------*/
#contentAll{
	width:100%;
	}
	#contentAll.popUp{
	width:100%;
	}
	
	
/* contentHead
--------------------------------------------------*/
#contentHeadPR{
	width:100% !important;
	height: auto;
	min-height: 55px;
	padding: 10px;
	background-image:none;
	background-color: #dddddd;
	min-width:100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	}
#contentHeadPR img{
	width: 100%;
	max-width: 100%;
	height: auto;
}
/* contentHead
--------------------------------------------------*/
#contentHead{
	width:100%;
	padding:5px 0px 0px 0px;
	background:transparent url(../head_foot/image/sp_head_bg.gif) repeat-x left top;
	background-size: 640px 4px;
	-webkit-background-size: 640px 4px;
	-moz-background-size: 640px 4px;
	min-width:100%;
	height:auto;
	min-height: 40px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	}
	#contentHead.popUpH{
	width:100%;
	padding:5px 0px 0px 0px;
	background:transparent url(../head_foot/image/popup_bg.gif) no-repeat left top;
	min-width:100%;
	height:auto;
	min-height: 30px;
	}
	#contentHead.popUp2010{
	width:100%;
	padding:5px 0px 0px 0px;
	background:transparent url(../head_foot/image/popup_bg2.gif) no-repeat left top;
	min-width:100%;
	height:auto;
	min-height: 30px;
	}
	/*#contentHead*/
	.magazineH,
	.digitalH,
	.booksH{height:16px !important;}
	.popUpH{height:30px !important;}

	#contentHead .spMenu{
		right: 10px;
		position: absolute;
		top: 7px;
	}
	#contentHead .spMenu img{
		width: 100%;
		max-width: 39px;
		height: auto;
	}
	#contentHead ul#quickNavi,
	#contentHead div#fontChange{
		display: none;
	}


/* contentBody
--------------------------------------------------*/
#contentBody{
	width:100%;
	margin-bottom:15px;
	}
	#contentBody.popUp{
		width:100%;
		margin-bottom:8px;
		}



	/* contentBodyMain
	--------------------------------------------------*/
	#contentBodyMain{
		width:100%;
		}
		#contentBodyMain.popUp{
			width:100%;
			}
		.magTop{
			width:100% !important;
			margin-top:10px;
			}
			
	#contentBodyMain.magTop div.BlockL{width:100%;float:none;}
	#contentBodyMain.magTop div.BlockR{width:100%;float:none;}


/* contentFoot
--------------------------------------------------*/
#contentFoot{
	width:100%;
	margin-bottom:5px;
	}
	#contentFoot.popUp{
		width:100%;
		margin-bottom:5px;
		}
	#contentFoot.popUp2010{
		width:100%;
		margin-bottom:5px;
		}

	#contentFoot .spFootNavi p{
		background-color: #999999;
	}
	#contentFoot .spFootNavi p,
	#contentFoot .spFootNavi ul li{
		text-align: center;
	}
	#contentFoot .spFootNavi ul{
		width: 100%;
		border-top: 1px solid #fff;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	}
	#contentFoot .spFootNavi ul li{
		width: 25%;
		border-left: 1px solid #fff;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	}
	#contentFoot .spFootNavi ul li:first-child{
		border-left: none;
	}
	#contentFoot .spFootNavi p a,
	#contentFoot .spFootNavi ul li a{
		display: block;
		padding: 14px 0;
		text-decoration: none;
	}
	#contentFoot .spFootNavi p a > span,
	#contentFoot .spFootNavi ul li a > span{
		background: url(../top/image/sp_search_icon.png) no-repeat left center;
		background-size: 12px 12px;
		-webkit-background-size: 12px 12px;
		-moz-background-size: 12px 12px;
		padding-left: 17px;
		color: #fff;
		font-size: 12px;
	}
	#contentFoot .spFootNavi ul li:nth-of-type(1){
		background-color: #5cad5c;
	}
	#contentFoot .spFootNavi ul li:nth-of-type(2){
		background-color: #33adad;
	}
	#contentFoot .spFootNavi ul li:nth-of-type(3){
		background-color: #5c85d6;
	}
	#contentFoot .spFootNavi ul li:nth-of-type(4){
		background-color: #ad85d6;
	}
	#contentFoot .TopCopyright.pcNone{
		width: 100%;
		float:none;
		text-align: center;
		margin: 0px;
	}
	#contentFoot .TopCopyright.pcNone img{
		width: 100%;
		max-width: 133px;
		height: auto;
	}



/*------------------------------------------------------
parts
------------------------------------------------------*/

/* mainVisualArea
--------------------------------------------------*/
#mainVisualArea{width:100% !important;}
#mainVisualArea img{width:100%; max-width: 100%; height: auto;}

/* contentSearchArea
--------------------------------------------------*/
#contentSearchArea{width:100%; margin-bottom:12px;}

	/* contentSearch
	--------------------------------------------------*/
	#contentSearch{
		width: 100%;
		height: auto;
		background-image: none;
		background-color: #323283;
		padding: 15px 0;
	}
	#contentSearch h2{
		max-width: 246px;
		margin: 0 auto 5px;
	}
	#contentSearch h2 img{
		width: 100%;
		height: auto;
	}
	#contentSearch form p{
		position: relative;
		text-align:center;
		margin: 0 auto;
	}
		/*p*/
		#contentSearch p{ width:auto; max-width:280px; height:40px; background:#333385 url(image/search_bg.gif) no-repeat 20px top; margin: 0 auto;}
		/*searchTxt*/
		#contentSearch input.searchTxt{ width: 100%; max-width:200px; border:none; position:absolute; top:6px; _top:6px; left:26px; font-size:16px !important; line-height:1.3em; color:#FFFFFF; padding:0px 0px 0px 0px; height:20px; overflow:hidden;}
		/*searchBtn*/
		#contentSearch input.searchBtn{position:absolute; top:0px; left:241px; line-height:0px; font-size:0px;}

		/*ul*/
		#contentSearch ul{ width: 100%; text-align: center;margin-left:0;}
		/*ul*/
		#contentSearch ul li{display: inline-block;}
		/*ul*/
		#contentSearch ul li a{ padding:2px 15px 2px 18px; background:transparent url(image/sp_search_icon.png) no-repeat 0em 0.4em; background-size: 12px 12px; -webkit-background-size: 12px 12px; -moz-background-size: 12px 12px; float:none; font-size: 12px;}
	/* contentCategory
	--------------------------------------------------*/
	#contentCategory{
		width:100%;
		height:auto;
		float:none;
		position: static;
	}
		/*li*/
		#contentCategory ul li{ position: static;float:left; width: 25%; line-height:0em; font-size:0px; border-left: 1px solid #fff; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;}
		#contentCategory ul li:first-child{ border-left: 1px solid #5cad5c;}
		#contentCategory ul li img{ width: 100%; max-width: 100%; height: auto;}


	/* contentBodyMain
	--------------------------------------------------*/
	#contentBodyMain{
		width:100%;
		}
		/*blockL*/
		#contentBodyMain div.blockL{width:100%; float:none;}
		/*blockR*/
		#contentBodyMain div.blockR{width:100%; float:none;}

	/*a.otherListLink*/
	#contentBody a.otherListLink{
		display:inline;
		padding:5px 0px 5px 18px;
		font-size:100%;
		background:transparent url(../content/image/icon_arrow.gif) no-repeat 0px 0.4em;
		text-decoration:none;
		color:#000099;
		line-height:normal;
	}
	#contentBody a.otherListLink:hover{text-decoration:underline;}

	/*a.otherListLinkA*/
	#contentBody a.otherListLinkA{
		display:block;
		padding:1px 0px 1px 18px;
		font-size:100%;
		background:transparent url(../content/image/icon_arrow.gif) no-repeat 0px 0.2em;
		text-decoration:none;
		color:#000099;
		line-height:normal;
		min-height:15px;
		_height:15px;
	}
	#contentBody a.otherListLink:hover,
	#contentBody a.otherListLinkA:hover{text-decoration:underline;}

	/*headLinkA*/
	#contentBody div.headLinkA{width:100%; position:relative;}
	#contentBody div.headLinkA h2{width:100%;}
	/*headLinkB*/
	#contentBody div.headLinkB{width:100%; position:relative;}
		/*p.moreInfo*/
		#contentBody div.headLinkA p.moreInfo{ position:absolute; top:5px; right:85px;}
		#contentBody div.headLinkB p.moreInfo{ position:absolute; top:5px; right:10px;}
		/*p.moreInfo*/
		#contentBody div.headLinkA p.Rss{width:100%; max-width: 45px; position:absolute; top:5px; right:18px;}
		#contentBody .spH2Ttl{ border-bottom: 5px solid #000000;}
		#contentBody .spH2Ttl img{ max-width: 320px; padding-bottom:10px}
		#contentBody p.moreInfo{width:100%; max-width: 67px;}
		#contentBody p.Rss{width:100%; max-width: 45px; border-left: 1px solid #cccccc; padding-left: 8px;}


	/*newsListArea*/
	#contentBody div.newsListArea{
		background:#eeeeee;
		padding:5px 0px 0px 0px !important;
		width:100%;
		margin-bottom:20px;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		}
		/*dl*/
		#contentBody div.newsListArea dl{
			width:auto;
			margin: 0 5px;
			}
		/*dt*/
		#contentBody div.newsListArea dl dt{
			display:block;
			padding:5px 0px 5px 65px;
			}
			#contentBody div.newsListArea dl dt.news{background:transparent url(../content/image/icon_news.gif) no-repeat 5px 0.5em;}
			#contentBody div.newsListArea dl dt.magazines{background:transparent url(../content/image/icon_magazines.gif) no-repeat 5px  0.5em;}
			#contentBody div.newsListArea dl dt.event{background:transparent url(../content/image/icon_event.gif) no-repeat 5px  0.5em;}
			#contentBody div.newsListArea dl dt.digital{background:transparent url(../content/image/icon_digital.gif) no-repeat 5px  0.5em;}
			#contentBody div.newsListArea dl dt.comics{background:transparent url(../content/image/icon_comics.gif) no-repeat 5px  0.5em;}
			#contentBody div.newsListArea dl dt.books{background:transparent url(../content/image/icon_books.gif) no-repeat 5px  0.5em;}
		/*dd*/
		#contentBody div.newsListArea dl dd{
			border-bottom:1px solid #999999;
			display:block;
			padding:0px 10px 5px 10px;
			clear:both;
			}
		#contentBody div.newsListArea dl dd:last-child{
			border-bottom:none;
		}
			/*span*/
			#contentBody div.newsListArea dl dd span{
				display:block;
				padding:5px 0px 0px 18px;
				font-size:85%;
				line-height:normal;
				}

      #contentBody div.newsListArea dt:nth-of-type(n + 3),
      #contentBody div.newsListArea dd:nth-of-type(n + 3) {
        display: none;
      }

      #contentBody div.newsListArea.opened dt:nth-of-type(n + 3),
      #contentBody div.newsListArea.opened dd:nth-of-type(n + 3) {
        display: block;
      }
      
      #contentBody div.newsListArea.opened .moreLink a > span:before{
        -webkit-transform:rotate(315deg);
        -moz-transform:rotate(315deg);
        -ms-transform:rotate(315deg);
        transform:rotate(315deg);
        vertical-align: middle;
      }

			#contentBody div.newsListArea .moreLink a{
				display: block;
				width: 100%;
				background-color: #cccccc;
				padding: 10px 0;
				color: #333333;
				text-decoration: none;
				text-align: center;
			}
			#contentBody div.newsListArea .moreLink a > span:before{
				content:"";
				display:inline-block;
				width:6px;
				height:6px;
				border-top:3px solid #666666;
				border-right:3px solid #666666;
				margin:3px 7px 0 5px;
				vertical-align:middle;
				-webkit-transform:rotate(135deg);
				-moz-transform:rotate(135deg);
				-ms-transform:rotate(135deg);
				transform:rotate(135deg);
				border-right: 3px solid #666666;
				border-top: 3px solid #666666;
				vertical-align: top;
			}


	/*linksArea*/
	#contentBody div.linksArea{
		background:#eeeeee;
		padding:0px 10px 5px 10px;
		width:100%;
		margin-bottom:20px;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		}
		/*ul li*/
		#contentBody div.linksArea ul li{display:table; font-size:85%; color:#666666; float:none; padding-left:15px; width:100%; border-bottom: 1px solid #999999; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
		/*ul li img*/
		#contentBody div.linksArea ul li img{display:block; max-width: 80px; height: auto; margin:15px 0px 15px 0px;}
		#contentBody div.linksArea ul li a,#contentBody div.linksArea ul li span{display:table-cell; vertical-align: middle;}
		#contentBody div.linksArea ul li a{ width: 80px;}
		#contentBody div.linksArea ul li span{ padding: 7px;}



	/*cautionArea*/
	#contentBody div.cautionArea{
		border:1px solid #ff0000;
		padding:10px 10px 10px 10px;
		width:100%;
		text-align:center;
		color : red;
		font-size:120%;
		}
		/*p*/
		#contentBody div.nationalArea p{margin-bottom:10px;}
		/*p*/
		#contentBody div.nationalArea p.lastUpDate{margin-bottom:0px; font-size:85%; text-align:right;}


	/*nationalArea*/
	#contentBody div.nationalArea{
		border:1px solid #999999;
		padding:10px 10px 10px 10px;
		width: 95%;
		margin: 0 auto 10px;
		text-align:center;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		}
		/*p*/
		#contentBody div.nationalArea p{margin-bottom:10px;}
		/*p*/
		#contentBody div.nationalArea p.lastUpDate{margin-bottom:0px; font-size:85%; text-align:right;}

	/*nationalArea2*/
	#contentBody div.nationalArea2{
		border:1px solid #999999;
		padding:8px 8px 8px 8px;
		width:95%;
		margin: 0 auto;
		text-align:center;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		}
	#contentBody div.nationalArea2 + br + div{
		text-align: center;
	}
		/*p*/
		#contentBody div.nationalArea2 p{margin-bottom:10px;}
		/*p*/
		#contentBody div.nationalArea2 p.title2{margin-bottom:10px; font-size:120%;}
		/*p*/
		#contentBody div.nationalArea2 p.titlebtm{margin-bottom:10px; font-size:100%;}
		/*p*/
		#contentBody div.nationalArea2 p.titlebtm2{margin-bottom:13px; font-size:100%;}
		/*p*/
		#contentBody div.nationalArea2 p.titlebtm3{margin-bottom:5px; font-size:100%;}
		/*p*/
		#contentBody div.nationalArea2 p.lastUpDate{margin-bottom:0px; font-size:85%; text-align:right;}

	/*prizeListArea*/
	#contentBody div.prizeListArea{
		background:#eeeeee;
		padding:10px 10px 10px 10px;
		width:100%;
		margin-bottom:20px;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		}
		/*span*/
		#contentBody div.prizeListArea p span{font-size:85%;}


	/*topicArea*/
	#contentBody div.topicArea{
		background:#eeeeee;
		padding:5px;
		width:100%;
		margin-bottom:20px;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		}
		/*ul*/
		#contentBody div.topicArea ul{
			width:100%;
			}
		/*dd*/
		#contentBody div.topicArea ul li{
			border-bottom:1px solid #999999;
			display:block;
			padding:0px 0px 10px 0px;
			margin:10px 0px 0px 0px;
			z-index:1;
			line-height:0px;
			}

	/*snsBnArea*/
	#contentBody div.snsBnArea .pctabNone{ display:block;}
	#contentBody div.snsBnArea{
		/*width:95%;*/
		margin: 0 auto;
		height:auto;
		}
	#contentBody div.snsBnArea p.bnL{ padding-right: 5px;}
	#contentBody div.snsBnArea p.bnR{ margin: 0px; padding-left: 5px;}
	#contentBody div.snsBnArea p.bnL,
	#contentBody div.snsBnArea p.bnC,
	#contentBody div.snsBnArea p.bnR{float:none; display: inline-block; /*width: 50%; */box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;}
	#contentBody div.snsBnArea p.bnL img{width: 100%; height: auto;}
	#contentBody div.snsBnArea p.bnR img{width: 100%; height: auto;}
	#contentBody .topBnr01{width: 95%; margin: 0 auto;}
	#contentBody .topBnr01 a{ display: block;}
	#contentBody .topBnr01 img{ width: 100%;}
	#contentBody .w100{ width: 100%;}
	#contentBody .w95{ width: 95%;}

/*------------------------------------------------------
head_foot
------------------------------------------------------*/

/* 1.head
==================================================*/
	/*h1*/
	#contentHead h1 {
		left: 15px;
		position: absolute;
		top: 15px;
	}
	#contentHead > h1 img{
		width: 100%;
		max-width: 149px;
		height:auto;
	}
	#contentHead.popUp h1{top:20px; left:10px; position:absolute;}
	#contentHead.magazineH h1,
	#contentHead.digitalH h1,
	#contentHead.booksH h1{top:15px; left:10px; position:absolute; width:171px; height:20px;}


	/*div#headTopSearch*/
	#contentHead div#headTopSearch{
		bottom:5px;
		right:10px;
		position:absolute;
		max-width:320px;
		height:30px;
		background:transparent url(image/bg_topsearch.gif) no-repeat left top;
		}
		#contentHead div#headTopSearch input.headsearchTxt{
			bottom:5px;
			right:70px;
			position:absolute;
			width:215px;
			height:15px;
			border:1px solid #999999;
			padding:3px 2px 0px 2px;
			background:#eeeeee url(image/bg_topsearch02.gif) repeat-x left top;
			overflow:hidden;
			font-size:12px;
			}
		#contentHead div#headTopSearch input.headsearchBtn{
			bottom:5px;
			right:5px;
			position:absolute;
			padding:0px;
			margin:0px;
			}
#contentHead ul.spNavi > li:first-child > a{
	border-top: 1px solid #666;
}



/* 2.foot
==================================================*/
	/*p.copyright*/
	#contentFoot p.copyright{ margin:10px 0px 0px 10px;}
	#contentFoot p.TopCopyright{ margin:10px 0px 0px 10px; float:left; width:220px;}

	/*ul*/
	#contentFoot .spFootNavi ul li{display:block; float:left;}

	/*ul.footBn*/
	#contentFoot ul#footBn{display:none;}

	/*ul#quickNavi*/
	#contentFoot ul#footQuickNavi{ float:none; margin:5px 0px 10px 0px; text-align:left; width:100%; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; overflow: hidden;}
	/*ul#quickNavi*/
	#contentFoot ul#footQuickNavi li{display:block; float:right; width: 50%;}
	#contentFoot ul#footQuickNavi li.spNone{display:none;}
		/*li a*/
		#contentFoot ul#footQuickNavi li a{
			display:block;

			margin-left:20px;
			padding:5px 0px 5px 18px;
			font-size:12px;
			background:transparent url(../content/image/sp_icon_arrow.png) no-repeat 0px 0.6em;
			background-size: 12px 12px;
			-webkit-background-size: 12px 12px;
			-moz-background-size: 12px 12px;
			text-decoration:none;
			color:#000099;
			line-height:1.5em;
		}
		#contentFoot ul#footQuickNavi li a:hover{text-decoration:underline;}

#contentFoot .spFootLinkArea{
	background-color: #e6e6e6;
	padding: 10px 15px;
}
#contentFoot .spFootLinkArea ul li{
	float: none;
	background-color: #fff;
	border-bottom: 1px solid #c8c7cc;
}
#contentFoot .spFootLinkArea ul li a{
	display:block;
	background:transparent url(../content/image/sp_icon_arrow.png) no-repeat 10px 1.0em;
	background-size: 12px 12px;
	-webkit-background-size: 12px 12px;
	-moz-background-size: 12px 12px;
	text-decoration:none;
	padding: 9px 10px 9px 30px;
}
#contentFoot ul#footQuickNavi > li.pcNone{
	display: block;
}

/*------------------------------------------------------
calendar_balloon
------------------------------------------------------*/
#calendarBalloonArea{
	width:100%;
	margin: 0 auto;
	background:#eeeeee;
	text-align:center;
	position:relative;
	padding:5px 0px;
}

/*calender*/
#calendarBalloonArea table.calender{
	margin:0px auto;
	filter: expression(document.execCommand("BackgroundImageCache",false, true)); 
}

	#calendarBalloonArea table.calender th{
		background:#cccccc;
		width:40px;
		color:333333;
		padding:2px 0px;
		font-size:85%;
		text-align:center;
	}
	#calendarBalloonArea table.calender th.calSunday{color:#cc3399;}
	#calendarBalloonArea table.calender th.calSaturday{color:#0066cc;}

	#calendarBalloonArea table.calender td{
		width:40px;
		background:#ffffff;
		text-align:center;
		color:#999999;
	}
	#calendarBalloonArea table.calender td.today{
		font-weight:bold;
		background:#dddddd;
	}
	#calendarBalloonArea table.calender td span,
	#calendarBalloonArea table.calender td a{
		padding:3px 0px;
		width:38px;
		border:#ffffff 1px solid;
		display:block;
	}
	
	#calendarBalloonArea table.calender td.today span,
	#calendarBalloonArea table.calender td.today a{
		border:#999999 1px solid;
	}
	#calendarBalloonArea table.calender td a:hover{ border:#0000ff 1px solid; }

/*balloon*/
#calendarBalloonArea div.balloon{
	position:absolute;
	bottom:0px; left:0px;/*script set*/
	display:none !important;/*script set*/
	width:156px;
	background:url(image/baloon_top.gif) top left no-repeat;
	padding-top:8px;
}
#calendarBalloonArea div.balloon div{
	width:156px;
	background:url(image/baloon_btm.gif) bottom left no-repeat;
	padding-bottom:20px;
	text-align:center;
}
#calendarBalloonArea div.balloon div table{
	text-align:left;
	width:140px;
	margin:0px auto;
}
	#calendarBalloonArea div.balloon div table th{
		text-align:left;
		font-weight:normal;
	}
	#calendarBalloonArea div.balloon div table td{
		text-align:right;
		font-weight:bold;
	}
	#calendarBalloonArea div.balloon div table th,
	#calendarBalloonArea div.balloon div table td{
		font-size:10px;
		color:#ffffff;
		padding:1px 0px;
	}

}


