@charset "SHIFT_JIS";

@media screen and (min-width: 768px) and (max-width: 960px) {
#contentBody img{
	max-width:100%;
	height:auto;
}
.pcNone{
	display: block;
}
.spNone{
	display: none;
}

/*------------------------------------------------------
layout
------------------------------------------------------*/

/* contentAll
--------------------------------------------------*/
#contentAll{
	width:718px;
	margin: 0 auto;
	}
	#contentAll.popUp{
	width:100%;
	}
	
	
/* contentHead
--------------------------------------------------*/
#contentHeadPR{
	width:100% !important;
	height: auto;
	min-height: 105px;
	padding: 10px;
	background-image:none;
	background-color: #dddddd;
	min-width:100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	}
#contentHeadPR img{
	width: 100%;
	max-width: 100%;
	height: auto;
}
#contentHead > div.pcNone{
	display: block;
}
/* contentHead
--------------------------------------------------*/
#contentHead{
	width:100%;
	padding:5px 0px 0px 0px;
	background:transparent url(../head_foot/image/head_bg.gif) repeat-x left top;
	min-width:100%;
	height:auto;
	min-height: 82px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	}
	#contentHead.popUpH{
	width:100%;
	padding:5px 0px 0px 0px;
	background:transparent url(../head_foot/image/popup_bg.gif) no-repeat left top;
	min-width:100%;
	height:auto;
	min-height: 30px;
	}
	#contentHead.popUp2010{
	width:100%;
	padding:5px 0px 0px 0px;
	background:transparent url(../head_foot/image/popup_bg2.gif) no-repeat left top;
	min-width:100%;
	height:auto;
	min-height: 30px;
	}
	/*#contentHead*/
	.magazineH,
	.digitalH,
	.booksH{height:16px !important;}
	.popUpH{height:30px !important;}

	#contentHead .spMenu{
		right: 10px;
		position: absolute;
		top: 13px;
	}
	#contentHead .spMenu img{
		width: 100%;
		max-width: 78px;
		height: auto;
	}
	#contentHead ul#quickNavi,
	#contentHead div#fontChange{
		display: none;
	}

	#contentHead.popUpH{
		overflow: visible;
	}
	#contentHead .spMenu{
		display: block;
	}
	#contentHead ul.spNavi{
		position: absolute;
		top:83px;
		right: 0;
		width: 100%;
		z-index: 10;
	}
	#contentHead ul.spNavi > li > a{
		display: block;
		position: relative;
		border-bottom: 1px solid #666;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		color: #333;
		font-size: 18px;
		padding: 11px 11px 11px 15px;
		text-decoration: none;
		width: 100%;
		background-color: #fff;
	}
	#contentHead ul.spNavi > li:first-child > a{
		border-top: 1px solid #666;
	}
	#contentHead ul.spNavi > li > a:after{
		content: "";
		position: absolute;
		top: 50%;
		right:15px;
		width: 8px;
		height:11px;
		background: url(../head_foot/image/sp_icon_arrow_nav.gif) no-repeat 0 0;
		background-size: 8px 11px;
		-webkit-background-size: 8px 11px;
		-moz-background-size: 8px 11px;
		margin-top: -4px;
	}
	#contentHead .spMenu{
		width: 78px;
		height: 60px;
		background: url(../../image/sp_menu_btn.gif) no-repeat 0 0;
	}
	#contentHead .spMenu.on{
		background: url(../../image/sp_menu_btn.gif) no-repeat 0 -60px;
	}


/* contentBody
--------------------------------------------------*/
#contentBody{
	width:100%;
	margin-bottom:15px;
	}
	#contentBody.popUp{
		width:100%;
		margin-bottom:8px;
		}



	/* contentBodyMain
	--------------------------------------------------*/
	#contentBodyMain{
		width:100%;
		}
		#contentBodyMain.popUp{
			width:100%;
			}
		.magTop{
			width:100% !important;
			margin-top:10px;
			}
			
	#contentBodyMain.magTop div.BlockL{width:100%;float:none;}
	#contentBodyMain.magTop div.BlockR{width:100%;float:none;}


/* contentFoot
--------------------------------------------------*/
#contentFoot{
	width:100%;
	margin-bottom:5px;
	}
	#contentFoot.popUp{
		width:100%;
		margin-bottom:5px;
		}
	#contentFoot.popUp2010{
		width:100%;
		margin-bottom:5px;
		}

	#contentFoot ul#footQuickNavi{
		width: 478px;
	}
	#contentFoot ul#footQuickNavi .spNone{
		display: none;
	}
	#contentFoot .spFootNavi{
		display: none;
	}
	#contentFoot .TopCopyright.pcNone{
		display: none;
	}
	#contentFoot .TopCopyright.spNone{
		display: block;
	}



/*------------------------------------------------------
parts
------------------------------------------------------*/

/* mainVisualArea
--------------------------------------------------*/
#mainVisualArea{width:100%;}

/* contentSearchArea
--------------------------------------------------*/
#contentSearchArea{width:100%; margin-bottom:12px;}

	/* contentSearch
	--------------------------------------------------*/
	#contentSearch{
		width: 100%;
		height: auto;
		background-image: none;
		background-color: #323283;
		padding: 15px 0;
		text-align:center;
	}
	#contentSearch h2,
	#contentSearch form{
		display: inline-block;
		width: 49%;
		vertical-align: top;
	}
	#contentSearch h2 img{
		width: 298px;
		height: auto;
		padding-left:56px;
	}
	#contentSearch form p{
		position: relative;
	}
		/*p*/
		#contentSearch p{ padding-left:20px; width:280px; height:40px; background:#333385 url(image/search_bg.gif) no-repeat 20px top;}
		/*searchTxt*/
		#contentSearch input.searchTxt{ width: 100%; max-width:200px; border:none; position:absolute; top:7px; _top:7px; left:26px; font-size:12px; line-height:1.3em; color:#FFFFFF; padding:0px 0px 0px 0px; height:20px; overflow:hidden;}
		/*searchBtn*/
		#contentSearch input.searchBtn{position:absolute; top:0px; left:243px; line-height:0px; font-size:0px;}

		/*ul*/
		#contentSearch ul{ width: 100%; text-align: center; margin-left: 0;}
		/*ul*/
		#contentSearch ul li{display: inline-block;}
		/*ul*/
		#contentSearch ul li a{ padding:2px 15px 2px 18px; background:transparent url(image/sp_search_icon.png) no-repeat 0em 0.4em; background-size: 12px 12px; -webkit-background-size: 12px 12px; -moz-background-size: 12px 12px; float:none; }
	/* contentCategory
	--------------------------------------------------*/
	#contentCategory{
		width:100%;
		height:auto;
		float:none;
		position: static;
	}
		/*li*/
		#contentCategory ul li{ position: static;float:left; width: 25%; line-height:0em; font-size:0px; border-left: 1px solid #fff; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;}
		#contentCategory ul li:first-child{ border-left: none;}
		#contentCategory ul li img{ width: 100%; max-width: 179px; height: auto;}


	/* contentBodyMain
	--------------------------------------------------*/
	#contentBodyMain{
		width:100%;
		}
		/*blockL*/
		#contentBodyMain div.blockL{width:100%; float:none;}
		/*blockR*/
		#contentBodyMain div.blockR{width:100%; float:none;}

	/*a.otherListLink*/
	#contentBody a.otherListLink{
		display:inline;
		padding:5px 0px 5px 18px;
		font-size:100%;
		background:transparent url(../content/image/icon_arrow.gif) no-repeat 0px 0.4em;
		text-decoration:none;
		color:#000099;
		line-height:normal;
	}
	#contentBody a.otherListLink:hover{text-decoration:underline;}

	/*a.otherListLinkA*/
	#contentBody a.otherListLinkA{
		display:block;
		padding:1px 0px 1px 18px;
		font-size:100%;
		background:transparent url(../content/image/icon_arrow.gif) no-repeat 0px 0.2em;
		text-decoration:none;
		color:#000099;
		line-height:normal;
		min-height:15px;
		_height:15px;
	}
	#contentBody a.otherListLink:hover,
	#contentBody a.otherListLinkA:hover{text-decoration:underline;}

	/*headLinkA*/
	#contentBody div.headLinkA{width:100%; position:relative;}
	#contentBody div.headLinkA h2{width:100%;}
	/*headLinkB*/
	#contentBody div.headLinkB{width:100%; position:relative;}
		/*p.moreInfo*/
		#contentBody div.headLinkA p.moreInfo{ position:absolute; top:5px; right:60px;}
		#contentBody div.headLinkB p.moreInfo{ position:absolute; top:5px; right:10px;}
		/*p.moreInfo*/
		#contentBody div.headLinkA p.Rss{ position:absolute; top:5px; right:7px;}
		#contentBody .spH2Ttl .tabBlock{ display: block;}
		#contentBody .spH2Ttl .spNone{ display: none;}
		#contentBody .spH2Ttl .pcNone{ display: none;}
		#contentBody .spH2Ttl img{ width: 100%;}
		#contentBody p.moreInfo .pcNone{display: none;}
		#contentBody p.moreInfo .spNone{display: block;}
		#contentBody p.Rss .pcNone{display: none;}
		#contentBody p.Rss .spNone{display: block;}


	/*newsListArea*/
	#contentBody div.newsListArea{
		background:#eeeeee;
		padding:5px;
		width:100%;
		margin-bottom:20px;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		}
		/*dl*/
		#contentBody div.newsListArea dl{
			width:100%;
			}
		/*dt*/
		#contentBody div.newsListArea dl dt{
			display:block;
			padding:5px 0px 5px 65px;
			}
			#contentBody div.newsListArea dl dt.news{background:transparent url(../content/image/icon_news.gif) no-repeat 5px 0.5em;}
			#contentBody div.newsListArea dl dt.magazines{background:transparent url(../content/image/icon_magazines.gif) no-repeat 5px  0.5em;}
			#contentBody div.newsListArea dl dt.event{background:transparent url(../content/image/icon_event.gif) no-repeat 5px  0.5em;}
			#contentBody div.newsListArea dl dt.digital{background:transparent url(../content/image/icon_digital.gif) no-repeat 5px  0.5em;}
			#contentBody div.newsListArea dl dt.comics{background:transparent url(../content/image/icon_comics.gif) no-repeat 5px  0.5em;}
			#contentBody div.newsListArea dl dt.books{background:transparent url(../content/image/icon_books.gif) no-repeat 5px  0.5em;}
		/*dd*/
		#contentBody div.newsListArea dl dd{
			border-bottom:1px solid #999999;
			display:block;
			padding:0px 10px 5px 10px;
			clear:both;
			}
			/*span*/
			#contentBody div.newsListArea dl dd span{
				display:block;
				padding:5px 0px 0px 18px;
				font-size:85%;
				line-height:normal;
				}
				#contentBody div.newsListArea .moreLink{
					display: none;
				}


	/*linksArea*/
	#contentBody div.linksArea{
		background:#eeeeee;
		padding:0px 10px 15px 10px;
		width:100%;
		margin-bottom:20px;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		}
		/*ul*/
		#contentBody div.linksArea ul{width: 570px; margin: 0 auto;;}
		#contentBody div.linksArea ul li:first-child{ padding-left: 0px;}


	/*cautionArea*/
	#contentBody div.cautionArea{
		border:1px solid #ff0000;
		padding:10px 10px 10px 10px;
		width:100%;
		text-align:center;
		color : red;
		font-size:120%;
		}
		/*p*/
		#contentBody div.nationalArea p{margin-bottom:10px;}
		/*p*/
		#contentBody div.nationalArea p.lastUpDate{margin-bottom:0px; font-size:85%; text-align:right;}


	/*nationalArea*/
	#contentBody div.nationalArea{
		border:1px solid #999999;
		padding:10px 10px 10px 10px;
		width: 620px;
		margin: 0 auto 10px;
		text-align:center;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		}
		/*p*/
		#contentBody div.nationalArea p{margin-bottom:10px;}
		/*p*/
		#contentBody div.nationalArea p.lastUpDate{margin-bottom:0px; font-size:85%; text-align:right;}

	/*nationalArea2*/
	#contentBody div.nationalArea2{
		border:1px solid #999999;
		padding:8px 8px 8px 8px;
		width:614px;
		margin: 0 auto;
		text-align:center;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		}
	#contentBody div.nationalArea2 + br + div{
		text-align: center;
	}
		/*p*/
		#contentBody div.nationalArea2 p{margin-bottom:10px;}
		/*p*/
		#contentBody div.nationalArea2 p.title2{margin-bottom:10px; font-size:120%;}
		/*p*/
		#contentBody div.nationalArea2 p.titlebtm{margin-bottom:10px; font-size:100%;}
		/*p*/
		#contentBody div.nationalArea2 p.titlebtm2{margin-bottom:13px; font-size:100%;}
		/*p*/
		#contentBody div.nationalArea2 p.titlebtm3{margin-bottom:5px; font-size:100%;}
		/*p*/
		#contentBody div.nationalArea2 p.lastUpDate{margin-bottom:0px; font-size:85%; text-align:right;}

	/*prizeListArea*/
	#contentBody div.prizeListArea{
		background:#eeeeee;
		padding:10px 10px 10px 10px;
		width:100%;
		margin-bottom:20px;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		}
		/*span*/
		#contentBody div.prizeListArea p span{font-size:85%;}


	/*topicArea*/
	#contentBody div.topicArea{
		background:#eeeeee;
		padding:5px;
		width:100%;
		margin-bottom:20px;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		}
		/*ul*/
		#contentBody div.topicArea ul{
			width:100%;
			}
		/*dd*/
		#contentBody div.topicArea ul li{
			border-bottom:1px solid #999999;
			display:block;
			padding:0px 0px 10px 0px;
			margin:10px 0px 0px 0px;
			z-index:1;
			line-height:0px;
			}

	/*snsBnArea*/	
	#contentBody div.snsBnArea{
		max-width:300px;
		margin: 0 auto;
		padding-bottom:15px;
		}
	#contentBody div.snsBnArea p.bnL{float:left; padding-right: 8px;}
	#contentBody div.snsBnArea p.bnC{float:left;}
	#contentBody div.snsBnArea p.bnR{float:right; padding-left: 8px;}

.spBlock2A{
	width: ;
}
#contentBodyMain .spBlock2A div.blockL{
	max-width: 348px;
	float: left;
}
#contentBodyMain .spBlock2A div.blockR{
	max-width: 348px;
	float: right;
}


/*------------------------------------------------------
head_foot
------------------------------------------------------*/

/* 1.head
==================================================*/
	/*h1*/
	#contentHead h1 {
		left: 15px;
		position: absolute;
		top: 26px;
	}
	#contentHead > h1 img{
		width: 100%;
		max-width: 298px;
		height:auto;
	}
	#contentHead.popUp h1{top:20px; left:10px; position:absolute;}
	#contentHead.magazineH h1,
	#contentHead.digitalH h1,
	#contentHead.booksH h1{top:15px; left:10px; position:absolute; width:171px; height:20px;}


	/*div#headTopSearch*/
	#contentHead div#headTopSearch{
		bottom:5px;
		right:10px;
		position:absolute;
		width:320px;
		height:30px;
		background:transparent url(image/bg_topsearch.gif) no-repeat left top;
		}
		#contentHead div#headTopSearch input.headsearchTxt{
			bottom:5px;
			right:70px;
			position:absolute;
			width:215px;
			height:15px;
			border:1px solid #999999;
			padding:3px 2px 0px 2px;
			background:#eeeeee url(image/bg_topsearch02.gif) repeat-x left top;
			overflow:hidden;
			font-size:12px;
			}
		#contentHead div#headTopSearch input.headsearchBtn{
			bottom:5px;
			right:5px;
			position:absolute;
			padding:0px;
			margin:0px;
			}
#contentHead ul.spNavi > li:first-child > a{
	border-top: 1px solid #666;
}



/* 2.foot
==================================================*/
	/*p.copyright*/
	#contentFoot p.copyright{ margin:10px 0px 0px 10px;}
	#contentFoot p.TopCopyright{ margin:10px 0px 0px 10px; float:left; width:220px;}

	/*ul*/
	#contentFoot .spFootNavi ul li{display:block; float:left;}

	/*ul.footBn*/
	#contentFoot ul#footBn{display:block;}
	
	#contentFoot ul#footBn {
		background-image: none;
		background-color: #dddddd;
		border-radius:5px 5px 0 0;
		padding: 20px 0 20px 10px;
		width: 708px;
		text-align:center;
	}

#contentFoot .spFootLinkArea{
	display: none;
}
#contentFoot .spFootLinkArea ul li{
	float: none;
	background-color: #fff;
	border-bottom: 1px solid #c8c7cc;
	padding: 9px 10px;
}
#contentFoot .spFootLinkArea ul li a{
	background:transparent url(../content/image/sp_icon_arrow.png) no-repeat 0px 0.2em;
	background-size: 12px 12px;
	-webkit-background-size: 12px 12px;
	-moz-background-size: 12px 12px;
	text-decoration:none;
	padding-left: 20px;
}
#contentFoot > div > ul.spNone{
	display: block;
}
#contentFoot > div > ul.spNone > li img{
	height: auto;
}
#contentFoot > div > ul.spNone > li:nth-child(1) img{
	max-width: 238px;
}
#contentFoot > div > ul.spNone > li:nth-child(2) img,
#contentFoot > div > ul.spNone > li:nth-child(3) img,
#contentFoot > div > ul.spNone > li:nth-child(4) img,
#contentFoot > div > ul.spNone > li:nth-child(5) img{
	max-width: 120px;
}
#contentFoot ul#footQuickNavi > li.pcNone{
	display: none;
}
#contentFoot ul#footQuickNavi > li.spNone{
	display: block;
}


/*------------------------------------------------------
calendar_balloon
------------------------------------------------------*/
#calendarBalloonArea{
	width:100%;
	margin: 0 auto;
	background:#eeeeee;
	text-align:center;
	position:relative;
	padding:5px 0px;
}

/*calender*/
#calendarBalloonArea table.calender{
	margin:0px auto;
	filter: expression(document.execCommand("BackgroundImageCache",false, true)); 
}

	#calendarBalloonArea table.calender th{
		background:#cccccc;
		width:40px;
		color:333333;
		padding:2px 0px;
		font-size:85%;
		text-align:center;
	}
	#calendarBalloonArea table.calender th.calSunday{color:#cc3399;}
	#calendarBalloonArea table.calender th.calSaturday{color:#0066cc;}

	#calendarBalloonArea table.calender td{
		width:40px;
		background:#ffffff;
		text-align:center;
		color:#999999;
	}
	#calendarBalloonArea table.calender td.today{
		font-weight:bold;
		background:#dddddd;
	}
	#calendarBalloonArea table.calender td span,
	#calendarBalloonArea table.calender td a{
		padding:3px 0px;
		width:38px;
		border:#ffffff 1px solid;
		display:block;
	}
	
	#calendarBalloonArea table.calender td.today span,
	#calendarBalloonArea table.calender td.today a{
		border:#999999 1px solid;
	}
	#calendarBalloonArea table.calender td a:hover{ border:#0000ff 1px solid; }

/*balloon*/
#calendarBalloonArea div.balloon{
	position:absolute;
	bottom:0px; left:0px;/*script set*/
	display:none !important;/*script set*/
	width:156px;
	background:url(image/baloon_top.gif) top left no-repeat;
	padding-top:8px;
	z-index:100;
}
#calendarBalloonArea div.balloon div{
	width:156px;
	background:url(image/baloon_btm.gif) bottom left no-repeat;
	padding-bottom:20px;
	text-align:center;
}
#calendarBalloonArea div.balloon div table{
	text-align:left;
	width:140px;
	margin:0px auto;
}
	#calendarBalloonArea div.balloon div table th{
		text-align:left;
		font-weight:normal;
	}
	#calendarBalloonArea div.balloon div table td{
		text-align:right;
		font-weight:bold;
	}
	#calendarBalloonArea div.balloon div table th,
	#calendarBalloonArea div.balloon div table td{
		font-size:10px;
		color:#ffffff;
		padding:1px 0px;
	}

}