
.bannerAnimationPanel {
	background: url(../images/dollAnimationBg.png) no-repeat center top;
	height: 330px;
	position: relative;
	width:170px;
	margin:0 auto;
}

#ball {
	width: 173px;
	height: 300px;
	position: absolute;
	
	left: 0px;
	z-index: 11;
	-webkit-animation: jump 5s infinite;
	-moz-animation: jump 5s infinite;
	animation: jump 5s infinite;
}
#ball::after {
	content: "";
	width: 173px;
	height: 194px;
	position: absolute;
	bottom: 10px;
	z-index: 10;
	background: url(../template/dall.png) 0 0px no-repeat;
	top: 40px
}
#ballShadow {
	position: absolute;
	left: 50%;
	bottom: 0px;
	z-index: 10;
	margin-left: -30px;
	width: 60px;
	height: 35px;
	background: rgba(20,20,20,.1);
	box-shadow: 0px 0 20px 35px rgba(20,20,20,.1);
	border-radius: 30px / 40px;
	-webkit-transform: scaleY(.3);
	-moz-transform: scaleY(.3);
	-ms-transform: scaleY(.3);
	-o-transform: scaleY(.3);
	transform: scaleY(.3);
	-webkit-animation: shrink 5s infinite;
	-moz-animation: shrink 5s infinite;
	animation: shrink 5s infinite
}
@-webkit-keyframes jump {
0% {
top:0;
-webkit-animation-timing-function:ease-in
}
40% {
}
50% {
top:25px;
height:120px;
-webkit-animation-timing-function:ease-out
}
55% {
top:30px;
height:110px;
-webkit-animation-timing-function:ease-in
}
65% {
top:20px;
height:120px;
-webkit-animation-timing-function:ease-out
}
95% {
top:0;
-webkit-animation-timing-function:ease-in
}
100% {
top:0;
-webkit-animation-timing-function:ease-in
}
}
@-moz-keyframes jump {
0% {
top:0;
-moz-animation-timing-function:ease-in
}
40% {
}
50% {
top:25px;
height:120px;
-moz-animation-timing-function:ease-out
}
55% {
top:30px;
height:110px;
border-radius:-moz-animation-timing-function:ease-in
}
65% {
top:20px;
height:120px;
-moz-animation-timing-function:ease-out
}
95% {
top:0;
-moz-animation-timing-function:ease-in
}
100% {
top:0;
-moz-animation-timing-function:ease-in
}
}
@keyframes jump {
0% {
top:0;
animation-timing-function:ease-in
}
50% {
top:25px;
height:120px;
animation-timing-function:ease-out
}
55% {
top:30px;
height:110px;
animation-timing-function:ease-in
}
65% {
top:20px;
height:120px;
animation-timing-function:ease-out
}
95% {
top:0;
animation-timing-function:ease-in
}
100% {
top:0;
animation-timing-function:ease-in
}
}
@-webkit-keyframes shrink {
0% {
bottom:0;
margin-left:-30px;
width:60px;
height:75px;
background:rgba(20,20,20,.1);
box-shadow:0px 0 20px 35px rgba(20,20,20,.1);
border-radius:30px / 40px;
-webkit-animation-timing-function:ease-in
}
50% {
bottom:30px;
margin-left:-10px;
width:20px;
height:5px;
background:rgba(20,20,20,.3);
box-shadow:0px 0 20px 35px rgba(20,20,20,.3);
border-radius:20px / 20px;
-webkit-animation-timing-function:ease-out
}
100% {
bottom:0;
margin-left:-30px;
width:60px;
height:75px;
background:rgba(20,20,20,.1);
box-shadow:0px 0 20px 35px rgba(20,20,20,.1);
border-radius:30px / 40px;
-webkit-animation-timing-function:ease-in
}
}
@-moz-keyframes shrink {
0% {
bottom:0;
margin-left:-30px;
width:60px;
height:75px;
background:rgba(20,20,20,.1);
box-shadow:0px 0 20px 35px rgba(20,20,20,.1);
border-radius:30px / 40px;
-moz-animation-timing-function:ease-in
}
50% {
bottom:30px;
margin-left:-10px;
width:20px;
height:5px;
background:rgba(20,20,20,.3);
box-shadow:0px 0 20px 35px rgba(20,20,20,.3);
border-radius:20px / 20px;
-moz-animation-timing-function:ease-out
}
100% {
bottom:0;
margin-left:-30px;
width:60px;
height:75px;
background:rgba(20,20,20,.1);
box-shadow:0px 0 20px 35px rgba(20,20,20,.1);
border-radius:30px / 40px;
-moz-animation-timing-function:ease-in
}
}
@keyframes shrink {
0% {
bottom:0;
margin-left:-30px;
width:60px;
height:75px;
background:rgba(20,20,20,.1);
box-shadow:0px 0 20px 35px rgba(20,20,20,.1);
border-radius:30px / 40px;
animation-timing-function:ease-in
}
50% {
bottom:30px;
margin-left:-10px;
width:20px;
height:5px;
background:rgba(20,20,20,.3);
box-shadow:0px 0 20px 35px rgba(20,20,20,.3);
border-radius:20px / 20px;
animation-timing-function:ease-out
}
100% {
bottom:0;
margin-left:-30px;
width:60px;
height:75px;
background:rgba(20,20,20,.1);
box-shadow:0px 0 20px 35px rgba(20,20,20,.1);
border-radius:30px / 40px;
animation-timing-function:ease-in
}
}
