@charset "utf-8";
/* CSS Document */

img { border-style:none;}
	#link1		{ color:#ffffff; text-decoration:none; }
		#link2		{ color:#000;text-decoration:none; }


html, body, div, span, canvas { margin:0; padding:0;}
@font-face {
    font-family: "BYekan";
    src: url("BYekan.eot") format("eot"), url("BYekan.woff") format("woff"), url("BYekan.ttf") format("truetype");
}





div.a {
position:absolute;}
    		.nudge2			{ display:block;width:130;height:130px; }
		.move  		{ display:block; float: right;padding:10px 1% 0; width:10%;height:30px; }
		a#menu{text-decoration:none;color:#fff; font-family:byekan; size:100%;text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);}
		.menuel {background-image:url(../template/menu.png); background-position:top; width:107px; height:57px;}
}





/* rounded image styles */
.rounded-img {
	display: inline-block;
	border: solid 1px #000;
	overflow: hidden;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
	box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
}
.rounded-img2 {
	display: inline-block;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.NAV {
  width: 100%;
  height: 50px;
  border-top: 0px solid #52596c;
  background: #3e465a;
  background-image: -moz-linear-gradient(top, #3e465a, #333b4b);
  background-image: -ms-linear-gradient(top, #3e465a, #333b4b);
  background-image: -o-linear-gradient(top, #3e465a, #333b4b);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#3e465a), to(#333b4b));
  background-image: -webkit-linear-gradient(top, #3e465a, #333b4b);
  background-image: linear-gradient(top, #3e465a, #333b4b);

  
  left: 0;
  
  z-index: 999;

}


.downmenu {
  height: 450px;
  background-image: url(/template/tbg.png); background-repeat:repeat-x;
  background-image: -moz-linear-gradient(top, white, #d4e9ee);
  background-image: -ms-linear-gradient(top, white, #d4e9ee);
  background-image: -o-linear-gradient(top, white, #d4e9ee);
  background-image: -webkit-gradient(linear, center top, center bottom, from(white), to(#d4e9ee));
  background-image: -webkit-linear-gradient(top, white, #d4e9ee);
  background-image: linear-gradient(top, #ffffff, #d4e9ee);
}


.info, .success, .warning, .alert, .validation {
	font-family:Tahoma, Geneva, sans-serif;
	font-weight:normal;
	font-size:12px;
	-webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
    border: 1px solid;
    padding:9px 50px;
    background-repeat: no-repeat;
    background-position: 99.95% center;
	margin:10px auto;
	width:70%;
}
.info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('../images/info.png');
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('../images/success.png');
}
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('../images/warning.png');
}
.alert {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('../images/alert.png');
}



#belowheaderwrapper {
	margin-top:-10px;
	background: url(../images/bottomshadow.png) center top repeat-x;
	overflow:hidden;
	clear:both;
	z-index: 1000;
	position: relative;
}
#belowheader {
	margin:2px auto 0;
	max-width: 960px;
}
#belowheader li {
	font-family:byekan;
	width:20%;
	margin:0 2%;
	float:left;
	list-style:none;
	height:165px;
	text-align:center;
	font-size:15px;
	line-height:1;
	text-shadow: -1px 2px 1px rgba(0,0,0,.15);
	direction:rtl;
}
.home #belowheader li {
	height:165px;
}
#belowheader li span {
	background-repeat: no-repeat;
}
#belowheader li .bottom a {
	text-decoration:none;
	color:#FFF;
	display:block;
	margin:0 auto;
	width:90%;
	max-width:130px;
	height:125px;
	padding-top: 4px;
}
.home #belowheader li .bottom a {
	height:135px;
	padding-top:0;
}
#belowheader li .top {
	background-position:center top;
	display:block;
	height:15px;
	-moz-transition: all 0.25s ease;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
#belowheader li:hover .top {
	height:25px;
}
#belowheader li .bottom {
	display:block;
	background-position:center bottom;
}
#belowheader li.orange {
	margin: 0 3.5%;
}
#belowheader li.teal span.top, #belowheader li.teal span.bottom {
	background-image: url(../template/ribbon-teal.png);
}
#belowheader li.pink span.top, #belowheader li.pink span.bottom {
	background-image: url(../template/ribbon-pink.png);
}
#belowheader li.green span.top, #belowheader li.green span.bottom {
	background-image: url(../template/ribbon-green.png);
}
#belowheader li.orange span.top, #belowheader li.orange span.bottom {
	background-image: url(../template/ribbon-orange.png);
}
#belowheader li img {
	display:block;
	margin:0 auto 5px;
	
}
.fancy_list li  { list-style-image:url(../template/list.png); font-family:Tahoma, Geneva, sans-serif; font-size:12px; float:right; margin:5px 1%; width:48%;}
.fancy li { list-style-image:url(../template/star.png); font-family:Tahoma, Geneva, sans-serif; font-size:12px;  margin:5px 2px;}