@charset "utf-8";
/* CSS Document */

#pixie{height:300px;width:100%;}		
.buttonl{
  width:100px;
  font-family:byekan;
  background:#3399cc;
  display:block;
  margin:0 auto;
  margin-top:1%;
  padding:10px;
  text-align:center;
  text-decoration:none;
  color:#fff;
  cursor:pointer;
  transition:background .3s;
  -webkit-transition:background .3s;
}

.buttonl:hover{
  background:#2288bb;
}

#login{
  width:250px;
  margin:0 auto;
  margin-top:0px;
  margin-bottom:2%;
  transition:opacity 1s;
  -webkit-transition:opacity 1s;
}

#triangle{
  width:0;
  border-top:12x solid transparent;
  border-right:12px solid transparent;
  border-bottom:12px solid #3399cc;
  border-left:12px solid transparent;
  margin:0 auto;
}

#login h1{
  background:#3399cc;
  padding:5px 0;
  font-size:20px;
  font-weight:300;
  text-align:center;
  color:#fff;  font-family:byekan;

}

#forml{
  background:#f0f0f0;
  padding:5px 5px;
}

input[type="text"],input[type="password"]{
  width:95%;
  background:#fff;
  margin-bottom:2%;
  border:1px solid #ccc;
  padding:2%;
  font-family:tahoma;
  font-size:12px;
  color:#555;
}

input[type="submit"]{
  width:100%;
  background:#3399cc;
  border:0;
  padding:2%;
  font-family:'Open Sans',sans-serif;
  font-size:12px;
  color:#fff;
  cursor:pointer;
  transition:background .3s;
  -webkit-transition:background .3s;
}

input[type="submit"]:hover{
  background:#2288bb;
}




/***
	  
input.text {
	  font-family:tahoma;

      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      border:solid 1px #444;
      font-size: 14px;
      width: 120px;
	  margin-top:2px;
      padding:1px 8px 1px 30px;
      -moz-box-shadow: 0px 1px 0px #777;
      -webkit-box-shadow: 0px 1px 0px #777;
	  background: #ddd url('../images/inputSprite.png') no-repeat 1px 5px;
	  background: url('../images/inputSprite.png') no-repeat 1px 5px, -moz-linear-gradient(
           center bottom,
           rgb(225,225,225) 0%,
           rgb(215,215,215) 54%,
           rgb(173,173,173) 100%
           );
	  background:  url('../images/inputSprite.png') no-repeat 1px 5px, -webkit-gradient(
          linear,
          left bottom,
          left top,
          color-stop(0, rgb(225,225,225)),
          color-stop(0.54, rgb(215,215,215)),
          color-stop(1, rgb(173,173,173))
          );
      color:#333;
      text-shadow:0px 1px 0px #FFF;
}	  
input#code { 
 	width:50px;	background-position: 4px -250px, 0px 0px; padding:0 0;

	}

	
 input#password { 
 	background-position: 4px -20px; 
	background-position: 4px -25px, 0px 0px;
	}
	
 input#name { 
 	background-position: 1px -46px; 
	background-position: 4px -54px, 0px 0px; 
	}
	
	




#submitb {
width:50px; float:right; margin:0 5px;
background: #C03;
color:#fff;
font-family: Tahoma, Geneva, sans-serif;
height:20px;
-webkit-border-radius:5px;
-moz-border-radius:5px;
border-radius: 5px;
border: 1px solid #999;
}
#submitb:hover {
background: #333;
color:#fff;
}
textarea:focus, input:focus {
border: 1px solid #09C;
}

.menuside{list-style:none; background:url(../template/blue.png) no-repeat right 10px; padding:10px 20px 5px 0;border-bottom:dotted; border-color:#FFFFFF; border-bottom-width:2px;}

.newsticker-jcarousellite { width:250px;height:500px }
.newsticker-jcarousellite ul li{ list-style:none; display:block; padding-bottom:1px; margin-bottom:10px;}

.newsticker-jcarousellite2 {  }
.newsticker-jcarousellite2 ul li{  height:80px;list-style:none; padding-bottom:1px;}



.clear { clear: both; }



.triangle-r {
	border-color: transparent transparent transparent #7d90a3;
	border-style:solid;
	border-width:9px;
	height:0px;
	width:0px;
	position: relative;
	
	top: 42px;
	z-index: -1; /* displayed under bubble 
}

****/


#belowheaderwrapper {
	margin-top:-10px;
	background: url(../images/bottomshadow.png) center top repeat-x;
	overflow:hidden;
	clear:both;
	z-index: 1000;
	position: relative;
}
#belowheader {
	margin:2px auto 0;
	max-width: 960px;
}
#belowheader li {
	font-family:byekan;
	width:20%;
	margin:0 2%;
	float:left;
	list-style:none;
	height:165px;
	text-align:center;
	font-size:15px;
	line-height:1;
	text-shadow: -1px 2px 1px rgba(0,0,0,.15);
	direction:rtl;
}
.home #belowheader li {
	height:165px;
}
#belowheader li span {
	background-repeat: no-repeat;
}
#belowheader li .bottom a {
	text-decoration:none;
	color:#FFF;
	display:block;
	margin:0 auto;
	width:90%;
	max-width:130px;
	height:125px;
	padding-top: 4px;
}
.home #belowheader li .bottom a {
	height:135px;
	padding-top:0;
}
#belowheader li .top {
	background-position:center top;
	display:block;
	height:15px;
	-moz-transition: all 0.25s ease;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
#belowheader li:hover .top {
	height:25px;
}
#belowheader li .bottom {
	display:block;
	background-position:center bottom;
}
#belowheader li.orange {
	margin: 0 3.5%;
}
#belowheader li.teal span.top, #belowheader li.teal span.bottom {
	background-image: url(../template/ribbon-teal.png);
}
#belowheader li.pink span.top, #belowheader li.pink span.bottom {
	background-image: url(../template/ribbon-pink.png);
}
#belowheader li.green span.top, #belowheader li.green span.bottom {
	background-image: url(../template/ribbon-green.png);
}
#belowheader li.orange span.top, #belowheader li.orange span.bottom {
	background-image: url(../template/ribbon-orange.png);
}
#belowheader li img {
	display:block;
	margin:0 auto 5px;
	
}







@-webkit-keyframes fill {
  to {
    width: 100%;
  }
}
@-moz-keyframes fill {
  to {
    width: 100%;
  }
}
@-o-keyframes fill {
  to {
    width: 100%;
  }
}
@keyframes fill {
  to {
    width: 100%;
  }
}
.button {
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
  background: #FFF;
  border: 1px solid #e5e5ff;
  border-radius: 2px;
  display: block;
  height: 40px;
  font-family: byekan;
  font-size: 18px;
  font-weight: 100;
  margin: 10px;
  position: relative;
  width: 200px;
}
.button:before {
  color: #000;
  content: attr(name);
  height: 100%;
  line-height: 2.1;
  position: absolute;
  text-align: center;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
}
.button:after {
  background: #ff347c;
  content: '';
  height: 100%;
  position: absolute;
  width: 0;
}
#buttonl:after {
  background: #4a8eff;
  content: '';
  height: 100%;
  position: absolute;
  width: 0;
}
.button:hover {
  cursor: pointer;
}
.button:focus {
  outline: none;
}

.button.animation:after {
  -webkit-animation: fill 1.5s forwards ease-out;
  -moz-animation: fill 1.5s forwards ease-out;
  -o-animation: fill 1.5s forwards ease-out;
  animation: fill 1.5s forwards ease-out;
  left: 0;
  top: 0;
  z-index: 5;
}



.fancy_list li  { list-style-image:url(../template/list.png); font-family:Tahoma, Geneva, sans-serif; font-size:12px; float:right; margin:5px 1%; width:48%;}
.fancy li { list-style-image:url(../template/star.png); font-family:Tahoma, Geneva, sans-serif; font-size:12px;  margin:5px 2px;}

.tabs {
    position: relative;
	margin: 40px auto;
	width: 80%;
	max-width:750px;
}

#input {
	position: absolute;
	z-index: 1000;
	width: 120px;
	height: 40px;
	right: 0px;
	top: 0px;
	opacity: 0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
	cursor: pointer;
}




/***
.tabs input {
	position: absolute;
	z-index: 1000;
	width: 120px;
	height: 40px;
	right: 0px;
	top: 0px;
	opacity: 0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
	cursor: pointer;
}***/

.tabs input#tab-2{
	left: 120px;
}
.tabs input#tab-3{
	left: 240px;
}
.tabs input#tab-4{
	right: 360px;
}

.tabs label {
	background: #5ba4a4;
	background: -moz-linear-gradient(top, #D4E2FF  0%, #C9D5FF  100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D4E2FF), color-stop(100%,#C9D5FF));
	background: -webkit-linear-gradient(top, #D4E2FF 0%,#C9D5FF 100%);
	background: -o-linear-gradient(top, #D4E2FF 0%,#C9D5FF 100%);
	background: -ms-linear-gradient(top, #D4E2FF 0%,#C9D5FF 100%);
	background: linear-gradient(top, #D4E2FF 0%,#C9D5FF 100%);
	font-size: 15px;
	font-family:byekan;
	line-height: 20px;
	height: 20px;
	position: relative;
	padding: 5px 5px 5px;
    float: right;
	display: block;
	width: 110px;
	color: #385c5b;
	text-align: center;
    border-radius: 3px 3px 0 0;
    box-shadow: 2px 0 2px rgba(0,0,0,0.1), -2px 0 2px rgba(0,0,0,0.1);
}

.tabs label:after {
    content: '';
	background: #fff;
	position: absolute;
	bottom: -2px;
	left: 0;
	width: 100%;
	height: 2px;
	display: block;
}

.tabs input:hover + label {
	background: #5ba4a4;
}

.tabs label:first-of-type {
    z-index: 4;
    box-shadow: 2px 0 2px rgba(0,0,0,0.1);
}

.tab-label-2 {
    z-index: 3;
}

.tab-label-3 {
    z-index: 2;
}

.tab-label-4 {
    z-index: 1;
}

.tabs input:checked + label {
    background: #fff;
	z-index: 6;
}

.clear-shadow {
	clear: both;
}

.content {
    background: #fff;
	position: relative;
    width: 100%;
	height: 370px;
	z-index: 5;
    box-shadow: 0 -2px 3px -2px rgba(0,0,0,0.2), 0 2px 2px rgba(0,0,0,0.1);
    border-radius: 0 3px 3px 3px;
	
}

.content div {
	
    position: absolute;
	top: 0;
	left: 0;
	padding: 10px 40px;
	z-index: 1;
    opacity: 0;
	height:350px;
	overflow:hidden;
    -webkit-transition: opacity linear 0.1s;
    -moz-transition: opacity linear 0.1s;
    -o-transition: opacity linear 0.1s;
    -ms-transition: opacity linear 0.1s;
    transition: opacity linear 0.1s;
}

.tabs input.tab-selector-1:checked ~ .content .content-1,
.tabs input.tab-selector-2:checked ~ .content .content-2,
.tabs input.tab-selector-3:checked ~ .content .content-3,
.tabs input.tab-selector-4:checked ~ .content .content-4 {
	z-index: 100;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
		width: 80%;
	max-width:680px;
	height:350px;

    -webkit-transition: opacity ease-out 0.2s 0.1s;
    -moz-transition: opacity ease-out 0.2s 0.1s;
    -o-transition: opacity ease-out 0.2s 0.1s;
    -ms-transition: opacity ease-out 0.2s 0.1s;
    transition: opacity ease-out 0.2s 0.1s;
}
.content div h2,
.content div h3{
	color: #398080;
}
.content div p {
	font-size: 14px;
	line-height: 22px;
	font-style: italic;
	text-align: left;
	margin: 0;
	color: #777;
	padding-left: 15px;
	font-family: Cambria, Georgia, serif;
	border-left: 8px solid rgba(63,148,148, 0.1);
}






			

			   ul#update{
				   width:100%;
				   float:right;
				counter-reset: li;
					height:300px;

				list-style: none;
				*list-style: decimal;
				font: 15px 'trebuchet MS', 'lucida sans';
				padding: 0;
				margin-bottom: 4em;
				text-shadow: 0 1px 0 rgba(255,255,255,.5);text-align: right;
			}

			   .rectangle-list li{
			width:46%;
			float:right;
			margin:0 2%;
			}
			
			.rectangle-list ul ul{
				margin: 0 0 0 2em;
			}

		
			.rectangle-list a{
				position: relative;
				display: block;
				padding: .4em .4em .4em .8em;
				*padding: .4em;
				margin: .5em 0 .5em 2.5em;
				background: #edf1fd;
				font-family:Tahoma, Geneva, sans-serif;
				font-size:12px;
				color: #000;
				text-decoration: none;
				-webkit-transition: all .3s ease-out;
				-moz-transition: all .3s ease-out;
				-ms-transition: all .3s ease-out;
				-o-transition: all .3s ease-out;
				transition: all .3s ease-out;	
			}

			.rectangle-list a:hover{
				background: #eee;
			}	

			.rectangle-list a:before{
				content: 'LB';
				counter-increment: 'li';
				position: absolute;	
				right: -2.5em;
				top: 50%;
				margin-top: -1em;
				background: #ff6195;
				height: 2em;
				width: 2em;
				line-height: 2em;
				text-align: center;
				font-weight: bold;
			}
			
			.rectangle-list a:after{
				position: absolute;	
				content: '';
				border: .5em solid transparent;
				left: -1em;
				top: 50%;
				margin-top: -.5em;
				-webkit-transition: all .3s ease-out;
				-moz-transition: all .3s ease-out;
				-ms-transition: all .3s ease-out;
				-o-transition: all .3s ease-out;
				transition: all .3s ease-out;				
			}

			.rectangle-list a:hover:after{
				left: -.5em;
				border-left-color: #fa8072;				
			}

		
		
		
		
		
			   ul#most{
				   text-align:right;
				   width:100%;
				   float:right;
				counter-reset: li;
				list-style: none;
				*list-style: decimal;
				font-family:tahoma;
				font-size:12px;
				padding: 0;
				margin-bottom: 4em;
				text-shadow: 0 1px 0 rgba(255,255,255,.5);
			}
		
.rounded-list li{
	float:right;
		width:280px;
			margin:0 20px;
}
			
			.rounded-list a{

				position: relative;
				display: block;
				padding: .4em .4em .4em 2em;
				*padding: .4em;
				margin: 5px 10px;
				background: #eee;
				color: #444;
				text-decoration: none;
				-moz-border-radius: .3em;
				-webkit-border-radius: .3em;
				-webkit-transition: all .3s ease-out;
				-moz-transition: all .3s ease-out;
				-ms-transition: all .3s ease-out;
				-o-transition: all .3s ease-out;
				transition: all .3s ease-out;	
			}

			.rounded-list a:hover{
				background: #eee;
			}

			.rounded-list a:hover:before{
				-moz-transform: rotate(360deg);
			  	-webkit-transform: rotate(360deg);
			    -moz-transform: rotate(360deg);
			    -ms-transform: rotate(360deg);
			    -o-transform: rotate(360deg);
			    transform: rotate(360deg);	
			}

			.rounded-list a:before{
				content: counter(li);
				counter-increment: li;
				position: absolute;	
				right: -25px;
				top: 50%;
				margin-top: -1.3em;
				background: #87ceeb;
				height: 2em;
				width: 2em;
				line-height: 2em;
				border: .3em solid #fff;
				text-align: center;
				font-weight: bold;
				-moz-border-radius: 2em;
				-webkit-border-radius: 2em;
				border-radius: 2em;
				-webkit-transition: all .3s ease-out;
				-moz-transition: all .3s ease-out;
				-ms-transition: all .3s ease-out;
				-o-transition: all .3s ease-out;
				transition: all .3s ease-out;
			}
		