/* ==========
  Covers all sites
========== */
/* compass imports */
/* background image --------------------------------- */
/* font families ------------------------------------ */
/*
$fontfamilyBold:'HelveticaNeue-75-Bold', 'Helvetica', Arial,  "times new roman", serif !default;
$fontfamilyItalic:'HelveticaNeue-56-Italic', 'Helvetica', Arial, "times new roman", serif !default;
$fontfamilyBoldItalic:'HelveticaNeue-76-Bold-Italic', 'Helvetica', Arial,  "times new roman", serif !default;

$fontfamilyLight:'HelveticaNeue-45-Light', 'Helvetica', Arial, "times new roman", serif !default;
$fontfamilyLightBold: $fontfamilyBold;
$fontfamilyLightItalic:'HelveticaNeue-46-Light-Italic', 'Helvetica', Arial, "times new roman", serif !default;
$fontfamilyLightBoldItalic: $fontfamilyBoldItalic;
*/
/* 404 & 403 error pages ------------------------------------ */
/* SBS colours ---------------------------------------- */
/* generic colours ------------------------------------ */
/* spacing ------------------------------------------ */
/* configuration ------------------------------------ */
/* grid variables ------------------------------------ */
/* Used in print */
/* preset image sizes ------------------------------------ */
/* ==========
  Scrollers
========== */
/* ==============
  Theme folder names
=================*/
/* categorised mixins */
/* Overlay mixins */
/**
** Misc mixins
*/
/* ====
mobile mix ins
==== */
/* ====
Tablet mix ins
==== */
/* use placeholders whenever possible for more efficient CSS! */
/* Theme hex values */
/* Theme list */
/* line 572, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
body.comedy #page .header .sbs_gnav_logo {
  background-image: url(/global/profiles/sbsdistribution/themes/global/images/logo/colours/purple-1.png); }

/* line 572, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
body.feast #page .header .sbs_gnav_logo {
  background-image: url(/global/profiles/sbsdistribution/themes/global/images/logo/colours/green-1.png); }

/* line 572, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
body.film #page .header .sbs_gnav_logo {
  background-image: url(/global/profiles/sbsdistribution/themes/global/images/logo/colours/teal-1.png); }

/* line 572, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
body.food #page .header .sbs_gnav_logo {
  background-image: url(/global/profiles/sbsdistribution/themes/global/images/logo/colours/green-1.png); }

/* line 572, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
body.global #page .header .sbs_gnav_logo {
  background-image: url(/global/profiles/sbsdistribution/themes/global/images/logo/colours/red-1.png); }

/* line 572, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
body.guide #page .header .sbs_gnav_logo {
  background-image: url(/global/profiles/sbsdistribution/themes/global/images/logo/colours/yellow-1.png); }

/* line 572, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
body.home #page .header .sbs_gnav_logo {
  background-image: url(/global/profiles/sbsdistribution/themes/global/images/logo/colours/red-1.png); }

/* line 572, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
body.mediacentre #page .header .sbs_gnav_logo {
  background-image: url(/global/profiles/sbsdistribution/themes/global/images/logo/colours/yellow-1.png); }

/* line 572, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
body.mysbs #page .header .sbs_gnav_logo {
  background-image: url(/global/profiles/sbsdistribution/themes/global/images/logo/colours/red-1.png); }

/* line 572, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
body.news #page .header .sbs_gnav_logo {
  background-image: url(/global/profiles/sbsdistribution/themes/global/images/logo/colours/blue-1.png); }

/* line 572, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
body.ouat #page .header .sbs_gnav_logo {
  background-image: url(/global/profiles/sbsdistribution/themes/global/images/logo/colours/yellow-1.png); }

/* line 572, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
body.popasia #page .header .sbs_gnav_logo {
  background-image: url(/global/profiles/sbsdistribution/themes/global/images/logo/colours/yellow-1.png); }

/* line 572, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
body.programs #page .header .sbs_gnav_logo {
  background-image: url(/global/profiles/sbsdistribution/themes/global/images/logo/colours/yellow-1.png); }

/* line 572, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
body.programs_foodluke #page .header .sbs_gnav_logo {
  background-image: url(/global/profiles/sbsdistribution/themes/global/images/logo/colours/green-1.png); }

/* line 572, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
body.programs_joinin #page .header .sbs_gnav_logo {
  background-image: url(/global/profiles/sbsdistribution/themes/global/images/logo/colours/yellow-1.png); }

/* line 572, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
body.programs_lifeonus #page .header .sbs_gnav_logo {
  background-image: url(/global/profiles/sbsdistribution/themes/global/images/logo/colours/yellow-1.png); }

/* line 572, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
body.programs_talesunexpected #page .header .sbs_gnav_logo {
  background-image: url(/global/profiles/sbsdistribution/themes/global/images/logo/colours/yellow-1.png); }

/* line 572, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
body.programs_thisisbrazil #page .header .sbs_gnav_logo {
  background-image: url(/global/profiles/sbsdistribution/themes/global/images/logo/colours/yellow-1.png); }

/* line 572, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
body.programs_thefullbrazilian #page .header .sbs_gnav_logo {
  background-image: url(/global/profiles/sbsdistribution/themes/global/images/logo/colours/yellow-1.png); }

/* line 572, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
body.radio #page .header .sbs_gnav_logo {
  background-image: url(/global/profiles/sbsdistribution/themes/global/images/logo/colours/yellow-1.png); }

/* line 572, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
body.sbsinternational #page .header .sbs_gnav_logo {
  background-image: url(/global/profiles/sbsdistribution/themes/global/images/logo/colours/yellow-1.png); }

/* line 572, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
body.thefeed #page .header .sbs_gnav_logo {
  background-image: url(/global/profiles/sbsdistribution/themes/global/images/logo/colours/blue-1.png); }

/* line 572, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
body.theobservereffect #page .header .sbs_gnav_logo {
  background-image: url(/global/profiles/sbsdistribution/themes/global/images/logo/colours/blue-1.png); }

/* line 572, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
body.theworldgame #page .header .sbs_gnav_logo {
  background-image: url(/global/profiles/sbsdistribution/themes/global/images/logo/colours/orange-1.png); }

/* line 572, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
body.yourlanguage #page .header .sbs_gnav_logo {
  background-image: url(/global/profiles/sbsdistribution/themes/global/images/logo/colours/yellow-1.png); }

/* line 588, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
.displaymode-tablet body.comedy #page .header .sbs_gnav_logo,
.displaymode-mobile body.comedy #page .header .sbs_gnav_logo {
  background-image: url(/global/profiles/sbsdistribution/themes/global/images/logo/colours/purple-1_mobile.png); }
  @media (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2 / 1), (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
    /* line 588, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
    .displaymode-tablet body.comedy #page .header .sbs_gnav_logo,
    .displaymode-mobile body.comedy #page .header .sbs_gnav_logo {
      background-image: url(/global/profiles/sbsdistribution/themes/global/images/logo/colours/purple-1_mobile_2x.png); } }

/* line 608, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
.displaymode-tablet body.comedy #page .region-menu.expanded-menu .sbs_menu .sbs_menu_bars:before,
.displaymode-mobile body.comedy #page .region-menu.expanded-menu .sbs_menu .sbs_menu_bars:before {
  content: "IN COMEDY"; }

/* line 588, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
.displaymode-tablet body.feast #page .header .sbs_gnav_logo,
.displaymode-mobile body.feast #page .header .sbs_gnav_logo {
  background-image: url(/global/profiles/sbsdistribution/themes/global/images/logo/colours/green-1_mobile.png); }
  @media (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2 / 1), (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
    /* line 588, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
    .displaymode-tablet body.feast #page .header .sbs_gnav_logo,
    .displaymode-mobile body.feast #page .header .sbs_gnav_logo {
      background-image: url(/global/profiles/sbsdistribution/themes/global/images/logo/colours/green-1_mobile_2x.png); } }

/* line 608, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
.displaymode-tablet body.feast #page .region-menu.expanded-menu .sbs_menu .sbs_menu_bars:before,
.displaymode-mobile body.feast #page .region-menu.expanded-menu .sbs_menu .sbs_menu_bars:before {
  content: "IN FOOD"; }

/* line 588, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
.displaymode-tablet body.film #page .header .sbs_gnav_logo,
.displaymode-mobile body.film #page .header .sbs_gnav_logo {
  background-image: url(/global/profiles/sbsdistribution/themes/global/images/logo/colours/teal-1_mobile.png); }
  @media (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2 / 1), (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
    /* line 588, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
    .displaymode-tablet body.film #page .header .sbs_gnav_logo,
    .displaymode-mobile body.film #page .header .sbs_gnav_logo {
      background-image: url(/global/profiles/sbsdistribution/themes/global/images/logo/colours/teal-1_mobile_2x.png); } }

/* line 608, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
.displaymode-tablet body.film #page .region-menu.expanded-menu .sbs_menu .sbs_menu_bars:before,
.displaymode-mobile body.film #page .region-menu.expanded-menu .sbs_menu .sbs_menu_bars:before {
  content: "IN MOVIES"; }

/* line 588, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
.displaymode-tablet body.food #page .header .sbs_gnav_logo,
.displaymode-mobile body.food #page .header .sbs_gnav_logo {
  background-image: url(/global/profiles/sbsdistribution/themes/global/images/logo/colours/green-1_mobile.png); }
  @media (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2 / 1), (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
    /* line 588, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
    .displaymode-tablet body.food #page .header .sbs_gnav_logo,
    .displaymode-mobile body.food #page .header .sbs_gnav_logo {
      background-image: url(/global/profiles/sbsdistribution/themes/global/images/logo/colours/green-1_mobile_2x.png); } }

/* line 608, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
.displaymode-tablet body.food #page .region-menu.expanded-menu .sbs_menu .sbs_menu_bars:before,
.displaymode-mobile body.food #page .region-menu.expanded-menu .sbs_menu .sbs_menu_bars:before {
  content: "IN FOOD"; }

/* line 588, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
.displaymode-tablet body.global #page .header .sbs_gnav_logo,
.displaymode-mobile body.global #page .header .sbs_gnav_logo {
  background-image: url(/global/profiles/sbsdistribution/themes/global/images/logo/colours/red-1_mobile.png); }
  @media (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2 / 1), (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
    /* line 588, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
    .displaymode-tablet body.global #page .header .sbs_gnav_logo,
    .displaymode-mobile body.global #page .header .sbs_gnav_logo {
      background-image: url(/global/profiles/sbsdistribution/themes/global/images/logo/colours/red-1_mobile_2x.png); } }

/* line 608, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
.displaymode-tablet body.global #page .region-menu.expanded-menu .sbs_menu .sbs_menu_bars:before,
.displaymode-mobile body.global #page .region-menu.expanded-menu .sbs_menu .sbs_menu_bars:before {
  content: ""; }

/* line 588, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
.displaymode-tablet body.guide #page .header .sbs_gnav_logo,
.displaymode-mobile body.guide #page .header .sbs_gnav_logo {
  background-image: url(/global/profiles/sbsdistribution/themes/global/images/logo/colours/yellow-1_mobile.png); }
  @media (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2 / 1), (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
    /* line 588, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
    .displaymode-tablet body.guide #page .header .sbs_gnav_logo,
    .displaymode-mobile body.guide #page .header .sbs_gnav_logo {
      background-image: url(/global/profiles/sbsdistribution/themes/global/images/logo/colours/yellow-1_mobile_2x.png); } }

/* line 608, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
.displaymode-tablet body.guide #page .region-menu.expanded-menu .sbs_menu .sbs_menu_bars:before,
.displaymode-mobile body.guide #page .region-menu.expanded-menu .sbs_menu .sbs_menu_bars:before {
  content: "GUIDE"; }

/* line 588, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
.displaymode-tablet body.home #page .header .sbs_gnav_logo,
.displaymode-mobile body.home #page .header .sbs_gnav_logo {
  background-image: url(/global/profiles/sbsdistribution/themes/global/images/logo/colours/red-1_mobile.png); }
  @media (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2 / 1), (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
    /* line 588, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
    .displaymode-tablet body.home #page .header .sbs_gnav_logo,
    .displaymode-mobile body.home #page .header .sbs_gnav_logo {
      background-image: url(/global/profiles/sbsdistribution/themes/global/images/logo/colours/red-1_mobile_2x.png); } }

/* line 608, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
.displaymode-tablet body.home #page .region-menu.expanded-menu .sbs_menu .sbs_menu_bars:before,
.displaymode-mobile body.home #page .region-menu.expanded-menu .sbs_menu .sbs_menu_bars:before {
  content: ""; }

/* line 588, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
.displaymode-tablet body.mediacentre #page .header .sbs_gnav_logo,
.displaymode-mobile body.mediacentre #page .header .sbs_gnav_logo {
  background-image: url(/global/profiles/sbsdistribution/themes/global/images/logo/colours/yellow-1_mobile.png); }
  @media (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2 / 1), (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
    /* line 588, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
    .displaymode-tablet body.mediacentre #page .header .sbs_gnav_logo,
    .displaymode-mobile body.mediacentre #page .header .sbs_gnav_logo {
      background-image: url(/global/profiles/sbsdistribution/themes/global/images/logo/colours/yellow-1_mobile_2x.png); } }

/* line 608, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
.displaymode-tablet body.mediacentre #page .region-menu.expanded-menu .sbs_menu .sbs_menu_bars:before,
.displaymode-mobile body.mediacentre #page .region-menu.expanded-menu .sbs_menu .sbs_menu_bars:before {
  content: "MEDIA CENTRE"; }

/* line 588, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
.displaymode-tablet body.mysbs #page .header .sbs_gnav_logo,
.displaymode-mobile body.mysbs #page .header .sbs_gnav_logo {
  background-image: url(/global/profiles/sbsdistribution/themes/global/images/logo/colours/red-1_mobile.png); }
  @media (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2 / 1), (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
    /* line 588, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
    .displaymode-tablet body.mysbs #page .header .sbs_gnav_logo,
    .displaymode-mobile body.mysbs #page .header .sbs_gnav_logo {
      background-image: url(/global/profiles/sbsdistribution/themes/global/images/logo/colours/red-1_mobile_2x.png); } }

/* line 608, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
.displaymode-tablet body.mysbs #page .region-menu.expanded-menu .sbs_menu .sbs_menu_bars:before,
.displaymode-mobile body.mysbs #page .region-menu.expanded-menu .sbs_menu .sbs_menu_bars:before {
  content: ""; }

/* line 588, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
.displaymode-tablet body.news #page .header .sbs_gnav_logo,
.displaymode-mobile body.news #page .header .sbs_gnav_logo {
  background-image: url(/global/profiles/sbsdistribution/themes/global/images/logo/colours/blue-1_mobile.png); }
  @media (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2 / 1), (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
    /* line 588, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
    .displaymode-tablet body.news #page .header .sbs_gnav_logo,
    .displaymode-mobile body.news #page .header .sbs_gnav_logo {
      background-image: url(/global/profiles/sbsdistribution/themes/global/images/logo/colours/blue-1_mobile_2x.png); } }

/* line 608, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
.displaymode-tablet body.news #page .region-menu.expanded-menu .sbs_menu .sbs_menu_bars:before,
.displaymode-mobile body.news #page .region-menu.expanded-menu .sbs_menu .sbs_menu_bars:before {
  content: "IN NEWS"; }

/* line 588, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
.displaymode-tablet body.ouat #page .header .sbs_gnav_logo,
.displaymode-mobile body.ouat #page .header .sbs_gnav_logo {
  background-image: url(/global/profiles/sbsdistribution/themes/global/images/logo/colours/yellow-1_mobile.png); }
  @media (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2 / 1), (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
    /* line 588, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
    .displaymode-tablet body.ouat #page .header .sbs_gnav_logo,
    .displaymode-mobile body.ouat #page .header .sbs_gnav_logo {
      background-image: url(/global/profiles/sbsdistribution/themes/global/images/logo/colours/yellow-1_mobile_2x.png); } }

/* line 608, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
.displaymode-tablet body.ouat #page .region-menu.expanded-menu .sbs_menu .sbs_menu_bars:before,
.displaymode-mobile body.ouat #page .region-menu.expanded-menu .sbs_menu .sbs_menu_bars:before {
  content: "IN PROGRAMS"; }

/* line 588, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
.displaymode-tablet body.popasia #page .header .sbs_gnav_logo,
.displaymode-mobile body.popasia #page .header .sbs_gnav_logo {
  background-image: url(/global/profiles/sbsdistribution/themes/global/images/logo/colours/yellow-1_mobile.png); }
  @media (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2 / 1), (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
    /* line 588, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
    .displaymode-tablet body.popasia #page .header .sbs_gnav_logo,
    .displaymode-mobile body.popasia #page .header .sbs_gnav_logo {
      background-image: url(/global/profiles/sbsdistribution/themes/global/images/logo/colours/yellow-1_mobile_2x.png); } }

/* line 608, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
.displaymode-tablet body.popasia #page .region-menu.expanded-menu .sbs_menu .sbs_menu_bars:before,
.displaymode-mobile body.popasia #page .region-menu.expanded-menu .sbs_menu .sbs_menu_bars:before {
  content: "IN SBS POPASIA"; }

/* line 588, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
.displaymode-tablet body.programs #page .header .sbs_gnav_logo,
.displaymode-mobile body.programs #page .header .sbs_gnav_logo {
  background-image: url(/global/profiles/sbsdistribution/themes/global/images/logo/colours/yellow-1_mobile.png); }
  @media (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2 / 1), (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
    /* line 588, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
    .displaymode-tablet body.programs #page .header .sbs_gnav_logo,
    .displaymode-mobile body.programs #page .header .sbs_gnav_logo {
      background-image: url(/global/profiles/sbsdistribution/themes/global/images/logo/colours/yellow-1_mobile_2x.png); } }

/* line 608, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
.displaymode-tablet body.programs #page .region-menu.expanded-menu .sbs_menu .sbs_menu_bars:before,
.displaymode-mobile body.programs #page .region-menu.expanded-menu .sbs_menu .sbs_menu_bars:before {
  content: ""; }

/* line 588, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
.displaymode-tablet body.programs_foodluke #page .header .sbs_gnav_logo,
.displaymode-mobile body.programs_foodluke #page .header .sbs_gnav_logo {
  background-image: url(/global/profiles/sbsdistribution/themes/global/images/logo/colours/green-1_mobile.png); }
  @media (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2 / 1), (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
    /* line 588, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
    .displaymode-tablet body.programs_foodluke #page .header .sbs_gnav_logo,
    .displaymode-mobile body.programs_foodluke #page .header .sbs_gnav_logo {
      background-image: url(/global/profiles/sbsdistribution/themes/global/images/logo/colours/green-1_mobile_2x.png); } }

/* line 608, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
.displaymode-tablet body.programs_foodluke #page .region-menu.expanded-menu .sbs_menu .sbs_menu_bars:before,
.displaymode-mobile body.programs_foodluke #page .region-menu.expanded-menu .sbs_menu .sbs_menu_bars:before {
  content: "IN FOOD"; }

/* line 588, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
.displaymode-tablet body.programs_joinin #page .header .sbs_gnav_logo,
.displaymode-mobile body.programs_joinin #page .header .sbs_gnav_logo {
  background-image: url(/global/profiles/sbsdistribution/themes/global/images/logo/colours/yellow-1_mobile.png); }
  @media (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2 / 1), (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
    /* line 588, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
    .displaymode-tablet body.programs_joinin #page .header .sbs_gnav_logo,
    .displaymode-mobile body.programs_joinin #page .header .sbs_gnav_logo {
      background-image: url(/global/profiles/sbsdistribution/themes/global/images/logo/colours/yellow-1_mobile_2x.png); } }

/* line 608, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
.displaymode-tablet body.programs_joinin #page .region-menu.expanded-menu .sbs_menu .sbs_menu_bars:before,
.displaymode-mobile body.programs_joinin #page .region-menu.expanded-menu .sbs_menu .sbs_menu_bars:before {
  content: "IN PROGRAMS"; }

/* line 588, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
.displaymode-tablet body.programs_lifeonus #page .header .sbs_gnav_logo,
.displaymode-mobile body.programs_lifeonus #page .header .sbs_gnav_logo {
  background-image: url(/global/profiles/sbsdistribution/themes/global/images/logo/colours/yellow-1_mobile.png); }
  @media (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2 / 1), (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
    /* line 588, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
    .displaymode-tablet body.programs_lifeonus #page .header .sbs_gnav_logo,
    .displaymode-mobile body.programs_lifeonus #page .header .sbs_gnav_logo {
      background-image: url(/global/profiles/sbsdistribution/themes/global/images/logo/colours/yellow-1_mobile_2x.png); } }

/* line 608, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
.displaymode-tablet body.programs_lifeonus #page .region-menu.expanded-menu .sbs_menu .sbs_menu_bars:before,
.displaymode-mobile body.programs_lifeonus #page .region-menu.expanded-menu .sbs_menu .sbs_menu_bars:before {
  content: "IN PROGRAMS"; }

/* line 588, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
.displaymode-tablet body.programs_talesunexpected #page .header .sbs_gnav_logo,
.displaymode-mobile body.programs_talesunexpected #page .header .sbs_gnav_logo {
  background-image: url(/global/profiles/sbsdistribution/themes/global/images/logo/colours/yellow-1_mobile.png); }
  @media (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2 / 1), (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
    /* line 588, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
    .displaymode-tablet body.programs_talesunexpected #page .header .sbs_gnav_logo,
    .displaymode-mobile body.programs_talesunexpected #page .header .sbs_gnav_logo {
      background-image: url(/global/profiles/sbsdistribution/themes/global/images/logo/colours/yellow-1_mobile_2x.png); } }

/* line 608, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
.displaymode-tablet body.programs_talesunexpected #page .region-menu.expanded-menu .sbs_menu .sbs_menu_bars:before,
.displaymode-mobile body.programs_talesunexpected #page .region-menu.expanded-menu .sbs_menu .sbs_menu_bars:before {
  content: "IN PROGRAMS"; }

/* line 588, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
.displaymode-tablet body.programs_thisisbrazil #page .header .sbs_gnav_logo,
.displaymode-mobile body.programs_thisisbrazil #page .header .sbs_gnav_logo {
  background-image: url(/global/profiles/sbsdistribution/themes/global/images/logo/colours/yellow-1_mobile.png); }
  @media (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2 / 1), (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
    /* line 588, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
    .displaymode-tablet body.programs_thisisbrazil #page .header .sbs_gnav_logo,
    .displaymode-mobile body.programs_thisisbrazil #page .header .sbs_gnav_logo {
      background-image: url(/global/profiles/sbsdistribution/themes/global/images/logo/colours/yellow-1_mobile_2x.png); } }

/* line 608, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
.displaymode-tablet body.programs_thisisbrazil #page .region-menu.expanded-menu .sbs_menu .sbs_menu_bars:before,
.displaymode-mobile body.programs_thisisbrazil #page .region-menu.expanded-menu .sbs_menu .sbs_menu_bars:before {
  content: "IN PROGRAMS"; }

/* line 588, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
.displaymode-tablet body.programs_thefullbrazilian #page .header .sbs_gnav_logo,
.displaymode-mobile body.programs_thefullbrazilian #page .header .sbs_gnav_logo {
  background-image: url(/global/profiles/sbsdistribution/themes/global/images/logo/colours/yellow-1_mobile.png); }
  @media (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2 / 1), (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
    /* line 588, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
    .displaymode-tablet body.programs_thefullbrazilian #page .header .sbs_gnav_logo,
    .displaymode-mobile body.programs_thefullbrazilian #page .header .sbs_gnav_logo {
      background-image: url(/global/profiles/sbsdistribution/themes/global/images/logo/colours/yellow-1_mobile_2x.png); } }

/* line 608, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
.displaymode-tablet body.programs_thefullbrazilian #page .region-menu.expanded-menu .sbs_menu .sbs_menu_bars:before,
.displaymode-mobile body.programs_thefullbrazilian #page .region-menu.expanded-menu .sbs_menu .sbs_menu_bars:before {
  content: "IN PROGRAMS"; }

/* line 588, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
.displaymode-tablet body.radio #page .header .sbs_gnav_logo,
.displaymode-mobile body.radio #page .header .sbs_gnav_logo {
  background-image: url(/global/profiles/sbsdistribution/themes/global/images/logo/colours/yellow-1_mobile.png); }
  @media (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2 / 1), (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
    /* line 588, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
    .displaymode-tablet body.radio #page .header .sbs_gnav_logo,
    .displaymode-mobile body.radio #page .header .sbs_gnav_logo {
      background-image: url(/global/profiles/sbsdistribution/themes/global/images/logo/colours/yellow-1_mobile_2x.png); } }

/* line 608, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
.displaymode-tablet body.radio #page .region-menu.expanded-menu .sbs_menu .sbs_menu_bars:before,
.displaymode-mobile body.radio #page .region-menu.expanded-menu .sbs_menu .sbs_menu_bars:before {
  content: "IN RADIO"; }

/* line 588, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
.displaymode-tablet body.sbsinternational #page .header .sbs_gnav_logo,
.displaymode-mobile body.sbsinternational #page .header .sbs_gnav_logo {
  background-image: url(/global/profiles/sbsdistribution/themes/global/images/logo/colours/yellow-1_mobile.png); }
  @media (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2 / 1), (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
    /* line 588, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
    .displaymode-tablet body.sbsinternational #page .header .sbs_gnav_logo,
    .displaymode-mobile body.sbsinternational #page .header .sbs_gnav_logo {
      background-image: url(/global/profiles/sbsdistribution/themes/global/images/logo/colours/yellow-1_mobile_2x.png); } }

/* line 608, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
.displaymode-tablet body.sbsinternational #page .region-menu.expanded-menu .sbs_menu .sbs_menu_bars:before,
.displaymode-mobile body.sbsinternational #page .region-menu.expanded-menu .sbs_menu .sbs_menu_bars:before {
  content: "SBS INTERNATIONAL"; }

/* line 588, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
.displaymode-tablet body.thefeed #page .header .sbs_gnav_logo,
.displaymode-mobile body.thefeed #page .header .sbs_gnav_logo {
  background-image: url(/global/profiles/sbsdistribution/themes/global/images/logo/colours/blue-1_mobile.png); }
  @media (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2 / 1), (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
    /* line 588, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
    .displaymode-tablet body.thefeed #page .header .sbs_gnav_logo,
    .displaymode-mobile body.thefeed #page .header .sbs_gnav_logo {
      background-image: url(/global/profiles/sbsdistribution/themes/global/images/logo/colours/blue-1_mobile_2x.png); } }

/* line 608, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
.displaymode-tablet body.thefeed #page .region-menu.expanded-menu .sbs_menu .sbs_menu_bars:before,
.displaymode-mobile body.thefeed #page .region-menu.expanded-menu .sbs_menu .sbs_menu_bars:before {
  content: ""; }

/* line 588, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
.displaymode-tablet body.theobservereffect #page .header .sbs_gnav_logo,
.displaymode-mobile body.theobservereffect #page .header .sbs_gnav_logo {
  background-image: url(/global/profiles/sbsdistribution/themes/global/images/logo/colours/blue-1_mobile.png); }
  @media (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2 / 1), (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
    /* line 588, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
    .displaymode-tablet body.theobservereffect #page .header .sbs_gnav_logo,
    .displaymode-mobile body.theobservereffect #page .header .sbs_gnav_logo {
      background-image: url(/global/profiles/sbsdistribution/themes/global/images/logo/colours/blue-1_mobile_2x.png); } }

/* line 608, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
.displaymode-tablet body.theobservereffect #page .region-menu.expanded-menu .sbs_menu .sbs_menu_bars:before,
.displaymode-mobile body.theobservereffect #page .region-menu.expanded-menu .sbs_menu .sbs_menu_bars:before {
  content: ""; }

/* line 588, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
.displaymode-tablet body.theworldgame #page .header .sbs_gnav_logo,
.displaymode-mobile body.theworldgame #page .header .sbs_gnav_logo {
  background-image: url(/global/profiles/sbsdistribution/themes/global/images/logo/colours/orange-1_mobile.png); }
  @media (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2 / 1), (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
    /* line 588, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
    .displaymode-tablet body.theworldgame #page .header .sbs_gnav_logo,
    .displaymode-mobile body.theworldgame #page .header .sbs_gnav_logo {
      background-image: url(/global/profiles/sbsdistribution/themes/global/images/logo/colours/orange-1_mobile_2x.png); } }

/* line 608, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
.displaymode-tablet body.theworldgame #page .region-menu.expanded-menu .sbs_menu .sbs_menu_bars:before,
.displaymode-mobile body.theworldgame #page .region-menu.expanded-menu .sbs_menu .sbs_menu_bars:before {
  content: "IN FOOTBALL"; }

/* line 588, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
.displaymode-tablet body.yourlanguage #page .header .sbs_gnav_logo,
.displaymode-mobile body.yourlanguage #page .header .sbs_gnav_logo {
  background-image: url(/global/profiles/sbsdistribution/themes/global/images/logo/colours/yellow-1_mobile.png); }
  @media (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2 / 1), (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
    /* line 588, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
    .displaymode-tablet body.yourlanguage #page .header .sbs_gnav_logo,
    .displaymode-mobile body.yourlanguage #page .header .sbs_gnav_logo {
      background-image: url(/global/profiles/sbsdistribution/themes/global/images/logo/colours/yellow-1_mobile_2x.png); } }

/* line 608, /bamboo/bamboohome/xml-data/build-dir/131073/DRUP-BR-GRUN/drupalcms/profiles/sbsdistribution/themes/global/scss/global/global_nav/_mixins_vars.scss */
.displaymode-tablet body.yourlanguage #page .region-menu.expanded-menu .sbs_menu .sbs_menu_bars:before,
.displaymode-mobile body.yourlanguage #page .region-menu.expanded-menu .sbs_menu .sbs_menu_bars:before {
  content: "IN YOUR LANGUAGE"; }
