﻿@charset "utf-8";
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, big, em, font, img, strong, tt, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td {
	padding: 0;
	margin: 0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset, img {
	border:0;
}
button, input, select, textarea {
	font-size:12px;
}
ol, ul, li {
	list-style:none
}
h1, h2, h3, h4, h5, h6 {
	font-size:100%;
}
body {
	margin:0 auto;
	font-size:12px;
	background:#fff;
	font-family:"Microsoft Yahei", "Simsun", Arial;
}
a {
	text-decoration: none;
}
body, html {
	width: 100%;
}
.red {
	color: #ff3333 !important;
}
.home .scene {
	width: 100%;
	min-width: 1240px;
	overflow: hidden;
}
.home .main {
	width: 1240px;
	margin: 0 auto;
}
.inside .scene {
	width: 100%;
	min-width: 1200px;
}
.inside .main {
	width: 1200px;
	/*border: 1px solid #f3f3f3;*/
	margin: 0 auto;
}
.home #header {
	height: 10%;
	background: url("../Images/bg_top_1.jpg") no-repeat center bottom #000000;
	min-width: 1240px;
	/*-webkit-background-size: 100%;
	background-size: 100%;*/
	;
	    min-height: 70px;
}
.nav {
	position: absolute;
	z-index:55;
	top: 1%;
	left: 14%;
	width: 886px;
	height: 80px;
	padding-top: 28px;
	padding-left:80px;
	background: url(../Images/bg_button.png) no-repeat;
}
.inside .nav {
	position: relative;
	top: auto;
	left: auto;
	margin: 30px auto 0;
	width: 1150px;
}
.nav li {
	float: left;
}
/*.inside .nav li {
    float: left;
    padding-top: 70px;
}*/
.nav li a {
	/*    display: block;
    width: 95px;
    height: 38px;*/
    font-size: 16px;
	line-height: 40px;
	padding-right: 40px;
	text-align: center;
	color:#fdfbfb;
}
.nav li a:hover {
	color: #ff3333;
}
.home #focus {
	height: 90%;
	/*background: url("../Images/bg_first_1.jpg") no-repeat center top #000000;*/
	/*-webkit-background-size: 100%;
	background-size: 100%;*/
	margin:0 auto;
}
#focus .focus {
	width: 437px;
	padding-top: 1%;
	margin: 0 auto;
	position:relative;
	height:175px;
}
#focus .focus img {
	display: block;
	margin:0 auto;
	height:150px;
}
/*#focus .focus h1 {
	width:100%;
	left:0;
	bottom:40px;
	text-align:center;
	font-weight:bolder;
	font-size:16px;
	
}*/
#focus .video {
	margin: 0 auto;
	width: 35%;
	height: 44%;
	 position:relative;
	z-index:55;
}
#focus .video img {
	width: 100%;
}
#focus .video .youtubeVideo {
	width: 100%;
	height: 100%;
}
#focus .button-box{
	width:715px;
	text-align: center;
	margin:0 auto;
}
#focus .button:first-child{margin-right:20px;}
#focus .button {
	position: relative;
	margin: 0 auto;
	/*    padding-top: 2%;*/
    padding-bottom: 2%;
    display:inline-block;
}
#focus .Download {
	position: relative;
	display: block;
	width: 264px;
	height: 100px;
	margin: 0 auto;
}
#focus .Download img {
	height: 100%;
	display:block;margin:0 auto;
}
#focus .Download .hover {
	position: absolute;
	opacity: 0;
	top: 0;
	left: 0;
	z-index: 10;
	-webkit-transition: opacity ease 300ms;
	-moz-transition: opacity ease 300ms;
	-ms-transition: opacity ease 300ms;
	-o-transition: opacity ease 300ms;
	transition: opacity ease 300ms;
 filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
#focus .Download:hover .hover {
	opacity: 1;
 filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
}

.list-href{white-space:nowrap; padding-top: 10px;  position: absolute;text-align: center;width: 380px;left: 50%;margin-left:-190px; font-weight:bold; font-size:14px;}
.list-href a{color:#333;font-size:14px;padding: 0 7px; text-decoration:underline;}
.list-href a:hover{color:#FF3333;}

.home #info {
	background: url("../Images/bg_second.jpg") no-repeat center top #ffffff;
	-webkit-background-size: 100%;
	background-size: 100%;
	;
}
#info .des {
	color: #ffffff;
	padding-top: 50px;
	width: 1240px;
	overflow: hidden;
	margin: 0 auto;
}
#info .des dl {
	float: left;
	/*padding: 0 32px;*/
    width: 25%;
}
#info .des dl dd {
	width: 210px;
	padding: 18px;
}
#info .des .icon {
	display: block;
	background: url("../Images/icon.png") no-repeat;
	height: 220px;
	width: 246px;
}
#info .des1 .icon {
	background-position: 0 0;
    width: 258px;
}
#info .des2 .icon {
	background-position: 0 -225px;
}
#info .des3 .icon {
	background-position: 0 -450px;
}
#info .des4 .icon {
	background-position: 0 -680px;
}
.home #app {
	height: 100%;
	min-height: 800px;
}
.appList {
	width: 1240px;
	margin: 0 auto;
	padding-top: 3%;
}
.appList h2 {
	font-size: 26px;
	font-weight: normal;
}
.appList .app {
	width: 1240px;
	padding-top: 35px;
	overflow: hidden;
}
.appList .app li {
	width: 110px;
	height: 166px;
	float: left;
	padding: 0 22px;
}
.appList .app li a {
	font-size: 12px;
	color: #000;
	transition: color ease 200ms;
	-webkit-transition: color ease 200ms;
	text-align: center;
}
.appList .app li a:hover {
	color: #ff3333;
}
.appList .app .imgBox {
	width: 110px;
	height: 110px;
	border-radius: 20%;
	margin: 0 auto;
	overflow: hidden;
	display: block;
	 background:#eee;
}
.appList .app .imgBox img {
	width: 100%;
	height: 100%;
	border:none;
}
.appList .app .imgBox img[src='']{
    visibility: hidden;
}
.appList .app p {
	padding: 12px 0;
}
#news {
	position: relative;
}
#news .top {
	width: 100%;
	height: 110px;
	background: url("../Images/bg_bottom_t.png") no-repeat center top;
	position: absolute;
    top: -110px
}
#news .bottom {
	width: 100%;
	height: 100px;
	background: url("../Images/bg_bottom_b.jpg") no-repeat center top;
}
#news {
	background: #000;
}
#news .newsList {
	width: 1240px;
	overflow: hidden;
	position: relative;
	margin: 0 auto;
}
#news .newsList .news {
	float: left;
	padding-left: 25px;
	width: 580px;
}
#news .newsList .news .list {
	padding-top: 25px;
	padding-left: 0;
	padding-bottom: 25px;
}
#news .newsList .news .list a {
	color: #CCCCCC;
	display: block;
	transition: color ease 200ms;
	-webkit-transition: color ease 200ms;
}
#news .newsList .news .list a:hover {
	color: #ff3333;
	text-decoration: underline;
}
#news .newsList .news .list a h4 {
	font-weight: normal;
	font-size: 14px;
}
#news .newsList .news .list {
	color: #FFF;
}
#news .newsList .news .list li {
	line-height: 28px;
	background:url(../Images/list_style.gif) no-repeat  scroll 0 12px;
	padding-left:15px;
}
#news .newsList h2 {
	font-size: 26px;
	color: #ff3333;
	font-weight: normal;
}
#news .newsList .more {
	display: block;
	position: absolute;
	top: 10px;
	right: 30px;
	width: 92px;
	height: 22px;
	background: url("../Images/bg_more.png") no-repeat center;
}
#footer {
	color:#CCCCCC;
	padding-top: 20px;
	padding-bottom: 30px;
	background:#000;
	overflow: hidden;
}
/*内页样式*/
#content {
	padding-top: 330px;
	background: url("../Images/inside_hd.jpg") no-repeat center top;
	position: relative;
}
.crumbs {
}
.crumbs a {
	padding: 0 10px;
	color: #333333;
	font-size: 14px;
}
.crumbs .on {
	color: #ff3333;
}
.crumbs a:hover {
	color: #ff3333;
	text-decoration: underline;
}
#content .hd {
	position: relative;
	padding: 25px 30px;
	background: #ffffff;
}
#content .img {
	background: url("../Images/inside_img.png") no-repeat;
	width: 689px;
	height: 361px;
	position: absolute;
	right: 0;
	top: -288px;
}
#content .bd {
	padding: 0 30px;
	background: #ffffff;
}
#content .categoryBox {
	padding: 45px 0;
	border-top: 1px solid #eaeaea;
}
.categoryBox .categoryList {
	color: #CCCCCC;
	padding-left: 18px;
}
.categoryBox .categoryList li {
	list-style: square;
	line-height: 28px;
	padding: 18px 0;
	border-bottom: 1px dashed #ebebeb;
}
.categoryBox .categoryList a {
	color: #333333;
	display: block;
	transition: color ease 200ms;
	-webkit-transition: color ease 200ms;
}
.categoryBox .categoryList a:hover {
	color: #ff3333;
	text-decoration: underline;
}
.categoryBox .categoryList a h4 {
	font-weight: normal;
	font-size: 16px;
}
.categoryBox .categoryList .time {
	float: right;
}
.categoryNav {
	text-align: center;
	padding-top: 45px;
	font-size: 15px;
}
.categoryNav a {
	color: #666666;
	font-weight: bold;
	padding: 0 5px;
	transition: background ease 200ms;
}
.categoryNav .navList a:hover {
	background: #ff3333;
	color: #ffffff;
}
.categoryNav .navList a.on {
	background: #ff3333;
	color: #ffffff;
}
.inside #footer {
	/*width: 1200px;
	margin: 0 auto;
	background: url("../Images/inside_ft.jpg") no-repeat center top;*/
}
.inside .floatBox {
	position: absolute;
	right: 50px;
	bottom: -50px;
	z-index: 9;
}
.inside .floatBox .download {
	width: 206px;
	height: 230px;
	background: url("../Images/download.png") no-repeat;
}
.inside .floatBox .download .downloadBtn {
	position: absolute;
	display: block;
	width: 90px;
	height: 35px;
	top: 138px;
	left: 55px;
}
.articleBox {
	padding: 25px 0;
	border-top: 1px solid #eaeaea;
}
.articleBox .title {
	border-bottom: 1px solid #eaeaea;
}
.articleBox .title h2 {
	font-size: 36px;
	color: #171717;
}
.articleBox .title .info {
	color: #999999;
	font-size: 12px;
	padding-top: 30px;
	padding-bottom: 25px;
}
.articleBox .content {
	font-size: 14px;
	line-height: 24px;
	padding-top: 35px;
}
.inside #header {
	position: absolute;
	z-index: 10;
	top: 0;
}
/*.inside .nav {
    width: 657px;
    height: 50px;
    padding-top: 30px;
    padding-left: 50px;
    background: url(../Images/bg_button.gif) no-repeat;
}*/
.home .floatBox {
	position: absolute;
	right: 30px;
	bottom: 100px;
}
.home .floatBox .download {
	width: 206px;
	height: 230px;
	background: url("../Images/download.png") no-repeat;
}
.home .floatBox .download .downloadBtn {
	position: absolute;
	display: block;
	width: 90px;
	height: 35px;
	top: 138px;
	left: 55px;
}

/*update 2016.1.8 by xiaobiqin*/
.hide{ display:none;}
.tab h2 a{ color:#73716e;}
.tab h2 a.onthis{ color:#ff3333;}
.tab h2 em{ font-style:normal; color:#73716e; font-weight:normal; margin:0 10px;}

#news .newsList .moreOne{ right:640px;}
.focus .f_title{ position:absolute; width:100%; text-align:center;left:0;bottom: 15px;    text-indent: 12px;}
#focus .focus h1 {font-weight:bolder;font-size:16px;}
.focus a.help{ background:url(../Images/help_icon.png) no-repeat scroll 0 0; width:23px; height:23px; position:absolute; right:15px; bottom:0px; line-height:999px; overflow:hidden;}
.f_content{ color:#cccccc; font-size:14px; margin:25px 0 0 0; line-height:28px;}
#footer .main p a{ color:#ccc;}
#news .newsList .news .list a h4{ width:523px; height:28px; line-height:28px; overflow:hidden;text-overflow: ellipsis;white-space: nowrap; display:block;}
.floatMain{ width:720px; border:1px solid #000; position:absolute; left:0px; top:0px; background:#fff;}
.floatMain .floatTitle{ height:52px; background:#000; padding:0 17px; line-height:52px;}
.floatMain .floatTitle h2{ float:left; color:#fff; font-size:20px;}
.floatMain .floatTitle .fClose{ background:url(../Images/help_icon.png) no-repeat scroll 0 -29px; width:14px; height:13px; overflow:hidden; line-height:999px; float:right; margin-top:18px;}
.floatContent{padding:20px 28px;max-height: 510px;overflow-y: auto;}
.floatContent ul li{ margin-bottom:20px;}
.floatContent ul li h3{ font-size:18px; color:#615c5e;}
.floatContent ul li p{ font-size:18px; color:#6c6c6c; margin-top:10px;}
.floatClose{ height:52px; color:#f3f3f3; border-top:1px solid #eae9e9; line-height:52px;}
.floatClose a{ float:right; color:#5c5c5c; font-size:20px; margin-right:22px; font-weight:bold;}
.floatClose a:hover{ text-decoration:underline}

.addthis_vertical_follow_toolbox { position: fixed; right: 0;top:50%;margin-top:-200px; background: rgba(255, 255, 255, 0.69); padding: 10px;    padding-right: 0;}
.addthis_vertical_follow_toolbox:empty{display: none;}
.addthis_vertical_follow_toolbox a{color:#333;}
.addthis_vertical_follow_toolbox .addthis-animated p{font-size:16px;line-height: 1.5;padding-bottom:10px;}

/*update 2016.2.26 by xiaobiqin*/
.clearfix:before, .clearfix:after { content:""; display:table; }
.clearfix:after { clear:both; }
.articleBox .linksTitle h2{ font-size:20px; padding-bottom:43px; padding-top:10px;}
.link_list li{ float:left; background:url(../Images/link_icon.gif) no-repeat left center; height:52px; line-height:52px; width:265px; padding-left:10px; margin-right:10px;}
.link_list li a{ border-bottom:1px dashed #f2f2f2; width:265px; overflow: hidden;text-overflow: ellipsis;white-space: nowrap;height:52px; color:#1e1e1e; font-size:14px; line-height:52px; float:left;}
.link_list li a:hover{ color:#ff3333}

.link_img{ margin-top:35px;}
.link_img li{  float:left; margin-right:48px; text-align:center; line-height:94px; width:180px; height:94px; margin-bottom:20px;}
.link_img li a{border:1px solid #f5f5f5; width:160px; height:80px; padding:7px 10px; display:inline-block;}
.link_img li a:hover{ border-color:#dfdada}

#footer p a{ color:#000;}
#footer p a:hover{ text-decoration:underline;}


/*update 2016.3.31 by zhanglie*/
.updateTime{ white-space: nowrap; text-align: center; width: 285px;font-size: 14px; color: #000000; padding-top: 10px;}
.updateTime .ver { font-size:14px;padding: 0 7px;display:block;text-align:center;}
.updateTime .ver a{margin: 0 10px; text-decoration:underline;color:#FF3333;}
.updateTime span{padding:0 5px;	}
.list-href-box{width:715px;height:43px;line-height: 43px;background:#bcbcbc;margin:0 auto;color:#fff;margin-bottom:1%;position:relative;}
.list-href-box .btnChest { position:absolute;}
/*.list-href-box .btnChest:before { content:"";background:url(../Images/index_btnChest.png) no-repeat 0 -108px;height:71px;width:162px;position:absolute;top:-60px;left:-10px;pointer-events:none;display:none;}
.list-href-box .btnChest:hover:before {display:block; }*/
.list-href{padding-top:0;}
.list-href a{color:#fff;}
#footer .copyRight{float:left;}
#footer .addLink{float:right;}
#footer .addLink a{margin:0 5px;}

#content.video{background:url(../Images/Video-body-bg.jpg) no-repeat center top;padding-top: 280px;}


.content-wrap{width:1228px;height:890px;margin:0 auto;background:url(../Images/video-bg.png) no-repeat center top;padding-left:30px;position: relative;  z-index: 2;}
.content-video{overflow:hidden;padding-top:54px;margin-bottom: 10px;}
.video-box{width:897px;height:537px;margin-right:10px;float:left;background:#191919;color:#ddd;}
.video-box iframe{display:block;width: 100%;height: 100%;}

.video-info{width:305px;float:left;}
.video-info .uploader{overflow:hidden;padding:18px 0;border-bottom:1px solid #3A3A3B;}
.video-info .uploader .pic-head{border-radius:64px;width:64px;height:64px;overflow:hidden;float:left;margin-right:12px;}
.video-info .uploader .pic-head img{width:100%;display: block;}
.video-info .uploader .info{float:left;width:225px;cursor: default; position: relative; height: 64px;}
.video-info .uploader .info h3{font-size: 16px; color: #FFFEFE; line-height: 1.5; text-overflow: ellipsis; overflow: hidden; position: absolute; top: 0; bottom: 0; margin: auto; max-height: 48px;}
.video-info .uploader .info p{font-size:12px;color:#959595; height: 32px;overflow: hidden;}

.video-info .intro{overflow:hidden;padding:18px 0;border-bottom:1px solid #3A3A3B;}
.video-info .intro .p{height:200px;font-weight: bold;font-size:14px;overflow: hidden;}
.video-info .intro .p h3{color:#FF3333;margin-bottom:10px;}
.video-info .intro .p p{line-height: 1.5;color:#FFFEFE;max-height: 150px;overflow: hidden;}
.video-info .intro .for{display: block;width: 280px;height: 42px;box-shadow: 0 1px 0 0 #4C4C4C inset;border-radius: 4px;line-height: 42px;color:#E2E2E2;font-size:14px;text-align:center;background:#363636;margin:0 auto;}
.video-info .intro .for:before{content:"";display: inline-block;width:20px;height:20px;background:url(../Images/icon-zan.png) no-repeat left top;margin-right:5px;vertical-align: sub;}
.video-info .intro .for.ed{background:#FF3333;box-shadow: none;color:#fff;}
.video-info .intro .for.ed:before{background-position:left bottom;}

.video-info .game{}
.video-info .game .info{overflow:hidden;padding:23px 0 20px 23px;} 
.video-info .game .info .pic{overflow:hidden;border-radius:14px;width: 64px;height: 64px;float:left;margin-right:20px;}
.video-info .game .info .pic img{width:100%;display:block;}
.video-info .game .info .text{float:left;width: 195px;}
.video-info .game .info .text h3{color:#FFFEFE;font-size:16px;font-weight: normal;line-height: 1.5;white-space: nowrap;text-overflow:ellipsis;overflow: hidden;}
.video-info .game .info .star{padding-top:8px;}
.video-info .game .info  .star i{display:inline-block;width:13px;height: 13px;background:url(../Images/icon-star.png) no-repeat left bottom;margin-right:2px;}
.video-info .game .info .label{color:#959595;font-size:12px;}
.video-info .game .info .label a{color:#959595;font-size:12px;padding: 0 2px;;}
.video-info .game .button{text-align: center;}
.video-info .game .button a:first-child{margin-right:5px;}
.video-info .game .button a{display: inline-block;background:#FF3333;width: 135px;height: 38px;line-height: 38px;text-align: center;color: #fff;font-size:18px;border-radius:4px;}
.video-info .game .button a:hover{background:#FF4444;}

.video-list{width:100%;}
.video-list ul{margin-right: -13px;}
.video-list li{float:left;margin-right: 13px;}
.video-list a{display: block;position: relative;width:230px;height:125px;overflow:hidden;}
.video-list a:hover .icon{opacity: 1;}
.video-list img{display: block;width: 100%;}
.video-list p{position: absolute;padding:0 10px;right:0;bottom:0;left:0;background: rgba(0,0,0,.78);color:#FFFFFF;font-size:12px;text-align: center;height: 27px;line-height: 27px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;;}
.video-list .icon{opacity: 0;width: 100%;height:100%;position: absolute;left:0;top:0;background:url(../Images/icon-video.png) no-repeat center center;-webkit-transition:all ease .4s;transition:all ease .4s;}


.newsList .line{border-bottom:1px solid #1C1C1C;overflow:hidden;}
.newsList .list-box{padding-left:25px;padding-top:20px;padding-bottom:20px;overflow:hidden;}
.newsList .list-item{float:left;width:25%; }
.newsList .list-item .title{font-size:18px;color:#ff3333;margin-bottom:15px;}
.newsList .list-item ul{}
.newsList .list-item .list-li{height:25px;line-height: 25px;padding-left:15px;position: relative;}
.newsList .list-item .list-li:before{content:"";position: absolute;width: 6px;height: 2px;background:#FFFFFF;top:50%;left:0;margin-top:-1px;}
.newsList .list-item .list-li a{font-size:14px;color:#9F9F9F;}

.newsList .list-item.follow .list-li{padding-left:32px;margin-bottom:10px;} 
.newsList .list-item.follow .list-li:before{width:25px;height:25px;margin:0;top:0;display: none;}
.newsList .list-item.follow .list-li img{position: absolute;left:0;top:0;bottom:0;margin:auto;}
.newsList .list-item.follow .list-li.face:before{background:url(../Images/icon-facebook.png) no-repeat center center;}
.newsList .list-item.follow .list-li.twit:before{background:url(../Images/icon-twitter.png) no-repeat center center;}


.addthis_vertical_follow_toolbox{z-index: 999999;}




.insideMin { padding-top: 248px; background: url("../Images/inside_hdmin.png") no-repeat center top; position: relative; }
.note { padding-top: 292px; padding-top: 330px; background: url("../Images/inside_hdmin.png") no-repeat center top; position: relative; }
.note .list{ width:1200px;margin:0 auto;}
.note .list:after { height:130px;overflow:hidden;content:"";display:block;clear:both;}
.note .list li { clear:both;position:relative;}
.note .list li:after { height:0;overflow:hidden;content:"";display:block;clear:both;}
.note .list li:before {background:#d9d9d9;width:3px;height:100%;content:"";position:absolute;left:101px;top:15px;}
.note .list .date { float:left;width:82px;display:inline;font-family:Arial;text-align:center;margin-right:47px;}
.note .list .day { font-size:58px;font-weight:bold;}
.note .list .year-month { display:block;font-size:14px;}
.note .list dl { float:left;display:inline;}
.note .list dl:after { height:30px;overflow:hidden;content:"";display:block;clear:both;}
.note .list dt { font-size:16px;font-weight:bold;line-height:42px;height:42px;position:relative;}
.note .list dt:before { background:#d9d9d9; background :url(../Images/note_circular_ie8.png) no-repeat 0 0\9; content:"";width:13px;height:13px;border-radius:100%;position:absolute;left:-33px;top:15px;}
.note .list dd { font-size:14px;}
.note .list dd:before { content:"";float:left;display:inline;width:4px;height:4px;background:#1c1c1c;line-height:24px;margin:8px 6px 0 3px;}
.iNode #news {background:url(../Images/news_bg.png) no-repeat 0 0 #000;padding-top:85px;}

/*mac*/
.iMac .content { width:1200px;margin:0 auto;font-family:Arial;}
.iMac .banner{background:url(../Images/mac_banner.png) no-repeat center 0;padding:452px 0 35px 132px; font-size:18px;text-align:center;color:#868ca1;line-height:24px;clear:both;}

.iMac .feedback { width:1005px;margin:0 auto;background:#eeeeee;}
.iMac .feedback:after { height:0;overflow:hidden;display:block;content:"";clear:both;}
.iMac .feedback h3 { font-size:30px;color:#868ca1;font-weight:500;line-height:36px;padding:34px 0 30px;text-align:center;}
.iMac .feedback textarea, .iMac .feedback input[type=text] {border:1px solid #e3e3e3; resize:vertical;-webkit-box-shadow:0 0 5px #e3e3e3;-ms-box-shadow:0 0 5px #e3e3e3;-o-box-shadow:0 0 5px #e3e3e3;-moz-box-shadow:0 0 5px #e3e3e3;box-shadow:0 0 5px #e3e3e3;color:#a3a3a3;font-size:16px;font-family:Arial;border-radius:3px;padding:0 10px;float:left;display:inline;}
.iMac .feedback :-ms-input-placeholder,.iMac .feedback ::-webkit-input-placeholder { color:#a3a3a3;}
.iMac .feedback :-moz-placeholder{ color:#444;}
.iMac .feedback ::-moz-placeholder{ color:#444;}
.iMac .feedback input { height:37px;line-height:37px;margin-right:10px;width:200px;}
.iMac .feedback input.email { width:276px;}
.iMac .feedback textarea { display:block;float:none;clear:both;width:650px;margin:0 auto;padding-top:6px;padding-bottom:6px;line-height:22px;min-height:92px;}
.iMac .feedback .perInfo { width:672px;margin:10px auto 0;}
.iMac .feedback .perInfo:after{ height:0;overflow:hidden;display:block;content:"";clear:both;}
.iMac .feedback button[type=submit] { background: url('../Images/mac_feedback_submit.png') no-repeat 0 0;width:131px;height:38px; overflow:hidden;line-height:200px;float:left;border:none;outline:none;padding:0;}
.iMac .feedback .tip { clear:both;width:672px;margin:15px auto;color:#a3a3a3;font-size:14px;line-height:24px;}
/*substance*/
.iMac .substance { margin:20px auto 0;width:1005px;clear:both;max-height:685px;overflow-y:auto;color:#a3a3a3;font-size:16px;}
.iMac .substance dt { font-size:18px;color:#000000;}
.iMac .substance dt:before { background:url(../Images/mac_userface.png) no-repeat 0 0;float:left;display:inline;content:"";width:26px;height:26px;margin:0 14px 0 6px;}
.iMac .substance dl { clear:both;border-bottom:1px dashed #a8a8a8;line-height:28px;padding-top:18px;margin-right:20px;}
.iMac .substance dl:after { height:24px;clear:both;content:"";display:block;}
.iMac .substance dd { padding:10px 6px 0;}

.iMac .textTip {color:#4C62A3;font-size:14px;line-height:24px;padding-top:60px;}
/** 自定义滚动条 **/
/* 滚动条 */
.scroll::-webkit-scrollbar { width: 10px; }
/* 轨道样式 */
.scroll::-webkit-scrollbar-track { background-color: #eee; }
/* Handle样式 */
.scroll::-webkit-scrollbar-thumb { background-color: #adadad; }
/*hover到滚动条上*/
.scroll::-webkit-scrollbar-thumb:vertical:hover{ background-color: #939292; }
/*滚动条按下*/
.scroll::-webkit-scrollbar-thumb:vertical:active{ background-color: #828282; }

.iMac .title { color:#868ca1;font-size:18px;}



.iMac .share{height:110px; padding-top:40px;text-align:center;}
.iMac .share a { display:inline-block;width:52px;height:52px;background:url(../Images/mac_share.png) no-repeat 0 0;margin:0 10px;}
.iMac .share .btnShareFacebook { background-position:-52px 0 ;}
.iMac .share .btnShareTwitter { background-position:-104px 0 ;}

/*2016-7-5 by xiaobiqin add header-nav*/
.home .scene { position:relative}
.nav { top:9%}
.header-nav { height:41px; background:#171717}
#focus .focus {  padding-top:2%;}
.header-nav-main {  width:1000px; margin:0 auto; color:#a9a9a9; line-height:41px; text-align:right; font-size:14px;}
.header-nav-main p {  float:right; background:url(../Images/ico_header_nav.gif) no-repeat scroll 0 10px; padding-left:25px;}
.header-nav-main a {  color:#ff3333; padding:0 5px;}
.header-nav-main a:hover {  text-decoration:underline;}


/*2016-8-31 by xiaobiqin add flash*/
.right_swf{ position: fixed;width:222px;height:198px;right:0;top:70%;z-index:9999;}

/*2016-09-06 by linbh 添加精灵动画*/
.btnChest{background:url(../Images/pokemon.png) no-repeat 0 0;top:-70px;left:-60px; width:140px; height:140px;
    -webkit-animation: move 8s linear infinite;
    -moz-animation: move 8s linear infinite;
    -mos-animation: move 8s linear infinite;
    animation: move 8s linear infinite;	
	}
.btnChest:hover{
    animation-play-state: running;
    animation-duration: 100ms;
    animation-iteration-count: infinite;
    animation-name: shake-rotate;
    animation-timing-function: ease-in-out;}
@-webkit-keyframes move{
    0%{-webkit-transform: translate3d(0px,0px,0px);}
    50%{-webkit-transform: translate3d(-10px,-20px,0px);}
    100%{-webkit-transform: translate3d(0px,0px,0px);}
}
@-moz-keyframes move{
    0%{-moz-transform: translate3d(0px,0px,0px);}
    50%{-moz-transform: translate3d(-10px,-20px,0px);}
    100%{-moz-transform: translate3d(0px,0px,0px);}
}
@-ms-keyframes move{
    0%{-ms-transform: translate3d(0px,0px,0px);}
    50%{-ms-transform: translate3d(-10px,-20px,0px);}
    100%{-ms-transform: translate3d(0px,0px,0px);}
}
@keyframes move{
    0%{transform: translate3d(0px,0px,0px);}
    50%{transform: translate3d(-10px,-20px,0px);}
    100%{transform: translate3d(0px,0px,0px);}
}

@keyframes shake-rotate {
          2% {
            transform: translate(0, 0) rotate(0.5deg); }
          4% {
            transform: translate(0, 0) rotate(-5.5deg); }
          6% {
            transform: translate(0, 0) rotate(0.5deg); }
          8% {
            transform: translate(0, 0) rotate(1.5deg); }
          10% {
            transform: translate(0, 0) rotate(-1.5deg); }
          12% {
            transform: translate(0, 0) rotate(-4.5deg); }
          14% {
            transform: translate(0, 0) rotate(3.5deg); }
          16% {
            transform: translate(0, 0) rotate(3.5deg); }
          18% {
            transform: translate(0, 0) rotate(4.5deg); }
          20% {
            transform: translate(0, 0) rotate(1.5deg); }
          22% {
            transform: translate(0, 0) rotate(3.5deg); }
          24% {
            transform: translate(0, 0) rotate(-1.5deg); }
          26% {
            transform: translate(0, 0) rotate(-3.5deg); }
          28% {
            transform: translate(0, 0) rotate(-2.5deg); }
          30% {
            transform: translate(0, 0) rotate(7.5deg); }
          32% {
            transform: translate(0, 0) rotate(2.5deg); }
          34% {
            transform: translate(0, 0) rotate(7.5deg); }
          36% {
            transform: translate(0, 0) rotate(-1.5deg); }
          38% {
            transform: translate(0, 0) rotate(4.5deg); }
          40% {
            transform: translate(0, 0) rotate(-3.5deg); }
          42% {
            transform: translate(0, 0) rotate(-5.5deg); }
          44% {
            transform: translate(0, 0) rotate(3.5deg); }
          46% {
            transform: translate(0, 0) rotate(-1.5deg); }
          48% {
            transform: translate(0, 0) rotate(7.5deg); }
          50% {
            transform: translate(0, 0) rotate(6.5deg); }
          52% {
            transform: translate(0, 0) rotate(1.5deg); }
          54% {
            transform: translate(0, 0) rotate(2.5deg); }
          56% {
            transform: translate(0, 0) rotate(-2.5deg); }
          58% {
            transform: translate(0, 0) rotate(1.5deg); }
          60% {
            transform: translate(0, 0) rotate(-0.5deg); }
          62% {
            transform: translate(0, 0) rotate(3.5deg); }
          64% {
            transform: translate(0, 0) rotate(-6.5deg); }
          66% {
            transform: translate(0, 0) rotate(6.5deg); }
          68% {
            transform: translate(0, 0) rotate(7.5deg); }
          70% {
            transform: translate(0, 0) rotate(0.5deg); }
          72% {
            transform: translate(0, 0) rotate(-0.5deg); }
          74% {
            transform: translate(0, 0) rotate(0.5deg); }
          76% {
            transform: translate(0, 0) rotate(-5.5deg); }
          78% {
            transform: translate(0, 0) rotate(1.5deg); }
          80% {
            transform: translate(0, 0) rotate(0.5deg); }
          82% {
            transform: translate(0, 0) rotate(-0.5deg); }
          84% {
            transform: translate(0, 0) rotate(3.5deg); }
          86% {
            transform: translate(0, 0) rotate(6.5deg); }
          88% {
            transform: translate(0, 0) rotate(-2.5deg); }
          90% {
            transform: translate(0, 0) rotate(6.5deg); }
          92% {
            transform: translate(0, 0) rotate(5.5deg); }
          94% {
            transform: translate(0, 0) rotate(-5.5deg); }
          96% {
            transform: translate(0, 0) rotate(-0.5deg); }
          98% {
            transform: translate(0, 0) rotate(-4.5deg); }
          0%, 100% {
            transform: translate(0, 0) rotate(0); } 
    }
/*首页优化*/
.focusW{ position:relative;}
.focusW .focusTopImg,.focusW .focusFooterImg{ position:absolute; width:100%; }
.focusW .focusTopImg{height:470px; background:url(../Images/bg_first_t.jpg) no-repeat center top; top:0;left:0;}
.focusW .focusFooterImg{height:500px; background:url(../Images/bg_first_f.jpg) no-repeat center top; top:470px;left:0;}
/*文章页添加游戏列表*/
.left{float:left;}
.gameDown{padding:40px 0;border-bottom: 1px solid #eaeaea}
.gameTopic{width:95px;height:95px;float:left;}
.gameDetail{float:left;padding-left:10px;}
.gameTitleLink{font-size:24px;color:#000;}
.gameDetail p span{color:#000;font-size:12px; line-height: 20px;}
.gameDetail p a{font-size:14px;color:#12a7b4; text-decoration: underline;}
.gameDetail p i{width:13px;height:13px;margin:0px 3px 0 0; vertical-align:middle;overflow:hidden;display: inline-block; background: url(../Images/icon_article.png) no-repeat;}
.gameDetail p i.star{background-position: 0 -21px;}
.gameDetail p .android-link{width:17px;height:17px;  vertical-align: middle;display: inline-block;  background: url(../Images/icon_article.png) no-repeat 0 -42px;}
.gameDetail p .pc-link{width:17px;height:17px;  vertical-align: middle;display: inline-block;  background: url(../Images/icon_article.png) no-repeat 1px -70px;}
.down-bar{float:right;width:193px;}
.down-bar a{width:126px;height:43px;margin-bottom: 10px; display:block;line-height: 43px;color:#fff;font-size:16px;padding-left:65px; border-radius: 5px; }
.btn-android{ background:#4cb852 url(../Images/icon_article.png) no-repeat 30px -94px; }
.btn-pc{ background:#00adf1 url(../Images/icon_article.png) no-repeat 30px -145px; }
.btn-android:hover{ background:#40a246 url(../Images/icon_article.png) no-repeat 30px -94px; }
.btn-pc:hover{ background:#029fdd url(../Images/icon_article.png) no-repeat 30px -145px; }
.content .pages{width:100%;padding:50px 0;}
.content .pages li{float:left;width: 40%;padding-left:70px; font-size:14px;color:#000000;font-weight: bolder;}
.content .pages li a{font-weight: normal;color:#000; vertical-align: middle; display: inline-block;width: 83%; word-break:break-all; white-space: nowrap; text-overflow:ellipsis; overflow: hidden;}
.content .pages li a:hover{text-decoration: underline;}
.focusW .focusFooterImg{height:500px; background:url(../Images/bg_first_f.jpg) no-repeat center top; top:470px;left:0;}


/**koplayer 调整优化 2016-09-21*/
.header-nav,.header-nav-main{height:65px;}
.header-nav-main{line-height:65px;}
.header-nav-main a.logo{float:left;padding: 8px 20px;width: 127px;overflow:hidden;}
.header-nav-main a.logo img{display: block;width: 100%;}
.header-nav-main p{background-position:0 22px;position: absolute;right:20px;top:0;}
.header-nav-main .nav{background: none; background: none; margin: 0; padding: 0; width: auto;height: 65px; line-height: 65px; position: relative; float: left; left: 20px; top: auto;}
.nav li{height:65px;line-height:65px;}
.nav li a{font-size: 14px;display:block;padding: 0 15px; line-height: 65px;}
.nav li.on a,.nav li a:hover{color:#fff;background: #ff3333;text-decoration:none;}
/*#content{background: none;}*/
#app{    padding-bottom: 110px;}
#app .des-box{background: #000;width:100%;position: relative;}
#app .des-box .bg{background: url(../Images/bg_bottom_b.jpg) no-repeat center top;height:100px;width:100%;}
#app .des {
	color: #ffffff;
	padding-top: 50px;
	width: 1240px;
	overflow: hidden;
	margin: 0 auto;
}
#app .des dl {
	float: left;
	/*padding: 0 32px;*/
    width: 25%;
}
#app .des dl dd {
	width: 210px;
	padding: 18px;
}
#app .des .icon {
	display: block;
	background: url("../Images/icon.png") no-repeat;
	height: 220px;
	width: 246px;
}
#app .des1 .icon {
	background-position: 0 0;
    width: 258px;
}
#app .des2 .icon {
	background-position: 0 -225px;
}
#app .des3 .icon {
	background-position: 0 -450px;
}
#app .des4 .icon {
	background-position: 0 -680px;
}
#app .appList{padding-top: 0;margin-top:-40px;position: relative;}

/*首页导航条优化 By sunrenhao 2016.10.12*/
.header-nav-main .nav-lan{ width:118px; height:28px; border:1px solid #666666; border-radius:5px; float:right; margin:15px 50px 0 0; font-size:14px; position:relative; line-height: normal;}
.header-nav-main .nav-lan li{ position: relative; text-align: left;}
.header-nav-main .nav-lan li a{ color:#fff;/* float:left; */margin:5px 0 0 7px; padding:0;display: inline-block;width: 108px;overflow: hidden;}
.header-nav-main .nav-lan li a .lan_pic{ width:16px; height:10px; background:url(../Images/eng_pic.jpg) no-repeat; display:inline-block; float:left; margin-top:5px;}
.header-nav-main .nav-lan li a .vn{ background:url(../Images/vn_pic.jpg) no-repeat;}
.header-nav-main .nav-lan li a .th{ background:url(../Images/th_pic.jpg) no-repeat;}
.header-nav-main .nav-lan li a .in{ background:url(../Images/in_pic.jpg) no-repeat;}
.header-nav-main .nav-lan li a .gj{ float:left; margin-left:5px; display:inline-block;}
.header-nav-main .nav-lan li a em{ width:10px; height:5px; background:url(../Images/icon_pic.jpg) no-repeat; display:inline-block; float:right; margin-top:7px;}
.header-nav-main .nav-lan li .nav-box{ width:118px; height:88px; border:1px solid #666666; border-radius:5px; background-color:#000; position:absolute;top: 27px; z-index:999;}
.header-nav-main .nav-lan li .nav-box a{ display:inline-block; float:left; margin:5px 0 0 7px; padding:0; height:24px; width: auto;}
.header-nav-main .nav-lan li .nav-box a .in{ background:url(../Images/in_pic.jpg) no-repeat;}
.header-nav-main .nav-lan li .nav-box a .vn{ background:url(../Images/vn_pic.jpg) no-repeat;}
.header-nav-main .nav-lan li .nav-box a .th{ background:url(../Images/th_pic.jpg) no-repeat;}
.content1 .hd {	position: relative;	padding: 25px 30px;	background: #ffffff;}
.content1 .img { background: url("../Images/inside_img.png") no-repeat;	width: 689px;	height: 361px;	position: absolute;	right: 0;	top: -288px;}
.content1 .bd {	padding: 0 30px;	background: #ffffff;}	


/*专题页跳转链接 By xiaobiqin add 2016-10-26*/
@keyframes link_img {
	100% {
		-webkit-transform: translateX(0) translateY(0);
		-moz-transform: translateX(0) translateY(0);
		-o-transform: translateX(0) translateY(0);
		-ms-transform: translateX(0) translateY(0);
		opacity: 1;
	}

	50% {
		-webkit-transform: translateX(0px) translateY(20px);
		-moz-transform: translateX(0px) translateY(20px);
		-o-transform: translateX(0px) translateY(20px);
		-ms-transform: translateX(0px) translateY(20px);
		opacity: 1;
	}

	0% {
		-webkit-transform: translateX(0) translateY(0);
		-moz-transform: translateX(0) translateY(0);
		-o-transform: translateX(0) translateY(0);
		-ms-transform: translateX(0) translateY(0);
		opacity: 1;
	}
}
.link_img{ background:url(../Images/h_icon.png) no-repeat; width:197px; height:366px; position:absolute; left:-275px; top:-235px;}
.link_img:hover{
    animation: link_img 2s linear infinite;
	-webkit-animation: link_img 2s linear infinite;
	-moz-animation: link_img 12s linear infinite;
	-o-animation: link_img 2s linear infinite;
			
}
.link_newyears{ background:url(../Images/icon_float.png) no-repeat; width:356px; height:271px; position:absolute; left:-370px; top:-275px;
	animation:link_img 3s linear  infinite forwards;
	-webkit-animation:link_img 3s linear  infinite forwards;
	-moz-animation: link_img 3s linear infinite forwards;
	-o-animation: link_img 3s linear infinite forwards;
}
.link_newyears:hover{
    animation-play-state:paused;
    -webkit-animation-play-state:paused;
    -moz-animation-play-state:paused;
    -o-animation-play-state:paused;
			
}
.nav-box li a:hover{ color:#0FA1C3;}

/*增加广告位*/
.imgAd{position:absolute; top:6px; left:50%; z-index:999; width:728px; height:90px; border:1px solid #000; margin-left:-364px; }
.imgAd img{ width:728px; height:90px;}
.imgAdContent{ width:300px; height:250px; background:#ccc; margin:20px auto;}