
.modal-telegram h1, .modal-telegram h2, .modal-telegram h3, .modal-telegram h4, .modal-telegram h5, .modal-telegram a, .modal-telegram p, .modal-telegram q, .modal-telegram input, .modal-telegram label, .modal-telegram span, .modal-telegram textarea, .modal-telegram button {
font-family: Yekan, YekanNumbers, Nassim, "Helvetica Neue", Helvetica, Arial, sans-serif !important;

}
.modal-telegram .close {
  font-size: 3.0rem;
  font-weight: 900;
  text-shadow: none;
  background: transparent;
  border: none;
  float: none;
  position: absolute;
  top: 0;
  left: 5px;
}
.modal-telegram .modal {
  padding: 0;
  background:rgba(0, 0, 0, 0.7);
}
.modal-telegram .modal-dialog {
  margin: 1% auto;
}
.modal-telegram .modal-content {
  box-shadow: none;
  background-color: transparent;
  border: none;
  text-align: center;
}
.modal-telegram .modal-header {
  border: none;
  padding: 0;
  position: relative;
  height: 20px;
}
.modal-telegram .modal-body {
  display: inline-block;
  padding-bottom: 0 !important;
}
.modal-telegram .modal-footer {
  border: none;
  /*display: inline-block;*/
  /*width: 100%;*/
  text-align: center;
}
.modal-telegram .modal-footer {
  padding: 0;
}
.modal-telegram .modal-footer span {
  display: inline-block;
}
.modal-telegram .btn {
  border: none;
  background-color: #00ccff;
  border-radius: 20px;
  margin: 0 auto;
  color: #fff;
  line-height: 30px;

  display: inline-block;
  padding: 6px 12px;
}
.modal-telegram .btn:hover {
  color: #fff;
}
.modal-telegram .delay {
  animation-delay: 400ms;
}
