@media (max-width: 1199px){}
@media (min-width: 992px) and (max-width: 1199px){}
@media (min-width: 768px) and (max-width: 991px){}
@media (min-width: 480px) and (max-width: 767px){}
@media (min-width: 330px) and (max-width: 480px){
    .modal-telegram .btn{
        //font-size: 1.2rem !important;
    }
}
@media (max-width: 360px){
    .modal-telegram .btn{
        font-size: 0.85rem !important;
    }
}
@media only screen and (min-width: 768px){
    .modal-telegram .modal-dialog{
        margin: 1% auto !important;
    }
}
