.modal-telegram .img-responsive {
  display: block;
  max-width: 95%;
  height: auto;
  margin:0 auto;
}
.modal-telegram .img-rounded {
  border-radius: 6px;
}
.modal-telegram .img-thumbnail {
  padding: 4px;
  line-height: 1.42857143;

  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.modal-telegram .img-circle {
  border-radius: 50%;
}
.modal-telegram .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.modal-telegram .sr-only-focusable:active, .modal-telegram .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
.modal-telegram [role="button"] {
  cursor: pointer;
}
.modal-telegram .modal-open {
  overflow: hidden;
}
.modal-telegram .modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999999;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  background:#333;
}
.modal-telegram .modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.modal-telegram .modal.in .modal-dialog {
    margin-top:3% !important;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.modal-telegram .modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-telegram .modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
.modal-telegram .modal-content {
  position: relative;
  border-radius: 6px;
  background-clip: padding-box;
  outline: 0;
}
.modal-telegram .modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;

}
.modal-telegram .modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}
.modal-telegram .modal-backdrop.in {
  opacity: .5;
  filter: alpha(opacity=50);
}
.modal-telegram .modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  height:30px !important;
}
.modal-telegram .modal-header .close:focus {
    outline: inherit;
}
.modal-telegram .modal-header .close:hover {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}
.modal-telegram .modal-header .close {
    margin-top: -10px;
    left:inherit;
    right:10px;
    /* background: red; */
    color: #fff;
    opacity: 0.8 !important;
    filter: alpha(opacity=80) !important;
}
.modal-telegram .modal-title {
  margin: 0;
  line-height: 1.42857;
}
.modal-telegram .modal-body {
  position: relative;
  padding: 15px;
  margin-top:0px;
  padding-top:0px;
}
.modal-telegram .modal-footer {
  padding: 15px;
  text-align: right;
}
.modal-telegram .modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
}
.modal-telegram .modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-telegram .modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
.modal-telegram .modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 768px) {
  .modal-telegram .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal-telegram .modal-content {

  }
  .modal-telegram .modal-sm {
    width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-telegram .modal-lg {
    width: 900px;
  }
}
.modal-telegram .clearfix:before, .modal-telegram .clearfix:after {
  content: " ";
  display: table;
}
.modal-telegram .modal-header:before, .modal-telegram .modal-header:after {
  content: " ";
  display: table;
}
.modal-telegram .modal-footer:before, .modal-telegram .modal-footer:after {
  content: " ";
  display: table;
}
.modal-telegram .clearfix:after, .modal-telegram .modal-header:after, .modal-telegram .modal-footer:after {
  clear: both;
}
.modal-telegram .center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.modal-telegram .pull-right {
  float: right !important;
}
.modal-telegram .pull-left {
  float: left !important;
}
.modal-telegram .hide {
  display: none !important;
}
.modal-telegram .show {
  display: block !important;
}
.modal-telegram .invisible {
  visibility: hidden;
}
.modal-telegram .text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.modal-telegram .hidden {
  display: none !important;
}
.modal-telegram .affix {
  position: fixed;
}
