﻿/* 
 * NeoSansArabic
 */
@font-face {
  font-family: 'NSA';
  font-style: normal;
  font-weight: normal;
  src: url('http://up.top4top.net/styles/default-new-reg/fonts/NeoSansArabic.eot');
  src: url('http://up.top4top.net/styles/default-new-reg/fonts/NeoSansArabic.eot?#iefix') format('embedded-opentype'),
       url('http://up.top4top.net/styles/default-new-reg/fonts/NeoSansArabic.woff') format('woff'),
       url('http://up.top4top.net/styles/default-new-reg/fonts/NeoSansArabic.ttf') format('truetype');
}