/* clear */
.clr {
	clear: both;
	overflow: hidden;
	height: 0;
}
/* line dot */
.dot {
	padding: 5px 0;
	background: url(http://s.top4top.net/styles/default-new-reg/images/dot.gif) repeat-x;
}
/* line */
.line {
	background: url(http://s.top4top.net/styles/default-new-reg/images/line.png) repeat-x right top;
	height: 6px;
	margin: 1px 1px 7px 1px;
}
/* site name and titles all */
.title-x {
	float: right;
	width: 100%;
	padding: 15px 0;
	font-size: 12px;
	color: #0D96FD;
	text-indent: 10px;
	border-bottom: 2px solid #EFEFEF;
	margin-bottom: 25px;
}
.title-x a {
	color: #999999;
}
.title-x a:hover {
	color: #C0C0C0;
}
/* safe code all box */
.safe_code {
}
.safe_code p {
	line-height: 10px;
}
.safe_code input[type=text] {
	padding: 4px;
	text-transform: lowercase;
	direction: ltr;
}
p.explain {
	font-size: x-small;
	font-weight: normal;
	color: #666;
	text-indent: 4px;
	padding-top: 5px;
}
/** FIXED WIDTH **/
.fixedwidth {
	min-width: 1130px;
}
/** LOGO */
#logobody {
	margin: 5px;
}
.adsense {
	width: 730px;
	height: 92px;
	float: left;
}
/** The main menu at the top **/
#top_menu {
	width: 100%;
	height: 50px;
	background: url(http://s.top4top.net/styles/default-new-reg/images/menu-bg.gif) repeat-x top left;
	display: block;
}
#top_menu .m3nu {
	width: 80%;
	margin-right: 6%;
}
#top_menu .m3nu ul {
	list-style-type: none;
	float: right;
}
#top_menu .m3nu li {
	display: block;
	float: right;
	margin-left: 2px;
	font-size: 9pt;
}
#top_menu .m3nu li a {
	height: 47px;
	line-height: 40px;
	color: #777;
	text-decoration: none;
	display: block;
	float: left;
	padding: 0 20px;
}
#top_menu .m3nu li a:hover {
	color: #F68618;
	background: url(http://s.top4top.net/styles/default-new-reg/images/hover.png) repeat-x top left;
}
#top_menu .m3nu li a.current {
	color: white;
	background: url(http://s.top4top.net/styles/default-new-reg/images/current-bg.gif) top left repeat-x;
	padding: 0px 20px;
}
/*  wrapper body */
#wrapper {
}
/* box  ALL templates  */
/* Container Table  */
#container tr td {
	vertical-align: top;
	font-weight: bold;
}
.rmenue {
	width: 200px;
}
.lmenue {
	width: 135px;
}
#content {
	padding: 10px 20px;
}
/* System Messages body */
#system-message {
	margin: 5px 0;
}
#system-message dd {
	font-weight: bold;
	text-indent: 30px;
}
#system-message dd.info ul, #system-message dd.error ul {
	list-style: square;
	list-style-position: inside;
	padding: 10px;
	line-height: 30px;
}
#system-message dd.info ul {
	border-top: 3px solid #FEA53D;
	border-bottom: 3px solid #FEA53D;
	background-color: #EFE7B8;
}
#system-message dd.info ul li, #system-message dd.error ul li {
	padding: 0 5px;
}
#system-message dd.info ul li {
	color: #444;
	background: url(http://s.top4top.net/styles/default-new-reg/images/info.png) no-repeat right top;
}
#system-message dd.error ul {
	background-color: #E6C0C0;
	border-top: 3px solid #DE7A7B;
	border-bottom: 3px solid #DE7A7B;
}
#system-message dd.error ul li {
	color: #c00;
	background: url(http://s.top4top.net/styles/default-new-reg/images/error.png) no-repeat right top;
}
/* ##  End  System Messages */
/* Message Information System */
#system-message .index_info, #system-message .index_err {
	display: block;
	padding: 6px;
	text-indent: 30px;
	line-height: 24px;
}
#system-message .index_info {
	border-top: 3px solid #84A0C0;
	border-bottom: 3px solid #84A0C0;
	color: #004776;
	background: #C2D3E7;
}
#system-message .index_err {
	border-top: 3px solid #DE7A7B;
	border-bottom: 3px solid #DE7A7B;
	color: #D80000;
	background: #E6C0C0;
}
#system-message .index_info li {
	background: url(http://s.top4top.net/styles/default-new-reg/images/info_f.gif) no-repeat right top;
}
#system-message .index_err li {
	background: url(http://s.top4top.net/styles/default-new-reg/images/err.gif) no-repeat right top;
}
/*  # Message Information System */
/*  right menu */
#right_menu {
	width: 182px;
	float: right;
	padding: 5px;
}
#right_menu .list {
	width: 180px;
}
#right_menu .list ul {
	list-style-type: none;
	line-height: 16px;
}
#right_menu .list .imgtop {
	height: 36px;
	width: 160px;
	background: url(http://s.top4top.net/styles/default-new-reg/images/menu-right-top.gif) no-repeat;
	display: block;
	color: #000;
	padding: 0px 10px;
	text-align: left;
	border-bottom: 1px solid #666;
}
#right_menu .list .imgbottom {
	background: url(http://s.top4top.net/styles/default-new-reg/images/menu_right_bottom.gif) no-repeat;
	height: 37px;
	width: 160px;
	display: block;
	padding: 0px 10px;
	color: #F1F7E1;
}
#right_menu .list img {
	margin: 0 10px;
	width: 16px;
	height: 16px;
}
#right_menu .list a {
	background-color: #767676;
	padding: 7px 10px;
	display: block;
	width: 160px;
	color: white;
	text-decoration: none;
	border-bottom: 1px solid #666;
}
#right_menu .list a:hover {
	color: #111;
	background: #767676 url(http://s.top4top.net/styles/default-new-reg/images/right_menu.png) repeat;
}
#right_menu .list a:active {
	background: #999;
}
/* #  right menu */
/* extras  header and  footer template */
.extras_header, .extras_footer {
	clear: both; /*width:100%;*/;
	margin: 5px auto;
	padding: 10px;
	text-align: center;
}
/*# END extras  header and  footer template */
/* Powered by kleeja*/
.kleeja {
	width: 100%;
	padding: 2px 1px;
	margin-top: 4px;
	float: left;
	text-align: left;
	color: #5C5C5C;
}
.kleeja a {
	color: #CF6600;
}
.kleeja a:hover {
	color: #000;
}
/* #  Powered by kleeja */
/* start Downlod template >> download.html */
.file_info_box {
	margin: 5px auto;
}
.data_file {
	width: 56%;
	padding: 15px;
	border: 1px solid #ABAB68;
	background: #FAFAE7 url(http://s.top4top.net/styles/default-new-reg/images/bg_onlineall.gif) repeat-x bottom left;
}
.tit {
	background: #FFE4D5 url(http://s.top4top.net/styles/default-new-reg/images/headline_bg.png) repeat-x top left;
	border-left: 1px solid #F6EBE4;
	border-bottom: 1px solid #FFCBAE;
	border-top: 1px solid #FFCBAE;
	font-weight: 700;
	color: #D88427;
	text-align: center;
	padding: 6px 0;
	margin: 2px 0;
}
.data_menu {
	width: 100%;
	font-size: 12px;
	table-layout: fixed;
}
.data_menu tr {
	display: block;
	margin-bottom: 2px;
	background: white;
	border-left: 2px solid #F6EBE4;
	border-bottom: 2px solid #F6EBE4;
	border-top: 2px solid #F6EBE4;
}
.data_menu td {
	white-space: nowrap;
	padding: 0 5px;
	height: 22px;
	line-height: 22px;
}
.td {
	width: 82px;
	text-align: center;
	background: #F6EBE4 url(http://s.top4top.net/styles/default-new-reg/images/headline_bg.png) repeat-x top left;
	color: #555;
}
.filereport {
	width: 100%;
	height: 26px;
	line-height: 26px;
	text-align: center;
	border-top: 1px solid #D88181;
	border-bottom: 1px solid #D88181;
	cursor: pointer;
	background: url(http://s.top4top.net/styles/default-new-reg/images/bg_onlinevisitor.gif) repeat-x bottom left;
	margin-top: 5px;
	color: #9B2020;
	font-weight: 700;
}
.filereport:hover {
	background: #F9B6C1;
	border-top: 1px solid #FF0000;
	border-bottom: 1px solid #FF0000;
}
.data_file_down {
	width: 40%;
	padding: 10px;
	background: #F0F6E7 url(http://s.top4top.net/styles/default-new-reg/images/bg_datafile.gif) repeat-x bottom left;
	border: 1px solid #B3CB8C;
	text-align: center;
	font-weight: 700;
}
.find_x {
	margin: 2px 0;
	color: #6C9F01;
}
.wait {
	color: #F04C2D;
	font-size: 240%;
	height: 45px;
	line-height: 45px;
}
.download {
	margin-top: 12px;
}
.download a {
	cursor: pointer;
	background: #F5F7EF url(http://s.top4top.net/styles/default-new-reg/images/here_download.png) repeat-x bottom left;
	border: 1px solid #6D9026;
	padding: 17px;
	color: #4A690C;
}
.download a:hover {
	background: white;
	border: 1px solid #ADD101;
	text-decoration: none;
}
/* # End Downlod template >> download.html */
/* stats template >> stats.html */
.stats {
	border: 1px solid #ECCEBB;
	margin: 5px 0;
	padding: 10px;
	background: #F9F5F0 url(http://s.top4top.net/styles/default-new-reg/images/stats.gif) no-repeat 2% 50%;
	font-size: 12px;
	font-weight: 400;
}
.stats ul {
	list-style-image: url(http://s.top4top.net/styles/default-new-reg/images/list_stat.gif);
	list-style-position: inside;
	text-indent: 10px;
}
.stats ul li {
	height: 28px;
}
.st {
	text-indent: 10px;
}
.st i {
	background: #FEFFD7;
	padding: 4px 8px;
	color: #C10000;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
/* #  stats template >> stats.html  */
/* rules template >> rules.html */
#rules {
	padding: 10px 0;
	font-weight: normal;
}
#rules .rut {
	clear: both;
	margin-bottom: 3px;
	padding: 4px 0px;
	text-indent: 10px;
	color: #0D96FD;
	font-size: 1.4em
}
#rules .rls {
	display: block;
	padding: 5px 0px;
	color: #999999;
}
/* #  rules template >> rules.html  */
/* start index body  >> index_body.html  */
#content_index_body {
	padding: 5px 15px;
}
.downloadh1 {
	font-size: 18px;
	font-weight: normal;
	font-family: Arial;
	text-align: center;
	padding: 10px;
	letter-spacing: 0px;
}
.wolcome_msg {
	font-size: 10px;
	color: #777;
	padding: 3px 6px;
	line-height: 15px;
}
.agree {
	margin: 10px 0;
	font-size: 12px;
	font-weight: normal;
	padding: 5px 120px 0 0;
	float:right;
}
.zx, .zl {
	cursor: pointer;
	padding: 4px;
}
.zx a:hover, .zl a:hover {
	background: #FEEA00;
}
.bn_up {
	margin-top: 10px;
	padding-left:120px;
	float:left;
}
.url {
	margin-top: 3px;
	direction: ltr;
	color: #DD6F00;
}
.inum {
	text-align: center;
	color: #888;
}
input.input_num {
	background: white;
	border: 1px solid #B3B9C4;
	font-weight: 400;
	font-size: 10px;
	outline: 1px solid #ccc;
	padding: 2px 1px;
}
#loadbox {
	padding: 10px 20px;
	display: none;
}
.waitloading {
	color: #999999;
	font-size: 120%;
	margin: 5px;
}
/* tabs */
.tabber {
	width: 100%;
	margin-top: 8px;
}
.tabberlive {
	margin: 5px 0;
}
.tabberlive .tabbertabhide {
	display: none;
}
.tabbertab {
	padding: 20px;
	border: 1px solid #E8E8E8;
}
.go_up {
}
.bg {
}
ul.tabbernav {
	padding: 1px 0;
	font-size: 11px;
}
ul.tabbernav li {
	list-style: none;
	display: inline;
}
ul.tabbernav li a {
	margin-left: 4px;
	padding: 4px 14px;
	border: 1px solid #aaa;
	background: #EB9D0B url(http://s.top4top.net/styles/default-new-reg/images/current-bg.gif) top left repeat-x;
	text-decoration: none;
}
ul.tabbernav li a:link {
	color: #222;
	font-weight: normal;
	padding: 4px 14px;
}
ul.tabbernav li a:hover {
	color: white;
	text-decoration: none;
}
ul.tabbernav li.tabberactive a {
	padding: 4px 14px;
	border-bottom: 1px solid white;
	background: white;
}
ul.tabbernav li.tabberactive a:link {
	color: #F68618;
	font-weight: bold;
}
ul.tabbernav li.tabberactive a:hover {
	color: #333;
	text-decoration: none;
}
/* # tabs  */
/*  START FOR ONLINE */
.online {
	width: 100%;
	float: right;
	padding: 2px 0;
	display: block;
	margin: 5px 0;
}
.onlineall, .onlinevisitor, .onlineusers, .name_users {
	float: right;
	height: 16px;
	line-height: 16px;
	margin-left: 6px;
	padding: 2px 10px;
	font-weight: 400;
}
.onlineall {
	background: #FAFAE7 url(http://s.top4top.net/styles/default-new-reg/images/bg_onlineall.gif) repeat-x center left;
	border: 1px solid #9F9F4D;
	color: #76760C;
}
.onlinevisitor {
	background: #F9E5E5 url(http://s.top4top.net/styles/default-new-reg/images/bg_onlinevisitor.gif) repeat-x center left;
	border: 1px solid #D29F9F;
	color: #D20C0C;
}
.onlineusers {
	background: #E6F5EB url(http://s.top4top.net/styles/default-new-reg/images/bg_onlineusers.gif) repeat-x center left;
	border: 1px solid #A1CAB4;
	color: #009B00;
}
.name_users {
	background: #D2D7F1 url(http://s.top4top.net/styles/default-new-reg/images/bg_nameusers.gif) repeat-x center left;
	border: 1px solid #8D98C9;
	color: #004081;
}
/*  #  END FOR ONLINE */
/*  ALL inputs */
.input_link, .input_field {
	background: white;
	border: 1px solid #B3B9C4;
	font-size: 12px;
	padding: 2px;
}
.input_field:hover, .input_link:hover {
	border: 1px solid #999;
}
.input_field:focus, .input_link:focus {
	border: 1px solid #D26900;
	background: #ffd;
}
/* ALL inputs */
/* footer template */
#footer {
	padding: 2%;
	margin: 12px auto 3px auto;
}
.footerlinksleft ul {
	width: 60%;
	line-height: 16px;
	float: left;
	padding: 3px 25px;
}
.footerlinksleft li {
	float: left;
	direction: ltr;
}
.footerlinksleft ul li a {
	padding: 2px 4px;
	color: #5C5C5C;
}
.footerlinksleft ul li a:hover, .Copyrights a:hover, .page_stats a:hover {
	background: #787878;
	color: white;
}
.page_stats, .googleanalytics {
	display: inline;
	margin: 10px 0;
	float: left;
	direction: ltr;
	color: #999;
}
/*start Option to control panel */
/* # footer template */
/* login template >> login.html */
.login {
	margin: 5px 0 10px 0;
	padding: 10px 20px;
}
.box_form_login {
	width: 60%;
	padding: 5px;
}
.title_login {
	width: 82%;
	text-indent: 35px;
	height: 24px;
	line-height: 24px;
	margin-bottom: 8px;
}
.blocks {
	display: block;
	clear: both;
	height: 22px;
	margin-bottom: 6px;
}
.gather {
	width: 28%;
	height: 22px;
	line-height: 20px;
	display: inline;
	float: right;
	margin-left: 3px;
	text-align: center;
	font-weight: 400;
	color: #444;
}
input.username, input.password {
	float: none;
	padding: 3px 6px 3px 20px;
}
input.username {
	background: white url(http://s.top4top.net/styles/default-new-reg/images/username.gif) no-repeat 2px 2px;
}
input.password {
	background: white url(http://s.top4top.net/styles/default-new-reg/images/password.gif) no-repeat 2px 2px;
}
input.button_login {
	padding: 2px 33px;
}
select.remme {
	padding: 1px 4px;
	margin: 0 2px;
}
select.remme:focus {
}
.forget_pass {
	display: inline-block;
}
.forget_pass a {
}
.forget_pass a:hover {
}
/* # login template >> login.html  */
/* captcha stuff*/
#kleeja_img_captcha {
	cursor: pointer;
	float: none;
	margin: 0;
	padding: 0;
	display: inline-block;
}
/* # captcha stuff*/
/*-- start  box user name and all files  >> fileuser.html  */
#boxfileuser, #filecplink {
	display: block;
	margin: 3px auto;
}
#boxfileuser .box_user, #boxfileuser .us3r_n4me {
	display: inline;
}
#boxfileuser .box_user {
	width: 46%;
	float: right;
}
#boxfileuser .us3r_n4me {
	width: 45%;
	float: left;
}
#boxfileuser .public {
	margin: 5px auto;
	background: #DFDFDF;
	padding: 5px 10px;
	color: #555;
	font-weight: normal;
}
#boxfileuser .uname, #boxfileuser .nums {
	font-size: large;
	color: #FF6600;
	padding-top: 4px;
}
#filecplink .copylink input, #filecplink .link_user input {
	width: 96%;
	font-size: 11px;
	padding: 4px 3px;
	border: 1px solid #FFC58A;
}
#filecplink .link_user input {
	direction: ltr;
}
#filecplink .copylink input:hover, #filecplink .link_user input:hover {
	border: 1px solid #FF8F21;
}
.tabledata {
	width: 100%;
	background-color: #F4F4F4;
}
.tabledata tr {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.tabledata th, .tabledata td {
	padding: 5px;
	text-align: center;
}
.tabledata .odd {
	text-align: center;
	width: 50%;
	direction: ltr;
}
.tabledata thead th {
	white-space: nowrap;
	background-color: #0D96FD;
	font-weight: normal;
	line-height: 180%;
	color: #FFFFFF;
}
.tabledata tbody td {
	line-height: 180%;
	font-weight: 700;
	white-space: nowrap;
}
.tabledata a, .tabledata a:link {
}
.tabledata a:visited {
}
.tabledata th:hover a, .tabledata td:hover a {
}
.tabledata:hover {
}
.tabledata tr:hover {
	background-color: #FCFCFC;
}
.tabledata thead tr:hover th, .tabledata thead th:hover {
	cursor: default;
}
.tabledata tr th:hover, .tabledata tr td:hover {
	cursor: text;
}
.tabledata tfoot {
	color: #FFFFFF;
	background-color: #808080;
}
.tabledata tfoot tr:hover {
	background-color: #666666;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
/*-- #  end box user name and all files  >> fileuser.html  */
/* register template >> register.html */
.register {
	margin: 5px 0;
	padding: 10px 0;
}
.register label {
	display: block;
}
/*#  register template >> register.html */
/* start connection template */
.call {
	margin: 15px 0;
}
.call label {
	display: block;
}
.text_area {
	width: 60%;
}
/* # connection template */
/* back password template >> get_pass.html */
.get_password {
	margin-bottom: 25px;
}
.get_password p {
	text-align: center;
	margin-bottom: 25px;
}
/* # back password template >> get_pass.html */
.rebort {
	background: #F9F5F0 url(http://s.top4top.net/styles/default-new-reg/images/file_rebort.gif) no-repeat 10% 50%;
	border: 1px solid #ECCEBB;
	margin: 5px 0;
	padding: 10px 20px;
}
.rebort label {
	display: block;
}
.urlcolor {
	background: #FFCDCD;
}
/* # call and file report templates */
/*-- start Profile template >> profile.html  */
#profile select, #profile option {
	background: #FFD;
	color: #000;
}
#profile .boxdata {
}
#profile .boxdata p {
	padding: 2px;
	text-align: center;
}
#profile .boxdata .tit {
	padding: 5px;
	text-align: center;
	border: 0;
	border-bottom: 2px solid #E9E9E9;
	color: #999999;
	background-image: none;
	background-color: #FFFFFF;
	font-weight: normal
}
#profile .boxdata .bq, #profile .boxdata .in {
	color: #999;
	padding: 0 5px;
}
#profile .boxdata .in {
	margin-right: 2%;
}
#profile .boxdata .biguser {
	color: #FF5502;
	padding: 5px;
	font-size: 12px;
	text-align: center;
}
.buttons_center {
	line-height: 24px;
	padding: 5px;
	text-align: center;
	margin: 3px auto;
}
/*-- End Profile template >> profile.html   */
/*-- start user control panel  Files  >> filecp.html  */
.file_cp {
	background: #DADADA url(http://s.top4top.net/styles/default-new-reg/images/table_file_cp.gif) no-repeat 40% 45%;
	color: #000;
	width: 100%;
	border: 1px solid #C2C2C2;
}
.file_cp td {
	padding: 6px 8px;
	white-space: nowrap;
}
.file_cp th {
	padding: 8px;
	white-space: nowrap;
}
.left_button {
	float: left;
	margin: 2px 0;
}
.file_cp .odd {
	text-align: right;
	width: 76%;
}
.file_cp .nbr {
	text-align: right;
}
.file_cp thead th, .file_cp tfoot th, .file_cp tbody td {
	border-right: 1px solid #aaa;
	border-top: 1px solid #eee;
	border-left: 1px solid #eee;
	border-bottom: 1px solid #aaa;
	font-weight: bold;
	text-align: center;
}
.file_cp thead th {
	background: #EB9D0B url(http://s.top4top.net/styles/default-new-reg/images/bg_tile_tab.png) repeat-x bottom left;
}
.file_cp tfoot th {
	background: #bbb url(http://s.top4top.net/styles/default-new-reg/images/headline_bg.png) repeat-x center right;
}
.file_cp tbody tr:hover td {
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #eee;
}
.file_cp a {
	color: #444;
}
.file_cp a:link {
	color: #666;
}
.file_cp a:visited {
	color: #000;
}
.file_cp a:hover {
	color: #D2691E;
	text-decoration: line-through;
}
/*-- # end  user control panel  Files  >> filecp.html  */
/* template list of files allowed > guide.html */
#guide {
	width: 100%;
}
.guide_user_th, .guide_visitor_th, .guide_you_th {
	line-height: 14px;
	padding: 10px 15px;
	font-size: 13px;
	font-weight: 700;
	text-align: center;
	color: white;
}
.guide_user_th {
	background-color: #DE6C6C;
}
.guide_visitor_th {
	background-color: #D8B020;
}
.guide_you_th {
	background-color: #BAC749;
}
.user_box, .prices {
	padding: 10px;
	margin: 3px 0px;
}
.user_img, .user_n4me, .visitor_img, .you_img, .you_n4me {
	display: block;
	font-size: 14px;
	font-weight: 700;
	color: #333;
	padding: 5px 8px;
	color: #999999;
}
.user_img {
	border-bottom: 2px solid #DE6C6C;
}
.you_img {
	border-bottom: 2px solid #BAC749;
}
.user_n4me, .you_n4me, .visitor_n4me {
	display: inline;
}
.user_img img, .you_img img, .visitor_img img {
	padding-left: 5px;
}
.user_ext, .you_ext {
	line-height: 18px;
	padding: 4px 8px;
	background-color: #F5F5F5;
	margin: 2px 0;
}
.user_ext_color, .you_ext_color {
	font-size: 12px;
	color: #222;
	margin: 2px;
}
.user_ext_lang, .you_ext_lang {
	font-weight: 400;
	font-size: 12px;
	color: #000;
	margin: 2px;
}
.visitor_box {
}
.visitor_img {
	border-bottom: 2px solid #D8B020;
}
.visitor_ext {
}
.visitor_ext_color {
	color: #333;
}
.visitor_ext_lang {
	color: #000;
}
.user_ext:hover, .you_ext:hover{
	background-color: #FEE3A5;
}

.prices {
	background:#FEE3A5;
	border-radius: 10px;	
}
.prices p {
	margin: 10px 20px;
}
.prices h3 {
	font-size:18px;
	font-weight:bold;
	margin:10px;
}
.prices small {
	color:#B54444;
}
/* #  template list of files allowed > guide.html */
/* #  template up > up_boxes.html */
.thumb_div_tag {
	width: 30%;
	margin: 4px auto;
	text-indent: 4px;
	text-align: center;
}
.thumb_div_tag img {
	background: white;
	border: 1px solid #C3C3C3;
	padding: 5px;
}
.thumb_div_tag img:hover {
  border-color: #0D96FD
}
.qr_img {
	height:175px;
	width:175px;
}
.qr_img img{
	border:1px solid #888;
	border-radius:8px;
}
.inputbody {
	margin: 3px 0px;
	padding: 10px;
}
.btitle {
	width: 32%;
	float: right;
	text-align: center;
	padding: 5px 0;
	text-indent: 0px;
	color: #626262;
}
.all_boxes {
	float: left;
	width: 64%;
	color: #0D96FD;
	border: 1px solid #CCCCCC;
	direction: ltr;
	padding: 5px 6px;
}
.all_boxes:hover {
	border: 1px solid #EFEFEF;
	color: #808080;
}
.all_boxes:focus {
	background-color: #FFFFE8;
}
/* # template up > up_boxes.html */
.debug_kleeja {
	width: 80%;
	margin: 0 auto;
	background-color: white;
	border: 1px #666 solid;
	margin-top: 20px;
	margin-bottom: 20px;
}
.debug_kleeja fieldset {
	margin: 0 auto;
	width: 80%;
}
.css_xhtml {
	text-align: center;
	padding: 0px;
	margin: 0px;
	width: 180px;
}
.css img:hover {
	border-bottom: 4px solid #FF8F21;
}
.xhtml img:hover {
	border-bottom: 4px solid #82C522;
}
#advertise {
	padding: 0px 0px;
	border: 1px solid white;
}
#advertise:hover {
	border: 1px solid gray;
}
/*CSS style pagination*/
.pagination {
	padding: 3px 0;
	margin: 2px 0;
	color: #ff6500;
	font-size: 80%;
	width: 60%;
	display: inline;
}
.pagination a {
	float: right;
	font-weight: bold;
	text-align: center;
	border: 1px solid #ff9600;
	margin-left: 3px;
	padding: 5px 7px;
	background: #fff url(http://s.top4top.net/styles/default-new-reg/images/pagination.gif) repeat-x bottom left;
	text-decoration: none;
	color: #ff6500;
}
.pagination a:hover {
	border: 1px solid #ff9600;
	background-image: none;
	background-color: #ffc794;
	color: #ff6500;
}
.pagination a.next, .pagination a.disabled {
	font-size: 11px;
	padding: 4px;
	border: none;
	background: transparent;
}
.pagination a.next {
	margin-right: 5px;
	color: #ff6500;
}
.pagination a.disabled {
	color: #555;
	font-weight: 400;
}
.pagination a.next:hover {
	color: #666;
	padding-right: 10px;
}
.pagination a.disabled:hover {
	color: #999;
}
.pagination span.current, .pagination span.three_dots {
	text-align: center;
	margin-left: 3px;
	padding: 5px 7px;
	float: right;
	border: 1px solid #FF9600;
}
.pagination span.current {
	background-color: #ff6500;
	color: #FEF3EF;
}
.pagination span.three_dots {
	background: #fff url(http://s.top4top.net/styles/default-new-reg/images/pagination.gif) repeat-x bottom left;
}
/* # pagination */
.checkall a:link {
	color: red;
	font-size: 12px;
	font-weight: 400;
}
/* PRINT */
@media print
{
body {
	color: #000 !important;
}
a, a:link, a:visited {
	color: #000 !important;
	text-decoration: none !important;
}
}
#leftads {
	width: 129px;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	text-align: left;
	float: left;
}
#facebooklike {
	width: 100px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 15px;
}

.background-dimmer {
	left: 0;
	top: 0;
	position: fixed;
	text-align: center;
	height: 100%;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.85);
	z-index:9997;
}

.centered {
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
	

#close-button { 
	position: absolute; 
	top: 10px;
	left: 10px;
	width: 40px;
	height: 40px;
	z-index:9999;
	background-color: #0068FF;
	border: none;
	color: white;
	cursor: pointer;
	font-family: Arial, sans-serif;
	font-weight: bold;
	font-size: 15px;	
	outline: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	user-select: none;
	text-align:center;
}

.div-gpt-ad-1472593213297-0 {
	background-color: white;
	border: 1px dotted gray;
	height: 452px; 
	width: 452px;
	z-index:9998;
}