﻿@import url('./css/fonts.css');
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
	margin: 0;
	outline: none;
}
body,html {
	 min-width: 1170px !important

}
body {
	direction: rtl;
	font-family: 'NSA' ,Arial , Helvetica, sans-serif;
	font-size: 1.35em;
	font-weight: normal;
	color: #333333;
	line-height: 1.8;
}
h1, h2, h3, h4, h5, h6 {
}
img {
	border: 0;
	max-width: 100%;
	height: auto;
}
a {
	color: #0995FD;
	text-decoration: none;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
a:hover {
	color: #FF9933;
	text-decoration: none;
}
a:active {
	text-decoration: none;
	color: #FFCC66;
}
.container-fluid {
	padding-left: 0;
	padding-right: 0;
}
.container {
 min-width: 1170px !important
}
.header {
	border-top: 4px solid #0995FD;
	-webkit-box-shadow: 0 0 9px rgba(0,0,0,.14);
	-moz-box-shadow: 0 0 9px rgba(0,0,0,.14);
	box-shadow: 0 0 9px rgba(0,0,0,.14);
	margin-bottom: 25px
}
.header .logo {
}
.header .logo img {
	padding: 15px;
}
.head-menu {
}
.head-menu ul {
	display: inline-block;
	float: left;
	margin: 0;
	padding: 0;
}
.head-menu ul > li {
	display: inline-block;
	float: right;
	position: relative;
}
.head-menu ul > li:after {
	content: "";
	height: 4px;
	position: absolute;
	bottom: -3px;
	left: 0px;
	width: 1%;
	background-color: transparent;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.head-menu ul > li:hover:after {
	left: 0px;
	width: 100%;
	background-color: #F3F3F3;
}
.head-menu ul > li > a {
	display: inline-block;
	float: right;
	line-height: 70px;
	padding: 0px 15px;
	color: #333333;
}
.head-menu ul > li > a:hover {
	color: #0D96FD;
}
.head-menu ul ul {
	display: none !important;
}
.head-menu .head-btn-user {
	float: left;
	display: inline-block;
	margin-right: 25px;
	line-height: 65px;
	background-color: #0D96FD;
	padding: 0px 25px;
	color: #FFFFFF;
	font-size: 1.3em;
	-webkit-border-radius: 0 0 8px 8px;
	border-radius: 0 0 8px 8px;
	position: relative;
	top: -10px;
	-webkit-transition: all 0.18s ease-in-out;
	-moz-transition: all 0.18s ease-in-out;
	-ms-transition: all 0.18s ease-in-out;
	-o-transition: all 0.18s ease-in-out;
	transition: all 0.18s ease-in-out;
	cursor: pointer;
}
.head-menu .head-btn-user:hover {
	top: 0;
}
.all-page {
}
.ads-head {
	margin-bottom: 25px;
	text-align: center;
}
.ads-head a {
	text-align: center;
	margin: 0px auto;
	height: 90px;
	width: 728px;
	display: inline-block;
}
.ads-head img {
	margin: 5px 10px;
	width: 728px;
	height: 90px;
}
.all-page .alert-message {
	font-size: 0.94em;
	color: #808080;
	padding: 5px;
	margin-bottom: 8px;
}
.all-page .alert-message i {
	color: #FFCC66;
}
.tabs-upload {
	overflow: hidden;
	min-height:300px;
}
.tabs-upload .tabs-title {
	margin: 0;
	padding: 0;
	list-style: none;
	border-bottom: 1px solid #E8E8E8;
	margin-bottom: 15px;
}
.tabs-upload .tabs-title > li {
	display: inline-block;
	padding: 10px 25px;
	position: relative;
	bottom: -1px;
	background-color: #FFFFFF;
	border: 1px solid #E8E8E8;
	border-top: 2px solid #E8E8E8;
	cursor: pointer;
}
.tabs-upload .tabs-title > li.active {
	border-bottom-color: #fff;
	border-top-color: #0D96FD;
	color: #0D96FD;
}
.box-download {
	animation: fadeInUp 0.6s;
	-ms-animation: fadeInUp 0.6s;
	-moz-animation: fadeInUp 0.6s;
	-o-animation: fadeInUp 0.6s;
	-webkit-animation: fadeInUp 0.6s;
}
.box-download label[for=agree] {
	float: right;
	display: inline-block;
	font-weight: normal;
	line-height: 41px;
	font-size: 0.9em;
	color: #999999;
}
.box-download button {
	display: inline-block;
	float: left;
	padding: 8px 25px;
	background-color: #0D96FD;
	color: #FFFFFF;
	border: 0px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.box-download .bar-final-upload {
	margin-top: 25px;
}
.box-soft {
	margin: 55px 0px;
	background-color: #0D96FD;
}
.box-soft img {
	position: relative;
	bottom: -35px;
	text-align: center;
	margin: 0px auto;
}
.box-soft .box-soft-cntn {
	padding-top: 55px;
	color: #FFFFFF;
}
.box-soft .box-soft-cntn h1 {
	font-size: 2.2em;
	margin: 0;
	padding: 0;
	margin-bottom: 15px;
}
.box-soft .box-soft-cntn p {
	font-size: 1em;
}
.box-soft .box-soft-cntn > i {
	display: inline-block;
	float: right;
	font-size: 5.5em;
	margin-left: 15px;
	margin-top: 3px;
}
.box-soft .box-soft-cntn a {
	float: left;
	padding: 10px 25px;
	background-color: #FFFFFF;
	color: #0D96FD;
	display: inline-block;
	margin-top: 25px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 2px solid #0D96FD;
}
.box-soft .box-soft-cntn a:hover {
	background-color: #0D96FD;
	color: #FFFFFF;
	border-color: #FFFFFF;
}
.footer {
	padding: 45px 0px 45px;
	margin: 0px;
	background-color: #EAEAEA;
	border-top: 1px dashed #CACACA;
}
.box-footer {
	background-color:#F4F4F4;
	width: 310px;
	height:210px;
	border-radius: 15px;
	padding: 10px 15px;
	margin-left: 30px;
	overflow:hidden;
	border-bottom: 1px dashed #A1A1A1;
	border-top: 1px dashed #A1A1A1;
}
.box-footer .title-box-foot {
	font-size: 1.1em;
	color: #0995FD;
	margin: 0;
	padding: 0;
	margin-bottom: 15px;
}
.box-footer ul {
	margin: 0;
	padding: 0 25px;
	list-style-type: circle;
}
.box-footer ul li {
	font-size: 0.9em;
	color: #333333;
	padding: 2px 0px;
}
.box-footer ul li a {
	color: #666666;
}
.box-footer ul li a:hover {
	color: #C0C0C0;
}
a.the220px {
	display: inline-block;
	width: 80px;
	height: 23px;
	background: url('images/the220px.png') no-repeat;
	opacity: 0.5;
}
a.the220px:hover {
	opacity: 1;
}
.zone-user {
	background-color: #0D96FD;
	color: #FFFFFF;
}
.zone-user a {
	color: #FFFFFF;
}
.zone-user a.new-user {
	display: inline-block;
	float: right;
	font-size: 0.95em;
	padding: 0 15px;
	line-height: 45px;
}
.zone-user .box-enter-user {
	display: inline-block;
	float: left;
	margin-left:75px;
}
.zone-user .box-enter-user > h2 {
	display: inline-block;
	float: right;
	margin: 0;
	padding: 0;
	margin-left: 15px;
	font-size: 0.9em;
	line-height: 45px;
}
.zone-user .box-enter-user > form {
	display: inline-block;
	float: left;
	position: relative;
}
.zone-user .box-enter-user label {
	display: block;
	float: right;
	position: relative;
}
.zone-user .box-enter-user label > i {
	position: absolute;
	right: 12px;
	top: 12px;
	z-index: 9999;
	color: #CCCCCC;
	font-size: 1em;
}
.zone-user .box-enter-user input, .zone-user .box-enter-user select {
	padding: 3px 30px 3px 3px;
	margin: 5px 0px 0 5px;
	font-size: 0.95em;
	font-weight: normal;
	border: 0px;
	color: #666666;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.zone-user .box-enter-user select {
	height: 29px;
	line-height: 29px;
}
.zone-user .box-enter-user button {
	display: inline-block;
	margin: 5px 0 5px 0px;
	background-color: #0285E6;
	border: 0px;
	padding: 0 8px;
	font-size: 1.25em;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.top-footer-boxes {
	width:450px;
	float:right;
	margin:20px 50px;	
}
.top-footer-boxes  h3{
	color:#007DDB;
	border-bottom: 1px dotted #ABABAB;
	padding: 10px 0;
}
.top-footer-boxes  p{
	color:#6B6B6B;
}
.top-footer-boxes  small{
	color:#B54444;
}
.footertags {
	height: 1px;
	max-width:500px;
	color: #FFF;
	line-height: 1px;
	text-align: center;
	margin: 30px auto -30px auto;
	padding: 10px 0px 0px 0px;
	font-weight: normal;
	font-size: 4px;
}
.footertags a {
	color: #FFF;
	text-decoration: none;
}
.footertags a:hover {
	color: #fff;
	text-decoration: none;
	cursor:none;
}
.admin_cp_link {
	position: fixed;
	top: 0px;
	left: 0px;
	line-height: 35px;
	display: inline-block;
	background-color: #E6E6E6;
	color: #999999;
	padding: 0px 15px;
	-webkit-border-radius: 0 0 5px 0;
	border-radius: 0 0 5px 0;
}
.p_stats {
	display: inline-block;
	float: right;
	font-size: 0.8em;
}
.box-enter-user {
}
.box-enter-user ul {
	display: inline-block;
	float: left;
	margin: 0;
	padding: 0px;
}
.box-enter-user ul li {
	display: inline-block;
	float: right;
}
.box-enter-user ul li a {
	line-height: 45px;
	padding: 0px 15px;
}
button, input, select, textarea {
	font-size: inherit;
	font-family: inherit;
	padding: 8px;
	border: 1px solid #C0C0C0;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
button, input[type=button], input[type=reset], input[type=submit] {
	border: 0px;
	padding: 9px 15px;
	color: #FFFFFF;
	background-color: #0D96FD;
}
button:hover, input[type=button]:hover, input[type=reset]:hover, input[type=submit]:hover {
	background-color: #666666;
}
button:focus, input[type=button]:focus, input[type=reset]:focus, input[type=submit]:focus, button:active, input[type=button]:active, input[type=reset]:active, input[type=submit]:active {
	background-color: #808080;
}
input[type=checkbox], input[type=radio] {
	padding: 0; /* Addresses excess padding in IE8/9 */
}
input[type=search] {
	-webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */;
	box-sizing: content-box;
}
input[type=search]::-webkit-search-decoration {
	/* Corrects inner padding displayed oddly in S5, Chrome on OSX */
	-webkit-appearance: none;
}
input[type=text], input[type=email], input[type=url], input[type=password], input[type=search], textarea {
}
input[type=text]:focus, input[type=email]:focus, input[type=url]:focus, input[type=password]:focus, input[type=search]:focus, textarea:focus {
}
input[type=text], input[type=email], input[type=url], input[type=password], input[type=search] {
}
textarea {
	overflow: auto;
/* Removes default vertical scrollbar in IE6/7/8/9 */vertical-align: top; /* Improves readability and alignment in all browsers */;
	width: 100%;
}
input[disabled=disabled], input:disabled {
	opacity: 0.4;
	background-color: #CCCCCC;
	color: #FFFFFF;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
label {
	font-weight: normal;
}
.tabs-upload input[type=file], .tabs-upload input.url {
	width: 100%;
}
.title_page {
	font-size: 1.4em;
	color: #999999;
	border-bottom: 2px solid #0D96FD;
	margin: 0;
	padding: 15px;
	margin-bottom: 25px;
}
.title_page i {
	color: #0D96FD;
}
.title_page .lft {
	display: inline-block;
	float: left;
	font-size: 0.8em;
}
.userfile-share {
	display: inline-block;
	float: left;
	font-size: 0.8em;
	margin-bottom: 25px;
}
.userfile-share input {
	width: 250px;
	margin-bottom: 5px;
}
.top-footer {
	padding: 25px 0px;
}
.top-footer .title-oot {
	font-size: 1.4em;
	margin-bottom: 15px;
}
.copyrights {
	width: 350px;
	float: right;
	margin: 20px 55px 0 0;
}
.copyrights p {
	font-size: 1em;
	color: #C0C0C0;
}
.copyrights p a {
	color: #999999;
}
.disclaimer {
	text-align:justify;
	padding: 10px 0;
	color:#888;
	font-size:11px;
}
.foot-facebook, .foot-twitter {
	display: inline-block;
	padding: 0px;
	font-size: 2.2em;
	line-height: 55px;
	height: 55px;
	width: 55px;
	background-color: #CCCCCC;
	margin: 10px 2px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	color: #FFFFFF
}

.foot-facebook:hover, .foot-twitter:hover{
 color: #FFFFFF 
}

.foot-facebook:hover {
background-color: #1568CF
	
}

.foot-twitter:hover {
background-color: #15AACF
	
}
