html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1;text-align:center;background:#fff url(../images/base.jpg) center top repeat;min-width:1086px}
body.tube {background:#e6e6e6 url(../../images/tube_bg.png) repeat-y top center; min-width:1086px}
.tube_left {float:left; width:130px; background:#d6d6d6; text-align:left; overflow:hidden}
.tube_right h1 {font-weight:bold; font-size:18px; padding:14px 0 14px 14px; float:left}
.tube_left h4 {font-weight:bold; font-size:14px; padding:14px 0 14px 14px}
.tube_left ul {padding-left:12px}
.tube_left li {padding:0; margin:0; margin-bottom:1px; float:left; width:100%}
.tube_left li a {font-size:13px; display:block; line-height:20px; vertical-align:middle; padding:0; margin:0; width:100%}
.tube_media {float:left; width:177px; display:inline; margin:4px 0 0px 5px}
.tube_media > a {width:177px; height:132px; display:block; overflow:hidden}
.tube_media img {border:1px solid black; width:175px; height:130px; display:block; overflow:hidden}
.tube_media h4 a {font-size:11px; text-align:center; display:block; width:177px; height:29px; font-weight:bold; overflow:hidden}
.tube_media .duration {float:left; font-size:11px; positoin:relative; top:2px}
.tube_media .views {float:left; font-size:10px}
.tube_media .rating {float:right; color:#08b200; background:url("../images/sprite.png") no-repeat scroll right -230px transparent; height:25px; font-weight:bold; padding-right:30px; line-height:21px; vertical-align:bottom; font-size:10px; display:inline; margin:10px -9px 0 0}
.tube_media .rating.red {color:red; background:url("../images/sprite.png") no-repeat scroll right -257px transparent;}
.tube_right {float:left; width:912px}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
table{border-collapse:collapse;border-spacing:0}
html{min-width:1086px}
body,input,textarea, select,td{font-family:Tahoma,Helvetica,Arial;font-size:11px;font-weight:normal;font-style:normal;color:#000}
a{text-decoration:none;color:#011926}
strong {font-weight:bold}
.clear {clear:both}
.siteContentConstraint{display:table;width:1086px;text-align:left;margin:0 auto}
#container .siteContentConstraint {background:#fff;box-shadow: 0 0 5px rgba(0, 0, 0, 0.075),-320px 0 0 #d6d6d6 inset;}
#header{background-color:#02304a;border-bottom:16px solid #011926; height:171px; overflow:hidden}
.headerConstraint{background:transparent url(../images/logo-20120430.png) no-repeat top left}
#headerLeft{float:left;width:720px}
#headerLeft h1 a, #headerLeft .logo_container a{display:block;width:618px;height:146px; text-indent:-10000px}
#headerLeft h1 a, #headerleft a.main_logo{display:block;width:475px;height:146px;text-indent:-10000px; float:left}
#headerLeft #extra_search {float:left; width:300px; height:50px; overflow:hidden; display:inline; margin-top:73px}
#menu{list-style:none;display:table;width:825px}
#menu li{list-style:none;float:left;width:130px;margin-right:5px;background-color:#062435;font-size:12px}
#menu li a{display:block;width:130px;font-weight:700;text-transform:uppercase;text-align:center;color:#fff;padding:6px 0}
#menu li a.active,ul#menu li a:hover{background-color:#011926}
#menu li .subnav {position:absolute;float:left; z-index: 110;width: 150px; list-style-type:none; padding:0; margin:-2px 0 0 -8px; }
#headerRight{float:right;text-align:right;width:364px; color:white}
#headerRight a {color:white}
#headerRight a:hover {text-decoration:underline}
.searchBox{margin-bottom:40px;padding-top:10px}
.searchBox input[type=text]{font-size:12px;width:170px;padding:3px 5px 3px 32px; display:inline; background-image:url(../../images/search.png); background-repeat:no-repeat}
.loginBox{color:#fff;text-align:left;float:right;}
.loginBox .title {width:152px;text-align:right;text-transform:uppercase;color:#f8eb4b;font-weight:700;margin-bottom:2px}
.loginBox .title b{color:#b7d5e6}
.loginBox input.gradientInputText{background:transparent url(../images/gradientInputText.png) no-repeat top left;color:#000;border:0;width:152px;height:21px;margin-bottom:3px;font-size:12px;padding:2px 5px}
.loginBox a{color:#5fb8ea;font-weight:700}
#container{padding-bottom:0}
#leftAdverts{float:left;background-color:#000;width:174px;text-align:center}
ul.simpleBoxes{list-style:none;width:156px;margin:5px 0 15px 12px}
ul.simpleBoxes li{float:left;width:74px;height:74px;margin-right:4px;margin-bottom:5px}
ul.simpleBoxes li a{display:block;border:1px solid #725000}
ul.simpleBoxes li a img{border:1px solid #ebcf8e; display:block}
#content{float:left;width:562px;padding:5px 15px}
#content h1 { background:#eae9e6; color:#95938f; font-weight:normal; font-size:26px; text-align: center; border-radius: 3px; padding:10px 0; margin-top: 6px; margin-bottom: 8px; vertical-align:middle; position: relative;}
#content h1 a{color: #317da8; text-decoration: none;}
#content h1 a:hover{color: #13304c; text-decoration: none;}
#content h1 .small_right {color:red; float:right; line-height:35px; vertical-align:middle; padding-right:10px}
#content p.category_description { background:#eae9e6; font-weight:normal; font-size:14px; text-align: center; border-radius: 3px; padding:10px 0; margin-bottom: 8px; vertical-align:middle; position: relative;}
a.small_right:hover {text-decoration:underline}
.videoDetails{display:table;width:562px;border-bottom:1px solid #dedede;padding-bottom:10px;padding-top:5px;margin-bottom:3px}
.videoDetails:last-child{border-bottom:0}
.videoDetailsThumbnail{float:left;width:186px}
.videoDetailsText{float:left;width:341px;margin-left:5px}
.videoDetailsText .title a, .videoDetailsText h3 a {font-size:16px; font-weight: 400 !important; color:#317da8}
.description{height:80px;font-size:12px;line-height: 20px !important;}
.video_description{font-size: 12px !important;}
.description a, .video_description a{font-size: 12px !important; font-weight: 600 !important; text-decoration: underline;}
.description a:hover, .video_description a:hover{text-decoration: none;}
.stats b{color:#08b200; font-weight:bold}
.stats b.negative{color:red}
.stats a{color:#000}
ul.pagination{list-style:none;margin:7px 0 7px 10px; display:inline-block;}
ul.pagination li{list-style:none;margin-right:5px;float:none; display:inline-block;}
ul.pagination li a{border:1px solid #ccc;font-size:14px;border-radius:3px;color:#369;background:#efefef url(../images/paginationBg.png) repeat-x top left;padding:1px 5px; display:inline-block; line-height:22px; }
ul.pagination li.active a{color:#464646;font-weight:bold;text-decoration:none;background-color:#ddd}
#rightSidebar{float:right;width:320px;text-align:center;padding-bottom:15px;}
.adbox300{width:300px;height:250px;background-color:#011926;margin:5px auto 10px}
.topUsersWrapperTop{font-size:6px;width:300px;height:7px;background:transparent url(../images/topUsersWrapperTop.png) no-repeat bottom left;margin:0 auto}
.topUsers{text-align:left;width:280px!important;background:#e2e2e2;margin:0 auto;padding:10px}
.topUsers-nopad{width: 300px !important; padding: 0 !important;}
.topUsers h2{font-size:18px;color:#317da8;margin-bottom:10px}
.stitle-topusers, .stitle-topcomm, .stitle-rbgal{background-color: rgba(255, 255, 255, 0.5); background-position: 20px center; background-repeat: no-repeat; color:#444 !important; text-transform: uppercase; padding: 14px 0 14px 50px; margin-bottom:0 !important; position: relative;}
.stitle-topusers{background-image: url(../images/icon_topusers.png);}
.stitle-topcomm{background-image: url(../images/icon_topcomm.png);}
.stitle-rbgal{background-image: url(../images/icon_rbgal.png);}
ul#topUsersList{font-size: 21px; color: rgba(0, 0, 0, 0.3); line-height: 34px; list-style:decimal;list-style-position:inside;padding-bottom: 8px; margin-left:25px;margin-top:10px;width:250px;float:left;}
ul#topUsersList li{height:34px; line-height: 34px; border-bottom: 1px dotted rgba(0, 0, 0, 0.1); padding: 10px 0; float:left; width:100%}
ul#topUsersList li:last-child{border-bottom: 0;}
ul#topUsersList li a{display:block;width:250px;height:34px; position:absolute; float:left; font-size:12px}
ul#topUsersList li img{width:34px;height:34px; border-radius: 2px; position: absolute; top: -33px; right: 0;}
ul#topUsersList li b{display:block;width:150px;color:#317da8;font-size:12px;font-weight:700;margin: -33px 0 3px 40px; line-height:17px;}
ul#topUsersList li span{display:block;width:150px;font-size:12px;color:#000;margin: 0 0 0 40px; line-height:8px;}
.topUsersWrapperBottom{font-size:6px;width:300px;height:7px;background:transparent url(../images/topUsersWrapperBottom.png) no-repeat top left;margin:0 auto}
.videoDescription{text-align:center;font-size:12px;margin-bottom:10px}
#content .videoDescription h1, .videoDescription h2, .videoDescription h3, .newest_title{text-align:center;font-size:16px;color:#317da8;margin-bottom:5px; font-weight:bold; background:transparent; padding:0; line-height:18px}
.newest_title {text-align:left}
#player{background-color:#000;width:522px;margin:0 auto}
#playerDetails{background-color:#02304a;width:522px;margin:0 auto 0}
#playerDetails li{float:left;color:#fff;text-align:center;font-size:12px;margin:0 5px;padding:12px 0 7px}
#playerDetails li a.likeVideo{text-indent:-10000px;display:block;width:25px;height:22px;background:transparent url(../images/sprite.png) no-repeat 0 0;margin-top:-7px}
#playerDetails li a.dislikeVideo{text-indent:-10000px;display:block;width:25px;height:22px;background:transparent url(../images/sprite.png) no-repeat 0 -43px;margin-top:-2px}
#playerDetails li .likeRatingBar{margin-top:5px;border:1px solid #fff; width:100px; background:#979797}
#playerDetails li .likeRatingBar .likeIt{float:left;height:5px;width:50px;background-color:#08b200}
#playerDetails li .likeRatingBar .dislikeIt{float:left;height:5px;width:50px;background-color:red}
#playerDetails li.heart{padding:2px 0 0 0; height:27px}
#playerDetails li.heart a{background:transparent url(../images/sprite.png) no-repeat 0 -72px;padding-left:30px; display:block; height:27px; line-height:35px; vertical-align:middle; color:white; font-size:12px}
#playerDetails li.watch{background:transparent url(../images/sprite.png) no-repeat 0 -162px;padding-left:33px}
#playerDetails li.download{float:right;margin-right:10px}
#playerDetails li.download a{text-indent:-10000px;display:block;width:19px;height:21px;background:transparent url(../images/sprite.png) no-repeat -5px -109px}
#playerDetails li.hd{float:right}
#playerDetails li.hd a{text-indent:-10000px;display:block;width:25px;height:17px;background:transparent url(../images/sprite.png) no-repeat -5px -142px}
#relatedVideos, ul.amateur_thumbs {display:table;width:522px;margin:0 auto 6px}
#relatedVideos li, ul.amateur_thumbs li {float:left;margin-right:3px;margin-bottom:5px;width:101px;text-align:center}
.topComment-pad{padding: 10px !important; position: relative; display: block;}
.topCommentText{background:#02304a url(../images/sprite.png) no-repeat 5px -196px;color:#fff;font-weight:700;padding:7px 0 7px 32px; font-size:12px}
.topCommentText b{color:#ecf48e}
.topCommentDetails{background-color:#ecf48e;padding:7px}
.topCommentAvatar{float:left;width:60px}
.topCommentAvatar a img{border:1px solid #000;width:50px}
.topCommentComment{float:left; padding:4px}
.topCommentNote{position:absolute;margin:-10px 0 0 420px}
.topCommentUsername a{font-size:12px;font-weight:700;color:#317da8}
.leaveCommentTextarea{float:left;width:400px; font-size:13px}
.xxleaveCommentPoster{background: rgba(0, 0, 0, 0.15); float:left; width:368px; height: 36px; font-weight:700; border: 0; border-top-left-radius: 4px; border-top-right-radius: 4px; padding: 0 12px;}
.leaveCommentTextarea textarea{background: rgba(0, 0, 0, 0.075); width:368px;height:58px;font-weight:700; font-size:13px; border: 0; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; padding: 8px 12px;}
.leaveCommentButtons{float:right;width:120px}
.leaveCommentButtons > a, #smiley_container > a, button.thick.submit{display:block;width:122px;border:0;background-color:#02304a;text-align:center;color:#fff;padding:7px 0; cursor:pointer; font-weight:700; font-size:12px; font-family:Tahoma,Helvetica,Arial; border-radius: 3px; margin-bottom: 5px;}
.leaveCommentButtons > a:hover, #smiley_container > a:hover, button.thick.submit:hover{background-color: #95938f;}
button.thick.submit {width:122px}
.leaveCommentButtons a img{vertical-align:middle}
h2.userComments{color:#02304a;font-weight:700;font-size:12px;background:transparent url(../images/sprite.png) no-repeat 0 -280px;border-bottom:1px solid silver;margin:0 auto;padding:7px 0 7px 30px}
.userCommentsList{width:522px;margin:0 auto; overflow:hidden}
.userComment{border-bottom:1px solid silver;display:table;width:522px;padding:10px 0 0px 10px}
.userCommentAvatar{float:left;width:70px; display:block}
.userCommentAvatar img {border:0; padding:3px; background:white}
.userCommentDetails{float:left;padding:0 4px 4px 4px;}
.profile_box_container .userComment.odd {background:#e2e2e2}
.profile_box_container h2.userComments {color:black}
.profile_box_container h2.userComments, .profile_box_container .userCommentUsername {color:#888;}
ul.userCommentRating{position:absolute;list-style:none;display:table;width:100px;margin:0 0 0 350px}
.profile_box_container ul.userCommentRating{display:none}
ul.userCommentRating li{float:left;display:block;height:16px}
ul.userCommentRating li a{line-height:20px;display:block;padding-left:24px;color:#000}
ul.userCommentRating li a.commentLikeIt{background:transparent url(../images/sprite.png) no-repeat 0 -230px}
ul.userCommentRating li a.commentDislikeIt{background:transparent url(../images/sprite.png) no-repeat 0 -258px}
.userCommentUsername{color:#317da8}
.userCommentText{margin-top:3px; max-width:348px; font-size:12px; line-height: 20px;}
ul#menu li a:hover,.loginBox a:hover,.videoDetailsText .title a:hover,.stats a:hover,ul#topUsersList li a:hover b,.topCommentUsername a:hover,ul.userCommentRating li a:hover{text-decoration:underline}
.videoDetailsThumbnail a img,ul#relatedVideos li a img, ul.amateur_thumbs li a img {border:1px solid #000; display:block}
.topCommentCommentText{margin-top:5px; max-width:348px; font-size:12px}
.stats span { display:block; float:left; width:100px }
ul#playerDetails:after,ul#playerDetails li .likeRatingBar:after,.topCommentDetails:after,.leaveComment:after,.userComment:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.topComment,.leaveComment{width:522px;margin:0 auto 10px}
.leaveCommentButtons a.thick,.userCommentUsername a{font-weight:700; font-size:12px}
.userCommentUsername, .userCommentUsername a {color:#317DA8}
#dhtmltooltip{position:absolute; max-width:250px;
#width: 250px;
border:1px solid black; padding:2px; background-color:white; visibility:hidden; z-index:100; font-size:10px; color:black}
.date_div { background:#062435;color: #fff;padding: 5px;line-height: 20px;border: 1px solid #fff;text-shadow: 1px 1px 0px #000;margin: 10px 0px; font-size:14px;}
.date_div.first { margin-top:0; }
.more_videos { background:#062435;color: #fff; border: 1px solid #fff;text-shadow: 1px 1px 0px #000;margin: 10px 0px;}
.more_videos a {color:#F8EB4B; display:block; padding: 5px;line-height: 20px; font-size:16px; font-family:Tahoma,Helvetica,Arial; text-align:center; font-weight:bold }
ul#nav li a#bookmark_shoosh2 {color: #ffcc00;}

.hood_wrap {color:#567782; background:#062435; padding:12px 0; margin:0 auto 10px auto;width:522px}
.hood_wrap a {color:white; text-decoration:none}
.hood_wrap a:hover {text-decoration:underline}
.hood_wrap .category {float:left; text-align: left; display:inline; margin:0 2% 8px 2%}
.hood_wrap .tags {float:left; text-align:left; display:inline;margin:0 2%}

.poll {font-size:12px; padding-bottom:10px}
.poll li {padding-bottom:15px}
.poll .title {font-size:16px; color:#317da8; padding:10px; background:#e2e2e2; font-weight:bold; margin:10px}

#footer {background: #2d2d2d; padding:0; position: relative;}
#footer > .footer-top{border-bottom: 4px solid #456296; padding: 20px 30px; position: relative;}
.footer-top > h2{font-size: 14px; font-weight: 600; color: #fff; text-align: center; margin-bottom: 5px; position: relative;}
.footer-top > p{font-size: 11px; font-weight: 400; color: #8c8c8c; text-align: center; line-height: 15px; position: relative;}
#footer > .footer-bottom{min-height: 60px; padding: 15px 30px; position: relative;}
#footer a{color: #8c8c8c; text-decoration: none;}
#footer a:hover{color: #fff; text-decoration: none;}
.footer-share{height: 32px; text-align: left; position: absolute; top: 15px; left: 30px;}
.footer-share a{width: 32px; height: 32px; text-decoration: none; margin: 0 10px 0 -1px; position: relative; display: inline-block; opacity: 0.5;}
.footer-share a:hover{text-decoration: none; opacity: 1;}
.footer-share a img{width: 32px; height: 32px; position: absolute; top: 0; left: 0;}
.footer-bottom > p{font-size: 12px !important; font-weight: 400 !important; color: #8c8c8c; line-height: 18px; position: absolute;}
.footer-bottom > p span{color: #444;}
.footer-bottom > p a{font-size: 12px !important; font-weight: 400 !important; line-height: 18px !important;}
.footer-bleft{bottom: 15px; left: 30px;}
.footer-tright{top: 15px; right: 30px;}
.footer-bright{top: 36px; right: 30px;}

#fancybox-loading{position:fixed;top:50%;left:50%;width:40px;height:40px;margin-top:-20px;margin-left:-20px;cursor:pointer;overflow:hidden;z-index:1104;display:none}
#fancybox-loading div{position:absolute;top:0;left:0;width:40px;height:480px;background-image:url(../../images/fancybox/fancybox.png)}
#fancybox-overlay{position:absolute;top:0;left:0;width:100%;z-index:1100;display:none}
#fancybox-tmp{border:0;overflow:auto;display:none;margin:0;padding:0}
#fancybox-wrap{position:absolute;top:0;left:0;z-index:11001;outline:none;display:none;padding:20px}
#fancybox-outer{position:relative;width:100%;height:100%;background:#fff}
#fancybox-content{width:0;height:0;outline:none;position:relative;overflow:hidden;z-index:1102;border:0 solid #fff;padding:0}
#fancybox-hide-sel-frame{position:absolute;top:0;left:0;width:100%;height:100%;background:transparent;z-index:1101}
#fancybox-close{position:absolute;top:-15px;right:-15px;width:30px;height:30px;background:transparent url(../../images/fancybox/fancybox.png) -40px 0;cursor:pointer;z-index:1103;display:none}
#fancybox-error{color:#444;font:normal 12px/20px Arial;margin:0;padding:14px}
#fancybox-img{width:100%;height:100%;border:none;outline:none;line-height:0;vertical-align:top;margin:0;padding:0}
#fancybox-frame{width:100%;height:100%;border:none;display:block}
#fancybox-left,#fancybox-right{position:absolute;bottom:0;height:100%;width:35%;cursor:pointer;outline:none;background:transparent url(blank.html);z-index:1102;display:none}
#fancybox-left{left:0}
#fancybox-right{right:0}
#fancybox-left-ico,#fancybox-right-ico{position:absolute;top:50%;left:-9999px;width:30px;height:30px;margin-top:-15px;cursor:pointer;z-index:1102;display:block}
#fancybox-left-ico{background-image:url(../../images/fancybox/fancybox.png);background-position:-40px -30px}
#fancybox-right-ico{background-image:url(../../images/fancybox/fancybox.png);background-position:-40px -60px}
#fancybox-left:hover,#fancybox-right:hover{visibility:visible}
#fancybox-left:hover span{left:20px}
#fancybox-right:hover span{left:auto;right:20px}
.fancybox-bg{position:absolute;border:0;width:20px;height:20px;z-index:1001;margin:0;padding:0}
#fancybox-bg-n{top:-20px;left:0;width:100%;background-image:url(../../images/fancybox/fancybox-x.png)}
#fancybox-bg-ne{top:-20px;right:-20px;background-image:url(../../images/fancybox/fancybox.png);background-position:-40px -162px}
#fancybox-bg-e{top:0;right:-20px;height:100%;background-image:url(../../images/fancybox/fancybox-y.png);background-position:-20px 0}
#fancybox-bg-se{bottom:-20px;right:-20px;background-image:url(../../images/fancybox/fancybox.png);background-position:-40px -182px}
#fancybox-bg-s{bottom:-20px;left:0;width:100%;background-image:url(../../images/fancybox/fancybox-x.png);background-position:0 -20px}
#fancybox-bg-sw{bottom:-20px;left:-20px;background-image:url(../../images/fancybox/fancybox.png);background-position:-40px -142px}
#fancybox-bg-w{top:0;left:-20px;height:100%;background-image:url(../../images/fancybox/fancybox-y.png)}
#fancybox-bg-nw{top:-20px;left:-20px;background-image:url(../../images/fancybox/fancybox.png);background-position:-40px -122px}
#fancybox-title{font-family:Helvetica;font-size:12px;z-index:1102}
.fancybox-title-inside{padding-bottom:10px;text-align:center;color:#333;background:#fff;position:relative}
.fancybox-title-outside{padding-top:10px;color:#fff}
.fancybox-title-over{position:absolute;bottom:0;left:0;color:#FFF;text-align:left}
#fancybox-title-over{background-image:url(fancy_title_over.html);display:block;padding:10px}
.fancybox-title-float{position:absolute;left:0;bottom:-20px;height:32px}
#fancybox-title-float-wrap{border:none;border-collapse:collapse;width:auto}
#fancybox-title-float-wrap td{border:none;white-space:nowrap}
#fancybox-title-float-left{background:url(../../images/fancybox/fancybox.png) -40px -90px no-repeat;padding:0 0 0 15px}
#fancybox-title-float-main{color:#FFF;line-height:29px;font-weight:700;background:url(../../images/fancybox/fancybox-x.png) 0 -40px;padding:0 0 3px}
#fancybox-title-float-right{background:url(../../images/fancybox/fancybox.png) -55px -90px no-repeat;padding:0 0 0 15px}
.fancybox-ie6 #fancybox-close{background:transparent;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/fancybox/fancy_close.png',sizingMethod='scale')}
.fancybox-ie6 #fancybox-left-ico{background:transparent;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/fancybox/fancy_nav_left.png',sizingMethod='scale')}
.fancybox-ie6 #fancybox-right-ico{background:transparent;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/fancybox/fancy_nav_right.png',sizingMethod='scale')}
.fancybox-ie6 #fancybox-title-over{background:transparent;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/fancybox/fancy_title_over.png',sizingMethod='scale');zoom:1}
.fancybox-ie6 #fancybox-title-float-left{background:transparent;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/fancybox/fancy_title_left.png',sizingMethod='scale')}
.fancybox-ie6 #fancybox-title-float-main{background:transparent;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/fancybox/fancy_title_main.png',sizingMethod='scale')}
.fancybox-ie6 #fancybox-title-float-right{background:transparent;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/fancybox/fancy_title_right.png',sizingMethod='scale')}
.fancybox-ie6 #fancybox-bg-w,.fancybox-ie6 #fancybox-bg-e,.fancybox-ie6 #fancybox-left,.fancybox-ie6 #fancybox-right,#fancybox-hide-sel-frame{height:expression(this.parentNode.clientHeight+"px")}
#fancybox-loading.fancybox-ie6{position:absolute;margin-top:0;top:expression((-20+(document.documentElement.clientHeight?document.documentElement.clientHeight/2:document.body.clientHeight/2) 0 (ignoreMe=document.documentElement.scrollTop?document.documentElement.scrollTop:document.body.scrollTop)) 0 px)}
#fancybox-loading.fancybox-ie6 div{background:transparent;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/fancybox/fancy_loading.png',sizingMethod='scale')}
.fancybox-ie .fancybox-bg{background:transparent!important}
.fancybox-ie #fancybox-bg-n{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/fancybox/fancy_shadow_n.png',sizingMethod='scale')}
.fancybox-ie #fancybox-bg-ne{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/fancybox/fancy_shadow_ne.png',sizingMethod='scale')}
.fancybox-ie #fancybox-bg-e{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/fancybox/fancy_shadow_e.png',sizingMethod='scale')}
.fancybox-ie #fancybox-bg-se{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/fancybox/fancy_shadow_se.png',sizingMethod='scale')}
.fancybox-ie #fancybox-bg-s{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/fancybox/fancy_shadow_s.png',sizingMethod='scale')}
.fancybox-ie #fancybox-bg-sw{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/fancybox/fancy_shadow_sw.png',sizingMethod='scale')}
.fancybox-ie #fancybox-bg-w{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/fancybox/fancy_shadow_w.png',sizingMethod='scale')}


.profile_top {}
.profile_top .profile_avatar {float:left; display:inline; margin:15px 0 0 15px}
.profile_top .profile_avatar img {border:1px solid black; width:130px; display:block}
.profile_top .profile_top_right {float:left; display:inline; font-size:12px; margin:20px 0 0 12px; width:378px; overflow:hidden}
.profile_top .profile_username {font-size:16px}
.profile_top_right p { padding:3px 0 1px 0 }
.profile_top_right p label {font-weight:bold; width:70px; text-align:right; font-size:12px; margin:3px 10px 0 0; display:inline; float:left}
.profile_top_right p input, select {float:left; font-size:12px; width:160px}
.profile_top_right select.dob {width:45px; display:inline; margin-right:5px}
.profile_top_right select.dob.Year {width:60px}
.profile_top_right button {float:right; display:inline; margin:15px 100px 0 0}

.item ul.plugs, .item ul.plugs {list-style: none;}
.item ul.plugs li {border-bottom: 1px solid #ccc;padding: 5px 0px;}
.item ul.plugs li .plug_img, .item ul.plugs li .plug_img {float: left;margin: 4px 5px;}
.item ul.plugs li .plug_img img, .item ul.plugs li .plug_img img {border: 1px solid #000;background-color: #fff;padding: 1px;}
.item ul.plugs li .info {font-size: 11px;margin-left: 65px;color: #90afbb;}

.item ul.plugs li {border-bottom: 1px solid #ccc;padding: 7px 0px;}
.item ul.plugs li .info {margin: 0px 0px 0px 85px;color: #666; font-size:10px}
.item ul.plugs li .plug_info {font-size:11px; height:30px; overflow:hidden}
.item ul.friends {list-style: none;}
.item ul.friends li {text-align: center;float: left;margin: 5px 4px;}
.item ul.friends li img {border: 1px solid #666;background-color: #fff;padding: 1px;}
.item ul.friends li h5 {text-align: center;}
.item ul.plugs li {border-bottom: 1px solid #ccc;padding: 7px 0px;}
.item ul.plugs li .title a {font-size:14px}
.item ul.plugs li .info {margin: 0px 0px 0px 85px;color: #666; font-size:10px}
.item ul.plugs li .plug_info {font-size:12px; height:30px; overflow:hidden}
.item ul.plugs li .plug_info a {font-size:12px; font-weight:bold; text-decoration:underline;}
.item ul.friends {list-style: none;}
.item ul.friends li {text-align: center;float: left;margin: 5px 4px;}
.item ul.friends li img {border: 1px solid #666;background-color: #fff;padding: 1px;}
.item ul.friends li h5 {text-align: center;}

.galleries img {margin:10px 0 5px 0}
.galleries a {font-weight:bold}
.real_girls {}
.real_girls ul {}
.real_girls ul li {list-style: none;float: left;margin: 5px 15px;}
.real_girls ul li img {background-color: #fff;}
#poll_results { margin-top:4px; color:#104E83; font-size:12px }
.graph{width:300px;}
.bar-title{position:relative;float:left;width:144px;line-height:20px;margin-right:17px;font-weight:700;text-align:right; color:#2a72ac}
.bar-container{position:relative;float:left;width:100px;height:10px;margin:0 0 15px}
.bar-container div{background-color:#ae0200;height:20px}
.bar-container strong{position:absolute;right:-32px;top:0;overflow:hidden}
#poll_results p{text-align:center}

#sexybabe_galleries img {margin:5px 0}
#login_wrap {}
#login_wrap .split {font-size: 12px;padding: 0px 10px;}
#login_wrap h1 {font-size: 20px;font-weight: normal;margin-bottom: 10px;}
#login_wrap .bright {border-right: 2px solid #ccc;}
#login_wrap .split h2 {clear: both;font-weight: normal;font-size: 16px;color: #08456F;background-color: #c4e4f1;padding: 5px;border-top: 1px solid #95cde4;border-bottom: 1px solid #95cde4;}
#login_wrap .split p {font-size: 11px;color: #77888f;padding-top: 5px;}
#login_wrap .split ul {list-style: square;margin-left: 30px;padding: 10px 0px;color: #64a7c2;}
#login_wrap .split ul li {padding: 2px 0px;color: #515e64;font-size: 11px;}
.split label {display: block;width: 150px;text-align: right;float: left;font-size: 12px;padding: 2px 26px 3px 0px;color: #4588ac;font-style: italic;}
.split input {border: 1px solid #ccc;width: 270px;padding: 2px;}
.split select.two {border: 1px solid #ccc;width: 50px;}
.split select.four {border: 1px solid #ccc;width: 80px;}
.split input, label {margin-bottom: 5px;}
.split input.radios {width: 20px;} 
.split textarea {border: 1px solid #ccc;padding: 2px;width: 270px;height: 150px;}
.split button {margin: 10px;float: right;background-image:url(../../images/navigation_bg_sprite.png); background-position: center -5px;color: #ffcc00;font-size: 12px;font-family: Lucida Grande,Helvetica,Arial,Verdana,sans-serif;-moz-border-radius:6px; -webkit-border-radius:6px; -khtml-border-radius:6px; border-radius:6px;border: 1px solid #000;padding: 3px;}
.inline_label, .split label.inline_label { width:auto; float:none; display:inline; font-style:normal; color:black }

.top_comment .top_comment_right   {font-size:12px}
.top_comment .top_comment_right {float:left; width:150px; overflow:hidden; display:inline; margin-top: -10px; margin-left:6px}
.top_comment .top_comment_right .media_title a {color:black; font-size:12px; display:block; margin-bottom:5px}
.top_comment .top_comment_right  a {font-weight:bold; font-size:12px}

#smiley_box {position:absolute; z-index:999; background:white; border:5px solid #95938f; border-radius: 3px; display:none}
#smiley_box table {padding:0px; display:block; background:white}
#smiley_box td {background:white; border:1px solid #02304A}
#smiley_box td a {display:block; padding:3px}
#smiley_box tr > td {border-left:0}
#smiley_box tbody > tr td {border-top:0}
#smiley_box td.far_right {border-right:0}
#smiley_box td.bottom {border-bottom:0}

.next_button, .prev_button {width:47px; display:block; height:15px; background-image:url(../../images/prevnext.gif); text-indent:-9999px; position:relative; margin:4px 0}
.prev_button {float:left; left:8px}
.next_button {width:47px; display:block; height:15px; background-image:url(../../images/prevnext.gif); background-position:0 15px; float:right; right:8px}
.mid_header {width:414px; text-align:center; color:#000; text-shadow:0 1px 1px #fdc53e; display:block; float:left; font-size:16px; border:1px solid #679514; background:#9cc746; margin-left:14px; border-radius:2px;
background: #d5e77a; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q1ZTc3YSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5Y2M3NDYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #d5e77a 0%, #9cc746 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d5e77a), color-stop(100%,#9cc746)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #d5e77a 0%,#9cc746 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #d5e77a 0%,#9cc746 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #d5e77a 0%,#9cc746 100%); /* IE10+ */
background: linear-gradient(to bottom,  #d5e77a 0%,#9cc746 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5e77a', endColorstr='#9cc746',GradientType=0 ); /* IE6-8 */

}
.mid_header:hover {color:#1C9106}

.fresh_amateur li {float:left; padding:0 1px 3px 2px}
.fresh_amateur li a {float:left; display:block}
.fresh_amateur li a img {float:left; display:block}

.searches_list li a {color:#317da8; font-weight:bold; font-size:20px}

/** edits 2014-12-03 **/
.theprimary{width: 1086px; margin: 0 auto; position: relative;}
.page-noleft{width: 712px !important;}
.page-imgview{width:752px!important}

/** shooshnet bar **/
#shooshnet{background: #011926; font-family:Verdana,sans-serif; height:48px; line-height: 48px; overflow:hidden; position: relative;}
#shooshnet > .theprimary{height: 48px;}
.shooshnet-user{font-size: 11px !important; font-weight: 400; color: #fff; text-align: right; line-height: 28px; padding: 0; margin: 0; position: absolute; top: 10px; right: 25px;}
.shooshnet-user span{color: #444;}
.shooshnet-user a{background: rgba(255, 255, 255, 0.15); font-size: 11px !important; font-weight: 400 !important; color: #fff; text-decoration: none; line-height: 28px; border-radius: 3px; padding: 0 12px; margin: 0 0 0 5px; display: inline-block;}
.shooshnet-user a.registerbutton{background: #879c26;}
.shooshnet-user a:hover{background: rgba(255, 255, 255, 0.1); color: #fff; text-decoration: none;}
.shooshnet-login{list-style-type: none; text-align: right; padding: 0; margin: 0; position: absolute; top: 0; right: 0; display: block;}
.shooshnet-login li{padding: 0; margin: 0; position: relative; display: inline-block;}
.shooshnet-login li a{font-size: 13px; font-weight: 400; color: #fff; text-align: center; text-decoration: none; line-height: 32px; padding: 0 15px; position: relative; display: block;}
.shooshnet-login li a:hover{color: #f8eb4b; text-decoration: none;}
#shooshnet .logo{background:url(../images/logo-20150923.png) left top no-repeat;width:226px;height:24px;position:absolute;top:12px;left:0;overflow:hidden;display:block}
#shooshnet .logo h1{position:absolute;top:0;left:100%}

/** login page **/
.shooshlogin{background: #eae9e6; border-radius: 7px; padding: 0 0 10px 0; margin: 25px 0; position: relative;}
.shooshlogin > div{padding: 15px 0; margin: 0; position: relative;}
.shooshlogin > div > h1{background: transparent !important; font-size: 26px !important; font-weight: 300 !important; color: #7c7a75 !important; text-align: center; line-height: 32px !important; padding: 0 !important; margin: 0; position: relative;}
.shooshlogin > div > h2{font-size: 14px; font-weight: 300; color: #95938f; text-align: center; padding: 0; margin: 0; position: relative;}
.shooshlogin > section{text-align: center; padding: 5px 0 0 0; margin: 0; position: relative;}

.theloginform{background: #fff; width: 90%; text-align: center; border-radius: 5px; box-shadow: 0 2px 8px rgba(0, 0, 0, 0.13); padding: 15px 0 20px 0; margin: 0 auto 20px auto; position: relative;}
.theloginform:hover{box-shadow: 0 4px 12px rgba(0, 0, 0, 0.13);}
.theloginform > label{font-family: Verdana, Arial; font-size: 14px; font-weight: 300; color: #95938f; text-align: center; padding: 0; margin: 0 auto 10px auto; position: relative; display: inline-block;}
.theloginform > .loginfield{background: #eae9e6; width: 90%; height: 38px; font-family: Verdana, Arial; font-size: 14px; font-weight: 300; color: #95938f; text-align: center; border: 0; border-radius: 3px; padding: 0; margin: 0 0 18px 0; position: relative; display: inline-block;}
.theloginform > .loginfield:hover, .theloginform > .loginfield:focus{box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) inset;}
.theloginform > .loginsubmit{background: #02304a; width: 100px; height: 32px; font-family: Verdana, Arial; font-size: 14px; font-weight: 300; color: #fff; text-align: center; border: 0; border-radius: 3px; padding: 0; margin: 0 auto; position: relative; display: inline-block; cursor: pointer;}
.theloginform > .loginsubmit:hover{background: #3b3837; color: #95938f;}
.theloginform > .forgotbutton{background: #95938f; width: 160px; height: 32px; font-size: 14px; font-weight: 300; color: #fff; text-align: center; text-decoration: none; line-height: 32px; vertical-align: top; border-radius: 4px; padding: 0; margin: 0 auto; position: relative; display: inline-block;}
.theloginform > .forgotbutton:hover{background: #3b3837; color: #95938f; text-decoration: none;}

.thejoinform > aside{width: 30%; padding: 0; margin: 0 auto; position: relative; display: inline-block;}
.thejoinform > aside > label{font-family: Verdana, Arial; font-size: 14px; font-weight: 300; color: #95938f; text-align: right; line-height: 32px; padding: 0; margin: 0 0 6px 0; position: relative; display: block;}
.thejoinform > div{width: 65%; text-align: left; vertical-align: top; padding: 0 0 0 12px; margin: 0 auto; position: relative; display: inline-block;}
.thejoinform > div > .joinfield{background: #eae9e6; width: 90%; height: 32px; font-family: Verdana, Arial; font-size: 14px; font-weight: 300; color: #95938f; text-align: left; line-height: 32px; border: 0; border-radius: 3px; padding: 0; margin: 0 0 6px 0; position: relative; display: block;}
.thejoinform > div > .joinfield:hover, .thejoinform > div > .joinfield:focus{box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) inset;}
.thejoinform > div > .joincheckb{margin: 3px auto 0 auto; position: relative; display: inline-block;}
.thejoinform > div > label{font-size: 12px; font-weight: 300; color: #95938f; text-align: center; line-height: 32px; padding: 0; margin: 0 8px 0 auto; position: relative; display: inline-block;}
.thejoinform > div > select{background: #eae9e6; height: 32px; font-family: Verdana, Arial; font-size: 12px; font-weight: 300; color: #95938f; border: 0; border-radius: 3px; position: relative; display: inline-block;} 
.thejoinform > div > select:hover, .thejoinform > div > select:focus{background: #dddcd8;}
.joinselect-bmonth{width: 15%; margin: 6px 6px 0 auto;}
.joinselect-bday{width: 45%; margin: 6px 6px 0 auto;}
.joinselect-byear{width: 25%; margin: 6px auto 0 auto;}
.joinselect-country{width: 90%; margin: 6px auto;}
.joinzip{margin: 6px 0 0 0 !important;}
.thejoinform > .loginsubmit{margin: 15px auto 0 auto;}

/** global header **/
.theheader{background: #02304a; height: 120px; position: relative;}
.theheader > .theprimary{text-align: center; height: 120px;}
.thelogo{width: 554px; height: 120px; text-decoration: none; position: absolute; top: 0; left: -25px; z-index: 96; overflow: hidden;}
.thelogo>a{width:100%;height:100%;text-decoration:none;text-indent:-9999px;position:absolute;top:0;left:0}
.thelogo{background-image:url(../images/logo-20141209.jpg);background-position:left top;background-repeat:no-repeat;background-size:554px 160px}
.thenav{background: #fff; height: 44px; border-bottom: 1px solid rgba(0, 0, 0, 0.2); box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05); margin-bottom: 20px; position: relative; z-index: 98;}
.thenav > .theprimary{height: 44px;}
.thenav-menu{list-style-type: none; text-align: left; position: relative;}
.thenav-menu li{position: relative; display: inline-block;}
.thenav-menu > li:hover{background: #062435;}
.thenav-menu li a{text-decoration: none; position: relative; display: block;}
.thenav-menu li a p{font-size: 14px; font-weight: 600; color: #666; text-align: center; text-transform: uppercase; line-height: 44px; padding: 0 15px; position: relative;}
.thenav-menu li a p img{position:relative;top:3px;left:-2px}
.thenav-menu li a:hover p{color: #fff;}
.thenav-menu li ul{background: #062435; width: 200px; padding: 8px 10px; position: absolute; top: 44px; left: 0; display: none;}
.thenav-menu li > .navmenu-videos{width: 700px;}
.thenav-menu li:hover ul{display: block;}
.thenav-menu li ul li{width: 100%; display: inline-block;}
.thenav-menu li > .navmenu-videos li{width: 24%;}
.thenav-menu li ul li a p{font-size: 14px; font-weight: 400; color: #fff; text-align: left; text-transform: uppercase; line-height: 32px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.thenav-menu li ul li a:hover p{color: #666;}

/** profile page **/
.constraintProfile{box-shadow:0 0 5px rgba(0,0,0,.075)!important}
.content-profile{width:auto!important;padding:10px!important;float:none!important}
.profile{position:relative}
.profile>.hdr{
	background:#000;
	height:320px;
	position:relative
}
.profile>.hdr .cover{
	background-position:center center;
	background-repeat:no-repeat;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-ms-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	width:100%;
	height:100%;
	text-align:center;
	position:absolute;
	top:0;
	left:0;
	overflow:hidden;
	opacity:.72;
	-webkit-transition:all .24s ease-out;
	-moz-transition:all .24s ease-out;
	-ms-transition:all .24s ease-out;
	-o-transition:all .24s ease-out;
	transition:all .24s ease-out;
	z-index:1
}
.profile>.hdr:hover .cover{opacity:.56}

.profile>.hdr .avatar{
	background:rgba(0,0,0,.64);
	width:150px;
	height:150px;
	border-radius:2px;
	box-shadow:0 3px 12px rgba(0,0,0,.32);
	padding:8px;
	position:absolute;
	top:38%;
	left:50%;
	-webkit-transform:translate(-50%,-50%);
	-moz-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	-o-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);
	overflow:hidden;
	z-index:2
}
.profile>.hdr .avatar img{width:100%;height:auto;max-height:150px;display:block}
.profile>.hdr .details{
	width:92%;
	height:auto;
	position:absolute;
	top:82%;
	left:50%;
	-webkit-transform:translate(-50%,-50%);
	-moz-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	-o-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);
	z-index:2
}
.profile>.hdr .details .name{
	font-size:28px;
	font-weight:700;
	color:#fff;
	text-align:center;
	text-shadow:0 2px 6px rgba(0,0,0,.24);
	position:relative
}
.profile>.hdr .details .location{
	font-size:14px;
	font-weight:400;
	color:rgba(255,255,255,.72);
	text-align:center;
	margin-bottom:16px;
	position:relative
}
.profile>.hdr .details .location a{
	color:rgba(255,255,255,.72);
	text-decoration:none
}
.profile>.hdr .details .location a:hover{
	color:#fff;
	text-decoration:underline
}
.profile>.bar{background:#dfdedb;text-align:left;border-bottom-left-radius:4px;border-bottom-right-radius:4px;padding:12px 16px 0 16px;position:relative}
.profile>.bar .buttons{text-align:left;position:relative}
.profile>.bar .buttons a{font-size:14px;color:#777;text-align:center;line-height:40px;border-top-left-radius:4px;border-top-right-radius:4px;padding:0 16px 0 40px;margin:auto 4px 0 auto;position:relative;display:inline-block}
.profile>.bar .buttons a .fa{width:24px;height:40px;font-size:14px;color:#777;text-align:center;line-height:40px;position:absolute;top:0;left:10px}
.profile>.bar .buttons a.active{background:#fff;color:#333}
.profile>.bar .buttons a.active .fa{color:#333}
.profile>.bar .buttons a:hover{opacity:.64}

.profile-tab-comments,
.profile-tab-uploads{
	display:none!important
}

.theprofile{margin-top: 14px;}
.theprofile, .theprofile > section{position: relative;}
.theprofile-header{height: 220px;}
.theprofile-cover{height: 142px; position: relative; overflow: hidden; z-index: 96;}
.theprofile-cover > img{width: 100%; height: auto; position: relative; display: block; z-index: 90;}
.theprofile-cover > footer{background: rgba(0, 0, 0, 0.5); width: 100%; height: 45px; text-align: right; position: absolute; bottom: 0; left: 0; z-index: 91;}
.theprofile-cover > footer > div{margin-right: 20px; position: relative; display: inline-block;}
.theprofile-cover > footer > div > h2{font-size: 16px; font-weight: 500; color: #fff; text-align: center; line-height: 20px; padding-top: 5px; position: relative;}
.theprofile-cover > footer > div > h3{font-size: 11px; font-weight: 300; color: #fff; text-align: center; line-height: 14px; position: relative;}
.theprofile-image{width: 119px; height: 119px; border: 3px solid #fff; position: absolute; top: 50px; left: 25px; overflow: hidden; z-index: 97;}
.theprofile-image > img{width: 100%; height: auto; position: absolute; top: 0; left: 0;}
.theprofile-info{padding: 10px 0 0 169px; position: relative;}
.theprofile-username{font-size: 14px; font-weight: 600; color: #000; text-align: left; position: relative;}
.theprofile-userstats{font-size: 11px; font-weight: 300; color: #333; text-align: left; position: relative;}
.theprofile-editbutton{background: #eae9e6; font-size: 12px; font-weight: 300; color: #95938f; text-align: center; text-decoration: none; border-radius: 2px; padding: 4px 12px; position: absolute; top: 10px; right: 0;}
.theprofile-editbutton:hover{background: #000; color: #fff; text-decoration: none;}
.theprofile-lists{background: #f2f2f2; padding: 10px 0 0 0;}

.profilebox{
	box-shadow:-310px 0 0 #fff inset,-311px 0 0 #dfdedb inset;
	padding-top:10px
}
.profilebox .left{
	width:745px;
	position:relative;
	float:left
}

.profilebox .left .notice{
	background:#dfdedb;
	font-size:12px;
	color:#888;
	text-align:left;
	line-height:48px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	padding:0 16px;
	margin:0;
	position:relative
}
.profilebox .left .notice a{
	color:#317da8;
	text-decoration:underline
}
.profilebox .left .notice a:hover{
	color:#317da8;
	text-decoration:none
}

.profilebox .left .theprofile-lists{background:transparent!important;padding:0}

.profilebox .left .theprofile-lists>.item{background:#f2f2f2}

.profilebox .left .userCommentsList{
	width:100%!important
}
.profilebox .left .userComment{
	width:98%;
	height:auto;
	min-height:72px;
	padding:10px 0 10px 2%;
	position:relative
}
.profilebox .left .userCommentAvatar{
	width:70px;
	height:auto;
	float:none;
	position:absolute;
	top:12px;
	left:10px
}
.profilebox .left .userCommentDetails{
	max-width:86%;
	position:relative;
	padding:0;
	margin:0 0 0 72px;
	float:none
}
.profilebox .left .userCommentText{
	max-width:100%
}
.profilebox .left .item ul.plugs li .plug_img{
	margin:4px 16px 4px 5px!important
}
.profilebox .left ul.plugs li .title{
	padding-top:4px
}

.profilebox .left .userComment p{
	margin:4px auto 16px 72px;
	position:relative
}

.profilebox .right{
	width:300px;
	position:relative;
	float:right
}

.profilebox .right .box{
	border-radius:4px;
	margin-bottom:10px;
	overflow:hidden
}

.profilebox .right .box .title{
	background:#dfdedb;
	font-size:13px;
	font-weight:700;
	color:#222;
	text-align:left;
	line-height:48px;
	padding:0 16px
}

.profilebox .right .box .list{
	background:#f2f2f2;
	text-align:left;
	padding:12px 16px
}

.profilebox .right .box .list .label{
	font-size:13px;
	font-weight:400;
	color:#888;
	text-align:left;
	line-height:22px;
	position:relative;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis
}

.profilebox .right .box .list .label span{
	font-weight:700;
	color:#333
}

.thefavorites > .plugs{padding: 0 10px !important;}
.thefavorites > .plugs > li > .plug_img a img{padding: 0 !important;}
.thefavorites > .plugs > li > .title a{font-size: 16px !important; color: #317da8 !important;}
.thefavorites > .plugs > li > .plug_info{height: 60px !important; line-height: 20px; text-overflow: ellipsis;}
.thefavorites > .plugs > li > .info{font-size: 11px !important; padding: 8px 0 0 0; position: relative;}

.theproedit{padding: 0 0 10px 0; margin: 25px 0; position: relative;}
.theproedit > div{padding: 0 0 15px 0; margin: 0; position: relative;}
.theproedit > div > p{background: transparent !important; font-size: 26px !important; font-weight: 300 !important; color: #3b3837 !important; text-align: left; line-height: 32px !important; padding: 0 !important; margin: 0; position: relative;}
.theproedit > form{background: #eae9e6; border-radius: 7px; padding: 10px 15px 0 15px; position: relative;}
.theproedit > form > div{text-align: left; border-bottom: 1px solid rgba(0, 0, 0, 0.075); padding: 0 0 15px 0; margin: 0 0 15px 0; position: relative;}
.theproedit > form > div:last-child{border-bottom: 0;}
.theproedit > form > div > label{font-size: 14px; font-weight: 600; color: #7c7a75; text-align: left; line-height: 36px; padding: 0; margin: 0; position: relative; display: block;}
.theproedit > form > div > aside{text-align: right; position: absolute; top: 7px; right: 0;}
.theproedit > form > div > .proeditchoosefile{position: absolute; top: 75px !important; right: 0;}
.theproedit > form > div > aside > .proeditinput, .theproedit > form > div > aside > select{position: relative; display: inline-block;}
.proeditselect{max-width: 100px;}
.proeditsave{text-align: center !important;}
.proeditsave > button{background: #bd4617; font-family: Tahoma,Helvetica,Arial; font-size: 18px; font-weight: 300; color: #fff; text-align: center; border: 0; border-radius: 5px; padding: 8px 16px; position: relative; display: inline-block; cursor: pointer; -webkit-appearance: button;}
.proeditsave > button:hover{background: #95938f;}

.theproedit-avatar > img{max-width: 150px; height: auto; position: relative; display: inline-block;}
.theproedit-cover > img{max-width: 280px; height: auto; position: relative; display: inline-block;}

/* media viewer */
.page-imgview{padding:5px 5px 45px 5px!important}
.page-imgview>h1{font-size:18px!important;font-weight:700!important;color:#000!important;padding:15px 0!important;margin:0 0 5px 0!important}
.page-imgview>h1 a{color:#222!important;font-weight:700!important}
.page-imgview>h1 a:hover{color:#000!important}

.mediaviewer{background:#000;height:500px;text-align:center;padding:0;margin:0;position:relative;display:table;table-layout:fixed;overflow:hidden}
.viewer-cnt{width:100%;height:100%;vertical-align:middle;display:table-cell}
.viewer-img{max-width:100%;max-height:500px;margin:0 auto;display:block;z-index:1}
.viewer-nav{background-image:url(../images/bg_viewer-nav.png);background-position:center bottom;background-repeat:repeat-x;width:100%;height:100%;position:absolute;top:0;left:0;opacity:0;z-index:2}
.mediaviewer:hover .viewer-nav{opacity:1}
.viewer-nav-expand{width:48px;height:48px;text-decoration:none;position:absolute;top:15px;right:15px;z-index:2}
.viewer-nav-btn{width:50%;height:100%;text-decoration:none;position:absolute;top:0;z-index:1}
.viewer-nav-btn i,.viewer-nav-expand i{background:rgba(0,0,0,.8);width:48px;height:48px;color:#fff;text-align:center;line-height:48px;border-radius:5px;position:absolute}
.viewer-nav-btn i{font-size:32px;top:200px}
.viewer-nav-expand i{font-size:32px;top:0;right:0}
.viewer-nav-prev{left:0}
.viewer-nav-prev i{left:15px;padding:2px 3px 0 0}
.viewer-nav-next{right:0}
.viewer-nav-next i{right:15px;padding:2px 0 0 3px}
.viewer-nav-expand:hover,.viewer-nav-btn:hover{opacity:.8}
.viewer-nav .label{font-size:12px;font-weight:600;color:#fff;text-decoration:none;line-height:14px;position:absolute;bottom:15px;z-index:2}
.viewer-nav .label-count{text-align:left;left:15px}
.viewer-nav .label-link{text-align:right;right:15px}
.viewer-nav .label-link:hover{color:#317da8}

.thegalleries{list-style-type:none;text-align:center;position:relative}
.thegalleries li{width:175px;height:262px;vertical-align:top;margin:0 2px 5px 2px;position:relative;display:inline-block;overflow:hidden}
.thegalleries li a{text-decoration:none;position:relative;display:block}
.thegalleries li a .thm{width:100%;height:auto;position:relative;display:block;z-index:1}
.thegalleries li a .shdr{width:100%;height:48%;position:absolute;bottom:0;left:0;z-index:2}
.thegalleries li a .shdr{background:-webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,.88));background:-o-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,.88));background:-moz-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,.88));background:linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,.88))}
.thegalleries li a:hover .shdr{height:100%}
.thegalleries li a span{text-align:left;position:absolute;left:16px;z-index:3}
.thegalleries li a .title{font-size:12px;font-weight:600;color:#fff;line-height:14px;bottom:32px}
.thegalleries li a .dte{font-size:11px;font-weight:400;color:rgba(255,255,255,.72);line-height:13px;bottom:18px}
.thegalleries li a:hover .dte{color:#ffd012}

.gallerypod{width: 175px; height: 262px; max-height: 262px; position: relative;}
.gshader{background: url(../images/gshade.png) bottom left repeat-x; width: 175px; height: 87px; position: absolute; bottom: 0; left: 2px; z-index: 92; opacity: 0.8;}
.gallerypod > a{margin-top: -9px; position: relative; display: block;}
.gallerypod > a > img{width: 175px; height: 262px; position: relative; display: block; z-index: 91;}
.gallerypod > h4{color: rgba(255, 255, 255, 0.75); font-size:11px; text-align: left; padding: 0 15px; position: absolute; bottom: 22px; left: 0; z-index: 93;}
.gallerypod > h4 > a{font-size:12px !important; color: #fff !important; text-decoration: none;}

.newGalleries{list-style-type:none;padding:10px;position:relative}
.newGalleries li{margin-bottom:10px;position:relative;overflow:hidden;}
.newGalleries li a{text-decoration:none;position:relative;display:block}
.newGalleries li a span{background:url(../images/gshade.png) bottom left repeat-x;width:90%;height:43px;font-size:12px;font-weight:600;color:#fff;text-align:left;padding:44px 5% 0 5%;margin:0;position:absolute;bottom:-17px;left:0;z-index:93;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.newGalleries li a span small{font-weight:400;color:#bbb}
.newGalleries li a img{width:100%;height:auto;position:relative;display:block;z-index:92}

.topGalleriesText a{font-size:12px!important}

a,.theloginform, .loginfield, .joinfield, .thejoinform > div > select,.viewer-nav,.viewer-nav a,.shdr,.dte,.fa,.lbl{-webkit-transition: all 0.25s ease-out; -moz-transition: all 0.25s ease-out; -ms-transition: all 0.25s ease-out; -o-transition: all 0.25s ease-out; transition: all 0.25s ease-out;}

.video_categories a { display:block; width:175px; float:left; margin-left:3px; margin-bottom:15px; font-size:16px; }

/* ELEMENT ADDITIONS and ADJUSTMENTS FOR RESPONSIVE */
/**/
.fa:hover{opacity:.5}

/* responsive header */
.mo-hdr{background:#02304a;width:100%;height:64px;box-shadow:0 2px 5px rgba(0,0,0,.5);position:fixed;top:0;left:0;z-index:9998;display:none}
.mo-hdr .mo-logo{background:url(../images/logo-mo-20150923.png) left top no-repeat;width:170px;height:18px;position:absolute;top:23px;left:12px;overflow:hidden;display:block;z-index:1}
.mo-hdr .mo-logo h1{position:absolute;top:0;left:100%}
.mo-hdr .btn{width:64px;height:64px;font-size:24px;color:#fff;text-align:center;line-height:64px;position:absolute;top:0;z-index:2;cursor:pointer}
.mo-hdr .btn-mo-s{right:64px}
.mo-hdr .btn-mo-o,.mo-hdr .btn-mo-c{right:0}
.mo-hdr .btn-mo-c{display:none}

/* responsive search */
.mo-srh{background:#444;width:100%;height:64px;position:fixed;top:0;right:-100%;z-index:9999;display:none}
.btn-mo-s-c{width:64px;height:64px;font-size:24px!important;color:#fff;text-align:center;line-height:64px!important;position:absolute;top:0;right:0;z-index:2;cursor:pointer}
.mo-srh form{background:rgba(0,0,0,.25);width:86%;height:36px;border:0;border-radius:5px;position:absolute;top:14px;left:14px;overflow:hidden}
.mo-srh form .mo-sfld{background:transparent;width:70%;height:36px;font-family:Arial,Helvetica;font-size:16px;font-weight:300;color:#fff;text-align:left;border:0;border-radius:5px;padding:0 5%;position:absolute;top:0;left:0}
.mo-srh form .mo-sbtn{background:transparent;width:20%;height:36px;color:#fff;border:0;position:absolute;top:0;left:80%;z-index:2;cursor:pointer}
.mo-srh form .fa-search{width:36px;height:36px;font-size:16px;color:#fff;text-align:center;line-height:36px;position:absolute;top:0;right:0;z-index:1;opacity:.5}

/* responsive menu */
.mo-mnu{background:#011926;width:100%;height:100%;position:fixed;top:-100%;left:0;z-index:9997;display:none;overflow:auto}

.mo-mnu>.title,.mo-cats .lst .title{background:rgba(255,255,255,.08);height:64px;padding:0 16px;position:relative}
.mo-mnu>.title{margin:64px 0 0 0;z-index:1}
.mo-cats .lst .title{margin:0 0 16px 0}
.mo-mnu>.title h3,.mo-cats .lst .title h3{max-width:50%;font-size:21px;font-weight:300;color:#fff;text-align:left;line-height:64px;position:relative;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;z-index:1}
.mo-mnu>.title h3{padding-left:48px}
.mo-mnu>.title .usr{width:32px;height:32px;border-radius:6px;position:absolute;top:16px;left:16px;overflow:hidden}
.mo-mnu>.title .usr img{width:32px;height:32px;position:relative;display:block}
.mo-mnu>.title .btn{width:64px;height:64px;position:absolute;top:0;z-index:2}
.mo-mnu>.title .btn .fa{width:64px;height:64px;font-size:18px;color:#fff;text-align:center;line-height:64px;position:absolute;top:0;left:0}
.mo-mnu>.title .btn-pro{right:64px}
.mo-mnu>.title .btn-lout{right:0}

.mo-mnu ul{list-style-type:none;position:relative;overflow:auto;z-index:1}
.mo-mnu ul li{position:relative}
.mo-mnu ul li a{font-size:21px;font-weight:400;color:#fff;text-align:right;text-decoration:none;line-height:48px;padding:8px 24px;position:relative;display:block}
.mo-mnu ul li a:hover{text-decoration:none;opacity:.64}
.mo-mnu ul li .btn-join{background:#9db22b}
.mo-mnu ul li .btn-lgn{background:rgba(255,255,255,.05)}
.mo-mnu ul li a .fa{width:48px;height:48px;font-size:24px;color:#fff;text-align:center;line-height:48px;position:absolute;top:8px;left:16px}

.mo-cats{background:#333;width:100%;height:100%;text-align:center;position:fixed;top:-100%;left:0;z-index:8}
.mo-cats .lst{height:100%;padding-top:64px;position:relative;overflow:auto}
.mo-cats .lst .title .fa{width:64px;height:64px;font-size:18px;color:#fff;text-align:center;line-height:64px;position:absolute;top:0;right:0;cursor:pointer;z-index:2}
.mo-cats .lst a{background:rgba(255,255,255,.08);width:42%;height:18px;font-size:16px;font-weight:400;color:#888;text-align:center;line-height:18px;text-decoration:none;border-radius:4px;padding:12px 2%;margin:0 1% 16px 1%;position:relative;display:inline-block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.mo-cats .lst a:hover{background:rgba(255,255,255,.16);color:#fff}

/* ad & plugs repositioning */
.mo-ads,.mo-plugs{text-align:center;padding:15px 0;position:relative;display:none}
.mo-ads{background:#eaeaea}
.mo-plugs{background:#fff}
.mo-ads .adbox300{margin:0 8px;position:relative;display:inline-block}

.videoNav{text-align:center;border-bottom:1px solid #eaeaea;padding:16px 0;position:relative;display:none}
.videoNav a{background:#02304a;max-width:40%;border-radius:5px;margin:0 2%;position:relative;display:inline-block}
.videoNav a:hover{background:#879c26}
.videoNav a .fa{width:48px;height:48px;font-size:16px;color:#fff;text-align:center;line-height:48px;position:absolute;top:0}
.videoNav a .lbl{font-size:18px;font-weight:300;color:#fff;line-height:48px;position:relative;display:block}
.videoNav a:hover .fa,.videoNav a:hover .lbl{opacity:.5}
.videoNavPrev{padding:0 24px 0 0}
.videoNavPrev .fa{left:0}
.videoNavPrev .lbl{text-align:left;margin:0 0 0 48px}
.videoNavNext{padding:0 0 0 24px}
.videoNavNext .fa{right:0}
.videoNavNext .lbl{text-align:right;margin:0 48px 0 0}

/* RESPONSIVE */
@media screen and (max-width: 1120px) {
html,body,body.tube{min-width:100%!important;-webkit-text-size-adjust:none}
.mid_header{width:auto;max-width:90%;margin:0 auto 8px auto;float:none;}

.thenav{margin-bottom:0}

.siteContentConstraint,.theprimary{width:100%}
#container .siteContentConstraint{background:#fff;box-shadow:none}

.mo-ads,.mo-plugs{display:block}

#leftAdverts,#container .siteContentConstraint .clear{display:none}

ul.simpleBoxes{list-style-type:none;width:100%;text-align:center;padding:22px 0 16px 0;margin:0}
ul.simpleBoxes li{float:none;width:74px;height:74px;margin:0 4px 6px 4px;display:inline-block}

#content,#rightSidebar{vertical-align:top;float:none;display:block}
#content{width:100%;padding:0}
#content>h1{background:transparent!important;color:#3b3837}

.videoDetails{width:100%;min-height:142px;border-bottom:1px solid #eaeaea;padding:24px 0;margin:0;position:relative;display:block}
.videoDetailsThumbnail{width:190px;height:140px;border:1px solid #000;float:none;position:absolute;top:24px;left:24px;z-index:1;overflow:hidden}
.videoDetailsThumbnail a{position:relative;display:block}
.videoDetailsThumbnail a img{width:100%;height:auto;border:0;position:relative;display:block}
.videoDetailsText{width:auto;margin:0 32px 0 236px;position:relative;display:block;float:none}
.description,.stats{position:relative}

ul.pagination{text-align:center;padding:16px 0;margin:0;position:relative;display:block}
ul.pagination li{margin:0 3px;position:relative;display:inline-block;float:none}

.vid_wrap2{position:relative}
#content .videoDescription h1,.videoDescription h2,.videoDescription h3,.newest_title{font-size:20px;line-height:26px}
.newest_title{text-align:center;padding:16px 0 12px 0}
.video_description{font-size:16px!important;line-height:20px}
.next_button,.prev_button{display:none}
.videoNav{display:block}

#player>div{float:none!important;position:relative;display:block}
#player>div>a{text-align:center;position:relative;display:inline-block}
#player>div>a>img{width:auto;height:auto;margin:0 auto;position:relative;display:inline-block}

.videoDescription,#player,#playerDetails,.hood_wrap,#relatedVideos,ul.amateur_thumbs,.topComment,.leaveComment,#comment_form,.userCommentsList,.videoNav{width:92%;max-width:1080px;margin:0 auto;position:relative}
.videoDescription{margin-top:20px;margin-bottom:24px}
#player>#video_container_wrapper{width:100%;height:100%;position:absolute;top:0;left:0}
.hood_wrap{text-align:center;padding:16px 0}
.hood_wrap .category,.hood_wrap .tags{width:96%;margin:0 2%;position:relative;display:block;float:none}
.hood_wrap .category{padding-bottom:8px}
#relatedVideos{text-align:center;margin:16px auto}
#relatedVideos li,ul.amateur_thumbs li{margin:0 2px 6px 2px;position:relative;display:inline-block;float:none}
.topComment,.topCommentText,.topCommentDetails{position:relative}
.topCommentDetails{min-height:60px}
.topCommentAvatar{width:60px;height:60px;position:absolute;top:10px;left:10px;float:none}
.topCommentComment{margin:0 0 0 64px;position:relative;float:none;display:block}
.topCommentusername{margin-right:10%}
.topCommentCommentText{max-width:84%}
.leaveComment{width:100%;margin:0 auto 16px auto}
.leaveComment br{display:none}
.leaveCommentPoster{width:94%;padding:0 3%;position:relative;display:block;float:none}
.leaveCommentTextarea{width:100%;padding:0;position:relative;display:block;float:none}
.leaveCommentTextarea textarea{width:94%;height:150px;padding:10px 3%;position:relative;display:block}
.leaveCommentButtons{width:100%;text-align:center;padding:16px 0;position:relative;display:block}
.leaveCommentButtons button,.leaveCommentButtons span{position:relative;display:inline-block!important}
h3.userComments{font-size:24px;font-weight:300;color:#222;text-align:center;border-top:1px solid #eaeaea;padding:24px 0;position:relative;display:block}
.userCommentsList{background:#eaeaea;border-radius:10px;margin-bottom:24px}
.userComment{width:auto;min-height:92px;border-bottom:1px dotted rgba(0,0,0,.16);position:relative;display:block}
.userComment:last-child{border-bottom:0}
.userCommentAvatar{width:70px;height:auto;position:absolute;top:18px;left:18px;float:none}
.userCommentDetails{margin:0 0 0 90px;position:relative;display:block;float:none}
ul.userCommentRating{position:absolute;top:10px;right:-10px;display:block;margin:0}
.topCommentComment>.userCommentRating{right:0}
.userCommentUsername,.userCommentUsername a{font-size:18px;padding-top:6px;margin-bottom:8px;position:relative;display:block}
.userCommentText{max-width:88%;font-size:14px;color:#444;padding-bottom:8px;position:relative;display:block}

.real_girls{position:relative}
.real_girls ul{text-align:center;position:relative}
.real_girls ul li{margin:0 3px 6px 3px;position:relative;float:none;display:inline-block}

.gallerypod{max-width:31%;text-align:center;padding-bottom:16px}
.gallerypod a,.gallerypod>h4{width:175px;height:262px;position:relative;display:inline-block;overflow:hidden}
.gallerypod>a>img{width:100%;height:100%;margin:0!important;position:absolute;top:0;left:0}
.gallerypod>h4{width:100%;max-width:155px;height:48px;margin-top:-48px;position:relative!important;padding:0!important;bottom:3px}
.gallerypod>h4>a{width:100%;height:16px;line-height:16px}
.gshader{left:0}

.video_categories{text-align:center;position:relative}
.video_categories a{margin:0 3px 6px 3px;position:relative;display:inline-block;float:none}

.theloginform>label{margin:10px 0;display:block}

#rightSidebar{width:100%;padding-bottom:0}
#rightSidebar>.adbox300,#rightSidebar>br{display:none}

.topUsers-nopad{width:auto!important}
.top_comment{min-height:209px;position:relative;display:block}
.topComment-pad{width:190px;height:140px;padding:0 10px!important;position:absolute;top:58px;left:0;overflow:hidden;z-index:2}
.topComment-pad img{width:100%;height:auto;position:relative;display:block}
.top_comment_right{width:auto!important;height:auto;font-size:14px!important;color:#666;line-height:18px;padding:16px 32px 16px 218px;margin-top:0!important;margin-left:0!important;position:relative;float:none!important;display:block!important;z-index:1}
.top_comment .top_comment_right .media_title a{font-size:18px;color:#317da8;margin-bottom:8px}

.newGalleries{text-align:center;padding:16px 0 6px 0}
.newGalleries li{width:48%;margin:0 5px 10px 5px!important;display:inline-block}

#topUsers { display: none; }
ul#topUsersList{width:auto;float:none;padding-bottom:0;margin-left:0!important;margin-top:0!important;position:relative;display:block}
ul#topUsersList li{min-height:34px;height:auto;font-size:16px;line-height:34px;float:none;padding:0;position:relative}
ul#topUsersList li a{width:auto;min-height:34px;padding:12px 16px;position:relative;float:none;display:block}
ul#topUsersList li a img{position:absolute;top:12px;right:16px;display:block}
ul#topUsersList li a b,ul#topUsersList li a span{width:auto;font-size:16px;text-align:left;line-height:34px}
ul#topUsersList li a b{margin:0;position:relative}
ul#topUsersList li a span{color:#888;margin:0;position:absolute;top:12px;right:64px}

.topGalleries{text-align:center;padding:24px 0 16px 0;position:relative;display:block}
.topGalleries li{width:190px;margin:0 5px 8px 5px;display:inline-block}
.topGalleriesGradient{width:170px!important;height:100%!important;top:auto!important;bottom:12px;left:10px!important}
.topGalleriesText{top:auto!important;bottom:20px;left:20px!important}
.topGalleries li>a{background:#fff;padding:10px;position:relative;display:block}
.topGalleries li>a img{width:100%;height:auto;border:0!important;margin:0!important}

	#footer>.footer-top{padding:20px 0}
	.footer-top>p{padding:0 24px}
	#footer>.footer-bottom{padding:15px 0}
	.foot-ad{display:none}
	.pg-sort .lst-sort,.pg-sort .pagination{max-width:100%;text-align:center;float:none; }
	.pg-sort { padding:16px 10px !important; }
	.pg-sort .pagination { padding:0 !important; }
	

}

@media screen and (max-width: 1080px) {
.mobile_only { display: block !important; font-weight: 700; padding: 20px 0px 0px 140px; font-size: 14px; }
.mobile_only.adzone { padding:0; }


.mo-hdr,.mo-srh,.mo-mnu{display:block}
#shooshnet,.theheader,.thenav{display:none}
#container{padding-top:64px}

.date_div{text-align:center}
.videoDetailsText{text-align:left}
.videoDetailsText .title a,.videoDetailsText h3 a{font-size:18px;font-weight:600!important;margin-bottom:16px}
.description{overflow:hidden;text-overflow:ellipsis}
.description,.stats span,.stats span a{font-size:14px}
.stats span{width:auto;margin-right:16px;position:relative;display:inline-block;float:none}

.footer-share{text-align:center;margin-bottom:16px;position:relative;top:auto;left:0;display:block}
.footer-bottom>p{text-align:center;top:auto;bottom:auto;left:auto;right:auto;position:relative;display:block}

}

@media screen and (max-width: 640px) {
.adbox300{width:40%;height:auto}
.adbox300 a img,.adbox300 object{width:100%!important;height:auto!important;position:relative!important;display:block!important}
.userCommentText,.topCommentCommentText{max-width:80%}
}

@media screen and (max-width: 600px) {
.top_comment{text-align:center}
.stitle-topcomm{text-align:left}
.topComment-pad{width:190px;height:140px;margin:16px auto 0 auto;position:relative;top:auto;left:auto;display:inline-block!important}
.top_comment_right{padding:16px}
.userCommentUsername,.userCommentUsername a{font-size:14px}
.userCommentUsername{margin-right:30%}
}

@media screen and (max-width: 540px) {
.mo-srh form{width:80%}
.videoDetailsText .title a,.videoDetailsText h3 a{font-size:16px;line-height:20px;margin-bottom:8px}
.description,.stats span,.stats span a{font-size:12px;line-height:16px!important;margin-bottom:8px}
.newGalleries li{width:90%;margin:0 auto}
.userCommentText,.topCommentCommentText{max-width:72%}
.topCommentComment>.userCommentRating{right:-24px}
}

@media screen and (max-width: 500px) {
.mo-srh form{width:72%}
.hood_wrap .category,.hood_wrap .tags{text-align:center}
}

@media screen and (max-width: 480px) {
.mo-srh form{width:72%}
.userCommentUsername{margin-right:48%}
#playerDetails{text-align:center}
#playerDetails li{margin:0 5px 2px 5px;vertical-align:top;position:relative;display:inline-block;float:none}
#playerDetails li.hd,#playerDetails li.download,#playerDetails li:last-child{float:none!important}
#playerDetails li.hd,#playerDetails li.download{margin-left:24px}
.videoDetails{text-align:center}
.videoDetailsThumbnail{width:92%;height:auto;margin-bottom:12px;position:relative;top:auto;left:auto;display:inline-block}
.videoDetailsText{text-align:center;margin:0 24px}
.videoDetailsText .title,.videoDetailsText h3{margin-bottom:8px}
.videoDetailsText .title a,.videoDetailsText h3 a{font-size:21px}
.description{height:auto;display:block}
.description,.description a{font-size:12px!important;line-height:20px!important}
.stats,.stats span,.stats span a{font-size:14px!important}
.stats span{margin:0 8px}
.topUsers-nopad>h2{background-image:none!important;text-align:center!important;padding:14px 0!important}
ul#topUsersList li a b,ul#topUsersList li a span{font-size:14px}
}

@media screen and (max-width: 400px) {
.mo-srh form{width:72%}
}





.mo-cats{background:#333;width:100%;height:100%;text-align:center;position:fixed;top:-100%;left:0}
.mo-cats .lst{height:100%;padding-top:64px;position:relative;overflow:auto}
.mo-cats .lst .title{background:rgba(255,255,255,.08);height:64px;padding:0 16px;margin-bottom:16px;position:relative}
.mo-cats .lst .title h3{font-size:24px;font-weight:300;color:#fff;text-align:left;line-height:64px;position:relative;z-index:1}
.mo-cats .lst .title .fa{width:64px;height:64px;font-size:18px;color:#fff;text-align:center;line-height:64px;position:absolute;top:0;right:0;cursor:pointer;z-index:2}
.mo-cats .lst a{background:rgba(255,255,255,.08);width:42%;height:18px;font-size:16px;font-weight:400;color:#888;text-align:center;line-height:18px;text-decoration:none;border-radius:4px;padding:12px 2%;margin:0 1% 16px 1%;position:relative;display:inline-block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.mo-cats .lst a:hover{background:rgba(255,255,255,.16);color:#fff}

.foot-ad{text-align:center}
.pg-sort{padding:7px 0;position:relative}
.pg-sort .lst-sort,.pg-sort .pagination{vertical-align:top;position:relative}
.pg-sort .lst-sort{max-width:60%;text-align:left;position:relative;float:none; display:inline-block; }
.pg-sort .lst-sort a{background:#02304a; border:1px solid #02304a; font-size:10px;font-weight:400;color:#fff;text-align:center;text-decoration:none;text-transform:uppercase;line-height:22px;border-radius:3px;padding:1px 8px;margin:0 3px 0 0;position:relative;display:inline-block}
.pg-sort .pagination{max-width:39%;list-style-type:none;text-align:right;margin:0;float:right;display:block}
.pg-sort .pagination.full { max-width:100%; text-align:center; float:none; }
.pg-sort .lst-sort .active,.pg-sort .lst-sort .active:hover{background:#bd4617;color:#fff}

.mobile_only { display: none; }


/* EDITS 2015-08-28 */
.view #content,#player,#relatedVideos,ul.amateur_thumbs,.topComment,.leaveComment,.userCommentsList{width:748px}
#content{padding:5px 7px 5px 9px}
#player{height:auto}
.playerMeta{margin-bottom:10px;display:block;position:relative}
.playerMeta .top{background:#0d2547;text-align:left;padding:7px 0 7px 25px;position:relative}
.playerMeta .top a{font-size:14px;font-weight:700;color:#fff;text-align:center;line-height:26px;border-right:1px solid #1d4463;padding:0 16px 0 40px;margin:auto;display:inline-block;position:relative}
.playerMeta .top a:last-child{border-right:0}
.playerMeta .top a .fa{width:26px;height:26px;font-size:16px;color:#ecc547;text-align:center;line-height:26px;position:absolute;top:0;left:8px}
.playerMeta .top a .icon-reddit{width:20px;height:18px;position:absolute;top:4px;left:8px}
.playerMeta .top a:hover{opacity:.64}
.playerMeta .top a .fa:hover{opacity:1}
.playerMeta .top a span{background:#ecc547;font-size:12px;font-weight:700;color:#0d2547;text-align:center;line-height:22px;border-radius:3px;padding:0 8px;margin:auto;display:inline-block}
.playerMeta .bottom{background:-webkit-linear-gradient(bottom,#13304c,#091631);background:-moz-linear-gradient(bottom,#13304c,#091631);background:-o-linear-gradient(bottom,#13304c,#091631);background:linear-gradient(bottom,#13304c,#091631);padding:16px 12px;position:relative}
.playerMeta .bottom .lft{width:32%;float:left;position:relative}
.playerMeta .bottom .rgt{width:68%;float:right;position:relative}
.playerMeta .bottom .label{font-size:12px;color:#fff;line-height:18px;vertical-align:top;position:relative}
.playerMeta .bottom .label span{color:#5b7380}
.playerMeta .bottom a{color:#fff;text-decoration:none;display:inline-block}
.playerMeta .bottom a:hover{color:#fff;text-decoration:underline}
.playerMeta .bottom .fa{width:18px;height:18px;font-size:14px;color:#ecc547;text-align:center;line-height:18px;position:relative;top:auto;left:auto;display:inline-block}
.playerMeta .bottom .count{font-size:11px;color:#5b7380;display:inline-block}
.playerMeta .bottom .lft .label{text-align:left}
.playerMeta .bottom .rgt .label{text-align:right}
#relatedVideos,ul.amateur_thumbs{text-align:center}
#relatedVideos li,ul.amateur_thumbs li{width:98px;float:none;margin:0 2px 5px 2px;display:inline-block}
#relatedVideos li a{display:block}
.newGalleries li a img{margin-bottom:8px}
.newGalleries li a .title{max-height:32px;font-size:14px;font-weight:700;color:#333;text-align:center;line-height:16px;overflow:hidden;text-overflow:ellipsis}
.newGalleries li a .date{font-size:12px;color:#888;text-align:center;line-height:14px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}

@media screen and (max-width: 1120px) {
.view #content,#player,#relatedVideos,ul.amateur_thumbs,.topComment,.leaveComment,.userCommentsList{width:100%}
#content{padding:5px 0}
.playerMeta .bottom .clear{display:block!important}
}

@media screen and (max-width: 600px) {
.playerMeta .top{text-align:center;padding:7px 0}
}

@media screen and (max-width: 480px) {
.playerMeta .top a{border-right:0;margin:0 auto 5px auto}
.playerMeta .bottom .lft,.playerMeta .bottom .rgt{width:100%;float:none}
.playerMeta .bottom .lft .label,.playerMeta .bottom .rgt .label{text-align:center;margin-bottom:4px}
}

.thecomments{border-top:1px solid #dcdcdc;padding-top:12px;position:relative}
.form-comments{border:1px solid #dcdcdc;margin-bottom:12px;position:relative}
.form-comments textarea{background:#fff;width:96%;height:100px;font-family:Tahoma,Helvetica,Arial;font-size:14px;font-weight:700;color:#333;text-align:left;border:0;padding:10px 2%;position:relative}
.form-comments .bar{background:#ebebeb;text-align:left;border-top:1px solid #dcdcdc;padding:8px 12px;position:relative}
.form-comments .bar .label{font-size:12px;color:#a6a6a6;text-align:left;line-height:24px;margin:0 8px 0 auto;position:relative;display:inline-block}
.form-comments .bar .postername{background:#fff;width:160px;height:24px;font-family:Tahoma,Helvetica,Arial;font-size:12px;color:#333;text-align:left;border:1px solid #d0d0d0;padding:0 10px;margin:auto;display:inline-block}
.form-comments .bar .btns{text-align:right;position:absolute;top:8px;right:12px}
.form-comments .bar .show-emos,.form-comments .bar .btn-upload,.form-comments .bar .btn-send{vertical-align:top;position:relative;margin:0 auto 0 6px;display:inline-block;cursor:pointer}
.form-comments .bar .hide-emos{vertical-align:top;position:relative;margin:0 auto 0 6px;display:none;cursor:pointer}
.form-comments .bar .show-emos,.form-comments .bar .hide-emos{width:24px;height:24px;font-size:16px;color:#333;text-align:center;line-height:24px}
.form-comments .bar button{min-width:100px;height:24px;font-family:Tahoma,Helvetica,Arial;font-size:12px;font-weight:bold;text-align:center;text-transform:uppercase;line-height:24px;border:0;border-radius:3px;box-shadow:0 1px 2px rgba(0,0,0,.16);padding:0 24px}
.form-comments .bar .btn-upload{background:#fff;color:#000}
.form-comments .bar .btn-send{background:#0d2547;color:#fff}
.form-comments .emos{background:#fafafa;border-top:1px solid #dcdcdc;padding:16px;position:relative;display:none}
.list-comments{position:relative}
.list-comments .nav{box-shadow:0 -2px 0 #e8ebec inset;position:relative}
.list-comments .nav a{font-size:14px;font-weight:bold;color:#bdbdbd;text-align:center;text-decoration:none;line-height:40px;padding:0 16px;float:left;display:block}
.list-comments .nav a:hover{color:#424242;text-decoration:none}
.list-comments .nav a.active,.list-comments .nav a.active:hover{color:#424242;text-decoration:none;box-shadow:0 -2px 0 #424242 inset}
.list-comments ul{list-style-type:none;text-align:left;position:relative}
.list-comments>ul{padding-top:16px}
.list-comments>ul>li{min-height:50px;padding-left:58px;position:relative}
.list-comments .avatar img{width:100%;height:auto;position:relative;display:block}
.list-comments>ul>li>.avatar{width:50px;height:50px;position:absolute;top:0;left:0}
.list-comments>ul>li>.comment{background:#e9e9e9;border-radius:3px;padding:3px 12px 12px 12px;margin-bottom:10px;position:relative}
.list-comments .comment{text-align:left}
.list-comments .comment-image{margin:6px auto;position:relative;display:inline-block}
.list-comments .comment .author{font-size:12px;color:#4f77a4;text-align:left;line-height:24px;margin-bottom:1px;position:relative}
.list-comments .comment .author a{color:#4f77a4;font-weight:bold;text-decoration:none}
.list-comments .comment .author a:hover{color:#4f77a4;font-weight:bold;text-decoration:underline}
.list-comments .comment .author .tag-comment{background:#0d2547;font-weight:bold;color:#fff;text-align:center;text-transform:uppercase;line-height:24px;vertical-align:top;border-radius:3px;padding:0 12px;margin:0 4px;display:inline-block}
.list-comments .comment .text{font-size:12px;color:#000;text-align:left;line-height:18px;margin-bottom:10px;position:relative}
.list-comments .comment .reply{font-size:12px;font-weight:bold;color:#616161;text-align:left;line-height:18px;position:relative;padding-top:5px;border-top:1px dotted #cacaca}
.list-comments .comment .reply .btn-reply{color:#616161;text-decoration:none;cursor:pointer}
.list-comments .comment .reply .btn-reply:hover{color:#616161;text-decoration:underline}
.list-comments .comment .reply .btn-vote{font-size:12px;font-weight:bold;color:#7fb164;text-align:left;line-height:18px;padding-left:18px;margin:0 auto 0 6px;position:relative;display:inline-block}
.list-comments .comment .reply .btn-vote.down{color:#e63030;}
.list-comments .comment .reply .btn-vote .fa-thumbs-up{width:18px;height:18px;font-size:14px;color:#7fb164;text-align:center;line-height:18px;position:absolute;top:0;left:0}
.list-comments .comment .reply .btn-vote .fa-thumbs-down{width:18px;height:18px;font-size:14px;color:#e63030;text-align:center;line-height:18px;position:absolute;top:0;left:0}
.list-comments .comment .reply .btn-vote:hover{opacity:.64}
.list-comments .comment-reply{margin:8px 0 0 0;display:none}
.list-comments .comment-reply .form-comments{margin-bottom:0}
.list-comments .comment-reply .bar{background:#f1f1f1;border-top:0}
.list-comments>ul>li>ul{position:relative}
.list-comments>ul>li>ul>li{min-height:36px;padding-left:44px;position:relative}
.list-comments>ul>li>ul>li>.avatar{width:36px;height:36px;position:absolute;top:0;left:0}
.list-comments>ul>li>ul>li>.comment{background:#fff;border:1px solid #dbdbdb;border-radius:3px;padding:8px 12px 12px 12px;margin-bottom:10px;position:relative}

@media screen and (max-width: 1120px) {
.thecomments{padding-top:12px;padding-bottom:12px}
.list-comments{padding:0 12px}
.list-comments .nav{text-align:center}
.list-comments .nav a{vertical-align:top;float:none;display:inline-block}
}

/* MOBILE ONLY HEADER FOOTER ADZONES */
.adzone-mobile{vertical-align:top;text-align:center;padding:16px 8px 0 8px;display:none}

@media screen and (max-width: 1120px) {
.adzone-mobile{display:block}
}


.imgViewer{background:#000;width:100%;height:640px;text-align:center;position:relative}
.image-viewed{
	width:auto;
	height:auto;
	max-width:100%;
	max-height:100%;
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform:translate(-50%,-50%);
	-moz-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	-o-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);
	z-index:1
}

@media screen and (max-width: 640px) {
.imgViewer{height:360px}
}

.image-control{width:100%;height:100%;position:absolute;top:0;left:0;z-index:2;opacity:1;-webkit-transition:all .24s;-moz-transition:all .24s;-ms-transition:all .24s;-o-transition:all .24s;transition:all .24s}
.imgViewer:hover .image-control{opacity:1}

@media screen and (max-width: 640px) {
.image-control,.imgViewer:hover .image-control{opacity:1}
}

.image-prev,.image-next{background:rgba(0,0,0,.72);width:48px;height:48px;position:absolute;top:50%;margin-top:-32px;z-index:1}
.image-prev{left:3%}
.image-next{right:3%}
.image-expand{background:rgba(0,0,0,.72);width:48px;height:48px;position:absolute;top:24px;right:3%;z-index:1}
.image-prev .fa,.image-next .fa,.image-expand .fa{width:48px;height:48px;font-size:26px;color:#fff;text-align:center;line-height:48px;position:absolute;top:0;left:0}
.image-bar{background:-webkit-linear-gradient(bottom,rgba(0,0,0,.8),rgba(0,0,0,0));background:-moz-linear-gradient(bottom,rgba(0,0,0,.8),rgba(0,0,0,0));background:-o-linear-gradient(bottom,rgba(0,0,0,.8),rgba(0,0,0,0));background:linear-gradient(bottom,rgba(0,0,0,.8),rgba(0,0,0,0));width:96%;height:72px;padding:0 2%;position:absolute;bottom:0;left:0;z-index:2}
.image-bar .label{font-size:12px;font-weight:700;color:#fff;text-align:left;line-height:72px;position:absolute;top:0;left:3%}
.image-download{font-size:12px;font-weight:700;color:#fff;text-align:right;text-decoration:none;line-height:72px;padding:0 8px;position:absolute;top:0;right:2%}
.image-download:hover{color:#fff;text-decoration:underline}

/* Slide in Search (Desktop Only) */
.thenav-search,.desktop-search-container{
	-webkit-transition:all .4s ease-out;
	-moz-transition:all .4s ease-out;
	-ms-transition:all .4s ease-out;
	-o-transition:all .4s ease-out;
	transition:all .4s ease-out;
}

.thenav-search{width: 32px; height: 44px; position: absolute; top: 0px; right: 0px;overflow:hidden}
.thesearchfield{background: #eee; width: 148px; height: 32px; font-family: Verdana, Arial; font-size: 12px; font-weight: 400; color: #666; text-align: left; border: 0; border-radius: 3px; padding: 0 42px 0 10px; position: absolute; top: 6px; left: 0;}
.thesearchsubmit{background: transparent; width: 32px; height: 32px; text-indent: -9999px; border: 0; position: absolute; top: 6px; right: 32px; cursor: pointer; z-index: 98; -webkit-appearance: button;}
.thesearchbutton{width: 32px; height: 32px; position: absolute; top: 0; right: 0; z-index: 97;}

.show-desktop-search,.hide-desktop-search{background:#fff;width:32px;height:44px;font-size:16px!important;color:#888;text-align:center;line-height:43px!important;position:absolute;top:0;right:0;cursor:pointer;z-index:2;display:none!important;opacity:1!important}
.show-desktop-search:hover{color:#333;opacity:1!important}
.show-desktop-search.active,.hide-desktop-search.active{display:block!important}

	.desktop-search-shader{background:-webkit-linear-gradient(right,rgba(255,255,255,1),rgba(255,255,255,0));width:80px;height:44px;position:absolute;top:0;left:0;z-index:1}
	.desktop-search-container{background:#fff;width:280px;height:44px;position:absolute;top:0;right:-280px;z-index:1}
	.desktop-search-form{width:232px;height:44px;position:absolute;top:0;left:48px}
	.desktop-search-icon{width:32px;height:44px;font-size:13px!important;color:#888;text-align:center;line-height:43px!important;position:absolute;top:0;right:32px;z-index:97}
	
	.thenav-search.active{width:360px}
	.thenav-search.active .desktop-search-container{right:0}

