/* isolating z-index:10 to trends, it's breaking a bunch of hover states throughout the site */
#trends .lp-widget{z-index:10;}
.trendCategory{float:left;width:300px;height:80px;}
.trfashion{margin-right:10px;}
.trbeauty{margin-right:10px;}
/*.trliving{}*/
.stripbg{float:left;height:572px;margin-top:-582px;width:920px;} /* background:url("/static/trends/images/TREND_bottom_stripes[6].gif") no-repeat; */
#trends #trends-header{z-index:2;}
#trends .lp-widget .skin-group-white{margin-bottom:8px !important;}

/* Sprite Map for the +Fashion, +Beauty & +Living widget headers on the Trends Landing Page. */

/* Small Map:
#trends.edition_de .trendCategory {background: url('/resources/images/sprite_maps/trends/trends_de.png') no-repeat left top;}
#trends.edition_fr .trendCategory {background: url('/resources/images/sprite_maps/trends/trends_fr.png') no-repeat left top;}
#trends.edition_us .trendCategory {background: url('/resources/images/sprite_maps/trends/trends_en.png') no-repeat left top;}

/x* These apply to all 4 International Sprite Maps, as they are all cut identically: de, fr, it & uk. *x/
#trends #trFashion {background-position: 0px 0px;}
#trends #trBeauty {background-position: 0px -80px;}
#trends #trLiving {background-position: 0px -160px;}
*/

/* Medium Map... no "The Trend" banner. */
.stripbg,
#trends.edition_uk .trendCategory,
#trends.edition_ca .trendCategory,
#trends.edition_au .trendCategory,
#trends.edition_de .trendCategory,
#trends.edition_fr .trendCategory,
#trends.edition_us .trendCategory {
	background:url('/resources/images/sprite_maps/trends/trends_medium_with_de_en_fr_category_banners.png') no-repeat left top;
}

.stripbg {background-position:0px -240px}
#trends.edition_de #trFashion {background-position: 0px 0px;}
#trends.edition_de #trBeauty {background-position: 0px -80px;}
#trends.edition_de #trLiving {background-position: 0px -160px;}
#trends.edition_fr #trFashion {background-position: -600px 0px;}
#trends.edition_fr #trBeauty {background-position: -600px -80px;}
#trends.edition_fr #trLiving {background-position: -600px -160px;}
#trends.edition_us #trFashion, #trends.edition_ca #trFashion, #trends.edition_au #trFashion, #trends.edition_uk #trFashion {background-position: -300px 0px;}
#trends.edition_us #trBeauty, #trends.edition_ca #trBeauty, #trends.edition_au #trBeauty, #trends.edition_uk #trBeauty {background-position: -300px -80px;}
#trends.edition_us #trLiving, #trends.edition_ca #trLiving, #trends.edition_au #trLiving, #trends.edition_uk #trLiving {background-position: -300px -160px;}
 
/* Large Map... includes "The Trend" banner.

.stripbg,
#trends.edition_de .trendCategory,
#trends.edition_fr .trendCategory,

.stripbg {background-position:0px -360px}
#trends.edition_de #trFashion {background-position: 0px -120px;}
#trends.edition_de #trBeauty {background-position: 0px -200px;}
#trends.edition_de #trLiving {background-position: 0px -280px;}
#trends.edition_fr #trFashion {background-position: -600px -120px;}
#trends.edition_fr #trBeauty {background-position: -600px -200px;}
#trends.edition_fr #trLiving {background-position: -600px -280px;}
#trends.edition_us #trFashion {background-position: -300px -120px;}
#trends.edition_us #trBeauty {background-position: -300px -200px;}
#trends.edition_us #trLiving {background-position: -300px -280px;}
 */