.accordion ul {
	margin: 0;
	padding: 0;
}
.accordion li{
	
	cursor: pointer;
	
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
}
.accordion li div {
	position: relative;
    background-color: #ECD9C8;
    margin: 0 0 30px 0;
    padding: 10px 20px;
    text-align: left;
    width: 100%;
    font-size: 16px;
    color: #371F09;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -webkit-box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 3px 0 rgba(0,0,0,0.25);
    box-shadow: 0px 3px 0 rgba(0, 0, 0, 0.25);
}

.accordion li div:after {
    position: absolute;
    display: block;
    content: "";
    border-color: #ECD9C8 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #ECD9C8;
    border-style: solid;
    border-width: 10px;
    height: 0;
    width: 0;
    position: absolute;
    bottom: -19px;
    left: 1em;
}
.accordion li div:hover {
	background-color: #FFF1E5;
}
.accordion li div:hover:after {
	border-color: #FFF1E5 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #FFF1E5;
}

.accordion li ul li {
	width: 100%;
	margin: 0 0 10px 0;
	cursor:default;
	background: #fff;
	padding: 10px;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.accordion li:first-child {
	
}

.accordion li.active{
	color:#D15600
}
.accordion li ul{
	padding:0;
	margin:10px 0 0 0;
}

.accordion li.active li{
	text-indent:0;
}
.accordion li li{
	font-weight: normal;
	background:none;
	border:0;
}