.dark {
	background: #333;
	color: #CCC;
	font-size: 12px;
	text-align: center;
}
.light {
	background: #CCC;
	font-size: 12px;
	text-align: center;
}

.pull-left{float:left}
.pull-right{float:right}
.row{
	min-height:2em;
	/*line-height:2em;*/
	width:100%;
}
.span{
	float:left;
	display:inline;
	min-height:1em;
	margin:0 1% 20px 1%;
}
.span:first-child{margin-left:0}
.span:last-child{margin-right:0}
.one{width:9%}
.two{width:17%}
.three{width:25%}
.four{width:32%}
.five{width:41%}
.six{width:49%}
.seven{width:57%}
.eight{width:66%}
.nine{width:73%}
.ten{width:81%}
.eleven{width:89%}
.twelve{width:100%}
.container:after{
	content:"\0020";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.row:before,.row:after{
	content:'\0020';
	display:block;
	overflow:hidden;
	visibility:hidden;
	width:0;
	height:0;
}
.row:after{
	clear:both;
}
.row{
	zoom:1;
}
.table{
	width:100%;
	border-spacing:0;
	border-collapse:collapse;
	text-align:left;
}
.table th,.table td{
	border-bottom:2px #d1d1d1 solid;
	padding:8px 12px;
}
.table td{
	border-bottom:1px #d4d4d4 solid;
}
.table.table-striped tbody tr:nth-child(2n+1){
	background-color:#f3f3f3;
}
.table.table-bordered{
	border:1px #CCC solid;
}
.table.table-bordered td,.table.table-bordered th{
	border:1px #CCC solid;
}
.button{
	border:0;
	border-radius:4px;
	outline:0;
	cursor:pointer;
}
.button.small{
	padding:7px 20px;
	font-size:.95em;
}
.button.large{
	padding:15px 45px;
	font-size:1.1em;
}
.button.primary{
	color:#FFF;
	background:#5f90b0;
}
.button.primary:hover{
	background:#5589ab;
}
.button.success{
	color:#FFF;
	background:#4daf7c;
}
.button.success:hover{
	background:#48a474;
}
.button.danger{
	color:#FFF;
	background:#e6623c;
}
.button.danger:hover{
	background:#e4572e;
}
.navbar{
	background:#FFF;
	padding:10px;
	margin-bottom:10px;
	border-bottom:1px #DDD solid;
	height:30px;
}
.navbar h4{
	color:#191919;
	font-weight:200;
}
.navbar li{
	display:inline-block;
	padding:.3em 15px 0 0;
}
.navbar li:last-child{
	padding-right:0;
}
.navbar.fixed{
	position:fixed;
	left:0;
	right:0;
	top:0;
}
@media (max-width: 767px) {
	.span {
			width: 100%;
		}
}