.container .jumbotron,
.container-fluid .jumbotron {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 12px 30px;
}
.container .jumbotron h1,
.container-fluid .jumbotron h1 {
  margin-bottom: 0.1em;
}

.asm-error-message {
  padding: 0 30px;
}

#asm-number {
  background-color: #f8f7d2;
  border: 1px solid #e0d04f;
  padding: .5em;
  margin-top: 12px;
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  border-radius: 4px / 4px;
  font-family: "courier-new", monospace;
}

#report {
  margin: 0 0 20px 20px;
  max-width: 780px;
}

#report li {
  margin-bottom: 1em;
  line-height: 1.8em;
}

#global-banner .acs-logo {
  display: none !important;
}

#headerSubContainer #global-logo {
  width: 100%;
}

.acs-logo {
  float: left;
}

#prf-logo {
  float: right;
}

.ft-links ul {
  float: left;
}

.ft-links p {
  float: right;
  margin-bottom: 0;
}

@media screen and (min-width: 1200px) {
  .container .jumbotron, .container-fluid .jumbotron,
  .asm-error-message {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media screen and (max-width: 940px) {
  .asm-error-message {
    padding: 0;
  }

  .ft-links ul,
  .ft-links p {
    float: none;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  #global-banner #global-links ul {
    display: block;
    margin: 0 1em 0 1.3em;
  }

  #asm-number {
    display: block;
  }
}
@media screen and (max-width: 480px) {
  .jumbotron {
    padding: 12px 20px;
  }
}
