/*
YUI 3.18.1 (build f7e7bcb)
Copyright 2014 Yahoo! Inc. All rights reserved.
Licensed under the BSD License.
http://yuilibrary.com/license/
*/

html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}
ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}
sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;*font-size:100%}legend{color:#000}
/*************ek98ey1l5a*****************/
body {font-family: Helvetica,​Arial,​sans-serif; background: #FFDD7A;}
.bhoamb1zon {height: 30px; line-height: 30px; vertical-align: middle; position: relative;border: 1px solid #f6f6f6;
        background: #C97600;
        background: -moz-linear-gradient(top,  #C97600 0%, #C97600 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#C97600), color-stop(100%,#C97600));
        background: -webkit-linear-gradient(top,  #C97600 0%,#C97600 100%);
        background: -o-linear-gradient(top,  #C97600 0%,#C97600 100%);
        background: -ms-linear-gradient(top,  #C97600 0%,#C97600 100%);
        background: linear-gradient(to bottom,  #C97600 0%,#C97600 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#C97600', endColorstr='#C97600',GradientType=0 );
}
.bhoamb1zon span {font-size: 20px; font-weight: bold; margin-left: 30px; color: #fff; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);}
/**************s form******************/
#piwsrjkxrk {width: 375px; height: 26px; position: absolute; right: 2px; top: 2px;}
#jou2cnsser {float: left; height: 26px; line-height: 26px; vertical-align: middle; margin: 0; padding: 0; border: 0; width: 270px;}
#u1eg4rb19s {float: right; border: none; height: 26px; line-height: 26px; vertical-align: middle;border: 1px solid #fff; color: #fff;
                     background: #C97600;
                     background: -moz-linear-gradient(top,  #C97600 0%, #C97600 100%);
                     background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#C97600), color-stop(100%,#C97600));
                     background: -webkit-linear-gradient(top,  #C97600 0%,#C97600 100%);
                     background: -o-linear-gradient(top,  #C97600 0%,#C97600 100%);
                     background: -ms-linear-gradient(top,  #C97600 0%,#C97600 100%);
                     background: linear-gradient(to bottom,  #C97600 0%,#C97600 100%);
                     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#C97600', endColorstr='#C97600',GradientType=0 );
}
/*************jachhpucl8*****************/
@media only screen and (max-width: 640px) {
    #iawmp8o53z {height: auto;}
    #dusax9r3h7 {display: none;}
    #efhpi3m5pe {float: none; margin: 0 auto; display: block;}
    #o3r641hm8m {position: relative; width: 100%;}
    #ixgokdzbp6 {height: 110px;}
    #kvp7vodwnb {display: none;}

    .bhoamb1zon {height: auto; padding-bottom: 5px;}
    #piwsrjkxrk {position: relative; width: 100%;}
    #jou2cnsser {max-width: 70%}
    #u1eg4rb19s {max-width: 29%}
    .bhoamb1zon span {margin-left: 20px;}
    .uzsii6hv9p.w8qfj2lqdg li {overflow: auto; height: auto;}

}/*************t2wr5pk2b1*****************/
#jdbg7owfi3 {height: 60px; width: 305px; margin: 5px auto; background: url("../images/mxekdrnv17.png") 0 0;}/**************thumbs list******************/
.bhoamb1zon .qzu6czw5qh {font-size: 14px;}
.bhoamb1zon .qzu6czw5qh a {color: #fff;}
.bhoamb1zon .h3q4dar3hg {font-size: 16px;}
.bhoamb1zon .h3q4dar3hg a {color: #fff;}
/************** index ******************/
.dw3ojmd29w {list-style: none; text-align: center; padding: 7px 0;}
.dw3ojmd29w li {width: 311px; display: inline-block; margin: 0px; position: relative; vertical-align: top; margin-bottom: 4px;}
.dw3ojmd29w li a {position: relative; text-decoration: none; display: block;}
.dw3ojmd29w li a img {display: block;}
.dw3ojmd29w li a span {position: absolute; left: 0px; bottom: 0; line-height: 25px; height: 25px; vertical-align: middle; text-align: center; background: url("../images/wujhbnou.png") repeat; display: block; color: #fff; width: 311px; font-size: 16px; font-weight: bold;}

.dw3ojmd29w.pyy7bwi2oo li {height: 257px; overflow: hidden;}
.dw3ojmd29w .uq86nbbc6e {position: absolute; left: 0px; top: 214px; line-height: 20px; height: 20px; vertical-align: middle; background: url("../images/wujhbnou.png") repeat; display: block;
                                 color: #fff; width: 311px; font-size: 12px;}
.dw3ojmd29w .uq86nbbc6e a {float: left; color: #fff; margin-left: 5px; text-decoration: underline;}
.dw3ojmd29w .uq86nbbc6e span {float: right; margin-right: 5px;}
.dw3ojmd29w .und7ynhe7h {display: block; position: relative; padding-bottom: 3px; overflow: hidden;}
.dw3ojmd29w .und7ynhe7h a {display: block; padding: 2px 4px; margin: 2px; color: #fff; float: left; font-size: 12px; font-weight: bold; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35); background: #C97600; height: 13px; line-height: 13px; vertical-align: middle; text-decoration: underline;}/************** index ******************/
.qxvtxiq8se {list-style: none; text-align: center; padding: 7px 0;}
.qxvtxiq8se li {width: 311px; display: inline-block; margin: 0px; position: relative; vertical-align: top; margin-bottom: 4px;}
.qxvtxiq8se li a {position: relative; text-decoration: none; display: block;}
.qxvtxiq8se li a img {display: block;}
.qxvtxiq8se li a span {position: absolute; left: 0px; bottom: 0; line-height: 25px; height: 25px; vertical-align: middle; text-align: center; background: url("../images/wujhbnou.png") repeat; display: block; color: #fff; width: 311px; font-size: 16px; font-weight: bold;}

.qxvtxiq8se.liph4wph3r li {height: 257px; overflow: hidden;}
.qxvtxiq8se .l1buv4zq7n {position: absolute; left: 0px; top: 214px; line-height: 20px; height: 20px; vertical-align: middle; background: url("../images/wujhbnou.png") repeat; display: block;
                                 color: #fff; width: 311px; font-size: 12px;}
.qxvtxiq8se .l1buv4zq7n a {float: left; color: #fff; margin-left: 5px; text-decoration: underline;}
.qxvtxiq8se .l1buv4zq7n span {float: right; margin-right: 5px;}
.qxvtxiq8se .xqr1y546bd {display: block; position: relative; padding-bottom: 3px; overflow: hidden;}
.qxvtxiq8se .xqr1y546bd a {display: block; padding: 2px 4px; margin: 2px; color: #fff; float: left; font-size: 12px; font-weight: bold; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35); background: #C97600; height: 13px; line-height: 13px; vertical-align: middle; text-decoration: underline;}
/*************jb83k9d4nk*****************/
#v659jndd48 {text-indent: 30px; color: #fff; font-weight: bold; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);}
#v659jndd48 span {text-indent: 0; margin: 0;}
#v659jndd48 a {text-decoration: none;}
#yciypvsih7 {overflow: hidden; width: 100%; padding: 0 4px; height: 257px; margin: 5px 0;}
#yciypvsih7 li {float: left; margin-left: 5px; margin-bottom: 12px;}
#qft2yun456 {width: 588px; height: 497px; position: relative; float: left;}
.qxvtxiq8se.yejlcty9oj {padding-top: 23px;}
#zqoiho6iia {width: 588px; height: 497px; background: none; position: absolute; top: 0px; left: 0px; z-index: 9000; display: block; overflow: hidden;}
#li2uu3mfca {text-indent: 4px; color: #fff; font-weight: bold; background: #C97600; line-height: 1.15;}/**************thumbs list******************/
.bhoamb1zon .qzu6czw5qh {font-size: 14px;}
.bhoamb1zon .qzu6czw5qh a {color: #fff;}
.bhoamb1zon .h3q4dar3hg {font-size: 16px;}
.bhoamb1zon .h3q4dar3hg a {color: #fff;}
/************** index ******************/
.ib2fmxl8wx {list-style: none; text-align: center; padding: 7px 0;}
.ib2fmxl8wx li {width: 311px; display: inline-block; margin: 0px; position: relative; vertical-align: top; margin-bottom: 4px;}
.ib2fmxl8wx li a {position: relative; text-decoration: none; display: block;}
.ib2fmxl8wx li a img {display: block;}
.ib2fmxl8wx li a span {position: absolute; left: 0px; bottom: 0; line-height: 25px; height: 25px; vertical-align: middle; text-align: center; background: url("../images/wujhbnou.png") repeat; display: block; color: #fff; width: 311px; font-size: 16px; font-weight: bold;}

.ib2fmxl8wx.lx5uvypign li {height: 257px; overflow: hidden;}
.ib2fmxl8wx .kpf3sankt2 {position: absolute; left: 0px; top: 214px; line-height: 20px; height: 20px; vertical-align: middle; background: url("../images/wujhbnou.png") repeat; display: block;
                                 color: #fff; width: 311px; font-size: 12px;}
.ib2fmxl8wx .kpf3sankt2 a {float: left; color: #fff; margin-left: 5px; text-decoration: underline;}
.ib2fmxl8wx .kpf3sankt2 span {float: right; margin-right: 5px;}
.ib2fmxl8wx .mt92gl9wf2 {display: block; position: relative; padding-bottom: 3px; overflow: hidden;}
.ib2fmxl8wx .mt92gl9wf2 a {display: block; padding: 2px 4px; margin: 2px; color: #fff; float: left; font-size: 12px; font-weight: bold; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35); background: #C97600; height: 13px; line-height: 13px; vertical-align: middle; text-decoration: underline;}/*************txq5d3ve7j*****************/
#iawmp8o53z {position: relative; height: 120px;}

#dusax9r3h7 {width: 150px; height: 120px; float: left;}
#dusax9r3h7 a {display: block; width: 149px; height: 30px; line-height: 30px; vertical-align: middle; font-size: 14px; text-transform: uppercase; text-decoration: none; text-indent: 20px; color: #fff; font-weight: bold;
              text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35); float: left; border-left: 1px solid #f6f6f6; border-top: 1px solid #f6f6f6;
              background: #C97600;
              background: -moz-linear-gradient(top,  #C97600 0%, #C97600 40%, #C97600 100%);
              background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#C97600), color-stop(40%,#C97600), color-stop(100%,#C97600));
              background: -webkit-linear-gradient(top,  #C97600 0%,#C97600 40%,#C97600 100%);
              background: -o-linear-gradient(top,  #C97600 0%,#C97600 40%,#C97600 100%);
              background: -ms-linear-gradient(top,  #C97600 0%,#C97600 40%,#C97600 100%);
              background: linear-gradient(to bottom,  #C97600 0%,#C97600 40%,#C97600 100%);
              filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#C97600', endColorstr='#C97600',GradientType=0 );
}
#dusax9r3h7 a:hover {background: #c9de96;
                    background: -moz-linear-gradient(top,  #c9de96 0%, #8ab66b 44%, #398235 100%);
                    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c9de96), color-stop(44%,#8ab66b), color-stop(100%,#398235));
                    background: -webkit-linear-gradient(top,  #c9de96 0%,#8ab66b 44%,#398235 100%);
                    background: -o-linear-gradient(top,  #c9de96 0%,#8ab66b 44%,#398235 100%);
                    background: -ms-linear-gradient(top,  #c9de96 0%,#8ab66b 44%,#398235 100%);
                    background: linear-gradient(to bottom,  #c9de96 0%,#8ab66b 44%,#398235 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9de96', endColorstr='#398235',GradientType=0 );
}

#o3r641hm8m {width: 150px; position: absolute; right: 0px; top: 0px;}
#jzer37cdhi {display: block; height: 30px; line-height: 30px; vertical-align: middle; font-size: 14px; text-transform: uppercase; text-decoration: none; text-indent: 20px; color: #fff; font-weight: bold;
           cursor: pointer; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35); position: relative;
           background: #C97600;
           background: -moz-linear-gradient(top,  #C97600 0%, #C97600 47%, #C97600 100%);
           background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#C97600), color-stop(47%,#C97600), color-stop(100%,#C97600));
           background: -webkit-linear-gradient(top,  #C97600 0%,#C97600 47%,#C97600 100%);
           background: -o-linear-gradient(top,  #C97600 0%,#C97600 47%,#C97600 100%);
           background: -ms-linear-gradient(top,  #C97600 0%,#C97600 47%,#C97600 100%);
           background: linear-gradient(to bottom,  #C97600 0%,#C97600 47%,#C97600 100%);
           filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#C97600', endColorstr='#C97600',GradientType=0 );
}
#jzer37cdhi.zyyont5lze {font-size: 11px;}
#y8s5qhhx57 {width: 0px; height: 0px; margin: 0 auto; border-left: 7px solid transparent; border-right: 7px solid transparent; position: absolute; right: 10px; top: 12px; display: block; overflow: hidden;}
#y8s5qhhx57.c3k9n23s84 {border-top: 7px solid #fff;}
#y8s5qhhx57.jgrlu93ap2 {border-bottom: 7px solid #fff;}
#ixgokdzbp6 {height: 260px; display: none; overflow-x: hidden; overflow-y: scroll; position: absolute; left: 0; top: 30px; z-index: 1000; width: 100%;}
#ixgokdzbp6 a {display: block; height: 20px; line-height: 20px; vertical-align: middle; text-indent: 25px; text-decoration: none; font-size: 12px; color: #000; float: left; width: 100%;
                  background: #fefcea;
                  background: -moz-linear-gradient(top,  #fefcea 0%, #ccc 100%);
                  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefcea), color-stop(100%,#ccc));
                  background: -webkit-linear-gradient(top,  #fefcea 0%,#ccc 100%);
                  background: -o-linear-gradient(top,  #fefcea 0%,#ccc 100%);
                  background: -ms-linear-gradient(top,  #fefcea 0%,#ccc 100%);
                  background: linear-gradient(to bottom,  #fefcea 0%,#ccc 100%);
                  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#ccc',GradientType=0 );
}

#efhpi3m5pe {float: left; margin-left: 20px;}

#kvp7vodwnb {position: absolute; left: 370px; bottom: 43px;}/************** index ******************/
.uzsii6hv9p {list-style: none; text-align: center; padding: 7px 0;}
.uzsii6hv9p>span {width: 311px; display: inline-block; margin: 0px; position: relative; vertical-align: top; margin-bottom: 4px;}
.uzsii6hv9p span a {position: relative; text-decoration: none; display: block;}
.uzsii6hv9p span a img {display: block;}
.uzsii6hv9p span a>span {position: absolute; left: 0px; bottom: 0; line-height: 25px; height: 25px; vertical-align: middle; text-align: center; background: url("../images/wujhbnou.png") repeat; display: block; color: #fff; width: 311px; font-size: 16px; font-weight: bold;}
/**************cat list******************/
#h1wswc8qif {position: relative; padding: 10px; overflow: hidden;}
#h1wswc8qif a {display: block; float: left; margin: 2px 1px; width: 250px; max-width: 47%; color: #222; text-decoration: none;}
#h1wswc8qif a span {color: #61C419;}/**************thumbs list******************/
.bhoamb1zon .qzu6czw5qh {font-size: 14px;}
.bhoamb1zon .qzu6czw5qh a {color: #fff;}
.bhoamb1zon .h3q4dar3hg {font-size: 16px;}
.bhoamb1zon .h3q4dar3hg a {color: #fff;}
/************** index ******************/
.t4j3hovx8x {list-style: none; text-align: center; padding: 7px 0;}
.t4j3hovx8x li {width: 311px; display: inline-block; margin: 0px; position: relative; vertical-align: top; margin-bottom: 4px;}
.t4j3hovx8x li a {position: relative; text-decoration: none; display: block;}
.t4j3hovx8x li a img {display: block;}
.t4j3hovx8x li a span {position: absolute; left: 0px; bottom: 0; line-height: 25px; height: 25px; vertical-align: middle; text-align: center; background: url("../images/wujhbnou.png") repeat; display: block; color: #fff; width: 311px; font-size: 16px; font-weight: bold;}

.t4j3hovx8x.cfpfen1fcw li {height: 257px; overflow: hidden;}
.t4j3hovx8x .oxpqesoddo {position: absolute; left: 0px; top: 214px; line-height: 20px; height: 20px; vertical-align: middle; background: url("../images/wujhbnou.png") repeat; display: block;
                                 color: #fff; width: 311px; font-size: 12px;}
.t4j3hovx8x .oxpqesoddo a {float: left; color: #fff; margin-left: 5px; text-decoration: underline;}
.t4j3hovx8x .oxpqesoddo span {float: right; margin-right: 5px;}
.t4j3hovx8x .d8gopl7guj {display: block; position: relative; padding-bottom: 3px; overflow: hidden;}
.t4j3hovx8x .d8gopl7guj a {display: block; padding: 2px 4px; margin: 2px; color: #fff; float: left; font-size: 12px; font-weight: bold; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35); background: #C97600; height: 13px; line-height: 13px; vertical-align: middle; text-decoration: underline;}/************** index ******************/
.j1l11iu6ek {list-style: none; text-align: center; padding: 7px 0;}
.j1l11iu6ek li {width: 311px; display: inline-block; margin: 0px; position: relative; vertical-align: top; margin-bottom: 4px;}
.j1l11iu6ek li a {position: relative; text-decoration: none; display: block;}
.j1l11iu6ek li a img {display: block;}
.j1l11iu6ek li a span {position: absolute; left: 0px; bottom: 0; line-height: 25px; height: 25px; vertical-align: middle; text-align: center; background: url("../images/wujhbnou.png") repeat; display: block; color: #fff; width: 311px; font-size: 16px; font-weight: bold;}.xvzptd7bg2 {list-style: none; text-align: center; padding: 7px 0;}
.xvzptd7bg2>span {width: 311px; display: inline-block; margin: 0px; position: relative; vertical-align: top; margin-bottom: 4px;}
.xvzptd7bg2 span a {position: relative; text-decoration: none; display: block;}
.xvzptd7bg2 span a img {display: block;}
.xvzptd7bg2 span a>span {position: absolute; left: 0px; bottom: 0; line-height: 25px; height: 25px; vertical-align: middle; text-align: center; background: url("../images/wujhbnou.png") repeat; display: block; color: #fff; width: 311px; font-size: 16px; font-weight: bold;}
.xvzptd7bg2.zle99bugfb {padding-top: 23px;}