@import url("style-base.css");
::-webkit-input-placeholder {color: #6f92a2;}
:-moz-placeholder {color: #6f92a2;}
::-moz-placeholder {color: #6f92a2;}
:-ms-input-placeholder {color: #6f92a2;}
body {color: #6f92a2; background: #083850;}
a {color: #adc8d6;
	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;	
}
a:hover {color: #fff;}
/* header */
div.header {height: 100px;}
div.logo {top: 10px;}
ul.topmenu {left: auto; right: 125px;}
/* search field */
div.search {background: #062231; border-color: #083b54; border-radius: 3px;}
div.search input.sf {color: #adc8d6;}
div.search button.sb:after {color: #f05733;}
.autocomplete-suggestions {border-color: #062231; background:#062231;}
.autocomplete-suggestion {color: #adc8d6;}
.autocomplete-selected {background: #041822;}
.autocomplete-suggestions strong {color: #fff;}
/* lang selector */
#lngselect {background:url("http://static.webclicks24.com/images/select-arrow-w.png") no-repeat 100% 50%;}
#lngselect strong {color: #fff;}
#lngselect.down:after {border-bottom-color: #051f2b;}
#lngselect ul {background-color: #072838; border-color: #051f2b;}
/* headers */
h1,h2,div.h {border-bottom: 1px dashed #395e71;}
h1,h2 {font-size: 24px; font-weight: 400; color: #fff;}
div.h h1, div.h h2 {border: none; background: none;}
div.tbookshare {right: -5px;}
/* buttons */
div.sort a, div.durgrp a, div.timerange a, div.pages a {background:#052331; border-radius: 2px;}
div.sort a:hover, div.durgrp a:hover, div.timerange a:hover, div.pages a:hover {background: #031821;}
div.sort a.current, div.durgrp a.current, div.timerange a.current, div.pages a.current {background:#c4472a; color:#fff;}
/* content and thumb categories */
ul.content li, ul.tcats li, ul.relatedthumbs li {border-color: #083b54; background: #062737;}
ul.content li h3 {background-color: #052331; border-bottom: 1px solid #052331; color: #b8ccd6;}
ul.content li span.src a {color: #6f92a2;}
ul.content li span.src a:hover {color: #fff;}
ul.content li span.tl {border-top: 1px solid #052331;}
ul.content li span.tl span {}
ul.content li span.tl a {}
ul.content li span.tl a:hover {}
ul.content li span.tl a.c {}
ul.content li span.hdlabel {background: #c4472a;}
/* icons */
ul.content li h3:after, ul.content li span.add:after, ul.content li span.src:after, ul.content li span.tl a:after, ul.content li span.tl span:after, div.related a:after, ul.relatedthumbs li h3:after {color: #c4472a;}
div.az ul li:after, div.related a:after {color: #c4472a;}
/* text categories */
div.az ul li.letter {background: none; color: #d5dee3; border-bottom: 1px dashed #304f5f; padding-left: 2px;}
/* back to top button */
#back_to_top a#back-to-top {background: #0f6590;}
/* banners */
.ads3b {border-color: #083b54; background: #062737;}
/* toplist */
div.tradeindex div.cont div.timg img {border: 1px solid #083b54;}
div.tradeindex div.cont div.timg a:hover img {border: 1px solid #083b54;}
ul.globaltop li {border-bottom: 1px dotted #12465f; color: #f05733;}



@media all and (max-width: 1000px) {
	h1,h2 {font-size: 20px;}
	ul.content li, ul.tcats li, ul.relatedthumbs li, ul.content li:hover, ul.tcats li:hover, ul.relatedthumbs li:hover {border-color: #083850; box-shadow: inset 0 0 1px #02131b;}
}
@media all and (max-width: 767px) {
	div.header {height: 100px; background: none;}
	div.search {top:auto;}
	div.logo {top: 5px;}
	ul.content li a.report {color: #76a1b4;}
}
@media all and (max-width: 479px) {
	h1,h2 {font-size: 16px;}
}

