@charset "gb2312";
/* CSS Document */
* {margin:0; padding:0;word-break: break-all; word-wrap: break-word;}
body{_position:relative; }
body, th, td, input, select, textarea, button { font: 12px/1.125 "Microsoft YaHei"; color:#333333; }
body, h1, h2, h3, h4, h5, h6, form, fieldset,div,dl,dt,dd,ul,ol,li,input,button,textarea,p,th,td,a,img ,strong{ margin:0px; padding:0px; }
.ckl_page{ margin:0px; padding:0px; overflow:hidden;}
div,form,img,ul,ol,li,dl,dt,dd,p {border:0;margin:0px; padding:0px;}
h1, h2, h3, h4, h5, h6{font-size:12px;margin:0;padding:0; line-height:150%;}
li{list-style-type:none;}
img,input{vertical-align:middle;}
cite,em,i{ font-style:normal;}
/* link */
a{color:#333333;text-decoration:none; outline:none; outline-style:none;}
a:hover{text-decoration:underline; color:#339900;}
a img{border: none;}
.clear{clear:both; font:0px/0px sans-serif; display:block;}
.cfix:after{content:".";visibility:hidden;display:block;clear:both;height:0;}
.cfix{zoom:1;}
.hand{cursor:pointer;}
.area{width:1000px;margin:0 auto;}
.abs{position:absolute;}
.rel{position:relative;}
.fl{float:left;}
.fr{float:right;}
.ckl_footer {
    background: #EEE none repeat scroll 0% 0%;
    padding-top: 38px;
    height: 420px;
}
.ckl_footmai{width: 1240px;margin: 0 auto;}
.ckl_footer h1 {
    margin: 10px 10px 0px 0px;
    display: inline;
}
.ckl_footer h1 a {
    display: inline-block;
    width: 121px;
    height: 39px;
    background: transparent url("bt_logo.png") no-repeat scroll 0% 0%;
}
.ckl_footer .ckl_form {
    position: relative;
    margin-right: 15px;
    margin-top: 10px;
}
.ckl_footer .ckl_form label {
    width: 346px;
    border: 1px solid #CFCFCF;
    background: #FFF none repeat scroll 0% 0%;
    height: 37px;
    padding: 0px 6px;
    display: block;
    border-radius: 5px 0px 0px 5px;
    float: left;
}
.ft-form{width: 590px;margin: 0 auto;}
.ckl_footer .ckl_form label,.ckl_footer .ckl_form .ckl_btin{
	transition: all 0.5s ease 0s;
}
.ckl_footer .ckl_form label input {
    line-height: 21px;
    height: 21px;
    width: 100%;
    margin: 8px 0;
    border: 0px none;
    font-size: 14px;
    background: transparent none repeat scroll 0% 0%;
    outline: medium none;
    color: #999;
}
.ckl_footer .ckl_btin .ckl_but {
    width: 79px;
    height: 37px;
    border: 0px none;
    cursor: pointer;
    background-position: -80px 7px;
    font-size: 18px;
    color: #FFF;
    font-family: "Microsoft YaHei";
    background-color: #9CC715;
    padding-left: 22px;
}
.ckl_btin {
    display: inline-block;
    width: 79px;
    height: 37px;
    border-width: 1px 1px 1px 0px;
    border-style: solid solid solid none;
    border-color: #9CC715;
    background: #9CC715 none repeat scroll 0% 0%;
    position: relative;
}
.ckl_btin .ckl_but{
    background-image: url("login_coin.png");
background-repeat: no-repeat;
}
.ckl_footer .ckl_keyword {
    margin-left: 400px;
    width: 343px;
    height: 18px;
    overflow: hidden;
}
.ckl_footer .ckl_keyword a {
    margin-right: 7px;
    color: #D4D4D4;
}
.ckl_footer .ckl_lib {
    margin-top: 20px;
    padding-top: 20px;
    background-color: #fff;
    padding-bottom: 20px;
}
.ckl_footer .ckl_lib1 {
    margin-left: 0px;
    width: 25%;
}
.ckl_footer .ckl_lib2 {
    width: 25%;
    padding-right: 0px;
}
.ckl_footer .ckl_lib3 {
    width: 20%;
    padding: 0px;
}
.ckl_footer .ckl_lib2 li {
    float: left;
    width: 45px;
}
.ckl_footer .ckl_lib1, .ckl_footer .ckl_lib2, .ckl_footer .ckl_lib3, .ckl_footer .ckl_lib4 {
    color: #4D4D4D;
    line-height: 27px;
    display: inline;
    border-right: 1px solid #DDD;
    height: 80px;
    overflow: hidden;
}
.ckl_footer .ckl_lib4 {
    border-right: 0px none;
    width: 29%;
    line-height: 27px;
}
.ckl_footer .ckl_lib1,.ckl_footer .ckl_lib3{

}
.ckl_footer .ckl_copy, .ckl_footer .ckl_copy a {
    text-align: center;
    color: #808080;
    line-height: 23px;
    padding-top: 34px;
    background-color: #f7f7f7;
}
.ckl_footer .ckl_plocas {
    text-align: center;
    padding-top: 12px;
    background-color: #f7f7f7;
    padding-bottom: 10px;
}
.ckl_footer .ckl_plocas a.ckl_i1 {
    background-position: 0px 0px;
}
.ckl_footer .ckl_plocas a {
    background: transparent url("ckl_copyright.jpg") no-repeat scroll 0% 0%;
    display: inline-block;
    width: 120px;
    height: 50px;
    margin-right: 6px;
}

.ckl_footer .ckl_lib1 h3, .ckl_footer .ckl_lib2 h3, .ckl_footer .ckl_lib3 h3 {
    font-size: 14px;
    font-weight: bold;
}
.ckl_footer .ckl_lib1 a, .ckl_footer .ckl_lib2 a, .ckl_footer .ckl_lib3 a, .ckl_footer .ckl_lib4 a {
    /*width: 75px;*/
    margin-left: 20px;
    display: inline-block;
    float: left;
    height: 27px;
    min-width: 25px;
}
.ckl_footer .ckl_lib1 a, .ckl_footer .ckl_lib2 a, .ckl_footer .ckl_lib3 a, .ckl_footer .ckl_lib4 a {
    display: block;
    color: #808080;
}
.ckl_footer .ckl_lib4 li {
    width: 75px;
}
.ckl_footer .ckl_plocas a.ckl_i1 {
    background-position: 0px 0px;
}
.ckl_footer .ckl_plocas a {
    background: transparent url("http://vi1.ku6img.com/data1/p16/cms/2015/1/14/pic_1421218982268.jpg") no-repeat scroll 0px 0px;
}
.ckl_footer .ckl_plocas a.ckl_i2 {
    background-position: 0px -50px;
}
.ckl_footer .ckl_plocas a.ckl_i3 {
    background-position: 0px -100px;
}
.ckl_footer .ckl_plocas a.ckl_i4 {
    background-position: 0px -150px;
    width: 135px;
}
.ckl_footer .ckl_plocas a.ckl_i5 {
    background-position: 0px -200px;
    width: 116px;
}
.ckl_footer .ckl_plocas a.ckl_i6 {
    background-position: 0px -251px;
    cursor: pointer;
}
.ckl_lib1 h3,.ckl_lib2 h3,.ckl_lib3 h3,.ckl_lib4 h3{margin-left: 20px;}