@charset "utf-8";
/* CSS Document */
/* **************** MISE A NIVEAU ***************** */
html {margin:0;padding:0;width: 100%;height: 100%;}
body, div, ul, ol, li, h1, h2, h3, h4, h5, h6, form, input, textarea, p, td, blockquote, dl, dt, dd, pre, img {margin:0;padding:0;}
table {border-collapse:collapse;border-spacing:0;}
input {border:0;}
fieldset, img, textarea {border:0;}
ol, ul, dl{list-style:none;}
h1, h2, h3, h4, h5, h6, h7 {font-size:100%;font-weight:normal;}
/* **************** STYLES GENERAUX (balises) ***************** */
a {outline:none;text-decoration:none;}
.strong {font-weight:bold;}
.em {font-style:italic;}
.display_block {display: block ;}
.display_none {display:none;}
.nowrap {white-space:nowrap;}
.display_inline {display:inline ;}
.display_inline_block {display:inline-block ;}
.txt_majiscule { text-transform:uppercase ;}
.underline, a.for_underline:hover {text-decoration:underline;}
a.underline:hover {text-decoration:none;}
/* **************** CLASSES DE MISES EN PAGE ***************** */
/* ---- alignement ---- */
.txt-center {text-align:center ;}
.txt-top {vertical-align:top ;}
.txt-center_vertical {vertical-align:middle ;}
.txt-bottom_vertical {vertical-align:bottom ;}
.float-none {float:none ;}
.block_center {margin-left:auto ;margin-right:auto ;}
.clear { clear:both;height:0; font-size:0; line-height: 0; overflow:hidden;}
.clear_both {clear:both;}
.clear_right {clear:right;}
.clear_left {clear:left;}
.overflow_hidden { overflow:hidden;}
.height100_pourcent{ height:100%;}
/* ---- textes ---- */
.txt10 { font-size:10px;} .txt11 { font-size:11px;} .txt14 {font-size:14px;} .txt16 {font-size:16px;} .txt18 {font-size:18px;} .txt20 {font-size:20px;} .txt22 {font-size:22px;} .txt24 {font-size:24px;} .txt26 {font-size:26px;} .txt28 {font-size:28px;} .txt30 {font-size:30px;} .txt40 {font-size:40px;}
/* ---- position ---- */
.relative { position:relative;} .absolute { position:absolute;}