@charset "utf-8";
/* CSS Document */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {margin:0; padding:0; border:0; outline:0; font-size:100%; background:transparent;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block;}
body { -webkit-font-smoothing:antialiased;-moz-font-smoothing:antialiased;font-smoothing:antialiased; direction:rtl;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after, q:before, q:after {content:'';content:none;}
body { margin: auto; width: 1000px; font:normal normal 0.75em  kufi, roboto, Tahoma, Verdana, Helvetica, sans-serif; background:#ebebeb url(../image/jpg/bg_home.jpg) center top no-repeat; background-repeat: no-repeat; background-position: center top; background-attachment: fixed; padding:10px 0 40px; }.float_right {float:left;}.float_left {float:right;}.align_right {text-align:left;}.align_left {text-align:right;}.align_center {text-align:center;}.wrapper { width:1000px; margin:auto; z-index:1;}
img { display:;} .ie7 .zoom { zoom:1;} img, object, embed, video {}.ie6 img {width:100%;}
@font-face {font-family: 'kufi';src: url('kufi.eot');src: url('kufi.eot?#iefix') format('embedded-opentype'), url('kufi.woff') format('woff'), url('kufi.ttf') format('truetype'), url('kufi.svg#kufi') format('svg'); font-weight: normal; font-style: normal;}
@font-face {font-family: 'kufi_bold';src: url('kufi_bold.eot');src: url('kufi_bold.eot?#iefix') format('embedded-opentype'), url('kufi_bold.woff') format('woff'), url('kufi_bold.ttf') format('truetype'), url('kufi_bold.svg#kufi') format('svg'); font-weight: normal; font-style: normal;}
@font-face {font-family: 'roboto';src: url('roboto.eot');src: url('roboto.eot?#iefix') format('embedded-opentype'), url('roboto.woff') format('woff'), url('roboto.ttf') format('truetype'), url('roboto.svg#roboto') format('svg'); font-weight: normal; font-style: normal;}
@font-face {font-family: 'roboto_bold';src: url('roboto_bold.eot');src: url('roboto_bold.eot?#iefix') format('embedded-opentype'), url('roboto_bold.woff') format('woff'), url('roboto_bold.ttf') format('truetype'), url('roboto_bold.svg#roboto') format('svg'); font-weight: normal; font-style: normal;}
/* margins */
.margin_left10{ margin-left:10px;} .margin_left20{ margin-left:20px;}
.margin_top10{ margin-top:10px;} .margin_top20{ margin-top:20px;} .margin_bottom10 { margin-bottom:10px;}.margin_bottom20 { margin-bottom:20px;	}
.margin_right10 { margin-right:10px;} .margin_right20 { margin-right:20px;}
body.live { background:url(../image/jpg/bg_live.jpg) center top no-repeat; padding:0 0 40px 0; margin:auto; width:1000px;}
/************* HEADER *****************/
.top { background:#073153 url(../image/gif/bg_top.gif) left top repeat-x;} .top_in { padding:20px 0 0;} .p1_top { border-bottom:#2e5d84 solid 1px; padding:0 25px 0px;} .dat, .face_connect, .lang { float:left;} .dat { color:#B6C7D5; font-family: kufi,roboto; font-size:14px; margin-left:15px;  text-transform:uppercase; white-space:nowrap;}  a .emssion_onair { color:#000;}.face_connect { padding-left:10px;}.lang a { display:inline-block; text-transform:uppercase;} .lang a img { display:inline-block; position:relative; top:2px;} .lang a , .lang span { color:#B6C7D5; font-size:14px; margin-top:1px;} .lang span { display:inline-block; padding:0 10px;}
.p2_top { padding:15px 25px; position:relative; zoom:1;} .logo { position:absolute; top:0px; right:25px; width:197px; height:137px; zoom:1;} .onair, .zoneban_p2 { float:left;} .onair{ width:255px; }.zoneban_p2 { margin-left:15px; width:468px; height:60px; overflow:hidden;}.webcam { background:url(../image/gif/webcam.gif) left top no-repeat; width:55px; height:60px; display:inline; float:left; } .webcam:hover { background-position:left bottom;}.boxonair { padding:5px 5px 5px 0; height:50px; background:#fff; overflow:hidden; width:195px; position:relative;}.img_onair { float:right; margin-left:5px;}  .txt_onair { display:inline-block; width:40px; height:16px; color:#fff; text-transform:uppercase; font-family: roboto; background:#e80000; text-align:center; margin-left:9px; position: absolute; right: 55px;
top: 39px;} a .ecoutjfm { color:#000;} .titr_proglive a { color:#000;} .ecoutjfm { display:inline-block; height:20px;  text-transform:uppercase;  font-family: kufi_bold; background:url(../image/gif/puce_noir.gif) left 3px no-repeat; padding:0  0 0 15px; line-height: } .emssion_onair {font-family: kufi,roboto; padding:0; line-height:14px; height:14px; display:block;} .date_onair {font-size:0.833em; color:#878787; font-family: kufi,roboto; display:inline-block; margin-top:-2px;}div.menu_actus { padding: 0px 260px 0px 20px; height:82px;}.menu { background:#005985; height:47px; padding:0 260px 0 0;}.list_menuheader li { white-space: nowrap; float:right; position:relative; z-index:150;} ul.list_menuheader li:last-child ul {max-width:105px;} .list_menuheader li a.linkmenu_header { color:#fff; font-family: kufi; font-size:16px; text-transform:uppercase; height:47px; display:inline-block; line-height:47px; padding:0 8px;} .list_menuheader li a.linkmenu_header_activ { background:url(../image/gif/act_menheader.gif) left bottom repeat-x; color:#eddece;}.smenuheader { display:none; position:absolute; right:0; top:47px; background:#014b6f; padding:10px 20px; width:210px; z-index:20;}.smenuheader li { float:none; border-bottom:#417893 dashed 1px; padding:0 2px 0 0;}.smenuheader li a { display:block; background:url(../image/gif/puce_smenu.gif) right 11px no-repeat; padding:4px  15px 6px 0; font-size:1.333em; color:#fff; font-family:kufi,roboto; text-transform:none;} .smenuheader li a:hover {color:#eddece;} .smenuheader li.last {  border-bottom:none;} .list_menuheader li a.linkmenu_header_active { background:#014b6f; color:#eddece;}.titr_actdefil { color:#e3d6c8; font-size:1.333em; font-family:kufi_bold; text-transform:uppercase; border-left:#dfd0c1 solid 1px; padding:5px 0 4px 10px; width:100px} .td_actdefil { padding:0 0 0 10px;} .td_actdefil a { color:#fff; font-size:1.167em; font-family:kufi;} .td_actdefil span { background:url(../image/png/logo-news-slider.png) left top no-repeat; width:32px; height:32px; display:inline-block; margin:0 6px; position:relative; top:8px;} .titr_actdefil_fr { color:#e3d6c8; font-size:1.333em; font-weight:700; text-transform:uppercase; border-right:#dfd0c1 solid 1px; padding:5px 10px 4px 0;} .td_actdefil_fr { padding:0 0 0 10px;} .td_actdefil_fr a { color:#fff; font-size:1.167em; } .td_actdefil_fr span { background:url(../image/png/logo-news-slider.png) left top no-repeat; width:32px; height:32px; display:inline-block; margin:0 6px; position:relative; top:8px;} .box_defil { padding:0px 0 0;} .td_actdefil a:hover { text-decoration:underline;}
.live .article_cont { padding:25px 0 0 0;} .live .logo { top:26px;}  .lecteur_live { margin-bottom:20px; height:60px; background:#000;} .lecteurlive {  width:515px; position:relative; right:30px; top:14px;} .lecteurlive audio{z-index:999999; position:relative;} .zone_banner_live { float:right; width:730px; overflow:hidden; text-align:right;} .info_bootmlive { overflow: hidden; height:100%; zoom:1; line-height:18px; font-family:kufi_bold,roboto;} .info_bootmlive p { padding-right:20px; text-transform:uppercase;} .bottom_live { padding:25px 0 0 0;} .live .contentin { padding-bottom:25px;}
.box_proglive { background:#f5f5f5; position:relative; zoom:1; margin-bottom:20px;} .box_proglive_in { padding:15px 20px 15px;} .img_proglive { width:150px; margin-left:10px; overflow:hidden;} .info_proglive { width:160px; padding-right:10px;} .titr_proglive { margin-bottom:6px; font-family:kufi_bold; font-size:1.333em; text-transform:uppercase; font: 1.333em roboto,kufi_bold;} .etiquet_proglive { margin-bottom:3px; /*display:inline-block;*/ background:#00488f; height:16px; color:#fff; font-family:kufi;  text-transform:uppercase; font-size:0.917em; padding:0 10px 0 5px;} .dat_proglive { margin-bottom:7px; color:#878787; text-transform:uppercase; font-size:0.917em; font-family:kufi,roboto; } .parag_proglive {font-family:kufi; line-height:16px;} .td_disc_proglive {font-family:kufi; line-height:16px; padding:0 20px 0 0 ; background:url(../image/gif/dashed_vgri.gif) right top repeat-y;} .ticket_proglive { position:absolute; right:0; top:0;}
.box_proglive_last { margin-bottom:0;} .pub_live { position:fixed; width:160px;} .bloc_publive { position:absolute; right:0; top:87px;}
.img_slideonair { width: 90px; float:right; margin-left:5px;}
/************* CONTENT ***************/
.content { background:#fff; overflow-x: hidden;} .contentin { padding:20px 25px 70px;}.path { font-family: kufi, roboto; padding:0 0 23px 10px;} .path a { color:#b0b0b0;} .path span { padding:0 4px; color:#b0b0b0;}.zone_banner_content {width: 50%; min-width: 1000px; text-align:center; clear:both; min-height:90px; margin:0px auto; padding-top: 20px;} .article_cont { padding:15px 0 0 0;} .article_text  p { padding:0 0 5px 0; font-size:1.1em;} .article_text  div { padding:0 0 5px 0; font-size:1.1em;} .article { width:630px; float:right;}.img_ev { float:right; margin-left:10px; margin-bottom:2px; position:relative;} .etiquet { line-height:14px; min-width:65px; height:16px; display:inline-block; color:#fff; font-size:.917em; text-transform:uppercase; padding:0 5px 0 5px; margin-left:5px; font-family: kufi_bold, roboto_bold;} .dat_ev { white-space: nowrap; line-height: 17px;
font-weight: 700; color:#878787; font-size:.917em; font: 'roboto'; text-transform:uppercase; direction: rtl; line-height: 17px;} .titr_ev a { font-size:1.5em; line-height:26px; color:#000; font-family: kufi,roboto; margin-bottom:10px; display:block;} .titr_ev a:hover { text-decoration:underline;}.elem_ev { padding:10px 0;} .pad_etiqeut { margin-bottom:10px;} .disc_ev {font-family: kufi; line-height:16px;} .disc_ev_pod{font-family: kufi; line-height:16px; margin-top:5px; float:left; margin-top:-20px;} .sep_dot { background: url(../image/gif/dot.gif) left top repeat-x; height:5px;}
.pol_etiquet1 { background:#ec0000;}  .pol_etiquet2 { background:#ff6000;}.pol_etiquet3 { background:#009dbf;}.pol_etiquet4 { background:#b44400;} .pol_etiquet5 { background:#3b8600;}
.bloc_agenda { background:#1c0a00 url(../image/gif/bg_blocagenda.gif) left top repeat; padding:10px;} .titr_agenda { margin-bottom:8px; color:#fff; font-size:2em; font-family: kufi_bold; text-transform:uppercase; }.tab_content, .tab_content_prog { background:#fff; border-bottom:#f4f4f4 solid 5px;  padding:20px 20px 15px;  } ul.tabs, ul.tabs_prog {  height:40px;    } .tabs li, .tabs_prog li { float:right; display:inline; } .tabs li a , .tabs_prog li a { white-space: nowrap; display:inline-block; padding:0 20px ; height:40px; font-family: kufi_bold; text-transform:uppercase; line-height:40px; margin-left:1px; color:#fff; font-size:1.333em; background:#b44400; }  .tabs li a.active, .tabs_prog li a.active {color:#000;  background:#fff; } .tab_content .pad_etiqeut, .tab_content_prog .pad_etiqeut { margin-bottom:5px;} .tab_content .etiquet, .tab_content_prog .etiquet { margin-bottom:5px;}.bloc_emission { background:#0b2850 url(../image/gif/bg_emission.gif) left top repeat; padding:0 20px;} .titr_blocemission span{ font-size:2em; color:#fff; text-transform:uppercase; font-family: kufi_bold,roboto; background:#df0000; display:inline-block; width:190px; text-align:center; height:40px; line-height:40px; margin-bottom:10px; }.bas_blocemission { background:#df0000; width:190px; height:10px; margin-top:10px;} .slide_emissionin { padding:20px 20px 0;}.titr_emissionslid a { font-size:14px; color:#000; font-family: kufi_bold,roboto; text-transform:uppercase; display:inline-block; margin-bottom:7px; line-height:18px; direction:rtl;} .titr_emissionslid a:hover { color:#005985;}.etiquet_emissionslid { margin-bottom:4px; /*width:85px; height:16px;*/ font-size:.917em; font-family: kufi_bold; background:#00488f; display: inline-block; padding:0 5px 2px 5px; color:#fff; text-transform:uppercase;} .dat_emission_slid { /*margin-bottom:9px;*/ color:#878787; font-size:.917em; font-family: kufi_bold,roboto; text-transform:uppercase;} .disc_emissionslid { font-family: kufi_bold; line-height:16px; height:45px; overflow:hidden;} .img_slidemission { margin-bottom:12px; position:relative;} .zone_banner_content2 { padding:10px 0; /*border:#707070 solid 1px;*/ text-align:center;}.zone_banner_content2 img { display:inline;} .bloc_video { background:#000; padding:7px 20px 20px; } .titr_blocvideo { margin-bottom:10px; color:#fff; font-size:2em; text-transform:uppercase; font-family: kufi_bold;} .bloc_video .titr_emissionslid a { font-size:1em; line-height:16px; text-transform:none; height:40px; overflow:hidden;} .bloc_video .img_slidemission { margin-bottom:6px;} .bloc_video .titr_emissionslid a:hover { text-decoration:underline; color:#000;} .icon_video { z-index:2; width:32px; height:32px; position:absolute; left:10px; bottom:10px; background:url(../image/png/icon_video.png) left top no-repeat;}
.nav_top{ position:fixed; z-index:999; top:148px;} .bloc_msgstudio { position:absolute; right:-115px; top:0px;} .icon_msgstudio { display:inline-block; background:url(../image/gif/messageaudio.gif) left top no-repeat; width:130px; height:118px; } .icon_msgstudio:hover, .icon_msgstudio_active { background-position:left bottom;} .ouvr_msgstudio { display:none; position:absolute; right:130px; top:0; width:360px; background:#005985;}  .titr_msgstudio { margin-bottom:14px; color:#fff; font-size:1.667em; font-family:kufi_bold; text-transform:uppercase;} .lab_studio { color:#fff;  text-transform:uppercase;} .input_studio { width:210px; height:26px; border:#022b3f solid 1px; background:url(../image/gif/bg_input_msg.gif) left top no-repeat;  color:#fff; font-size:1.167em; font-family:kufi;} .area_studio {font-family:kufi;  color:#fff; color:#fff; font-size:1.167em; width:210px; height:68px; border:#022b3f solid 1px; background:url(../image/gif/bg_input_msg.gif) left top no-repeat; resize:none;}.ouvr_msgstudioin { padding:20px 30px 20px 20px;} .btn_studio { background:url(../image/gif/btn_msgaudio.gif) left top no-repeat; width:120px; height:30px; display:block; margin:auto; }  .btn_studio input{  width:120px; height:30px; background:none transparent; text-align:center; color:#000; font-size:1.500em; font-family:kufi_bold; text-transform:uppercase; line-height:30px; cursor:pointer;} .btn_studio:hover { background-position:left bottom;} .btn_studio:hover input { color:#fff;} 
.bloc_rsoc { position:relative; width:259px; right:30px; top:4px; float:right; }.face_top, .gplus_top, .twitter_top, .youtube_top, .rss_top { text-indent:-999em; margin-bottom:5px; margin-top:5px; margin-left:5px; float:left; background:url(../image/png/res_top.png) left top no-repeat; width:32px; height:32px; display:inline-block;} .instagram_top { text-indent:-999em; margin-bottom:5px; margin-top:5px; margin-left:5px; float:left; background:url(../image/png/instagram-icon.png) left top no-repeat; width:32px; height:32px; display:inline-block;} .instagram_top:hover { background-position:-32px 0;} .android_top { text-indent:-999em; margin-bottom:5px; margin-top:5px; margin-left:5px; float:left; background:url(../image/png/android-icon.png) left top no-repeat; width:32px; height:32px; display:inline-block;} .android_top:hover { background-position:-32px 0;} .face_top:hover { background-position:-32px 0;} .gplus_top { background-position:left -32px;} .twitter_top { background-position:left -64px;} .youtube_top{ background-position:left -96px;} .rss_top { background-position:left -128px;} .gplus_top:hover { background-position:-32px -32px;} .twitter_top:hover { background-position: -32px -64px;} .youtube_top:hover { background-position:-32px -96px;} .rss_top:hover { background-position:-32px -128px;} .titr_page { line-height: 1.5em; margin-bottom:10px; font-size:2.1em; font-family:kufi,roboto;} .filter { z-index: 3; position:relative; float:right; margin-bottom:13px;} .link_filter { position:relative; color:#005985; font-size:2.0em; font-family:kufi,roboto; white-space:nowrap; display:inline-block; padding:0 0 0 32px;} .ouvre_filter { background:#fff url(../image/gif/ouvre_filter.gif) left 7px no-repeat; width:22px; height:20px; display:inline-block; border:#fff solid 1px; position:absolute; left:0; top:0;} .select_dat { float:right; display:inline;} .lien_selcdat { color:#878787; font-size:1.167em; font-family:kufi;} .bloc_ag { padding:0 0 20px; } .img_ag { float:left; margin-right:10px;} .titr_ag a { color:#000; font-size:2.167em; font-family:kufi; margin-bottom:10px; display:block;}.titr_ag a:hover { text-decoration:underline;} .parag_ag {font-family:kufi; line-height:16px; margin-bottom:10px;} .list_filter { padding:11px 0 16px; width:248px; position: absolute; left: -168px;top: 36px; background: #fff; border: #ccc solid 1px; z-index: 1;} .list_filter li { margin:0 20px; background: url(../image/gif/dit_filterbot.gif) left bottom repeat-x; padding:4px 0 5px 2px;} .list_filter li a { background:url(../image/gif/puce_linkfilter.gif) right 7px no-repeat; padding:0 14px 0 0; font-family:kufi; font-size:1.167em; color:#000;} .list_filter li a:hover { color:#ec0000;} .link_filter_activ .ouvre_filter {border:#ccc solid 1px; border-bottom:none; height:36px; z-index:2; } .list_filter li.last {background:none;} .vote_dtlpdt { float:left; display:inline; color:#878787; font-size:0.917em; font-family:kufi; text-transform:uppercase;} .star_dtlpdt { padding:0 5px 0 8px;} .star_dtlpdt img { display:inline;}.entet1_dtlpdt  { background:url(../image/gif/dot.gif) left bottom repeat-x; padding:0 0 13px; margin-bottom:10px;} .entet2_dtlpdt .addthis_toolbox { float:right;}  .entet2_dtlpdt  { background:url(../image/gif/dot.gif) left bottom repeat-x; padding:0 0 10px; margin-bottom:10px;} .entet1_dt2pdt  { background:url(../image/gif/dot.gif) left top repeat-x; padding:11px 0 0 ; margin-bottom:10px;}
.entet2_dtlpdttop  { background:url(../image/gif/dot.gif) left bottom repeat-x; padding:0 0 11px;}.catch_info { border:#707070 solid 1px; background: url(../image/gif/gris_catchinfo.gif) left bottom repeat-x;  padding:0 0 0 12px; font-family:kufi; margin:10px 0 27px;} .lecteur_rs { float:right; margin-right:25px; padding:8px 0 0 0;} .link_download {  text-indent:-999em; float:right; width:30px; border-left:#cacaca solid 1px; background:url(../image/png/choix_dtl.png) left top no-repeat; height:38px; display:inline-block;} .catchinfo_rs {float:right; position:relative;} .catchinfo_rs .link_rs { width:30px; border-left:#cacaca solid 1px; background:url(../image/png/choix_dtl.png) right top no-repeat; height:38px; display:inline-block; text-indent:-999em;}  .titr_catch_info { position:relative; top:5px; padding-right: 5px;}.catchinfo_rs .link_rs:hover, .link_rs_active { background-position:right bottom;} .link_download:hover { background-position:left bottom;}  .parag_dtlact { font-size:1.167em; font-family:kufi; margin-bottom:17px;}  .sum_photo {font-family:kufi; color:#9a9a9a; padding:10px 0 0 0;} .ouvre_rs { position:absolute; right:-1px; top:38px; width:auto; background:#fff; border:#ccc solid 1px; padding:10px 0 10px 10px; display:none; z-index:11;}  .ouvre_rs a { margin-right:10px; display:inline-block;} .titr_video_act  { margin-bottom:10px;font-family:kufi,roboto; font-size:1.5em;} .img_dtlact { padding:12px 0 0 0;} .img_dtlact2 { padding:12px 0 18px 0;} .video_dtlact { margin-bottom:16px;} .box_animateur  { margin-bottom:25px; width:200px; float:right; overflow:hidden; margin-right:15px; } .retour_act { float:right; display:inline;} .retour_act a { color:#000; font-family: kufi; font-size:1.167em;}.retour_act a:hover { color:#073255; text-decoration:underline;}.titr_animateur { font-family:kufi; font-size:1.5em; padding:12px 0 0 0;} .disc_animateur { font-size:1.167em; font-family:kufi;} .fiche_anim, .audio_anim, .contact_anim { background:url(../image/gif/choi_animateur.gif) no-repeat; width:24px; height:24px; display:inline-block; text-indent:-999em;} .audio_anim { background-position:-24px 0;} .contact_anim {background-position:-48px 0;} .choi_animateur { padding:10px 0 0 0;} .box_animateurlast { margin-right:0;} .box_gal { margin-top:14px; width:200px; padding:5px; position:relative; right:-5px; float:right; margin-left:5px;} .box_gal_last {margin-left:-10px;} .link_gall { color:#000; font-family:kufi,roboto; font-size:1.167em;} .link_gall:hover { color:#005985;} .titr_gall { padding:5px 0 0 0; display:block;} .img_gall { position:relative;} .box_gall_activ { background:url(../image/gif/bg_galactiv.gif) left top repeat-y;} .box_gall_activ .link_gall { color:#fff;} .box_groupgal { padding:10px 10px 15px; background:#000 url(../image/gif/box_groupgall.gif) left top repeat-x; display:none; }.link_groupgall { width:200px; float:left; margin-right:5px; color:#fff; font-family:kufi; font-size:1.167em;} .link_groupgall_last {margin-right:0;}  .link_groupgall img { margin-bottom:5px;} .plus_gal { position:absolute; right:10px; bottom:10px; background:url(../image/gif/plus_gal.gif) no-repeat; width:16px; height:16px;} .box_gall_activ .plus_gal { background-position:left bottom;} .catchinfo_dtlgal { float:right; display:inline; position:relative;} .catchinfo_dtlgal .link_rs { width:30px;  background:url(../image/png/choix_dtl.png) right top no-repeat; height:38px; display:inline-block; text-indent:-999em;} .catchinfo_dtlgal .link_rs:hover { background-position:right bottom;} .img_dtl_gal { border-bottom:#e4e4e4 solid 5px;} .sum_dtlgal { position:relative; top:10px; color:#9a9a9a; font-family:kufi;} .retour { background:url(../image/gif/btn_retour.gif) left top no-repeat; width:70px; height:26px; display:inline-block; font-family:kufi_bold; color:#fff; font-size:1.333em; text-transform:uppercase; text-align:left; padding-left:10px; line-height:26px; margin-bottom:25px;} .retour:hover { background-position:left bottom;}.comment_face { padding:20px 0 0 0;} 
.grille ul.tabs , .grille ul.tabs_prog {  height:40px;    } .grille .tabs li , .grille .tabs_prog li  { float:right; display:inline; } .grille .tabs li a, .grille .tabs_prog li a {  display:inline-block; padding:0 15px ; height:39px; font-family: kufi_bold,roboto; text-transform:uppercase; line-height:40px;  color:#fff; font-size:1.333em; border-top:#005985 solid 1px; background: #005985; }  .grille .tabs li a.active, .grille .tabs_prog li a.active {color:#005985;  background:#fff; height:36px; position:relative; margin-bottom:-5px; border-right:#005985 solid 1px; margin-left:-1px; border-bottom: #fff solid 8px; }  .grille .tab_content, .grille .tab_content_prog { padding:20px 0; border-top: #f4f4f4 solid 5px;  border-bottom: none;} .grille .tabs li.last a.active, .grille .tabs_prog li.last a.active  {margin-right:0; border-right:#005985 solid 1px;} .img_prog { float:left; margin-right:10px; direction:ltr}
.titr_prog { font-size:2.167em; font-family:kufi,roboto;} .titr_prog a { color:#000;} .heur_prog { color:#878787; font-size:0.917em; font-family:kufi_bold,roboto; text-transform:uppercase; line-height:16px;} .info_prog {font-family:kufi; font-size:1.167em; padding:4px 0 5px;} .box_prog { margin-bottom:20px;} .box_topmusic { margin-bottom:13px; float:left; width:310px;} .box_topmusic_bloc { margin-bottom:13px; float:left; width:195px;}.col1_topmusic { float:left; width:40px; overflow:hidden;} .col2_topmusic { float:left; width:120px; overflow:hidden;}  .col3_topmusic {  width:150px; float:left; overflow:hidden;} .number_topmusic { display:block; text-align:center; font-family:kufi_bold,roboto; color:#fff; font-size: 2.000em; background:#ec0000; height:40px; line-height:40px;} .vote_topmusic { background:#f7f6f6; display:block; height:84px; text-align:center;}  .vote_topmusic .nbr_vote { background:url(../image/png/vote_topmusic.png) center top no-repeat; display:inline-block; padding:23px 0 0 0; color:#000; font-family:kufi; margin-top:19px; cursor:pointer;} .vote_topmusic:hover { background:#005985;} .vote_topmusic:hover .nbr_vote { background:url(../image/png/vote_topmusic_hover.png) center top no-repeat; color:#fff;} .titr_chanson { font-size:1.500em; font-family:kufi,roboto;line-height: 22px;} .chanteur { font-size:1.167em; font-family:kufi,roboto;} .blocinfochanson { padding:5px 0 10px 40px;}
.catchinfo_topmusic { position:relative; z-index:12;} .catchinfo_topmusic .link_rs { margin-left:3px; width:30px;  background:url(../image/png/choix_dtl.png) right top no-repeat; height:38px; display:inline-block; text-indent:-999em;} .catchinfo_topmusic .link_rs:hover { background-position:right bottom;} .img_podcast { float:right; margin-left:10px; margin-bottom:10px;} .etiquet_podcast { background:#005985; height:16px; color:#fff; font-size:0.917em; font-family:kufi_bold; text-transform:uppercase; display:inline-block; padding:0 20px 0 5px; line-height:16px; margin-right:5px;} .info_podcast { margin-bottom:6px; font-size:1.167em; font-family:kufi;} .div_podcast { margin-bottom:30px;}  .div_podcast .link_download { margin-left:15px;  text-indent:-999em; float:right; width:30px; border-left:none; background:url(../image/png/choix_dtl.png) left -8px no-repeat; height:24px; display:inline-block;} .div_podcast .catchinfo_rs {float:none; position:relative;} .div_podcast .catchinfo_rs .link_rs { width:30px; border-left:none; background:url(../image/png/choix_dtl.png) right -8px no-repeat; height:24px; display:inline-block; text-indent:-999em;} .div_podcast .link_download:hover { background-position:left -46px;} .div_podcast .catchinfo_rs .link_rs:hover {background-position:right -46px;}.vote_dtlpodcast {   color:#878787; font-size:0.917em; font-family:kufi; text-transform:uppercase; padding:10px 0 0 0;} .divdtl_podcast { margin-bottom:20px;}
.div_meteo { background:#00498f url(../image/jpg/meteo.jpg) center bottom no-repeat; min-height:753px;} .div_meteoin { padding:25px 20px 20px;} .link_meteo { color:#fff; font-size:1.167em; font-family:kufi; background:url(../image/png/dblpuce.png) right center no-repeat; display:inline; padding:0 20px 0 0; float:right; position:relative; top:4px;} .link_meteo:hover { text-decoration:underline;}.titr_meteo { color:#fff; font-size:2em; font-family:kufi,roboto;} .bloc_meteo { width:98px; float:left; background: url(../image/png/dot_meteo2.png) right center no-repeat; margin-bottom:25px; text-align:center;} .bloc_meteo_last { background:none;} .entet_meteo { margin-bottom:20px;}
.zoneban_p2live { position:relative; right:247px;} .date { color:#878787; font-size:1.167em; font-family:kufi; background: url(../image/gif/icon_date.gif) right top no-repeat; border:none; height:20px; line-height:20px; cursor:pointer; position:relative; top:8px;} .box_l { width:200px; margin-right:15px; float:left; margin-bottom:25px;} .box_l_last { margin-right:0;}
.img_box_l { height:112px; width:200px; overflow:hidden; margin-bottom:14px;} .titr_box_l { font-size:18px; font-family:kufi; margin-bottom:4px;} .link_box_l { color:#005985; font-size:14px; font-family:kufi;} .link_box_l:hover { color:#e80000; text-decoration:underline;} .link_box_lp { color:#878787; font-size:14px; font-family:kufi;} .link_box_lp:hover { color:#005985; text-decoration:underline; } .titr_msgcontact { color:#005985; font-size:26px; font-family:kufi;} .disc_msgcontact {font-size:16px; font-family:kufi; margin-bottom:14px;}
.retour_msg { background: url(../image/gif/retour_msg.gif) left top no-repeat; width:120px; height:30px; color:#fff; font-size:20px; display:inline-block; font-family:kufi; text-transform:uppercase; text-align:center; line-height:30px;} .retour_msg:hover { background-position:left -30px;} .bloc_msg_contact { padding:0 0 0 30px;}
/* slides */
.slideshow {position:relative;  margin:auto; direction:ltr;}.slideshow a {}.slideshow a:hover, .slideshow .selected a {}.carousel { }.slide {z-index:100; width:190px;  background:#fff; height:240px; margin-right:10px; text-align:right;}.slide img {} .slide li { } .tab_content .slide { width:570px; height:auto;} .tab_content .slideshow { direction:rtl;} 
/* pagination */
.slides-pagination {position:relative;z-index:110; float:right;}.slides-pagination li {display:inline;float:left; background:url(../image/gif/arrow_page.gif) left center no-repeat;}.slides-pagination a {display: inline-block; color:#fff; padding:0 5px; font-family:kufi_bold;} .slides-pagination li.selected a { color:#df0000;}
/* skip */
.slides-next, .slides-prev {position:absolute;top:-26px; left:-10px;z-index:120; text-indent:-9999em; overflow:hidden; background:url(../image/gif/arrow_slide2.gif) no-repeat; width:27px; height:16px; display:inline-block;}
.slides-next { background-position:left top;  width:28px;} 
.slides-prev {left:17px;background-position:right top;}
.slides-next:hover {background-position:left bottom;} 
.slides-prev:hover {background-position:right bottom; }
.slides-next.disabled, .slides-prev.disabled {opacity:0;cursor: default;} 

.sep_arow { background:#79889c; height:16px; width:1px; display:inline-block; position:absolute; }
.tab_content .slides-pagination  { padding:25px 0 0; position:relative; z-index:1; width:100%; text-align:center;}.tab_content .slides-pagination  li { background:none; float:none; display:inline-block; margin-right:4px; }  .tab_content .slides-pagination  li a { padding:0; text-indent:-999em; background:url(../image/gif/thumbs.gif) left top no-repeat; width:16px; height:16px;}.tab_content .slides-pagination  li.selected a { background-position:left bottom;}
/* slider-code */
#slider-code {  position: relative;}
#slider-code .viewport { float: right; height: 296px; width:100%; overflow: hidden; position: relative;  }
#slider-code .buttons { position:absolute; left:7px; top:-13px;  }
#slider-code .next {z-index:2; text-indent:-9999em; overflow:hidden; background:url(../image/gif/arrow_slide.gif) no-repeat; width:6px; height:9px; display:inline-block; background-position:left top; }
#slider-code .prev {z-index:2; text-indent:-9999em; overflow:hidden; background:url(../image/gif/arrow_slide.gif) right top no-repeat; width:6px; height:9px; display:inline-block; }
.sep_buttons { background:#a0a6ab; height:16px; width:1px; display:inline-block; vertical-align:top; margin:0 10px;}
#slider-code .disable { visibility: hidden; }
#slider-code .overview { list-style: none; position: absolute; width:100%; padding: 0; margin: 0; right: 0; top: 0; }
#slider-code .overview li{   height: 296px; margin-top:13px; }
  
  
/* Gallery styles */
.box_slider { width:630px; overflow:hidden; height:410px;}#gallery{margin: 0 auto; width: 630px; padding: 0; overflow:hidden; zoom:1; direction:ltr;}#gallery #slides2{ position: relative; height:  380px; width: 630px; overflow:hidden; zoom:1;}#gallery #slides2 .slide2{float: left; width: 630px; height: 380px; position: relative; overflow:hidden; zoom:1;} #menu{position: relative; width: 630px; height:60px; padding: 0; margin: auto; text-align: center; background: #000; }#menu li{cursor: pointer;display: inline-block;  float:left;}#menu li a{ color:#404040; font-size:1.667em; text-transform:uppercase; font-family:kufi; padding:10px 15px 0; display: inline-block; border-top:#000 solid 5px;} #menu li a:hover {color:#fff; }#menu li.act a { color:#fff; border-top:#001b51 solid 5px;}   #menu li.act a.c2 { border-top:#005985 solid 5px;}  #menu li.act a.c3 { border-top:#3b8600 solid 5px;}  #menu li.act a.c4 { border-top:#ec0000 solid 5px;} #menu li.act a.c5 { border-top:#ff6000 solid 5px;} .box_slide { float:left; height:380px; overflow:hidden; position:relative; width:630px;} .infoslide { position:absolute; left:0; bottom:0; height:150px; width:100%; background: url(../image/png/infoslide.png) left top repeat;} .infoslidein { padding:20px;} .div_dat_gal { background:#fff; height:16px; margin-bottom:14px; position:relative; display:inline-block; padding-left:10px; } .div_dat_gal  .etiquet { float:right; }  .titr_gal a { height:65px; /*overflow:hidden;*/ display:block; font-family:kufi_bold,roboto; color:#fff; font-size: 1.667em; line-height:24px;direction:rtl;}     
/************ RIGHT *****************/
.right { float:left; width:300px; overflow:hidden; position:relative; } .search { border:#707070 solid 1px; height:26px; margin-bottom:15px;} .search_btn { background:url(../image/gif/btn_search.gif) left top no-repeat; width:31px; height:26px; float:left; cursor:pointer;} .input_search { height:26px; width:253px; padding-right:10px; font-family:kufi; font-size:1.167em; line-height:26px;}
.podcast_right { background:url(../image/gif/bg_emission.gif) left top repeat;} .podcast_rightin { padding:13px 10px 10px;} .titr_podcast_right {  text-transform:uppercase; color:#fff; font-family:kufi_bold, roboto_bold; font-size:1.500em;} .allpodcast { white-space: nowrap; position:relative; top:6px; float:left; display:inline; color:#fff; font-family:kufi; font-size:.917em; text-transform:uppercase; background:url(../image/gif/puce_blan.gif) left 4px no-repeat; padding:0 0 0 15px;} .allpodcast:hover{ text-decoration:underline;} .box_poscast { background:#fff url(../image/gif/bg_bloc_podcast.gif) left bottom repeat-x; margin-bottom:1px; padding:10px;} .img_podcastright { float:right; margin-left:5px;} .titr_podcastright a { color:#ec0000; font-size:1.167em; font-family:kufi_bold, roboto; text-transform:uppercase;} .titr_podcastright a:hover { color:#005985;} .stitr_podcastright {font-family:kufi;  font-size:1.067em;} .disc_podcastright { font-family:kufi,roboto; color:#878787; font-size:.917em;} .boxpodcast_gen { padding:10px 0 0 0;}.tab_right { background:url(../image/gif/bg_emission.gif) left top repeat;}.tab_rightin { padding:10px;}.tab_right .tab_content { background:#fff; border-bottom:#f4f4f4 solid 5px; border-top:#f4f4f4 solid 5px;  padding:10px 20px 10px 10px;  } .tab_right ul.tabs {  height:30px;    } .tab_right .tabs li { float:right; display:inline; } .tab_right .tabs li a {  display:inline-block; padding:0 10px ; height:30px; font-family: kufi_bold; text-transform:uppercase; line-height:30px; margin-left:0; color:#fff; font-size:0.917em; background: url(../image/gif/bg_tabright.gif) left center no-repeat; } .tab_right .tabs li.last a { background:none;} .tab_right .tabs li a.active {color:#000;  background:#fff; height:35px; position:relative; margin-bottom:-5px; }  .list_tabinfo li { padding:10px 0; background:url(../image/gif/dot2.gif) left bottom repeat-x;} .link_tabinfo { color:#000; font-family:kufi,roboto; line-height:16px; font-size:1.167em;} .link_tabinfo:hover{ text-decoration:underline;}
.sondage_right { background:#58646f; padding:13px 10px 10px;} .titr_sondage_right { text-transform:uppercase; color:#fff; font-family:kufi_bold; font-size:1.500em;} .allsondage { position:relative; top:6px; float:left; display:inline; color:#fff; font-family:kufi; font-size:.917em; text-transform:uppercase; background:url(../image/gif/puce_blan.gif) left 4px no-repeat; padding:0 0 0 15px;} .allsondage:hover{ text-decoration:underline;}  .box_sondage { background:#fff; position:relative; zoom:1; margin-top:10px;} .box_sondagein { padding:13px 20px 20px;} .coinsondage { background:url(../image/png/coin_sondage.png) no-repeat; width:15px; height:7px; position:absolute; left:43px; top:-7px;} .qsondage { font-size:1.333em; font-family:kufi; line-height:16px;} .choice_sondage { padding:8px 0 10px 10px;} .btn_votsondage { display:inline-block; width:70px; height:26px; background:#161a1e; margin-left:10px; } .btn_votsondage input {width:70px; height:26px; color:#fff; font-size:1.333em; font-family:kufi_bold; cursor:pointer; line-height:26px; background:none transparent; text-transform:uppercase;}.btn_votsondage:hover input { background:#dd0000;} .allrsltsondage { color:#382424; font-size:.917em; font-family:kufi; text-transform:uppercase; background:url(../image/gif/dbl_puce.gif) left center no-repeat; padding:0 0 0 15px;} .allrsltsondage:hover { text-decoration:underline;} .bloc_caricature { background:#000; padding:13px 10px;}  .bloc_caricature .slide { width:auto; background:none; height:175px; border-bottom:#f4f4f4 solid 5px; margin:0 0 12px;}.all_caricatur { float:left; white-space:nowrap; display: inline; color: #fff; font-family: kufi; font-size: .917em; text-transform: uppercase; background: url(../image/gif/puce_blan.gif) left 4px no-repeat; padding: 0 0 0 15px;} .all_caricatur:hover { text-decoration:underline;} .prog_right { padding:13px 10px 10px; background: url(../image/gif/bg_progright.gif) left top repeat;}.titr_progrright {text-transform: uppercase; color: #fff; font-family: kufi_bold; font-size: 1.500em;} .stitr_progright {text-transform: uppercase; color: #fff; font-family: kufi;  font-size: .917em;} .box_prog_right {  background:#fff; border-bottom:#f4f4f4 solid 5px; margin-bottom:1px; padding:9px 10px 4px;}.link_progright { color:#0b2850; font-size:1.333em; font-family:kufi_bold; text-transform:uppercase; background:url(../image/gif/puce_trait_r.gif) right 4px no-repeat; padding:0 10px 0 0;} .titr_progright { font-family:kufi; height: 20px; overflow: hidden;} .datprog_right { font-size:0.917em; text-transform:uppercase; color: #878787; font-family:kufi;}.meteo_right { background:#00adbd url(../image/gif/bg_meteo_right.gif) left bottom repeat-x; height:178px; padding:13px 10px 10px;}
.titr_meteoright {text-transform: uppercase; color: #fff; font-family: kufi_bold; font-size: 1.500em;} .stitr_meteoright {text-transform: uppercase; color: #fff; font-family: kufi,roboto;  font-size: .917em;} .stitr_meteoright a {color: #fff; display:inline-block; margin-left:15px;} .stitr_meteoright a:hover { text-decoration:underline;}
.meteo_right .slide { text-align:center; background: url(../image/gif/dot_meteo.gif) right center no-repeat; height:90px; width:90px;} .ic_meteo { margin-bottom:7px;} .ic_meteo img { display:inline;}  .meteo_right .slideshow { padding-top:5px;} .meteo_right .slides-next, .meteo_right .slides-prev { top:-32px;}.villmeteo { color:#fff; font-family:kufi_bold; font-size:1.167em; text-transform:uppercase; position:relative; top:-15px;} .maxmeteo { margin-right:5px; color:#fff; font-family:kufi_bold,roboto; font-size:1.667em; text-transform:uppercase; position:relative; top:-23px;} .minmeteo {color:#fff; font-family:kufi_bold,roboto; position:relative; top:-23px;} .info_contact { padding:20px 0 20px 30px;} .titr_infcontact { color:#005985; font-size:26px; font-family:kufi;} .disc_infcontact { font-size:16px; font-family:kufi;}
.disc_infcontact a { color:#000;} .disc_infcontact a:hover { color:#005985; text-decoration:underline;} .lab_contact { text-transform:uppercase; white-space:nowrap; font-size:14px; font-family:kufi; display:block;	} .div_input_contact { border:#707070 solid 1px;} .input_contact { border:#fff solid 2px; height:20px; width:100%;} .div_input_contact_invalide { border:#ec0000 solid 1px;} .div_input_contact_invalide  .input_contact {border:#fee5e5 solid 2px;} .frm_contact { padding:0 40px 20px;}
.entet_frmcontact { font-size:20px; font-family:kufi; margin-bottom:30px;} .area_contact {border:#fff solid 2px; height:60px; overflow:auto; resize:none; width:100%;}
.div_input_contact_invalide .area_contact {border:#fee5e5 solid 2px; }
.width_captcha { width:128px;} .width_captcha input { width:100%;} .box_btn_contact { padding:0 120px 0 0;} .btn_contact { width:120px; height:30px; background:url(../image/gif/retour_msg.gif) left top no-repeat; display:inline-block; margin-left:10px;} .btn_contact:hover { background-position:left bottom;} .btn_contact input {width:120px; height:30px; background:none transparent; font-weight:bold; font-family:kufi; text-transform:uppercase; font-size:17px; line-height:30px; color:#fff; cursor:pointer;}
.box_faq { background:#fbfbfc; border-bottom:#f4f4f4 solid 5px; margin-bottom:1px; padding:7px 15px 0 0;} .q_faq { margin-bottom:10px; font-size:16px; font-family:kufi;} .q_faq span { background:url(../image/png/icon_faq.png) left top no-repeat; width:17px; height:15px; display:inline-block; margin-left:10px; top:5px; position:relative;} .r_faq { font-family:kufi; line-height:18px; display:none;} .r_faq p { margin-bottom:20px;} .box_faq_active { background:#edf8fe; border-bottom:#e5f0f6 solid 5px;}
.box_faq_active .q_faq span { background-position:left bottom;}  
.div_sondage { margin-bottom:10px; background:#fbfbfc; border-bottom:#f4f4f4 solid 5px;}.div_sondage { font-family:kufi,roboto; padding:15px 20px 13px ;} .check_sondage { width:20px;} .rslt_vote_interne { display:inline-block;  color:#382424; font-size:11px; text-transform:uppercase; background:url(../image/gif/fvoir_sond.gif) left 5px no-repeat; padding:0 0 0 17px; } .lab_sondage { font-family:kufi; font-size:14px; display:block;}.bt_vote { margin-left:10px; background:#161a1e; height:26px; width:70px; font-size:16px; line-height:26px; font-family:kufi; display:inline-block; color:#fff; text-align:center; text-transform:uppercase;} .retour_sondage { background:url(../image/gif/fretour_sond.gif) left 3px no-repeat; padding:0 0 0 17px; display:inline-block;  color:#382424; font-size:11px; display:none; text-transform:uppercase;} .retour_sondage:hover, .rslt_vote_interne:hover { text-decoration:underline;} .nbr_totalvote { color:#000;  float:left; display:inline;  position:relative; display:none;} .titr_sondage { font-size:16px; margin-bottom:22px; } .erreur_sondage { margin-top: -12px; margin-bottom: 12px; color:#f00; } .option_sondage { padding:0;} .pourcentage_sondage { color:#005985; font-size:14px;}.div_pourcentage { background:url(../image/gif/bg_div_pourcentage.gif) left top repeat-x; height:10px; width:200px; display:none; margin-right:15px; margin-left:15px;} .pourcentage_in { background:url(../image/gif/bg2_div_pourcentage.gif) left top repeat-x; height:10px;}
.nbr_vote_sondage { font-size:14px; font-family:kufi;} .pourcentage_sondage, .nbr_vote_sondage { display:none;}.num { text-align:center;} .div_plan { margin-bottom:20px; font-family:kufi; width:110px; float:right; margin-right:40px;} .titr_plan { margin-bottom:5px; color:#e80000; font-size:14px; background:url(../image/gif/dashed_hgris.gif) left bottom repeat-x; padding:0 0 7px;} .link_plan { color:#000; display:inline-block; margin-bottom:3px;} .link_plan:hover {text-decoration:underline;} .titr_plan  a {color:#e80000;} .titr_plan  a:hover {color:#000; text-decoration:underline;} .num { padding:20px 0 0 0;}.link_num { display:inline-block; height:28px; border-right:#cfcfcf solid 1px; margin-right:2px;  border-bottom:#cfcfcf solid 1px;} .link_num span { cursor:pointer; height:28px; width:22px; border:#ebebeb solid 1px; display:inline-block;  position: relative; top:-2px; color:#878787; font-size:14px; font-family:roboto; line-height:28px;} a.active span { background:#0F3E6A;  border:#0F3E6A solid 1px; color:#fff;} .link_num:hover span { background:#0F3E6A;  border:#0F3E6A solid 1px; color:#fff;} .nav_num { display:inline-block; height:28px; border-right:#cfcfcf solid 1px; margin-right:2px;  border-bottom:#cfcfcf solid 1px;} .nav_num span { cursor:pointer; height:27px; width:25px; border:#ebebeb solid 1px; display:inline-block;  position: relative; top:-2px; color:#878787; font-size:14px; font-family:roboto; line-height:28px; text-indent:-9999em;} .nav_num:hover span { border:#e80000 solid 1px;} .first_page span { background:url(../image/gif/nav_num.gif) -25px top no-repeat;} .first_page:hover span { background-position:-25px bottom;}
.preced span { background:url(../image/gif/nav_num.gif) right top no-repeat;} .preced:hover span { background-position:right bottom;}
.last_page span { background:url(../image/gif/nav_num.gif) left top no-repeat;} .last_page:hover span { background-position:left bottom;}
.suiv span { background:url(../image/gif/nav_num.gif) -50px top no-repeat;} .suiv:hover span { background-position:-50px bottom;}
.boxonair .slide {background: none repeat scroll 0 0 transparent;border-bottom: none; height: 50px;margin: 0; padding-left:0px; width: 85px;}
.titr_grille_programme span{ font-size:2em; color:#fff; text-transform:uppercase; font-family: kufi_bold; background:#df0000; display:inline-block; padding:0 10px; text-align:center; height:40px; line-height:40px; margin-bottom:10px; }
.bloc_emission .slide { float:right; margin-left:10px; margin-right:0; overflow: hidden;}
/***************Validation engine*************/
.inputContainer{position:relative;float:left}
.formError{position:absolute;top:300px;left:300px;display:block;z-index:5000;cursor:pointer}
.ajaxSubmit{background:#55ea55;border:1px solid #999;display:none;padding:20px}
.formError .formErrorContent{background:#dc0000;position:relative;z-index:5001;color:#fff;width:150px;font-family:tahoma;font-size:11px; padding:10px}
.formError .formErrorArrow{width:15px;position:relative;z-index:5006;margin:-2px 0 0 13px}
/*body[dir=rtl] .formError .formErrorArrow,body.rtl .formError .formErrorArrow{margin:-2px 13px 0 0}*/
.formError .formErrorArrowBottom{box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none;top:2px;margin:0 0 0 12px}
.formError .formErrorArrow div{border-left:2px solid #dc0000;border-right:2px solid #dc0000; height:1px;background:#dc0000;line-height:0;font-size:0;display:block;margin:0 auto}
.formError .formErrorArrowBottom div{box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none}
.formError .formErrorArrow .line10{width:15px;border:none}
.formError .formErrorArrow .line9{width:13px;border:none}
.formError .formErrorArrow .line8{width:11px}
.formError .formErrorArrow .line7{width:9px}
.formError .formErrorArrow .line6{width:7px}
.formError .formErrorArrow .line5{width:5px}
.formError .formErrorArrow .line4{width:3px}
.formError .formErrorArrow .line3{width:1px;border-left:2px solid #dc0000;border-right:2px solid #dc0000;border-bottom:0 solid #dc0000}
.formError .formErrorArrow .line2{width:3px;border:none;background:#dc0000}
.formError .formErrorArrow .line1{width:1px;border:none;background:#dc0000}
.greenPopup .formErrorContent,.greenPopup .formErrorArrow div{background:#33be40}
.blackPopup .formErrorContent,.blackPopup .formErrorArrow div{background:#393939;color:#FFF}
/************* FOOTER **************/
.p1_footer { background:#0f3e6a; font-size:1.167em; color:#fff; text-align:center; font-family: kufi; text-transform:uppercase; padding:13px 0 10px; }
.p1_footer a {color:#fff;} .p1_footer a:hover { color:#eddece;} .p1_footer span { display:inline-block; margin:0 6px;} .p2_footer { background:#0a0a0a; padding:17px 25px 20px;}
.divmenu_footer { float:right; width:140px; padding-left:10px;} .titr_menu_footer { margin-bottom:12px; background:url(../image/gif/dot_menufooter.gif) right bottom no-repeat; display:block; color:#90979e; font-family: kufi; font-size:1.167em;  text-transform:uppercase; padding:0 0 6px;} .link_footer { color:#90979e; font-family: kufi,roboto;} .link_footer:hover { color:#fff;}
.res_footer { float:left; width:32px; overflow:hidden;} .face_footer, .gplus_footer, .twitter_footer, .youtube_footer, .rss_footer { text-indent:-999em; margin-bottom:5px; background:url(../image/gif/res_footer.gif) no-repeat; width:32px; height:32px; display:inline-block;} .face_footer:hover { background-position:right top;} .gplus_footer { background-position:left -32px;} .twitter_footer { background-position:left -65px;} .youtube_footer{ background-position:left -97px;} .rss_footer { background-position:left -129px;} 
.gplus_footer:hover { background-position:right -32px;} .twitter_footer:hover { background-position:right -65px;} .youtube_footer:hover { background-position:right -97px;} .rss_footer:hover { background-position:right -129px;}  .box_menufooter { width:910px;}.p3_footer { border-top:#ec0000 solid 1px; padding:7px 75px 20px 20px; position:relative; background:#000; } .copyright { float:right; display:inline;color:#808080; position:relative; top:3px; padding-left:5px; font-family:kufi, roboto; text-transform:uppercase;} .newsletter { color:#404040; font-family:kufi, roboto; text-transform:uppercase;float:right; display:inline;}  .newsletter label { margin-right:7px;}.medianet { float:left;} .medianet a {  font-family:kufi, roboto; text-transform:uppercase; position:relative; top:3px; color:#fff;} .medianet a:hover { color:#fff;}.input_newsletter { border:#202020 solid 1px; color:#808080; height:20px; display:inline-block; background:#000; font-family:kufi, roboto; line-height:20px; padding:0 5px 0 0; width:172px;}.btn_newsletter { background:url(../image/gif/btn_newsletter.gif) left top no-repeat; height:22px; width:31px; display:inline-block; vertical-align:top; }.btn_newsletter:hover { background-position:left bottom;}.btn_newsletter  input {height:22px; width:31px; display:inline-block; background:none transparent;cursor:pointer;} .logo_footer { position:absolute; right:15px; top:-25px;}.footer_live .p3_footer { }
.input_newsletter_invalid { border:#ec0000 solid 1px;}
/************* theme noir **************/
.box_noir .bloc_agenda { background:#1c0a00 url(../image/gif/bg_blocagenda_noir.gif) left top repeat; padding:10px;} .box_noir .tabs li a { background:#393737; }   .box_noir .tabs li a.active {color:#000;  background:#fff; } .box_noir .slides-pagination li a { background:url(../image/gif/thumbs_noir.gif) left top no-repeat;} 
.box_noir .bloc_emission { background:#000 url(../image/gif/bg_emission_noir.gif) left top repeat;} .box_noir .titr_blocemission span{  background:#374553; } .box_noir .bas_blocemission { background:#374553; }
.box_noir2 .prog_right { background:#000 url(../image/gif/bg_progright_noir.gif) left top repeat;} .box_noir2 .podcast_right { background:#000 url(../image/gif/bg_progright_noir.gif) left top repeat;} .box_noir2 .tab_right {background:#000 url(../image/gif/bg_progright_noir.gif) left top repeat;}.box_noir2 .sondage_right {background:#000;}
.box_noir2 .bloc_caricature {background: #000;}

/************* theme bleu **************/
.box_bleu .bloc_agenda { background:#0b2850 url(../image/gif/hach_bleu.gif) left top repeat; padding:10px;} .box_bleu .tabs li a { background:#00488f; }   .box_bleu .tabs li a.active {color:#000;  background:#fff; } .box_bleu .slides-pagination li a { background:url(../image/gif/thumbs_bleu.gif) left top no-repeat;} 
.box_bleu .bloc_emission { background:#0b2850 url(../image/gif/hach_bleu.gif) left top repeat;} .box_bleu .titr_blocemission span{  background:#df0000; } .box_bleu .bas_blocemission { background:#df0000; }.box_bleu2 .prog_right { background:#0b2850 url(../image/gif/hach_bleu.gif) left top repeat;} .box_bleu2 .podcast_right { background:#0b2850 url(../image/gif/hach_bleu.gif) left top repeat;} .box_bleu2 .tab_right {background:#0b2850 url(../image/gif/hach_bleu.gif) left top repeat;}.box_bleu2 .sondage_right {background:#0b2850;}
.box_bleu2 .bloc_caricature {background: #0b2850;}

/************* theme marron **************/
.box_marron .bloc_agenda { background:#1c0a00 url(../image/gif/hach_marron.gif) left top repeat; padding:10px;} .box_marron .tabs li a { background:#b44400; }   .box_marron .tabs li a.active {color:#000;  background:#fff; } .box_marron .slides-pagination li a { background:url(../image/gif/thumbs.gif) left top no-repeat;} 
.box_marron .bloc_emission { background:#1c0a00 url(../image/gif/hach_marron.gif) left top repeat;} .box_marron .titr_blocemission span{  background:#b44400; } .box_marron .bas_blocemission { background:#b44400; }.box_marron2 .prog_right { background:#1c0a00 url(../image/gif/hach_marron.gif) left top repeat;} .box_marron2 .podcast_right { background:#0b2850 url(../image/gif/hach_marron.gif) left top repeat;} .box_marron2 .tab_right {background:#1c0a00 url(../image/gif/hach_marron.gif) left top repeat;} .box_marron2 .sondage_right {background:#1c0a00;} .box_marron2 .bloc_caricature {background: #1c0a00;}

/************* theme gris **************/
.box_gris .bloc_agenda { background:#58646f url(../image/gif/hach_gris.gif) left top repeat; padding:10px;} .box_gris .tabs li a { background:#404a52; }   .box_gris .tabs li a.active {color:#000;  background:#fff; } .box_gris .slides-pagination li a { background:url(../image/gif/thumbs_gris.gif) left top no-repeat;} 
.box_gris .bloc_emission { background:#58646f url(../image/gif/hach_gris.gif) left top repeat;} .box_gris .titr_blocemission span{  background:#404a52; } .box_gris .bas_blocemission { background:#404a52; }.box_gris2 .prog_right { background:#58646f url(../image/gif/hach_gris.gif) left top repeat;} .box_gris2 .podcast_right { background:#0b2850 url(../image/gif/hach_gris.gif) left top repeat;} .box_gris2 .tab_right {background:#58646f url(../image/gif/hach_gris.gif) left top repeat;} .box_gris2 .sondage_right {background:#58646f;} .box_gris2 .bloc_caricature {background: #58646f;}


.input_newsletter_invalid {border: #ec0000 solid 1px;}
.podcast{ float:left; width:450px;}

/* slides3 */
.box_slider .slideshow {position:relative;  margin:auto; height:350px; overflow:hidden;} .box_slider .slideshow a {} .box_slider .slideshow a:hover, .box_slider .slideshow .selected a {}  .box_slider .carousel {height:350px; } .box_slider .slide {z-index:100; width:190px;  background:#fff; height:350px; margin-right:10px}.slide img {} .slide li { } .box_slider .slide { width:630px; height:350px;}


.slider_prog{ direction:ltr}
/* pagination */
.box_slider .slides-pagination {position:absolute;z-index:110; bottom:20px; width:100%; text-align:center;}.box_slider .slides-pagination li {display:inline-block;float:none; background:url(../image/gif/arrow_page.gif) right center no-repeat;}.box_slider .slides-pagination a {display: inline-block; color:#fff; padding:0 5px; font-family:kufi_bold;} .box_slider .slides-pagination li.selected a { color:#df0000;}
.box_slider .slides-pagination  li { background:none; float:none; display:inline-block; margin-right:4px; }  .box_slider .slides-pagination  li a { padding:0; text-indent:-999em; background:url(../image/png/pagination.png) left top no-repeat; width:16px; height:16px;}.box_slider .slides-pagination  li.selected a { background-position:left bottom;}


 .marge_slider{ margin:10px 0;}

 .link_prg{ color:#fff;}.link_prg:hover{ text-decoration:underline}

 
 #menu2{position: relative; width: 630px; height:60px; padding: 0; margin: auto; text-align: center; background: #000; }#menu2 li{white-space: nowrap; cursor: pointer;display: inline-block;  float:right;}#menu2 li a{ color:#FFF; font-weight:bold; font-size:1.500em; text-transform:uppercase; font-family:kufi; padding:10px 15px 0; display: inline-block; border-top:#000 solid 5px;} #menu li a:hover {color:#fff; }#menu2 li.act a { color:#fff; border-top:#001b51 solid 5px;}   #menu2 li.act a.c2 { border-top:#005985 solid 5px;}  #menu2 li.act a.c3 { border-top:#3b8600 solid 5px;}  #menu2 li.act a.c4 { border-top:#ec0000 solid 5px;} #menu2 li.act a.c5 { border-top:#ff6000 solid 5px;}
 .titre_caricature{ color:#fff; font-size:1.667em; font-family: 'kufi_bold,roboto_bold'; text-transform:uppercase; display:block; margin-bottom:8px;}


/** Added 07/07/2013 **/
.img_gal{ float:right; margin-left:11px;}.icone{ margin:20px 0 40px} .icone a{ display:inline-block; margin-right:15px;}.box_horoscope{ width:151px; float:left;}
.horoscope{ margin-bottom:9px;}.detail{ color:#000; font-size:12px; font-family: 'kufi,roboto'; display:none;}.amour{ color:#ff0090; font-size:18px; padding-left:19px;background:url(../image/gif/heart.gif) 0 8px no-repeat; margin:10px 0 2px}.travail{color:#005985; font-size:18px; padding-left:19px;background:url(../image/gif/travail.gif) 0 4px no-repeat; margin:10px 0 5px}.marge_h{ margin-left:8px;} .boximg_onair { display:inline-block; width:90px; height:50px; overflow:hidden;} .boximg_onair img { position:relative; width:90px;} .boxonair .carousel { /*float:right;*/ margin-left:5px;}

.horoscope1{ width:151px; height:131px; background:url(../image/gif/belier.gif) left top no-repeat; display:block;}.actif .horoscope1, .horoscope1:hover{background:url(../image/gif/belier.gif) left bottom no-repeat;}
.horoscope2{ width:151px; height:131px; background:url(../image/gif/lion.gif) left top no-repeat; display:block;}.actif .horoscope2, .horoscope2:hover{background:url(../image/gif/lion.gif) left bottom no-repeat;}
.horoscope3{ width:151px; height:131px; background:url(../image/gif/sagitaire.gif) left top no-repeat; display:block;}.actif .horoscope3, .horoscope3:hover{background:url(../image/gif/sagitaire.gif) left bottom no-repeat;}
.horoscope4{ width:151px; height:131px; background:url(../image/gif/taureau.gif) left top no-repeat; display:block;}.actif .horoscope4, .horoscope4:hover{background:url(../image/gif/taureau.gif) left bottom no-repeat;}
.horoscope5{ width:151px; height:131px; background:url(../image/gif/vierge.gif) left top no-repeat; display:block;}.actif .horoscope5, .horoscope5:hover{background:url(../image/gif/vierge.gif) left bottom no-repeat;}
.horoscope6{ width:151px; height:131px; background:url(../image/gif/capricorne.gif) left top no-repeat; display:block;}.actif .horoscope6, .horoscope6:hover{background:url(../image/gif/capricorne.gif) left bottom no-repeat;}
.horoscope7{ width:151px; height:131px; background:url(../image/gif/gemaux.gif) left top no-repeat; display:block;}.actif .horoscope7, .horoscope7:hover{background:url(../image/gif/gemaux.gif) left bottom no-repeat;}
.horoscope8{ width:151px; height:131px; background:url(../image/gif/balance.gif) left top no-repeat; display:block;}.actif .horoscope8, .horoscope8:hover{background:url(../image/gif/balance.gif) left bottom no-repeat;}
.horoscope9{ width:151px; height:131px; background:url(../image/gif/verseau.gif) left top no-repeat; display:block;}.actif .horoscope9, .horoscope9:hover{background:url(../image/gif/verseau.gif) left bottom no-repeat;}
.horoscope10{ width:151px; height:131px; background:url(../image/gif/cancer.gif) left top no-repeat; display:block;}.actif .horoscope10, .horoscope10:hover{background:url(../image/gif/cancer.gif) left bottom no-repeat;}
.horoscope11{ width:151px; height:131px; background:url(../image/gif/scorpion.gif) left top no-repeat; display:block;}.actif .horoscope11, .horoscope11:hover{background:url(../image/gif/scorpion.gif) left bottom no-repeat;}
.horoscope12{ width:151px; height:131px; background:url(../image/gif/poisson.gif) left top no-repeat; display:block;}.actif .horoscope12, .horoscope12:hover{background:url(../image/gif/poisson.gif) left bottom no-repeat;}
.allNews{ white-space: nowrap; float:left; display: block; color: #fff; font-family: kufi_bold,roboto; font-size: .917em; text-transform: uppercase; background: url(../image/gif/puce_blan.gif) left 8px no-repeat; padding: 0 0 0 15px; margin-top:8px;}
.allNews2{ float:left; display: table; color: #000; font-family: kufi_bold,roboto; font-size: .917em; text-transform: uppercase; padding: 0 15px 0 0; margin:8px 0 20px; }
@-moz-document url-prefix() {
/*.date_onair {margin-top: -5px;}*/
.emssion_onair { margin-top: -2px;}
}
.sond_right .div_pourcentage {width: 90px;}

/* responsiveness
--------------------------------------------- */
@media screen and (max-width: 1023px) {
body  {width: auto;margin: auto;padding: auto;}
img, table, td, blockquote, code, pre, textarea, input, iframe, object, embed, video {max-width: 100%;}
img {height: auto; width: auto;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;}
textarea, table, td, th, code, pre, samp {word-wrap: break-word; /* passage à la ligne forcé */-webkit-hyphens: auto; /* césure propre */-moz-hyphens: auto;hyphens: auto;}code, pre, samp {word-wrap:break-word!important; white-space:pre-wrap!important;}}
@media only screen and (max-width: 769px) {}
@media (max-width: 640px) {}
@media (width: 480px) {} 
@media (width: 320px) {}

.margin_Bottum10{
	position: relative;
}
