.buscador {
    position: relative !important;
    padding: 80px 0 !important;
}

.buscador .busqueda {
    position: relative !important;
}

.buscador .busqueda .lupa {
    background: rgba(0,0,0,0) url("/wps/wcm/connect/8ebb6fd1-c58f-49f0-ab51-940d47127a00/icon_search_personas.png?MOD=AJPERES&attachment=true&id=1445958478483") no-repeat scroll center center / contain !important;
    border: none !important;
    cursor: pointer;
    height: 53px !important;
    outline: none !important;
    padding-left: 53px !important;
    position: absolute !important;
    right: 11px !important;
    top: 0px;
    width: 54px !important;
    z-index: 3 !important;
}

.buscador .busqueda input[type="search"] {
    background-color: #fff !important;
    border-radius: 4px !important;
    border: none !important;
    box-shadow: 0px 0px 26px -10px rgba(0,0,0,0.60) !important;
    color: #bfbfbf !important;
    font-size: 20px !important;
    font-weight: 100 !important;
    height: 53px !important;
    line-height: 24px !important;
    outline: none !important;
    padding-left: 20px !important;
    width: 100% !important;
}

.home-autopauta-derecha-txt .navidad {
    font-weight: bold;
    margin-bottom: 0px;
}

@media screen and (min-width:992px) {

    .buscador-home {
        height: 600px !important;
    }

    .home-autopauta-derecha-txt .navidad span {
        display: block;
        font-size: 44px;
        font-weight: bold;
        margin-top: 0px;
    }

}

.contenido h1 {
    color: #ffd200;
    font-size: 28px;
    font-weight: bold;
    margin-top: 165px !important;
    text-align: left;
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.59) !important;
}

.contenido h1 strong {
    display: block;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    color: #ffffff;
    font-size: 38px;
}

@media screen and (min-width: 480px) {
  .contenido h1 {
        margin-top: 175px !important;
    }
}


@media screen and (min-width: 768px) {
  .contenido h1 {
        font-size: 34px;
        margin-top: 220px !important;
        text-align: right;
    }
}

@media screen and (min-width: 992px) {
    .contenido h1 {
        text-align: right;
    }
    .contenido h1 strong {
        font-size: 68px;
        text-align: right;
    }
}