.navegacion .top-nav .top-menu > .container-fluid > .row {
    background-color: #FFF;
}

.navegacion .top-nav .top-menu h2 {
    color: #444;
    font-size: 18px;
    font-weight: bold;
    padding: 17px 0 54px;
}

.navegacion .top-nav .top-menu ul li {
    margin-bottom: 5px;
}

.navegacion .top-nav .top-menu ul li:first-child {
    border-bottom: 0px;
    color: #444;
    font-size: 14px;
    margin: 0 0 5px;
    padding: 0px;
}

.navegacion .top-nav .top-menu ul li a {
    color: #444;
}

.navegacion .top-nav ul.check-list {
	list-style-image: url("images/lists/bullets/check-menu-negocios.png");
    margin-top: -38px;
}

.navegacion .top-nav ul.check-list.last {
    margin-top: 88px;
}
