

/**
 *	-------------------------------------------------------------------------------
 *	( 06 ) - Main content
 *	-------------------------------------------------------------------------------
 *
 */


@import url(https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i);

.col-md-12
{
    overflow:hidden;
    }
    input, button, select, textarea
    {
            width: 100%;
        }
        
#main {
	position: relative;
	z-index: 0; /* Important for icons animations */
	width: 100%;
	background: #fff;
	padding: 0;
	transition: all 0.2s ease 0s;
}

/* Flat Section */
.flat-section {
	width: 100%;
	/* have to use padding properties separately due to avoiding jQuery purposes conflict */
	padding: 20px 0;
	padding-bottom: 30px;
	position: relative;
}

/* Flat Section Title */
.flat-section-title {
	width: 100%;
    margin-bottom: 35px;
	position: relative;
}

.flat-section .flat-section-title:last-child {
	/*margin-bottom: 0;*/
}

.flat-section-title::before,
.flat-section-title::after {
	content: "";
	height: 1px;
	background: #0556dd;
	display: block;
}

.flat-section-title::before {
	width: 40px;
	position: absolute;
	bottom: -5px;
}

.flat-section-title::after {
	width: 58px;
}

[class*="col-"] .col-md-12 .flat-section-title,
[class*="col-"] .col-lg-12 .flat-section-title,
[class*="col-"] .col-xs-12 .flat-section-title,
[class*="col-"] .col-sm-12 .flat-section-title {
	width: 100%;
}

.col-md-12 .flat-section-title,
.col-lg-12 .flat-section-title {
	width: 75%;
}

.text-center.flat-section-title,
.text-center .flat-section-title,
.text-center.flat-section-title::after,
.text-center .flat-section-title::after {
	margin-left: auto;
	margin-right: auto;
}

.text-center.flat-section-title::before,
.text-center .flat-section-title::before {
	left: 50%;
	margin-left: -20px;
}

.white-content .flat-section-title::before,
.white-content .flat-section-title::after {
	background: #fff;
}

.white-content .flat-section-title h1,
.white-content .flat-section-title h4 {
	color: #fff;
}


/* Flat Section Content */
.flat-section-content {
	width: 100%;
	position: relative;
	clear: both;
}

/* Parallax Section */
.parallax-section {
	display: block;
	width: 100%;
	position: relative;
	background-color: #ccc;
	background-position: top center;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	color: #fff;
}

.parallax-section-inner {
	width: 100%;
	height: 100%;
	position: relative;
	padding-bottom:3%;
	z-index: 1;
}

.parallax-section-content {
	width: 100%;
	position: relative;
	clear: both;
}


/**
 *  [ 2 ] - Intro
 *	===============
 */

.intro {
}

.intro .flat-section-title {
	margin-bottom: 15px;
}

.intro p:last-of-type {
    margin-bottom: 0;
}


/**
 *  [ 3 ] - App Screenshots
 *	=========================
 */

.screenshots-carousel {
	list-style: outside none;
	margin: -15px -15px 0; /* Margin "left and right" "15px" is important for layout purpose */
	width: auto !important; /* To make a reverse width using margin, it mustn't have width 100% */
}

.screenshots-carousel li {
	padding: 15px; /* Padding "left and right" "15px" is important for layout purpose */
}

.screenshot-box {
	position: relative;
	top: 0;
	box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
	transition: all 0.3s;
}

.screenshot-box:hover {
	top: -10px;
	box-shadow: 0 5px 15px 5px rgba(0, 0, 0, 0.2);
}

.screenshot-box a:hover::before {
	opacity: 1;
	transition: all 0.15s 0.15s;
	margin-top: 0;
}

.screenshot-box a:hover::after {
	opacity: 1;
}

.screenshot-box a::before,
.screenshot-box a::after {
	opacity: 0;
	transition: all 0.25s;
}

.screenshot-box a::before {
	content: "\e623";
	font-family:  /*'Open Sans', Arial, sans-serif*/ 'Roboto', sans-serif;
	text-align: center;
	font-size: 50px;
	color: #fff;
	width: 100%;
	position: absolute;
	z-index: 1;
	top: 50%;
	margin-top: 10px;
			transform: translateY(-50%);
}

.screenshot-box a::after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(5, 88, 221, 0.8);
	background-clip: content-box;
	border: 10px solid rgba(255, 255, 255, 0.9);
}

.screenshot-box img {
	width: 100%;
}



/**
 *  [ 4 ] - Fun Facts
 *	===================
 */

/* Fun Facts Box */

.fun-facts-box {
	text-align: center;
}

.fun-facts-box i {
	width: 60px;
	height: 60px;
	font-size: 60px;
	color: #888;
	margin-bottom: 13px;
}

.fun-facts-box h1 {
	font-size: 70px;
	color: #fff;
	margin-bottom: 0;
}

.fun-facts-box span {
	font-size: 18px;
	/*font-weight: 400;*/
	color: #bbb;
	font-family:  /*'Open Sans', Arial, sans-serif*/ 'Roboto', sans-serif;
}


/**
 *  [ 5 ] - Our Clients
 *	=====================
 */

.clients-grid {
	list-style: outside none;
	overflow: hidden;
}

.clients-grid li {
	width: 25%;
	float: left;
	padding: 20px 0;
	position: relative;
}

.clients-grid li::before,
.clients-grid li::after {
	content: "";
	position: absolute;
}

.clients-grid li::before {
	height: 100%;
	width: 0;
	border-left: 1px solid #ddd;
	left: -1px;
	top: 0;
}

.clients-grid li::after {
	height: 0;
	width: 100%;
	border-bottom: 1px solid #ddd;
	bottom: -1px;
	left: 0;
}

.clients-grid li a,
.clients-grid li a img {
	display: block;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}

.clients-grid li a img {
	width: 100%;
}


/**
 *  [ 6 ] - Teatmonials
 *	=====================
 */


.testmonials-carousel {
	list-style: outside none;
	margin: 0 -15px;
	width: auto !important; /* To make a reverse width using margin, it mustn't have width 100% */
}

.testmonials-carousel li {
	padding: 29px 15px 0;
	padding-right:0;
}

/* Single Testmonial */
.single-testmonial {
    text-align: center;
}

.st-message {
    font-size: 16px;
    line-height: 27px;    
    height: 180px;
    padding: 40px 30px 35px;
    color: #888;
    background: #fff;
    border-radius: 20px;
    position: relative;
}

.st-message::before {
	content: "\f10d";
	font-family: "fontAwesome";
/*	content: "\e605";
	font-family: "Pe-icon-7-stroke";
*/	width: 50px;
	height: 50px;
	line-height: 50px;
	background: #0556dd url(../../images/quote.png) no-repeat center;
	color: transparent;
	border: 4px solid rgba(0, 0, 0, 0.16);
	text-align: center;
	display: block;
	border-radius: 9999px;
	font-style: normal;
	font-size: 22px;
	box-sizing: content-box;
	background-clip: padding-box !important;
	position: absolute;
	top: -29px;
	left: 50%;
	margin-left: -29px;
}

.st-message::after {
	content: "";
    position: absolute;
    bottom: -20px;
    left: 50%;
    margin-left: -15px;
	width: 0; 
	height: 0; 
	border-left: 15px solid transparent; 
	border-right: 15px solid transparent; 
	border-top: 20px solid #fff; 
}

.st-image {
	width: 78px;
	border-radius: 100%;
	overflow: hidden;
	border: 3px solid #fff;
	margin-top: 45px;
	display: inline-block;
}

.st-image img {
	width: 100%;
	height: 100%;
}

.st-person {
	font-size: 18px;
	font-family: "Roboto", sans-serif;
	color: #fff;
	display: block;
	margin-top: 1px;
}

.st-person span {
	display: block;
	margin-top: -6px;
	line-height: 18px;
}

.st-person a {
	color: #0556dd;
	font-size: 12px;
	display: inline-block;
}


/**
 *  [ 7 ] - Download App
 *	======================
 */

.gradient-BG2 {
	background-image: -webkit-gradient(
		linear,
		left top,
		right top,
		color-stop(0, rgba(14, 59, 130, 0.97)),
		color-stop(1, rgba(21, 94, 210, 0.9))
	);
	background-image: -o-linear-gradient(bottom, rgba(14, 59, 130, 0.97) 0%, rgba(21, 94, 210, 0.9) 80%);
	background-image: -moz-linear-gradient(bottom, rgba(14, 59, 130, 0.97) 0%, rgba(21, 94, 210, 0.9) 80%);
	background-image: -webkit-linear-gradient(bottom, rgba(14, 59, 130, 0.97) 0%, rgba(21, 94, 210, 0.9) 80%);
	background-image: -ms-linear-gradient(bottom, rgba(14, 59, 130, 0.97) 0%, rgba(21, 94, 210, 0.9) 80%);
	background-image: linear-gradient(to bottom, rgba(14, 59, 130, 0.97) 0%, rgba(21, 94, 210, 0.9) 80%);
}

/* Download App List */

.download-app-list {
	list-style: outside none;
	/*display: block;*/
	font-size: 0;
}

.download-app-list li {
	display: inline-block;
	padding: 0 10px 10px;
}


.download-btn {
	font-size: 20px;
	font-family: "Roboto", sans-serif;
	color: #fff;
	padding: 0 27px 0 79px;
	height: 52px;
	line-height: 46px;
	display: block;
	border: 2px solid #fff;
	border-radius: 4px;
	position: relative;
	transition: color 0.2s, background 0.2s ,border-color 0.2s, border-width 0.2s, padding 0.2s;
}

.download-btn:hover {
	background: #fff;
	color: #000;
}

.download-btn i {
	position: absolute;
	top: -2px;
	left: -2px;
	font-size: 22px;
	color: #000;
	height: 100;
	width: 52px;
	height: 52px;
	line-height: 52px;
	text-align: center;
	border-radius: 4px 0 0 4px;
	background: #fff;
	border-right: 1px solid transparent;
	transition: all 0.2s;
}

.download-btn:hover i {
	border-color: #ddd;
}


/**
 *  [ 8 ] - Contact Info
 *	======================
 */

.contact-info-container {
	border-bottom: 1px solid #e5e5e5;
}

.contact-info-box > *:last-child {
	margin-bottom: 0;
}

.contact-info-box .icon {
	margin-bottom: 15px;
}

.contact-info-box h4 {
	margin-bottom: 6px !important;
}


/**
 *  [ 9 ] - Contact and Subscribe
 *	===============================
 */

.contact-and-subscribe {
	border-bottom: 1px solid #e5e5e5;
	background: #f3f3f3;
	display: none;
}

/* Forms Toggler */
.forms-toggler { 
    z-index: 1;
    transform: translate(-50%, 50%);
    text-align: center;
}

.forms-toggler small {
	font-size: 12px;
	color: #0556dd;
	display: block;
	padding-top: 10px;
	transition: opacity 0.2s 0.4s;
}

.forms-toggler:hover small {
	text-decoration: underline;
}

.forms-toggler.opened small {
	opacity: 0;
	transition: opacity 0s 0s;
}

.forms-toggler .icon.x4 i {
	background: #fff;
}

.forms-toggler:hover .icon.x4 i::after {
			transform: scale(1);
}

.contact-tabs {
	display: block;
	position: relative;
	margin-bottom: 15px;	
}

.contact-tabs h2 {
	margin-bottom: 35px;
}

/* contact tabs titles */
.contact-tabs-titles { 
	list-style: outside none; 
	margin-bottom: 35px;
	position: relative;
	text-align: center;
}

.contact-tabs-titles li { 
	display: inline-block;
	text-align: center;
}

.contact-tabs-titles a { 
	margin-right: 30px;
	display: block;
	font-size: 16px;
	font-family: "Roboto", sans-serif;
	color: #222;
}

.contact-tabs-titles a i {
	display: block;
	font-size: 20px;
	height: 50px;
	width: 50px;
	line-height: 50px;
	border-radius: 999px;
	margin: 0 auto 3px;
	border: 1px solid #ccc;
	transition: all 0.15s;
}

.contact-tabs-titles li:last-child a {
	margin-right: 0;
}

.contact-tabs-titles li.ui-state-active a, 
.contact-tabs-titles li.ui-state-active a:hover {
	color: #0556dd;
}

.contact-tabs-titles li.ui-state-active a i, 
.contact-tabs-titles li.ui-state-active a:hover i {
	background: #0556dd;
	color: #fff;
	border-color: #0556dd;
}

/* contact tabs pane */
.contact-tabs-pane {
	margin: 0;
}

/* initially all panes are hidden */ 
.panes .pane {
	display:none;		
}


/**
 *  [ 10 ] - Blog
 *	===============
 */

.post-content {
	padding-right: 20px;
}

#posts {
	overflow: hidden;
}

.entry + .entry {	
	padding-top: 70px;
	margin: 70px 0 0;
	border-top: 1px solid #ddd;
}

.entry + *:not(entry) {
	margin-top: 85px;
}


.entry-image {
	margin-bottom: 40px;
}

.entry-image img {
	display: block;
	transition: all 0.4s;
}

.entry-image a:hover img {
	opacity: 0.7;
}

.entry-title h3 {
	margin-bottom: 20px;
}

.entry-title a {
	transition: 0s;
}

.entry-meta {
	margin: -13px 0 30px;
}

.entry-meta ul {
	list-style: none;
	color: #999;
	font-size: 12px;
}

.entry-meta ul li {
	display: inline-block;
	margin-right: 15px;
}

.entry-meta ul,
.entry-meta a {
	color: #aaa;
	font-weight: 500;
}

.entry-meta i {
	margin-right: 3px;
	font-size: 16px;
	color: #555;
	position: relative;
	top: 1px;
}

.entry-meta a {
	transition: 0s;
}

.entry-meta a:hover,
.entry-meta a:hover i {
	color: #0556dd;
}

.entry-meta a:hover {
	text-decoration: underline;
}

.rm-link {
	font-weight: 500;
	font-family: "Roboto", sans-serif;
	font-size: 18px;
	text-decoration: underline;
	margin-top: 15px;
}

/* Pagination */
.pagination {
	display: block;
	list-style: none;
	padding-top: 40px;
	margin-top: 70px;
	border-top: 1px solid #ddd;
}

.pagination li {
	display: inline-block;
	margin-right: 0;
}

.pagination li a {
	width: 35px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	background: #eee;
	color: #222;
	border-radius: 4px;
	display: block;
}

.pagination li a:hover {
	background: #222;
	color: #fff;
}

.pagination li.active a,
.pagination li.active a:hover {
	background: #0556dd;
	color: #fff;
}

/* Sidebar */
.sidebar-widgets-wrap .widget {
	padding-top: 60px;
	margin-top: 60px;
	border-top: 1px solid #ddd;
	position: relative;
}

.sidebar-widgets-wrap .widget:first-child {
	padding-top: 0;
	margin-top: 0;
	border-top: none;
}

.widget h4 {
	font-size: 21px;
	color:#fff;
	width:100%!important;
    /* margin-bottom: 20px; */
    text-align: center;
    background: #192a33; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#225069, #192a33); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#225069, #192a33); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#225069, #192a33); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#225069, #192a33); /* Standard syntax */
    padding: 3%;
    margin: 0;
}

/* Search Form */
.search-form .form-group {
	margin-bottom: 0;
}

.search-form .search-submit[type="submit"] {
	color: #222;
	font-size: 16px;
	border: none;
	background: transparent;
	position: absolute;
	right: 5px;
	top: 5px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	padding: 0;
}

.search-form .search-submit[type="submit"]:hover {
	color: #0556dd;
}

/* Twitter Feed */
.tweet_list {
	list-style: none;
}

.tweet_list li {
	margin-bottom: 20px;
	padding: 28px 0 20px 35px;
	border-bottom: 1px dashed #ccc;
	position: relative;
}

.tweet_list li a:hover {
	text-decoration: underline;
}

.tweet_list li:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: none;
}

.tweet_list li::before {
	content: "\f099";
	font-family: "fontAwesome";
	font-size: 20px;
	position: absolute;
	left: 0;
	top: 2px;
	height: 20px;
	line-height: 20px;
	color: #1da1f2;
}

.tweet_list .tweet_avatar {
	display: inline-block;
	margin-right: 4px;
	position: relative;
	top: -1px;
}

.tweet_list .tweet_avatar img {
	border-radius: 4px;
}

.tweet_list .tweet_time {
	position: absolute;
	left: 35px;
	top: 0;
	font-size: 12px;
	line-height: 18px;
	font-weight: 500;
}

.tweet_list .tweet_time a {
	color: #aaa;
}

.tweet_list .tweet_time a:hover {
	color: #0556dd;
	text-decoration: underline;
}

.tweet_list .tweet_time::before {
	content: "\f017";
	font-family: "fontAwesome";
    margin-right: 5px;
    font-size: 16px;
    color: #555;
    position: relative;
    top: 2px;
}

.tweet_list .tweet_time:hover::before {
	color: #0556dd;
}
#Button1{width:100%}

/*Responsive footer starts here*/

.footer-distributed{
	background-color: #00539a;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font:  12px  /*'Open Sans', Arial, sans-serif*/ 'Roboto', sans-serif;
	padding: 35px;
	/*padding-left:7.7%;
	padding-right:6.9%;*/
    padding-top: 0%;
    padding-bottom: 0%;
    padding-right: 30px;
}
#footer_main
{
        padding-left: 70px !important;
        padding-right: 52px !important;
    }


.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 30%;
	margin-top: 1%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;    
	margin-bottom: 3%;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 20px;
	padding: 0;
    width: 100%;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 24%;
}

.footer-distributed .footer-center i{
	background-color:  #004682;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 5px 10px;
    margin-left: 0;
	vertical-align: middle;
}

.footer-distributed form input {
    display: block;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: #1f2022;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    font: inherit;
    font-size: 14px;
    font-weight: normal;
    color: #d1d2d2;
    padding: 18px 50px 18px 18px;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
	font-weight: 100;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:12px;
	line-height: 1.5;
}

.footer-distributed .footer-center p a{
	color:  #a4c6ff;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 21%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 5px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: -6px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}



/* In our demo, the footers are fixed to the bottom of the page */

footer{
	bottom: 0;
}

@media (max-height:800px){
	footer { position: static; }
	header { padding-top:40px; }
}

.footer_bottom
{
    width:100%;
    background-color:#212121;
    overflow:hidden;
    }
.footer-icons a
{
    color: #fff;
    padding: 2.5%;
    float: right;
    border-left: #5d5d5d solid 1px;
    border-right: #5d5d5d solid 1px;
    }
    .footer-icons a:hover
{
    color: #000;
    background:#fff;
    transition: background-color 0.5s ease;
    border-left: #fff solid 1px;
    border-right: #fff solid 1px;
    }
.footer_bottomleft
{
    width:50%;
    float:left;
    text-align:left;
    margin-top:7px;
    }
.footer_bottomleft a
{
    color:#fff;
    line-height: 3.7;
    }
.footer_bottomright
{
    width:50%;
    float:right;
    }
.footer_bottom .main
{
    width: 100%;
    padding-left: 10px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    
    }
/*Responsive footer ends here*/



/* responsive dashboard header starts here*/
.header-categories
{
    background-color:#f5f5f5;
    border-bottom:1px solid #e1e8ed;
    height:48px
    }
.header-categories a,.header-categories a:hover{line-height:1.2;text-decoration:none}
.header-categories__links{font-size:12px;float:left;list-style:none;padding:7px 0 0;margin:0}
.header-categories__links-item{float:left;position:relative}
.header-categories__links-separator{float:left;position:relative;border-left:1px solid #dedede;margin:6px 10px 6px 10px;min-height:24px}
.header-categories__main-link,.header-categories__main-link--empty
{
    border-radius:4px 4px 0 0;
    color:#666;
    display:block;
    padding:10px;
    white-space:nowrap
    }
.header-categories__main-link:hover,
.header-categories__main-link--empty:hover,
.header-categories__main-link:focus,
.header-categories__main-link--empty:focus{text-decoration:none}
.touch .header-categories__links-item:hover 
.header-categories__main-link,.touch 
.header-categories__links-item:hover 
.header-categories__main-link--empty{background-color:inherit;color:#666}
.touch .header-categories__links-item 
.header-categories__main-link.is-open,
.touch .header-categories__links-item 
.is-open.header-categories__main-link--empty,
.header-categories__links-item:hover>
.header-categories__main-link,
.header-categories__links-item:hover>
.header-categories__main-link--empty{background-color:#999;color:#fff}
.header-categories__main-link--empty{border-radius:4px}
.header-categories__main-link--empty
.header-categories__main-link--new_label{padding-bottom:7px}
.header-categories__main-link--new_label{padding-top:8px}
.header-categories__links-dropdown{display:none;left:0;position:absolute;top:34px;width:210px}
.header-categories__links-dropdown
.touch-only-dropdown-is-ready,
.header-categories__links-item:hover>
.header-categories__links-dropdown{display:block}
.header-categories__search{float:right;padding-top:7px;width:170px}
.header-logo-account{background-color:#262626;height:48px;position:relative}
.header-logo-account__container{position:relative}
.header-logo-account__logo{position:absolute;height:55px}
.header-logo-account__logo>span{display:block;position:relative;text-indent:-9999px;height:18px;width:152px;top:18px}
.header-logo-account__user-nav-item{/*padding-top: 4px;height:32px;*/position:relative}.header-logo-account__user-nav-main-link--alpha,.header-logo-account__user-nav-main-link--alpha-with-dropdown,.header-logo-account__user-nav-main-link--cart,.header-logo-account__user-nav-main-link--omega{/*background-color:#fff;*/display:block;height:32px;line-height:31px;padding:0 10px 0;text-decoration:none}@media (max-width: 1024px){.language-selector{margin:25px 0 20px}}.shopping-cart-summary{color:#777}.shopping-cart-summary.is-empty{color:gray}.shopping-cart-summary.is-empty span{display:none}.shopping-cart-summary__count{box-sizing:border-box;background:#82b541; float:right; display:inline-block;padding:2px 5px 3px 5px;font-size:9px;font-weight:700;color:#f5f5f5;line-height:1;vertical-align:baseline;white-space:nowrap;text-align:center;border-radius:26px}@font-face{font-family:"marketplace-glyphs";src:url("//dmypbau5frl9g.cloudfront.net/assets/marketplace-glyphs/marketplace-glyphs-e5985a2b50d6212c904e8f874fc9f69c.eot");src:url("//dmypbau5frl9g.cloudfront.net/assets/marketplace-glyphs/marketplace-glyphs.eot?#iefix") format("embedded-opentype"),url("//dmypbau5frl9g.cloudfront.net/assets/marketplace-glyphs/marketplace-glyphs-70d83b51891740c6c341caa0de4b7153.woff") format("woff"),url("//dmypbau5frl9g.cloudfront.net/assets/marketplace-glyphs/marketplace-glyphs-fb3ec1d26cb47177b17ec81fa2a7f093.ttf") format("truetype"),url("//dmypbau5frl9g.cloudfront.net/assets/marketplace-glyphs/marketplace-glyphs.svg#marketplace-glyphs") format("svg");font-weight:normal;font-style:normal}.e-icon:before{font-family:marketplace-glyphs;font-style:normal;font-weight:normal;speak:none;text-align:center;width:1em;display:inline-block}.e-icon.-icon-cart:before{content:"\f10d"}

.header-logo-account__user-nav-item{top: -1px;}