.page-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.page-size {
    width: 300px;
    height: 250px;
}

#banner {
    overflow: hidden;
    cursor: pointer;
    position: relative;
    border: 1px solid lightgrey;
    box-sizing: border-box;
}

#background {
    width: 300px;
    position: absolute;
    top: 0;
    left: 0;
}

#card-layer, #shadow {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#shadow {
    opacity: .7;
}

.sprite {
    background: url('../images/sprite.png');
    background-size: 529px 150px;
    position: absolute;
    top: 0;
    left: 0;
}

#fivePts {
    background-position: 0 0;
    width: 138px;
    height: 32px;
    top: 196px;
    left: 14px;
}

#bonusPtsWhite {
    background: url('../images/sprite.png');
    background-size: 529px 150px;
    position: absolute;
    background-position: -6px -34px;
    width: 257px;
    height: 56px;
    top: 9px;
    left: 24px;
    opacity: 0;
}

#bonusPtsDark {
    position: relative;
    overflow: hidden;
    width: 263px;
    left: 21px;
    top: 0;
    height: 70px;
}

#bonusPtsDark span {
    background: url('../images/sprite.png') fixed;
    background-size: 529px 150px;
    position: absolute;
    background-position: 284px -24px;
    height: 47px;
    top: 32px;
    left: 0;
    opacity: 0;
}

#freeNight {
    background-position: 0 -95px;
    width: 102px;
    height: 50px;
    top: 188px;
    left: 33px;
    opacity: 0;
}

#learnMore {
    background-position: -113px -97px;
    width: 130px;
    height: 35px;
    top: 201px;
    left: 161px;
}

#learnMore a {
    display: block;
    width: 100%;
    height: 100%;
}


#card {
    position: absolute;
    background-position: 0 0;
    width: 118px;
    height: 74px;
    top: 120px;
    left: 166px;
    overflow: hidden;
}


/*~~~~~~~~~* CARD SHINE *~~~~~~~~~*/

#cardShine {
  position: absolute;
  top: -220%;
  left: -210%;
  width: 200%;
  height: 200%;
  transform: rotate(30deg);
  
  background: linear-gradient(
    to right, 
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 70%,
    rgba(255, 255, 255, 0.4) 85%,
    rgba(255, 255, 255, 0.0) 100%
  );
  transition-property: left, top;
  transition-duration: 1.6s, 1.6s;
  transition-timing-function: ease;
}




