.tpg-card-apply {
    background-color: #2E3539;
    color: #fff;
    padding: 5px 0px;
    width: 85%;
    margin: 10px auto;
    text-align: center;
}

.tpg-card-container {
    width: 222px;
    border: 1px solid #ccc;
    background-color: #F1F1F1;
    margin: 20px;
}

.tpg-card-container h3 {
    margin: 0 0 0.5em;
    padding: 5px;
    background-color: #2E3539;
    font-size: 12px;
    line-height: 1.5em;
    color: #fff;
}

.tpg-card-tile {
    background-color: #fff;
    text-align: center;
    text-decoration: none;
    color: #2E3539;
    width: 100%;
}

.tpg-card-description {
    font-size: 14px;
    text-align: center;
    padding: 0 1em;
    margin: 0;
}

.tpg-card-art > img {
    margin: 15px;
}

/*----------------------------------------------------------------------------------------*/
/*javascript*/
.jav-button-holder {
    padding: 15px 0;
}

.jav-description {
    border-color: #e4e4e4;
    border-style: solid;
    border-width: 0 3px 0 0;
    margin: 0;
    padding: 20px 20px 10px 10px;
    text-align: left;
    vertical-align: top;
}

.jav-description ul {
    margin: 0;
    overflow: hidden;
    padding: 0 0 10px;
}

.jav-description ul li {
    background: url('http://thepointsguy.com/wp-content/plugins/tpg-suite/images/bullet.gif') no-repeat scroll left 1px transparent;
    color: #545454;
    font-size: 12px;
    margin: 0;
    overflow: hidden;
    padding: 0 3px 5px 20px;
}

.jav-card-image {
    border-color: #e4e4e4;
    border-style: solid;
    border-width: 0 0 0 3px;
    margin: 0;
    padding: 20px 10px 10px;
    text-align: center;
    vertical-align: top;
    width: 175px;
}

.jav-card-image img {
    margin: 0 auto;
}

.jav-container-out {
    border: medium none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .76em;
    margin-bottom: 15px;
    padding: 0;
    text-align: left;
    width: 100%;
}

.jav-container-out .jav-apply-button {
    background: #00c567 none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    font-weight: 700;
}

.jav-container-out table {
    margin-bottom: 0;
    table-layout: auto;
}

.jav-feature {
    background-color: #f2f2f2;
    border: 3px solid #e4e4e4;
    height: 80px;
    margin: 0;
    vertical-align: top;
}

.jav-feature td,
.jav-feature table {
    border: 2px solid #fff;
    box-sizing: border-box;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
}

.jav-rate-bottom {
    color: #000;
    font-size: 11px;
    font-weight: normal;
    padding: 12px 15px;
    text-align: center;
}

.jav-rate-bottom td {
    border-bottom: 1px solid #FFF;
    border-right: 1px solid #FFF;
}

.jav-rate-top td {
    border-bottom: 1px solid #FFF;
    border-right: 1px solid #FFF;
    color: #000;
    font-size: 12px;
    font-weight: 700;
    padding: 12px 15px;
    text-align: center;
}

.jav-title {
    background: #419cd6 none repeat scroll 0 0;
    border: 3px solid #e4e4e4;
    padding: 10px 10px 10px 15px;
}

.jav-title h1 {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.jav-apply-button {
    background: #439d5d;
    color: #FFFFFF !important;
    cursor: pointer;
    display: inline;
    font: 16px/100% Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin: 0 2px;
    min-width: 60px;
    padding: .5em 1.3em .55em;
    text-align: center;
    vertical-align: baseline;
    zoom: 1;
}

    .jav-apply-button:active {
        background: #3a8e52;
    }

    .jav-apply-button:hover {
        background: #3a8e52;
    }

/** Link Shortcode**/
a.tooltip {
    outline: none;
}

a.tooltip:hover {
    text-decoration: none;
}

a.tooltip span.tpg-tool-tip-wrapper {
    z-index: 1000;
    display: none;
    padding: 14px 20px;
    width: 420px;
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;

}

.tpg-inner {
    position: relative;
}

a.tooltip:hover span.tpg-tool-tip-wrapper {
    display: inline;
    position: absolute;
    color: #111;
    border: 1px solid #DCA;
    background: #fffAF0;
}

/*CSS3 extras*/
a.tooltip span.tpg-tool-tip-wrapper {
    border-radius: 4px;
    box-shadow: 5px 5px 8px #CCC;
}

.tpg-desc {
    float: right;
    width: 345px;
    font-size: 12px;
}

#primary article {
    overflow: visible;
}

/** END Link Shortcode**/

@media screen and (max-width: 650px) {
    .jav-button-holder {
        padding: 20px 0 0;
    }

    .jav-description, .jav-card-image {
        border-width: 0 3px;
        box-sizing: border-box;
        display: block;
        width: 100%;
    }

    .jav-feature table {
        font-size: 11px;
    }

}