

.ww_fl { float:left;}
.ww_fr { float:right;}
.ww_cl { clear:both; font-size:0px;}

.ww_com_bw_plus {
	height:11px;
	line-height:11px;
	padding-right: 5px;
	font-size:10px;
}

.ww_com_bw_plus_mute {
	height:11px;
	line-height:11px;
	padding-right: 5px;
	font-size:10px;
	
}
.ww_com_closed {
	background: url(http://images.spox.com/images/com_bw_pix/closed_bg.gif) top left no-repeat;
	display:none;
	/*
	margin-right:-2px;
	padding:4px 11px 6px 8px;
	*/
	padding-top:4px;
	padding-bottom:6px;
	padding-left:8px;
	padding-right:15px;
	margin-left:96px;
	height:27px; 
	width: 340px;
	margin-bottom:7px;
}

.ww_com_bw_minus {
	height:11px;
	line-height:11px;
	border-left:1px solid #3d3c3c;
	padding-left:5px;
	width: 40px;
	font-size:10px;
}
.ww_com_bw_minus_mute {
	height:11px;
	line-height:11px;
	border-left:1px solid #3d3c3c;
	padding-left:5px;
	width: 40px;
	font-size:10px;
	
}
.ww_com_isopen {
	display:block;
	border-left:1px solid #c4c0be;
	border-right:1px solid #c4c0be;
	width: 20px;
	height:11px;
	margin-right:10px;
	background: url(http://images.spox.com/images/com_bw_pix/switch_open.gif) center center no-repeat;
}
* html .ww_com_isopen {	margin-right:5px;}

.ww_com_isclosed {
	display:block;
	border-left:1px solid #c4c0be;
	border-right:1px solid #c4c0be;
	width: 20px;
	height:11px;
	margin-right:0px;
	background: url(http://images.spox.com/images/com_bw_pix/switch_closed.gif) center center no-repeat;
}
.ww_com_bw_mute {
	margin-left:5px;
	margin-top:2px;
	width:16px;
	height:13px;
	background: url(http://images.spox.com/images/com_bw_pix/mute.gif) center center no-repeat;
}

.ww_plus_norm {
	margin-top:7px;
	margin-right:13px;
	display:block;
	width:16px;
	height:16px;
	background: url(http://images.spox.com/images/com_bw_pix/plus_norm.gif) center center no-repeat;
}


.ww_plus_disabled {
	margin-top:7px;
	margin-right:13px;
	display:block;
	width:16px;
	height:16px;
	background: url(http://images.spox.com/images/com_bw_pix/plus_disabled.gif) center center no-repeat;	
}

.ww_plus_disabled2 {
	margin-top:7px;
	margin-right:13px;
	display:block;
	width:16px;
	height:16px;
	background: url(http://images.spox.com/images/com_bw_pix/plus_disabled.gif) center center no-repeat;
	cursor:default;
}

.ww_plus_pressed {
	margin-top:7px;
	margin-right:13px;
	display:block;
	width:16px;
	height:16px;
	background: url(http://images.spox.com/images/com_bw_pix/plus_pressed.gif) center center no-repeat;
	cursor:default;
}

* html .ww_plus_norm {margin-right:6px;}
* html .ww_plus_disabled {margin-right:6px}
* html .ww_plus_disabled2 {margin-right:6px}
* html .ww_plus_pressed {margin-right:6px}


.ww_minus_disabled {
	margin-top:7px;
	margin-right:10px;
	display:block;
	width:16px;
	height:16px;
	background: url(http://images.spox.com/images/com_bw_pix/minus_disabled.gif) center center no-repeat;	
}


.ww_minus_norm {
	margin-top:7px;
	margin-right:10px;
	display:block;
	width:16px;
	height:16px;
	background: url(http://images.spox.com/images/com_bw_pix/minus_norm.gif) center center no-repeat;
}


.ww_minus_disabled2 {
	margin-top:7px;
	margin-right:10px;
	display:block;
	width:16px;
	height:16px;
	background: url(http://images.spox.com/images/com_bw_pix/minus_disabled.gif) center center no-repeat;
	cursor:default;
}



.ww_minus_pressed {
	margin-top:7px;
	margin-right:10px;
	display:block;
	width:16px;
	height:16px;
	background: url(http://images.spox.com/images/com_bw_pix/minus_pressed.gif) center center no-repeat;
	cursor:default;	
}

.ww_com_bw_pager_select {
	font-size:11px;
	margin-right:5px;
	float:right;
	margin-top:3px;
}
* html .ww_com_bw_pager_select {
	height:8px;
	padding:0px;
	margin-top:1px;
}

.ww_com_bw_pager_bg {
	height:31px;
	background: url(http://images.spox.com/images/com_bw_pix/pager_bg.gif) center center repeat-x;
}

.ww_olli {
	background:#f0ede8;
	border-top:1px solid #fff;
	padding:5px;
	/*width:500px;*/
}

*html .ww_olli {padding:2px 5px 2px 5px}

.ww_com_bw_input {
	width:20px;
	height:13px;
	font-size:11px;
	margin-top:0px;
	margin-left:5px;
	float:right;
}
.ww_com_bw_input_buton {
	margin-right:0px;
	margin-left:5px;
	float:right;
	width:23px;
	height:17px;
	background: url(http://images.spox.com/images/buttons/pselect_fw.gif) center center no-repeat;
	margin-top:0px;
}
* html .ww_com_bw_input_buton {margin-top:-1px}

.ww_com_bw_pager_bg .navor {
	padding:0px;
	margin-right:5px;
	margin-top:7px;
}

.ww_user_ownerbox .left .iconbox .id_comshow_1 {
	margin-left:10px;
	width:20px;
	height:20px;
	float:left;
	background: url(http://images.spox.com/images/com_bw_pix/mute.gif) center center no-repeat;
	cursor:pointer;
}

.ww_user_ownerbox .left .iconbox .id_comshow_0 {
	margin-left:10px;
	width:20px;
	height:20px;
	float:left;
	background: url(http://images.spox.com/images/com_bw_pix/mute0.gif) center center no-repeat;
	cursor:pointer;
}
.ww_datum  {
	font-size:11px;
	color:#555363;
}
.ww_red_icon {
	padding-right:15px;
	padding-left:15px;
	color:#9e0814;
	background: url(http://images.spox.com/images/com_bw_pix/redicon.gif) right center no-repeat;
}

.ww_marg {
	margin-top:2px;
	float:left;
	font-size:11px;
	font-weight:bold;
}
* html  .ww_marg {margin-top:-3px}
*+html  .ww_marg {margin-top:-3px}




.ww_abo {margin:0px 2px 0px 5px}

* html .ww_abo {margin:0px;padding:0px}

.ww_com_bw_help_icon {
	display:block;
	margin-left:10px;
	margin-right:2px;
	margin-top:2px;
	float:right;
	display:block;
	width:17px;
	height:17px;
	background: url(http://images.spox.com/images/com_bw_pix/com_bw_help_icon.gif) center center no-repeat;
}

*html 
.ww_abo {margin:0px 2px 0px 5px}

* html .ww_abo {margin:0px;padding:0px}


/*
.ext_box
{

	border: 1px solid #4e4e59;
	margin: 0 0 20px 0;
	background-color: #ffffff;
}

		.ext_box .ext_headline
		{

			background-image: url(http://images.spox.com/images/bg_box_headline.gif);
			background-repeat: repeat-x;
			height: 22px;
			line-height: 22px;
			font-weight: bold;
			font-size: 11px;
			color: #4e4e59;
			padding: 0 0 0 8px;
		}
*/
	
	
#ww_com_bw_box {
	font-size:12px;
}




