@font-face {
    font-family: 'proxima_novabold';
    src: url('/pub/font/dazn/proximanova-bold-webfont.eot');
    src: url('/pub/font/dazn/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/pub/font/dazn/proximanova-bold-webfont.woff2') format('woff2'),
         url('/pub/font/dazn/proximanova-bold-webfont.woff') format('woff'),
         url('/pub/font/dazn/proximanova-bold-webfont.ttf') format('truetype'),
         url('/pub/font/dazn/proximanova-bold-webfont.svg#proxima_novabold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proxima_nova';
    src: url('/pub/font/dazn/proximanova-regular-webfont.eot');
    src: url('/pub/font/dazn/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/pub/font/dazn/proximanova-regular-webfont.woff2') format('woff2'),
         url('/pub/font/dazn/proximanova-regular-webfont.woff') format('woff'),
         url('/pub/font/dazn/proximanova-regular-webfont.ttf') format('truetype'),
         url('/pub/font/dazn/proximanova-regular-webfont.svg#proxima_nova') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face{
    font-family:Gridnick;
    src: url("/pub/font/dazn/FoundryGridnikW01Bold.eot");
    src: url("/pub/font/dazn/FoundryGridnikW01Bold.eot?#iefix") format("embedded-opentype"),
         url("/pub/font/dazn/FoundryGridnikW01Bold.woff2") format("woff2"),
         url("/pub/font/dazn/FoundryGridnikW01Bold.woff") format("woff"),
         url("/pub/font/dazn/FoundryGridnikW01Bold.ttf") format("truetype"),
         url("/pub/font/dazn/FoundryGridnikW01Bold.svg") format("svg");
    font-weight:800;
    unicode-range:U+0-A0;
    font-style: normal;
}
