#foo {
  font: normal 12px Arial, Helvetica, sans-serif;
}
#foo form {
  margin: 0;
  padding: 0;
}
#foo img {
  border-width: 0;
}
#foo input {
  font: normal 11px Arial, Helvetica, sans-serif;
}
#foo a {text-decoration: none;}
#foo a:hover {text-decoration: underline;}

/* FOOTER B */
#foo {
  overflow: hidden;
  clear: both;
  width: 940px;
  background-color: #ffffff;
  font-size: 11px;
  color: #6c6c6c;
}
.fooIAbt {
  overflow: hidden;
  height: 21px;
  border-bottom: 2px solid #ab0d15;
  background-color: #313031;
  color: #ffffff;
}
.fooIAbt a {
  float: left;
  margin: 4px 6px 0 6px;
  color: #ffffff;
}
.fooIAbt .fooCpy {
  float: right;
  margin: 4px 6px 0 6px;
}
.fooIAbt .sep {
  float: left;
  overflow: hidden;
  width: 1px;
  height: 8px;
  margin-top: 7px;
  background-color: #ffffff;
}
.fooIIcon {
  clear: both;
  margin: 14px 0 20px 40px;
  text-align: center;
  text-transform: uppercase;
}
.fooIIcon a {
  padding: 2px 40px 2px 20px;
  font-size: 90%;
  color: #5e5e5e;
  background: url(/pub/pic/foo-icn.png) no-repeat;
}
#fooIcn-mob {background-position: 0  -25px;}
#fooIcn-suc {background-position: 0  -50px;}
#fooIcn-reg {background-position: 0  -75px;}
#fooIcn-new {background-position: 0 -100px;}
#fooIcn-nwl {background-position: 0 -125px;}

.fooILink {
  clear: both;
  padding-top: 2px;
  text-align: center;
  text-transform: uppercase;
}
.fooILink a {
  color: #6c6c6c;
  font-size: 90%;
}
.fooILink .sep {
  font-size: 8px;
  padding: 0 10px;
  color: #ad0810;
  vertical-align: 1px;
}
.fooIInfo {
  clear: both;
  margin-top: 14px;
  padding-bottom: 7px;
  text-align: center;
  font-size: 90%;
}
.fooIInfo p {margin:0; padding:0}

.fooIPart {
  clear: both;
  margin: 10px 0 7px 0;
  color: #7e7f7a;
  text-align: center;
}
.fooIPart a {
  margin-left: 20px;
  color: #6d6d6d;
}
.fooIPart img {
  vertical-align: middle;
}
.fooIBook {
  overflow: hidden;
  clear: both;
  margin: 17px 0 23px 0;
  font-size: 90%;
}
.fooIBook span {
  float: left;
  padding: 3px 12px 0 320px;
}
.fooIBook a {
  float: left;
  width: 18px;
  height: 18px;
  margin-right: 3px;
  border: 1px solid #cccccc;
  background: url(/pub/pic/bookmark.png) no-repeat;
  text-decoration: none;
}
.fooIBook a:hover {border-color: #000000;}
.fooIBook a.bmwong {background-position: 0 0;}
.fooIBook a.bmwebnews {background-position: -17px 0;}
.fooIBook a.bmlinkarena {background-position: -34px 0;}
.fooIBook a.bmfavoriten {background-position: -51px 0;}
.fooIBook a.bmdigg {background-position: -68px 0;}
.fooIBook a.bmdel {background-position: -85px 0;}
.fooIBook a.bmfacebook {background-position: -102px 0;}
.fooIBook a.bmfurl {background-position: -119px 0;}
.fooIBook a.bmyahoo {background-position: -136px 0;}
.fooIBook a.bmgoogle {background-position: -153px 0;}
.fooIBook a.bmblinklist {background-position: -170px 0;}
.fooIBook a.bmtechnorati {background-position: -187px 0;}
.fooIBook a.bmnewsvine {background-position: -204px 0;}
.fooIBook a.bmtwitter {background-position: -221px 0;}

#foo .fooSep {
  margin-top: 10px;
  padding-top: 1px;
  background: url(/pub/pic/trennpunktS2.gif) repeat-x;
}
/* FOOTER E */