/* NBA style overrides
 * declares styles for header and footer used by pageparts and all destination pages
 
 
  background: #0a3665;
  background-color: #22599a; 
  background-color: #2a6cb6;
  background-color: #165899;
  background-color: #347dd0;  
 
 
 
 */
#spxDxHeader {
  font: normal 15px 'Roboto Condensed', Arial ,sans-serif;
}
#spxDxHeader, #spxDxHeader * {
  box-sizing: content-box;
}

#spxDxHeader {
  background-color: #0a3665;
}
#spxDxHeader #headerfix {
  background-color: #0a3665;
}
#spxDxHeader .nav .lvl1 {
  border-color: #22599a;
}
#spxDxHeader .nav .lvl1 .itm1.sel{ 
  /* lvl1 selection */
  background-color: #22599a;
}
#spxDxHeader .nav .lvl1 .itm1.ov:hover {
  /* lvl1 hover */
    background-color: #3d3d3d;
}
#spxDxHeader .nav .lvl2 {
  background-color: #22599a;
  border-color: #22599a;
}
#spxDxHeader.small .nav .lvl2 { 
  /* If the header is collapsed from scrolling down, the navi background is changed */
  background-color: transparent;
  border-color: #22599a;
}
#spxDxHeader.small .nav .lvl2 .itm2.sel {
  background-color: #22599a;
}
#spxDxHeader.small .nav .lvl2 .itm2:hover > .ct {
  background-color: #22599a;
}

#spxDxHeader.small.nl2 #headerfix { 
  top: -85px;
}

#spxDxHeader .nav a {
  border: 0;
}
#spxDxHeader.nl2 { 
  /* The content has to move down below the position
     fixed header. nl2 defines navi level 1 height
   */
  padding-top:237px;
}



/* logo link position */
#spxDxHeader .logoBig .lgolnk, #spxDxHeader .logoSmall .lgolnk {
  display: block;
  position: absolute;
  width: 34%;
  height: 100%;
  top:0;
  left:0;
}

/* override pagepart */
body.inside #frnMain {width:990px;}
body.inside #frnRahmen {padding: 5px 0 0 0;}

#scoreboard {
  margin-top: 5px;
}


/* here we define special navi items to be outside the navi */
/* store */
#spxDxHeader .nav .sni2382228 {
  display: block;
  top: 0;
  position: absolute;
  left: 102%;
  color: transparent;
  background: url(http://www.spox.com/pub/pic/header16/nav-nba-store.svg) no-repeat center center;
}
#spxDxHeader .nav .sni2382228 a.ct {
  width: 90px;
  height: 44px;
  padding: 0;
}
#spxDxHeader .nav .lvl2 .itm2.sni2382228:hover > .ct {
  background: transparent;
}

/* league pass */
#spxDxHeader .nav .sni2382227 {
  display: block;
  top: 0px;
  position: absolute;
  right: 102%;
  color: transparent;
  transition:all 0.3s linear;
  background: url(http://www.spox.com/pub/pic/header16/nav-nba-leaguepass.svg) no-repeat center center;
}
#spxDxHeader .nav .sni2382227 a.ct {
  width: 130px;
  height: 44px;
  padding: 0;
}
#spxDxHeader .nav .lvl2 .itm2.sni2382227:hover > .ct {
  background: transparent;
}
#spxDxHeader.small .nav .sni2382227 {
  opacity: 0;
  right: 1002%;
  transition:opacity 0.3s linear;  
}

@media (max-width:  1100px){ #spxDxHeader .nav .sni2382228 { display: none; } }
@media (max-width:  1580px){ #spxDxHeader .nav .sni2382227 { display: none; } }

#spxDxFooter {
  background-color: #0a3665;
}
#spxDxFooter .lnks {
  border-color: #22599a;
}
