/*Redesign*/

.ext_headline_comwrite {
	font-size: 14px;
}


.ext_box_bw,
.ext_box_comment,
.ext_box_comwrite,
.ext_box_pwv,
.ext_box_comment_mod{
	border:0px none !important;
}
.ext_box_pwv{
	margin-top:10px !important;
}
.ext_box_bw .ext_headline,
.ext_box_comment .ext_headline,
.ext_box_comwrite .ext_headline,
.ext_box_pwv .ext_headline,
.ext_box_comment_mod .ext_headline{
	background:none !important;
	height:26px !important;
	line-height:25px !important;
	padding:0px !important;
}
.ext_box_bw .ext_headline .ext_headline_right,
.ext_box_comment .ext_headline .ext_headline_right,
.ext_box_comwrite .ext_headline .ext_headline_right,
.ext_box_pwv .ext_headline .ext_headline_right,
.ext_box_comment_mod .ext_headline .ext_headline_right{

	width:10px;
	height:26px;
	display:block;
/*	background: url("http://images.spox.com/grafiken/extern/box_top_right.jpg") top left no-repeat;
*/	/*float:left;*/
	float:right;
	border-right: 1px solid #b5b5b5;

}
.ext_box_bw .ext_headline .ext_headline_left,
.ext_box_comment .ext_headline .ext_headline_left,
.ext_box_comwrite .ext_headline .ext_headline_left,
.ext_box_pwv .ext_headline .ext_headline_left,
.ext_box_comment_mod .ext_headline .ext_headline_lef{
	width:10px;
	height:26px;
	display:block;
	float:left;
	border-left: 1px solid #b5b5b5;
/*	background: url("http://images.spox.com/grafiken/extern/box_top_left.jpg") top left no-repeat;
*/}
.ext_box_bw .ext_headline .ext_headline_center,
.ext_box_comment .ext_headline .ext_headline_center,
.ext_box_comwrite .ext_headline .ext_headline_center,
.ext_box_pwv .ext_headline .ext_headline_center,
.ext_box_comment_mod .ext_headline .ext_headline_center{
	height:26px;
	display:block;
	/*width:451px;
	float:left;*/
	width:auto;
	border-top: 1px solid #b5b5b5;
	font-size: 14px;
/*	background: url("http://images.spox.com/grafiken/extern/box_top_center.jpg") top left repeat-x;
*/
}
.ext_box_bw .ww_bwbox_container,
.ext_box_comment #ww_com_bw_box,
.ext_box_comwrite .txt,
.ext_box_pwv .txt,
.ext_box_comment_mod .txt{
/*	border-left:1px solid #D2D2D2;
	border-right:1px solid #D2D2D2;
	border-bottom:1px solid #D2D2D2;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;*/

	border-left:1px solid #b5b5b5;
	border-right:1px solid #b5b5b5;
	border-bottom:1px solid #b5b5b5;


	width:auto;
	padding:5px 2px 5px 3px;	
}



.ext_box_comment_mod .ext_box_comment_content {
	padding: 0 10px 10px 10px !important;
}
.ext_headline_center .ww_com_bw_stat{
	font-weight:normal;
	float:left;
	padding-left:30px;
	font-size:12px;
}
.ext_headline_center .ww_com_bw_head,
.ext_headline_center .navol1{
	font-size:14px;
}
.ext_box_bw .ww_com_bw_help_icon{
	display:none;
}
.ext_box_bw .ww_bwbox_content{
	font-size:12px;
	text-align:center;
}
.ext_box_comment .ww_marg,
.ext_box_comment .comment{
	font-size:13px;
	word-wrap: break-word; 
}


.ext_box_comment .ww_com_bw_plus,
.ext_box_comment .ww_com_bw_minus,
.ext_box_comment .ww_datum,
.ext_box_comment .datum,
.ext_box_comment .ww_com_bw_plus_mute,
.ext_box_comment .ww_com_bw_minus_mute{
	font-size:12px;
	font-weight:bold;
	color:#555363;
}

.ww_com_bw_plus_2015 {
	float: right;
	font-size: 14px !important;
	font-weight: bold !important;
	margin-top: 12px !important;
	color: #9f9f9f !important;
}

.ww_com_color_red {
	color: #c2231f !important;
}

.ww_com_bw_minus,
.ww_com_bw_minus_mute {
	display: none !important;
}

.ww_plus_pressed,
.ww_plus_norm,
.ww_plus_disabled,
.ww_plus_disabled2 {
	margin: 0 5px 0 0 !important;
}

.ext_box_comment .ww_minus_norm{
	background: url("http://images.spox.com/grafiken/extern/minus_norm.jpg") top left no-repeat;
	width:25px;
	height:25px;
	display: none;
}
.ext_box_comment .ww_minus_disabled,
.ext_box_comment .ww_minus_disabled2{
	background: url("http://images.spox.com/grafiken/extern/minus_deak.jpg") top left no-repeat;
	width:25px;
	height:25px;
	display: none;
}

.ext_box_comment .ww_minus_pressed{
	background: url("http://images.spox.com/grafiken/extern/minus_pressed.jpg") top left no-repeat;
	width:25px;
	height:25px;
	display: none;
}
.ext_box_comment .ww_plus_minus{
	background: url("http://images.spox.com/grafiken/extern/plus_minus.jpg") top left no-repeat;
	width:25px;
	height:25px;
	display: none;
}

.ext_box_comment .ww_plus_norm{
	background: url("http://images.spox.com/grafiken/extern/bw_sprite.gif") center center no-repeat;
	width:30px;
	height:29px;
}
.ext_box_comment .ww_plus_disabled,
.ext_box_comment .ww_plus_disabled2{
	background: url("http://images.spox.com/grafiken/extern/bw_sprite.gif") top center no-repeat;
	width:30px;
	height:29px;
}
.ext_box_comment .ww_plus_pressed{
	background: url("http://images.spox.com/grafiken/extern/bw_sprite.gif") bottom center no-repeat;
	width:30px;
	height:29px;
}

#ww_com_bw_box .ww_pager{
	margin-top:5px;
	margin-bottom:10px;
	margin-right: 9px;
}
.ext_box_comwrite .ext_box_comwrite_content{
	padding:5px 2px 5px 3px !important;
	font-weight:normal;
}



.ext_box_comment_mod .ext_box_comment_content #tin,
.ext_box_comment_mod .ext_box_comment_content #cin,
.ext_box_comwrite .ext_box_comwrite_content #tin,
.ext_box_comwrite .ext_box_comwrite_content #cin {
	border:1px solid #b5b5b5;
	width:429px !important;
	padding: 2px 5px;
}
.ext_box_comwrite .ext_box_comwrite_content #schreiben{
	padding:10px;
}
.ext_box_comment_content #schreiben #tin,
.ext_box_comment_content #schreiben #cin{
	width:409px !important;
	border:1px solid #b5b5b5;
}
#X_COMORD{
	border:1px solid #b5b5b5;
}
.ww_pager .ww_com_bw_input_buton{
	background: url("http://images.spox.com/grafiken/extern/pager2016/pager_jumpto.jpg") top left no-repeat;
	width:25px;
	height:19px;
}
.ww_pager form{
	float:right;
}
.ww_pager form input{
	background: url("http://images.spox.com/grafiken/extern/pager2016/pager_input.jpg") top left no-repeat;
	width:25px;
	height:19px;
	border:0px none;
}
.ww_pager .ext_pselect_small .fw{
	background: url("http://images.spox.com/grafiken/extern/pager2016/pager_right.jpg") top left no-repeat;
	width:22px;
	height:19px;
	border-left:1px solid #b5b5b5;
}
.ww_pager .ext_pselect_small .bw{
	background: url("http://images.spox.com/grafiken/extern/pager2016/pager_left.jpg") top left no-repeat;
	width:23px;
	height:19px;
	border-right:1px solid #b5b5b5;
}
.ww_pager .ext_pselect_small{
	background: url("http://images.spox.com/grafiken/extern/pager2016/pager_center.jpg") top left repeat-x;
	height:19px;
}
/*Redesign neue Kommentare*/
#redbox .ext_box_comment .ext_headline .ext_headline_center .ww_fr{
	font-size:12px;
	font-weight:normal;
}
#redbox .ext_box_comment #X_COMORD{
	padding:0px;
	margin-right:0px;
}
.ext_box_comment .ww_com_closed{
	width: 333px;
	background: url("http://images.spox.com/grafiken/extern/bg_comment_closed_356.gif") top left no-repeat;
	height:45px;
}
#comments_new_div .ext_box{
	border:none;
	/*background: url("http://images.spox.com/grafiken/extern/new_comments_bg.jpg") top left repeat;*/
/*	background: linear-gradient(to bottom, #ffffff 0%, #e7e7e7 45%, #ffffff 90%, #e7e7e7 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#e7e7e7', GradientType=0) !important; IE6	
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;	*/
}
#comments_new_div .ext_box .ext_headline{
/*	background:url("http://images.spox.com/grafiken/extern/ext_box_header.png") top left repeat-y;
*/	
	background: none;
	text-transform:uppercase;
	font-size:14px;
	font-weight: normal;
	border : 1px solid #b5b5b5;
	border-bottom: none;
}

#comments_new_div .ext_box .txt{
	border-left:1px solid #b5b5b5;
	border-right:1px solid #b5b5b5;
	border-bottom:1px solid #b5b5b5;
/*	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;*/
}
#pwvdiv .ext_headline_center,
#ww_ext_com_login .ext_headline_center{
	font-size:14px;
}
.ext_box_comment .ext_box_comment_lt{
	background:url("http://images.spox.com/grafiken/extern/bg_comment_lt.gif") top left no-repeat;
}
.ext_box_comment .ext_box_comment_lb{
	background:url("http://images.spox.com/grafiken/extern/bg_comment_lb.gif") 1px 0px no-repeat;
	height:10px;
}
.ext_box_comment .ext_box_comment_rb{
	background:url("http://images.spox.com/grafiken/extern/bg_comment_rb.gif") top left no-repeat;
	height:10px;
	width:10px;
}
/*Redesign login*/
.ext_box .util_slider {
	margin-left:-4px;
	padding-top:10px;
}
.ext_box .txt{
	padding-bottom:5px !important;
}
#loginbox .ext_box{
/*	border:none;
	background: url("http://images.spox.com/grafiken/extern/new_comments_bg.jpg") top left repeat;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	background: linear-gradient(to bottom, #ffffff 0%, #e7e7e7 45%, #ffffff 90%, #e7e7e7 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#e7e7e7', GradientType=0) !important;*/

/*	border-left:1px solid #b5b5b5;
	border-right:1px solid #b5b5b5;
	border-top:1px solid #b5b5b5;*/

}

#loginbox .ext_box .ext_headline{
	text-transform:uppercase;
/*	background:url("http://images.spox.com/grafiken/extern/ext_box_header.png") top left repeat-y;
*/	font-size:14px;	
/*	border-left:1px solid #b5b5b5;
	border-right:1px solid #b5b5b5;
	border-top:1px solid #b5b5b5;*/
}
#loginbox .ext_box .txt{
/*	border-left:1px solid #b5b5b5;
	border-right:1px solid #b5b5b5;
	border-bottom:1px solid #b5b5b5;*/
	/*-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;*/
}
#loginbox #pwvdiv2 .ext_box_pwv{
	height:auto !important;
}
/*Redesign Statistik*/
.ext_box_stats{
	border:none !important;
	/*background: url("http://images.spox.com/grafiken/extern/new_comments_bg.jpg") top left repeat !important;*/
/*	background: linear-gradient(to bottom, #ffffff 0%, #e7e7e7 45%, #ffffff 90%, #e7e7e7 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#e7e7e7', GradientType=0) !important; IE6-9	
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;	*/
}
.ext_box_stats .ext_headline{
/*	background:url("http://images.spox.com/grafiken/extern/ext_box_header.png") top left repeat-y !important;
*/	
	text-transform:uppercase;
	font-size:14px;	
	border-left:1px solid #b5b5b5;
	border-right:1px solid #b5b5b5;
	border-top:1px solid #b5b5b5;

}
.ext_box_stats .txt{
	border-left:1px solid #b5b5b5;
	border-right:1px solid #b5b5b5;
	border-bottom:1px solid #b5b5b5;
/*	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;*/
}
/*Ext-Box*/
.ext_box
{

	border: 1px solid #b5b5b5;
	margin: 0 0 20px 0;
	background-color: #ffffff;
}

.ext_box *
{
	font-family: 'Roboto Condensed', Arial ,sans-serif;
	font-weight: normal;
/*	color: #666666;
*/	margin:0px;
	padding:0px;
}

.ext_box .left
{
	padding: 0px 10px 0 0;
	float: left;
}

.ext_box a {
 color:#000; 
}

.ext_box img { border:1px solid #393F59; }

/*.ext_box .rel * { font-size: 12px; }*/
.ext_box .ext_headline
{

/*	background-image: url(http://images.spox.com/images/bg_box_headline.gif);
	background-repeat: repeat-x;*/
	height: 22px;
	line-height: 22px;
/*	font-weight: bold;
*/	font-size: 14px;
/*	color: #666;
*/	padding: 0 0 0 8px;
}
.ext_box .txt { 
	padding: 14px 8px 14px 8px; 
}


.ext_box .navo, .blogbox .navo{
	float:right;
	padding-right:5px;
}

.ext_box .navor, .blogbox .navor{
	width: 165px;
	float: right;
	padding: 2px 10px 0 0;
}

.ext_box .navol, .blogbox .navol{

	/*width: 260px;*/
}

.ext_box .bbottom, .blogbox .bbottom{
	background-image:url(http://images.spox.com/images/objektboxen/suchergebniss/bottom.gif);
	background-repeat:repeat-x;
	height:22px;
	line-height:22px;
	padding:4px 10px 0px 0px;
}
.ext_box .button_t1 {
/*	float:left;
	padding:0px 0px 0px 3px;
	margin-right:10px;
	background:url(http://images.spox.com/images/buttons/t1/left.gif) top left no-repeat;*/


}
.ext_box .button_t1_1 {
/*	float:left;
	padding:0px 0px 0px 3px;
	margin-left:-10px;
	background:url(http://images.spox.com/images/buttons/t1/left.gif) top left no-repeat;*/
}

.ext_button_t1 a,
.ext_box .button_t1 a,
.ext_box .button_t1_1 a {
/*	display:block;
	padding:1px 6px 3px 3px;
	font-size:12px;
	text-decoration:none;
	background: url(http://images.spox.com/images/buttons/t1/right.gif) top right no-repeat;
	color:#fff;
	line-height:12px;*/

	display: inline-block;
	padding: 2px 14px;
	border: 1px solid #b5b5b5;
	border-radius: 3px;
	background: linear-gradient(to bottom, #fcfcfc 0%, #dadada 100%);
	color: #535353;
	font-size: 10px;
	text-transform: uppercase;
	text-decoration: none;

}

.ext_button_t1 {
/*	float:left;
	padding:0px 0px 0px 3px;
	margin-right:10px;
	background:url(http://images.spox.com/images/buttons/t1/left.gif) top left no-repeat;*/
}



#li_flush2 .ext_button_t1 a:link, #li_flush2 .ext_button_t1 a:visited, #li_flush2 .ext_button_t1 a:hover, #li_flush2 .ext_button_t1 a:active{
/*	display:block;
	padding:1px 6px 3px 3px;
	font-size:12px;
	text-decoration:none;
	background: url(http://images.spox.com/images/buttons/t1/right.gif) top right no-repeat;
	color:#fff;*/
}

.ext_button_t1 a:link, .ext_button_t1 a:visited, .ext_button_t1 a:hover,.ext_button_t1 a:active{
/*	display:block;
	padding:1px 6px 3px 3px;
	font-size:12px;
	text-decoration:none;
	background: url(http://images.spox.com/images/buttons/t1/right.gif) top right no-repeat;
	color:#fff;*/
}

/* Input Links / Rechts */

.ext_box .input_l, .ext_box .input_l2, .ext_box .input_l3
{
	font-size: 12px;
	width: 100px;
	font-weight: bold;
	float: left;
	margin: 0 0 2px 0;
	padding: 3px 0 0 0;
}

		.ext_box .input_l2
		{
			font-size: 12px;
			font-weight: normal;
			width: 240px;
			margin: 0 20px 2px 0;
		}

		.ext_box .input_l3
		{
			width: 30px;
		}

.ext_box .input_r
{
	font-size: 12px;
	width: 170px;
	float: left;
	margin: 0 0 2px 0;
}

		.ext_box .input_r input, .ext_box .input_r select
		{
			font-size: 12px;
			padding: 2px;
		}

		.ext_box .input_r input
		{
			width: 156px;
		}

.ext_box .login_helptext {
	font-size:12px;
}

.ext_box .errdiv {
	color:#B73A18;
	font-size:12px;
	font-style:italic;
	height:10px;
	line-height:10px;
	margin:0pt 0pt 2px;
}

.ext_box .clear {
	clear:both;
}


.ext_box .tabs
{
	background: url(../images/bg_tab.gif) repeat-x;
	height: 15px;
	overflow: hidden;
	border-bottom: 1px solid #5f6282;
}

		.ext_box .tabs .on, .ext_box .tabs .off
		{
			display: block;
			float: right;
			height: 15px;
			line-height: 15px;
			padding: 0 20px 0 30px;
			font-size: 12px;
			text-decoration: none;
			margin-left: -20px;
		}

		.ext_box .tabs .on
		{
			color: #ffffff;
			background: url(http://images.spox.com/images/bt_tab_on.gif) right repeat-x;
		}
		.ext_box .tabs .off
		{
			color: #fcfbfa;
			background: url(http://images.spox.com/images/bt_tab_off.gif) right repeat-x;
		}
		
		.ext_box .tabs .holder
		{
			background-color: red;
		}

/* reg_user_navi */

.navi_reg_user {
	font-size:12px;
	padding-left:30px;
}

.navi_reg_user div.clear {
	width: 0px;
	height: 0px;
	font-size: 0px;
	line-height: 0px;
}

.navi_reg_user a:link, .navi_reg_user a:visited,.navi_reg_user a:hover, .navi_reg_user a:active {
		line-height: 18px;
		text-decoration: none;
		display: block;
		float: left;
}

.navi_reg_user .blog {
		background: url(http://images.spox.com/images/icons/user_navi/blog.gif) bottom right no-repeat;
		width: 20px;
		height: 15px;
		margin-right: 10px;
}

.navi_reg_user .video {
		background: url(http://images.spox.com/images/icons/user_navi/video.gif) bottom right no-repeat;
		width: 20px;
		height: 15px;
		margin-right: 10px;
}

.navi_reg_user .foto {
		background: url(http://images.spox.com/images/icons/user_navi/foto.gif) bottom right no-repeat;
		width: 20px;
		height: 15px;
		margin-right: 10px;
}

.navi_reg_user .gruppe {
		background: url(http://images.spox.com/images/icons/user_navi/gruppe.gif) bottom right no-repeat;
		width: 20px;
		height: 15px;
		margin-right: 10px;
}

.navi_reg_user .profil {
		background: url(http://images.spox.com/images/icons/user_navi/profil.gif) bottom right no-repeat;
		width: 20px;
		height: 15px;
		margin-right: 10px;
}

.ext_box .event_nc {
	float:left;
	width:20px;
	cursor:pointer;
	line-height:13px;
	font-size:12px;
	background: url(http://images.spox.com/images/icons/user_navi/nachrichtencenter.gif) top left no-repeat;
	padding-left:17px;
}

.ext_box .o2ochat {
	float:left;
	width:30px;
	height:14px;
	background: url(http://images.spox.com/images/icons/user_navi/chat.gif) top center no-repeat;
}

.ext_box .o2ochat_active {
	float:left;
	width:30px;
	height:14px;
	cursor:pointer;
	background: url(http://images.spox.com/images/icons/user_navi/chat_active.gif) top center no-repeat;
}

/* MOVER DESIGN */

.rel
{
	overflow: hidden;
	width: 455px;
}

/* VIDEOS - FOTOS */
.ext_box .videoimage, .ext_box .fotoimage{width:76px; height:76px;}
.ext_box .videoname,.ext_box .fotoname {width: 76px; height: 24px; overflow: hidden;text-align:left; font-size: 12px;}
.ext_box .videolink,.ext_box .fotolink {float:left;font-weight: normal;font-size: 12px; padding: 0px 7px; width: 76px; }
.ext_box .videolink a,.ext_box .fotolink a { color: #3b3c49; }
.ext_box .rel .videolink a,.ext_box .fotolink a: { font-size: 12px; }
.ext_box .videodetails {background: url(grafiken/buttons/button_details.gif) 43px 5px no-repeat;padding-top:5px;}
.ext_box .nvli, .ext_box .nfli {float:left; width: 80px; height:100px;}

/* USER */
.ext_box .nuli {float:left; width: 36px; padding: 0px 7px;}
.ext_box .nuli2 {float:left; width: 36px; padding: 0px 5px;}
.ext_box .nuli3 {float:left; padding-right: 10px;}

/* SLIDER */

.ext_box .util_slider {  }

		.ext_box .util_slider .l { background: url(../images/bg_slider_l.gif) no-repeat; height: 13px; width: 7px; float: left; }
		.ext_box .util_slider .m { background: url(../images/bg_slider_m.gif) repeat-x; height: 13px; }
		.ext_box .util_slider .r { background: url(../images/bg_slider_r.gif) no-repeat; height: 13px; width: 7px; float: right; }
		
		.ext_box .util_slider .infobox
		{
			height: 40px;
			
			background-color: #DDDDDD;
			text-align: center;
			font-weight: bold;
			line-height: 40px;
			-moz-opacity:0.7;
			filter:alpha(opacity=70);
			opacity:.7;
			/*display: none;*/
			visibility: hidden;
			font-size: 12px;
		}
		
		.ext_box .util_slider .bar
		{
			background: url(../images/bt_slider.gif) no-repeat;
			height: 13px;
			width: 21px;
			margin-top: -13px;
			cursor: pointer;
			cursor: hand;
			z-index:2;
			position: absolute;
		}
		
		* html .ext_box .util_slider .bar { margin-top: -15px; }

		/* Slider */

		.ext_box .util_slider .infoboxpos
		{
			height: 40px;
			margin-top: -40px;
		}
		
		* html .ext_box .util_slider .infoboxpos
		{
			position: absolute;
		}
		
		/* IE 7 Hack*/
		
		*+html .ext_box .util_slider .infoboxpos
		{		
			height: 40px;
			margin-top: -40px;
			position: absolute;
			width: 473px;
		}
		
		* html .ext_box .util_slider .infobox
		{
			margin-right: 2px;
		}
		
/* Hack um den 3Pixel Bug zu umgehen! */
/* Hide from IE5-mac. Only IE-win sees this. \*/
* html .ext_box .util_slider .l {
margin-right: -3px;
}
* html .ext_box .util_slider .r {
margin-left: -3px;
}
/* End hide from IE5/mac */


/* FIXES */
* html .ext_box .nuli,* html .ext_box .nuli2,* html .ext_box .videolink,* html .ext_box .fotolink { padding: 0px 5px; }

.ext_box .groupboxpreviewline, .ext_box .blogboxpreviewline { float:left;width:130px;margin-right:10px;	overflow:hidden;white-space:nowrap; font-size: 12px; }

/* stats */

.ext_stats a {color: black; text-decoration: none;}
.ext_stats .clear {
	height: 10px;
}

.ext_stats span {
	line-height: 25px;
}

.ext_stats .user-online {
	padding-left: 25px;
	background: url(../images/icons/icon_user-online.gif) 0px -2px no-repeat;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
}

.ext_stats .mitglieder {
    padding-left: 15px;
	background: url(../images/icons/icon_user.gif) 0px 0px no-repeat;
	font-size: 12px;
	text-transform: uppercase;
}

.ext_stats .fotos {
    padding-left: 20px;
	background: url(../images/icons/icon_fotos.gif) 0px 3px no-repeat;
	font-size: 12px;
/*	font-weight: bold;
*/	text-transform: uppercase;
}

.ext_stats .videos {
    padding-left: 20px;
	background: url(../images/icons/icon_videos.gif) 0px 3px no-repeat;
	font-size: 15px;
/*	font-weight: bold;
*/	text-transform: uppercase;
}

.ext_stats .blogs {
    padding-left: 20px;
	background: url(../images/icons/icon_blog.gif) 0px 3px no-repeat;
	font-size: 15px;
/*	font-weight: bold;
*/	text-transform: uppercase;
}

.ext_stats .gruppen {
    padding-left: 20px;
	background: url(../images/icons/icon_groups.gif) 0px 0px no-repeat;
	font-size: 12px;
/*	font-weight: bold;
*/	text-transform: uppercase;
}

.ext_stats .kommentare {
    padding-left: 20px;
	background: url(../images/icons/icon_kommentare.gif) 0px 3px no-repeat;
	font-size: 16px;
/*	font-weight: bold;
*/	text-transform: uppercase;
}

.ext_red {color:red; font-size:12px;}
.ext_inp {font-size:12px;}

.ext_box_comment_lt
{
	background-image: url(../images/bg_comment_lt.gif);
	background-repeat: no-repeat;
	min-height: 67px;
	height: auto !important;
	height: 67px;
	padding: 4px 0 0 24px;
	margin: 0 4px 0 0;
	font-size: 12px;
	text-align:left;
}

	.ext_box_comment_lt .datum { color: #555363; }
	.ext_box_comment_lt .user { color: #61606d; font-weight: bold; }

.ext_box_comment_rt
{
	background-image: url(../images/bg_comment_rt.gif);
	background-repeat: no-repeat;
	background-position: right 0px;
}

.ext_box_comment_lb
{
	background-image: url(../images/bg_comment_lb.gif);
	background-repeat: no-repeat;
	height: 5px;
	padding: 0 0 0 24px;
	margin: 0 4px 10px 0;
}

* html .ext_box_comment_lb { margin: 0 4px 0 0; }

.ext_box_comment_rb
{
	background-image: url(../images/bg_comment_rb.gif);
	background-repeat: no-repeat;
	height: 5px;
	width: 6px;
	float: right;
}

* .ext_box_comment_rb { margin-left: -6px; }
.ext_clear {clear:both}

.ext_pselect_small
{
	background-image: url(../images/buttons/pselect_m.gif);
	background-repeat: repeat-x;
	height: 17px;
	float: right;
}
.ext_pselect_small *
{
	text-decoration: none;
	font-size: 12px;
	line-height: 17px;
	font-weight: normal;
}
.ext_pselect_small .bw
{
	background-image: url(../images/buttons/pselect_bw.gif);
	background-repeat: no-repeat;
	height: 17px;
	width: 23px;
	display: block;
	float: left;
	margin-right: 4px;
}
.ext_pselect_small .fw
{
	background-image: url(../images/buttons/pselect_fw.gif);
	background-repeat: no-repeat;
	height: 17px;
	width: 23px;
	display: block;
	float: left;
	margin-left: 4px;
}
.ext_pselect_small .anvn
{
	color: #7f7f7f;
	height: 17px;
	display: block;
	float: left;
	padding: 1px 2px 0 2px;
}
.ext_pselect_small .anva
{
	background-color: #7f7f7f;
	color: #ffffff;
	height: 11px;
	display: block;
	float: left;
	padding: 1px 2px 0 2px;
	margin: 3px 0 3px 0;
	line-height: 11px;
}
.ext_pselect_small .anvse
{
	color: #7f7f7f;
	height: 17px;
	display: block;
	float: left;
	padding: 1px 2px 0 2px;
}

/* Fixes */
.nob {
	border: 0 !important;
}


.ext_box_comment_mod {
	margin: 10px;
}


.ext_box_pwv_content {

	font-weight:normal;
	font-size: 12px;
	padding: 10px 0px 20px 20px !important
}

.pvw_ext_help_text {
	padding: 0 0 10px 0;
}


