/* NBA style overrides
 * darkblue: #0a3665
 * blue    : #22599a
 */


body {
  background-color: #0a3665;
}

/* override global */
.label, .linkdat::before {border-color: #22599a; color: #22599a;}

.arrnav .ctrl.act {background-image: url(/pub/pic/nba/icons/left-24-nba.svg);}

.grpTop .sep {
  border-color: #22599a;
}
.cntcomments span {
  color: #22599a; 
}
.afm16 .nav {
  background-color: rgba(34,89,154,0.75);
}
.afm16 .nav .itm {
  border-color: #0a3665;
}
.afm16 .nav .itm.sel {
  background-color: #0a3665;
}
.afm16 .nav .itm .arr {
  border-right-color: #0a3665;
}
.afm16 .nav .itm.n7 .arr {
  border-bottom-color: #0a3665;
}


.conTTBildG .topline,
.conTTBildGG .topline,
.conTTBildK .topline,
.conLart .body .itm .topline {
  color: #22599a;
}

/* Trend / Voting */
.trnd .submit.plain .trndBut {
  background-color: #22599a;
}
/* Live-Tweet (twitterbox) */
.conTweet .twtTitle {
  color: #22599a;
}
/* Top5 */
.top5 .itm .num { 
  background: url("/pub/pic/nba/top10num.png") no-repeat scroll 0 0 transparent;
}
.top5 .itm .num2 { background-position: 0 -54px; }
.top5 .itm .num3 { background-position: 0 -108px; }
.top5 .itm .num4 { background-position: 0 -162px; }
.top5 .itm .num5 { background-position: 0 -216px; }

.top5 .sel .num1 {background-position: -39px  0;}
.top5 .sel .num2 {background-position: -39px -54px;}
.top5 .sel .num3 {background-position: -39px -108px;}
.top5 .sel .num4 {background-position: -39px -162px;}
.top5 .sel .num5 {background-position: -39px -216px;}

/* bulls */
.conTsrCrsl .tccontsmall .bull,
.conMultiReit .rtrBd .rtr .bull,
.conVidReit .rtrBd .itm .bull,
.srchRslts .paging div.bull,
.arrnav div.bull,
.artPnav div.bull {
  background: url(/pub/pic/nba/video-reiter-bulls.png);
}
 
/* override article */
.artCmp .artFacts .head h4 {
  color: #22599a;
}
.artCmp .artFacts .nav .ctrl {
  background: url("/pub/pic/nba/art-facts-nav.png") no-repeat scroll 0 0 transparent; 
}
.artCmp .artFacts .nav .ctrl.next {
  background-position: -16px 0;
}

.art h1 {color: #22599a;}
.art span.ue3 {background-image: url(/pub/pic/nba/link-q-2b6cb7.gif);}
.art p.ue3 {background-image: url(/pub/pic/nba/link-q-2b6cb7.gif);}
.art a.tlink {color: #22599a !important;}
.art .tlink {color: #22599a !important; background: url(/pub/pic/nba/mehr-neu-2b6cb7.gif) no-repeat right center;}
.artDia .prev {background-image: url(/pub/pic/nba/artdia-prevnext-2b6cb7.png);}
.artDia .next {background-image: url(/pub/pic/nba/artdia-prevnext-2b6cb7.png);}
.artDia .diaLnk a {color: #22599a !important; background: url(/pub/pic/nba/mehr-neu-2b6cb7.gif) no-repeat right center;}
.artCmpRltd h4 {color: #22599a;}
.artCmpRltd ul li {background: url(/pub/pic/nba/bolla-2b6cb7.gif) no-repeat 2px 4px;}
#artFoo {border-color: #22599a;}
.art table.taStd,.art table.taStd td {border-color: #22599a;}
.art tr.taHead td {background-color: #22599a;}
.artCmpFakt h4 {color: #22599a;}
.artCmpFakt .bild img{border-color:#22599a;}

#spxcomsocial a {color: #22599a !important; background-image: url(/pub/pic/nba/arrowdown-2b6cb7.png) !important;} 

/* override article related board */
.artRelBrd .itm .cat {
background: linear-gradient(to bottom, #2665ac 0%, #2766ad 40%, #1a4b85 60%, #1c4b83 100%)
}
.artRelBrd .ctrl {
  background: url("/pub/pic/nba/video-reiter-ctrls.png") no-repeat scroll 0 0 transparent;
}

/*override global navigation from NBA*/
#global-nav {
    margin-bottom: 0 !important;
}
#global-nav form {
  display: block !important;
}
#global-nav #edition_wrapper, #global-nav #edition_message {
  font-size: 0.75rem !important;
  text-align: center !important;
}
#global-nav #edition_wrapper {
  height:40px !important;
  line-height:40px !important;
}

#global-nav form input {
  vertical-align: text-bottom;
}

#global-nav.hidden-sm, #global-nav.hidden-sm .collapse {
  display: block !important;
}

@media (orientation: landscape) {
  #global-nav li.dropdown {
    display: block !important;
  }
}