/* NBA style overrides used in pageparts to manage size switches
 */
/* maximum width */
@media (min-width: 992px){
  
}
/* medium width */
@media (max-width: 991px) and (min-width: 768px) {

    
}

/* small width */
@media (max-width: 767px) {
  #spxDxHeader, #spxDxFooter, #frnBannerAd {
    display: none;
  }
  #global-nav {
    margin-bottom: 0px;
  }  
}

/* medium and maximum width */
@media (min-width: 768px) {
  #spxmxheader, .spxnav, #spxmxunderheaderspace, #spxmxfooter {
    display: none;
  }
  
  #spxDxHeader.nl2 { 
    /* The content has to move down below the position
       fixed header. nl2 defines navi level 1 height
     */
    padding-top:237px;
    background-color: transparent;
  }
  
  #frnBannerAd {
    text-align: center;
  }
  
  
  #spxDxHeader #headerfix {
    top: 40px;
  }
  #spxDxHeader.small.nl2 #headerfix { 
    top: -45px;
    z-index: 10001;
  }
  #global-nav {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 42px;
    z-index:10000;
    border-bottom: 2px solid #0a3665; 
  }
  
}

#global-nav #edition_wrapper, #global-nav #edition_message {
  font-size: 12px !important;
  text-align: center !important;
}

#spxDxHeader .logoSpace {
  margin-right: 0;
  min-width:  769px;
}

#spxDxHeader .nav .pgCenterP, #spxDxFooter .pgCenterP { width: 980px; }

#spxDxHeader * {
  font-family: 'Roboto Condensed', Arial ,sans-serif;
}
#spxDxHeader img {
  max-width: initial;
}

#spxDxHeader.small .nav .logoSmall {
  bottom:9px;
}

.itwcmslk {
  display: none;
}

@media (min-width: 1024px)                        {  }
@media (min-width:  992px) and (max-width: 1023px){  }
@media (min-width:  768px) and (max-width: 991px) { #spxDxHeader .nav .itm2 .ct { padding: 0 5px; } #spxDxFooter .pgCenterC, #spxDxFooter .pgCenterP {width: 768px}  }

#spxDxFooter, #spxDxFooter * {
  box-sizing: content-box;
}
#spxDxFooter a:hover {
  text-decoration: none;
}
#spxDxFooter p.mid {
  color: #ffffff;
  font: normal 15px 'Roboto Condensed', Arial ,sans-serif;
}
