@font-face{
	font-family: myFirstFont;
	src: url('../fonts/MyriadPro-Regular.ttf');
	src: url('../fonts/MyriadPro-Regular.ttf?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/MYRIADPROREGULAR.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/MyriadPro-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face{
	font-family: mySecondFont;
	src: url('../fonts/MyriadPro-Semibold.otf');
}
@font-face{
	font-family: myThreeFont;
	src: url('../fonts/MYRIADPRO-BOLD.OTF');
}
@font-face{ 
    font-family: MyFont_IE; 
}