@media only screen and (max-width: 1087px) {
    section.content section.content_right, .main_body.none, .banner_center.intro.none, .link_face, .tooltip div, .menu_top_link{
         display: none;
    }
    #wrapper, #wrapper_inside, section.content section.content_left{
        width: 100%;
    }
    #wrapper{
        padding: 0;
    }
    .croll{
        width: auto;
    }
    .croll img{
        width: 100px;
    }
    footer{
        margin-top: 0;
    }
    .anime_video_note_watch{
       left: 0;
    }
    .ver_anime_spanish{
        float: left;
        width: 100%;
        margin-bottom: 10px;
    }
    .tooltip{
        padding: 0;
        border: 0;
        background-image: none;
    }
    .page_menu_items.show{
        display: block;
    }
    section.banner{
        padding: 12px 16px;
        background-color: #111111;
        border-bottom: solid 1px #303030;
        margin-bottom: 12px;
        min-height: 62px;
    }
    section.banner .banner_left{
        padding: 0;
        margin-left: 58px;
        position: relative;
        z-index: 9999;
    }
    section.banner .banner_right{
        width: 40%;
        position: relative;
        z-index: 9999;
    }
    section.banner .banner_left img {
        max-height: 32px;
    }
    nav.menu_top{
        display: none;
    }
    .form .row{
        margin: 0;
        background-color: #252525;
        border: 0;
    }
    
    nav.menu_top{
        margin-top: 0;
        background-color: #111111;
        position: fixed !important;
        left: 0;
        top: 0;
        z-index: 9998;
        max-width: 300px;
        width: 100%;
        height: 100%;
        padding-top: 60px;
    }
    nav.menu_top ul{
        overflow-x: auto;
        height: 100%;
        width: 100%;
    }
    nav.menu_top ul li{
        width: 100%;
        background-image: url(../img/bg/nav_menu/na_menu.png);
        background-repeat: repeat-x;
        background-position: left bottom;
        margin: 0;
    }
    nav.menu_top ul li.hide{
        display: block !important;
    }
    nav.menu_top ul li a{
        text-transform: capitalize;
        color: #ffffff;
        display: block;
        padding: 14px 0 14px 62px;
        white-space: nowrap;
        background-repeat: no-repeat;
        background-position: 16px center;
        background-size: 26px;
        font-size: 13px;
    }
    nav.menu_top ul li a:hover, nav.menu_top ul li.active, nav.menu_top ul li.active a{
        border: 0;
    }
    nav.menu_top ul li a.home {
        background-image: url(../img/bg/nav_menu/home.png);
    }
    nav.menu_top ul li a.home:hover, nav.menu_top ul li.active a.home{
    	background-image: url(../img/bg/nav_menu/home-hover.png);
    }
    nav.menu_top ul li a.series{
    	background-image: url(../img/bg/nav_menu/series.png);
    }
    nav.menu_top ul li a.series:hover,  nav.menu_top ul li.active a.series{
    	background-image: url(../img/bg/nav_menu/series-hover.png);
    }
    nav.menu_top ul li a.list{
    	background-image: url(../img/bg/nav_menu/list-anime.png);
    }
    nav.menu_top ul li a.list:hover,  nav.menu_top ul li.active a.list{
    	background-image: url(../img/bg/nav_menu/list-anime-hover.png);
    }
    nav.menu_top ul li a.popular{
    	background-image: url(../img/bg/nav_menu/popu.png);
    }
    nav.menu_top ul li a.popular:hover, nav.menu_top ul li.active a.popular{
    	background-image: url(../img/bg/nav_menu/popu_hover.png);
    }
    nav.menu_top ul li a.movie{
    	background-image: url(../img/bg/nav_menu/movie.png);
    	position:relative;
    }
    nav.menu_top ul li a.movie:hover, nav.menu_top ul li.active a.movie{
    	background-image: url(../img/bg/nav_menu/movie-hover.png);
    	position:relative;
    }
    nav.menu_top ul li a.online{
    	background-image: url(../img/bg/nav_menu/watch-cartoon.png);
    }
    nav.menu_top ul li a.online:hover{
    	background-image: url(../img/bg/nav_menu/watch-cartoon-hover.png);
    }
    nav.menu_top ul li a.manga{
    	background-image: url(../img/bg/nav_menu/read-manga.png);
    }
    nav.menu_top ul li a.manga:hover{
    	background-image: url(../img/bg/nav_menu/read-manga-hover.png);
    }
    nav.menu_top ul li a.drama{
    	background-image: url(../img/bg/nav_menu/watch-drama.png);
    }
    nav.menu_top ul li a.drama:hover{
    	background-image: url(../img/bg/nav_menu/watch-drama-hover.png);
    }
    nav.menu_top ul li a.genre{
    	background-image: url(../img/bg/nav_menu/genre.png);
    }
    
    nav.menu_top ul li ul{padding-left: 62px;}
    nav.menu_top ul li ul li{width: 50%;background-image: none;margin-bottom: 5px;}
    nav.menu_top ul li ul li a{padding: 5px 0 5px 10px; width: 90px; overflow: hidden; max-width: 100%;}
    
    nav.menu_top ul li.user{
        display: block;
        white-space: nowrap;
        overflow: hidden;
        height: 46px;
    }
    nav.menu_top ul li.user a {
        float: left;
       
    }
    nav.menu_top ul li.user{
        background-repeat: no-repeat;
        background-position: 16px center;
        background-image: url(../img/icon-user.png);
    }
    nav.menu_top ul li.user a.fix, nav.menu_top ul li.user a.reg{
        padding: 14px 0 14px 5px;
    }
    .nav_down_up {
        position: absolute;
        top: 38px;
        left: 0;
        z-index: 9999;
        display: none;
        background-color: #000;
        width: 100%;
    }
    .nav_down_up ul {
        padding: 10px 0 10px 62px !important;
    }
    .nav_down_up ul li{
        background-image: none !important;
    }
    .fancybox-close{
        top: 2px !important;
        right: 0px !important;
        background-position: left top;
        background-size: 100% auto !important;
        height: 25px !important;
    }
    .add_ads_items2, .add_ads_items3{
        max-width: 100%;
        max-height: 100%;
        min-height: 260px;
        overflow: hidden;
        margin-top: 0;
    }
    .add_ads2, .add_ads3 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        display: block;
        z-index: 9999;
        background: #000000;
        overflow: hidden;
    }
    .add_ads_items2, .add_ads_items3 {
        position: relative;
        overflow: hidden;
        top: 50%;
     /*   min-width: 300px;
        max-width: 100%;
        min-height: 220px; */
        max-height: 80%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
     /*   padding-bottom: 20px; */
    }
    .add_ads_items_close, .add_ads_items_close2, .add_ads_items_close3{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 99999;
    }
    .title_name{
        width: 100%;
    }
}

@media only screen and (min-width: 1001px) and (max-width: 1087px) {
        ul.items li{
			margin-left: 2%;
			width: 15%;
		}
        ul.items li:nth-child(3n+1),  ul.items li:nth-child(4n+1){
              margin-left: 2%;
		}
        ul.items li:nth-child(6n+1){
		     margin-left: 0;
		}
        .anime_video_body_watch{
            
        }
        .hide_search.show{
            display: none;
        }
         img.logo.hide{
            display: block;
        }
}
@media only screen and (min-width: 800px) and (max-width: 1000px) {
        ul.items li{
			margin-left: 2%;
			width: 18.4%;
		}
        ul.items li:nth-child(3n+1),  ul.items li:nth-child(4n+1){
              margin-left: 2%;
		}
        ul.items li:nth-child(5n+1){
		     margin-left: 0;
		}
       .anime_video_body_watch{
            
        }
        .hide_search.show{
            display: none;
        }
         img.logo.hide{
            display: block;
        }
}
@media only screen and (min-width: 726px) and (max-width: 799px) {
    .hide_search.show{
            display: none;
    }
     img.logo.hide{
            display: block;
        }
}
@media only screen and (min-width: 610px) and (max-width: 725px) {
     ul#episode_related li{
            margin-left: 2%;
            width: 18.4%;
        }
        ul#episode_related li:nth-child(7n+1){
            margin-left: 2%;
        }
        ul#episode_related li:nth-child(5n+1){
            margin-left: 0;
        }
        .hide_search.show{
            display: none;
        }
         img.logo.hide{
            display: block;
        }
    
}
@media only screen and (min-width: 480px) and (max-width: 609px) {
    	ul.items li{
			margin-left: 2%;
			width: 32%;
		}
        ul.items li:nth-child(4n+1){
		      margin-left: 2%;
		}
        ul.items li:nth-child(3n+1){
              margin-left: 0;
		}
        .reportForm .title{
            padding: 10px 20px!important;
        }
        .reportForm #contact-form .row{
            padding: 2px 10px!important;
        }
        .reportForm #contact-form .row.row_btn label, .reportForm #contact-form .row.row_cap label{
            display: none;
        }
        .reportForm label, .reportForm #contact-form select, .reportForm #contact-form textarea{
            width: 100% !important;
            text-align: left!important;
        }
        ul#episode_related li{
            margin-left: 3%;
            width: 22.75%;
        }
        ul#episode_related li:nth-child(7n+1){
            margin-left: 3%;
        }
        ul#episode_related li:nth-child(4n+1){
            margin-left: 0;
        }
        .list_search ul{
            padding-right: 13px;
        }
        .anime_list_body ul li{
            width: 100%;
        }
        .anime_info_body img{
            width: 50%;
            padding-bottom: 5px;
        }
        .hide_search.show{
            display: none;
        }
        img.logo.hide{
            display: block;
        }
        
        .added_series_body ul li{width: 100%;}
}
@media only screen and (max-width: 479px) {
        ul.items li{
			margin-left: 3%;
			width: 48.5%;
		}
        ul.items li:nth-child(2n+1){
              margin-left: 0;
		}
        .croll{
            position: absolute;
            right: 0px;
            top: 16px;
        }
        .anime_video_body_watch_items .play-video{
    		padding: 0;
    		min-height: 260px;
    		background-color: #000;
    	}
        .anime_video_body{
            padding:  16px;
        }
        .anime_video_body_report a{
            background-image: url(../img/report.png);
            background-repeat: no-repeat;
            background-position: center center;
            display: block;
            width: 20px;
            height: 18px;
            text-indent: -9999px;
        }
         .reportForm .title{
            padding: 10px 20px!important;
        }
        .reportForm #contact-form .row{
            padding: 2px 10px!important;
        }
        .reportForm #contact-form .row.row_btn label, .reportForm #contact-form .row.row_cap label{
            display: none;
        }
        .reportForm label, .reportForm #contact-form select, .reportForm #contact-form textarea{
            width: 100% !important;
            text-align: left!important;
        }
        .list_search ul{
            padding-right: 13px;
        }
        section.banner .banner_right{
            width: auto;
            position: absolute;
            right: 16px;
            top: 14px;
        }
        #search-form{
            display: none;
        }
        .form .row{
            float: right;
            width: 160px;
        }
        .search-iph a{
            display: block;
        }
        .page_menu_items.show{
           margin-right: 0;
        }
        section.banner .banner_left{
            margin-left: calc(50% - 41px);
        }
        .thumbnail-recent_search{
            display: none;
        }
        .hide_search.show{
            display: block;
        }
        img.logo.hide{
            display: none;
        }
        .croll .big{
            display: none;
        }
        .croll .small{
            display: block;
        }
        .croll .small img{
            width: 28px;
        }
         .anime_list_body ul li{
            width: 100%;
        }
        .added_series_body ul li{width: 100%;}
        .anime_video_note_watch{text-align: left;}
       
}
@media only screen and (min-width: 360px) and (max-width: 479px) {
    	
        .pagination ul li a{
            padding: 2px 5px;
            margin: 3px 2px;
        }
        .anime_name h2{
            font-size: 13px;
        }
        .anime_name h2 span{
            padding: 0 8px !important;
        }
         ul#episode_related li{
            margin-left: 3%;
            width: 31.333%;
        }
        ul#episode_related li:nth-child(7n+1){
            margin-left: 3%;
        }
        ul#episode_related li:nth-child(3n+1){
            margin-left: 0;
        }
        .anime_info_body img{
            width: 40%;
            padding-bottom: 5px;
        }

}
@media only screen and (min-width: 320px) and (max-width: 359px) {
        .anime_name_pagination.intro, .anime_name_pagination .pagination.intro{
             display: none;
        }
        ul#episode_related li{
            margin-left: 3%;
            width: 31.333%;
        }
        ul#episode_related li:nth-child(7n+1){
            margin-left: 3%;
        }
        ul#episode_related li:nth-child(3n+1){
            margin-left: 0;
        }
        .anime_info_body img{
            width: 35%;
            padding-bottom: 5px;
        }
}
@media only screen and (max-width: 319px) {
     .anime_name_pagination.intro, .anime_name_pagination .pagination.intro{
             display: none;
     }
     ul#episode_related li{
            margin-left: 3%;
            width: 48.5%;
        }
        ul#episode_related li:nth-child(7n+1){
             margin-left: 3%;
        }
        ul#episode_related li:nth-child(2n+1){
            margin-left: 0;
        }
        
         .anime_info_body img{
            width: 100%;
            padding-bottom: 5px;
            padding-right: 0;
        }
}