@charset "utf-8";
* {margin: 0;padding: 0;outline: 0}
html, body {font-size: 13px;color: #ffc119;background-color: #000;margin: 0;padding: 0;font-family: myFirstFont, MyFont_IE, Tahoma, Geneva, sans-serif}
a {text-decoration: none;transition: all 0.3s linear 0s;webkit-transition: all 0.3s linear 0s;moz-transition: all 0.3s linear 0s;o-transition: all 0.3s linear 0s;color: #323e35;font-size: 100%}
h1, h2, h3, h4, h5, h6 {padding: 0;margin: 0;font-size: 14px;color: #ffc119}
a:hover {text-decoration: none}
img {border: 0;margin: 0;padding: 0}
p {margin: 8px 0}
.clr {clear: both}
#wrapper_inside {margin: auto;width: 1088px}
#wrapper {background-color: #1b1b1b;float: left;width: 1088px;padding: 0 20px}
#wrapper_bg {float: left;width: 100%}

/*============= Section alpha =============== */

nav.alpha {background-color: #6d6d6d;float: left;width: 100%}
nav.alpha ul {margin: 0;padding: 0}
nav.alpha ul li {float: left;list-style: none;background-image: url(../img/bg/alpha.png); background-repeat: repeat-y;background-position: right top}
nav.alpha ul li:last-child {background-image: none}
nav.alpha ul li a {color: #fff;padding: 8px 0;display: block;width: 35px;text-align: center}
nav.alpha ul li.all a {width: 50px}
nav.alpha ul li a:hover {background-color: #f6a818}

section.banner {float: left;width: 100%;padding: 12px 0 35px 0px}
section.banner .banner_left {float: left;padding-right: 40px;padding-left: 40px}
section.banner .banner_menu {float: left}
section.banner .banner_right {float: right;width: 300px;}
nav.menu_top {float: left;width: 100%;margin-top: 26px}
nav.menu_top ul {margin: 0;padding: 0;float: left;width: 100%}
nav.menu_top ul li {float: left;list-style: none;margin: 0px 18px}

nav.menu_top ul li a {display: block;color: #fff;padding: 0 0 14px 0px;text-transform: uppercase;font-family: Tahoma, Geneva, sans-serif;font-size: 14px;transition: all 0s linear 0s;webkit-transition: all 0s linear 0s;moz-transition: all 0s linear 0s;o-transition: all 0s linear 0s}
nav.menu_top ul li:last-child a {background-image: none}
nav.menu_top ul li a:hover, nav.menu_top ul li.active a {color: #ffc119;border-bottom: 2px solid #ffc119}
nav.menu_top ul li a {padding-bottom: 3px}

section.content {
    float: left;
    width: 100%;
    margin: 15px 0
}

section.content section.content_left {
    float: left;
    width: 728px
}

section.content section.content_right {
    float: right;
    width: 300px
}

.banner_center {
    margin-bottom: 26px;
    border: 1px solid #a1a1a1;
    max-width: 100%;
    overflow: hidden;
    text-align: center;
}

.banner_center .content_items{text-align: left;}
.banner_center img {width: 100%}

.form {float: left;width: 100%}

.form .row {
    float: left;
    border: 1px solid #a1a1a1;
    margin: 20px 0 0 0;
    background-color: #101010;
    border-radius: 0px;
    width: 100%;
    position: relative;
}

.form .row input[type="text"] {
    border: 0px;
    padding: 0 10px;
    float: left;
    width: 100%;
    background-color: transparent;
    color: #ffc119;
    line-height: 30px;
    height: 30px;
}

.form .row input[type="submit"], .form .row input[type="button"] {
    background-image: url(../img/bg/search.png);
    background-repeat: no-repeat;
    background-position: left 6px;
    height: 30px;
    width: 28px;
    border: 0px;
    float: left;
    cursor: pointer;
    background-color: transparent;
    position: absolute;
    right: 0;
    top: 0;
}

footer {
    padding: 25px 0px;
    color: #959595;
    font-size: 12px;
    float: left;
    width: 100%;
    background-image: url(../img/bg/vien_footer.png);
    background-repeat: no-repeat;
    background-position: center top;
    margin-top: 20px;
    position: relative;
}

.menu_bottom {
    float: left;
    padding: 0 15px
}

.croll {
    float: right;
    padding: 0 15px;
    width: 280px
}

.croll img {
    cursor: pointer
}

.croll img:hover {
}

nav.menu_bottom {
    float: left;
    width: 100%;
    padding: 0
}

nav.menu_bottom ul {
    margin: 0;
    padding: 0
}

nav.menu_bottom ul li {
    float: left;
    list-style: none
}

nav.menu_bottom ul li a {
    color: #fff;
    padding-right: 36px
}

nav.menu_bottom ul li a:hover {
    color: #c2c2c2
}

.copyright {
    padding-top: 10px;
}

nav.menu_series {
    padding: 0
}

nav.menu_series ul {
    padding: 0;
    margin: 0
}

nav.menu_series ul li {
    list-style: none;
    padding: 2px 0
}

nav.menu_series ul li a {
    color: #ffc119;
    text-align: left !important;
    white-space: nowrap;
    overflow: hidden;
    display: block
}

nav.menu_series ul li a:hover {
    color: #fff
}

nav.menu_recent {
    float: left;
    width: 100%
}

nav.menu_recent ul {
    padding: 0;
    margin: 0;
    float: left;
    width: 100%
}

nav.menu_recent ul li {
    list-style: none;
    padding: 16px 0 0 14px;
    float: left;
    text-align: left
}

nav.menu_recent ul li:first-child {
    padding-top: 0
}

nav.menu_recent ul li a {
    color: #ffc119;
    text-align: left
}

nav.menu_recent ul li a:hover {
    color: #fff
}

nav.menu_recent img {
    float: left;
    width: 90px;
    height: 60px;
    padding-right: 14px
}

p.time_2 {
    color: #fdfcfc;
    font-size: 12px
}

.last_episodes {
    float: left;
    padding: 0 16px;
}

.last_episodes_items {
    float: left;
    position: relative;
    margin: 8px 6px;
    width: 165px
}

.last_episodes_items img {
    width: 100%;
    height: 214px
}

.last_episodes .bottom {
    width: 100%;
    font-size: 12px;
    color: #959595;
    text-align: center;
    padding: 6px 0
}

.last_episodes .bottom p {
    margin: 0;
    padding: 0;
    color: #e1e1e1;
    font-size: 12px
}

.last_episodes .bottom p.name {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 13px;
    font-family: mySecondFont;
    height: 34px;
    overflow: hidden
}

.last_episodes_items a {
    display: block;
    color: #ffc119;
    font-size: 14px;
    font-family: mySecondFont
}

.last_episodes_items a:hover {
    color: #fff
}

.last_episodes .left {
    position: absolute;
    left: 44%;
    top: 198px;
    width: 25px;
    height: 14px
}

.last_episodes .left.raw {
    background-image: url(../img/bg/raw.png);
    background-repeat: no-repeat;
    background-position: left top
}

.last_episodes .left.dub {
    background-image: url(../img/bg/dub.png);
    background-repeat: no-repeat;
    background-position: left top
}

.last_episodes .left.sub {
    background-image: url(../img/bg/sub.png);
    background-repeat: no-repeat;
    background-position: left top
}

.last_episodes .right {
    position: absolute;
    right: 4px;
    top: -4px;
    width: 33px;
    font-size: 13px;
    font-family: mySecondFont;
    color: #fff;
    text-align: center;
    padding: 6px 0;
    background-image: url(../img/bg/tap.png);
    background-repeat: no-repeat;
    background-position: right top
}

.last_episodes .right span {
    padding-left: 3px
}

.sldie_popular {
    margin: 14px 14px 6px 10px;
    width: 708px
}

.jcarousel-skin-tango_sikien img {
    width: 165px;
    height: 200px
}

.sldie_popular_items {
    position: relative;
    width: 165px;
    margin-left: 5px
}

.sldie_popular_items .bottom {
    position: absolute;
    left: -5px;
    bottom: 6px;
    width: 100%;
    text-align: center;
    background-image: url(../img/bg/bong_slide.png);
    background-repeat: no-repeat;
    background-position: center center;
    height: 38px;
    width: 174px;
    overflow: hidden;
    z-index: 99999
}

.sldie_popular_items .bottom p {
    margin: 0;
    padding: 0px
}

.sldie_popular_items .bottom p.name {
    padding-top: 4px
}

.sldie_popular_items .bottom p.name a {
    font-family: mySecondFont;
    color: #fff
}

.sldie_popular_items .bottom p.name a:hover {
    color: #f6a818
}

.sldie_popular_items .bottom p.time {
    font-size: 12px;
    color: #fff
}

#chat_group {
    position: fixed;
    right: 10px;
    bottom: 100px;
    width: 250px;
    z-index: 99999
}

#chat_group_name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    background-color: #feaf1d;
    border-bottom: solid 2px #30261d;
    padding: 10px 14px;
    cursor: pointer
}

#chat_group_body {
    min-height: 200px;
    border-left: solid 1px #feaf1d;
    border-right: solid 1px #feaf1d;
    border-bottom: solid 1px #feaf1d;
    background-color: #fff;
    display: none
}

.last_mange_body {
    margin: 16px 16px 0 14px
}

.last_mange_body nav.last_mange ul {
    margin: 0;
    padding: 0
}

.last_mange_body nav.last_mange ul li {
    background-image: url(../img/bg/blue.png);
    background-repeat: no-repeat;
    background-position: left top;
    list-style: none;
    padding: 2px 0 6px 26px;
    margin-bottom: 6px;
    position: relative
}

.last_mange_body nav.last_mange ul li .time {
    position: absolute;
    right: 0;
    top: 0;
    color: #7d7d7d
}

.last_mange_body nav.last_mange ul li.red {
    background-image: url(../img/bg/maga_red.png)
}

.last_mange_body nav.last_mange ul li.yellow {
    background-image: url(../img/bg/maga_yellow.png)
}

.last_mange_body nav.last_mange ul li.blue {
    background-image: url(../img/bg/maga_blue.png)
}

.last_mange_body nav.last_mange ul li.hot span.hot {
    color: #feaf1d;
    font-weight: bold
}

.last_mange_body nav.last_mange ul li.new span.new {
    color: #ee3636;
    font-weight: bold
}

.last_mange_body nav.last_mange ul li a {
    font-size: 12px;
    color: #fff
}

.last_mange_body nav.last_mange ul li a:hover {
    color: #f6a818
}

.last_mange_body nav.last_mange ul li ul li {
    background-image: none;
    padding: 0;
    border: 0;
    margin: 0
}

.last_mange_body nav.last_mange ul li ul li a {
    font-size: 12px;
    color: #898989
}

.last_mange_body nav.last_mange ul li ul li a:hover {
    text-decoration: underline;
    color: #898989
}

.last_mange_body nav.last_mange ul li ul li span {
    color: #898989;
    padding: 0 3px
}

.main_body {
    float: left;
    width: 100%;
    border: 1px solid #a1a1a1;
    margin-bottom: 26px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -mos-box-sizing: border-box
}

.main_body_black {
    float: left;
    width: 100%
}

.anime_name {
    padding: 11px 0 11px 66px;
    background-image: url(../img/bg/boder_black.png);
    background-repeat: repeat-x;
    background-position: left bottom;
    background-color: #ffc119;
    position: relative
}

.anime_name h2 {
    color: #252525;
    font-family: mySecondFont;
    text-transform: uppercase;
    font-size: 14px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    white-space: nowrap
}

.facebooke {
    overflow: hidden
}

.anime_name.ongoing {
    background-image: url(../img/bg/ongoing_bong.png);
    background-repeat: no-repeat;
    background-position: right top
}

.anime_name_img_ongoing {
    background-image: url(../img/bg/ongoing.png);
    background-repeat: no-repeat;
    background-position: center top;
    height: 56px;
    width: 60px;
    position: absolute;
    left: 0px;
    bottom: 0
}

.anime_name.recent_release {
    background-image: url(../img/bg/recent_release_bong.png);
    background-repeat: no-repeat;
    background-position: right top
}

.anime_name_img_recent_release {
    background-image: url(../img/bg/recent_release.png);
    background-repeat: no-repeat;
    background-position: center top;
    height: 56px;
    width: 60px;
    position: absolute;
    left: 0px;
    bottom: 0
}

.anime_name.added_series {
    background-image: url(../img/bg/added_series_bong.png);
    background-repeat: no-repeat;
    background-position: right top
}

.anime_name_img_added_series {
    background-image: url(../img/bg/added_series.png);
    background-repeat: no-repeat;
    background-position: center top;
    height: 56px;
    width: 60px;
    position: absolute;
    left: 0px;
    bottom: 0
}

.anime_name.last_mange {
    background-image: url(../img/bg/last_mange_bong.png);
    background-repeat: no-repeat;
    background-position: right top
}

.anime_name_img_last_mange {
    background-image: url(../img/bg/last_mange.png);
    background-repeat: no-repeat;
    background-position: center top;
    height: 56px;
    width: 60px;
    position: absolute;
    left: 0px;
    bottom: 0
}

.anime_name.comedy {
    background-image: url(../img/bg/comedy_bong.png);
    background-repeat: no-repeat;
    background-position: right top
}

.anime_name_img_comedy {
    background-image: url(../img/bg/comedy.png);
    background-repeat: no-repeat;
    background-position: center top;
    height: 56px;
    width: 60px;
    position: absolute;
    left: 0px;
    bottom: 0
}

.anime_name.anime_list {
    background-image: url(../img/bg/anime_list_bong.png);
    background-repeat: no-repeat;
    background-position: right top
}

.anime_name_img_anime_list {
    background-image: url(../img/bg/anime_list.png);
    background-repeat: no-repeat;
    background-position: center top;
    height: 56px;
    width: 60px;
    position: absolute;
    left: 0px;
    bottom: 0
}

.anime_name.anime_movies {
    background-image: url(../img/bg/anime_movies_bong.png);
    background-repeat: no-repeat;
    background-position: right top
}

.anime_name_img_anime_movies {
    background-image: url(../img/bg/anime_movies.png);
    background-repeat: no-repeat;
    background-position: center top;
    height: 56px;
    width: 60px;
    position: absolute;
    left: 0px;
    bottom: 0
}

.anime_name.new_series {
    background-image: url(../img/bg/new_series_bong.png);
    background-repeat: no-repeat;
    background-position: right top
}

.anime_name_img_new_series {
    background-image: url(../img/bg/new_series.png);
    background-repeat: no-repeat;
    background-position: center top;
    height: 56px;
    width: 60px;
    position: absolute;
    left: 0px;
    bottom: 0
}

.anime_name.anime_info {
    background-image: url(../img/bg/anime_info_bong.png);
    background-repeat: no-repeat;
    background-position: right top
}

.anime_name_img_anime_info {
    background-image: url(../img/bg/anime_info.png);
    background-repeat: no-repeat;
    background-position: center top;
    height: 56px;
    width: 60px;
    position: absolute;
    left: 0px;
    bottom: 0
}

.anime_name.anime_video {
    background-image: url(../img/bg/anime_video_bong.png);
    background-repeat: no-repeat;
    background-position: right top
}

.anime_name_img_anime_video {
    background-image: url(../img/bg/anime_video.png);
    background-repeat: no-repeat;
    background-position: center top;
    height: 56px;
    width: 60px;
    position: absolute;
    left: 0px;
    bottom: 0
}

.comedy_body {
    float: left;
    margin: 10px 0 0 14px
}

.comedy_body_items {
    float: left;
    width: 100px;
    text-align: center;
    margin: 8px
}

.comedy_body_items img {
    height: 100px;
    width: 100%
}

.comedy_body_items .bottom p.name a {
    color: #ffc119;
    font-size: 12px
}

.comedy_body_items .bottom p.name {
    height: 14px;
    overflow: hidden
}

.comedy_body_items .bottom p.name a:hover {
    color: #fff
}

.added_series_body {
    float: left;
    width: 100%;
    padding: 20px 0
}

.added_series_body ul {
    margin: 0;
    padding: 0
}

.added_series_body ul li {
    float: left;
    list-style: none;
    width: 50%;
    padding: 5px 0;
    overflow: hidden;
}

.added_series_body ul li.even {
    border-right: solid 1px #555
}

.added_series_body ul li a {
    font-size: 13px;
    color: #ffc119;
    white-space: nowrap;
    overflow: hidden
}

.added_series_body ul li a:hover {
    color: #fff
}

.anime_name_pagination {
    position: absolute;
    right: 0px;
    top: 0px
}

.pagination {
    padding: 6px 0;
    float: right;
    margin-right: 14px
}

.pagination ul {
    margin: 0;
    padding: 0
}

.pagination ul li {
    float: left;
    list-style: none
}

.pagination ul li a {
    display: block;
    padding: 3px 8px;
    margin: 2px;
    font-size: 12px;
    color: #000
}

.pagination ul li a:hover, .pagination ul li.selected a {
    background-color: #00a651;
    color: #fff
}

.pagination ul li.hidden {
    display: none
}

.anime_list_body {
    float: left;
    padding: 20px 18px
}

.anime_list_body .list_title {
    color: #ffc119;
    border: solid 1px #ffc119;
    width: 26px;
    text-align: center;
    border-radius: 13px;
    padding: 4px 0;
    margin: 5px 0
}

.anime_list_body ul {
    margin: 0;
    padding: 0
}

.anime_list_body ul li {
    list-style: none;
    float: left;
    width: 50%;
    padding: 3px 0
}

.anime_list_body ul li a {
    color: #fff
}

.anime_list_body ul li a:hover {
    color: #ffc119
}


.anime_movies_items {
    float: left;
    position: relative;
    margin: 8px 6px;
    width: 165px
}

.anime_movies_items img {
    width: 100%;
    height: 214px
}

.anime_movies_items .bottom p.name {
    margin: 0;
    padding: 0;
    color: #fff;
    height: 34px;
    overflow: hidden
}

.anime_movies_items .bottom p.released {
    color: #fff;
    font-size: 12px
}

.anime_movies_items a {
    display: block;
    color: #ffc119;
    font-weight: normal !important
}

.anime_movies_items a:hover {
    color: #fff
}

.anime_info_body {
    margin: 0 20px
}

.anime_info_body_bg {
    float: left;
    width: 100%;
    margin: 20px 0
}

.anime_info_body img {
    float: left;
    width: 320px;
    padding-right: 15px
}

.anime_info_body h1, .anime_info_body h2 {
    text-transform: uppercase
}

.anime_info_body p.type {
    font-size: 12px;
    color: #fff
}

.anime_info_body p.type span {
    color: #00a651
}

.anime_info_episodes h2 {
    border-bottom: solid 1px #000;
    margin-bottom: 10px;
    padding-bottom: 5px
}

.anime_info_episodes_next {
}

.anime_info_episodes_next ul {
    padding-bottom: 10px
}

.anime_info_episodes_next ul li {
    list-style: none;
    padding: 4px 0;
    position: relative
}

.anime_info_episodes_next ul li a {
    color: #fff;
    font-size: 14px
}

.anime_info_episodes_next ul li a:hover {
    color: #ffc119
}

.go_time {
    position: absolute;
    right: 0;
    top: 0;
    color: #898989
}

.anime_video_body {
    padding: 20px
}

.anime_video_body_cate, .anime_video_body_cate a {
    font-size: 12px;
    color: #ffc119;
    padding-top: 5px;
    position: relative
}

.anime_video_body_cate a:hover {
    color: #fff
}

.anime_video_note_watch {
   position: relative;
   text-align: center;
}

.anime_video_body_report {
    position: absolute;
    right: 0;
    bottom: 0px
}

.anime_video_body_report a {
    color: #00a651
}

.anime_video_body_cate span {
    color: #fff
}

.anime_video_body_watch {
    margin: 20px 0
}

.anime_video_body_episodes {
    float: left;
    width: 100%
}

.anime_video_body_episodes a {
    color: #ffc119
}

.anime_video_body_episodes a:hover {
    color: #fff
}

.anime_video_body_episodes_l {
    float: left;
    width: 50%
}

.anime_video_body_episodes_r {
    float: right;
    width: 50%;
    text-align: right
}

.anime_video_body_comment_name {
    color: #00a651;
    font-size: 18px;
    padding: 15px 0
}

.anime_video_body_watch_items {
    margin: 10px 0
}

#msg_eror {
    color: red
}

.anime_name.adsverting {
    background-image: url(../img/bg/adverting_bong.png);
    background-repeat: no-repeat;
    background-position: right top
}

.anime_name_img_adsverting {
    background-image: url(../img/bg/adverting.png);
    background-repeat: no-repeat;
    background-position: center top;
    height: 56px;
    width: 60px;
    position: absolute;
    left: 0px;
    bottom: 0
}

.banner_items {
    overflow: hidden
}

span.child, fancybox-title.fancybox-title-float-wrap {
    display: none !important
}

#selectQuality {
    background-color: #ffc119;
    color: #fff;
    border: 0 none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 2px 20px 2px 10px;
    background: url(../img/bg/select.png) no-repeat right #ffc119;
    outline: 0
}

select#selectQuality::-ms-expand {
    display: none
}

#selectQuality select option {
    border: 0 none;
    outline: 0
}

.anime_video_body_watch_items {
    position: relative
}

.add_ads {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-image: url(../img/bg/bong.png);
    background-repeat: repeat
}

.add_ads2, .add_ads3 {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background: #000
}

.add_ads_items_close, .add_ads_items_close2, .add_ads_items_close3 {
    /* background-color: #7b7c6f;
    text-align: center;
    color: #000;
    padding: 4px 0;
    cursor: pointer;
    font-weight: 600;
    z-index: 99999;  */

    font-family: Arial;
    font-size: 12px;
    cursor: pointer;
    z-index: 99999;
    text-align: center;
    color: #FFFFFF;
    background: #5B5B5B;
    cursor: pointer;
    height: 20px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    width: 300px;
    display: block;
}

.add_ads_items {
    width: 300px;
    margin: auto;
    margin-top: 8%;
    background-color: #000
}

.add_ads_items2, .add_ads_items3 {
    width: 300px;
    margin: auto;
    margin-top: 8%;
    background-color: #000;
    max-width: 100%;
}

.anime_name.episode_video {
    background-image: url(../img/bg/episode_bong.png);
    background-repeat: no-repeat;
    background-position: right top
}

.anime_name_img_episode_video {
    background-image: url(../img/bg/episode.png);
    background-repeat: no-repeat;
    background-position: center top;
    height: 56px;
    width: 60px;
    position: absolute;
    left: 0px;
    top: -17px
}

.banner_info {
    background-color: #000;
    max-width: 100%;
    overflow: hidden;
}

ul#episode_related {
}

ul#episode_related li {
    position: relative;
    list-style: none;
    float: left;
    margin: 5px 0;
    margin-left: 1.5%;
    width: 13%;
}

ul#episode_related li:nth-child(7n+1) {
    margin-left: 0
}

ul#episode_related li a {
    color: #fff;
    display: block;
    background-color: #363636;
    width: 100%;
    float: left;
    padding: 0 8px;
}

ul#episode_related li a:hover {
    transition: all 0s linear 0s;
    webkit-transition: all 0s linear 0s;
    moz-transition: all 0s linear 0s;
    o-transition: all 0s linear 0s;
    background-color: #ffc119
}

ul#episode_related li a.active {
    background-color: #ffc119
}

ul#episode_related li a div.vien {
    background-image: url(../img/bg/vien_episode.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 1px;
    height: 30px;
    float: left
}

ul#episode_related li a div.name {
    float: left;
    padding: 8px 0;
    width: 60%;
    font-size: 12px;
}

ul#episode_related li a div.cate {
    float: right;
    color: #737373;
    padding: 8px 0;
    font-size: 12px;
}

.type a {
    color: #fff
}

.type a:hover {
    color: #ffc119
}

ul#episode_page {
    margin-bottom: 12px;
    float: left
}

ul#episode_page li {
    list-style: none;
    float: left;
    padding-right: 18px
}

ul#episode_page li a {
    color: #ffc119
}

ul#episode_page li a:hover, ul#episode_page li a.active {
    text-decoration: underline
}

#load_iframe_video {
}

.ads_iframe {
    height: 100%;
    background-color: #000;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url(../img/bg/watch_btn.png);
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    z-index: 2
}

.ads_iframe_hd {
    background-image: url(../img/bg/hd.png);
    background-repeat: no-repeat;
    background-position: right top;
    height: 24px;
    width: 42px;
    margin-top: 28px;
    float: right;
    margin-right: 28px
}

.thumbnail-recent {
    width: 90px;
    height: 60px;
    background-size: 100% auto !important;
    background-position: center center;
    background-repeat: repeat !important;
    float: left;
    margin-right: 16px
}

.form {
    position: relative
}

#header_search_autocomplete {
    position: absolute;
    right: 0;
    top: 51px;
    z-index: 100;
    width: 100%
}

#header_search_autocomplete_body {
    border: 1px solid #a1a1a1;
    width: 100%;
    padding: 5px 10px;
    background-color: #1b1b1b;
    float: left;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -mos-box-sizing: border-box
}

.list_search_ajax {
    float: left;
    width: 100%;
    margin: 5px 0
}

.list_search_ajax a {
    color: #ffc119;
    display: block;
    float: left;
    width: 100%;
    font-size: 12px
}

.list_search_ajax a:hover {
    color: #fff
}

.list_search_ajax.focused, .list_search_ajax.focused a, .list_search_ajax a:focus {
    color: #fff
}

.thumbnail-recent_search {
    width: 30px;
    height: 34px;
    background-size: 100% auto !important;
    background-position: center center;
    background-repeat: repeat !important;
    float: left;
    margin-right: 10px
}

.list_search ul {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    margin-left: 13px;
}

.list_search ul li {
    float: left;
    list-style: none;
}

.list_search ul li a {
    color: #FFF;
    display: block;
    width: 25px;
    padding: 4px 0;
    text-align: center;
}

.list_search ul li a:hover {
    background-color: #00a651;
}

.list_search ul li a.active {
    color: #ffc119;
}

.tooltip {
    border: solid 1px #949494;
    padding: 12px;
    background-image: url(../img/bg/tooltip.png);
    background-repeat: repeat;
}

.tooltip .thumnail_tool {
    width: 160px;
    background-size: 100% auto !important;
    background-position: center center;
    background-repeat: repeat !important;
    position: relative;
    margin-right: 12px;
    float: left;
    max-height: 224px;
    overflow: hidden;
}

.tooltip .thumnail_tool img {
    width: 100%;
}

.thumnail_tool_right {
    float: left;
}

a.bigChar {
    color: #ffc119;
    font-size: 14px;
}

.tooltip p {
    padding: 0;
    margin: 4px 0;
}

.tooltip p.type {
    color: #898989;
    font-size: 12px;
}

.tooltip p.type span, .tooltip p.sumer span {
    color: #00a651;
    font-size: 12px;
}

p.sumer {
    max-height: 142px;
    overflow: hidden;
    font-size: 12px;
    line-height: 18px;
    color: #898989;
}

.hide {
    display: none;
}

.thumbnail-popular {
    width: 90px;
    height: 90px;
    background-size: 100% auto !important;
    background-position: center center;
    background-repeat: repeat !important;
    float: left;
    margin-right: 16px;
    margin-left: 18px;
}

.thumbnail-recent_home {
    width: 165px;
    height: 214px;
    background-size: 100% auto !important;
    background-position: center center;
    background-repeat: repeat !important;
}

.added_series_body.popular ul li {
    float: left;
    overflow: visible;
    height: auto;
    padding: 10px 0;
}

.added_series_body.popular ul li a {
    padding-left: 0;
    white-space: normal;
    padding-bottom: 10px;
}

.added_series_body.popular ul li p {
    padding: 0;
    margin: 0;
    color: #898989;
}

.added_series_body.popular ul li p a {
    color: #ffffff;
}

.added_series_body.popular ul li p a:hover {
    color: #ffc119;
}

.added_series_body.popular ul li p.genres {
    padding-top: 12px;
}

.added_series_body.popular ul li p.genres a {
    color: #898989;
}

.added_series_body.popular ul li p.genres a:hover {
    color: #ffffff;
}

.link_face {
    position: absolute;
    right: 20px;
    top: 7px;
    text-align: right;
}

.link_face a {
    display: block;
    width: 24px;
    height: 24px;
    float: right;
    background-image: url(../img/bg/share_link_2.png);
    background-repeat: no-repeat;
}

.link_face a:hover {
    /*
    opacity: 0.5;
    filter:Alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    -webkit-opacity: 0.5;
    -mos-opacity: 0.5;
    */
}

.link_face a.twitter {
    margin: 0 8px;
    background-position: center top;
}

.link_face a.twitter:hover {
    background-position: center -24px;
}

.link_face a.facebook {
    background-position: left top;
}

.link_face a.facebook:hover {
    background-position: left -24px;
}

.link_face a.google {
    background-position: right top;
}

.link_face a.google:hover {
    background-position: right -24px;
}

.title_name {
    white-space: nowrap;
    overflow: hidden;
    width: 546px;
}

.anime_name.anime_video {
    position: relative;
}

nav.menu_series.right ul {
    padding: 9px 0;
    float: left;
    width: 100%;
}

nav.menu_series.right ul li {
    float: left;
    width: 50%;
    padding: 4px 14px;
}

nav.menu_series.right ul li a {
    font-size: 13px;
}

nav.menu_series.cron {
    padding-left: 14px;
}

nav.menu_series.right ul li.even, nav.menu_series.right ul li:nth-child(2n+1) {
    border-right: solid 1px #555555;
}

nav.menu_series.right ul li.oven a {
    padding-left: 20px;
}

.anime_name.genre {
    background-image: url(../img/bg/genre_bong.png);
    background-repeat: no-repeat;
    background-position: right top;
}

.anime_name_img_genre {
    background-image: url(../img/bg/genres.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 56px;
    width: 60px;
    position: absolute;
    left: 0px;
    bottom: 0;
}

#left-side-ads {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 160px;
    line-height: 0px;
    margin: 0px;
    padding: 0px;
}

#right-side-ads {
    position: fixed;
    right: 0px;
    top: 0px;
    width: 160px;
    line-height: 0px;
    margin: 0px;
    padding: 0px;
}

.menu_top_link {
    float: left;
    text-align: right;
    padding-top: 10px;
    padding-right: 63px;
    width: 100%;
}

.menu_top_link a {
    color: #a1a1a1;
    padding-left: 1px;
    font-size: 12px;
}

.menu_top_link a:hover {
    color: #ffc119;
}

.form .row input[type="text"]::-webkit-input-placeholder, .form .row input[type="text"]:-moz-placeholder, .form .row input[type="text"]::-moz-placeholder, .form .row input[type="text"]:-ms-input-placeholder {
    color: #a1a1a1;
}

.submenu_intro, .link_face.intro {
    float: right;
}

.submenu_intro {
    margin-top: 2px;
}

.link_face.intro {
    position: inherit;
    right: auto;
    top: auto;
    margin-left: 10px;
}

.menu_top_link {
    padding-right: 0;
}

.link_face.intro a {
    display: block;
    height: 20px;
    float: right;
    background-image: url(../img/bg/share_link_3.png);
    background-repeat: no-repeat;
}

.link_face.intro a.twitter {
    margin: 0 2px;
}

.menu_top_link a.mobile {
    background-image: url(../img/bg/icon_mobile.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding: 5px 12px 5px 22px;
}

.btndownload {
    background: #ffc119;
    color: #FFFFFF;
    display: inline-block;
    line-height: 16px;
    padding: 0 8px 0 30px;
    height: 25px;
    line-height: 25px;
}

.clearfix {
    clear: both;
}

.anime-info {
    padding-top: 5px;
    padding-bottom: 2px;
}

.ver_anime_spanish {
    float: right;
}

.ver_anime_spanish a {
    color: #ffc119;
    font-size: 14px;
}

.download-anime {
    padding-top: 15px;
    position: relative;
}

.fixclass {
    position: fixed;
    top: 10px;
}

a.dub {
    color: #252525;
}

a.dub:hover, a.dub.active {
    color: #FFF;
}

.menu_bottom a {
    color: #959595;
    padding-right: 10px;
}

.menu_bottom a:hover {
    color: #ffc119;
}

.content_privacy a {
    color: #ffc119;
}

.form-contact, .form-contact a, .page_content {
    color: #FFF;
}

.errorSummary {
    color: #F00;
    padding-left: 14px;
}

.form-contact input[type='text'], .form-contact textarea, .form-contact input[type='email'] {
    width: 406px;
    border: solid 1px #CCC;
    height: 24px;
    line-height: 24px;
    padding: 0 10px;
    max-width: 100%;
}

.form-contact textarea {
    height: 80px;
}

.form-contact .row {
    padding: 5px 0;
}

.last_episodes_items a p.name {
    color: #ffc119 !important;
}

.last_episodes_items a:hover p.name {
    color: #fff !important;
}

.last_episodes .left.SUB {
    background-image: url(../img/bg/sub.png);
    background-repeat: no-repeat;
    background-position: left top;
}

.last_episodes .left.RAW {
    background-image: url(../img/bg/raw.png);
    background-repeat: no-repeat;
    background-position: left top;
}

.last_episodes .left.DUB {
    background-image: url(../img/bg/dub.png);
    background-repeat: no-repeat;
    background-position: left top;
}

.added_series_body.popular ul li:nth-child(2n+1) {
    border-right: solid 1px #555;
}

.added_series_body ul li:nth-child(2n+1) {
    border-right: solid 1px #555;
}

.added_series_body.final ul li {
    padding: 5px 20px;
}

.added_series_body.final ul li a {
    display: block;
    line-height: 14px;
}

.play-video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    width: 100%;
    background-color: #000;
}

.play-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.user_auth {
    float: left;
    margin-left: 238px;
    margin-right: 5px;
}

.user_auth ul li {
    list-style: none;
    position: relative;
    background-image: url(../img/icon-user.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding: 3px 30px;
}

.user_auth ul li ul li {
    background-image: none;
}

.user_auth ul li a.fix {
    text-decoration: none;
}

.favorites_book ul {

}

.favorites_book ul li {
    list-style: none;
    cursor: pointer;
    color: #fff;
    background-color: #ffc119;
    padding: 0 10px;
    height: 25px;
    line-height: 25px;
}

.favorites_book ul li span {
    padding-left: 8px;
}

.login-popup {
    position: fixed;
    background: rgba(236, 235, 238, 0.9);
    max-width: 300px;
    width: 100%;
    z-index: 9999;
    padding: 22px;
    left: 0;
    right: 0;
    top: 50px;
    margin: auto;
    display: none;
}

.login-popup h2 {
    text-align: center;
    color: #000000;
    font-size: 20px;
    margin-bottom: 10px;
}

.login-popup .btn-facebook, .login-popup .btn-google {
    display: inline-block;
    width: 100%;
    margin: 7px 0;
    position: relative;
    color: #FFF;
    font-size: 14px
}

.login-popup .btn-facebook:hover, .login-popup .btn-google:hover {
    color: #FFF
}

.login-popup .btn-facebook {
    background: #3b5998
}

.login-popup .btn-google {
    background: #dd4b39
}

.login-popup .btn-facebook span, .login-popup .btn-google span {
    display: inline-block;
    width: 40px;
    padding: 10px 0;
    text-align: center;
    margin-right: 10px
}

.login-popup .btn-facebook img, .login-popup .btn-google img {
    height: 17px
}

.login-popup .btn-facebook span {
    background-color: #2f477a
}

.login-popup .btn-google span {
    background-color: #b13c2e
}

.login-popup input:not([type="checkbox"]) {
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid #cdcdcd;
    height: 40px;
    margin: 7px 0;
    font-size: 14px;
    padding: 0 10px;
}

.login-popup .link-forget {
    float: right;
    color: #000000;
}

.login-popup .link-signup {
    float: left;
    color: #000000;
}

.login-popup button {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    text-align: center;
    background: #ffc119;
    color: #ffffff;
    border: none;
    -webkit-border-radius: 0;
    -webkit-appearance: none;
    cursor: pointer;
}
.login-popup hr {
    margin-bottom: 10px;
    visibility: hidden;
}
.mask {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    z-index: 998;
    position: fixed;
    top: 0;
    display: none;
}

.contact-input button {
    background: #ffc119;
    padding: 5px 10px;
    color: #fff;
    border: 0;
}

.nav_down_up {
    position: absolute;
    top: 26px;
    left: 0;
    z-index: 9999;
    display: none;
    background: #000000;
}

.nav_down_up ul {
    padding: 10px 15px !important;
}

.auth .nav_down_up li {
    padding: 6px 5px;
    text-align: left;
}

.nav_down_up ul li a {
    height: auto !important;
    line-height: inherit !important;
    padding: 4px 0 !important;
    white-space: nowrap;
    color: #FFF;
    text-decoration: none;
}

.favorites_book {
    float: left;
    margin-left: 10px;
}

.fa-heart::before {
    content: "\f004";
}

.favorites_book ul li.active i, .favorites_book ul li.active span {
    color: #00a651;
}

.login-popup input.error {
    border: solid 1px red;
}

.anime_video_note_watch a {
    color: #00a651;
}

.btndownload {
    background-image: url('../img/bg/dowload.png');
    background-position: 8px center;
    background-repeat: no-repeat;
    float: left;
}

p.tips {
    color: #00a651;
}

.anime_info_body .bookmark {
    color: #FF0000;
    display: block;
    padding-top: 5px;
    padding-bottom: 10px;
}

.anime_info_body .bookmark:hover {
    color: #FFF;
}

.bookmark-manage i {
    background: url('../img/bookmart-manage.png') no-repeat;
    background-position: 0 3px;
    padding: 5px 0 10px 20px !important;
}

.bookmark-add i {
    background: url('../img/bookmart-add.png') no-repeat;
    background-position: 0 3px;
    padding: 5px 0 10px 24px !important;
}

.bookmark-remove i {
    background: url('../img/bookmart-remove.png') no-repeat;
    background-position: 0 5px;
    padding: 5px 0 10px 18px !important;
}

.banner_center.intro {
    border: 0;
}
.anime_muti_link ul li{
    float:  left;
    width: 100%;
}
.anime_muti_link ul{
    float:  left;
    width: 100%;
    border-top: solid 1px #555555;
    padding: 20px 0;
    margin-top: 20px;
}
.anime_muti_link ul li{
    float:  left;
    width: 100%;
    list-style: none;
    color: #FFF;
    background: url('../img/bg/animeupload.png') no-repeat;
    background-position: left center;
    padding: 0 0 0 34px;
    position: relative;
    margin: 1px 0;
}
.anime_muti_link ul li.mp4{
     background: url('../img/bg/mp4.png') no-repeat;
     background-position: left center;
}
.anime_muti_link ul li.open{
     background: url('../img/bg/openupload.png') no-repeat;
     background-position: left center;
}
.anime_muti_link ul li.your{
     background: url('../img/bg/yourupload.png') no-repeat;
     background-position: left center;
     background-size: 20px 20px;
}

.anime_muti_link ul li.estream{
     background: url('../img/bg/estream.png') no-repeat;
     background-position: left center;
}
.anime_muti_link ul li.bestream{
     background: url('../img/bg/bestream.png') no-repeat;
     background-position: left center;
}
.anime_muti_link ul li:nth-child(2n+1){
     background-color: #131313;
}
.anime_muti_link ul li a {
    display: block;
    color: #FFF;
    text-transform: uppercase;
    padding: 10px 0;
}
.anime_muti_link ul li a span {
    position: absolute;
    right: 0;
    top: 0;
    width: 132px;
    height: 100%;
    padding: 10px 0;
    text-align: center;
}
.anime_muti_link ul li a:hover span, .anime_muti_link ul li a.active span{
    background-color: #ffc119;
}
.anime_muti_link ul li a.active{
    cursor:  inherit;
}
.anime_video_body_watch_items.next{
    display: none;
}
/* 3.2. List anime */
        ul.items{
            margin-top: 20px;
        }
		ul.items li{
			float:left;
			position: relative;
			margin-left: 1.8867%;
			width: 23.5849%;
			text-align:center;
            list-style: none;
            margin-bottom: 20px;
            vertical-align: top;
		}
        ul.items li .img{
            overflow: hidden;
            position: relative;
        }
			ul.items li .img:before {
				content: "";
				display: block;
				padding-top: 125%;
			}
			ul.items li .img  img{
                width: 100%;
				max-width: 100%;
				height: auto;
			}
			ul.items li .img a {
				position: absolute;
				top: 0;
				left: 0;
				display: block;
                width: 100%;
                height: 100%;
                overflow:  hidden;
			}
			ul.items li:nth-child(4n+1){
				margin-left: 0;
			}
			ul.items li p.name{
                line-height: 16px;
				height: 34px;
                overflow: hidden;
			}
            ul.items li p.name a{
                color: #ffc119;
                font-size: 13px;
                font-family: mySecondFont;
            }
            ul.items li p.name a:hover{
                color: #FFF;
            }
            ul.items li p.episode {
                margin: 0;
                padding: 0;
                color: #e1e1e1;
                font-size: 12px;
                font-family: mySecondFont;
            }
            ul.items li p.released {
                margin: 0;
                padding: 0;
                color: #e1e1e1;
                font-size: 12px;
            }
            ul.items li p.episode a{
                color: #e1e1e1;
            }
            ul.items li .type{
                position: absolute;
                bottom: 0;
                z-index: 1;
                width: 100%;
            }
            ul.items li .type img{
                width: auto;
            }
.page_menu_items.show {
    padding-top: 12px;
    margin-right: 0;
    width: 38px;
    float: left;
    display: none;
    position: relative;
    z-index: 9999;
    position: absolute;
    top: 10px;
    left: 16px;
}
.page_menu_items.show a img {
    height: 14px;
}
.search-iph a {
    background-image: url(../img/icon/searcch.png);
    background-repeat: no-repeat !important;
    background-position: center center;
    width: 42px;
    height: 32px;
    display: none;
}
.hide_search {
    background-image: url(../img/icon/muiten.png);
    background-repeat: no-repeat;
    background-position: center center;
    height: 30px;
    width: 20px;
    cursor: pointer;
    float: right;
    margin-right: 10px;
}
img.logo.hide{
    display: block;
}
.hide_search.show{
    display: none;
}
.hide_search.hide{
    display: none;
}
.croll .small,  nav.menu_top ul li.user{
    display: none;
}
#off_light{  
    position: fixed; z-index: 2; width: 100%; height: 100%; top: 0px; left: 0px; 
    background: transparent none repeat fixed 0% 0%;
    display: none;
}
.adsdisplay{
    max-height: 250px;
    overflow: hidden;
}