/* Tiny Scrollbar */
#scrollbar1 {
	width: 296px;
	text-align: justify;
	margin: 24px 0 18px 0;
}
#scrollbar1 .viewport { width: 280px; height: 1140px; overflow: hidden; position: relative; }
#scrollbar1 .overview { list-style: none; position: absolute; left: 0; top: 0; padding: 0; margin: 0; }
#scrollbar1 .scrollbar{
	position: relative;
	float: right;
	width: 4px;
	background-color: transparent;
}
#scrollbar1 .track {
	height: 100%;
	width:4px;
	position: relative;
	padding: 0 1px;
	margin-left: -6px;
}
#scrollbar1 .thumb {
	height: 20px;
	width: 5px;
	cursor: pointer;
	overflow: hidden;
	position: absolute;
	top: 0;
	background-color: #363636;
	border-radius:4px;
	border-radius: 8px;
}
#scrollbar1 .thumb .end {overflow: hidden; height: 5px; width: 25px; }
#scrollbar1 .disable { display: none; }
/* Tiny Scrollbar */
/* Tiny Scrollbar */
#scrollbar2 {
	width: 296px;
	text-align: justify;
	margin: 15px 0 10px 0;
}
#scrollbar2 .viewport { width: 280px; height: 1678px; overflow: hidden; position: relative; }
#scrollbar2 .overview { list-style: none; position: absolute; left: 0; top: 0; padding: 0; margin: 0; }
#scrollbar2 .scrollbar{
	position: relative;
	float: right;
	width: 4px;
	background-color: transparent;
}
#scrollbar2 .track {
	height: 100%;
	width:4px;
	position: relative;
	padding: 0 1px;
	margin-left: -6px;
}
#scrollbar2 .thumb {
	height: 20px;
	width: 5px;
	cursor: pointer;
	overflow: hidden;
	position: absolute;
	top: 0;
	background-color: #363636;
	border-radius:4px;
	border-radius: 8px;
}
#scrollbar2 .thumb .end {overflow: hidden; height: 5px; width: 25px; }
#scrollbar2 .disable { display: none; }