@charset "euc-kr";
/* jins@hankyung.com  2014-04-01  Version : 1.0 */

@font-face{
    font-family:'hkGothicB';
    src:url(http://img.hankyung.com/img/font/hkgb.eot);
    src:local(※), url(http://img.hankyung.com/img/font/hkgb.woff) format('woff');
}

/* reset */
html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, a, em, img, strong, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, button {margin:0; padding:0; font-size:100%;}
html, body {width:100%; height:100%}
body {font-size:12px; font-family:'Malgun Gothic', '맑은 고딕', ’돋움’,Dotum, ’굴림’,Gulim,Verdana,Arial,AppleGothic,sans-serif; -webkit-text-size-adjust:none; -ms-text-size-adjust: none; /* 뷰표트 변환시 폰트크기 자동확대 방지. */ letter-spacing:-1px;}
dl,ul,ol,li {list-style:none;}
section, article, nav, header, footer, aside {display:block;}
fieldset, img, iframe {border:0;}
img, iframe {vertical-align:top;}
input,textarea,select,button {font-size:13px; font-family:'Malgun Gothic', '맑은 고딕', ’돋움’,Dotum,sans-serif;}
table {width:100%; border-collapse:collapse;}
em, address {font-style:normal;}
a {color:#222; text-decoration:none; cursor:pointer;}
a:hover {text-decoration:underline;}
button {cursor:pointer; font-family:'Malgun Gothic', '맑은 고딕', ’돋움’,Dotum, ’굴림’,Gulim,Verdana,Arial,AppleGothic,sans-serif;}
table caption {display:none;}

button.ico {border:0; cursor:pointer; vertical-align:top; background-color:transparent}
header, footer, article, section, aside, nav, hgroup, details, menu, figure, figcaption  {display:block}

#wrap {font-size:16px; padding:0 10px;}

/* 공통 css */
.noview {position:absolute; top:-9000px; left:-9000px; overflow:hidden; width:1px; height:1px; margin:-1px 0 0 -1px; text-align:left; text-indent:-9000px; font-size:0; white-space:nowrap;}
.b {font-weight:bold !important;}
.n {font-weight:normal !important;}
.color-red {color:#ff000a;}
.f-lft {float:left !important;}
.f-rgt {float:right !important;}
.row:after,
.clr:after {clear:both; display:block; content:'';}
.thumb {position:relative;}
.thumb img {max-width:100%;}
.bt22 {border-top:1px solid #222 !important;}
.bdNone {border:none !important;}
/*
.thumb > a::before {position:absolute; top:0; left:0; display:block; width:100%; height:100%; box-sizing:border-box; border:1px solid rgba(0,0,0,0.2); content:'';}
a > .thumb::before {position:absolute; top:0; left:0; display:block; width:100%; height:100%; box-sizing:border-box; border:1px solid rgba(0,0,0,0.2); content:'';}
*/
.row {width:100%; margin:0}
.col-660 {float:left; width:660px;}
.col-630 {float:left; width:630px;}
.col-470 {float:left; width:470px;}
.col-450 {float:left; width:450px;}
.col-420 {float:left; width:420px;}
.col-580 {float:left; width:580px;}
.col-150 {float:left; width:150px;}
.col-170 {float:left; width:170px;}
.col-350 {float:left; width:350px;}
.col-350.f-rgt {width:330px; margin-right:20px;}
.line-y-680 {background-image:url(http://img.hankyung.com/img/bg_r_line.gif); background-repeat:repeat-y; background-position:100% 0;}
.line-y-490 {background-image:url(http://img.hankyung.com/img/dot_1pxef.gif); background-repeat:repeat-y; background-position:490px 0;}
.line-y-470 {background-image:url(http://img.hankyung.com/img/dot_1pxef.gif); background-repeat:repeat-y; background-position:470px 0;}
.line-y-470-1 {background-image:url(http://img.hankyung.com/img/dot_1pxef.gif); background-repeat:repeat-y; background-position:469px 0;}

.ico {display:inline-block; overflow:hidden; background-image:url(http://img.hankyung.com/img/icon_main2015.png?v=20161108); background-repeat:no-repeat;}
.ico.btn-nav-close {width:69px; height:37px; background-position:10px -394px; background-color:#ff0009; margin-right:1px;}
.ico.btn-search {width:50px; height:37px; background-position:-60px -264px;}
.ico.btn-sns-fb {width:24px; height:24px; background-position:0 0;}
.ico.btn-sns-tw {width:24px; height:24px; background-position:-30px 0;}
.ico.opinion-tit {width:118px; height:26px; background-position:0 -30px;}
.ico.tit-hkplus {width:48px; height:25px; background-position:0 -60px;}
.ico.tit-ibk {width:120px; height:25px; background-position:-60px -60px;}
.ico.arr-more-black {width:3px; height:6px; background-position:-60px 0; vertical-align:middle;}
.ico.ico-lock {width:18px; height:10px; background-position:-70px 0; vertical-align:middle;}
.ico.arr-paging {width:49px; height:21px; background-position:-100px 0;}
.ico.ico-slide-paging {width:20px; height:17px; background-position:-160px 0; vertical-align:middle;}
.ico.arr-sld-prev {width:60px; height:100px; background-position:0 -150px;}
.ico.arr-sld-next {width:60px; height:100px; background-position:-60px -150px;}
.ico.ico-vod-play {width:45px; height:45px; background-position:-40px -90px;}
.ico.comp-29s {width:90px; height:30px; background-position:-190px 0;}
.ico.comp-bnt {width:90px; height:30px; background-position:-190px -30px;}
.ico.comp-hktv {width:90px; height:30px; background-position:-190px -60px;}
.ico.comp-live {width:90px; height:30px; background-position:-190px -90px;}
.ico.spc-btn-open {width:41px; height:38px; background-position:-90px -90px}
.ico.spc-btn-close {width:41px; height:38px; background-position:-140px -90px}
.ico.btn-stock-sch {width:33px; height:34px; background-position:0 -90px;}
.ico.stock-arr {width:11px; height:13px; font-size:0;}
.up2 .ico.stock-arr {background-position:-130px -150px;}
.up .ico.stock-arr {background-position:-130px -170px;}
.hold .ico.stock-arr {display:none; background-position:-130px -190px;}
.dn .ico.stock-arr {background-position:-130px -210px;}
.dn2 .ico.stock-arr {background-position:-130px -230px;}
.ico.stock-arr2 {width:15px; height:15px; font-size:0; vertical-align:middle;}
.up2 .ico.stock-arr2 {background-position:0 -360px;}
.up .ico.stock-arr2 {background-position:-20px -360px;}
.hold .ico.stock-arr2 {display:none; background-position:-40px -360px;}
.dn .ico.stock-arr2 {background-position:-60px -360px;}
.dn2 .ico.stock-arr2 {background-position:-80px -360px;}
.ico.ico-poll {width:21px; height:19px; background-position:-190px -120px; vertical-align:middle;}
.ico.ico-cash {width:21px; height:19px; background-position:-220px -120px; vertical-align:middle;}
.ico.ico-evnt {width:21px; height:19px; background-position:-250px -120px; vertical-align:middle;}
.ico.ico-notice {width:21px; height:19px; background-position:-278px -120px; vertical-align:middle;}
.ico.aff-jkjtv {width:100px; height:23px; background-position:-150px -150px;}
.ico.aff-vitamin {width:40px; height:23px; background-position:-150px -180px;}
.ico.aff-mkins {width:94px; height:23px; background-position:-200px -180px;}
.ico.aff-hkplus {width:40px; height:23px; background-position:-150px -210px;}
.ico.aff-hktv {width:80px; height:23px; background-position:-200px -210px;}
.ico.aff-hkmg {width:100px; height:23px; background-position:-150px -240px;}
.ico.aff-book {width:42px; height:23px; background-position:-255px -240px;}
.ico.aff-ten {width:26px; height:23px; background-position:0 -537px;}
.ico.btn-stock-open {width:90px; height:25px; background-position:-130px -270px;}
.ico.btn-stock-open2 {width:91px; height:25px; background-position:-130px -310px;}
.ico.btn-stock-close {width:90px; height:27px; background-position:-130px -350px;}
.ico.stock-active {width:13px; height:35px; background-position:-100px -320px;}
.ico.hdr-sns-fb {width:27px; height:27px; background-position:0 -320px;}
.ico.hdr-sns-tw {width:27px; height:27px; background-position:-30px -320px;}
.ico.arr-sel {width:8px; height:5px; background-position:-70px -320px; vertical-align:middle;}
.ico.btn-search-frm {width:38px; height:33px; background-position:-260px -276px;}
.ico.btn-sitemap-close {width:17px; height:14px; background-position:-270px -320px; vertical-align:middle;}
.ico.panel-rank {width:37px; height:20px; background-position:-250px -350px; vertical-align:middle;}
.ico.panel-bar {width:5px; height:20px; background-position:-250px -350px; vertical-align:middle;}
.jkjtv .ico.balloon-logo {width:131px; height:30px; background-position:-60px -400px;}
.vitamin .ico.balloon-logo {width:51px; height:30px; background-position:-210px -400px;}
.mkins .ico.balloon-logo {width:120px; height:30px; background-position:-70px -440px;}
.hkplus .ico.balloon-logo {width:48px; height:30px; background-position:0 -440px;}
.hktv .ico.balloon-logo {width:112px; height:30px; background-position:0 -470px;}
.hkmg .ico.balloon-logo {width:140px; height:30px; background-position:-130px -470px;}
.book .ico.balloon-logo {width:58px; height:30px; background-position:-220px -440px;}
.ten .ico.balloon-logo {width:34px; height:30px; background-position:0 -567px;}
.ico.arr-balloon-up {width:12px; height:10px; background-position:-260px -150px;}
.ico.thumb-vod {width:31px; height:31px; background-position:0 -500px;}
.ico.tit-live {width:80px; height:28px; background-position:-50px -495px}
.ico.tit-bnt {width:80px; height:28px; background-position:-130px -497px}
.ico.tit-movie29 {width:80px; height:28px; background-position:-210px -500px}
.ico.tit-hktv {width:80px; height:28px; background-position:-50px -525px}
.ico.tit-ten {width:80px; height:28px; background-position:-50px -555px}

.paging-pie {width:80px;}
.paging-pie .num  {float:left; width:30px; text-align:center; font-size:11px; line-height:21px; color:#999}
.paging-pie .num strong {color:#222}
.paging-pie .arr-paging {float:right; width:49px; height:21px;}
.paging-pie span {vertical-align:middle}
.paging-pie button {overflow:hidden; float:left; width:24px; height:21px; margin:0; padding:0; border:none; background:none; vertical-align:middle; text-align:left; text-indent:-9000px; font-size:0; cursor:pointer;}

/* header */
/* 상단 링크 */
.hdr-top-nav {position:relative; width:100%; z-index:100;}
.hdr-top-nav nav {position:relative; width:1050px; height:43px; margin:0 auto; border-bottom:1px solid #e1e1e1;}
.hdr-top-nav nav:after {clear:both; display:block; content:'';}
.hdr-top-nav .aff-nav {float:left; padding-top:10px;}
.hdr-top-nav .aff-nav li {position:relative; float:left; padding:0 14px;}
.hdr-top-nav .aff-nav li:first-child {padding-left:0;}
.hdr-top-nav .aff-nav li > a {float:left; text-align:left; text-indent:-9000px; font-size:0;}
.hdr-top-nav .top-tooltip {display:none; position:absolute; top:-3px; left:-15px; background-color:#fff;}
.hdr-top-nav li:hover .top-tooltip {display:block;}
.hdr-top-nav .top-tooltip .arr-balloon-up {position:absolute; top:29px; left:19px;}
.hdr-top-nav .top-tooltip .balloon-logo {overflow:hidden; display:block; text-align:left; text-indent:-9000px;}
.hdr-top-nav .mkins .top-tooltip .arr-balloon-up {left:37px}
.hdr-top-nav .hkplus .top-tooltip .arr-balloon-up {left:30px;}

.hdr-top-nav .hktv .top-tooltip .arr-balloon-up {left:25px;}
.hdr-top-nav .hkmg .top-tooltip .arr-balloon-up {}
.hdr-top-nav .book .top-tooltip .arr-balloon-up {left:30px;}
.hdr-top-nav .ten .top-tooltip .arr-balloon-up {left:30px;}

.jkjtv .ico.balloon-logo {margin-left:0}
.vitamin .ico.balloon-logo {margin-left:20px;}
.mkins .ico.balloon-logo {margin-left:23px;}
.hkplus .ico.balloon-logo {margin-left:25px;}
.hktv .ico.balloon-logo {margin-left:15px;}
.hkmg .ico.balloon-logo {margin-left:10px}
.book .ico.balloon-logo {margin-left:25px;}
.ten .ico.balloon-logo {margin-left:25px;}


.ico.tit-hkmb {width:85px; height:25px; background-position:-215px -525px;}
.ico.aff-hkmb {width:73px; height:23px; background-position:-228px -552px;}
.hkmb .ico.balloon-logo {width:97px; height:30px; background-position:-202px -575px;}
.hdr-top-nav .hkmb .top-tooltip .arr-balloon-up {left:30px;}
.hkmb .ico.balloon-logo {margin-left:15px;}


.hdr-top-nav .top-tooltip .memo {min-width:110px; margin-top:6px; padding:10px; border:1px solid #e0e0e0; box-shadow:5px 5px 5px rgba(0,0,0,0.1); font-size:13px; line-height:18px; white-space:nowrap;}
.hdr-top-nav .hdr-toggle {position:absolute; top:8px; right:0;}
.hdr-top-nav .hdr-toggle button {float:left; overflow:hidden; margin-left:5px; text-align:left; text-indent:-9000px; font-size:0;}
.hdr-top-nav .btn-open-stock {position:absolute; top:0; left:0; overflow:hidden; width:100%; height:7px; text-align:left; text-indent:-9000px; font-size:0; white-space:nowrap;}
/* 상단 증시지표 */
.hdr-stock {display:none; position:absolute; top:0; left:0; width:100%; min-width:1050px; z-index:999;}
.hdr-stock .stock-info {width:1050px; margin:0 auto;  background-color:#fff;  border-bottom:1px solid #e1e1e1;}
.hdr-stock.active {display:block}
.hdr-stock .stock-data {overflow:hidden; float:left; width:955px; height:43px;}
.hdr-stock .stock-data dl {overflow:hidden;  float:left; height:23px; padding:7px 15px; margin-left:54px; white-space:nowrap; text-align:center; cursor:pointer;}
.hdr-stock .stock-data dl:first-child {margin-left:0}
.hdr-stock .stock-data dt {display:inline-block; line-height:23px; font-size:14px; color:#777; vertical-align:middle;}
.hdr-stock .stock-data dd {display:inline-block; line-height:23px; font-size:14px; font-weight:bold; vertical-align:middle; letter-spacing:0;}
.hdr-stock .stock-data dd strong {font-weight:bold;}
.hdr-stock .stock-data dd span.num2 {display:inline-block; padding:0 6px 0 0;/*  margin-left:3px; */}
.hdr-stock .stock-data dd span.num2 .ico {vertical-align:middle; margin-top:-2px;}
.hdr-stock .stock-data dd.dn .num2,
.hdr-stock .stock-data dd.dn2 .num2 {color:#457fff}
.hdr-stock .stock-data dd.up .num2,
.hdr-stock .stock-data dd.up2 .num2 {color:#ff0009}
.hdr-stock .stock-data dd.hold .num2 {color:#777}
.hdr-stock .stock-data .change-dn .num2 {background-color:#457fff; color:#fff !important;}
.hdr-stock .stock-data .change-up .num2 {background-color:#ff0009; color:#fff !important;}
.hdr-stock .stock-info .hdr-toggle {float:right; padding-top:8px;}
.hdr-stock .stock-info button.btn-stock-open2 {display:block; overflow:hidden; text-align:left; text-indent:-9000px; font-size:0;}
/* 상단 증시지표 확장 */
.stock-detail-wrap {display:none; position:absolute; top:0; left:0; width:100%;}
.stock-detail-wrap.active {display:block;}
.stock-detail {width:1010px; margin:0 auto; padding:28px 19px 18px; background-color:#fff; border:1px solid #bbb; border-top:none}
.stock-detail:after {clear:both; display:block; content:'';}
.stock-detail-wrap .hdr-toggle {position:absolute; top:7px; left:50%; width:90px; margin-left:434px;}
.stock-detail-wrap .btn-stock-close {display:block; overflow:hidden; text-align:left; text-indent:-9000px; font-size:0;}
.stock-detail-wrap .ico.stock-arr {vertical-align:middle;}
/* tab list */
.tab-group {position:relative; width:100%; min-height:40px}
.tab-tit {position:absolute; top:0; overflow:hidden; height:38px; padding:0; line-height:20px; font-size:16px; font-weight:normal; text-align:center; border:1px solid #e5e5e5; background-color:#fff; z-index:10}
.tab-tit a {display:inline-block; width:100%; padding:9px 0}
.tab-tit a:hover {text-decoration:none;}
.tab-itm.active .tab-tit {height:39px; font-weight:bold; border-bottom:0; background-color:#fff; z-index:20}
.tab-tit2-1 {width:50%; left:0}
.tab-tit2-2 {width:50%; right:0}
.tab-tit3-1 {width:34%; left:0}
.tab-tit3-2 {width:33%; left:34%}
.tab-tit3-3 {width:33%; right:0}
.tab-tit4-1 {width:25%; left:0}
.tab-tit4-2 {width:25%; left:25%}
.tab-tit4-3 {width:25%; left:50%}
.tab-tit4-4 {width:25%; right:0}
.tab-tit5-1 {width:20%; left:0}
.tab-tit5-2 {width:20%; left:20%}
.tab-tit5-3 {width:20%; left:40%}
.tab-tit5-4 {width:20%; left:60%}
.tab-tit5-5 {width:20%; right:0}
.tab-tit6-1 {width:17%; left:0}
.tab-tit6-2 {width:17%; left:17%}
.tab-tit6-3 {width:17%; left:34%}
.tab-tit6-4 {width:17%; left:51%}
.tab-tit6-5 {width:16%; left:68%}
.tab-tit6-6 {width:16%; right:0}
.tab-cnt {display:none; width:100%; padding:70px 0 0}
.tab-itm.active .tab-cnt {display:block}

.stock-detail .tab-tit {height:33px;}
.stock-detail .tab-tit a {padding:6px 0;}
.stock-detail .tab-itm.active .tab-tit {height:34px;}
.stock-detail .chart-deps1 {float:left; overflow:hidden; width:740px; border-right:1px solid #dfdfdf;}
.stock-detail .chart-deps2 {position:relative; float:right; width:250px; margin-top:7px;}
.stock-detail .chart-deps1 .tab-group {float:left; width:330px;}
.stock-detail .chart-deps2 .tab-group {width:100%}
.stock-detail .stock-grp {float:right; width:395px; margin-top:-9px;}
.stock-detail .info-txt {clear:both; padding:5px 20px 0 0; font-size:12px; color:#888;; line-height:18px; text-align:right; white-space:nowrap;}
.stock-info-tb.tab-cnt {padding-top:42px;}
.stock-info-tb dl {position:relative; width:100%; height:20px; padding:8px 0; line-height:20px; cursor:pointer;}
.stock-info-tb dl:nth-child(odd) {background-color:#f6f6f6}
.stock-info-tb dl:after {clear:both; display:block; content:'';}
.stock-info-tb dt {float:left; width:90px; padding-left:10px; font-size:14px; font-weight:bold; white-space:nowrap;}
.stock-info-tb dd {float:right; width:220px; font-size:14px; font-family:'Trebuchet MS', tahoma, verdana, 'Malgun Gothic', '맑은 고딕', ’돋움’,Dotum, sans-serif; font-weight:normal; letter-spacing:0; white-space:nowrap;}
.stock-info-tb dd strong {display:inline-block; width:70px; text-align:right; font-weight:normal;}
.stock-info-tb dd .num {display:inline-block; width:70px; text-align:right;}
.stock-info-tb dd .num2 {display:inline-block; width:60px; padding-right:10px; text-align:right;}
.stock-info-tb .stock-active {display:none; position:absolute; top:15px; right:-20px;}
.stock-info-tb dl.active {padding-right:15px !important; background:url(http://img.hankyung.com/img/bg_maintopchart2.png) no-repeat 100% 0 #fff;}
.stock-info-tb dl.active.up,
.stock-info-tb dl.active.up2 {background-position:100% -50px;}
.stock-info-tb dl.active.dn,
.stock-info-tb dl.active.dn2 {background-position:100% 0;}
.global .stock-info-tb dl {padding:6px 0;}
.global .stock-info-tb dl.active.up,
.global .stock-info-tb dl.active.up2 {background-position:100% -52px;}
.global .stock-info-tb dl.active.dn,
.global .stock-info-tb dl.active.dn2 {background-position:100% -2px;}

.stock-info-tb .dn .num,
.stock-info-tb .dn2 .num,
.stock-info-tb .dn .num2,
.stock-info-tb .dn2 .num2 {color:#457fff}
.stock-info-tb .up .num,
.stock-info-tb .up2 .num,
.stock-info-tb .up .num2,
.stock-info-tb .up2 .num2 {color:#ff0009}
.stock-info-tb .hold .num,
.stock-info-tb .hold .num2 {color:#777}
.stock-info-tb .change-dn .num2 span {padding:0 6px; background-color:#457fff; color:#fff !important;}
.stock-info-tb .change-up .num2 span {padding:0 6px; background-color:#ff0009; color:#fff !important;}
.stock-info-tb.tab-cnt .tab2 {margin-top:33px;}

.tab3-stock-nav {overflow:hidden; width:100%; margin-top:10px; background-color:#f6f6f6; text-align:center;}
.tab3-stock-nav li {display:inline-block; height:18px; line-height:18px; padding:3px 10px; font-size:12px;}
.tab3-stock-nav li.l_bar {margin-left:5px; padding-left:15px; background:url(http://img.hankyung.com/img/bar_1x11pxccc.gif) no-repeat 0 50%;}
/* 변경 */
/* 투자주체별 매매동향 */
.stock-inv-prgm {overflow:hidden; width:100%; margin-top:15px; font-size:14px;}
.stock-inv-prgm .deps1 {float:left; width:145px; padding-left:10px;}
.stock-inv-prgm .deps2 {float:right; width:145px; padding-right:10px;}
.stock-inv-prgm h1 {text-align:center; margin-bottom:5px;line-height:20px;}
.stock-inv-prgm table {width:100%;}
.stock-inv-prgm th {padding:5px 0; font-size:12px; color:#888; font-weight:normal; text-align:right;}
.stock-inv-prgm td {text-align:right;}
.stock-inv-prgm thead th.date {font-size:11px; text-align:left;}
.stock-inv-prgm thead th {border-bottom:1px solid #e5e5e5;}
.stock-inv-prgm tbody th {text-align:left;}
.stock-inv-prgm tbody tr:first-child th,
.stock-inv-prgm tbody tr:first-child td {padding-top:10px;}
.stock-inv-prgm .dn.num,
.stock-inv-prgm .dn2.num,
.stock-inv-prgm .dn.num2,
.stock-inv-prgm .dn2.num2 {color:#457fff}
.stock-inv-prgm .up.num,
.stock-inv-prgm .up2.num,
.stock-inv-prgm .up.num2,
.stock-inv-prgm .up2.num2 {color:#ff0009}
.stock-inv-prgm .hold.num,
.stock-inv-prgm .hold.num2 {color:#777}

/* 인기 검색 종목*/
.chart-deps2 .stock-info-txt {padding-top:12px; font-size:12px; color:#888; text-align:right;}
.chart-deps2 h1 {margin-bottom:6px; font-size:16px;}
.chart-deps2 .tab-cnt {width:250px; padding:40px 0 0; font-size:13px;}
.stock-rank-tb .r-num {float:left; overflow:hidden; width:16px; height:16px; margin:2px 5px 0 0; background-color:#2e4254; text-align:center; font-size:11px; color:#fff; line-height:16px;}
.stock-rank-tb dl {overflow:hidden;width:100%; line-height:18px; margin-top:5px; height:18px;}
.stock-rank-tb dt {float:left; margin-left:6px; width:85px}
.stock-rank-tb dd {float:right; width:155px; text-align:right; white-space:nowrap;}
.stock-rank-tb dd strong {float:left; width:55px; font-weight:normal}
.stock-rank-tb dd .num {float:left; width:55px;}
.stock-rank-tb dd .num2 {float:left; width:45px;}
.stock-rank-tb .dn .num,
.stock-rank-tb .dn2 .num,
.stock-rank-tb .dn .num2,
.stock-rank-tb .dn2 .num2 {color:#457fff}
.stock-rank-tb .up .num,
.stock-rank-tb .up2 .num,
.stock-rank-tb .up .num2,
.stock-rank-tb .up2 .num2 {color:#ff0009}
.stock-rank-tb .hold .num,
.stock-rank-tb .hold .num2 {color:#777}


.hk-header {position:relative; width:1050px; height:85px; margin:0 auto; z-index:99}
.hk-header .hk-logo {width:400px; margin:0 auto; text-align:center; padding-top:29px;}
.hk-header .hk-logo.y2016 {width:325px; margin:0 0 0 355px; text-align:center; padding-top:11px;}
.hk-header .hk-logo.y2016 .y-logo {margin-top:15px;}
.hk-header .hk-logo.hk50th {padding-top:12px; margin:0 0 0 348px;}
.hrd-weather {position:absolute; top:41px; left:0; width:200px; font-size:13px; line-height:27px;}
.hrd-weather img {width:30px; height:27px; vertical-align:middle;}
.hrd-s-bnr {position:absolute; top:45px; left:192px; font-size:14px; line-height:20px; vertical-align:middle; font-weight:bold;}
.hrd-s-bnr a {color:#333; line-height:20px;}
.hrd-s-bnr img {margin-top:-2px; vertical-align:middle;}
.hrd-join {position:absolute; top:45px; right:0; font-size:14px; line-height:27px;}
.hrd-join .join {float:left; font-size:14px;}
.hrd-join .join > a {float:left; margin-left:20px;}
.hrd-join .join > a:first-child {margin-left:0}
.hrd-join .my-data {float:left; min-width:80px; max-width:120px;}
.hrd-join .lang {float:left; width:80px; margin-left:10px;}
.hrd-join .lang .sel-list {width:60px;}
.hrd-join .sel-box {position:relative;}
.hrd-join .sel-box li {white-space:nowrap;}
.hrd-join .sel-box li a {display:block;}
.hrd-join .sel-box .ico {margin-left:3px;}
.hrd-join .sel-tit {display:block; padding:0 9px; white-space:nowrap;}
.hrd-join .sel-list {display:none; position:absolute; top:0; left:0; padding:0 9px; border:1px solid #e5e5e5; background-color:#fff;}
.hrd-join .open .sel-list {display:block;}
.hrd-join .sns {float:left;}
.hrd-join .sns a {float:left; margin-left:8px;}

/* 플로팅 배너 */
.ad-floatBnr .ad-lft {position:absolute; top:486px; right:50%; width:160px; height:0; margin-right:545px; text-align:right;}
.ad-floatBnr .ad-rgt {position:absolute; top:210px; left:50%; width:80px; height:0; margin-left:545px; text-align:left}
.ad-floatBnr .ad-rgt > div {margin-top:10px;}
.ad-floatBnr .ad-rgt > div.fst {margin-top:0}

.jump-nav,
.jump-nav ul {position:absolute; top:0; left:0; width:100%;}
.jump-nav a {position:absolute; top:-100px; left:50%; display:block; width:1050px; height:30px; line-height:30px; margin-left:-525px; background-color:#f1f1f1; text-align:center; z-index:999}
.jump-nav a:focus,
.jump-nav a:hover,
.jump-nav a:active {top:0;}

/* gnb */
.top-nav-wrap {position:relative; width:1050px; margin:0 auto; background-color:#457fff; z-index:98;}
.btn-nav-all {/*width:86px; */height:37px; float:left; font-size:15px; font-weight:bold; color:#fff; text-align:left; padding:7px 16px 8px 36px; min-height:22px; line-height:22px; background:url(/img/gnb_btn-nav-all.gif) no-repeat 0 0;}
.btn-nav-close {float:left; text-align:left; text-indent:-9000px; font-size:0;}
.btn-search {float:right; text-align:left; text-indent:-9000px; font-size:0;}
.nav-gnb {float:left;}
.nav-gnb li {position:relative; float:left;}
.nav-gnb li a {display:block; padding:7px 16px 8px; min-height:22px; line-height:22px; font-size:15px; font-weight:bold; color:#fff;}
.nav-gnb li a:hover {text-decoration:none;}
.nav-gnb li.active a {background-color:#ff0009}
.nav-gnb li.hei {margin-left:9px; padding-left:8px; background:url(http://img.hankyung.com/img/gnb_bar_opacity20.png) no-repeat 0 50%;}
.nav-gnb li.hei a {padding-right:14px; padding-top:6px;}
.nav-gnb li.n-grp2 a {padding-left:16px; padding-right:16px; font-size:15px; color:#efffa5;}
.nav-gnb li .ico-gnb-new {position:absolute; top:-4px; right:0;}
.top-search {float:right;}
.top-search legend {position:absolute; top:0; left:-9000px; overflow:hidden; text-align:left; text-indent:-9000px;}
.top-search .search-frm {position:absolute; top:0; right:3px; width:200px; height:25px; border:6px solid #457fff; background-color:#fff;}
.top-search .search-frm .inpTxt {float:left; width:162px;}
.top-search .search-frm .inpTxt input[type=text] {width:151px; height:25px; padding:0 3px 0 8px; /*line-height:33px;*/ border:none; font-size:13px; letter-spacing:-1px;}
.top-search .search-frm button {float:right; overflow:hidden; text-align:left; text-indent:-9000px; font-size:0; white-space:nowrap;}
.top-sitemap {display:none; position:absolute; top:37px; left:0; width:100%; padding:24px 0 13px; background-color:#fff; border:1px solid #d9d9d9; box-sizing:border-box; letter-spacing:0;}
.top-sitemap .ico-gnb-new {vertical-align:middle; margin-top:-4px;}
.top-sitemap.open {display:block;}
.top-sitemap .s-group {float:left; min-height:296px; padding:0 26px; border-left:1px solid #e9e9e9; font-size:13px; line-height:26px; }
.top-sitemap .s-group:first-child {border-left:none;}
.top-sitemap .s-group.g1 {max-width:75px}
.top-sitemap .s-group.g2 {max-width:160px}
.top-sitemap .s-group.g3 {max-width:100px}
.top-sitemap .s-group.g4 {max-width:80px}
.top-sitemap .s-group.g5 {max-width:84px}
.top-sitemap .s-group.g6 {max-width:100px}
.top-sitemap .s-group.g7 {max-width:86px}
.top-sitemap dl + ul,
.top-sitemap ul + ul,
.top-sitemap ul + dl {margin-top:18px;}
.top-sitemap dt {font-size:15px; font-weight:bold;}
.top-sitemap dd,
.top-sitemap li {white-space:nowrap;}
.top-sitemap .sitemap-btn {clear:both; overflow:hidden; text-align:right; margin-right:15px;}
.top-sitemap .sitemap-btn button {height:18px; border:none; background:none; padding:0; margin:0;}

/* footer */

.ft_ad {padding:10px 0 9px; text-align:center; border-top:1px solid #e5e5e5;}
.ft_adframe {position:relative; width:970px; height:auto; margin:0 auto; z-index:0;}
.ft_adframe .closeX {display:none; position:absolute; top:-1px; right:-20px; overflow:hidden; width:19px; height:19px; background-position:100% 0; text-align:left; text-indent:-2000px}

/* 상하단 광고 */
.ad-top-wide {width:100%; padding:20px 0; border-bottom:1px solid #ccc; text-align:center;}
.ad-btm-wide {width:100%; padding:10px 0; border-top:1px solid #ccc; text-align:center;}
.ad-btm-wide iframe {vertical-align:top}

.ft_adframe .closeX,
.ft_company dt,
.ft_company dd a,
.ft_company dd span,
.ft_adress span {background-image:url(http://img.hankyung.com/img/footer_all.gif); background-repeat:no-repeat;}

.ftr_sct {position:relative; width:100%;}
#footer .ft_nav_all {overflow:hidden; width:100%; border-bottom:2px solid #00080b;}
#footer .ft_bnr {position:absolute; top:6px; right:0;}
#footer .ft_bnr li {float:left; height:33px;}
#footer .btn_nav {margin:17px 0 13px; line-height:15px;}
#footer .btn_nav a {padding-right:10px;}
#footer .nav_open .btn_nav a {background-position:100% -58px;}
#footer .nav_close .btn_nav a {background-position:100% -38px;}
#footer .nav_list {clear:left; overflow:hidden; width:940px; padding:20px 20px 30px; background-color:#f7f7f7; border-top:1px solid #efefef;}
#footer .nav_open .nav_list {display:block;}
#footer .nav_close .nav_list {display:none;}
#footer .nav_list dl,
#footer .nav_list ul {float:left;}
#footer .nav_list .nav_news {width:90px;}
#footer .nav_list .nav_stock {width:102px;}
#footer .nav_list .nav_land {width:82px;}
#footer .nav_list .nav_ft {width:86px;}
#footer .nav_list .nav_auto {width:90px;}
#footer .nav_list .nav_golf {width:92px;}
#footer .nav_list .nav_work {width:100px;}
#footer .nav_list .nav_custm {width:90px;}
#footer .nav_list .nav_etc1 {width:130px;}
#footer .nav_list .nav_etc2 {width:77px;}

#footer .nav_list dl {line-height:20px;}
#footer .nav_list dt {line-height:20px; margin-bottom:6px}
#footer .nav_list dt a {color:#00080b; font-weight:bold;}
#footer .nav_list dd a {color:#555; letter-spacing:-1px;}
#footer .nav_list dd.blk {margin-bottom:1em;}
#footer .nav_list li {line-height:26px;}
#footer .nav_list li a {font-weight:bold; letter-spacing:-1px;}
#footer .nav_list li a sup {line-height:11px;}

.ft_company {width:100%;}
.ft_company dl {overflow:hidden; width:100%; padding:10px 0;}
.ft_company .hk_info {border-bottom:1px solid #efefef;}
.ft_company dt {float:left; width:63px; height:17px;}
.ft_company dt span,
.ft_company dt a {display:block; overflow:hidden; height:17px; text-align:left; text-indent:-2000px;}
.ft_company .hk_info dt {background-position:0 0;}
.ft_company .hkdc_info dt {background-position:0 -20px;}
.ft_company dd {float:right; width:890px; margin-top:2px; line-height:16px;}
.ft_company dd a,
.ft_company dd span {float:left; padding:0 9px; color:#555; background-position:-108px -21px}
.ft_company dd a.fst {background:none;}
.ft_company dd fieldset {float:left; margin-top:-4px;}

.ft_adress,
.ft_copyright {margin-left:100px; color:#757575; line-height:18px;}
.ft_adress span {padding:0 8px; background-position:-108px -21px}
.ft_adress address {display:inline; padding:0 8px 0 0;}
.ft_adress span.fst {padding-left:0; background:none;}
.ft_copyright {font-family:Arial, Tahoma, Dotum, sans-serif; font-size:11px;}

/* footer 리뉴얼 */
#footer {margin-bottom:20px;}
.footer {width:1050px; margin:0 auto; font-size:12px}
#footer a:hover {text-decoration:underline;}
#footer .ftr_nav {overflow:hidden; width:100%; padding-top:20px; border-top:1px solid #e5e5e5}
#footer .ftr_nav dl {float:left; overflow:hidden; line-height:18px;}
#footer .ftr_nav dl:after {clear:both; display:block; content:'';}
#footer .ftr_nav dt {float:left; margin-right:10px;font-weight:bold; color:#555}
#footer .ftr_nav dd {float:left;}
#footer .ftr_nav dd:after {clear:both; display:block; content:'';}
#footer .ftr_nav dd span,
#footer .ftr_nav dd a {float:left; padding:0 7px; background:url(http://img.hankyung.com/img/bar_footer.gif) no-repeat 0 3px; color:#555; letter-spacing:-0.5px; *letter-spacing:-1px;}
#footer .ftr_nav dd a.b {font-weight:bold;}
#footer .ftr_nav dd a:first-child {background:none; padding-left:0;}
#footer .ftr_nav dd span a {float:none; display:inline; padding:0; background:none;}
#footer .ftr_nav .hk {margin-right:10px;}

#footer .ftr_nav .gototop {float:right; }
#footer .ftr_nav .gototop .btn-gototop-btm {display:block; padding-left:15px; line-height:18px; font-weight:bold; background:url(/img/btn_gototop_btm.gif) no-repeat 0 3px}

#footer .ftr_info {width:100%; margin-top:6px;}
#footer .ftr_info:after {clear:both; display:block; content:'';}
#footer .ftr_info span {float:left; padding:0 7px; background:url(http://img.hankyung.com/img/bar_footer.gif) no-repeat 0 3px; color:#555;}
#footer .ftr_info span.b {font-weight:bold;}
#footer .ftr_info span.fst,
#footer .ftr_info span:first-child {padding-left:0; background:none;}
#footer .ftr_info .fmly {position:relative; float:right; width:120px; height:21px; margin-top:-3px;}
#footer .ftr_sel {float:right; margin-top:5px; text-align:right;}
#footer .ftr_sel .googleLanguage {float:left;}
#footer .ftr_sel .fmly {float:left; margin-left:10px;}
#footer .ftr_sel .fmly select {height:24px;}

#footer .short_copy {padding:18px 0 40px; text-align:center;}





/* container */
#container {width:1050px; margin:0 auto; }
.rel-news img {margin-right:4px; vertical-align:middle;}

/* issue top news */
.issue-top-wrap {overflow:hidden; padding:0 49px; border:1px solid #e5e5e5;}
.issue-top-news {padding:15px 0 17px;}
.issue-top-news h1.sbj {overflow:hidden; height:51px; line-height:51px; font-weight:normal; font-size:34px; font-family:'hkGothicB', 'Malgun Gothic', '맑은 고딕', ’돋움’,Dotum, sans-serif; letter-spacing:-4px; text-align:center;}
.issue-top-news .thumb-grp {overflow:hidden; width:951px; height:170px; margin-left:-1px;}
.issue-top-news .thumb-grp div {position:relative; float:left; width:316px; height:170px; margin-left:1px;}
.issue-top-news .thumb-grp div:before {position:absolute; top:0; left:0; width:100%; height:100%; box-sizing:border-box; border:1px solid rgba(0,0,0,0.2); content:'';}
.issue-top-news .thumb-grp img { width:316px; height:170px;}
.issue-top-news .rel-news {overflow:hidden; width:100%; margin-top:6px;}
.issue-top-news .rel-news ul {overflow:hidden; width:990px; margin-left:-40px;}
.issue-top-news .rel-news li {overflow:hidden; text-overflow:ellipsis; white-space:nowrap; float:left; width:455px; height:21px; line-height:21px; margin-top:5px; padding-left:40px; font-size:15px;}
.issue-mdtop {overflow:hidden; width:100%; border-top:1px solid #ddd}
.issue-mdtop .thumb-news {float:left; width:280px; margin-left:45px; padding:12px 0 17px;}
.issue-mdtop .thumb-news .sbj {overflow:hidden; height:52px; margin-bottom:11px;}
.issue-mdtop .thumb-news:first-child {margin-left:0}
.issue-mdtop .thumb-news .thumb,
.issue-mdtop .thumb-news .thumb img {width:80px; height:60px;}
.issue-mdtop .thumb-news .read {overflow:hidden; height:60px}
.issue-mdtop .rel-news {overflow:hidden; width:100%; margin-top:7px;}
.issue-mdtop .rel-news li {overflow:hidden; width:100%; text-overflow:ellipsis; white-space:nowrap; float:left; height:21px; line-height:21px; margin-top:5px; font-size:15px;}

/* top-news */
.top-news {width:100%; margin-top:10px;}
.top-news .sbj {overflow:hidden; height:50px; line-height:50px; font-weight:normal; font-size:32px; font-family:'hkGothicB', 'Malgun Gothic', '맑은 고딕', ’돋움’,Dotum, sans-serif; letter-spacing:-5px; text-align:center;}
.top-news .thumb {width:660px;}
.top-news .thumb img {width:660px;/* height:180px;*/}
.top-news .thumb-grp {position:relative; overflow:hidden; width:660px; height:180px;}
.top-news .thumb-grp > a::before {position:absolute; top:0; left:0; width:100%; height:100%; box-sizing:border-box; border:1px solid rgba(0,0,0,0.2); content:'';}
.top-news .thumb-grp div {float:left; width:220px; height:180px;}
.top-news .thumb-grp img { width:220px; height:180px;}
.top-news .rel-news {overflow:hidden; width:100%; margin-top:6px;}
.top-news .rel-news ul {overflow:hidden; width:700px; margin-left:-40px;}
.top-news .rel-news li {overflow:hidden; text-overflow:ellipsis; white-space:nowrap; float:left; width:310px; height:21px; line-height:21px; margin-top:5px; padding-left:40px; font-size:15px;}


.top1-mdtop {overflow:hidden; width:100%; border-top:1px solid #ddd; margin-top:15px;}
.top1-mdtop .thumb-news {float:left; width:304px; margin-left:45px; padding:12px 0 0;}
.top1-mdtop .thumb-news .sbj {overflow:hidden; overflow:hidden; margin-bottom:8px; font-size:17px; line-height:22px;}
.top1-mdtop .thumb-news:first-child {margin-left:0}
.top1-mdtop .thumb-news .thumb,
.top1-mdtop .thumb-news .thumb img {width:80px; height:60px;}
.top1-mdtop .thumb-news .read {overflow:hidden; height:60px}
.top1-mdtop .rel-news {overflow:hidden; width:100%; margin-top:7px;}
.top1-mdtop .rel-news li {overflow:hidden; width:100%; text-overflow:ellipsis; white-space:nowrap; float:left; height:21px; line-height:21px; margin-top:5px; font-size:15px;}


/* top-news2 */
.top-news2 {width:100%; margin-top:10px;}
.top-news2::after {clear:both; display:block; content:'';}
.top-news2 .sbj {overflow:hidden; height:50px; line-height:50px; font-weight:normal; font-size:32px; font-family:'hkGothicB', 'Malgun Gothic', '맑은 고딕', ’돋움’,Dotum, sans-serif; letter-spacing:-5px; text-align:center;}
.top-news2 .thumb {float:left; width:320px; margin:0 15px 0 0;}
.top-news2.thumb-r .thumb {float:right; margin:0 0 0 15px;}
.top-news2.thumb-r .sbj {text-align:left;}
.top-news2 .thumb img {width:320px;}
.top-news2 .read {margin-bottom:5px; font-size:13px; color:#999; line-height:20px;}
.top-news2 .read a {color:#888;}
.top-news2 .read h2 {margin-bottom:5px; font-size:15px; line-height:20px; color:#222}
.top-news2 .rel-news {overflow:hidden;}
.top-news2 .read + .rel-news {margin-top:8px;}
.top-news2 .rel-news ul {overflow:hidden;}
.top-news2 .rel-news li {overflow:hidden; text-overflow:ellipsis; white-space:nowrap; height:21px; line-height:21px; margin-top:3px; font-size:15px;}

/* 속보 */
.quick-news {position:relative; overflow:hidden; width:100%; height:20px; margin-top:20px; line-height:20px; padding:10px 0; background-color:#e8e8e8; font-size:14px;}
.quick-news h1 {float:left; width:46px; padding-left:20px; }
.quick-news h1 .bar {margin-left:6px; font-weight:normal; color:#c6c6c6;}
.quick-news .bnr-quick {position:absolute; top:8px; right:20px;}
.quick-news .bnr-quick .ico {margin-right:10px;}
.quick-news .bnr-quick.ftzforum {top:0; right:0;}
.clsBannerScreen div {overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}

/* 중탑 */
.md-top-news {overflow:hidden; margin-top:20px; /*padding:14px 0 0; border-top:2px solid #222; */ /* border-bottom:1px solid #e5e4e5;*/}
.md-top-news .sbj {font-size:20px; font-weight:bold; line-height:28px;}
.md-top-news .sbj img {margin-right:4px; margin-bottom:2px; vertical-align:middle;}
.md-top-news .thumb {float:left; width:150px; height:113px; margin:0 15px 0 0;}
.md-top-news.thumb-r .thumb {float:right; margin:0 0 0 15px;}
.md-top-news .thumb img {width:150px; height:113px;}
.md-top-news .read {overflow:hidden; max-height:80px; margin-top:6px; font-size:14px; line-height:20px; color:#999;}
.md-top-news .read a {color:#888}
.md-top-news .rel-news {overflow:hidden; text-overflow:ellipsis; white-space:nowrap; margin-top:6px; font-size:16px; line-height:26px;}

.md-top-news1 .sbj {padding-top:8px;}
.md-top-news1.thumb-r .thumb {width:170px; height:128px;}
.md-top-news1 .thumb img {width:170px; height:128px;}

/* 중탑 2 */
.md-top-news2 {overflow:hidden; margin-top:10px;}
.md-top-news2 .thumb-news {float:left; width:320px; margin-left:20px; padding:12px 0 5px; border-top:2px solid #222; /* border-bottom:1px solid #e5e4e5; */}
.md-top-news2 .thumb-news .sbj {margin-bottom:11px;}
.md-top-news2 .thumb-news:first-child {margin-left:0}
.md-top-news2 .thumb-news .read {overflow:hidden; max-height:80px}

/* 썸네일 좌우 정렬 pie */
.thumb-news .sbj {font-size:20px; font-weight:bold; line-height:26px;}
.thumb-news .thumb {float:left; width:120px; height:90px; margin-right:12px;}
.thumb-news.thumb-r .thumb {float:right; margin:0 0 0 12px;}
.thumb-news .thumb img {width:120px; height:90px;}
.thumb-news .read {font-size:13px; line-height:20px; color:#999;}
.thumb-news .read a {color:#888}
.thumb-news .sns {margin-top:6px}
.thumb-news .sns a {vertical-align:top}

/* 특집모듈 */
.spacial-news {overflow:hidden; margin-top:15px; border:1px solid #ddd}
.spacial-news .bnr {position:relative; height:38px;}
.spacial-news .bnr a {display:block; padding:0 55px 0 18px; font-size:17px; line-height:38px; color:#457fff;}
.spacial-news .bnr a img {margin-left:-18px;}
.spacial-news .bnr span {display:block; padding:0 55px 0 18px; font-size:17px; line-height:38px; color:#457fff;}
.spacial-news .bnr button {position:absolute; top:0; right:0; overflow:hidden; border:none; cursor:pointer; text-align:left; text-indent:-9000px; font-size:0;}
.spacial-news .news-cnt {padding-bottom:12px; border-top:1px solid #ddd}
.spacial-news .photo-news {overflow:hidden; padding:15px 15px 0;}
.spacial-news .photo-news li {position:relative; float:left; width:201px; margin:0 4px;}
.spacial-news .photo-news .thumb {overflow:hidden; width:201px; height:146px;}
.spacial-news .photo-news .thumb img {width:201px; min-height:146px;}
.spacial-news .photo-news .sbj {position:absolute; bottom:0; left:0; overflow:hidden; width:185px; height:48px; padding:60px 8px 0; background:url(http://img.hankyung.com/img/bg_thumbSbj.png) repeat-x 0 100%; color:#fff; text-align:left; }
.spacial-news .photo-news .sbj span {display:block; overflow:hidden; width:100%; height:40px; line-height:20px; font-size:15px;}
.spacial-news .rel-news {overflow:hidden;}
.spacial-news .rel-news li {float:left; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; width:281px; margin-left:19px; line-height:20px; margin-top:6px; font-size:15px; font-weight:bold;}

/* 중탑 하단 배너 */
.bnr-mdnews {overflow:hidden; width:670px; margin-left:-9px; margin-top:17px; padding-bottom:1px;}
.bnr-mdnews:after {clear:both; display:block; content:'';}
.bnr-mdnews .bnr {float:left; width:214px; margin-left:9px;}
.bnr-mdnews .bnr img {width:100%;}

.bnr-mdnews.bnr-col-2 {margin-left:-10px;}
.bnr-mdnews.bnr-col-2 .bnr {width:325px; margin-left:10px;}
.bnr-mdnews.bnr-col-3 {margin-left:-9px;}
.bnr-mdnews.bnr-col-3 .bnr {width:214px; margin-left:9px;}
.bnr-mdnews.bnr-col-4 {margin-left:-8px;}
.bnr-mdnews.bnr-col-4 .bnr {width:159px; margin-left:8px;}

/* 리스트 상단 배너 */
.bnr-newslist {overflow:hidden; width:100%; padding:7px 0 13px; }
.bnr-newslist .bnr-lft {float:left; width:230px;}
.bnr-newslist .bnr-rgt {float:right; width:230px;}
.bnr-newslist img {width:230px;}

/* 뉴스 리스트 */
.news-grp {position:relative; padding-top:13px; margin-top:15px; padding-bottom:20px; border-top:1px solid #e5e5e5}
.news-grp2 {padding:20px 0 30px}
.news-grp3 {padding:16px 0 30px}

.news-item {margin-top:10px;}
.news-list.first .news-item:first-child {margin-top:0;}
.section-news .news-item .sbj {display:block; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.news-item .sbj {font-size:16px; font-weight:bold; line-height:26px;}
.news-item img {vertical-align:middle; margin-right:4px; margin-bottom:2px;}
.news-item img.ico-wcms-vod,
.news-item img.ico-vod {margin-left:4px; height:17px;}
.news-item.line {margin-top:18px; padding-top:18px; border-top:2px solid #222}
img.ico-wcms-vod,
img.ico-vod {height:18px !important; margin-left:4px; vertical-align:text-bottom;}

img.ico-wcms-box {height:16px !important; margin-right:4px; vertical-align:middle;}
img.ico-wcms-rel {height:5px !important; margin-right:4px; vertical-align:middle;}
img.ico-wcms-dot {height:3px !important; margin-right:4px; vertical-align:middle;}
.rel-news img.ico-wcms-box {vertical-align:text-bottom;}

.news-item .rel-news li {margin-top:4px; font-size:15px; line-height:20px;}
.news-list .thumb-news {margin-top:10px;}
.news-list .thumb-news:after {clear:both; display:block; content:'';}
.news-list .news-item .cate,
.news-list .thumb-news .cate,
.news-list .news-item .cate a,
.news-list .thumb-news .cate a {font-size:13px; font-weight:bold; line-height:18px; color:#457fff;}
.news-list .thumb-news .sbj {overflow:hidden; text-overflow:ellipsis; white-space:nowrap; margin-bottom:5px; font-size:16px;}
.news-list .thumb-news .sbj img {margin-right:4px; margin-bottom:2px; vertical-align:middle}
.news-list .thumb-news .thumb {float:left; width:107px; height:80px; margin-right:15px; margin-top:3px;}
.news-list .thumb-news .thumb img {width:107px; height:80px;}
.news-list .thumb-news .read {overflow:hidden; padding-top:3px; max-height:69px; font-size:14px; line-height:23px; color:#999;}
.news-list .thumb-news .read a {color:#888}
.news-list .thumb-news .rel-news {}
.news-list .thumb-news .rel-news li {overflow:hidden; text-overflow:ellipsis; white-space:nowrap; margin-top:4px; font-size:15px; line-height:22px;}
.news-list .thumb-news .rel-news li:first-child {margin-top:6px}
.news-list .thumb-news.md-highlight {margin-top:15px; padding:12px 0 15px; border-top:2px solid #222; border-bottom:1px solid #e5e4e5;}
.news-list .thumb-news.md-highlight .sbj {white-space:normal; font-size:16px; line-height:24px;}
.wcms .col-470 .news-list {}

.news-box {margin:10px 0; padding:12px 19px; background-color:#f1f1f1; border:1px solid #e5e4e5; border-top-color:#000}

.news-box .cate {display:block; color:#457fff; font-size:15px; font-weight:bold;}
.news-box .cate a {color:#457fff;}
.news-box .thumb-news {margin-top:0; padding-bottom:5px;}
.news-box .thumb-news:after {clear:both; display:block; content:'';}
.news-box .thumb-news .sbj {overflow:hidden; text-overflow:ellipsis; white-space:nowrap; margin-bottom:5px; font-size:17px;}
.news-box .thumb-news .sbj img {margin-right:4px; margin-bottom:2px; vertical-align:middle}
.news-box .thumb-news .thumb {float:left; width:107px; height:80px; margin-right:15px; margin-top:3px;}
.news-box .thumb-news .thumb img {width:107px; height:80px;}
.news-box .thumb-news .read {overflow:hidden; padding-top:3px; max-height:69px; font-size:14px; line-height:23px; color:#999;}
.news-box .thumb-news .read a {color:#888}
.news-box .thumb-news .rel-news {}
.news-box .thumb-news .rel-news li {overflow:hidden; text-overflow:ellipsis; white-space:nowrap; margin-top:4px; font-size:15px; line-height:22px;}
.news-box .thumb-news .rel-news li:first-child {margin-top:6px}
.news-box .news-item {margin-top:4px;}

.news-box.ele413 {padding:0; background-color:#f2f6ff; border:1px solid #d1dfff; border-top-color:#5d92ff;}
.news-box.ele413 .spc-tit {overflow:hidden; padding:10px 19px 9px; border-bottom:1px solid #d1dfff; font-size:15px; line-height:20px; color:#457fff; font-weight:bold;}
.news-box.ele413 .spc-tit:after {clear:both; display:block; content:'';}
.news-box.ele413 .spc-tit a {color:#457fff}
.news-box.ele413 .spc-tit .tit {float:left;}
.news-box.ele413 .spc-tit .info {float:right;}
.news-box.ele413 .spc-tit .info span {float:left; }
.news-box.ele413 .spc-tit .info .dday {padding-left:15px; margin-left:14px; border-left:1px solid #d4e2ff;}
.news-box.ele413 .thumb-news {padding:12px 19px 5px;}
.news-box.ele413 .thumb-news .sbj {font-size:20px; line-height:28px;}
.news-box.ele413 .news-item {padding:2px 19px 16px;}

/* 가운데 영역 */
.photo-news:first-child {margin-top:0}
.photo-news {margin-top:32px;}
.photo-news h1 {line-height:20px; margin-bottom:8px; text-align:center;}
.photo-news .thumb,
.photo-news .thumb img {width:150px; height:113px;}
.photo-news .sbj {margin-top:8px; text-align:center; line-height:20px;}

.photo-box-news:first-child {margin-top:0}
.photo-box-news {margin-top:19px;}
.photo-box-news h1 {line-height:20px; margin-bottom:8px; text-align:center;}
.photo-box-news .thumb {overflow:hidden; width:150px; height:84px;}
.photo-box-news .thumb img {width:150px; min-height:84px;}
.photo-box-news .thumb .ico {position:absolute; bottom:7px; right:7px;}
.photo-box-news .sbj {padding:7px 5px 6px; text-align:center; line-height:18px; font-size:14px; border:1px solid #e5e4e5; border-top:none;}
.photo-box-news .sbj .ln2 {display:block; overflow:hidden; max-height:36px;}
.photo-box-news .cate {display:block; width:80px; margin:0 auto; height:28px;}
.photo-box-news .cate .ico {display:block; overflow:hidden; width:100%; height:28px; text-indent:-9000px; text-align:left;}
.photo-box-news  a > .thumb::before {position:absolute; top:0; left:0; display:block; width:100%; height:100%; box-sizing:border-box; border:1px solid rgba(0,0,0,0.2); content:'';}

.vod-news .thumb .ico {position:absolute; bottom:7px; right:7px;}

.md-news-list1 {padding-top:0;}
.md-news-list1 .photo-news {margin-top:19px;}
.md-news-list1 .photo-news:first-child {margin-top:0;}
.md-news-list1 .photo-news .thumb,
.md-news-list1 .photo-news .thumb img {width:170px; height:128px;}
.md-news-list1 .photo-news .sbj {margin-top:6px; text-align:center; line-height:20px; padding: 0 12px;}

.md-vod-list1 .photo-box-news {margin-top:35px;}
.md-vod-list1 .photo-box-news:first-child {margin-top:0;}
.md-vod-list1 .photo-box-news .thumb {overflow:hidden; width:170px; height:95px;}
.md-vod-list1 .photo-box-news .thumb img {width:170px; min-height:95px;}
.md-vod-list1 .photo-box-news .sbj .ln2 {line-height:21px; max-height:42px;}

.md-vod-list1 .photo-box-news.ten .list a {display:block; margin-top:30px;}
.md-vod-list1 .photo-box-news.ten .list a:first-child {margin-top:0;}

.md-news-list {padding-top:7px;	}
.news-grp2 .md-news-list {padding-top:0;}
.news-grp2 .md-news-list .paging-pie {margin:20px auto 0;}
.news-grp2 .md-news-list.partnership {margin-top:25px;}
.news-grp2 .md-news-list.partnership .paging-pie {margin-top:13px;}
/* .news-grp2 .md-news-list ul {height:630px;} */
.news-grp2 .photo-news {margin-top:30px;}
.news-grp2 .photo-news:first-child {margin-top:0}
.md-bnr {margin-top:30px;}
.md-bnr .paging-pie {margin:10px auto 0;}


.md-news-list .list_thumb_item {position:relative; margin-top:25px; padding-top:28px;}
.md-news-list .list_thumb_item:first-child {margin-top:0}
.md-news-list .list_thumb_item .list_thumb_img {width:150px; height:103px;}
.md-news-list .list_thumb_item .opacity_border {display:block; position:absolute; top:28px; left:0; overflow:hidden; width:150px; height:103px; box-sizing:border-box;/* border:1px solid rgba(0,0,0,0.2);*/ text-align:left; text-indent:-9000px; font-size:0;}
.md-news-list .list_thumb_stit {display:block; position:absolute; top:0; left:0; width:100%; line-height:20px; margin-bottom:8px; text-align:center; font-weight:bold;}
.md-news-list .list_thumb_sbj {display:block; overflow:hidden; height:44px; margin-top:8px; text-align:center; line-height:22px;}

.partnership .thumb-news {position:relative;}
.partnership .thumb-news .thumb {float:none; width:100%; height:auto;}
.partnership .thumb-news .thumb img {width:100%; height:103px;}
.partnership .thumb-news .cate {display:block; width:100%; line-height:20px; margin-bottom:8px; text-align:center; font-weight:bold;}
.partnership .thumb-news .sbj {overflow:hidden; height:44px; margin-top:8px; text-align:center; line-height:22px; font-size:16px; font-weight:normal;}

/*
.news-grp2 .md-news-list.partner {margin-top:25px;}
.news-grp2 .md-news-list.partner .paging-pie {margin-top:13px;}
.photo-box-grp li:first-child {margin-top:0}
.photo-box-grp li {margin-top:19px;}
.photo-box-grp h1 {line-height:20px; margin-bottom:8px; text-align:center;}
.photo-box-grp .thumb,
.photo-box-grp .thumb img {width:150px; height:84px;}
.photo-box-grp .thumb .ico {position:absolute; bottom:7px; right:7px;}
.photo-box-grp .sbj {padding:7px 5px 6px; text-align:center; line-height:18px; font-size:14px; border:1px solid #e5e4e5; border-top:none;}
.photo-box-grp .sbj .ln2 {display:block; overflow:hidden; max-height:36px;}
.photo-box-grp .cate {display:block; margin:0 auto; height:28px; text-align:center; font-weight:bold;}
.photo-box-grp .cate .ico {display:block; overflow:hidden; width:100%; height:28px; text-indent:-9000px; text-align:left;}
.photo-box-grp  a > .thumb::before {position:absolute; top:0; left:0; display:block; width:100%; height:100%; box-sizing:border-box; border:1px solid rgba(0,0,0,0.2); content:'';}
*/

.land-market {margin-top:25px;}

/* 우측 탑 뉴스  */
.s-top-news {margin-top:13px;}
.s-top-news .thumb-news:after {clear:both; display:block; content:'';}
.s-top-news .thumb-news .sbj {margin-bottom:11px;}
.s-top-news .thumb-news:first-child {margin-left:0}
.s-top-news .thumb-news .read {overflow:hidden; max-height:80px}
.s-top-news .list {padding-top:6px;}
.s-top-news .list li {overflow:hidden; text-overflow:ellipsis; white-space:nowrap; line-height:30px;}

/* 모바일한경 수정1_20161031 */
.s-top-news .mobile_hk {margin:20px 0 10px 0;}
.s-top-news .mobile_hk .link li {float:left; width:140px; height:50px;}
.s-top-news .mobile_hk .link li.logo {width:50px;}
.s-top-news .mobile_hk:after {clear:both; display:block; content:'';}

/* 오피니언 */
.opinion {margin-top:16px;}
.opinion .thumb-news {width:100%;}
.opinion .thumb-news:after {clear:both; display:block; content:'';}
.opinion .list {padding-top:6px;}
.opinion li {overflow:hidden; text-overflow:ellipsis; white-space:nowrap; line-height:29px; letter-spacing:-1px;}
.opinion .cate {font-size:14px; color:#ff0009;}
.opinion h1 .opinion-tit {overflow:hidden; display:block; text-align:left; text-indent:-9000px; font-size:0;}
.jkjnews {margin-top:6px;}
.jkjnews h2 {line-height:24px; margin-bottom:7px; font-size:17px;}
.jkjnews h2 img {vertical-align:middle;}
.opinion .jkjnews .cate {display:block; font-size:16px; color:#888; font-weight:normal;}
.opinion .jkjnews .sbj {display:block; overflow:hidden; max-height:48px; line-height:24px; font-size:17px;}
.jkjnews.thumb-news .read {overflow:hidden; max-height:20px; text-overflow:ellipsis; white-space:nowrap;}
.jkjnews.thumb-news .thumb {margin-top:5px;}

.r-bnr > div {margin-top:10px;}
.bnr-lhy-letter {margin-top:10px;}

/* 우측 광고 */
.r-ad300 {width:300px; margin:20px auto 0;}
.r-ad300-2 {width:300px; margin:20px auto 0;}

/* 증권 탭 */
.r-tab {position:relative; overflow:hidden; width:100%; margin-top:30px; padding-bottom:20px; border-top:2px solid #222;}
.r-tab .r-tab-tit {position:absolute; top:0; height:35px; text-align:center;}
.r-tab .r-tab-tit a {display:block; line-height:24px; padding:6px 0 5px; border:1px solid #e5e5e5; border-top:none; border-left:none; background-color:#fff; font-weight:normal;}
.r-tab .r-tab-item:first-child .r-tab-tit a {border-left:1px solid #e5e5e5;}
.r-tab .r-tab-item.active .r-tab-tit a {font-weight:bold; border-bottom:none;}
.r-tab .r-tab-cnt {display:none; margin-top:44px;}
.r-tab .r-tab-item.active .r-tab-cnt {display:block}

.stock-tab .r-tab-tit {width:50%;}
.stock-tab .tab-itm1 .r-tab-tit {left:0;}
.stock-tab .tab-itm2 .r-tab-tit {left:50%;}
.k-stock-tb th,
.k-stock-tb td {text-align:left; padding:5px 10px; line-height:23px; border-bottom:1px solid #e5e5e5;}
.k-stock-tb td {font-size:15px;}
.k-stock-tb .num {text-align:right;}
.k-stock-tb .stock-num {text-align:right;}
.k-stock-tb .stock-arr {vertical-align:middle;}
.up .stock-num,
.up2 .stock-num {color:#ff0009;}
.dn .stock-num,
.dn2 .stock-num {color:#457fff;}
.stock-tab .info-txt {margin-top:8px; font-size:12px; color:#999; text-align:right;}

.stock-list {padding:3px 10px 0;}
.stock-list li {overflow:hidden; text-overflow:ellipsis; white-space:nowrap; line-height:24px; margin-top:3px;}

.stock-search {position:relative; overflow:hidden; width:100%; margin-top:17px;}
.stock-search:after {clear:both; display:block; content:'';}
.stock-search input[type=text] {width:286px; height:32px; padding:0 0 0 10px; background-color:#f1f1f1; border:1px solid #ddd;}
.stock-search .btn-stock-sch {position:absolute; top:0; right:0; overflow:hidden; border:none; margin:0; padding:0; text-align:left; text-indent:-9000px; font-size:0;}

/* 우측 배너 높이 조절용 */
.r-bnr-htype {margin-top:22px; padding:15px 0; background-color:#f8fcff; border:1px solid #e5e5e5; text-align:center;}

/* 우측 - 기획 시리즈 */
.thumb-list li {overflow:hidden; margin-top:15px; line-height:22px; letter-spacing:-1px;}
.thumb-list li:first-child {margin-top:0;}
.thumb-list li:after {clear:both; display:block; content:'';}
.thumb-list .thumb {float:left; width:73px; height:55px; margin-right:10px;}
.thumb-list .sbj {overflow:hidden; max-height:44px; margin-top:3px;}
.thumb-list li.sbj {overflow:hidden; text-overflow:ellipsis; white-space:nowrap; margin-top:12px;}
.thumb-list a:hover {text-decoration:none;}
.thumb-list a:hover .sbj,
.thumb-list a:hover .read {text-decoration:underline;}
.txt-list li {overflow:hidden; text-overflow:ellipsis; white-space:nowrap; line-height:30px;}

.photo-item {position:relative;}
.photo-item .thumb {width:100%; height:235px;}
.photo-item .thumb img {width:100%; height:235px;}
.photo-item .sbj {position:absolute; bottom:0; left:0; width:100%; height:47px; background-color:rgba(0,0,0,0.5);}
.photo-item .sbj span {display:block; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; line-height:23px; margin:12px 15px; color:#fff;}

.plan-series {margin-top:14px;}
.plan-series h1 {font-size:16px; line-height:23px; margin-bottom:5px;}
.plan-series .panel-grp {position:relative; overflow:hidden; width:350px; margin-left:-20px; padding-left:20px; border-top:1px solid #e5e5e5;}
.plan-series .panel {width:313px; margin-bottom:20px;}
.plan-series .panel:first-child {margin-top:20px;}
.plan-series .panel .thumb-list .thumb img {width:100%; height:100%;}
.plan-series .thumb-list li {margin-top:10px;}
.eco-cul .thumb-list .sbj,
.job-people .thumb-list .sbj {max-height:22px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.eco-cul .thumb-list .read,
.job-people .thumb-list .read {max-height:18px; line-height:18px; margin-top:3px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; font-size:13px; color:#888}

/* 가운데 3단 영역 */
.md-full-bg {width:100%; padding:15px 0; background-color:#f1f1f1; border-top:1px solid #222;}
.md-full-bg:after {clear:both; display:block; content:'';}
.hk-plus {position:relative; float:left; width:300px; margin-left:20px; }
.plus-pager {position:absolute; top:29px; left:0; overflow:hidden; width:300px; height:164px; border:1px solid #e5e5e5;}
.plus-pager img {width:100%;}
.mk-insight {position:relative; float:left; width:300px; padding-left:19px; margin-left:20px; border-left:1px solid #e5e5e5}
.photo-box {float:left; width:330px; padding-left:19px; margin-left:20px; border-left:1px solid #e5e5e5}
.hk-plus h1 {display:block; margin-bottom:10px; text-align:left; text-indent:-9000px; font-size:0;}
.mk-insight h1 a {display:block; margin-bottom:10px; text-align:left; text-indent:-9000px; font-size:0;}
.hk-plus .more {position:absolute; top:0; left:0; width:100%; height:29px; text-align:right; font-size:13px; line-height:22px;}
.md-full-bg .thumb-news:after {clear:both; display:block; content:'';}
.md-full-bg .thumb-news .thumb {width:79px; height:60px; margin-top:3px;}
.md-full-bg .thumb-news .thumb img {width:79px; height:60px;}
.md-full-bg .thumb-news .sbj {overflow:hidden; max-height:40px; font-size:16px; line-height:20px;}
.md-full-bg .thumb-news .read {overflow:hidden; text-overflow:ellipsis; white-space:nowrap; margin-top:3px; font-size:13px; color:#999}
.md-full-bg .thumb-news .read.ln2 {white-space:normal; max-height:40px;}
.md-full-bg .thumb-news a:hover {text-decoration:none;}
.md-full-bg .thumb-news a:hover .sbj,
.md-full-bg .thumb-news a:hover .read {text-decoration:underline;}
.md-full-bg .list {margin-top:3px}
.md-full-bg .list li {overflow:hidden; text-overflow:ellipsis; white-space:nowrap; line-height:30px; letter-spacing:-1px;}
.hk-plus .info-bnr {overflow:hidden; margin-top:9px; padding:3px 15px; background-color:#ff4e00; font-size:13px; line-height:19px; color:#fff; letter-spacing:-1px;}
.hk-plus .info-bnr:after {clear:both; display:block; content:'';}
.hk-plus .info-bnr a {float:left; color:#fff;}
.hk-plus .info-bnr span {float:right;}
.photo-box li {overflow:hidden; width:100%; margin-top:15px;}
.photo-box li:after {clear:both; display:block; content:'';}
.photo-box .thumb {float:left; width:80px; height:60px; margin-right:10px;}
.photo-box .thumb img {width:80px; height:60px;}
.photo-box .sbj {overflow:hidden; max-height:44px; margin-top:3px; line-height:22px;}
.photo-box .paging-pie {float:right; margin-top:9px;}


.hk-mb {position:relative; float:left; width:300px; margin-left:20px; }
.hk-mb h1 {display:block; margin-bottom:10px; text-align:left; text-indent:-9000px; font-size:0;}
/* 모바일한경 수정2_20161028 */
.hk-mb .more {position:absolute; top:0; right:40px; width:60px; height:29px; text-align:right; font-size:13px; line-height:22px;}
.hk-mb .more2 {position:absolute; top:0; right:0; width:31px; height:29px; text-align:right; font-size:13px; line-height:22px;}

.hk-mb .info-bnr {overflow:hidden; margin-top:9px; padding:3px 15px; background-color:#ff4e00; font-size:13px; line-height:19px; color:#fff; letter-spacing:-1px;}
.hk-mb .info-bnr:after {clear:both; display:block; content:'';}
.hk-mb .info-bnr a {float:left; color:#fff;}
.hk-mb .info-bnr span {float:right;}
.hk-mb .info-bnr1 {margin-top:10px;}


/* 관계사 포토 리스트 */
.dark-photo-grp {overflow:hidden; padding:18px 20px 20px; border-top:2px solid #ff0009; border-bottom:2px solid #222; background-color:#2e4254;}
.dark-photo-grp:after {clear:both; display:block; content:'';}
.dark-photo-grp.line-y-680 {background-image:url(http://img.hankyung.com/img/dot_1pxbluegray.gif);}
.photo-slide {position:relative; float:left; width:640px; height:480px;}
.photo-slide .thumb {width:100%; height:480px; background-color:#2e4254; text-align:center;}
.photo-slide .thumb img {max-width:640px; max-height:480px; width: auto; height: auto; vertical-align: middle;}
.photo-slide .thumb .md-valign {display: inline-block; width: 1px; margin: 0 -2px; height: 480px; vertical-align: middle;}
.photo-slide .thumb div {overflow:hidden;}
.photo-slide .img-item {width:641px;}
.photo-slide .slide-sbj {position:absolute; bottom:0; left:0; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; width:550px; height:40px; padding:60px 70px 0 20px; font-size:18px; font-weight:bold; line-height:30px; background:url(http://img.hankyung.com/img/bg_thumbSbj.png) repeat-x 0 100%; color:#fff;}
.photo-slide .sld-num {position:absolute; bottom:0; right:0; width:70px; height:40px; font-size:13px; color:#fff; text-align:center; line-height:30px; letter-spacing:0}
.photo-slide .sld-num .ico {margin-right:5px;}
.slide-paging .ico {position:absolute; top:50%; overflow:hidden; margin-top:-30px; text-align:left; text-indent:-9000px; font-size:0; white-space:nowrap;}
.slide-paging .ico.arr-sld-prev {left:0;}
.slide-paging .ico.arr-sld-next {right:0;}
.partner-comp {float:right; width:330px; }
.partner-comp dl {width:100%; margin-top:17px;}
.partner-comp dl:after {clear:both; display:block; content:'';}
.partner-comp dl:first-child {margin-top:0;}
.partner-comp dt {float:right; width:102px; margin-top:10px;}
.partner-comp dt .ico {display:block; text-align:left; text-indent:-9000px;}
.partner-comp dd {position:relative; float:left; width:214px;}
.partner-comp .thumb {width:214px; height:107px;}
.partner-comp .thumb img {width:214px; height:107px;}
.partner-comp .sbj {position:absolute; top:0; left:0; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; width:184px; height:27px; padding:80px 15px 0; background:url(http://img.hankyung.com/img/bg_thumbSbj.png) repeat-x 0 0; text-align:center; color:#fff; font-size:14px; line-height:20px;}
.partner-comp .ico-vod-play {position:absolute; top:20px; left:85px; overflow:hidden; text-align:left; text-indent:-9000px; font-size:0; z-index:99}

/* hei 추가 2016-01-07 */
.photo-grp.hei {border-top:2px solid #222; border-bottom:2px solid #222; }
.hei-itm {position:relative; overflow:hidden;}
.hei-itm .thumb:before {border:none;}
.hei-itm .thumb {overflow:hidden; width:100%;}
.hei-itm .thumb img {width:100%; transform:scale3d(1, 1, 1); transition:all 0.3s ease 0s;}
.hei-itm a:hover .thumb img {transform: scale3d(1.05, 1.05, 1);}
.hei-itm.photo1 a:hover .thumb img {transform: scale3d(1.02, 1.02, 1);}
.hei-itm.photo1,
.hei-itm.photo1 .thumb img {height:419px;}
.hei-itm.photo2,
.hei-itm.photo2 .thumb img {height:279px;}
.hei-itm.photo3,
.hei-itm.photo4 {float:left; width:210px; height:140px;}
.hei-itm .sbj {position:absolute; bottom:0; left:0; width:100%; padding:100px 0 14px; background:url(http://img.hankyung.com/img/bg_blank_136.png) repeat-x 0 100%; font-size:17px; line-height:22px; text-align:center; color:#fff;}
.hei-itm.photo1 .sbj {padding-bottom:23px; font-size:20px; line-height:30px;}
.hei-itm.photo3 .sbj,
.hei-itm.photo4 .sbj {font-size:14px; max-height:44px;}

.btm-sct-box {border:1px solid #e5e5e5; border-bottom-color:#b7b7b7; border-top:none; background-color:#f1f1f1;}
.btm-sct-box.newsrabbit {border-bottom:2px solid #222}
.btm-sct-box h1 {padding-top:16px; height:40px; text-align:center;}
.btm-sct-box .photo-list {overflow:hidden; margin:0 24px;}
.btm-sct-box .photo-list:after {clear:both; display:block; content:'';}
.btm-sct-box .photo-list li {float:left; width:230px; margin:0 10px 16px;}
.btm-sct-box .photo-list .thumb,
.btm-sct-box .photo-list .thumb img {width:230px; height:173px;}
.btm-sct-box .photo-list .sbj {overflow:hidden; text-overflow:ellipsis; white-space:nowrap; margin-top:13px; font-size:17px; font-weight:bold;}
.btm-sct-box .photo-list .read {overflow:hidden; max-height:40px; line-height:20px; margin-top:3px; font-size:13px; color:#999}
.btm-sct-box .photo-list a:hover {text-decoration:none}
.btm-sct-box .photo-list a:hover .sbj,
.btm-sct-box .photo-list a:hover .read {text-decoration:underline;}
/*
.btm-sct-box.snacker .photo-list .thumb,
.btm-sct-box.snacker .photo-list .thumb img {width:230px; height:148px;}
*/
/* 계열사 */
.grp-comm {overflow:hidden; padding:20px 55px 29px; text-align:center;}
.grp-comm.sty1 {padding:20px 35px 29px;}
.grp-comm ul {}
.grp-comm li {display:inline; display:inline-block; width:auto; padding:6px 30px; vertical-align:middle}
.grp-comm .list-sty1 li {padding:14px 14px 6px;}

.hk-service {overflow:hidden; border-top:1px solid #e5e4e5; border-bottom:1px solid #e5e4e5}
.hk-service:after {clear:both; display:block; content:'';}
.hk-service .poll {float:left; width:465px; height:22px; line-height:22px; padding:8px 0 8px 20px;}
.hk-service .poll li {float:left; background:url(http://img.hankyung.com/img/bar_1x11pxddd.gif) no-repeat 0 6px;}
.hk-service .poll li:first-child {background:none;}
.hk-service .poll li a {padding:0 42px; font-size:13px; font-weight:bold;}
.hk-service .poll li .ico {margin-right:4px;}
.hk-service .event-hk {float:right; width:522px; height:22px; line-height:22px; padding:8px 30px 8px 20px; border-left:1px solid #eee}
.hk-service:after,
.hk-service .poll:after,
.hk-service .event-hk:after {clear:both; display:block; content:'';}
.hk-service .event-hk dl {display:none; float:left; width:380px; font-size:13px;}
.hk-service .event-hk dt {float:left; width:40px; font-size:14px; font-weight:bold;}
.hk-service .event-hk dd {overflow:hidden; text-overflow:ellipsis; white-space:nowrap; margin-left:40px;}
.hk-service .event-hk ul {float:right;}
.hk-service .event-hk li {float:left; background:url(http://img.hankyung.com/img/bar_1x11pxddd.gif) no-repeat 0 6px}
.hk-service .event-hk li:first-child {background:none;}
.hk-service .event-hk li a {display:block; padding:0 8px; font-size:13px;}

.hk-service.v2 .poll {width:860px; padding-left:0;}
.hk-service.v2 .poll li a {padding:0 35px;}
.hk-service.v2 .poll li.ev-not {overflow:hidden; width:450px; text-overflow:ellipsis; white-space:nowrap;}
.hk-service.v2 .poll li.ev-not a {padding-right:10px; }
.hk-service.v2 .poll li.ev-not a.txt {padding-left:0; font-weight:normal}
.hk-service.v2 .event-hk { width:auto; padding-right:35px; border:none;}

.btm-box {overflow:hidden; padding:0 0 30px 0; border:1px solid #e5e5e5; border-top:none; border-bottom:2px solid #222}
.btm-box:after {clear:both; display:block; content:'';}
.btm-box-l {float:left; width:290px; padding-left:35px;}
.btm-box-r {float:right; width:280px; padding:0 80px 0 0;}
.bd-pie {margin-top:28px; font-size:13px; line-height:20px;}
.bd-pie h1 {font-weight:bold;}
.bd-pie li {overflow:hidden; text-overflow:ellipsis; white-space:nowrap; line-height:19px; margin-top:5px;}
.ev-bnr {position:relative; float:left; width:290px; padding-left:40px; margin-top:28px; font-size:13px;}
.ev-bnr h1 {padding:2px 0 5px; line-height:20px;}
.ev-bnr li {float:left; width:140px; margin-left:10px;}
.ev-bnr li:first-child {margin-left:0;}
.ev-bnr .paging-pie {position:absolute; top:0; right:0;}

.ad_ftr {width:1050px; margin:0 auto; padding:10px 0;}
.ad_ftr iframe {vertical-align:top}

.mb_btn {width:1050px; margin:0 auto;}
.mb_btn a {display:block; padding:15px 50px; border:2px solid #ddd; text-align:center; font-size:1.5em;}


/* 올림픽 */
.br-rio2016 .dday .dday_d,
.br-rio2016 .dday .num0,
.br-rio2016 .dday .num1,
.br-rio2016 .dday .num2,
.br-rio2016 .dday .num3,
.br-rio2016 .dday .num4,
.br-rio2016 .dday .num5,
.br-rio2016 .dday .num6,
.br-rio2016 .dday .num7,
.br-rio2016 .dday .num8,
.br-rio2016 .dday .num9 {background-image:url('http://olympic.hankyung.com/img/rio2016/mobile/ico_dday_all.png'); background-repeat: no-repeat; text-align:left; text-indent:-9000px; font-size:0; white-space: nowrap;}
.br-rio2016 {position:relative; overflow:hidden; height:40px; background:url('http://olympic.hankyung.com/img/rio2016/web/w_bg_viewSpc1.gif') no-repeat right 0 #5bba47; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;}
.br-rio2016 .txt-dt {position:absolute; top:12px; left:73px; color:#fff; font-size:14px; line-height:20px; letter-spacing:0;}
.br-rio2016 .txt-dt span {padding-left:3px;}
.br-rio2016.medal1 .txt-dt span {padding-left:0;}
.br-rio2016.medal1 {overflow:hidden; background:url('http://olympic.hankyung.com/img/rio2016/web/w_bg_viewSpc2.gif') no-repeat right 0 #5bba47; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;}
.br-rio2016 a {display:block; overflow:hidden; width:615px; height:40px; }
.br-rio2016 .logo {position:absolute; top:7px; left:20px; height:28px;}
.br-rio2016 .logo span {display:block; width:47px; height:27px; background:url('http://olympic.hankyung.com/img/rio2016/web/logo1.png') no-repeat 0 0 ;  text-align:left; text-indent:-9000px; font-size:0; white-space: nowrap;}
.br-rio2016 .dday {position:absolute; top:9px; right:45px;}
.br-rio2016 .dday span {display:block; float:left; margin-left:2px;}
.br-rio2016 .dday .dday_d {width:23px; height:24px; background-position: 0 0;}
.br-rio2016 .dday .num-sty {width:24px; height:24px;}
.br-rio2016 .dday .num0 {background-position: -23px 0;}
.br-rio2016 .dday .num1 {background-position: -48px 0;}
.br-rio2016 .dday .num2 {background-position: -73px 0;}
.br-rio2016 .dday .num3 {background-position: -98px 0;}
.br-rio2016 .dday .num4 {background-position: -123px 0;}
.br-rio2016 .dday .num5 {background-position: -148px 0;}
.br-rio2016 .dday .num6 {background-position: -173px 0;}
.br-rio2016 .dday .num7 {background-position: -198px 0;}
.br-rio2016 .dday .num8 {background-position: -223px 0;}
.br-rio2016 .dday .num9 {background-position: -248px 0;}
.br-rio2016 .ioc-btn {position:absolute; top:0; right:3px; width:40px; height:40px; border:none; text-align:left; text-indent:-9000px; font-size:0; white-space: nowrap;}
.br-rio2016 .btn-open {background:url('http://olympic.hankyung.com/img/rio2016/web/ico_more_arrUpDn2.png') no-repeat 13px 15px;}
.br-rio2016 .btn-close {background:url('http://olympic.hankyung.com/img/rio2016/web/ico_more_arrUpDn2.png') no-repeat -31px 15px;}

.br-rio2016 .txt-day {position:absolute; top:10px; right:45px; font-size:14px; line-height:20px; color:#fff;}
.medal-list {overflow:hidden; position:absolute; top:10px; right:42px; width:177px; text-align:center;}
.medal-list .md-txt {float:left; width:75px; font-size:14px; line-height:20px; color:#fff;}
.medal-list .md-txt strong {}
.medal-list .md-ranking {overflow:hidden; float:left; width:102px; font-size:12px; line-height:20px; font-weight:bold}
.medal-list .md-ranking li {float:left; width:31px; padding-right:3px;}
.medal-list .md-ranking li.gold {color:#888000;}
.medal-list .md-ranking li.silver {color:#888888;}
.medal-list .md-ranking li.copper {color:#a67023;}


.spacial-news .rio-news-cnt {padding-bottom:5px; border-top:1px solid #ddd}
.spacial-news .rio-news-cnt .img-list {position:relative; float:left; width:283px; margin:15px 10px 0 19px;}
.spacial-news .rio-news-cnt .img-list .thumb {overflow:hidden; width:283px; height:170px;}
.spacial-news .rio-news-cnt .img-list .thumb img {width:283px; min-height:170px;}
.spacial-news .rio-news-cnt .img-list .sbj {position:absolute; bottom:0; left:0; overflow:hidden; width:263px; height:60px; padding:60px 10px 0; background:url(http://img.hankyung.com/img/bg_thumbSbj.png) repeat-x 0 100%; color:#fff; text-align:left; }
.spacial-news .rio-news-cnt .img-list .sbj span {display:block; overflow:hidden; width:100%; height:48px; line-height:24px; font-size:17px;}
.spacial-news .rio-news-cnt .txt-list {overflow:hidden; float:right; width:327px; margin:15px 19px 0 0;}
.spacial-news .rio-news-cnt .txt-list li {overflow:hidden; margin-bottom:10px; height:80px;}
.spacial-news .rio-news-cnt .txt-list .list {}
.spacial-news .rio-news-cnt .txt-list .list.last {border-bottom:none;}
.spacial-news .rio-news-cnt .txt-list .sbj {height:72px; margin-bottom:3px; font-size:17px; line-height:24px; letter-spacing:-1px; white-space:normal; color:#222222;}
.spacial-news .rio-news-cnt .txt-list .thumb {overflow:hidden; position:relative; float:left; width:133px; height:80px; margin-right:10px;}
.spacial-news .rio-news-cnt .txt-list .thumb img {width:133px; height:80px; vertical-align:top;}
.spacial-news .rio-news-cnt .txt-list .thumb .imgFrame {position:absolute; top:0; left:0; width:131px; height:78px;  border:1px solid #000; opacity:0.12;}

.spacial-news .rio-news-cnt .txt-list .sbj.sty1 {overflow:hidden; height:46px;}
.txt-list .issue-tag {overflow:hidden;}
.txt-list .issue-tag li {float:left; padding-right:5px; font-size:14px;}
.txt-list .issue-tag li a {display:block; color:#457fff;}

.traffic-news {position:relative; margin:7px 0 ; border:1px solid #ddd; background:#fff; color:#222; z-index:999;}
.traffic-news .tra-title {position:relative; overflow:hidden; padding:6px 15px 6px 20px; font-size:17px; line-height:26px; cursor:pointer;}
.traffic-news .tra-title h1 {width:200px; padding-left:32px; background:url(http://img.hankyung.com/img/traffic_all.png) no-repeat 0 10px;}
.traffic-news .tra-title .txt-info {position:absolute; top:5px; right:45px; font-size:12px; line-height:26px; color:#777}
.traffic-news .ioc-btn {position:absolute; top:11px; right:13px; width:15px; height:15px; border:none; text-align:left; text-indent:-9000px; font-size:0; white-space: nowrap;}
.traffic-news .btn-open {background:url('http://img.hankyung.com/img/traffic_all.png') no-repeat -297px -8px;}
.traffic-news .btn-close {background:url('http://img.hankyung.com/img/traffic_all.png') no-repeat -266px -8px;}
.traffic-news .trf-grp {position:absolute; top:39px; left:-1px; width:431px; padding:5px 19px 5px 20px; border-left:1px solid #ccc; border-right:1px solid #ccc; background:#fff; border-bottom:1px solid #ccc;}
.traffic-news .trf-grp .trf-itm {position:relative; padding:6px 59px; background-color:#fff; border-bottom:1px solid #d6d6d6;}
.traffic-news .trf-grp .trf-itm .start,
.traffic-news .trf-grp .trf-itm .end {position:absolute; top:50%; width:52px; height:30px; margin-top:-15px; font-weight:bold; font-size:15px; line-height:30px; text-align:center;}
.traffic-news .trf-grp .trf-itm .start {left:7px;}
.traffic-news .trf-grp .trf-itm .end {right:7px;}
.traffic-news .trf-grp .trf-itm .data-bar {width:100%; padding:1px 0 2px;}
.traffic-news .trf-grp .trf-itm .data-bar .time-data {text-align:center; font-size:13px; font-weight:bold; letter-spacing:0;}
.traffic-news .trf-grp .trf-1 .time-data {color:#00cc0e;}
.traffic-news .trf-grp .trf-2 .time-data {color:#ffa200;}
.traffic-news .trf-grp .trf-3 .time-data {color:#ff0000;}
.traffic-news .trf-grp .data-bar .bar {width:310px; height:9px; background-image:url(http://img.hankyung.com/img/traffic_all.png); background-repeat:no-repeat;}
.traffic-news .trf-grp .up.trf-1 .bar {background-position:0 -65px;}
.traffic-news .trf-grp .up.trf-2 .bar {background-position:0 -46px;}
.traffic-news .trf-grp .up.trf-3 .bar {background-position:0 -27px;}
.traffic-news .trf-grp .dn.trf-1 .bar {background-position:0 -133px;}
.traffic-news .trf-grp .dn.trf-2 .bar {background-position:0 -113px;}
.traffic-news .trf-grp .dn.trf-3 .bar {background-position:0 -94px;}
.traffic-news .trf-grp .trf-note {padding:5px 19px 5px 20px; font-size:12px; line-height:18px; color:#777; letter-spacing:0;}

/* 1609 */
.ico1 {display:inline-block; overflow:hidden; background-image:url(http://img.hankyung.com/img/icon_main1609.png); background-repeat:no-repeat; font-size: 0; white-space: nowrap; text-indent: -9000px; text-align: left;}
.ico1.arr-more-black {width:4px; height:12px; background-position:0px -108px; vertical-align:middle;}
.ico1.stop {width:24px; height:22px; background-position:0px 0; vertical-align:middle;}
.ico1.play {width:24px; height:22px; background-position:-24px 0; vertical-align:middle;}
.ico1.stop1 {width:24px; height:22px; background-position:0px -81px; vertical-align:middle;}
.ico1.play1 {width:24px; height:22px; background-position:-24px -81px; vertical-align:middle;}
.ico1.unfold {width:25px; height:22px; background-position:0px -27px; vertical-align:middle;}
.ico1.fold {width:25px; height:22px; background-position:-25px -27px; vertical-align:middle;}
.ico1.prev {width:23px; height:22px; background-position:0px -54px; vertical-align:middle;}
.ico1.next {width:23px; height:22px; background-position:-22px -54px; vertical-align:middle;}

.ico1.stop:hover {width:24px; height:22px; background-position:-195px -46px; vertical-align:middle;}
.ico1.play:hover {width:24px; height:22px; background-position:-219px -46px; vertical-align:middle;}
.ico1.stop1:hover {width:24px; height:22px; background-position:-195px -127px; vertical-align:middle;}
.ico1.play1:hover {width:24px; height:22px; background-position:-219px -127px; vertical-align:middle;}
.ico1.unfold:hover {width:25px; height:22px; background-position:-195px -73px; vertical-align:middle;}
.ico1.fold:hover {width:25px; height:22px; background-position:-220px -73px; vertical-align:middle;}
.ico1.prev:hover {width:23px; height:22px; background-position:-195px -100px; vertical-align:middle;}
.ico1.next:hover {width:23px; height:22px; background-position:-217px -100px; vertical-align:middle;}

.ico1.qk-price {display: inline-block; width:39px; height:30px; margin-right:8px; background-position:-156px -1px; vertical-align:middle;}
.ico1.qk-market {display: inline-block; width:39px; height:30px; margin-right:8px; background-position:-156px -35px; vertical-align:middle;}
.ico1.qk-briefing {display: inline-block; width:39px; height:30px; margin-right:8px; background-position:-156px -68px; vertical-align:middle;}
.ico1.qk-weather {display: inline-block; width:39px; height:30px; margin-right:8px; background-position:-156px -102px; vertical-align:middle;}
.ico1.gametoc {width:98px; height:30px; background-position:-53px 0; vertical-align:middle;}
.ico1.bntnews {width:98px; height:30px; background-position:-53px -35px; vertical-align:middle;}
.ico1.autotimes {width:98px; height:30px; background-position:-53px -70px; vertical-align:middle;}
.ico1.kizmom {width:98px; height:30px; background-position:-53px -105px; vertical-align:middle;}
.ico1.asia10 {width:98px; height:30px; background-position:-53px -140px; vertical-align:middle;}
.issu-tg .prev .ico1 {display:block; width:15px; height:30px; background-position: 0px -127px; vertical-align:middle;}
.issu-tg .next .ico1 {display:block; width:15px; height:30px; background-position: -20px -127px; vertical-align:middle;}

.labit .prev .ico1 {display:block; width:20px; height:42px; background-position: -196px 0; vertical-align:middle;}
.labit .next .ico1 {display:block; width:20px; height:42px; background-position: -226px 0; vertical-align:middle;}

.ico1.bg-nav-all {display:inline-block; width:15px; height:16px; margin-right:5px; background-position: -9px -108px; vertical-align:middle;}

.labit .photo-item {position:relative;}
.labit .photo-item a {position:relative;}
.labit .photo-item .thumb {width:330px; height:248px;}
.labit .photo-item .thumb img {width:100%; height:248px;}
.labit .photo-item .sbj {position:absolute; bottom:0; left:0; width:100%; height:47px; background-color:rgba(0,0,0,0.5);}
.labit .photo-item .sbj span {display:block; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; line-height:23px; margin:12px 15px; color:#fff; text-align:center;}
.labit .photo-item .paging_arr {overflow:visible; }
.labit .photo-item .paging_arr button {border:none; background:none;}
.labit .photo-item .paging_arr .prev {width:42px; height:42px; padding-left:12px; position:absolute; top:50%; left:0; margin-top:-10px; z-index:999;}
.labit .photo-item .paging_arr .next {width:42px; height:42px; padding-left:6px; position:absolute; top:50%; right:0; margin-top:-10px; z-index:999;}

/* 속보 */
.quick-news1 {position:relative; width:658px; height:20px; margin:20px 0 0; line-height:20px; padding:10px 0; border:1px solid #ccc; background-color:#fff; font-size:14px; z-index:1; letter-spacing:0;}
.quick-news1 h1 {float:left; width:35px; padding-left:20px; }
.quick-news1 #roll_realtime {width:465px; margin-left:55px;}
.quick-news1 #roll_realtime a {position:relative; float:left; white-space:nowrap; max-width:450px; padding-right:15px;}
.quick-news1 #roll_realtime a .sbj {float:left; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; max-width:450px; letter-spacing:-1px;}
.quick-news1 #roll_realtime a:hover {text-decoration:none;}
.quick-news1 #roll_realtime a:hover .sbj {text-decoration:underline;}
.quick-news1 button {overflow:hidden; float:left; width:24px; height:21px; margin:0; padding:0; border:none; background:none; vertical-align:middle; text-align:left; text-indent:-9000px; font-size:0; cursor:pointer;}
.quick-news1 .arr-more-black {position:absolute; top:7px; right:0;}
.quick-news1 .btn-quick {position:absolute; top:8px; right:10px;}
.quick-news1 .btn-quick .disNone {display:none;}
.quick-news1 .btn-quick .quick-all {position:relative; }
.quick-news1 .btn-quick .quick-all .list-unfold {}
.quick-news1 .btn-quick .quick-all .list-fold {position:absolute; top:0; right:24px; width:70px;}
.quick-news1 .fold-all {position:absolute; top:39px; left:-1px; width:658px; border:1px solid #ccc; background:url(/img/dot_2pxe7.gif) repeat-y 31px 0 #f3f3f3; z-index:999; box-shadow: 0 3px 5px rgba(0, 0, 0, .2)}
.quick-news1 .fold-all .qb-fold-list {overflow:hidden; padding:5px 33px 15px 49px;}
.quick-news1 .fold-all .qk-list-all {overflow:hidden;  padding:32px 0 0 8px;}
.quick-news1 .fold-all .qk-list-all li {float:left; width:140px; margin-bottom:28px; font-size:14px;}
.quick-news1 .fold-all .qk-list-all li a {display:block; line-height:30px;}

.quick-news1 .thumb-news-list {position:relative; width:545px; margin-top:10px; padding-right:29px; border:1px solid #ddd; background-color:#fff;}
.quick-news1 .thumb-news-list:after {clear:both; display:block; content:'';}
.quick-news1 .thumb-news-list a:hover {text-decoration:none;}
.quick-news1 .thumb-news-list a:hover .sbj {text-decoration:underline;}
.quick-news1 .thumb-news-list .q-time {position:absolute; top:0; left:0; width:69px; height:100%; border-right:1px solid #ddd; text-align:center; font-size:13px; font-weight:bold; color:#999}
.quick-news1 .thumb-news-list .q-time span {position:absolute; top:50%; left:-23px; width:69px; height:20px; padding-left:23px; line-height:20px; margin-top:-10px; background:url(/img/icon_quick_time.png) no-repeat 0 50%;}
.quick-news1 .thumb-news-list .sbj {overflow:hidden; max-height:40px; margin:13px 0 12px 89px; font-size:14px; line-height:20px; vertical-align: middle; .display:block; .float:left; letter-spacing:-1px;}
.quick-news1 .thumb-news-list .sbj span {display:inline-block;}
.quick-news1 .thumb-news-list .sbj:after {display:inline-block; width:1px; height:40px; margin-right:-1px; vertical-align:middle; content:'';}
/* .quick-news1 .thumb-news-list .sbj.img {width:335px;} */
.quick-news1 .thumb-news-list .thumb {float:right; width:60px; height:45px; margin:10px 0 10px 15px; vertical-align: middle; .display:block; .float:left;}
.quick-news1 .thumb-news-list .thumb img {width:60px; height:45px;}
.quick-news1 .thumb-news-list .arr-more-black {top:50%; right:13px; margin-top:-6px;}
.bt22 .mk-insight,
.bt22 .photo-box {height:175px; padding-top:5px;}

.r-news-list {}
.r-news-list h1 {font-size:16px; line-height:23px; margin-bottom:5px;}
.r-news-list .labit { margin:20px 0 40px;}
.r-news-list .labit .photo-item .sbj {position:absolute; bottom:0; left:0; width:100%; padding:100px 0 0; background:url(http://img.hankyung.com/img/bg_blank_136.png) repeat-x 0 100%;}
.r-news-list .r_ad_rec300 {overflow: hidden; width:298px; height:598px; margin:0 auto 40px; border:1px solid #949494;}
.r-news-list .r-list-sty {overflow:hidden; width:340px; margin:0 0 30px -10px;}
.r-news-list .r-list-sty .thumb-news {float:left; width:160px; margin-left:10px;}
.r-news-list .r-list-sty .thumb-news .thumb {float:left; width:160px; height:120px;}
.r-news-list .r-list-sty .thumb-news .thumb img {width:160px; height:120px;}
.r-news-list .r-list-sty .thumb-news .sbj {float:left; padding:0 2px; margin-top:5px; font-size:16px; line-height:20px; font-weight: normal;}

.r-news-list .r-list-sty1 {overflow:hidden; width:340px; margin:0 0 30px -10px;}
.r-news-list .r-list-sty1 h1 {margin-left:10px;}
.r-news-list .r-list-sty1 .thumb-news {float:left; width:160px; margin-left:10px;}
.r-news-list .r-list-sty1 .thumb-news .thumb {float:left; width:160px; height:120px;}
.r-news-list .r-list-sty1 .thumb-news .thumb img {width:160px; height:120px;}
.r-news-list .r-list-sty1 .thumb-news .sbj {float:left; padding:0 2px; margin-top:5px; font-size:16px; line-height:20px; font-weight: normal;}

.hk-service.v3 .poll {width:800px;}
.hk-service.v3 .poll li {overflow:hidden; float:left; padding-right:10px; text-overflow:ellipsis; white-space:nowrap; background:none;}
.hk-service.v3 .poll li a {padding:0 10px 0 15px; }
.hk-service.v3 .poll li a.txt {padding-left:0; font-weight:normal}
.hk-service.v3 .event-hk {width:170px; border:none;}

.grp-comm.sty2 {padding: 20px 35px 29px; border-top:1px solid #222;}

.issu-tg {position:relative;}
.issu-tg h1 {text-align:center; padding-bottom:8px;}
.issu-tg .is-list {overflow:hidden; width:850px; max-height:148px; min-height:42px; margin:0 auto; text-align:center; font-size:14px;}
.issu-tg .is-list a {display:inline-block; padding:5px 15px 7px; margin:5px; border:1px solid #99b9ff; border-radius:14px; background:#fff; *padding:1px 16px 3px; color:#457fff;}
.issu-tg .is-list a:hover {background:#ebf5ff;}
.issu-tg .paging_arr button {position:absolute; top:50%; margin-top:-45px; border:none; background:#f1f1f1;}
.issu-tg .paging_arr .prev {width:55px; height:90px; padding-left:17px; left:0; }
.issu-tg .paging_arr .next {width:55px; height:90px; padding-left:17px; right:0;}

.all-btm-rolling {position:relative; padding:3px 0 0;}
.all-btm-rolling .rolling-list {overflow:hidden; width:1000px; margin-left:-20px; padding-left:35px;}
.all-btm-rolling .rolling-list ul {overflow:hidden; width:200%;}
.all-btm-rolling .rolling-list ul li {float:left; width:180px; margin-left:20px;}
.all-btm-rolling .rolling-list ul li .cate { text-align:center; margin-bottom:4px;}
.all-btm-rolling .rolling-list ul li .thumb {overflow:hidden; width:180px; height:135px;}
.all-btm-rolling .rolling-list ul li .thumb img {width:180px; min-height:135px;}
.all-btm-rolling .rolling-list ul li .sbj {padding:5px 5px 0; text-align:center;}
.all-btm-rolling .paging_arr button {border:none; background:none;}
.all-btm-rolling .paging_arr .prev {width:55px; height:150px; padding-left:17px; position:absolute; top:34px; left:0; }
.all-btm-rolling .paging_arr .next {width:55px; height:150px; padding-left:17px; position:absolute; top:34px; right:0;}

.r-news-list-sty {margin:0 0 30px 20px; width:560px;}
.r-news-list-sty h1 {margin-bottom:7px;}
.r-news-list-sty .hk-video {margin-top:25px;}
.r-news-list-sty .hk-video .vod-all {overflow:hidden;}
.r-news-list-sty .hk-video .vod-all .if-vod {width:559px; height:315px; margin-bottom:2px;}
.r-news-list-sty .hk-video .vod-all .vod-list {overflow:hidden; width:561px; margin-left:-2px;}
.r-news-list-sty .hk-video .vod-all .vod-list .vod-box {overflow:hidden; position:relative; float:left; width:185px; height:104px; margin-left:2px;}
.r-news-list-sty .hk-video .vod-all .vod-list .vod-box img {width:185px; min-height:104px;}
.r-news-list-sty .hk-video .vod-all .vod-list .vod-box .thumb-vod {position:absolute; bottom:7px; right:7px;}

.r-news-list-sty .hk-hei {margin-top:24px; border-bottom:1px solid #e6e6e6;}
.r-news-list-sty .hk-hei .phto-box {overflow:hidden; width:580px; margin-left:-20px; }
.r-news-list-sty .hk-hei .phto-box li {overflow:hidden; width:270px; float:left; margin:0 0 20px 20px;}
.r-news-list-sty .hk-hei .phto-box li:after {clear:both; display:block; content:'';}
.r-news-list-sty .hk-hei .phto-box .thumb {float:left; width:80px; height:53px; margin-right:10px;overflow:hidden;}
.r-news-list-sty .hk-hei .phto-box .thumb img {width:100%; height:auto;}
.r-news-list-sty .hk-hei .phto-box .sbj {overflow:hidden; width:170px; max-height:44px; margin-top:3px; line-height:22px;}
.r-news-list-sty .hk-hei .phto-box .paging-pie {float:right; margin-top:9px;}


.r-news-list-sty .hk-sancker {margin-top:24px;}
.r-news-list-sty .hk-sancker .sancker-list-all {overflow:hidden; padding-bottom:10px; border-bottom:1px solid #e6e6e6;}
.r-news-list-sty .hk-sancker .phto-box {overflow:hidden; float:left; width:290px;}
.r-news-list-sty .hk-sancker .phto-box li {overflow:hidden; width:270px; float:left; margin:0 0 11px 0;}
.r-news-list-sty .hk-sancker .phto-box li:after {clear:both; display:block; content:'';}
.r-news-list-sty .hk-sancker .phto-box .thumb {float:left; overflow:hidden; width:80px; height:60px; margin-right:10px;}
.r-news-list-sty .hk-sancker .phto-box .thumb img {width:80px; min-height:60px;}
.r-news-list-sty .hk-sancker .phto-box .sbj {overflow:hidden; width:170px; max-height:44px; margin-top:3px; line-height:22px;}
.r-news-list-sty .hk-sancker .phto-box .paging-pie {float:right; margin-top:9px;}
.r-news-list-sty .hk-sancker .pht-item {float:left; width:270px;}
.r-news-list-sty .hk-sancker .pht-item {position:relative;}
.r-news-list-sty .hk-sancker .pht-item .thumb {width:100%; height:203px;}
.r-news-list-sty .hk-sancker .pht-item .thumb img {width:100%; height:203px;}
.r-news-list-sty .hk-sancker .pht-item .sbj {position:absolute; bottom:0; left:0; width:100%; padding:100px 0 0; background:url(http://img.hankyung.com/img/bg_blank_136.png) repeat-x 0 100%;}
.r-news-list-sty .hk-sancker .pht-item .sbj span {display:block; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; line-height:23px; margin:12px 15px; color:#fff;}


.r-news-list-sty .hk-bnt {margin-top:24px;}
.r-news-list-sty .hk-bnt .lst_img2 {overflow:hidden; margin-left:-2px; *zoom:1;}
.r-news-list-sty .hk-bnt .lst_img2 li {float:left;}
.r-news-list-sty .hk-bnt .lst_img2 li .img_border {display:none; position:absolute; top:0; right:0; bottom:0; left:0; border:1px solid #000; opacity:.03;filter:alpha(opacity=3);}
.r-news-list-sty .hk-bnt .img_area {*float:left; position:relative; _overflow:hidden;}
.r-news-list-sty .hk-bnt .thumb {*float:left; overflow:hidden; display:block; height:180px; text-align:center; text-decoration:none; white-space:nowrap; *zoom:1;}
/* .r-news-list-sty .hk-bnt .thumb img {vertical-align:middle; height:150px;} */
.r-news-list-sty .hk-bnt .thumb .data_img {display:block; display:none\9; position:absolute; left:0; bottom:0; right:0; height:40px; font-size:12px; line-height:12px; color:#fff; opacity:0; transition:opacity .1s ease; -webkit-transition:opacity .1s ease; *zoom:1;}
.r-news-list-sty .hk-bnt .thumb .data_txt {overflow:hidden; position:relative; display:block; height:13px; padding:14px 11px 0; line-height:14px; *zoom:1;}
.r-news-list-sty .hk-bnt .thumb .data_txt .tit {float:left; white-space:normal;}
.r-news-list-sty .hk-bnt .thumb .data_txt .size {float:right; opacity:.6; filter:alpha(opacity=60);}
.r-news-list-sty .hk-bnt .thumb .data_bg {position:absolute; left:0; top:0; bottom:0; right:0; display:block; width:100%; height:100%; background-color:#000; opacity:.65;filter:alpha(opacity=65); *zoom:1;}


/* 동영상 영역 추가 */
.vod-wide {display:none; position:relative; text-align:center; border-bottom:1px solid #efefef; padding:18px 0 17px;}
.vod-wide h1 {margin-bottom:10px;}
.vod-wide .vod-header {overflow:hidden; width:854px; margin:0 auto}
.vod-wide .vod-header h1 {float:left;}
.vod-wide .vod-header .txt-vod {float:right; }
.vod-wide .vod-header .txt-vod .icon-arr-vod {font-size:13px;}
.vod-wide .btn-vod-close {position:absolute; top:48px; right:50px; overflow:hidden; width:41px; height:41px; border:none; margin:0; padding:0; background:url(/img/btn-vod-close.gif) no-repeat 0 0; text-align:left; text-indent:-9000px; font-size:0;}
.vod-wide .txt-info-r { width:854px; margin:0 auto; padding-top:10px; text-align:right; font-size:12px;}
.r-vod-layer {position:relative; top:13px; right:0; width:100%; height:0}
.r-vod-layer .pie-vod {position:absolute; top:0; left:0; width:100%; height:230px; background-color:#fff; z-index:97; cursor:pointer;}


/* 2016-11-08 메인 모듈 추가*/
.s-top-news .mobile_hk .link {position:relative;}
.s-top-news .mobile_hk .link .arr {display:block; visibility:hidden; position:relative; top:-4px; left:66px;  width:7px; height:4px; background:url(http://img.hankyung.com/img/icon_main2015.png?v=20161108) no-repeat -137px -571px; }
.s-top-news .mobile_hk .link .module > a {display:block}
.s-top-news .mobile_hk .link .module > a:hover + .img_box {display:block}
.s-top-news .mobile_hk .link .module > a:hover + .img_box + .arr {visibility:visible}
.s-top-news .mobile_hk .link .img_box {display:none; overflow:hidden; position:absolute; left:0; top:50px; z-index:10; width:328px; height:197px; border:1px solid #e5e5e5; border-top:2px solid #000}
.s-top-news .mobile_hk .link .img_box img {width:100%;}