/* --------------- Default Styles --------------- */
html, body, p, h1, h2, h3, h4, h5, em, i, table, tr, td, th, form, input, textarea, select, li, ol, ul, strong {padding:0;margin:0;}
html {font-size:62.5%;}
body { min-width:320px; background-color:#000000; color:#ffe48a; font-size:12px; font-family:Lucida Sans Unicode, Arial, Helvetica, sans-serif;}
em, i {font-style:normal;}
li {list-style-type:none;}
h1, h2, h3, h4, h5 {font-weight:normal;padding:5px 0;}
p {padding:5px 0;}
a:active, a:focus, img, input, select {outline: 0;}
a, a:link, a:active, a:visited { color:#ffffff;cursor:pointer; text-decoration:none;}
a:hover {color:#e6e6e6; text-decoration:underline;}
img {border:none;}
.clear {clear:both; font-size:0; line-height:0; height:0;}
.fl { float:left;}
.fr { float:right;}
input {border:0;}
input[type='submit']::-moz-focus-inner{padding:0;border:0}
/* ------------------------------------------- */
.wrapper {width: 95%; margin:0 auto; position:relative;}
.header .wrapper {width:980px;height:90px; position:relative; border-bottom:1px solid #e9a503; border-left:0 !important;border-right:0 !important;border-top:0 !important;}
.header { margin:0 auto ; }
.logo {position:absolute;top:0; left:0px; width:400px; height:90px;background:url(/static/logo.png) no-repeat; background-position:0 50% !important;}
.logo img { display:none;}
.search {overflow: hidden; right:0;top: 37px;width: 570px; padding-right:2px;z-index: 2; position:absolute; border-radius:5px; background:#141414; border:1px solid #333;}
.text_1 {float:left; width:470px; background:none; border:0; height:29px; padding:5px 10px; line-height:29px;font-size:14px; font-family:Lucida Sans Unicode, Arial, Helvetica, sans-serif; color:#ccc;}
.sub_1 {float: right;cursor: pointer;height: 35px;width: 70px;color: transparent; border-radius:5px; margin-top:2px; font-weight:bold; line-height:35px;
font-size:16px; font-family:Lucida Sans Unicode, Arial, Helvetica, sans-serif;background: #ececec; background: -moz-linear-gradient(top, #ececec 0%, #c6c6c6 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ececec), color-stop(100%,#c6c6c6)); background: -webkit-linear-gradient(top, #ececec 0%, #c6c6c6 100%); background: -o-linear-gradient(top, #ececec 0%, #c6c6c6 100%); background: -ms-linear-gradient(top, #ececec 0%, #c6c6c6 100%); background: linear-gradient(to bottom, #ececec 0%, #c6c6c6 100%);color:#000;}
.sub_1:hover { background: #c6c6c6;background: -moz-linear-gradient(top, #c6c6c6 0%, #ececec 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c6c6c6), color-stop(100%,#ececec)); background: -webkit-linear-gradient(top, #c6c6c6 0%, #ececec 100%); background: -o-linear-gradient(top, #c6c6c6 0%, #ececec 100%); background: -ms-linear-gradient(top, #c6c6c6 0%, #ececec 100%); background: linear-gradient(to bottom, #c6c6c6 0%, #ececec 100%);color:#000;}
.favorites { display: block; position: absolute; background: url(/static/favorites.png) no-repeat right center; padding-right: 18px; right: 0px; top: 10px;}
.content { padding:10px 0;}
.tops {  padding:5px; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; margin-bottom:20px; color:#72d8e8;background-color:#400002;border:1px solid #242424;}
.tops_box { width:100%; overflow:hidden;}
.tops ul { width:16.6%; float:left;}
.tops li { line-height:19px; height:19px; overflow:hidden; padding-left:20px; list-style:inside square; color:#c49f5a;}
.cats ul { width:20%; float:left;}
.cats ul li { padding-left:0; list-style:none;}
.cats ul li a { margin-left:20px;}
.tops a, .tops a:visited {color:#ebcfc3;}
.tops a:hover {color:#c49f5a;}
.thumbs { text-align:center; width:100%; padding-bottom:20px;}
.thumbs li { display: inline; display: -moz-inline-stack; display: inline-block; *display: inline; zoom:1; width: 300px; margin:2px 0;*margin:2px 2px 2px 1px; text-align:center;   border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; vertical-align:top; padding:0 3px 5px; overflow:hidden;background-color:#000000;border:1px solid #696969;}
.thumbs img { width:300px; height:225px; display:block;}
.thumbs li:hover {border:1px solid #383838;}
.title_name { display:block; line-height:35px; height:35px; overflow:hidden; padding:0 5px; font-size:14px; text-align:center;}
.categories .title_name { font-size:18px;}
.categories li { padding-bottom:3px;}
.thumbs a, .thumbs a:visited { color:#ff4524;}
.thumbs a:hover { color:#c75b34;}
.info { padding:2px 5px 0; text-align:left; overflow:hidden;*height:1%; font-size:12px;height: 16px;}
.thumbs_2 { overflow:hidden;}
.thumbs_2 li { width:240px; padding:2px;}
.thumbs_2 img { width:240px; height:180px;}
.name_2 { line-height:25px; font-size:16px; float:left; padding:12px 0 8px;}
.name_2 a, .name_2 a:visited { text-decoration:underline;color:#e6e6e6;}
.name_2 a:hover { text-decoration:none;}
.name_2 .name_sub { font-size:16px; display:inline; padding:0;} 
.name_box { width:980px; margin:0 auto;}
.related { width:95%; margin:0 auto; font-size:24px;}
.pagination { padding:5px 0; margin-bottom:15px; text-align:center;}
.name_box .pagination {  text-align:right; padding:15px 0; margin-bottom:0;}
.sort { display:inline; padding:0 0 0 20px;}
.pagination  a, .pagination  a:visited {padding:5px 10px; font-size:12px; border-radius:2px; color:#000000;background: #ffd563; background: -moz-linear-gradient(top, #ffd563 0%, #e89221 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffd563), color-stop(100%,#e89221)); background: -webkit-linear-gradient(top, #ffd563 0%, #e89221 100%); background: -o-linear-gradient(top, #ffd563 0%, #e89221 100%); background: -ms-linear-gradient(top, #ffd563 0%, #e89221 100%); background: linear-gradient(to bottom, #ffd563 0%, #e89221 100%);}
.pagination  a:hover { text-decoration:none;color:#000000;background: #e89221; background: -moz-linear-gradient(top, #e89221 0%, #ffd563 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e89221), color-stop(100%,#ffd563)); background: -webkit-linear-gradient(top, #e89221 0%, #ffd563 100%); background: -o-linear-gradient(top, #e89221 0%, #ffd563 100%); background: -ms-linear-gradient(top, #e89221 0%, #ffd563 100%);background: linear-gradient(to bottom, #e89221 0%, #ffd563 100%); text-shadow:none;}
#flash_page {width:980px;  margin:0 auto; padding:5px 0 25px; overflow:hidden;}
.flash { width:680px; float:left;}
.line { padding:7px 0; font-size:14px;}
.line span { padding-right:5px; padding-left:5px;}
.l_space { padding-left:25px;}
.fr { float:right; display:inline;}
.flash h3 { font-size:14px; text-align:center;} 
.banner { width:300px; float:right; text-align:center;}
.player { width:680px;  margin-bottom:10px; position:relative;}
.line_2 { border:1px solid #444; border-width:1px 0 0 0 !important;}
.but_2 { padding:0 15px; margin-bottom:10px; line-height:37px; display:inline-block; vertical-align:top; height:37px; border:0; margin-left:10px; float:left;border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; cursor:pointer;}
.success { color:#c49f5a;background-color:#400002;border:1px solid #242424; font-size:16px; text-align:center; padding:10px; margin-bottom:15px;border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;}
.but_green {background:#32a76f; background: -moz-linear-gradient(top, #32a76f 0%, #1f724a 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#32a76f), color-stop(100%,#1f724a)); background: -webkit-linear-gradient(top, #32a76f 0%, #1f724a 100%); background: -o-linear-gradient(top, #32a76f 0%, #1f724a 100%); background: -ms-linear-gradient(top, #32a76f 0%, #1f724a 100%); background: linear-gradient(to bottom, #32a76f 0%, #1f724a 100%);}
.but_green:hover {background:#32a76f; }
.but_red {background:#a73232; background: -moz-linear-gradient(top, #a73232 0%, #721f1f 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a73232), color-stop(100%,#721f1f)); background: -webkit-linear-gradient(top, #a73232 0%, #721f1f 100%); background: -o-linear-gradient(top, #a73232 0%, #721f1f 100%); background: -ms-linear-gradient(top, #a73232 0%, #721f1f 100%); background: linear-gradient(to bottom, #a73232 0%, #721f1f 100%);}
.but_red:hover {background:#a73232; }
.but_2 i {height:37px; line-height:37px; display:inline-block;vertical-align:top; margin-right:6px; margin-left:-5px;}
.icon_like {  background:url(/static/icon_like.png) 50% 50% no-repeat; width:26px; margin:0 !important;}
.icon_dislike {  background:url(/static/icon_dislike.png) 50% 50% no-repeat; width:26px; margin:0 !important;}
.rate_box {float: left;font-size: 10px;padding: 0 0 0 10px;text-align: center;}
.rate_box em {display: block;font-size: 18px;font-weight: bold;line-height: 37px;}
.flash a, .flash a:visited { text-decoration:underline;}
.flash a:hover { text-decoration:none;}
.player {position: relative;padding-bottom: 56.25%;height: 0;overflow: hidden; margin-bottom:10px;}
.player iframe,  .player object,  .player embed, .player video, .player .imgz {position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
.adv { position:absolute; left:0; top:0; width:100%; height:100%; background:#000;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50); -moz-opacity: 0.5; -khtml-opacity: 0.5; opacity: 0.5;}
.player .adv_box iframe,  .player .adv_box object,  .player .adv_box embed, .player .adv_box video {width:300px !important; height:250px !important;}
.adv_box { width:300px; height:250px; position:absolute; left:50%; top:50%; margin:-125px 0 0 -150px; background:#000; z-index:99999;}
.adv_close { z-index:9999; position:absolute; right:3px; width:22px;height:22px;display:block;background:#cc0000;top:3px; cursor:pointer; color:#fff; line-height:22px; text-align:center; line-height:22px; font-weight:bold; font-size:14px;border:1px solid #000;}
.adv_ban { width:300px; height:250px; position:absolute; left:0; top:0; overflow:hidden;background:#000;}  
.adv_all { display:none;}
.name { width:980px; margin:0 auto; font-size:24px;}
.footer { width:100%; overflow:hidden; padding:15px 0; position:relative;    color:#72d8e8;}
.f_desc { width:980px; margin:0 auto;  font-size:10px; padding:6px 0 0 ; color:#8f8f8f; text-align:center;}
.f_desc p { padding:3px 0; line-height:14px;}
.f_logo { position:absolute; left:0; top:0;}
.footer a, .footer a:visited  { color:#ffd88f;}
.footer a:hover { text-decoration:none;color:#ff833b;}
.banners { width:100%; text-align:center; padding-bottom:15px;}
.ban_one { width:300px; display:inline-block; *display:inline;*zoom:1; vertical-align:top; margin:0 2px;}
/* --------------- Login form --------------- */
.form_c {width:500px;margin:0 auto 15px;}
.form_box {background:#141414; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; border:1px solid #333; padding:10px;}
.error {background:#000; border: 1px solid #ff0000; padding:10px; margin-bottom:10px;}
.r_line {padding:5px 0; width:100%; overflow:hidden;}
.r_line label {display:block; margin-bottom: 3px; padding-left: 5px;}
.inp { background:#000; border:1px solid #333; color:#ccc; padding: 5px 5px; width: 97%;}
/* ------------------------------------------- */
#fadeinbox{ position:absolute; width: 308px; left: 0; top: -400px; border: 1px solid #141414; background-color: #141414; padding: 4px; z-index: 100; visibility:hidden; font-size: 11px;}
.cams_link {position: absolute; right:20px; top:45px; font-size: 18px;}
/* ---------------------responsive---------------------- */
@media only screen and (min-width : 998px) and (max-width : 1250px) {
    .cams_link {
        transform: translateX(-50%);
        right: auto;
        left: 50%;
        top: 0;
    }
}
@media only screen and (max-width : 997px) {
    * {
        box-sizing: border-box;
    }
    .cams_link {
        font-size: 15px;
        padding: 5px;
        right: 10px;
        top: 0;
        z-index: 12;
    }
    .header .wrapper {
        width: auto;
        height: auto;
        padding: 30px 10px 10px;
        text-align: center;
    }
    .favorites {
        left: 10px;
        top: 5px;
        right: auto;
    }
    .logo {
        display: block;
        width: 100%;
        position: static;
        padding-bottom: 10%;
        max-width: 400px;
        margin: 0 auto 10px;
        text-indent: -9999px;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: contain;
        background-position: 50% 0 !important;
    }
    .search {
        width: 100%;
        position: relative;
        top: 0;
    }
    .text_1 {
        height: 38px;
        width: 100%;
    }
    .search .sub_1 {
        position: absolute;
        z-index: 10;
        right: 0;
        top: 0;
    }
    .thumbs img {
        width: 100%;
        height: auto;
    }
    .related {
        font-size: 18px;
    }
    .cats ul {
        width: 25%;
    }
    .f_desc {
        width: auto;
        padding: 6px 10px 0;
    }
    .name_box, .name {
        width: auto;
    }
    #flash_page {
        width: auto;
    }
    .flash {
        width: 100%;
        float: left;
        padding-right: 310px;
        margin-right: -310px;
        overflow: hidden;
    }
    .player {
        width: auto;
    }
    .form_c {
        width: auto;
        padding: 0 10px;
        max-width: 400px;
    }
    .name_sub {
        font-size: 18px;
    }
}
@media only screen and (max-width : 768px) {
    .flash {
        float: none;
        padding-right: 10px;
        padding-left: 10px;
        margin-right: 0;
    }
    .banner {
        float: none;
        display: inline-block;
    }
    #flash_page {
        text-align: center;
    }
    .name {
        font-size: 18px;
    }
}
@media only screen and (max-width : 640px) {
    .thumbs {
        font-size: 0;
    }
    .thumbs li, .thumbs_2 li {
        margin-right: 2px;
        margin-left: 2px;
        width: calc(50% - 4px);
    }
    .categories .title_name {
        font-size: 14px;
    }
    .cats ul {
        width: 50%;
    }
    .name_2 {
        float: none;
        text-align: center;
    }
    .name_box .pagination {
        text-align: center;
        margin: -5px 0 0;
    }
    .pagination a, .pagination a:visited {
        display: inline-block;
        margin: 5px 0 0;
    }
    .fr {
        float: none;
        text-align: center;
    }
    .but_2 {
        float: none;
    }
    .rate_box {
        float: none;
        display: inline-block;
    }
    .name {
        font-size: 16px;
    }
    .cats ul li {
        margin: 10px 0;
    }
}