/* static pages styles */

.static_main {
	margin:0 125px;
}

.static_page {
	min-height:250px;
}

.content_static{
	padding:0 20px 20px 20px;
}

.content_static h4{
	margin:2em 0 1em 0;
	font-size:14px;
}

.content_static a{
	color:#8c6100;
}

.content_static p{
	margin-bottom:1em;
	text-align:justify;
}

.content_static p.noindent{
	text-indent:0em;
}

.content_static ul{
	padding-left:0em;
}

.content_static ul ul{
	padding-left: 1.5em;
}

.content_static ul li{
	list-style:none;
	margin-bottom:1em;
	text-align:justify;
}

.content_static img.spacer   { border: none; margin: 0; padding: 0; display: inline; width: 88px; height: 15px; background: url(../images/bravomedia.png) no-repeat center center; }

.page_2257 p,
.page_support .feedback p{
	text-indent:0em;
}

.page_2257 ul,
.page_dmca ul{
	padding-left:2em;
}

.page_terms ul ul{
	padding-top:8px;
}

.page_support .feedback{
	font-size:13px;
	line-height:20px;
}

.page_support .feedback textarea,
.page_support .feedback input[type="text"]{
	width:350px;
	color:#49443c;
	border:1px solid #d6cfb7;
	background-color:#FFF;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding:5px 7px;
	font-size:15px;
}

.page_support .feedback .control{
	margin-bottom:1em;
}

.page_support .feedback .topmost{
	font-size:15px;
	color:#8D8874;
}

.page_support .feedback .btn-submit{
	background:url(../images/btn-send.png) no-repeat;
	width:78px;
	height:30px;
	font-size:0;
	line-height:0;
	padding:0;
	border:0;
	text-indent:-9999px;
	cursor:pointer;
	display:block;
}
.page_support .feedback .btn-submit:hover{cursor:pointer; background-position:0 -30px;}


/* page rates */

.page_rates table { color: #000; margin: 0 auto; padding: 0; text-align: center; cursor: default; border: none; margin-bottom: 16px; }
.page_rates table tr td,
.page_rates table tr th {padding: 8px 32px; vertical-align: middle; text-align: center; border-bottom: 1px dashed #333; border-left: 1px dashed #222; }
.page_rates table tr td { font-weight: normal; }
.page_rates table tr th { font-weight: normal; }
.page_rates table tr th:first-child { text-align: left; font-size: 13px; border-left: none; }
.page_rates table tr.head th { color: #333; font-size: 14px; font-weight:bold; padding-top: 24px; text-align: center; }
.page_rates table tr.underhead th {
	color: #625646;
	font-size: 12px;
	font-weight:bold;
}
.page_rates table tr td:last-child { color: #390; font-size: 13px; }
.page_rates table tr td.sold { color: #930; font-size: 11px; }
.page_rates table tr { background: none; }
.page_rates table tr:hover { background: #222; }
.page_rates table tr:hover td, table tr:hover th a { color: #ccc; }
.page_rates table tr th a { color: #8c6100; text-decoration: none; }
.page_rates table tr th a:hover { text-decoration: underline; }
.page_rates table tr.head, table tr.head:hover { background: none; }
.page_rates table tr.underhead, table tr.underhead:hover { background: none; }
.page_rates div.contact_us { color: #666; margin: 0 auto 16px auto; padding-top: 16px; text-align: center; cursor: default; }
.page_rates div.contact_us b { color: #7e6e59; font-weight: normal; }