body {
	background-repeat: no-repeat;
	background-position: top center;
	background-attachment:fixed;
}
/* Notas Home
**********************************************************************************/
.Nota {
	float: left;
	margin: 0 0 0 0px;
	padding: 0px 0 10px 0px;
	width: 100%;
	/*border-top:1px solid #BDC0C4;*/
}
.grid4 .Nota H4 {
	padding: 2px 7px;
	color: white;
	background: #18b9b6;
	border-radius: 0;
}
.grid4 .Nota.Envivo H4{
	background:#8DC63F;
}
.Nota H4 {
	color: #FFF;
	float: left;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	line-height: 12px;
	width: auto;
	letter-spacing:0.5px;

	border-radius: 0 0 20px 0;
	-moz-border-radius: 0 0 20px 0;
	-webkit-border-radius: 0 0 20px 0;

	padding:7px 20px 7px 15px;
}
.Nota H1 {
	color: #333333;
	float: left;
	font-family: 'Source Sans Pro',sans-serif;
	font-size: 22px;
	font-weight: normal;
	letter-spacing: -0.5px;
	line-height: 22px;
	margin: 5px 0;
	width: 100%;
}
.Nota H1 A {
	color: #333333;
	
	transition: 		all .1s linear;
	-moz-transition: 	all .1s linear; 
	-webkit-transition: all .1s linear;
	-o-transition: 		all .1s linear; 
}
.Nota H1 A:hover {
	color: #19BCB9;
}
/**/
.Nota H2 {
	color: #333333;
	float: left;
	font-family: 'Source Sans Pro',sans-serif;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: -0.5px;
	line-height: 20px;
	margin: 5px 0;
	width: 100%;
}
.Nota H2 A {
	color: #333333;
	
	transition: 		all .1s linear;
	-moz-transition: 	all .1s linear; 
	-webkit-transition: all .1s linear;
	-o-transition: 		all .1s linear; 
}
.Nota H2 A:hover {
	color: #19BCB9;
}
/**/
.Nota .Image {
	float: left;
    margin: 5px 0;
    width: 100%;
	background-color: #f1f1F1;
}
.Nota .Image A {
	float: left;
}
.Nota .Image IMG {
	float: left;
}
.Nota P {
	color: #717c8e;
    float: left;
    font-size: 14px;
    line-height: 16px;
    margin: 5px 0;
    width: 100%;
}
.Nota P SPAN {
	color: #333;
    font-weight: bold;
	/*border-right:1px solid #666;*/
	margin-right:5px;
}
.Nota .Options {
	float: left;
	width: 100%;
}
.Nota .Options A {
	background: url(../images/noticias/nota/options.png) no-repeat;
	float: right;
    height: 20px;
    margin: 0 0 0 5px;
    width: 20px;
}
.Nota .Options A.Comment {
	width:23px;
	background-position: -19px 0;
    color: #FFFFFF;
    font-size: 11px;
    line-height: 17px;
    text-align: center;
}
.Nota .Options A.Cut {
	background-position: 3px 1px;
    text-indent: -9999px;
}
.Nota .Options A.Comment:hover {
	background-position: -19px -20px;
}
.Nota .Options A.Cut:hover {
	background-position: 3px -19px;
}





/* Relacionadas */
.Nota .Relacionadas {
	float: left;
	margin: 5px 0;
	width: 100%;
}
.Nota .Relacionadas LI {
	float: left;
	margin: 2px 0;
	width: 100%;
}
.Nota .Relacionadas A {
	background: url(../images/noticias/nota/icon-rel.png) no-repeat 0 -3px;
	color: #333333;
    float: left;
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    padding: 0 0 0 18px;
}
.Nota .Relacionadas A:hover {
	background-position: 0 -63px;
}














/* Main Slider 
**********************************************************************************/

#MainSlider {
	/*background-color: #F1F1F1;
    float: left;
    height: 445px;
    margin: 0 0 30px;
    width: 100%;*/
	background-color: #000;
	float: left;
	height: 487px;
	margin: 1px 0 30px;
	width: 100%;
	position: relative;
	overflow: hidden;
} 
#MainSlider.Bomba{
	height:335px;
}
H2.Title {
    float: left;
    padding: 0 0 10px;
    width: 100%;
}
H2.Title STRONG {
    color: #333333;
    float: left;
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -0.5px;
    line-height: 18px;
    text-transform: uppercase;
}


#MainSlides {
	/*position: absolute;
	top: 152px;
	left: 0;
	width: 100%;
	height: 445px;
	background-color: #000;*/
	/*
	position: absolute;
	top: 42px;
	left: 0;
	*/
	float:left;
	width: 100%;
	height: 445px;
}

#MainSlides .Cont {
	margin: 0 auto;
	width: 960px;
}
#MainSlides .slides_container {
	width: 960px;
	height:445px;
}
#MainSlides .slides_container div {
	width: 960px;
	height:445px;
	display:block;
}

#MainSlides .pagination {
	height: 20px;
    margin: -30px auto 0;
    position: relative;
    text-align: center;
    width: 200px;
    z-index: 999;
}

#MainSlides .pagination li {
	display: inline-block;
    margin: 0 3px;
}

#MainSlides .pagination li a {
	background: url("../images/default/layout/bomba-dot.png") no-repeat scroll center top transparent;
    float: left;
    height: 16px;
    text-indent: -9999px;
    width: 16px;
}

#MainSlides .pagination li.current a {
	background-position:0 -16px;
}

#MainSlider #Vertical {
	padding: 0;
}

/******************************************
	REDESIGN HOME		
******************************************/
/* SLIDER HOME SMALL 	*/
#MainSlider.SmallSlide{
    height: 189px !important;
}
#MainSlider.SmallSlide #MainSlides{
	height:188px !important;
}
#MainSlider.SmallSlide #MainSlides .slides_container {
	height:188px !important;
}
#MainSlider.SmallSlide #MainSlides .slides_container div {
	height: 188px !important;
	overflow:hidden!important;
}

#MainSlider.SmallSlide #Vertical{
	-moz-box-shadow: 0 0px 10px 0 #000000;
	-webkit-box-shadow: 0 0px 10px 0 #000000;
	box-shadow: 0 0px 10px 0 #000000;
}


/* Slider Notas 
************************************************************************************/

/* Slider Notas */

#SliderNotas {
	float: left;
    height: 250px;
    margin: 0 0 25px;
    width: 620px;
}
#SliderNotas .Nota {
	background: none;
	margin: 0 20px 0 0;
    padding: 0;
	position: relative;
	overflow: hidden;
	height: 383px;
    width: 300px;
	position:relative;
}
#SliderNotas .Nota H4{
	position:absolute;
	top:15px;
	left:0px;
	z-index:999;
	
	-webkit-box-shadow: 0px 0px 65px 0px #080808;
	-moz-box-shadow: 0px 0px 65px 0px #080808;
	box-shadow: 0px 0px 65px 0px #080808;
}

#SliderNotas .Nota .Cont {
	background: url(../images/default/notas/bg-cont.png) 0 0 repeat;
	float: left;
    height: 220px;
    left: 0;
    overflow: hidden;
    padding: 15px;
    position: absolute;
    top: 133px;
    width: 270px;
    z-index: 998;
	
	transition: 		all .5s ease-in-out;
	-moz-transition: 	all .5s ease-in-out; 
	-webkit-transition: all .5s ease-in-out;
	-o-transition: 		all .5s ease-in-out;
}
#SliderNotas .Nota .Cont:hover {
	top: 0;
}
#SliderNotas .Nota .Cont H1 {
	height: 97px;
    letter-spacing: -0.5px;
    line-height: 24px;
    margin: -6px 0 13px;
    overflow: hidden;
    position: relative;
	
	transition: 		all .5s ease-in-out;
	-moz-transition: 	all .5s ease-in-out; 
	-webkit-transition: all .5s ease-in-out;
	-o-transition: 		all .5s ease-in-out;
}
#SliderNotas .Nota .Cont:hover H1 {
	margin: 35px 0 0;
}
#SliderNotas .Nota .Cont H1 A {
	color: #FFFFFF;
    float: left;
	
	transition: 		all .1s linear;
	-moz-transition: 	all .1s linear; 
	-webkit-transition: all .1s linear;
	-o-transition: 		all .1s linear; 
}
#SliderNotas .Nota .Cont H1 A:hover {
	color: #FFF;
}
#SliderNotas .Nota .Cont P {
	color: #CCCCCC;
    font-size: 14px;
    height: 47px;
    line-height: 15px;
    margin: 10px 0 0;
    overflow: hidden;
    position: relative;
}
#SliderNotas .Nota .Cont A.Videonota {
	background: url(../images/noticias/layout/btn.png) repeat-x #f1f1f1;
	border: 1px solid #D9D9D9;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 0 0 #FFFFFF inset;
    color: #666666;
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 26px;
    line-height: 27px;
    margin: 15px 0 0;
    padding: 0 8px;
    text-align: center;
	
	transition: 		all .1s linear;
	-moz-transition: 	all .1s linear; 
	-webkit-transition: all .1s linear;
	-o-transition: 		all .1s linear; 
}
#SliderNotas .Nota .Cont A.Videonota:hover {
	background-color: #354359;
	border-color: #354359;
	box-shadow: 0 1px 0 0 #354359 inset;
	color: #FFF;
}
#SliderNotas .Nota .Cont A.Videonota IMG {
	float: left;
	margin: 4px 8px 0 0;
}
#SliderNotas .Nota .Cont .Rght{
	width:100%;
	float:left;
	margin:10px 0 0;
}
#SliderNotas .Nota .Cont .Rght A.Comment SPAN{color:#FFF;}
#SliderNotas .Nota .Cont .Rght A.Comment{
	width:auto;
	margin:0 10px 0 0;
	color:#fff;
}
#SliderNotas .Nota .Cont .Rght A.Comment SPAN.Icn{
	width:18px;
	height:15px;
	float:none;
	display: inline-block;
	margin:0 4px 0 0;
	color:#FFF;
	background:url(../images/default/notas/icn-comm-2.png) left top no-repeat;
}
#SliderNotas .Nota .Cont .Rght A.Heart{
	width:15px;
	height:15px;
	display:inline-block;
	background:url(../images/default/notas/icn-heart-2.png) left top no-repeat;
}
#SliderNotas .Nota .Cont .Rght H5 STRONG{
	font-weight:bold;
	color:#FFF;
}



#SliderNotas .Nota .Image {
	position: relative;
	margin: 0;
}
#SliderNotas .Nota .Image IMG {
	width: 300px;
	height: 250px;
}
#SliderNotas .jcarousel-direction-rtl { direction: rtl; }  
#SliderNotas .jcarousel-container-horizontal { padding: 0; width: 460px; } 
#SliderNotas .jcarousel-clip { overflow: hidden; }
#SliderNotas .jcarousel-clip-horizontal {
	height: 250px;
    width: 620px;	
    overflow: hidden;
    position: relative;
} 
#SliderNotas .jcarousel-item {
	float: left;
    height: 250px;
    overflow: hidden;
    position: relative;
    width: 300px;
}
#SliderNotas .jcarousel-prev { 
	background: transparent url(../images/default/notas/arrows.png) no-repeat 0 0; 
	cursor: pointer;
    height: 20px;
    right: 20px;
    position: absolute;
    top: -30px;
    width: 20px;
    z-index: 99;
}
#SliderNotas .jcarousel-prev:hover { background-position: 0 -20px; }
#SliderNotas .jcarousel-prev-disabled,
#SliderNotas .jcarousel-prev-disabled:hover { background-position: 0 0; }
#SliderNotas .jcarousel-next { 
	background: transparent url(../images/default/notas/arrows.png) no-repeat -20px 0;
	cursor: pointer;
    height: 20px;
    right: 0;
    position: absolute;
    top: -30px;
    width: 20px;
    z-index: 99;
}
#SliderNotas .jcarousel-next:hover { background-position: -20px -20px; }
#SliderNotas .jcarousel-next-disabled,
#SliderNotas .jcarousel-next-disabled:hover { background-position: -20px 0; }


/******************************************
	REDESIGN HOME		
******************************************/
#SliderNotas {
    width: 940px !important;
}
#SliderNotas .jcarousel-clip-horizontal {
    width: 940px !important;
	overflow:hidden!important;
}
#SliderNotas .Nota.Noticias .Cont {
	background: url(../images/noticias/nota/bg-cont.png) 0 0 repeat;
}
#SliderNotas .Nota.Deportes .Cont {
	background: url(../images/deportes/nota/bg-cont.png) 0 0 repeat;
}
#SliderNotas .Nota.EstilodeVida .Cont {
	background: url(../images/buendia/nota/bg-cont.png) 0 0 repeat;
}
#SliderNotas .Nota.Entretenimiento .Cont {
	background: url(../images/entretenimientos/nota/bg-cont.png) 0 0 repeat;
}
#SliderNotas .jcarousel-prev {
	height: 64px!important;
	right: auto!important;
	left: -30px!important;
	top: 93px!important;
	width: 30px!important;
}
#SliderNotas .jcarousel-next {
	background: transparent url(../images/default/notas/arrows.png) no-repeat -33px 0!important;
	height: 64px!important;
	right: -30px!important;
	top: 93px!important;
	width: 30px!important;
}
#SliderNotas .jcarousel-next:hover {
	background-position: -33px 0!important;
}
#SliderNotas .jcarousel-prev:hover {
	background-position: 0 0!important;
}









/* Categorias / Colores
**********************************************************************************/
.Nota.Noticias H4 { background-color: #1cbdba; }
.Nota.Deportes H4 { background-color: #8dc63f; }
.Nota.EstilodeVida H4  { background-color: #fcb034; }
.Nota.Entretenimiento H4 { background-color: #f15c22; }








/* Teletica Por Vos / Widget
*********************************************************************************
#PorVos {
	background-color: #1F59BD;
    border: 1px solid #CCCCCC;
    float: left;
    margin: 10px 0 25px;
    width: 960px;
}
#PorVos .Ribbon {
	float: left;
    margin: -16px 0 0 -16px;
}
#PorVos .Ribbon IMG {
	float: left;
}
#PorVos .Sponsor {
	float: left;
    height: 64px;
    margin: -10px 0 0 20px;
    width: 370px;
}
#PorVos .Sponsor IMG {
	float: left;
}
#PorVos .Buttons {
	float: right;
    width: 232px;
}
#PorVos .Buttons A {
	background: url(../../images/noticias/layout/btn.png) repeat-x #f1f1f1;
	border: 1px solid #D9D9D9;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 0 0 #FFFFFF inset;
    color: #666666;
    float: right;
    font-size: 12px;
    font-weight: bold;
    height: 24px;
    line-height: 25px;
    margin: 13px 15px 0 0;
    padding: 0 8px;
    text-align: center;
	
	transition: 		all .1s linear;
	-moz-transition: 	all .1s linear; 
	-webkit-transition: all .1s linear;
	-o-transition: 		all .1s linear; 
}
#PorVos .Buttons A:hover {
	background-color: #354359;
	border-color: #354359;
	box-shadow: 0 1px 0 0 #354359 inset;
	color: #FFF;
}
#PorVos .Container {
	background-color: #FFFFFF;
    float: left;
    margin: 0 10px 10px;
    width: 940px;
}
#PorVos .Container .User {
	float: left;
    height: 190px;
    padding: 10px;
    width: 280px;
}
#PorVos .Container .User H5 {
	color: #333333;
    float: left;
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 16px;
    line-height: 16px;
    width: 100%;
}
#PorVos .Container .User H2 {
	border-bottom: 1px solid #BDC0C4;
    float: left;
    padding: 0 0 10px;
	margin: 37px 0 10px;
    width: 100%;
}
#PorVos .Container .User H2 STRONG {
	color: #333333;
    float: left;
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -0.5px;
    line-height: 18px;
    text-transform: uppercase;
}
#PorVos .Container .User A {
	float: left;
    margin: 0 7px 0 0;
}
#PorVos .Container .User A IMG  {
	float: left;
}	
#PorVos .Container .User A:last-child {
	margin: 0;
}
#PorVos .Notas {
	float: left;
	width: 640px;
}
#PorVosCarousel {
	float: left;
	width: 640px;
}
#PorVos .Notas .jcarousel-item .Image {
	background: none repeat scroll 0 0 #F1F1F1;
    float: left;
    height: 105px;
    overflow: hidden;
    position: relative;
    width: 140px;
}
#PorVos .Notas .jcarousel-item .Image IMG {
	float: left;
}
#PorVos .Notas .jcarousel-item H3 {
	float: left;
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 16px;
    font-weight: bold;
    height: 48px;
    letter-spacing: -0.5px;
    line-height: 16px;
    margin: 5px 0;
    overflow: hidden;
    position: relative;
    width: 100%;
}
#PorVos .Notas .jcarousel-item H3 A {
	color: #333333;
	
	transition: 		all .1s linear;
	-moz-transition: 	all .1s linear; 
	-webkit-transition: all .1s linear;
	-o-transition: 		all .1s linear; 
}
#PorVos .Notas .jcarousel-item H3 A:hover {
	color: #19BCB9;
}
#PorVos .Notas .jcarousel-item P {
	color: #7F7F7F;
    float: left;
    font-size: 11px;
    margin: 5px 0 0;
    width: 100%;
}
#PorVos .Notas .jcarousel-item P A {
	color: #19bcb9;
}
#PorVos .Notas .jcarousel-item P A:hover {
	text-decoration: underline;
}

#PorVos .Notas .jcarousel-direction-rtl { 
	direction: rtl; 
}  
#PorVos .Notas .jcarousel-container-horizontal { 
	padding: 0;
    width: 640px;
} 
#PorVos .Notas .jcarousel-clip { 
	overflow: hidden; 
}
#PorVos .Notas .jcarousel-clip-horizontal { 
	width:  640px; 
	height: 210px; 
} 
#PorVos .Notas .jcarousel-item {
	height: 190px;
    padding: 10px;
    width: 140px;
}
#PorVos .Notas .jcarousel-prev { 
	background: transparent url(../images/noticias/home/video/arrows.png) no-repeat -28px 0; 
	cursor: pointer;
	height: 39px;
	left: 0;
	position: absolute;
	top: 50px;
	width: 29px;
	z-index: 99;
}
#PorVos .Notas .jcarousel-prev:hover { background-position: -28px 0; }
#PorVos .Notas .jcarousel-prev-disabled,
#PorVos .Notas .jcarousel-prev-disabled:hover { background-position: -28px 0; }
#PorVos .Notas .jcarousel-next { 
	background: transparent url(../images/noticias/home/video/arrows.png) no-repeat 0 0;  
	cursor: pointer;
	height: 39px;
	right: 0;
	position: absolute;
	top: 50px;
	width: 29px;
	z-index: 99;
}
#PorVos .Notas .jcarousel-next:hover { background-position: 0 0; }
#PorVos .Notas .jcarousel-next-disabled,
#PorVos .Notas .jcarousel-next-disabled:hover { background-position: 0 0; }
*/

#PorVos{
	width:100%;
	float:left;
	margin:40px 0 0;
}
#PorVos .TtlTop{
	width:100%;
	height:55px;
	float:left;
	background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0.41, #2D2C2B),
	color-stop(1, #343332)
);
background-image: -o-linear-gradient(bottom, #2D2C2B 41%, #343332 100%);
background-image: -moz-linear-gradient(bottom, #2D2C2B 41%, #343332 100%);
background-image: -webkit-linear-gradient(bottom, #2D2C2B 41%, #343332 100%);
background-image: -ms-linear-gradient(bottom, #2D2C2B 41%, #343332 100%);
background-image: linear-gradient(to bottom, #2D2C2B 41%, #343332 100%);
}
#PorVos .TtlTop H4{
	width:auto;
	float:left;
	padding:0 35px 0 20px;
	font-weight:bold;
	font-size:24px;
	line-height:55px;
	color:#FFF;
	background:#828282;
	
	-webkit-border-radius: 0 0 110px 0;
	-moz-border-radius: 0 0 110px 0;
	border-radius: 0 0 110px 0;
}
#PorVos .TtlTop H5{
	margin:0 0 0 20px;
	float:left;
	font-size:15px;
	line-height:55px;
	font-style:italic;
	color:#FFF;
}
#PorVos .Container{
	width:100%;
	float:left;
	margin:5px 0 0;
	padding:17px;
	border:1px solid #CECECE;
	background:#F3F3F3;
	
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
} 
#PorVos .User{
	width:250px;
	float:left;
}
#PorVos .User H5{
	width:100%;
	float:left;
	font-family: 'Source Sans Pro',sans-serif;
	font-size:16px;
	color:#000;
}
#PorVos .Buttons{
	width:auto;
	float:left;
	margin:75px 0 0;
}
#PorVos .Buttons A {
	background: url(../../images/noticias/layout/btn.png) repeat-x #f1f1f1;
	border: 1px solid #D9D9D9;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 0 0 #FFFFFF inset;
    color: #666666;
    float: right;
    font-size: 12px;
    font-weight: bold;
    height: 24px;
    line-height: 25px;
    margin: 13px 15px 0 0;
    padding: 0 8px;
    text-align: center;
	
	transition: 		all .1s linear;
	-moz-transition: 	all .1s linear; 
	-webkit-transition: all .1s linear;
	-o-transition: 		all .1s linear; 
}
#PorVos .Buttons A:hover {
	background-color: #354359;
	border-color: #354359;
	box-shadow: 0 1px 0 0 #354359 inset;
	color: #FFF;
}
#PorVos .Buttons A:last-child{
	background: url(../../images/noticias/layout/btn.png) repeat-x #3b3b3b;
	border: 1px solid #333;
    box-shadow: 0 1px 0 0 #333 inset;
    color: #FFF;
}

#PorVos .Notas{
	width:640px;
	float:left;
	margin:0 0 0 25px;
}
#PorVosCarousel {
	float: left;
	width: 640px;
}
#PorVos .Notas .jcarousel-item .Image {
	background: #FFF;
    float: left;
    height: 105px;
    overflow: hidden;
    position: relative;
    width: 140px;
}
#PorVos .Notas .jcarousel-item .Image IMG {
	float: left;
}
#PorVos .Notas .jcarousel-item H3 {
	float: left;
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 16px;
    font-weight: bold;
    height: 60px;
    letter-spacing: -0.5px;
    line-height: 18px;
    margin: 5px 0;
    overflow: hidden;
    position: relative;
    width: 100%;
}
#PorVos .Notas .jcarousel-item H3 A {
	color: #333333;
	
	transition: 		all .1s linear;
	-moz-transition: 	all .1s linear; 
	-webkit-transition: all .1s linear;
	-o-transition: 		all .1s linear; 
}
#PorVos .Notas .jcarousel-item H3 A:hover {
	color: #19BCB9;
}
#PorVos .Notas .jcarousel-item P {
	color: #7F7F7F;
    float: left;
    font-size: 11px;
    margin: 5px 0 0;
    width: 100%;
}
#PorVos .Notas .jcarousel-item P A {
	font-size:12px;
	color: #333;
}
#PorVos .Notas .jcarousel-item P A:hover {
	text-decoration: underline;
}

#PorVos .Notas .jcarousel-direction-rtl { 
	direction: rtl; 
}  
#PorVos .Notas .jcarousel-container-horizontal { 
	padding: 0;
    width: 640px;
} 
#PorVos .Notas .jcarousel-clip { 
	overflow: hidden; 
}
#PorVos .Notas .jcarousel-clip-horizontal { 
	width:  640px; 
	height: 220px; 
} 
#PorVos .Notas .jcarousel-item {
	height: 220px;
    padding: 10px;
    width: 140px;
}
#PorVos .Notas .jcarousel-prev { 
	background: url(../images/default/pre-nex-bigt.png) left top no-repeat;
	background-size:30px;
	cursor: pointer;
	height: 30px;
	left: -10px;
	position: absolute;
	top: 50px;
	width: 12px;
	z-index: 99;
}
/*#PorVos .Notas .jcarousel-prev:hover { background-position: -28px 0; }
#PorVos .Notas .jcarousel-prev-disabled,
#PorVos .Notas .jcarousel-prev-disabled:hover { background-position: -28px 0; }*/
#PorVos .Notas .jcarousel-next { 
	background: url(../images/default/pre-nex-bigt.png) right top no-repeat;   
	background-size:30px;
	cursor: pointer;
	height: 30px;
	right: -10px;
	position: absolute;
	top: 50px;
	width: 12px;
	z-index: 99;
}
/*#PorVos .Notas .jcarousel-next:hover { background-position: 0 0; }
#PorVos .Notas .jcarousel-next-disabled,
#PorVos .Notas .jcarousel-next-disabled:hover { background-position: 0 0; }*/






























/* Sondeo
**********************************************************************************/
.Sondeo {
	float: left;
    margin: 0 0 25px;
	width: 100%;
}
.Sondeo H2.Title {
	border-bottom: 1px solid #BDC0C4;
    float: left;
    padding: 0 0 10px;
    width: 100%;
}
.Sondeo H2.Title STRONG {
	color: #333333;
    float: left;
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -0.5px;
    line-height: 18px;
    text-transform: uppercase;
}

.Sondeo .Pregunta {
	float: left;
	width: 100%;
}
.Sondeo .Pregunta H4 {
	background-color: #F7F7F7;
    border-bottom: 1px dotted #CCCCCC;
    color: #666666;
    float: left;
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 23px;
    line-height: 23px;
    padding: 10px 15px;
    width: 270px;
}
.Sondeo .Pregunta UL {
	float: left;
	margin: 10px 0 0;
	width: 100%;
}
.Sondeo .Pregunta LI {
	float: left;
	margin: 5px 0;
	width: 100%;
}
.Sondeo .Pregunta LI LABEL {
	color: #666666;
    float: left;
    font-size: 13px;
    line-height: 16px;
}
.Sondeo .Pregunta LI SPAN {
	margin: 0 5px 0 0;
}
.Sondeo .Pregunta .Buttons {
	float: left;
	width: 100%;
}

.Sondeo .Pregunta .Buttons A,
.Sondeo .Pregunta .Buttons INPUT[type="button"] {
	background: url(../images/noticias/layout/btn.png) repeat-x #f1f1f1;
	border: 1px solid #D9D9D9;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 0 0 #FFFFFF inset;
    color: #666666;
    float: left;
    font-size: 12px;
    font-weight: bold;
    height: 24px;
    line-height: 25px;
    margin: 10px 0;
    padding: 0 15px;
    text-align: center;
	
	transition: 		all .1s linear;
	-moz-transition: 	all .1s linear; 
	-webkit-transition: all .1s linear;
	-o-transition: 		all .1s linear; 
}
.Sondeo .Pregunta .Buttons A:hover,
.Sondeo .Pregunta .Buttons INPUT[type="button"]:hover{
	background-color: #354359;
	border-color: #354359;
	box-shadow: 0 1px 0 0 #354359 inset;
	color: #FFF;
	cursor:pointer;
}
.Sondeo .Pregunta .Buttons A.VerResultados {
	float: right;
}

.Sondeo .Resultado {
	display: none;
}





/* NOTAS DESTACADAS
**********************************************************************************/
.NotasDestacadas{
	width:100%;
	float:left;
}

.NotasDestacadas .Modul{
	width:100%;
	float:left;
	padding:20px 0;
	/*border-top:1px dotted #C5CBCF;*/
}
.NotasDestacadas .Modul:first-child{
	padding:0;
	border:none;
}

.NotasDestacadas H3.TitleSection{
	width:100%;
	float:left;
	margin-bottom:10px;
	/*padding-left:30px;*/
	font-family: 'Source Sans Pro',sans-serif;
	font-size:24px;
	font-weight:normal;
	color:#333;
	text-transform:uppercase;
	
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	
	/*background:url(../images/default/home/notas/icon-vertical.png) no-repeat;
	text-indent:30px;*/
}

.NotasDestacadas H3.TitleSection.Top{
	width:100%;
	float:left;
	padding:0 0 7px 0;
	margin:0;
	font-family: 'Source Sans Pro',sans-serif;
	font-size:18px;
	font-weight:bold;
	color:#333;
	text-transform:uppercase;
	border-bottom:1px solid #C5CBCF;
	/*background:url(../images/default/home/notas/icon-vertical.png) no-repeat;
	text-indent:30px;*/
}

.NotasDestacadas H3.TitleSection + .Modul{
	border:none;
}



/*
.NotasDestacadas .Modul .TitleSection{
	background:url(../images/default/home/notas/icon-vertical.png) no-repeat;
}
*/






.NotasDestacadas .Modul.Noticias .TitleSection{color:#19BCB9;background-position:0px 5px; }
.NotasDestacadas .Modul.Deportes .TitleSection{color:#8DC63F;background-position:0 -30px;}
.NotasDestacadas .Modul.BuenDia .TitleSection{color:#FCB034;background-position:0 -64px;}
.NotasDestacadas .Modul.Entretenimiento .TitleSection{color:#F15C22;background-position:0 -98px;}
.NotasDestacadas .Modul.Formatos .TitleSection{color:#aa73b2;background-position:0 -137px;}


.NotasDestacadas .Modul .Nota .Options SPAN {color: #fff !important;}

.NotasDestacadas .Modul.Noticias .Nota SPAN{color:#19BCB9;}
.NotasDestacadas .Modul.Deportes .Nota SPAN{color:#8DC63F;}
.NotasDestacadas .Modul.BuenDia .Nota SPAN{color:#FCB034;}
.NotasDestacadas .Modul.Entretenimiento .Nota SPAN{color:#F15C22;}

.NotasDestacadas .Modul.Noticias .Nota H1 A:hover{color:#19BCB9;}
.NotasDestacadas .Modul.Noticias .Nota H2 A:hover{color:#19BCB9;}

.NotasDestacadas .Modul.Deportes .Nota H1 A:hover{color:#8DC63F;}
.NotasDestacadas .Modul.Deportes .Nota H2 A:hover{color:#8DC63F;}

.NotasDestacadas .Modul.BuenDia .Nota H1 A:hover{color:#FCB034;}
.NotasDestacadas .Modul.BuenDia .Nota H2 A:hover{color:#FCB034;}

.NotasDestacadas .Modul.Entretenimiento .Nota H1 A:hover{color:#F15C22;}
.NotasDestacadas .Modul.Entretenimiento .Nota H2 A:hover{color:#F15C22;}


.NotasDestacadas .Modul .ModulBox .Nota H1 A:hover{color:#000;}



.NotasDestacadas .Modul .Rw{
	width:380px;
	float:left;
	margin:0 20px 0 0;
}
.NotasDestacadas .Modul .Rw .Nota{
	border-style:dotted;
	border-bottom:1px dotted #C5CBCF;
	padding:10px 0;
}
.NotasDestacadas .Rw .ModulBox.Picture + .Nota{
	padding-top:0;
}
.NotasDestacadas .Modul .Rw .Nota:first-child{
	border-style:solid;
}

.NotasDestacadas .Modul .ModulBox{
	width:220px;
	height:183px;
	float:left;
	overflow:hidden;
	margin:0 0 20px;
}
.NotasDestacadas .ModulBox .Nota .Image {
    height: 183px;
    margin: 0;
}
.NotasDestacadas .ModulBox .Nota .Image IMG {
	height: 183px;
    width: 220px;
}
.NotasDestacadas .ModulBox .Nota{
	height:183px;
	padding:0;
	border:none;
	position:relative;
	overflow:hidden;
	background: #F5F5F5;
}
.NotasDestacadas .ModulBox .Nota P{
	color: #FFFFFF;
    height: 98px;
    overflow: hidden;
    position: relative;
}
.NotasDestacadas .ModulBox .Nota .Cont {
	background: url(../images/default/notas/bg-cont.png) 0 0 repeat;
	float: left;
    height: 173px;
    left: 0;
    overflow: hidden;
    padding: 5px 15px;
    position: absolute;
    top: 110px;
    width: 190px;
    z-index: 998;
	
	transition: 		all .5s ease-in-out;
	-moz-transition: 	all .5s ease-in-out; 
	-webkit-transition: all .5s ease-in-out;
	-o-transition: 		all .5s ease-in-out;
}
.NotasDestacadas .ModulBox.Picture .Nota .Cont {
	background: url(../images/default/notas/bg-cont.png) 0 0 repeat;
	float: left;
    height: 100%;
    left: 0;
    overflow: hidden;
    padding: 15px;
    position: absolute;
    top: 266px;
    width: 100%;
    z-index: 998;
	
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	
	transition: 		all .5s ease-in-out;
	-moz-transition: 	all .5s ease-in-out; 
	-webkit-transition: all .5s ease-in-out;
	-o-transition: 		all .5s ease-in-out;
}

.NotasDestacadas .ModulBox .Nota .Cont:hover {
	top: 0;
}
.NotasDestacadas .ModulBox.Picture .Nota .Cont:hover {
	top: 266px;
}

.NotasDestacadas .Modul.Noticias .ModulBox .Cont{background:url(../images/noticias/nota/bg-cont-grad.png) 0 0 repeat;}
.NotasDestacadas .Modul.Noticias .ModulBox.Picture .Cont{background:url(../images/noticias/nota/bg-cont-grad.png) 0 0 repeat;}

.NotasDestacadas .Modul.Deportes .ModulBox .Cont{background:url(../images/deportes/nota/bg-cont.png) 0 0 repeat;}
.NotasDestacadas .Modul.BuenDia .ModulBox .Cont{background:url(../images/buendia/nota/bg-cont.png) 0 0 repeat;}
.NotasDestacadas .Modul.Entretenimiento .ModulBox .Cont{background:url(../images/entretenimientos/nota/bg-cont.png) 0 0 repeat;}
.NotasDestacadas .Modul.Formatos .ModulBox.Picture .Cont{background:url(../images/formatos/bg-cont-grad.png) 0 0 repeat;}

.NotasDestacadas .Modul.Formatos .ModulBox .Cont{background:url(../images/formatos/bg-cont-grad.png) 0 0 repeat;}


.NotasDestacadas .ModulBox .Nota .Cont H1{
	font-size: 18px;
    height: 55px;
    line-height: 18px;
    overflow: hidden;
    position: relative;
    width: 100%;
	margin-top: 5px;
}
.NotasDestacadas .ModulBox.Picture .Stripes{
	width:124px;
	height:4px;
	position:absolute;
	left:15px;
	top:0;
	background:url(../images/default/stripes.jpg) top left no-repeat;
}

.NotasDestacadas .ModulBox.Picture .Nota .Cont H1{
	margin:0;
	font-size: 22px;
    height: 85px;
    line-height: 26px;
    overflow: hidden;
    position: relative;
    width: 100%;
	font-weight:400;
}

.NotasDestacadas .ModulBox .Nota .Cont H1 A{
	color:#FFF;
}
.NotasDestacadas .ModulBox .Nota .Cont A.Videonota{
	background: url(../images/noticias/layout/btn.png) repeat-x #f1f1f1;
	border: 1px solid #D9D9D9;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 0 0 #FFFFFF inset;
    color: #666666;
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 26px;
    line-height: 27px;
    margin: 15px 0 0;
    padding: 0 8px;
    text-align: center;
	
	transition: 		all .1s linear;
	-moz-transition: 	all .1s linear; 
	-webkit-transition: all .1s linear;
	-o-transition: 		all .1s linear; 
}
.NotasDestacadas .ModulBox .Nota .Cont A.Videonota:hover {
	background-color: #354359;
	border-color: #354359;
	box-shadow: 0 1px 0 0 #354359 inset;
	color: #FFF;
}
.NotasDestacadas .ModulBox .Nota .Cont A.Videonota IMG{
	float: left;
    margin: 4px 8px 0 0;
}


.NotasDestacadas .ModulBox.Picture{
	width:100%;
	height:386px;
	margin:0 0 25px;
}
.NotasDestacadas .ModulBox.Picture .Nota{
	width:100%;
	height:100%;
	border:none !important;
	padding:0;
}
.NotasDestacadas .ModulBox.Picture .Nota .Image,
.NotasDestacadas .ModulBox.Picture .Nota .Image A{
	width:100%;
	height:100%;
}
.NotasDestacadas .ModulBox.Picture .Nota .Image IMG{
	width:auto;
	height:386px !important;
}
.NotasDestacadas .ModulBox.Picture .Time{
	width:auto;
	position:absolute;
	left:0;
	top:25px;
	padding:7px 20px 7px 15px;
	
	border-radius:0px 0px 20px;
	-moz-border-radius:0px 0px 20px;
	-webkit-border-radius:0px 0px 20px;
	
	box-shadow: 0px 0px 65px 0px #080808;
	-moz-box-shadow: 0px 0px 65px 0px #080808;
	-webkit-box-shadow: 0px 0px 65px 0px #080808;
}
.NotasDestacadas .Noticias .ModulBox.Picture .Time{background:#17a7aa;}
.NotasDestacadas .Deportes .ModulBox.Picture .Time{background:#7aaa37;}
.NotasDestacadas .BuenDia .ModulBox.Picture .Time{background:#fcb034;}
.NotasDestacadas .Entretenimiento .ModulBox.Picture .Time{background:#f15c22;}
.NotasDestacadas .Formatos .ModulBox.Picture .Time{background:#9B5BA4;}

.NotasDestacadas .ModulBox.Picture .Time H6{
	font-family: 'Source Sans Pro',sans-serif;
	font-size:15px;
	font-weight:bold;
	color:#FFF;
}
.NotasDestacadas .Noticias .ModulBox.Picture .Nota{
	border:none;
}

.NotasDestacadas .Modul .Rw .Nota .OptionsTop{
	width:100%;
	float:left;
	margin:0;
}
.NotasDestacadas .Modul .Rw .Nota .OptionsTop H5{
	width:50%;
	float:left;
	font-family:'Source Sans Pro',sans-serif;
	font-size:15px;
	font-weight:bold;
	color:#92a2bb;
}

.NotasDestacadas .Modul .Rw .Nota .OptionsTop .Rght{
	width:50%;
	float:left;
	text-align:right;
	margin: 3px 0 0;
}

.NotasDestacadas .Modul .Rw .Nota .OptionsTop A{
	display:inline-block;
	height:15px;
}
.NotasDestacadas .Modul.Noticias .Rw .Nota .OptionsTop A.Comment SPAN{color:#717c8e;}
.NotasDestacadas .Modul .Rw .Nota .OptionsTop A.Comment{
	width:auto;
	margin:0 10px 0 0;
	color:#717c8e;
}

.NotasDestacadas .Modul .Rw .Nota .OptionsTop A.Comment SPAN.Icn{
	width:18px;
	height:15px;
	float:left;
	margin:0 4px 0 0;
	color:#717c8e;
	background:url(../images/default/notas/icn-comm.png) left top no-repeat;
}
.NotasDestacadas .Modul .Rw .Nota .OptionsTop A.Heart{
	width:15px;
	background:url(../images/default/notas/icn-heart.png) left top no-repeat;
	float:right;
}
.NotasDestacadas .Modul .Rw .Nota .OptionsTop H5 STRONG{
	font-weight:bold;
	color:#717c8e;
}

.NotasDestacadas .Picture .Nota{
	border:none !important;
}
.NotasDestacadas .Nota H1{
	margin-top:10px;
	font-size:18px;
	line-height:24px;
}




.NotasDestacadas #ListaBlogs{
	width:220px;
	float:right;
	
}
.NotasDestacadas #ListaBlogs H2{
	width:100%;
	height:32px;
	padding:0 10px;
	font-size:16px;
	line-height:32px;
	font-weight:300;
	font-style:italic;
	text-transform:uppercase;
	color:#FFF;
	background: url(../images/default/blogs/icon_blog_lista.png) 187px center no-repeat;
	background-color:#1cbdba;
	
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.NotasDestacadas #ListaBlogs .BxBlgs{
	width:100%;
	float:left;
	padding:7px;
	border-top:2px solid #FFF;
	background:#EEE;
	
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.NotasDestacadas #ListaBlogs .BxBlgs.Fst{
	border:none;
}
.NotasDestacadas #ListaBlogs .BxBlgs FIGURE{
	width:46px;
	height:46px;
	float:left;
	margin:0 8px 0 0;
}
.NotasDestacadas #ListaBlogs .BxBlgs FIGURE IMG{
	max-width:100%;
	float:left;
}
.NotasDestacadas #ListaBlogs .BxBlgs .TxBx{
	width:150px;
	float:left;
}
.NotasDestacadas #ListaBlogs .BxBlgs H3 A{
	font-size:14px;
	font-weight:bold;
	color:#333;
	letter-spacing:-1px;
}
.NotasDestacadas #ListaBlogs .BxBlgs H3 A:hover{
	color:#717C8E;
}
.NotasDestacadas #ListaBlogs .BxBlgs H4{
	font-size:13px;
	color:#717c8e;
}
.NotasDestacadas #ListaBlogs .BxBlgs P{
	font-size:13px;
	color:#717c8e;
	font-style:italic;
}

/*	WIDGETS CLIMA - LOTERIA 
*************************************************************************************/
.column.grid4 .Widg,
.column.grid8 .Widg{
	width:100%;
	float:left;
	margin:25px 0px;
	position:relative;
}
.column.grid4 .Widg:first-child{
	margin:92px 0 20px;
}
#WidgLoteria{
	height:117px;
	overflow:hidden;
}
.column.grid8 #WidgLoteria.Widg{
	margin-top:0;
}
#WidgClima{
	position:relative;
	z-index:999;
	margin-top:0;
}
#WidgClima.Widg H3,
#WidgLoteria.Widg H3{
	width:100%;
	heigh:32px;
	font-size:15px;
	line-height:32px;
	text-transform:uppercase;
	color:#EDEDED;
	background:#1cbdba;
	padding:0 10px;
	
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
#WidgClima.Widg H3 EM,
#WidgLoteria.Widg H3 EM{
	font-style:normal;
	color:#063534;
}
#WidgClima.Widg H3 A,
#WidgLoteria.Widg H3 A{
	color:#EDEDED;
}
#WidgClima.Widg .BxBtn,
#WidgLoteria.Widg .BxBtn{
	width:100%;
	height:85px;
	float:left;
	padding:15px;
	position:relative;
	
	background:url(../images/default/layout/bg-grad-green.jpg) 0 0 repeat-x;
	
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.grid8 #WidgLoteria.Widg .BxBtn{
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #002D2C),color-stop(1, #002020));
	background-image: -o-linear-gradient(bottom, #002D2C 0%, #002020 100%);
	background-image: -moz-linear-gradient(bottom, #002D2C 0%, #002020 100%);
	background-image: -webkit-linear-gradient(bottom, #002D2C 0%, #002020 100%);
	background-image: -ms-linear-gradient(bottom, #002D2C 0%, #002020 100%);
	background-image: linear-gradient(to bottom, #002D2C 0%, #002020 100%);
}

#WidgClima.Widg .BxBtn .Dots,
#WidgLoteria.Widg .BxBtn .Dots{
	width:100%;
	height:100%;
	float:left;
	position:absolute;
	z-index:200;
	top:0;
	left:0;
	background:url(../images/default/layout/bg-dots.png) 0 0 repeat;
}
.grid8 #WidgLoteria.Widg .BxBtn .Dots{
	opacity:0.6;
}
.column.grid4 .Widg .Info{
	width:100%;
	float:left;
	position: relative;
	z-index: 300;
}
.column.grid4 .Widg .Info .Icn{
	width:55px;
	float:left;
	margin: 0 10px 0 0;
}
.column.grid4 .Widg .Info .Icn IMG{
	max-width:100%;
}
.column.grid4 .Widg .Info SECTION{
	width:167px;
	float:left;
	text-align:center;
}
.column.grid4 .Widg .Info SECTION STRONG{
	width:100%;
	float:left;
	font-family: 'Source Sans Pro',sans-serif;
	font-weight: 300;
	font-style: italic;
	font-size:35px;
	line-height:30px;
	color:#FFF;
}
.column.grid4 .Widg .Info SECTION STRONG SUP{
	font-size:20px;
	margin:0 3px 0 2px;
}
.column.grid4 .Widg .Info SECTION EM{
	width:100%;
	float:left;
	font-family: 'Source Sans Pro',sans-serif;
	font-weight: 300;
	font-style: italic;
	font-size:19px;
	color:#FFF;
}
.column.grid4 .Widg .Info .Open{
	width:28px;
	height: 28px;
	margin: 14px 0 0;
	float:left;
	background:url(../images/default/layout/icn-mas.png) 0 0 no-repeat;
}
.column.grid4 .Widg .Info .Open:hover{
	opacity:0.5;
}
.column.grid4 .Widg .List{
	display:none;
	width:100%;
	position: absolute;
	left: 0;
	top: 85px;
	background:#EEE;
	z-index:400;
	
	-webkit-box-shadow: 0 4px 10px 0 #0F0F0F;
	-moz-box-shadow: 0 4px 10px 0 #0F0F0F;
	box-shadow: 0 4px 10px 0 #0F0F0F;
}
.column.grid4 .Widg .List UL,
.column.grid4 .Widg .List UL LI{
	width:100%;
	float:left;
}
.column.grid4 .Widg .List UL LI A{
	width:100%;
	float:left;
	font-family: 'Source Sans Pro',sans-serif;
	font-weight: 300;
	font-size:14px;
	color:#3b3f43;
	padding:7px 15px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.column.grid4 .Widg .List UL A:hover{
	color:#FFF;
	background:#063534;
}
.column.grid4 .Widg .List .Arrow{
	width:33px;
	height:17px;
	position:absolute;
	right:25px;
	top:-17px;
	background:url(../images/default/layout/icn-arrow-solid.png) 0 0 no-repeat;
}

#WidgLoteria .Cont{
	width:100%;
	float:left;
	position:relative;
	z-index:240;
}
#WidgLoteria .slides_container,
#WidgLoteria .slide{
	width:100%;
	float:left;
}
#WidgLoteria .slide .Psto{
	width:51px;
	height:54px;
	font-family: 'Source Sans Pro',sans-serif;
	font-weight:300;
	font-size:26px;
	line-height:48px;
	color:#1cbdba;
	text-align:center;
	padding:0 18px 0 0;
	margin:0 10px 0 0;
	float:left;
	background:url(../images/default/layout/icn-lot.png) 0 0 no-repeat;
}
.grid8 #WidgLoteria .slide .Psto{
	margin-right:15px;
}
#WidgLoteria .slide .Res{	
	width:190px;
	float:left;
	margin: 10px 0 0;
}
.grid8 #WidgLoteria .slide .Res{
	width:500px;
}
#WidgLoteria .slide .Res H4{
	width:auto;
	float:left;
	padding:0 26px 0 0;
	font-family: 'Source Sans Pro',sans-serif;
	font-weight:300;
	font-size:35px;
	line-height:31px;
	font-style:italic;
	color:#1cbdba;
}
.grid8 #WidgLoteria .slide .Res H4{
	padding:0px 20px 0px 0px;
}
#WidgLoteria .slide .Res .Nro{
	width:auto;
	float:left;
	padding:0 26px 0 0;
	font-family: 'Source Sans Pro',sans-serif;
	font-weight:300;
	font-size:25px;
	font-style:italic;
	color:#FFF;
	background:url(../images/default/layout/icn-barra.png) right center no-repeat;
}
.grid8 #WidgLoteria .slide .Res .Nro{
	font-size:35px;
	line-height:31px;
}
#WidgLoteria .slide .Res .Nro STRONG{
	font-weight:300;
	font-size:25px;
	font-style:italic;
	color:#FFF;
}
.grid8 #WidgLoteria .slide .Res .Nro STRONG{
	font-size:35px;
	line-height:31px;
}
#WidgLoteria .slide .Res P{
	width:auto;
	float:left;
	font-family: 'Source Sans Pro',sans-serif;
	font-weight:300;
	font-size:25px;
	font-style:italic;
	color:#FFF;
}
.grid8 #WidgLoteria .slide .Res P{
	font-size:35px;
	line-height:31px;
}
#WidgLoteria .pagination{
	width:100px;
	height:20px;
	margin:0 auto 0;
	text-align: center;
	position: relative;
	z-index: 300;
	
	position:absolute;
	top:47px;
	left:112px;
}
.grid8 #WidgLoteria .pagination{
	left:245px;
}
#WidgLoteria .pagination LI{
    display: inline-block;
    margin: 0px 3px;
}
#WidgLoteria .pagination LI A{
	float: left;
	height: 8px;
	text-indent: -9999px;
	width: 8px;
	background:#B7B6B6;
	border-radius:30px;
	-moz-border-radius:30px;
	-webkit-border-radius:30px;
}
#WidgLoteria .pagination LI.current A{
	background:#1CBDBA;
}




/*	WIDGETS - LOTERIA - NAVIDAD
*************************************************************************************/
#WidgLoteria{
	width:100%;
}
















/*	WIDGETS DEPORTES 
*************************************************************************************/
#DatosPartido{
	width:100%;
	float:left;
	margin:0 0 30px;
}
#DatosPartido .Resultado{
	width:100%;
	float:left;
	padding:20px 25px;
	background:url(../images/default/layout/bg-dots-2.png) 0 0 repeat;
	
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
#DatosPartido .Resultado .Logo{
	width:48px;
	float:left;
}
#DatosPartido .Resultado .Logo IMG{
	max-width:100%;
}
#DatosPartido .Resultado .Equipo{
	width:237px;
	float:left;
	
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
#DatosPartido .Resultado .Equipo.Equipo1{
	padding:0 0 0 25px;
	text-align:left;
	border-right:1px solid #FFF;
}
#DatosPartido .Resultado .Equipo.Equipo2{
	padding:0 25px 0 0;
	text-align:right;
}
#DatosPartido .Resultado .Equipo SPAN{
	width:146px;
	float:left;
	font-family: 'Source Sans Pro',sans-serif;
	font-weight:bold;
	font-size:15px;
	line-height:50px;
	text-transform:uppercase;
	color:#FFF;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
#DatosPartido .Resultado .Equipo.Equipo2 SPAN{
	text-align:right;
}
#DatosPartido .Resultado .Equipo STRONG{
	width:65px;
	float:left;
	font-family: 'Source Sans Pro',sans-serif;
	font-weight:300;
	font-size:50px;
	line-height:50px;
	text-transform:uppercase;
	color:#FFF;
}
#DatosPartido .Estado{
	width:100%;
	height:20px;
	overflow:hidden;
	float:left;
	background:#53585f;
	padding:0 10px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
#DatosPartido .Estado P.Suc{
	width:29%;
	float:left;
	font-size:12px;
	line-height:20px;
	color:#ededed;
	font-family: 'Source Sans Pro',sans-serif;
}
#DatosPartido .Estado .Estadio{
	width:42%;
	float:left;
	text-align:center;
	font-size:12px;
	line-height:20px;
	color:#53585f;
	background:#8DC63F;
}
#DatosPartido .Estado A.Ficha{
	width:29%;
	float:left;
	font-family: 'Source Sans Pro',sans-serif;
	font-weight:bold;
	text-align:right;
	font-size:12px;
	line-height:20px;
	color:#FFF;
	text-transform:uppercase;
}





/*	WIDGETS DEPORTES 
*************************************************************************************/

#WidgSoloGol{
	width:220px;
	float:right;
	
}
#WidgSoloGol H2{
	width:100%;
	height:32px;
	padding:0 10px;
	font-size:16px;
	line-height:32px;
	font-weight:300;
	font-style:italic;
	text-transform:uppercase;
	color:#FFF;
	background: url(../images/default/layout/icn-video.png) 187px center no-repeat;
	background-color:#8dc63f;
	
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
#WidgSoloGol .BxBlgs{
	width:100%;
	float:left;
	padding:7px;
	border-top:2px solid #FFF;
	background:#3B3F43;
	
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
#WidgSoloGol .BxBlgs.Fst{
	border:none;
}
#WidgSoloGol .BxBlgs FIGURE{
	width:46px;
	height:46px;
	float:left;
	margin:0 8px 0 0;
}

#WidgSoloGol .BxBlgs FIGURE IMG{
	max-width:100%;
	float:left;
}
#WidgSoloGol .BxBlgs .TxBx{
	width:150px;
	float:left;
}
#WidgSoloGol .BxBlgs H3 A{
	font-size:14px;
	font-weight:bold;
	color:#FFF;
	letter-spacing:-1px;
}
#WidgSoloGol.BxBlgs H3 A:hover{
	color:#717C8E;
}
#WidgSoloGol .BxBlgs H4{
	font-size:13px;
	color:#FFF;
}
#WidgSoloGol .BxBlgs P{
	font-size:13px;
	color:#FFF;
	font-style:italic;
}


/*	FORMATOS
*************************************************************************************/
#FormatosRow{
	width:100%;
	float:left;
	padding:20px 0 0;
	background:#d8d8d8;
}
#FormatosNav{
	width:100%;
	float:left;
	padding:30px 0;
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0.42, #464646),color-stop(1, #1A1A1A));
	background-image: -o-linear-gradient(bottom, #464646 42%, #1A1A1A 100%);
	background-image: -moz-linear-gradient(bottom, #464646 42%, #1A1A1A 100%);
	background-image: -webkit-linear-gradient(bottom, #464646 42%, #1A1A1A 100%);
	background-image: -ms-linear-gradient(bottom, #464646 42%, #1A1A1A 100%);
	background-image: linear-gradient(to bottom, #464646 42%, #1A1A1A 100%);
}
#FormatosNav .Title{
	width:190px;
	float:left;
	padding-left:30px;
	font-family: 'Source Sans Pro',sans-serif;
	font-size:24px;
	line-height:24px;
	letter-spacing:-1px;
	font-weight:normal;
	text-transform:uppercase;
	
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	
	color: #AA73B2;
	/*background:url(../images/default/home/notas/icon-vertical.png) no-repeat;*/
	background-position: 0px -141px;
}
#FormatosNav .Figs{
	width:770px;
	float:left;
}
#FormatosNav .Figs FIGURE{
	width:90px;
	height:90px;
	overflow:hidden;
	display:inline-block;
	margin:0 10px;
	/*border:1px solid #FFF;*/
	
	border-radius: 50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	position:relative;
}
#FormatosNav .Figs FIGURE FIGCAPTION A{
	width:100%;
	height:100%;
	position:absolute;
	top:90px;
	left:0;
	z-index:10;
	/*background:url(../images/default/layout/bg-format.png) 0 0 repeat;*/
	padding:30px 13px 10px;
	
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	
	transition: 		all .1s linear;
	-moz-transition: 	all .1s linear; 
	-webkit-transition: all .1s linear;
	-o-transition: 		all .1s linear; 
}
#FormatosNav .Figs FIGURE:hover FIGCAPTION A{
	top:0;	
}
#FormatosNav .Figs FIGURE FIGCAPTION H5{
	width:100%;
	float:left;
	font-family: 'Source Sans Pro',sans-serif;
	font-size:14px;
	line-height:15px;
	text-transform:uppercase;
	color:#FFF;
}
#FormatosNav .Figs FIGURE FIGCAPTION H5 STRONG{
	width:100%;
	float:left;
}
#FormatosNav .Figs FIGURE IMG{
	max-width:100%;
	position:relative;
	z-index:1;
}

#FormatosNav .Otros{
	margin:10px 25px 0 0;
	padding:0 12px 0 0;
	float:right;
	font-family: 'Source Sans Pro',sans-serif;
	font-size:12px;
	font-weight:bold;
	text-transform:uppercase;
	color:#FFF;
	background:url(../images/default/layout/arrow-w.png) center right no-repeat;
}
#FormatosRow .pagination{
	width:1px;
	height:1px;
	overflow:hidden;
	opacity:0;
}







#FormatosNav + #SliderForm{
	margin-top:30px;
}

#FormatosNav + #SliderForm H3{
	display:none;
}








#SliderForm{
	width:100%;
	display:inline-block;
}
#SliderForm .WrapSlideForm{
	width:100%;
	float:left;
	position:relative;
}
#SliderForm .slides_container,
#SliderForm SECTION{
	width:100%;
	float:left;
}

#SliderForm A.prev,
#SliderForm A.next{
	display:block !important;
	width:34px;
	height:63px;
	overflow:hidden;
	text-indent:-9999px;
	position:absolute;
	top:285px;
	background-image:url(../images/default/pre-nex-bigt.png) ;
	background-repeat:no-repeat;
} 
#SliderForm A.prev{
	left:-40px;
	background-position:left top;
}
#SliderForm A.next{
	right:-40px;
	background-position:right top;
}


#SondeoForm{
	width:220px;
	float:left;
}
#SondeoForm H2{
	width: 100%;
	height: 32px;
	padding: 0px 10px;
	font-size: 16px;
	line-height: 32px;
	font-weight: 300;
	font-style: italic;
	text-transform: uppercase;
	color: #FFF;
	background: #9b5ba4;
	box-sizing: border-box;
}
#SondeoForm .Box{
	width:100%;
	float:left;
	background:#FFF;
	padding:10px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

#SondeoForm .Resultados{
	width:100%;
	float:left;
	margin:20px 0 0;
}
#SondeoForm .Resultados P STRONG{
	width:100%;
	float:left;
}
#SondeoForm .Resultados .Number {
    width: 100%;
    height: 5px;
    display: block;
    float: left;
    margin: 10px 0px 0px;
    border: 1px solid #CCC;
    background: #DDD none repeat scroll 0% 0%;
    box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
#SondeoForm .Resultados .Number SPAN {
    display: block;
    float: left;
    height: 100%;
    background: #9B5BA4;
}

#SondeoForm .Resultados EM {
    width: 100%;
    float: left;
    font-family: "Source Sans Pro",sans-serif;
    font-size: 14px;
    color: #333;
}


#SondeoForm H5{
	width:100%;
	float:left;
	font-family: 'Source Sans Pro',sans-serif;
	font-size:14px;
	color:#9b5ba4;
}
#SondeoForm .jqTransformRadioWrapper:first-child{
	margin-left:53px;
}
#SondeoForm .Box .Pregunta LABEL{
	margin-right: 20px;
}
#SondeoForm .Box .Pregunta P.Transform{
	margin:10px 0;
}
#SondeoForm .Pregunta .Buttons A,
#SondeoForm .Pregunta .Buttons INPUT[type="button"]{
	margin:0;
}
#SondeoForm .Pregunta .Buttons{
	margin:0;
	border:none;
}




/****************************************************************
		WIDGET	REDES FORMATOS
****************************************************************/
.FormatRed{
	width:100%;
	float:left;
	margin:40px 0 0;
}
.FormatRed FIGURE{
	width:120px;
	height:120px;
	overflow:hidden;
	float:left;
	margin:0 20px 0 0;
	border-radius:200px;
	-moz-border-radius:200px;
	-webkit-border-radius:200px;
	
	-webkit-box-shadow:inset 0 0 0 1px #0F0F0F;
	-moz-box-shadow:inset 0 0 0 1px #0F0F0F;
	box-shadow:inset 0 0 0 1px #0F0F0F;
}
.FormatRed .Info{
	width:160px;
	float:left;
}
.FormatRed .Info H3{
	width:100%;
	float:left;
	font-family: "Source Sans Pro",sans-serif;
    font-size: 24px;
	line-height:24px;
	font-weight:bold;
	color:#000;
}
.FormatRed .Info H4{
	width:100%;
	float:left;
	margin:5px 0 0;
	font-family: "Source Sans Pro",sans-serif;
    font-size: 18px;
	line-height:18px;
	color:#333;
	text-transform:uppercase;
}
.FormatRed .Info P{
	width:100%;
	float:left;
	margin:15px 0 0;
	font-family: "Source Sans Pro",sans-serif;
    font-size: 15px;
	color:#333;
}
.FormatRed .Info A{
	display: block;
    float: left;
    width: 32px;
    height: 32px;
	margin: 10px 0 0 10px;
    text-indent: -9999px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center;
	opacity:0.5;
	background-color:#CCC;
	border: none;
	border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
}
.FormatRed .Info A:first-child{
	margin:0;
}
A.Fb{
	margin-left:0 !important;
	background:url(../images/default/icn-fb.png) 0 0 no-repeat;
}
A.Tw{
	background:url(../images/default/icn-tw.png) 0 0 no-repeat;
}
A.In{
	background:url(../images/default/icn-yt.png) 0 0 no-repeat;
}
.FormatRed .Info A:hover{
	opacity:1;
}




/****************************************************************
		WIDGET	GALERIA DE IMAGENES PROGRAMA
****************************************************************/
.GaleriaShow{
	width:100%;
	float:left;
	margin:30px 0 0;
	background:#FFF;
	position:relative;
	text-align:center;
}
.GaleriaShow .Top{
	width:100%;
	min-height:95px;
	overflow:hidden;
	float:left;
	padding:0 20px;
	
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.GaleriaShow H3{
	display:block !important;
	width:100%;
	float:left;
	color: #333;
	margin:45px 0 0;
	font-family: "Source Sans Pro",sans-serif;
	font-size: 18px;
	letter-spacing: -0.5px;
	line-height: 18px;
	text-align:left;
}
.GaleriaShow H5{
	width:auto;
	position:absolute;
	left:0;
	top:10px;
	padding:7px 20px 7px 15px;
	background:#aa73b2;
	font-size:11px;
	color:#FFF;
	
	border-radius:0px 0px 20px;
	-moz-border-radius:0px 0px 20px;
	-webkit-border-radius:0px 0px 20px;
	
	/*box-shadow: 0px 0px 65px 0px #080808;
	-moz-box-shadow: 0px 0px 65px 0px #080808;
	-webkit-box-shadow: 0px 0px 65px 0px #080808;*/

}
.GaleriaShow .Slider-Ph{
	width:100%;
	float:left;
}
.GaleriaShow .Cont{
	width:100%;
	float:left;
	height:169px;
	position:relative;
	overflow:hidden;
}
.GaleriaShow .WrpSlidesProg{
	width:100%;
	float:left;
	margin:0;
	height:169px;
}
.GaleriaShow .WrpSlidesProg DIV,
.GaleriaShow .WrpSlidesProg DIV A{
	width:300px;
	height: 169px;
	float:left;
}
.GaleriaShow .WrpSlidesProg IMG{
	max-width:100%;
	max-height: 169px;
}
.GaleriaShow .Cont .prev,
.GaleriaShow .Cont .next{
	width:40px;
	height:40px;
	display:block;
	text-indent:-9999px;
	overflow:hidden;
	background-image:url(../images/default/pre-next.png);
	background-repeat:no-repeat;
	position:absolute;
	
}
.GaleriaShow .Cont .prev{
	background-position:left top;
	left:102px;
	bottom:12px;´
}
.GaleriaShow .Cont .next{
	background-position:right top;
	right:102px;
	bottom:12px;
}
.GaleriaShow A.More{
	float:none;
	padding:2px 10px;
	display:inline-block;
	margin: 15px auto;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:12px;
	color:#FFF;
	background:#313131;
	
	border-radius: 5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

.GaleriaShow BUTTON.slick-arrow{
	width:40px;
	height:40px;
	background-image:url(../images/default/pre-next.png);
	background-repeat:no-repeat;
	z-index:999;
} 
.slick-prev, .slick-next{
	top:inherit;
	bottom:13px;
	-webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}
.slick-prev{
	left:100px;
	background-position:left top;
}
.slick-next{
	right:100px;
	background-position:right top;
}
.slick-prev::before,
.slick-next::before{
	display:none;
}
.slick-prev:hover,
.slick-prev:focus{
	background-position:left top;
}
.slick-next:hover,
.slick-next:focus{
	background-position:right top;
}


/*
	ADS
*/
.Ads.BnrPos-01{
	margin-top:30px;
}
.BnrFormatos .Ads{
	margin-top:25px;
}
.Ads.Last{
	margin-top:25px;
}


#Ads.FullWidth{
	width:970px;
	margin:0px auto;
}
#Ads.FullWidth .Ads{
	width:100%;
	float:left;
	text-align:center;
	margin:20px 0;
}
#Ads.FullWidth .Ads IMG{
	display:inline;
}

.row.Margin .column{
	margin:40px 10px 0;
}




/****************************************************************
		WIDGET	RECETAS 2/3
****************************************************************/
.grid8 .WidgRecetas{
	width:220px;
	height:230px;
	float:right;
	background:#EEE;
}
.WidgRecetas H2{
	width: 100%;
	height: 32px;
	padding: 0px 10px;
	font-size: 16px;
	line-height: 32px;
	font-weight: 300;
	font-style: italic;
	text-transform: uppercase;
	color: #FFF;
	background: #fcb034;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.WidgRecetas .Slider-Ph{
	width:100%;
	float:left;
}
.WidgRecetas .Cont {
    width: 100%;
    float: left;
    height: 150px;
    position: relative;
	overflow:visible;
}
.WidgRecetas .slides_container {
    width: 100%;
    float: left;
    height: 150px;
}
.WidgRecetas .slides_container DIV,
.WidgRecetas .slides_container DIV A{
    width: 220px;
    float: left;
}
.WidgRecetas .slides_container DIV{
	height:150px;
	background:#999;
	overflow:hidden;
}
.WidgRecetas .slides_container FIGURE{
	width:100%;
	height:95px;
	overflow:hidden;
	background:#666;
}
.WidgRecetas .slides_container FIGURE IMG{
	width:100%;
	max-width:100%;
	float:left;
}
.WidgRecetas .slides_container .Txt{
	width:100%;
	height:55px;
	float:left;
	padding:5px 10px;
	overflow:hidden;
	background:#53585f;
	
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.WidgRecetas .Cont H5{
	width:100%;
	float:left;
	font-family: "Source Sans Pro",sans-serif;
    font-size: 13px;
    font-style:italic;
	color:#bdc0c4;
}
.WidgRecetas .Cont P{
	width:100%;
	float:left;
	font-family: "Source Sans Pro",sans-serif;
    font-size: 14px;
	line-height:12px;
	font-weight:bold;
	color:#bdc0c4;
}
A.More {
	float: left;
	width: 85px;
	margin: 10px 0 0 10px;
	display: inline-block;
	background: url(../images/noticias/layout/btn.png) repeat-x #3c3c3c;
	border: 1px solid #333;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 0 0 #333 inset;
    color: #eee;
    font-size: 12px;
    font-weight: bold;
    height: 24px;
    line-height: 25px;
    padding: 0 15px;
    text-align: center;
	
	transition: 		all .1s linear;
	-moz-transition: 	all .1s linear; 
	-webkit-transition: all .1s linear;
	-o-transition: 		all .1s linear; 
}
.Contest A:hover,
A.More:hover {
	background-color: #354359;
	border-color: #354359;
	box-shadow: 0 1px 0 0 #354359 inset;
	color: #FFF;
}
.WidgRecetas .prev,
.WidgRecetas .next{
	display:block !important;
	width:25px;
	height:25px;
	display:block;
	text-indent:-9999px;
	overflow:hidden;
	background-image:url(../images/default/pre-next.png);
	background-size:50px;
	background-repeat:no-repeat;
	position:absolute;
}
.WidgRecetas .Cont .prev{
	background-position:left top;
	right:40px;
	bottom:-35px;
}
.WidgRecetas .Cont .next{
	background-position:right top;
	right:10px;
	bottom:-35px;
}






/****************************************************************
		NOTAS RECOMENDADAS
****************************************************************/
#NotasRecomend{
	width:100%;
	float:left;
}





/****************************************************************
		WIDGET CONCURSOS
****************************************************************/
#WidgConcurso{
	width:220px;
	float:left;
}
#WidgConcurso H2{
	width: 100%;
	height: 32px;
	padding: 0px 10px;
	font-size: 16px;
	line-height: 32px;
	font-weight: 300;
	font-style: italic;
	text-transform: uppercase;
	color: #FFF;
	background: #f15c22;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
#WidgConcurso .Slider-Ph{
	width:100%;
	float:left;
}
#WidgConcurso .Cont {
    width: 100%;
    float: left;
    height: 150px;
    position: relative;
	overflow:visible;
}
#WidgConcurso .slides_container {
    width: 100%;
    float: left;
    height: 150px;
}
#WidgConcurso .slides_container DIV,
#WidgConcurso .slides_container DIV A{
    width: 220px;
    float: left;
}
#WidgConcurso .slides_container DIV{
	height:150px;
	background:#999;
	overflow:hidden;
}
#WidgConcurso .slides_container FIGURE{
	width:100%;
	height:95px;
	overflow:hidden;
	background:#666;
}
#WidgConcurso .slides_container FIGURE IMG{
	width:100%;
	max-width:100%;
	float:left;
}
#WidgConcurso .slides_container .Txt{
	width:100%;
	height:55px;
	float:left;
	padding:5px 10px;
	overflow:hidden;
	background:#53585f;
	
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
#WidgConcurso .Cont H5{
	width:100%;
	float:left;
	font-family: "Source Sans Pro",sans-serif;
    font-size: 13px;
    font-style:italic;
	color:#bdc0c4;
}
#WidgConcurso .Cont P{
	width:100%;
	float:left;
	font-family: "Source Sans Pro",sans-serif;
    font-size: 14px;
	line-height:12px;
	font-weight:bold;
	color:#bdc0c4;
}
A.More {
	float: left;
	width: 85px;
	margin: 10px 0 0 10px;
	display: inline-block;
	background: url(../images/noticias/layout/btn.png) repeat-x #3c3c3c;
	border: 1px solid #333;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 0 0 #333 inset;
    color: #eee;
    font-size: 12px;
    font-weight: bold;
    height: 24px;
    line-height: 25px;
    padding: 0 15px;
    text-align: center;
	
	transition: 		all .1s linear;
	-moz-transition: 	all .1s linear; 
	-webkit-transition: all .1s linear;
	-o-transition: 		all .1s linear; 
}
.Contest A:hover,
A.More:hover {
	background-color: #354359;
	border-color: #354359;
	box-shadow: 0 1px 0 0 #354359 inset;
	color: #FFF;
}
#WidgConcurso .prev,
#WidgConcurso .next{
	width:25px;
	height:25px;
	display:block;
	text-indent:-9999px;
	overflow:hidden;
	background-image:url(../images/default/pre-next.png);
	background-size:50px;
	background-repeat:no-repeat;
	position:absolute;
}
#WidgConcurso .Cont .prev{
	background-position:left top;
	right:40px;
	bottom:63px;
}
#WidgConcurso .Cont .next{
	background-position:right top;
	right:10px;
	bottom:63px;
}




/****************************************************************
		CRITICA
****************************************************************/
#Critica{
	width:100%;
	float:left;
}
#Critica .SondeoImg{
	width:100%;
	float:left;
	padding:0 0 15px;
	background:#f3f3f3;
}
#Critica .SondeoImg H5{
	width:100%;
	float:left;
	padding:15px;
	font-size:14px;
	color:#f15c22;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
#Critica .Image{
	width:100%;
	float:left;
	height:140px;
	overflow:hidden;
	text-align:center;
}
#Critica .Image{
	display:inline;
	max-width:100%;
}
#Critica .Transform{
	width:100%;
	float:left;
	margin:15px 0;
	text-align:center;
}
#Critica LABEL {
	margin:0px 15px 0 0;
    color: #666;
    float: none;
    font-size: 13px;
    line-height: 16px;
	vertical-align:top;
}
#Critica .Transform SPAN{
	width:20px;
	float:none;
	margin:0;
	display:inline-flex;
}
#Critica .Buttons{
	width:100%;
	float:left;
	padding:0 15px;
	text-align:center;
	
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
#Critica .Buttons A,
#Critica .Buttons INPUT[type="button"] {
	background: url(../images/noticias/layout/btn.png) repeat-x #313131;
	/*border: 1px solid #313131;*/
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 0 0 #313131 inset;
    color: #FFF;
    float: none;
    font-size: 12px;
    font-weight: bold;
    height: 24px;
    line-height: 25px;
    margin: 0px;
    padding: 0 15px;
    text-align: center;
	display:inline-block;
	border:none;
	vertical-align:middle;
	
	transition: 		all .1s linear;
	-moz-transition: 	all .1s linear; 
	-webkit-transition: all .1s linear;
	-o-transition: 		all .1s linear; 
}
/*#Critica .Buttons INPUT[type="button"] {
	line-height:23px;
}*/
#Critica .Buttons A:hover,
#Critica .Buttons INPUT[type="button"]:hover{
	background-color: #354359;
	border-color: #354359;
	box-shadow: 0 1px 0 0 #354359 inset;
	color: #FFF;
	cursor:pointer;
}
#Critica .Buttons INPUT[type="button"]{
	line-height:23px;
	margin-right:5px;
}

#Critica .Box.Resultados{
	display:none;
	width:100%;
	float:left;
	padding:15px 15px 0;
	
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
#Critica .Box.Resultados P{
	width:100%;
	float:left;
	margin:10px 0;
	font-family: "Source Sans Pro",sans-serif;
    font-size: 13px;
	color:#333;
}
#Critica .Box.Resultados P{
	margin-top:0;
}
#Critica .Box.Resultados P STRONG{
	width:100%;
}
#Critica .Box.Resultados .Number{
	width:100%;
	height:5px;
	display:block;
	float:left;
	margin:10px 0 0;
	border:1px solid #CCC;
	background:#DDD;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
#Critica .Box.Resultados .Number SPAN{
	display:block;
	float:left;
	height:100%;
	background:#F15C22;
}
#Critica .Box.Resultados EM{
	width:100%;
	float:left;
	font-family: "Source Sans Pro",sans-serif;
    font-size: 14px;
	color:#333;
}







/****************************************************************
		WIDGET VIDEOS ENTRETENIMIENTO
****************************************************************/
#WidgVideos{
	width:100%;
	float:left;
	margin:30px 0;
	padding:10px 0 0;
	background:#53585F;
}
#WidgVideos H3{
	width:auto;
	margin: 0 0 0 10px;
	float:left;
	font-family: "Source Sans Pro",sans-serif;
	font-size:19px;
	text-transform:uppercase;
	color:#bdc0c4;
}
#WidgVideos A.VerMas{
	background: url(../images/noticias/layout/btn.png) repeat-x #f1f1f1;
	border: 1px solid #D9D9D9;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 0 0 #FFFFFF inset;
    color: #666666;
    float: right;
    font-size: 12px;
    font-weight: bold;
    height: 24px;
    line-height: 25px;
    margin: 0 10px 10px 0;
    padding: 0 15px;
    text-align: center;
	
	transition: 		all .1s linear;
	-moz-transition: 	all .1s linear; 
	-webkit-transition: all .1s linear;
	-o-transition: 		all .1s linear; 
}
#WidgVideos A.VerMas:hover{
	background-color: #354359;
	border-color: #354359;
	box-shadow: 0 1px 0 0 #354359 inset;
	color: #FFF;
	cursor:pointer;
}
#WidgVideos #MediaWidget{
	width:100%;
	float:left;
}
#WidgVideos #GaleriaVideos{
	width:100%;
	float:left;
}
#WidgVideos #GaleriaVideos #HolderVideo {
    width: 300px;
    /*height: 175px;*/
    float: left;
}
#WidgVideos #GaleriaVideos #HolderVideo IFRAME {
    width: 300px;
	float:left;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
	background:#222;
}
#WidgVideos #GaleriaVideos .BoxVideo {
    width: 100%;
    float: left;
}
#WidgVideos .BoxVideo .TitleVideo {
    width: 280px;
	height:15px;
	overflow:hidden;
    padding: 5px 10px;
    float: left;
    background: #333;
}
#WidgVideos .TitleVideo P {
    width: 100%;
	float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-style:italic;
    color: #FFF;
	
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#WidgVideos #VideosCarousel{
	width:100%;
	float:left;
	margin:10px 0px 0px;
}
#WidgVideos #VideosCarousel LI {
	float: left;
    margin: 0 10px;
    width: 65px;
}
#WidgVideos #VideosCarousel LI A {
	float: left;
	width: 100%;
	height:40px;
	padding:5px 0 0 0;
	color:#FFF;
	background:url(images/noticias/home/video/thumb_2.png) left top no-repeat;
}
#WidgVideos #VideosCarousel LI A:hover{
	background-position: left bottom;
} 
#WidgVideos #VideosCarousel LI A.Current{
	background-position: left bottom;
} 
#WidgVideos #VideosCarousel LI A FIGURE{
	width:60px;
	height:35px;
	float:left;
	margin:3px;
	background:#454545;
	position:relative;
}

/*	CAROUSEL THUMBS VIDEOS	*/
#WidgVideos .jcarousel-container{
	float: left;
    margin: 5px 0 0;
    overflow: hidden;
    padding: 0 22px 10px;
    width: 255px; 
}
#WidgVideos .jcarousel-clip{
	width:100%;
	float:left;
	overflow: hidden;
}
#WidgVideos .jcarousel-prev{
	width:12px;
	height:24px;
	background:url(../images/default/pre-nex-w.png) left top no-repeat;
	position:absolute;
	top:13px;
	left:10px;
	z-index:9999;
	cursor:pointer;
}
#GaleriaVideos .jcarousel-next{
	width:12px;
	height:24px;
	background:url(../images/default/pre-nex-w.png) right top no-repeat;
	position:absolute;
	top:13px;
	right:10px;
	z-index:9999;
	cursor:pointer;
}



/* WIDGET ESTADISTICAS */
#FixtureAside {
	width:100%;
	float:left;
}
#FixtureAside .Title {
	width:100%;
	float:left;
	padding:7px 0px;
	background-color:#131921;
	position:relative;
	z-index:995;
	
	background-image: linear-gradient(bottom, #131921 0%, #454546 76%);
	background-image: -o-linear-gradient(bottom, #131921 0%, #454546 76%);
	background-image: -moz-linear-gradient(bottom, #131921 0%, #454546 76%);
	background-image: -webkit-linear-gradient(bottom, #131921 0%, #454546 76%);
	background-image: -ms-linear-gradient(bottom, #131921 0%, #454546 76%);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #131921),color-stop(0.76, #454546));
}	
#FixtureAside .Title H4 {
	float:left;
	padding:0 0 0 20px;
	font-family: 'Source Sans Pro',sans-serif;
    font-size: 18px;
    font-weight: bold;
	color:#FFF;
	padding-left:20px;
	line-height:17px;
	margin:3px 0 0 10px;
	background:url(../../images/deportes/fixture/icon_torneo.png) 0 0 no-repeat;
}	
#FixtureAside .Breadcrumb{
	width:100%;
	float:left;
	margin: 0 0 10px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#AAA;
}
#FixtureAside .Breadcrumb A{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#6b950b;
	
	transition: 		all .1s linear;
	-moz-transition: 	all .1s linear; 
	-webkit-transition: all .1s linear;
	-o-transition: 		all .1s linear; 
}
#FixtureAside .Breadcrumb A:hover{
	color:#333;
}
#FixtureAside .Breadcrumb A:first-child,
#FixtureAside .Breadcrumb SPAN:first-child{
	text-transform:uppercase;
}
#FixtureAside .Breadcrumb SPAN{
	font-weight:bold;
}
#FixtureAside .TitleSeccion{
	color: #333333;
    float: left;
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 36px;
    font-weight: normal;
    line-height: 38px;
    margin: 0 0 25px;
    width: 100%;
}	
#FixtureAside .SelTorneo{
	width:100%;
	float:left;
	padding:7px 0px;
	background-color:#131921;
	position:relative;
	z-index:995;
	
	background-image: linear-gradient(bottom, #131921 0%, #454546 76%);
	background-image: -o-linear-gradient(bottom, #131921 0%, #454546 76%);
	background-image: -moz-linear-gradient(bottom, #131921 0%, #454546 76%);
	background-image: -webkit-linear-gradient(bottom, #131921 0%, #454546 76%);
	background-image: -ms-linear-gradient(bottom, #131921 0%, #454546 76%);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #131921),color-stop(0.76, #454546));
}	
#FixtureAside .SelTorneo H4{
	float:left;
	padding:0 0 0 20px;
	font-family: 'Source Sans Pro',sans-serif;
    font-size: 18px;
    font-weight: bold;
	color:#FFF;
	padding-left:20px;
	line-height:17px;
	margin:3px 0 0 10px;
	background:url(../../images/deportes/fixture/icon_torneo.png) 0 0 no-repeat;
}	
#FixtureAside .SlTrn{
	float:right;
}	
#FixtureAside .SelTorneo .jqTransformSelectWrapper{
	width:200px;
	height:20px;
	float:right;
	margin:0 10px 0 0;
	position:relative;
	
	-webkit-border-radius: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
}
#FixtureAside .SelTorneo .jqTransformSelectWrapper DIV{
	padding:0px !important;
	height:20px !important;
}
#FixtureAside .SelTorneo .jqTransformSelectWrapper DIV SPAN{
	width:170px !important;
	padding:0 6px !important;
}	
#FixtureAside .SelTorneo .jqTransformSelectWrapper UL{
	top:-2px;
	right:-2px;
	width:200px !important;
}	
#FixtureAside .SelTorneo .jqTransformSelectWrapper a.jqTransformSelectOpen{
	height:19px !important;	
}	
	
#FixtureAside H5.TitleTorneo{
	 border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    color: #333333;
    float: left;
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
    width: 288px;
}
#FixtureAside H6.Fecha{
	width:100%;
	float:left;
	margin:0px; 
	font-family: 'Source Sans Pro',sans-serif;
    font-size: 18px;
    font-weight: normal;
	color:#333;
	padding-bottom:10px;
}	
#FixtureAside .BlockTabs{
	float: left;
    width: 298px;
}	
#FixtureAside .BlockTabs UL.Tbs{
	width:100%;
	float:left;
	position:relative;
	z-index:99;
}	
#FixtureAside .BlockTabs UL.Tbs LI{ 	
	float:left;
}
#FixtureAside .BlockTabs UL.Tbs LI:first-child A.Active{
	margin-left:0;
}
#FixtureAside .BlockTabs UL.Tbs A{
	font-family: 'Source Sans Pro',sans-serif;
    font-size: 12px;
    font-weight: bold;
	color:#FFF;
	text-transform:uppercase;
	padding:7px 20px;
	background: #6b950b;
	border:1px solid #FFF;
	float:left;
	height:15px;
	
	transition: 		all .1s linear;
	-moz-transition: 	all .1s linear; 
	-webkit-transition: all .1s linear;
	-o-transition: 		all .1s linear; 
}
#FixtureAside .BlockTabs UL.Tbs A:hover{
	background:#5b7e0c;
}
#FixtureAside .BlockTabs UL.Tbs A.Active{
	background:#FFF;
	color:#333;
	border-color:#BDC0C4;
	border-bottom:1px solid #FFF;
}
#FixtureAside .BlockTabs .Boxes{
	border: 1px solid #BDC0C4;
	border-bottom: none;
    float: left;
    position: relative;
    width: 100%;
    z-index: 98;
}
#FixtureAside .BlockTabs .Boxes .Bx{
	width:100%;
	float:left;
	display:none;
}
#FixtureAside .BlockTabs .Boxes #Posiciones{
	display:block;
}
#FixtureAside .AdsSponsor{
	width:298px;
	float:left;
	padding:10px 0px;
	border:1px solid #BDC0C4;
	margin:5px 0 0;
	text-align:center;
	background:#69B542;
}

#FixtureAside .Boxes .Content {
	float: left;
	width: 100%;
}

#FixtureAside .Boxes .Loader {
	border-bottom: 1px solid #BDC0C4;
    display: block;
    float: left;
    height: 60px;
    padding: 100px 0;
    text-align: center;
	width: 100%;
}


/* Estios de TABLAS */

#FixtureAside .Boxes TABLE{
	float: left;
	width: 100%;
}
#FixtureAside .Boxes TABLE TR {
    border-bottom: 1px solid #BDC0C4;
    margin: 1px 0;
    width: 100%;
}
#FixtureAside .Boxes TABLE TD {
	color: #777777;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: bold;
    padding: 3px 5px;
}
#FixtureAside .Boxes TABLE TD.Col1 {
	width: 145px;
}
#FixtureAside .Boxes TABLE TD.Estado {
	width: 20px;
}
#FixtureAside .Boxes TABLE TR.Head {
	background-color: #DDDDDD;
    border-bottom: 1px solid #BDC0C4;
    width: 100%;
}
#FixtureAside .Boxes TABLE TR.Head TH,
#FixtureAside .Boxes TABLE TR.Head TD {
	color: #555555;
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    text-transform: uppercase;
}
#FixtureAside .Boxes TABLE TR.HeadC {
	background-color: #CCCCCC;
    border-bottom: 1px solid #BDC0C4;
    width: 100%;
}
#FixtureAside .Boxes TABLE TR.HeadC TH,
#FixtureAside .Boxes TABLE TR.HeadC TD {
	color: #555;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: bold;
    padding: 8px 5px;
    text-transform: uppercase;
}

#FixtureAside .Boxes TABLE TD IMG {
	float: left;
    height: 22px;
    margin: 0 5px 0 0;
    width: 20px;
}
#FixtureAside .Boxes TABLE TD SPAN {
	background-color: #80AD19;
    border-radius: 0 7px 0 7px;
    color: #FFFFFF;
    float: left;
    font-weight: bold;
    height: 23px;
    line-height: 23px;
    text-align: center;
    width: 25px;
}
#FixtureAside .Boxes TABLE TD EM {
    float: left;
    font-weight: bold;
    line-height: 23px;
    text-align: center;
    text-indent: -9999px;
    width: 10px;
}
#FixtureAside .Boxes TABLE TD STRONG {
	color: #555555;
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 14px;
    line-height: 24px;
}


#FixtureAside .Boxes TABLE A{
	display:block;
	width:15px;
	height:14px;
	overflow:hidden;
	text-indent:-9999px;
}
#FixtureAside .Boxes TABLE A.VerNota{
	background:url(../../images/deportes/fixture/icon_partido.png) right top no-repeat;
}
#FixtureAside .Boxes TABLE A.VerNota:hover{
	background-position: -15px -14px;
}
#FixtureAside .Boxes TABLE A.VerVivo{
	margin:-1px 0 0;
	background:url(../../images/deportes/fixture/icon_partido.png) left top no-repeat;
}
#FixtureAside .Boxes TABLE A.VerVivo:hover{
	background-position:0 -14px;
}

#FixtureAside .SeeStat {
    float: left;
    text-align: center;
    width: 300px;
}
#FixtureAside .SeeStat A {
	background: url(../../images/noticias/layout/btn.png) repeat-x #f1f1f1;
	border: 1px solid #D9D9D9;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 0 0 #FFFFFF inset;
    color: #666666;
    float: left;
    font-size: 13px;
    font-weight: bold;
    height: 28px;
    line-height: 29px;
    margin: 5px 0;
    text-align: center;
    width: 298px;
	
	transition: 		all .1s linear;
	-moz-transition: 	all .1s linear; 
	-webkit-transition: all .1s linear;
	-o-transition: 		all .1s linear; 
}
#FixtureAside .SeeStat A:hover {
    background-color: #354359;
	border-color: #354359;
	box-shadow: 0 1px 0 0 #354359 inset;
	color: #FFF;
}













































































































































/* Nota Bomba */

#Bomba {
	float: left;
	margin: 0px;
	padding: 0;
	width: 960px;
	height:335px;
	border-top: 0 none;
}
#Bomba .Cont {
	float: left;
    height: 295px;
    overflow: hidden;
    padding: 20px 16px;
    position: relative;
    width: 348px;
	background:#22bcb9;
}
#Bomba .Cont H1 {
	font-size: 40px;
    letter-spacing: -2px;
    line-height: 38px;
	margin:-10px 0px 0px;
}
#Bomba .Cont H1 A {
	color: #FFFFFF;
    float: left;
	
	transition: 		all .1s linear;
	-moz-transition: 	all .1s linear; 
	-webkit-transition: all .1s linear;
	-o-transition: 		all .1s linear; 
}
#Bomba .Cont H1 A:hover {
	color: #333;
}
#Bomba .Cont P {
	color: #FFF;
    font-size: 16px;
    line-height: 19px;
    margin: 10px 0;
}
#Bomba .Cont P SPAN {
	color: #FFF;
}
#Bomba .Cont A.Videonota {
	background: url(../../images/noticias/layout/btn.png) repeat-x #f1f1f1;
	border: 1px solid #D9D9D9;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 0 0 #FFFFFF inset;
    color: #666666;
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 26px;
    line-height: 27px;
    margin: 0;
    padding: 0 8px;
    text-align: center;
	
	transition: 		all .1s linear;
	-moz-transition: 	all .1s linear; 
	-webkit-transition: all .1s linear;
	-o-transition: 		all .1s linear; 
}
#Bomba .Cont A.Videonota:hover {
	background-color: #354359;
	border-color: #354359;
	box-shadow: 0 1px 0 0 #354359 inset;
	color: #FFF;
}
#Bomba .Cont A.Videonota IMG {
	float: left;
	margin: 4px 8px 0 0;
}
#Bomba .Cont .Options {
    bottom: 15px;
    float: left;
    position: absolute;
    right: 15px;
    width: 370px;
	
}

#Bomba .ImageGallery {
	float: left;
    height: 335px;
    position: relative;
    width: 580px;
	overflow:hidden;
}
#Bomba .ImageGallery .slides_container {
	float:left;
	height: 335px;
	width: 579px;
	background:#111;
}
#Bomba .ImageGallery .slides_container A,
#Bomba .ImageGallery .slides_container IMG {
	height: 335px;
	width: 580px;	
}
#Bomba .ImageGallery .slides_container IMG{
	min-width:100%;
	max-width:100%;
	height:auto;
}
#Bomba .ImageGallery .pagination {
	bottom: 15px;
    position: absolute;
    right: 15px;
    z-index: 99;
}
#Bomba .ImageGallery .pagination LI {
	float: left;
    margin: 3px;
}
#Bomba .ImageGallery .pagination A {
	background: url(../../images/noticias/nota/bomba-dot.png) no-repeat center top;
	float: left;
    height: 16px;
    text-indent: -9999px;
    width: 16px;
}
#Bomba .ImageGallery .pagination LI.current A {
	background-position: center bottom;
}
#Bomba .Options A, #SliderNotas .Options A{
	background: url(../../images/noticias/nota/options3.png) no-repeat;
}
#Bomba .Options A.Comment, #SliderNotas .Options A.Comment {
	width:23px;
	background-position: -19px 0;
    color: #FFFFFF;
    font-size: 11px;
    line-height: 16px;
    text-align: center;
}
#Bomba .Options A.Cut, #SliderNotas .Options A.Cut{
	background-position: 3px 1px;
    text-indent: -9999px;
}
#Bomba .Options A.Comment:hover, #SliderNotas .Options A.Comment:hover{
	background-position: -19px -20px;
}
#Bomba .Options A.Cut:hover, #SliderNotas .Options A.Cut:hover{
	background-position: 3px -19px;
}
#Bomba.Nota H4 {
	color: #FFF;
	float: left;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 12px;
	width: auto;
	-webkit-border-radius: 0;
	border-radius: 0;
	background: none;
	padding: 5px 10px;
}
#MainSlider.NoteSlide {
	background:#000;
	height:336px;
}

#MainSlider.NoteSlide #Bomba .Cont H1 A:hover {
	color: #aaa;
}

#Bomba .OptionsTop{
	width:100%;
	float:left;
	margin:10px 0px 5px;
}
#Bomba .OptionsTop H5{
	width:50%;
	float:left;
	font-family:'Source Sans Pro',sans-serif;
	font-size:15px;
	font-weight:bold;
	color:#FFF;
}
#Bomba .OptionsTop .Rght{
	width:50%;
	float:left;
	text-align:right;
	margin: 3px 0 0;
}
#Bomba.OptionsTop A{
	display:inline-block;
	height:15px;
}
#Bomba .OptionsTop A.Comment SPAN{color:#FFF;}
#Bomba .OptionsTop A.Comment{
	width:auto;
	margin:0 10px 0 0;
	color:#fff;
}
#Bomba .OptionsTop A.Comment SPAN.Icn{
	width:18px;
	height:15px;
	float:none;
	display: inline-block;
	margin:0 4px 0 0;
	color:#FFF;
	background:url(../images/default/notas/icn-comm-2.png) left top no-repeat;
}
#Bomba .OptionsTop A.Heart{
	width:15px;
	height:15px;
	display:inline-block;
	background:url(../images/default/notas/icn-heart-2.png) left top no-repeat;
}
#Bomba .OptionsTop H5 STRONG{
	font-weight:bold;
	color:#FFF;
}


/*COLORES SLIDER 1*/
#FormatosRow #SliderForm .slides_container .slides_control section:nth-child(1) .NotasDestacadas .Modul.Formatos .ModulBox.Picture .Cont {
	background:#b427c3;
	opacity:0.9;
}
#FormatosRow #SliderForm .slides_container .slides_control section:nth-child(1) .NotasDestacadas .Formatos .ModulBox.Picture .Time, #FormatosRow #SliderForm .slides_container .slides_control section:nth-child(1) .NotasDestacadas .Modul.Formatos .ModulBox .Cont, #FormatosRow #SliderForm .slides_container .slides_control section:nth-child(1) .GaleriaShow .Top H5 {
	background:#b427c3;
}

/*COLORES SLIDER 2*/
#FormatosRow #SliderForm .slides_container .slides_control section:nth-child(2) .NotasDestacadas .Modul.Formatos .ModulBox.Picture .Cont {
	background:#0f7675;
	opacity:0.9;
}
#FormatosRow #SliderForm .slides_container .slides_control section:nth-child(2) .NotasDestacadas .Formatos .ModulBox.Picture .Time, #FormatosRow #SliderForm .slides_container .slides_control section:nth-child(2) .NotasDestacadas .Modul.Formatos .ModulBox .Cont, #FormatosRow #SliderForm .slides_container .slides_control section:nth-child(2) .GaleriaShow .Top H5 {
	background:#0f7675;
}

/*COLORES SLIDER 3*/
#FormatosRow #SliderForm .slides_container .slides_control section:nth-child(3) .NotasDestacadas .Modul.Formatos .ModulBox.Picture .Cont {
	background:#144e76;
	opacity:0.9;
}
#FormatosRow #SliderForm .slides_container .slides_control section:nth-child(3) .NotasDestacadas .Formatos .ModulBox.Picture .Time, #FormatosRow #SliderForm .slides_container .slides_control section:nth-child(3) .NotasDestacadas .Modul.Formatos .ModulBox .Cont, #FormatosRow #SliderForm .slides_container .slides_control section:nth-child(3) .GaleriaShow .Top H5 {
	background:#144e76;
}

