/* Reset Styles */
* {margin: 0px; padding: 0px; border: 0px none; outline: 0px;}
BODY {font: 62.5% Arial, Helvetica, sans-serif; color: #000; background: #FFFFFF; height:100%; min-height:100%; margin: 0 !important; }
P, TD, TH, DIV, SPAN, LI, BLOCKQUOTE {font: 1em Arial, Helvetica, sans-serif;}
H1, H2, H3, H4, H5, H6 {font-weight: normal; font-size: 100%; display: block}
ARTICLE, ASIDE, AUDIO, CANVAS, FIGURE, FIGCAPTION, FOOTER, HEADER, NAV ,SECTION {display: block}
TABLE {border-collapse: collapse; border-spacing: 0;}
TH {text-align: left;}
TD, TH {empty-cells: show}
INPUT, SELECT, TEXTAREA { font: 1em Arial, Helvetica, sans-serif; color: #000; background: #FFF; border: 1px solid #CCC; }
INPUT, SELECT { vertical-align: middle}
INPUT[type="radio"], INPUT[type="checkbox"] {border: none; height: auto !important; width: auto !important;}
INPUT[type="submit"], INPUT[type="reset"], INPUT[type="buttom"] {cursor: pointer}
TEXTAREA {overflow:auto;}
UL, OL, LI {list-style: none;}
A {text-decoration: none; cursor:pointer;}
.CleanFloats{clear: both; float: none; height: 0px;}
.Clearfix:after {content:"."; display:block; height:0; clear:both; visibility:hidden;}
*+html .Clearfix {min-height: 1%;} /*IE7*/
* html .Clearfix {height:1%;} /*IE6*/




/* font-family: 'Source Sans Pro', sans-serif; */





/* Grid 960px */

.grid1 { width:60px; }
.grid2 { width:140px; }
.grid3 { width:220px; }
.grid4 { width:300px; }
.grid5 { width:380px; }
.grid6 { width:460px; }
.grid7 { width:540px; }
.grid8 { width:620px; }
.grid9 { width:700px; }
.grid10 { width:780px; }
.grid11 { width:860px; }
.grid12 { width:940px; }
.column { margin: 0 10px; float: left; display: inline; }
.row { width: 960px; margin: 0 auto; }
.row .row { margin: 0 -10px; width: auto; display: inline-block; }







/* TOP NAV
---------------------------------------------------------------------------------------------------------*/

#TopNav {
	background: url(../images/default/layout/bg-topnav.png) repeat-x;
	float: left;
    height: 35px;
    width: 100%;
}

#TopNav .Links {
	float: left;
    line-height: 22px;
    width: 560px;
}
#TopNav .Links A.Main {
	border-right: 1px dotted #777777;
    float: left;
    height: 19px;
    margin: 8px 10px 0 0;
    padding: 0 10px 0 0;
    width: 120px;
}
#TopNav .Links A.Main IMG {
	float: left;
}
#TopNav .Links UL{
	float: left;
    width: 419px;
}
#TopNav .Links UL LI{
	float:left;
	position:relative;
}
#TopNav .Links LI A {
	color: #DDDDDD;
    float: left;
    font-size: 13px;
    font-weight: bold;
    line-height: 35px;
    margin: 0;
    padding: 0 10px;
    text-transform: uppercase;
}
#TopNav .Links LI A STRONG {
	font-weight:bold;
	float:left;
}
#TopNav .Links LI A SPAN {	
	background:url(../images/default/layout/header/icon-arrow-subnav.png) 0 0 no-repeat;
	display: block;
    float: left;
    height: 5px;
    margin: 15px 0 0 5px;
    width: 7px;
}
#TopNav .Links LI:hover {
	
	background-color: #c6c6c6;	
	background-image: linear-gradient(bottom, rgb(162,162,162) 0%, rgb(200,200,200) 100%);
	background-image: -o-linear-gradient(bottom, rgb(162,162,162) 0%, rgb(200,200,200) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(162,162,162) 0%, rgb(200,200,200) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(162,162,162) 0%, rgb(200,200,200) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(162,162,162) 0%, rgb(200,200,200) 100%);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(162,162,162)),color-stop(1, rgb(200,200,200)));
}
#TopNav .Links LI:hover STRONG {
	color: #333;
}



#TopNav .Links UL LI:hover > A {
	color: #FFFFFF;
}
#TopNav .Links UL LI:hover UL {
	display:block;
}

#TopNav .Links .SubNav {
	background-color: #C9C9C9;
    border: 1px solid #ADADAD;
    clear: both;
    display: none;
    float: left;
    left: 0;
    position: absolute;
    top: 35px;
    width: 140px;
    z-index: 9999;
}
#TopNav .Links .SubNav LI{
	width:100%;
	padding:0;
	float:left;
	margin:0;
}

#TopNav .Links .SubNav LI A{
	border-top: 1px solid #ADADAD;
	color: #333333;
    float: left;
    line-height: 28px;
    padding: 0;
    text-indent: 10px;
    text-transform: none;
    width: 100%;
}
#TopNav .Links .SubNav LI:first-child A {
	border-top:none;
}
#TopNav .Links .SubNav LI A:hover{
	background:#AAA;
}

#TopNav .FollowUs {
    border-left: 1px dotted #777777;
    float: left;
    height: 22px;
    line-height: 22px;
    margin: 8px 0 0 0px;
    padding: 0 0 0 8px;
    width: 114px;
}
#TopNav .FollowUs H5 {
	color: #999999;
    float: left;
    font-size: 12px;
    font-weight: bold;
    margin: 0 10px 0 0;
}
#TopNav .FollowUs A {
	background: url(../images/default/layout/header/icons-social.png) no-repeat;
	float: left;
    height: 20px;
    text-indent: -9999px;
    width: 22px;
}
#TopNav .FollowUs A.Twitter 	{ background-position: 0 0; }
#TopNav .FollowUs A.Facebook 	{ background-position: -22px 0; }
#TopNav .FollowUs A.YouTube 	{ background-position: -44px 0; }
#TopNav .FollowUs A.Pinterest 	{ background-position: -66px 0; }
#TopNav .FollowUs A.RSS 		{ background-position: -88px 0; }
#TopNav .FollowUs A.Google 		{ margin: 0 0 0 3px; background-position: -111px 0; }

#TopNav .FollowUs A.Twitter:hover 	{ background-position: 0 -20px; }
#TopNav .FollowUs A.Facebook:hover 	{ background-position: -22px -20px; }
#TopNav .FollowUs A.YouTube:hover 	{ background-position: -44px -20px; }
#TopNav .FollowUs A.Pinterest:hover { background-position: -66px -20px; }
#TopNav .FollowUs A.RSS:hover 		{ background-position: -88px -20px; }
#TopNav .FollowUs A.Google:hover 		{ background-position: -111px -20px; }

#TopNav .Buttons {
	float: right;
    margin: 6px 0 0;
    width: 252px;
}
#TopNav .Buttons A {
    border-top: 1px solid #ACADAE;
    float: left;
    height: 27px;
    margin: 0 0 0 1px;
    position: relative;
    width: 85px;
	
	background-image: linear-gradient(bottom, rgb(87,89,93) 0%, rgb(126,128,130) 100%);
	background-image: -o-linear-gradient(bottom, rgb(87,89,93) 0%, rgb(126,128,130) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(87,89,93) 0%, rgb(126,128,130) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(87,89,93) 0%, rgb(126,128,130) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(87,89,93) 0%, rgb(126,128,130) 100%);
	background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(87,89,93)), color-stop(1, rgb(126,128,130)) );
}
#TopNav .Buttons A.Active {
	background: none #3d3d3d;
	height: 29px;
}
#TopNav .Buttons A.Contacto  {
	width:100px;
}
#TopNav .Buttons A.Buscar  {
	width:150px;
}
#TopNav .Buttons A.Buscar STRONG {
	width:125px;
}
#TopNav .Buttons A.Login  {
	
}
#TopNav .Buttons A.Registro  {
	
}
#TopNav .Buttons A.MiPerfilIn  {
	display: none;
}
#TopNav .Buttons A.Logout  {
	display: none;
}
#TopNav .Buttons A.Contacto STRONG {
	background-image: url(../images/default/layout/header/icon-contact.png);	
}
#TopNav .Buttons A.Buscar STRONG {
	background-image: url(../images/default/layout/header/icon-buscar.png);	
}
#TopNav .Buttons A.Login STRONG {
	background-image: url(../images/default/layout/header/icon-login.png);
	
}
#TopNav .Buttons A.RegisterBtn STRONG {
	background-image: url(../images/default/layout/header/icon-register.png);
	
}
#TopNav .Buttons A.MiPerfilIn STRONG {
	background-image: url(../images/default/layout/header/icon-login.png);
}
#TopNav .Buttons A.Logout STRONG {
	background-image: url(../images/default/layout/header/icon-logout.png);
}



#TopNav .Buttons A STRONG {
	background-position: left center;
    background-repeat: no-repeat;
    color: #DDDDDD;
    float: left;
    font-size: 12px;
    font-weight: bold;
    line-height: 28px;
    margin: 0 11px;
    text-align: right;
    width: 75px;
}

#TopNav .Buttons A:hover STRONG {
	color: #FFF;
}
#TopNav .Buttons A.Active STRONG {
	background-image: url(../images/default/layout/header/icon_out.png);
}










/* HOY EN TELETICA
---------------------------------------------------------------------------------------------------------*/

#HoyTeletica{
	display:none;
	width:100%;
	float:left;
	background: #3E424A url(../images/default/layout/bg-header-hoy.png) center top no-repeat;
	border-top:1px solid #3E424A;
	border-bottom:2px solid #FFF;
}
#SliderHoyTeletica{
	float: left;
    height: 150px;
    margin: 0;
    overflow: hidden;
    width: 100%;
	position:relative;
}
#SliderHoyTeletica H5{
	width:600px;
	float:left;
	margin:15px 0 0;
	font-family: 'Source Sans Pro',sans-serif;
    font-size: 18px;
    line-height: 20px;
	font-weight:bold;
	text-transform:uppercase;
	color:#FFF;
}
#SliderHoyTeletica UL{
	/*width:940px;*/
	float:left;
	margin:10px 0 0;
}
#SliderHoyTeletica UL LI{
	width:234px;
	float:left;
	border-right:1px dotted #92A2BB;
}
#SliderHoyTeletica UL LI:last-child{
	border:none;
}

#SliderHoyTeletica DIV.Bx{
	width:190px;
	float:left;
	padding:10px;
	margin:0 10px;
	position:relative;
}

#SliderHoyTeletica DIV.Bx.Ahora{
	background:#353840;
}
#SliderHoyTeletica DIV.Ahora .AhIcon{
	display:block;
	width:40px;
	height:14px;
	background:url(../images/default/layout/header/icon-ahora.gif) 0 0 no-repeat;
	position:absolute;
	top:-2px;
	left:-10px;	
}
#SliderHoyTeletica DIV.Bx .Image{
	width:58px;
	height:48px;
	float:left;
	border:1px solid #333;
	margin:0 10px 0 0;
	overflow:hidden;
	text-align:center;
	background:#323F53;
}
#SliderHoyTeletica DIV.Bx .Image IMG{
	display:block;
}
#SliderHoyTeletica DIV.Bx P{
	width:120px;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height:13px;
	color:#FFF;
	text-transform:uppercase;
}
#SliderHoyTeletica DIV.Bx H5{
	width:120px;
	height:30px;
	overflow:hidden;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:16px;
	color:#FFF;
	font-weight:bold;
	margin:5px 0 0;	
}
#SliderHoyTeletica DIV.Bx A{
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height:13px;
	color:#92a2bb;
	font-weight:bold;
	margin:5px 0 0 70px;	
	text-transform:uppercase;
	
	display: none;
	
} 
#SliderHoyTeletica DIV.Bx A:hover{
	color:#FFF;
}
/*Carousel hoy en Teletica*/
#SliderHoyTeletica .jcarousel-direction-rtl { direction: rtl; }  
#SliderHoyTeletica .jcarousel-container-horizontal { padding: 0; width: 940px; } 
#SliderHoyTeletica .jcarousel-clip { overflow: hidden; }
#SliderHoyTeletica .jcarousel-clip-horizontal {
	height: 75px;
    width: 939px;
	float:left;
	margin:10px 0 0;
} 
#SliderHoyTeletica .jcarousel-item {
	height: 75px;
    width: 234px;
}
#SliderHoyTeletica .jcarousel-prev { 
	background: transparent url(../images/default/layout/header/slider-arrow-guia.png) left top no-repeat; 
	cursor: pointer;
    height: 39px;
    left: 0;
    position: absolute;
    top: 60px;
    width: 29px;
    z-index: 99;
}
#SliderHoyTeletica .jcarousel-prev:hover { background-position: 0 0; }
#SliderHoyTeletica .jcarousel-prev-disabled,
#SliderHoyTeletica .jcarousel-prev-disabled:hover { background-position: 0 0; }
#SliderHoyTeletica .jcarousel-next { 
	background: transparent url(../images/default/layout/header/slider-arrow-guia.png) right top no-repeat;  
	cursor: pointer;
    height: 39px;
    right: 0;
    position: absolute;
    top: 60px;
    width: 29px;
    z-index: 99;
}
#SliderHoyTeletica .jcarousel-next:hover { background-position: right top; }
#SliderHoyTeletica .jcarousel-next-disabled,
#SliderHoyTeletica .jcarousel-next-disabled:hover { background-position: right top; }


#HoyTeletica A.CerrarHTt{
	width:21px;
	height:21px;
	display:block;
	background:url(../images/default/layout/fancybox/close.png) left top no-repeat;
	float:right;
	margin:10px 10px 0 0;
	/*width:60px;
	margin:10px 0 0;
	display:block;
	float:right;
	padding:4px 10px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-align:center;
	color:#EEE;
	-webkit-border-radius: 3px;
    border-radius: 3px;
	background:#68707D;
	height: 15px;
	border:none;
	
	
	background-image: linear-gradient(bottom, #343638 0%, #585A5D 100%);
	background-image: -o-linear-gradient(bottom, #343638 0%, #585A5D 100%);
	background-image: -moz-linear-gradient(bottom, #343638 0%, #585A5D 100%);
	background-image: -webkit-linear-gradient(bottom, #343638 0%, #585A5D 100%);
	background-image: -ms-linear-gradient(bottom, #343638 0%, #585A5D 100%);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #343638),color-stop(1, #585A5D));*/
	
}
#HoyTeletica A.CerrarHTt:hover{
	background-position:left bottom;
	/*background-color: #434446;
	background-image: linear-gradient(bottom, #202122 0%, #434446 100%);
	background-image: -o-linear-gradient(bottom, #202122 0%, #434446 100%);
	background-image: -moz-linear-gradient(bottom, #202122 0%, #434446 100%);
	background-image: -webkit-linear-gradient(bottom, #202122 0%, #434446 100%);
	background-image: -ms-linear-gradient(bottom, #202122 0%, #434446 100%);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #202122),color-stop(1, #434446));*/
}

#HoyTeletica A.CerrarHTt STRONG{
	padding-left:25px;
	background: url(../images/default/layout/header/icon_out.png) 0 0 no-repeat;
	
}




/* HEADER
---------------------------------------------------------------------------------------------------------*/

HEADER {
	background: url(../images/default/layout/bg-header.png) repeat-x;
	/*border-bottom: 1px solid #747474;*/
    border-top: 1px solid #525252;
    float: left;
    /*height: 117px;*/
    width: 100%;
}
HEADER H1 {
	float: left;
    padding: 8px 0 0;
    text-align: center;
    width: 175px;
}
HEADER H1 A {
	display: inline-block;
}
HEADER H1 IMG {
	display: inline-block;
}


/* Header Boxes */

HEADER #Boxes {
	float: left;
    height: 117px;
    overflow: hidden;
    position: relative;
    width: 765px;
}
HEADER .Box {
	background: url(../images/default/layout/header/line.png) repeat-y left center;
	float: left;
    height: 78px;
    margin: 20px 0;
    padding: 0 15px;
}







/* CLIMA
---------------------------------------------------------------------------------------------------------*/

#BoxClima {
	width: 150px;
}
#BoxClima .Date {
	float: left;
    width: 100%;
}
#BoxClima .Date .Fecha {
	border-right: 1px dotted #888888;
    color: #FFFFFF;
    float: left;
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 18px;
    line-height: 19px;
    margin: 0 10px 0 0;
    padding: 0 10px 0 0;
}
#BoxClima .Date .Fecha STRONG {
	color: #fa4c69;
	font-weight:bold;
	margin-left: 3px;
}
#BoxClima .Date .Hora {
	color: #DDD;
    float: left;
	font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
	line-height: 19px;
}
#BoxClima .Clima {
	float: left;
    margin: 5px 0 0;
    width: 100%;
}
#BoxClima .Clima P {
	color: #AAAAAA;
    float: left;
    font-size: 12px;
    width: 100%;
}
#BoxClima .Clima P STRONG {
	color: #FFF;
	font-weight: bold;
}
#BoxClima .Clima A {
	float: left;
    height: 36px;
    margin: 4px 0 0;
    width: 100%;
}
#BoxClima .Clima A IMG {
	float: left;
	width:40px;
}
#BoxClima .Clima A STRONG {
	color: #FFFFFF;
    float: left;
    font-size: 40px;
    font-weight: normal;
    line-height: 40px;
    text-align: center;
    width: 86px;
}
#BoxClima .Clima A SPAN {
	background: url(../images/default/layout/header/view-more.png) no-repeat;
	float: left;
    height: 18px;
    margin: 17px 0 0;
    text-indent: -9999px;
    width: 18px;
}
#BoxClima .Clima A:hover SPAN {
	
}











/* COTIZACION
---------------------------------------------------------------------------------------------------------*/

#BoxCotiza {
	width: 122px;
}
#Cotizacion {
	float: left;
    height: 78px;
    position: relative;
    width: 122px;
}
#Cotizacion .slides_container {
	display: none;
    float: left;
    height: 78px;
    width: 122px;
}
#Cotizacion .slides_container .Item {
	float: left;
    height: 58px;
    width: 122px;
	display:block;
}
#Cotizacion .slides_container H4 {
	color: #999999;
    float: left;
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 18px;
    line-height: 18px;
    width: 100%;
}
#Cotizacion .slides_container H4 IMG {
	margin: 0 5px;
}
#Cotizacion .slides_container H3 {
	color: #FFFFFF;
    float: left;
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 18px;
    line-height: 20px;
    width: 100%;
	margin:0px;
}
#Cotizacion A {
	background: url(../images/default/layout/header/cotizacion/arrow.png) no-repeat;
	bottom: -2px;
    float: left;
    height: 20px;
    position: absolute;
    left: 22px;
    text-indent: -9999px;
    width: 20px;
	z-index: 99;
}
#Cotizacion A.prev 			{ background-position: 0 0; left: 0px; }
#Cotizacion A.prev:hover 	{ background-position: -20px 0; }
#Cotizacion A.next 			{ background-position: 0 -20px; }
#Cotizacion A.next:hover 	{ background-position: -20px -20px }

#Cotizacion A.VerMas{
	width: 18px;
	height: 18px;
	float:right;
	display:block;
	text-indent: -9999px;
	overflow:hidden;
	background: url(../images/default/layout/header/view-more.png) 0 0 no-repeat;
	position:relative;
	margin:-20px 15px 0 0;
}









/* EN VIVO
---------------------------------------------------------------------------------------------------------*/

#BoxVivo {
	padding: 0 0 0 15px;
    width: 295px;	
}
#BoxVivo .Lft{
	width:290px;
	float:left;
}
#BoxVivo .Bxl{
	width:100%;
	float:left;
}
#BoxVivo IMG {
	float: left;
    margin: 10px 5px 0 0;
    max-width: 80px;
}
#BoxVivo A.Lv.Hide{
	display:none;
}
#BoxVivo A.Lv.Show{
	display:block;
}
#BoxVivo H5 {
	background-color: #D11639;
    border-radius: 2px 2px 2px 2px;
    clear: right;
    color: #F7CACA;
    float: left;
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 14px;
    padding: 1px 5px;
    text-transform: uppercase;
}
#BoxVivo H5 IMG{
	float:left;
	margin:3px 5px 0 0;
}
#BoxVivo H3 {
	float: left;
    margin: 6px 0;
    width: 200px;
	min-height:30px;
	max-height:62px;
	overflow:hidden;
}
#BoxVivo H3 STRONG {
    color: #FFFFFF;
    float: left;
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 22px;
    font-style: italic;
    font-weight: normal;
    letter-spacing: -1px;
    line-height: 20px;
    width: 100%;
    
}
#BoxVivo .Rgt{
	width:44px;
	float:left;
	margin:25px 0 0;
}
#BoxVivo .Rgt A {
	background: url(../images/default/layout/header/icons-social.png) no-repeat;
	float: left;
    height: 20px;
    margin: 5px 0;
    text-indent: -9999px;
    width: 22px;
}
#BoxVivo .Rgt A.Twitter 	{ background-position: 0 0; }
#BoxVivo .Rgt A.Facebook 	{ background-position: -22px 0; }
#BoxVivo .Rgt A.Twitter:hover 	{ background-position: 0 -20px; }
#BoxVivo .Rgt A.Facebook:hover 	{ background-position: -22px -20px; }

#BoxVivo P {
	float: left;
    width: 200px;
	margin: 0;
}
#BoxVivo P A {
	border-right: 1px solid #444444;
    color: #999999;
    float: left;
    font-size: 12px;
	font-weight:bold;
    line-height: 12px;
    margin: 0 5px 0 0;
    padding: 0 5px 0 0;	
}
#BoxVivo P A:last-child {
	border: none;
}
#BoxVivo P A:hover {
	color: #FFF;
}

/* BOX BUTTONS LOGIN +  REG 
---------------------------------------------------------------------------------------------------------*/
#UsrBtn{
	width:102px;
	float:right;
	padding:0 0 0 15px;
}
#UsrBtn A {
	width:80px;
	margin:10px 0 0;
	display:block;
	float:left;
	padding:4px 10px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-align:center;
	color:#EEE;
	-webkit-border-radius: 3px;
    border-radius: 3px;
	background:#68707D;
	height: 15px;
	/*border:1px solid #57595C;
	box-shadow: 0 1px 0 0 #606060 inset;*/
	border:none;
	
	
	background-image: linear-gradient(bottom, #343638 0%, #585A5D 100%);
	background-image: -o-linear-gradient(bottom, #343638 0%, #585A5D 100%);
	background-image: -moz-linear-gradient(bottom, #343638 0%, #585A5D 100%);
	background-image: -webkit-linear-gradient(bottom, #343638 0%, #585A5D 100%);
	background-image: -ms-linear-gradient(bottom, #343638 0%, #585A5D 100%);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #343638),color-stop(1, #585A5D));

}

#UsrBtn A:hover{
	background-color: #434446;
	background-image: linear-gradient(bottom, #202122 0%, #434446 100%);
	background-image: -o-linear-gradient(bottom, #202122 0%, #434446 100%);
	background-image: -moz-linear-gradient(bottom, #202122 0%, #434446 100%);
	background-image: -webkit-linear-gradient(bottom, #202122 0%, #434446 100%);
	background-image: -ms-linear-gradient(bottom, #202122 0%, #434446 100%);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #202122),color-stop(1, #434446));
}

#UsrBtn A STRONG{
	padding-left:25px;
	background-repeat:no-repeat;
}

#UsrBtn A.Login STRONG{
	background-image: url(../images/default/layout/header/icon-login.png);
}
#UsrBtn A.Login.Active STRONG{
	background-image: url(../images/default/layout/header/icon_out.png);
}
#UsrBtn A.Active{
	background:#E9E9E9;
	color:#3f3f3f;
	border-color:#FFF;
}
#UsrBtn A.Active:hover{
	color:#FFF;
	
	background-image: linear-gradient(bottom, #202122 0%, #434446 100%);
	background-image: -o-linear-gradient(bottom, #202122 0%, #434446 100%);
	background-image: -moz-linear-gradient(bottom, #202122 0%, #434446 100%);
	background-image: -webkit-linear-gradient(bottom, #202122 0%, #434446 100%);
	background-image: -ms-linear-gradient(bottom, #202122 0%, #434446 100%);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #202122),color-stop(1, #434446));
}
#UsrBtn A.Logout STRONG{
	background-image: url(../images/default/layout/header/icon-salir.png);
}
#UsrBtn A.MiPerfilIn STRONG{
	background-image: url(../images/default/layout/header/icon-login.png);
}
#UsrBtn A.MiPerfilIn.Active STRONG{
	background-image: url(../images/default/layout/header/icon_out.png);
} 
#UsrBtn A.RegisterBtn STRONG {
	background-image: url(../images/default/layout/header/icon-register.png);
}

#LoginBox #UsrBtn{
	margin-top:0;
}
#UsrBtn .MiPerfilIn, #UsrBtn .Logout{
	display:none;
}




/* Panel Box */
#Boxes .PanelBox {
	background: url("../images/default/layout/bg-header.png") repeat-x scroll 0 0 transparent;
    display: none;
    float: left;
    height: 77px;
    left: 2px;
    padding: 20px 0px 20px 10px;
    position: absolute;
    top: 0;
    width: 630px;
    z-index: 99;
}
















/* LOGIN BOX 
---------------------------------------------------------------------------------------------------------*/
#LoginBox {
}
#LoginBox .Form {
	float: left;
    padding: 0 10px 0 0;
    width: 420px;
}
#LoginBox .Social {
	background: url("../images/default/layout/header/line.png") repeat-y scroll left center transparent;
	float: left;
    height: 78px;
    padding: 0 0 0 15px;
    width: 183px;
}
#LoginBox H4 {
	color: #AFAFAF;
    float: left;
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 16px;
    line-height: 16px;
    width: 100%;
	margin:0 0 5px;
}
#LoginBox P {
	float: left;
    margin: 0 10px 0 0;
    position: relative;
    width: 160px;
}
#LoginBox P.Error INPUT[type="text"],
#LoginBox P.Error INPUT[type="password"]{
	border-color:#F00;
}
 
#LoginBox .ErrorMsg{
	width:230px;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	color:#F00;
	float:left;
	font-size:11px;
	line-height:12px;
	font-weight:bold;
	margin:2px 0 0;
}
#LoginBox P.last-child {
	margin: 0;
    width: 75px;
}
#LoginBox A {
	color: #AAAAAA;
    float: left;
    font-size: 12px;
    margin: 4px 0 0;
	width: 59px;	
}
#LoginBox A.First{
	margin-right:10px;
	padding-right:10px;
	border-right:1px solid #858585;
	width:109px;
}
#LoginBox A:hover {
	color: #FFF;
}
#LoginBox INPUT[type="text"],
#LoginBox INPUT[type="password"] {
    width: 146px;
}
#LoginBox INPUT[type="submit"] {
	background-color: #EDEDED;
    border-radius: 2px 2px 2px 2px;
    color: #333333;
    cursor: pointer;
    float: left;
    font-size: 12px;
    font-weight: bold;
    margin: 2px 0;
    padding: 5px 0;
    width: 75px;
	
	transition: 		all .1s linear;
	-moz-transition: 	all .1s linear; 
	-webkit-transition: all .1s linear;
	-o-transition: 		all .1s linear; 
}
#LoginBox INPUT[type="submit"]:hover {
	border-color: #D11639;
	background-color: #D11639;
	color: #FFF;
}
#LoginBox .Social A {
	background: url(../images/default/layout/header/social-connect.png) no-repeat;
	float: left;
    height: 50px;
    text-indent: -9999px;
    width: 50px;
	margin:-2px 10px 0 0;
	
}
#LoginBox .Social A.Twitter 		{ background-position: 0 0; }
#LoginBox .Social A.Facebook 		{ background-position: -50px 0; }
#LoginBox .Social A.Twitter:hover 	{ background-position: 0 -50px; }
#LoginBox .Social A.Facebook:hover 	{ background-position: -50px -50px; }













/* SEARCH BOX
---------------------------------------------------------------------------------------------------------*/

#SearchBox H4 {
	color: #AFAFAF;
    float: left;
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 16px;
    line-height: 30px;
    width: 280px;
}
#SearchBox A.AdvSearch{
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#FFF;
	text-transform:uppercase;
	margin:10px 0 0 70px;
	
	transition: 		all .1s linear;
	-moz-transition: 	all .1s linear; 
	-webkit-transition: all .1s linear;
	-o-transition: 		all .1s linear;
}
#SearchBox A.AdvSearch:hover{
	color:#AFAFAF;
}

#SearchBox FORM {
	float: left;
    position: relative;
    width: 487px;
}
#SearchBox INPUT[type="text"] {
	background-color: #EEEEEE;
    border: 2px solid #3F3F3F;
    color: #555555;
    float: left;
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 16px;
    padding: 3px 26px 3px 6px;
    width: 450px;
}
#SearchBox INPUT[type="text"]:focus {
	background-color: #FFF;
    border: 2px solid #222;
    color: #222;
}
#SearchBox INPUT[type="submit"] {
	background: url(../images/default/layout/header/icon-search.png) no-repeat;
	border: medium none;
    font-size: 0;
    height: 22px;
    position: absolute;
    right: 6px;
    text-indent: -9999px;
    top: 4px;
    width: 22px;
}

/*	DEMO USUARIO LOGUEADO	*/
#UserLog .DataUser{
	float: left;
    margin: 0;
    width: 270px;
}
#UserLog .DataUser FIGURE{
	border: 1px solid #7C7C7C;
    display: block;
    float: left;
    height: 75px;
    margin: 0 20px 0 0;
    width: 75px;
}
#UserLog .DataUser FIGURE IMG{
	display:block;
	float:left;
}
#UserLog .DataUser .Data{
	float: left;
    width: 160px;
}
#UserLog A.PerfilUsr:hover H2, #UserLog A.PerfilUsr:hover H3{
	color:#CCC;
}
#UserLog .DataUser .Data H2{
	width:100%;
	float:left;
	font-family: 'Source Sans Pro',sans-serif;
    font-size: 28px;
	line-height:28px;
	font-weight:normal;
	color:#FFF;
}
#UserLog .DataUser .Data H3{
	width:100%;
	float:left;
	font-family: 'Source Sans Pro',sans-serif;
    font-size: 28px;
	line-height:28px;
	font-weight:bold;
	color:#FFF;
}
#UserLog .DataUser .Data P{
	width:100%;
	float:left;
	font-family: 'Source Sans Pro',sans-serif;
    font-size: 14px;
	font-weight:normal;
	color:#FFF;
}

#UserLog .MenuUser{
	height:78px;
	float: left;
    padding: 0 0 0 20px;
    width: 340px;
	background:url(../images/default/layout/header/line.png) left center no-repeat    ;	
}
#UserLog .MenuUser .Acc{
	width:100%;
	float:left;
}
#UserLog .MenuUser .Acc LI{
	float: left;
    margin: 6px 0 3px;
    width: 50%;
}
#UserLog .MenuUser .Acc LI A{
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	line-height:15px;
	font-weight:bold;
	color:#999;
}
#UserLog .MenuUser .Acc LI A:hover{
	color:#F6F6F6;
}

#UserLog .MenuUser .Acc LI A SPAN{
	display:block;
	margin:0 7px 0 0;
	float:left;
	width:13px;
	height:15px;
	background:url(../images/default/layout/header/icons-user-nav.png) no-repeat;
}

#UserLog .MenuUser .Acc LI A.MisDatos SPAN{
	background-position: top left;
}

#UserLog .MenuUser .Acc LI A.MisDatos:hover SPAN{
	background-position: -15px 0px;
}

#UserLog .MenuUser .Acc LI A.TemasFav SPAN{
	background-position: -1px -22px;
}

#UserLog .MenuUser .Acc LI A.TemasFav:hover SPAN{
	background-position: -16px -22px;
}

#UserLog .MenuUser .Acc LI A.NotasRec SPAN{
	background-position: 0px -44px;
}
#UserLog .MenuUser .Acc LI A.NotasRec:hover SPAN{
	background-position: -15px -44px;
} 

#UserLog .MenuUser .Acc LI A.NotasPub SPAN{
	background-position: 0px -65px;
}
#UserLog .MenuUser .Acc LI A.NotasPub:hover SPAN{
	background-position: -15px -65px;
} 

#UserLog .MenuUser .Acc LI A.MisCom SPAN{
	background-position: 0px -83px;
}
#UserLog .MenuUser .Acc LI A.MisCom:hover SPAN{
	background-position: -15px -83px;
} 

#UserLog .MenuUser .Acc LI A.MisEv SPAN{
	background-position: 0px -98px;
}
#UserLog .MenuUser .Acc LI A.MisEv:hover SPAN{
	background-position: -15px -98px;
} 






/* Content */

#Content {
	float: left;
	width: 100%;
}





/* MAIN NAV
---------------------------------------------------------------------------------------------------------*/

#Content NAV {
	/*float: left;
	height: 42px;
    width: 100%;
	padding:0 0 40px 0;*/
	float: left;
	height: 42px;
	padding: 0 0 40px;
	position: relative;
	width: 100%;
	z-index: 99;
}
#Content NAV LI {
	float: left;
	width: 25%;
}
#Content NAV A {
	position: relative;
	margin: 0 1px 0 0;
    color: #FFFFFF;
    float: left;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    height: 42px;
    line-height: 42px;
    text-indent: 20px;
    text-transform: uppercase;
    width: 239px;
}
#Content NAV A IMG {
	display: none;
    position: absolute;
    right: 20px;
    top: 16px;
}

#Content NAV A.Active IMG {
	display: block;
}

#Content NAV A.Noticias {
	background-image: linear-gradient(top, rgb(25,187,184) 0%, rgb(18,150,148) 100%);
	background-image: -o-linear-gradient(top, rgb(25,187,184) 0%, rgb(18,150,148) 100%);
	background-image: -moz-linear-gradient(top, rgb(25,187,184) 0%, rgb(18,150,148) 100%);
	background-image: -webkit-linear-gradient(top, rgb(25,187,184) 0%, rgb(18,150,148) 100%);
	background-image: -ms-linear-gradient(top, rgb(25,187,184) 0%, rgb(18,150,148) 100%);
	background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, rgb(25,187,184)), color-stop(1, rgb(18,150,148)) );
}
#Content NAV A.Noticias:hover,
#Content NAV A.Noticias.Active {
	background-image: linear-gradient(bottom, #21B8B5 5%, #179997 53%, #086C6A 100%);
	background-image: -o-linear-gradient(bottom, #21B8B5 5%, #179997 53%, #086C6A 100%);
	background-image: -moz-linear-gradient(bottom, #21B8B5 5%, #179997 53%, #086C6A 100%);
	background-image: -webkit-linear-gradient(bottom, #21B8B5 5%, #179997 53%, #086C6A 100%);
	background-image: -ms-linear-gradient(bottom, #21B8B5 5%, #179997 53%, #086C6A 100%);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.05, #21B8B5),color-stop(0.53, #179997),color-stop(1, #086C6A));
}

#Content NAV A.Deportes {
	background-image: linear-gradient(top, rgb(140,191,44) 0%, rgb(109,163,39) 100%);
	background-image: -o-linear-gradient(top, rgb(140,191,44) 0%, rgb(109,163,39) 100%);
	background-image: -moz-linear-gradient(top, rgb(140,191,44) 0%, rgb(109,163,39) 100%);
	background-image: -webkit-linear-gradient(top, rgb(140,191,44) 0%, rgb(109,163,39) 100%);
	background-image: -ms-linear-gradient(top, rgb(140,191,44) 0%, rgb(109,163,39) 100%);
	background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, rgb(140,191,44)), color-stop(1, rgb(109,163,39)) );
}
#Content NAV A.Deportes:hover,
#Content NAV A.Deportes.Active {
	background-image: linear-gradient(top, rgb(109,163,39) 0%, rgb(140,191,44) 100%);
	background-image: -o-linear-gradient(top, rgb(109,163,39) 0%, rgb(140,191,44) 100%);
	background-image: -moz-linear-gradient(top, rgb(109,163,39) 0%, rgb(140,191,44) 100%);
	background-image: -webkit-linear-gradient(top, rgb(109,163,39) 0%, rgb(140,191,44) 100%);
	background-image: -ms-linear-gradient(top, rgb(109,163,39) 0%, rgb(140,191,44) 100%);
	background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, rgb(109,163,39)), color-stop(1, rgb(140,191,44)) );
}
#Content NAV A.Buendia {
	background-image: linear-gradient(top, rgb(255,196,0) 0%, rgb(255,170,0) 100%);
	background-image: -o-linear-gradient(top, rgb(255,196,0) 0%, rgb(255,170,0) 100%);
	background-image: -moz-linear-gradient(top, rgb(255,196,0) 0%, rgb(255,170,0) 100%);
	background-image: -webkit-linear-gradient(top, rgb(255,196,0) 0%, rgb(255,170,0) 100%);
	background-image: -ms-linear-gradient(top, rgb(255,196,0) 0%, rgb(255,170,0) 100%);
	background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, rgb(255,196,0)), color-stop(1, rgb(255,170,0)) );
}
#Content NAV A.Buendia:hover,
#Content NAV A.Buendia.Active {
	background-image: linear-gradient(top, rgb(255,170,0) 0%, rgb(255,196,0) 100%);
	background-image: -o-linear-gradient(top, rgb(255,170,0) 0%, rgb(255,196,0) 100%);
	background-image: -moz-linear-gradient(top, rgb(255,170,0) 0%, rgb(255,196,0) 100%);
	background-image: -webkit-linear-gradient(top, rgb(255,170,0) 0%, rgb(255,196,0) 100%);
	background-image: -ms-linear-gradient(top, rgb(255,170,0) 0%, rgb(255,196,0) 100%);
	background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, rgb(255,170,0)), color-stop(1, rgb(255,196,0)) );
}
#Content NAV A.Entretenimientos {
	background-image: linear-gradient(top, rgb(249,91,28) 0%, rgb(248,63,21) 100%);
	background-image: -o-linear-gradient(top, rgb(249,91,28) 0%, rgb(248,63,21) 100%);
	background-image: -moz-linear-gradient(top, rgb(249,91,28) 0%, rgb(248,63,21) 100%);
	background-image: -webkit-linear-gradient(top, rgb(249,91,28) 0%, rgb(248,63,21) 100%);
	background-image: -ms-linear-gradient(top, rgb(249,91,28) 0%, rgb(248,63,21) 100%);
	background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, rgb(249,91,28)), color-stop(1, rgb(248,63,21)) );
}
#Content NAV A.Entretenimientos:hover,
#Content NAV A.Entretenimientos.Active {
	background-image: linear-gradient(top, rgb(248,63,21) 0%, rgb(249,91,28) 100%);
	background-image: -o-linear-gradient(top, rgb(248,63,21) 0%, rgb(249,91,28) 100%);
	background-image: -moz-linear-gradient(top, rgb(248,63,21) 0%, rgb(249,91,28) 100%);
	background-image: -webkit-linear-gradient(top, rgb(248,63,21) 0%, rgb(249,91,28) 100%);
	background-image: -ms-linear-gradient(top, rgb(248,63,21) 0%, rgb(249,91,28) 100%);
	background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, rgb(248,63,21)), color-stop(1, rgb(249,91,28)) );
}





/* Ads */

.Ads {
	float: left;
	margin: 0 0 25px;
	text-align: center;
	width: 100%;
}
.Ads A {
	display: inline-block;
}
.Ads A IMG {
	display: inline-block;
}














/* Footer */
FOOTER {
	background: url(../images/default/layout/bg-footer.png) repeat;
	border-top: 1px solid #DDDDDD;
    float: left;
    margin: 30px 0 0;
    width: 100%;
}


/* SubFooter */

#SubFooter {
	float: left;
    padding: 30px 0 50px;
    width: 100%;	
}
#SubFooter .Image {
	float: left;
	width: 100%;
	height: 42px;
}
#SubFooter .Image IMG {
	
}
#SubFooter H3 {
	float: left;
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 18px;
    font-weight: normal;
    margin: 10px 0 5px;
    width: 100%;
}
#SubFooter H3:first-child {
	margin: 0 0 5px;
}
#SubFooter H3 A {
	color: #FFF;
		
	transition: 		all .1s linear;
	-moz-transition: 	all .1s linear; 
	-webkit-transition: all .1s linear;
	-o-transition: 		all .1s linear; 
}
#SubFooter H3 A:hover {
	text-shadow: 0 0 1px #FFF;
}
#SubFooter UL {
	float: left;
	width: 100%;
}
#SubFooter LI {
	float: left;
    margin: 0 0 5px;
    width: 100%;
}
#SubFooter LI A {
	color: #ADAFB2;
    float: left;
    font-size: 12px;
	
	transition: 		all .1s linear;
	-moz-transition: 	all .1s linear; 
	-webkit-transition: all .1s linear;
	-o-transition: 		all .1s linear; 
}
#SubFooter LI A:hover {
	color: #FFF;
}









/* Footer */

#Footer {
	background: url(../images/default/layout/bg-footer2.png) repeat-x center top;
	float: left;
	height: 91px;
	width: 100%;	
}
#Footer .Links {
	float: left; 
    margin: 20px 0;
    width: 100%;
}
#Footer .Links .footer-logo-left{
	float: left;
	width: 130px;
	margin-right: 61px;
}
#Footer .Links .Text{
	float: left;
	width: 166px;
	height: 50px;
}
#Footer .Links H4 {
	color: #CCCCCC;
    float: left;
    font-size: 14px;
    font-weight: bold;
}
#Footer .Links P {
	color: #ADAFB2;
    float: left;
    font-size: 12px;
    line-height: 12px;
    margin: 2px 0;
    width: 100%;
}
#Footer .Links A {
	color: #ADAFB2;
}
#Footer .Links A:hover {
	color: #FFF;
}
#Footer .Social {
	border-left: 1px solid #474E53;
    float: left;
    height: 50px;
    margin: 20px 0;
    padding: 0 0 0 20px;
    width: 300px;
}
#Footer .Social P {
	float: left;
    margin: 0 0 10px;
    width: 100%;
}
#Footer .Social A {
	background: url(../images/default/layout/header/icons-social.png) no-repeat;
	float: left;
    height: 20px;
    text-indent: -9999px;
    width: 22px;
}
#Footer .Social A.Twitter 	{ background-position: 0 0; }
#Footer .Social A.Facebook 	{ background-position: -22px 0; }
#Footer .Social A.YouTube 	{ background-position: -44px 0; }
#Footer .Social A.Pinterest 	{ background-position: -66px 0; }
#Footer .Social A.RSS 		{ background-position: -88px 0; }

#Footer .Social A.Twitter:hover 	{ background-position: 0 -20px; }
#Footer .Social A.Facebook:hover 	{ background-position: -22px -20px; }
#Footer .Social A.YouTube:hover 	{ background-position: -44px -20px; }
#Footer .Social A.Pinterest:hover { background-position: -66px -20px; }
#Footer .Social A.RSS:hover 		{ background-position: -88px -20px; }


#Footer .WorkWithUs {
	border-left: 1px solid #474E53;
    float: left;
    height: 50px;
    margin: 20px 0;
    padding: 0 0 0 20px;
    width: 120px;
}

#Footer .WorkWithUs H3 {
	
	color: #cccccc;
	font-size: 14px;
	font-weight: bold;
	
}

#Footer .WorkWithUs H3 A {
	background: url(../images/default/layout/footer/work-teletica.png) 0 0 no-repeat;
	color: #cccccc;
	/*transition: all 0.1s linear 0s;*/
	padding: 0 0 0 38px;
	display: block;
}


#Footer .WorkWithUs H3 A:hover {
	background-position: 0 -74px;
	color: #ffffff;
    text-shadow: 0 0 1px #FFFFFF;
}

#Footer .Logo {
	float: right;
    margin: 22px 0;
    width: 40px;	
}
#Footer .Logo A {
	float: right;
}
#Footer .Logo IMG {
	float: left;
}
/*Copyright*/

/* BTNS TWITTER & FACEBOOK */
#Footer .Social .Rds{
	width:100%;
	float:left;
}
#Footer .Social .Rds .RedBtn{
	width:150px;
	float:left; 
}
#Copy{
	width:100%;
	float:left;
	height:50px;
	background:#FFF;
}
#Copy P{
	width:100%;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height:13px;
	color:#555;
	margin:15px 0 0;
}
#Copy P A{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#555;
}
#Copy P A:hover{
	color:#000;
}







/* Formularios */

/*INPUT sin transform*/
INPUT[type="text"],
INPUT[type="password"] {
	background-color: #FAFAFA;
    border: 2px solid #CCC;
    color: #666666;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    padding: 6px;
    width: 324px;
	
	-webkit-border-radius: 3px;
    border-radius: 3px;
}
INPUT[type="text"]:focus,
INPUT[type="password"]:focus {
	background-color: #fff;
	border-color: #5E6979;
	color: #5E6979;
}
INPUT[type="text"].error,
INPUT[type="password"].error {
    background-color: #FFDFE8;
    border-color: #D5163A;
    color: #D5163A;
}




/*	TEXTAREA	*/
TEXTAREA{
	background-color: #FAFAFA;
    border: 2px solid #CCC;
    border-radius: 3px 3px 3px 3px;
    color: #666666;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    height: 85px;
    padding: 5px;
}
TEXTAREA:focus  {
	background-color: #fff;
	border-color: #5E6979;
}
TEXTAREA.error {
	background-color: #FFDFE8;
    border-color: #D5163A;
    color: #D5163A;
}







/* Radios */
.jqTransformRadioWrapper {
	display: block;
    float: left;
    margin: 5px 0 0;
    position: relative;
	overflow: hidden;
}
.jqTransformRadio {
	background: transparent url(../images/default/form/radio.png) no-repeat center top;
	height: 16px;
	width: 16px;
	display:block;
	z-index: 1;
	position: relative;
}
.jqTransformRadioWrapper INPUT.jqTransformHidden[type="Radio"] {
	left: 1px;
    top: 2px;
    z-index: 0;
}





/* Checkboxes */
span.jqTransformCheckboxWrapper{
	display:block;
	float:left;
	margin:0 5px 0 0;
}
a.jqTransformCheckbox {
	background: transparent url(../images/default/form/checkbox.png) no-repeat center top;
	display: block;
    height: 15px;
    position: relative;
    vertical-align: middle;
    width: 15px;
    z-index: 9;
}

/* Checked - Used for both Radio and Checkbox */
a.jqTransformChecked { background-position: center bottom;}






/* Selects */
.jqTransformSelectWrapper {
	background-color: #FAFAFA;
	border: 2px solid #CCC;
    border-radius: 3px 3px 3px 3px;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
	height: 27px;
	
	-webkit-border-radius: 3px;
    border-radius: 3px;
}
.jqTransformSelectWrapper DIV {
	width:100%;
	height:27px;
	float: left;
	position:relative;
	z-index:5;
	background:#FAFAFA;
}
.jqTransformSelectWrapper DIV SPAN{
	cursor: pointer;
	color: #666;
    float: none;
    font-size: 12px;
    height: auto;
    line-height: 20px;
    overflow: hidden;
    padding: 4px 6px;
    position: absolute;
    white-space: nowrap;
}

.jqTransformSelectWrapper  a.jqTransformSelectOpen {
	display: block;
	position: absolute;
	right: 0px;
	width: 31px;
	height: 27px;
	background: url(../images/default/form/select_right.png) no-repeat center center;
}

.jqTransformSelectWrapper UL {
	background-color: #FFFFFF;
    border: 2px solid #5E6979;
    border-radius: 3px 3px 3px 3px;
    display: none;
    height: auto !important;
    left: auto;
    list-style: none outside none;
    margin: 0;
    overflow-x: hidden !important;
    overflow-y: scroll !important;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0px;
    width: 43px;
    z-index: 10;
	
	-webkit-border-radius: 3px;
    border-radius: 3px;
}
P.Error .jqTransformSelectWrapper UL{
	border-color:#D5163A;
}

.jqTransformSelectWrapper UL A {
	background-color: #FFFFFF;
    color: #333333;
    display: block;
    font-size: 12px;
    height: auto;
    line-height: 20px;
    overflow: hidden;
    padding: 4px 6px;
    text-decoration: none;
}

.jqTransformSelectWrapper UL A.selected {
	background: #EEE;
	color: #5E6979;
}

.jqTransformSelectWrapper ul a:hover, .jqTransformSelectWrapper ul a.selected:hover {
	background: #5E6979;
	color: #fff;
}

/* -------------
 * Hidden - used to hide the original form elements
 * ------------- */
.jqTransformHidden {display: none;}
SELECT.jqTransformHidden,
INPUT[type="Checkbox"].jqTransformHidden,
INPUT[type="Radio"].jqTransformHidden {
	border: medium none;
    display: block;
    height: 1px;
    left: 1px;
    overflow: hidden;
    position: absolute;
    top: 1px;
    width: 1px;
}
SELECT.jqTransformHidden{
	left:inherit;
	right: 10px;
    z-index: 1 !important;
	top:5px;
}


/* ----------------------------------------------------
 * ERRORES EN FORMULARIOS
 * ---------------------------------------------------- */
.FieldError .jqTransformSelectWrapper{
	background-color: #FFDFE8;
	border-color: #D5163A !important;
}
.FieldError .jqTransformSelectWrapper DIV{
	background-color: #FFDFE8;
}
.FieldError .jqTransformSelectWrapper DIV SPAN {
	color: #D5163A !important;
}

.WrapFancy .Form LABEL.error {
	bottom: 5px;
    color: #D5163A;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-style: italic;
    font-weight: normal;
    left: 0;
    line-height: 13px;
	padding: 0;
    position: absolute;
    text-align: right;
    width: 100% !important;
}







/* --------------------------------------------------------------------------------------------------------
		FANCYBOX V2
---------------------------------------------------------------------------------------------------------*/
/*! fancyBox v2.1.3 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	vertical-align: top;
}

.fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8020;
}

.fancybox-skin {
	position: relative;
	background: #FFF;
	color: #444;
	border:2px solid #BCD6F1;
	text-shadow: none;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
}

.fancybox-opened {
	z-index: 9999;
}

.fancybox-opened .fancybox-skin {
	-webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	   -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
	position: relative;
}

.fancybox-inner {
	overflow: hidden;
	overflow-x:hidden;
}

.fancybox-type-iframe .fancybox-inner {
	-webkit-overflow-scrolling: touch;
}

.fancybox-error {
	color: #444;
	font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0;
	padding: 15px;
	white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
	display: block;
	width: 100%;
	height: 100%;
	overflow:hidden;
}

.fancybox-image {
	max-width: 100%;
	max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
	background-image: url('../images/default/layout/fancybox/fancybox_sprite.png');
}

#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -22px;
	margin-left: -22px;
	background-position: 0 -108px;
	opacity: 0.8;
	cursor: pointer;
	z-index: 8060;
}

#fancybox-loading div {
	width: 44px;
	height: 44px;
	background: url('../images/default/layout/fancybox/fancybox_loading.gif') center center no-repeat;
}

.fancybox-close {
	position: absolute;
	top:10px;
	right:10px;
	width: 21px;
	height: 21px;
	cursor: pointer;
	z-index: 8040;
	background: url('../images/default/layout/fancybox/close.png') top left no-repeat;
}
.fancybox-close:hover{
	background-position:bottom left;
}

.fancybox-nav {
	position: absolute;
	top: 0;
	width: 40%;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
	background: transparent url('../images/default/layout/fancybox/blank.gif'); /* helps IE */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	z-index: 8040;
}

.fancybox-prev {
	left: 0;
}

.fancybox-next {
	right: 0;
}

.fancybox-nav span {
	position: absolute;
	top: 50%;
	width: 36px;
	height: 34px;
	margin-top: -18px;
	cursor: pointer;
	z-index: 8040;
	visibility: hidden;
}

.fancybox-prev span {
	left: 10px;
	background-position: 0 -36px;
}

.fancybox-next span {
	right: 10px;
	background-position: 0 -72px;
}

.fancybox-nav:hover span {
	visibility: visible;
}

.fancybox-tmp {
	position: absolute;
	top: -99999px;
	left: -99999px;
	visibility: hidden;
	max-width: 99999px;
	max-height: 99999px;
	overflow: visible !important;
}

/* Overlay helper */

.fancybox-lock {
	overflow: hidden;
}

.fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	display: none;
	z-index: 9998;
	background: url('../images/default/layout/fancybox/fancybox_overlay.png');
}

.fancybox-overlay-fixed {
	position: fixed;
	bottom: 0;
	right: 0;
}
/*
.fancybox-lock .fancybox-overlay {
	overflow: auto;
	overflow-y: scroll;
}
*/
/* Title helper */

.fancybox-title {
	visibility: hidden;
	font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	position: relative;
	text-shadow: none;
	z-index: 8050;
}

.fancybox-opened .fancybox-title {
	visibility: visible;
}

.fancybox-title-float-wrap {
	position: absolute;
	bottom: 0;
	right: 50%;
	margin-bottom: -35px;
	z-index: 8050;
	text-align: center;
}

.fancybox-title-float-wrap .child {
	display: inline-block;
	margin-right: -100%;
	padding: 2px 20px;
	background: transparent; /* Fallback for web browsers that doesn't support RGBa */
	background: rgba(0, 0, 0, 0.8);
	-webkit-border-radius: 15px;
	   -moz-border-radius: 15px;
	        border-radius: 15px;
	text-shadow: 0 1px 2px #222;
	color: #FFF;
	font-weight: bold;
	line-height: 24px;
	white-space: nowrap;
}

.fancybox-title-outside-wrap {
	position: relative;
	margin-top: 10px;
	color: #fff;
}

.fancybox-title-inside-wrap {
	padding-top: 10px;
}

.fancybox-title-over-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	padding: 10px;
	background: #000;
	background: rgba(0, 0, 0, .8);
}
















/* Estilos de formualrios en PopUp
---------------------------------------------------------------------------------------------------------*/
.WrapFancy {
	float: left;
	width: 100%;
}
.WrapFancy H2 {
	width:100%;
	float:left;
	font-family: 'Source Sans Pro',sans-serif;
    font-size: 36px;
	line-height:38px;
    font-weight: normal;
	color:#333;
	margin:0px;
	letter-spacing:-1px;
}
.WrapFancy H2 SPAN{
	display: block;
    float: left;
    margin: 0 10px 0 0;
}
.WrapFancy H2 IMG{
	display:block;
	float:left;
}
.WrapFancy P.Intro {
	color: #666666;
    float: left;
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 14px;
    font-weight: normal;
    margin: 10px 0 20px;
    width: 100%;
}
.WrapFancy .RowForm {
	width:100%;
	float:left;
}
.WrapFancy .Form{
	float: left;
    margin: 0 25px 0 0;
    width: 400px;
}
.WrapFancy .Form FIELDSET {
	border-bottom: 1px solid #DDDDDD;
    float: left;
    margin: 0 0 10px;
    padding: 0 0 10px;
    width: 100%;
}
.WrapFancy .Form FIELDSET.Buttons {
	border: none;
	padding: 0;
	margin: 0;
}
.WrapFancy .Form P {
	float: left;
    padding: 0 0 20px;
    position: relative;
    width: 100%;
}
.WrapFancy .Form LABEL{
	color: #333333;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 13px;
    padding: 10px 10px 0 0;
    text-align: right;
    width: 124px;
}
.WrapFancy .Form LABEL STRONG {
	color: #D5163A;
    float: right;
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 10px;
    margin: 0 0 0 3px;
    width: 10px;
}

.WrapFancy .Form P INPUT[type="text"],
.WrapFancy .Form P INPUT[type="password"]{
	width: 250px;
}


/* Buttons */
.WrapFancy .Buttons {
	padding: 0;
	margin: 0;
	border-bottom: none
}

.WrapFancy .Buttons H5 {
	color: #666666;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 30px;
    width: 220px;
}
.WrapFancy .Buttons H5 STRONG{
	color: #D5163A;
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin: 0 5px 0 0;
	float:left;
}
.WrapFancy .Buttons A.Registrarme {
	background-color: #354359;
    border: 1px solid #354359;
    color: #FFFFFF;
    float: right;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 10px 3px;
	
	-webkit-border-radius: 3px;
    border-radius: 3px;
	
	transition: 		all .1s linear;
	-moz-transition: 	all .1s linear; 
	-webkit-transition: all .1s linear;
	-o-transition: 		all .1s linear; 
	
}
.WrapFancy .Buttons A.Registrarme:hover {
	background: url(../images/default/layout/btn.png) repeat-x #f1f1f1;
	border: 1px solid #D9D9D9;
	box-shadow: 0 1px 0 0 #FFFFFF inset;
	color: #666666;
}
.WrapFancy .Buttons INPUT[type="submit"] {
	height:24px;
	background-color: #354359;
    border: none;
    color: #FFFFFF;
    float: right;
    font-size: 12px;
    font-weight: bold;
    padding: 0px 12px;
	box-shadow: 0 1px 0 0 #606060 inset;
	
	background-image: linear-gradient(bottom, #303030 4%, #3F3F3F 52%);
	background-image: -o-linear-gradient(bottom, #303030 4%, #3F3F3F 52%);
	background-image: -moz-linear-gradient(bottom, #303030 4%, #3F3F3F 52%);
	background-image: -webkit-linear-gradient(bottom, #303030 4%, #3F3F3F 52%);
	background-image: -ms-linear-gradient(bottom, #303030 4%, #3F3F3F 52%);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.04, #303030),color-stop(0.52, #3F3F3F));
	
	-webkit-border-radius: 3px;
    border-radius: 3px;
	
	transition: 		all .1s linear;
	-moz-transition: 	all .1s linear; 
	-webkit-transition: all .1s linear;
	-o-transition: 		all .1s linear; 
	
}
.WrapFancy .Buttons INPUT[type="submit"]:hover {
	/*background: url(../images/default/layout/btn.png) repeat-x #f1f1f1;
	border: 1px solid #D9D9D9;*/
	box-shadow: 0 1px 0 0 #606060 inset;
	
	background-color:#303030;
	background-image: linear-gradient(bottom, #010101 4%, #212121 52%);
	background-image: -o-linear-gradient(bottom, #010101 4%, #212121 52%);
	background-image: -moz-linear-gradient(bottom, #010101 4%, #212121 52%);
	background-image: -webkit-linear-gradient(bottom, #010101 4%, #212121 52%);
	background-image: -ms-linear-gradient(bottom, #010101 4%, #212121 52%);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.04, #010101),color-stop(0.52, #212121));
	
}










/* RANKING
---------------------------------------------------------------------------------------------------------*/

.Ranking {
	float: left;
    height: 560px;
    margin: 0 0 25px;
    width: 100%;
}
.Ranking H2.Title {
	border-bottom: 1px solid #BDC0C4;
    float: left;
    padding: 0 0 10px;
    width: 100%;
}
.Ranking H2.Title STRONG {
	color: #333333;
    float: left;
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -0.5px;
    line-height: 18px;
    text-transform: uppercase;
}
.Ranking .Tabs {
	border-bottom: 1px solid #BFC0C4;
    float: left;
    height: 28px;
    margin: 20px 0 0;
    width: 300px;
}
.Ranking .Tabs LI {
	float: left;
}
.Ranking .Tabs LI A{
	background-color: #EDEDED;
    border: 1px solid #FFFFFF;
    color: #666;
    float: left;
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 12px;
    height: 25px;
    letter-spacing: -0.5px;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
    width: 98px;
	
	transition: 		all .1s linear;
	-moz-transition: 	all .1s linear; 
	-webkit-transition: all .1s linear;
	-o-transition: 		all .1s linear; 
}
.Ranking .Tabs LI A:hover {
	background-color: #FFF;
}
.Ranking .Tabs LI A.Active {
	background-color: #FFFFFF;
    border: 1px solid #BFC0C4;	
    border-bottom: 1px solid #FFF;
	color: #333;
    height: 27px;
}
.Ranking .Panel {
	display: none;
	float: left;
	width: 100%;
}
.Ranking .Panel OL {
	float: left;
	width: 100%;
}
.Ranking .Panel LI {
	border-bottom: 1px dotted #CCCCCC;
    float: left;
    padding: 7px 0;
    width: 100%;
}
.Ranking .Panel LI:last-child {
	border: none;
}
.Ranking .Panel LI A {
	color: #666;
	float: left;
	font-size: 14px;
	line-height: 16px;
	margin: 3px 0;
	width: 259px;
	height: 48px;
	overflow: hidden;/*pedido: maximó de 2 lineas de texto 70caracteres*/
	
	transition: 		all .1s linear;
	-moz-transition: 	all .1s linear; 
	-webkit-transition: all .1s linear;
	-o-transition: 		all .1s linear;
}
.Ranking .Panel LI A:hover {
	color: #333640;
}
.Ranking .Panel LI A STRONG{
	border-right: 1px solid #DDDDDD;
	float:left;
	color:#92a2bb;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	width:auto;
	line-height:15px;
	height:14px;
	padding:0 5px 0 0;
	margin: 2px 5px 0 0;
}
.Ranking .Panel LI SPAN {
	border-right: 1px solid #DDDDDD;
    color: #92A2BB;
    float: left;
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 40px;
    font-weight: normal;
    height: 40px;
    line-height: 36px;
    margin: 0 10px 0 0;
    width: 30px;
}









/* TERMINOS Y CONDICIONES
---------------------------------------------------------------------------------------------------------*/
#Terms{
	width:100%;
	float:left;
}
.TitleSeccion{
	width:100%;
	float:left;
	font-family: 'Source Sans Pro',sans-serif;
	font-size: 36px;
	font-weight: normal;
	line-height: 38px;
	color:#333;
	margin:0;
	letter-spacing:-1px;
}
#Terms H2.TitleSeccion {
	margin: 0 0 20px;	
}
#Terms H3{
	color: #666666;
    float: left;
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 24px;
    font-weight: normal;
    letter-spacing: -1px;
    line-height: 26px;
    margin: 10px 0;
    width: 100%;
}
#Terms H4{
	color: #92A2BB;
    float: left;
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 22px;
    font-weight: normal;
    line-height: 24px;
    margin: 20px 0 0;
    width: 100%;
}
#Terms P{
	 color: #666666;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    margin: 10px 0;
    width: 100%;
}
#Terms P A{
	font-weight:bold; 
	color:#606d7a;
	word-wrap: break-word;
	word-break:break-all;
	
	transition: 		all .1s linear;
	-moz-transition: 	all .1s linear; 
	-webkit-transition: all .1s linear;
	-o-transition: 		all .1s linear; 
}
#Terms P A:hover{
	color:#000;
}

#Terms UL{
	width:100%;
	float:left;
	margin: 10px 0;
	color: #666666;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
}


/*SONDEO*/
.Sondeo {
	float: left;
    margin: 25px 0 25px;
	width: 100%;
}
.Sondeo H2.Title {
	border-bottom: 1px solid #BDC0C4;
    float: left;
    padding: 0 0 10px;
    width: 100%;
}
.Sondeo H2.Title STRONG {
	color: #333333;
    float: left;
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -0.5px;
    line-height: 18px;
    text-transform: uppercase;
}
.Sondeo H4 {
	background-color: #F7F7F7;
    border-bottom: 1px dotted #CCCCCC;
    color: #666666;
    float: left;
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 23px;
    line-height: 23px;
    padding: 10px 15px;
    width: 270px;
}
.Sondeo .Box {
	float: left;
	padding: 10px 0 0;
	width: 100%;	
}
.Sondeo .Box P {
	float: left;
	margin: 5px 0;
	width: 100%;
	color: #666666;
    font-size: 13px;
    line-height: 16px;
}
.Sondeo .Pregunta P LABEL {
	color: #666666;
    float: left;
    font-size: 13px;
    line-height: 16px;
}
.Sondeo .Pregunta P SPAN {
	margin: 0 5px 0 0;
}
.Sondeo .Pregunta UL {
	float: left;
	margin: 10px 0 0;
	width: 100%;
}
.Sondeo .Pregunta LI {
	float: left;
	margin: 5px 0;
	width: 100%;
}
.Sondeo .Pregunta LI LABEL {
	color: #666666;
    float: left;
    font-size: 13px;
    line-height: 16px;
}
.Sondeo .Pregunta LI SPAN {
	margin: 0 5px 0 0;
}
.Sondeo .Buttons {
	border-top: 1px dotted #CCCCCC;
    float: left;
    margin: 10px 0 0;
    padding: 10px 0 0;
    width: 100%;
}

.Sondeo .Buttons A,
.Sondeo .Buttons INPUT[type="button"] {
	background: url(../images/noticias/layout/btn.png) repeat-x #f1f1f1;
	border: 1px solid #D9D9D9;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 0 0 #FFFFFF inset;
    color: #666666;
    float: left;
    font-size: 12px;
    font-weight: bold;
    height: 24px;
    line-height: 25px;
    padding: 0 15px;
    text-align: center;
	margin: 10px 0;
	
	transition: 		all .1s linear;
	-moz-transition: 	all .1s linear; 
	-webkit-transition: all .1s linear;
	-o-transition: 		all .1s linear; 
}
.Sondeo .Buttons A:hover,
.Sondeo .Buttons INPUT[type="button"]:hover{
	background-color: #354359;
	border-color: #354359;
	box-shadow: 0 1px 0 0 #354359 inset;
	color: #FFF;
}
.Sondeo .Buttons A.VerResultados {
	float: right;
}

.Sondeo .Resultados {
	display: none;
}









/*****************************************************************
	FANCYBOX ALERTAS POR MAIL
/*****************************************************************/
#MailAlert{
	width:730px;
	float:left;
}
#MailAlert #Registrarse{
	width:80px;
	margin:0px;
	display:block;
	float:right;
	padding:6px 8px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-align:center;
	color:#EEE;
	-webkit-border-radius: 3px;
    border-radius: 3px;
	/*border:1px solid #57595C;
	box-shadow: 0 1px 0 0 #606060 inset;*/
	border:none;
	
	
	background-color: #354359;
	background-image: linear-gradient(bottom, #303030 4%, #3F3F3F 52%);
	background-image: -o-linear-gradient(bottom, #303030 4%, #3F3F3F 52%);
	background-image: -moz-linear-gradient(bottom, #303030 4%, #3F3F3F 52%);
	background-image: -webkit-linear-gradient(bottom, #303030 4%, #3F3F3F 52%);
	background-image: -ms-linear-gradient(bottom, #303030 4%, #3F3F3F 52%);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.04, #303030),color-stop(0.52, #3F3F3F));

}
#MailAlert #Registrarse:hover{
	box-shadow: 0 1px 0 0 #606060 inset;
	
	background-color: #212121;
	background-image: linear-gradient(bottom, #010101 4%, #212121 52%);
	background-image: -o-linear-gradient(bottom, #010101 4%, #212121 52%);
	background-image: -moz-linear-gradient(bottom, #010101 4%, #212121 52%);
	background-image: -webkit-linear-gradient(bottom, #010101 4%, #212121 52%);
	background-image: -ms-linear-gradient(bottom, #010101 4%, #212121 52%);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.04, #010101),color-stop(0.52, #212121));
}

#MailAlert .RowForm{
	width:100%;
	float:left;
	margin:20px 0 0;
	padding:20px 0 0;
	border-top:1px solid #DDD;
}
#MailAlert .Form{
	width:430px;
	margin:0;
	border-right:1px dotted #666;
}
#MailAlert .Form FIELDSET{
	border:none;
	padding:0;
	margin:0;
}
#MailAlert .Form H4{
	width:100%;
	float:left;
	font-family:'Source Sans Pro',sans-serif;
	font-size:18px;
	font-weight:bold;
	color:#333;
	padding-bottom:5px;
}
#MailAlert .Form H5{
	width:100%;
	float:left;
	padding:0 0 5px 0;
	font-family:'Source Sans Pro',sans-serif;
	font-size:16px;
	color:#666;
}
#MailAlert .Form P{
	width:410px;
	margin:10px 0px 0 0;
	padding:0px;
}
#MailAlert .Form P:first-child{
	margin-top:0px;
}
#MailAlert .Form P.last-child{
	width:70px;
	margin:0 20px 0 0;
	clear:right;
	float:right;
	
}
#MailAlert .Form INPUT[type="text"],
#MailAlert .Form INPUT[type="password"]{
	width:260px;
}

#MailAlert .Form .IngresarBtn{
	border: none;
    color: #FFFFFF;
    float: right;
    font-size: 12px;
    font-weight: bold;
    padding:6px 8px;
	margin:0px;
	box-shadow: 0 1px 0 0 #606060 inset;
	
	background-color: #354359;
	background-image: linear-gradient(bottom, #303030 4%, #3F3F3F 52%);
	background-image: -o-linear-gradient(bottom, #303030 4%, #3F3F3F 52%);
	background-image: -moz-linear-gradient(bottom, #303030 4%, #3F3F3F 52%);
	background-image: -webkit-linear-gradient(bottom, #303030 4%, #3F3F3F 52%);
	background-image: -ms-linear-gradient(bottom, #303030 4%, #3F3F3F 52%);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.04, #303030),color-stop(0.52, #3F3F3F));
	
	-webkit-border-radius: 3px;
    border-radius: 3px;
	
	transition: 		all .1s linear;
	-moz-transition: 	all .1s linear; 
	-webkit-transition: all .1s linear;
	-o-transition: 		all .1s linear; 	
}
#MailAlert .Form .IngresarBtn:hover {
	box-shadow: 0 1px 0 0 #606060 inset;
	
	background-color: #212121;
	background-image: linear-gradient(bottom, #010101 4%, #212121 52%);
	background-image: -o-linear-gradient(bottom, #010101 4%, #212121 52%);
	background-image: -moz-linear-gradient(bottom, #010101 4%, #212121 52%);
	background-image: -webkit-linear-gradient(bottom, #010101 4%, #212121 52%);
	background-image: -ms-linear-gradient(bottom, #010101 4%, #212121 52%);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.04, #010101),color-stop(0.52, #212121));
	
}
#MailAlert .Form A.First{
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#666;
	margin:8px 0 0;
	
	transition: 		all .1s linear;
	-moz-transition: 	all .1s linear; 
	-webkit-transition: all .1s linear;
	-o-transition: 		all .1s linear; 
}
#MailAlert .Form A.First:hover{
	color:#333;
	text-decoration:underline;
}
#MailAlert .RowForm .Social{
	width:400px;
	float:left;
	padding:0px;
	margin:15px 0 0px;
	padding:10px 10px 10px 0px;
	border-top:1px solid #CCC;
}
#MailAlert .RowForm .Social H4{
	font-family:'Source Sans Pro',sans-serif;
	font-size:16px;
	color:#666;
}
#MailAlert .Form LABEL.error{
	left:0;
	text-align:left;
}	

#MailAlert .ErrorMsg{
	width:374px;
	float:right;
	min-height:20px;
	margin:5px 20px 0 0px;
	position:relative;
}
#MailAlert .Btn_Forg{
	width:410px;
	float:left;
	margin:5px 0 0;
	padding:15px 0 0;
	border-top:1px solid #CCC;
}
#MailAlert .Social{
	float: left;
    height: 78px;
    padding: 0 0 0 15px;
    width: 183px;
}
#MailAlert .Social A {
	background: url(../images/default/layout/header/social-connect.png) no-repeat;
	float: left;
    height: 50px;
    text-indent: -9999px;
    width: 50px;
	margin:0px 10px 0 0;
	
}
#MailAlert .Social A.Twitter 		{ background-position: 0 0; }
#MailAlert .Social A.Facebook 		{ background-position: -50px 0; }
#MailAlert .Social A.Twitter:hover 	{ background-position: 0 -50px; }
#MailAlert .Social A.Facebook:hover 	{ background-position: -50px -50px; }


#MailAlert .DivRegistro{
	width:240px;
	float:left;
	padding:0 0 0 20px;
	margin:0px;
}
#MailAlert .DivRegistro H4{
	color: #333333;
    float: left;
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 5px;
    width: 100%;
}
#MailAlert .DivRegistro H5{
	color: #666666;
    float: left;
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 16px;
    padding: 0 0 5px;
    width: 100%;
}
#MailAlert .DivRegistro P{
	margin:10px 0px;
}
	
	





/*********************************************************************************************************
	FANCYBOX ALERTAS POR MAIL - CRITERIOS DE ENVIO DE NEWSLETTER
/*********************************************************************************************************/	
#AlertasFormUser{
	width:730px;
	float:left;
}
#AlertasFormUser P.Intro{
	width:auto;
	margin:10px 0 20px 50px;
}
#AlertasFormUser .Form{
	width:100%;
	float:left;
	margin:0;
}
#AlertasFormUser .Filter{
	width:665px;
	float:left;
	padding-left:55px;
}
#AlertasFormUser .Filter P{
	width:100%;
	float:left;
}
#AlertasFormUser .Filter P LABEL{
	width:400px;
	float:left;
	padding:0;
	text-align:left;
	line-height:16px;
}



/******************************************************************
	SUCCESS RECIBIR NEWSLETTER
******************************************************************/
#OkNewsletter{
	width:640px;
	float:left;
}
#OkNewsletter {
	float: left;
    padding: 20px;
    width: 640px;	
}
#OkNewsletter FIGURE{
	width:125px;
	height:125px;
	float:left;
}
#OkNewsletter FIGURE IMG{
	display:block;
	float:left;
}
#OkNewsletter .Txt{
	float: left;
    margin-left: 30px;
    width: 480px;
}
#OkNewsletter .Txt H3{
	width:100%;
	float: left;
	margin:15px 0 0;
	font-family: 'Source Sans Pro',sans-serif;
    font-size: 44px;
	line-height:46px;
    font-weight: bold;
	color:#333;
}
#OkNewsletter .Txt P{
	color: #333333;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 18px;
    font-weight: normal;
    margin: 15px 0;
    width: 100%;
}
#OkNewsletter .Button{
	border-top: 1px solid #DDD;
    float: left;
    margin: 20px 0 0;
    padding: 20px 0 0;
    width: 100%;
}
#OkNewsletter .Button A {
	background-color: #354359;
    border: 1px solid #354359;
    color: #FFFFFF;
    float: right;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 10px;
	
	-webkit-border-radius: 3px;
    border-radius: 3px;
	
	transition: 		all .1s linear;
	-moz-transition: 	all .1s linear; 
	-webkit-transition: all .1s linear;
	-o-transition: 		all .1s linear; 
	
}
#OkNewsletter .Button A:hover {
	background: url(../images/default/layout/btn.png) repeat-x #f1f1f1;
	border: 1px solid #D9D9D9;
	box-shadow: 0 1px 0 0 #FFFFFF inset;
	color: #666666;
}
.column.grid4 #adnbanner {
	float: left;
}


.mobile-version {
	float:left;
	width:100%;
	background:#c5c5c5;
	text-align:center;
	padding:25px 0;
}
.mobile-version a {
	font: bold 28px/32px Arial,Helvetica,sans-serif;
	color:#552AFF;
}



.Nota P SPAN.NewHHMM {
	color: #fff;
	font-weight: normal;
	background:#CDCDCD;
	padding: 0px 3px;
	font: 12px Arial, Helvetica, sans-serif;
}

img.CGW_AjaxLoader {
	position:fixed;
	top:48%;
	left:48%;
	opacity:0.8;
}





/*HEADER BOXES BANNER*/
#BxMundial{
	width:330px;
	float:left;
	margin:0px;
	padding:0px;
}
#SlideMundial{
	width:175px;
	float:left;
}
#BxMundial .jcarousel-clip-horizontal{
	width:175px;
	float:left;
}
#BxMundial UL LI{
	width:175px;
	float:left;
	position:relative;
}
#BxMundial.jcarousel-direction-rtl { direction: rtl; }  
#BxMundial .jcarousel-container-horizontal { padding: 0; width: 175px; } 
#BxMundial .jcarousel-clip { overflow: hidden; }
#BxMundial .jcarousel-clip-horizontal {
/*height: 250px;*/
width: 175px;	
overflow: hidden;
position: relative;
} 
#BxMundial .jcarousel-item {
float: left;
/*height: 250px;*/
overflow: hidden;
position: relative;
width: 175px;
}
#BxMundial .jcarousel-prev { 
background: #6d6d6d; 
cursor: pointer;
height: 8px;
right: 90px;
position: absolute;
top: 104px;
width: 8px;
z-index: 99;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
	border-radius: 20px;
}
#BxMundial .jcarousel-prev:hover { background-position: 0 -20px; }
#BxMundial .jcarousel-prev-disabled,
#BxMundial .jcarousel-prev-disabled:hover { background-position: 0 0; }
#BxMundial .jcarousel-next { 
background: #6d6d6d;
cursor: pointer;
height: 8px;
right: 70px;
position: absolute;
top: 104px;
width: 8px;
z-index: 99;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
	border-radius: 20px; 
}
#BxMundial .jcarousel-next:hover { background-position: -20px -20px; }
#BxMundial .jcarousel-next-disabled,
#BxMundial .jcarousel-next-disabled:hover { background-position: -20px 0; }

#BxMundial .jcarousel-next-disabled,
#BxMundial .jcarousel-prev-disabled{
background:#FFF;
}	
/**/
#BxMundial .InMundial{
	width:110px;
	height:90px;
	float:left;
	background:url(../images/default/layout/header/line.png) left center repeat-y;
}
#BxMundial .InMundial A{
	width:130px;
	height:90px;
	float:left;
	background:url(../images/default/layout/btn-7dias.png) 0 0 no-repeat;
}


/*SEO*/
footer #SubFooter .row .column.grid8.columnFooter {
	border-right: 1px solid #474E53;
	margin: 0 9px 0 10px;
}
#cx_2992056408ce3c33f95371b43d6233c27c65ee6a {
	display:none;
}
div.JSFooter {
	float:left;
	width:100%;
}
@media screen and (min-width: 480px) and (max-width: 960px) {
    .header123456 {
        display: none;
    }
}

.Note .resizeTxt ul {
	margin:0;
	list-style: none;
}
.Note .resizeTxt ul li {
	margin:5px 0;
	font: 300 18px/24px 'Source Sans Pro',sans-serif;
}
.Note .resizeTxt ul li:before {
	content: "• ";
	font: 300 18px/18px 'Source Sans Pro',sans-serif;
	margin: 0 5px 0 2px;
}
