/* GENERIC */
.table{
	display: table;
	table-layout: fixed;
	height: 100%;
}
.vcenter{
	display: table-cell;
	vertical-align: middle;  
}
body{
	padding-top: 180px;
}
body.home{
	padding-top: 160px;
}

/* HEADER */
header{
	background-image: none;
	background-color: #1e1f20;
	border: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 7000000;
}




header .row{
	padding: 0 10px;
	box-sizing: border-box;
}
header .Box{
	background: none;
}

#header-top{
	height: 115px;
	border-bottom: 1px solid #000000;
}

#header-top .row:after{
	content: "";
	display: table;
	clear: both;
}

/* LOGO */
#header-top .row,
#header-logo{
	height: 100%;
}
#header-logo{
	float: left;
	width: 270px;
}
#header-logo h1{
	float: none;
	padding: 0;
	text-align: inherit;
	width: auto;
}
#header-logo img{
	display: block;
}

#MainSlider{
	margin-top: 0px;
}

/* ESPECIAL */
#header-especial{
	float: left;
	width: 182px;
	height: 100%;
	
}

#header-especial .title{
	display: block;
	font-size: 13px;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	text-indent: -9999px;
	width: 58px;
	height: 10px;
	background: transparent url(../images/default/header/text-especial.png) no-repeat center center;
	margin: 0 0 12px 0;

}
#header-especial .Box{
	width: 100%;
	float: none;
	height: 100%;
	background-color: #141516;
	margin: 0;
	padding: 0;
}
#header-especial .Box a{
	display: block;
	width: 100%;
	height: 100%;
	background-position: center center !important;
	padding: 20px 12px 12px 16px; 
	box-sizing: border-box;
}
#header-especial .Box .img{
	height: 60px;
	background-size: auto !important;
	background-position: top center !important;
}
#header-especial .Box .img.testimage{
	background-image: url(../images/default/header/especial.png) !important;

}

/* VIVO */
#header-vivo{
	float: left;
	width: 207px;
	height: 100%;
	position: relative;
	padding: 0 15px 0 17px;
	box-sizing: border-box;
}
#header-vivo:after{
	content: "";
	position: absolute;
	right: 0px;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 1px;
	height: 83px;
	background-color: #3f3f3f;
}
#header-vivo img{
	display: none;
}
#header-vivo .Bxl > a{
	display: none !important;
}
#header-vivo .table{
	width: 100%;
}
#header-vivo .title{
	display: block;
	font-family: 'Open Sans', sans-serif; 
	font-weight: 700;
	text-transform: uppercase;
	
	font-size: 12px;
	color: #fff;
	width: 116px; 
	height: 14px;
	text-indent: -9999px;
	background: transparent url(../images/default/header/text-ahora-en-teletica.png) no-repeat center center;
	
	margin-bottom: 5px;
	margin-top: 16px; 
}
#header-vivo .title.vivo{
	color: #fd0011;
	background: transparent url(../images/default/header/text-ahora-vivo.png) no-repeat center center;
}


#header-vivo .table{
	height: 60px;
}
#header-vivo #BoxVivo{
	width: 100%;
	height: auto;
	padding: 2px 0 2px 0;
	overflow: hidden;
	margin: 0;
}
#header-vivo #BoxVivo .Lft{
	width: 100%;
	float: none;
}
#header-vivo #BoxVivo p{
	display: none;
}
#header-vivo #BoxVivo h3{
	color: #fff;
	margin: 0;
	overflow: visible;
	max-height: none;
	float: none;
	width: 100%;
	max-height: 60px;
}
#header-vivo #BoxVivo H3 STRONG{
	display: inline-block;
	float: none;
	font-size: 27px;
	font-weight: 300;
	font-style: normal;
	line-height: 30px;
	letter-spacing: -1.5px;
	font-family: 'Open Sans', sans-serif;
	margin-top: 0;
	max-height: 60px;
}
#header-vivo #BoxVivo H3 STRONG a,
#header-vivo #BoxVivo H3 STRONG a:hover,
#header-vivo #BoxVivo H3 STRONG a:focus{
	color: inherit;
	text-decoration: none;
}
#header-vivo #BoxVivo .Bxl{
	float: none;
}

/* BUSQUEDA - LOGIN */
#header-busqueda-login{
	width: 190px;
	height: 100%;
	float: left;
	position: relative;
	box-sizing: border-box;
	padding: 0 20px;
}
#header-busqueda-login:after{
	content: "";
	position: absolute;
	right: 0px;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 1px;
	height: 83px;
	background-color: #3f3f3f;
}
#header-busqueda-login form{
	float: none;
	width: 100%;	
}
#header-busqueda-login form input[type="text"],
#header-busqueda-login form input[type="text"]:focus,
#header-busqueda-login form input[type="password"],
#header-busqueda-login form input[type="password"]:focus{
	float: none; 
	box-sizing: border-box;
	width: 100%;
	height: 35px;
	border: none;
	border-radius: 0;
	-webkit-border-radius: 0;
	font-style: italic;
	color: #7b7a7a;
	font-weight: 300;
	font-size: 14px;
	padding-left: 12px;
	padding-right: 35px;
	background-color: #272829;
}
#header-busqueda-login form INPUT[type="submit"]{
	width: 18px;
	height: 19px;
	background: transparent url(../images/default/header/search-icon.png) no-repeat center center;
	top: 7px;
	right: 10px;
}
#header-busqueda-login form .ui-helper-hidden-accessible{
	display: none;
}

.login-button a{
	display: block;
	width: 100%;
	height: 35px;
	margin-top: 7px;
	text-align: center;
	background:  #494b4d url(../images/default/header/button-gradient-2.png) repeat-x center bottom;


	-webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.65);
	-moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.65);
	box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.65);
	
}
.login-button a strong{     
	font-size: 16px; 
	color: #eeeeee;   
	text-transform: uppercase; 
	line-height: 35px;
	font-family: 'Open Sans', sans-serif;  
	font-weight: 400;  
}
.my-profile-button.active a{  
	background:  #c6c7c7 url(../images/default/header/button-gradient.png) repeat-x center bottom;
	color: #272829;
}
.my-profile-button.active a strong{  
	color: #272829;
}
.my-profile-button.active a strong:before{
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 20px;
	background: transparent url(../images/default/header/icon-close.png) no-repeat center center;
	margin-top: -3px;
	margin-right: 6px;  
}



/* LOGIN OVERLAY */
#login-overlay{
	position: absolute;
	right: 100%;
	top: 0;
	height: 115px;
	background: red;
	width: 390px;
	padding-left: 20px;
	box-sizing: border-box;
	padding-top: 22px;
	background-color: #1e1f20;
	
	visibility:hidden;
	opacity:0;
	transition:visibility 0s ease 0.5s,opacity 0.5s ease;	
	-webkit-transition:visibility 0s ease 0.5s,opacity 0.5s ease;	
}
#login-overlay.active{
	visibility:visible;
	opacity:1;
	transition-delay:0s;
	-webkit-transition-delay:0s;
}

#login-overlay:after,
#login-overlay:before{
	content: "";
	position: absolute;
	width: 1px;
	height: 83px;
	background-color: #3f3f3f;
	top: 20px;
}
#login-overlay:after{
	right: 0;
}
#login-overlay:before{
	left: 0;
}
#login-overlay #LoginBox{
	width: 390px;
}

#LoginBox .Form{
	float: left; 
	width: 265px;
	padding: 0;
}

#LoginBox:after{
	content: "";
	display: table;
	clear: both;
}
#LoginBox .Form .left{
	float: left;
	width: 160px;
	padding-right: 10px;
	box-sizing: border-box;
}
#LoginBox .Form .right{
	float: left;
	width: 105px;
	padding-right: 15px;
	box-sizing: border-box;
}
#LoginBox .Form input[type="text"]{
	margin-bottom: 7px;
}
#LoginBox .Form p{
	margin: 0;
	width: 100%;
	padding: 0;
	
}
#LoginBox A.First,
#LoginBox A.RegisterBtn{
	width: 100%;
	border: none;
	padding: 0;
	margin: -1px 0 0 0;
	font-size: 11px;
	float: none;
	color: #a1a2a2;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	display: block;
	letter-spacing: -0.4px;
	
}
#LoginBox A.RegisterBtn{
    margin-top: 2px;
}
#LoginBox #btnUserSignIn{
	width: 100%;
	height: 35px;
	border: none;
	outline: none;
	background: #a2a3a3 url(../images/default/header/button-gradient.png) repeat-x center center;
	
	color: #272829;
	text-transform: uppercase;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	border-radius: 0;
	-webkit-border-radius: 0;
	padding: 0;
	margin: 9px 0 0 0;
}


#LoginBox .Social{
	width: 85px;
	padding: 0;
	box-sizing: border-box;
	padding:  0 0 0 12px;
	position: relative;
	background: none;
	
}

#LoginBox .Social:before{
	content: "";
	position: absolute;
	width: 1px;
	height: 83px;
	background-color: #3f3f3f;
	top: -3px;
	left: 0;
}


#LoginBox .Social h4{
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: 600;
	color: #a1a2a2;
	line-height: 1.05em;
	letter-spacing: -1px;
	margin-top: -2px;
	margin-bottom:  8px;
}
#LoginBox .Social A.Twitter,
#LoginBox .Social A.Facebook{
	width: 30px;
	height: 31px;
	background-color: tranparent;
	background-repeat: no-repeat;
	background-position: center center !important;
	margin: 0;
	padding: 0;
}
#LoginBox .Social A.Twitter{
	background-image: url(../images/default/header/tw-login-icon.png);
	margin-right: 8px;
}
#LoginBox .Social A.Facebook{
	background-image: url(../images/default/header/login-fb-icon.png); 
}
.fancybox-overlay{
	z-index: 8000000;
}
.fancybox-opened{ 
	z-index: 8000001;	
}


/* LOGGED IN OVERLAY*/
#loggedin-overlay{
	position: absolute;
	right: 100%;
	top: 0;
	height: 115px;
	background: red;
	width: 390px;
	padding-left: 20px;
	box-sizing: border-box;
	padding-top: 22px;
	background-color: #1e1f20;
	
	visibility:hidden;
	opacity:0;
	transition:visibility 0s ease 0.5s,opacity 0.5s ease;	
	-webkit-transition:visibility 0s ease 0.5s,opacity 0.5s ease;	
}
#loggedin-overlay.active{
	visibility:visible;
	opacity:1;
	transition-delay:0s;
	-webkit-transition-delay:0s;
}

#loggedin-overlay:after,
#loggedin-overlay:before{
	content: "";
	position: absolute;
	width: 1px;
	height: 83px;
	background-color: #3f3f3f;
	top: 20px;
}
#loggedin-overlay:after{
	right: 0;
}
#loggedin-overlay:before{
	left: 0;
}

#loggedin-overlay .user-img{
	float: left;
}
#loggedin-overlay .links{
	float: left;
	height: 100%;
	padding-left: 12px;
	width: 268px;
}
#loggedin-overlay .links li{
	float: left;
	width: 50%;
	height: 25px;
	padding-left: 20px;
	box-sizing: border-box;
	background-position: left center;
	background-repeat: no-repeat;


}
#loggedin-overlay .links li a{
	color: #a1a2a2;
	font-size: 11px;
	font-weight: 600;
	line-height: 25px;
	letter-spacing: -0.4px;
	font-family: 'Open Sans', sans-serif;
	
}
#loggedin-overlay .links li.icon-mis-datos{
	background-image: url(../images/default/header/icons/icon-mis-datos.png);
}
#loggedin-overlay .links li.icon-mis-eventos{
	background-image: url(../images/default/header/icons/icon-mis-eventos.png);
}
#loggedin-overlay .links li.icon-mis-notas-publicadas{
	background-image: url(../images/default/header/icons/icon-mis-notas-publicadas.png);
}
#loggedin-overlay .links li.icon-mis-notas-recortadas{
	background-image: url(../images/default/header/icons/icon-mis-notas-recortadas.png);
}
#loggedin-overlay .links li.icon-mis-teleclaves{
	background-image: url(../images/default/header/icons/icon-mis-teleclaves.png);
}

#loggedin-overlay .links li.button-salir{
	padding-left: 0;
		padding-top: 3px;
	box-sizing:border-box;
}
#loggedin-overlay .links li.button-salir a{
	color: #3e3f41;
	font-weight: 300;
	font-size: 14px;
	text-align: center;
	display: block;
	text-transform: uppercase;
		background:  #494b4d url(../images/default/header/button-gradient.png) repeat-x center bottom;
	background-size: auto 100%;
	height: 100%;
	line-height: 22px;

}


/* REDES */
#header-redes{
	width: 90px;
	float: left;
	height: 100%;
	text-align: right;
}

#header-redes a{
	display: inline-block;
	text-indent: -9999px;
	width: 15px;
	height: 15px;
	background-position: center center;
	font-size: 0;
}
#header-redes > .table{
	width: 100%;
}
#header-redes .Twitter{
	background-image: url(../images/default/header/redes/03.png);
}
#header-redes .Facebook{
	background-image: url(../images/default/header/redes/02.png);
	margin-left: 9px;
}
#header-redes .YouTube{
	background-image: url(../images/default/header/redes/01.png);
	margin-left: 11px;
}
#header-redes .Instagram{
	background-image: url(../images/default/header/redes/05.png);
}
#header-redes .RSS{
	margin-left: 11px;
	background-image: url(../images/default/header/redes/04.png);
	margin-right: 13px;
}
#header-redes .Google{
	display: none;
}
#header-redes .ro:first-child{
	margin-bottom: 12px;
}

/* MENU */
#header-menu{
	background-color: #1e1f20;
	height: 43px;
	border-bottom: 1px solid #000;
}
#header-menu ul:after{
	content: "";
	display: table;
	clear: both;
}
#header-menu nav > ul > li{
	float: left;
	color: #a1a2a2;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif; 
	padding: 0;
	border-right: 1px solid #000;
	position: relative;
}


#header-menu li a{
	display: block;
	color: inherit;
	text-decoration: none;
	line-height: 42px;
	padding: 0 10px;
}
#header-menu li:nth-child(2){
	border-left: 1px solid #000;
}


 
#header-menu nav > ul > li:hover,
#header-menu nav > ul > li.active{
	background-color: #353637;
}

#header-menu li.noticias{
	color: #1abcb9;
}
#header-menu li.noticias:hover{
	background-color: #1abcb9;
	color: #fff;
}
#header-menu li.noticias > ul{
	background-color: #1abcb9;
}
#header-menu li.noticias > ul > li > ul{
	background-color: #17a6a3;
}




#header-menu li.deportes{
	color: #8fc447;
}
#header-menu li.deportes:hover{
	background-color: #8fc447;
	color: #fff;
}
#header-menu li.deportes > ul{
	background-color: #8fc447;
}
#header-menu li.deportes > ul > li > ul{
	background-color: #82b141;
}


#header-menu li.estilo-vida{
	color: #fbae3f;
}
#header-menu li.estilo-vida:hover{
	background-color: #fbae3f;
	color: #fff;
}
#header-menu li.estilo-vida > ul{
	background-color: #fbae3f;
}
#header-menu li.estilo-vida > ul > li > ul{
	background-color: #e39e39;
}



#header-menu li.entretenimiento{
	color: #f05a2a;
}
#header-menu li.entretenimiento:hover{
	background-color: #f05a2a;
	color: #fff;
}
#header-menu li.entretenimiento > ul{
	background-color: #f05a2a;
}
#header-menu li.entretenimiento > ul > li > ul{
	background-color: #d95327;
}

#header-menu .row{
	position: relative;
}



/* SUB MENUS */
#header-menu li > ul{
	visibility:hidden;
	opacity:0;
	transition:visibility 0s ease 0.3s, opacity 0.3s ease;
	-webkit-transition:visibility 0s ease 0.3s, opacity 0.3s ease;
	
	position: absolute;
}
#header-menu li:hover > ul{
	visibility:visible;
	opacity:1;
	transition-delay: 0s;
	-webkit-transition-delay: 0s;
}

#header-menu .submenu{
	position: absolute;
	top: 100%;
	left: 0;
	width: 170px;
	background-color: #353637;
	z-index: 150;
	border-top: 1px solid #000;
	
	-webkit-box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.25);
	box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.25);
	 	
}

#header-menu .submenu li{
	display: block;
	width: 100%;
	border: none;
	
	color: #fff;
	font-size: 14px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif; 
	line-height: 34px;
	height: 34px;
	box-sizing: border-box;
	
	border-bottom: 1px solid rgba(255,255,255,0.1);
	border-top: 1px solid rgba(0,0,0,0.1);
	
	text-transform: none;
	position: relative;

}
#header-menu .submenu li.has-sub-menu{
	background-image: url(../images/default/header/arrow-right.png);
	background-repeat: no-repeat;
	background-position: 155px 50%;
}

#header-menu .submenu li a{
	line-height: 34px;
}
#header-menu .submenu ul{
	background-color: #353637;
}
#header-menu .submenu > li > ul{
	position: absolute;
	left: 100%;
	top: -1px;
	width: 170px;
	
	-webkit-box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.25);
	box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.25); 
}

#header-menu .submenu > li > ul:before{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 11px;
	background: transparent url(../images/default/header/gradient.png) repeat-y top left;
}
/*
#header-menu .submenu > li > ul > li{
-webkit-box-shadow: inset 12px 0px 15px -14px rgba(0,0,0,0.8);
-moz-box-shadow: inset 12px 0px 15px -14px rgba(0,0,0,0.8);
box-shadow: inset 12px 0px 15px -14px rgba(0,0,0,0.8);
}*/





/* Clima */
#header-menu #clima{
	position: absolute;
	top: 0;
	right: 10px;
	height: 100%;
	width: 80px;
}

#header-menu #clima .preview{
	border-right: 1px solid #000000;
	height: 100%;
	text-align: center;
	padding-top: 6px;
	box-sizing: border-box;
}
#header-menu #clima .preview img,
#header-menu #clima .preview strong{
	display: inline-block;
	vertical-align: middle;
}
#header-menu #clima .preview img{
	width: 27px;
	height: auto;
}
#header-menu #clima .preview strong{
	font-size: 14px;
	color: #a1a2a2;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	padding-left: 7px;
}


#header-menu #BoxClima{
	position: absolute;
	top: 100%;
	right: 0;
	background-color: #353637;
	float: none;
		
	padding: 12px 5px 7px 5px;
	box-sizing: border-box;
	margin: 0;  
	z-index: 150;
	
	width: 200px;
	height: 154px;
	
	-webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.25);
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.25);
}
#header-menu #BoxClima a{
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
}

#header-menu #BoxClima .location{
	font-size: 24px;
	color: #fff;
	font-family: 'Open Sans', sans-serif; 
	font-weight: 300;
	padding-left: 10px;
}
#header-menu #BoxClima img{
	width: 52px;
	height: auto;
	display: inline-block;
	vertical-align: middle;
}
#header-menu #BoxClima .Clima{
	text-align: center;
	float: none;
	margin-bottom: 13px;
}
#header-menu #BoxClima .Clima strong{
	font-size: 52px;
	font-family: 'Open Sans', sans-serif; 
	font-weight: 300;
	color: #a1a2a2;
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
	line-height: 44px;
	
}

#header-menu #BoxClima .Date{
	border-top: 1px solid #5d5e5f;
	padding-top: 7px;
	float: none;
	padding-left: 10px;
	box-sizing: border-box;
}
#header-menu #BoxClima .Date .Hora,
#header-menu #BoxClima .Date .Fecha,
#header-menu #BoxClima .Date .Fecha strong{
	color: #a1a2a2;
	font-family: 'Open Sans', sans-serif; 
	font-weight: 300;
	font-size: 15px;
	float: none;
}
#header-menu #BoxClima .Date .Fecha{
	border-right: 1px solid #a1a2a2;
}
#header-menu #BoxClima:after{
	content: "";
	position: absolute;
	width: 18px;
	height: 18px;
	background: url(../images/default/layout/header/view-more.png) no-repeat center center;
	bottom: 7px;
	right: 6px;
}

#header-menu #BoxClima{
	visibility:hidden;
	opacity:0;
	transition:visibility 0s ease 0.3s, opacity 0.3s ease;
	-webkit-transition:visibility 0s ease 0.3s, opacity 0.3s ease;
}
#header-menu #clima:hover .preview{
	background-color: #353637;
}
#header-menu #clima:hover #BoxClima{
	visibility:visible;
	opacity:1;
	transition-delay:0s;
	-webkit-transition-delay:0s;
}


/* Header Sticky */
header.sticky{
	position: fixed;
	top: -116px;
}
#header-menu #clima{
	visibility:visible;
	opacity:1;
	transition: visibility 0s ease 0s, opacity 0.4s ease;
	-moz-transition: visibility 0s ease 0s, opacity 0.5s ease;
	-webkit-transition: visibility 0s ease 0s, opacity 0.5s ease;
}
header.sticky #header-menu #clima{
	visibility:hidden;
	opacity:0;
	transition: visibility 0s ease 0.5s, opacity 0.5s ease;
	-moz-transition: visibility 0s ease 0.5s, opacity 0.5s ease;
	-webkit-transition: visibility 0s ease 0.5s, opacity 0.5s ease;
}
#header-menu li.home-sticky{
	position: absolute;
	top: 0;
	left: 10px;
	bottom: 0;
	height: 42px;
	margin: auto;
	
	padding: 0;
	
	
	visibility:hidden;
	opacity:0;
	transition: visibility 0s ease 0s, opacity 0.5s ease 0.2s;
	-moz-transition: visibility 0s ease 0s, opacity 0.5s ease 0.2s;
	-webkit-transition: visibility 0s ease 0s, opacity 0.5s ease 0.2s;
}
header.sticky #header-menu li.home-sticky{
	visibility:visible;
	opacity:1;
	transition-delay:0s;
	-moz-transition-delay:0s;
	-webkit-transition-delay:0s;
}

#header-menu li.home-sticky a{
	padding-top: 4px;
	height:42px;
}

header #header-menu ul{
	transition: padding 0.5s ease 0s;
	-moz-transition: padding 0.5s ease 0s;
	-webkit-transition: padding 0.5s ease 0s;
}
header.sticky #header-menu nav > ul{
	padding-left: 62px;
}

header.sticky #header-menu li:nth-child(2){
	border-left: none;
}




/* Programacion */
#HoyTeletica{
	background-color: #353637;
	background-image: none;
	border: none;
	height: 105px;
	float: none;

	-webkit-box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.25);
	box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.25);

}
#SliderHoyTeletica{
	height: 105px;
	overflow: visible;
	

}
#SliderHoyTeletica DIV.Bx.Ahora{
	background-color: transparent;
}
#SliderHoyTeletica .jcarousel-item{
	height: 60px;
	border-right: 1px solid rgba(255,255,255,0.3);
}
#SliderHoyTeletica .jcarousel-prev{
	width: 25px;
	height: 24px;
	top: 0;
	bottom: 0;
	right: 100%;
	margin: auto;
	left: auto;
	background: transparent url(../images/default/header/arrow-slider-left.png) no-repeat left center;
}
#SliderHoyTeletica .jcarousel-next {
	width: 25px;
	height: 24px;
	top: 0;
	bottom: 0;
	left: 100%;
	right: auto;
	margin: auto;
	background: transparent url(../images/default/header/arrow-slider-right.png) no-repeat right center;
}
#SliderHoyTeletica DIV.Bx P{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 12px;
	color: #fff;
	opacity: 0.75;
}
#SliderHoyTeletica DIV.Bx h5{
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 15px;
	color: #fff;
	text-transform: uppercase;
	margin-top: 3px;
}
#SliderHoyTeletica DIV.Bx{
	box-sizing: border-box;
	padding: 5px 20px;
	width: 235px;
	height: 100%;
}