@font-face {
  font-family: 'normalYekan';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/normalYekan/BYekan.eot);
  src: url(../fonts/normalYekan/BYekan.eot?#iefix) format('embedded-opentype'),
       url(../fonts/normalYekan/BYekan.woff) format('woff'),
       url(../fonts/normalYekan/BYekan.ttf) format('truetype');
}
@font-face {
  font-family: 'JameJam-Regular';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/omidRegular/omid-regular.eot);
  src: url(../fonts/omidRegular/omid-regular.woff) format('woff'),
       url(../fonts/omidRegular/omid-regular.ttf) format('truetype');
}

@font-face {
  font-family: 'JameJam-bold';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/omidbold/omid-bold.eot);
  src: url(../fonts/omidbold/omid-bold.eot?#iefix) format('embedded-opentype'),
       url(../fonts/omidbold/omid-bold.woff) format('woff'),
       url(../fonts/omidbold/omid-bold.ttf) format('truetype');
}

@font-face {
  font-family: 'JameJam-Light';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/omidlight/omid-light.eot);
  src: url(../fonts/omidlight/omid-light.eot?#iefix) format('embedded-opentype'),
       url(../fonts/omidlight/omid-light.woff) format('woff'),
       url(../fonts/omidlight/omid-light.ttf) format('truetype');
}

@font-face {
  font-family: 'JameJam-ultra';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/omidultralight/omid-ultra-light.eot);
  src: url(../fonts/omidultralight/omid-ultra-light.eot?#iefix) format('embedded-opentype'),
       url(../fonts/omidultralight/omid-ultra-light.woff) format('woff'),
       url(../fonts/omidultralight/omid-ultra-light.ttf) format('truetype');
}
/* @font-face {
  font-family: 'JameJam-Light';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/jamejam/JameJam-Light.otf);
  src: url(../fonts/jamejam/JameJam-Light.woff) format('woff'),
}


@font-face {
  font-family: 'JameJam-bold';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/jamejam/JameJam-Bold.otf);
  src: url(../fonts/jamejam/JameJam-Bold.woff) format('woff'),
}

@font-face {
  font-family: 'JameJam-Regular';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/jamejam/JameJam-Regular.otf);
  src: url(../fonts/jamejam/JameJam-Regular.woff) format('woff'),
}

@font-face {
  font-family: 'JameJam-ultra';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/jamejam/JameJam-Ulter-Light.otf);
  src: url(../fonts/jamejam/JameJam-Ulter-Light.woff) format('woff'),
} */
input[type=password]{
  font-family: tahoma !important;
  font: tahoma !important;
}
button, input, optgroup, select, textarea {
  font: tahoma !important;
}
body{font-family: JameJam-Regular,Myriad Arabic,'Droid Arabic Kufi', serif;font-size: 16px}
.f-f-bold{font-family: JameJam-bold}
.f-f-light{font-family: JameJam-Light}
.f-f-ultralight{font-family: JameJam-ultra}

.num-font{font-family: 'normalYekan'!important;font-size:14px !important;}
a {color: #fff}
a:hover{text-decoration: none;color:#fff;}
a:focus{outline: none;text-decoration:none;}
:focus{outline: none;}
[class^=col-lg]{float: right}
h4{font-size: 25px}
.sec{min-width: 1170px}
.float-r{float: right}
.float-l{float: left}
.container{width: 1170px}
#fix-headear{background-color: #0E93A4;position: fixed;top: 0;right: 0;left: 0;z-index: 1100;}
#fix-headear .container .center-menu {background-color: #434343;padding: 0}
#fix-headear .r-col{width: 7%}
#fix-headear .l-col {width: 13%}
#fix-headear .m-col{width: 80%}
#fix-headear .icon-ico-2:before{line-height: 60px}
#sazman-icon{background: url(../images/icons.png);height: 50px}
.site-search{width: 50px;overflow: hidden;position: relative;margin-top: 5px;
  -webkit-transition: all .5s ease-in;
     -moz-transition: all .5s ease-in;
      -ms-transition: all .5s ease-in;
       -o-transition: all .5s ease-in;
          transition: all .5s ease-in;
}
.show-search{width: 250px}
.site-search input{
  position: absolute;
  left: 50px;
  background: #eee;
  border: 1px solid #fff;
  color: #333;
  top: 5px;
  padding: 2px 5px;
}
.grabbing { cursor: url(../images/cursor_drag_hand.cur), move; }
.logo_share{
  width: auto; 
  /*float: right; */
  margin-left: 5px;
  color:black;
  /*margin-bottom: 8px;*/
}
.countLike{font-family: normalYekan}
.logo_share a{
  color:black;
  font-size: 8px;
}

.search_cont .mainPage,.search_cont .sima,.search_cont .seda,.search_cont .news {
    padding-bottom: 15px;
    width: 100%;
}

.search_cont .nf {
    border: 1px solid #ccc;
    color: #333;
    height: 38px;
    line-height: 35px;
    text-align: center;
}

.live-label{
    background-color: #e32722 !important;
    line-height: 40px !important;
    width: 100px !important;
    height: 40px !important;
}    
   }
 .live-label span{
  color:#fff !important;
 }
 .live{
  width:5px;
  height:5px;
  border-radius:50%;
  background:url(../images/live-green.gif);
  display:inline-block;
  margin-left: 5px;
 }
.search_cont .seda_search .item{
    width: 100%;
    cursor:pointer;
    font-size:12px;
    border-bottom: 1px solid #ccc;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;    
}
.search_cont .seda_search .item:hover{
  background:#EAEAEA
}


.search_cont .sima_search .item{
    width: 100%;
    cursor:pointer;
    font-size:12px;
    border-bottom: 1px solid #ccc;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;    
}
.search_cont .sima_search .item:hover{
  background:#EAEAEA
}


.search_cont .news_search .item{
    width: 100%;
    cursor:pointer;
    font-size:12px;
    border-bottom: 1px solid #ccc;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;    
}
.search_cont .news_search .item:hover{
  background:#EAEAEA
}
.search_cont  .moreBtn{
  text-align:center;
}
.search_cont .moreBtn button{
    background: #0e93a4 none repeat scroll 0 0;
    border: medium none;
    border-radius: 5px;
    color: #fff;
    height: 30px;
    margin-top: 10px;
    padding: 5px;
    text-align: center;
    width: 55%;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;     
}
.search_cont .moreBtn button:hover{
  opacity:0.8;
}

.site-search span{cursor: pointer;}
#login:hover,.site-search span:hover{color: #434343;cursor: pointer;}
.login_header ,.search_header,.about_us_header{
background : #004a80 url("../images/top_nav_login.png") no-repeat scroll right top; 
}
#login-msg{    
  border-radius: 0;
  position: absolute;
  top: 61px;
  left: 6px;
  right: 0;
  padding: 10px;
  display: none;
  }
  #msg_site{    
  border-radius: 0;
  position: absolute;
  top: 61px;
  left: 6px;
  right: 0;
  padding: 10px;
  display: none;
  width: 892px
  }
.input_header{
  height: 30px; margin-top: 15px;border:none;background:transparent;border-bottom:1px solid #0766ab ;color: #fedd2e;
  
}
.input_header[type="password"],.form-control[type="password"]{
  font-family:tahoma!important;
}

#fix-headear ul li
{
	float: right;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    height: 60px;
    width: auto;
    border-bottom: 3px solid transparent;
}
.input_header:focus > #fix-headear ul li
{
    border-bottom: 3px solid #fedd2e;
}
#fix-headear ul li:hover ,#fix-headear > li.active{
	border-color:#FEDD2E;
	color: #FEDD2E
}
#fix-headear ul li a
{
  float: right;
  font-size: 17.5px;
  font-size: 1.75rem;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  margin-top: 15px;
  padding: 0px 25px;
  line-height: 30px;
  color: #ffffff;
}
.swiper-pagination-bullet{padding: 6px}
#fix-headear ul li:not(:first-of-type):not(:last-of-type) a{border-right: 1px solid #4B4B4B;}
#fix-headear ul li.active{border-color:#FEDD2E;}
#more-menu-item ul{
  background-color: #434343;
  min-width: 300px;
  margin-top:-8px; 
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
#more-menu-item ul li a:hover{background-color: transparent;}
#header{background-color: #fff;margin-top: 60px;}
#break-news{height: 50px;line-height: 50px;color: #fff;font-family: JameJam-ultra}
#break-news .br-news-txt{display:inline-block;margin-left:50px;direction: rtl}
#break-news .br-news-txt:after {
  content: '|';
  margin-right: 40px;
  color:#fff;
  
}
#br-n-titile{width: 200px;height: 50px;background: red;float: right;color: #fff;text-align: center;line-height: 50px;position: absolute;right: 0;top: 0;font-weight: bold;font-size: 25px;}
.br-news-wrp{height: 50px;background: rgba(162, 166, 156, 0.78);position: absolute;top: 15px;right: 0;left: 0;z-index: 99;overflow: hidden;}
#main-title {padding: 10px 0;margin:0;font-size:30px;}
#header .glyphicon-icon {color:#4B4B4B }
#header .l-col{width: 13%;float: left;text-align: right;padding: 0}
#cube-slider{height: 680px;
  overflow: hidden;
  background-color: #000;
}
#live-play{background-color: #0E93A4;position: relative;}
.left-y-box{
    height: 50px;
    width: 50%;
    background: yellow;
    float: left;
    position: absolute;
    z-index: 1;
    left: 0;
    top: calc(50% - 26px);
}
#live-pl-carusol{margin: 0;direction: ltr}
#live-pl-carusol .slick-prev{top :calc(50% - 13px);left: -35px;z-index: 1}
#live-pl-carusol .slick-next{top: calc(50% - 13px);right:0;}
.chanel-carousel-item{
  display: inline-block;
  background-position:center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 60px;
  width: 80%;
  margin-top:10px ;
}
.slick-initialized .slick-slide{
  cursor:default !important;
}
#movie-slider .slick-slide:not(.slick-current) , #movie-slider-sima .slick-slide:not(.slick-current) {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='5');
  cursor:pointer;

}

.live-label{
  display: inline-block;
  padding: 0 8px 0 10px;
  background-color: yellow;
  margin-right:15px;
  cursor:pointer;
  height: 47px;  
}
.icon-b{min-height: 53px}
.icon-b:hover{
  color: #434343;
  cursor: pointer;
  transform: scale(1.2,1.2);
}
.live-cat.active,.icon-b.active{border-bottom: 1px solid #000}
.news-slide{
    border-right: 4px solid #FE0000;
    padding-right: 15px;
    margin-right: 0px;
    font-size: 18px;
    margin-top: 30px;
    overflow: hidden;
    height: 180px
}
.active_like{
  color: red;
}
.news-slide-img{
  width:100%;
  height:300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.n-s-lead{height: 70px;overflow: hidden;}
.news-slide h4 a{
  color: #0E93A4;
  font-size:20px;
}
.news-slide h4 a:hover{color: #006F7D;text-shadow:1px 1px 5px;}
#news-slider .slick-prev:before,#news-slider .slick-next:before{color: #ccc}
#news-slider .slick-next{right: -50px!important}
.back-img-rep{    
  background: url(../images/back-rep.png) 0 100px repeat-x;
  width: 100%;
  position: absolute;
  height: 100%;
  top: 205px;
  -webkit-transition: all .25s ease-in;
     -moz-transition: all .25s ease-in;
      -ms-transition: all .25s ease-in;
       -o-transition: all .25s ease-in;
          transition: all .25s ease-in;

}
.n-s-img .fiml_icons{display: none}
.n-s-img:hover .back-img-rep{top:0;}
.n-s-img:hover .fiml_icons{display: block;}
/*.n-s-img:hover .news-slide-img{opacity: .5}*/
#news-slider > div > div > div{margin: 0 2px}
.news-3-icon
{    
  position: absolute;
  bottom: 0;
  width: 50%;
  z-index: 9;
  left: 25%;
  border: none;
  }
#week-movies{background-color: #ccc;padding:20px 0;}
.w-m-icon{
    background: url('../images/week-movie-icon.png') 0 0 no-repeat;
    height: 67px;
    width: 55px;
    margin-left: 30px;
    display: inline-block;
}
.camera{background-position: -104px 0}
.chair{background-position: -210px 0}
#movie-slider,#movie-slider-sima{direction: ltr}
#movie-slider .slick-slide:not(.slick-current) , #movie-slider-sima .slick-slide:not(.slick-current) .mov-slid-wrp{
  cursor: pointer;

}
#slick-slide .slick-active .mov-slid-wrp{
  cursor: default;

}
.mov-slid-wrp{
  position: relative;
  margin: 0 3px;
  cursor: default;
}
#movie-slider .slick-slide:not(.slick-current) .mov-slid-wrp{
  cursor:pointer;
}
#movie-slider .text-wrp{
    position: absolute;
    left: 0;
    bottom: 0;
    float: left;
    width: 58%;
    background: linear-gradient(to top, rgb(0, 0, 0) , rgba(51, 51, 51, 0));
    color: #fff;
    padding: 0px 53px 10px;
    direction: rtl;
}
#movie-slider .text-justify{
  line-height:30px;
}
.text-wrp{
    position: absolute;
    left: 0;
    bottom: 0;
    float: left;
    width: 58%;
    color: #fff;
    padding: 10px;
    direction: rtl;

}
.text-wrp h4{
  text-align:center;
  text-shadow: 0px 2px 2px #222;
}
.text-wrp h5{
  color: #ffb502;
  text-align:center;
  text-shadow: 0px 2px 2px #222;
}
.mov-img{
  background-size: cover;
  height: 540px;
  margin: 0 auto;
}
.timer-txt{float:right;width:70%}
.timer-label{
  background: yellow;
  text-align: center;
  height: 29px;
  width:100%;

}
.timer-label .timer-ico{
  float: left;
}
.timer-ico{
  background: url('../images/timer.png')0 0 no-repeat;
  display: inline-block;
  width: 20px;
  height: 29px;
  margin-left: -17px;
}
.timer-time
{   vertical-align: top;
    padding: 0px 10px;
    display: inline-block;
    height: 29px;
    line-height: 30px;
    font-size: 20px;
    font-family: normalYekan;
}
.slider_main{
    cursor:url(../images/hand.cur),move;
   -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#conduc-bar{
  background:yellow;
  /*height:50px;*/
  text-align:
  center;
  cursor: pointer45;}
#conduc-bar .glyphicon-icon,.link-left-col .glyphicon-icon {color: #000}
#main-link{padding: 10px 0}
.link-wrp{
  background-color: #0E93A4;
  height: 150px;
  padding: 0;
  margin: 0 5px;
  width: 273px;
  color: #fff
}
.link-txt{
  width: 200px;
  height: 150px;
  vertical-align: middle;
  display: table-cell;
  font-size: 25px;
}
.link-left-col{
  width: 73px;
  height: 50px
}
.novin-label{
        float: right;
        margin-top: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 40px;
        padding-left: 40px;
    }
    .novin-icon{
        text-align: center;
        color: white;
        font-size: 30px;
        background-repeat: no-repeat;
        height: 70px;
        line-height: 70px;
        background-position: 5% 50%;
    }
    .irib-sms{
        background-image: url('../images/sms.png');

    }
    .irib-alert{
        background-image: url('../images/bolandgoo.png');

    }
    .irib-iptv{
        background-image: url('../images/play.png');

    }
    .irib-app{
        background-image: url('../images/app.png');
        background-position: 15%;
    }
.payam-resan .link-left-col{border-bottom: 1px solid #fff}
.arrow-bot{background: url('../images/arrow_bottom.png') center no-repeat;height: 14px;width: 100%;cursor: pointer;}
.arrow-top{background: url('../images/arrow_top.png') center no-repeat;height: 14px;width: 100%;cursor: pointer;}
#selected-videos{
  background-color: #ccc;
  padding: 10px 0;
}
.guest-head{   
  float: right;
  width: 100%;
  background: red;
  color: #fff;
}
.guess-img{
  width:100px;
  height:100px;
  border:2px solid #0E93A4;
  border-radius:50%;
  position:relative;
  background-size:cover;
}
.guess-ch{
  width:34px;
  height:34px;
  border:none;
  position:absolute;
  bottom:0;
  left:0;
  background-position: center;
  background-size: cover;
}
.guest-module thead tr td {background-color: red}
.center-play
{  
  /*width: 20px;*/
    /*height: 20px;*/
    cursor: pointer;
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
  }
  .center-play .glyphicon-icon:before{font-size: 100px}
  #more-video-slider{direction: ltr}
  #more-video-slider .slick-next{right: 10px;z-index: 9}
  #more-video-slider .slick-prev{left: 10px;z-index: 9}
  #more-video-slider .slick-prev:before, 
  #more-video-slider .slick-next:before{font-family: 'Glyphicons Halflings'}
  #more-video-slider .slick-prev:before{content: "\e079";}
  #more-video-slider .slick-next:before{content: "\e080";}
  #footer{
      background-image: url("../images/footer-bg.png");
      background-color: #262626;
  }
.weather{
  background-image: url("../images/footer-slice-bg.png") ;
  height: 50px;
}
.titile-sima{
  color: #0d93a3;
  font-size: 26px;
  margin-left: 20px;
}
.weather-news{
  border-left: 1px solid #0d93a3;
  border-right: 1px solid #0d93a3;
  color: white;
  padding-left: 10px;
  display: inline-block;
  height:52px;
  padding-right: 10px;
}
.praying-time{
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
  
}
.location{
  display: inline-block;
  height: 26px;
  margin-top: 11px;
  vertical-align: top;
  color: white;
  padding-left: 10px;
}
.weather .blackColor {
  color: white;
}
.intro{
  height: 30px;
  margin-top: 10px;

}
.intro .irib{
  float: left;
  height: 30px;
  line-height: 30px;
  border-right: 1px solid #0d93a3;
  padding-right: 5px;
  color: white;
  font-size: 27px;

}
.intro .iran{
  float: left;
  height: 30px;
  line-height: 30px;
  color: white;
  font-size: 27px;
  padding-left: 5px;
}
.ft-first-lvl{
  padding-right: 30px;
}
.ft-sec-lvl{
  padding-right: 20px;
}
.footer-menu-list ul , .footer-menu-list li{

}
.footer-menu-list ul , .footer-menu-list li a{
  color: white
}
.sub-list{
  padding-right: 10px;
}
.title-list-first > a{
    color: #0d93a3 !important;
    font-size: 18px;
    margin-bottom: 8px;
    
} 
.footer-menu-grid{
  border-right: 1px solid #ccc;
}
.quick-menu ul , .quick-menu li{
  list-style-type: none;
}
.quick-menu li a{
  color: #0d93a3;
  border-right: 1px solid #fff ;
  padding-right: 5px;
}
.quick-menu  ul > li:first-child a{
  border: none;
}
.quick-menu li{
  float: right;
  padding: 5px;
}
.share-link-wrp-tr{
  -webkit-transform: translate(-50%,-50%) scale(0);
     -moz-transform: translate(-50%,-50%) scale(0);
      -ms-transform: translate(-50%,-50%) scale(0);
       -o-transform: translate(-50%,-50%) scale(0);
          transform: translate(-50%,-50%) scale(0);
  opacity: 0;
}

.pop:hover .share-link-wrp{
  opacity: 1;
  -webkit-transform: translate(-50%,-60px) scale(1);
     -moz-transform: translate(-50%,-60px) scale(1);
      -ms-transform: translate(-50%,-60px) scale(1);
       -o-transform: translate(-50%,-60px) scale(1);
          transform: translate(-50%,-60px) scale(1);
}
.pop:hover .most-seen-link{
 -webkit-transform: translate(-50%,-54px) scale(1);
     -moz-transform: translate(-50%,-54px) scale(1);
      -ms-transform: translate(-50%,-54px) scale(1);
       -o-transform: translate(-50%,-54px) scale(1);
          transform: translate(-50%,-54px) scale(1); 
}
#movie-overlay{
    width: 100%;
    height: 98%;
    left: 0;
    position: absolute;
    margin: 0 auto;
    text-align: center;
    background: rgba(85, 85, 85, 0.67);
    display: none;
}
#movie-overlay-loader{
      position: absolute;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
    display: none;
}
#movie-overlay p{
    margin-top: 25%;
    font-size: 45px;
    color: #fff;
    display: none;
}
#loading2{
    
    height: 100%;
    width: 100%;
    position: absolute;
    display: block;
    z-index: 1;
    margin-top: 0px;
    top: 0px;
}
.objectAdd{
  background-color:black !important;
}
#loading{
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.9);
  color:#fff;
  position:fixed;
  z-index: 9999999999;
  top: 0px;

}
#loader .progress{
  position: absolute;
    top: 50%;
    left: 50%;
    font-size:35px;
    transform: translateX(-50%) translateY(-50%);
}

.tooltip.top,.tooltip.bottom,.tooltip.left,.tooltip.right{
  font-family: JameJam-Regular;
}
/*css Loading */

#loading-center{
  width: 100%;
  height: 100%;
  position: relative;
  }
#loading-center-absolute {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 50px;
  width: 150px;
  margin-top: -25px;
  margin-left: -75px;

}
.object{
  width: 8px;
  height: 50px;
  margin-right:5px;
  background-color: #FFF;
  -webkit-animation: animate 1s infinite;
  animation: animate 1s infinite;
  float: left;
  }

.object:last-child {
  margin-right: 0px;
  }

.object:nth-child(10){
  -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;  
  }
.object:nth-child(9){
  -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;  
  } 
.object:nth-child(8){
  -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;  
  }
.object:nth-child(7){
  -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;  
  }
.object:nth-child(6){
  -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;  
  }
.object:nth-child(5){
  -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }
.object:nth-child(4){
  -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;    
  }
.object:nth-child(3){
  -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;  
  }
.object:nth-child(2){
  -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
  }           
  


@-webkit-keyframes animate {
 
  50% {
  -ms-transform: scaleY(0); 
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  
    }
    
    

}

@keyframes animate {
  50% {
  -ms-transform: scaleY(0); 
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    }

  
}

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}
.soroush-link{font-size:16px;color:#FF4444;margin-top: 5px}
.gu_week{background-color: rgb(85, 85, 85)}
/* Small Devices, Tablets */
@media only screen and (max-width : 991px) {
     .container{width:970px;}
  .sec{min-width: 970px !important;max-width: 970px}
  #fix-headear{position: relative;}
  #header{background-color: #fff;margin-top: 0px;}
  #main-news .container{margin: 0}
  .slick-prev{left: 0}
  #more-video-slider,#movie-slider{margin: 0}
  .gu_week{padding: 0;font-size: 13px}
  #main-news [data-icon]::before{font-size:30px;}
  .praying-time{font-size: 15px}
  .titile-sima{font-size: 15px}
  .soroush-link{font-size:13px;color:#FF4444;margin: 0}
      .search_cont{
        display:none;
      }
      .mottoYear{
        color:#fff;
      }
      .search_header{
        width:89%;
      }
      #main-news .container{
        max-width:900px;
      }
      .channel-box, .timelines-prog{
        width:965px!important;
      }
      #fix-headear .container .center-menu {
        background-color: #434343;
        height: 60px;
        margin-right: -68px;
        padding: 0;
        transform: scaleX(0.85);        
      }
      .dMottoYear{
        left: 116px !important;
        transform: scaleX(1.2);
      }
      .mottoYear{
        line-height:55px;
        font-size: 11px;
      }
      .site-search{
         transform: scaleX(1.3);
      }
      #fix-headear ul li a {
          color: #ffffff;
          float: right;
          font-size: 15px;
          line-height: 30px;
          margin-top: 15px;
          padding: 0 25px;
          transform: scaleX(1.2);
          transition: all 0.3s ease-out 0s;
      }
      #fix-headear .dropdown-menu li:not(:first-of-type):not(:last-of-type) a{
        font-size: 14px;
        transform: scaleX(1.2);
      } 
      .input_header{
        width: 147px;
      }
      .loginIcon{
        transform: scaleX(1.2);
      }
      .search_cont #mCSB_2{
        width: 100%;
        background:#fff;
      }
      #prayerTimes{
        font-size: 12px !important;
      }
      #PTime{
        font-size:14px !important;
      }
      #main-title{
        font-size:26px !important;
      }
      .fiml_icons {
          border-bottom: 1px solid #ed1c24;
          clear: both;
          margin: 60px auto 5px;
          width: 175px;
      }
    .share-link-wrp {
        background: #fff none repeat scroll 0 0;
        border: 1px solid #ccc;
        font-size: 12px;
        left: 50%;
        padding: 5px;
        top: 50%;
        position: absolute;
        width: 200px;
        z-index: 1;
    }
    .countLike{
       font-family: normalYekan;
        font-size: 20px;
        position: absolute;
        right: 35px;
        top: 30px;
    }  
    #news-slider-4 > .slick-next{
       right: -40px !important; 
    }
    #news-slider-4 .angle-left{
      left:0px !important;
      margin-left:0px !important;
    }
    .iframeQmery{
      width:710px;
      height:474px;
    }
    #favorite-slider-play .slick-list{
      margin-right:5px;
    }
   #favorite-slider-play .slick-next{
     right:-30px !important;
   }
   #favorite-slider-play  .angle-left{
    left:7px !important;
   }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  body{font-family: JameJam-Regular,Myriad Arabic,'Droid Arabic Kufi', serif;font-size: 16px}

  .container{
    width:970px;
  }
  #main-logo{
    line-height: 60px;
    margin-left: 25px;
  }

  #fix-headear .container .center-menu {
      background-color: #434343;
      margin-right: -20px;
      padding: 0;
  }  
  #fix-headear ul li a {
      font-size: 14px;
  }
  #main-title {
    font-size: 28px;
    margin: 0;
    padding: 10px 0;
  }
  .news-slide{
  border-right: 4px solid #fe0000;
    font-size: 14px;
    text-align:justify;
    height: 160px;
    margin-right: -5px;
    margin-top: 30px;
    overflow: hidden;
    padding-right: 15px;
    padding-left: 6px;
  }
  .news-slide h4 a {
      color: #0e93a4;
      font-size: 17px;
  }
  #main-news [data-icon]::before{
    font-size:30px;
  }
  .share-link-wrp{
    margin:0px;
  }
  .mottoYear{
    float: left; color: rgb(255, 255, 255);
    padding: 15px;
    font-size:13px;
    width: 220px;
    text-align: left;
    font-family:JameJam-ultra;
  }
 #main-news-4  .slick-slider {
    margin-right: 50px;
  }
  #news-slider{
    margin-right: 45px;
  }
  .titile-sima{
    font-size:18px;
  }
  .praying-time{
    font-size:15px;
  }
  .whether{
    text-align: left;
    width: 28%;
  }
    #movie-iframe{
    width:600px;
    margin-right:10px;
  }
  .footer-menu-list ul, .footer-menu-list li{
    font-size:12px;
  }
  .title-list-first > a{
    color: #0d93a3 !important;
    font-size: 15px;
    margin-bottom: 8px;
  }
  .logo-footer img{
    width: 80%;
  }
  #movie-slider-sima{
    height:680px;
  }
  .guest-head h4{
    font-size: 13px;
    padding-right: 15px;
    line-height: 30px 
   }
   .sec{
    min-width:992px;
   }
   .guess-img{
    width:70px;
    height:70px;
   }
   .weekText{
    font-size:12px;
   }
   .slider-cnt-bottom{
    min-height:115px;
   }
   .slider-content-btm{
    text-align:justify;
   }
  .iframeQmery{
    height: 467px ;
    width: 630px;
  }
  .blueBox{
    background-color: #0d93a3;
    height: 524px;
    left: 33px;
    position: absolute;
    top: -25px;
    width: 30%;
  }
  .favorite-title{
    display: inline-block;
    float: right;
    font-size: 18px;
    line-height: 50px;
  }
  .mPlayer .audioPlayer{
    width:100px;
  }
  .mPlayer2{
   width:205px;
  }
  .history-section {
    min-width: 972px !important;
  }
.organizeMenu .title{
    border: medium none;
    font-size: 16px;
    padding:5px;
  }
  .ul.about_menu li a{
    color: rgb(255, 255, 255);
    font-size: 16px;
    transition: all 0.3s ease 0s;
  }
  .title span{ 
      color: #990033;
      font-size: 16px;
      padding-right: 10px;
  }
  .banners{
  }
  .serviceMenu .title{
  font-size:25px;
  }  
  .serviceMenu .item{
    font-size:17px;
  } 
  .serviceSubMenu .subItem{
    font-size: 15px;
  }
  .organizeSlide .slick-prev{
    margin-left:705px; 
  }
  .organizeMenu .item{
    font-size:14px;
  }
  .organizeSubMenu .item{
    font-size:14px;
  } 
.channelblock-inner {
      display: block;
      align-items: center;
      min-height: 90px;
      text-align: center;
  }
.search_cont{
   background:rgba(255,255,255,0.95);
   height:400px;
   position: absolute;
   width: 610px;
   top: 60px;
   padding: 10px;
   display: none;
   max-height: 450px;
}
#chanal-info{
    display: inline-block;
    font-size: 25px;   
}
  .channelblock-inner .logoChannel{
      margin-right: -20px;
      width:150%;
  }
  #movies-changer .arrow-bot{
    top: 10px;
  }
  .countLike{
    font-size: 17px;
    position: absolute;
    top: 35px;
  }
  .share-link-wrp{
    width: 200px;
    font-size:12px;
    padding: 5px;
    background: #fff;
    position: absolute;
    border:1px solid #ccc;
    left: 10px;
    top: 50%;
    z-index: 1;
  }
  .mainTvTitle{
    font-size:35px;
  }
  .gu_week{
    background-color: rgb(85, 85, 85);
    padding: 5px;
    height: 651px;
    }  
  #movies-changer .draggable{
    height: 576px;
    margin-top: -31px;
  }
  .serviceMenu .itemActive{
      background: #EAEAEA none repeat scroll 0 0;
      cursor: pointer;
      display: inline-block;
      font-size: 17px;
      height: 50px;
      padding-left: 5px;
      padding-right: 5px;
      text-align: center;
      top: -1px;
      transition: color 0.9s ease 0s;
      min-width: 200px;
  }
  .timeline{
    position: absolute;
    background-size: cover;
    height: 465px;
    /*margin-top: -155px;*/
    width: 630px;
    z-index: 31;
  }
  .simaVideoPlay{
    background: rgba(0, 0, 0, 0) url("../images/play.png") no-repeat scroll 0 0 / 100% auto;
    border-radius: 9px;
    height: 50px;
    left: 356px;
    position: absolute;
    text-align: center;
    top: 192px;
    cursor: pointer;
    width: 60px;
    z-index: 34;
      transition: color 0.9s ease 0s;

  }
  .simaVideoPlay:hover{
    opacity:0.7;
  }
  .simaVideoDesc{
    background: rgba(13, 147, 163, 0.5) none repeat scroll 0 0;
    color: #fff;
    height: 110px;
    left: 205px;
    top: 245px;
    text-align: justify;
    padding: 10px 45px;
    position: absolute;
    width: 50%;
    z-index: 33;
  }   
  .mPlayer{
    width: 100%;
    margin-right:-249px;
   } 
   .mPlayer2{
    width: 100%;
    margin-right:-240px;
   }
  .favorite-title{
    width: 16%;
    float: right;
    font-size: 20px;
    display:inline-block;
    float:right;
    color: #565656;
  }
  .login_header label{
    font-size: 14px;
  }  
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

  body{font-family: JameJam-Regular,Myriad Arabic,'Droid Arabic Kufi', serif;font-size: 16px}

  .container{
    width:1170px;
  }
  .mottoYear{
    float: left; color: rgb(255, 255, 255);
    padding: 15px;
    width: 330px;
    text-align: left;
    font-family:JameJam-ultra;
  }
  .history-section {
    min-width: 1343px !important;
    min-height: 650px;
  }
  .titile-sima{
  color: #0d93a3;
  font-size: 26px;
  margin-left: 20px;
}
.search_cont{
   background:rgba(255,255,255,0.95);
   height:400px;
   position: absolute;
   width: 735px;
   top: 60px;
   padding: 10px;
   display: none;
   max-height: 450px;
}  
  .whether{
    text-align: left;
    width: 33%;
  }
    #news-slider{
    margin-right: 0px;
  }

  #more-video-slider{
    padding:0 0px;
    /*margin-right: 11px;*/
    width:760px
  }
  #movie-iframe{
    width:750px;
  }
  #movie-slider-sima{
    height:650px;
  }  
   .slider-content-btm{
    text-align:justify;
   }  
  .guest-head h4{
    font-size: 20px;
    padding-right: 15px;
    line-height: 30px
  }
  .mottoYear{
    font-size:16px;
  }
   .weekText{
    font-size:16px;
   }  
  .weekIcon{
    width: 50%;text-align: left;
  }
  .iframeQmery{
     width:785px ;
     height: 440px;
  }
  .video-thumb .item{
    width:170px;
    cursor:pointer;
  }
  .blueBox{
    width:30%;
    height:490px;
    background-color:#0d93a3;
    position:absolute;
    left:27px;
    top:-25px;
  }  
  .favorite-title{
    width: 16%;
    float: right;
    font-size: 24px;
    color: #565656;
  }
    [data-icon]::before{
    font-size:50px;
  }
  #fix-headear ul li a{
    font-size:14px;
  }
  .mPlayer2,.mPlayer2{
    width: 269px;
  }
.channelblock-inner {
      display: block;
      align-items: center;
      min-height: 90px;
      text-align: center;
  }
  .channelblock-inner .logoChannel{
      margin-right: -10px;
      width:117%;
  } 
  .organizeMenu .title{
    border: medium none;
    font-size: 20px;
    padding:5px;
  }
  .ul.about_menu li a{
    color: rgb(255, 255, 255);
    font-size: 18px;
    transition: all 0.3s ease 0s;
  }
  .title span{ 
      color: #990033;
      font-size: 20px;
      padding-right: 10px;
  }
  .banners{
    width: 10%;
  }
  .serviceMenu .title{
  font-size:44px;
  }   
  .serviceMenu .item{
    font-size:22px;
  } 
  .serviceSubMenu .subItem{
    font-size: 17px;
  }
  .organizeSlide .slick-prev{
   margin-left: 1021px;
  }
  .organizeMenu .item{
    font-size:18px;
  }  
  .organizeSubMenu .item{
    font-size:18px;
  }
  #movies-changer .arrow-bot{
    top: 10px;
  }
  .countLike{
    position: absolute; 
    font-size: 20px;
    top: 35px;
  }
.share-link-wrp{
  width: 200px;
  font-size:12px;
  padding: 5px;
  background: #fff;
  position: absolute;
  border:1px solid #ccc;
  left: 50%;
  top: 50%;
  z-index: 1;
  }
.mainTvTitle{
    font-size:39px;
}
.gu_week{
  background-color: rgb(85, 85, 85);
  padding: 5px;
  height: 669px;
  }
  #movies-changer .draggable{
    height: 495px;
    margin-top: -31px;
  } 

  .serviceMenu .itemActive{
      background: #EAEAEA none repeat scroll 0 0;
      cursor: pointer;
      display: inline-block;
      font-size: 22px;
      height: 50px;
      padding-left: 5px;
      padding-right: 5px;
      text-align: center;
      top: -1px;
      transition: color 0.9s ease 0s;
      min-width: 200px;
  }
  .mPlayer{
    width: 100%;
    margin-right:-224px;
    }
  .mPlayer2{
    width: 100%;
    margin-right:-215px;
   }
  .favorite-title{
    width: 16%;
    float: right;
    font-size: 20px;
    display:inline-block;
    float:right;
    color: #565656;
  }
  .footer-menu-list ul, .footer-menu-list li{
    font-size:14px;
  }
  .jw-display-icon-container{
    background:#ccc;
    width:100px;
  }
  .timeline{
    position: absolute;
    background-size: cover;
    height: 440px;
    /*margin-top: -155px;*/
    width: 785px;
    z-index: 31;
  }
  .simaVideoPlay{
    background: rgba(0, 0, 0, 0) url("../images/play.png") no-repeat scroll 0 0 / 100% auto;
    border-radius: 9px;
    height: 50px;
    left: 430px;
    position: absolute;
    text-align: center;
    top: calc(50%);
    cursor: pointer;
    width: 60px;
    z-index: 34;
      transition: color 0.9s ease 0s;

  }
  .simaVideoPlay:hover{
    opacity:0.7;
  }
  .simaVideoDesc{
    background: rgba(13, 147, 163, 0.5) none repeat scroll 0 0;
    color: #fff;
    height: 110px;
    left: 245px;
    top: calc(70%);
    text-align: justify;
    padding: 10px 45px;
    position: absolute;
    width: 50%;
    z-index: 33;
  }  
}
.conductor-parent-sec{
  margin-top:20px;
  margin-bottom:20px;
}
.location img{
  padding-left:10px;
}
.quick-menu{
  margin-right:21%;
}
#movies-changer .arrow-top{
  top: -30px;
}

.popover-content,.popover-title{font-family: JameJam-Regular}
.nextProg,.nowProg{
  font-family:JameJam-ultra;
  text-align: justify;
}
.contactUs{
  min-height:590px;
}
.contactForm{
    border: 1px solid #ddd;
    padding: 30px;
    border-radius: 10px;
    background: linear-gradient(#fdfdfd, rgba(238, 238, 238, 0.51));
}
.feild{
    padding: 10px;
}
.textInput span{
    direction:rtl;
}
.textInput{
    width: 330px;
    height: 40px;
    direction: rtl;
    text-align: right;
    padding-right: 15px;
    border: 1px solid #ddd ;
    color: #666;
}
.textArea{
    width: 100%;
    height:100px;
    direction:rtl;
    text-align:right;
    padding:10px;
    border: 1px solid #ddd ;
    color:#666;
    resize:none;
}
.lineHr{
    border-bottom:1px solid #ccc;
    margin-bottom:10px;
}
.nextBtn
{
    width:95px;
    height:25px;
    background:#01B9F5;
    color:#fff;
    text-align:center;
    line-height:22px;
    cursor:pointer;
     border-radius: 4px;     
    margin-top: -2px;
    transition: all 0.1s ease;
    border:none;   
}
.nextBtn:hover{
    opacity:0.8;
}
.disable{
    background:#999;
    opacity:0.8;
    cursor:default;
}
.custom-file-input{
    background: #fff;
    height: 40px;
    line-height: 26px;
    border: 1px solid #ddd;
  
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
    content: 'انتخاب فایل';
    display: inline-block;
    background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
    border-left: 1px solid #ddd;
    border-radius: 3px;
    padding: 5px 8px;
    height: 39px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
}
.custom-file-input:hover::before {
  border-color: #ddd;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
.uploadMessage{
    font-size: 12px;
    color: red;
}
.contactBack{
    background:linear-gradient(to bottom ,#ececec, #fff);
    padding-top:10px;

}
.message{
    background: #fcfcfc;
    float: left;
    border-radius: 5px;
    width: 98%;
    padding-right: 15px;
    border: 1px solid #ddd;
    height: 60px;
    min-height: 10px;
    margin-bottom: 28px;
    transition: all .3s ease-in;
}
.message:hover{
    border: 1px solid #bbb;

}
.warning{
  color:#444;
  font-size:10px;
}
.message .avatar{
    border-radius: 50%;
    background: url(../images/avatar.jpg);
    right: 50px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid #ddd;
    margin-top: -20px;
    width: 40px;
    height: 40px;
    position: absolute;
}
.message .title{
  color: #555;
}
.message .content{
  color:#999;
  width: 98%;
  font-size:12px;
  margin-top: -10px;
  text-align: justify !important;
  margin-bottom:5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

.message .date{
    font-size: 10px !important;
    color: #888;
    text-align: left;
    text-align: center;
    left: 30px;
    border-radius: 2px;
    position: absolute;
    margin-top: 2px;
    width: 135px;
    background: #ddd;
}
.message .more{
    font-size: 10px !important;
    color: #888;
    text-align: left;
    text-align: center;
    cursor:pointer;
    left: 170px;
    border-radius: 2px;
    position: absolute;
    margin-top: 2px;
    width: 100px;
    background: #ddd;
    transition: all .5s ease-in;

}
.message .more:hover{
    background: #ccc;
}
.headerContact{

}
.messages{
  margin-top:50px;
}
.activeMessage{
  height: auto !important;
  border: 1px solid #bbb;
  transition: all .3s ease-in;
  z-index:999;  
}
.activeContent{
  white-space: normal !important;
  overflow: hidden !important;
  text-overflow: clip !important;
  border-bottom: 1px dotted #ccc;
}
.reply{
    display:none;
    border-right: 1px dotted #ccc;    
    margin-bottom: 5px;
    padding-top: 30px;
    padding-right: 6px;
    background:#F7F7F7;
    margin-right: 10px;
}
.reply .avatar{
    border-radius: 50%;
    background: url(../images/icons.png) #0E93A4;
    right: 0;
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    border: 2px solid #ccc;
    width: 40px;
    height: 40px;
    position: relative;
}
.reply .title{
    color: #555;
    display: inline-block;
    padding-right: 4px;
    direction:rtl;
  }
.reply .content{
    color: #999;
    width: 98%;
    font-size: 12px;
    margin-top: 0px;
    text-align: justify !important;
    margin-bottom: 5px;
    white-space: nowrap;
    padding-right: 45px;
}
.reply .title span{
  font-size:10px !important;
  color: #0E93A4 !important;
}
#movie-slider .slick-prev {
    left: 105px;
    z-index: 99999;
    transform: scale(1.7);
}
#movie-slider-sima .slick-prev {
    left: 105px !important;
    z-index: 999 !important;
    transform: scale(1.7);
    top: 40%;
}
#movie-slider-sima .slick-next {
    right: 155px !important;
    z-index: 999 !important;
    transform: scale(1.7);
    top: 40%;

}
.noPointer{
  cursor:default !important;
}
.viewNews{
  color:#777;
}