/* 
        Theme Name: Keremiya Wordpress Film Tema
        Theme URL: http://www.keremiya.com
        Description: :)
        Author: Keremiya
        Author URI: http://www.keremiya.com
        Version: 4.1
        Tags: film, dizi, dinamik, tema panel
*/
/************************************************
*	BODY					*
************************************************/

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
body {
    background-color: #21242B;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: normal;
    font-family: Montserrat, Lato, sans-serif;
    margin: 0px auto 0px;
    padding: 0px;
}
.adspopup {
    position: absolute;
    top: 300px;
    left: 50%;
    margin-left: -155px;
    height: 276px;
    width: 310px;
    z-index: 100px;
}
.adspopup .pubdirecte {
    height: 260px;
    width: 310px;
}
.adspopup .closemeplz a {
    display: block;
    height: 30px;
    line-height: 30px;
    width: 310px;
    background-color: #666;
    color: #fff;
    text-align: center;
    font-weight: bold;
}
.main {} *,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a,
a:visited {
    color: #848484;
    text-decoration: none;
}
a:hover {
    color: #4eafd7;
    /*text-decoration: underline;*/
}
.topnavbarright a img {
    border: none;
}
a:focus,
a:hover,
a:active {
    outline: none
}
li {
    list-style: none;
}
ul {
    list-style: none;
}
ul a {
    color: #ccc;
}
blockquote {
    /*background: #0f0f0f;*/

    margin: 0px 10px 15px 10px;
    color: #818181;
    /*padding: 10px 10px 0px 10px;*/
    /*border: 1px solid #1f1f1f;*/

    text-align: justify;
}
code {
    background: #121212;
    padding: 1px;
}
.right {
    float: right;
    overflow: hidden;
}
.left {
    float: left;
    overflow: hidden;
}
.clear {
    clear: both;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix {
    display: inline-block;
}
.clearfix {
    display: block;
}
.row:before,
.row:after {
    content: " ";
    display: table;
}
.row:after {
    clear: both;
}
#nav li:hover,
#nav li:active {
    /* background: #4eafd7 none repeat scroll 0 0; */
    /* color: #fff; */
    /* margin-top: 0; */
    /* padding: 10px; */
    /* text-decoration: none; */
}
/************************************************
*	ANABOLUM	    		*
************************************************/

#wrap {
    /*background: rgba(0, 0, 0, 0) url("images/header.png") repeat scroll 0 0;*/

    margin: -10px auto 0;
    padding: 0;
    width: 1148px;
}
.leftC {
    float: left;
    width: 895px;
    min-height: 395px;
    clear: left;
    background: #31353e;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
    padding: 20px 0 0;
    margin-bottom: 20px;
}
.filmborder {
    height: auto;
    padding: 0px;
    margin-top: 0;
}
.filmcontent {
    height: auto;
    padding-bottom: 6px;
    padding-top: 6px;
    margin-top: 9px;
    padding: 0px;
    text-align: left;
    margin: 0 !important;
}
.filmcontent ul {
    margin: 0px 5px 2px 15px;
    padding: 5px 10px 5px 10px;
    font-size: 12px;
    font-weight: bold;
    margin-top: 15px;
}
.filmcontent li {
    list-style: square;
    color: #ccc;
}
.filmcontent li form > div[style="float:right"] > span,
.filmcontent li a > div[style="float:right"] > span{
    /* float: left; */
}
.filmcontent .tagcloud {
    margin: 5px;
    padding: 5px;
}
.filmcontent .postform,
select {
    margin: 0;
    padding: 10px;
    width: 100%;
    background: #21242b;
    border: none;
    color: #fff;
    font-family: inherit;
    font-size: 12px;
    outline: none;
}
/************************************************
*	MANSET		     		*
************************************************/

.inner-slider .filmslayt {
    margin-left: 29px;
}
.filmslayt {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    /* float:left; */

    height: auto;
    /* padding:0px; */
    /* margin:1px; */
    /* border:1px solid #f1f1f3; */
    /* margin-bottom:10px; */
    /* margin-left:-40px; */
}
.filmslaytc {
    /* width: 100%; */
    /* float:left; */
    /* height:auto; */
    /* padding:0px; */
    /* border:1px solid #f1f1f3; */
    /* background:#f1f1f3; */
}
.ozet {
    margin: 0;
    opacity: 0.9;
    filter: alpha(opacity=90);
    position: absolute;
    bottom: 0;
    right: 6px;
    text-align: right;
    font-weight: normal;
    font-size: 10px;
    color: #7D8089;
}
.ozet:before {
    content: '\f06e';
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 6px;
}
#myslides {
    /* background:#e4e4e4; */
}
.stepcarousel {
    position: relative;
    overflow: scroll;
    width: 100%;
    height: 210px;
    margin: 0 auto;
    z-index: 9;
}
.stepcarousel .belt {
    position: absolute;
    left: 0;
    top: 0;
    /* margin-left:3px; */
}
.stepcarousel .panel {
    float: left;
    overflow: hidden;
    margin: 0 9px;
    width: 154px;
    background: #14181a;
    height: 200px;
}
.stepcarousel .panel img {
    background: #040404;
    margin: 0px 0px 0px 0px;
    width: 154px;
    height: 208px;
    display: block;
}
.stepcarousel .panel a:hover:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    background-image: url(images/play-hover.png);
    background-repeat: no-repeat;
    background-position: center center;
} .filmcontent .stepcarousel {
    position: relative;
    overflow: scroll;
    width: 693px;
    height: 150px;
    margin: 0px 14px 0px 14px;
}
.filmcontent .stepcarousel .belt {
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 0px;
}
.filmcontent .stepcarousel .panel {
    float: left;
    overflow: hidden;
    margin: 4px 17px 4px 25px;
    width: 154px;
    background: #14181a;
    height: 200px;
    border: 1px solid #333333;
    transition: all .3s linear;
    -o-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
}
.filmcontent .stepcarousel .panel:hover {
    background: #F88B00;
    border: 1px solid #F88B00;
    transition: all .3s linear;
    -o-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
}
/************************************************
*	DUBLAJ      								*
************************************************/

.tr-dublaj {
    position: absolute;
    background-image: url(images/vf.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 30px;
    height: 20px;
    top: 6px;
    left: 5px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
}
.tr-altyazi {
    position: absolute;
    background-image: url(images/vostfr.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 30px;
    height: 20px;
    top: 6px;
    left: 5px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
}
/************************************************
*	UST NAVBAR     									*
************************************************/

.inde {
    /*background:url(images/sprite.png) -285px -21px no-repeat;*/

    width: 35px;
    color: #fff;
    /* background:#3b3b3b; */

    padding: 20px 22px 14px;
}
.inde:hover {
    background: #31353e;
}
.favo {
    background: url(images/sprite.png) -285px -2px no-repeat;
    width: 35px;
    background: #3b3b3d;
    padding: 20px 22px 14px;
    color: #fff;
}
.favo:hover {
    background: #31353e;
}
.cikis {
    /*background:url(images/sprite.png) -285px -40px no-repeat;*/

    width: 35px;
    padding: 20px 22px 14px;
    ;
    background: #3b3b3d;
}
.cikis:hover {
    background: #4eafd7;
}
#topnavbar {
    height: 30px;
    color: #FFFFFF;
    padding: 0px;
    margin-top: 11px;
    border-top: 1px solid #151515;
}
#topnavbar a,
#topnavbar a:visited {
    font-size: 11px;
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: none;
}
#topnavbar a:hover {
    text-decoration: underline;
}
#topnavbar p {
    font-size: 11px;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
}
#topRight {
    float: right;
    font-size: 11px;
    height: 20px;
    margin-top: 5px;
}
.topnavbarleft {
    width: 100%;
    float: left;
    margin: 0px;
    padding: 8px 0px 0px 10px;
}
.topnavbarright {
    float: right;
    position: relative;
}
.topnavbarright > a {
    /* margin-left:-3px; */
    /*padding-left:20px;*/

    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    display: block;
    float: left;
    padding: 16px 20px 15px 24px;
    width: auto;
    background: transparent;
    vertical-align: top;
}
.topnavbarright a:hover {
    color: #fff;
}
.topnavbarright a img {
    vertical-align: text-bottom;
}
/************************************************
*	HEADER	 									*
************************************************/

#header {
    height: 85px;
    color: #FFFFFF;
    font-size: 11px;
    margin: 0px;
    margin-left: -14px;
    padding: 0px;
    overflow: hidden;
}
#header h1 {
    color: #FFFFFF;
    font-size: 36px;
    font-family: Georgia, Times New Roman;
    font-weight: normal;
    margin: 0px;
    padding: 15px 0px 0px 20px;
    text-decoration: none;
}
#header h1 a,
#header h1 a:visited {
    color: #FFFFFF;
    font-size: 36px;
    font-family: Georgia, Times New Roman;
    font-weight: normal;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}
#header h1 a:hover {
    color: #FFFFFF;
    text-decoration: none;
}
#header h3 {
    color: #A91B33;
    font-size: 16px;
    font-family: Arial, Tahoma, Verdana;
    font-weight: normal;
    margin: 0px;
    padding: 0px;
}
#header p {
    color: #FFFFFF;
    padding: 0px 0px 5px 20px;
    margin: 0px;
    line-height: 20px;
}
.headerleft {
    width: 240px;
    float: left;
    font-size: 14px;
    margin-top: 5px;
    margin-left: 15px;
    padding: 0px;
}
.headerleft a img {
    border: none;
    margin: 0px;
    padding: 0px;
}
.headerright {
    float: right;
    font-weight: bold;
    margin-top: 9px;
}
.headerright > a {
    float: left;
    width: 30px;
    height: 30px;
    font-size: 0;
    text-align: center;
    margin-left: 30px;
}
.headerright > a:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 30px;
    vertical-align: middle;
    width: 100%;
    line-height: 30px;
}
.arama {
    /*background: rgba(0, 0, 0, 0) url("images/hepsi.png") no-repeat scroll 0 -42px;*/

    background: url("images/full-search.png") no-repeat;
    float: left;
    font-size: 11px;
    height: 98px;
    margin-bottom: 120px;
    margin-left: 169px;
    margin-top: 7px;
    /* border: 2px solid #c64144;*/

    border-radius: 5px;
    width: 655px;
}
.aramaaaa {
    /* margin: 50px; */
}
/************************************************
*	NAVBAR     								*
************************************************/

#navbarborder {
    background-color: #252A30;
    width: 100%;
    /* height: 50px; */

    padding: 0px;
    border-radius: 3px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
    margin-bottom: 50px;
}
#navbar {
    color: #fff;
    margin: 0 auto;
    padding: 0;
    width: 1148px;
}
#navbarleft {
    /* width: 977px; */
    /*float: left;*/

    margin: 0 auto;
    padding: 0px;
}
#nav {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    float: left;
}
#nav ul {
    float: left;
    list-style: none;
    margin: 0px;
    padding: 0px;
}
#nav li {
    float: left;
    list-style: none;
    margin: 0px;
    /* padding: 10px; */
    /*border-right:1px solid #181818;
    border-left:1px solid #333333;*/
    /* height:31px; */
}
#nav li a,
#nav li a:link,
#nav li a:visited {
    color: #ccc;
    display: block;
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    text-transform: uppercase;
    font-family: Montserrat;
    padding: 17px 20px 15px 24px;
}
#nav li a:hover,
#nav li a:active {
    /* color: #fff; */

    background-color: #31353E;
    /* margin-top: 0px; */
    /* padding: 4px 10px 2px 14px; */
    /* text-decoration: none; */
}
#nav li li a,
#nav li li a:link,
#nav li li a:visited {
    background: #333333;
    width: 130px;
    color: #ccc;
    font-size: 11px;
    font-family: 'Lato', arial, serif;
    font-weight: normal;
    text-transform: uppercase;
    float: none;
    margin: 0px;
    padding: 3px 5px 3px 5px;
    border-bottom: 1px solid #242424;
    border-left: 1px solid #161616;
    border-right: 1px solid #242424;
    border-top: 1px solid #414141;
}
#nav li li a:hover,
#nav li li a:active {
    background: #333333;
    color: #ccc;
    padding: 3px 5px 3px 5px;
    border-bottom: 1px solid #242424;
    border-left: 1px solid #191919;
    border-right: 2px solid #97C000;
    border-top: 1px solid #414141;
}
#nav li ul.sub-menu {
    float: left;
    margin-left: -2px;
    padding: 0px;
    border: 1px solid #0e0e0e;
    width: 142px;
    box-shadow: 0px 0px 2px 2px #111111;
}
#nav li ul {
    z-index: 9999;
    position: absolute;
    left: -999em;
    height: auto;
    min-width: 142px;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}
#nav li li {
    border: none;
}
#nav li ul a {
    width: 140px;
}
#nav li ul a:hover,
#nav li ul a:active {} #nav li ul ul {
    margin: -32px 0 0 171px;
}
#nav li:hover ul ul,
#nav li:hover ul ul ul,
#nav li.sfhover ul ul,
#nav li.sfhover ul ul ul {
    left: -999em;
}
#nav li:hover ul,
#nav li li:hover ul,
#nav li li li:hover ul,
#nav li.sfhover ul,
#nav li li.sfhover ul,
#nav li li li.sfhover ul {
    left: auto;
}
#nav li:hover,
#nav li.sfhover {
    /* position: static; */
}
/************************************************
*	CONTENT						     		    * 
************************************************/

#content {
    width: 1145px;
    margin: 0 auto;
    padding: 0;
    line-height: 18px;
    color: #424242;
    font-size: 12px;
    /* overflow: hidden; */

    margin-top: 50px;
}
#content h1 {
    margin: 8px 0 28px 40px;
    font-size: 16px;
    /* font-weight: normal; */

    color: #FFFFFF;
    padding: 0 20px;
    position: relative;
    display: inline-block;
}
#content h1 > a > img {
    background: white;
    border-radius: 200px;
    padding: 3px;
    position: absolute;
    display: block;
    left: -18px;
    top: -5px;
}
#content h1:after {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 50%;
    height: 2px;
    width: 93%;
    background: #F8981D;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    content: '';
}
#content h1 a {
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    font-family: 'Lato', arial, serif;
}
#content h1 a:hover {
    color: #A91B33;
    text-decoration: none;
}
#content h1 .Breadcrumb {
    float: right;
    padding-right: 10px;
    color: #545454;
    font-size: 10px;
    margin-left: -5px;
}
#content h1 .Breadcrumb a {
    font-size: 10px;
    color: #515151;
    font-family: 'Lato', arial, serif;
    text-transform: none;
    transition: all .3s linear;
    -o-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
}
#content h1 .Breadcrumb a:hover {
    color: #A91B33;
    text-decoration: none;
}
#content .yazitip {
    margin: 0px 30px 30px 0;
    font-size: 14px;
    /* font-weight: normal; */
    color: #FFFFFF;
    padding: 0 6px;
    position: relative;
    display: inline-block;
    margin-left: 20px;
}
#content .yazitip:after {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 50%;
    height: 2px;
    width: 100%;
    background: #F8981D;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    content: '';
}
#content .yazitip span {
    /* float:right; */
    /* padding-right: 10px; */
    /* color:#fff; */
    /* font-size:10px; */
    /* margin-left:-5px; */

    text-transform: lowercase;
    display: none;
}
#content .yazitip span a {
    font-size: 10px;
    color: #515151;
    font-family: 'Lato', arial, serif;
    text-transform: none;
}
#content .tam {
    text-transform: uppercase;
    overflow: hidden;
    height: 22px;
    margin-bottom: 20px;
}
#content .nam {
    text-transform: uppercase;
    clear: both;
    display: none;
}
#content .tam ul,
#content .yazitip ul {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0px;
}
#content .tam li.menu-item,
#content .yazitip li.menu-item {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
}
#content .yazitip li.menu-item a {
    display: block;
    font-size: 11px;
    font-weight: normal;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}
#content .tam li a {
    color: #7C7F88;
    display: block;
    padding: 0 20px;
    font-size: 12px;
    position: relative;
}
#content .tam li.menu-item a:hover,
.tam li.current-menu-item a:active,
#content .yazitip li.menu-item a:hover,
#content .yazitip li.current-menu-item a:active {} #content .tam li.current-menu-item,
#content .yazitip li.current-menu-item {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
}
#content .tam li.current-menu-item a {
    color: #FFFFFF;
}
#content .tam li.current-menu-item a:after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 50%;
    height: 2px;
    width: 76%;
    background: #F8981D;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
}
#content .tam li a:hover {
    color: #ffffff;
}
#content .tam li.current-menu-item a:hover,
.tam li.current-menu-item a:active,
#content .yazitip li.current-menu-item a:hover,
#content .yazitip li.current-menu-item a:active {} .begen {
    margin: 0;
    float: right;
    margin-right: 20px;
}
.begen .likeThis,
.begen .likeThisserie {
    display: block;
    font-weight: bold;
    color: #21242b;
    margin: 0;
    padding: 0;
    cursor: pointer;
    position: relative;
    width: 34px;
    height: 34px;
    z-index: 1;
    text-align: center;
    line-height: 28px;
    font-size: 11px;
}
.begen .likeThis:before,
.begen .likeThisserie:before {
    content: "\f004";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    font-size: 34px;
    color: #ffffff;
    z-index: -1;
    left: 0;
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
    -webkit-text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
    -moz-text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
}
.begen .likeThis:hover,
.begen .likeThisserie:hover {
    color: #ffffff;
}
.begen .likeThis:hover:before,
.begen .likeThisserie:hover:before {
    color: #31353e;
}
.begen .likeThis.done,
.begen .likeThisserie.done {
    cursor: default;
    color: white;
}
.begen .likeThis.done:before,
.begen .likeThisserie.done:before {
    color: #31353e;
}
#content h2 {
    font-size: 13px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
#content h3 {
    background: #c64144;
    border: 1px solid #c64144;
    color: #FFFFFF;
    font-size: 12px;
    font-family: Arial, Tahoma, Verdana;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0px 0px 10px 0px;
    padding: 3px 0px 3px 10px;
}
#content h4 {
    background: #141414;
    border: 1px solid #1e1e1e;
    color: #FFFFFF;
    font-size: 10px;
    font-family: Arial, Tahoma, Verdana;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0px 0px 10px 0px;
    padding: 3px 0px 3px 10px;
}
#content img.wp-smiley {
    float: none;
    border: none;
    margin: 0px;
    padding: 0px;
}
#content img.wp-wink {
    float: none;
    border: none;
    margin: 0px;
    padding: 0px;
}
#content blockquote p {
    margin: 0px;
    padding: 0px 0px 15px 0px;
}
/* 404 */

.olmayansayfa {
    font-size: 72px;
    height: 250px;
    color: #888888;
    text-shadow: 1px 1px #111111;
    font-weight: bold;
    padding-top: 150px;
    text-align: center;
}
.olmayansayfa p {
    font-size: 18px;
    padding-top: 5px;
    color: #666666;
}
/************************************************
*	CUSTOM CSS		    	        	        * 
************************************************/
/************************************************
*	SIDEBAR		    	        	        * 
************************************************/

#sidebar {
    width: 232px;
    float: right;
}
#sidebar > center {
    margin-bottom: 20px;
}
#sidebar > center > a {
    display: block;
}
#sidebar > center > a > img {
    display: block;
}
#content .sidebarborder {
    margin-bottom: 20px;
    overflow: hidden;
    background: #31353e;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
}
#content .sidebar-right {} #content .sidebar-right h2 {
    display: inline-block;
    padding: 0 6px;
    margin: 18px 0 23px 20px;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    position: relative;
}
#content .sidebar-right h2:before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    height: 2px;
    width: 100%;
    background: #F8981D;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
}
.newsletter {
    background: url(images/hepsi.png) 0px -152px no-repeat;
    float: left;
    width: 238px;
    height: 48px;
    margin: 0px -15px 0px -5px;
}
#sidebar li a:hover,
.arrow li a:active {
    color: #f8981d;
    padding-left: 24px;
}
#sidebar li a:hover:before,
.arrow li a:active:before {
    /* font-size: 11px; */

    left: 4px;
    content: "\f111";
}
#sidebar ul li {
    margin-bottom: 8px;
}
#sidebar ul {
    list-style-type: none;
    margin: 0px;
    padding: 0 20px 18px;
    text-align: left;
}
#sidebar ul li a {
    display: block;
    padding: 0 0 0 20px;
    font-size: 14px;
    color: #ffffff;
    position: relative;
    transition: all 0.05s ease-in-out;
}
#sidebar ul li a:before {
    content: "\f10c";
    position: absolute;
    top: 5px;
    left: 0;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 8px;
    transition: all 0.05s ease-in-out;
}
#sidebar .tagcloud {
    background: #181818;
    padding: 5px;
}
#sidebar #searchbox {
    width: 110px;
    border-radius: 4px;
    margin-bottom: 8px;
}
#sidebar .textwidget {
    color: #ffffff;
    padding: 10px;
}
#sidebar .textwidget iframe {
    width: 100%;
    text-align: center;
    display: block;
}
#sidebar #cat {
    width: 93%;
}
/************************************************
*	FOOTER     								*
************************************************/

#footer {
    background: #31353e;
    width: 100%;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    padding: 20px 0;
}
.footer {
    margin: 0 auto;
    width: 1048px;
}
#footer p {
    color: #FFFFFF;
    font-size: 11px;
    font-family: 'Lato', arial, serif;
    margin: 0px;
    padding: 9px 0px 0px 0px;
}
#footer a,
#footer a:visited {
    color: #f8981d;
    text-decoration: none;
}
#footer a:hover {
    text-decoration: underline;
}
#footer span {
    font-size: 11px;
    color: #999999;
    font-weight: bold;
    display: block;
    margin-top: 15px;
}
.footer {
    /*width:1003px;
    padding-bottom:15px;
    margin:0 auto 0;*/
}
.footborder {
    /* height:1px; */
    /* background:#000000; */
}
.footeright {
    float: right;
    color: #121212;
    width: 252px;
    color: #cccccc;
    margin-top: 17px;
}
.footerleft {
    float: left;
    width: 750px;
    color: #cccccc;
    margin: 0;
}
/************************************************
*	ARAMA FORMU									*
************************************************/

.search-container {
    margin-top: 50px;
    margin-bottom: 50px;
}
#searchform {
    margin: 0 auto;
    padding: 0px;
    /* overflow: hidden; */

    display: block;
    position: relative;
    width: 800px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
}
#searchform:before {
    content: "\f002";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #F8981D;
    position: absolute;
    z-index: 1;
    font-size: 30px;
    top: 50%;
    left: 28px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
}
#searchform:after {
    content: "\f0a9";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #F8981D;
    position: absolute;
    z-index: 1;
    font-size: 40px;
    top: 50%;
    right: 28px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
}
#searchbox {
    border: 0 none;
    color: #ffffff;
    display: block;
    font-family: Montserrat;
    font-size: 26px;
    font-weight: normal;
    margin: 0 !important;
    padding: 3px 0 3px 5px;
    width: 100%;
    float: none !important;
    padding: 20px 86px 20px 80px !important;
    background: #31353e !important;
    outline: none;
    line-height: 36px;
}
#searchbox:hover {
    border: 0px;
}
#searchbutton {
    background: transparent;
    border: 0 none;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
    height: 100%;
    margin-left: 5px;
    width: 86px;
    margin: 0 !important;
    position: absolute;
    top: 0 !important;
    right: 0;
    left: initial !important;
    padding: 0;
    outline: none;
}
#searchbutton:hover {
    border: 0px
}
#subscribe {
    margin: 0px;
    padding: 5px 0px 0px 0px;
    overflow: hidden;
}
#subbox {
    background: #ffffff !important;
    width: 125px;
    color: #202020;
    font-size: 11px;
    font-family: 'Lato', arial, serif;
    font-weight: normal;
    margin: 8px 0px 0px 15px;
    padding: 3px 0px 3px 5px;
    border: 1px solid #ffffff;
    display: inline;
}
#subbutton {
    background: url(images/hepsi.png) -293px -126px no-repeat;
    color: #FFFFFF;
    font-size: 10px;
    margin: 0px 0px 0px 13px;
    padding: 0px 3px 2px 3px;
    height: 32px;
    width: 60px;
    border: none;
    cursor: pointer;
}
#author,
#url {
    background: #242424 !important;
    width: 250px;
    color: #717171;
    font-size: 12px;
    font-weight: normal;
    margin: 3px 0px 0px 0px;
    padding: 3px 0px 3px 5px;
    border: 0px;
    display: inline;
}
#email,
#url {} #submit {
    background: #7B7B7B;
    color: #FFFFFF;
    font-size: 11px;
    font-family: Arial, Tahoma, Verdana;
    margin: 0px;
    padding: 3px 3px 2px 3px;
    font-weight: bold;
    border-top: 1px solid #8B8B8B;
    border-right: 1px solid #7B7B7B;
    border-left: 1px solid #7B7B7B;
    border-bottom: 1px solid #8B8B8B;
    cursor: pointer;
}
/************************************************
*	YORUM										*
************************************************/

#comment {
    min-height: 150px;
}
#comment,
#dle-comments-form input[type="text"] {
    width: 100%;
    outline: none;
    border: 0;
    color: #ffffff;
    font-family: inherit;
    line-height: 22px;
    padding: 9px 10px;
    font-size: 12px;
    background: #21242b;
    /* box-shadow: 0px 0px 6px rgba(0,0,0,0.4); */
    /* -webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.4); */

    -moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
}
#dle-comments-form input[type="text"] {
    float: left;
    width: 245px;
}
#comment:focus {
    /*border:1px solid #c64144;*/
}
#gonder {
    background: #f8981d;
    border: 1px solid #f8981d;
    font-family: inherit;
    color: #FFFFFF;
    float: right;
    padding: 11px;
    outline: none;
    min-width: 150px;
    margin-top: 15px;
    cursor: pointer;
}
#gonder:hover,
#gonder:active {
    background: #21242b;
    color: #f8981d;
}
.yborder {} .yborder label {
    display: block;
    color: white;
    line-height: 34px;
    float: left;
    width: 55px;
}
.yborder input {
    /*width:70%;
    height:21px;
    overflow:hidden;
    border:0px;
    background: #a9a9a9;
    float:left;
    margin:0px;
    padding:0px;
    font-size:12px;
    font-weight: normal;
    color:#000;
    line-height:20px;*/
}
#dle-comments-form {
    margin: 0;
    /* overflow: hidden; */
}
#respond:after {
    content: ".";
    display: block;
    height: 0px;
    clear: both;
    visibility: hidden;
}
#dle-comments-form p {
    margin: 5px 0px 5px 0px;
}
#dle-comments-form #submit {
    margin: 0px;
    float: left;
}
.alt {
    margin: 0px;
    padding: 10px;
}
.commentlist {
    margin: 0px;
    padding: 0px;
    width: 707px;
}
.commentlist ol {
    margin: 0px;
    padding: 10px;
}
.commentlist li {
    font-weight: bold;
    margin: 15px 0px 10px;
    padding: 10px 5px 10px 10px;
    list-style: none;
    border-radius: 6px;
}
.commentlist li ul li {
    font-size: 12px;
    margin-right: -5px;
    margin-left: 10px;
}
.commentlist li .avatar {
    background: #484848;
    width: 30px;
    height: 30px;
    float: right;
    border: 1px solid #424242;
    padding: 2px;
    border-radius: 4px;
}
.commentlist cite,
.commentlist cite a {
    font-weight: bold;
    font-style: normal;
    font-size: 12px;
}
.commentlist a {
    color: #818181;
}
.commentlist .url {
    color: #E6E9D7
}
.commentmetadata {
    font-weight: normal;
}
.cancel-comment-reply {
    margin-left: 10px;
    font-weight: bold;
}
.commentlist p {
    margin: 10px 5px 10px 0px;
    padding: 0px;
    color: #707070;
    font-size: 12px;
    font-weight: bold;
    text-transform: none;
}
.commentlist p:first-letter {
    text-transform: uppercase;
}
.comment-meta {
    color: #818181;
}
.comment-zaman {
    color: #D8D8D8;
    font-style: italic;
}
.children {
    margin: 0px;
    padding: 0px;
}
.nocomments {
    text-align: center;
    margin: 0px;
    padding: 0px;
}
.commentmetadata {
    font-size: 10px;
    margin: 0px;
    display: block;
}
.navigation {
    display: block;
    color: #ccc;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
img.centered {
    padding: 1px;
    display: block;
    margin: 0 auto 0 auto;
    border: 1px solid #555;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
img.alignnone {
    padding: 1px;
    margin: 0;
    border: 1px solid #555;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
img.alignright {
    padding: 1px;
    margin: 0 0 0 10px;
    border: 1px solid #555;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
img.alignleft {
    padding: 1px;
    margin: 0 10px 0 0;
    border: 1px solid #555;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.alignright {
    padding: 1px;
    float: right;
    margin: 0 0 0 10px;
    border: 1px solid #555;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.alignleft {
    padding: 1px;
    float: left;
    margin-right: 10px;
    border: 1px solid #555;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.thread-alt {
    background: #1c1c1c;
    margin: 0px;
    padding: 0px;
}
.thread-even {
    background: #242424;
    margin: 0px;
    padding: 0px;
}
.even,
.alt {
    border: 1px dotted #333333;
    margin: 0px;
    padding: 0px;
}
/************************************************
*	FILM LISTEME	*
************************************************/

.moviefilm {
    width: 165px;
    font-size: 12px;
    font-weight: normal;
    text-align: left;
    margin: 0 5px;
    margin-bottom: 30px;
    display: inline-block;
    vertical-align: top;
    position: relative;
}
.moviefilm > a {
    display: block;
    position: relative;
}
.moviefilm > a:hover:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    background-image: url(images/play-hover.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.moviefilm2 {
    width: 20%;
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 10px;
    float: left;
    vertical-align: top;
    position: relative;
    text-align: center;
}
.moviefilm2 img {
    margin: 0px 0px 0px 0px;
    width: 125px;
    height: 133px;
}
.moviefilm2:hover {
}
.moviefilm2 .movies {
    display: block;
}
.moviefilm:hover {} .moviefilm img {
    margin: 0;
    width: 100%;
    height: 223px;
    display: block;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}
.moviefilm .movies {
    color: #7D8089;
    font-weight: normal;
    font-size: 11px;
    height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.movief {
    margin-top: 6px;
    font-size: 12px;
    height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: white;
}
.movief2 {
    /* width: 133px; */
    /* height: 24px; */
    /* float: left; */
    /* color: #005baa; */
    /* font-size: 15px; */
    /* font-weight: normal; */
    /* overflow: hidden; */
    /* padding-top: 4px; */

    line-height: 14px;
}
.PapaGooGorHDVid {
    left: 280px !important;
    position: absolute !important;
    top: 280px !important;
}
.PapaGooGorHD div.PapaGooGorHDVid {
    -webkit-top: 295px !important;
    -webkit-left: 153px !important;
}
.movief a {
    color: #fff;
    font-family: Montserrat;
}
.movies a {
    color: #ffffff;
}
.movief2 a {
    display: block;
    background: #21242b;
    padding: 10px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border: 1px solid #1d1f23;
    margin: 0 8px;
}
.movief2 a:hover {
    color: #f8981d;
    background: #1d1f23;
}
.moviefilm .yeni {
    position: absolute;
    margin: -6px 0px 0px 3px;
    padding: 0px;
    background: url(images/yeni.png) no-repeat;
    width: 37px;
    height: 18px;
}
.moviefilm .likeThis .likeThisserie {
    display: block;
    margin-top: -4px;
}
.moviefilm .likeThis:hover,
.likeThisserie:hover,
.moviefilm .likeThis.done .likeThisserie.done {
    text-decoration: none;
}
.moviefilm .likeThis.done .likeThisserie.done {
    color: #CCCCCC;
    cursor: text;
}
/************************************************
*	REKLAM		*
************************************************/

#header_sag {
    z-index: 44003;
    margin: 0 auto;
    position: fixed;
    top: 99px;
    margin-left: 999px;
    _position: absolute;
}
#header_sol {
    z-index: 44003;
    margin: 0 auto;
    position: fixed;
    top: 99px;
    margin-left: -115px;
    _position: absolute;
}
.bireklam {
    width: 730px;
    text-align: center;
    height: 90px;
    /*background:#191919;*/

    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    /*border:1px solid #191919;*/

    margin-bottom: 20px;
}
.filmreklam {
    float: right;
    width: 120px;
    margin: 7px 0px 5px;
    padding-right: 12px;
}
#filmoncereklam {
    margin-top: 5px;
    margin-bottom: 15px;
}
.reklamgec {
    font-size: 16px;
    font-family: 'Lato', arial, serif;
    color: #A91B33;
}
.reklamgec:hover {
    color: #515151;
}
/************************************************
*	EN COK IZLENENLER							*
************************************************/

.fimanaortala {
    margin-top: -9px;
}
.filmana {
    margin-top: 1px;
    margin-left: 0px;
    width: 225px;
    height: 105px;
    background: #161616;
    border: 1px solid #1D1D1D;
    float: left;
    transition: all .3s linear;
    -o-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
}
.filmana:hover {
    border: 1px solid #323232;
    background: #101010;
    transition: all .3s linear;
    -o-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
}
.filmsol {
    margin-top: 8px;
    margin-left: 7px;
    width: 91px;
    float: left;
}
.filmsol img {
    background: #282828;
    padding: 2px;
    border: 2px solid #111111;
    border-radius: 3px;
}
.filmsag {
    margin-top: 5px;
    width: 115px;
    float: left;
}
.filmsag a {
    font-size: 12px;
    color: #F88B00;
    font-family: 'Lato', arial, serif;
}
.filmsagalt {
    float: left;
    height: 30px;
}
.filmsagicerik {
    width: 125px;
    height: 50px;
    font-size: 11px;
    font-weight: normal;
    font-family: 'Lato', arial, serif;
    color: #555555;
    line-height: 14px;
    margin-left: -7px;
    margin-top: 5px;
}
.filmsagicerik a {
    font-size: 11px;
    font-weight: normal;
    color: #444444;
    text-decoration: none;
}
.filmsagicerik p {
    margin-top: 5px;
    padding: 0px;
}
.filmizleme {
    float: right;
    height: 20px;
    width: 64px;
    margin-top: -7px;
}
.filmsagbaslik {
    width: 125px;
    height: 17px;
    overflow: hidden;
    margin-top: 5px;
    margin-left: -8px;
    line-height: 16px;
}
/************************************************
*	SINGLE										*
************************************************/

.filmicerik {
    float: right;
}
.filmicerik .wprp_wrapper {
    margin: 0;
    padding: 0;
}
.filmicerik .wprp_wrapper strong {
    font-size: 0;
}
.filmicerik .wprp_wrapper a {
    display: block;
    font-weight: bold;
    color: #ffffff;
    margin: 0;
    padding: 0;
    cursor: pointer;
    position: relative;
    width: 30px;
    height: 30px;
    z-index: 1;
    text-align: center;
    font-size: 11px;
    margin-right: 10px;
    margin-top: 4px;
}
.filmicerik .wprp_wrapper a:before {
    content: "\f0f3";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    font-size: 30px;
    /* color: #f8981d; */

    z-index: -1;
    left: 0;
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
    -webkit-text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
    -moz-text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
}
.filmicerik .wprp_wrapper a:hover:before {
    color: #31353e;
}
.filmicerik object,
.filmicerik embed,
.filmicerik iframe {
    width: 711px;
}
.filmicerik2 {
    height: auto;
    overflow: hidden;
    color: #fff;
    text-align: center;
    padding: 0 20px;
}
.filmicerik2 p label[for="rememberme"] {
    display: block;
    margin-top: 15px;
}
.filmicerik2 a {
    color: #f8981d;
    margin: 0 5px;
}
.filmicerik2 a:hover {
    text-decoration: underline;
}
.pagele {
    background: #0F0F0F;
    width: 520px;
    margin: -10px 0 0 104px;
    border: 1px solid #1E1E1E;
}
.pageler {
    margin: 5px 0 3px 11px;
    text-align: center;
}
.filmalti {
    height: auto;
    overflow: hidden;
    padding: 0 18px 18px;
}
.filmalti p {
    margin: 0 0 5px;
}
.filmaltiimg {
    float: left;
    width: 22%;
    height: 150;
    position: relative;
}
.filmaltiimg img {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    width: 100%;
    height: initial;
    border: none;
}
.filmaltiaciklama {
    font-size: 12px;
    line-height: 17px;
    /* font-weight:bold; */

    color: #ffffff;
    width: 78%;
    height: auto;
    float: left;
    margin: 0;
    padding-left: 18px;
}
.filmaltiaciklama span {
    color: #ffffff;
    font-size: 12px;
    width: 70px;
    float: left;
}
.filmaltiaciklama a {
    color: #f8981d;
    font-size: 12px;
}
.filmaltiaciklama a:hover {
    text-decoration: underline;
}
.filmaltiaciklama span a {
    color: green;
    font-size: 16px;
}
.editpostlink {
    background: #242424;
    float: left;
    font-weight: bold;
    font-size: 11px;
    width: 115px;
    margin: -14px 0px 10px 8px;
    text-align: center;
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
}
.editpostlink a {
    color: #4eafd7;
    text-decoration: none;
}
.editpostlink:hover {
    background: #333333;
}
#alt {
    /* background:url(images/hepsi.png) 0 0 no-repeat; */
    /* width:713px; */

    height: 38px;
    margin: -9px 0px 0px 8px;
    margin: -15px 0 0 0;
    border: none;
}
.google {
    float: left;
    width: 60px;
    margin: 9px 0px 0px 5px;
}
.facebok {
    float: left;
    width: 390px;
    height: 31px;
    margin: 7px;
    margin-left: 22px;
}
.pubs {
    float: left;
    width: 390px;
    height: 90px;
    margin: 7px;
}
.izlenme {
    float: right;
    margin-top: 8px;
    font-family: Lato, arial, sans-serif;
}
.izlenme span {
    color: #cccccc;
    font-size: 10px;
}
.izlenme .ok {
    height: 24px;
    background: url(images/tv.png) no-repeat;
    padding: 1px 0px 0px 35px;
    font-size: 18px;
}
.facepaylas {
    float: right;
    width: 144px;
    height: 27px;
    margin: 6px 6px 0px 20px;
    margin-right: 18px;
}
.toplamfilm {
    font-size: 10px;
    color: #8a8a93;
    padding: 0px;
    margin-top: 1px;
    font-weight: bold;
}
.konuozet {
    width: 580px;
}
#parca {
    width: 490px;
    height: 21px;
}
#parca a {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
    display: inline;
    padding: 2px 0 2px 0;
    margin-top: 20px;
    color: #fff;
    margin-left: 1px;
    margin-right: 1px;
    border: 1px solid #005D88;
}
#parca p {
    background: #002B49;
    display: inline;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 5px;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
    text-decoration: none;
    color: #fff;
    border: 1px solid #114265;
    padding-right: 5px;
}
#parca a:hover {
    border: 1px solid #F2F5F7;
    text-decoration: none;
}
/************************************************
*	ICONLAR										*
************************************************/

.rss-icon:before {
    content: '\f09e';
    color: #FF6600;
}
.rss-icon:hover {} .fb-icon:before {
    content: '\f09a';
    color: #3b5998;
}
.fb-icon:hover {} .tw-icon:before {
    content: '\f099';
    color: #0084b4;
}
.tw-icon:hover {} .tumunugor {
    float: right;
}
.tumunugor a {
    background: url(images/html-icon.png) 0px -141px no-repeat;
    width: 68px;
    height: 23px;
    text-indent: -9999px;
    overflow: hidden;
    display: block;
    margin-top: -3px;
    transition: all .3s linear;
    -o-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
}
.tumunugor a:hover {
    background: url(images/html-icon.png) -77px -141px no-repeat;
    transition: all .3s linear;
    -o-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
}
.tumunugurortala {
    padding-right: 12px;
}
/************************************************
*	PAGENAVI									*
************************************************/

.wp-pagenavi {
    float: none !important;
    font-size: 0 !important;
    text-align: center;
    padding: 30px 0 !important;
    width: 100% !important;
    margin: 0 !important;
}
.wp-pagenavi a,
.wp-pagenavi span {
    border: 1px solid #373737;
    padding: 3px 5px;
    margin: 0 3px 10px 3px !important;
    font-size: 12px !important;
    background: #2F2F2F;
    font-family: Montserrat, Lato, sans-serif !important;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #ffffff !important;
    background: #31353e !important;
    display: inline-block;
    padding: 8px 14px !important;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
    border-radius: 0 !important;
}
.wp-pagenavi a:hover {
    border-color: #666 !important;
}
.wp-pagenavi span.current {
    font-weight: bold;
    color: #ccc;
    background: #f8981d !important;
    border-color: transparent !important;
}
.wp-pagenavi.post-navi a span {
    border: 1px solid #373737;
    padding: 3px 5px;
    margin: 0 2px;
    font-size: 11px;
    background: #2F2F2F;
    font-family: 'Lato', arial, serif;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #cccccc;
}
.wp-pagenavi.post-navi span,
.wp-pagenavi.post-navi a span:hover {
    border-color: #666;
}
.wp-pagenavi.post-navi a {
    padding: 0;
    margin: 0;
    background: none;
    border: 0;
}
/************************************************
*	PART SISTEMI								*
************************************************/

.keremiya_part {
    float: left;
    margin: 2px 0px -7px -3px;
    padding: 0em 10em 0.2em;
    font-size: 11px;
    list-style-type: none;
    line-height: 28px;
    text-align: left;
    font-family: tahoma;
    width: 70%;
}
.keremiya_part a span {
    background-color: #444444;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    font-size: 11px;
    font-family: tahoma;
    border-radius: 4px;
    margin-right: 0px;
    padding: 5px;
    text-shadow: 1px 1px #414141;
    transition: all .3s linear;
    -o-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
}
.keremiya_part span {
    background-color: #4eafd7;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    text-decoration: none;
    font-size: 11px;
    font-family: tahoma;
    border-radius: 4px;
    margin-right: 0px;
    padding: 5px;
    text-shadow: 1px 1px #4eafd7;
}
.keremiya_part a span:hover {
    background-color: #505050;
}
.keremiya_part a {
    padding: 0;
    margin: 0;
    background: none;
    border: 0;
    text-decoration: none;
}
.keremiya_par {
    float: left;
    margin: -4px 0px -7px -3px;
    padding: 0em 1em 0.2em;
    font-size: 11px;
    list-style-type: none;
    line-height: 28px;
    text-align: left;
    font-family: tahoma;
    width: 88%;
}
.keremiya_par a span {
    background-color: #444444;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    font-size: 11px;
    font-family: tahoma;
    border-radius: 4px;
    margin-right: 0px;
    padding: 5px;
    text-shadow: 1px 1px #414141;
    transition: all .3s linear;
    -o-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
}
.keremiya_par span {
    background-color: #D4E104;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    text-decoration: none;
    font-size: 11px;
    font-family: tahoma;
    border-radius: 4px;
    margin-right: 0px;
    padding: 5px;
    text-shadow: 1px 1px #c8e352;
}
.keremiya_par a span:hover {
    background-color: #505050;
}
.keremiya_par a {
    padding: 0;
    margin: 0;
    background: none;
    border: 0;
    text-decoration: none;
}
span.keros {
    background-color: #222222;
    color: #555555;
    text-decoration: none;
    text-transform: none;
    font-size: 11px;
    font-family: tahoma;
    border-radius: 4px 4px 4px 4px;
    margin-left: 3px;
    padding: 5px;
    text-shadow: none;
}
span.keros a:hover {
    color: #555555;
}
/************************************************
*	KARISIK										*
************************************************/

.cuntent {
    list-style: square;
}
.cuntent a {
    color: #4eafd7;
}
.facebookbox {
    width: 100%;
}
.facebookbox > iframe{
    display: block;
    width: 100% !important;
}
/************************************************
*	UYELIK										*
************************************************/

input#user_login,
input#contactSubject {
    /*background:#0F0F0F;*/

    padding: 3px;
    margin-top: 10px;
    border: 1px solid #242424;
    color: #000;
}
input#user_login:focus,
input#contactSubject:focus {} input#user_email {
    /*background:#0F0F0F;*/

    padding: 3px;
    border: 1px solid #242424;
    color: #000;
    margin-top: 10px;
}
input#user_email:focus {} label#user {
    padding: 4px;
    /*background:#121212;
    border:1px solid#313131;*/
}
label#pwd {
    padding: 4px;
    /*background:#121212;
    border:1px solid#313131;*/
}
label#mail {
    /* padding:4px; */
    /*background:#121212;*/
    /*border:1px solid#313131;*/
}
input#user-submit {
    background: #D08F11;
    border: 1px solid #FEA700;
    cursor: pointer;
}
input#log,
input#pwd {
    outline: none;
    border: 0;
    color: #ffffff;
    font-family: inherit;
    line-height: 22px;
    padding: 9px 10px;
    font-size: 12px;
    background: #21242b;
    width: 250px;
    margin-top: 10px;
    margin-bottom: 15px;
}
input#log:focus {} input#pwd {} input#pwd:focus {
    background: #939393;
    border: 1px solid #282828;
}
input.button {
    background: #f8981d;
    border: 1px solid #f8981d;
    font-family: inherit;
    color: #FFFFFF;
    padding: 11px;
    outline: none;
    min-width: 150px;
    cursor: pointer;
}
input.button:hover {
    background: #21242b;
    color: #f8981d;
}
p.textarea {
    float: right;
}
.contactform {
    float: left;
    width: 180px;
}
.textarea {
    float: left;
    margin-top: 10px;
    width: 520px;
}
#btn-send {
    background: #B7DF00;
    border: 1px solid #AEC640;
    float: right;
    margin-top: -2px;
    cursor: pointer;
    border-radius: 3px
}
#commentsText {
    width: 520px;
    height: 90px;
    background: #0F0F0F;
    padding: 3px;
    border: 1px solid #242424;
    color: #ccc;
}
.user-left {
    float: left;
    width: 33.3333333%;
    /*padding:8px 5px 5px 8px;*/
    padding: 36px;
    text-align: center;
}
.user-right {
    /*float:left;
    width:250px;
    padding:8px 0px 5px 10px;
    margin-top:-1px;
    min-height:235px;
border-left: 2px solid #494848;
border-right: 2px solid #494848;*/
    /*background:url(images/user-profil-ciz.png) repeat-y left;*/
    border-left: 2px solid #f8981d;
    border-right: 2px solid #f8981d;
    float: left;
    margin-top: -1px;
    min-height: 235px;
    padding: 36px;
    width: 33.3333333%;
}
.user-right a,
.user-left a {
    color: #fff;
}
.user-right ul,
.user-left ul {
    margin: 0px;
    padding: 0px;
    color: #ffffff;
    margin-top: 15px;
}
.user-right li {
    color: #fff;
    list-style: none;
    margin-top: 7px;
}
.user-right li span {
    color: #ffffff;
}
.user-left li {
    list-style: none;
    float: left;
    /*border:1px solid #c64144;*/

    margin: 2px;
    border-radius: 4px;
}
.user-left li a {
    background: #4c4c4e;
    text-decoration: none;
    /*border:1px solid #e64144;*/

    width: 115px;
    padding: 2px 7px 2px 7px;
    float: left;
    border-radius: 4px;
}
.user-left li a:hover {
    background: #4eafd7;
    color: #000;
    /*border:1px solid #4eafd7;*/
}
.user-avatar {
    margin: 10px;
}
.user-avatar img {
    border: 6px solid #0f0f0f;
}
.user-avatar a {
    color: #BF8007;
}
.profile-options {} .profile-avatar img {
    /* background: #21242b; */
    /* border: 2px solid #f8981d; */
    border-radius: 300px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
}
.row {
    /* border-top:1px solid #333333; */
    /* padding:3px; */
}
.row span {
    color: #ccc;
}
.row a {
    color: #BF8007;
}
.user-comment {
    /*float:left;
    width:300px;
    padding:8px 5px 5px 20px;*/
    float: left;
    padding: 36px;
    width: 33.3333333%;
}
.user-comment ul {
    margin: 0px;
    padding: 0px;
    margin-top: 15px;
}
.user-comment li {
    color: #fff;
    list-style: none;
    margin-top: 5px;
    background: #21242b;
    padding: 9px 10px;
}
.user-comment li a {
    color: #fff;
}
.user-comment li p {
    margin: 0px;
    padding: 0px;
}
.user-basl {
}
.user-bas {
    font-size: 16px;
    color: #f8981d;
    font-weight: 400;
    margin-bottom: 10px;
}
@media screen and (min-width: 1200px) {
    .main {}
}
.error_green {
    margin-top: 10px;
    padding: 10px;
    text-transform: uppercase;
    background-color: #209d7c;
    color: white;
    text-align: center;
}
.error {
    margin-top: 10px;
    /* width: 400px; */
    /* border: 1px solid #D8D8D8; */

    padding: 5px;
    border-radius: 5px;
    font-family: Arial;
    /* font-size: 11px; */

    text-transform: uppercase;
    background-color: rgb(255, 236, 142);
    color: rgb(255, 0, 0);
    text-align: center;
}
span.twitter-typeahead .tt-dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 422px;
    margin-left: 25px;
    ;
    padding: 5px 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}
span.twitter-typeahead .tt-suggestion>p {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333333;
    white-space: nowrap;
}
span.twitter-typeahead .tt-suggestion>p:hover,
span.twitter-typeahead .tt-suggestion>p:focus {
    color: #ffffff;
    text-decoration: none;
    outline: 0;
    background-color: #428bca;
}
span.twitter-typeahead .tt-suggestion.tt-cursor {
    color: #ffffff;
    background-color: #428bca;
}
span.twitter-typeahead {
    width: 100%;
    background: #31353e;
    display: block !important;
}
.input-group span.twitter-typeahead {
    display: block!important;
}
.input-group span.twitter-typeahead .tt-dropdown-menu {
    top: 32px!important;
}
.input-group.input-group-lg span.twitter-typeahead .tt-dropdown-menu {
    top: 44px!important;
}
.input-group.input-group-sm span.twitter-typeahead .tt-dropdown-menu {
    top: 28px!important;
}
.bg_video {
    background: #69945A;
    height: 22px
}
.index_list {
    width: 340px
}
.index_list ul {
    list-style: none;
    margin: 0;
    padding: 0
}
.index_list ul li {
    padding-left: 4px;
    padding-right: 0px;
    border-top: 1px solid #999;
    min-height: 28px;
    line-height: 25px
}
.index_list ul li:hover {
    background: #fff
}
.index_list ul li a {
    color: #000;
    font-size: 14px;
    width: 250px;
    display: block
}
.index_list ul li img {
    vertical-align: middle
}
.saisepi {
    font-family: arial;
    color: #181818;
    font-weight: 700
}
.index_list ul li:first-child {
    border-top: none
}
.saisepi span {
    color: #C82828;
    font-weight: 700
}
.bg_video h2,
.bg_video h3 {
    font-size: 13px;
    color: #fff;
    text-shadow: none;
    padding-left: 10px
}
.link_list {
    position: relative;
    padding: 0;
}
.link_list_more {
    position: absolute;
    height: 35px;
    background-color: #e95230;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    color: #fff;
    top: 182px;
    width: 100%;
    cursor: pointer
}
.link_list_more:hover {
    color: #000
}
.link_list ul {
    list-style: none
}
.link_list ul li {
    overflow: hidden;
    line-height: 32px;
    /*border-bottom:1px solid #ccc;padding-left:5px;*/

    padding: 3px 18px;
    /* background-color:#fff; */

    cursor: pointer;
    list-style: inherit;
    width: 100% !important;
    border: none !important;
    /* margin-bottom: 2px; */
}
.link_list ul li:last-child {
    border-bottom: 1px solid #000
}
.link_list ul li:hover {
    background: #21242b;
}
.gras {
    font-size: 14px;
    color: #000;
    font-weight: 700;
}
.link_list ul li img {
    vertical-align: middle
}
.midlle {
    height: 25px;
    line-height: 22px
}
.midlle img {
    vertical-align: middle
}
.link_list ul li * {
    color: #FFFFFF !important;
}
.voir-link {
    cursor: pointer;
    /*width:470px*/

    width: 529px;
    text-align: left;
}
.num_link {
    float: left;
    width: 50px;
    height: 35px;
    margin-right: 3px;
    text-align: center;
    font-size: 11px;
    color: #fff;
}
.selected {
    color: #c34d4d
}
.image_carousel {
    position: relative;
    height: 165px
}
#foo2 {
    height: 165px;
    overflow: hidden;
    white-space: nowrap
}
.image_carousel img {
    margin: 4px;
    display: block;
    float: left;
    border: 3px solid #a7a093
}
.image_carousel img:hover {
    border: 3px solid #3c9cc7
}
a.next,
a.prev {
    width: 45px;
    height: 50px;
    display: block;
    position: absolute;
    top: 50px
}
a.prev {
    left: -40px;
    background-position: -573px -100px
}
a.prev:hover {
    background-position: -573px -150px
}
a.prev.disabled {
    background-position: -573px -150px!important
}
a.next {
    right: -40px;
    background-position: -623px -100px
}
a.next:hover {
    background-position: -623px -150px
}
a.next.disabled {
    background-position: -623px -150px!important
}
a.next.disabled,
a.prev.disabled {
    cursor: default
}
a.next span,
a.prev span {
    display: none
}
.listefile {
    display: block;
    /* height: 33px; */
    /* width: 78px; */

    margin: 3px;
    /* background: #DD9B0D; */
    /* line-height: 33px; */

    text-align: center;
    font-size: 14px;
    color: #FFF;
    /* text-shadow: none; */
    /* border: 1px solid #734600; */

    font-weight: 700;
}
.style_add input,
.style_add select {
    border: 1px solid #3a3a3a;
    padding: 6px;
    background: #e8e8e8;
    font-size: 14px;
    font-family: arial;
    text-shadow: 0 1px 0 #fff
}
.add_reg {
    border-left: 4px solid #333;
    padding: 4px;
    color: #e2e2e2;
    background: #6b6b6b;
    margin-top: 6px;
    margin-bottom: 6px
}
.style_add label {
    width: 200px;
    color: #fff;
    display: block;
    float: left;
    height: 30px;
    line-height: 25px;
    text-shadow: 0 1px 0 #333
}
.style_add input[type=submit] {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    background: #3c9cc7;
    width: 100px;
    padding: 10px;
    font-size: 16px;
    text-shadow: 0 1px #000;
    cursor: pointer;
    float: right
}
.newpub {
    margin: -3px -3px 0;
    width: 280px
}
.nlinkcat {
    display: block;
    padding-left: 25px;
    background: url(images/plus.png) 0 50% no-repeat;
    font-weight: 700
}
.nlinkcat:hover {
    color: #000;
    -webkit-transition-duration: .3s;
    -moz-transition-duration: .3s;
    -o-transition-duration: .3s;
    transition-duration: .3s
}
.nlinkcate {
    display: block;
    padding-left: 36px;
    background: url(images/icon-green-arrow.gif) 0 50% no-repeat;
    font-weight: 700;
}
.option_show span {
    height: 22px;
    width: 21px;
    display: block;
    float: left;
    margin-left: 3px
}
.MegaUpload,
.MegaVideo,
.addmini,
.artnetma,
.bg_video,
.facebookl,
.fileserve,
.logo a,
.mini_comment,
.mixturevideo,
.purevid,
.rapidshare,
.readmore,
.rss,
.rutube,
.search,
.searchres,
.suivre,
.tog_info_f,
.videobb,
.videozer,
.votedown,
.voteup,
.vues,
.watchme,
.youwatch,
a.next,
a.prev {
    background: url(images/master.png)no-repeat;
}
.VOSTFRL,
.VFL,
.VOL {
    background: url(images/master.png)no-repeat;
}
.VOSTFRL,
.VFL,
.VOL {
    background: url(images/master.png)no-repeat;
}
.VOSTFRL {
    background-position: -517px -100px;
}
.VFL {
    background-position: -407px -100px;
}
.VOL {
    background-position: -462px -100px;
}
.topnavbarright .usericon {
    padding: 17px 20px 15px 24px;
    cursor: pointer;
    position: relative;
    z-index: 100;
}
.topnavbarright .usericon i {
    font-size: 24px;
    vertical-align: middle;
}
.topnavbarright ul {
    position: absolute;
    right: 0;
    z-index: 99;
    background-color: #31353e;
    margin: 0;
    padding: 0;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
    padding: 5px 0;
    display: none;
}
.topnavbarright ul li a {
    display: block;
    white-space: nowrap;
    padding: 14px 20px;
    color: #FFFFFF;
    min-width: 200px;
}
.topnavbarright ul li a:hover {
    background-color: #252a30;
}
.topnavbarright:hover .usericon {
    background-color: #31353e;
}
.topnavbarright:hover > ul {
    display: block;
}
.films-container {
    text-align: center;
    font-size: 0;
    clear: both;
    overflow: hidden;
}
body > img {
    /* display: block; */
    /* top: 199px !important; */
}
#playfilm .bgvv > iframe {
    width: 100% !important;
    height: 511.4285714285714px !important;
    display: block;
    margin-bottom: 30px;
    border-bottom: 1px solid #21242b;
    border-top: 1px solid #21242b;
}
#playfilm .bgvv > .table {
    width: 100% !important;
    padding: 0 0 5px 20px;
    display: block;
    margin: 0 0 30px 0px !important;
    box-sizing: border-box;
}
#playfilm .bgvv > .table thead {
    border: none !important;
}
#playfilm .bgvv > .table > thead th {
    background: none !important;
}
#playfilm .bgvv > .table > thead th > div {
    border-width: 0;
    font-size: 14px;
    color: #FFFFFF;
    padding: 0 6px;
    position: relative;
    display: inline-block;
}
#playfilm .bgvv > .table > thead th > div:after {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 50%;
    height: 2px;
    width: 100%;
    background: #F8981D;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    content: '';
}
#playfilm .bgvv > .link_list ul {
    width: 100%;
    padding: 0 !important;
}
.wprp_wrapper .wprp_form {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    margin: 0;
    border: none;
    background: rgba(0, 0, 0, 0.95);
    z-index: 9999;
}
.wprp_wrapper .wprp_form:after {
    content: '\2716';
    position: absolute;
    color: #f8981d;
    top: 10px;
    right: 10px;
    font-weight: bold;
    font-size: 30px;
    display: block;
    cursor: pointer;
    line-height: 30px;
}
.wprp_wrapper .wprp_form > form {
    position: absolute;
    background: #31353e;
    top: 20%;
    left: 50%;
    width: 550px;
    margin-left: -275px;
    padding: 10px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
    color: white;
    font-weight: normal;
}
.wprp_wrapper .wprp_form > form table td {
    vertical-align: top;
}
.wprp_wrapper .wprp_form > form table td:first-child {
    vertical-align: top;
    padding-top: 14px;
}
#respond {
    padding: 0 18px 18px;
    margin-bottom: 30px;
}
#respond .info {
    float: left;
    width: 300px;
}
#respond .content {
    float: left;
    width: 559px;
    padding-left: 20px;
    /* padding-top: 26px; */
}
#respond p {
    margin: 0;
}
#mygallery {} .wprp_wrapper .wprp_form > form textarea {
    background: #21242b;
    border: none;
    color: #fff;
    font-family: inherit;
    font-size: 12px;
    outline: none;
    padding: 10px;
    width: 100%;
    min-height: 100px;
}
input.wprp_submit {
    background: #f8981d;
    border: 1px solid #f8981d;
    font-family: inherit;
    color: #FFFFFF;
    float: right;
    padding: 9px;
    outline: none;
    min-width: 150px;
    cursor: pointer;
    margin-top: -14px;
}
input.wprp_submit:hover,
input.wprp_submit:active {
    background: #21242b;
    color: #f8981d;
}
.pagefilm > .leftC {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    padding: 0;
    background: transparent;
}
.pagefilm .filmborder {
    background: #31353e;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
    margin-bottom: 20px;
    padding-top: 20px;
    position: relative;
}
input#user_email,
input#user_login {
    outline: none;
    border: 0;
    color: #ffffff;
    font-family: inherit;
    line-height: 22px;
    padding: 9px 10px;
    font-size: 12px;
    background: #21242b;
    width: 250px;
    margin-top: 10px;
    margin-bottom: 15px;
}
.films-container.serie-container {
    padding: 0 12px;
    margin-bottom: 30px;
}
#menu-toggle{
    display: none;
}
.leftblock {
    float: left;
    width: 895px;
    min-height: 395px;
    clear: left;
    margin-bottom: 20px;
}
.leftblock > .block {
    background: #31353e;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
    margin-bottom: 20px;
    padding-top: 20px;
    overflow: hidden;
}
.leftblock > .block > div.left,
.leftblock > .block > div.right{
    width: 50%;
    padding: 0 20px;
    position: relative;
}
.leftblock > .block > div.left:after{
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    background: #f8981d;
    display: block;
    top: 0;
    right: 0;
}
#content .leftblock > .block > div.left .yazitip,
#content .leftblock > .block > div.right .yazitip{
    margin-left: 0;
    margin-bottom: 20px;
}
.block.lasts ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.block.lasts ul li:last-child a{border: none;}
.block.lasts ul a{
    display: block;
    border-bottom: 1px solid #4b4f58;
    padding: 7px 20px;
    line-height: 20px;
    color: #FFFFFF;
    font-size: 12px;
    letter-spacing: 0.05em;
    position: relative;
}
.block.lasts ul a:hover{
    background-color: rgba(75,79,88,0.25);
}
.block.lasts ul a span{
    color: #ffcc5c;
}
.block.lasts ul a b{
    color: #ffffff;
    font-weight: 400;
}
.block.lasts ul a i{
    display: inline-block;
    width: 30px;
    height: 20px;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: 100%;
}
.block.lasts ul a div{
    float: right;
    line-height: 30px;
}
.block.lasts ul a div.server i{
    background-image: url(images/ok_ru.svg);
    background-size: 20px;
}
.block.lasts ul a div.vostfr i{
    background-image: url(images/vostfr.png);
}
.block.lasts ul a div.vf i{
    background-image: url(images/vf.png);
}
.block.lasts {
    padding-bottom: 20px;
}
#playfilm {
    position: relative;
    padding-bottom: 15px;
}
#pubdirecte {
    margin-bottom: 20px;
}
.wprp_message {
    display: none !important;
}
.block.lasts ul a div {
    position: absolute;
    right: 20px;
    top: 1px;
}
.block.lasts ul a div.server {
    right: 50px;
}
.block.lasts ul a {
    padding-right: 81px;
}
a.addtolatest {
    position: absolute;
    top: -10px;
    color: #f8981d;
    left: -10px;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 26px;
    width: 26px;
    line-height: 26px;
    text-align: center;
    cursor: pointer;
}
a.addtolatest:hover {
    color:#ffffff;
}
a.addtolatest:before {
    content: '\f055';
}

.moviefilm .movies.q_webrip{
    color: #db445a;
}
.moviefilm .movies.q_bdrip{
    color: #57a0a7;
}
.moviefilm .movies.q_dvdrip{
    color: #e3d52d;
}
.moviefilm .movies.q_hd-1080p{
    color: #eb8a64;
}
.moviefilm .movies.q_hdrip{
    color: #f8981d;
}
.moviefilm .movies.q_hd-720p{
    color: #209d7c;
}
.moviefilm .movies.q_hdts{
    color: #ca9c03;
}
.moviefilm .movies.q_hdcam{
    color: #ff00fb;
}
.moviefilm .movies.q_hdtv{
    color: #4f40e1;
}
.moviefilm .movies.q_tvrip{
    color: #00ff86;
}
.moviefilm .movies.q_web-dl{
    color: #48bae3;
}
.moviefilm .movies.q_ts-md{
    color: #2ac400;
}

.seasons .moviefilm {
    width: 175px;
    margin-left: 11px;
    margin-right: 11px;
    /* margin: 0 11px; */
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
}
.seasons .moviefilm > a{
    position: relative;
    display: block;
}
.seasons .moviefilm > a img{
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}
.seasons .moviefilm > a:after {
    content: '';
    background: transparent;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 200px;
    border: 62px solid rgba(0, 0, 0, 0.38);
    box-sizing: content-box;
}
.seasons .movief a {
    padding-left: 2px;
    background: #f8981d;
    padding: 6px;
    height: initial;
    text-align: center;
    display: block;
}
.seasons .movief {
    padding-left: 2px;
    background: #f8981d;
    margin: 0;
    height: initial;
    text-align: center;
    padding: 0;
}
.seasons .moviefilm > a:hover:before{
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    z-index: 9;
}

.filmborder.xdbuzz .moviefilm img{
    height: 157px;
}
.filmborder.xdbuzz .moviefilm > a:hover:before{
    background-image: none;
    height: 157px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}
.filmborder.xdbuzz .moviefilm{
    width: 209px;
}
.filmborder.xdbuzz .moviefilm .movief{
    height: initial;
    white-space: normal;
}

a.adminedit {
    position: absolute;
    left: -49px;
    padding: 0 !important;
    display: block;
}

a.adminedit img {
    float: none !important;
    position: initial !important;
}
form.imgresize {
    position: absolute;
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
}
form.imgresize input[type="text"] {
    width: 100%;
    font-family: inherit;
    font-size: 11px;
    line-height: 16px;
    padding-right: 36px;
}
form.imgresize input[type="submit"] {
    position: absolute;
    right: 0;
    top: 0;
    font-family: inherit;
    font-size: 11px;
    line-height: 16px;
    margin: 0;
    bottom: 0;
    width: 33px;
    cursor: pointer;
}