#menu {
	z-index: 10000;
}

#main {
	background: #e5ebeb url(/assets/en/images/homepage/megatab-bg.jpg) repeat-x 0 0;
	position: relative;
	z-index: 40;
}

#megatabs {
	width: 1230px;
	margin: 1em auto 0;
}

.tabbed_area li {
	background: none;
	float: left;
	margin: 0 1em 0 0;
	padding: 0;
}

.tabbed_area li a {
	display: block;
	color: #333;
	padding: 1em 2em;
	background: #f0f0f0;
}

.tabbed_area li a.active {
	background: #fff;
	color: #cc0000;
	font-weight: 600;
	cursor: default;
}

.tabbed_box {
	background: #fff;
	padding: 2em;
	clear: both;
}

.tabbed_box .column> ul {
	margin-left: 0;
}

.tabbed_box .column> ul> li {
	background: none;
	padding: 0;
}

.tabbed_box p {
	max-width: 200px;
}

#content_2,
#content_3,
#content_4,
#content_5,
#content_6 {
	display: none;
}
/* mega */

.inputfield label {
	display: none;
}

#megatabs .ti_products .browseproducts {
	float: left;
	width: 60%;
}

#megatabs .ti_products .browseproducts ul {
	float: left;
	width: 45%;
}

#megatabs .ti_products .browseproducts ul.sublist {
	width: 100%;
	float: none;
	margin-left: 1em;
}

#megatabs .ti_products .onlinetools {
	float: left;
	padding: 0 0 0 2em;
}

#megatabs .ti_applications ul {
	float: left;
	width: 208px;
}

#megatabs .ti_tools .section {
	float: left;
	padding: 0 2em 0 0;
}

#megatabs .ti_tools div.section ul {
	margin: 0 0 1em 0;
}

#megatabs .ti_supportcommunity .listcontainer {
	float: left;
}

#megatabs .ti_supportcommunity .supportforums {
	float: left;
	padding: 0 2em 0 0;
}

#megatabs .ti_supportcommunity .otherlinks {
	float: left;
	width: 300px;
}

#megatabs .ti_samplebuy .section {
	float: left;
	width: 300px;
}

#megatabs .ti_samplebuy .section .sectiongraphic {
	margin-bottom: 2em;
}

#megatabs .ti_about .section {
	float: left;
	width: 300px;
}

#megatabs .ti_about .section .sectiongraphic {
	margin-bottom: 1em;
}
/* slider */

#slider {
	position: relative;
	list-style: none;
	overflow: visible !important;
	width: 910px;
	height: 272px !important;
	display: block;
	margin: 0 auto;
	padding: 0 45px 0 45px;
}

#slider .thumbnail-container {
	position: absolute;
	top: 20px;
	left: 50px;
}

#slider .thumbnail-container .thumbnails a {
	border: 2px #999 solid;
	display: block;
	margin: 0 0 .5em;
}

#slider .thumbnail-container .thumbnails a.thumb-highlight {
	border: 2px solid #cc0000;
}

#slider .control-prev {
	left: 50px;
}

#slider .control-next {
	right: 50px;
	text-align: right;
}

#slider .control-prev,
#slider .control-next {
	position: absolute;
	bottom: 0;
	padding: 0 0.15em;
	cursor: pointer;
	color: #999999;
	font-size: 320%;
	font-weight: normal;
	width: 81px;
	text-align: center;
}

#slider .slider-promo-loading {
	position: absolute;
	top: 116px;
	left: 488px;
	text-align: center;
	vertical-align: middle;
	display: none;
}

#megatabs .columnGroup {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: -moz-flex;
	display: flex;
	-webkit-align-items: stretch;
	-moz-align-items: stretch;
	-ms-align-items: stretch;
	align-items: stretch;
}

#megatabs .column {
	float: left;
	padding: 0 1em;
}

#megatabs .column.border {
	border-left: 1px dotted #e0e0e0;
}

#content_2 .column {
	width: 16.5%;
}

.megatabcontent:before,
.megatabcontent:after {
	content: '';
	display: table;
}

.megatabcontent:after {
	clear: both;
}

.megatabcontent {
	clear: both;
}

#ls-gen5-ls-lqr>#ls-row-3-col-1,
#ls-gen3-ls-lqr>#ls-row-2-area-1 {
	padding: 0;
}

header iframe {
	position: absolute;
}