.cnvideo-player-wrapper,
.cnvideo-player {
  width: 100%;
  padding-bottom: 56.2%;
  position: relative;
  font-style: normal;
  overflow:hidden;
}
.cnvideo-player video,
.cnvideo-player .video-js,
.cnvideo-player .vjs-poster,
.cnvideo-player .vjs-social-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.cnvideo-player .vjs-poster {
	background-size: cover;
}
.cnvideo-player .vjs-big-play-button {
	top: 50% !important;
	left: 50% !important;
	margin-left: -78px !important;
	margin-top: -56px !important;
}

/* home */
.teaser.videoplayer .cnvideo-player .vjs-social-overlay .vjs-share-options li a::before {
    font-size: 1rem;
    line-height: 1.6rem;
    width: 1.6rem;
    padding: 1px 0 0 0;
}
.teaser.videoplayer .cnvideo-player .video-js .vjs-restart {
    top: 42px;
}
.teaser.videoplayer .cnvideo-player .vjs-social-overlay .vjs-share-options li a {
    height: 1.6rem;
    width: 1.6rem;
}
.teaser.videoplayer .cnvideo-player .vjs-social-overlay input {
    font-size: 0.8rem;
    height: 1.8rem;
    line-height:1.8rem;
}

/* iframe */
iframe.cn_video {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    border:0;
}
/* ads */
.vjs-ad-playing:after {
    color: #eee;
    text-shadow: 0 0 3px #000, 0 0 3px #000, 0 0 3px #000, 0 0 3px #000;
    z-index: 10000;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 5px;
    content: "Anzeige";
}

/* social-share-layer
    changed colors of share-icons, transparancy of overlay, hidden embed-code
*/
.vjs-social-overlay .vjs-social-share-link {
    background-color: #fff;
    color: #666;
}

.cnvideo-player .vjs-social-overlay {
    background-color: transparent;
}

/*restart video*/
.vjs-social-overlay.vjs-social-as-endscreen .vjs-restart {
    position:absolute;
    top:50%;
    left:50%;
    margin: -35px 0 0 -24px;
}