
/* Web Fonts */

@font-face {
    font-family: 'Scout';
    src: url('../fonts/scout-regular-webfont.eot');
    src: url('../fonts/scout-regular-webfont.eot?#iefix') format('otf'),
         url('../fonts/scout-regular-webfont.woff') format('woff'),
         url('../fonts/scout-regular-webfont.ttf') format('truetype'),
         url('../fonts/scout-regular-webfont.svg#webfontnralWpNi') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*
@font-face {
    font-family: 'ScoutBold';
    src: url('../fonts/scout-bold-webfont.eot');
    src: url('../fonts/scout-bold-webfont.eot?#iefix') format('otf'),
         url('../fonts/scout-bold-webfont.woff') format('woff'),
         url('../fonts/scout-bold-webfont.ttf') format('truetype'),
         url('../fonts/scout-bold-webfont.svg#webfontmQrb0b1A') format('svg');
    font-weight: normal;
    font-style: normal;
}
*/

@font-face {
    font-family: 'ScoutCond';
    src: url('../fonts/scoutcond-regular-webfont.eot');
    src: url('../fonts/scoutcond-regular-webfont.eot?#iefix') format('otf'),
         url('../fonts/scoutcond-regular-webfont.woff') format('woff'),
         url('../fonts/scoutcond-regular-webfont.ttf') format('truetype'),
         url('../fonts/scoutcond-regular-webfont.svg#webfontmQrb0b1A') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ChronicleTextG3-Roman';
    src: url('../fonts/ChronicleTextG3-Roman.eot');
    src: url('../fonts/ChronicleTextG3-Roman.eot?#iefix') format('otf'),
         url('../fonts/ChronicleTextG3-Roman.woff') format('woff'),
         url('../fonts/ChronicleTextG3-Roman.ttf') format('truetype'),
         url('../fonts/ChronicleTextG3-Roman.svg#webfontmQrb0b1A') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ChronicleTextG3-Bold';
    src: url('../fonts/ChronicleTextG3-Bold.eot');
    src: url('../fonts/ChronicleTextG3-Bold.eot?#iefix') format('otf'),
         url('../fonts/ChronicleTextG3-Bold.woff') format('woff'),
         url('../fonts/ChronicleTextG3-Bold.ttf') format('truetype'),
         url('../fonts/ChronicleTextG3-Bold.svg#webfontmQrb0b1A') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
	font-family: 'cnd';
	src: url('../fonts/cnd.eot');
	src: url('../fonts/cnd.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/cnd.woff') format('woff'),
		 url('../fonts/cnd.ttf') format('truetype'),
		 url('../fonts/cnd.svg?#cnd') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Font Sizes */

.size11 {
    font-size: 11px;
    line-height: 14px;
}

.size12 {
    font-size: 12px;
    line-height: 15px;
}

.size13 {
    font-size: 13px;
    line-height: 16px;
}

.size15 {
    font-size: 15px;
    line-height: 18px;
}

.size16 {
    font-size: 16px;
    line-height: 19px;
}

.size18 {
    font-size: 18px;
    line-height: 21px;
}

.size19 {
    font-size: 19px;
    line-height: 22px;
}

.size23 {
    font-size: 23px;
    line-height: 26px;
}

.size24 {
    font-size: 24px;
    line-height: 27px;
}

.size31 {
    font-size: 31px;
    line-height: 34px;
}

.size34 {
    font-size: 34px;
    line-height: 40px;
}

.size42 {
    font-size: 42px;
    line-height: 45px;
}

.size48 {
    font-size: 48px;
    line-height: 49px;
}

/* Kicker */

.kicker {
    font-family: ChronicleTextG3-Roman, Georgia, "Times New Roman", Times, serif;
    text-transform: uppercase;
    border-bottom: 1px dotted #000000;
    color: #000000;
}

.inverse .kicker,
.kicker.inverse {
    border-bottom: 1px dotted #ffffff;
    color: #ffffff;
}

/* Headline */

.headline {
    font-family: ChronicleTextG3-Bold, Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
    color: #000000;
}

.headline.uppercase {
    display: inline-block;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.inverse .headline,
.headline.inverse {
    color: #ffffff;
}

p {
    font-family: ChronicleTextG3-Roman, Georgia, "Times New Roman", Times, serif;
    color: #000000;
}

.inverse p,
p.inverse {
    color: #ffffff;
}
