* {
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff;
    color: #000000;
}

a {
    cursor: pointer;
    outline: none;
    color: #000000;
}

.inverse a {
    color: #ffffff;
}

a:link,
a:visited {
    text-decoration: none;
}

a:active,
a:hover,
a:focus {
    text-decoration: underline;
}

ul {
    list-style: none outside;
}

fieldset {
    border: 0;
}

img {
    border: 0;
}

select {
    border: 0;
}

select,
label,
input,
textarea {
    font-family: "Times New Roman", Times, serif;
}

/* --- Globals --- */

.content_bg {
    background-color: #ffffff;
}

.shaded {
    -moz-box-shadow: 0px 3px 6px #b2b2b2;
    -webkit-box-shadow: 0px 3px 6px #b2b2b2;
    box-shadow: 0px 3px 6px #b2b2b2;
}

/*
.separator {
    height: 1px;
    margin-bottom: 20px;
    border-top: 1px solid #e5e5e5;
    line-height: 1px;
    font-size: 1px;
}
*/

.clear {
    clear: both;
}

/* --- Main Layout --- */

.main_container {
    position: relative;
    overflow: hidden;
}

.centered_content {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

#header,
#content,
#footer {
    clear: both;
    position: relative;
    width: 980px;
}

#content {
    padding: 0 10px 25px 10px;
}

/* --- Header --- */

#header {
    height: 70px;
    padding: 0 10px 0 10px;
    z-index: 85;
}

/* --- Service Navigation --- */

.service-facebook {
    float: left;
    position: relative;
    margin-top: 5px;
    margin-left: 15px;
    z-index: 90;
}

.service-facebook > li > a {
    position: relative;
    padding: 2px 0 2px 22px;
    font-family: Scout, Arial, sans-serif;
    font-size: 10px;
    line-height: 15px;
    text-transform: uppercase;
}

.service-facebook > li > a:hover {
    color: #32589d;
    text-decoration: none;
}

.service-facebook > li > a:before {
    content: "";
    position: absolute;
    display: block;
    top: 0px;
    left: 0px;
    width: 14px;
    height: 15px;
    background: url(../images/sprite.png) -471px -91px no-repeat;
}

.service-facebook > li > a:hover:before {
    background-position: -471px -106px;
}

.service-facebook > li > .shaded {
    position: absolute;
    display: none;
    top: 19px;
    left: 0px;
    width: 292px;
    padding-top: 15px;
    background-color: #ffffff;
    border-top: 1px solid #ececec;
    z-index: 10;
}

.service-facebook > li:hover > .shaded {
    display: block;
}

#service-nav {
    height: 15px;
    padding: 5px 9px 5px 0;
    border-bottom: 1px solid #ececec;
    font-family: Scout, Arial, sans-serif;
    font-size: 10px;
    line-height: 12px;
    text-align: right;
    text-transform: uppercase;
}

#service-nav > li {
    display: inline-block;
    padding: 0 10px;
    border-left: 1px solid #ececec;
}

#service-nav > li:first-child {
    border: none;
}

#service-nav a {
    color: #c5c5c5;
}

#service-nav a:hover {
    text-decoration: none;
    color: #000000;
}

/* --- Main Navigation --- */

#main-nav {
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    height: 34px;
    width: 985px;
    padding-left: 10px;
    font-family: ChronicleTextG3-Roman, Georgia, "Times New Roman", Times, serif;
    z-index: 10;
}

#main-nav > li {
    position: relative;
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    vertical-align: middle;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
}

#main-nav > li:hover {
    border-left: 2px solid #9e804f;
    border-right: 2px solid #9e804f;
}

#main-nav > li a {
    display: block;
    padding: 0 8px 5px;
    font-family: ChronicleTextG3-Bold, Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
    text-decoration: none;
}

#main-nav > li a:hover {
    color: #9e804f;
}

#main-nav > li > ul {
    position: absolute;
    display: none;
    top: 20px;
    left: auto;
    right: auto;
    z-index: 10;
    background: #ffffff;
}

#main-nav > li:hover > ul {
    display: block;
    left: -0px;
    width: 186px;
}

#main-nav > li > ul > li {
    display: block;
}

#main-nav > li > ul > li > a,
#main-nav > li > ul > li > a:link,
#main-nav > li > ul > li > a:visited {
    display: block;
    margin: 0 15px;
    padding: 5px 0;
    color: #9e804f;
    border-top: 1px dotted #9e804f;
    border-left: 0;
    border-right: 0;
    font-family: ChronicleTextG3-Roman, Georgia, "Times New Roman", Times, serif;
    font-size: 15px;
    font-weight: normal;
    line-height: 18px;
    text-decoration: none;
    text-transform: none;
}

#main-nav > li > ul > li > a:hover {
    color: #000000;
}

#main-nav > li > ul > li:first-child > a {
    border: none;
}

#main-nav > li > ul > li:last-child > a {
    padding-bottom: 5px;
}

#main-nav .teaser {
    border-top: 1px dotted #b7b7b7;
}

#main-nav > li > ul > li.teaser > a {
    border: 0;
}

#main-nav .teaser .headline {
    margin: 20px 0 10px 0;
    color: #9e804f;
    font-family: ScoutCond, Arial, sans-serif;
    font-size: 25px;
    font-weight: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#main-nav .teaser > a:hover .headline {
    color: #000000;
}

#main-nav .teaser .teaser-image {
    width: 156px;
    height: 98px;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: 100%;
}

#main-nav .teaser > a:hover p {
    text-decoration: underline;
}

#main-nav li.teaser:hover > a::after {
    content: "";
    display: block;
    position: absolute;
    top: 64px;
    left: 50px;
    width: 78px;
    height: 78px;
    background: transparent url('../images/sprite.png') -238px -204px no-repeat;
}

#main-nav li.teaser:hover > a.no-image::after {
    display: none;
}

#main-nav .teaser .kicker {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 5px;
}

#main-nav .teaser p {
    margin-top: 0;
    margin-bottom: 10px;
    border: 0;
    font-family: ChronicleTextG3-Bold, Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    text-transform: none;
}

/* --- Search --- */

#header > .search {
    position: absolute;
    top: 36px;
    right: 20px;
    width: 120px;
    z-index: 11;
}

#header > .search input[type='search'],
#header > .search input[type='text'] {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100px;
    height: 20px;
    padding-left: 5px;
    border: 1px solid #000000;
    font-family: Scout, Arial, sans-serif;
    font-size: 10px;
    line-height: 10px;
    text-transform: uppercase;
}

#header > .search input[type='submit'] {
    position: absolute;
    top: 0px;
    left: 107px;
    width: 23px;
    height: 22px;
    border: 0;
    cursor: pointer;
    color: transparent;
    background: transparent url(../images/sprite.png) -156px -91px no-repeat;
}

/* --- Header Logo --- */

#header .logo,
#header .logo.default,
#header .logo.inverse,
#header .logo.black,
#header .logo.white {
    position: relative;
    display: block;
    top: 60px;
    left: 15px;
    width: 185px;
    height: 91px;
    z-index: 5;
    background: url(../images/sprite.png) left top no-repeat;
}

#header .logo.inverse {
    background-position: -185px top;
}

#header .logo.white {
    background-position: -370px top;
}

#header .logo.black {
    background-position: -555px top;
}

/* --- Footer Navigation --- */

.footer_container {
    clear: both;
    position: relative;
    background: #f0f0f0 url(../images/footer_top.gif) left top repeat-x;
}

#footer {
    clear: both; /* for safety */
    width: 980px;
    margin: 0 auto;
    padding: 20px 10px 35px 10px;
    padding-right: 210px;
}

.footer_nav {
    display: inline-block;
    text-transform: uppercase;
    min-height: 150px;
}

.footer_nav > li {
    float: left;
    margin-left: 25px;
    font-family: ChronicleTextG3-Bold, Georgia, "Times New Roman", Times, serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.footer_nav > li:first-child {
    margin-left: 0;
}

.footer_nav > li > ul {
    padding-top: 15px;
}

.footer_nav > li > ul > li > a {
    font-family: ChronicleTextG3-Roman, Georgia, "Times New Roman", Times, serif;
    font-weight: normal;
    text-transform: none;
    color: #787878;
}

/* --- Footer Service --- */

#footer .service {
    position: absolute;
    top: 30px;
    left: 710px;
    min-height: 95px;
    padding-left: 150px;
}

#footer .service:after {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 130px;
    height: 95px;
    background: url(../images/sprite.png) -26px -91px no-repeat;
}

#footer .service ul {
    border-left: 1px solid #a8a8a8;
    font-family: Scout, Arial, sans-serif;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
}

#footer .service li {
    padding-left: 20px;
}

#footer .service a {
    text-decoration: none;
    color: #787878;
}

#footer .service a:hover {
    color: #000000;
}

#footer .vdz_icon img{
    margin-top: 5px;
}

/* --- Footer Brands --- */

#footer .brands {
    position: relative;
    top: 35px;
    padding-top: 30px;
	height: 100px;
    background: transparent url('../images/footer_bottom.gif') center top no-repeat;
}

#footer .brands > a {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	color: #787878;
	text-decoration: none;
	margin-left: 20px;
}

#footer .brands > a:hover {
	color: #9e804f;
}

#footer .brands > a:before {
	font-size: 16px;
	line-height: 16px;
	font-family: 'cnd';
}

#footer .brands > a.condenastdigital {
	margin: 0 45px 0 0;
}

#footer .brands > a.condenastdigital:before {
	content: "\e801";
}

#footer .brands > a.glamour:before {
	content: "\e806";
}

#footer .brands > a.vogue:before {
	content: "\e805";
}

#footer .brands > a.myself:before {
	content: "\e803";
	font-size: 22px;
	line-height: 22px;
}

#footer .brands > a.architectural_digest:before {
	content: "\e800";
}

#footer .brands > a.wired:before {
	content: "\e804";
	font-size: 18px;
	line-height: 18px;
}

#footer .worldwide {
    position: absolute;
	top: 30px;
	right: 0;
	display: inline-block;
	vertical-align: middle;
    width: 210px;
    height: 20px;
    padding-left: 5px;
    border: 1px solid #000000;
    font-family: Scout, Arial, sans-serif;
    font-size: 10px;
    line-height: 20px;
    text-transform: uppercase;
}

#footer .worldwide > li:after {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 23px;
    height: 20px;
    background: url(../images/sprite.png) -179px -91px no-repeat;
}

#footer .worldwide > li > ul {
    display: none;
    position: absolute;
    bottom: -65px;
    left: -1px;
    width: 220px;
    background-color: #f0f0f0;
    z-index: 5;
}

#footer .worldwide > li:hover > ul {
    display: block;
}

#footer .worldwide > li > ul > li {
    display: block;
    padding: 0 5px;
}

#footer .worldwide a {
    display: block;
    text-decoration: none;
    color: #787878;
}

#footer .worldwide a:hover {
    color: #000000;
}

#footer .worldwide > li > ul > li:first-child {
    margin-top: 5px;
}

#footer .worldwide > li > ul > li:last-child {
    margin-bottom: 5px;
}

/* --- iPad App Teaser --- */

.teaser.ipad {
    position: relative;
    display: none;
    width: 1000px;
    height: 136px;
    z-index: 5;
    background: #ffffff url(../images/iPad_app_teaser_bg.png) left top repeat-x;
}

.teaser.ipad .icon {
    position: absolute;
    display: block;
    top: 16px;
    left: 212px;
    width: 89px;
    height: 89px;
    background: url(../images/iPad_app_teaser_icon.png) left top no-repeat;
}

.teaser.ipad .text {
    position: absolute;
    display: block;
    top: 30px;
    left: 340px;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 19px;
    line-height: 25px;
}

.teaser.ipad .headline {
    text-transform: uppercase;
    font-size: 24px;
    line-height: 27px;
}

.teaser.ipad .close {
    /* NOTE: this button has an enlarged size, 
    so touching becomes more comfortable */
    position: absolute;
    display: block;
    top: 38px;
    left: 935px;
    width: 43px;
    height: 41px;
    background: url(../images/iPad_app_teaser_close.gif) center center no-repeat;
}

/* Google Ads */

.google_ads {
    clear: both;
    position: relative;
    margin-bottom: 35px;
    overflow: hidden;
    font-family: Scout, Arial, sans-serif;
}

.google_ads .google_ad {
    position: relative;
    display: block;
    padding-left: 20px;
    background: transparent url(../images/list_bull.png) left center no-repeat;
    font: 15px/19px ChronicleTextG3-Bold, Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.google_ads .gad > a:first-child {
    display: inline-block;
    position: relative;
}

.google_ads .h2 {
    font-family: Scout, Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
}

.google_ads .h2 b {
    font-weight: normal;
}

.google_ads .url a {
    position: relative;
    margin-bottom: 15px;
    color: #9e804f;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    border-bottom: 1px dotted #9e804f;
}

.google_ads .url a:hover {
    text-decoration: none;
}

.google_ads .gad {
    position: relative;
    margin-bottom: 10px;
    padding-left: 20px;
    font-size: 15px;
    line-height: 20px;
}

.google_ads .gad .adtext {
    margin-bottom: 5px;
}

/* never display google ads in async js tag */
.asyncJstag .google_ad, .asyncJstag .gad {
    display: none;
}

/* Google Ads (in right column) */

.right_column .google_ads {
    background: url(../images/mask_300x330.png) left 25px no-repeat;
}

/* Google Ads (Landscape) */

.google_ads.landscape {
    height: 159px;
    padding-top: 20px;
    padding-left: 15px;
    background: url(../images/mask_980x179.png) left top no-repeat;
}

.google_ads.landscape .gad {
    float: left;
    position: relative;
    width: 260px;
    margin-right: 40px;
    padding-left: 20px;
    font-size: 15px;
    line-height: 20px;
}

/* breadcrumb */

#breadcrumb {
    position: absolute;
    right: 0;
    padding-right: 10px;
    text-align: right;
}

#breadcrumb,
#breadcrumb a {
    color: #7f7f7f;
}

.inverse #breadcrumb,
.inverse #breadcrumb a {
    color: #ffffff;
}

#breadcrumb > li {
    font-size: 10px;
    line-height: 16px;
    vertical-align: middle;
    text-transform: uppercase;
    display: inline-block;
}

#breadcrumb > li:before {
    content: " > ";
}

#breadcrumb > li:first-child:before {
    content: "";
}

#breadcrumb > li a:hover {
    color: #000000;
    text-decoration: none;
}

/* Columns */

.two_columns {
    position: relative;
    width: 980px;
    margin: 15px 0 60px 0;
}

.two_columns .left_column {
    position: relative;
    display: inline-block;
    width: 650px;
    margin-right: 25px;
    vertical-align: top;
}

.two_columns .right_column {
    position: relative;
    display: inline-block;
    clear: left;
    width: 300px;
    vertical-align: top;
}

.two_columns.right_content .left_column {
    width: 300px;
    padding-left: 0;
    margin-right: 25px;
}

.two_columns.right_content .right_column {
    width: 650px;
}

/* Three Columns */

.columns.three {
    clear: both;
    position: relative;
    width: 1000px;
    margin: 15px 0 60px 0;
    overflow: hidden;
}

.columns.three .column {
    position: relative;
    display: inline-block;
    width: 320px;
    margin-right: 15px;
    vertical-align: top;
    overflow: hidden;
}

.columns.three .column.center.spaced {
    padding-top: 57px; /* used in aggregation a-z */
}

.columns.three .column.right {
    width: 300px;
    margin-right: 0;
}

/* Category */

.category {
    clear: both;
    padding-left: 20px;
    background: transparent url(../images/list_bull.png) left center no-repeat;
    font: 15px/19px ChronicleTextG3-Bold, Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.left_column .category {
    margin-bottom: 15px;
}

.right_column .category {
    margin-bottom: 10px;
}

/* Stopper */

.stopper {
    position: relative;
    clear: both;
    height: 40px;
    padding: 10px 0 20px 20px;
    border-top: 3px solid #e5e5e5;
    font-family: ChronicleTextG3-Bold, Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 23px;
    line-height: 26px;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.stopper:before {
    content: "";
    display: block;
    position: absolute;
    top: 12px;
    left: 0px;
    width: 10px;
    height: 33px;
    background: url('../images/sprite.png') -475px -120px no-repeat;
}

.stopper img {
	position: absolute;
	top: 5px;
	right: 0;
	display: block;
}

.stopper_navi {
    position: absolute;
    top: 10px;
    right: 0px;
}

.stopper_navi > li {
    float: left;
    display: block;
    margin-right: 40px;
}

.stopper_navi > li:last-child {
    margin-right: 15px;
}

.stopper_navi a {
    font: 11px/14px ChronicleTextG3-Roman, Georgia, "Times New Roman", Times, serif;
    text-transform: uppercase;
}

.stopper_navi a:hover {
    color: #9e804f;
    text-decoration: none;
}

/* Tags */

.tags_container {
    position: relative;
    margin: 10px 0 15px 0;
    padding: 20px 0 10px 0;
    border-top: 2px dotted #000000;
    border-bottom: 2px dotted #000000;
}

.tags {
    list-style: outside none;
}

.tags > li {
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 5px;
    padding-left: 10px;
    border-left: 1px solid #7c7c7c;
    font-family: Scout, Arial, sans-serif;
    font-size: 15px;
    line-height: 17px;
    text-transform: uppercase;
}

.tags > li:first-child {
    padding-left: 0;
    border: none;
}

.tags > li:before {
    content: " ";
}

/* Right Column */

.right_column .box {
    position: relative;
    width: 300px;
    height: 120px;
    margin-bottom: 35px;
    overflow: hidden;
}
.right_column .box.date {
    height:70px;
    margin-top:-30px;
    margin-bottom:15px;
}
.right_column .box.date .modified {
    font-size:0.8em;
}

.right_column a.box {
	display: block;
}

/* mask */

.right_column .box.masked {
    background: transparent url(../images/mask_300x121.png) left top no-repeat;
}

.right_column .box.masked .tags {
    padding: 20px;
}

.right_column .box .text {
    font-family: Scout, Arial, sans-serif;
    position: absolute;
    left: 25px;
    top: 35px;
    z-index: 4;
}

.right_column .box .text .author {
    font-size: 16px;
    font-weight: bold;
}

.right_column .box .text .title {
    margin-bottom: 5px;
    font-size: 14px;
}

.right_column .box .text .ressort {
    font-size: 14px;
    text-transform: uppercase;
}

/* Ads */

#masthead {
    width: 1000px;
}
#content #masthead{
    margin-left: -10px;
}

#skyscraper {
    width: 160px;
    height: 600px;
    position: absolute;
    right: -170px;
    top: 0;
    z-index: 20;
}

#left_skyscraper {
    position: absolute;
    left: -170px;
    top: 0;
    width: 161px;
    height: 600px;
}

#superbanner {
    height: 110px;
    width: 728px;
}

.banner_container {
    margin-bottom: 40px;
}

.right_column .article_content .ad.ca {
    margin: 23px 0;
}

.two_columns.lead_teaser .right_column .ad.content-ad {
    z-index: 5;
}

/* Form Error */

.form_error {
    color: #990000;
    font-size: 16px;
    line-height: 19px;
}

/* Copyright */

.copyright {
    font: 12px/15px Scout, Arial, sans-serif;
    border-top: 1px solid #e5e5e5;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #b3b3b3;
}

/* Arrow Suffix */

.arrow_suffix {
    float: right;
    position: relative;
    display: inline-block;
    height: 26px;
    padding-right: 35px;
    font-size: 11px;
    line-height: 30px;
    text-transform: uppercase;
}

.arrow_suffix:hover {
    color: #9e804f;
    text-decoration: none;
}

.arrow_suffix:after {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 26px;
    height: 26px;
    background: transparent url(../images/sprite.png) left -91px no-repeat;
}

.arrow_suffix:hover:after {
    background-position: left -117px;
}

.arrow_suffix.single_col {
    clear: both;
    right: 20px;
}

/* More */

.more_text {
    position: relative;
    display: inline-block;
    font: 11px/16px ChronicleTextG3-Roman, Georgia, "Times New Roman", Times, serif;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.more_text:after {
    content: "";
    display: block;
    position: absolute;
    top: 1px;
    right: -15px;
    width: 12px;
    height: 11px;
    background: url(../images/sprite.png) -308px -91px no-repeat;
}

/* Stepper */

.stepper {
    position: relative;
    display: block;
    clear: both;
    margin-bottom: 55px;
    padding-top: 18px;
    font-family: ChronicleTextG3-Roman, Georgia, "Times New Roman", Times, serif;
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.stepperlist {
    display: inline;
    text-align: center;
}

.stepperlist > li {
    position: relative;
    display: inline;
    color: #000000;
}

.stepperlist a {
    padding: 5px 5px 5px 5px;
    color: #000000;
    text-decoration: none;
}

.stepperlist a.active,
.stepperlist a:hover {
    color: #9e804f;
}

.stepper > .step.prev,
.stepper > .step.next {
    float: right;
    position: relative;
    padding-right: 15px;
    color: #000000;
    text-decoration: none;
}

.stepper > .step.prev:hover,
.stepper > .step.next:hover {
    color: #9e804f;
}

.stepper > .step.prev {
    float: left;
    padding-left: 15px;
    padding-right: 0;
}

.stepper > .step.prev:before {
    content: "";
    position: absolute;
    display: block;
    top: -1px;
    left: 0px;
    width: 6px;
    height: 14px;
    background: url(../images/sprite.png) -323px -91px no-repeat;
}

.stepper > .step.next:after {
    content: "";
    position: absolute;
    display: block;
    top: -1px;
    right: 0px;
    width: 6px;
    height: 14px;
    background: url(../images/sprite.png) -330px -91px no-repeat;
}

.stepper > .step.prev:hover:before {
    background-position: -323px -107px;
}

.stepper > .step.next:hover:after {
    background-position: -330px -107px;
}

/* Article Header */

.article_header {
    position: relative;
    padding: 10px 0 15px 225px;
    background: url(../images/lead_top_shadow.png) left top repeat-x;
    border-bottom: 1px solid #e5e5e5;
}

.article_header .kicker {
    position: absolute;
    display: inline-block;
    top: -30px;
    padding-bottom: 4px;
    border-bottom: 2px dotted #000000;
    font-weight: normal;
    text-transform: uppercase;
}

.article_header h1 {
    position: relative;
    width: 550px;
    margin-top: 60px;
    margin-bottom: 10px;
    font-weight: bold;
}

.article_header h1 > br {
    display: none;
}

.article_header p {
    font-family: ChronicleTextG3-Bold, Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
}
/* social media */
.article_header .social-media {
    display:inline-block;
    position: absolute;
    right: 5px;
    top: 40px;
    z-index: 10;
}
.wrapper-social-media {
    margin-right:15px;
    position:relative;
}
.left_column .social-media,
.article_content .social-media {
    padding:0;
    text-align:left;
    font-size:0;
    margin-bottom: 20px;
}
.left_column .social-media a span,
.article_content .social-media a span {
    margin-right:10px;
}
.article_content .social-media a span {
    margin-top:-17px;
}
.left_column .social-media a,
.article_content .social-media a {
    width:24.5%;
    margin-right:0.65%;
}
.left_column .social-media a:last-child,
.article_content .social-media a:last-child {
    margin-right:0;
}
.article_content .social-media {
}
.article_content .article_image img {
    width:100%;
    height:auto;
}
.article_content .article_image.landscape {
    width:100%;
}
.fb_like{
    position: absolute;
    top: 0;
    left: 80px;
    width: 110px;
}
.fb_share {
    position: absolute;
    top: 0;
    left: 0;
    padding: 2px 5px 0px 5px;
    background: #eceef5;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid #cad4e7;
    color: #3b5998 !important;
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    font-size: 11px;
    line-height:13px;
    vertical-align: top;
    height: 16px;
}
.fb_share:hover {
    border-color: #9dacce;
    text-decoration: none;
}
.fb_share:before{
    content: '';
    display: inline-block;
    background: transparent url(../images/fb_sprite.png) 0 0 no-repeat;
    width: 15px;
    height: 13px;
    margin-bottom: -2px;
}
.article_video .fb_likes {
    display:inline-block;
}
.article_video .fb_likes div {
    height:20px;
    float:left;
    width:68px;
}
.article_video .fb_likes .fb_share {
    height:14px;
    padding: 2px 5px!important;
}
.article_header .advertorial {
    position: absolute;
    left: 20px;
    bottom: 15px;
    font: 15px/15px ChronicleTextG3-Bold, Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
    text-transform: uppercase;
}

.article_header.inverse {
    color: #ffffff;
}

.article_header.inverse .kicker {
    border-color: #ffffff;
}

.article_header.custom {
    height: 187px;
    margin-bottom: 40px;
    /*padding-bottom: 25px; *//* for sponsoring */
    border: 0;
    background-position: left top;
    background-repeat: no-repeat;
    background-color: #9e804f;
}

.article_header.custom.fashionshows {
    background-image: url(../images/header_fashionshows_980x212.jpg);
}

.article_header.custom .kicker {
    top: 12px;
}

.article_header.custom h1 {
    margin: 15px 240px 15px 0;
    padding-top: 15px; /* headline on the middle of GQ logo */
}

.article_header.custom p {
    margin-right: 240px;
}

.article_header.custom .triangle {
    position: absolute;
    display: block;
    bottom: -21px;
    left: 80px;
    width: 42px;
    height: 21px;
    background: url(../images/sprite.png) -581px -143px no-repeat;
}

.article_header.video {
    background-color: #000000;
    border-bottom: 0;
}

.article_header.video h1 {
    margin-top: 15px;
    padding-top: 44px; /* headline on GQ logo baseline */
    letter-spacing: 1px;
    text-transform: uppercase;
}

/* Counter */

.counter sup,
.counter sub {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-family: ScoutCond, Arial, sans-serif;
    font-size: 25px;
    line-height: 25px;
}

.counter sup {
    display: block;
    padding-bottom: 2px;
    color: #9e804f;
}

.counter sub {
    padding-top: 5px;
    border-top: 2px dotted;
}

.inverse .counter sub {
    color: #ffffff;
}

/* Link of the Day (Nav Bar) */

.lotd_nav {
    position: relative;
    height: 50px;
    background-color: #9e804f;
}

.lotd_nav .logo {
    position: absolute;
    display: block;
    top: 10px;
    left: 12px;
    width: 58px;
    height: 28px;
    background: url(../images/sprite_linkoftheday.png) left top no-repeat;
}

.lotd_nav .date {
    position: absolute;
    display: block;
    top: 8px;
    left: 85px;
    width: 550px;
    color: #ffffff;
    font: 13px/18px ChronicleTextG3-Roman, Georgia, "Times New Roman", Times, serif;
    text-transform: uppercase;
}

.lotd_nav .headline {
    position: absolute;
    display: block;
    top: 24px;
    left: 85px;
    width: 550px;
    color: #ffffff;
    font: 18px/18px ChronicleTextG3-Bold, Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
}

.lotd_nav .nav {
    position: absolute;
    display: block;
    top: 8px;
    right: 15px;
    width: 400px;
    font-size: 11px;
    line-height: 18px;
    text-align: right;
    color: #ffffff;
}

.lotd_nav .back {
    position: relative;
    padding-right: 20px;
    color: #000000;
    font: 11px/11px ChronicleTextG3-Roman, Georgia, "Times New Roman", Times, serif;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.lotd_nav .back:hover {
    color: #ffffff;
    text-decoration: none;
}

.lotd_nav .back:after {
    content: "";
    position: absolute;
    display: block;
    top: -4px;
    right: 0px;
    width: 16px;
    height: 16px;
    background: url(../images/sprite_linkoftheday.png) -58px top no-repeat;
}

.lotd_nav .back:hover:after {
    background-position: -58px -16px;
}

.lotd_nav .prev {
    position: relative;
    padding-left: 20px;
    padding-right: 5px;
    color: #ffffff;
    font: 11px/11px ChronicleTextG3-Roman, Georgia, "Times New Roman", Times, serif;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.lotd_nav .prev:before {
    content: "";
    position: absolute;
    display: block;
    top: -2px;
    left: 0px;
    width: 16px;
    height: 16px;
    background: url(../images/sprite_linkoftheday.png) -74px top no-repeat;
}

.lotd_nav .prev:hover:before {
    background-position: -74px -16px;
}

.lotd_nav .next {
    position: relative;
    padding-right: 20px;
    padding-left: 5px;
    color: #ffffff;
    font: 11px/11px ChronicleTextG3-Roman, Georgia, "Times New Roman", Times, serif;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.lotd_nav .next:before {
    content: "";
    position: absolute;
    display: block;
    top: -2px;
    right: 0px;
    width: 16px;
    height: 16px;
    background: url(../images/sprite_linkoftheday.png) -90px top no-repeat;
}

.lotd_nav .next:hover:before {
    background-position: -90px -16px;
}

.lotd_nav .prev:hover,
.lotd_nav .next:hover {
    color: #000000;
    text-decoration: none;
}

/* Video Stage */

.video_stage {
    margin: 0 0 60px 0;
    background-color: #000000;
    overflow: hidden;
}

.video_stage .player {
    position: relative;
    margin-left: 122px;
    margin-right: 122px;
}

.video_stage .textbox {
    position: relative;
    padding: 25px 50px 0 50px;
    /*
    padding: 25px 122px 0 0px;
    */
    text-align: center;
}

.video_stage .kicker {
    display: inline-block;
    margin-bottom: 5px;
}

.video_stage .headline {
    font-family: ScoutCond, Arial, sans-serif;
    font-weight: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.video_stage p {
    margin-bottom: 15px;
    font-family: Scout, Arial, sans-serif;
}

.video_stage .inverse p a {
	text-decoration: underline;
}

.video_stage .copyright {
    padding-bottom: 15px;
    border: 0;
}

.video_stage .counter {
    position: absolute;
    top: 45px;
    left: -72px;
}

.video_stage .prev,
.video_stage .next {
    position: absolute;
    top: 320px;
    left: 30px;
    left: -92px;
    width: 50px;
    height: 50px;
    background: url(../images/sprite_gallery.png) -120px top no-repeat;
}

.video_stage .next {
    left: auto;
    right: 30px;
    right: -92px;
    background-position: -220px top;
}

.video_stage .prev:hover {
    background-position: -170px top;
}

.video_stage .next:hover {
    background-position: -270px top;
}

.two_columns.video_stage {
/*
    height: 600px;
*/
    padding-top: 25px;
    padding-bottom: 25px;
    border-top: 1px solid #474747;
}

.two_columns.video_stage .player {
    margin-left: 15px;
    margin-right: 0;
}

.two_columns.video_stage .textbox {
    padding: 25px 15px 0 15px;
    text-align: center;
}

/* Search Results */

.searchbox {
    position: relative;
    display: block;
    height: 100px;
}

.searchbox input[type="search"],
.searchbox input[type="text"] {
    position: absolute;
    top: 35px;
    left: 235px;
    width: 360px;
    height: 27px;
    padding-left: 5px;
    border: 1px solid #000000;
    font-family: Scout, Arial, sans-serif;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
}

.searchbox input[type="submit"] {
    position: absolute;
    top: 35px;
    left: 602px;
    width: 31px;
    height: 29px;
    border: 0;
    cursor: pointer;
    color: transparent;
    background: transparent url(../images/sprite.png) -156px -151px no-repeat;
}

/* Search Navigation */

.content_nav {
    position: relative;
    height: 39px;
    margin-bottom: 40px;
}

.content_nav > a {
    float: left;
    position: relative;
    display: inline-block;
    height: 39px;
    margin-right: 3px;
    background: url(../images/newmask_xx39.png) left center repeat-x;
    font: 16px/39px ChronicleTextG3-Bold, Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
}

.content_nav > a.active,
.content_nav > a:hover {
    color: #9e804f;
    text-decoration: none;
}

.content_nav > a.active {
    cursor: default;
}

.content_nav span {
    font-family: ChronicleTextG3-Roman, Georgia, "Times New Roman", Times, serif;
    font-weight: normal;
}

/* Search Navigation (narrow) */

.left_column .content_nav {
    width: 675px;
}

.left_column .content_nav > a {
    padding-left: 10px;
    padding-right: 10px;
}

/* Aggregation */

.alphabet {
    position: relative;
    display: block;
    height: 20px;
    margin-top: 15px;
    margin-bottom: 40px;
}

.alphabet > li {
    float: left;
    display: block;
    margin-right: 2px;
}

.alphabet a {
    padding: 2px 3px 2px 3px;
    font: 16px/19px ChronicleTextG3-Bold, Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
    text-transform: uppercase;
}

.alphabet a:hover {
    background-color: #9e804f;
    color: #ffffff;
    text-decoration: none;
}

.alphabet a.active:hover,
.alphabet .active {
    background-color: transparent;
    color: #9e804f;
    cursor: default;
}

.index_capital {
    margin-bottom: 5px;
    font: 48px/52px ChronicleTextG3-Roman, Georgia, "Times New Roman", Times, serif;
}

.index_capital > a:hover {
    text-decoration: none;
    cursor: default;
}

.index_links {
    margin-bottom: 25px;
}

.index_links > li {
    display: block;
    margin-bottom: 3px;
    font: 14px/16px ChronicleTextG3-Roman, Georgia, "Times New Roman", Times, serif;
}

.index_link:hover {
    color: #94804f;
    text-decoration: none;
}

/* editor's profile */

#editor.profile {
	height: 480px;
	position: relative;
	margin-bottom: 40px;
}

#editor.profile .image_container {
    float: left;
    position: relative;
    width: 320px;
    height: 480px;
    margin-right: 30px;
	margin-bottom: 40px;
}

#editor.profile .name {
    color: #9e804f;
    font: 26px/30px ScoutCond, Arial, sans-serif;
    letter-spacing: 1px; 
}

#editor.profile .profession {
    color: #9E804F;
    font: 15px/18px Scout,Arial,sans-serif;
    margin-bottom: 30px;
}

#editor.profile p {
    font: 15px/18px Scout,Arial,sans-serif;
}

#editor.profile .terms p {
    font: 14px/18px Scout,Arial,sans-serif;
}

#editor.profile .google-plus {
	margin-top: 30px;
    margin-bottom: 10px;
}

#editor.profile a.arrow_suffix {
	position: absolute;
	right: 0;
	bottom: 0;
}

/* MOBILE SWITCH */
#mobile-switch {
    width: 980px;
    margin: 10px;
    padding: 1em;
    border-bottom: 4px double #C5C5C5;
    text-align: center;
}

#mobile-switch a {
    font-weight: bold;
    text-transform: uppercase;
}

#mobile-switch.mobile a {
    font-size: 4em;
}

#footer .service .oba_icon {
    display: inline-block;
    line-height: 10px;
    padding: 3px 0 0 16px;
    background: url(../images/oba_icon.png) left 5px no-repeat;
}

/* Facebook */
.fb_likes.spaced{
    height: 20px;
}

.fb_likes.spaced,
.fb_comments.spaced {
    position:relative;
    margin-bottom: 45px;
}

.fb_like{
    position:absolute;
    top: 0;
    left: 80px;
}

.fb_likes.spaced .fb_share{
    padding: 4px 5px 2px 5px;
}

.fb_likes.openright .fb_iframe_widget iframe {
    position:absolute;
    right:0px;
    background:#fff;
    transition: all .5s;
}

/* international redirect banner */

#intredir {
	 height: 49px;
	 opacity: 1;
	 background: #000;
	 position: relative;
	 top: 0;
	 width: 100%;
	 overflow: hidden;
	 z-index: 99999;
	 transition: height .5s, 1s opacity 1s;
	 border-bottom: 1px solid #262626;
}

#intredir.collapsed {
	height: 1px;
	opacity: 0;
	transition: .5s height .5s, opacity .5s;
}

#intredir div {
	display: block;
	margin: 0 auto;
	color: #f2f2f2;
	font: 13px/50px Arial, Helvetica, sans-serif;
	text-align: center;
	padding: 0 40px;
}

#intredir div a {
	text-decoration: none;
	color: #b3b3b3;
}

#intredir div a:hover {
	color: #9e804f;
	text-decoration: underline;
}

#intredir .close {
	position: absolute;
	right: 14px;
	top: 14px;
	height: 22px;
	width: 22px;
	cursor: pointer;
	background: transparent url('../images/close.svg') no-repeat 0 0;
	background-size: contain;
}

#teaser-lead-empty {
	min-height: 445px;
	margin-bottom: 50px;
}

#mal-ad-container {
	position: absolute;
	top: 0;
}
/* video */
.article_video #breadcrumb {
    padding-right: 0;
    text-align: center;
    position: unset;
}
.article_video #breadcrumb li {
    font-size:0.7em;
}
.article_video #breadcrumb li span {
    border-bottom: 1px #ffffff dotted;
}
.article_video #breadcrumb li,
.article_video #breadcrumb li a {
    color:#ffffff;
}
.module.more.videos {
    border-top: 1px solid #e5e5e5;
    margin-bottom: 40px;
    padding-top: 25px;
}
.module.more.videos a:last-child {
    margin-right:0;
}
.teaser.video.player .html5 {
    width: 605px;
}
.embed-inline.cn_video p {
    margin-bottom:0;
}
/* /video */

/* ez classics */
.full.blog{
    font-family: ChronicleTextG3-Roman, Georgia, "Times New Roman", Times, serif;
    color: #000000;
}
.full.blog .article.line{
    margin-bottom:40px;
}
.full.blog .article.line a{
    text-decoration:none;
}
.full.blog .article.line .attribute-image{
    margin-bottom: 10px;
}
.full.blog .article.line .attribute-kicker{
    text-transform: uppercase;
    border-bottom: 1px dotted #000000;
    font-size: 13px;
    line-height: 16px;
    padding-bottom: 2px;
    margin-bottom: 7px;
    display: inline-block;
}
.full.blog .article.line h3{
    font-weight: bold;
    font-size: 24px;
    line-height: 27px;
    margin-bottom:5px;
}
