/* general */

.module {
    position: relative;
    display: block;
    clear: both;
}

.teaser {
    position: relative;
    display: block;
    border-color: #000000;
    color: #000000;
    font-family: Scout, Arial, sans-serif;
}

.install_flash {
    padding-top: 20px;
    color: #ffffff;
    text-align: center;
}

.teaser.spaced {
    margin-bottom: 60px;
}

a.teaser:active,
a.teaser:focus,
a.teaser:hover {
    border: 0;
    text-decoration: none;
}

a.teaser.inverse {
    color: #ffffff;
    border-color: #ffffff;
}
a.teaser.inverse.landscape > div{
    height: 213px;
}

.teaser .kicker {
    display: inline-block;
    padding-bottom: 2px;
    margin-bottom: 7px;
}

.teaser .headline {
    display: block;
}

a.teaser:active .headline,
a.teaser:focus .headline,
a.teaser:hover .headline {
    text-decoration: underline;
}

.teaser p {
    margin-top: 5px;
}

/* --- video --- */

figure.video-teaser-image {
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	position: relative;
}

.teaser.cnvideo figure.video-teaser-image:before {
    content: "";
    display: block;
    position: absolute;
    width: 78px;
    height: 78px;
    background: transparent url('../images/sprite.png') -238px -204px no-repeat;
}

.teaser.cnvideo:hover figure.video-teaser-image:before {
    width: 141px;
    background-position: -238px -282px;
}

/* --- Lead --- */

.teaser.lead {
    position: relative;
    display: block;
    width: 980px;
    height: 445px;
    margin-bottom: 50px;
    overflow: hidden;
    color: #000000;
    z-index: 1;
}

.teaser.lead.inverse {
    color: #ffffff;
}

.teaser.lead.video.inverse:hover .image:before,
.teaser.lead.video:hover .image:before {
    width: 202px;
    background-position: -379px -327px;
}

.teaser.lead .overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 980px;
    height: 445px;
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.65);
}

.teaser.lead.inverse .overlay {
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.65);
}

.teaser.lead .player {
    position: absolute;
    top: 40px;
    left: 340px;
    width: 605px;
    height: 340px;
    border: 1px solid #ffffff;
    background-color: #000000;
    z-index: 3;
}

.teaser.lead .textbox {
    position: absolute;
    top: 170px;
    left: 20px;
    width: 300px;
}

.teaser.lead p {
    font-family: ChronicleTextG3-Roman, Georgia, "Times New Roman", Times, serif;
}

.teaser.lead .kicker {
    display: inline-block;
    margin-bottom: 5px;
}

.teaser.lead .headline {
    margin-bottom: 10px;
}

/* Lead 404 */

.teaser.lead404 {
    position: relative;
    display: block;
    width: 980px;
    height: 464px;
    margin-bottom: 20px;
    background: url(../images/header_404_980x464.jpg) left top no-repeat;
    color: #000000;
}

.teaser.lead404 .headline,
.teaser.lead404 p {
    position: relative;
    width: 300px;
    margin-left: 15px;
    font-family: ChronicleTextG3-Bold, Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
}

.teaser.lead404 .headline {
    margin-bottom: 15px;
    padding-top: 200px;
}

/* type1 */

.module.type1 {
    position: relative;
    margin-bottom: 30px;
}

.teaser.type1 img {
    float: left;
    margin: 0 12px 0 0;
}

.right_column .teaser.type1.masked {
    height: 120px;
    padding: 10px 15px 0 15px;
    background: transparent url(../images/mask_300x130.png) left top no-repeat;
    border-top: 1px solid #e5e5e5;
    overflow: hidden;
}

.right_column .teaser.type1.masked:first-child {
    border: 0;
}

.teaser.type1 .kicker {
    font-family: Scout, Arial, sans-serif;
    font-size: 12px;
    line-height: 17px;
}

.teaser.type1 .headline {
    font-family: Scout, Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 17px;
}

.teaser.type1 p {
    font-family: Scout, Arial, sans-serif;
    font-size: 14px;
    line-height: 17px;
}

/* type 2 */

.module.type2 {
    position: relative;
    width: 1000px;
    /* height: 380px; */
    margin-bottom: 40px;
}

.module.type2.more {
    height: 390px;
}

.module.type2:after {
	content: '';
	display: block;
	height: 1px;
	overflow: hidden;
	clear: both;
}

.teaser.type2 {
    float: left;
    width: 320px;
    height: 369px;
    margin-left: 10px;
    margin-bottom: 20px;
    overflow: hidden;
}

.teaser.type2:first-child,
.teaser.type2:nth-child(4),
.teaser.type2:nth-child(7),
.teaser.type2:nth-child(10){
    margin-left: 0;
}

.teaser.type2 figure,
.teaser.type2 img {
    display: block;
    margin-bottom: 10px;
}

.teaser.type2 figure {
	width: 320px;
	height: 213px;
}

.teaser.type2.cnvideo figure.video-teaser-image:before {
    top: 67px;
    left: 121px;
}

/* type3 */

.teaser.type3 {
    width: 154px;
    margin-bottom: 20px;
}

.teaser.type3 .kicker {
    font-family: Scout, Arial, sans-serif;
}

.teaser.type3 .headline {
    font-family: Scout, Arial, sans-serif;
    font-weight: bold;
}

.teaser.type3.photo .kicker:before {
    content: "";
    position: absolute;
    display: block;
    top: 186px;
    left: 2px;
    width: 38px;
    height: 38px;
    background: transparent url(../images/sprite.png) -156px -113px no-repeat;
}

/* type3 (landscape) */

.teaser.type3.landscape {
    width: auto;
    height: 231px;
}

.teaser.type3.landscape .kicker {
    padding-top: 15px;
}

.teaser.type3.landscape img {
    float: left;
    margin: 0 15px 10px 0;
}

.teaser.type3.landscape.photo .kicker:before {
    position: relative;
    top: -15px;
    left: 0px;
}

/* type3 (double) */

.module.type3.double {
    height: 310px;
    margin-bottom: 20px;
}

.teaser.type3.double {
    float: left;
    width: 150px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.teaser.type3.double:first-child {
    margin-left: 0;
}

.teaser.type3.double img {
    float: none;
}

.teaser.type3.double .kicker {
    padding-top: 0;
}

.teaser.type3.double.photo .kicker:before {
    position: absolute;
    top: 186px;
    left: 2px;
}

/* Coverbox */

.teaser.coverbox {
    height: 202px;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 19px;
}

.teaser.coverbox img {
    float: left;
}

.teaser.coverbox .caption {
    padding-top: 20px;
    font-family: ScoutCond, Arial, sans-serif;
    text-transform: uppercase;
}

.teaser.coverbox .description {
    font-family: Scout, Arial, sans-serif;
    font-size: 15px;
}

.teaser.coverbox .headline {
    padding-top: 20px;
    border-top: 2px dotted #9e804f;
    font-family: ScoutCond, Arial, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.teaser.coverbox:hover .headline {
    text-decoration: none;
    color: #686868;
}

.teaser.coverbox .headline:after {
    content: "";
    position: relative;
    display: block;
    top: 0px;
    width: 18px;
    height: 18px;
    margin: 0px auto;
    background: url(../images/sprite.png) -292px -161px no-repeat;
}

.teaser.coverbox:hover .headline:after {
    background-position: -292px -143px;
}

.teaser.coverbox .caption,
.teaser.coverbox .description,
.teaser.coverbox .headline {
    margin-left: 165px;
    color: #9e804f;
    text-align: center;
}
/* GQ World */

.module.gq_world {
    width: 1000px;
    height: 270px;
    margin-bottom: 40px;
    overflow: hidden;
}

.teaser.gq_world {
    float: left;
    /* top: -20px; */
    width: 320px;
    height: 280px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.teaser.gq_world img {
    margin-bottom: 15px;
}

.gq_world_newsletter {
    margin-bottom: 10px;
}

.gq_world_newsletter input {
    display: inline-block;
    padding: 2px 5px;
    border: 1px solid #000000;
    background-color: transparent;
    font-size: 14px;
}

.gq_world_newsletter input[type="text"] {
    width: 172px;
}

.gq_world_newsletter input[type="submit"] {
    border-left: 0;
    text-transform: uppercase;
    letter-spacing: 4px;
}

/* Findings */

.module.findings {
    width: 1000px;
    height: 250px;
    margin-bottom: 20px;
}

.module.findings.more {
    height: 300px;
}

.teaser.finding {
    display: block;
    float: left;
    width: 155px;
    height: 230px;
    margin-right: 10px;
    margin-bottom: 20px; 
    overflow: hidden;
}

.teaser.finding .headline {
    font-family: Scout, Arial, sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.teaser.finding p {
    font-family: Scout, Arial, sans-serif;
    text-align: center;
}

.module.findings .ad.halfpage {
    position: absolute;
    top: -44px;
    right: 20px;
    width: 330px;
    padding-bottom: 30px;
    background-color: #ffffff !important;
    z-index: 5;
    text-align: right;
}

.module.findings .ad.halfpage > div {
    /*
    position: absolute;
    right: 0px;
    */
    position: relative;
    margin-left: 30px;
}

/* GQ Tops */

.module.gq_tops {
    height: 184px;
    margin-bottom: 100px;
}

.teaser.gq_tops {
    display: inline-block;
    margin-left: 6px;
}

.teaser.gq_tops:first-child {
    margin-left: 0;
}

/* Top Topics */

.module.top_topics {
    height: 440px;
    margin-bottom: 70px;
    width: 105%;
}

.teaser.top_topics {
    float: left;
    margin-left: 10px;
    margin-bottom: 10px;
}

.teaser.top_topics:first-child {
    margin-left: 0;
}

.teaser.top_topics > a {
    display: block;
    overflow: hidden;
}

.teaser.top_topics.portrait {
    height: 440px;
	width: 320px;
    overflow: hidden;
    margin-left: 0;
}

.teaser.top_topics.cnvideo figure.video-teaser-image:before {
    top: 15px;
    left: 15px;
}

.teaser.top_topics.cnvideo figure {
	width: 320px;
	height: 213px;
	display: block;
}

.teaser.top_topics.cnvideo.portrait figure {
	width: 320px;
	height: 440px;
}

.teaser.top_topics.portrait:hover .headline {
    text-decoration: underline;
}

.teaser.top_topics .textbox {
    position: absolute;
    bottom: 0px;
    left: 10px;
    padding: 0px 10px 10px 10px;
    z-index: 2;
}

/* Question of the day */

.teaser.qotd {
    position: relative;
    width: 288px;
    height: 213px;
    padding: 20px 16px 0 16px;
    background: transparent url(../images/mask_320x213.png) left top no-repeat;
    overflow: hidden;
}

.teaser.qotd .headline {
    position: relative;
    height: 125px;
    padding-left: 119px;
    border-bottom: 2px dotted #9e804f;
    overflow: hidden;
    color: #9e804f;
}

.teaser.qotd .headline:before {
    content: "";
    position: absolute;
    display: block;
    top: 0px;
    left: 0px;
    width: 97px;
    height: 97px;
    background: url(../images/sprite.png) -581px -185px no-repeat;
}

.teaser.qotd .answer.yes,
.teaser.qotd .answer.no {
    display: inline-block;
    width: 110px;
    height: 28px;
    margin-top: 22px;
    margin-left: 31px;
    margin-right: 5px;
    background: transparent url(../images/mask_110x29.png) left bottom no-repeat;
    font-family: ChronicleTextG3-Bold, Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
}

.teaser.qotd .answer.no {
    margin-left: 0;
    margin-right: 0;
}

.teaser.qotd .answer.yes:hover {
    color: #9e804f;
}

.teaser.qotd .answer.no:hover {
    color: #9e804f;
}

/* Question of the day (Result) */

.teaser.qotd.result .headline {
    height: 60px;
    padding-left: 55px;
    margin-bottom: 14px;
}

.teaser.qotd.result .headline:before {
    content: "";
    position: absolute;
    display: block;
    top: 0px;
    left: 0px;
    width: 45px;
    height: 45px;
    background: url(../images/sprite.png) -581px -282px no-repeat;
}

.teaser.qotd.result .result_container {
    padding-bottom: 13px;
    margin-bottom: 5px;
    border-bottom: 2px dotted #9e804f;
}

.teaser.qotd.result .yes,
.teaser.qotd.result .no {
    padding-left: 35px;
    font-family: ChronicleTextG3-Bold, Georgia, "Times New Roman", Times, serif;
    font-size: 30px;
    font-weight: bold;
    color: #686868;
    vertical-align: middle;
}

.teaser.qotd.result .yes > span,
.teaser.qotd.result .no > span {
    margin-right: 10px;
    font-size: 16px;
    text-transform: uppercase;
}

.teaser.qotd.result .yes {
    padding-left: 15px;
    color: #9e804f;
}

.teaser.qotd.result .fb_share {
    position: relative;
    display: inline-block;
    width: 96px;
    height: 28px;
    padding-left: 14px;
    margin-top: 17px;
    background: transparent url(../images/mask_110x29.png) left bottom no-repeat;
    font: 16px/19px ChronicleTextG3-Bold, Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
}

.teaser.qotd.result .fb_share:hover {
    color: #9e804f;
}

.teaser.qotd.result .fb_share:before {
    content: "";
    position: absolute;
    display: block;
    top: 1px;
    left: 12px;
    width: 14px;
    height: 14px;
    background: url(../images/sprite.png) -471px -91px no-repeat;
}

.teaser.qotd.result .fb_share:hover:before {
    background-position: -471px -106px;
}

.teaser.qotd.result .arrow_suffix {
    margin-top: 12px;
    font-family: ChronicleTextG3-Roman, Georgia, "Times New Roman", Times, serif;
}

/* Question of the day (Archive) */

.teaser.qotd_archive {
    clear: both;
    padding-top: 25px;
    padding-bottom: 25px;
    background: none;
    border-top: 1px solid #ececec;
}

.teaser.qotd_archive:first-child {
    border: 0;
}

.teaser.qotd_archive .textbox {
    float: left;
    position: relative;
    width: 305px;
    padding: 0 15px;
    margin-bottom: 25px;
}

.teaser.qotd_archive .headline {
    padding-right: 10px;
    border-right: 2px dotted #7c7c7c;
}

.teaser.qotd_archive .result_container {
    padding-top: 20px;
}

.teaser.qotd_archive .yes,
.teaser.qotd_archive .no {
    padding-left: 35px;
    font-family: ChronicleTextG3-Bold, Georgia, "Times New Roman", Times, serif;
    font-size: 30px;
    font-weight: bold;
    color: #686868;
    vertical-align: middle;
}

.teaser.qotd_archive .yes > span,
.teaser.qotd_archive .no > span {
    margin-right: 10px;
    font-size: 16px;
    text-transform: uppercase;
}

.teaser.qotd_archive .yes {
    padding-left: 15px;
    color: #9e804f;
}

/* Best of WWW */

.module.best_of_www {
    width: 1000px;
    height: 250px;
    margin-bottom: 40px;
}

.module.best_of_www .logo {
    display: block;
    float: left;
    width: 155px;
    height: 194px;
    margin-right: 10px;
    background: transparent url(../images/logo_bg_bestof_www.png) left top no-repeat;
    text-align: center;
}

.module.best_of_www .logo a {
    width: 90px;
    height: 104px;
    overflow: hidden;
}

.module.best_of_www .logo .headline {
    display: inline-block;
    width: 90px;
    margin-top: 5px;
    color: #ffffff;
    font-family: Scout, Arial, sans-serif;
    font-size: 15px;
    line-height: 17px;
    font-weight: normal;
    text-transform: uppercase;
}

.teaser.best_of_www {
    display: block;
    float: left;
    width: 320px;
    height: 195px;
    margin-right: 10px;
    margin-bottom: 15px;
    overflow: hidden;
    background: transparent url(../images/mask_320x195.png) left top no-repeat;
    text-align: center;
}

.teaser.best_of_www .date {
    position: absolute;
    top: 34px;
    left: 10px;
    font: 11px/9px ChronicleTextG3-Roman, Georgia, "Times New Roman", Times, serif;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.teaser.best_of_www .date .day {
    font: 23px/23px ChronicleTextG3-Bold, Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
    letter-spacing: 0;
}

.teaser.best_of_www .kicker {
    display: block;
    padding: 10px 40px 0px 40px;
    border: 0;
    font-family: ChronicleTextG3-Roman, Georgia, "Times New Roman", Times, serif;
}

.teaser.best_of_www .headline,
.teaser.best_of_www p {
    padding: 0 40px 0 40px;
}

.teaser.best_of_www .link {
    position: absolute;
    display: block;
    bottom: 10px;
    left: 0;
    width: 100%;
    color: #9e804f;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
}

.teaser.best_of_www .link:before {
    content: "";
    position: relative;
    display: block;
    width: 90px;
    height: 12px;
    margin: 0 auto 3px;
    background: transparent url(../images/sprite.png) -202px -91px no-repeat;
}

/* Best of WWW (wide) */

.teaser.best_of_www.wide {
    float: none;
    width: auto;
    height: 135px;
    margin-bottom: 15px;
    background: none;
    text-align: left;
}

.teaser.best_of_www.wide .date {
    top: 27px;
}

.teaser.best_of_www.wide .kicker {
    padding-left: 70px;
    padding-right: 0;
    margin-bottom: 0;
}

.teaser.best_of_www.wide .headline,
.teaser.best_of_www.wide p {
    padding-left: 70px;
    padding-right: 0;
}

.teaser.best_of_www.wide .link {
    margin-left: 70px;
}

.teaser.best_of_www.wide .link:before {
    left: 0px;
    margin: 0 0 3px 0;
}

/* Best of WWW (narrow, with logo) */

.teaser.best_of_www.narrow {
    width: 270px;
    height: 195px;
    margin-right: 3px;
    margin-bottom: 15px;
    background-image: url(../images/mask_270x195.png);
}

.teaser.best_of_www.narrow .kicker {
    padding: 10px 5px 0px 5px;
}

.teaser.best_of_www.narrow .headline,
.teaser.best_of_www.narrow p {
    padding: 0 5px 0 5px;
}

/* Gentleman's World */

.module.gentlemans_world {
    width: 1000px;
    height: 669px;
    margin-bottom: 60px;
}

.teaser.gentlemans_world {
    display: block;
    float: left;
    width: 320px;
    height: 213px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.teaser.gentlemans_world .textbox {
    position: absolute;
    display: none;
    bottom: 7px;
    width: 280px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 15px 10px 15px 10px;
    z-index: 2;
    background: rgb(255, 255, 255); /* Fallback for Browsers not supporting RGBA */
    background: rgba(255, 255, 255, 0.85);
    -moz-box-shadow: 0px 0px 5px #b2b2b2;
    -webkit-box-shadow: 0px 0px 5px #b2b2b2;
    box-shadow: 0px 0px 5px #b2b2b2; /* For FF4, Opera, IE 9 */
}

.teaser.gentlemans_world .textbox.gallery {
    width: 225px;
    padding-left: 65px;
}

.teaser.gentlemans_world .textbox.gallery:before {
    content: "";
    position: absolute;
    left: 15px;
    bottom: 20px;
    width: 38px;
    height: 38px;
    background: transparent url(../images/sprite.png) -156px -113px no-repeat;
}

.teaser.gentlemans_world:hover .textbox {
    display: block;
}

/* Win */

.module.win {
    width: 1000px;
    height: 460px;
    margin-bottom: 60px;
}

.module.win:after {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 980px;
    height: 119px;
    background: transparent url(../images/icon_win_980x119.png) left top no-repeat;
}

/*
.module.win:after {
    background: transparent url(../images/icon_win_invert_980x119.png) left top no-repeat;
}
*/

.teaser.win {
    display: block;
    float: left;
    width: 320px;
    height: 330px;
    margin-top: 80px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.teaser.win .kicker {
    display: block;
    margin-top: 10px;
    border: 0;
}

.teaser.win .kicker,
.teaser.win .headline,
.teaser.win p {
    text-align: center;
}

/* Video 1 */

.module.video {
    height: 475px;
    margin-bottom: 70px;
}

.module.video > .navi {
    position: absolute;
    top: -54px;
    right: 0px;
    width: 280px;
    text-align: right;
}

.module.video > .navi > a {
    display: inline;
    margin-right: 10px;
    border: 0;
    letter-spacing: 1px;
}

.module.video > .navi > a:hover {
    color: #9e804f;
    text-decoration: none;
}

.module.video .right_col {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 320px;
}

.teaser.video.player {
    position: relative;
    width: 649px;
    height: 475px;
}

.teaser.video.player .player_container {
    position: relative;
    width: 649px;
    height: 365px;
    margin-bottom: 10px;
}

.teaser.video.small {
    float: right;
    width: 280px;
    height: 245px;
    margin-bottom: 10px;
    overflow: hidden;
}

.teaser.video.small .image {
    position: relative;
    width: 280px;
    height: 158px;
}

.teaser.video.small .image:before {
    content: "";
    display: block;
    position: absolute;
    top: 50px;
    left: 100px;
    width: 78px;
    height: 78px;
    background: transparent url(../images/sprite.png) -238px -204px no-repeat;
}

.teaser.video.small:hover .image:before {
    width: 141px;
    background-position: -238px -282px;
}

.teaser.video.small .kicker {
    margin-top: 5px;
}

.teaser.video.portrait {
    display: block;
    height: 233px;
    margin-bottom: 10px;
    text-align: right;
}

.teaser.video.portrait img {
    display: block;
    position: absolute;
    right: 0px;
    width: 155px;
    height: 233px;
}

.teaser.video.portrait .kicker,
.teaser.video.portrait .headline,
.teaser.video.portrait p {
    position: relative;
    float: none;
    height: auto;
    margin-right: 165px;
}

/* Look Of The Week */

.module.lotw {
    height: 540px;
    margin-bottom: 20px;
}

.teaser.lotw {
    position: absolute;
}

.teaser.lotw.big {
    width: 322px;
    height: 483px;
}

.teaser.lotw.small {
    width: 160px;
    height: 240px;
}

.teaser.lotw.small.first {
    left: 325px;
    top: 0px;
}

.teaser.lotw.small.second {
    left: 488px;
    top: 0px;
}

.teaser.lotw.small.third {
    left: 325px;
    top: 243px;
}

.teaser.lotw.small.fourth {
    left: 488px;
    top: 243px;
}

.module.lotw .right_col {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 328px;
    height: 483px;
    background: transparent url(../images/mask_328x486.png) left top no-repeat;
}

.teaser.lotw.landscape {
    position: relative;
    width: 288px;
    height: 182px;
    padding: 50px 20px 10px 20px;
}

.module.lotw .navi {
    position: relative;
}

.module.lotw .navi > li {
    padding-left: 10px;
    border-top: 1px solid #ececec;
}

.module.lotw .navi a {
    display: block;
    position: relative;
    padding: 10px 20px 8px 10px;
}

.module.lotw .navi a:hover {
    color: #9e804f;
    text-decoration: none;
}

.module.lotw .navi a:after {
    content: "";
    display: block;
    position: absolute;
    top: 13px;
    right: 15px;
    width: 12px;
    height: 11px;
    background: url(../images/sprite.png) -308px -91px no-repeat;
}

.module.lotw .navi a:hover:after {
    background-position: -308px -110px;
}

.module.lotw .arrow_suffix {
    position: absolute;
    right: 0px;
    top: 500px;
}

/* Rankings */

.module.rankings {
    width: 1000px;
    height: 410px;
    margin-bottom: 40px;
}

.module.rankings .head {
    position: relative;
    width: 980px;
    height: 112px;
    margin-bottom: 20px;
    background: transparent url(../images/mask_rankings_980x112.png) left top no-repeat;
}

.module.rankings .headline.type1,
.module.rankings .headline.type2,
.module.rankings .headline.type3 {
    position: absolute;
    top: 20px;
    left: 50px;
    width: 240px;
    height: 110px;
    color: #9e804f;
    font-family: ScoutCond, Arial, sans-serif;
    font-weight: bold;
    font-size: 47px;
    line-height: 36px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.module.rankings .headline.type1 {
    left: 50px;
}

.module.rankings .headline.type2 {
    left: 385px;
}

.module.rankings .headline.type3 {
    left: 715px;
}

.teaser.rankings.column {
    float: left;
    position: relative;
    display: block;
    width: 320px;
    margin-right: 10px;
}

.teaser.rankings {
    position: relative;
    margin-bottom: 10px;
}

.teaser.rankings .count {
    float: left;
    margin-top: 25px;
    font-family: ScoutCond, Arial, sans-serif;
    font-size: 50px;
}

.teaser.rankings .kicker {
    margin-left: 15px;
}

.teaser.rankings .headline {
    margin-left: 55px;
}

/* Page2 */

.teaser.page2 {
    width: 565px;
    min-height: 147px;
    margin-bottom: 40px;
}

.teaser.page2 img {
    float: left;
    margin-right: 10px;
}

/* Toplinks (in right column) */

.teaser.toplinks {
    height: 242px;
    background: url(../images/mask_300x242.png) left top no-repeat;
    margin-bottom: 40px;
    overflow: hidden;
    z-index: 10;
}

.teaser.toplinks.size5 {
    height: 140px;
    background: url(../images/mask_300x140.png) left top no-repeat;
}

.teaser.toplinks.size6 {
    height: 153px;
    background: url(../images/mask_300x153.png) left top no-repeat;
}

/* Link List */

.link_list {
    display: block;
    padding: 2px 10px 0 10px;
}

.link_list > li{
    display: block;
    border-top: 1px solid #ececec;
}

.link_list > li:first-child {
    border: 0;
}

.link_list a {
    display: block;
    position: relative;
    margin-right: 15px;
    padding: 5px 0px 2px 15px;
    font-family: ChronicleTextG3-Roman, Georgia, "Times New Roman", Times, serif;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.link_list a:after {
    content: "";
    display: block;
    position: absolute;
    top: 6px;
    right: 10px;
    width: 12px;
    height: 11px;
    background: url(../images/sprite.png) -308px -91px no-repeat;
}

.link_list a:hover:after {
    background-position: -308px -110px;
}

.link_list a:hover {
    color: #9e804f;
    text-decoration: none;
}

/* External Teaser */
.external {
    width: 300px;
    height: 262px;
    text-align: center;
}
.external iframe {
    width: 262px;
    height: 262px;
    border: none;
}
.module.best_of_www iframe {
    width: 100%;
    min-height: 175px;
    border: none;
    margin-left: -5px;
    margin-bottom: 10px;
}
.text_teaser {
    margin-bottom: 20px;
    overflow: hidden;
}


/* Apps */

.module.apps {
    position: relative;
    height: 505px;
    margin-bottom: 40px;
}

.module.apps.more {
    height: 480px;
}

.teaser.app {
    float: left;
    width: 320px;
    height: 430px;
    margin-left: 10px;
    margin-bottom: 20px;
    overflow: hidden;
    text-align: center;
    background: url(../images/mask_320x200.png) left bottom no-repeat;
}

.teaser.app:first-child {
    margin-left: 0;
}

.teaser.app:after {
    content: "";
    display: block;
    position: absolute;
    top: 375px;
    left: 137px;
    width: 47px;
    height: 35px;
    background-repeat: no-repeat;
}

.teaser.app.ios:after {
    left: 138px;
    width: 44px;
    background: url(../images/sprite.png) left -349px;
}

.teaser.app.android:after {
    background: url(../images/sprite.png) -44px -349px;
}

.teaser.app.ios_android:after {
    left: 133px;
    width: 55px;
    background: url(../images/sprite.png) -91px -349px;
}

.teaser.app img {
    display: block;
    margin-bottom: 20px;
}

.teaser.app .kicker {
    font-size: 14px;
}

.teaser.app p {
    font-size: 15px;
    line-height: 18px;
}

/* Triple */

.module.triple {
    position: relative;
    /* height: 690px; */
    margin-bottom: 40px;
}

.module.triple:after {
	content: '';
	display: block;
	height: 1px;
	overflow: hidden;
	clear: both;
}

.module.lead_double {
    width: 665px;
}

.teaser.triple {
    float: left;
    width: 320px;
    margin-left: 10px;
    margin-bottom: 20px;
    overflow: hidden;
}

.teaser.triple:first-child {
    margin-left: 0;
}

.teaser.triple.cnvideo figure,
.teaser.triple img {
    display: block;
    margin-bottom: 10px;
}

.teaser.triple.cnvideo figure {
	width: 320px;
	height: 213px;
}

.teaser.triple.portrait.cnvideo figure {
	width: 320px;
	height: 480px;
}

.teaser.triple.cnvideo figure.video-teaser-image:before {
    top: 67px;
    left: 121px;
}

.teaser.triple.portrait.cnvideo figure.video-teaser-image:before {
    top: 201px;
    left: 121px;
}

/* Fashionshows */

.module.fashion {
    width: 1000px;
    height: 250px;
    margin-bottom: 40px;
}

.module.fashion.more {
    height: 280px;
}

.teaser.fashion {
    float: left;
    width: 154px;
    margin-right: 11px;
    margin-bottom: 20px;
}

.teaser.fashion .textbox {
    position: absolute;
    display: block;
    left: 0px;
    bottom: 30px;
    width: 138px;
    margin: 0 4px;
    padding: 5px 4px;
    background-color: #ffffff;
}

.teaser.fashion .kicker {
    display: block;
    margin-bottom: 0;
    border: 0;
    text-align: center;
}

.teaser.fashion .headline {
    text-align: center;
    text-transform: uppercase;
}

/* Another */

.module.another {
    width: 1000px;
    height: 250px;
    margin-bottom: 40px;
}

.module.another.more {
    height: 280px;
}

.teaser.another {
    float: left;
    width: 320px;
    height: 231px;
    margin-left: 10px;
    margin-bottom: 20px;
    /*
    overflow: hidden;
    */
}

.teaser.another:first-child {
    margin-left: 0;
}

.teaser.another img {
    float: left;
    display: block;
    margin: 0 12px 0 0;
}

/* Static Lead*/

.teaser.lead_static {
    display: block;
    width: 650px;
    height: 560px;
    margin-bottom: 40px;
    text-align: center;
}

.teaser.lead_static .kicker {
    margin-top: 10px;
}

.teaser.lead_static .headline,
.teaser.lead_static p {
    padding: 0 100px;
}

/* Styleguide */

.module.styleguide {
    width: 1000px;
    height: 326px;
    margin-bottom: 60px;
}

.teaser.styleguide {
    float: left;
    position: relative;
    display: block;
    width: 161px;
    height: 161px;
    text-align: center;
    
    margin-right: 3px;
    margin-bottom: 4px;
}

.teaser.styleguide .textbox {
    position: absolute;
    display: block;
    left: 0px;
    bottom: 10px;
    width: 153px;
    margin: 0 4px 5px 4px;
}

.teaser.styleguide .kicker {
    display: inline-block;
    margin-bottom: 0;
}

.teaser.styleguide.icon {
    width: 324px;
    margin-right: 3px;
}

.teaser.styleguide.big {
    width: 326px;
    height: 326px;
}

.teaser.styleguide.big .textbox {
    width: 318px;
}

.teaser.styleguide.no1 {
    float: none;
    position: absolute;
    top: 165px;
    left: 0px;
}

.teaser.styleguide.no2 {
    float: none;
    position: absolute;
    top: 165px;
    left: 163px;
}

/* Style Me */

.module.style_me {
    width: 1000px;
    height: 230px;
    margin-bottom: 40px;
}

.teaser.style_me {
    float: left;
    display: block;
    width: 320px;
    height: 230px;
    margin-right: 10px;
}

.teaser.style_me p {
    position: absolute;
    top: 145px;
}

/* Top Girls */

.module.top_girls {
    position: relative;
    height: 680px;
    margin-bottom: 40px;
}

.teaser.top_girls {
    position: absolute;
    width: 320px;
    height: 398px;
    overflow: hidden;
}

.teaser.top_girls:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 302px;
    height: 382px;
    margin: 8px 8px 8px 8px;
    border: 1px dotted #ffffff;
}

.teaser.top_girls.right {
    top: 282px;
    left: 661px;
}

.teaser.top_girls.center {
    top: 282px;
    left: 331px;
    width: 318px;
    height: 116px;
    background-color: #9e804f;
}

.teaser.top_girls.center:after {
    width: 300px;
    height: 100px;
}

.teaser.top_girls.top {
    top: 0px;
    left: 331px;
}

.teaser.top_girls.bottom {
    top: 410px;
    left: 277px;
}

.teaser.top_girls.top,
.teaser.top_girls.bottom {
    width: 180px;
    height: 270px;
}

.teaser.top_girls.top.right {
    left: 523px;
}

.teaser.top_girls.bottom.right {
    left: 469px;
}

.teaser.top_girls.top:after,
.teaser.top_girls.bottom:after {
    width: 163px;
    height: 254px;
}

.teaser.top_girls.up,
.teaser.top_girls.down {
    top: 0px;
    left: 713px;
    width: 267px;
    height: 270px;
    background: url(../images/mask_267x270.png) left top no-repeat;
}

.teaser.top_girls.down {
    top: 410px;
    left: 0px;
}

.teaser.top_girls.up:after,
.teaser.top_girls.down:after {
    width: 250px;
    height: 254px;
}

.teaser.top_girls.up .headline,
.teaser.top_girls.down .headline {
    position: relative;
    margin-left: 60px;
    margin-right: 60px;
    padding: 0;
    color: #000000;
    border-bottom: 2px dotted #000000;
    font-family: ScoutCond, Arial, sans-serif;
    font-weight: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
}

.teaser.top_girls.down .headline {
    margin-top: 70px;
}

.teaser.top_girls.up:hover .headline,
.teaser.top_girls.down:hover .headline {
    text-decoration: none;
}

.teaser.top_girls.up .headline:before {
    content: "";
    display: block;
    position: relative;
    width: 64px;
    height: 60px;
    margin: 55px auto 40px;
    background: url(../images/sprite.png) left -390px no-repeat;
}

.teaser.top_girls.up p,
.teaser.top_girls.down p {
    position: relative;
    margin: 5px 10px 0 10px;
    font-weight: bold;
    text-align: center;
}

.teaser.top_girls.up:hover p,
.teaser.top_girls.down:hover p {
    color: #9e804f;
}

.teaser.top_girls.down p:after {
    content: "";
    display: block;
    position: relative;
    width: 64px;
    height: 60px;
    margin: 20px auto;
    background: url(../images/sprite.png) -64px -390px no-repeat;
}

.teaser.top_girls .textbox {
    position: absolute;
    width: 100%;
    bottom: 20px;
    text-align: center;
}

.teaser.top_girls .heart {
    width: 72px;
    height: 49px;
    margin: 0 auto 10px;
    padding-top: 12px;
    background: url(../images/sprite.png) -581px -390px no-repeat;
    color: #ffffff;
    font: 27px/27px ScoutCond, Arial, sans-serif;
    letter-spacing: 1px;
}

.teaser.top_girls .headline {
    padding: 0 10px;
    color: #ffffff;
}

.teaser.top_girls.center .headline {
    margin-top: 20px;
    font: 60px/64px ScoutCond, Arial, sans-serif;
    text-align: center;
    text-decoration: none;
}

.teaser.top_girls.center .more {
    color: #ffffff;
    font: 11px/14px ChronicleTextG3-Roman, Georgia, "Times New Roman", Times, serif;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
}

.teaser.top_girls.center:hover .more {
    text-decoration: underline;
}

/* Top 100 Girls (Overview) */

.module.top100girls_top3 {
    height: 615px;
    margin-bottom: 40px;
    padding: 15px 17px 0 18px;
    overflow: hidden;
    border: 2px dotted #000000;
}

.teaser.top100girl {
    position: relative;
    width: 197px;
    height: 296px;
    overflow: hidden;
    margin-bottom: 8px;
}

.teaser.top100girl.big {
    float: left;
    width: 400px;
    height: 600px;
    margin-right: 10px;
}

.teaser.top100girl .textbox {
    position: absolute;
    width: 100%;
    bottom: 10px;
    text-align: center;
}

.teaser.top100girl .heart {
    width: 72px;
    height: 49px;
    margin: 0 auto 10px;
    padding-top: 12px;
    background: url(../images/sprite.png) -581px -390px no-repeat;
    color: #ffffff;
    font: 27px/27px ChronicleTextG3-Bold, Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
    letter-spacing: 1px;
}

.teaser.top100girl .headline {
    padding: 0 10px;
    color: #ffffff;
    font: 20px/24px ScoutCond, Arial, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
}

/* Top 100 Girls (List Teaser) */

.teaser.top100girl_list {
    height: 185px;
    margin-bottom: 25px;
    border-bottom: 2px dotted #000000;
}

.teaser.top100girl_list:hover {
    border-bottom: 2px dotted #000000;
}

.teaser.top100girl_list .ranking {
    float: left;
    width: 155px;
    height: 135px;
    margin-right: 10px;
    padding-top: 15px;
    text-align: center;
}

.teaser.top100girl_list .ranking:after {
    /* NOTE: default is up-arrow */
    content: "";
    position: absolute;
    display: block;
    top: 85px;
    left: 40px;
    width: 32px;
    height: 32px;
    background: url(../images/sprite.png) -128px -390px no-repeat;
}

.teaser.top100girl_list .ranking.down:after {
    background-position: -164px -390px;
}

.teaser.top100girl_list .ranking.even:after {
    top: 83px;
    background-position: -200px -390px;
}

.teaser.top100girl_list .heart {
    position: relative;
    width: 72px;
    height: 49px;
    margin: 0 auto 10px;
    padding-top: 12px;
    background: url(../images/sprite.png) -581px -390px no-repeat;
    color: #ffffff;
    font: 27px/27px ChronicleTextG3-Bold, Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
    letter-spacing: 1px;
}

.teaser.top100girl_list .tendency {
    position: relative;
    padding-left: 45px;
    color: #9e804f;
    font-family: ChronicleTextG3-Bold, Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 20px;
}

.teaser.top100girl_list .image {
    float: left;
    width: 100px;
    height: 150px;
    margin-right: 45px;
}

.teaser.top100girl_list .textbox {
    padding-top: 30px;
}

.teaser.top100girl_list .name {
    font: 20px/22px ScoutCond, Arial, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.teaser.top100girl_list .info {
    font-size: 15px;
    line-height: 18px;
}

.teaser.top100girl_list:hover .name, 
.teaser.top100girl_list:hover .info {
    color: #9e804f;
}

/* More Top100 Girls */

.module.more_girls {
    height: 320px;
    width: 1000px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.teaser.more_girls {
    float: left;
    width: 155px;
    height: 285px;
    margin-right: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    text-align: center;
}

.teaser.more_girls .image {
    position: relative;
    width: 155px;
    height: 233px;
    margin-bottom: 15px;
}

.teaser.more_girls .image:after {
    content: "";
    position: absolute;
    display: block;
    top: 5px;
    left: 5px;
    width: 140px;
    height: 218px;
    border: 2px dotted #ffffff;
}

.teaser.more_girls .heart {
    position: absolute;
    bottom: 5px;
    left: 52px;
    width: 54px;
    height: 35px;
    margin: 0 auto 10px;
    padding-top: 9px;
    background: url(../images/sprite.png) -238px -362px no-repeat;
    color: #ffffff;
    font: 20px/20px ChronicleTextG3-Bold, Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
    text-transform: uppercase;
}

.teaser.more_girls .heart.black {
    height: 33px;
    padding-top: 11px;
    background-position: -238px -406px;
    font-size: 15px;
    line-height: 15px;
}

.teaser.more_girls .headline {
    font: 20px/18px ScoutCond, Arial, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.teaser.more_girls:hover .headline {
    color: #9e804f;
    text-decoration: none;
}

/* --- Guide (in Styleguide) --- */

.module.guide {
    height: 483px;
    margin-bottom: 40px;
}

.teaser.guide {
    float: left;
    position: relative;
    width: 486px;
    height: 483px;
    margin-left: 7px;
    overflow: hidden;
    background: url(../images/mask_486x483.png) left top no-repeat;
}

.teaser.guide:first-child {
    margin-left: 0;
}

.teaser.guide .branding {
    position: relative;
    display: table;
    width: 100%;
    height: 52px;
    margin-top: 10px;
    margin-right: 22px;
    font-family: ChronicleTextG3-Roman, Georgia, "Times New Roman", Times, serif;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.teaser.guide .poweredby {
    display: table-cell;
    width: 75%;
    padding-right: 10px;
    text-align: right;
    vertical-align: middle;
}

.teaser.guide .brand {
    display: table-cell;
    width: 20%;
    vertical-align: middle;
}

.teaser.guide .brand > img {
    margin-right: 20px;
}

.teaser.guide .textbox {
    float: left;
    position: relative;
    width: 210px;
    padding-left: 30px;
    margin-right: 10px;
}

.teaser.guide .linklist {
    margin-top: 15px;
    font-family: ChronicleTextG3-Bold, Georgia, "Times New Roman", Times, serif;
    font-size: 15px;
    line-height: 25px;
    font-weight: bold;
    text-transform: uppercase;
}

.teaser.guide .linklist a {
    position: relative;
}

.teaser.guide .linklist a:hover {
    color: #9e804f;
    text-decoration: none;
}

.teaser.guide .linklist a:after {
    content: "";
    display: block;
    position: absolute;
    top: 1px;
    right: -20px;
    width: 12px;
    height: 11px;
    background: url(../images/sprite.png) -308px -91px no-repeat;
}

.teaser.guide .linklist a:hover:after {
    background-position: -308px -110px;
}

.teaser.guide .scribble {
    position: relative;
    width: 235px;
    height: 400px;
    overflow: hidden;
}

/* Styleexpert */

.teaser.styleexpert {
    width: 300px;
    height: 302px;
    margin-bottom: 30px;
    background: url(../images/mask_300x302.png) left top no-repeat;
}

.teaser.styleexpert .textbox {
    position: absolute;
    width: 250px;
    bottom: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

.teaser.styleexpert .author {
    color: #9e804f;
    font-size: 16px;
    font-weight: bold;
}

.teaser.styleexpert .title {
    margin-bottom: 5px;
    color: #9e804f;
    font-size: 14px;
}

.teaser.styleexpert .ressort {
    font-size: 14px;
    text-transform: uppercase;
}

/* Top Votings (Girls Gallery) */

.module.top_votings {
    width: 1000px;
    height: 225px;
    margin-bottom: 30px;
}

.teaser.top_voting {
    float: left;
    width: 100px;
    height: 225px;
    margin-right: 10px;
    text-align: center;
}

.teaser.top_voting .ranking {
    margin-top: 5px;
    font: 20px/20px ChronicleTextG3-Bold, Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
}

.teaser.top_voting .headline {
    font: 20px/23px ScoutCond, Arial, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.teaser.top_voting:hover .headline {
    color: #9e804f;
    text-decoration: none;
}

/* Teaser Foto/Video (MediaFinder & Search) */

.module.foto_teaser,
.module.video_teaser {
    position: relative;
    width: 1000px;
    height: 260px;
    margin-bottom: 40px;
}

.module.foto_teaser {
    height: 290px;
}

.teaser.mf_foto,
.teaser.mf_video {
    float: left;
    position: relative;
    display: block;
    width: 154px;
    height: 290px;
    margin-right: 10px;
    margin-bottom: 20px;
    overflow: hidden;
    text-align: center;
}

.teaser.mf_video {
    width: 320px;
    height: 260px;
}

.teaser.mf_video img {
    width: 320px;
    height: 180px;
}

.teaser.mf_foto .kicker,
.teaser.mf_video .kicker {
    margin-top: 5px;
    margin-bottom: 5px;
}

.teaser.mf_foto .headline,
.teaser.mf_video .headline {
    font-family: ScoutCond, Arial, sans-serif;
    font-weight: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.teaser.mf_video .duration {
    font-family: ScoutCond, Arial, sans-serif;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
}

.teaser.mf_video:after {
    content: "";
    display: block;
    position: absolute;
    top: 60px;
    left: 121px;
    width: 78px;
    height: 78px;
    background: transparent url(../images/sprite.png) -238px -204px no-repeat;
}

.teaser.mf_video:hover:after {
    width: 141px;
    background-position: -238px -282px;
}

/* Starportrait (in Search) */

.module.starportrait {
    position: relative;
    height: 376px;
    margin-bottom: 40px;
    padding: 17px 70px 0 18px;
    background: url(../images/mask_980x393.png) left top no-repeat;
}

.module.starportrait .image {
    float: left;
    position: relative;
    width: 234px;
    margin-bottom: 30px;
}

.module.starportrait img {
    border: 5px solid #ffffff;
}

.module.starportrait .copyright {
    padding: 0;
    border: 0;
}

.module.starportrait blockquote {
    position: relative;
    margin: 25px;
    margin-left: 305px;
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 30px;
}

.module.starportrait blockquote:before {
    content: "";
    position: absolute;
    display: block;
    top: 3px;
    left: -30px;
    width: 22px;
    height: 22px;
    background: url(../images/sprite.png) left -164px no-repeat;
}

.module.starportrait .headline {
    margin-left: 305px;
    margin-bottom: 5px;
    padding-bottom: 3px;
    color: #9e804f;
    border-bottom: 1px dotted #9e804f;
    font: 20px/23px ScoutCond, Arial, sans-serif;
    font-weight: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.module.starportrait .info,
.module.starportrait .info p {
	font: 16px/22px Scout, Arial, sans-serif;
	margin-bottom: 10px;
}

.module.starportrait .info {
    margin-left: 305px;
}

.module.starportrait .arrow_suffix {
    position: absolute;
    bottom: 20px;
    right: 15px;
}

.module.starportrait .arrow_suffix.vote_for {
	position: relative;
    right: 0;
	margin: 15px 0;
}

/* Starportrait (in Aggregation) */

.left_column .module.starportrait {
    padding-bottom: 70px;
    padding-right: 20px;
    height: auto;
    background: #f7f7f7 none;
}

.module.starportrait > .navi {
    position: absolute;
    top: -54px;
    right: 0px;
    width: 280px;
    text-align: right;
}

.module.starportrait > .navi > a {
    display: inline;
    margin-right: 10px;
    border: 0;
    letter-spacing: 1px;
}

.module.starportrait > .navi > a:hover {
    color: #9e804f;
    text-decoration: none;
}

.module.starportrait .headline.no_indent {
    clear: left;
    margin-top: 20px;
    margin-left: 0;
}

.module.starportrait .info.no_indent {
    clear: left;
    margin-left: 0;
}

/* Top Fashionshows */

.module.top_fashionshows {
    width: 1000px;
    height: 231px;
    margin-bottom: 60px;
}

.teaser.top_fashionshows {
    display: block;
    float: left;
    width: 154px;
    height: 231px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.teaser.top_fashionshows .textbox {
    position: absolute;
    bottom: 30px;
    width: 130px;
    margin-left: 6px;
    margin-right: 6px;
    padding: 10px 5px 10px 5px;
    z-index: 2;
    border: 1px solid #ffffff;
    text-align: center;
}

.teaser.top_fashionshows .textbox:before {
    content: "";
    position: absolute;
    display: block;
    top: 2px;
    bottom: 2px;
    left: 2px;
    right: 2px;
    background: rgb(255, 255, 255); /* Fallback for Browsers not supporting RGBA */
    background: rgba(255, 255, 255, 0.97);
    z-index: -1;
}

.teaser.top_fashionshows .headline {
    text-transform: uppercase;
}

/* Styleduel */

.module.styleduelvoting {
    height: 660px;
}

.teaser.styleduelvoting {
    float: left;
    position: relative;
}

.teaser.styleduelvoting.right {
    float: right;
}

.teaser.styleduelvoting .name {
    position: absolute;
    right: -5px;
    top: 350px;
    width: 325px;
    height: 77px;
    background: url(../images/sprite.png) left -450px no-repeat;
    font: 15px/77px ChronicleTextG3-Bold, Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
}

.teaser.styleduelvoting:hover .name {
    text-decoration: none;
}

.teaser.styleduelvoting.right .name {
    right: auto;
    left: -5px;
    background-position: -325px -450px;
    color: #ffffff;
}

.teaser.styleduelvoting .copyright {
    border: 0;
}

.module.styleduelvoting.done .name {
    font-size: 26px;
}

.module.styleduelvoting.done .teaser.styleduelvoting {
    cursor: default;
}

/* Styleduels (Teaser) */

.module.styleduels {
    width: 1000px;
    height: 300px;
    margin-bottom: 30px;
}

.teaser.styleduel {
    float: left;
    width: 320px;
    height: 300px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.teaser.styleduel .left {
    position: relative;
    float: left;
}

.teaser.styleduel .right {
    position: relative;
    float: right;
}

.teaser.styleduel .headline {
    padding-top: 5px;
    font: 20px/28px ScoutCond, Arial, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.teaser.styleduel:hover .headline {
    color: #9e804f;
    text-decoration: none;
}

.teaser.styleduel .subtitle {
    font: 15px/18px Scout, Arial, sans-serif;
}

.teaser.styleduel:before {
    content: "";
    position: absolute;
    display: block;
    top: 6px;
    left: 10px;
    width: 298px;
    height: 216px;
    border: 3px solid #ffffff;
    z-index: 2;
}

.teaser.styleduel:after {
    content: "";
    position: absolute;
    display: block;
    top: 92px;
    left: 108px;
    width: 102px;
    height: 53px;
    background: url(../images/sprite.png) -339px -121px;
    z-index: 2;
}

.right_column .teaser.styleduel {
    width: 300px;
    height: 219px;
}

.right_column .teaser.styleduel:before {
    width: 278px;
    height: 201px;
}

.right_column .teaser.styleduel:after {
    top: 82px;
    left: 98px;
}

/* Interview */

.two_columns.interview {
    margin: 0 0 60px 0;
}

.teaser.interview {
    width: 590px;
    height: 132px;
    padding: 25px 30px 25px 30px;
    background: url(../images/mask_650x182.png) left top no-repeat;
    overflow: hidden;
}

.teaser.interview img {
    float: left;
}

.teaser.interview .kicker {
    margin-left: 60px;
}

.teaser.interview .headline {
    position: relative;
    margin-left: 240px;
    margin-bottom: 10px;
}

.teaser.interview .headline:before {
    content: "";
    position: absolute;
    display: block;
    top: 0px;
    left: -45px;
    width: 34px;
    height: 34px;
    background: url(../images/sprite.png) -626px -143px no-repeat;
}

.teaser.interview .more_text {
    margin-left: 60px;
}

/* Video Stage */

.module.more_videos {
    position: relative;
    width: 1000px;
    height: 210px;
    padding-top: 25px;
    border-top: 1px solid #474747;
}

.module.more_videos .teaser.mf_video {
    float: left;
    width: 160px;
    height: 210px;
    margin-right: 4px;
}

.module.more_videos .teaser.mf_video:after {
    top: 30px;
    left: 60px;
    width: 36px;
    height: 36px;
    background: transparent url(../images/sprite.png) -485px -91px no-repeat;
}

.module.more_videos .teaser.mf_video:hover:after {
    width: 60px;
    background-position: -485px -127px;
}

/*
.module.more_videos .teaser.mf_video .kicker,
.module.more_videos .teaser.mf_video .headline,
.module.more_videos .teaser.mf_video .duration {
    color: #ffffff;
}
*/

/* editor's summary */

.module.editors {
	width: 1000px;
	margin-top: 15px;
}

.teaser.editor {
    float: left;
    position: relative;
    display: block;
    width: 154px;
    height: 320px;
    margin-right: 10px;
    margin-bottom: 20px;
    overflow: hidden;
    text-align: center;
}

.teaser.editor .kicker {
    margin-top: 5px;
    margin-bottom: 5px;
}

.teaser.editor .headline {
    font-family: ScoutCond, Arial, sans-serif;
    font-weight: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
}

/* image teaser */

.module.image-teaser {
	width: 1000px;
	margin-bottom: 20px;
}

/* Teaser Carousel */
.module.teaser-carousel{
    position: relative;
    width: 980px;
    height: 445px;
    overflow: hidden;
}
.module.teaser-carousel ul{
    position: relative;
    width: 10000px;
    left: 0;
    top: 0;

}

.module.teaser-carousel .next, .module.teaser-carousel .prev{
    position: absolute;
    display: block;
    top: 50%;
    margin-top: -32px;
    left: 0px;
    width: 32px;
    height: 64px;
    z-index: 4;
    background: url(../images/sprite_gallery.png) -120px -100px no-repeat;
    cursor: pointer;
}

.module.teaser-carousel .next {
    left: auto;
    right: 0;
    background-position: -220px -100px;
}

.module.teaser-carousel .prev:hover {
    background-position: -170px -100px;
}

.module.teaser-carousel .next:hover {
    background-position: -270px -100px;
}

.module.teaser-carousel .teaser.lead .textbox{
    left: 40px;
    width: 500px;
}

.module.teaser-carousel li{
    float: left;
}

/* external */

.module.best_of_external {
    width: 1000px;
    height: 250px;
    margin-bottom: 40px;
}

.module.best_of_external iframe {
    width: 100%;
    min-height: 175px;
    border: none;
    margin-left: -5px;
    margin-bottom: 10px;
}

/* advent */

.module.advent {
    position: relative;
    width: 1000px;
    margin-bottom: 40px;
}

.teaser.advent {
    float: left;
    width: 320px;
	height: 213px;
    margin: 0 10px 10px 0;
    overflow: hidden;
	position: relative;
}

.teaser.advent img {
	opacity: 0.4;
}

.teaser.advent.openable .textbox,
.teaser.advent.openable img {
	opacity: 1;
}

.teaser.advent.openable span {
	display: none;
}

.teaser.advent.openable:hover .textbox .headline {
	text-decoration: underline;
}

.teaser.advent .textbox {
    position: absolute;
    bottom: 0;
    left: 10px;
    padding: 0 10px 10px 10px;
    z-index: 2;
	color: #fff;
	opacity: 0.6;
}

.teaser.advent:hover .textbox .headline {
	text-decoration: none;
}

.teaser.advent span {
	position: absolute;
	left: 0;
	top: 0;
	width: 320px;
	font-family: ChronicleTextG3-Bold, Georgia, "Times New Roman", Times, serif;
	font-weight: bold;
	font-size: 120px;
	line-height: 213px;
	text-align: center;
	color: #9e804f;
	z-index: 4;
}

/* Scroll Teaser */
.container.scroll{
    display: block;
    position: relative;
    margin-bottom: 55px;
    overflow: hidden;
}

.container.scroll .foreground{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
}

.container.scroll .nav-prev, .container.scroll .nav-next{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 12;
    width: 10%;
    height: 100%;
    min-width: 70px;
    cursor: pointer;
}

.container.scroll .nav-prev:before, .container.scroll .nav-next:before{
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -32px;
    top: 50%;
    margin-top: -32px;
    width: 63px;
    height: 63px;
    opacity: .6;
    background: transparent url(/extension/cndesigngq/design/gq/images/arrows.png) 0 0 no-repeat;
}

.container.scroll .nav-prev:hover:before, .container.scroll .nav-next:hover:before{
    opacity: 1;
}
.container.scroll .nav-next{
    right: 0;
    left: auto;
}

.container.scroll .nav-next:before{
    background-position: -63px 0;
}

.module.scroll {
    width: 10000px;
    height: 380px;
    position: absolute;
    bottom: 10px;
    left: 2px;
}

div.scrollWrapper {
    position: absolute;
    height: 380px;
}

/* --- video --- */

.tabs-with-search.full {
	width: auto;
}

.video-lead-carousel {
	margin: 0;
}

.video-carousel-wrapper {
	position: relative;
	width: 980px;
}

.video-carousel-wrapper #video-carousel {
	position: relative;
	overflow: hidden;
}

.video-carousel-wrapper #video-carousel ul {
    width: 20000px;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
	left: 0;
	top: 0;
}

.video-carousel-wrapper #video-carousel li {
	width: 980px;
	float: left;
	position: relative;
}

.video-carousel-wrapper #video-carousel li a {
	display: block;
	text-decoration: none;
}

.video-carousel-wrapper #video-carousel li a.teaser.video:after {
	display: none;
}

.video-carousel-wrapper #video-carousel li figure {
	width: 980px;
	height: 551px;
	margin-bottom: 10px;
	background-color: #000;
	background-position: 0 0;
	background-size: cover;
	position: relative;
}

.video-carousel-wrapper #video-carousel li figure span {
	display: inline-block;
	position: absolute;
	right: 10px;
	bottom: 10px;
	color: #fff;
	text-shadow: 0 0 3px #000, 0 0 3px #000, 0 0 3px #000, 0 0 3px #000;
    font: 14px/1.2 Arial, sans-serif;
    font-weight: bold;
}

.video-carousel-wrapper #video-carousel li .headline {
    font: normal 32px/normal ScoutCond, Arial, sans-serif;
    color: #000000;
	text-align: center;
	letter-spacing: 1px;
    text-transform: uppercase;
}

.video-carousel-wrapper #video-carousel li p {
	font: 16px/1.2 "Times New Roman", Times, serif;
	color: #777!important;
	margin: 5px 0 0;
}

.video-carousel-wrapper #video-carousel li p b {
	color: #b79346;
    font: 11px/17px Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
	display: inline-block;
	margin-right: 2px;
}

.video-carousel-wrapper a.jcarousel-control-prev,
.video-carousel-wrapper a.jcarousel-control-next {
	position: absolute;
    top: 250px;
    width: 50px;
    height: 50px;
	z-index: 5;
	display: inline-block;
	font-size: 20px;
	background: url('../images/sprite_gallery.png') -120px top no-repeat;
	opacity: .5;
}

.video-carousel-wrapper a.jcarousel-control-prev {
	left: 10px;
}

.video-carousel-wrapper a.jcarousel-control-prev:hover {
	background-position: -170px 0;
}

.video-carousel-wrapper a.jcarousel-control-next {
	right: 10px;
	background-position: -220px 0;
}

.video-carousel-wrapper a.jcarousel-control-next:hover {
	background-position: -270px 0;
}

.video-carousel-wrapper:hover a.jcarousel-control-prev,
.video-carousel-wrapper:hover a.jcarousel-control-next {
	opacity: 1;
}

.module.video-summary:after {
	content: "";
	width: 100%;
	display: block;
	height: 5px;
	clear: both;
}

.module.video-row {
	height: 250px;
	margin: 100px 0 0;
	border: none;
}

.module.video-row .stopper {
	width: 960px;
	position: absolute;
	left: 0;
	top: -60px;
	z-index: 3;
}

.module.video-summary {
	border: none;
	margin: 40px 0 0 0;
}

.module.video-row .banner_container {
	position: absolute;
	right: 0;
	top: 0;
	width: 300px;
	z-index: 5;
}

.module.video-summary > a.teaser.video {
	margin-bottom: 40px; 
}

.module.video-summary > a.teaser.video,
.module.video-row > a.teaser.video {
	display: block;
	width: 300px;
	height: 250px;
	overflow: hidden;
	float: left;
	margin-left: 40px;
	text-decoration: none;
}

.module.video-summary > a.teaser.video:nth-child(3n+1),
.module.video-row > a.teaser.video:first-child {
	margin-left: 0;
}

.module.video-summary > a.teaser.video:after,
.module.video-row > a.teaser.video:after {
    content: "";
    display: block;
    position: absolute;
    top: 61px;
    left: 111px;
    width: 78px;
    height: 78px;
    background: transparent url('../images/sprite.png') -238px -204px no-repeat;
}

.module.video-summary > a.teaser.video:hover:after,
.module.video-row > a.teaser.video:hover:after {
    width: 141px;
    background-position: -238px -282px;
}

.module.video-summary > a.teaser.video figure,
.module.video-row > a.teaser.video figure {
	width: 300px;
	height: 200px;
	background-color: #000;
	background-position: center center;
	background-size: cover;
	margin-bottom: 5px;
	position: relative;
}

.module.video-summary > a.teaser.video figure span,
.module.video-row > a.teaser.video figure span {
	display: inline-block;
	position: absolute;
	right: 10px;
	bottom: 10px;
	color: #fff;
	text-shadow: 0 0 3px #000, 0 0 3px #000, 0 0 3px #000, 0 0 3px #000;
    font: 12px/1.2 Arial, sans-serif;
    font-weight: bold;
}

.module.video-summary > a.teaser.video .headline,
.module.video-row > a.teaser.video .headline {
	font: normal 20px/22px ScoutCond, Arial, sans-serif;
    color: #000000;
	letter-spacing: 1px;
    text-transform: uppercase;
	text-align: center;
}

.video-overview.content_nav {
	margin: 30px 0;
}

.video-overview.content_nav > a {
	padding: 0 10px;
}

.video-spacer {
	height: 40px;
}
