@charset "Shift_JIS";

/* ekitan service main menu cnt_1008 version-A  2011-01-06*/

#cnt_1008a { margin-top:10px;}
#cnt_1008a ul.menu_lists { line-height:2em;}
#cnt_1008a ul.menu_lists li ul.express { margin-top:5px;}

#cnt_1008a ul.menu_lists li.sub a { background:none; background:url(../../../globalimg/icon_rightarrow.gif) no-repeat;}
#cnt_1008a.ekimod .ekimod_header h2 { color:#669; background:url(../../../globalimg/bg_h3_topmenu.gif) repeat; padding:3px 5px; font-size:100%; border-bottom:1px solid #D1D1E9;}
#cnt_1008a.ekimod { background:url(../../../globalimg/bg_topmenu.gif) repeat-y; border:1px solid #D1D1E9;}
