@charset "Shift_JIS";

/* ekitan 駅探からのお知らせ cnt_1014 version-A  2009-03-06*/

	/* 新着情報 */
#cnt_1014a.ekimod { border:1px solid #F4DD83;}
#cnt_1014a.ekimod .ekimod_header h2 { color:#960; background:url(../../../globalimg/bg_h2_yellow.gif) repeat-x; padding:3px 5px;}
#cnt_1014a.ekimod .ekimod_header h2 img { vertical-align:middle; margin-left:10px;}
#cnt_1014a.ekimod .ekimod_content { margin-bottom:0; padding-top:5px;}
#cnt_1014a.ekimod .menus { margin-bottom:0; padding-top:5px;}