@charset "Shift_JIS";

/* ekitan service main menu cnt_1002 version-B  2014-03-18 */

#cnt_1002b { margin-top:10px;}
#cnt_1002b ul.menu_lists { line-height:2em;}
#cnt_1002b ul.menu_lists li ul.value_days { margin-top:5px;}

#cnt_1002b ul.menu_lists li.sub a { background:none; background:url(../../../globalimg/icon_rightarrow.gif) no-repeat;}
#cnt_1002b.ekimod .ekimod_header h2 { color:#669; background:url(../../../globalimg/bg_h3_topmenu.gif) repeat; padding:3px 5px; font-size:100%; border-bottom:1px solid #D1D1E9;}
#cnt_1002b.ekimod { background:url(../../../globalimg/bg_topmenu.gif) repeat-y; border:1px solid #D1D1E9;}
