@charset "Shift_JIS";

/* ekitan service main menu cnt_1006 version-A  2013-03-07*/

#cnt_1006a { margin-top:10px;}
#cnt_1006a ul.menu_lists { line-height:2em; margin:0;}

#cnt_1006a ul.menu_lists li.sub a { background:none; background:url(/cmn/globalimg/icon_rightarrow.gif) no-repeat;}
#cnt_1006a.ekimod { background-color:#f2f8ff; border:1px solid #D1D1E9;}