@charset "Shift_JIS";

/* ekitan service main menu cnt_1001 version-A  2009-03-06*/

#cnt_1001a { margin-top:10px;}
#cnt_1001a ul.menu_lists { line-height:2em;}
#cnt_1001a ul.menu_lists li.travel a { background:url(../../../globalimg/icon_travel.png) no-repeat;}
#cnt_1001a ul.menu_lists li.norikae a { background:url(../../../globalimg/icon_ekitan.gif) no-repeat;}
#cnt_1001a ul.menu_lists li.syuuhatsu a { background:url(../../../globalimg/icon_train_syuden.gif) no-repeat;}
#cnt_1001a ul.menu_lists li.jikokuhyou a { background:url(../../../globalimg/icon_timetable.gif) no-repeat;}
#cnt_1001a ul.menu_lists li.busannai a { background:url(../../../globalimg/icon_bus.gif) no-repeat;}
#cnt_1001a ul.menu_lists li.ppnavi a { background:url(../../../globalimg/icon_ppnavi.gif) no-repeat;}
#cnt_1001a ul.menu_lists li.freeword a { background:url(../../../globalimg/icon_text.gif) no-repeat;}
#cnt_1001a ul.menu_lists li.unkouzyouhou a { background:url(../../../globalimg/icon_tinfo.gif) no-repeat;}
#cnt_1001a ul.menu_lists li.rosenzu a { background:url(../../../globalimg/icon_rosenzu.gif) no-repeat;}
#cnt_1001a ul.menu_lists li.station a { background:url(../../../globalimg/icon_station.gif) no-repeat;}
#cnt_1001a ul.menu_lists li.surrounding .nolink { background:url(../../../globalimg/icon_yard.gif) no-repeat; padding-left:18px; padding-top:1px; padding-bottom:2px;}
#cnt_1001a ul.menu_lists li.odekake a {background:transparent url(../../../globalimg/icon_walk.gif) no-repeat;}
#cnt_1001a ul.menu_lists li.busjyouhou a {background:transparent url(../../../globalimg/icon_bus.gif) no-repeat scroll 0%;}

#cnt_1001a ul.menu_lists li.sub a { background:none; background:url(../../../globalimg/icon_rightarrow.gif) no-repeat; margin-left:10px;}
#cnt_1001a.ekimod .ekimod_header h2 { color:#669; background:url(../../../globalimg/bg_h3_topmenu.gif) repeat; padding:3px 5px; font-size:100%; border-bottom:1px solid #D1D1E9;}
#cnt_1001a.ekimod { background:url(../../../globalimg/bg_topmenu.gif) repeat-y; border:1px solid #D1D1E9;}
