
@charset "Shift_JIS";

/* ekitan service main menu cnt_1010 version-A  2013-03-07*/

#cnt_1010a { margin-top:10px;}
#cnt_1010a ul.menu_lists { line-height:2em; margin-bottom:5px;}
#cnt_1010a ul.menu_lists li ul.co_service { margin-top:5px;}

#cnt_1010a ul.menu_lists li.sub a { background:none; background:url(../../../globalimg/icon_rightarrow.gif) no-repeat;}
#cnt_1010a.ekimod .ekimod_header h2 { color:#669; background:url(../../../globalimg/bg_h3_topmenu.gif) repeat; padding:3px 5px; font-size:100%; border-bottom:1px solid #D1D1E9;}
#cnt_1010a.ekimod { background:url(../../../globalimg/bg_topmenu.gif) repeat-y; border:1px solid #D1D1E9;}

#cnt_1010a ul.menu_sublists { display:block; float:left; clear:both; text-align:right; width:100%; margin-bottom:10px;*margin-bottom:0px;}
#cnt_1010a ul.menu_sublists li { line-height:140%;}
#cnt_1010a ul.menu_sublists li a { background:url(../../../globalimg/icon_rightlink.gif) no-repeat; padding-left:18px; padding-top:1px; padding-bottom:2px;}