@charset "Shift_JIS";

/* ekitan service main menu cnt_1002 version-A  2011-01-06*/

#cnt_1002a { margin-top:10px;}
#cnt_1002a ul.menu_lists { line-height:2em;}

#cnt_1002a ul.menu_lists li a.smartphone_menu { padding:0; margin:7px 0 10px;}

#cnt_1002a ul.menu_lists li.sub a { background:none; background:url(../../../globalimg/icon_rightarrow.gif) no-repeat;}
#cnt_1002a.ekimod .ekimod_header h2 { color:#669; background:url(../../../globalimg/bg_h3_topmenu.gif) repeat; padding:3px 5px; font-size:100%; border-bottom:1px solid #D1D1E9;}
#cnt_1002a.ekimod { background:url(../../../globalimg/bg_topmenu.gif) repeat-y; border:1px solid #D1D1E9;}
