@charset "shift_jis";

/*---------------- ポップアップページ ----------------*/

/*-------- subheader --------*/
#subheader { margin:0 auto; padding:0; position:static; width:100%; text-align:center; background:url(../../globalimg/bg_subheader.gif) repeat-x left top;}
#subheader_inner { position:static; width:100%; padding-top:5px; zoom:1;}
#subheader h1 { margin:0; padding:0; float:left; font-size:116%; color:#555;}
#subheader h1 img { margin:0; padding:0; vertical-align:middle;}
#subheader h1 span { margin:0 0 0 5px; padding:0; vertical-align:middle;}
#subheader .ekimod { height:39px; padding-bottom:0; white-space:nowrap;}
#subheader .ekimod .ekimod_header ul.menu_sublinks { margin:15px 10px 5px 0; white-space:normal; font-size:77%; text-align:right;}
	ul.menu_sublinks .sitetop a { background:url(../../globalimg/icon_rightarrow.gif) no-repeat;}
	ul.menu_sublinks .help a { background:url(../../globalimg/icon_rightarrow.gif) no-repeat;}
	ul.menu_sublinks .inquiry a { background:url(../../globalimg/icon_rightarrow.gif) no-repeat;}
	ul.menu_sublists .more a { background:url(../../globalimg/icon_rightlink.gif) no-repeat;}
#subheader .ekimod .ekimod_content { clear:both; display:none;}

/* subbody */
#subbody { margin:0 auto; padding:0 0 1px 0; position:static; width:100%; text-align:center;}
#subbody_inner { position:static; zoom:1;}
	em { margin:0 0 0 5px;}
	.banner {}
	
#subbody h2 { margin:10px 0; padding:5px 10px 8px 10px; font-size:108%; background:url(../../globalimg/bg_h2.gif) repeat-x 0 0; clear:both;}
#subbody h2 em { color:#06d; margin:0 3px; font-size:116%;}

/* subfooter */
#subfooter { clear:both; margin:15px auto 0; padding:0; position:static; width:100%; text-align:center; background:transparent url(../../globalimg/bg_subfooter.gif) repeat-x left top;}
#subfooter_inner { position:static; zoom:1; padding-top:10px;}
	#func_popupclose { clear:both;}
	.copyright {}


/* 注意書き欄（共有） */
#ps { border:1px solid #CC3300; width:97%; margin:0 auto;}
#ps.ekimod .ekimod_header { display:none;}
#ps.ekimod h4 { color:#CC3300; padding:5px 10px;}
#ps.ekimod ol { line-height:140%; font-size:85%; list-style-type:disc;}
/* 追加メニュー欄（共有） */
#rm { border:1px solid #CCCCCC; width:97%; margin:0 auto;}
#rm.ekimod .ekimod_header { display:none;}
#rm.ekimod h4 { color:#CC3300; padding:5px 10px;}
#rm.ekimod ol { line-height:140%; font-size:85%; list-style-type:disc;}

/*	table { border-top:1px solid #555; border-left:1px solid #555; border-collapse:collapse; width:100%;}
	table th, table td { border-right:1px solid #555; border-bottom:1px solid #555; padding:3px;}
	table th { background:#def;} */
/* メニュー */
	#subleftmenu { border:1px solid #D1D1E9;}
	#subleftmenu .ekimod_header { background:transparent url(../../globalimg/bg_h3_popmenu.gif) repeat-x left top;}
	#subleftmenu .ekimod_header h3 { padding:5px;}
	#subleftmenu ul.menu_lists { padding-bottom:10px; * padding-bottom:0px;}
	#subleftmenu ul.menu_lists li a { background:url(../../globalimg/icon_rightarrow.gif) no-repeat;}
/* コンテンツ */
	#subgamma {}
	#subgamma .ekimod_header {}

/* 地図 */
	#maps { text-align:center;}
	#maps .ekimod_header { display:none;}


/*---------------- 乗り換え案内 ----------------*/
/* 通勤定期 */
#passlist {}
#passlist h3 { padding-left:15px;}
#passlist h3 select { font-weight:normal;}
#passlist h3 span { margin:0 10px;}
#passlist h3 em { font-size:120%; color:#06d; margin-right:5px; font-weight:bold;}
#passlist.ekimod table { width:100%; margin:0; padding:0; border-collapse:collapse; border-spacing:0; empty-cells:show; border:1px solid #d1d1e9; margin-bottom:5px;}
#passlist.ekimod th { padding:2px 0; color:#777; background-color:#eee; font-weight:normal; border-bottom:1px solid #d1d1e9; text-align:center;}
#passlist.ekimod td { padding:4px 8px; border:none;}
.ekimod .ekimod_content .even td.station { font-size:116%; font-weight:bold;}
	.ekimod .ekimod_content .odd td.act { background:url(../../globalimg/bg_move.gif) repeat-y 18px top;}
	ul.menu_lists li.train { background:url(../../globalimg/icon_train.gif) no-repeat; padding-left:20px;}
	ul.menu_lists li.bus { background:url(../../globalimg/icon_bus.gif) no-repeat; padding-left:20px;}
	ul.menu_lists li.airplane { background:url(../../globalimg/icon_airplane.gif) no-repeat; padding-left:20px;}
		ul.menu_lists li.ana { background:transparent;}
		ul.menu_lists li.jal { background:transparent;}
		ul.menu_lists li.sna { background:transparent;}
	ul.menu_lists li.walk { background:url(../../globalimg/icon_walk.gif) no-repeat; padding-left:20px;}
	.exitnum { font-weight:bold; width:100px;}
	.exitroute {}

/* 出口情報 */
#exitlist {}
#exitlist.ekimod .ekimod_header { display:none;}
#exitlist.ekimod table { width:100%; margin:0; padding:0; border-collapse:collapse; border-spacing:0; empty-cells:show; border:1px solid #d1d1e9; margin-bottom:5px;}
#exitlist.ekimod th { padding:2px 0; color:#777; background-color:#eee; font-weight:normal; border:none; border-bottom:1px solid #d1d1e9; text-align:center;}
#exitlist.ekimod td { padding:4px 8px; border:none;}
#exitlist.ekimod ul {}
#exitlist.ekimod ul li { width:200px; float:left; background:url(../../globalimg/icon_graydisc.gif) no-repeat; padding-left:15px;}
	.exitnum { font-weight:bold; width:60px; font-size:116%;}
	.exitroute {}

/* 乗車位置 */
#poslist {}
#poslist .course { margin-left:15px;}
#poslist h3 em { font-size:120%; color:#06d; margin-right:5px; font-weight:bold;}
#poslist.ekimod table { width:auto; margin:0 auto; padding:0; border-collapse:collapse; border-spacing:0; empty-cells:show; margin-bottom:5px; border:none;}
#poslist.ekimod caption { text-align:center; padding-bottom:10px;}
#poslist.ekimod th { padding:2px 0; color:#777; background-color:#eee; font-weight:normal; border-bottom:1px solid #d1d1e9; text-align:center; border:none;}
#poslist.ekimod td { text-align:center; font-size:116%; border:none;}
#poslist.ekimod td img { display:block;}
.ekimod .ekimod_content .even td.station { font-size:116%; font-weight:bold;}
	.ekimod .ekimod_content .odd td.act { background:url(../../globalimg/bg_move.gif) repeat-y 18px top;}
	ul.menu_lists li.train { background:url(../../globalimg/icon_train.gif) no-repeat; padding-left:20px;}
	ul.menu_lists li.bus { background:url(../../globalimg/icon_bus.gif) no-repeat; padding-left:20px;}
	ul.menu_lists li.airplane { background:url(../../globalimg/icon_airplane.gif) no-repeat; padding-left:20px;}
		ul.menu_lists li.ana { background:transparent;}
		ul.menu_lists li.jal { background:transparent;}
		ul.menu_lists li.sna { background:transparent;}
	ul.menu_lists li.walk { background:url(../../globalimg/icon_walk.gif) no-repeat; padding-left:20px;}
	.exitnum { font-weight:bold; width:100px;}
	.exitroute {}

/* 駅構内図 */
	#subrightmenu {}
	#subrightmenu .ekimod { border:1px solid #D1D1E9; margin-bottom:10px;}
	#subrightmenu .ekimod_header { background:transparent url(../../globalimg/bg_h3_popmenu.gif) repeat-x left top;}
	#subrightmenu .ekimod_header h3 { padding:5px;}
	#subrightmenu ul.menu_lists { padding-bottom:10px; * padding-bottom:0px;}
	#subrightmenu ul.menu_lists li a { background:url(../../globalimg/icon_rightarrow.gif) no-repeat;}

/*---------------- 乗り換え＋地図 ----------------*/
/* ログイン */
#loginbox {}
#rm ul.menu_lists li { background:url(../../globalimg/icon_rightarrow.gif) no-repeat;}
/* スポット削除 */
#deletelist {}
#deletelist ul { line-height:140%; margin-left:15px;}
#deletelist ul li a { padding-left:30px;}
/* スポット登録 */
#registerbox {}
/* ルート登録 */
#registerbox {}
/* 地図 */
#mapbox {}
#mapbox .ekimod_content { text-align:center;}
#mapbox .ekimod_content div.center { margin:10px 5px;}
#mapbox .ekimod_content div.center input { margin:0 5px;}