@charset "shift_jis";

/*---------------- 運行情報 ----------------*/

/* 運行情報　train_info */
#train_info {}
#train_info .ekimod_header {}
#train_info .menus { display:block; clear:both; margin:8px 0 6px;}
#train_info .menu_links { margin:3px 0 7px;}
#train_info .menu_links li.titles { font-weight:bold; font-size:1.15em;}
#train_info .menu_links li.titles a { background:none; padding-left:0; margin-left:10px;}
#train_info .menu_links li img{ vertical-align: middle; margin:0 6px 1px 0;}

#train_info .menu_sublinks { margin-bottom:5px;}
#train_info .menu_sublinks li#train_area { background:none; margin:0 10px;}
#train_info .menu_sublinks li#train_area a { padding:0;}

#train_info .ekimod_content { border-top:1px solid #AAAAAA; padding:0; margin:0 0 8px;}
#train_info ul.unkou_list { border-bottom:1px dotted #AAAAAA; margin:0; padding:0;}
#train_info ul.unkou_list li { float:left;}
#train_info ul.unkou_list li.list_left { width:234px; border-right:1px dotted #AAAAAA;}
#train_info ul.unkou_list li.list_right { width:233px;}
#train_info ul.unkou_list li a {
	display:block;
	padding:12px;
	min-height:30px;
	color:#0033cc;
	cursor:pointer;
}
#train_info ul.unkou_list li a:hover { background-color:#e1eeff;}
#train_info ul.unkou_list li a span {
	margin-left:1px;
	padding:0;
	color:#777;
	text-decoration:none;
	display:inline-block;
}
#train_info ul.unkou_list li a span:hover { padding:0; color:#777; text-decoration:none;}
#train_info ul.unkou_list li a span.unkou_nashi { padding:1px 0 2px 0;}
#train_info ul.unkou_list li a span.unkou_ari {
	color:#000;
	padding:1px 0 2px 18px;
	background:url(../../../unkou/img/icon_tinfo_ari.gif) no-repeat;
}
#train_info ul.unkou_list li a span em {}

#train_info #beginning {
	padding: 10px 0 0;
	margin:0;
}
#train_info #beginning .menu_links { margin:0 0 0 10px;}
#train_info #beginning .menu_links li.comment {
	font-weight:normal;
	font-size:1em;
}
#train_info #beginning .menu_links li.comment a {
	display:inline-block;
	margin-top:2px;
	padding:1px 0 2px 18px;
	background:url(/cmn/globalimg/icon_rightarrow.gif) no-repeat;
}
#train_info #beginning .menu_sublinks { margin:6px 0 0;}
#train_info #beginning .menu_sublinks li#train_line { background:none; margin:0 10px;}
#train_info #beginning .menu_sublinks li#train_line a { padding:0;}



/* 運行情報の路線設定 */
#train_edit  { padding-top:5px;}


/*----------運行情報設定等----------*/
div#map_link_box h3{
	border-bottom: 1px solid #B2E0FF;
	background: url(../../../unkou/img/setup_icathc_icon.gif) no-repeat 0px 6px;
}

h3.ttl{
	border-bottom: 1px solid #B2E0FF;
	background: url(../../../unkou/img/setup_icathc_icon.gif) no-repeat 6px 10px;
}

h3 span{
	margin-left: 20px;
	line-height: 180%;
}

div#unkou_setup_main{
	border-bottom: 1px solid #B2E0FF;
	padding: 10px;
}

p.txt_center{
	padding: 10px 20px 20px 20px;
	text-align: left;
}

p.txt_supply{
	padding-top: 10px;
	text-align: right;
	font-size : 80%;
}


p.txt_center span{
	color: #C00;
	font-weight: bold;
}

/*登録路線一覧*/
div#unkou_setup_main table{
	margin: 0 auto;
}

.grey_bg{
	background-color: #F1F1F1;
}

div#unkou_setup_main table tr td{
	padding-left: 12px;
	font-weight: bold;
	line-height: 200%;

}

/*電鉄会社リスト*/

table#train_cmpny_list{
	border:none;
	border-collapse:collapse;
	border-spacing:0pt;
	clear:both;
	empty-cells:show;
	width:100%;
}


table#train_cmpny_list tr td{
	background: url(../../../unkou/img/dot_arrow_icon.gif) no-repeat  4px 7px;
}

table#train_cmpny_list tr td.grey_bg{
	background-color: #F1F1F1;
}

table#train_cmpny_list tr td a{
	margin: 0 4px;
}

table#train_cmpny_list tr td img{
	vertical-align: middle;
	margin-left: 4px;
}

/*路線リスト*/
table#add_reg_list{
	border:none;
	border-collapse:collapse;
	border-spacing:0pt;
	clear:both;
	empty-cells:show;
	width:100%;
}

table#reg_line_list{
	border:none;
	border-collapse:collapse;
	border-spacing:0pt;
	clear:both;
	empty-cells:show;
	width:100%;
}

table#reg_line_list tr td.grey_bg{
	background-color: #F1F1F1;
}

table#add_reg_list tr td{
	background: url(../../../unkou/img/check_icon.gif) no-repeat 4px 7px;
}

table#add_reg_list tr td span{
	margin-left: 14px;
}

table#add_reg_list tr td.grey_bg{
	background-color: #F1F1F1;
}

/*路線リスト(エリアから)*/
table#reg_line_list_area{
	border:none;
	border-collapse:collapse;
	border-spacing:0pt;
	clear:both;
	empty-cells:show;
	width:100%;
}

table#reg_line_list_area tr td{
	background: url(../../../unkou/img/dot_arrow_icon.gif) no-repeat  4px 7px; padding:1px 8px;
}

table#reg_line_list_area tr td.grey_bg{
	background-color: #F1F1F1;
}

table#reg_line_list_area tr td a{
	margin: 0 4px;
}

table#reg_line_list_area tr td img{
	vertical-align: middle;
}

/*削除路線リスト*/
table#delete_line_list tr td.grey_bg{
	background-color: #F1F1F1;
}

table#delete_line_list tr td{
	background: url(../../../unkou/img/delete_icon.gif) no-repeat 4px 8px;
}

table#delete_line_list tr td span{
	margin-left: 14px;
}

table#delete_line_list tr td.grey_bg{
	background-color: #F1F1F1;
}


/*地図*/
div#map{
	width: 647px;
	margin: 0 auto;
	position: relative;
}

div#map div#map_link_box{
	width: 358px;
	background-color: #FFF;
	border: 1px solid #B2E0FF;
	position: absolute;
	top: 12px;
	left: 12px;
}

div#map div#map_link_box h3{
	margin: 8px;
}

div#map div#map_link_box table{
	margin: 0 8px 8px 8px;
}

div#map div#map_link_box table tr td{
	background: url(../../../unkou/img/dot_arrow_icon.gif) no-repeat  4px 6px;
	line-height: 180%;
	width: 25%;
}

div#map div#map_link_box table {
	border:none;
	border-collapse:collapse;
	border-spacing:0pt;
	clear:both;
	empty-cells:show;
	width:100%;
}

div#map div#map_link_box table tr td a{
	margin: 0 4px 0 12px;
}

div#map div#map_link_box table tr td img{
	vertical-align: middle;
}

div#map div#map_link_box p{
	margin-left: 8px;
	font-size: 80%;
	color: #C00;
}

div#map .map_info{
	font-size:70%;
	line-height: 130%;
	color:#8c8c8c;
}


/*ボタン*/
div#setup_bttn{
	margin: 24px auto 0 auto;
	width: 35%;
}

div#reg_bttn, div#delete_bttn{
	margin: 24px auto 0 auto;
	width: 8em;
}

div#setup_bttn input,
div#reg_bttn input,
div#delete_bttn input{
	width: 8em;
}

input.bttn_mrgn{
	margin-right: 24px;
}

/*エリア設定*/
p#area_setup_result{
	background: url(../../../unkou/img/check_icon.gif) no-repeat 4px 7px;
	margin: 0 auto;
	font-weight: bold;
	padding-left: 24px;
	line-height: 200%;
	width: 10%;
}

/*エラーメッセージ*/
p#error{
	text-align: center;
}

p#error img{
	vertical-align: middle;
}

p#error span{
	line-height: 200%;
	margin-left: 4px;
	font-weight: bold;
}

/*説明文*/
p.attach_txt{
	margin-top: 4px;
	text-align: left;
}

/*現在時刻*/
p.datetime_txt{
	margin-top: 4px;
	text-align: left;
}

/*サブ説明*/
span.sub_txt{
	margin-left: 20px;
	text-align: left;
}


/*下部テキストリンク*/

ul#bttm_links li{
	background: url(../../../unkou/img/dot_arrow_icon.gif) no-repeat 0 2px;
	padding-left: 8px;
	margin-top: 8px;
}

ul#unkou_mail_msg li{
	padding-left: 8px;
	margin-top: 8px;
	background: url("");
}


/* 携帯のPR */

#unkou_keitai_pr .ekimod_content{
	padding-top:1px;
	clear:both;
	border-top:1px dotted #aaa;
}

#unkou_keitai_pr li{
	line-height: 130%;

}



