@charset "shift_jis";

/*-------- searcharea --------*/
#searcharea.ekimod .ekimod_content { background:#fff;}

/*-------- adareatop --------*/
.adareatop { border:0px solid #ace; padding-bottom:1px;}
.adareatop .ekimod { border:1px solid #ace; margin-bottom:10px;}
.adareatop .ekimod_header { background:#fff; padding-top:3px;}
.adareatop .ekimod_header h2 { padding:3px 0 3px 8px; color:#069; background:none; margin-left:8px; border-left:5px solid #ace;}
.adareatop .ekimod_header h3 { padding:3px 0 3px 8px; color:#069; background:none; margin-left:8px; border-left:5px solid #ace;}
.adareatop h4 { background:#def; padding:5px 8px; margin:10px 0 5px 0;}
.adareatop h4.guideboard { background:#def url(/cmn/globalimg/icon_guideboard.gif) no-repeat 5px center; padding:5px 8px 5px 45px; margin:0 0 10px 0;}
.adareatop .ekimod_content {}
.adareatop .ekimod_content p { margin-left:10px;}
.adareatop .googleadsence { border:1px solid #ace; margin-bottom:10px;}
.adareatop .googleadsence iframe { margin:10px;}

/*-------- adareabottom 20140612追加 --------*/
#adareabottom { margin-top:40px;}

/*-------- adareadouble 20140612追加 --------*/
#adareadouble, #mainlayout #adareadouble { margin:30px auto 0; text-align:center; width:670px;}
#adareadouble_left { width:50%; text-align:center; float:left;}
#adareadouble_left.banner { margin:0;}
#adareadouble_left div { margin:0 auto;}
#adareadouble_right { width:50%; text-align:center; float:right;}
#adareadouble_right.banner { margin:0;}
#adareadouble_right div { margin:0 auto;}
/* IE HACK */
#adareadouble_left { _width:49%;}
#adareadouble_right { _width:49%;}

/*-------- adarea --------*/
.adarea { border:1px solid #ace; padding-bottom:1px;}
.adarea h2 { margin-top:10px; padding:3px 0; color:#069;}
.adarea h3 { margin-top:10px; padding:3px 0; color:#069;}
.adarea h4 { background:#def; padding:5px 8px; margin:10px 0 5px 0;}
.adarea h4.guideboard { background:#def url(/cmn/globalimg/icon_guideboard.gif) no-repeat 5px center; padding:5px 8px 5px 45px; margin:0 0 10px 0;}
.adarea .ekimod {}
.adarea .ekimod_header { background:#fff;}
.adarea .ekimod_header h2 { margin-left:8px; padding-left:8px; background:none; border-left:5px solid #ace;}
.adarea .ekimod_content {}
.adarea .ekimod_content p { margin-left:10px;}

/* weather */
.weather { vertical-align:baseline;}
.weather img { margin:0 5px 0 0; vertical-align:middle;}

/* weather_transit 乗り換え用 */
table.weather_transit { vertical-align:baseline; margin-left:5px; width:98%;}
table.weather_transit td.weather_transit_dptr { width:48%; border-right:1px dashed #cccccc;}
table.weather_transit td.weather_transit_arrvl { width:51%; padding-left:10px;}
table.weather_transit .weather_images { margin:5px 20px 5px 20px; text-align:center;}
table.weather_transit img { margin:0 5px 0 0; vertical-align:middle;}


/* eco */

#eco {margin-top:10px; back-ground:none; line-height:140%;}
#eco h3 {color:#66b821; font-weight:bold; margin-bottom:3px;}
#eco img {margin-bottom:10px;}

#sponsorsite_start {}

/* air_reserve */

#air_reserve .ekimod_header { margin-bottom: 10px; }
#air_reserve .ekimod_content { padding-top: 0px; }
#air_reserve table { border: #6481cb 1px solid; margin-bottom: 10px; width: 100%; }
#air_reserve table td { background-color: #ebf5fc; padding: 3px 0px 3px 20px; }
#air_reserve table td div.people { float:left; padding-right:4px;}
#air_reserve table td img.link { padding:0 5px 3px; }
#air_reserve table .top_tr td { padding: 0px; }
#air_reserve table .first_tr td { background: url("/cmn/globalimg/air/ana_reserve_title.gif") no-repeat right center; height: 22px; padding: 0px; }
#air_reserve table .second_tr td { padding-top: 15px; }
#air_reserve table .last_tr td { padding: 12px 0px 15px 0px; }
#air_reserve p { margin-left: 0px; }


/* pr_areastop 各種トップ */

.pr_areastop {
	padding:0;
}
.pr_areastop .ekimod_content {
	margin:0;
	display:inline-block;
}
.pr_areastop .pr_boxs {
	display:inline-block;
	border-top:1px dotted #AAA;
	margin:0 0 10px;
	padding:12px 0 0;
	width:100%;
}
.pr_areastop .pr_boxs:first-child {
	border:none;
	padding:0;
}
.pr_areastop p.pr_areas_img {
	float:left;
	margin:0;
	padding:0 10px 0 2px;
	width:60px;
}
.pr_areastop .pr_areas_main {
	float:left;
	width:200px;
}
.pr_areastop dl dt {
	font-weight:bold;
	margin-bottom:3px;
}


/* banner */

/* ※global.cssに記載されているが、subbody用はこちらに記載 */

#subbody .banner_h90 {
	margin:10px auto 0;
	text-align:center;
	width:100%;
	height:95px;
}