@charset "shift_jis";



#alpha .banner { margin:10px 0 0 0; text-align:center;}
#alpha .banner ul { margin:0 auto;}
#alpha .banner li { display:inline; margin-left:1.8em;}
#alpha .banner li a { background:url(../../globalimg/icon_rightarrow.gif) no-repeat; padding-left:15px;}
#alpha .banner li img { vertical-align:baseline;}