@charset "shift_jis";
.ac_results {
	background-color:white;
	border:1px solid gray;
	display:none;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0pt;
	padding:0pt;
	position:absolute;
	z-index:10000;
}
.ac_results li {
	color:#101010;
	padding:2px 5px;
	text-align:left;
	white-space:nowrap;
}
.ac_over {
	background-color:#F0F0B8;
	cursor:pointer;
}
.ac_match {
	color:black;
	text-decoration:underline;
}
.ac_list {
	width :155px;
	background-color :white;
	text-align:left;
	border:1px solid black;
}