@charset "Shift_JIS";

/*-------- globalfooter --------*/
.copyright {
	clear:both;
	margin:10px 0 20px 0;
}

#globalfooter {
	margin:40px auto 0;
	padding:0;
	position:static;
	width:100%;
	text-align:center;
	clear:both;
}
#footer_upper {
	margin:0 auto 0;
	padding:22px 0 20px;
	width:100%;
	text-align:center;
	border-bottom:1px solid #b4cdf5;
	background:#f5faff url(/cmn/globalimg/bg_globalfooter.gif) repeat-x left top;
}
#footer_menus {
	margin:0 auto;
	padding:0;
	width:980px;
}
.footer_menus_box {
	display:block;
	float:left;
	width:243px;
	height:380px;
	text-align:left;
	margin:0;
	padding:0;
	border-left:1px solid #5ba2df;
}
.footer_menus_box ul {
	padding:5px 0 0 15px;
	font-weight:bold;
	color:#555;
}
.footer_menus_box ul li {
	padding-bottom:15px;
}
.footer_menus_box ul li.menu_bottom {
	padding-bottom:5px;
}
.footer_menus_box ul li ul {
	font-size:0.92em;
	font-weight:normal;
	padding:5px 0 0;
}
.footer_menus_box ul li ul.menu_lists {
	display:block;
	float:none;
	width:auto;
	margin:0;
}
.footer_menus_box ul li ul.menu_lists li {
	padding-bottom:0;
	line-height:1.6em;
}
.footer_menus_box ul li ul.menu_lists li a {
	background:url(/cmn/globalimg/icon_rightarrow.gif) no-repeat;
}
#footer_down {
	width:980px;
	margin:0 auto;
	padding:15px 0;
	text-align:center;
}
#footer_down .copyright {
	margin:0;
	padding-right:10px;
	display:inline;
}
#footer_down #footerextramenus {
	font-size:0.92em;
	display:inline;
	color:#555;
}

.footer_menus_new {
	font-size: 10px;
	font-weight: normal;
	margin-left: 0.5em;
	color: #e80429;
}