@charset "shift_jis";

/*-------- ekitan modules --------*/
.ekimod { margin:0; padding:0; text-align:left; padding-bottom:1px;}
.ekimod:after { content: " "; display:block; visibility:hidden; clear:both; height:0.1px; font-size:0.1em; line-height:0;}
* html .ekimod { display:inline-block;}
/* \*/
* html .ekimod { height:1%;} .ekimod { display:block; zoom:1;}
/* */
.ekimod_header { margin:0; padding:0; *height:1%;}
.ekimod_content { margin:0 0 10px 0; padding:10px 10px 0 10px; *height:1%;}
#globalheader_sp {padding-bottom:16px;}
#globalheader_bus {padding-bottom:6px;}

/*--------  ekitan tooltip --------*/
.ekitip { position:absolute; width:250px; z-index:1; height:1%;}
.ekitip:after { content: " "; display:block; visibility:hidden; clear:both; height:0.1px; font-size:0.1em; line-height:0;}
.ekitip_content { position:absolute; background:#fff; border:2px solid #ccc; margin-left:14px; height:1; padding:10px;}
.ekitip_content h3 { white-space:nowrap;}
.ekitip_footer { position:absolute; display:block; height:16px; width:16px; background:url(/cmn/globalimg/arrow.gif); margin-top:20px;}

/*-------- clearfix --------*/
.clearfix:after { content:""; display:block; height:0; visibility:hidden; clear:both;}
.clearfix { display:inline-block; width:auto;}
/* \*/
* html .clearfix { height:1%;}
.clearfix { display:block; zoom:1;}
/* */
/*-------- clearall --------*/
.clearall { width:100%; display:block; visibility:hidden; clear:both;}

/*-------- banner --------*/
.banner { width:100%; margin:10px auto; text-align:center;}
.banner_l { margin:0 5px 0 0; float:left; padding-bottom:0px;}
.banner_r { margin:0 0 0 5px; float:right; padding-bottom:0px;}
.banner#b_y iframe { width:300px; height:250px; border:none;}

/*-------- for premium --------*/
.banner_pre { width:100%; margin:8px auto; text-align:center;}
.banner_pre_l { padding:7px 0 7px 0; float:left;}
.banner_pre_r { padding:7px 0 7px 0; float:right;}

.premium_base_point { position:relative; min-height:150px;}
.premium_base_point .banner_l { position:absolute; top:10px; left:0;}
.premium_base_point .banner_r { position:absolute; top:10px; right:0;}

.premium_base_point_r { position:relative; min-height:200px;}
.premium_base_point_r .banner_l { margin:7px 5px 0 0; float:left; padding-bottom:7px;}
.premium_base_point_r .banner_r { margin:7px 0 0 5px; float:right; padding-bottom:7px;}


/*-------- pr --------*/
.pr { width:100%; margin:10px auto; text-align:center;}


/*-------- basic parts --------*/
/* tabs */
ul.tabs { overflow:hidden; background:url(/cmn/globalimg/bg_tabs_line.gif) 0 top repeat; margin:0; padding:0 10px; font:normal 100% verdana,arial,sans-serif;}
ul.tabs li { display:inline-block; margin:0 0 2px;}
ul.tabs li.sld a { padding-top:4px; top:1px; background:#fff; color:#f60;}
ul.tabs li a { white-space:nowrap; display:block; line-height:24px; border-left:solid 1px #ff9900; border-right:solid 1px #ff9900; background-repeat:repeat-x; background-position:0 top; background-image: url(/cmn/globalimg/bg_tabs_unselected.gif); padding:0 10px; vertical-align:baseline;}
ul.tabs li a:hover { background-position:0 bottom;}
ul.tabs li.selected a { background-position:0 bottom; color:#FF6600; font-weight:bold; text-decoration:none;}
ul.tabs li.selected a:hover { text-decoration:none;}
/* tabs IE6,I7E Hack */
ul.tabs li { /display:inline; /margin:0 0 2px 4px;}



/* tabbtns */
ul.tabbtns { margin:1px 0 10px 0; padding:3px 10px; font:normal 100% verdana,arial,sans-serif;}
ul.tabbtns li { display:inline; white-space:nowrap;}
ul.tabbtns li a { margin-right:0px; padding:3px 10px; border:#39c 1px solid; background:#fec url(/cmn/globalimg/bg_tabbtns_unselected.gif) repeat left bottom; vertical-align:baseline;}
ul.tabbtns li.selected a { padding-top:4px; background:#fff; color:#f60; border:#f90 1px solid;}
ul.tabbtns a:hover { background:#fff;}
ul.tabbtns li.selected a:hover { text-decoration:none;}

/* selected */
.selected, a.selected { color:#FF6600; font-weight:bold;}
a:active.selected { color:#FF6600; text-decoration:none;}
a:hover.selected { color:#FF6600; text-decoration:none;}
a:visited.selected { color:#FF6600; text-decoration:none;}

.sld, a.sld { color:#FF6600; font-weight:bold;}
a:active.sld { color:#FF6600; text-decoration:none;}
a:hover.sld { color:#FF6600; text-decoration:none;}
a:visited.sld { color:#FF6600; text-decoration:none;}

/* alert */
.alert { color:#CC3300; text-align:left; margin:5px 2px; font-weight:bold;}
.alertcolor { color:#CC3300;}
.alertekitan { background:url(/cmn/globalimg/icon_alertekitan.gif) no-repeat; color:#CC3300; padding-left:18px; text-align:left; margin:5px 2px; font-weight:bold;}
/* attention */
.attention { color:#CC6600; clear:both; margin:5px 2px;}
.attention img { vertical-align:middle; margin:0 5px;}
/* info */
.information { color:#777; text-align:left; margin:2px;}
/* urls */
.urls { color:#666666; font-size:85%;}

/* hr line */
hr.line_dotted { border:1px dotted #aaa; height:1px;}

/* table cell */
.odd { background-color:#ffffff;}
.even { background-color:#f1f5fa;}

/*-------- forms --------*/
.forms { clear:both; display:block; width:auto; margin:5px 0 0 0;}
.forms:after { content:""; display:block; height:0; visibility:hidden; clear:both;}

/*-------- input btns --------*/
.btns { clear:both; display:block; width:auto; margin:10px auto; text-align:center;}
.btns:after { content:""; display:block; height:0; visibility:hidden; clear:both;}
.btns input { margin:0 5px;}

/*-------- ul menus --------*/
.menus { clear:both; display:block; width:100%; margin:5px 0; padding:0;}
.menus:after { content:""; display:block; height:0; visibility:hidden; clear:both;}

/* menu_icons アイコン画像 */
ul.menu_icons { float:none; margin:0; padding:0;}
ul.menu_icons li { display:inline; margin:0; padding:0;}
ul.menu_icons a { margin:0; padding:0; float:left; text-align:center;}
/* ul.menu_icons a:hover img { visibility:hidden;} */

/* menu_marks マーク画像（寄せ無し） */
ul.menu_marks { display:inline; float:none; margin:0; padding:0; text-align:left;}
ul.menu_marks li { display:inline; white-space:nowrap;}
ul.menu_marks a { background:transparent; padding-left:20px; padding-top:1px; padding-bottom:1px;}

/* menu_links 一行リストメニュー左寄せ */
ul.menu_links { display:block; float:left; margin:0; padding:0; text-align:left; margin-bottom:10px;}
ul.menu_links li { display:inline; margin-right:5px;}
ul.menu_links li a { background:transparent; padding-left:18px; padding-top:1px; padding-bottom:2px;}
.menus ul.menu_links { white-space:nowrap;}

/* menu_links for spパンくず */
#globalbody #globalbody_inner #alpha ul.menu_links { display:block; float:left; margin:0; padding:0; text-align:left; margin-bottom:10px;}

/* menu_sublinks 一行リストメニュー右寄せ */
ul.menu_sublinks { display:block; float:right; margin:0; padding:0; text-align:left; white-space:nowrap; margin-bottom:10px;}
ul.menu_sublinks li { display:inline; margin-left:5px;}
ul.menu_sublinks li a { background:transparent; padding-left:18px; padding-top:1px; padding-bottom:2px;}
.menus ul.menu_sublinks { white-space:nowrap;}

/* menu_lists リストNEW表示(開発で呼んでるるかもしれないので残してありますが、クラス名label_newの方を使ってください。) */
ul.menu_lists .menu_lists_new { font-size: 10px; margin-left: 0.5em; color: #e80429; }

/* menu_lists リストメニュー左寄せ */
ul.menu_lists { display:block; float:left; clear:both; text-align:left; width:100%; margin-bottom:10px;*margin-bottom:0px;}
ul.menu_lists li { line-height:140%;}
ul.menu_lists li a { background:transparent; padding-left:18px; padding-top:1px; padding-bottom:2px;}

/* menu_sublists リストメニュー右寄せ */
ul.menu_sublists { display:block; float:right; clear:both; text-align:left; margin-bottom:10px;*margin-bottom:0px;}
ul.menu_sublists li { line-height:140%;}
ul.menu_sublists li a { background:transparent; padding-left:18px; padding-top:1px; padding-bottom:2px;}

/* menu_btns 一行リストボタン左寄せ */
ul.menu_btns { float:left; margin:0; padding:0;}
ul.menu_btns li { display:inline; margin:0; padding:0;}
ul.menu_btns a { margin:0 2px; padding:0; float:left; text-align:left;}
ul.menu_btns select { float:left; margin:1px 5px;}
/* ul.menu_btns a:hover img { visibility:hidden;} */

/* menu_subbtns 一行リストボタン右寄せ */
ul.menu_subbtns { float:right; margin:0; padding:0;}
ul.menu_subbtns li { display:inline; margin:0; padding:0; text-align:left;}
ul.menu_subbtns a { margin:0 2px; padding:0; float:left;}
ul.menu_subbtns select { float:left; margin:1px 5px;}
/* ul.menu_subbtns a:hover img { visibility:hidden;} */

/* menu_balance 一行 左右配置 */
ul.menu_balance { float:none; margin:0 10px; padding:0; display:block; clear:both; text-align:center; width:100%;}
li.left { display:inline; text-align:left; float:left;}
li.right { display:inline; text-align:right; float:right;}

/* menu_lists リストテキスト左寄せ */
ul.menu_texts { display:block; float:left; text-align:left; *padding-left:10px; width:100%;}
ul.menu_texts li { line-height:140%;}

/* menu_sublists リストテキスト右寄せ */
ul.menu_subtexts { display:block; float:right; text-align:left; *padding-right:10px;}
ul.menu_subtexts li { line-height:140%;}

/* addmenu タイトル内右配置メニュー */
ul.menu_ttladd { margin:-1.53em 0px 0px; padding:0 5px 0.3em 5px; text-align:right;}
ul.menu_ttladd li { display:inline; margin:0 0 0 10px; position:relative;}
ul.menu_ttladd li em { margin-right:5px;}
ul.menu_ttladd li a { background:transparent; padding-left:18px; padding-top:1px; padding-bottom:2px;}

/*--------  画像配置 --------*/
img.left { float:left; margin:3px 5px 3px 0;}
img.center { display:block; margin:3px auto;}
img.right { float:right; margin:3px 0 3px 5px;}

div.left { float:left; margin:3px 5px 3px 0; text-align:left;}
div.center { display:block; margin:3px auto; text-align:center;}
div.right { float:right; margin:3px 0 3px 5px; text-align:right;}

td.left { text-align:left;}
td.center { text-align:center;}
td.right { text-align:right;}

h1 img, h2 img, h3 img, h4 img, h5 img, h6 img, li img { vertical-align:middle;}



/*-------- layout structure --------*/
#alpha, #beta, #gamma, #delta, #epsilon, #epsilon_left, #epsilon_right, #zeta, #eta, #theta, #iota, #kappa, #lambda { display:inline; position:relative; min-height:1px; float:left;*float:none;}
#alpha_inner, #beta_inner, #gamma_inner, #delta_inner, #epsilon_inner, #epsilon_left_inner, #epsilon_right_inner, #zeta_inner, #eta_inner, #theta_inner, #iota_inner, #kappa_inner, #lambda_inner { position:static;}


/*-------- globalsearch --------*/
#globalsearch { width:100%; margin:10px auto 0 auto; padding:0;}
#globalsearch_inner { width:100%; position:static; text-align:center; border-bottom:1px solid #d1d1e9; min-width:980px;}
#globalsearch_inner.no_border { border-bottom:none;}
#globalsearch .functionmenu {}
/* [ ekimod ] */
	/* searcharea */
#searcharea.ekimod { text-align:center; margin-top:-5px;}
	/* globalnav */
#globalsearch_inner #searcharea.ekimod #globalnav { height:44px; margin:0 auto 0; padding:0 0 8px; vertical-align:top; border-bottom:1px solid #D1D1E9;}
#searcharea.ekimod #globalnav ul#globalnav_list { width:980px; height:38px; margin:0 auto; -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); font:bold 1.08em verdana,arial,sans-serif;}
#searcharea.ekimod #globalnav ul#globalnav_list li { float:left; width:140px; height:38px; padding:0; margin:0; position:relative;}
#searcharea.ekimod #globalnav ul#globalnav_list li a { color:#206dcc; text-decoration:none; text-shadow:0 1px 0 #fff; display:block; width:140px; height:28px; padding-top:10px; text-align:center; background:url(/cmn/globalimg/tr_bg_globalnav.gif?20160518) 0 0 no-repeat;}

#searcharea.ekimod #globalnav ul#globalnav_list li.selected { }
#searcharea.ekimod #globalnav ul#globalnav_list li.selected a { color:#ff6600; text-decoration:none;}
#searcharea.ekimod #globalnav ul#globalnav_list li.selected a:hover { text-decoration:none;}

/* globalnav(left_btn) */
#searcharea.ekimod #globalnav ul#globalnav_list li.nav_leftbtn a { background-position: 0 0 !important;}
#searcharea.ekimod #globalnav ul#globalnav_list li.nav_leftbtn a:hover { background-position: 0 -38px !important;}
#searcharea.ekimod #globalnav ul#globalnav_list li.nav_leftbtn.selected a { background-position: 0 -38px !important;}

#searcharea.ekimod #globalnav ul#globalnav_list li.nav_leftbtn.new a { background-position: 0 -380px !important;}
#searcharea.ekimod #globalnav ul#globalnav_list li.nav_leftbtn.new a:hover { background-position: 0 -418px !important;}
#searcharea.ekimod #globalnav ul#globalnav_list li.nav_leftbtn.new.selected a { background-position: 0 -418px !important;}

/* globalnav(right_btn) */
#searcharea.ekimod #globalnav ul#globalnav_list li.nav_rightbtn a { background-position: 0 -228px !important;}
#searcharea.ekimod #globalnav ul#globalnav_list li.nav_rightbtn a:hover { background-position: 0 -266px !important;}
#searcharea.ekimod #globalnav ul#globalnav_list li.nav_rightbtn.selected a { background-position: 0 -266px !important;}

#searcharea.ekimod #globalnav ul#globalnav_list li.nav_rightbtn.new a { background-position: 0 -608px !important;}
#searcharea.ekimod #globalnav ul#globalnav_list li.nav_rightbtn.new a:hover { background-position: 0 -646px !important;}
#searcharea.ekimod #globalnav ul#globalnav_list li.nav_rightbtn.new.selected a { background-position: 0 -646px !important;}

/* globalnav(center_btn) */
#searcharea.ekimod #globalnav ul#globalnav_list li.nav_centerbtn a { background-position: 0 -76px !important;}
#searcharea.ekimod #globalnav ul#globalnav_list li.nav_centerbtn a:hover { background-position: 0 -114px !important;}
#searcharea.ekimod #globalnav ul#globalnav_list li.nav_centerbtn.selected a { background-position: 0 -114px !important;}

#searcharea.ekimod #globalnav ul#globalnav_list li.nav_centerbtn.new a { background-position: 0 -532px !important;}
#searcharea.ekimod #globalnav ul#globalnav_list li.nav_centerbtn.new a:hover { background-position: 0 -570px !important;}
#searcharea.ekimod #globalnav ul#globalnav_list li.nav_centerbtn.new.selected a { background-position: 0 -570px !important;}

/* globalnav(center_btn_dropdown) */
#searcharea.ekimod #globalnav ul#globalnav_list li.nav_centerbtn_dropdown a { background-position: 0 -152px !important;}
#searcharea.ekimod #globalnav ul#globalnav_list li.nav_centerbtn_dropdown a:hover { background-position: 0 -190px !important;}
#searcharea.ekimod #globalnav ul#globalnav_list li.nav_centerbtn_dropdown.selected a { background-position: 0 -190px !important;}

#searcharea.ekimod #globalnav ul#globalnav_list li.nav_centerbtn_dropdown.new a { background-position: 0 -456px !important;}
#searcharea.ekimod #globalnav ul#globalnav_list li.nav_centerbtn_dropdown.new a:hover { background-position: 0 -494px !important;}
#searcharea.ekimod #globalnav ul#globalnav_list li.nav_centerbtn_dropdown.new.selected a { background-position: 0 -494px !important;}


/* globalnav(※こちらの設定は更新され忘れられているグロバルメニューにかかっているため放置) */
#searcharea.ekimod #globalnav ul#globalnav_list li#nav_top a { background-position:0 0;}
#searcharea.ekimod #globalnav ul#globalnav_list li#nav_top a:hover { background-position:0 -38px;}
#searcharea.ekimod #globalnav ul#globalnav_list li#nav_top.selected a { background-position:0 -38px;}
#searcharea.ekimod #globalnav ul#globalnav_list li#nav_transit a { background-position:0 -152px;}
#searcharea.ekimod #globalnav ul#globalnav_list li#nav_transit a:hover { background-position:0 -190px;}
#searcharea.ekimod #globalnav ul#globalnav_list li#nav_transit.selected a { background-position:0 -190px;}
#searcharea.ekimod #globalnav ul#globalnav_list li#nav_syuden a { background-position:0 -76px;}
#searcharea.ekimod #globalnav ul#globalnav_list li#nav_syuden a:hover { background-position:0 -114px;}
#searcharea.ekimod #globalnav ul#globalnav_list li#nav_syuden.selected a { background-position:0 -114px;}
#searcharea.ekimod #globalnav ul#globalnav_list li#nav_timetable a { background-position:0 -152px;}
#searcharea.ekimod #globalnav ul#globalnav_list li#nav_timetable a:hover { background-position:0 -342px;}
#searcharea.ekimod #globalnav ul#globalnav_list li#nav_timetable.selected a { background-position:0 -342px;}
#searcharea.ekimod #globalnav ul#globalnav_list li#nav_bus a { background-position:0 -152px;}
#searcharea.ekimod #globalnav ul#globalnav_list li#nav_bus a:hover { background-position:0 -190px;}
#searcharea.ekimod #globalnav ul#globalnav_list li#nav_bus.selected a { background-position:0 -190px;}
#searcharea.ekimod #globalnav ul#globalnav_list li#nav_station a { background-position:0 -152px;}
#searcharea.ekimod #globalnav ul#globalnav_list li#nav_station a:hover { background-position:0 -190px;}
#searcharea.ekimod #globalnav ul#globalnav_list li#nav_station.selected a { background-position:0 -190px;}
#searcharea.ekimod #globalnav ul#globalnav_list li#nav_tinfo a { background-position:0 -228px;}
#searcharea.ekimod #globalnav ul#globalnav_list li#nav_tinfo a:hover { background-position:0 -266px;}
#searcharea.ekimod #globalnav ul#globalnav_list li#nav_tinfo.selected a { background-position:0 -266px;}
#searcharea.ekimod #globalnav ul#globalnav_list li#nav_norikae a { background-position:0 -152px;}
#searcharea.ekimod #globalnav ul#globalnav_list li#nav_norikae a:hover { background-position:0 -190px;}
#searcharea.ekimod #globalnav ul#globalnav_list li#nav_norikae.selected a { background-position:0 -190px;}
#searcharea.ekimod #globalnav ul#globalnav_list li#nav_syuden1 a { background-position:0 -304px;}
#searcharea.ekimod #globalnav ul#globalnav_list li#nav_syuden1 a:hover { background-position:0 -342px;}
#searcharea.ekimod #globalnav ul#globalnav_list li#nav_syuden1.selected a { background-position:0 -342px;}
#searcharea.ekimod #globalnav ul#globalnav_list li#nav_train a { background-position:0 -76px;}
#searcharea.ekimod #globalnav ul#globalnav_list li#nav_train a:hover { background-position:0 -114px;}
#searcharea.ekimod #globalnav ul#globalnav_list li#nav_train.selected a { background-position:0 -114px;}
#searcharea.ekimod #globalnav ul#globalnav_list li#nav_shinkansen a { background-position:0 -76px;}
#searcharea.ekimod #globalnav ul#globalnav_list li#nav_shinkansen a:hover { background-position:0 -114px;}
#searcharea.ekimod #globalnav ul#globalnav_list li#nav_shinkansen.selected a { background-position:0 -114px;}
#searcharea.ekimod #globalnav ul#globalnav_list li#nav_air a { background-position:0 -76px;}
#searcharea.ekimod #globalnav ul#globalnav_list li#nav_air a:hover { background-position:0 -114px;}
#searcharea.ekimod #globalnav ul#globalnav_list li#nav_air.selected a { background-position:0 -114px;}
#searcharea.ekimod #globalnav ul#globalnav_list li#nav_travel a { background-position:0 0;}
#searcharea.ekimod #globalnav ul#globalnav_list li#nav_travel a:hover { background-position:0 -38px;}
#searcharea.ekimod #globalnav ul#globalnav_list li#nav_travel.selected a { background-position:0 -38px;}


#searcharea.ekimod #globalnav ul#globalnav_list li ul.globalnav_second_list { width:140px; position:absolute; left:-1px; top:38px; margin:0; padding:0; z-index:9999;}
#searcharea.ekimod #globalnav ul#globalnav_list li ul.globalnav_second_list li { width:auto; height:auto; margin:0; padding:0; border-right:1px solid #abcef0; border-bottom:1px solid #abcef0; border-left:1px solid #abcef0;}
#searcharea.ekimod #globalnav ul#globalnav_list li ul.globalnav_second_list li a { display:block; margin:0; padding:9px 0 0 10px; width:129px; height:26px; font-size:12px; text-align:left; vertical-align:middle; color:#206dcc; font-weight:normal; background-image:none; background-color:#deeafd;}
#searcharea.ekimod #globalnav ul#globalnav_list li ul.globalnav_second_list li a:hover { background-color:#fff; }


/* IE6 IE7 HACK */
#searcharea.ekimod #globalnav ul#globalnav_list li a { _height:26px; *height:26px; _padding-top:12px; *padding-top:12px;}
#searcharea.ekimod #globalnav ul#globalnav_list li ul.globalnav_second_list li a { _height:23px; *height:23px; _padding-top:13px; *padding-top:13px;}

	/* categorynav */
#searcharea.ekimod ul#categorynav { font:1em verdana,arial,sans-serif; height:32px; margin:23px auto 12px; padding:0; display:inline-block; text-align:center;}/* for premium */
#searcharea.ekimod ul#categorynav li { -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07); -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07); box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07); float:left; height:30px; margin:0 0 0 5px; padding:0; border:1px solid #99c3ff; background:#dceaff url(/cmn/globalimg/bg_categorynav.gif) 0 top repeat-x;}
#searcharea.ekimod ul#categorynav li a { display:block; height:23px; padding:7px 0 0; text-align:center;}
#searcharea.ekimod ul#categorynav li a:hover { background:#fff;}
#searcharea.ekimod ul#categorynav li.selected { background:#fff; border:1px solid #ff9000;}
#searcharea.ekimod ul#categorynav li.selected a { color:#ff6600;}
#searcharea.ekimod ul#categorynav li.selected a:hover { text-decoration:none;}
#searcharea.ekimod ul#categorynav li:first-child { margin-left:0;}

#alpha ul{margin:10px 0 0;}
/* timetable */
#searcharea.ekimod ul.nav_timetable_content { width:394px;}
#searcharea.ekimod ul#categorynav li#nav_timetable_train a { width:126px;}
#searcharea.ekimod ul#categorynav li#nav_timetable_shinkansen a { width:126px;}
#searcharea.ekimod ul#categorynav li#nav_timetable_air a { width:126px;}
/* #globalsearch #searcharea.ekimod ul#categorynav li#nav_timetable_train a {height:50px;} *//* for premium */

/* bus */
/* #searcharea.ekimod ul.nav_bus_content { width:570px;} */
#searcharea.ekimod ul#categorynav li#nav_bus_rosen a { width:100px;}
#searcharea.ekimod ul#categorynav li#nav_bus_high a { width:100px;}
#searcharea.ekimod ul#categorynav li#nav_bus_kuko a { width:100px;}
#searcharea.ekimod ul#categorynav li#nav_bus_skbus a { width:110px;}
#searcharea.ekimod ul#categorynav li#nav_bus_noriba a { width:100px;}
/* tinfo */
#searcharea.ekimod ul.nav_tinfo_content { width:864px;}
#searcharea.ekimod ul#categorynav.nav_tinfo_content { margin-bottom:14px;}
#searcharea.ekimod ul.nav_tinfo_content li a { width:72px;}
/* IE6 IE7 HACK */
#searcharea.ekimod ul#categorynav li a { _height:21px; *height:21px; _padding-top:9px; *padding-top:9px;}
#searcharea.ekimod ul.nav_timetable_content { _width:404px;}
*:first-child+html #searcharea.ekimod ul.nav_bus_content { width:580px;} /* IE7のみ */
#searcharea.ekimod ul.nav_tinfo_content { _width:874px;}
/* for premium */
#globalsearch_inner #searcharea.ekimod .ekimod_content { padding:0px; margin:0px auto; text-align:center;}

#searcharea.ekimod .ekimod_content { padding:10px 0; margin:5px auto; text-align:center; width:980px;}



#searcharea .tabs {}
	/* searchbox */
.searchbox { display:block; margin:0 auto; padding:0 5px; height:1%;}
	#basicitem { margin:0 auto;}
	#basicitem td { padding:1px 3px;}
	#detaileditem { margin:0 auto;}
	#detaileditem td { padding:1px 3px;}

	/* searchbtn */
#searchbtn { display:block; padding:10px 0 5px; width:514px; margin:0 auto;}
	#searchbtn table { width:514px; margin:0 auto;}
	#searchbtn table td { width:33%; text-align:center; padding:3px 0 0;}/* for premium */
	#searchbtn table td.func_details_box { text-align:left;}
#globalsearch .btn_search {}
#globalsearch #help a { background:transparent url(/cmn/globalimg/icon_help.gif) no-repeat; padding-left:20px;}
#help_goro a { background:transparent url(/cmn/globalimg/icon_help.gif) no-repeat; padding-left:20px;}
#func_details a { background:transparent url(/cmn/globalimg/icon_plus.gif) no-repeat; padding-left:20px;}
ul.func_config a { background:transparent url(/cmn/globalimg/icon_config.gif) no-repeat; padding-left:20px; padding-top:0;}
/* 検索エリア */
#basicitem table { margin:0px auto; border-collapse:collapse;}
#basicitem td { padding:1px 3px;}
#basicitem .formbox { width:150px; padding-left:3px;}


/* 路線から探す用 */
#basicitem .search_history td { text-align:left; padding:0 2px 8px 3px; border-spacing:0;}
#basicitem span.lineList { float:left; margin:5px 0 0 5px;}
#basicitem span.lineList a { font-size:85%;}

/* 履歴ボタン用 */
#basicitem .time_search td { text-align: left; padding-left: 5px; padding-top: 2px; height:40px;}/* for premium */
#basicitem .station_history { float:right; padding-right:3px;}
#basicitem .norikae_search th { padding:12px 3px 0; border-spacing:0; height:40px;}/* for premium */
#basicitem #r1 { margin:0 0 3px 10px;}
#basicitem #r2 { margin:0 0 3px 8px;}
#basicitem #fc1 { margin:0 0 3px 10px;}
#basicitem #fc2 { margin:0 0 3px 8px;}

/* 検索エリア IE6,I7E,IE8 Hack */
#basicitem .norikae_search th { /height:24px;}
#basicitem .norikae_search th { vertical-align:bottom;\9}

#detaileditem table { margin:0 auto;}
#detaileditem td { padding:1px 3px;}
input { margin-right:2px; margin-left:2px;}


/*-------- globalbody --------*/
#globalbody { width:100%; text-align:left; min-width:980px; width:auto;}
#globalbody_inner { position:static; margin:0 10px; zoom:1;}
/* [ breadcrumb ] */
#breadcrumb { width:100%; margin:0 0 10px 0; padding:4px 0; text-align:left; font-size:90%;}
#breadcrumb.ekimod .ekimod_header { float:left; margin-right:10px; padding:0; background:transparent url(/cmn/globalimg/icon_folder.gif) no-repeat;}
#breadcrumb.ekimod .ekimod_header a { font-size:0; line-height:16px; height:16px; width:20px; display:block; color:#fff; text-indent:-888px;}
#breadcrumb.ekimod .ekimod_header a:hover { color:#fff; text-decoration:none;}
#breadcrumb.ekimod .ekimod_content { float:left; margin:0; padding:2px 0;}
#breadcrumb ul.menu_links li { margin-right:0px; padding-top:2px;}
#breadcrumb ul.menu_links li a { background:transparent url(/cmn/globalimg/icon_rightangle.gif) no-repeat left center; padding:2px 0 2px 8px;}
#breadcrumb ul.menu_links li.first a { padding-left:0; background:none transparent scroll repeat 0% 0%;}
#breadcrumb ul.menu_links li.selected { background:transparent url(/cmn/globalimg/icon_rightangle.gif) no-repeat 0 2px; padding-left:8px; font-weight:normal; color:#555;}
/* [ subbreadcrumb ] */
#subbreadcrumb ul.menu_links li { margin-right:0px;}
#subbreadcrumb ul.menu_links li a { background:transparent url(/cmn/globalimg/icon_rightangle.gif) no-repeat; padding-left:8px;}
#subbreadcrumb ul.menu_links li.first a { padding-left:0; background:none transparent scroll repeat 0% 0%;}
#subbreadcrumb ul.menu_links li.selected { background:transparent url(/cmn/globalimg/icon_rightangle.gif) no-repeat 0 2px; padding-left:8px; font-weight:normal; color:#555;}
	/* ポップアップ閉じる */
#func_popupclose a { background:url(/cmn/globalimg/icon_close.gif) no-repeat;}

/* Ｍｙメニュー */
#usermenus { margin:0; margin-top:10px; padding:0;}
#usermenus ul.menu_links li a { float:left; height:34px; width:53px; margin:0; padding:0; color:#fff; font-size:0.1em; text-indent:-888px;}
#usermenus ul.menu_links li a:hover { color:#fff;}
#usermenus.ekimod .ekimod_header h2 { color:#669; background:url(/cmn/globalimg/bg_h3_usermenu.gif) repeat; padding:3px 5px; font-size:100%; border-bottom:1px solid #D1D1E9;}
#usermenus.ekimod { background:url(/cmn/globalimg/bg_usermenu.gif) repeat-y; border:1px solid #D1D1E9;}
#usermenus .ekimod_content { padding:0; text-align:center;}

	/* ユーザー設定ボタン */
#usermenus ul.menu_btns { margin:10px auto 0 auto; padding:0; width:145px;}
#usermenus ul.menu_btns li { width:145px; height:26px; display:block; margin:3px 0;}
#usermenus ul.menu_btns #userbtn_key { padding-bottom:10px;}

#usermenus ul { margin-top:10px; width:171px; display:block; float:none;}
#usermenus ul #userbtn_area a {}
#usermenus ul #userbtn_line a {}
#usermenus ul #userbtn_mobile a {}

/*-------- center --------*/
#center980c { width:980px; display:block; margin:0 auto; text-align:center;}

/*-------- globalprint --------*/
#globalprint { width:100%; text-align:left; min-width:980px; width:auto; display:none;}
#globalprint_inner { position:static; margin:0 10px; zoom:1; text-align:center; margin:0 auto;}



/*---------------- トップページ用 ----------------*/
/* 検索エリア */
#search_home {}
	#search_home .forminput { width:135px; *width:11em;}
	#search_home .formselect { width:135px; *width:11em;}

/* トップメニュー */
#topmenus { margin-top:10px;}
#topmenus ul.menu_lists { line-height:2em;}
#topmenus ul.menu_lists li.travel a { background:url(/cmn/globalimg/icon_travel.gif) no-repeat;}
#topmenus ul.menu_lists li.norikae a { background:url(/cmn/globalimg/icon_ekitan.gif) no-repeat;}
#topmenus ul.menu_lists li.syuuhatsu a { background:url(/cmn/globalimg/icon_train.gif) no-repeat;}
#topmenus ul.menu_lists li.jikokuhyou a { background:url(/cmn/globalimg/icon_timetable.gif) no-repeat;}
#topmenus ul.menu_lists li.busannai a { background:url(/cmn/globalimg/icon_bus.gif) no-repeat;}
#topmenus ul.menu_lists li.freeword a { background:url(/cmn/globalimg/icon_text.gif) no-repeat;}
#topmenus ul.menu_lists li.bus a { background:url(/cmn/globalimg/icon_bus.gif) no-repeat;}
#topmenus ul.menu_lists li.surrounding a { background:url(/cmn/globalimg/icon_yard.gif) no-repeat;}
#topmenus ul.menu_lists li.odekake a { background:url(/cmn/globalimg/icon_walk.gif) no-repeat;}
#topmenus ul.menu_lists li.sub a { background:none; background:url(/cmn/globalimg/icon_rightarrow.gif) no-repeat; margin-left:10px;}
#topmenus.ekimod .ekimod_header h2 { color:#669; background:url(/cmn/globalimg/bg_h3_topmenu.gif) repeat; padding:3px 5px; font-size:100%; border-bottom:1px solid #D1D1E9;}
#topmenus.ekimod { background:url(/cmn/globalimg/bg_topmenu.gif) repeat-y; border:1px solid #D1D1E9;}
	/* 追加メニュー */
#specialmenus { margin-top:10px;}
#specialmenus .ekimod { margin-top:10px; border:1px solid #D1D1E9;}
#specialmenus .ekimod h2 { padding:3px 0 0 5px; background:url(/cmn/globalimg/bg_h2.gif) repeat-x 0 0; color:#0061C5;}
#specialmenus .ekimod h3 { padding:3px 0 0 5px; color:#0061C5; border-left:5px solid #AACCEE; margin-left:10px;}
#specialmenus .ekimod h4 { padding:3px 0 0 5px; color:#0061C5; margin-left:5px;}
/* メインレイアウト */
#mainlayout .ekimod { margin-top:10px;}
/* サブレイアウト */
#sublayout .ekimod { margin-top:10px;}

	/* 運行情報 */
#train_info.ekimod { border:1px solid #FB8A8A;}
#train_info.ekimod .ekimod_header h2 { color:#c00; background:url(/cmn/globalimg/bg_h2_train_info.gif) repeat-x; padding:3px 5px;}
#train_info.ekimod .detail { border-left:2px solid #f88; padding-left:5px;}
#train_info p { font-size:85%;}

	/* 緊急告知 */
#emergency_info.ekimod { border:1px solid #FB8A8A;}
#emergency_info.ekimod .ekimod_header h2 { color:#c00; background:url(/cmn/globalimg/bg_h2_train_info.gif) repeat-x; padding:3px 5px;}

	/* 新着情報 */
#whatsnew.ekimod { border:1px solid #F4DD83;}
#whatsnew.ekimod .ekimod_header h2 { color:#960; background:url(/cmn/globalimg/bg_h2_yellow.gif) repeat-x; padding:3px 5px;}
#whatsnew.ekimod .ekimod_header h2 img { vertical-align:middle; margin-left:10px;}
#whatsnew.ekimod .ekimod_content { padding-top:5px; margin-bottom:0;}
#whatsnew.ekimod .menus { padding-top:5px; margin-bottom:0;}

	/* その他コンテンツ */
#othercontents.ekimod { border:1px solid #F4DD83;}
#othercontents.ekimod .ekimod_header h2 { color:#960; background:url(/cmn/globalimg/bg_h2_yellow.gif) repeat-x; padding:3px 5px;}
#othercontents.ekimod .ekimod_header h2 img { vertical-align:middle; margin-left:10px;}
#othercontents.ekimod .ekimod_content { padding-top:5px; margin-bottom:0;}
#othercontents.ekimod .menus { padding-top:5px; margin-bottom:0;}

	/* 新着情報下枠 */
.notice { border:1px solid #F4DD83; margin-top: 10px;}
.notice .ekimod_header h2 { color:#960; background:url(/cmn/globalimg/bg_h2_yellow.gif) repeat-x; padding:3px 5px;}
.notice .ekimod_header h2 img { vertical-align:middle; margin-left:10px;}
.notice .ekimod_content { padding-top:5px; padding-bottom: 12px; margin-bottom:0;}
.notice .menus { padding-top:5px; margin-bottom:0;}
.contentsleft { width:48%; float:left; padding-bottom:1px;}
.contentsleft img { float:left;}
.contentsright { width:48%; float:right; padding-bottom:1px;}
.contentsright img { float:left;}
.pr ul.txt_lists li.txt_pr { text-align:left;}
ul.txt_lists { margin-left:10px; clear:both;}
ul.txt_lists li { line-height:140%;}
	li.txt_pr { list-style-image:url(/cmn/globalimg/icon_pr.gif); margin-left:40px; padding:0;}
	li.txt_info { list-style-image:url(/cmn/globalimg/icon_info.gif); margin-left:40px; padding:0;}
	li.txt_press { list-style-image:url(/cmn/globalimg/icon_press.gif); margin-left:40px; padding:0;}
	li.txt_info2 { list-style-image:url(/cmn/globalimg/icon_info2.gif); margin-left:40px; padding:0;}
	li.txt_pickup { list-style-image:url(/cmn/globalimg/icon_pickup.gif); margin-left:40px; padding:0;}
	li.txt_update { list-style-image:url(/cmn/globalimg/icon_update.gif); margin-left:40px; padding:0pt;}
	li.txt_information { list-style-image:url(/cmn/globalimg/icon_information.gif); margin-left:40px; padding:0pt;}
	li.txt_construction { list-style-image:url(/cmn/globalimg/icon_construction.gif); margin-left:40px; padding:0pt;}
ul li.dia a { background:url(/cmn/globalimg/icon_dia.gif) no-repeat;}

	/* 特集 */
#specialcontents.ekimod { border:1px solid #09f; margin-top:10px;}
#specialcontents.ekimod .ekimod_header h2 { color:#0061C5; background:url(/cmn/globalimg/bg_h2_blue.gif) repeat-x; padding:3px 5px;}

	/* メインコンテンツ */
.maincontent { border:1px solid #09f; margin-top:10px;}
.maincontent .ekimod_header h2 { color:#0061C5; background:url(/cmn/globalimg/bg_h2_blue.gif) repeat-x; padding:3px 5px; height:20px;}
.maincontent .ekimod_title { margin:0 0 10px; padding:0 0 3px; *height:1%; font-weight:bold; border-bottom:1px dotted #aaa;}
.maincontent .content_left { width:48%; float:left; margin:0 0 0;}
.maincontent .content_left h3 { padding-bottom:3px;}
.maincontent .content_left img.left { margin:0 10px 10px 0; padding:3px 0 0 0; }
.maincontent .content_right { width:48%; float:right; margin:0 0 0;}
.maincontent .content_right h3 { padding-bottom:3px;}
.maincontent .content_right img.left { margin:0 10px 10px 0; padding:3px 0 0 0; }
.maincontent .ekimod_content_second { margin:0 0 5px; padding:5px 10px 0;}
.maincontent .ekimod_content_second_first { margin:0 0 5px; padding:10px 10px 0;}
.maincontent .ekimod_content_second_last { margin:0 0 10px; padding:5px 10px 0;}
.maincontent .ekimod_content_menu { margin:0 0 10px; padding:0 10px 0;}
.maincontent .ekimod_content_menu .menu_sublinks { margin:0;}

	/* トラベル　エリア */
.maincontent_t { border:1px solid #aaccee; margin-top:0; background-color:#f9fcff;}
.maincontent_t .ekimod_content_second_t { margin:10px 7px 5px; padding:0;}
.maincontent_t .travel_title { margin:0; padding:0;}
.maincontent_t .travel_title h2 img { text-align:right;}
.maincontent_t .ekimod_content_menu { margin:0 0 10px; padding:0 10px 0;}
.maincontent_t .ekimod_content_menu .menu_sublinks { margin:0;}
#beta #beta_inner #mainlayout .maincontent_t p { margin:0 0 10px 0}
.maincontent_t h3 { margin:0 0 10px 0}
#beta #beta_inner #mainlayout .maincontent_t .txt { color:#2584d8;}

	/* 駅名 */
#station_name.guideboard{font-size:125%;}

	/* 沿線だより */
#railway { border:1px solid #99CC99;}
#railway.ekimod .ekimod_header h2 { color:#006633; background:url(/cmn/globalimg/bg_h2_green.gif) repeat-x; padding:3px 5px;}

	/* 更新履歴 */
#history { border:1px solid #99CC99;}
#history.ekimod .ekimod_header h2 { color:#006633; background:url(/cmn/globalimg/bg_h2_green.gif) repeat-x; padding:3px 5px;}
#history.ekimod .ekimod_content h3 { color:#009966; padding:3px 0px;}
#history .history_lists li { background:url(/cmn/globalimg/icon_graydisc.gif) no-repeat; padding-left:18px;}

.start_area { background:#DEECF5; padding:10px 0;}
.goal_area { background:#F9E6E6; padding:10px 0;}
#func_option a { background:url(/cmn/globalimg/icon_plus.gif) no-repeat;}
ul#func_option  { margin-left:30px;}
	#search_ppnavi .search_start { font-size:108%; font-weight:bold; color:#23ACC8;}
	#search_ppnavi .search_goal { font-size:108%; font-weight:bold; color:#FF6CAF;}

#func_gonorikae { background:url(/cmn/globalimg/icon_plus.gif) no-repeat;}



#msd_1019a.ekimod { border:none;}

/* リスト部分 */
li.txt_timetable { 
	list-style-image:url(/cmn/globalimg/icon_tttimetable.gif); 
	margin-left:40px; 
	padding:0;
}

li.txt_air { 
	list-style-image:url(/cmn/globalimg/icon_ttair.gif); 
	margin-left:40px; 
	padding:0;
}

li.txt_shinkansen { 
	list-style-image:url(/cmn/globalimg/icon_ttshinkansen.gif); 
	margin-left:40px; 
	padding:0;
}

li.txt_train { 
	list-style-image:url(/cmn/globalimg/icon_tttrain.gif); 
	margin-left:40px; 
	padding:0;
}

.btns left { margin:0 0 15px 0;
	     text-align:left;
}

.banner_down{padding:5px 0; }

#pr_space { width:980px; margin:0px auto; text-align:center; padding-top:10px;}
#pr_space table { width:100%;}
#pr_space table td{ width: 315px; padding-left:15px;}
#pr_space #div-gpt-ad-1415864777500-0,
#pr_space #div-gpt-ad-1415864777500-1,
#pr_space #div-gpt-ad-1415864777500-2{ padding: 0!important; margin: 0!important; }


/* 検索窓 */
#basicitem .formbox2 { width:150px; padding-left:3px; padding-top:2px;}/* padding-topを追加　乗換のみ */
#search_norikae #basicitem #txt1 { font-size:95%; color:#999; text-align:left; }

/* 検索結果ＤＦＰ用 */
#dfp_f {
	width: 100%;
    margin:10px;
}

/* NEWラベル */
.label_new {
	font-size: 10px;
    margin-left: 0.5em;
    color: #e80429;
    font-weight: normal;
}