@charset "shift_jis";

/*-------- globalheader --------*/
#globalheader {
	margin:0 auto;
	padding:0 0 6px;
	width:100%;
	text-align:center;
	zoom:1;
}

#header_top {
	margin:0 auto;
	padding:0;
	width:100%;
	text-align:center;
	background-color:#ecf5ff;
}
#header_top_inner {
	margin:0 auto;
	padding:3px 0;
	width:980px;
	min-width:980px;
	text-align:left;
}
#header_top h1 {
	float:left;
	margin:0;
	padding:0;
	font-weight:normal;
	_width:70%;
	width:690px;
	font-size:90%;
	line-height:1.7em;
}
#header_top #siteinfo {
	float:right;
	text-align:right;
	white-space:normal;
	_width:29%;
	width:285px;
	font-size:90%;
	line-height:1.7em;
}
#header_top #siteinfo li {
	display:inline;
	margin-left:5px;
}
#header_top #siteinfo li a {
	background:url(/cmn/globalimg/icon_rightarrow.gif) no-repeat;
	padding:1px 0 2px 18px;
}

#header_content {
	margin:0 auto;
	padding-top:11px;
	width:980px;
	min-width:980px;
	text-align:left;
}
#header_content #logo {
	width:161px;
	height:47px;
	float:left;
	margin:0;
	padding:0;
}
#header_content_box {
	width:814px;
	height:47px;
	float:right;
	margin:0;
	padding:0;
}
#header_info {
	height:22px;
}
#header_info ul {
	padding-top:3px;
}
#header_info ul li {
	padding-left:18px;
	display:inline-block;
	float:left;
}
#header_info ul li:first-child {
	padding-left:0;
}
#header_info ul li span {
	font-size:85%;
	display:inline-block;
	width:45px;
	text-align:center;
	margin-right:10px;
	padding:0 4px;
	line-height:1.45em;
	background-color:#e98321;
	color:#fff;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
}
#header_info ul li span.info_update {
	background-color:#3ab3ee;
}
#header_info ul li a {
	vertical-align:bottom;
}
#header_caption {
	padding-top:7px;
	line-height:1.2em;
}

/*-------- 20140701 globalheaderからの残り物 --------*/
ul li.sitemap a { background:url(/cmn/globalimg/icon_rightarrow.gif) no-repeat;}
ul li.help a { background:url(/cmn/globalimg/icon_rightarrow.gif) no-repeat;}
ul li.inquiry a { background:url(/cmn/globalimg/icon_rightarrow.gif) no-repeat;}
ul li.info a { background:url(/cmn/globalimg/icon_rightarrow.gif) no-repeat;}
ul li.history a { background:url(/cmn/globalimg/icon_rightarrow.gif) no-repeat;}
ul li.mobileregist a { background:url(/cmn/globalimg/icon_mobile.gif) no-repeat;}
ul li.more a { background:url(/cmn/globalimg/icon_rightlink.gif) no-repeat;}
p.more a { background:url(/cmn/globalimg/icon_rightlink.gif) no-repeat; padding-left:18px;}
