@charset "shift_jis";

/*-------- html redefine --------*/
a {}
a:link { color:#0033cc; text-decoration:none;}
a:visited { color:#0033cc; text-decoration:none;}
a:active { color:#0033cc; text-decoration:underline;}
a:hover { color:#0033cc; text-decoration:underline;}
img,a img { border:none; vertical-align:bottom; font-size:0px; line-height:0px;}
html { color:#000; background:#fff;}
body {font:13px/1.231 "Hiragino Kaku Gothic Pro",Osaka ,Arial, Helvetica, sans-serif;*font-size:small;*font:x-small;}
body, div, dl, dt, dd, ul, li, h1, h2, h3 ,h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td{ margin:0; padding:0;}
/* list */
ul { list-style:none;}
ol { margin-top:0; margin-bottom:0;}
/* table */
table { border:none; border-spacing:0; font-size:inherit; font:100%;}
caption { text-align:left;}
th { font-weight:normal;}
td {}
/* form */
form { margin:0; padding:0;}
fieldset, img { border:0;}
input, textarea, select { font-family:inherit; font-size:inherit; font-weight:inherit; vertical-align:middle;}
input, textarea, select { *font-size:100%;}
legend { color:#000;}
ul form,th form,td form { display:inline;}
/* texts */
h1, h2, h3, h4, h5, h6 { font-size:100%; line-height:normal;}
h1 span { font-weight:bold;}
p { line-height:139%;}
address, caption, cite, code, dfn, em, th, var { font-style:normal; font-weight:normal; text-decoration:none;}
q:before, q:after { content:'';}
abbr, acronym { border:0; font-variant:normal;}
sup { vertical-align:text-top;}
sub { vertical-align:text-bottom;}
pre,code,kbd,samp,tt { font-family:monospace; *font-size:108%; line-height:100%;}

/*
sup,sub { vertical-align:baseline; position:relative;}
sup { top:-4px;}
sub { top:4px;}

table{border-collapse:collapse;border-spacing:0;}
caption,strong,var,th{font-style:normal;font-weight:normal;}
ol,ul{list-style:none; margin:0;padding:0;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal; margin:0; padding:0;}
*/