@charset "shift_jis";

/* layout_5_3_variable */
#globalbody { width:75.385em;*width:73.568em; min-width:980px; margin:0 auto; text-align:left;}
#globalbody_inner { margin:auto;}
* html #minwidth { border-right:#fff 20px solid; border-left:#fff 960px solid; height:1px;}
* html #minwidth_inner { margin:0px -20px 0px -960px; position:relative; height:1px;}
#topcontent { margin:0 0 1px;}
#topcontent_inner { min-width:670px; float:left; width:68.36%;}
#alpha { min-width:980px; width:100%; clear:both;}
#alpha_inner { text-align:center;}
#beta { min-width:470px; float:right; width:70.15%;}
#beta_inner {}
#gamma { min-width:190px; float:left; width:28.36%;}
#gamma_inner {}
#delta { min-width:300px; float:right; width:30.61%;}
#delta_inner {}
#epsilon { min-width:980px; width:100%; clear:both;}
#epsilon_inner {}
