@charset "shift_jis";

/* sublayout_3_3_780c */
#subbody {}
#subbody_inner { width:780px; min-width:780px; text-align:left; margin:0 auto;}
	#subalpha { width:100%; display:block; clear:both;}
	#subbeta { width:100%; display:block; clear:both;}
	#subgamma { width:100%; display:block; clear:both;}
#subfooter {}
#subfooter_inner {}