   table.sortable th {
        background-color:#eee;
        color:#black;
        font-weight: bold;
        cursor: default;
        font-size: 13px;         
    }

    table.sortable tbody tr:nth-child(2n) td {
        background: #ffffff;
    }

    table.sortable tbody tr:nth-child(2n+1) td {
        background: #f7edd2;
    }

    table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):after { 
    content: " \25B4\25BE" 
    }

    
