
	body {
            font-size: 12px;
            color: black;
            font-family: arial;
            background: #8B8168;
            margin-left: 0px;
            margin-right: 0px;
        }

	
	a {
	    color: #990000;
	    font-family: arial;
	    text-decoration: underline
	}	
	
	a:visited {
    color: #666666;
    text-decoration: underline
	}
	
	.teasertext {
    font-size: 10px;
    color: black;
	line-height: 14px;
    font-family: arial
	}
	

	div#main_pageheader {
		background: url("/resources/images/uss_main_topimage.jpg");
		height: 116px;
	}
	
	
	div#main_pageheader form {
		padding: 0px 0 0 0;
		margin: 0;
	
	}
	

	div#main_pageheader select {
		width: 136px;
		font: 10px arial;		
		color: #636363;
	}
	
	 .searchBox {
		width: 127px;
		font: 10px arial;		
		color: #636363;
		margin-right: 2px;		
		padding: 1px 3px;
	}
	
	.formruler {
		padding: 0;
		margin: 8px 0px 4px 0px;
		width: 160px;
		border-top: 1px solid #7C93C9;
	}

	div#main_pageheader_right {
		margin-left: 580px;
		padding-right: 15px;
		padding-top: 15px;
	}
	
	
	div#main_pageheader_left {
		padding: 30px 0 0 20px;
		float:left;		
	}
	
	div#main_pagenav {
	}
	

	div#contentArea {
		clear: left;
		background: #EBF2FA;
		overflow: visible;		
	} 
	
	div#leftCol {
		float: left;
		width: 174px;
		background: #EBF2FA;
	}
	div#center_rightColumn {
		background: #F7EDD2;
		margin-left: 174px;		
	}
	div#centerCol {
		background: #FFF;		
		margin-right: 174px;
		padding: 20px 25px 100px 30px;		
	}
	div#rightCol {
		float: right;
		width: 174px;		
	}	

	
	
	
	div#floorSchedule {
		padding: 15px 12px 12px 12px;
	}
	
	div.floorSchedule_date {
		padding: 10px 0 5px 0;
		font: 12px arial;
		line-height: 16px;
		font-weight: bold;
		color: #000;
	}
	
	div.floorSchedule_details {
		font: 10px arial, Helvetica, verdana;
		line-height: 14px;
		color: #000
	}
	
	.leftnav_news {
		padding: 20px 15px 0px 15px;
	}
	
	.leftnav_newsTitle {
		padding-bottom: 10px;
	}
	
	.photo {
			float: right;
			padding: 0 0 4px 5px;			
		}
	
	.leftnav_newsdate {
		padding: 0px 0 5px 0;
		font: 12px arial;
		line-height: 16px;
		font-weight: bold;
		color: #000;
	}
	
	p {
		padding: 0;
		margin: 0;
	}
	
	h2 {
		font: 26px georgia, arial, helvetica, verdana;
		color: #000;
		line-height: 27px;	
		padding: 0;
		margin: 0;
	}
	
	h2 span.c1 {
		color: #8D1E0C;
	}
	h2 span.c2 {
		color: #2A5792;
	}	

	.ruler {
			margin: 10px 0;
			border-top: 1px dotted #BFBFBF;
		}			
	.floorSchedule_ruler {
			margin: 10px 0;
			border-top: 1px dotted #8B8168;	
	}
	
	.tour_ruler {
			margin: 6px 0;
			border-top: 1px dotted #BFBFBF;
		}			
		
	
	.bodyCopy {
		line-height: 20px;
		color: #000;
	}
	
	.learnmore {
		text-align: right;
		padding: 10px 0;
	}
	
	.tour {
		border: 1px dotted #DFD6BF;
		padding: 10px;
		background: #F8F5F4;
	}
	
	#tourPhoto {
		float: left;
		width: 119px;
		height: 82px;
	}
	
	#tourInfo {
		padding-left: 129px;
	}	
	
	.tourinfoheading {
		font: 10px arial;
		line-height: 14px;
		color: #000;
	}
	.tourinfotext {
		font: 10px arial;
		line-height: 14px;
		color: #000;		
	}

	 .offscreen {

    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    } 
      ul.topnav {
    
    background: #990000;
      height: 28px;
      list-style-type: none;
      width:760px;
      padding:0;
      margin:0;
     
            }
  li.topnav {float:left;        
        font-family: "Arial";    
      font-size: 11px;
      font-weight:bold;
      color: #ffffff;
      padding-right:6px;
      padding-left:6px;
      padding-top:8px;
     
      }
  li.topnavon {float:left;        
        font-family: "Arial";    
      font-size: 11px;
      font-weight:bold;
      color: #FFD700;
      padding-right:6px;
      padding-left:6px;
      padding-top:8px;
      }

 
    a.topnav:link {text-decoration: none;
    color: #ffffff;
}
   a.topnavon:link {text-decoration: none;
    color: #FFD700;
}
    a.topnav:visited {
     color: #ffffff;
}
  a.topnavon:visited {
     color: #FFD700;
}


    a.topnav:hover {
    color: #FFD700;
}
 a.topnavon:hover {
    color: #FFD700;
}


a.topnav:active {
    color: #FFD700;
    }
    a.topnavon:active {
    color: #FFD700;
    }
li.topnav + li::before {
    color: #FFD700;
    content: " | ";
    padding-right:5px;
}
li.topnavon + li::before {
    color: #FFD700;
    content: " | ";
    padding-right:5px;
}


ul.leftnav {background:#475b8c; 
                list-style: none;
                width:135px;
                margin: 0;
                padding-top: 6px;
                padding-left:5px;
                padding-right:0;
                padding-bottom:0;
                font-family: "Franklin Gothic";
                font-size: 11.1px;
                } 
li.leftnav{color: #ffffff;
            padding-bottom:10px;
            }
li.leftnavtertiary{color: #ffffff;
            padding-left:17px;
            padding-bottom:10px;
            }
li.leftnavon {color: #ffcc00;
            padding-bottom:10px;
            }
li.leftnavontertiary {color: #ffcc00;
            padding-left:17px;
            padding-bottom:10px;
            }

a.leftnav:link {text-decoration: none;
                   color: #ffffff;}
a.leftnavtertiary:link{text-decoration: none;
                   color: #ffffff;}
a.leftnav:link::before{content: url(/resources/graphic/leftnavarrow_off.gif);}
a.leftnavon:link {text-decoration: none;
                   color: #ffcc00;}
a.leftnavontertiary:link {text-decoration: none;
                   color: #ffcc00;}
a.leftnavon:link::before{content: url(/resources/graphic/leftnavarrow_on.gif);}
a.leftnav:visited {color: #ffffff;}
a.leftnavtertiary:visited {color: #ffffff;}
a.leftnav:visited::before {content: url(/resources/graphic/leftnavarrow_off.gif);}
a.leftnavon:visited {color: #ffcc00;}
a.leftnavontertiary:visited {color: #ffcc00;}
a.leftnavon:visited::before {content: url(/resources/graphic/leftnavarrow_off.gif);}
a.leftnav:hover {color: #ffcc00;}
a.leftnavtertiary:hover {color: #ffcc00;}
a.leftnavon:hover {color: #ffcc00;}
a.leftnavontertiary:hover {color: #ffcc00;}
a.leftnav:hover::before {content: url(/resources/graphic/leftnavarrow_over.gif);
}
a.leftnavon:hover::before {content: url(/resources/graphic/leftnavarrow_over.gif);
}
a.leftnav:active {color: #ffcc00;}
a.leftnavtertiary:active {color: #ffcc00;}
a.leftnav:active::before {content: url(/resources/graphic/leftnavarrow_on.gif)}
a.leftnavon:active {color: #ffcc00;}
a.leftnavontertiary:active {color: #ffcc00;}
a.leftnavon:active::before {content: url(/resources/graphic/leftnavarrow_on.gif)}
   
ul.topnavfp {background: #990000;
        height: 28px;
        list-style-type: none;
        width:760px;
        padding:0;
        margin:0;}
li.topnavfp {float:left;        
          font-family: "Arial";    
        font-size: 13px;
        font-weight:bold;
        color: #ffffff;
        padding-right:8px;
        padding-left:12px;
        padding-top:8px;

        }
li.topnavonfp {float:left;        
          font-family: "Arial";    
        font-size: 13px;
        font-weight:bold;
        color: #FFD700;
        padding-right:8px;
        padding-left:12px;
        padding-top:8px;
        }


a.topnavfp:link {text-decoration: none;
      color: #ffffff;
  }
 a.topnavonfp:link {text-decoration: none;
      color: #FFD700;
  }
 a.topnavfp:visited {
       color: #ffffff;
  }
a.topnavonfp:visited {
       color: #FFD700;
  }


a.topnavfp:hover {
      color: #FFD700;
  }
a.topnavonfp:hover {
      color: #FFD700;
  }


a.topnavfp:active {
      color: #FFD700;
      }
      a.topnavonfp:active {
      color: #FFD700;
      }
li.topnavfp + li::before {
      color: #FFD700;
      content: " | ";
      padding-right:5px;
  }
li.topnavonfp + li::before {
      color: #FFD700;
      content: " | ";
      padding-right:5px;       	
		

