/********************  Subscribe new comments  *****************************************/
DIV.subscribe, DIV.psubscribe {padding-left:20px;background:url(/images/icon/i_mail.gif) no-repeat scroll 1%;}
/*DIV.subscribe a { font-size:14px;}*/
DIV.no_subscribe a { font-size:16px;}
DIV.no_subscribe, DIV.no_psubscribe {padding-left:20px;background:url(/images/icon/i_mail_no.gif) no-repeat scroll 1%;}
DIV.subscribe, DIV.no_subscribe {float:right;}

/****************** Comment ******************/
DIV.ch {/*display:table;width:384px;*/width:640px;height:25px; margin-top:10px;}

DIV.ch-member {/*display:table;width:384px;*/width:auto;/*640px;*/height:25px; margin:10px 0 0 2px;}

DIV.ch .title, DIV.ch-member .title {font-size: 16px; font-weight: bold;}
DIV.anchor {padding-bottom:10px;margin-right:110px;}

A.nik {color:#486493;font-weight:bold;}
A.nik IMG {vertical-align:middle;margin-right: 3px;border:none;}
SPAN.date {color:#828282;margin:0px 3px;float:right;}
DIV.comment_text {padding:2px 4px; word-wrap: break-word;}
DIV#all_comments #indicator {padding:10px 0px;font-size:12px;}
/*DIV#all_comments {width:640px}*/

div.all-comments-member {width: auto !important;}

DIV#comment_replaybottom{width:640px}

div.comment-replay-bottom-member{width: auto !important;}

DIV.comment_item {margin:0px;padding:0px 0px 30px 0px;}
DIV.comment_item A.link, DIV.commentFL_item A.link {color:#828282;}
DIV.comment_item IMG.message_icon, DIV.commentFL_item IMG.message_icon {margin-left:3px;}
DIV.commentFL_item {margin:0px;padding:0px 0px 15px 0px;}

DIV.commentForm { border:solid 1px #ccc;background-color:#F5F5F5;margin:0px 0px 10px 0px;width:626px;padding:0px 7px 7px;display:inline-block;}

DIV.commentForm-member { border:solid 1px #ccc;background-color:#F5F5F5;margin:0px 0px 10px 0px;width:576px;padding:0px 7px 7px;display:inline-block;}

DIV.commentForm P, DIV.commentForm-member p {padding:7px;}
DIV.commentForm FORM, DIV.commentForm-member form { margin:0px; padding:0px;}
DIV.commentForm DIV.text_labels, DIV.commentForm-member div.text_labels { padding-bottom:8px; }
DIV.commentForm TEXTAREA, DIV.commentForm-member textarea {border:solid 1px #ccc;width:100%;height:70px;overflow:auto;margin:3px 0px;padding:0px;}
DIV.commentForm DIV.option, DIV.commentForm-member div.option { border:solid 1px #ccc; margin:3px 0px 7px 0px; padding:2px 9px 4px 9px;}
DIV.commentForm .addition, DIV.commentForm-member .addition { display:block; float:right; padding:6px 10px 10px 0px; }
DIV.commentForm .addition .plink, DIV.commentForm-member .addition .plink { cursor:pointer; color:#9A9A9A;border-bottom:1px dashed #9A9A9A; }
DIV.commentForm .plink, DIV.commentForm-member .plink {margin-bottom:2px;}
DIV.option TABLE {border-collapse:collapse;border-spacing:0px;margin-top:15px;}
DIV.commentForm #commentLink, DIV.commentForm-member #commentLink { display:block; }
DIV.commentForm INPUT.left, DIV.commentForm-member input.left {margin:5px 0px;}

DIV.commentForm P {padding:7px;}
DIV.commentForm FORM { margin:0px; padding:0px;}
DIV.commentForm DIV.text_labels { padding-bottom:8px; }
DIV.commentForm TEXTAREA {border:solid 1px #ccc;width:100%;height:70px;overflow:auto;margin:3px 0px;padding:0px;}
DIV.commentForm DIV.option { border:solid 1px #ccc; margin:3px 0px 7px 0px; padding:2px 9px 4px 9px;}
DIV.commentForm .addition { display:block; float:right; padding:6px 10px 10px 0px; }
DIV.commentForm .addition .plink { cursor:pointer; color:#9A9A9A;border-bottom:1px dashed #9A9A9A; }
DIV.commentForm .plink {margin-bottom:2px;}
DIV.option TABLE {border-collapse:collapse;border-spacing:0px;margin-top:15px;}
DIV.commentForm #commentLink { display:block; }
DIV.commentForm INPUT.left {margin:5px 0px;}
DIV.commentForm_header {padding:5px 65px 5px 0px;}
DIV.commentForm_header H4 {display:inline;}
DIV.commentForm_header SPAN {padding:7px 6px 0px 8px;}
DIV.commentForm_header SPAN.plink {padding:7px 0px 0px 0px;}
DIV.commentForm DIV.shutForm {font-size:11px;margin-top:-19px;margin-bottom:5px;}
DIV.load {margin:8px 0px;}
TD.comment_smile {max-width:200px;}
TD.comment_font {width:130px;}
TD.comment_font DIV {cursor:pointer;}

DIV.thread {/*background:url(/img/bg.jpg) repeat-y top left;*/padding:0px 0px 0px 30px;margin:10px 0px 0px 0px;}
DIV.thread DIV.comment_item {padding:0px;}
DIV.thread DIV.thread {margin:10px 0px 0px 0px;}
DIV.threadFix {padding:0px;margin:10px 0px 0px 0px;}
DIV.Quote {border-left:1px solid #ccc;padding:2px 0px 2px 7px;margin:0px 7px;color:#828282;}

#commentMenu{
	padding: 0;
	margin:0;
	clear:both;
}

#commentMenu li{
	float:left;
	border:1px solid silver;
	border-bottom: transparent;
	margin:0;
	list-style:none;
	margin-right:5px;
	padding: 3px 8px;	
	cursor:pointer;
	position:relative;
	top: 2px;
	background:#d8d8d8;
}

#commentMenu li.selected{
	background:white;
	border-bottom:1px solid white;
}

#commentPreview{
	display:none;
	clear:both;
	min-height: 150px;
}
#commentForm textarea {
	width: 100%;
	height: 150px;
	border:1px solid silver;
}