div.informer {
  border: 1px solid #dbe2ea;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(125,125,125,0.75);
  -moz-box-shadow: 0px 0px 2px 0px rgba(125,125,125,0.75);
  box-shadow: 0px 0px 2px 0px rgba(125,125,125,0.75);
}
div.informer div.inner {
  padding: 10px;
}
div.informer span.comments-count {
  display: inline-block;
  color: #ff6600;
  line-height: 16px;
  font-size: 13px;
  background: url('/image/main/comment.png') 10px 50% no-repeat;
  padding-left: 30px;
  vertical-align: middle;
}
div.informer span.comments-count.mini {
  font-size: 11px;
  background-image: url('/image/main/comment-mini.png');
  background-position: 5px 50%;
  padding-left: 20px;
}
div.informer span.comments-count.mini.text-big {
  font-size: 14px;
}
div.informer a.normal {
  display: block;
  text-decoration: none;
  color: #333333;
  font-size: 14px;
  line-height: 20px;
  margin-top: 10px;
}
div.informer a.normal div.date {
  color: #999999;
  font-size: 11px;
}
div.informer a.img {
  display: block;
  position: relative;
  overflow: hidden;
  margin-bottom: 2px;
}
div.informer a.img img {
  width: 100%;
  max-width: 100%;
  float: left;
}
div.informer a.img div.overlay {
  background: url('/image/mobile/transparent.png') 0 0 repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
div.informer a.img div.title {
  position: absolute;
  left: 0;
  bottom: 0;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 14px;
  padding: 15px;
}
div.informer a.img span.comments-count {
  color: #FFFFFF;
  font-size: 13px;
  font-weight: bold;
  background-image: url('/image/mobile/comment.png');
}
