ul, li, form, img, p, h2, h2, h3, h4, h5, h6, input, table, td, body {
	padding: 0;
	margin: 0;
	border: 0
}
select {
	padding: 0;
	margin: 0
}
body {
	font: 12px Arial, Helvetica, sans-serif;
	color: #000;
	background: #e9e9e9;
}
a, a:hover {
	text-decoration: none
}
table {
	border-collapse: collapse
}
td {
	vertical-align: top
}


/*////////////////////////////////
	  		 INDEX
div.UploadVideo a, div.TopMenu ul li, div.Bookmarks ul li, div.AboutUser div strong a, div.AboutUser h3, div.Channels div h3 a, div.TodayDate, div.FooterMenu ul li, div.YouLook ul li, div.ContactsBlock div input[type="submit"], table.TranslationTable th, table.PeopleTable th, div.SearchBlock input[type="submit"], div.Raitings h3, div.RegistrationBlock div input[type="submit"], div.UploadBlock div input[type="submit"], div.Friends div h4, div.Friends div.AddFriends input[type="submit"], div.FriendsLeft input[type="submit"], div.FriendsRight input[type="submit"], div.TVProgramForm input[type="submit"], div.AboutUser input[type=submit], .body input[type=submit] {
	font: italic bold 15px "myriad Pro", verdana, arial, sans-serif
}
////////////////////////////////*/


div.UploadVideo a, div.TopMenu ul li, div.Bookmarks ul li, div.AboutUser div strong a, div.AboutUser h3, div.Channels div h3 a, div.TodayDate, div.FooterMenu ul li, div.YouLook ul li, div.ContactsBlock div input[type="submit"], table.TranslationTable th, table.PeopleTable th, div.SearchBlock input[type="submit"], div.Raitings h3, div.RegistrationBlock div input[type="submit"], div.UploadBlock div input[type="submit"], div.Friends div h4, div.Friends div.AddFriends input[type="submit"], div.FriendsLeft input[type="submit"], div.FriendsRight input[type="submit"], div.TVProgramForm input[type="submit"], div.AboutUser input[type=submit], .body input[type=submit] {
	font: 15px Tahoma, verdana, arial, sans-serif
}
div.HeaderBg {
	min-width: 980px;
	background: url(../images/header_bg.png) repeat-x top;
}
div.Center {
	margin: 0 auto;
	width: 980px;
	
	z-index:1; 
}
div.Header {
	height: 63px;
	padding-top: 10px
}
div.Logo {
	float: left;
	padding: 0 30px 0 0;
	/*padding-right: 35px*/
}

h1.Logo {
    float: left;
    margin: 0;
    padding: 0 30px 0 0;
    position: relative;
}

h1.Logo a {
	 background: url("/images/logo.jpg") repeat scroll 0 0 transparent;
    display: block;
    height: 43px;
    overflow: hidden;
    text-indent: -10000px;
    width: 121px;
}



    
div.Search {
	float: left;
	margin: 4px 2px 0 0;
	background: #e9e9e9;
	-moz-border-radius: 4px 0 0 4px;
	-webkit-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;
	width: 406px;
	height: 35px;
	padding: 0 0 0 9px
}
div.Search input[type="text"] {
	float: left;
	width: 348px;
	height: 35px;
	background: none;
	border: none;
	font: bold 16px/35px Arial, Helvetica, sans-serif;
	color: #000
}
div.Search input[type="submit"] {
	float: right;
	width: 37px;
	height: 35px;
	background: url(../images/search_btn.gif) no-repeat;
	border: none;
	cursor: pointer
}
div.UploadVideo {
	float: left;
	margin: 4px 0 0 0;
	height: 35px;
	background: url(../images/upload_bg.gif) repeat-x
}
div.UploadVideo a {
	float: left;
	display: block;
	background: url(../images/plus.png) no-repeat 12px 5px;
	height: 29px;
	padding: 6px 12px 0 46px;
	color: #fff;
}
div.LangsLogin {
	float: right;
	padding: 2px 2px 0 0
}
div.Langs a {
	color: #5D92D0
}
div.Langs a:hover, div.Langs a.CurrLang {
	color: #000
}
div.Langs a+a {
	margin-left: 21px
}
div.Login {
	padding-top: 7px
}
div.Login a {
	color: #005FBE;
	background: url(../images/line1.gif) repeat-x bottom;
	float: left;
	display: block;
	padding-bottom: 1px
}
div.Login a:hover {
	background: none
}
div.Login a+a {
	margin-left: 27px
}
div.TopMenu {
	background: url(../images/top_menu_bg.gif) repeat-x top;
	height: 34px;
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	position: relative;
	z-index: 100;
}
div.TopMenu ul {
	list-style: none
}
div.TopMenu ul li {
	float: left
}
div.TopMenu ul li a {
	color: #fff;
	display: block;
	height: 28px;
	padding: 6px 10px 0 15px;
	-moz-border-radius: 4px 0 0 0;
	-webkit-border-radius: 4px 0 0 0;
	border-radius: 4px 0 0 0;
	font-style: normal; font-family: Tahoma; font-weight: bold;
}
div.TopMenu ul li a:hover, div.TopMenu ul li.ActiveLi a {
	background: url(../images/top_menu_bg.gif) repeat-x bottom;
}
div.TopMenu ul li+li a:hover {
	-moz-border-radius:0;
	-webkit-border-radius: 0;
	border-radius: 0;
}
div.TopMenu ul li.MoreLi {
	float: right;
	font-weight: normal;
	padding: 7px 25px 9px 21px;
	cursor: pointer;
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0
}
div.TopMenu ul li.MoreLi:hover {
	background: #adadad
}
div.TopMenu ul li.MoreLi a {
	background: url(../images/arrow1.gif) no-repeat right 9px;
	padding: 0 8px 0 0;
	height: auto
}
div.TopMenu ul li.MoreLi span {
	background: url(../images/line2.gif) repeat-x bottom
}
div.TopMenu ul li.MoreLi ul {
	display: none;
	position: absolute;
	top: 34px;
	right: 0;
	background: #adadad;
	-moz-border-radius: 0 0 4px 4px;
	-webkit-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
	padding: 15px 0 7px 0
}
div.TopMenu ul li.MoreLi:hover ul {
	display: block
}
div.TopMenu ul li.MoreLi ul li {
	float: none
}
div.TopMenu ul li.MoreLi ul li:hover {
	background: #bdbdbd
}
div.TopMenu ul li.MoreLi ul li a {
	background: none;
	display: block;
	height: auto;
	width: 100%;
	padding: 1px 23px 5px 23px;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0
}
/*div.TopBanner 
{
	text-align: center;
	padding-top: 20px;
	width: 980px;
}*/
div.TopBanner {
    background-color: #FFFFFF;
    margin-top: 20px;
    text-align: center;
    width: 980px;
position:relative;

}
div.TopBanner img {
	vertical-align: top
}
div.Center h2 {
	font: bold 20px/20px Tahoma, verdana, arial, sans-serif;
	color: #000
}
div.RightBg:after, div.VideoWhite:after, div.Categories:after, div.SearchBlock:after, div.Raitings:after, div.Footer:after, div.ContBlock:after, div.RightColumn ul li:after, div.WhiteBlock:after, div.VideoInfo:after, div.Bookmarks:after, div.ShareVote:after, div.Channels:after, div.LastVideo:after, div.YouLook:after, div.SearchBlock:after, div.RegistrationBlock div:after, div.UploadBlock div:after, div.Friends:after, div.Friends div ul li:after, div.SamarkandSmall:after, div.TVProgram:after, div.TVProgramForm:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}
div.LeftColumn {
	float: left;
	width: 678px;
	padding-top: 22px
}
div.WhiteBlock {
	background: #fff;
	margin: 0 0 20px 0;
	box-shadow: 0 0 5px 0 #ccc;
	padding: 13px 16px 22px 21px;
	position: relative
}
div.WhiteBlock h2 {
	margin-left: -2px
}
div.VideoInfo {
	color: #030303;
	padding: 16px 0 0 0;/*8px 0 0 0*/
}
div.VideoInfo div.Clock {
	float: left;
	padding: 3px 14px 0 0
}
div.VideoInfo div.Clock img {
	margin: 0 4px -3px 0
}
div.VideoInfo div.Size {
	float: left;
	height: 18px;
	background: #e9e9e9;
	padding: 3px 5px 0 5px;
}
div.VideoInfo div.Date {
	float: left;
	padding: 3px 0 0 15px
}
div.VideoInfo div.Date span {
	color: #9f9f9f
}
div.VideoInfo div.Comments {
	color: #9f9f9f;
	float: left
}
div.VideoInfo div.Comments img {
	margin: 3px 5px -3px 18px
}
div.VideoInfo div.Comments a {
	color: #005FBE
}
div.VideoInfo div.Mode {
	float: right;
	padding-top: 3px
}
div.VideoInfo div.Mode a {
	color: #6196D4
}
div.VideoInfo div.Mode span {
	background: url(../images/line4.gif) no-repeat left 2px;
	padding: 0 0 0 5px;
	margin-left: 3px
}
div.BigVideo {
	padding: 6px 0 0 0;
height:360px;

}
div.BigVideo img {
	vertical-align: top
}
div.Share {
	float: left;
	padding-top: 12px;
	width: 100%;
}
div.Share img {
	margin: 0 2px -4px 6px
}

div.download-link-container
{
    float: right;
    display: inline-block;
    position: relative;
    padding: 0 5px;
    /*margin-top: -24px;*/
}

div.download-link-container div.left-side, div.download-link-container div.right-side
{
    position: absolute;
    width: 5px;
    height: 33px;
}

div.download-link-container div.left-side
{
    left: 0;
    background: transparent url('/NewDesign/Images/button-gray-left.png') no-repeat left top;
}

div.download-link-container div.right-side
{
    right: 0;
    background: transparent url('/NewDesign/Images/button-gray-right.png') no-repeat left top;
}

div.download-link-container div.center-side
{
    
    background: transparent url('/NewDesign/Images/button-gray-center.png') repeat-x center center;
    height: 33px;
    padding: 0 5px;
    font: italic 12px "myriad Pro", verdana, arial, sans-serif;
}

div.center-side a
{
    color: #ffffff;
    line-height: 33px;
}

div.Vote {
	float: right;
	padding-top: 10px
}
div.Vote a+a img {
	margin: 0 0 -4px 14px
}
div.Bookmarks {
	border-bottom: 1px solid #dadada;
	width: 657px;
	margin-left: -21px;
	padding: 18px 0 0 21px
}
div.Bookmarks ul {
	list-style: none
}
div.Bookmarks ul li {
	float: left;
	line-height: 16px;
	color: #005FBE;
	cursor: pointer;
	background: #fff;
	padding: 7px 13px 12px 13px;
	position: relative;
	margin-right: 2px
}
div.Bookmarks ul li:hover {
	color: #000
}
div.Bookmarks ul li.ActiveLi {
	padding: 6px 12px 13px 12px;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	border: 1px solid #dadada;
	border-bottom: none;
	color: #000;
	margin-bottom: -1px
}
div.AboutUser {
	padding: 7px 0 3px 12px
}
div.AboutUser img {
	float: left;
	border: 1px solid #dadada;
	margin: 5px 10px 0 0
}

div.AboutUser div.SelectBlock div
{
    overflow: visible !important;
}

div.AboutUser div {
	overflow: hidden;
	line-height: 24px
}
div.AboutUser div strong {
	float: left;
	display: block;
	font-weight: normal
}
div.AboutUser div a {
	color: #005FBE
}
div.AboutUser div span {
	float: right;
	display: block
}
div.AboutUser div span a {
	margin-right: 6px
}
div.AboutUser h3 {
	color: #959595;
	padding-top: 8px
}
div.AboutUser p {
	padding-top: 6px
}
div.AllChannels {
	float: right;
	margin-top: -18px
}
div.AllChannels a {
	color: #005FBE;
	background: url(../images/line1.gif) repeat-x bottom;
}
div.AllChannels a:hover 
{
    background: none;
}
div.Channels, div.LastVideo {
	width: 668px;
	margin-left: -27px
}
div.Channels img, div.LastVideo img {
	vertical-align: top
}
div.Channels div, div.LastVideo div {
	float: left;
	width: 140px;
	padding: 13px 0 0 27px
}
div.Channels div h3 {
	padding-top: 6px
}
div.Channels div h3 a {
	color: #005FBE;
	line-height: 16px
}
div.TodayDate {
	line-height: 16px;
	color: #959595;
	padding: 3px 0 2px 0
}
div.SortTime {
	position: absolute;
	right: 16px;
	top: 20px
}
div.SortTime a, div.Pages ul li a {
	float: left;
	display: block;
	height: 18px;
	margin: 0 0 0 4px;
	color: #005FBE;
	padding: 1px 7px 0 7px;
	background: #fff;
	border: 1px solid #fff
}
div.SortTime a:hover, div.SortTime a.ActiveTime, div.Pages ul li a:hover, div.Pages ul li.ActivePage a {
	background: #e9e9e9;
	border: 1px solid #dadada;
	color: #000
}
div.LastVideo {
	top: -3px;
	position: relative
}
div.LastVideo div {
	padding-top: 23px
}
div.LastVideo div h4 {
	padding-top: 5px;
	word-wrap: break-word;
}
div.LastVideo div a {
	font-weight: bold;
	color: #005FBE;
	font-size: 12px;
	word-wrap: break-word;
}
div.LastVideo div p {
	padding-top: 8px
}
div.LastVideo div p img {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	margin-top: 1px
}
div.LastVideo div p a {
	color: #005FBE
}
div.LastVideo div p .Comments {
	margin-right: 4px
}
div.LastVideo div p .Views {
	margin: 0 5px 0 5px
}
div.LastVideo div p .Star {
	margin: 0 3px 0 5px
}
div.Pages {
	height: 21px;
	padding: 18px 0 1px 0
}
div.Pages span {
	float: left;
	display: block;
	padding: 3px 4px 0 0
}
div.Pages ul {
	list-style: none;
	float: left;
	display: block
}
div.Pages ul li {
	float: left
}
div.Pages ul li a {
	height: 17px;
	padding: 2px 7px 0 7px
}
div.RightColumn {
	float: right;
	width: 293px;
	padding: 22px 0 0 0;
position:relative;
}
div.RightColumn ul {
	list-style: none;
	margin-top: -8px
}
div.RightColumn ul li {
	padding: 20px 0 0 0
}
div.RightColumn ul li img {
	float: left;
	margin: 3px 11px 0 0
}
div.RightColumn ul li p {
	overflow: hidden
}
div.RightColumn ul li p a {
	color: #005FBE;
	font: normal 12px Arial, Helvetica, sans-serif
}
div.RightColumn ul li p a.recommended-title
{
    font-weight: bold;
    word-wrap: break-word;
}
div.RightColumn ul li p a.recommended-description
{
    word-wrap: break-word;
}
div.RightColumn ul li p span {
	display: block;
	line-height: 14px
}
div.RightColumn ul li p strong {
	display: block;
	font-weight: normal;
	float: left;
	margin: 10px 0 0 0
}
div.RightColumn ul li img.Comments, div.RightColumn ul li img.Views {
	float: none;
	position: static;
	margin: 0 3px -4px 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}
div.RightColumn ul li img.Views {
	margin-left: 14px
}
div.RightColumn ul li strong a {
	color: #005FBE
}
div.RightBanner {
	padding: 42px 0 0 0;
	text-align: center;
}
div.RightBanner img {
	vertical-align: top
}
div.Footer {
	padding: 27px 0 25px 0
}
div.FooterMenu {
	width: 700px;
	float: left;
	margin-top: 3px
}
div.FooterMenu ul {
	list-style: none
}
div.FooterMenu ul li {
	float: left;
	padding: 0 30px 0 2px
}
div.FooterMenu ul li a {
	color: #005FBE
}
div.FooterMenu ul li.MoreLi {
	padding-right: 8px;
	font-weight: normal;
	background: url(../images/arrow2.gif) no-repeat right 9px
}
div.FooterMenu ul li.MoreLi a {
	background: url(../images/line3.gif) repeat-x left bottom
}
div.Copyright {
	float: right;
	width: 273px
}
div.Copyright img {
	float: left;
	margin-right: 11px
}
div.Copyright p {
 	color: #010101
}


/*////////////////////////////////
	  		CHANNEL
////////////////////////////////*/


div.ChannelBg {
	/*background: url(../images/index.jpg) no-repeat center top*/
}
div.ChannelBg div.ContBlock {
	padding-top: 221px
}
div.YouLook {
	background: #e9e9e9;
	padding: 0 15px 8px 15px;
	margin: 9px 0 17px 0
}
div.YouLook h2 {
	font: bold 24px "myriad Pro", verdana, arial, sans-serif;
	color: #9b9b9b;
	padding-top: 7px
}
div.YouLook h2 span {
	color: #000
}
div.YouLook ul {
	list-style: none
}
div.YouLook ul li {
	float: left;
	padding: 2px 33px 0 0
}
div.YouLook ul li a {
	color: #598ECC
}
div.ChannelBg div.LeftColumn, div.ChannelBg div.RightColumn {
	padding-top: 0
}
div.ChannelBg div.RightColumn {
	width: 293px
}
div.RightBg {
	margin-bottom: 12px
}
div.RightBg, div.VideoWhite, div.Categories, div.SearchBlock, div.Raitings {
	background: #fff;
	box-shadow: 0 0 5px 0 #ccc;
	padding: 9px 14px 22px 14px
}
div.ChannelBg div.RightBanner, body.BackgroundBody div.RightBanner {
	text-align: center;
	padding-top: 17px
}
div.UploadVideo, div.TopBanner img, div.WhiteBlock, div.VideoInfo div.Size, div.AboutUser img, div.Channels img, div.LastVideo img, div.SortTime a, div.Pages ul li a, div.RightColumn ul li img, div.YouLook, div.RightBg, div.Tags, div.ContactsBlock div input, div.ContactsBlock div textarea, div.ContactsBlock div input[type="submit"], div.AboutUser input[type=submit], div.VideoWhite, div.Categories, div.SearchBlock, div.SearchBlock input[type=text], div.SearchBlock input[type="submit"], div.Raitings, div.RegistrationBlock div.Captcha input[type="text"], div.RegistrationBlock div input[type="submit"], div.RegistrationBlock div input[type="text"], div.RegistrationBlock div div.Rules, div.RegistrationBlock div input[type="password"], .body input[type=text], .body input[type=submit], .body input[type=password], div.UploadBlock div input[type="text"], div.UploadBlock div textarea, div.UploadBlock div input[type="submit"], div.UploadBlock div.GrayBg, /*div.UploadBlock*/ div.SelectBlock .sel_imul .sel_options, .sec .sel_options .sel_option:hover, div.Friends div.AddFriends input[type="text"], div.Friends div.AddFriends input[type="submit"], div.FriendsLeft input[type="submit"], div.FriendsRight input[type="submit"], div.TVProgramForm input[type="submit"], .sec2 .sel_imul .sel_options, .sec2 .sel_options .sel_option {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px
}


/*////////////////////////////////
	  		CATEGORY
////////////////////////////////*/


body.BackgroundBody div.RightColumn, body.Contacts div.RightColumn, body.VideoBody div.RightColumn, body.TranslationBody div.RightColumn, body.MemberBody div.RightColumn {
	width: 293px;
	/*margin-top: 6px*/
}
body.BackgroundBody div.ChannelBg div.RightColumn
{
    margin-top: 0;
}
body.BackgroundBody div.RightBanner {
	padding-bottom: 17px
}
div.Tags {
	background: #fff;
	box-shadow: 0 0 5px 0 #ccc;
	padding: 12px 30px 29px 30px;
	text-align: center
}
div.Tags h2 {
	text-align: left;
	margin-left: -15px;
	padding-bottom: 7px
}
div.Tags a {
	color: #005FBE
}


/*////////////////////////////////
	  	  CONTACTS
////////////////////////////////*/


body.Contacts div.WhiteBlock {
	padding-bottom: 31px
}
div.ContactsBlock p {
	padding: 16px 0 6px 0
}
div.ContactsBlock div {
	clear: both
}
div.ContactsBlock div input[type="text"], div.ContactsBlock div input[type="password"], div.ContactsBlock div textarea, div.RegistrationBlock div.Captcha input[type="text"], .body input[type=text], .body input[type=password] {
	background: #e9e9e9;
	border: none;
	width: 314px;
	height: 35px;
	font: 12px/35px Arial, Helvetica, sans-serif;
	color: #000;
	margin-top: 15px;
	padding: 0 8px
}
div.ContactsBlock div textarea {
	width: 625px;
	padding-top: 10px;
	line-height: normal;
	padding-bottom: 13px;
	height: 126px;
	overflow-y: auto;
	margin-bottom: -3px
}
div.ContactsBlock div.Captcha {
	padding-top: 14px
}
div.ContactsBlock div.Captcha img, div.RegistrationBlock div.Captcha img {
	float: left
}
div.ContactsBlock div.Captcha input[type="text"], div.RegistrationBlock div.Captcha input[type="text"] {
	margin: 7px 0 0 16px;
	width: 117px
}
div.ContactsBlock div input[type="submit"], div.RegistrationBlock div input[type="submit"], .body input[type=submit], div.UploadBlock div input[type="submit"], div.Friends div.AddFriends input[type="submit"], div.FriendsLeft input[type="submit"], div.FriendsRight input[type="submit"], div.TVProgramForm input[type="submit"], div.AboutUser input[type=submit] {
	line-height: 35px;
	border: none;
	cursor: pointer;
	background: url(../images/upload_bg.gif) repeat-x;
	/*width: 108px;*/ padding: 0 10px;
	height: 35px;
	margin: 24px 0 0 0;
	color: #fff
}

div.AboutUser input[type=submit]
{
    margin: 0 10px 0 0;
}

/*////////////////////////////////
	  	  VIDEO PAGE
////////////////////////////////*/


div.VideoComments {
	padding-top: 11px;
	margin-bottom: -2px;
	position: relative;
}
div.VideoComments a {
	color: #005FBE;
}
div.VideoComments ul {
	margin: 18px 0 0 -21px;
	padding-right: 22px;
	list-style: none
}
div.VideoComments ul li {
	padding: 13px 0 13px 22px;
}
div.VideoComments ul li div {
	position: absolute;
	left: -21px;
	width: 678px;
	border-top: 1px solid #dadada;
	height: 1px;
	font-size: 1px;
	margin-top: -14px
}
div.VideoComments ul li img {
	float: left;
	margin: 2px 10px 0 0
}
div.VideoComments ul li p {
	display: block;
	clear: both;
	padding-top: 12px
}
div.VideoComments ul li ul {
	padding-right: 0;
	margin-top: 13px
}
div.VideoComments ul li ul li {
	padding-left: 74px;
	padding-right: 0;
	padding-bottom: 0
}
/*div.VideoComments ul li ul {
	margin-top: 12px;
	margin-left: -22px
}
div.VideoComments ul li ul li {
	padding-left: 74px
}
div.VideoComments ul li ul li ul {
	margin-left: -74px
}
div.VideoComments ul li ul li ul li {
	padding-left: 128px
}
div.VideoComments ul li ul li ul li ul {
	margin-left: -128px
}
div.VideoComments ul li ul li ul li ul li {
	padding-left: 182px
}
div.VideoComments ul li ul li ul li ul li ul {
	margin-left: -182px
}
div.VideoComments ul li ul li ul li ul li ul li {
	padding-left: 236px
}
div.VideoComments ul li ul li ul li ul li ul li ul {
	margin-left: -236px
}
div.VideoComments ul li ul li ul li ul li ul li ul li {
	padding-left: 290px
}
div.VideoComments ul li ul li ul li ul li ul li ul li ul {
	margin-left: -290px
}
div.VideoComments ul li ul li ul li ul li ul li ul li ul li {
	padding-left: 344px
}
*/
div.VideoComments ul li a {
	color: #005FBE;
	font-weight: bold
}
div.VideoComments ul li span {
	display: block
}
div.Center h2 span {
	/*font-size: 15px*/
}
body.VideoBody div.RightBg {
	padding-right: 4px;
	margin-bottom: 9px
}
body.VideoBody div.RightBg h2 {
	padding-bottom: 18px
}
body.VideoBody div.RightBg ul {
	height: 563px;
	padding: 0 6px 0 0;
	overflow-y: scroll;
	position: relative
}
body.VideoBody div.RightBg ul li {
	padding: 2px 0 0 0
}
body.VideoBody div.RightBg ul li+li {
	padding-top: 20px
}
div.VideoWhite {
	margin: 0 0 9px 0;
	padding: 10px 15px 12px 15px
}
div.VideoWhite a {
	font: bold italic 24px "myriad Pro", verdana, arial, sans-serif;
	color: #005FBE;
	background: url(../images/line1.gif) repeat-x left bottom
}
div.VideoWhite a:hover {
	background: none
}


/*////////////////////////////////
	  	  TRANSLATION
////////////////////////////////*/


table.TranslationTable, table.PeopleTable {
	width: 679px;
	position: relative;
	left: -21px;
	margin: 12px 0 0 0
}
table.TranslationTable th, table.TranslationTable td, table.PeopleTable th, table.PeopleTable td {
	border-bottom: 1px solid #dadada;
	text-align: left
}
table.TranslationTable th, table.PeopleTable th {
	padding: 0 10px 10px 0
}
table.TranslationTable th a, table.PeopleTable th a {
	background: url(../images/line1.gif) repeat-x bottom
}
table.TranslationTable th a:hover, table.PeopleTable th a:hover {
	background: none
}
table.TranslationTable tr td a, table.TranslationTable tr td span, table.PeopleTable tr td a, table.PeopleTable tr td span {
	display: block
}
table.TranslationTable tr td+td a, table.TranslationTable tr td+td spa, table.PeopleTable tr td+td a, table.PeopleTable tr td+td span {
	display: inline
}
table.TranslationTable tr td, table.PeopleTable tr td {
	width: 60%;
	padding: 13px 0 14px 21px
}
table.TranslationTable tr td+td, table.PeopleTable tr td+td {
	width: auto;
	padding-left: 0;
	padding-right: 10px
}
table.TranslationTable tr td img, table.PeopleTable tr td img {
	float: left;
	margin: 2px 10px 0 0
}
table.TranslationTable tr td+td img, table.PeopleTable tr td+td img {
	float: none;
	margin: 0
}
table.TranslationTable a, table.PeopleTable a {
	color: #005FBE
}
div.Categories {
	padding: 13px 10px 20px 15px;
	margin-bottom: 11px
}
div.Categories table {
	width: 100%;
	margin-top: 8px;
	line-height: 16px
}
div.Categories table a {
	color: #005FBE
}
div.Categories table span {
	color: #959595
}
div.Categories table tr td {
	padding: 8px 0 0 3px;
	width: 180px
}
div.Categories table tr td+td {
	width: auto
}


/*////////////////////////////////
	  	    PEOPLE
////////////////////////////////*/


table.PeopleTable tr td {
	width: 40%
}
div.SearchBlock {
	padding: 13px 10px 20px 15px;
	margin-bottom: 10px
}
div.SearchBlock input {
	float: left;
	height: 35px;
	margin-top: 12px
}
div.SearchBlock input[type="text"] {
	font: 12px/35px Arial, Helvetica, sans-serif;
	color: #000;
	width: 163px;
	height: 35px;
	margin-right: 8px;
	border: none;
	padding: 0 11px;
	background: #e9e9e9
}
div.SearchBlock input[type="submit"] {
	width: 71px;
	height: 35px;
	border: none;
	cursor: pointer;
	background: url(../images/upload_bg.gif) repeat-x;
	color: #fff
}
div.Raitings {
	padding: 13px 15px 21px 15px;
	margin-bottom: 10px
}
div.Raitings h2 {
	padding-bottom: 4px
}
div.Raitings h3 {
	color: #959595;
	padding-top: 10px
}

/*////////////////////////////////
	  	  REGISTRATION
////////////////////////////////*/


div.Registration {
	padding: 13px 38px 22px 21px
}
div.RegistrationBlock div {
	padding: 18px 0 17px 0
}
div.RegistrationBlock div+div {
	border-top: 1px solid #dadada
}
div.RegistrationBlock div span, div.UploadBlock div span {
	float: left;
	display: block;
	font: bold 15px Tahoma, verdana, arial, sans-serif;
	color: #000;
	padding: 8px 0 0 0
}
div.RegistrationBlock div span strong {
	color: #659BD8
}
div.RegistrationBlock div input[type="text"], div.RegistrationBlock div input[type="password"], div.UploadBlock div input[type="text"], div.UploadBlock div textarea {
	float: right;
	width: 399px;
	height: 33px;
	background: #e9e9e9;
	border: 1px solid #dadada;
	font: 12px/33px Arial, Helvetica, sans-serif;
	color: #000;
	padding: 0 8px
}
div.RegistrationBlock div.NoInputText {
	padding: 2px 0 11px 0
}
div.RegistrationBlock div div.RadioDiv {
	float: right;
	padding: 11px 0 0 0;
	width: 434px
}
div.RegistrationBlock div div.RadioDiv input[type="radio"] {
	margin: 1px 3px 0 17px;
	width: 13px;
	height: 13px;
	float: left
}
div.RegistrationBlock div div.RadioDiv label {
	float: left
}
div.RegistrationBlock div div.ChckbxDiv {
	float: right;
	width: 417px;
	padding: 13px 0 0 0
}
div.ChckbxDiv input[type="checkbox"] {
	float: left;
	width: 13px;
	height: 13px
}
div.RegistrationBlock div span img, div.UploadBlock div span img {
	margin: 0 0 -2px 7px
}
div.RegistrationBlock div div.Rules {
	float: left;
	clear: both;
	width: 604px;
	height: 201px;
	background: #e9e9e9;
	border: 1px solid #dadada;
	padding: 7px 0 7px 13px;
	margin: 11px 0 0 0
}
div.RegistrationBlock div div.Rules div {
	padding: 0 17px 0 0;
	width: 580px;
	height: 201px;
	overflow-y: auto
}
div.RegistrationBlock div div.Rules p {
	padding: 7px 0
}
div.RegistrationBlock div div.Accept {
	padding: 15px 0 3px 0;
	border: none;
	clear: both
}
div.Accept input {
	width: 13px;
	height: 13px;
	float: left;
	margin: 1px 7px 0 0
}
div.Accept label {
	float: left
}
div.RegistrationBlock div.Captcha {
	padding-top: 15px
}
div.RegistrationBlock div.Captcha  input[type="text"] {
	float: left
}
div.RegistrationBlock div.NoBorder, div.UploadBlock div.NoBorder {
	border: none
}
div.RegistrationBlock div.NoBorder input[type="submit"], div.UploadBlock div input[type="submit"] {
	min-width: 175px;
	margin-top: 2px
}


/*////////////////////////////////
	  	 INDEX NO ITALIC
////////////////////////////////*/


body.NoItalic div.UploadVideo a, body.NoItalic div.TopMenu ul li, body.NoItalic div.Bookmarks ul li, body.NoItalic div.AboutUser div strong a, body.NoItalic div.AboutUser h3, body.NoItalic div.Channels div h3 a, body.NoItalic div.TodayDate, body.NoItalic div.FooterMenu ul li, body.NoItalic div.YouLook ul li, body.NoItalic div.ContactsBlock div input[type="submit"], body.NoItalic table.TranslationTable th, body.NoItalic table.PeopleTable th, body.NoItalic div.SearchBlock input[type="submit"], body.NoItalic div.Raitings h3, body.NoItalic div.RegistrationBlock div input[type="submit"], body.NoItalic div.Center h2, body.NoItalic div.Friends div h4 {
	font-style: normal
}


/*////////////////////////////////
	  	 	 UPLOAD
////////////////////////////////*/


div.UploadBlock div {
	padding: 29px 0 16px 0
}
div.UploadBlock div+div {
	border-top: 1px solid #dadada;
	padding: 16px 0
}
div.UploadBlock div input[type="file"] {
	float: right;
	width: 456px;
	background: #fff
}
div.UploadBlock div input[type="text"], div.UploadBlock div textarea {
	width: 438px
}
div.UploadBlock div textarea {
	line-height: 18px;
	padding: 5px 8px 7px 8px;
	height: 73px;
	overflow-y: auto
}
div.UploadBlock div p {
	float: right;
	clear: both;
	width: 456px;
	padding: 8px 0 0 0;
	margin-bottom: -4px
}
div.UploadBlock div span input[type="radio"] {
	width: 13px;
	height: 13px;
	float: left;
	margin: 3px 5px 0 0
}
div.UploadBlock div.GrayBg {
	width: 619px;
	margin: 18px 0 3px -12px;
	border: none;
	padding: 11px 18px 13px 12px;
	background: #f5f5f5
}
div.UploadBlock div.GrayBg p {
	padding-right: 18px;
	width: 438px
}
/*div.UploadBlock */div.SelectBlock, /*div.UploadBlock */div.SelectBlock div {
	border: none;
	padding: 0;
	overflow: visible !important;
}
div.SelectBlock {
	height: 35px;
	width: 456px;
	float: right;
	position: relative;
	z-index: 100
}
/*div.UploadBlock */ .sel_wrap select {
    display:none
}
.sel_imul, .sec2 .sel_imul {
    width: 456px;
	height: 35px
}

/*div.UploadBlock */div.SelectBlock .sel_imul .sel_selected, .sec2 .sel_imul .sel_selected {
    padding: 10px 50px 0 10px;
    cursor: pointer;
    position: absolute;
	text-align: left;
	height: 25px;
	width: 396px;
	z-index: 100;
	background: red url(../images/select.gif) no-repeat
}
/*div.UploadBlock */div.SelectBlock .sel_imul .sel_options, .sec2 .sel_imul .sel_options {
    /*overflow: hidden;*/
    position: absolute;
    display: none;
    z-index: 100;
	width: 456px;
	top: 37px;
	background: #e9e9e9;
	border: 1px solid #dadada;
}
/*div.UploadBlock */div.SelectBlock .sel_options .sel_option, .sec2 .sel_options .sel_option {
    padding: 5px 7px 7px 7px;
	text-align: left
}
.sec .sel_options .sel_option:hover, .sec2 .sel_options .sel_option:hover {
	background: #fafafa;
    cursor: pointer;
}
div.UploadBlock div input[type="submit"] {
	min-width: 128px;
}
div.UploadBlock div.RadioDiv {
	padding-top: 6px
}
div.UploadBlock div.RadioDiv div {
	float: right;
	width: 280px;
	padding: 6px 0 0 0;
	border: none
}
div.UploadBlock div.RadioDiv div div {
	padding-top: 6px
}
div.UploadBlock div.RadioDiv div input[type="radio"] {
	float: left;
	width: 13px;
	height: 13px;
	margin: 1px 5px 0 0
}
div.UploadBlock div.RadioDiv div label {
	float: left
}
div.UploadBlock div.RadioDiv p {
	float: right;
	clear: none;
	width: 180px;
	padding-top: 13px
}
div.UploadBlock div.ChckbxBlock input[type="checkbox"] {
	float: left;
	width: 13px;
	height: 13px;
	margin: 1px 5px 0 0
}
div.UploadBlock div.ChckbxBlock img {
	margin: 0 0 -2px 7px
}
div.UploadBlock div.ChckbxBlock p {
	float: none;
	width: 100%;
	padding: 10px 0 1px 0;
	margin-bottom: 0
}


/*////////////////////////////////
	  		 FRIENDS
////////////////////////////////*/


div.FriendsLeft, div.FriendsRight {
	float: left;
	width: 270px;
	padding-bottom: 15px;
}
div.FriendsRight {
	float: right
}
div.Friends div h4 {
	color: #000;
	border-bottom: 1px solid #dadada;
	padding: 24px 0 11px 0
}
div.Friends div ul {
	list-style: none
}
div.Friends div ul li {
	border-bottom: 1px solid #dadada;
	padding: 15px 0
}
div.Friends div ul li span {
	float: left;
	display: block;
	padding-right: 20px
}
div.Friends div ul li input [type="checkbox"] {
	width: 13px;
	height: 13px
}
div.Friends div ul li img {
	float: left;
	margin-right: 10px
}
div.Friends div ul li div, div.Friends div ul li div+div {
	float: left;
	width: auto;
	margin-top: -2px
}
div.Friends div ul li div a {
	color: #005FBE
}
div.Friends div.AddFriends {
	float: none;
	width: 100%;
	height: 35px;
	padding-top: 24px
}
div.Friends div.AddFriends input[type="text"] {
	float: left;
	width: 450px;
	height: 35px;
	font: normal 12px/35px Arial, Helvetica, sans-serif;
	color: #000;
	background: #e9e9e9;
	padding: 0 6px
}
div.Friends div.AddFriends input[type="submit"] {
	float: right;
	min-width: 137px;
	margin-top: 0
}
div.FriendsLeft input[type="submit"] {
	min-width: 170px;
	margin-top: 26px
}
div.FriendsRight input[type="submit"] {
	min-width: 180px;
	margin-top: 26px
}


/*////////////////////////////////
	  	   SAMARKAND
////////////////////////////////*/


div.SamarkandVideo {
	padding: 16px 0 0 0
}
div.SamarkandSmall {
	position: relative;
	left: -21px;
	width: 678px;
	margin: 20px 0 0 0;
}
div.SamarkandSmall div {
	border-top: 1px solid #dadada;
	padding: 16px 23px 0 23px
}
div.SamarkandSmall div img {
	float: left;
	margin: 1px 15px 0 0
}
div.SamarkandSmall div p {
	overflow: hidden
}
div.SamarkandSmall div p span {
	display: block
}
div.SamarkandSmall div p a {
	color: #005FBE
}
div.Center h2 em {
	font-size: 15px;
	color: #959595
}
div.TVProgramForm {
	padding: 17px 0 0 0
}
div.TVSelect {
	float: left;
	padding-right: 11px;
	width: 122px;
	height: 35px;
	position: relative;
	z-index: 100
}
.sec2 .sel_imul {
    width: 122px;
	height: 35px
}
.sec2 .sel_imul .sel_selected {
    padding: 10px 45px 0 10px;
    cursor: pointer;
    position: absolute;
	text-align: left;
	height: 25px;
	width: 67px;
	z-index: 100;
	background: url(../images/select_small.gif) no-repeat
}
.sec2 .sel_imul .sel_options {
    overflow: auto;
	max-height: 200px;
    position: absolute;
    display: none;
    z-index: 100;
	width: 120px;
	top: 37px;
	background: #e9e9e9;
	border: 1px solid #dadada;
}
.sec2 .sel_options .sel_option {
    padding: 5px 7px 7px 7px;
	text-align: left
}
.sec2 .sel_options .sel_option:hover {
	background: #fafafa;
    cursor: pointer;
}
div.TVProgramForm input[type="submit"] {
	min-width: 100px;
	margin-top: 0;
	float: left
}
div.TVProgram {
	position: relative;
	left: -21px;
	width: 634px;
	border-top: 1px solid #dadada;
	padding: 7px 22px 0 22px;
	margin: 19px 0 0 0
}
div.TVProgram ul {
	list-style: none;
	float: left
}
div.TVProgram ul li {
	float: left;
	width: 100%;
	color: #005FBE;
	clear: both;
	padding: 9px 0 0 0
}
div.TVProgram ul li span {
	display: block;
	float: left;
	width: 100px;
	color: #000
}
div.TVProgram ul li a {
	color: #005FBE
}
div.Samarkand ul li p strong {
	display: inline;
	float: none;
	margin: 0
}
div.Samarkand ul li p strong a {
	display: block;
	font-weight: bold
}
div.Samarkand ul li img {
	margin: 2px 13px 0 0;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px
}
div.Samarkand ul {
	margin-top: -3px;
	padding-bottom: 20px
}
div.Samarkand ul li {
	padding: 18px 0 0 0
}
#signincontainer, #closebutton
{
    position: absolute;
    z-index: 1001;
}

#closebutton
{
    padding: 10px 20px;
    background-color: #fff;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    text-decoration: none;
    border: 0;
    background-image: none;
}

#signincontainer
{
    padding: 20px;
    background-color: #fff;
    -moz-border-radius: 5px 0 5px 6px;
    -webkit-border-radius: 5px 0 5px 5px;
    border-radius: 5px 0 5px 5px;
}

.signin input[type=text], .signin input[type=password]
{
    border: 1px solid #DADADA;
    font-size: 16px;
    padding: 5px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
}

.signin th, .signin td
{
    padding: 5px;
    font-size: 16px;
    vertical-align: middle;
}

.signin input[type=checkbox]
{
    margin-right: 4px;
}

.LastVideo a img, .Channels a img, .RightColumn li > a > span > img
{
    
    width: 140px;
    /*max-height: 90px;*/
}

body.VideoBody .RightBg h2
{
    color: #005FBE;
    background: url(../images/line1.gif) repeat-x left bottom;
    cursor: pointer;
    display: inline;
}

body.VideoBody .RightBg h2:hover
{
    background: none;
}

body.VideoBody .RightBg h2.act
{
    color: #000;
    background: none;
}

.error, .failuretext
{
    color: Red;
}

input.error, textarea.error {
       border: 1px dotted red !important;
       background-color: #FFD6D6;
}

.previewArea, .img_online
{
    float: left;
    margin: 10px 10px 0 0;
}

.Bookmarks > ul > li > a, .Bookmarks > ul > li > a:visited
{
    color: #005FBE;
}

.UserSettingsBlock
{
    margin-top: 10px;
    font: 15px "myriad Pro", verdana, arial, sans-serif;
}

.UserSettingsBlock a, .UserSettingsBlock a:visited
{
    color: #005FBE;
}

.ContactsBlock table
{
    width: 640px;
}

.ContactsBlock table td
{
    vertical-align: middle;
    height: 50px;
}

.ContactsBlock table td:nth-child(odd)
{
    width: 30%;
    text-align: right;
    padding-right: 5px;
}

.ContactsBlock table td.spec
{
    padding-top: 15px;
}

.ContactsBlock table td input[type=submit]
{
    width: auto;
    padding: 0 10px;
}

.fix span
{
    float: none !important;
    display: inline !important;
}

#success a
{
    color: #005FBE;
}

.side-gradient
{
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-8 */
    
    position: absolute;
    width: 25px;
    height: 15px;
    right: 0;
    top: 0;
}

.bottom-gradient
{
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc1JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 75%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(75%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 75%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 75%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 75%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 75%,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
    
    position: absolute;
    width: 380px;
    height: 7px;
    left: 0;
    bottom: 0;
}

.faq ul
{
    margin-top:  10px;
    list-style: none outside none;
}

.faq ul li
{
    list-style-image: url(/images/link_ico1.gif);
    padding: 4px 0px;
    margin-left: 20px;
    font-size: 12px;
}

.faq ul li span
{
    text-decoration: underline;
    cursor: pointer;
}

.faq ul li div
{
    margin: 10px 0;
}

/*#################################GRID#################################################*/

#browseMain, .browseAdditional {margin-bottom: 20px;margin-top: 8px;}
.grid-view .video-cell {display: inline-block;vertical-align: top;width: 24.9%;}
.grid-view .video-entry {margin-bottom: 20px;width: 124px;}
.video-thumb {background-color: white;position: relative;}
.video-thumb .img {display: block;overflow: hidden;position: relative;}
.ux-thumb-128, .ux-thumb-128 .img {height: 72px;width: 128px;}
.ux-thumb-160, .ux-thumb-160 .img {height: 100px;width: 160px;}
.ux-thumb, .ux-thumb-128, .ux-thumb-160 {-moz-border-radius: 3px 3px 3px 3px;background: none repeat scroll 0 0 #FFFFFF;border: 1px solid #D3D3D3;display: block;overflow: hidden;padding: 4px;}
.ux-thumb-128 .img img {left: 0;top: -17px;width: 128px;}
.ux-thumb-160 .img img {left: 0;top: -17px;width: 160px;}
.ux-thumb-128 .img img, .ux-thumb-288 .img img, .ux-thumb-160 .img img {cursor: pointer;display: block;outline: medium none;position: absolute;}
.video-time, .video-corner-text span {-moz-border-radius: 3px 3px 3px 3px;background-color: #000000;color: #FFFFFF !important;display: inline-block;font-size: 11px;font-weight: bold;height: 14px;line-height: 14px;opacity: 0.75;padding: 0 4px;vertical-align: top;}
.video-time {bottom: 4px;margin-right: 0;margin-top: 0;position: absolute;right: 4px;z-index:7}
.video-title a {text-decoration: none;}
.video-short-title {font-weight: bold;height: 30px;overflow: hidden;padding-left: 1px;}

.yt-uix-button-group {white-space: nowrap;}
.yt-uix-button {
  background: -moz-linear-gradient(center top , #FFFFFF, #EFEFEF) repeat scroll 0 0 #F6F6F6;
  border: 1px solid #CCCCCC;
  color: #000000;
  cursor: pointer;
  overflow: visible;
  padding: 0 0.5em;
  vertical-align: middle;
  white-space: nowrap;
  background:#f6f6f6;
}
.video-actions {
  bottom: 4px;
  cursor: pointer;
  display:none;
  position: absolute;
  right: 1px;
  z-index:8;
}


.video-thumb .addto-container button.end {
  height: 23px;
  padding-left: 2px;
  width: 14px;
}
.video-thumb .addto-container button {
  -moz-border-radius: 0 0 0 0;
}
.yt-uix-button-group .end {
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-topright: 3px;
  border-right-style: solid;
}
.video-thumb .addto-container .yt-uix-button-arrow {
  margin-top: 0; border-width: 4px 4px 0;
}

.video-thumb .yt-uix-button-arrow {
  margin: 0;
}
.yt-uix-button img {
  font-size: 0;
  vertical-align: middle;
}

.yt-uix-button-arrow {
  border-color: #767676 transparent transparent;
  border-right: 5px solid transparent;
  border-style: solid;
  height: 0;
  width: 0;
}

.addto-container .yt-uix-button-content .addto-label {
  display: none;
}

.video-thumb .addto-container button.start {
  height: 23px;
  width: 24px;
}
.video-thumb .addto-container button {
  -moz-border-radius: 0 0 0 0;
}
.yt-uix-button-group .start {
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-topleft: 3px;
}
.yt-uix-button-group .yt-uix-button {
  border-right-style: none;
}

img.master-sprite, .master-sprite img {
   background-image: url("/images/icon/master-youtube.png");
  background-repeat: repeat-x;
  border: 0 none;
  cursor: pointer;
  padding: 0;
  vertical-align: middle;
}
.yt-uix-button-icon-addto {
  background-position: 0 -200px;
  height: 13px;
  width: 11px; 
   background-image: url("/images/icon/master-youtube.png");
  background-repeat: repeat-x;
  border: 0 none;
  cursor: pointer;
  padding: 0;
  vertical-align: middle;
}
a:hover .video-actions, a:hover .video-thumb-pyv .video-time, a.no-quicklist:hover .video-time, .video-actions.yt-uix-button-group-active {
  opacity: 1;
}
.video-in-quicklist {
  background-color: #333333;
  bottom: 0;
  color: #FFFFFF;
  cursor: pointer;
  display: none;
  font-size: 11px;
  left: 0;
  line-height: 1.2em;
  opacity: 0.8;
  padding: 4px 6px;
  position: absolute;
  right: 0;
  text-align: left;
  z-index:8 
}


#shared-addto-menu, #shared-addto-menu1 {
  max-height: 200px;
  max-width: 230px;
  overflow-x: hidden;
  overflow-y: auto;
}

.yt-uix-button-menu {
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-box-shadow: 0 0 3px #999999;
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #999999;
  position: absolute;
  z-index: 2147483647;
}
.hid {
  display: none;
}
#shared-addto-menu .addto-menu, #shared-addto-menu1 .addto-menu {
  min-width: 150px;
}
ol, ul {
  list-style: none outside none;
}
.yt-uix-button-menu .yt-uix-button-menu-item {
  background: none repeat scroll 0 0 #FFFFFF;
  color: #000000;
  cursor: pointer;
  display: block;
  padding: 0.4166em 0.6666em;
  text-decoration: none;
  white-space: nowrap;
}
.yt-uix-button-menu .yt-uix-button-menu-item:hover {background: none repeat scroll 0 0 #EAEAEA;}
.addto-item {
  margin-left: 1em;
}

/* LIKE STYLE */

a.like
 {
 	font-size:13px;
 	margin:5px; 
  background-image: url('/images/rating.png');
  background-position: 0px -39px;
   text-decoration:none;
   padding-left:20px;
 }
 
 a.msg_count{background-image: url('/images/mail.gif');text-decoration:none;padding-left:24px;display:none;height:15px;}
  a.like:hover
 {

  background-position: 0px -59px;
 }
 
 a.unlike
 { 
 	font-size :13px;
 	margin:5px; 
  background-image: url('/images/rating.png');
 background-position: 0 0px;
  text-decoration:none;
   padding-left:20px;
 }
  a.unlike:hover
 {
  background-position: 0px -18px;
 }
 div.rating{padding-top:2px;}


.likes-bar {
    background-color: #AADA37;
    border: 1px solid #698A14;
}
.dislikes-bar {
    background-color: #CF362F;
    border: 1px solid #881811;
}
.likes-bar,.dislikes-bar{height: 9px;}

.watch-ratings-stats-like { background-image: url('/images/rating.png'); background-image: url('/images/rating.png'); background-position: 0 -39px;    height: 19px;width: 16px;border: 0; margin: 0;}
.watch-ratings-stats-unlike {background-image: url('/images/rating.png'); background-position: 0px 0px;    height: 19px; width: 16px;border: 0; margin: 0;}
.watch-ratings-stats-parenthesis {color: #666666;font-size: 90%;float: none; display: inline;}

div.video-subscribe-container
{
    float:right !important;
    display: inline-block;
    margin: -6px 0 0 0;
    padding: 0 1px;
    background: none;
    position: relative;
}

div.video-subscribe
{
    background: transparent url('/NewDesign/Images/upload_bg.gif') repeat-x center center !important;
    height: 33px;
    
    padding: 0 10px !important;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

div.video-subscribe a
{
    /*font: italic bold 12px "myriad Pro", verdana, arial, sans-serif;*/
   font: 12px Tahoma, verdana, arial, sans-serif;
    line-height: 33px;
    color: #ffffff !important;
    /*font-variant: small-caps;*/
}

div.clip-hint
{
    position: relative;
    padding: 0 !important;
    border:1px solid #fff;
}

div.clip-hint span.img, a.recommended-thumb span.img
{
    position: relative;
    height: 90px;
    overflow: hidden;
   /* -webkit-border-radius: 4px;
    border-radius: 4px;*/
    display: block;
}

a.recommended-thumb span.img
{
    display: block;
    width: 140px;
    float: left;
    margin-right: 11px;
    border:1px solid #fff;
}

div.clip-hint:hover,  a.recommended-thumb span.img:hover
{
    /*background: transparent url(/images/thumb.png) no-repeat scroll center center;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 140px;
    height: 90px;
    z-index: 2;*/
    border:1px solid #005FBE;
}
div.RightColumn ul p
{
	margin-left:13px; 
}
a.recommended-thumb span.img img
{
    position: absolute;
    top: -15px;
}



div.clip-hint span.img img
{
    position: absolute;
    top: -12px;
}

div.clip-hint span.duration-info, a.recommended-thumb span.img span.duration-info
{
    color: #ffffff;
    font-size: 11px;
    padding: 0 4px;
    font-weight: bold;
    background-color: #000000;
    opacity: 0.75;
    position: absolute;
    right: 2px;
    bottom: 2px;
}

div.recommended-show-all
{
    margin-top: 10px;
}

div.recommended-show-all a
{
    color: #005FBE;
    background: url(../images/line1.gif) repeat-x bottom;
}

div.recommended-show-all a:hover
{
    background: none;
}

.signin .LoginButton input[type=submit], .register .divbtn input[type=submit]
{
    font: bold 15px 'myriad Pro', verdana, arial, sans-serif;
    border: none;
    cursor: pointer;
    background: url(/NewDesign/images/upload_bg.gif) repeat-x;
    padding: 0 10px;
    height: 35px;
    color: white;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

#signincontent
{
    display: none;
}

form.signin
{
    float: right;
}

div.Views-Container
{
    float: left;
}

div.Views-Container img.Views
{
    margin: 3px 5px -3px 18px;
}

#subscriptionrestricted
{
    display: none;
}

#subscriptionrestricted p
{
    padding-top: 30px;
}

#subscriptionrestricted p + p
{
    padding-top: 10px;
}

#playerLink textarea
{
    height:50px;
}

.addToPlaylist
{
    padding: 15px 175px 0;
}

#playerReport > div
{
    overflow: visible;
}

#complain_content_active
{
    width: 456px;
    overflow: visible;
}

#complain_form div.SelectBlock
{
    overflow: visible;
}

#complain_subject
{
    float: left;
}

#complain_email
{
    display: none;
    margin-top: 10px;
}

#complain_email input[type=text]
{
    width: 438px;
    background-color: #E9E9E9;
    border: 1px solid #DADADA;
    height: 33px;
    padding: 0 8px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

div.complain-body-container
{
    margin-top: 10px;
}

div.complain-body-container textarea
{
    width: 438px;
    background-color: #E9E9E9;
    border: 1px solid #DADADA;
    padding: 8px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

#complain_form div.Captcha img
{
    float: left;
}

#complain_form div.Captcha input[type=text]
{
    float: left;
    margin: 13px 0 0 16px;
    width: 117px;
    background-color: #E9E9E9;
    border: 1px solid #DADADA;
    padding: 8px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

#complain_send
{
    line-height: 35px;
    border: none;
    cursor: pointer;
    background: url(/NewDesign/images/upload_bg.gif) repeat-x;
    padding: 0 10px;
    height: 35px;
    margin: 10px 0 0 0;
    color: white;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font: 15px 'myriad Pro', verdana, arial, sans-serif;
}

#likeUnlike > div
{
    overflow: hidden;
}

span.userinfobox-categories-tags-container
{
    width: 300px;
}

div.ch-member
{
    height: auto !important;
}

div.ch-member h2
{
    margin-bottom: 10px;
}

div.ch-member #count_comments
{
    float: none;
    display: inline;
}

div.ch-member div.anchor
{
    display: inline-block;
}

div.ch-member #all_comments
{
    margin-top: 20px;
}

div.ch-member div.commentForm-member div#text_form1
{
    display:block;
    position:relative;
}

div.ch-member div.commentForm-member div.commentForm_header h4
{
    background:none;
}

div.CommentsBlock h2
{
    padding-bottom: 10px;
}

div.CommentsBlock #all_comments
{
    margin-top: 20px;
}

div.CommentsBlock #text_form1
{
    display:block;
    position:relative;
}

div.CommentsBlock .addition
{
    display: block;
    visibility: visible;
}



div.LastVideo div.tracklist-rows-divider
{
    clear: both;
    float: none;
    padding: 0;
}

.TopMedias .LastVideo + .AllChannels, .RecentMedias .LastVideo + .AllChannels, .ChannelsList .Channels + .AllChannels
{
    margin-top: 16px;
}

.RecentMedias a.user-name
{
    color: #0f76bb;
}

.ContactUs input.email, .ContactUs input.subject
{
    width: 400px !important;
}

.Advertising p, .Partners p
{
    padding-top: 20px;
}

.Faq div.faq
{
    padding: 5px;
    font-size: 14px;
}

.member-comments, .member-playerlink, .member-playerreport
{
    padding: 10px !important;
}

.member-playerlink textarea
{
    margin-top: 10px;
}

.member-playerlink textarea + a
{
    float: left;
    margin: 10px 10px 0 0;
}

.member-playerreport #complain_content_active
{
    width: 456px;
}

.member-playerreport select
{
    float: left;
}

.member-playerreport .CurColor
{
    margin-top: 10px !important;
}

.member-playerreport input.form_login
{
    width: 438px;
    background-color: #E9E9E9;
    border: 1px solid #DADADA;
    height: 33px;
    padding: 0 8px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.member-playerreport textarea
{
    width: 438px;
    background-color: #E9E9E9;
    border: 1px solid #DADADA;
    padding: 8px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.member-playerreport input[type=submit]
{
    line-height: 35px;
    border: none;
    cursor: pointer;
    background: url(/NewDesign/images/upload_bg.gif) repeat-x;
    padding: 0 10px;
    height: 35px;
    margin-top: 10px;
    color: white;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font: italic bold 15px 'myriad Pro', verdana, arial, sans-serif;
}

.member-tracklist h4 + p
{
    line-height: normal;
}

.member-tracklist h4 + p img
{
    border: 0;
    float: none;
}

.member-tracklist + .Pages > span
{
    float: left;
    display: inline;
    line-height: normal;
}

.member-tracklist + .Pages > ul
{
    line-height: normal;
}

#trackAddTo div.SelectBlock div
{
    overflow: visible !important;
}

pre
{
    font-family:Tahoma;
    padding:5px;
     white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
        }
        
        
.olamsport {
    background: url("/../Images/ufc1.jpg") no-repeat scroll center 100px transparent;
	background-color:#E8E5D4;


}

.olamsport6 {
    background: url("/../Images/setanta.jpg") no-repeat scroll center 100px transparent;
	background-color:#970014;


}

.olamsport2 {
    background: url("/../Images/france.jpg") no-repeat scroll center 100px transparent;
	background-color:#D9EBED;


}

.olamsport4 {
    background: url("/../Images/italy.jpg") no-repeat scroll center 100px transparent;
	background-color:#145F27;


}

