/* Copyright pdf2jpg.net - 2013 */

body {
	background: url(/main_background.png) repeat-y;
	background-color: #afafaf;
	padding: 0px;
	margin: 0px;
}

#global_container {
	padding-top: 5px;
	padding-bottom: 5px;
}

#main_container {
	padding: 0px;
	max-width: 738px;
	border: 1px solid #707070;
	background-color: #ffffff;
	margin-left: auto;
	margin-right: auto;
}

#content {
	padding: 5px;
}

#title {
	margin-left: auto;
	margin-right: auto;
	max-width: 575px;
	padding-bottom: 5px;
	text-align: center;
}

#title .img-responsive {
	border: 0px;
	margin: 0 auto;
}

h1 {
	font-size: 16pt;
}

h2 {
	font-size: 12pt;
}

#bottom_banner {
    border-top: 1px solid #707070;
    text-align: center;
	margin-top: 5px;
    padding: 3px;
    clear: both;
}

#bottom_banner p {
	margin-top: 0px;
	margin-bottom: 5px;
}

.spinner_container {
	width: 100%;
	text-align: center;
}

#picture_list {
	margin-top: 5px;
	border-collapse: separate;
	border-spacing: 5px;
}

.left_column {
	padding-right: 7px;
}

.right_column {
	padding-left: 7px;
}

.button_cell {
	text-align: center;
	width: 50%;
}

.button_cell p {
	padding: 0px;
	margin: 2px;
}

.addthis_buttons {
	padding-top: 15px;
	padding-bottom: 15px;
}

.addthis_buttons_centered {
	margin-left: auto;
	margin-right: auto;	
	width: 360px;
	margin-bottom: 10px;
}

#addthis_button table {
	border-collapse: collapse;
}

.button_div {
	text-align: center;
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
}

#pdf_to_jpg_form  {
	padding-bottom: 10px;
}

#pdf_to_jpg_converter_tutorial {
	padding-top: 10px;
}

#logo_paragraph {
	text-align: center;
}

.review_title {
	font-size: 9pt;
	margin-bottom: 0px;	
}

.review_title a {
	text-decoration: none;
	color: black;
}

.review_summary {
	margin-top: 0px;	
}

#processing_status {
	border: 1px solid #707070;
	width: 100%;
	padding: 10px;
	text-align: center;
}

#email_notification_icon {
	float: left;
	width: 45px;
}

#email_notification_icon img {
	margin: 8px;
}

#conversion_content {
	clear: both;
}

.parameter {
	padding-top: 5px;
}

.pdf_to_jpg_form_element p {
	margin-top: 2px;
}

#result_bottom_container {
	clear: both;
	padding-top: 10px;
}

#tree_status_container {
	padding-bottom: 15px;
}

#affiliate_caption {
	float: left;
	width: 392px;
	text-align: center;
}

#affiliate_caption a:link {
	text-decoration:  none;
	color: black;
}

#affiliate_caption a:visited {
	text-decoration:  none;
	color: black;
}

.affiliate_single_caption {
	font-size: 30px;
	font-family: sans-serif;
	font-weight: bold;
	text-decoration: none;
	padding-top: 10px;
	padding-bottom: 15px;
	border-radius: 15px;
	margin-left: 15px;
	margin-right: 15px;
}

#affiliat_picture {
	float: right;
	width: 336px;
}

#pdf_to_jpg_converter_advantages_list {
	list-style: none;
	padding-left: 0px;
}

#pdf_to_jpg_converter_advantages_list li {
	margin-bottom: 6px;
}

#right_ad {
	float: right;
}

/* Tree-o-meter */
#tree_o_meter_container {
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid #333333;
	width: 100%;
	height: 35px;
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}

#tree_o_meter_progress {
	margin: 0px;
	width: 0px;
	height: 33px;
	background-color: #a4fca2;
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}

#tree_o_meter_counter {
	position: relative;
	top: -35px;
	line-height: 35px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 10px;
	padding: 0px;
	font-weight: bold;
}

.addthis_container {
	padding-top: 10px;
}

#trees_report {
	margin-top: 10px;
}

#trees_report th {
	padding-right: 100px;
}

#trees_report td {
	padding-right: 100px;
}

/* Uploader */

#pdf_progress_bar {
	width: 300px;
	border: 1px solid;
	background-color: white;
	position: relative;
}

#pdf_progress {
	background-color: #3879d9;
	width: 0px;
}

#pdf_progress_caption {
	position: absolute;
	left: 140px;
}

#mashape_button {
	text-align: center;
}

/* Ads */

.wide_ad {
	width: 300px;
	height: 250px;
	margin-left: auto;
	margin-right: auto;
}

@media (min-width: 515px) {
	.wide_ad {
		width: 468px;
		height: 60px;
	}
}

@media (min-width: 1000px) {
	.wide_ad {
		width: 728px;
		height: 90px;
	}
}

.square_ad {
	width: 300px;
	height: 250px;
	margin-left: auto;
	margin-right: auto;
}

@media (min-width: 515px) {
	.square_ad {
		width: 468px;
		height: 60px;
	}
}

@media (min-width: 1000px) {
	.square_ad {
		width: 336px;
		height: 280px;
	}
}

/* Donation */

#blocker_fallback p {
	font-weight: bold;
}

.donate_button {
	text-align: center;
}
