/* PopcornTV V3 - By Riccardo Mel
======================================
Author:Riccardo Mel;
Email:info@riccardomel.it;
Site: riccardomel.com/targetweb.it;
Licenza Commerciale - Vietata la riproduzione anche parziale
======================================
*/


/* 0 - FONTS
======================================*/

@font-face {
    font-family: 'futura_ltregular';
    src: url('../fonts/futuralt-webfont.eot');
    src: url('../fonts/futuralt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futuralt-webfont.woff2') format('woff2'),
         url('../fonts/futuralt-webfont.woff') format('woff'),
         url('../fonts/futuralt-webfont.ttf') format('truetype'),
         url('../fonts/futuralt-webfont.svg#futura_ltregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'futura_ltbold';
    src: url('../fonts/futuralt-bold-webfont.eot');
    src: url('../fonts/futuralt-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futuralt-bold-webfont.woff2') format('woff2'),
         url('../fonts/futuralt-bold-webfont.woff') format('woff'),
         url('../fonts/futuralt-bold-webfont.ttf') format('truetype'),
         url('../fonts/futuralt-bold-webfont.svg#futura_ltbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'futura_ltbook';
    src: url('../fonts/futuralt-book-webfont.eot');
    src: url('../fonts/futuralt-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futuralt-book-webfont.woff2') format('woff2'),
         url('../fonts/futuralt-book-webfont.woff') format('woff'),
         url('../fonts/futuralt-book-webfont.ttf') format('truetype'),
         url('../fonts/futuralt-book-webfont.svg#futura_ltbook') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'futura_ltcondensed';
    src: url('../fonts/futuralt-condensed-webfont.eot');
    src: url('../fonts/futuralt-condensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futuralt-condensed-webfont.woff2') format('woff2'),
         url('../fonts/futuralt-condensed-webfont.woff') format('woff'),
         url('../fonts/futuralt-condensed-webfont.ttf') format('truetype'),
         url('../fonts/futuralt-condensed-webfont.svg#futura_ltcondensed') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'futura_ltextrabold';
    src: url('../fonts/futuralt-extrabold-webfont.eot');
    src: url('../fonts/futuralt-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futuralt-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/futuralt-extrabold-webfont.woff') format('woff'),
         url('../fonts/futuralt-extrabold-webfont.ttf') format('truetype'),
         url('../fonts/futuralt-extrabold-webfont.svg#futura_ltextrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'futura_ltheavy';
    src: url('../fonts/futuralt-heavy-webfont.eot');
    src: url('../fonts/futuralt-heavy-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futuralt-heavy-webfont.woff2') format('woff2'),
         url('../fonts/futuralt-heavy-webfont.woff') format('woff'),
         url('../fonts/futuralt-heavy-webfont.ttf') format('truetype'),
         url('../fonts/futuralt-heavy-webfont.svg#futura_ltheavy') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'futura_ltlight';
    src: url('../fonts/futuralt-light-webfont.eot');
    src: url('../fonts/futuralt-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futuralt-light-webfont.woff2') format('woff2'),
         url('../fonts/futuralt-light-webfont.woff') format('woff'),
         url('../fonts/futuralt-light-webfont.ttf') format('truetype'),
         url('../fonts/futuralt-light-webfont.svg#futura_ltlight') format('svg');
    font-weight: normal;
    font-style: normal;

}


@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);


/* 1 - GENERALE E TIPOGRAFIA
======================================*/

body{font-family: 'Open Sans', sans-serif; font-size: 14px;  background: #e2e2e2; position: relative; top:80px;}
h1{ font-family: 'futura_ltheavy';}
h2{ font-family: 'futura_ltheavy';}
h3{ font-family: 'futura_ltheavy';}
h4{ font-family: 'futura_ltheavy';}
h5{ font-family: 'futura_ltbold';}
h6{ font-family: 'futura_ltbold';}
img, iframe{ max-width: 100%; }
a{ word-wrap: break-word;}

.fixed{
   position: fixed;
   width: 100%;
}

.mCSB_inside>.mCSB_container {
    margin-right: 0px!important;
}

.modal-dialog {
    margin: 150px auto!important;
}
.modal-content{ border-radius:0px!important;}
.btn-primary {
    background-color: #303e4b!important;
    border-color: #222e3a!important;
}


.floated-left{float: left;}
.floated-right{float: right; }
.bold{font-weight: bold;}
.relative{position:relative;}
.customVideo{ display: none!important; }
.customBox{ display: none!important; }
.fa {font-family: FontAwesome!important;}
.nontrovato-container{text-align: center; padding: 60px; }
.CorrelazioneAdv{}
.bungee_close{ background-color: #4d4d4d!important; padding: 2px 10px!important; text-transform: uppercase!important; font-size: 10px!important;}
.heromenu{color:#c80265!important; font-weight: bold!important; }
.mobile-helper-title{padding: 5px 10px;}
#byLady{float:right; margin: 10px 0px 0px 0px;}
.box-adsense{ margin:15px 0px; text-align: center; position: relative; }
.aside_newsletter_box{
    width: 100%!important;
    margin: 15px 0px!important;
}
.aside_fb_box{clear: both; position: relative;}
.PillarBoxPctv{
   border: 1px solid #ececec;
   border-left: 5px solid #c80265;
   border-bottom: 1px solid #c80265;
   padding: 20px;
   margin: 20px 0px;
   text-align: center;
   font-style: italic;
   font-size: 18px;
}


.TwitterBox{ padding-left: 25px; }
.FbBox{ padding-left: 40px; }

.PlayerHolder{width: 100%;}



/* spinner management */
  .rmp-loading-spin > div {
  -webkit-animation: spin 1.2s infinite ease-in-out;
  -moz-animation: spin 1.2s infinite ease-in-out;
  animation: spin 1.2s infinite ease-in-out;
}
 .rmp-loading-spin > .rect2 {
  -webkit-animation-delay: -1.1s;
  -moz-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.rmp-loading-spin > .rect3 {
  -webkit-animation-delay: -1s;
  -moz-animation-delay: -1s;
  animation-delay: -1s;
}
.rmp-loading-spin > .rect4 {
  -webkit-animation-delay: -0.9s;
  -moz-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.rmp-loading-spin > .rect5 {
  -webkit-animation-delay: -0.8s;
  -moz-animation-delay: -0.8s;
  animation-delay: -0.8s;
}


/* FIX ADV LEONARDO
======================================*/

.leoskin #top{display: none;}
#Leonardo_Navigation{z-index: 9999!important; }

/* 2 - POPOVER CUSTOM STYLING
======================================*/
.popover{width: 450px;background:#303e4b; color: #fff; }
.popover-title{ font-weight: bold; padding: 10px; background:#303e4b; border-color: #3e4a56; text-transform: uppercase; font-family: 'futura_ltheavy'; }
.popover-content{ padding: 10px 15px;background:#303e4b;}
.popover.right>.arrow:after {
    border-right-color: #303e4b;
}
.popover.left>.arrow:after {
    border-left-color: #303e4b;
}
.popover.top>.arrow:after {
    border-top-color: #303e4b;
}
.popover.bottom>.arrow:after {
    border-bottom-color: #303e4b;
}

/* 2 - LOGIN
======================================*/

#auth-area{ padding: 25px; }
#auth-area h1{
    border-bottom: 1px solid #ececec;
    padding: 10px 0px;
    margin: 0px 0px 30px 0px;
}
#auth-area h3{
    text-transform: uppercase;
    font-size: 16px;
    border-bottom: 1px solid #ececec;
    padding: 5px 0px;
}

#auth-area input{  border-radius: 0px;}

.social-auth-area{ border:1px solid #ececec; margin: 15px 0px; background: #f7f7f7; padding: 10px; }
.social-auth-area p {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}
.social-auth-area button{
    font-family: 'futura_ltheavy';
    width: 100% !important;
    height: 50px;
    background: rgba(0, 0, 0, 0) linear-gradient(#4c69ba, #3b55a0) repeat scroll 0 0;
    border-color: #4c69ba;
    text-align: center;
    margin-bottom: 5px;
    padding-top: 1px;
    cursor: pointer;
    min-width: 300px;
    color:#fff;
    font-weight:bold;
    font-size: 32px;
    letter-spacing: -1px;
}

.social-auth-area i{margin: 0px 10px;}

.btn-auth{
    margin-top: 27px;
    padding: 6px 28px;
    text-transform: uppercase;
    font-weight: bold;
    background: #303e4b;
    border-radius: 0px;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
}
.btn-auth:hover{
    background: #222e3a;
}

.btn-auth-secondary{
    background:#f7f7f7;
    border:1px solid #ececec;
    padding: 6px 28px;
    float:left;
    border-radius:0px;
    margin-top: 27px;
    text-transform: uppercase;
    font-weight: bold;
}

.control-label{text-align: left!important; }

.checkbox{ padding: 15px 0px!important; }

.auth-link{
    font-size: 14px;
    text-transform: uppercase;
    padding: 10px 15px;
    background: #303e4b;
    color: #fff;
    display: inline-block;
}

.legal-flyer{height:85px; /*width:100%;*/ overflow-y:scroll; font-size:12px; text-align:justify;}
.g-recaptcha{float: right;}

/* 2 - STRUTTURA
======================================*/

.container { max-width: 970px; width: 970px; }

.main{
    border-left: 1px solid #d2d2d2;
    border-right: 1px solid #d2d2d2;
    margin: 0 auto;
    background: #fff;
    -webkit-box-shadow: 0px 1px 10px 0px rgba(50, 50, 50, 0.25);
    -moz-box-shadow:    0px 1px 10px 0px rgba(50, 50, 50, 0.25);
    box-shadow:         0px 1px 10px 0px rgba(50, 50, 50, 0.25);
}

.sidebar{ border-left: 1px solid #ececec;  }
.sidebar-title {
    letter-spacing: 0px;
    text-transform: uppercase;
    font-size: 18px;
    color: #fff;
    background: #303E4B;
    line-height: 18px;
    padding: 12px;
    margin-bottom: 0px;
 }


.sidebar-correlati {  padding-bottom: 10px; }
.sidebar-correlati img { padding-right: 5px; }
.sidebar-correlati span { margin: 0px; padding: 0px;  font-size: 10px;  }
.sidebar-correlati p { padding-left: 0px;    padding-top: 5px;    font-size: 12px; }
.sidebar-correlati a { text-decoration: none; color: inherit; }

.sidebar-home{ margin:20px 0px; padding:0px 10px; text-align: center; }
.atf_sidebar{ background: #f7f7f7; border-left:1px solid #ececec; border-top:1px solid #ececec; border-bottom:1px solid #ececec; padding: 0px;}
.atf, .btf { margin: 15px 0px; }
.mobile-box-deltapicturesit{ margin: 15px 0px; text-align: center; display: block; }

.facebook-box { margin-bottom: 10px; }
#slider{ padding: 0px; }
#slider img{ max-width: 100%; }
.no-gutter > [class*='col-'] { padding-right:0; padding-left:0; }
.row-eq-height { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }

.widget {
    padding: 0px;
    margin-bottom: 10px;
}

.title_newsCanale{
    margin: 10px 10px 0px 10px;
    border-bottom: 1px solid #ececec;
    padding: 10px;
}


/* 3 - HEADER + MENU
======================================*/

#top{ padding-left: 0px; padding-right: 0px; }

/*.menuzord-menu{min-width: 720px;}*//*Fix bug caricamento logo*/

#logo-delta{width: 180px;}
.cbp-af-header {
    font-family: futura_ltheavy;
    position: fixed;
    top: 40px;
    left: 0;
    width: 100%;
    background: #303e4b;
    /*z-index: 10000;*/
    z-index: 9999;
    height: 80px;
    /*overflow: hidden;*/
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
}

.cbp-af-header .cbp-af-inner {
    width: 100%;
    max-width: 73em;
    margin: 0 auto;
    padding: 0 1.875em;
}

.cbp-af-header h1,
.cbp-af-header nav {
    display: inline-block;
    position: relative;
}

 /* We just have one-lined elements, so we'll center the elements with the line-height set to the height of the header */
.cbp-af-header h1,
.cbp-af-header nav a {
    line-height: 80px;
}

.cbp-af-header h1 {
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 4px;
    font-size: 4em;
    margin: 0;
    background-repeat: no-repeat!important;
    background-position: center!important;
    width: 163px;
    text-indent: -999999999999px;
    margin-left: 0px;
}

.cbp-af-header nav {
    float: none;
}

.cbp-af-header nav a {
    color: #f8f8f8;
    margin: 0 0 0 0px;
    font-size: 12px;
    text-transform: uppercase;
}

.cbp-af-header nav a:hover {
    color: #fff;
}

/* Transitions and class for reduced height */
.cbp-af-header h1,
.cbp-af-header nav a {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.cbp-af-header.cbp-af-header-shrink {
    height: 50px;
}

.cbp-af-header.cbp-af-header-shrink h1,
.cbp-af-header.cbp-af-header-shrink nav a {
    line-height: 50px;
}

.cbp-af-header.cbp-af-header-shrink .megasubmenu a {
    line-height: 20px!important;
}


.cbp-af-header.cbp-af-header-shrink h1 {
    font-size: 2em;
}

/* Example Media Queries */
@media screen and (max-width: 55em) {

    .cbp-af-header .cbp-af-inner {
        width: 100%;
    }

    .cbp-af-header h1,
    .cbp-af-header nav {
        display: block;
        margin: 0 auto;
        text-align: center;
        float: none;
    }

    .cbp-af-header h1,
    .cbp-af-header nav a {
        line-height: 115px;
    }

    .cbp-af-header nav a {
        margin: 0 10px;
    }

    .cbp-af-header.cbp-af-header-shrink h1,
    .cbp-af-header.cbp-af-header-shrink nav a {
        line-height: 45px;
    }

    .cbp-af-header.cbp-af-header-shrink h1 {
        font-size: 2em;
    }

    .cbp-af-header.cbp-af-header-shrink nav a {
        font-size: 1em;
    }
}

@media screen and (max-width: 32.25em) {
    .cbp-af-header nav a {
        font-size: 1em;
    }
}

@media screen and (max-width: 24em) {
    .cbp-af-header nav a,
    .cbp-af-header.cbp-af-header-shrink nav a {
        line-height: 1;
    }
}

.menuzord .showhide em {
    background: #fff!important;
}


.menuzord.pctv .menuzord-menu > li.active > a,
.menuzord.pctv .menuzord-menu > li:hover > a,
.menuzord.pctv .menuzord-menu ul.dropdown li:hover > a{
    color: #fff;
}

.menuzord-menu > li.active > a { background: #303e4b; }

.menuzord.pctv .menuzord-menu > li > a{
    padding: 0px 9px;
}

.menuzord-menu.menuzord-right{
    margin-right: -15px!important;
    font-size: 12px;
}

.megasubmenu {
    list-style: none;
    padding-left: 0px;
    color: #cbcbcb;
}

.megasubmenu li {
    font-family: 'futura_ltbold';
    font-size: 18px;
    text-transform: uppercase;
    padding: 8px 0px 8px 8px;
    border-bottom: 1px solid #3e4a56;
}

.megasubmenu li a {
    line-height: 1;
}

.selezione-video {
    color: #fff;
    border-bottom: 1px dotted #cbcbcb;
    font-family: 'futura_ltbold';
    font-size: 18px;
    text-transform: uppercase;
    padding: 8px 0px 8px 8px;
    border-bottom: 1px solid #3e4a56;
}

.selezione-video i {
    float: right;
    padding-top: 5px;
    padding-right: 5px;
}

.menu-generi {
    height: 300px;
    overflow: hidden;
}

.menu-generi li {
    margin-right: 25px;
}

.menu-generi li a {
    font-family: 'futura_ltregular';
    text-transform: none;
    font-size: 12px;
}

.menu-megabox {
    margin: 15px 0px;
}

.menu-panel .menu-megabox {
    margin-top: 18px;
}

.menu-panel h5 {
    font-family: 'futura_ltheavy';
    font-size: 16px;
    border-bottom: 1px dotted #cbcbcb;
    padding-bottom: 5px;
}

.menu-megabox a {
    text-decoration: none;
}

.menu-news-title a:hover {
    text-decoration: none;
}

.menu-news-title h4 {
    font-family: 'futura_ltregular';
    font-size: 14px;
    padding-left: 10px;
    text-transform: none;
}

.menu-ultimi-video h5 {
    font-family: 'futura_ltheavy';
    font-size: 16px;
    border-bottom: 1px dotted #cbcbcb;
    padding-bottom: 5px;
}

.menu-box-video {
    background:#cecece;
    height:180px;
}

.menu-ultimi-video h4 {
    font-family: 'futura_ltregular';
    font-size: 16px;
    padding: 10px;
    margin-top: 10px;
    background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.15) 75%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.15) 75%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.15) 75%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

.menu-ultimi-video .menu-megabox {
    margin: 25px 0px 15px 0px;
}

.menu-ultimi-video i {
    color: #444;
    font-size: 64px;
    opacity: 0.5;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    /* transform: translate(-50%, -50%); */
}

.megamenu-network h3 {
    font-family: 'futura_ltbold';
    text-transform: uppercase;
    font-size: 18px;
}

.megamenu-network .megasubmenu li a {
    text-transform: none;
    font-family: 'futura_ltregular';
    font-size: 14px;
}

.megamenu-cerca {
    padding: 0px !important;
}

.cerca-text h3 {
    text-align: center;
    margin: 0px;
    padding: 35px;
    border: 1px solid #303E4B;
    text-transform: uppercase;
    font-family: 'futura_ltbold';
}


.cerca-form {  border: 1px solid #303E4B; background: #303E4B; }

.cerca-form form {
    padding: 25px;
}

.cerca-form form button {
    background: #a90f5c;
    border: none;
    padding: 12px;
    margin: 0px;
}

.cerca-form form input {
    padding: 12px;
    width: 90%;
    color: #444;
}

.cerca-form form i {
    font-size:18px;
}


.menuzord-menu > li > .megamenu {
    background: #222e3a!important;
}
.menuzord-menu > li > .megamenu {
    padding: 30px 30px!important;
}


.megamenu-assets-library{margin:18px 0px; position:relative; overflow:hidden;}
.megamenu-assets-library img{ max-width: 100%; }
.megamenu-assets-library img:first-child{margin-bottom:5px;}
.megamenu-assets-library p{
    position: absolute;
    top: 0px;
    z-index: 99999999;
    background: rgba(0,0,0,0.7);
    line-height: 20px;
    padding: 5px 10px;
    width:100%;
    font-size:12px; font-family: 'futura_ltheavy';
}
.megamenu-assets-library-locandine{margin:20px 0px; position:relative; overflow:hidden;}
.megamenu-assets-library-locandine img{ max-width: 100%; }
/*.megamenu-assets-library-locandine a img:first-child{ margin-right: 19px; }*/


/* 4 - ADV
======================================*/

.masthead{  margin: 15px auto; padding: 0px; position: relative; text-align: center;  }
.adv_home_atf{ margin:-5px 0px 0px 0px; padding:0px 5px 10px 28px; border-bottom:1px solid #ececec; }
.adv_home_atf img { width:300px; }
.autopromo { height: 138px;  }

/* 5 - FOOTER
======================================*/

#network-prefooter{background: #222e3a; color:#fff;}

#footer-dp{background: #303e4b; color:#fff; padding:20px;}
#logo-delta-footer{margin: 10px 0px 0px 10px;}

.footer-dpnetwork{margin: 0px; padding: 0px; }
.footer-dpnetwork li{ float:left; list-style: none; padding: 15px 10px; border-right: 1px solid #3e4a56; }
.footer-dpnetwork li a{ color: #fff; text-transform: uppercase; font-size: 10px; font-family: futura_ltheavy; letter-spacing: 2px; text-decoration: none; }
.footer-dpnetwork #popcorntv:hover { background-color: #CD136F }
.footer-dpnetwork #donnaglamour:hover { background-color: #d2002b }
.footer-dpnetwork #icm:hover { background-color: #53a007 }
.footer-dpnetwork #autoelusso:hover { background-color: #d5a217 }
.footer-dpnetwork #primochef:hover { background-color: #c56512 }
.footer-dpnetwork #notiziemusica:hover { background-color: #c7316a }
.footer-dpnetwork #newsflix:hover { background-color: #58ab27 }
.footer-dpnetwork #notiziebenessere:hover { background-color: #FF4783 }
.footer-dpnetwork #haly:hover { background-color: #1b9cee }
#to-top{ border-right: none; text-align: right; float: right; margin-right: 15px; }

.footer-infoarea{}
.footer-infoarea h4{text-transform: uppercase; font-size: 16px; letter-spacing: 1px; padding-bottom:15px; border-bottom:1px solid #3e4a56;}
.footer-infoarea li{font-family: 'Open Sans', sans-serif; float: right; font-size:11px; text-transform: uppercase; list-style-type: none; padding-right: 20px; }
.footer-infoarea li a { color: #fff }

.last-footerarea{background: #303e4b; color:#fff; padding:20px; border-top:1px solid #3e4a56;}
.last-footerarea p{text-align:left; margin: 20px 10px; text-align: left; font-size: 13px; line-height: 20px;}

/* Fade */
.hvr-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}

/* 6 - CAROUSELS
======================================*/

.swiper-container-simple { width:968px; height:300px; padding-left: 8px; }
.swiper-container-simple { margin: 0 auto; position: relative; overflow: hidden; z-index: 1; }
.swiper-container-simple .swiper-button-prev { border-radius: 0px 2px 2px 0px; }
.swiper-container-simple .swiper-button-next { border-radius: 2px 0px 0px 2px; }
.swiper-container-simple .swiper-button-next,
.swiper-container-simple .swiper-button-prev {
    background-image: none; background-color: #fff; height: 60px; text-align: center; opacity: 0; top: 40%; transition: 300ms;
}
.swiper-container-simple:hover .swiper-button-next,
.swiper-container-simple:hover .swiper-button-prev { opacity: 1; top: 40%; }
.swiper-container-simple .swiper-button-next .fa-chevron-right, .swiper-container-simple .swiper-button-prev .fa-chevron-left {
    font-size: 24px; padding-top: 18px;
}
.swiper-container-simple .swiper-button-next .fa-chevron-right { padding-left: 5px; }
.swiper-container-simple .swiper-button-prev .fa-chevron-left { padding-right: 5px; }

/*Home*/
.swiper-container-sliderhome .swiper-button-prev { border-radius: 0px 2px 2px 0px; }
.swiper-container-sliderhome .swiper-button-next { border-radius: 2px 0px 0px 2px; }
.swiper-container-sliderhome .swiper-button-next,
.swiper-container-sliderhome .swiper-button-prev {
    background-image: none; background-color: #fff; height: 60px; text-align: center; opacity: 0; top: 40%; transition: 300ms;
}
.swiper-container-sliderhome:hover .swiper-button-next,
.swiper-container-sliderhome:hover .swiper-button-prev { opacity: 1; top: 40%; }
.swiper-container-sliderhome .swiper-button-next .fa-chevron-right, .swiper-container-sliderhome .swiper-button-prev .fa-chevron-left {
    font-size: 24px; padding-top: 18px;
}
.swiper-container-sliderhome .swiper-button-next .fa-chevron-right { padding-left: 5px; }
.swiper-container-sliderhome .swiper-button-prev .fa-chevron-left { padding-right: 5px; }
.swiper-container-sliderhome .swiper-button-next{ right: -5px; }
.swiper-container-sliderhome .swiper-button-prev{ left: 0px; }

.swiper-pagination-progress .swiper-pagination-progressbar {
    background: #222e3a;
}


/*Vertical*/
.swiper-container-verticalslide {
    width: 100%;
    height:410px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
}
.swiper-slide-verticalslide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}


/*Wall*/
.swiper-container-wall {
    width: 100%;
    height: 560px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
}
.swiper-container-wall .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    height: 250px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}


.swiper-container-wall .swiper-button-prev { border-radius: 0px 2px 2px 0px; }
.swiper-container-wall .swiper-button-next { border-radius: 2px 0px 0px 2px; }
.swiper-container-wall .swiper-button-next,
.swiper-container-wall .swiper-button-prev {
    background-image: none; color:#fff; background-color: #303e4b; height: 70px; text-align: center; opacity: 0; top: 40%; transition: 300ms;
}
.swiper-container-wall:hover .swiper-button-next,
.swiper-container-wall:hover .swiper-button-prev { opacity: 1; top: 40%; }
.swiper-container-wall .swiper-button-next .fa-chevron-right, .swiper-container-wall .swiper-button-prev .fa-chevron-left {
    font-size: 24px; padding-top: 21px;
}
.swiper-container-wall .swiper-button-next .fa-chevron-right { padding-left: 5px; }
.swiper-container-wall .swiper-button-prev .fa-chevron-left { padding-right: 5px; }
.swiper-container-wall .swiper-button-next{ right:5px; }
.swiper-container-wall .swiper-button-prev{ left: 0px; }


/* 7 - GRIGLIA MASONRY
======================================*/

.item { background: #fff; margin: 20px 10px 25px 10px; box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1),0 1px 1px 0 rgba(0,0,0,0.1); }
.item p { font-family: 'futura_ltheavy'; padding:5px 15px 0px 15px; margin:0px }


.Cinema { font-family: 'futura_ltheavy'; color: #2588e5; text-transform: uppercase; font-size: 12px; margin-bottom: 5px; }
.Anime { font-family: 'futura_ltheavy'; color: #e58825; text-transform: uppercase; font-size: 12px; margin-bottom: 5px; }
.Telenovelas { font-family: 'futura_ltheavy'; color: #e45d5d; text-transform: uppercase; font-size: 12px; margin-bottom: 5px; }
.Lady{ font-family: 'futura_ltheavy'; color: #e45d5d; text-transform: uppercase; font-size: 12px; margin-bottom: 5px; }
.News { font-family: 'futura_ltheavy'; color: #bd07b2; text-transform: uppercase; font-size: 12px; margin-bottom: 5px; }
.VideoStrillo { font-family: 'futura_ltheavy'; color: #ff7506; text-transform: uppercase; font-size: 12px; margin-bottom: 5px; }
.Videostrillo{ font-family: 'futura_ltheavy'; color: #ff7506; text-transform: uppercase; font-size: 12px; margin-bottom: 5px; }
.Trailer { font-family: 'futura_ltheavy'; color: #31b6f4; text-transform: uppercase; font-size: 12px; margin-bottom: 5px; }
.Default{ font-family: 'futura_ltheavy'; color: #bd07b2; text-transform: uppercase; font-size: 12px; margin-bottom: 5px; }
.Stasera { font-family: 'futura_ltheavy'; color: #bd07b2; text-transform: uppercase; font-size: 12px; margin-bottom: 5px; }
.People { font-family: 'futura_ltheavy'; color: #e45d5d; text-transform: uppercase; font-size: 12px; margin-bottom: 5px; }
.Tv { font-family: 'futura_ltheavy'; color: #ff7506; text-transform: uppercase; font-size: 12px; margin-bottom: 5px; }
.Guide { font-family: 'futura_ltheavy'; color: #bd07b2; text-transform: uppercase; font-size: 12px; margin-bottom: 5px; }


.item h4 { padding:0px 15px 10px 15px; margin: 0px; line-height: 24px; }
.item h2 { padding:0px 15px 10px 15px; margin: 0px; line-height: 32px; font-size: 24px; }
.item a { color: #333; }
.item a:hover, .item a:focus, .item a:active, .item a:visited { text-decoration: none; }

.column {
    float: left;
}
.size-1of1 {
    width: 100%;
}
.size-1of2 {
    width: 50%;
}
.size-1of3 {
    width: 33.333%;
}
.size-1of4 {
    width: 25%;
}

#timeline { margin-top:0px; overflow: hidden; }

#timeline img { width: 100%; }

#timeline[data-columns]::before {
    content: '2 .column.size-1of2';
}


/* 8 - HOME
======================================*/

#section-filter-home{ cursor: pointer;  border-bottom: 1px solid #222e3a; padding-left: 0px; padding-right: 0px; background: #222e3a; }
.home-filter{ padding: 0; margin: 0; list-style: none; }
.home-filter-active{ font-weight: bold; }
.home-filter li{ color:#fff; padding:25px 10px; margin: 0px; border-bottom: 1px solid #303e4b; background: #222e3a;  font-size: 12px; text-transform: uppercase; text-align: center;}
#section-selezionati-per-te{ padding: 20px 0px;  border-top:1px solid #ececec; border-bottom:1px solid #ececec;}
#section-selezionati-per-te h2{ font-family: 'futura_ltcondensed'; font-size: 32px; padding: 10px 0px 10px 15px; margin: 0px; }
#section-selezionati-per-te .swiper-pagination { bottom:6px; }
#section-selezionati-per-te p {font-family: 'futura_ltcondensed'; font-size: 28px; padding: 10px 0px 0px 10px; margin: 0px;}
#section-filtro-home-selezionevideo{background:#303e4b; border-left:1px solid #222e3a; border-top:1px solid #222e3a; border-bottom:1px solid #222e3a; /*max-height: 345px;*/}
.section-home-cinema { padding:15px 0px; display: none;}
.section-home-anime { padding:15px 0px; display: none; }
.section-home-lady { padding:15px 0px; display: none; }
.section-home-videorece { padding:15px 0px; }
.section-home-trailer { padding:15px 0px; display: none; }
#section-filtro-home-selezionevideo span { display: block; margin: 0px; padding: 5px 15px 0px 5px; }
#section-filtro-home-selezionevideo a h3 { padding: 5px; margin: 0px; line-height: 20px; font-size: 16px; color:#fff; font-weight: 100;  }
#section-filtro-home-selezionevideo a:hover, #section-filtro-home-selezionevideo a:visited,
#section-filtro-home-selezionevideo a:active, #section-filtro-home-selezionevideo a:focus { text-decoration: none; }
.featured-item{min-height: 295px; overflow: hidden; }
.swiper-container-sliderhome{
         width:670px;
        height:410px;
        margin: 0px auto;
        overflow: hidden;
    }


.sliderSection{
    position:absolute;left: 0px; bottom: 0px;
    background:rgba(0,0,0,0.6);
    width:650px; padding:45px;
    height: auto;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.sliderSection span{margin:0px; padding:0px;}
.sliderTitle{font-size: 32px;margin:0px; padding:0px; color:#fff; }
.sliderDesc{
    border-top: 1px solid #ececec;
    color: #fff;
    font-size: 14px;
    padding: 20px 0px;
    margin: 15px 0px;
    display: none;
}
.sliderDiscover{
    float: right;
    background: none;
    box-shadow: none;
    border: 1px solid #ececec;
    padding: 10px 20px;
    color: #fff;
    font-weight: bold;
    position: absolute;
    display: none;
    bottom: 40px;
    right: 40px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.sliderDiscover:hover{ background: #fff; color:#222e3a;}
.SlideFocus{ height: 410px; }


/* 9 - VIDEO
======================================*/

#video-holder { position:relative; height: 545px; padding: 0px; background: rgb(69,72,77); /* Old browsers */
background: -moz-linear-gradient(top, rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */ }
.video-topbar { position: absolute; top: 0; left: 0;z-index: 9999;  color: #d2d2d2; font-family: 'futura_ltlight'; border-bottom: 1px solid rgba(239, 239, 239, 0.2); padding: 10px; }
.video-help a { color: #d2d2d2; float: right; }
#videoinfo-area{ padding: 40px; }
#videoinfo-area h1{ font-size:36px; letter-spacing:-1px; margin:5px 0px 15px 0px; padding:0px 0px 5px 0px; }
#videoinfo-area h2{ font-size:12px; text-transform:uppercase; margin:0px 5px; }
#videoinfo-area article { line-height: 25px;     font-family: 'Open Sans', sans-serif; font-size: 14px;  }
.video-prec, .video-succ, .video-random { height:250px; color: #fff; font-family: 'futura_ltheavy'; font-size: 22px; }
.video-prec a, .video-succ a, .video-random a { color: #fff; }
.video-prec i { position: absolute; top: 10px; left: 10px; background: #303e4b; padding: 10px; transition: all 300ms; }
.video-prec p, .video-succ p, .video-random p {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0px;
    margin: 0px;
    padding: 10px 20px;
    border-top: 1px solid #fff;
    line-height: 1;
    text-shadow: 1px 1px 2px #000;
    z-index: 1;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
}

.video-prec p:hover, .video-succ p:hover, .video-random p:hover {
    background: rgba(0,0,0,0.7);
    border-top: 1px solid #000;
}

.video-succ i { position: absolute; top: 10px; right: 10px; background: #303e4b; padding: 10px; transition: all 300ms; }
.video-prec i:hover, .video-succ i:hover { background: #fff; color: #303e4b; }
.video-sfumatura {
    position: absolute; bottom: 0px; left: 0px; height: 80px; width: 323px; /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}
.facebook-box { padding: 0px; }
.adv_home_atf-video { margin: 10px 0px; padding: 0px; }
.autopromo-video { padding: 0px; }

.social-share-video { padding: 0px;  overflow: hidden; }
.social-share-video ul{ padding: 0px; margin: 0px; }
.social-share-video ul li{  width: 33.3%; text-align: center; padding: 15px 0px;  margin: 15px 0px 0px 0px; list-style: none; float: left; font-size: 12px; text-transform: uppercase; color:#fff; }

.information-block{ border: 1px solid #ececec; padding: 10px; margin: 25px 0px 15px 0px; }
.information-block p:first-child{  border-bottom: 1px solid #ececec; padding: 10px 0px;}

.player-message{
    margin: 120px 120px;
    padding: 40px 20px;
    border: 1px solid rgba(239, 239, 239, 0.2);
    text-align: center;
    color: #fff;
}
.player-message h2{}
.player-message p{ font-size: 13px; }
.player-message button{
    background: #fff;
    color: #333;
    border: none;
    padding: 10px 30px;
    font-size: 12px;
    margin: 10px 0px;
    text-transform: uppercase;
    font-weight: bold;
}

#ModalGeoIP{ display: none; }

.CorrelazioneInterna{margin:20px 0px; padding:15px 0px; border-top:1px solid #ececec; border-bottom:1px solid #ececec;}
.CorrelazioneInternaBox{padding-right: 10px;}
.CorrelazioneInternaBox img{ max-width: 100%; }
.CorrelazioneInternaBox h3{
    font-size: 16px;
    margin: 10px 0px;
    color: #333;
}


/* 10 - ARTICOLO
======================================*/

#article-area{ padding: 15px 15px; }
#article-area h1{ margin-top: 0px;    margin-bottom: 20px; }
#article-area h2{ padding:0px 0px 15px 0px; font-size: 23px; text-align: justify; font-weight: 200;font-family: 'futura_ltregular'; }
#article-area article{ font-size: 14px; font-family: 'Open Sans', sans-serif; /*text-align: justify;*/ }
#article-area article p{ line-height: 25px; }
#article-area article img{ /*height: 100%!important; */ }

.article-info-area { font-family: 'futura_ltregular'; border:1px solid #ececec; margin:15px 0px; }

.social-share { padding: 0px; border-right:1px solid #ececec; overflow: hidden; }
.social-share ul{ padding: 0px; margin: 0px; }
.social-share ul li{  width: 33.3%; text-align: center; padding: 16px 0px;  margin: 0px; list-style: none; float: left; font-size: 12px; text-transform: uppercase; color:#fff; }
.facebook{ background: #3b5998; border-right: 1px solid #2b4987;   }
.twitter{ background: #1da1f2;    }
.google{ background: #dc4e41; border-left: 1px solid #b43d32;   }


.article-info { padding: 10px; text-align: center; }
.article-info span { line-height: 30px; color: #969696; padding-right: 10px; }

.article-pag-left, .article-pag-right { line-height: 49px; font-size: 26px; text-align: center; color: #fff; background-color: #303E4B; border-right: 1px solid #fff; }
.article-pag-left a, .article-pag-right a { color: #fff; }

.pctv-heading-video{
    margin: 0px;
    padding: 15px;
    background: #303e4b;
    color: #fff;
    text-transform: uppercase;
}
.slideout{ text-align: center; font-size: 10px; }

.heading-staseratv{ height:75px; width:300px;}

/*   GALLERY AJAX
======================================*/

.gallery-holder{position: relative; }
.gallery-left-trigger{
    position: absolute; left: 0px; top: 0%;
    background: rgba(0,0,0,0.7);
    padding: 15px 10px 15px 5px;
}
.gallery-right-trigger{
    position: absolute;  right: 0px; top: 0%;
    background: rgba(0,0,0,0.7);
    padding: 15px 5px 15px 10px;
}
#gallery-nav{ overflow: hidden;  }
#gallery-nav span{  }
#gallery-nav ul { margin: 0; padding: 0;  }
#gallery-nav ul li{  list-style: none!important; }
#gallery-nav ul li a{ color:#fff; font-size: 32px; }






.firsthide{display: none;}
#didascalia{
}
.didascalia_style{
  padding: 20px 20px 15px 20px;
  border-bottom: 1px solid #ececec;
  border-right: 1px solid #ececec;
  margin: 0px 0px 15px 0px;
  float: left;
  width: 100%;
  position: relative;
  border-left: 4px solid #c80265;
}
/*#didascalia p{
  padding: 0;
  margin: 0;
}*/
#fonte{}
.fonte_style{
    padding: 5px 15px!important;
    position: absolute;
    border: 1px solid #000;
    margin: 10px 0px;
    background: #333;
    color: #fff;
    font-size: 10px;
    text-transform: uppercase;
    right: 0px;
    bottom: 20px;
}
.fonte_style a{ color: #fff;  }

/*   FILM
======================================*/
.film-info { padding: 15px!important; margin: 0px 0px;  font-size: 14px; font-family: 'Open Sans', sans-serif; border-top: 1px solid #ececec;  }
.film-info strong { text-transform: uppercase; font-family: 'futura_ltbold'; }
.film-trama {  padding: 35px 15px; }
.film-trama h1 { text-align: left; font-size: 32px; }
.film-trama h2 { font-size: 20px; line-height: 26px; text-align: justify; }
.film-trama p {  text-align: justify; font-size: 14px; font-family: 'Open Sans', sans-serif;    }
.locandina-half{ width: 50%; position: relative; }
#film-gallery{height:400px; position:relative;}


#film-button-guarda-callto-header{
    font-family: 'futura_ltbold';
    padding: 10px;
    width: 250px;
    margin: 15px 0px;
    font-size: 18px;
    text-transform: uppercase;
    background: #303e4b;
    border: 2px solid #fff;
    color: #fff;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    float: right;
    display: inline-block;
}

#film-button-guarda-callto-header:hover{
    background: #fff;
    color:#303e4b;
    border: 2px solid #303e4b;
}

#film-button-guarda-callto-footer{
    font-family: 'futura_ltbold';
    padding: 10px;
    width: 100%;
    margin: 15px 0px;
    font-size: 18px;
    text-transform: uppercase;
    background: #303e4b;
    border: none;
    color: #fff;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    border: 2px solid #303e4b;
}

#film-button-guarda-callto-footer:hover{
    background: #fff;
    color:#303e4b;
}

.swiper-container-film{ width: 100%; height: 100%;}

.swiper-container-film .swiper-slide {
        background-position: center;
        background-size: cover;
    }



/*   SEZIONE
======================================*/

.barra-sezione { padding: 0px 10px; }
.barra-news{ background: #303e4b; }
.barra-cinema {  background: #2588e5;}
.barra-anime {background: #e58825;}
.barra-telenovelas { background: #e45d5d;  }
.barra-videoStrillo {  background: #000;}
.barra-trailer { background: #000; }


.titolo-sezione { margin: 5px; display: inline-block; font-size: 26px; letter-spacing: -1px; font-family: 'futura_ltheavy'; color: #fff; }
.elenco-sezione-container { padding: 0px; float: right; }
.elenco-sezione { color: #fff; list-style: none; display: inline; padding-left: 10px; float: right; margin: 0; }
.elenco-sezione li { float: left; padding: 6px 10px; font-size: 11px; font-family: 'futura_ltbook'; line-height: 29px; border-left: 1px solid rgba(255, 255, 255, 0.21); text-transform: uppercase; }
.elenco-sezione a { color: #fff; }
.video-sezione { padding: 15px 10px 10px 20px !important; height:270px; color: #fff; font-family: 'futura_ltheavy'; font-size: 22px; /*border:1px solid #ececec;*/ }
.video-sezione a { color: #fff; }
.video-sezione img { width: 100%; }
.video-sezione p {
    background: rgba(0,0,0,0.7);
    position: absolute;
    bottom: 0px;
    width: 91%;
    margin: 10px 0px;
    padding: 10px;
    border-top: 1px solid #000;
    line-height: 1;
    text-shadow: 1px 1px 2px #000;
    z-index: 1;
    text-align: center;
}
.video-sezione div {width:100%; height:100%;  background-size:cover; }

.evidenza-titolo-sezione { font-family: 'futura_ltcondensed'; font-size: 28px; }
.swiper-titolo-sezione {
    font-weight: bold;
    position: absolute;
    top: 3px;
    /*padding: 15px 10px;*/
    width: 96%;
    margin: 0;
    left: 4px;
    /*background: rgba(0,0,0,0.7);*/
    background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.15) 75%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.15) 75%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.15) 75%,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );

}
.swiper-titolo-sezione p{  margin-bottom: 0px; text-shadow: 1px 1px 1px #000;  }

.swiper-container-wall {
    width: 100%;
    height: 510px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
}
.swiper-container-wall .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    height: 235px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-container-wall .swiper-slide p {
    background: rgba(0,0,0,0.7);
    border-bottom: 1px solid #3a3a3a;
    padding:10px;
    margin: 3px 3px;
    font-size: 10px;
    text-shadow: 1px 1px 1px #000;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color:#fff;
 }


.images-wall{width: 100%;}


.primopiano{
    background: #333;
    position: absolute;
    top: 15px;
    left: 15px;
    text-transform: uppercase;
    padding: 5px 10px;
    font-size: 12px;
    color: #fff;
    font-weight: bold;
}

/* 11 - SERIE
======================================*/
.serie-cover {
    position:relative;
    height: 400px;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
    -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}
.serie-cover-text { position:absolute; bottom: 0px; }
.serie-cover-text-title { float:right; color:#fff; display:inline-block; color: #fff; font-family: 'futura_ltlight'; }
.serie-cover-text-info { color: #fff; font-size: 18px; font-weight: bold; }
.serie-cover-linea-bianca { height:3px; background:#fff; position:absolute; bottom: 0px; }
.serie-trama-container { border-bottom: 1px solid #ececec; }
.serie-trama { padding-left: 15px !important; }
.serie-trama header {  }
.serie-trama article{ padding: 10px 30px; }
.serie-trama-text { padding: 20px 15px 20px 15px; margin-bottom: 0px; font-size:14px; text-align:justify; font-family: 'Open Sans', sans-serif;  }
.serie-atf img { float: right; }

.search-container {
  padding: 15px; /*border-bottom: 1px solid #ececec; */
  background-color: #f7f7f7;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f7f7f7), to(#fff));
  background: -webkit-linear-gradient(top, #f7f7f7, #fff);
  background: -moz-linear-gradient(top, #f7f7f7, #fff);
  background: -ms-linear-gradient(top, #f7f7f7, #fff);
  background: -o-linear-gradient(top, #f7f7f7, #fff);
}

.serie-ricerca-title{padding: 10px 0px; margin: 15px; border-bottom:1px solid #ececec;}

.search form { width: 100%; display: inline-block; font-size: 16px; line-height: inherit; border: 2px solid #A90F5C; border-radius: 0px; margin:40px 0px;}
.search input { width: 100%; border: none; padding: 8px 10px; font-family: 'futura_ltlight'; outline: none; text-align: center; }
.search button { float: right; border-radius: 0px; color: #fff; background: #A90F5C; }
.search button:hover { color: #fff; }
.search button:focus { color: #fff; background: #C02E78; outline: none; }

.attribute-padder{ padding: 10px; }

.lista-episodi-titolo{
    font-size: 22px;
    border-bottom: 1px solid #ececec;
    margin-bottom: 15px;
    padding: 10px;
    text-transform: uppercase;
}

.episodio { margin-bottom: 20px; }
.episodio-link { color: #fff; }
.episodio-link:hover { color: #fff; }
.episodio-titolo {
    background: rgba(0,0,0,0.7);
    border-bottom: 1px solid #3a3a3a;
    padding: 10px;
    margin: 0px 0px;
    font-size: 10px;
    text-shadow: 1px 1px 1px #000;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    position: absolute;
}

.episodio-titolo-frame {
    text-align:center;
    font-weight: bold;
    text-shadow:1px 1px 1px #000;
    top:0px;
    font-size: 10px;
    text-transform: uppercase;position: absolute; padding: 10px; width: 90%; margin: 0px 0px 0px 2px;
    background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.15) 75%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.15) 75%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.15) 75%,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
}

.episodio-play { display: none; position: absolute; top:30%; left:30%; width: 100%; height: 60px; background: url('//cdn.deltapictures.it/images/Pctv/site/play-hover.png') no-repeat; }
.episodio-locandina:hover > .episodio-play { display: block; }
.episodio-locandina { height:310px; position: relative; }
.episodio-locandina-small{ height:200px; position: relative; }
.episodio-locandina img { position: absolute; width: 100%; }

.episodio-frame { /*height:170px;*/ position: relative; }
.episodio-frame .episodio-titolo {
    top: 0px;
    width: 100%;
}

#serie-button-guarda-callto-header{
    font-family: 'futura_ltbold';
    padding: 10px;
    width: 300px;
    margin: 15px 0px;
    font-size: 18px;
    text-transform: uppercase;
    background: #303e4b;
    border: 2px solid #fff;
    color: #fff;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    float: right;
    display: inline-block;
}

#serie-button-guarda-callto-header:hover{
    background: #fff;
    color:#303e4b;
    border: 2px solid #303e4b;
}

#serie-button-guarda-callto-footer{
    font-family: 'futura_ltbold';
    padding: 10px;
    width: 100%;
    margin: 15px 0px;
    font-size: 18px;
    text-transform: uppercase;
    background: #303e4b;
    border: none;
    color: #fff;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    border: 2px solid #303e4b;
}

#serie-button-guarda-callto-footer:hover{
    background: #fff;
    color:#303e4b;
}

.serie-trama {  padding: 10px 25px; }
.serie-trama h1 { text-align: center; font-size: 42px; letter-spacing: -1px; }
.serie-trama h2 { font-size: 20px; line-height: 26px; text-align: justify; }
.serie-trama p { font-size: 16px; font-family: 'Open Sans', sans-serif; text-align: center; font-style: italic;   }

#filter-result{background: #fff; color:#333;}


.tab-serie{ margin: 25px 10px 0px 10px; }
.tab-serie>li, .tab-serie>li.active>a, .tab-serie>li.active>a:focus, .tab-serie>li.active>a:hover{

    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    border-radius:0px;

}

.tab-serie>li.active>a, .tab-serie>li.active>a:focus, .tab-serie>li.active>a:hover {
    background-color: #f7f7f7;
}


.tab-serie>li>a:focus, .tab-serie>li>a:hover {
    background-color: #f7f7f7;
    color:#333;
}
.tab-serie>li {
   width: 25%;
   text-align: center;
}
.tab-serie>li>a {
    border-radius: 0;
}
.tab-serie>li>a {
    padding: 15px 40px;
    color:#c80265;
    text-align: center;
}

.tab-content{ border-left:1px solid #ececec; border-right:1px solid #ececec;  margin: 0 10px; padding-bottom: 15px; }

.tab-content .lista-episodi-titolo{ margin: 0; padding: 15px 15px; background: #f7f7f7; }



/* titolo locandina
======================================*/

.pctv-locandina-titolo{
    background: rgba(0,0,0,0.7);
    border: 1px solid #3a3a3a;
    padding: 5px 10px;
    margin: 10px;
    font-size: 10px;
    text-shadow: 1px 1px 1px #000;
    text-align: center;
    width: 90%;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    position: absolute;
    top: 0;
}

.pctv-locandina-titolo h3{
    margin: 0px;
    font-size: 10px;
}


/* PAGINA DI RICERCA
======================================*/

#Ricerca h1{
    padding: 15px 0px;
    border-bottom: 1px solid #ececec;
    }

#Ricerca h2{
    background: #303e4b;
    color: #fff;
    padding: 10px;
    clear: both;
 }

.search-footer{     background: #f7f7f7; padding: 35px 0px;  margin: 25px -15px 0px -15px; border-top: 1px solid #d2d2d2; position: relative; text-align: center; overflow: hidden;  }
.search-footer h4{ font-size: 22px;  }
.search-footer p{}
.search-footer ul{margin: 0 70px; padding: 0; text-align: center;  }
.search-footer ul li{ float: left; list-style: none; padding: 10px; margin: 5px; border: 1px solid #ececec; background: #222e3a;  }
.search-footer ul li a{ font-family: 'futura_ltheavy'; font-size: 12px; text-transform: uppercase;color:#fff;}


/* 12 - CATEGORY
======================================*/
.proponiamo-img { position: absolute; }
.proponiamo-titolo {
    position: absolute; padding: 10px; color: #fff; width: 100%;
    background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.15) 75%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.15) 75%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.15) 75%,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
}


/* 13 - PAGE
======================================*/

#Page{}
#Page h1{ padding: 15px 0px; border-bottom: 1px solid #ececec; }
#Page article{ padding: 35px; text-align: justify; font-family: 'Open Sans', sans-serif; }
#Page a{ word-wrap: break-word;  }

#faq h3{cursor: pointer; background: #f7f7f7; border: 1px solid #ececec; padding: 10px; margin: 22px 0px; font-size: 18px; font-family: 'futura_ltregular';  }
#faq div{display: none; margin: 20px 10px 20px 10px; }


/* 14 - VARIE
======================================*/

.subtitle { font-family: 'futura_ltheavy'; color: #666; text-transform: uppercase; font-size: 12px; margin-bottom: 5px; }
.paginazione { text-align:center; font-family: 'futura_ltregular' }
.paginazione nav{    border-top: 1px solid #ececec;     margin: 10px 10px 0px 10px;}
.paginazione .pagination>.active>a { background: none; padding-bottom: 2px; border-bottom: 4px solid #A90F5C; color: #A90F5C; }
.paginazione .pagination>li>a, .pagination>li>span { border:none; color: #aaa; }
.paginazione .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background: none; color: #A90F5C; font-weight: bold;font-size: 16px;
}
.paginazione .pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    background: none; color: #A90F5C; font-weight: bold; font-size: 16px;
}

/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #A90F5C;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

.play-button {
    background: url("//cdn.deltapictures.it/images/Pctv/site/play-hover.png");
    height: 60px; width: 60px;
    position: absolute; left: 50%; top: 45%;
    z-index: 400; margin: -30px 0px 0px -30px;
    display: none;
}


.miniplay{height: 40px; width: 40px;     left: 57%;    top: 50%; background: url("//cdn.deltapictures.it/images/Pctv/site/play-hover-mini.png");  }

.button-frames{ top: 90px!important;}


/* VIDEO ON-SLIDE
======================================*/

#video-onslide { width: 100%; background-color: #222e3a; border:solid 1px white; }
#video-onslide .chiudi_player {display:none; margin:5px; color:white; line-height:22px; font-size:14px; cursor:pointer;}


/* PLAYLIST JWPLAYER
======================================*/

  .jwplay_holdervideo{float:left;}
  .playlist_sidebar{width:305px; float:right; list-style:none;   background-color: #1d1c1c;
  background: url(../../images/black-gradient.jpg);
  background-repeat: repeat-x;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1d1c1c), to(#3b3a3a));
  background: -webkit-linear-gradient(top, #1d1c1c, #3b3a3a);
  background: -moz-linear-gradient(top, #1d1c1c, #3b3a3a);
  background: -ms-linear-gradient(top, #1d1c1c, #3b3a3a);
  background: -o-linear-gradient(top, #1d1c1c, #3b3a3a);
  }
  .playlist_jw7_item{
    padding: 18px 10px;
    overflow: hidden;
    border-bottom: 1px solid #474747;
    height:120px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  .playlist_jw7_item:hover{ background:#474747; }
  .playlist_jw7_item a{color:#fff;}
  .playlist_jw7_item h4{ font-weight: bold; margin-top: 0px; padding-top: 0px; font-size: 12px; margin-bottom: 5px; }
  .playlist_jw7_item p{ font-size:9px; color:#a3a3a3;}
  .dropt{overflow: hidden; }
  .jwplaylist_image{ float: left; width: 45%; }
  .jwplaylist_holder_text{ float: right; width:50%;  margin-left: 10px;  }



/* SEZIONI SPECIALI - LADYPLUS
======================================*/

.special-hero-img{  margin: 0px -15px; max-width: 646px; width: 646px; }
#special-hero{padding:15px; text-align: justify; }
#special-hero span{padding:5px; text-transform:uppercase; font-size:12px; font-weight: bold;  background:#e6af29; border:1px solid #d4950f; margin:0px; color:#fff;  }
#special-hero h1{margin-top:8px; }
#special-hero h2{
    font-weight: 100;
    font-size: 24px;
    text-align: left;
    border-bottom: 1px solid #ececec;
    padding: 8px 0px;
    font-family: 'futura_ltlight';
}


/* DASHBOARD UTENTE
======================================*/

#dashboard-hero {padding:25px 0px 15px 0px; text-align:center;}
#dashboard-hero h1{border-bottom:1px solid #ececec; padding-bottom: 10px;}

.dashboard-profilazione{padding:0px 0px 25px 0px; text-align:left;}
.dashboard-profilazione-holder{background:#303e4b; padding:20px; color:#fff;}
.dashboard-profilazione-text{border-right:1px solid #404d5a; padding:0px 10px;}

.profilazione-button{
background:#222e3a; border:1px solid #404d5a; color:#fff;
font-size:22px; font-weight:bold;
padding:15px 20px; margin: 25px 20px 15px 0px;
-webkit-transition: all 0.7s ease-in-out;
-moz-transition: all 0.7s ease-in-out;
-o-transition: all 0.7s ease-in-out;
-ms-transition: all 0.7s ease-in-out;
transition: all 0.7s ease-in-out;
}
.profilazione-button:hover{background:#404d5a; border-color:#222e3a; }

#profilazione-step-1{display: none;}
#profilazione-step-2{display: none;}
#step-1{display: none;}
#step-2{display: none;}


#userdash-gridrow-top{padding:15px;}
#userdash-gridrow-bottom{padding:0px 15px 15px 15px;}

#userdash-gridrow-top .userdash-big-box{ padding: 0px 15px 0px 0px; }
#userdash-gridrow-bottom .userdash-big-box{ padding: 0px 0px 0px 15px; }
#userdash-gridrow-top .userdash-small-box{ padding: 0px; }
#userdash-gridrow-bottom .userdash-small-box{ padding: 0px; }

.userdash-big-box img, .userdash-small-box img{ max-width: 100%;}


/* Correlati Esterni
======================================*/

#wrb3_x1_Container{padding: 10px!important;}
.wrb3_x1_title{border-bottom: 1px solid #ececec!important;}

#NeoWidget_iframe{margin: 10px!important;}

.correlazione_fourw{ margin: 20px 0px; }

.m3_container.fourW_600x200_120x70{width:600px;height:200px;display:inline-block;font-family:helvetica, arial, sans-serif;font-size: 13px;line-height:13px;overflow:hidden;background-color: white;}
.m3_container.fourW_600x200_120x70 a:link,.m3_container.fourW_600x200_120x70 a:visited,.m3_container.fourW_600x200_120x70 a:hover,.m3_container.fourW_600x200_120x70 a:active{text-decoration:none;color:#06c;}
.m3_container.fourW_600x200_120x70 #h{display:block;font-size:small;height:14px;border-bottom:solid 1px #F4F4F4;}
.m3_container.fourW_600x200_120x70 #h a{float:right;}
.m3_container.fourW_600x200_120x70 .a,.m3_container.fourW_600x200_120x70 .a .i,.m3_container.fourW_600x200_120x70 .a .x{display:inline-block;}
.m3_container.fourW_600x200_120x70 .a{width:150px;height:185px;text-decoration:none;overflow:hidden;text-align: center;}
.m3_container.fourW_600x200_120x70 .a:hover{background-color:#F4F4F4;}
.m3_container.fourW_600x200_120x70 .a .i{width:120px;height:80px;}
.m3_container.fourW_600x200_120x70 .a .i img{border:none;width:120px;height:70px;margin:5px 0;vertical-align: baseline;}
.m3_container.fourW_600x200_120x70 .a .x{height:100px;overflow:hidden;margin-top:3px;margin-bottom:5px;}
.m3_container.fourW_600x200_120x70 .a .t{height:28px;overflow:hidden;font-weight:700;}
.m3_container.fourW_600x200_120x70 .a .d{height:52px;overflow:hidden;}
.m3_container.fourW_600x200_120x70 .a .u{height:20px;overflow:hidden;color:green;font-size:11px;}
.m3_container.fourW_600x200_120x70 img[width="1"] {position: absolute;display:none;}
img[src^="//feed.4wnet.com"]{position: absolute;display:none;}


/* LIST LOCANDINA
======================================*/

.list-locandina-container{ padding-right: 10px;padding-left: 10px; margin:10px 0px;}
.list-locandina{position:relative; overflow:hidden; height:100%; width:100%; }
.list-locandina img{width:100%; max-width: 100%;}
.list-locandina-title{ width:100%; margin:0px 0px; padding:0px; position:absolute; top:0; left:0;}
.list-locandina-title p{ /*background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.15) 75%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.15) 75%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.15) 75%,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );*/
    background: rgba(0,0,0,0.7);
    border-bottom: 1px solid #3a3a3a;
    padding:10px;
    margin: 3px 3px;
    font-size: 10px;
    text-shadow: 1px 1px 1px #000;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}


/* BOX CANALI
======================================*/


.async_box{height:280px; width:100%; background:#d2d2d2; position: relative; overflow: hidden;}
.async_box img{max-width: 100%; min-width: 100%;}
.async_heading{
    transform: rotate(-5deg);
    position: absolute;
    background: rgba(0,0,0,0.6);
    height: 100px;
    width: 105%;
    text-align: center;
    bottom: -15px;
    left:-5px;
    margin: 0px;
    padding: 0px;
    border-top: 1px solid #3a3a3a;
    line-height: 1;
    z-index: 1;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.async_heading:hover{  background: rgba(0,0,0,1); }
.async_box h3{position: absolute; bottom:0; left:0; color:#fff; padding: 10px; z-index: 2; text-shadow: 1px 1px 2px #000;font-size: 20px;}
.rotate-invert{transform: rotate(5deg);}



/* 15 - MEDIA QUERIES
======================================*/

@media screen and (max-width: 320px) {
    .leo-skin .masthead {margin: 0;}/*Fix spazio skin mobile*/
    body { top: 50px; }
    .container { width: 100%; max-width: 100%; }
    .atf, .btf { text-align: center; }
    .special-hero-img{  max-width: 100%; width: 100%; margin: 15px 0px 0px 0px; }
    .social-auth-area button {
    font-family: 'futura_ltregular';
    width: 100% !important;
    height: auto;
    min-width: 100%;
    font-weight: 400;
    font-size: 20px;
    }
    #auth-area h1 { font-size: 32px; }
    .btn-auth-secondary {
     width: 100%;
    }
    .btn-auth {
     width: 100%;
    }


    /* MENU */
    .cbp-af-header { top:0px; width: 100%; max-width: 320px; padding-top: 5px; height: 50px; }
    .cbp-af-header .cbp-af-inner { padding: 0px; }
    .menuzord .showhide { padding: 8px 0px 0px; }
    .menuzord.pctv .menuzord-menu > li > a { background: #303E4B; margin-left: 0px; border-bottom: solid 1px #3e4a56; }
    .menuzord-responsive .menuzord-menu li .indicator { border-left: solid 1px #3e4a56; }
    #logo-delta { margin: 0px; padding-left: 30px; }
    .cbp-af-header nav a { font-size: 14px; }
    .cbp-af-header.cbp-af-header-shrink nav a { font-size: 14px; }
    .menuzord-responsive .menuzord-menu > li > .megamenu { position: relative; }
    .menu-box-video { height: 126px; }
    .cerca-text h3 { font-size: 18px; padding:15px; }
    .cerca-form form input { width: 80%; }
    .cerca-form { margin-top: 0px !important; }
    .menuzord-menu{min-width: 100%;}/*Fix bug caricamento logo*/

    .sidebar .atf{  text-align: center; }
    .atf_sidebar { border-left: none; }
    #section-selezionati-per-te p { font-size: 24px; }
    .swiper-container-simple { width: 100%; padding-left: 0px; }
    .swiper-container-simple .swiper-slide { padding-left: 70px; }
    .home-filter { text-align: center; }
    .swiper-slide:hover > .episodio-play { display: block; }

    /*HOME*/
    .swiper-container-sliderhome{  width:100%; height: 100%;  } /*Slider home*/
    .swiper-container-sliderhome .swiper-button-next{ right: 0px; }
    .adv_home_atf{ position:relative; top: 30px; margin-bottom: 40px!important; }
    .sliderSection{ width: 100%; padding: 25px; }
    .sliderTitle { font-size: 22px; }
    .row-home-destra{ margin: 0; padding: 0; }
    #section-filtro-home-selezionevideo{max-height: 100%;}

    /* Salvattore */
    #timeline[data-columns]::before {
        content: '1 .column.size-1of1';
    }

    /* VIDEO */
    #video-holder { height: 100%; }
    .row-eq-height { display: block; }
    #videoinfo-area { padding: 15px 20px; }
    #videoinfo-area  h1 { font-size: 32px;  }
    .sidebar-2 { text-align: center; }
    .video-sfumatura { top: 120px; width: 100%; }
    .autopromo-video { padding: 0px; }
    .adv_home_atf-video { margin: 10px 0px; padding: 0px; text-align: center; }
    .facebook-box { margin-left: -20px; }
    .player-message {
        margin: 0px;
    }
    .player-message h2 {
        font-size: 22px;
    }


    /*ARTICOLO*/
    #article-area h1 {  font-size: 32px;  }
    .social-share {
    border-right:none;
    border-bottom: 1px solid #ececec;
    }
    .pctv-heading-video{
    font-size: 10px;
    text-align: center;
    }


    /* SEZIONE */
    .titolo-sezione { display: block; text-align: center; }
    .elenco-sezione-container { float: left; }
    .elenco-sezione {float: none!important;}
    .elenco-sezione li:first-child{border-top: 1px solid rgba(255, 255, 255, 0.21);}
    .elenco-sezione li { float: none; text-align: center; border-left: none; border-right: 1px solid rgba(255, 255, 255, 0.21); border-left: 1px solid rgba(255, 255, 255, 0.21); border-bottom: 1px solid rgba(255, 255, 255, 0.21); padding: 5px 10px; }
    .video-sezione { padding: 0px !important; }
    .video-sezione p {
        width: 100%;
        margin: 0px 0px;
    }

    .swiper-container-wall .swiper-slide p { text-shadow: 2px 1px 1px #000; }


    /* SERIE */
    .serie-cover-text-title { text-shadow: 1px 1px 2px #333; }
    .serie-cover-text-info { display: none; }
    .serie-trama-container { padding-bottom: 15px; }
    .serie-trama { padding-left: 0px !important; }

    .serie-trama article {  padding: 10px 5px; }
    .serie-trama article p{  font-size: 14px;  }
    .serie-trama h1 {  font-size: 32px;   }


    .serie-trama-text { border: none; padding: 20px; }
    .serie-atf { text-align: center; }
    .serie-atf img { float: none; }
    .search-container { padding: 15px 0px; }
    .search input { width: 100%; }
    .lista-episodi { padding-top: 15px; text-align: center; }
    .episodio-titolo { text-shadow: 1px 1px 2px #333; top:0px; }
    .episodio-locandina { height: auto; }
    .episodio-locandina img { position: relative; }
    .guarda-ora { padding: 6px 12px; font-size: 18px; }
    .hvr-guarda-ora:before { display: none; }

    .tab-serie>li {
    width: 100%;
    text-align: center;
    }


    /* FILM */
    .film-info { margin: 0px; padding: 20px; border: none; }
    .film-slider { height: 300px; }

    /*PAGE*/
    #Page article{ padding: 15px; }
    #faq h3{ font-size: 18px; }

    /* FOOTER */
    .footer-dpnetwork li { width: 100%; text-align: center; }
    .footer-dp-logo { text-align: center; }
    #logo-delta-footer { margin-bottom: 10px; }
    .footer-infoarea { text-align: center; }
    .footer-infoarea ul { padding-left: 0px; }
    .footer-infoarea li {
        float: left;
        padding-bottom: 5px;
        width: 100%;
        text-transform: uppercase;
        font-size: 10px;
        padding: 15px 0px;
        border-bottom: 1px solid #3e4a56;
    }
    .footer-infoarea li:last-child {
        border-bottom: none;
    }
    .last-footerarea p { text-align: center; }
    .fapav { text-align: center; }


    .autopromo{ display: none; }


    /*Dashboard utente*/
    .dashboard-profilazione-text {border-right: none;}
    #profilazione-step-0{width:100%;}
    #userdash-gridrow-top .userdash-big-box{ padding: 0px; }
    #userdash-gridrow-bottom .userdash-big-box{ padding: 0px; }
    #dashboard-hero h1{ text-align:center; font-size:26px; }
    #userdash-gridrow-top  .userdash-small-box{ padding-top: 15px; }
    #userdash-gridrow-bottom .userdash-small-box{ padding-bottom:15px; }


    /*.correlazione_fourw{ display: none; }*/
    .social-share{border: none;}
    .social-share ul li { width: 33.3%; text-align: center; }
    /*.social-share .facebook{ padding: 15px 19px; }*/
    .social-share-video{border: none;}
    .social-share-video ul li {width: 33.3%; text-align: center; }
    /*.social-share-video .facebook{margin-left: 10px;}*/


    #NeoWidget_iframe{margin:0px!important;}

    .signout-item{background: #303E4B; border-bottom: solid 1px #3e4a56; padding: 15px 0px;  min-width: 100%; }
    .aside_newsletter_box img{width: 100%;}

    .PinterestBox span{ min-width: 100%!important;  max-width: 100%!important; }
    .TwitterBox{ padding-left:0px; }
    .FbBox{ padding-left: 0px; }


}


@media screen and (min-width: 321px) and (max-width: 480px) {
    .leo-skin .masthead {margin: 0;}/*Fix spazio skin mobile*/
    body { top: 50px; }
    .container { width: 100%; max-width: 100%; }
    .special-hero-img{  max-width: 100%; width: 100%; margin: 15px 0px 0px 0px;  }


    .social-auth-area button {
    font-family: 'futura_ltregular';
    width: 100% !important;
    height: auto;
    min-width: 100%;
    font-weight: 400;
    font-size: 20px;
    }
    #auth-area h1 { font-size: 32px; }
    .btn-auth-secondary {
     width: 100%;
    }
    .btn-auth {
     width: 100%;
    }


    /* MENU */
    .cbp-af-header { top:0px; width: 100%; padding-top: 5px; height: 50px; }
    .cbp-af-header .cbp-af-inner { padding: 0px; }
    .menuzord .showhide { padding: 8px 0px 0px; }
    .menuzord.pctv .menuzord-menu > li > a { background: #303E4B; margin-left: 0px; border-bottom: solid 1px #3e4a56; }
    .menuzord-responsive .menuzord-menu li .indicator { border-left: solid 1px #3e4a56; }
    .cbp-af-header nav a { font-size: 14px; line-height: 1; }
    .cbp-af-header.cbp-af-header-shrink nav a { font-size: 14px; line-height: 1; }
    #logo-delta { margin: 0px; padding-left: 40px; }
    .cbp-af-header nav a img { padding-top: 3px; }
    .cbp-af-header.cbp-af-header-shrink nav a img { padding-top: 3px; }
    .menuzord-responsive .menuzord-menu > li > .megamenu { position: relative; }
    .menu-box-video { height: 126px; }
    .cerca-text h3 { font-size: 18px; padding:15px; }
    .cerca-form form input { width: 80%; }
    .cerca-form { margin-top: 0px !important; }
    .menuzord-menu{min-width: 100%;}/*Fix bug caricamento logo*/

    .sidebar {  }
    .sidebar .atf{  text-align: center; }
    .atf_sidebar { border-left: none; text-align: center; }
    .adv_home_atf { border: none; padding: 0px 0px 10px 0px; }
    #section-selezionati-per-te p { font-size: 24px; }
    .swiper-container-simple { width: 100%; padding-left: 1px; }
    .home-filter { text-align: center; }
    .section-home-cinema { text-align: center; }
    .section-home-anime { text-align: center; }
    .section-home-lady { text-align: center; }
    .section-home-videorece { text-align: center; }
    .section-home-trailer { text-align: center; }
    .item img { width: 100%; }

    /*HOME*/
    .swiper-container-sliderhome{  width:100%; height: 100%;  } /*Slider home*/
    .swiper-container-sliderhome .swiper-button-next{ right: 0px; }
    .adv_home_atf{ position:relative; top: 30px; margin-bottom: 40px!important; }
    .sliderSection{ width: 100%; padding: 25px;}
    .sliderTitle { font-size: 22px; }
    .row-home-destra{ margin: 0; padding: 0; }
     #section-filtro-home-selezionevideo{max-height: 100%;}

    /* Salvattore */
    #timeline[data-columns]::before {
        content: '1 .column.size-1of1';
    }

    /* VIDEO */
    #video-holder { height: 100%; }
    .row-eq-height { display: block; }
    #videoinfo-area { padding: 15px 20px; }
    #videoinfo-area h1{ font-size: 32px; }
    .video-prec, .video-succ, .video-random { height: 240px; }
    .video-sfumatura { top: 160px; width: 100%; }
    .atf, .btf { text-align: center; }
    .autopromo-video { padding: 0px; }
    .adv_home_atf-video { margin: 10px 0px; padding: 0px; text-align: center; }
    .sidebar-2 { text-align: center; }
    .player-message {
        margin: 0px;
    }
    .player-message h2 {
        font-size: 22px;
    }



    /*ARTICOLO*/
    #article-area h1 {  font-size: 32px;  }
    .social-share {
    border-right:none;
    border-bottom: 1px solid #ececec;
    }
    .pctv-heading-video{
    font-size: 10px;
    text-align: center;
    }

    /* SEZIONE */
    .titolo-sezione { display: block; text-align: center; }
    .elenco-sezione-container { float: left; }
    .elenco-sezione {float: none!important;}
    .elenco-sezione li:first-child{border-top: 1px solid rgba(255, 255, 255, 0.21);}
    .elenco-sezione li { float: none; text-align: center; border-left: none; border-right: 1px solid rgba(255, 255, 255, 0.21); border-left: 1px solid rgba(255, 255, 255, 0.21); border-bottom: 1px solid rgba(255, 255, 255, 0.21); padding: 5px 10px; }
    .video-sezione { padding: 0px !important; }
    .video-sezione p {
        width: 100%;
        margin: 0px 0px;
    }
    .swiper-container-wall .swiper-slide p { text-shadow: 2px 1px 1px #000; }

    /* SERIE */
    .serie-cover-text-title { text-shadow: 1px 1px 2px #333; }
    .serie-cover-text-info { display: none; }
    .serie-cover-linea-bianca { bottom: -1px; }
    .serie-trama-container { padding-bottom: 15px; }
    .serie-trama-text { border: none; padding: 20px; }
    .serie-trama article {  padding: 10px 5px; }
    .serie-trama article p{  font-size: 14px;  }
    .serie-trama h1 {  font-size: 32px;   }
    .serie-atf { text-align: center; }
    .serie-atf img { float: none; }
    .search-container { padding: 15px 0px; }
    .search input { width: 100%; }
    .lista-episodi { padding-top: 15px; text-align: center; }
    .episodio-titolo { text-shadow: 1px 1px 2px #333; top:0px; }
    .episodio-locandina { height: auto; }
    .episodio-locandina img { position: relative; }
    .guarda-ora { font-size: 18px; }
    .hvr-guarda-ora:before { font-size: 18px; }

    .tab-serie>li {
    width: 100%;
    text-align: center;
    }


    /* FILM */
    .film-info { margin: 0px; padding: 20px; border: none; }
    .film-slider { height: 300px; }

    /*PAGE*/
    #Page article{ padding: 15px; }
    #faq h3{ font-size: 18px; }


    /* FOOTER */
    .footer-dpnetwork li { width: 100%; text-align: center; }
    .footer-dp-logo { text-align: center; }
    #logo-delta-footer { margin-bottom: 10px; }
    .footer-infoarea { text-align: center; }
    .footer-infoarea ul { padding-left: 0px; }
    .footer-infoarea li {
        float: left;
        padding: 0px 15px 10px 0px;
        width: 100%;
        text-transform: uppercase;
        font-size: 10px;
        padding: 15px 0px;
        border-bottom: 1px solid #3e4a56;
    }
    .footer-infoarea li:last-child {
        border-bottom: none;
    }
    .last-footerarea p { text-align: center; }
    .fapav { text-align: center; }

   .autopromo{ display: none; }


   /*Dashboard utente*/
    .dashboard-profilazione-text {border-right: none;}
    #profilazione-step-0{width:100%;}
    #userdash-gridrow-top .userdash-big-box{ padding: 0px; }
    #userdash-gridrow-bottom .userdash-big-box{ padding: 0px; }
    #dashboard-hero h1{ text-align:center; font-size:26px; }
    #userdash-gridrow-top  .userdash-small-box{ padding-top: 15px; }
    #userdash-gridrow-bottom .userdash-small-box{ padding-bottom:15px; }


    /*.correlazione_fourw{ display: none; }*/
    .social-share{border: none;}
    .social-share ul li {width: 33.3%; text-align: center;}
    /*.social-share .facebook{ padding: 15px 19px; }*/
    .social-share-video{border: none;}
    .social-share-video ul li { width: 33.3%; text-align: center; }
    /*.social-share-video .facebook{margin-left: 12px;  }*/


    #NeoWidget_iframe{margin:0px!important;}

    .signout-item{background: #303E4B; border-bottom: solid 1px #3e4a56; padding: 15px 0px;  min-width: 100%; }
    .aside_newsletter_box img{width: 100%;}

    .PinterestBox span{ min-width: 100%!important;  max-width: 100%!important; }
    .TwitterBox{ padding-left:0px; }
    .FbBox{ padding-left: 0px; }

}


@media screen and (min-width: 481px) and (max-width: 767px) {
    .leo-skin .masthead {margin: 0;}/*Fix spazio skin mobile*/
    body { top:55px; }
    .container { width: 100%; max-width: 100%; }
    .special-hero-img{  max-width: 100%; width: 100%; margin: 15px 0px 0px 0px;  }
    .atf, .btf { text-align: center; }


    .social-auth-area button {
    font-family: 'futura_ltregular';
    width: 100% !important;
    height: auto;
    min-width: 100%;
    font-weight: 400;
    font-size: 20px;
    }
    #auth-area h1 { font-size: 32px; }
    .btn-auth-secondary {
     width: 100%;
    }
    .btn-auth {
     width: 100%;
    }

    /* MENU */
    .cbp-af-header { top:0px; width: 100%; padding-top: 5px; height: 50px; }
    .cbp-af-header .cbp-af-inner { padding: 0px; }
    .cbp-af-header .menuzord .showhide { padding: 10px 0px 0px; }
    .cbp-af-header.cbp-af-header-shrink .menuzord .showhide { padding: 10px 0px 0px; }
    .menuzord.pctv .menuzord-menu > li > a { background: #303E4B; border-bottom: solid 1px #3e4a56; }
    .menuzord-responsive .menuzord-menu li .indicator { border-left: solid 1px #3e4a56; }
    .cbp-af-header nav a { line-height: 50px; }
    #logo-delta { margin: 0px; padding-left: 30px; line-height: 80px; }
    .cbp-af-header.cbp-af-header-shrink nav a { font-size: 14px; line-height: 50px; }
    .menuzord-responsive .menuzord-menu > li > .megamenu { position: relative; }
    .menuzord-responsive .menuzord-menu > li > a { padding: 0px !important; }
    .menu-box-video { height: 126px; }
    .cerca-text h3 { font-size: 18px; padding:15px; }
    .cerca-form form input { width: 80%; }
    .cerca-form { margin-top: 0px !important; }
    .menuzord-menu{min-width: 100%;}/*Fix bug caricamento logo*/

    .atf_sidebar { border-left: none; text-align: center; }
    #section-selezionati-per-te p { font-size: 24px; }
    .swiper-container-simple { width: 100%; padding-left: 1px; }
    .home-filter { text-align: center; }
    .home-filter li { display: inline-block; padding: 10px 20px; border-left: 1px solid #ececec; border-bottom: none; }
    .home-filter li:last-child { border-right: 1px solid #ececec; }
    .section-home-cinema { text-align: center; }
    .section-home-anime { text-align: center; }
    .section-home-lady { text-align: center; }
    .section-home-videorece { text-align: center; }
    .section-home-trailer { text-align: center; }
    .item img { width: 100%; }


    /*HOME*/
    .swiper-container-sliderhome{  width:100%; height: 100%;  } /*Slider home*/
    .swiper-container-sliderhome .swiper-button-next{ right: 0px; }
    .adv_home_atf{ position:relative; top: 35px; margin-bottom: 65px!important; }
    .sliderSection{ width: 100%; padding: 25px; }
    .sliderTitle { font-size: 22px; }
    .row-home-destra{ margin: 0; padding: 0; }
     #section-filtro-home-selezionevideo{max-height: 100%;}


    /* Salvattore */
    #timeline[data-columns]::before {
        content: '2 .column.size-1of2';
    }

    /* VIDEO */
    #video-holder { height:  100%; }
    .row-eq-height { display: block; }
    #videoinfo-area { padding: 15px 20px; }
    .autopromo-video { padding: 0px; }
    .adv_home_atf-video { margin: 10px 0px; padding: 0px; }
    .video-sfumatura { width: 100%; }
    .player-message {
        margin: 0px;
    }
    .player-message h2 {
        font-size: 22px;
    }

    /* SEZIONE */
    .titolo-sezione { display: block; text-align: left; margin-bottom: 10px; }
    .elenco-sezione-container { float: left; padding-left: 10px; }
    .elenco-sezione { padding-left: 0px;float: none!important; }
    .elenco-sezione li { padding: 0px 4px; font-size: 10px; }
    .video-sezione { padding: 0px !important; height: 300px; }
    .video-sezione p {
    width: 100%;
    margin: 0px 0px;
    }
    .swiper-titolo-sezione { background: none; }
    .swiper-container-wall .swiper-slide p { text-shadow: 2px 1px 1px #000; }

    /* SERIE */
    .serie-trama-container { padding-bottom: 15px; }
    .serie-trama { padding-left: 10px !important }
    .serie-trama-text { padding: 20px 20px 20px 20px; }
    .serie-trama article {  padding: 10px 5px; }
    .serie-trama article p{  font-size: 14px;  }
    .serie-trama h1 {  font-size: 32px;   }
    .serie-atf { text-align: center; }
    .serie-atf img { float: none; }
    .lista-episodi { padding-top: 15px; text-align: center; }
    .episodio-titolo { text-shadow: 1px 1px 2px #333; top:0px; }
    .episodio-locandina { height: auto; }
    .episodio-locandina img { position: relative; }
    .episodio-play { top:35%; left:40%; }

    /* FILM */
    .film-info { margin: 0px; padding: 20px; border: none; }
    .film-slider { height: 300px; }

    /*PAGE*/
    #Page article{ padding: 15px; }


    /*ARTICOLO*/
    .social-share {
    border-right:none;
    border-bottom: 1px solid #ececec;
    }

    /* FOOTER */
    .footer-dpnetwork li { width: 100%; text-align: center; }
    .footer-dp-logo { text-align: center; }
    #logo-delta-footer { margin-bottom: 10px; }
    .footer-infoarea { text-align: center; }
    .footer-infoarea ul { padding-left: 0px; }
    .footer-infoarea li {
        float: left;
        padding: 0px 15px 10px 0px;
        width: 100%;
        text-transform: uppercase;
        font-size: 10px;
        padding: 15px 0px;
        border-bottom: 1px solid #3e4a56;
    }
    .footer-infoarea li:last-child {
        border-bottom: none;
    }
    .last-footerarea p { text-align: center; }
    .fapav { text-align: center; }

    .autopromo{ display: none; }


    /*Dashboard utente*/
    .dashboard-profilazione-text {border-right: none;}
    #profilazione-step-0{width:100%;}
    #userdash-gridrow-top .userdash-big-box{ padding: 0px; }
    #userdash-gridrow-bottom .userdash-big-box{ padding: 0px; }
    #dashboard-hero h1{ text-align:center; font-size:26px; }
    #userdash-gridrow-top  .userdash-small-box{ padding-top: 15px; }
    #userdash-gridrow-bottom .userdash-small-box{ padding-bottom:15px; }


    /*.correlazione_fourw{ display: none; }*/

    .signout-item{background: #303E4B; border-bottom: solid 1px #3e4a56; padding: 15px 0px;  min-width: 100%; }
    .aside_newsletter_box{display: none;}

    .PinterestBox span{ min-width: 100%!important;  max-width: 100%!important; }
    .TwitterBox{ padding-left:0px; }
    .FbBox{ padding-left: 0px; }

}

/***** iPad Portrait *****/
@media screen and (width: 768px) {
    .leo-skin .masthead {margin: 0;}/*Fix spazio skin mobile*/
    body { top: 80px; }
    .container { width: 100%; max-width: 100%; }
    .special-hero-img{  max-width: 100%; width: 100%; margin: 15px 0px 0px 0px;   }
    .atf, .btf { text-align: center; }
    .facebook-box{display: none; }


    /* HOME */
    .swiper-container-sliderhome {  width: 100%; }
    .featured-item {
    min-height: 275px;
    }
    .sliderSection {
    width: 100%;
    }


    /* MENU */
    .cbp-af-header { width: 768px; }
    .cbp-af-header .cbp-af-inner { padding: 0px; }
    .cbp-af-header .menuzord .showhide { padding: 25px 0px 0px; }
    .cbp-af-header.cbp-af-header-shrink .menuzord .showhide { padding: 13px 0px 0px; }
    .menuzord.pctv .menuzord-menu > li > a { background: #303E4B; border-bottom: solid 1px #3e4a56; line-height: 50px; }
    .menuzord-responsive .menuzord-menu li .indicator { border-left: solid 1px #3e4a56; line-height: 50px; }
    .cbp-af-header nav a { margin: 0px; font-size: 14px; line-height: 80px; }
    #logo-delta { padding-left: 40px; }
    .megasubmenu li a { line-height: 20px; }
    .menuzord-responsive .menuzord-menu > li > .megamenu { position: relative; }
    .menuzord-responsive .menuzord-menu > li > a { padding: 0px !important; }
    .menu-box-video { height: 126px; }
    .cbp-af-header.cbp-af-header-shrink nav a { font-size: 14px; }
    .menuzord-menu{min-width: 100%;}/*Fix bug caricamento logo*/


    .swiper-container-verticalslide { width: 768px !important; }
    #slider img { width: 100%; }
    .autopromo { margin:10px 10px 10px -10px; height: 250px; display: none; }

    .atf_sidebar { border-left: none; text-align: center; }
    #section-selezionati-per-te {  }
    #section-selezionati-per-te p { font-size: 24px; text-align: center; }
    .swiper-container-simple { width: 100%; padding-left: 1px; height: 270px; overflow: hidden; }
    .home-filter { text-align: center; }
    .home-filter li {
        width: 24.62%;
        display: inline-block;
        padding: 15px 10px;
        border-left: 1px solid #303e4b;
        border-bottom: none;
    }
    .home-filter li:last-child { border-right: 1px solid #303e4b; }
    .section-home-cinema { text-align: center; }
    .section-home-anime { text-align: center; }
    .section-home-lady { text-align: center; }
    .section-home-videorece { text-align: center; }
    .section-home-trailer { text-align: center; }
    .item img { width: 100%; }
    #section-filtro-home-selezionevideo{max-height: 100%;}

    /* Salvattore */
    #timeline[data-columns]::before {
        content: '2 .column.size-1of2';
    }

    /* VIDEO */
    #video-holder { height:  100%; }
    .row-eq-height { display: block; }
    .adv_home_atf { padding: 0px 5px 10px 0px; border: none; }
    .sidebar { padding: 10px; }
    .autopromo { margin: 10px 0px; }
    .autopromo-video { padding: 0px; }
    .adv_home_atf-video { margin: 10px 0px; padding: 0px; text-align: center; }
    .sidebar-2 { text-align: center; }
    .video-sfumatura { width: 100%; }
    .player-message {
        margin: 0px;
    }
    .player-message h2 {
        font-size: 22px;
    }
    .video-prec, .video-succ, .video-random {
    height: auto;
    }
    .social-share-video {
    padding: 0px 30px;
    }


    /* SEZIONE */
    .barra-sezione {}
    .titolo-sezione-container { padding: 5px 0px; }
    .titolo-sezione {  text-align: left; margin-bottom: 5px; font-size: 22px; }
    .elenco-sezione { padding-left: 0px; margin-bottom: 0px; float: right; }
    .elenco-sezione li { font-size: 9px; line-height: 34px; }
    .video-sezione { padding: 0px !important; height: 220px; }
    .video-sezione p {
    width: 100%;
    margin: 0px 0px;
    }
    .swiper-container-wall { height: 570px; }
    .swiper-container-wall .swiper-slide p { text-shadow: 2px 1px 1px #000; }

    /* SERIE */
    .episodio-locandina { height: 235px; }
    .tab-serie>li>a {
    padding: 15px 20px;
    }


    /*ARTICOLO*/
    .social-share {
    border-right:none;
    border-bottom: 1px solid #ececec;
    }
    #article-area img{min-width: 100%;}

    /* FOOTER */
    .footer-dpnetwork li { padding: 15px 3px; }
    .footer-dpnetwork li a { letter-spacing: 1px; }
    #to-top { float: none; text-align: center; margin-right: 0px; }
    #logo-delta-footer { margin-bottom: 10px; }
    .footer-infoarea { padding-left: 35px; }
    .footer-infoarea ul { padding-left: 10px; }
    .footer-infoarea li:last-child { padding-right: 0px; }
    .footer-infoarea li { float: left; padding: 0px 5px 5px 0px; }
    .last-footerarea p { text-align: center; margin: 10px; font-size: 12px;  }

    /*.correlazione_fourw{ display: none; }*/
    .async_box{height: auto!important; }
    .primopiano { position: relative;top: 35px;  left: 10px; }

    .signout-item{background: #303E4B; border-bottom: solid 1px #3e4a56; padding: 15px 0px;  min-width: 100%; }


}


@media screen and (min-width: 769px) and (max-width: 1023px) {
    .leo-skin .masthead {margin: 0;}/*Fix spazio skin mobile*/
    body { top: 80px; }
    .container { width: 100%; max-width: 100%; }
    .special-hero-img{  max-width: 100%; width: 100%; margin: 15px 0px 0px 0px;  }
    .atf, .btf { text-align: center; }

    /* MENU */
    .cbp-af-header { width: 100%; }
    .cbp-af-header .cbp-af-inner { padding: 0px; }
    .cbp-af-header .menuzord .showhide { padding: 25px 0px 0px; }
    .cbp-af-header.cbp-af-header-shrink .menuzord .showhide { padding: 13px 0px 0px; }
    .menuzord.pctv .menuzord-menu > li > a { background: #303E4B; border-bottom: solid 1px #3e4a56; line-height: 50px; }
    .menuzord-responsive .menuzord-menu li .indicator { border-left: solid 1px #3e4a56; line-height: 50px; }
    .cbp-af-header h1, .cbp-af-header nav { text-align: center; }
    .cbp-af-header nav a { margin: 0px; line-height: 80px; font-size: 14px; }
    #logo-delta {  padding-left: 50px; }
    .megasubmenu li a { line-height: 20px; }
    .menuzord-responsive .menuzord-menu > li > .megamenu { position: relative; }
    .menuzord-responsive .menuzord-menu > li > a { padding: 0px !important; }
    .menu-box-video { height: 126px; }
    .cbp-af-header.cbp-af-header-shrink nav a { font-size: 14px; }
    .menuzord-menu{min-width: 100%;}/*Fix bug caricamento logo*/

    .swiper-container-verticalslide { width: 100% !important; }
    #slider img { width: 100%; }
    .autopromo { margin:10px 10px 10px -10px; height: 250px; }

    .atf_sidebar { border-left: none; text-align: center; }
    #section-selezionati-per-te p { font-size: 24px; }
    .swiper-container-simple { width: 100%; padding-left: 1px; }
    .home-filter { text-align: center; }
    .home-filter li { display: inline-block; padding: 10px 20px; border-left: 1px solid #ececec; border-bottom: none; }
    .home-filter li:last-child { border-right: 1px solid #ececec; }
    .section-home-cinema { text-align: center; }
    .section-home-anime { text-align: center; }
    .section-home-lady { text-align: center; }
    .section-home-videorece { text-align: center; }
    .section-home-trailer { text-align: center; }
    .item img { width: 100%; }
    #section-filtro-home-selezionevideo{max-height: 100%;}


    /* Salvattore */
    #timeline[data-columns]::before {
        content: '3 .column.size-1of3';
    }

    /* VIDEO */
    #video-holder { height:  100%; }
    .row-eq-height { display: block; }
    .adv_home_atf { padding: 0px 5px 10px 0px; border: none; }
    .sidebar { padding: 10px; }
    .sidebar-2 { text-align: center; }
    .video-sfumatura { width: 100%; }
    .facebook-box { margin-left: -20px; }

    /* FOOTER */
    .footer-dpnetwork li { padding: 15px 5px; }
    .footer-dpnetwork li a { letter-spacing: 1px; }
    .footer-infoarea { padding-left: 35px; }
    .footer-infoarea ul { padding-left: 10px; }
    .footer-infoarea li:last-child { padding-right: 0px; }
    .footer-infoarea li { float: left; padding: 0px 10px 10px 0px; }

    /*.correlazione_fourw{ display: none; }*/

    .signout-item{background: #303E4B; border-bottom: solid 1px #3e4a56; padding: 15px 0px;  min-width: 100%; }

}

@media screen and (min-width: 992px) and (max-width: 1069px) {
    /* Salvattore */
    #timeline[data-columns]::before {
        content: '2 .column.size-1of2';
    }

    /* VIDEO */
    .autopromo-video { padding: 0px; }
    .adv_home_atf-video { margin: 10px 0px; padding: 0px; }
}


@media screen and (-webkit-min-device-pixel-ratio:0) {
    .fixchrome{left:42%!important; top:40%!important;}
}
