@import url(reset.css);

/**
 * MAJOR CONTENTS
 */
body{ background:#999; color:#fff; height: 100%; overflow-x:hidden}

#conteneur{ background:#999; color:#333; font-family:Arial, Helvetica, Verdana, sans-serif; text-align:center}
#conteneur div{ text-align:left;}

#header{ background:#555 url(../img/design/header-left.png) no-repeat left; height:127px; width:930px /* 960 - 30*/; margin:0 auto; padding:0 0 0 30px;}
#header-wrapper{ background:#555 url(../img/design/header-right.png) no-repeat right; }
#header-content{ background:#555 url(../img/design/header-background.png) repeat-x; display:block; width:900px /* 960 - 30 -30 */; height:127px; }
#header-content a{ background:url(../img/design/logo.png) no-repeat; text-indent:-2000em; display:block; width:348px; height:111px; top:0; margin:0; z-index:2; }
#header-content .motto{ color: #ff0052; font-size:1.5em; font-weight:normal; margin: -25px 0 0 270px; position:absolute; z-index:3; }

#main-container{ position:relative; width:990px; margin:2em auto; padding:0;}
#main-container .top-wrapper{  }
#main-container .top{ display:block; height:30px; padding:0px; margin:0px; }
#main-container .bottom{ width:990px; height:30px; padding:0; margin:0; }
#main-container .main-content{ overflow:hidden; background:url(../img/design/content-background.png) repeat-y; min-height:700px; padding:0px 4em 0 15em; margin:0px; border:0px;}
#main-container .main-content .vignette{ position:absolute; left:0px; bottom:18px; background:url(../img/design/vignette-left-bottom.png) no-repeat; display:block; width:163px; height:47px; margin-left:16px; text-indent:-2000em}

/**
 * ELEMENTS
 */
h1{ font-size:2em}
h2, .h2{ font-size:1.4em; font-weight: bold; color:#c2415a}
a{ color:#666; text-decoration:none}
a:hover{ color:#888; text-decoration:underline}
.imp{ font-weight: bold; }
.floatl{ float:left; }
.floatr{ float:right; }
.xl{ font-size:1.5em!important}
.xxl{ font-size:3em!important}
.rose{ color:#ff0066!important}
.clear{ clear:both; }
:focus{ outline:none}



/**
 * FICHE SYNONYMES
 */
.fiche-wrapper{/* overflow:auto; */}
.fiche{ margin:0 20px;  margin-top:-1em; padding:0px; padding-bottom: 1em; }
.fiche h1{ font-size:2em; color:#c2415a; margin:0 0 0.2em 0;}
.fiche h1 span{ color: #222; font-size:1.5em; }

.fiche .synos{ overflow:auto; font-size:1.1em; line-height:2em; padding:0; margin:0; margin-bottom:1.5em; }
.fiche .synos li{ list-style:none; display:block; width:140px /* 864/6.0 - 4 */; float:left; }
.fiche .synos li a{ color:#000; }
.fiche .synos li a:hover{ color:#333; text-decoration: underline; }
.fiche .synos .word{ text-decoration:none; }

.fiche .long-synos{ overflow:auto; font-size:1.1em; line-height:2em; padding:0; margin:0; margin-bottom:3em; clear: both; }
.fiche .long-synos li{ display:block; float: left; list-style:none; padding-right:1em; }
.fiche .long-synos li a{ color:#000; }
.fiche .long-synos li a:hover{ color:#333; }

.fiche .links a{ font-size:1.2em; font-weight: bold; color:#204F67; }

.sidebar{background:url(../img/design/fiche_delimiteur.png) no-repeat top left; height:400px; width:320px /* 280 + 40 */; float:right; padding-left:40px; }
.sidebar .form{ margin:0 0 0 15px;}
.sidebar .form h2{ margin-left:5px; border-bottom:1px solid #999; }
.sidebar .input-container{ float:left; margin-right:1em; }

.topbar{background:url(../img/design/fiche_delimiteur_horizontal.png) no-repeat bottom center; height:40px; padding-bottom:65px; }
.topbar .form{ margin:0 0 0 15px;}
.topbar .form h2, .topbar .form .h2{ float:left; line-height:44px; margin:0 1em 0 0;}
.topbar .input-container{ float:left; margin-right:1em; }


/**
 * FORMS
 */
.input-text{ background:#f0f0f0; color:#333; border:2px solid #fff; font-size:1.4em; padding:0.2em 0.4em;}
.input-container img{ display:block; }

label{ color:#333}

.accueil-form{ overflow:auto; margin:0 0 0 4em; padding:4em 0 2em 0; }
.accueil-form h1{ float:left; font-weight:normal; line-height:2.2em; margin:0; margin-right:1.5em}
.accueil-form .input-container{ float:left; margin-right:2em; }

.input-text-big{ background:url(../img/design/input-text-big-background.png) repeat-x; display:block; float:left; border:none; font-size:1.4em; text-indent:0px; height:56px; /*width:300px;*/ padding:0px; margin:0px; }
.input-text-big{ padding-top:15px\9 }
.input-text-small{ background:url(../img/design/input-text-small-background.png) repeat-x; float:left; border:none; font-size:1.1em; text-indent:0px; height:44px; width:180px !important;}
.input-text-small{ padding-top:15px\9 }

.input-text-left, .input-text-right{ background-repeat:no-repeat; background-position:left center; display:block; float:left; width:16px; height:56px; padding:0px; margin:0px; }
.input-text-left{ background-image:url(../img/design/input-text-big-left.png); }
.input-text-right{ background-image:url(../img/design/input-text-big-right.png); }

.input-text-small-left, .input-text-small-right{ background-repeat:no-repeat; background-position:left center; display:block; float:left; width:12px; height:44px; padding:0px; margin:0px; }
.input-text-small-left{ background-image:url(../img/design/input-text-small-left.png); }
.input-text-small-right{ background-image:url(../img/design/input-text-small-right.png); }

.submit-button{ background:url(../img/design/submit-button-background.png) repeat-x; float:left; font-weight:bold; color:#333; border:none; font-size:1.2em; line-height:1em; width:50px; height:56px; margin:0}
.submit-small{ background:url(../img/design/submit-small-background.png) repeat-x; float:left; font-weight:bold; color:#333; border:none; font-size:1em; line-height:1em; width:48px; height:44px; margin:0}
.submit-button:hover, .submit-small:hover{ color:#999; cursor:pointer}

.submit-left, .submit-right{ background-repeat:no-repeat; background-position:left center; display:block; width:14px; height:56px; float:left; padding:0px; margin:0px; }
.submit-left{ background-image:url(../img/design/submit-button-left.png); }
.submit-right{ background-image:url(../img/design/submit-button-right.png); }

.submit-small-left, .submit-small-right{ background-repeat:no-repeat; background-position:left center; display:block; width:10px; height:42px; float:left; padding:0px; margin:0px; }
.submit-small-left{ background-image:url(../img/design/submit-small-left.png); }
.submit-small-right{ background-image:url(../img/design/submit-small-right.png); }

.under-form{ background:url(../img/dictionnaire_des_synonymes.png) no-repeat right top; height:190px; width:95%; padding-top:3em; margin-left:4em}
.under-form p{ font-size:1.3em}


/**
 * AUTH
 */
#auth-form{ margin-top:1em }
#auth-form td{ padding:0.2em 1em 0.2em 0}


/**
 * MINI-MENU dans le FOOTER
 */
#footer{ background:#333 url(../img/design/footer-background.png) repeat-x; padding:0.5em 2em;}
#footer .container{ width:960px; margin: 0 auto; text-align: center; }

#footer .mini-menu{ overflow:auto; list-style:none; margin:1em 0 1.5em 0;}
#footer .mini-menu li { float:left; display: block; margin:0px 20px;}
#footer .mini-menu li a{ display:block; color:#fff; width:440px; height:40px; background:#2a2a2a; font-size:1.5em; margin:0; padding:1em 0;}
#footer .mini-menu li a:hover{ color:#fff; text-decoration:none; background:#222}
#footer .mini-menu li a span{ display:block; font-size:0.6em; }

#footer .clear{ border:1px solid #2a2a2a;}

#footer .mini-links{ overflow:auto; list-style:none; color:#666; margin:1em 0 0.5em 0;}
#footer .mini-links li{ display:inline; padding:0 2em; border-right:solid 1px #666;}

#footer .copyright{ color:#666666}

#footer .presentationSynoHome{ width:960px; margin: 0 auto; text-align: left; }


/**
 * UNDER CONSTRUCTION
 */
#conteneur.under_construction{ background:#eee; height:100%; padding:1em }
#conteneur.under_construction form{ text-align:left}



/**
 * ECHECS
 */
h1.echecs-title{ margin-bottom:0.2em; }
.echecs{ width:40%; margin-left:0;}
.echecs li{ list-style-type:none; padding:4px 8px;}
.echecs li:hover{ background:#fff}
.echecs .impair{ background:#ccc;}
.suppress{ margin-left:3em; font-size:0.9em; color:#888; float:right}
.suppress:hover{ cursor:pointer}


/**
 * ADMIN MENU
 */
#admin_menu{ position:fixed; z-index:900; top:0; right:0; display:block; background:#fff; color:#333; margin:0; padding:0.5em 1em;}
#admin_menu li{ display:block; background:#f0f0f0; padding:0.2em; margin-bottom:5px; }

/**
 * WIDGETS
 */
.box{ background: #fff; padding:1em;  }
.box input{ margin-top: 1em; }

/** AJOUT AURELIE **/
.fil_ariane {color:black; line-height:auto;margin:-15px 0 0 0; padding:0 0 0 -30px;}
.pubAriane {color:black; line-height:auto;margin:5px 0 0 0 !important; padding:0 0 0 30px;}

#compteur{color:black; line-height:auto; text-align:right;margin:0px; padding:0px; padding-right:30px; font-style:italic;}
.presentationSynoHome h2, h3 {
    font-size: 20px;
}
.dico{ font-size:20px; padding-left:18px;}
.presentationSynoHome .synos{ overflow:auto; font-size:1.1em; line-height:2em; padding:0; margin:0; margin-bottom:1.5em; }
.presentationSynoHome .synos li{ display:block; width:140px /* 864/6.0 - 4 */; float:left; }
.presentationSynoHome .synos li a{ color:#000; }
.presentationSynoHome .synos li a:hover{ color:#333; text-decoration: underline; }
.presentationSynoHome .synos .word{ text-decoration:none; }
.presentationSynoHome h2 a{ color:#000; }
#footer2{padding:0.5em 2em;}
#footer2 .container{ width:960px; margin: 0 auto; color: #000; }
#footer2 .container h2 {color:#000;}
.fiche .links a{ font-size:1.4em; font-weight: bold; color:#F66F00; }
.fiche .links span{ font-size:1.4em; font-weight: bold; color:#000; }
#adsence {
    height: 700px;
	/*background-color:blue;
	border:1px solid #000;*/
    position: absolute;
    width: 150px;
	margin-left:40px;
	
}
#main-container .main-content-moteur{ overflow:hidden; background:url(../img/design/content-background.png) repeat-y; padding:0px 4em; margin:0px; border:0px;}
.social{margin-left:80%;/*margin-right:-150px;*/}
.gplus{float:right;}

#main-container .main-content2{ overflow:hidden; background:url(../img/design/content-background.png) repeat-y; min-height:500px; padding:0px 4em; margin:0px; border:0px;}
.vignette{ position:absolute; left:0px; bottom:18px; background:url(../img/design/vignette-left-bottom.png) no-repeat; display:block; width:163px; height:47px; margin-left:16px; text-indent:2em; line-height:3; font-size:16px;}
.rose{ color:#000!important}

/** AJOUT ADMARK **/
.header-p { width:468px;height:60px;float:right; margin-top: 18px; }
.bottom-p { width: 728px; height: 90px; float: right;}

#sommaine .inputtext{width:300px;}
#sommaine label{display: inline-block;width:100px;margin: 5px 0;}
#sommaine .btnsend{display: block;margin: 10px 36%; padding: 20px 50px; background: #c2415a; color: #FFF}