@charset "utf-8";
/* CSS Document */ 
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,900);
::-moz-selection{background:#b9e9ff}
::selection{background:#b9e9ff}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,img {margin:0;padding:0; -webkit-text-size-adjust:none;}
table {border-collapse:collapse;border-spacing:0;}
fieldset,img {border:0;}
address,caption,cite,code,dfn,th,var {font-style:normal;font-weight:normal;}
ul {list-style:none;}
ol{ list-style:outside decimal; margin-left:18px; line-height:1.6em;}
ol li{ line-height:1.8em;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:normal;color:#333;}
a{ text-decoration:none;color:#333;}
a:hover{text-decoration:underline;}
img{ vertical-align:middle;}

input[type='text'],textarea,input[type='submit']{-webkit-appearance: none;font-family:Lato,Helvetica,Arial,sans-serif; outline:none; border:none; color:#777; vertical-align:top;border-radius:0; background:#fff;}
input[type='checkbox']{ vertical-align:text-top; vertical-align:baseline\9;}
select{background:#fff;}
select:focus{ outline:none; }

/*basic*/
.fl {float:left !important;}
.fr {float:right !important;}
.ac{ text-align:center;}
.ar{ text-align:right;}
.al{ text-align:left;}
.clear, .clr{ clear:both; height:0; overflow:hidden;}
.noh{ overflow:visible !important;}
ul.dot li, ul.list li{ list-style:outside disc; line-height:1.7em; margin-left:18px;}
.noB{background:none !important; border:none !important;}
.noBor{ background:none !important; border:none !important; margin-right:0 !important;}
.re{ position:relative !important;}
.oh{ overflow:hidden !important;}
.blue{ color:#84C754 !important;}
.red{ color:#f00 !important;}
.orange{ color:#f6772c !important}
.hide{ display:none !important;}
hr{ border:none; height:0; overflow:hidden; border-bottom:1px solid #ededed;margin:12px 0; *margin:0; height:0;} 
.maxW{ max-width:100%;}
body{font:14px/1.6em Lato,Helvetica,Arial,sans-serif;color:#777;background:#fff; }

.mt5{margin-top:5px !important;}.mt10{margin-top:10px !important;}.mt15{margin-top:15px !important;}.mt20{margin-top:20px !important;}.mt25{margin-top:25px !important;}.mt30{margin-top:30px !important;}.mt35{margin-top:35px !important;}.mt40{margin-top:40px !important;}.mt60{margin-top:60px !important;}.mt50{margin-top:50px !important;}.mt0{margin-top:0 !important;}
.mb5{margin-bottom:5px !important;}.mb10{margin-bottom:10px !important;}.mb20{margin-bottom:20px !important;}.mb25{margin-bottom:25px !important;}.mb30{margin-bottom:30px !important;}.mb35{margin-bottom:35px !important;}.mb40{margin-bottom:40px !important;}.mb50{margin-bottom:50px !important;}.mb60{margin-bottom:60px !important;}.mb0{margin-bottom:0px !important;}
.ml5{margin-left:5px !important;}.ml10{margin-left:10px !important;}.ml15{margin-left:15px !important;}.ml20{margin-left:20px !important;}.ml30{margin-left:30px !important;}.ml40{margin-left:40px !important;}.ml0{ margin-left:0!important;}
.mr5{margin-right:5px !important;}.mr10{margin-right:10px !important;}.mr15{margin-right:15px !important;}.mr20{margin-right:20px !important;}.mr30{margin-right:30px !important;}.mr40{margin-right:40px !important;}.mr0{ margin-right:0!important;}
.ptb10 { padding-top:10px; padding-bottom:10px;}.ptb30 { padding-top:30px; padding-bottom:30px;}.pt0{ padding-top:0!important;}
.pt5 {padding-top:5px!important;}.pt10 {padding-top:10px!important;}.pt15 {padding-top:15px!important;}.pt20 {padding-top:20px!important;}.pt25 {padding-top:25px!important;}.pt30 {padding-top:30px!important;}
.pb5 {padding-bottom:5px!important;}.pb10 {padding-bottom:10px!important;}.pb15 {padding-bottom:15px!important;}.pb20 {padding-bottom:20px!important;}.pb30 {padding-bottom:30px!important;}
.pr0{ padding-right:0!important;}.pl0{ padding-left:0!important;}.pb0{ padding-bottom:0!important;}.ptb0{ padding:0!important;}
.p15{ padding:0 15px!important;}.p10{ padding:0 10px!important;}

.rline{border-right:1px solid #e8e8e8;}
/*public*/
.crumb{ background:url(images/home_icon.png) no-repeat 0 center; font-size:13px;padding-left:20px; margin-top:30px;}
.crumb a{color:#777;}

.table1 td,.table1 th{padding: 8px 13px;border: 1px solid #e5e5e5;font-size:12px;}
.table1 th{ font-weight:bold; font-size:14px;filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr='#ffffff',endcolorstr='#efefef',gradientType=0); background: -moz-linear-gradient(top, #ffffff, #efefef 100%);background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#efefef));}
.addthis_floating_style{ position:absolute !important; border:1px solid #dbdbdb; padding:10px 6px 15px !important; background:#fff;}
.paging{ text-align:center; margin:20px 0;}
.paging a{padding: 3px 5px ;text-decoration: none; border:1px solid #fff; }
.paging a.curr{ border:1px solid #ccc; background:#f8f8f8;color:#555; font-weight:bold;}
.paging a:hover{ border:1px solid #ccc;}
.paging .bb{ padding: 5px 8px ; margin:0 10px;  border:none;}
.paging .bb:hover{ border:none;  }
.table-style2{border-top:1px solid #84c754;border-left:1px solid #84c754;}
.table-style2 td,.table-style2 th{border-bottom:1px solid #84c754;border-right:1px solid #84c754;padding:10px; font-size:13px;}
.table-style2 th{color:#333; font-size:16px; background-color:#f2f2f2; font-weight:bold;padding:0;}
.table-style2 .star{width:100px;}
.new-pro-box .star{width:100px!important;}
/*text-overflow:ellipsis; overflow:hidden; white-space:nowrap;*/
/*-webkit-backface-visibility: hidden;-webkit-transform-style: preserve-3d; */
/*btn*/

.grayBtn{ display:inline-block;background: url(images/btn-1.png) repeat-x 0 -95px;height: 30px;line-height: 30px;padding: 0 10px;color: #777; border:1px solid #d9d9d9;border-radius: 5px;text-align: center;white-space: nowrap;overflow: hidden;text-overflow: ellipsis; width:76px;margin: 13px 6px 0 0; box-shadow:0 0 3px #d9d9d9;}
.grayBtn:hover{ text-decoration:none; background:#fcfcfc;}
.buyBtn-2{ display:inline-block; background: url(images/btn-1.png) repeat-x 0 -128px; width:198px; height:57px;}
.buyBtn-2:hover{ background-position:0 -186px;}
.greenBtn,.orangeBtn,.greenBtn-s,.orangeBtn-s,.grayBtn-2{display:inline-block; background: url(images/btn-1.png) repeat-x 0 -245px; width:137px; height:33px; line-height:33px; color:#fff !important; text-align:center; font-weight:bold;  font-size:13px !important; }
.orangeBtn{ background-position:0 -642px;}
.greenBtn-s{ background-position:-144px -245px; width:103px; height:33px;}
.orangeBtn-s{background-position:-98px -32px; width:103px; height:33px;}
.grayBtn-2{ background-position:-98px -65px; width:128px; height:28px; line-height:28px; color:#555 !important;  font-weight:normal;}

.greenbtn{display:inline-block;background:#84c754;font-size:14px; text-align:center;width:120px;height:34px;line-height:34px;text-decoration:none !important;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;transition: all 0.3s;color:#fff !important; border-radius:5px;}
.greenbtn:hover{background:#74b447; text-decoration:none;}
.bluebtn{display:inline-block;background:#32a4e7;font-size:14px; text-align:center;width:120px;height:34px;line-height:34px;text-decoration:none !important;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;transition: all 0.3s;color:#fff !important;border-radius:5px;}
.bluebtn:hover{background:#3099d6; text-decoration:none;}
.btnTrial_win {display:inline-block; background:#84c754 url(images/icon_win3.png) no-repeat 10px center; border-radius:5px;padding:15px 15px 15px 50px;width:100px;color:#fff; font-size:20px;text-decoration:none !important;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;transition: all 0.3s;color:#84c754 !important;color:#fff !important; line-height:1em;}
.btnTrial_win:hover{background:#76ba45 url(images/icon_win3.png) no-repeat 10px center;text-decoration:none;}
.btnTrial_mac {display:inline-block; background:#84c754 url(images/icon_mac3.png) no-repeat 10px center; border-radius:5px;padding:15px 15px 15px 50px;width:100px;color:#fff; font-size:20px;text-decoration:none !important;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;transition: all 0.3s;color:#84c754 !important;color:#fff !important; line-height:1em;}
.btnTrial_mac:hover{background:#76ba45 url(images/icon_mac3.png) no-repeat 10px center;text-decoration:none;}
.dropBtn{ position:relative; cursor:pointer}
.dropBtn div{ text-align:left; display:none; width:230px;position: absolute;z-index: 3; right:0;top: 35px;text-indent: 0;background:#ddd;border: 1px solid #DDD;border-radius: 5px;padding: 10px; text-shadow:0 0 0; color:#777;} 
.dropBtn:hover div{ display:block;}
.dropBtn div .dot{background: url(images/dot_04.png) no-repeat 50% 0;display: block;width: 60px;height: 8px;position: absolute;z-index: 3;top: -8px;right:20px;}
.dropBtn div ul{ margin-top:5px;}
.dropBtn div li a{ display:block; width:215px; line-height:22px; height:22px; color:#3d4f58; font-style:italic; padding-left:5px; font-size:12px;}
.dropBtn div li a:hover{ background:#eee; text-decoration:none;}
.downbtn{display:inline-block;font-size:14px;width:80px;height:32px;line-height:32px;text-decoration:none !important;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;transition: all 0.3s;color:#84c754 !important; border-radius:5px; border:1px solid #84c754;background:url(images/arrow_d.png) no-repeat 15px 0;padding-left:35px;}
.downbtn:hover{background:#84c754 url(images/arrow_d.png) no-repeat 15px -32px; text-decoration:none;color:#fff !important;}
.downbtn2{display:inline-block;font-size:16px;width:105px;height:40px;line-height:40px;text-decoration:none !important;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;transition: all 0.3s;color:#84c754 !important; border-radius:5px; border:1px solid #84c754;background:url(images/arrow_d2.png) no-repeat 30px 0;padding-left:55px;}
.downbtn2:hover{background:#84c754 url(images/arrow_d2.png) no-repeat 30px -40px; text-decoration:none;color:#fff !important;}
.downbtn3{display:inline-block;font-size:14px;width:100px;height:32px;line-height:32px;text-decoration:none !important;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;transition: all 0.3s;color:#fff !important; border-radius:5px;background:#84c754;}
.downbtn3:hover{background:#57b116; text-decoration:none;color:#fff !important;}
.buybtn3{display:inline-block;font-size:14px;width:100px;height:32px;line-height:32px;text-decoration:none !important;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;transition: all 0.3s;color:#fff !important; border-radius:5px;background:#ff6000;}
.buybtn3:hover{background:#ff2a00; text-decoration:none;color:#fff !important;}
.pro_r_btn{display:inline-block;background:#daedcc;text-align:center;width:155px;height:38px;line-height:38px;text-decoration:none !important;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;transition: all 0.3s;color:#333 !important; border-radius:5px;}
.pro_r_btn:hover{background:#cae3b8; text-decoration:none;}
.pro_down{display:inline-block; background:#84c754 url(images/arrow_d3.png) no-repeat 35px center; border-radius:5px;padding:10px 35px 10px 80px;width:100px;color:#fff; font-size:20px; font-weight:bold;text-decoration:none !important;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;transition: all 0.3s;color:#84c754 !important;color:#fff !important; line-height:1em;}
.pro_down:hover{ background:#76ba45 url(images/arrow_d3.png) no-repeat 35px center;text-decoration:none;}
.pro_buy{display:inline-block; background:#ff6000 url(images/icon_mac3.png) no-repeat 35px center; border-radius:5px;padding:10px 35px 10px 80px;width:100px;color:#fff; font-size:20px; font-weight:bold;text-decoration:none !important;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;transition: all 0.3s;color:#84c754 !important;color:#fff !important; line-height:1em;}
.pro_buy:hover{background:#ff731f url(images/icon_mac3.png) no-repeat 35px center;text-decoration:none;}
.buybtn{display:inline-block;font-size:14px;width:80px;height:32px;line-height:32px;text-decoration:none !important;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;transition: all 0.3s;color:#fff !important; border-radius:5px; border:1px solid #ff6000;background:#ff6000 url(images/arrow_b.png) no-repeat 15px 0;padding-left:35px;}
.buybtn:hover{background:#ff6000 url(images/arrow_b.png) no-repeat 15px -32px; text-decoration:none;}

.greenBtn-pro,.orangeBtn-pro{ display:inline-block; background:url(images/btn-1.png) no-repeat 0 -284px; width:209px; height:63px; color:#fff; text-align:left}
.greenBtn-pro:hover,.orangeBtn-pro:hover{ text-decoration:none;}
.orangeBtn-pro{ background-position:0 -347px;}
.greenBtn-pro .pic,.orangeBtn-pro .pic{ display:inline-block; float:left;  width:58px; padding-top:14px; text-align:right;  margin-right:8px;}
.greenBtn-pro .name,.orangeBtn-pro .name{ font-size:22px; line-height:25px;  padding-top:9px; display:block;}

.tryMinBtn {display:inline-block;font-size:14px;width:60px;height:26x;line-height:26px;text-decoration:none !important;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;transition: all 0.3s;color:#fff !important; border-radius:5px; background:#84c754; text-align:center;}
.tryMinBtn:hover{background:#50ab0f; text-decoration:none;}
.buyMinBtn {display:inline-block;font-size:14px;width:60px;height:26x;line-height:26px;text-decoration:none !important;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;transition: all 0.3s;color:#fff !important; border-radius:5px; background:#ff6000; text-align:center;}
.buyMinBtn:hover{background:#ff3c00; text-decoration:none;}

.buyBtn-s,.tryBtn-s{ text-align:left; display:inline-block;background:url(images/btn-1.png) no-repeat 0 -477px; width:120px; height:51px; position:relative; padding:26px 0 0 45px; color:#fff !important; font-weight:bold; font-size:12px;}
.buyBtn-s .pic,.tryBtn-s .pic{ position:absolute; z-index:1; top:11px; left:10px; }
.tryBtn-s{ background-position:0 -556px;}

.ipadBtn{  }
.greenBtn-pro.ipadBtn .pic{ width:45px; margin-right:3px;}
.greenBtn-s.ipadBtn{ padding:0 0 0 2.4%; height:31px; line-height:31px; border:1px solid #588d3f; background:#6da81d; border-radius:15px;} 
.table1 .greenBtn-s.ipadBtn{ height:auto; padding:2px;border-radius:5px;} 
.table1 .greenBtn-s.ipadBtn input[type='text'] {width: inherit;display: block;float: none;padding-left: 3px; border-radius:5px 5px 0 0;}
.table1 .greenBtn-s.ipadBtn a {width: 100%; margin-top:0; border-radius:0 0 5px 5px;}

.rollTop .greenBtn-s.ipadBtn{ width:183px !important;} 

.ipadBtn .tit{ padding-top:5px; margin-bottom:2px;}
.ipadBtn input[type='text']{ display:inline-block;background:#fff; border:1px solid #6e9f09; width:49%; height:22px; line-height:22px;  color:#666; padding-left:6px; font-size:11px; color:#777; border-radius:10px 0 0 10px;}
.ipadBtn .send{ display:inline-block;background:#ededed; width:36px; height:22px; line-height:22px; color:#476a00; font-size:12px; text-align:center; margin-top:1px;border-radius:0 10px 10px 0; border:1px;}
.ipadBtn .send:hover{cursor:pointer;}
.ipadBtn-s{ width:95%; padding-top:3px; height:27px;}
.ipadBtn-s input[type='text']{ width:63%;margin-top: 4px; }
.ipadBtn-s a{ width:20%;margin-top: 5px;}


.downBnt-b {display:inline-block; width:185px; background:#7bbb26; border-radius:5px; color:#fff !important;height:50px; margin-right:10px; margin-bottom:10px; text-align:left; text-decoration:none !important;}
.downBnt-b .pic {float:left; padding-top:10px; width:50px;height:40px; line-height:40px; border-right:1px solid #75b027; text-align:center; margin-right:13px;}
.downBnt-b .name { font-size:22px; line-height:22px; padding:7px 0 0; display:block; margin-bottom:0;margin-top:0!important;}
.downBnt-b:hover{ text-decoration:none; background:#81c22b;}
.downBnt-s, .buyBnt-s {display:inline-block; width:140px;  border-radius:5px; color:#fff !important;height:44px; text-align:left; text-decoration:none !important;}
.downBnt-s{background:#7bbb26; color:#fff !important;}
.buyBnt-s{background:#f6772c; color:#fff !important;}
.downBnt-s .pic, .buyBnt-s .pic {float:left; padding-top:10px; width:30px;height:34px; line-height:40px; border-right:1px solid #75b027; text-align:center; margin-right:5px;}
.buyBnt-s .pic{border-right: 1px solid #e06f0b;}
.downBnt-s .name, .buyBnt-s .name { font-size:17px; line-height:17px; padding:7px 0 0; display:block; margin-bottom:0; margin-top:0!important; color:#fff !important;}
.downBnt-s .version, .buyBnt-s .version{ font-size:12px;}
.downBnt-s:hover{ text-decoration:none; background:#81c22b;}
.buyBnt-s:hover{ text-decoration:none; background:#ff8238;}
.toTop {display:none  ;background:url(images/btn-1.png) 0 -31px no-repeat;position: fixed;z-index: 2;width: 69px;height: 62px;bottom: 30px;left: 50%;margin-left: 530px;}
.ac{ text-align:center !important; padding-left:0;}
.al{ text-align:left !important;}
/*rating*/
.rating{   display:inline-block;*display:inline; zoom:1; *margin-bottom:3px;} 
.rating li{ display:inline-block; *display:inline;*padding:0 2px 0 0; height:12px;width:11px; background:url(images/star-2.png) no-repeat 0 -3px; zoom:1}
.rating strong{color:#f60;padding-left:10px}
.rating li.on{background-position:0 -31px}
.rating li.half{background-position:0 -58px}

.bigRating { *margin-bottom:-10px;}
.bigRating li{background:url(images/star-1.png) no-repeat 0 5px; width:14px; height:22px;*margin-bottom:8px;}
.bigRating li a{width:13px; height:19px;}
.bigRating li.on{background-position:0 -23px}
.bigRating li.half{background-position:0 -50px}
.ratingArea { display:inline-block; *display:inline; width:190px;}
.ratingArea .view,.ratingArea .rating{ float:left; *float:none;}
.ratingArea .distr{ display:inline-block; *display:inline; position:relative; padding-top:1px; float:left; *float:none; margin-left:5px;}
.ratingArea .distr .btn{display:inline-block;  background:url(images/rating-drop-btn.png) no-repeat; height:20px; width:20px;  }
.ratingArea .distr .distrArea{ position:absolute; z-index:1; top:22px; left:-100px; background:#000;}

.voteRating li{ background:url(images/vote-rating.png) no-repeat 0 -62px; width:32px; height:29px;}
.voteRating li.on{ background-position:0 0;}
.voteRating li.half{ background-position:0 -31px;}

/*rollTop*/ 
.rollTop{ position:fixed; top:-1px; left:0; z-index:999; width:100%; background:url(images/roll-bg.png) repeat-x 0 100%; padding:10px 0 20px;-webkit-backface-visibility: hidden;-webkit-transform-style: preserve-3d;} 
.rollTop .container{ overflow:visible}
.rollTop.hidden{ display:none;}
.rollTop .name{ line-height:40px; font-size:20px; font-weight:normal;}
.rollTop .nav{ float:left; overflow:hidden;}
.rollTop .nav li{ float:left; }
.rollTop .nav li a{ display:inline-block; height:34px; line-height:34px; font-size:15px; padding:0 15px; border-right:1px solid #e3e3e3; }
.rollTop .nav li:first-child a{border-left:1px solid #e3e3e3;}
.rollTop .nav li a:hover{ background:#eee;text-decoration:none;}
.rollTop .nav li.last{border-right:1px solid #fbfbfb; }
.rollTop .nav li.last a{border-right:1px solid #dcdcdc;} 
.rollTop .ipadBtn{ width:200px;}
.rollTop .greenBtn-s,.rollTop .orangeBtn{ text-align:left; padding-left:8px; width:95px;}
.btm-nav{position:fixed; bottom:0; left:0; width:100%; z-index:500; padding:10px 0;background:#70bb3b;}
.btm-nav .btn-close {position:absolute; z-index:200; top:-25px; left:50%; margin-left:-28px; width:56px; height:25px; background:url(images/btn_img.png) no-repeat 17px -153px; border-radius:80px 80px 0 0; cursor:pointer; background-color:#70bb3b !important;}
.btm-nav .btn-close2 {background-position:17px -120px;}
.btm-nav .container{ text-align:center;}
.btm-nav .buyBnt-s{ width:auto; padding:8px 0 8px 10px; height:auto; background:#ff6000;}
.btm-nav .buyBnt-s:hover{background:#ff731f;}
.btm-nav .buyBnt-s span {display:inline-block; padding:0 10px; margin-left:10px; border-left:solid 1px #d0602a;}
.btm-nav .buyBnt-s span del {font-size:12px; font-weight:normal;}
/*respon*/
.container{  width:1000px; margin:0 auto;} 
.row-fluid {width:auto;margin:0 auto;*zoom: 1;overflow:hidden;}
.row-fluid:before,.row-fluid:after {display: table;line-height: 0;content: "";} 
.row-fluid .span{float: left; display: block; margin-left: 2.564102564102564%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box; }
.row-fluid .span img{max-width: 100%;-ms-interpolation-mode: bicubic;}
.row-fluid .span:first-child {margin-left: 0;}
.row-fluid .span2 { width: 48.717948717948715%;  }/*border==== margin-left:0\9; width:48%\9;*width:47.7%; margin-right:2%\9;*/
.row-fluid .span3 { width: 31.5%;  }/*padding:0 0 0 4%; margin-left:0; width:31.96%;* width:28%;*/
/*border====    margin-left:0\9; width:31.29%\9;*width:31.14%; margin-right:2%\9;*/
.row-fluid > .span2:nth-of-type(2n+1),.row-fluid > .span3:nth-of-type(3n+1),.row-fluid > .span5:nth-of-type(5n+1) { margin-left: 0; }
.row-fluid > .span2:nth-of-type(2n+1),.row-fluid > .span3:nth-of-type(3n+1){ clear:both}
.row-fluid .span4 { width: 23.076923076923077%;*width: 23%; }/* padding:0 1%; margin-left:0; width:24.99%;* width:22.8%;*/
.row-fluid .span4:nth-of-type(4n+1){ margin-left:0; clear:both}
.row-fluid .span5 {  width: 17.90%; margin:0 0 0 2.564102564102564%}
@media (min-width: 768px) and (max-width: 979px) {
	.container{ width:750px; }
}
@media (max-width: 767px) {
	.container{ width:460px;}  
	.row-fluid .span3 {  width: 48.717948717948715%; }
	.row-fluid > .span3:nth-of-type(3n+1) { margin-left:  2.564102564102564%; }
	.row-fluid > .span3:nth-of-type(2n+1) { margin-left: 0; }
	.row-fluid .span3:nth-of-type(2n+1){ clear:both}
	.row-fluid .span4 { width: 48.717948717948715%; padding:0 1%; margin-left:0; margin-bottom:15px;}/*width: 48.717948717948715%; padding:0 1%; margin-left:0; margin-bottom:15px;*/
}
@media (max-width: 479px) { 
	.container{ width:308px;}	
	.row-fluid .span { width: 100% !important;margin-left: 0 !important;  }
}
.visible-phone,.visible-tablet,.hidden-desktop {display: none !important;}
.visible-desktop {display: inherit !important;}
@media (min-width: 768px) and (max-width: 979px) {
  .hidden-desktop, .visible-tablet {display: inherit !important;}
  .visible-desktop, .hidden-tablet {display: none !important ;} 
}
@media (max-width: 767px) {
  .hidden-desktop,.visible-phone { display: inherit !important;  }
  .visible-desktop,.hidden-phone {display: none !important;} 
} 
/* sidebar */
.sidebar{width:23%;margin-bottom:35px; margin-top:30px;}
.sidebar .bor{overflow: hidden;border: 1px solid #EBEBEB;border-radius: 10px; padding-bottom:10px;margin-bottom: 10px;background: white; background:#fafafa;}
.sidebar .bor .title{ background:#ebebeb; padding:10px 18px; border-radius:10px 10px 0 0; font-size:16px;  font-weight:bold; margin:0 0 5px;}
.sidebar .bor ul.dot li{ margin-bottom:5px; margin-left:30px;}
.sidebar .bor .list li{ border-top:1px solid #e6e6e6; padding:8px 0; max-width:100%; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; list-style:inside disc; margin-left:0;} 
.sidebar .bor .list li.sub-header{ font-size:15px;}
.sidebar .bor .list li.sub a{ font-size:14px; padding-left:22px;}
.sidebar .bor .list li.curr a{ color:#4f9502; background:url(images/dot-4.png) no-repeat 95% 50%;}
.sidebar .bor .list li:first-child{ border:none;}
.sidebar .bor ul.list{ margin:0 5px 0 18px;}
.sidebar .bor .reviews{ padding:10px 10px 20px;}
.sidebar .bor .reviews .img{ float:left; width:40%;}
.sidebar .bor .reviews .text{ padding-left:43%;}
.sidebar .bor .reviews .text .name{ display:block; padding-top:5px;}
.sidebar .bor .reviews .reviewsRoll{ position:relative;background:#f3f3f3; padding:10px 7px; margin:15px 0;  }
.sidebar .bor .reviews .reviewsRoll .flex-control-paging{ position:absolute; z-index:1; bottom:-20px;*bottom:-40px;width:100%; text-align:center; margin-left:0;}
.sidebar .bor .reviews .reviewsRoll .flex-control-paging li{margin-right:3px;display:inline-block;*display:inline;  }
.sidebar .bor .reviews .reviewsRoll .flex-control-paging li a{display:inline-block;   width:12px;height:12px;background:url(images/pagination.png) no-repeat;cursor:pointer;  }
.sidebar .bor .reviews .reviewsRoll .flex-control-paging li a.flex-active{background-position:0 -12px;}  

.sidebar .bor .sideNav{ font-size:16px;}
.sidebar .bor .sideNav li a{ display:block; padding-left:15px;} 
.sidebar .bor .sideNav li a:hover,.sidebar .bor .sideNav li.curr a{ color:#4f9502; text-decoration:none;   }
.sidebar .bor .sideNav li.curr a{font-weight:bold;}
 
.sideBar-roll{ overflow:hidden;  padding:5px 0; position:relative;}
.sideBar-roll .slide{ margin-left:15px; }
.sideBar-roll li{ border-top:1px solid #ddd}
.sideBar-roll li a{ text-align:center; display:block; height:40px; line-height:40px;  margin:0 5px; font-size:14px;text-overflow:ellipsis; overflow:hidden; white-space:nowrap;}
.sideBar-roll li a:hover{ background:#eee; text-decoration:none;} 
.sideBar-roll .flex-prev,.sideBar-roll .flex-next{ display:block; position:absolute; top:5px; background:url(images/down-nav-roll-control.png) no-repeat !important; height:40px; width:15px; z-index:1; margin:0 !important; } 
.sideBar-roll .flex-prev{ left:0;}
.sideBar-roll .flex-next{ right:0; background-position:-19px 0 !important;} 
.sideBar-roll .flex-disabled{-moz-opacity:0.5;-khtml-opacity: 0.5;opacity: 0.5;}
/* leftBox */
.leftBox{width:74.4%;margin:30px 0;border-radius: 10px;} 
.leftBox h2{ font-size:20px;line-height: 23px;font-weight: bold;margin:20px 0; } 
@media (max-width: 767px) { 
	.leftBox,.sidebar{width:auto !important; float:none !important;} 
	.sidebar .bor .reviews .img{ float:left; width:22%;}
	.sidebar .bor .reviews .text{ padding-left:25%;}
}
 

/*header*/
.search_key {width:200px; display:none;height:auto; overflow:hidden; background:url(images/subnav-bg.png) repeat-x whiteSmoke; border-radius:0 0 15px 15px; box-shadow:0 2px 3px #CCC; padding:20px 0 25px;}
#search_keyword { position:absolute; left:-40px; top:29px; z-index:2000; }
.keylist ul { margin:0;}
.keylist ul li { cursor:pointer; padding:5px 18px}
.keylist ul li:hover{ background:#eee}
.keylist ul li.last{border:none}
.header{background:#fff;height:85px; border-bottom:solid 1px #d3d3d3;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;transition: all 0.3s;}
.header .logo{ float:left; margin:20px 0 -42px;}
.header .logo img{max-width:100%;}
.header .info{ float:right; margin-top:10px; margin-left:10px;color:#555; font-size:12px;}
.header .info a{ color:#555;padding:0 6px; font-size:12px}
.header .input{float:right;display:inline-block;float:right;width:160px;height:28px;border:1px solid #dbdbdb;margin:10px 0 0 0; background:#fff; position:relative;}
.header .input .text{display:inline-block;width:125px;height:26px;line-height:26px;margin-top:2px;background: none !important;margin-left:5px;border: none;font-size: 12px;}
.header .input .search-btn{ display:inline-block;background:url(images/btn.png) no-repeat 0 5px; width:18px; height:28px;border: none; cursor:pointer;}
.header .nav{width:560px; float:right;position:relative;z-index:11;}
.header .nav li{float:left;}
.header .nav li a.title{display:inline-block;height:51px;line-height:51px; padding:0 20px;font-size:15px; color:#000;-webkit-backface-visibility: hidden;} 
.header .nav li.curr a.title,.header .nav li:hover a.title{ border-bottom:4px solid #84c754; font-weight:normal; text-decoration:none;height:49px;color:#84c754 !important;} 
.header .nav li .subNav{display:none;position:absolute;top:53px;left:0;background:#f2f2f2; padding:20px 30px;width:492px;overflow:hidden;-webkit-backface-visibility: hidden; z-index:1;} 
.header .nav li .subNav dl{ float:left; width:225px; -webkit-backface-visibility: hidden;-webkit-transform-style: preserve-3d; }
.header .nav li .subNav dl:first{ border-right:1px solid #dfdfdf;padding-right:20px; margin-right:20px;}
.header .nav li .subNav dl.first dd{ border-right:1px solid #dfdfdf; }
.header .nav li .subNav dt{ font-size:16px;margin-top:10px;margin-bottom:10px; overflow:hidden; line-height:24px;color:#333;}
.header .nav li .subNav dd a{color:#888; line-height:26px;}
.header .nav li .subNav dd a:hover{color:#84c754;}
.header .nav li .subNav .img{ float:left; margin-right:10px;} 
.header .nav li .subNav_w {width:200px;}
.header .nav li .subNav_w2 {width:200px; left:70%;}
.header .header-toggle{ float:right; width:30%; margin-top:15px; overflow:hidden;}
.header .header-toggle .toggle-nav{ display:block; background:url(images/btn.png) no-repeat -40px 0; width:30px; height:19px; float:right; border-right:1px solid #ececec; margin-right:7px}
.header .header-toggle .toggle-search{ display:block; background:url(images/btn.png) no-repeat -80px 0; width:28px; height:19px; float:right;}
@media (min-width: 979px) {
.header_s2 {height:48px;}
.header_s2 .logo { width:130px; margin:8px 0 0 0;}
.header_s2 .input,.header_s2 .nav {display:none; height:0; overflow:hidden; -webkit-transition: all 0.5s;-moz-transition: all 0.5s;transition: all 0.5s;}
}
@media (min-width: 768px) and (max-width: 979px) {
	 .header .logo{ margin-top:8px;}
	 .header .logo img{height:35px;}
	 .header .nav{ width:auto; float:none; margin-top:15px;}
	 .header .input{ margin-top:25px;}
	 .header .nav li .subNav_w2 {left:50%;}
	 .header .nav li a.title{ padding:0 15px; }
}
@media (max-width: 767px) {
	.header{ background:#f4f4f4;height:auto;}
 	.header .nav li:first-child a.title{color:#555 !important;border-bottom:none;}
	.header{ padding-bottom:6px; padding-top:10px;}
	.header .nav{ width:100%;   }
	.header .nav.hidden,.header .input.hidden{ display:none;}
	.header .nav li{ float:none; background:none; padding-bottom:1px;}
	.header .nav li a.title{ display:block; line-height:40px;height:40px;background:url(images/dot-down-nav.png) no-repeat #d8d8d8 95% 18px;} 
	.header .nav li.curr a.title{ border:5px solid #78b949 !important; border-width:0 0 0 5px !important; height:auto}
	.header .nav li:hover a.title{ background-color:#78b949; border:none; color:#fff; height:40px;}
	.header .nav li:first-child:hover a.title{color:#fff !important;}
	.header .nav li a.title img{ display:none;}
	.header .info{ float:none; margin:0; background:#f3f3f3; overflow:hidden;padding:5px 10px; margin-bottom:10px;}
	.header .logo{ width:64%; margin:0 0 10px;}
	.header .logo img{height:35px;}
	.header .input{ float:none; overflow:hidden; margin:0 0 10px; width:100% }
	.header .input .search-btn{margin-right:5px;}
	.header .phoneclear{  clear:both; height:0; overflow:hidden; }
	.header .input .text{width:86%;}
	.header .input .search-btn{ float:right; }
	.header .nav li .subNav{ position:relative; border:none; padding:0; width:100%; top:0;}
	.header .nav li .subNav dl{ float:none; width:100%; margin:0 !important; padding:0 !important;}
	.header .nav li .subNav dl img{ display:none;}
	.header .nav li .subNav dt{ background:#e5f9d6; margin:0 0 1px; height:40px ; line-height:40px; padding:0 16px; color:#365e74; font-size:16px;border-bottom:none;}
	.header .nav li .subNav dd{ background:#fff;margin:0 0 1px;}
	.header .nav li .subNav dd a{ float:none !important; width:69%; display:inline-block;height:40px ; line-height:40px; padding:0 16px;text-overflow:ellipsis; overflow:hidden; white-space:nowrap;}
	.header .nav li .subNav dd a:hover { text-decoration:none}
	.header .nav li .subNav dd:hover{ background:#eee;}
	.header .nav li .subNav_w2 {left:0;}
}
/*footer*/
.new_bottom{background:#84c754;color:#fff; clear:both;}
.new_bottom .row-fluid{padding-bottom:25px;border-bottom:1px solid #9dd575;}
.new_bottom .span4{line-height:38px;height:38px;margin-top:25px; font-size:13px;}
.footer{padding:30px 0 60px 0; text-align:center;}
.footer .link a{color:#fff;}
.totop{display:none;background:url(images/btn.png) 0 -30px;position: fixed;z-index: 2;width:59px;height:58px;bottom: 30px;left: 50%;margin-left: 530px; text-indent:-9999px;}
/*#main*/
#main #crumb h1{ display:inline}

.peobox{margin-top:30px;}
.peobox .item{float:left;width:29.6%;margin-top:20px;margin-left:5%;}
.peobox .item:first-child{margin-left:0;}
.peobox .item .name{float:right;font-size:18px;}
@media (max-width: 767px) {
	.peobox .item{float:none;width:auto;margin-left:0;}
}
.star{width:86px;height:13px;}
.star li.on,.star li.half{display:inline-block;background:url(images/btn.png) no-repeat -120px 0;width:14px;height:13px;}
.star li.half{ background-position:-140px 0;}

.bluebtn-s,.art-orangebtn-s{display:inline-block; background:#7bbb26;color:#fff !important; padding:3px 10px; font-size:19px;height:36px;line-height:36px; text-align:center; border-radius:3px; text-decoration:none !important;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;transition: all 0.3s; margin-bottom:10px; position:relative; cursor:pointer}
.bluebtn-s:hover{ background:#81c22b; text-decoration:none;}
.bluebtn-s,.art-orangebtn-s{ height:24px; line-height:24px; font-size:13px;}
.art-orangebtn-s{ background:#f6772c;text-overflow:ellipsis; overflow:hidden; white-space:nowrap;}
.art-orangebtn-s:hover{ background:#ff8238; text-decoration:none;}

.big_orangebtn{display:block; background:#f6772c;color:#fff !important;font-size:24px;height:44px;padding:0 20px;line-height:44px; text-align:center; border-radius:3px; text-decoration:none !important;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;transition: all 0.3s; margin-bottom:10px; position:relative; cursor:pointer;width:140px;}
.big_orangebtn:hover {background: #FF8238;text-decoration: none;}
.freeTrail_win {display:inline-block; background:#84c754 url(images/n_win_icon3.png) no-repeat 10px center; border-radius:5px;padding:15px 10px 15px 50px;width:105px;color:#fff; font-size:15px;text-decoration:none !important;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;transition: all 0.3s;color:#84c754 !important;color:#fff !important; line-height:1em;}
.freeTrail_win:hover{background:#76ba45 url(images/n_win_icon3.png) no-repeat 10px center;text-decoration:none;}
.freeTrail_mac {display:inline-block; background:#32a4e7 url(images/mac-btn-icon.png) no-repeat 10px center; border-radius:5px;padding:15px 10px 15px 50px;width:105px;color:#fff; font-size:15px;text-decoration:none !important;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;transition: all 0.3s;color:#84c754 !important;color:#fff !important; line-height:1em;}
.freeTrail_mac:hover{background:#068ede url(images/mac-btn-icon.png) no-repeat 10px center;text-decoration:none;}
/*download pop*/
.versionJudge {background:#fff; width:250px; height:140px; text-align:center; border-radius:5px;}
.versionJudge p {padding:5px 0;}
.versionJudge a {text-decoration:underline; color:#0072BC;}
.versionJudge .btn {background:#84c754; text-decoration:none; padding:10px 15px; display:block; border-radius:5px; text-align:center; color:#fff; font-size:16px; margin:0 10%;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;transition: all 0.3s;}
.versionJudge .btn:hover {background:#50ab0f;}

.acResults ul{ background:#fff; padding-left:15px;}


/*footer-new*/
.footer_bottom{ background:#78b949; padding:25px 0; color:#fff;}
.footer_bottom .link_list{ margin-top:10px;}
.footer_bottom .link_list a{ display:block; color:#fff;}
.footer_bottom .title{ font-size:18px;}
.footer_bottom .choose_lit{ margin-top:15px;}
.footer_bottom .choose_lit dd{ background:url(images/bottom-img-new.png) no-repeat; padding-left:112px; height:35px;padding-top:17px; margin-bottom:15px;}
.footer_bottom .choose_lit dd.sec_img{ background-position:0 0;}
.footer_bottom .choose_lit dd.ser_img{ background-position:0 -60px;}
.footer_bottom .choose_lit dd.back_img{ background-position:0 -125px;}
.footer_bottom .choose_lit dd.sat_img{ background-position:0 -188px;}
.footer_bottom .share_bottom{ margin-top:15px; margin-bottom:30px;}
.footer_bottom .share_bottom a{ display:inline-block; background:url(images/bottom-img-new.png) no-repeat; width:36px; height:35px;}
.footer_bottom .share_bottom a.facebook_bottom{ background-position:-6px -263px;}
.footer_bottom .share_bottom a.twitter_bottom{ background-position:-6px -302px;}
.footer_bottom .share_bottom a.google_bottom{ background-position:-6px -340px;}
.footer_bottom .share_bottom a.youtube_bottom{ background-position:-6px -378px;}
.footer_bottom .share_bottom a.linkin_bottom{ background-position:-6px -415px;}
.footer_bottom .share_bottom a.more_bottom{ background-position:-6px -452px;}
.footer_bottom .btn_contact{display:inline-block;border:1px solid #fff; border-radius:5px;height:40px; line-height:40px;width:210px; background:url(images/bottom-dot.png) no-repeat 200px center;padding-left:20px;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;transition: all 0.3s; color:#fff;}
.footer_bottom .btn_contact:hover{ text-decoration:none; background:#98d86a url(images/bottom-dot.png) no-repeat 200px center;}
.footer_new{ background:#497925; color:#7aaf52; padding:15px 0; text-align:center;}
.footer_new a{ color:#7aaf52; }
@media (max-width: 767px) {
	.footer_bottom{ padding:15px 0;}
	.footer_bottom .row-fluid { padding:0 15px;}
	.footer_bottom .row-fluid .span{ float:none; width:auto;margin-left:0; margin-bottom:15px;}
	.footer_bottom .link_list a{ display:inline-block; margin-right:10px; text-decoration:underline}
	.footer_bottom .share_bottom{ margin-bottom:15px;}
}
.yadsenserightf{right:0px; top:210px; position:fixed;}
@media (max-width: 1060px) {
	.yadsenserightf{ display:none;}
}
/*header-new 2015-7-30*/
.ar-nav > li{ float:left; padding:25px 22px 15px 12px; height:32px; font-size:16px; }
.ar-nav > li > a{ display:inline-block; padding-left:14px; padding-right:14px; line-height:25px; }
.ar-nav > li > a:hover{ border-bottom:solid 4px #78b949; text-decoration:none; }
.more-box{ padding-top:10px; width:900px; padding-bottom:10px; background:url(images/nav-more-bg.png) repeat; position:absolute; left:-9999px; top:72px; z-index:9; }
.ar-nav > li.last-nav:hover  .more-box{ left:auto; right:0; }
.ar-nav > li.last-nav:hover > a{ border-bottom:0; color:#78b949; }
.more-box ul.last{ border-right:0; }
.more-box ul{ float:left; border-right:solid 1px #fff; margin-left:20px; width:204px; }
.more-box ul li{ width:102px; float:left; line-height:1.8em; font-size:14px; }
.more-box ul li a{ color:#fff; }
@media (min-width: 768px) and (max-width: 979px) {
	.ar-nav > li{ padding:25px 2px 15px 6px; }
	.more-box{ width:750px; }
}
@media (max-width: 767px) {
	.ar-nav > li{ padding:8px 2px 0 6px; }
	.more-box{ width:460px; top:80px; }
	.more-box ul{ float:none; width:auto; }
	.more-box ul li{ width:50%; }
}
@media (max-width: 479px) {
	.more-box{ width:308px; top:120px; }
	.yadsenserightf{ display:none;}
}
.header_new{ position:relative; padding-top:1px; }
.header_new .logo{ position:absolute; left:10px; top:20px; }
.header_new .info{ position:absolute; top:7px; right:0; font-size:12px; line-height:1; }
.header_new .info .authority{ width:auto; padding-right:20px; float:left; display:inline-block; }
.header_new .row2{ position:absolute; top:27px; right:0; width:418px; }
.header_new .row2 .share{ float:left; margin-right:15px; margin-top:5px; max-width:28px; }
.header_new .row2 .in_text{ width:243px; height:30px; line-height:30px; border:solid 1px #666; padding-left:10px; padding-right:35px; }
.header_new .row2 .searchrt{ float:right; position:relative; }
.header_new .row2 .searchrt #search_keyword{ left:1px; top:31px; }
.header_new .row2 .searchBtn{ width:21px; height:21px; display:inline-block; background:url(images/searchIco.png) no-repeat; position:absolute; top:5px; right:10px; }
.share_Btn a{ display:inline-block; background:url(images/share_icon_small.png) no-repeat; width:28px; height:28px; margin-right:12px; float:left;}
.share_Btn a.facebook_bottom{ background-position:0 0;}
.share_Btn a.twitter_bottom{ background-position:0 -28px;}
.share_Btn a.google_bottom{ background-position:0 -56px;}
.share_Btn a.powerpoint{ background-position:0 -140px;}
.header_new .top-nav{ margin-top:73px; }
.header_new .ar-nav > li{ padding-top:0; padding-bottom:0; height:37px;}
.header_new .more-box{ top:37px;  }
@media  (max-width: 767px) {
	.header_new .row2{ display:none; }
	.header_new .more-box{ top:64px; }
}
@media  (max-width: 479px) {
	.header_new .more-box{ top:96px; }
}
.disqusTitle{ padding-top:35px; padding-bottom:10px; line-height:28px; font-size:16px; }
.disqusTitle strong{ display:block; font-size:26px; font-weight:normal; }

/* language selector */
.languageBtn{ display:inline-block; position:relative; }	
.languageIcon {
    background-color: transparent;
    width: 278px;
	position:absolute;
	right:0;
	top:-130px;
	background-color:#fff;
	border:solid 1px #dedede;
	display:none;
	z-index:3;
}
.languageIcon ul{ padding-left:18px; padding-top:10px; }
.languageIcon ul li{ width:50%; height:20px; float:left; font-size:12px; line-height:20px; text-align:left; margin-bottom:10px; }
.languageIcon ul li img{ float:left; margin-right:5px; }
.languageBtn .languageIcon ul li a{ color:#333; }
/*add new header*/
.header_black{ background-color:#000; color:#fff;  }
.header_black .header_n{ position:relative; z-index:10;  }
.header_black .logo{ position:absolute; left:0; top:18px; }
.header_black .nav{ margin-left:23.8%; padding-top:12px; font-size:16px; position:relative; }
.header_black .nav li{ float:left; }
.header_black a{ color:#fff; }
.header_black .nav li a.title{ padding-left:36px; padding-right:36px; display:inline-block; line-height:50px; color:#fff;padding-bottom:8px;  }
.header_black .nav a.title:hover{ color:#89dd4c; text-decoration:none; }
.header_black .subNavs{ display:none; width:600px; padding-bottom:30px; background:url(images/blackbg.png) repeat; position:absolute; left:0; top:70px; }
.header_black .subNavs dl{ width:50%; float:left; font-size:16px;}
.header_black .subNavs dl.wid02{ width:46%; }
.header_black .subNavs dt{ padding:27px 0 10px; text-align:center; }
.header_black .subNavs dt a{ display:inline-block; padding-left:8px; padding-right:8px; line-height:24px; }
.header_black .subNavs dt a:hover{ background-color:#78b949; color:#fff; text-decoration:none; }
.header_black .subNavs dd{line-height:1.2em;padding:7px 0 7px 35px;}
.header_black .subNavs dd a:hover{ color:#fff; text-decoration:underline; }
.header_black .subNavs dl.first dd{ border-right:solid 1px #d0d0d0;}
.header_black .topTips{ width:194px; font-size:12px; height:20px; position:absolute; right:-102px; top:27px; }
.header_black .topSearchIco{ display:inline-block; width:20px; background:url(images/search.png) center center no-repeat; cursor:pointer; }
.header_black .searchButt{ width:0; position:absolute; right:0; top:0;  }
.header_black input.searchText{ width:100%; height:20px; line-height:20px; border:0; border-radius:5px; /*background:url(images/is_search.png) 8px center no-repeat #fff; */ color:#9a9a9a;}
.header_black #search_keyword{ left:0; top:21px; border-radius:5px; }
.header_black #search_keyword li{ color:#666; }
.header_black input.search-btn{ width:14px; height:14px; background:url(images/is_search.png) center center no-repeat #fff; position:absolute; right:-5px; top:3px;  }
.header_black .paddlt12px{ padding-left:12px; }
.header_black .header-toggle{ float:right; width:30%; margin-top:25px; overflow:hidden;}
.header_black .header-toggle .toggle-nav{ display:block; background:url(images/btn.png) no-repeat -40px 0; width:30px; height:19px; float:right; border-right:1px solid #ececec; margin-right:7px}
.header_black .header-toggle .toggle-search{ display:block; background:url(images/btn.png) no-repeat -80px 0; width:28px; height:19px; float:right;}
@media (min-width: 768px) and (max-width: 979px) {
	.header_black .topTips{ position:static; text-align:right; width:100%; padding-top:10px;}
	.header_black .searchButt{ right:10px; top:10px; z-index:5; }
	.header_black .header_n .nav{ margin-left:20%; padding-top:0; }
	.header_black #search_keyword{ right:-12px; text-align:left; }
	.header_black .subNavs{ top:50px; }
	.header_black .nav li a.title{ padding-left:32px; padding-right:32px; }
}
@media (max-width: 767px){
	.header_black{ background-color:#f9f9f9; }
	.header_black .header_n{ height:70px; }
	.header_black .navSearch{width:260px; height:100%; overflow:auto; -webkit-transition: all 0.3s;-moz-transition: all 0.3s;transition: all 0.3s; position:fixed;top:0px;right:0; background: url(images/blackbg.png) repeat;padding:15px 0; margin-top:0; z-index:20; }
	.header_black .navSearch.hidden{right:-100%;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;transition: all 0.3s; }
	.header_black .navcolumn {display:block;}
	.header_black .nav {width:100%; height:auto; float:none; margin:0;}
	.header_black .nav li{float:none;width:auto;border-bottom:1px solid #333; width:100%;}
	.header_black .nav li a{display:block; text-align:left; width:100%; font-size:14px; font-weight:normal;color:#fff; background:url(images/select_arrow.png) no-repeat 230px center;border-bottom:0;}
	.header_black .nav li a b{ margin:0; border:0; line-height:30px; }
	.header_black .nav li a.title{ line-height:40px; }
	.header_black .nav li a.title:hover , .header_black .nav li a.title.active{ background: url(images/blackbg.png) repeat; }
	.header_black .nav li.last a b{ border:0; }
	.header_black .nav li a:hover{border-bottom:none;color:#fff;}
	.header_black .nav li .store {background:none;}
	.header_black .nav li .subNavs{display:none;position:static; border-top:solid 1px #333;}
	.header_black .nav li .subNavs .tit{display:none;}
	.header_black .nav li .subNavs .span {float:none; width:auto; margin-left:0;}
	.header_black .nav li .subNavs a{ line-height:24px; }
	.header_black .nav li .subNavs dl{ float:none; width:100%;}
	.header_black .nav li .subNavs dt{ text-align:left; padding:0 35px;  margin-top:12px; margin-bottom:6px;   }
	.header_black .nav li .subNavs dt a{font-size:14px;text-align:left; background-color:#78b949; color:#fff;}
	.header_black .nav li .subNavs dt span {padding:0 20px;}
	.header_black .nav li .subNavs dt a:hover {color:#fff; text-decoration:none;}
	.header_black .topTips{ right:auto; left:35px; top:10px; z-index:10; }
}