@charset "utf-8";
/* CSS Document */
body{ color:#666; }
.relative{ position:relative; }
.font14px{ font-size:14px; }
.italic{ font-style:italic; }


.topbg{ background:url(images/top.jpg) center top no-repeat; color:#fff; z-index:2; }
.topn{  position:absolute; left:0; top:0; width:100%; z-index:200; color:#fff; }
.bannerbg{ height:596px; background:url(images/is_banner01.jpg) center  no-repeat; color:#fff; z-index:1;}
.bannerbga{ display:block; width:100%; height:526px; padding-top:70px; cursor:pointer; color:#fff; }
.bannerbga:hover{ text-decoration:none; }
.bannerbg02{ height:595px; background:url(images/is_banner02.jpg) center no-repeat; color:#fff; }
.bannerbg03{ height:595px; background:url(images/is_banner03.jpg) center no-repeat; color:#fff; }
.bannerbg04{ height:595px; background:url(images/is_banner04.jpg) center no-repeat; color:#fff; }
.bannerbg05{ height:595px; background:url(images/is_banner05.jpg) center no-repeat; color:#fff; }
.bannerbg06{ height:595px; background:url(images/is_banner06.jpg) center no-repeat; color:#fff; }
.bannerbg07{ height:595px; background:url(images/is_banner07.jpg) center no-repeat; color:#fff; }
.bannerbg08{ height:595px; background:url(images/is_banner08.jpg) center no-repeat; color:#fff; }
.bannerbg09{ height:595px; background:url(images/is_banner09.jpg) center no-repeat; color:#fff; }
.banner01 a{ color:#fff; text-decoration:none; }
.top{ height:70px; position:relative; }
.top a{ color:#fff; }
#logo{ position:absolute; left:13px; top:16px; }
.topTips{ width:184px; height:16px; font-size:12px; position:absolute; right:-102px; top:35px; }
.topSearchIco{ display:inline-block; width:11px; height:11px; background:url(images/search.png) no-repeat; cursor:pointer; }
.paddlt24px{ padding-left:12px; }
.searchButt{ width:0; position:absolute; right:0; top:0;  }
input.searchText{ width:100%; height:20px; line-height:20px; border:0; border-radius:5px; /*background:url(images/is_search.png) 8px center no-repeat #fff; */ color:#9a9a9a;}
#search_keyword{ left:auto; right:-12px; top:21px; border-radius:5px; }
#search_keyword li{ color:#666; }
input.search-btn{ width:14px; height:14px; background:url(images/is_search.png) center center no-repeat #fff; position:absolute; right:-5px; top:3px;  }
.nav{ margin-left:23%; padding-top:34px; font-size:16px; position:relative; }
.nav li{ float:left; }
.nav li a.title{ padding-left:36px; padding-right:36px; height:36px; display:inline-block; }
.nav a:hover , .nav li.active > a{ color:#89dd4c; text-decoration:none; }
.banner01{ padding-top:135px; font-size:24px; color:#fff; }
.banner02{ margin-top:30px; margin-bottom:48px; font-size:35px; line-height:35px; color:#fff; }
.learna{ padding-left:60px; padding-right:60px; line-height:65px; font-size:30px; color:#fff; background-color:#e7233f; border-radius:10px; display:inline-block; }
.learna:hover{ text-decoration:none; }
.bannerbg02 .learna{ background-color:#ef6c03; }
.bannerbg03 .learna{ background-color:#ff4023; }
.bannerbg06 .learna{ background-color:#04d4b9; }
.bannerbg07 .learna{ background-color:#f76f0b; }
.bannerbg08 .learna{ background-color:#e5073c; }
.bannerbg09 .learna{ background-color:#e5073c; }

.subNav{ width:550px; padding-bottom:30px; background:url(images/blackbg.png) repeat; display:none; position:absolute; left:0; top:70px; }
.subNav dl{ width:50%; float:left; font-size:16px; }
.subNav dl.first dd{ border-right:solid 1px #d0d0d0;}
.subNav dl.wid02{ width:46%; }
.subNav dt{ padding:27px 0 10px; text-align:center; }
.subNav dt a{ display:inline-block; padding-left:8px; padding-right:8px; line-height:24px; }
.subNav dt a:hover{ background-color:#78b949; color:#fff; text-decoration:none; }
.subNav dd{line-height:1.2em;padding:7px 0 7px 35px;}
.subNav dd a:hover{ color:#fff; text-decoration:underline; }
@media (max-width: 767px) {
	.topTips{ right:0; }
	.subNav{ width:100%; }
	.subNav dd{ padding-left:8px; line-height:1.1em; padding-bottom:10px;  font-size:14px;}
	.top{ background-color:rgba(244,244,244,0.2); height:auto;}
 	.top .nav li:first-child a.title{border-bottom:none;}
	.top{ padding-bottom:1px; padding-top:0;}
	.top .nav{ width:100%; position:relative; margin-left:0; position:inherit; padding-top:0; top:70px; background:url(images/blackbg.png) repeat;  }
	.top .nav.hidden,.top .input.hidden{ display:none;}
	.top .nav li{ background:none; padding:0; height:auto; padding-bottom:1px; display:block; width:20%; text-align:center;}
	.top .nav li:last-child{ font-size:90%; }
	.top .nav li a.title{ display:block; line-height:20px;background:rgba(216,216,216); padding:10px 0; border-radius:5px; } 
	.top .nav li.curr a.title{ border:5px solid #78b949 !important; border-width:0 0 0 5px !important; height:auto}
	.top .nav li:hover a.title{ background-color:#78b949; border:none; color:#fff;}
	.top .nav li:first-child:hover a.title{color:#fff !important;}
	.top .nav li a.title img{ display:none;}
	.top .nav li dt a{ line-height:40px; }
	.top .info{ float:none; margin:0; background:#f3f3f3; overflow:hidden;padding:5px 10px; margin-bottom:10px;}
	.top .logo{ width:64%; margin:0 0 10px;}
	.top .logo img{height:35px;}
	.top .input{ float:none; overflow:hidden; margin:0 0 10px; width:100% }
	.top .input .search-btn{margin-right:5px;}
	.top .phoneclear{  clear:both; height:0; overflow:hidden; }
	.top .input .text{width:86%;}
	.top .input .search-btn{ float:right; }
	.top .nav li .subNav{ border:none; padding:0; width:100%; top:42px;}
	.top .nav li .subNav dl{ float:none; width:100%; margin:0 !important; padding:0 !important;}
	.top .nav li .subNav dl img{ display:none;}
	.top .nav li .subNav dt{ background:rgba(60,60,60,0.9); margin:0 0 1px; height:40px ; line-height:40px; padding:0 16px; color:#365e74; font-size:16px;border-bottom:none;}
	.top .nav li .subNav dd{ margin:0 0 1px; text-align:left;}
	.top .nav li .subNav dd a{ float:none !important; width:69%; display:inline-block; line-height:20px; padding:0 16px;text-overflow:ellipsis; overflow:hidden; white-space:nowrap;}
	.top .nav li .subNav dd a:hover { text-decoration:none}
	.top .nav li .subNav_w2 {left:0;}
}
@media (max-width: 479px) {
	.topTips{ right:0; font-size:8px; top:50px; }
	.topn{ background:url(images/blackbg.png) repeat; }
	.top .nav li{ width:auto; }
	.top .nav li a.title{ padding-left:4px; padding-right:4px; }
	.banner02{ font-size:30px; }
}
.banner{max-height:596px; height:auto !important; position:relative;}
.banner .slides{max-height:596px; height:auto !important; height:430px; overflow:hidden;}
.banner .slides li {display:block; width:100%;  overflow:hidden; position:relative; height:596px;}
.banner .slides li img{width:1920px; position:absolute; top:0; left:50%; margin-left:-960px;}
.banner .flex-control-paging{position:absolute;bottom:20px;left:50%;text-align:center;list-style:none;margin-left:-95px;}
.banner .flex-control-paging li{margin-right:10px;display:inline-block;*display:inline;  }
.banner .flex-control-paging li a{display:inline-block;width:40px; height:8px;cursor:pointer; background:#fff;}
.banner .flex-control-paging li a.flex-active{ background:#84c754;} 
.banner .flex-prev,.banner .flex-next{ background:url(images/is_prev.png) no-repeat; width:55px; height:80px; position:absolute; top:42%;left:50%;z-index:1; text-indent:-9999px;}
.banner .flex-prev:focus,.banner .flex-next:focus{ outline:none;}
.banner .flex-prev{margin-left:-565px;}
.banner .flex-next{ background-position:-55px 0;margin-left:525px;}
@media (max-width: 979px) {
  .banner .flex-prev,.banner .flex-next{display:none;}
  .banner .flex-control-paging{position:absolute;bottom:20px;left:50%;text-align:center;list-style:none;margin-left:-47px;}
  .banner .flex-control-paging li{margin-right:5px;display:inline-block;*display:inline;}
  .banner .flex-control-paging li a{display:inline-block;width:20px; height:5px;cursor:pointer; background:#e2e2e2;}
  .banner .slides a img{ width:1400px; position:absolute; top:0; left:50%; margin-left:-700px;}
}
@media (max-width: 767px) {
  .banner .slides a img{ width:800px;margin-left:-400px;}
  .banner .flex-control-paging{bottom:15px;}
}
@media (max-width: 479px) {
  .banner .slides a img{ width:600px;margin-left:-300px;}
}
.borderrt{ border-right:solid 1px #d0d0d0;}
.part01_line01{ padding-top:59px; font-size:12px; line-height:12px; color:#0d0409; }
.part01_line02{  font-size:29px; line-height:45px; color:#0c0307; }
.part01Title{ padding-top:172px; padding-bottom:35px; font-size:20px; color:inherit;  }
.part01Title a{ color:inherit; }
.part01_lt{ width:33.3%; height:584px; background:url(images/is-home3_07.jpg) no-repeat; color:#fff; }
.part01_mid{ width:33.2%; height:584px; background:url(images/is-home3_09.jpg) no-repeat; background-color:rgba(120,185,73,0.9); color:#fff; }
.part01_rt{ width:33.4%; height:584px; background:url(images/is-home3_04.jpg) no-repeat; color:#1e1e1e; }
.part01_intro{ height:128px; line-height:22px; font-size:18px; }
.part01link{ margin-left:60px; margin-right:60px; }
.part01link a{ line-height:33px; font-size:14px; display:block; font-weight:bold; border-radius:5px; cursor:pointer;  }
.lta{background-color:#78b949; color:#fff; }
.lta:hover{ background-color:#62983c; text-decoration:none; }
.mida{ background-color:#fff; color:#434a53; }
.mida:hover{ color:#65ad2f; text-decoration:none; }
.rta{ line-height:31px; border:solid 1px #596b6f; color:#1e1e1e; }
.rta:hover{ background-color:rgba(255,255,255,0.3); text-decoration:none; }
@media (max-width: 767px) {
	.part01_lt{ width:333px; }
	.part01_mid{ width:332px; }
	.part01_rt{ width:334px; }
	.part01link{ margin-left:6px; margin-right:6px; }
}
@media (max-width: 479px) {
	.part01_lt , .part01_mid , .part01_rt{ width:100%; }
}
.part02_title{ font-size:30px; color:#0c0307; padding-top:48px; line-height:42px; font-weight:bold; }
.part02_lt{ width:70.8%; }
.part02_list li{ width:50%; height:278px; font-size:18px; line-height:1.2em; float:left; }
.part02_list li div{ margin-right:19px; position:relative; margin-bottom:10px;  }
.part02_list li div img{ max-width:100%; }
.part02_list li div p{ width:100%;height:188px; top:22px; position:absolute; left:-9999px; background:url(images/blackbg.png) repeat; }
.part02_list li div:hover p{left:0;}
.part02_list li div:hover p a{ display:block; padding-left:8px; padding-top:48px; font-size:13px; line-height:1.54em; color:#fff;}
.addthree .part02_list li{ width:31%; margin-left:3%; }
.addthree .part02_list li div{ margin-right:0 }
.addthree .part02_list li div p{ top:0; }
.addthree .part02_list li.firstcol{ margin-left:0; }
.part02_list li div:hover p a:hover{ text-decoration:none; }
.part02_rt{ width:25.7%; }
.part02_dl dt{ padding:10px 10px 10px 12px; margin-top:10px; background:url(images/arc.png) left center no-repeat; line-height:20px; font-size:14px; color:#999; }
.part02_dl dt a{ color:#999; }
.part02_dl dd{ padding:0 10px 6px 12px; line-height:20px; color:#1e1e1e; font-size:16px; }
@media (max-width: 979px) {
	.part02_lt , .part02_rt{ width:100%; }
	.part02_list li div{ margin-right:42px; }
}
@media (min-width: 768px) and (max-width: 979px){
	.addthree .part02_list li div p{ height:144px; }
	.part02_list li div:hover p a{ padding-top:10px; }
}
@media (max-width: 767px){ 
	.addthree .part02_list li , .part02_list li{ width:100%; margin-left:0; } 
	.part02_list li div p{ width:335px; height:188px; }
}
@media (max-width: 479px) {
	.part02_list , .part02_rt{ width:100%; }
	.part02_list li{ font-size:16px; line-height:2em; padding-bottom:20px; height:auto; width:100%; }
	.part02_list li div{ margin-right:2%; }
	.part02_list li div img{ width:100%; }
	.part02_dl dd{ padding-bottom:12px; }
	.part02_list li div p{ width:100%; }
}
.part03{ background-color:#eee; padding-bottom:76px; }
.part03_title{ font-size:30px; line-height:1.5em; padding-top:57px; padding-bottom:57px; }
.part03_list li{ width:23.4%; float:left; margin-right:2.6%; font-size:14px; line-height:1.7em; background:url(images/line.jpg) right top no-repeat; }
.part03_list li.last{ background:none; width:22%; margin-right:0; }
.part03_list li div{ height:135px; text-align:center; }
.part03_list li.line{ width:2.7%; border-left:solid 1px #e6e6e6; margin-left:1%; height:200px; }
@media (max-width: 979px) {
	.part03_list li{ width:22%; }
}
@media (max-width: 767px) {
	.part03_list li{ width:46%; margin-left:2%; margin-right:2%; margin-top:20px; }
	.part03_list li.last{ width:46%; }
}
@media (max-width: 479px) {
	.part03{ padding-bottom:30px; }
	.part03_title{ padding-top:25px; padding-bottom:0; line-height:1.1em; }
}
.mainbox{padding:40px 0;}
.mainbox .title{font-size:48px; line-height:1.2em; text-align:center;}
.mapbg{ background:url(images/map_bg.jpg) no-repeat center center;}

.choose{padding-bottom:60px;}
.choose .item{float:left;width:15.2%;height:154px;margin-left:15px;margin-top:30px;border:1px solid #aeadad; border-radius:100px; text-align:center;}
.choose .item:first-child{margin-left:0;}
.choose .item strong{display:block;font-size:30px;color:#5c9f2b;margin-top:50px;}
.choose .item p{color:#333;margin-top:10px;padding:0 15px;}
@media (max-width: 979px) {
	.choose .item{ width:15%; margin-left:10px; }
	.choose .item strong{ font-size:24px; }
	.mainbox .title{ font-size:30px; }
}
@media (max-width: 767px) {
	.choose .item{ width:30%; }
	
}
@media (max-width: 479px) {
	.choose .item{ width:44.2%; }
	.mainbox .title{ font-size:30px; }
}
.store01{ margin-top:15px; margin-bottom:10px; font-size:16px; line-height:29px; text-align:right; }
.store01 .win_mac a{padding:0 10px; display:inline-block; }
.ico{ display:inline-block; width:27px; height:29px; border:solid 1px #c9c9c9; }
.ico_01{ background:url(images/ico.png) -1px -3px no-repeat; border-right:0; }
.ico_02{ background:url(images/ico.png) -29px -3px no-repeat;  }
.ico_03{ background:url(images/ico.png) -62px -1px no-repeat; border-right:0; }
.ico_04{ background:url(images/ico.png) -96px -3px no-repeat; }
.selecta , .selecteda, .all_soft{ border-radius:5px;background-color:#eeeeee; text-align:center;}
.downList{ margin-top:50px;}
.productList{ border-left:solid 1px #c8c8c8; border-top:solid 1px #c8c8c8; }
.productList li{ width:33.3%; float:left;}
.productList li div.box{height:380px; padding-top:1px; border-right:solid 1px #c8c8c8; border-bottom:solid 1px #c8c8c8; padding-left:22px; padding-right:22px;  }
.productList li b{border-top:solid 1px #c8c8c8; display:block; font-size:17px; padding-top:10px; line-height:1.2em;}
.listp{ line-height:18px; color:#808080; font-size:14px; margin-bottom:20px; margin-top:10px; min-height:70px;}
.price{ line-height:36px; font-size:14px;color:#918f8f;}
.price span{font-size:18px; color:#666;}
.downa{ display:inline-block; padding:10px; line-height:20px; font-size:18px; color:#fff; background-color:#ff6d15; border-radius:10px; }
.downa i{ display:inline-block; width:20px; height:20px; margin-left:5px; }
.downa i img{ width:100%; height:100%; }
.downa_win,.downa_mac{padding-left:20px;font-size:18px; color:#fff;border-radius:10px; background: #FF6D15 url(images/win-mac-newicon.png) no-repeat; display:inline-block; padding:10px 45px 10px 15px;}
.downa_win{ background-position: 93% -95px;}
.downa_mac{ background-position: 93% 8px;}
.downa:hover,.downa_win:hover,.downa_mac:hover{ text-decoration:none; background-color:#f9782b; }
.yema{ font-size:18px; line-height:20px; padding-top:24px; padding-bottom:30px; text-align:right; }
.yema a{ margin-left:8px; margin-right:8px; }
input.yematext{ width:45px; height:20px; background-color:#eee; border:0; float:right; text-align:center; line-height:20px; font-size:18px; }
.protitle{ background-color:#e5e5e5; height:52px; position:relative; }
.protitle ul{ position:absolute; width:100%; height:52px; }
.protitle li{ width:25%; font-size:18px; line-height:52px; text-align:center; float:left; cursor:pointer;}
.protitle li.curr{ border-bottom:solid 2px #ababab; display:inline-block;}
.huibg{ height:8px; background-color:#f2f1f2; width:100%; clear:both;}
.productList li div.box .btn .btn_fl{ float:left;}
.productList li div.box .btn .btn_fr{ float:right;}
@media (max-width: 979px) {
	.listp{ min-height:inherit;}
	.productList li div.box{height:450px;}
	.productList li div.box .btn .btn_fl,.productList li div.box .btn .btn_fr{ float:none;text-align: center;}
}
@media (max-width: 767px) {
	.productList li{ width:49.7%; }
}
@media (max-width: 479px) {
	.productList li{ width:100%; float:none;}
	.productList li div.box{ height:auto; padding-bottom:20px;}
}
