@CHARSET "UTF-8";

#zone-user-wrapper {
	background: #343746 url('../images/barraPortales/barra_top.jpg') top repeat-x !important;
	height: 2.4em !important;
}
#zone-user-wrapper.show {
  height: 5em !important;
}

.zone-user {}
.zone-user .block {
	float: left;
}
.block-menu-block .nolink {}
.block-menu-block .nolink span {
  display: none;
}


/* Menu */
.zone-user .block-menu-block .leaf,
.zone-user .block-boxes .boxes-box {
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  display: inline-block;
  float: left;
}
.zone-user .block-menu-block .leaf > a,
.zone-user .block-boxes .boxes-box > .boxes-box-content {
  text-decoration: none;
  color: #FFF;
  display: block;
  padding: 0.8em 1em;
  border-right: 1px solid #444;
  max-height: 1.4em;
}
.zone-user .block-menu-block .leaf > a.eluniverso,
.zone-user .block-menu-block .leaf > a.facebook,
.zone-user .block-menu-block .leaf > a.twitter {
	width: 25px;
	text-align: center;
}
.zone-user .block-menu-block .leaf > a.eluniverso,
.zone-user .block-menu-block .leaf > a.facebook span,
.zone-user .block-menu-block .leaf > a.twitter span {
	display: block;
  text-indent: -5000px;
}
.zone-user .block-menu-block .leaf > a.eluniverso {
  background: transparent url('../images/barraPortales/logo_EU_navigationbar.png') center no-repeat;
}
.zone-user .block-menu-block .leaf > a:hover,
.zone-user .block-menu-block .expanded > span.nolink:hover,
.zone-user .block-boxes .boxes-box > .boxes-box-content:hover {
  /* Fallback for web browsers that doesn't support RGBa */
  background-color: rgb(10, 17, 29) transparent;
  /* RGBa with 0.4 opacity */
  background-color: rgba(10, 17, 29, 0.4);
  /* required for the filters */
  zoom:1;
  /* For IE 5.5 - 7*/
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#660a111d, endColorstr=#660a111d);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#660a111d, endColorstr=#660a111d)";
}
.zone-user .block-menu-block .last > a {
	border-right: 0 none !important;
}



/* Submenu */

/* Mas */
.zone-user .block-menu-block .expanded {
  float: left;
}
.zone-user .block-menu-block .expanded .nolink {
  color: #DDD;
  display: inline-block;
  font-size: 0.75em;
  padding: 0.8em 1em;
  cursor: pointer;
}

/* Links */
.zone-user .block-menu-block .expanded .menu {
	position: absolute;
  width: 1000px;
  display: none;
  visibility: hidden;
}
.zone-user .block-menu-block.show .expanded .menu {
  display: block;
  visibility: visible;
}
.zone-user .block-menu-block .expanded .leaf {
  
}
.zone-user .block-menu-block .expanded .leaf > a {
	padding: 0 1em;
	margin: 1.1em 0;
	line-height: 1em;
	border-right: 1px solid #888;
}
.zone-user .block-menu-block .expanded .leaf > a:hover {
  background: transparent;
  color: #92b3dc;
}
.zone-user .block-menu-block .expanded i.fa {}



.zone-user .block-menu-block .menu-name-menu-logos-portales-eu .expanded .menu {
  left: 0;
  position: absolute;
}
.zone-user .block-menu-block .menu-name-menu-encu-ntranos-en- .expanded .menu {
  left: -700px;
  position: absolute;
}


/* Boton movil */
.zone-user .block-boxes .boxes-box > .boxes-box-content i.fa {
	font-size: 3em;
	position: absolute;
	top: 0;
}
.zone-user .block-boxes .boxes-box > .boxes-box-content a {
  text-decoration: none;
  color: #FFF;
  margin-left: 2em;
}

/*Logo El Universo completo en la barra*/

.zone-user .block-menu-block .leaf > a.eulogo{
  width: 180px;
  text-align: center;
}
.zone-user .block-menu-block .leaf > a.eulogo{
  display: block;
  text-indent: -5000px;
}
.zone-user .block-menu-block .leaf > a.eulogo {
  background: transparent url('../images/barraPortales/eulogo.png') center no-repeat;
}



