@CHARSET "UTF-8";

.urgente {
  margin: 5px 0px 10px 10px;
  width: 970px;
}
.urgente .block-inner block-title {
  font-weight: normal !important;
}
.urgente .block-inner h3 {
  font: normal 12px/24px Arial, Helvetica, sans-serif !important;
  color: #6d220e;
  text-transform: uppercase;
  background: #d16549;
  box-shadow: rgba(0,0,0,0.1) 5px 0px 2px 1px inset;
  float: left;
  width: 80px;
  text-align: center;
  display: block;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  text-shadow: 1px 1px 1px #EEE;
}
.urgente .content {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: #C63F1B;
  box-shadow: rgba(0,0,0,0.2) 0px 2px 7px 2px inset;
  font: normal 13px/24px Arial, Helvetica, sans-serif; 
  list-style: none;
  color: #FFFFFF;
  width: 970px;
}
.urgente .content a {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: bold;
  width: 970px;
  margin-top: 5px;
  margin-left: 10px
}
#breaking-news {
  margin-left: 80px;
  padding: 0px 0px 0px 20px;
  background: url('../images/urgente/esq_urgente.png') no-repeat;
  background-position-x: 0px;
}
