/* CABECERA CAMPEONATO PORTADA */
.CF {width:965px;margin: 0 auto;}

/*.ModCabecera {padding:11px 11px 0;}*/
.DepBox{position:relative;background:#FFF;}
/* .DepBox .Cv{background-image:url(../img/Global/fd_CvGris.gif);} */

.CF .NotTabla{height:auto;overflow:hidden;border-bottom: 3px solid #EEEEEE;}

.NotTabla h4{
    font: 13px/24px Arial, Helvetica, sans-serif;
    background:url("../images/extcampeonato/htitulomodulo.jpg") repeat-x scroll 0 0 transparent;
    height:24px;
    margin:0px;
    padding:0 10px;
    color:#fff;
    display:block;
}
.NotTabla h4 a{display:block;color:#fff;text-decoration: none;}
.NotTabla h4 a:hover{color:#e8e8e8;text-decoration:none;background-position:right 10px;}

.NotTabla li {list-style: none outside none;}

.NotTabla .toCol{margin:0;padding:0px;}
.NotTabla .toCol li{float:left;width:480px;}
.NotTabla .toCol li.Der{margin-left:5px;}

.NotTabla .toCol {
    color: #333333;
    font: 11px Arial, Helvetica, sans-serif;
}

.NotTabla a {
    color: #333333;
    font: 11px Arial, Helvetica, sans-serif;
    text-decoration: none;
    cursor: pointer;
}

.NotTabla a:hover {
    color: #000000;
    text-decoration: underline;
    cursor: pointer;
}

.Fixtable li.gris {border-bottom: 1px solid #EEEEEE;}
.Fixtable li.final{border-bottom: none;}

.Fixtable li.gris span.Mar .field-content{
	background-color: #6E7780;
    border-left: 1px solid;
    color: #FFFFFF;
    font: bold 14px Arial, Helvetica, sans-serif !important;
    height: 21px;
    padding-top: 8px;
    text-align: center;
    width: 25px;
}

.Fixtable li{float:left;height:30px;color:#575861;font-size:11px;font-size:11px;font-size:11px;}
.Fixtable li span.Ciudad{width:80px;text-align:center;padding-top:5px;height:18px;font: 11px Arial, Helvetica, Sans Serif; color:#6e777f; }
.Fixtable li span.Fecha .field-content{width:50px;text-align:center;padding:3px 0 0 3px;height:18px;font: 11px Arial, Helvetica, San Serif; color:#112842; }
.Fixtable li span.Hora{width:86px;text-align:center;padding:3px 0 0 3px;height:18px;font: 11px Arial, Helvetica, San Serif; color:#112842; } 
.Fixtable li span.logo{text-align:right;padding:5px;height:18px;}
.Fixtable li span.Team .field-content{width:88px;text-align:right;padding:5px;height:18px;}
.Fixtable li span.visit .Team .field-content{text-align:left;padding:5px;}
#tbp{
    padding: 10px 0 0;
    clear: both;
    overflow: hidden;
    background: url('../images/extcampeonato/grandiente-cabezote.png') repeat-x scroll 0 0 transparent;
    }

.CF .NotTabla .TtLinks{position:absolute;right:317px;top:7px;}

.CF .NotTabla .TtLinks li a{background:none;color:#fff;display:inline;text-decoration: none;}

.CF .NotTabla .TtLinks li span{color:#5e8004;padding:0 6px;}

.Fixtable{padding:0}
.Fixtable ul{padding:0;}
.Fixtable li span{display:block;float:left;height:21px;}
.Fixtable li span.Mar{width:27px;background:#dededf;text-align:center;height:18px;font-weight:bold;}
.Fixtable li span.Estadio{width:100px;text-align:center;padding-top:5px;height:18px;}
.Fixtable li span.Hour{width:40px;text-align:center;padding-top:5px;height:18px;}
/* // CB : Se comenta para evitar HTTP GET errors
.Fixtable li span.EnVivo{width:86px;text-align:center;padding:5px 0 0 3px;height:18px;background:transparent url(../img/Global/fd_HoraVerde2.gif) no-repeat 16px center;color:#FFFFFF;font-size:10px;}
.Fixtable li span.EntreTime{width:86px;text-align:center;padding:5px 0 0 3px;height:18px;background:transparent url(../img/Global/fd_HoraAmarillo.gif) no-repeat 16px center;color:#FFFFFF;font-size:10px;}
.Fixtable li span.Final{width:86px;text-align:center;padding:5px 0 0 3px;height:18px;background:transparent url(../img/Global/fd_HoraRojo2.gif) no-repeat 16px center;color:#FFFFFF;font-size:10px;}
*/
.Fixtable li.gris span{height:21px;}
.Fixtable li span.visit{padding:0 0 0 3px;height:30px;}

/* // CB : Se comenta para evitar HTTP GET errors
.Fixtable li span.TeamBar{width:88px;text-align:right;padding:5px 28px 0 0;height:18px;background:url(../img/Global/ic_barcelona.gif) 95px center no-repeat;}
.Fixtable li span.TeamEme{width:88px;text-align:right;padding:5px 28px 0 0;height:18px;background:url(../img/Global/ic_emelec.gif) 95px center no-repeat;}
.Fixtable li span.TeamNac{width:88px;text-align:right;padding:5px 28px 0 0;height:18px;background:url(../img/Global/ic_elnacional.gif) 95px center no-repeat;}
.Fixtable li span.TeamQui{width:88px;text-align:right;padding:5px 28px 0 0;height:18px;background:url(../img/Global/ic_dquito.gif) 95px center no-repeat;}
.Fixtable li span.TeamLiQ{width:88px;text-align:right;padding:5px 28px 0 0;height:18px;background:url(../img/Global/ic_lduq.gif) 95px center no-repeat;}
.Fixtable li span.TeamInd{width:88px;text-align:right;padding:5px 28px 0 0;height:18px;background:url(../img/Global/ic_ivalle.gif) 95px center no-repeat;}
.Fixtable li span.TeamEsp{width:88px;text-align:right;padding:5px 28px 0 0;height:18px;background:url(../img/Global/ic_espoli.gif) 95px center no-repeat;}
.Fixtable li span.TeamMac{width:88px;text-align:right;padding:5px 28px 0 0;height:18px;background:url(../img/Global/ic_macara.gif) 95px center no-repeat;}
.Fixtable li span.TeamMan{width:88px;text-align:right;padding:5px 28px 0 0;height:18px;background:url(../img/Global/ic_manta.gif) 95px center no-repeat;}
.Fixtable li span.TeamOlm{width:88px;text-align:right;padding:5px 28px 0 0;height:18px;background:url(../img/Global/ic_olmedo.gif) 95px center no-repeat;}
.Fixtable li span.TeamCue{width:88px;text-align:right;padding:5px 28px 0 0;height:18px;background:url(../img/Global/ic_dcuenca.gif) 95px center no-repeat;}
.Fixtable li span.TeamCat{width:88px;text-align:right;padding:5px 28px 0 0;height:18px;background:url(../img/Global/ic_ucatolica.gif) 95px center no-repeat;}

.Fixtable li span.TeamImb{width:88px;text-align:right;padding:5px 28px 0 0;height:18px;background:url(../img/Global/ico_imbabura.gif) 95px center no-repeat;}
.Fixtable li span.TeamLiL{width:88px;text-align:right;padding:5px 28px 0 0;height:18px;background:url(../img/Global/ico_ligaloja.gif) 95px center no-repeat;}
.Fixtable li span.TeamTec{width:88px;text-align:right;padding:5px 28px 0 0;height:18px;background:url(../img/Global/ic_tecnicoU.gif) 95px center no-repeat;}
*/
/**para widget dinamico**/
/* // CB : Se comenta para evitar HTTP GET errors
.Fixtable li span.TeamBSC{width:88px;text-align:right;padding:5px 28px 0 0;height:18px;background:url(../img/Global/ic_barcelona.gif) 95px center no-repeat;}
.Fixtable li span.TeamEME{width:88px;text-align:right;padding:5px 28px 0 0;height:18px;background:url(../img/Global/ic_emelec.gif) 95px center no-repeat;}
.Fixtable li span.TeamNAC{width:88px;text-align:right;padding:5px 28px 0 0;height:18px;background:url(../img/Global/ic_elnacional.gif) 95px center no-repeat;}
.Fixtable li span.TeamSDQ{width:88px;text-align:right;padding:5px 28px 0 0;height:18px;background:url(../img/Global/ic_dquito.gif) 95px center no-repeat;}
.Fixtable li span.TeamLDUQ{width:88px;text-align:right;padding:5px 28px 0 0;height:18px;background:url(../img/Global/ic_lduq.gif) 95px center no-repeat;}
.Fixtable li span.TeamIND{width:88px;text-align:right;padding:5px 28px 0 0;height:18px;background:url(../img/Global/ic_ivalle.gif) 95px center no-repeat;}
.Fixtable li span.TeamEsp{width:88px;text-align:right;padding:5px 28px 0 0;height:18px;background:url(../img/Global/ic_espoli.gif) 95px center no-repeat;}
.Fixtable li span.TeamMAC{width:88px;text-align:right;padding:5px 28px 0 0;height:18px;background:url(../img/Global/ic_macara.gif) 95px center no-repeat;}
.Fixtable li span.TeamMFC{width:88px;text-align:right;padding:5px 28px 0 0;height:18px;background:url(../img/Global/ic_manta.gif) 95px center no-repeat;}
.Fixtable li span.TeamOLM{width:88px;text-align:right;padding:5px 28px 0 0;height:18px;background:url(../img/Global/ic_olmedo.gif) 95px center no-repeat;}
.Fixtable li span.TeamDCU{width:88px;text-align:right;padding:5px 28px 0 0;height:18px;background:url(../img/Global/ic_dcuenca.gif) 95px center no-repeat;}
.Fixtable li span.TeamCat{width:88px;text-align:right;padding:5px 28px 0 0;height:18px;background:url(../img/Global/ic_ucatolica.gif) 95px center no-repeat;}
.Fixtable li span.TeamImb{width:88px;text-align:right;padding:5px 28px 0 0;height:18px;background:url(../img/Global/ico_imbabura.gif) 95px center no-repeat;}
.Fixtable li span.TeamLDUL{width:88px;text-align:right;padding:5px 28px 0 0;height:18px;background:url(../img/Global/ico_ligaloja.gif) 95px center no-repeat;}
.Fixtable li span.TeamTU{width:88px;text-align:right;padding:5px 28px 0 0;height:18px;background:url(../img/Global/ic_tecnicoU.gif) 95px center no-repeat;}
.Fixtable li span.TeamUC{width:88px;text-align:right;padding:5px 28px 0 0;height:18px;background:url(../img/Global/ic_ucatolica.gif) 95px center no-repeat;}
.Fixtable li span.TeamDQ{width:88px;text-align:right;padding:5px 28px 0 0;height:18px;background:url(../img/Global/ic_dquevedo.gif) 95px center no-repeat;}

.Fixtable li span.visit .TeamBar{width:88px;text-align:left;padding:5px 0 0 28px;height:18px;background:url(../img/Global/ic_barcelona.gif) 5px center no-repeat;}
.Fixtable li span.visit .TeamEme{width:88px;text-align:left;padding:5px 0 0 28px;height:18px;background:url(../img/Global/ic_emelec.gif) 5px center no-repeat;}
.Fixtable li span.visit .TeamNac{width:88px;text-align:left;padding:5px 0 0 28px;height:18px;background:url(../img/Global/ic_elnacional.gif) 5px center no-repeat;}
.Fixtable li span.visit .TeamQui{width:88px;text-align:left;padding:5px 0 0 28px;height:18px;background:url(../img/Global/ic_dquito.gif) 5px center no-repeat;}
.Fixtable li span.visit .TeamLiQ{width:88px;text-align:left;padding:5px 0 0 28px;height:18px;background:url(../img/Global/ic_lduq.gif) 5px center no-repeat;}
.Fixtable li span.visit .TeamInd{width:88px;text-align:left;padding:5px 0 0 28px;height:18px;background:url(../img/Global/ic_ivalle.gif) 5px center no-repeat;}
.Fixtable li span.visit .TeamEsp{width:88px;text-align:left;padding:5px 0 0 28px;height:18px;background:url(../img/Global/ic_espoli.gif) 5px center no-repeat;}
.Fixtable li span.visit .TeamMac{width:88px;text-align:left;padding:5px 0 0 28px;height:18px;background:url(../img/Global/ic_macara.gif) 5px center no-repeat;}
.Fixtable li span.visit .TeamMan{width:88px;text-align:left;padding:5px 0 0 28px;height:18px;background:url(../img/Global/ic_manta.gif) 5px center no-repeat;}
.Fixtable li span.visit .TeamOlm{width:88px;text-align:left;padding:5px 0 0 28px;height:18px;background:url(../img/Global/ic_olmedo.gif) 5px center no-repeat;}
.Fixtable li span.visit .TeamCue{width:88px;text-align:left;padding:5px 0 0 28px;height:18px;background:url(../img/Global/ic_dcuenca.gif) 5px center no-repeat;}
.Fixtable li span.visit .TeamCat{width:88px;text-align:left;padding:5px 0 0 28px;height:18px;background:url(../img/Global/ic_ucatolica.gif) 5px center no-repeat;}
.Fixtable li span.visit .TeamImb{width:88px;text-align:left;padding:5px 0 0 28px;height:18px;background:url(../img/Global/ico_imbabura.gif) 5px center no-repeat;}
.Fixtable li span.visit .TeamLiL{width:88px;text-align:left;padding:5px 0 0 28px;height:18px;background:url(../img/Global/ico_ligaloja.gif) 5px center no-repeat;}
.Fixtable li span.visit .TeamTec{width:88px;text-align:left;padding:5px 0 0 28px;height:18px;background:url(../img/Global/ic_tecnicoU.gif) 5px center no-repeat;}
*/
/**para widget dinamico**/
/* // CB : Se comenta para evitar HTTP GET errors
.Fixtable li span.visit .TeamBSC{width:88px;text-align:left;padding:5px 0 0 28px;height:18px;background:url(../img/Global/ic_barcelona.gif) 5px center no-repeat;}
.Fixtable li span.visit .TeamEME{width:88px;text-align:left;padding:5px 0 0 28px;height:18px;background:url(../img/Global/ic_emelec.gif) 5px center no-repeat;}
.Fixtable li span.visit .TeamNAC{width:88px;text-align:left;padding:5px 0 0 28px;height:18px;background:url(../img/Global/ic_elnacional.gif) 5px center no-repeat;}
.Fixtable li span.visit .TeamSDQ{width:88px;text-align:left;padding:5px 0 0 28px;height:18px;background:url(../img/Global/ic_dquito.gif) 5px center no-repeat;}
.Fixtable li span.visit .TeamLDUQ{width:88px;text-align:left;padding:5px 0 0 28px;height:18px;background:url(../img/Global/ic_lduq.gif) 5px center no-repeat;}
.Fixtable li span.visit .TeamIND{width:88px;text-align:left;padding:5px 0 0 28px;height:18px;background:url(../img/Global/ic_ivalle.gif) 5px center no-repeat;}
.Fixtable li span.visit .TeamEsp{width:88px;text-align:left;padding:5px 0 0 28px;height:18px;background:url(../img/Global/ic_espoli.gif) 5px center no-repeat;}
.Fixtable li span.visit .TeamMAC{width:88px;text-align:left;padding:5px 0 0 28px;height:18px;background:url(../img/Global/ic_macara.gif) 5px center no-repeat;}
.Fixtable li span.visit .TeamMFC{width:88px;text-align:left;padding:5px 0 0 28px;height:18px;background:url(../img/Global/ic_manta.gif) 5px center no-repeat;}
.Fixtable li span.visit .TeamOLM{width:88px;text-align:left;padding:5px 0 0 28px;height:18px;background:url(../img/Global/ic_olmedo.gif) 5px center no-repeat;}
.Fixtable li span.visit .TeamDCU{width:88px;text-align:left;padding:5px 0 0 28px;height:18px;background:url(../img/Global/ic_dcuenca.gif) 5px center no-repeat;}
.Fixtable li span.visit .TeamCat{width:88px;text-align:left;padding:5px 0 0 28px;height:18px;background:url(../img/Global/ic_ucatolica.gif) 5px center no-repeat;}

.Fixtable li span.visit .TeamImb{width:88px;text-align:left;padding:5px 0 0 28px;height:18px;background:url(../img/Global/ico_imbabura.gif) 5px center no-repeat;}
.Fixtable li span.visit .TeamLDUL{width:88px;text-align:left;padding:5px 0 0 28px;height:18px;background:url(../img/Global/ico_ligaloja.gif) 5px center no-repeat;}
.Fixtable li span.visit .TeamTU{width:88px;text-align:left;padding:5px 0 0 28px;height:18px;background:url(../img/Global/ic_tecnicoU.gif) 5px center no-repeat;}

.Fixtable li span.visit .TeamUC{width:88px;text-align:left;padding:5px 0 0 28px;height:18px;background:url(../img/Global/ic_ucatolica.gif) 5px center no-repeat;}
.Fixtable li span.visit .TeamDQ{width:88px;text-align:left;padding:5px 0 0 28px;height:18px;background:url(../img/Global/ic_dquevedo.gif) 5px center no-repeat;}
*/