@CHARSET "UTF-8";


/* NODEQUEUES CANALES (Editor's Choice) */ /***************************************************************/


/* Toda la columna *//*********************************************/

/* Portada, canales y secciones */
.pane-canal-de-noticias {
  float: left;
  clear: both;
  width: 100%;
  z-index: 5000;
}


/* Portada 1 columna */
.view-canal-de-noticias.view-display-id-block_portada_1col,

/* Canal (Sección principal) - Segunda noticia en adelante */
.view-canal-de-noticias.view-display-id-block_nodequeue_canal

{
  margin-left: 0.0486111111111em; /* 9px/16px */
}


/* Portada 1 columna */
.page-portada .view-canal-de-noticias.view-display-id-block_portada_1col,

/* Canal (Sección principal) - Segunda noticia en adelante */
.page-portada .view-canal-de-noticias.view-display-id-block_nodequeue_canal {
  margin-left: 0;
}




/* Caja contenedora de noticia (cada fila) *//*********************************************/

/* Portada 2 columnas */
.view-canal-de-noticias.view-display-id-block_portada_2col .views-row,

/* Columnistas de opinión - Solo canal */
.view-opinion-columnistas.view-display-id-block_opinion .views-row {
  float: left;
  clear: both;
  width: 100%;
  padding: 30px 0;
  border-bottom: 1px solid #DDD;
}



/* Página de temas */
/*
.view-canal-de-noticias .views-row-first,
.view-pagina-de-temas .views-row-first, 
.view-pagina-de-temas .views-row
{
  clear: both;
  padding: 20px 0;
  border-bottom: 1px solid #EEE;
}
*/


/* Portada 1 columna */
.view-canal-de-noticias.view-display-id-block_portada_1col .views-row,

/* Portada 2 columnas */
.view-canal-de-noticias.view-display-id-block_portada_2col .views-row,

/* Canal (Sección principal) - Primera noticia */
.view-canal-de-noticias.view-display-id-block_canal_1col .views-row

{
  padding-top: 0;
}





/* Título *//*********************************************/

/* Portada 1 columna */
.view-canal-de-noticias.view-display-id-block_portada_1col .node-title,

/* Canal (Sección principal) - Primera noticia */
.view-canal-de-noticias.view-display-id-block_canal_1col .node-title,

article.view-mode-portada_principal_1col h2

{
  margin: 0 0 20px 0; 
}


/* Portada, canales y secciones */
.view-canal-de-noticias .node-title,

/* Página de temas */
.view-pagina-de-temas .views-field-title {
  margin: 0 0 10px 0;
}


/* Portada, canales y secciones */
.view-canal-de-noticias header {
  clear: both;
}


/* Portada, canales y secciones */
.view-canal-de-noticias.view-display-id-block_1 h1,
.view-canal-de-noticias.view-display-id-block_2 h2
{
  margin-bottom: 10px;
}



/* Portada 1 columna */
.view-canal-de-noticias.view-display-id-block_portada_1col .node-title,
.view-canal-de-noticias.view-display-id-block_portada_1col .node-title a,

/* Portada 2 columnas */
.view-canal-de-noticias.view-display-id-block_portada_2col .node-title,
.view-canal-de-noticias.view-display-id-block_portada_2col .node-title a,

/* Portada 3 columnas */
.view-display-id-block_portada_3col_titular .views-field-title,
.view-display-id-block_portada_3col_titular .views-field-title a,

/* Canal (Sección principal) - Primera noticia */
.view-canal-de-noticias.view-display-id-block_canal_1col .node-title,
.view-canal-de-noticias.view-display-id-block_canal_1col .node-title a,

/* Canal (Sección principal) - Segunda noticia en adelante */
.view-canal-de-noticias.view-display-id-block_nodequeue_canal .node-title,
.view-canal-de-noticias.view-display-id-block_nodequeue_canal .node-title a,

/* Columnistas de opinión - Home y canal */
.view-opinion-columnistas .views-field-title,
.view-opinion-columnistas .views-field-title a,

/* Página de temas */
.view-pagina-de-temas .views-field-title,
.view-pagina-de-temas .views-field-title a,

article.view-mode-portada_principal_1col h2,
article.view-mode-portada_principal_1col h2 a

{
  font: normal 25px/28px Georgia, "Times New Roman", serif;
  color: #112842;
  text-decoration: none;
  clear: both;
}


.view-pagina-de-temas .views-field-title {
	clear:none;
}


/* Columnistas de opinión - Home y canal */
.view-opinion-columnistas .views-field-title,
.view-opinion-columnistas .views-field-title a

{
  clear: none;  
}


/* Portada 1 columna */
.view-canal-de-noticias.view-display-id-block_portada_1col .node-title,
.view-canal-de-noticias.view-display-id-block_portada_1col .node-title a,

/* Canal (Sección principal) - Primera noticia */
.view-canal-de-noticias.view-display-id-block_canal_1col .node-title,
.view-canal-de-noticias.view-display-id-block_canal_1col .node-title a,

article.view-mode-portada_principal_1col h2,
article.view-mode-portada_principal_1col h2 a

{
  font-size: 34px; 
  line-height: 35px;
}


/* Portada 1 columna */
.view-canal-de-noticias.view-display-id-block_portada_1col .node-title a:hover,

/* Portada 2 columnas */
.view-canal-de-noticias.view-display-id-block_portada_2col .node-title a:hover,

/* Portada 3 columnas */
.view-display-id-block_portada_3col_titular .views-field-title a:hover,

/* Canal (Sección principal) - Primera noticia */
.view-canal-de-noticias.view-display-id-block_canal_1col .node-title a:hover,

/* Canal (Sección principal) - Segunda noticia en adelante */
.view-canal-de-noticias.view-display-id-block_nodequeue_canal .node-title a:hover,

/* Página de temas */
.view-pagina-de-temas .views-field-title a:hover,

/* Columnistas de opinión - Home y canal */
.view-opinion-columnistas .views-field-title a:hover,

article.view-mode-portada_principal_1col h2 a:hover

{
  color: #2d6aa8;
}




/* Recursos multimedia *//*********************************************/

.view-canal-de-noticias.view-display-id-block_portada_1col .field-name-field-recursos-multimedia,
.view-editor-choice-taxonomia.view-display-id-block_portada_1col .field-name-field-recursos-multimedia {
  margin: 0 0 10px 0;
  overflow: hidden;
  clear: both;
  cursor: pointer;
}


/* Canal (Sección principal) - Primera noticia */
.view-canal-de-noticias.view-display-id-block_canal_1col .field-name-field-recursos-multimedia,

/* Canal (Sección principal) - Segunda noticia en adelante */
.view-canal-de-noticias.view-display-id-block_nodequeue_canal .field-name-field-recursos-multimedia,

/* Página de temas */
.view-pagina-de-temas .views-field-field-imagen-foto

{
  float: left;
  margin: 0 0 12px 0;
  width: 100%;
  overflow: hidden;
}

.view-pagina-de-temas .views-field-field-imagen-foto {
    float: left;
    margin: 0 20px 12px 0;
    width: auto;
    overflow: hidden;
}




/* Fecha de publicación *//*********************************************/

/* Portada 1 columna */
.view-canal-de-noticias.view-display-id-block_portada_1col time,

/* Canal (Sección principal) - Primera noticia */
.view-canal-de-noticias.view-display-id-block_canal_1col time,

/* Canal (Sección principal) - Segunda noticia en adelante */
.view-canal-de-noticias.view-display-id-block_nodequeue_canal time,

/* Página de temas */
.view-pagina-de-temas .views-field-published-at 

{
  float: left;
  margin: 0 7px 0 0;
  line-height: 13px;
  display: none;
  visibility: hidden;
}


.view-pagina-de-temas .views-field-published-at {
  margin-top: 15px;
}


/* Portada 1 columna */
.view-canal-de-noticias.view-display-id-block_portada_1col .time,

/* Canal (Sección principal) - Primera noticia */
.view-canal-de-noticias.view-display-id-block_canal_1col .time,

/* Canal (Sección principal) - Segunda noticia en adelante */
.view-canal-de-noticias.view-display-id-block_nodequeue_canal .time,

/* Página de temas */
.view-pagina-de-temas .views-field-published-at .field-content 

{
  font: bold 11px Arial, Helvetica, sans-serif;
  background-color: #E2E5E9;
  color: #145095;
  padding: 2px 4px;
  float: left;
  text-shadow: 1px 1px 1px #FFFFFF;
}

.view-pagina-de-temas .views-field-published-at .field-content {
  font-size: 12px;
  font-weight: normal;
  background-color: transparent;
  color: #135292;
  text-shadow: none;
}



/* Sumario o cuerpo de las noticias *//*********************************************/

/* Portada 1 columna */
.view-canal-de-noticias.view-display-id-block_portada_1col .field-name-field-resume-nota,
.view-canal-de-noticias.view-display-id-block_portada_1col .field-name-body,

/* Portada 2 columnas */
.view-canal-de-noticias.view-display-id-block_portada_2col .field-name-field-resume-nota,
.view-canal-de-noticias.view-display-id-block_portada_2col .field-name-body,

/* Portada 3 columnas */
.view-display-id-block_portada_3col_texto .views-field-body,

/* Página de temas */
.view-pagina-de-temas .views-field-field-resume-nota,
.view-pagina-de-temas .views-field-body,

/* Canal (Sección principal) - Primera noticia */
.view-canal-de-noticias.view-display-id-block_canal_1col .field-name-field-resume-nota,
.view-canal-de-noticias.view-display-id-block_canal_1col .field-name-body,

/* Canal (Sección principal) - Segunda noticia en adelante */
.view-canal-de-noticias.view-display-id-block_nodequeue_canal .field-name-field-resume-nota,
/*Agregado para el tipo de contenido Elemento de canal de noticias */
.view-canal-de-noticias.view-display-id-block_nodequeue_canal .field-name-field-feed-item-description,
.view-canal-de-noticias.view-display-id-block_nodequeue_canal .field-name-body,

.view-editorial .views-field-body,
.view-opinion-columnistas .views-field-body,
.view-cartas-al-director .views-field-body,

article.view-mode-portada_principal_1col .field-name-sumario-frontend

{
  font: 13px/17px Arial, Helvetica, sans-serif;
  color: #212121;
}



/* Sumario o cuerpo de las noticias *//*********************************************/

/* Portada 1 columna */
.view-canal-de-noticias.view-display-id-block_portada_1col .field-name-body p,
.view-canal-de-noticias.view-display-id-block_portada_1col .field-name-field-resume-nota p,

/* Canal (Sección principal) - Primera noticia */
.view-canal-de-noticias.view-display-id-block_canal_1col .field-name-body p,
.view-canal-de-noticias.view-display-id-block_canal_1col .field-name-field-resume-nota p,

/* Canal (Sección principal) - Segunda noticia en adelante */
.view-canal-de-noticias.view-display-id-block_nodequeue_canal .field-name-body p,
.view-canal-de-noticias.view-display-id-block_nodequeue_canal .field-name-field-resume-nota p,

/* Página de temas */
.view-pagina-de-temas .views-field-body p,
.view-pagina-de-temas .views-field-field-resume-nota p

{
  margin: 0;
}



/* Noticias relacionadas *//*********************************************/

/* Portada 1 columna */
.view-canal-de-noticias.view-display-id-block_portada_1col .noticias-relacionadas,

/* Canal (Sección principal) - Primera noticia */
.view-canal-de-noticias.view-display-id-block_canal_1col .noticias-relacionadas,

/* Canal (Sección principal) - Segunda noticia en adelante */
.view-canal-de-noticias.view-display-id-block_nodequeue_canal .noticias-relacionadas

{
  float: left;
  width: 100%;
  clear: both;
}


/**************************************************************************************************/


/* Destacadas tipo Mundial Brasil 2014 */

/* Destacada 1 */
.pane-contenidos-destacados-tema-panel-pane-1 article {
  cursor: pointer;
}
.pane-contenidos-destacados-tema-panel-pane-1 .field-name-field-video {
  text-align: center;
  background-color: black;
}
.pane-contenidos-destacados-tema-panel-pane-1 img {
  width: 100%; 
}
.pane-contenidos-destacados-tema-panel-pane-1 h2 {
  font: normal 25px/28px Georgia, "Times New Roman", serif;
  margin-top: 0.5em;
}
.pane-contenidos-destacados-tema-panel-pane-1 h2,
.pane-contenidos-destacados-tema-panel-pane-1 h2 a {
  color: #112842;
  text-decoration: none;
}
.pane-contenidos-destacados-tema-panel-pane-1:hover h2 {
  color: #2d6aa8;
}
.pane-contenidos-destacados-tema-panel-pane-1 .field-name-sumario-frontend {
  font: 13px/17px Arial, Helvetica, sans-serif;
  color: #212121;
  margin-top: 0.4em;
}

/* Destacada 2 */
.pane-contenidos-destacados-tema-panel-pane-2 .views-view-grid td {
  display: inline-block;
  float: left;
  overflow: hidden;
  width:31.3%;
  padding:1%;
}

.pane-contenidos-destacados-tema-panel-pane-2 .views-view-grid td article {
  -moz-box-sizing:border-box; /* Firefox 28 and earlier*/
   background-color: #243E59;
  filter:   progid:DXImageTransform.Microsoft.dropshadow(OffX=10, OffY=10, Color='#25000000'); 
  overflow: hidden;
}

.pane-contenidos-destacados-tema-panel-pane-2 .views-view-grid td article:hover {
  background-color: #1b2e43;
}

.pane-contenidos-destacados-tema-panel-pane-2 .views-view-grid td article h2{
padding: 5px 10px;
}

/*.pane-contenidos-destacados-tema-panel-pane-2 .cols-3 td {
  width: 32.3%;
}
.pane-contenidos-destacados-tema-panel-pane-2 .cols-3 td.col-2 {
  margin: 0 1.5%;
}*/

.pane-contenidos-destacados-tema-panel-pane-2 article {
  cursor: pointer;
  height: 200px;
  overflow: hidden;
}
.pane-contenidos-destacados-tema-panel-pane-2 div[rel="schema:image"] {
  max-height: 110px;
  margin-bottom: 0.6em;
  overflow: hidden;
  width: 100%;
}
.pane-contenidos-destacados-tema-panel-pane-2 img {
  width: 100%;
  max-width:100%;
}
.pane-contenidos-destacados-tema-panel-pane-2 h2 {
  font: normal 15.4px/17px Arial,Helvetica,sans-serif;
  clear: both;
  margin-top: 0.2em;
}
.pane-contenidos-destacados-tema-panel-pane-2 h2,
.pane-contenidos-destacados-tema-panel-pane-2 h2 a {
  color: #FFF;
  text-decoration: none;
}
.pane-contenidos-destacados-tema-panel-pane-2 article:hover h2 {
  color: #112842;
}
.pane-contenidos-destacados-tema-panel-pane-2 .field-name-sumario-frontend {
  font: 13px/15px Arial, Helvetica, sans-serif;
  color: rgba(255,255,255,0.6);
  margin-top: 0.6em;
  max-height: 115px;
  overflow: hidden;
  padding: 5px 10px;
  visibility: hidden; /* changes by js */
}
.pane-contenidos-destacados-tema-panel-pane-2 .field-name-field-relacionadas-notas {
  visibility: hidden;
  display: none;
}

.view-contenidos-destacados-tema {
	max-width: 650px;
	margin-bottom: 30px;
}
.view-contenidos-destacados-tema table.views-view-grid{
  clear: both;
  width: 100%;
}
.view-contenidos-destacados-tema .grouping-title {
	display: none;
}



/* Nueva version editors choice - Codigo de transicion */
/*
.view-canal-de-noticias {
}
*/

.view-canal-de-noticias article {
  cursor: pointer;
  padding: 30px 0;
  border-bottom: 1px solid #DDD;
}
/*
.view-canal-de-noticias.view-display-id-block_portada_1col .views-row-first article,
.view-canal-de-noticias.view-display-id-block_canal_1col .views-row-first article {
  padding-top: 0;
}
.view-canal-de-noticias article .field-name-field-topicos {
  float: left;
  clear: both;
  width: 100%;
  margin-bottom: 10px;
}
.view-canal-de-noticias article .field-name-field-recursos-multimedia {
  clear: both;
  overflow: hidden;
  margin-bottom: 10px;
}
.view-canal-de-noticias article .field-name-field-recursos-multimedia img {
}
.view-canal-de-noticias article h1 a,
.view-canal-de-noticias article h2 a {
  font-family: Georgia, "Times New Roman", serif;
  color: #112842;
  text-decoration: none;
  clear: both;
}
.view-canal-de-noticias article h1 a:hover,
.view-canal-de-noticias article h2 a:hover {
  color: #2d6aa8;
}
.view-canal-de-noticias article h1 a {
  font-size: 34px;
  line-height: 35px;
}
.view-canal-de-noticias article h2 a {
  font-size: 25px;
  line-height: 28px;
}
.view-canal-de-noticias article .field-name-sumario-frontend {
  font: 13px/17px Arial, Helvetica, sans-serif;
  color: #212121;
  margin-top: 15px;
}
*/


/* Nueva version editors choice - Codigo definitivo */

.view-editors-choice {
}
.view-editors-choice article {
  cursor: pointer;
  padding: 30px 0;
  border-bottom: 1px solid #DDD;
}
.view-editors-choice .views-row-first article {
  padding-top: 0;
}
.view-editors-choice article .field-name-field-topicos {
  float: left;
  clear: both;
  width: 100%;
  margin-bottom: 10px;
}
.view-editors-choice article .field-name-field-recursos-multimedia {
  clear: both;
  overflow: hidden;
  margin-bottom: 10px;
}
.view-editors-choice article .field-name-field-recursos-multimedia img {
}
.view-editors-choice article h1{
  font-size: 34px;
  line-height: 35px;  
}
.view-editors-choice article h1 a,
.view-editors-choice article h2 a {
  font-family: Georgia, "Times New Roman", serif;
  color: #112842;
  text-decoration: none;
  clear: both;
}
.view-editors-choice article h1 a:hover,
.view-editors-choice article h2 a:hover {
  color: #2d6aa8;
}
.view-editors-choice article h1 a {
  font-size: 34px;
  line-height: 35px;
}
.view-editors-choice article h2 a {
  font-size: 25px;
  line-height: 28px;
}
.view-editors-choice article .field-name-sumario-frontend {
  font: 13px/17px Arial, Helvetica, sans-serif;
  color: #212121;
  margin-top: 15px;
}


