/* This file will hold styles that are loaded using the same media query as the wide grid. */

body {
  background: #FFF;
  letter-spacing: 0;
  height: 100%;
  font: 16px/18px Arial, Helvetica, sans-serif;
  color: #333;
}

.region-sidebar {
  display: block;
  visibility: visible;
}
