
.panel-custom-2col-stacked-omega-17 { 
/*  overflow: hidden;  */
  margin-top: 0;
  padding-top: 0;
}

.panel-custom-2col-stacked-omega-17 .panel-col-top,
.panel-custom-2col-stacked-omega-17 .panel-col-bottom { 
  width: 99.9%; 
  clear: both;
}

.panel-custom-2col-stacked-omega-17 .panel-col-top .inside {
  margin-bottom: 0.9375em;
  margin-left: 0.9375em;
}

.panel-custom-2col-stacked-omega-17 .panel-col-first { 
  float: left; 
  width: 56.25%;
  clear: left; 
}
* html .panel-custom-2col-stacked-omega-17 .panel-col-first {
  width: 56.15%;
}
/*
.panel-custom-2col-stacked-omega-17 .panel-col-first .inside { 
	float: left;
  margin: 0 0 0 0.9375em;
}
*/
.panel-custom-2col-stacked-omega-17 .panel-col-last { 
  float: left; 
  width: 43.75%; 
  /* clear: right; */
}

.panel-custom-2col-stacked-omega-17 .panel-col-last .inside { 
	float: left;
  margin: 0;
}

.panel-custom-2col-stacked-omega-17 .panel-separator {
  margin: 0 0 0.9375em 0;
}
