/*
  Variable Grid System.
  Learn more ~ http://www.spry-soft.com/grids/
  Based on 960 Grid System - http://960.gs/

  Licensed under GPL and MIT.
*/

/*
  Forces backgrounds to span full width,
  even if there is horizontal scrolling.
  Increase this if your layout is wider.

  Note: IE6 works fine without this fix.
*/

body {
  /*min-width: 1000px;*/
}

/* Containers
----------------------------------------------------------------------------------------------------*/
.container-25 {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}

/* Grid >> Global
----------------------------------------------------------------------------------------------------*/


.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9,
.grid-10,
.grid-11,
.grid-12,
.grid-13,
.grid-14,
.grid-15,
.grid-16,
.grid-17,
.grid-18,
.grid-19,
.grid-20,
.grid-21,
.grid-22,
.grid-23,
.grid-24,
.grid-25 {
  display:inline;
  float: left;
  /*position: relative;*/
  margin-left: 5px;
  margin-right: 5px;
}

.push-1, .pull-1,
.push-2, .pull-2,
.push-3, .pull-3,
.push-4, .pull-4,
.push-5, .pull-5,
.push-6, .pull-6,
.push-7, .pull-7,
.push-8, .pull-8,
.push-9, .pull-9,
.push-10, .pull-10,
.push-11, .pull-11,
.push-12, .pull-12,
.push-13, .pull-13,
.push-14, .pull-14,
.push-15, .pull-15,
.push-16, .pull-16,
.push-17, .pull-17,
.push-18, .pull-18,
.push-19, .pull-19,
.push-20, .pull-20,
.push-21, .pull-21,
.push-22, .pull-22,
.push-23, .pull-23,
.push-24, .pull-24,
.push-25, .pull-25 {
  position:relative;
}


/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/

.alpha {
  margin-left: 0;
}

.omega {
  margin-right: 0;
}

/* Grid >> 25 Columns
----------------------------------------------------------------------------------------------------*/


.container-25 .grid-1 {
  width:30px;
}

.container-25 .grid-2 {
  width:70px;
}

.container-25 .grid-3 {
  width:110px;
}

.container-25 .grid-4 {
  width:150px;
}

.container-25 .grid-5 {
  width:190px;
}

.container-25 .grid-6 {
  width:230px;
}

.container-25 .grid-7 {
  width:270px;
}

.container-25 .grid-8 {
  width:310px;
}

.container-25 .grid-9 {
  width:350px;
}

.container-25 .grid-10 {
  width:390px;
}

.container-25 .grid-11 {
  width:430px;
}

.container-25 .grid-12 {
  width:470px;
}

.container-25 .grid-13 {
  width:510px;
}

.container-25 .grid-14 {
  width:550px;
}

.container-25 .grid-15 {
  width:590px;
}

.container-25 .grid-16 {
  width:630px;
}

.container-25 .grid-17 {
  width:670px;
}

.context-toboggan #zone-content #region-content,
.context-user #zone-content #region-content{width:990px;}

.container-25 .grid-18 {
  width:710px;
}

.container-25 .grid-19 {
  width:750px;
}

.container-25 .grid-20 {
  width:790px;
}

.container-25 .grid-21 {
  width:830px;
}

.container-25 .grid-22 {
  width:870px;
}

.container-25 .grid-23 {
  width:910px;
}

.container-25 .grid-24 {
  width:950px;
}

.container-25 .grid-25 {
  width:990px;
}




/* Prefix Extra Space >> 25 Columns
----------------------------------------------------------------------------------------------------*/


.container-25 .prefix-1 {
  padding-left:40px;
}

.container-25 .prefix-2 {
  padding-left:80px;
}

.container-25 .prefix-3 {
  padding-left:120px;
}

.container-25 .prefix-4 {
  padding-left:160px;
}

.container-25 .prefix-5 {
  padding-left:200px;
}

.container-25 .prefix-6 {
  padding-left:240px;
}

.container-25 .prefix-7 {
  padding-left:280px;
}

.container-25 .prefix-8 {
  padding-left:320px;
}

.container-25 .prefix-9 {
  padding-left:360px;
}

.container-25 .prefix-10 {
  padding-left:400px;
}

.container-25 .prefix-11 {
  padding-left:440px;
}

.container-25 .prefix-12 {
  padding-left:480px;
}

.container-25 .prefix-13 {
  padding-left:520px;
}

.container-25 .prefix-14 {
  padding-left:560px;
}

.container-25 .prefix-15 {
  padding-left:600px;
}

.container-25 .prefix-16 {
  padding-left:640px;
}

.container-25 .prefix-17 {
  padding-left:680px;
}

.container-25 .prefix-18 {
  padding-left:720px;
}

.container-25 .prefix-19 {
  padding-left:760px;
}

.container-25 .prefix-20 {
  padding-left:800px;
}

.container-25 .prefix-21 {
  padding-left:840px;
}

.container-25 .prefix-22 {
  padding-left:880px;
}

.container-25 .prefix-23 {
  padding-left:920px;
}

.container-25 .prefix-24 {
  padding-left:960px;
}



/* Suffix Extra Space >> 25 Columns
----------------------------------------------------------------------------------------------------*/


.container-25 .suffix-1 {
  padding-right:40px;
}

.container-25 .suffix-2 {
  padding-right:80px;
}

.container-25 .suffix-3 {
  padding-right:120px;
}

.container-25 .suffix-4 {
  padding-right:160px;
}

.container-25 .suffix-5 {
  padding-right:200px;
}

.container-25 .suffix-6 {
  padding-right:240px;
}

.container-25 .suffix-7 {
  padding-right:280px;
}

.container-25 .suffix-8 {
  padding-right:320px;
}

.container-25 .suffix-9 {
  padding-right:360px;
}

.container-25 .suffix-10 {
  padding-right:400px;
}

.container-25 .suffix-11 {
  padding-right:440px;
}

.container-25 .suffix-12 {
  padding-right:480px;
}

.container-25 .suffix-13 {
  padding-right:520px;
}

.container-25 .suffix-14 {
  padding-right:560px;
}

.container-25 .suffix-15 {
  padding-right:600px;
}

.container-25 .suffix-16 {
  padding-right:640px;
}

.container-25 .suffix-17 {
  padding-right:680px;
}

.container-25 .suffix-18 {
  padding-right:720px;
}

.container-25 .suffix-19 {
  padding-right:760px;
}

.container-25 .suffix-20 {
  padding-right:800px;
}

.container-25 .suffix-21 {
  padding-right:840px;
}

.container-25 .suffix-22 {
  padding-right:880px;
}

.container-25 .suffix-23 {
  padding-right:920px;
}

.container-25 .suffix-24 {
  padding-right:960px;
}



/* Push Space >> 25 Columns
----------------------------------------------------------------------------------------------------*/


.container-25 .push-1 {
  left:40px;
}

.container-25 .push-2 {
  left:80px;
}

.container-25 .push-3 {
  left:120px;
}

.container-25 .push-4 {
  left:160px;
}

.container-25 .push-5 {
  left:200px;
}

.container-25 .push-6 {
  left:240px;
}

.container-25 .push-7 {
  left:280px;
}

.container-25 .push-8 {
  left:320px;
}

.container-25 .push-9 {
  left:360px;
}

.container-25 .push-10 {
  left:400px;
}

.container-25 .push-11 {
  left:440px;
}

.container-25 .push-12 {
  left:480px;
}

.container-25 .push-13 {
  left:520px;
}

.container-25 .push-14 {
  left:560px;
}

.container-25 .push-15 {
  left:600px;
}

.container-25 .push-16 {
  left:640px;
}

.container-25 .push-17 {
  left:680px;
}

.container-25 .push-18 {
  left:720px;
}

.container-25 .push-19 {
  left:760px;
}

.container-25 .push-20 {
  left:800px;
}

.container-25 .push-21 {
  left:840px;
}

.container-25 .push-22 {
  left:880px;
}

.container-25 .push-23 {
  left:920px;
}

.container-25 .push-24 {
  left:960px;
}



/* Pull Space >> 25 Columns
----------------------------------------------------------------------------------------------------*/


.container-25 .pull-1 {
  left:-40px;
}

.container-25 .pull-2 {
  left:-80px;
}

.container-25 .pull-3 {
  left:-120px;
}

.container-25 .pull-4 {
  left:-160px;
}

.container-25 .pull-5 {
  left:-200px;
}

.container-25 .pull-6 {
  left:-240px;
}

.container-25 .pull-7 {
  left:-280px;
}

.container-25 .pull-8 {
  left:-320px;
}

.container-25 .pull-9 {
  left:-360px;
}

.container-25 .pull-10 {
  left:-400px;
}

.container-25 .pull-11 {
  left:-440px;
}

.container-25 .pull-12 {
  left:-480px;
}

.container-25 .pull-13 {
  left:-520px;
}

.container-25 .pull-14 {
  left:-560px;
}

.container-25 .pull-15 {
  left:-600px;
}

.container-25 .pull-16 {
  left:-640px;
}

.container-25 .pull-17 {
  left:-680px;
}

.container-25 .pull-18 {
  left:-720px;
}

.container-25 .pull-19 {
  left:-760px;
}

.container-25 .pull-20 {
  left:-800px;
}

.container-25 .pull-21 {
  left:-840px;
}

.container-25 .pull-22 {
  left:-880px;
}

.container-25 .pull-23 {
  left:-920px;
}

.container-25 .pull-24 {
  left:-960px;
}




/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */

.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:after {
  clear: both;
}

/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/

.clearfix {
  zoom: 1;
}