.bloqueo_container{
  position: relative;
}

.bloqueo_container::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 136px;
  background : url(/sites/all/modules/custom/eu_bloqueo/img/bloqueo.png)
}
