.panels-flexible-6 .panels-flexible-region {
  padding: 0;
}

.panels-flexible-6 .panels-flexible-region-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-6 .panels-flexible-region-inside-first {
  padding-left: 0;
}

.panels-flexible-6 .panels-flexible-region-inside-last {
  padding-right: 0;
}

.panels-flexible-6 .panels-flexible-column {
  padding: 0;
}

.panels-flexible-6 .panels-flexible-column-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-6 .panels-flexible-column-inside-first {
  padding-left: 0;
}

.panels-flexible-6 .panels-flexible-column-inside-last {
  padding-right: 0;
}

.panels-flexible-6 .panels-flexible-row {
  padding: 0 0 0.5em 0;
  margin: 0;
}

.panels-flexible-6 .panels-flexible-row-last {
  padding-bottom: 0;
}

.panels-flexible-column-6-8 {
  float: left;
  width: 19.7590%;
}

.panels-flexible-column-6-7 {
  float: left;
  width: 19.3808%;
}

.panels-flexible-column-6-2 {
  float: left;
  width: 19.3532%;
}

.panels-flexible-column-6-main {
  float: left;
  width: 19.7667%;
}

.panels-flexible-column-6-4 {
  float: left;
  width: 20.7403%;
}

.panels-flexible-6-inside {
  padding-right: 0px;
}

.panels-flexible-6 {
  width: auto;
}

.panels-flexible-region-6-noticias___opinion {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-6-9-inside {
  padding-right: 0px;
}

.panels-flexible-region-6-deportes___entretenimiento {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-6-10-inside {
  padding-right: 0px;
}

.panels-flexible-region-6-vida {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-6-3-inside {
  padding-right: 0px;
}

.panels-flexible-region-6-center {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-6-main-row-inside {
  padding-right: 0px;
}

.panels-flexible-region-6-servicios {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-6-5-inside {
  padding-right: 0px;
}

