
#buscarHoy {
position: absolute;
margin-top: -27px;
margin-left: 25px;
background: white;
width: 150px;
font-size: 14px;
height: 22px;
cursor: pointer;
display: none;
padding-top: 3px;
color:#0062A0;
}



#views-exposed-form-busqueda-peliculas-page-1
.form-item-horas-date-date {
	width:100%;
}


#views-exposed-form-busqueda-peliculas-page-1
#edit-horas-date
input {
background: none;
box-shadow: none;
border: none;
border-bottom: 1px solid #ccc;
border-radius: 0px;
width: 100%;
}


#views-exposed-form-busqueda-peliculas-page-1 #edit-horas-date input {
background: white url('../images/arrCalendar.png') no-repeat 5px center;
box-shadow: none;
border: none;
border-bottom: 1px solid #ccc;
border-radius: 0px;
width: 100%;
padding-left: 25px;
color:#0062A0;
cursor:pointer;
}


#buscar-por-fecha {
	display:block;
	cursor:pointer;
}

#views-exposed-form-busqueda-peliculas-page-1
.views-widget {
overflow: hidden;
display: block;
border-left-width: 1px;
}


#views-exposed-form-busqueda-peliculas-page-1
#edit-horas-date label,
#views-exposed-form-busqueda-peliculas-page-1
#edit-horas-date .description {
	display:none;
}


#views-exposed-form-busqueda-peliculas-page-1 
.form-type-date-popup.form-item-horas-date  {
display: block;
overflow: hidden;
margin-bottom: 1em;
}


#cartelera-de-cines-label a {
	color:#4f6481;
}

.node-type-complejo .field-name-field-cine-nr,
.node-type-complejo .field-name-title {
  float: left;
  font: 18px Arial, Helvetica, sans-serif;
  color: #6183b3;
}

.node-type-complejo .field-name-title {
  margin-left: 10px;
}

/*
.node-type-complejo .field-name-title::before {
  content: "  -     ";
}
*/


/* interfaces administrativas */

.view-complejos.view-id-complejos
.node-ciudad.node-teaser.contextual-links-region {
	position:relative;
}



.view-buscar-carteleras
.views-field-field-fecha-cartelera {
	width:140px;
	
}

.view-buscar-carteleras
.views-field-field-fecha-cartelera {
	font-size:10px;
}

.view-buscar-carteleras .date-display-start,
.view-buscar-carteleras .date-display-end {
	display:inline-block;
	font-size:14px;
}


.node-pelicula.view-mode-pelicula_en_complejo
.contextual-links-wrapper:hover ul {
display: block !important;
}


#views-exposed-form-buscar-carteleras-page
.form-type-date-popup {
	margin:0px;
}


.view-complejos.view-id-complejos .view-content table td .contextual-links-region {
	position:relative;
}


/* ingreso de funciones */

#edit-field-idioma-pelicula-und {
	width:95%;
}

.view-funciones-por-cartelera.view-id-funciones_por_cartelera .views-row {
	position:relative;
}

/* TABLAS 100 % en SIDEBAR */

body.context-cine
#region-sidebar
.view-content > table.views-view-grid.cols-2 {
	width:100%;
}


.node-pelicula.view-mode-full
.field-name-field-sitio-web
 a {
	color:#555;
}

body.context-cine
#region-sidebar
.view-content  
a {
color:#0062A0;	
}


/* ------------------ */


.elemento-escondido {
    display: none; 
    /* background: yellow; */
}

.block-inner {
	position:relative;
}



#cancelar-back {
background: #949494;
padding: 5px 10px;
color: white;
border-radius: 10px;
margin-right: 20px;
border-bottom: 1px solid #8B8B8B;
text-shadow: 0px 0px 5px black;
text-decoration: none;
}

#cancelar-back:hover {
background: #B1B1B1;
}

#cancelar-back:active {
border-top: 1px solid #8B8B8B;
border-bottom: none;
}


.view-buscar-peliculas-admin
td.views-field-contextual-links {
  position:relative;  
  display:block;
}

.view-buscar-peliculas-admin
#edit-genero-wrapper {
    width:auto;
}


#edit-field-trailer-pelicula {
    display:none;
}

.activo {
    font-weight: bold;
}


.view-salas-de-cine td,
.view-cartelera table td {
    vertical-align: top;
}


a.etiqueta-seccion:link {
    font-family: Arial;
    font-size:30px;
    color:#4f6481;
    text-decoration: none;
}

a.etiqueta-seccion:hover {
    text-decoration: underline;
}


#cartelera-de-cines-label {
    padding-left:25px;
    margin-bottom:25px;
}


/* Administracion: Buscar carteleras */
.view-buscar-carteleras
.view-funciones-por-cartelera > .view-content  {
max-height: 200px;
overflow: auto;
border: 1px solid #D8D8D8;
background: rgb(255, 255, 255);
margin: 10px 0;
}
.view-buscar-carteleras
.view-funciones-por-cartelera 
.view-filters{
    display: none;
}

.view-buscar-carteleras
#edit-field-horas-funciones-value-max
.form-item-horas-funciones-max {
    width:98%;
}

.view-buscar-carteleras
#edit-date-filter-min 
label,
.view-buscar-carteleras
#edit-date-filter-max 
label {
    display: none;
}



.view-buscar-carteleras
#edit-field-horas-funciones-value-max
.form-item-horas-funciones-max-date {
    display: none;
}


.view-buscar-carteleras
#edit-field-horas-funciones-value-max
#edit-horas-funciones-max{
    float: right;
}


/* Formulario de pelicula */

#pelicula-node-form
.field-name-field-sitio-web {
    clear: both;
}

/* Estilos por página */

.view-busqueda-peliculas.view-id-busqueda_peliculas.view-display-id-page_1,
.node-pelicula.view-mode-full,
.node-complejo.view-mode-full,
.view-cartelera.view-id-cartelera.view-display-id-page {
    width: 620px;
    margin:0px auto;
}

.view-cartelera.view-id-cartelera.view-display-id-page .view-header {
    height: 495px;
}    

.view-cartelera.view-id-cartelera.view-display-id-page .view-header .view-header {
    height: auto;
}    



.page-cines-buscar 
h1#page-title,
.page-cine
h1#page-title  {
    display: none;
}

body.logged-in.page-cines-buscar h1#page-title,
body.logged-in.page-cine h1#page-title {
    display: block;
    font-size: 14px;
    text-align: center;
    color:#555;
    background: #eee;
    padding:10px;
    clear: both;
}

body.page-node.node-type-pelicula h3.block-title,
body.page-node.node-type-complejo h3.block-title,   
.page-cines-buscar h3.block-title,
.page-cine h3.block-title {     
    font-family: Arial;
    font-size: 22px;
    color:#2e6ba4;
    text-transform: none;
}

body.page-node.node-type-pelicula #region-sidebar h3.block-title,
body.page-node.node-type-complejo #region-sidebar h3.block-title,   
.page-cines-buscar #region-sidebar h3.block-title,
.page-cine #region-sidebar h3.block-title {     
    border-bottom:1px solid #eeeeee;
    color:#496781;
}

.node-type-pelicula .block-views .content,
.node-type-complejo .block-views .content,   
.page-cines-buscar .block-views .content,
.page-cine .block-views .content { 
    font-family: Arial;
}

.node-type-pelicula
table tr:hover td,
.node-type-complejo
table tr:hover td,
.page-cines-buscar 
table tr:hover td,
.node-type-pelicula
table tr:hover td,
.node-type-complejo
table tr:hover td,
.page-cine
table tr:hover td {
    background: none;
}

/* selector ciudades */

.selector-ciudades {
position:relative;
font-size: 14px;
display:inline-block;
}

.selector-ciudades .ciudades-a-escoger {
    position:absolute;
    border:1px solid #ccc;
    width:120px;
    background:white;
    z-index: 1;
}

.selector-ciudades .ciudades-a-escoger a {
text-decoration: none;
font-weight: normal;    
padding:10px 10px 10px 20px;
display: block;
}

.selector-ciudades .ciudades-a-escoger a:hover {
    background:rgb(245,245,245);
}


.selector-ciudades .ciudad-escogida {
    padding:5px 15px 5px 5px;
    background:url('../images/drop-down-custom.png') right center no-repeat;
}


.selector-ciudades .ciudad-escogida a {
color:#989898;    
text-decoration: none;
font-weight: normal;
}

/* Buscador de carteleras */

.view-buscar-carteleras
.field-name-field-horas-funciones {
    display: none;
    clear: both;
    
}


.view-buscar-carteleras table td {
    vertical-align: top;
}


#edit-field-horas-funciones-value-max label,
#edit-field-horas-funciones-value-min label {
    display: none;
}

/* Pelicula Full */

body.page-node.node-type-pelicula 
h1#page-title {
	display:none;
}

body.page-node.node-type-pelicula 
.field-name-field-sitio-web a {
    color:#313f4a;
}

.node-pelicula.view-mode-full 
.view-funciones-por-pelicula 
.field-collection-item-field-funciones 
.field-name-field-horario-vermouth, 
.node-pelicula.view-mode-full 
.view-funciones-por-pelicula
.field-collection-item-field-funciones 
.field-name-field-horas-funciones-str {
float: left;
}


.node-pelicula.view-mode-full  {
    font-family: Arial;
}

.node-pelicula.view-mode-full .field-label {
color:#2d6aa8;
font-weight: normal;
}

.node-pelicula.view-mode-full .group-left {
    width:31%;
    color:#313f4a;
    font-size: 13px;
    margin-right: 2%;
}


.node-pelicula.view-mode-full 
.group-left 
.field-name-field-sitio-web {
    word-break: break-all;
}

.node-pelicula.view-mode-full .group-left .field {
    margin:0px 0px 20px;
}

.node-pelicula.view-mode-full .group-right {
    width:67%;
}

.node-pelicula.view-mode-full h1 {
    color:#fd7113;
    font-size:23px;
    font-family: Arial;
    margin-bottom: 20px;
}

.node-pelicula.view-mode-full 
.field-name-field-titulo-original {
color:#666;
font-size: 15px;
padding-top:15px;
padding-bottom:0px;
clear:both;
}

.node-pelicula.view-mode-full 
.field-name-field-genero {
    color:#286aa7;
    float:left;
    clear:left;
    padding-right: 15px;
    font-size: 14px;
}


.node-pelicula.view-mode-full 
.field-name-field-duracion-txt {
float: left;
color: #6f7782;
padding-right: 15px;
background: url('../images/pelicula-tiempo-y-restriccion-icon.png') left -3px no-repeat;
padding-left: 22px;
    font-size: 14px;
}

.node-pelicula.view-mode-full 
.field-name-field-censura-pelicula {
    float:left;
    clear: right;
    color:#6f7782;
    padding-left: 22px;
    background: url('../images/pelicula-tiempo-y-restriccion-icon.png') left -82px no-repeat;
    font-size: 14px;
}

.node-pelicula.view-mode-full 
.field-name-field-afiche img {
    border:#efefef 6px solid;
}

.node-pelicula.view-mode-full 
.field-name-field-sinopsis {
    color:#313f4a;
    font-size: 13px;
    text-align: justify;
    padding:10px 0px 30px;
    line-height: 130%;
}


.node-pelicula.view-mode-full .group-footer {
    padding-top:1.5em;
}



/* Pelicula Full Semana */


.view-funciones-por-pelicula .view-grouping-header-0 {
background: #6E777F url('../images/flecha-cine.png') right no-repeat;
float: left;
padding: 2px 25px 2px 10px;
min-width: 95px;
color: #FFF;
text-transform: uppercase;
font-size: 12px;
letter-spacing: 1px;
}

.view-funciones-por-pelicula .view-grouping-0 {
    margin-top:20px;
    overflow:hidden;
    position:relative;
}


/* .field-name-funciones-x-peli-x-cine h2.block-title */

.node-pelicula.view-mode-full .group-footer h2.block-title

{
    color:#2e6aa9;
    font-weight: normal;
    font-size: 19px;
    font-family: Arial;
    margin-bottom: 1em;
}



.view-funciones-por-pelicula
.view-grouping view-grouping-0 {
    padding-top:20px;
}

.view-funciones-por-pelicula
.view-grouping-content-0 {
    clear: both;
    padding:5px 10px;
    overflow:hidden;
}

.view-funciones-por-pelicula
.view-grouping-content-0 .sub-grupo {
    display: inline-block;
    float: left;
    width:49%;
}

.view-funciones-por-pelicula
.view-grouping-content-0 .sub-grupo.elemento-escondido {
    display: none;
}


.view-funciones-por-pelicula
.field-name-field-horas-funciones-str {
    clear: both;
    width:100%;
    color:#343e48;
}

.view-funciones-por-pelicula
.field-name-field-horas-funciones {
    display: none;
}

.view-funciones-por-pelicula
.view-grouping-content-0 h3 {
    margin-left: 1%;
    color:#fd7113;
    font-size: 14px;
    font-family: Arial;
    margin-bottom:5px;
}

.field-collection-item-field-funciones.view-mode-en_peli_x_complejo_x_cine {
	font-size: 14px;
	color: #6e7780;
	line-height: 14px;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px dashed #DDD;
	box-sizing: border-box;
	margin-right: 15px;
}

.view-funciones-por-pelicula
.field-collection-item-field-funciones.view-mode-en_peli_x_complejo_x_cine
.field-name-field-tipo-pelicula {
    color: #2d6aa8; /*#32404b;*/
    width:100%; /* 343e48*/
    background: url('../images/estrella-tipo-peli-complejo.png') left center no-repeat;
    padding-left: 15px;
}



.view-funciones-por-pelicula
.field-collection-item-field-funciones.view-mode-en_peli_x_complejo_x_cine div {
    width:auto;
}


/* Pelicula FULL Semana: NADA*/

.no-hay-nada {
background: white url('../images/ico_sinfuncion.png') no-repeat left center;
padding: 25px 0 0 100px;
margin: 00px auto;
min-height: 100px;
font-size: 18px;
color: #AAA;
line-height: 28px;
width: 70%;
display: none;
}



/* Complejo */

.node-complejo.view-mode-full 
.field-name-field-cine {
    font-family: Arial;
    font-size: 25px;
    color:#2d6dab;
}

.node-complejo.view-mode-full 
.field-name-field-direccion {
  clear: both;
  margin:20px 0 40px;
  padding-top: 7px;
  color: #666;
  font-size: 13px;
}

.node-pelicula.view-mode-pelicula_en_complejo {
    background:#f7f5f6;
    border-bottom:1px solid #dddddd;
    margin-bottom:1px;
}


.node-pelicula.view-mode-pelicula_en_complejo.expandido:hover,
.node-pelicula.view-mode-pelicula_en_complejo.expandido {
    background:#eee;
}

.node-pelicula.view-mode-pelicula_en_complejo:hover {
background:#FFF9E5;
cursor:pointer;
}
.node-pelicula.view-mode-pelicula_en_complejo .field-name-title-field {
    float:left;
    padding:5px 10px;
}

/*
.node-pelicula.view-mode-pelicula_en_complejo .field-name-title-field a {
    background:url('../images/expandir-icon-pelis-en-complejo.png') right 6px no-repeat;
    padding-right: 20px;
}
*/

.node-pelicula.view-mode-pelicula_en_complejo .field-name-title-field .field-item {
    background:url('../images/expandir-icon-pelis-en-complejo.png') right 6px no-repeat;
    padding-right: 20px;
}


/*
.node-pelicula.view-mode-pelicula_en_complejo.expandido .field-name-title-field a {
    background:url('../images/expandir-icon-pelis-en-complejo.png') right -85px no-repeat;
    padding-right: 20px;
}
*/

.node-pelicula.view-mode-pelicula_en_complejo.expandido .field-name-title-field .field-item {
    background:url('../images/expandir-icon-pelis-en-complejo.png') right -85px no-repeat;
    padding-right: 20px;
}




.node-pelicula.view-mode-pelicula_en_complejo 
.view-mode-funciones_x_pelicula .field {
    float:left;
    padding:0px 5px ;
    width:auto;
    color:#353f48;
    font-size: 13px;
    border-right: 1px solid #ccc;
}

.node-pelicula.view-mode-pelicula_en_complejo 
.view-mode-funciones_x_pelicula .field-name-field-horario-vermouth {
    border-right: 0px;
}


.node-pelicula.view-mode-pelicula_en_complejo 
.view-mode-funciones_x_pelicula
.field-name-field-horas-funciones {
    display: none;
}

.node-pelicula.view-mode-pelicula_en_complejo 
.view-mode-funciones_x_pelicula 
.field-name-field-sala-pelicula {
    border-right: 0px;
}

.node-pelicula.view-mode-pelicula_en_complejo  {
    overflow:hidden;
}


.node-pelicula.view-mode-pelicula_en_complejo 
.group-left {
    width:40%;
    padding-top:20px;
    padding-bottom:20px;
}


.node-pelicula.view-mode-pelicula_en_complejo 
.group-right {
    float:left;
    width:55%;
    margin-top:15px;
    padding-top:10px;
    margin-bottom:10px;
    padding-left:10px;
    border-left:1px solid #ccc;
}

.node-pelicula.view-mode-pelicula_en_complejo 
.group-footer {
    overflow: hidden;
    display: none;
    height: 210px;
}



.node-pelicula.view-mode-pelicula_en_complejo .view-mode-funciones_x_pelicula .field-name-field-horas-funciones-str {
clear: left;
padding: 5px 5px 10px;
border-right: 0;
}

.node-pelicula.view-mode-pelicula_en_complejo 
.field-name-field-tipo-pelicula {
    display: none;
}

.node-pelicula.view-mode-pelicula_en_complejo .group-left .field-name-field-tipo-pelicula {
display: block;
background: url('../images/estrella-tipo-peli-complejo.png') left center no-repeat;
padding-left: 20px;
width: 100%;
margin-left: 10px;
font-size: 13px;
color: #555;
}

.field-name-field-sala-pelicula * {
    float:left;
}

.node-pelicula.view-mode-pelicula_en_complejo 
.views-field-field-horas-funciones-str {
    display: none;
}


.field-name-horas-x-dia-pelicula-x-complejo {
float: left;
border-left: 1px solid #ccc;
margin-top: 15px;
border-right: 1px solid #ccc;
min-height: 20px;
padding: 10px 10px 20px;
font-size: 12px;
font-weight: bold;
width:270px;
}

.field-name-horas-x-dia-pelicula-x-complejo span:after {
    content:"|";
    color:gray;
    padding:0 10px;
}

.field-name-horas-x-dia-pelicula-x-complejo span:last-child:after {
    display: none; 
}


.node-pelicula.view-mode-pelicula_en_complejo .field-name-title-field a {
    color:#fc7219;
    text-decoration: none;
}

.node-pelicula.view-mode-pelicula_en_complejo .field-name-title-field a:hover {
    text-decoration: underline;
}


.node-pelicula.view-mode-pelicula_en_complejo .field-name-funciones-en-la-semana {
/*    display: none; */ 
}

.node-pelicula.view-mode-pelicula_en_complejo .field-name-field-afiche {
    clear:left;
    float:left;
    padding:20px 0px 20px 35px;
    border-top:1px solid white;
}


.node-pelicula.view-mode-pelicula_en_complejo .field-name-field-extracto {
    border-top:1px solid white;
    float: left;
    width: 428px;
    padding: 20px 3%;
    font-size: 13px;
    line-height: 130%;
    color:#353f48;
}
    
/* Selector Semana */

.semana-selector {
    overflow:hidden;
    border-bottom:2px solid #303e49;
}

.semana-selector span {
    cursor:pointer;
}

.semana-selector .dia {
    display: block;
    float:left;
    text-transform: uppercase;
    font-size: 12px;
    padding:5px 10px;
    color:#696969;
}

.semana-selector .dia.elemento-escondido {
    display: none;
}

.semana-selector .dia.elemento-desactivado {
    color:#cbcbcb;    
}

.semana-selector .dia.activo {
    background:#303e49;
    color:white;
    font-weight: normal;
}

/* Cartelera por Ciudad - Selector de Ciudades */

#block-views-ciudades-block-1 {
    border-bottom:1px solid #fd7924;    
}

.view-ciudades table {
    border: 0px;
}

.view-ciudades table td {
    width:50%;
}


.view-ciudades table a {
text-decoration: none;
display: block;
padding: 10px 10px;
}

.view-ciudades table a.seleccionada {
    font-weight: bold;
}

.view-ciudades table a:hover {
    background: #f2f2f2;
}


/*  Salas de cine */

#block-views-salas-de-cine-block {
    border-bottom:1px solid #fd7924;    
}


.view-salas-de-cine a {
    display:inline-block;
    width:90%;
    padding:5%;
    font-size: 14px;
}

.view-salas-de-cine a:hover {
    background:#f2f2f2;  
}


.view-salas-de-cine td {
    padding:0px;
    width:50%;
}

.view-salas-de-cine table {
    border:0px;
}


.view-salas-de-cine table a {
text-decoration: none;
padding-left: 15px;
display: block;
font-size: 15px;
width: auto;
}


/*administracion cines */

/*
#block-menu-menu-administracion-cines ul.menu {
    padding-left: 20px;
}

#block-menu-menu-administracion-cines ul.menu li {
    list-style: disc;
}

#block-menu-menu-administracion-cines ul.menu li a {
    text-decoration: none;
}

#block-menu-menu-administracion-cines ul.menu li a:hover {
    text-decoration: underline;
}
*/

/* pelicula node teaser - Buscador de pelis */

.node-pelicula.view-mode-pelicula_en_busqueda,
.node-pelicula.node-teaser {
    margin-top:20px;
    padding-top:20px;
    padding-bottom:20px;
    border-bottom:1px solid #eee;
    position:relative;
}

.node-pelicula.view-mode-pelicula_en_busqueda
.group-left,
.node-pelicula.node-teaser
.group-left {
    width:23%;
    text-align: left;
}


.node-pelicula.view-mode-pelicula_en_busqueda
.group-right,
.node-pelicula.node-teaser
.group-right {
    width:77%;
}


   

.node-pelicula.view-mode-pelicula_en_busqueda
.field-name-field-afiche img,
.node-pelicula.node-teaser
.field-name-field-afiche img {
    border:3px solid #efefef;
}




.node-pelicula.view-mode-pelicula_en_busqueda
.field-name-title-field,
.node-pelicula.node-teaser
.field-name-title-field {
    padding:0px 0px 20px;
}


.node-pelicula.view-mode-pelicula_en_busqueda
.group-right,
.node-pelicula.node-teaser
.group-right {
    font-size: 13px;
    line-height: 130%;
    color:#333333;
}


.field-name-proxima-funcion
.views-field-field-horas-funciones-2 
span,
.field-name-proxima-funcion
.views-field-field-horas-funciones  
span {
    border-left:1px solid #bbb;
    border-right:1px solid #bbb;
    padding:0 3px;
    margin:0 3px;
}

.field-name-proxima-funcion
.views-field-field-horas-funciones-2 
span {
    display: none;
}


.field-name-proxima-funcion
.no-es-hoy 
.views-field-field-horas-funciones-2 
span,
.field-name-proxima-funcion
.no-es-hoy 
.views-field-field-horas-funciones-2 {
    display: block;
}


.field-name-proxima-funcion
.no-es-hoy
.views-field-field-horas-funciones
span,
.field-name-proxima-funcion
.no-es-hoy
.views-field-field-horas-funciones {
    display: none;
}




.field-name-proxima-funcion {
    overflow:hidden;
}


.field-name-proxima-funcion label {
    font-weight: normal;
    float:left;
    padding:2px;
}

.field-name-proxima-funcion label:after {
    content:":";
}


.field-name-proxima-funcion .view-cines-proximas-funciones {
    float:left;
}




.node-pelicula.view-mode-pelicula_en_busqueda
.field-name-field-extracto,
.node-pelicula.node-teaser
.field-name-field-extracto {
    padding:15px 0px 15px;
}


.node-pelicula.view-mode-pelicula_en_busqueda
.field-name-title-field a,
.node-pelicula.node-teaser
.field-name-title-field a{
color:#152443;    
text-decoration: none;
font-size: 18px;
font-family: Arial;   
font-weight: bold;
}



.node-pelicula.view-mode-pelicula_en_busqueda
.field-name-title-field a:hover,
.node-pelicula.node-teaser
.field-name-title-field a:hover{
    text-decoration: underline;
}




.node-pelicula.view-mode-pelicula_en_busqueda
.field-name-field-genero,
.node-pelicula.node-teaser
.field-name-field-genero {
    text-transform: uppercase;
    float:left;
    border-right: 1px solid #71787e;
    padding:0px 5px 0px 0px;
    margin-right: 5px; 
    font-size: 15px;
    color:#71787e;
}

.node-pelicula.view-mode-pelicula_en_busqueda
.field-name-field-duracion-txt,
.node-pelicula.node-teaser
.field-name-field-duracion-txt {
    font-family: Arial;
    font-size: 15px;
}

.view-busqueda-peliculas .views-field-field-tipo-pelicula {
    position:absolute;
    width:115px;
    height: 32px;
    line-height: 32px;
    background:url("../images/peli-destacada-buscador.png") no-repeat left top;
    z-index: 2;
    font-size: 11px;
    padding-left:35px;
    color:white;
    text-align: left;
    text-transform: uppercase;
}



/* Buscador de Pelis */

#views-exposed-form-busqueda-peliculas-page-1  {
border-bottom:1px solid #fd7924;    
padding-bottom:15px;
}


#views-exposed-form-busqueda-peliculas-page-1  
select {
border: 1px solid #D1D1D1;
font: normal 13px Helvetica, Arial, sans-serif;
color: #999;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
text-shadow: none;
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
height: 28px;
line-height: 25px;
width:80%;
}


#views-exposed-form-busqueda-peliculas-page-1  
.views-submit-button {
    width:100%;
    text-align: center;
}

#edit-cine-wrapper,
#edit-genero-wrapper {
    width: 100%;
}

#views-exposed-form-busqueda-peliculas-page-1  {
    color:#666;
}

#views-exposed-form-busqueda-peliculas-page-1
#edit-field-horas-funciones-value-max-wrapper,
#views-exposed-form-busqueda-peliculas-page-1
#edit-field-horas-funciones-value-min-wrapper {
    display: none;
}

#block-views-exp-busqueda-peliculas-page-1
#edit-ciudad-wrapper {
    display: none;
}

#edit-horas-wrapper {
overflow: hidden;
clear: both;
width: 90%;
margin-top: 10px;
margin-bottom: 10px;
border: 1px solid #ccc;
border-top: none;
padding: 5px 10px 10px;
background: url('../images/arrCineDw.png') 260px 5px no-repeat;
}

#edit-horas-wrapper.colapsado {
background: url('../images/arrCineUp.png') 260px 5px no-repeat;
}



#edit-horas-wrapper .opcion-hora{
    width:45%;
    float:left;
    height: 2.5em;
    padding:0 2.5%;
    font-weight: bold;
    font-size: 14px;
    cursor:pointer;
}

#edit-horas-wrapper .horario {
    font-size: 12px;
    font-weight: normal;
    padding-left: 20px;
}
    




/* Proximas funciones: En buscador y en Bloque */


    

#block-views-cines-proximas-funciones-block {
    border-bottom:1px solid #fd7924;        
    padding-bottom:15px;
    font-size: 14px;
}

.view-cines-proximas-funciones .view-content .views-row  {
    display: none;  
}




.view-cines-proximas-funciones
.views-field {
    display: block;
    float: left;
    height: 1.25em;
    padding:2px;
}

.view-cines-proximas-funciones
.views-field.views-field-title-field {
    height: auto;
}

#block-views-cines-proximas-funciones-block
.view-cines-proximas-funciones
.views-field-field-idioma-pelicula,
#block-views-cines-proximas-funciones-block
.view-cines-proximas-funciones
.views-field-field-sala-pelicula {
    color:#717581;
    font-size: 14px;
}

#block-views-cines-proximas-funciones-block
.view-cines-proximas-funciones
.views-field-field-horas-funciones-1,
#block-views-cines-proximas-funciones-block
.view-cines-proximas-funciones
.views-field-field-horas-funciones,
#block-views-cines-proximas-funciones-block
.view-cines-proximas-funciones
.views-field-title-field-1,
#block-views-cines-proximas-funciones-block
.view-cines-proximas-funciones 
.views-field-field-formato-pelicula{
    font-size: 14px;
}

#block-views-cines-proximas-funciones-block
.view-cines-proximas-funciones
.views-field.views-field-title-field-1 {
    border-left:1px solid #727681;
    border-right:1px solid #727681;    
    padding:0px 5px 5px;
    margin:2px 5px 0px;
    height: 8px;
    
}


.view-cines-proximas-funciones
.views-field.views-field-title-field-1 a {
    text-decoration: underline;
}

.view-cines-proximas-funciones
.views-field a {
    text-decoration: none;
}

.view-cines-proximas-funciones
.views-field-field-horas-funciones-1 {
    display: none;
}

#block-views-cines-proximas-funciones-block
.view-cines-proximas-funciones
.views-field-field-horas-funciones,
#block-views-cines-proximas-funciones-block
.view-cines-proximas-funciones
.views-field-field-horas-funciones-2 {
    clear: left;
}

#block-views-cines-proximas-funciones-block
.view-cines-proximas-funciones
.views-field-field-horas-funciones-2 {
    display: none;
}

#block-views-cines-proximas-funciones-block
.view-cines-proximas-funciones
.no-es-hoy
.views-field-field-horas-funciones-2 {
    display: block;
}

#block-views-cines-proximas-funciones-block
.view-cines-proximas-funciones
.no-es-hoy
.views-field-field-horas-funciones {
    display: none;
}




#block-views-cines-proximas-funciones-block
.view-cines-proximas-funciones
.views-row {
    border-bottom: 1px solid #ccc;
    overflow:hidden;
    padding:10px 10px;
    border:0px;
}

.view-cines-proximas-funciones
.views-field-title-field-1 {
    color:#283138;
}


#block-views-cines-proximas-funciones-block
.view-cines-proximas-funciones
.views-row:hover {
    background:#f2f2f2;
}

/* Destacados en Cartelera */

.view-cartelera
.jcarousel-skin-default .jcarousel-prev-horizontal {
    left:-20px;
    top:120px;
    width:20px;
    height: 50px;
    background:url('../images/paginadores-cartelera-destacados.png') -20px 0px;
}

.view-cartelera
.jcarousel-skin-default .jcarousel-prev-horizontal:hover {
    background-position: 0px 0px;
}


.view-cartelera
.jcarousel-skin-default .jcarousel-next-horizontal {
    right:-20px;
    top:120px;
    width:20px;
    height: 50px;
    background:url('../images/paginadores-cartelera-destacados.png') -40px 0px;
}

.view-cartelera
.jcarousel-skin-default .jcarousel-next-horizontal:hover {
    background-position: -60px 0px;
}

.view-cartelera .views-field-field-tipo-pelicula {
    position:absolute;
    width:115px;
    height: 32px;
    line-height: 32px;
    background:url("../images/peli-destacada.png") no-repeat left top;
    z-index: 2;
    font-size: 12px;
    padding-left:35px;
    color:white;
    text-align: left;
}

.view-cartelera
.field-name-title-field {
    padding-top:10px;
    font-family: Arial;
}

.view-cartelera .view-header
.field-name-title-field a {
    font-size:14px;
    text-decoration: none;
    color:#3067aa;
}

.view-cartelera .views-field-field-tipo-pelicula {
    color:white;
    text-transform: uppercase;
}

.view-cartelera
.jcarousel-skin-default .jcarousel-container-horizontal {
    padding:0px;
    width:100%;
    height: 380px;
    border-bottom:1px solid #eee;
    margin-bottom:50px;
    margin-top:20px;
}
.view-cartelera 
.jcarousel-skin-default .jcarousel-clip-horizontal {
    width:100%;
}

.view-cartelera 
.jcarousel-skin-default .jcarousel-item {
    height: 340px;
    border:0px;
}


.view-cartelera .view-header ul.jcarousel {
    position:relative;
}

.view-cartelera .view-header ul.jcarousel li .views-field-nothing {
    position: absolute;
    margin-top:8px;
    overflow:hidden;
    width: 177px;
    z-index: 1;
    margin-left: 11px;
    max-height: 279px;
    display: none;
    font-size: 12px;
    text-align: left;
}

.view-cartelera .view-header ul.jcarousel li .views-field-nothing .field-content {
    background: url('../images/fondo-peli-extracto-destacada-cartelera.png') repeat;
    width: 157px;
    padding:40px 10px 0px;
    height: 259px;
    display: block;
    left: 0px;
    margin-top:279px;
    color:white;
    line-height: 150%;
}

.view-cartelera .view-header ul.jcarousel li .views-field-nothing .field-content a {
    color:white;
    text-decoration: none;
}


.view-cartelera .view-header ul.jcarousel li .views-field-nothing .field-content .ver-mas a {
    color:#faa605;
    text-decoration: none;
    margin-top:10px;
    display: inline-block;
}

.view-cartelera .view-header ul.jcarousel li .views-field-nothing .field-content .ver-mas a:hover {
    text-decoration: underline;
}



.view-cartelera .view-header 
.field-name-field-afiche a {
    display: inline-block;
    border:8px solid #efefef;
}

/* Cartelera */


.view-cartelera table {
    border:0px;
    text-align: center;
}

.view-cartelera table td  {
    width:120px;
    font-size: 12px;
    padding:5px 0;
    
}

.view-cartelera table td .field-name-title-field {
margin: 2px 5px 0 5px;
line-height: 130%;
font-size: 12px;
padding-top: 5px;
}

.view-cartelera table td a {
    color:#707781;
    text-decoration: none;
}

.view-cartelera table td:hover a {
    color:#0062A0;
}



.view-cartelera table td > .views-field-rendered-entity {
    height: 224px;
    width:118px;
    display: inline-block;
    margin-bottom:10px;
}

.view-cartelera table td > .views-field-rendered-entity:hover {
    background:#efefef;
}



.view-cartelera table td > .views-field-rendered-entity .field-name-field-afiche a {
    display: inline-block;
    border:3px #efefef solid;
    border-radius: 5px;
}


/* JCAROUSEL CARTELERA DESTACADOS SIDEBAR */



.view-cartelera.view-display-id-block_1
.jcarousel-skin-default 
.jcarousel-item {
    height: 320px;
    width:180px;
    margin: 0;
}

.view-cartelera.view-display-id-block_1
.jcarousel-skin-default 
.jcarousel-item * {
    display: block;
}


.view-cartelera.view-display-id-block_1
.jcarousel-skin-default .jcarousel-clip-horizontal {
width: 180px;
margin:0 auto;

}


.view-cartelera.view-display-id-block_1
.jcarousel-skin-default 
.jcarousel-next-horizontal {
background: red url('../images/botones-pelis-destacada.png') left top;
width: 25px;
height: 37px;
}

.view-cartelera.view-display-id-block_1 .jcarousel-skin-default .jcarousel-prev-horizontal {
background: url('../images/botones-pelis-destacada.png') left top;
width: 25px;
height: 37px;
left: 47px
}

.view-cartelera.view-display-id-block_1 .jcarousel-skin-default .jcarousel-prev-horizontal.jcarousel-prev-disabled {
background-position: left bottom;
display:block;
margin-top:-1px;
}

.view-cartelera.view-display-id-block_1 .jcarousel-skin-default .jcarousel-next-horizontal {
background: url('../images/botones-pelis-destacada.png') right top;
width: 25px;
height: 37px;
right: 47px;
}



.view-cartelera.view-display-id-block_1 .jcarousel-skin-default .jcarousel-next-horizontal.jcarousel-next-disabled {
background-position: right bottom;
display:block;
margin-top:-1px;
}


.view-cartelera.view-display-id-block_1 .jcarousel-skin-default .jcarousel-prev-horizontal:active,
.view-cartelera.view-display-id-block_1 .jcarousel-skin-default .jcarousel-next-horizontal:active {
    margin-top:2px;
}

.view-cartelera.view-display-id-block_1 .jcarousel-skin-default .views-field-title-field a {
    color:#313f4a;
    font-size:15px;
    text-decoration: none;
}

.view-cartelera.view-display-id-block_1 .jcarousel-skin-default .views-field-title-field a:hover {
    text-decoration: underline;
}


.view-cartelera.view-display-id-block_1 .jcarousel-skin-default .views-field-title-field {
    color:#313f4a;
    font-size:15px;
    margin-top:5px;
}



.view-cartelera.view-display-id-block_1 .jcarousel-skin-default .views-field-field-afiche {
height: 280px;
background: url('../images/botones-pelis-destacada.png') center 21px;
}


.view-cartelera.view-display-id-block_1  .jcarousel-skin-default .jcarousel-container-horizontal {
    height: 330px;
    margin-top:20px;
}




/*
#region-sidebar
.view-cartelera.view-display-id-bloque_destacados_cartelera
.jcarousel-skin-default 
.jcarousel-item {
    height: 340px;
    width:180px;
    margin: 0;
}

#region-sidebar
.view-cartelera.view-display-id-bloque_destacados_cartelera
.jcarousel-skin-default 
.jcarousel-item * {
    display: block;
}


#region-sidebar
.view-cartelera.view-display-id-bloque_destacados_cartelera
.jcarousel-skin-default .jcarousel-clip-horizontal {
width: 180px;
margin:0 auto;

}

#region-sidebar
.view-cartelera.view-display-id-bloque_destacados_cartelera
.jcarousel-skin-default .jcarousel-clip-horizontal ul {
}

#region-sidebar
.view-cartelera.view-display-id-bloque_destacados_cartelera
.jcarousel-skin-default .jcarousel-clip-horizontal ul li {
 width:180px !important;
}



#region-sidebar
.view-cartelera.view-display-id-bloque_destacados_cartelera
.jcarousel-skin-default .jcarousel-clip-horizontal ul.contextual-links {
width:auto !important;
display:none;
}

#region-sidebar
.view-cartelera.view-display-id-bloque_destacados_cartelera
.jcarousel-skin-default .jcarousel-clip-horizontal ul.contextual-links li {
width:auto !important;
}



#region-sidebar
.view-cartelera.view-display-id-bloque_destacados_cartelera
.jcarousel-skin-default 
.jcarousel-next-horizontal {
background: red url('../images/botones-pelis-destacada.png') left top;
width: 25px;
height: 37px;
}

#region-sidebar
.view-cartelera.view-display-id-bloque_destacados_cartelera .jcarousel-skin-default .jcarousel-prev-horizontal {
background: url('../images/botones-pelis-destacada.png') left top;
width: 25px;
height: 37px;
left: 47px
}

#region-sidebar
.view-cartelera.view-display-id-bloque_destacados_cartelera .jcarousel-skin-default .jcarousel-prev-horizontal.jcarousel-prev-disabled {
background-position: left bottom;
display:block;
margin-top:-1px;
}

#region-sidebar
.view-cartelera.view-display-id-bloque_destacados_cartelera .jcarousel-skin-default .jcarousel-next-horizontal {
background: url('../images/botones-pelis-destacada.png') right top;
width: 25px;
height: 37px;
right: 47px;
}



#region-sidebar
.view-cartelera.view-display-id-bloque_destacados_cartelera .jcarousel-skin-default .jcarousel-next-horizontal.jcarousel-next-disabled {
background-position: right bottom;
display:block;
margin-top:-1px;
}


#region-sidebar
.view-cartelera.view-display-id-bloque_destacados_cartelera .jcarousel-skin-default .jcarousel-prev-horizontal:active,
#region-sidebar
.view-cartelera.view-display-id-bloque_destacados_cartelera .jcarousel-skin-default .jcarousel-next-horizontal:active {
    margin-top:2px;
}

#region-sidebar
.view-cartelera.view-display-id-bloque_destacados_cartelera .jcarousel-skin-default .field-name-title-field a {
    color:#313f4a;
    font-size:15px;
    text-decoration: none;
}

#region-sidebar
.view-cartelera.view-display-id-bloque_destacados_cartelera .jcarousel-skin-default .field-name-title-field a:hover {
    text-decoration: underline;
}


#region-sidebar
.view-cartelera.view-display-id-bloque_destacados_cartelera .jcarousel-skin-default .field-name-title-field {
    color:#313f4a;
    font-size:15px;
    margin-top:5px;
}


#region-sidebar
.view-cartelera.view-display-id-bloque_destacados_cartelera .contextual-links {
	display:none;
}


#region-sidebar
.view-cartelera.view-display-id-bloque_destacados_cartelera .jcarousel-skin-default .views-field-nothing {
	display:none;
}


#region-sidebar
.view-cartelera.view-display-id-bloque_destacados_cartelera .jcarousel-skin-default .field-name-field-afiche {
height: 280px;
background: url('../images/botones-pelis-destacada.png') center 21px;
}


#region-sidebar
.view-cartelera.view-display-id-bloque_destacados_cartelera  .jcarousel-skin-default .jcarousel-container-horizontal {
    height: 340px;
    margin-top:20px;
}
*/

/* FIELD COLLECTION ADD */
.action-links.action-links-field-collection-add {
    position:relative;
}

.action-links.action-links-field-collection-add li {
position: fixed;
top: 35%;
right: 0%;
margin: 0;
background: #000;
padding: 0 10px;
border-radius: 5px 0px 0px 5px;
line-height: 20px;
text-align: right;
}


.action-links.action-links-field-collection-add li a {
    color:white;
    line-height: 100%;
}


.page-field-collection-field-funciones-add-node
.action-links.action-links-field-collection-add li {
    display: none;
}



.vertical-tabs {
    clear: both;
}

.field-name-field-horas-funciones.field-widget-date-text {
    display: none;
}

.field-name-field-funciones.field-type-field-collection .field-name-field-horas-funciones{
    display: none;
    clear: both;
}


#field-collection-item-form
#edit-field-pelicula-nr-und,
#field-collection-item-form
#edit-field-pelicula-und {
    width:100%;
}


#field-collection-item-form
#edit-field-horario-vermouth {
    width:10%;
    
}

.field-name-field-pelicula-nr,
.field-name-field-pelicula,
.field-name-field-horario-vermouth,
.field-name-field-horas-funciones-str {
    float: left;
    padding:5px 1%;
    width:15%;
}

.field-collection-item-field-funciones 
.field-name-field-horario-vermouth,
.field-collection-item-field-funciones 
.field-name-field-horas-funciones-str {
    float:right;    
}



.field-collection-item-field-funciones 
.field-name-field-horas-funciones {
    float:left; 
    padding:5px 0 10px 0;
}



.field-name-field-idioma-pelicula,
.field-name-field-formato-pelicula,
.field-name-field-sala-pelicula,
.field-name-field-tipo-pelicula {
    float: left;
    padding:5px 1%;
    width:10%;
}

.field-name-field-horas-funciones-str input[type=text] {
    width:100%;
}

#field-collection-item-form .form-item {
    margin:0px;
}

#cartelera-node-form #edit-field-fecha-cartelera.field-name-field-fecha-cartelera .field-multiple-table {
    margin-top:10px;
    padding:0px;
}

#cartelera-node-form #edit-field-fecha-cartelera.field-name-field-fecha-cartelera .fieldset-content,
#cartelera-node-form #edit-field-fecha-cartelera.field-name-field-fecha-cartelera .form-type-date-popup {
	margin:0px;
    padding-top:0px
}


#edit-field-fecha-cartelera .date-no-float {
    float: left;
    width: auto;
    clear: none;
    width:50%;
}

#edit-field-fecha-cartelera .description {
    display: none;
}

#edit-field-fecha-cartelera td {
    padding:0px;
}


#edit-field-fecha-cartelera th {
    display: none;
}

#edit-field-fecha-cartelera fieldset{
    border:0px;
    padding:0px;
    margin:0px;
}


#edit-field-fecha-cartelera 
.tabledrag-toggle-weight-wrapper {
    display: none;
}

#edit-field-fecha-cartelera legend {
    display: none;
}

#edit-field-fecha-cartelera table tbody {
    border:1px solid #ccc;
}

#edit-field-fecha-cartelera table,
#edit-field-fecha-cartelera table tr {
    border:0px;
}


#edit-field-fecha-cartelera
label {
    display: none;
}

#edit-field-ciudad-ref, #edit-field-complejo {
    float: left;
}

#edit-field-fecha-cartelera-und-0-value label,
#edit-field-fecha-cartelera-und-0-value2 label {
    display: none;
}

#cartelera-node-form .vertical-tabs {
    clear: both;
}

.node-cartelera .field-collection-view .field-label {
    width:auto;
}

#cartelera-node-form #edit-funciones .view-funciones-por-cartelera .view-filters {
    display: none;
}

#field-collection-item-form
.node-cartelera.node-teaser {
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    padding:1em 1em;
    margin:.5em 0em 2em;
}

#field-collection-item-form
.node-cartelera.view-mode-full 
.group-header
{
    border-bottom:1px solid #ccc;    
    margin-top:.5em;
    margin-bottom:1em;
}


#cartelera-node-form .group-middle {
    width:20%;
    margin:4% 2% 4% 5%;
}

#cartelera-node-form .field-multiple-table td.field-multiple-drag {
display: none;
}


#cartelera-node-form .group-right {
    width:28%;
    margin:4% 2%;
    float:left;
}


#field-collection-item-form
.node-cartelera.view-mode-full 
.group-left,
#field-collection-item-form
.node-cartelera.view-mode-full 
.group-middle,
#field-collection-item-form
.node-cartelera.view-mode-full 
.group-right {
    overflow:hidden;
    padding-bottom: 1em;
}


#field-collection-item-form
.node-cartelera.view-mode-full 
.group-footer
{
    border-top:1px solid #ccc;    
    padding-top:1em;
    margin-top:1em;
}



#field-collection-item-form
#edit-field-sala-pelicula
.form-type-checkbox {
    display: block;
    clear: both;
    width:100px;
}

#field-collection-item-form
#edit-field-sala-pelicula
.form-type-checkbox label {
    padding-left:5px;
}


#field-collection-item-form
#edit-field-sala-pelicula
#edit-field-sala-pelicula-und {
    clear: both;
}

#edit-otra-funcion {
text-align: center;
}

#edit-otra-funcion a {
background: transparent url('../images/add.png') no-repeat 0 center;
padding-left: 15px;
}





.iluminar {
    background: rgb(255, 255, 190) url('../images/ok.png') no-repeat 100% 400%;
    min-height: 80px;
    border:1px solid #ccc;
    cursor:pointer;
}

