
#block-menu-menu-administracion-cines {
height: 2.5em;
background: url('../images/cinema-icon.png') no-repeat 10px center;
padding-left: 70px;
padding-top: 15px;
padding-bottom: 15px;
margin-bottom: 15px;
}

#block-menu-menu-administracion-cines ul.menu li a {
    text-decoration: none;
    text-align: center;
    color:#555;
    font-size: 15px;
}

#block-menu-menu-administracion-cines ul.menu li li a {
    font-size: 12px;
}


#block-menu-menu-administracion-cines ul.menu {
margin:0px;
clear: both;
padding:0px;
font-family: arial;
font-size: 12px;
}

#block-menu-menu-administracion-cines ul.menu ul.menu {
width:150px;    
}


#block-menu-menu-administracion-cines ul.menu li {
    float: left;
    display: block;
    position:relative;
    margin:0px;
    padding:0px;    
    border-right: 1px solid white;
}

#block-menu-menu-administracion-cines ul.menu li a {
    background: #eee;
    display: block;
    padding:10px;
    border-right:1px solid white;
    width:129px;
    line-height: 20px;
}

#block-menu-menu-administracion-cines ul.menu li li a {
    line-height: 15px;
    padding:5px;
}


#block-menu-menu-administracion-cines ul.menu li a:hover {
    background: #ddd;
}


#block-menu-menu-administracion-cines ul.menu li ul.menu {
    display: none;
    position:absolute;
    z-index: 100;
    overflow: hidden;
    width:100%;
}

#block-menu-menu-administracion-cines ul.menu li ul.menu li {
    position:relative;
    clear: both;
    line-height: 1.5em;
    display: block;
    width:90%;
}

#block-menu-menu-administracion-cines ul.menu li ul.menu li a {
    border:1px solid white;
    display: block;
}


#block-menu-menu-administracion-cines ul.menu li ul.menu li {
    position:relative;
    clear: both;
    line-height: 1.5em;
    display: block;
    width:100%;
}

#block-menu-menu-administracion-cines ul.menu li ul.menu li a {
    border:1px solid white;
    background: #eee;
    display: block;
    color:#555;
    width:120px;
    margin:0 auto;
}

#block-menu-menu-administracion-cines ul.menu li ul.menu li a:hover {
    background: #ddd;
}


#block-menu-menu-administracion-cines ul.menu li:hover {
}

#block-menu-menu-administracion-cines ul.menu li:hover ul.menu {
    display: block;
}