@CHARSET "UTF-8";


/**
/* MEGAMENU
**/

.region-header-menu .block-title {
  display: none;
  visibility: hidden;
}

.region-header-menu .om-maximenu {
  margin-top: 15px;
}
.region-header-menu .om-maximenu .om-menu {
  margin: 0 0 0 5px;
}

/* Primer nivel (nombres de canales) */
.region-header-menu .om-maximenu .om-menu > li.om-leaf {
  float: left;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
  height: 52px;
}
/* Valores default*/
.region-header-menu .om-menu > li > a,
.region-header-menu .om-menu > li > .active,
.region-header-menu .om-menu > li > .active-trail {
  font: 14px/31px Arial, Helvetica, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFF;
  display: block;
  height: 41px;
  margin: 0px 18px;
  /*webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  border-top: 1px solid rgba(255, 255, 255, 0.1);*/
}

/* Canal activo */
.region-header-menu .om-menu > li.active > .active,
.region-header-menu .om-menu > li.active-trail > a {
  color: #9ac9e0;
}/*
.region-header-menu .om-menu > li.active > .om-maximenu-content,
.region-header-menu .om-menu > li.active-trail > .om-maximenu-content {
  display: none;
  visibility: hidden;
}*/

.region-header-menu .om-menu > li.active:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #1d6aae;
    margin-left: 50%;
    transform:translateX(-50%);
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    -o-transform:translateX(-50%);
    margin-top: 43px;
}

.region-header-menu ul.om-menu li.om-leaf
{
  position: initial;
}

.region-header-menu ul.om-menu li.om-leaf:hover
{
  position: relative;
}


.region-header-menu .om-menu > li.nobg {
  background: transparent none !important;
}

/* Comportamientos del mouse */
.region-header-menu .om-menu > li > .om-link:hover,
.region-header-menu .om-menu > li.open > .om-link {
  /*border-top: 1px solid #ddd;*/
  color: #fff;
  /*font-weight: bold;*/
  text-decoration: underline !important;
}
.region-header-menu .om-menu > li > .om-link.noticias:hover,
.region-header-menu .om-menu > li.open > .om-link.noticias {
  /*border-top-color: #0d3d6d;*/
  background-color: #1268b3;
}
.region-header-menu .om-menu > li > .om-link.opinion:hover,
.region-header-menu .om-menu > li.open > .om-link.opinion {
  /*border-top-color: #4686a2;*/
  background-color: #0d528f;
}
.region-header-menu .om-menu > li > .om-link.deportes:hover,
.region-header-menu .om-menu > li.open > .om-link.deportes {
  /*border-top-color: #2e7a28;*/
  background-color: #489f53;
}
.region-header-menu .om-menu > li > .om-link.vida-estilo:hover,
.region-header-menu .om-menu > li.open > .om-link.vida-estilo {
  /*border-top-color: #e14f29;*/
  background-color: #e86c20;
}
.region-header-menu .om-menu > li.first > .om-link:hover/*,
.region-header-menu .om-menu > li.active-trail > .om-link:hover*/ {
  color: #FFF;
  background: transparent;
  text-decoration: underline !important;
  font-weight: normal;
}

.region-header-menu .om-maximenu .om-leaf .block-menu_block ul.menu {
min-height: 190px;
}

/* Portada */
.page-portada .region-header-menu .om-menu > li > a {
  font-size: 14px;
  padding: 0 19px;
}
.page-portada .region-header-menu .om-menu > li.first {
  display: none;
  visiblity: hidden;
}

.region-header-menu .om-maximenu .om-maximenu-content {
  min-width: 450px;
  background: none #f7f7f7; /* Para simular bordes */
  box-shadow: 1px 3px 4px #666;
  z-index: 500;
}
.leaf-noticias .om-maximenu-content {
  left: -1px;
}
.leaf-opinion .om-maximenu-content,
.leaf-opini-n .om-maximenu-content {
  left: -1px;
}
.leaf-deportes .om-maximenu-content {
  left: -1px;
}
.leaf-vida-y-estilo .om-maximenu-content {
  left: -311px; /* Alineado a la derecha */
}
.region-header-menu .om-maximenu .om-maximenu-content .block {
  display: table-cell;
  padding: 20px 0;
}
.region-header-menu .om-maximenu .om-maximenu-content .block > .title {
  display: none;
  visibility: hidden;
}
.region-header-menu .om-maximenu .om-maximenu-middle {
  /* margin: 1px; Para simular bordes */
  margin-top: 0;
  background: none #fff;
}
.region-header-menu .om-maximenu .om-maximenu-middle-right {
  padding: 0;
}
.region-header-menu .om-maximenu .om-leaf {
  font-family: Arial, Helvetica, sans-serif;
}
.region-header-menu .om-maximenu .om-leaf .block-menu_block {
  width: 170px;
}
.region-header-menu .om-maximenu .om-leaf .block-menu_block li a {
  display: block;
  padding: 6px 15px;
}
.region-header-menu .om-maximenu .om-leaf .block-menu_block,
.region-header-menu .om-maximenu .om-leaf .block-menu_block a {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}
.region-header-menu .om-maximenu .om-leaf .block-menu_block a:hover,
.region-header-menu .om-maximenu .om-leaf .block-menu_block li .active-trail  {
  background-color: rgba(256, 256, 256, 0.2);
}
.region-header-menu .om-maximenu .om-leaf .block-views {
  padding: 20px 10px 0 30px;
}
.region-header-menu .om-maximenu .om-leaf .block-views li {
  list-style-type: square;
  color: #ccc;
  padding: 6px 0;
}
.region-header-menu .om-maximenu .om-leaf .block-views {
  width:240px;
  float:left;
  text-decoration: none;
}

.region-header-menu .om-maximenu .om-leaf .block-views a {
  color: #333;
  font-size: 13px;
  line-height: 15px;
  text-decoration: none;
}

.region-header-menu .om-maximenu .om-leaf .block-views a:hover {
  color: #2d6aa8;
}
.region-header-menu .om-maximenu .leaf-noticias .block-menu_block {
  background-color: #1268b3;
  float:left;
}
.region-header-menu .om-maximenu .leaf-opinion .block-menu_block,
.region-header-menu .om-maximenu .leaf-opini-n .block-menu_block {
  background-color: #0d528f;
  float:left;
}
.region-header-menu .om-maximenu .leaf-deportes .block-menu_block {
  background-color: #489f53;
  float:left;
}
.region-header-menu .om-maximenu .leaf-vida-y-estilo .block-menu_block,
.region-header-menu .om-maximenu .leaf-vida-estilo .block-menu_block {
  background-color: #e86c20;
  float:right;
}

.om-maximenu .om-maximenu-open {
  display: none;
  visibility: hidden;
}


@media only screen and (max-device-width: 767px) {
	#zone-user-wrapper {
    display: none;
    visibility: hidden;
	}
  .om-maximenu-content {
    display: none !important;
    visibility: hidden !important;
  }
}






/* MENU PRINCIPAL (Canales) */
/*
.region-header-menu .block-menu-block {
  float: left;
  display: inline;
}
.region-header-menu .block-menu-block ul.menu,
.region-header-menu .block-menu-block .menu li {
  list-style: none;
  overflow: hidden;
  margin-top: 15px;
}
.region-header-menu .block-menu-block li {
  float: left;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
}
.page-portada .region-header-menu .block-menu-block li.first {
  display: none;
  visiblity: hidden;
}

.region-header-menu .block-menu-block a {
  font: 14px/31px Arial, Helvetica, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: #1268b3;
  display: block;
  height: 41px;
  margin: 0px 18px;
  webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  border-top: 1px solid rgba(255, 255, 255, .1);
}
.page-portada .region-header-menu .block-menu-block a {
  font-size: 15px;
}

.region-header-menu .block-menu-block a:hover {
  border-top: 1px solid #dddddd;
}
.region-header-menu .block-menu-block a.noticias:hover {
  border-top-color: #0d3d6d;
}
.region-header-menu .block-menu-block a.opinion:hover {
  border-top-color: #4686a2;
}
.region-header-menu .block-menu-block a.deportes:hover {
  border-top-color: #2e7a28;
}
.region-header-menu .block-menu-block a.vida-estilo:hover {
  border-top-color: #e14f29;
}

.canal-noticias .region-header-menu .block-menu-block a {
  color: #1268b3/*0d3d6d*//*;
}
.canal-opinion .region-header-menu .block-menu-block a {
  color: #1268b3/*4686a2*//*;
}
.canal-deportes .region-header-menu .block-menu-block a {
  color: #1268b3/*32982a*//*;
}
.canal-vida-estilo .region-header-menu .block-menu-block a {
  color: #1268b3/*792813*//*;
}

.region-header-menu .block-menu-block a.active {
  color: #999999;
}
.canal-noticias .region-header-menu .block-menu-block li.active {
  background: transparent url('../images/menu_canales/sel_noticias.png') center bottom no-repeat;
}
.canal-opinion .region-header-menu .block-menu-block li.active {
  background: transparent url('../images/menu_canales/sel_noticias.png') center bottom no-repeat;
}
.canal-deportes .region-header-menu .block-menu-block li.active {
  background: transparent url('../images/menu_canales/sel_deportes.png') center bottom no-repeat;
}
.canal-vida-estilo .region-header-menu .block-menu-block li.active {
  background: transparent url('../images/menu_canales/sel_vidaEstilo.png') center bottom no-repeat;
}
*/
