@CHARSET "UTF-8";

/* LO MÁS */
.pane-quicktabs-lo-mas {
  margin: 0 40px;
}
.pane-quicktabs-lo-mas .pane-title {
  display: none;
  visibility: hidden;
}
.pane-quicktabs-lo-mas .quicktabs-tabs {
  border-bottom: 2px solid #313f4a;
  float: left;
  height: 35px;
  margin-bottom: 1px;
  width: 100%;
}
.pane-quicktabs-lo-mas .quicktabs-tabs li {
  display: inline-block;
  height: 35px;
  float: left;
}
.pane-quicktabs-lo-mas .quicktabs-tabs li a {
  font: 13px Arial, Helvetica, sans-serif;
  color: #666;
  text-decoration: none;
  text-transform: uppercase;
  height: 15px;
  line-height: 15px;
  padding: 10px;
  display: block;
}
.pane-quicktabs-lo-mas .quicktabs-tabs li.active a {
  background-color: #313f4a;
  color: white;
}
.pane-quicktabs-lo-mas .quicktabs-tabs li .ajax-progress-throbber {
  position: relative;
  top: -40px;
}

.view-lo-mas {
  border-bottom: 3px solid #fc7411;
  float: left;
  width: 100%;
  overflow: hidden;
  margin-bottom:30px;
}
.view-lo-mas ul {
  margin: 0;
}
.view-lo-mas .views-row {
  background: #f7f7f7 url('../images/lo_mas/bg-bottom5.gif') left top repeat-y;
  margin-bottom: 1px;
  clear: both;
  float: left;
  width: 100%;
  position: relative;
  padding: 12px 0;
}
.view-lo-mas .views-field-counter {
  font: 22px Georgia, "Times New Roman", serif;
  width: 34px;
  color: white;
  text-align: center;
  position: absolute;
  height: 30px;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.view-lo-mas .views-field-field-imagen-foto {
  float: left;
}
.view-lo-mas .views-field-field-imagen-foto a img {
  width: 82px;
  margin: 0 12px;
  margin-left: 46px;
  border: 1px solid white;
}
.view-lo-mas .views-field-title {
  margin-left: 46px;
  margin-right: 12px;
}
.view-lo-mas .views-field-title a {
  font: 16px/20px Georgia, "Times New Roman", serif;
  /* line-height: 20px; */
  color: #112842;
  text-decoration: none;
}
.view-lo-mas .views-field-title a:hover {
  color: #2d6aa8;
}
.view-lo-mas .views-field-published-at {
  font: 11px Arial, Helvetica, sans-serif;
  color: #666;
  margin-top: 5px;
  margin-left: 46px;
}
.view-lo-mas .views-row-1,
.view-lo-mas .views-row-2,
.view-lo-mas .views-row-3,
.view-lo-mas .views-row-4,
.view-lo-mas .views-row-5 {
  background: #ebebeb url('../images/lo_mas/bg-top5.gif') left top repeat-y;
}
.view-lo-mas .views-row-1 .views-field-counter,
.view-lo-mas .views-row-2 .views-field-counter,
.view-lo-mas .views-row-3 .views-field-counter,
.view-lo-mas .views-row-4 .views-field-counter,
.view-lo-mas .views-row-5 .views-field-counter {
  font-size: 30px;
}
.view-lo-mas .views-row-6 .views-field-field-imagen-foto,
.view-lo-mas .views-row-7 .views-field-field-imagen-foto,
.view-lo-mas .views-row-8 .views-field-field-imagen-foto,
.view-lo-mas .views-row-9 .views-field-field-imagen-foto,
.view-lo-mas .views-row-10 .views-field-field-imagen-foto {
  display: none;
  visibility: hidden;
}
.view-lo-mas .views-row-1 .views-field-title a,
.view-lo-mas .views-row-2 .views-field-title a,
.view-lo-mas .views-row-3 .views-field-title a,
.view-lo-mas .views-row-4 .views-field-title a,
.view-lo-mas .views-row-5 .views-field-title a {
  font-size: 18px;
}



/* Widget */

.block-quicktabs-lo-mas .block-title {
  font: 15px Arial, Helvetica, sans-serif;
  color: #666;
  text-decoration: none;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.block-quicktabs-lo-mas .quicktabs-tabs {
  border-bottom: 2px solid #313f4a;
  float: left;
  height: 27px;
  margin-bottom: 1px;
  width: 100%;
}
.block-quicktabs-lo-mas .quicktabs-tabs li {
  display: inline-block;
  height: 27px;
  float: left;
}
.block-quicktabs-lo-mas .quicktabs-tabs li a {
  font: 11px Arial, Helvetica, sans-serif;
  color: #666;
  text-decoration: none;
  text-transform: uppercase;
  height: 15px;
  line-height: 15px;
  padding: 6px;
  display: block;
}
.block-quicktabs-lo-mas .quicktabs-tabs li.active a {
  background-color: #313f4a;
  color: white;
}
.block-quicktabs-lo-mas .quicktabs-tabs li .ajax-progress-throbber {
  position: relative;
  top: -40px;
}

.block-quicktabs-lo-mas .view-lo-mas .views-row {
	padding: 4px 0;
}
.block-quicktabs-lo-mas .view-lo-mas .views-field-counter {
  font: 17px Georgia, "Times New Roman", serif;
  height: 20px;
}
.block-quicktabs-lo-mas .view-lo-mas .views-field-title a {
  font: 12px/16px Arial, Helvetica, sans-serif;
}
.block-quicktabs-lo-mas .view-lo-mas .views-field-field-imagen-foto,
.block-quicktabs-lo-mas .view-lo-mas .views-field-published-at {
  display: none;
  visibility: hidden;
}
.block-quicktabs-lo-mas .view-lo-mas .views-row-6 .views-field-title a,
.block-quicktabs-lo-mas .view-lo-mas .views-row-7 .views-field-title a,
.block-quicktabs-lo-mas .view-lo-mas .views-row-8 .views-field-title a,
.block-quicktabs-lo-mas .view-lo-mas .views-row-9 .views-field-title a,
.block-quicktabs-lo-mas .view-lo-mas .views-row-10 .views-field-title a {
  color: #8E9397;
}
.block-quicktabs-lo-mas .view-lo-mas .views-field-title a:hover {
  color: #2d6aa8;
}


