@CHARSET "UTF-8";

#page-title {
	display: none;
	visibility: hidden;
}

/* FOTOGALERIAS - VIDEOS (Portada) */

.view-vista-fotogaleria.view-display-id-block_2 .field-content {
  position: relative;
}
.block-recursos-de-opinion .inside .pane-views .pane-title,
.block-recursos-de-opinion .inside .pane-eluniverso-core-papel-digital .pane-title,
.block-portada-galeria-foto-video .inside .pane-views .pane-title,
.block-busqueda-avanzada .block-title {
  font:normal 14px/16px Arial, Helvetica, sans-serif !important;
  text-transform: uppercase;
  border-top: 2px solid #A5C0DB;
  float: left;
  padding: 8px 15px 8px 2px;
  color: #145095;
  -moz-box-shadow: 2px 2px 6px -4px #111;
  -webkit-box-shadow: 2px 2px 6px -4px #111;
  box-shadow: 2px 2px 6px -4px #111;
  margin-bottom: 10px;
  margin-top: -2px;
  background: white;
  position: relative;
  z-index: 1000;
}
.block-portada-galeria-foto-video .panel-2col {
  padding: 15px 28px;
}
.block-portada-galeria-foto-video .panel-panel .inside {
  border-top: 2px solid #5883B0;
}
.block-portada-galeria-foto-video .panel-col-first .inside {
  margin-right: 13px !important;
}
.block-portada-galeria-foto-video .panel-col-last .inside {
  margin-left: 13px !important;
}
.block-portada-galeria-foto-video .panel-pane {
  clear: both;
}
.view-vista-videos.view-display-id-block img {
  width: 306px;
  height: auto;
  margin: 0px 0px 0px 0px;
}
.view-vista-videos.view-display-id-block .link_video {
  position: relative;
}
.view-vista-videos.view-display-id-block .link_video img {
  width: auto;
  height: auto;
  position:absolute;
  top: 70px;
  left: 120px;
}
.view-vista-videos.view-display-id-block .views-field-field-video .field-content{
  max-height: 200px;
  overflow: hidden;
  width: 306px;
  display: block;
}
.view-vista-videos.view-display-id-block_1 .views-field-field-video {
  overflow: hidden;
  height: 100px;
}
.view-vista-videos.view-display-id-block_1 .link_video {
  position: relative;
}
.view-vista-videos.view-display-id-block_1 .link_video img {
  width: 30px;
  height: auto;
  position:absolute;
  top: 35px;
  left: 60px;
}
.view-vista-fotogaleria.view-display-id-block .view-header,
.view-vista-videos.view-display-id-block .view-header,
.view-vista-videos.view-display-id-block .view-header,
.view-vista-noticias-multimedia.view-display-id-block .view-header {
  font: bold 12px Arial, Helvetica, sans-serif;  
  text-align: right;
  padding-top: 6px;
}
.view-vista-fotogaleria.view-display-id-block .view-header,
.view-vista-fotogaleria.view-display-id-block .view-header a,
.view-vista-videos.view-display-id-block .view-header,
.view-vista-videos.view-display-id-block .view-header a,
.view-vista-noticias-multimedia.view-display-id-block .view-header,
.view-vista-noticias-multimedia.view-display-id-block .view-header a {
  color: gray;
  text-decoration: none;
}
.view-vista-fotogaleria.view-display-id-block .view-content,
.view-vista-videos.view-display-id-block .view-content {
	clear: both;
	margin-top: -15px;
	float: left;
	width: 460px;
}
.view-vista-fotogaleria.view-display-id-block .view-content {
  background-color: #28313a;
}
.view-vista-videos.view-display-id-block .view-content {
  background-color: #122742;
}
.view-vista-fotogaleria.view-display-id-block .view-content:hover,
.view-vista-videos.view-display-id-block .view-content:hover{
  background-color: #172430;
}
.view-vista-fotogaleria.view-display-id-block .views-row,
.view-vista-videos.view-display-id-block .views-row {
  display: block;
  clear: both;
  padding: 0px;
  height: 200px;
}
.view-vista-fotogaleria.view-display-id-block .views-row .views-field-field-imagen-foto,
.view-vista-videos.view-display-id-block .views-row .views-field-field-video {
  width: 306px;
  float: left;
  position: relative;
}
.view-vista-fotogaleria.view-display-id-block .views-row .views-field-title,
.view-vista-videos.view-display-id-block .views-row .views-field-title {
  padding: 20px 10px 6px 316px;
  /*display: block;
  min-width: 133px;*/
}

.view-vista-fotogaleria.view-display-id-block .view-content,
.view-vista-videos.view-display-id-block .view-content{
  overflow: hidden;
}
.view-vista-fotogaleria.view-display-id-block .views-row .views-field-title .field-content,
.view-vista-videos.view-display-id-block .views-row .views-field-title .field-content{
  max-height: 175px;
  overflow: hidden;
  display: block;
}
.view-vista-fotogaleria.view-display-id-block .views-row .views-field-body .field-content,
.view-vista-videos.view-display-id-block .views-row .views-field-body .field-content{
  max-height: 145px;
  overflow: hidden;
  display: block;
}
.view-vista-fotogaleria.view-display-id-block .views-row .views-field-title a,
.view-vista-videos.view-display-id-block .views-row .views-field-title a {
  color: #CADAEA;
  text-decoration: none;
  font: 15px/16px Arial, Helvetica, sans-serif;
}
.view-vista-fotogaleria.view-display-id-block .views-row .views-field-body,
.view-vista-videos.view-display-id-block .views-row .views-field-body {
  padding: 10px;
  padding-left: 316px;
}
.view-vista-fotogaleria.view-display-id-block .views-row .views-field-body,
.view-vista-videos.view-display-id-block .views-row .views-field-body,
.view-vista-fotogaleria.view-display-id-block_2 .views-row .views-field-title,
.view-vista-fotogaleria.view-display-id-block_2 .views-row .views-field-title a,
.view-vista-videos.view-display-id-block_1 .views-row .views-field-title,
.view-vista-videos.view-display-id-block_1 .views-row .views-field-title a {
  color: white;
  text-decoration: none;
  font: normal 12px/15px Arial, Helvetica, sans-serif;
}
.view-vista-fotogaleria.view-display-id-block_2 .view-content,
.view-vista-videos.view-display-id-block_1 .view-content {
  background-color: #28313a;
  float: left;
  width: 460px;
}

.view-vista-videos.view-display-id-block_1 .view-content {
  background-color: #122742;
}
.view-vista-fotogaleria.view-display-id-block_2 .views-row,
.view-vista-videos.view-display-id-block_1 .views-row {
  background-color: #4c555e;
  float: left;
  width: 152px;
  height: 169px;
  border-left: 1px solid #313131;
  border-top: 1px solid #4C555E;
}


/* CSS fix only ie10 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { 
   /* CSS especifico para o IE10 aqui */
.view-vista-fotogaleria.view-display-id-block_2 .views-row, .view-vista-videos.view-display-id-block_1 .views-row {
  width: 151px; }
} 



.view-vista-videos.view-display-id-block_1 .views-row:hover{
  background-color: #1b2e43;
}
.view-vista-fotogaleria.view-display-id-block_2 .views-row:hover{
  background-color: #2d3237;
}
.view-vista-fotogaleria.view-display-id-block_2 .views-row-3{
  /*border-right: 1px solid #313131;*/
}
.view-vista-videos.view-display-id-block_1 .views-row {
  background-color: #243e59;
}
.view-vista-fotogaleria.view-display-id-block_2 .views-row .views-field-title,
.view-vista-videos.view-display-id-block_1 .views-row .views-field-title {
  padding: 7px;  
  display: block;
  max-height: 55px;
  overflow: hidden;
}



/* LO ÚLTIMO EN LAS PORTADAS */

.pane-ultimo-en-las-portadas {
  margin-left: 20px;
}
.pane-ultimo-en-las-portadas .panel-col-top {
  margin-bottom: 20px;
}
.pane-ultimo-en-las-portadas .panel-separator {
  margin: 0;
}
.pane-ultimo-en-las-portadas ul {
  margin: 0;
}
.pane-ultimo-en-las-portadas .pane-title,
.pane-feeds-rss-eluniverso .pane-title {
  margin-top: 0;
  width: 99%;
  padding: 0px 0px 3px 0px;
  padding-left: 1%;
}
.pane-lo-ultimo-en-las-portadas-panel-pane-superior-principal,
.pane-lo-ultimo-en-las-portadas-panel-pane-inferior-principal {
  border-top: 1px solid #ccc;
}
.pane-lo-ultimo-en-las-portadas-panel-pane-superior-secundaria {
  margin-top: 30px;
}
.pane-lo-ultimo-en-las-portadas-panel-pane-inferior-secundaria {
  margin-bottom: 30px;
}
.pane-lo-ultimo-en-las-portadas-panel-pane-superior-principal .pane-title,
.pane-lo-ultimo-en-las-portadas-panel-pane-inferior-principal .pane-title,
.pane-lo-ultimo-en-las-portadas-panel-pane-superior-secundaria .pane-title,
.pane-lo-ultimo-en-las-portadas-panel-pane-inferior-secundaria .pane-title {
  display: none;
  visibility: hidden;
}
.pane-lo-ultimo-en-las-portadas-panel-pane-superior-principal .view-header,
.pane-lo-ultimo-en-las-portadas-panel-pane-inferior-principal .view-header {
  font: normal 15px Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  padding: 7px 2px 0 0;
  border-top: 3px solid #CCC;
  float: left;
  width: auto;
  margin-top: -1px;
  margin-bottom: 10px;
  width: initial;
  position: relative;
}
/* Noticias */
.pane-ultimo-en-las-portadas .portada-noticias .view-header {
  border-color: #115292;
  color: #115292;
}
/* Vida y Estilo */
.pane-ultimo-en-las-portadas .portada-vida-estilo .view-header {
  border-color: #d7551b;
  color: #d7551b;
}
/* Deportes */
.pane-ultimo-en-las-portadas .portada-deportes .view-header {
  border-color: #6b9446;
  color: #6b9446;
}
.pane-ultimo-en-las-portadas .views-row {
  border-bottom: 1px solid #f4f4f4;
}
.pane-ultimo-en-las-portadas .views-row-last {
  border-bottom: 0 none;
}
.pane-ultimo-en-las-portadas .views-row-first {
  border-bottom: 1px solid #f4f4f4;
}
.pane-ultimo-en-las-portadas .pane-lo-ultimo-en-las-portadas-panel-pane-superior-principal .views-row-first {
  border-bottom: 0 none;
}
.pane-ultimo-en-las-portadas .views-field-title {
  padding: 8px 0 8px 10px;  
  background-repeat: no-repeat;
  background-image: url('../images/ultimo_portadas/vineta.png');
}
/* Noticias */
.pane-ultimo-en-las-portadas .portada-noticias .views-field-title {
  background-position: left 15px;
}
/* Vida y Estilo */
.pane-ultimo-en-las-portadas .portada-vida-estilo .views-field-title {
  background-position: -10px 15px;
}
/* Deportes */
.pane-ultimo-en-las-portadas .portada-deportes .views-field-title {
  background-position: -20px 15px;
}
.pane-ultimo-en-las-portadas .pane-lo-ultimo-en-las-portadas-panel-pane-superior-principal .views-field-title {
  background: transparent none;
  padding: 8px 0;
}
.pane-ultimo-en-las-portadas img {
  border: 6px solid #eee;
}
.pane-ultimo-en-las-portadas a {
	background: #fff;
  color: #313131;
  text-decoration: none;
  font-size: 0.8em;
  font-weight: normal;
  padding-top: 5px;
  padding-left: 5px;
  display: block;
  line-height: 15px;
  position: initial !important;
}
.pane-ultimo-en-las-portadas .pane-lo-ultimo-en-las-portadas-panel-pane-superior-principal a {
  font-size: 13px;
}
.pane-ultimo-en-las-portadas a:hover {
  text-decoration: underline;
}
.pane-ultimo-en-las-portadas .pane-lo-ultimo-en-las-portadas-panel-pane-superior-principal .pane-content {
  float: left;
  clear: left;
  width: 50%;
}
.pane-ultimo-en-las-portadas .pane-lo-ultimo-en-las-portadas-panel-pane-superior-secundaria .pane-content {
  float: left;
  width: 50%;
}



/* MÁS NOTICIAS (FEEDS RSS PORTADA) */

.pane-feeds-rss-eluniverso {
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 20px;
}
.pane-feeds-rss-eluniverso .panel-display {
  background-color: #28313a !important;
  padding: 20px 0;
}
.pane-feeds-rss-eluniverso .panel-display .panel-separator {
  height: 20px;
  margin: 0;
}
.pane-feeds-rss-eluniverso .panel-col-first .inside {
  padding: 0 10px 0 20px;
}
.pane-feeds-rss-eluniverso .panel-col-last .inside {
  padding: 0 20px 0 10px;
}
.pane-feeds-rss-el-universo .view-feeds-sitios-el-universo .views-row {
}
.view-feeds-sitios-el-universo .views-field-title-1 {
  float: left;
  position: relative;
  top: 23px;
  margin-top: -23px;
  width: 110px;
  padding: 3px 7px 2px;
}
.view-feeds-sitios-el-universo .views-field-title-1.Doctor-Tecno {
  background-color: #38495d;
}
.view-feeds-sitios-el-universo .views-field-title-1.La-Revista {
  background-color: #cf3a26;
}
.view-feeds-sitios-el-universo .views-field-title-1.Laredso {
  background-color: #01aef0;
}
.view-feeds-sitios-el-universo .views-field-title-1.Interbarriales {
  background-color: #6b9742;
}
.view-feeds-sitios-el-universo .views-field-title-1.Marcador {
  background-color: #8ab30d;
}
.view-feeds-sitios-el-universo .views-field-title-1.Sambo {
  background-color: #c01f25;
}
.view-feeds-sitios-el-universo .views-field-title-1,
.view-feeds-sitios-el-universo .views-field-title-1 a {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-size: 12px;
  font-weight: normal !important;
  text-shadow: 0 1px 2px #000;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  z-index: 10;
}
.view-feeds-sitios-el-universo .views-field-field-imagen {
  width: 210px;
  height: 120px;
}
.view-feeds-sitios-el-universo .views-field-title {
  background-color: #101010;
  width: 200px;
  height: 56px;
  padding: 5px;
}
.view-feeds-sitios-el-universo .views-field-title,
.view-feeds-sitios-el-universo .views-field-title a {
  font-size: 12px;
  font-weight: normal !important;
  line-height: 15px;
  color: #f1f1f1;
  text-decoration: none;
  margin-top: 1px;
}
.view-feeds-sitios-el-universo .views-field-title-1 a,
.view-feeds-sitios-el-universo .views-field-title a {
  display: block;
  width: 100%;
  height: 100%;
}



/* MENU DE SERVICIOS */

.block-menu-servicios {
}
.block-menu-servicios .menu {
  display: block;
  clear: both;
  width: 300px;
  /*height: 200px;*/
  overflow:hidden;
  padding-bottom:10px;
}
.block-menu-servicios .menu li {
  float: left;
  width: 140px;
  border-bottom: 1px dotted #CFCFCF;
  margin: 5px 10px 0px 0px;
}
.block-menu-servicios .menu li a {
  font:12px/22px Arial, Helvetica, sans-serif;
  text-decoration: none;
  display: block;
  padding: 0px 0px 0px 25px;
  background: url('../images/icServicios.png') no-repeat;
  color: #112842;
}
.block-menu-servicios .menu li a:hover {
  color: #586069;
}
.block-menu-servicios .menu li a.cine {
    background-position: 0px 0px;
}
.block-menu-servicios .menu li a.cine:hover {
    background-position: 0px -477px;
}
.block-menu-servicios .menu li a.clima {
    background-position: 0px -30px;
}
.block-menu-servicios .menu li a.clima:hover {
    background-position: 0px -507px;
}
.block-menu-servicios .menu li a.clasificados {
    background-position: 0px -60px;
}
.block-menu-servicios .menu li a.clasificados:hover {
    background-position: 0px -537px;
}
.block-menu-servicios .menu li a.archivo {
    background-position: 0px -90px;
}
.block-menu-servicios .menu li a.archivo:hover {
    background-position: 0px -567px;
}
.block-menu-servicios .menu li a.horoscopo {
    background-position: 0px -120px;
}
.block-menu-servicios .menu li a.horoscopo:hover {
    background-position: 0px -597px;
}
.block-menu-servicios .menu li a.infografias {
    background-position: 0px -150px;
}
.block-menu-servicios .menu li a.infografias:hover {
    background-position: 0px -627px;
}
.block-menu-servicios .menu li a.moviles {
    background-position: 0px -180px;
}
.block-menu-servicios .menu li a.moviles:hover {
    background-position: 0px -657px;
}
.block-menu-servicios .menu li a.radio {
    background-position: 0px -210px;
}
.block-menu-servicios .menu li a.radio:hover {
    background-position: 0px -687px;
}
.block-menu-servicios .menu li a.testigomovil {
    background-position: 0px -240px;
}
.block-menu-servicios .menu li a.testigomovil:hover {
    background-position: 0px -717px;
}
.block-menu-servicios .menu li a.papeldigital {
    background-position: 0px -270px;
}
.block-menu-servicios .menu li a.papeldigital:hover {
    background-position: 0px -747px;
}
.block-menu-servicios .menu li a.tasasdecambio {
    background-position: 0px -298px;
}
.block-menu-servicios .menu li a.tasasdecambio:hover {
    background-position: 0px -775px;
}
.block-menu-servicios .menu li a.telefonosutiles {
    background-position: 0px -330px;
}
.block-menu-servicios .menu li a.telefonosutiles:hover {
    background-position: 0px -807px;
}
.block-menu-servicios .menu li a.trafico {
    background-position: 0px -360px;
}
.block-menu-servicios .menu li a.trafico:hover {
    background-position: 0px -837px;
}
.block-menu-servicios .menu li a.rss {
    background-position: 0px -387px;
}
.block-menu-servicios .menu li a.rss:hover {
    background-position: 0px -864px;
}/*
.block-menu-servicios .menu li a.vozdelosmigrantes {
    background-position: 0px -417px;
}
.block-menu-servicios .menu li a.vozdelosmigrantes:hover {
    background-position: 0px -894px;
}*/
.block-menu-servicios .menu li a.lomas {
    background-position: 0px -446px;
}
.block-menu-servicios .menu li a.lomas:hover {
    background-position: 0px -923px;
}


/* PREVISUALIZACION VIDEOS */
#lightplayer {
  position: relative;
}
#lightplayer header {
  position: absolute;
  top: 365px;
  left: 10px;
  max-height: 30px;
  overflow: hidden;
}
#lightplayer header a {
  text-decoration: none;
  color:#cadaee;
  font: 15px Arial, Helvetica, sans-serif;
}
#lightplayer .btncerrar {
  position: absolute;
  top: 345px; 
  right: 5px;
  text-decoration: none;
  color: #6C6C6C;
  font: 11px Arial, Helvetica, sans-serif;
}




/* TITULAR URGENTE (3 COLUMNAS) */
.block-portada-titular-urgente {
  padding: 15px 30px;
  overflow: hidden;
}
.block-portada-titular-urgente .panel-3col-33-stacked {
  overflow: hidden;
}
.block-portada-titular-urgente .center-wrapper .panel-panel {
  padding-bottom: 20010px;  /* X + padding-bottom */
  margin-bottom: -20000px;  /* X */
}
.block-portada-titular-urgente .panel-col-first .inside {
  margin-right: 10px;
}
.block-portada-titular-urgente .panel-col .inside {
  margin: 0 10px;
}
.block-portada-titular-urgente .panel-col-last .inside {
  margin-left: 10px;
}
/* Columna central (resumen de la nota) */
.block-portada-titular-urgente .view-display-id-block_portada_3col_cita {
  padding: 5px 15px 0 45px;
  font: italic 18px/22px Georgia, "Times New Roman", serif;
  color: #777;
  background: transparent url('../images/blockquote.png') 10px top no-repeat;
  text-shadow: #DDD 1px 1px 0px;
  filter: progid:DXImageTransform.Microsoft.Shadow(color='#DDD', Direction=315, Strength=1);
}
.view-display-id-block_portada_3col_titular .views-field-title,
.view-display-id-block_portada_3col_titular .views-field-title a {
  text-decoration: none;
  font: 2em/1em Georgia, "Times New Roman", serif;
  text-align: center;
  /* color: white; */
}
.view-display-id-block_portada_3col_titular .views-field-field-imagen-foto {
  text-align: center;
  margin: 13px 0;
}
.view-display-id-block_portada_3col_texto .views-field-body {
  font-size: 0.8125em; /* 13px/16px */
  line-height: 1.25em; /* 20px/16px */
}
.view-display-id-block_portada_3col_texto .views-field-comment-count {
  margin: 0;
}
.block-portada-titular-urgente .panel-col-first .view-footer {
  float: left;
  clear: both;
  margin-top: 13px;
}
.block-portada-titular-urgente .panel-col-first .view-footer a {
  color: inherit;
  font-size: 0.8125em; /* 13px/16px */
  line-height: 1.25em; /* 20px/16px */
  text-decoration: none;
}
.block-portada-titular-urgente .panel-col-first .view-footer a:hover {
  text-decoration: underline;
}
.block-portada-titular-urgente .panel-col-last .pane-title {
  color: #6e7e95;
  padding-bottom: 3px;
  margin-bottom: 5px;
  font-size: 0.9375em; /* 15px/16px */
  visibility: hidden;
  display: none;
}
.view-display-id-block_portada_3col_relacionadas .views-row {
  margin: 0px 0px 0px 0px;
  padding: 12px 0px 0px 20px;
  background: url('../images/noticias_relacionadas.png') left 10px no-repeat;
  font-size: 0.75em; /* 12px/16px */
}
.view-display-id-block_portada_3col_relacionadas .views-field-changed {
  color: #6d7e88;
  font-size: 11px;
  padding-top: 4px;
}

