@CHARSET "UTF-8";

/* SLIDER NOTAS CANALES */
/* Entretenimiento */
/* Vida */
/* Portada */
.view-slider-notas-canales {
  float: left;
  width: 100%;
  height: 415px;
}
.page-portada .view-slider-notas-canales {
  height: 360px;
}
.region-content .view-slider-notas-canales {
  margin-bottom: 12px;
}
.view-slider-notas-canales .jcarousel-container-horizontal {
  width: 270px;
  height: 415px;
}
.page-portada .view-slider-notas-canales .jcarousel-container-horizontal {
  width: 295px;
  height: 360px;
}
.view-slider-notas-canales .jcarousel-clip {
  overflow: hidden;
  width: 270px;
  height: 415px;
  -moz-box-shadow: 0 3px 5px -2px rgba(0, 0, 0, 0.55);
  -webkit-box-shadow: 0 3px 5px -2px rgba(0, 0, 0, 0.55);
  box-shadow: 0 3px 5px -2px rgba(0, 0, 0, 0.55);
  border-bottom: 1px solid white;
}
.page-portada .view-slider-notas-canales .jcarousel-clip {
  width: 295px;
  height: 360px;
}
.view-slider-notas-canales .jcarousel-clip .jcarousel-list-horizontal li {
  width: 270px !important;
  height: 415px !important;
}
.page-portada .view-slider-notas-canales .jcarousel-clip .jcarousel-list-horizontal li {
  width: 295px !important;
  height: 360px !important;
}
.view-slider-notas-canales .jcarousel-item .views-field-title {
  /* Esto también hace el texto transparente, no solo el fondo 
  background-color: #112842;
  opacity: 0.7;
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  */
  
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgb(17, 40, 66) transparent;
  /* RGBa with 0.6 opacity */
  background: rgba(17, 40, 66, 0.7);
  /* required for the filters */
  zoom:1;
  /* For IE 5.5 - 7*/
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#b2112842, endColorstr=#b2112842);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#b2112842, endColorstr=#b2112842)";
  
  bottom: 60px;
  display: block;
  padding: 10px;
  position: absolute;
  width: 240px;
}
.view-slider-notas-canales .jcarousel-item .views-field-title a {
  font: normal 17px/20px Arial, Helvetica, sans-serif;
  color: #fff;
  text-decoration: none;
  letter-spacing: 0.02em; /* 1px/16px */
}
.view-slider-notas-canales .jcarousel-navigation {
  list-style-type: none;
  float: right;
  position: relative;
  top: -40px;
  right: -3px;
  background: transparent url('../images/slider_notas_canales/slider-nav-bg.png') right top no-repeat;
  padding: 0 10px;
  width: 70px;
  height: 26px;
}
.view-slider-notas-canales .jcarousel-navigation li {
  list-style: none;
  background: transparent url('../images/slider_notas_canales/slider-bullet.png') left center no-repeat;
  display: block;
  width: 20px;
  height: 20px;
  float: left;
}
.view-slider-notas-canales .jcarousel-navigation li.active {
  background-position: -20px center;
}
.view-slider-notas-canales .jcarousel-navigation li a {
  width: 100%;
  height: 100%;
  float: left;
}
.view-slider-notas-canales .jcarousel-navigation li a span {
  display: none;
  visibility: hidden;
}
