/* Correccion menu JS Gianella */
.region-header-topics-inner ul.term-queue-links
{
font-family: Arial, Helvetica, sans-serif;
font-size: 13px;
color: #c9ddf5;
display: inline !important;
width: 10000px !important;
}


.region-header-topics-inner .term-queue-links > li
{
float: left;
text-align: center;

}

.region-header-topics-inner .term-queue-links li a {
	color: #92ccff;
	text-decoration: none;
	opacity: 0.8;
	filter: alpha(opacity=80);
	filter: "alpha(opacity=80)";
	}

.region-header-topics-inner .term-queue-links > li a:hover {
	color: white;
	font-weight: bold;
	text-decoration: none;
	opacity: 1;
	filter: alpha(opacity=100);
	filter: "alpha(opacity=100)";
}

.region-header-topics ul li.leaf a.active {
    color: #FFF;
    font-weight: bold;
}




/* Estilos de la barra Esta pasando */
.jcarousel-skin-eluniverso {
	float: left;
}

.jcarousel-skin-eluniverso .jcarousel-container {
}
.jcarousel-skin-eluniverso .jcarousel-container-horizontal {
  width: 930px;
}

.canal-vida-estilo .region-header-topics .jcarousel-container-horizontal,
.canal-deportes .region-header-topics .jcarousel-container-horizontal,
.canal-noticias .region-header-topics .jcarousel-container-horizontal,
.canal-opinion .region-header-topics .jcarousel-container-horizontal{
  width: 580px;  
}

.jcarousel-skin-eluniverso .jcarousel-clip {
  overflow: hidden;
}
.jcarousel-skin-eluniverso .jcarousel-clip-horizontal {
  width: 930px;
  height: 30px;
}

.canal-vida-estilo .region-header-topics .jcarousel-clip-horizontal,
.canal-deportes .region-header-topics .jcarousel-clip-horizontal,
.canal-noticias .region-header-topics .jcarousel-clip-horizontal,
.canal-opinion .region-header-topics .jcarousel-clip-horizontal{
  width: 580px;  
}

.jcarousel-skin-eluniverso .jcarousel-list {
}
.jcarousel-skin-eluniverso .jcarousel-list-horizontal {
  font-family: Helvetica, TeXGyreHerosRegular, Arial, sans-serif;
  font-size: 0.8125em; /* 13px/16px */
  color: #c9ddf5;
  display: inline;
  width: 10000px !important;
}

.jcarousel-skin-eluniverso .jcarousel-item {
}
.jcarousel-skin-eluniverso .jcarousel-item-horizontal {
  float: left;
  text-align: center;
}
.jcarousel-skin-eluniverso .jcarousel-item-horizontal a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  opacity: 0.8;
  filter: alpha(opacity=80);
  ms-filter: alpha(opacity=100);
}
.jcarousel-skin-eluniverso .jcarousel-item-horizontal a:hover {
  color: white;
  font-weight: bold;
  text-decoration: none;
  opacity: 1;
  filter: alpha(opacity=100);
  ms-filter: alpha(opacity=100);
}

.jcarousel-skin-eluniverso .jcarousel-item-placeholder {
	background: #fff;
	color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-eluniverso .jcarousel-prev-horizontal {
  position: absolute;
  top: 7px;
  right: -20px;
  width: 20px;
  height: 15px;
  margin-top: 0px;
  cursor: pointer;
  background: transparent url('../images/barraTopicos/flechas.png') no-repeat 0 0;
}
.jcarousel-skin-eluniverso .jcarousel-prev-horizontal:hover, 
.jcarousel-skin-eluniverso .jcarousel-prev-horizontal:focus {
  background-position: -20px 0;
}
.jcarousel-skin-eluniverso .jcarousel-prev-horizontal:active {
  background-position: -40px 0;
}
.jcarousel-skin-eluniverso .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-eluniverso .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-eluniverso .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-eluniverso .jcarousel-prev-disabled-horizontal:active {
  cursor: default;
  background-position: -60px 0;
}

.jcarousel-skin-eluniverso .jcarousel-next-horizontal {
  position: absolute;
  top: 7px;
  right: -40px;
  width: 20px;
  height: 15px;
  margin-top: 0px;
  cursor: pointer;
  background: transparent url('../images/barraTopicos/flechas.png') no-repeat -80px 0;
}
.jcarousel-skin-eluniverso .jcarousel-next-horizontal:hover,
.jcarousel-skin-eluniverso .jcarousel-next-horizontal:focus {
  background-position: -100px 0;
}
.jcarousel-skin-eluniverso .jcarousel-next-horizontal:active {
  background-position: -120px 0;
}
.jcarousel-skin-eluniverso .jcarousel-next-disabled-horizontal,
.jcarousel-skin-eluniverso .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-eluniverso .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-eluniverso .jcarousel-next-disabled-horizontal:active {
  cursor: default;
  background-position: -140px 0;
}
