@CHARSET "UTF-8";

#twtr-widget-1.twtr-widget .twtr-doc, 
#twtr-widget-1 .twtr-doc .twtr-hd a, 
#twtr-widget-1 .twtr-doc h3, 
#twtr-widget-1 .twtr-doc h4 {
	background-color: white !important;
	color: white !important;
}

#twtr-widget-1.twtr-widget .twtr-doc {
	float: left;
  width: 100%;
  border: 0 none;
}

.twtr-doc .twtr-hd,
.twtr-doc .twtr-ft {
  display: none;
  visibility: hidden;
}

#twtr-widget-1 .twtr-doc .twtr-bd {
    padding: 0;
}

#twtr-widget-1 .twtr-doc .twtr-new-results, 
#twtr-widget-1 .twtr-doc .twtr-results-inner, 
#twtr-widget-1 .twtr-doc .twtr-timeline {
  background: white !important;
}

#twtr-widget-1 .twtr-doc .twtr-bd, 
#twtr-widget-1 .twtr-doc .twtr-bd .twtr-timeline i a, 
#twtr-widget-1 .twtr-doc .twtr-bd p {
  color: #353535 !important;
	font: 11px Arial, Helvetica, sans-serif;
}

#twtr-widget-1 .twtr-tweets .twtr-tweet a {
  color: #4F7ECE !important;
}
#twtr-widget-1 .twtr-tweets .twtr-tweet a.twtr-user,
.twtr-user {
  color: #1a2a3a !important;
  font-weight: BOLD;
  width: 100%;
  float: left;
}
#twtr-widget-1 .twtr-tweets .twtr-tweet em a {
  color: #CCC !important;
}