@CHARSET "UTF-8";

/* Estilos especificos de la version desktop */
.region-sidebar .block-bean {
	padding-right: 10px;
}
.region-sidebar .block-bean .block-title {
  color: #4e6680;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal !important;
  text-transform: uppercase;
}


/* Widget tipo 1 */
article.view-mode-widget_unico_elemento_destacado {
	margin-top: -2em;
	cursor: pointer;
	padding: 30px 0;
}
article.view-mode-widget_unico_elemento_destacado h3 {
  float: left;
	position: relative;
	top: 2em;
	z-index: 1;
	background-color: #28303A;
	margin: 0;
	padding: 0.5em 1em;
  font-weight: normal;
  font-size: 1em;
  line-height: 1em;
	color: white;
	text-transform: uppercase;
}
article.view-mode-widget_unico_elemento_destacado .field-type-node-reference,
article.view-mode-widget_unico_elemento_destacado .field-type-image {
	/*overflow: hidden;*/
	float: none;
	width: 100%;
}
article.view-mode-widget_unico_elemento_destacado img {
	width: 100%;
	height: auto;
  vertical-align: bottom;
}
article.view-mode-widget_unico_elemento_destacado i.fa {
	position: absolute;
	float: left;
	padding: 10px;
	color: white;
	font-size: 0.9em;
}
article.view-mode-widget_unico_elemento_destacado em {
  display: none;
  visibility: hidden;
}
article.view-mode-widget_unico_elemento_destacado h2 {
	clear: both;
	color: white;
	background-color: #28303a;
	margin: 0;
	padding: 0.5em;
	border-top: 1px solid #4c545e;
	border-bottom: 5px solid #4c545e;
  text-transform: none;
  font-weight: normal;
  font-size: 0.9em;
}
article.view-mode-widget_unico_elemento_destacado h2 a {
	text-decoration: none;
	color: white;
	font-size: 100%;
}
article.node-galeria.view-mode-widget_unico_elemento_destacado h2,
article.node-video.view-mode-widget_unico_elemento_destacado h2 {
	padding-left: 35px;
}


/* Widget tipo 2 */
article.view-mode-widget_lista_de_elementos {
  padding: 0.5em 0;
  cursor: pointer;
  border-bottom: 1px solid #EEE;
}
article.view-mode-widget_lista_de_elementos .group-left {
	width: 65%;
}
article.view-mode-widget_lista_de_elementos .group-right {
  width: 25%;
}
article.view-mode-widget_lista_de_elementos .field-name-tipo-de-contenido {
	color: #666;
	/*height: 1000px;
	margin-bottom: -1000px;*/
	width: 20px;
	display: block;
	float: left;
	overflow: hidden;
	font-size: 0.9em;
	text-align: center;
}
article.view-mode-widget_lista_de_elementos .field-name-tipo-de-contenido em {
  display: none;
  visibility: hidden;
}
article.view-mode-widget_lista_de_elementos .field-type-node-reference,
article.view-mode-widget_lista_de_elementos .field-type-image {
  overflow: hidden;
  float: left;
  width: 100%;
}
article.view-mode-widget_lista_de_elementos img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}
article.view-mode-widget_lista_de_elementos h3 {
	margin-left: 25px;
  font-size: 0.9em;
  color: #1767ae;
}
article.view-mode-widget_lista_de_elementos h3 a {
  text-decoration: none;
  color: #1767ae;
  font-size: 100%;
}
article.view-mode-widget_lista_de_elementos:hover {
	background-color: #EEE;
}
article.view-mode-widget_lista_de_elementos:hover h3,
article.view-mode-widget_lista_de_elementos:hover h3 a,
article.view-mode-widget_lista_de_elementos h3:hover,
article.view-mode-widget_lista_de_elementos h3 a:hover {
  color: #28303a;
}


/* Widget tipo 3 */
article.view-mode-widget_columna_con_creditos {
  padding: 0.5em 0;
  padding-bottom: 0;
  cursor: pointer;
  border-bottom: 1px solid #EEE;
}
article.view-mode-widget_columna_con_creditos .group-left {
  width: 65%;
}
article.view-mode-widget_columna_con_creditos .group-right {
  width: 25%;
}
article.view-mode-widget_columna_con_creditos h3 {
  max-width: 70%;
  font-family: Georgia,"Times New Roman",serif;
  font-size: 1em;
}
article.view-mode-widget_columna_con_creditos h3,
article.view-mode-widget_columna_con_creditos h3 a {
  color: #112842;
  text-decoration: none;
}
article.view-mode-widget_columna_con_creditos h4 {
  font-size: 0.8em;
  color: #1767ae;
}
article.view-mode-widget_columna_con_creditos img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
  position: relative;
  top: -1em;
}
article.view-mode-widget_columna_con_creditos:hover {
  background-color: #EEE;
}
article.view-mode-widget_columna_con_creditos:hover h3 {
}

/*
article.view-mode-widget_lista_de_elementos .field-type-node-reference,
article.view-mode-widget_lista_de_elementos .field-type-image {
  overflow: hidden;
  float: left;
  width: 100%;
}
article.view-mode-widget_lista_de_elementos h3 {
  margin-left: 25px;
  font-size: 0.9em;
  color: #1767ae;
}
article.view-mode-widget_lista_de_elementos h3 a {
  text-decoration: none;
  color: #1767ae;
  font-size: 100%;
}

article.view-mode-widget_lista_de_elementos:hover h3,
article.view-mode-widget_lista_de_elementos:hover h3 a,
article.view-mode-widget_lista_de_elementos h3:hover,
article.view-mode-widget_lista_de_elementos h3 a:hover {
  color: #28303a;
}
*/

