@font-face{
	font-family: 'bignoodletitling';
	src: url('../base/fonts/big_noodle_titling.eot');
	src: url('../base/fonts/big_noodle_titling.eot?#iefix') format('embedded-opentype'),
		url('../base/fonts/big_noodle_titling.woff') format('woff'),
		url('../base/fonts/big_noodle_titling.ttf') format('truetype'),
		url('../base/fonts/big_noodle_titling.svg#bignoodletitlingregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* bonussites */
.sites {
	font-family: "bignoodletitling";
	font-size: 52px;
	color: #ccc;
	text-align: center;
}
.sites.padded { padding: 40px 0 30px; }
.sites a { text-decoration: none; color: #ccc; }
.sites span.count { font-size: 64px; }
.sites span.red { color: #e00; }

/* Deutsch */
.de .sites { font-size: 36px; }
.de .sites span.count { font-size: 50px; }