@charset "utf-8";
body, p, ul, ol, div, a, img, h1, h2, h3, h4, h5, h6, hr, form, table, tr, td{
	margin: 0;
	padding: 0;
	border: 0;
}
body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 80%;
	color: #999;
	background: #141414;
}
body.hp{
	background: #141414;
}
p, ul, ol, div, form, table, tr, td{
	line-height: 1.4em;
}
p{
	margin-bottom: 1.5em;
}
h1, h2, h3, h4{
	line-height: 1.3em;
	margin-bottom: 0.4em;
	color: #fff;
}
h1, h2.big{
	font-size: 1.8em;
	font-weight: normal;
}
h2{
	font-size: 1.3em;
	font-weight: normal;
}
h3{
	font-size: 1.2em;
	font-weight: normal;
}
h4{
	font-size: 1em;
	font-weight: normal;
}
a{
	color: #e00;
	text-decoration: underline;
}
a:hover{
	text-decoration: none;
}
.main ul{
	list-style: none;
	padding-left: 10px;
	margin-bottom: 1.2em;
	position: relative;
}
.main ul li{
	padding-left: 15px;
	margin-bottom: 0.2em;
}
.main .big-box ul li{
	padding-left: 0px;
}
.main .big-box .error-label ul li{
	margin-bottom: 0.2em;
	margin-right: 13px;
	text-align: right;
	padding-left: 0px;
}
ol{
	padding-left: 33px;
	margin-bottom: 1.4em;
}
.main hr{
	background: #161616;
	color: #161616;
	border: 0;
	height: 1px;
	margin: 1.5em auto;
	#margin-top: -0.4em;
	#margin-bottom: 1em;
	width: 100%;
}
sub, sup{
	vertical-align: baseline;
	position: relative;
}
sub{
	top: 0.4em;
}
sup{
	bottom: 0.4em;
}

.input-text, textarea, select{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #434343;
}

.container{
	width: 980px;
	margin: 0 auto;
	padding: 0 1px;
	position: relative;
	background-color: #000;
}
.top_background .container{
	background: none;
}
.hp .container{
	background: url(images/container_hp_bg.png) repeat-y center top #000;
}

.header{
	height: 73px;
	background: #570001;
	position: relative;
}
.header h1, .header p{
	margin: 0;
}
.home{
	display: block;
	width: 181px;
	height: 43px;
	position: absolute !important;
	top: 18px;
	left: 31px;
	font-size: 1.8em;
	line-height: 1.3em;
	margin-bottom: 0.4em;
}
.home span{
	width: 181px;
	height: 43px;
	background: #570001 url(images/czech_av.png) no-repeat;
}
.home a{
	color: #fff;
}

.hp .header{
	height: auto;
	text-align: center;
	padding-top: 180px;
	padding-bottom: 1em;
	margin-bottom: 1em;
	background: url(images/header_hp_bg.png) repeat-x #1D1D1D;
}
.hp .header .buttons{
	padding: 12px 0 27px 0;
}
.hp .header .buttons ul{
	display: inline-block;
}
.hp .header .buttons li{
	float: left;
}
.hp .header .buttons a{
	padding: 6px 12px;
	margin: 0 2px;
	display: block;
}
.hp .header .button-red{
	font-size: 1.2em;
}
.hp .home{
	width: 551px;
	height: 129px;
	top: 36px;
	left: 214px;
	font-size: 0em;
}
.hp .home span{
	width: 551px;
	height: 129px;
	background: url(images/czech_av_big.png) no-repeat;
}

.navigation{
	display: none;
}

.player{
	width: 980px;
	height: 551px;
}

.menu-top{
	background-color: #940001;
	padding: 10px 11px;
}
.menu-top .container {
	background: none;
}
.menu-top ul{
	list-style: none;
	font-size: 1.1em;
}
.menu-top ul li{
	float: left;
	padding: 0 31px;
	background: url(images/menu_top_line.png) no-repeat right 0.1em;
}
.menu-top ul li.last{
	background: 0;
}
.menu-top a{
	color: #fff;
	text-decoration: none;
}
.menu-top a:hover{
	color: #FFE580;
}
.menu-top a.active{
	color: #fc0;
}

.infobar{
	background: url(images/info_bg.png) repeat-x #272727;
	border-bottom: 1px solid #515151;
	padding: 12px 31px;
	position: relative;
}
.infobar p{
	margin: 0;
	font-size: 0.9em;
}
.infobar .highlight{
	color: #fc0;
	padding-right: 3px;
}
.ico-home{
	background: url(images/ico_home.png) no-repeat 0 0.1em;
	padding-left: 16px;
}
.infobar a{
	color: #C6C6C6;
	text-decoration: none;
}
.infobar a:hover{
	color: #fff;
}
.nav{
	width: 5px;
	height: 12px;
	color: #666;
	background: url(images/navigation_item.png) no-repeat 0 0.1em;
	padding-left: 12px;
	margin-left: 5px;
}
.search{
	position: absolute;
	top: 11px;
	right: 12px;
	font-size: 0.86em;
	line-height: 1em;
}
.search div{
	float: left;
	padding-right: 5px;
}
.search select{
	padding: 0.12em 0.2em;
}
.search .input-text{
	padding: 0.2em;
}
.search .input-text, .search select{
	background: #E0E0E0;
	border: 1px solid #B6B6B6;
	margin: 0;
}

.box-hp{
	margin: 1.5em 30px 1.5em 445px;
	background: #151515;
	position: relative;
	padding: 20px;
	min-height: 174px;
}
.box-hp img{
	position: absolute;
	top: 0px;
	left: -415px;
}
.box-hp h2{
	font-size: 2em;
}
.box-hp p{
	font-size: 0.86em;
	margin-bottom: 0.7em;
}
.box-hp p strong{
	color: #fff;
}
.box-hp .button-red{
	font-size: 1.25em;
}

.right{
	float: right;
	width: 768px;
}

.topstory{
	position: relative;
	padding: 0px;
	margin-bottom: 20px;
	height: 423px;
	width: 752px;
	top: 16px;
}
.topstory a{
	display: block;
	height: 423px;
	text-decoration: none;
}
.topstory .latest{
	margin: auto;
	position: absolute;
	height: 423px;
	top: 0px;
	text-align: center;
	width: 100%;
}
.topstory .latest img{
	margin: auto;
	text-align: center;
	position: relative;
	top: 0px;
}
.topstory h2{
	font-size: 1.30em;
	text-transform: uppercase;
	border-bottom: 1px solid #212121;
	padding-bottom: 0px;
	margin-bottom: 0px;
	border: none;
	font-weight: bold;
}
.topstory img{
	position: absolute;
	top: 16px;
	left: 0;
}
.topstory .topstory-title{
	width: 100%;
	display: block;
	position: absolute;
	bottom: 0px;
}
.topstory .topstory-title-shadow{
	width: 100%;
	height: 100%;
	display: block;
	background-color: #000;
	position: absolute;
	opacity: 0.4;
	filter: alpha(opacity=40);
	-moz-opacity: 0.4;
	-khtml-opacity: 0.4;
}
.topstory .topstory-title-text{
	padding: 10px 15px;
	color: #fff;
	position: relative;
}
.topstory .text{
	font-size: 1em;
	margin-bottom: 0px;
}
.tag-recommended{
	width: 152px;
	height: 26px;
	margin-top: 7px;
	margin-bottom: 0.9em;
}
.tag-recommended span{
	width: 152px;
	height: 26px;
	background: url(images/tag_recommended.png) no-repeat;
}
.tag-new{
	width: 63px;
	height: 26px;
	margin-top: 0px;
	margin-bottom: 0.9em;
}
.tag-new span{
	width: 63px;
	height: 26px;
	background: url(images/tag_new.png) no-repeat;
}
.de .tag-new span {
	background-image: url(images/tag_new_de.png);
}
.btn-view-scene{
	width: 200px;
	height: 30px;
	padding-top: 8px;
	text-align: center;
	font-size: 2em;
}
.btn-view-scene span{
	width: 200px;
	height: 38px;
	background: url(images/btn_view_scene.png) no-repeat;
}
.btn-view-scene:hover span{
	background: url(images/btn_view_scene.png) no-repeat 0 -38px;
}
.topstory-bottom{
	border-top: 1px solid #212121;
	padding-top: 1em;
	position: relative;
}
.topstory .info{
	font-size: 0.95em;
	position: absolute;
	top: 22px;
	right: 15px;
}

.page{
	padding-top: 21px;
}

.inner{
	background: url(images/inner_bg.png) repeat-x #000;
	padding-top: 13px;
	margin-top: 16px;
	overflow: hidden;
}
.inner.blank{
	background: transparent;
	padding-top: 0px;
}
.inner-head{
	padding-left: 20px;
	position: relative;
	padding-bottom: 5px;
	margin-bottom: 1em;
	margin-right: 16px;
}
.page .inner-head{
	border-bottom: 0;
	padding-bottom: 0;
}
.inner-head h2{
	text-transform: uppercase;
	font-size: 1.4em;
}
.inner-head .info{
	position: absolute;
	top: 0;
	right: 0;
	color: #373737;
	font-size: 1.2em;
}

.boxes{
	margin-bottom: 1em;
	width: 996px;
	padding-left: 1px;
}
.detail{
	padding-left: 13px;
}
.box{
	float: left;
	width: 260px;
	position: relative;
	margin-bottom: 15px;
}
.detail .box{
	width: 303px;
}
.box .thumb{
	margin-bottom: 0;
	line-height: 1em;
}
.box img{
	border: 3px solid #fff;
}
.box img:hover{
	border: 3px solid #fff;
}
.box .info{
	margin-bottom: 0.5em;
	padding-top: 0.8em;
	font-size: 0.95em;
	width: 232px;
}
.box p{
	font-weight: bold;
	color: #8F0000;
}
.box .info a{
	text-decoration: none;
	color: #fff;
}
.box .info span{
	padding: 0 5px;
	color: #6F0000;
}
.box .info a:hover{
	color: #fff;
}
.button-silver{
	color: #000;
	background: #ccc;
	text-decoration: none;
	padding: 1px 8px;
}
.button-silver:hover{
	background: #E5E5E5;
}

.article{
	padding: 10px 30px 10px 30px;
}
.inner.article{
	padding-top: 16px;
	margin-top: 0px;
	background: url(images/inner_article_bg.png) repeat-x;
}
.article .tag{
	display: block;
	float: left;
	background: #c00;
	padding: 2px 10px;
	color: #fff;
	font-size: 0.86em;
	margin-right: 10px;
	margin-top: 4px;
}
.article .boxes{
	padding-top: 15px;
}
.article .box p{
	padding-left: 45px;
}
.article .detail .box p{
	padding-left: 29px;
}
.article .box .info{
}
.article .box-left{
	width: 290px;
	background: url(images/article_box_line.png) no-repeat right top;
}
.article .box-center{
	width: 290px;
	padding-left: 48px;
	background: url(images/article_box_line.png) no-repeat right top;
}
.article .box-right{
	width: 238px;
	padding-left: 48px;
}

.video{
	line-height: 1em;
}
.video-bar{
	background: url(images/inner_bg.png) repeat-x;
	font-size: 0.95em;
	border-bottom: 1px solid #1E1E1E;
	margin-bottom: 2em;
}
.video-bar p{
	margin-bottom: 0;
}
.video-bar-left{
	width: 280px;
	float: left;
	padding: 12px 30px;
}
.button-grey{
	color: #999;
	background: #323232;
	border-top: 1px solid #0E0E0E;
	border-left: 1px solid #0E0E0E;
	text-decoration: none;
	padding: 3px 8px;
	margin: 0 1px;
}
.button-grey:hover{
	background: #404040;
	color: #A6A6A6;
}
.video-bar .button-red, .video-bar .button-red:hover{
	padding: 3px 8px;
	border: 0;
	background: #C30202;
	margin: 0 1px;
}
.video-bar-center{
	height: 19px;
	width: 158px;
	border-left: 1px solid #1E1E1E;
	border-right: 1px solid #1E1E1E;
	float: left;
	padding: 12px 30px;
}
.video-bar-center select{
	margin-left: 3px;
	font-size: 1em;
	background: #171717;
	border: 1px solid #070707;
	margin: 0;
	padding: 0.12em 0.2em;
	color: #ccc;
	width: 150px;
}
.video-bar-right{
	width: 360px;
	float: left;
	padding: 12px 30px;
	text-align: right;
}
.video-bar-right a{
	color: #ccc;
	text-decoration: none;
}
.video-bar-right a:hover{
	color: #fff;
}
.arrow-left-red{
	background: url(images/arrow_left_red.png) no-repeat 0 0.15em;
	padding-left: 20px;
}
.arrow-right-red{
	background: url(images/arrow_right_red.png) no-repeat right 0.15em;
	padding-right: 20px; margin-left: 20px;
}

.buttons{
	text-align: center;
	padding-bottom: 15px;
}
.buttons li{
	display: inline;
	padding: 0 2px !important;
}
.button-red{
	background: url(images/button_red_bg.png) repeat-x #B90000;
	color: #fff;
	border: 1px solid #f00;
	text-decoration: none;
	padding: 6px 18px;
}
.button-red:hover{
	background: #b00;
	border: 1px solid #d00;
}

.listing{
	background: url(images/listing_bg.png) repeat-x #2D2D2D;
	margin-right: 16px;
	margin-bottom: 2em;
	min-height: 1px;
}
.listing-left{
	font-size: 0.95em;
	color: #fff;
	padding: 8px 0 8px 20px;
	float: left;
}
.listing-left p{
	margin-bottom: 0;
}
.listing-right{
	float: right;
}
.listing-right ul{
	padding: 0 !important;
	margin: 0 !important;
}
.listing-right li{
	float: left;
	list-style: none;
	border-left: 1px solid #101010;
	padding: 0 !important;
	margin: 0 !important;
}
.listing-right a, .listing-right span{
	display: block;
	padding: 8px 11px;
	color: #fff;
}
.listing-right a{
	text-decoration: none;
}
.listing-right a:hover{
	background: #454545;
}
.listing-right span.selected{
	background: #900000;
	color: #FC0;
}
.listing-right .arrow-left{
	background: url(images/listing_left.png) no-repeat 0.75em 0.7em #900000;
}
.listing-right .arrow-right{
	background: url(images/listing_right.png) no-repeat 0.95em 0.7em #900000;
}
.listing-right .arrow-left:hover{
	background: url(images/listing_left.png) no-repeat 0.75em 0.7em #e00;
}
.listing-right .arrow-right:hover{
	background: url(images/listing_right.png) no-repeat 0.95em 0.7em #e00;
}

.full{
	padding-top: 2px;
}

.left{
	width: 180px;
	padding: 16px 12px;
	float: left;
}
.left h2{
	background-color: #940001;
	font-size: 0.85em;
	margin-bottom: 0 !important;
}
.left h2.leftblank{
	margin-top: 3em;
}
.left h2 a, .left h2.leftblank strong{
	color: #fff;
	display: block;
	padding: 9px 10px 9px 30px;
	margin-left: -10px;
	text-decoration: none;
	text-transform: uppercase;
	background: url(images/left_menu_head_list.png) no-repeat 20px 10px;
}
.left h2:hover{
	background: #b00;
}
.left ul{
	padding-left: 0 !important;
}
.left ul li{
	padding-left: 0 !important;
	margin-bottom: 0 !important;
}
.left ul a {
	background: url(images/left_menu_item.png) no-repeat 0 18px #1f1f1f;
	border-top: 1px solid #2F2F2F;
	border-bottom: 1px solid #141414;
	border-left: 1px solid #272727;
	border-right: 1px solid #272727;
	color: #fff;
	display: block;
	padding: 15px 10px 15px 20px;
	text-decoration: none;
}
.left ul.ulpartners a{
	padding: 14px;
	line-height: 1em;
	background-image:none !important;
}
.left ul.ulpartners a img{
	width: 150px;
}
.left ul a:hover {
	background: url(images/left_menu_item.png) no-repeat 0 18px #2b2b2b;
}
.left ul a.active {
	background: url(images/left_menu_item.png) no-repeat -178px 1.4em #1f1f1f;
}

.user{
	color: #ccc;
	position: absolute !important;
	top: 30px;
	right: 16px;
}
.user .highlight{
	color: #fff;
}
.logout{
	width: 56px;
	height: 14px;
	font-size: 0.8em;
	position: absolute !important;
	top: 19px;
	right: 0;
}
.de .logout {
	width: 71px;
}
.logout span{
	width: 56px;
	height: 14px;
	background: url(images/btn_logout.png) no-repeat;
}
.de .logout span {
	width: 71px;
	background-image: url(images/btn_logout_de.png);
}
.logout:hover span,
.de .logout:hover span {
	background-position: 0 -14px;
}

.footer{
	margin: 0 auto;
	background: url(images/footer_bg.png) repeat-x #1A1A1A;
	font-size: 0.85em;
	padding-top: 25px;
	padding-bottom: 15px;
}
.footer ul{
	margin-left: -15px;
}
.footer li{
	list-style: none;
	float: left;
	border-right: 1px solid #B2B4BA;
	padding: 0 15px;
	line-height: 1em;
	margin-bottom: 1em;
}
.footer a{
	color: #999;
}
.footer a:hover{
	color: #fff;
}
.footer .links{
	width: 170px;
	padding-left: 40px;
	float: left;
}
.footer .info{
	width: 600px;
	float: left;
	min-height: 40px;
}
.footer .logo{
	float: left;
}
.footer .logo .social ul{
	list-style: none;
	margin-left: 2px;
}
.footer .logo .social li{
	border: 0;
	padding: 4px 0 4px 0;
}
.footer .logo .social a{
	background: url(../base/images/social.png) no-repeat;
}
.footer .logo .social a.facebook{
	background-position: -5px -6px;
	width: 14px;
	height: 22px;
	display: block;
}
.footer .logo .social a.facebook:hover{
	background-position: -5px -39px;
}
.footer .logo .social a.twitter{
	background-position: -20px -6px;
	width: 24px;
	height: 22px;
	display: block;
}
.footer .logo .social a.twitter:hover{
	background-position: -20px -39px;
}
.footer .logo .social a.vk{
	background-position: -47px -6px;
	width: 33px;
	height: 22px;
	display: block;
}
.footer .logo .social a.vk:hover{
	background-position: -47px -39px;
}
.footer .logo .social a.googlep{
	background-position: -81px -6px;
	width: 23px;
	height: 22px;
	display: block;
}
.footer .logo .social a.googlep:hover{
	background-position: -81px -39px;
}
.footer .logo .social a.instagram{
	background-position: -107px -6px;
	width: 21px;
	height: 22px;
	display: block;
}
.footer .logo .social a.instagram:hover{
	background-position: -107px -39px;
}

.clear{ clear: both; }
.clear-hidden{ clear: both; height: 1px; overflow: hidden; }
.no-display{ display: none; }
.float-left{ float: left; }
.float-right{ float: right; }
.text-left{ text-align: left !important; }
.text-center{ text-align: center !important; }
.text-right{ text-align: right !important; }
.vertical-top{ vertical-align: top; }
.vertical-middle, table td.vertical-middle{ vertical-align: middle; }
.no-margin{ margin: 0 !important; }
.text-right.no-margin{ padding-top: 1em;}
p.small-margin{ margin-bottom: 0.4em; !important; }
ul.big-margin{ margin-bottom: 0.9em; !important; }
ul.big-margin li{ margin-bottom: 0.5em; !important; }
.bold{ font-weight: bold; }
.underline{ text-decoration: underline; }
.yellow{ color: #fc0; }
.red{ color: #f00; }
small, .small{ font-size: 0.85em; line-height: 1em; }
big, .big{ font-size: 1.2em; line-height: 1em; }
.upper{ text-transform: uppercase; }

.image-left{
	float: left;
	margin-right: 22px;
	margin-bottom: 12px;
	margin-top: 5px;
}
.image-right{
	float: right;
	margin-left: 20px;
	margin-bottom: 10px;
	margin-top: 5px;
}

.r-image{
	display: block;
	position: relative;
	overflow: hidden;
}
.r-image span{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}
a.r-image span{
	cursor: pointer;
}

.ico-pdf{
	padding-right: 22px;
	padding-bottom: 4px;
	background: url(images/ico_pdf.gif) no-repeat right top;
}
.ico-ppt{
	padding-right: 22px;
	padding-bottom: 4px;
	background: url(images/ico_ppt.gif) no-repeat right top;
}
.ico-doc{
	padding-right: 22px;
	padding-bottom: 4px;
	background: url(images/ico_doc.gif) no-repeat right top;
}
.ico-xls{
	padding-right: 22px;
	padding-bottom: 4px;
	background: url(images/ico_xls.gif) no-repeat right top;
}
.ico-zip{
	padding-right: 22px;
	padding-bottom: 4px;
	background: url(images/ico_zip.gif) no-repeat right top;
}

.message-info, .message-done, .message-failure{
	padding: 0 10px 0 36px;
	margin-bottom: 1.5em;
}
.message-info p, .message-done p, .message-failure p{
	padding-top: 8px;
	padding-bottom: 8px;
	margin: 0;
}
.message-info{
	background: url(images/ico_info.gif) no-repeat 6px 6px #FFF6D9;
	border-top: 3px solid #FFDB4C;
}
.message-done{
	background: url(images/ico_yes.gif) no-repeat 6px 6px #E5F2DA;
	border-top: 3px solid #8FBD68;
	color: #2A6906;
}
.message-failure{
	background: url(images/ico_no.gif) no-repeat 6px 6px #FFEBEB;
	border-top: 3px solid #CC2952;
	color: #c03;
}

.w10{ width: 10px; }
.w20{ width: 20px; }
.w30{ width: 30px; }
.w40{ width: 40px; }
.w50{ width: 50px; }
.w60{ width: 60px; }
.w70{ width: 70px; }
.w80{ width: 80px; }
.w90{ width: 90px; }
.w100{ width: 100px; }
.w110{ width: 110px; }
.w120{ width: 120px; }
.w130{ width: 130px; }
.w140{ width: 140px; }
.w150{ width: 150px; }
.w160{ width: 160px; }
.w170{ width: 170px; }
.w180{ width: 180px; }
.w185{ width: 185px; }
.w190{ width: 190px; }
.w200{ width: 200px; }
.w225{ width: 225px; }
.w250{ width: 250px; }
.w275{ width: 275px; }
.w300{ width: 300px; }
.w325{ width: 325px; }
.w350{ width: 350px; }
.w375{ width: 375px; }
.w400{ width: 400px; }
.w450{ width: 450px; }
.w500{ width: 500px; }
.w510{ width: 510px; }
.w550{ width: 550px; }
.w600{ width: 600px; }
.w650{ width: 650px; }

.w10p{ width: 10%; }
.w12p{ width: 12%; }
.w15p{ width: 15%; }
.w16p{ width: 16%; }
.w20p{ width: 20%; }
.w22p{ width: 22%; }
.w25p{ width: 25%; }
.w30p{ width: 30%; }
.w32p{ width: 32%; }
.w33p{ width: 33%; }
.w34p{ width: 34%; }
.w35p{ width: 35%; }
.w40p{ width: 40%; }
.w45p{ width: 45%; }
.w50p{ width: 50%; }
.w60p{ width: 60%; }
.w70p{ width: 70%; }
.w75p{ width: 75%; }
.w80p{ width: 80%; }
.w90p{ width: 90%; }
.w100p{ width: 100%; }

.h-get-your-access{
	width: 399px;
	height: 20px;
	margin: 0 auto 0.6em;
}
.h-get-your-access span{
	width: 399px;
	height: 20px;
	background: url(images/h_inner.png) no-repeat;
}
.h-czech-authentic-videos{
	width: 733px;
	height: 86px;
	font-size: 2.4em;
	text-align: center;
	margin: 30px 0 30px 108px;
}
.h-czech-authentic-videos span{
	width: 733px;
	height: 86px;
	background: url(images/h_czech_authentic_videos.png) no-repeat;
}
/* tos */
.article.static{
	background: #000;
}
.article p.description.letter{
	padding-left: 18px;
}
.article p.description{
	text-align: justify;
	color: #a0a0a0;
	font-size: 12px;
	line-height: 15px;
}
.article p.description strong{
	color: #fff;
}
.article p.description.description-header{
	margin: 15px auto;
	text-align: center;
}

/* login/logout/support */
.logout-msg{
	color: #fff;
	font-size: 1.2em;
	font-weight: bold;
	margin: 35px 7px -15px auto;
	text-align: center;
}
.forgot-pass-msg{
	color: #fff;
	font-size: 1.2em;
	margin: 20px 7px -20px auto;
	text-align: center;
}
.form-box{
	margin-bottom: 30px;
	margin-top: 30px;
	margin-left: 30px;
	padding-top: 20px;
	background-color: #000;
	float: left;
	position: relative;
}
.form-box.small-box{
	width: 445px;
	height: 500px;
	background: #151515;
}
.form-box.small-box.join-box {
	width: 445px;
	height: 770px;
	background: #151515;
}
.form-box.small-box h2{
	position: absolute;
	top: 18px;
	left: 30px;
	height: 20px;
	display: block;
	color: #fff;
}
.form-box h2 span{ display: none; }
.form-box h2{
	text-transform: uppercase;
	font-size: 21px;
	font-weight: bold;
}

.form-box form{ padding: 20px 30px; }
.form-box input, .form-box option{ width: 358px; }
.form-box .errorlist{ margin-bottom: 0px; }
.form-box.small-box .field ul, .form-box.small-box .field ul li{
	padding-left: 0px;
}
.form-box .text{
	padding: 30px;
	padding-top: 36px;
}
.form-box.big-box{
	width: 920px;
	background: #151515;
}
.form-box.logout-box{ margin-left: 240px; }

.form-box.big-box h2{
	position: absolute;
	top: 27px;
	left: 38px;
	height: 20px;
	display: block;
}
.lost-password-text{
	margin: 35px 40px 20px;
}
.form-box.big-box form{ padding: 54px 46px 0 30px; }
.form-box.lost-pass form{ padding-top:20px; }
.form-box.big-box .error-label{
	float: left;
	width: 152px;
}
.form-box.big-box.lost-pass .error-label{
	width: 162px;
}
.form-box.big-box .field {
	padding-top: 0px;
	clear: none;
	float: left;
}
.form-box.lost-pass .field { width: 100%; }
.form-box.big-box label{
	float: left;
	width: 136px;
	overflow: hidden;
	line-height: 35px;
	height: 27px;
	font-size: 12px;
	font-weight: bold;
	margin-right: 16px;
	text-align: right;
	text-transform: uppercase;
}
.form-box.big-box.lost-pass label {
	width: 146px;
}
.form-box.big-box label.required {
	margin-top: -2px;
	line-height: 34px;
}
.form-box.big-box input{
	line-height: 27px;
	height: 27px;
	font-size: 16px;
	font-weight: bold;
	width: 250px;
	float: left;
	margin-bottom: 25px;
}
.form-box .getinstant{
	background: transparent url(images/forms.png) no-repeat scroll -375px 0px;
	width: 388px;
	height: 98px;
	display: block;
	margin-top: 15px;
}
.form-box .login-button .input_button{
	background: transparent url(images/forms.png) no-repeat scroll 0px 0;
	width: 378px;
	height: 47px;
	font-size: 0px;
}
.form-box .contact-button {
	float: right;
	margin-top: -16px;
	margin-bottom: 10px;
}
.form-box .contact-button .input_button,
.form-box .lost-password-button .input_button{
	background: transparent url(images/forms.png) no-repeat scroll 0px -50px;
	width: 204px;
	height: 47px;
	font-size: 0px;
}
.de .form-box .getinstant,
.de .form-box .login-button .input_button,
.de .form-box .contact-button .input_button,
.de .form-box .lost-password-button .input_button {
	background-image: url(images/forms_de.png);
}
.form-box .lost-password-button{
	margin-left: 162px;
}
.form-box.big-box form .field-captcha { float: left; padding-top: 8px; width: 500px; }
.form-box.big-box.lost-pass form .field-captcha { width: 520px; }
.form-box .field-captcha br{ display: none; }
.form-box .field-captcha input{ width: 133px; }
.form-box .field-captcha a{ line-height: 35px; }
.form-box .field-captcha .captcha{ float: left; margin-left: 8px; margin-right: 12px; }

.form-box .field-remember_me{ padding-top: 10px; margin-bottom: 25px; }
.form-box .field-remember_me .label{ display: none; }
.form-box #id_remember_me{
	margin-right: 8px;
	padding: 0px;
	width: auto;
	height: auto;
	float: left;
	background: none;
}

#spinner{ height: 790px; }

/* czechcasting */
.boxes.photos{
	margin-left: -5px;
}
.boxes.photos .box{
	width: 156px;
	margin-right: 22px;
	border: 1px solid #242424;
	border-radius: 3px;
	padding:5px;
	padding-bottom:0px;
}
.boxes.photos ul{ padding-left:0; margin-bottom:0px;}
.boxes.photos ul li{
	text-align:center;
	padding: 0.1em 0 0.1em 0 !important;
	border-bottom: 1px solid #242424;
	width: 150px;
}
.boxes.photos ul li.last{border-bottom:none;}
.boxes.photos ul li a{ color:#B0B0B0;;text-decoration:none;}
.console .photo ul { width: auto;}
.console .photo ul li {float:none;}
/* bonussites */
.bonussites .inner { background: none; margin: 0px; padding:0px;}
.bonussites ul li { float: left; padding: 0 0 10px 27px; }
/* matrix */
.matrix-sign-listing{
	position: absolute;
	bottom: 57px;
	right: 35px;
	width: 40px;
	height: 40px;
	z-index: 999;
	background: url(../base/images/360_sign.png) no-repeat;
	opacity: 0.7;
	cursor: pointer;
}
/* trusted partners */
.trusted-partners {
	margin-right: 16px;
}
.trusted-partners .box {
	margin-bottom: 50px;
}
.trusted-partners h2 {
	margin: 3em 0 2em;
	background: #940001;
	font-size: 0.85em;
}
.trusted-partners h2:hover {
	background: #b00;
}
.trusted-partners h2 strong {
	background: url(images/left_menu_head_list.png) no-repeat 20px 10px;
	color: #fff; text-decoration: none; text-transform: uppercase;
	display: block;
	margin-left: -10px; padding: 9px 10px 9px 30px;
}
.trusted-partners .info a {
	text-transform: uppercase;
}
/* languages */
.hp .header .buttons .langs {
	display: inline-block;
    margin: 0 0 0 10px;
    float: none;
    position: relative;
    bottom: 4px;
}
.hp .header .buttons .langs a {
	display: inline-block;
	padding: 0;
	width: auto;
}
.menu-top .container .langs { margin: -10px 15px 0 20px; position: relative; top: 7px; }