@charset "utf-8";
/* CSS Document */

#siteTopNav{width:100%; background:url(index_bg01.png) 0px 0px repeat-x; height:47px; line-height:40px; font-size:12px; color:#fff}
#siteTopNav a,#siteTopNav a:visited{color:#fff}
#siteTopNav a:hover{color:#ffd864; text-decoration:none}
/*#siteTopNav .wrapper{overflow:hidden}*/
#siteTopNav ul{margin-left:-10px; float:left; display:inline}
#siteTopNav ul li{float:left; padding:0px 10px}
#siteTopNav ul li.liCur{background:url(index_bg01.png) 0px -100px repeat-x; color:#2C73AC; font-weight:bold; height:47px; line-height:44px}
#siteTopNav ul li#siteTopCityLinks{padding-right:0px; cursor:pointer; position:relative}
#siteTopNav ul #siteTopCityLinks span{background:url(index_bg01.png) 58px -180px no-repeat; padding-right:20px; display:block}
#siteTopNav #siteCityLinksConBg{background:url(index_bg01.png) 0px -2397px no-repeat; width:148px; height:283px; position:absolute; left:0px; top:47px; filter:alpha(Opacity=90);-moz-opacity:0.9;opacity:0.9}
#siteTopNav #siteCityLinksCon{width:148px; height:281px; position:absolute; left:0px; top:47px}
#siteTopNav #siteCityLinksCon ul{margin:20px 8px 0px 8px}
#siteTopNav #siteCityLinksCon li{font-size:12px; font-weight:normal; width:60px; height:26px; line-height:26px; margin-bottom:2px; float:left; padding:0px; margin:0px 5px 2px 0px}
#siteTopNav #siteCityLinksCon li a{display:block; padding-left:15px}
#siteTopNav #siteCityLinksCon li a:hover{background:#2C73AC}
#siteTopNav #tspt{position:relative}
#siteTopNav #tspt div{position:absolute; top:28px; left:8px; width:136px; height:42px; line-height:19px; color:#2C73AC; padding:11px 8px 0px; background:url(index_bg05.png) 0px 0px no-repeat}
#topLinkBang,#topLinkBbs,#topLinkLogin,#topLinkSetHome{float:right; padding-left:20px}
#yuyan{float:right; padding-left:120px}
.hidden{display:none}
.display{display:block}
#mainNav{padding:22px 0px 0px; overflow:hidden; margin-bottom:12px}
#mainNav #logo{background:url(dahe_logo.png) 0px 0px no-repeat; padding-left:158px; float:left; height:46px}
#mainNav #logo:hover{text-decoration:none}
#mainNav #logo span{ padding-top:20px; display:block; width:118px; font-size:12px; color:#737373}
#mainNav #siteSearch{width:277px;float:right; height:37px; font-size:14px; cursor:pointer; padding-top:7px}
#mainNav .searchSelect{float:left; width:90px; padding-right:6px; height:35px; line-height:35px; background:url(index_bg01.png) 70px -285px no-repeat #F5F5F5; border:1px solid #ddd; text-align:center}
#mainNav .searchSelectName{display:block; letter-spacing:3px}
#mainNav #siteSearch .input1{border:1px solid #2C73AC; /*border-left:none;*/ border-right:none; width:200px; height:35px; line-height:35px; float:left; padding:0px; padding:0px 5px;}
#mainNav #siteSearch .btn1{border:1px solid #2C73AC; background:#2C73AC; width:66px; height:37px; line-height:37px; float:left; padding:0px; cursor:pointer; font-size:14px; font-weight:bold; color:#ffffff}
#mainNavLinks{border-top:3px solid #6FB4E9; clear:both; margin-top:20px; font-size:14px; width:1040px; font-family:"黑体"; font-weight:bold; padding:0 80px;}
#mainNavLinks ul{float:left; width:210px; margin-left:-30px; margin-right:28px; margin-top:12px; line-height:20px; background:url(index_bg01.png) right -397px no-repeat; padding-right:19px}
#mainNavLinks ul li{float:left; padding-left:12px; white-space:nowrap;display:block;}
#mainNavLinks ul li.liS{ font-family:"黑体"; font-weight:bold;}



#mainNavLinks5  .jquery_out{float:left;line-height:32px;display:block;border-right:1px solid #fff;text-align:center;color:#fff;font:18px/32px "微软雅黑";}
#mainNavLinks5  .jquery_out .smile{padding-left:1em;}
#mainNavLinks5  jquery_inner{margin-left:16px;}
#mainNavLinks5  .jquery{margin-right:1px;padding:0 2em;}

#mainNavLinks5  .mainlevel ul{float:left;display:none;position:absolute;width:167px;background:none; margin-top:0;z-index:9999;}
#mainNavLinks5  .mainlevel li{float:left;border-top:1px solid #fff;height:26px;line-height:26px;background:#3e80b3;width:60px;/*IE6 only*/}
#mainNavLinks5  .mainlevel li a{color:#ffffff}



#ads{border:1px solid #ddd; text-align:center; float:left; width:420px; height:55px;}
#toplogo{ width:276px; height:46px;float:left;}

ul#mainNavLinks2{width:163px}
ul#mainNavLinks3{width:86px}
ul#mainNavLinks4{width:210px}
ul#mainNavLinks5{width:185px;background:none}

.dAd01{margin:0px auto 2px; width:1000px}

#subLinks{margin:0px auto 0px; background:#dfedf7; height:30px; line-height:30px; padding:0px 8px; width:984px; overflow:hidden}
.dl1{float:left; padding-bottom:8px; color:#000; font-weight:bold}
.dl1 dt{font-weight:bold}
.dl1 dt,.dl1 dd{float:left; font-size:13px; padding-left:12px}
.dl1 dd a,.dl1 dd a:visited{color:#12334d}
.dl1 dt{padding-left:0px}
#aWeather,#aAir{float:right; font-size:12px; margin-bottom:8px; background:url(index_bg01.png) 10px -490px no-repeat; padding-left:20px; font-weight:bold /*color:#7e8082*/}

#adArea1{background:#f2f6f9; border: 1px solid #e9edef; font-size:13px; color:#555; line-height:28px; width:974px; background:#fff; border:none; padding:5px 0px 6px; width:1000px}
#adArea1 a,#adArea1 a:visited{color:#8c8c8c}
#adArea1 .adUl1{float:left; text-align:left; width:200px}
#adArea1 #adArea1_2{float:left; width:560px; padding-left:18px; font-size:13px;}
#adArea1 #adArea1_2 li{ list-style:none;}
#adArea1 #adArea1_2 span{margin:0px 12px 0px 8px; font-size:13px;}
#adArea1 #adArea1_2 span#countDay,#adArea1 #adArea1_2 span#countDay2{margin:0px 3px; font-weight:bold; font-size:13px;}
#adArea1 #adArea1_2_2{clear:both; width:550px; height:75px; padding:6px 0px 4px; font-size:13px;}
#adArea1 ul.adUl3{float:right; text-align:right}
#adArea1 #ad03_1{width:210px; height:75px; overflow:hidden; float:left; margin-right:10px; display:inline}
#adArea1 #ad03_2{width:560px; height:75px; overflow:hidden; float:left}
#adArea1 #ad03_3{width:210px; height:75px; overflow:hidden; float:right}
#ad03_4{margin-left:-18px; width:1018px; line-height:24px; padding-top:8px; clear:both; height:48px; overflow:hidden}
#ad03_4 li{float:left; padding-left:18px; white-space:nowrap}
#adArea3{padding-top:3px; padding-bottom:5px}
#adArea3 #ad03_1{width:215px; height:55px; overflow:hidden; float:left; margin-right:5px; display:inline}
#adArea3 #ad03_2{width:560px; height:55px; overflow:hidden; float:left}
#adArea3 #ad03_3{width:215px; height:55px; overflow:hidden; float:right}

#recom{background:url(index_bg04.png) 0px 3px repeat-x; padding-top:20px}
.dRecom{width:304px; float:left; font-size:12px; border-right:1px solid #e5e5e5; margin-left:25px; padding-right:16px}
div#recom_1{margin-left:0px}
div#recom_3{padding-right:0px; border-right:none; float:right; width:305px}
.dRecom h3{font-size:14px; padding-bottom:15px; background:url(index_bg01.png) 290px -3196px no-repeat}
.dRecom h3 a,.dRecom h3 a:visited{color:#8d8d8d; background:url(index_bg01.png) 0px -2998px no-repeat; padding-left:30px; }
.dRecom .dConL{width:106px}
.dRecom .dConL img{width:106px; height:94px}
.dRecom a.objLink{height:50px}
.imgBg{position:absolute; width:100%; left:0px; bottom:0px; height:25px; background:#000; filter:alpha(Opacity=50);-moz-opacity:0.5;opacity:0.5}
.dRecom a.imgBg:hover{background:#FFF}
.dRecom .dConR{width:180px; font-size:12px; background:url(index_bg01.png) 0px -3296px no-repeat; padding-left:10px}
.dRecom .dConR h4 a,.dRecom .dConR h4 a:visited{color:#6FA7D1/*; color:#8a8a8a*/}
.dRecom .dConR h4{font-weight:bold; padding:3px 0px 18px; font-size:12px}
div#recom_1 .dConR h4{background:url(index_bg01.png) 0px -595px no-repeat; padding-left:18px}
.dRecom .dConR ul{margin-top:-5px}
.dRecom .dConR ul li{font-size:12px; line-height:27px}
.dRecom .dConR ul li a,.dRecom .dConR ul li a:visited{color:#8c8c8c}
.dRecom .dConR ul li.liS a,.dRecom .dConR ul li.liS a:visited{color:#1c1f2f}
.dRecom .dConR p{line-height:20px; color:#8d8d8d}
.dRecom .dConR .aMore{position:absolute; right:0px; bottom:3px; font-weight:bold; color:#585858; display:block; background:url(index_bg01.png) 0px -695px no-repeat; padding-left:10px}

#con1{margin-top:22px; margin-bottom:16px; position:relative}
#con1 .dConR{width:335px; overflow:hidden}
.dTit01{background:url(index_news.png) right top no-repeat; height:34px; overflow:hidden}
.dTit01 h2{background:#fff; padding:6px 18px 0px; height:27px; border:1px solid #6FB4E9; border-bottom:none; float:left; font-family:"微软雅黑", "宋体", "新宋体", "黑体"; font-size:18px}
.dTit01 h2 a,.dTit01 h2 a:visited{color:#6FB4E9}
#con1 #aRank,#con1 #aComment{float:right; font-size:14px; color:#fff; line-height:34px}
#con1 .aLinks1{border-left:1px solid #fff; height:32px; float:left; width:220px}
#con1 #aRank{background:url(index_bg01.png) 15px -890px no-repeat; padding-left:30px}
.borderR{border-right:1px solid #C5E1F6; padding-right:9px}
#con1 .borderR{padding-top:10px}

#toutiao{text-align:center;font-size:22px; font-weight:bold; color:#cc0000; height:45px; line-height:45px;}
#events{border-top:#cccccc 1px dashed; padding-top:9px;}
#ana_02{border-top:#cccccc 1px dashed; padding-top:9px;}
.ul_30 li{font-size:15px; line-height:30px; background:url(index_bg01.png) 2px -937px no-repeat; padding-left:8px; height:30px; overflow:hidden}
.i_v{background:url(index_bg01.png) 0px -598px no-repeat; padding-left:18px; margin-right:-5px; margin-left:7px; vertical-align:middle; display:inline-block}
.ul_30 li .i_v{height:30px; background-position-y:-592px}

.ul_30 li a{margin-left:5px}
.dConR .ul_30{margin-bottom:9px}
#cityNews .ul_30{display:none}
#cityNews ul.ulCur{display:block}
.dTit02{background:url(index_bg01.png) 0px -1000px repeat-x; height:27px; line-height:27px; margin:0px auto 12px}
.dTit02 h3{float:left; padding-left:8px; padding-right:25px; font-size:14px; font-weight:bold}
.dTit02 a,.dTit02 a:visited{color:#6FB4E9}
.dTit02 ul a{font-size:12px}
.dTit02 ul li{float:left; padding-right:5px}
.dTit03{background:url(index_bg01.png) 0px -1050px repeat-x; height:28px; line-height:26px; font-size:12px; margin:10px auto; position:relative}
.dTit03 #city1{float:left; width:315px}
.dTit03 #city1 li{float:left; padding:0px 8px}
.dTit03 #city1 li a,.dTit3 li a:visited{color:#6FB4E9}
.dTit03 #city1 li.liCur{background:#6FB4E9; padding:0px 7px; height:26px; line-height:26px; font-size:14px}
.dTit03 #city1 li.liCur a,.dTit3 li.liCur a:visited{color:#fff; font-weight:bold}
.dTit03 #cityPull{background:url(index_bg01.png) 20px -2290px no-repeat; right:0px; top:0px; width:40px; height:26px; cursor:pointer; position:absolute}
.dTit03 #city2{position:absolute; right:0px; top:26px; background:#E9F1F7; z-index:10; width:60px; padding:5px 0px 6px 0px; display:none}
.dTit03 #city2 li{height:24px; line-height:24px}
.dTit03 #city2 li a{display:block; width:90%; height:95%; text-align:center; margin:0px auto; color:#6FB4E9}
.dTit03 #city2 li a:hover{background:#6FB4E9; color:#fff; text-decoration:none; font-weight:bold}

#con1 .dConL{width:640px}
#adArea2{width:196px; height:321px; overflow:hidden; float:left}
.dAd02{width:196px; height:75px; margin-bottom:7px}
#focusImg{width:428px; float:right; background:#093; overflow:hidden; position:relative}
#focusImgS{width:2568px; position:relative}
#focusImgS li{width:428px; position:relative; float:left}
#focusImgS img{width:428px; height:286px}
#focusImgS .imgBg{width:428px; left:0px; top:242px; height:44px}
#focusImgS h5{position:absolute; left:0px; top:242px; height:44px; line-height:44px; text-align:center; width:100%; font-size:14px}
#focusImgS h5 a,#focusImgS h5 a:visited{color:#fff; display:block; width:100%; height:100%}
#focusImgTit{background:#E8E8E8; height:34px; line-height:34px; border-top:1px solid #fff; font-size:14px}
#focusImgTit li{float:left; width:71px; text-align:center}
#focusImgTit li.liCur{background:url(index_bg01.png) 31px -1100px no-repeat #97B5CC; color:#fff; font-weight:bold}
#focusImgTit li.liCur a,#focusImgTit li.liCur a:visited{color:#fff}
#con1 .dConL2{width:320px; overflow:hidden; float:left}
#con1 .dCon1{margin-top:25px}
.dTit04{background:url(index_bg01.png) 0px -1200px repeat-x; border-top:3px solid #93C7EF; height:33px; line-height:36px; overflow:hidden}
.dTit04 h3{float:left; font-size:18px; font-family:"微软雅黑", "宋体", "新宋体", "黑体"; padding:0px 15px; background:url(index_bg01.png) right -1150px no-repeat #fff; border-left:1px solid #E8EAED; height:33px; color:#6FB4E9}
.dTit04 h3 a,.dTit04 h3 a:visited{color:#6FB4E9}
.dTit04 .linkMore{float:right; overflow:hidden; margin-right:8px; display:inline}
.dTit04 .linkMore ul{float:right; margin-right:-12px; display:inline; line-height:32px}
.dTit04 .linkMore li{float:right; background:url(index_bg01.png) right -1240px no-repeat; padding-right:9px; margin-right:8px; font-size:12px; display:inline; white-space:nowrap}
.dTit04 .linkMore li a{color:#6C6D6F}
.dCon1 strong{background:url(index_bg01.png) 0px -1276px no-repeat; font-size:14px; font-weight:bold; padding:20px 0px 15px 10px; clear:both; display:block}
.dCon1 strong a,.dCon1 strong a:visited{color:#6E6E6E}
.no_icon li{background:none; padding-left:0px}
.dCon1 .ul_30{margin-left:-3px}

#bang{overflow:hidden; position:relative; width:320px; height:344px}
#ulBang{position:relative; left:0px; width:960px; height:284px; overflow:hidden}
#ulBang li.liCon{float:left; width:320px}
#ulBang .liCon .ulImg01{padding-bottom:0px}
#ulBang .liCon .ulImg01 li{padding-bottom:6px}

.dCon1 .ulImg01{width:330px; margin-left:-10px; padding-bottom:13px}
.ulImg01 li{width:155px; padding-left:10px; float:left; overflow:hidden}
.ulImg01 li img{width:153px; height:102px; border:1px solid #E6E6E6}
.ulImg01 span{display:block; font-size:12px; height:16px; padding:5px 0px 0px; text-align:center}
.dCon1 .dCon2{padding:22px 0px 14px}
.dCon1 .dCon2 img{width:318px; height:102px; border:1px solid #E6E6E6}
.dCon1 .dCon2 span{display:block; text-align:center; padding:8px 0px 0px; font-size:14px}
.dCon1 .dCon2_2{padding-bottom:0px}
.dCon1 .dCon2_2 span{padding:3px 0px 8px}
.switchBtn1{height:12px; padding-left:80px; margin-top:12px}
.switchBtn1 a{float:left; width:14px; height:10px; background:url(index_bg01.png) 3px -1399px no-repeat}
.switchBtn1 .aNext{background-position:3px -1449px; margin-left:30px}
.switchBtn1 .aPrev{margin-right:30px}
.switchBtn1 .aSwitch1{background-position:3px -1498px; margin:0px 4px}
.switchBtn1 .aSwitch2{background-position:3px -1548px; margin:0px 4px}

.dCon3{width:270px; padding:12px 12px 0px; background:#F0F2F5; float:right; margin-top:25px; overflow:hidden}
.dCon4{}
.dTit05{margin-bottom:8px}
.dTit05 h3{background:url(index_tit_bg01.png) 0px 0px no-repeat; width:108px; height:24px; float:left}
.dTit05 h3 a{display:block; width:100%; height:100%}
.dTit05 span{font-size:12px; color:#848587; line-height:34px}
.ul_12_24 li{color:#5e6062;background:url(index_bg01.png) 2px -1335px no-repeat; padding-left:9px; font-size:14px; line-height:30px; height:30px; overflow:hidden;}
.ul_12_24 li a{color:#5e6062;}
#dc_1 .ul_12_24{}
#aReg,#aPost,#aExp,#aYby{font-size:14px; color:#6C6D6F}
#aReg,#aPost,#aExp{float:left}
#aReg,#aPost{background:url(index_bg01.png) right -1248px no-repeat; padding-right:10px; margin-right:10px; display:inline}
#aReg{padding-left:5px}
#aYby{background:url(index_bg02.png) 0px 0px no-repeat; padding-left:20px; float:right; height:22px}
div#dc_2{padding-bottom:5px}
#dc_2 .dTit05 h3{background-position:0px -50px; width:68px}
#dc_2 .ulImg02{margin-left:-15px; width:290px; margin-top:15px;}
.ulImg02 li{width:128px; float:left; padding-left:15px;padding-bottom:5px}
.ulImg02 li img{width:126px; height:84px; border:1px solid #6F6F6F}
.ulImg02 li span{display:block; font-size:12px; text-align:center; padding:4px 0px 10px}
#dvUpload{background:url(index_bg02.png) 0px -50px no-repeat; width:268px; height:42px; display:block; margin:13px auto 0px}
#ad08{position:absolute; right:0px; bottom:0px; width:654px; height:90px}

#con2{position:relative}
#con2 .dConL{width:320px; margin-right:26px}
#con2 .dCon3{float:left; margin-top:0px}
#con2 .dConR{width:335px}
#house{margin-bottom:15px}
#house .ulImg03{float:left; width:146px; padding:5px 0px 0px 0px}
#house .ulImg01{margin-top:20px}
.ulImg03 li{width:146px;}
.ulImg03 li img{width:144px; height:96px; border:1px solid #E6E6E6}
.ulImg03 li span{font-size:12px; display:block; text-align:center; padding:7px 0px 18px}
/*#house .ul_30{float:right; width:160px; margin-top:-2px}*/
#house .ul_30 li{height:30px; overflow:hidden}
#car .ulImg01{margin-top:20px}
div#dc_3{padding-bottom:22px}
#dc_3 .dTit05 h3{background-position:0px -100px; width:83px}
#dzClip{width:270px; overflow:hidden; position:relative}
#ulDz{width:540px; position:relative; left:-270px}
#ulDz .liDz{float:left; width:270px}
.ulRank1{background:url(index_bg02.png) 1px -146px no-repeat; padding-left:28px; line-height:28px; font-size:12px}
.ulRank1 li{background:url(index_bg02.png) 0px -535px no-repeat; height:28px; float:left; width:240px}
.ulRank1 li em{float:left; background:#F0F2F5; padding:0px 15px 0px 0px}
.ulRank1 li span{float:right; background:#F0F2F5; padding:0px 0px 0px 15px}
#aDz{background:url(index_bg02.png) 0px -440px no-repeat; width:268px; height:52px; display:block; margin-top:0px; margin-bottom:5px}
#paperLinks{position:relative; width:268px; height:166px; margin-bottom:15px}
#paperLinks div{width:86px; position:absolute; font-size:14px; font-weight:bold; color:#fff; text-align:center; cursor:pointer/*; filter:alpha(Opacity=70);-moz-opacity:0.7;opacity:0.7*/}
#paperLinks div h4{font-size:14px}
#pl1{height:102px; line-height:102px; left:0px; top:0px; background:#249ED7}
#pl2{height:52px; line-height:52px; left:91px; top:0px; background:#E86F51}
#pl3{height:81px; line-height:81px; left:182px; top:0px; background:#5CC8E5}
#pl4{height:60px; line-height:60px; left:0px; top:106px; background:#BEA881}
#pl5{height:81px; line-height:81px; left:91px; top:56px; background:#2BC2BB}
#pl6{height:52px; line-height:52px; left:182px; top:85px; background:#B3B3B3}
div#pl7{height:25px; line-height:25px; left:91px; top:141px; background:#A976C2; width:177px}
#paperLinks div .paperIntro{display:none}
#paperLinks div btn{display:none}
#paperLinks div.dConPl{/*background:#ca0000; */ background-image:url(index_bg01.png); background-position:3px -2797px}
/*#paperLinks div.dConPl h4{height:25px; line-height:25px}
#paperLinks div.dConPl .paperIntro{display:block; font-size:12px; line-height:20px; font-weight:normal}
#paperLinks div.dConPl btn{width:180px; height:25px; font-size:12px; background:#fff}*/
#dzClip2{height:96px; overflow:hidden; position:relative}
#dzClip3 li{ height:26px;line-height:26px; font-size:14px; overflow:hidden;}
#dzNews{position:absolute}
#dzNews li{font-size:12px; background:url(index_bg01.png) 3px -939px no-repeat; padding-left:8px; height:24px; line-height:24px; padding-left:14px; overflow:hidden}
#dzNews li a,#dzNews li a:visited{color:#808080}
#dzNews li.liCur{background-position: 3px -1290px}
#dzNews li.liCur a{font-weight:bold; color:#333}
#dc_3 .switchBtn2{height:11px; margin:10px 5px 4px 0px; position:relative; background:url(index_bg02.png) 0px -1597px repeat-x; overflow:hidden}
#dc_3 .switchBtn2 .btnShadow{position:absolute; width:50%; background:#bea881; left:0px; top:0px; border:2px solid #F0F2F5; border-top:none; border-bottom:none; background:url(index_bg02.png) 0px -1647px repeat-x; height:11px}
#dc_3 .switchBtn2 a{float:left; width:49%; height:11px}


#paperLinks .a_close,#paperLinks .a_order,#paperLinks em{display:none}
#paperLinks div.dConPlCur .a_close{width:11px; height:11px; background:url(index_bg01.png) 0px -3100px no-repeat; float:right; margin:10px 10px 0px 0px; display:block}
#paperLinks div.dConPlCur em{font-size:12px; font-weight:normal; height:18px; line-height:18px; text-align:center; padding:5px 0px 30px; display:block}
#paperLinks div.dConPlCur .a_order{width:80%; display:block; border:1px solid #fff; height:45px; line-height:45px; font-size:14px; margin:0px auto; color:#fff; text-align:center}
#paperLinks div.dConPlCur .a_order:hover{background:#CCC; color:#666; text-decoration:none}




div#dc_4{padding-bottom:20px}
#dc_4 .dTit05 h3{background-position:0px -150px; width:103px}
#dc_4 .ulTxt1{background:url(index_bg02.png) 0px -600px no-repeat; padding-left:96px; padding-top:3px; font-size:12px; line-height:20px}
#dc_4 .ulTxt1 li{background:url(index_bg01.png) 0px -1292px no-repeat; padding-left:10px; margin-bottom:8px}
#dc_4 .ulTxt1 li a,#dc_4 .ulTxt1 li a:visited{color:#525354}
#dc_4 .dCon5{border-top:1px solid #E1E2DC; font-size:12px; padding:10px 3px 12px 8px}
#dc_4 .dCon5 em{font-size:14px; color:#8C875D; float:left}
#dc_4 #androidDl,#dc_4 #iosDl{float:right; background:url(index_bg02.png) 18px -746px no-repeat; padding-left:28px; text-decoration:underline}
#dc_4 .dCon5 a,#dc_4 .dCon5 a:visited{color:#807E77}
#dc_4 #aClientCar,#dc_4 #aClientBang{background:url(index_bg02.png) 0px -800px no-repeat; width:130px; height:71px; float:left}
#dc_4 #aClientBang{background-position:-139px -800px; margin-left:10px}
#ent .ulImg01{width:340px; margin-left:-15px; padding-bottom:10px; padding-top:10px}
#ent .ulImg01 li{padding-left:15px}
#ad09{position:absolute; right:0px; bottom:0px; width:654px; height:90px}

#syt{padding-top:22px; padding-bottom:30px; overflow:hidden; position:relative}
#syt .dTit04{margin-bottom:20px}
/*.imgsClip{background:url(index_bg03.png) 0px 0px no-repeat}*/
.imgsClip .aPrev,.imgsClip .aNext{width:38px; height:140px; position:absolute; top:84px; z-index:20 }
/*.imgsClip a.aPrev:hover,.imgsClip a.aNext:hover{filter:alpha(Opacity=100);-moz-opacity:1;opacity:1}*/
/*.imgsClip .aPrev{left:0px; background:url(http://yn.dahe.cn/2013/index2/img/index_prev.png) 4px 40px no-repeat; _background:0; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://yn.dahe.cn/2013/index2/img/index_prev.png'); }
.imgsClip .aNext{right:0px; background:url(http://yn.dahe.cn/2013/index2/img/index_next.png) 4px 40px no-repeat; _background:0; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://yn.dahe.cn/2013/index2/img/index_next.png')}*/
.ulImg04{width:3102px; margin-left:-33px; position:relative}
.ulImg04 li{width:227px; float:left; padding-left:31px}
.ulImg04 li a:hover img{border:1px solid #000}
.ulImg04 li img{width:225px; height:150px; border:1px solid #fff}
.nwanhuatong li{ height:30px; line-height:30px; overflow:hidden;font-size: 14px;}
.nwanhuatong li a{color: #545454;}

#nxiaofei li{ height:30px; line-height:30px; overflow:hidden;font-size: 14px;background: url(index_bg01.png) 2px -1335px no-repeat;padding-left: 9px;list-style:none;}
#nxiaofei li a{color: #545454;}
#ndongtai li{ height:30px; line-height:30px; overflow:hidden;font-size: 14px;}
#ndongtai{ width:270px; overflow:hidden;}
#ndongtai ul {
background: url(rank.png) top left no-repeat;
padding-left: 25px;
}
.nzhuanti ul li {
height: 30px;
font-size: 14px;
line-height: 30px;
overflow: hidden;
white-space: nowrap;
}
.nzhuanti ul li  a{color: #858585;}
#ndongtai ul li {
height: 28px;
font-size: 12px;
line-height: 28px;
overflow: hidden;
width:240px;
float:left;
}
#ndongtai ul li  a{color: #858585;}

#con3 .dConL{width:320px; margin-right:26px}
#con3 .dCon3{float:left; margin-top:0px}
#con3 .dConR{width:335px}
.ulTxtImg01{margin-top:-7px}
.ulTxtImg01 li img{width:144px; height:96px}
.ulTxtImg01 li{float:left; width:160px; font-size:14px; line-height:33px}
.ulTxtImg01 li.liImg{width:144px; float:left; margin-top:7px; margin-right:16px}
.ulTxtImg01 li.liImg span{display:block; text-align:center; font-size:12px; line-height:18px; padding-top:4px}


.ulTxtImgcenter{margin-top:-7px; border-bottom:1px dashed #cccccc; padding-bottom:10px; margin-bottom:10px;}
.ulTxtImgcenter li img{width:130px; height:85px}
.ulTxtImgcenter li{float:left; width:130px; font-size:14px; line-height:30px;height:30px; overflow:hidden;}
.ulTxtImgcenter li.liImgcenter{width:130px; float:left; margin-top:7px; margin-right:5px; height:105px;}
.ulTxtImgcenter li.liImgcenter span{display:block; text-align:center; font-size:12px; line-height:18px; padding-top:4px}


#con3 .dCon1{margin-bottom:17px}
#con3 .dTit04{margin-bottom:20px}
div#dc_5{position:relative; }
#dc_5 .dTit05{z-index:5; background-color:#F0F2F5; width:270px; margin-bottom:0px;margin-bottom: 13px;}
#dc_5 .dTit05 h3{background-position:0px -200px; width:120px}
#weiboInfo{height:34px; background:url(index_bg02.png) 0px -900px no-repeat #F0F2F5; padding-left:80px; width:190px; position:absolute; left:0px; top:32px; z-index:5; border-top:8px solid #f0f2f5}
#weiboInfo iframe{float:left; margin-left:5px; width:66px; height:22px;filter:alpha(Opacity=0);-moz-opacity:0;opacity:0}
#weiboInfo a{float:left; margin-left:5px; width:66px; height:22px}
/*#weiboLive{overflow:hidden; padding-top:-30px; height:300px;width:270px;position:absolute; left:0px; top:74px}*/
/*#weiboLive{overflow:hidden; padding-top:2px; height:300px; margin-top:-40px}*/
#weiboLive{overflow:hidden; height:370px; position:absolute; z-index:0; top:0px}
#weiboLive iframe{width:100%}
div#dc_6{padding-bottom:5px}
#dc_6 .dTit05{margin-bottom:13px}
#dc_6 .dTit05 h3{background-position:0px -250px; width:161px}
#dc_6 li{clear:both; font-size:14px;}
#dc_6 li {float:left;}
#dc_6 li div{float:right; width:205px}
#dc_6 li h5{float:left; font-weight:bold; color:#848587; background:url(index_bg02.png) right -1000px no-repeat; height:20px; line-height:16px; font-size:12px}
#dc_6 li h5 span{margin:0px 50px 0px 10px; font-weight:normal; color:#ADAEB0}
#dc_6 li p{clear:both; line-height:16px}
#con3 .dCon3 .dLine1{width:294px; height:24px; background:#fff; margin-left:-12px}
#dc_7{margin-top:10px; padding-bottom:15px}
#dc_7 .dTit05 h3{background-position:0px -300px; width:137px}
#dc_7 .dCon8{font-size:12px; line-height:25px; padding-bottom:12px}
#dc_7 .dCon8 em{background:#B5B09B; float:left; padding:0px 2px 0px 3px; height:17px; line-height:17px; color:#fff; font-weight:bold; margin:5px 8px 0px 0px}
#dc_7 .dCon8 span{margin:0px 5px}
#dc_7 .dTit06{background:url(index_bg02.png) 0px -1344px repeat-x; font-size:12px; margin:3px auto 5px}
#dc_7 .dTit06 h4{background:#F0F2F5; width:5em; text-align:center; color:#94907F; font-size:12px; float:left; display:inline; margin-left:18px}
#dc_7 .dTit06 h5{background:#F0F2F5; width:58px; text-align:center; color:#94907F; font-size:12px; float:right; margin-right:10px; display:inline}
#dc_7 .ulRank1{background-position: 0px -1046px}
#dc_7 .dLine2{background:url(index_bg02.png) 0px -550px repeat-x; height:1px; line-height:1px; clear:both; margin:10px auto 7px}
#dc_7 .dCon10 .dTit07{background:url(index_bg02.png) 0px -1800px no-repeat; padding-left:40px; padding:3px 0px 0px 40px; height:22px; padding-bottom:10px}
#dc_7 .dCon10 .dTit07 em{float:left; padding:0px 6px; height:18px; line-height:18px; background:#b5b09b; font-size:12px; color:#fff; font-weight:bold; margin-right:5px}
#dc_7 .dCon10 .dTit07 span{font-size:14px; color:#999584}
#dc_7 .dCon10 .dCon11{font-size:12px; line-height:25px}
#dc_7 .dCon10 .dCon11 span{margin:0px 5px}
#sinaWbRank{padding:20px 0px 20px}
#dc_7 #sinaWbRank .dTit07{background-position-y:-1700px}

.dCon6c .ul_30{margin-bottom:14px}
.dCon6c .dCon9{position:relative; margin-bottom:13px; width:325px}
.dCon6c .dCon9 img{width:325px; height:132px}
.dCon6c p{position:absolute; left:0px; bottom:0px; height:25px; line-height:25px; width:100%; font-size:14px; text-align:center}
.dCon6c p a,.dCon6c p a:visited{color:#fff; display:block; display:block; width:100%; height:100%}
#ad10{width:335px; height:70px; margin-bottom:25px; overflow:hidden}
#heZhiZhou{padding-bottom:30px}
#heZhiZhou .focusImg{float:left; width:168px; height:126px; border:5px solid #E1E3E6; float:left; position:relative}
#heZhiZhou .focusImg h5{position:absolute; left:0px; bottom:0px; height:25px; font-size:12px; line-height:25px; text-align:
center; width:100%}
#heZhiZhou .focusImg h5 a,#heZhiZhou .focusImg h5 a:visited{color:#fff}
#heZhiZhou .focusImg img{width:168px; height:126px}
#heZhiZhou .ulZk{float:right; width:125px}
#heZhiZhou .ulZk li{background:url(index_bg01.png) 0px -1598px no-repeat; padding-left:12px; height:80px}
#heZhiZhou .ulZk li em{font-size:12px; color:#737373; display:block; padding-bottom:4px}
#heZhiZhou .ulZk li h5{font-size:14px; line-height:20px; padding-bottom:14px}
.ulImg05{width:330px; margin-left:-10px}
.ulImg05 li{width:100px; float:left; margin-left:10px; display:inline; position:relative}
.ulImg05 li .imgBg{bottom:21px}
.ulImg05 li h5{left:0px; bottom:21px; width:100%; position:absolute; font-size:12px; text-align:center; color:#fff; height:25px; line-height:25px; overflow:hidden}
.ulImg05 li h5 a,.ulImg05 li h5 a:visited{color:#fff}
.ulImg05 li img{width:100px; height:120px}
.ulImg05 li h4{display:block; clear:both; background:url(index_bg01.png) 0px -1693px repeat-x; font-size:12px; font-weight:bold; height:18px; line-height:18px; padding-top:3px}
.ulImg05 li h4 a,.ulImg05 li h4 a:visited{float:left; display:block; background:#fff; padding-right:5px; color:#B5B09B}
#dhdt{margin-bottom:18px}
#dhdt .ul_30{margin-bottom:0px}
#ad11{float:right; width:654px; height:90px; padding-bottom:12px}
#ad12{width:654px; float:right; overflow:hidden; background:#E8EAED}
#ad12 ul{width:700px; margin-left:4px; padding-bottom:10px}
#ad12 li{float:left; width:120px; height:70px; border:1px solid #fff; display:inline; margin: 10px 0px 0px 6px}

#con4{margin-bottom:30px}
#con4_1,#con4_2,#con4_3{float:left}
#con4_4{float:right}
#con4_1,#con4_4{width:231px}
#con4_2,#con4_3{width:266px; position:relative}
#con4_2 .imgBg{height:40px}
#con4_2 h3{position:absolute; bottom:0px; height:40px; line-height:40px; font-size:14px; left:0px}
#con4_3 .imgBg{top:0px; height:40px}
#con4_3 h3{position:absolute; top:0px; height:40px; line-height:40px; font-size:14px; left:0px}
#con4 h3{background:url(index_bg01.png)135px -1785px no-repeat; padding-left:155px}
#con4 h3 a,#con4 h3 a:visited{color:#fff}
#con4_1{margin-right:1px}
#con4_1 img,#con4_4 img{width:231px; height:154px; margin-bottom:1px}
#con4_2{margin-right:4px}

#bottomLinks1{background:#F6F6F6; padding:18px 0px 0px 15px; width:985px; font-size:12px; margin-bottom:46px}
#bottomLinks1 dl{padding-bottom:20px}
#bottomLinks1 dl dt,#bottomLinks1 dl dd{float:left; display:inline; margin-bottom:6px; white-space:nowrap; height:20px; line-height:20px; margin-right:20px}
#bottomLinks1 dt{background:#B3B3B3; color:#fff; font-weight:bold; padding:0px 2px 0px 3px}
#bottomLinks1 dd{margin-right:20px}

#qrCode{width:105px; height:200px; position:fixed; top:350px; right:5px; display:block; z-index:200}
#qrCode a{display:block; width:100%; height:100%; background:url(http://uploads.dahe.cn/indiboy/home/erweima.jpg) no-repeat;}
#qrCode a:hover{}

#siteFooter{width:100%; border-top:1px solid #C8C8C8; background:#F6F6F6; padding-top:24px; font-size:12px}
#siteFooter .footerCon1{background:url(index_bg01.png) 30px -1880px no-repeat; width:238px; height:150px; float:left}
#siteFooter .footerCon2{width:238px; height:150px; background:#DFDFDF; float:left; margin-left:16px; margin-bottom:14px}
#siteFooter .footerCon2 ul{margin:20px 15px 0px 15px}
#siteFooter .footerCon2 ul li{float:left; padding-left:20px; padding-bottom:16px; white-space:nowrap}
#siteFooter .footerEpaper ul li{padding-left:15px}
#siteFooter div.no_margin{margin-left:0px}
#siteFooter .footerCity ul{margin:20px 8px 0px 0px}
#siteFooter #siteInfo{clear:both; color:#8f8f8f; padding-top:16px; padding-bottom:180px; position:relative}
#siteFooter #siteInfo a,#siteFooter #siteInfo a:visited{color:#8f8f8f}
#siteFooter #siteInfo ul{ padding:26px 0px 50px 332px }
#siteFooter #siteInfo ul li{background:url(index_bg01.png) 13px -2194px no-repeat; padding-left:30px; float:left; white-space:nowrap}
#siteFooter #siteInfo ul li.liS{background:none; padding-left:0px}
#siteFooter #siteInfo ul li.liAd{font-weight:bold}
#siteFooter #siteInfo ul li.liAd a,#siteFooter #siteInfo ul li.liAd a:visited{color:#4d4d4d}
#siteFooter #siteInfo p{text-align:center; line-height:24px}
#siteFooter #siteInfo p.copyRight{font-family:Arial, sans-serif}
#siteFooter img{position:absolute; bottom:200px}
#siteFooter img#iCopyRight1{left:0px}
#siteFooter img#iCopyRight2{left:775px; bottom:195px}
#siteFooter img#iCopyRight3{left:825px; bottom:195px}
#siteFooter img#iCopyRight4{left:42px; border:1px solid #DcDCDC}
#siteFooter img#iCopyRight5{left:136px; border:1px solid #DcDCDC}
#siteFooter #iCnnic{width:130px; height:47px; position:absolute; bottom:190px; left:880px; width:140px; height:47px}
#siteFooter #iCnnic img{position:relative; bottom:0px}


.ulttttt li{float:left; padding:15px}

/*chinaso*/
.China_search{overflow:hidden;width:268px; height:70px;border:1px solid #ccc;background:#fff;padding-bottom:8px;float:right;padding-top:12px}
.chinasoform{display:block;height:26px;overflow:hidden;}
.China_logo{background:url(china_logo.png) no-repeat;width:79px;height:44px;display:block;float:left;overflow:hidden;margin:6px 0 0 6px;_display:inline;}
.China_right{float:left;position:relative;overflow:hidden;margin-left:7px;width:168px;_display:inline;}
.China_right p{height:15px;padding:5px 0 4px;}
.China_right p a{float:left;color:#666;padding-left:16px;font-size:12px;text-decoration:none;}
.China_right p a:hover{text-decoration:underline;}
.China_right p a.China_first{color:#e60012;padding-left:12px;display:block;font-size:12px;font-weight:bold;}
.China_right p a.China_first:hover{text-decoration:underline;}
#China_txt{width:126px;height:24px;line-height:24px;font-size:12px;color:#aaa;text-indent:6px;display:block;float:left;border:1px solid #C0C0C0;}
#China_btn{width:40px;height:26px;line-height:26px;background:url(search_03.png) no-repeat center center;border:1px solid #C0C0C0;color:#D35167;font-size:14px;text-align:center;font-weight:bold;cursor:pointer;position:absolute;left:126px;top:24px;outline:none;}
#China_btn:focus {noFocusLine: expression(this.onFocus=this.blur());}


.npinglun { clear:both;}
.npinglun li{background:url(http://uploads.dahe.cn/yn/2015/index/nimg/pinglun.jpg) left top no-repeat; width:270px; height:35px;}
.npinglun li span{ float:right;}
.npinglun a{color:#999999;}


.nshipin { clear:both;}
.nshipin li{background:url(http://uploads.dahe.cn/yn/2015/index/nimg/shipin.jpg) left top no-repeat; width:270px; height:35px;}
.nshipin li span{ float:right;}
.nshipin  a{color:#999999;}

.nwanhuatongt{ clear:both;}
.nwanhuatongt li{background:url(http://uploads.dahe.cn/yn/2015/index/nimg/wanhuatong.jpg) left top no-repeat; width:270px; height:35px;}
.nwanhuatongt li span{ float:right;}
.nwanhuatongt  a{color:#999999;}

.nzhuantit{ clear:both;}
.nxiaofei li{background:url(http://uploads.dahe.cn/yn/2015/index/nimg/xiaofei.jpg) left top no-repeat; width:270px; height:35px;}
.nxiaofei li span{ float:right;}
.nxiaofei a{color:#999999;}

.nzhuantit{ clear:both;}
.nzhuantit li{background:url(http://uploads.dahe.cn/yn/2015/index/nimg/zhuanti.jpg) left top no-repeat; width:270px; height:35px;}
.nzhuantit li span{ float:right;}
.nzhuantit a{color:#999999;}

