@charset "utf-8";
/* CSS Document */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {margin:0;padding:0}
table {border-collapse:collapse;border-spacing:0}
fieldset,img {border:0}
address,caption,cite,code,dfn,th,var {font-style:normal;font-weight:normal}
em{font-style:normal}
ol,ul {list-style:none}
caption,th {text-align:left}
h1,h2,h3,h4,h5,h6 {font-size:inherit;font-weight:normal}
q:before,q:after {content:''}
abbr,acronym {border:0}


.clear{clear:both; font-size:0px; height:0px; line-height:0px; visibility:hidden}
.clearfix:after{content:""; display:block; clear: both}
.clearfix{zoom:1}
.hidden{display:none}

img{vertical-align:top; border:0}
a:link{text-decoration:none; color:#000}
a:visited{text-decoration:none; color:#000}
a:hover{text-decoration:underline; color:#f00}
a:active{text-decoration:none; color:#000}
.dConL{float:left}
.dConR{float:right}

body{background:#fff; font-family:"Microsoft YaHei","微软雅黑","宋体","新宋体","\5b8b\4f53","Arial","sans-serif"}
.wrapper{width:1000px; margin:0px auto}
.conbottom0803{margin-top:20px;clear:both;}