/* adjust padding for actor block flush bottom */
.homepage .content-block:last-child {
    padding-bottom: 0 !important;
}

a {
    color:#333;
}

h3.centered a, {
    color:#282D31;
}

h3.centered a:hover {
    color:#282D31;
    text-decoration:none;
}

h6 a {
    color:#FAFAFA !important;
}

h6 a:hover {
    color:#FAFAFA;
}

/* ====================================
$Slider
==================================== */
/*
.btn-group .btn-inverse {
    font-family: 'Signika', arial, sans-serif;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2);
    padding: 5px 30px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
}
*/


.promo-overlay {
    width:100%;
    height:100%;
}

.home-slider .btn-group a.disabled {
    background-color: #222222 !important;
    color: #FFFFFF;
    opacity:1;
    outline: 0 none;
}

.home-slider .btn-group a.active {
    background: rgb(92,82,82);
    background: -moz-linear-gradient(top,  rgba(92,82,82,1) 0%, rgba(73,65,65,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(92,82,82,1)), color-stop(100%,rgba(73,65,65,1)));
    background: -webkit-linear-gradient(top,  rgba(92,82,82,1) 0%,rgba(73,65,65,1) 100%);
    background: -o-linear-gradient(top,  rgba(92,82,82,1) 0%,rgba(73,65,65,1) 100%);
    background: -ms-linear-gradient(top,  rgba(92,82,82,1) 0%,rgba(73,65,65,1) 100%);
    background: linear-gradient(to bottom,  rgba(92,82,82,1) 0%,rgba(73,65,65,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c5252', endColorstr='#494141',GradientType=0 );

}

.slider-panels .series-overlay {
    padding: 12px;
    z-index:10;
    overflow:hidden;
}

.home-slider .slider-panels {
  min-height: 250px;
    position: relative;
}

.slider-panels h3 {
    color: #fff;
    margin: 0;
    margin-bottom: 10px;
}

.slider-panels h3 a {
    color: #fff;
}

.slider-panels > ul {
  display:none;
}

.slider-panels li.slider-panel {

    background:#000;
    float: left;
    width: 24%;
    margin: 0;
    position: relative;
    margin-left: 5px;
    margin-bottom: 6px;
    z-index: 1;

    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;

    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    opacity: 0;
}

.slider-panels li.slider-panel:first-child {
    width: 49.2%;
    padding-left: 0;
    padding-bottom: 0;
}

.slider-panels li.slider-panel .series-overlay .action-bar-bottom {
       left: 0;
    padding: 0 10px;
    position: absolute;

    transition: opacity 0.2s ease-out 0s;
    width: 100%;
    bottom:10px;
}

.slider-panels li.slider-panel img.main-thumb {

    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;

}

.slider-panels .list-cast li {
    font-size: .8em;
}

.centerfloat {
    float:left;
    width:100%;
    overflow:hidden;
    position:relative;
}

.slider-bullets {
    clear:left;
    float:left;
    list-style:none;
    margin:0;
    padding:0;
    position:relative;
    left:50%;
    text-align:center;
    margin-top: 10px;
}

.slider-bullets li {
    display:block;
    float:left;
    list-style:none;
    margin: 0 2px;
    padding:0;
    position:relative;
    right:50%;
    width: 18px;
    height: 18px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #444;
    box-shadow: inset 0 2px 4px rgba(0,0,0,.4);
    -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.4);
    background: #bebebe;
    background: -moz-linear-gradient(top,  #bebebe 0%, #c0c0c0 12%, #c5c5c5 24%, #e1e1e1 76%, #eaeaea 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bebebe), color-stop(12%,#c0c0c0), color-stop(24%,#c5c5c5), color-stop(76%,#e1e1e1), color-stop(100%,#eaeaea));
    background: -webkit-linear-gradient(top,  #bebebe 0%,#c0c0c0 12%,#c5c5c5 24%,#e1e1e1 76%,#eaeaea 100%);
    background: -o-linear-gradient(top,  #bebebe 0%,#c0c0c0 12%,#c5c5c5 24%,#e1e1e1 76%,#eaeaea 100%);
    background: -ms-linear-gradient(top,  #bebebe 0%,#c0c0c0 12%,#c5c5c5 24%,#e1e1e1 76%,#eaeaea 100%);
    background: linear-gradient(to bottom,  #bebebe 0%,#c0c0c0 12%,#c5c5c5 24%,#e1e1e1 76%,#eaeaea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bebebe', endColorstr='#eaeaea',GradientType=0 );
}

.slider-bullets li a {
    display: block;
    background: transparent;
    width: 12px;
    height: 12px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    margin: 0 auto;
    margin-top: 2px;
}

.slider-bullets li a.active,
.slider-bullets li a.active:hover {
    border: 1px solid #ac1718;
    box-shadow: inset 0 1px 0 #fb9090;
    -webkit-box-shadow: inset 0 1px 0 #fb9090;
    background: #ff5858;
    background: -moz-linear-gradient(top,  #ff5858 0%, #dd1d1d 64%, #e73434 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff5858), color-stop(64%,#dd1d1d), color-stop(100%,#e73434));
    background: -webkit-linear-gradient(top,  #ff5858 0%,#dd1d1d 64%,#e73434 100%);
    background: -o-linear-gradient(top,  #ff5858 0%,#dd1d1d 64%,#e73434 100%);
    background: -ms-linear-gradient(top,  #ff5858 0%,#dd1d1d 64%,#e73434 100%);
    background: linear-gradient(to bottom,  #ff5858 0%,#dd1d1d 64%,#e73434 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5858', endColorstr='#e73434',GradientType=0 );
    cursor: default;
}

.slider-bullets li a:hover {
    border: 1px solid #000;
    background: #45484d;
    box-shadow: inset 0 1px 0 #777;
    -webkit-box-shadow: inset 0 1px 0 #777;
}

.home-slider .actor-thumb {
    width: 20%;
    height: 20%;
    margin-right: 10px;
}

.home-slider .actor-thumb,
.home-slider .actor-thumb img {
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

.home-slider h5 {
    color: #ececec;
    font-size: 1em;
    margin: 0;
}

.large-overview {
    width: 60%;
}

.large-overview .btn {
    width: 29%;
}

.large-overview hr {
    border-top:1px solid #000;
    border-bottom:1px solid rgba(255,255,255,0.15);
    margin: 10px 0;
}


.large-cast {
    width: 40%;
    padding: 0 15px;
}

.large-cast h4 {
    color: #fafafa;
    font-weight: bold;
    margin-bottom: 10px;
}

.large-cast em {
    color: #b9b9b9;
}

.list-cast li {
    margin-bottom: 14px;
    white-space:nowrap;
}

.list-cast li div {
    max-width:70%;
}


.synopsis {
    color: #fafafa;
    text-shadow: none;
    font-size: .95em;
    margin-top: 5px;
    text-shadow: none !important;
    line-height: 1.3em;
}

.pop-list .synopsis {
    font-size: 1em;
}

.home-slider .action-bar-slider {
    bottom:10px;
    width:100%;
}

.home-slider a.main-link {
    display:block;
}



/* ====================================
$Activity Columns
==================================== */
.activities {
    padding-bottom: 20px;
}

.item-list {
    border: 1px solid #000;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
}

.item-list > li {
    background: #aaa;
    padding: 10px;
    border-bottom: 1px solid rgba(0,0,0,.2);
    background: #e8e8e8;
    background: -moz-linear-gradient(top,  #e8e8e8 0%, #e5e5e5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8e8e8), color-stop(100%,#e5e5e5));
    background: -webkit-linear-gradient(top,  #e8e8e8 0%,#e5e5e5 100%);
    background: -o-linear-gradient(top,  #e8e8e8 0%,#e5e5e5 100%);
    background: -ms-linear-gradient(top,  #e8e8e8 0%,#e5e5e5 100%);
    background: linear-gradient(to bottom,  #e8e8e8 0%,#e5e5e5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#e5e5e5',GradientType=0 );

}

.item-list > li:last-child {
    border-bottom: none;
}

.item-list > li a {
    color: #333;
    font-weight: 700;
    -webkit-transition: all 0 ease-in-out;
    -moz-transition: all 0 ease-in-out;
    -ms-transition: all 0 ease-in-out;
    -o-transition: all 0 ease-in-out;
    transition: all 0 ease-in-out;
}

.item-list .btn {
    font-weight: 500;
}

.item-list > li:hover a,
.item-list > li:hover p,
.item-list > li:hover .list-info {
    text-decoration: none;
}

.item-list > li:hover {
    background: #fafafa;
}

.item-list > li h6 {
    margin: 0;
}

.item-list > li a,
.item-list > li p {
    font-size: .85em;
    margin: 0;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

.item-list .icon-chevron-right {
    color: #aaa;
    text-shadow: 0 1px 0 #fff;
}

.latest-list > li {
    padding: 9px 10px;
    position:relative;
}

.latest-list li a {
    display: block;
    height: 100%;
    left: 0;
    padding-left: 10px;
    position: absolute;
    top: 0;
    width: 100%;
    line-height: 2.7em;
    width: 75%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.latest-list li p {
    width: 50%;
    text-align: right;
    margin: 0;
    padding: 0;
}

.list-info a {
    line-height: 1.3em;
}

.ep-count,
.watch-count {
    font-size: .8em;
    line-height: 1.3em;
}

.item-list > li img {
    width: 30%;
    border: 3px solid #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,.4);
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.4);
}

.list-info {
    width: 70%;
    padding: 0 10px;
    position: relative;
}

.list-info .exclusive {
    color: #666;
    border: 1px solid #cbcbcb;
    font-size: 0.6875em;
    padding: 0 0 0 5px;
    line-height: 1.8;
    border-radius: 3px;
    text-transform: uppercase;
    display: inline-block;
    zoom: 1;
    margin-top: 5px;
    font-weight: 700;
}

.list-info .exclusive i {
    color: #f64152;
    font-size: 1.250em;
    vertical-align: middle;
    line-height: 0;
}

.pop-list .featured a {
    font-size: 1.1em;
}

.pop-list .featured {
    padding: 0;
}

.pop-list .featured .list-info {
    position: absolute;
    bottom: 20px;
    left: 10px;
}

.pop-list .featured > img {
    width: 100%;
    border: none;
}

.pop-list .featured img {
    width: 100% !important;
}

.pop-list .featured h6 {
    text-shadow: none;

}

.pop-list a {
    text-shadow: none;
}

.pop-list .featured a {
    text-shadow: none;
}

.pop-list .featured .ep-count {
    font-size: 1em;
}

.pop-list > li img {
    width: 40%;
    border: 3px solid #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,.4);
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.4);
}


.pop-list .list-info {
    width: 60%;
    padding: 0 10px;
    position: relative;
}

.pop-list .featured .action-bar {
    top: auto !important;
    bottom: 10px;
}

.pop-list .featured .action-bar .btn {
    width: 48%;
    font-size: .85em;
}

.pop-list .featured .df-thumb-overlay-bar .btn {
    width: 48%;
    font-size: .8em;
}

.pop-list .featured .df-thumb-overlay-bar .btn-action {
    color: #fff;
}

.pop-list .list-info .action-bar {
    margin-top: 5px;
    opacity: 0;
    -webkit-transition: opacity 0.2s ease-out;
    -moz-transition: opacity 0.2s ease-out;
    -ms-transition: opacity 0.2s ease-out;
    -o-transition: opacity 0.2s ease-out;
    transition:  opacity 0.2s ease-out;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
}

.pop-list .list-info .action-bar .btn {
    font-size: .75em;
    margin-right: 3px;
    padding: 4px 6px;
}

.pop-list .list-info .action-bar .btn-action {
    width: auto;
}

.pop-list .action-bar .btn-action {
    color: #fff;
    text-shadow: 0 1px 0 rgba(0,0,0,.5);
}

.pop-list > .featured img {
    box-shadow: none;
    -webkit-box-shadow: none;
    border: 3px;
}

.pop-list li:hover .action-bar {
    opacity: 1;
}

.pop-list .synopsis,
.explore-list .synopsis {
    color: #fafafa;
    text-shadow: none;
    font-size: 1em;
    margin-top: 5px;
}

.apps-list em {
    font-size: .7em;
    color: #999;
}

.apps-list img {
    border: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}


.apps-list i {
    right: 0;
}


li.list-head,
li.list-head:hover {
    padding: 10px !important;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    background: rgb(43,45,48);
    background: -moz-linear-gradient(top,  rgba(43,45,48,1) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(43,45,48,1)), color-stop(100%,rgba(0,0,0,1)));
    background: -webkit-linear-gradient(top,  rgba(43,45,48,1) 0%,rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(top,  rgba(43,45,48,1) 0%,rgba(0,0,0,1) 100%);
    background: -ms-linear-gradient(top,  rgba(43,45,48,1) 0%,rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom,  rgba(43,45,48,1) 0%,rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b2d30', endColorstr='#000000',GradientType=0 );

    border: 1px solid #000;
}

.explore-list .explore-wrap {
    padding: 20px;
}

.explore-list .head {
    margin-bottom: 15px;
}


/* ====================================
$Apps
==================================== */
.apps-wrap > p {
    width: 70%;
    padding-right: 15px;
}

.apps-wrap > .btn {
    width: 30%;
    padding: 10px;
}

.apps-widget {
    background: #000;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    min-height: 300px;
}


/* ====================================
$Homepage Stars
==================================== */
.df-stars .container {
    text-align: center;
}

.df-stars .featured {
    padding-top: 30px;
    min-height: 400px;
}

.df-stars .span4 {
    position: relative;
}

.star-preview {
    text-align: left;
}

.star-preview h5 {
    display: inline;
    margin-right: 10px;
}

.star-preview .star-ranking {
    vertical-align: top;
    text-shadow: 0 1px 0 #fff;
}

.star-preview .star-ranking i {
    line-height: .8em !important;
}

.star-up {
    color: #4ea32b;
}

.star-preview .star-up i {
    color: #71bb52;
    text-shadow: 0 1px 0 rgba(0,0,0,.5);
}

.star-down {
    color: #cd151a;
}

.star-preview .star-down i {
    color: #d34649;
    text-shadow: 0 1px 0 rgba(0,0,0,.5);
}

.actor-stats {
    margin-bottom: 20px;
}

.actor-stats li {
    width: 90px;
    height: 90px;
    float: left;
    text-align: center;
    line-height: 90px;
    font-size: 4em;
    color: #999;
    text-shadow: 0 1px 0 #fff;
    font-family: helvetica, arial, sans-serif;
    font-weight: 700;
    margin-right: 8px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    box-shadow: 0 2px 5px rgba(0,0,0,.5), inset 0 0 4px #fff;
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,.5), inset 0 0 4px #fff;
    background: #ffffff;
    background: -moz-linear-gradient(top,  #ffffff 0%, #ededed 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ededed));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#ededed 100%);
    background: -o-linear-gradient(top,  #ffffff 0%,#ededed 100%);
    background: -ms-linear-gradient(top,  #ffffff 0%,#ededed 100%);
    background: linear-gradient(to bottom,  #ffffff 0%,#ededed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
}

.actor-stats > li img {
    vertical-align: top;
}

.actor-stats li:hover {
    background: #fff;
}

.star-left,
.star-right {
    position: absolute;
}

.star-left {
    left: 12px;
}

.star-right {
    right: 12px;
}

.star-mobile {
    height:200px;
    margin-right: 20px;
}



.latest-collections a {
  display:block;
}


.latest-collections .withad li img {
    width: 100%;
}

.latest-collections img {
    width: 100%;
}





.slider-panel .df-thumb-overlay-bar .btn {
    font-size: .75em;
}

.large-overview .action-bar-bottom .btn {
    font-size: .85em;
}


/* ====================================
$Update messages
==================================== */

.updates-slider {
    overflow:hidden;
}

.update-message-box {
    position: absolute;
    top: 13px;
    left: 125px;
    width: 70%;
    overflow: visible;
}

.update-messages {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.update-messages li {
    opacity: 0;
    -webkit-transition: opacity 0.8s;
    -moz-transition: opacity 0.8s;
    -ms-transition: opacity 0.8s;
    -o-transition: opacity 0.8s;
    transition: opacity 0.8s;
}

.update-messages li.active {
    opacity:1;
}

.update-messages li a {
    color: #e0e0e0;
}

.update-messages li a:hover {
    color:#666;
    text-decoration:none;
}

.well-alerts {
    background: #444;
    padding: 8px 15px;
    position: relative;
    padding-left: 130px;
    font-size: 1.05em;
    height: 50px;
    border: 1px solid #000;
    box-shadow: none;
    -webkit-box-shadow: none;
    overflow: hidden;
}

.well-alerts p {
    line-height: 30px;
}

.well-alerts .bug {
    color: #333;
    position: absolute;
    left: 0;
    top: 0;
    line-height: 45px;
    height: 100%;
    z-index:2;
    padding: 3px 5px 3px 10px;
    text-align: center;
    border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    background: #ccc;
}

.well-alerts .bug:after {
    content: '';
    position: absolute;
    top: 0;
    right: -24px;
    width: 0;
    height: 0;
    border-top: 24px solid transparent;
    border-bottom: 24px solid transparent;
    border-left: 24px solid #ccc;
}





.thumbs-list > li:hover .series-overlay,
.pop-list > li:hover .series-overlay,
.shows-panel > li:hover .series-overlay,
.explore-list .series-thumb:hover .series-overlay {
    opacity: 1;
}

.series-overlay .action-bar {
    position: absolute;
    bottom:10px;
    left: 0;
    width: 100%;
    padding: 0 10px;
    -webkit-transition: opacity 0.2s ease-out;
    -moz-transition: opacity 0.2s ease-out;
    -ms-transition: opacity 0.2s ease-out;
    -o-transition: opacity 0.2s ease-out;
    transition:  opacity 0.2s ease-out;
}


.series-overlay a,
.series-overlay a:hover {
    text-decoration: none !important;
}

.watching-list .progress {
    margin: 10px 0;
    width: 100%;
}


span.loader {
    width: 200px;
    margin: 50px auto;
    display: block;
    text-align: center;
}
span.loader img {
    padding:0 10px 0 0;
}

#wtw .overlay-bar {
    position: absolute;
    bottom:0;
    width:100%;
    padding:0 10px;
    display:block;
}

#wtw .overlay-bar .progress {
    height:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    -webkit-box-shadow: 0 0 0  0 #000;
    -moz-box-shadow: 0 0 0  0 #000;
    box-shadow: 0 0 0  0 #000;
    border:none;
}

#wtw .watching-list li:hover .overlay-bar {
    display:none;
}

.watching-list {
    padding: 15px;
    background: #fafafa;
    overflow: auto;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,.3);
    position: relative;
    margin-bottom: 20px;
    border: 4px solid transparent;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    min-height:177px;
}

.watching-list .action-bar .btn {
    width: 48%;
}

.watching-list .action-bar .btn.btn-default {
    margin:0 0 0 5px;
}

.watching-list .series-thumb {
    width: 50%;
}

.watching-list h6 a {
    color: #FAFAFA !important;
    font-size: 1em;
}

.watching-list h6 {
    margin-bottom: 0;
    margin-top: 5px;
}

.watching-list .details {
    text-align:left;
}

.thumbs-list h6,
.explore-list h6 {
    font-size: 1em !important;
}

.thumbs-list .action-bar,
.explore-list .action-bar {
    top: auto;
    bottom: 10px;
    text-align:center;
}

.soon-list .action-bar .btn {
    width: 100%;
}

.group-list .action-bar .btn {
    width: 48%;
}

.group-list {
    margin: 20px 0;
}

.genre-type {
    font-size: .8em;
}

.explore-list .df-thumb-container {
    margin-bottom: 10px;
}

.explore-list .head {
    text-align: center;
}

.btn-list-more {
    width: 100%;
    padding: 10px;
}


/*MESSAGING*/
.df-messages {
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.df-messages.hide-message {
    margin-top:-500px;
}




.home-slider .actor-thumb {
    width: 20%;
    height: 20%;
    margin-right: 10px;
}

.home-slider .actor-thumb,
.home-slider  .actor-thumb img {
    border-radius: 5px;
    -webkit-border-radius: 5px;
}
.home-slider h5 {
    color: #ececec;
    font-size: 1em;
    margin: 0;
}


.large-cast {
    width: 40%;
    padding: 0 15px;
}

.large-cast h4 {
    color: #fafafa;
    font-weight: bold;
    margin-bottom: 10px;
}

.large-cast em {
    color: #b9b9b9;
}

.list-cast li {
    margin-bottom: 14px;
}


.s-facebook {
    margin-top:20px;
    display:none;
}

.homepage-latino .s-facebook {
    display:block;
}

.s-facebook a {
    color:#FFF!important;
}

.s-facebook a:hover {
    text-decoration: none;
}

.content-block > .container > .watching-list > li {
    width:20%;
}

/* Recommendation/What to watch bar. */

.recommended-for-you {
    text-align: center
}

.recommendation > .series-overlay > .details {
    width: 100%;
    padding-left: 4px;
}

.recommend .details .title {
    text-align:center;
}
.recommend .details {
    text-align:center;
}

.recommend .action-bar .btn {
    width:100%;
}

.thumbs-list > li > .recommendation {
    width: 100%
}

li.col-md-2 > .details {
    float:left;
    width:100%;
    padding:10px 0 0 0;
    font-family: 'Open Sans', arial, sans-serif;
    font-size:14px;
}

li.col-md-2 > .details {
    text-align: left;
}

.series-overlay > .details.pull-left {
    width: 100%;
}

/* Fixes weird overlay visibility bug */

li.col-md-2 {
    backface-visibility:hidden;
    -webkit-backface-visibility:hidden; /* Chrome and Safari */
    -moz-backface-visibility:hidden; /* Firefox */
    -ms-backface-visibility:hidden; /* Internet Explorer */
}

/* ====================================
$Homepage Takeover //comment out old takeover css
==================================== */
.takeover {
    padding-top: 98px !important;
}

.takeover > .container {
    position: relative;
    margin: 0 auto;
}

.takeover-internal {
    background: url(../img/10001c/bg.gif) repeat-x;
    text-align: center;
}

.promo-overlay {
    position: absolute;
    text-align: left;
    z-index:20;
}

.btn-takeover:hover,
.takeover:hover .btn-takeover {
    box-shadow: 0 0 9px 4px rgba(255,121,121,.5), 0 0 15px 2px rgba(255,255,255,.5), 0 0 1px 2px rgba(255,0,0,.6);
    -webkit-box-shadow: 0 0 9px 4px rgba(255,121,121,.5), 0 0 15px 2px rgba(255,255,255,.5), 0 0 1px 2px rgba(255,0,0,.6);
}


.list-cast .actor-thumb {
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}


.list-cast .actor-thumb:hover {
    box-shadow: 0 0 0 2px #fff;
    -webkit-box-shadow: 0 0 0 2px #fff;
}


@media (max-width: 1198px) {
    .takeover > .container {
        width: 100%;
    }

    .group-list .action-bar .btn {
        font-size: .85em;
        padding: 4px 8px;
    }

    .container {
        width: 95%;
    }
}

@media (max-width: 1179px) {
    .featured-wrap {
        height: 280px;
        min-height: 350px !important;
    }
}

@media (max-width: 1144px) {
    .group-list .synopsis {
        display: none;
    }


}

@media (max-width: 1065px) {
    .df-stars .featured {
        min-height: 330px;
    }

    .thumbs-list .df-thumb-overlay-bar .btn,
    .slider-panel .df-thumb-overlay-bar .btn {
        padding: 5px;
        font-size: .75em;
    }
}

@media (max-width: 978px) {
    .activities > .span4 {
        width: 100% !important;
        margin: 0;
        margin-bottom: 30px;
    }

    .item-list > li img {
        width: auto;
    }

    .group-list > .span3,
    .soon-list > .span3 {
        width: 50%;
        margin: 0;
        padding: 10px;
    }

    .explore-list > .span4 {
        width: 31.6%;
        margin: 0 1%;
        float: left;
    }

    .pop-list .list-info {
        display: none;
    }

    .pop-list > li,
    .pop-list > li:hover {
        padding: 20px !important;
    }

    .pop-list > li img {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 0 15px;
    }

    .group-list > .span3,
    .soon-list > .span3 {
        float: left;
    }

    .latest-collections img {
        width: 100%;
    }

    .slider-panels li.slider-panel {
        width: 50% !important;
        margin: 0;
    }

    .slider-panels li.slider-panel:first-child {
        width: 100% !important;
    }

    .slider-panels .series-thumb,
    .df-thumb-container {
        border: 4px solid transparent !important;
    }

    .slider-panels .series-thumb img {
        width: 100%;
    }

    .slider-panels li.slider-panel:before {
        box-shadow: none;
        -webkit-box-shadow: none;
    }

    .series-thumb {
        cursor: pointer;
    }

    .action-bar .btn {
        font-size: .8em;
        width: 48% !important;
        padding: 8px !;
        margin: 0;
    }

    .takeover-push {
        min-height: 150px;
    }

    .content-block > .container > .watching-list > li {
    width:100%;
    }

    .update-messages li a {
        max-width: 70%;
        overflow: hidden;
        display: block;
        font-size: 13px;
        line-height: 24px;
        color: #e0e0e0;
    }



}


@media (max-width: 660px) {
    .takeover-push {
        min-height: 100px;
    }
}


@media (max-width: 580px) {
    .takeover-push {
        min-height: 20px;
    }

    .explore-list > .span4 {
        width: 100%;
        margin: 0;
        float: none;
    }
}

@media (max-width: 480px) {
    .view-homepage .container {
        width: 100%;
        padding: 0;
    }
    .view-homepage .col-sm-4 {
        padding: 0;
    }
    .view-homepage .item-list.pop-list {
        margin-top: 20px;
    }

    .pop-list .featured {
        border-top: none;
    }

    .df-stars .star-preview {
        display: block;
        float: none !important;
        clear: both !important;
        margin-bottom: 50px !important;
        overflow: auto;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0,0,0,.4);
    }

    .df-stars,
    .df-stars .container {
        padding: 0;
    }

    .star-preview {
        padding: 10px;
    }

    .star-preview img {
        margin-bottom: 0;
    }

    .group-list > .span3,
    .soon-list > .span3 {
        float: none;
        width: 100%;
    }

    .slider-panels li.slider-panel {
        width: 100% !important;
    }

    .explore-list .explore-wrap {
        padding: 10px;
        margin-bottom: 20px;
    }

    .explore-wrap .series-thumb {
        margin: auto;
        width: auto;
    }
}
