@charset "UTF-8";

@font-face {
  font-family: "dramafever";
  src:url("../fonts/dramafever.eot");
  src:url("../fonts/dramafever.eot?#iefix") format("embedded-opentype"),
    url("../fonts/dramafever.woff") format("woff"),
    url("../fonts/dramafever.ttf") format("truetype"),
    url("../fonts/dramafever.svg#dramafever") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "dramafever" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="dficon-"]:before,
[class*=" dficon-"]:before {
  font-family: "dramafever" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dficon-devices-apps:before {
  content: "b";
}
.dficon-face-happy:before {
  content: "c";
}
.dficon-badge-new:before {
  content: "e";
}
.dficon-platforms:before {
  content: "f";
}
.dficon-bell:before {
  content: "g";
}
.dficon-content-library:before {
  content: "h";
}
.dficon-globe:before {
  content: "i";
}
.dficon-hd-screen:before {
  content: "j";
}
.dficon-buildings:before {
  content: "k";
}
.dficon-shades:before {
  content: "l";
}
.dficon-group:before {
  content: "m";
}
.dficon-comment-outline-fill:before {
  content: "n";
}
.dficon-comment-outline-empty:before {
  content: "o";
}
.dficon-comment-outline-fill-1:before {
  content: "n";
}
.dficon-star-filled-alt:before {
  content: "p";
}
.dficon-play-btn-outline:before {
  content: "q";
}
.dficon-group-alt:before {
  content: "r";
}
.dficon-dramafever:before {
  content: "a";
}
.dficon-comments-alt:before {
  content: "t";
}
.dficon-play-btn-fill:before {
  content: "s";
}
.dficon-youtube-alt:before {
  content: "s";
}
.dficon-alert:before {
  content: "u";
}
.dficon-twitter:before {
  content: "v";
}
.dficon-tumblr:before {
  content: "w";
}
.dficon-instagram:before {
  content: "x";
}
.dficon-play-btn-fill-lg:before {
  content: "y";
}
.dficon-youtube:before {
  content: "z";
}
.dficon-document:before {
  content: "A";
}
.dficon-check-box-fill:before {
  content: "B";
}
.dficon-check-outline:before {
  content: "C";
}
.dficon-check-outline-checked:before {
  content: "D";
}
.dficon-more:before {
  content: "E";
}
.dficon-less:before {
  content: "F";
}
.dficon-angle-up-lg:before {
  content: "G";
}
.dficon-angle-up-sm:before {
  content: "H";
}
.dficon-angle-right-lg:before {
  content: "I";
}
.dficon-angle-right-sm:before {
  content: "J";
}
.dficon-angle-down-lg:before {
  content: "K";
}
.dficon-angle-down-sm:before {
  content: "L";
}
.dficon-angle-left-lg:before {
  content: "M";
}
.dficon-angle-left-sm:before {
  content: "N";
}
.dficon-pinterest:before {
  content: "O";
}
.dficon-gplus:before {
  content: "P";
}
.dficon-gplus-alt:before {
  content: "Q";
}
.dficon-attachment:before {
  content: "R";
}
.dficon-attachment-alt:before {
  content: "S";
}
.dficon-share:before {
  content: "T";
}
.dficon-share-alt:before {
  content: "U";
}
.dficon-comments:before {
  content: "V";
}
.dficon-comment:before {
  content: "W";
}
.dficon-eye-alt:before {
  content: "X";
}
.dficon-eye:before {
  content: "Y";
}
.dficon-eye-disabled:before {
  content: "Z";
}
.dficon-warning-fill:before {
  content: "0";
}
.dficon-warning-outline:before {
  content: "1";
}
.dficon-check-circle:before {
  content: "2";
}
.dficon-cancel-circle:before {
  content: "3";
}
.dficon-cancel:before {
  content: "4";
}
.dficon-cancel-lg:before {
  content: "5";
}
.dficon-check-1:before {
  content: "6";
}
.dficon-check-alt:before {
  content: "7";
}
.dficon-movie:before {
  content: "8";
}
.dficon-star-empty:before {
  content: "9";
}
.dficon-star-half-outline:before {
  content: "!";
}
.dficon-star-half:before {
  content: "\"";
}
.dficon-star:before {
  content: "#";
}
.dficon-envelope-outline:before {
  content: "$";
}
.dficon-envelope-fill:before {
  content: "%";
}
.dficon-search:before {
  content: "&";
}
.dficon-rss:before {
  content: "'";
}
.dficon-rss-box:before {
  content: "(";
}
.dficon-menu:before {
  content: ")";
}
.dficon-facebook-alt:before {
  content: "+";
}
.dficon-facebook:before {
  content: "*";
}
.dficon-tag:before {
  content: ",";
}
.dficon-tags:before {
  content: "-";
}
.dficon-caret-up:before {
  content: ".";
}
.dficon-caret-down:before {
  content: "/";
}
.dficon-caret-left:before {
  content: ":";
}
.dficon-caret-right:before {
  content: ";";
}
.dficon-contrast:before {
  content: "<";
}
.dficon-contrast-alt:before {
  content: "=";
}
.dficon-pencil:before {
  content: ">";
}
.dficon-edit:before {
  content: "?";
}
.dficon-pencil:before {
  content: ">";
}
.dficon-circle-fill:before {
  content: "@";
}
.dficon-circle-outline:before {
  content: "[";
}
.dficon-queue-add:before {
  content: "]";
}
.dficon-queue-remove:before {
  content: "^";
}
.dficon-heart:before {
  content: "_";
}
.dficon-play-circle:before {
  content: "`";
}
.dficon-play:before {
  content: "{";
}
.dficon-play-circle:before {
  content: "\e008";
}
.dficon-play-circle-outline:before {
  content: "}";
}
.dficon-user:before {
  content: "|";
}
.dficon-user:before {
  content: "|";
}
.dficon-pushpin:before {
  content: "~";
}
.dficon-lock:before {
  content: "\\";
}
.dficon-arrow-up:before {
  content: "\e000";
}
.dficon-arrow-down:before {
  content: "\e001";
}
.dficon-thumb-down:before {
  content: "\e002";
}
.dficon-thumb-up:before {
  content: "\e003";
}
.dficon-thumb-down-alt:before {
  content: "\e004";
}
.dficon-thumb-up-alt:before {
  content: "\e005";
}
.dficon-hd:before {
  content: "\e006";
}
.dficon-plus:before {
  content: "\e007";
}
.dficon-noads:before {
  content: "d";
}
.dficon-lock:before {
  content: "\e010";
}
.dficon-cog:before {
  content: "\e009";
}
.dficon-sound:before {
  content: "\e00a";
}
.dficon-text:before {
  content: "\e00b";
}
.dficon-subtitle:before {
  content: "\e00c";
}
.dficon-clock:before {
  content: "\e00d";
}
.dficon-flag:before {
  content: "\e00e";
}
.dficon-link:before {
  content: "\e00f";
}
