/***************************************************
 * http://skyrock.com V6
 * Skylive
 * /m/overview.php
 * ************************************************/

/********************************
 * Humeur
 * *****************************/
.mood-content {
    padding: 6px;
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.mood-content:before,
.mood-content:after {
    left: 21px;
    border-width: 0 12px 12px 0;
    top: -12px;
}
.mood-content:after {
    top: -10px;
    left: 22px;
}
#f_mood {
    width: 554px;
    padding: 6px;
    margin: 0 4px 0 0;
    color: #949494;
    border: 0;
    background: #fff;
    cursor: pointer;
}
.mood_modified #f_mood,
.mood_focused #f_mood,
#f_mood:hover {
    color: #666;
    background: #dfedf6;
}
.js #mood .bouton {
    display: none;
    margin: 0;
}
.mood_modified .bouton,
.mood_focused .bouton {
    display: inline !important;
}
#whatsup_options {
    position: relative;
    text-align: right;
    margin-top: 8px;
}

/********************************
 * Evenements
 * *****************************/

#nf_events_filter {
    background-color: #f2f2f2;
    text-align: right;
    position: relative;
    margin-bottom: 20px;
}
#nf_events_filter div {
    padding: 10px;
}
#nf_events_filter h1 {/* titre LIVE dans la barre avec le filtre */
    text-transform: uppercase;
    font-size: 18px;
    height: 36px;
    line-height: 36px;
    padding: 0 0 0 10px;
}

#nf_filter_link {
    min-width: 70px;
    font-weight: bold;
    color: #333;
    font-size: 14px;
}
#nf_filter_link:hover {
    text-decoration: none;
}

#nf_filter_link span {
    padding-right: 2px;
}

.js #nf_filter_menu {
    display: none;
    position: absolute;
    right: 0;
}

#nf_filter_menu.newsfeed_message_action {
    top: inherit;
    margin-top: 8px;
    min-width: 60px;
    right: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}

#nf_filter_menu.newsfeed_message_action li {
    border-bottom: none;
}

#nf_filter_menu.newsfeed_message_action a {
    color: #2B343D;
}
 
.skylive .sub-nav {
    position: relative;
    z-index: 1;
}
.events .sub-nav {
    margin-left: 68px;
    border-top: 0;
    text-align: right;
    font-size: 11px;
    font-weight: bold;
    background-color: #fff;
    border: 1px solid #f2f2f2
}

#nf-container {
    position: relative;
    margin: 0 0 -20px;
    padding: 0;
}

.no_navigation_bar_pub #nf-container {
    margin: 0 -14px -14px;
    padding: 20px 14px 14px;   
}
.no_navigation_bar_pub #nf-container:before {
    display: none;
}

.skylive-alertes #nf-container {
    padding-top: 1px; 
}
.events .has-1 .c-img {
    width: 530px;
    height: 398px;
    line-height: 398px;
}
.events .has-2 .c-img {
    width: 264px;
    height: 198px;
    line-height: 198px;
}
.events .has-3 .c-img {
    width: 176px;
    height: 131px;
    line-height: 131px;
}
.events .has-1 img {
    min-height: 398px;
}
.events .has-2 img {
    min-height: 198px;
}
.events .has-3 img {
    min-height: 131px;
}
#nf-container .sub-nav {
    padding: 0;
}
#nf-container .sub-nav .kiff,
#nf-container .sub-nav form,
#nf-container .sub-nav label,
#nf-container .sub-nav .count,
#nf-container .sub-nav .remix_action {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    vertical-align: top;
    padding: 8px 20px;
    border-left: 1px solid #f2f2f2;
}
#nf-container .sub-nav form {
    padding: 0;
    border: none;
}

#nf-container .sub-nav .kiff,
#nf-container .sub-nav .kiff a,
#nf-container .sub-nav label,
#nf-container .sub-nav .count,
#nf-container .sub-nav .count a,
#nf-container .sub-nav .remix_action, 
#nf-container .sub-nav .remix_action a {
    color: #009aff; 
}

/*********************************
 * Profile
 * ******************************/
.friends_online img.avatar,
.profile_visitors img.avatar {
    width: 50px;
    height: 50px;
}

#column_left .boy,
#column_left .girl,
#column_left .article-title {
    font-weight: bold;
}

.skylive .article-title {
    line-height: 20px;
    font-size: 18px;
    color: #292929;
    word-wrap: break-word;
}

/* Masquer events */
.hide-events {
    position: absolute;
    display: block;
    height: 14px;
    top: 12px;
    right: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    visibility: hidden;
    overflow: hidden;
    text-indent: 100%;
    background: #fff url(/img/common/sprite-bullet.png) no-repeat -652px 50%;
    z-index: 19;
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;

}
.del-cross {
    position: absolute;
    visibility: hidden;
    top: 12px;
    right: 10px;
    z-index: 20;
}
.event-secondary .hide-events {
    top: 7px;
}
li:hover .hide-events,
li:hover .del-cross {
    visibility: visible;
}
.hide-events:hover {
    text-decoration: none;
}
.newsfeed_message_action {
   position: absolute;
   top: 43px;
   right: -10px;
   padding: 12px 20px;
   background: #fff;
   border:1px solid #e3e3e3;
   -webkit-border-radius: 2px;
   -moz-border-radius: 2px;
   border-radius: 2px;
   z-index: 1;
}
.event-secondary .newsfeed_message_action {
    top: 36px;
}
.newsfeed_message_action:before,
.newsfeed_message_action:after {
    left: auto;
    right: 22px
}
.newsfeed_message_action li {
    padding: 5px 0 5px 12px;
    border-bottom: 1px dashed #ccc;
    background: #fff url(/img/common/sprite-bullet.png) no-repeat 0 11px;
}
.newsfeed_message_action li:last-child {
    border: 0;
}
.newsfeed_message_action button {
    font-weight: normal;
    padding: 0;
    color: #292929;
}
.newsfeed_message_action button:hover {
    text-decoration: underline;
    background: none;
}

/*********************************
 * Commentaires NF
 * *******************************/
.js .invisible {
    position: absolute;
    left: -999em;
    height: 0;
    overflow: hidden;
}
.skylive .cancel {
    display: none;
    overflow: hidden;
    padding-left: 18px;
    position: absolute; 
    top: 0;
    right: 0;
    z-index: 10;
    width: 0;
    text-indent: -999em;
}
.skylive .comment-item:hover .cancel,
.skylive .cancel:focus {
    display: block;
}
/* Loading */
#nf-container li.loading {
    height: 162px;
    background: url(/img/loader/wait_circle_32.gif) no-repeat 50%;
    text-indent:-999em;
    overflow: hidden;
}
#nf-container li.loading:before {
    display: none;
}
#load-more {
  margin-left: 68px;
}

/****************************************
 * Suite à la refonte des homes (mars 2014)
 * **************************************/
/* Impacte le NF Actu Blog Star, le NF des Actus Sources et le NF Admin */
body {
    background-image: none;
}

#column_left:before, #nf-container:before {
    background: transparent;
    -moz-box-shadow: 0 0 0 rgba(0,0,0,0);
    -webkit-box-shadow: 0 0 0 rgba(0,0,0,0);
    box-shadow: 0 0 0 rgba(0,0,0,0);
}
#column_left {
    width: 620px;
    padding: 0 0 20px;
}
.events .event-primary .newsfeed_message_content {
    padding: 11px 10px 0;
}


/*************************** N'impacte que le NF admin */
#admskyrock #header {
    padding-bottom: 0;
}

/* LIVE : Content - Flux d'actus */
#admskyrock #column_left {
    width: 620px;
    padding: 20px;
    -moz-box-shadow: 0 0 0 rgba(0,0,0,0);
    -webkit-box-shadow: 0 0 0 rgba(0,0,0,0);
    box-shadow: 0 0 0 rgba(0,0,0,0);
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

#admskyrock .events .newsfeed_message_content, #admskyrock .events .sub-nav {
    margin-left: 48px;
}
#admskyrock .events .event-primary .newsfeed_message_content {
    padding: 11px 20px 0;
}

#admskyrock .events li .avatar-link img, #admskyrock .events .mini-profil {
    width: 30px;
    height: 30px;
}


/* LIVE : Sidebar */
#admskyrock #column_right {
    padding-right: 20px;
    padding-top: 20px;
    background-color: #fff;
}
#admskyrock #column_right .column-right-box {
    margin-bottom: 20px;
    padding: 0;
    background-color: #f2f2f2;
    border: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}


/* LIVE : Sidebar - Titres des blocs  */
#admskyrock #column_right .title {
    margin: 0;
    background-color: #272727;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: normal;
}
#admskyrock #column_right .title h2 {
    font-weight: normal;
}
#admskyrock #column_right .title a {
    color: #fff;
    text-decoration: none;
}


/* LIVE : Sidebar - Boutons MON  BLOG et MON PROFIL */
#admskyrock #column_right .my-sites {
    display: block;
    margin: auto 0;
    padding: 5px 0;
    height: 30px;
    font-size: 15px;
}
#admskyrock #column_right .my-sites a {
    padding: 0 20px 0 35px;
    height: 30px;
    line-height: 30px;
    background-position: 10px center;
}

/* LIVE : Sidebar - Recherche Profil  */
#admskyrock #recherche form {
    padding: 17px;
}
#admskyrock #recherche .result-search {
    margin: 0;
    background-image: none;
    border-top: 1px solid #fff;
    padding: 16px;
}
#admskyrock #column_right .bouton.neutral.ico_search {
    background-color: #028be5;
}
#admskyrock #column_right .bouton.neutral.ico_search:hover, #admskyrock #column_right .bouton.neutral.ico_search:focus {
    background-color: #2c88d6;
}

#admskyrock .quick-access .others-links {
    border: none;
}



/* LIVE : Sidebar - Liste avatars façon HOME EDITO  */
#admskyrock .sidebar-avatarlist {
    padding: 16px;
    margin: 0;
}
#admskyrock #column_right .thumbnails {
    margin: 0;
}

/* LIVE : Sidebar - À Découvrir  */
#admskyrock #suggestions {
    position: relative;
}
#admskyrock #suggestions .sep-dashed {
    border-width: 1px 0 0 0;
    border-style:  dashed;
    border-color:  #ccc;
    padding: 8px 0;
}
#admskyrock #suggestions .sep-dashed:first-child {
    border: none;
}
#admskyrock #suggestions .suggestions-more {
    padding: 0px;
    height: 32px;
    line-height: 32px;
    position: absolute;
    top: 0;
    right: 0;
}
#admskyrock #suggestions .suggestions-more .add-item {
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    padding: 0 10px;
    margin: 0;
    font-weight: bold;
}
#admskyrock #suggestions .suggestions-more .add-item:before {
    content: "+";
}
#admskyrock #suggestions .suggestions-more .add-item:hover {
    background: rgba(0, 0, 0, 0.35);
    text-decoration: none;
}




/* LIVE : Sidebar - Bloc Amis en ligne */
#admskyrock .skylive #sidebar-online-friends {
    position: relative;
}
#admskyrock .skylive #sidebar-online-friends .title {
    background-color: #87b201;
}
#admskyrock .skylive #sidebar-online-friends .see-more {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
}
#admskyrock .skylive #sidebar-online-friends .see-more a,
#admskyrock .skylive #sidebar-online-friends .see-more a:hover {
    display: block;
    height: 32px;
    line-height: 32px;
    padding: 0 13px;
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
#admskyrock .skylive #sidebar-online-friends .see-more a:hover {
    background-color: rgba(0, 0, 0, 0.35);
}
#admskyrock .skylive #sidebar-online-friends .see-more a:after {
    content: "\00BB";
    color: #fff;
    margin-left: 5px;
    font-weight: bold;
}
#admskyrock .skylive #sidebar-online-friends .see-more + p {
    padding: 16px 16px 0 16px;
}
#admskyrock #sidebar-online-friends .xonline .avatar-link:after, 
#admskyrock #sidebar-online-friends .xonline .avatar-link-small:after {
    content: "";
}