/*Stylesheet for Search Page*/

/*Header Search Form Styles*/
#searchForm .sBtn {
	background:url('/ISC/GoogleSearch/images/searchBtn.jpg') no-repeat;
	background-size:cover;
	width:27px !important;
	height:25px;
	border:0px;
	outline:0px;
	margin:-4px 0px 0px -5px;
	cursor:pointer;
	float:left;
}
#searchForm .searchBox {
	border-radius:4px 0px 0px 4px;
	border-right:0px;
	float:left;
	outline:none;
	/*Added styles from Mockup*/
	width:210px; 
	height:21px; 
	margin-top:-4px; 
	padding:1px 5px; 
	border:1px solid #999999; 
	-ms-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	/*Added styles from Mockup*/
}
#searchForm .suggestList {
	margin: 0px 0px;
	padding: 0px 0px;
}
#searchForm .suggestList li {
	list-style-type: none;
}
#searchForm #manualSuggestions {
	display: none;
	text-align: left;
}
#searchForm #manualSuggestions li a {
	text-align: left;
	font-size: 14px;
	padding: 5px 5px;
	display: block;
	color: #0071bc;
	text-decoration: none;
}
#searchForm #manualSuggestions li a b {
	color:#000000;
	display:inline-block;
	vertical-align:top;
}
#searchForm #manualSuggestions li {
	background: #FFFFFF;
	width:100%;
	padding:0px 0px;
}
#searchForm #manualSuggestions li:hover, 
#searchForm #manualSuggestions li.selected, 
#searchForm #manualSuggestions li:focus {
	background: #EEEEEE;
}
#searchForm #suggestionsWrapper {
	background: #FFFFFF;
	padding: 5px 0px;
	position: absolute;
	margin: 21px 0px 10px 0px;
	width: auto;
	display: none;
	z-index: 1000;
	border-radius:0px 0px 5px 5px;
	box-shadow: 0 0px 3px 2px #888888;
}
#searchForm #suggestionsWrapper #apiSuggestions {
	float: left;
	width: 98%;
	background: #FFFFFF;
	color: #000000;
	padding: 0px 0px 0px 0px;
}
#searchForm #suggestionsWrapper #gsaSuggestions p, 
#searchForm #suggestionsWrapper #apiSuggestions p {
	color: #000000;
	font-size: 13px;
	margin: 0px 0px 10px 0px;
	text-decoration: underline;
	text-align: left;
}

/*Search Results Styles*/

.searchResultsContainer table, .searchResultsContainer table td {
	border:0px;
	padding-left:0px;
}
.searchResultsContainer b {
	vertical-align:top;
}
.searchResultsContainer #suggestion_form {
	margin:0px 0px 15px 0px;
}
.searchResultsContainer #suggestion_form table td {
	padding:0px;
}
.searchResultsContainer .searchInputBox,
.searchResultsContainer .searchButton {
	padding:5px 10px;
	font-size:15px;
}
.searchResultsContainer .topSearchInfoBar,
.searchResultsContainer  #top-navigation,
.searchResultsContainer #bottom-navigation {
	width:50%;
}
.searchResultsContainer #bottom-navigation {
	margin-top:10px;
}
.searchResultsContainer .topSearchInfoBar {
	float:left;
}
.searchResultsContainer  #top-navigation ,
.searchResultsContainer #bottom-navigation,
.searchResultsContainer  #top-navigation .paginationDiv,
.searchResultsContainer  #bottom-navigation .paginationDiv{
	float:right;
}
.searchResultsContainer  #top-navigation .paginationDiv td,
.searchResultsContainer  #bottom-navigation .paginationDiv td {
	padding:0px 0px;
}
.searchResultsContainer  #top-navigation .paginationDiv td a,
.searchResultsContainer  #bottom-navigation .paginationDiv td a {
	color:#0071bc;
}
.searchResultsContainer  #top-navigation .paginationDiv td span.i,
.searchResultsContainer  #bottom-navigation .paginationDiv td span.i {
	color:#000000;
}

.searchResultsContainer #top-navigation .paginationDiv td a.pagePrev,
.searchResultsContainer #bottom-navigation .paginationDiv td a.pagePrev {
	background:url('/ISC/GoogleSearch/images/prev_inactive.png') no-repeat;
	background-size:cover;
	width:17px;
	height:17px;
	text-decoration:none;
	display:block;
	cursor:default;
	margin:0px 5px 0px 0px;
}
.searchResultsContainer #top-navigation .paginationDiv td .available a.pagePrev,
.searchResultsContainer #bottom-navigation .paginationDiv td .available a.pagePrev {
	background:url('/ISC/GoogleSearch/images/prev_active.png') no-repeat;
	background-size:cover;
	width:17px;
	height:17px;
	text-decoration:none;
	display:block;
	margin:0px 5px 0px 0px;
	cursor:pointer;
}
.searchResultsContainer #top-navigation .paginationDiv td a.pageNext,
.searchResultsContainer #bottom-navigation .paginationDiv td a.pageNext {
	background:url('/ISC/GoogleSearch/images/next_inactive.png') no-repeat;
	background-size:cover;
	width:17px;
	height:17px;
	text-decoration:none;
	display:block;
	cursor:default;
	margin:0px 5px 0px 0px;
}
.searchResultsContainer #top-navigation .paginationDiv td .available a.pageNext,
.searchResultsContainer #bottom-navigation .paginationDiv td .available a.pageNext {
	background:url('/ISC/GoogleSearch/images/next_active.png') no-repeat;
	background-size:cover;
	width:17px;
	height:17px;
	text-decoration:none;
	display:block;
	cursor:pointer;
	margin:0px 5px 0px 0px;
}
.searchResultsContainer .titleLink {
	color:#000000;
	font-size:14px;
	font-weight:bold;
}
.searchResultsContainer .titleLink span{
	vertical-align:top;
}
.searchResultsContainer .individualResults {
	margin:15px 0px 0px 0px;
	padding:0px 0px 15px 0px;
	border-bottom:1px solid grey;
}
.searchResultsContainer .individualResults table,
.searchResultsContainer .individualResults table td {
	width:90%;
}
.searchResultsContainer .individualResults table td.s {
	padding:0px 0px 0px 0px;
}
.searchResultsContainer .snippetURL {
	color:#0071bc;
}
.searchResultsContainer .snippetSection {
	word-wrap:break-word;
	width:90%;
	padding:0px 0px 10px 0px;
	display:block;
}
.searchResultsContainer .snippetSection br{
	display:none;
}
.searchResultsContainer .individualResults .fileType {
	float:left;
	height:50px;
	margin:0px 5px 0px 0px;
	padding:4px 0px 0px 0px;
}
.searchResultsContainer .individualResults .previewWrapper {
	/*display:none; -- Commented out to enable Previews*/
}
.searchResultsContainer .individualResults .previewButton {
	width:30px;
	height:30px;
	background:url('/ISC/GoogleSearch/images/previewIcon.png') no-repeat;
	background-size:contain;
	position:relative;
}