@charset "utf-8";
/*
Theme Name: A8 Login beforetop Theme
Version: 1.0
Description: ログイン前top用テーマです。
Author: a8
*/

* {
	margin: 0;
	padding: 0;
}

/*-------------------------------------
reset
---------------------------------------*/

html {
	color:#333;
	font-family:"ＭＳ ゴシック", "MS Gothic", "Osaka－等幅", Osaka-mono, monospace;
	overflow-y:scroll;
	margin-top:0;
}

body {
	font-size:12px;
	line-height:150%;
	color:#333;
	background:#eeeeee;
	margin:0;
	padding:0;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,input,label,textarea,select,fieldset,legend,p,blockquote,img { margin:0; padding:0;}
fieldset,img { border:0;}

ol,ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

table {
	border-collapse:collapse;
	border-spacing:0;
	font-size:100%;
}


address,caption,cite,code,dfn,em,strong,th,var { font-style:normal;	font-weight:normal;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:normal;}
q:before,q:after {content:'';}
abbr,acronym { border:0;}
pre,code,kbd,samp,tt {
	font-family: monospace;
	*font-size: 108%;
	line-height: 100%;
}

.nowrap {white-space:nowrap;}
.bold {font-weight:bold;}
strong { font-weight: bold;}


/*-------------------------------------
common
---------------------------------------*/

/* float */
.floatL {float:left;}
.floatR {float:right;}

/* clear */
.clear {
	clear: both;
	background: transparent;
	height: 1px;
	font-size: 1px;
}

.clearfix:after{/*for modern browser*/
    content:".";
    display: block;
    height:0px;
    clear:both;
    line-height:0;
    visibility:hidden;
}

.clearfix{
    zoom:1;/*for IE 5.5-7*/
}

 /* IE6 */
 * html .clearfix {
	display: inline-block;
}

/* IE7 */
 *+html .clearfix {
 	display: inline-block;
}

/* margin */
.mgt3 {margin-top:3px !important;}
.mgt5 {margin-top:5px !important;}
.mgt10 {margin-top:10px !important;}
.mgt15 {margin-top:15px !important;}
.mgt20 {margin-top:20px !important;}
.mgt25 {margin-top:25px !important;}
.mgt30 {margin-top:30px !important;}
.mgt35 {margin-top:35px !important;}
.mgt40 {margin-top:40px !important;}
.mgt50 {margin-top:40px !important;}
.mgt60 {margin-top:60px !important;}

.mgr5 {margin-right:5px !important;}
.mgr10 {margin-right:10px !important;}
.mgr15 {margin-right:15px !important;}
.mgr20 {margin-right:20px !important;}
.mgr25 {margin-right:25px !important;}
.mgr30 {margin-right:30px !important;}
.mgr35 {margin-right:35px !important;}
.mgr40 {margin-right:40px !important;}

.mgl5 {margin-left:5px !important;}
.mgl10 {margin-left:10px !important;}
.mgl15 {margin-left:15px !important;}
.mgl20 {margin-left:20px !important;}
.mgl25 {margin-left:25px !important;}
.mgl30 {margin-left:30px !important;}
.mgl35 {margin-left:35px !important;}
.mgl40 {margin-left:40px !important;}

.mgb3 {margin-bottom:3px !important;}
.mgb5 {margin-bottom:5px !important;}
.mgb10 {margin-bottom:10px !important;}
.mgb15 {margin-bottom:15px !important;}
.mgb20 {margin-bottom:20px !important;}
.mgb25 {margin-bottom:25px !important;}
.mgb30 {margin-bottom:30px !important;}
.mgb35 {margin-bottom:35px !important;}
.mgb40 {margin-bottom:40px !important;}



/* padding */

.pdt5 {padding-top:5px !important;}
.pdt10 {padding-top:10px !important;}
.pdt15 {padding-top:15px !important;}
.pdt20 {padding-top:20px !important;}
.pdt25 {padding-top:25px !important;}
.pdt30 {padding-top:30px !important;}
.pdt35 {padding-top:35px !important;}
.pdt40 {padding-top:40px !important;}

.pdr5 {padding-right:5px !important;}
.pdr10 {padding-right:10px !important;}
.pdr15 {padding-right:15px !important;}
.pdr20 {padding-right:20px !important;}
.pdr25 {padding-right:25px !important;}
.pdr30 {padding-right:30px !important;}
.pdr35 {padding-right:35px !important;}
.pdr40 {padding-right:40px !important;}

.pdl5 {padding-left:5px !important;}
.pdl10 {padding-left:10px !important;}
.pdl15 {padding-left:15px !important;}
.pdl20 {padding-left:20px !important;}
.pdl25 {padding-left:25px !important;}
.pdl30 {padding-left:30px !important;}
.pdl35 {padding-left:35px !important;}
.pdl40 {padding-left:40px !important;}

.pdb5 {padding-bottom:5px !important;}
.pdb10 {padding-bottom:10px !important;}
.pdb15 {padding-bottom:15px !important;}
.pdb20 {padding-bottom:20px !important;}
.pdb25 {padding-bottom:25px !important;}
.pdb30 {padding-bottom:30px !important;}
.pdb35 {padding-bottom:35px !important;}
.pdb40 {padding-bottom:40px !important;}


/* align */

.alR {text-align:right;}
.alL {text-align:left;}
.alC {text-align:center;}

.vaT {vertical-align:top;}
.vaM {vertical-align:middle;}
.vaB {vertical-align:bottom;}


/* link */
a:link {   color: #003366; text-decoration: none;}
a:visited {color: #003366; text-decoration: none;}
a:hover {  color: #660033; text-decoration: none;}
a:active { color: #660033; text-decoration: none;}


/* text */

.corRed { color:#C00; font-weight:bold;}
.corBlue { color:#0091dc; font-weight:bold;}

.txtS {
	font-size:10px !important;
	line-height:14px !important;
}

.txtM {
	font-size:14px !important;
	line-height:18px !important;
}

.txtB {
	font-size:16px !important;
	line-height:18px !important;
}

/* arrow */

.arrow a {
	background:url(/wp/wp-content/uploads/2014/12/icon_arrow01.gif) left center no-repeat;
	padding-left:15px;
}

/* toTop */
.toTop {
	padding-top:20px;
	text-align:right;
}

.toTop a{
	background:url(/wp/wp-content/uploads/2014/12/icon_arrow02.gif) left center no-repeat;
	padding-left:15px;
}


/* border */
.border01 {
	background:url(images/border01.gif) left top repeat-x;
	height:1px;
}

.border02 {
	border-top:1px solid #CCC;
}

/* box */

.g01Box{
	border:1px solid #CCC;
	padding:10px;
}

.g02Box{
	background:#eee;
	padding:10px;
}

/* table */
table.spec {
	border:1px solid #ccc;
	border-collapse:collapse;
}

table.spec th{
	border:1px solid #ccc;
	border-collapse:collapse;
	background:#efefef;
	padding:3px;
	white-space:nowrap;
}

table.spec td{
	border:1px solid #ccc;
	border-collapse:collapse;
	background:#fff;
	padding:3px;
}

/* care */
ul.care {
	 font-size:10px;
	 line-height:1.3;
}

ul.care li{
	text-indent:-10px;
	padding-left:10px;
	padding-bottom:3px;
}

/* ancer */

ul.ancNavi{
	list-style:none;
	margin:10px 0 0 0;
	padding:0;
}

ul.ancNavi li{
	display:inline;
	margin:0 10px 0 0;
	padding:0;
}

ul.ancNavi li.last{
	margin:0;
}

ul.ancNavi a{
	background:url(images/icon_arrow03.gif) left center no-repeat;
	padding-left:12px;
}

.md01 {
	border-left:5px solid #ff8a00;
	padding-left:5px;
	font-size:16px; font-size:1.6rem;
	margin-top:15px;
	margin-bottom:10px;
	font-weight:bold;
}


/*-------------------------------------
wrapper
---------------------------------------*/

/* Wrapper */
#wrapper01 {
	width:auto;
	margin:0 auto;
	background:url(/wp/wp-content/uploads/2014/12/header_bg01.gif) left top repeat-x #ffffff;
}

#wrapper02 {
	width:950px;
	margin:0 auto;
}

#wrapper03 {
	width:930px;
	margin:0 auto;
	padding:15px 10px;
}

/*-------------------------------------
wrapper_tmp
---------------------------------------*/

#wrapperTmp01{
    width:auto;
    background:url(/wp/wp-content/uploads/2014/12/target_headerBg.jpg) left top repeat-x #ffffff;
}

#wrapperTmp02 {
    width:950px;
    background:#ffffff;
    margin:0 auto;
}


/*-------------------------------------
header
---------------------------------------*/
#headerBox {
	width:950px;
	margin:0 auto;
	padding-top:3px;
}

#headerBox h1{
	font-size:12px;
	text-align:center;
	color:#FFFFFF;
	margin:0;
	padding:0;
}

#headerBox #loginArea {
	padding:5px 10px 15px;
}

#headerBox #selectLang {
	float:right;
	padding:3px 10px;
	font-size:12px;
	line-height:1;
	border:1px solid #cccccc;
}

#headerBox #ssL{
	font-size:10px;
	line-height:180%;
	float:right;
	margin-right:10px;
}

#headerBox #ssL a{
	background:url(images/lgnform_icon_ssl.gif) left center no-repeat;
	padding-left:15px;
}
#headerBox #beginner{
	font-size:10px;
	line-height:180%;
	padding-right:7px;
	margin-right:10px;
	float:right;
}

#headerBox #beginner a{
	background:url(images/lgnform_icon_beginner.gif) left center no-repeat;
	padding-left:15px;
	vertical-align:middle;
}


#headerBox .passHelp{
	font-size:10px;
	line-height:150%;
	float:left;
	vertical-align:middle;
}

#headerBox .passHelp a{
    font-size:10px;
    line-height:150%;
	background:url(images/lgnform_icon_pass.gif) left center no-repeat;
    padding:0 0 0 15px;
    display:block;
}

#headerBox .newApp{
	font-size:10px;
	line-height:150%;
	float:left;
	vertical-align:middle;
	margin-right:10px;
}

#headerBox .newApp a{
    font-size:10px;
    line-height:150%;
	background:url(images/lgnform_icon_app.gif) left center no-repeat;
    padding:0 0 0 15px;
    display:block;
}


#headerBox #headerLeft, #headerBox #headerRight{
	width:350px;
	float:left;
	margin-top:7px;
    position:static;
}

#headerBox #logo{
	width:230px;
	float:left;
	text-align:center;
}

/*  loginArea  */

#headerBox form{
	width:350px;
	height:34px;
	background:url(images/lgin_bg01.gif) left top no-repeat;
    margin:0;
	padding:0;
    display:table-cell;
    vertical-align:middle;
}

/*-- ie6 --*/
 * html #headerBox form{
    padding-top:2px;
}

/*-- ie7 --*/
*:first-child+html #headerBox form{
    padding-top:4px;

}

/*-- ie8 --*/
#headerBox form{
    padding-top:0\9;
}

#headerBox input{
    display:inline;
    border:none;
    vertical-align:middle;
}

#headerBox ul.loginForm{
    width:318px;
    padding:0 5px 0 27px;
    margin:0;
    vertical-align:middle;
}

#headerBox ul.loginForm li.idInput{
    width:80px;
    float:left;
	height:22px;
    padding-right:45px;
    vertical-align:middle;
}

/*-- ie6 --*/
 *html #headerBox ul.loginForm li.idInput{
    width:80px;
    float:left;
    height:22px;
    padding-right:37px;
    vertical-align:middle;
}

#headerBox ul.loginForm li.idInput input{
    width:80px;
    height:22px;
    margin:0;
    padding:0 2px;
	display:inline;
    line-height:22px;
	vertical-align:middle;
}

#headerBox ul.loginForm li.passInput{
    width:120px;
    float:left;
    display:table-cell;
	padding:0 2px;
	height:22px;
	vertical-align:middle;
}

/*-- ie6 --*/
 *html #headerBox ul.loginForm li.passInput{
    width:116px;
    float:left;
    display:table-cell;
    padding:0 2px;
    height:22px;
    vertical-align:middle;
}

#headerBox ul.loginForm li.passInput input{
    width:120px;
	height:22px;
    display:inline;
    margin:0;
    padding:0 2px;
    line-height:22px;
    vertical-align:middle;
}

/*-- ie6 --*/
 *html #headerBox ul.loginForm li.passInput input{
    width:116px;
    height:22px;
    display:inline;
    margin:0;
    padding:0 2px;
    line-height:22px;
    vertical-align:middle;
}

#headerBox ul.loginForm li.lgnBtn{
    width:60px;
    height:22px;
    display:table-cell;
    float:right;
    vertical-align:middle;
    margin:0;
    padding:0;
}

#headerBox ul.loginForm li.lgnBtn input{
	vertical-align:middle;
}

/*-- ie6 --*/
 *html #headerBox ul.loginForm li.lgnBtn input{
    vertical-align:middle;
    padding:2px;
}

#headerBox .asTit{
	width:57px;
	float:left;
	margin-right:10px;
}

#headerBox .ecTit{
	width:77px;
	float:left;
	margin-right:10px;
}

/*-------------------------------------
globalNavi
---------------------------------------*/

#gNaviBox{
	width:930px;
	margin:0 auto 0;
	padding:0 10px;
	background:url(images/gnavi_bg01.png) left bottom no-repeat;
}

#gNaviBox li{
	width:auto;
	float:left;
	margin-right:2px;
	text-indent:-9999px;
}

#gNaviBox a{
	display:block;
	height:37px;
}

/* rollover_off */
#gNaviBox #gnavi01 a{width:130px; background:url(images/gnavi01.jpg) left top no-repeat; margin-left:2px;}
#gNaviBox #gnavi02 a{width:131px; background:url(images/gnavi02.jpg) left top no-repeat;}
#gNaviBox #gnavi03 a{width:131px; background:url(images/gnavi03.jpg) left top no-repeat;}
#gNaviBox #gnavi04 a{width:131px; background:url(images/gnavi04.jpg) left top no-repeat;}
#gNaviBox #gnavi05 a{width:131px; background:url(images/gnavi05.jpg) left top no-repeat;}
#gNaviBox #gnavi06 a{width:131px; background:url(images/gnavi06.jpg) left top no-repeat;}
#gNaviBox #gnavi07 a{width:129px; background:url(images/gnavi07.jpg) left top no-repeat;}

/* rollover_on */
#gNaviBox #gnavi01 a:hover{background-position:left bottom;}
#gNaviBox #gnavi02 a:hover{background-position:left bottom;}
#gNaviBox #gnavi03 a:hover{background-position:left bottom;}
#gNaviBox #gnavi04 a:hover{background-position:left bottom;}
#gNaviBox #gnavi05 a:hover{background-position:left bottom;}
#gNaviBox #gnavi06 a:hover{background-position:left bottom;}
#gNaviBox #gnavi07 a:hover{background-position:left bottom;}

/*-------------------------------------
side
---------------------------------------*/
#sideBox #breadcrumb{
margin-bottom:10px;
}

#sideBox {
	width:280px;
	float:left;
	margin-right:20px;l
}

#sideBox {
	width:280px;
	float:left;
	margin-right:20px;l
}


#sideBox #newEcBox {
	width:280px;
	background:url(images/newec_bg01.jpg) left top no-repeat;
	text-align:center;
	padding:6px 0 4px 0;
	margin-top:15px;
}

#sideBox #newEctit{ padding-bottom:7px;}
#sideBox #newEcbtn{ padding-bottom:13px;}

#sideBox #todayNum{
	border:2px solid #eee;
	padding:10px;
	font-size:12px;
	margin-top:15px;
}


#sideBox #todayNum .bigNum{
	font-size:20px;
	line-height:120%;
	font-family:Arial, Helvetica, sans-serif;
	color:#CC0000;
	font-weight:bold;
}

#sideBox #todayNum #todayToal01 dt{
	width:140px;
	float:left;
	margin-right:5px;
}

#sideBox #todayNum #todayToal01 dd{
	width:111px;
	float:left;
}


#sideBox #todayNum #todayToal02 dt{
	width:100px;
	float:left;
	margin-right:10px;
}

#sideBox #todayNum #todayToal02 dd{
	width:146px;
	float:left;
}



#sideBox h2.sideTit {
	background:url(images/side_tit_bg01.jpg) left top no-repeat;
	padding:8px 0 6px 10px;
	margin-top:15px;
}

#sideBox .sideFrame{
	border-left:1px solid #eee;
	border-right:1px solid #eee;
	padding:10px 10px 7px;
}


#sideBox #best3Content{
	border-left:1px solid #eee;
	border-right:1px solid #eee;
	padding:10px 10px 7px;
	text-align:center;
}

#sideBox #best3Content li{
	display:inline;
	font-size:14px;
}

#sideBox #best3Content li.best1{background:url(images/best3_icon01.gif) left center no-repeat; padding:3px 0 0 18px;	margin-right:15px;}
#sideBox #best3Content li.best2{background:url(images/best3_icon02.gif) left center no-repeat; padding:3px 0 0 18px;	margin-right:15px;}
#sideBox #best3Content li.best3{background:url(images/best3_icon03.gif) left center no-repeat; padding:3px 0 0 18px;}


/*-------------------------------------
main
---------------------------------------*/

#mainBox {
	width:630px;
	float:right;
}

#mainBox h2{
	border-bottom:1px solid #cccccc;
}

#mainBox h3.subTit {
	background:url(images/sub_tit_border01.gif) left bottom repeat-x;
	padding-bottom:7px;
	font-size:16px;
	font-weight:bold;
}

#mainBox h2.mainTit{
	background:url(images/main_tit_bg01.jpg) left top no-repeat;
	padding:8px 0 6px 10px;
	margin-top:15px;
}

#mainBox .mainFrame{
	border-left:1px solid #dedede;
	border-right:1px solid #dedede;
	padding:10px 10px 7px;
}


/*-------------------------------------
footer
---------------------------------------*/

#footer {
	background:url(images/footer_bg01.gif) left top repeat-x #eeeeee;
	margin-top:50px;
	padding:20px 0 80px 0;
	font-size:12px;

}

#footer #copyright{
	margin-top:20px;
	text-align:center;
	line-height:180%;
}

#footer #footerArea{
	width:930px;
	margin:0 auto;
	padding:0 10px;
}


#footer dl{
	width:162px;
	float:left;
	margin-right:30px;
}

#footer dl.last{
	width:162px;
	float:left;
	margin:0;
}

#footer dt {
	font-weight:bold;
	background:#999999;
	padding:3px 10px 3px;
	color:#FFFFFF;
	margin-bottom:5px;
	background:url(images/footer_tit_bg01.gif) left top repeat;
}


#footer dd {
	padding-left:10px;
	margin-bottom:3px;
}


#footer a{
	background:url(images/footer_icon_arrow.gif) left center no-repeat;
	padding-left:13px;
	display:inline-block;
}


/*-------------------------------------
index
---------------------------------------*/

#recommendS {
	margin: 0 auto;
	width: 630px;
	text-align: left;
}

#recommendS div {
	width: 630px;
	height: 270px;
	overflow: hidden;
	position: relative;
}

#recommendS div div {
	top: 0;
	left: 0;
	position: absolute;
}

#recommendS ul{
	width: 625px;
	height:50px;
	background:#cccccc;
	padding:4px 0 4px 4px;
	margin:0;
}

#recommendS li{
	width: 100px;
	height:50px;
	float:left;
	margin:0 4px 0 0;
	padding:0;
}

#recommendS li.last{
	width: 100px;
	height:50px;
	float:left;
	margin:0 5px 0 0;
	padding:0;
}

#recommendS .active {
	filter:alpha(opacity=50)!important;
	-moz-opacity: 0.5!important;
	opacity: 0.5!important;
}

#newsBox{
	width:630px;
	margin-top:15px;
}

/*1つのとき*/
#newsBox #newsArea{
	width:628px;
	border-left:1px solid #dedede;
	border-right:1px solid #dedede;
}

#newsBox #newsArea h4{
	width:57px;
	float:left;
	padding:10px;
	background:#ffb546;
}

/*複数のとき*/

#newsBox #newsArea02{
	width:628px;
	border-left:1px solid #dedede;
	border-right:1px solid #dedede;
	background:#ffb546;
}

#newsBox #newsArea02 h4{
	width:57px;
	float:left;
	padding:10px;
}

#newsBox #newsArea #newsEntry, #newsBox #newsArea02 #newsEntry{
	width:531px;
	padding:0 10px;
	float:left;
	background:#FFF;
}

#newsBox #newsArea #newsEntry li, #newsBox #newsArea02 #newsEntry li{
	padding:5px 3px;
}

#newsBox #newsArea #newsEntry span.newIcon, #newsBox #newsArea02 #newsEntry span.newIcon{
	background:url(images/icon_new01.gif) left center no-repeat;
	padding-left:32px;
}

#newsBox #newsArea #newsEntry li.line, #newsBox #newsArea02 #newsEntry li.line{
	background:url(images/border01.gif) left bottom repeat-x;
}

#newProgram li.line{
	background:url(images/border01.gif) left bottom repeat-x;
	margin-bottom:5px;
	padding-bottom:5px;
}

#newProgram a{
	background:url(images/icon_arrow01.gif) left center no-repeat;
	padding-left:15px;
}


/* =======================================
	ClearFixElements
======================================= */
#recommendS ul:after {
	content: ".";
	height: 0;
	clear: both;
	display: block;
	visibility: hidden;
}

#recommendS ul{
	display: inline-block;
	overflow: hidden;
}


/* mainEcList */

#mainEcList {
	width:628px;
	border:1px solid #dedede;
	margin-top:15px;
}

#mainEcList #mainEcTit{
	background:#fffbd3;
	padding:4px 8px;
}

#mainEcList #mainEcTit h4{
	width:75px;
	float:left;
	padding:2px 0;
}

#mainEcList #mainEcTit #mainEcBtn{
	width:75px;
	float:right;
}

#mainEcList #mainEcframe {
	padding:0 9px;
	background:#FFF;
}

#mainEcList #mainEcLogo{
	background:#ffffff;
	width:580px;
	height:110px;
	float:left;
}

#mainEcLogo img {
    width: 580px;
    height:110px;
}

#mainEcnaviL {
	width:15px;
	float:left;
	padding-top:47px;
}

#mainEcnaviR {
	width:15px;
	float:right;
	padding-top:47px;
}

/*-------------------------------------
pankuzu
---------------------------------------*/

#pankuzu{ font-size:10px; margin-bottom:10px;}

/*-------------------------------------
bottomTx
---------------------------------------*/

#bottomTx{ font-size:10px; line-height:1.4em; margin-top:10px;}


#footer {
	margin-top:25px;
}


/*-------------------------------------
2015.08.12 add
---------------------------------------*/
#aboutAffiliate { margin-top:30px;}
#aboutAffiliate h3.subTit{
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size:20px;
	padding-bottom:10px;
}
#aboutAffiliate h3.subTit p.arrow{
	display:inline-block;
	float:right;
	font-family:"ＭＳ ゴシック", "MS Gothic", "Osaka－等幅", Osaka-mono, monospace;
	font-size:12px;
	font-weight:normal;	
}

#aboutAffiliate #aboutWrap{ padding:15px 10px 30px 10px;}
#aboutAffiliate #aboutWrap p.lead{ font-size:14px; line-height:1.5;}

#aboutAffiliate h4{
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;	
	font-size:16px;
	font-weight:bold;
	background:url(/wp/wp-content/uploads/2015/08/a8_circleicon.jpg) left 5px no-repeat;
	padding-left:20px;
	margin-bottom:5px;
}
#aboutAffiliate h4 p.arrow{
	display:inline-block;
	float:right;
	font-family:"ＭＳ ゴシック", "MS Gothic", "Osaka－等幅", Osaka-mono, monospace;
	font-size:12px;
	font-weight:normal;	
}

#aboutAffiliate #newMainEcList{ margin-top:40px;}
#aboutAffiliate #newMainEcList #mainEcframe2{ margin-top:15px;}
#aboutAffiliate #newMainEcList #mainEcnavisL{
	width:15px;
	float:left;
}
#aboutAffiliate #newMainEcList #mainEcLogos{
	width:580px;
	float:left;
}
#aboutAffiliate #newMainEcList #mainEcnavisR{
	width:15px;
	float:left;
}


#aboutAffiliate #exampleAffi{ margin-top:25px;}
#aboutAffiliate #exampleAffi ul.siteArea{ margin-top:15px;}
#aboutAffiliate #exampleAffi ul.siteArea li.left{ width:295px; float:left; text-align:center;}
#aboutAffiliate #exampleAffi ul.siteArea li.right{ width:295px; float:right; text-align:center;}

#aboutAffiliate #exampleAffi ul.siteArea li p.title{
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;	
	font-size:12px; color:#7e7e44;
	background:#eeeec9;
	padding:3px;
	margin-bottom:8px;
}


/*-------------------------------------
about.php
---------------------------------------*/

@charset "euc-jp";

#a8point01 {
	width:228px;
	float:left;
	background:url(/wp/wp-content/uploads/2014/12/a8_point_icon01.jpg) left top no-repeat;
	padding-left:77px;
}

#a8point02 {
	width:228px;
	float:right;
	background:url(/wp/wp-content/uploads/2014/12/a8_point_icon02.jpg) left top no-repeat;
	padding-left:77px;
}

#a8point03 {
	width:228px;
	float:left;
	background:url(/wp/wp-content/uploads/2014/12/a8_point_icon03.jpg) left top no-repeat;
	padding-left:77px;
}

#a8point04 {
	width:228px;
	float:right;
	background:url(/wp/wp-content/uploads/2014/12/a8_point_icon04.jpg) left top no-repeat;
	padding-left:77px;
}

#a8point05 {
	width:228px;
	float:left;
	background:url(/wp/wp-content/uploads/2014/12/a8_point_icon05.jpg) left top no-repeat;
	padding-left:77px;
}

#a8point06 {
	width:228px;
	float:right;
	background:url(/wp/wp-content/uploads/2014/12/a8_point_icon06.jpg) left top no-repeat;
	padding-left:77px;
}


#a8point07 {
	width:228px;
	float:left;
	background:url(/wp/wp-content/uploads/2014/12/a8_point_icon07.jpg) left top no-repeat;
	padding-left:77px;
}

#a8point08 {
	width:228px;
	float:right;
	background:url(/wp/wp-content/uploads/2014/12/a8_point_icon08.jpg) left top no-repeat;
	padding-left:77px;
}


#a8recEc{
	width:598px;
	margin-top:10px;
	border:solid 1px #ccc;
	padding:15px 15px 5px 15px;
}

#a8recEc ul.left{
	float:left;
	margin-right:35px;
}

#a8recEc ul.last{
	float:left;
	margin-right:0;
}

#a8recEc li{
	white-space:nowrap;
	padding-bottom:10px;
}

#a8recEc a{
	background:url(images/icon_arrow01.gif) left center no-repeat;
	padding-left:12px;
}


/*-------------------------------------
2015.08.12 add
---------------------------------------*/
#affiliateMovie h3.subTit,
#process h3.subTit,
#beginnerCont h3.subTit{
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size:18px;
	padding-bottom:10px;
}

#process { margin-top:40px;}
#process h4.step{
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size:16px;
	font-weight:bold;
}
#process h4.step span{
	font-size:12px;
	color:#fff;
	background:#cf0000;
	padding:3px 5px;
	border-radius:3px;
	margin-right:10px;
}

#process .btnArea p{ display:inline;}
#process p.redBtn a{
	display:inline-block;
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#fff;
	padding:8px 15px;
	background:#e95858;
	border-radius:5px;
}
#process p.redBtn a span{
	background:url(/wp/wp-content/uploads/2015/08/a8_btnarrow_white.png) left center no-repeat;
	padding-left:14px;
}


#beginnerCont { margin-top:40px;}

#beginnerCont dl.bgCont{ display:table; width:630px;}
#beginnerCont dl.bgCont dt{ display:table-cell; width:180px; padding-right:30px;}
#beginnerCont dl.bgCont dd{ display:table-cell; vertical-align:top;}

#beginnerCont dl.bgCont dt img{ border:1px solid #ccc;}
#beginnerCont h4{
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;	
	font-size:16px;
	font-weight:bold;
	background:url(/wp/wp-content/uploads/2015/08/a8_circleicon.jpg) left 5px no-repeat;
	padding-left:20px;
	margin-bottom:5px;
}

#beginnerCont dl.bgCont2{ display:table; width:630px;}
#beginnerCont dl.bgCont2 dt{ display:table-cell; width:290px; padding-right:30px;}
#beginnerCont dl.bgCont2 dd{ display:table-cell; vertical-align:top;}

/*-------------------------------------
camp.html
---------------------------------------*/
#rewritable_camp dl{ display:table; width:100%; margin-top:15px; padding-top:15px; border-top:1px dotted #ccc;}
#rewritable_camp dl dt{ width:260px; display:table-cell; padding-right:10px; vertical-align:top;}
#rewritable_camp dl dd{ display:table-cell; vertical-align:middle;}
#rewritable_camp .campBan dl, #rewritable_camp .campBan dt, #rewritable_camp .campBan dd{ display:block;}
#rewritable_camp .campBan dd{ margin-top:10px;}
#rewritable_camp .campResult{ background:#ffffec; margin-top:15px;}
#rewritable_camp .campResult .resultTit{background: url('//support.a8.net/as/campaign/images/result_bg.gif') left bottom repeat-x; padding: 10px 0 7px 0; margin: 0 10px;}
#rewritable_camp .campResult .campL{width: 280px; float: left; padding: 10px 20px 10px 10px;}
#rewritable_camp .campResult .campR{width: 280px; float: right; padding: 10px 20px 10px 10px;}




/*================
recommend
================*/



#mainBox .item{
	width:630px;
	margin-top:15px;
}

#mainBox .item ul{
	width:562px;
	text-align:center;
	padding:0 34px
}

#mainBox .item li{
	width:164px;
	float:left;
	margin-right:30px;
}

#mainBox .item li.last{
	width:164px;
	float:left;
	margin:0;
}

#mainBox .item .ecname{
	font-size:10px;
}

/*================
detail
================*/

#mainBox #detail{
	background:#ffffec;
	margin-top:15px;
	border:solid 1px #dca225;
	padding:10px;
}

#mainBox #detail ul{
	margin-top:10px;
}

#mainBox #detail .fLeft{
	float:left;
	margin-right:30px;
}

#mainBox #detail .fRight{
	float:left;
}


/*-------------------------------------
event
---------------------------------------*/

.semiTxt{
	width:362px;
	float:left;
}

.semiPic{
	width:258px;
	float:right;
	margin-top:30px;
}

.festivalreport{
	border:solid 1px #CCC;
	padding:10px;
	margin-top:20px;
}

.reportLeft{
	width:294px;
	float:left;
	margin-top:6px;
	margin-right:20px;
}

.reportRight{
 	width:280px;
 	float:left;
 	margin-top:6px;
}


/*-------------------------------------
interview
---------------------------------------*/

.Interview{
	border:solid 1px #ccc;
	margin-top:15px;
	padding:10px;
}


.asPic{
	width:277px;
	float:left;
	margin-right:15px;
}


.asComment{
	width:300px;
	float:left;
	background:url(/wp/wp-content/uploads/2014/12/interview_icon01.gif) left top no-repeat;
	padding-left:15px;
}

.ecLogo img{
	border:solid 1px #ccc;
}


.ecCap{
	width:153px;
	float:left;
}

.ecCap img{
	border:solid 1px #ccc;
}

.ecInterview{
	width:283px;
	border:solid 1px #ccc;
	margin-top:15px;
	padding:10px;
	float:left;

}

.ecComment{
	width:283px;
	text-align:center;

}

.asecName{
	color:#0b407c;
	font-weight:bold;

}

.ecLogo{
	text-align:center;
	margin-top:10px;
}

/*================
as01,as02.html style
================*/

.introL{
	width:222px;
	float:left;
}

.introR{
	width:378px;
	float:right;
	line-height:1.3;
	margin-top:10px;
}

.dot02{background:url(/wp/wp-content/uploads/2014/12/dot.gif) repeat-x bottom left; font-size:1px; height:1px;}


#mainBox #case h2{
	border-bottom:1px solid #cccccc;
	background:url(/wp/wp-content/uploads/2014/12/title_bg.gif) top left no-repeat;
	padding:5px 0 6px 12px;
	font-size:21px;
	font-weight:bold;
}

#mainBox .whatFanblogL{
	width:104px;
	float:left;
	margin-right:10px;
}

#mainBox .whatFanblogR{
	width:516px;
	float:left;
	margin-top:15px;
	font-size:14px;
}

#mainBox .spCapL{
	width:177px;
	float:left;
	margin-right:45px;
}

#mainBox .spCapL02{
	width:177px;
	float:left;
	margin-right:60px;
}

#mainBox .spCapR{
	width:162px;
	float:left;
}


/*========================
entry
========================*/

#mainBox #entry .graybox{
	background-color:#f6f6f6;
	border:1px solid #cccccc;
	width:608px;
	padding:10px;
}
#mainBox #entry .graybox .fLeft{
	width:372px;
	float:left;
}
#mainBox #entry .graybox .fRight{
	width:228px;
	float:right;
	text-align:right;
}

#mainBox #entry .whitebox .fLeft01{
	width:332px;
	float:left;
}
#mainBox #entry .whitebox .fRight01{
	width:266px;
	float:right;
}

#mainBox #entry .graybox .fLeft02{
	width:224px;
	float:left;
}
#mainBox #entry .graybox .fRight02{
	width:376px;
	float:right;
	text-align:right;
}


#mainBox #entry .whitebox{
	background-color:#fff;
	border:1px solid #cccccc;
	width:608px;
	padding:10px;
}

#mainBox #entry .whitebox .fLeft02{
	width:259px;
	float:left;
}
#mainBox #entry .whitebox .fRight02{
	width:341px;
	float:right;
}

#mainBox #entry .left295{
	width:295px;
	float:left;
}

#mainBox #entry .right295{
	width:295px;
	float:right;
}

.dotbg610{
	background:url(/wp/wp-content/uploads/2014/12/entry_bg01.gif) repeat-y top left;
	width:610px;
	margin:10px auto 0;
}

.headBtn{
	background:url(/wp/wp-content/uploads/2014/12/entry_tit01.jpg) no-repeat top left;
	padding-top:11px;
	padding-bottom:13px;
	padding-left:730px;
}

#mainBox #entry .footBtn{background:url(/wp/wp-content/uploads/2014/12/entry_img09.jpg) no-repeat top left;
width:630px;
text-align:center;
padding-top:63px;
padding-bottom:20px;
}

#mainBox #entry .arrowS{ text-align:center; margin:3px auto;}


/*========================
affiliate
========================*/

#mainBox #affi .boxL01 {
	width:208px;
	float:left;
}

#mainBox #affi .boxR01 {
	width:214px;
	float:left;
}

#mainBox #affi .boxL02 {
	width:280px;
	float:left;
	padding-left:71px;
}

#mainBox #affi .boxR02 {
	width:202px;
	float:left;
}

/*========================
ad
========================*/
#mainBox #ad .txt{
	margin-top:10px;
	border:solid 1px #ccc;
	padding:10px;
	font-size:14px;
	text-decoration:underline;
	color:#003366;
}

#mainBox #ad .txt li{
	margin-bottom:5px;
}

#mainBox #ad .spLeft{
	width:323px;
	float:left;	
}

#mainBox #ad .spRight{
	width:287px;
	float:right;	
}

/*========================
sp
========================*/
#mainBox #sp .spLeft{
	width:123px;
	float:left;
	padding-left:10px;
	margin-right:20px;
}

#mainBox #sp .spRight{
	width:477px;
	float:left;
}

/*---------------------
compliance.css  2011.04.22
---------------------*/

/*---------------------
header
---------------------*/
#wrapper01Comp{
    width:auto;
   background:url(/wp/wp-content/uploads/2014/12/target_headerBg_a8.jpg) repeat-x top left #ffffff;
}

#wrapper01Comp #header{
    width:950px;
    margin:0 auto;
    padding-bottom:10px;
    border-bottom:1px solid #cccccc;
}

#header #logo{
    padding-top:21px;
	float:left;
	width:76px;
}

#header #headerNavi{
	width:864px;
	float:right;
	text-align:right;
	margin-top:40px;
}

#header #headerNavi li{
	display:inline;
	background:url(/wp/wp-content/uploads/2014/12/icon_arrow01.gif) no-repeat left;
	margin-left:20px;
	padding-left:13px;

}

#header .grayborder01{
    border-top:solid 1px #cccccc;

}

/*========================
contents
========================*/
#contents{
	width:810px;
	margin:0 auto;
	padding:30px 0;
}

#contents h2{
	background:url(/wp/wp-content/uploads/2014/12/sub_tit_border01.gif) left bottom repeat-x;
	padding-bottom:12px;
}

/* ancer */
ul.ancNavi{
	list-style:none;
	margin:10px 0 0 0;
	padding:0;
	text-align:center;
}

ul.ancNavi li{
	display:inline;
	margin:0 10px 0 0;
	padding:0;
}

ul.ancNavi li.last{
	margin:0;
}	

ul.ancNavi a{
	background:url(/wp/wp-content/uploads/2014/12/icon_arrow01.gif) left center no-repeat;
	padding-left:15px;
}


.pagearrow03 a{
	background:url(/wp/wp-content/uploads/2014/12/icon_arrow01.gif) no-repeat left;
	padding-left:13px;

}


/*========================
main
========================*/

#compliance_main h3{
	border-bottom:2px solid #ccc;
	padding-bottom:5px;
}

#compliance_main h4{
	background:url(/wp/wp-content/uploads/2014/12/compliance_sub.gif) no-repeat left center;
    font-weight:bold;
    padding:0 0 0 15px;
	font-size:14px;
	margin-top:20px;
}

#compliance_main h5{
	background:url(/wp/wp-content/uploads/2014/12/compliance_icon.gif) no-repeat left;
	padding-left:20px;
	color:#ff5400;
	font-size:14px;
	font-weight:bold;
	margin-top:15px;
}

#compliance_main p{
	margin-top:10px;
}

#compliance_main .exposition{
	padding:0 0 8px 20px;
	background:url(/wp/wp-content/uploads/2014/12/dot_ccc.gif) repeat-x bottom left;
}

#compliance_main .gmenuCap{
	background-color:#003366;
	padding:5px;
	text-align:left;
	color:#fff;
	font-size:14px;
	font-weight:bold;
	margin-top:20px
}


#compliance_main .comContent{
	margin:10px 0 20px 0;
}

#compliance_main .comContent .fLeft{
	width:395px;
	float:left;
}

#compliance_main .comContent .fRight{
	width:395px;
	float:right;
}


#compliance_main .exposition span{
	background-color:#FF9;
}

/*
----top button setting
*/
.complianceWrap{
	width:792px;
   border:#BDBCBD solid 1px;
   padding:8px;
   margin:10px 0;
}

.complianceWrap .fLeft{
	width:152px;
	float:left;
	padding-right:8px;
}
.complianceWrap .fRight{
	width:152px;
	float:right;
}

/* care */
ul.care {
	 font-size:12px;
	 line-height:1.3;
	 padding:5px 0 0 0;
}


/*========================

privacy.css  2014.10.31

========================*/

/*========================
contents
========================*/

#contents h2.title {
font-weight: bold;
font-size: 24px;
}

#contents h2{
	background:url(/wp/wp-content/uploads/2014/12/sub_tit_border01.gif) left bottom repeat-x;
	padding-bottom:12px;
}


/*========================
main
========================*/

#privacy_main h3{
	border-bottom:2px solid #ccc;
	padding-bottom:5px;
}

#privacy_main h4{
	background:url(/wp/wp-content/uploads/2014/12/sub.gif) no-repeat left center;
    font-weight:bold;
    padding:0 0 0 15px;
	font-size:14px;
	margin-top:20px;
}

#privacy_main p{
	margin-top:10px;
}

/*========================

interview.css  2014.12.26
========================*/

/*========================

kenkoucorp.html

========================*/
#kenkoucorp .ecLeft{
	width:164px;
	float:left;
}

#kenkoucorp h3{
	font-size:14px;
	font-weight:bold;
}

#kenkoucorp .ecRight{
	width:446px;
	float:right;
}

#kenkoucorp .questionL{
	width:427px;
	float:left;
	margin-top:10px;
}

#kenkoucorp .questionR{
	width:153px;
	float:right;
	margin-top:10px;
}

#kenkoucorp .program{
	width:600px;
	margin-top:30px;
	padding:10px;
	border:solid 5px #ffea77;
	background-color:#fff;
}

#kenkoucorp .programL{
	width:143px;
	float:left;
	margin-right:10px;
}

#kenkoucorp .programR{
	width:432px;
	float:left;
	margin-top:20px;
}

#kenkoucorp .programTxt{
	margin-top:10px;
	font-size:14px;
	font-weight:bold;
}

#kenkoucorp .banLeft{
	width:120px;
	float:left;
	margin-right:20px;
}

#kenkoucorp .banRight{
	width:234px;
	float:left;
}


/*========================

paperboy.html

========================*/

#paperboy .ecLeft{
	width:164px;
	float:left;
}

#paperboy h3{
	font-size:14px;
	font-weight:bold;
}

#paperboy .ecRight{
	width:446px;
	float:right;
}

#paperboy .questionL{
	width:427px;
	float:left;
	margin-top:10px;
}

#paperboy .questionR{
	width:153px;
	float:right;
	margin-top:10px;
}

#paperboy .banLeft{
	width:200px;
	float:left;
	padding-right:20px;
}

#paperboy .banRight{
	width:250px;
	float:left;
}


#paperboy .program{
	width:600px;
	margin-top:30px;
	padding:10px;
	border:solid 5px #ffea77;
	background-color:#fff;
}

#paperboy .programL{
	width:143px;
	float:left;
	margin-right:10px;
}

#paperboy .programR{
	width:432px;
	float:left;
	margin-top:20px;
}

#paperboy .programTxt{
	margin-top:10px;
	font-size:14px;
	font-weight:bold;
}

/*========================

common_ecInterview

========================*/

#ecInterview .ecLeft{
	width:164px;
	float:left;
}

#ecInterview h3{
	font-size:14px;
	font-weight:bold;
}

#ecInterview .ecRight{
	width:446px;
	float:right;
}

#ecInterview .questionL{
	width:427px;
	float:left;
	margin-top:10px;
}

#ecInterview .questionR{
	width:153px;
	float:right;
	margin-top:10px;
}

#ecInterview .program{
	width:600px;
	margin-top:30px;
	padding:10px;
	border:solid 5px #ffea77;
	background-color:#fff;
}

#ecInterview .programL{
	width:143px;
	float:left;
	margin-right:10px;
}

#ecInterview .programR{
	width:432px;
	float:left;
	margin-top:20px;
}

#ecInterview .programTxt{
	margin-top:10px;
	font-size:14px;
	font-weight:bold;
}

/*========================

dmm.html

========================*/


#ecInterview .dmm .banLeft{
	width:180px;
	float:left;
	margin-right:35px;
}

#ecInterview .dmm .banRight{
	width:180px;
	float:right;
	margin-right:0;
}

/*========================

gmo.html

========================*/

#ecInterview .gmo .banLeft{
	width:300px;
	float:left;
	margin-right:15px;
}

#ecInterview .gmo .banRight{
	width:200px;
	float:left;
	margin-right:0;
}

#ecInterview .gmo .banLeft02{
	width:468px;
	float:left;
	margin-right:15px;
}

#ecInterview .gmo .banRight02{
	width:125px;
	float:left;
	margin-right:0;
}

/*========================

dip.html

========================*/


#ecInterview .dip .banLeft{
	width:200px;
	float:left;
	margin-right:35px;
}

#ecInterview .dip .banRight{
	width:234px;
	float:left;
	margin-right:0;
}

/*========================

radishboya.html

========================*/

#ecInterview .radishboya .banLeft{
	width:250px;
	float:left;
	margin-right:20px;
}

#ecInterview .radishboya .banRight{
	width:234px;
	float:left;
	margin-right:0;
}

/*========================

ginzacalla.html

========================*/

#ecInterview .ginzacalla .banLeft{
	width:125px;
	float:left;
	margin-right:20px;
}

#ecInterview .ginzacalla .banRight{
	width:234px;
	float:left;
	margin-right:0;
}

/*========================

belluna.html

========================*/

#ecInterview .belluna .banPointL{
	width:125px;
	float:left;
	margin-right:15px;
}

#ecInterview .belluna .banPointR{
	width:125px;
	float:left;
}

#ecInterview .belluna .banLeft{
	width:125px;
	float:left;
	margin-right:20px;
}

#ecInterview .belluna .banRight{
	width:234px;
	float:left;
	margin-right:0;
}

/*========================
guthyrenker.html
========================*/

#ecInterview .guthyrenker .banLeft{
	width:125px;
	float:left;
	margin-right:35px;
}

#ecInterview .guthyrenker .banRight{
	width:200px;
	float:left;
	margin-right:0;
}

/*========================

aquaclara.html

========================*/

#ecInterview .aquaclara .banLeft{
	width:250px;
	float:left;
	margin-right:20px;
}

#ecInterview .aquaclara .banRight{
	width:234px;
	float:left;
	margin-right:0;
}

/*================
common
================*/
#case .iconQ{
	background:url(/wp/wp-content/uploads/2014/12/icon_q.gif) no-repeat 0 3px;
	padding-left:18px;
	font-weight:bold;
}

#case .iconA{
	background:url(/wp/wp-content/uploads/2014/12/icon_a.gif) no-repeat 0 3px;
	padding-left:18px;
}

#case #asCase ,#ecCase{
	background:#ffffec;
	margin-top:15px;
	border:solid 1px #dca225;
	padding:10px;
}

div#wrapperEc{
	background:#ffffff;
}

#ecCase{
	overflow-y:hidden;
}

#case #asCase ul ,#ecCase ul{
	margin-top:10px;
}


#case #asCase li ,#ecCase li{
	width:150px;
	float:left;
}

#ecCase li{
	width:300px;
	margin-bottom:3px;
	float:left;
}

#asCase a , #ecCase a{
	background:url(/wp/wp-content/uploads/2014/12/icon_arrow01.gif) left center no-repeat;
	padding-left:12px;
}

/*========================
jask
========================*/
/*========================
contents
========================*/
#contents h2.jask{
	background:#003366;
	padding:8px 0;
	text-align:center;
	width:810px;
	color:#fff;
	font-weight:bold;
	font-size:14px;
}

#contents h3{
	font-size:14px;
	font-weight:bold;
	margin-bottom:5px;
	border-bottom:#999999 solid 1px;
	margin-top:20px;
}

/*========================
404.php
========================*/
.maintext404{
	background:url(/wp/wp-content/uploads/2015/01/text-404error.jpg) no-repeat top center;
	width:360px;
	margin:50px auto 80px;
	padding-top:35px;
	line-height:1.5em;
}

h2#errortitle404{
	background:url(/wp/wp-content/uploads/2015/01/img-404.gif) 43px 0 no-repeat;
	font-size:138.5%;
	font-weight:bold;
	padding-left:88px;
	padding-top:10px;
	height:35px;
	margin:10px 0 20px;
	color:#8b0000;
	}


.errortext {
    background: none repeat scroll 0 0 #ffffd9;
    padding: 5px 10px;
    text-align: center;
}

/*========================
seminar.php
========================*/
#semi{
margin-top:10px;
}

#semi .semiinfo{
padding:10px;
border-right:solid 1px #cccccc;
border-bottom:solid 1px #cccccc;
border-left:solid 1px #cccccc;   
}

#semi h3{
color:#ffffff;
background-color:#0db3dd;
padding:3px;
}

.nextSemi, .endSemi{
padding:5px;
font-weight:bold;
background:#ffea77;
}

/*========================
a8info.php
========================*/
.a8info{
margin-top:15px;
}

.a8info li{margin-bottom:6px;}

.a8info a:link {color: #003366; text-decoration:underline;}
.a8info a:visited {color: #003366; text-decoration:underline;}
.a8info a:hover {color: #660033; text-decoration:none;}
.a8info a:active {color: #660033; text-decoration:none;}

.a8info h3{
color:#ffffff;
font-weight:bold;
background-color:#0db3dd;
padding:4px;
}

#a8info h3{
color:#ffffff;
font-weight:bold;
background-color:#0db3dd;
padding:5px;
}

.infoTit{
padding:5px;
font-weight:bold;
background:#ffea77;
}

/*=======================
pankuzu
========================*/
.pankuzu{
font-size:10px;
padding-bottom:10px;
}

.pankuzu li{
display:inline-block;
}

ul.prev-next{
        width:100%;
        text-align:center;
}

ul.prev-next li{
	display:inline-block;
}


/*=======================
spBtn
========================*/
a.spBtn{
width:75%;
margin:10px auto;
text-align:center;
display:block;
padding:25px 0;
vertical-align:middle;
color:#ffffff;
background:#0683bd;
border-radius:3px;
font-size:20px; font-size:2rem;
font-weight:bold;
}

span.spArrow{
padding-left:22px;
background:url(/wp/wp-content/uploads/2015/07/icon_whitearrow01.png) left center no-repeat ;
}

