/* CSS Document */

.c4_movieBar {
	float: left;
	padding: 5px;
	margin: 1px;
	height: 16px;
	background: #f3f3f3;
	border: 1px outset #eae7e7;
}

.movieBarCont {

}

.c4_movieBarTitle {
	float: left;
	padding: 5px;
	margin: 1px;
	height: 16px;
	background-image: url(/img/v2/design/mymenu/title_bg.png);
	font-size: 13px;
	font-weight: bold;
	color: #000;
	border: 1px outset #eae7e7;
}
.c4_movieBarTitle.save {
	background: url(/img/v2/design/box_title_bg.png) repeat-x;
	color: #fff;
	text-align: center;
}

.c4_movieBarTitle.save:hover {
	cursor: pointer;
	border: 1px outset #000;
}

.movieBarCont:hover .c4_movieBarTitle, .movieBarCont:hover .c4_movieBar{
	cursor: pointer;
	border: 1px outset #999;
}
.c4_formdiv {
	float:right;
	width: 776px;
	border: 1px solid #000;
	padding: 5px;
	margin: 3px;
	margin-right: 4px;
	display:none;
}
.c4_inputTxt, .c4_inputTxtTexarea {
	width: 300px;
	font-size: 13px;
	border: 1px inset #ddd;
}
.c4_inputTxtTexarea {
	height: 100px;
}
.c4_AddMovieBtn {
	padding: 3px;
	border: 1px solid #fff;
}
.c4_AddMovieBtn:hover {
	cursor:pointer;
	background: #eee;
	border: 1px outset #eee;
}

.c4_moviePrevFloat {
	float: left;
	width: 120px;
	height: 140px;
	border: 1px solid #000;
	margin: 2px;
	overflow:hidden;
}
.c4_moviePrevFloat:hover {
	cursor: pointer;
	border: 1px solid #00f;
}
.c4_moviePrevFloat .bg {
	background: url(/img/v2/design/mymenu/title_bg.png) repeat-x;
	border-top: 1px solid #000;
}
.c4_moviePrevFloat .bgtop {
	background: url(/img/v2/design/mymenu/title_bg.png) repeat-x;
	border-bottom: 1px solid #000;
	padding: 3px;
}
.c4_movieLine {
	
}
.c4_movieLine_header {
	border: 1px solid #000;
	background: url(/img/v2/design/mymenu/title_bg.png) repeat-x;
	padding: 3px;
}
.c4_ml_txt { 
	width: 300px;
	height: 14px;
	font-size: 12px;
	border: 1px solid #000;
	padding: 2px;
}
.c4_movieLine .area{
	height: 70px;
}
.c4_sel_stat {
	width: 92px;
}
.c4_ml_sel {
	width: 190px;
	height: 98px;
	font-size: 12px;
	border: 1px solid #000;
	padding: 2px;
	margin: 2px;
}
.c4_editAlbum_txt {
	width: 500px;
	font-size: 12px;
	border: 1px solid #000;
	padding: 2px;
	margin-top: -2px;
}
.c4_editAlbum_btn {
	width: 60px;
	font-size: 12px;
	border: 1px solid #000;
	background: url(/img/v2/_design/mymenu/title_bg.png) repeat-x;
	padding: 2px;
	margin-top: -2px;
}
.c4_crow {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 5px;
	border: 1px solid #000;
}
.c4_crow_title {
	border: 1px solid #000;
	background: url(/img/v2/design/mymenu/title_bg.png) repeat-x;
	padding: 2px;
	height: 14px;
	overflow:hidden;
}
.c4_crow_descr {
	overflow:hidden;
	height: 92px;
}
.c4_crow_descr_ta {
	height: 92px;
	border: none;
	width: 400px;
}
.c4_crow_footer {
	border: 1px solid #000;
	background: url(/img/v2/_design/mymenu/title_bg.png) repeat-x;
	padding: 2px;
	height: 14px;
	overflow:hidden;
}
.c4_crow_footer_btn {
	border: 1px solid #000;
	border-left: none;
	background: url(/img/v2/design/mymenu/title_bg_blue.png) repeat-x;
	padding: 2px;
	height: 14px;
	overflow:hidden;
	color: #fff;
	text-align: center;
}
.c4_crow_footer_btn:hover {
	color: #000;
	cursor: pointer;
	border-left: none;
	background: url(/img/v2/design/mymenu/title_bg.png) repeat-x;
}

.c4_msg {
	border: 1px solid #1f54bc;
	background: #beddff;
	color: #000;
	padding: 3px;
	margin-bottom: 10px;
}
.c4_msg_hl {
	color: #1f54bc;
	font-weight: bold;
}
.c4_niche_box {
	border: 1px solid #000;
	border-top: none;
	margin-top: -10px;
	margin-bottom: 10px;
}
.c4_nicheFloat {
	float: left;
	width: 131px;
	padding: 2px;
	border: 1px outset #fff;
	font-size: 9px;
}
.c4_nicheFloat:hover {
	cursor: pointer;
	background: #ddd;
}
.c4_nfselected {
	background: #ddd;
}
.c4_nfreset {
	background: url(/img/v2/_design/mymenu/title_bg_red.png) repeat-x;
	color: #fff;
}
.c4_nfreset:hover {
	background: url(/img/v2/design/mymenu/title_bg_red.png) repeat-x;
	border: 1px inset #fff;
}
.c4_addToCartDiv {
	border: 1px solid #1f54bc;
	background: #beddff;
	color: #000;
	padding: 10px;
	margin-top: 5px;
}

.c4_shoppingTotal {
	border: 1px solid #1f54bc;
	background: #beddff;
	color: #000;
	padding: 10px;
	margin-top: 5px;
}

.c4_req_repl {
	border: 1px solid #1f54bc; 
	background: #84b6ed;
	padding: 3px; 
	margin: 10px;
}













