/* CSS Document */

h2 {
	margin: 0;
}
li {
	margin: 3px;
}

.MC_toggle {
	padding: 10px;
	border: 2px solid #000;
	background: #d80000;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	text-align: center; 
	cursor: pointer;
}
.MC_toggle_active {
	border: 2px inset #000;
	background: #14d800;
	padding: 10px;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	cursor: pointer; 
}
.MC_fl {
	float: left;
	width: 237px;
	height: 200px;
	margin: 6px;
	text-align: center;
}
.MC_fl img {
	border: 1px solid #000;
}
.MC_fl img:hover {
	border: 1px solid #999;
}

.MC_tpmnu {
	float: left;
	border: 1px outset #85b7ed;
	padding: 4px;
	background: url(/img/v2/design/box_title_bg.png) repeat-x;
	color: #fff;
}
.MC_tpmnu:hover {
	cursor: pointer;
	background: #b7daff;
}
.MC_tpmnu.hightlite {
	background: #14a600;
}
#MC_overlay {
	position:absolute;
	top: 290px;
	width: 400px;
	height: 236px;
	display: none;
	margin-left: 400px;
}
#MC_overlay_center {
	margin: 0 auto;
	width: 400px;
	height: 200px;
	background: #5f5f5f;
	border: 1px outset #5f5f5f;
	padding: 5px;
}
.MC_header_pay {
	border: 1px solid #0069c6;
	padding: 3px;
	background: #eee;
}

.mcShowPrivate {
	padding: 5px;
	border: 1px solid #000;
	background: url(/multichat/images/stars.gif);
	font-size: 14px;
	font-weight: bold;
}
.mcShowPrivate span{
	background: #fff;
}














