#PU_hideSelect {
	z-index: 11000;
	position: fixed;
	top: 0; left: 0;
	width: 100%; height: 100%;
	border: none;
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
}

* html #PU_hideSelect { /* ie6 hack */
	position: absolute;
	height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

#PU_overlay {
	z-index: 11001;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

* html #PU_overlay { /* ie6 hack */
	position: absolute;
	height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

.PU_overlayMacFF { background: url(../img/pu_overlay.png) repeat; }
.PU_overlayBG {
	background: #FFF;
	filter: alpha(opacity=65);
	-moz-opacity: 0.65;
	opacity: 0.65;
}

#PU_window {
	position: fixed;
	left: 50%;
	top: 50%;
	width: 0;
	height: 0;
	z-index: 11003;
	padding: 20px;
	background: url(../img/pu_border.png) repeat;
	overflow: hidden;
}

* html #PU_window { /* ie6 hack */
	position: absolute;
	margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (PUWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}

#PU_iframeContent {
	background: #FFF;
	border: 1px solid #CCC;
}