.upg_notice {
	border: 1px solid #0069c6;
	background: #e8f3ff;
	padding: 5px;
}

#expDate, .upg_nobg {
	border: 0;
	background: none;
	font-weight: bold;
}

#UPG_hidden,  #UPG_hiddenGift {
	padding: 10px;
	display:none;
}
.UpgPadLeft {
	padding-left: 10px;
}
.goldDivExplain {
	padding: 5px;
}
input.btnUPGXL {
	border: none;
	height: 25px;
	width: 439px;
	background-image: url(../img/btn_upg_xl.jpg);
}
input.btnUPGXL:hover {
	background-image: url(../img/btn_upg_xl_hover.jpg);
}

/* credits */

.CRE_title {
	padding-bottom: 2px;
	font-size: 14px;
	color: #0069c6;
}
.CRE_highlight {
	color: #0069c6;
	font-weight: bold;
}

.CRE_btnFloat {
	float: left;
	width: 210px;
	height: 90px;
	padding: 12px;
	margin: 4px;
	background: url(/img/CRE_btn.png) no-repeat;
}
.CRE_btnFloat_small {
	float: left;
	width: 131px;
	height: 110px;
	padding: 4px;
	margin: 4px;
	background: url(/img/CRE_btn_small.png) no-repeat;
}
.payBut {
	float:left;
	padding:2px;
	filter: alpha(opacity=60);
	-moz-opacity: 0.60;
	opacity: 0.60;
}
.payBut:hover {
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	opacity: 1;
}

.UPG_amount {
	font-size: 18px;
	font-weight:bold;
	padding: 5px;
	color: #0069c6;
}









