html, body {
	margin: 0;
	padding: 0;
}
body {
	background-image: url(/img/v2/design/body_bg.png?v=1);
	background-repeat: repeat-x;
	background-color: #FFF;
	font-family: Verdana,Arial;
	font-size: 11px;
	color: #333;
}
body.popup {
	padding: 0;
	background: none;
}

a:link, a:active, a:visited {
	color: #0C5393;
	text-decoration: none;
}
a:hover, a:focus { text-decoration: underline; }
a img { border: none; }

p { margin: 0 0 10px 0; }
p.pBig {
	font-size: 14px;
	font-weight: bold;
}
pre { margin: 0; }

hr { color: #FFF; }

.clB { clear: both; }
.flL { float: left; }
.flR { float: right; }
.marB { margin-bottom: 5px; }
.maxW, input.btnM.maxW { width: 100%; }
.noBg { background: none; }
.alC { text-align: center; }
.alR { text-align: right; }
.valT { vertical-align: top; }
.valB { vertical-align: bottom; }
.valTB { vertical-align: text-bottom; }
.colGray { color: #999; }
.colRed { color: #C43737; }
.fwB { font-weight: bold; }
.fwN { font-weight: normal; }
.fsSmall { font-size: 9px; }
.fsBig { font-size: 12px; }
.hidden { display: none; }
.curP { cursor: pointer; }
.ifrHidden {
	position: absolute;
	top: -100px;
	width: 0;
	height: 0;
}
table.fixed { table-layout: fixed; }

.capMultiLine, .capLine {
	overflow: hidden;
	text-overflow: ellipsis;
}
.capLine { white-space: nowrap; }

/*** STRUCT ***/

.pageContainer {
	position: relative;
	margin: 0 auto;
	width: 998px;
	overflow: hidden;
}

#pageHeader {
	margin: 5px auto;
	width: 1086px;
	height: 50px;
	overflow: hidden;
}
#pageHeader .pageHeaderLink {
	float: left;
	margin: 33px 0 0 15px;
}
#pageHeader .pageHeaderLink a {
	color: #FFF;
	font-size: 14px;
}
#pageHeader .pageHeaderLang {
	float: right;
	padding: 36px 0 0 0;
}

#pageTopMenu {
	margin: 0 auto 10px auto;
	width: 1086px;
	height: 105px;
}
.pageTopMenuButton {
	position: relative;
	float: left;
	width: 108px;
	height: 105px;
	text-align: center;
	font-size: 15px;
	white-space: nowrap;
	cursor: pointer;
}
.pageTopMenuButton:hover .sprTMIco_11, .pageTopMenuButton:hover .sprTMIco_12, .pageTopMenuButton:hover .sprTMIco_13, .pageTopMenuButton:hover .sprTMIco_14, .pageTopMenuButton:hover .sprTMIco_15,
.pageTopMenuButton:hover .sprTMIco_21, .pageTopMenuButton:hover .sprTMIco_22, .pageTopMenuButton:hover .sprTMIco_23, .pageTopMenuButton:hover .sprTMIco_24, .pageTopMenuButton:hover .sprTMIco_25,
.pageTopMenuButton:hover .sprTMIco_31, .pageTopMenuButton:hover .sprTMIco_32, .pageTopMenuButton:hover .sprTMIco_33, .pageTopMenuButton:hover .sprTMIco_34, .pageTopMenuButton:hover .sprTMIco_35 {
	background-image: url(/img/v2/design/topmenu/sprite_icons_over.png?v=3);
}
.pageTopMenuButton a {
	color: #FFF;
	text-decoration: none;
}

.pageTopMenuDD {
	position: absolute;
	top: 58px;
	left: 0;
	width: 201px;
	cursor: default;
	z-index: 100;
	display: none;
}
.pageTopMenuButton:hover .pageTopMenuDD { display: block; }
.pageTopMenuDD .ddTop {
	height: 20px;
	background-image: url(/img/v2/design/topmenu/dd_top.png);
}
.pageTopMenuDD .ddBtm {
	height: 12px;
	background-image: url(/img/v2/design/topmenu/dd_btm.png);
}
.pageTopMenuDD a {
	display: block;
	padding: 5px 21px 5px 18px;
	background-image: url(/img/v2/design/topmenu/dd_mid.png);
	text-align: left;
	color: #555;
}
.pageTopMenuDD a:hover, .pageTopMenuDD a:focus { background-image: url(/img/v2/design/topmenu/dd_over.png); }

.sprTMIco_11, .sprTMIco_12, .sprTMIco_13, .sprTMIco_14, .sprTMIco_15,
.sprTMIco_21, .sprTMIco_22, .sprTMIco_23, .sprTMIco_24, .sprTMIco_25,
.sprTMIco_31, .sprTMIco_32, .sprTMIco_33, .sprTMIco_34, .sprTMIco_35 {
	display: block;
	margin: 10px auto 18px auto;
	width: 55px;
	height: 55px;
	background-image: url(/img/v2/design/topmenu/sprite_icons.png?v=3);
	background-repeat: no-repeat;
	overflow: hidden;
}
.sprTMIco_11 { background-position: 0 0; } .sprTMIco_12 { background-position: -55px 0; } .sprTMIco_13 { background-position: -110px 0; } .sprTMIco_14 { background-position: -165px 0; } .sprTMIco_15 { background-position: -220px 0; }
.sprTMIco_21 { background-position: 0 -55px; } .sprTMIco_22 { background-position: -55px -55px; } .sprTMIco_23 { background-position: -110px -55px; } .sprTMIco_24 { background-position: -165px -55px; } .sprTMIco_25 { background-position: -220px -55px; }
.sprTMIco_31 { background-position: 0 -110px; } .sprTMIco_32 { background-position: -55px -110px; } .sprTMIco_33 { background-position: -110px -110px; } .sprTMIco_34 { background-position: -165px -110px; } .sprTMIco_35 { background-position: -220px -110px; }

.pageExtraMenu {
	margin: 10px 0 0 0;
	background: #85B7ED;
	border: 1px solid #1F54BC;
	overflow: hidden;
}
.pageExtraMenu .pageExtraMenuTitle,
.pageExtraMenu a {
	float: left;
	padding: 7px 7px;
	color: #FFF;
	text-decoration: none;
	display: block;
}
.pageExtraMenu a:visited { color: #FFF; }
.pageExtraMenu .pageExtraMenuTitle {
	background: #F6F6F6;
	border-right: 1px solid #1F54BC;
	font-weight: bold;
	color: #0069C6;
}
.pageExtraMenu a.current, .pageExtraMenu a:hover, .pageExtraMenu a:focus {
	background: #5A96D8;
	text-decoration: none;
}

.pageIco {
	display: inline-block;
	width: 97px;
	height: 105px;
	background-image: url(/img/v2/sprite_page_icons.png);
	background-repeat: no-repeat;
	overflow: hidden;
}
.pageIco2 { background-position: -97px 0; } .pageIco3 { background-position: -194px 0; } .pageIco4 { background-position: -291px 0; } .pageIco5 { background-position: -388px 0; }
.pageIco6 { background-position: -485px 0; } .pageIco7 { background-position: -582px 0; } .pageIco8 { background-position: -679px 0; } .pageIco9 { background-position: -776px 0; }
.pageIco10 { background-position: -873px 0; } .pageIco11 { background-position: -970px 0; }

.pageContent {
	margin: 0 auto;
	width: 1086px;
	overflow: hidden;
}

#pageLeft {
	float: left;
	width: 164px;
	overflow: hidden;
}

#pageRight {
	float: right;
	width: 912px;
	overflow: hidden;
}

#pageMyMenuButtonLogin {
	margin: 10px 0 0 0;
	padding: 6px 0 0 6px;
	height: 22px;
	border: 1px solid #CCC;
	border-bottom: none;
	background-image: url(/img/v2/design/mymenu/title_bg.png);
	font-size: 13px;
	font-weight: bold;
	color: #000;
	cursor: pointer;
}
#pageMyMenuButtonTop {
	margin: 10px 0 0 0;
	height: 28px;
	border: 1px solid #CCC;
	border-bottom: none;
	background-image: url(/img/v2/design/mymenu/title_bg.png);
	color: #000;
	cursor: pointer;
}
#pageMyMenuButtonTop img {
	margin: 0 1px 0 0;
	width: 24px;
	height: 24px;
	border: 1px solid #CCC;
}
#pageMyMenuButtonTop.pmmButtonTopGold { background-image: url(/img/v2/design/mymenu/title_bg_goldmember.png); }
#pageMyMenuButtonTop.pmmButtonTopGold img { border: 1px solid #E9D39E; }

.pageMyMenu {
	border: 1px solid #CCC;
	border-top: none;
	border-bottom: none;
	background: #F6F6F6;
	overflow: hidden;
}
.pageMyMenu div.pmmTitle {
	padding: 6px 0 0 6px;
	height: 22px;
	border-top: 1px solid #CCC;
	background-image: url(/img/v2/design/mymenu/title_bg.png);
	font-size: 13px;
	font-weight: bold;
	color: #000;
}
.pageMyMenu div.pmmCnt { border-top: 1px solid #CCC; }
.pageMyMenu div.pmmTxt { padding: 4px; }
.pageMyMenu div.pmmBtn {
	padding: 4px;
	color: #333;
	cursor: pointer;
}
.pageMyMenu div.pmmBtn:hover { background: #E6E6E6; }
.pageMyMenu div.pmmBtn th, .pageMyMenu div.pmmTxt th { padding: 0 4px 0 0; }

#pageMyMenuButtonBtm {
	padding: 2px;
	border: 1px solid #CCC;
	background-color: #F6F6F6;
	text-align: center;
	cursor: pointer;
}
#pageMyMenuButtonBtm table { width: 100%; }
#pageMyMenuButtonBtm th, #pageMyMenuButtonBtm th { text-align: center; }
#pageMyMenuButtonBtm th { width: 19px; }
#pageMyMenuButtonBtm span.pmmShowOn, #pageMyMenuButtonBtm span.pmmShowOff {
	display: inline-block;
	width: 7px;
	height: 7px;
	background-image: url(/img/v2/design/mymenu/toggle_menu.png);
	background-repeat: no-repeat;
	overflow: hidden;
}
#pageMyMenuButtonBtm span.pmmShowOff { background-position: 0 -7px; }

.pageSubMenu {
	border: 1px solid #5A96D8;
	border-bottom: none;
	background: #DCEBFB;
}
.pageSubMenu div.psmTitle {
	padding: 6px 0 0 6px;
	height: 22px;
	border-bottom: 1px solid #5A96D8;
	background-color: #86B8EE;
	font-size: 13px;
	font-weight: bold;
	color: #FFF;
}
.pageSubMenu div.psmCnt { border-bottom: 1px solid #5A96D8; }
.pageSubMenu div.psmTxt,
.pageSubMenu div.psmTxtB { padding: 4px; }
.pageSubMenu div.psmTxtB { padding-bottom: 0; font-weight: bold; }
.pageSubMenu div.psmBtn {
	padding: 4px;
	color: #333;
	cursor: pointer;
}
.pageSubMenu div.psmBtn:hover { background: #CCDBEB; }
.pageSubMenu div.psmBtn th, .pageSubMenu div.psmTxt th { padding: 0 4px 0 0; }
.pageSubMenu div.psmBtn a {
	color: #333;
	text-decoration: none;
}

.pageIcon {
	margin: 10px 0 0 0;
	padding: 6px 0 0 0;
	background-image: url(/img/v2/design/page_icon_bg.png);
	background-repeat: no-repeat;
	text-align: center;
}
.pageIcon h1 {
	margin: 0 0 6px 0;
	text-shadow: #315378 -2px 2px 1px;
	filter: dropshadow(color=#315378,offX=-2,offY=2);
	font-size: 22px;
	color: #FFF;
	letter-spacing: -1px;
}

div.pageTitle {
	margin: 10px 0 0 0;
	padding: 6px 6px 0 6px;
	height: 22px;
	border: 1px solid #CCC;
	background-image: url(/img/v2/design/page_title_bg.png);
	font-size: 13px;
	font-weight: bold;
	color: #000;
	overflow: hidden;
}
div.pageTitle.fwN { font-weight: normal; }

div.imgTitle {
	margin: 10px 0 0 0;
	height: 180px;
	color: #FFF;
	text-shadow: #000 2px 2px 1px;
	overflow: hidden;
}
div.imgTitle h1 {
	margin: 6px 0 0 10px;
	font-size: 26px;
	font-weight: normal;
}
div.imgTitle h2 {
	margin: 10px 0 0 10px;
	font-size: 18px;
	font-weight: normal;
}

#pagePromo {
	position: relative;
	margin: 10px auto 0 auto;
	width: 910px;
	height: 264px;
	border: 1px solid #CCC;
	overflow: hidden;
}
#pagePromo img.promo {
	position: absolute;
	top: 1px;
	left: 1px;
	display: none;
}
#pagePromo div.overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-image: url(/img/tr_white_65.png);
	border-top: 1px solid #FFF;
	font-weight: bold;
	font-size: 24px;
	text-shadow: #FFF 0 1px 0;
}
#pagePromo td { padding: 10px; }
#pagePromoExtra {
	background: #F6F6F6;
	border: 1px solid #CCC;
	border-top: none;
}
#pagePromoExtra table { width: 100%; }
#pagePromoExtra table th {
	padding: 0 0 0 5px;
	width: 64px;
}
#pagePromoExtra table td {
	padding: 0 10px;
	height: 79px;
	color: #333;
	font-size: 24px;
	font-weight: bold;
	text-shadow: #FFF 0 1px 0;
}

#pageNavHistory {
	margin: 10px auto 0 auto;
	padding: 0 4px 0 0;
	width: 992px;
	height: 17px;
	background: #F4F7FA;
	border: 1px solid #CFD4DB;
	overflow: hidden;
}
#pageNavHistory a { color: #669; }
#pageNavHistory td {
	padding: 0 8px;
	height: 17px;
	color: #666;
	font-size: 9px;
}
#pageNavHistory div.flR td { padding: 0 4px 0 0; }

.pageContentLeft {
	float: left;
	width: 602px;
	overflow: hidden;
}

.pageContentRight {
	float: right;
	width: 300px;
	overflow: hidden;
}

.pageContentLeftHalf, .pageContentRightHalf {
	float: left;
	width: 407px;
	overflow: hidden;
}
.pageContentRightHalf { float: right; }

.pageBottomHalf .pageContentLeft { width: 776px; }

#pageFooter {
	margin: 15px auto 10px auto;
	width: 1070px;
	padding: 6px;
	background: #F9F9F9;
	border: 1px solid #CCC;
	overflow: hidden;
}

/*** CUSTOM ***/

.sprIco16_11, .sprIco16_12, .sprIco16_13, .sprIco16_14, .sprIco16_15, .sprIco16_16, .sprIco16_17,
.sprIco16_21, .sprIco16_22, .sprIco16_23, .sprIco16_24, .sprIco16_25, .sprIco16_26, .sprIco16_27,
.sprIco16_31, .sprIco16_32, .sprIco16_33, .sprIco16_34, .sprIco16_35, .sprIco16_36, .sprIco16_37,
.sprIco16_41, .sprIco16_42, .sprIco16_43, .sprIco16_44, .sprIco16_45, .sprIco16_46, .sprIco16_47,
.sprIco16_51, .sprIco16_52, .sprIco16_53, .sprIco16_54, .sprIco16_55, .sprIco16_56, .sprIco16_57,
.sprIco16_61, .sprIco16_62, .sprIco16_63, .sprIco16_64, .sprIco16_65, .sprIco16_66, .sprIco16_67,
.sprIco16_71, .sprIco16_72, .sprIco16_73, .sprIco16_74, .sprIco16_75, .sprIco16_76, .sprIco16_77,
.sprIco16_81, .sprIco16_82, .sprIco16_83, .sprIco16_84, .sprIco16_85, .sprIco16_86, .sprIco16_87 {
	display: inline-block;
	width: 16px;
	height: 16px;
	background-image: url(/img/v2/sprite_ico16.png?v=1);
	background-repeat: no-repeat;
	overflow: hidden;
}
.sprIco16_11 { background-position: 0 0; } .sprIco16_12 { background-position: -16px 0; } .sprIco16_13 { background-position: -32px 0; } .sprIco16_14 { background-position: -48px 0; } .sprIco16_15 { background-position: -64px 0; } .sprIco16_16 { background-position: -80px 0; } .sprIco16_17 { background-position: -96px 0; }
.sprIco16_21 { background-position: 0 -16px; } .sprIco16_22 { background-position: -16px -16px; } .sprIco16_23 { background-position: -32px -16px; } .sprIco16_24 { background-position: -48px -16px; } .sprIco16_25 { background-position: -64px -16px; } .sprIco16_26 { background-position: -80px -16px; } .sprIco16_27 { background-position: -96px -16px; }
.sprIco16_31 { background-position: 0 -32px; } .sprIco16_32 { background-position: -16px -32px; } .sprIco16_33 { background-position: -32px -32px; } .sprIco16_34 { background-position: -48px -32px; } .sprIco16_35 { background-position: -64px -32px; } .sprIco16_36 { background-position: -80px -32px; } .sprIco16_37 { background-position: -96px -32px; }
.sprIco16_41 { background-position: 0 -48px; } .sprIco16_42 { background-position: -16px -48px; } .sprIco16_43 { background-position: -32px -48px; } .sprIco16_44 { background-position: -48px -48px; } .sprIco16_45 { background-position: -64px -48px; } .sprIco16_46 { background-position: -80px -48px; } .sprIco16_47 { background-position: -96px -48px; }
.sprIco16_51 { background-position: 0 -64px; } .sprIco16_52 { background-position: -16px -64px; } .sprIco16_53 { background-position: -32px -64px; } .sprIco16_54 { background-position: -48px -64px; } .sprIco16_55 { background-position: -64px -64px; } .sprIco16_56 { background-position: -80px -64px; } .sprIco16_57 { background-position: -96px -64px; }
.sprIco16_61 { background-position: 0 -80px; } .sprIco16_62 { background-position: -16px -80px; } .sprIco16_63 { background-position: -32px -80px; } .sprIco16_64 { background-position: -48px -80px; } .sprIco16_65 { background-position: -64px -80px; } .sprIco16_66 { background-position: -80px -80px; } .sprIco16_67 { background-position: -96px -80px; }
.sprIco16_71 { background-position: 0 -96px; } .sprIco16_72 { background-position: -16px -96px; } .sprIco16_73 { background-position: -32px -96px; } .sprIco16_74 { background-position: -48px -96px; } .sprIco16_75 { background-position: -64px -96px; } .sprIco16_76 { background-position: -80px -96px; } .sprIco16_77 { background-position: -96px -96px; }
.sprIco16_81 { background-position: 0 -112px; } .sprIco16_82 { background-position: -16px -112px; } .sprIco16_83 { background-position: -32px -112px; } .sprIco16_84 { background-position: -48px -112px; } .sprIco16_85 { background-position: -64px -112px; } .sprIco16_86 { background-position: -80px -112px; } .sprIco16_87 { background-position: -96px -112px; }

.sprEmo19_00, .sprEmo19_01, .sprEmo19_02, .sprEmo19_03, .sprEmo19_04, .sprEmo19_05, .sprEmo19_06, .sprEmo19_07, .sprEmo19_08, .sprEmo19_09,
.sprEmo19_10, .sprEmo19_11, .sprEmo19_12, .sprEmo19_13, .sprEmo19_14, .sprEmo19_15, .sprEmo19_16, .sprEmo19_17, .sprEmo19_18, .sprEmo19_19,
.sprEmo19_20, .sprEmo19_21, .sprEmo19_22, .sprEmo19_23, .sprEmo19_24, .sprEmo19_25, .sprEmo19_26, .sprEmo19_27, .sprEmo19_28, .sprEmo19_29 {
	display: inline-block;
	width: 19px;
	height: 19px;
	background-image: url(/img/sprite_emo19.png);
	background-repeat: no-repeat;
	overflow: hidden;
}
.sprEmo19_00 { background-position: 0 0; } .sprEmo19_01 { background-position: -19px 0; } .sprEmo19_02 { background-position: -38px 0; } .sprEmo19_03 { background-position: -57px 0; } .sprEmo19_04 { background-position: -76px 0; } .sprEmo19_05 { background-position: -95px 0; } .sprEmo19_06 { background-position: -114px 0; } .sprEmo19_07 { background-position: -133px 0; } .sprEmo19_08 { background-position: -152px 0; } .sprEmo19_09 { background-position: -171px 0; }
.sprEmo19_10 { background-position: 0 -19px; } .sprEmo19_11 { background-position: -19px -19px; } .sprEmo19_12 { background-position: -38px -19px; } .sprEmo19_13 { background-position: -57px -19px; } .sprEmo19_14 { background-position: -76px -19px; } .sprEmo19_15 { background-position: -95px -19px; } .sprEmo19_16 { background-position: -114px -19px; } .sprEmo19_17 { background-position: -133px -19px; } .sprEmo19_18 { background-position: -152px -19px; } .sprEmo19_19 { background-position: -171px -19px; }
.sprEmo19_20 { background-position: 0 -38px; } .sprEmo19_21 { background-position: -19px -38px; } .sprEmo19_22 { background-position: -38px -38px; } .sprEmo19_23 { background-position: -57px -38px; } .sprEmo19_24 { background-position: -76px -38px; } .sprEmo19_25 { background-position: -95px -38px; } .sprEmo19_26 { background-position: -114px -38px; } .sprEmo19_27 { background-position: -133px -38px; } .sprEmo19_28 { background-position: -152px -38px; } .sprEmo19_29 { background-position: -171px -38px; }

#ajaxMsgDiv {
	position: fixed;
	top: 50%;
	left: 50%;
	margin: -40px 0 0 -175px;
	padding: 19px 0 0 0;
	width: 350px;
	height: 61px;
	background: #FFF;
	border: 3px solid #CCC;
	overflow: hidden;
	display: none;
	z-index: 999999;
}
* html #ajaxMsgDiv { /* ie6 hack */
	position: absolute;
	margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (amdWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}

div.box {
	margin: 10px 0 0 0;
	background: #FFF;
}
div.box.noMar { margin: 0; }
div.box.bigMar { margin: 30px 0 0 0; }
div.box.boxBorder { border: 1px solid #CCC; }
div.box.bxGold { border-color: #CAB97F; }

div.box div.boxTitle {
	margin: 0 0 10px 0;
	padding: 6px 6px 0 6px;
	height: 22px;
	border: 1px solid #5A96D8;
	background-color: #86B8EE;
	font-size: 13px;
	font-weight: bold;
	white-space: nowrap;
	color: #FFF;
	overflow: hidden;
}
div.box div.boxTitle a {
	color: #FFF;
	text-decoration: underline;
}
div.box div.boxTitle div.flR {
	position: relative;
	top: -4px;
	left: 4px;
}
div.box div.boxTitle input.txtS {
	padding: 2px;
	width: 96px;
}
div.box.bxGold div.boxTitle {
	background-image: url(/img/box_title_gold.png);
	border-color: #CAB97F;
}

div.box div.boxCnt { }
div.box div.boxCnt.pad { padding: 0 10px 10px 10px; }

div.box div.boxCnt.boxSiteNews {
	height: 217px;
	overflow: auto;
}

div.box div.boxNav {
	margin: 10px 0 0 0;
	padding: 2px 2px 0 6px;
	height: 26px;
	border: 1px solid #1F54BC;
	background-image: url(/img/v2/design/box_nav_bg.png);
	color: #FFF;
}
div.box div.boxNav table.nav td { padding: 4px 4px 4px 2px; }
div.box div.boxNav table.nav a { color: #FFF; }
div.box div.boxNav table.nav b { color: #000; }

div.boxBanner { margin: 10px 0 0 0; }

div.box.boxActions {
	border-bottom: none;
}
div.box.boxActions div.boxCnt {
	background: #F3F3F3;
}

/*** boxFp ***/

div.boxFp {
	margin: 10px 0 0 0;
	padding: 5px 0 0 0;
	background-image: url(/img/v2/design/box_frontpage_bg.png);
	background-repeat: no-repeat;
}
div.boxFp div.boxFpLeft {
	float: left;
	clear: left;
	padding: 0 0 5px 5px;
}
div.boxFp div.boxFpLeft h1 {
	margin: 0;
	text-shadow: #315378 -2px 2px 1px;
	filter: dropshadow(color=#315378,offX=-2,offY=2);
	font-size: 18px;
	color: #FFF;
	letter-spacing: -1px;
}
div.boxFp div.boxFpRight {
	float: right;
	clear: right;
	padding: 0 5px 5px 0;
	color: #FFF;
}
div.boxFp div.boxFpRight a { color: #FFF; }

/*** Global ***/

div.horizontalRuler {
	margin: 10px 0 0 0;
	padding: 10px 0 0 0;
	border-top: 1px solid #CCC;
}

/*** boxActions ***/

div.itemActionButton {
	padding: 5px;
	height: 32px;
	border-bottom: 1px solid #CCC;
	font-size: 10px;
	color: #666;
	cursor: pointer;
	overflow: hidden;
}
div.itemActionButton:hover {
	background: #F9F9F9;
	color: #333;
}
div.itemActionButton img { margin: 0 5px 0 0; }

/*** Banners ***/

.bannerEroBuy {
	height: 250px;
	background-image: url(/img/banner/erobuy_frame.jpg);
	overflow: hidden;
}
.bannerEroBuy img {
	margin: 7px 0 0 5px;
	width: 200px;
	height: 139px;
	border: 1px solid #1F54BC;
}
.bannerEroBuy div {
	margin: 9px 0 0 0;
	text-align: center;
}
.bannerEroBuy div.name { margin: 62px 0 0 5px; }
.bannerEroBuy a.more { color: #FFF; }

.bannerMaturenl {
	height: 311px;
	background-image: url(/img/banner/maturenl_frame.jpg);
	background-repeat: no-repeat;
	overflow: hidden;
}
.bannerMaturenl img {
	margin: 56px 0 0 6px;
	width: 200px;
	height: 226px;
	border: 1px solid #1F54BC;
}
.bannerMaturenl div {
	margin: 9px 0 0 0;
	text-align: center;
}
.bannerMaturenl a { color: #FFF; }

.bannerCartoon {
	height: 328px;
	background-image: url(/img/banner/cartoon_frame.jpg);
	background-repeat: no-repeat;
	overflow: hidden;
}
.bannerCartoon img {
	margin: 51px 0 0 1px;
	width: 212px;
	height: 255px;
}

/*** Collapsable box ***/

div.colBox { border-bottom: 1px solid #CCC; }

div.colBoxTitle {
	padding: 5px;
	background: #EEE;
	border: 1px solid #CCC;
	border-bottom: none;
	font-size: 12px;
	font-weight: bold;
	cursor: pointer;
}

div.colBoxCnt {
	padding: 2px;
	border: 1px solid #CCC;
	border-bottom: none;
}

/*** Color button ***/

div.colorBtn {
	float: left;
	width: 146px;
	height: 26px;
	background-color: #FFF;
	background-image: url(/img/btn_trans.png);
	background-repeat: repeat-x;
	border: 2px groove #EDEDED;
	cursor: pointer;
}
div.colorBtn.maxW { width: 100%; }
div.colorBtn.cbtnActive { border: 2px groove #0069C6; }
div.colorBtn:hover { background-position: bottom; }
div.colorBtn table {
	width: 100%;
	height: 100%;
}
div.colorBtn td {
	padding: 0;
	text-align: center;
}
div.colorBtn span { vertical-align: text-bottom; }
div.colorBtnSpacer {
	float: left;
	width: 15px;
	height: 10px;
}
div.colorBtnSpacer.maxW { width: 100%; }

/*** Ico button ***/

button.btnIco {
	width: 30px;
	height: 21px;
	background: url(/img/btn_default.png);
	border: 1px solid #CCC;
	border-right: 1px solid #888;
	border-bottom: 1px solid #888;
}
button.btnIco:hover { background-position: bottom; }

/*** Profile Picture ***/

div.profilePicture {
	width: 36px;
	height: 36px;
	background: #FFF;
	border: 1px solid #CCC;
	overflow: hidden;
}
div.profilePicture.ppGoldMember {
	padding: 1px;
	background: url(/img/ava_gold_s.gif);
	border: none;
}
div.profilePicture.ppBig { width: 68px; height: 68px; }
div.profilePicture.ppBig.ppGoldMember { background: url(/img/ava_gold_m.gif); }
div.profilePicture.ppMax { width: 164px; height: 164px; }
div.profilePicture.ppMax.ppGoldMember {
	padding: 0;
	background: #FFF;
	border: 1px solid #CCC;
}
div.profilePicture div {
	width: 36px;
	height: 36px;
	background-repeat: no-repeat;
	background-position: center center;
	text-align: right;
}
div.profilePicture.ppBig div { width: 68px; height: 68px; }
div.profilePicture.ppMax div { width: 164px; height: 164px; }

.profileListContainer {}
.profileListContainer div.profile {
	float: left;
	width: 70px;
	height: 83px;
	overflow: hidden;
}
.profileListContainer .profileSpacer {
	float: left;
	width: 10px;
	height: 10px;
	font-size: 1px;
}
.profileListContainer .profileSpacer.maxW { width: 100%; }

.profileListContainer.profileListCenter div.profile {
	float: none;
	margin: auto;
	text-align: center;
}

.datingContainer { }
.datingContainer .datingBox {
	position: relative;
	float: left;
	width: 295px;
	background-color: #F6F6F6;
	border: 1px solid #CCC;
}
.datingContainer .datingBoxSpacer {
	float: left;
	width: 8px;
	height: 8px;
}
.datingContainer .datingBoxSpacer.maxW { width: 100%; }
.datingContainer .profilePicture {
	float: left;
	margin: 0 4px 0 0;
	border: none;
	border-right: 1px solid #CCC;
}
.datingContainer .datingExt {
	float: left;
	margin: 4px 0 0 0;
	width: 219px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.datingContainer input.btnM {
	margin: 1px 0 0 0;
	width: 70px;
	font-size: 9px;
}
.datingContainer .datingFlag {
	position: absolute;
	top: 4px;
	right: 4px;
}

div.profilePictureFrame {
	float: left;
	width: 95px;
	height: 83px;
	overflow: hidden;
}
div.profilePictureFrame div.ppfLeft {
	float: left;
	width: 25px;
	height: 70px;
	background: #F0F0F0;
	overflow: hidden;
}
div.profilePictureFrame div.ppfLeft div {
	padding: 2px 4px 0 4px;
	height: 19px;
	border: 1px outset #CCC;
	cursor: pointer;
	border: 1px solid #F0F0F0;
}
div.profilePictureFrame div.ppfLeft div.ppfButtonLast { padding-top: 3px; }
div.profilePictureFrame div.ppfLeft div:hover {
	background: #FFF;
	border: 1px inset #EDEDED;
}
div.profilePictureFrame div.ppfLeft div.ppfButtonDisabled { cursor: default; }
div.profilePictureFrame div.ppfLeft div.ppfButtonDisabled:hover { background: none; border: 1px solid #F0F0F0; }

div.profilePictureFrame div.ppfRight {
	float: right;
	width: 70px;
	height: 83px;
	overflow: hidden;
}

/*** Escort ***/

.escortListContainer { width: 100%; }
.escortListContainer div.profileEscort {
	margin: auto;
	width: 166px;
	height: 179px;
	text-align: center;
	overflow: hidden;
}
.escortListContainer .escortListSpacer {
	width: 100%;
	height: 10px;
	font-size: 1px;
}

/*** Refresh Container ***/

div.refreshContainer {
	position: absolute;
	top: 0;
	left: 0;
	padding: 6px;
	background: #FFF;
	border-bottom: 1px solid #1D1D1D;
	border-right: 1px solid #1D1D1D;
	color: #000;
	cursor: pointer;
}
div.refreshContainer th { padding: 0 5px 0 0; }

/*** Promobox ***/

div.promoBox {
	padding: 5px 5px 0 5px;
	background-image: url(/img/v2/design/promobox_bg.png);
	background-repeat: no-repeat;
	text-align: center;
	color: #FFF;
}
div.promoBox h1 {
	margin: 0 0 6px 0;
	text-shadow: #315378 -2px 2px 1px;
	filter: dropshadow(color=#315378,offX=-2,offY=2);
	font-size: 18px;
	letter-spacing: -1px;
}
div.promoBox a { color: #FFF; }

/*** Membership type ***/

.membershipType {
	position: relative;
	margin: 0 5px;
	padding: 5px;
	width: 270px;
	height: 256px;
	border: 1px solid #CCC;
	background-image: url(/img/v2/design/membership_bg.png);
}
.membershipType h1 {
	margin: 0 0 10px 0;
	font-weight: normal;
	font-size: 20px;
	color: #0069C6;
	text-align: center;
	letter-spacing: -1px;
}
.membershipType ul {
	margin: 0;
	padding: 0 30px;
	list-style: outside;
	list-style-type: disc;
}
.membershipType div.mstPrice {
	position: absolute;
	bottom: 42px;
	left: 0px;
	margin: 0;
	width: 280px;
	font-size: 20px;
	color: #0069C6;
	text-align: center;
}
.membershipType input {
	position: absolute;
	bottom: 10px;
	left: 75px;
}

/*** Niche button ***/

div.btnNicheContainer { padding: 0 0 4px 4px; }

div.btnNiche {
	margin: 4px 0 0 0;
	width: 146px;
	height: 20px;
	overflow: hidden;
}
div.btnNiche div.bnName {
	float: left;
	padding: 2px 0 0 14px;
	width: 113px;
	height: 16px;
	background-image: url(/img/btn_niche_on.png);
	background-repeat: no-repeat;
	background-color: #DBE3FF;
	border: 1px solid #CCC;
	border-right: none;
	overflow: hidden;
	cursor: pointer;
}
div.btnNiche div.bnName div {
	width: 112px;
	white-space: nowrap;
	overflow: hidden;
}
div.btnNiche div.bnName.bnOff {
	background-image: url(/img/btn_niche_off.png);
	background-repeat: no-repeat;
	background-color: #F3F3F3;
	color: #999;
}
div.btnNiche div.bnName:hover { background-color: #85B7EE; }
div.btnNiche div.bnName.bnOff:hover { background-color: #E6E6E6; }

div.btnNiche div.bnView {
	float: left;
	width: 17px;
	height: 18px;
	background-color: #FFF;
	background-image: url(/img/btn_niche_view.png);
	border: 1px solid #CCC;
	border-left: none;
	overflow: hidden;
	cursor: pointer;
}
div.btnNiche div.bnView:hover { background-position: bottom; }

/*** Site Stats ***/

div.siteStatUnit {
	padding: 3px 0;
	text-transform: lowercase;
}
div.siteStatUnit img {
	padding: 0 5px 0 0;
	vertical-align: middle;
}
div.siteStatUnit span { vertical-align: middle; }

/*** Tabcontrol ***/

div.tabControl { }
div.tabControl div.tabButtons {
	height: 25px;
	background: url(/img/tc_bg.png) repeat-x;
}
div.tabControl div.tabButton {
	float: left;
	margin: 0 2px 0 0;
	padding: 6px 4px 0 22px;
	height: 17px;
	background-image: url(/img/tc_btn.png);
	background-color: #84B6ED;
	background-repeat: no-repeat;
	border: 1px solid #DEDEDE;
	border-bottom: none;
	color: #FFF;
	cursor: pointer;
}
div.tabControl div.tabButton.tabActive {
	height: 18px;
	background-image: url(/img/tc_btn_active.png);
	background-color: #FFF;
	color: #000;
	font-weight: bold;
}
div.tabControl div.tabButtonEnd {
	float: right;
	width: 1px;
	height: 25px;
	background: url(/img/tc_btn_end.png);
}
div.tabControl div.tabPage {
	padding: 4px;
	border: 1px solid #DEDEDE;
	border-top: none;
}

/*** Photos ***/

.photoListContainer {  }
.photoListContainer div.photo {
	float: left;
	width: 150px;
	overflow: hidden;
}
.photoListContainer.photoListCenter div.photo {
	float: none;
	margin: auto;
}
.photoListContainer div.image {
	position: relative;
	height: 148px;
	width: 148px;
	background-color: #EDEDED;
	background-repeat: no-repeat;
	background-position: center center;
	border: 1px solid #CCC;
	overflow: hidden;
}
.photoListContainer div.image table {
	width: 148px;
	height: 148px;
}
.photoListContainer div.image td {
	padding: 0;
	border: 4px solid #FFF;
	text-align: center;
	vertical-align: middle;
}
.photoListContainer div.image div.ratingContainer {
	position: absolute;
	left: 3px;
	top: 4px;
	background-image: url(/img/rating_bg_over.png);
}

.photoListContainer div.photo div.modify,
.photoListContainer div.photo div.title,
.photoListContainer div.photo div.owner,
.photoListContainer div.photo div.stats {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
}
.photoListContainer div.photo div.title {
	margin: 3px 0 0 0;
	font-weight: bold;
}
.photoListContainer div.photo div.owner,
.photoListContainer div.photo div.stats { font-size: 9px; }
.photoListContainer div.photo div.stats {
	margin: 1px 0 0 0;
	color: #888;
}

.photoListContainer div.photo div.modify table {
	width: 100%;
	border: 1px solid #CCC;
	border-top: none;
	border-left: none;
	background: #F6F6F6;
}
.photoListContainer div.photo div.modify td {
	padding: 1px 0;
	width: 50%;
	border-left: 1px solid #CCC;
	text-align: center;
}

.photoListContainer div.photoSpacer {
	float: left;
	width: 19px;
	height: 10px;
	font-size: 1px;
}
.photoListContainer div.photoSpacer.fp { width: 10px; }
.photoListContainer div.photoSpacer.maxW { width: 100%; }

div.photoAlbumListContainer { }
div.photoAlbumListContainer div.album {
	float: left;
	width: 150px;
	height: 196px;
	overflow: hidden;
}
div.photoAlbumListContainer div.album div.aPreviews {
	position: relative;
	margin: 0 0 1px 0;
	width: 148px;
	height: 144px;
	border: 1px solid #C9C9C9;
	background: #EDEDED;
	overflow: hidden;
}
div.photoAlbumListContainer div.album div.aPreviews img.prev0,
div.photoAlbumListContainer div.album div.aPreviews img.prev1,
div.photoAlbumListContainer div.album div.aPreviews img.prev2,
div.photoAlbumListContainer div.album div.aPreviews img.prev3 {
	position: absolute;
	width: 64px;
	height: 64px;
	border: 1px solid #FFF;
}
div.photoAlbumListContainer div.album div.aPreviews img.prev0 { top: 4px; left: 5px; }
div.photoAlbumListContainer div.album div.aPreviews img.prev1 { top: 4px; right: 5px; }
div.photoAlbumListContainer div.album div.aPreviews img.prev2 { bottom: 4px; left: 5px; }
div.photoAlbumListContainer div.album div.aPreviews img.prev3 { bottom: 4px; right: 5px; }
div.photoAlbumListContainer div.album div.aPreviews img.lnk {
	position: absolute;
	top: 4px;
	left: 4px;
	width: 136px;
	height: 136px;
}
div.photoAlbumListContainer div.album div.title {
	height: 13px;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
}
div.photoAlbumListContainer div.album div.owner,
div.photoAlbumListContainer div.album div.stats {
	height: 12px;
	font-size: 10px;
	white-space: nowrap;
	overflow: hidden;
}
div.photoAlbumListContainer div.album div.stats { color: #888; }
div.photoAlbumListContainer div.albumSpacer {
	float: left;
	width: 19px;
	height: 19px;
}
div.photoAlbumListContainer div.albumSpacer.maxW { width: 100%; }

div.viewPhotoContainer {
	margin: 0 0 10px 0;
	text-align: center;
}
div.viewPhotoStats { border-right: 1px solid #CCC; }
div.viewPhotoStats span { vertical-align: text-bottom; }
div.viewPhotoStats div.vpsButton {
	float: right;
	padding: 5px;
	background: #F6F6F6;
	border: 1px solid #CCC;
	border-right: none;
	cursor: pointer;
}
div.viewPhotoStats div.vpsButton:hover {
	background: #FFF;
	color: #000;
}

/*** Videos ***/

.videoListContainer { }
.videoListContainer div.video {
	float: left;
	width: 262px;
}
.videoListContainer.videoListCenter div.video {
	float: none;
	margin: auto;
}
.videoListContainer div.video div.preview {
	position: relative;
	width: 260px;
	height: 189px;
	border: 1px solid #C9C9C9;
	overflow: hidden;
}
.videoListContainer div.video div.preview img {
	width: 260px;
	height: 189px;
}
.videoListContainer div.video div.preview img.status {
	position: absolute;
	top: 0;
	left: 0;
}
.videoListContainer div.video div.preview div.ratingContainer {
	position: absolute;
	left: 1px;
	top: 2px;
	background-image: url(/img/rating_bg_over.png);
}

.videoListContainer div.video div.modify table {
	width: 100%;
	border: 1px solid #CCC;
	border-top: none;
	border-left: none;
	background: #F6F6F6;
}
.videoListContainer div.video div.modify td {
	padding: 1px 0;
	width: 50%;
	border-left: 1px solid #CCC;
	text-align: center;
}

.videoListContainer div.video table.titleDur {
	margin: 1px 0 0 0;
	width: 100%;
}

.videoListContainer div.video button.options {
	margin: 0;
	padding: 1px;
	width: 262px;
	border: 1px solid #CCC;
	border-top: none;
	background: #F6F6F6;
	text-align: center;
	color: #333;
	cursor: pointer;
}
.videoListContainer div.video button.options:hover {
	background: #FFF;
	color: #000;
}
.videoListContainer div.video div.optionMenu  {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 262px;
	z-index: 100;
}
.videoListContainer div.video div.optionMenu button {
	margin: 0;
	padding: 5px;
	width: 260px;
	background: #F6F6F6;
	border: none;
	border-top: 1px solid #CCC;
	text-align: left;
	color: #333;
	display: block;
	cursor: pointer;
}
.videoListContainer div.video div.optionMenu button:hover {
	background: #FFF;
	color: #000;
}

.videoListContainer div.video div.title,
.videoListContainer div.video div.duration,
.videoListContainer div.video div.owner,
.videoListContainer div.video div.stats {
	width: 262px;
	height: 12px;
	white-space: nowrap;
	overflow: hidden;
}
.videoListContainer div.video div.title {
	width: 212px;
	height: 13px;
	font-weight: bold;
}
.videoListContainer div.video div.duration {
	width: 50px;
	text-align: right;
}
.videoListContainer div.video div.owner,
.videoListContainer div.video div.stats { font-size: 10px; }
.videoListContainer div.video div.stats { color: #888; }

.videoListContainer div.videoSpacer {
	float: left;
	width: 19px;
	height: 10px;
}
.videoListContainer div.videoSpacer.maxW { width: 100%; }

/*** Video albums ***/

div.videoAlbumListContainer { }
div.videoAlbumListContainer div.album {
	float: left;
	width: 262px;
	height: 230px;
	overflow: hidden;
}
div.videoAlbumListContainer div.album div.aPreviews {
	position: relative;
	margin: 0 0 1px 0;
	width: 260px;
	height: 190px;
	border: 1px solid #C9C9C9;
	background: #EDEDED;
	overflow: hidden;
}
div.videoAlbumListContainer div.album div.aPreviews img.prev0,
div.videoAlbumListContainer div.album div.aPreviews img.prev1,
div.videoAlbumListContainer div.album div.aPreviews img.prev2,
div.videoAlbumListContainer div.album div.aPreviews img.prev3 {
	position: absolute;
	width: 122px;
	height: 87px;
	border: 1px solid #FFF;
}
div.videoAlbumListContainer div.album div.aPreviews img.prev0 { top: 4px; left: 4px; }
div.videoAlbumListContainer div.album div.aPreviews img.prev1 { top: 4px; right: 4px; }
div.videoAlbumListContainer div.album div.aPreviews img.prev2 { bottom: 4px; left: 4px; }
div.videoAlbumListContainer div.album div.aPreviews img.prev3 { bottom: 4px; right: 4px; }
div.videoAlbumListContainer div.album div.aPreviews img.lnk {
	position: absolute;
	top: 4px;
	left: 4px;
	width: 298px;
	height: 216px;
}
div.videoAlbumListContainer div.album div.aTitle {
	width: 262px;
	height: 13px;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
}
div.videoAlbumListContainer div.album div.aFrom,
div.videoAlbumListContainer div.album div.aStats {
	width: 262px;
	height: 12px;
	font-size: 10px;
	white-space: nowrap;
	overflow: hidden;
}
div.videoAlbumListContainer div.album div.aStats { color: #888; }
div.videoAlbumListContainer div.albumSpacer {
	float: left;
	width: 19px;
	height: 10px;
}
div.videoAlbumListContainer div.albumSpacer.maxW { width: 100%; }

div.playVideoPlayer { margin: 0 0 10px 0; }
div.playVideoStats { border-right: 1px solid #CCC; }
div.playVideoStats span { vertical-align: text-bottom; }
div.playVideoStats div.pvsButton {
	float: right;
	padding: 5px;
	background: #F6F6F6;
	border: 1px solid #CCC;
	border-right: none;
	cursor: pointer;
}
div.playVideoStats div.pvsButton:hover {
	background: #FFF;
	color: #000;
}

/*** AlbumContainer ***/

.albumContainer div.album {
}
.albumContainer div.album div.info {
	float: left;
	width: 406px;
	overflow: hidden;
}
.albumContainer div.album div.info div.title {
	margin: 0 0 5px 0;
	font-size: 12px;
	font-weight: bold;
	white-space: nowrap;
}
.albumContainer div.album div.previews {
	float: right;
	width: 420px;
	overflow: hidden;
}
.albumContainer div.album div.previews img { height: 74px; }
.albumContainer div.album div.prev {
	display: inline-block;
	margin: 0 0 0 5px;
	width: 100px;
	height: 74px;
	background: #F3F3F3;
	text-align: center;
	overflow: hidden;
}
.albumContainer div.album div.previews img.prev {
	margin: 0 0 0 5px;
	width: 100px;
}

/*** Profile Action ***/

div.profileAction { }

div.profileAction div.paWrapper {
	padding: 5px 0 0 0;
}

/*** Icon Button ***/

div.icoButton {
	position: relative;
	padding: 5px 0 0 25px;
	width: 125px;
	height: 20px;
	background: url(/img/btn_xl.png);
	overflow: hidden;
	cursor: default;
}
div.icoButton:hover { background-position: bottom; }
div.icoButton span,
div.icoButton img {
	position: absolute;
	top: 4px;
	left: 5px;
}

div.icoButtonContainer { }
div.icoButtonContainer div.icoButton { float: left; }
div.icoButtonContainer div.btnSpacer {
	float: left;
	width: 10px;
	height: 5px;
}
div.icoButtonContainer div.btnSpacer.maxW { width: 100%; }

/*** Messages ***/

div.messageList {
	margin: 10px 0 0 0;
	border: 1px solid #CCC;
}
div.messageList div.msglHeader div.msglItem {
	padding: 4px 0 4px 2px;
	background: #EDEDED;
	border-bottom: 1px solid #CCC;
	font-weight: bold;
}
div.messageList div.msglItems {
	height: 221px;
	overflow: auto;
}
div.messageList div.msglItem {
	padding: 2px;
	overflow: hidden;
	cursor: pointer;
}
div.messageList div.msglItem:hover { background: #F6F6F6; }
div.messageList div.msglItem.msglItemSelected { background: #84B6ED; }
div.messageList div.msglItemFrom,
div.messageList div.msglItemSubject,
div.messageList div.msglItemDate {
	float: left;
	width: 250px;
	overflow: hidden;
}
div.messageList div.msglItemSubject { padding-left: 10px; width: 406px; }
div.messageList div.msglItemDate { padding-left: 10px; width: 120px; }

div.messageItem { }
div.messageItem div.msgiHeader {
	margin: 10px 0 0 0;
	height: 46px;
	background: #F6F6F6;
	border: 1px solid #CCC;
}
div.messageItem div.msgiSubject {
	width: 486px;
	height: 17px;
	font-size: 14px;
	overflow: hidden;
}
div.messageItem div.msgiContent { padding: 4px 0 0 0; }
div.messageItem div.msgiError { text-align: center; }

blockquote.messageItemReply {
	margin: 10px 0 0 0;
	padding: 0 0 0 8px;
	border-left: 3px solid #84B6ED;
	color: #666;
}

/*** Friends ***/

div.friendListContainer { }
div.friendListContainer div.friend {
	float: left;
	padding: 5px;
	width: 256px;
	background: #F6F6F6;
	border: 1px solid #CCC;
	overflow: hidden;
}
div.friendListContainer div.friend div.profilePicture { margin: 0 5px 0 0; }
div.friendListContainer div.friend div.friendName {
	width: 181px;
	height: 13px;
	white-space: nowrap;
	font-weight: bold;
	overflow: hidden;
}

div.friendListContainer div.friendSpacer {
	float: left;
	width: 11px;
	height: 10px;
}
div.friendListContainer div.friendSpacer.maxW { width: 100%; }

/*** AutoComplete ***/

div.autoComplete {
	position: absolute;
	background: #FFF;
	border: 1px solid #CCC;
	border-top: none;
	display: none;
	overflow: auto;
}
div.autoComplete div.autoCompleteItem {
	padding: 4px;
	white-space: nowrap;
	cursor: default;
}
div.autoComplete div.autoCompleteItem:hover { background: #EDEDED; }

/*** Rating ***/

div.ratingContainer {
	position: relative;
	width: 90px;
	height: 16px;
	background-image: url(/img/rating_bg.png);
	overflow: hidden;
}
div.ratingContainer div {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
div.ratingContainer div.score { background-image: url(/img/rating_fg.png); }
div.ratingContainer div.voteContainer:hover { background-image: url(/img/rating_vote.png); }
div.ratingContainer div.vote {
	width: 20%;
	height: 16px;
	cursor: pointer;
}
div.ratingContainer div.vote:hover { background-image: url(/img/rating_hover.png); }
#ratingResult { margin: 2px 0 0 0; }

/*** ListView ***/

.listView {
	margin: 5px 0 0 0;
	height: 160px;
	border: 1px solid #CCC;
	background-color: #FFF;
	overflow: auto;
}
.listView .listItem {
	padding: 2px 3px;
	cursor: default;
}
.listView .listItem:hover {
	background-color: #85B7ED;
	color: #FFF;
}

/*** Uploadrule ***/

.uploadRule {
	margin: 0 0 10px 0;
	background-image: url(/img/v2/design/upload_rule_bg.png);
	background-position: center;
	background-repeat: no-repeat;
}
.uploadRule th {
	width: 140px;
	text-align: center;
}

/*** Section ***/

div.section {
	padding: 8px;
	background-color: #F6F6F6;
	border: 1px solid #CCC;
}
div.section.marT { margin-top: 5px; }

/*** Banners ***/

div.bannerSpot1 {
	margin: 0 0 1px 0;
	width: 306px;
	height: 223px;
	overflow: hidden;
}

/*** FORM ***/

ul.formMsg {
	margin: 0 0 10px 0;
	padding: 2px 4px 2px 20px;
	border: 1px solid #CCC;
	background: #F6F6F6;
}
ul.formMsg li { margin: 2px 0; }
ul.formMsg.error {
	border: 1px solid #C43737;
	color: #C43737;
}
ul.formMsg.success { color: #45C437; }

form { margin: 0; }

input, textarea, select {
	margin: 0;
	padding: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000;
	outline: none;
}

input.btnM, input.btnL, input.btnXL, input.btnH {
	width: 60px;
	height: 25px;
	background: url(/img/btn_default.png);
	border: 1px solid #CCC;
	border-right: 1px solid #888;
	border-bottom: 1px solid #888;
}
input.btnM:hover, input.btnL:hover, input.btnXL:hover { background-position: bottom; }

input.btnL { width: 120px; }
input.btnXL { width: 150px; }
input.btnH { width: 220px; }

input.btnJoin, input.btnLogin {
	width: 110px;
	height: 39px;
	background: url(/img/btn_big.png);
	border: none;
	color: #900;
	font-weight: bold;
	font-size: 16px;
}
input.btnLogin { color: #090; }
input.btnJoin:hover, input.btnLogin:hover { background-position: bottom; }

input.btnUploadPhotos, input.btnUploadVideos {
	margin: 0 5px;
	width: 400px;
	height: 117px;
	background: url(/img/btn_xh.png);
	border: none;
	font-weight: bold;
	font-size: 32px;
	font-variant: small-caps;
	cursor: pointer;
}
input.btnUploadPhotos:hover, input.btnUploadVideos:hover { background-position: bottom; }

input.btnClose {
	width: 24px;
	height: 24px;
	background: url(/img/btn_close.png);
	border: none;
	cursor: pointer;
}

input.btnFree, input.btnGold, input.btnEscort {
	width: 150px;
	height: 27px;
	background: url(/img/btn_free.png);
	border: none;
	color: #FFF;
	cursor: pointer;
}
input.btnGold { background: url(/img/btn_gold.png); color: #000; }
input.btnEscort { background: url(/img/btn_escort.png); }
input.btnFree:hover, input.btnGold:hover, input.btnEscort:hover { background-position: bottom; }

textarea {
	resize: none;
	overflow: auto;
}

input.txtPageNav,
input.txtXS,
input.txtS,
input.txtM, textarea.txtM,
input.txtL, textarea.txtL,
input.txtXL, textarea.txtXL {
	margin: 0;
	padding: 3px;
	width: 42px;
	height: 13px;
	border: 1px solid #1D1D1D;
	border-right: 1px solid #C1C1C1;
	border-bottom: 1px solid #C1C1C1;
}
input.txtS { width: 92px; }
input.txtM, textarea.txtM { width: 192px; }
input.txtL, textarea.txtL { width: 292px; }
input.txtXL, textarea.txtXL { width: 392px; }
input.txtPageNav {
	padding: 1px;
	width: 50px;
	text-align: center;
}

textarea.txtM,
textarea.txtL,
textarea.txtXL { height: 50px; }

div.txtMaxW {
	padding: 3px;
	border: 1px solid #1D1D1D;
	border-right: 1px solid #C1C1C1;
	border-bottom: 1px solid #C1C1C1;
	background: #FFF;
}
div.txtMaxW input,
div.txtMaxW textarea {
	width: 100%;
	padding: 0;
	border: none;
}

select.selDay,
select.selMonth,
select.selYear,
select.selXS,
select.selS,
select.selSM,
select.selM,
select.selL,
select.selXL {
	padding: 1px;
	width: 48px;
	border: 1px solid #C1C1C1;
}
select.selDay { width: 48px; }
select.selMonth { width: 176px; }
select.selYear { width: 68px; }
select.selS { width: 100px; }
select.selSM { width: 180px; }
select.selM { width: 200px; }
select.selL { width: 300px; }
select.selXL { width: 400px; }
select.selS.maxW { width: 100%; }

/*** TABLE ***/

table.form {
	width: 100%;
	background: #F6F6F6;
	border-top: 1px solid #D6D6D6;
}
table.form th, 
table.form td {
	padding: 7px;
	border-bottom: 1px solid #D6D6D6;
}
table.form th {
	width: 35%;
	padding-right: 2px;
	border-left: 1px solid #D6D6D6;
	text-align: right;
	font-weight: normal;
}
table.form td { border-right: 1px solid #D6D6D6; }

table.form tr.noBorder th,
table.form tr.noBorder td {
	padding-bottom: 0;
	border-bottom: none;
}
table.form tr.noBorderAll td {
	padding: 0;
	border: none;
}

table.form tr.section td {
	background: #ECECEC;
	border-left: 1px solid #D6D6D6;
	font-size: 12px;
}

table.form.formSubMenu {
	width: 100%;
	background: none;
	border: none;
}
table.form.formSubMenu th,
table.form.formSubMenu td {
	padding: 0 0 7px 0;
	border: none;
}
table.form.formSubMenu th {
	width: 95px;
	text-align: left;
}
table.form.formSubMenu td.formSubMenuLast {
	padding: 0;
	text-align: center;
}

table.form b.req {
	font-weight: normal;
	color: #F00;
}

table.form.formDouble, table.form.formAuto { border-left: 1px solid #D6D6D6; }
table.form.formDouble th, table.form.formAuto th {
	width: 20%;
	border-left: none;
}
table.form.formAuto th { width: auto; }

table.formCompact { width: 100%; }
table.formCompact.marT { margin-top: 5px; }
table.formCompact td { text-align: right; }
table.formCompact td.alC {
	padding: 5px 0 0 0;
	text-align: center;
}
table.formCompact td.alL { text-align: left; }
table.formCompact input.btnL,
table.formCompact select { height: 21px; }

table.data {
	width: 100%;
	background: #F6F6F6;
	border-top: 1px solid #D6D6D6;
	border-left: 1px solid #D6D6D6;
}
table.data th, 
table.data td {
	padding: 8px;
	border-bottom: 1px solid #D6D6D6;
}
table.data th {
	padding-right: 2px;
	width: 35%;
	text-align: right;
	font-weight: normal;
}
table.data td { border-right: 1px solid #D6D6D6; }
table.data td.ico {
	padding-right: 0;
	border-right: none;
}
table.data tr.noBorder td {
	padding-bottom: 0;
	border-bottom: none;
}
table.data tr.header td { font-weight: bold; }
table.data tr.section td {
	background: #ECECEC;
	border-left: 1px solid #D6D6D6;
	font-size: 12px;
}

table.comment { width: 100%; }
table.comment.marT,
table.comment.reply { margin-top: 5px; }

table.comment td.ava {
	width: 40px;
	vertical-align: top;
}

table.comment td.cnt {
	padding: 2px;
	background: #F6F6F6;
	border: 1px solid #CCC;
	vertical-align: top;
	line-height: 15px;
}
table.comment.reply td.cnt { background: #FFF; }
table.comment.add td.cnt { background: #F6F6F6; }

table.comment td.rep { padding: 2px 0 0 0; }

table.comment div.txtMaxW { margin: 0 0 2px 0; }

table.frontpage { margin: 0 0 5px 0; }

table.frontpage td {
	padding: 0 0 0 4px;
	vertical-align: top;
	text-align: center;
	color: #888;
	font-size: 9px;
}
table.frontpage td img {
	width: 97px;
	height: 97px;
	border: 1px solid #CCC;
}

table.frontpage tr.top td { padding: 0 0 4px 4px; }
table.frontpage tr.top td.big { padding: 0 6px 0 0; }

table.frontpage td.big img {
	width: 212px;
	height: 212px;
}

table.confirm {
	margin: 0 auto;
}
table.confirm td { height: 50px; }
table.confirm th {
	padding: 0 5px 0 0;
	text-align: right;
}
table.confirm td.ctrls {
	height: auto;
	text-align: center;
}

table.gridTable {
	width: 100%;
	border-top: 1px solid #CCC;
	border-left: 1px solid #CCC;
}
table.gridTable td {
	padding: 2px;
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	background: #F6F6F6;
	cursor: pointer;
}
table.gridTable td:hover { background: #EDEDED; }
table.gridTable div.gridTableScroll {
	position: relative;
	float: left;
	margin: 0 0 0 2px;
	padding: 1px 0 0 0;
	width: 142px;
	height: 13px;
	overflow: hidden;
}
table.gridTable div.gridTableScroll span {
	position: absolute;
	white-space: nowrap;
}

table.searchTable {
	width: 100%;
	background: #F4F7FA;
	border: 1px solid #DADADA;
}
table.searchTable th {
	padding: 4px;
	background: #DFE7EE;
	text-align: left;
}
table.searchTable td { padding: 1px; }

table.escortAgenda {
	background: #FFF;
	border-top: 1px solid #D6D6D6;
	border-left: 1px solid #D6D6D6;
}
table.escortAgenda th,
table.escortAgenda td {
	border-right: 1px solid #D6D6D6;
	border-bottom: 1px solid #D6D6D6;
}
table.escortAgenda th {
	padding: 6px;
	width: auto;
	text-align: right;
	font-weight: normal;
}
table.escortAgenda td {
	width: 25px;
	padding: 6px 0;
	text-align: center;
}
table.escortAgenda td.eaActive { background: #45C437; }
table.escortAgenda tr.eaEditable td { cursor: pointer; }
table.escortAgenda tr.eaEditable td:hover { background: #D6D6D6; }
table.escortAgenda tr.eaEditable td.eaActive:hover { background: #C43737; }

table.searchForm {
	width: 100%;
	background: #DCEBFB;
	border: 1px solid #1F54BC;
	border-top: none;
}
table.searchForm th {
	padding: 5px 6px 0 6px;
	height: 22px;
	border-top: 1px solid #1F54BC;
	border-bottom: 1px solid #1F54BC;
	background-image: url(/img/v2/design/submenu/title_bg.png);
	font-size: 13px;
	font-weight: bold;
	text-align: left;
	color: #FFF;
}
table.searchForm td { padding: 4px; }
table.searchForm td.noPad { padding: 0; }
table.searchForm select.selS { width: 90px; }
table.searchForm select.selM { width: 100%; }
table.searchForm div.cbxContainer {
	padding: 4px;
	height: 60px;
	overflow: auto;
}

table.calendar {
	width: 100%;
	border-top: 1px solid #CCC;
	border-left: 1px solid #CCC;
}
table.calendar td {
	width: 14%;
	height: 86px;
	border-bottom: 1px solid #CCC;
	border-right: 1px solid #CCC;
	vertical-align: top;
}
table.calendar td.empty { background:#E6E6E6; }
table.calendar th {
	padding: 8px 0px;
	background: #CCC;
	border-bottom: 1px solid #CCC;
	border-right: 1px solid #CCC;
	text-align: center;
	font-weight: bold;
}
table.calendar div.dayNumber {
	margin: 4px 4px 0 0;
	text-align: right;
	font-size: 18px;
	color: #CCC;
}
table.calendar div.eventsNumberContainer {
	margin: 8px auto 0 auto;
	padding: 8px 0;
	width: 60px;
	overflow: visible;
	background-color: #E0E0E0;
	border-radius: 8px;
	text-align: center;
	font-size: 20px;
}