@media (min-width: 768px) {
	.has-banner .header {position: relative;z-index: 99;}
	.has-banner .content, .has-banner .footer {position: relative;z-index: 9;}
}
@media (min-width: 1200px) {
	.has-banner .banner {background-position: center 0;}
	.has-banner .content {margin: 158px 0 0 0;}
}
@media (max-width: 1199px) {
	.has-banner .banner {background-position: center 0;background-size: 1350px;}
	.has-banner .content {margin: 158px 0 0 0;}
}
@media (max-width: 991px) {
	.has-banner .banner {background-position: center 22px;background-size: 1050px;}
	.has-banner .content {margin: 118px 0 0 0;}
}
@media (max-width: 767px) {
	.has-banner .banner {display: none;}
	.has-banner .content {margin: 0;}
}

.has-banner .banner {
    background-image: url(../images/banner.png);
    background-repeat: no-repeat;
    position: fixed;
    top: 25px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}
