@charset "utf-8";
/* CSS Document */

@media (min-width: 481px) {
.form-sytle-1 label {padding: 6px 0;margin: 0;}
.form_subscription input[type="email"] {width: 260px;}
}
@media (min-width: 361px) {
}
@media (min-width: 601px) {
.black_tab > li a {padding: 5px 20px;}
}
@media (min-width: 768px) {
  .content {
    padding: 0 10px;
}
.header {background: #FFFFFF;}
.header-top {border-bottom: 1px solid #e2e2e2;box-shadow: 0 -1px 7px #e2e2e2;position: relative;z-index: 91;}
.menu {float: left;width: 100%;border-bottom: 1px solid #d7e1e9;background-color: #FFFFFF;position: relative;}
.top-search {display: none;position: absolute;top: 51px;right: 0;width: 300px;background-color: white;padding: 10px;box-shadow: 0 4px 10px #EEEEEE;}
.search-toggle {position: absolute;top: 0;right: 0;background: transparent;color: #e1e1e1;width: 50px;height: 50px;font-size: 17px;text-align: center;padding: 15px 0;}

.language {margin: 20px 0;}
.gray_tab_content .post-list .post-title {font-size: 20px;}
.gray_tab_content .post-list .post-title strong {font-weight: 400;}
.gray_tab_content .post-list .post-img {width: 48%;}
.gray_tab_content .post-list .post-img img {
	-webkit-box-shadow: 3px 3px 10px #d9d9d9;
	   -moz-box-shadow: 3px 3px 10px #d9d9d9;
		-ms-box-shadow: 3px 3px 10px #d9d9d9;
		 -o-box-shadow: 3px 3px 10px #d9d9d9;
			box-shadow: 3px 3px 10px #d9d9d9;
}

.cd-main-content.lateral-menu-is-open {
    -webkit-transform: translateX(0) !important;
    -moz-transform: translateX(0) !important;
    -ms-transform: translateX(0) !important;
    -o-transform: translateX(0) !important;
    transform: translateX(0) !important;
}
#cd-lateral-nav.lateral-menu-is-open {display: none !important;}
.logo {float: left;padding: 9px 0;width: 120px;}
.logo img {width: 100%;}
.content {margin: 16px 0;}
.content-right {}
.sidebar {}
.block {/*padding: 16px;*/}
.sticky-header, /*.top-search, */.popular-categories-toggle {display: block !important;height: inherit !important;}
.sticky-header.stuck {position: fixed;height: 30px !important;    height: 51px !important; background-color: #FFFFFF;}
.scrolling-box .post-title {margin-bottom: 0;}
.top-news-right .post-body {position: relative;padding-left: 40px;}
.top-news-right .date {position: absolute;top: 2px;left: 0;font-size: 12px;}
.popular-categories ul li a {padding: 8px 0;}
.market-slider .customNavigation .btn {display: none;}
.popular-categories h4 {margin-bottom: 16px;}
.related-post .post-img {margin-bottom: 12px !important;}
.footer-store {margin-left: 20px;}
}
@media (min-width: 992px) {
.content-right {
    width: 680px;
}
.content{padding: 0 15px;}
.content-right {width: 660px;}
.sidebar {width: 220px;}
.menu ul li a {padding: 18px 0 14px 0;}
.paging {float: right;}
.paging ul {margin: -10px 0;}
.post-details .post-title {line-height: 30px;margin: 0 0 16px 0;font-size: 22px;}
.anons_games td {border-width: 8px;padding: 7px 15px;}
.divider_column_2 {display: none;}
}
@media (min-width: 1200px) {
.content-right {width: 730px;}
.container {width: 1024px;}
.sticky-header > .container {width: 1008px;}
.sticky-header.stuck > .container {width: 1024px;}

.content {padding: 0 15px 15px 15px;}
/*.top-search {width: 280px;}*/
}
@media (max-width: 1199px) {
/*.top-search {width: 230px;margin-right: 0 !important;}*/
.container {width: 952px;}
.sticky-header > .container {width: 936px;}
.sticky-header.stuck > .container {width: 952px;}
}
@media (max-width: 991px) {
/*.gray_tab_content .post-list .post-img {width: 100% !important;padding-right: 0px;}
.gray_tab .post-list .post-body {width: 100% !important;padding-left: 0px !important;padding-top: 15px;}*/
.gray_tab_content .post-list .post-img {width: 100%;display: block;padding: 0;margin-bottom: 20px;}
.gray_tab_content .post-list .post-body {padding: 0;}

.container {width: 748px;}
.sticky-header > .container {width: 732px;}
.sticky-header.stuck > .container {width: 748px;}
.content-right {width: 480px;}
.sidebar {width: 220px;}
.footer .list-inline {clear: both;width: 100%;margin: 0 0 10px 0;text-align: center;}
.footer-socials li:first-child {display: none;}
.menu ul li {margin-right: 9px !important;}
.menu ul li a {padding: 19px 0 14px 0;font-size: 14px !important;}
.header-triangleb/*, .weather*/ {display: none;}
.top-news-right {border-left: 0 !important;padding-left: 0 !important;}
.paging {float: left;}
.paging ul {margin: 7px 0;width: 100%;}
.post-details .post-title {line-height: 22px;font-size: 18px;}
.anons_games td {display: block;width: 100%;border-top-width: 2px;border-bottom-width: 2px;border-left-width: 8px;border-right-width: 8px;}
.anons_games td:not(.title) {padding: 4px 10px;}
.divider_column_3 {display: none;}
.paging-next {position: absolute;top: 7px;right: 0;}
}
@media (max-width: 767px) {
.container {width: 100%;}
.header .container {padding-left: 16px;padding-right: 16px;}
.sticky-header > .container {width: 100%;}
.menu {float: left;width: 100%;}
.logo {float: none;margin: 0 auto;display: table;padding: 9px 0;}
.logo img {width: 130px;}
.content-container {padding: 0 20px;}
.content-right {width: 100%;}
.sidebar {width: 100%;}
.header .pull-right {width: 100%;margin: 0 0 10px 0;}

.menu .container {padding: 0;}
.menu ul {border-left: 0 !important;}
.menu ul li {width: 100%;border: 0 !important;border-bottom: 1px solid #080808 !important;}
.menu ul li a {width: 100%;padding: 10px 10px;}
.sticky-wrapper {height: 0 !important;}
.sticky-header.stuck {position: inherit;}
.header {
    background: #211B76;
    margin-bottom: 20px;
    float: left;
    width: 100%;
}

.block {border-bottom: 0 !important;/*padding: 16px 16px 0 16px*/;}
.block.border-bottom {padding: 16px 16px 0 16px;}
.day-photo .block-title, .videonews .block-title, .photonews .block-title {text-align: left;}
.daily-news-block .post p {display: none;}

.top-search {display: none;float: left;width: 100%;margin-bottom: 16px;}
.search-toggle {position: absolute;top: 16px;left: 16px;font-size: 22px;color: #FFFFFF;z-index: 99;}
.search-toggle:hover, .search-toggle:focus {color: #FFFFFF;}
.search input[type="text"] {color: #FFFFFF;}

.popular-categories h4 {margin-bottom: 0;padding: 6px 12px;background: #211B76;color: #FFFFFF;font-size: 15px;text-transform: uppercase;font-weight: bold;border-bottom: 0;cursor: pointer;position: relative;}
.popular-categories-togglebtn.active a span:before {content: "\f106";}
.popular-categories li {border: 1px solid #dddddd;border-top: 0;}
.popular-categories li:last-child {border-top: 0;}
.popular-categories ul li a {padding: 8px 15px;}
.popular-categories-toggle {display: none;}

.market-slider .customNavigation .btn {display: block;}
.market-slider .banner-news .post-body {padding-left: 40px;padding-right: 40px;}

.anons_games td {display: table-cell;width: 33.3333333%;border-width: 8px;}

.footer .list-inline.footer-socials {margin-top: -110px;}
.footer .list-inline.footer-store {margin-top: 60px;}

/* -------------------------------- 

Main components 

-------------------------------- */
.cd-main-content {
  background-color: #FFFFFF;
  /* set a min-height and a z-index to be sure that the main element completely covers the lateral menu */
  min-height: 100%;
  position: relative;
  z-index: 2;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s;
}


.gray_tab {padding-left: 0 !important;}
.gray_tab > li a {border-radius: 0 !important;margin-right: 0 !important;text-transform: none !important;font-size: 14px !important;padding: 9px 5px 4px 5px !important;}
.mobile-visibile-tab {display: block !important;}
.paddin-0-xs {padding: 0 !important;}
.block-title-mobile {background-color: #f1f5f8;padding: 10px 10px 8px 10px !important;}
.important-news {/*padding: 20px 20px 10px 20px;margin: 0 -20px;width: calc(100% + 40px) !important;background-color: #fafafa;*/}
}
@media (max-width: 600px) {
.anons_games td {display: block;width: 100%;border-top-width: 2px;border-bottom-width: 2px;}
.black_tab > li a {padding: 6px;font-size: 13px;}

    .post-body img{
        display: block;
        max-width: 100% !important;
        height: auto !important;
    }

    .post-body iframe {
        display: block;
        max-width: 100% !important;
        height: auto !important;
    }

}
@media (max-width: 480px) {
.list .post-list .post-img {width: 100%;margin-bottom: 16px;}
.list .post-list .post-body {width: 100%;padding-left: 0;}
.list .col-xs-6 {width: 100%;}
.form-sytle-1 .first-row > .col-xs-5,
.form-sytle-1 .first-row > .col-xs-7 {width: 100%;}
.form_subscription input[type="email"] {width: 100%;}

    .post-body img{
        display: block;
        max-width: 100% !important;
        height: auto !important;
    }

    .post-body iframe {
        display: block;
        max-width: 100% !important;
        height: auto !important;
    }

}
@media (max-width: 360px) {
.gray_tab > li a {font-size: 12px !important;padding: 6px 3px 4px 4px !important;letter-spacing: 0;}

    .post-body img{
        display: block;
        max-width: 100% !important;
        height: auto !important;
    }

    .post-body iframe {
        display: block;
        max-width: 100% !important;
        height: auto !important;
    }
}

/*===========================================
Logo Advertisement
===========================================*/
.logo-adds a {float: left;padding: 0 25px;background-color: #f3f3f3;height: 58px;display: table;border-right: 1px solid #dadada;}
.logo-adds a:last-child {border-right: 0;}
.logo-adds span {display: table-cell;vertical-align: middle;}
@media (min-width: 768px) {
    .logo-adds {position: absolute;top: 0;left: 50%;z-index: 99;transform: translate(-50%);-webkit-transform: translate(-50%);-moz-transform: translate(-50%);-ms-transform: translate(-50%);-o-transform: translate(-50%);}
    .logo-adds:before {content: '';position: absolute;top: 0;left: -29px;width: 0;height: 0;border-style: solid;border-width: 0 30px 60px 0;border-color: transparent #f3f3f3 transparent transparent;}
    .logo-adds:after {content: '';position: absolute;top: 0;right: -29px;width: 0;height: 0;border-style: solid;border-width: 60px 30px 0 0;border-color: #f3f3f3 transparent transparent transparent;}
    .logo-adds img {float: left;width: auto;max-height: 36px;}
}
@media (max-width: 767px) {
    .header {background: #f3f3f3;}
    .logo-adds {float: left;position: relative;top: 0;left: 50%;z-index: 99;transform: translate(-50%);-webkit-transform: translate(-50%);-moz-transform: translate(-50%);-ms-transform: translate(-50%);-o-transform: translate(-50%);}
    .logo-adds img {float: left;width: auto;max-height: 30px;}
    .header-top, .header > .container {background: #211b76;}
}
/* Advertisement ends */