@charset "utf-8";
/* CSS Document */
/* www.kun.uz */
/* By Islom Mirzo */

body {font-size: 15px;line-height: 1.25;font-family: Arial, Helvetica, sans-serif;color: #2c2c2c;letter-spacing: 0.5px;font-family: 'Roboto', sans-serif;font-weight: 300;}

a {color: #2C2C2C;}
a:hover {color: #075896;text-decoration:none;}
a:focus {color: inherit;outline:none;}

a, button {
	-webkit-transition: all 0.3s ;
	-moz-transition: all 0.3s ;
	-o-transition: all 0.3s ;
	-ms-transition: all 0.3s ;
	transition: all 0.3s;
}

a:hover, button:hover {
	-webkit-transition: all 0.3s ;
	-moz-transition: all 0.3s ;
	-o-transition: all 0.3s ;
	-ms-transition: all 0.3s ;
	transition: all 0.3s;
}

.color_1 {color: #2C2C2C !important;} /* black */
.color_2 {color: #9A9A9A !important;} /* grey */
.color_3 {color: #075896 !important;} /* blue */
.color_4 {color: #FFFFFF !important;} /* white */
.color_5 {color: #FF0000 !important;} /* red */

.blue {text-decoration: none;color: #075896;float: left;margin-right: 5px;text-transform: capitalize;font-weight: 400;font-size: 13px;}
.blue:hover {text-decoration: underline;}

.underline {text-decoration: underline;}
a.underline:hover {text-decoration: none;}

.button {text-align: center;background: #1ABC9C ;color: #FFF;}
.button:hover {background:#383B3B ;color:#FFFFFF;text-decoration:none;}
.button-toggle {display: block;float: left;width: 18px;height: 18px;text-align: center;font-size: 15px;background: #383284;color: #FFFFFF;margin: 5px 0;}
.button-toggle.active .fa:before {content: "\f106";}
.button-toggle:hover, .button-toggle:focus {background-color: #ffffff;color: #221E4F;}

hr {float: left;width: 100%;margin: 20px 0;border-color: #e3eaf0;}

input, textarea, select {outline: none;border: 1px solid #e3eaf0;background: #FAFAFA;height: 34px;font-size: 14px;line-height: 34px;padding: 0 10px;width: 100%;margin-bottom: 16px;float: left;}
textarea {min-height: 90px;width: 100%;max-width: 100%;}
input[type="checkbox"], input[type="checkbox"] {width: auto;border: 0;background: inherit;height: auto;margin: 2px 8px 0 0;float: left;}
button, .button {border:none;padding: 0 10px;height: 30px;line-height: 30px;background-color: #075896;color: #FFFFFF;font-size: 14px;}
button:hover, .button:hover {background-color: #0E75C3;}
label {font-weight: normal;width: 100%;}
label.required:after {content: '*';color: #075896;font-size: 18px;margin-left: 3px;}

ul {padding-left: 16px;}
ul.styled {list-style: none;padding-left: 0;}

h3 {font-size: 22px;margin: 0 0 20px 0;}
h5 {color: #1f1f1f;font-size: 15px;font-weight: bold;margin-bottom: 15px;text-transform: uppercase;}

.margin-bottom {margin-bottom: 16px !important;}
.margin-bottom-10 {margin-bottom: 10px !important;}
.margin-bottom-30 {margin-bottom: 30px !important;}
.margin-bottom-0 {margin-bottom: 0 !important;}
.margin-top {margin-top: 16px !important;}
.margin-top-10 {margin-top: 10px !important;}
.margin-top-30 {margin-top: 30px !important;}
.margin-top-0 {margin-top: 0 !important;}

.padding {padding: 16px;float: left;width: 100%;}
.padding-bottom {padding-bottom: 16px;}
.padding-bottom-0 {padding-bottom: 0 !important;}
.padding-top {padding-top: 16px;}
.padding-top-0 {padding-top: 0 !important;}


.border-bottom {border-bottom: 1px solid #e3eaf0;padding-bottom: 16px;}
.clear-both {clear:both;}
.full-width {width: 100%;}
.float-none {float: none !important;}

.pointer {cursor: pointer;}

/*======================================================
HEADER
======================================================*/
.search {position: relative;}
.search input[type="text"]{border-radius: 15px;padding: 0 10px;background: transparent;height: 30px;line-height: 30px;margin-bottom: 0;}
.search button {position: absolute;top: 0;right: 0;height: 100%;background: transparent;font-size: 16px;padding: 0 12px;color: #e1e1e1;}

/*.header-triangleb {position: relative;padding: 21.5px 10px;margin: 0 7.5px;}
.header-triangleb.language {background: #F8FAFB;margin-left: 15px;}
.header-triangleb.language:before {border-color: transparent transparent #F8FAFB transparent;}
.header-triangleb.language:after {border-color: #F8FAFB transparent transparent transparent;}
.header-triangleb:before {content: '';width: 0;height: 0;border-style: solid;border-width: 0 0 60px 15px;position: absolute;top: 0;left: -15px;}
.header-triangleb:after {content: '';width: 0;height: 0;border-style: solid;border-width: 60px 15px 0 0;position: absolute;top: 0;right: -15px;}*/

nav#cd-lateral-nav .language {border-bottom: 1px solid #383284;margin-bottom: 16px;background: #211B76;}
nav#cd-lateral-nav .language li {float: left;list-style: none;border-left: 1px solid #383284;}
nav#cd-lateral-nav .language li a {padding: 22px 20px;height: 55px;color: #FFFFFF;text-decoration: none;}
nav#cd-lateral-nav .language li a.active {background: #120D5F;}

.language a {color: #1f1975;font-size: 13px;}
.language a:hover,
.language a.active {text-decoration: none;color: #8c8c8c;}

/*.weather {float: left;padding: 20px 0;margin-left: 20px;}
.weather img {float: left;margin-right: 5px;}*/

.currency {}
.currency td {padding: 7px 5px;font-size: 14px;font-weight: 400;}
.currency td.green .fa, .currency td.red .fa {font-size: 12px;margin: 0 6px 0 0;}
.currency td.green .fa {color: #009c2e;}
.currency td.red .fa {color: #e21e27;}
.currency td:last-child .fa {font-size: 8px;margin: 3px;float: left;}

.currency-border {border: 1px solid #e3eaf0;float: left;width: 100%;}
.currency-border > div {padding: 6px;}
.currency-border > div:last-child {border-top: 1px solid #e3eaf0;padding: 12px 5px;letter-spacing: 0;color: #8b8b8b;font-weight: 400;font-size: 12px;}

.currency td.green {color: #009c2e;}
.currency td.red {color: #e21e27;}
.currency td:last-child {font-size: 12px;}

.sticky-header.stuck {top: 0;right: 0;left: 0;z-index: 999;box-shadow: 0 -1px 7px #e2e2e2;border-bottom: 1px solid #d7e1e9;}
.sticky-header > .container {padding: 0;}
.sticky-header.stuck > .container {padding: 0 8px;}

.menu ul {padding: 0;margin: 0;list-style: none;float: left;}
.menu ul li {float: left;margin-right: 17px;}
.menu ul li:last-child {margin-right: 0;}
.menu ul li a {float: left;font-size: 14px;color: #394751;text-transform: uppercase;}
.menu ul li a:hover,
.menu ul li a.active {color: #000000;}
.menu ul li a .fa-home {font-size: 26px;color: #9b9b9b;margin: -6px 0 -4px;float: left;}
.mobilemenu-toggle {}
.mobilemenu-toggle:hover {background: #2A2A2A;color: #FFFFFF;}
/* HEADER end */

/*======================================================
CONTENT
======================================================*/
.content {float: left;width: 100%;}
.content-right {float: left;}
.sidebar {float: right;}

/*.banner-news {position: relative;margin-bottom: 16px;}
.banner-news .post-img {margin-bottom: 0;}
.banner-news .post-body {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #FFFFFF;
    font-size: 15px;
    padding: 8px;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjA0Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjYzJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjQ1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjQ1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC40NSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.04) 0%, rgba(0,0,0,0.45) 63%, rgba(0,0,0,0.45) 99%, rgba(0,0,0,0.45) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.04)), color-stop(63%,rgba(0,0,0,0.45)), color-stop(99%,rgba(0,0,0,0.45)), color-stop(100%,rgba(0,0,0,0.45)));
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.04) 0%,rgba(0,0,0,0.45) 63%,rgba(0,0,0,0.45) 99%,rgba(0,0,0,0.45) 100%);
	background: -o-linear-gradient(top,  rgba(0,0,0,0.04) 0%,rgba(0,0,0,0.45) 63%,rgba(0,0,0,0.45) 99%,rgba(0,0,0,0.45) 100%);
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.04) 0%,rgba(0,0,0,0.45) 63%,rgba(0,0,0,0.45) 99%,rgba(0,0,0,0.45) 100%);
	background: linear-gradient(to bottom,  rgba(0,0,0,0.04) 0%,rgba(0,0,0,0.45) 63%,rgba(0,0,0,0.45) 99%,rgba(0,0,0,0.45) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a000000', endColorstr='#73000000',GradientType=0 );
}
.banner-news .post-title, .banner-news .date, .banner-news .data a {color: #FFFFFF;}
.banner-news .post-title {margin-bottom: 0;}
.banner-news .post-title:hover {text-decoration: underline;}*/

.home-basic-p {float: left;width: 100%;padding: 0;margin: 0;}
.home-basic-p li:last-child {border-bottom: 0;padding-bottom: 0;margin-bottom: 0;}

.post-category {position: absolute;top: 10px;left: 10px;right: 10px;z-index: 9;background: #211B76;color: #FFFFFF;font-size: 12px;padding: 3px 5px;text-transform: uppercase;}
.post-category:hover {}

/*.top-news-right {float: left;width: 100%;padding-left: 16px;border-left: 1px solid #E7E7E7;}
.top-news-right .scrollbox {padding: 0;}*/

.show-more {float: left;display: block;width: 100%;text-align: center;font-size: 11px;text-transform: uppercase;font-weight: bold;background: #075896;padding: 7px 0;color: #ffffff;}
.show-more:hover {background: #ECF1F7;}
.show-more:focus {text-decoration: none;}
.show-more .fa {font-size: 13px;margin: 2px 0 0 5px;font-weight: bold;}
.mini-news-list .show-more {margin: 10px -15px -15px -15px;float: none;width: auto;}
.post-details .mini-news-list .show-more {margin: 10px 0 0 0;float: left;width: 100%;}

.paging {padding: 7px 0;font-weight: 400;position: relative;}
.paging ul {padding: 0;float: left;}
.paging ul li {float: left;display: inline-block;margin: 3px;}
.paging ul li a,
.paging ul li span {float: left;display: block;width: 30px;height: 30px;text-align: center;padding: 6px 0;border: 1px solid #e7e7e7;}
.paging ul li a:focus {text-decoration:none;}
.paging ul li .active,
.paging ul li a:hover {border-color: #7b7c7d;background: #7b7c7d;color: #FFFFFF;}
.paging-prev, .paging-next {float: left;margin: 0 10px;}
.paging-prev .fa, .paging-next .fa {color: #2C2C2C;}
.paging-prev .fa {margin-right: 5px;}
.paging-next .fa {margin-left: 5px;}

.post {float: left;width: 100%;margin-bottom: 16px;}
.post-img {float: left;width: 100%;display: block;margin-bottom: 16px;position:relative;}
.post-img img {width:100%;float: left;}
.post-img .fa {position:absolute;left: 0;bottom: 0;background: rgba(0, 0, 0, 0.4);width: 34px;height: 34px;color: #FFFFFF;text-align: center;padding: 7px 0;font-size: 20px;}
.post-title {margin-bottom: 10px;float: left;width: 100%;}
.post-title:hover {}
.post p {float: left;width: 100%;color: #2C2C2C;margin-bottom: 16px;}

.data {float:left;width:100%;margin-top: -5px;}
.date {margin-right: 15px;white-space:nowrap;color: #878787;font-size: 12px;}
.viewed {white-space:nowrap;color: #878787;font-size: 12px;margin-right: 15px;}
.date .fa, .viewed .fa {margin-right: 3px;font-size: 13px;}

.post-list .post-img {width: 40%;display: table-cell;padding-right: 15px;margin-bottom: 0;}
.post-list .post-body {width: 60%;display: table-cell;padding-left: 15px;}

.post-list-small .post-img {width: 28%;padding-right: 0;}
.post-list-small .post-body {width: 70%;}

.post-list-small2 .post-img {width: 60px;padding-right: 0;}

.post-details {margin-bottom: 0;}
.post-details .post-title {margin: 0 0 16px 0;}
.post-details .post-img {margin-bottom: 20px;}
.post-details .data {margin-bottom: 16px;}
.post-details .data a {margin-right: 16px;}
.post-details p {font-size: 15px;line-height: 23px;margin-bottom: 20px; /* text-indent: 2em; */ word-wrap: break-word; text-align: justify;}
.post-details a.source-link {color: #ee4d4d;}
.post-details a.source-link:hover {text-decoration: underline;}

.share {float: left;width: 100%;margin-bottom: 20px;}
.share ul li {margin-bottom: 10px;float: left;}
.share ul li a:hover {opacity: 0.8;}

.tags {float: left;width: 100%;margin-bottom: 30px;}
.tags li {font-weight: bold;font-size: 12px;}
.tags li a {display: block;font-weight: normal;padding: 2px 6px;background: #f2f2f2;border-radius: 3px;}

.block {float: left;width: 100%;}
.block-title {float: left;color: #2b2b2b;text-transform: uppercase;font-weight: bold;font-size: 18px;margin-bottom: 10px;position: relative;width: 100%;}
.block-title.border-bottom {padding-bottom: 8px;margin-bottom: 20px;}
.block-title > .fa,
.block-title > a .fa  {margin-right: 10px;font-size: 20px;}
.block-title.free {background: transparent;color: transparent;width: 100%;}
.block-title.triangle.free:before {display: none;}
.block-title > a {padding: 5px 12px;color: #2b2b2b;margin-left: -12px;margin-right: -12px;}
.block-title > a:hover {color: #777777;}
.block-btns {position: absolute;top: 1px;right: 0;}
.block-btns a {padding: 0;height: 20px;width: 20px;margin: 0 2px !important;background: #d7e1e9;border-radius: 0;color: #FFFFFF;line-height: 15px;font-size: 16px;float: left;text-align: center;}
.block-btns a:hover {background: #FFFFFF;color: #221E4F;}
.block-bordered {border: 1px solid #e7e7e7;padding: 16px;}
.block-bordered h5 {margin-top: 0px;}
.block-poll span {float: left;width: 100%;margin-bottom: 16px;}
.block-poll input {width: 16px;height: 16px;position: absolute;left: 0;top: 0;margin: 0;}
.block-poll label {position: relative;padding-left: 24px;margin-bottom: 12px;width: 100%;}
.block-poll .blue {margin: 6px 0 6px 16px;}
.block-form .block-bordered {border-bottom: 1px solid #E7E7E7 !important;}
.block-form input {margin: 0 0 12px 0;}
.block-form a {font-size: 13px;margin-top: 4px;}

.scrollbox {padding-right:0;}
.scrollbox .nav-tabs {margin-bottom: 16px;width: 92%;float: left;padding-left: 5px;}
.scrollbox .nav-tabs a {font-weight: bold;color: #075896;padding: 3px 15px;}
.scrollbox .slimScrollDiv {padding-right: 20px;}
.slimScrollDiv:before {content: '';position: absolute;top: 0;right: 1px;width: 6px;height: 100%;background: rgba(26, 26, 26, 0.15);}
.slimScrollBar {background: #b3b3b3 !important;width: 6px !important;background: #9E9E9E !important;width: 6px !important;border-radius: 0 !important;}

.advertisement {float: left;width: 100%;}
.advertisement img {float:left;width:100%;}

.market-title {background-color: #211B76;padding: 10px 12px 8px 12px;margin-bottom: 20px;float: left;width: 100%;}
.market-title .logo {float: left;padding: 0;}
.market-title .logo img {width: 125px;}
.market-title a {float: right;color: #FFFFFF;padding: 2px 6px;font-size: 22px;line-height: 17px;}
.market-title a:hover span {text-decoration: underline;}
.market-title a span {font-size: 14px;float: right;margin: 0 0 0 3px;}

.popular-categories ul {margin-bottom: 0;}
.popular-categories ul li a {display: block;}
.popular-categories ul li a:before {content: '';background-image: url(../images/stationary/icons.png);width: 28px;height: 28px;float: left;margin: -6px 10px 0 0;}
.popular-categories a:hover {text-decoration: underline;}
.popular-categories ul.first li:first-child a:before {background-position: 0 3px;}
.popular-categories ul.first li:nth-child(2) a:before {background-position: 0 -31px;}
.popular-categories ul.first li:nth-child(3) a:before {background-position: 0 -67px;}
.popular-categories ul.first li:nth-child(4) a:before {background-position: 0 -102px;}
.popular-categories ul.first li:last-child a:before {background-position: 0 -139px;}

.popular-categories ul.second li:first-child a:before {background-position: -62px 1px;}
.popular-categories ul.second li:nth-child(2) a:before {background-position: -62px -31px;}
.popular-categories ul.second li:nth-child(3) a:before {background-position: -62px -70px;}
.popular-categories ul.second li:nth-child(4) a:before {background-position: -62px -103px;}
.popular-categories ul.second li:last-child a:before {background-position: -62px -139px;}

.popular-categories ul.third li:first-child a:before {background-position: -131px -1px;}
.popular-categories ul.third li:nth-child(2) a:before {background-position: -131px -30px;}
.popular-categories ul.third li:nth-child(3) a:before {background-position: -131px -69px;}
.popular-categories ul.third li:last-child a:before {background-position: -131px -105px;}

.anons_games {float: left;width: 100%;}
.anons_games td {border-color: #FFF;border-style: solid;background: #f2f2f2;padding: 7px 15px;}
.anons_games .title {background: #FFFFFF;padding: 10px 0 0 0;font-weight: bold;}
.anons_games .color_5 {margin-right: 6px;}

.black_tab {border: 0;background: #211B76;padding-right: 7px;}
.black_tab > li {margin: 0;}
.black_tab > li a {border: 0;border-radius: 0;color: #FFFFFF;}
.black_tab > li > a:hover,
.black_tab > li.active > a,
.black_tab > li.focus:hover > a,
.black_tab > li.focus > a {border: 0 !important;background: #120D5F !important;color: #FFFFFF !important;}
.sport-anons .tab-content {display: none;}

.gray_tab {
    margin-bottom: 20px;
    border-bottom: 3px solid #d7e1e9;
    padding-left: 16px;
}
.gray_tab > li {margin: 0;}
.gray_tab > li a {color: #000000;background-color: #f1f5f8;font-weight: 400;text-transform: uppercase;border-radius: 5px 5px 0 0;margin-right: 3px;padding: 10px 8px 4px 8px;
    -webkit-transition: all 0s;
 	   -moz-transition: all 0s;
	    -ms-transition: all 0s;
    	 -o-transition: all 0s;
		    transition: all 0s;
}
.gray_tab > li > a:hover,
.gray_tab > li.active > a,
.gray_tab > li.focus:hover > a,
.gray_tab > li.focus > a {background: #FFFFFF !important;color: #000000 !important;border-bottom: 0;}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {border-bottom: 4px solid white;margin-bottom: -3px;}

.gray_tab_content .post-list {margin-bottom: 30px;}
.gray_tab_content .post:not(.post-list) {position: relative;padding: 12px 0 12px 60px;margin-bottom: 0;}
.gray_tab_content .post:not(.post-list) .post-title {font-size: 15px;font-weight: 500;}
.gray_tab_content .post:not(.post-list) .data {}
.gray_tab_content .post:not(.post-list) .date {position: absolute;top: 14px;left: 8px;width: auto;font-size: 14px;color: #b0b0b0;}

.blue.triangle {background: #908dba;color: #FFFFFF;font-size: 11px;padding: 0px 2px;text-transform: lowercase;position: relative;margin: 0 0 0 10px;float: none;display: inline-block;text-decoration: none;height: 14px;}
.blue.triangle:before {content: '';width: 0;height: 0;border-style: solid;border-width: 7px 7px 7px 0;border-color: transparent #908dba transparent transparent;position: absolute;top: 0;left: -7px;height: 14px;}

.form_subscription label {margin: 10px 0;}

.owl-item .item {padding: 0 8px;}
.kun-market .item {padding: 0;}
.market-slider {position: relative;float: left;width: 100%;}
.market-slider .post {margin-bottom: 0;}
.market-slider .post-title {margin-bottom: 4px;}
.market-slider small {font-size: 11px;}

.market-slider .customNavigation .btn {position: absolute;top: 0;height: 100%;background: rgba(0, 0, 0, 0.4);z-index: 9;width: 30px;}
.market-slider:hover .customNavigation .btn {display: block;}
.market-slider .customNavigation .btn .fa {color: #FFFFFF;font-size: 36px;position: absolute;top: 50%;left: 8px;margin-top: -18px;}
.market-slider .customNavigation .btn.prev {left: 0;}
.market-slider .customNavigation .btn.next {right: 0;}

.main-topic-mobile .block-content > div.col-xs-12 {width: 100%;padding: 0;}
.main-topic-mobile .post {margin-bottom: 0;}
.main-topic-mobile .post-img {position: inherit;float: left;width: 100%;background: #FFFFFF;border: 1px solid #dddddd;border-top: 0;padding: 0;}
.main-topic-mobile .post-category {position: inherit;top: inherit;left: inherit;right: inherit;color: #2C2C2C;padding: 8px 15px;float: left;background: transparent;width: 100%;}

.divider_column_2, .divider_column_3 {float: left;width: 100%;height: 1px;}

.blog {font-size: 90% !important;}
.blog .post-img {border: 1px solid #e7e7e7;}
.blog .post-title {margin-bottom: 5px;}
.blog p {margin-bottom: 5px;}
.blog .fa {margin-right: 5px;}
.post h5 {margin: 0 0 5px 0;font-weight: bold;}
.post h5, .post h5 a {color: #075896;}

.day-themes li {border-bottom: 1px solid #FFFFFF;float: left;width: 100%;}
.day-themes a {display: table;float: left;width: 100%;padding: 10px 12px;text-transform: uppercase;font-size: 14px;font-weight: 400;}
.day-themes a:hover {opacity: 0.8;}
.day-themes li:nth-child(odd) a {background: #908dba;color: #FFFFFF;}
.day-themes li:nth-child(even) a {background: #d8d7df;}
.content {background: #fff;}
.highlighted {background-color: #d8d7df;}

.row.list {margin-left: -14px;margin-right: -14px;}
.row.list > div {padding-left: 14px;padding-right: 14px;}
/* CONTENT end */

/*======================================================
FOOTER
======================================================*/
.footer {background: #f1f5f8;float: left;width: 100%;color: #444444;padding: 20px 0;}
.footer-links {padding: 10px 0;}
.footer-links a {color: #444444;margin-right: 10px;font-weight: 400;}
.footer-links a:hover {text-decoration: underline;}
.footer-hr {border-top: 1px solid #d7e1e9;margin: 10px 0 20px 0;}
.footer-socials li {padding: 0 1px;}
.footer-socials li:first-child {padding: 10px 10px 10px 0 !important;float: left;color: #a5a5a5;font-weight: 400;}
.footer-socials a {display: block;float: left;width: 35px;height: 35px;border-radius: 50%;text-align: center;font-size: 18px;padding: 6px 0;color: #FFFFFF;background: #828282;line-height: 25px;}
.footer-socials a.facebook {background: #346fb5;}
.footer-socials a.twitter {background: #26a9db;}
.footer-socials a.instagram {background: #5380a4;}
.footer-socials a.odnoklassniki {background: #ED812B;}
.footer-socials a.youtube {background: #C52F30;}
.footer-socials a.telegram {background: #5498CF;}
.footer-socials a:hover {background: #828282;}
.footer-logo {display: block;margin: 5px 0;width: 130px;}
.footer-logo img {width: 100%;}
.footer .list-inline > li {padding-left: 2px;padding-right: 2px;}
.copyright {font-size: 13px;}
/*.text-error {margin: -10px 0;}*/
/* FOOTER end */
.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 8%;
    right: 20px;
    display:none;
    z-index: 99999;
    color:#337ab7;
    border-color: #2e6da4;
    border-width: 0px;
    font-size: 2.5em;
}

.text-white{
    color: #fff;
}

.product-box {

    display:inline-block;
    position:relative;
}
.caption-image {
    position: absolute;
    background-color: rgba(15, 15, 15, 0.38);
    color: #fff;
    bottom: 0px;
    text-align: left;
    padding: 5px;
    width:100%;
    font-size: 12px;
    font-style: italic;
}
.urun-title {
    position: absolute;
    bottom: 80px;
    text-align: left;
    z-index: 15;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #fff;
    padding-left: 20px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    background-color: rgba(194, 0, 0, 0.93);
    width: 100%;
}
.click-arrow-right {
    position: absolute;
    z-index: 16;
    color: #fff;
    font-size: 10px;
    bottom: 0px;
    right: 33px;
}

.urun-title {
    width:100%;

}

figure {
    background: rgba(0, 0, 0, 0.05) none repeat scroll 0 0;
    border: 1px solid #ccc;
    border-radius: 2px;
    display: inline-block;
    margin: 10px 20px;
    padding: 10px;
    text-align: center;
}



.cke_widget_editable {
    cursor: text;
}
figure > figcaption {
    display: block;
    text-align: center;
    font-size: 14px;
    font-style: italic;
}


.comment-modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}
.comment-modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}
.comment-modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    z-index: 10001;
}
.comment-modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
}
.comment-modal-backdrop.fade {
    filter: alpha(opacity=0);
    opacity: 0;
}
.comment-modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .5;
}
.comment-comment-modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}
.comment-modal-header .close {
    margin-top: -2px;
}
.comment-modal-title {
    margin: 0;
    line-height: 1.42857143;
}
.comment-modal-body {
    position: relative;
    padding: 15px;
}
.comment-modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}
.comment-modal-footer .btn + .btn {
    margin-bottom: 0;
    margin-left: 5px;
}
.comment-modal-footer .btn-group .btn + .btn {
    margin-left: -1px;
}
.comment-modal-footer .btn-block + .btn-block {
    margin-left: 0;
}
.comment-modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
}


.featured_dropcap {
    float: left;
    margin-top: 10px;
}
.fa.dropcaps_icon {
    font-size: 24px !important;
    line-height: 24px !important;
}
.dropcaps_icon {
    background-color: #34b1c4;
    border: 1px solid #34b1c4;
    border-radius: 50%;
    color: #fff;
    float: left;
    margin: 0 25px 15px 0;
    padding: 12px;
    position: relative;
    text-align: center;
    transition: all 0.5s ease-in-out 0s;
}

/* menu btn */


.btn-warning,
.btn-warning.disabled {
    color: #FFF !important;
    background: #fec107;
    border: 1px solid #fec107;
}
.btn-warning:hover,
.btn-warning.disabled:hover,
.btn-warning:focus,
.btn-warning.disabled:focus,
.btn-warning.focus,
.btn-warning.disabled.focus {
    background: #fec107;
    opacity: 0.8;
    border: 1px solid #fec107;
}

.btn-rounded {
    border-radius: 60px;
}

.btnitemmenu{
    padding:6px 12px 6px 12px !important
}
.btnmenu{
    padding-top: 7px;
}

.btnmenu a.btnitemmenu {
    background: #ffda47;
    background: -moz-linear-gradient(top,  #ffda47 0%, #ffdc60 47%, #faa819 100%);
    background: -webkit-linear-gradient(top,  #ffda47 0%,#ffdc60 47%,#faa819 100%);
    background: linear-gradient(to bottom,  #ffda47 0%,#ffdc60 47%,#faa819 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffda47', endColorstr='#faa819',GradientType=0 );
    color: #000 !important;
}
.telegram_invite{
    background-color: #2CA5E0;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0pt;
    padding: 1em;
}
.telegram_invite a{
    margin-top: 20px;
    margin-bottom: 20px;
    color: #e6e6e6;
}
.blod_blue{
    color: #1124F9;
}

#body_news a{
    color: #1124F9;
    font-weight: bold;
}
figcaption{
    margin-top:10px;
}