html { font-size: 62.5%; }
body { font-size: 13px; font-size: 1.3rem; }

select, input, button, textarea, button { font-size: 0.99rem; }

table {
	font-size:inherit;
	font-size: 1rem;
}

pre, code, kbd, samp, tt {
	font-family:monospace;
	line-height:100%;
}