
/* ------------------------------------------------------------

	トップページ

------------------------------------------------------------ */

body {
	font-family :'ＭＳ Ｐゴシック',sans-serif;
	color:#333;
	line-height:1.5;
	background: url(/top/_img/bg_a.png) repeat-x left top;
	margin: 0;
	padding: 0;
	-webkit-text-size-adjust: 100%;
	min-width: 1128px;
}

/* ----- link color ----- */
a { color: #06a; }
/*a:hover { color: #0cac30; }*/
a:hover { color: #268300; }
a:hover { color: #098825; }



strong { font-weight: bold; }

#wrapper {
	margin: 0;
	padding: 0;
	position: relative;
}

#wrapper img { vertical-align: top; }

#contents {
	padding: 0;
	margin: 0 auto;
	width: 1128px;
	position: relative;
}

#contentsBody {
	margin: 0 auto;
	padding: 0 30px;
	width: 1068px;
	overflow: hidden;
}

#contentsBody:after{ content : ''; display : block; clear : both; }


/* ----- page top button ----- */
#pagetop {
	position: fixed;
	bottom: 25px;
	cursor: pointer;
}

#pagetop a { display: block; }
#pagetop a:focus { outline: solid; }

#pagetop img {
	display: block;
	width: auto;
	vertical-align: top;
}



/* ------------------------------------------------------------

	左カラム

------------------------------------------------------------ */
#leftCol {
	width: 252px;
	float: left;
}

#leftCol > .content {
	background-color: #fff;
	width: 238px;
	margin: 0 6px;
	border: 1px solid #d3d3d3;
	border-bottom: none;
	border-top: none;
}

#leftCol h1 {
	text-align: center;
	padding: 20px 0;
}



/* - クイックメニュー
--------------------------------------------------*/
#quick_menu {
	margin-top: 10px;
	position: relative;
}

#quick_menu > h2 {
	position: absolute;
	top: 0;
	left: -7px;
}

#quick_menu .content {
	width: 238px;
	margin: 0 auto;
	padding-top: 40px;
}

#quick_menu .content {  }
#quick_menu .content:after{ content : ''; display : block; clear : both; }

#quick_menu .content ul {
	width: 242px;
	margin-right: -4px;
}

#quick_menu .content ul:after{ content : ''; display : block; clear : both; }

#quick_menu .content ul li {
	width: 118px;
	height: 89px;
	border-right: 1px solid #d3d3d3;
	border-bottom: 1px solid #d3d3d3;
	float: left;
}

#quick_menu .content ul li#q_menu2,
#quick_menu .content ul li#q_menu4,
#quick_menu .content ul li#q_menu6,
#quick_menu .content ul li#q_menu8 {
	border-right: none;
	padding-right: 1px;
}

#quick_menu .content ul li a {
	display: block;
	width: 118px;
	height: 89px;
}

#quick_menu .content ul li a img { vertical-align: top; }

#quick_menu .content ul li#horse_search {
	clear: both;
	border: none;
	
	margin: 0;
	padding: 0;
	
	width: 180px;
	height: auto;
	
	padding-left: 58px;
	padding-top: 15px;
	padding-bottom: 30px;
	background: url(/top/quick_menu/img/icon_menu.png) no-repeat -944px top;
	
	padding-bottom: 20px;
}


/* ----- 競走馬検索 ----- */
#quick_menu .content ul li#horse_search {  }
#quick_menu .content ul li#horse_search:after{ content : ''; display : block; clear : both; }

#quick_menu .content ul li#horse_search label { margin-bottom: 6px; }
#quick_menu .content ul li#horse_search label img { vertical-align: top; }


#quick_menu .content ul li#horse_search a {
	background: none;
	
	width: auto;
	height: auto;
	background: none;
	text-indent: 0;
	
	width: 34px;
	height: 20px;
	height: auto;
	display: block;
	float: right;
	margin-right: 12px;
}

#quick_menu .content ul li#horse_search div.option { display: none; }

input#iv_h_name {
	background-color: #fff;
	border: 1px solid #d3d3d3;
	font-size: 93%;
	font-size: 1.2rem;
	line-height: 1.4;
	width: 125px;
	height: 18px;
}



/* - 電投メニュー
--------------------------------------------------*/

#dento_menu { position: relative; }

#dento_menu > h2 {
	position: absolute;
	top: 0;
	left: -7px;
}

#dento_menu > .content {
	width: 238px;
	margin: 0 auto;
	padding-top: 40px;
}

#dento_menu .content img { vertical-align: top; }

#dento_menu .content ul.login_list { margin-top: 15px; }

#dento_menu .content ul.login_list li {
	width: 210px;
	margin: 0 auto;
	margin-bottom: 15px;
}

#dento_menu .content ul.login_list li a {
	display: block;
	margin: 0 auto;
}

#dento_menu .content ul.login_list li img { vertical-align: top; }

#dento_menu .content ul.login_list li.help {  }

#dento_menu .content ul.login_list li.help > a {
	display: block;
	text-decoration: none;
	color: #444;
	border-radius: 3px;
	padding: 5px;
	font-size: 1.2rem;
	font-weight: bold;
	text-align: center;
	background-color: #f7f7f7;
	border: 1px solid #ddd;
}

#dento_menu .content ul.login_list li.help > a i {
	margin-right: 0.3em;
	font-size: 1.4rem;
	color: #09b827;
}

#dento_menu .content ul.menu_list {
	width: 242px;
	margin-right: -4px;
}

#dento_menu .content ul.menu_list.bottom {
	width: 242px;
	margin-right: -4px;
}

#dento_menu .content ul.menu_list:after{ content : ''; display : block; clear : both; }

#dento_menu .content ul.menu_list li {
	width: 118px;
	height: 100px;
	border-right: 1px solid #d3d3d3;
	border-bottom: 1px solid #d3d3d3;
	float: left;
}

#dento_menu .content ul.menu_list li#dento_menu2,
#dento_menu .content ul.menu_list li#dento_menu4,
#dento_menu .content ul.menu_list li#dento_menu6 {
	border-right: none;
	padding-right: 1px;
}

#dento_menu .content ul.menu_list li#dento_menu3,
#dento_menu .content ul.menu_list li#dento_menu4 {
	border-top: 1px solid #d3d3d3;
}

#dento_menu .content ul.menu_list li a {
	display: block;
	width: 118px;
	height: 100px;
}

#dento_menu .content ul.menu_list li a img { vertical-align: top; }


/* --- 海外発売バナー --- */
#overseas_banner {
	margin-bottom: 15px;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	padding: 0;
	background-color: #0069a7;
}

#overseas_banner a {
	display: block;
	text-align: center;
	padding: 2px 0;
}

#overseas_banner a img { vertical-align: top; }



/* - カスタマイズメニュー
--------------------------------------------------*/

/* ----- 設定ボタン ----- */
#customBtn {
	width: 240px;
	margin: 0 auto;
	margin-top: 24px;
}

/* ------ カスタマイズメニューボディ ----- */
#customBody {
	width: 240px;
	margin: 0 auto;
	margin-top: 5px;
	margin-bottom: 20px;
	border-top: 1px dotted #ccc;
}

#customBody .content {
	width: 210px;
	margin: 0 auto;
	margin-top: 15px;
}

#customizeBlock {
	border-top: 1px dotted #ccc;
	width: 238px;
	margin: 0 auto;
	margin-top: 6px;
}

#customizeBlock > h2 {
	margin-top: 15px;
	display: none;
}

#customizeBlock > h2 img {
	vertical-align: top;
	margin: 0 auto;
	display: block;
}

#customizeBlock.off {
	display: none;
	border: none;
}

#customMenuList {
	padding: 0 14px;
	padding-bottom: 4px;
	margin-top: 10px;
}

#customMenuList li { margin-bottom: 10px; }

#customMenuList li a {
	display: block;
	padding: 6px 14px;
	padding-left: 12px;
	padding-right: 4px;
	background: #f7f7f7 url(/top/_img/arrow_gr.png) no-repeat 5px center;
	border: 1px solid #e0e0e0;
	font-size: 93%;
	font-size: 1.2rem;
	text-decoration: none;
	color: #06a;
}

#customMenuList li a:hover {
	background-color: #ecf1e9;
	color: #555;
}




/* ------------------------------------------------------------

	右カラム

------------------------------------------------------------ */
#rightCol {
	width: 776px;
	padding-right: 6px;
	float: right;
}


/* - ヘッダー
------------------------------------------------------------ */
#header {
	position: relative;
	z-index: 800;
}

#header img { vertical-align: top; }


/* ----- ヘッダーPRエリア（キャリーオーバー） ------ */
#header_pr_area {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 30;
	
	width: 318px;
}

/* ----- ヘッダーサブメニュー（ENGLISH・お問い合わせ／FAQ・サイトマップ） ------ */
#header_utility {
	width: 454px;
	padding-left: 322px;
	height: 31px;
	padding-top: 16px;
	overflow: hidden;
}

#header_utility:after { content : ''; display : block; clear : both; }

#header_utility > .utility_menu {
	float: left;
	margin-left: 7px;
}

#header_utility > .utility_menu ul {  }
#header_utility > .utility_menu ul:after{ content : ''; display : block; clear : both; }

#header_utility > .utility_menu ul li { float: left; }
#header_utility > .utility_menu ul li > a { display: block; }
#header_utility > .utility_menu ul li > a:focus { outline: solid; }

#header_utility > .utility_menu ul li > a img {
	vertical-align: top;
	max-height: 20px;
}

#header_utility > .search_box { float: right; }


/* ----- サイト内検索 ------ */
.search_box { overflow: hidden; }
.search_box:after{ content : ''; display : block; clear : both; }

#textfield {
	width: 118px;
	height: 18px;
	font-size: 93%;
	font-size: 1.2rem;
	border: none;
	border: 1px solid #ddd;
	float: left;
}

#searchBtn { margin-left: 5px; }
/*#searchBtn:focus {  }*/


/* - ヘッダー＞グローバルメニュー
------------------------------------------------------------ */
#global_menu {
	margin: 0;
	padding: 0;
}

#global_menu:after{ content : ''; display : block; clear : both; }

#global_menu a:focus { outline: solid; }

#global_menu > ul {  }

#global_menu > ul > li {
	float: left;
	position: relative;
	margin: 0;
	padding: 0;
	z-index: 600;
}

#global_menu > ul > li > a {
	display: block;
	height: 43px;
	position: relative;
}

#global_menu > ul > li > a img {
	vertical-align: top;
	max-height: 43px;
}

/* --- current arrow --- */
#global_menu > ul > li > a span.icon {
	display: none;
	
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	font-size: 1.4rem;
	color: #fff;
	line-height: 1;
}

#global_menu > ul > li > a:hover span.icon,
#global_menu > ul > li > a:focus span.icon {
	display: block;
}


#global_menu > ul > li > ul {
	background-color: #ecf1e9;
	position: absolute;
	left: 0;
	left: -1px;
	
	border-left: 1px solid #c3cabf;
	border-right: 1px solid #c3cabf;
	
	width: 200px;
	visibility: hidden;
}

#global_menu > ul > li#menu6 > ul { left: -89px; }

#global_menu > ul > li:hover > ul {
	top:43px;
	border-bottom: 1px solid #c3cabf;
	visibility: visible;
}

/* --- タブフォーカス時 --- */
#global_menu > ul > li > ul.focused {
	top:43px;
	border-bottom: 1px solid #c3cabf;
	visibility: visible;
}

#global_menu > ul > li > ul > li {
	margin: 0;
	border: 0;
	width: 200px;
	font-size: 93%;
	border-top: 1px dotted #c3cabf;
	background-color: #ecf2e9;
}

#global_menu > ul > li > ul > li:first-child { border-top: none; }

#global_menu > ul > li > ul > li > a {
	margin: 0;
	display: block;
	
	padding: 5px 12px;
	padding-left: 16px;
	padding-right: 8px;
	
	background: #ecf1e9 url(/top/_img/arrow_gr.png) no-repeat;
	background-position: 8px center;
	
	display: block;
	text-decoration: none;
	color: #555;
	line-height: 1.5;
}

#global_menu > ul > li:hover > ul > li > a { background-position: 8px center; }

#global_menu > ul > li > ul > li > a:hover {
	text-decoration: underline;
    color: #017E1E;
}

/* ----- 第２階層サブメニュー ----- */
#global_menu > ul > li > ul > li.subMenu { text-indent: 10px; }
#global_menu > ul > li > ul > li.subMenu > a { background-position: 18px center; }
#global_menu > ul > li:hover > ul > li.subMenu > a { background-position: 18px center; }




/* - 右カラム - contents unit
------------------------------------------------------------ */
.contents_unit {
	margin-top: 32px;
	width: 776px;
}

.contents_unit h2 {
	border-top: 4px solid #1fab37;
	border-bottom: 1px solid #e1e1e1;
	
	font-size: 108%;
	font-size: 1.4rem;
	height: 39px;
	line-height: 39px;
	font-weight: bold;
	color: #555;
	padding: 0 12px;
	overflow: hidden;
}


/* - 緊急のお知らせ
------------------------------------------------------------ */
#emergency {
	margin-top: 32px;
	border: 1px solid #edbdbd;
}

#emergency .content {
	padding: 10px 15px;
	font-size: 14px;
	color: #e20000;
	padding-bottom: 4px;
}

#emergency .content ul { }

#emergency .content ul li {
	line-height: 1.5;
	margin-bottom: 6px;
}

#emergency .content a {
	text-decoration: none;
	background: url(/top/emergency/img/icon_arrow.png) no-repeat left center;
	padding-left: 8px;
}

#emergency .content a:hover { color: #333; }




/* ------------------------------------------------------------

	ブランドエリア + 今週の開催競馬場・注目レースエリア

------------------------------------------------------------ */
#top_area {
	margin-top: 32px;
	width: 776px;
	overflow:hidden;
}

#top_area:after{ content : ''; display : block; clear : both; }


/* - ブランドエリア
------------------------------------------------------------ */
#main_visual {
	width: 480px;
	height: 270px;
	float: left;
	position: relative;
}

#main_visual img { vertical-align: top; }

#main_visual ul.img { position: relative; }

#main_visual ul.img > li {
	position: absolute;
	left: 0;
	top: 0;
}

#main_visual ul.img > li a { display: block; }
#main_visual ul.img > li img { vertical-align: top; }


/* --- 一時停止／再生 --- */
#main_visual div.control {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 10;
}

#main_visual div.control > div.btns {
	padding: 0;
	overflow:hidden;
}

#main_visual div.control > div.btns:after{ content : ''; display : block; clear : both; }

#main_visual div.control > div.btns > div.btn_wrap {
    display: table;
    float: right;
    background-color: rgba(0,0,0,1);
	background-color: #222;
}

#main_visual div.control > div.btns > div.btn_wrap > div {
    display: table-cell;
	vertical-align: middle;
}

#main_visual div.control > div.btns > div.btn_wrap > div.title {
    padding-right: 8px;
	padding-left: 8px;
	line-height: 1;
}

#main_visual div.control > div.btns > div.btn_wrap > div.title > p {
    color: #fff;
	font-weight: bold;
	text-align: center;
	line-height: 1;
	font-size: 1.0rem;
}

#main_visual div.control > div.btns > div.btn_wrap > div.body {
    padding: 4px;
}

#main_visual div.control > div.btns > div.btn_wrap > div.body > ul {
	display: table;
	margin: 0 auto;
}

#main_visual div.control > div.btns > div.btn_wrap > div.body > ul > li {
	display: table-cell;
	vertical-align: middle;
	padding: 0 4px;
	padding: 0;
}

#main_visual div.control > div.btns > div.btn_wrap > div.body > ul > li:first-child {
	padding-right: 4px;
}

#main_visual div.control > div.btns > div.btn_wrap > div.body > ul > li > a {
	display: block;
	font-weight: bold;
	text-decoration: none;
	padding: 4px 10px;
	background-color: #e7e7e7;
	border-radius: 4px;
	font-size: 1.2rem;
	line-height: 1;
	border: 1px dotted #ddd;
	
	font-size: 1.0rem;
	padding: 2px 4px;
	border-radius: 3px;
	line-height: 1.2;
}

#main_visual div.control > div.btns > div.btn_wrap > div.body > ul > li.current > a {
	color: #fff;
	font-weight: bold;
	background-color: #268300;
	border: 1px solid #268300;
}


/* ------------------------------------------------------------

	今週の開催競馬場・注目レース

------------------------------------------------------------ */

/* - 開催競馬場
-------------------------------------------------- */
#kaisai_area {
	width: 280px;
	float: right;
}

#kaisai_area h2 { margin-bottom:4px; }
#kaisai_area h2 > a { display: block; }
#kaisai_area h2 img { vertical-align: top; }

#kaisai_area .kaisai_unit {
	width: 278px;
	margin-bottom: 10px;
	margin-bottom: 6px;
	border: 1px solid #ddd;
	overflow:hidden;
}

#kaisai_area .kaisai_unit:after{ content : ''; display : block; clear : both; }

#kaisai_area .kaisai_unit.unitC { margin-bottom: 0; }

#kaisai_area .kaisai_icon {
	float: left;
	width: 36px;
	position: relative;
	width: 32px;
	height: 64px;
}

#kaisai_area .kaisai_icon > img { margin-top: 24px; }

#kaisai_area .kaisai_unit.unitA .kaisai_icon {
	background: url(/top/kaisai/img/bg_label_a.png) no-repeat right bottom;
	border: 2px solid #4799e5;
}

#kaisai_area .kaisai_unit.unitB .kaisai_icon {
	background: url(/top/kaisai/img/bg_label_b.png) no-repeat right bottom;
	border: 2px solid #33bd75;
}

#kaisai_area .kaisai_unit.unitC .kaisai_icon {
	background: url(/top/kaisai/img/bg_label_c.png) no-repeat right bottom;
	border: 2px solid #ee615e;
}


#kaisai_area .race_list {
	float: right;
	width: 242px;
}

#kaisai_area .race_list ul { font-size: 0; }

#kaisai_area .race_list ul li {
	padding: 2px 5px;
	padding-left: 0;
	padding-right: 24px;
	width: 218px;
	overflow: hidden;
	height: 20px;
	line-height: 20px;
	
	border-top: 1px dotted #ddd;
}

#kaisai_area .race_list ul li:first-child { border-top: none; }


/* ----- 開催日イベント ----- */
#kaisai_area .race_list ul li.event {
	font-size: 10px;
	padding: 0;
	width: auto;
	height: 19px;
	border-top: none;
}

#kaisai_area .race_list ul li.event a {
	text-decoration: none;
	font-weight: bold;
	display: block;
	height: 19px;
}


.unitA .race_list ul li.event {	background-color: #d1e6f8; }
.unitB .race_list ul li.event { background-color: #cceedd; }
.unitC .race_list ul li.event { background-color: #fad7d7; }


/* --- mouse hover / focus color --- */
/*#kaisai_area .race_list ul li.event a:hover { background-color: #eee; }*/


/* ----- GRADE icons ----- */
#kaisai_area .race_list ul li.g0 { background: url(/top/kaisai/img/icon_g0.png) no-repeat 219px center; }
#kaisai_area .race_list ul li.g1 { background: url(/top/kaisai/img/icon_g1.png) no-repeat 219px center; }
#kaisai_area .race_list ul li.g2 { background: url(/top/kaisai/img/icon_g2.png) no-repeat 219px center; }
#kaisai_area .race_list ul li.g3 { background: url(/top/kaisai/img/icon_g3.png) no-repeat 219px center; }
#kaisai_area .race_list ul li.jg1 { background: url(/top/kaisai/img/icon_jg1.png) no-repeat 219px center; }
#kaisai_area .race_list ul li.gn { background: url(/top/kaisai/img/icon_gn.png) no-repeat 219px center; }


/* ----- date ----- */
#kaisai_area .race_list ul li .date {
	display: inline-block;
	line-height: 1.4;
	text-align: right;
	vertical-align: middle;
	font-size: 10px;
	border-right: 1px dotted #ddd;
	margin-left: 0;
	padding-right: 5px;
	width: 58px;
}

#kaisai_area .race_list ul li .date p {
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: #555;
	font-size: 10px;
	font-size: 1.0rem;
	line-height: 18px;
}


#kaisai_area .race_list ul li .date p > span {
	display: inline;
	font-weight: bold;
	font-size: 10px;
	font-size: 1.0rem;
	margin-left: 2px;
	line-height: 18px;
	letter-spacing: -0.1em;
}


/* ----- 土日カラー ----- */
#kaisai_area .race_list ul li .date p > span.sat { color: #526be7; }
#kaisai_area .race_list ul li .date p > span.sun { color: #d83b2e; }


/* ----- Race Line ----- */
#kaisai_area .race_list ul li .race {
	display: inline-block;
	font-size: 12px;
	font-size: 1.2rem;
	vertical-align: middle;
	margin-left: 6px;
	font-weight: bold;
	height: auto;
	width: 146px;
}

#kaisai_area .race_list ul li .race a {
	text-decoration: none;
	display: block;
}

#kaisai_area .race_list ul li .race a:hover {
	text-decoration: underline;
}


/* ----- 開催中止 ----- */
#kaisai_area .race_list ul li.stop,
#kaisai_area .race_list ul li.stop1,
#kaisai_area .race_list ul li.stop2,
#kaisai_area .race_list ul li.stop3,
#kaisai_area .race_list ul li.stop4,
#kaisai_area .race_list ul li.stop5,
#kaisai_area .race_list ul li.stop6,
#kaisai_area .race_list ul li.stop7 {
	background-color: #b7b7b7;
	background-color: #cacaca;
}

/* -- 土曜日 -- */
#kaisai_area .race_list ul li.stop .date p > span.sat,
#kaisai_area .race_list ul li.stop1 .date p > span.sat,
#kaisai_area .race_list ul li.stop2 .date p > span.sat,
#kaisai_area .race_list ul li.stop3 .date p > span.sat,
#kaisai_area .race_list ul li.stop4 .date p > span.sat,
#kaisai_area .race_list ul li.stop5 .date p > span.sat,
#kaisai_area .race_list ul li.stop6 .date p > span.sat,
#kaisai_area .race_list ul li.stop7 .date p > span.sat { color: #2F48C0; }

/* -- 日曜日 -- */
#kaisai_area .race_list ul li.stop .date p > span.sun,
#kaisai_area .race_list ul li.stop1 .date p > span.sun,
#kaisai_area .race_list ul li.stop2 .date p > span.sun,
#kaisai_area .race_list ul li.stop3 .date p > span.sun,
#kaisai_area .race_list ul li.stop4 .date p > span.sun,
#kaisai_area .race_list ul li.stop5 .date p > span.sun,
#kaisai_area .race_list ul li.stop6 .date p > span.sun,
#kaisai_area .race_list ul li.stop7 .date p > span.sun { color: #ad0e01; }


#kaisai_area .race_list ul li.stop .race {
	background: #cacaca url(/top/kaisai/img/bg_icon_stop.png) no-repeat left center;
}


#kaisai_area .race_list ul li.stop1 .race { background: #cacaca url(/top/kaisai/img/bg_icon_stop1.png) no-repeat left center; }
#kaisai_area .race_list ul li.stop2 .race { background: #cacaca url(/top/kaisai/img/bg_icon_stop2.png) no-repeat left center; }
#kaisai_area .race_list ul li.stop3 .race { background: #cacaca url(/top/kaisai/img/bg_icon_stop3.png) no-repeat left center; }
#kaisai_area .race_list ul li.stop4 .race { background: #cacaca url(/top/kaisai/img/bg_icon_stop4.png) no-repeat left center; }
#kaisai_area .race_list ul li.stop5 .race { background: #cacaca url(/top/kaisai/img/bg_icon_stop5.png) no-repeat left center; }
#kaisai_area .race_list ul li.stop6 .race { background: #cacaca url(/top/kaisai/img/bg_icon_stop6.png) no-repeat left center; }
#kaisai_area .race_list ul li.stop7 .race { background: #cacaca url(/top/kaisai/img/bg_icon_stop7.png) no-repeat left center; }

/* --- 20151028追加 --- */
#kaisai_area .race_list ul li.stop .race,
#kaisai_area .race_list ul li.stop1 .race,
#kaisai_area .race_list ul li.stop2 .race,
#kaisai_area .race_list ul li.stop3 .race,
#kaisai_area .race_list ul li.stop4 .race,
#kaisai_area .race_list ul li.stop5 .race,
#kaisai_area .race_list ul li.stop6 .race,
#kaisai_area .race_list ul li.stop7 .race {
	text-indent: -900%;
	overflow: hidden;
}



/* ----- レース一覧リンク ----- */
#race_list_link {
	background-color: #999;
	margin-top: 4px;
	height: 14px;
	padding: 2px 0;
	overflow:hidden;
	background-color: #767676;
}

#race_list_link:after{ content : ''; display : block; clear : both; }

#race_list_link h3 {
	width: 62px;
	text-align: center;
	float: left;
}

#race_list_link h3 img { vertical-align: top; }

#race_list_link .content {
	float: right;
	overflow:hidden;
}

#race_list_link .content:after{ content : ''; display : block; clear : both; }

#race_list_link .content ul { overflow:hidden; }
#race_list_link .content ul:after{ content : ''; display : block; clear : both; }

#race_list_link .content ul li {
	float: left;
	margin-right: 2px;
}

#race_list_link .content ul li a {
	display: block;
	width: 107px;
	background-color: #d7d7d7;
	color: #555;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	font-size: 1.0rem;
	height: 14px;
	line-height: 1.4rem;
	vertical-align: middle;
}

#race_list_link .content ul li a:hover { color: #0cac30; }

#race_list_link .content ul li a:hover {
	color: #fff;
	background-color: #fff;
	color: #333;
}



/* ----- レース一覧３日間開催 ----- */
#race_list_link .content ul.divide3 { }
#race_list_link .content ul.divide3 li a { width: 70px; }


/* ----- レース一覧１日間開催 ----- */
#race_list_link .content ul.divide1 { }
#race_list_link .content ul.divide1 li { float:none; }
#race_list_link .content ul.divide1 li a { width: 216px; }



/* - ２場開催
-------------------------------------------------- */

#kaisai_area.stage2 h2 { margin-bottom: 0; }

#kaisai_area.stage2 .kaisai_unit { margin-bottom: 20px; }
#kaisai_area.stage2 .kaisai_unit.unitA { margin-top: 14px; }
#kaisai_area.stage2 .kaisai_unit.unitB { margin-bottom: 0; }

#kaisai_area.stage2 .kaisai_icon { height: 84px; }
#kaisai_area.stage2 .kaisai_icon img { margin-top: 34px; }

#kaisai_area.stage2 .kaisai_unit.unitA .kaisai_icon {
	background: url(/top/kaisai/img/bg_label_a.png) no-repeat right bottom;
	border: 2px solid #4799e5;
}

#kaisai_area.stage2 .kaisai_unit.unitB .kaisai_icon {
	background: url(/top/kaisai/img/bg_label_b.png) no-repeat right bottom;
	border: 2px solid #33bd75;
}

#kaisai_area.stage2 .race_list ul li {
	padding: 2px 5px;
	padding-left: 0;
	padding-right: 24px;
	width: 218px;
	overflow: hidden;
	
	height: 30px;
	line-height: 30px;
}

/* ----- 開催日イベント ----- */
#kaisai_area.stage2 .race_list ul li.event {
	padding: 0;
	width: auto;
	height: 19px;
	border-top: none;
}

#kaisai_area.stage2 .race_list ul li.event a {
	height: 19px;
	padding: 0;
}

/* ----- grade icon ----- */
#kaisai_area.stage2 .race_list ul li.g0 { background-position: 216px center; }
#kaisai_area.stage2 .race_list ul li.g1 { background-position: 216px center; }
#kaisai_area.stage2 .race_list ul li.g2 { background-position: 216px center; }
#kaisai_area.stage2 .race_list ul li.g3 { background-position: 216px center; }
#kaisai_area.stage2 .race_list ul li.jg1 { background-position: 216px center; }

/* ----- 日付 ----- */
#kaisai_area.stage2 .race_list ul li .date p { line-height: 30px; }
#kaisai_area.stage2 .race_list ul li .date p > span { line-height: 30px; }

/* ----- レース一覧リンク ----- */
#kaisai_area.stage2 #race_list_link { margin-top: 16px; }



/* - ２場＆３日間開催
-------------------------------------------------- */

#kaisai_area.stage2.day3 .kaisai_unit.unitA {
	margin-top: 14px;
	margin-bottom: 14px;
}

#kaisai_area.stage2.day3 .kaisai_icon { height: 89px; }
#kaisai_area.stage2.day3 .kaisai_icon img { margin-top: 37px; }

#kaisai_area.stage2.day3 .race_list ul li {
	padding: 2px 5px;
	padding-left: 0;
	padding-right: 24px;
	width: 218px;
	overflow: hidden;
	
	height: 20px;
	line-height: 20px;
	border-top: 1px dotted #ddd;
}

#kaisai_area.stage2.day3 .race_list ul li:first-child { border-top: none; }

#kaisai_area.stage2.day3 .race_list ul li .date p { line-height: 20px; }
#kaisai_area.stage2.day3 .race_list ul li .date p > span { line-height: 20px; }


/* ----- grade icon ----- */
#kaisai_area.stage2.day3 .race_list ul li.g0 { background-position: 219px center; }
#kaisai_area.stage2.day3 .race_list ul li.g1 { background-position: 219px center; }
#kaisai_area.stage2.day3 .race_list ul li.g2 { background-position: 219px center; }
#kaisai_area.stage2.day3 .race_list ul li.g3 { background-position: 219px center; }
#kaisai_area.stage2.day3 .race_list ul li.jg1 { background-position: 219px center; }


/* ----- 開催日イベント ----- */
#kaisai_area.stage2.day3 .race_list ul li.event {
	padding: 0;
	width: auto;
	height: 19px;
	border-top: none;
}

#kaisai_area.stage2.day3 .race_list ul li.event a {
	height: 19px;
	padding: 0;
}

/* ----- レース一覧リンク ----- */
#kaisai_area.stage2.day3 #race_list_link { margin-top: 12px; }



/* ------------------------------------------------------------

	ピックアップエリア

------------------------------------------------------------ */

#pickup { margin-top: 24px; }

#pickup .arrow {
	width: 24px;
	height: 60px;
}

#pickup .arrow img { display: block; }

#pickup .content {
	margin-top: 16px;
	background-color: #f7f7f7;
	border: 1px solid #e0e0e0;
	padding: 16px 24px;
	position: relative;
}

#pickup .content .arrow {
	position: absolute;
	top: 50%;
	width: 32px;
	height: 120px;
	margin-top: -60px;
}

#pickup .content .arrow > a {
	display: block;
	width: 32px;
	height: 120px;
}

#pickup .content .arrow img {
	display: block;
	vertical-align: top;
	cursor: pointer;
}

#pickup .content .arrow img.hide { display: none; }

#left_arrow {
	background: url(/top/pickup/img/btn_left-arrow.png) no-repeat;
	left: -20px;
}

#right_arrow {
	background: url(/top/pickup/img/btn_right-arrow.png) no-repeat;
	right: -20px;
}

#pickup .content .pick_body {
	overflow: hidden;
	position: relative;
}


/* - ピックアップ 設定変更（一時停止／再開）
------------------------------------------------------------ */
#pickup .content > div.control {
	position: absolute;
	right: 4px;
	top: -47px;
}

#pickup .content > div.control.hide { display: none; }

#pickup .content > div.control > div.control_wrap { display: table; }

#pickup .content > div.control > div.control_wrap > div {
	display: table-cell;
	vertical-align: middle;
}

#pickup .content > div.control > div.control_wrap > div.title {
	padding-right: 5px;
	line-height: 1;
}

#pickup .content > div.control > div.control_wrap > div.title > p {
    font-size: 1.1rem;
	line-height: 1;
	font-weight: bold;
}


#pickup .content > div.control > div.control_wrap > div.body {  }
#pickup .content > div.control > div.control_wrap > div.body > div.btns {  }

#pickup .content > div.control > div.control_wrap > div.body > div.btns > ul { display: table; }

#pickup .content > div.control > div.control_wrap > div.body > div.btns > ul > li {
    display: table-cell;
	vertical-align: middle;
	padding-left: 5px;
}

#pickup .content > div.control > div.control_wrap > div.body > div.btns > ul > li > a {
    font-weight: bold;
	text-decoration: none;
	padding: 3px 8px;
	background-color: #e7e7e7;
	border-radius: 4px;
	font-size: 1.1rem;
	line-height: 1;
	border: 1px dotted #ddd;
}

#pickup .content > div.control > div.control_wrap > div.body > div.btns > ul > li.current > a {
    background-color: #767676;
	color: #fff;
	font-weight: bold;
	background-color: #268300;
	border: 1px solid #268300;
}



/* - ピックアップ 上段
------------------------------------------------------------ */
#pick_lineL { }

#pick_lineL ul { overflow: hidden; }
#pick_lineL ul:after{ content : ''; display : block; clear : both; }

#pick_lineL ul li {
	width: 158px;
	border: 1px solid #e0e0e0;
	background-color: #fff;
	text-align: center;
	float: left;
	margin-right: 16px;
}

#pick_lineL ul li img { vertical-align: top; }

#pick_lineL ul li a {
	text-decoration: none;
	position: relative;
	display: block;
}

#pick_lineL ul li a p {
	font-size: 93%;
	font-size: 1.2rem;
	padding: 4px;
	font-weight: bold;
}


/* --- mouse hover underline --- */
#pick_lineL ul li a:hover p { text-decoration: underline; }


#pick_lineL ul li a .img {
	position: relative;
	border-bottom: 1px solid #ddd;
	overflow: hidden;
	width: 158px;
	height: 118px;
}

#pick_lineL ul li a .img img { display: block; }

#pick_lineL ul li a .img .ex {
	position: absolute;
	background-color: #ececec;
	padding: 8px;
	height: 102px;
	bottom: -100%;
	
	left: 0;
	width: 142px;
}

.no-touch.csstransitions #pick_lineL ul li a .img .ex {
	transition: bottom, 0.4s 0s ease;
	-webkit-transition: bottom 0.4s 0s ease;
	-moz-transition: bottom 0.4s 0s ease;
	-ms-transition: bottom 0.4s 0s ease;
	-o-transition: bottom 0.4s 0s ease;
}

.no-touch #pick_lineL ul li a:hover .img .ex { bottom: 0; }
/*.no-touch #pick_lineL ul li a:focus .img .ex { bottom: 0; }*/

#pick_lineL ul li a .img .ex h3 {
	font-size: 108%;
	font-size: 1.4rem;
	font-weight: bold;
	color: #444;
}

#pick_lineL ul li a .img .ex p {
	padding: 0;
	text-align: left;
	color: #444;
	font-weight: normal;
	white-space: pre-wrap;
	word-break: break-all;
	word-wrap:break-word;
	
	text-decoration: none;
}


/* - ピックアップ 下段
------------------------------------------------------------ */
#pick_lineS { margin-top: 16px; }

#pick_lineS ul { overflow: hidden; }
#pick_lineS ul:after{ content : ''; display : block; clear : both; }

#pick_lineS ul li {
	float: left;
	margin-right: 16px;
	border: 1px solid #ddd;
	background-color: #fff;
	width: 158px;
}

#pick_lineS ul li > a {
	display: block;
	letter-spacing: -.40em; /* 文字間を詰めて隙間を削除する */
}

#pick_lineS ul li > a .thumb {
	display: inline-block;
	vertical-align: middle;
	border-right: 1px dotted #d7d7d7;
	width: 78px;
	overflow: hidden;
	
	letter-spacing: normal; /* 文字間を通常に戻す */
}

#pick_lineS ul li .thumb img {
	width: 100%;
	vertical-align: top;
}

#pick_lineS ul li > a .txt {
	display: inline-block;
	vertical-align: middle;
	font-size: 12px;
	padding: 5px 8px;
	width: 61px;
	overflow: hidden;
	
	letter-spacing: normal; /* 文字間を通常に戻す */
}

#pick_lineS ul li .txt p {
	line-height: 1.3;
	white-space: pre-wrap;
	word-break: break-all;
	word-wrap:break-word;
}


#pick_lineS ul li > a:hover .txt p {
	text-decoration: underline;
}


/* - ピックアップ調整
-------------------------------------------------- */
#pick_lineL ul li a p {
	font-size: 12px;
	font-size: 1.2rem;
	padding: 4px;
	font-weight: bold;
	padding: 4px 0;
}

/* ----- IE8以下以外用 ----- */
#pick_lineL ul li a p:not(:target) { padding: 4px; }





/* ------------------------------------------------------------

	ＧＩエリア

------------------------------------------------------------ */
#g1_area { }

#g1_area h2 {
	background: url(/top/g1_area/img/bg_gi-area_head.png) no-repeat 12px 9px;
	padding-left: 46px;
}

#g1_area h2.no_bg {/* ----- グレードアイコン無し ----- */
	background: none;
	padding-left: 12px;
}

#g1_area h2.g3 {/* ----- GIII（金杯用） ----- */
	background: url(/top/g1_area/img/bg_gi-area_head_g3.png) no-repeat 12px 9px;
	padding-left: 46px;
}

#g1_area h2 > img { vertical-align: top; }

#g1_area .content {
	background-color: #f7f7f7;
	border: 1px solid #e0e0e0;
	margin-top: 16px;
	padding: 11px;
	overflow: hidden;
}

#g1_area .content:after{ content : ''; display : block; clear : both; }

#g1_area > .content > ul {
	margin-right: -8px;
	/*overflow: hidden;*/
}

#g1_area > .content > ul:after{ content : ''; display : block; clear : both; }

#g1_area > .content > ul li {
	float: left;
	margin-right: 8px;
	margin-bottom: 8px;
	text-align: left;
	width: 144px;
	height: 60px;
}

#g1_area > .content > ul li a {
	display: block;
	text-decoration: none;
}


/* --- IE11用キーボードフォーカス --- */
#g1_area > .content > ul li a:focus { border: 1px dotted #000; }
#g1_area > .content > ul li a:focus img { margin: -1px; }

/* --- mouse hover 追加 --- */
#g1_area > .content > ul li a:hover { border: 1px dotted #ee615e; }
#g1_area > .content > ul li a:hover { border: 1px solid #ee615e; }
/*#g1_area > .content > ul li a:hover { border: 1px dotted #268300; }*/
#g1_area > .content > ul li a:hover img { margin: -1px; }

#g1_area > .content > ul li a:focus { outline: solid; }

#g1_area > .content > ul li .img {
	display: block;
	position: relative;
	overflow: hidden;
}

#g1_area > .content > ul li .img img { display: block; }

#g1_area > .content > ul li .img p.yokoku {
	position: absolute;
	bottom: 0;
	left: -60px;
	
	background-color: rgba(193,47,44,0.9);
	
	padding: 4px 2px;
	color: #fff;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	
	height: 52px;
	width: 54px;
	
	display: block;
	line-height: 1.5;
	
	font-size: 93%;
	font-size: 1.2rem;
}

.touch #g1_area > .content > ul li .img p.yokoku { left: 0; }

#g1_area > .content > ul li .img p.yokoku span {
	font-size: 83%;
	font-size: 1.1rem;
}

.no-touch.csstransitions .content > ul li .img p.yokoku {
	transition: left, 0.4s 0s ease;
	-webkit-transition: left, 0.4s 0s ease;
	-moz-transition: left, 0.4s 0s ease;
	-ms-transition: left, 0.4s 0s ease;
	-o-transition: left, 0.4s 0s ease;
}

.no-touch #g1_area > .content > ul li .img:hover p.yokoku { left: 0; }

#g1_info { clear: both; }



/* ----- GIエリア お知らせ ----- */
#g1_area .info_block {
	border: 1px solid #d3d3d3;
	background-color: #fff;
}

#g1_area .info_block h3 { border-bottom: 1px dotted #d3d3d3; }
#g1_area .info_block h3 img { vertical-align: top; }

#g1_area .info_block .content {
	background-color: #fff;
	border: none;
	margin: 0;
	padding: 12px 16px;
}

/* --- html構造変更 --- */
#g1_area .info_block .content > ul {  }

#g1_area .info_block .content > ul > li {
	clear: both;
	margin-bottom: 6px;
}

#g1_area .info_block .content > ul > li > p.date {
	font-size: 93%;
	font-size: 1.2rem;
	color: #666;
	float: left;
	line-height: 1.5;
	width: 72px;
}

#g1_area .info_block .content > ul > li > p.txt {
	font-size: 93%;
	font-size: 1.2rem;
	line-height: 1.5;
	margin-left: 78px;
	
	background: url(/top/_img/arrow_gr.png) no-repeat left 6px;
	padding-left: 10px;
}

#g1_area .info_block .content > ul > li > p.txt a { text-decoration: none; }
#g1_area .info_block .content > ul > li > p.txt a:hover { text-decoration: underline; }


/* --- 旧）GIエリアお知らせ --- */
#g1_area .info_block .content dl {
	clear: both;
	margin-bottom: 6px;
}

#g1_area .info_block .content dl dt {
	font-size: 93%;
	font-size: 1.2rem;
	color: #666;
	float: left;
	line-height: 1.5;
	width: 72px;
}

#g1_area .info_block .content dl dd {
	font-size: 93%;
	font-size: 1.2rem;
	line-height: 1.5;
	margin-left: 78px;
	
	background: url(/top/_img/arrow_gr.png) no-repeat left 6px;
	padding-left: 10px;
}

#g1_area .info_block .content dl dd a { text-decoration: none; }
/* --- 旧）GIエリアお知らせ（ここまで） --- */



/* --------------------------------------------------

	海外馬券発売レースエリア

-------------------------------------------------- */
#overseas_area {  }

#overseas_area h2 {
	background: url(/top/overseas/img/bg_overseas_head_g1.png) no-repeat 12px 9px;
	padding-left: 46px;
}

#overseas_area h2.no_bg {/* ----- グレードアイコン無し ----- */
	background: none; padding-left: 12px;
}

#overseas_area h2 > img { vertical-align: top; }


#overseas_area .content {
	background-color: #f7f7f7;
	border: 1px solid #e0e0e0;
	margin-top: 16px;
	padding: 11px;
	overflow: hidden;
	padding-bottom: 3px;
}

#overseas_area .content:after{ content : ''; display : block; clear : both; }

#overseas_area > .content > ul { margin-right: -8px; }
#overseas_area > .content > ul:after{ content : ''; display : block; clear : both; }

#overseas_area > .content > ul li {
	float: left;
	margin-right: 8px;
	margin-bottom: 8px;
	text-align: left;
	width: 144px;
	height: 60px;
}

#overseas_area > .content > ul li a {
	display: block;
	text-decoration: none;
}

/* --- IE11用キーボードフォーカス --- */
#overseas_area > .content > ul li a:focus { border: 1px dotted #000; }
#overseas_area > .content > ul li a:focus img { margin: -1px; }

/* --- mouse hover 追加 --- */
#overseas_area > .content > ul li a:hover { border: 1px dotted #0069a7; }
#overseas_area > .content > ul li a:hover { border: 1px solid #0069a7; }
#overseas_area > .content > ul li a:hover img { margin: -1px; }

#overseas_area > .content > ul li a:focus { outline: solid; }

#overseas_area > .content > ul li .img {
	display: block;
	position: relative;
	overflow: hidden;
}

#overseas_area > .content > ul li .img img { display: block; }

#overseas_area > .content > ul li .img p.yokoku {
	position: absolute;
	bottom: 0;
	left: -60px;
	background-color: rgba(0,105,167,0.9);
	padding: 4px 2px;
	color: #fff;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	height: 52px;
	width: 54px;
	display: block;
	line-height: 1.5;
	font-size: 93%;
	font-size: 1.2rem;
}

.touch #overseas_area > .content > ul li .img p.yokoku { left: 0; }

#overseas_area > .content > ul li .img p.yokoku span {
	font-size: 83%;
	font-size: 1.1rem;
}

.no-touch.csstransitions .content > ul li .img p.yokoku {
	transition: left, 0.4s 0s ease;
	-webkit-transition: left, 0.4s 0s ease;
	-moz-transition: left, 0.4s 0s ease;
	-ms-transition: left, 0.4s 0s ease;
	-o-transition: left, 0.4s 0s ease;
}

.no-touch #overseas_area > .content > ul li .img:hover p.yokoku { left: 0; }




#overseas_area { position: relative; }

div.overseas_header {
	border-top: 4px solid #1fab37;
	border-bottom: 1px solid #e1e1e1;
	height: 39px;
	line-height: 39px;
	font-weight: bold;
	color: #555;
	padding: 0 12px;
	overflow: hidden;
	
	position: relative;
}

div.overseas_header:after{ content : ''; display : block; clear : both; }

div.overseas_header h2 {
	border: none;
	height: auto;
	padding: 0;
	/*width: 102px;*/
	width: auto;
	float: left;
	
	font-size: 1.5rem;
}


#overseas_area div.top_link {
	position: absolute;
	right: 10px;
	top: 15px;
	top: 14px;
	top: 13px;
}

#overseas_area div.top_link > a {
	display: block;
	font-size: 1.3rem;
	font-weight:bold;
	text-decoration:none;
	
	font-size: 1.4rem;
}

#overseas_area div.top_link > a > span { margin-right: 4px; }

#overseas_area div.top_link > a > span > img {
	vertical-align: middle;
	margin-top: -2px;
}



/*
#overseas_area .content.btn {
	padding: 5px;
}

#overseas_area > .content > ol {
	margin: 0;
}

#overseas_area > .content > ol:after{ content : ''; display : block; clear : both; }

#overseas_area > .content > ol li {
	float: left;
	box-sizing: border-box;
	width: 50%;
	padding:5px;
}

#overseas_area > .content > ol li a {
	display: block;
	text-decoration: none;
	
	box-sizing: border-box;
	background-color: #fff;
	padding: 10px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.2);
	
	font-size: 1.4rem;
	text-align: center;
	border-radius: 4px;
	font-weight: bold;
	
}


#overseas_area > .content > ol li a span {
	margin-right: 4px;
}

#overseas_area > .content > ol li a span img {
	vertical-align: middle;
	margin-top: -1px;
	margin-top: -2px;
}
*/


/* ----- 香港国際競走パターン（レーストップリンクボタン縦並び） ----- */
#overseas_area .content.btn { padding: 6px; }

#overseas_area .content.btn > ol.btn { margin: 0; }
#overseas_area .content.btn > ol.btn:after{ content : ''; display : block; clear : both; }

#overseas_area .content.btn > ol.btn > li {
	box-sizing: border-box;
	padding:5px;
}

#overseas_area .content.btn > ol.btn > li > a {
	display: block;
	text-decoration: none;
	
	box-sizing: border-box;
	background-color: #fff;
	padding: 10px;
	box-shadow: 0 1px 4px rgba(0,0,0,0.2);
	
	font-size: 1.4rem;
	border-radius: 4px;
	font-weight: bold;
	padding: 15px 15px;
}

#overseas_area .content.btn > ol.btn > li > a:hover {  }

#overseas_area .content.btn > ol.btn > li > a:focus { outline: inset; }

#overseas_area .content.btn > ol.btn > li > a div.inner {
	display: table;
	width: 100%;
}

#overseas_area .content.btn > ol.btn > li > a div.inner > div {
	display: table-cell;
	vertical-align: middle;
	line-height: 1.5;
}

#overseas_area .content.btn > ol.btn > li > a div.inner > div.race_line { width: 360px; }

#overseas_area .content.btn > ol.btn > li > a div.inner > div.race_line > div.race_wrap { dispaly: table; }

#overseas_area .content.btn > ol.btn > li > a div.inner > div.race_line > div.race_wrap > div {
	display: table-cell;
	vertical-align: middle;
	line-height: 1.5;
}

#overseas_area .content.btn > ol.btn > li > a div.inner > div.race_line > div.race_wrap > div.num {
	padding-right: 10px;
}

#overseas_area .content.btn > ol.btn > li > a div.inner > div.race_line > div.race_wrap > div.num > p {
	background-color: #0e6ba5;
	color: #fff;
	padding: 2px 5px;
	border-radius: 3px;
	font-weight: bold;
	font-size: 1.3rem;
	line-height: 1.4;
	border: 2px solid #0d5582;
}


#overseas_area .content.btn > ol.btn > li > a div.inner > div.race_line > div.race_wrap > div.race {
	font-weight: bold;
	font-size: 1.6rem;
}

#overseas_area .content.btn > ol.btn > li > a div.inner > div.race_line > div.race_wrap > div.race span.rc {
	font-size: 1.4rem;
	margin-left: 0.5em;
}

#overseas_area .content.btn > ol.btn > li > a div.inner > div.time {
	padding-left: 15px;
	color: #555;
	border-left: 1px dotted #ccc;
	font-size: 1.3rem;
}


#overseas_area .content.btn > ol.btn > li.top { width: 100%; }

#overseas_area .content.btn > ol.btn > li.top > a {
	font-size: 1.4rem;
	text-align: center;
}

#overseas_area .content.btn > ol.btn > li.top > a i {
	margin-right: 0.4em;
	color: #29a83e;
}

/* ----- 香港国際競走パターン（レーストップリンクボタン縦並び）（ここまで） ----- */





/* ----- 海外発売レースエリア お知らせ ----- */
#overseas_area .info_block {
	border: 1px solid #d3d3d3;
	background-color: #fff;
	margin-bottom: 8px;
}

#overseas_area .content.btn > .info_block { margin: 8px 4px; }

#overseas_area .info_block h3 { border-bottom: 1px dotted #d3d3d3; }
#overseas_area .info_block h3 img { vertical-align: top; }

#overseas_area .info_block .content {
	background-color: #fff;
	border: none;
	margin: 0;
	padding: 12px 16px;
}

#overseas_area .info_block .content > ul {  }

#overseas_area .info_block .content > ul > li {
	clear: both;
	margin-bottom: 6px;
}

#overseas_area .info_block .content > ul > li > p.date {
	font-size: 93%;
	font-size: 1.2rem;
	color: #666;
	float: left;
	line-height: 1.5;
	width: 72px;
}

#overseas_area .info_block .content > ul > li > p.txt {
	font-size: 93%;
	font-size: 1.2rem;
	line-height: 1.5;
	margin-left: 78px;
	background: url(/top/_img/arrow_gr.png) no-repeat left 6px;
	padding-left: 10px;
}

#overseas_area .info_block .content > ul > li > p.txt a { text-decoration: none; }
#overseas_area .info_block .content > ul > li > p.txt a:hover { text-decoration: underline; }


/* --- 旧お知らせ --- */
#overseas_area .info_block .content dl {
	clear: both;
	margin-bottom: 6px;
}

#overseas_area .info_block .content dl dt {
	font-size: 93%;
	font-size: 1.2rem;
	color: #666;
	float: left;
	line-height: 1.5;
	width: 72px;
}

#overseas_area .info_block .content dl dd {
	font-size: 93%;
	font-size: 1.2rem;
	line-height: 1.5;
	margin-left: 78px;
	
	background: url(/top/_img/arrow_gr.png) no-repeat left 6px;
	padding-left: 10px;
}

#overseas_area .info_block .content dl dd a { text-decoration: none; }
/* --- 旧お知らせ（ここまで） --- */





/* --------------------------------------------------

	ＪＲＡニュース

-------------------------------------------------- */
#news { }

#news * {max-height:999999px;}

#news .news_header {
	border-top: 4px solid #1fab37;
	border-bottom: 1px solid #e1e1e1;
	height: 39px;
	line-height: 39px;
	font-weight: bold;
	color: #555;
	padding: 0 12px;
}

#news .news_header:after { content : ''; display : block; clear : both; }

#news .news_header h2 {
	border: none;
	height: auto;
	padding: 0;
	width: 102px;
	float: left;
}

#news .news_header ul { float: right; }
#news .news_header ul:after{ content : ''; display : block; clear : both; }

#news .news_header ul li {
	float: left;
	height: 39px;
}

#news .news_header ul li a { display: block; }
#news .news_header ul li a:focus { outline: solid; }

#news .news_header ul li a img {  vertical-align: top; display: block; }
#news .news_header ul li a img.over { display: none; }
#news .news_header ul li a:hover img { display: none; }
#news .news_header ul li a:hover img.over { display: block; }

#news .tab {
	margin-top: 16px;
	width: 776px;
	overflow: hidden;
}

#news .tab ul {
	margin: 0;
	padding: 0;
	
	width: 808px;
	margin-right: -32px;
	background: url(/top/news/img/bg_news-tab.png) repeat-x left bottom;
	height: 40px;
}

#news .tab ul:after{ content : ''; display : block; clear : both; }

#news .tab ul li {
	width: 183px;
	height: 33px;
	margin-right: 12px;
	margin-top: 5px;
	
	float: left;
	border: 1px solid #e6e6e6;
}

#news .tab ul li > a {
	display: block;
	width: 183px;
	height: 33px;
}

#news .tab ul li > a img { vertical-align: top; }

#news .tab ul li > a img.over,
#news .tab ul li > a img.cur { display: none; }

#news .tab ul li.current {
	width: 183px;
	margin-top: 0;
	border-bottom: 1px solid #fff;
	border-top: 4px solid #e4e4e4;
	height: 35px;
}

#news .tab ul li.current a {
	width: 183px;
	height: 35px;
}

#news .tab ul li.current a img { display: none; }
#news .tab ul li.current a img.cur { display: block; }

#news .tab ul li a:hover img { display: none; }
#news .tab ul li a:hover img.over { display: block; }

#news .tab ul li.current a:hover img.over { display: none; }
#news .tab ul li.current a:hover img.cur { display: block; }


#news .content {
	padding: 16px;
	padding-bottom: 12px;
	border: 1px solid #e6e6e6;
	border-top: none;
}

#news .content .news_unit { display: none; }
#news .content .news_unit#news_cat1 { display: block; }


#news .content .news_unit ul {
	
}

#news .content .news_unit ul > li {
	clear: both;
	margin-bottom: 8px;
}


#news .content .news_unit ul > li > p.date {
	font-size: 12px;
	font-size: 1.2rem;
	float: left;
	line-height: 1.5;
	color: #666;
	width: 68px;
}

#news .content .news_unit ul > li > p.txt {
	font-size: 12px;
	font-size: 1.2rem;
	line-height: 1.5;
	margin-left: 78px;
	background: url(/top/_img/arrow_gr.png) no-repeat left 6px;
	padding-left: 10px;
	word-wrap:break-word;
	word-break:break-all;
}

#news .content .news_unit ul > li > p.txt a {
	text-decoration: none;
	line-height: 1.5;
}


#news .content .news_unit ul > li > p.txt a:hover {
	text-decoration: underline;
}


/* ----- レース映像ボタン ----- */
#news .content .news_unit ul > li > p.txt a.movBtn { margin-left: 12px; }



/* ------------------------------------------------------------

	インフォメーションエリア

------------------------------------------------------------ */

#other_contents { }
#other_contents h2 { }
#other_contents h2 img { vertical-align: top; }

#other_contents .content { }

#other_contents .content ul {
	width: 792px;
	margin-right: -16px;
	
	width: 802px;
	margin-right: -26px;
	
	overflow: hidden;
}

#other_contents .content ul:after{ content : ''; display : block; clear : both; }

#other_contents .content ul li {
	float: left;
	border: 1px solid #d3d3d3;
	padding: 8px;
	width: 230px;
	margin-right: 16px;
	margin-top: 16px;
}

#other_contents .content ul li a {
	display: block;
	text-decoration: none;
}

#other_contents .content ul li dl { overflow: hidden; }
#other_contents .content ul li dl:after{ content : ''; display : block; clear : both; }

#other_contents .content ul li dl dt {
	width: 50px;
	float: left;
}

#other_contents .content ul li dl dt img { vertical-align: top; }

#other_contents .content ul li dl dd {
	width: 170px;
	margin-left: 60px;
}

#other_contents .content ul li dl dd h3 {
	font-size: 93%;
	font-size: 1.2rem;
	font-weight: bold;
	line-height: 1.2;
	color: #06a;
}

#other_contents .content ul li a:hover h3 { color: #0cac30; }
#other_contents .content ul li a:hover h3 { color: #098825; }

#other_contents .content ul li dl dd p {
	font-size: 93%;
	font-size: 1.2rem;
	line-height: 1.4;
	color: #666;
	margin-top: 5px;
	word-wrap:break-word;
	word-break:break-all;
}





/* --------------------------------------------------

	ソーシャルメディア

-------------------------------------------------- */

#social_media { }

#social_media h2 { }
#social_media h2 img { vertical-align: top; }

#social_media .content {
	margin-top: 16px;
	padding: 14px;
	background-color: #f3f3f3;
	border: 1px solid #e0e0e0;
}

#social_media .content ul {
	width: 759px;
	margin-right: -13px;
	overflow: hidden;
}

#social_media .content ul:after{ content : ''; display : block; clear : both; }

#social_media .content ul li {
	width: 240px;
	margin-right: 13px;
	float: left;
}

#social_media .content ul li a {
	display: block;
	width: 240px;
	height: 90px;
	position: relative;
}

#social_media .content ul li a img { vertical-align: top; }

#social_media .content ul li a span.icon {
	position: absolute;
	width: 18px;
	height: 18px;
	display: block;
	top: 3px;
	right: 3px;
	background: url(/top/_img/icon_window.png) no-repeat left -18px;
}

#social_media .content ul li a:hover span.icon { background-position: left top; }



/* --------------------------------------------------

	ＪＲＡに関する情報

-------------------------------------------------- */

#company_block h2 img { vertical-align: top; }

#company_block > .content {
	background-color: #f3f3f3;
	border: 1px solid #e0e0e0;
	margin-top: 16px;
	padding: 12px;
}

#company_block > .content ul {
	width: 756px;
	margin-right: -10px;
	margin-right: -6px;
	overflow: hidden;
	
	width: auto;
}

#company_block > .content ul:after{ content : ''; display : block; clear : both; }

#company_block > .content ul li {
	width: 120px;
	float: left;
	margin-right: 6px;
}

#company_block > .content ul li a { display: block; }
#company_block > .content ul li a img { vertical-align: top; }


/* ＪＲＡからのお知らせ
-------------------------------------------------- */
#company_block > .content .info_block {
	border: 1px solid #e0e0e0;
	margin-top: 10px;
}

#company_block > .content .info_block h3 {
	background-color: #1faa37;
	background-color: #268300;
}

#company_block > .content .info_block .content {
	background-color: #fff;
	padding: 12px;
	padding-bottom: 6px;
}


/* ----- リンクリスト（日付表記あり） ----- */
/*
#company_block > .content .info_block .content dl {
	clear: both;
	margin-bottom: 6px;
}

#company_block > .content .info_block .content dl dt {
	font-size: 93%;
	font-size: 1.2rem;
	float: left;
	line-height: 1.5;
	width: 72px;
	color: #666;
}

#company_block > .content .info_block .content dl dd {
	font-size: 93%;
	font-size: 1.2rem;
	line-height: 1.5;
	margin-left: 78px;
}

#company_block > .content .info_block .content dl dd a {
	text-decoration: none;
	background: url(/top/_img/arrow_gr.png) no-repeat left 0.4em;
	padding-left: 10px;
}
*/


/* ----- リンクリスト（日付表記なし） ----- */
#company_block > .content .info_block .content ul { clear: both; }

#company_block > .content .info_block .content ul li {
	line-height: 1.5;
	width: auto;
	
	font-size: 93%;
	font-size: 1.2rem;
	float: none;
	margin-bottom: 6px;
}

#company_block > .content .info_block .content ul li a {
	text-decoration: none;
	background: url(/top/_img/arrow_gr.png) no-repeat left 6px;
	padding-left: 10px;
	line-height: 1.5;
}

#company_block > .content .info_block .content ul li a:hover {
	text-decoration: underline;
}



/* ----- リンクリスト（日付表記あり） ----- */
#company_block > .content .info_block .content ul li.date_line { clear: both; }

#company_block > .content .info_block .content ul li.date_line p {  }

#company_block > .content .info_block .content ul li.date_line p.date {
	font-size: 12px;
	font-size: 1.2rem;
	float: left;
	line-height: 1.5;
	color: #666;
	width: 72px;
}

#company_block > .content .info_block .content ul li.date_line p.txt {
	margin-left: 72px;
	word-wrap:break-word;
	word-break:break-all;
}

#company_block > .content .info_block .content ul li.date_line p.txt a {  }
#company_block > .content .info_block .content ul li.date_line p.txt a:hover { text-decoration: underline; }



/* ------------------------------------------------------------

	フッター

------------------------------------------------------------ */

#footer {
	margin-top: 48px;
	background: none;
	border-top: 4px solid #1faa37;
	background-color: #ecf1e9;
	border-bottom: 4px solid #0d4a18;
}

#footer .content {
	width: 1108px;
	margin: 0 auto;
}


/* - フッターサイトマップ
------------------------------------------------------------ */
#footer_sitemap {
	/*width: 1056px;*/
	width: 1062px;/* ----- for android カラム落ち防止 ----- */
	margin: 0 auto;
	padding-bottom: 44px;
	background: url(/top/footer/img/bg_footer.png) no-repeat right bottom;
	letter-spacing: -.40em; /* 文字間を詰めて隙間を削除する */
}

#footer_sitemap .map_unit {
	width: 234px;
	display: inline-block;
	vertical-align: top;
	font-size: 12px;
	margin-right: 40px;
	/*margin-right: 38px;*//* ----- for android カラム落ち防止 ----- */
	margin-top: 30px;
	letter-spacing: normal;
}

#footer_sitemap .map_unit#footer_sitemap_link4 { margin-right: 0; }
#footer_sitemap_link4 { margin-right: 0; }

#footer_sitemap .map_unit h3 { margin-bottom: 16px; }
#footer_sitemap .map_unit h3 img { max-width:100%; }

#footer_sitemap .map_unit ul { width: 234px; }

#footer_sitemap .map_unit ul li {
	font-size: 12px;
	font-size: 1.2rem;
	margin-bottom: 12px;
}

#footer_sitemap .map_unit ul li a {
	background: url(/top/_img/arrow_gr.png) no-repeat left 5px;
	text-decoration: none;
	padding-left: 10px;
	line-height: 1.4;
	color: #555;
	display: block;
}

#footer_sitemap .map_unit ul li a:hover {
	text-decoration: underline;
	color: #0cac30;
}

#footer_sitemap .map_unit ul li a:hover {
	text-decoration: underline;
	color: #098825;
	color: #237900;
}



/* ----- 馬券を買う ----- */
#footer_sitemap .map_unit#footer_sitemap_link5 { width: 508px; }

#footer_sitemap .map_unit#footer_sitemap_link5 { overflow: hidden; }
#footer_sitemap .map_unit#footer_sitemap_link5:after{ content : ''; display : block; clear : both; }

#footer_sitemap .map_unit#footer_sitemap_link5 ul { float: left; }
#footer_sitemap .map_unit#footer_sitemap_link5 ul.right { margin-left: 40px; }


/* ----- リンク・ご利用に際して ----- */
#footer_sitemap .map_unit#footer_sitemap_link7 {
	margin-right: 0;
	background-color: #dae0d6;
	padding: 12px 16px;
	padding-bottom: 0;
	width: 202px;
	margin-top: 30px;
}

#footer_sitemap .map_unit#footer_sitemap_link7 ul { width: auto; }


/* --- mouse over color 修正 --- */
#footer_sitemap .map_unit#footer_sitemap_link7 ul li a:hover { color: #1f6c00; }






/* - footer bottom line
------------------------------------------------------------ */
#footer_bottom_line { background: url(/top/footer/img/bg_footer_line.png); }

#footer_bottom_line .content {
	width: 1056px;
	margin: 0 auto;
	padding: 8px 0;
	padding-bottom: 5px;
	overflow: hidden;
}

#footer_bottom_line .content:after{ content : ''; display : block; clear : both; }

#footer_bottom_line .content .copyright {
	color: #fff;
	font-size: 10px;
	font-size: 1.0rem;
	font-weight: bold;
	margin-top: 2px;
	text-align: right;
}



/* ------------------------------------------------------------

	アクセシビリティ

------------------------------------------------------------ */
/* - skip menu for voice navigation - */
/*
.u-hide {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	overflow: hidden;
	
	display: none;
}
*/

ul.u-hide { position: relative; }

ul.u-hide li {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	overflow: hidden;
}

ul.u-hide.focused li {
	width: auto;
	height: auto;
	z-index: 1000;
}

#voice-navigation.u-hide.focused li,
#voice-navigation3.u-hide.focused li { position: static; }

#voice-navigation2.u-hide.focused li {

}


ul.u-hide a {
	padding: 10px 12px;
	background-color: #fff;
	color: #000;
	line-height: 1.4;
	display: block;
	background-color: #eee;
}




/* ------------------------------------------------------------

	汎用クラス

------------------------------------------------------------ */
.mt30 { margin-top: 30px; }
.mt25 { margin-top: 25px; }
.mt20 { margin-top: 20px; }
.mt15 { margin-top: 15px; }
.mt10 { margin-top: 10px; }
.mt5 { margin-top: 5px; }

