
	.home {
		min-width: 320px;
		}


	.home #main-contents > .navigation,
	.home #main-contents > .right {
		display: none;
		}

	.home.catherine .contents.heading,			
	.home .contents.heading,
	.home #main-contents > .left {
		display: block;
		width: auto;
		padding: 0;
		margin-left: 0;
		}

	#breadcrumbs {
		display: none;
		}	
		
	.veronica #band-of-brands li { flex-basis: 40%; }
	.belinda #band-of-brands li { flex-basis: 30%; }
		
		
	.slick-slider {
		margin-bottom: 1em;
		}	
		
	#band-of-brands ul {
		align-items: center;
		}

	#band-of-brands ul li {
		margin-bottom: 0;
		}
		
	.contents.left #band-of-brands a,		
	.contents.left #band-of-brands a:hover,
	.contents.left #band-of-brands a:focus {	
		border-bottom: 0;
		}			
			
			
			
	#btm-links {
		border: 2px solid rgba(233,233,233,0.5);
		border-width: 2px 0;
		align-items: center;
		}

	#btm-links > div {
		flex-basis: 48%;
		}
	#btm-links > div + div {
		margin-left: 20px;
		}
			
			
	.subpage-links ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		}

	.subpage-links ul li {
		margin: 0;
		padding: 7px 5px;
		border-bottom: 1px solid rgba(233,233,233,0.5); /* rgb 233,233,233 == #e9e9e9 */
		}
	.subpage-links ul li:last-of-type {
		border-bottom: 0;
		}


		
	.subpage-links ul li a,
	.contents.left .subpage-links a {
		border-bottom-width: 0;
		font-weight: bold;
		}	

	.subpage-links ul li a:hover,
	.contents.left .subpage-links a:hover,
	.subpage-links ul li a:focus,
	.contents.left .subpage-links a:focus {
		text-decoration: none;
		border-bottom-width: 1px;
		}			
				
	.home .spotlight,
	.home .subpage-links {
		min-height: 154px; /*  make it the same height on the home page */
		}

	.spotlight {
		padding: 10px 10px 5px 10px;
		border: 2px solid rgba(233,233,233,0.5); /* rgb 233,233,233 == #e9e9e9 */
		border-width: 2px 0;
		}

	.contents.left .spotlight a,
	.contents.left a.no-border {
		border-bottom-color: transparent;
		}		
	.contents.left .spotlight a:hover,
	.contents.left .spotlight a:focus {
		border-bottom-color: #003082;
		}

	.spotlight .img {
		float: left;
		width: 125px;
		margin-right: 10px;
		}

	.contents.left .spotlight .img a:hover,
	.contents.left .spotlight .img a:focus {
		border-bottom-color: transparent;
		}

	.spotlight .img a img {
		border: 1px solid #fff;
		}
		
	.spotlight p:last-of-type {
		margin-bottom: 0;
		}
			
/* -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- */
/* tabbish like construct on the main page */



	.col-1 {
		display: inline-block;
		vertical-align: top;
		padding: 0px 10px 10px 10px;
		border: 1px solid #fff;
		max-width: 184px;
		}

	.col-2 {
		display: inline-block;
		vertical-align: top;
		padding: 0px 10px 10px 10px;
		border: 1px solid #fff;
		max-width: 310px;
		}

	.col-4 {
		display: inline-block;
		vertical-align: top;
		padding: 0px 10px 10px 10px;
		border: 1px solid #fff;
		max-width: 900px;
		}



	.tabbish {
		max-width: 1200px;
		margin: 0 auto 20px;
		}

	.belinda .tabbish .ui-tabs-nav {
		display: none;
		}

	.tabbish.ui-tabs .ui-tabs-nav {
		padding: 0;
		white-space: nowrap;
		}

.ui-tabs .ui-tabs-nav li {
	margin: 0;
	width: 33.33333333333%;
	}		
		
		

	.tabbish .btn .icon-angle-right {
		margin-top: -2px;
		}
		
		
	.tabbish .tab-customer h2,
	.tabbish .customers {
		background-color: #660019;
		}

	.tabbish .research {
		background-color: #03346e;
		}

	.tabbish .mission {
		background-color: #c65200;
		}

	.tabbish.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
		padding: 0;
		color: #fff;
		}

	.tabbish.ui-tabs .ui-tabs-nav .ui-tabs-anchor img {
		max-width: 100%;
		height: 100%;
		}

	.tabbish .ui-tabs-anchor:hover .trigger-box {
		text-decoration: underline;
		}

	.tabbish .ui-tabs-panel h2,
	.tabbish .trigger-box {
		display: block;
		padding: 5px 10px;
		font-weight: bold;
		line-height: 25px;
		position: relative;
		height: 25px;
		color: #fff;
		}

	.tabbish .trigger-box span {
		position: absolute;
		right: 10px;
		top: 5px;
		font-weight: bold;
		font-size: 30px;
		}

	.belinda .trigger-box span,
	.veronica .trigger-box span {
		display: none;
		}

	.tabbish .ui-tabs-panel {
		border: 2px solid black;
		border-top: 0;
		margin-top: -2px;
		padding: 20px !important;
		max-width: 1153px;

		-webkit-transition: all 0.3s;
		   -moz-transition: all 0.3s;
		     ms-transition: all 0.3s;
		     -o-transition: all 0.3s;
		        transition: all 0.3s;
		}


	.belinda .ui-tabs-panel {
		display: block !important;
		}

	.tabbish .ui-tabs-panel h2 {
		display: none;
		}

	.belinda .ui-tabs-panel h2 {
		display: block;
		margin: -20px -20px 20px;
		}

	.tabbish .ui-tabs-panel h2.like-h4 {
		display: block;
		}

	.tabbish .tab-customer {
		border-color: #660019;
		}

	.tabbish .tab-customer img {
		border: 1px solid #660019;
		}

	.tabbish .btn {
		display: inline-block;
		border: 1px solid #660019;
		background: #660019;
		color: #fff;
		margin-top: 10px;
		padding: 5px 12px;
		text-align: center;
		text-decoration: none;
		font-weight: bold;
		cursor: pointer;
		}
	.tabbish .btn:hover {
		text-decoration: underline;
		}

	.tabbish .tab-customer .btn {
		background-color:   #660019;
		border-color:  #660019;
		}

	.contents.left .tabbish .tab-customer .btn:hover,
	.contents.left .tabbish .tab-customer .btn:focus {
		color: #fff;
		background-color:   #660019;
		border-color:  #660019;
		text-decoration: underline !important;
		}		
		
		
	.tabbish .tab-research {
		border-color: #03346e;
		}

	.tabbish .tab-research #researcher-quick {
		width: 255px;
		vertical-align: top;
		}

	.tabbish .tab-research .btn {
		background-color:  #03346e;
		border-color: #03346e;
		}
		
	.contents.left .tabbish .tab-research .btn:hover,
	.contents.left .tabbish .tab-research .btn:focus {
		color: #fff;
		text-decoration: underline !important;
		}		
				
		

	.tabbish .tab-research button.btn {
		display: inline;
		padding: 5px;
		line-height: 1;
		}
	.tabbish .tab-research button.btn:hover {
		text-decoration: none;
		}

	.tabbish .tab-research .like-h4 {
		color: #03346e;
		padding: 0;
		line-height: 1.2;
		font-weight: 600;
		}

	.tabbish .tab-research .dotted-line {
		margin: 20px 0;
		}

	.tabbish .tab-mission {
		border-color: #c65200;
		}

	.tabbish .tab-mission .btn {
		background-color: #c65200;
		border-color: #c65200;
		}
		
	.contents.left .tabbish .tab-mission .btn:hover,
	.contents.left .tabbish .tab-mission .btn:focus {
		color: #fff;
		text-decoration: underline !important;
		}			
		

	.tabbish .tab-mission button.btn {
		display: inline;
		padding: 5px;
		line-height: 1;
		}
	.tabbish .tab-mission button.btn:hover {
		text-decoration: none;
		}

	.tabbish .tab-mission .like-h4 {
		color: #c65200;
		}

	.tabbish .row-border {
		/* flexbox setup */
		display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
		display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
		display: -ms-flexbox;      /* TWEENER - IE 10 */
		display: -webkit-flex;     /* NEW - Chrome */
		display: flex;

		-webkit-justify-content: space-between;
		justify-content: space-between;

		flex-wrap: wrap;
		}

	.tabbish .row-border .col-1,
	.tabbish .row-border .col-2 {
		flex: 1;
		margin-right: 40px;
		margin-top: 40px;
		}

	.samantha .tabbish .row-border .col-1 { flex-basis: 25%; }
	.veronica .tabbish .row-border .col-1 { flex-basis: 33%; }
	.belinda .tabbish .row-border .col-1 { flex-basis: 100%; }

	.samantha .tabbish .row-border .col-2 { flex-basis: 100%; }
	.veronica .tabbish .row-border .col-2 { flex-basis: 100%; }
	.belinda .tabbish .row-border .col-2 { flex-basis: 100%; }

	.tab-research img {
		max-width: 100%;
		height: auto;
		margin-top: 10px;
		}

/* tabbish like construct on the main page */
/* -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- */
