body {
  font-family: "DINMedium", Helvetica, Arial, sans-serif; }

nav, footer {
  display: none; }

/** TODO: WORK IN PROGRESS.. Still need to work out everything to be printed page-by-page. **/
/** Currently isolating terms/policies for modal **/
.reservation-flow.cars {
  display: none; }

.reservation-flow.extras {
  display: none; }

.reservation-utility-nav {
  display: none; }

.reservation-steps {
  display: none; }

.mobile-steps {
  display: none; }

.summary-container {
  display: none; }

.verification-page .verification-header {
  display: none; }

.verification-page .rental-information {
  display: none; }

.verification-page .rate-taxes-fees {
  display: none; }

.verification-page #personal-information {
  display: none; }

.verification-page .optional-information {
  display: none; }

.verification-page .terms-panel {
  display: none; }

.btn .submit {
  display: none; }

/* POLICIES */
.modal-header {
  display: none; }

.hide.policy {
  display: none; }

.show.policy {
  display: block; }

.policy-tabs {
  display: none; }

.print-link {
  display: none; }

/* Receipt Print */
.location-summary_pickup {
  width: 48%;
  display: inline-block;
  padding: 25px 30px; }

.location-summary_dropoff {
  width: 48%;
  display: inline-block;
  padding: 25px 30px; }

.location-summary_arrow {
  width: 4%;
  display: inline-block;
  vertical-align: text-top;
  padding: 30px 0; }

.rental-charges {
  margin-top: 25px;
  width: 60%;
  display: inline-block; }

.information-section {
  margin-top: 25px;
  padding-left: 25px;
  width: 40%;
  display: inline-block; }
