.colors.light-green {
  background-color: #6fc099; }

.colors.green {
  background-color: #169a5a; }

.colors.dark-green {
  background-color: #15804d; }

.colors.darkest-green {
  background-color: #006639; }

.colors.white {
  background-color: #ffffff; }

.colors.lightest-gray {
  background-color: #f3f3f3; }

.colors.light-gray {
  background-color: #c3c3c3; }

.colors.mid-gray {
  background-color: #a3a4a5; }

.colors.gray {
  background-color: #a3a4a5; }

.colors.dark-gray {
  background-color: #656565; }

.colors.darkest-gray {
  background-color: #393A3B; }

.colors.black {
  background-color: #181918; }

.colors.message-gold {
  background-color: #F6DB00; }

p.medium {
  font-family: "DINMedium", Arial, sans-serif; }

p.bold {
  font-family: "DINBold", Arial Black, Arial, sans-serif; }

p.heavy {
  font-family: "DINHeavy", Arial Black, Arial, Helvetica, sans-serif; }

/* parsys component */
div.par, div.rightpar {
  clear: both; }

div.parsys_column {
  height: 100%;
  width: 100%;
  float: left;
  border: 0;
  vertical-align: top;
  padding: 0;
  margin: 0; }

div.section {
  /* Property added to avoid IE hasLayout issue on paragraphs
       see #20817 - IE6: div around Drag Components image not big enough
    */
  zoom: 1; }

div.parsys_column .section {
  overflow: hidden;
  width: 100%; }

/* column control layouts */
div.cq-colctrl-cols {
  width: 100%;
  float: left; }

div.cq-colctrl-default {
  width: 100%; }

/* layout 0 : 50% 50% ( grid6 + grid6 ) */
div.cq-colctrl-lt0-c0 {
  width: 680px;
  margin-right: 10px; }

div.cq-colctrl-lt0-c1 {
  width: 340px;
  margin-left: 10px; }

/* layout 1 : 33% 33% 33%( grid4 + grid4 + grid4 ) */
div.cq-colctrl-lt1-c0 {
  width: 220px;
  margin-right: 10px; }

div.cq-colctrl-lt1-c1 {
  width: 220px;
  margin-left: 10px;
  margin-right: 10px; }

div.cq-colctrl-lt1-c2 {
  width: 220px;
  margin-left: 10px; }

/* layout 2: 16% 16% 16% 33% ( grid2.6 + grid2.6 + grid2.6 + grid4 ) */
div.cq-colctrl-lt2-c0 {
  width: 140px;
  margin-right: 10px; }

div.cq-colctrl-lt2-c1 {
  width: 140px;
  margin-left: 10px;
  margin-right: 10px; }

div.cq-colctrl-lt2-c2 {
  width: 140px;
  margin-left: 10px;
  margin-right: 10px; }

div.cq-colctrl-lt2-c3 {
  width: 220px;
  margin-left: 10px; }

/* layout 3: 4 x 25% ( grid3 + grid3 + grid3 + grid3 ) */
div.cq-colctrl-lt3-c0 {
  width: 160px;
  margin-right: 10px; }

div.cq-colctrl-lt3-c1 {
  width: 160px;
  margin-left: 10px;
  margin-right: 10px; }

div.cq-colctrl-lt3-c2 {
  width: 160px;
  margin-left: 10px;
  margin-right: 10px; }

div.cq-colctrl-lt3-c3 {
  width: 160px;
  margin-left: 10px; }

/* layout 4: 5 x 20% ( grid2.5 + grid2.5 + grid2.5 + grid2.5 + grid2.5 ) */
div.cq-colctrl-lt4-c0 {
  width: 124px;
  margin-right: 10px; }

div.cq-colctrl-lt4-c1 {
  width: 124px;
  margin-left: 10px;
  margin-right: 10px; }

div.cq-colctrl-lt4-c2 {
  width: 124px;
  margin-left: 10px;
  margin-right: 10px; }

div.cq-colctrl-lt4-c3 {
  width: 124px;
  margin-left: 10px;
  margin-right: 10px; }

div.cq-colctrl-lt4-c4 {
  width: 124px;
  margin-left: 10px; }

/* widepage layouts */
/* layout 5 : 50% 50% ( grid8 + grid8 ) */
div.cq-colctrl-lt5-c0 {
  width: 460px;
  margin-right: 10px; }

div.cq-colctrl-lt5-c1 {
  width: 460px;
  margin-left: 10px; }

/* layout 6 : 25% 25% ( grid4 + grid4 + grid4 + grid4) */
div.cq-colctrl-lt6-c0 {
  width: 220px;
  margin-right: 10px; }

div.cq-colctrl-lt6-c1 {
  width: 220px;
  margin-left: 10px;
  margin-right: 10px; }

div.cq-colctrl-lt6-c2 {
  width: 220px;
  margin-left: 10px;
  margin-right: 10px; }

div.cq-colctrl-lt6-c3 {
  width: 220px;
  margin-left: 10px; }

div#pangui_iFrameContent {
  width: auto;
  box-sizing: border-box;
  background-color: transparent;
  font-family: "DINRegular", Arial, sans-serif; }
  div#pangui_iFrameContent * {
    box-sizing: border-box; }
  div#pangui_iFrameContent .pangui_manualBlock {
    padding: 10px 0; }
    @media (max-width: 29.75em) {
      div#pangui_iFrameContent .pangui_manualBlock {
        padding: 0; } }
    div#pangui_iFrameContent .pangui_manualBlock .pangui_errors {
      background-color: #ffffff;
      padding: 0;
      margin: 0; }
  div#pangui_iFrameContent label {
    display: block; }
  div#pangui_iFrameContent input[type='text'],
  div#pangui_iFrameContent input[type='number'] {
    width: 100%;
    -webkit-appearance: none; }
  div#pangui_iFrameContent select {
    margin: 5px 0;
    height: 30px;
    width: 90%;
    padding: 0 .65rem;
    border: 1px solid #c3c3c3;
    font-size: 100%; }
    div#pangui_iFrameContent select:focus {
      border-color: #169a5a;
      outline: none; }
  div#pangui_iFrameContent .block {
    padding-top: 0; }
  div#pangui_iFrameContent input {
    padding: 0.5em .65rem;
    border: 1px solid #c3c3c3;
    font-size: 100%; }
    div#pangui_iFrameContent input:focus {
      border-color: #169a5a;
      outline: none; }
  div#pangui_iFrameContent #pangui_monthYearBlock {
    width: 70%;
    float: left; }
    @media (max-width: 29.75em) {
      div#pangui_iFrameContent #pangui_monthYearBlock {
        width: 100%; } }
    div#pangui_iFrameContent #pangui_monthYearBlock span {
      width: 50%; }
    div#pangui_iFrameContent #pangui_monthYearBlock span:first-child {
      display: inline-block;
      float: left; }
    div#pangui_iFrameContent #pangui_monthYearBlock span:last-child {
      display: inline-block;
      float: left; }
  div#pangui_iFrameContent #pangui_secCodeBlock {
    width: 30%;
    float: left; }
    @media (max-width: 29.75em) {
      div#pangui_iFrameContent #pangui_secCodeBlock {
        width: 50%; } }
  div#pangui_iFrameContent input.pangui_btnSubmit {
    background-color: #169a5a; }
  div#pangui_iFrameContent #pangui_cid {
    text-decoration: none;
    color: #169a5a;
    margin-top: 3px;
    display: block; }
  div#pangui_iFrameContent #pangui_buttons dt {
    width: 100%; }
    div#pangui_iFrameContent #pangui_buttons dt .pangui_btnSubmit {
      border-radius: 0;
      border: 0;
      width: 30%;
      float: right; }
      @media (max-width: 29.75em) {
        div#pangui_iFrameContent #pangui_buttons dt .pangui_btnSubmit {
          width: 60%; } }
