/* ===================================
/* eleman.net - is ilanlari sitesi */
/* ===== TYPOGRAPHY */

@import "fonts/fonts.css";
/*@import "responsive.css";*/
@import "font-awesome.min.css";


/* ===================================
/* ===== BODY */

body {
    background: #f5f5f5;
    font-family: 'OpenSansRegular', Arial, sans-serif;
    font-weight: normal;
}

a {
    transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
}

a, a:hover {
    text-decoration: none;
}

b, strong, .bold, h1, h2, h3, h4, h5, h6 {font-family: 'OpenSansBold', Arial, sans-serif;font-weight: normal;}

label, th {font-family: 'OpenSansSemiBold', sans-serif;font-weight: normal;}
label.checkbox-inline, label.radio.inline {font-family: 'OpenSansRegular', sans-serif;font-weight: normal;font-size:12px;}

.semibold {font-family: 'OpenSansSemiBold', Arial, sans-serif;font-weight: normal;}

.light {font-family: 'OpenSansLight', Arial, sans-serif;font-weight: normal;}

.gizle {display: none;}

/* ===================================
/* ===== HEADER */

#header {
    width: 100%;
    background: #fff;
}

#header #logo-slogan a {display: block;width: 257px;height: 60px;margin:10px 0;}
#header #logo-slogan a img {width: 100%}


/* ===================================
/* ===== BUTTON & ICONS */
.btn-eo {
    border:none;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    font-family: 'OpenSansRegular', Arial, sans-serif;
    font-weight: normal;
    behavior: url(../pie-files/PIE.htc);
}
.btn-default {
    background-color: #ebebeb;
}
.btn-default:hover {
    background-color: #dbdbdb;
}
.btn-blue {
    color:#fff;
    background-color:#0084ca;
}
.btn-blue:hover, .button.button-blue:hover {
    color:#fff;
    background-color:#007CC0;
}
.btn-orange {
    color:#fff;
    background: #F08F00;
}
.btn-orange:hover, .button.button-orange:hover {
    color:#fff;
    background: #E28701;
}

.btn-danger {
    color:#fff;
    background: #d02525;
}

.btn-danger:hover {
    color:#fff;
    background: #BD2222;
}

.btn-green {
    background: #9cb915;
}

.btn-green:hover {
    background: #8DA814;
}

.btn-dark-blue {
    background: #286cac;
}

.btn-white {
   background: #fff;
   border: 1px solid #ccc;
   color: #666;
}

.btn-white:hover,
.btn-white:focus,
.btn-white:active,
.btn-white.active,
.open .dropdown-toggle.btn-white {
   -moz-box-shadow: none;
   -webkit-box-shadow: none;
   box-shadow: none;
   background: #f7f7f7;
}

.button {
    border: 0;
    height: 40px;
    font-size: 12px;
    padding: 11px 15px;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    color: #ffffff !important;
    text-decoration: none !important;
    font-family: 'OpenSansBold', Arial, sans-serif;
    font-weight: normal;
    behavior: url(../pie-files/PIE.htc);
}

.button.button-big {
    height: auto;
    font-size: 14px;
    padding: 20px 40px;
}

.button.button-block {
    float: none;
    display: block;
    text-align: center;
}

.button.button-blue {
    background: #0084ca;
}

.button.button-orange {
    background: #F08F00;
}

.button.button-danger {
    background: #d02525;
}

.button.button-green {
    background: #9cb915;
}

.button.button-dark-blue {
    background: #286cac;
}

.button.button-default {
    background: #f9f9f9;
    color: #5b5b5b !important;
}

.button.button-small {
    padding: 6px 25px;
}

.button.button-edit:hover {
    color: #ffffff !important;
    background: #0e7fb4;
}

.button.button-delete:hover {
    color: #ffffff !important;
    background: #d02525;
}

.button.button-blue:hover {

}

/*** Icons ***/

.mini-icon {
    float: left;
    margin-right: 5px;
    display: inline-block;
    background: url("../img/sprite.png");
}

.m-icon-plus {
    background-position: -9px -10px;
    width: 19px; height: 19px;
}
.m-icon-screen {
    background-position: -47px -13px;
    width: 18px; height: 15px;
}
.m-icon-speed {
    background-position: -186px -97px;
    width: 24px; height: 24px;
}
.m-icon-time {
    margin-top: 1px;
    background-position: -224px -97px;
    width: 24px; height: 24px;
}
.m-icon-group {
    background-position: -263px -98px;
    width: 24px; height: 24px;
}
.m-icon-circle {
    margin-top: 3px;
    background-position: -302px -100px;
    width: 24px; height: 24px;
}
.m-icon-stack {
    background-position: -10px -212px;
    width: 27px; height: 27px;
}
.m-icon-book {
    background-position: -56px -215px;
    width: 26px; height: 24px;
}
.m-icon-cloud {
    background-position: -99px -215px;
    width: 27px; height: 25px;
}
.m-icon-list {
    background-position: -141px -213px;
    width: 20px; height: 23px;
}
.m-icon-marker {
    background-position: -176px -214px;
    width: 20px; height: 26px;
}
.m-icon-user {
    background-position: -9px -92px;
    width: 26px; height: 26px;
}
.m-icon-cv {
    background-position: -60px -92px;
    width: 26px; height: 26px;
}
.m-icon-all {
    background-position: -112px -92px;
    width: 26px; height: 26px;
}
.m-icon-question {
    background-position: -93px -10px;
    width: 22px; height: 22px;
}
.m-icon-danger {
    background-position: -56px -271px;
    width: 33px; height: 28px;
}
.m-icon-cfb {
    background-position: -291px -398px;
    width: 13px; height: 13px;
}
.m-icon-cln {
    background-position: -291px -423px;
    width: 13px; height: 13px;
}
.m-icon-tick {
    background-position: -292px -449px;
    width: 13px; height: 15px;
}

/* ===================================
/* ===== SEARCH */

#breadcrumb {
    width: 100%;
    min-height: 270px;
    background:#195DAF url(../img/is_arama_bg.png) no-repeat center top;
}
#breadcrumb.breadcrumb-small.firma {background: #3F822B url("../img/search-bg-firma.jpg") repeat-x center top;}

#breadcrumb.breadcrumb-big {
    min-height: 270px;
}

#breadcrumb.breadcrumb-big div.container {position: relative;}

#breadcrumb.breadcrumb-small {
    min-height: 80px;
    background:#195DAF url(../img/eo_menu_bg.gif) repeat-x left top;
}

#breadcrumb.breadcrumb-big .container {
    text-align: center;
    font-weight: normal !important;
}

#breadcrumb.breadcrumb-big .search-wrapper form { width: 700px }
#breadcrumb.breadcrumb-small .search-wrapper form { width: 100% }

#breadcrumb .search-wrapper form {
    position: relative;
    display: inline-block;
}

#breadcrumb .search-wrapper form > select,
#breadcrumb .search-wrapper form > input,
#breadcrumb .search-wrapper form > button {
    border: 0;
    outline: 0;
    position: absolute;
    color: #999999;
}

#breadcrumb .search-wrapper form > select {
    top: 12px;
    z-index: 10;
    right: 130px;
}

#breadcrumb .search-wrapper form > input {
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 15px 16px 25px;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    font-family: 'OpenSansLight', Arial, sans-serif;
    font-weight: normal;
    font-size: 12px;
    color: #999999;
    behavior: url(../pie-files/PIE.htc);
}

#breadcrumb .search-wrapper form > button {
    top: 4px;
    right: 4px;
    font-size: 14px;
    padding: 10px 35px;
    z-index: 98;
    font-family: 'OpenSansBold', Arial, sans-serif;
    color:#fff;
}

.mobile-search input, .mobile-search select, .mobile-search button {display: block;width: 100%;margin-top:10px;} 

#breadcrumb h3, #breadcrumb h4 {
    color: #ffffff;
    font-size: 40px;
    padding-top: 33px;
    margin-top: 7px;
    font-family: 'OpenSansLight', Arial, sans-serif;
    font-weight: normal;
}

#breadcrumb h3 > span {
    font-family: 'OpenSansBold', Arial, sans-serif;
    font-weight: normal;
}

#breadcrumb h4 {padding-top:8px;margin-bottom: 20px;font-size:26px;}

.breadcrumb-small .breadcrumb-links {
    display: inline-block;
}

.breadcrumb-small .breadcrumb-links a {
    float: left;
    color: #ffffff;
    font-size: 14px;
    display: block;
    padding:0 14px 0 10px;
    height: 32px;
    line-height: 32px;
    text-indent: 5px;
    margin-right: 20px;
    margin-top: 20px;
    font-family: 'OpenSansLight', Arial, sans-serif;
    font-weight: normal;
    border:solid 1px transparent;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    behavior: url(../pie-files/PIE.htc);
}
.breadcrumb-small .breadcrumb-links a:hover {
    border:solid 1px rgba(255,255,255,.1);
}

.breadcrumb-small .breadcrumb-links a.active:after {
    content: '';
    position: absolute;
    width: 10px; height: 10px;
    background: #f5f5f5;
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    left: 50%; bottom: -34px;
}

.breadcrumb-small .breadcrumb-links a.active,
.breadcrumb-small .breadcrumb-links a:hover {
    color: #ffffff;
}

.breadcrumb-big .breadcrumb-links {
    margin-top: 50px;
}

.breadcrumb-big .breadcrumb-links a {
    color: #fff;
    font-size: 12px;
    line-height: 22px;
    display: inline-block;
    padding: 5px 0;
    font-family: 'OpenSansLight', Arial, sans-serif;
    font-weight: normal;
    margin:0 5px;
}

.breadcrumb-big .breadcrumb-links a { color /*\**/: white\9 } /* ie8 ve ie 7 */
*+html .breadcrumb-big .breadcrumb-links a {color:white} /* ie 7 */

.breadcrumb-big .breadcrumb-links a i {
    padding-right: 2px;
    color:#fff;
}

.breadcrumb-big .breadcrumb-links a:hover {
    color: #fff;
}
.breadcrumb-big .breadcrumb-links a:hover i {color:#fff;}

.breadcrumb-small .breadcrumb-links a:hover .m-icon-user {
    background-position: -9px -127px;
}

.breadcrumb-small .breadcrumb-links a:hover .m-icon-cv {
    background-position: -60px -127px;
}

.breadcrumb-small .breadcrumb-links a:hover .m-icon-all {
    background-position: -112px -127px;
}


/* ===================================
/* ===== MAIN ADS */

#main-ads {
    padding: 20px 0 0 0;
    background: #fff;
}

#main-ads .ma-wrapper {
    background: #fff;
    text-align: center;
    margin-bottom: 20px;
}

#main-ads img {
    width: 100%;
}

#popular-staffs a {
    background: #ffffff;
    display: block;

}

#popular-staffs {
    margin-top: 20px;
    text-align: center;
}

#popular-staffs ul {
    width: 100%;
    display: inline-block;
}

#popular-staffs ul li {
    float: left;
    width: 14.26%;
    border-right: 1px solid #ececec;
}

#popular-staffs ul li:nth-child(n+8) {
    -webkit-box-shadow: 0 4px 0 -2px rgba(189,189,189,.5);
    -moz-box-shadow:    0 4px 0 -2px rgba(189,189,189,.5);
    box-shadow:         0 4px 0 -2px rgba(189,189,189,.5);
}

#popular-staffs ul li:last-child {
    /*border-right: none;*/
}

#popular-staffs ul li a {
    display: block;
    height:98px;
    background: #ffffff;
    overflow: hidden;
    padding: 15px 15px 10px;
}

#popular-staffs ul li span {
    display: block;
    font-size: 11px;
    color: #272a2b;
}

#popular-staffs ul li img {
    width:90px;
    height:30px;
    margin-bottom: 5px;
}


/* ===================================
/* ===== SPONSORS */

#sponsors {
    width: 100%;
    padding: 10px 0;
    background: #fafafa;
    border-top: 1px solid #e5e5e5;
}

#sponsors ul {
    padding: 0;
    list-style-type: none;
}

#sponsors ul li {
    width: 20%;
    float: left;
    text-align: center;
}

#sponsors ul li:last-child {
    margin-right: 0;
}


/* ===================================
/* ===== FOOTER */

#footer {
    width: 100%;
    min-height: 100px;
    background: #ffffff;
    padding: 20px 0 20px;
    border-top: 1px solid #f1f1f1;
}

#footer .footer-logo {
    padding: 0 0 8px;
    margin-bottom: 10px;
    border-bottom: 1px solid #f2f2f2;
}

#footer .footer-logo .fl-p1,
#footer .footer-logo .fl-p2 {
    color: #5b5b5b;
    font-size: 27px;
	line-height: 1;
}

#footer .footer-logo .fl-p1 {
    font-family: 'OpenSansBold', Arial, sans-serif;
    font-weight: normal;
}
#footer .footer-logo .fl-p2 {
    margin-left: -6px;
    font-family: 'OpenSansLight', Arial, sans-serif;
    font-weight: normal;
}

#footer .footer-logo .fl-p3 {
    color: #878787;
    font-size: 16px;
    font-family: 'OpenSansBold', Arial, sans-serif;
    font-weight: normal;
}

#footer .footer-logo .fl-tagline {
    color: #b2b2b2;
    font-size: 9px;
    display: block;
    font-family: 'OpenSansLight', Arial, sans-serif;
    font-weight: normal;
}
#footer .contact-info {border-bottom: 1px solid #f2f2f2;}

#footer .social-links {border-bottom: 1px solid #f2f2f2;margin-bottom:10px;padding-top:0;}

#footer .social-links a {
    color: #777777;
    font-size: 2em;
    padding: 5px 5px 5px 0;
}

#footer .social-links a:hover {
    color: #0084ca;
}
#footer .social-links a span {height: 0;overflow: hidden;position: absolute;}

#footer .mobile-apps a {background-color: #777777;color:#fff;border-color: #777777;}
#footer .mobile-apps a:hover {background-color: #0084ca;border-color: #0084ca;}
#footer .mobile-apps a i {font-size:1.2em;}

#footer .copyright {
    color: #777777;
    text-align: right;
    font-size: 12px;
    padding: 0;
}

#footer .copyright a {color:#777777;}

#footer .footer-link h6 {
    font-size: 17px;
    margin-top: 13px;
    font-family: 'OpenSansBold', Arial, sans-serif;
    font-weight: normal;
}

#footer .footer-link ul li a {
    color: #777777;
    font-size: 12px;
    display: block;
    padding: 3px 0;
}
#footer .footer-link ul li a:hover {
    color: #3fa1d4;
}


/* ===================================
/* ===== WARNING */

#warning {
    width: 100%;
    padding: 20px 0;
    background: #fafafa;
    border-top: 1px solid #e2e2e2;
    text-align: justify;
}

#warning p, #warning a, #warning b, #warning strong {
    color: #aaa;
    display: inline;
    font: normal 10px/12px 'OpenSansLight', Arial, sans-serif;
}


/* ===================================
/* ===== PORTLET */

.portlet-head {
    color: #ffffff;
    background: #3fa1d4;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    behavior: url(../pie-files/PIE.htc);
}
.portlet-head a {color:#ffffff;}
.portlet-head ul.nav {
    padding: 10px 10px 0 10px;
}
.portlet-head ul.nav-tabs {border-bottom: none;}
.portlet-head ul.nav-tabs > li {margin-bottom: 0;}
.portlet-head ul.nav > li {
    margin-right: 5px;
}

.portlet-head ul.nav > li > a {
    color: #ffffff;
    font-size: 13px;
    line-height: 24px;
    padding: 5px 7px 2px;
    background-color: #65b2dc;
    font-family: 'OpenSansSemibold', Arial, sans-serif;
    font-weight: normal;
}
.portlet-head ul.nav > li > a:hover,
.portlet-head ul.nav > li.active > a {
    color: #0084ca;
    background-color: #ffffff;
}

.portlet-head ul.nav > li > a:hover .m-icon-speed,
.portlet-head ul.nav > li.active > a .m-icon-speed {
    background-position: -186px -127px;
    width: 24px; height: 24px;
}
.portlet-head ul.nav > li > a:hover .m-icon-time,
.portlet-head ul.nav > li.active > a .m-icon-time {
    background-position: -224px -127px;
    width: 24px; height: 24px;
}
.portlet-head ul.nav > li > a:hover .m-icon-group,
.portlet-head ul.nav > li.active > a .m-icon-group {
    background-position: -263px -128px;
    width: 24px; height: 24px;
}
.portlet-head ul.nav > li > a:hover .m-icon-circle,
.portlet-head ul.nav > li.active > a .m-icon-circle {
    background-position: -302px -130px;
    width: 24px; height: 24px;
}

.portlet-body {
    margin-bottom: 15px;
    background: #ffffff;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font-family: 'OpenSansRegular', Arial, sans-serif;
    font-weight: normal;
    behavior: url(../pie-files/PIE.htc);
}

.ads-group {
    margin-top: 20px;
}

.ads-group .portlet-body .ag-list {
    width: 50%;
    float: left;
}

.ads-group .nav-tabs > li > a:hover {
    border-color: #ffffff #ffffff #ffffff;
}

.portlet-body .ag-list {
    position: relative;
    padding: 5px 7px;
	line-height: 1.4;
    border-left: 5px solid #ffffff;
    border-top: 1px solid #efefef;
    transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
}

.ads-group .portlet-body .ag-list:nth-child(1),
#extra-contents .portlet-body .ag-list:nth-child(1),
.ads-group .portlet-body .ag-list:nth-child(2) {
    border-top: 0;
}

.portlet-body .ag-list:hover {
    border-left-color: #e17a27;
}

.portlet-body .ag-list .agl-title {
	display: block;
    margin: 0;
    font-size: 14px;
    font-family: 'OpenSansSemibold', Arial, sans-serif;
    font-weight: normal;
}
.portlet-body .ag-list .agl-title a {
    color: #0084ca;
	line-height: 1;
}

.portlet-body .ag-list:hover .agl-title a {
    color: #e17a27;
}

.portlet-body .ag-list .agl-is-ilani-detayi {
    color: #3a3a3a;
    font-family: 'OpenSansLight', Arial, sans-serif;
    font-weight: normal;
    font-size: 12px;
}


.portlet-body .ag-list .agl-company,
.portlet-body .ag-list .agl-location {
    color: #3a3a3a;
    font-family: 'OpenSansLight', Arial, sans-serif;
    font-weight: normal;
}

.portlet-body .ag-list .agl-location {
    font-size: 12px;
}

.portlet-body .ag-list .agl-company {
    font-size: 14px;
    position: absolute;
    top: 5px; right: 15px;
}

.portlet-body .ag-list .agl-link {
    position: absolute;
    top: 12px; right: 15px;
    display: none;
    padding:3px 20px;
}

.portlet-head > h5, .portlet-head > h2 {
    margin:10px 0;
    padding: 2px 10px 0;
    display: inline-block;
    text-indent: 5px;
    font:normal 14px/20px 'OpenSansBold', Arial, sans-serif;
}

/* ===================================
/* ===== FEATURED ADS */

#featured-ads {
    margin-top: 15px;
}

#featured-ads .portlet-body {
    padding: 30px 15px 30px 0;
}

#featured-ads .caroufredsel_wrapper {
    min-height: 50px;

}

#featured-ads-carousel li {
    float: left;
    padding-left: 25px;
    border-right: 1px solid #efefef;
}


/* ===================================
/* ===== EXTRA CONTENTS */

#extra-contents {
    margin-top: 15px;
}

#extra-contents .portlet-blog > div {
    padding: 15px;
}

/*#extra-contents .portlet-blog img {
    height: 208px; 
}*/

#extra-contents .portlet-blog h5 {
    color: #585858;
    margin: 6px 0 5px;
    font-family: 'OpenSansBold', Arial, sans-serif;
    font-weight: normal;
}

#extra-contents .portlet-blog p {
    color: #585858;
    font-size: 12px;
}

#extra-contents .portlet-blog span.pb-date {
    color: #585858;
    font-size: 12px;
    display: block;
    margin-bottom: 5px;
    font-family: 'OpenSansLight', Arial, sans-serif;
    font-weight: normal;
}

#extra-contents .enet-sol {min-height:580px}
#extra-contents .enet-sol h6 {margin-top:0}
#extra-contents .enet-sol a img {width:100%}
#extra-contents h5.kr-baslik {background-color:#e9e9e9;padding:10px 15px !important;margin:0}
#extra-contents h5.kr-baslik a {color:#585858;}

#sectors-cities {
    margin-top: 10px;
    margin-bottom: 10px;
}

#sectors-cities .list-group {
    display: inline-block;
}

#sectors-cities .list-group .list-group-item {
    width: 50%;
    float: left;
    padding:5px; 
    font-size: 12px;
    display: inline-block;
    border-width: 0;
    border-top: 1px solid #efefef;
    font-family: 'OpenSansLight', Arial, sans-serif;
    font-weight: normal;
}

#sectors-cities .list-group .list-group-item .badge {
    background: #f3f3f3;
    font-size: 10px;
    color: #3a3a3a;
    font-family: 'OpenSansLight', Arial, sans-serif;
    font-weight: normal;
}

#sectors-cities .list-group .list-group-item a {
    color: #3a3a3a;
}
#sectors-cities .list-group .list-group-item a:hover {
    color: #0084ca;
}
#sectors-cities .list-group .list-group-item:hover span.badge {background-color: #0192DD;color:#fff;}

#sectors-cities .list-group .list-group-item:first-child {
    border-top-right-radius:0;border-top-left-radius:0;
}

#sectors-cities .list-group .list-group-item:nth-child(odd) {
    border-right-width: 1px;
}

#sectors-cities .list-group .list-group-item:nth-child(1),
#sectors-cities .list-group .list-group-item:nth-child(2) {
    border-top: 0;
}


/* ===================================
/* ===== SIDEBAR */

#sidebar .portlet-head > h5 {
    margin: 0;
    padding: 10px 10px 5px;
}

#side-links li a {
    display: block;
    padding: 8px 15px 8px 35px;
    color: #0084ca;
    border-bottom: 1px solid #cfcfcf;
    font-family: 'OpenSansSemibold', Arial, sans-serif;
    font-weight: normal;
    background-image: url('../img/sprite.png');
    background-repeat: no-repeat;
    background-color: #ffffff;
}

#all-ads { background-position: -458px -139px; }
#fav-firm { background-position: -458px -167px; }
#fav-ad { background-position: -458px -197px; }
#share-facebook { background-position: -458px -260px; }
#share-twitter { background-position: -458px -229px; }

#cv-update { background-position: -458px -292px; }
#cv-show { background-position: -458px -319px; }
#cv-print { background-position: -458px -346px; }
#cv-send { background-position: -458px -374px; }
#cv-via-email { background-position: -458px -404px; }
#account-setting { background-position: -458px -436px; }
#logout { background-position: -458px -464px; }

.all-ads .form-main-title {margin-bottom: 20px;padding:20px 0 5px 0}
.all-ads .form-main-title h1 {padding: 0;display:inline;font-size:20px}
.all-ads .form-main-title span {color:#0084ca}

#side-links li a:hover {
    text-decoration: underline;
}

#side-links li.active a {
    padding: 20px 35px;
    color: #ffffff;
    background-color: #eb7210;
    background-position:  -456px -54px;
    font-size: 14px;
    margin-bottom: 6px;
}

#side-links li:nth-child(2) a {
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    behavior: url(../pie-files/PIE.htc);
}

#side-links li:last-child a {
    -webkit-box-shadow: 0 4px 0 -2px rgba(189,189,189,.5);
    -moz-box-shadow:    0 4px 0 -2px rgba(189,189,189,.5);
    box-shadow:         0 4px 0 -2px rgba(189,189,189,.5);
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    behavior: url(../pie-files/PIE.htc);
}

/* ===================================
/* ===== USER EXPERIENCE */

#user-experience .portlet-body p {
    color: #3a3a3a;
    font-size: 15px;
    padding: 15px;
    margin-bottom: 0;
    line-height: 20px;
    font-family: 'OpenSansLight', Arial, sans-serif;
}

#user-experience .portlet-body span {
    display: block;
    text-align: left;
    color: #252525;
    font-size: 14px;
    padding: 0 15px 15px 15px;
    font-family: 'OpenSansSemibold', Arial, sans-serif;
    font-weight: normal;
}


/* ===================================
/* ===== AD DETAIL */
#detail .d-title {
    color: #3a3a3a;
    padding: 20px;
    position: relative;
    border-bottom: 4px solid #0084ca;
    background-color: #D9ECF6;
    border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    behavior: url(../pie-files/PIE.htc);
}

#detail .d-title .d-firm-logo {
    position: absolute;
    top: 24px; right: 26px;
    border-color:#ccc;
    padding:5px;
}
#detail .d-title .d-firm-logo:hover {border-color:#9FD0E9;}

#detail .d-title > h1, #detail .d-title > h2 {
    font-size: 22px;
    font-weight: normal;
    margin: 10px 0 10px 0;
    font-family: 'OpenSansSemibold', Arial, sans-serif;
}

#detail .d-title > h3 {
    font-size: 14px;
    padding:0;
    margin:0;
    font-family: 'OpenSansLight', Arial, sans-serif;
    font-weight: normal;
}

#detail .d-description {
    padding: 20px 20px 0;
}

#detail .d-description li {
    margin-bottom: 2px;
}

#detail .d-description li label,
#detail .d-description li span {
    color: #3a3a3a;
    font-size: 15px;
    display: inline-block;
}

#detail .d-description li label {
    width: 140px;
    margin-right: 25px;
    font-family: 'OpenSansSemibold', Arial, sans-serif;
    font-weight: normal;
    font-size: 14px;
    vertical-align: top;
}

#detail .d-description li span {
    font-family: 'OpenSansLight', Arial, sans-serif;
    font-weight: normal;
    font-size: 14px;
}

#detail .d-sub-title {
    padding: 10px 0 5px 0;
    margin:10px 20px;
    color: #0084ca;
    font-family: 'OpenSansSemibold', Arial, sans-serif;
    font-weight: normal;
    font-size: 16px;
    border-bottom: 1px solid #cdcdcd;
}

#detail .d-information {
    color: #3a3a3a;
    font-size: 15px;
    padding: 10px 20px;
}

#detail .d-information p {
    margin-bottom: 2px;
}

#ilan-sosyal {margin-left: 20px}

#detail #adsense-field img {
    padding: 1px;
    background: #ffffff;
    -webkit-box-shadow: 0 4px 0 -2px rgba(189,189,189,.5);
    -moz-box-shadow:    0 4px 0 -2px rgba(189,189,189,.5);
    box-shadow:         0 4px 0 -2px rgba(189,189,189,.5);
}

#detail #extra-contents {
    margin-top: 0;
}

#related-tags .portlet-body, #ilan-firma-info .portlet-body {
    padding: 10px;
	line-height: 1.2;
	font-size:12px;
}

#related-tags .portlet-body a {
    color: #3a3a3a;
    display: inline-block;
    padding: 0;
    font-size: 10px;
}

#related-tags .portlet-body a:hover {
    color: #0084ca;
}

#detail .complain-button {
    margin: 30px 0;
}

#detail .complain-button .button-danger {
    font-size: 10px;
}

#detail .alert.alert-danger {
    margin: 10px 20px;
}
#detail .alert.alert-danger i.mini-icon {
    margin-right: 15px;
}

#detail .apply-ad-button {
    text-align: left;
    margin: 10px 0 10px 0;
}

#detail .apply-ad-button > a.btn-orange {
    height: 50px;
    margin: 20px 0;
    padding: 17px 50px;
    font-family: 'OpenSansExtraBold', sans-serif;
}

#detail .apply-ad-button > a.btn-blue {padding-left:20px;padding-right: 20px;}

#detail.firm-detail .d-title {
    background-color: #fff;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    behavior: url(../pie-files/PIE.htc);
}
#detail.firm-detail .d-sub-title {
    margin:20px 0;
}
#detail.firm-detail .d-title .d-firm-logo {
    padding:10px;
}
.firm-detail .d-title .sektor, .d-title .sehir, .d-title .web {display: inline;font-size: 12px;font-weight: normal;}
.firm-detail .external_link {background: url(../img/external_link.png) no-repeat right center;padding-right:12px}
/* ===================================
/* ===== REGISTERED COMPANY */

#registered-company ul li {
    text-align: center;
    padding: 20px 0;
    border: 1px solid #efefef;
}

#registered-company ul li:last-child {
    border-bottom: none;
}

#registered-company ul li img {
    width: 100%;
}


/* ===================================
/* ===== FORM CONTENT */
form input[type=text],
form input[type=email],
form input[type=password],
form textarea,
form select {
    padding: 8px;
    border: 1px solid #e6e6e6;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    box-shadow: inset 1px 2px 9px -6px;
    behavior: url(../pie-files/PIE.htc);
}

form .help-block, form .help-inline, form label.error {font-size: 12px;}

#form-content .form-inner {
    padding:0 10px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background:  #ffffff;
    behavior: url(../pie-files/PIE.htc);
}

#form-content .form-inner .form-main-title {
    margin-bottom: 20px;
}

#form-content .form-inner .form-main-title.bordered-title > h1 {
    border-bottom: 1px solid #e8e8e8;
}

#form-content .form-inner .form-main-title > h1 {
    color: #3a3a3a;
    font-size: 22px;
    font-weight: normal;
    padding: 20px 10px 10px;
    margin: 0 0 5px 0;
    font-family: 'OpenSansBold', Arial, sans-serif;
}

#form-content .form-inner .form-main-title > h1 > span {
    color: #0084ca;
}

#form-content .form-inner .form-main-title > p {
    color: #3a3a3a;
    font-size: 15px;
    padding-left: 20px;
    font-family: 'OpenSansLight', Arial, sans-serif;
    font-weight: normal;
}

#form-content .form-inner .form-main-title > p > span {
    color: #e17a27;
    font-family: 'OpenSansBold', Arial, sans-serif;
    font-weight: normal;
}

#form-content .form-inner .form-title {
    color: #0084ca;
    padding: 10px 20px;
    border-bottom: 1px solid #efefef;
    font-family: 'OpenSansLight', Arial, sans-serif;
    font-weight: normal;
}

.form .form-items {
    padding: 0;
}
.form .form-items.small {
    width: 550px;
}
.form .form-items.big {
    width: 100%;
}
.form .form-items.big input[type=text],
.form .form-items.big input[type=email],
.form .form-items.big input[type=password] {
    width: 100%;
}

.form .form-items.big select.multipled {
    width: 100%;
}

.form .form-items .input-content,
.form .form-items .select-content,
.form .form-items .select-full-content,
.form .form-items .radio-content,
.form .form-items .checkbox-content {
    float: left;
    margin-bottom: 15px;
}

.form .form-items .textarea-content {
    margin-bottom: 15px;
}

.form .form-items .radio-content label,
.form .form-items .checkbox-content label {
    margin-bottom: 8px;
    padding-bottom: 4px;
    border-bottom: 1px solid #e8e8e8;
}

.form .form-items label,
.form .form-items input[type=text],
.form .form-items input[type=password],
.form .form-items textarea,
.form .form-items select {
    color: #252525;
    font-size: 13px;
    outline: 0 none;
    font-family: 'OpenSansLight', Arial, sans-serif;
    font-weight: normal;
}

.form .form-items label.blue {
    font-size: 14px;
    margin-bottom: 10px;
    font-family: 'OpenSansSemibold', Arial, sans-serif;
    font-weight: normal;
}

.form .form-items .radio-content {
    width: 49%; height: 60px;
}

.form .form-items .radio-content .iradio_square-blue {
    display: inline-block;
    width: 23px;
}

.form .form-send .icheckbox_square-blue {
    float: left;
    margin-right: 10px;
}

.form .form-send > div {
    vertical-align: top;
}

.form .form-items .radio-content span {
    display: inline-block;
    vertical-align: top;
    color: #252525;
    font-size: 12px;
    padding-top: 3px;
    padding-right: 10px;
    font-family: 'OpenSansLight', Arial, sans-serif;
}

.form .form-items .select-content a,
.form .form-items .select-full-content a {
    color: #252525;
    font-size: 12px;
    text-decoration: none;
    margin-top: 4px;
}

.form .form-items input[type=text],
.form .form-items input[type=email],
.form .form-items input[type=password],
.form .form-items textarea {
    padding: 8px;
    border: 1px solid #e6e6e6;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    box-shadow: inset 1px 2px 9px -6px;
    width: 100%;
    behavior: url(../pie-files/PIE.htc);
}

.form .form-items textarea {
    min-height: 150px;
}

.form .form-items label {
    display: block;
    margin-bottom: 5px;
}

.form .form-items .input-half {
    width: 49%;
}

.form .form-items .input-full {
    width: 100%;
    position: relative;
}

.form .form-items .input-full a {
    position: absolute;
    top: 8px;
    right: 5px;
    height: 22px;
    display: inline-block;
    line-height: 22px;
}

.form .form-items .input-full a > i.mini-icon {
    float: right;
    margin-left: 5px;
}

.form .form-error,
.form .form-send {
    margin: 0 20px;
}

.form .form-items.big .form-send {
    width: 100%;
    margin: 20px 0;
}

.form .form-items.big .form-send input[type=submit] {
    margin-top: 0;
}

.form .form-items.big .form-send ul > li:nth-child(1) { width: 30% }
.form .form-items.big .form-send ul > li:nth-child(2) { width: 40% }
.form .form-items.big .form-send ul > li:nth-child(3) { width: 50%; margin-top: 10px; }

select.multipled {
    padding: 5px;
    font-size: 12px;
    font-family: 'OpenSansLight', Arial, sans-serif;
}

select.multipled option:nth-child(2n) {
    background: #eeeeee;
}

.form-error {
    border: 1px dashed #ececec;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    behavior: url(../pie-files/PIE.htc);
}

.form-error .fe-icon {
    float: left;
    width: 60px;
    min-height: 75px;
    position: relative;
    background: #f8f8f8;
}

.form-error i.mini-icon {
    width: 33px; height: 28px;
    background-position: -116px -271px;
    margin-top: -14px;
    margin-left: -17px;
    top: 50%; left: 50%;
    position: absolute;

}

.form-error ul {
    float: left;
    padding: 10px;
    background: #ffffff;
}

.form-error ul li,
.form .form-send {
    color: #252525;
    font-size: 13px;
    font-family: 'OpenSansLight', Arial, sans-serif;
}

.m-icon-alert-gray {
    background-position: -116px -271px;
    width: 60px; height: 75px;
    background: #f8f8f8;
}

.form .form-send {
    margin: 20px;
}
.form .form-send-wm {
    margin: 20px 0 !important;
}

.form .form-send input[type=submit] {
    border: 0;
    margin-top: -35px;
    padding: 11px 25px;
}

.form .form-send .multiple-checks li {
    display: inline-block;
}

.form .add-more {
    margin: 20px 0;
    padding: 5px 20px;
    position: relative;
    background: #f8f8f8;
    border-left: 4px solid #0084ca;
}

.form .add-more h4 {
    font-family: 'OpenSansLight', Arial, sans-serif;
}

/* ===================================
/* ===== YOUR CHOICES */

#your-choices .portlet-body {
    padding: 15px;
    min-height: 250px;
}

#your-choices .portlet-body .form-error p {
    font-size: 12px;
    padding: 10px 10px 10px 75px;
    font-family: 'OpenSansLight', Arial, sans-serif;
}

#your-choices .portlet-body .form-error .fe-icon {
    min-height: 65px;
}

#adsense-field {
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background: #ffffff;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 20px;
    behavior: url(../pie-files/PIE.htc);
}

#search-filter .search-filter-wrapper {
    padding: 20px;
    border-bottom: 1px solid #e8e8e8;
}

#search-filter .search-filter-wrapper:last-child {
    border-bottom: 0;
}

#search-filter .search-filter-wrapper > h5 {
    color: #0084ca;
    margin: 0 0 10px;
    font-weight: 100;
    font-family: 'OpenSansSemibold', Arial, sans-serif;
}

#search-filter .search-filter-wrapper > select {
    width: 100%;
    outline: 0 none;
}


/* ===================================
/* ===== FEATURED JOBS */

.featured-jobs {
    margin-bottom: 0;
    border-bottom: 1px solid #e3e3e3;
	width:100%;
}

.featured-jobs thead th {
    background: #d9edf7;
    border: 0;
    color: #4f4f4f;
    font-size: 14px;
    font-family: 'OpenSansSemibold', Arial, sans-serif;
    font-weight: normal;
}

.featured-jobs tbody > tr.featured {
    background: #fffad7;
}

.featured-jobs tbody > tr.seperated {
    text-align: center;
    background: #f7e0a3;
    border: 0;
    font-size: 12px;
}

.featured-jobs tbody tr.seperated a {
    color: #4f4f4f;
    font-size: 13px;
}

.featured-jobs tbody tr.seperated a:hover {
    color: #000000;
}

.featured-jobs tbody td a.f-title {
    color: #0084ca;
    display: block;
    font-size: 14px;
    font-family: 'OpenSansSemibold', Arial, sans-serif;
}

.featured-jobs tbody td span.description {
    color: #3a3a3a;
    font-size: 12px;
    font-family: 'OpenSansLight', Arial, sans-serif;
}

.featured-jobs thead th {
    border-bottom: 0 !important;
}

.featured-jobs tbody td.featured {
    border-top-color: #f3ecbc;
}
.featured-jobs tbody td {
    border-top-color: #f2f2f2 !important;
    font-size: 12px;
}
.featured-jobs tbody td a:hover {color:#F08F00;}

#job-ads .portlet-body + .portlet-body {margin-top:-20px;}

.pagination-wrapper {
    text-align: center;
}

.pagination-wrapper .pagination li {
    margin: 0 5px;
}

.pagination-wrapper .pagination li a {
    color: #e17a27;
}

.pagination-wrapper .pagination li.active a {
    color: #ffffff;
    background: #e17a27;
    border-color: #e17a27 !important;
}

.pagination-wrapper .pagination li.prev a,
.pagination-wrapper .pagination li.next a {
    padding: 16px;
    background: #e5e5e5 url("../img/sprite.png") no-repeat;
}

.pagination-wrapper .pagination li.prev a {
    background-position: -284px -220px;
}
.pagination-wrapper .pagination li.next a {
    background-position: -318px -220px;
}


/* ===================================
/* ===== LOGIN */

#login {
    margin: 30px 0;
}

#login .login-inner {
    background: #ffffff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    min-height: 400px;
    behavior: url(../pie-files/PIE.htc);
}

#login .login-left {
    padding: 30px;
}
#login .login-right {
    border-top-right-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-bottom-right-radius: 10px;
    padding: 30px 40px;
    border-left: 1px solid #efefef;
}

#login .login-title > h3 {
    margin: 0 0 10px;
    font-family: 'OpenSansBold', Arial, sans-serif;
}
#login .login-title > span {
    color: #595959;
    font-size: 12px;
}
#login .login-title > div {
    color: #808080;
    font-size: 15px;
}
#login .login-title > div.green {
    color: #9cb915;
}
#login .login-title > div > span {
    font-family: 'OpenSansSemibold', Arial, sans-serif;
}

#login .login-form input[type=text],
#login .login-form input[type=password] {
    padding: 8px;
    border: 1px solid #e6e6e6;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    box-shadow: inset 1px 2px 9px -6px;
    width: 100%;
    margin-top: 10px;
    behavior: url(../pie-files/PIE.htc);
}

#login .login-controller {
    margin: 10px 0;
}
#login .login-controller > a {
    color: #a8a8a8;
    font-size: 12px;
    margin-top: 10px;
    display: inline-block;
    text-decoration: underline;
}
#login .login-controller > a:hover {
    color: #0084ca;
}

#login .login-description {
    color: #333;
    font-size: 12px;
    margin-top: 75px;
}

#login .login-list li {
    color: #595959;
    font-size: 12px;
    padding-left: 15px;
    margin-bottom: 2px;
    background: url("../img/sprite.png") no-repeat -480px -3px;
}

#login .login-testimonial {
    background: #f6f6f6;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 20px;
    font-size: 12px;
    color: #595959;
    min-height: 130px;
    margin: 20px 0;
    behavior: url(../pie-files/PIE.htc);
}

#login .lt-control {
    width: 7px;
    height: 10px;
    margin-right: 10px;
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url("../img/sprite.png");
}

#login .lt-text {
    display: inline-block;
}

#lt-prev { background-position: -480px -29px; }
#lt-next { background-position: -480px -8px; }

#lt-text {
    color: #9cb915;
    font-size: 11px;
    font-family: 'OpenSansBold', Arial, sans-serif;
}

#login .testimonial-carousel li {
    float: left;
    cursor: help;
}

#login .testimonial-carousel li .lt-tester {
    font-size: 11px;
    margin-top: 20px;
    font-family: 'OpenSansSemibold', Arial, sans-serif;
}

#login .login-content-controller {
    padding: 30px 0;
}


/* ===================================
/* ===== SIDE ADVERTS */

#side-ads img {
    width: 100%;
    margin-bottom: 10px;
}


/* ===================================
/* ===== POST */

#post .post-inner {
    padding: 20px;
    background: #ffffff;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    behavior: url(../pie-files/PIE.htc);
}

#post .post-inner-uyelik {
    padding: 20px;
    background: #ffffff;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-right:1px solid #e1e1e1;
    border-left:1px solid #e1e1e1;
    behavior: url(../pie-files/PIE.htc);
}

.post-main-title {
    padding: 24px 0;
    font-size: 20px !important;
    font-family: 'OpenSansSemibold', Arial, sans-serif !important;
}

#post .post-side-links {
    padding: 15px;
}

#post .post-side-links li {
    border-bottom: 1px solid #dcdcdc;
}

#post .post-side-links li:last-child {
    border-bottom: 0;
}

#post .post-side-links li a {
    display: block;
    color: #929292;
    padding: 8px 0;
}

#post .post-side-links li a:hover {
    color: #0084ca;
}

#post .post-side-links li:first-child a {
    padding: 0 0 8px;
}

#post .post-title {
    margin-bottom: 20px;
    border-bottom: solid 1px #efefef;
}

#post .post-title > h3,
#post .post-title > h2,
#post .post-title > h1 {
    color: #302828;
    font-weight: 100;
    margin: 0 0 5px;
    font-family: 'OpenSansBold', Arial, sans-serif;
    font-size: 20px;
}
#post .post-title > span {
    color: #929292;
    font-size: 15px;
}

#post .post-content {
    color: #313131;
    line-height: 24px;
}

#post .post-content p {
    margin-bottom: 30px;
}

#post .post-meta {
    padding: 20px 0;
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
}

#post .post-share {
    padding: 20px 0;
    border-bottom: 1px solid #dadada;
}

#post .post-share .share-box {
    float: left;
    margin-right: 5px;
}

#sb-twitter {
    width: 100px;
    padding-top: 2px;
}

#post .fb-comments {
    padding: 20px 0;
}


/* ===================================
/* ===== ACCOUNT */

#account .account-inner {
    padding: 30px 20px;
    background: #ffffff;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    behavior: url(../pie-files/PIE.htc);
}

#account .blue { color: #0e7fb4; }
#account .green { color: #8ead23; }

#account-nav > h2 {
    margin: 0;
	padding-bottom:3px;
    float: left;
    color: #3a3a3a;
    font-size: 20px;
    font-weight: 100;
    font-family: 'OpenSansBold', Arial, sans-serif;
}

#account-nav > ul {
    float: right;
}

#account-nav > ul > li > a {
    color: #0e7fb4;
    font-size: 13px;
    border-bottom-color: #ffffff;
    font-family: 'OpenSansBold', Arial, sans-serif;
}

#account-nav > ul > li > a:hover {
    color: #3a3a3a;
    background: #ffffff;
}

#account-nav > ul > li.active > a {
    z-index: 99;
    color: #3a3a3a;
    position: relative;
    border-bottom: 1px solid;
    border-color: #e1e1e1 #e1e1e1 #ffffff #e1e1e1;
}

.account-search {
    padding: 15px;
    margin: 20px 0;
    background: #f5f5f5;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    behavior: url(../pie-files/PIE.htc);
}

.account-search input[type=text] {
    width: 290px;
    padding: 8px;
    border: 1px solid #e6e6e6;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    box-shadow: inset 1px 2px 9px -6px;
    color: #252525;
    font-size: 13px;
    outline: 0 none;
    font-family: 'OpenSansLight', Arial, sans-serif;
    behavior: url(../pie-files/PIE.htc);
}

.account-search .button {
    padding: 10px 40px;
    height: 35px;
}

.account-search-results .table {
    font-size: 12px;
    margin-top: 30px;
}

.account-search-results .table thead {
    color: #3a3a3a;
    font-family: 'OpenSansBold', Arial, sans-serif;
}

.account-search-results .table tbody {
    font-family: 'OpenSansRegular', Arial, sans-serif;
}

.account-search-results .table .account-controls .button {
    padding: 5px 15px !important;
}

.account-search-results .table tbody td {
    padding: 10px 8px 10px;
}

.ad-options {
    padding: 20px;
    margin-left: 20px;
    background: #f5f5f5;
}

.ad-options > h4 {
    color: #eb7210;
    font-size: 15px;
    margin: 0  0 20px;
    font-family: 'OpenSansBold', Arial, sans-serif;
}

.ad-options > ul > li {
    padding: 20px;
    background: #ffffff;
    margin-bottom: 10px;
    position: relative;
    border: 1px solid #d7d7d7;
    transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
}

.ad-options > ul > li:hover {
    background: #fffac4;
}

.ad-options > ul > li .icheckbox_square-blue {
    float: left;
    margin-right: 20px;
}

.ad-options > ul > li .ao-name {
    color: #444444;
    font-size: 15px;
    margin: 3px 0 5px;
    font-family: 'OpenSansBold', Arial, sans-serif;
}

.ad-options > ul > li .ao-time {
    color: #adadad;
    font-size: 13px;
    padding-left: 40px;
    font-family: 'OpenSansLight', Arial, sans-serif;
}

.ad-options .ao-price {
    top: 50%;
    right: 5%;
    margin-top: -10px;
    position: absolute;
    font-family: 'OpenSansLight', Arial, sans-serif;
}

.ad-options .ao-price .ao-amount {
    color: #3284d6;
    font-size: 18px;
}

.ad-options .ao-price .ao-postfix {
    color: #adadad;
}

.ad-options .ao-total {
    margin: 40px 0 25px;
    position: relative;
}

.ad-options .ao-total .ao-text {
    color: #444444;
    font-size: 15px;
    padding-right: 20px;
    font-family: 'OpenSansBold', Arial, sans-serif;
}

.additional-explanation {
    color: #8c8c8c;
    font-size: 12px;
    padding-left: 20px;
    font-family: 'OpenSansLight', Arial, sans-serif;
}

.ad-side {
    padding: 20px 20px 30px;
    border: 1px dashed #eaeaea;
}

.ad-side > h5 {
    color: #0084ca;
    margin: 0 0 15px;
    font-family: 'OpenSansBold', Arial, sans-serif;
}

.ad-side .as-label {
    color: #252525;
    font-size: 13px;
    font-family: 'OpenSansLight', Arial, sans-serif;
}

.ad-side a[href^=mailto] {
    color: #0084ca;
    font-size: 18px;
    text-decoration: none;
    font-family: 'OpenSansSemibold', Arial, sans-serif;
}

.ad-side a[href^=mailto]:hover {
    color: #e17a27;
}

.ad-counter {
    margin: 30px 0;
    text-align: center;
}

.ad-counter .ac-amount {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    display: block;
    background: #eaeaea;
    color: #0084ca;
    font-size: 40px;
    line-height: 70px;
    font-family: 'OpenSansSemibold', Arial, sans-serif;
    margin: 10px auto;
    behavior: url(../pie-files/PIE.htc);
}

.ad-counter .ac-text {
    color: #888888;
    font-size: 12px;
    display: block;
    margin-bottom: 20px;
}

/* ===================================
/* ===== PROFILE */

#profile {
    margin-bottom: 30px;
}

#profile .profile-inner {
    padding: 20px;
    background: #ffffff;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    behavior: url(../pie-files/PIE.htc);
}

#profile .profile-name {
    margin-top: 0;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e8e8e8;
    font-family: 'OpenSansBold', Arial, sans-serif;
}

#profile .description {
    color: #3a3a3a;
    font-size: 11px;
}

#profile .description > span {
    font-family: 'OpenSansSemibold', Arial, sans-serif;
}

#profile .profile-fields {
    margin-top: 20px;

}

#profile .profile-fields > li {
    color: #3a3a3a;
    overflow: hidden;
    font-size: 15px;
    padding: 10px 0;
    border-bottom: 1px solid #e8e8e8;
}

#profile .profile-fields > li:last-child {
    border-bottom: 0;
}

#profile .profile-fields > li > .list-title,
#profile .profile-fields > li > .list-content {
    float: left;
    display: block;

}

#profile .profile-fields > li > .list-title {
    width: 150px;
    font-family: 'OpenSansSemibold', Arial, sans-serif;
}

#profile .profile-fields > li > .list-content {
    width: 510px;
    font-family: 'OpenSansLight', Arial, sans-serif;
}

#profile .profile-fields > li > .list-content > a {
    font-size: 11px;
    display: inline-block;
    color: #0084ca;
    margin-left: 10px;
    vertical-align: middle;
    text-decoration: underline;
}

#profile .profile-fields > li > .list-content > a:hover {
    color: #e17a27;
}

#profile .profile-fields > li > .list-content .progress {
    margin-bottom: 0;
}

#profile .profile-fields > li > .list-content .progress .sr-only {
    position: static;
    margin-top: 2px;
    height: 20px;
    width: 30px;
    display: none;
    line-height: 20px;
}

#profile .profile-avatar {
    text-align: center;
}

#profile .profile-avatar a {
    font-size: 11px;
    display: block;
    text-decoration: underline;
}

#profile .profile-avatar a:hover {
    color: #e17a27 !important;
}

#profile .profile-avatar a.blue {
    color: #0084ca;
}

#profile .profile-avatar a.red {
    color: #c33e3e;
}

#profile .missing-fields {}

#profile .missing-fields > li {
    margin-bottom: 5px;
}

#profile .missing-fields > li > a {
    color: #137db2;
    font-size: 14px;
    display: block;
    font-family: 'OpenSansSemibold', Arial, sans-serif;
}

#profile .missing-fields > li > a:hover {
    color: #e17a27;
}

#profile .missing-fields > li > span {
    color: #797979;
    font-size: 11px;
    font-family: 'OpenSansLight', Arial, sans-serif;
}

#profile .connect-button {
    font-size: 14px !important;
    margin-bottom: 5px;
    display: block !important;
    text-decoration: none !important;
}

#profile .connect-button > i.mini-icon {
    margin-top: 3px;
}

.toggle {
    position: relative;
    width: 105px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.toggle input {
    opacity: 0;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 6;
    width: 84px;
    height: 30px;
}

.toggle input:checked ~ .btns {
    left: 35px;
}

.toggle input:checked ~ .bg {
    background: #a7c63a;
}

.toggle .btns {
    display: block;
    position: absolute;
    z-index: 4;
    top: -10px;
    left: -14px;
    width: 58px;
    height: 48px;
    transition: left 0.25s ease;
    -moz-transition: left 0.25s ease;
    -webkit-transition: left 0.25s ease;
    -ms-transition: left 0.25s ease;
    -o-transition: left 0.25s ease;
}

.toggle .btns:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -12.5px;
    margin-left: -12.5px;
    width: 50px;
    height: 26px;
    background: #e3e3e3;
}

.toggle .labels {
    position: absolute;
    top: 8px;
    z-index: 2;
    width: 100%;
    color: #fff;
    font-size: 12px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}

.toggle .labels:before {
    content: "Açık";
    position: absolute;
    left: 12px;
}

.toggle .labels:after {
    content: "Kapalı";
    position: absolute;
    right: 12px;
}

.toggle .bg {
    display: block;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #c33e3e
}

/* ===================================
/* ===== DETAIL */

#detail {
    position: relative;
}

.detail-fixed {
    position: fixed;
    width: 22%;
    right: 5%;
    top: 0%;
    margin-left: 1%; /*half the width*/
}

#detail .detail-inner {
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background:  #ffffff;
    min-height: 400px;
    behavior: url(../pie-files/PIE.htc);
}


/* ===================================
/* ===== HELPER */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.sbHolder .sbOptions a:hover {
    font-family: 'OpenSansSemibold', Arial, sans-serif;
}

.button,
.apply-hover {
    -webkit-transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -ms-transition: opacity .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
    opacity: 1;
}

/*.button:hover,
.apply-hover:hover {
    /*zoom: 1;
    filter: alpha(opacity=50);
    opacity: .5;
}*/

.apply-box-shadow {
    -webkit-box-shadow: 0 4px 0 -2px rgba(189,189,189,.5);
    -moz-box-shadow:    0 4px 0 -2px rgba(189,189,189,.5);
    box-shadow:         0 4px 0 -2px rgba(189,189,189,.5);
}

.no-list-style {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.ustte {vertical-align: top;}
.ortada {vertical-align: middle;}
.ortala {text-align: center;}
.kalin {font-weight: bold;}
.italic {font-style: italic !important;}
.linksel {color: #0072BC; cursor: pointer;}
.pointer {cursor: pointer;}
.resim {border: none; vertical-align: middle;}
input.cvurgula:checked ~ label {font-weight: bold;}

.width-50  {width:50px;}
.width-100 {width:100px;}
.width-150 {width:150px;}
.width-200 {width:200px;}
.width-250 {width:250px;}
.width-300 {width:300px;}
.width-350 {width:350px;}
.width-400 {width:400px;}
.width-500 {width:500px;}
.width-600 {width:600px;}
.width-650 {width:650px;}
.width-700 {width:700px;}
.width-800 {width:800px;}
.width-900 {width:900px;}
.width-1000 {width:1000px;}
.width-p100 {width:100%}
.width-p90 {width:90%}
.width-p50 {width:50%}
.width-p30 {width:30%}

.margin-t0  { margin-top: 0 }
.margin-t5  { margin-top: 5px }
.margin-t10 { margin-top: 10px }
.margin-t20 { margin-top: 20px }
.margin-t30 { margin-top: 30px }
.margin-t40 { margin-top: 40px }
.margin-t45 { margin-top: 45px }
.margin-t50 { margin-top: 50px }

.margin-b0  { margin-bottom: 0 }
.margin-b5  { margin-bottom: 5px }
.margin-b10 { margin-bottom: 10px }
.margin-b20 { margin-bottom: 20px }
.margin-b30 { margin-bottom: 30px }
.margin-b40 { margin-bottom: 40px }
.margin-b50 { margin-bottom: 50px }

.margin-r0  { margin-right: 0 }
.margin-r5  { margin-right: 5px }
.margin-r10 { margin-right: 10px }
.margin-r20 { margin-right: 20px }
.margin-r30 { margin-right: 30px }
.margin-r40 { margin-right: 40px }
.margin-r50 { margin-right: 50px }

.margin-rp10 { margin-right: 1% }
.margin-rp20 { margin-right: 2% }
.margin-rp30 { margin-right: 3% }
.margin-rp40 { margin-right: 4% }
.margin-rp50 { margin-right: 5% }

.margin-l0  { margin-left: 0 }
.margin-l5  { margin-left: 5px }
.margin-l10 { margin-left: 10px }
.margin-l20 { margin-left: 20px }
.margin-l30 { margin-left: 30px }
.margin-l40 { margin-left: 40px }
.margin-l50 { margin-left: 50px }

.margin-tb0  { margin-top: 0;  margin-bottom: 0 }
.margin-tb5  { margin-top: 5px;  margin-bottom: 5px }
.margin-tb10 { margin-top: 10px; margin-bottom: 10px }
.margin-tb20 { margin-top: 20px; margin-bottom: 20px }
.margin-tb30 { margin-top: 30px; margin-bottom: 30px }
.margin-tb40 { margin-top: 40px; margin-bottom: 40px }
.margin-tb50 { margin-top: 50px; margin-bottom: 50px }

.margin-lr5  { margin-left: 5px;  margin-right: 5px }
.margin-lr10 { margin-left: 10px; margin-right: 10px }
.margin-lr20 { margin-left: 20px; margin-right: 20px }
.margin-lr30 { margin-left: 30px; margin-right: 30px }
.margin-lr40 { margin-left: 40px; margin-right: 40px }
.margin-lr50 { margin-left: 50px; margin-right: 50px }

.margin-0  { margin: 0 }
.margin-5  { margin: 5px }
.margin-10 { margin: 10px }
.margin-20 { margin: 20px }
.margin-30 { margin: 30px }
.margin-40 { margin: 40px }
.margin-50 { margin: 50px }

.padding-t0  { padding-top: 0 }
.padding-t5  { padding-top: 5px }
.padding-t10 { padding-top: 10px }
.padding-t20 { padding-top: 20px }
.padding-t30 { padding-top: 30px }
.padding-t40 { padding-top: 40px }
.padding-t50 { padding-top: 50px }

.padding-b0  { padding-bottom: 0 }
.padding-b5  { padding-bottom: 5px }
.padding-b10 { padding-bottom: 10px }
.padding-b20 { padding-bottom: 20px }
.padding-b30 { padding-bottom: 30px }
.padding-b40 { padding-bottom: 40px }
.padding-b50 { padding-bottom: 50px }

.padding-r0  { padding-right: 0 }
.padding-r5  { padding-right: 5px }
.padding-r10 { padding-right: 10px }
.padding-r20 { padding-right: 20px }
.padding-r30 { padding-right: 30px }
.padding-r40 { padding-right: 40px }
.padding-r50 { padding-right: 50px }

.padding-l0  { padding-left: 0 }
.padding-l5  { padding-left: 5px }
.padding-l10 { padding-left: 10px }
.padding-l15 { padding-left: 15px }
.padding-l20 { padding-left: 20px }
.padding-l30 { padding-left: 30px }
.padding-l40 { padding-left: 40px }
.padding-l50 { padding-left: 50px }

.padding-tb0  { padding-top: 0;  padding-bottom: 0 }
.padding-tb5  { padding-top: 5px;  padding-bottom: 5px }
.padding-tb10 { padding-top: 10px; padding-bottom: 10px }
.padding-tb20 { padding-top: 20px; padding-bottom: 20px }
.padding-tb30 { padding-top: 30px; padding-bottom: 30px }
.padding-tb40 { padding-top: 40px; padding-bottom: 40px }
.padding-tb50 { padding-top: 50px; padding-bottom: 50px }

.padding-lr0  { padding-left: 0;  padding-right: 0 }
.padding-lr5  { padding-left: 5px;  padding-right: 5px }
.padding-lr10 { padding-left: 10px; padding-right: 10px }
.padding-lr20 { padding-left: 20px; padding-right: 20px }
.padding-lr30 { padding-left: 30px; padding-right: 30px }
.padding-lr40 { padding-left: 40px; padding-right: 40px }
.padding-lr50 { padding-left: 50px; padding-right: 50px }

.padding-0  { padding: 0 }
.padding-5  { padding: 5px }
.padding-10 { padding: 10px }
.padding-20 { padding: 20px }
.padding-30 { padding: 30px }
.padding-40 { padding: 40px }
.padding-50 { padding: 50px }

.seperator {
    width: 100%;
    height: 1px;
    background: transparent;
    border-top: 1px solid #e1e1e1;
    margin-top: -1px;
    position: relative;
    z-index: 1;
}

/* ===================================
/* ===== CALLOUT */

.bs-callout {
    margin: 10px 0;
    padding: 10px 25px 10px 10px;
    border-left: 5px solid #eee;
}

.bs-callout-right {border:none;border-right: 5px solid #eee;}

.bs-callout h4 {
    margin-top: 0;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code,
.bs-callout .highlight {
    background-color: #fff;
}

/* Variations */
.bs-callout-danger {
    background-color: #fcf2f2;
    border-color: #dFb5b4;
}
.bs-callout-warning {
    background-color: #fefbed;
    border-color: #f1e7bc;
}
.bs-callout-info {
    /*background-color: #f0f7fd;*/
    background-color: #fbfbfb;
    border-color: #d0e3f0;
}

/*Menu */

#menu {
    list-style:none;
    width:100%;
    margin-top:15px;
    height:43px;
    padding:0;
}

#menu li {
    float:left;
    display:block;
    text-align:center;
    position:relative;
    padding: 4px 5px 4px 5px;
    margin-right:0;
    margin-top:7px;
    border:solid 1px transparent;

}

#menu li:hover, #menu .btn-ekle {
    border:solid 1px #fff;
    /*border-bottom: none;*/
    background-color: #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    behavior: url(../pie-files/PIE.htc);
}

#menu li a {
    color: #ffffff;
    font-size: 16px;
    display: block;
    padding:0 6px 0 3px;
    height: 32px;
    line-height: 32px;
    font-family: 'OpenSansLight', Arial, sans-serif;
    outline:0;
    text-decoration:none;
}

#menu li:hover a, #menu .btn-ekle {
    color:#161616;
}

#menu .btn-ekle {background-color: #FF8000;border-color: #FF8000;}
#menu .btn-ekle a {color:#fff;font-family: 'OpenSansSemiBold', Arial, sans-serif;}
#menu .btn-ekle a i {color:#fff}

#menu li:hover a i {color:#00729E;}

#menu li.drop {
}
#menu li.drop:hover {
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
    behavior: url(../pie-files/PIE.htc);
}

.dropdown_1column, 
.dropdown_2columns, 
.dropdown_3columns, 
.dropdown_4columns,
.dropdown_5columns {
    margin:0 auto;
    float:left;
    position:absolute;
    left:-999em; /* Hides the drop down */
    text-align:left;
    padding:10px 5px 10px 5px;
    border:1px solid #fff;
    border-top:none;
    z-index: 195;

    /* Gradient background */
    border:solid 1px #fff;
    background-color: #fff;

    /* Rounded Corners */
    -moz-border-radius: 0px 5px 5px 5px;
    -webkit-border-radius: 0px 5px 5px 5px;
    border-radius: 0px 5px 5px 5px;
    behavior: url(../pie-files/PIE.htc);

    -webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 2px 2px rgba(0,0,0,0.3);
    box-shadow: 0 2px 2px rgba(0,0,0,0.3);
    zoom:1; /* This enables hasLayout, which is required for older IE browsers */
    filter: progid:DXImageTransform.Microsoft.Shadow(color='#b0b0b0', Direction=135, Strength=3);
}

.dropdown_1column {width: 140px;}
.dropdown_2columns {width: 280px;}
.dropdown_3columns {width: 420px;}
.dropdown_4columns {width: 560px;}
.dropdown_5columns {width: 700px;}

#menu li:hover .dropdown_1column, 
#menu li:hover .dropdown_2columns, 
#menu li:hover .dropdown_3columns,
#menu li:hover .dropdown_4columns,
#menu li:hover .dropdown_5columns {
    left:-1px;
    top:auto;
}

.col_1,
.col_2,
.col_3,
.col_4,
.col_5 {
    display:inline;
    float: left;
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
}
.col_1 {width:160px;}
.col_2 {width:260px;}
.col_3 {width:410px;}
.col_4 {width:640px;}
.col_5 {width:690px;}

#menu .menu_right {
    float:right;
    margin-right:0px;
}
#menu li .align_right {
    /* Rounded Corners */
    -moz-border-radius: 5px 0px 5px 5px;
    -webkit-border-radius: 5px 0px 5px 5px;
    border-radius: 5px 0px 5px 5px;
    behavior: url(../pie-files/PIE.htc);
}

#menu li:hover .align_right {
    left:auto;
    right:-1px;
    top:auto;
}

#menu p, #menu h2, #menu h3, #menu ul li {
    font-family:Arial, Helvetica, sans-serif;
    line-height:24px;
    font-size:14px;
    text-align:left;
    color:#666;
    padding:5px 0;
}
#menu h2 {
    font-size:21px;
    font-weight:400;
    letter-spacing:-1px;
    margin:7px 0 14px 0;
    padding-bottom:14px;
    border-bottom:1px solid #666666;
}
#menu h3 {
    font-size:14px;
    margin:7px 0 14px 0;
    padding-bottom:7px;
    border-bottom:1px solid #888888;
    color:#666;
}
#menu p {
    line-height:18px;
    margin:0 0 10px 0;
}

#menu li:hover div a {
    font-size:14px;
    color:#015b86;
}
#menu li:hover div a:hover {
    color:#029feb;
}
#menu li ul {
    list-style:none;
    padding:0;
    margin:0 0 12px 0;
}
#menu li ul li {
    font-size:14px;
    line-height:32px;
    position:relative;
    padding:0;
    margin:0;
    float:none;
    text-align:left;
}
#menu li ul li:hover {
    background-color: #f9f9f9;
}

#menu li ul li a {
    font-size:14px;
    line-height:32px;
}

#menu li ul li:hover a {font-family: 'OpenSansSemibold', Arial, sans-serif;}

/* USER BOX */

.user-head-box {/*margin-top:25px;*/ margin:10px 0;}
.user-head-box .btn-group i {opacity:0.5;}

/* ===================================
/* ===== EO */

#top-bar {border: none;background: #fbfbfb;border-bottom: solid 1px #f3f3f3;color:#cecece;font: 300 10px/16px 'Helvetica Neue',Arial,sans-serif;font-style: italic;position: relative;z-index: 99;}
#header .top-menu {font: 300 11px/16px 'OpenSansLight',Arial,sans-serif;font-style: normal;}
#header .top-menu a {margin-left:3px;color: #8e8e8e;}
#header .top-menu a:hover i {color: #F08F00}
#header .top-menu .dropdown-menu > li > h2 a,
#header .top-menu .dropdown-menu > li > h3 a {display:block;padding:2px 6px;}
#header .top-menu .dropdown-menu > li > h2,
#header .top-menu .dropdown-menu > li > h3{
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 1.428571429;
	color: #333;
	white-space: nowrap;
	padding:0;
	margin:0 3px;
}
#header .top-menu .dropdown-menu > li > h2 a:hover,
#header .top-menu .dropdown-menu > li > h2 a:focus,
#header .top-menu .dropdown-menu > li > h3 a:hover,
#header .top-menu .dropdown-menu > li > h3 a:focus{
	color:#fff;
	text-decoration:none;
	background-color:#428bca;
}

#header .aday-link {padding:30px 0 10px 0;text-align: center;}
#header .aday-link li {border-right: dotted 1px #999;padding-right: 10px;margin-right: 10px;padding-left:0}
#header .aday-link li:last-child {border-right: none;padding-right: 0;margin-right: 0}
#header .aday-link li a {color:#444;}
#header .aday-link li a:hover i {color:#F08F00}
#header .aday-link  i {color:#999}

#header .firma-menu {padding:10px 0;text-align: center;}
#header .firma-menu p {margin:5px 0;font-size: 14px;}

.is-ilanlari-bar {font-size: 10px;}
.is-ilanlari-bar p, .is-ilanlari-bar h1, .is-ilanlari-bar h2, .is-ilanlari-bar h3, .is-ilanlari-bar a {font-size:10px;display:inline;padding:0;margin:0;line-height: 10px;font-family: 'OpenSansRegular', sans-serif;color:inherit;}

#is-ilanlari-bulutu {text-align: justify;padding:0;margin:0;overflow: hidden;}
#is-ilanlari-bulutu h5 {display:inline;margin:0;padding:1px;line-height:17px;}
#is-ilanlari-bulutu h5 a {text-decoration:none;}
#is-ilanlari-bulutu h5 a:hover {color: #dd0202;}

.seviye1 a {  font-size:11px !important; color: #979797;}
.seviye2 a {  font-size:12px !important; color: #828282;}
.seviye3 a {  font-size:13px !important; color: #6d6d6d;}
.seviye4 a {  font-size:14px !important; color: #585858;}
.seviye5 a {  font-size:15px !important; color: #434343;}
.seviye6 a {  font-size:17px !important; color: #2e2e2e;}
.seviye7 a {  font-size:19px !important; color: #414141;}

.kariyer-link-liste {margin:0;padding:0;list-style-type: none;}
.kariyer-link-liste li {padding-right: 5px; float:left;}
.kariyer-link-liste li a {font-size:12px;}

.eo-eposta {display: inline-block;background: url(../img/eo-posta-bilgi.png) no-repeat left center;width: 160px;height: 20px;text-indent: -9999px;margin-bottom:5px ;}
.formSep {margin-bottom:12px;padding-bottom:12px;border-bottom:1px dashed #dcdcdc}

.eo-iskur {width:100%;margin:0;}
.eo-iskur * {font-size: 11px;color:#777;line-height: 14px;}
.eo-iskur .iskur-uyari {font-size:10px;}
.eo-iskur .iskur-logo {display:block;width:60px;height:60px;background: url(../resimler/iskur-yeni.gif) no-repeat center center;text-indent: -9999px;float:left;margin-right: 10px;}

#uye-firmalarimiz .slide {border:solid 1px #f2f2f2 !important;background-color: #fff;border-radius: 10px;-moz-border-radius: 10px;-webkit-border-radius: 10px;padding:5px 0;text-align: center;behavior: url(../pie-files/PIE.htc);}
#uye-firmalarimiz .slide img {width: 90px; height: 30px;margin:0 auto;}

.heading {border-bottom: 1px solid #dcdcdc;font: normal 20px/24px 'OpenSansSemibold', Arial, sans-serif;margin:0 0 10px 0;padding-bottom:5px;}
.heading h1,.heading h2,.heading h3,h1.heading,h2.heading,h3.heading,.modal-header h3 {font: normal 20px/24px 'OpenSansSemibold', Arial, sans-serif;margin:0 0 10px 0;padding-bottom:5px;}

#firma-son-islemler .tab-pane {max-height: 500px; overflow-y: auto;}

div.cv-islemler .panel .panel-heading {padding:7px 10px;}
div.cv-islemler .panel .panel-title {font-size:14px;}
div.cv-islemler .panel .panel-body {padding:7px;font-size:12px;}

#mulakat_degerlendir .list-group li {-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;}

.eposta_uyari_ekle {
    background: url(../images/eposta-uyelik.gif) no-repeat left center;
    padding-left:23px;
    text-decoration: none;
    color: #257EB4;
    cursor: pointer;
    font-size: 12px;
}
label.valid {
    display: none !important;
    text-indent: -9999px;
}
label.error {
    display: inline-block;
    font-size:11px;
    color: red;
    padding: 0;
    margin-top: 2px;
    margin-right: 5px;
    font-weight: normal;
}
.blue-box {padding: 10px;margin:20px 0;background:#FCFDFE;background-image:-webkit-gradient(linear,left bottom,left top,from( #fcfdfe),to( #f4f8fc));background-image:linear-gradient( #fcfdfe, #f4f8fc);background-image:-moz-linear-gradient( #fcfdfe, #f4f8fc);background-image:-webkit-linear-gradient( #fcfdfe, #f4f8fc);border:1px solid #c9ddf2;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;box-shadow:0 -2px 0 rgba(204,223,243,.3) inset,0 0 1px rgba(0,0,0,.1);-moz-box-shadow:0 -2px 0 rgba(204,223,243,.3) inset,0 0 1px rgba(0,0,0,.1);-webkit-box-shadow:0 -2px 0 rgba(204,223,243,.3) inset,0 0 1px rgba(0,0,0,.1);display:block;behavior: url(../pie-files/PIE.htc);}

#sectors-cities .list-group {
    width: 100%;
    display: inline-block;
}

#header .button, .add-more .button {
    behavior: url(../pie-files/PIE.htcccc);
}

#anket-form {margin-left: 10px;font-size:12px;}
#anket-form .anket-soru {margin-bottom: 10px;font-family: 'OpenSansSemiBold', sans-serif;}
#anket-form .anket-cevap {margin: 0 0 5px 10px;font-family: 'OpenSansRegular', sans-serif;}
#anket-form .btn-orange {margin:15px 0 0 10px;}

.arama_daralt_kutu {margin:0;}
.arama_daralt_liste {padding: 0; margin: 0 !important;}
.arama_daralt_liste li {list-style-type: none; padding: 2px; margin: 0;}
.arama_daralt_liste li a
{
	padding: 0;
	text-decoration: none;
}
.arama_daralt_liste li a span {color: #003333;}
.arama_daralt_baslik
{
	border-bottom: 1px solid #f2f2f2;
	margin-bottom: 3px;
}

.arama_daralt_baslik {color: #4f4f4f;font-size: 14px;font-family: 'OpenSansSemibold', Arial, sans-serif;font-weight: normal;padding:8px 5px;background: #FFFAE1;margin-bottom: 5px;}
.arama_daralt_liste {max-height: 220px; overflow: auto;margin-left:0;padding:5px;list-style-type: none;}
.arama_daralt_liste li a {color:#666;font-size:12px;display: block;}
.arama_daralt_liste li a span.badge {color:#666;font-family: 'OpenSansLight', Arial, sans-serif;font-weight: normal;font-size:10px;background-color: #efefef;}
.arama_daralt_liste li a:hover span.badge {background-color: #0192DD;color:#fff;}
#sosyal-paylas-box{
	min-height: 50px;
}
.sosyal-paylas {padding:0;margin:0;list-style-type: none;}
.sosyal-paylas li {margin-bottom: 5px;}
.sosyal-paylas li a {font-size: 16px;padding:5px;padding-left:40px;display: block;text-decoration: none;margin-top: 5px;}
.sosyal-paylas li a:hover {background-color: #fffad7 !important;}
.sosyal-paylas li a.fb-link {background: url(../img/icon-facebook.png) no-repeat 5px center;}
.sosyal-paylas li a.tw-link {background: url(../img/icon-twitter.png) no-repeat 5px center;}

#yapilan_secimler {text-align: left;height: 230px;overflow:auto;min-height: 250px}
#yapilan_secimler ul {margin:0; padding:0; list-style-type: none}
#yapilan_secimler ul li {margin:0; padding: 2px 0;}
#yapilan_secimler ul li a, #yapilan_secimler ul li span.ysecim
{
	padding: 0 0 0 14px;
	background: url(../images/sil10px.gif) no-repeat left center;
	text-decoration: none;
	font-size: 10px;
	color: #428bca;
	cursor: pointer;
}

.enet-call {border:solid 1px #ddd;background-color: #fff;text-align: center}
.enet-call img {width: 80%;margin-top:10px;}
.enet-call h3 {border-top: solid 1px #ddd;margin-top:0;padding-top:15px;color:#666;}
.enet-call h4:last-child {margin-bottom: 15px;}

.iletisim-kutu li a small {visibility: hidden;}
.iletisim-kutu li a:hover small {visibility: visible;}
.iletisim-kutu li a span.btn {width:160px;text-align: left;}
b.etiket {display: inline-block;width:80px;}

.is-rehberi-liste h6 {
    display: inline;
    font-size: 15px;
    margin: 0px;
    padding: 0
}
.is-rehberi-liste a {
    font-size: 15px;
}

.navbar.is-bar {margin:20px 0 0 0;background-color: #fff;z-index: 90;}
.navbar.is-bar .navbar-brand {font-size:14px;line-height: 20px;}
.navbar.is-bar .navbar-nav {margin-left:-15px;}
.navbar.is-bar .navbar-nav>li>a {font-size:12px;text-transform: uppercase;padding-right:0;}
.navbar.is-bar .navbar-nav>li>a i {color:#3fa1d4;}
.navbar.is-bar .navbar-text {font-family: 'OpenSansLight', Arial, sans-serif;font-weight: normal;font-size:14px;line-height: 20px;}

.liste-alt-list {margin:0;padding:0;list-style: none;font-size: 12px;}
.liste-alt-list li {float: left; width: 20%; line-height: 20px;}
.liste-alt-list a { color:#333333;}

@media (max-width: 990px) {
	#logo-slogan a {margin:10px auto !important;}
}

@media (max-width: 768px) {
	#ilan_arama_form .sbHolder {display:none;}
	#breadcrumb.breadcrumb-big .search-wrapper form {width:100%;margin-bottom: 20px;}
	#breadcrumb .search-wrapper form > input, #breadcrumb .search-wrapper form > select, #breadcrumb .search-wrapper form > button {top:0;right:0;display: block !important;width: 100%;margin-top:10px;position: relative;} 
	#breadcrumb .search-wrapper form > select, #breadcrumb .search-wrapper form > input {font-size: 14px;padding: 10px;height: 48px;line-height: 48px;border-radius: 6px;-moz-border-radius: 6px;-webkit-border-radius: 6px;}
	#breadcrumb h3 {font-size: 24px;margin-top:25px;}
    #breadcrumb h4 {font-size: 20px;margin-top:15px;}
    #top-bar .is-ilanlari-bar, #top-bar .text-right {text-align: center}
    #menu li {padding: 0;}
    #menu li a{padding: 0 3px;}
    #breadcrumb.breadcrumb-small {min-height: 65px; }
}


@media (max-width: 480px) {
    /*#header .aday-link a, #header .aday-link a:first-child {display:block;margin:0;font-size: 12px;padding: 6px 12px;border:solid 1px #ddd;margin-bottom: 16px;background-color: #f0f0f0;border-radius: 30px;-moz-border-radius: 30px;-webkit-border-radius: 30px;}*/
    #header .btn-group {margin-left:0;width: 100%}
    #header .btn-group .btn-eo {font-size: 12px;width: 50%}
    #breadcrumb {background:#195DAF url(../img/eo_menu_bg.gif) repeat-x left top;}
    #breadcrumb h3 {font-size: 16px;}
    #breadcrumb h4 {font-size: 12px;}
    .breadcrumb-big .breadcrumb-links {margin-top:10px;}
    .breadcrumb-big .breadcrumb-links a {width: 100%;}
    #menu li a {font-size:12px;height: 24px;line-height: 24px;}
    #popular-staffs ul li {width: 50%;}
    .ads-group .portlet-body .ag-list {width: 100%;}
    .ads-group .portlet-body .ag-list:nth-child(2){border-top:1px;}
    .ads-group-tab li {width: 100%;}
    #detail .d-title .d-firm-logo {position: relative;clear: both;top:0;right: 0;margin-top:10px;}
    #footer div.copyright {margin-top:20px;padding-top:10px;border-top: solid 1px #ddd;text-align: center;}
    .arama_daralt_liste {display:none;}
    #ilan_ara_form .btn.btn-orange {margin-top:10px;width:100%}
    .liste-alt-list li {width: 50%;padding:5px 0;}
	.aday-ust-menu{position:relative!important;}
	.onceki-sonraki-ilanlar span{font-size:10px!important;}
}

.kisilik-testi{
        border-collapse: collapse;
        border:1px solid #ccc;
        margin:10px auto;
}
.kisilik-testi td{
        padding:5px;
        border-left:1px solid #ccc;
        border-right:1px solid #ccc;
}
.kisilik-testi th{
        padding:5px;
        border-left:1px solid #ccc;
        border-right:1px solid #ccc;
}

.form-horizontal .form-group-uyari {margin-top: -15px;margin-bottom: 10px;}

#account .yeni_uye h2 {font-size:26px;margin-bottom:7px;}
#account .yeni_uye h2 span {font-family: 'OpenSansLight', Arial, sans-serif;}
#account .yeni_uye_giris {}
#account .yeni_uye_giris .jumbotron {margin: 40px auto;padding: 20px;text-align: center;border: dashed 1px #ccc;}
#account .yeni_uye_giris .jumbotron h2 {font-size:36px;margin:0 0 20px 0;}
#account .yeni_uye_giris .jumbotron h2 small {font-family: 'OpenSansLight', Arial, sans-serif;font-size: 60%;text-decoration: line-through;}
#account .yeni_uye_giris .thumbnail {min-height: 200px;text-align: center}
#account .yeni_uye_giris .thumbnail .caption h3 {font-size:16px;margin:5px 0;padding-bottom: 5px;border-bottom: dotted 1px #ddd;}
#account .yeni_uye_giris .thumbnail .caption p {margin-top:10px;}
#account #company-comments .portlet-body {padding:10px 0;}
#account #company-comments blockquote {margin:0 5px 15px 5px;padding:0 0 0 10px;}
#account #company-comments blockquote p {font-size:12px;font-family: 'OpenSansLight', Arial, sans-serif;}
#account #company-comments blockquote footer {font-size:10px;}

.bg-primary{color:#fff;background-color:#337ab7}
a.bg-primary:hover{background-color:#286090}
.bg-success{background-color:#dff0d8}
a.bg-success:hover{background-color:#c1e2b3}
.bg-info{background-color:#d9edf7}
a.bg-info:hover{background-color:#afd9ee}
.bg-warning{background-color:#fcf8e3}
a.bg-warning:hover{background-color:#f7ecb5}
.bg-danger{background-color:#f2dede}
a.bg-danger:hover{background-color:#e4b9b9}
#account #company-comments blockquote footer {font-size:10px;}

.mobile-interview-explanation{min-height:100px!important;padding:20px;}
.mobile-interview-explanation ul{list-style:none;padding:0;}
.mobile-interview-explanation ul li{margin-bottom:10px;font-size:12px;}
.mobile-interview-explanation{min-height:100px!important;padding:20px;}
.mobile-interview-explanation ul{list-style:none;padding:0;}
.mobile-interview-explanation ul li{margin-bottom:10px;font-size:12px;}
.video-gecmis-slider .slide {cursor:pointer;}

#firmanin_chat_alani.anlik_chats {
    border: 1px solid #bababa;
    border-radius: 5px;
}

#firmanin_chat_alani.anlik_chats .chats {
    list-style-type: none;
    margin-top:0;
    padding: 10px;
    padding-right: 10px;
    max-height: 225px;
    min-height: 225px;
    overflow-y: auto;
    background-color: #f5f5f5;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}
#firmanin_chat_alani ul {
    margin-bottom: 0px!important;
}
#firmanin_chat_alani.anlik_chats .chats .me {
    clear:both;
    margin-bottom:0px;
    padding-left:2px;
}

#firmanin_chat_alani.anlik_chats .chats .me div {
    margin-bottom:0px;
    margin-top:0px;
    color:#959595;
}

#firmanin_chat_alani.anlik_chats .chats .you {
    clear:both;
    margin-bottom:0px;
    padding-left:2px;
}

#firmanin_chat_alani.anlik_chats .chats .you div {
    margin-bottom:0px;
    margin-top:0px;
    color:#959595;
    font-weight: thin!important;
    text-align: right;
}
#firmanin_chat_alani.anlik_chats .chats .me p {
    margin-top:10px;
    position: relative;
    width: 90%;
    min-height: 10px;
    padding: 10px;
    background: #FFFFFF;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border: #44ba6a solid 1px;
    word-wrap: break-word;
}

#firmanin_chat_alani.anlik_chats .chats .me p:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 6px 9px;
    border-color: #FFFFFF transparent;
    display: block;
    width: 0;
    z-index: 1;
    top: -7px;
    left: 20px;
}

#firmanin_chat_alani.anlik_chats .chats .me p:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 6px 8px;
    border-color: #44ba6a transparent;
    display: block;
    width: 0;
    z-index: 0;
    top: -8px;
    left: 20px;
}
#firmanin_chat_alani.anlik_chats .chats .you p {
    clear: both;
    margin-top:10px!important;
    position: relative;
    width: 90%;
    min-height: 10px;
    padding: 10px;
    background: #FFFFFF;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border: #0072c3 solid 1px;
    text-align: right;
    float: right;
    word-wrap: break-word;
}

#firmanin_chat_alani.anlik_chats .chats .you p:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 6px 9px;
    border-color: #FFFFFF transparent;
    display: block;
    width: 0;
    z-index: 1;
    top: -7px;
    right: 20px;
    text-align: right;
}

#firmanin_chat_alani.anlik_chats .chats .you p:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 6px 8px;
    border-color: #0072c3 transparent;
    display: block;
    width: 0;
    z-index: 0;
    top: -8px;
    right: 20px;
}

#firmanin_chat_alani.anlik_chats .chats .me b,#firmanin_chat_alani.anlik_chats .chats .you b {
    overflow: hidden;
    display: block;
    clear: both;
    padding-top: 7px;
}
#firmanin_chat_alani.anlik_chats .chats .me div span, #firmanin_chat_alani.anlik_chats .chats .you div span{
    font-weight: bold;
    color: #3b3b3b;
}
#firmanin_chat_alani.anlik_chats .chats .me div i{
    color: #44ba6a;
}
#firmanin_chat_alani.anlik_chats .chats .you div i {
    color: #0072c3;
}
#firmanin_chat_alani.anlik_chats .chatform .anlik_mesaj_textarea {
    resize: none;
    width: 100%;
    margin:10px;
}
#firmanin_chat_alani.anlik_chats .chatform #submit {
    margin-top: 5px;
    border:none;
    background: none;
    color:#1a1a1a;
    margin-top:25px;
    font-weight: bold;

}
#firmanin_chat_alani.anlik_chats .chatform {
    background-color: #eaeaea;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}
.aday_anlik_chats {
    border: 1px solid #bababa;
    border-radius: 5px;
}

.aday_anlik_chats .chats {
    list-style-type: none;
    margin-top:0;
    padding: 10px;
    padding-right: 10px;
    max-height: 225px;
    min-height: 225px;
    overflow-y: auto;
    background-color: #f5f5f5;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}
ul {
    margin-bottom: 0px!important;
}
.aday_anlik_chats .chats .you {
    clear:both;
    margin-bottom:0px;
    padding-left:2px;
}

.aday_anlik_chats .chats .you div {
    margin-bottom:0px;
    margin-top:0px;
    color:#959595;
}

.aday_anlik_chats .chats .me {
    clear:both;
    margin-bottom:0px;
    padding-left:2px;
}

.aday_anlik_chats .chats .me div {
    margin-bottom:0px;
    margin-top:0px;
    color:#959595;
    font-weight: thin!important;
    text-align: right;
}
.aday_anlik_chats .chats .you p {
    margin-top:10px;
    position: relative;
    width: 90%;
    min-height: 10px;
    padding: 10px;
    background: #FFFFFF;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border: #44ba6a solid 1px;
    word-wrap: break-word;
}

.aday_anlik_chats .chats .you p:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 6px 9px;
    border-color: #FFFFFF transparent;
    display: block;
    width: 0;
    z-index: 1;
    top: -7px;
    left: 20px;
}

.aday_anlik_chats .chats .you p:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 6px 8px;
    border-color: #44ba6a transparent;
    display: block;
    width: 0;
    z-index: 0;
    top: -8px;
    left: 20px;
}
.aday_anlik_chats .chats .me p {
    clear: both;
    margin-top:10px!important;
    position: relative;
    width: 90%;
    min-height: 10px;
    padding: 10px;
    background: #FFFFFF;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border: #0072c3 solid 1px;
    text-align: right;
    float: right;
    word-wrap: break-word;
}

.aday_anlik_chats .chats .me p:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 6px 9px;
    border-color: #FFFFFF transparent;
    display: block;
    width: 0;
    z-index: 1;
    top: -7px;
    right: 20px;
    text-align: right;
}

.aday_anlik_chats .chats .me p:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 6px 8px;
    border-color: #0072c3 transparent;
    display: block;
    width: 0;
    z-index: 0;
    top: -8px;
    right: 20px;
}

.aday_anlik_chats .chats .me b,.aday_anlik_chats .chats .you b {
    overflow: hidden;
    display: block;
    clear: both;
    padding-top: 7px;
}
.aday_anlik_chats .chats .me div span, .aday_anlik_chats .chats .you div span{
    font-weight: bold;
    color: #3b3b3b;
}
.aday_anlik_chats .chats .you div i{
    color: #44ba6a;
}
.aday_anlik_chats .chats .me div i {
    color: #0072c3;
}
.aday_anlik_chats .chatform .anlik_mesaj_textarea {
    resize: none;
    width: 100%;
    margin:10px;
}
.aday_anlik_chats .chatform #submit {
    margin-top: 5px;
    border:none;
    background: none;
    color:#1a1a1a;
    margin-top:25px;
    font-weight: bold;

}
.aday_anlik_chats .chatform {
    background-color: #eaeaea;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

#float-banner-ust{margin-top:367px!important;}

.hizli_uyelik .help-block {padding:0 2px;margin:0;font-size: 10px}
.hizli_uyelik label {margin-bottom:3px;font-size:12px;}
.hizli_uyelik .row {margin-bottom: 5px;}
#login {margin:10px 0 0 0;}
.nav-tabs-uyelik{}
.nav-tabs-uyelik li{width:50%;text-align:center;}
.nav-tabs-uyelik li a{font-size:20px;font-weight:bold;}
.nav-tabs-uyelik li a:hover{background-color:#0492dd;color:#fff;}
.nav-tabs-uyelik li a:active{background-color:#0084ca}
.nav-tabs-uyelik li a:focus{background-color:#0084ca}

/* FOOTER İŞTİRAKİDİR */
.gd-holding-istiraki{color:#ccc;}
.gd-holding-istiraki small{font-size:10px;color:#666;}
.gd-holding-istiraki ul li{display:inline-block;border-right:1px solid #ccc;}
.gd-holding-istiraki ul li:last-child{border-right:none;}
.gd-holding-istiraki ul li a{color: #7e7e7e;font-size:13px;margin:0 20px;}
.gd-holding-istiraki ul li a:hover{text-decoration:underline;}

/* İLAN DETAY */
.onceki-sonraki-ilanlar a{color:#333;}
.onceki-sonraki-ilanlar span{color:#333;display:block;font-weight:bold;margin-top:10px;}
.onceki-sonraki-ilanlar b{display:block;margin-top:5px;}
.onceki-sonraki-ilanlar small{display:block;white-space:nowrap;}
.ilan-onceki,.ilan-sonraki{height:60px;background-color:#ccc;border-radius:5px;padding:5px;border:1px solid #bbb;}
.ilan-onceki i,.ilan-sonraki i{color:#333;font-size:20px;margin-top:10px;}
.ilan-onceki-ic, .ilan-sonraki-ic{background-color:white;height:50px;border-radius:5px;overflow:hidden;}


.breadcrump_aday_sayfam_link{
    display: none !important;
}
.top_aday_sayfam_link{
    display: inline-block !important;
}
.header-user-list{
    list-style: none;
    display: none;
}
.header-user-list li {
    margin: 5px 0;
}
.ilan_durum_simge{
    border-radius: 5px;
}
.table_buttons_right{
    text-align: right;
}
.table_buttons_right .modal{
    text-align: left;
}
.table_buttons_right .btn-toolbar{
    display: inline-block;
}
.aday_menu_gizle{
    position: absolute;
    margin: -45px 0 0 40px;
    display: none;
}
.msj_ac{
    color: #000;
}
@media screen and (max-width: 767px) {
    .breadcrump_aday_sayfam_link{
        display: block !important;
    }
    .top_aday_sayfam_link{
        display: none !important;
    }
    .header-user-list{
        display: block;
    }
    #ads, .guncelle-banner{
        display: none;
    }
    .table_buttons_right{
        text-align: left;
    }
    .aday_menu_gizle{
        display: block;
    }
}

.OT_publisher{
    width: 132px !important;
    height: 99px !important;
}