.nbs-flexisel-container {
    position:relative;
    max-width:100%;
}
.nbs-flexisel-ul {
    position:relative;
    width:99999px;
    margin:0px;
    padding:0px;
    list-style-type:none;   
    text-align:center;  
}

.nbs-flexisel-inner {
    overflow:hidden;
    float:left;
    width:100%;
}

.nbs-flexisel-item {
	width:300px;
	height:90px;
    float:left;
    margin:0px;
    padding:0px;
    cursor:pointer;
    position:relative;
    line-height:0px;
}

.prestij-banner a {
	text-decoration:none!important;
}

.prestij-banner-ic { 
	width:98%!important;
	border:1px solid #eee;
}

.nbs-flexisel-item img {
	max-width:150px;
	max-height:50px;
    cursor: pointer;
	margin:7px auto 5px auto;
	display:block;
}

body .nbs-flexisel-item span{
	text-align:center;
	display:block;
	line-height:25px;
	display:block;
	height:25px;
	font-weight:bold;
}

/*** Navigation ***/

.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
    width: 18px;
    height: 80px; 
    position: absolute;
    cursor: pointer;
    z-index: 100;
    opacity: 0.5;
}

.nbs-flexisel-nav-left {
	margin-top:10px;
    left: -20px;
    background: url(../images/button-previous.png) no-repeat;
}

.nbs-flexisel-nav-right {
	margin-top:10px;
    right: -15px;
    background: url(../images/button-next.png) no-repeat;
}
