@charset "UTF-8";
@import url(../font/roboto-regular/stylesheet.css);
@import url(../font/roboto-medium/stylesheet.css);
@import url(../font/roboto-light/stylesheet.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none; }

[hidden] {
  display: none; }

.no-appearance {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
  .no-appearance::-ms-expand {
    display: none; }

.no-user-select, .no-user-select * {
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none; }

a, button {
  display: inline-block;
  cursor: pointer;
  border: none; }
  a, a:hover, a:active, a:link, a:focus, button, button:hover, button:active, button:link, button:focus {
    outline: none !important;
    text-decoration: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }

span, i {
  display: inline-block; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  height: 100%;
  overflow: hidden; }

body {
  height: 100%;
  overflow: hidden; }

input, textarea {
  font-family: "robotoregular", sans-serif; }

.page-wrap {
  height: 100%;
  font-size: 14px;
  line-height: 20px;
  color: white;
  font-family: "robotoregular", sans-serif;
  padding: 60px 0px 0px 0px;
  position: relative;
  overflow: auto; }

* {
  color: white; }

.link, footer ul li a, .link:link, footer ul li a:link {
  text-decoration: underline; }
  .link:hover, footer ul li a:hover, .link:link:hover, footer ul li a:link:hover {
    text-decoration: none;
    opacity: 0.8; }

/*.content {
	width: 100%;
	max-width: 1012px;
	padding: 0px 16px; 
	margin: 0 auto;
	position: relative;
	z-index: 1;
}*/
.clear {
  clear: both; }

.clearfix:after, .main.row .content .games-wrap:after {
  content: "";
  display: block;
  clear: both; }

.ext-line {
  position: relative;
  width: 100%;
  display: table; }

.ext-inner {
  display: table-cell;
  width: 100%;
  min-width: 100%;
  vertical-align: middle;
  background: #efefef;
  height: 50px;
  font-size: 16px;
  font-family: "robotoregular", sans-serif;
  padding: 0px 10px; }
  .ext-inner .close {
    width: 12px;
    height: 12px;
    position: absolute;
    top: 19px;
    right: 19px;
    background-image: url("../images/close.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    opacity: 0.5;
    cursor: pointer; }
    @media only screen and (-Webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (min--moz-device-pixel-ratio: 2) {
      .ext-inner .close {
        background-image: url("../images/2x/close@2x.png");
        background-size: 12px auto; } }
    .ext-inner .close:hover {
      opacity: 1; }
    .ext-inner .close:active {
      opacity: 0.3; }
  .ext-inner i {
    display: inline-block;
    vertical-align: middle;
    width: 32px;
    height: 32px;
    background-image: url("../images/chrome-logo.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    margin-right: 8px; }
    @media only screen and (-Webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (min--moz-device-pixel-ratio: 2) {
      .ext-inner i {
        background-image: url("../images/2x/chrome-logo@2x.png");
        background-size: 32px auto; } }
  .ext-inner span {
    vertical-align: middle;
    color: #4a4a4a;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
    @media screen and (max-width: 1200px) {
      .ext-inner span {
        width: 800px; } }
    @media screen and (max-width: 1100px) {
      .ext-inner span {
        width: 600px; } }
  .ext-inner .button {
    display: inline-block;
    vertical-align: middle;
    color: #4a4a4a;
    line-height: 34px;
    width: 144px;
    height: 36px;
    background: #fff;
    border-radius: 6px;
    text-align: center;
    border: 1px solid #b2b2b2;
    margin-left: 62px;
    cursor: pointer; }
    .ext-inner .button:hover {
      background: #00ace5;
      color: #fff;
      border-color: #00ace5; }
    .ext-inner .button:active {
      background: #cacaca;
      color: #fff;
      border-color: #cacaca; }

.cancel-popup {
  display: none;
  width: 450px;
  height: 260px;
  background: #fff;
  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -130px;
  margin-left: -225px;
  z-index: 10002;
  overflow: hidden;
  font-family: "robotoregular", sans-serif;
  -webkit-box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.3); }
  .cancel-popup .close {
    width: 12px;
    height: 12px;
    position: absolute;
    top: 8px;
    right: 8px;
    background-image: url("../images/close.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    opacity: 0.5;
    cursor: pointer; }
    @media only screen and (-Webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (min--moz-device-pixel-ratio: 2) {
      .cancel-popup .close {
        background-image: url("../images/2x/close@2x.png");
        background-size: 12px auto; } }
    .cancel-popup .close:hover {
      opacity: 1; }
    .cancel-popup .close:active {
      opacity: 0.3; }
  .cancel-popup .title {
    height: 65px;
    border-bottom: 1px solid #c6c6c6;
    color: #4a4a4a;
    font-size: 30px;
    line-height: 65px;
    padding-left: 22px; }
  .cancel-popup .inner {
    height: 117px;
    font-size: 14px;
    color: #4a4a4a;
    line-height: 117px;
    padding-left: 22px; }
    .cancel-popup .inner i {
      display: inline-block;
      width: 34px;
      height: 32px;
      margin-right: 12px;
      vertical-align: middle;
      background-image: url("../images/cancel-logo.png");
      background-position: 0 0;
      background-repeat: no-repeat; }
      @media only screen and (-Webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (min--moz-device-pixel-ratio: 2) {
        .cancel-popup .inner i {
          background-image: url("../images/2x/cancel-logo@2x.png");
          background-size: 34px auto; } }
  .cancel-popup .buttons-holder {
    height: 78px;
    border-top: 1px solid #c6c6c6;
    background: #f8f8f8;
    padding-top: 13px;
    text-align: right;
    padding-right: 14px; }
    .cancel-popup .buttons-holder .popup-button {
      width: 110px;
      height: 50px;
      display: inline-block;
      border: 1px solid #c6c6c6;
      border-radius: 8px;
      text-align: center;
      line-height: 50px;
      color: #4a4a4a;
      font-size: 16px;
      margin-left: 8px;
      cursor: pointer; }
      .cancel-popup .buttons-holder .popup-button:hover {
        background: #00ace5;
        color: #fff;
        border-color: #00ace5; }
      .cancel-popup .buttons-holder .popup-button:active {
        background: #eeeeee;
        color: #a4a4a4;
        border-color: #c6c6c6; }

header {
  position: absolute;
  width: 100%;
  height: 60px;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  font-size: 18px; }
  header .clock, header .weather, header .games, header .settings, header .search {
    height: 100%;
    line-height: 55px;
    display: inline-block;
    padding: 0px 20px; }
    header .clock > *, header .weather > *, header .games > *, header .settings > *, header .search > * {
      display: inline-block;
      vertical-align: middle; }
    header .clock i, header .weather i, header .games i, header .settings i, header .search i {
      width: 20px;
      height: 20px;
      margin-right: 5px; }
  header .menu {
    float: right;
    padding: 0px 10px; }
  header .clock {
    padding: 0px 30px; }
    header .clock .value {
      font-size: 0;
      height: 100%; }
      header .clock .value span {
        height: 100%;
        font-size: 18px;
        line-height: 60px; }
    header .clock .delim {
      animation-name: delim;
      animation-duration: 1.5s;
      animation-timing-function: linear;
      animation-delay: 0s;
      animation-iteration-count: infinite; }
    header .clock i {
      background-image: url("../images/clock.png");
      background-position: 0 0;
      background-repeat: no-repeat; }
      @media only screen and (-Webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (min--moz-device-pixel-ratio: 2) {
        header .clock i {
          background-image: url("../images/2x/clock@2x.png");
          background-size: 20px auto; } }
  header .weather span[class^="wi"] {
    width: 32px;
    height: 32px;
    background-position: center center;
    background-repeat: no-repeat;
    margin-right: 4px; }
  header .weather .city {
    margin-right: 6px; }
  header .weather .weather-value {
    margin-right: 4px; }
  header .games i {
    background-image: url("../images/games.png");
    background-position: 0 0;
    background-repeat: no-repeat; }
    @media only screen and (-Webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (min--moz-device-pixel-ratio: 2) {
      header .games i {
        background-image: url("../images/2x/games@2x.png");
        background-size: 20px auto; } }
  header .games:hover {
    opacity: 0.5; }
  header .search i {
    background-image: url("../images/loupe-white.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-position: center center; }
    @media only screen and (-Webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (min--moz-device-pixel-ratio: 2) {
      header .search i {
        background-image: url("../images/2x/loupe-white@2x.png");
        background-size: 18px auto; } }
  header .search:hover {
    opacity: 0.5; }
  header .settings {
    position: relative;
    cursor: pointer; }
    header .settings i {
      background-image: url("../images/settings.png");
      background-position: 0 0;
      background-repeat: no-repeat;
      margin: 0; }
      @media only screen and (-Webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (min--moz-device-pixel-ratio: 2) {
        header .settings i {
          background-image: url("../images/2x/settings@2x.png");
          background-size: 20px auto; } }
  header ul {
    display: none;
    position: absolute;
    width: 228px;
    top: 60px;
    right: 0px;
    background: white;
    font-size: 0;
    padding: 20px 14px 10px;
    line-height: 0px;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.3); }
    header ul li {
      display: inline-block;
      margin-right: 10px;
      margin-bottom: 10px; }
      header ul li:nth-child(7n) {
        margin-right: 0px; }
      header ul li a {
        width: 20px;
        height: 20px;
        cursor: pointer; }
        header ul li a.active {
          position: relative; }
          header ul li a.active:before {
            content: "";
            display: inline-block;
            position: absolute;
            width: 8px;
            height: 6px;
            top: 50%;
            left: 50%;
            margin-top: -3px;
            margin-left: -4px;
            background-image: url("../images/tick.png");
            background-position: 0 0;
            background-repeat: no-repeat; }
            @media only screen and (-Webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (min--moz-device-pixel-ratio: 2) {
              header ul li a.active:before {
                background-image: url("../images/2x/tick@2x.png");
                background-size: 8px auto; } }

.wi-1 {
  background-image: url("../images/01.png");
  background-position: 0 0;
  background-repeat: no-repeat; }
  @media only screen and (-Webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (min--moz-device-pixel-ratio: 2) {
    .wi-1 {
      background-image: url("../images/2x/01.png");
      background-size: 44px auto; } }

.wi-2 {
  background-image: url("../images/02.png");
  background-position: 0 0;
  background-repeat: no-repeat; }
  @media only screen and (-Webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (min--moz-device-pixel-ratio: 2) {
    .wi-2 {
      background-image: url("../images/2x/02.png");
      background-size: 44px auto; } }

.wi-3 {
  background-image: url("../images/03.png");
  background-position: 0 0;
  background-repeat: no-repeat; }
  @media only screen and (-Webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (min--moz-device-pixel-ratio: 2) {
    .wi-3 {
      background-image: url("../images/2x/03.png");
      background-size: 44px auto; } }

.wi-4 {
  background-image: url("../images/04.png");
  background-position: 0 0;
  background-repeat: no-repeat; }
  @media only screen and (-Webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (min--moz-device-pixel-ratio: 2) {
    .wi-4 {
      background-image: url("../images/2x/04.png");
      background-size: 44px auto; } }

.wi-5 {
  background-image: url("../images/05.png");
  background-position: 0 0;
  background-repeat: no-repeat; }
  @media only screen and (-Webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (min--moz-device-pixel-ratio: 2) {
    .wi-5 {
      background-image: url("../images/2x/05.png");
      background-size: 44px auto; } }

.wi-6 {
  background-image: url("../images/06.png");
  background-position: 0 0;
  background-repeat: no-repeat; }
  @media only screen and (-Webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (min--moz-device-pixel-ratio: 2) {
    .wi-6 {
      background-image: url("../images/2x/06.png");
      background-size: 44px auto; } }

.wi-7 {
  background-image: url("../images/07.png");
  background-position: 0 0;
  background-repeat: no-repeat; }
  @media only screen and (-Webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (min--moz-device-pixel-ratio: 2) {
    .wi-7 {
      background-image: url("../images/2x/07.png");
      background-size: 44px auto; } }

.wi-8 {
  background-image: url("../images/08.png");
  background-position: 0 0;
  background-repeat: no-repeat; }
  @media only screen and (-Webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (min--moz-device-pixel-ratio: 2) {
    .wi-8 {
      background-image: url("../images/2x/08.png");
      background-size: 44px auto; } }

.wi-9 {
  background-image: url("../images/09.png");
  background-position: 0 0;
  background-repeat: no-repeat; }
  @media only screen and (-Webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (min--moz-device-pixel-ratio: 2) {
    .wi-9 {
      background-image: url("../images/2x/09.png");
      background-size: 44px auto; } }

.wi-10 {
  background-image: url("../images/10.png");
  background-position: 0 0;
  background-repeat: no-repeat; }
  @media only screen and (-Webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (min--moz-device-pixel-ratio: 2) {
    .wi-10 {
      background-image: url("../images/2x/10.png");
      background-size: 44px auto; } }

.wi-11 {
  background-image: url("../images/11.png");
  background-position: 0 0;
  background-repeat: no-repeat; }
  @media only screen and (-Webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (min--moz-device-pixel-ratio: 2) {
    .wi-11 {
      background-image: url("../images/2x/11.png");
      background-size: 44px auto; } }

.wi-12 {
  background-image: url("../images/12.png");
  background-position: 0 0;
  background-repeat: no-repeat; }
  @media only screen and (-Webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (min--moz-device-pixel-ratio: 2) {
    .wi-12 {
      background-image: url("../images/2x/12.png");
      background-size: 44px auto; } }

.wi-13 {
  background-image: url("../images/13.png");
  background-position: 0 0;
  background-repeat: no-repeat; }
  @media only screen and (-Webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (min--moz-device-pixel-ratio: 2) {
    .wi-13 {
      background-image: url("../images/2x/13.png");
      background-size: 44px auto; } }

.wi-14 {
  background-image: url("../images/14.png");
  background-position: 0 0;
  background-repeat: no-repeat; }
  @media only screen and (-Webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (min--moz-device-pixel-ratio: 2) {
    .wi-14 {
      background-image: url("../images/2x/14.png");
      background-size: 44px auto; } }

.wi-15 {
  background-image: url("../images/15.png");
  background-position: 0 0;
  background-repeat: no-repeat; }
  @media only screen and (-Webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (min--moz-device-pixel-ratio: 2) {
    .wi-15 {
      background-image: url("../images/2x/15.png");
      background-size: 44px auto; } }

.wi-16 {
  background-image: url("../images/16.png");
  background-position: 0 0;
  background-repeat: no-repeat; }
  @media only screen and (-Webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (min--moz-device-pixel-ratio: 2) {
    .wi-16 {
      background-image: url("../images/2x/16.png");
      background-size: 44px auto; } }

.wi-17 {
  background-image: url("../images/17.png");
  background-position: 0 0;
  background-repeat: no-repeat; }
  @media only screen and (-Webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (min--moz-device-pixel-ratio: 2) {
    .wi-17 {
      background-image: url("../images/2x/17.png");
      background-size: 44px auto; } }

.wi-18 {
  background-image: url("../images/18.png");
  background-position: 0 0;
  background-repeat: no-repeat; }
  @media only screen and (-Webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (min--moz-device-pixel-ratio: 2) {
    .wi-18 {
      background-image: url("../images/2x/18.png");
      background-size: 44px auto; } }

.wi-19 {
  background-image: url("../images/19.png");
  background-position: 0 0;
  background-repeat: no-repeat; }
  @media only screen and (-Webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (min--moz-device-pixel-ratio: 2) {
    .wi-19 {
      background-image: url("../images/2x/19.png");
      background-size: 44px auto; } }

.wi-20 {
  background-image: url("../images/20.png");
  background-position: 0 0;
  background-repeat: no-repeat; }
  @media only screen and (-Webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (min--moz-device-pixel-ratio: 2) {
    .wi-20 {
      background-image: url("../images/2x/20.png");
      background-size: 44px auto; } }

.wi-21 {
  background-image: url("../images/21.png");
  background-position: 0 0;
  background-repeat: no-repeat; }
  @media only screen and (-Webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (min--moz-device-pixel-ratio: 2) {
    .wi-21 {
      background-image: url("../images/2x/21.png");
      background-size: 44px auto; } }

.wi-22 {
  background-image: url("../images/22.png");
  background-position: 0 0;
  background-repeat: no-repeat; }
  @media only screen and (-Webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (min--moz-device-pixel-ratio: 2) {
    .wi-22 {
      background-image: url("../images/2x/22.png");
      background-size: 44px auto; } }

.wi-23 {
  background-image: url("../images/23.png");
  background-position: 0 0;
  background-repeat: no-repeat; }
  @media only screen and (-Webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (min--moz-device-pixel-ratio: 2) {
    .wi-23 {
      background-image: url("../images/2x/23.png");
      background-size: 44px auto; } }

.wi-24 {
  background-image: url("../images/24.png");
  background-position: 0 0;
  background-repeat: no-repeat; }
  @media only screen and (-Webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (min--moz-device-pixel-ratio: 2) {
    .wi-24 {
      background-image: url("../images/2x/24.png");
      background-size: 44px auto; } }

.wi-25 {
  background-image: url("../images/25.png");
  background-position: 0 0;
  background-repeat: no-repeat; }
  @media only screen and (-Webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (min--moz-device-pixel-ratio: 2) {
    .wi-25 {
      background-image: url("../images/2x/25.png");
      background-size: 44px auto; } }

.wi-26 {
  background-image: url("../images/26.png");
  background-position: 0 0;
  background-repeat: no-repeat; }
  @media only screen and (-Webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (min--moz-device-pixel-ratio: 2) {
    .wi-26 {
      background-image: url("../images/2x/26.png");
      background-size: 44px auto; } }

.wi-27 {
  background-image: url("../images/27.png");
  background-position: 0 0;
  background-repeat: no-repeat; }
  @media only screen and (-Webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (min--moz-device-pixel-ratio: 2) {
    .wi-27 {
      background-image: url("../images/2x/27.png");
      background-size: 44px auto; } }

.wi-28 {
  background-image: url("../images/28.png");
  background-position: 0 0;
  background-repeat: no-repeat; }
  @media only screen and (-Webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (min--moz-device-pixel-ratio: 2) {
    .wi-28 {
      background-image: url("../images/2x/28.png");
      background-size: 44px auto; } }

.wi-29 {
  background-image: url("../images/29.png");
  background-position: 0 0;
  background-repeat: no-repeat; }
  @media only screen and (-Webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (min--moz-device-pixel-ratio: 2) {
    .wi-29 {
      background-image: url("../images/2x/29.png");
      background-size: 44px auto; } }

.wi-30 {
  background-image: url("../images/30.png");
  background-position: 0 0;
  background-repeat: no-repeat; }
  @media only screen and (-Webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (min--moz-device-pixel-ratio: 2) {
    .wi-30 {
      background-image: url("../images/2x/30.png");
      background-size: 44px auto; } }

.wi-31 {
  background-image: url("../images/31.png");
  background-position: 0 0;
  background-repeat: no-repeat; }
  @media only screen and (-Webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (min--moz-device-pixel-ratio: 2) {
    .wi-31 {
      background-image: url("../images/2x/31.png");
      background-size: 44px auto; } }

.wi-32 {
  background-image: url("../images/32.png");
  background-position: 0 0;
  background-repeat: no-repeat; }
  @media only screen and (-Webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (min--moz-device-pixel-ratio: 2) {
    .wi-32 {
      background-image: url("../images/2x/32.png");
      background-size: 44px auto; } }

.wi-33 {
  background-image: url("../images/33.png");
  background-position: 0 0;
  background-repeat: no-repeat; }
  @media only screen and (-Webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (min--moz-device-pixel-ratio: 2) {
    .wi-33 {
      background-image: url("../images/2x/33.png");
      background-size: 44px auto; } }

.wi-34 {
  background-image: url("../images/34.png");
  background-position: 0 0;
  background-repeat: no-repeat; }
  @media only screen and (-Webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (min--moz-device-pixel-ratio: 2) {
    .wi-34 {
      background-image: url("../images/2x/34.png");
      background-size: 44px auto; } }

.wi-35 {
  background-image: url("../images/35.png");
  background-position: 0 0;
  background-repeat: no-repeat; }
  @media only screen and (-Webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (min--moz-device-pixel-ratio: 2) {
    .wi-35 {
      background-image: url("../images/2x/35.png");
      background-size: 44px auto; } }

.wi-36 {
  background-image: url("../images/36.png");
  background-position: 0 0;
  background-repeat: no-repeat; }
  @media only screen and (-Webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (min--moz-device-pixel-ratio: 2) {
    .wi-36 {
      background-image: url("../images/2x/36.png");
      background-size: 44px auto; } }

.wi-37 {
  background-image: url("../images/37.png");
  background-position: 0 0;
  background-repeat: no-repeat; }
  @media only screen and (-Webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (min--moz-device-pixel-ratio: 2) {
    .wi-37 {
      background-image: url("../images/2x/37.png");
      background-size: 44px auto; } }

.wi-38 {
  background-image: url("../images/38.png");
  background-position: 0 0;
  background-repeat: no-repeat; }
  @media only screen and (-Webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (min--moz-device-pixel-ratio: 2) {
    .wi-38 {
      background-image: url("../images/2x/38.png");
      background-size: 44px auto; } }

.wi-39 {
  background-image: url("../images/39.png");
  background-position: 0 0;
  background-repeat: no-repeat; }
  @media only screen and (-Webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (min--moz-device-pixel-ratio: 2) {
    .wi-39 {
      background-image: url("../images/2x/39.png");
      background-size: 44px auto; } }

.wi-40 {
  background-image: url("../images/40.png");
  background-position: 0 0;
  background-repeat: no-repeat; }
  @media only screen and (-Webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (min--moz-device-pixel-ratio: 2) {
    .wi-40 {
      background-image: url("../images/2x/40.png");
      background-size: 44px auto; } }

.wi-41 {
  background-image: url("../images/41.png");
  background-position: 0 0;
  background-repeat: no-repeat; }
  @media only screen and (-Webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (min--moz-device-pixel-ratio: 2) {
    .wi-41 {
      background-image: url("../images/2x/41.png");
      background-size: 44px auto; } }

.wi-42 {
  background-image: url("../images/42.png");
  background-position: 0 0;
  background-repeat: no-repeat; }
  @media only screen and (-Webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (min--moz-device-pixel-ratio: 2) {
    .wi-42 {
      background-image: url("../images/2x/42.png");
      background-size: 44px auto; } }

.wi-43 {
  background-image: url("../images/43.png");
  background-position: 0 0;
  background-repeat: no-repeat; }
  @media only screen and (-Webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (min--moz-device-pixel-ratio: 2) {
    .wi-43 {
      background-image: url("../images/2x/43.png");
      background-size: 44px auto; } }

.wi-44 {
  background-image: url("../images/44.png");
  background-position: 0 0;
  background-repeat: no-repeat; }
  @media only screen and (-Webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (min--moz-device-pixel-ratio: 2) {
    .wi-44 {
      background-image: url("../images/2x/44.png");
      background-size: 44px auto; } }

.wi-45 {
  background-image: url("../images/45.png");
  background-position: 0 0;
  background-repeat: no-repeat; }
  @media only screen and (-Webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (min--moz-device-pixel-ratio: 2) {
    .wi-45 {
      background-image: url("../images/2x/45.png");
      background-size: 44px auto; } }

.wi-46 {
  background-image: url("../images/46.png");
  background-position: 0 0;
  background-repeat: no-repeat; }
  @media only screen and (-Webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (min--moz-device-pixel-ratio: 2) {
    .wi-46 {
      background-image: url("../images/2x/46.png");
      background-size: 44px auto; } }

.wi-47 {
  background-image: url("../images/47.png");
  background-position: 0 0;
  background-repeat: no-repeat; }
  @media only screen and (-Webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (min--moz-device-pixel-ratio: 2) {
    .wi-47 {
      background-image: url("../images/2x/47.png");
      background-size: 44px auto; } }

.weather-value:after {
  content: "º"; }

.weather-value {
  opacity: 0.6; }

.weather-value + span {
  opacity: 0.6; }

.weather {
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  -ms-transition: opacity 400ms ease-in;
  -o-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in; }

@-webkit-keyframes delim {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-moz-keyframes delim {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes delim {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
.main {
  min-height: 100%;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column; }
  .main .center {
    margin: auto;
    padding: 20px 0px; }
    .main .center.main-page {
      width: 728px; }
      .main .center.main-page .games-list {
        margin-top: 20px;
        text-align: center; }
        .main .center.main-page .games-list ul li:last-child {
          margin-right: 0; }
    .main .center.text {
      width: 100%;
      max-width: 832px;
      padding: 20px 16px;
      font-family: "robotolight", sans-serif; }
      .main .center.text h1 {
        font-size: 50px;
        text-align: center;
        line-height: 50px; }
      .main .center.text h2 {
        font-size: 28px;
        margin-top: 30px;
        margin-bottom: 10px;
        line-height: 34px; }
      .main .center.text p {
        font-size: 16px;
        margin-bottom: 20px;
        text-align: justify; }
      .main .center.text.contacts h1 {
        margin-bottom: 35px; }
      .main .center.text.contacts p {
        margin: 20px 0px 0px 0px;
        font-size: 18px;
        text-align: center; }
  .main.row {
    height: 100%;
    flex-direction: row;
    -moz-flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row; overflow:hidden;}
    .main.row > * {
      height: 100%; }
    .main.row .side-menu {
      position: relative;
      width: 300px;
      padding: 20px 0px 0px 30px;
      background: black;
      font-size: 18px;
      flex-shrink: 0;
      -moz-flex-shrink: 0;
      -webkit-flex-shrink: 0;
      -ms-flex-shrink: 0; }
      .main.row .side-menu .banner-holder {
      position: fixed;
      left: 0;
      bottom: 0;
      z-index: 10;}
      .main.row .side-menu.offset {
        padding-top: 40px; 
                padding-bottom: 340px;}
      .main.row .side-menu .popular, .main.row .side-menu .new, .main.row .side-menu .genres, .main.row .side-menu .back {
        display: block;
        padding-bottom: 10px; }
        .main.row .side-menu .popular > *, .main.row .side-menu .new > *, .main.row .side-menu .genres > *, .main.row .side-menu .back > * {
          display: inline-block;
          vertical-align: middle; }
        .main.row .side-menu .popular i, .main.row .side-menu .new i, .main.row .side-menu .genres i, .main.row .side-menu .back i {
          margin-right: 5px; }
      .main.row .side-menu .popular span, .main.row .side-menu .new span, .main.row .side-menu .back span {
        opacity: 0.8; }
      .main.row .side-menu .popular:hover span, .main.row .side-menu .popular:active span, .main.row .side-menu .popular.active span, .main.row .side-menu .new:hover span, .main.row .side-menu .new:active span, .main.row .side-menu .new.active span, .main.row .side-menu .back:hover span, .main.row .side-menu .back:active span, .main.row .side-menu .back.active span {
        opacity: 1; }
      .main.row .side-menu .popular:hover i, .main.row .side-menu .popular:active i, .main.row .side-menu .popular.active i, .main.row .side-menu .new:hover i, .main.row .side-menu .new:active i, .main.row .side-menu .new.active i, .main.row .side-menu .back:hover i, .main.row .side-menu .back:active i, .main.row .side-menu .back.active i {
        background-position: -100px -100px, center center; }
      .main.row .side-menu .popular:active span, .main.row .side-menu .new:active span, .main.row .side-menu .back:active span {
        color: #00ace5; }
      .main.row .side-menu .popular i, .main.row .side-menu .new i, .main.row .side-menu .back i {
        background-position: center center, -100px -100px;
        background-repeat: no-repeat;
        background-size: contain; }
      .main.row .side-menu .popular i {
        width: 20px;
        height: 16px;
        background-image: url("../images/star.png");
        background-position: 0 0;
        background-repeat: no-repeat; }
        @media only screen and (-Webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (min--moz-device-pixel-ratio: 2) {
          .main.row .side-menu .popular i {
            background-image: url("../images/2x/star@2x.png");
            background-size: 20px auto; } }
      .main.row .side-menu .popular:hover i {
        background-image: url("../images/star-active.png");
        background-position: 0 0;
        background-repeat: no-repeat; }
        @media only screen and (-Webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (min--moz-device-pixel-ratio: 2) {
          .main.row .side-menu .popular:hover i {
            background-image: url("../images/2x/star-active@2x.png");
            background-size: 20px auto; } }
      .main.row .side-menu .new i {
        width: 21px;
        height: 21px;
        background-image: url("../images/mark.png");
        background-position: 0 0;
        background-repeat: no-repeat; }
        @media only screen and (-Webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (min--moz-device-pixel-ratio: 2) {
          .main.row .side-menu .new i {
            background-image: url("../images/2x/mark@2x.png");
            background-size: 21px auto; } }
      .main.row .side-menu .new:hover i {
        background-image: url("../images/mark-active.png");
        background-position: 0 0;
        background-repeat: no-repeat; }
        @media only screen and (-Webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (min--moz-device-pixel-ratio: 2) {
          .main.row .side-menu .new:hover i {
            background-image: url("../images/2x/mark-active@2x.png");
            background-size: 21px auto; } }
      .main.row .side-menu .genres {
        padding-top: 10px; }
        .main.row .side-menu .genres i {
          width: 19px;
          height: 14px;
          background-image: url("../images/genres.png");
          background-position: 0 0;
          background-repeat: no-repeat; }
          @media only screen and (-Webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (min--moz-device-pixel-ratio: 2) {
            .main.row .side-menu .genres i {
              background-image: url("../images/2x/genres@2x.png");
              background-size: 19px auto; } }
      .main.row .side-menu .back i {
        width: 16px;
        height: 16px;
        background-image: url("../images/arrow-left.png");
        background-position: 0 0;
        background-repeat: no-repeat; }
        @media only screen and (-Webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (min--moz-device-pixel-ratio: 2) {
          .main.row .side-menu .back i {
            background-image: url("../images/2x/arrow-left@2x.png");
            background-size: 16px auto; } }
      .main.row .side-menu .back:hover i {
        background-image: url("../images/arrow-left-active.png");
        background-position: 0 0;
        background-repeat: no-repeat; }
        @media only screen and (-Webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (min--moz-device-pixel-ratio: 2) {
          .main.row .side-menu .back:hover i {
            background-image: url("../images/2x/arrow-left-active@2x.png");
            background-size: 16px auto; } }
      .main.row .side-menu .genres-list {
        padding-left: 30px; }
        .main.row .side-menu .genres-list li {
          padding-bottom: 10px; }
          .main.row .side-menu .genres-list li a {
            font-size: 16px;
            opacity: 0.5; }
            .main.row .side-menu .genres-list li a:hover {
              opacity: 1; }
            .main.row .side-menu .genres-list li a:active, .main.row .side-menu .genres-list li a.active {
              color: #00ace5;
              opacity: 1; }
      .main.row .side-menu .game-preview {
        padding-top: 40px; }
        .main.row .side-menu .game-preview img {
          display: block;
          width: 70px;
          height: 70px; }
        .main.row .side-menu .game-preview .name {
          padding-top: 20px;
          font-size: 18px; }
        .main.row .side-menu .game-preview .type {
          padding-top: 5px;
          font-size: 16px;
          opacity: 0.8; }
    .main.row .content {
      width: 100%;
      overflow: hidden; }
      .main.row .content .games-wrap {
        width: auto;
        height: 100%;
        margin: 0 auto;
        padding: 30px 0px;
        overflow: auto; }
        .main.row .content .games-wrap .banner-holder {
          margin-bottom: 15px;
          text-align: center;
        }
        .main.row .content .games-wrap h1 {
          font-size: 36px;
          line-height: 40px;
          margin-bottom: 20px;
          padding-left: 40px; }
        .main.row .content .games-wrap .games-list {
          padding-left: 40px; }
          .main.row .content .games-wrap .games-list ul li {
            margin-right: 30px;
            margin-bottom: 30px; }
        .main.row .content .games-wrap h1 + .loader, .main.row .content .games-wrap .games-list + .loader {
          height: auto; }

.search-holder {
  position: relative;
  height: 46px; }
  .search-holder .input {
    width: 100%;
    height: 46px;
    border: none;
    color: #606060;
    padding: 0px 48px 0px 20px;
    font-size: 18px; }
  .search-holder .submit {
    position: absolute;
    width: 48px;
    height: 46px;
    top: 0;
    right: 0;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
    background-image: url("../images/loupe.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.7; }
    @media only screen and (-Webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (min--moz-device-pixel-ratio: 2) {
      .search-holder .submit {
        background-image: url("../images/2x/loupe@2x.png");
        background-size: 18px auto; } }
    .search-holder .submit:hover {
      opacity: 1; }
  .search-holder .suggestions {
    position: absolute;
    width: 100%;
    top: 100%;
    z-index: 200;
    left: 0;
    -webkit-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.5);
    background: white;
    padding: 10px 0px;
    display: none;
    color: #606060;
    text-align: left;
    font-size: 18px; }
    .search-holder .suggestions .suggestion {
      padding: 7px 20px;
      cursor: pointer;
      color: #606060;
      list-style: none; }
      .search-holder .suggestions .suggestion:hover, .search-holder .suggestions .suggestion.active {
        background: #00ace5;
        color: white; }
        .search-holder .suggestions .suggestion:hover *, .search-holder .suggestions .suggestion.active * {
          color: white; }
      .search-holder .suggestions .suggestion strong {
        font-family: 'robotomedium', sans-serif;
        color: #606060; }

.games-list ul {
  font-size: 0; }
  .games-list ul li {
    display: inline-block;
    width: 200px;
    font-size: 14px;
    margin-right: 20px;
    position: relative; }
    .games-list ul li:hover .img .overlay {
      top: 0; }
    .games-list ul li .img {
      width: 100%;
      height: 150px;
      position: relative;
      overflow: hidden;
      margin-bottom: 5px; }
      .games-list ul li .img .img {
        width: 100%;
        height: 100%; }
      .games-list ul li .img .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 100%;
        left: 0;
        background: rgba(0, 0, 0, 0.7);
        display: -ms-flexbox;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: flex;
        flex-direction: column;
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        -webkit-transition: all ease-in 0.2s;
        -moz-transition: all ease-in 0.2s;
        -ms-transition: all ease-in 0.2s;
        -o-transition: all ease-in 0.2s;
        transition: all ease-in 0.2s;
        padding-bottom: 45px; }
        .games-list ul li .img .overlay p {
          width: 100%;
          height: auto;
          margin: auto;
          font-size: 12px;
          padding: 10px; }
        .games-list ul li .img .overlay .play-wrap {
          position: absolute;
          width: 100%;
          bottom: 0;
          left: 0;
          text-align: center;
          margin-bottom: 5px; }
          .games-list ul li .img .overlay .play-wrap .play {
            height: 30px;
            line-height: 28px;
            border-radius: 16px;
            padding: 0px 14px;
            background: #00ace5; }
            .games-list ul li .img .overlay .play-wrap .play:hover {
              background: white;
              color: #00ace5; }
              .games-list ul li .img .overlay .play-wrap .play:hover:after {
                border-left: 7px solid #00ace5; }
            .games-list ul li .img .overlay .play-wrap .play:active {
              background: #bbbbbe;
              color: white; }
              .games-list ul li .img .overlay .play-wrap .play:active:after {
                border-left: 7px solid white; }
            .games-list ul li .img .overlay .play-wrap .play:after {
              content: '';
              display: inline-block;
              width: 0px;
              height: 0px;
              margin-top: -2px;
              margin-left: 10px;
              border-left: 7px solid white;
              border-top: 5px solid transparent;
              border-bottom: 5px solid transparent; }
    .games-list ul li .type {
      font-size: 12px;
      opacity: 0.8; }

.feed, .feed.page-wrap {
  background: white; }
.feed .content {
  max-width: 1032px;
  margin: 0 auto;
  padding: 0px 16px; }
.feed header {
  background: #8e8e93; }
  .feed header .search-holder {
    width: 100%;
    max-width: 640px;
    margin-top: 7px; }
  .feed header .menu {
    position: absolute;
    top: 0;
    right: 0; }
.feed .main {
  display: block; }
.feed .feed-menu {
  height: 60px;
  border-bottom: 1px solid #d5d5db;
  font-size: 0;
  line-height: 56px;
  margin-bottom: 20px; }
  .feed .feed-menu ul li {
    display: inline-block;
    height: 100%; }
    .feed .feed-menu ul li a {
      height: 100%;
      font-size: 18px;
      padding: 0px 20px;
      color: #8e8e93; }
      .feed .feed-menu ul li a:hover {
        color: #00ace5; }
      .feed .feed-menu ul li a.active {
        color: #00ace5;
        border-bottom: 3px solid #00ace5; }
.feed .results {
  padding-left: 20px; }
  .feed .results b {
    font-weight: bold; }
  .feed .results .result {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
    max-width: 640px; }
    .feed .results .result > * {
      display: block; }
    .feed .results .result .title {
      font-size: 18px;
      line-height: 20px;
      color: #1a0dab;
      text-decoration: none; }
      .feed .results .result .title:hover {
        text-decoration: underline; }
    .feed .results .result .link, .feed .results .result footer ul li a, footer ul li .feed .results .result a {
      color: #006621;
      text-decoration: none; }
      .feed .results .result .link, .feed .results .result footer ul li a, footer ul li .feed .results .result a, .feed .results .result .link:hover, .feed .results .result footer ul li a:hover, footer ul li .feed .results .result a:hover {
        opacity: 1; }
    .feed .results .result p {
      font-size: 12px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: #545454; }
.feed .pages {
  padding-left: 20px;
  font-size: 0; }
  .feed .pages li {
    display: inline-block; }
    .feed .pages li:first-child a {
      border-radius: 5px 0px 0px 5px; }
    .feed .pages li:last-child a {
      border-radius: 0px 5px 5px 0px; }
    .feed .pages li a {
      padding: 10px 16px;
      border: 1px solid #d5d5db;
      color: #8e8e93;
      font-size: 18px; }
      .feed .pages li a:hover {
        color: #00ace5; }
      .feed .pages li a.active {
        background: #8e8e93;
        color: white;
        border: 1px solid #8e8e93; }

.loader {
  height: 100%;
  padding: 30px;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex; }
  .loader .img-wrap {
    display: inline-block;
    width: 70px;
    height: 70px;
    background: white;
    border-radius: 100%;
    margin: auto;
    position: relative; }
    .loader .img-wrap img {
      display: inline-block;
      position: absolute;
      width: 40px;
      height: 40px;
      top: 50%;
      left: 50%;
      margin-top: -20px;
      margin-left: -20px; }

footer {
  text-align: center;
  padding-bottom: 14px; }
  footer ul li {
    display: inline-block;
    padding: 0px 10px; }
    footer ul li span {
      opacity: 0.8; }

.bg-1 {
  background-image: url("../images/random-color@2x.png");
  background-size: cover; }

.bg-2 {
  background: #304063; }

.bg-3 {
  background: #a67c52; }

.bg-4 {
  background: #f06eaa; }

.bg-5 {
  background: #3e4554; }

.bg-6 {
  background: #5674b9; }

.bg-7 {
  background: #8560a8; }

.bg-8 {
  background: #ee145b; }

.bg-9 {
  background: #92278f; }

.bg-10 {
  background: #440e62; }

.bg-11 {
  background: #003663; }

.bg-12 {
  background: #0054a6; }

.bg-13 {
  background: #00aeef; }

.bg-14 {
  background: #00a99d; }

.bg-15 {
  background: #f8941d; }

.bg-16 {
  background: #ddbf18; }

.bg-17 {
  background: #bb1c1c; }

.bg-18 {
  background: #e83d45; }

.bg-19 {
  background: #2e7d23; }

.bg-20 {
  background: #83bf30; }

.bg-21 {
  background: #b2d319; }

/*# sourceMappingURL=main.css.map */
