/* slider */

	.slider {
		position: relative;
		height: 234px;
		margin: 0 0 10px 0;
		padding: 0 0 0 362px;
		overflow: hidden;
		width: 368px;
	}
	
		.slider-item {
			float: left;
			width: 114px;
			height: 111px;
			margin: 0 0 10px 10px;
		}
		
			.slider-item-small {
				overflow: hidden;
				width: 114px;
				height: 111px;
				position: relative;
				border: 1px #353535 solid;
				cursor: pointer;
			}
			
				.slider-item-small img {
					min-width: 114px;
					height: 111px;
					border: 0;
				}
				
				.slider-item-small-dark {
					width: 100%;
					height: 100%;
					background: url(../images/slider-item.png);
					position: absolute;
					left: 0;
					top: 0;
					cursor: pointer;
				}
				
			.slider-item-big {
				position: absolute;
				left: 0;
				top: 0;
				width: 475px;
				height: 234px;
				overflow: hidden;
				display: none;
			}
			
			.active-slider .slider-item-big {
				
			}
			
			.active-slider .slider-item-small  {
				border: 1px #fff solid;
			}
			
			.slider-item-hover .slider-item-small {
				border: 1px #fff solid !important;
			}
			
			.active-slider .slider-item-small-dark, .slider-item-hover .slider-item-small-dark {
				display: none;
			}
			
				.slider-item-big img {
					position: absolute;
					left: 0;
					top: 0;
					min-height: 234px;
					border: 0;
				}
				
				.slider-item-big h2 {
					position: absolute;
					font-size: 28px;
					text-transform: uppercase;
					left: 10px;
					bottom: 10px;
					font-weight: normal;
					background: url(../images/slider-item.png);
					padding: 10px;
					color: #fff;
				}
