/*aggiornato V6 2giu 2015*/
html {
    font-size:100%;
    width:100%;
    font-family:arial,sans-serif;
    color:#666;
}
body {
    background:#fff url(../img/body.png) repeat-x top left;
    min-width:240px;
//word-wrap:break-word;
}

/*Stili generici*/
:focus {
    outline:none;
}
select {
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #ffffff;
}
img {
    max-width:100%;
    border:0;
}
figure {
    margin:0;
    padding:0;
}
a {
    text-decoration:none;
    color:#be206b;
}
a:hover{
    text-decoration:none;
}
ol li {
    list-style-type:l!important;
    list-style-position:inside;
    margin:0 0 10px;
}
.clear {
    clear:both;
}
.strong {/*V5*/
    font-weight:bold!important;
}
.bottone {
    cursor:pointer;
    display:inline-block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background:#be206b;
    color:#fff;
    font-weight:bold;
    text-decoration:none;
    text-align:center;
    border:0;
    background: #be206b;
    background: -moz-linear-gradient(top,  #be206b 0%, #a51c60 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#be206b), color-stop(100%,#a51c60));
    background: -webkit-linear-gradient(top,  #be206b 0%,#a51c60 100%);
    background: -o-linear-gradient(top,  #be206b 0%,#a51c60 100%);
    background: -ms-linear-gradient(top,  #be206b 0%,#a51c60 100%);
    background: linear-gradient(to bottom,  #be206b 0%,#a51c60 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#be206b', endColorstr='#a51c60',GradientType=0 );
}
.bottone:hover {
    text-decoration:none;
    background: #a51c60;
    background: -moz-linear-gradient(top,  #a51c60 0%, #be206b 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a51c60), color-stop(100%,#be206b));
    background: -webkit-linear-gradient(top,  #a51c60 0%,#be206b 100%);
    background: -o-linear-gradient(top,  #a51c60 0%,#be206b 100%);
    background: -ms-linear-gradient(top,  #a51c60 0%,#be206b 100%);
    background: linear-gradient(to bottom,  #a51c60 0%,#be206b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a51c60', endColorstr='#be206b',GradientType=0 );
}
.bottone.blu {
    background: #2f7abb;
    background: -moz-linear-gradient(top, #2f7abb 0%, #26649a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2f7abb), color-stop(100%,#26649a));
    background: -webkit-linear-gradient(top, #2f7abb 0%,#26649a 100%);
    background: -o-linear-gradient(top, #2f7abb 0%,#26649a 100%);
    background: -ms-linear-gradient(top, #2f7abb 0%,#26649a 100%);
    background: linear-gradient(to bottom, #2f7abb 0%,#26649a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f7abb', endColorstr='#26649a',GradientType=0 );
}
.bottone.blu:hover {
    background: #26649a;
    background: -moz-linear-gradient(top, #26649a 0%, #2f7abb 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#26649a), color-stop(100%,#2f7abb));
    background: -webkit-linear-gradient(top, #26649a 0%,#2f7abb 100%);
    background: -o-linear-gradient(top, #26649a 0%,#2f7abb 100%);
    background: -ms-linear-gradient(top, #26649a 0%,#2f7abb 100%);
    background: linear-gradient(to bottom, #26649a 0%,#2f7abb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26649a', endColorstr='#2f7abb',GradientType=0 );
}
.bottone.grigio {
    background: #8b8b8b;
    background: -moz-linear-gradient(top, #8b8b8b 0%, #696969 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8b8b8b), color-stop(100%,#696969));
    background: -webkit-linear-gradient(top, #8b8b8b 0%,#696969 100%);
    background: -o-linear-gradient(top, #8b8b8b 0%,#696969 100%);
    background: -ms-linear-gradient(top, #8b8b8b 0%,#696969 100%);
    background: linear-gradient(to bottom, #8b8b8b 0%,#696969 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8b8b8b', endColorstr='#696969',GradientType=0 );
}
.bottone.grigio:hover {
    background: #696969;
    background: -moz-linear-gradient(top, #696969 0%, #8b8b8b 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#696969), color-stop(100%,#8b8b8b));
    background: -webkit-linear-gradient(top, #696969 0%,#8b8b8b 100%);
    background: -o-linear-gradient(top, #696969 0%,#8b8b8b 100%);
    background: -ms-linear-gradient(top, #696969 0%,#8b8b8b 100%);
    background: linear-gradient(to bottom, #696969 0%,#8b8b8b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#696969', endColorstr='#8b8b8b',GradientType=0 );
}
.bottone.grigio-lite {/*v5*/
    background: #f5f5f5;
    background: -moz-linear-gradient(top, #f5f5f5 0%, #e3e3e3 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#e3e3e3));
    background: -webkit-linear-gradient(top, #f5f5f5 0%,#e3e3e3 100%);
    background: -o-linear-gradient(top, #f5f5f5 0%,#e3e3e3 100%);
    background: -ms-linear-gradient(top, #f5f5f5 0%,#e3e3e3 100%);
    background: linear-gradient(to bottom, #f5f5f5 0%,#e3e3e3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e3e3e3',GradientType=0 );
    color:#b21e66;
}
.bottone.grigio-lite:hover  { /*v5*/
    background: #e3e3e3;
    background: -moz-linear-gradient(top, #e3e3e3 0%, #f5f5f5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e3e3e3), color-stop(100%,#f5f5f5));
    background: -webkit-linear-gradient(top, #e3e3e3 0%,#f5f5f5 100%);
    background: -o-linear-gradient(top, #e3e3e3 0%,#f5f5f5 100%);
    background: -ms-linear-gradient(top, #e3e3e3 0%,#f5f5f5 100%);
    background: linear-gradient(to bottom, #e3e3e3 0%,#f5f5f5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3e3e3', endColorstr='#f5f5f5',GradientType=0 );
}
.bottone.bianco {/*V3*/
    color:#be206b;
    background:#fff;
}
.ins .bottone.telefono {/*V4*/
    background: #fff;
    color:#be206b;
    border:2px solid #be206b;
}
.upper {
    text-transform:uppercase;
}
.lower {
    text-transform:lowercase;
}
.radius-5{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.close {
    display:none;
}
.hidden{
    display: none !important;
    visibility: hidden;
}
.open {
    display:block;
}
.open-div, .leggi-piu {
    cursor:pointer;
}
.selected {
    font-weight:bold;
}
.bg-bianco {
    background:#fff;
}
.inline-block-list li {
    display:inline-block;
}
.right-align {
    text-align:right;
}
.center-align {
    text-align:center;
}
.desktop {
    display:none;
}
.mobile {
    display:block;
}
.black {
    color:#000;
}
.nota {
    font-size:9px;
    line-height:15px;
}
.top-border {/*MODIFICA V3*/
    border-top:1px solid #ddd;
}
.bottom-border {/*MODIFICA V3*/
    border-bottom:1px solid #ddd;
}
.padding-40 {
    padding:0 0 40px!important;
}

.leggi {
    color:#be206b;
    font-weight:bold;
    padding:15px 30px 15px 0;
    background:url(../img/close.png) no-repeat center right;
    background-size:22px 22px;
}
.leggi a{
    color:#be206b;
}



.to-open {/*Accordion V6*/
    display:none;
}
.to-open.opener  {/*Accordion V6*/
    display:block;
}

#button-base {
    display: none;
}
#button-base-sotto {
    display: block;
    margin-top: 10px;
    margin-bottom: 0;
}



@media only screen and (min-width : 480px) {
    .info-locale.mobile {
        display:none;
    }
    .desktop.plus {/*MODIFICATO V3*/
        display:block;
    }
    .mobile.plus {/*MODIFICATO V3*/
        display:none;
    }

}
@media only screen and (min-width : 769px) {
    .desktop {
        display:block;
    }
    .mobile {
        display:none;
    }
    .skokka .close, .skokka .elenco-citta {
        display:block!important;
    }
}
/*Griglia*/
.row {
    width:100%;
    clear:both;
    float:left;
}
.col {
    float:left
}
.col.right {
    float:right;
}
.col.unico,.col.w-25, .col.w-25.pad, .col.w-45,
.col.w-50,.col.w-50.pad, .col.w-75, .col.w-33 , .col.w-33.pad,.col.pad.ver-testo{/*MODIFICATO v5*/
    width:100%;
}
.col.contenitore-col {/*MODIFICATO v3*/
    width:50%;
}
.col.w-25.pad.m-33 {
    /*MODIFICATO v3*/
    width:31%;
}
.col.w-75.m-67 {
    /*MODIFICATO v3*/
    width:65%;
}
.col.contenitore-col {/*MODIFICATO v3*/
    width:50%;
}
.col.pad {
    margin-right:0;
}
.col.pad.m-33 {/*MODIFICATO v3*/
    margin-right:2%;
}
.col.w-25.pad.dispari {
    clear:both;
}
.skokka .col.w-25.pad {
    width:40.5%;
}
@media only screen and (max-width : 320px) {  /*V4*/
    .w-50-240 {
        width:50%;
    }
}
@media only screen and (min-width : 480px) {
    .col.pad, .col.pad.m-33 {/*MODIFICATO v3*/
        margin-right:1.5%;
    }
    .col.w-25 {
        width:42%;
    }
    .col.w-25.pad, .col.w-25.pad.m-33 {
        width:40.5%;
        /*MODIFICATO v3*/
    }
    .col.w-33 {/*MODIFICATO v3*/
        width:33%;
    }
    .col.w-75, .col.w-75.m-67 {
        width:58%;
        /*MODIFICATO v3*/
    }
}
@media only screen and (max-width : 768px) and (min-width : 480px) {
    .dettaglio-annuncio .col.pad,
    .dettaglio-annuncio .col.w-25,
    .dettaglio-annuncio .col.w-25.pad,
    .dettaglio-annuncio .col.w-75{
        margin-right:0;
        width:100%;
    }
    .info-locale .col.w-25 {
        width:50%;
    }
    .info-locale .col.w-25.pad {
        width:43.5%;
    }
    /*GRIGLIA RIEPILOGO*/
    .col.w-25.pad.ver-img {/*V3*/
        width:31.5%;
    }
    .col.pad.ver-testo	{/*MODIFICATO v3*/
        width:auto;
        padding-right:2.5%!important;
    }
    .bottom-submit.verifica .col.w-50 {/*MODIFICATO v4*/
        width:45%;
    }
    .bottom-submit .col.w-50 {/*MODIFICATO v4*/
        width:50%;
    }
    /*GRIGLIA CARRELLO*/
    .ins-carrello .col.w-25 {/*V3*/
        width:25%;
    }
}
@media only screen and (min-width : 769px) {
    .col.pad,.col.pad.m-33 {/*MODIFICATO v3*/
        margin-right:1.5%;
    }
    .col.pad.p-left {
        margin-left:1.5%;
        margin-right:0;
    }
    .col.w-25 {
        width:25%;
    }
    .col.w-25.pad, .col.w-25.pad.m-33, .skokka .col.w-25.pad  {
        width:23.5%;
        /*MODIFICATO v3*/
    }
    .col.w-25.pad.dispari {
        clear:none;
    }
    .col.w-50 {
        width:50%;
    }
    .col.w-50.pad {
        width:48.5%;
    }

    .col.w-45 {/*V5*/
        width:45%;
    }
    .col.w-55 {/*V8*/
        width:55%;
    }
    .col.w-75, .col.w-75.m-67 {
        /*MODIFICATO v3*/
        width:75%;
    }
    .col.w-75.pad {
        width:73.5%;
    }
    /*GRIGLIA RIEPILOGO*/
    .col.pad.ver-testo {/*V3*/
        width:23.5%;
    }
}



/*LAYOUT*/
header, footer, .header-fixed,.header-button,.header-top {
    clear:both;
    width:100%;
    float:left;
}
.header-fixed, .header-fixed.to-fix {
    position:fixed;
    -webkit-backface-visibility: hidden;
    height:82px;
    z-index:1000;
    top:0;
    left:0;
    background:#fff url(../img/body.png) repeat-x top left;
    -webkit-box-shadow: 0px 5px 30px 2px rgba(178, 178, 178, 0.9);
    -moz-box-shadow:    0px 5px 30px 2px rgba(178, 178, 178, 0.9);
    box-shadow:         0px 5px 30px 2px rgba(178, 178, 178, 0.9);
}

.header-button   {
    padding:0 2% 0;
    width:96%;
}
#content, .content-footer, .content-header {
    max-width:960px;
    margin:0 auto;
    padding:0;
    clear:both;
}
.pg-contenitore {
    padding:82px 0 0;
}
.skokka .pg-contenitore {
    padding:0;
}
.content-footer, .skokka  .content-header{
    padding:0 7px;
}


/*LAYOUT-home page*/
#colonna-menu {
    display:none;
}
#colonna-categorie{
    margin:0;
    width:100%;
}
.skokka #colonna-unica{
    padding:0 0 110px;
}
#colonna-unica.no-header{/*V6*/
    margin-top:125px;
}
@media only screen and (min-width : 480px) {
    #content, .content-footer, .content-header    {
        width:96%;
        padding:0 2%;
    }
    .header-button{
        width:100%;
        padding-left:0;
        padding-right:0;
    }
}


@media only screen and (min-width : 769px) {
    .pg-contenitore {
        padding:0;
    }
    #button-base {
        display: block;
    }
    #button-base-sotto {
        display: none;
    }
    #content, .content-footer, .content-header   {
        width:97%;
        padding:0 1.5%;
    }

    #colonna-unica.no-header{/*V6*/
        margin-top:0
    }

    #colonna-menu {
        width:42.5%;
        margin:0 1.3% 0 0;
        display:block;
    }
    #colonna-categorie{
        width:56%;
    }
    .header-button   {
        padding-top:0;
    }

    .header-fixed {
        position:static;
        height:102px;
        background:none;
        -webkit-box-shadow: none;
        -moz-box-shadow:    none;
        box-shadow:         none;
    }
}
@media only screen and (min-width : 1024px) {
    #content, .content-footer, .content-header   {
        width:93%;
        padding:0 3.5%;
    }
    #colonna-menu {
        width:37.5%;
        margin:0 1.5% 0 0;
    }
    #colonna-categorie{
        width:61%;
    }
}

.content-principale {
    padding:20px 7px 0;
    margin:0 0 15px;
    clear: both;
}
.content-principale.no-pad {
    padding-top:0;
}
.content-principale.ins-anteprima, .content-principale.ins-carrello {/*V3*/
    margin:0;
}
@media only screen and (min-width : 480px) {
    .content-principale {
        padding-left:  25px;
        padding-right:  25px;
        padding-bottom:  25px;
    }
    #colonna-unica .content-principale {
        padding-left:  10px;
        padding-right:  10px;
    }
    .content-principale.no-pad {
        padding:0!important;
    }
}
@media only screen and (min-width : 769px) {
    .content-principale{
        padding-left:  2.35%;
        padding-right:  2.35%;
    }
    #colonna-menu .content-principale {
        padding-left:  3.10%;
        padding-right:  3.10%;
    }
}
@media only screen and (min-width : 1024px) {
    .content-principale {
        padding-left:  7.1%;
        padding-right:  7.1%;
    }
    #colonna-menu .content-principale {
        padding-left:  6.5%;
        padding-right:  6.5%;
    }
    #colonna-unica .content-principale {
        padding-left:  25px;
        padding-right:  25px;
    }
}

/*LAYOUT home page colonna categorie e colonna città*/
#colonna-menu .content-principale {
    padding:20px 10px 0;
}
/*home page colonne categorie*/
.col.categoria,.col.servizio {
    width:100%;
    margin:0 0 25px;
}
.col.categoria.last,.col.servizio.last {
    margin-right:0;
}
.riga-categorie {
}
/*home page colonne città*/
#colonna-menu .col {
    width:33.333%;
    margin:0;
    padding:0
}

@media only screen and (min-width : 320px) {
    .col.categoria,.col.servizio {
        width:49%;
        margin:0 2% 20px 0;
    }
}
@media only screen and (min-width : 480px) {
    .col.categoria,.col.servizio {
        width:47.5%;
        margin:0 5% 20px 0;
    }
}
@media only screen and (min-width : 769px) {
    .col.categoria,.col.servizio {
        width:49%;
        margin:0 2% 20px 0;
    }
}
@media only screen and (min-width : 1024px) {
    .col.categoria,.col.servizio {
        width:45%;
        margin:0 10% 20px 0;
    }
}



/*STILI SKOKKA PAGE*/
.skokka h2 {
    font-size:20px;
    font-weight:bold;
    text-align:center;
    color:#3c3c3b;
    padding:10px 0 30px;
}

/*STILI HOME PAGE*/
.titolo-col {
    font-weight: bold;
    color: #313233;
    font-size:15px;
    border-bottom:2px dotted #a1a0a0;
    padding:0 0 15px;
    margin:0 0 15px;
    text-align:center;
}
.titolo-col.nazione, .titolo-col.citta-desc {
    font-size:14px;
    text-align:left;
    line-height:24px;
    padding:0 0 18px;
    background:url(../img/open.png) no-repeat center right;
    background-size:22px 22px;
    clear:both;
}
.titolo-col.citta-desc {
    background:transparent;
    font-size: 14px;
    text-align: left;
}
.skokka .titolo-col.nazione {
    padding:0;
    line-height:59px;
    height:70px;
}
.skokka .titolo-col.nazione .flag{
    display:block;
    float:left;
    height:59px;
    width:53px;
    background:url(../img/nazioni-small.png) no-repeat 0 0;
    margin:0 15px 0 0;
    padding:0;
}

/* BANDIERE PAGINA SKOKKA.COM  messe in style additions */

.skokka .titolo-col.nazione .flag.bel {
    background-position:0 -59px;
}
.skokka .titolo-col.nazione .flag.bra {
    background-position:0 -118px;
}
.skokka .titolo-col.nazione .flag.spa {
    background-position:0 -177px;
}
.skokka .titolo-col.nazione .flag.ita {
    background-position:0 -236px;
}
.skokka .titolo-col.nazione .flag.mex {
    background-position:0 -295px;
}
.skokka .titolo-col.nazione .flag.ch {
    background-position:0 -354px;
}


.titolo-col.nazione.opener {
    background:url(../img/close.png) no-repeat center right;
    background-size:22px 22px;
}
.categoria  h2{
    font-weight:bold;
    color: #be206b;
    font-size:16px;
    background:url(../img/logo-mini.png) no-repeat top left;
    padding:0 0 15px 45px;
    line-height:20px;
    height:26px;
    overflow:hidden;
}
.categoria  h2 a{
    color: #be206b;
    text-decoration:none;
}
.sotto-categorie {
    margin:5px 0 0;
    font-size:12px;
    line-height:18px;
    color: #be206b;
}
.sotto-categorie a {
    color: #be206b
}
.link-servizi {
    border-top:1px solid #d0d5d9;
}
.servizio {
    padding:15px 0 0;
}
.servizio h2 {
    font-weight: bold;
    color: #be206b;
    font-size:11px;
    padding:0 0 10px 60px;
}
.servizio  h2 a{
    color: #be206b;
    text-decoration:none;
}
.servizio  p{
    padding:0 0 0 60px;
    color: #666666;
    font-size:12px;
}
.cerca-lavoro {
    background:url(../img/lavoro.png) no-repeat 0 15px;
    min-height:72px;
}
.servizi{
    background:url(../img/servizi.png) no-repeat center left;
}
.elenco-citta{
    padding:0 0 30px;
    color: #666;
    font-size:12px
}
.skokka .elenco-citta {
    font-size:14px;
}
.elenco-citta li{
    padding:0 5px 2px 0;
}
.elenco-citta a{
    text-decoration:none;
    color: #666;
}

@media only screen and (min-width : 320px) {
    .categoria  h2{
        font-size:12px;
    }
    .skokka h2 {
        font-size:22px;
    }
}
@media only screen and (min-width : 480px) {
    .titolo-col {
        font-size:20px;
    }
    .categoria  h2{
        font-size:15px;
    }
    .col.servizio h2 {
        font-size:12px;
    }
}
@media only screen and (min-width : 769px) {
    .skokka h2 {
        font-size:26px;
    }
    .skokka .titolo-col.nazione {
        background:none;
        font-size:16px;
    }
}
@media only screen and (min-width : 1024px) {
    .titolo-col {
        font-size:24px;
    }
    .categoria  h2{
        font-size:16px;
    }
    .elenco-citta{
        font-size:13px
    }
}

/*STILI ELEMENTI COMUNI*/

/*Path di navigazione*/
.briciole  {
    font-size:12px;
    color:#95989c;
    padding:15px 0 0;
    line-height:25px;
}
.briciole .active  {
    color:#313233;
    padding-left: 5px;
}
.briciole a  {
    font-style:italic;
    padding:0 12px 0 8px;
    background:url(../img/arrow-right-path.png) no-repeat center right;
    white-space: nowrap;
}
.briciole a.last  {
    background:none;
}
.briciole h1{
    float: left;
}
.pre-link {
    padding:0 10px 0 0;
}
/*Blocco seo e disclaimer*/
.seo, .avviso {
    color: #95989c;
    font-size:9px;
}
.seo {
    padding:10px 0 0;
}
.avviso p {
    text-align:center;
    margin:0 0 15px;
}
.iframe-avviso .avviso p {
    margin:0;
}
.avviso iframe.eta {
    height:120px;
}
.avviso iframe.warning {
    height:200px;
}
.iframe-avviso {
    min-width:200px;
    background:none;
}
.seo a, .avviso a {
    color: #95989c;;
}
@media only screen and (min-width : 270px) {
    .avviso iframe.warning {
        height:235px;
    }
}
@media only screen and (min-width : 320px) {
    .avviso iframe.eta {
        height:100px;
    }
    .avviso iframe.warning {
        height:210px;
    }
}
@media only screen and (min-width : 480px) {
    .avviso iframe.eta {
        height:68px;
    }
    .avviso iframe.warning {
        height:150px;
    }
}
@media only screen and (min-width : 769px) {
    .avviso iframe.eta {
        height:50px;
    }
    .avviso iframe.warning {
        height:100px;
    }
}

/*CONTENUTO LISTATI E DETTAGLI*/
.titolo {
    font-weight:bold;
    color:#313233;
    font-size:13px;
    padding:0 0 10px;
    margin:0 0 15px;
}
.punti {
    border-bottom:2px dotted #9b9a9a;
}

/*Paginazione*/
.paginazione {
    margin:0 0 50px;
    text-align:center;
}
/*.paginazione {*//*V9*/
/*text-align:right;*/
/*}*/
.paginazione  p{
    margin:0 0 25px;
    text-align:center;
    color: #666;
    font-size:12px;
}
.paginazione  p em{
    color: #95989c;
}
.paginazione  li, .paginazione  li a{
    height:32px;
    width:24px;
    line-height:32px;
    border-right:1px solid #dadada;
    text-align:center;
    font-size:13px;
    margin:0 0 15px;
}
.paginazione  li a.bottone{
    width:32px;
}
.paginazione  li.last,.paginazione  li.prev,.paginazione  li a{
    border:0;
}
.paginazione  li a.bottone span{
    background:url(../img/arrow-right.png) no-repeat center center;
    text-indent:-9999px;
}
.paginazione  li.prev a.bottone span{
    background:url(../img/arrow-left.png) no-repeat center center;
}
/*Box annuncio*/
.banner {
    padding:0 0 15px;
    margin:0 0 15px;
}
.annuncio {
    padding:0 0 5px;
    margin:0 0 5px;
}
.annuncio .immagine {
    margin-bottom:15px;
}
.annuncio  .informazioni{
    margin:0 0 15px;
    color:#313233;
    font-weight:bold;
    font-size:13px;

}
.annuncio  .informazioni a{
    padding:0 8px 0 0;
    margin:0;
    display:block;
    height:20px;
    line-height:20px;
}
.annuncio  .informazioni li.anni{
    margin:0;
    height:20px;
    line-height:20px;
}
.annuncio  .informazioni li.anni.secondo{
    border-left:1px solid #e5e5e5;
    padding:0 0 0 8px;
}
.annuncio  .informazioni .preferito a{
    background:url(../img/preferiti-fucsia.png) no-repeat  0 0;
    height:20px;
    width:25px;
    text-indent:-99999px;
}
.annuncio  .informazioni .preferito a:hover, .annuncio  .informazioni .preferito a.active{
    background-position:0 100%;
    text-decoration:none;
}
.annuncio  .informazioni .anni a{
    border:0;
    padding:0;
}
.n-foto {
    float:right;
    background:url(../img/foto.png) no-repeat center right;
    background-size:25px 18px;
    line-height:20px;
    padding:0 40px 0 0;
    font-size:14px;
    display:none;
}
.annuncio h3 {
    font-weight:bold;
    color: #2f7abb;
    font-size:12px;
    padding:0 0 10px;
}
/*.annuncio .m-67 h3 {*//*MODIFICATO V3*//*
	font-size:12px;
}*/
.annuncio h3 a {
    text-decoration:underline;
    color: #2f7abb;
}
.annuncio .descrizione {/*MODIFICATO V3*/
    font-size:12px;
    padding:0 0 10px;
}
.leggi-piu{
    padding-top:20px;
}
.leggi-piu.opener .open  {
    display:none;
}
.leggi-piu.opener .close  {
    display:block;
}
.zona li {
    font-size:13px;
    color:#313233;
    padding:0 10px 5px 0;
}
.zona p {/*MODIFICATO V3*/
    font-size:12px;
}

/*DETTAGLIO ANNUNCIO*/
.dettaglio-annuncio .descrizione{
    word-break: break-all;
    /*Non standard per webkit*/
    word-break: break-word;
}

.dettaglio-annuncio, .info-locale, .google-map {
    margin:0 0 15px;
}
.dettaglio-annuncio .descrizione, .dettaglio-annuncio .zona li {
    font-size:14px;
}
.dettaglio-annuncio .descrizione p, .dettaglio-annuncio .descrizione ul {
    margin:0 0 20px;
}
.dettaglio-annuncio h1  {
    font-weight: bold;
    color: #fff;
    background: #2f7abb;
    font-size:17px;
    line-height:20px;
    padding:15px 10px;
    margin:0 0 15px;
    word-wrap:break-word;
}

.bottone.telefono {
    width:100%;
    font-size:24px;
    font-weight:normal;
    /*padding:14px 0;*/
    margin:0 0 15px
}
.bottone.telefono a{
    display:block;
    color:#fff;
}
.ins .bottone.telefono a {/*V4*/
    color:#be206b;
}
.bottone.telefono.ora {
    max-width:366px;
}
span.bottone.telefono{
    cursor:default;
}
.bottone.telefono span{
    display:block;
    padding:14px 15px 14px 45px;
    background:url(../img/telefono.png) no-repeat 15px 50%;
}
.ins .bottone.telefono  span{/*v4*/
    background:url(../img/telefono-rosa.png) no-repeat 15px 50%;
}
.ins .bottone.telefono a, .ins .bottone.telefono.ora {/*V4*/
    color:#be206b;
    cursor:auto;
}
.bottone.telefono span em{
    font-style:normal;
    white-space:nowrap;
}
.pulsanti  {
    float:left;
    width:33.33%;
    padding:0 0 10px;
}
.info-locale .pulsanti  {
    width:100%;
    padding:0;
}
.pulsanti a {
    display:block;
    text-indent:-9999px;
    border-right:1px solid #dadada;
    height:40px;
}
.info-locale .pulsanti a  {
    text-indent:0;
    border-bottom:1px solid #dadada;
    border-right:0;
    padding:14px 0 14px 38px;
    height:auto;
}
.pulsanti a.preferiti {
    background:url(../img/preferiti-fucsia.png) no-repeat  50%  10px;
}
.pulsanti a.rispondi {
    background:url(../img/busta.png) no-repeat  50%  10px;
    background-size:28px 19px;
}
.pulsanti a.invia {
    background:url(../img/invia.png) no-repeat  50%  10px;
    border:0;
}
.pulsanti a.sito {
    background:url(../img/sito.png) no-repeat  0  10px;
}
.pulsanti a.lavora {
    background:url(../img/lavora.png) no-repeat 0  10px;
    border:0;
}
.ins .pulsanti a {/*V4*/
    opacity:0.5;
    border-color:#8d8d8d;
}
.tutti-link {
    margin:20px 0;
    font-size:12px;
}
.vetrina {
    border:1px solid #95989c;
    padding:15px 0;
    margin:0 0 15px;
}
.vetrina.desktop {
    margin-top:-17px;
}
.vetrina.desktop  p{
    line-height:80px;
    font-size:14px;
}
.vetrina.mobile  p.link-listato{
    font-weight:bold;
    font-size:16px;
    text-align:center;
    padding:0 0 22px;
    margin:15px;
    background:url(../img/ombra.png) no-repeat  bottom  center;
}
.vetrina.mobile  p.link-listato a{
    color:#666;
}
.vetrina.desktop .logo-locale{
    padding:0 20px 0 30px;
    width: 15%;
}
.vetrina.mobile .logo-locale  {
    padding:0;
    text-align:center;
}
.link-locale {
    text-align:center;
    font-size:17px;
    font-weight:bold;
}
.vetrina.mobile .link-locale {
    font-size:15px;
    padding:15px 0 0;
}
.link-locale  a{
    background:url(../img/arrow-right-fucsia.png) no-repeat  center right;
    padding:0 18px 0 0;
}

/*DETTAGLIO LOCALE*/
.indirizzo {
    font-size:13px;
    margin:20px 0 ;
}
.indirizzo .orari {
    margin:20px 0 0;
    color:#95989c;
}
h3.annunci-locale {
    color: #fff;
    background: #95989c;
    font-size:15px;
    padding:10px;
    margin:0 0 15px;
}
.google-map  iframe{
    width:100%;
    height:220px;
    margin:0 0 10px;
}
.google-map p a{
    font-weight:bold;
    font-size:13px;
    margin:0 0 10px;
}
.photogallery {
    margin:0 0 20px;
}
@media only screen and (min-width : 320px) {
    .vetrina.mobile .logo-locale  {
        padding:0;
        text-align:center;
        float:left;
        width:50%;
    }
    .vetrina.mobile .link-locale  {
        line-height:80px;
        padding:0;
    }
}
@media only screen and (min-width : 480px) {
    .annuncio {
        padding:0 0 15px;
        margin:0 0 15px;
    }
    .annuncio  .informazioni{
        /*modificato v3*/
        margin:0 0 15px;
    }
    .vetrina.mobile .logo-locale  {
        text-align:left;
        width:60%;
    }
    .vetrina.mobile .logo-locale img  {
        margin:0 0 0 15px;
    }
    .info-locale .indirizzo,
    .info-locale .colonna-telefono {
        display:block;
    }
}
@media only screen and (min-width : 769px) {
    .briciole{
        padding:0 0 15px;
    }
    .briciole, .paginazione  p  {
        font-size:13px;
    }
    .paginazione  li, .paginazione  li a{
        height:45px;
        width:45px;
        line-height:45px;
        font-size:20px;
    }
    .paginazione  li a.bottone{
        width:45px;
    }
    .annuncio .immagine {
        margin-bottom:0;
    }
    .annuncio h3, .annuncio .m-67 h3,.dettaglio-annuncio .descrizione, .dettaglio-annuncio .zona li {
        font-size:16px!important;
    }
    .annuncio .descrizione, .annuncio .zona, .annuncio  .informazioni	{
        font-size:14px;
    }
    .n-foto	 {
        display:block;
    }
    .dettaglio-annuncio h2	{
        font-size:18px;
        line-height:22px;
    }
    .bottone.telefono {
        font-size:15px;
        margin:0 0 15px;
    }
    .pulsanti {
        float:none;
        width:100%;
        padding:0;
    }
    .pulsanti a {
        height:13px;
        font-size:13px;
        display:block;
        padding:14px 0 14px 38px;
        font-weight:bold;
        text-indent:0;
        border:0;
        border-bottom:1px solid #dadada;
    }
    .pulsanti a {
        background-position:0  10px!important;
    }
    .tutti-link {
        font-size:14px;
    }
    h3.annunci-locale {
        font-size:24px;
        margin:0 0 25px;
    }
    .indirizzo {
        margin:0;
    }
}
@media only screen and (min-width : 1024px) {
    .bottone.telefono {
        font-size:26px;
    }
    .colonna-telefono .bottone.telefono {
        font-size:20px;
    }
    .pulsanti a, .indirizzo, .google-map p a{
        font-size:14px;
    }
}

/*LAYOUT - Header*/
/*layout riga superiore*/
.header-top,.form-ricerca {
    display:none;
}
.nazioni {
    float:left;
    width:55%;
}
.menu-destra {
    float:left;
    width:45%;
}
.area-riservata {
    text-align:right;
}
/*stili riga superiore*/
.header-top li  {
    font-size:14px;
    line-height:45px;
    color:#313233;
    padding:0 5px 0 0;
}
.header-top .area-riservata li  {
    font-size:12px;
    border-right:1px solid #b5b5b4;
    line-height:25px;
    padding:0 18px;
    margin:10px 0 0;
}
.header-top .area-riservata li.last  {
    border:0;
    padding-right:0;
}
.header-top li  a {
    color:#fff;
    text-decoration:none
}
.header-top li.open-div {
    border-left:1px solid #b5b5b4;
    line-height:25px;
    width:29px;
    background:url(../img/open-close.png) no-repeat 100% 2px;
    text-indent:-999999px;
}
.header-top li.open-div.opener {
    background-position:100% -24px;
}
.header-top li.menu-nazioni  {
    display:none;
    position:absolute;
    background:#95989c;
    padding:30px 5px 25px;
    width:350px;
    /*margin-left:115px;*/
    z-index:300;
}
.header-top li.menu-nazioni .col  {
    width:33.33%;
}
.header-top li.menu-nazioni li  {
    display:block;
    line-height:20px;
    border-right:1px solid #b9bbbe;
    padding:0 20px 0;
    margin:0 ;
}
.header-top li.menu-nazioni .last li  {
    border-right:0;
}

/*
.messaggi a, .preferiti a {
	width:45px;
	height:30px;
	margin:7px 0 0;
	line-height:30px;
	font-size:11px;
	font-weight:bold;
	color:#313233;
	text-align:center;
	background:url(../img/logo_blog.png) no-repeat bottom center;
	background-size:45px 29px;
	display:block;
}*/

.messaggi a {

    margin:10px 0 0;
    float:left;

}

.messaggi a img {
    width: 25px;
    padding: 0 4px 10px;
    vertical-align: middle;

}


.messaggi a:hover {
    text-decoration:none;
}

.messaggi.presenti a{
    background:url(../img/fumetto-rosa.png) no-repeat bottom center;
    background-size: 30px 26px;
    color: #fff;
}

.preferiti a {
    background:url(../img/preferiti.png) no-repeat 50% 0;
    text-indent:-99999px;
    margin-left:25px;
    cursor:pointer;
}
.preferiti a:hover,.preferiti a.active {
    background:url(../img/preferiti.png) no-repeat 50% -32px;
    text-indent:-99999px;
    margin-left:25px;
    cursor:pointer;
}

.skokka h1, .skokka-lang h1 {
    margin:0;
    padding:0;
}
.skokka h1 a, .skokka-lang h1 a{
    background:url(../img/logo/logo_big_skokka.com.png) no-repeat center left;
    background-size:137px 27px;
    background:url(../img/logo/logo_skokka.com.png) no-repeat center left\9; /*IE FIX*/
    padding:0;
    width:213px;
    height:70px;
    display:inline-block;
}


.header-fixed.to-fix
h1 a:hover {
    text-decoration:none;
}
h1 span {
    position:absolute;
    top:-9999px;
    left:-99999px;
}
.open-menu {
    float:right;
    display:block;
    width:45px;
    height:42px;
    margin:20px 0;
    border-left:1px solid #626466;
    background:url(../img/open-menu.png) no-repeat center center;
    background-size:30px 18px;
    cursor:pointer
}
.open-menu.opener {
    height:82px;
    margin:0;
    background:#626466 url(../img/close-menu.png) no-repeat center center;
    background-size:20px 20px;
}

/*MENU MOBILE*/
.menu-mobile {
    background:#626466;
    width:96%!important;
    padding:0 2% 0!important;
    top:82px;
    right:0;
    display:none;
}
.scrollbox {
    position:absolute;
}
.menu-mobile .item a, .menu-mobile .item span {
    color:#fff;
    padding:15px 0 15px 40px;
    margin:0;
    /*height:10px;*/
    display:block;
    text-transform:uppercase;
    font-size:13px;
}
.menu-mobile .citta {
    border-bottom:1px solid #fff;
    padding-bottom:5px;
    /*background:url(../img/citta.png) no-repeat 0 6px;
    background-size:29px 27px;*/
    clear:both;
    margin-top:15px;
}
.menu-mobile  .accedi {
    padding-top:15px;
}
.menu-mobile .accedi {
    background:url(../img/accedi.png) no-repeat 0 50%;
    background-size:24px 24px;
}
.menu-mobile .registrati {
    background:url(../img/registrati.png) no-repeat 0 50%;
    background-size:29px 27px;
}
.menu-mobile .preferiti-mobile {
    background:url(../img/preferiti-mobile.png) no-repeat 0 50%;
    background-size:29px 27px;
}
.menu-mobile .notifiche {
    background:url(../img/fumetto.png) no-repeat 0 68%;
    background-size:29px 27px;
}

.menu-mobile .notifiche.presenti {
    background:url(../img/fumetto-rosa.png) no-repeat 0 68%;
    background-size:29px 27px;
}

.menu-mobile .item .notifiche a {
    padding-left:0;
}
.menu-mobile .item .notifiche span {
    padding:0 13px 0 7px;
    color:#666!important;
    float:left;
    width:20px;
}

.menu-mobile .notifiche.presenti span{
    color:#fff !important;
    font-weight: bold;
}

.menu-mobile .item .email a {
    text-transform:lowercase!important;
}
.menu-mobile .form-ricerca{
    width:100%;
    margin:0 0 10px;
    padding:0;
    background:transparent;
    height:auto;
    display:block;
}
.nazioni-mobile  {
    background:url(../img/flags.png) no-repeat 0 10px;
}
.menu-mobile .open-div {
    background:url(../img/open-white.png) no-repeat right center;
}
.menu-mobile .open-div.opener {
    background:url(../img/close-white.png) no-repeat right center;
}
/*
.item#ita {	background-position: 0 0px;}
.item#svi {	background-position: 0 -30px;}
*/
.menu-nazioni-mobile {
    border-top:2px dotted #fff;
    float:left;
    width:100%;
    padding:5px 0;
    margin:5px 0 0;
}
.menu-nazioni-mobile li{
    float:left;
    width:33.0%;
    padding:0 0.33% 0 0;
}
.menu-mobile .item .menu-nazioni-mobile li a{
    padding:5px 0 10px;
    font-size:14px;
    text-transform:none;
}


/*layout form ricerca*/
.form-ricerca{
    width:97%;
    margin:0 1.5% 25px 0;
    padding:9px 1.5%;
    background:#be206b;
    height:44px;
}
.bottone-pubblica, .menu-mobile .bottone-pubblica {
    width:100%;
    margin:20px 0 5px;
}
/*Stili form header*/
.form-ricerca {
    font-size:15px;
}
.bottone-pubblica .bottone, .form-ricerca .bottone,
.menu-mobile .bottone-pubblica .bottone {
    width:100%;
    height:42px;
    line-height:42px;
    border:0;
    padding:0;
    margin:0;
    font-size:15px;
    display: inline-table;
}
.form-ricerca .bottone {
    width:18%;
    background:url(../img/arrow-right.png) no-repeat center right;
    display: inline-block;
}
.form-ricerca .bottone#cerca-2 {
    width:20%;
    height:42px;
    background-color:#be206b;
    background-position:center center;
}
.form-ricerca #testo-ricerca,
.form-ricerca #categorie-ricerca,
.form-ricerca #localita-ricerca,
.form-ricerca #testo-ricerca-2,
.form-ricerca #categorie-ricerca-2,
.form-ricerca #categorie-ricerca-2-corto,
.form-ricerca #localita-ricerca-2,
#seleziona-citta{
    width:25%;
    height:42px;
    line-height:15px;
    margin:0;
    padding:0 2%;
    border:1px solid #cec0cc;
    color:#666;
}
.form-ricerca #categorie-ricerca{
    margin:0;
}
.form-ricerca #localita-ricerca{
    margin:0;
}
.menu-mobile #seleziona-citta {
    width:100%;
}
.form-ricerca #testo-ricerca,
.form-ricerca #testo-ricerca-2{
    font-style:italic;
    width:25%;
}
.form-ricerca #testo-ricerca-2,
.form-ricerca #categorie-ricerca-2-corto,
.form-ricerca #categorie-ricerca-2{
    width:96%;
    margin:0 0 5px;
    padding:0 2%;
}
.form-ricerca #categorie-ricerca-2{
    width:100%;
    margin-right:1%;
}
.form-ricerca #categorie-ricerca-2-corto{
    width:77%;
    margin-right:1%;
}
.form-ricerca #localita-ricerca-2{
    width:96%;
    margin:0 0 5px;
    padding:0 2%;
}
.form-ricerca #localita-ricerca-2{
    width:77%;
    margin-right:1%;
}


.qt-secelct {
    color: #9b9a9a;
    font-style: italic;
}

@media only screen and (min-width : 320px) {
    .open-menu {
        width:80px;
        background-size:30px 18px;
    }
    .form-ricerca #categorie-ricerca-2{
        width:100%;
    }
    .form-ricerca #categorie-ricerca-2-corto{
        width:77%;
    }
    .form-ricerca #localita-ricerca-2{
        width:84%;
    }
    .form-ricerca .bottone#cerca-2 {
        width:13%;
    }
}
@media only screen and (min-width : 480px) and (max-width:768px) {
    .menu-mobile {
        width:325px!important;
        padding:0 46px 40px!important;
        right:2%!important;
    }
}
@media only screen and (min-width : 480px) {
    .form-ricerca #categorie-ricerca-2,
    .form-ricerca #categorie-ricerca-2-corto{
        margin-right:3px;
    }
    .form-ricerca #localita-ricerca-2{
        width:275px;
        margin-right:3px;
    }
    .form-ricerca .bottone#cerca-2 {
        width:42px;
        float: right;
    }
}
@media only screen and (min-width : 769px) {
    h1 a {
        font-size:22px;
        padding-top:38px;
        width:261px;
        /*background-image:url(../img/logo-big.png);*/
    }
    .skokka h1 a, .skokka-lang h1 a{
        background:url(../img/logo/logo_big_skokka.com.png) no-repeat center left;
        background-size:137px 27px;

        background:url(../img/logo/logo_skokka.com.png) no-repeat center left\9; /*IE FIX*/

        width:310px;
        height:70px;
    }
    .header-top, .form-ricerca {
        display:block;
    }
    .header-top{
        background:#95989c;
    }
    .open-menu {
        display:none;
    }
    .menu-mobile {
        width:325px!important;
        padding:0 46px 40px!important;
    }
    .bottone-pubblica {
        width:25.5%;
        margin:20px 0;
        float: right;
    }
    .bottone-pubblica .bottone{
        height:62px;
        line-height:17px;
        font-size:17px;
        display: table-cell;
        vertical-align: middle;
        width:260px;
    }
    .form-ricerca .bottone {
        font-size:17px;
    }
}
@media only screen and (min-width : 1024px) {
    .form-ricerca #testo-ricerca, .form-ricerca #categorie-ricerca #localita-ricerca{
        font-size:16px;
    }
    .form-ricerca .bottone, .bottone-pubblica .bottone{
        font-size:17px;
    }
}

/*LAYOUT e STILI- Footer*/
footer {
    border-top:1px solid #d0d5d9;
    margin-top:70px;
    padding:25px 0 0;
    color: #95989c;
    font-size:11px;
}
footer a {
    color: #95989c;
    text-decoration:none;
}
.bg-footer{
    background:url(../img/footer-bg.png) repeat-y top right;
    padding:0 0 25px;
}
.torna-su {
    float:right;
    width:50px;
    background:#95989c;
    font-size:13px;
    text-align:center;
    position:relative;
    margin:-50px 0 0;
    padding:0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    cursor:pointer;
}
.torna-su a{
    color:#fff;
    font-weight:bold;
    display:block;
    padding:40px 0 20px 0;
    width:50px;
    background:url(../img/arrow-top.png) no-repeat 50% 13px;
}
.footer-menu {
    margin:0 50px 0 0;
}
.col.footer-link {
    width:100%;
}
.col.footer-link li  {
    padding:0 5px;
    line-height:12px;
    height:12px;
    border-left:1px solid #d0d5d9;
    margin:0 0 15px;
}
.col.footer-link li.first  {
    border-left:0;
    padding-left:0;
}
.col.footer-link li.rss  {
    border-left:1px solid #d0d5d9;
    border-right:0;
    padding:0 0 0 15px;
    line-height:23px;
    height:23px;
}
.rss a {
    display:inline-block;
    height:23px;
    width:23px;
    background:url(../img/rss.png) no-repeat top left;
    text-indent:-9999px;
}
.col.credits {
    width:100%;
}
.credits {
    line-height:12px;
}
.credits  span{
    display:inline-block;
    background:url(../img/logo-footer.png) no-repeat top right;
    padding:0 0 0 5px;
    margin:0 30px 0 0;
    width:76px;
    height:12px;
    text-indent:-9999px;
    text-align:left;
}
@media only screen and (min-width : 769px) {
    .col.footer-link {
        width:66.67%;
    }
    .col.credits {
        width:33.33%;
        text-align:right;
    }
}

/*STILI FORM*/
.form-default {
    font-size:14px;
    color:#666;
    line-height:20px;
}
.form-default h3 {
    font-size:16px;
    font-weight:bold;
    padding:15px 0;
}
.form-default h3.divisore {
    border-top:2px dotted #9b9a9a;
    padding-top:25px;
}
.label {
    display:block;
    font-weight: bold;
    color: #313233;
    font-size:18px;
    padding:10px 0;
}
.form-default input, .form-default textarea {
    margin:0 0 10px;
    border:1px solid #a1a4a8;
}
.form-default input[type="text"],.form-default input[type="email"],.form-default input[type="password"], .form-default textarea {
    margin:0 0 10px;
    border:1px solid #a1a4a8;
    background: #f3f3f3;
    background: -moz-linear-gradient(top, #f3f3f3 0%, #fff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3f3f3), color-stop(100%,#fff));
    background: -webkit-linear-gradient(top, #f3f3f3 0%,#fff 100%);
    background: -o-linear-gradient(top, #f3f3f3 0%,#fff 100%);
    background: -ms-linear-gradient(top, #f3f3f3 0%,#fff 100%);
    background: linear-gradient(to bottom, #f3f3f3 0%,#fff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#fff',GradientType=0 );
}
.form-default .bottone {
    border:0;
    width:100%;
    font-size:14px;
    font-weight:bold;
    text-transform:uppercase;
    padding:11px 0;
}
.form-default input[type="text"],.form-default input[type="email"],.form-default input[type="password"], .form-default textarea {
    width:88%;
    padding:10px 6%;
    /*color: #95989c;*/
}
.form-default textarea {
    height:80px;
}
.risposta {
    font-size:18px;
}

.form-default  .col.eta{
    width:55px;
    margin-right:15px;
}

/*ERRORI FORM*/
.input-error-cb{
    outline: 1px solid #f00 !important;
}

.input-error {
    border: 1px solid #f00 !important;
}
.text-error {
    color:#f00;
}

@media only screen and (min-width : 769px) {
    .form-default .bottone {
        width:324px;
    }
    .risposta {
        font-size:20px;
    }
}

/*LIGHTBOX*/
.lb-contenitore {
    min-height:100%;
    width:100%;
    background:rgba(38,38,38,0.80);
    position:absolute;
    z-index:10000;
    display:none;
}
.lb-finestra {
    height:100px;
    width:100%;
    background:#fff;
    margin:95px auto 0;
}
.lb-finestra#controllo-eta {
    margin-top:0;
}
.lb-finestra .row.bg-bianco {
    padding:0 0 50px;
}
.lb-titolo {
    background:#e1e6eb;
    padding:10px 0;
}
.lb-titolo  h2{
    font-size:15px;
    font-weight:bold;
    text-transform:uppercase;
    text-align:left;
    padding:15px 20px;
    color:#313233;
    background:#e1e6eb;
    border-right:1px solid #b5b5b4;
    margin:0 58px 0 0;
}
.lb-titolo  h2.scopri{/*V4*/
    padding:15px 20px 15px 80px;
    background:#e1e6eb url(../img/post/pro-nero.png) no-repeat 20px 50%;
    background-size:44px 28px;
}
.lb-finestra#controllo-eta .lb-titolo  h2{
    padding:10px 20px;
    margin:0;
}
.lb-titolo  h2.no-bordo {
    border:0;
}
.lb-close {
    float:right;
    text-align:left;
    text-indent:-9999px;
    background:url(../img/lb-close.png) no-repeat center center;
    cursor:pointer;
    width:58px;
    height:30px;
    margin:8px 0;
}
.lb-contenuto {
    padding:0 20px;
}
.lb-contenuto .row {
    padding:20px 0 0;
}
.lb-contenuto p{/*V4*/
    padding:0 0 20px;
    font-size:14px;
}
.lb-finestra#controllo-eta .lb-contenuto .row{
    padding:10px 0 0;
}
.lb-contenuto .open-div  {
    color:#be206b;
    font-weight:bold;
    padding:15px 30px 15px 0;
    background:url(../img/close.png) no-repeat center right;
    background-size:22px 22px;
}
.lb-finestra#controllo-eta .lb-contenuto .open-div {
    padding:10px 30px 10px 0;
}
.lb-contenuto .open-div.opener {
    background:url(../img/open.png) no-repeat center right;
    background-size:22px 22px;
}

.lb-text{
    font-size: 14px;
    font-weight: bold;
}

@media only screen and (min-width : 480px) {
    .lb-finestra#controllo-eta {
        margin-top:95px;
    }
    .lb-finestra#controllo-eta .lb-titolo  h2{
        padding:15px 20px;
        margin:0;
    }
    .lb-finestra#controllo-eta .lb-contenuto .row{
        padding:20px 0 0;
    }
    .lb-finestra#controllo-eta .lb-contenuto .open-div {
        padding:15px 30px 15px 0;
    }
}
@media only screen and (min-width : 769px) {
    .lb-finestra {
        width:760px;
    }
    .lb-finestra.lb-ins-anteprima	 {/*V4*/
        width: 93%;
    }
}
@media only screen and (min-width : 1024px) {
    .lb-finestra {
        width:800px;
    }
    .lb-finestra.lb-ins-anteprima	 {/*V4*/
        width: 93%;
    }
}
/*PAGINA NOTIFICHE*/
.tag-new {/*v4*/
    background:#be206b;
    color:#fff;
    font-size:12px;
    display:inline-block;
    padding:3px;
    margin:0 5px 0 0;
    vertical-align:bottom;
}

/* CITTA NEL HEADER*/
.header-fixed .city-header{
    color: #666666;
    display: none;
    font-size: 13px;
    font-weight: bold;
}
.header-fixed.to-fix .city-header{
    display: none;
}
@media only screen and (min-width : 769px){
    .header-fixed .city-header{
        display: block;
    }
}


/* CITTA SOTTO HEADER */
.city-underheader{
    padding: 10px 2% 0 2%;
    width: 96%;
    display: block;
}
.city-underheader span{
    font-size: 13px;
    font-weight: bold;
    color: #666666;
}
@media only screen and (min-width : 769px){
    .city-underheader{
        display: none;
    }
}


/* Prima riga di ogni entry del listato Citta Categoria Eta nfoto con cinepresa*/
.info-paese-categoria-eta-nfoto{
    min-height: 25px;
}
.info-paese-categoria-eta-nfoto .info-paese{
    background-image: url("../img/home_skk/map_pin.png");
    background-repeat: no-repeat;
    display: inline-block;
    background-size: 12px;
    padding-left: 15px;
    color: #be206b;
    font-size: 13px;
    font-weight: bold;
}

.info-paese-categoria-eta-nfoto .info-categoria{
    color: #be206b;
    font-size: 13px;
    font-weight: bold;
    border-left: 1px solid #e5e5e5;
    padding-left: 7px;
    padding-right: 5px;
}

.info-paese-categoria-eta-nfoto .info-eta{
    color: #000;
    font-size: 13px;
    font-weight: bold;
    border-left: 1px solid #e5e5e5;
    padding-left: 7px;
}

.info-paese-categoria-eta-nfoto .info-nfoto{
    padding-left: 15px;
    padding-right: 25px;
    display: none;
    float: right;
    background: url(../img/foto.png) no-repeat center right;
    background-size: 22px;
    font-size: 13px;
}
@media only screen and (min-width : 769px) {
    .info-paese-categoria-eta-nfoto .info-nfoto{
        display: block;
    }
}

.info-paese-categoria-eta-nfoto .info-categoria.first,
.info-paese-categoria-eta-nfoto .info-eta.first{
    border-left: none;
    padding-left: 0;
}

.invisible-from-769 {
    display: block;
}
@media only screen and (min-width : 769px) {
    .invisible-from-769 {
        display: none;
    }
}
