.i{font-style: italic;}
i{font-style: italic;}
.p2{padding:2px}
.p5{padding:3px}
.p5{padding:5px}
.p10{padding:10px}
.p15{padding:15px}
.p20{padding:20px}
.pt2{padding-top:2px}
.pt3{padding-top:3px}
.pt4{padding-top:4px}
.pt5{padding-top:5px}
.pt10{padding-top:10px}
.pt15{padding-top:15px}
.pt20{padding-top:20px}
.pt30{padding-top:30px}
.pr2{padding-right:2px}
.pr5{padding-right:5px}
.pr10{padding-right:10px}
.pr15{padding-right:15px}
.pr20{padding-right:20px}
.pr30{padding-right:30px}
.pb2{padding-bottom:2px}
.pb3{padding-bottom:3px}
.pb4{padding-bottom:4px}
.pb5{padding-bottom:5px}
.pb10{padding-bottom:10px}
.pb15{padding-bottom:15px}
.pb20{padding-bottom:20px}
.pl2{padding-left:2px}
.pl5{padding-left:5px}
.pl10{padding-left:10px}
.pl15{padding-left:15px}
.pl20{padding-left:20px}
.pl30{padding-left:30px}
.m2{margin:2px}
.m5{margin:5px}
.m10{margin:10px}
.m15{margin:15px}
.m20{margin:20px}
.mt2{margin-top:2px}
.mt5{margin-top:5px}
.mt10{margin-top:10px}
.mt15{margin-top:15px}
.mt20{margin-top:20px}
.mt30{margin-top:30px}
.mr2{margin-right:2px}
.mr5{margin-right:5px}
.mr10{margin-right:10px}
.mr15{margin-right:15px}
.mr20{margin-right:20px}
.mb2{margin-bottom:2px}
.mb5{margin-bottom:5px}
.mb7{margin-bottom:7px}
.mb10{margin-bottom:10px}
.mb15{margin-bottom:15px}
.mb20{margin-bottom:20px}
.mb30{margin-bottom:30px}
.mb40{margin-bottom:40px}
.mb50{margin-bottom:50px}
.mb60{margin-bottom:60px}
.mb70{margin-bottom:70px}
.mb80{margin-bottom:80px}
.ml2{margin-left:2px}
.ml5{margin-left:5px}
.ml10{margin-left:10px}
.ml15{margin-left:15px}
.ml20{margin-left:20px}
.bbottom{border-bottom: 1px solid #ccc;}
.btop{border-top: 1px solid #ccc;}
.ball{border: 1px solid #ccc;}
h1{font:bold 22px ;color: #333;}
h2{font:bold 18px; color: #333;}
h3{font:bold 14px; color: #333;}
h4{font:bold 12px; color: #333;}
.hr{height:5px; border:0;}
.fleft{float:left}
.fright{float:right}
.pabsolute{position:absolute}
.prelative{position:relative}
.tcenter{text-align:center}
.tright{text-align:right}
.tleft{text-align:left}
/*p{font:normal 14px 'Open Sans'; word-wrap:break-word; color: #333333;}
.p{font:normal 14px 'Open Sans'; color: #333333; word-wrap:break-word;}*/

p{font:normal 13px; word-wrap:break-word; color: #333333;}
.p{font:normal 13px; color: #333333; word-wrap:break-word;}
input{-moz-border-radius:5px;-webkit-border-radius:5px;-khtml-border-radius: 5px;border-radius: 5px;border:1px solid #ccc;padding: 5px;}
/*img {max-width: 100%;height: auto;width: auto\9; }*/
bgrey { border:1px solid #ccc;}
ohidden { overflow: hidden;}
oauto { overflow: auto;}

.tcenter {
    text-align: center;
}

strong { font-weight: bold;}