@font-face {
    font-family: 'Bariol Bold';
    src: url('../fonts/bariol_bold-webfont.eot');
    src: url('../fonts/bariol_bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/bariol_bold-webfont.woff2') format('woff2'),
    url('../fonts/bariol_bold-webfont.woff') format('woff'),
    url('../fonts/bariol_bold-webfont.ttf') format('truetype'),
    url('../fonts/bariol_bold-webfont.svg#bariol_boldbold') format('svg');

}

@font-face {
    font-family: 'Bariol';
    src: url('../fonts/Bariol.eot');
    src: url('../fonts/Bariol.eot') format('embedded-opentype'),
    url('../fonts/Bariol.woff2') format('woff2'),
    url('../fonts/Bariol.woff') format('woff'),
    url('../fonts/Bariol.ttf') format('truetype'),
    url('../fonts/Bariol.svg#Bariol') format('svg');
}

@font-face {
    font-family: 'AriasCondBold';

    src: url('../fonts/AriasCondBold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/AriasCondBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/AriasCondBold.woff') format('woff'), /* Modern Browsers */
    url('../fonts/AriasCondBold.ttf')  format('truetype') /* Safari, Android, iOS */

}

@font-face {
    font-family: 'AriasCondensed';

    src: url('../fonts/AriasCondensed.eot'); /* IE9 Compat Modes */
    src: url('../fonts/AriasCondensed.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/AriasCondensed.woff') format('woff'), /* Modern Browsers */
    url('../fonts/AriasCondensed.ttf')  format('truetype') /* Safari, Android, iOS */

}

@font-face {
    font-family: 'AriasCondItalic';

    src: url('../fonts/AriasCondItalic.eot'); /* IE9 Compat Modes */
    src: url('../fonts/AriasCondItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/AriasCondItalic.woff') format('woff'), /* Modern Browsers */
    url('../fonts/AriasCondItalic.ttf')  format('truetype') /* Safari, Android, iOS */

}

@font-face {
    font-family: 'BebasNeue Bold';

    src: url('../fonts/BebasNeueBold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/BebasNeueBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/BebasNeueBold.woff') format('woff'), /* Modern Browsers */
    url('../fonts/BebasNeueBold.ttf')  format('truetype') /* Safari, Android, iOS */

}


@font-face {
    font-family: 'BebasNeue Book';

    src: url('../fonts/BebasNeueBook.eot'); /* IE9 Compat Modes */
    src: url('../fonts/BebasNeueBook.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/BebasNeueBook.woff') format('woff'), /* Modern Browsers */
    url('../fonts/BebasNeueBook.ttf')  format('truetype') /* Safari, Android, iOS */

}

@font-face {
    font-family: 'BebasNeue Light';

    src: url('../fonts/BebasNeueLight.eot'); /* IE9 Compat Modes */
    src: url('../fonts/BebasNeueLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/BebasNeueLight.woff') format('woff'), /* Modern Browsers */
    url('../fonts/BebasNeueLight.ttf')  format('truetype') /* Safari, Android, iOS */

}


@font-face {
    font-family: 'BebasNeueRegular';

    src: url('../fonts/BebasNeueRegular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/BebasNeueRegular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/BebasNeueRegular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/BebasNeueRegular.ttf')  format('truetype') /* Safari, Android, iOS */

}


@font-face {
    font-family: 'BebasNeue Thin';

    src: url('../fonts/BebasNeueThin.eot'); /* IE9 Compat Modes */
    src: url('../fonts/BebasNeueThin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/BebasNeueThin.woff') format('woff'), /* Modern Browsers */
    url('../fonts/BebasNeueThin.ttf')  format('truetype') /* Safari, Android, iOS */

}

@font-face {
    font-family: 'Century Gothic';

    src: url('../fonts/centurygothic.eot'); /* IE9 Compat Modes */
    src: url('../fonts/centurygothic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/centurygothic.woff') format('woff'), /* Modern Browsers */
    url('../fonts/centurygothic.ttf')  format('truetype') /* Safari, Android, iOS */

}


@font-face {
    font-family: 'Alido';

    src: url('../fonts/Alido.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Alido.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Alido.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Alido.ttf')  format('truetype') /* Safari, Android, iOS */

}





