/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
    .container{
        width: 330px !important;

    }

    .most-popular .thumbnail a img {
        /*width: 150px;*/
    }
    .most-popular .thumbnail{
        /* height: 150px;*/
        overflow: hidden;
    }


}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
    .container,.louise-nav{
        width: 660px !important;

    }
    #sizzling-seven-container{
        /*height: 660px;*/
    }

    .most-popular .thumbnail a img {
        /*width: 239px;*/
    }
    .most-popular .thumbnail{
        height: 100%;
        overflow: hidden;
    }

    .pull-left-md{
        display: inline;
    }


    .most-popular-title{

        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }




}

@media only screen and (min-width : 768px) {
    #celebrity-news ul{
        max-height:222px !important;
    }
    .louise-nav, .container{
        width: 660px !important;

    }

}

/* Small Devices, Tablets */
@media only screen and (min-width : 900px) {
    .container, .louise-nav{
        width: 660px !important;

    }
    #sizzling-seven-container{
        /* height: 660px;*/
    }





}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .container ,.louise-nav{
        width: 990px !important;

    }

    #sizzling-seven-container{
        /*height: 330px;*/
    }



    .footer-left{
        float:left;
    }

    .footer-right{
        float:right;

    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .container{
        width: 990px !important;

    }
    #sizzling-seven-container{
        /* height: 330px;*/
    }

    .footer-left{
        float:left;
    }

    .footer-right{
        float:right;

    }
    #celebrity-news ul{
        max-height:290px !important;
    }
}

@media only screen and (max-width : 992px) {

    .socialbox{
        width:100% !important;
    }
    .socialbox>div{

        text-align: center !important;
        max-width:660px !important;
        width:100% !important;
    }

    .socialbox>h1{
        text-align: center;

    }



    .vertical-menu>.input-group>.form-control{
        width:221px;
    }

}