/* NEWS HEADER STYLES */

.header-container.news-header{
    height: 57px;
}

.news-header .nav-default{
    padding: 0;
    margin-top: 0 !important;
    margin-left: 15px;
}

.news-header .nav-default li{
    height: 57px;
    border: none;
}

.news-header .vertical-menu{
    top: 57px;
}

body{
    font-family: 'Source Sans Pro' ;
}

.opened-navigation{
    height: 100%;
    overflow: hidden;
    width: 100%;
    position: fixed;
}

a{
    color: #333;
    text-decoration: none !important;
}

img{
    vertical-align: middle;
}


a:hover{

    color: #333;
}

.show-mobile-only{
    display: none;
}

.header-container{
    height: 50px;
    display: block;
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0px;
    right: 0px;
    left: 0;
    background: #414141;
}

.header-box{
    height: 100%;
    display: block;
    max-width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    z-index: 2;
    top: 0px;
    margin: 0 auto;
    /*position: relative;*/
}

.portal-nav {
    height: 100%;
    display: block;
    width: 100%;
    z-index: 2;
    top: 0px;
    margin: 0 auto;
    position: relative;
}

.nav-default{
    margin-top: 20px;
}

.nav-default li{
    display: inline;
}

.nav-default>li>a, #account_dropdown{
    color: #fff;
    display: block;
    float:left;
    font-family: 'Lato' !important;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
    -o-transition: .2s ease-out;
    -ms-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
    position: relative;
    overflow: hidden;
}

#account_dropdown.active, .dropdown-toggle .btn_search.active{
    color: #B3B3B3 !important;
}

.nav-default>li>a:hover, .dropdown-toggle:hover{
    color: #B3B3B3 !important;
}

.btn_search:hover{
    color: #B3B3B3;
}

#account_dropdown:hover{
    color: #B3B3B3 ;
}

#nav-toggle{
    height: 50px;
    margin-right: 20px;
    cursor: pointer;
    -o-transition: .2s ease-out;
    -ms-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
}

.gma-logo{
    height: 100%;
    z-index:1;
    cursor: pointer;
}

.social-links .facebook{
    display: block;
    height: 19px;
    width: 20px;
    background-size: 19px;
    margin-top: 1px;
    background-repeat: no-repeat;
    cursor: pointer;
    background-image: url('http://aphrodite.gmanetwork.com/assets/images/fb1.png');
}

.social-links .twitter{
    height:26px;
    width:25px;
    background-repeat: no-repeat;
    display:block;
    cursor:pointer;
    background-image: url('http://images.gmanews.tv/res/img/social_media_icons/tweet_idle.png');
}

.social-links .youtube{
    height: 26px;
    width: 25px;
    background-repeat: no-repeat;
    display:block;
    cursor:pointer;
    background-image: url('http://aphrodite.gmanetwork.com/assets/images/yt_default.png');
}

.social-links .instagram {
    height: 26px;
    width: 25px;
    background-repeat: no-repeat;
    display: block;
    cursor: pointer;
    background-image: url("http://aphrodite.gmanetwork.com/res/img/insta_share_idle.png");
}
.social-links .viber{
    height:26px;
    width:25px;
    background-repeat: no-repeat;
    display:block;
    cursor:pointer;
    background-image: url('http://images.gmanews.tv/res/img/social_media_icons/viber_share_idle.png');
}
.social-links .rss{
    height:26px;
    width:25px;
    background-repeat: no-repeat;
    display:block;
    cursor:pointer;
    background-image: url('http://images.gmanews.tv/res/img/social_media_icons/rss_share_idle.png');
}

.social-links .facebook:hover{
    background-image: url('http://aphrodite.gmanetwork.com/assets/images/fb2.png');
}

.social-links .twitter:hover{
    background-image: url('http://images.gmanews.tv/res/img/social_media_icons/tweet_hover_colored.png');
}

.social-links .youtube:hover{
    background-image: url('http://aphrodite.gmanetwork.com/assets/images/yt_hover.png');
}

.social-links .instagram:hover{
    background-image: url('http://aphrodite.gmanetwork.com/res/img/insta_hover_colored.png');
}

.social-links .viber:hover{
    background-image: url('http://images.gmanews.tv/res/img/social_media_icons/viber_share_hover_colored.png');
}
.social-links .rss:hover{
    background-image: url('http://images.gmanews.tv/res/img/social_media_icons/rss_share_hover_colored.png');
}

.red:hover{

    /* border-right: solid 1px #5b595a;
     border-left: solid 1px #5b595a;*/
}

.red-selected{
    display: block !important;
    padding-top: 22px;
    height: 30px;
}

.red-selected>a{
    color:#fff !important;
}

.signIn {
    background-color: transparent;
    border: 1px solid #B2B1B1;
    padding: 5px;
    border-radius: 5px;
    width: 72px;
    text-align: center;
    margin-left: 12px;
    cursor:pointer;
    font-family: "Lato";
}

.search-dropdown>li>a {
    display: block;
    padding: 10px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;

    white-space: nowrap;
    color: #999;
}

.search-dropdown>li>a:hover {
    background:#901412;
    color: #fff;
}

/*
* Search Container
*/
#search-container{
    width: 330px;
    padding: 0px;
    display: block;
    background: #414141;
    right: 0;
    left: auto;
    position: absolute;
    top: 100%;
    z-index: 3;
    display: none;
    font-size: 14px;
    border-color: #080808;
    /*border: 1px solid rgba(0,0,0,.15);*/
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.search-box{
    margin: 13px 16px;
    width: 90%;
    height: 40px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
}

.navbar-toggle{

    margin-right:10px;
}

.vertical-menu{
    background-color: rgba(44,44,44,0.95);
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 200px;
    top:50px;left: 0;
    right: 0;
    display: none;
}

.vertical-menu .scrolled-nav{
    position:relative;
    height:100%;
    width:100%;
    z-index:100;
}

.vertical-menu .slide-navigation{
    overflow: hidden;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    display: block;
    padding: 15px;
}

.vertical-menu .slide-navigation .nav-wrap{
    width: 160px;
}

.vertical-menu .slide-navigation a {
    display: none;
    color: #fff;
    font-family: 'Lato' !important;
    font-size: 15px;
    display: block;
    margin: 16px 15px 0px 0px;
    -o-transition: .2s ease-out;
    -ms-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
}

.vertical-menu .slide-navigation a:hover{
    font-weight: bold;
    /*text-shadow: 0px 3px 6px #fff;*/
    text-decoration: none;
}

.vertical-menu .slide-navigation a:focus{
    background: none;
}

.vertical-menu .slide-navigation a.searchbar:after ,.vertical-menu .slide-navigation a.no-design:after {
    content: none !important;
}

.vertical-menu .slide-navigation a.searchbar ,.vertical-menu .slide-navigation a.no-design {
    border-bottom: none !important;
}

.pt16{
    padding-top:11px;
}

.navbar-left{
    height: 100%;
}

.vertical-align:before{
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.social-links{
    margin-top: 13px;
}

.navbar-right{
    height: 100%;
}

.navbar-right a{
    color: #FFF;
    -o-transition: .2s ease-out;
    -ms-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
}

.navbar-right a:hover{
    color: #B3B3B3;
}

.dropdown{
    border-left: 1px solid #B2B1B1;
    border-right: 1px solid #B2B1B1;
    height: 100%;
}

.dropdown-toggle{
    cursor: pointer;
    color: #FFF;
    -o-transition: .2s ease-out;
    -ms-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
}

.btn_search{
    display: block;
    font-size:17px;
    margin: 12px 14px 0;
}
.panel_signin {
    margin-top: 14px;
}

.account-dropdown-panel{
    background: #414141;
    display:none;
    height: 45px;
    width: 70px;
    position: absolute;
    right: 0px;
    top: 100%;
    box-shadow: none;
}

.account-dropdown-panel > img{
    width:20px;
    cursor:pointer;
}

@media (max-width: 899px){


    .hidden-xs {
        display: none !important;
    }
}
/* Common Styles */
.pt10{padding-top:10px}
.pt15{padding-top:15px}
.pt20{padding-top:20px}
.pt30{padding-top:30px}
.pr2{padding-right:2px}
.pr5{padding-right:5px}
.pr10{padding-right:10px}
.pr15{padding-right:15px}
.pr20{padding-right:20px}
.pr30{padding-right:30px}
.pb2{padding-bottom:2px}
.pb3{padding-bottom:3px}
.pb4{padding-bottom:4px}
.pb5{padding-bottom:5px}
.pb10{padding-bottom:10px}
.pb15{padding-bottom:15px}
.pb20{padding-bottom:20px}
.pl2{padding-left:2px}
.pl5{padding-left:5px}
.m2{margin:2px}
.m5{margin:5px}
.m10{margin:10px}
.m15{margin:15px}
.m20{margin:20px}
.mt2{margin-top:2px}
.mt5{margin-top:5px}
.mt10{margin-top:10px}
.mt15{margin-top:15px}
.mt20{margin-top:20px}
.mt30{margin-top:30px}
.mr2{margin-right:2px}
.mr5{margin-right:5px}
.mr10{margin-right:10px}
.mr15{margin-right:15px}
.mr20{margin-right:20px}
.mb2{margin-bottom:2px}
.mb5{margin-bottom:5px}
.mb7{margin-bottom:7px}
.mb10{margin-bottom:10px}
.mb15{margin-bottom:15px}
.mb20{margin-bottom:20px}
.mb30{margin-bottom:30px}
.ml2{margin-left:2px}
.ml5{margin-left:5px}
.ml10{margin-left:10px}
.ml15{margin-left:15px}
.ml20{margin-left:20px}

p{font:normal 13px; word-wrap:break-word; color: #333333;}
.p{font:normal 13px; color: #333333; word-wrap:break-word;}



/* Media Queries */

/* Extra Small Devices, Phones */

@media only screen and (max-width : 480px) {
    #search-container {
        width: 100%;
    }

    #search-container .search-box{
        width: 94%;
        margin: 13px 10px;
    }
}

@media only screen and (max-width : 750px) {
    .social-icons{
        margin-left: 10px;
        margin-right: 0px;
    }
    .header-box{
        margin: 0;
        padding: 0;
    }

    .show-mobile-only{
        display: block;
    }

    .header-container, #nav-toggle{
        height: 40px;
    }

    .news-header{
        height: 47px !important;
    }

    #nav-toggle{
        position: relative;
        z-index: 999;
    }
    #nav-toggle img{
        width: 22px;
    }

    .hidden-xxs{
        display: none !important;
    }

    .vertical-menu {
        height: 100%;
        top: 39px ;
        overflow-y: scroll;
        z-index: 2;
    }

    .news-header .vertical-menu {
        top: 46px !important;
    }

    .vertical-menu .slide-navigation .nav-wrap {
        width: 100%;
    }


    .vertical-menu .nav-wrap:first-child a:first-child {
        margin-top: 0px;
    }

    .vertical-menu .nav-wrap a {
        margin-right: 0px !important;
    }

    .dropdown{
        border: none;
    }

    .gma-logo img{
        position: absolute;
        margin: 0 auto;
        top: 6px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .btn_search{
        margin-right: 0px;
        margin-top: 6px;
        position: relative;
        z-index: 999;
    }

    .vertical-menu .login-panel{
        width: 100%;
        height: 40px;
    }

    .login-panel .bordered{
        border-top: 1px solid gray;
        width: 145px;
        padding-top: 17px;
    }

    .login-panel .pull-right img{
        width: 20px;
    }


    .login-panel .bordered img{
        width: 25px;
        float: left;
    }

    .vertical-menu .login-panel a{
        font-family: 'Lato' !important;
        color: #FFF;
        border: none;
        font-size: 17px;
        margin: 0;
        padding: 0;
    }

    .vertical-menu .login-panel .no-design{
        width: 230px;
        display: inline-block;
    }

    .vertical-menu .login-panel .usernametxt{
        overflow: hidden;
        width: 190px;
        display: inline-block;
        white-space: nowrap;
        float: left;
        text-overflow: ellipsis;
        line-height: 26px;
    }

    .vertical-menu .social-links{
        margin-left: 0;
        height: 26px;
        margin-bottom: 10px;
    }

    .vertical-menu .slide-navigation a{
        font-size: 17px;
    }

    .vertical-menu .login-panel .pull-right{
        margin-top: 17px;
    }

    .vertical-menu .scrolled-nav{
        height: 650px;
    }
    .vertical-menu .slide-navigation{
        padding: 20px 10px !important;
    }
}

/* Small Devices, Tablets */

@media only screen and (max-width : 900px) {
    .hidden-sm{
        display: none;
    }


}

/* Large Devices, Wide Screens */

@media only screen and (max-width : 992px) {

    .portal-nav{
        padding: 0 10px;
    }

    .vertical-menu .slide-navigation{
        padding: 20px 27px;
        padding-right: 0px;
    }

}

@media only screen and (max-width : 1024px) {



}

@media only screen and (max-width : 780px) {

    #account_dropdown {
        padding-right: 0;
    }

}