


body{
	font-family: 'Source Sans Pro' ;

}

a{
	color: #333;
	text-decoration: none !important;
}


a:hover{

	color: #333;
}

.container{
	max-width:990px;
	min-width: 600px;
}

.round5 {
	-webkit-border-radius: 2em 2em;
	-moz-border-radius: 2em 2em;
	border-radius: 2em 2em;

	border-top-right-radius: 2em 2em;
	border-top-left-radius: 2em 2em;

	border-bottom-right-radius: 2em 2em;
	border-bottom-left-radius: 2em 2em;

}

.navbar-main{
	min-height: 30px;
}



.alert-advisory a{
	color: #fff;
}

.alert-celebrity-news{

	background-color:#ff8400;
	background-image: -webkit-linear-gradient(top,#ff8400 0,#ff8400 100%);
	background-image: linear-gradient(to bottom,#ff8400 0,#ff8400 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8400', endColorstr='#ff8400', GradientType=0);
	border-color: #ff8400;
	text-align: center;
	color: #fff;
	font-size: 28px;
	padding: 0px;
	font-family: 'BebasNeueRegular';
	margin-bottom:0px;

}

.alert-gmanews{

	background-color:#3d70c3;
	background-image: -webkit-linear-gradient(top,#3d70c3 0,#3d70c3 100%);
	background-image: linear-gradient(to bottom,#3d70c3 0,#3d70c3 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bcbdc0', endColorstr='#bcbdc0', GradientType=0);
	border-color: #3d70c3;
	text-align: center;
	color: #fff;
	font-size: 28px;
	padding: 0px;
	font-family: 'BebasNeueRegular';
	margin-bottom:10px;
}



.alert-gallery{

	background-color:#FF57F9;
	background-image: -webkit-linear-gradient(top,#FF57F9 0,#FF57F9 100%);
	background-image: linear-gradient(to bottom,#FF57F9 0,#FF57F9 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bcbdc0', endColorstr='#bcbdc0', GradientType=0);
	border-color: #FF57F9;
	text-align: center;
	color: #fff;
	font-size: 28px;
	padding: 0px;
	font-family: 'BebasNeueRegular';
	margin-bottom:5px;
}


.alert-default{

	background-color:#FF57F9;
	text-align: center;
	color: #fff;
	font-size: 25px;
	padding: 0px;
	font-family: 'BebasNeueRegular';
	margin-bottom:10px;
}



.alert-sizzling-seven{

	background-color:#ee1c25;
	background-image: -webkit-linear-gradient(top,#ee1c25 0,#ee1c25 100%);
	background-image: linear-gradient(to bottom,#ee1c25 0,#ee1c25 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee1c25', endColorstr='#ee1c25', GradientType=0);
	border-color: #ee1c25s;
	text-align: center;
	color: #fff;
	font-size: 28px;
	padding: 0px;
	font-family: 'BebasNeueRegular';
	/*margin-bottom:10px;*/
}




.alert-webtv{
	background-color:#43c0b3;
	background-image: -webkit-linear-gradient(top,#43c0b3 0,#43c0b3 100%);
	background-image: linear-gradient(to bottom,#43c0b3 0,#43c0b3 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#43c0b3', endColorstr='#43c0b3', GradientType=0);
	border-color: #43c0b3;
	color: #fff;
	font-size: 28px;
	padding: 0px;
	font-family: 'BebasNeueRegular';
	margin-bottom:10px;
	text-align: center;
}

.alert-mostpopular{
	background-color:#45ace1;
	background-image: -webkit-linear-gradient(top,#45ace1 0,#45ace1 100%);
	background-image: linear-gradient(to bottom,#45ace1 0,#45ace1 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#45ace1', endColorstr='#45ace1', GradientType=0);
	border-color: #45ace1;
	text-align: center;
	color: #fff;
	font-size: 28px;
	padding: 0px;
	font-family: 'BebasNeueRegular';
	margin-bottom: 5px;
}

.alert-socialfeeds{
	background-color:#20a91a;
	background-image: -webkit-linear-gradient(top,#20a91a 0,#20a91a 100%);
	background-image: linear-gradient(to bottom,#20a91a 0,#20a91a 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#20a91a', endColorstr='#20a91a', GradientType=0);
	border-color: #20a91a;
	text-align: center;
	color: #fff;
	font-size: 25px;
	padding: 0px;
	font-family: 'BebasNeueRegular';
	margin-bottom:10px;
}

.alert-events{
	background-color:#f7941e;
	background-image: -webkit-linear-gradient(top,#f7941e 0,#f7941e 100%);
	background-image: linear-gradient(to bottom,#f7941e 0,#f7941e 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7941e', endColorstr='#f7941e', GradientType=0);
	border-color: #f7941e;
	text-align: center;
	color: #fff;
	font-size: 28px;
	padding: 0px;
	font-family: 'BebasNeueRegular';
	margin-bottom:10px;
}


.alert-footer{
	width: 100%;
	float:left;
	background-color:#bcbdc0;
	background-image: -webkit-linear-gradient(top,#bcbdc0 0,#bcbdc0 100%);
	background-image: linear-gradient(to bottom,#bcbdc0 0,#bcbdc0 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bcbdc0', endColorstr='#bcbdc0', GradientType=0);
	border-color: #bcbdc0;
	text-align: center;
	color: #000;
	min-height:42px;
	padding: 0px;
	font-family: 'Century Gothic';
	margin-bottom:10px;
	padding:10px;

}

.alert-site-features{
	width: 100%;
	float:left;
	background-color:#ed008c;
	background-image: -webkit-linear-gradient(top,#ed008c 0,#ed008c 100%);
	background-image: linear-gradient(to bottom,#ed008c 0,#ed008c 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed008c', endColorstr='#ed008c', GradientType=0);
	border-color: #ed008c;
	text-align: center;
	color: #fff;
	font-size: 28px;
	padding: 0px;
	font-family: 'BebasNeueRegular';
	margin-bottom:10px;

}


.border-b-1px{

	border-bottom: 1px solid #ddd !important;

}



.btn-close-smll{
	display:inline-block;
	padding-right: 10px;
	font-family: arial;
}


.box{
	display: inline-block;
	padding:2px;
}


.round-bottom-1em{
	border-bottom-right-radius: 1em 1em;
	border-bottom-left-radius: 1em 1em;
}

.round-top-1em{
	border-top-right-radius: 1em 1em;
	border-top-left-radius: 1em 1em;
}

.pagelayout-title-bottom{

	font-family: 'BebasNeue Bold';
	font-size:20px;
	margin-left:12px;
}

.pagelayout-desc-bottom{

	font-family: 'BebasNeueRegular' !important;
	font-size: 29px !important;
	line-height: 28px !important;
	max-height: 60px;
	overflow: hidden;
	max-width:310px;
	word-wrap: break-word;
}


.no-border{
	border: none;
	margin-bottom:0px;
}

.sizzling-seven{
	/*border: 1px solid #ef1c23;*/
	height: 161px;
	width: 150px;
	border:none;
}

.slimscroll{
	margin-bottom:0px;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
	color: #fff;
	background-color: #901412;
}

.navbar-inverse .navbar-nav>.active>a {
	background-image: -webkit-linear-gradient(top,#901412 0,#901412 100%); */
background-image: linear-gradient(to bottom,#901412 0,#901412 100%); */
background-repeat: repeat-x; */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#901412', endColorstr='#901412', GradientType=0);
-webkit-box-shadow: inset 0 3px 9px rgba(0,0,0,.25);
box-shadow: inset 0 3px 9px rgba(0,0,0,.25);
}

.navbar-inverse .navbar-nav>li>a:hover {
	background-image: -webkit-linear-gradient(top,#901412 0,#901412 100%); */
background-image: linear-gradient(to bottom,#901412 0,#901412 100%); */
background-repeat: repeat-x; */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#901412', endColorstr='#901412', GradientType=0);
-webkit-box-shadow: inset 0 3px 9px rgba(0,0,0,.25);
box-shadow: inset 0 3px 9px rgba(0,0,0,.25);
color: #fff;
background-color: #901412;
}

.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	list-style: none;
	font-size: 14px;
	background-color: #222;
	border-color: #080808;
	border: 1px solid rgba(0,0,0,.15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
	background-clip: padding-box;
}

.dropdown-menu>li>a {
	display: block;
	padding: 10px 20px;
	clear: both;
	font-weight: 400;
	line-height: 1.42857143;

	white-space: nowrap;
	color: #999;
}





.dropdown-menu>li>a:hover {
	background:#901412;
	color: #fff;
}



.site-label-container {
	height:33px;
	/* margin-top:-33px;*/
	color:#fff;

	top:10px;
}


/**
* Celebrity News
*/
.bg-dfdfdf{

	background-color: #dfdfdf;
}

.bg-tiles{

	background-color: #f1f1ef;

}


#celebrity-news li{
	/*padding: 5px 15px !important;*/
}

#celebrity-news{
	width:310px;
	height:330px;

}



#site-gma-news #gma-news-more a{
	font-family: 'BebasNeue Bold';
	color:#0f77bd;
	font-size: 20px;
}

#site-gma-news #gma-news-more a:hover{
	text-decoration: none;

}

.featured-webtv-see-all a:hover{

	text-decoration: none;

}

#gma-news-more a{

	position: absolute;
	bottom: 9px;
	right: 25px;

}

#site-gma-news .news_time{
	color: #878787;
	font-size:14px;
}

#gma-news-content li{
	padding:3px 15px;
}

/**
* Site Featured Webtv
*/
#site-featured-webtv #featured-video-content{
	padding-left:5px;
	margin-bottom: 10px;
}


#site-featured-webtv{
	height:330px;
	max-width:640px;
	width:100%;
}

#site-featured-webtv h1{
	font-family: 'BebasNeueRegular';
	line-height: 34px;
	top: 0px;
	margin-top: 0px;
	font-weight: bold;

}

#site-featured-webtv .site-featured-webtv-description{
	font-family: 'Source Sans Pro', sans-serif;
	font-size:16px;
	height: 45px;
	overflow: hidden;
	margin-right: 10px;
}

.featured-webtv-see-all a{

	color: #43c0b3;
	font-size:20px;
	font-family: 'BebasNeue Bold';
	margin-left:5px;
	float: right;
	right: 25px;
	bottom: 13px;
	display: block;
	width: 105px;
}

/**
* Featured Gallery
**/
#site-featured-gallery{
	/*width:309px;*/
}

#site-featured-gallery > div {
	margin-bottom: 9px;
}


/**
* Sizzling Seven
*/
.sizzling{
	padding: 0px 21px;
}

#sizzling-seven-container{
	/*border: 3px solid #ef1c23;*/

	height: 415px;
	overflow: hidden;

}
#sizzling-seven-container img{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}


#sizzling-seven-container > div {
	/*  padding: 5px 0px;*/
}

#sizzling-seven-container > div > div{
	margin-bottom: 0px;
}

#sizzling-seven-container .sizzling-label{

	font-family:'AriasCondensed';
	background:#ee1c25;
	color:#fff;
	/*padding-right:5px;*/
	font-size:16px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	/* max-height:23px;*/
	overflow: hidden;
	height: 50px;

}



.margin-auto{
	margin-left: auto;
	margin-right: auto;

}

#sizzling-seven-container .sizzling-number{
	font-family: 'BebasNeue Bold';
	background:#ffffff;
	padding-left:7px;
	padding-right:7px;
	color: #ee1c25;
	margin-left: 4px;
	border-top-left-radius: 2em;
	border-top-right-radius: 2em;
	border-bottom-left-radius: 2em;
	border-bottom-right-radius: 2em;
}

#sizzling-seven-container .sizzling-title{
	font-size: 17px !important;
	line-height: 20px;
	letter-spacing: 0.4px;
	font-family: 'BebasNeueRegular';
	/* padding: 5px; */
	display: block;
	height: 45px;
	width: 130px;
	overflow: hidden;
	padding: 5px 5px 5px 5px;
}


.site-features{

	padding-left:1px;
	padding-right:1px;
	max-height:330px;

}

.site-feature-others{

	font-size: 16px;
	line-height: 19px;
	height: 40px;
	overflow: hidden;
	display: table-cell;
	vertical-align: middle;
	font-family: 'Source Sans Pro', sans-serif;

}

.site-feature-others-list{

	height: 42px;
	display: table;
	overflow: hidden;
	margin: 3px 15px 0px 15px;
	padding: 0px;
}

.btn{

	height: 34px;
}

.most-popular.col-md-3{
	width: 20%;
}

.most-popular{
	/* padding-left: 1px;*/
	height: 222px;
	overflow: hidden;
	/* padding-right: 1px;*/
}
.most-popular-title{

	font-family: 'BebasNeueRegular';
	font-size: 20px;
	display: block;
	text-align: left;
	width: 100%;
	line-height: 20px;
	color:#333;
	max-width: 180px;
	height: 40px;
	overflow: hidden;
}
.most-popular-thumb{
	overflow: hidden;
	height: 140px;
	width: 236px;
	text-align: center;
	margin: 0px auto;

}

/*
* Social Feeds
*/


.social-tabs {
	/*border:none;*/
}

.social-tabs > li{
	width: 60px !important;
	margin: 0px 0px 0px 0px !important;
}

#social-feeds{

	width: 310px;
	margin-left: auto;
	margin-right:auto;

}

#social-feeds .slimScrollDiv{
	/*border-radius:4px;*/
	border-bottom:1px solid #ddd;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	/*  border-left:1px solid #ddd;
	  border-right:1px solid #ddd;*/
}

.nav-tabs > li > a {
	border-radius: 15px 15px 0px 0px;
}

/*
* Events
*/
#site-events p{
	font-family: 'AriasCondensed';
}

#site-events .event-date{
	margin:0px;
	font-weight:bold;
	font-size:18px;
}

#site-events .event-title {
	color:#283432;
	font-weight:bold;
	font-size:18px;
	margin:0px;
}

#site-events .event-time {
	color:#283432;
	font-size:16px;
	margin:0px;
}


.less-sidepadding1{
	padding-left:1px;
	padding-right:1px;
}


.no-box-shadow{
	box-shadow: none;
}

.padding0{
	padding:0px;
}


/*
* Search Container
*/
#search_container{
	padding:10px 10px 0px 10px;
	width:250px;
	border-radius: 4px;
	font-family: 'AriasCondensed';
	font-size: 16px;
}

.navbar-toggle{

	margin-right:10px;
}




/*Custom Navbar*/
.navbar-nav > li > a {padding-top:9px !important; padding-bottom:9px !important;}
.navbar-nav > li > a > span{position:relative; bottom:-5px;left:5px;}

.navbar-brand{ width:270px;padding:0px 40px; }
.navbar-inverse .navbar-nav>li>a:hover , .navbar-nav>li>div>a:hover{
	background-color: #901412;
	color: #fff;
}

@media only screen and (min-width : 900px) {
	.navbar { height:40px !important; margin:0px;}
}

.navbar-inverse .navbar-nav>li{
	border-right:1px solid #fff
}
.navbar-inverse .navbar-nav>li:last-child{
	border-right:none;
}
.navbar-right>li:nth-child(2){
	border-right:none;
}








.spinner {
	margin: 100px auto;
	width: 180px;
	height: 75px;
	text-align: center;
	font-size: 10px;
}

.spinner > div {
	background-color: #bcbdc0;
	height: 100%;
	width: 10px;
	display: inline-block;

	-webkit-animation: stretchdelay 1.2s infinite ease-in-out;
	animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
	-webkit-animation-delay: -1.1s;
	animation-delay: -1.1s;
}

.spinner .rect3 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

.spinner .rect4 {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}

.spinner .rect5 {
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
	0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
	20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
	0%, 40%, 100% {
		transform: scaleY(0.4);
		-webkit-transform: scaleY(0.4);
	}  20% {
		   transform: scaleY(1.0);
		   -webkit-transform: scaleY(1.0);
	   }
}

.preload_ads{	display:none; display:block;}

.navbar-right > li > .dropdown-toggle:hover {
	text-decoration: none !important;
	background:transparent !important;
	color: none !important;
	box-shadow: none;
}




.bottom-label{

	text-align: left;
	color: #fff;

	padding: 0px;
	font-family: 'BebasNeueRegular';
	margin-bottom: 10px;
	border-bottom-right-radius: 1em 1em;
	border-bottom-left-radius: 1em 1em;

	height: 70px;



}
.bottom-feeds{

	background-color:#20a91a;
	text-align: left;
	color: #fff;
	font-size: 28px;
	padding: 0px;
	font-family: 'BebasNeueRegular';
	margin-bottom:10px;
	border-bottom-right-radius: 1em 1em;
	border-bottom-left-radius: 1em 1em;
	margin-left: auto; margin-right: auto;
	height:50px;
	float:left;
	width:100%;

}



.box-footer{

	width: 100%;
	float:left;
	background-color:#e6e6e6;
	background-image: -webkit-linear-gradient(top,#e6e6e6 0,#e6e6e6 100%);
	background-image: linear-gradient(to bottom,#e6e6e6 0,#e6e6e6 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6e6e6', endColorstr='#e6e6e6', GradientType=0);
	border-color: #e6e6e6;
	text-align: center;
	color: #000;
	min-height:42px;
	padding: 0px;
	font-family: 'Century Gothic';
	margin-bottom:10px;
	padding:10px;


}

.social-footer{
	font-size:15px;
	display: inline-block;

}

.social-footer>a{
	color:#959699;
	font-weight: normal;
	font-size:20px;
	margin-right:5px;
	margin-left : 5px;
}

.other-sites>li{

	text-align:left;
}

.centurygothic{
	font-family: 'Century Gothic';

}




.vertical-menu>ul{

	overflow: hidden;
	overflow-y: auto;
	position: relative;
	height: 100%;
	display: block;

}





.d-login{

	color: #fff;
	font-family: 'Century Gothic';
	font-size: 15px;
	display: block;
	padding: 5px 5px 5px 5px;
	margin: 0px 5px 1px 5px;
	-o-transition: .2s ease-out;
	-ms-transition: .2s ease-out;
	-moz-transition: .2s ease-out;
	-webkit-transition: .2s ease-out;
	transition: .2s ease-out;

}


.vertical-menu-social{
	font-family: 'Century Gothic';
	display: inline !important;
	width: auto !important;
	border-bottom: none !important;
	margin: 0px 0px auto !important;
	border-bottom: none !important;
	float: left;
}



.vertical-menu ul> li> a.searchbar:after ,.vertical-menu ul> li> a.no-design:after {
	content: none !important;


}

.vertical-menu ul> li> a.searchbar ,.vertical-menu ul> li> a.no-design {
	border-bottom: none !important;
}

a.searchbar:hover ,  a.no-design{
	text-decoration: none;

}

.blue-gradient{

	background-repeat: repeat-x;
	background-position: top;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAABTCAYAAACms5aCAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAKhJREFUeNrMltENgEAIQyG6hkM4mNu53lFXeCS94H0TepTSNK/7eQO8M0JChZIKdqzFCmlHBYVW0UKtKWjakRMuSngDWt5dN4bRcguXb8YtXLsoGsLlp1Ducy3/rjHhGoPGHUtjN1Nu77H7o+yb4dAxSbjmoM2O2/FH/xWWl57GMG4D2JJS/NlMZmi/4zbizP9NqmHNNJvxlOIW7o5shv6YkXmQwk+AAQA5N+9Wn2AYAAAAAABJRU5ErkJggg==);

}





/* Icons */


.t-facebook{
	content:  url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAtCAYAAADoSujCAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAHNJREFUeNrs1kEOgCAMBEDW+P8vVz9gwoEYqrNHgsShFkndGY1zjOYBAABonnOT98jDeO0MyOSc2vETSuceSOcmzuoFnUKLdr9+WwEAAACA7/0HsviZ6lyB0gMAAO+fQuU2CgAAAAAAAAAAAAAAMJFLgAEA24ILY4qp/sUAAAAASUVORK5CYII=);
	background:  url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAtCAYAAADoSujCAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAHNJREFUeNrs1kEOgCAMBEDW+P8vVz9gwoEYqrNHgsShFkndGY1zjOYBAABonnOT98jDeO0MyOSc2vETSuceSOcmzuoFnUKLdr9+WwEAAACA7/0HsviZ6lyB0gMAAO+fQuU2CgAAAAAAAAAAAAAAMJFLgAEA24ILY4qp/sUAAAAASUVORK5CYII=);
	margin-right:10px;
	margin-left:10px;
	display: block;

}

.t-twitter{
	content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAtCAYAAADoSujCAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAO1JREFUeNrsl8ESwyAIRF3H///l7TXjmKqJCBg8l8CDBQpIJs8vJ+cvAALg6wBFwefo2EPHHi0Adox3BH79PXr2ZdB4d/DDdlnAqdR3anmxBuCNc4urmrNTiIay/3iMWqsGagA4AcE11rKoObEz6xKLjBOLSLQHLMz+xwAUWGAqf+boHcDqQw/AlXSOPWhwQgXgRf//JIQTegDWs7/roPn0FMIJEnpVAVjO/qiEYDX4mR6A5tGysolhKfjZi4zWgh8BoEXZtAC0ltZrSWalSbNsKJRGNmg54yM9gMU9IFrdouk8TsoACIAASD8BBgCqXCV4wSMeoAAAAABJRU5ErkJggg==);
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAtCAYAAADoSujCAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAO1JREFUeNrsl8ESwyAIRF3H///l7TXjmKqJCBg8l8CDBQpIJs8vJ+cvAALg6wBFwefo2EPHHi0Adox3BH79PXr2ZdB4d/DDdlnAqdR3anmxBuCNc4urmrNTiIay/3iMWqsGagA4AcE11rKoObEz6xKLjBOLSLQHLMz+xwAUWGAqf+boHcDqQw/AlXSOPWhwQgXgRf//JIQTegDWs7/roPn0FMIJEnpVAVjO/qiEYDX4mR6A5tGysolhKfjZi4zWgh8BoEXZtAC0ltZrSWalSbNsKJRGNmg54yM9gMU9IFrdouk8TsoACIAASD8BBgCqXCV4wSMeoAAAAABJRU5ErkJggg==);
	display: block;
	margin-right:10px;
	margin-left:auto;
}

.t-instagram{
	content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAtCAYAAADoSujCAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAPFJREFUeNrsWUEOwyAMqxH//7KnHTYJJg06Qoin5FS1VWs7DkkLSF5dfJwIGHgdVDHgPVYUQfBNFGXwT+w1qrcH1mkyIB1JIAkkAfGItowyLZQW+t5R6UEACz7FJLGVZ3CXhbDpXtMaoCEgE5sVZ+XNM1EW1cdhAcIuo1Qn4JIBGOLAv1nIhQBPeD4zoEwAm2y01F/KSf9aCHCXgOWYbDJXWdYAPZVfIYABMC5cv93Qfv0iwwRQl24sP0pUoxfzlAjVWEF6Z8/6rwQu58hZKCKByHtm01tMVAA/KmKqWAjCJfDe6FYkgd5CELFOI/ZDgAEAyacrbPsW02wAAAAASUVORK5CYII=);
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAtCAYAAADoSujCAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAPFJREFUeNrsWUEOwyAMqxH//7KnHTYJJg06Qoin5FS1VWs7DkkLSF5dfJwIGHgdVDHgPVYUQfBNFGXwT+w1qrcH1mkyIB1JIAkkAfGItowyLZQW+t5R6UEACz7FJLGVZ3CXhbDpXtMaoCEgE5sVZ+XNM1EW1cdhAcIuo1Qn4JIBGOLAv1nIhQBPeD4zoEwAm2y01F/KSf9aCHCXgOWYbDJXWdYAPZVfIYABMC5cv93Qfv0iwwRQl24sP0pUoxfzlAjVWEF6Z8/6rwQu58hZKCKByHtm01tMVAA/KmKqWAjCJfDe6FYkgd5CELFOI/ZDgAEAyacrbPsW02wAAAAASUVORK5CYII=);
	margin-right:10px;
	margin-left:auto;

	display: block;

}

.t-youtube{
	content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEoAAAAtCAYAAAAJIf2TAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAMRJREFUeNrs2UEOwzAIRNGMxf2v7J7A6rhqGqb+rL3hCWJMNOe8jLAOhYV2DtdhOKv83qKNQ5G28x0geXkPkLz8x0VYAdQHUBOOtQMVResBBRRQQP3mQXp6RQmoPSwB9Udg3T7mbcG63noCKrS6EuaoFmBJA+ejWBWC9PgKqMDJhWq5QCyAcqAiVtAFUO/xIO5HBos7oIACCiigzoQSHGsHKorWuxdKtJ1fUQLJbz2B5G8PlPyI/QaOC0U7cusBdVu8BBgA+oAWcRUfxD8AAAAASUVORK5CYII=);
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEoAAAAtCAYAAAAJIf2TAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAMRJREFUeNrs2UEOwzAIRNGMxf2v7J7A6rhqGqb+rL3hCWJMNOe8jLAOhYV2DtdhOKv83qKNQ5G28x0geXkPkLz8x0VYAdQHUBOOtQMVResBBRRQQP3mQXp6RQmoPSwB9Udg3T7mbcG63noCKrS6EuaoFmBJA+ejWBWC9PgKqMDJhWq5QCyAcqAiVtAFUO/xIO5HBos7oIACCiigzoQSHGsHKorWuxdKtJ1fUQLJbz2B5G8PlPyI/QaOC0U7cusBdVu8BBgA+oAWcRUfxD8AAAAASUVORK5CYII=);

	margin-right:10px;
	margin-left:auto;

	display: block;
}

.t-login{
	content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACkAAAAnCAYAAACSamGGAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAJBJREFUeNrs11EOgCAMA1DK/e+sfBqjZqBjHbbfRF9qwIHyIluLdS1aRt8Db9wXWMwEjkIxGzgCRQSwF4ooYA+0lgRBZIvWNlM0KaSQQnoNGDrMV/l3r9Vk5KhWvR78u92dYgpCJM6KBQvwCQom4B0UbMAraK7DnKnFc5tgBR6hOT43c4u6PggppJBC2rILMAAFdEw8u1DpvAAAAABJRU5ErkJggg==);
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACkAAAAnCAYAAACSamGGAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAJBJREFUeNrs11EOgCAMA1DK/e+sfBqjZqBjHbbfRF9qwIHyIluLdS1aRt8Db9wXWMwEjkIxGzgCRQSwF4ooYA+0lgRBZIvWNlM0KaSQQnoNGDrMV/l3r9Vk5KhWvR78u92dYgpCJM6KBQvwCQom4B0UbMAraK7DnKnFc5tgBR6hOT43c4u6PggppJBC2rILMAAFdEw8u1DpvAAAAABJRU5ErkJggg==);

	margin-left:auto;
	height: 39px;
	width: 41px;
	display: block;
}





.jssora12l, .jssora12r, .jssora12ldn, .jssora12rdn {
	position: absolute;
	cursor: pointer;
	display: block;
	/*background: url(http://www.jssor.com/img/a12.png) no-repeat;*/
	overflow: hidden;
	/*background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAqCAYAAABcOxDuAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAMZJREFUeNq018ERQyEIBNBIerYIC/bqv2UmBmV3IRTwBkEGbWutV0X03j+QVYMl6A6mUQ8cYzSrBuVMb6CERiCNImC6UR5IoXuWJxBGGRBCWTBEFfCKquARzYAumgV/0ArwC/WmRQ1jxg+N95yzFHQblQXLdhR9pSTUO24WtlMdM7BVNsit6Q6r2YZXSoEN2T0sbOhSY2BjtiUKhxOlwNCYsjA8+wxc/pSkUXSc6UwRWDp+BMs1vcEt++Up/0j85dF7gh8BBgDZWZSQjyzCOQAAAABJRU5ErkJggg==');*/
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAqBAMAAACuFQ3dAAAAJ1BMVEUAAAB1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXUx+5dUAAAADHRSTlMA7xCgzzBgcIBKIL8sm2cNAAAAi0lEQVQY02PAClYowJlMPg1wtspBBYSwKJJwAJyNJMyMJGxzEiF8JgEhfAzOZEcSzjkOZ7KdMUAIH8YqHIgQZpXZgBA+ooAQdoILKyKEGeYA7UE4KwDBsRFlwOo7Jh8UiQVIEk4IiYUIKxBWI5yEcCqaFzC9xpCDUwLJ6RyQoEMEKcJPE5AkCpBjGAB53ScjTsvuYgAAAABJRU5ErkJggg==);
}


.jssora12r {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}

.jssora12rdn {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}





.social-tabs>li.active>a, .social-tabs>li.active>a:hover, .social-tabs>li.active>a:focus {
	color: #555;
	background-color: #fff !important;
	/* border: 1px solid #ddd; */
	border-bottom-color: #fff !important;
	cursor: default;
	text-align: center;

}

.social-tabs>li>a, .social-tabs>li>a:hover, .social-tabs>li>a:focus {
	color: #555;
	background-color: transparent !important;
	/* border: 1px solid #ddd; */
	/*  border-bottom-color: #1b8f13 !important;
	  cursor: default;*/
	text-align: center;

}
.social-tabs{

	border-bottom: none !important;
	border-top: 1px solid #20a91a;
	text-align: center;


}
.social-tabs>li>a{

	border:none !important;
}

.social-tabs > li > a {
	border-radius: 0px 0px 15px 15px;
}

.social-tabs > li {
	width: 60px !important;
	margin: 0px 0px 0px 0px !important;
	float:left !important;
	/*   display: inline-block;*/
}

.social-tabs>li>a{
	padding: 5px 1px !important;

}

.thumbnail>.shadow-up:hover{

	display: none;
}




.louise-nav>nav>li{

	list-style-type: none;
	color: #fff;
	float:left;
	height:43px;
}


.louise-nav>nav>li>a:hover{

	color: #B3B3B3;
}

.louise-nav>nav>li>a{

	color: #fff;
	display: block;


	float:left;
	font-family: 'Lato';
	font-size: 15px;
	padding-left: 20px;
	padding-right: 20px;
	-o-transition: .2s ease-out;
	-ms-transition: .2s ease-out;
	-moz-transition: .2s ease-out;
	-webkit-transition: .2s ease-out;
	transition: .2s ease-out;
	position: relative;
	overflow: hidden;

}



.louise-nav>nav>li>.seperatelouise{

	display: block;
	height: 40px;
	width: 1px;
	border-left: 1px solid #fff;
	margin-top: 4px;

}


.leftnav{


	content:'';
}


.light-up,.gray-up{


	color:#fff;

}

.light-up:hover{
	text-decoration: none;
	color: silver !important;


}

.gray-up:hover{


}


.round1{
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;

}


.slide-label:hover{
	background-color: #000;
	opacity: 0.6;
}

.link-underline:hover{
	text-decoration: underline !important;
	-o-transition: .3s ease-out;
	-ms-transition: .3s ease-out;
	-moz-transition: .3s ease-out;
	-webkit-transition: .3s ease-out;
	transition: .3s ease-out;

}


.jssorb17 div,.jssorb17 div:hover,.jssorb17 .av{
	background:url(../images/b17.png?bs) no-repeat;





	overflow:hidden;cursor:pointer}.jssorb17 div{background-position:-7px -7px}.jssorb17 div:hover,.jssorb17 .av:hover{background-position:-37px -7px}.jssorb17 .av{background-position:-67px -7px}.jssorb17 .dn,.jssorb17 .dn:hover{background-position:-97px -7px}






a{
	color: #333;
}


a:hover{

	color: #333;
}

.container{
	max-width:990px;
	min-width: 600px;
}

.round5 {
	-webkit-border-radius: 2em 2em;
	-moz-border-radius: 2em 2em;
	border-radius: 2em 2em;

	border-top-right-radius: 2em 2em;
	border-top-left-radius: 2em 2em;

	border-bottom-right-radius: 2em 2em;
	border-bottom-left-radius: 2em 2em;

}

.navbar-main{
	min-height: 30px;
}

.alert-advisory{

	background-color:#ee1c25;
	background-image: -webkit-linear-gradient(top,#ee1c25 0,#ee1c25 100%);
	background-image: linear-gradient(to bottom,#ee1c25 0,#ee1c25 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee1c25', endColorstr='#ee1c25', GradientType=0);
	border-color: #ee1c25;
	text-align: center;

	font-size: 25px;
	padding: 0px;
	/*padding-top:4px;*/
	font-family: 'BebasNeueRegular';
}


.alert-celebrity-news{

	background-color:#ff8400;
	background-image: -webkit-linear-gradient(top,#ff8400 0,#ff8400 100%);
	background-image: linear-gradient(to bottom,#ff8400 0,#ff8400 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8400', endColorstr='#ff8400', GradientType=0);
	border-color: #ff8400;
	text-align: center;
	color: #fff;
	font-size: 28px;
	padding: 0px;
	font-family: 'BebasNeueRegular';
	margin-bottom:0px;

}

.alert-gmanews{

	background-color:#3d70c3;
	background-image: -webkit-linear-gradient(top,#3d70c3 0,#3d70c3 100%);
	background-image: linear-gradient(to bottom,#3d70c3 0,#3d70c3 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bcbdc0', endColorstr='#bcbdc0', GradientType=0);
	border-color: #3d70c3;
	text-align: center;
	color: #fff;
	font-size: 28px;
	padding: 0px;
	font-family: 'BebasNeueRegular';
	margin-bottom:10px;
}



.alert-gallery{

	background-color:#FF57F9;
	background-image: -webkit-linear-gradient(top,#FF57F9 0,#FF57F9 100%);
	background-image: linear-gradient(to bottom,#FF57F9 0,#FF57F9 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bcbdc0', endColorstr='#bcbdc0', GradientType=0);
	border-color: #FF57F9;
	text-align: center;
	color: #fff;
	font-size: 28px;
	padding: 0px;
	font-family: 'BebasNeueRegular';
	margin-bottom:5px;
}


.alert-default{

	background-color:#FF57F9;
	text-align: center;
	color: #fff;
	font-size: 25px;
	padding: 0px;
	font-family: 'BebasNeueRegular';
	margin-bottom:10px;
}



.alert-sizzling-seven{

	background-color:#ee1c25;
	background-image: -webkit-linear-gradient(top,#ee1c25 0,#ee1c25 100%);
	background-image: linear-gradient(to bottom,#ee1c25 0,#ee1c25 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee1c25', endColorstr='#ee1c25', GradientType=0);
	border-color: #ee1c25s;
	text-align: center;
	color: #fff;
	font-size: 28px;
	padding: 0px;
	font-family: 'BebasNeueRegular';
	/*margin-bottom:10px;*/
}





.alert-mostpopular{
	background-color:#45ace1;
	background-image: -webkit-linear-gradient(top,#45ace1 0,#45ace1 100%);
	background-image: linear-gradient(to bottom,#45ace1 0,#45ace1 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#45ace1', endColorstr='#45ace1', GradientType=0);
	border-color: #45ace1;
	text-align: center;
	color: #fff;
	font-size: 28px;
	padding: 0px;
	font-family: 'BebasNeueRegular';
	margin-bottom: 5px;
}

.alert-socialfeeds{
	background-color:#20a91a;
	background-image: -webkit-linear-gradient(top,#20a91a 0,#20a91a 100%);
	background-image: linear-gradient(to bottom,#20a91a 0,#20a91a 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#20a91a', endColorstr='#20a91a', GradientType=0);
	border-color: #20a91a;
	text-align: center;
	color: #fff;
	font-size: 25px;
	padding: 0px;
	font-family: 'BebasNeueRegular';
	margin-bottom:10px;
}

.alert-events{
	background-color:#f7941e;
	background-image: -webkit-linear-gradient(top,#f7941e 0,#f7941e 100%);
	background-image: linear-gradient(to bottom,#f7941e 0,#f7941e 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7941e', endColorstr='#f7941e', GradientType=0);
	border-color: #f7941e;
	text-align: center;
	color: #fff;
	font-size: 28px;
	padding: 0px;
	font-family: 'BebasNeueRegular';
	margin-bottom:10px;
}


.alert-footer{
	width: 100%;
	float:left;
	background-color:#bcbdc0;
	background-image: -webkit-linear-gradient(top,#bcbdc0 0,#bcbdc0 100%);
	background-image: linear-gradient(to bottom,#bcbdc0 0,#bcbdc0 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bcbdc0', endColorstr='#bcbdc0', GradientType=0);
	border-color: #bcbdc0;
	text-align: center;
	color: #000;
	min-height:42px;
	padding: 0px;
	font-family: 'Century Gothic';
	margin-bottom:10px;
	padding:10px;

}

.alert-site-features{
	width: 100%;
	float:left;
	background-color:#ed008c;
	background-image: -webkit-linear-gradient(top,#ed008c 0,#ed008c 100%);
	background-image: linear-gradient(to bottom,#ed008c 0,#ed008c 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed008c', endColorstr='#ed008c', GradientType=0);
	border-color: #ed008c;
	text-align: center;
	color: #fff;
	font-size: 28px;
	padding: 0px;
	font-family: 'BebasNeueRegular';
	margin-bottom:10px;

}


.border-b-1px{

	border-bottom: 1px solid #ddd !important;

}



.btn-close-smll{
	display:inline-block;
	padding-right: 10px;
	font-family: arial;
}


.box{
	display: inline-block;
	padding:2px;
}


.round-bottom-1em{
	border-bottom-right-radius: 1em 1em;
	border-bottom-left-radius: 1em 1em;
}

.round-top-1em{
	border-top-right-radius: 1em 1em;
	border-top-left-radius: 1em 1em;
}

.pagelayout-title-bottom{

	font-family: 'BebasNeue Bold';
	font-size:20px;
	margin-left:12px;
}



.no-border{
	border: none;
	margin-bottom:0px;
}

.sizzling-seven{
	/*border: 1px solid #ef1c23;*/
	height: 161px;
	width: 150px;
	border:none;
}

.slimscroll{
	margin-bottom:0px;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
	color: #fff;
	background-color: #901412;
}

.navbar-inverse .navbar-nav>.active>a {
	background-image: -webkit-linear-gradient(top,#901412 0,#901412 100%); */
background-image: linear-gradient(to bottom,#901412 0,#901412 100%); */
background-repeat: repeat-x; */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#901412', endColorstr='#901412', GradientType=0);
-webkit-box-shadow: inset 0 3px 9px rgba(0,0,0,.25);
box-shadow: inset 0 3px 9px rgba(0,0,0,.25);
}

.navbar-inverse .navbar-nav>li>a:hover {
	background-image: -webkit-linear-gradient(top,#901412 0,#901412 100%); */
background-image: linear-gradient(to bottom,#901412 0,#901412 100%); */
background-repeat: repeat-x; */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#901412', endColorstr='#901412', GradientType=0);
-webkit-box-shadow: inset 0 3px 9px rgba(0,0,0,.25);
box-shadow: inset 0 3px 9px rgba(0,0,0,.25);
color: #fff;
background-color: #901412;
}

.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	list-style: none;
	font-size: 14px;
	background-color: #222;
	border-color: #080808;
	border: 1px solid rgba(0,0,0,.15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
	background-clip: padding-box;
}

.dropdown-menu>li>a {
	display: block;
	padding: 10px 20px;
	clear: both;
	font-weight: 400;
	line-height: 1.42857143;

	white-space: nowrap;
	color: #999;
}





.dropdown-menu>li>a:hover {
	background:#901412;
	color: #fff;
}



.site-label-container {
	height:33px;
	/* margin-top:-33px;*/
	color:#fff;

	top:10px;
}


/**
* Celebrity News
*/
.bg-dfdfdf{

	background-color: #dfdfdf;
}

.bg-tiles{

	background-color: #f1f1ef;

}


#celebrity-news li{
	/*padding: 5px 15px !important;*/
}

#celebrity-news a {
	font-family: 'Source Sans Pro', sans-serif;
	font-size:16px;
}

#gma-news-content a{
	font-family: 'Source Sans Pro', sans-serif;

}

#celebrity-news{
	width:310px;
	height:330px;

}

/**
*GMA News
*/
#site-gma-news{

	font-size:16px;
	height:330px;
	width:310px;
}

#site-gma-news #gma-news-more a{
	font-family: 'BebasNeue Bold';
	color:#0f77bd;
	font-size: 20px;
}

#gma-news-more a{

	position: absolute;
	bottom: 9px;
	right: 25px;

}

#site-gma-news .news_time{
	color: #878787;
	font-size:14px;
}

#gma-news-content li{
	padding:3px 15px;
}

/**
* Site Featured Webtv
*/
#site-featured-webtv #featured-video-content{
	padding-left:5px;
	margin-bottom: 10px;
}


#site-featured-webtv{
	height:330px;
	max-width:640px;
	width:100%;
}

#site-featured-webtv h1{
	font-family: 'BebasNeueRegular';
	line-height: 34px;
	top: 0px;
	margin-top: 0px;

}



/**
* Featured Gallery
**/
#site-featured-gallery{
	/*width:309px;*/
}

#site-featured-gallery > div {
	margin-bottom: 9px;
}


/**
* Sizzling Seven
*/
.sizzling{
	padding: 0px 21px;
}

#sizzling-seven-container{
	/*border: 3px solid #ef1c23;*/

	height: 415px;

}
#sizzling-seven-container img{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}


#sizzling-seven-container > div {
	/*  padding: 5px 0px;*/
}

#sizzling-seven-container > div > div{
	margin-bottom: 0px;
}

#sizzling-seven-container .sizzling-label{

	font-family:'AriasCondensed';
	background:#ee1c25;
	color:#fff;
	/*padding-right:5px;*/
	font-size:16px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	/* max-height:23px;*/
	overflow: hidden;
	height: 50px;

}



.margin-auto{
	margin-left: auto;
	margin-right: auto;

}

#sizzling-seven-container .sizzling-number{
	font-family: 'BebasNeue Bold';
	background:#ffffff;
	padding-left:7px;
	padding-right:7px;
	color: #ee1c25;
	margin-left: 4px;
	border-top-left-radius: 2em;
	border-top-right-radius: 2em;
	border-bottom-left-radius: 2em;
	border-bottom-right-radius: 2em;
}

#sizzling-seven-container .sizzling-title{
	font-size: 17px !important;
	line-height: 20px;
	letter-spacing: 0.4px;
	font-family: 'BebasNeueRegular';
	/* padding: 5px; */
	display: block;
	height: 45px;
	width: 130px;
	overflow: hidden;
	padding: 5px 5px 5px 5px;
}


.site-features{

	padding-left:1px;
	padding-right:1px;
	max-height:330px;

}



.site-feature-others-list{

	height: 42px;
	display: table;
	overflow: hidden;
	margin: 3px 15px 0px 15px;
	padding: 0px;
}

.btn{

	height: 34px;
}

.most-popular{
	/* padding-left: 1px;*/
	height: 222px;
	overflow: hidden;
	/* padding-right: 1px;*/
}
.most-popular-title{

	font-family: 'BebasNeueRegular';
	font-size: 20px;
	display: block;
	text-align: left;
	width: 100%;
	color:#333;
	line-height: 20px;
	text-decoration:none;
	max-width: 180px;
	height: 40px;
	overflow: hidden;
}

.most-popular-title:hover{
	color:#000 !important;

}


.social-tabs {
	/*border:none;*/
}

.social-tabs > li{
	width: 60px !important;
	margin: 0px 0px 0px 0px !important;
}

#social-feeds{
	width: 310px;
	margin-left: auto;
	margin-right:auto;

}

#social-feeds .slimScrollDiv{
	/*border-radius:4px;*/
	border-bottom:1px solid #ddd;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	/*  border-left:1px solid #ddd;
	  border-right:1px solid #ddd;*/
}

@media only screen and (max-width : 991px) {
	#site-social-feeds{
		height: 440px !important;
		margin-bottom: 0 !important;
	}

	#tab-container{
		height: 335px !important;
	}
}

.nav-tabs > li > a {
	border-radius: 15px 15px 0px 0px;
}

/*
* Events
*/
#site-events p{
	font-family: 'AriasCondensed';
}

#site-events .event-date{
	margin:0px;
	font-weight:bold;
	font-size:18px;
}

#site-events .event-title {
	color:#283432;
	font-weight:bold;
	font-size:18px;
	margin:0px;
}

#site-events .event-time {
	color:#283432;
	font-size:16px;
	margin:0px;
}


.less-sidepadding1{
	padding-left:1px;
	padding-right:1px;
}


.no-box-shadow{
	box-shadow: none;
}

.padding0{
	padding:0px;
}


/*
* Search Container
*/
#search_container{
	padding:10px 10px 0px 10px;
	width:250px;
	border-radius: 4px;
	font-family: 'AriasCondensed';
	font-size: 16px;
}

.navbar-toggle{

	margin-right:10px;
}




/*Custom Navbar*/
.navbar-nav > li > a {padding-top:9px !important; padding-bottom:9px !important;}
.navbar-nav > li > a > span{position:relative; bottom:-5px;left:5px;}

.navbar-brand{ width:270px;padding:0px 40px; }
.navbar-inverse .navbar-nav>li>a:hover , .navbar-nav>li>div>a:hover{
	background-color: #901412;
	color: #fff;
}

@media only screen and (min-width : 900px) {
	.navbar { height:40px !important; margin:0px;}
}

.navbar-inverse .navbar-nav>li{
	border-right:1px solid #fff
}
.navbar-inverse .navbar-nav>li:last-child{
	border-right:none;
}
.navbar-right>li:nth-child(2){
	border-right:none;
}

.spinner {
	margin: 100px auto;
	width: 180px;
	height: 75px;
	text-align: center;
	font-size: 10px;
}

.spinner > div {
	background-color: #bcbdc0;
	height: 100%;
	width: 10px;
	display: inline-block;

	-webkit-animation: stretchdelay 1.2s infinite ease-in-out;
	animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
	-webkit-animation-delay: -1.1s;
	animation-delay: -1.1s;
}

.spinner .rect3 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

.spinner .rect4 {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}

.spinner .rect5 {
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
	0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
	20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
	0%, 40%, 100% {
		transform: scaleY(0.4);
		-webkit-transform: scaleY(0.4);
	}  20% {
		   transform: scaleY(1.0);
		   -webkit-transform: scaleY(1.0);
	   }
}

.preload_ads{	display:none; display:block;}

.navbar-right > li > .dropdown-toggle:hover {
	text-decoration: none !important;
	background:transparent !important;
	color: none !important;
	box-shadow: none;
}




.bottom-label{

	text-align: left;
	color: #fff;

	padding: 0px;
	font-family: 'BebasNeueRegular';
	margin-bottom: 10px;
	border-bottom-right-radius: 1em 1em;
	border-bottom-left-radius: 1em 1em;

	height: 70px;



}



#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
	cursor: pointer;
	border-radius: 1px;
	height: 3px;
	width: 25px;
	background: white;
	position: absolute;
	display: block;
	content: '';
}
#nav-toggle span:before {
	top: -7px;
}
#nav-toggle span:after {
	bottom: -7px;
}


.box-footer{

	width: 100%;
	float:left;
	background-color:#e6e6e6;
	background-image: -webkit-linear-gradient(top,#e6e6e6 0,#e6e6e6 100%);
	background-image: linear-gradient(to bottom,#e6e6e6 0,#e6e6e6 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6e6e6', endColorstr='#e6e6e6', GradientType=0);
	border-color: #e6e6e6;
	text-align: center;
	color: #000;
	min-height:42px;
	padding: 0px;
	font-family: 'Century Gothic';
	margin-bottom:10px;
	padding:10px;


}

.social-footer{
	font-size:15px;
	display: inline-block;

}

.social-footer>a{
	color:#959699;
	font-weight: normal;
	font-size:20px;
	margin-right:5px;
	margin-left : 5px;
}

.other-sites>li{

	text-align: left;
	display: inline-block;
	margin-right: 30px;
}

.centurygothic{
	font-family: 'Century Gothic';

}




.vertical-menu>ul{

	overflow: hidden;
	overflow-y: auto;
	position: relative;
	height: 100%;
	display: block;

}




.d-login{

	color: #fff;
	font-family: 'Century Gothic';
	font-size: 15px;
	display: block;
	padding: 5px 5px 5px 5px;
	margin: 0px 5px 1px 5px;
	-o-transition: .2s ease-out;
	-ms-transition: .2s ease-out;
	-moz-transition: .2s ease-out;
	-webkit-transition: .2s ease-out;
	transition: .2s ease-out;

}


.vertical-menu-social{
	font-family: 'Century Gothic';
	display: inline !important;
	width: auto !important;
	border-bottom: none !important;
	margin: 0px 0px auto !important;
	border-bottom: none !important;
	float: left;
}



.vertical-menu ul> li> a.searchbar:after ,.vertical-menu ul> li> a.no-design:after {
	content: none !important;


}

.vertical-menu ul> li> a.searchbar ,.vertical-menu ul> li> a.no-design {
	border-bottom: none !important;
}

a.searchbar:hover ,  a.no-design{
	text-decoration: none;

}

.blue-gradient{

	background-repeat: repeat-x;
	background-position: top;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAABTCAYAAACms5aCAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAKhJREFUeNrMltENgEAIQyG6hkM4mNu53lFXeCS94H0TepTSNK/7eQO8M0JChZIKdqzFCmlHBYVW0UKtKWjakRMuSngDWt5dN4bRcguXb8YtXLsoGsLlp1Ducy3/rjHhGoPGHUtjN1Nu77H7o+yb4dAxSbjmoM2O2/FH/xWWl57GMG4D2JJS/NlMZmi/4zbizP9NqmHNNJvxlOIW7o5shv6YkXmQwk+AAQA5N+9Wn2AYAAAAAABJRU5ErkJggg==);

}





/* Icons */


.t-facebook{
	content:  url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAtCAYAAADoSujCAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAHNJREFUeNrs1kEOgCAMBEDW+P8vVz9gwoEYqrNHgsShFkndGY1zjOYBAABonnOT98jDeO0MyOSc2vETSuceSOcmzuoFnUKLdr9+WwEAAACA7/0HsviZ6lyB0gMAAO+fQuU2CgAAAAAAAAAAAAAAMJFLgAEA24ILY4qp/sUAAAAASUVORK5CYII=);
	background:  url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAtCAYAAADoSujCAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAHNJREFUeNrs1kEOgCAMBEDW+P8vVz9gwoEYqrNHgsShFkndGY1zjOYBAABonnOT98jDeO0MyOSc2vETSuceSOcmzuoFnUKLdr9+WwEAAACA7/0HsviZ6lyB0gMAAO+fQuU2CgAAAAAAAAAAAAAAMJFLgAEA24ILY4qp/sUAAAAASUVORK5CYII=);
	margin-right:10px;
	margin-left:10px;
	display: block;

}

.t-twitter{
	content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAtCAYAAADoSujCAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAO1JREFUeNrsl8ESwyAIRF3H///l7TXjmKqJCBg8l8CDBQpIJs8vJ+cvAALg6wBFwefo2EPHHi0Adox3BH79PXr2ZdB4d/DDdlnAqdR3anmxBuCNc4urmrNTiIay/3iMWqsGagA4AcE11rKoObEz6xKLjBOLSLQHLMz+xwAUWGAqf+boHcDqQw/AlXSOPWhwQgXgRf//JIQTegDWs7/roPn0FMIJEnpVAVjO/qiEYDX4mR6A5tGysolhKfjZi4zWgh8BoEXZtAC0ltZrSWalSbNsKJRGNmg54yM9gMU9IFrdouk8TsoACIAASD8BBgCqXCV4wSMeoAAAAABJRU5ErkJggg==);
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAtCAYAAADoSujCAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAO1JREFUeNrsl8ESwyAIRF3H///l7TXjmKqJCBg8l8CDBQpIJs8vJ+cvAALg6wBFwefo2EPHHi0Adox3BH79PXr2ZdB4d/DDdlnAqdR3anmxBuCNc4urmrNTiIay/3iMWqsGagA4AcE11rKoObEz6xKLjBOLSLQHLMz+xwAUWGAqf+boHcDqQw/AlXSOPWhwQgXgRf//JIQTegDWs7/roPn0FMIJEnpVAVjO/qiEYDX4mR6A5tGysolhKfjZi4zWgh8BoEXZtAC0ltZrSWalSbNsKJRGNmg54yM9gMU9IFrdouk8TsoACIAASD8BBgCqXCV4wSMeoAAAAABJRU5ErkJggg==);
	display: block;
	margin-right:10px;
	margin-left:auto;
}

.t-instagram{
	content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAtCAYAAADoSujCAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAPFJREFUeNrsWUEOwyAMqxH//7KnHTYJJg06Qoin5FS1VWs7DkkLSF5dfJwIGHgdVDHgPVYUQfBNFGXwT+w1qrcH1mkyIB1JIAkkAfGItowyLZQW+t5R6UEACz7FJLGVZ3CXhbDpXtMaoCEgE5sVZ+XNM1EW1cdhAcIuo1Qn4JIBGOLAv1nIhQBPeD4zoEwAm2y01F/KSf9aCHCXgOWYbDJXWdYAPZVfIYABMC5cv93Qfv0iwwRQl24sP0pUoxfzlAjVWEF6Z8/6rwQu58hZKCKByHtm01tMVAA/KmKqWAjCJfDe6FYkgd5CELFOI/ZDgAEAyacrbPsW02wAAAAASUVORK5CYII=);
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAtCAYAAADoSujCAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAPFJREFUeNrsWUEOwyAMqxH//7KnHTYJJg06Qoin5FS1VWs7DkkLSF5dfJwIGHgdVDHgPVYUQfBNFGXwT+w1qrcH1mkyIB1JIAkkAfGItowyLZQW+t5R6UEACz7FJLGVZ3CXhbDpXtMaoCEgE5sVZ+XNM1EW1cdhAcIuo1Qn4JIBGOLAv1nIhQBPeD4zoEwAm2y01F/KSf9aCHCXgOWYbDJXWdYAPZVfIYABMC5cv93Qfv0iwwRQl24sP0pUoxfzlAjVWEF6Z8/6rwQu58hZKCKByHtm01tMVAA/KmKqWAjCJfDe6FYkgd5CELFOI/ZDgAEAyacrbPsW02wAAAAASUVORK5CYII=);
	margin-right:10px;
	margin-left:auto;

	display: block;

}

.t-youtube{
	content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEoAAAAtCAYAAAAJIf2TAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAMRJREFUeNrs2UEOwzAIRNGMxf2v7J7A6rhqGqb+rL3hCWJMNOe8jLAOhYV2DtdhOKv83qKNQ5G28x0geXkPkLz8x0VYAdQHUBOOtQMVResBBRRQQP3mQXp6RQmoPSwB9Udg3T7mbcG63noCKrS6EuaoFmBJA+ejWBWC9PgKqMDJhWq5QCyAcqAiVtAFUO/xIO5HBos7oIACCiigzoQSHGsHKorWuxdKtJ1fUQLJbz2B5G8PlPyI/QaOC0U7cusBdVu8BBgA+oAWcRUfxD8AAAAASUVORK5CYII=);
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEoAAAAtCAYAAAAJIf2TAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAMRJREFUeNrs2UEOwzAIRNGMxf2v7J7A6rhqGqb+rL3hCWJMNOe8jLAOhYV2DtdhOKv83qKNQ5G28x0geXkPkLz8x0VYAdQHUBOOtQMVResBBRRQQP3mQXp6RQmoPSwB9Udg3T7mbcG63noCKrS6EuaoFmBJA+ejWBWC9PgKqMDJhWq5QCyAcqAiVtAFUO/xIO5HBos7oIACCiigzoQSHGsHKorWuxdKtJ1fUQLJbz2B5G8PlPyI/QaOC0U7cusBdVu8BBgA+oAWcRUfxD8AAAAASUVORK5CYII=);

	margin-right:10px;
	margin-left:auto;

	display: block;
}

.t-login{
	content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACkAAAAnCAYAAACSamGGAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAJBJREFUeNrs11EOgCAMA1DK/e+sfBqjZqBjHbbfRF9qwIHyIluLdS1aRt8Db9wXWMwEjkIxGzgCRQSwF4ooYA+0lgRBZIvWNlM0KaSQQnoNGDrMV/l3r9Vk5KhWvR78u92dYgpCJM6KBQvwCQom4B0UbMAraK7DnKnFc5tgBR6hOT43c4u6PggppJBC2rILMAAFdEw8u1DpvAAAAABJRU5ErkJggg==);
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACkAAAAnCAYAAACSamGGAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAJBJREFUeNrs11EOgCAMA1DK/e+sfBqjZqBjHbbfRF9qwIHyIluLdS1aRt8Db9wXWMwEjkIxGzgCRQSwF4ooYA+0lgRBZIvWNlM0KaSQQnoNGDrMV/l3r9Vk5KhWvR78u92dYgpCJM6KBQvwCQom4B0UbMAraK7DnKnFc5tgBR6hOT43c4u6PggppJBC2rILMAAFdEw8u1DpvAAAAABJRU5ErkJggg==);

	margin-left:auto;
	height: 39px;
	width: 41px;
	display: block;
}





.jssora12l, .jssora12r, .jssora12ldn, .jssora12rdn {
	position: absolute;
	cursor: pointer;
	display: block;
	/*background: url(http://www.jssor.com/img/a12.png) no-repeat;*/
	overflow: hidden;
	/*background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAqCAYAAABcOxDuAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAMZJREFUeNq018ERQyEIBNBIerYIC/bqv2UmBmV3IRTwBkEGbWutV0X03j+QVYMl6A6mUQ8cYzSrBuVMb6CERiCNImC6UR5IoXuWJxBGGRBCWTBEFfCKquARzYAumgV/0ArwC/WmRQ1jxg+N95yzFHQblQXLdhR9pSTUO24WtlMdM7BVNsit6Q6r2YZXSoEN2T0sbOhSY2BjtiUKhxOlwNCYsjA8+wxc/pSkUXSc6UwRWDp+BMs1vcEt++Up/0j85dF7gh8BBgDZWZSQjyzCOQAAAABJRU5ErkJggg==');*/
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAqBAMAAACuFQ3dAAAAJ1BMVEUAAAB1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXUx+5dUAAAADHRSTlMA7xCgzzBgcIBKIL8sm2cNAAAAi0lEQVQY02PAClYowJlMPg1wtspBBYSwKJJwAJyNJMyMJGxzEiF8JgEhfAzOZEcSzjkOZ7KdMUAIH8YqHIgQZpXZgBA+ooAQdoILKyKEGeYA7UE4KwDBsRFlwOo7Jh8UiQVIEk4IiYUIKxBWI5yEcCqaFzC9xpCDUwLJ6RyQoEMEKcJPE5AkCpBjGAB53ScjTsvuYgAAAABJRU5ErkJggg==);
}


.jssora12r {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}

.jssora12rdn {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}





.social-tabs>li.active>a, .social-tabs>li.active>a:hover, .social-tabs>li.active>a:focus {
	color: #555;
	background-color: #fff !important;
	/* border: 1px solid #ddd; */
	border-bottom-color: #fff !important;
	cursor: default;
	text-align: center;

}

.social-tabs>li>a, .social-tabs>li>a:hover, .social-tabs>li>a:focus {
	color: #555;
	background-color: transparent !important;
	/* border: 1px solid #ddd; */
	/*  border-bottom-color: #1b8f13 !important;
	  cursor: default;*/
	text-align: center;

}
.social-tabs{

	border-bottom: none !important;
	border-top: 1px solid #20a91a;
	text-align: center;
	width:180px;
	margin-left: auto;
	margin-right:auto;


}
.social-tabs>li>a{

	border:none !important;
}

.social-tabs > li > a {
	border-radius: 0px 0px 15px 15px;
}

.social-tabs > li {
	width: 60px !important;
	margin: 0px 0px 0px 0px !important;
}

.social-tabs>li>a{
	padding: 5px 1px !important;

}

.thumbnail>.shadow-up:hover{

	display: none;
}


.louise-nav{

	height:40px;
	display: block;
	max-width:990px;
	width:100%;
	z-index:2;
	top:0px;
	margin-left:auto;
	margin-right: auto;
	position: relative;
}





.louise-nav>nav>li>.seperatelouise{

	display: block;
	height: 40px;
	width: 1px;
	border-left: 1px solid #fff;
	margin-top: 4px;

}


.leftnav{


	content:'';
}





.light-black{

	color: #515151;

}

.light-black:hover{
	text-decoration: none;
	color: #000 !important;

}


.round1{
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;

}


.slide-label:hover{
	background-color: #000;
	opacity: 0.6;
}

.link-underline:hover{
	text-decoration: underline !important;
	-o-transition: .3s ease-out;
	-ms-transition: .3s ease-out;
	-moz-transition: .3s ease-out;
	-webkit-transition: .3s ease-out;
	transition: .3s ease-out;

}


.jssorb17 div,.jssorb17 div:hover,.jssorb17 .av{
	background:url(../images/b17.png?b) no-repeat;





	overflow:hidden;cursor:pointer}.jssorb17 div{background-position:-7px -7px}.jssorb17 div:hover,.jssorb17 .av:hover{background-position:-37px -7px}.jssorb17 .av{background-position:-67px -7px}.jssorb17 .dn,.jssorb17 .dn:hover{background-position:-97px -7px}






a{
	color: #333;
}


a:hover{

	color: #333;
}

.container{
	max-width:990px;
	min-width: 600px;
}

.round5 {
	-webkit-border-radius: 2em 2em;
	-moz-border-radius: 2em 2em;
	border-radius: 2em 2em;

	border-top-right-radius: 2em 2em;
	border-top-left-radius: 2em 2em;

	border-bottom-right-radius: 2em 2em;
	border-bottom-left-radius: 2em 2em;

}

.navbar-main{
	min-height: 30px;
}



.alert-advisory a{
	color: #fff;
}

.alert-celebrity-news{

	background-color:#ff8400;
	background-image: -webkit-linear-gradient(top,#ff8400 0,#ff8400 100%);
	background-image: linear-gradient(to bottom,#ff8400 0,#ff8400 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8400', endColorstr='#ff8400', GradientType=0);
	border-color: #ff8400;
	text-align: center;
	color: #fff;
	font-size: 28px;
	padding: 0px;
	font-family: 'BebasNeueRegular';
	margin-bottom:0px;

}

.alert-gmanews{

	background-color:#3d70c3;
	background-image: -webkit-linear-gradient(top,#3d70c3 0,#3d70c3 100%);
	background-image: linear-gradient(to bottom,#3d70c3 0,#3d70c3 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bcbdc0', endColorstr='#bcbdc0', GradientType=0);
	border-color: #3d70c3;
	text-align: center;
	color: #fff;
	font-size: 28px;
	padding: 0px;
	font-family: 'BebasNeueRegular';
	margin-bottom:10px;
}



.alert-gallery{

	background-color:#FF57F9;
	background-image: -webkit-linear-gradient(top,#FF57F9 0,#FF57F9 100%);
	background-image: linear-gradient(to bottom,#FF57F9 0,#FF57F9 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bcbdc0', endColorstr='#bcbdc0', GradientType=0);
	border-color: #FF57F9;
	text-align: center;
	color: #fff;
	font-size: 28px;
	padding: 0px;
	font-family: 'BebasNeueRegular';
	margin-bottom:5px;
}


.alert-default{

	background-color:#FF57F9;
	text-align: center;
	color: #fff;
	font-size: 25px;
	padding: 0px;
	font-family: 'BebasNeueRegular';
	margin-bottom:10px;
}



.alert-sizzling-seven{

	background-color:#ee1c25;
	background-image: -webkit-linear-gradient(top,#ee1c25 0,#ee1c25 100%);
	background-image: linear-gradient(to bottom,#ee1c25 0,#ee1c25 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee1c25', endColorstr='#ee1c25', GradientType=0);
	border-color: #ee1c25s;
	text-align: center;
	color: #fff;
	font-size: 28px;
	padding: 0px;
	font-family: 'BebasNeueRegular';
	/*margin-bottom:10px;*/
}




.alert-mostpopular{
	background-color:#45ace1;
	background-image: -webkit-linear-gradient(top,#45ace1 0,#45ace1 100%);
	background-image: linear-gradient(to bottom,#45ace1 0,#45ace1 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#45ace1', endColorstr='#45ace1', GradientType=0);
	border-color: #45ace1;
	text-align: center;
	color: #fff;
	font-size: 28px;
	padding: 0px;
	font-family: 'BebasNeueRegular';
	margin-bottom: 5px;
}

.alert-socialfeeds{
	background-color:#20a91a;
	background-image: -webkit-linear-gradient(top,#20a91a 0,#20a91a 100%);
	background-image: linear-gradient(to bottom,#20a91a 0,#20a91a 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#20a91a', endColorstr='#20a91a', GradientType=0);
	border-color: #20a91a;
	text-align: center;
	color: #fff;
	font-size: 25px;
	padding: 0px;
	font-family: 'BebasNeueRegular';
	margin-bottom:10px;
}

.alert-events{
	background-color:#f7941e;
	background-image: -webkit-linear-gradient(top,#f7941e 0,#f7941e 100%);
	background-image: linear-gradient(to bottom,#f7941e 0,#f7941e 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7941e', endColorstr='#f7941e', GradientType=0);
	border-color: #f7941e;
	text-align: center;
	color: #fff;
	font-size: 28px;
	padding: 0px;
	font-family: 'BebasNeueRegular';
	margin-bottom:10px;
}


.alert-footer{
	width: 100%;
	float:left;
	background-color:#bcbdc0;
	background-image: -webkit-linear-gradient(top,#bcbdc0 0,#bcbdc0 100%);
	background-image: linear-gradient(to bottom,#bcbdc0 0,#bcbdc0 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bcbdc0', endColorstr='#bcbdc0', GradientType=0);
	border-color: #bcbdc0;
	text-align: center;
	color: #000;
	min-height:42px;
	padding: 0px;
	font-family: 'Century Gothic';
	margin-bottom:10px;
	padding:10px;

}

.alert-site-features{
	width: 100%;
	float:left;
	background-color:#ed008c;
	background-image: -webkit-linear-gradient(top,#ed008c 0,#ed008c 100%);
	background-image: linear-gradient(to bottom,#ed008c 0,#ed008c 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed008c', endColorstr='#ed008c', GradientType=0);
	border-color: #ed008c;
	text-align: center;
	color: #fff;
	font-size: 28px;
	padding: 0px;
	font-family: 'BebasNeueRegular';
	margin-bottom:10px;

}


.border-b-1px{

	border-bottom: 1px solid #ddd !important;

}



.btn-close-smll{
	display:inline-block;
	padding-right: 10px;
	font-family: arial;
}


.box{
	display: inline-block;
	padding:2px;
}


.round-bottom-1em{
	border-bottom-right-radius: 1em 1em;
	border-bottom-left-radius: 1em 1em;
}

.round-top-1em{
	border-top-right-radius: 1em 1em;
	border-top-left-radius: 1em 1em;
}

.pagelayout-title-bottom{

	font-family: 'BebasNeue Bold';
	font-size:20px;
	margin-left:12px;
}



.no-border{
	border: none;
	margin-bottom:0px;
}

.sizzling-seven{
	/*border: 1px solid #ef1c23;*/
	height: 161px;
	width: 150px;
	border:none;
}

.slimscroll{
	margin-bottom:0px;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
	color: #fff;
	background-color: #901412;
}

.navbar-inverse .navbar-nav>.active>a {
	background-image: -webkit-linear-gradient(top,#901412 0,#901412 100%); */
background-image: linear-gradient(to bottom,#901412 0,#901412 100%); */
background-repeat: repeat-x; */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#901412', endColorstr='#901412', GradientType=0);
-webkit-box-shadow: inset 0 3px 9px rgba(0,0,0,.25);
box-shadow: inset 0 3px 9px rgba(0,0,0,.25);
}

.navbar-inverse .navbar-nav>li>a:hover {
	background-image: -webkit-linear-gradient(top,#901412 0,#901412 100%); */
background-image: linear-gradient(to bottom,#901412 0,#901412 100%); */
background-repeat: repeat-x; */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#901412', endColorstr='#901412', GradientType=0);
-webkit-box-shadow: inset 0 3px 9px rgba(0,0,0,.25);
box-shadow: inset 0 3px 9px rgba(0,0,0,.25);
color: #fff;
background-color: #901412;
}

.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	list-style: none;
	font-size: 14px;
	background-color: #222;
	border-color: #080808;
	border: 1px solid rgba(0,0,0,.15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
	background-clip: padding-box;
}

.dropdown-menu>li>a {
	display: block;
	padding: 10px 20px;
	clear: both;
	font-weight: 400;
	line-height: 1.42857143;

	white-space: nowrap;
	color: #999;
}





.dropdown-menu>li>a:hover {
	background:#901412;
	color: #fff;
}



.site-label-container {
	height:33px;
	/* margin-top:-33px;*/
	color:#fff;

	top:10px;
}


/**
* Celebrity News
*/
.bg-dfdfdf{

	background-color: #dfdfdf;
}

.bg-tiles{

	background-color: #f1f1ef;

}


#celebrity-news li{
	/*padding: 5px 15px !important;*/
}


#celebrity-news{
	width:310px;
	height:330px;

}

/**
*GMA News
*/
#site-gma-news{

	font-size:16px;
	height:330px;
	width:310px;
}

#site-gma-news #gma-news-more a{
	font-family: 'BebasNeue Bold';
	color:#0f77bd;
	font-size: 20px;
}

#gma-news-more a{

	position: absolute;
	bottom: 9px;
	right: 25px;

}

#site-gma-news .news_time{
	color: #878787;
	font-size:14px;
}

#gma-news-content li{
	padding:3px 15px;
}

/**
* Site Featured Webtv
*/
#site-featured-webtv #featured-video-content{
	padding-left:5px;
	margin-bottom: 10px;
}


#site-featured-webtv{
	height:330px;
	max-width:640px;
	width:100%;
}

#site-featured-webtv h1{
	font-family: 'BebasNeueRegular';
	line-height: 34px;
	top: 0px;
	margin-top: 0px;

}



/**
* Featured Gallery
**/
#site-featured-gallery{
	/*width:309px;*/
}

#site-featured-gallery > div {
	margin-bottom: 9px;
}


/**
* Sizzling Seven
*/
.sizzling{
	padding: 0px 21px;
}

#sizzling-seven-container{
	/*border: 3px solid #ef1c23;*/

	height: 415px;

}
#sizzling-seven-container img{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}


#sizzling-seven-container > div {
	/*  padding: 5px 0px;*/
}

#sizzling-seven-container > div > div{
	margin-bottom: 0px;
}

#sizzling-seven-container .sizzling-label{

	font-family:'AriasCondensed';
	background:#ee1c25;
	color:#fff;
	/*padding-right:5px;*/
	font-size:16px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	/* max-height:23px;*/
	overflow: hidden;
	height: 50px;

}



.margin-auto{
	margin-left: auto;
	margin-right: auto;

}

#sizzling-seven-container .sizzling-number{
	font-family: 'BebasNeue Bold';
	background:#ffffff;
	padding-left:7px;
	padding-right:7px;
	color: #ee1c25;
	margin-left: 4px;
	border-top-left-radius: 2em;
	border-top-right-radius: 2em;
	border-bottom-left-radius: 2em;
	border-bottom-right-radius: 2em;
}

#sizzling-seven-container .sizzling-title{
	font-size: 17px !important;
	line-height: 20px;
	letter-spacing: 0.4px;
	font-family: 'BebasNeueRegular';
	/* padding: 5px; */
	display: block;
	height: 45px;
	width: 130px;
	overflow: hidden;
	padding: 5px 5px 5px 5px;
}


.site-features{

	padding-left:1px;
	padding-right:1px;
	max-height:330px;

}

.site-feature-others-list{


	font-size: 16px;
	line-height: 19px;
	height: 40px;
	overflow: hidden;
	display: table-cell;
	vertical-align: middle;

}

.site-feature-others-list{

	height: 42px;
	display: table;
	overflow: hidden;
	margin: 3px 15px 0px 15px;
	padding: 0px;
}

.site-feature-others-list:last-child{
	border-bottom: none !important;
}

.btn{

	height: 34px;
}

.most-popular{
	/* padding-left: 1px;*/
	height: 222px;
	overflow: hidden;
	/* padding-right: 1px;*/
}
.most-popular-title{

	font-family: 'BebasNeueRegular';
	font-size: 20px;
	display: block;
	text-align: left;
	width: 100%;
	line-height: 20px;
	color:#333;
	max-width: 180px;
	height: 40px;
	overflow: hidden;
}

.social-tabs {
	/*border:none;*/
}

.social-tabs > li{
	width: 60px !important;
	margin: 0px 0px 0px 0px !important;
}

#social-feeds{

	width: 310px;
	margin-left: auto;
	margin-right:auto;

}

#social-feeds .slimScrollDiv{
	/*border-radius:4px;*/
	border-bottom:1px solid #ddd;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	/*  border-left:1px solid #ddd;
	  border-right:1px solid #ddd;*/
}

.nav-tabs > li > a {
	border-radius: 15px 15px 0px 0px;
}

/*
* Events
*/
#site-events p{
	font-family: 'AriasCondensed';
}

#site-events .event-date{
	margin:0px;
	font-weight:bold;
	font-size:18px;
}

#site-events .event-title {
	color:#283432;
	font-weight:bold;
	font-size:18px;
	margin:0px;
}

#site-events .event-time {
	color:#283432;
	font-size:16px;
	margin:0px;
}


.less-sidepadding1{
	padding-left:1px;
	padding-right:1px;
}


.no-box-shadow{
	box-shadow: none;
}

.padding0{
	padding:0px;
}


/*
* Search Container
*/
#search_container{
	padding:10px 10px 0px 10px;
	width:250px;
	border-radius: 4px;
	font-family: 'AriasCondensed';
	font-size: 16px;
}

.navbar-toggle{

	margin-right:10px;
}


.wallpaperleft_ad, .wallpaperright_ad {
	position: absolute;
	top: 21px;
	width: auto;
	margin-top: 0px !important;
}

.wallpaperleft_ad { left:-155px !important;z-index:0 !important; }
.wallpaperright_ad {left:995px  !important;z-index:0 !important; }

.wallpaperleft_ad>div, .wallpaperright_ad>div{
	margin-top:45px !important;
}

/** ads for mozilla **/
@-moz-document url-prefix() {
	.wallpaperleft_ad { left:-155px !important;z-index:0 !important; }
	.wallpaperright_ad {left:995px  !important;z-index:0 !important; }
}


.wallpaperleft_ad { left:-155px/9 !important;z-index:0 !important; }
.wallpaperright_ad {left:995px/9  !important;z-index:0 !important; }







/*Custom Navbar*/
.navbar-nav > li > a {padding-top:9px !important; padding-bottom:9px !important;}
.navbar-nav > li > a > span{position:relative; bottom:-5px;left:5px;}

.navbar-brand{ width:270px;padding:0px 40px; }
.navbar-inverse .navbar-nav>li>a:hover , .navbar-nav>li>div>a:hover{
	background-color: #901412;
	color: #fff;
}

@media only screen and (min-width : 900px) {
	.navbar { height:40px !important; margin:0px;}
}

.navbar-inverse .navbar-nav>li{
	border-right:1px solid #fff
}
.navbar-inverse .navbar-nav>li:last-child{
	border-right:none;
}
.navbar-right>li:nth-child(2){
	border-right:none;
}




.wallpaperright_ad div div object embed, .wallpaperleft_ad div div object embed {
	height:600px !important;
}



.spinner {
	margin: 100px auto;
	width: 180px;
	height: 75px;
	text-align: center;
	font-size: 10px;
}

.spinner > div {
	background-color: #bcbdc0;
	height: 100%;
	width: 10px;
	display: inline-block;

	-webkit-animation: stretchdelay 1.2s infinite ease-in-out;
	animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
	-webkit-animation-delay: -1.1s;
	animation-delay: -1.1s;
}

.spinner .rect3 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

.spinner .rect4 {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}

.spinner .rect5 {
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
	0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
	20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
	0%, 40%, 100% {
		transform: scaleY(0.4);
		-webkit-transform: scaleY(0.4);
	}  20% {
		   transform: scaleY(1.0);
		   -webkit-transform: scaleY(1.0);
	   }
}

.preload_ads{	display:none; display:block;}

.navbar-right > li > .dropdown-toggle:hover {
	text-decoration: none !important;
	background:transparent !important;
	color: none !important;
	box-shadow: none;
}




.bottom-label{

	text-align: left;
	color: #fff;

	padding: 0px;
	font-family: 'BebasNeueRegular';
	margin-bottom: 10px;
	border-bottom-right-radius: 1em 1em;
	border-bottom-left-radius: 1em 1em;

	height: 70px;



}



.box-footer{

	width: 100%;
	float:left;
	background-color:#e6e6e6;
	background-image: -webkit-linear-gradient(top,#e6e6e6 0,#e6e6e6 100%);
	background-image: linear-gradient(to bottom,#e6e6e6 0,#e6e6e6 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6e6e6', endColorstr='#e6e6e6', GradientType=0);
	border-color: #e6e6e6;
	text-align: center;
	color: #000;
	min-height:42px;
	padding: 0px;
	font-family: 'Century Gothic';
	margin-bottom:10px;
	padding:10px;


}

.box-footer> .socialbox {
	color:#959699;
	font-family: 'BebasNeueRegular';
	font-weight: bold;
	text-align: center;
	font-size: 45px;
}

.box-footer> .socialbox h1 {
	color:#959699;
}

.social-footer{
	font-size:15px;
	display: inline-block;

}

.social-footer>a{
	color:#959699;
	font-weight: normal;
	font-size:17px;
	margin-right:5px;
	margin-left : 5px;
}

.other-sites>li>a{

	font-family: 'Century Gothic';
	color:#959699;
	font-size:18px;
	font-weight: bold;

}

.other-sites>li{

	text-align:left;
}

.centurygothic{
	font-family: 'Century Gothic';

}




.vertical-menu>ul{

	overflow: hidden;
	overflow-y: auto;
	position: relative;
	height: 100%;
	display: block;

}



.vertical-menu ul> li > a{

	display: none;
	color: #fff;
	font-family: 'LAto';
	font-size: 15px;
	display: block;
	padding: 5px 5px 5px 5px;
	border-bottom: 1px solid #808080;
	margin: 0px 15px 1px 15px;
	-o-transition: .2s ease-out;
	-ms-transition: .2s ease-out;
	-moz-transition: .2s ease-out;
	-webkit-transition: .2s ease-out;
	transition: .2s ease-out;

}

.d-login{

	color: #fff;
	font-family: 'Century Gothic';
	font-size: 15px;
	display: block;
	padding: 5px 5px 5px 5px;
	margin: 0px 5px 1px 5px;
	-o-transition: .2s ease-out;
	-ms-transition: .2s ease-out;
	-moz-transition: .2s ease-out;
	-webkit-transition: .2s ease-out;
	transition: .2s ease-out;

}

.vertical-menu ul> li > a:hover{
	font-weight: bold;
	/*text-shadow: 0px 3px 6px #fff;*/
	text-decoration: none;
}

.vertical-menu-social{
	font-family: 'Century Gothic';
	display: inline !important;
	width: auto !important;
	border-bottom: none !important;
	margin: 0px 0px auto !important;
	border-bottom: none !important;
	float: left;
}



.vertical-menu ul> li> a.searchbar:after ,.vertical-menu ul> li> a.no-design:after {
	content: none !important;


}

.vertical-menu ul> li> a.searchbar ,.vertical-menu ul> li> a.no-design {
	border-bottom: none !important;
}

a.searchbar:hover ,  a.no-design{
	text-decoration: none;

}

.blue-gradient{

	background-repeat: repeat-x;
	background-position: top;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAABTCAYAAACms5aCAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAKhJREFUeNrMltENgEAIQyG6hkM4mNu53lFXeCS94H0TepTSNK/7eQO8M0JChZIKdqzFCmlHBYVW0UKtKWjakRMuSngDWt5dN4bRcguXb8YtXLsoGsLlp1Ducy3/rjHhGoPGHUtjN1Nu77H7o+yb4dAxSbjmoM2O2/FH/xWWl57GMG4D2JJS/NlMZmi/4zbizP9NqmHNNJvxlOIW7o5shv6YkXmQwk+AAQA5N+9Wn2AYAAAAAABJRU5ErkJggg==);

}





/* Icons */


.t-facebook{
	content:  url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAtCAYAAADoSujCAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAHNJREFUeNrs1kEOgCAMBEDW+P8vVz9gwoEYqrNHgsShFkndGY1zjOYBAABonnOT98jDeO0MyOSc2vETSuceSOcmzuoFnUKLdr9+WwEAAACA7/0HsviZ6lyB0gMAAO+fQuU2CgAAAAAAAAAAAAAAMJFLgAEA24ILY4qp/sUAAAAASUVORK5CYII=);
	background:  url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAtCAYAAADoSujCAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAHNJREFUeNrs1kEOgCAMBEDW+P8vVz9gwoEYqrNHgsShFkndGY1zjOYBAABonnOT98jDeO0MyOSc2vETSuceSOcmzuoFnUKLdr9+WwEAAACA7/0HsviZ6lyB0gMAAO+fQuU2CgAAAAAAAAAAAAAAMJFLgAEA24ILY4qp/sUAAAAASUVORK5CYII=);
	margin-right:10px;
	margin-left:10px;
	display: block;

}

.t-twitter{
	content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAtCAYAAADoSujCAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAO1JREFUeNrsl8ESwyAIRF3H///l7TXjmKqJCBg8l8CDBQpIJs8vJ+cvAALg6wBFwefo2EPHHi0Adox3BH79PXr2ZdB4d/DDdlnAqdR3anmxBuCNc4urmrNTiIay/3iMWqsGagA4AcE11rKoObEz6xKLjBOLSLQHLMz+xwAUWGAqf+boHcDqQw/AlXSOPWhwQgXgRf//JIQTegDWs7/roPn0FMIJEnpVAVjO/qiEYDX4mR6A5tGysolhKfjZi4zWgh8BoEXZtAC0ltZrSWalSbNsKJRGNmg54yM9gMU9IFrdouk8TsoACIAASD8BBgCqXCV4wSMeoAAAAABJRU5ErkJggg==);
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAtCAYAAADoSujCAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAO1JREFUeNrsl8ESwyAIRF3H///l7TXjmKqJCBg8l8CDBQpIJs8vJ+cvAALg6wBFwefo2EPHHi0Adox3BH79PXr2ZdB4d/DDdlnAqdR3anmxBuCNc4urmrNTiIay/3iMWqsGagA4AcE11rKoObEz6xKLjBOLSLQHLMz+xwAUWGAqf+boHcDqQw/AlXSOPWhwQgXgRf//JIQTegDWs7/roPn0FMIJEnpVAVjO/qiEYDX4mR6A5tGysolhKfjZi4zWgh8BoEXZtAC0ltZrSWalSbNsKJRGNmg54yM9gMU9IFrdouk8TsoACIAASD8BBgCqXCV4wSMeoAAAAABJRU5ErkJggg==);
	display: block;
	margin-right:10px;
	margin-left:auto;
}

.t-instagram{
	content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAtCAYAAADoSujCAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAPFJREFUeNrsWUEOwyAMqxH//7KnHTYJJg06Qoin5FS1VWs7DkkLSF5dfJwIGHgdVDHgPVYUQfBNFGXwT+w1qrcH1mkyIB1JIAkkAfGItowyLZQW+t5R6UEACz7FJLGVZ3CXhbDpXtMaoCEgE5sVZ+XNM1EW1cdhAcIuo1Qn4JIBGOLAv1nIhQBPeD4zoEwAm2y01F/KSf9aCHCXgOWYbDJXWdYAPZVfIYABMC5cv93Qfv0iwwRQl24sP0pUoxfzlAjVWEF6Z8/6rwQu58hZKCKByHtm01tMVAA/KmKqWAjCJfDe6FYkgd5CELFOI/ZDgAEAyacrbPsW02wAAAAASUVORK5CYII=);
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAtCAYAAADoSujCAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAPFJREFUeNrsWUEOwyAMqxH//7KnHTYJJg06Qoin5FS1VWs7DkkLSF5dfJwIGHgdVDHgPVYUQfBNFGXwT+w1qrcH1mkyIB1JIAkkAfGItowyLZQW+t5R6UEACz7FJLGVZ3CXhbDpXtMaoCEgE5sVZ+XNM1EW1cdhAcIuo1Qn4JIBGOLAv1nIhQBPeD4zoEwAm2y01F/KSf9aCHCXgOWYbDJXWdYAPZVfIYABMC5cv93Qfv0iwwRQl24sP0pUoxfzlAjVWEF6Z8/6rwQu58hZKCKByHtm01tMVAA/KmKqWAjCJfDe6FYkgd5CELFOI/ZDgAEAyacrbPsW02wAAAAASUVORK5CYII=);
	margin-right:10px;
	margin-left:auto;

	display: block;

}

.t-youtube{
	content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEoAAAAtCAYAAAAJIf2TAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAMRJREFUeNrs2UEOwzAIRNGMxf2v7J7A6rhqGqb+rL3hCWJMNOe8jLAOhYV2DtdhOKv83qKNQ5G28x0geXkPkLz8x0VYAdQHUBOOtQMVResBBRRQQP3mQXp6RQmoPSwB9Udg3T7mbcG63noCKrS6EuaoFmBJA+ejWBWC9PgKqMDJhWq5QCyAcqAiVtAFUO/xIO5HBos7oIACCiigzoQSHGsHKorWuxdKtJ1fUQLJbz2B5G8PlPyI/QaOC0U7cusBdVu8BBgA+oAWcRUfxD8AAAAASUVORK5CYII=);
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEoAAAAtCAYAAAAJIf2TAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAMRJREFUeNrs2UEOwzAIRNGMxf2v7J7A6rhqGqb+rL3hCWJMNOe8jLAOhYV2DtdhOKv83qKNQ5G28x0geXkPkLz8x0VYAdQHUBOOtQMVResBBRRQQP3mQXp6RQmoPSwB9Udg3T7mbcG63noCKrS6EuaoFmBJA+ejWBWC9PgKqMDJhWq5QCyAcqAiVtAFUO/xIO5HBos7oIACCiigzoQSHGsHKorWuxdKtJ1fUQLJbz2B5G8PlPyI/QaOC0U7cusBdVu8BBgA+oAWcRUfxD8AAAAASUVORK5CYII=);

	margin-right:10px;
	margin-left:auto;

	display: block;
}

.t-login{
	content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACkAAAAnCAYAAACSamGGAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAJBJREFUeNrs11EOgCAMA1DK/e+sfBqjZqBjHbbfRF9qwIHyIluLdS1aRt8Db9wXWMwEjkIxGzgCRQSwF4ooYA+0lgRBZIvWNlM0KaSQQnoNGDrMV/l3r9Vk5KhWvR78u92dYgpCJM6KBQvwCQom4B0UbMAraK7DnKnFc5tgBR6hOT43c4u6PggppJBC2rILMAAFdEw8u1DpvAAAAABJRU5ErkJggg==);
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACkAAAAnCAYAAACSamGGAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAJBJREFUeNrs11EOgCAMA1DK/e+sfBqjZqBjHbbfRF9qwIHyIluLdS1aRt8Db9wXWMwEjkIxGzgCRQSwF4ooYA+0lgRBZIvWNlM0KaSQQnoNGDrMV/l3r9Vk5KhWvR78u92dYgpCJM6KBQvwCQom4B0UbMAraK7DnKnFc5tgBR6hOT43c4u6PggppJBC2rILMAAFdEw8u1DpvAAAAABJRU5ErkJggg==);

	margin-left:auto;
	height: 39px;
	width: 41px;
	display: block;
}





.jssora12l, .jssora12r, .jssora12ldn, .jssora12rdn {
	position: absolute;
	cursor: pointer;
	display: block;
	/*background: url(http://www.jssor.com/img/a12.png) no-repeat;*/
	overflow: hidden;
	/*background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAqCAYAAABcOxDuAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAMZJREFUeNq018ERQyEIBNBIerYIC/bqv2UmBmV3IRTwBkEGbWutV0X03j+QVYMl6A6mUQ8cYzSrBuVMb6CERiCNImC6UR5IoXuWJxBGGRBCWTBEFfCKquARzYAumgV/0ArwC/WmRQ1jxg+N95yzFHQblQXLdhR9pSTUO24WtlMdM7BVNsit6Q6r2YZXSoEN2T0sbOhSY2BjtiUKhxOlwNCYsjA8+wxc/pSkUXSc6UwRWDp+BMs1vcEt++Up/0j85dF7gh8BBgDZWZSQjyzCOQAAAABJRU5ErkJggg==');*/
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAqBAMAAACuFQ3dAAAAJ1BMVEUAAAB1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXUx+5dUAAAADHRSTlMA7xCgzzBgcIBKIL8sm2cNAAAAi0lEQVQY02PAClYowJlMPg1wtspBBYSwKJJwAJyNJMyMJGxzEiF8JgEhfAzOZEcSzjkOZ7KdMUAIH8YqHIgQZpXZgBA+ooAQdoILKyKEGeYA7UE4KwDBsRFlwOo7Jh8UiQVIEk4IiYUIKxBWI5yEcCqaFzC9xpCDUwLJ6RyQoEMEKcJPE5AkCpBjGAB53ScjTsvuYgAAAABJRU5ErkJggg==);
}


.jssora12r {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}

.jssora12rdn {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}





.social-tabs>li.active>a, .social-tabs>li.active>a:hover, .social-tabs>li.active>a:focus {
	color: #555;
	background-color: #fff !important;
	/* border: 1px solid #ddd; */
	border-bottom-color: #fff !important;
	cursor: default;
	text-align: center;

}

.social-tabs>li>a, .social-tabs>li>a:hover, .social-tabs>li>a:focus {
	color: #555;
	background-color: transparent !important;
	/* border: 1px solid #ddd; */
	/*  border-bottom-color: #1b8f13 !important;
	  cursor: default;*/
	text-align: center;

}
.social-tabs{

	border-bottom: none !important;
	border-top: 1px solid #20a91a;
	text-align: center;


}
.social-tabs>li>a{

	border:none !important;
}

.social-tabs > li > a {
	border-radius: 0px 0px 15px 15px;
}

.social-tabs > li {
	width: 60px !important;
	margin: 0px 0px 0px 0px !important;
}

.social-tabs>li>a{
	padding: 5px 1px !important;

}

.thumbnail>.shadow-up:hover{

	display: none;
}

.louise-nav-container{

	height: 45px;
	display: block;
	width: 100%;
	position: fixed;
	z-index: 2;
	top: 0px;
	/* left: 0px; */
	right: 0px;
	background: #393939;

}





.louise-nav>nav>li>.seperatelouise{

	display: block;
	height: 40px;
	width: 1px;
	border-left: 1px solid #fff;
	margin-top: 4px;

}


.leftnav{


	content:'';
}




.round1{
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;

}


.slide-label:hover{
	background-color: #000;
	opacity: 0.6;
}

.link-underline:hover{
	text-decoration: underline !important;
	-o-transition: .3s ease-out;
	-ms-transition: .3s ease-out;
	-moz-transition: .3s ease-out;
	-webkit-transition: .3s ease-out;
	transition: .3s ease-out;

}


.jssorb17 div,.jssorb17 div:hover,.jssorb17 .av{
	background:url(../images/b17.png?b) no-repeat;





	overflow:hidden;cursor:pointer}.jssorb17 div{background-position:-7px -7px}.jssorb17 div:hover,.jssorb17 .av:hover{background-position:-37px -7px}.jssorb17 .av{background-position:-67px -7px}.jssorb17 .dn,.jssorb17 .dn:hover{background-position:-97px -7px}




.sizzling-hover{
	background: rgba(126,51,2 , 0.9);
	position: absolute;
	color: #fff;
	top: 0px;
	height: 120px;
	padding:5px;
	width:129px;
	display: none;
	max-height:120px;
	overflow: hidden;
	padding-bottom:5px !important;


}
.sizzling-hover>span>a:hover{
	text-decoration: none
;
}

.site-feature-list{

	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}


#sizzling-seven-container > div.slimScrollDiv > div.slimscroll > div:nth-child(8) > div > div.sizzling-image > div > span{

	height: 100px;
	display: block;
	overflow: hidden;
}

.webtv-text{

	color: #515151;

}

.webtv-text:hover{

	color: #000 !important;
	text-decoration:none;
}


#footer-fb:hover{
	background-image: url('../images/footer-fb2.png') !important;
}

#footer-twitter:hover{
	background-image: url('../images/footer-twitter2.png') !important;
}

#footer-ytd:hover{
	background-image: url('../images/footer-ytd2.png') !important;
}

#footer-ig:hover{
	background-image: url('http://aphrodite.gmanetwork.com/res/img/footer-ig2.png') !important;
}




#header-fb{
	display:block;
	height:25px;
	width:25px;
	cursor:pointer;
	background-image: url('../images/fb-default.png') !important;
}

#header-twitter{
	height:25px;
	width:25px;
	display:block;
	cursor:pointer;
	background-image: url('../images/twitter-default.png') !important;
}

#header-ytd{
	height:25px;
	width:25px;
	display:block;
	cursor:pointer;
	background-image: url('../images/youtube-default.png') !important;
}

#header-ig{
	height:25px;
	width:25px;
	display:block;
	cursor:pointer;
	background-image: url('../images/insta-default.png') !important;
}
#header-rss{
	height:25px;
	width:25px;
	display:block;
	cursor:pointer;
	background-image: url('../images/rss-default.png') !important;
}




#header-fb:hover{
	background-image: url('../images/fb_hover_colored.png') !important;
}

#header-twitter:hover{
	background-image: url('../images/tweet_hover_colored.png') !important;
}

#header-ytd:hover{
	background-image: url('../images/youtube_share_hover_colored.png') !important;
}

#header-ig:hover{
	background-image: url('../images/insta_hover_colored.png') !important;
}
#header-rss:hover{
	background-image: url('../images/rss_share_hover_colored.png') !important;
}


.red:hover{

	/* border-right: solid 1px #5b595a;
	 border-left: solid 1px #5b595a;*/
}

.red-selected{

	background: #cc0001;

	border-right: solid 1px #5b595a;
	border-left: solid 1px #5b595a;

}
.red-selected>a{
	color:#fff !important;
}

.signIn {
	background-color: transparent;
	border: 1px solid #B2B1B1;
	padding: 5px !important;
	border-radius: 5px;
	margin-top: 5px;
	width: 72px;
	text-align: center;
	margin-left: 12px;
	cursor:pointer;
}

