*{
    margin: 0 auto;
    padding: 0;
    outline: none;
}

body {
	width: 100%;
	background-color: #000;
	font-family: Tahoma, Helvetica, Arial, sans-serif;
	color: #C0C0C0;
	font-size:12px;
}

a { color:#FFFF00;}

h1 {
font-size: 18px; font-weight:bold; color:#FEB691; text-align: left; margin: 0px;
}

#header{
    background: url("img/top_bg.png") repeat-x;
}

#head{
    width: 1015px;
}

#top {
    position: relative;
    clear: both;
    height: 51px;
}

#search{
    padding-top: 13px;
    position: absolute;
    left: 0;
}

#search p{
    font-weight: bold;
    font-size:16px;
    display: inline-block;
}

#search_input {
    display: inline-block;
    line-height: 22px;
    vertical-align: top;
    padding: 0 0 0 10px;
}

#search input[type="text"]{
    border: none;
    display: inline-block;
    outline: none;
    background: url("img/search.png") no-repeat right top;
    width: 203px;
    height: 22px;
    color: #a0a0a0;
    padding: 0 10px;
}

#search input[type="button"]{
    width: 27px;
    height: 22px;
    display: inline-block;
    background: url("img/search_btn.png") no-repeat left 1px;
    border: none;
    display: inline-block;
    margin: 0 0 0 -7px;
    cursor:pointer;
}

#lang{
    float: right;
    position: relative;
    padding: 5px 0 0 0;
}

#lang p{
    font-weight: bold;
    font-family: Arial, sans-serif;
    font-size: 13px;
    color: #a0a0a0;
    display: block;
    float: left;
    padding: 11px 15px 0 0;
}

#lang ul {
    display: block;
    float: left;
    padding: 0 5px 0 0;
}

#lang li{
    display: inline-block;
    padding: 0 5px 0 0;
}

.flag{
    height: 40px;
    font-size: 11px;
    text-align: center;
    text-decoration: none;
    color: #979797;
    font-family: Tahoma, sans-serif;
}

.flag span {
    background: url(img/en.png) no-repeat;
    background-position: 0 0;
    height: 26px;
    width: 32px;
    display: block;
}

#de span {
    background: url(img/de.png) no-repeat;
}


#de:hover span {
    background-position: 0 -26px;
}

#fr span {
    background: url(img/fr.png) no-repeat;
}

#fr:hover span {
    background-position: 0 -26px;
}

#it span {
    background: url(img/it.png) no-repeat;
}


#it:hover span {
    background-position: 0 -26px;
}

#sp span {
    background: url(img/sp.png) no-repeat;
}

#sp:hover span {
    background-position: 0 -26px;
}

#ru span {
    background: url(img/ru.png) no-repeat;
}

#ru:hover span {
    background-position: 0 -26px;
}

.flag:hover{
    color: #ffffff;
}

.flag:hover span {
    background-position: 0 -25px;
}

.flag2{
    height: 40px;
    font-size: 11px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    font-family: Tahoma, sans-serif;
    cursor: default;
}



.flag2 span {
    background: url(img/en.png) no-repeat;
    background-position: 0 0;
    height: 26px;
    width: 32px;
    display: block;
}

#en2 span {
    background: url(img/en.png) no-repeat;
    background-position: 0 -25px;
}

#de2 span {
    background: url(img/de.png) no-repeat;
    background-position: 0 -26px;
}

#fr2 span {
    background: url(img/fr.png) no-repeat;
    background-position: 0 -26px;
}

#it2 span {
    background: url(img/it.png) no-repeat;
    background-position: 0 -26px;
}

#sp2 span {
    background: url(img/sp.png) no-repeat;
    background-position: 0 -26px;
}

#nav{
    height: 249px;
    background: url("/1/img/head.png") no-repeat;
}

#logo_small {
	width:1014px;
	height:158px;
	margin:auto;
	padding-bottom:5px;
}

#leaderboard {
	width:1005px;
	height:90px;
	margin:auto;
	padding-bottom:5px;
	overflow:hidden;
}

#searchbar {	width:1014px;	margin:auto;	padding-bottom:5px;	}
#searchbar a {	font-size: 30px;font-family: Tahoma, sans-serif;font-weight: bold;}
#searchbar a:hover {	color:#DE4C68;}

/* content */

#wrap {
	/* background-image:url(/img/babes.jpg); */
	background-position:top;
	background-repeat:no-repeat;
}

#content {
	width:1000px;
	background-color:#3F2B25;
	margin:auto;
	border:solid 1px #67453C;
	padding:4px;
}

.content {
    margin:auto;
}

.content__style {
    background-color:#3F2B25;
    border:solid 1px #67453C;
    padding:4px; 
}


#date {
	font-size:18px;
	color:#FEB690;
	float:left;
}

small {
	font-size:14px;
	color:#DE4C68;
}

#button {
	float:left;
	padding-left:10px;
}

/*#first {
	float:left;
	margin-right:17px;
	width:670px;
}*/

.first {
    margin-right: 317px;
}

.first_wrapper {
    width: 100%;
    float: left;
}

#alt_desc {
	border:dotted 1px #67453C;
	padding:5px;
	margin-bottom:5px;
}

#player {}

.wrapfixmin {
    min-width: 1097px; 
}

.wrapfix {
    min-width: 1097px;
    max-width: 1247px;
    margin: auto;
}

.wrapfix_player {
    margin-bottom: 15px;
}

.wrapfix__padding {
    margin-left: 50px;
    margin-right: 50px;  
}

#underplayer {padding:5px;}

#info {
	border:dotted 1px #67453C;
	margin-top:5px;
	padding:5px;
	font-size:12px;
}

#second {
	float:left;
}

.second {
    float:left;
    width: 300px;
    margin-left: -300px;    
}
#banner300x250 {
	margin-bottom:10px;
}

#banner300x250last {
}

#banner300x125 {
}


/* menu */

#menu ul.menu ul{display:none}
#menu ul.menu li:hover>ul{display:block}
#menu ul.menu ul{position: absolute;right:-1px;top:98%;}
#menu ul.menu ul ul{position: absolute;right:98%;top:-2px;}
#menu ul.menu,ul.menu ul {
	margin:0px;
	list-style:none;
	padding:0px 1px 1px 0px;
	background-color:#3F2B25;
	background-repeat:repeat;
	border-color:#67453C;
	border-width:0px;
	border-style:solid;
}
#menu ul.menu table {border-collapse:collapse}ul.menu {
	display:block;
	zoom:1;
	float: right;
}
#menu ul.menu ul{
	width:120px;
}
#menu ul.menu li{
	display:block;
	margin:0px 0px 0px 0px;
	font-size:0px;
}

#menu ul.drop li{
	display:block;
	margin:1px 1px 1px 1px;
	font-size:0px;
	border-color:#67453C;
	border-width:1px;
	border-style:dotted;
}

#menu ul.menu a:active, ul.menu a:focus {
outline-style:none;
}
#menu ul.menu a, ul.menu li.dis a:hover, ul.menu li.sep a:hover {
	display:block;
	vertical-align:middle;
	background-color:#3F2B25;
	border-width:0px;
	border-color:#67453C;
	border-style:solid;
	text-align:left;
	text-decoration:none;
	padding:5px;
	_padding-left:0;
	font:16px Verdana;
	color: #FEB691;
	text-decoration:none;
	cursor:pointer;
}
#menu ul.menu span{
	overflow:hidden;
}
#menu ul.menu li {
	float:left;
}
#menu ul.menu ul li {
	float:none;
}

#menu ul.menu li:hover{
	position:relative;
}

/* thumbs (max 90 letters) */

#vids {
	width:100%;
}

#vids td {
	vertical-align:top;
	text-align:center;
	border:dotted 1px #67453C;
	width:242px;
	padding:2px;	
}

#vids a {
	color:#FEB690;
	text-decoration:none;
	font-size:16px;
}

#vids a:active {
	color:#FEB690;
	text-decoration:none;
	font-size:16px;
}

#vids a:visited {
	color:#FEB690;
	text-decoration:none;
	font-size:16px;
}


#vids a:hover {
	color:#FEB690;
	text-decoration:none;
	font-size:16px;
}

.vids td {
    width: 25%;
}

.vids td img {
    width: 100%;
    height: auto;
}

/* Pagination */

#navi {
	width:1000px;
	background-color:#3F2B25;
	margin:auto;
	border:solid 1px #67453C;
	padding:4px;
	text-align:center;
}

#back {
	width:1000px;
	background-color:#3F2B25;
	margin:auto;
	border:solid 1px #67453C;
	padding:4px;
	text-align:center;
}

#back a {
	color:#FEB690;
	text-decoration:none;
	font-size:18px;
}

#back a:active {
	color:#FEB690;
	text-decoration:none;
	font-size:18px;
}

#back a:visited {
	color:#FEB690;
	text-decoration:none;
	font-size:18px;
}


#back a:hover {
	color:#FEB690;
	text-decoration:none;
	font-size:18px;
}

.pagination {
    padding: 3px;
    margin: 3px;
  }
  .pagination a {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #FEB691; 
    text-decoration: none;
    color: #FEB691;
  }
  .pagination a:hover, .pagination a:active {
    border: 1px solid #DE4C68;
  }
  .pagination em {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    font-weight: bold;
    font-style: normal;
    background-color: #FEB691;
    color: #000;
  }
  .pagination span.current {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    font-weight: bold;
    background-color: #FEB691;
    color: #000;
  }
  .pagination span.disabled {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #eee;
    color: #ddd;
  }
 
#categories {width:1000px;background-color:#3F2B25;margin:auto;border:solid 1px #67453C;padding:4px;text-align:center;}
#cats {width:100%;}
#cats td {text-align:center;font-size:12px;color:#CCC;border:dotted 1px #67453C;width:25%;padding:5px;}
#cats a {color:#FEB690;text-decoration:none;font-size:16px;}
#cats a:active {color:#FEB690;text-decoration:none;font-size:16px;}
#cats a:visited {color:#FEB690;text-decoration:none;font-size:16px;}
#cats a:hover {color:#FEB690;text-decoration:none;font-size:16px;}
#title {font-size:18px;color:#FEB690;text-align:left;}
#tags {width:1000px;background-color:#3F2B25;margin:auto;border:solid 1px #67453C;padding:4px;}
.column {float:left;border:dotted 1px #67453C;padding:2px;margin:2px;width:190px;}
.column a{font-size:14px;color:#FEB690;text-decoration:none;}
.column a:active {font-size:14px;color:#FEB690;text-decoration:none;}
.column a:visited {font-size:14px;color:#FEB690;text-decoration:none;}
.column a:hover {font-size:14px;color:#FEB690;text-decoration:none;}
#etc {margin:auto;width:1000px;text-align:center;}
.share42init {margin-top:5px;}
#pt span {background: url(/img/pt.png) no-repeat;}
#pt:hover span {background-position: 0 -26px;}
#feedback a {text-decoration: underline;cursor: pointer;}
#feedback-cover {background:none repeat scroll 0 0 #444;bottom:0;color:#FFFFFF;height:100%;left:0;opacity:0.85;filter: alpha(opacity=85);position:fixed;right:0;top:0;width:100%;z-index:10000; display:none;}
#feedback-dialog {margin-top:107px; position:fixed; width:100%; z-index:11105; display:none; }
#feedback-holder {width: 700px; height: 500px; margin: 0px auto; background-color: #3F2B25;}
#feedback-content {width: 100%; height: 100%; margin: 5px; padding: 20px;}
#feedback-content p {margin-bottom: 10px; }
#feedback-content p.error {font-weight:bold; color: red; display:none;}
#feedback-content p textarea {width:600px; margin-left: 20px; margin-right: 20px; height: 160px;}
#feedback-content p button {padding: 10px 40px 10px 40px;}
#feedback-content p button.left {float:left; margin-left: 50px;}
#feedback-content p button.right {float:right; margin-right: 90px;}
.text-center {text-align: center;}
#searchbar table {width:100%;}
#searchbar td {background-color: #414141;font-family: Impact;text-align:center;font-size:22px;border:dotted 1px #636363;padding:5px;}
#searchbar a {color:#fefefe;text-decoration:none;}
#cookie_message {height: 20px;width: 100%;position: fixed;bottom: 0;text-align: center;background: rgba(0, 0, 0, 0.5);color: white;font-size: 11px;z-index: 1000;line-height: 20px;font-family: sans-serif;}
.alertcover  {background:none repeat scroll 0 0 #000;bottom:0;color:#000000;height:100%;left:0;opacity:0.90;filter: alpha(opacity=90);position:fixed;right:0;top:0;right:0;height:100vh;bottom:0;z-index:10000;}
.alertBoxBlock{ margin-top:107px; position:fixed; width:100%; z-index:11105; text-align: center;}
#disclaimer-content{ width:700px; height:445px; border:4px solid #ccc; background:url("http://cdn-z1.perfectgirls.net/thumbs/pg/18_plus_icon.jpg") 50% 50px no-repeat #fff; margin:0 auto; text-align: center;}
#disclaimer-txt{ font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000; margin-top:220px; padding:0px 30px;}
.button-sortir{}
.button-entrer{}
.buttons{ text-align:center; margin-top:50px;}
.buttons a{ font-size:30px; color:#900; text-decoration:none; text-transform:uppercase;}
.buttons a:active { font-size:30px; color:#900; text-decoration:none; text-transform:uppercase;}
.buttons a:visited { font-size:30px; color:#900; text-decoration:none; text-transform:uppercase;}
.buttons a:hover { font-size:30px; color:#900; text-decoration:none; text-transform:uppercase;}
.button-entrer{ margin-right:50px;}
