#victoria-secret{display:none;text-align:center;width:100%;height:10%;min-height:100px;margin:auto;}

#queen-command{width:100%;margin:0;padding:0;background:none!important;border-top:1px solid #e8e8e8!important;}
#crown{background:#fff;border-bottom:none!important;height:52px;display:block;0000overflow:hidden!important;font-size:1.1em;000font-weight:bold;padding:0;
-webkit-box-shadow:0 5px 5px 0 rgba(0,0,0,0.05);-moz-box-shadow:0 5px 5px 0 rgba(0,0,0,0.05);box-shadow:0 5px 5px 0 rgba(0,0,0,0.05);
/* -webkit-box-shadow:inset 0 0 10px #e4e4e4;-moz-box-shadow:inset 0 0 6px #e4e4e4;box-shadow:inset 0 0 6px #e4e4e4; */}
#crown .obese .jewel li a{padding-right:1em!important;}

.brand-global #crown .obese .jewel li a{padding-right:0.9em!important;}

@media (min-width:768px) and (max-width:1020px){
#crown{font-size:1em;}
#crown .obese .jewel li a{padding-top:1.1em;padding-right:0.5em!important;}
.brand-global #crown .obese .jewel li a{padding-right:0.4em!important;padding-left:0.4em!important;}
}

.page-realtime .crown .obese .jewel-realtime a{color:#a50034;}

.obese{display:block;}
.lean,.anorexic,#queen-command .royal-hat{display:none;}

#queen-command .anorexic{display:none;}
#queen-command .obese{width:990px;margin:auto;}
#queen-command .obese li a{color:#000;padding:0.9em 0.7em;}

#queen-command .royal-hat{width:55px;height:52px;margin:0;padding:0;border:none;float:left;display:none;background:#a50034;}
.brand-sg #queen-command .royal-hat{
/* Permalink - use to edit and share this gradient:http://colorzilla.com/gradient-editor/#a50034+0,a50034+33,fd1339+33,fd1339+66,0198de+66 */
background:-moz-linear-gradient(top,  #a50034 0%, #a50034 33%, #fd1339 33%, #fd1339 66%, #0198de 66%); /* FF3.6-15 */
background:-webkit-linear-gradient(top,  #a50034 0%,#a50034 33%,#fd1339 33%,#fd1339 66%,#0198de 66%); /* Chrome10-25,Safari5.1-6 */
background:linear-gradient(to bottom,  #a50034 0%,#a50034 33%,#fd1339 33%,#fd1339 66%,#0198de 66%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#a50034', endColorstr='#0198de',GradientType=0 ); /* IE6-9 */}

#queen-command .royal-hat img{width:100%;padding:0.4em;}
.brand-sg  #queen-command .royal-hat img{width:100%;height:100%;padding:0;}

#queen-command.affix-top{border:none;top:0;}
#queen-command.affix{border:none;background:#fff;position:fixed;top:0;z-index:10000;transition:all .6s ease-in-out;-webkit-transition:all .6s ease-in-out;-moz-transition:all .6s ease-in-out;-ms-transition:all .6s ease-in-out;}
#queen-command.affix #crown{background:#fff;-webkit-box-shadow:0 0 30px 0 rgba(0,0,0,0.2);-moz-box-shadow:0 0 30px 0 rgba(0,0,0,0.2);box-shadow:0 0 30px 0 rgba(0,0,0,0.2);}
#queen-command.affix .royal-hat{display:block;}
#queen-command.affix .jewel a{color:#000;padding:0.9em 0.7em;}
#queen-command.affix .sherlock-holmes{display:none;}

#queen-command.affix .seamstress{position:absolute;top:0;right:1em;display:block;z-index:10000;}
#crown .seamstress{margin-top:0.45em;}
.seamstress{float:right;}

@media (min-width:200px) and (max-width:767px){
#queen-command.affix .seamstress{right:3em;}
}

.navbar-toggle{margin:0.3em 0.6em!important;}
.navbar-toggle:hover,.navbar-toggle:focus{background:none!important;}
.obese .dropdown:hover .dropdown-menu{display:block;border-top:3px solid #a50034;}
.navbar-nav.jewel li:nth-child(1){font-weight:bold;}

.navbar-nav > li > .dropdown-menu{border:none;white-space:nowrap;padding:0;margin:0;border-radius:0;-moz-border-radius:0;-khtml-border-radius:0;-webkit-border-radius:0;}
.navbar-nav > li > .dropdown-menu li{display:block;float:none;padding:0!important;margin:0!important;}
#crown .obese .jewel .dropdown-menu li a{padding:0.6em 1.2em!important;font-weight:normal;}

@media (min-width:200px) and (max-width:990px){
#queen-command .obese{width:100%;}
.brand-global #queen-command.affix .jewel{font-size:0.9em;}
}

@media (min-width:768px) and (max-width:2000px){
.obese{display:block;}
.lean,.anorexic,#queen-command .royal-hat,#queen-command.affix-top .anorexic,#queen-command #tiny-waist.anorexic{display:none;}
#queen-command.affix .jewel{font-weight:normal;font-size:1em;float:none;text-align:center;}
#queen-command.affix .jewel li{margin:0 auto;0000float:none;display:inline-block;}
#queen-command.affix .jewel li > .dropdown-menu{padding:1em;}
#queen-command.affix .jewel li > .dropdown-menu li{display:block;}
#queen-command.affix .jewel li > .dropdown-menu li a{color:#666;}
.brand-sg #queen-command .obese li a{padding:0.9em 1.2em;}
}

@media (min-width:768px) and (max-width:1000px){
.brand-sg #queen-command .obese li a{padding:1em 1em;}
}

@media (min-width:200px) and (max-width:767px){
.obese,.lean,#queen-command .royal-hat{display:none!important;}
.anorexic{display:block!important;}
#queen-command.affix-top{min-height:0;}
#queen-command.affix-top #crown{display:none!important;}
#queen-command.affix #crown,#queen-command.affix .anorexic .royal-hat{display:block!important;}

.navbar-toggle{position:fixed;background:none;color:#a50034;border:none;padding:0;margin:0;top:0.5em;right:0.8em;text-align:center;border-radius:0;-moz-border-radius:0;-khtml-border-radius:0;-webkit-border-radius:0;}
.navbar-toggle:hover{background:none!important;}
.navbar-toggle .kate-demand{transition:all 0.4s ease 0s;line-height:0.3em;vertical-align:top;font-size:1.6em;font-weight:bold;}
.navbar-toggle i{background-color:#fff;display:block;height:2px;margin-top:5px;width:20px;}
#queen-command.affix .navbar-toggle{position:absolute;}
#queen-command.affix .navbar-toggle i{background-color:#000;}

.brand-premium #crown .anorexic::after,#premium-head h2::after{width:100%;height:6px;content:'';display:block;position:absolute;bottom:-6px;
/* Permalink - use to edit and share this gradient:http://colorzilla.com/gradient-editor/#e2526c+0,e2526c+24,ffffff+24,ffffff+25,ffc36c+25,ffc36c+50,ffffff+50,ffffff+51,6dc8c8+51,6dc8c8+75,ffffff+75,ffffff+76,56c0ec+76 */
background:#e2526c; /* Old browsers */
background:-moz-linear-gradient(left,  #e2526c 0%, #e2526c 24.6%, #ffffff 24.6%, #ffffff 25%, #ffc36c 25%, #ffc36c 50.6%, #ffffff 50.6%, #ffffff 51%, #6dc8c8 51%, #6dc8c8 75.6%, #ffffff 75.6%, #ffffff 76%, #56c0ec 76%); /* FF3.6-15 */
background:-webkit-linear-gradient(left,  #e2526c 0%,#e2526c 24.6%,#ffffff 24.6%,#ffffff 25%,#ffc36c 25%,#ffc36c 50.6%,#ffffff 50.6%,#ffffff 51%,#6dc8c8 51%,#6dc8c8 75.6%,#ffffff 75.6%,#ffffff 76%,#56c0ec 76%); /* Chrome10-25,Safari5.1-6 */
background:linear-gradient(to right,  #e2526c 0%,#e2526c 24.6%,#ffffff 24.6%,#ffffff 25%,#ffc36c 25%,#ffc36c 50.6%,#ffffff 50.6%,#ffffff 51%,#6dc8c8 51%,#6dc8c8 75.6%,#ffffff 75.6%,#ffffff 76%,#56c0ec 76%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2526c', endColorstr='#56c0ec',GradientType=1 ); /* IE6-9 */}


#premium-head h2::after{width:50%;bottom:0;margin:0 22%;}
#premium-head .btn-drop-list{margin-top:1em!important;}
}

.brand-premium #crown .obese .jewel li a{padding-left:0.8em!important;padding-right:0.8em!important;}

@media (min-width:768px) and (max-width:800px){
.brand-premium #crown .obese .jewel li a{font-size:0.9em;padding-left:0.65em!important;padding-right:0.65em!important;}
}

.brand-premium #crown .obese .navbar-nav.jewel li{margin-right:1px;}
.brand-premium #crown .obese .navbar-nav.jewel li a{height:52px;background:#eee;}
.brand-premium #crown .obese .navbar-nav.jewel li.jewel-premium-news-sg a,.brand-premium #crown .obese .navbar-nav.jewel li.jewel-premium-news-china a,.brand-premium #crown .obese .navbar-nav.jewel li.jewel-premium-news-world a,.brand-premium #crown .obese .navbar-nav.jewel li.jewel-premium-news-sea a{background:#e2526c;color:#fff;}
.brand-premium #crown .obese .navbar-nav.jewel li.jewel-premium-finance a{background:#ffc36c;color:#fff;}
.brand-premium #crown .obese .navbar-nav.jewel li.jewel-premium-sports a{background:#6dc8c8;color:#fff;}
.brand-premium #crown .obese .navbar-nav.jewel li.jewel-premium-forum a{background:#56c0ec;color:#fff;}
.brand-premium #crown .obese .navbar-nav.jewel li.jewel-premium-zbnow a{background:#7f7f7f;color:#fff;}
.brand-premium #crown .obese .navbar-nav.jewel li.jewel-premium-entertainment a{background:#b481d1;color:#fff;}

#brand{background:#fff;}
header{margin:0;padding:0;clear:both;display:block;}
header #zone{padding:0 1em;height:54px;width:100%;overflow:hidden;background:#a50034;background:-webkit-linear-gradient(45deg,#87002a,#a50034,#d61753);background:-prefix-linear-gradient(45deg,#87002a,#a50034,#d61753);background:linear-gradient(45deg,#87002a,#a50034,#d61753);}
header #zone a{color:#fff;}
header #zone .row{width:990px;margin:auto;padding:0;}
header ul,header li{padding:0;margin:0;list-style-type:none;text-align:center;}
header li{display:inline-block;}

header #zone .user-login{text-align:left;color:#fff;vertical-align:middle;}
header #zone .user-login a,header #zone .user-zone a{padding:1.2em 1em;display:inline-block;position:relative;z-index:100;}
header #zone .user-login a:hover{background:#fff;color:#87002a;}
header #zone .user-login a{vertical-align:middle;}
header #zone #login-info .loginid{display:inline-block;width:50%;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}

header #zone .user-zone li a::before{content:'';position:absolute;border-style:solid;border-color:#f7f7f7 transparent;display:block;width:0;z-index:1;transition:.2s ease;-webkit-transition:.2s ease;-moz-transition:.2s ease;-ms-transition:.2s ease;border-width:0 10px 10px 10px;bottom:-10px;margin-left:0.8em;}
header #zone .user-zone li:nth-child(2) a::before{margin-left:1.2em;}
header #zone .user-zone li a:hover:before{bottom:0;}
header #zone .user-zone li.active a::before{border-width:10px 10px 0 10px;top:0;}

header #zone .zaobao-social{margin:0.6em 0 0 0;padding:0;}
header #zone .zaobao-social ul{text-align:right;margin-right:1em;float:right;}
header #zone .zaobao-social li{padding:0 0.2em;vertical-align:top;width:auto;}
header #zone .zaobao-social a{background:transparent;border-radius:1px;box-shadow:0 0 0 1px rgba(255,255,255,0.5);padding-top:0.4em;width:30px;height:30px;border-radius:50%;-moz-border-radius:50%;-khtml-border-radius:50%;-webkit-border-radius:50%;}
#social-channels a:hover{border-color:transparent;color:#fff;border-radius:0;border:none!important;box-shadow:none!important;}
#social-channels .fa-facebook:hover{background:#3b5998;}  #social-channels .fa-facebook{padding-top:0.44em!important;}
#social-channels .fa-twitter:hover{background:#55acee;}
#social-channels .fa-instagram:hover{background:#000;}
#social-channels .fa-weibo:hover{background:#e6162d;}
#social-channels .fa-wechat:hover{background:#7bb32e;}  #social-channels .fa-wechat{font-size:0.9em;padding-top:0.5em!important;}
#social-channels .fa-envelope:hover{background:#999;}  #social-channels .fa-envelope{font-size:0.9em;}
#social-channels .wildcard{padding-top:0.35em!important;}

.sherlock-holmes{float:right;margin:0.75em 1em 0 0;font-size:1.2em;letter-spacing:0;}
.sherlock-holmes a{color:#ababab;margin:0 0 0 0.5em;vertical-align:top;font-weight:normal!important;}
.sherlock-holmes a:hover{color:#a50034;}
.sherlock-holmes a.app{color:#a50034;animation:bounce 2s;animation-duration:1s;animation-delay:3s;}
.sherlock-holmes a.wildcard{font-weight:bold!important;font-size:0.85em;padding-top:0.1em;}
.sherlock-holmes .secret-link{font-size:0.7em;}
#social-channels.anorexic a.wildcard{padding-top:0.5em!important;}
.sherlock-holmes a.paparrazi{font-size:0.85em;margin-top:0.1em;}
#crown .anorexic a.paparrazi{background:none;color:#ccc;}



@media (min-width:700px) and (max-width:800px){
.sherlock-holmes{margin-top:1em;}
}

#thigh-gap{display:block!important;}

.navbar,.navbar-nav{margin:0!important;padding:0!important;border-radius:0;-moz-border-radius:0;-khtml-border-radius:0;-webkit-border-radius:0;background
:none;border-bottom:none!important;}
.navbar-collapse{padding:0!important;border:none!important;}

@media (min-width:200px) and (max-width:990px){
header{padding:0!important;text-align:center;}
header #zone .row{width:100%;}
.navbar-collapse #social-channels.obese{display:none!important;}
.navbar-default .navbar-collapse,.navbar-default .navbar-form{border:none;}
}

@media (min-width:200px) and (max-width:767px){
header{background:#fff;}
header #zone{background:#000!important;height:auto!important;padding-bottom:1em!important;min-height:600px;}
header #zone li{float:none;}
header #zone .user-login{text-align:center;border-bottom:1px solid #444;margin:0 auto 0.5em auto;}
header #zone .user-login a:hover{background:none;color:#fff!important;}

header #zone .user-zone{width:100%;display:block;margin:0.6em auto;text-align:center;float:none;font-size:0.9em;vertical-align:top;}
header #zone .user-zone ul{margin:auto;text-align:center;float:none;text-align:center!important;}
header #zone .user-zone li{margin:0.6em auto;padding:0 0.2em;vertical-align:top;}
header #zone .user-zone li a{width:80px;height:80px;padding:2.2em 0;color:#fff!important;border-radius:50%;-moz-border-radius:50%;-khtml-border-radius:50%;-webkit-border-radius:50%;background:#333;}
header #zone .user-zone li a:hover{background:#a50034;color:#fff!important;}
header #zone .user-zone li a::before{content:'';position:relative;border-style:solid;border:none;}
header #zone .user-zone li.active a,body.page-premium.front header #zone .user-zone li:nth-child(1) a,body.page-welcomecn header #zone .user-zone li:nth-child(2) a{background:#a50034;color:#fff!important;}

header #zone .user-zone .quickie-epaper a:hover{background:#fff!important;color:#000!important;}

.nice-dots{display:block;margin:0 auto;padding:0;text-align:center;}
.nice-dots span{display:inline-block;width:6px;height:6px;margin:0.1em;border-radius:50%;-moz-border-radius:50%;-khtml-border-radius:50%;-webkit-border-radius:50%;}
.nice-dots span.dot-zb{background:#a50034;animation:fadeOut 2s infinite;animation-delay:0;}
.nice-dots span.dot-sm{background:#ff1339;animation:fadeIn 1.5s infinite;animation-delay:0.5s;}
.nice-dots span.dot-wb{background:#009ae0;animation:fadeOut 2s infinite;animation-delay:1s;}

header #zone .zaobao-social{margin:0;padding:0.3em 0.5em 2em 0.5em!important;display:block!important;float:none;clear:both;border-top:1px solid #222;white-space:nowrap;}
header #zone .zaobao-social ul{text-align:center;margin:0 auto!important;padding:0.6em 0!important;float:left;display:inline-block;width:auto;}
header #zone .zaobao-social a{color:#828282!important;background:#444;border:none!important;box-shadow:none!important;}
header #zone .zaobao-social a:hover{color:#fff!important;}
header #zone .zaobao-social ul.obese{float:left;}
header #zone .zaobao-social ul.anorexic{float:right;}

.navbar-default{background:none;position:absolute;top:0;left:0;margin:0;border:none;border-radius:0;-moz-border-radius:0;-khtml-border-radius:0;-webkit-border-radius:0;z-index:10001;}

.navbar-collapse a{color:#ababab!important;}
.navbar-collapse.in{overflow-y:initial;height:auto;}
.navbar-collapse.in #social-channels.obese{display:block!important;}

.navbar-collapse{width:100%;position:fixed;margin:50px 0 0 0;text-align:center;}
.navbar-collapse ul{width:100%;margin:0;padding:0;text-align:center;}
.navbar-collapse ul li{display:inline-block;margin:0;padding:0;clear:none;float:left;}
.navbar-collapse ul li a{margin:0;padding:0;}
}

@media (min-width:601px) and (max-width:990px){
header #zone .user-login a,header #zone .user-zone a{padding:1.2em 0.6em;}
header #zone .user-zone ul{text-align:right;}
}

@media (min-width:200px) and (max-width:900px){
header #social-channels.anorexic{display:none!important;}
.front header #social-channels.anorexic{height:42px;display:block!important;font-size:1.4em;margin:0 auto;padding:0;left:0;overflow:hidden;bottom:0;position:fixed!important;width:100%;background:#fff;z-index:1000000;
-moz-box-shadow:0 0 30px rgba(0,0,0,.1);-webkit-box-shadow:0 0 30px rgba(0,0,0,.1);box-shadow:0 0 30px rgba(0,0,0,.1);}
header #social-channels.anorexic ul{text-align:center;width:100%;margin:auto;}
header #social-channels.anorexic li{margin:0;padding:0;border-right:1px solid #eee;}
header #social-channels.anorexic li.last{border:none;}
header #social-channels.anorexic a{background:none;color:#ABABAB;padding:0.5em 0 0 0!important;width:100%!important;height:42px;border-radius:0;-moz-border-radius:0;-khtml-border-radius:0;-webkit-border-radius:0;}
header #social-channels.anorexic a:hover{color:#fff;}
header #social-channels.anorexic a.wildcard{font-size:1em;}
header #social-channels.anorexic a.paparrazi{font-size:0.9em;font-weight:normal!important;}
header #social-channels.anorexic a.wildcard,header #social-channels.anorexic a.app,header #social-channels.anorexic a.paparrazi{background:#eee;}
header #social-channels.anorexic a.wildcard:hover,header #social-channels.anorexic a.app:hover,header #social-channels.anorexic a.paparrazi:hover{background:#a50034;}
}

@media (min-width:200px) and (max-width:767px){
.jewel{width:80%;font-weight:normal;float:none;margin:auto;position:absolute;left:10%;font-size:0.9em;}
.jewel li{display:inline-block;margin:0;padding:0;height:50px;vertical-align:middle;border-right:1px solid #eee;}
.jewel li:nth-child(4){border:none;}
.jewel li a{padding:1em 0.6em;margin:0;}
.jewel li a:hover{color:#000!important;}
.jewel.anorexic{width:100%!important;margin:0 auto!important;padding:0!important;position:relative;left:0;font-size:1em;border-bottom:1px solid #444;border-top:1px solid #444;float:left;}
.jewel.anorexic ul{width:100%!important;margin:0 auto!important;padding:0!important;}
.jewel.anorexic li{height:auto;padding:0!important;margin:0!important;border:none;display:inline-block!important;float:left!important;}
.jewel.anorexic li a{padding:1em 0!important;margin:0 -1px -1px -1px!important;display:block;border:none;color:#fff!important;}
.jewel.anorexic li a:hover{color:#fff!important;background:#a50034;}

.backyard.anorexic{width:100%;margin:1em 0;padding:0;position:relative;display:block;float:left;font-size:0.9em;}
.backyard.anorexic li{height:auto;padding:0!important;margin:0!important;border:none;display:inline-block!important;float:left!important;}
.backyard.anorexic li a{color:#666!important;padding:0.6em 0!important;margin:0!important;display:block;}
.backyard.anorexic li a:hover{color:#fff!important;}
}

@media (min-width:500px) and (max-width:767px){
.jewel li a{padding:0.9em;}
}


@media (min-width:200px) and (max-width:500px){
.navbar-collapse{margin:50px 0 0 0;}
}

#zaobao-id{width:990px;margin:auto;text-align:center;}
#zaobao-id #zaobao-brand,#zaobao-id #leaderboard{display:inline-block;clear:none;}
#zaobao-id #zaobao-brand{margin:2.3em 1em;width:190px;}
.brand-sg #zaobao-id #zaobao-brand{margin:1.5em 1em 1em 0;width:220px;}
#zaobao-id #zaobao-brand img{width:100%;}

#leaderboard{width:100%;margin:1em 0 0 1em;text-align:center;float:right;width:730px;z-index:100;}
#AdSpace{margin:0!important;padding:0!important;}
#imu{text-align:center;margin:1em auto;}

.bannerSpace{padding:1em 0;margin:2em auto!important;border-top:1px solid #828282;border-bottom:1px solid #828282;display:block;width:100%;text-align:center;}

body.front .bannerSpace{margin-bottom:0!important;}
.bannerSpace img{width:100%;}
.bannerSpace a:hover{color:#fff;}
.sidedish .bannerSpace img{margin:5px auto;width:300px;display:block;}
.sidedish .bannerSpace .banner-item{padding:0;}
 
@media (min-width:768px) and (max-width:1000px){
#leaderboard,#leaderboard img,#leaderboard object,#leaderboard iframe{width:auto;max-width:100%;float:none;margin:0 auto;padding:0;}
#leaderboard{margin:0 0 1em 0!important;display:block;}
#AdSpace{margin:0 0 1em 0!important;}
}


@media (min-width:200px) and (max-width:767px){
#leaderboard,#leaderboard img,#leaderboard object,#leaderboard iframe{width:100%;}
#leaderboard{border:none;margin:0!important;padding:0!important;float:none;clear:both;}
#imu{margin:1em auto!important;padding:1em 0;border-top:1px solid #828282;border-bottom:1px solid #828282;}
.bannerSpace a,.bannerSpace a img{margin-bottom:1em;}
}

@media (min-width:768px) and (max-width:900px){
.bannerSpace img{width:100%;}
}

@media (min-width:200px) and (max-width:767px){
#leaderboard{padding:10px 0!important;margin:0!important;}
}

@media (min-width:200px) and (max-width:500px){
.bannerSpace img{width:100%;}
}

@media (min-width:200px) and (max-width:990px){
#zaobao-id{width:100%;}
#zaobao-id #zaobao-brand{margin:1em 1em 0 1em;}
}

@media (min-width:600px) and (max-width:990px){
#zaobao-id #zaobao-brand{margin:1em;}
.brand-sg #zaobao-id #zaobao-brand{margin:1.5em auto 1em auto;width:260px;}
}

@media (min-width:200px) and (max-width:767px){
#zaobao-id{width:100%;padding:0!important;margin:0!important;}

#zaobao-id #zaobao-brand{display:block;width:100%;padding-top:0.1em;margin:0;-webkit-box-shadow:0 0 10px 0 rgba(0,0,0,0.1);-moz-box-shadow:0 0 10px 0 rgba(0,0,0,0.1);box-shadow:0 0 10px 0 rgba(0,0,0,0.1);background:#a50034;height:50px;}
.brand-sg #zaobao-id #zaobao-brand{width:100%;margin:0;background:-moz-linear-gradient(top, #a50034 0%, #d10042 72%, #d10042 100%);
background:-webkit-linear-gradient(top, #a50034 0%,#d10042 72%,#d10042 100%);
background:linear-gradient(to bottom, #a50034 0%,#d10042 72%,#d10042 100%);
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#a50034', endColorstr='#d10042',GradientType=0 );}
#zaobao-id #zaobao-brand img.obese{display:none;}
#zaobao-id #zaobao-brand img.anorexic{display:block;width:22%!important;margin:0.3em 1em;padding:0;}
}

@media (min-width:200px) and (max-width:500px){
#zaobao-id #zaobao-brand img.anorexic{width:34%!important;}
}

#Pearls,#breadcrumbs{font-family:Lato,"Hiragino Sans GB","冬青黑",Microsoft YaHei;font-size:0.9em;font-weight:normal;letter-spacing:0;}
#Pearls,#Pearls li{list-style-type:disc;}
#Pearls{display:none;width:100%;color:#a50034;padding:0 0 0.8em 0.5em;margin:0.5em 0 1em 0;clear:both;height:2.4em;border-bottom:1px dotted #828282;}
#Pearls li{float:left;padding:0.2em 0.6em 0.2em 0;margin:0 0.8em;}
#Pearls a{color:#828282;}
#Pearls a:hover{color:#a50034;}

#breadcrumbs{display:block;border-bottom:1px dotted #999;padding-bottom:0.5em;margin:1em 0;}
#breadcrumbs i{color:#a50034;margin:0 0.3em;}
#breadcrumbs a{color:#888;}
#breadcrumbs a.active{color:#a50034;}
.feature-sub-list #breadcrumbs,.static-page #breadcrumbs{display:none;}

@media (min-width:200px) and (max-width:767px){
#Pearls,#breadcrumbs{display:none;}
}


#search{position:fixed;z-index:100000;top:0;left:0;width:100%;height:100%;text-align:center;background-color:#fff;-webkit-transform:translate(0,-100%) scale(0, 0);-moz-transform:translate(0,-100%) scale(0, 0);-o-transform:translate(0,-100%) scale(0, 0);-ms-transform:translate(0,-100%) scale(0, 0);transform:translate(0,-100%) scale(0, 0);opacity:0;}
#search.open{padding-top:25%;margin:auto;-webkit-transform:translate(0,0) scale(1, 1);-moz-transform:translate(0,0) scale(1, 1);-o-transform:translate(0,0) scale(1, 1);-ms-transform:translate(0,0) scale(1, 1);transform:translate(0,0) scale(1, 1);opacity:1;}
#search form{width:100%;margin:auto;}
#search input,#search .btn{display:inline-block;vertical-align:top;border-radius:0!important;-moz-border-radius:0!important;-khtml-border-radius:0!important;-webkit-border-radius:0!important;}
#search input[type="search"]{width:85%;color:#a50034;background:none;font-size:2em;text-align:center;border:0;border-bottom:2px solid #eee;padding:0 0 0.2em 0;margin:0 auto;outline:none;}
#search .btn{background:none;color:#ababab;font-size:2em;padding:0;margin:0.6em auto;display:block;clear:both;}
#search .btn:hover{color:#333;}
#search .close{position:fixed;font-weight:normal;top:0;right:0;color:#828282;background:#eee;border:none;opacity:1;padding:0;width:60px;height:60px;font-weight:100;font-size:1.8em;text-shadow:none;}
#search .close:hover{color:#fff;background:#a50034;border-color:transparent;}

@media (min-width:768px) and (max-width:930px){
#search.open{padding-top:30%;}
#search form{width:90%;}
}
@media (min-width:200px) and (max-width:767px){
#search input[type="search"]{width:90%;font-size:1.4em;}
#search.open{padding-top:30%;}
#search .close{width:50px;height:50px;font-size:1.5em;}
}

@media (min-width:600px) and (max-width:1000px) and (orientation:landscape){
#search.open{padding-top:10%;}
}


/*
And so, the monkey learns by watching you.
~ Hui Cheng
*/