/**
 * @author: Huyen Dan Phan
 * @version 1.0.1
 */
/* Reset CSS */
    a {
        color: #555555;
    }
    a:hover {
        color: #FF974F;
    }
    :focus {
        outline: none !important;
    }
    body, p {
        font-size: 14px;
    }
    body {
        padding-top: 90px !important;
    }
/* End Reset CSS */
/* Redefine CSS */
    .float-left
    {
        float: left !important;
    }
    ._x-label {
        padding: 3px;
        color: #2499FF;
        border-radius: 5px;
        font-size: 11px;
        border: 1px solid;
    }
    ._x-label-primary {
        background: #0090FF;
        color: #FFF;
        border-color: #0090FF;
    }
    ._x-label-info {
        background: #aaa;
        color: #FFF;
        border-color: #aaa;
    }
    ._x-label-success {
        background: #43ac6a;
        /*background: #8CBA53;*/
        color: #fff;
        border-color: #43ac6a;
    }
    ._x-label-warning {
        background: #B15500;
        color: #FFF;
        border-color: #B15500;
    }
    ._x-label-danger {
        background: #C55D5D;
        color: #FFF;
        border-color: #C55D5D;
    }
    ._x-text-primary {
        color: #0090FF !important;
    }
    ._x-text-info {
        color: #aaa !important;
    }
    ._x-text-success {
        /*color: #43ac6a !important;*/
        color: #5d9617 !important;
    }
    ._x-text-warning {
        color: #B15500 !important;
    }
    ._x-text-danger {
        color: #C55D5D !important;
    }
    ._x-text-muted {
        color: #999999 !important;
    }
    ._x-text-base {
        color: #262626 !important;
    }
    ._x-text-base-flip {
        color: #E88B35 !important;
    }
    ._x-text-bold {
        font-weight: 600 !important;
    }
    ._x-text-center {
        text-align: center !important;
    }
    ._x-mh-600 {
        min-height: 600px !important;
    }
    ._x-pdr-0 {
        padding-right: 0 !important;
    }
    ._x-pdl-0 {
        padding-left: 0 !important;
    }
    ._x-mgr-0 {
        margin-right: 0 !important;
    }
    ._x-mgl-0 {
        margin-left: 0 !important;
    }
    ._x-mgt-0 {
        margin-top: 0 !important;
    }
    ._x-mgb-0 {
        margin-bottom: 0 !important;
    }
    ._x-pdr-index {
        padding-right: 0.9375rem !important;
    }
    ._x-mgb-10 {
        margin-bottom: 10px;
    }
    ._x-mgt-10 {
        margin-top: 10px;
    }
    ._x-pd-0 {
        padding: 0 !important;
    }
    ._x-pdr-9375 {
        padding-right: 0.9375rem !important;
    }
    ._x-pdb-9375 {
        padding-bottom: 0.9375rem !important;
    }
    ._x-t--4 {
        top: -4px;
    }
    ._x-bdt-none {
        border-top: none !important;
    }
    ._x-fz-12 {
        font-size: 12px !important;
    }
    ._x-is_used {
        color: #FFFFFF !important;
        font-size: 12px;
        /*border: 1px solid #B15500;*/
        padding: 1px 2px 0px 2px;
        background: #262626;
        border-radius: 2px;
    }
    .hidden {
        display: none !important;
    }
    .alert {
        padding: 8px !important;
        margin-top: 10px !important;
        margin-bottom: 10px !important;
        border: 1px solid transparent;
        border-radius: 4px;
    }
    .alert-success {
        /*color: #3c763d;
        background-color: #dff0d8;
        border-color: #d6e9c6;*/
        color: #fff;
        font-size: 15px;
        background-color: #81B441;
        padding: 5px !important;
        border-radius: 5px;
    }
    .alert-info {
        color: #31708f;
        background-color: #d9edf7;
        border-color: #bce8f1;
    }
    .alert-warning {
        color: #8a6d3b;
        background-color: #fcf8e3;
        border-color: #faebcc;
    }
    .alert-danger {
        color: #a94442;
        background-color: #f2dede;
        border-color: #ebccd1;
    }
    .vertical-align-baseline {
        vertical-align: baseline !important;
    }
    ._x-btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
._x-btn-info {
    background-color: #58c9f3;
    border-color: #58c9f3;
    color: #FFFFFF;
}

._x-btn-info:hover, ._x-btn-info:focus, ._x-btn-info:active, ._x-btn-info.active, .open .dropdown-toggle._x-btn-info {
    background-color: #53bee6;
    border-color: #53BEE6;
    color: #FFFFFF;
}
._x-btn-primary, ._x-btn-primary.disabled, ._x-btn-primary[disabled], ._x-btn-primary.disabled.active, ._x-btn-primary.active[disabled] {
    background-color: #41cac0;
    border-color: #41cac0;
    color: #FFFFFF;
}
._x-btn-primary:hover, ._x-btn-primary:focus, ._x-btn-primary:active, ._x-btn-primary.active, .open .dropdown-toggle._x-btn-primary, ._x-btn-primary.disabled, ._x-btn-primary[disabled], ._x-btn-primary.disabled.active, ._x-btn-primary.active[disabled] {
    background-color: #39b2a9;
    border-color: #39b2a9;
    color: #FFFFFF;
}
._x-btn-default {
    background-color: #bec3c7;
    border-color: #bec3c7;
    color: #fff;
}
._x-btn-default:hover, ._x-btn-default:focus, ._x-btn-default:active, ._x-btn-default.active, .open .dropdown-toggle._x-btn-default {
    background-color: #b0b5b9;
    border-color: #b0b5b9;
    color: #fff;
}
._x-btn-warning {
    background-color: #f1c500;
    border-color: #f1c500;
    color: #FFFFFF;
}
._x-btn-warning.active, ._x-btn-warning.focus, ._x-btn-warning:active, ._x-btn-warning:focus, ._x-btn-warning:hover, .open>.dropdown-toggle._x-btn-warning {
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512;
}
._x-btn-warning:hover, ._x-btn-warning:focus, ._x-btn-warning:active, ._x-btn-warning.active, .open .dropdown-toggle._x-btn-warning {
    background-color: #e4ba00;
    border-color: #e4ba00;
    color: #FFFFFF;
}
._x-btn-danger {
    background-color: #ff6c60;
    border-color: #ff6c60;
    color: #FFFFFF;
}
._x-btn-danger.active, ._x-btn-danger.focus, ._x-btn-danger:active, ._x-btn-danger:focus, ._x-btn-danger:hover, .open>.dropdown-toggle._x-btn-danger {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}
._x-btn-danger:hover, ._x-btn-danger:focus, ._x-btn-danger:active, ._x-btn-danger.active, .open .dropdown-toggle._x-btn-danger {
    background-color: #ec6459;
    border-color: #ec6459;
    color: #FFFFFF;
}
._x-btn-success {
    background-color: #78CD51;
    border-color: #78CD51;
    color: #FFFFFF;
}
._x-btn-success.active, ._x-btn-success.focus, ._x-btn-success:active, ._x-btn-success:focus, ._x-btn-success:hover, .open>.dropdown-toggle._x-btn-success {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}
._x-btn-success:hover, ._x-btn-success:focus, ._x-btn-success:active, ._x-btn-success.active, .open .dropdown-toggle.btn-success {
    background-color: #6dbb4a;
    border-color: #6dbb4a;
    color: #FFFFFF;
}

._x-btn-block {
    display: block;
    width: 100%;
}
.form-input.form-control {
    border: 1px solid #e2e2e4;
    box-shadow: none;
    color: #c2c2c2;
}
.form-input.form-control {
    color: #777 !important;
}
.form-input.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
span.cancel-model-text
{
    cursor: pointer;
}
    ._x-pdb-10 {
      padding-bottom: 10px;
    }
    ._x-flr {
        float: right;
    }
    ._x-mga {
        margin: 0 auto;
    }
    ._x-mgt-10 {
        margin-top: 10px !important;
    }
/* Redefine CSS */
/* ========================================================== */
/* Common CSS */
    .mb-car-breadcrumb ul {
        height: 36px !important;
    }
    .mb-car-breadcrumb ul li {
        padding-top: 9px;
        padding-bottom: 9px;
    }
    .mb-car-breadcrumb ul li, .mb-car-breadcrumb ul li a {
        color: #555;
        font-size: 13px;
        line-height: 18px;
    }
    .body-fixed {
        position: fixed !important;
        left: 0 !important;
        top: 0 !important;
        right: 0 !important;
    }
    div#comingSoonAlert {
        width: 200px;
        height: 100px;
        min-height: 100px;
        left: 50%;
        top: 50% !important;
        margin-left: -100px;
        margin-top: -50px;
        border-radius: 5px;
        border: none;
        text-align: center;
        padding: 10px;
        display: table !Important;
        color: #e88b35;
    }
    div#comingSoonAlert p {
        margin-bottom: 0;
    }
    div#comingSoonAlert > div {
        display: table-cell;
        vertical-align: middle;
    }
    div#comingSoonAlert.reveal-modal .close-reveal-modal {
        font-size: 1.5rem;
        top: 0;
        right: 10px;
    }
    section.main-section > div.dk-base-max-width > div.medium-5,
    section.main-section > div.dk-base-max-width > div.medium-5 > div.medium-8,
    section.main-section > div.dk-base-max-width > div.medium-5 > div.medium-4
    {
        padding-right: 0;
    }
/* ========================================================== */
/* Fixed header */
._x_fixed_header {
    /*padding-right: 6%;*/
    /*padding-left: 6%;*/
}
ul.title-area {
    width: 175px;
}
.header-logo {
    width: auto !important;
}
._x_hdr_b {
    position: fixed;
    top: 44px;
    left: 0;
    z-index: 98;
    width: 100%;
    background: #E88B35;
    transition: all 0.7s;
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.14),0 4px 8px rgba(0,0,0,0.28);
    -moz-box-shadow: 0 0 4px rgba(0,0,0,0.14),0 4px 8px rgba(0,0,0,0.28);
    box-shadow: 0 0 4px rgba(0,0,0,0.14),0 4px 8px rgba(0,0,0,0.28);
}
._x_hdr_b ul {
    list-style-type: none;
}
._x_hdr_b > ._x_fixed_header > ul.left > li, ._x_hdr_b > ._x_fixed_header > ul.left > li > a {
     background: none !important; 
}
._x_hdr_b > ._x_fixed_header > ul.left > li:hover, ._x_hdr_b > ._x_fixed_header > ul.left > li > a:hover {
     background: #262626 !important; 
}
ul.left.box_thongke {
    color: #fff;
    font-size: 12px;
    margin-top: 2px;
}
ul.left.box_thongke span {
    display: block !important;
    text-align: center;
}
a.back-home span {
    font-size: 18px;
}
.menu-category {
    width: 590px;
    overflow: hidden;
    position: absolute;
    display: none;
    box-shadow: 0px 0px 5px #999;
}
.menu-category ul.flex{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    background: #f8f8f8;
    padding: 20px 15px !important;
    /* background: white; */
}
.menu-category ul.flex li{
    width: 185px;
    padding-left:5px;
    background: #F8F8F8;
}
.menu-category ul.flex li a{
    background: #f8f8f8 !important;
    color: black;
    font-size: 14px;
    font-weight: 600;
}
.menu-category ul.flex li a:hover{
    color: #999 !important;
}
.menu-category ul.flex li a .nav-logo-menu img{
    margin-top: -3px;
    max-height: 100%;
}
.menu-category ul.flex li a .nav-logo-menu{
    display: inline-block;
    width: 30px;
    text-align: center;
    height: 20px;
}
.menu-category ul.flex li p{
    padding-left:20px;
    line-height: 1px;
    margin-bottom: 15px;
    color: #8E8E8E;
    font-size: 12px;
    background: #f8f8f8;
    padding-left: 0.9375rem;
}
.menu-category ul.column-menu > li {
    height: 39px;
    background: #f8f8f8;
    margin-top: 10px;
}
.menu-category ul.column-menu > li > a >.nav-logo-menu {
    display: inline-block;
    width: 32px;
    text-align: center;
    height: 20px;
}
.menu-category ul.column-menu > li > a >.nav-logo-menu > img.logo-menu {
    margin-top: -3px;
    max-height: 100%;
}
.menu-category ul.column-menu > li > a {
    margin-top: 4px;
    font-size: 15px;
    font-weight: 600;
}
.menu-category ul.column-menu > li > a:hover {
    color: #999 !important;
}
.menu-category ul.column-menu > li > p.menu-posts-count {
    margin-bottom: 15px;
    color: #8E8E8E;
    font-size: 12px;
    background: #f8f8f8;
    padding-left: 0.9375rem;
}
.top-bar-section ul.flex li:hover:not(.has-form) > a,.top-bar-section ul li.new-post:hover:not(.has-form) > a {
    color: #262626;
}
ul li.new-post.login-on-bar:hover:not(.has-form) > a {
    color: #fff;
}
ul.dropdown.single-dropdown-menu > li > a {
    background: #f8f8f8 !important;
    color: #262626 !important;
    font-weight: 600;
}
ul.dropdown.single-dropdown-menu > li > a {
    background: #eee !important;
}
/* End Fixed header */
/* ========================================================== */
/* End Common CSS */
/* ========================================================== */
/* Form Search */
    .mb-form-title {
        display: flex;
        width: 360px;
        padding-right: 1.875rem;
        padding-left: 1.875rem;
    }
    .form_search_thong_ke
    {
        float: right;
        width: 65%;
        text-align: right;
        font-size: 20px;
        line-height: 36px;
        color: #fff;
    }

    .form_search_thong_ke span
    {
        font-size: 30px;
        font-weight: bold;
        font-family: "Open Sans";
    }
    .mb-form-title > div.btn-search-form-main {
        flex: 1;
        padding: 10px;
        margin: 0;
        background: #363D41;
        color: #FFFFFF;
        border: none;
        border-right: 1px solid;
        border-color: #2b3134;
        font-size: 20px;
        text-align: center;
    }
    .mb-form-title > div.btn-search-form-main:hover {
        cursor: pointer;
    }
    .mb-form-title > div.btn-search-form-main.active {
        background: #e88b35;
        color: #FFFFFF;
    }
    .mb-form-title > div:last-child {
        border-right: none;
    }
    .ui-slider .ui-slider-handle {
        background: url('/wp-content/themes/xehoiviet/images/icons/indicator_y_fliped.png') no-repeat !important;
        border: none !important;
        background-size: contain !important;
        top: 6px !important;
        margin-left: -5px !important;
    }
    .ui-slider .ui-slider-handle:last-child {
        background: url('/wp-content/themes/xehoiviet/images/icons/indicator_y.png') no-repeat !important;
        border: none !important;
        background-size: contain !important;
        top: -17px !important;
        margin-left: -5px !important;
    }
    #slider-range.ui-slider > span.ui-slider-handle {
        width: 11px !important;
    }
    #slider-range.ui-slider > span.ui-slider-handle:hover {
        cursor: pointer;
    }
    #slider-range.ui-slider {
        height: 0.4em !important;
        border-radius: 5px !important;
    }
    .dk-car-form-search .dk-car-form-search-price {
         padding-top: 0px !important; 
    }
    .mb-select-col {
        margin-bottom: 15px !important;
    }
    button.dk-car-form-search-more {
        text-shadow: 1px 1px 2px black;
    }
/* End Form Search */

/* Index */
    /* _x101_ */
    .category-main-title {
        border-bottom: 1px solid #e88b35;
    }
    .category-main-title h1, .category-main-title h2, .category-main-title h3, .category-main-title > span {
        margin: 0;
        font-size: 16px;
        display: inline-block;
        padding: 2px 10px;
        background: #e88b35;
        color: #fff;
        text-transform: uppercase;
        position: relative;
        line-height: 22px;
        max-width: 560px;
        white-space: nowrap;
    }
    #the-big-garage .category-main-title > span{
        background: #fff;
        color: #666;
    }
    .category-main-title h1:after, .category-main-title h2:after, .category-main-title h3:after, .category-main-title > span:after {
        content: ' ';
        position: absolute;
        top: 0px;
        right: -26px;
        margin-left: 10px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 26px 0 0 26px;
        border-color: transparent transparent transparent #e88b35;
    }

    #the-big-garage .category-main-title > span:after{
        border-color: transparent transparent transparent #fff;
    }

    #the-big-garage .category-main-title h2.list_car:after, #the-big-garage .category-main-title span.list_car:after, #the-big-garage .category-main-title h3.list_car:after
    {
      display: none;
    }

    .category-main-title h2.list_car:last-child:after, .category-main-title span.list_car:last-child:after, .category-main-title h3.list_car:last-child:after,
    .category-main-title h2.list_car:only-child:after, .category-main-title span.list_car:only-child:after, .category-main-title h3.list_car:only-child:after
    {
      display: inline-block;
    }
    
    .category-main-title h2.list_car, .category-main-title span.list_car, .category-main-title h1.list_car, .category-main-title h3.list_car
    {
        float: left;
    }

    #btn_tab_save_post, #btn_tab_recent_post, #btn_tab_meta, #btn_tab_support, #btn_tab_info
    {
        cursor: pointer;
    }

    

    #tab_meta a, #tab_support a, #tab_info a
    {
        font-size: 14px;
        color: #e88b35 !important;
    }

    #btn_tab_meta .list_car, #btn_tab_support .list_car, #btn_tab_info .list_car
    {
        font-size: 14px;
        color: #262626 !important;
    }

    #tab_detail_car h3
    {
        background: #262626 !important;
        border-left: 1px solid #fff;
    }

    #tab_detail_car h3:first-child
    {
        border-left: none;
    }

    #tab_detail_car h3.active
    {
        background: #e88b35 !important;
        color: #fff;
    }

    #tab_detail_car h3.active:after
    {
        border-color: transparent transparent transparent #e88b35;
    }

    #tab_detail_car h3:after
    {
        border-color: transparent transparent transparent #262626;
    }

    #tab_info p.tab_info_addr
    {
        width: 100% !important;
    }



    .category-main-title h2.active, .category-main-title h3.active, .category-main-title span.active, .category-main-title h1.active
    {
      background: #262626 !important;
      color: #fff;
    }

    .category-main-title h2.active:only-child, .category-main-title h3.active:only-child, .category-main-title span.active:only-child, .category-main-title h1.active:only-child
    {
      background: #e88b35 !important;
      color: #fff;
    }
    
    #the-big-garage .category-main-title span.active{
        background: #e88b35 !important;
        color: #fff;
    }

    .category-main-title h3.active:after , .category-main-title span.active:after, .category-main-title h1.active:after {
      border-color: transparent transparent transparent #262626;
    }

    .category-main-title h3.active:only-child:after , .category-main-title span.active:only-child:after, .category-main-title h1.active:only-child:after {
      border-color: transparent transparent transparent #e88b35;
    }

    .t-align-width-90
    {
        margin-top: 20px;
        text-align: center !important;
        width: 100% !important;
    }

    .t-h1-siteconfig {
        font-size: 16px !important;
        margin: 5px !important;
        line-height: 25px !important;
        font-weight: bold !important;
        color: #555 !important;
    }

    footer h1 {
        font-size: 16px;
        padding: 0 20px;
        color: #fff;
        margin: 0;
    }
    ._x101_posts {
        border: 1px solid #e8e8e8;
        border-top: none;
        border-radius: 0 0 4px 4px;
    }
/* End Index */

/* Listing Templates */
    .image_list_index
    {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .dk-car-list-item
    {
        margin-bottom: 10px;
        border: 1px solid #dedede;
        border-top: none;
    }

    .dk-car-list-header
    {
        font-size: 18px;
        border-bottom: 2px solid #E88B35;
        margin: 10px 0 0 0;
        /*margin-bottom: 8px;*/
        margin-bottom: 0px;
    }

    .dk-car-list-header span
    {
        padding: 0 15px;
        background: #E88B35;
        color: #FFF;
        display: inline-block;
    }

    a.dk-car-dropdown-link
     {
        font-size: 13px;
        color: #555;
     }

    .dk-car-sort-list
    {
        float: left;
        margin-right: 70px;
    }


    .dk-car-dropdown-list
    {
    }

    .dk-car-dropdown-icon
    {
        margin: 0 3px 0 -20px;
    }

    .dk-car-dropdown-limit
    {
        height: 300px;
        overflow: scroll;
    }

    .dk-car-dropdown-list ul
    {
        list-style-type: none;
        margin: 0px;
        padding-left: 5px;
    }

    .dk-car-dropdown-list li
    {

    }

    .dk-car-dropdown-list li a
    {
        padding: 8px 10px 8px 20px;
        display: block;
        font-size: 14px;
    }

    .dk-car-list
    {
        margin: 0px 0px 10px 0px;
    }

    .dk-car-item
    {
        font-size: 13px;
        /*float: left !important;*/
        padding: 5px 0 5px 5px;
    }
    .dk-car-item:nth-child(odd) {
        background: #f3f6fb;
    }
    ._x99_odd_item > .dk-car-item:first-child > .dk-car-item-12
    {
        padding-right: 5px;
    }
    ._x99_odd_item > .dk-car-item:last-child > .dk-car-item-12
    {
        padding-right: 0;
        border-right: none;
    }
    .mb-car-img {
        border-radius: 4px;
    }
    .dk-car-item-12
    {
        border-right: 1px dotted #FFE9D5;
        padding: 0px;
    }

    .dk-car-all-info
    {
        padding-left: 10px;
    }

    .dk-car-item-img
    {
        float: left;
    }

    .dk-car-item-img img
    {
        width: 50px !important;
    }

    .dk-car-item-info
    {
        font-size: 13px;
        width: 100%;
        padding-right: 15px;
        float: left;
    }

    .dk-car-item-info-info
    {
        padding-top: 3px;
    }

    .dk-car-item-info-title
    {
        white-space: nowrap;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .dk-car-item-info-title a
    {
        color: #E88B35;
        font-size: 13px;
    }

    .dk-car-item-info-branch
    {
        width: 70%;
        float: left;
    }

    .dk-car-item-info-addr
    {
        width: 30%;
        float: left;
    }

    .dk-car-item-cate
    {
        float: left;
        padding-left: 10px;
    }

    .dk-car-item-cate-price
    {
        line-height: 27px;
        font-size: 13px;
    }

    .dk-car-item-cate-price b
    {
        font-size: 18px;
    }

    .dk-car-item-cate-line-view
    {
        font-size: 11px;
        color: #9c9c9c;
    }

    .dk-item-message
    {
        text-align: center;
        padding: 10px 0px !important;
        font-size: 14px;
        border: 1px solid #dedede;
        border-bottom: none;
    }
    .dk-car-fill-list
    {
        margin-top: 10px;
        background: #CCCCCC;
        padding: 10px 3px !important;
        border: 1px solid #CCCCCC;
    }
    ._x99_odd_item {
        padding-left: 0;
        padding-right: 0;
    }
    ._x99_odd_item:nth-child(odd) {
        background: #f3f6fb;
    }
    /*._x98_stared_posts:nth-child(even) {
        background: #f3f6fb;
    }*/
    ._x98_stared_posts .dk-car-item-12 {
        border: none;
    }
    a._x101_more-posts {
        font-size: 12px;
        margin-left: 30px;
    }
    ._x99_posts_title {
        font-size: 13px;
        margin: 0;
        font-weight: 600;
        color: #E88B35;
        line-height: 19.5px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    ._x-pdl-075 {
        padding-left: 0.75rem !important;
    }
    /* ======================= New Listing ====================== */
._x90_item {
    padding: 8px 0;
}
._x90_posts_item:nth-child(odd) {
    background: #f3f6fb;
}
._x90_img {
    float: left;
    overflow: hidden;
    max-height: 52px;
    border-radius: 4px;
    width: 60px;
}
._x90_info {
    width: 68%;
    float: left;
    padding-left: 5px;
}
._x90_info_item {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    padding-top: 7px;
    font-size: 13px;
}
._x90_img img {
    width: 50px;
    margin-left: 5px;
    border-radius: 4px;
    max-height: 50px;
    height: 50px;
}
._x90_type {
    flex: 42%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
._x90_brandnew {
    flex: 25%;
}
._x90_area {
    flex: 33%;
}
._x90_price {
    width: calc(100% - 68% - 70px);
    color: #5d9617;
    /*color: #109d59;*/
    float: left;
    margin-right: -4px;
    margin-top: 3px;
}
._x90_title {
    padding-right: 10px;
    margin-top: 3px;
}
._x90_title a {
    color: #E88B35;
    font-weight: bold;
}
._x90_title > a > h4 {
    font-size: 13px;
    margin: 0;
    font-weight: 600;
    /*color: #E88B35;*/
    color: #337ab7;
    line-height: 19.5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
._x90_info > div:nth-child(2) {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
._x90_info > div:nth-child(3) {
    color: #9c9c9c;
    font-size: 12px;
}
._x90_time p {
    margin: 0;
    font-size: 12px;
    color: #999;
    display: inline;
}
.show-more-realty-vip {
    background: #fff !important;
    margin-top: 3px;
    text-align: center;
    border: 1px solid #5d9617;
    padding: 0; 
}
.show-more-realty-vip a {
    padding: 3px 0px;
    font-size: 15px;
    color: #5d9617;
    display: block;
}
.show-more-realty-vip:hover {
    background: #5d9617 !important;
    cursor: pointer;
}
.show-more-realty-vip:hover a {
    background: #5d9617 !important;
    color: #fff !important;
}
    /* ======================= End New Listing ====================== */
/* End Listing Templates */
/* ================================================================= */
/* Search / tim-kiem _x102_ */
    ._x102_sort-tools {
        float: right !important;
        margin-right: 0 !important;
    }
    .dk-car-list-header span {
        padding: 0 !important;
        background: none !important;
        color: #000 !important;
        display: inline-block;
    }
    ._x102_empty_posts {
        background: #f3f6fb;
        text-align: center;
        color: #e88b35;
        padding: 10px;
    }
    ._x102_relative_posts {
        background: #f3f6fb;
        padding: 10px;
        padding-top: 0;
    }

/* End Search / tim-kiem _x102_ */

/* Category */
    .dk-car-fill-list._x103_sort_box {
        margin-top: 0;
        padding: 5px 3px !important;
        border: none;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        background: url('/wp-content/themes/xehoiviet/images/nav_menu.png') repeat-x;
        background-size: contain;
    }
    ._x103_sort_box > .dk-car-sort-list {
        margin-right: 0;
        text-align: left;
        float: left;
        margin-left: 5px;
        margin-right: 15px;
    }
    ._x103_sort_box > .dk-car-sort-list:nth-child(n+3){
        float: right;
        margin-right: 5px;
        margin-left: 15px;
    }
    .mb-car-list-empty {
        font-size: 21px !important;
        text-align: center;
    }
    ._x_meta_seo {
        font-size: 14px;
        display: inline;
        line-height: 21px;
        font-weight: 600;
    }
    ._x_meta_seo_box {
        padding-right: 20px !important;
        padding-left: 20px !important;
    }
    .mb-car-list-empty {
        padding: 31px !important;
        color: #E88B35;
    }
/* End Category */
/* ========================================================== */
/* Chitiettin */
._x104_ {
    padding-bottom: 50px;
}
.mb-car-detail {
    padding: 0 !important;
}
.mb-car-detail-check
{
    color: #6AC62E !important;
}
._x104_search_more {
    margin-top: 0 !important;
    border-radius: 0 0 4px 4px;
}
._x104_title {
    padding: 0 !important;
    background: #F3F6FB !important;
}
._x104_title h1 {
    font-size: 19px;
    line-height: 20.9px;
    color: #333232;
    margin: 0;
    padding: 10px 20px;
}
.dk-car-detail-img {
    background: #F1F1F1 !important;
}
._x104_detail_tab_info
{
    border-left: none !important;
    border-right: none !important;
}
._x104_ .dk-car-detail-sumary {
    border-top: none;
    padding-top: 20px !important;
    border-radius: 0 0 4px 4px;
}
._x104_ .dk-car-detail-sumary-price {
    margin: 0;
    padding: 0 20px 0 10px;
    background-color: #E88B35;
}
._x104-triangel {
    width: 0;
    display: inline-block;
    float: right;
    height: 40px !important;
    line-height: 40px !important;
    border-style: solid;
    border-width: 20px 14px 20px 0;
    border-color: transparent #E88B35 transparent transparent;
}
.dk-car-detail-sumary-wrap {
    background-color: #F3F6FB !important;
}
._x104_ .dk-car-detail-sumary span.fa {
    color: #777;
}
.dk-car-detail-sumary-wrap-title {
    padding-left: 15px !important;
}
.dk-car-detail-sumary-wrap-title a {
    color: #337ab7;
    font-weight: 500;
}
span.detail-blue-link
{
    color: #337ab7;
    font-weight: 500;
}
.dk-car-detail-sumary-contact-user > a {
    font-size: 18px;
    line-height: 19.5px;
    font-weight: 500;
}

.duyetboi
{
    float: right;
    font-size: 13px;
    margin-bottom: 0px;
}

#register_email
{
    cursor: pointer;
    height: 30px;
    font-size: 12px;
    border: none;
    height: 40px;
    font-size: 16px;
    color: #fff;
    background: #008CBA;
}
.box_dknt{
	margin-bottom: -10px;
}
.box_dknt .row.collapse.postfix-radius {
    width: 100%;
}
.box_dknt .input-group .bottom_dk{
    margin-left: 0;
}
.row.collapse.postfix-radius{
    margin-left: 26px;
    margin-top: 4px;
}
blockquote.fz12.dknt-ctt {
    margin: 0;
    width: 100%;
    margin-bottom: 10px;
    padding-bottom: 0px;
    padding-top: 10px;  
}
/*blockquote.fz12.dknt-ctt {
    font-size: 12px;
    margin-top: 10px;
    background: #F1EFBF;
    margin: 10px auto 15px;
    color: #666;
    width: 95%;
    border-radius: 4px;
    border: 1px solid #CCB654;
    padding-bottom: 10px;
}*/
blockquote.fz12.dknt-ctt p{
	margin-bottom: 14px;
}
p.blockquote-title {
    font-size: 18px !important;
    font-weight: 600;
}
#txt_email {
   /* border-radius: 5px 0 0 5px;height: 30px; */
    float: right!important;
    background-color: #f1f1f1!important;
    color: #999!important;
    border-radius: 0;
    border: none;
    width: 274px;
    height: 40px;
    line-height: 40px;
    box-shadow: none;
    border-radius: 5px 0 0 5px;
    height: 30px;
}
#register_email {
    cursor: pointer;
    height: 30px;
    padding: 0 5px;
    font-size: 12px;
}
.open_box_dknt
{
    cursor: pointer;
}

#nhanmail, #nhanmail span
{
    cursor: pointer;
    color: #337AB7;
    /*margin-top: 5px;*/
}
div#nhanmail {
    margin-top: 7px;
}
blockquote.fz12 {
    font-size: 12px;
    margin-top: 10px;
    background: #F1EFBF;
    margin: 10px auto 15px;
    color: #666;
    width: 95%;
    border-radius: 4px;
    border: 1px solid #CCB654;
    padding-bottom: 10px;
}

blockquote.fz12 p
{
    font-size: 14px;
    color: #000;
}

._x104_btn-call {
    line-height: 20px;
}
._x104_btn-call > a {
    padding: 5px 7px;
    border-radius: 5px;
    font-size: 14px;
    background: #f0f0f0;
    border: 1px solid #ccc;
    color: #333;
}
._x104_btn-call > span {
    padding: 5px 7px;
    border-radius: 5px;
    font-size: 14px;
    background: #f0f0f0;
    border: 1px solid #ccc;
    color: #333;
}
._x104_btn-call span.fa {
    color: #81b441 !important;
}
.dk-car-detail-sumary-contact-status {
    color: #404040 !important;
}
.dk-car-detail-sumary-contact-status span.fa {
    /*color: #8E5924 !important;*/
}
._x104_technical_info > p {
    width: 50% !important;
    float: left;
}
.dk-car-detail-sumary-contact-img img {
    width: 80px !important;
    border: 1px solid #ccc;
    padding: 1px;
    border-radius: 3px;
}
a.mb-car-detail-link-content {
    color: #e88b35 !important;
}
._x104_detail-box.mb-car-detail-box {
    border-top: 0 !important;
    margin-top: 0 !important;
    border-radius: 0 0 4px 4px;
}
._x104_search_more ._x104_box_search > form > div {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
._x104_search_more ._x104_box_search > form > div select, ._x104_search_more ._x104_box_search > form > div button {
    border-radius: 3px;
}
.mb-car-detail .mb-car-detail-box .box-title {
    text-align: left !important;
    color: #555 !important;
    font-size: 18px !important;
    height: 37px;
    line-height: 37px;
    padding-left: 10px !important;
    background: #F3F6FB !important;
}
span.go-to-profile
{
    font-size: 13px;
    color: #34a;
    font-weight: normal;
}
span.detail-price
{
    font-size: 18px !important;
    color: #363;
    font-weight: bold;
}
.mb-car-detail .mb-car-detail-box .box-content p {
    font-size: 14px !important;
}
.detail-suggest-price
{
    margin: 20px 0px;
    font-size: 15px;
}
.dk-car-detail-more-btn a {
    font-size: 14px;
    border: 1px solid #E88B35;
}
.dk-car-detail-more-btn a:hover {
    background: none !important;
    color: #E88B35;
    border: 1px solid;
}
._x104_search_more ._x104_box_search > form > div button {
    border: 1px solid #E88B35;
    padding: 10px;
}
._x104_search_more ._x104_box_search > form > div button:hover {
    background: none !important;
    color: #E88B35;
    border: 1px solid;
}
._x104-social-tools {
    /*background: #f5f5f5;*/
    /*padding: 10px;*/
    /*border: 1px solid #dedede;*/
    margin-top: 30px;
}
._x104-social-gg {
    float: right;
    max-height: 20px;
    margin-left: 5px;
}
._x104-social-gg._x104-fb {
    margin-top: -2px;
}
._x104-social-gg._x104-cp {
    float: left;
    margin-left: 0;
}
._x104-social-gg._x104-cp > div {
    margin-top: -4px;
}
._x104-social-gg._x104-sv {
    margin-top: -1px;
    margin-left: 5px;
}
._x104-social-gg._x104-sv a {
    padding: 5px 10px;
    border: 1px solid;
    border-radius: 4px;
    color: #e88b35;
    background: #fff;
    border-color: #e88b35;
}
._x104-social-gg._x104-sv > a > span.fa {
    color: #e88b35;
}
._x104-social-gg._x104-sv > a:hover {
    color: #fff;
    background: #e88b35;
}
._x104-social-gg._x104-sv a:hover span.fa {
    color: #fff;
}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}
input#linkrutgon {
    margin: 0 !important;
    height: 28px;
    line-height: 28px;
    padding: 0 10px;
}
.input-copy {
    width: 200px !important;
    border: 2px solid #e5e5e5 !important;
    cursor: pointer;
    border-radius: 3px 0 0 3px !important;
    padding-left: 10px !important;
    background: #e5e5e5 !important;
    font-size: 13px !important;
    box-shadow: none !important;
}
#nutcopy {
    border-color: #e5e5e5;
    width: auto !important;
}
.form-inline .input-group .input-group-addon {
    width: auto;
}
.input-group-addon:last-child {
    border-left: 0;
}
.input-group-addon:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.curpointer {
    cursor: pointer !important;
}
.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.input-group-addon {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
}
.input-group-addon {
    display: table-cell;
}
.post-save-alert {
    visibility: hidden;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 2999;
    width: 320px;
    background: rgba(255, 255, 255, 0.93);
    border: 3px solid #43ac6a;
    padding: 5px 0;
    border-radius: 5px;
}
.post-save-alert .save-img {
    float: left;
    margin-right: 10px;
}
.post-save-alert .save-img img {
    width: 60px;
    margin-left: 5px;
    margin-top: 6px;
}
.post-save-alert .save-title {
    color: #000;
    font-weight: 600;
    font-size: 12px;
    display: block;
}
.post-save-alert span.save-alert {
    display: block;
    font-size: 13px;
    color: #43ac6a;
}
.post-save-alert span.remove-alert {
    position: absolute;
    top: 2px;
    right: 5px;
    color: #999;
    font-weight: 200;
    cursor: pointer;
}
.visibylity-visible {
    visibility: visible !important;
    /*display: none;*/
}
a#btn_compare {
    padding: 5px 10px;
    border: 1px solid;
    color: #43ac6a;
    border-radius: 4px;
    font-size: 14px;
}
._x104_right-section .category-main-title {
    margin-top: 0;
}
/* End Chitiettin */
/* ======================================================= */
/* Tin tuc / News */
.dk-car-news-detail-time {
    text-align: right;
}
    ._106_more_title {
        font-weight: 600;
        padding: 3px !important;
        font-size: 14px;
        line-height: 19.5px;
    }
    ._106_more_link ul {
        list-style-type: none;
        margin: 0;
        padding: 3px 3px 15px 3px;
    }
    ._106_more_link ul li {
        padding: 0 5px 0 15px;
        line-height: 19.5px;
    }
    ._106_more_link ul li span.fa {
        font-size: 11px;
        color: #81B441;
    }
    ._106_more_link ul li a h4 {
        color: #337ab7;
        font-size: 13px;
        line-height: 19.5px;
        display: inline;
        margin: 0;
    }
    ._106_more_link ul li span.label {
        background-color: #e88b35;
        color: #fff;
        font-size: 9px !important;
    }
/* End Tin tuc / News */
/* =================================================== */
/* Trang ca nhan / public */
.imgae_ifo {
    position: relative;
}
.imgae_ifo>img {
    width: 100%;
}
.cover_img {
    max-height: 330px;
}
.imgae_ifo .avatar {
    position: absolute;
    bottom: -20px;
    left: 30px;
    height: 150px;
    z-index: 2;
}
.t-avatar {
    overflow: hidden !important;
    width: 150px;
    height: 150px;
    float: left;
    overflow: hidden;
    border: 1px solid #ccc;
    background: #FFF;
    padding: 3px;
    border-radius: 3px;
}
.t-avatar>img {
    width: 100%;
}
.r-avatar {
    float: left;
}
.info_per {
    margin: 10px 0px 0px 15px;
    font-family: Arial;
    color: #fff;
    text-shadow: 0 0 3px rgba(0,0,0,.5);
}
.info_per span.name {
    font-weight: 700;
    color: #fff;
    font-size: 22px;
}
.clear {
    clear: both !important;
}
.info_per h1.color_re {
    display: inline-block;
    font-weight: 700;
    color: #fff;
    font-size: 18px;
    margin: 0;
    line-height: 25px;
    vertical-align: bottom;
}
.address {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.address {
    height: 30px;
    line-height: 30px;
    font-family: Arial;
}
.t-span-fontsize-13 {
    font-size: 13px !important;
}
.tuan-userstatus-success {
    color: #81B441;
    font-size: 16px !important;
}
.imgae_ifo:after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 150px;
    width: 100%;
    z-index: 1;
    background: -webkit-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.75));
    background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.75));
}
._x111_header {
    margin-bottom: 30px !important;
}
.navigation-timeline ul {
    overflow: hidden;
    padding-left: 230px;
    border: 1px solid;
    border-color: #e88b35;
    border-top: 0;
    background: #e88b35;
    border-radius: 0 0 4px 4px;
    border-bottom: 0;
    margin-left: 0;
}
.navigation-timeline ul > li {
    float: left;
    list-style: none;
}
.navigation-timeline ul > li > a {
    padding: 10px 20px;
    display: block;
    border-left: solid 1px;
    border-color: #F5B275;
    color: #fff;
    font-size: 12px;
}
.navigation-timeline ul > li:last-child > a {
    border-right: 1px solid;
    border-color: #F5B275;
}
.navigation-timeline ul > li:last-child > a {
    border-right: 1px solid;
    border-color: #F5B275;
}
.navigation-timeline ul > li > a:hover {
    background: #262626;
}
.update_avatar {
    cursor: pointer;
    position: absolute;
    bottom: 5px;
    left: 6px;
    padding: 3px 10px;
    border: 1px solid;
    border-radius: 3px;
    color: #fff;
}
.update_avatar span.fa {
    font-size: 20px;
    float: left;
    margin-top: 2px;
}
.update_avatar span.cna {
    display: none;
    float: left;
    margin-left: 5px;
    color: #fff;
}
.update_avatar {
    background: rgba(0, 0, 0, 0.6);
    border: 1px solid #CCC;
    color: #FFF;
}
.update_avatar span.cna {
    display: block;
}
.update_cover {
    cursor: pointer;
    position: absolute;
    top: 15px;
    left: 30px;
    color: #FFF;
    padding: 3px 10px;
    border-radius: 3px;
}
.update_cover span.fa {
    font-size: 20px;
    float: left;
    margin-top: 2px;
}
.update_cover span.cnab {
    display: none;
    float: left;
    margin-left: 5px;
}
.update_cover {
    background: rgba(0, 0, 0, 0.6);
    border: 1px solid #FFF;
    color: #FFF;
}
.update_cover:hover span,.update_avatar:hover span {
    opacity: .9;
    -webkit-transform: scale(.9);
    transition: all .5s;
}
.update_cover span.cnab {
    display: block;
}
/* End Trang ca nhan / public */

/* Searchfulltext */
li.search_top {
    background: #262626 !important;
    margin-right: 5px;
}
form#frm_search_fulltext {
    line-height: 45px;
}
#search_fulltext::-webkit-input-placeholder {
   color: #fff;
}

#search_fulltext:-moz-placeholder { /* Firefox 18- */
   color: #fff;  
}

#search_fulltext::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;  
}

#search_fulltext:-ms-input-placeholder {  
   color: #fff;  
}
.search_top .icon_search {
    color: #fff;
    padding: 0 10px !important;
}
.search_top .icon_search span.fa {
    font-size: 22px;
}
#search_fulltext {
    height: 30px;
    margin-top: -2px;
    line-height: 30px;
    border: none;
    padding: 0 5px;
    font-size: 14px;
    width: 320px;
    color: #fff;
    background-color: rgba(255,255,255,0.3);
    transition: none;
    float: left;
    border-radius: 4px;
}
/* End Searchfulltext */
/* ================================================ */
/* My Garage */
.my-garage {
    /*height: 45px;*/
    margin: 0 0 0 10px;
    /*line-height: 45px;*/
}
.my-garage a.show-garage {
    display: block;
    font-size: 14px;
    font-weight: 600;
    padding: 0 5px;
    color: #FF974F !important;
}
/*.my-garage a.show-garage span.fa {
    display: inline;
}*/
.my-garage a.show-garage span:first-child {
    margin-top: 3px;
    text-transform: uppercase;
}
.my-garage a.show-garage span:last-child {
    font-size: 24px;
    margin-top: -8px;
}

.garage-section {
    position: fixed;
    top: 54px;
    left: 360px;
    width: 360px;
    background: #fff;
    z-index: 3000;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.14),0 4px 8px rgba(0,0,0,0.28);
    -moz-box-shadow: 0 0 4px rgba(0,0,0,0.14),0 4px 8px rgba(0,0,0,0.28);
    box-shadow: 0 0 4px rgba(0,0,0,0.14),0 4px 8px rgba(0,0,0,0.28);
}
#the-big-garage.garage-section{
    border-radius: 0;
    top: 45px;
    padding: 0;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 300ms ease-in-out;
    -moz-transition: max-height 300ms ease-in-out;
    transition: max-height 300ms ease-in-out;
}
#the-big-garage._nvn-hder-show{
    max-height: 1000px;
}
.garage-hanger {
    position: absolute;
    top: -7px;
    left: 50px;
    z-index: 3000;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7.5px 7px 7.5px;
    border-color: transparent transparent #ffffff transparent;
}
.my-garage a.show-garage:hover .garage-section {
    visibility: visible;
}
.garage-header {
    font-size: 15px;
}
#the-big-garage .garage-header{
    margin: 5px 5px 0;
}
.garage-content {
    margin-top: 5px;
    overflow: hidden;
    height: 195px;
    position: relative;
}
#the-big-garage .garage-content{
    margin: 5px;
}
.item-in-garage:nth-child(odd) {
    background: #f8f8f8;
}
.item-in-garage {
    clear: both;
    padding: 5px 0;
}
a.gr-img {
    float: left;
    width: 20%;
}
a.gr-img img {
    width: 100%;
    margin-top: 5px;
    margin-left: 3px;
}
a.gr-title {
    display: block;
    margin-left: 22%;
    font-size: 13px;
}
.gr-empty p {
    margin: 10px 0;
}
span.gr-price {
    margin-left: 2%;
    color: #43ac6a;
}
a.btn-del-save {
    float: right;
    margin-right: 10px;
    font-size: 18px;
    color: #5A251C;
}


.garage-footer
{
    padding: 5px 5px;
    text-align: right;
    border-top: 1px solid #333333;
    margin-top: 5px;
}
/* End My Garage */
/* ================================================ */

/* Hover tips */
/* CSS for register form - hover tips */
/* @author: Huyen Dan Phan */
.register-form-nds .register-form-content {
    width: 95%; 
    float: left;
}
.mg-top-25 {
  margin-top: 25px;
}
.text-white{
  color: #fff;
}
#guides{
  display: none;
  width: 230px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 97;
}
#guides .guides_hanger {
  background: url(/wp-content/themes/xehoiviet/images/bubble-top-v2.png) no-repeat;
  background-position: 73px 0;
  height: 12px;
}
#guides .guides_hanger_left {
  background: url(/wp-content/themes/xehoiviet/images/bubble-top-v2_flip.png) no-repeat;
  background-position: 135px 0 !important;
}
#guides .guides_wrapper {
  padding: 8px;
  background: #f2f2f2;
  border: 1px solid #999;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-size: 12px;
}
#guides .guides_top {
  margin-bottom: 5px;
}
#guides .guides_title {
  font-weight: 600;
}
#guides .guides_top > span.fa {
  font-size: 14px;
  color: #999;
  position: absolute;
  right: 10px;
  top: 20px;
  cursor: pointer;
}
#guides .guides_content > p {
  font-size: 12px;
}
#guides .guides_content > p:last-child {
  margin-bottom: 0;
}

#guides.active{
  display: block;
}
.caribe-cursor-pointer {
  cursor: pointer;
}

.caribe-margin-bottom-10 {
  margin-bottom: 10px;
}
.caribe-margin-bottom-20 {
  margin-bottom: 20px;
}
.caribe-margin-right-12 {
  margin-right: 12px;
} 
.caribe-margin-left-10 {
  margin-left: 10px;
}
.caribe-margin-top-10 {
  margin-top: 10px;
}
.caribe-float-none {
  float: none !important;
}
.caribe-margin-top-n5 {
  margin-top: 0px;
  margin-left: 5px;
  position: relative;
  z-index: 2;
}
.caribe-margin-top-n5.caribe-cursor-pointer {
  margin-top: -5px;
  margin-left: 0;
}
.caribe-width-13 {
    width: 27px !important;
    position: relative;
    padding: 0 7px;
    z-index: 2;
}
.caribe-margin-left-2 {
  margin-left: 2px !important;
}
/* End Hover tips */
/* ================================================ */

/* Login */
.content_login {
    padding: 10px;
    border: 1px solid #CCC;
    /* border-radius: 5px; */
}
.content_login {
    width: 50%;
    margin: 5px auto;
}
.caribe-login-desktop {
    margin: 20px auto !important;
    padding: 30px !important;
}
.caribe-border-radius-5 {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.title_login {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #81B441;
    font-size: 15px;
    border-bottom: 2px solid #81B441;
    margin: 20px;
    /* box-sizing: border-box; */
}
.caribe-margin-bottom-10 {
    margin-bottom: 10px;
}
.caribe-margin-0 {
    margin: 0 !important;
}
/*p {
    margin: 0 0 10px;
}*/
.bao_dl {
    padding: 1px;
    box-shadow: 1px 1px -2px #CCC;
}
.btn_sub_1 {
    border: 1px solid #81B441;
    background: #fff;
    color: #81B441;
    padding: 4px 10px;
    border-radius: 0;
    float: left;
    margin-left: 15px;
    font-size: 15px;
}
.rela_css {
    position: relative;
}
.dk_css input {
    border: 1px #e5e5e5 solid;
    border-left: 2px #81B441 solid;
    padding-left: 39px;
    background-repeat: no-repeat;
    border-radius: 0;
    /* margin-bottom: 5px; */
}
#result_dienthoai, #result_dienthoai0, #result_dienthoaizz, #result_dienthoaizzzz, #result_golai, #result_matkhauz, #result_timkiem, #result_ngaysinh, #result_matkhau, #result_email, #result_nhaplaimatkhau, #result_diachi, #result_hoten {
    font: normal normal normal 14px/1 FontAwesome;
    color: #81B441;
    position: absolute;
    top: 12px;
    left: 15px;
}
.t-login-title {
    padding-top: 10px !important;
    clear: both !important;
    margin-left: 20px;
    line-height: 30px !important;
    float: none !important;
}
.login_title > a {
    background: #81B441;
    border: 1px solid #81B441;
    padding: 5px 10px;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 200;
}
.btn_sub_1:hover {
    color: #fff;
    background-color: #81b441;
    cursor: pointer;
}
.login_title > a:hover {
    color: #81B441;
    background: #fff;
    border-color: #81B441;
}
/* End Login */
/* ================================================ */
/* Register */
.list-inline>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}
.btn_sub {
    border: 1px solid #5ea628;
    background: #81B441;
    color: #FFF;
    padding: 4px 10px;
    margin-right: 12px;
    margin: 10px 0;
}
/* End Register */
/* ================================================ */

/* ================================================ */
/* Slider Footer */

.slider-footer {
    display: flex;
    padding: 10px;
    background: #f5f5f5;
    height: 95px;
    overflow: hidden;
}
.slider-first-section {
    /*width: 75%;*/
    width: 100%;
}
.slider-last-section {
    /*width: 25%;*/
}
.slides-img {
    float: left;
    height: 95px;
    overflow: hidden;
    width: 200px;
    margin: 0 auto;
    text-align: center;
    /*display: inline-block !important;*/
    
}

.slides-img img {
    margin: 0 auto;
    width: auto !important;
    height: 90px;
    /*max-height: 95px;*/
    /*vertical-align: middle;*/
    /*display: inline-block !Important;*/
}
.slides-title {
    margin-left: 158px;
    color: #333;
    font-weight: 600;
    font-size: 12px;
}
.slide-footer-item {
    /*width: 150px;*/
}
.slide-footer-item a {
    /*display: block;*/
    text-align: center;
}
.slider-name {
    padding: 5px;
    padding-left: 10px;
    background: #f5f5f5;
    color: #81b441;
    font-size: 14px;
    font-weight: 600;
    border-bottom: 1px solid #ddd;
}
.btn-slider-ft-group {
    margin-top: -5px;
}
a.btn-slider-ft {
    color: #FCBE1F;
    padding: 0 8px;
    font-size: 20px;
    font-weight: 600;
}
a.btn-slider-ft:hover {
    color: #109d59;
}
.owl-item {
    text-align: center;
}
span.vertical-helper {
    /*display: inline-block;*/
    /*height: 100%;*/
    /*vertical-align: middle;*/
}

/* End Slider Footer */
/* ================================================ */

/* Tuan_style footer */
/* ================================================ */
footer{
    border-top:none;
}
.dk-ft{
    background: #333;
    border-top: 1px solid #f0f0f0;
    margin-top: 10px;
}
.row-ft{
    max-width: 100%;
    padding: 20px 60px;
}
/*.medium-3-ft{
    border-left: 1px solid #e5e5e5;
}
.medium-3-ft:first-child{
    border-left: none;
}
.medium-3-ft:nth-child(2){
    border-right: 1px solid #e5e5e5;
}*/
.medium-3-ft:nth-child(3){
    border-left: none;
}
.medium-3-ft h6{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    color: #fff;
}
.medium-3-ft > ul{
    margin-left: 0;     
}

.medium-6-left{
    margin-left: -15px; 
}

.medium-3-ft ul li{
    list-style: none;
}
.medium-3-ft ul li a{
    color: rgba(255, 255, 255, 0.701961);
    font-size: 15px;
}
.medium-3-ft ul li a:hover{
    color: #e88b35;
}
.medium-3-ft label{
    color: rgba(255, 255, 255, 0.701961);
}

.ft_bottom{
    display: flex;
    margin: 0 15px;
    background-color: #fff!important;
    background-repeat: no-repeat;
    background-image: url('/wp-content/themes/xehoiviet/images/newsletter-background.png');
    background-position: 1080px bottom;
    padding: 24px 0 8px 0;
    /*border-radius: 3px;*/
    margin: 10px 70px;
/*    -webkit-box-shadow: 1px 1px 10px 0px rgba(153,151,153,1);
    -moz-box-shadow: 1px 1px 10px 0px rgba(153,151,153,1);
    box-shadow: 1px 1px 10px 0px rgba(153,151,153,1);*/
}
.ft_bottom li{
    list-style-type: none;
}
.ft_bottom li p{
    padding:0 15px ;
}
.bottom_dk > p{
    font-weight: bold;
    font-size: 16px;
    color: #464646;
}
.bottom_dk_p{
    font-size: 14px;
    color: #767474;
}
.bottom_dk{
   list-style-type: none;
    margin-left: 26px;
    float: left!important;
    background-repeat: no-repeat;
    background-image: url('/wp-content/themes/xehoiviet/images/newsletter-icon.jpg');
    background-position: 0;
    padding-left: 60px;
    padding-right: 24px;
    height: 48px;
    line-height: 24px;
    border-right: 1px solid #e4e4e4;
    font-weight: 400!important;
    font-family: Roboto-Medium,sans-serif;
    font-size: 17px;
}
.dk-car-bottom{

}

#fromLetter{
    float: left!important;
    padding: 4px 8px;
    height: 48px;
    line-height: 48px;
    position: relative;
}
#newsletter-input{
    float: left!important;
    background-color: #f1f1f1!important;
    color: #999!important;
    border-radius: 0;
    border: none;
    width: 255px;
    height: 40px;
    line-height: 40px;
    box-shadow:none;
}

#newsletter-open{
    float: left!important;
    border: none;
    height: 40px;
    line-height: 0;
}
.fa-page.fb_iframe_widget{
    min-height: 170px;
}
/* End Tuan_style footer */
/* ================================================ */
/* Newsletter */

#inewsletter{ 
    padding: 0;
}
#newsletter{
    background: #fff;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    min-height: 175px;
    max-width: 700px;
    width: 100%;
    z-index: 734626274;
}
.nl-close{
    position: absolute;
    top: -12px;
    right: -12px;
    text-decoration: none !important;
    display: block;
    width: 35px;
    height: 35px;
    background: url("/wp-content/themes/xehoiviet/images/close.png") no-repeat scroll 0 0;
    z-index: 1500;
    cursor: pointer;
}
#newsletter-optin-bar{
  margin-bottom: 20px;
  clear: both;
}
.nl-bar{
      float: left;
    width: 25%;
    height: 11px;
    display: block;
}
.nl-red-bar{
  background-color: #ef3e36;
}
.nl-green-bar{
  background-color: #81B441;
}
.nl-orange-bar{
  background-color: #f57826;
}
.nl-blue-bar{
  background-color: #17b4e9;
}
#nl-lightbox-case-study-header{
      min-height: 30px;
    padding: 15px;
    width: 100%;
}
#newsletter-title{
      color: #484848;
    font-family: arial;
    font-size: 32px;
    text-align: center;
}
#newsletter-tagline{
      color: #484848;
    font-family: arial;
    font-size: 24px;
    text-align: center;
        width: 100%;
    margin-bottom: 30px;
}
#newsletter-content{
      padding: 15px;
}
#newsletter-left{
      float: left;
    max-width: 280px;
    width: 100%;
    position: relative;
}
#newsletter-image-container{
      display: block;
    margin: 0 auto;
    text-align: center;
    height: auto;
    max-width: 100%;
}
#newsletter-right{
      float: right;
    max-width: 370px;
    width: 100%;
    background-color: #dadada;
    margin-right: -15px;
    padding: 25px 20px;
    position: relative;
}
#newsletter-arrow{
      position: absolute;
    width: 49px;
    height: 56px;
    left: -40px;
    top: -40px;
}
.nl-form-area input{
      background-color: #fff;
    width: 100%;
    border: 1px solid #ccc;
    font-size: 16px;
    line-height: 24px;
    padding: 10px 6px;
    overflow: hidden;
    outline: none;
    margin: 0 0 15px;
    vertical-align: middle;
    height: 46px;
}
.nl-form-area button.btn-submit{
    background: #484848;
    border: 1px solid #484848;
    width: 100%;
    color: #fff;
    font-size: 20px;
    padding: 12px 6px;
    line-height: 28px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    margin: 0;
    height: 54px;
}
#newsletter-mask{
      display: none;
    background: rgba(0, 0, 0, 1.6);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 111299999;
}
#newsletter-open > img{
  cursor: pointer;
}
.box_title .title>h2 {
    margin-top: 4px ;
    margin-bottom: 4px ;
    font-size: 20px;
    padding-top: 0 ;
    position: relative;
    z-index: 1;
}
#div_qrcode{
  position: absolute;
  right: 10px;
  bottom: 5px;
  background: #fff;
  z-index: 2;
}
.title_newsletter{
  font-size: 16px;
}
.content_news .time_up{
  font-size: 12px;
  color: #9c9c9c;
}
.content_news .time_up span.fa{
  margin: 0px 3px 0px 10px;
}
.comment_news{
  margin: 0;
  display: block;
  border-radius: none;
}
.email_newsletter{
  width: 100%;
  text-align: center;
  margin: 10px 0;
}

/* End Newsletter */
/* ================================================ */
/* Templates Stared Posts */

.car_new{
/*  line-height: 44px;*/
}
.car_new ._x90_title{
    margin-left: -84px;
}
.car_new ._x90_title h4{
    top: -4px;
    left: 7px;
    font-size: 14px;
    position: relative;
}
.car_new ._x90_title span {
    float: left;
}

.car_newd_x90_info {
    width: 65%;
}
.car_new ._x90_info_item{
    position: relative;
    margin-top: -24px;
    padding-top: 4px;
    /*margin-bottom: 5px;*/
}
.post_new{
    max-height: 46px;
    overflow: hidden;
    padding-right: 20px;
}
.car_new ._x90_type span{
    font-size: 13px;
    color: #000;
}
.car_new ._x90_price b{
    font-size: 18px;
    
}
.car_new ._x90_time p{
    margin: 0;
    font-size: 12px;
    color: #999;
    display: block;
}
.car_new ._x90_price{
    margin-top: 18px;
    margin-left: 10px;
}
.car_new ._x90_area {
    color: #000;
    font-size: 13px;
}
.car_new ._x90_area span:before{
    color: #000;
}


.car_db_new ._x90_img {
        float: left;
        overflow: hidden;
        max-height: 100px;
        border-radius: 4px;
        width: 100px;
        margin-top: 24px;
    }
    .car_db_new ._x90_img img{ 
        width: 100px;
        margin-left: 5px;
        border-radius: 4px;
        max-height: 100px;
        height: 100px;
    }
    .car_db_new ._x90_title{
        margin-left: -112px;
    }

    .car_db_new ._x90_info{
        padding-left: 8px;
        width: 70%;
    }
    .car_db_new ._x90_price{
        width: calc(100% - 74% - 140px);
        margin-top: 30px;
    }
    .car_db_new .post{
        font-size: 12px;
        max-height: 62px;
        min-height: 67px;
        padding-right: 20px;
        padding-top: 6px;
        overflow: hidden;
    }
    .car_db_new ._x90_info_item{
        padding-left: 95px;
        padding-top: 20px;
    }
    .car_db_new ._x90_brandnew{
        left: -90px;
        position: relative;
    }


/* End Templates Stared Posts */
/* ================================================ */


.box_danhba{
  padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}
.box_danhba.danhba_mobile {
  margin-bottom: -1px !important;
    border: none;
}
.box_danhba.danhba_mobile:nth-child(odd) {
  background: #F3F3F3;
}
/*.box_danhba_thongtin_ct a {
    color: #A6A6A6;
}*/
.danhba_address {
    color: #a6a6a6;
    font-size: 13px;
    margin: 0;
}
.danhba_content_mobile {
  display: table !important;
  margin-bottom: 5px;
}
.danhba_thongtin_mobile {
  float: none !important;
}
.box_danhba_content.danhba_content_mobile > div {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}
.box_danhba_thongtin_ct.tools_icon {
    width: 33.3%;
    text-align: center;
    margin: 5px 0;
}
.box_danhba_thongtin_ct.tools_icon a {
    color: #4385F5;
    border: 1px solid #4385F5;
    border-radius: 3px;
    padding: 5px 10px;
}
.box_danhba_thongtin_ct.tools_icon a span.fa {
    font-size: 14px;
    margin-top: 0px;
    color: #4385F5;
    font-weight: 600;
}
.box_danhba_title{
    font-weight: bold;
    color: #055699;
    font-size: 1.2em;
    padding-bottom: 10px;
}
.box_danhba_title h4 {
    margin: 0;
    margin-top: 5px;
    display: inline;
}
.box_danhba_title span.fa.profile {
  color: #81B441;
}
.box_danhba_content{

}
.box_danhba_hinhanh{
  float: left;
  padding: 2px;
    border: 1px solid #ccc;
    width: 100px;
}
.box_danhba_hinhanh img{
  width: 100%;
}
.box_danhba_thongtin{
  float: left;
    width: 560px;
    padding-left: 10px;
    line-height: 30px;
}
.box_danhba_thongtin_tt{
  float: left;
    width: 75px;
}
.box_danhba_thongtin_ct{
  float: left;
  width: 470px;
}
p.to_profiles {
    font-size: 12px;
    color: #4385F5;
    margin: 0;
    font-weight: 200;
}
@media (max-width: 767px) {
  .box_danhba_thongtin{
    width: 205px;
  }
  .box_danhba_thongtin_ct{
    width: 205px;
  }
  .box_danhba_thongtin{
    line-height: 20px;
  }
  .box_danhba_hinhanh{
    width: 80px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {

}
@media (min-width: 992px) and (max-width: 1199px) {
  .box_danhba_thongtin{
    width: 445px;
  }
  .box_danhba_thongtin_ct{
    width: 360px;
  }
}
@media (min-width: 1200px){

}
a.danhba_to_profile h4 {
    font-size: 14px;
    margin: 0;
    font-weight: 600;
    color: #000000;
}

/* CSS for Desktop */
.dealer-box:nth-child(odd){
    background: #f5f5f5;
}
.dealer-box .desktop {
    width: 49%;
    float: left;
    overflow: hidden;
}
.dealer-content.clearfix {
    display: inline-block;
}
.dealer-box .desktop:first-child {
    margin-right: 2%;
}
.dealer-avatar {
    width: 72px;
    float: left;
    text-align: center;
}
.dealer-avatar > img {
    width: 100%;
    border-radius: 40px;
}
.dealer-box {
    padding: 10px 5px;
}
.dealer-info {
    margin-left: 78px;
    display: table;
    font-size: 13px;
    height: 72px;
}
.dealer-fullname h4 {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 600;
}
.dealer-fullname a {
    color: #333;
}
.dealer-address {
    color: #7B7B7B;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.dealer-des {
    display: table-cell;
    vertical-align: middle;
}

.text-muted {
    color: #777;
}

.label-vip.label-Vip {
    background-color: #FBBC05;
    color: #fff;
}
.label-vip.label-Partner {
    background-color: #109D59;
    color: #fff;
}
.label-vip.label-Partner:after {
    border-color: solid #109D59;
    border-color: transparent transparent transparent #109D59;
}
.label-vip.label-Dealer {
    background-color: #4385F5;
    color: #fff;
}
.label-vip.label-Dealer:after {
    border-color: solid #4385F5;
    border-color: transparent transparent transparent #4385F5;
}


/* notifications menu */

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 10px;
}

.crb-notifications .badge {
    margin-top: -22px;
    margin-left: -9px;
    font-size: 10px;
    padding: 3px 5pX;
    background-color: #FF9200;
}

.badge-default {
  background: #aaaaaa;
}

.badge-warning {
  background: #FF9200;
}

#more-save-posts .icon .badge {
  margin-top: -6px;
}

.crb-notifications .fa {
    font-size: 18px !important;
    color: #fff;
    margin-top: 11px;
}

.crb-dropdown-noti {
    border: none;
    border-radius: 4px;
    width: 320px;
    padding: 0;
    margin-top: 10px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.notification-item
{
    font-size: 12px;
    border-bottom: 1px solid #F5F5F5;
    z-index: 3;
}

.notification-item a
{
    color: #333;
    display: block;
    padding: 7px;
}

.notification-item:hover
{
    background: #F5F7FA;
}

.notification-item-user
{
    font-size: 12px;
    padding: 7px;
    border-bottom: 1px solid #E7DEDE;
    z-index: 3;
}


.notification-bg_0
{
    background: #F5F7FA;
}

.notification-bg_1
{
}

.notification-item-user .title-notification a
{
    font-weight: bold;
    font-size: 14px;
    color: #333;
}


.notification-item-user .title-notification a:hover
{
    font-size: 14px;
    color: #E88B35;
}

.notification-item-user .time-notification
{
    float: right;
    color: #9C9C9E;
}

#nofi-section .garage-hanger
{
    /*left: 215px;*/
    display: none;
}

#nofi-section .empty {
    border-radius: 4px;
}

.notification-time
{
    text-align: right;
    font-size: 12px;
}
/* End notifications menu */

/* Top News */
.item_news:nth-child(2n+1){
  clear: both;
}
.item_news_search:nth-child(2n+1){
  background: #F3F6FB;
}
.item_news_search {
  margin: 0 !important;
  width: 100% !important;
  padding: 10px 5px !important;
}
.item_news{
  margin: 10px 1%;
  width: 48%;
  float: left;
  text-align: justify;
  font-size: 13px;
  font-family: arial;
}
.item_news h3{
  margin: 0;
  display: inline-block;
  vertical-align: top;
  line-height: 14px;
}
.item_news h3 a{
  font-size: 14px;
}
.item_news h3.h3_cat a {
  font-size: 12px;
}
.item_news a{
  color: #0059fd;
}
.item_news a:hover{
  color: #F00 !important;
}
.item_news img{

  float: left;
  margin-right: 10px;
  border: 1px solid #CCC;
  padding:2px;
  width: 85px;
  height: 65px;
} 
.item_news i
{
  color: #bab7b7;
}
.item_news span
{
  color: #bab7b7;
  font-size: 13px;
}
.item_news a:hover
{
  color:#448812; 
}
.item_news h4{
  margin: 0px 0px 7px 0px;
  font-size: 15px;
  color: #345;
  font-weight: bold;
  font-size: 13px;
}
.item_news i{
  margin-left: 5px;
}
/* Menu HOT */
.hot_news_menu a {
    color: #fff;
    display: block;
}
/*span.hot_news_menu {
  font-size: 18px;
}*/
.box_thongke.hot_news_nav {
    float: left;
    margin: 3px 10px 0px 5px;
    color: #81B441;
    font-size: 12px;
    text-align: center;
    position: relative;
    margin: 0;
    height: 45px;
    padding: 5px;
    line-height: 22px;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease;
}
.hot_news_menu span.fa {
    font-size: 24px;
    position: absolute;
    top: 11px;
    margin-left: -5px;
}
p.hot_news {
    font-weight: 600;
    margin: 0;
    text-transform: uppercase;
}
/*.box_thongke .badge.badge-default {
    margin-top: -24px;
    margin-left: -2px;
    background: #FF9900;
    padding: 2px 5px;
    font-size: 10px;
}*/
.item_news_search h4 {
    display: inline;
    font-size: 13px;
}
.item_news_search img {
  margin-top: 0;
  height: 65px;
  width: 98px;
}
.item_news_search .top-news-title {
  display: block;
  margin-left: 108px;
}
.item_news_search .cate-news {
  color: #81b441;
  font-weight: 600;
  font-size: 12px;
}
.item_news_search .date-news {
  font-size: 12px;
}

.item_news_search .info-section {
  margin: 2px 0 0 0;
  font-size: 12px;
    line-height: 14px;
}
/* Top news Mobile */
#topnews_mobile {
  height: 0;
  width: 400px;
  -webkit-transition: height 300ms ease-in-out;
  -moz-transition: height 300ms ease-in-out;
  transition: height 300ms ease-in-out;
  top: 45px;
  left: 140px;
  right: 0;
  background: #fff;
  z-index: 99998;
  position: fixed;
  overflow: hidden;
  -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.14),0 4px 8px rgba(0,0,0,0.28);
  -moz-box-shadow: 0 0 4px rgba(0,0,0,0.14),0 4px 8px rgba(0,0,0,0.28);
  box-shadow: 0 0 4px rgba(0,0,0,0.14),0 4px 8px rgba(0,0,0,0.28);
}
#topnews_mobile .topnews_header {
    height: 36px;
    position: fixed;
    visibility: hidden;
    width: 400px;
    top: 45px;
    z-index: 1;
    background: #fff;
    padding: 8px;
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.14),0 4px 8px rgba(0,0,0,0.28);
    -moz-box-shadow: 0 0 4px rgba(0,0,0,0.14),0 4px 8px rgba(0,0,0,0.28);
    box-shadow: 0 0 4px rgba(0,0,0,0.14),0 4px 8px rgba(0,0,0,0.28);
}
#topnews_mobile .topnews_header > span {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}
#topnews_mobile .topnews_header > span > span.fa {
    color: #FF9200;
}
#topnews_mobile .topnews_content {
    margin-top: 38px;
    position: relative;
    overflow: auto;
}
.active_topnews {
  /*height: 550px !important;*/
  height: 346px !important;
}
.active_topnews .topnews_content {
  /*height: 500px !important;*/
  height: 310px !important;
  position: relative;
  overflow: auto;  
}
.active_topnews .topnews_header {
  visibility: inherit !important;
}
.hot_news_nds {
    width: 52px !important;
    text-align: center;
    line-height: 1;
    margin-top: 0 !important;
    margin-right: 5px !important;
    height: 42px;
    padding-top: 7px;
    -webkit-transition: background 400ms ease;
    -moz-transition: background 400ms ease;
    transition: background 400ms ease;
}
.hot_news_nds span {
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
}
.hot_news_nds span.hot_news_sort_desc {
  margin: 0;
  padding: 0;
  margin-top: -3px;
}
.topnews_active {
  /*background: #fff;*/
  color: #81b441 !important;
}
.caribe-overflow-hidden {
  overflow: hidden;
}
.caribe-box-shadow-none {
  box-shadow: none !important;
}
.topnews_content .item_news_search {
  width: 100%;
  float: none;
  font-size: 12px;
  line-height: 15px;
}
.topnews_content h3 {
  font-size: 12px;
}
.caribe-z-index-9b {
  z-index: 900000000 !important;
}
.caribe-z-index-9b1 {
  z-index: 9000000001 !important;
}
.user-lost{
  width:588px;
  margin:20px auto;
  padding: 10px; 
  border: 1px solid #ccc; 
  border-radius: 5px;
  line-height: 30px;
  padding: 0 20px;

}
.user-lost-title{
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #81B441;
    font-size: 15px;
    border-bottom: 2px solid #81B441;
    margin: 20px  0;
}
.user-lost-phone{
  margin:20px 0px 10px;
}
.user-lost-phone-detail{
  letter-spacing: 2px;
  font-size:30px;
  font-weight: bold;
  color:#81B441;
}
.phone-small{
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: bold;
  color:#81B441;
  vertical-align: top;
}
/*.topnews_active span {
    color: #81b441 !important;
}
.topnews_active .hot_news_sort_desc {
    color: #81b441 !important;
}*/
.hot_news_nav a span.x-line {
    display: block;
    width: 28px;
    height: 3px;
    background: url(/wp-content/themes/xehoiviet/images/x-line.png) top left no-repeat;
    background-size: 28px;
    opacity: 0;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    position: absolute;
    left: 50%;
    margin-left: -14px;
    margin-top: -6px;
}
.hot_news_nav.activated a span.x-line {
    opacity: 1;
    top: 25px;
}
.hot_news_nav.activated a span.line2 {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
}
.hot_news_nav.activated a span.line1 {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
}
a.see-all-hotnews {
    padding: 15px;
    display: block;
    text-align: center;
    font-size: 13px;
    border: 1px solid;
    border-color: #337ab7;
    font-weight: 600;
    color: #337ab7;
}
a.see-all-hotnews:hover {
    color: #fff !important;
    background: #337ab1;
}
.item_news.item_news_search.see-all.clearfix {
    padding: 0 !important;
    margin-top: 5px !important;
}
.hot_news_nav.activated {
  background: #fff;
  position: relative;
}
.hot_news_nav.activated a, .hot_news_nav.activated span {
  color: #fff !important;
}

/* End Top News */



/* Login */
.content_login {
    padding: 10px;
    border: 1px solid #CCC;
    /* border-radius: 5px; */
}
.content_login {
    width: 50%;
    margin: 5px auto;
}
.caribe-login-desktop {
    margin: 20px auto !important;
    padding: 30px !important;
}
.caribe-border-radius-5 {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.title_login {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #81B441;
    font-size: 15px;
    border-bottom: 2px solid #81B441;
    margin: 20px;
    /* box-sizing: border-box; */
}
.caribe-margin-bottom-10 {
    margin-bottom: 10px;
}
.caribe-margin-0 {
    margin: 0 !important;
}
/*p {
    margin: 0 0 10px;
}*/
.bao_dl {
    padding: 1px;
    box-shadow: 1px 1px -2px #CCC;
}
.btn_sub_1 {
    border: 1px solid #E88B35;
    background: #fff;
    color: #E88B35;
    padding: 4px 10px;
    border-radius: 0;
    float: left;
    margin-left: 15px;
    font-size: 15px;
}
.rela_css {
    position: relative;
}
.dk_css input {
    border: 1px #e5e5e5 solid;
    border-left: 2px #81B441 solid;
    padding-left: 39px;
    background-repeat: no-repeat;
    border-radius: 0;
    /* margin-bottom: 5px; */
}
#result_dienthoai, #result_dienthoai0, #result_dienthoaizz, #result_dienthoaizzzz, #result_golai, #result_matkhauz, #result_timkiem, #result_ngaysinh, #result_matkhau, #result_email, #result_nhaplaimatkhau, #result_diachi, #result_hoten {
    font: normal normal normal 14px/1 FontAwesome;
    color: #81B441;
    position: absolute;
    top: 12px;
    left: 15px;
}
.t-login-title {
    padding-top: 10px !important;
    clear: both !important;
    margin-left: 20px;
    line-height: 30px !important;
    float: none !important;
}
.login_title > a {
    background: #E88B35;
    border: 1px solid #E88B35;
    padding: 5px 10px;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 200;
}
.btn_sub_1:hover {
    color: #fff;
    background-color: #E88B35;
    cursor: pointer;
}
.login_title > a:hover {
    color: #E88B35;
    background: #fff;
    border-color: #E88B35;
}
/* End Login */
/* ================================================ */
/* Register */
.list-inline>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}
.btn_sub {
    border: 1px solid #5ea628;
    background: #81B441;
    color: #FFF;
    padding: 4px 10px;
    margin-right: 12px;
    margin: 10px 0;
}
/* End Register */
/* ================================================ */


/*----------Form login-------------*/
.wrap-form-login{
    margin: 30px auto;
}
.wrap-form-login .card {
    padding-top: 0;
    background: none;
}
.card {
    position: relative;
    overflow: hidden;
    background: #fff;
    padding: 0;
    margin-bottom: 1rem;
}

.register-xehoidep .nav-tabs {
    background: #fff;
    overflow: hidden;
    padding: 0;
    list-style: none;
    margin: 0;
    position: relative;
    z-index: 1;
}
.google-verify-box {
    width: 304px;
    margin: 0 auto;
}
.wrap-form-login .nav-tabs {
    border-bottom: 1px solid #ddd;
}
.wrap-form-login .nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}
.register-xehoidep .nav-tabs>li {
    float: left;
    width: 47%;
    text-align: center;
    padding: .3333rem 0 0;
    height: 3.67rem;
    position: relative;
}
.register-xehoidep .nav-tabs>li.active {
    background: #5d9617!important;
}
.register-xehoidep .nav-tabs>li:before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-bottom: 1.8335rem solid transparent;
    border-top: 1.8335rem solid transparent;
    border-left: 13px solid #fff;
    right: -13px;
    top: 0;
    z-index: 3;
}
.register-xehoidep .nav-tabs>li:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-bottom: 1.8335rem solid transparent;
    border-top: 1.8335rem solid transparent;
    border-left: 15px solid #ccc;
    right: -15px;
    top: 0;
    z-index: 2;
}
.register-xehoidep .nav-tabs>li.active:after {
    border-left: 15px solid #5d9617;
    z-index: 4;
    right: -15px;
}


.wrap-form-login .nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}
.register-xehoidep .nav-tabs a {
    background: none!important;
    border: none!important;
    color: #333;
}
.wrap-form-login .nav-tabs>li.active>a,.wrap-form-login .nav-tabs>li.active>a:hover,.wrap-form-login .nav-tabs>li.active>a:focus {
    color: #555;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    cursor: default;
}
.register-xehoidep .nav-tabs .number {
    height: 1.667rem;
    width: 1.667rem;
    line-height: 1.5rem;
    border: 1px solid #333;
    border-radius: 50%;
    font-size: 1rem;
    display: inline-block;
    color: #333;
}
.register-xehoidep .nav-tabs>li.active .number {
    color: #fff;
    border-color: #fff;
}
.register-xehoidep .nav-tabs .text {
    display: block;
    font-size: .91667rem;
}
.register-xehoidep .nav-tabs>li.active .text {
    color: #fff;
}

.wrap-form-login .btn-blue {
    color: #fff!important;
    font-size: 1.3rem;
    line-height: 3.2rem;
    padding: 0;
    margin-top: 1rem;
    border-radius: .4rem;
}
.wrap-form-login .btn-block {
    display: block;
    width: 100%;
}
.register-xehoidep .register-xehoidep-account h3 {
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    margin-top: 2rem;
    color: #333;
    font-weight: bold;
}
.register-xehoidep .register-xehoidep-account .btn-block {
    margin-bottom: 1rem;
    height: 3.67rem;
    line-height: 3.67rem;
    text-align: center;
    
}
.register-xehoidep .btn-blue {
    background: #E88B35;
}
.register-xehoidep .btn-blue:hover{
    background: #97BD4C;
}
.register-xehoidep .register-xehoidep-account ul {
    font-size: 1rem;
    color: #333;
}
.register-xehoidep .register-xehoidep-account ul li {
    margin-bottom: 1rem;
    font-size: 1.1rem;
}
.register-xehoidep .register-xehoidep-account ul li a{
    color: #0388cd;
    text-decoration: none;
}
/*---------------*/
.wrap-form-login button,.wrap-form-login input,.wrap-form-login optgroup,.wrap-form-login select,.wrap-form-login textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
.wrap-form-login label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}
.wrap-form-login input {
    line-height: normal;
}
.wrap-form-login input,.wrap-form-login button,.wrap-form-login select,.wrap-form-login textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.wrap-form-login .form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.wrap-form-login .form-control:focus {
    background: #fff;
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.wrap-form-login input[type="text"]:focus, .wrap-form-login input[type="password"]:focus, .wrap-form-login input[type="date"]:focus, .wrap-form-login input[type="datetime"]:focus, .wrap-form-login input[type="datetime-local"]:focus, .wrap-form-login input[type="month"]:focus, .wrap-form-login input[type="week"]:focus, .wrap-form-login input[type="email"]:focus, .wrap-form-login input[type="number"]:focus, .wrap-form-login input[type="search"]:focus, .wrap-form-login input[type="tel"]:focus, .wrap-form-login input[type="time"]:focus, .wrap-form-login input[type="url"]:focus, .wrap-form-login input[type="color"]:focus, .wrap-form-login textarea:focus{
    background: #fff;
}
.wrap-form-login .form-control::-moz-placeholder {
    color: #999;
    opacity: 1;
}
.wrap-form-login .form-control:-ms-input-placeholder {
    color: #999;
}
.wrap-form-login .form-control::-webkit-input-placeholder {
    color: #999;
}
.wrap-form-login .form-control::-ms-expand {
    background-color: transparent;
    border: 0;
}
.wrap-form-login .form-control[disabled],
.wrap-form-login .form-control[readonly],
.wrap-form-login fieldset[disabled] .form-control {
    background-color: #eee;
    opacity: 1;
}
.wrap-form-login .form-control[disabled],
.wrap-form-login fieldset[disabled] .form-control {
    cursor: not-allowed;
}
.wrap-form-login textarea.form-control {
    height: auto;
}
.wrap-form-login p.activatioin-first {
    font-weight: 600;
    margin-bottom: 0;
    font-size: 18px;
}
.register-xehoidep .register-xehoidep-account .form-group {
    margin-bottom: 10px;
    position: relative;
}

.register-xehoidep .register-xehoidep-account .form-group label {
    font-size: 1rem;
    color: #8e9098;
    font-weight: bold;
    margin-top: 0;
}
.register-xehoidep .register-xehoidep-account .form-group .field-validation-valid {
    color: #e88b35;
    font-weight: 600;
}
.register-xehoidep .register-xehoidep-account .form-group .form-control {
    color: #8e9098;
}
.register-xehoidep .register-xehoidep-account .form-group .form-control {
    border: 1px solid #ccc;
    border-radius: .5rem!important;
    height: 44px;
    margin-bottom: 2px;
}

/*#fromLetter .button
{
    width: 80px !important;
}*/
#send_maill_message{
    color: #E88B35;
    font-size: 15px;
    margin-top: -9px;
    margin-bottom: 9px;
}
.check-success-alert {
    display: none;
    position: absolute;
    right: 0;
    top: 55px;
    margin-right: 5px;
    color: green;
}
/* New login form */

#form_dn *{
    
    margin: 0 auto;
    padding:0; 
}
#form_dn body{
    background: #e8eaee;
}
#form_dn{
text-align: center;
}
#form_dn input{
    width: 100%;
}
#form_dn .form-signin_dn input::-webkit-input-placeholder {
   color: #7b7b7b !important;
}

#form_dn .form-signin_dn input:-moz-placeholder { /* Firefox 18- */
   color: #000 !important;  
}

#form_dn .form-signin_dn input::-moz-placeholder {  /* Firefox 19+ */
   color: #000 !important;  
}

#form_dn .form-signin_dn input:-ms-input-placeholder {  
   color: #7b7b7b !important;  
}
#form_dn .form-signin_dn{
    padding: 20px 10px;
}
#form_dn .container_dn{
    width: 100%;
}
#form_dn .title_dn{
    width: 100%;
    background: #fff;
    line-height: 40px;
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 5px;
}
#form_dn .title_dn h2{
    font-size: 16px !important;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    position: relative;

 
}
#form_dn .input-group-addon_dn{
    position: absolute;
    font-size: 20px;
    color: #a4abbe;
    top: 6px;
    z-index: 10;
    left: 6px;
    background-color: transparent;
    border: none;
}
#form_dn .form-control_dn{
background: #fff;
    position: relative;
    height: 44px;
    width: 100%;
    box-sizing: border-box;
    border: transparent;
    box-shadow: none;
    padding-left: 0;
    font-size: 15px;
    padding: 0 0 0 30px;
}
#form_dn .form-control_dn:placeholder{
    background: red;
}
#form_dn .form-control_dn::-webkit-input-placeholder {
   color: #cccccc;
}
 
#form_dn .form-control_dn:-moz-placeholder { /* Firefox 18- */
   color: #cccccc;
}
 
#form_dn .form-control_dn::-moz-placeholder {  /* Firefox 19+ */
   color: #cccccc;
}
 
#form_dn .form-control_dn:-ms-input-placeholder {  
   color: #cccccc; 
}
#form_dn .form-control_dn 
#form_dn .form-control_dn:focus{
    outline: none;
}
#form_dn .bt_dn{
    background: #e88b35;
    color: #fff!important;
    font-size: 20px;
    line-height: 40px;
    margin-top: 10px;
    width: 100%;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 6px;


}
#form_dn .bottom-navs_dn{
    text-align: center;
    margin-top: -12px;
}
#form_dn .bottom-navs_dn .p-href{
        margin-bottom: -8px;
   
}
#form_dn .bottom-navs_dn a{
        color: #0492d3;
    font-size: 14px;
    text-decoration: none;
}
#form_dn .forgotpassword_dn{
    margin-bottom: -2px;
}
#form_dn .signup_dn{
    margin-bottom: 20px;
}
#form_dn .input-group_dn{
    display: block;
}
#form_dn .input-group_dn:first-of-type{
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    background: #fff;
    position: relative;
}
#form_dn .input-group_dn:last-of-type{
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    background: #fff;
    position: relative;
    
}
#form_dn .input-group_dn:last-of-type .form-control_dn{
    border-top: 1px solid #d5d9e4;
}
#form_dn input.form-control_dn {
    background: #f9f9f9;
    margin-bottom: 3px;
    border: 1px solid #d7d7d7 !important;
    border-radius: 6px;
}
/* New login form */


/* Table div */
.pricelist-table
{
    display: table;
    width: 100%;
}

.pricelist-table-heading
{
    display: table-header-group;
    font-weight: bold;
    background: #40455f;
    color: #fff;
}

.pricelist-table-head
{
    display: table-cell;
    border: 1px solid #fff;
    padding: 10px 5px;
}

.pricelist-table-body
{
    display: table-row-group;
}

.pricelist-table-row
{
    display: table-row;
}

.pricelist-table-cell
{
    display: table-cell;
    border-bottom: 1px solid #999999;
    padding: 10px 5px;
    font-size: 14px;
}

/* End table div */



#form_send_mail
{
    margin-top: 15px;
}

#register_email
 {
    cursor: pointer;
    height: 30px;
    font-size: 12px;
    border: none;
    height: 40px;
    font-size: 16px;
    color: #fff;
    background: #008CBA;
}
.box_dknt{
       margin-bottom: -10px;
 }
 .box_dknt .row.collapse.postfix-radius {
    width: 100%;
}
.box_dknt .input-group .bottom_dk{
    margin-left: 0;
}
.row.collapse.postfix-radius{
    margin-left: 10px;
    margin-top: 4px;
 }
 blockquote.fz12.dknt-ctt {
     margin: 0;
     width: 100%;
       /*margin-top: 18px;*/
       padding-bottom: 0px;
    padding-top: 10px; 
}

blockquote.fz12.dknt-ctt {
    margin: 0;
    width: 100%;
	/*margin-top: 18px;*/
	margin-bottom: 10px;
	padding-bottom: 0px;
    padding-top: 10px;	
}
blockquote.fz12.dknt-ctt p{
	margin-bottom: 14px;
}
p.blockquote-title {
    font-size: 18px !important;
    font-weight: 600;
}
#txt_email {
   /* border-radius: 5px 0 0 5px;height: 30px; */
    float: right!important;
    background-color: #f1f1f1!important;
    color: #999!important;
    border-radius: 0;
    border: none;
    width: 274px;
    height: 40px;
    line-height: 40px;
    box-shadow: none;
}
.open_box_dknt
{
    cursor: pointer;
}

#nhanmail, #nhanmail span
{
    cursor: pointer;
    color: #337AB7;
    /*margin-top: 5px;*/
}

#form_send_mail blockquote.fz12 {
   font-size: 12px;
    background: #ffffff;
    color: #666;
    border-radius: 4px;
    -webkit-box-shadow: 1px 1px 10px 0px rgba(153,151,153,1);
    -moz-box-shadow: 1px 1px 10px 0px rgba(153,151,153,1);
    box-shadow: 1px 1px 10px 0px rgba(153,151,153,1);
}

.fb-like.facebook-like-button {
    position: absolute;
    bottom: 2px;
    right: 0;
    margin-top: 0px;
    z-index: 1;
}

#static_content p, #static_content ul, #static_content li
{
    font-size: 13px;
}

#static_content p
{
    margin: 0 0 10px;
}

/* style link tags */
a.tags_link
{
    background: #fff;
    border: 1px dashed #d7d7d7;
    color: #E88B35;
    display: inline-block;
    padding: 2px 4px;
    margin: 3px 0px;
    font-size: 12px;
    white-space: nowrap;
    line-height: 14px;
}

a.tags_link:hover
{
    background: #E88B35;
    color: #fff !important;
}

.bottom-border
{
    border-bottom: 1px solid #dedede !important;
}
/* end style link tag */

/* Up tin tu dong */
.label-add-gia
{
    margin-right: 15px;
}

.item-add-gia
{
    margin-bottom: 10px;
}
/* End up tin tu dong */

.main-content
{
    margin-left: 8.3%;
}

.m-contact span
{
    color: #81B441;
    font-size: 20px;
}

.content_manager h3
{
    font-size: 24px;
}