/* Common */
/* Header */
img.mb-car-img-logo {
    height: 75%;
    margin-left: 30px;
    padding-top: 5px;
    margin-right: 10px;
}
.top-bar .name {
    line-height: 2.8125rem;
    text-align: right;
}
.header-logo {
    width: 70%;
    margin-right: 10px;
}
nav.top-bar {
    /*-webkit-box-shadow: 0 0 4px rgba(0,0,0,0.14),0 4px 8px rgba(0,0,0,0.28);
    -moz-box-shadow: 0 0 4px rgba(0,0,0,0.14),0 4px 8px rgba(0,0,0,0.28);
    box-shadow: 0 0 4px rgba(0,0,0,0.14),0 4px 8px rgba(0,0,0,0.28);*/
    background: #262626;
    margin: 0 auto;
    width: 1200px;
}
header {
  background: #262626;
}
#_x-menu-bot > div.top-bar-section {
  width: 1200px;
  margin: 0 auto;
}
.top-bar-section li:not(.has-form) a:not(.button) {
	background: #262626;
}
.top-bar-section ul.new-post li {
	background: #262626;
} 
.top-bar-section li.new-post > a {
  	display: inline;
    padding: 5px !important;
    /*margin-right: 10px;*/
    border: 1px solid #fff;
    border-radius: 4px;
    background: #fff !important;
    color: #333;
} 
.top-bar-section li.new-post > a:hover {
    border-color: #E88B35;
	background-color: #E88B35 !important;
	color: #fff !important;
} 
.menu-category{
  /*width: 450px;*/
	width: 356px;
	overflow:hidden;
	position: absolute;
	display: none;
	box-shadow:0px 0px 5px #999;
}
.multi-menu:hover .menu-category{
  display: block;
}
.menu-category.active{
	width: 1000px;
}
.top-bar-section .has-dropdown > a:after {
  display: none;
}
.top-bar-section .has-dropdown > a {
  padding-right: 0.9375rem !important;
}
ul.dropdown-menu {
    display: none;
    box-shadow: 0px 0px 5px;
    position: absolute;
}
ul.dropdown-menu > li {
    width: 200px;
    float: none;
}
ul.dropdown-menu > li > a {
    background: #4c4c4c !important;
}
ul.dropdown-menu > li > a:hover {
    background: #262626 !important;
    font-weight: 600;
}
._x_fixed_header > ul.left > li.has-droped:hover > ul.dropdown-menu {
  display: block;
}

.column-menu{
	padding: 30px 15px !important;
	display: block !important;
  /*width: 1000px !important;*/
	width: 356px !important;
	background: #f8f8f8;
	/* FF 3.5+*/
  /*-moz-column-count: 7;*/
	-moz-column-count: 2;
	-moz-column-gap: 10px;
	-moz-column-rule: ;
	/*Saf3, Chrome*/
  /*-webkit-column-count: 7;*/
	-webkit-column-count: 2;
	-webkit-column-gap: 10px;
	-webkit-column-rule: ;
  /*column-count: 7;*/
	column-count: 2;
	column-gap: 10px;
	column-rule: ;
	overflow:hidden;
}
#columns-menu-1.menu-category, #columns-menu-2.menu-category {
  /*width: 460px !important;*/
  width: 590px !important;
}
#columns-menu-1.menu-category ul.column-menu, #columns-menu-2.menu-category ul.column-menu {
  /* FF 3.5+*/
  /*-moz-column-count: 3 !important;*/
  -moz-column-count: 2 !important;
  -moz-column-gap: 10px;
  -moz-column-rule: ;
  /*Saf3, Chrome*/
  /*-webkit-column-count: 3 !important;*/
  -webkit-column-count: 2 !important;
  -webkit-column-gap: 10px;
  -webkit-column-rule: ;
  /*column-count: 3 !important;*/
  column-count: 2 !important;
  /*width: 460px !important;*/
  width: 356px !important;
}
.column-menu li{
	float: none !important;

}
.column-menu > li > a{
	line-height: 20px !important;
	background: #f8f8f8 !important;
  color: #262626 !important;
}
.column-menu li a:hover{
	font-weight: bold;
}
.column-menu a.column-menu-raquo,
.column-menu a.column-menu-laquo{
	font-weight: bold;
}
.user-info-dropdown > a > img {
    width: 35px;
    border-radius: 100%;
    background: #fff;
    margin-top: -2px;
    height: 35px;
}
.new-post {
	background: #262626 !important;
}
.top-bar-section li.new-post.login-on-bar {
  margin-right: 10px;
}
.top-bar-section li.new-post.login-on-bar > a {
    background: #262626 !important;
    color: #FFFFFF;
    font-weight: 400;
}
.top-bar-section li.new-post.login-on-bar > a:hover {
    background: #fff !important;
    color: #262626 !important;
    border-color: #fff !important;
}
/* Header */
/* Search-form */
.ui-slider .ui-slider-handle {
    color: #555555;
    border-radius: 0;
    border: none;
    height: 16px !important;
    top: -2px !important;
}
.ui-corner-all {
	border-radius: 0 !important;
}
/* Search-form */


.dk-car-float-left
{
	float: right !important;
}

.dk-car-clear
{
	clear: both;
}

.dk-car-base-footer
{
	background: #262626;
	text-align: center;
	padding: 10px 0px;
	    font-size: 13px;
	color: #FFF;
}

.dk-car-post-li
{
	margin-right: 30px;
}

.dk-car-footer
{
	padding: 5px 0px;
}

.dk-base-max-width
{
  width: 1200px !important;
  max-width: 1200px !important;
}
.dk-base-max-width > .medium-7.columns
{
  width: 700px !important;
  padding: 0 !important;
}

.dk-base-max-width > .medium-5.columns
{
  width: 500px !important;
  padding: 0 !important;
}

.dk-base-max-width > .medium-5.columns > .medium-8.columns
{
  width: 300px !important;
  padding: 0 15px !important;
}
.dk-base-max-width > .medium-5.columns > .medium-4.columns
{
  width: 200px !important;
  padding: 0 !important;
}

.dk-car-banner
{
	margin-bottom: 20px;
  margin-top: 20px;
}

.dk-car-banner img
{
	width: 100%;
}

.dk-car-dropdown-menu
{
    overflow-x: hidden !important;
    width: auto !important;
}

.dk-car-dropdown-menu li a
{
    padding: 0px 15px !important;
}

.dk-car-dropdown-menu::-webkit-scrollbar
{
	width: 5px;
	background: #333;
}

.dk-car-dropdown-menu::-webkit-scrollbar-thumb 
{
	background: #FFF;
}

.dk-car-404-text
{
	color: #B9B9B9;
	font-size: 13px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.dk-car-404-title
{
	color: #E88B35;
	font-size: 13px;
	font-weight: bold;
}

/* Pagination */
    .pagination {
      height: 36px;
      margin: 18px auto;
      text-align: right;
    }
    .pagination ul {
      display: inline-block;
      padding: 0;
      *display: inline;
      /* IE7 inline-block hack */
      *zoom: 1;
      margin-left: 0;
      margin-bottom: 0;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
      -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    }
    .pagination li {
      display: inline;
    }
    .pagination a {
      float: left;
      padding: 0 14px;
      line-height: 34px;
      text-decoration: none;
      border: 1px solid #e88b35;
      border-left-width: 0;
      color: #e88b35;
    }
    .pagination a:hover,
    .pagination .active a {
      background-color: #e88b35 !important;
      color: #fff;
    }
    .pagination .active a {
      color: #fff;
      cursor: default;
    }
    .pagination .disabled span,
    .pagination .disabled a,
    .pagination .disabled a:hover {
      color: #999999;
      background-color: transparent;
      cursor: default;
    }
    .pagination li:first-child a {
      border-left-width: 1px;
      -webkit-border-radius: 3px 0 0 3px;
      -moz-border-radius: 3px 0 0 3px;
      border-radius: 3px 0 0 3px;
    }
    .pagination li:last-child a {
      -webkit-border-radius: 0 3px 3px 0;
      -moz-border-radius: 0 3px 3px 0;
      border-radius: 0 3px 3px 0;
    }
/* End .pagination */