.dk-car-form-search-price
{
	padding-top: 10px;
}

.dk-car-form-bg
{
	background: url('/wp-content/themes/xehoiviet/images/form_search_bg.png') no-repeat;
	padding: 30px 0px;
	position: relative;
	background-size: 100%;
	padding-top: 75px;
	margin-top: -45px;
}

.dk-car-label-price
{
	
}

.dk-car-form-search
{
	background: rgba(0,0, 0, 0.5);
    padding-top: 15px;
    padding-bottom: 15px;
    color: #333;
}

.dk-car-form-search label
{
	color: #FFF;
	text-align: center;
}

button.dk-car-form-search-more
{
	background: none;
	color: #fff;
	border: none;
	padding: 0px;
	font-weight: bold;
}

button.dk-car-form-search-sub
{
	padding: 10px 10px;
	color: #fff;
	background: #E88B35;
}

button.dk-car-form-search-sub:hover
{
	background: #EFA33D;
}