.select2-container
{
    
}

button.mb-car-btn-right
{
    float: right;
    padding: 0em 1.5rem;
    background: #E88B35;
    color: #FFF;
    display:inline-block;
}

.mb-car-input-inline
{
    overflow: hidden;
}

.ui-slider .ui-slider-handle
{
    width: 1em !important;
}

.ui-widget-header
{
    background: #E88B35 !important;
}

/* tắt thanh giá của ionslider */
.irs-grid
{
    display: none !important;
}

.irs-slider
{
    width: 35px;
    background: #333333;
}


/* đổi màu nền của giá tren ionslider */
.irs-from, .irs-to, .irs-single
{
    background: #E88B35 !important;
}

.irs-from:after, .irs-to:after, .irs-single:after
{
    border-top-color: #E88B35 !important;
}

.select2-container--default .select2-selection--single
{
    border-radius: 0px !important;
}

/* button dành cho các chức năng đóng mở tìm kiếm nâng cao hay là chỉnh sửa meta form cho bài đăng  */
button.mb-btn-more
{
    background: none;
    border: none;
    color: #E88B35;
    padding-bottom: 0px;
    padding-top: 0px;
}

/*.mb-search-form
{
    margin-top: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #E9EAED;
}*/
.mb-search-form {
    margin-top: -20px;
    padding-top: 15px;
    border-bottom: 0px solid #E9EAED;
    background: url('/wp-content/themes/xehoiviet/images/car-bg-search-2.jpg') no-repeat;
    /*background: url('/wp-content/themes/xehoiviet/images/form_search_bg.png') no-repeat;*/
    background-size: cover;
}
.mb-form-title
{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 18px;
    /*font-weight: bold;*/
    color: #E6E6E6;
    text-shadow: 1px 1px 1px #444444;
}

.mb-item-50
{
    width: 50% !important;
}

.mb-small-padding
{
    padding: 0.5rem 0.5rem;
}

.mb-full-search
{
    padding-right: 0px;
    padding-top: 5px;
    text-align: left;
}

.mb-full-search button
{
    background: none;
    border: none;
    color: #E88B35;
    padding: 0;
    float: left !important;
    text-shadow: 1px 1px 1px #212121;
}

.mb-btn-search
{
    width: 40%;
    padding-left: 0px;
}

.mb-btn-search button
{
    float: right;
    color: #FFF;
}

.mb-select-col
{
    margin-bottom: 1rem;
}

button.mb-btn-del
{
    background: #fff;
    border: none;
    color: #333333;
    padding: 0px;
    position: absolute;
    right: 7%;
    top: 5%;
}



.mb-search-form select,.mb-search-form input[type="text"] {
    margin: 0px 0px 0.5rem !important;
}

.mb-search-form div.btn-search-form-main {
    padding: 2px !important;
}

.mb-search-form button {
    padding: 0em 3rem;
    margin: 0px 0px 0.5rem;
}