/* line 4,  */
.bg-orange {
  background: #E88B35 !important; }

  .bg-orange ul li{
  background: #E88B35 !important; }

  .black-medium {
  background: #333333; }

/* line 9,  */
.mb-item-message {
  font-size: 13px;
  padding: 2%; }

/* line 15,  */
.mb-item-message span {
  font-weight: bold; }

/* line 20,  */
.mb-item-message a {
  font-weight: bold; }

/* line 25,  */
.mb-item {
  padding: 1%; }

/* line 30,  */
.mb-sort {
  margin-top: 1rem; }

/* line 35,  */
.mb-sort-item {
  padding: 0; }

/* line 40,  */
.mb-sort-item select {
  margin: 0;
  border: none; }

/* line 46,  */
.mb-item-show {
  border: 1px solid #E9EAED;
  padding: 3% 1% 3% 1%;
  margin-top: 2%; }

/* line 53,  */
.mb-img-show {
  width: 40% !important;
  padding-left: 1%;
  padding-right: 1%; }

/* line 59,  */
.mb-price {
  font-size: 12px;
  font-weight: bold;
  color: #FFF;
  width: 100%;
  background: #E88B35;
  padding: 0px;
  text-align: center; }

/* line 70,  */
.mb-img-show img {
  width: 100%; }

/* line 75,  */
.mb-text-show {
  width: 60% !important;
  padding-left: 0px;
  padding-right: 0px; }

/* line 82,  */
.mb-title-item {
  line-height: 18px !important;
  margin-bottom: 1%; }

/* line 88,  */
.mb-title-item a {
  color: #E88B35;
  font-size: 14px;
  font-weight: bold;
  font: bold 14px/0px "Arial" !important; }

/* line 97,  */
.mb-item-sumary {
  font-size: 12px; }

/* line 102,  */
.mb-item-sumary i {
  margin-right: 0.5em;
  color: #144C7F; }

/* line 108,  */
.mb-pagi-show {
  width: 50%;
  text-align: center;
  padding: 1%; }

/* line 115,  */
.mb-pagi-show a {
  color: #FFF;
  width: 100%;
  text-align: center;
  padding: 7% 0%;
  width: 100%;
  margin: 0%;
  background: #DB5325; }

/* line 127,  */
a.pagi_disable {
  background: #5A5A5A; }

/* ======================= details css ====================== */
/* line 135,  */
.mb-row-post {
  padding: 2%; }

/* line 140,  */
.mb-title-details {
  margin-top: 3%;
  margin-bottom: 3%;
  color: #DB5325;
  font-size: 18px;
  font-weight: bold;
  line-height: 22px; }

/* line 150,  */
.mb-post-row {
  padding: 1% 0% 1% 1%;
  font-size: 17px; }

/* line 156,  */
.mb-post-meta {
  width: 50%;
  padding: 0px 1% 0px 0px;
  font-weight: bold;
  word-wrap: break-word; }

/* line 164,  */
.mb-post-val {
  width: 50%;
  padding: 0px; }

/* line 170,  */
.mb-price-text {
  color: #264d00;
  font-weight: bold; }

/* line 176,  */
.mb-post-content {
  border: 1px solid #A9A9A9;
  padding: 0% !important;
  margin-top: 3%;
  margin-bottom: 0%;
  word-wrap: break-word; }

/* line 185,  */
.mb-content-title {
  background: #DB5325;
  color: #FFF;
  font-weight: bold;
  font-size: 20px;
  padding-top: 2%; }

/* line 194,  */
.mb-content-content {
  padding: 4%; }

/* line 199,  */
.mb-border-meta {
  border-bottom: 1px solid #9C9C9C; }

/*============================== css img ===============================*/
/* line 205,  */
.btn_del_img {
  position: absolute;
  right: 7%;
  top: 7%;
  padding: 1%;
  color: #FFF;
  background: #5A5A5A; }

/*  ========================== footer ===============================  */
/* line 217,  */
.mb-orange {
  background: #272822 !important; }

/* line 222,  */
.mb-col-footer {
  width: 50%; }

/* line 227,  */
.mb-col-footer a {
  color: #586820;
  font-weight: bold;
  font-size: 16px; }

/* line 234,  */
.mb-info-footer {
  background: #333333;
  color: #FFF;
  text-align: center; 
  padding-top: 20px;
  padding-bottom: 50px;
}

/* class dùng để set cho nhiều chổ trong project */
/* line 244,  */
.logo_header img {
  width: 150px; }

/* line 250,  */
.full-width {
  width: 100% !important; }

/* Số lượng bài viết ở footer */
/* line 256,  */
.mb-footer-quantity {
  float: right; }

/* dùng đế dành cho các item có select2. */
/* line 262,  */
.margin-bottom-5 {
  margin-bottom: 5%; }

/* Màu của điện thoại, web, email v.v... */
/* line 268,  */
.contact-text {
  color: #337AB7; }
