/* css for slider customer vip*/
.list-slider {
	height: auto;
	/*margin-bottom: 20px;*/
  /*margin-top: 20px;*/
  max-height: 300px;
  overflow: hidden;
}
.slide-title {
  padding: 0px 10px 2px;
  font-size: 12px;
  font-weight: bold;
  color: #81B441;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.slide-title h3{
  font-size: 12px;
  margin: 0px;
  display: inline-block;
  color: #81B441;
}
.slide-title>h3>a {
  font-weight: bold;
} 
.slide-title > span {
  float: right;
  clear: both;
}
/*.slide-title button {
    padding: 0px 15px 0px 15px;
    border-radius: 0px;
    margin-left: 5px;
}*/
.line-view {
  font-size: 11px;
  color: #999;
}
.t-style-viewmore {
    text-align: center !important;
    padding: 45px 10px 55px 10px !important;
    height: 100% !important;
    border: 1px solid #81B441 !important;
    color: #81B441 !important;
    margin: 0 10px;
}
.t-style-plus {
  font-size: 30px;
}
.slide-title button {
  padding: 0px 7px 0px 7px;
  border-radius: 0;
  margin-left: 5px;
  background-image: none;
  background: none;
  color: #81B441;
  border: 1px solid;
  /*margin-top: -3px;*/
  margin-bottom: 0;
}
.slide-title button:hover, .slide-title button:focus {
  background: none;
  /*color: #4385F5;*/
  color: #262626;
  border-color: #262626;
}
.swiper-container {
    width: 100%;
    height: auto;
    background-color: #E8F8FF !important;
    padding: 5px;
    padding-left: 0;
    max-height: 300px;
    overflow: hidden;
}
.swiper-slide {
    text-align: left;
}
  
.change-title {
    /*-webkit-animation-name: keytitle;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 10;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: linear;
    -webkit-animation: keytitle 1s infinite;

}
@-webkit-keyframes keytitle {
  0% {
    color: red;
    font-weight: bold;
    
  }
  50% {
    color: #78F31C;
   
  }
  100% {
    color: red;
    font-weight: bold;

  }
  /*20% {
    color: #78F31C;
  }
  25% {
    color: red;
    font-weight: bold;
  }
  30% {
    color: #78F31C;
  }
  35% {
    color: red;
    font-weight: bold;
  }
  40% {
    color: red;
    font-weight: bold;
  }
  60% {
    color: #78F31C;
  }
  80% {
    color: red;
    font-weight: bold;
  }
  100% {
    color: red;

  }*/
}
/* css for item in slider */
#owl-demo .item{
    /*background: #42bdc2;*/
    /*border: 1px solid #bbb;*/
    padding: 10px 5px 10px 0px;
    margin: 5px;
    color: #000;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    /*text-align: center;*/
}
#owl-demo1 .item{
    /*background: #42bdc2;*/
    /*border: 1px solid #bbb;*/
    padding: 10px 5px 10px 0px;
    margin: 5px;
    color: #000;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    /*text-align: center;*/
}
/* css for box in item*/
.box-customervip {
  	width: 100%;
    text-align: left !important;
    padding-left: 4px;
}
.bc-title {
    font-weight: 600;
    height: 32px;
    overflow: hidden;
    margin-bottom: 5px;
    font-size: 12px;
    line-height: 16px;
    text-overflow: ellipsis;
}
/*span.label-vip {
    background-color: #FFD800;
    color: #fff;
    padding: 2px 3px;
    height: 15px;
    margin-right: 8px;
    font-size: 10px;
    position: relative;
    text-transform: uppercase;
}
span.label-vip:after {
    position: absolute;
    content: "";
    width: 14px;
    height: 15px;
    border: 7px solid #FFD800;
    border-width: 7px 8px 7px 6px;
    right: -14px;
    top: 0px;
    border-color: transparent transparent transparent #FFD800;
}*/
/*span.label-Partner {
  background-color: #27B510;
}
span.label-Partner:after {
  border-color: transparent transparent transparent #27B510;
}*/

/* New label-vip */
/* @author Huyen Dan Phan */
/* @time 9:27:00 07-04-2016 */
.label-vip {
    background-color: #FBBC05;
    color: #5d5d5d;
    font-size: 8px;
    left: 0;
    top: -2px;
    margin-right: 8px;
    text-transform: uppercase;
    color: red;
    padding: 0 5px;
    height: 14px;
    line-height: 14px;
    z-index: 95;
    display: inline-block;
    position: relative;
    font-weight: bold;
}
.label-vip:after {
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    border: 7px solid #FBBC05;
    border-width: 7px 8px 7px 6px;
    right: -14px;
    top: 0;
    border-color: transparent transparent transparent #FBBC05;
    position: absolute;
}
.label-vip.label-Vip {
    background-color: #FBBC05;
    color: #fff;
}
.label-vip.label-Partner {
    background-color: #109D59;
    color: #fff;
}
.label-vip.label-Partner:after {
    border-color: solid #109D59;
    border-color: transparent transparent transparent #109D59;
}
.label-vip.label-Dealer {
    background-color: #4385F5;
    color: #fff;
}
.label-vip.label-Dealer:after {
    border-color: solid #4385F5;
    border-color: transparent transparent transparent #4385F5;
}
/* End New label-vip */


.bc-title > a {
  color: #0080FF;
  /*color: rgba(255, 139, 12, 0.93);*/
}
.bc-title > a:hover {
  color: #FF842B;
  /*color: #81B441;*/
}
.bc-img {
	width: auto;
	max-height: 140px;
	overflow: hidden;
  position: relative;
}
.bc-info {
  line-height: 16px;
}
.bc-info .line-view {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.bc-img	img{
	width: 100%;
  background: #fff;
}
.bci-price, .bci-areage {
    color: #384959;
}
.bci-price {
  padding-top: 3px;
}
.bci-price > b {
    color: #81B441 !important;
}
.bci-created {
    color: #3498db;
}
/* css custom carousel*/ 
.owl-buttons {
	display: none;
}
.swiper-wrapper, .swiper-wrapper1 {
    margin-top: 5px;
    max-height: 220px;
    overflow: hidden;
}
/*.owl-stage-outer {
  max-height: 220px;
  overflow: hidden;
}*/
.view-popup {
    position: absolute;
    bottom: 5px;
    left: 5px;
    background: rgba(255, 255, 255, 0.85);
    padding: 0 10px 0 7px;
    border-radius: 12px;
}
.view-popup > span.fa {
  color: #B5B5B5;
}
.item-price {
  color: #81B441;
}
@media all and (min-width: 1200px) {

  .bc-img {
    width: auto;
    max-height: 90px;
    overflow: hidden;
  }

}

@media screen and (max-width: 768px) {
  .bc-title {
    margin-bottom: 0;
  }
  .slide-title {
    border-bottom: 1px solid rgba(232, 232, 232, 0.51);
    padding: 7px;
    margin-bottom: 5px;
    padding-right: 3px;
    /*background: url('../images/nds-color-icon.png') no-repeat;*/
    /*background-size: 25px;*/
    /*background-position: 7px 5px;*/
  }
  .slide-title > a {
    color: #81B441 !important;
    /*margin-right: 10px;*/
    /*padding-left: 30px;*/
    padding-left: 0px;
  }
  .swiper-container {
    width: 100%;
    height: auto;
    background-color: #fff !important;
    padding: 5px 0px;
    border-top: 14px;
    border-bottom: 14px;
    border-color: #efeff4;
    border-style: solid;
    border-left: 0;
    border-right: 0;
  }
  .slide-title > span {
    /*display: none;*/
  }
  .swiper-wrapper, .swiper-wrapper1 {
    width: 160px !important;
    overflow: visible;
  }
  .swiper-container-free-mode>.swiper-wrapper {
    margin: 0 !important;
  }
  .box-customervip {
    padding-left: 5px;
  }
  .box-viewmore {
      text-align: center;
      padding: 36px 10px 43px 10px !important;
      height: 100%;
      border: 1px solid #81B441;
      color: #81B441;
      margin: 16px 10px 0 5px !important;
  }
  .box-viewmore span.fa {
      font-size: 30px;
  }
  .wrapper-item-price {
    margin: 8px 0 0 0;
    font-size: 14px;
    line-height: 16px;
  }
  .box-customervip div.line-view.fz11 {
    overflow: hidden;
    height: 16px;
  }
}
/* iPhone 5 (320 pixels) */
@media screen and (max-width: 320px) {
  .slide-title {
    text-transform: capitalize;
  }
  .slide-title > a {
      margin-right: -3px;
      /*padding-left: 28px;*/
      /*padding-left: 28px;*/
  }
}

