/* DNB KUNDEPORTAL GLOBAL CSS */
/* GUI-TEAM PORTAL-RELEASE NOVEMBER - 20131123  06:00 */
/* MainMenuDropDown */
#searchDropdown {
	left: 50%;
	z-index: 1000;
	display:noen;
	margin-left: -119px;
    position: fixed;
    top: 130px;
    width: 303px;
	   -moz-box-shadow:    0 -2px 7px 5px #dedede;
    -webkit-box-shadow: 0 -2px 7px 5px #dedede;
    box-shadow:        0 -2px 7px 5px #dedede;
		 }
#searchDropdown h4 {
    background: url("/portalfront/dnb/images/gfx/topBgShadowHelp.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #58595B;
    display: block;
    font-weight: normal;
    height: 18px;
    margin-top: -8px;
    padding: 13px 0 4px 9px;
    width: 294px;
	border-bottom: 1px solid #EBEBEB;
}
#searchDropdown .searchResults{
	background:#fff;
	margin:0;
}
#searchDropdown .searchResults li {
	list-style:none;
	border-bottom:1px solid #EBEBEB;
	display:block;
	cursor:pointer;
	margin-right:10px;
	background:url("/portalfront/dnb/images/gfx/arrow-right_link.gif") no-repeat scroll right center transparent;
	padding:0 13px 0 0;
	margin:0 0 0 7px;
	margin: 0;
}
#searchDropdown .searchResults li:last-child {
	margin-bottom:0;
}
#searchDropdown .searchResults li.selectedLink{
	list-style:none;
	border-bottom:1px solid #EBEBEB;
	display:block;
	width:289px;
	cursor:pointer;
	padding:0 13px 0px 0;
	/*margin-right:10px;*/
	background-image:url("/portalfront/dnb/images/gfx/bgGradientRed.gif");
	background-position:center right;
	color:#fff;
	margin:0 0 0 7px;
	margin: 0;
}
#searchDropdown .searchResults li.selectedLink a{
    color:#fff;
}
#searchDropdown .searchResults li p {
	/*background:url("images/gfx/livesearch/arrow_gray.png") no-repeat  scroll right center transparent;*/
    display:block;
    margin-right:10px;
	margin-left:10px;
	font-size:0.9em;
	padding:0 0 0px;
    text-align:left;
}
#searchDropdown .searchResults li a p {
	margin-left: 0px;	
}
#searchDropdown .searchResults li a {
	display:block;
	padding:5px 0 5px 10px;
	/*font-size:0.8em;*/
	text-decoration:none !important;
	color:#444444;
}
#searchDropDownGfxBottom {
 background: none repeat scroll 0 0 #FAFAFA;
    display: block;
    height: 19px;
    padding: 5px;
    text-align: center;
    margin-bottom: -2px;
		-moz-border-radius:0px 0px 4px 4px;
	-webkit-border-radius:0px 0px 4px 4px;
	border-radius:0px 0px 4px 4px;
}
#searchDropDownGfxBottom:hover,
#searchDropDownGfxBottom.mSelection,
#searchDropDownGfxBottom:focus {
	background:#007272;
	}
#searchDropDownGfxBottom a {
	display: block;
	padding:0px ;
	margin:0;
	color:#007272;
	font-size:1em;
	text-decoration:none !important;
	text-transform:uppercase;
	}
#searchDropDownGfxBottom.mSelection a {
	color: #FFFFFF;	
}
#searchDropDownGfxBottom a:hover,
#searchDropDownGfxBottom a.selectedLink {
	color:#ffffff;
}
#searchDropdown .searchResults li h5 {
	margin:0;
	padding:0;
	font-weight:normal;
	font-size: 1em;
}

/* IE6 hacks */
* html #searchDropdown {position: absolute;}
#searchResultPage div#column_right {
	width:210px;
	padding-left:20px;
	_width:220px;
	_padding-left:30px;
	background-color:transparent;
    margin-right: 10px;
}
#searchResultPage div#column_left {
	width:700px;
	display:block;
}
#searchResultPage h1.headline{
	font-weight:normal;
	background-color:transparent;
	margin:0px;
	pading-left:10px;
	margin-top: -70px;
	margin-bottom:20px;
	padding:10px;
}
/*searchFilterTopic*/
div#searchFilter {
	margin-top:0px;
	/*margin-top:44px;*/
    padding-right:2px;
    padding-right:0;	
}
li.searchFilterTopic {
	list-style-type: none;
    border-bottom:1px solid #EBEBEB;
    margin:0px;
	padding:3px 10px;
}
li.searchFilterTopic span{
	text-align:right;
	float:right;
	_margin-top:-18px;
    _padding-right:10px;
    position:relative;	
}
/*BROWSER FIKS*/
*+html .searchFilterTopic span {
	margin-top: -19px; 
	margin-right:8px; } /* for IE7 */

li.searchFilterTopic a{
	text-decoration: none;
	cursor: default;
	color:#58595B;
}
li.searchFilterTopic.clickable a {
	color:#007272;
	cursor:pointer;
	display: block;
}
li.searchFilterTopic.clickable a:hover {
	text-decoration: underline;
}
li.searchFilterTopic.active a{ 
	margin-left:10px;
    color:#333333;
}
li.searchFilterTopic.active {
	background: #fff url(/portalfront/dnb/images/gfx/selectorListArrow.gif) no-repeat;
	color: black;
	margin-top:0px;
	padding-top:3px;
	padding-bottom:5px;
	margin-left:-10px;
    border-bottom:0px solid #EBEBEB;
	position:relative;
}
#searchResultPage #searchFeedBack {
	margin-left: 20px;
	margin-bottom: 20px;
}
#searchResultPage #paginationNavigation {
	text-align: center;
	margin-top: 25px;
	background-color:#ffffff;
	height:30px;
	margin:0;
	margin-top:-21px;
	padding:10px 0 20px 0;
	border-top:1px solid #EBEBEB;
}
#searchResultPage ul.paginationList{
	padding-left:10px;
}
#searchResultPage .pagingBtn {
background-color:#ffffff;
}
#searchResultPage .next.pagingBtn, #searchResultPage .previous.pagingBtn {
background-color:#ffffff;
border:0 solid #ECECEC;
color:#007272;
text-decoration:underline;
}
#searchResultPage .pagingBtn:hover {
background-color:#007272;
color:#ffffff;
}
#paginationNavigation a.activePagingBtn{
	background-color:#007272;
	color: #fff;
}
#searchResultPage div#column_right #searchFilter {
	background-color:#ffffff;
	BORDER:1PX SOLID #EBEBEB;
	-moz-border-radius:4px;	
}
#searchResultPage div#column_right #searchFilter .topicTitleBar{
	border-bottom:0 solid #ebebeb;
	color:#58595B;
	font-weight:bold;
	padding-left:10px;
	border-top:0 solid #FAFAFA;
}
/*quickLink*/
#quickLinkResults{
	-moz-border-radius:4px;
	background-color:#ffffff;
	margin-bottom:20px;	
}
div.quickLinkResult{
	height:110px;
	margin-bottom:10px;
	padding:10px 0 10px 0;
	border-bottom:1px solid #ebebeb;
}
div.quickLinkResultText{
	height:auto;
	margin-bottom:0;
	padding:10px 0 10px 10px;
	border-bottom:1px solid #ebebeb;
}
div.quickLinkResult img{
	height:auto;
	width:220px;
	padding-right:10px;
	float:left;
	background-color:#ffffff;
}
#searchResultPage span.topicResultDescription{
	/*font-size:0.7em;	*/
	display:block;
	border-top:1px solid #DEDEDE;
	margin-top:5px;
	padding:4px 10px 0 0;
	width:620px;
	_width:610px;
}

#searchResultPage .topicResultDescription img{
	float:left;
	margin-right:10px;
	margin-bottom:10px;
}

#searchResultPage div.quickLinkResult h3.headline, 
#searchResultPage div.quickLinkResultText h3.headline{
	clear:none;
	padding-bottom:10px;
	font-size:1.3em;
    border-bottom:1px solid #ebebeb;
	color:#007272;
	font-weight:normal;
}
#searchResultPage div.quickLinkResult p, 
#searchResultPage div.quickLinkResultText p{
	padding:5px 0 0 0;
	text-align:left;
}

#searchResultPage div.quickLinkResult span.links, 
#searchResultPage div.quickLinkResultText span.links{
	float:left;
	margin-top:2px;
    text-align:left;
}
#searchResultPage div.quickLinkResult a, 
#searchResultPage div.quickLinkResultText a{
	text-decoration:none;
}
#searchResultPage div.planeBox .quickLinkResultText{
	background-color:#ffffff;
	padding-bottom:20px;
	margin-top:15px;
}
div#searchFilterTitle {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	color: gray;
}
/*
#resultSummary h1.headline{
	padding:10px;
}*/

span.pagination {
	color: blue;
	cursor: pointer;	
	border-color: black;
	border-style: solid;
	border-width: 1px;
	margin-right: 1px;
	padding: 4px;
}
span.pagination.currentPage {
	background-color: rgb(210,210,210);
	cursor: default;
	color: black;
	font-weight: bold;	
}
h1.headline .showAllLink {
	font-size:0.7em;
	font-weight:normal;
	cursor:pointer;
	padding-left: 20px;
	color:#E76A0B;
	text-decoration:none;
}
h1.headline .showAllLink:hover {
	text-decoration:underline;
}
.searchString{
	font-weight:bold
}

/*Topic*/
div.topicTitleBar {
	border-bottom:1px solid #ebebeb;
	padding:5px 10px 3px 10px;
	margin-top:0;
	margin-bottom:5px;
}
div.topicTitleBar a{
	text-align: right;
	float:right;
	text-decoration:none;
}
div.topicTitleBar a:hover {
	text-decoration:underline;
}
div.topicResult{
	padding-bottom:10px;
	/*font-size:1.4em;*/
    margin: 0 15px 10px 10px;
	padding:10px;
	float: left;
}
div.topicResult h3 {
	font-size: 1.2em;
	font-weight: normal;
	margin-bottom: 0;
	display: inline-block;
	color: #007272;
}
div.topicResult:hover{
	background-color:#f7f7f7;
	cursor: pointer;
}
div.topicResult.office {
	/*background-color:#f7f7f7;*/
	border:1px solid #DEDEDE;
	
}
div.topicResult.office h3,
div.topicResult.sos h3 {
	color: #58595B;	
}
div.topicResult.office:hover {
	background-color: #ffffff;
	cursor: default;	
}
div.topicResult.sos {
	background-color:#FFFFFF;
	border:1px solid #DEDEDE;
	cursor: default;	
}
div.topicResult.sos p {
	padding-bottom: 0;
}	
div.topicResult > a{
	text-decoration:none;
	color:#007272;
	/*font-size:1em;*/
	/*font-size: 1.1em;*/
	cursor: pointer;
	font-size: 1.2em;
}
div.topicResult a:hover{
	text-decoration:underline;
}
h3.headline a.quickTitleLink {
	text-decoration:none;
	color:#007272;
	font-size:1.3em;
}
h3.headline a.quickTitleLink:hover{
	text-decoration:underline;
}
div.topicResult .link{
	color:#999;
	/*font-size:0.7em;*/
}
.topicResultWrapper{
	background-color:#ffffff;
	border-bottom: 0px solid #Ffffff; 
	margin-bottom: 20px;
	-moz-border-radius:4px;
}
.topicTheme{
	color:#58595B;
	font-size: 1.1em;
}
/*end topic styles*/
span.topicTitle {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.1em;
	text-align: left;
	color:#58595B;
}
span.topicTitleMoreHits {
	color: blue;
	float:right;
	font-size:small;
	right: 0px;
	text-align: right;
	cursor:pointer;	
}
ul#searchFilterTopics {
	padding: 0px;
  	margin: 0px;
	font-size:0.9em;
}
/*end searchPageResult*/

/*search box*/

.searchBox{
	padding:10px;
	border:1px solid #ebebeb;
	/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #f7f7f7 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #f7f7f7 100%);

/* Opera */ 
background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #f7f7f7 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FFFFFF), color-stop(1, #f7f7f7));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #f7f7f7 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to top, #FFFFFF 0%, #f7f7f7 100%);
-webkit-border-radius: 7px;
-moz-border-radius: 7px;
border-radius: 3px;
  margin-left: 10px;
    padding: 15px 65px 0px 15px;
 	width: 570px;
	/*width: 588px;*/
	margin-bottom: 25px;
	box-shadow: 0px 1px #dedede;
}
.searchBox #searchInputField{
	  margin-top: 0;
    padding: 5px 12px 4px;
    width: 79%;
	width: 73%;
}
.searchBox .linkContainer{
  font-size: 1.3em;
    margin-left: -30px;
    margin-top: 10px;
    text-align: left;
}

.searchBox .linkList li {
    padding-left: 15px;
	color:#007272;
}
.searchBox .linkList li.active a, .searchBox .linkList li.active a:link{
	font-weight:normal;
	color:#333333;
}
.searchBox .linkList li.hidden {
	border-left: none;
	padding-left: 0;
	margin-left: 0;	
}
.searchResults{
	padding:20px 10px;
	padding: 0px 0px;
}
.filterSearch{
	display:none;
}
#searchResultPage #searchInputSubmitButton {
	display: inline-block;
    float: none;
    margin-left: -10px;
    padding: 3px 6px 4px 7px;
	background-color:#fff;
		-moz-border-radius:0px 4px 4px 0px;
	-webkit-border-radius:0px 4px 4px 0px;
	border-radius:0px 4px 4px 0px;
}
#searchResults .formsButtonContainer{
	display:block;
}
#searchResults a.readAnswer {
	background: url("/portalfront/dnb/images/gfx/ui/arrowSearch_down.png") no-repeat scroll 0 center transparent;
	padding-left: 20px;
	cursor: pointer;
}
#searchResults a.closeAnswer {
	background: url("/portalfront/dnb/images/gfx/ui/arrowSearch_up.png") no-repeat scroll 0 center transparent;
	padding-left: 20px;
	display: block;
	cursor: pointer;
}
#searchResultPage #searchSuggestion {
	margin-left: 20px;	
}
/* globale jquery ui-stiler...bør ligge inni det stilarket - men vet ikke hvordan andre sider vil bli påvirket - hør med Line
Maa testes om dette påvirker aksjehandel sin auto-complete */

/*.ui-autocomplete { 
	position: absolute; 
	cursor: pointer;
}	
.ui-autocomplete li {
	margin-left: 20px;
}*/
/* Tullestil - skal fjernes!!! */
/*.buttonBox {
	display: none;	
}*/
/* Stiler som kan brukes OM Tobias kan endre markup pa resultat for kontorer */
e .topicResult.office h4 {
    font-size: 1em;
}
#searchResultPage .officeDetail {
	/*float: left;*/
	display:inline-block;
	vertical-align: text-top;
	width: 31%;
}
#searchResultPage .officeDetail ul {
    margin-left: 0;
}    
#searchResultPage .officeDetail li {
    list-style-type: none;
    margin-left: 0;
}
#searchResultPage .officeDetail .hours {
    float: right;
	margin-right: 27px;
}
#searchResultPage .officeDetail.description {
    margin-left: 40px;
   /* float: left;*/
}
#searchResultPage .officeDetail h5 {
    font-size: 1em;
    margin-bottom: 5px;
	font-weight: bold;
	color: #333333;
}
#searchResultPage .officeDetail p {
    padding: 0px 0;
}
#searchResultPage .officeDetail .map {
    margin-top: 10px;
    float: left;
}
#searchResultPage img .topicResultDescription {
	float: left;
}







