/* DNB KUNDEPORTAL GLOBAL CSS */
/* GUI-TEAM PORTAL 20140217 LMK  10:00 */
/* KARUSELL  */
.spaceCarousel {
    background: url("/portalfront/dnb/images/gfx/carousel/carouselSideBar.png") repeat-y scroll 0 bottom transparent;
    display: none;
    height: 225px;
    left: 0;
    position: absolute;
    text-indent: -1000px;
    width: 20px;
    z-index: 10;
}
.spaceCarouselRight {
    background: url("/portalfront/dnb/images/gfx/carousel/carouselSideBar.png") repeat-y scroll -20px bottom transparent;
    display: none;
    height: 225px;
    margin-right: 0;
    position: absolute;
    left: 700px;
    text-indent: -1000px;
    width: 20px;
    z-index: 10;
}
.hbkCarousel .spaceCarousel{
	height: 230px;
	background: url("/portalfront/dnb/images/gfx/carousel/leftHBKSide.png") repeat-y scroll 0 bottom transparent;	
}
.hbkCarousel .spaceCarouselRight{
	height: 190px;
	background:none;
	/*background: url("/portalfront/dnb/images/gfx/carousel/hbkCarouselSideBar.png") repeat-y scroll -20px bottom transparent;*/
}
.carousel {
	position:relative;
	display:block;
	width: 720px;
	height:245px;
	display:block;
	overflow:hidden;
	margin:0 0 15px 0;
	background:none;
	_height:245px;
	float:left;
}
.carousel .contentWrapper {
	position:relative;
	display:block;
	width: 720px;
	height:225px;
	_height:245px;
	left:0;
	overflow:hidden;
	background-color:transparent;
}
.carousel .contentContainer {
	position:absolute;
	top:0;
	left:0;
	height:225px;
	_height:238px;
	overflow:hidden;
	display:block;
	z-index:1;
	width: 700px;
	border-right:0 solid #ffffff;
	border-left:0 solid #ffffff;
}
.carousel .sectionShadow {
	position:absolute;
	top:206px;
	width:700px;
	height:4px;
	position:absolute;
	left:10px;
	display:block;
	z-index:2;
	background:none;
}
.carousel .carouselSlideWrapper {
	display:inline;
	float:left;
	width: 720px;
	height:225px;
	_height:238px;
/*background: url("/portalfront/dnb/images/gfx/carousel/carouselBgHbk.png") no-repeat scroll center bottom #ffffff;*/

}
.carousel .leftArrow, .carousel .rightArrow ,
.hbkCarousel .leftArrow, .hbkCarousel .rightArrow{
	display:block;
	position:absolute;
	top:69px;
	width:22px;
	height:78px;
	z-index:3;
	outline: none;
	display:none;
}
.hbkCarousel .leftArrow, .hbkCarousel .rightArrow{
	top:55px;
}
.hbkCarousel .leftArrow {
	left:20px;
	background:url(/portalfront/dnb/images/gfx/carousel/arrow_leftBig.png) no-repeat;
	background-position:0 0;
}
.carousel .leftArrow{
	left:20px;
	background:url(/portalfront/dnb/images/gfx/carousel/arrow_leftBig.png) no-repeat;
	background-position:0 0;
}
.carousel .leftArrow:hover, .hbkCarousel .leftArrow:hover  {
	background:url(/portalfront/dnb/images/gfx/carousel/arrow_leftBig.png) no-repeat;
	background-position:0 -78px;
}
.carousel .rightArrow{
	right:20px;
	background:url(/portalfront/dnb/images/gfx/carousel/arrow_rightBig.png) no-repeat;
}
.hbkCarousel .rightArrow{
	right:10px;
	background:url(/portalfront/dnb/images/gfx/carousel/arrow_rightBig.png) no-repeat;
	z-index: 10;
}
.carousel .rightArrow:hover, .hbkCarousel .rightArrow:hover  {
	background:url(/portalfront/dnb/images/gfx/carousel/arrow_rightBig.png) no-repeat;
	background-position:0 -78px;
}
.carouselLarge .leftArrow {
	left:20px;
	background:url(/portalfront/dnb/images/gfx/carousel/arrow_leftBig.png) no-repeat;
	background-position:0 0;
}
.carouselLarge .rightArrow {
	right:20px;
	background:url(/portalfront/dnb/images/gfx/carousel/arrow_rightBig.png) no-repeat;
}
.carouselLarge .leftArrow:hover {
	background:url(/portalfront/dnb/images/gfx/carousel/arrow_leftBig.png) no-repeat;
	background-position:0 -78px;
}
.carouselLarge .rightArrow:hover {
	background:url(/portalfront/dnb/images/gfx/carousel/arrow_rightBig.png) no-repeat;
	background-position:0 -78px;
}
.carousel .pagination{
	position:absolute;
	top:215px;
	left:10px;
	margin:0;
	z-index:9;
	height: 29px;
	border-radius: 0 0 0 0;
}
.carousel.carouselLarge .pagination{
	top:380px;
}
.carousel .paginationList, .carousel .paginationList li,
.hbkCarousel .paginationList, .hbkCarousel .paginationList li, {
	 list-style:none;
	 margin: 0 0 0 1px;
}
.carousel .paginationList, .hbkCarousel .paginationList  {
	margin: 1px 4px 5px 0;
	padding:0;
	position:absolute;
	text-align:center;
	display:inline;
}
.carousel .pagination li{ 
margin:0 1px 0 0;
display: inline;
 }
 .carousel .pagination ul, .hbkCarousel .pagination ul{
	left: 350px;
}
 /*fixed 11-04-2011*/
.carousel .pagingBtn, .hbkCarousel .pagingBtn {
	font-size:0.9em;
	margin:0;
	display:block;
	float:left;
	outline: none;
	text-decoration:none !important;
	background:url(/portalfront/dnb/images/icons/pagneringCircle.png) no-repeat;
	background-position:-16px 0;
	color:#58595B;
	width:16px;
	padding:4px 0;
	border:none;
	margin-right:5px;
	text-indent: -1000px;
}
.carousel li.activeSlide a {	
	color:#ffffff !important;
	background:url(/portalfront/dnb/images/icons/pagneringCircle.png) no-repeat;
	background-position:0 0;
	width:16px;
	cursor:default;
}
.carousel .pagingBtn:hover {
	background:url(/portalfront/dnb/images/icons/pagneringCircle.png) no-repeat;
	background-position:0 0;
}
.carousel .carouselTextArea
{
	height: 160px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    overflow: hidden;
	padding-left: 10px;
    padding-right: 15px;
}
.carousel .carouselTextArea:first-child
{
	padding-left: 35px;
}
.hbkCarousel .carouselTextArea {
    font-size: 13px;
    height:145px;
    margin-left: 10px;
    margin-right: 35px;
    overflow: hidden;
    padding-left: 0;
    text-align: left;	
}
.hbkCarousel div.small .carouselTextArea {
    margin-right: 15px;
    margin-top: 10px; 
}

.hbkCarousel div.medium .carouselTextArea {
	*position:absolute;
	*top:50;
	*left:0;
}
.hbkCarousel .hbkMsg .carouselTextArea {
    margin-top: 5px;
	*padding-top: 0;
}
.hbkMsg div.large div.carouselTextArea{
	padding-left:30px;
	font-size:13px;
	 height: 200px;
}
.hbkMsg div.large div.carouselTextArea img{
	float:left;
}
div.hbkMsg div.large div.carouselTextArea div.carouselImg{
	
	margin-left:-30px;
	margin-right: 30px;
}
div.hbkMsg div.large div.carouselTextArea p{
	margin-top:20px;
}
.carousel .carouselTextArea a, 
.carousel .carouselTextArea a:hover{
	color:#333333;
	text-decoration:none;
}
.carousel h3.headline, .carousel h3.headLine, .hbkCarousel h3.headline, .hbkCarousel h3.headLine{
	margin:5px 10px 10px;
    padding: 5px 0;
	color: #58595B;
	font-weight:normal;
	font-size:1.1em;
	border-bottom:1px solid #ebebeb;
}
.carousel .carouselSlideDiv h3.headline a{
	color:#58595A;
}
.carousel h3.headline a:hover, .carousel h3.headLine a:hover, .hbkCarousel h3.headline a:hover, .hbkCarousel h3.headLine a:hover{
	text-decoration:none;
}
.hbkCarousel h3.headline, .hbkCarousel h3.headLine{
	border-bottom:0 solid #ebebeb;
	font-weight:bold;
}
.carousel carouselImg, .hbkCarousel .carouselImg{
	cursor:pointer;
	height:170px;
	float: left;
	margin: 5px 10px 0 10px;
	_margin: 5px 5px 0 5px;
	background-color:#F7F7F7;
	overflow: hidden;
	max-width: 680px;
}
.carousel div.small .carouselImg, 
.hbkCarousel div.small .carouselImg{
	width:200px;
	overflow:hidden;
	margin-right: 10px;
	margin-left: 10px;
	_margin-right: 5px;
	overflow: hidden;
}
.carousel div.medium .carouselImg, 
.hbkCarousel div.medium .carouselImg{
	width:440px;
	overflow:hidden;
	margin-right: 10px;
	margin-left: 10px;
	_margin-right: 5px;
	overflow: hidden;
}
.carousel div.large .carouselImg, 
.hbkCarousel div.large .carouselImg,
.carousel div.full .carouselImg, 
.hbkCarousel div.full .carouselImg{
	width:680px;
	overflow:hidden;
	margin-right: 10px;
	margin-left: 10px;
	_margin-right: 5px;
	overflow: hidden;
}
div.hbkCarousel .hbkMsg div.carouselTextArea div.carouselImg{
	MARGIN-LEFT:0;
	margin-right:10PX;
	width:290px!important;	
}

div.hbkCarousel .hbkMsg div.small div.carouselImg,
div.hbkCarousel .hbkMsg div.medium div.carouselImg,
div.hbkCarousel .hbkMsg div.full div.carouselImg,
div.hbkCarousel .hbkMsg div.large div.carouselImg{
	width:auto;
}
body#dnbLayoutDefaultStartPage div#column_content div#column_left .carousel div.carouselSlideDiv.small{
		background: url("/portalfront/dnb/images/gfx/carousel/shadowLinesBg.png") no-repeat scroll 0 bottom #ffffff;
}
body#dnbLayoutDefaultStartPage div#column_content div#column_left .carousel div.carouselSlideDiv.medium{
		background: url("/portalfront/dnb/images/gfx/carousel/shadowLinesBg.png") no-repeat scroll -239px bottom #ffffff;
}
body#dnbLayoutDefaultStartPage div#column_content div#column_left .carousel.carouselLarge div.carouselSlideDiv.small{
		background: url("/portalfront/dnb/images/gfx/carousel/shadowLinesBgLarge.png") no-repeat scroll 0 bottom #ffffff;
}
body#dnbLayoutDefaultStartPage div#column_content div#column_left .carousel.carouselLarge div.carouselSlideDiv.medium{
		background: url("/portalfront/dnb/images/gfx/carousel/shadowLinesBgLarge.png") no-repeat scroll -239px bottom #ffffff;
}
body#dnbLayoutDefaultStartPage div#column_content div#column_left .carousel div.carouselSlideDiv:last-child{
	    background: url("/portalfront/dnb/images/gfx/carousel/leftSide-shadow.png") no-repeat scroll left 43px #ffffff;	
}
body#dnbLayoutDefaultStartPage div#column_content div#column_left .carousel div.carouselSlideDiv:first-child{
	    background: url("/portalfront/dnb/images/gfx/carousel/leftSide-shadow.png") no-repeat scroll right 43px #ffffff;	
}
body#dnbLayoutDefaultStartPage div#column_content div#column_left .carousel.carouselLarge div.carouselSlideDiv:last-child{
	    background: url("/portalfront/dnb/images/gfx/carousel/leftSide-shadowLarge.png") no-repeat scroll left 43px #ffffff;	
}
body#dnbLayoutDefaultStartPage div#column_content div#column_left .carousel.carouselLarge div.carouselSlideDiv:first-child{
	    background: url("/portalfront/dnb/images/gfx/carousel/leftSide-shadowLarge.png") no-repeat scroll right 43px #ffffff;
}
body#dnbLayoutDefaultStartPage div#column_content div#column_left .carousel .large.carouselSlideDiv:first-child,
body#dnbLayoutDefaultStartPage div#column_content div#column_left .carousel .large.carouselSlideDiv:last-child,
body#dnbLayoutDefaultStartPage div#column_content div#column_left .carousel .full.carouselSlideDiv:first-child,
body#dnbLayoutDefaultStartPage div#column_content div#column_left .carousel .full.carouselSlideDiv:last-child
 {
    background: url("/portalfront/dnb/images/gfx/bottomShadowLarge.png") no-repeat scroll left bottom #FFFFFF;
}
div.hbkCarousel div.content div div.small,
div.carousel div.carouselSlideDiv.small,
div.carousel #wrapper #column_left div.small{
	height: 223px;
    margin-right: 10px;
    width: 220px;
}
div.carousel div.carouselSlideDiv.medium,
div.carouselLarge div.carouselSlideDiv.medium,
div.carousel #wrapper #column_left div.medium{
	 height: 223px;
    margin-right: 0;
    width: 460px;
}
div.hbkCarousel div.content div div.large,
div.hbkCarousel div.content div div.full,
div.carousel div.carouselSlideDiv.large,
div.carousel div.carouselSlideDiv.full,
div.carouselLarge div.carouselSlideDiv.large,
div.carouselLarge div.carouselSlideDiv.full{
	height: 225px;
	_height: 245px;
	width:700px;
	margin-right:0;
}
div.hbkCarousel div.content div div.large,
div.hbkCarousel div.content div div.full,
div.hbkCarousel div.content div div.medium,
div.hbkCarousel div.content div div.small{
	height: 190px;
}
div.carousel.carouselLarge div.carouselSlideDiv.small,
div.carousel.carouselLarge div.carouselSlideDiv.medium,
div.carousel.carouselLarge div.carouselSlideDiv.large,
div.carousel.carouselLarge div.carouselSlideDiv.full{
	height: 393px;
}
div#wrapper div#column_left div.carousel div.carouselSlideDiv.small,
div#wrapper div#column_left div.carousel div.carouselSlideDiv.medium,
div#wrapper div#column_left div.carousel div.carouselSlideDiv.large,
div#wrapper div#column_left div.carousel div.carouselSlideDiv.full{
 padding-bottom: 0;
 margin-right: 10px;
}
/*div.hbkCarousel div.content div div.medium div.carouselTextArea a,*/
div.hbkCarousel div.content .hbkMsg div.medium h3.headLine a{
		color:#58595B;
}
/*div.hbkCarousel div.content div div.medium div.carouselTextArea a:hover,*/
div.hbkCarousel div.content div div.medium h3.headLine a:hover{
	text-decoration:none;
}
.carousel .carouselSlideDiv .carouselImg:hover{
	cursor:pointer;
}
.carousel .carouselSlideDiv .linkContainer, 
.hbkCarousel .carouselImg .linkContainer
{
	bottom: 2px;
	position: absolute;
	left:1px;
	_top:0;
	_margin: 0 40px 20px 0;
	margin: 155px 40px 20px 0;
	z-index:8;
	height: auto;
	padding-top: 0px;
	background: none repeat scroll 0 0 #FFFFFF;
	filter: alpha(opacity=95);/*ie opacity*/
	-moz-opacity: .95;
	opacity: .95;
	
}
.carousel .carouselSlideDiv:first-child .linkContainer 
/*.hbkCarousel .carouselImg .linkContainer*/
{	
background:url("/portalfront/dnb/images/gfx/carousel/ImgFlipLink.png") no-repeat;
	margin: 0 40px 20px -10px;
   _margin:155px 40px 20px -10px;
   padding-top: 5px;
}
.carousel .carouselSlideDiv .linkContainer a, 
.hbkCarousel .carouselImg .linkContainer a{
	color:#007272;
	font-weight:normal;
	font-size:1.6em;
	background: #ffffff; 
    filter: alpha(opacity=95);/*ie opacity*/
    -moz-opacity: .95;
    opacity: .95;
	display:block;
	padding: 8px 10px 8px 40px;
	line-height: 1em;
	font-family:"Lucida Sans", "Lucida Grande", sans-serif;		
	border-right: 1px solid rgba(255, 255, 255, 0.5);		
	border-top: 1px solid rgba(255, 255, 255, 0.5); 
	-moz-background-clip: padding; 
	-webkit-background-clip: padding; 
	background-clip: padding-box; 
}
/*ie7 fix*/
*:first-child + html .carousel .carouselSlideDiv .linkContainer a , 
*:first-child + html .hbkCarousel .carouselImg .linkContainer a{ 
	filter: alpha(opacity=90);
}

div#wrapper #column_left .hbkCarousel .carouselImg .linkContainer{
	margin: 0 20px 30px -20px;
    width: 200px;
	_margin:155px 20px 30px -20px; 
	 display: none;
}
div#wrapper #column_left .hbkCarousel .carouselImg .linkContainer a{
	font-size:1.4em;
	text-align: left;
}
div#wrapper #column_left .hbkCarousel .carouselImg .linkContainer a{
	font-size:0.4em;
	text-align: left;
	font-family:Lucida Sans Unicode;
}
html body#dnbLayoutDefaultStartPage div#wrapper div#column_content div#column_left div.hbkCarousel div.content div div.small{
	background:none;
}
.hbkCarousel .content h3.headLine a:link, .hbkCarousel .content h3.headLine a{
	color:#58595B;
}
.carousel .carouselSlideDiv .linkContainer a:hover, 
.hbkCarousel .carouselImg .linkContainer a:hover,
div#wrapper div#column_left div.hbkCarousel div.content div div.small.active:hover .linkContainer a,
div#wrapper div#column_left div.hbkCarousel div.content div div.medium.active:hover .linkContainer a,
div#wrapper div#column_left div.hbkCarousel div.content div div.large.active:hover .linkContainer a,
div#wrapper div#column_left div.hbkCarousel div.content div div.full.active:hover .linkContainer a,
.carousel .carouselSlideDiv.small.active:hover .linkContainer a,
.carousel .carouselSlideDiv.medium.active:hover .linkContainer a,
.carousel .carouselSlideDiv.large.active:hover .linkContainer a,
.carousel .carouselSlideDiv.full.active:hover .linkContainer a  
{
	background:#007272; 
	color:#ffffff;
	text-decoration:none;
	cursor:pointer;
	padding: 9px 11px 8px 40px;
	border-right: 0 solid rgba(255, 255, 255, 0.5);
	border-top: 0 solid rgba(255, 255, 255, 0.5);
	
}
.carousel .carouselSlideWrapper div.small.carouselSlideDiv,
.carousel .carouselSlideWrapper div.medium.carouselSlideDiv,
.carousel .carouselSlideWrapper div.full.carouselSlideDiv,
.carousel .carouselSlideWrapper div.large.carouselSlideDiv,
.hbkCarousel .content div.small.carouselSlideDiv,
.hbkCarousel .content div.medium.carouselSlideDiv,
.hbkCarousel .content div.full.carouselSlideDiv,
.hbkCarousel .content div.large.carouselSlideDiv{
	padding-bottom: 10px;
}
#wrapper #column_left .carousel div.small.carouselSlideDiv .carouselTextArea {
	margin-left:0;
}
/*BIG carouselLarge versjon*/
.carouselLarge  .spaceCarousel, .carouselLarge .spaceCarouselRight{
    height: 395px;
}
.carouselLarge {
	height: 410px;
	float:left;
}
.carouselLarge .contentContainer { 
	height:395px;
}
.carouselLarge .carouselSlideWrapper{
	height:395px;
}
.carouselLarge .leftArrow, .carouselLarge .rightArrow {
	top:170px;
	height:78px;
}
.carouselLarge .pagination {
	 top: 373px;
}
.carouselLarge .carouselSlideDiv .carouselImg{
	height:340px;
}
.carouselLarge .sectionShadow {
    top: 386px;
}
.carouselLarge .contentWrapper {
  height: 395px;
}
.carouselLarge div.carouselSlideDiv.small .linkContainer{
	max-width: 200px;
	_width: 200px;
}
.carousel.carouselLarge .carouselSlideDiv .linkContainer a{
	font-size: 2.5em;
    font-weight: normal;
    line-height: 1.1;
    padding: 10px 30px 10px 50px;
}
.carousel.carouselLarge .carouselSlideDiv:hover active.linkContainera{
	font-size: 2.5em;
    font-weight: bold;
    line-height: 1.1;
    padding: 11px 31px 10px 50px;
	border:none;
}
.carousel.carouselLarge .carouselSlideDiv.small .linkContainer a{
	font-size: 1.6em;
    padding: 8px 30px 8px 35px;
}
/*hbkCarousel*/
.hbkCarousel {
	display: inline;
    float: left;
    height: 245px;
    /*margin-bottom: 40px;*/
    position: relative;
    width: 720px;
	background: url("/portalfront/dnb/images/gfx/carousel/carouselBgHbk.png");
	background-position:bottom;
	background-repeat:no-repeat;
}
.hbkCarousel .closeBtn {
	float: right;
}
.hbkCarousel .content .carouselImg{
	margin-top:-30px;
	position:relative;
}
.hbkCarousel .hbkMsg div.carouselTextArea h3.headLine{
	display: block;
    font-size: 1.1em;
    left: 330px;
	_left: 300px;
	_width:400px;
    margin: 10px 0 0 0;
    position: absolute;
}
.hbkCarousel .hbkMsg div.carouselTextArea .carouselImg{
	margin-top:5px;
}
.hbkCarousel .areaLink .carouselTextArea a{
	color:#58595b;
}
.hbkCarousel .areaLink .carouselTextArea a:hover{
	text-decoration:none;
}
.hbkCarousel .header h3 {
	float: left;
	margin: 5px 0 0;
	padding: 5px 0;
	font-weight: normal;
}
.hbkCarousel .header {
	clear: both;
	height: 32px;
	z-index: 10;
	background: none repeat scroll 0 0 #FFFFFF;
	border-bottom: 1px solid #EBEBEB;
	margin-left: 20px;
	margin-right: 10px;
}
.hbkCarousel .content {
	width: 720px;
	overflow:hidden;
	position:absolute;
	height: 190px;
	border-right:0 solid #ffffff;
	border-left:0 solid #ffffff;
	clear: both;
	/*z-index: 2;*/
}
.hbkCarousel .content .div {
	float:left;
	height:190px;
	text-align: center;
	width: 720px;
	position:absolute;
	margin-left: 2718px;
	z-index: 1;
	background: url("/portalfront/dnb/images/gfx/carousel/carouselBgHbk.png");
	background-position:bottom;
	background-repeat:no-repeat;
}
.hbkCarousel .content .hbkMsg {
	/*margin-left:-12px;*/
	/*width: 700px;*/
}
.hbkCarousel .content>.hbkMsg{
/*width: 689px;*/
	/**margin-left:-12px;*/
}
div.hbkCarousel div.content div div.medium,
#wrapper #column_left div.hbkCarousel div.medium{
    height: 180px;
    margin-right: -30px;
	_margin-right: -30px;
    width: 340px;
	background:none!important;
}
#wrapper #column_left div.hbkCarousel div.medium{
	/*margin-left:-10px;*/
}
.hbkCarousel .content div.medium .carouselImg {
    width: 290px;
	z-index:1;
	position:relative;
	_MARGIN-LEFT:-10PX;
}
.hbkCarousel .pagination {
	/*background: url("/portalfront/dnb/images/gfx/bottomShadowLarge.png") no-repeat scroll left bottom #FFFFFF;*/
    border-radius: 0 0 0 0;
    height: 30px;
    left: 10px;
    margin: 0;
    position: absolute;
    top: 215px;
    z-index: 9;
}
.hbkCarousel .pagination li {
    background: url("/portalfront/dnb/images/icons/pagneringCircle.png") no-repeat scroll -16px 0 transparent;
	cursor: pointer;
    float: left;
    height: 20px;
    margin: 0 5px 3px 1px;
    padding-top: 2px;
    width: 16px;
	text-decoration:none;
	text-indent: -10000px;
}
.hbkCarousel .pagination li.activeSlide
{
	background: url("/portalfront/dnb/images/icons/pagneringCircle.png") no-repeat scroll -0px 0 transparent;
	color:#ffffff;
}
.hbkCarousel ul {
	position:relative;
	clear:none;
}
.hbkCarousel .rightArrow, .hbkCarousel .leftArrow {
	position: relative;
	float:left;
	clear:left;
	display:none;
}
.hbkCarousel .rightArrow {
	float: right;
	clear:right;
}
.hbkCarousel .closeBtn, .hbkCarousel .closeBtn.close, .hbkCarousel .closeBtn.closed{
	margin:5px 0 0;
	background-image: url("/portalfront/dnb/images/gfx/carousel/closeBtn.png");
	background-repeat:no-repeat;
	background-color:#ffffff;
	background-position:right;
	padding-right:30px;
	border:1px solid #BBBFBF;
	-moz-border-radius: 3px;
	-webkit-border-radius:3px;
	border-radius: 3px;
	cursor:pointer;
	height:20px;
	color:#007272;
}
.hbkCarousel .closeBtn.closed{
	background-image: url("/portalfront/dnb/images/gfx/carousel/closeBtnClosed.png");
}
/*ActiveBanner*/
.moduleIngressAction.activeBanner span.linkContainer {
    background: url("/portalfront/dnb/images/gfx/carousel/ImgFlipLink.png") no-repeat scroll 0 0 transparent;
    bottom: 0;
    height: auto;
    left: 0;
    margin: 0 10px 20px 0;
    padding-top: 5px;
    position: absolute;
    z-index: 8;
}
.moduleIngressAction.activeBanner span.linkContainer span{
    background: none repeat scroll 0 0 #FFFFFF;
    color: #007272;
    display: block;
    font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
    font-size: 1.6em;
    font-weight: normal;
    opacity: 0.95;
    padding: 3px 15px 3px 40px;
}
.moduleIngressAction.activeBanner a:hover span.linkContainer span {
    background: none repeat scroll 0 0 #007272;
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
}
.moduleIngressAction.activeBanner .articleIngress {
     background: url("/portalfront/dnb/images/gfx/bottomShadowLarge.png") no-repeat scroll left bottom transparent;
	display: block;
    margin: 0;
    padding: 0;
	height: 152px; 
	width: 700px;
}
.moduleIngressAction.activeBanner .articleIngress:hover .linkContainer a{
   background: none repeat scroll 0 0 #007272;
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
}
.moduleIngressAction.activeBanner .content {
    margin-left: 10px;
	background: none repeat scroll 0 0 transparent;
}
.moduleIngressAction.activeBanner .buttonBox {
	 bottom: 17px;
    position: absolute;
    right: 20px;
}
.moduleIngressAction.activeBanner .buttonBox span.formsButton {
 background: url("/portalfront/dnb/images/gfx/ingressButton.png") no-repeat scroll 0 0 transparent;
    border: 1px solid #CCCCCC;
    color: #58595B;
    cursor: pointer;
    filter: none;
    float: right;
    font-size: 0.9em;
    font-weight: bold;
    height: 24px;
    margin-left: 20px;
    padding: 11px 10px 4px 0;
    text-shadow: none;
	 border-radius: 4px 4px 4px 4px;
}
.moduleIngressAction.activeBanner .buttonBox span.formsButton img{
	float:left;
	margin-top: -10px;
	margin-right:10px;
}
.moduleIngressAction.activeBanner .content:hover .buttonBox span.formsButton{
	background-position: 0 -40px;
	color:#ffffff;
	text-decoration:none;
}
.moduleIngressAction.activeBanner .content:hover .buttonBox span:hover{
text-decoration:none;
}
.moduleIngressAction.activeBanner .ingressButton{
	float:right;
	padding:20px;
}
#wrapper div.small .carouselImg img {
    margin-left: 0;
    width: 200px;
}
/*new medium style*/
div.hbkCarousel.medium div.content div div.medium, 
#wrapper #column_left div.hbkCarousel.medium div.medium {
	width:460px;
}
.hbkCarousel.medium {
    height: 190px;
}
.hbkCarousel.medium .pagination {
    top: 150px;
    width: 460px; 
	background:none; 
	background-color:#ffffff;
}
.hbkCarousel.medium .content {
    height: 168px;
    width: 460px;
}
.hbkCarousel.medium .pagination ul {
    left: 222px;
}
.hbkCarousel.medium .header {
    border-bottom: 0 solid #EBEBEB;
    height: 2px;
}
.hbkCarousel div.medium .carouselTextArea img {
	margin-right:10px;
	float:left;
}
body#dnbLayoutDefaultStartPage #column_content #column_left hbkCarousel.full{
	background:none;
}
/*styles from DynamicApplication*/
.hbkCarousel .content {
	width: 700px;
}
.hbkCarousel .article {
	margin-left:0;
}
.hbkCarousel .articleHeadline {
	margin-right:0;
}
.hbkCarousel .header {
	margin-left: 10px;
	margin-right: 0;
}
.hbkCarousel .spaceCarousel {
	background: none;
}
.hbkCarousel div.medium .carouselImg {
	margin-left: 0;
}


