/* DNB KUNDEPORTAL GLOBAL CSS */
/* GUI-TEAM PORTAL-RELEASE NOVEMBER - 20140823  12:00 */
/*  PRINT STILER -  NY KUNDEPORTAL */

body, #column_top {
background:none;
}
@font-face
{
  font-family:Arial, Helvetica, sans-serif;
}
body{
  font-family:Arial, Helvetica, sans-serif;
}
#column_top {
position:relative;
}
#column_content{
	margin-top:30px;
	display:block;/*prevent blank ark*/
}
html {
height:auto;
}
#wrapper{
	padding-top:0px;
	overflow: visible;
}
#column_top {
position:relative;
}
.pageTitle {
    margin-top: 0px;
}

div#header {
background-color: transparent;
position: relative;
width: 550px;
top: 0px;
left: 0px;
margin-top:0px;
margin-right:0px;
height:106px;
}
#htmlBackground {
display: none;
height:0px;
}
.topNavContainer {
	display:none;
}
/*div.skrivut {
position: absolute;
margin-left:243px;
}*/
div#logo {
width: 500px;
position:relative; 
top:0px; 
left:4px;
padding-left:4px; 
background-color: #ffffff; 
text-align:left;
padding-bottom:10px;
border-bottom: 0px solid #c0c0c0;
z-index:8;
margin-top:10px;
}
#footerBottom{
	position:relative;
	margin-top:40px;
}
#footerBottom ul {
background:none;
border:0px solid #ECECEC;
}
div.topLinks {
position: absolute;
margin-top: -30px;
text-align:left;
color: #333333;
text-decoration : none;
}
#column_top {
height:50px;
}
.navBarItem{
	display:none;
}
#pageTitleLinks li.frontLinks, #pageTitleLinks li a {
	display:none;
}
#navBar{
	display:none;
}
div#footerNav dl{
	display:none;
}
#q{
	display:none;
}
/**/
div.sharePanel{
	display:none;
}
div.carousel{
	display:none;
}
.navBarItem h3, .navBarItem h3.headlineGreen, .navBarRight img ,#navBar .navBarItem input.formsButton{
	display:none;
}
#topLevelNav, #topLevelNav li.firstItem a, #topLevelNav li a
.formsInput.inputLogin{
	background:none;
	display:none;
}
#logo {
    height: 70px;
    margin: 10px 0 0 20px;
}
#htmlBackground{
	display:none;
}
.knapp {
display: none; 
}
.knappWhite {
display: none; 
}
input.knapp_back {
display: none; 
}
.formsButton {
display: none; 
}
.formsButtonPrint {
display: none; 
}
input.formsButtonBack {
display: none; 
}
div#lineBreadCrumb {
margin-top: -30px;
position:absolute; 
left:8px; 
background-color: transparent;   
padding: 5px 0px 5px 2px;
margin-right: 0px; 
text-align:left;
color: #333333;
text-decoration : none;
font-weight: bold;
z-index:300;
}
#breadcrums{
	display:none;
}
body#flex div#popUp {
border: 0px; 
}
div.boxElement,.moduleContact h5.moduleHeadline  {
border:0px solid #EEEEEE;
}

.topFlipPopUp {
display: none; 
}

hr.popup {
background:white;
display:block;
color:#ffffff;
height:.10pt;
}
div#actionMenuModule { 
display : none; 
} 
body#flex div.middleContainerTwoColomn {
width : auto; 
padding-right : 0px;
margin-right: 0px;
margin-left: 10px;
margin-top : 10px; 
background-color : transparent;
}
#pinText, .pinText, #receiptText {
display:none;
}
#wrapper #footer,
#wrapper #column_top #header #topLevelNav, 
#wrapper #column_top #header #navBAr, 
#wrapper #footer #footerNav {
display: none;
}
#footerBottom li{
    border:none;
	display:none;
}
#footerBottom li.lastItem span.copyrightFooter, 
#footerBottom li.lastItem{
	display:block;
	margin-right: 110px;
}


/*ie6 hack*/
/*body {
_font-size:70%;
}*/
table.tableOddEven {
_width:auto;
}
#column_content{
_width:65%;
}
/*dynamicApplication styles*/
#wrapper div.full.dynamicApplication .content, div#column_left div#ciceroContainer .content, #wrapper div.full.dynamicApplication div#ciceroContainer .moduleCenter .content table.tableOddEven{
_width:98%;
}
#column_right{
_float:none;
}
div.small, div.medium, div.large, div.full, div.smallFooter {
_float:none;
}
#column_left {
_width:660px;
}
#footerBottom ul{
_left:100px;
}
/*end ie6 hack*/
tr.oddLine td, tr.oddLine th, td.oddLine,tr.evenLine td, tr.evenLine th{
border-bottom:3px solid #ebebeb;
}
td.evenLine,tr.headingLine, td.headingLine{
	border-bottom:3px solid #ebebeb;
	border-top:3px solid #ebebeb;
}

.carousel .leftArrow, .carousel .rightArrow, .hbkCarousel .leftArrow, .hbkCarousel .rightArrow{
	display:none;
}
.carousel{
	margin-left:-10px;
}
.stilCarousel {
    float: left;
    width: 700px;
	margin-left:-10px;
}
.stilCarousel .linkContainer,
.carousel .linkContainer, 
.carouselLarge .linkContainer {
    margin-left:0px;
	width: auto;
}
.stilCarousel .carouselSlideDiv .linkContainerRight {
	margin-right:0px;
}
#wrapper #column_left .stilCarousel div.medium {
	float:left;
}
div.articleContent {
    float: left;
}
body#dnbLayoutPrint #wrapper div.dynamicApplication.full, body#dnbLayoutPrint #wrapper div.dynamicApplication div.article.full {
    width: auto;
}
body#dnbLayoutPrint #wrapper {
	border: none;
	color: #000;
	margin-left: 0;
	}
body {
	color: #000;
	}
.hide-in-print{
    display:none;
}
body#dnbLayoutPrintLandscape table, body#dnbLayoutPrint table{
    page-break-after: auto; 
}
#searchContainer, 
#listContainer table.sumListTable{
    border-color: #333;
}
body#dnbLayoutPrintLandscape, body#dnbLayoutPrint {
	background: none repeat scroll 0 0 #FFFFFF;
	background: none;
	width:auto !important;
}
#dnbLayoutDefault #wrapper div.full, 
#wrapper div.full, div.full, 
#dnbLayoutDefault #wrapper div.full .webform-container.full, 
#dnbLayoutDefault #wrapper #column_all div.full, 
#dnbLayoutDefault #wrapper #column_all .moduleBlockBlue.full, 
#dnbLayoutDefault #wrapper #column_all .phpContainer.full, 
#dnbLayoutDefault #wrapper #column_all .article.full {
	width: auto;
}
#wrapper {
	margin-left: 0;
	}
#column_all {
	display: block;
}
/*application Print view*/
.nbp_kontolisteknapp {
    color: #000000;
}
h1.headline {
    color: #000000;
}
/*style loggedinn not exsist in print modus 08.09.2014 LMK */
#nbpApps, #nbb, #PopUpNbb, .cssLayout, #details table.detailsTable {
            font-size:12px;
}

