/* DNB KUNDEPORTAL GLOBAL CSS */
/* GUI-TEAM PORTAL-RELEASE SEPTEMBER - 210913  06:00 */
/** GLOBAL PORTAL CSS OVERRIDES 


	is to be used for ValYou - released in november 2013 (mobile stiles included)


**/
.webform p, .webform dl, .webform hr, .webform h1, .webform h2, .webform h3, .webform h4, .webform h5, .webform h6, .webform ol, .webform ul, .webform pre, .webform table, .webform address, .webform fieldset {
	margin-bottom:0px;
}
/* Hamskifet - fjerne "hvit strek" i icon-containeren med margin-top, og lager plass til iconene når de vises ved å sette line-height */
.webform ul#iconList, .webform ul.iconList {
	/*margin-top: -4px;*/
	 margin-top: -8px;
	margin: 0;
}
/**  APPS style Overrides **/

/* plassering på hover på ikon-elementer i iconContaineren*/
.webform #iconList .file a:hover, .webform #iconList .print a:hover, .webform #iconList .excel a:hover, .webform #iconList .refresh a:hover, .webform #iconList .pdf a:hover, .webform #iconList .pagesetting a:hover, .webform #iconList .help a:hover, .webform #iconList .paragraf a:hover, .webform #iconList .mail a:hover, .webform #iconList .doc a:hover, .webform #iconList .search a:hover, .webform #iconList .import a:hover, .webform #iconList .clock a:hover {
	margin: 0px 3px 0px 0px;
	border-left : 1px solid #DEDEDE;
	color: #007272;
}
/* farge på skriften på første ikon i iconContaineren*/
.webform #iconList #frontIcon a:hover {
	border-color : #ffffff;
	/*color : #8e003c;	*/
	color: #007272;
}
.webform #iconList #frontIcon a:link, .webform #iconList #frontIcon a:visited {
	color : #007272;
}
/* INPUT FIELDS, LABELS AND VALUES */
.webform fieldset .sameline dl input[type="radio"], .webform fieldset .sameline dl input[type="checkbox"] {
	margin-top: 10px; /* Hamskiftet - flytter radioknapper og labels litt nedover*/
	border:none;
}
/* Hamskikftet - flytte radiobutton litt nedover */

.webform fieldset .sameline input[type="radio"], .webform fieldset .sameline input[type="checkbox"] {
	margin-top: 12px;
	border:none;
}
.webform fieldset input, .webform fieldset select, .webform fieldset textarea {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.1em;/*margin: 0;
  padding: 2px;*/
}
.webform .sameline dd, .webform .sameline dt {
	clear:none;
	float:left;
}
.webform .sameline dd input {
	margin: 5px 0;
}
.webform .sameline.rightalign dd input {
	margin-right: 10px;
}
.webform .pagewidth dt {
	width: 56%;
	clear:left;
}
.webform .pagewidth dd {
	width:56%;
}
.webform .sameline dt {
	width:56%;
}
.webform .sameline dd {
	width:44%;
}
.webform .receipt .rightalign dt {
	width:56%;
}
.webform .receipt .rightalign dd {
	width:44%;
}
.webform .sameline dd.webform-readonly-container {
	padding: 10px 0 5px 0;
}
.webform .readonly dd, .webform .readonly dt {
	border-bottom:1px solid #D6D6D6;
	display:inline-block;
	margin-bottom:10px;
	margin-top:4px;
	padding-bottom:0;
	padding-top:0;
	text-align:left;
	vertical-align:baseline;
}
.webform .readonly dd.webform-readonly-container {
	padding-bottom:0;
	padding-top:0;
}
.webform .noborder dd, .webform .noborder dt {
	border-bottom:0px none;
}
.webform .col_50 dl {
	margin-right: 10px;
}
.webform label {
	color: #333333;
	font-weight: bold;
}
.webform dd label, .webform td label {
	margin-left:0.6em;
	margin-right:1em;
	font-weight:normal;
}
.webform .optional {
	font-weight:normal;
	font-style: italic;
	font-size:0.9em;
}
.webform dt, .webform dd {
	padding: 0;
	margin: 0;
}
.webform dd, .webform dt {
}
.webform dt {
	padding: 10px 0 5px;
}
.webform .col_50 dt {
	clear: left;
}
.webform .col_50 {
	width: 50%;
	float: left;
	clear: none;
	padding: 0px;
	margin: 0px;
}
.webform .rightalign dd, .webform .receipt .rightalign dd {
	text-align: right;
}
.webform .inline dt {
	clear: none;
	display: inline-block;
	float: left;
	width: auto;
}
.webform .inline dd {
	display: inline-block;
	float: left;
	width: auto;
	clear: none;
	padding-left: 10px;
	padding-right: 20px;
}
.webform dt.label, .webform div dl dt.label {
	clear: left;
	width: 100%;
	float: none;
}
.webform dd.label, .webform div dl dd.label {
	display: none;
	clear: left;
	float: none;
}
.webform dd.textarea { /* Lagt til float: none; 190610 */
	float: none;
	clear: left;
	width: 100%;
}
.webform textarea {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1em;
}
.webform dt.textarea { /* Lagt til float: none; 190610 */
	float: none;
	clear: both;
	width: 100%;
}
.webform dd input {
	vertical-align: baseline;
}
.webform checkbox {
	vertical-align: middle;
}
.webform .suffix {
	padding-left: 0.2em;
}
.webform img.help {
	padding-left: 4px;
	cursor: pointer;
	vertical-align: middle;
}
.webform input.amount, .webform td.amount, .webform th.amount, .webform .receipt th.amount {
	text-align: right;
}
.webform fieldset .agreementCheckbox {
	width:100%;
	clear:both;
	float:left;
	margin-bottom:10px
}
/** INPUT FIELD ERRORS **/

.webform fieldset .agreementCheckbox.severeFieldError {
	padding-top:4px;
	border-top:solid 1px #d6d6d6;
}
.webform .errorContainer {
	margin-left: 4px;
}
.webform .moduleStatusMessage div, .webform .moduleErrorMessage div {
	margin-left: 30px;
}
.webform .moduleStatusMessage, .webform .moduleErrorMessage {
	display: block;
	width: auto;
	margin-right: 0px;
	margin-bottom: 8px;
}
.webform .genericErrorMessage {
	/*Hamskiftet*/
  color: #E10076;
	/*color:#8D003B;*/
  float:left;
	/*font-weight:bold;*/
  font-weight: normal;
	padding-left:10px;
	padding-top:6px;
}
.webform dt.genericFieldError label {
	/* Hamskiftet */	
  color: #E10076;/*color:#8D003B;*/
}
.webform dd.genericFieldError label, .webform th.genericFieldError label {
	/* Hamskiftet */
  color: #E10076;/*color:#8D003B;*/
}
.webform dd.genericFieldError input, .webform dd.genericFieldError select, .webform dd.genericFieldError textarea, .webform td.genericFieldError input, .webform td.genericFieldError select, .webform td.genericFieldError textarea {
	/* Hamskiftet */
  	background-color: #FFE8F4;/*background-color:#F3E5EB;*/
}
.webform dt.severeFieldError {
	background-color:white;
	border-top:solid 1px #D6D6D6;
	border-left:solid 1px #D6D6D6;
	border-right:solid 1px #D6D6D6;
	margin-left:-5px;
	padding-left:5px;
	margin-top:8px;
}
.webform dd.severeFieldError, .webform td.severeFieldError {
	background-color:white;
	border-bottom:solid 1px #D6D6D6;
	border-left:solid 1px #D6D6D6;
	border-right:solid 1px #D6D6D6;
	margin-left:-5px;
	padding-left:5px;
}
.webform td.severeFieldError {
	padding-bottom:10px;
	padding-left:4px;
	padding-top:4px;
	border:solid 1px #D6D6D6;
}
.webform dd.severeFieldErrorHiddenLabel {
	padding-top:4px;
	border-top: solid 1px #D6D6D6;
}
.webform dd.severeFieldError .errorMessage, .webform td.severeFieldError .errorMessage {
	clear:both;
	color: black;
	font-style:italic;
	font-weight:normal;
	padding-top:6px;
	padding-bottom: 6px;
	width:auto;
	margin-right: 40px;
}
.webform .inline dd.severeFieldError .folder, .webform .sameline dd.severeFieldError .folder {
	bottom: 28px;
	display: block;
	float: right;
	margin: 0;
	position: relative;
	right: -1px;
}
.webform .inline dd.severeFieldError, .webform .sameline dd.severeFieldError {
	border-top: solid 1px #D6D6D6;
	border-left:none;
	border-right: solid 1px #D6D6D6;
	border-bottom: solid 1px #D6D6D6;
	margin-right:-1px;
	margin-left: 0px;
	margin-bottom:8px;
	padding-left:0px;
	width:44%;
	padding-top:10px;
	padding-bottom:5px;
}
.webform .inline dt.severeFieldError, .webform .sameline dt.severeFieldError {
	clear:left;
	border-top: solid 1px #D6D6D6;
	border-right:none;
	border-left: solid 1px #D6D6D6;
	border-bottom: solid 1px #D6D6D6;
	margin-bottom:8px;
	height: 48px;
	margin-top:0px;
	margin-left:-1px;
	margin-right:-5px;
	width:56%;
}
.webform dd.severeFieldError .folder, .webform td.severeFieldError .folder {
	/*background:white url(/portalfront/dnb/images/gfx/wf/wfFieldErrorBg.png) no-repeat scroll right bottom;*/
	background: none;
	float:right;
	height:34px;
	margin-right:-1px;
	margin-top:-33px;
	width:38px;
}
.webform td.severeFieldError .folder {
	/*background: url(/portalfront/dnb/images/gfx/wf/wfFieldErrorBg.png) no-repeat scroll right bottom;*/
	background-color: #f5f5f5;
	height:34px;
	margin-bottom:-11px;
	margin-top:-23px;
	margin-right:-5px;
	width:38px;
	position:relative;
}
.webform .severeFieldError {
	border: none;
}
.webform .severeFieldError label {
	color:#E10076;
}
.webform .severeFieldError input, .webform .severeFieldError textarea, .webform .severeFieldError select {
	/*Hamskiftet*/
  	background-color:#FFE8F4;/*background-color:#F3E5EB;*/
}
.webform .agreementCheckbox.severeFieldError .folder {
	margin-bottom: -1px;
}
/** HEADINGS AND MORE **/
.webform fieldset .h3 {
	display: block;
}
.webform fieldset h3, .webform fieldset h2, .webform fieldset .h3 {
	background-color: #FFFFFF;
	border-bottom: 1px solid #DEDEDE;
	clear: left;
	font-size: 1.1em;
	font-weight: bold;
	/* Hamskiftet */
  height: 14px;
	/*height: 16px;*/
  margin: 0;
	margin-left: -10px;
	margin-right: -10px;
	padding: 16px 0 6px 10px;
}
.webform fieldset h2 {
	font-weight:normal;
	font-size:1em;
}
/*** TABLE STYLES ***/
.webform table {
	margin-left: -11px;
	margin-bottom: 4px;
	border-collapse: collapse;
}
.webform th.first, .webform td.first {
	padding-left:11px;
}
.webform th.last, .webform td.last {
	padding-right:11px;
}
.webform th {
	background-color: #F2F2F2;
	padding:4px;
	border-top:1px solid #DEDEDE;
	border-bottom:1px solid #DEDEDE;
}
.webform td {
	background-color: #FFFFFF;
	padding:4px;
	vertical-align: top;
	border-bottom:1px solid #DEDEDE;
}
.webform th, .webform td {
	vertical-align: middle;
	text-align: left;
	border-left: 1px solid #DEDEDE;
}
.webform fieldset table.tableresourceNoHeading {
	min-width: 50%;
	margin-left:0;
}
.webform fieldset table.tableresourceNoHeading td, .webform fieldset table.tableresourceNoHeading th {
	padding-left: 0;
	background-color: #F5F5F5;
	border:none;
}
.webform fieldset table.tableresource {
	margin-right:-17px;
}
.webform fieldset table.tableresource thead {
	background-color: #D0D0D0;
}
.webform fieldset table.tableresource thead tr {
}
.webform fieldset table.tableresource tr.zebra {
}
.webform fieldset table {
	width: 100%;
	clear:left;
	margin-right:-11px;
}
/* tablesorter classes */
.webform table._tablesorter thead tr .header {
	background-image: url(/portalfront/dnb/images/icons/table_sorter_arrows.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
.webform table._tablesorter thead tr .headerSortUp {
	background-image: url(/portalfront/dnb/images/icons/table_sorter_up.gif);
}
.webform table._tablesorter thead tr .headerSortDown {
	background-image:
 url(/portalfront/dnb/images/icons/table_sorter_down.gif);
}
.webform table tbody tr.oddLine, .webform table tbody tr.oddLine td.oddLine {
	background-color: #F2F2F2;
}
.webform table tbody tr.evenLine, .webform table tbody tr.evenLine td.evenLine {
	background-color: #FFFFFF;
}
/** RECEIPT AND SUMMARY STYLES **/
.webform fieldset .receipt h3, .webform fieldset .receipt h2 {
	margin-left:-10px;
	margin-right:-10px;
}
.webform fieldset .receipt h3 {
	margin-left:-10px;
	margin-right:-10px;
	background-color: #F5F5F5;
	padding-bottom:0px;
	margin-bottom: 6px;
	border-bottom:none;
}
.webform fieldset .receipt h2.summary {
	font-weight:bold;
	font-size:1.1em;
}
.webform fieldset .receipt a.change, .webform fieldset .receipt a.change.a.wfButtonActionLink:hover {
	clear:both;
	display:block;
	float:left;
	padding-bottom:15px;
	padding-top:15px;
	border:none;
	margin-left:0px;
	padding-left:0px;
}
.webform div.receiptMessage {
	padding-top: 10px;
}
.webform .receipt dt.label {
	border-bottom:none;
}
.webform .receipt dt label {
	padding: 0px;
	margin: 0px;
}
.webform .receipt dd, .webform .receipt dt {
	border-bottom:1px solid #D6D6D6;
	clear:none;
	display:inline-block;
	float:left;
	margin-bottom:10px;
	margin-top:4px;
	padding-bottom:0;
	padding-top:0;
	text-align:left;
	vertical-align:baseline;
}
.webform .receipt .noborder dd, .webform .receipt .noborder dt {
	border-bottom:0px none;
}
.webform .receipt dt {
	width: 40%;
	clear:left;
}
.webform .receipt dd {
	width:60%;
}
.webform .receipt th {
	text-align:left;
}
.webform .receipt .textarea, .webform .receipt .nolayout {
	clear:both;
	border-bottom:none;
	float:none;
	width:100%;
	display:table;
}
.webform .receipt .textarea {
	margin-bottom:4px;
}
.webform .receipt dd.last, .webform .receipt dt.last {
	border-bottom:none;
}
.webform .receipt .inline dd, .webform .receipt .inline dt {
	width:auto;
	clear:none;
	border-bottom:none;
}
.webform div.timestamp {
	float: right;
	clear: none;
}
.webform input.replicate, #webform input.replicate {
	float: right;
	clear: both;
	background-color: #DDE9F8;
	color: #333333;
	cursor: pointer;
	font-weight: bold;
	margin-bottom: 10px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1em;
	margin-left: 5px;
	margin-top: 2px;
	padding: 0 0px;
}
.webform td.replicate {
	padding-left:4px;
}
/*** LOADER STYLES ***/
.webform.webformLoading {
	display: none;
}
.wfloader {
	background-color: white;
	width: 200px;
	height: 50%;
	position: absolute;
	z-index: 5000;
	vertical-align: middle;
	text-align: center;
	border: 1px solid #A3A5B2;
}
.webform .loader {
	position: absolute;
	background-color: white;
	text-align: center;
	vertical-align: middle;
}
.super-webform {
	position: relative;
	margin-top: 10px; /* Legger på luft i toppen */
}
.super-webform .webform-container {
	margin-top: 0px;/* fjerner luft i toppen, så det ikke legges på webforms inni superwebformet*/
}
/* Gfx when loading suberwebforms */
.super-webform-loading {
}
.super-webform-container .iconContainer {
	display: none !important;
}
.webform-loader {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 50;
	background-color: #FFFFFF;
	border: 1px solid #DEDEDE;
	/* background-image: url(/portalfront/dnb/images/gfx/loader.gif); */
  	background-position: center;
	background-repeat: no-repeat;
}
.webform-hidden-by-loader {
	display: none;
}
.loading .webform {
	visibility: hidden;
}
.webform-loading-ie6 {
	visibility: hidden;
}
/*** BUTTONS ***/

/* Til Hamskiftet - ta vekk ekstra ramme rundt knappene - da det legges på i portal-stilen */
.webform input.formsButton, .webform a.formsButton {
	border: 0 solid #DBDBDB;
}
div.buttonContainer {
	padding-bottom: 12px;
}
div.buttonContainer {
	background-color: #FFFFFF;
	border-top: 1px solid #DEDEDE;
	border-left: 1px solid #DEDEDE;
	border-right: 1px solid #DEDEDE;
	height: 20px;
	padding: 12px 5px;
	/* position: relative; */
	text-align: left;
}
.webform a.wfButtonAction, .webform a.wfButtonActionLink, .webform a.wfButtonActionLinkFirst, .webform a.wfButtonActionLinkLast, .webform a.buttonAction, .webform a.buttonActionLink {
	padding: 4px 10px;
}
.webform a.wfButtonAction {
	margin: 0 10px;
}
.webform a.wfButtonAction, .webform a.wfButtonAction:link, .webform a.wfButtonAction:visited, .webform a.buttonAction, .webform a.buttonAction:link, .webform a.buttonAction:visited {
	display: block;
	float: left;
	text-decoration: none;
	white-space: nowrap;
}
.webform a.wfButtonAction, .webform a.buttonAction {
	background: url("/portalfront/dnb/images/gfx/bgButton.png") repeat-x scroll 0 0 #FFFFFF;
	border: 1px solid #CCCCCC;
	border-radius: 5px 5px 5px 5px;
	font-weight: bold;
	text-shadow: 0.1em 0.1em #FFFFFF;
	color: #58595B;
	cursor: pointer;
}
.webform a.wfButtonAction:hover, .webform a.buttonAction:hover {
	background-position: 0 100%;
	text-shadow: none;
}
.webform a.wfButtonAction:hover span, .webform a.buttonAction:hover span {
	color:#FFFFFF;
}
.webform a.wfButtonAction span, .webform a.buttonAction span {
	display: block;
	white-space: nowrap;
}
.webform a.wfButtonAction:active span, .webform a.buttonAction:active span {
}
.webform a.wfButtonActionLink, .webform a.wfButtonActionLink:hover, .webform a.buttonActionLink, .webform a.buttonActionLink:hover {
	cursor: pointer;
	border-left: 1px solid #e5e5e5;
	float:left;
}
.webform a.wfButtonActionLink:hover, .webform a.wfButtonActionLinkFirst:hover, .webform a.buttonActionLink:hover, .webform a.buttonActionLinkFirst:hover {
	color: #007272;
}
.webform a.wfButtonActionLinkFirst, .webform a.wfButtonActionLinkFirst:hover, .webform a.buttonActionLinkFirst, .webform a.buttonActionLinkFirst:hover {
	border-left: none;
	border-right: 1px solid #DEDEDE;
}
.webform a.wfButtonActionLinkLast, .webform a.wfButtonActionLinkLast:hover, .webform a.buttonActionLinkLast, .webform a.buttonActionLinkLast:hover {
	float:right;
}
.webform a.wfButtonAction:focus, .webform a.wfButtonActionLink:focus, .webform a.buttonAction:focus, .webform a.buttonActionLink:focus, .webform a.buttonActionLinkFirst:focus, .webform a.wfButtonActionLinkFirst:focus, .webform a.wfButtonActionLinkLast:focus, .webform a.buttonActionLinkLast:focus {
	outline: 1px dotted;
}
.webform a.disabled, .webform a.disabled:link, .webform a.disabled:visited, .webform a.disabled:active, .webform a.disabled:hover {
	text-decoration: none;
	color:#AEAEAE;
	cursor:default;
}
.webform .pagewidth .replicateDelete.wfButtonActionLink, .webform .pagewidth a.replicateDelete.wfButtonActionLink:hover, .webform .col_50 .replicateDelete.wfButtonActionLink {
	margin: 10px 0;
}
/*** BOTTOM BUTTON CONTAINER ***/
div.wf_bottom {
	width: 100%;
	height: 4px;
	display: block;
}
div.bottomLeft, div.bottomCenter, div.bottomRight {
	height: 4px;
}
div.bottomLeft {
	float: left;
	width: 4px;
	background: white url(/portalfront/dnb/images/gfx/wf/wf.bottomLeft.gif) top no-repeat
}
div.bottomCenter {
	float: left;
	width: 100%;
	background: transparent url(/portalfront/dnb/images/gfx/wf/wf.bottomCenter.gif) top repeat-x
}
div.bottomRight {
	float: right;
	width: 4px;
	background: white url(/portalfront/dnb/images/gfx/wf/wf.bottomRight.gif) top no-repeat
}
/**** FLOW INDICATOR ***/
div.flowIndicator {
	display: block;
	width: 100%;
	height: 32px;
	margin: 0;
	position: relative;
}
.flowIndicator .topLeft, .flowIndicator .topMiddle, .flowIndicator .topRight {
	height: 32px;
	margin: 0;
	padding: 0;
	float: left;
}
.flowIndicator .topLeft {
	width: 10px;
	background: white url(/portalfront/dnb/images/gfx/wf/wf.topLeft.gif) no-repeat;
}
.flowIndicator .topMiddle {
	width: 100%;
	background: transparent url(/portalfront/dnb/images/gfx/wf/wf.topMiddle.gif) repeat-x;
}
.flowIndicator .topRight {
	width: 14px;
	float:right;
	background: white url(/portalfront/dnb/images/gfx/wf/wf.topRight.gif) no-repeat;
}
.flowIndicator .active, .flowIndicator div.passive, .flowIndicator .last, .flowIndicator .lastactive {
	position: relative;
	display: inline;
	height: 30px;
	padding: 8px 25px 8px 0;
	background: transparent url(/portalfront/dnb/images/gfx/wf/wf.ProcessArrow.gif) no-repeat scroll right bottom;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	font-weight: normal;
	margin-left: 0px;
}
.flowIndicator .active, .flowIndicator .lastactive {
	font-weight: bold;
}
.flowIndicator .last, .flowIndicator .lastactive {
	background: transparent url(/portalfront/dnb/images/gfx/wf/wf.ProcessLast.gif) no-repeat scroll right bottom;
	padding-right: 15px;
}
div.flowIndicator div.topMiddle a, div.flowIndicator div.topMiddle a:link, div.flowIndicator div.topMiddle a:active, div.flowIndicator div.topMiddle a:visited, div.flowIndicator div.topMiddle a:hover {
	text-decoration: none;
	color: #666;
}
div.flowIndicator div.topMiddle div.active a:link, div.flowIndicator div.topMiddle div.active a:active, div.flowIndicator div.topMiddle div.active a:visited, div.flowIndicator div.topMiddle div.active a:hover, div.flowIndicator div.topMiddle div.lastactive a:link, div.flowIndicator div.topMiddle div.lastactive a:active, div.flowIndicator div.topMiddle div.lastactive a:visited, div.flowIndicator div.topMiddle div.lastactive a:hover {
	/* Hamskiftet */	  
   color: #B65306;/*color: #8D003B*/
}
div.flowIndicator img {
	position: relative;
	top: 5px;
	padding-right: 5px;
}
/*** GENERIC WEBFORM LAYOUT CSS ***/

.webform-container {
	clear:left;
}
.webform-container .small {
	clear:none;
}
.webform ul {
	margin-left:4px;
}
.webform fieldset {
	font-size: 1em;
	background-color: #F5F5F5;
	border-color: #DEDEDE;
	border-style: none solid;
	border-width: medium 1px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0 10px 0 10px;
}
.webform.webformPrint {
}
.webform.webformPrint fieldset {
	border: 0;
	background-color: transparent;
}
.webform.webformPrint table.webformPrintFixTable {
	margin: 0 auto 4px auto;
}
.webform.webformPrintIe6 table.webformPrintFixTable {
/* margin-left: -10px;
	margin-right: -10px;
	width: 585px; */
}
.webform.webformPrint fieldset h3, .webform.webformPrint fieldset h2 {
/*border-bottom: 1px solid #A3A5B2;*/
}
.webform.webformPrint th.last, .webform.webformPrint td.last {
	border-right: 1px solid #DEDEDE;
}
.webform.webformPrint fieldset table.tableresourceNoHeading td, .webform.webformPrint fieldset table.tableresourceNoHeading th {
	background-color: transparent;
}
.webform.webformPrint .bottomLeft, .webform.webformPrint .bottomRight, .webform.webformPrint .bottomCenter, .webform.webformPrint .flowIndicator, .webform.webformPrint #iconList, .webform.webformPrint .iconList, .webform.webformPrint .buttonContainer {
	display: none;
}
.webform .stephelp {
}
/* GROUP STYLES */
.webform fieldset div {
	margin: 0;
	padding: 0;
}
.webform legend {
	padding-left: 0px;
	display: none;
}
/*** TOP TEXT AND BOTTOM TEXT STYLES **/

.webform .bottomText {
	padding-top: 15px;
}
.webform .bottomText, .webform .topText {
	clear: both;
	float: none;
	width: 100%;
}
.webform .ui-datepicker-trigger {
	vertical-align: text-bottom;
	margin: 5px 6px 0 6px;
	padding: 0;
	border: 0;
	vertical-align: top;
}
/* Icons start */
.webform .iconContainer, .webform #iconContainer {
	font-size: 0.9em;
	margin:8px 10px 8px 0px;
	margin: 0;
	text-align: right;
	vertical-align: middle;
	width: auto;
}
.middleContainerOneColumn .iconContainer {
	margin: 2px 10px 2px 0;
	text-align: right;
	vertical-align: middle;
	width: auto;
}
.webform #iconList li, .webform .iconList li {
	display: inline-block;
	list-style-type: none;
	margin: 7px 0 10px;
	padding: 4px 0;
}
.webform-msie #iconList li, .webform-msie .iconList li {
	display:inline;
}
.webform #iconList a:link, .webform #iconList a:visited, .webform .iconList a:link, .webform .iconList a:visited {
	/*color: #00144E;*/
  	color: #007272;
	font-size: 0.9em;
	font-weight: bold;
	text-decoration: none;
}
.webform #iconList li a, .webform .iconList li a {
	background-color: #FFFFFF;
	background-image: url(/portalfront/dnb/images/icons/default.gif);
	background-position: 10px 0;
	background-repeat: no-repeat;
	/*border-left: 1px solid #999999;*/
  	border-left: 1px solid #DEDEDE;
	margin-right: 3px;
	/*padding: 1px 6px 0 28px;*/
  	padding: 1px 6px 4px 28px;
}
.webform #iconList .frontIcon a:link, .webform #iconList .frontIcon a:visited, .webform .iconList .frontIcon a:link, .webform .iconList .frontIcon a:visited {
	border-left: 1px solid #FFFFFF;
	font-size: 0.9em;
	font-weight: bold;
	text-decoration: none;
}
.webform-loading .iconContainer, .webform-loading #iconContainer, .webform-loading #webformDynamicModule {
	display: none;
}
.webform #iconList li.print a, .webform .iconList li.print a {
	background-image:url(/portalfront/dnb/images/icons/print_iconlist.gif);
}
.webform #iconList li.pdf a, .webform .iconList li.pdf a {
	background-image:url(/portalfront/dnb/images/icons/itemPdf.gif);
}
.webform #iconList li.excel a, .webform .iconList li.excel a {
	background-image : url(/portalfront/dnb/images/icons/ikon_XL_iconlist.gif);
}
.webform #iconList li.doc a, .webform .iconList li.doc a {
	background-image : url(/portalfront/dnb/images/icons/doc_iconlist.gif);
}
.webform #iconList li.help a, .webform .iconList li.help a {
	background-image : url(/portalfront/dnb/images/icons/hjelp_iconlist.gif);
}
.webform #iconList li.mail a, .webform .iconList li.mail a {
	background-image : url(/portalfront/dnb/images/icons/envelope.gif);
}
.webform #iconList li.mail a:hover, .webform .iconList li.mail a:hover {
	background-image : url(/portalfront/dnb/images/icons/envelope_hover.gif);
}
/* Icons end */


.webform .webform-fileupload-info {
	margin-top: 0px;
	color: #666666;
}
.webform .webform-fileupload-container {
	margin-top: -15px;
	padding: 10px 0;
}
.webform .receipt .webform-fileupload-container {
	padding: 0;
}
.webform.webform-msie-6 .webform-fileupload-container {
	padding: 10px 0 0 0;
}
.qq-uploader {
	position:relative;
	width: 100%;
}
.qq-upload-button {
	display:block; /* or inline-block */
	width: 105px;
	text-align:center;
}
.qq-upload-button-hover {
}
.qq-upload-button-focus {
	outline:1px dotted black;
}
.qq-upload-drop-area {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	min-height: 70px;
	z-index:2;
	background:#FF9797;
	text-align:center;
}
.qq-upload-drop-area span {
	display:block;
	position:absolute;
	top: 50%;
	width:100%;
	margin-top:-8px;
	font-size:16px;
}
.qq-upload-drop-area-active {
	background:#FF7171;
}
.qq-upload-list {
	margin:15px 0px !important;
	padding:0;
	list-style: none;
}
.qq-upload-list li {
	margin:4px;
	padding:0 0 0 20px;
	line-height:15px;
	font-size:12px;
	background-image: url(/portalfront/dnb/images/icons/bilag_ikon.gif);
	background-position: left center;
	background-repeat: no-repeat;
}
.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-failed-text {
	margin-right: 7px;
}
.qq-upload-file {
	font-weight:bold;
}
.qq-upload-spinner {
	display:inline-block;
	background: url(/portalfront/dnb/images/gfx/wf/loading.gif);
	width:15px;
	height:15px;
	vertical-align:text-bottom;
}
.qq-upload-size, .qq-upload-cancel, .qq-upload-delete {
	font-size:11px;
}
.qq-upload-failed-text {
	display:none;
	color:#8D003B;
	font-weight:bold;
}
.qq-upload-delete {
	display:none;
}
.qq-upload-fail .qq-upload-failed-text {
	display:inline;
}
#persistmsg #iw_vpreview_toolbar {
	display: none;
}
.persistconfig {
	display: none;
}
/* Tester - fjerning av hvit strek mellom "hovedbildet" og linjen m knapper i pop-up bokser */

.ui-dialog .ui-dialog-buttonpane {
	margin: 0em 0 0;
}
.webform .webform_update_personalinfo {
	display: inline-block;
	/*width: 28px;*/
	width: 33px;
	height: 20px;
	margin-left: 12px;
	background-image: url(/portalfront/dnb/images/gfx/shortcut_settings.gif);
}
.webform .webform_update_personalinfo:active, .webform .webform_update_personalinfo:hover {
	background-image:url("/portalfront/dnb/images/gfx/shortcut_settings_active.gif"); /* hamskiftet ikon */
	text-decoration: none;
}
.webform .webform_update_personalinfo:active, .webform .webform_update_personalinfo:focus {
	background-image: url(/portalfront/dnb/images/gfx/shortcut_settings_active.gif);
}
.webform fieldset .softpopup h3 {
	font-size: 1em;
	height: 20px;
	padding: 5px 5px 3px 10px;
	margin: 0;
}
.webform_update_personalinfo_popup ul {
	list-style: none outside none;
	margin: 0;
}
.webform_update_personalinfo_popup li {
	border-bottom: 1px solid #E6E6E6;
	color: #007272;
	margin: 0 1px;
	padding: 8px;
}
.webform_update_personalinfo_popup li:hover {
	background-color: #007272;
	color: #FFFFFF;
}
.webform_update_personalinfo_dialog_inner {
	border: 1px solid #DEDEDE;
	margin-bottom: 20px;
}
.webform_update_personalinfo_dialog iframe {
	padding: 0;
	margin: 0;
	border: 0;
	width: 100%;
	height: 420px;
	overflow: auto;
}
.webform .h1 {
	font-size: 1.6em;
	color: #007272;
}
/* Overskriver stiler i test-stilsettet */

a.formsButton {
	margin-left: 0px;
}
#dnbLoader {
	background: url("/portalfront/dnb/images/gfx/loader.gif") no-repeat scroll center 35px #FFFFFF;
	padding-top: 85px;
	text-align: center;
}
.persistdialogNoTitle .ui-dialog-titlebar {
	display: none;
}
.ui-dialog .idleDialog {
	position: relative;
	padding: 20px 220px 20px 20px;
	background: url("/portalfront/dnb/images/gfx/chat.png") no-repeat scroll 210px 20px;
}
.idleDialog .boxElement {
	border: 0;
	position: absolute;
	bottom: 10px;
	right: 10px;
	width: auto;
}
.idleDialog h5, .idleDialog p {
	color: #58595B;
    font-family: "Lucida Sans","Lucida Sans Unicode","Lucida Grande",sans-serif;
}
.idleDialog h5 {
    font-size: 1.8em;
    font-weight: normal;
    margin-bottom: 0;
}
.idleDialog p {
    font-size: 1.1em;
}

/* webform mobile */
.webform-mobile fieldset {
	font-family: fedra;
}
.webform-mobile .webform-container {
	margin: 10px;	
}
.webform-mobile .webform dd {
    /*padding: 0 9px;*/
}
.webform-mobile .webform dt.severeFieldError {
	/*border-left: 1px solid #ED0074;
	border-top: 1px solid #ED0074;
	border-right: 1px solid #ED0074;	*/
	border: none;
}
.webform-mobile .webform dd.severeFieldError {
   /* padding: 0 18px;
	border-left: 1px solid #ED0074;
	border-bottom: 1px solid #ED0074;
	border-right: 1px solid #ED0074;*/
	border: none;
	padding: 0;
}

.webform-mobile .webform dd .errorMessage {
    /*margin: 0 0 0 -9px;*/
	margin: 0;
	color: #E10076;
	padding-left: 5px;
	font-style: normal;
}

.webform-mobile .webform .folder {
    display: none;
}

.webform-mobile .webform input {
   /* width: 100%;*/
    border-radius: 0.3em;
    border: 1px solid #AAAAAA;
    height: 36px;
    color: #444444;
    font-family: fedra;
	font-weight: bold;
    padding: 0 8px;
    margin: 0 0 0 0px;
}
/*
* To make the checkbox show
*/
.webform-mobile .mblCheckBox {
	position: inherit;
	transform: none;	
}
.webform-mobile .webform input[type='checkbox'] {
	height: 25px;
    vertical-align: bottom;
}	
.webform-mobile .webform input.inputSmall {
    width: 50%;
    margin-right: 3px;
}
.webform-mobile .webform input[type='radio'] {
    display: inline-block;
    height: 25px;
	width: 25px;
    margin-top: 10px;
	vertical-align: middle;
	border-radius: 2em;
}
/*
* Stil for radioknapp i webform
*/
.webform-mobile .webform .mblRadioButton {
	-webkit-appearance: button;	
}
.webform-mobile .webform .mblRadioButton.mblRadioButtonChecked {
	background-color: #E76A0B;	
}
.webform-mobile .webform input[type='radio']+label {
    display: inline-block;
    margin-top: 10px;
	padding: 0;
	width: 150px;
	vertical-align: middle;
}
/*
*   DOJO list-item used with webform
*/
.webform-mobile .webform .mdnbRadioButtonContainer input[type='radio']+label {
    width: auto;
	margin-top: 0;
}

.webform-mobile .webform .mblEdgeToEdgeList {
    margin: 0 -15px;
}
.webform-mobile .webform .mblListItemLayoutLeft {
    margin-right: 11px;
}
/*
*   layout of the card and cardtype in card selected summary on mobile devices
*/
.webform-mobile .webform .cardSelectedSummary {
    margin: 15px 0;
}

.webform-mobile .webform input.amount, 
.webform-mobile .webform td.amount, 
.webform-mobile .webform th.amount, 
.webform-mobile .webform .receipt th.amount {
	text-align: left;	
}
.webform-mobile .webform .suffix {
    width: 50%;
    color: #999999;
}

.webform-mobile .webform .flowIndicator {
    background-color: #ECECEC;
    background-image: none;
    height: 30px;
    width: auto;
   /* margin: 0 4px;*/
}

.webform-mobile .webform .topMiddle {
    float: right;
    width: auto;
    height: 30px;
    background-image: none;
    margin-right: 4px;
}

.webform-mobile .webform .flowIndicatorLabel {
    float: left;
    width: auto;
    background-image: none;
    color: #585959;
    font-weight: bold;
    font-size: 90%;
    padding-left: 4px;
    padding-top: 6px;
    vertical-align: middle;
}

.webform-mobile .webform .topLeft,
.webform-mobile .webform .topRight {
    display: none;
}

.webform-mobile .webform .topMiddle .active a,
.webform-mobile .webform .topMiddle .passive a,
.webform-mobile .webform .topMiddle .last a,
.webform-mobile .webform .topMiddle .active img,
.webform-mobile .webform .topMiddle .passive img,
.webform-mobile .webform .topMiddle .last img {
    display: none;
}

.webform-mobile .webform .topMiddle .active,
.webform-mobile .webform .topMiddle .passive,
.webform-mobile .webform .topMiddle .last {
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 6px 2px;
    float: left;
}

.webform-mobile .webform .topMiddle .active,
.webform-mobile .webform .topMiddle .passive,
.webform-mobile .webform .topMiddle .last {
    background: none repeat scroll 0 0 #CCCCCC;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #F8F8F8 ), to(#CCCCCC)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #F8F8F8 0%, #CCCCCC 100% /*{a-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #F8F8F8 0%, #CCCCCC 100% /*{a-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #F8F8F8 0%, #CCCCCC 100% /*{a-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #F8F8F8 0%, #CCCCCC 100% /*{a-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #F8F8F8 0%, #CCCCCC 100% /*{a-bar-background-end}*/);
	
	border: 1px solid #D8D8D8;
	border-radius: 0.3em;
   /* box-shadow: 2px 1px 2px 0 #777777 inset;*/
    overflow: hidden;
    text-indent: -9999em;
}

.webform-mobile .webform .topMiddle .active {
    background: none repeat scroll 0 0 #E76A0B;
	border: 1px solid #E66A0B;
}

.webform-mobile .webform fieldset {
    background-color: #FFFFFF;
    border: 0;
    /*padding-bottom: 16px;*/
	padding: 0 5px 16px 5px;
}

.webform-mobile .webform .buttonContainer {
    border-left: 0;
    border-right: 0;
    padding-bottom: 24px;
	border: none;
	/*padding: 12px 5px 24px 5px;*/
	padding: 12px 5px 10px 5px;
}

.webform-mobile .webform .pagewidth dd {
	width: 66%;
	width: 100%;
}
.webform-mobile .webform .pagewidth dt {
	width: 78%;
	width: 100%;
}
.webform-mobile .webform .receipt dd,
.webform-mobile .webform .receipt dt {
    border: 0;
    width: 95%;
    clear: none;
}

.webform-mobile .webform .receipt dd {
    padding: 0 0 6px 0;
    color: #444444;
}

.webform-mobile .webform .receipt dt {
    margin-bottom: 4px;
}


.webform-mobile .webform .genericErrorMessage {
    float: none;
    margin: 0px 0px 10px 0px;
    padding: 0;
}

.webform-mobile .webform .genericErrorMessage .content {
    padding: 5px;
    margin: 0px;
    background-color: #FFFFFF;
    color: #000000;
    border: 1px solid #E10076;
    font-size: 90%;
}

.webform-mobile .webform .genericErrorMessage .headline {
    padding: 5px 5px 5px 32px;
    margin: 0px;
    background: url("/portalfront/dnb/images/icons/error_icon_message.png") no-repeat scroll 6px center #E10076;
    font-family: "Lucida Sans","Lucida Sans Unicode","Lucida Grande",sans-serif;
    font-size: 1em;
    font-weight: normal;
	color: #FFFFFF;
}

.ui-loader-webform-background {
    width:100%;
    height:100%;
    top:0;
    margin: 0;
    background: #FFFFFF;
    display:none;
    position: absolute;
    z-index:100;
    opacity: 1;
}

.ui-loading .ui-loader-webform-background {
    display:block;
}

.ui-loading .ui-dnbfooter .wfButtonAction {
    visibility: hidden;
}

.webform-mobile .webform a {
    color: #007272;
    text-decoration: underline;
	font-size: 0.9em;
}

.webform-mobile .webform a.disabled {
    text-decoration: underline;
}

.webform-mobile .bottomCenter {
    display: none;
}
.webform-mobile fieldset h3 {
	font-size: 0.9em;
	border-bottom: none;	
}
.webform-mobile .webform fieldset .receipt h3 {
	background-color: #FFFFFF;	
}
.webform-mobile .wfButtonActionLink.wfButtonActionLinkFirst {
	background: url("/portalfront/dnb_mob/images/back_arrow.png") no-repeat scroll 0 center;
	background-size: 11px 15px;
	padding: 5px 5px 5px 16px;
}
.webform-mobile .wfButtonActionLink.wfButtonActionLinkFirst.disabled {
	background: url("/portalfront/dnb_mob/images/back_arrow_disabled.png") no-repeat scroll 0 center;
	background-size: 11px 15px;
	padding: 5px 5px 5px 16px;
}
.webform-mobile .wfButtonActionLink.wfButtonActionLinkLast {
	background: url("/portalfront/dnb_mob/images/cancel.png") no-repeat scroll 8% center;
	background-size: 18px 18px;
	padding: 5px 10px 5px 25px;
}
.webform-mobile dd label, 
.webform-mobile td label {
	font-size: 0.9em;
}
.webform-mobile label {
	font-size: 0.9em;	
}
.webform-mobile dl {
	margin-top: 0;	
}
.webform-mobile .placeholder_phone {
	font-size: 0.9em;	
}
/***********************************
*	Knapp i footer - webform mobil
************************************/

/*.webform-mobile .mdnbFooterContainer {
	margin: 18px 10px 0 10px;	
}*/
.webform-mobile .mblButton.mblButtonWebform {
	width: 100%;
}
/***********************************
*	Help knapp og help dialog
***********************************/
.webform-mobile img.help {
	width: 42px;
	height: 36px;
	margin-top: -5px;
}
.webform-mobile .ui-dialog {
	width: 100% !important;
	font-size: 0.8em;	
}
/***********************************
*	Datepicker i Webform
************************************/
.webform-mobile .ui-datepicker-trigger {
	width: 45px;
	height: 38px;
	margin-top: 0px;	
}
.webform-mobile #ui-datepicker-div {
	margin-left: 0px;
}
/********************************************
*	ValYou stiler - flytte til eget stilark?
*********************************************/
.webform-mobile .ttpStep.ttpStep2 {
	/*background: none repeat scroll 0 0 #F2F2F2;*/
    margin: 15px 0;
}
	
.webform-mobile .ttpStep.ttpStep2 p {
	display: inline-block;
}

.webform-mobile .ttpStep.ttpStep2 .imgBoxContact {
	display: inline-block;
	vertical-align: top;
	margin: 20px 20px 20px 10px;
}
.webform-mobile .ttpStep.ttpStep2 span {
	display: block;
}
/*******************************************
*	Bestille erstatningskort
********************************************/
/*.webform-mobile #cardinfo,*/
.webform-mobile .cardInfo {
	margin: 10px 0;
    position: relative;
}
.webform-mobile .leftContainer {
	margin-left: 120px;
    width: 155px;
}
.webform-mobile .rightContainer {
	position: absolute;
    top: 6px;
    width: 110px;
}
.webform-mobile .rightContainer img {
	width: 100px;	
}
.webform-mobile #deliverto {
	padding-left: 0px;	
}
.webform-mobile #deliverto h4 {
	margin-bottom: 10px;	
}
/*
*	kvitteringssiden
*/
.webform-mobile .mdnbSummaryBlockContent span {
    display: inline-block;
}
.webform-mobile .mdnbSummaryBlockContent {
    padding: 5px;
}
/**********************************
*	webform mobile select bokser
**********************************/
.webform-mobile select {
	width: 100%;
}
/****************************************
*    webform article and articleContent
*****************************************/
.webform-mobile .mdnbComponentsArticle,
.webform-mobile .mdnbComponentsArticleContent {
    margin-top: 10px;
}
/**************************************************************
* for ValYou - ligger i mdnb.css etter release i februar 2014
***************************************************************/

.webform-mobile .mdnbDisplayBlock {
	display: block;
}	
/*	kun for value - frem til februar-releasen */
/*.webform-mobile select {
	width: 237px;	
}*/
.webform-mobile .mdnbFootNote {
	font-size: 14px;
	margin-top: -5px;
	margin-bottom: 5px;	
}

/*
*   ul-list in webform mobile
*/
.webform-mobile ul {
    padding-left: 20px;
}

.webform-mobile ul.mblEdgeToEdgeList {
    padding-left: 0;
}

/*
*   article used in webform-mobile
*/
.webform-mobile .article {
    margin: 10px 0 20px;
}

/*
*   Receipt heading in webform mobile
*/
.webform-mobile .receiptBar {
    margin-bottom: 10px;
    border-bottom: none;
}

/*
*   Overlay when dialog opens
*/
.webform-mobile .ui-widget-overlay {
    z-index: 1;
}
/*
*   Adding padding to table layout mobile
*/
.webform-mobile .mdnbTableColumn {
    padding: 10px;
}

.webform input.inputNormal[disabled], .webform input.inputSmall[disabled],.webform input.inputLarge[disabled],.webform input.inputZip[disabled], .webform input.inputMedium[disabled], .webform input.inputDefault[disabled] {
background-color: #eee;
}
.webform input.inputDefault {
border: 1px solid #d0d0d0;

}

