/* DNB KUNDEPORTAL DYNAMIC CSS */
/* GUI-TEAM PORTAL- 2014Q2*/
/* LMK 02.02.15 */

/*blind selection styles*/
.noindex {
	float: left;
}

/*end*/
div.hbkMsg div.large div.carouselTextArea p {
	margin-top: 15px;
}
/**********************/
/*applications styles*/
/*move to application*/
/*********************/
#nbp_container .nbp_wheel_simple {
	width:120px;
}
#nbp_container #dataTable.multiplePaymentInputTable .nbp_multiPayment {
	width:204px;
}
/*print styles fix
#column_right div.moduleImportantMessage.small, #column_right div.moduleServeMessage.small, #column_right div.moduleInfoMessage.small, #column_right div.moduleStatusMessage.small, #column_right div.moduleErrorMessage.small {
	width: auto;
	margin-top: 0;
}*/

.dynamicContent #logInBox .jvm_outer_div {
	display: none;
}
.dynamicApplication .jvm_outer_div .instrument {
	width: 100%;
	display: block;
	float:left;
}
.dynamicApplication .jvm_outer_div .instrument img {
	float: left;
	margin-right: 10px;
}
.dynamicApplication .jvm_outer_div div.article {
	background-color: transparent;
}
/*#wrapper #column_right div.large.moduleImportantMessage, #wrapper #column_right div.medium.moduleImportantMessage, #wrapper #column_right div.small.moduleImportantMessage, #wrapper #column_right div.full.moduleImportantMessage {
	float: left;
	width: auto !important;
}
/* WRONG FONT-SIZE AND WEIGHT */
#details table.detailsTable tr th {
	font-size : 1em;
}
#listContainer table.listTable tr.headingLine th.padding {
	padding : 2px 4px;
}
.cursorPointer {
	cursor:pointer;
}
/*  CSS fra COLORBOX  -  som er globale... */
#statusReauthForm, .ModulFeilmelding {
	width:95%;
}
#reauth, .MiddleContainerOneColomn {
	margin-left:0px;
	font-size:1.0em !important;
}
/*body#flex {	font-size:75% !important;}*/
#reauth #spinGif {
	padding-left: 10px;
	width: 475px;
}
/* END CSS fra COLORBOX  -  som er globale... */
/*in to application later sms*/
#nbsApps .moduleServeMessage h3{
	margin-top: -10px;
}
/*in to application later arcive*/
#archive_content div.moduleErrorMessage {
    padding: 10px;
}
/*in to application later nbp*/
#nbp_container div.moduleErrorMessage h3.headline {
     background: url("/portalfront/dnb/images/icons/error_icon_message.png") no-repeat scroll 10px 8px #E10076!important;
}	
/*missing files*/	
#searchContainer input.fastsearch, #listContainer input.fastsearch, #formsContainer input.fastsearch, #detailsFlat input.fastsearch {
    width: 30px;
}
/**/
/*spliteGrid*/
.moduleBox.spliteGrid .topTitle h2.headline{
    border-bottom: 1px solid #DEDEDE;
    font-size: 1.8em;
    margin-bottom: 0;
    margin-top: 1px;
    padding: 10px 10px 5px;
}
.moduleBox.spliteGrid .topTitle{
    height: 40px;
	background: none repeat scroll 0 0 #FDFCFC;
}

.moduleBox.spliteGrid .content {
	padding:0;
}
.moduleBox.spliteGrid .content .content {
	border:none;
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.moduleBox.spliteGrid .content .content p {
	border:none;
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	padding:0;
}
.moduleBox.spliteGrid .content .content .buttonBox{
	float: left;
    height: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
}
.moduleBox.spliteGrid .fane{
background: none repeat scroll 0 0 #FDFCFC;
box-shadow: 0 -4px 3px -2px #EBEBEB;
font-size: 1.3em;
height: 60px;
width: 100%;
}
.moduleBox.spliteGrid p.fane,  .moduleBox.spliteGrid a.faneActive:hover, .moduleBox.spliteGrid p.fane, .moduleBox.spliteGrid a.faneActive,
.moduleBox.spliteGrid a.fanePassive:hover, .moduleBox.spliteGrid a.fanePassive{
    width: 100%;
    height: 100%;
}
#wrapper div.dynamicApplication.full .gridDivSizeStyles div.full,
#wrapper #column_left div.dynamicApplication.full .gridDivSizeStyles div.full,
#dnbLayoutDefault #wrapper div.dynamicApplication.full .gridDivSizeStyles div.full,
#wrapper #column_all div.dynamicApplication div.moduleBox.full,
#wrapper .gridDivSizeStyles div.full {
	width:920px;
	/*900*/
}
#dnbLayoutDefault #wrapper #column_left div.dynamicApplication.full .gridDivSizeStyles .full
{
    width:670px;
}
#wrapper div.dynamicApplication.full div.large, 
#wrapper div.dynamicApplication.full .gridDivSizeStyles div.large, 
#wrapper #column_left div.dynamicApplication.full div.large, 
#wrapper div.dynamicApplication.full .gridDivSizeStyles #column_left div.large,
#wrapper .gridDivSizeStyles div.large {
	
	width:690px;
}
#wrapper div.dynamicApplication.full div.medium, 
#wrapper div.dynamicApplication.full .gridDivSizeStyles div.medium, 
#wrapper #column_left div.dynamicApplication.full div.medium, 
#wrapper div.dynamicApplication.full .gridDivSizeStyles #column_left div.medium,
#wrapper .gridDivSizeStyles div.medium {
	width:450px;
}
#wrapper div.dynamicApplication.full div.small, 
#wrapper div.dynamicApplication.full .gridDivSizeStyles div.small,  
#wrapper #column_left div.dynamicApplication.full div.small, 
#wrapper div.dynamicApplication.full .gridDivSizeStyles #column_left div.small,
#wrapper .gridDivSizeStyles div.small  {
	/*width:216px;*/
	width:217px;
}
.article.fronter , .article.desk {
    background: none repeat scroll 0 0 #FAFAFA;
    border-bottom: 1px solid #E6E2DF;
    border-top: 4px solid #E6E2DF;
}
.article.fronter .articleLink, .article.desk .articleLink{
    margin-left:10px;
}
.article.fronter .articleContent, .article.desk .articleContent {
    color: #000000;
}
.article.fronter div.articleImg, .article.desk div.articleImg{
    position: relative;
}

.article.fronter div.articleImg:after, .article.desk div.articleImg:after  {
border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) white;
border-style: solid;
border-width: 7px;
/* FF */
border-right-color: rgba(255, 255, 255, 0);
border-left-color: rgba(255, 255, 255, 0);
border-bottom-color: #f7f7f7;
border-top-color: rgba(255, 255, 255, 0);
border-right-width: 10px;
border-left-width: 10px;
border-bottom-width: 11px;
border-top-width: 11px;
/* IE 8*/
border-right-color: transparent;
border-left-color: transparent;
border-bottom-color: white;
border-top-color: transparent;
border-top: 11px solid rgba(255, 255, 255, 0);
border-left: 10px solid rgba(255, 255, 255, 0);
border-right: 10px solid rgba(255, 255, 255, 0);
border-bottom: 11px solid #f7f7f7;
content: "";
display: block;
display: inline-block;
height: 0;
left: 5%;
position: absolute;
bottom: -1px;
width: 0;
}
#nbp_container input.inputDefault {
    padding: 7px 5px;
}
#nbp_container .nbp_toggle .ui-icon, #nbp_container .nbp_toggleHeader .ui-icon {
    background-position: -10px -1px;
}
a.actionButtonSmall, a.actionButtonSmall:link {
    background: url("/portalfront/dnb/images/icons/buttons/actionButtons/actionButtonSmall.png") no-repeat scroll 0 0 #FFFFFF;
    border: 1px solid #EEEEEE;
    border-radius: 3px;
    color: #333333;
    cursor: pointer;
    filter: none;
    float: left;
    font-size: 1em;
    margin-left: 30px;
    padding: 2px 10px 5px 40px;
    position: relative;
    text-decoration: none;
    text-shadow: none;
}
a.actionButtonSmall:hover {
    background: url("/portalfront/dnb/images/icons/buttons/actionButtons/actionButtonSmall.png") no-repeat scroll 0 0 #ED6C00;
    color: #FFFFFF;
}
a.actionButtonSmall.change, a.actionButtonSmall.change:link {
    background-position: 0 -22px;
}
a.actionButtonSmall.frontElement, a.actionButtonSmall.frontElement:link {
    margin-left: 0;
}
a.actionButtonSmall img, a.actionButtonSmall:link img {
    left: 0;
    position: absolute;
    top: 0;
}
#mainMenu li a:focus{
	outline:none;
}


/*nbb*/
.headline.expanded .toggleCollapse {
    background: url("/portalfront/dnb/images/gfx/accordionExpande.gif") repeat scroll -8px -4px rgba(0, 0, 0, 0)!important;
	  width: 16px!important;
}
.headline.collapsed .toggleCollapse {
     width: 16px!important;
	background: url("/portalfront/dnb/images/gfx/accordionCollapse.gif") repeat scroll -8px -4px rgba(0, 0, 0, 0)!important;
}

/*overwrite Global styles*/
#figures-module {
    font-size: 0.8em;
}
/*bankID2.0*/
#bidwebclient{
height:300px;
}
#dnbLayoutPlainLogoFooter #footer:before, #dnbLayoutPlain #footer:before {
   background: url("/portalfront/dnb/images/gfx/menu/footer-shadow.png") no-repeat scroll center bottom #fff;
    content: "";
    display: block;
    height: 8px;
    margin-left: 10px;
    margin-top: -61px;
    position: absolute;
    width: 940px;
}
#mainMenu .right h3 {
    background: none repeat scroll 0 0 #fff;
    margin: -6px 5px 5px 10px;
    padding-top: 6px; 
}
.softpopup.softpopupLoginHelp .arrowSoftpopup{
	background: url("/portalfront/dnb/images/gfx/topBgShadowHelp.png");
	background-repeat:repeat;
	background-color:transparent;	
}
.softpopup.softpopupLoginHelp h3.articleHeadline {
    background: none;
}
.boatLoans .small .topHeaderDiv .content .interestRow .labelExtensionSmall {
font-size: 0.7em!important;
margin: 0 3px 0 2px!important;
}
.boatLoans .topHeaderDiv .content .interestRow .numberSmall {
font-size: 0.7em!important;
}
#column_content {
	background-size:100%!important;	
}
@media only screen and (max-device-width: 480px),
only screen and (-webkit-min-device-pixel-ratio: 2) {
   #column_content {
    background-color:#fff;
	margin-left:0px;
	background-image:none;
	margin-top:30px;
	margin-right:-10px;
	-moz-box-shadow:    0 3px 6px 6px #dedede;
    -webkit-box-shadow:0 3px 6px 6px #dedede;
   box-shadow:        0 3px 6px 6px #dedede;
   border-radius:1px;
}
#breadcrums {
    margin: -30px 0 5px;
}
}
#menulink:focus, #menulink:hover  {
     background-position: right -32px!important;
}
#dnbLayoutDefault #column_all .moduleBlockBlue.full{
    margin: 0 20px;
    width: 920px;
}
#dnbLayoutDefault #column_all .moduleBlockBlue.medium{
    margin: 0 20px;
    width: 440px;
}
#dnbLayoutDefault #column_all .moduleBlockBlue.small{
    margin: 0 20px;
    width: 220px;
}
#mos .leftViewBox {
    width: 387px!important;
}
#navBar .navBarItem.navBarRight input.formsButton {
    background-color: #fff !important;
    background-image: none !important;
}
#column_content div.article.shopBasket {
    background: none repeat scroll 0 0 #f7f7f7;
    border-top: 5px solid #e6e2df;
    margin-top: -3px;
}
/*global changes*/
.fieldErrorText {
	color:#e10076;
}
/*Mini-u 2014*/
.webform a.wfButtonAction span, .webform a.buttonAction span{
   font-family: Arial,Helvetica,sans-serif;
}
.ui-accordion .ui-accordion-content {
	border-bottom:1px solid #ebebeb;
}
.moduleIngressAction .articleIngress{
    font-size: 1.2em;
    font-weight: normal;
}
#column_all .moduleIngressAction {
    margin: 0 -10px 10px 10px !important;
}
body#dnbLayoutDefault .pageTitle, body#dnbLayoutDefaultStartPage .pageTitle, body#dnbLayoutFullWidth .pageTitle, body#dnbLayoutLarge .pageTitle, body#dnbLayoutExtraLarge .pageTitle {
    margin-bottom: 0;
}
/*Mac fix 2015
.freeLinkMenu a {
    display: inline-table; 
}
#swapMenu a.active{
	height:36px;
}
*/
#josteinWrapper .boxElement .contactList .contactNumber {
	line-height: 2.5;
}

