/*
Theme Name: CTR Theme Plus
Theme URI: http://www.ctrtheme.com/ctrthemeplus
Description: Turbo charged with rich widgets like sliders, content boxes and more to make your site look attractive.
Author: HBWSL
Version: 3.6
Tags: adsense, CTR Theme Plus
*/
	/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td
	{
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

body {
	line-height: 1;
}

a {
	color: #000065;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
	margin-top: 10px;
}

ol,ul {
	list-style: none;
}

blockquote {
	quotes: none;
}

blockquote:before,blockquote:after {
	content: '';
	content: none;
}

del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */

#wp-calendar {
  	width:100%;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a img {
	border: none;
	margin: 5px 5px 2px 0;
}

/* =Layout
-------------------------------------------------------------- */
body {
	background: #EFEAE4;
	font-family: helvetica, verdana, arial, sans-serif;
	font-size: 13px;
}

#container {
	width: 927px;
	margin: 10px auto;
	position: relative;
	padding-top: 10px;
}

#logo {
	position: absolute;
	top: 13px;
	left: 5px;
	height: 50px;
	width: 180px;
}

#logo h1 a,#logo div a,h1#site-title {
	margin-top: 0px;
	font-weight: normal;
	letter-spacing: -1px;
	font-size: 24px;
	color: #0ab8ea;
	margin-left: 15px; /*45px*/
	line-height: 85%;
	text-decoration: none;
}

#logo h1 a span,#logo div a span {
	font-weight: 100;
	color: #83c118;
	font-size: 18px;
	letter-spacing: 3px;
	margin-left: 15px;
	display: block;
}

#leftCol {
	float: left;
	width: 300px;
	padding: 15px 0px 15px 15px;
	margin-top: 50px;
	background: #fff;
	-moz-border-radius-topleft: 4px;
	border-top-left-radius: 4px;
	min-height: 400px;
}

#leftCol ul {
	margin-left: 0px;
	list-style: none;
	padding: 0px;
}

#leftCol li {
	margin-left: 0px;
	margin-right: 20px;
	margin-bottom: 10px;
}

#leftCol li a {
	font-size: 14px;
	font-weight: bold;
	line-height: 125%;
	margin-left: 5px;
	display: inline;
}

#rightCol {
	float: right;
	width: 612px;
	background: #fff;
	-moz-border-radius-topleft: 4px;
	border-top-left-radius: 4px;
	-moz-border-radius-topright: 4px;
	border-top-right-radius: 4px;
	padding: 0px;
	min-height: 480px;
}

#rightCol #social-media-icons-2 ul {
	margin-top: 5px;
	margin-bottom: 5px;
}

#topBar {
	-moz-border-radius-topleft: 4px;
	border-top-left-radius: 4px;
	-moz-border-radius-topright: 4px;
	border-top-right-radius: 4px;
	background: #f7f3f0;
	margin-top: 0px;
	float: left;
	width: 612px;
	height: 50px;
	padding: 0px;
}

#mainContent {
	clear: left;
}

#content {
	padding: 10px 15px !important;
}

#content ul {
	list-style: disc;
}

#topBar h3 {
	font-style: italic;
	line-height: 50px;
	color: #a69683;
	margin: 0px;
	/*text-align:center;*/
	font-weight: normal;
	font-size: 14px;
	padding: 0px 10px;
}

#leaderboard {
	padding-top: 15px;
}

#leader_lu {
	padding-top: 15px;
	margin-left: 4px;
}

.shadow {
	-moz-box-shadow: -1px -1px 2px #ccc;
	-webkit-box-shadow: -1px -1px 2px #ccc;
	box-shadow: -1px -1px 2px #ccc;
}

#footer {
	clear: both;
	background: #FFFFFF;
	width: 712px;
	margin-left: 195px;
	background: #FFFFFF;
	padding: 10px 10px;
}

#footer a {
	color: #fff;
}

#footer .social-media-icons ul {
	margin-top: 10px;
}

.entry-content h3 {
	margin: 16px 0;
}

.social-media-icons li {
	padding: 3px;
}

.adsense336 {
	float: left;
	width: 336;
	margin-right: 20px;
	margin-bottom: 20px;
}

.adsense336.right {
	float: right;
	margin-right: 0px;
	margin-left: 20px;
}

.roadblock {
	float: left;
	margin-bottom: 30px;
	margin-right: 10px;
}

p {
	font-size: 13px;
	line-height: 1.5em;
	margin: 0 10px 20px 0;
}

a {
	color: #0000ee;
}

h2,h1.entry-title {
	font-size: 19.5px;
	font-weight: bold;
	margin: 16px 0px;
	line-height: 21px;
}

h3 {
	font-weight: bold;
}

h3.widget-title {
	font-size: 15px;
	margin: 15px 0px;
}

#activation-error {
	padding: 10px 0px;
	width: 100%;
	font-weight: bold;
	font-size: 18px;
	background-color: #f3cbca;
	border-bottom: 1px solid #c51823;
	color: #c51823;
	text-align: center;
}

.post {
	margin-bottom: 30px;
}

#site-info {
	float: left;
}

#privacy-info {
	float: right;
}

.entry-title a {
	text-decoration: none;
	color: #000;
}

.post ul,.post ol {
	list-style: disc;
	padding-left: 30px;
	margin-bottom: 30px;
}

.post ol {
	list-style: decimal;
}

.post li {
	margin-bottom: 8px;
}

.pushdown {
	margin-right: 10px;
}

#footerCredit {
	margin: 0 auto;
	width: 927px;
	text-align: right;
}

/************************
	     CLEARFIX
*************************/
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix { /*display: inline-block;*/
	
}

html[xmlns] .clearfix {
	display: block;
}

.clearall{
	
	clear: both;
}


* html .clearfix {
	height: 1%;
}

/***************************
		POST CONTENT
****************************/
#leftCol .post ul {
	list-style: disc;
}

#leftCol .post ol {
	list-style: decimal;
}

#leftCol .post li {
	margin-left: 15px;
	line-height: 1.4;
}

blockquote {
	border: 1px solid #D8D8D8;
	background: #EEEEEE;
	padding: 10px 10px 0;
}

/***************************
	 DEFAULT WP STYLES
****************************/
.aligncenter,div.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.alignleft {
	float: left;
}

.social-media-icons ul li {
	display: inline;
}

#privacy-info .widget_nav_menu {
	clear: both;
	display: block;
	float: right;
	margin-left: 40px;
}

.alignright {
	float: right;
}

.wp-caption {
	background-color: #f3f3f3;
	border: 1px solid #ddd;
	-khtml-border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	/* optional rounded corners for browsers that support it */
	margin: 10px;
	padding-top: 4px;
	text-align: center;
}

.wp-caption img {
	border: 0 none;
	margin: 0;
	padding: 0;
}

.wp-caption p.wp-caption-text {
	font-size: 11px;
	line-height: 17px;
	margin: 0;
	padding: 0 4px 5px;
}

#commentform input,#commentform textarea {
	display: block;
}

#comments ol.commentlist {
	list-style: none;
}

#comments-title {
	margin-bottom: 15px;
}

.comment-header {
	background: #f2f2f2;
	border: 1px solid #dfdfdf;
	padding: 3px;
	height: 40px;
	line-height: 40px;
}

.comment-header .avatar {
	padding: 3px;
	background: #fff;
	margin: 1px;
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);
}

.comment-header .avatar,.comment-header cite,.comment-header .comment-meta
	{
	float: left;
	margin-right: 10px;
}

#leftCol li .comment-meta a,#leftCol li cite {
	display: inline;
	line-height: 40px;
	margin-right: 15px;
	margin-left: 5px;
}

#leftCol li cite a {
	display: inline;
	line-height: 40px;
}

#comments .comment-body,#comments.reply {
	padding-top: 15px;
}

#respond {
	margin-top: 20px;
}

#leftCol li.ctrtheme-search-widget {
	margin-right: 5px;
}

#topNav .social-media-icons ul {
	margin-top: 5px;
	float: right;
}

#topNav .social-media-icons a {
	width: 10px !important;
	float: right;
}

#menuFooterRecent li {
	line-height: 1.2em;
	margin-top: 10px;
}

#menuFooterRecent li a {
	color: #2970A6;
	font-style: italic;
	font-weight: bold;
}

#menuFooterRecent h4 {
	font-size: 125%;
	color: #777777;
	margin-top: 10px;
}

ul.social.large li {
	height: 28px;
	width: 28px;
	padding: 0 5px 0 0 !important;
}

ul.social.large li a {
	height: 28px;
	width: 28px;
}

ul.social.large li.twitter a {
	background-position: 0 -100px;
}

ul.social.large li.twitter a:hover {
	background-position: 0 -71px;
}

ul.social.large li.facebook a {
	background-position: 0 -178px;
}

ul.social.large li.facebook a:hover {
	background-position: 0 -149px;
}

ul.social.large li.youtube a {
	background-position: 0 -256px;
}

ul.social.large li.youtube a:hover {
	background-position: 0 -227px;
}

ul.social.large li.linkedin a {
	background-position: 0 -334px;
}

ul.social.large li.linkedin a:hover {
	background-position: 0 -305px;
}

ul.social.large li.yahoo a {
	background-position: 0 -412px;
}

ul.social.large li.yahoo a:hover {
	background-position: 0 -383px;
}

ul.social.large li.pinterest a {
	background-position: 0 -412px;
}

ul.social.large li.pinterest a:hover {
	background-position: 0 -383px;
}

ul.social.large li.flickr a {
	background-position: 0 -490px;
}

ul.social.large li.flickr a:hover {
	background-position: 0 -461px;
}

ul.social.large li.vimeo a {
	background-position: 0 -568px;
}

ul.social.large li.vimeo a:hover {
	background-position: 0 -539px;
}

ul.social.large li.blogger a {
	background-position: 0 -646px;
}

ul.social.large li.blogger a:hover {
	background-position: 0 -617px;
}

ul.social.large li.stumbleupon a {
	background-position: 0 -724px;
}

ul.social.large li.stumbleupon a:hover {
	background-position: 0 -695px;
}

ul.social.large li.rssfeed a {
	background-position: 0 -802px;
}

ul.social.large li.rssfeed a:hover {
	background-position: 0 -773px;
}

/* social small */
ul.social li {
	display: inline-block;
	list-style: none;
	height: 18px;
	width: 25px;
	padding: 0 !important;
}

ul.social li a {
	height: 20px;
	width: 25px;
	display: block;
	float: left;
	background: url('images/icons/sprite.png') no-repeat;
}

ul.social li.twitter a {
	background-position: 0 -882px;
}

ul.social li.twitter a:hover {
	background-position: 0 -861px;
}

ul.social li.facebook a {
	background-position: 0 -938px;
}

ul.social li.facebook a:hover {
	background-position: 0 -917px;
}

ul.social li.youtube a {
	background-position: 0 -994px;
}

ul.social li.youtube a:hover {
	background-position: 0 -973px;
}

ul.social li.linkedin a {
	background-position: 0 -1050px;
}

ul.social li.linkedin a:hover {
	background-position: 0 -1029px;
}

ul.social li.yahoo a {
	background-position: 0 -1106px;
}

ul.social li.yahoo a:hover {
	background-position: 0 -1085px;
}

ul.social li.pinterest a {
	background-position: 0 -1106px;
}

ul.social li.pinterest a:hover {
	background-position: 0 -1085px;
}

ul.social li.flickr a {
	background-position: 0 -1162px;
}

ul.social li.flickr a:hover {
	background-position: 0 -1141px;
}

ul.social li.vimeo a {
	background-position: 0 -1218px;
}

ul.social li.vimeo a:hover {
	background-position: 0 -1197px;
}

ul.social li.blogger a {
	background-position: 0 -1274px;
}

ul.social li.blogger a:hover {
	background-position: 0 -1253px;
}

ul.social li.stumbleupon a {
	background-position: 0 -1331px;
}

ul.social li.stumbleupon a:hover {
	background-position: 0 -1309px;
}

ul.social li.rssfeed a {
	background-position: 0 -1386px;
}

ul.social li.rssfeed a:hover {
	background-position: 0 -1365px;
}

*+html ul.social li {
	float: right;
}

/*
Lightinfo Subtheme for CTR Theme
*/

.wp-pagenavi {
	padding: 10px 20px 10px !important;
	display:block !important;
	clear:both !important;
}
.wp-pagenavi a ,.wp-pagenavi span.pages, .wp-pagenavi span.extend {
		color:#707070 !important;
		background:#FFFFFF !important;
		border-radius:3px !important;	
		-moz-border-radius:3px !important;
		-webkit-border-radius:3px !important;
		border:solid 1px #DCDCDC !important;
		padding:6px 9px 6px 9px !important;
		margin-right:3px !important;
		text-decoration:none !important;
		font-size:12px !important;
}
.wp-pagenavi a:hover {
		color:#fff !important;
		text-shadow:0px 1px #636363 !important;
		border-color:#D6BFA4 !important;
		background:#D6BFA4 !important;	
		background-image: -ms-linear-gradient(top, #B7A591 0%, #D6BFA4 100%);
		background-image: -moz-linear-gradient(top, #B7A591 0%, #D6BFA4 100%);
		background-image: -o-linear-gradient(top, #B7A591 0%, #D6BFA4 100%);
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #B7A591), color-stop(1, #D6BFA4));
		background-image: -webkit-linear-gradient(top, #B7A591 0%, #D6BFA4 100%);
		background-image: linear-gradient(to bottom, #B7A591 0%, #D6BFA4 100%);
}
 .wp-pagenavi span.current{
		padding:6px 9px 6px 9px !important;			
		border-radius:3px !important;	
		-moz-border-radius:3px !important;
		-webkit-border-radius:3px !important;
		color:#fff !important;
		margin-right:3px !important;
		text-shadow:0px 1px #636363 !important;
		border-color:#939393 !important;
		background:#D6BFA4 !important;	
		background-image: -ms-linear-gradient(top, #B7A591 0%, #D6BFA4 100%);
		background-image: -moz-linear-gradient(top, #B7A591 0%, #D6BFA4 100%);
		background-image: -o-linear-gradient(top, #B7A591 0%, #D6BFA4 100%);
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #B7A591), color-stop(1, #D6BFA4));
		background-image: -webkit-linear-gradient(top, #B7A591 0%, #D6BFA4 100%);
		background-image: linear-gradient(to bottom, #B7A591 0%, #D6BFA4 100%);
}






/*
CSS FOR FEED TO POST IMAGE */

div.ftpimagefix{
/* margin:10px;	*/  /*  uncomment to put margin around the image */
}



/* End */



/*
    CSS FOR THE WIDGET */

div.news a{
	/*color:#cccccc;  */  /* change to any color you want for the feed item title */
}

.widgettitle a {
	/*  color:#cccccc !important; */    /* change to any color you want for the wdiget title */
	
}


   
/* End */



/*  DEFAULT AND DATE ABOVE TEMPLATES - START */
div.rss-output {
	
	padding: 1.025em;
/* float: left; */  /*  uncomment to float all posts to the left */
	
/*  border-bottom: 1px solid #DADADA; */  /*  uncomment to make a line in between each entry */
}

span.headline {  /* headline css */

font-size:16px;	
font-weight:400;
	
}

span.categoryname{
	
	margin-left:20px;
}

/*  DEFAULT AND DATE ABOVE TEMPLATES  - END */



/*  REGULAR TEMPLATES - START */
div.reg_rss-output {	
	padding: 1.025em;

float: left;	
}

div.reg_rss-output .title {	
	font-size:1.3em;
	//text-indent:-9999px;
		
}

/*  REGULAR TEMPLATES  - END */



/*  SIMPLE BULLET TEMPLATE - START */

.wprssmi_bullet_list .title{
	font-size:1.1em;
}

.wprssmi_bullet_list .date{
	font-size:.9em;
}

/*  SIMPLE BULLET TEMPLATE - END */



/*  BOXES TEMPLATE - START */

div#wprssmi_main_container {
    float: left;
    margin: 5px 0 0;
    padding: 3px;
    width: 666px;  /* change the width to match your themes width */

    color: #1E1E1E;
    font-family: "Lucida Grande",Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 1.5em;
}

ul#wprssmi_rss_list {
    float: left;
}

element.style {
    background: none no-repeat scroll 3px center white;
}

ul#wprssmi_rss_list li.item {
    float: left;
    margin: 0 15px 15px 0;
    overflow: hidden;
    width: 211px;  /* change this width to the size of the boxes you want */
}

div.item_inner {
    background: none repeat scroll 0 0 #FCFCFC;
    border: 1px solid #DDDDDD;
    height: 250px;
    overflow: hidden;
    position: relative;
}

div.blog_container {
    padding: 6px 12px;
}

p.blog_title {
    margin: 8px 0 4px;
    text-transform: uppercase;
}

ul#wprssmi_rss_list li.item p.date {
    font-size: 9px;
}

a {
      /*color: #1E1E1E;  // you can change the color of the hyperlinked title here */
}

ul#wprssmi_rss_list li.item p.site_info
{
    font-size: 10px;
}

div#wprssmi_center_box {
    margin: 0 auto;
    position: relative;
    width: 980px;
}

/*  BOXES TEMPLATE - END */



/*  CLEAN SEPARATED TEMPLATE - START */
.wprssmi-cs-items {
    border-bottom: 1px solid #DADADA;
    margin: 5px 0 20px;
}

.wprssmi-cs-items .title{
	
	font-size:1.3em;
}

.wprssmi-cs-items .body{
	
	font-size:1em;
}

.wprssmi-cs-excerpt {
    line-height: 1.5em;
    padding: 5px 0 0;
}

.wprssmi-cs-source {
    color: #777777;
    font-size: 0.82em;
    margin: 5px 0 10px;
}

/*  CLEAN SEPARATED TEMPLATE - END */



/*  SMOOTH SCROLL TEMPLATE - START */

	#wprssmi_RssParade
	{
		width: 600px;
		height: 350px;
		position: relative;
	}

	#wprssmi_RssParade div.scrollableArea .wprssmi_item_inner
	{
		display: block;
		float: left;
		padding-left: 10px;
	}
	
	/* You can alter this CSS in order to give Smooth Div Scroll your own look'n'feel */

	/* Invisible left hotspot */
	div.scrollingHotSpotLeft
	{
		/* The hotspots have a minimum width of 100 pixels and if there is room the will grow
	    and occupy 15% of the scrollable area (30% combined). Adjust it to your own taste. */
		min-width: 75px;
		width: 10%;
		height: 100%;
		/* There is a big background image and it's used to solve some problems I experienced
	    in Internet Explorer 6. */
	/*	background-image: url(http://www.smoothdivscroll.com/images/big_transparent.gif); */
		background-repeat: repeat;
		background-position: center center;
		position: absolute;
		z-index: 200;
		left: 0;
		/*  The first url is for Firefox and other browsers, the second is for Internet Explorer */
		/*		cursor: url(http://www.smoothdivscroll.com/images/cursors/cursor_arrow_left.png), url(http://www.smoothdivscroll.com/images/cursors/cursor_arrow_left.cur),w-resize;	*/
	}

	/* Visible left hotspot */
	div.scrollingHotSpotLeftVisible
	{
	/*		background-image: url(http://www.smoothdivscroll.com/images/arrow_left.gif);	  	*/			
		background-color: #fff;
		background-repeat: no-repeat;
		opacity: 0.35; /* Standard CSS3 opacity setting */
		-moz-opacity: 0.35; /* Opacity for really old versions of Mozilla Firefox (0.9 or older) */
		filter: alpha(opacity = 35); /* Opacity for Internet Explorer. */
		zoom: 1; /* Trigger "hasLayout" in Internet Explorer 6 or older versions */
	}

	/* Invisible right hotspot */
	div.scrollingHotSpotRight
	{
		min-width: 75px;
		width: 10%;
		height: 100%;
		/*		background-image: url(http://www.smoothdivscroll.com/images/big_transparent.gif);  	*/
		background-repeat: repeat;
		background-position: center center;
		position: absolute;
		z-index: 200;
		right: 0;
		/*		cursor: url(http://www.smoothdivscroll.com/images/cursors/cursor_arrow_right.png), url(http://www.smoothdivscroll.com/images/cursors/cursor_arrow_right.cur),e-resize;  	*/
	}

	/* Visible right hotspot */
	div.scrollingHotSpotRightVisible
	{
		/*		background-image: url(http://www.smoothdivscroll.com/images/arrow_right.gif);  	*/
		background-color: #fff;
		background-repeat: no-repeat;
		opacity: 0.35;
		filter: alpha(opacity = 35);
		-moz-opacity: 0.35;
		zoom: 1;
	}

	/* The scroll wrapper is always the same width and height as the containing element (div).
	   Overflow is hidden because you don't want to show all of the scrollable area.
	*/
	div.scrollWrapper
	{
		position: relative;
		overflow: hidden;
		width: 100%;
		height: 100%;
	}

	div.scrollableArea
	{
		position: relative;
		width: auto;
		height: 100%;
	}
	
	div.wprssmi_item_inner {
	    background: none repeat scroll 0 0 #FCFCFC;
	    border: 1px solid #DDDDDD;
	    height: 245px;  /* 245px;  300px; */
	    overflow: hidden;
	    position: relative;
		width:220px;  /* 220px;  250px; */
		margin:5px;
	}

	div.wprssmi_container {
	    padding: 6px 12px;

	}

	p.wprssmi_title {
	    margin: 8px 0 4px;
	    text-transform: uppercase;
	font-size:12px;  /* change the title font size here */
	}
		
		div#wprssmi_main_container {
		    //float: left;
		   margin: 5px 0 0;
		    padding: 3px;
		    width: 666px;
		}
		
	div.wprssmi-excerpt{
			font-size:12px;  /* change the text font size here */
			/*	color:;    change the text color here */
		 	/*	padding-left:;  put padding here */
		
	}
	
/*  SMOOTH SCROLL TEMPLATE - END */

	/*  VERTICAL SCROLL TEMPLATE - START */

	.wprssmi_rss_vs .title{
		font-size:1.1em;
		padding-top:10px;
	}

	.wprssmi_rss_vs .date{
		font-size:.9em;
	}
	
	div.wprssmi_teste3{
		height: 165px;
		overflow: hidden;
		    position: relative;
		}


	/*  VERTICAL SCROLL  TEMPLATE - END */
	
	/* LOAD MORE CSS */	
	
	#pbd-alp-load-posts a:link, #pbd-alp-load-posts a:visited {
		display: block;
		text-align: center;
		padding: 4px 0;
		color: #444;
		text-decoration: none;

		/** Rounded Corners **/
		-moz-border-radius: 8px;
		border-radius: 8px;

		/** Drop shadow **/
		-moz-box-shadow: 1px 1px 1px #999;
		-webkit-box-shadow: 1px 1px 1px #999;
		box-shadow: 1px 1px 1px #999;

		/** Gradients : http://css-tricks.com/css3-gradients/ */
		/* fallback */
		background-color: #f1f1f1;

		/* Firefox 3.6+ */
		background: -moz-linear-gradient(100% 100% 90deg, #e4e3e3, #f1f1f1);

		/* Safari 4-5, Chrome 1-9 */
		/* -webkit-gradient(<type>, <point> [, <radius>]?, <point> [, <radius>]? [, <stop>]*) */
		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f1f1f1), to(#e4e3e3));

		/* Safari 5.1+, Chrome 10+ */
		background: -webkit-linear-gradient(#f1f1f1, #e4e3e3);

		/* Opera 11.10+ */ background: -o-linear-gradient(#f1f1f1, #e4e3e3);
	}

	#pbd-alp-load-posts a:hover, #pbd-alp-load-posts a:active {
		/** Drop shadow **/
		-moz-box-shadow: 1px 1px 1px #bbb;
		-webkit-box-shadow: 1px 1px 1px #bbb;
		box-shadow: 1px 1px 1px #bbb;

		/** Gradients : http://css-tricks.com/css3-gradients/ */
		/* fallback */
		background-color: #f5f5f5;

		/* Firefox 3.6+ */
		background: -moz-linear-gradient(100% 100% 90deg, #eaeaea, #f5f5f5);

		/* Safari 4-5, Chrome 1-9 */
		/* -webkit-gradient(<type>, <point> [, <radius>]?, <point> [, <radius>]? [, <stop>]*) */
		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f5f5f5), to(#eaeaea));

		/* Safari 5.1+, Chrome 10+ */
		background: -webkit-linear-gradient(#f1f1f1, #eaeaea);

		/* Opera 11.10+ */ background: -o-linear-gradient(#f5f5f5, #eaeaea);
	}

	
/*
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box;}

/* 
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:url(images/overlay.png) repeat 0 0;}

/** NJ **/

#colorbox{border-radius:10px;}



#cboxContent{background:#fff; overflow:hidden;}
        .cboxIframe{background:#fff;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{margin-bottom:28px;}
        #cboxTitle{position:absolute; bottom:4px; left:0; text-align:center; width:100%; color:#949494;}
        #cboxCurrent{position:absolute; bottom:4px; left:58px; color:#949494;}
        #cboxSlideshow{position:absolute; bottom:4px; right:30px; color:#0092ef;}
        #cboxPrevious{position:absolute; bottom:0; left:0; background:url(images/controls.png) no-repeat -75px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxPrevious:hover{background-position:-75px -25px;}
        #cboxNext{position:absolute; bottom:0; left:27px; background:url(images/controls.png) no-repeat -50px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxNext:hover{background-position:-50px -25px;}
        #cboxLoadingOverlay{background:url(images/loading_background.png) no-repeat center center;}
        #cboxLoadingGraphic{background:url(images/loading.gif) no-repeat center center;}
        #cboxClose{position:absolute; bottom:0; right:0; background:url(images/controls.png) no-repeat -25px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxClose:hover{background-position:-25px -25px;}

/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to or needed in IE9.
  See: http://jacklmoore.com/notes/ie-transparency-problems/
*/
.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}

/*
  The following provides PNG transparency support for IE6
  Feel free to remove this and the /ie6/ directory if you have dropped IE6 support.
*/
.cboxIE6 #cboxTopLeft{background:url(images/ie6/borderTopLeft.png);}
.cboxIE6 #cboxTopCenter{background:url(images/ie6/borderTopCenter.png);}
.cboxIE6 #cboxTopRight{background:url(images/ie6/borderTopRight.png);}
.cboxIE6 #cboxBottomLeft{background:url(images/ie6/borderBottomLeft.png);}
.cboxIE6 #cboxBottomCenter{background:url(images/ie6/borderBottomCenter.png);}
.cboxIE6 #cboxBottomRight{background:url(images/ie6/borderBottomRight.png);}
.cboxIE6 #cboxMiddleLeft{background:url(images/ie6/borderMiddleLeft.png);}
.cboxIE6 #cboxMiddleRight{background:url(images/ie6/borderMiddleRight.png);}

.cboxIE6 #cboxTopLeft,
.cboxIE6 #cboxTopCenter,
.cboxIE6 #cboxTopRight,
.cboxIE6 #cboxBottomLeft,
.cboxIE6 #cboxBottomCenter,
.cboxIE6 #cboxBottomRight,
.cboxIE6 #cboxMiddleLeft,
.cboxIE6 #cboxMiddleRight {
    _behavior: expression(this.src = this.src ? this.src : this.currentStyle.backgroundImage.split('"')[1], this.style.background = "none", this.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src=" + this.src + ", sizingMethod='scale')");
}
/*
    Front end CSS
   
*/




.imagefix img {
    /*float: left;*/
    margin-right: 10px;
    margin-top: 5px;
}




.more-prev {
    float: right;
    margin-left: 20px;
}

.more-next {
    float: right;
    margin-left: 20px;
}

.pag_box {
	
	width:60%;
	padding:15px;
	
}




.rssmi_pagination {
	clear:both;
	padding-top:20px;
    height: 36px;
//	margin: 0 auto;
//	width:500px;
	margin-left:auto;
	margin-right:auto;
	width:100%;
	text-align:center;
}

.rssmi_pagination ul {
    border-radius: 3px 3px 3px 3px;
   /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); */
    display: inline-block;
    margin-bottom: 0;
    margin-left: 0;
}

.rssmi_pagination li {
    display: inline;
}

.rssmi_pagination .active a {
    color: #999999;
    cursor: default;
}
.rssmi_pagination a:hover, .rssmi_pagination .active a {
    background-color: #F5F5F5;
}
.rssmi_pagination a {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #DDDDDD;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    float: left;
    line-height: 34px;
    padding: 0 14px;
    text-decoration: none;
}






