@charset "utf-8";
/* CSS Document */
body, html { 
    overflow: hidden;
}

body {
	font-family: 'Roboto', sans-serif;
}
img.bg {
	/* Set rules to fill background */
	min-height: 100%;
	min-width: 1024px;
	/* Set up proportionate scaling */
	width: 100%;
	height: auto;
	/* Set up positioning */
	position: fixed;
	/*top: 0;*/
	left: 0;
}
img#bg-img-mobile{
	z-index: 4;
    position: absolute;
	display:none;
	bottom:0px;
}
	
.white-vertical-stripe {
	background-color: white;
	height: auto;
	background-image: url('/en/img/splash/white-stripe.jpg');
	width: 100%;
	height: 100vh;
	background-repeat: repeat;
	opacity: 0.75;
}
.un-logo{
	margin:auto;
	margin-bottom: 30px;
}
.languages-wrapper {
position: absolute;
    top: 50px;
    width: 89%;
    text-align: center;
}
.languages-wrapper ul li {
	list-style: none;
	margin-bottom:20px;
}
.un-language-btn {
	background-color: #4d4d4d;
	color: #f2f2f2;
	border-radius: 0px;
	height:50px;
	width:166px;
	border:2px #4d4d4d solid;
	-webkit-transition: all -webkit-transform 0.4s;
    transition: all 0.4s ease;
	font-size: 16px;
	opacity:1;
}

.un-language-btn:hover, .un-language-btn:focus{
	background-color: #f2f2f2;
	border:2px #00adef solid;
	color: #4d4d4d;
}
#welcome-text {
    margin: 20px 0px 50px 0px;
    color: #256ea2;
    font-size: 16.12px;
}
.language-menu{
	padding: 0;
}

.top-right-question{
	position:fixed;
	top:15px;
	right:15px;
	color:#f2f2f2;
	font-size:36.03px;
	cursor:pointer;
	z-index:2;
	background: url('/en/img/splash/questionmark.png') no-repeat !important;
	width: 35px;
	height:35px;
}

/* ============================================================================================================================
== BUBBLE WITH A BORDER AND TRIANGLE
** ============================================================================================================================ */

/* THE SPEECH BUBBLE
------------------------------------------------------------------------------------------------------------------------------- */

.triangle-border {
  position:fixed;
  right:30px;
  padding:15px;
  margin:1em 0 3em;
  border:5px solid #00adef;
  color:#333;
  background:#fff;
  /* css3 */
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
  opacity:0;
  z-index:1;
}

/* Variant : for right positioned triangle
------------------------------------------ */

.triangle-border.right {
  margin-right:30px;
  max-width: 40%;
}

ul.desc-languge-ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	margin-bottom:25px;
	display:none;
}

li.desc-languge{
	float: left;
}

li.desc-languge a{
	display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	padding-bottom: 2px;
}

li.desc-languge a:hover {
	border-bottom:2px solid #00adef;
	padding-bottom: 0px;
}

.dark-bg, .light-bg{
	width:100%;
	padding:15px 5px;
}

.light-bg{
	background:#FFFFFF;
}

.dark-bg{
	background:#f1f1f1;
}

#imageDescription a{
	color:#185284;
}

#imageDescription a:hover{
	color:#383838;
}
.special-announcment-ticker{
	display:none;
}

.mobile-more-details{
display:none;
}

#bg-img{
	-webkit-transition: top, 0.5s, ease-in-out; /* Safari */
    transition: top, 0.5s, ease-in-out;
}

#imageDescription-mobile{
	display:none;
}

#desc-header{
	background: #f2f2f2;
	border-bottom: #00adef solid 5px !important;
	text-align:center;
	padding:5px;
}

#desc-header img{
	width:15%;
	margin-top: 5px;
    margin-bottom: 3px;
}

.light-bg-mobile{
	background:#f2f2f2;
}
@media screen and (min-width: 1600px) { /* Specific to this particular image */
img.bg {
	top: -5%;
	margin-bottom: -5%;   /* 50% */
}
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
img.bg {
	left: 50%;
	margin-left: -512px;   /* 50% */
}
.top-right-question{
	display:none;
}
}

@media screen and (max-width: 991px) {
.language-menu{
	width:95%;
}
#imageDescription{
	display:none;
}
}

@media screen and (max-width: 700px) {
body, html { 
    overflow-y:scroll !important;
}
.top-right-question{
	display:none;
}
img.bg {
	left: -9%;
	margin-left: -175px;
	height: auto;
}
.language-menu{
	width:100%;
}
#welcome-text{
	display:none;
}
.un-logo{
	margin-bottom:30px;
}
.languages-wrapper {
    top: 20px;
}

}

@media screen and (max-width: 450px) { /* Specific to this particular image */
body, html { 
    overflow-y:scroll !important;
	background-color:#4d4d4d;
}

#imageDescription-mobile {
    display: none;
    position: fixed;
	top:0px;
    left: 0px;
    font-size: 12px;
    padding: 0px;
    background: #fff;
    z-index: 1;
    width: 100%;
    height: 100vh;
}

#imageDescription-mobile p a{
	color:#000;
}
.desc-mobile-text{
	/*margin-top:15px;*/
}
.descItem{
	padding-left:5px;
	padding-right:5px;
}

.descItem p{
	margin:0;
}

.top-right-question-mobile{
	position:fixed;
	top:13px;
	right:2px;
	color:#f2f2f2;
	font-size:36.03px;
	cursor:pointer;
	z-index:2;
	background: url('/en/img/splash/questionmark.png') no-repeat !important;
	width: 35px;
	height:35px;
}
.top-right-question-mobile-dark{
	background: url('/en/img/splash/questionmark-dark.png') no-repeat !important;

}

.languages-wrapper {
    top: 10px;
}

.un-logo {
    margin-bottom: 10px;
    width: 30%;
}

.un-language-btn{
	height:43px;
	font-size: 15px;
}

img.bg {
	height: auto;
}
.languages-wrapper ul li {
	margin-bottom:14px;
}

.special-announcment-ticker{
	position: fixed;
	bottom:0px;
	/*height:22px;*/
	background:black;
	color:white;
	width:100%;
	font-size:10.5px;
	display:block;
	text-align:center;
	padding: 2px;
	display:none;
}
.ticker-button{
	background: transparent;
    padding-bottom: 2px;
    position: absolute;
    border: none;
	bottom:1px;
	width:25px;
}

.mobile-more-details{
	position: fixed;
	bottom:5px;
	right:0px;
	display:block;
}
.more{
	background:transparent;
	border:none;
}
.ticker-next{
    right: 0;
}

.ticker-back{
    left: 0;
}

.special-announcment-ticker a{
	color:white;
}
.animated10 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 0.6s;
}

.animated11 {
    -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
-webkit-animation-delay: 0.7s; /* Chrome, Safari, Opera */
}

.animated12 {
    -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
-webkit-animation-delay: 0.8s; /* Chrome, Safari, Opera */
}

.animated13 {
    -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
-webkit-animation-delay: 0.9s; /* Chrome, Safari, Opera */
}

.animated14 {
    -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
-webkit-animation-delay: 1s; /* Chrome, Safari, Opera */
}

.animated15 {
    -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
-webkit-animation-delay: 1.1s; /* Chrome, Safari, Opera */
}

.animated16 {
    -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
-webkit-animation-delay: 1.2s; /* Chrome, Safari, Opera */
}

	
}