
/*------------------------------------------------------------------------------
    Color
    (link hover, weather forecast icon, weather forecast temp, logo span,
    dropcap first letter, quotes, meta calendar icon)
------------------------------------------------------------------------------*/
a:hover,
#header .header_meta .weather_forecast i,
#header .header_meta .weather_forecast .temp,
#site_title span,
.dropcap:first-letter,
.full_meta span.meta_date:before,
.full_meta span.meta_comments:before,
.full_meta span.meta_views:before,
.full_meta span.meta_author i,
blockquote p span:first-child,
blockquote p span:last-child,
.entry_media span.meta_likes a,
article.post .entry_content p a,
.full_meta span.meta_likes:before {
    color: #F85050;
}

/*------------------------------------------------------------------------------
    Background
    (mark, button, search icon in menu, format, tags hover, post format hover,
    input submit, shop hover icon, pagination current link, shop button,
    span format icon, review border, rating result, transition line, wide slider
    controls, filter shop handle)
------------------------------------------------------------------------------*/
mark,
.breaking-news .breaking-title,
.search_icon_form a,
.author_box .posts,
span.format,
.tagcloud a:hover,
#footer .tagcloud a:hover,
.item .item_thumb .thumb_icon a,
input[type="submit"],
.thumb_meta span.category,
ul.products li.product .item_thumb .thumb_icon a,
ul.page-numbers li span.current,
ul.products li.product a.btn:hover,
.layout_post_1 .item_thumb .thumb_icon a,
.full_meta span.meta_format,
.review_footer span,
.transition_line,
.layout_post_2 .item_thumb .thumb_icon a,
.list_posts .post .item_thumb .thumb_icon a,
.wide_slider .bx-wrapper .bx-controls-direction a:hover,
.ui-slider-range,
#gallery_grid .gallery_album .item_thumb .thumb_icon a,
.wc-proceed-to-checkout,
.single_add_to_cart_button.btn_red,
#back_to_top a:hover {
    background-color: #F85050;
}

/*------------------------------------------------------------------------------
    Border
    (drop down menu, tags hover, slider pager top border)
------------------------------------------------------------------------------*/
nav.site_navigation ul.menu ul.sub-menu,
nav.site_navigation ul.menu > li > .content,
nav.site_navigation ul.menu > li.has_dt_mega_menu > ul.dt_mega_menu,
.tagcloud a:hover:before,
#footer .tagcloud a:hover:before,
#wide_slider_pager .box.active {
    border-color: #F85050;
}

/*------------------------------------------------------------------------------
    Heading colors in post content
------------------------------------------------------------------------------*/
.entry_content>h1:not(.page_title):not(.entry-title):not(.entry_title),
.entry_content>h2,
.entry_content>h3,
.entry_content>h4,
.entry_content>h5,
.entry_content>h6,
.entry_content>.row>.col>h1:not(.page_title):not(.entry-title):not(.entry_title),
.entry_content>.row>.col>h2,
.entry_content>.row>.col>h3,
.entry_content>.row>.col>h4,
.entry_content>.row>.col>h5,
.entry_content>.row>.col>h6 {
    color: #222222;
}
.entry_content .head_title h2 {
	color: #222;
}

.entry_content .head_title h2 {
	color: #222;
}

/*------------------------------------------------------------------------------
    Content Link Color
------------------------------------------------------------------------------*/

.entry_content a:not(.ui-tabs-anchor):not(.btn):not(.gal-link):not(:hover) {
    color: #FC8D8D;
}

/*------------------------------------------------------------------------------
    Accordions background and color
------------------------------------------------------------------------------*/
.accordion_content .accordion_content_title {
	background-color: #EEEEEE;
}

/*------------------------------------------------------------------------------
    Accordion icon background and color
------------------------------------------------------------------------------*/
.accordion_content .accordion_content_title:after {
	background-color: #DDDDDD;
	color: #999999;
}


		/* Background Color/Texture/Image */
		body {
							background: #FDFDFD;

		}


/*------------------------------------------------------------------------------
    Body
------------------------------------------------------------------------------*/
body {
    font-family: "Titillium Web", sans-serif;
    font-size: 14px;
}
/*------------------------------------------------------------------------------
    Main Menu
------------------------------------------------------------------------------*/
nav.site_navigation ul.menu > li > a {
    font-size: 16px;
}
nav.site_navigation ul.menu > li > a > div.subtitle {
	font-size: 12px;
}
nav.site_navigation ul.menu ul.sub-menu {
	font-size: 12px;
}
/*------------------------------------------------------------------------------
    Headings
    (headings, menu links, dropcap first letter, panel subtitle)
------------------------------------------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6,
nav.site_navigation ul.menu > li > a,
.dropcap:first-letter,
.panel_title span {
    font-family: "Titillium Web", sans-serif
}
