@font-face {
  font-family: 'Scada';
  font-style: normal;
  font-weight: 400;
  src: local('Scada'), local('Scada-Regular'), url(https://fonts.gstatic.com/s/scada/v4/iZNC3ZEYwe3je6H-28d5Ug.ttf) format('truetype');
}
@font-face {
  font-family: 'Schoolbell';
  font-style: normal;
  font-weight: 400;
  src: local('Schoolbell'), url(https://fonts.gstatic.com/s/schoolbell/v6/BSqn7FernLolrt-MFco9Wi3USBnSvpkopQaUR-2r7iU.ttf) format('truetype');
}
@font-face {
  font-family: 'Seaweed Script';
  font-style: normal;
  font-weight: 400;
  src: local('Seaweed Script'), local('SeaweedScript-Regular'), url(https://fonts.gstatic.com/s/seaweedscript/v4/eorWAPpOvvWrPw5IHwE60Pog-Cy6dhy5Xgu82688fSg.ttf) format('truetype');
}
@font-face {
  font-family: 'Sevillana';
  font-style: normal;
  font-weight: 400;
  src: local('Sevillana'), local('Sevillana-Regular'), url(https://fonts.gstatic.com/s/sevillana/v4/2uIJTjcHyXWjp9k_oPee8KCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}
@font-face {
  font-family: 'Seymour One';
  font-style: normal;
  font-weight: 400;
  src: local('Seymour One'), local('SeymourOne'), url(https://fonts.gstatic.com/s/seymourone/v4/HrdG2AEG_870Xb7xBVv6C6CWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}
@font-face {
  font-family: 'Shadows Into Light';
  font-style: normal;
  font-weight: 400;
  src: local('Shadows Into Light'), local('ShadowsIntoLight'), url(https://fonts.gstatic.com/s/shadowsintolight/v6/clhLqOv7MXn459PTh0gXYBayoCksK7A5ZWkzVNukUdQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Shadows Into Light Two';
  font-style: normal;
  font-weight: 400;
  src: local('Shadows Into Light Two'), local('ShadowsIntoLightTwo-Regular'), url(https://fonts.gstatic.com/s/shadowsintolighttwo/v4/gDxHeefcXIo-lOuZFCn2xT6eVI8BTNonX9XtVyYeA-U.ttf) format('truetype');
}
@font-face {
  font-family: 'Shanti';
  font-style: normal;
  font-weight: 400;
  src: local('Shanti'), url(https://fonts.gstatic.com/s/shanti/v8/hodw9daEKChGhHiFVuhi_g.ttf) format('truetype');
}
@font-face {
  font-family: 'Share';
  font-style: normal;
  font-weight: 400;
  src: local('Share'), local('Share-Regular'), url(https://fonts.gstatic.com/s/share/v6/D9k_dgooD0aU50ePXeOfXg.ttf) format('truetype');
}
@font-face {
  font-family: 'Share Tech';
  font-style: normal;
  font-weight: 400;
  src: local('Share Tech Regular'), local('ShareTech-Regular'), url(https://fonts.gstatic.com/s/sharetech/v6/riJWcvd3sYdxJpiCWZvUGC3USBnSvpkopQaUR-2r7iU.ttf) format('truetype');
}
@font-face {
  font-family: 'Share Tech Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Share Tech Mono'), local('ShareTechMono-Regular'), url(https://fonts.gstatic.com/s/sharetechmono/v6/RQxK-3RA0Lnf3gnnnNrAsYW_AySPyikQrZReizgrnuw.ttf) format('truetype');
}
@font-face {
  font-family: 'Shojumaru';
  font-style: normal;
  font-weight: 400;
  src: local('Shojumaru'), local('Shojumaru-Regular'), url(https://fonts.gstatic.com/s/shojumaru/v4/WtGkWIUKqCdAAUhSJOBc8aCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}
@font-face {
  font-family: 'Short Stack';
  font-style: normal;
  font-weight: 400;
  src: local('Short Stack'), local('ShortStack'), url(https://fonts.gstatic.com/s/shortstack/v6/6Lbgh4PDdLpSiP41rQoGa50EAVxt0G0biEntp43Qt6E.ttf) format('truetype');
}
@font-face {
  font-family: 'Siemreap';
  font-style: normal;
  font-weight: 400;
  src: local('Siemreap'), url(https://fonts.gstatic.com/s/siemreap/v9/JSK-mOIsXwxo-zE9XDDl_g.ttf) format('truetype');
}
@font-face {
  font-family: 'Sigmar One';
  font-style: normal;
  font-weight: 400;
  src: local('Sigmar One'), local('SigmarOne'), url(https://fonts.gstatic.com/s/sigmarone/v6/aRAZJs6CY7SV6eSg6Wx4jy3USBnSvpkopQaUR-2r7iU.ttf) format('truetype');
}
@font-face {
  font-family: 'Signika';
  font-style: normal;
  font-weight: 400;
  src: local('Signika'), local('Signika-Regular'), url(https://fonts.gstatic.com/s/signika/v6/ShL_W4dvX9R2li-OgANwuA.ttf) format('truetype');
}
@font-face {
  font-family: 'Signika Negative';
  font-style: normal;
  font-weight: 400;
  src: local('Signika Negative'), local('SignikaNegative-Regular'), url(https://fonts.gstatic.com/s/signikanegative/v5/Z-Q1hzbY8uAo3TpTyPFMXd6nS20D4iqomyV_yRLPL0s.ttf) format('truetype');
}
@font-face {
  font-family: 'Simonetta';
  font-style: normal;
  font-weight: 400;
  src: local('Simonetta'), local('Simonetta-Regular'), url(https://fonts.gstatic.com/s/simonetta/v5/iFyKwM6I4-Jwf1d2XEwobaCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}
@font-face {
  font-family: 'Sintony';
  font-style: normal;
  font-weight: 400;
  src: local('Sintony'), url(https://fonts.gstatic.com/s/sintony/v4/z5AwzKkNtFvdewZQSq0Raw.ttf) format('truetype');
}
@font-face {
  font-family: 'Sirin Stencil';
  font-style: normal;
  font-weight: 400;
  src: local('SirinStencil'), local('SirinStencil-Regular'), url(https://fonts.gstatic.com/s/sirinstencil/v5/pRpLdo0SawzO7MoBpvowsEu5jiO09VgwnaAULz5Gfhw.ttf) format('truetype');
}
@font-face {
  font-family: 'Six Caps';
  font-style: normal;
  font-weight: 400;
  src: local('Six Caps'), local('SixCaps'), url(https://fonts.gstatic.com/s/sixcaps/v7/o_4b_kcfA7KqUo2NQLuC6PesZW2xOQ-xsNqO47m55DA.ttf) format('truetype');
}
@font-face {
  font-family: 'Skranji';
  font-style: normal;
  font-weight: 400;
  src: local('Skranji'), url(https://fonts.gstatic.com/s/skranji/v4/ysS0sa5v-EBqMJhMmHHCNg.ttf) format('truetype');
}
@font-face {
  font-family: 'Slabo 13px';
  font-style: normal;
  font-weight: 400;
  src: local('Slabo 13px'), local('Slabo13px-Regular'), url(https://fonts.gstatic.com/s/slabo13px/v3/B9U01_cNwYDvIHK04hXMri3USBnSvpkopQaUR-2r7iU.ttf) format('truetype');
}
@font-face {
  font-family: 'Slackey';
  font-style: normal;
  font-weight: 400;
  src: local('Slackey'), url(https://fonts.gstatic.com/s/slackey/v6/bJZDrYrGx8atJRHR9DVdqg.ttf) format('truetype');
}
@font-face {
  font-family: 'Smokum';
  font-style: normal;
  font-weight: 400;
  src: local('Smokum'), local('Smokum-Regular'), url(https://fonts.gstatic.com/s/smokum/v6/TvHkUw3qOerxfXEJsf4ZKg.ttf) format('truetype');
}
@font-face {
  font-family: 'Smythe';
  font-style: normal;
  font-weight: 400;
  src: local('Smythe'), url(https://fonts.gstatic.com/s/smythe/v7/rSmoEDXCI_NVk3jCmTqApg.ttf) format('truetype');
}
@font-face {
  font-family: 'Sniglet';
  font-style: normal;
  font-weight: 400;
  src: local('Sniglet Regular'), local('Sniglet-Regular'), url(https://fonts.gstatic.com/s/sniglet/v8/9_p-aoh7ZpCmb9h3WD_h-A.ttf) format('truetype');
}
@font-face {
  font-family: 'Snippet';
  font-style: normal;
  font-weight: 400;
  src: local('Snippet'), url(https://fonts.gstatic.com/s/snippet/v6/55gTuvBwF0Wg7V2dgeeA_w.ttf) format('truetype');
}
@font-face {
  font-family: 'Snowburst One';
  font-style: normal;
  font-weight: 400;
  src: local('Snowburst One'), local('SnowburstOne-Regular'), url(https://fonts.gstatic.com/s/snowburstone/v4/zSQzKOPukXRux2oTqfYJjJt9rPBEAOD0g8JH_3FMeZw.ttf) format('truetype');
}
@font-face {
  font-family: 'Sofadi One';
  font-style: normal;
  font-weight: 400;
  src: local('Sofadi One'), local('SofadiOne-Regular'), url(https://fonts.gstatic.com/s/sofadione/v4/T28dLve-Ycdi1yHVhvAlyS3USBnSvpkopQaUR-2r7iU.ttf) format('truetype');
}
@font-face {
  font-family: 'Sofia';
  font-style: normal;
  font-weight: 400;
  src: local('Sofia'), local('Sofia-Regular'), url(https://fonts.gstatic.com/s/sofia/v5/KjFw0GXBsysA148bxeiikg.ttf) format('truetype');
}
@font-face {
  font-family: 'Sonsie One';
  font-style: normal;
  font-weight: 400;
  src: local('Sonsie One'), local('SonsieOne-Regular'), url(https://fonts.gstatic.com/s/sonsieone/v5/HNKAA2nzELTT2_NbJMYhhi3USBnSvpkopQaUR-2r7iU.ttf) format('truetype');
}
@font-face {
  font-family: 'Sorts Mill Goudy';
  font-style: normal;
  font-weight: 400;
  src: local('Sorts Mill Goudy Regular'), local('SortsMillGoudy-Regular'), url(https://fonts.gstatic.com/s/sortsmillgoudy/v6/JzRrPKdwEnE8F1TDmDLMUpzeTB4Tw16upzEvJdpKZ1I.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Code Pro'), local('SourceCodePro-Regular'), url(https://fonts.gstatic.com/s/sourcecodepro/v6/mrl8jkM18OlOQN8JLgasD1zCdIATDt8zXO3QNtzVeJ8.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlNRl0pGnog23EMYRrBmUzJQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Serif Pro'), local('SourceSerifPro-Regular'), url(https://fonts.gstatic.com/s/sourceserifpro/v4/CeUM4np2c42DV49nanp55WdjwOOpWxWrsXXkZJyNRnI.ttf) format('truetype');
}
@font-face {
  font-family: 'Special Elite';
  font-style: normal;
  font-weight: 400;
  src: local('Special Elite'), local('SpecialElite-Regular'), url(https://fonts.gstatic.com/s/specialelite/v6/9-wW4zu3WNoD5Fjka35JmybsRidxnYrfzLNRqJkHfFo.ttf) format('truetype');
}
@font-face {
  font-family: 'Spicy Rice';
  font-style: normal;
  font-weight: 400;
  src: local('Spicy Rice'), local('SpicyRice-Regular'), url(https://fonts.gstatic.com/s/spicyrice/v5/xwdhYK3y7stx4zcy_MQ1tS3USBnSvpkopQaUR-2r7iU.ttf) format('truetype');
}
@font-face {
  font-family: 'Spinnaker';
  font-style: normal;
  font-weight: 400;
  src: local('Spinnaker'), local('Spinnaker-Regular'), url(https://fonts.gstatic.com/s/spinnaker/v8/W7zI5bHqD9Cyn2evfF7Qn6CWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}
@font-face {
  font-family: 'Spirax';
  font-style: normal;
  font-weight: 400;
  src: local('Spirax-Regular'), url(https://fonts.gstatic.com/s/spirax/v5/z6-p35VjWqOyUdWKJSzD1w.ttf) format('truetype');
}
@font-face {
  font-family: 'Squada One';
  font-style: normal;
  font-weight: 400;
  src: local('Squada One'), local('SquadaOne-Regular'), url(https://fonts.gstatic.com/s/squadaone/v5/DIbfqh10Zkwc_Qd08Y0saS3USBnSvpkopQaUR-2r7iU.ttf) format('truetype');
}
@font-face {
  font-family: 'Sree Krushnadevaraya';
  font-style: normal;
  font-weight: 400;
  src: local('Sree Krushnadevaraya'), local('SreeKrushnadevaraya'), url(https://fonts.gstatic.com/s/sreekrushnadevaraya/v4/CdsXmnHyEqVl1ahzOh5qn_I-zgFrG6tZ0Uakn5lc6e0.ttf) format('truetype');
}
@font-face {
  font-family: 'Stalemate';
  font-style: normal;
  font-weight: 400;
  src: local('Stalemate'), local('Stalemate-Regular'), url(https://fonts.gstatic.com/s/stalemate/v4/YaRJDf38Nkdd8ycw9Fig4qCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}
@font-face {
  font-family: 'Stalinist One';
  font-style: normal;
  font-weight: 400;
  src: local('Stalinist One'), local('StalinistOne-Regular'), url(https://fonts.gstatic.com/s/stalinistone/v8/MQpS-WezM9W4Dd7D3B7I-UT7eZ8.ttf) format('truetype');
}
@font-face {
  font-family: 'Stardos Stencil';
  font-style: normal;
  font-weight: 400;
  src: local('Stardos Stencil Regular'), local('StardosStencil-Regular'), url(https://fonts.gstatic.com/s/stardosstencil/v6/ygEOyTW9a6u4fi4OXEZeTKx4dljS8LgdW1vxXN8xI8w.ttf) format('truetype');
}
@font-face {
  font-family: 'Stint Ultra Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Stint Ultra Condensed'), local('StintUltraCondensed-Regular'), url(https://fonts.gstatic.com/s/stintultracondensed/v5/8DqLK6-YSClFZt3u3EgOUamc3PxeGbeCT3Wd5Ln9ht4.ttf) format('truetype');
}
@font-face {
  font-family: 'Stint Ultra Expanded';
  font-style: normal;
  font-weight: 400;
  src: local('Stint Ultra Expanded'), local('StintUltraExpanded-Regular'), url(https://fonts.gstatic.com/s/stintultraexpanded/v4/FeigX-wDDgHMCKuhekhedS1gUPFIp-wKSLkaV1ROMZc.ttf) format('truetype');
}
@font-face {
  font-family: 'Stoke';
  font-style: normal;
  font-weight: 400;
  src: local('Stoke Regular'), local('Stoke-Regular'), url(https://fonts.gstatic.com/s/stoke/v6/GJ2U1T6p0LQ3xt87hj_OcQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Strait';
  font-style: normal;
  font-weight: 400;
  src: local('Strait'), local('Strait-Regular'), url(https://fonts.gstatic.com/s/strait/v4/akoj8DmzSjm0QpDBXzBYKw.ttf) format('truetype');
}
@font-face {
  font-family: 'Sue Ellen Francisco';
  font-style: normal;
  font-weight: 400;
  src: local('Sue Ellen Francisco '), local('SueEllenFrancisco'), url(https://fonts.gstatic.com/s/sueellenfrancisco/v7/TwHX4vSxMUnJUdEz1JIgrtyKGJVmTKcgVdIGwhiziI0.ttf) format('truetype');
}
@font-face {
  font-family: 'Sumana';
  font-style: normal;
  font-weight: 400;
  src: local('Sumana'), local('Sumana-Regular'), url(https://fonts.gstatic.com/s/sumana/v1/AfX1BinP8fVJ7vD-nU61sg.ttf) format('truetype');
}
@font-face {
  font-family: 'Sunshiney';
  font-style: normal;
  font-weight: 400;
  src: local('Sunshiney'), url(https://fonts.gstatic.com/s/sunshiney/v6/Qyy6HDeMPsv9ES6PzMFxeKCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}
@font-face {
  font-family: 'Supermercado One';
  font-style: normal;
  font-weight: 400;
  src: local('Supermercado One Regular'), local('SupermercadoOne-Regular'), url(https://fonts.gstatic.com/s/supermercadoone/v6/kMGPVTNFiFEp1U274uBMb3HD7MaI6zoa39HQu-gs9a0.ttf) format('truetype');
}
@font-face {
  font-family: 'Sura';
  font-style: normal;
  font-weight: 400;
  src: local('Sura'), local('Sura-Regular'), url(https://fonts.gstatic.com/s/sura/v1/mM0HGqr8pUQ2Vd-F7M4org.ttf) format('truetype');
}
@font-face {
  font-family: 'Suranna';
  font-style: normal;
  font-weight: 400;
  src: local('Suranna'), url(https://fonts.gstatic.com/s/suranna/v4/JCegWkR5uIQaYRICX2VNbQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Suravaram';
  font-style: normal;
  font-weight: 400;
  src: local('Suravaram'), url(https://fonts.gstatic.com/s/suravaram/v3/VH7CThgBehnoZ_ksSl_506CWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}
@font-face {
  font-family: 'Suwannaphum';
  font-style: normal;
  font-weight: 400;
  src: local('Suwannaphum'), url(https://fonts.gstatic.com/s/suwannaphum/v9/1jIPOyXied3T79GCnSlCN6CWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}
@font-face {
  font-family: 'Swanky and Moo Moo';
  font-style: normal;
  font-weight: 400;
  src: local('Swanky and Moo Moo'), local('SwankyandMooMoo'), url(https://fonts.gstatic.com/s/swankyandmoomoo/v6/orVNZ9kDeE3lWp3U3YELu6tvzQ87nJ9Msqx5_vKiy0s.ttf) format('truetype');
}
@font-face {
  font-family: 'Syncopate';
  font-style: normal;
  font-weight: 400;
  src: local('Syncopate'), local('Syncopate-Regular'), url(https://fonts.gstatic.com/s/syncopate/v7/pDM9CVwNx1ufBHCEatJA3KCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}
@font-face {
  font-family: 'Tangerine';
  font-style: normal;
  font-weight: 400;
  src: local('Tangerine'), url(https://fonts.gstatic.com/s/tangerine/v7/HGfsyCL5WASpHOFnouG-RKCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}
@font-face {
  font-family: 'Taprom';
  font-style: normal;
  font-weight: 400;
  src: local('Taprom'), url(https://fonts.gstatic.com/s/taprom/v8/-KByU3BaUsyIvQs79qFObg.ttf) format('truetype');
}
@font-face {
  font-family: 'Tauri';
  font-style: normal;
  font-weight: 400;
  src: local('Tauri Regular'), local('Tauri-Regular'), url(https://fonts.gstatic.com/s/tauri/v4/y0UGeVKHfpXJMq14i6prTw.ttf) format('truetype');
}
@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 400;
  src: local('Teko Regular'), local('Teko-Regular'), url(https://fonts.gstatic.com/s/teko/v5/RzTrCdepM5TgJ_eYtGf5ow.ttf) format('truetype');
}
@font-face {
  font-family: 'Telex';
  font-style: normal;
  font-weight: 400;
  src: local('Telex Regular'), local('Telex-Regular'), url(https://fonts.gstatic.com/s/telex/v5/x-ms2nwkpxR31BPnpKQsAg.ttf) format('truetype');
}
@font-face {
  font-family: 'Tenali Ramakrishna';
  font-style: normal;
  font-weight: 400;
  src: local('Tenali Ramakrishna'), local('TenaliRamakrishna'), url(https://fonts.gstatic.com/s/tenaliramakrishna/v3/M0nTmDqv2M7AGoGh-c946Bbrcvi9pEMXlk4CfMsjEYk.ttf) format('truetype');
}
@font-face {
  font-family: 'Tenor Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Tenor Sans'), local('TenorSans'), url(https://fonts.gstatic.com/s/tenorsans/v7/dUBulmjNJJInvK5vL7O9yfesZW2xOQ-xsNqO47m55DA.ttf) format('truetype');
}
@font-face {
  font-family: 'Text Me One';
  font-style: normal;
  font-weight: 400;
  src: local('Text Me One'), local('TextMeOne-Regular'), url(https://fonts.gstatic.com/s/textmeone/v4/PqZhD5HyRPwtzI5fOKmj9F02b4v3fUxqf9CZJ1qUoIA.ttf) format('truetype');
}
@font-face {
  font-family: 'The Girl Next Door';
  font-style: normal;
  font-weight: 400;
  src: local('The Girl Next Door'), local('TheGirlNextDoor'), url(https://fonts.gstatic.com/s/thegirlnextdoor/v7/cWRA4JVGeEcHGcPl5hmX7hTyy6df1bVO0_GzIx7gVWg.ttf) format('truetype');
}
@font-face {
  font-family: 'Tienne';
  font-style: normal;
  font-weight: 400;
  src: local('Tienne Regular'), local('Tienne-Regular'), url(https://fonts.gstatic.com/s/tienne/v8/1zGc27Gi2zLcLLOhYnfFXQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Tillana';
  font-style: normal;
  font-weight: 400;
  src: local('Tillana'), local('Tillana-Regular'), url(https://fonts.gstatic.com/s/tillana/v1/2hEnEyGhcptD0HSJyfWruQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Timmana';
  font-style: normal;
  font-weight: 400;
  src: local('Timmana'), url(https://fonts.gstatic.com/s/timmana/v1/kF6LtepxAgUJUf-JtXH7Fw.ttf) format('truetype');
}
@font-face {
  font-family: 'Tinos';
  font-style: normal;
  font-weight: 400;
  src: local('Tinos'), url(https://fonts.gstatic.com/s/tinos/v9/EqpUbkVmutfwZ0PjpoGwCg.ttf) format('truetype');
}
@font-face {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  src: local('Titan One'), local('TitanOne'), url(https://fonts.gstatic.com/s/titanone/v4/PlYPmiP_CtYdrNbFSe11D6CWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  src: local('Titillium Web'), local('TitilliumWeb-Regular'), url(https://fonts.gstatic.com/s/titilliumweb/v4/7XUFZ5tgS-tD6QamInJTcV7rzNbpW6Nj2hg-a3CqQCw.ttf) format('truetype');
}
@font-face {
  font-family: 'Trade Winds';
  font-style: normal;
  font-weight: 400;
  src: local('Trade Winds'), local('TradeWinds'), url(https://fonts.gstatic.com/s/tradewinds/v5/P7L1H4TWVDNJivDGg_--QJ0EAVxt0G0biEntp43Qt6E.ttf) format('truetype');
}
@font-face {
  font-family: 'Trocchi';
  font-style: normal;
  font-weight: 400;
  src: local('Trocchi Regular'), local('Trocchi-Regular'), url(https://fonts.gstatic.com/s/trocchi/v5/obRMD0HVJWPV7TdUnfsyvg.ttf) format('truetype');
}
@font-face {
  font-family: 'Trochut';
  font-style: normal;
  font-weight: 400;
  src: local('Trochut'), url(https://fonts.gstatic.com/s/trochut/v4/otp492qxkuG7_H_QlxbOZw.ttf) format('truetype');
}
@font-face {
  font-family: 'Trykker';
  font-style: normal;
  font-weight: 400;
  src: local('Trykker Regular'), local('Trykker-Regular'), url(https://fonts.gstatic.com/s/trykker/v5/fYY47gtV4tKuLAgJiFjTTQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Tulpen One';
  font-style: normal;
  font-weight: 400;
  src: local('Tulpen One'), local('TulpenOne-Regular'), url(https://fonts.gstatic.com/s/tulpenone/v6/zIBZqHVchKl0ZjPbCjECki3USBnSvpkopQaUR-2r7iU.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url(https://fonts.gstatic.com/s/ubuntu/v9/lhhB5ZCwEkBRbHMSnYuKyA.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Condensed'), local('UbuntuCondensed-Regular'), url(https://fonts.gstatic.com/s/ubuntucondensed/v7/DBCt-NXN57MTAFjitYxdrKDbm6fPDOZJsR8PmdG62gY.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Mono'), local('UbuntuMono-Regular'), url(https://fonts.gstatic.com/s/ubuntumono/v6/EgeuS9OtEmA0y_JRo03MQaCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}
@font-face {
  font-family: 'Ultra';
  font-style: normal;
  font-weight: 400;
  src: local('Ultra'), url(https://fonts.gstatic.com/s/ultra/v8/i1bGh1uwf-wYhZyrRS8UOA.ttf) format('truetype');
}
@font-face {
  font-family: 'Uncial Antiqua';
  font-style: normal;
  font-weight: 400;
  src: local('Uncial Antiqua'), local('UncialAntiqua-Regular'), url(https://fonts.gstatic.com/s/uncialantiqua/v4/F-leefDiFwQXsyd6eaSllgKZaxxWfFldPDbIGRdOGHU.ttf) format('truetype');
}
@font-face {
  font-family: 'Underdog';
  font-style: normal;
  font-weight: 400;
  src: local('Underdog'), local('Underdog-Regular'), url(https://fonts.gstatic.com/s/underdog/v5/gBv9yjez_-5PnTprHWq0ig.ttf) format('truetype');
}
@font-face {
  font-family: 'Unica One';
  font-style: normal;
  font-weight: 400;
  src: local('Unica One'), local('UnicaOne-Regular'), url(https://fonts.gstatic.com/s/unicaone/v4/Zxq4PdUSc3GE41eti2ZndKCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}
@font-face {
  font-family: 'UnifrakturCook';
  font-style: normal;
  font-weight: 700;
  src: local('UnifrakturCook'), local('UnifrakturCook-Bold'), url(https://fonts.gstatic.com/s/unifrakturcook/v8/ASwh69ykD8iaoYijVEU6Rh8PS0eKPRHHFo66-4Wq12s.ttf) format('truetype');
}
@font-face {
  font-family: 'UnifrakturMaguntia';
  font-style: normal;
  font-weight: 400;
  src: local('UnifrakturMaguntia'), url(https://fonts.gstatic.com/s/unifrakturmaguntia/v7/7KWy3ymCVR_xfAvvcIXm36ofnEspxrPLQXtAOAVG_vM.ttf) format('truetype');
}
@font-face {
  font-family: 'Unkempt';
  font-style: normal;
  font-weight: 400;
  src: local('Unkempt'), url(https://fonts.gstatic.com/s/unkempt/v7/opYoFyuMZRiBj_IeDTrh8g.ttf) format('truetype');
}
@font-face {
  font-family: 'Unlock';
  font-style: normal;
  font-weight: 400;
  src: local('Unlock Regular'), local('Unlock-Regular'), url(https://fonts.gstatic.com/s/unlock/v6/27W3Uc8-ZWN959ABhyS_bQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Unna';
  font-style: normal;
  font-weight: 400;
  src: local('Unna-Regular'), url(https://fonts.gstatic.com/s/unna/v8/WWfO_DnT-ISVpCpiKSv2sQ.ttf) format('truetype');
}
@font-face {
  font-family: 'VT323';
  font-style: normal;
  font-weight: 400;
  src: local('VT323 Regular'), local('VT323-Regular'), url(https://fonts.gstatic.com/s/vt323/v8/ITU2YQfM073o1iYK3nSOmQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Vampiro One';
  font-style: normal;
  font-weight: 400;
  src: local('Vampiro One'), local('VampiroOne-Regular'), url(https://fonts.gstatic.com/s/vampiroone/v7/Ho2Xld8UbQyBA8XLxF1_NV02b4v3fUxqf9CZJ1qUoIA.ttf) format('truetype');
}
@font-face {
  font-family: 'Varela';
  font-style: normal;
  font-weight: 400;
  src: local('Varela'), url(https://fonts.gstatic.com/s/varela/v7/FseMmDpyuY1CFuv24IH4Dg.ttf) format('truetype');
}
@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font-weight: 400;
  src: local('Varela Round'), local('VarelaRound-Regular'), url(https://fonts.gstatic.com/s/varelaround/v7/APH4jr0uSos5wiut5cpjronF5uFdDttMLvmWuJdhhgs.ttf) format('truetype');
}
@font-face {
  font-family: 'Vast Shadow';
  font-style: normal;
  font-weight: 400;
  src: local('Vast Shadow Regular'), local('VastShadow-Regular'), url(https://fonts.gstatic.com/s/vastshadow/v6/vUwwSAve1had6QNw3_7lJZ0EAVxt0G0biEntp43Qt6E.ttf) format('truetype');
}
@font-face {
  font-family: 'Vibur';
  font-style: normal;
  font-weight: 400;
  src: local('Vibur'), url(https://fonts.gstatic.com/s/vibur/v7/mMNc4QI0HbuWMFrrJRZtag.ttf) format('truetype');
}
@font-face {
  font-family: 'Vidaloka';
  font-style: normal;
  font-weight: 400;
  src: local('Vidaloka '), local('Vidaloka-Regular'), url(https://fonts.gstatic.com/s/vidaloka/v8/sntaY1Q8xeij0j8FAJb2VvesZW2xOQ-xsNqO47m55DA.ttf) format('truetype');
}
@font-face {
  font-family: 'Viga';
  font-style: normal;
  font-weight: 400;
  src: local('Viga-Regular'), url(https://fonts.gstatic.com/s/viga/v5/u4Finaavbfwn3vAr1EMgUw.ttf) format('truetype');
}
@font-face {
  font-family: 'Voces';
  font-style: normal;
  font-weight: 400;
  src: local('Voces'), local('Voces-Regular'), url(https://fonts.gstatic.com/s/voces/v5/EZaZTvqffVlInBkLKrRs9Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Volkhov';
  font-style: normal;
  font-weight: 400;
  src: local('Volkhov Regular'), local('Volkhov-Regular'), url(https://fonts.gstatic.com/s/volkhov/v8/uk1C5e7mNyA0JcFqyN2lwQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: 400;
  src: local('Vollkorn Regular'), local('Vollkorn-Regular'), url(https://fonts.gstatic.com/s/vollkorn/v6/7jR1T900H5YEkd1UcZhA_fesZW2xOQ-xsNqO47m55DA.ttf) format('truetype');
}
@font-face {
  font-family: 'Voltaire';
  font-style: normal;
  font-weight: 400;
  src: local('Voltaire'), url(https://fonts.gstatic.com/s/voltaire/v6/j_Db4VkBO8Lwr-AdESOGtPesZW2xOQ-xsNqO47m55DA.ttf) format('truetype');
}
@font-face {
  font-family: 'Waiting for the Sunrise';
  font-style: normal;
  font-weight: 400;
  src: local('Waiting for the Sunrise'), local('WaitingfortheSunrise'), url(https://fonts.gstatic.com/s/waitingforthesunrise/v7/eNfH7kLpF1PZWpsetF-hawhNokzbzq3DXZOMIjhroK4.ttf) format('truetype');
}
@font-face {
  font-family: 'Wallpoet';
  font-style: normal;
  font-weight: 400;
  src: local('Wallpoet'), url(https://fonts.gstatic.com/s/wallpoet/v8/dZ64SxnEftBP3dI7LTKW3_esZW2xOQ-xsNqO47m55DA.ttf) format('truetype');
}
@font-face {
  font-family: 'Walter Turncoat';
  font-style: normal;
  font-weight: 400;
  src: local('Walter Turncoat'), local('WalterTurncoat'), url(https://fonts.gstatic.com/s/walterturncoat/v6/sG9su5g4GXy1KP73cU3hvVtilBVlnnYjrhQJoWzUtmo.ttf) format('truetype');
}
@font-face {
  font-family: 'Warnes';
  font-style: normal;
  font-weight: 400;
  src: local('Warnes'), local('Warnes-Regular'), url(https://fonts.gstatic.com/s/warnes/v6/P8cR9ZHX9AvqpGhmR53Mhg.ttf) format('truetype');
}
@font-face {
  font-family: 'Wellfleet';
  font-style: normal;
  font-weight: 400;
  src: local('Wellfleet'), local('Wellfleet-Regular'), url(https://fonts.gstatic.com/s/wellfleet/v4/Hrlltf_-VcwaRNHdrDwse6CWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}
@font-face {
  font-family: 'Wendy One';
  font-style: normal;
  font-weight: 400;
  src: local('Wendy One'), local('WendyOne-Regular'), url(https://fonts.gstatic.com/s/wendyone/v4/ml_X_ZeXybsOqGsgjzKx9KCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}
@font-face {
  font-family: 'Wire One';
  font-style: normal;
  font-weight: 400;
  src: local('Wire One'), local('WireOne'), url(https://fonts.gstatic.com/s/wireone/v7/w3ot9zg2INhIrdSqwSkSt_esZW2xOQ-xsNqO47m55DA.ttf) format('truetype');
}
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Work Sans'), local('WorkSans-Regular'), url(https://fonts.gstatic.com/s/worksans/v2/WB2LNay3rHMH1zU8UJnUHKCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}
@font-face {
  font-family: 'Yanone Kaffeesatz';
  font-style: normal;
  font-weight: 400;
  src: local('Yanone Kaffeesatz Regular'), local('YanoneKaffeesatz-Regular'), url(https://fonts.gstatic.com/s/yanonekaffeesatz/v7/YDAoLskQQ5MOAgvHUQCcLZK-NYfr6aECGd0dHZ8OfSM.ttf) format('truetype');
}
@font-face {
  font-family: 'Yantramanav';
  font-style: normal;
  font-weight: 400;
  src: local('Yantramanav'), local('Yantramanav-Regular'), url(https://fonts.gstatic.com/s/yantramanav/v1/E1Z7InSGFB89Npehsy0O7F02b4v3fUxqf9CZJ1qUoIA.ttf) format('truetype');
}
@font-face {
  font-family: 'Yellowtail';
  font-style: normal;
  font-weight: 400;
  src: local('Yellowtail'), url(https://fonts.gstatic.com/s/yellowtail/v6/GcIHC9QEwVkrA19LJU1qlC3USBnSvpkopQaUR-2r7iU.ttf) format('truetype');
}
@font-face {
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  src: local('Yeseva One'), local('YesevaOne'), url(https://fonts.gstatic.com/s/yesevaone/v10/eenQQxvpzSA80JmisGcgX_esZW2xOQ-xsNqO47m55DA.ttf) format('truetype');
}
@font-face {
  font-family: 'Yesteryear';
  font-style: normal;
  font-weight: 400;
  src: local('Yesteryear'), local('Yesteryear-Regular'), url(https://fonts.gstatic.com/s/yesteryear/v5/Y-2_3oNnGXTRT4ySJQfhEC3USBnSvpkopQaUR-2r7iU.ttf) format('truetype');
}
@font-face {
  font-family: 'Zeyada';
  font-style: normal;
  font-weight: 400;
  src: local('Zeyada'), url(https://fonts.gstatic.com/s/zeyada/v6/FeJfB_4jz_Wd7Hn2NxR2Wg.ttf) format('truetype');
}
