/*
	Demo Styles: NOT REQUIRED
*/
html,
body {
    margin: 0;
    height: 100%;
/*    font-family: "proxima-nova",sans-serif;*/
    font-family: "ff-basic-gothic-web-pro",sans-serif;
/*    font-family: "niveau-grotesk",sans-serif;*/
}

h1,h2,h3,h4,h5,h6 {font-family: "proxima-nova",sans-serif; font-weight: 800;}
/*.w3-navbar {font-family: "Montserrat", sans-serif; text-transform: uppercase;}*/
.fa-anchor,.fa-coffee {font-size:200px}
button {
    font-family: "proxima-nova",sans-serif;
    text-transform: uppercase;
/*    font-weight: 800;*/
}

/*LOADING*/

#overlay {
    position: absolute;
    background: #03182A;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
}

.overlay-wrap{
    height: 60px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: -30px auto;
/*    background: red;*/
}

.overlay-wrap img{
    height: 60px;
    margin: 0 auto;
    display: block;
}

.gear-wrap {
    background:#2E3C50;
    position: absolute;
    width: 24px;
    height: 17px;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 32px;
    border-radius: 3px;
    border: 1px solid #ECEFF1;
}

.gear-wrap i {
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    top: 1px;
    left: 2px;
    -webkit-animation: barrelRoll 2s infinite linear;
    animation: barrelRoll 2s infinite linear;
    color:#6CFEDA;
    font-size: 11px;
    text-align: center;
}

.gear-wrap i:last-of-type {
    top: 4px;
    left: 11px;
    -webkit-animation-name: invertBarrelRoll;
}


@-webkit-keyframes barrelRoll {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@-webkit-keyframes invertBarrelRoll {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(-360deg); }
}

.rtb-light {
    position: absolute;
    width: 6px;
    height: 6px;
    background:#FDA639;
    border-radius: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    -webkit-animation: light-rtb 1s ease;
    animation: light-rtb 1s ease;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes light-rtb {
    0% {-webkit-transform: scale(1);transform: scale(1); opacity: 1;}
    100% {-webkit-transform: scale(4);transform: scale(4); opacity: 0;}

}

@keyframes light-rtb {
    0% {-webkit-transform: scale(1);transform: scale(1); opacity: 1;}
    100% {-webkit-transform: scale(4);transform: scale(4); opacity: 0;}

} 

.overlay-out {
    -webkit-animation: rtb-out 1s ease;
    animation: rtb-out 1s ease;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes rtb-out {
    0% {opacity: 1;}
    90% {opacity: 0;}
    91% {visibility: hidden;}
    100% {visibility: hidden;}
}

@keyframes rtb-out {
    0% {opacity: 1;}
    90% {opacity: 0;}
    91% {visibility: hidden;}
    100% {visibility: hidden;}

}

.stop-animation {
    -webkit-animation:none !important;
    -moz-animation:none !important;
    -ms-animation:none !important;
    animation:none !important;
}

/*END LOADING*/

header {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 9;
}

.height-100 {
    height: 100%;
}

.height-calc {
    height: calc(100% - 51px);
    position: relative;
    top: 51px;
}

.height-auto {
    height: auto;
}

.margin-auto {
    margin: auto;
}

.no-scroll {
    overflow: hidden;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    display: -webkit-flex;
    display: flex;
}

.flex-c {
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    display: -webkit-flex;
    display: flex;
}

.align-items-c {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    -webkit-align-items:center;
    align-items: center;
}

.justify-c {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.padding-sides {
    padding-left:4rem; 
    padding-right:4rem;
}


.parallaxParent {
    height: 50vh;
    overflow: hidden;
    position: relative;
}
.parallaxParent > div {
    height: 100vh;
    position: relative;
    top: -40vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-content {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
/*    padding-top: 51px;*/
    width: 100%;
    height: 100%;
}

.logo-navbar-wrap {
    position: absolute;
    width: 120px;
    right: 0;
    left: 0;
    margin: 0 auto;
    overflow: hidden;
    top: 0;
    height: 51px;
}

.logo-navbar {
    top: 60px;
    position: relative;
}

#navbar-desk {
    background: #fff;
    height: 51px;
    z-index:999;
    overflow: visible;
}

#navbar-desk.w3-navbar li{
    height: 51px;
    line-height: 51px;
    text-align: center;
}

#navbar-desk.w3-navbar li a{
    padding: 0 1rem;
    font-size: .9rem;

}

#navbar-desk .register-btn {
    height: 30px;
    padding: 0 8px;
    background: #2bace2;
    letter-spacing: 1px;
    color: #fff;
    border: 1px solid rgb(54, 157, 199);
    border-bottom: 3px solid #1a8dbe;
    margin: 11px 6px 0 0;
    border-radius: 2px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    text-transform: lowercase;
/*    line-height: 30px;*/
}

#navbar-desk .register-btn:hover {
    background: #1d9fd6; 
    border-bottom: 3px solid #1a8dbe;
}

#navbar-desk .register-btn::first-letter {
    text-transform: capitalize;
}

#navbar-desk .login-btn {
    height: 30px;
    padding: 0 8px;
    background: #fff;
    letter-spacing: 1px;
    border: 1px solid rgb(54, 157, 199);
    margin: 11px 16px 0 0;
    border-radius: 2px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    text-transform: capitalize;
    color: #2bace2;
}

#navbar-desk .login-btn:hover {
    background:#064A84; 
    color: #fff;
    border: 1px solid #1372c5;
}

#navbar-mobile {
    z-index:999;
}

.overlay-tap {
    background: rgba(0, 0, 0, 0.52);
    width: 100%;
    height: 100%;
    position: absolute;
}

.w3-navbar li a:hover {
    color: #2660A4;
    background-color: rgba(43, 172, 226, 0.11);
}

.item-active {
/*    position: relative;*/
    color: #2660A4;
}

#lang-select {
    right: 8px;
    top: 60px
}

#lang-select a{
    display: block;
}

#lang-select:before {
    content: " ";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #fff;
    position: absolute;
    top: -5px;
    right: 11px;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.3));
    -webkit-filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.3));
    z-index: -1;
}

#lang-select span{
    width: 108px;
    display: inline-block;
}

#lang-select img{
    width: 16px;
    margin-bottom: -3px;
    margin-right: 4px;
}

.w3-btn.btn-lang {
    background: transparent;
    height: 51px;
}

/*
.w3-btn.btn-lang img{
    width: 16px;
}
*/

.w3-btn.btn-lang span{
    color: rgba(0, 0, 0, 0.87);
    font-size: 12px;
    transition: all .2s ease;
    cursor: pointerl
}

.w3-navbar .w3-dropdown-click:hover {
    background-color: transparent;
}

.w3-btn.btn-lang span:hover{
    color:#35ADE0;
}

.w3-btn.btn-lang:hover {
    box-shadow: none;
    background-color: transparent;
}

.w3-dropdown-content a:hover {
    background-color: aliceblue;
}

/*
.item-active:before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 2px;
    background: #2660A4;
    left: 50%;
    margin-left: -50%;
    -webkit-animation: item .4s ease;
    animation: item .4s ease;
    -webkit-transition: width .4s ease;
    transition: width .4s ease;
    
}

@-webkit-keyframes item {
    0% {width: 0}
    90% {width: 100%}
}

@keyframes item {
    0% {width: 0}
    90% {width: 100%}
}
*/

.cookies {
    background: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #fff;
    font-size: 12px;
    z-index: 9;
    text-align: center;
    -webkit-transition: padding .2s ease;
    transition: padding .2s ease;
}

.cookies div {
    display: inline;
}

.cookies:hover {
    padding: 1rem 0;
    -webkit-transition: padding .2s ease;
    transition: padding .2s ease;
}

.cookies span{
    background:#fff;
    color: #000;
    margin: 2px 0 2px 5px;
    padding: 0 3px;
    border-radius: 2px;
    display: inline-block;
    cursor: pointer;
}


/*********************** HOME ****************************/
#start {
/*
    background:url('../img/home-bkg_4.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
*/
    overflow: hidden;
}

#start h1.title {
    margin: auto;
}

.logo-home {
    width: 30%;
    margin: 50px auto 0 auto;
}

.head {
    min-height: 40%;
    max-height: 40%;
}

.lab {
/*    background: red;*/
    min-height: 60%;
    max-height: 60%;

    position: relative;
/*
    background:url('../img/home-bkg_4.svg');
    background-repeat: no-repeat;
*/
/*
    background-size: cover;
    background-position: bottom;
*/
    background-size: 100%;
    background-position: 0 100%;
/*    background: #2bace2;*/
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2bace2+0,2bace2+50,78909c+50,78909c+50,78909c+59,78909c+100 */
    background: rgb(43,172,226); /* Old browsers */ /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgb(6, 74, 132) 0%,rgba(43,172,226,1) 50%,rgba(120,144,156,1) 50%,rgba(120,144,156,1) 50%,rgba(120,144,156,1) 59%,rgba(120,144,156,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgb(6, 74, 132) 0%,rgba(43,172,226,1) 50%,rgba(120,144,156,1) 50%,rgba(120,144,156,1) 50%,rgba(120,144,156,1) 59%,rgba(120,144,156,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2bace2', endColorstr='#78909c',GradientType=0 ); /* IE6-9 */

}

.lab h1 {
    z-index: 2;
    position: relative;
}

.lab-effects {
    position: absolute;
/*    background: rgba(0, 0, 255, 0.38);*/
    height: 50%;
    top: 50%;
    left: 0;
    z-index: 1;
    width: 100%;

}

.lab-effects:before {
    content: " ";
    width: 100px;
    height: 100%;
    position: absolute;
    margin-left: -50px;
    background: url(../img/line_1.png) no-repeat;
    background-position: center;
    background-size: contain;
    opacity: .2;
}

.server-1, .server-2 {
    -webkit-perspective: 90px;
    perspective: 90px;
    overflow: hidden;
    position: relative;
}

.server-1 table{
    -webkit-transform: rotateY(18deg);
    transform: rotateY(18deg);
    background: #2D3C51;
    width: 100%;

}

.server-1 table:after{
    content: " ";
    background: #2D3C51;
    width: 1000%;
    height: 100%;
    position: absolute;
    top: 0;
    left:100%;
    background: url('../img/servers.png');
    background-size: contain;
    background-repeat: repeat-x;
}


.server-2 table{
    -webkit-transform: rotateY(-18deg);
    transform: rotateY(-18deg);
    background: #2D3C51;
    width: 100%;
}

.server-2 table:after{
    content: " ";
    background: #2D3C51;
    width: 1000%;
    height: 100%;
    position: absolute;
    top: 0;
    right:100%;
    background: url('../img/servers.png');
    background-size: contain;
    background-repeat: repeat-x;
}


.server-1 {
    width: 50%;
    position: absolute;
    height: 100%;
    left:0;
    bottom: 0;
    z-index: 1;
}

.server-1 table, .server-2 table{
    height: 100%;
    padding: 0 .1rem;
    border-spacing: 1.8rem;
}

.server-1 table th, .server-1 table td{
    background:rgba(95, 112, 129, 0.51);
    position: relative;
}

.server-2 table th, .server-2 table td{
    background:rgba(95, 112, 129, 0.51);
    position: relative;
}


.server-2 {
/*    background: #2D3C51;*/
    width: 50%;
    position: absolute;
    height: 100%;
    right: 0;
    bottom: 0;
    z-index: 1;

}

.light {
    background: #2D3C51;
    width: 100%;
    height: 100%;
    background:#EE7645;
    position: absolute;
    -webkit-animation: light 5s ease;
    animation: light 5s ease;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    top: 0;
    left: 0;
    
}

.table td .light:nth-child(3) {
    top: 90%;
    left: 72%;
    -webkit-animation-delay: .6s;
    animation-delay: .6s;

}

.table td .light:nth-child(4) {
    top: 24%;
    left: 72%;
    -webkit-animation-delay: .8s;
    animation-delay: .8s;

}

@-webkit-keyframes light {
    0% {opacity: 0;}
    20% {opacity: 1;}
    40% {opacity: 1;}
    41% {opacity: 0;}
    60% {opacity: 0;}
    61% {opacity: 1;}
    80% {opacity: 1;}
    81% {opacity: 0;}
    10% {opacity: 0;}
}

@keyframes light {
    0% {opacity: 0;}
    20% {opacity: 1;}
    40% {opacity: 1;}
    41% {opacity: 0;}
    60% {opacity: 0;}
    61% {opacity: 1;}
    80% {opacity: 1;}
    81% {opacity: 0;}
    10% {opacity: 0;}
}

.rtb-home {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 10%;
    top: 20%;
    height: 100%;
    z-index: 1;
}

.rtb-home.hat::before {
    content: " ";
    position: absolute;
    left: -8%;
    top: -7%;
    width: 100%;
    height: 30%;
    background: url(../img/hat_4.png) no-repeat;
    background-size: contain;
    background-position: center;
/*    background-color: green;*/
    
}

.rtb-home img {
/*    background: blue;*/
    width: 100%;
}

.stats {
    width: 100%;
/*
    background: #2BACE2;
    background: #02182b;
    background: #064a84;
*/
    background: #2660a4;
    position: relative;
    z-index: 2;
}

.stats > div {
    font-family: "proxima-nova",sans-serif; 
    text-transform: uppercase;
    margin: 0 auto;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    padding-bottom: .5rem;
    position: relative;
/*    color: #000;*/
}

.stats > div span{
    font-size: 2.5rem;
    font-weight: 800;
}

.stats > div p{
    font-weight: 400;
    margin: 0;
    font-size: .8rem;
    font-family: "ff-basic-gothic-web-pro",sans-serif;

}

.stats > div small{
    font-size: .8rem;
    font-family: "ff-basic-gothic-web-pro",sans-serif;

/*    text-transform: lowercase;*/
}

.stats > div h4 {
    text-transform: none;
    font-weight: 400;
    padding: 32px 0;
}


/*color: deepskyblue;*/

.stats > div:nth-child(1):before {
    content: " ";
    position: absolute;
    width: 1px;
    height: 4rem;
    background: rgba(255, 255, 255, 0.57);
    right: 0;
    top: 1rem;
} 

.stats > div:nth-child(2):before {
    content: " ";
    position: absolute;
    width: 1px;
    height: 4rem;
    background: rgba(255, 255, 255, 0.57);
    right: 0;
    top: 1rem;
} 

.stats > div:nth-child(3):before {
    content: " ";
    position: absolute;
    width: 1px;
    height: 4rem;
    background: rgba(255, 255, 255, 0.57);
    right: 0;
    top: 1rem;
} 


#snow {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}


/*********************** STEPS ****************************/

#steps {
/*    background: #2660a4;*/
    background: #fff;
    color:#000;
    padding-top: 32px;
/*    padding-bottom: 0 !important;*/
}

.steps-txt {
/*    padding: 2rem 2rem 0 0;*/

}

.steps h1{
    font-weight: 400;
    font-size: 3rem;
/*    margin: 0 2rem 0 0;*/
/*    padding: 2rem 0 0 1rem;*/
/*    position: relative;*/
/*    z-index: 0;*/
    color: rgba(38, 96, 164, 0.9);
    background: rgba(38, 96, 164, 0.05);
    border-radius: 50%;
    border-bottom: 2px solid rgba(38, 96, 164, .5);
    width: 4.5rem;
    height: 4.5rem;
    text-align: center;
    line-height: 4.5rem;
    position: relative;
    z-index: 1;
}

/*
.steps h1.step-1:before{
    content: " ";
    position: absolute;

    width: 4rem;
    height: 4rem;
    background: rgba(38, 96, 164, 0.05);
    z-index: -1;
    left: -0.5rem;
    border-radius: 50%;
    border-bottom: 2px solid rgba(38, 96, 164, .5);

        
}
.steps h1.step-2:before{
    content: " ";
    position: absolute;
    width: 4rem;
    height: 4rem;
    background: rgba(38, 96, 164, 0.05);
    z-index: -1;
    top: 2.15rem;
    left: -0.2rem;
    border-radius: 50%;
    border-bottom: 2px solid rgba(38, 96, 164, .5);
}

.steps h1.step-3:before{
    content: " ";
    position: absolute;
    width: 4rem;
    height: 4rem;
    background: rgba(38, 96, 164, 0.05);
    z-index: -1;
    top: 2.15rem;
    left: -0.2rem;
    border-radius: 50%;
    border-bottom: 2px solid rgba(38, 96, 164, .5);
}
*/


.steps h4{
    font-weight: 400;
    text-transform: uppercase;
    color: #2660a4;
    margin-bottom: 0;
    text-align: center;

}

.steps p{
    color: #2660a4;
    padding:0 1rem;
    margin-top: 0;
    text-align: center;
}

#steps a {
    display: table;
    margin: 1rem auto;
    font-size: 1.5rem !important;
    letter-spacing: .1rem;
    background: #ee4266;
    border: 1px solid #c41239;
    border-bottom: 5px solid #e01541;
/*    text-transform: lowercase;*/
    padding: .5rem 2rem;
}


/*********************** PUBLISHERS ****************************/

#publishers {
    background:#02182B; 
/*
    background: #2bace2;
    background: #3C54E6;
*/
}

.header-triangle-0 {
/*
    width: 100%;
    height: 100%;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
    border-top:80px solid #fff;
    position: relative;
    background: #02182B;
*/
    
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 15px solid #fff;
    position: relative;
    margin: 0 auto;
}

#publishers h3, #publishers h1{
    color: aliceblue;
    text-align: center;
}

#publishers h1 {
    text-transform: capitalize;
}

.pubs {
    margin: 4rem 0;
}

.pubs  > div {
/*    background: red;*/
    padding: 0 1rem;
}


.pubs img {
/*    width: 30%;*/
    height: 80px;
/*    height: 5%;*/
    margin: 2rem auto 3rem auto;
    display: block;
    opacity: .9;
/*    display: none;*/
}

.pubs h5 {
    font-weight: 400;
    font-size: 1rem;
/*    color:#0D47A1;*/
    color: aliceblue;
    opacity: .9;
    font-family: "ff-basic-gothic-web-pro",sans-serif;
}

.formats {
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 3rem;
}

.demo-call {
/*    background: rgba(255, 255, 255, 0.30);*/
    color:rgba(255, 255, 255, .8);
    border: 1px solid rgba(43, 172, 226, 0.61);
    margin: 0 auto;
    width: 40%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    letter-spacing: .1rem;
    position: relative;
    opacity: 0;
}

.demo-call h4 {
    margin: 0;
    font-weight: 400;
    text-transform: uppercase;
    font-size: .9rem;
}

.demo-call:before {
    content: " ";
    background: url('../img/cursor.svg') no-repeat;
    position: absolute;
    width: 25px;
    height: 25px;
/*    background-color: red;*/
    background-size: cover;
    right: 20px;
    top: 6px;
    opacity: .8;
}


/*
.format-wrap  {
    min-width: 32.5%;
    margin-right: auto;
    margin-bottom: 1%;
}
*/

.format-wrap {
    height: 200px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    border-radius: 3px;
    overflow: hidden;
    -webkit-transition: background-color .4s ease;
    transition: background-color .4s ease;
}

.format-wrap:hover {
    background-color:rgba(0, 188, 212, 0.12);
}

.format-wrap h3 {
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
}

.format-wrap img {
    width: 60%;
    margin: 0 auto;
    display: block;
}

.fade-inout {
    -webkit-animation: fadeinout 2s ease;
    animation: fadeinout 2s ease;
}

@-webkit-keyframes fadeinout {
    0% {opacity: 0;}
    10% {opacity: 1;}
    70% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes fadeinout {
    0% {opacity: 0;}
    10% {opacity: 1;}
    70% {opacity: 1;}
    100% {opacity: 0;}
}



/*********************** NETWORKS ****************************/
#networks {
/*    background: #EAE8FF;*/
    position: relative;
    overflow: hidden;
}

/*
#networks h1{
    color: #fff;
    position: absolute;
    left: 0;
    top: -95px;
    width: 300px;
    margin-left: -150px;
    text-transform: capitalize;
    text-align: center;
}
*/

#networks h1{
    text-align: center;
    color: #2660A4;
    text-transform: capitalize;
    background: white;
    position: relative;
    z-index: 3;
    margin: 0;
    padding: 2.5rem 8px 1rem 0;
}

.networks img {
    width: 85%;
    position: relative;
    margin: auto;
}

.networks h3 {
    color:#2660A4;
    text-transform: uppercase;
    font-weight: 400;
}

.networks h4 {
/*    text-transform: uppercase;*/
    font-weight: 400;
    color:#2660A4;
    font-family: "ff-basic-gothic-web-pro",sans-serif;
    font-size: 1rem;
}

.networks h5 {
    font-weight: 400;
    color:#2660A4;
    margin: 4px;
    font-size: 1rem;
}

#networks .ab-panel .w3-tag {
    background:rgba(38, 96, 164, 0.10);
    margin-bottom: 4px;
}

#networks .ab-panel > div:nth-child(1){
    width: 100%;
    padding: 2rem 3rem 2rem 0;
/*    margin: 1rem 0 1rem 1rem;*/
/*    background: #f6f5ff;*/
    overflow: hidden;
    text-align: right;
}

#networks .ab-panel > div:nth-child(3) {
    width: 100%;
    padding: 2rem 0 2rem 3rem;
/*    margin: 1rem 1rem 1rem 0;*/
/*    background: #f6f5ff;*/
    overflow: hidden;


}

#networks .ab-panel > div:nth-child(2){
    background:#f6f5ff;
    width: 2px;
    min-width: 2px;
}

.header-triangle {
/*
    width: 100%;
    height: 100%;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
    border-top:80px solid #02182B;
    position: relative;
*/
    
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 15px solid #02182B;
    position: relative;
    margin: 0 auto;
}

#networks .ab-panel:nth-child(even) {
    text-align: left;
}

#networks .ab-panel img:nth-child(odd) {
/*    margin: auto;*/
    display: block;
/*    background: red;*/
}

#networks .ab-panel:nth-child(even) img{
/*    background: blue;*/
/*    margin: 0;*/
/*    float: right;*/
}

#networks .ab-panel:nth-child(odd) img{
/*    background: green;*/
/*    margin-left: -100%;*/
/*    margin: 0;*/
/*    float: left;*/
    
}

#pin-line {
    width: 2px;
    height: 50px;
    left: 50%;
    background:#2660A4;
    position: absolute;
}



/*********************** AUTOMATIC ****************************/

.robot {
    position: absolute;
    width: 5%;
    top: 0;
    right: 0;
}

.automatic h3 {
    position: relative;
}

/*********************** HELP ****************************/

#help {
/*    background: url('../img/help.png');*/
/*
    background-size: cover;
    background-repeat: no-repeat;
*/
/*    background: #3C54E6;*/
    background: #064a84;
    overflow: hidden;
    position: relative;
}

.help {
    position: relative;
    z-index: 2;
}

.help-img {
    width: 50%;
    position: absolute;
    z-index: 1;
    left: -35%;
}

.help img {
    width: 15%;
}


.help a {
    text-decoration: none;
    display: block;
}

.help .skype-aux a img{
    width: 0px;
}


.help a h4{
    color: #fff;
    font-weight: 400;
    font-family: "ff-basic-gothic-web-pro",sans-serif;
}

.fk-skype {
    position: relative;
    z-index: 2;
    pointer-events: none;
}

.fk-skype h4{
    color: #fff;
    font-weight: 400;
}

.skype-aux p {
    margin: 0;
    height: 100%;
}


.skype-aux a {
    margin: 0;
    height: 100%;
}

.hover-aux {
    padding: 32px 0;
    cursor: pointer;
    -webkit-transition: background .2s ease;
    transition: background .2s ease;
    border-radius: 2px;
    position: relative;
}

.hover-aux:hover {
    background: rgba(255, 255, 255, 0.09)
}

footer img{
    opacity: .9;
}

footer {
/*    background:#0C2E57;*/
/*    background:#091041 ;*/
    background: #02182B;
    color: #fff;
}

footer p {
    color: rgba(255, 255, 255, .6);
    letter-spacing: .12px;
    text-transform: uppercase;
    font-size: 12px;
/*    background: rgba(255, 255, 255, 0.12);*/
/*    margin: 0;*/
}

.payments {
    margin-bottom: 1rem;
}

.payments, .social, .providers, .legal {
    border: 1px solid rgba(255, 255, 255, 0.14);
    border-radius: 2px;
}

.payments img{
    width: 25%;
}

.payments a{
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    cursor: pointer;
}

.payments a:hover{
    background: rgba(255, 255, 255, 0.14);
}

.providers {
    margin-right: 1rem;
    height: 100%;
}

.providers a{
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    display: block;
    cursor: pointer;
}

.providers a:hover{
    background: rgba(255, 255, 255, 0.14);
}

.providers img {
    margin: 1rem auto;
    height: 46px;
}

.social {
    height: 210px;
}

.social > div{
    height: calc(100% - 50px);
}

.social a{
    margin: auto;
    display: block;
    
}

.social i{
    font-size: 4rem;
}

.legal {
    margin-top: 1rem;
}

.legal a{
    display: inline-block;
    width: 30%;
    color: #fff;
}

/***************************************************/
/***************************************************/
/***************************************************/
/*MEDIA QUERIES*/

@media only screen and (max-width: 4000px) {
    
    .padding-sides {
        padding-left:42rem; 
        padding-right:42rem;
    }

    .logo-home {
        width: 20%;
    }
    
    .parallaxParent {
        height: 70vh;
    }
    
    .head {
        min-height: 30%;
        max-height: 30%;
    }
    
    .lab {
        min-height: 70%;
        max-height: 70%;
    }
}



@media only screen and (max-width: 2000px) {

    .padding-sides {
        padding-left:22rem; 
        padding-right:22rem;
    }
    
}

@media only screen and (max-width: 1600px) {
    
    .head {
        min-height: 40%;
        max-height: 40%;
    }

    .lab {
        min-height: 60%;
        max-height: 60%;
    }
    
    .padding-sides {
        padding-left:4rem; 
        padding-right:4rem;
    }
    
    .logo-home {
        width: 30%;
    }
    
    .parallaxParent {
        height: 50vh;
    }
}

@media only screen and (max-width: 1100px) {
    .server-1, .server-2 {
        width: 40%;
    }
}

@media only screen and (max-width: 992px) {
    .w3-navbar li:not(.w3-opennav) {
        float: none;
        width: 100%!important;
    }
    
    #lang-select img{
        margin: 0 8px 0 16px;
    }
        
    .head {
        min-height: 300px;
        max-height: 300px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -ms-grid-row-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
    }

    .lab {
        min-height: 400px;
        max-height: 400px;
    }
    
    .server-1, .server-2 {
        width: 40%;
    }
    .lab-effects {
        height: 200px;
        top: 200px;
    }
    
    .rtb-home {
        width: 15%;
    }
    
    #start {
        height: auto;
    }
    
    .logo-home {
        width: 40%;
        margin: 60px 0 0 0;
    }
    
    #start h1.title {
        margin: 1rem 0;
    }
    
    .pubs  > div {
        height: 250px;
    }
        
    .pubs h5 {
        text-align: center;
    }
    
    .parallaxParent > div {
        background-size: 150%;
        background-position: right;
        top: -50vh;
    }
    
    .providers {
        margin: 0 0 1rem 0;
    }
    
    .providers a {
        width: 49%;
        display: inline-block;
    }


}

@media only screen and (max-width: 768px) {
    .cookies {
        padding: 2rem;
    }
    
    .cookies:hover {
        padding: 2rem;
    }
    
    .cookies div {
        float: left;
        width: 75%;
        text-align: left;
    }
    
    .cookies span {
        float: right;
        width: 20%;
        height: 2rem;
        line-height: 2rem;
    }
    
    .padding-sides {
        padding-left:16px; 
        padding-right:16px;
    }
    
    .networks img {
        position: static;
    }
    
    #networks .ab-panel {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-bottom: 1rem;
    }
    
    #networks .ab-panel > div:nth-child(2), #pin-line {
        display: none;
    }
    
    #networks .ab-panel > div:nth-child(1) {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        -webkit-order: 2;
        order: 2;
        padding: 0;
        text-align: left;
        display: block;
    }
    
    #networks .ab-panel > div:nth-child(3) {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        -webkit-order: 1;
        order: 1;
        padding: 0;
        text-align: left;
        display: block;
    }
    
    .ab-panel.reverse {
        -webkit-box-orient: vertical !important;
        -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
        -webkit-flex-direction: column-reverse !important;
        flex-direction: column-reverse !important;
    }

}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    #start {
        height: auto;
    }
    .lab {
        min-height: 400px;
        max-height: 400px;
    }
    
    .head {
        min-height: 350px;
        max-height: 350px;
    }
    
    .parallaxParent > div {
        background-size: 150%;
        background-position: right;
        top: -50vh;
    }
}

@media only screen and (max-width: 600px) {
    
    .item-active {
        background:#2BACE2;
    }
    .item-active:before {
        display: none;
    }
    
    .logo-home {
        width: 60%;
    }
    
    .head {
        min-height: 400px;
        max-height: 400px;
    }
    
    .lab {
        min-height: 250px;
        max-height: 250px;
    }
    
    .lab-effects {
        height: 125px;
        top: 125px;
    }
    
    .server-1, .server-2 {
        -webkit-perspective: 15px;
        perspective: 15px;
    }
    
    .server-1 table, .server-2 table {
        border-spacing: 1rem;
    }
    
    .stats > div:nth-child(1):before,.stats > div:nth-child(2):before, .stats > div:nth-child(3):before {
        display: none;
    }
    
    .pubs {
        margin: 2rem 0;
    }
    
    .format-wrap {
        height: 250px;
    }
    
    .payments img {
        width: 35%;
    }
    
}
