﻿@charset "utf-8";
/* model.css */
.hea-search input{width: 90px;}
.old-enet-con { width: 207px;}
.channel-sub{ width:244px;}
.shadow{ height:auto;}
.sha-con{ margin-top:5px; margin-bottom:5px; text-align: right; width: 900px; padding-right: 100px}
.sha-con a{ font-size: 16px; color: #176db6; line-height: 36px; letter-spacing: 1px;}
.con-top{ margin:0 auto; height:520px; overflow:hidden;}
.con-bottom{ padding:38px 0; background:#e5e5e5;}
.con-bot-next .next-sub{ float:left; width:229px; margin-left:28px; background:#fff;}
.con-bot-next .subfirst{ margin-left:0;}
.con-bot-next .next-sub .subimg img{ display:inline-block;}
.next-sub ul { padding:16px 13px 20px 16px;}
.next-sub ul li{ width: 200px; background:url(../images/point.jpg) no-repeat left center; color:#616269;}
.next-sub ul li.lifirst{ color:#222;}
.next-sub ul li a{ display:block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
 color:#616269; font-size:13px; line-height:26px; margin-left:12px;}
.next-sub ul li a:hover{ color:#222;}
.next-sub ul li a:active{ background:#fff;}
.next-sub ul li.limore{ list-style:none;}
.next-sub ul li.limore a.more{ display:block; font-size:12px; color:#2980d7; line-height:49px; text-align:right;}

/*轮播图 css 样式*/
.swiper-container {
  width: 100%;
  background: #000;
  height: 520px;
  color: #fff;
  text-align: center;
}
.swiper-slide {
  height: 100%;
  opacity: 0.4;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}
.swiper-slide-active {
  opacity: 1;
}
.swiper-slide .title{
	height: 55px;
	font-size: 24px;
	line-height: 55px;
	position: absolute;
	bottom: 100px;
	-webkit-font-smoothing: antialiased;
	color: #fff;
	width: 735px;
	background: url(../images/titlebg.png);
	text-align: right;
	padding-right: 65px;
}
.pagination {
  display:none;
  position: absolute;
  z-index: 20;
  left: 10px;
  bottom: 10px;
}
.swiper-pagination-switch {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: #222;
  margin-right: 8px;
  opacity: 0.8;
  border: 1px solid #fff;
  cursor: pointer;
}
.swiper-visible-switch {
  background: #aaa;
}
.swiper-active-switch {
  background: #fff;
}
.arrow{ 
  position:relative;
  width:800px;
  height:30px;
  margin:-260px auto 0;
}
.arrow .arrow-left {
  background: url(../images/arrows.png) no-repeat left top;
  position: absolute;
  left: 20px;
  top: 50%;
  margin-top: -15px;
  width: 17px;
  height: 30px;
}
.arrow .arrow-right {
  background: url(../images/arrows.png) no-repeat left bottom;
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -15px;
  width: 17px;
  height: 30px;
}
