@charset "utf-8";

/* CSS Document */

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    margin: 0;
    padding: 0;
}

a,
fieldset,
img {
    border: none;
}

a {
    color: #777;
    text-decoration: none;
    outline-style: none;
}

a:focus {
    text-decoration: none;
}

a:active {
    background-color: inherit;
}

a:active,
a:hover {
    color: #777;
    text-decoration: none;
}

ul li,
ol li {
    list-style: none;
}

img {
    vertical-align: middle;
}

body,
button,
input,
select,
textarea {
    font: 14px/1.5 Open Sans, Arial, "Microsoft YaHei", "微软雅黑", "Hiragino Sans GB", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
    background-color: #fff;
    height: 100%;
}
*{
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -ms-box-sizing: content-box;
    -o-box-sizing: content-box;
    box-sizing: content-box;
}
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    overflow: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clear {
    zoom: 1;
}

.clear:after {
    overflow: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}


/* header start */

.hea-top {
    height: 65px;
    background: url(../images/hea_bg.jpg) no-repeat center center #176db6;
    background-size: cover;
}
.hea-nav,
.sha-con,
.advert,
.content .con-bottom .con-bot-next {
    width: 1000px;
    margin: 0 auto;
}

.hea-nav {
    position: relative;
    z-index: 999;
}

.hea-logo,
.hea-nav-con,
.hea-old-enet {
    float: left;
}

.hea-logo {
    margin: 18px 0 0;
}

.hea-nav-con {
    margin: 0 26px;
}

ul.nav-con-ul {
    line-height: 10px;
}

ul.nav-con-ul li {
    display: inline-block;
    float: left;
}

ul.nav-con-ul .nav-down-wid{
    padding: 0 10px;
    position: relative;
}
.nav-down-wid3{
    min-width: 265px;
}
ul.nav-con-ul li a {
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    float: left;
    display: block;
    padding: 0 18px;
    font-size: 20px;
    color: #fff;
    line-height: 65px;
    text-align: center;
    position: relative;
    z-index: 999;
}
.nav-con-ul li,.nav-con-ul li .nav-li-sub,.nav-con-ul li .nav-down{
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}
.nav-li-sub{
    float: left;
}
.nav-line{
    display: inline-block;
    float: left;
    width: 1px;
    height: 34px;
    margin-top: 16px;
    background:#83cff3;
    background: rgba(135,200,245,0.8);
}
.nav-li-nav{
    max-width: 225px;
    padding: 5px 15px 0;
}
.nav-li-nav3{
    max-width: 155px;
}
ul.nav-con-ul .nav-li-nav ul{
    display: inline-block;
}
ul.nav-con-ul .nav-li-sub a {
    color: #fff;
    font-size: 15px;
    padding: 0 5px;
    line-height: 28px;
    text-align: left;
}
ul.nav-con-ul .nav-li-sub a:hover {
    background: #5cc7fa;
    color: #fff;
    border-radius: 3px;
}
.nav-li-xiala {
    min-width: 285px;
    position: absolute;
    top: 63px;
    left: 0;
    z-index: 999;
    background: #fcfcfc;
    padding: 15px 20px;
    display: none;
    box-sizing: border-box;
    box-shadow: 0 4px 5px rgba(0, 0, 0, .2);
    border-top: 2px solid #5f5f5f;
}
.nav-li-xiala1{
    min-width: 245px;
}
ul.nav-con-ul .nav-li-xiala a {
    color: #535258;
    margin:2px 3px;
}
.nav-down {
    background: url(../images/down.png) no-repeat center 48px;
    background-size: 15px;
}
.nav-con-ul li.active {
    background: #1e578e;
    background: rgba(30,90,145,0.8);
}
.nav-con-ul li.active .nav-down {
    background: url(../images/up.png) no-repeat center 48px;
    background-size: 15px;
}
.tool-con,
.tool-con a {
    font-size: 15px;
    color: #616269
}

.tool-con {
    position: absolute;
    left: 0;
    top: 48px;
    z-index: 998;
    padding: 12px 12px 15px;
    background: #fff;
    border-top: 3px solid #52535a;
    -webkit-box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.2);
}
.tool-con-img,
.tool-con-artile,
.tool-con-channel {
    float: left;
}

.tool-con-img {
    margin-top: 8px;
}

.tool-con-artile {
    margin-top: 8px;
    display: none;
}

.tool-con-artile ul {
    float: left;
    padding: 0 15px;
    border-right: 1px solid #e5e5e5;
}

.tool-con-artile ul li {
    float: none;
    width: 212px;
    /* overflow: hidden; text-overflow: ellipsis; white-space: nowrap;*/
}

.tool-con-artile ul li a {
    display: inline-block;
    width: 212px;
    line-height: 22px;
}

.tool-con-artile ul li a:hover {
    color: #2368cc;
}

.tool-con-artile ul li.mid-li a {
    border-bottom: 1px dashed #e3e3e3;
    border-top: 1px dashed #e3e3e3;
    padding: 14px 0;
    margin: 12px 0;
}

.tool-con-channel {
    width: 780px;
    margin-left: 14px;
}

.tool-con-channel a {
    display: inline-block;
    margin: 0 6px;
    line-height: 34px;
}

.tool-con-channel a:hover {
    color: #2368cc;
}

.channel-sub {
    float: left;
    width: 260px;
    padding: 0 5px 0 10px;
    border-left: 1px solid #e5e5e5;
}

.fn-hide {
    display: none;
}

.fn-show {
    display: block;
}

.hea-old-enet {
    position: relative;
    margin: 19px 0 0;
    float: right;
}

.hea-old-enet span {
    cursor: pointer;
}

.old-enet-con {
    display: none;
    position: absolute;
    z-index: 1000;
    left: -112px;
    top: 26px;
    width: 245px;
    padding: 31px 19px;
    background: url(../images/old-enet-bg1.png) no-repeat center;
}

.old-enet-con a {
    display: inline-block;
    color: #404f56;
    font-size: 15px;
    line-height: 34px;
    padding: 0 7px;
}

.old-enet-con a:hover {
    color: #2368cc;
}

.old-enet-con a.blue-a,
.tool-con-channel a.blue-a {
    color: #2368cc;
}

.old-enet-con a.old-enet-btn {
    width: 84px;
    height: 20px;
    padding-left: 6px;
    color: #eb7e90;
    line-height: 20px;
    background: url(../images/old-enet-btn.jpg) no-repeat center;
}

.hea-search {
    float: right;
    margin: 23px 0 0;
}

.hea-search input {
    float: left;
    display: block;
    width: 106px;
    height: 21px;
    padding: 0 8px;
    border: none;
    background: url(../images/frame.png) no-repeat center;
    color: #eee;
    outline: none;
}

.hea-search a.search {
    float: left;
    display: block;
    width: 19px;
    height: 23px;
    margin-left: 10px;
    background: url(../images/search.png) no-repeat center;
}


/*ul.advert{padding:20px 0;}
ul.advert li{float:left;margin-left:20px;}
ul.advert li.first{margin-left:0;}
ul.advert li.last{margin-left:37px;}*/

.advert {
    padding: 20px 0 25px 0;
}

.advert .ad-left {
    float: left;
    height: 80px;
}

.advert .ad-right {
    float: right;
    height: 60px;
}
.advert .ad-all{margin-bottom: 20px;}

.shadow {
    margin: 0 auto;
    border-top: 1px solid #e5e7e7;
    width: 100%;
    height: 35px;
    overflow: hidden;
    background: url(../images/shadow.png) no-repeat center -1px;
}
/* header end */

/*index-nav*/
.index-nav .tool-con{
    width:1000px;
    padding:15px 15px 22px;
    box-sizing:border-box;
}
.index-nav .tool-con,
.index-nav .tool-con a {
    font-size: 16px;
    color: #616269
}


.index-nav .tool-con-artile ul li {
    float: none;
    width: 212px;
    /* overflow: hidden; text-overflow: ellipsis; white-space: nowrap;*/
}

.index-nav .tool-con-artile ul li a {
    display: inline-block;
    width: 212px;
    line-height: 22px;
}

.index-nav .tool-con-artile ul li a:hover {
    color: #2368cc;
}

.index-nav .tool-con-artile ul li.mid-li a {
    border-bottom: 1px dashed #e3e3e3;
    border-top: 1px dashed #e3e3e3;
    padding: 14px 0;
    margin: 12px 0;
}

.index-nav .tool-con-channel {
    width: 100%;
    margin-left: 0px;
}

.index-nav .tool-con-channel a {
    border-radius:3px;
    display: inline-block;
    margin: 0;
    line-height: 30px;
    padding:2px 11px;
}

.index-nav .tool-con-channel a:hover {
    background:#2081c5;
    color: #fff;
}

.index-nav .channel-sub {
    float: left;
    width: 33.3%;
    padding: 0 5px 0 10px;
    border-left: 1px solid #e5e5e5;
    box-sizing:border-box;
}
.index-nav .channel-sub:nth-child(1){
    border-left:none;
}



/* context start */

.con-left,
.con-mid-bak,
.con-right {
    float: left;
}

.con-left {
    width: 66%
}
.con-left .toptag{
    width: 100%;
    background: #f1f2f7;
    margin-bottom: 35px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #fff;
}
.con-left .toptag a{
    font-size: 24px;
    height: 48px;
    line-height: 50px;
    color: #24587c;
    display: inline-block;
    padding: 0 45px 0 15px;
    background: url(../images/show-right.png) no-repeat right center;
    background-size: 48px
}
.con-mid-bak {
    width: 4%;
    height: 1px;
    visibility: hidden;
    font-size: 1px;
}

.path{
    margin-bottom: 25px;
}
.path span{
    display: inline-block;
}
.path span.path-png{
    background: url(../images/path.png) no-repeat right 4px;
    padding-right: 24px;
    margin-right: 8px;
}
.path span a{
    font-size: 16px;
    color: #555;
}
.path span a:hover{
    color:#2458a2;
}
.con-right {
    width: 30%;
    position: relative;
}
.con-right .img{
	display: none;
}
.con-right .tuiguang {
    background: #f5f5f5;
    border: 1px solid #f9cc8d;
    padding: 30px 18px 6px 12px;
}

.con-right .tuiguang:before {
    content: "";
    display: block;
    width: 58px;
    height: 24px;
    background: url(../images/tuiguang.png) no-repeat left top;
    position: absolute;
    top: -2px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.con-right .tuiguang li {
    padding: 8px 0 7px 12px;
    background: url(../images/dotted.png) no-repeat left 17px;
    border-bottom: 1px dashed #d5dade;
}

.con-right .tuiguang li a {
    color: #525252;
    line-height: 25px;
    font-size: 14px;
}


/* (top)返回顶部按钮样式 */

.top {
    position: fixed;
    z-index: 20;
    display: none;
    cursor: pointer;
    border-radius: 5px;
    bottom: 250px;
    right: 20px;
    width: 46px;
    height: 46px;
    background: url(../images/gotop.png) no-repeat center;
}

.top:hover {
    background: url(../images/gotop2.png) no-repeat center;
}


/* context end */


/* footer start */

.footer {
    padding: 0;
}

.foo-nav {
    text-align: center;
    padding: 35px 10px 22px;
}

.foo-nav ul {
    display: inline-block;
}
.foo-nav ul li {
    float: left;
}

.foo-nav ul li,
.foo-nav ul li a,
.foo-nav p {
    font-size: 12px;
    color: #57656e;
    line-height: 30px;
}

.foo-nav ul li a {
    display: inline-block;
    float: left;
    padding: 0 5px;
}

.foo-con {
    background: #6a7478;
    padding: 10px 0;
}

.foo-con p.foo-con-p {
    padding: 0 10px;
    line-height: 20px;
    font-size: 12px;
    color: #fff;
}

.footer p {
    text-align: center;
}



/* footer end */


/* 适配手机样式 */

@media (max-width: 767px) {
    .context {
        padding-top: 20px;
    }
    .content {
        padding-top: 15px;
    }
    .con-left,
    .con-right {
        float: none;
    }
    .con-left {
        width: 100%;
    }
    .con-mid-bak {
        display: none;
    }
    .con-right {
        width: 100%;
        margin-top: 50px;
    }
    .con-left .disc textarea {
        width: 98%;
    }
    .top {
        bottom: 120px;
        right: 10px;
        width: 40px;
        height: 40px;
        background: url(../images/gotop.png) no-repeat center;
    }
    #jiathis_weixin_modal {
        left: 55%;
    }
}

@media(max-width:550px) {
    .con-left .text center img {
        width: 98%;
        height: auto;
    }
    .container {
        padding-right: 10px;
        padding-left: 10px;
    }
    .con-right {
        margin-top: 25px;
    }
    ul.hb-topics {
        margin-top: 0;
        padding-top: 45px;
    }
    ul.hb-topics li a {
        font-size: 17px;
        line-height: 26px;
        color: #474747;
    }
    .foo-nav {
        padding: 30px 10px 20px;
    }
}
.hea-search{
    display: none;
}
.conart .bdsharebuttonbox{
    text-align: right;
    margin: 25px 0;
}
.conart .bdsharebuttonbox a{
    float: none;
    display: inline-block;
}
/*.con-bottom{width: 1000px; margin: 0 auto;}
.con-bot-next .next-sub{margin: 0 10px !important;}
.con-bot-next .subfirst{margin-left: 10px !important;}*/