@charset "utf-8";
/** {
	margin:0;
	padding:0;
	list-style:none;
}
body {
	background:#fff;
	font:normal 12px/22px  Arial, Helvetica, sans-serif;
	width:100%;
}
img {
	border:0;
}
a {
	text-decoration:none;
	color:#333;
}
a:hover {
	color:#1974A1;
}*/
.slider {
	width:100%;
	min-width:800px;
	height:520px;
	position:relative;
	overflow:hidden;
	background:#fff;
	text-align:center;
}
.slider .bd {
	width:800px;
	position:absolute;
	left:50%;
	margin-left:-400px
}
.slider .bd li {
	width:800px;
	overflow:hidden;
}
.slider .bd li img {
	display:block;
	width:800px;
	height:520px;
}
.slider .tempWrap {
	overflow:visible !important
}
.slider .tempWrap ul {
	margin-left:-800px !important;
}
.slider .hd {
	position:absolute;
	width:100%;
	left:0;
	z-index:1;
	height:8px;
	bottom:20px;
	text-align:center;
}
.slider .hd li {
	display:inline-block;
	*display:inline;
	zoom:1;
	width:8px;
	height:8px;
	line-height:99px;
	overflow:hidden;
	background:url(../images/slider-btn.png) 0 -10px no-repeat;
	margin:0 5px;
	cursor:pointer;
}

.slider .title{
	/*height: 55px;*/
	font-size: 24px;
	line-height: 30px;
	position: absolute;
	top: 365px;
	-webkit-font-smoothing: antialiased;
	color: #fff;
	width: 685px;
	background: url(../images/titlebg.png);
	text-align: right;
	padding:10px 35px 10px 80px;
}

.slider .hd li.on {
	background-position:0 0;
}
.slider .pnBtn {
	position:absolute;
	z-index:1;
	top:0;
	width:100%;
	height:520px;
	cursor:pointer;
}
.slider .prev {
	left:-50%;
	margin-left:-400px;
}
.slider .next {
	left:50%;
	margin-left:400px;
}
.slider .pnBtn .blackBg {
	display:block;
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:520px;
	background:#000;
	filter:alpha(opacity=50);
	opacity:0.5;
}
.slider .pnBtn .arrows {
	display:none;
	position:absolute;
	top:0;
	z-index:1;
	width:60px;
	height:520px;
}
.slider .pnBtn .arrows:hover {
	filter:alpha(opacity=60);
	opacity:0.6;
}
.slider .prev .arrows {
	right:0;
	background:url(../images/slider-arrow.png) -130px 90px no-repeat;
}
.slider .next .arrows {
	left:0;
	background:url(../images/slider-arrow.png) 20px 90px no-repeat;
}
/* 代码整理：懒人之家 www.lanrenzhijia.com */