@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0;list-style:none;border:0; list-style-type:none;}
/* body */
body { width:100%; margin:0 auto; font:12px/180% Arial, Helvetica, sans-serif, "Microsoft Yahei"; background-color:#f1f1f1;background-repeat:no-repeat; background-position: top center; }
.top_ad{margin:0 auto; margin-top:8px; margin-bottom:8px; width:1180px; text-align:center; background-color:#FFF; padding:10px;}
.top_ad ul{margin:0 auto; width:1200px; text-align:center; background-color:#FFF;}
.top{float:left; width:100%; height:40px; background-color:#285192; border-bottom:#f8a114 3px solid; }
.top ul{margin:0 auto; width:1200px; font-family:"Microsoft Yahei"; font-size:16px; font-weight:normal;line-height:40px; color:#FFFFFF;}
.top ul a{ color:#FFFFFF; margin-right:10px; text-decoration:none;}
.top ul a:hover{ color: #FFFF99;}
.top ul span{width:122px; height:39px; btext-align: right;  color:#FFFF66;}
.top ul span a{color:#FFFF66; margin-right:0px;}
.mian{width:1200px; margin:0 auto; background-color:#f1f1f1;}
.logo_w{float:left; width:1180px;background-color:#fff;padding:3px 10px 10px 10px;  margin-top:8px;}
.logo{float:left; margin-top:10px; width:300px;}
.logo_right{float:left; margin-top:10px; width:300px;}
.search{float:left;  margin-top:10px; margin-left:20px;}
.search .text{ width:280px; height:30px; border:#637fe4 1px solid;}
.search .btn-submit{width:60px; height:32px; font-family:"Microsoft YaHei"; font-size:14px;  font-weight:bold; line-height:30px; background-color:#637fe4; color:#FFFFFF;}
.jizhe{float:left; width:350px; padding-left:12px; display:inline; padding-top:10px;}
.jizhe li{ float:left; margin-left:8px; width:50px; text-align:center; display:inline; }
.jizhe li a{ color:#333; font-size:12px; text-decoration: none; line-height:18px;}
.jizhe li a:hover{ color:#F00;}
.jizhe li img{ width:50px; height:50px;border-radius: 50px;}
.jizhe li a:hover img { opacity:0.6;filter(alpha=60)}
.miannei{ width:1200px;  margin:0 auto; }
.hdeng{float:left; width:600px;}
.pd2015{float:left; width:550px; line-height:20px; height:50px; padding-top:13px;}
.pd2015 a{margin-right:1px; display:inline; color: #FFF; background-color:#ff7f21; font-size:12px; line-height:26px; padding:4px 6px;}
.pd2015 a:hover{ color: #FFF; background-color:#285192; font-size:12px; line-height:26px; padding:4px 6px;}
/* hd new */
/* clearfix */
.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
/* display none until init */
.owl-carousel{
	display: none;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
	
.owl-carousel .owl-item{
	float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
	cursor: pointer;
}
.owl-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing { 
    cursor:url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}

#owl-demo{position:relative;width:600px;height:330px;margin:0px auto 0 auto;}
#owl-demo .item{ position:relative;display:block;}
#owl-demo img{display:block;width:600px;height:330px;}
#owl-demo b{position:absolute;left:0;bottom:0;width:100%;height:40px;background-color:#000;opacity:.5;filter:alpha(opacity=50);}
#owl-demo span{position:absolute;left:0;bottom:5px;width:590px;font:24px/32px "微软雅黑","黑体";color:#fff;text-align:center;
    white-space: nowrap;  
    overflow: hidden;  
    text-overflow: ellipsis;  }

.owl-pagination{position:absolute;left:0;bottom:0px;width:100%;height:22px;text-align:center;}
.owl-page{display:inline-block;width:10px;height:10px;margin:0 5px;background-image:url(images/bg15.png);*display:inline;*zoom:1;}
.owl-pagination .active{width:25px;background-image:url(images/bg16.png);}
.owl-buttons{display:none;}
.owl-buttons div{position:absolute;top:50%;width:40px;height:80px;margin-top:-40px;text-indent:-9999px;}
.owl-prev{left:0;background-image:url(http://upload.qudong.com/images/bg17.png);}
.owl-next{right:0;background-image:url(http://upload.qudong.com/images/bg18.png);}
.owl-prev:hover{background-image:url(http://upload.qudong.com/images/bg19.png);}
.owl-next:hover{background-image:url(http://upload.qudong.com/images/bg20.png);}

/* reset */
a,img{border:0; text-decoration:none;}
a:hover{ color:#F00;}

.zzsc{ width:384px; height:388px;  background:#fff; }
.zzsc .tab{ overflow:hidden; background:#bfdcfe;}
.zzsc .tab a{ display:block; padding:6px 15px; float:left; text-decoration:none; color:#333; font:14px "Microsoft Yahei"; }
.zzsc .tab a:hover{ background:#3a7dcc; color:#fff; text-decoration:none;}
.zzsc .tab a.on{ background:#3a7dcc; color:#fff; text-decoration:none;}
.zzsc .content{ width:380px; height:348px; position:relative; font-size:15px; line-height:26px; font-family:"\5FAE\8F6F\96C5\9ED1","\5B8B\4F53"; overflow:hidden;white-space:nowrap;text-overflow:ellipsis; }
.zzsc .content ul{ position:absolute; left:0; top:0; height:355px;}
.zzsc .content li{ width:380px; height:348px; float:left;font-size:15px; line-height:24px; font-family:"\5FAE\8F6F\96C5\9ED1","\5B8B\4F53"; overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.zzsc .content li p{ padding:4px 10px 10px 10px;}
.zzsc .content li span{ width:380px;  float:left; }
.zzsc .content li span a{font-size:15px; line-height:26px; font-family:"\5FAE\8F6F\96C5\9ED1","\5B8B\4F53";color:#111111; line-height:24px; text-decoration:none;}
.zzsc .content li span a:hover{ color:#FF0000; text-decoration:underline;}
.zzsc .content li span em{ float:left; width:10px; height:26px; background-image:url(http://upload.qudong.com/2015/0204/1423019194927.jpg); } 
.zzsc .content li h2{font:18px "\5FAE\8F6F\96C5\9ED1","\5B8B\4F53";  line-height:30px; text-decoration:none; width:380px;  padding-top:10px;text-align:center; overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.zzsc .content li h2 a{ color:#000000; text-decoration:none;  font-weight:bold; }
.zzsc .content li h2 a:hover{ color:#FF0000; }
.zzsc .content i{background:#ff7f21; width:40px; height:18px; color:#FFFFFF;font:12px "Microsoft Yahei"; padding:1px 4px; margin-right:6px; display:inline;}
.zzsc .content e{background:#3a7dcc; width:40px; height:18px; color:#FFFFFF;font:12px "Microsoft Yahei"; padding:1px 4px; margin-right:6px; display:inline;}
.zzsc .content c{background:#079f56; width:40px; height:18px; color:#FFFFFF;font:12px "Microsoft Yahei"; padding:1px 4px; margin-right:6px; display:inline;}

.bodyCon07{width:1200px; background-color:#FFFFFF; padding:10px 0; float:left; margin-top:8px;}
.bodyCon07 .teacher{width:1200px;height:360px;position:relative;margin:0 auto; }
.bodyCon07 .teacher .teacherPic{width:1200px;height:360px;position:absolute; }
.bodyCon07 .teacher .teacherPic .content{width:230px;height:360px;float:left;position:relative;overflow:hidden; margin-left:8px; padding:0px; background:#FFFFFF;}
.bodyCon07 .teacher .teacherPic .content .txt{width:206px;height:70px;background:rgba(18,21,44,0.7); position:absolute;left:0px;bottom:0px;padding:0 12px;border-top:2px solid #CB5412;}
.bodyCon07 .teacher .teacherPic .content .txt h3{color:#CB5412;font: 18px "Microsoft Yahei";  line-height:26px;font-weight:300;margin:10px 0 6px 0;height:50px;}
.bodyCon07 .teacher .teacherPic .content .txt h3 a{color:#CB5412;}
.bodyCon07 .teacher .teacherPic .content .txt h3 a:hover{color:#CB5412;}
.bodyCon07 .teacher .teacherPic h4{color:#fff;font: 14px "Microsoft Yahei"; color:#FFFFFF; line-height:20px;;font-weight:100;}
.bodyCon07 .teacher .teacherPic .content .txt p{color:#fff;margin-top:20px;padding-top:12px;border-top:1px solid #CB5412;font-size:12px; font-family:微软雅黑; line-height: 18px;}

/* box */
#box{width:660px;height:330px;position:relative;overflow:hidden;margin:10px auto 0;}
#pic_list{position:relative;z-index:1;}
#pic_list li{position:absolute;left:0;top:0;opacity:0;fliter:alpha(opacity=30);z-index:1;}
.mark{height:90px;width:660px;background:#000;position:absolute;left:0;bottom:0;opacity:0.3;filter:alpha(opacity=30); }
.mark1{height:90px;width:660px;background:#000;position:absolute;left:0;bottom:0;opacity:0.3;filter:alpha(opacity=30); }
#text_list{position:absolute;bottom:60px;left:50px;position:absolute;z-index:5;height:20px;overflow:hidden;}
#text_list h2{display:none;}
#text_list .show{display:block;}
#text_list a{color:#FFFFFF;font-family:"";font-size:18px;font-weight:normal;text-decoration:none;}
#ico_list{position:absolute;bottom:10px;left:12px;width:525px;overflow:hidden;height:46px;z-index:3;}
#ico_list ul{width:1050px;position:absolute;left:0;top:0;}
#ico_list li{width:75px;float:left;}
#ico_list li a{width:68px;padding-top:6px;display:block;}
#ico_list li a img{border:2px solid #DFE8E4;height:36px;width:64px;background:#040303;opacity:0.7;filter:alpha(opacity=70);}
#ico_list .active{background:url(../img/a_hover.gif) no-repeat center 0;}
#ico_list .active img{opacity:1;filter:alpha(opacity=100);border:3px solid #fff;height:34px;width:62px;}
.btn{background:url(../img/btn.gif) no-repeat;height:38px;width:38px;position:absolute;bottom:11px;opacity:0.5;filter:alpha(opacity=50);cursor:default;z-index:3;}
.showBtn{opacity:1;filter:alpha(opacity=100);cursor:pointer;z-index:4;}
#btn_prev{right:56px;}
#btn_next{right:20px;background-position:right 0;}
.shop{float:left; width:200px; height:328px; border: #FF0000 1px solid; margin-left:6px; margin-top:10px;}
.shop ul{text-align:center;}
.shop_nei{float: left; width:200px; height:40px; background:#ff2a2a;font-size:24px; font-weight:bold; color:#fff; line-height:40px; text-align:center; font-family:"Microsoft Yahei"; margin-bottom:10px;}
.jia{float:left; width:83px; border:#FF0000 1px solid; height:22px; line-height:22px; margin-top:10px; background:#FF0000; text-align:center; color:#FFFFFF; margin-left:15px;}
.jia1{float:left; width:83px; border:#FF0000 1px solid; height:22px; line-height:22px; margin-top:10px;  text-align:center; color:#FF0000;}
.liping{float:left; width:168px; border:#FF0000 1px solid; height:22px; line-height:22px; margin-top:5px;  text-align:center; color:#FF0000;margin-left:15px;}
.gou{float:left; width:83px; border:#FF0000 1px solid; height:22px; line-height:22px; margin-top:5px; background:#FF0000; text-align:center; color:#FFFFFF; margin-left:15px;}
.sc{float:left; width:83px; border:#FF0000 1px solid; height:22px; line-height:22px; margin-top:5px;  text-align:center; color:#FF0000;}
.rnews{float:right; width:384px;  overflow:hidden; background-color:#FFF; margin-top:8px; }
.news_t{ float:left; width:380px; height:26px; margin-top:6px; }
.news_t h2 a{font-size:18px; font-weight:bold; color:#333333; line-height:26px; font-family:"Microsoft Yahei"; text-decoration:none;}
.news_t h2 a:hover{ color:#FF0000; text-decoration:underline}
.hd_left{float:left; width:808px; }
.qu_left{float:left; width:868px;}
.shop_g{float:left; width:868px; margin-top:8px;}
.shop_g ul{float:left; width:140px; padding-top:6px; margin-right:32px;}
.shop_g ul li img{ text-align:center; width:140px;  height:140px; }
.shop_g ul li {text-align:center; line-height:22px;}
.shop_n{float:left; width:85px; border:#d2d2d2 1px solid; height:22px; line-height:22px;  text-align:center; margin-right:4px;}
.shop_j{float:left; width:47px; border:#FF0000 1px solid; height:22px; line-height:22px;  text-align:center; color:#FF0000;}
.ad866{float:left; width:866px; margin-top:8px;}
.mobile{float:left; width:854px; margin-top:8px; padding:5px; height:470px; border:#CCCCCC 1px solid;}
.mobile_name {float:left;width:854px; height:40px; border-bottom:#CCCCCC 1px dotted;}
.mobile_name_l{float:left; width:220px; height:35px;}
.mobile_name_l li{ width:220px; height:35px; background-color:#153b68;  font-size:18px; line-height:32px;  color:#FFFFFF; }
.mobile_name_l li span{ padding:3px 5px; border:#FFFFFF 1px solid; margin-left:8px;   font-size:12px; font-weight:normal;  } 
.mobile_name_r{float:left; width:634px; height:35px;  text-align:center; white-space:nowrap; overflow:hidden;}
.mobile_name_r a{font-family:"Microsoft Yahei"; font-size:24px; line-height:30px; line-height:35px; color:#000; text-decoration:none;}
.mobile_name_r a:hover { color:#FF0000;}
.mobile_l{float: left; width:320px; }
.mobile_r{float: left; width:100px; height:430px; border-left:#CCC 1px dotted; border-right:#CCC 1px dotted; margin-left:6px; margin-top:10px; }
.mobile_r li p{float: left; width:100px; text-align:center; height:27px; line-height:27px; color: #000; text-decoration:none; font-size:12px;}
.mobile_r li p a{ color:#000;}
.mobile_r li p a:hover{ color: #F00}
.mobile_r li img{float: left; width:80px; height:80px; text-align:center; margin-left:10px;}
.mobile_ls{float:left; width:320px; border: #666 1px solid; margin-top:10px;}
.mobile_ls li{float:left; width:320px; height:35px; text-align:center;}
.mobile_ls li a{font-family:"Microsoft Yahei"; font-size:18px; line-height:35px; color:#000; font-weight:bold; text-decoration:none;}
.mobile_lx{float:left; width:320px; margin-top:8px; }
.mobile_lx li{float:left; width:320px; line-height:25px; }
.mobile_lx li a{ color: #333; font-size:14px; text-decoration:none; margin-left:5px; } 
.mobile_lx li a:hover{ color:#F00}.mobile_jd{float:right; width:424px;margin-top:8px;}
.clearfix{*zoom:1;}
.imain{float:left; width:1200px;}
.clearfix:after {clear:both; height:0; overflow:hidden; display:block; visibility:hidden; content:"."; }
.mobile_y{float:left; width:424px;margin-top:10px;}
.mobile_y .cnews{float:left; width:32px; padding-left:8px; height:20px; line-height:20px; background-color:#3a7dcc; color:#FFF; margin-left:13px; margin-right:5px; margin-top:4px;}
.mobile_y .cnews_gz{float:left; width:32px; padding-left:8px; height:20px; line-height:20px; background-color:#ff8b0e; color:#FFF; margin-left:13px; margin-right:5px; margin-top:4px;}
.mobile_y .cnews_xj{float:left; width:32px; padding-left:8px; height:20px; line-height:20px; background-color:#6b0303; color:#FFF; margin-left:13px; margin-right:5px; margin-top:4px;}
.mobile_y .cnews_hq{float:left; width:32px; padding-left:8px; height:20px; line-height:20px; background-color:#02489c; color:#FFF; margin-left:13px; margin-right:5px; margin-top:4px;}
.mobile_y .cnews_app{float:left; width:32px; padding-left:8px; height:20px; line-height:20px; background-color:#ffe16b; color:#000; margin-left:13px; margin-right:5px; margin-top:4px;}
.mobile_y .lnews{float:left; width:360px; font-size:14px;margin-top:4px; white-space:nowrap; overflow:hidden;}
.mobile_y .lnews span{float:right; color:#01336c; font-size:9px; line-height:18px; width:28px; background-image:url(hdian.gif); border:#9dc8ff 0px solid; }
.mobile_y .lnews a{ color:#000; line-height:20px; margin-left:6px; }
.mobile_y .lnews a:hover{ color:#f00; text-decoration:underline;}
.yejie_left{float:left; width:428px; height:420px; padding-top:4px; }
.yejie_left ul{float:left; width:426px;margin-top:10px; border-bottom:#CCCCCC 1px dotted;}
.yejie_left ul li a{font-size:16px; line-height:28px; font-family: "Microsoft Yahei"; font-weight:bold; color:#000;}
.yejie_left_d{float:left; width:428px; height:420px; }
.yejie_left_d ul{float:left; width:426px;border-bottom:#CCCCCC 1px dotted;}
.yejie_left_d ul li a{font-size:16px; line-height:28px; font-family: "Microsoft Yahei"; font-weight:bold; color:#000;}.tu_left{float:left; width:100px;}
.tu_right{float:left; width:300px; margin-top:6px;font-family: "Microsoft Yahei";}
.tu_right a{ font-size:16px; line-height:28px; font-family: "Microsoft Yahei"; font-weight:bold; color:#000;}
.tu_right span{width:120px; margin-left:20px; color:#333; font-size:9px;}
.copyright{width:720px; text-align: right; float:right; line-height:26px; padding-top:8px; padding-right:20px; margin-top:10px;}
.copyright a{color:#000000;  margin-left:10px; display:inline;}
.ad300{float:right; width:326px; height:297px; margin-top:8px;}
.ad300 img{ width:326px; height:250px;}
.r_jiaodian{float:right; width:324px;  border:#CCCCCC 1px solid; margin-top:8px;}
.r_326{float:left;width:324px; height:30px; border-bottom:#CCCCCC 1px dotted; color:#fff;   line-height:30px; font-size:14px; text-indent:6px;}
.r_326 span{ background-color:#3a7dcc; padding:3px 8px;}
.jiaodian_nei{float:left;width:294px; padding-left:10px; padding-top:6px; padding-bottom:6px; border-bottom:#CCCCCC 1px dotted; margin-bottom:0px; margin-top:0px;}
.jiaodian_nei_x{float:left;width:290px; padding-left:15px; padding-top:6px; padding-bottom:6px; border-bottom:#CCCCCC 1px dotted; margin-bottom:5px; margin-top:5px;}
.jd_l{float:left; width:189px; height:60px; padding-right:10px;}
.jd_l a{ font-size:16px; line-height:24px; font-family: "Microsoft Yahei"; font-weight:bold; color:#000;}
.jd_l span{width:35px; height:18px; border:#3a7dcc 1px solid; margin-left:15px; line-height:18px; text-align:center; color:#3a7dcc; font-size:8px;}
.jd_r{float:right; width:85px; height:60px;}
.jd_r img{ width:85px; height:60px;}
.qlink{float:left; width:1198px; border:#3a7dcc 1px solid; margin-top:10px;}
.qlink ul{padding-left:10px; padding-bottom:6px; padding-top:6px;}
.qlink a{ color:#000000; font-size:12px; line-height:22px; margin-right:12px;}
.linktitle{float:left; width:1198px; height:30px; line-height:30px; font-size:14px; font-family:"Microsoft Yahei"; background-color:#f2f8fe; color:#3a7dcc; font-weight:bold; border-bottom:#3a7dcc 1px dotted; text-indent:12px;}
.linktitle span{float:right; margin-right:10px; font-size:12px; color:#000000;}
.jd_l_app{float:left;width:65px;margin-left:14px;margin-top:8px; display:inline;}
.jd_l_app li{float:left; width:65px; margin-bottom:0px;  }
.jd_l_app li a{ font-size:12px; line-height:18px; font-family: "Microsoft Yahei"; color:#000;}
.jd_l_app li a:hover{ color:#FF0000;}
.jd_l_app li img{ width:60px; height:60px;}
.qdownload{float:left; width:1200px; border-top:#969696 2px solid;  margin-top:8px; border-bottom:#969696 1px solid;}
.qdownload_left{float:left; width:250px; padding-top:50px;}
.qdownload_right{float:right; width:940px; border-left:#CCCCCC 1px dotted; }
.qdownload_right ul{ padding:6px; font-family: "Microsoft Yahei"; line-height:30px; }
.qdownload_right ul li span{ padding:4px 6px; background-color:#969696; color:#FFFFFF; font-size:14px;}
.qdownload_right ul li a{ color:#333333; font-size:14px; margin-left:6px;}
.qdownload_right ul li a:hover{ color:#FF0000;}
.qyt{float:left; width:1198px; border:#d1d1d1 1px solid; margin-top:8px;  }
.qyt_top{float:left; width:1198px; height:35px; border-bottom:#CCCCCC 1px dotted; font-family: "Microsoft Yahei";  background-image:url(qy.jpg);}
.qyt_top span{ float:right; margin-right:10px; font-size:12px; line-height:50px; font-weight:normal; color:#000000;}
.qyt_nei{float:left; width:175px; height:260px; border:#CCCCCC 1px solid; margin-left:11px; margin-top:10px; display:inline; padding:5px; margin-bottom:8px;}
.qyt_nei p{ text-indent:24px; line-height:20px; margin-bottom:8px;}
.qyt_nei span{ border:#FF0000 1px solid; padding:3px 8px; margin-left:14px; color:#FF0000; margin-bottom:8px;}
.qyt_nei span a{ color:#f00;}
.qyt_nei span a:hover{ color:#000;}
.aaa{float:left; margin-top:8px; border-top:#CCC 1px dotted; padding-top:8px;}
.aaa a{font-size:12px; line-height:20px; color:#000;}
.aaa a:hover{color:#f00;}
.tag{float:right; margin-top:8px;}
.tag a{ padding:3px 5px; background-color:#f6f6f6; color:#949494; margin-right:5px;}
.tag a:hover{color:#FFF; padding:3px 5px;  background-color:#dbecff; margin-right:5px;}
.index-slide,.slider-box{position: relative;height: 330px;overflow: hidden;zoom:1; margin-top:10px;}
.index-slide .slide-cont,.slider-box .slide-cont{height: 330px;width: 600px;position: absolute;top: 0;left: 0;}
.index-slide .shadow,.slider-box .shadow{height: 30px;width: 600px;background-color: #000;bottom: 0;left: 0;position: absolute;opacity: .5;filter:alpha(Opacity=50);}
.index-slide .title,.slider-box .title{position: absolute;left: 0;bottom: 0;line-height: 30px;text-align: center;width: 600px;}
.index-slide .title a,.slider-box .title a{color: #fff;font-size: 24px; font-family:"Microsoft Yahei","黑体" ; font-weight:bold; }
.index-slide .title a:hover{color: #ff0;}
.index-slide .slide-tab,.slider-box .slide-tab{position: absolute;right: 0;bottom:48px;width: 600px;z-index:10;text-align: right;}
.index-slide .slide-tab li,.index-slide .slide-tab a,.slider-box .slide-tab li,.slider-box .slide-tab a{display: inline;color: #fff;text-align: center;}
.index-slide .slide-tab a{background-color: #333;padding: 5px 10px;margin-right:2px; font-size:18px; font-family:"Microsoft Yahei","黑体" ; font-weight:bold; }
.index-slide .slide-tab .tabactive {background-color: #c00;}
.redian{float:left; width:auto; width:380px; white-space:nowrap; overflow:hidden; }
.redian li span{ padding:1px 5px; font-size:12px; background-color:#ff7f21; color:#FFF; float:left; margin-top:2px; display:inline;  }
.redian li{float:left; width:380px; white-space:nowrap; overflow:hidden; height:26px; }
.redian li a{  font-size:14px; color:#212121;text-decoration:underline;margin-left:10px;} 
.redian li a:hover{ color:#F00; text-decoration:underline}
.redian1{float:left; width:auto; width:380px; white-space:nowrap; overflow:hidden; }
.redian1 li span{ padding:1px 5px; font-size:12px; background-color:#3a7dcc; color:#FFF; float:left; margin-top:2px; display:inline; }
.redian1 li{float:left; width:380px; white-space:nowrap;overflow:hidden; height:26px; }
.redian1 li a{  font-size:14px; color:#212121;text-decoration:underline;margin-left:10px;} 
.redian1 li a:hover{ color:#F00; text-decoration:underline}
.pczt{float:left; width:810px; height:auto; margin-top:10px;}
.pczt_nei{float:left; width:431px;  height:164px; margin-right:6px; background-color:#FFF; display: inline; }
.pczt_nei_left{float:left; width:10px; height:80px; padding:40px 10px; border-right:#3a7dcc 1px dotted; background-color:#FFF; line-height:15px;}
.pczt_nei_right{float:left; width:396px;}
.pczt_nei_right ul{float:left; padding:6px 0 6px 0px; display:inline;}
.pczt_nei_right ul .cnews{float:left; width:32px; padding-left:8px; height:20px; line-height:20px; background-color:#3a7dcc; color:#FFF; margin-left:10px; margin-right:0px; margin-top:4px; display:inline;}
.pczt_nei_right ul .lnews{float:left; width:335px; font-size:14px;margin-top:4px; font-family:"Microsoft Yahei"; white-space:nowrap; overflow:hidden; text-decoration:underline; }
.pczt_nei_right ul .lnews span{float:right; color:#01336c; font-size:9px; line-height:18px; width:28px; background-image:url(hdian.gif); border:#9dc8ff 0px solid; }
.pczt_nei_right ul .lnews a{ color:#000; line-height:20px; margin-left:6px; margin-left:12px; display:inline; }
.pczt_nei_right ul .lnews a:hover{ color:#f00; text-decoration:underline;}
.pczt_nei1{float:left; width:371px; height:164px; margin-left:0px; display:inline; background-color:#FFF;}
.pczt_nei_right1{float:left; width:355px;}
.pczt_nei_right1n ul{float:left; padding:6px 0 6px 0px;}
.pczt_nei_right1n ul .syzt{float:left; width:27px; padding-left:3px; height:30px; padding-top:1px; line-height:14px; background-color:#3a7dcc; color:#FFF; margin-left:10px; margin-right:0px; margin-top:4px; margin-bottom:14px;}
.pczt_nei_right1 ul .lsyzt{float:left; width:315px; font-size:20px;margin-top:4px; height:35px; font-family:"Microsoft Yahei"; white-space:nowrap; overflow:hidden; text-decoration: none; }
.pczt_nei_right1 ul .lsyzt a{ color:#0e3b6f; line-height:30px; margin-left:6px; margin-left:6px; display:inline; }
.pczt_nei_right1 ul .lsyzt a:hover{ color:#f00; text-decoration:underline;}
.pczt_nei_right1 ul .zt2014{float:left; width:355px; font-size:14px;margin-top:0px; height:24px; font-family:"Microsoft Yahei"; white-space:nowrap; overflow:hidden; text-decoration: none; }
.pczt_nei_right1 ul .zt2014 a{ color:#000; line-height:26px; margin-left:6px; margin-left:12px;text-decoration:underline; display:inline;}
.pczt_nei_right1 ul .zt2014 a:hover{ color:#f00; text-decoration:underline;}
.pczt_nei_right1n{ float:left; height:50px; width:368px; background-color:#fff; margin-bottom:8px; border-bottom:#3a7dcc 1px dotted;}
.sy2014{float:left; width:470px; height:auto; margin-top:8px; }
.sy2014 ul{float:left; width:105px; height:175px; padding:3px;  margin-right:2px; margin-left:2px; display:inline;}
.sy2014 ul li{ float:left; width:105px;  line-height:18px; text-align:center; font-size:12px;}
.sy2014 ul li a{ color:#000000; }  
.sy2014 ul li a:hover{ color:#FF0000; }  
.sj_nei{float:left; width:429px; height:230px; margin-top:8px;} 
.pczt_nei_right2{float:left; padding-top:4px;}
.pczt_nei_right2 ul .cnews{float:left; width:32px; padding-left:8px; height:20px; line-height:20px; background-color:#f2f2f2; color:#868686; margin-right:0px; margin-top:4px;}
.pczt_nei_right2 ul .zt2014{float:left; width:380px; font-size:14px;margin-top:0px; height:24px; font-family:"Microsoft Yahei"; white-space:nowrap; overflow:hidden; text-decoration: none; }
.pczt_nei_right2 ul .zt2014 a{ color:#000; line-height:26px;  margin-left:10px;text-decoration:underline; }
.pczt_nei_right2 ul .zt2014 a:hover{ color:#f00; text-decoration:underline;}
.tjdigi{float:left; width:438px; height:auto; margin-top:10px; }
.digi_left{float: left; width:22px; height:60px; background-color:#3a7dcc; color:#FFF; text-align:center; padding:2px; padding-top:4px; line-height:14px;}
.digi_right{float: left; width:410px; }
.digi_right ul{float:left; width:120px; height:101px; padding:3px; border:#f2f2f2 1px solid; margin-right:7px;}
.digi_right ul li{ float:left; width:120px;  line-height:18px; text-align:center; font-size:12px;}
.digi_right ul li a{ color:#000000;line-height:18px; text-align:center; font-size:12px; font-weight:normal;}  
.digi_right ul li a:hover{ color:#FF0000; }  
.shell a{
 display:block;/*这个属性是必须的*/
 font-family:"Microsoft Yahei"; font-size:24px; line-height:35px; color:#000; text-decoration:none;
}
.shell{
 width:630px; height:35px;
}
#div1{
 height:35px;
 overflow:hidden;
}
	/* ------------------------------------------------- */
	#tabs {
	  overflow: hidden;
	  width: 326px;
	  margin: 0;
	  padding: 0;
	  list-style: none;
	}
	#tabs li {
	  float: left;
	  margin: 0 -15px 0 0;
	}
	#tabs a {
	  float: left;
	  position: relative;
	  padding: 0 15px;
	  height: 0;
	  line-height: 30px;
	  text-transform: uppercase;
	  text-decoration: none;
	  color: #fff;      
	  border-right: 30px solid transparent;
	  border-bottom: 30px solid #3D3D3D;
	  border-bottom-color: #777\9;
	  opacity: .3;
	  filter: alpha(opacity=80);      
	}
	#tabs a:hover,
	#tabs a:focus {
	  border-bottom-color: #2ac7e1;
	  opacity: 1;
	  filter: alpha(opacity=100);
	}
	#tabs a:focus {
	  outline: 0;
	}
	#tabs #current {
	  z-index: 3;
	  border-bottom-color: #1e5e9a;
	  opacity: 1;
	  filter: alpha(opacity=100);      
	}
	/* ----------- */
	#content {width: 312px; float:left;
	    background: #fff;
	    border: 1px solid #1e5e9a; border-top: 3px solid #1e5e9a;
	    padding: 0.5em;
	    /*height: 220px;*/
	}
	#content h2,
	  #content h3,
	  #content p {
	    margin: 0 0 15px 0;
	}  
	/* Demo page only */
	#about {
	    color: #999;
	    text-align: center;
	    font: 0.9em Arial, Helvetica;
	}
	#about a {
	    color: #777;
	}  
.baoguang{float:left; width:422px; margin-top:8px; border:#3a7dcc 1px solid;}
.baoguang1w{float:left; width:50px; color:#FFF; text-align:center;}
.baoguang1{float:left; width:50px; height:25px; background-color:#3a7dcc; line-height:25px; color:#FFF; text-align:center;}
.baoguang1x{float:left; width:50px; height:78px;line-height:80px; color:#000; font-weight:bold; text-align:center; font-family:"Microsoft Yahei"; font-size:30px; }
.baoguang2{float:left; background-color:#3a7dcc; padding:6px; }
.baoguang2 a img{width:120px; height:90px; border:#FFF 1px solid;}
.baoguang2 a:hover img{width:120px; height:90px; border:#f1ff55 1px solid;}
.baoguang3{float:left; width:230px; padding:4px;}
.baoguang3 li span{margin-left:20px; color:#999; font-size:9px; float:right;}
.baoguang3 li a{font-family:"Microsoft Yahei"; font-size:14px; line-height:18px;font-weight:bold; color:#000;}
.baoguang3 .bg_info{float:left; width:230px; height:54px; overflow:hidden; line-height:18px; color:#5b5b5b; font-family:"Microsoft Yahei"; text-indent:24px; font-size:12px;}	
.applink{float:right; line-height:16px; margin-right:5px; font-size:12px; background-color:#d2e8fd; font-family:"宋体"; margin-top:3px;}
.adright{float:right; width:324px; height:54px; border:#CCCCCC 1px solid; margin-top:8px;}
.cptuijian{float:left; width:460px; height:30px; margin-top:20px; margin-left:20px;}
.cptuijian_l{float:left; width:47px; height:50px; background-image:url(http://img.qudong.com/templates/qudong/img2014/cptj.jpg);  }
.cptuijian_r{ float:left;  width:360px; height:50px; }
.cptuijian_r li{float:left;  width:360px; height:50px; margin-left:8px; line-height:50px; overflow:hidden; font-family:"Microsoft Yahei"; font-size:18px;display:block;  display:inline;}
.cptuijian_r li a{ color:#FF0000; display:block;}
.cptuijian_r li a:hover{color:#FF0000; text-decoration:underline;}
#div2{
 height:30px;
 overflow:hidden;
}
.prtui_d{float:left; border-right:#CCCCCC 1px dotted; width:190px; margin-top:8px;}
.prtui{float:left; width:184px; border-bottom:#CCCCCC 1px dotted; margin-bottom:6px;}
.prtui1{float:left; width:60px; height:48px;}
.prtui1 img{width:60px; height:45px;}
.prtui2{float:right; width:120px; height:50px;}
.prtui2 a{font-family:"Microsoft Yahei"; font-size:14px; font-weight:bold; color:#000000; line-height:26px;}
.prtui2 a:hover{ color:#ff0000; text-decoration:underline;}
.prtui2 span{float:left; width:120px; font-size:12px;color:#FF0000;}
.prcandan{float:left;width:190px; height:30px;}
.prcandan span{background-color:#0066CC; color:#FFFFFF; text-align:center; font-family:"宋体"; font-size:12px; padding:3px 5px;}
.prcandan1{float:left;width:222px; height:20px;}
.prcandan1 span{background-color:#0066CC; color:#FFFFFF; text-align:center; font-family:"宋体"; font-size:12px; padding:3px 5px;}
.prrank{float:left; width:222px; margin-left:8px;margin-top:8px;}
.prrank ul{float:left; width:222px; border-bottom: #FFFFFF 0px solid;}
.prrank ul li{float:left; width:222px; font-family:"宋体"; font-size:12px; color:#000000;white-space:nowrap; overflow:hidden; text-overflow : ellipsis; }
.prrank ul li a{color:#000000;font-family:"Microsoft Yahei"; font-size:12px; color:#000000; line-height:20px; font-weight:normal;}
.prrank ul li a:hover{color:#ff0000;}
.prrank ul li span{font-size:16px; line-height:19px; color:#fd5004;}
.renwu{float:left; width:202px; height:330px; margin-left:6px; margin-top:10px; display:block; background-color:#FFF;}
.renwu ul img { width:170px; height:90px;}
.renwu ul{text-align:center;width:170px;float:left; margin-left:15px; display:inline; }
.renwu_nei{float: left; width:202px; height:32px; background:#637fe4;font-size:18px; font-weight:bold; color:#fff; line-height:32px; text-align:center; font-family:"Microsoft Yahei"; margin-bottom:10px;}
.mjia{float:left;margin-left:15px; width:83px; border:#637fe4 1px solid; height:22px; line-height:22px; margin-top:10px; background:#637fe4; text-align:center; color:#FFFFFF; display:inline;}
.mjia1{float:left; width:83px; border:#637fe4 1px solid; height:22px; line-height:22px; margin-top:10px;  text-align:center; color:#000;}
.mjia1 a{color:#000;}
.mjia1 a:hover{color:#ff0000;}
.mliping{float:left; width:161px; height:110px; line-height:22px; margin-top:5px; color:#000; text-indent:24px; margin-left:15px; display:inline;}
.mliping a{ color:#0066CC; text-decoration:underline;}
.mliping a:hover{ color:#ff0000;}
.mgou{float:left; width:83px; border:#637fe4 1px solid; height:22px; line-height:22px; margin-top:5px; background:#637fe4; text-align:center; color:#FFFFFF; margin-left:15px; display:inline;}
.msc{float:left; width:83px; border:#637fe4 1px solid; height:22px; line-height:22px; margin-top:5px;  text-align:center; color:#000;}
.msc a{color:#000;}
.msc a:hover{color:#ff0000;}

.zx12000{float:left; width:788px;   text-align: center; ;margin-top:10px; padding:10px; background-color: #FFF; overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.zx12000_d{float:left; width:786px;  text-align: center; line-height:40px; overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.zx12000_d a{font-family:"\5FAE\8F6F\96C5\9ED1","\5B8B\4F53",serif;line-height:1; font-size:35px; font-weight:bold; line-height:40px; color:#333; }
.zx12000_d a:hover{ color:#F00;}
.zx12000_d span a{padding:1px 4px; background:#637fe4; color:#FFF; font-family:"\5FAE\8F6F\96C5\9ED1","\5B8B\4F53",serif;font-size:9px; font-weight:normal; margin-left:6px;}
.zx12000_d span a:hover{color:#FFF;padding:1px 4px; background:#F00; }
.left_list_d{float:left; width:708px;}
.left_list{float:left; width:702px; background-color: #FFF;  margin-top:6px; padding-left:6px; padding-top:6px;}
.right_list{float:left; width:796px; padding:6px; background-color:#FFF; margin-top:8px;}
.clearfix,.area,.header,.footer,.area-sub,.area-main{*zoom:1;}
.clearfix:after,.area:after,.header:after,.footer:after,.content:after,.area-sub:after,.area-main:after,.main-col-10:after,.main-col-9:after,.tab-con:after{display:block;overflow:hidden;clear:both;height:0;visibility:hidden;content:".";}

.left{float:left;}
.right{float:right;}
.hot-list .pl5{padding-left:5px;}
.hot-title{width:620px;line-height:1;padding:20px 0;}
.hot-title h2{font-size:24px;}
.hot-title h3{padding-top:5px;}
.hot-title h3 a{margin-left:8px;}
.hot-text{text-align:left;padding-right:20px;padding-left:20px;}
.hot-text h2,.hot-text em{font-size:22px;font-weight:normal;font-family:"\5FAE\8F6F\96C5\9ED1","\5B8B\4F53",serif;line-height:1}
.hot-text h3{line-height:1;}
.hot-text a:hover{ color: #F00}
.hot-text p{line-height:20px;text-indent:2em;}
.color-link,.color-link a{color:#252525;}
.color-dig,.color-dig a{color:#555555;}
.hot-text img {margin-right:15px; display:inline;}
.hot-text span{ line-height:24px;}
.hot-text span a{color:#ff0000; margin-right:6px; border:#ff0000 1px solid; padding:2px 4px; margin-top:8px; line-height:30px; display:inline;}
.hot-text span a:hover{color:#54adff; border:#54adff 1px solid; padding:2px 4px; line-height:30px;display:inline;}
.w390{width:490px;}
.color-date-from,.color-date-from a{color:#888888; font-size:12px; font-weight:normal;}
.blankW{background:#fff;}
.blank3{clear:both;height:3px;overflow:hidden;display:block;font-size:1px;}
.blank6{clear:both;height:6px;overflow:hidden;display:block;font-size:1px;}
.blank9{clear:both;height:15px;overflow:hidden;display:block;font-size:1px;}
.blank9w{background:#ffffff;clear:both;height:9px;overflow:hidden;display:block;font-size:1px;}
.blank12{clear:both;height:12px;overflow:hidden;display:block;}
.blank15{clear:both;height:10px;overflow:hidden;display:block;}
.blank20{clear:both;height:10px;overflow:hidden;display:block;}
.blank21{clear:both;height:10px;overflow:hidden;display:block; border-bottom:#f9fafb 1px solid;}
.momo {float:left; width:690px; border-bottom:#f1f1f1 1px solid;}
.momo li{float:left; width:360px; height:30px; line-height:36px; text-align:left; color:#ff0000; background-image:url(http://img.qudong.com/templates/qudong/img2014/dot.gif); text-indent:45px; font-size:18px;font-weight:bold;font-family:"\5FAE\8F6F\96C5\9ED1","\5B8B\4F53",serif;}
.momo span{ font-size:12px; float:right; width:270px; text-align:right; line-height:35px; }
.momo1 {float:left; width:1170px; border-bottom:#f1f1f1 1px solid;}
.momo1 li{float:left; width:360px; height:30px; line-height:36px; text-align:left; color:#ff0000; background-image:url(http://img.qudong.com/templates/qudong/img2014/dot.gif); text-indent:45px; font-size:18px;font-weight:bold;font-family:"\5FAE\8F6F\96C5\9ED1","\5B8B\4F53",serif;}
.momo1 span{ font-size:12px; float:right; width:270px; text-align:right; line-height:35px; }
.zx12000_x{float:left; width:788px;  text-align:center; line-height:30px; margin-bottom:8px; }
.zx12000_x li{ margin-left:10px; margin-right:10px; line-height:30px;  text-align:center; }
.zx12000_x li span{  padding:2px 4px; background-color:#F00; color:#FFF; margin-left:20px; margin-right:8px;}
.zx12000_x li a{font-size:16px;font-family:"\5FAE\8F6F\96C5\9ED1","\5B8B\4F53",serif; color:#333;}
.technews {float:left; width:796px; border-bottom:#f1f1f1 1px solid;}
.technews li{float:left; width:100px; height:28px; line-height:28px; text-align:center; background-color:#88afff; color:#fff; font-size:18px;font-weight:bold;font-family:"\5FAE\8F6F\96C5\9ED1","\5B8B\4F53",serif;}
.technews span{ font-size:12px; float:right; width:600px; text-align:right; line-height:35px; margin-right:4px; display:inline; }
.mo_right{float:right; width:120px; text-align:center; margin-top:10px;}
.mo_left{float:left; width:340px; margin-left:10px; display:inline;}
.mo_left ul{float:left; padding-top:10px; }
.mo_left ul p{font-size:12px; text-indent:8px; color:#333; width:340px; line-height:22px; }
.mo_left ul p a{font-size:18px; text-indent:12px;font-family:"\5FAE\8F6F\96C5\9ED1","\5B8B\4F53",serif; font-weight:bold; color:#333; line-height:25px; }
.mo_left ul li{ float:left; width:40px; height:22px;font-size:12px; line-height:22px; text-align:center; background-color:#abcffc; color:#FFF;}
.mo_left ul .shoujia{font-size:18px; text-indent:12px; font-family:"\5FAE\8F6F\96C5\9ED1","\5B8B\4F53",serif; font-weight:bold; color:#ff0505; width:300px; line-height:24px; }
.snews{float:left; text-indent:24px; padding:10px; }
.snews h2{ float:left; width:460px; font-size:18px; line-height:35px; text-align:center; font-family:"\5FAE\8F6F\96C5\9ED1","\5B8B\4F53",serif; font-weight:bold; }
.snews h2 a{ color: #333;}
.snews h2 a:hover{ color: #f00;}
.snews .itag { text-align: right; margin-top:6px;}
.snews .itag a{ padding:2px 3px;  border:#e3e3e3 1px solid; margin-right:6px; display:inline; color:#afafaf;}
.snews .itag a:hover{color:#f00;}
.snews_x{float:left; margin-top:8px;}
.snews_x li{float:left; width:458px; margin-left:8px; overflow:hidden; position:relative;text-overflow:ellipsis;white-space:nowrap; word-break:keep-all;white-space:nowrap;  }
.snews_x li a{ color:#000; font-family:"\5FAE\8F6F\96C5\9ED1","\5B8B\4F53",serif; font-size:14px; }
.snews_x li a:hover{color:#f00;}
.snews_x li p{ color:#a3cdff; font-family:"\5FAE\8F6F\96C5\9ED1","\5B8B\4F53",serif; font-size:14px; font-style: italic; margin-left:10px; display:inline;}
.snews_x li span{ float:right; color:#d5dae0; font-family:"\5FAE\8F6F\96C5\9ED1","\5B8B\4F53",serif; font-size:12px;  display:inline;}
.ifooter{float:left; width:1200px; background-color:#FFF; height:180px; margin-top:6px;}
.iyq{float:left; width:1170px; background-color:#FFF; margin-top:6px;padding:6px 15px;  }
.iyq_s {float:left; border-bottom:#39F 2px solid; width:1170px; height:30px; line-height:30px;font-weight:bold; font-family:"\5FAE\8F6F\96C5\9ED1","\5B8B\4F53",serif; font-size:18px; color:#39F; text-align:left;}
.iyq_s span{float:right; font-size:12px; color:#666;}
.iyq_x{float:left; margin-top:10px;}
.iyq_x a{color:#000; margin-right:10px; display:inline;}
.iyq_x a:hover{color:#f00;}
.ewei{ float:left; width:370px; padding:8px; border-right:#CCC 1px solid; margin-top:20px;}
.ewei ul{float:left; width:110px; margin-left:10px; display:inline; text-align:center;}
/*科技产品*/
.techPro{ width:924px; overflow:hidden; margin:20px auto 0; border-bottom:1px solid #eeeeee; }
.techProCon{ width:924px; margin:0 auto;}
.techProPic{ width:581px; overflow:hidden; float:left; margin-bottom:19px;}
.techProPic h3{ width:100%; font-size:26px; color:#2b2b2b; overflow:hidden; height:30px; line-height:30px; font-weight:700; margin:6px 0 16px; white-space:nowrap;}
.techProPic h3 a{ display:block; width:569px; overflow:hidden; color:#2b2b2b;}
.picStor{ width:1170px;}
.picStor ul{}
.picStor li{}
.techPsTop{ margin-bottom:11px;}
.techPsTop a{ display:block; width:285px; height:160px; overflow:hidden; float:left; position:relative;}
.techPsTop a img{ width:285px; height:160px;}
.techPsBot{}
.techPsBot a{ display:block; width:186px; height:104px; overflow:hidden; margin-right:11px; float:left; margin-right:10px; position:relative;}
.techPsBot a img{ width:186px; height:104px;}
.techPsTop a.last,.techPsBot a.last{ margin:0px; float:right;}
.picStor li span {
background: rgba(0,0,0,0.4) none repeat scroll 0 0 !important;
filter: progid:DXImageTransform.Microsoft.gradient(enabled = 'true', startColorstr = #64000000, endColorstr = #64000000);
color: #fff;display: block;position: absolute;height: 0px;white-space: nowrap;overflow: hidden;font-weight: bold;bottom: 0px;left: 0px;line-height: 30px;text-indent: 12px;}
.picStor li a {position: relative;color: #fff;text-decoration: none;line-height: 30px;}
.techPicBank {width:924px;margin:20px auto 0 auto;display: block;overflow: hidden;position: relative;}
.techPicBank .picStor{ width:924px; margin:0 auto; overflow:hidden; padding:7px 0 0px 0;}
.techPicBank .picStor ul{ width:940px;}
.techPicBank .techPsTit{ width:58px; float:left;}
.techPicBank .picStor li a { position:relative; color:#fff!important; text-decoration:none!important; line-height:30px!important;}
.techPicBank .picStor li span {background:rgba(0,0,0,0.4) none repeat scroll 0 0 !important;filter: progid:DXImageTransform.Microsoft.gradient(enabled = 'true', startColorstr = #64000000, endColorstr = #64000000);color:#fff; display:block; position:absolute; height:0px; white-space:nowrap; overflow:hidden; font-weight:bold; bottom:0px; left:0px; line-height:30px; text-indent:12px; display:none;}
.techPsTit a{ width:58px; height:190px; overflow:hidden; background-position:0 -250px; display:block; text-indent:-999px;}
.techPsLeft{ float:left; width:280px; height:397px; overflow:hidden; margin-right:3px;}
.techPsLeft a { margin-bottom:3px; display:block; width:280px; height:197px; }
.techPsLeft img { width:280px; height:197px;}
.techPsLeft a span{ width:280px;}
.techPsLeft a span a{ height:auto; }
.techPsCen{ float:left; width:200px; display:inline;height:397px; overflow:hidden;  margin-right:3px;}
.techPsCen a{ margin-bottom:3px; display:block; width:200px; height:130px; overflow:hidden;}s
.techPsCen img { width:200px; height:130px;}
.techPsCen a span{ width:200px;}
.techPsCen a span a{ width:200px; display:inline; height:auto; overflow:hidden;}

.techPsCen_right{ float:left; width:198px; display:inline;height:397px; overflow:hidden; }
.techPsCen_right a{ margin-bottom:3px; display:block; width:198px; height:197px; overflow:hidden;}
.techPsCen_right img { width:198px; height:197px;}
.techPsCen_right a span{ width:198px;}
.techPsCen_right a span a{ width:198px; display:inline; height:auto; overflow:hidden;}

.techPsRight{ float:left; width:240px; height:397px; display:inline; margin-right:3px;}
.techPsRight a{ display:block; width:240px; height:397px;  overflow:hidden;}
.techPsRight img { width:240px; height:397px;}
.techPsRight a span{ width:351px;}
.techPsRight a span a{ width:310px; display:inline; height:auto; overflow:hidden;}
/**/
.techProWord{ width:300px; height:320px; overflow:hidden; padding-left:20px; float:right;border-left:1px dotted #cccccc; margin-top:7px;}
.techProWord .txtList h3{ width:100%; height:20px; overflow:hidden; margin:-3px 0 7px; font-size:16px; font-weight:bold; white-space:nowrap;}
.techProWord .txtList h3 a{color:#2b2b2b;}
.techProWord .txtList h5{ width:100%; color:#888888; font-size:14px; line-height:24px; height:48px; overflow:hidden;}
.techProWord .listBoxT14{ border-top:1px dotted #ccc; margin:8px 0 0; padding:6px 0 0;}
.techProWord .listBoxT14 li a{color:#2b2b2b;}
.techProWord .listBoxT14 li{ width:290px;}
.techProWord .listBoxT14 li a:link { color:#2b2b2b;}
.techProWord .listBoxT14 li a:visited { color:#3E5E87;}
.techProWord .listBoxT14 li a:hover { color:#820C0C;}
.techProWord .listBoxT14 li a:active {color:#024;}

.left_list1{float:left; width:1180px; background-color: #FFF;  margin-top:6px; padding:10px;}
.ad468{float: left; width:688px; height: auto; text-align:center; margin-bottom:12px;}
.ad468_r{float: left; width:474px;  text-align:center; padding:3px 0;}
.right_list_d {float:right; width:486px;}
.iimian{float:left; width:1200px;}

.jdimg{float:left; width:818px; margin-top:8px;}
.jdimg ul{float:left; width:380px;  background-color:#FFFFFF; margin-right:8px; display:inline; padding:10px; height:265px;}
.jdimg ul li{ font-family:"\5FAE\8F6F\96C5\9ED1","\5B8B\4F53",serif; font-size:16px; line-height:30px; margin-top:10px; text-align:center;  }
.jdimg ul li a{ color:#000000;}
.jdimg ul li a:hover{ color:#FF0000;}
.jdsen{float:left; width:1200px; height:45px; border-bottom:#0b77da 2px solid; background-color:#FFFFFF; margin-top:8px; }
.jdsen li{ float:left; width:180px; text-indent:50px; font-family:"\5FAE\8F6F\96C5\9ED1","\5B8B\4F53",serif; font-size:24px; line-height:45px; color:#0b77da; font-weight:bold; background-image:url(http://www.qudong.com/img/mo.gif);}
.jdsen span{ float:right; margin-right:15px; font-family:"\5FAE\8F6F\96C5\9ED1","\5B8B\4F53",serif; font-size:18px; line-height:45px;  }
.jdsen span a{ color:#000000;}
.jdsen span a:hover{ color:#FF0000;}
.jdsen i{ background:#5c5c5c; width:40px; height:22px; color:#FFFFFF;font:12px "Microsoft Yahei"; padding:4px 8px; margin-right:3px; display:inline; line-height:50px; }
.jdsen i a{ color:#FFF;}
.jd1200{float:left; width:1200px;  display:block;}
.jdimg_xiao{float:left; width:818px; margin-top:8px;}
.jdimg_xiao ul{float:left; width:180px;  background-color:#FFFFFF; margin-right:8px; display:inline; padding:8px; height:165px; margin-bottom:8px;}
.jdimg_xiao ul img {width:180px; height:90px;}
.jdimg_xiao ul li{ font-family:"\5FAE\8F6F\96C5\9ED1","\5B8B\4F53",serif; font-size:14px; line-height:20px; height:45px; margin-top:10px; text-align:left;  }
.jdimg_xiao ul li a{ color:#000000;}
.jdimg_xiao ul li a:hover{ color:#FF0000;}
.jdimg_xiao ul span{background:#a2a2a2; width:40px; height:22px; color:#FFFFFF;font:12px "Microsoft Yahei"; padding:1px 8px; margin-right:3px; margin-top:6px; }
.jdimg_xiao ul .yuanc{background:#7ba2fc; width:40px; height:22px; color:#FFFFFF;font:12px "Microsoft Yahei"; padding:1px 8px;  }
.jdimg_xiao ul .yuana{background:#e89218; width:40px; height:22px; color:#FFFFFF;font:12px "Microsoft Yahei"; padding:1px 8px;  }
.jdimg_xiao ul span a{ color:#fff;}
.jdimg_xiao ul span a:hover{ color:#fff;}
.jdr{float:right; width:384px;  background-color:#FFF;  height:445px; margin-top:8px;  }
.jd_left{float:left; width:820px; }
.jdimg_ds{float:left; width:818px;}
.jdimg_ds ul{float:left; width:380px;  background-color:#FFFFFF; margin-right:8px; display:inline; padding:15px 10px; margin-bottom:8px;}
.jdimg_ds ul li{ font-family:"\5FAE\8F6F\96C5\9ED1","\5B8B\4F53",serif; font-size:15px; line-height:24px;  text-align:left; margin-bottom:10px;width:376px; overflow:hidden; display:inline; float:left;white-space: nowrap; text-overflow: ellipsis;  }
.jdimg_ds ul li a{ color:#000000;}
.jdimg_ds ul li a:hover{ color:#FF0000;}
.left_ds{ float:left; width:90px;}
.left_ds img{height: 60px;width: 80px; }
.right_ds{ float:left; width:280px; line-height:20px;font-family:"\5FAE\8F6F\96C5\9ED1","\5B8B\4F53",serif; font-size:12px; color:#545454;}
.cptui{float:left; width:1200px;  background-color:#FFFFFF; margin-bottom:8px; display:block;}
.cptui ul{ float:left; width:120px; padding:10px;}
.cptui ul img{ width:120px; height:90px;}
.cptui ul li{width:120px; line-height:16px; text-align:center; margin-top:6px;}
.cptui ul li a{ color:#000000;}
.cptui_l{float:left; height:143px; width:62px; padding-left:8px; padding-top:5px;}
.jdr_tt{float:left;  padding:10px 10px 3px 10px;}
.jdr_tt li{ text-align:center;font-family:"\5FAE\8F6F\96C5\9ED1","\5B8B\4F53"; font-size:19px; font-weight:bold; line-height:30px; width:364px;  overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.jdr_tt li a{ color:#0b77da;}
.jdr_tt li a:hover{ color:#FF0000;}
.jdr_tt1{float:left;  padding:10px 0px 4px 0px;}
.jdr_tt1 li{ text-align:center;font-family:"\5FAE\8F6F\96C5\9ED1","\5B8B\4F53"; font-size:19px; font-weight:bold; line-height:30px; width:398px;  overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.jdr_tt1 li a{ color:#0b77da;}
.jdr_tt1 li a:hover{ color:#FF0000;}
.jdr ul{padding-left:10px;}
.jdr ul li{ float:left; width:364px; font-size:15px; line-height:26px; font-family:"\5FAE\8F6F\96C5\9ED1","\5B8B\4F53"; overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.jdr ul li a{ color:#000;}
.jdr ul li a:hover{ color:#FF0000;}
.jdr ul li span{background:#a2a2a2; width:40px; height:22px; color:#FFFFFF;font:12px "Microsoft Yahei"; padding:1px 8px; margin-right:6px; }
.jdr ul li span a{ color:#fff;}
.jdr ul li span a:hover{ color:#fff;}
.jdr ul li i{ float:right; font-size:10px; color:#999999; font-style:normal;}
.jdr ul li c{background:#ff0000; width:40px; height:22px; color:#FFFFFF;font:12px "Microsoft Yahei"; padding:1px 8px; margin-right:6px; }
.jdr ul li c a{ color:#fff;}
.jdr ul li c a:hover{ color:#fff;}
.jiaju_left{float:left; width:596px;  background-color:#FFFFFF; padding-bottom:10px;}
.jiaju_right{float:right; width:596px; background-color:#FFFFFF;padding-bottom:10px;}
.jia_n{float:left; font-family:"\5FAE\8F6F\96C5\9ED1","\5B8B\4F53"; font-size:19px; font-weight:bold; line-height:35px; height:35px; border-bottom:#0b77da 1px solid; width:596px; text-indent:10px;}
.jia_n span{ height:35px; color:#FFFFFF;font:12px "Microsoft Yahei";  float:right; margin-right:6px; display:inline; line-height:35px;}
.jia_n span a{ color:#000000;}
.jia_n span a:hover{ color:#ff0000;}
.jia_n_l{float:left; width:180px; margin-top:8px;}
.jia_n_l ul{padding-left:10px; margin-bottom:8px;}
.jia_n_l ul img{ width:160px; height:80px; margin-top:30px;}
.jia_n_l ul li{font-size:14px; line-height:22px; font-family:"\5FAE\8F6F\96C5\9ED1","\5B8B\4F53"; margin-top:10px; text-align:center; width:160px; height:40px; }
.jia_n_l ul li a{ color:#000000;}
.jia_n_l ul li a:hover{ color:#FF0000;} 
.jia_n_r{float:left; width:406px; margin-left:10px; display:inline;}

.jia_n_r ul li{ float:left; width:398px; font-size:15px; line-height:26px; font-family:"\5FAE\8F6F\96C5\9ED1","\5B8B\4F53"; overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.jia_n_r ul li a{ color:#000;}
.jia_n_r ul li a:hover{ color:#FF0000;}
.jia_n_r ul li span{background:#7bc0fc; width:40px; height:22px; color:#FFFFFF;font:12px "Microsoft Yahei"; padding:1px 8px; margin-right:6px; }
.jia_n_r ul li span a{ color:#fff;}
.jia_n_r ul li span a:hover{ color:#fff;}
.jia_n_r ul li i{ float:right; font-size:10px; color:#999999; font-style:normal;}
.jia_n_r ul li c{background:#ff0000; width:40px; height:22px; color:#FFFFFF;font:12px "Microsoft Yahei"; padding:1px 8px; margin-right:6px; }
.jia_n_r ul li c a{ color:#fff;}
.jia_n_r ul li c a:hover{ color:#fff;}
.jdsen_xjd{float:left; width:1200px; height:45px; border-bottom:#0b77da 2px solid; background-color:#FFFFFF; display:block; margin-top:8px;}
.jdsen_xjd li{ float:left; width:180px; text-indent:50px; font-family:"\5FAE\8F6F\96C5\9ED1","\5B8B\4F53",serif; font-size:24px; line-height:45px; color:#0b77da; font-weight:bold; background-image:url(http://www.qudong.com/img/tv.gif);}
.jdsen_xjd span{ float:right; margin-right:15px; font-family:"\5FAE\8F6F\96C5\9ED1","\5B8B\4F53",serif; font-size:18px; line-height:45px;  }
.jdsen_xjd span a{ color:#000000;}
.jdsen_xjd span a:hover{ color:#FF0000;}
.jdsen_xjd i{ background:#5c5c5c; width:40px; height:22px; color:#FFFFFF;font:12px "Microsoft Yahei"; padding:4px 8px; margin-right:3px; display:inline; line-height:50px; }
.jdsen_xjd i a{ color:#FFF;}
.jdr ul li e{background:#0b77da; width:40px; height:22px; color:#FFFFFF;font:12px "Microsoft Yahei"; padding:1px 8px; margin-right:6px; }
.jdr ul li e a{ color:#fff;}
.jdr ul li e a:hover{ color:#fff;}

.pcqu_da{float:left; width:1200px; margin-top:8px; }
.pcqu{float:left; width:1200px; background-color:#FFFFFF;  }
.pcqu ul li{ font-family:"\5FAE\8F6F\96C5\9ED1","\5B8B\4F53",serif; font-size:14px; line-height:20px; margin-top:10px; text-align:center;  }
.pcqu ul li a{ color:#000000;}
.pcqu ul li a:hover{ color:#FF0000;}
.pc_name{float:left; width:22px;  background-image:url(http://www.qudong.com/img/pc1.gif); height:185px; }
.pc_name2{float:left; width:22px;  background-image:url(http://www.qudong.com/img/zt1.gif); height:185px; }
.pcqu_r{float: right; width:384px; background-color:#FFFFFF; height:54px; margin-top:10px; }
.pcqu_da .pcqu_r ul{position:relative;  background-color:#FFFFFF;  padding:14px 4px;float:left; width:165px;  margin-left:12px; display:inline;}
.pcqu_da .pcqu_r ul span{ position:absolute;top:0px;right:0px;height:18px;padding:0 10px; display:inline-block;background:#0f52da;color:#fff;font:12px/18px "Microsoft YaHei"; margin-top:14px; margin-right:4px; display:inline; }	
.pcqu_r ul img {width:165px; height:83px;}
.pcqu_r ul li{ font-family:"\5FAE\8F6F\96C5\9ED1","\5B8B\4F53",serif; font-size:12px; line-height:18px; margin-top:10px; text-align:center;  }
.pcqu_r ul li a{ color:#000000;}
.pcqu_r ul li a:hover{ color:#FF0000;}
.bzzx{float:right; width:384px; background-color:#FFF;  padding:17px 0 16px 0;}
.touxiang{float:left; width:110px;} 
.touxiang img { padding:10px; height: 90px;width: 90px; border-radius:90px;
}
.bzzx_x{float:left; width:265px; font-family:"\5FAE\8F6F\96C5\9ED1","\5B8B\4F53",serif;  font-size:20px; line-height:30px; padding-top:10px;}
.bzzx_x li{float:left; width:265px; list-style-type:none;} 
.bzzx_x a{ color:#000; text-decoration:none;}
.bzzx_x a:hover{ color:#F00; text-decoration:none;}
.mt14{margin-top:14px;}
.mr_t1 { background: url(../images/mr_1px.jpg) repeat-x left bottom; height: 40px; padding-right: 16px; }
.mr_t1name { font: bold 16px/40px "微软雅黑"; color: #FFF; background: #2257A2 url(../images/mr_t1bg.jpg) no-repeat right top; height: 40px; width: 120px; padding-left: 21px; float: left; }
.mr_t1name img { float: left; margin-top: 9px; margin-right: 6px; display: inline; }

.mr_frbox { height: 160px; padding: 14px 22px 0px; margin-top:10px; background-color: #FFF; float:left; width:1156px; }
.mr_frBtnL { float: left; margin: 45px 22px 0px 0px; cursor: pointer; display: inline; }
.mr_frUl { float: left;  width: 1060px; background-color: #FFF; }
.mr_frBtnR { float: right; margin-top: 45px; cursor: pointer; }
.mr_frUl ul dd li{ font-family:"\5FAE\8F6F\96C5\9ED1","\5B8B\4F53",serif; font-size:14px; line-height:20px;  text-align:center; width:165px; }
.mr_frUl ul dd li a{ color:#000000;}
.mr_frUl ul dd li a:hover{ color:#FF0000;}
.mr_frUl ul dd{position:relative;  background-color:#FFFFFF;  padding:0px;float:left; width:165px;  margin-left:17px; margin-right:32px; display:inline; }
.mr_frUl ul dd img{width:165px;height:83px;}
.mr_frUl ul dd span{ position:absolute;top:0px;right:0px;height:18px;padding:0 10px; display:inline-block;background:#e10303;color:#fff;font:12px/18px "Microsoft YaHei"; margin-top:65px; margin-right:0px; display:inline; }	
.mr_frUl ul dd i a{ position:absolute;top:43px;left:3px; width:40px; height:40px;background-image:url(http://img.qudong.com/video/abo2.png);}		
.mr_frUl ul dd i a:hover{ position:absolute;top:43px;left:3px; width:40px; height:40px; background-image:url(http://img.qudong.com/video/bov2.png);}	
