@charset "utf-8";
/* 代码整理：懒人之家 */

* {
	margin:0;
	padding:0;
}
img, a {
	border:0;
}
.span230 {
	width:170px;
}
ul, li {
	list-style:none;
}
.btntop, .btnbottom {
	height:12px;
	overflow:hidden;
	background:url(http://upload.qudong.com/img/arrowtopbottom.gif) no-repeat;
	cursor:pointer;
}
.btntop {
	background-position:75px 0;
}
.btnbottom {
	background-position:75px -12px;
}
#scrollbox {
	height:275px;
	overflow:hidden;
}
.scrollcon {
	height:800%;
}
.scrollpic li {
	height:115px; margin-right:10px;
	overflow:hidden;
	margin:20px 0;
}
.scrollpic li p{
	height:30px; line-height:30px; text-align:center;
}
.scrollpic li img {
	float:left;
	display:inline;
	margin:0 10px 0 0;
}
.scrollpic li a {
	display:block;
	height:90px;
	background:#637fe4;
	font-size:12px;
	color:#fff;
	line-height:25px;
	text-decoration:none;
}
.scrollpic li a:hover {
	background:#3d4558;
	color:#ff6600;
}
