html {
  overflow-y: scroll;
}

.ie6 {
  filter: expression(document.execCommand("BackgroundImageCache", false, true));;
}
.endpage-related li a img {border:#FFF 0px solid; display: inline-block;}
.gallery {
  display: block;
  text-align: left;
  position: relative;
  font-family: "\5B8B\4F53", Arial, sans-serif;
}
.nav1 {
  display: block;
  width: 100%;
  min-width: 990px;
  height: 40px;
  line-height: 40px;
  text-align: left;
  color: #bfbfbf;
  background-color: #333333;
}
a:focus, *:focus {
noFocusLine: expression(this.onFocus=this.blur());
}
.nav a,
.nav a:hover,
.nav a:visited {
  color: #bfbfbf;
}
.nav-left {
  height: 100%;
  float: left;
}
.nav-right {
  height: 100%;
  float: right;
}
.nav-logo {
  width: 100px;
  float: left;
}
.nav-logo img {
  margin: 6px 12px 0;
}
.nav-mbxend {
  color: white;
  font-weight: bold;
}
.ad-bolon {
  float: left;
}
.ad-bolon img {
  margin: 7px 15px 0;
}
.ntes-mobile-app {
  float: left;
  padding: 0 20px 0 40px;
  border-left: 1px solid #444444;
  background: url(http://img6.cache.netease.com/cnews/news2012/img/phone-dark_v2.png) no-repeat 20px 12px transparent;
}

.thumb {
  height: 100%;
  padding-left: 10px;
  position: absolute;
  left: 0;
  top: 0;
  overflow: visible;
}
.thumb ul {
  height: 100%;
  width: 203px;
  float: left;
}
.thumb ul li {
  float: left;
  width: 25px;
  height: 100%;
  padding: 0 2px;
  font-size: 14px;
  font-family: Arial, Verdana, sans-serif;
  font-style: italic;
  text-align: center;
  color: #878787;
  text-decoration: none;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.thumb ul span {
  display: block;
}
.thumb ul li.active {
  color: white;
  font-weight: bold;
  background: url(../img/thumb_text_active.png) 2px 11px no-repeat;
}
.thumb ul li.active span:hover {
  color: white;
}
.thumb ul li span:hover {
  color: #d0412c;
}
.thumb .thumb-img-wrap {
  position: absolute;
  top: 42px;
  left: 20px;
  display: none;
  width: 108px;
  height: 83px;
  text-align: left;
  background-color: transparent;
}
.thumb .thumb-img-wrap s {
  position: absolute;
  top: -10px;
  left: 50px;
  display: block;
  height: 0;
  width: 0;
  font-size: 0;
  line-height: 0;
  border-color: transparent transparent #dadada transparent;
  border-style: dashed dashed solid dashed;
  border-width: 5px;
}
.thumb .thumb-img-wrap s i {
  position: absolute;
  top: -4px;
  left: -5px;
  display: block;
  height: 0;
  width: 0;
  font-size: 0;
  line-height: 0;
  border-color: transparent transparent white transparent;
  border-style: dashed dashed solid dashed;
  border-width: 5px;
}
.thumb .thumb-img-wrap .thumb-img-cont {
  padding: 3px;
  background-color: white;
  border: 1px solid #dadada;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
}
.thumb .thumb-img-wrap .thumb-img-cont img {
  border: none;
  vertical-align: top;
}
.thumb .thumb-img-wrap-first s {
  left: 19px;
}
.thumb .fold {
  width: 16px;
  height: 16px;
  margin: 13px 0 0 8px;
  cursor: pointer;
  float: left;
  background-image: url(../img/foldbtn.png);
  background-repeat: no-repeat;
}
.thumb .fold-open {
  background-position: -16px 0px;
}
.thumb .fold-close {
  background-position: -48px 0px;
}
.thumb .fold-open:hover {
  background-position: -16px -20px;
}
.thumb .fold-close:hover {
  background-position: -48px -20px;
}
.actions {
  color: #252525;
  font-family: "\5B8B\4F53", Arial, sans-serif;
  background: #f3f3f3 url(../img/top_bg.png) left center repeat-x;
  background: -moz-linear-gradient(top, #faf7f7 0%, #f0f0f0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #faf7f7), color-stop(100%, #f0f0f0));
  background: -webkit-linear-gradient(top, #faf7f7 0%, #f0f0f0 100%);
  background: -o-linear-gradient(top, #faf7f7 0%, #f0f0f0 100%);
  background: -ms-linear-gradient(top, #faf7f7 0%, #f0f0f0 100%);
  background: linear-gradient(to bottom, #faf7f7 0%, #f0f0f0 100%);
  position: absolute;
  top: 0;
  right: 0;
  height: 41px;
}
.actions .parting-line {
  float: left;
  height: 22px;
  width: 1px;
  margin: 10px 0;
  font-size: 0;
  background: #dadada;
}
.actions .vieworigin,
.actions .comment,
.actions .share,
.actions .replay,
.actions .photocenter {
  float: left;
  padding: 0px 20px 0 40px;
  background-image: url(../img/btns_v2.png);
  background-repeat: no-repeat;
}
.actions a:hover {
  text-decoration: none;
}
.actions .vieworigin {
  background-position: 11px   12px;
}
.actions .comment {
  background-position: 13px -66px;
}
.actions .share {
  background-position: 13px -147px;
  padding-right: 2px;
  cursor: pointer;
}
.actions .replay {
  background-position: 12px -209px;
}
.actions .photocenter {
  background-position: 15px -285px;
}
.actions .vieworigin:hover {
  background-position: -149px 12px;
}
.actions .comment:hover {
  background-position: -147px -66px;
}
.actions .share:hover {
  background-position: -147px -147px;
}
.actions .replay:hover {
  background-position: -148px -209px;
}
.actions .photocenter:hover {
  background-position: -145px -285px;
}
.actions .comment span,
.actions .share span {
  color: #878787;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 14px;
  margin: 0;
}
.actions .comment b,
.actions .share b {
  color: #b92635;
  font-size: 16px;
  font-style: italic;
  font-weight: normal;
  font-family: Georgia, Arial, sans-serif;
}
.actions .comment span,
.actions .comment b {
  line-height: 1;
}
.actions .share p {
  float: left;
  margin: 0;
  padding: 0;
}
.actions .share a.yixin {
  display: block;
  float: left;
  padding-left: 30px;
  background: url(../img/share_logos_v3.png) 0px 10px no-repeat;
}
.actions .share span,
.actions .share b {
  display: none;
}
.actions .share-more {
  float: left;
  width: 30px;
  height: 42px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  _border-color: tomato;
  _filter: chroma(color=tomato);
  border-bottom: none;
  background-color: #fafafa;
  cursor: pointer;
  background: url(../img/triangle.png) -48px 18px no-repeat;
  position: relative;
  overflow: visible;
}
.actions .share-more-hover {
  border-color: #dadada;
  background-color: white;
  background-position: 12px 18px;
}
.share-more-list {
  width: 110px;
  border: 1px solid #dadada;
  border-top: none;
  background: white url(../img/share-bdt.png) top right no-repeat;
  padding: 4px 0;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  position: absolute;
  top: 42px;
  right: 0;
  z-index: 12;
  display: none;
}
.share-more-list li {
  line-height: 36px;
  margin: 0;
  padding: 0;
}
.share-more-list a {
  display: block;
  line-height: 36px;
  padding-left: 45px;
  background-image: url(../img/share_logos_v2.png);
  background-repeat: no-repeat;
}
.share-more-list .t163 {
  background-position: 13px    7px;
}
.share-more-list .weibo {
  background-position: 13px -73px;
}
.share-more-list .qzone {
  background-position: 13px -233px;
}
.share-more-list .renren {
  background-position: 13px -153px;
}
.main {
  height: 495px;
  min-height: 495px;
  width: 600px;
  min-width: 600px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 360px;
  background: white;
  text-align: left;
  position: relative;
  z-index: 1;
}
.widemode .main {
  padding-right: 30px;
}
.photoarea {
  border: 1px solid #dadada;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 100%;
}
.ie6 .photoarea,
.ie7 .photoarea {
  height: 99.5%;
}
.photoarea .photo-a,
.photoarea .photo-b {
  position: absolute;
  top: 50%;
  left: 50%;
}
.photoarea .photo-a img,
.photoarea .photo-b img {
  width: 100%;
  height: 100%;
  border: none;
  margin: 0;
  padding: 0;
  vertical-align: bottom;
  -ms-interpolation-mode: bicubic;
  -webkit-backface-visibility: hidden;

  backface-visibility: hidden;
}
.photoarea .photo-a {
  z-index: 9;
}
.photoarea .photo-b {
  z-index: 8;
}
.cursor-left {
  cursor: url("http://img2.cache.netease.com/utf8/gallery/img/cursor_left.cur"), auto;
}
.cursor-right {
  cursor: url("http://img2.cache.netease.com/utf8/gallery/img/cursor_right.cur"), auto;
}
.cursor-default {
  cursor: default;
}
.photoarea .picinfo {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 11;
  width: 100%;
  background: black;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  cursor: default;
}
.ie6 .photoarea .picinfo,
.ie7 .photoarea .picinfo,
.ie8 .photoarea .picinfo {
  filter: alpha(opacity=70);
}
.photoarea .picinfo .fold,
.photoarea .picinfo .unfold {
  background-image: url(../img/picinfo_fold.png);
  background-repeat: no-repeat;
  cursor: pointer;
  opacity: .85;
  filter: alpha(opacity=85);
  position: absolute;
  right: 0;
  bottom: 0;
}
.photoarea .picinfo .fold:hover,
.photoarea .picinfo .unfold:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
.photoarea .picinfo .fold {
  background-position: -160px center;
  width: 60px;
  height: 100%;
  display: block;
}
.ie6 .photoarea .picinfo .fold {
  height: 60px;
}
.photoarea .picinfo .unfold {
  display: none;
  background-color: black;
  background-position: 19px 15px;
  width: 60px;
  height: 30px;
  line-height: 30px;
  padding-top: 30px;
  text-align: center;
}
.photoarea .picinfo-text-wrap {
  padding: 10px 60px 10px 15px;
}
.photoarea .picinfo-text {
  overflow: hidden;
  height: 40px;
  line-height: 20px;
}
.photoarea .picinfo-text p {
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-family: "\5FAE\8F6F\96C5\9ED1", sans-serif;
}
.photoarea .picinfo-text p a {
  color: #ba2636;
}
.photoarea .picinfo-fold {
  background: none;
  height: 30px;
}
.ie6 .photoarea .picinfo-fold,
.ie7 .photoarea .picinfo-fold,
.ie8 .photoarea .picinfo-fold {
  filter: none;
}
.photoarea .picinfo-fold .progress,
.photoarea .picinfo-fold .picinfo-text-wrap,
.photoarea .picinfo-fold .fold {
  display: none;
}
.photoarea .picinfo-fold .unfold {
  display: block;
}
.photoarea .loader {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 99;
}
.modeswitch {
  width: 23px;
  position: absolute;
  top: 50%;
  right: -12px;
  margin-top: -26px;
  z-index: 11;
}
.modeswitch .open,
.modeswitch .close {
  width: 10px;
  height: 50px;
  cursor: pointer;
  border: 1px solid #d6d6d6;
  background-color: white;
  background-image: url(../img/triangle.png);
  background-repeat: no-repeat;
}
.modeswitch .close {
  float: left;
  border-right: none;
  background-position: -87px -56px;
  display: none;
}
.modeswitch .open {
  float: right;
  border-left: none;
  background-position: -27px -56px;
}
.modeswitch .close:hover,
.modeswitch .open:hover {
  background-color: #f8f8f8;
}
.modeswitch .close:hover {
  background-position: -87px -19px;
}
.modeswitch .open:hover {
  background-position: -27px -19px;
}
.sidebar {
  background-color: white;
  position: absolute;
  top: 0;
  right: 30px;
  width: 300px;
  height: 495px;
  min-height: 495px;
  -webkit-transition: width 0.25s ease-out, height 0.25s ease-out;
  -moz-transition: width 0.25s ease-out, height 0.25s ease-out;
  transition: width 0.25s ease-out, height 0.25s ease-out;
}
.widemode .sidebar {
  display: none;
}
.sidebar .tag {
  font-size: 14px;
  line-height: 1;
  margin: 10px 0;
  font-family: "\5FAE\8F6F\96C5\9ED1", sans-serif;
}
.sidebar .tag span {
  color: #999999;
}
.sidebar .tag a {
  padding: 6px 8px;
  margin-right: 6px;
  color: #252525;
  background-color: #f5f4f4;
  text-decoration: none;
}
.sidebar .tag a:hover {
  color: white;
  background: #d0412c;
}
.sidebar .prevue-title {
  font-size: 14px;
  font-family: "\5FAE\8F6F\96C5\9ED1", sans-serif;
  padding-top: 10px;
}
.sidebar .prevue {
  color: #888888;
  margin: 0;
  padding: 10px 0;
  font-size: 12px;
  line-height: 1.8;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
.sidebar .prevue .viewport {
  height: 200px;
  overflow: hidden;
  position: relative;
}
.sidebar .prevue .overview {
  width: 100%;
  list-style: none;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0;
  margin: 0;
}
.sidebar .prevue .overview a {
  color: #ba2636;
}
.sidebar .prevue .overview p {
  width: 290px;
  margin: 0;
}
.ie6 .sidebar .prevue .overview p,
.ie7 .sidebar .prevue .overview p {
  width: auto;
}
.sidebar .prevue .overview .ptitle {
  font-size: 16px;
  font-family: "Microsoft Yahei", sans-serif;
  margin-bottom: 8px;
}
.sidebar .prevue .scrollbar {
  position: relative;
  float: right;
  width: 9px;
  font-size: 0;
  background: url(../img/scrollbar_bg.png) top center repeat-y;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAABAQMAAAA2DBY+AAAABlBMVEXc3Nz////gotfwAAAAAnRSTlP/AOW3MEoAAAALSURBVAjXY/jeAAACcQF4YUSDEgAAAABJRU5ErkJggg==) top center repeat-y;
}
.sidebar .prevue .track {
  height: 100%;
  width: 9px;
  position: relative;
}
.sidebar .prevue .thumb {
  height: 18px;
  width: 7px;
  border: 1px solid #b7b7b7;
  background: gainsboro;
  border-radius: 4px;
  padding: 0;
  cursor: pointer;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.sidebar .prevue .thumb:hover {
  background: #eeeeee;
}
.sidebar .prevue .disable {
  display: none;
}
.noSelect {
  user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}
.progress {
  float: left;
  width: 55px;
  height: 50px;
  margin: 0 15px 5px 15px;
  text-align: center;
  background: url(../img/splash.png) 60% 70% no-repeat;
  position: relative;
}
.progress-wide {
  width: 85px;
}
.progress .numerator,
.progress .denominator {
  position: absolute;
  font-family: Georgia, 'Monotype Corsiva', Arial, sans-serif;
  font-style: italic;
  line-height: 1;
}
.progress .numerator {
  bottom: 25%;
  right: 50%;
  color: #cc191b;
  font-size: 36px;
}
.ie7 .progress .numerator {
  width: 40px;
}
.progress .denominator {
  top: 60%;
  left: 60%;
  font-size: 14px;
}
.photoarea .progress {
  top: 5px;
  margin-bottom: 0;
  background-image: url(../img/splash_white.png);
}
.ad300x250 {
  width: 300px;
  max-height: 250px;
  display: block;
  overflow: hidden;
  position: absolute;
  right: 0;
  bottom: 0;
}
.ad300x250 img {
  margin: 0;
  padding: 0;
  width: 300px;
  height: 250px;
  display: inline;
}
.endpage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 990px;
  height: 100%;
  z-index: 20;
  background: white;
  overflow: hidden;
  display: none;
}
.endpage-main {
  width: 900px;
  height: 500px;
  background: white;
  position: absolute;
  z-index: 20;
  top: 50%;
  left: 50%;
  margin: -270px 0 0 -450px;
}
.endpage-main-top {
  width: 100%;
  height: 140px;
  text-align: left;
}
.endpage-title,
.endpage-top {
  height: 69px;
  line-height: 68px;
}
.endpage-title {
  border-bottom: 1px solid gainsboro;
}
.endpage-title h1 {
  font-size: 24px;
  color: #252525;
  font-family: "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
}
.endpage-top .endpage-info {
  float: left;
  font-size: 14px;
  height: 100%;
  background: url(../img/check.png) center left no-repeat;
  padding-left: 25px;
  overflow: hidden;
}
.endpage .actions {
  float: right;
  height: 41px;
  line-height: 41px;
  position: static;
  background: white;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false) !important;
  margin-top: 16px;
}
.endpage .actions .comment,
.endpage .actions .share,
.endpage .actions .replay,
.endpage .actions .photocenter {
  border: none;
}
.endpage .actions .photocenter {
  padding-right: 0;
}
.endpage .actions .share-more {
  height: 40px;
  margin-right: 2px;
}
.endpage .share-more-list {
  top: 127px;
  right: 139px;
}
.eddpage .share-more-list a {
  line-height: 36px;
}
.endpage-btm {
  height: 360px;
  background: #f1f1f1;
  border: 1px solid #d7d7d7;
}
.endpage-btm h3 {
  text-align: left;
  font-size: 14px;
  text-shadow: -1px -1px 0 white;
  padding-left: 25px;
}
.endpage-btm-left,
.endpage-btm-right {
  _display: inline;
  float: left;
  overflow: hidden;
}
.endpage-btm-left {
  width: 600px;
  margin: 30px 27px 0;
  position: relative;
}
.endpage-btm-right {
  width: 200px;
  padding: 0 20px;
  margin: 30px 0 0;
  border-left: 1px solid gainsboro;
}
.endpage-related {
  width: 470px; 
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.endpage-related li{float:left; width:130px; margin-right:12px; display:inline; margin-left:10px; margin-top:10px;}
.endpage-related-tab {
  text-align: center;
  padding-left: 280px;
}
.endpage .setlist-item,
.endpage .recovideo-item {
  float: left;
  margin: 15px 25px;
  _border-color: #f1f1f1;
}
.endpage-related-paging {
  text-align: center;
  padding-left: 280px;
}
.endpage-btm-ad .endpage-btm-left {
  width: 380px;
  margin: 30px 18px 0 19px;
}
.endpage-btm-ad .endpage-btm-left .setlist-item {
  margin: 15px 20px;
}
.endpage-btm-ad .endpage-btm-left .endpage-related {
  width: 424px;
}
.endpage-btm-ad .endpage-btm-right {
  width: 480px;
  height: 360px;
  padding: 0;
  margin: 0;
  border: none;
  border-right: 1px solid gainsboro;
  overflow: hidden;
}
.endpage .prevset,
.endpage .nextset {
  display: block;
  text-align: left;
  position: relative;
  top: 50%;
  z-index: 20;
  margin-top: -10px;
  height: 110px;
  color: #292929;
  font-size: 18px;
  font-family: "Hiragino Sans GB", "Microsoft YaHei", "\5B8B\4F53", sans-serif;
  border: 1px solid white;
  background-color: white;
  cursor: pointer;
}
.endpage .prevset {
  float: left;
  border-left: none;
}
.endpage .nextset {
  float: right;
  border-right: none;
}
.endpage .prevset .arrow,
.endpage .nextset .arrow {
  height: 100%;
  width: 40px;
  background-image: url(../img/last-next.png);
  background-repeat: no-repeat;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.endpage .prevset .arrow {
  background-position: 5px center;
}
.endpage .nextset .arrow {
  background-position: -415px center;
}
.endpage .prevset:hover .arrow {
  background-position: -135px center;
}
.endpage .nextset:hover .arrow {
  background-position: -275px center;
}
.endpage .prevset .tiptext,
.endpage .nextset .tiptext {
  width: 16px;
  height: 100%;
  line-height: 18px;
  position: relative;
  top: 50%;
  margin-top: -36px;
  display: none;
  vertical-align: top;
}
.endpage .prevset .tiptext {
  padding-right: 12px;
}
.endpage .nextset .tiptext {
  padding-left: 12px;
}
.endpage .prevset:hover,
.endpage .nextset:hover {
  text-decoration: none;
  color: #292929;
}
@media screen and (min-width: 1050px) {
  .endpage .prevset .tiptext,
  .endpage .nextset .tiptext {
    vertical-align: top;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
  }
}
.endpage .prevset .parea,
.endpage .nextset .parea {
  width: 150px;
  height: 100%;
  vertical-align: top;
  display: none;
}
.endpage .prevset .parea {
  margin-right: 15px;
}
.endpage .nextset .parea {
  margin-left: 15px;
}
@media screen and (min-width: 1420px) {
  .endpage .prevset .parea,
  .endpage .nextset .parea {
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
  }
}
.endpage .prevset .parea .setlist-item,
.endpage .nextset .parea .setlist-item {
  float: none;
  margin: 0;
  position: relative;
  top: 50%;
  margin-top: -54px;
  *zoom: 1;
}
.setlist-item,
.recovideo-item {
  display: block;
  _display: inline;
  width: 130px;
  height: 98px;
  padding: 4px;
  margin: 0px 0;
  cursor: pointer;
  border: 0px solid transparent;
  position: relative;
}
.setlist-item:hover,
.recovideo-item:hover {
  border-color: #d6d6d6;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.28);
  background: white;
  text-decoration: none;
}
.setlist-item p,
.recovideo-item p {
  display: block;
  height: 34px;
  width: 110px;
  padding: 6px 10px;
  margin: 0;
  font-size: 12px;
  line-height: 16px;
  font-family: "\5FAE\8F6F\96C5\9ED1", "\5B8B\4F53", Arial, sans-serif;
  text-align: left;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  background-repeat: no-repeat;
  overflow: hidden;
  position: absolute;
  bottom: 4px;
  left: 4px;
}
.ie6 .setlist-item p,
.ie6 .recovideo-item p,
.ie7 .setlist-item p,
.ie7 .recovideo-item p,
.ie8 .setlist-item p,
.ie8 .recovideo-item p {
  background-color: black;
  filter: alpha(opacity=70);
}
.setlist-item p {
  background-image: url(../img/seticon.png);
  background-position: 120px 28px;
}
.recovideo-item p {
  background-image: url(../img/videoicon.png);
  background-position: 120px 25px;
}
.tab-dot {
  width: 10px;
  height: 10px;
  font-size: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 1px 1px 0 #060606, 1px 1px 0 white;
  -moz-box-shadow: inset 1px 1px 0 #060606, 1px 1px 0 white;
  box-shadow: inset 1px 1px 0 #060606, 1px 1px 0 white;
  float: left;
  margin: 0 3px;
  cursor: pointer;
}
.bg-red {
  background-color: #d0412c;
}
.bg-gray {
  background-color: #a7a7a7;
}
.hotset {
  height: 195px;
  border-bottom: 1px solid #dadada;
  margin-top: 10px;
  min-width: 990px;
  position: relative;
}
.hotset-top {
  width: 100%;
  height: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid #dadada;
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.05);
}
.ie6 .hotset-top,
.ie7 .hotset-top {
  border-bottom: none;
  background: url(../img/color-DADADA.png) left bottom repeat-x;
}
.hotset-tab li {
  height: 38px;
  line-height: 38px;
  padding: 0 30px;
  text-align: center;
  font-family: "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
  font-size: 16px;
  cursor: pointer;
  border-width: 1px;
  border-style: solid solid solid none;
  border-color: #dadada;
  background-color: whitesmoke;
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.05);
  float: left;
}
.hotset-tab li.active {
  border-bottom-color: white;
  background-color: white;
  box-shadow: none;
}
.hotset-tab li.hotset-tab-last {
  border-right-style: solid;
}
.hotset-tab li.hotset-tab-ad {
  color: #999999;
}
.hotset-cont {
  width: 100%;
  height: 155px;
  overflow: hidden;
}
.hotset-cont li {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
.hotset-cont li.hotset-ads {
  overflow: hidden;
  display: none;
}
.hotset-sets-tab {
  width: 125px;
  position: absolute;
  top: 24px;
  left: 0;
}
.hotset-sets-tab a,
.hotset-sets-tab a:hover {
  display: block;
  height: 42px;
  line-height: 42px;
  padding-left: 40px;
  font-size: 14px;
  text-align: left;
  text-decoration: none;
}
.hotset-sets-tab a:focus {
  outline: none;
}
.hotset-sets-tab a,
.hotset-sets-tab a:visited {
  color: #888888;
}
.hotset-sets-tab .active:visited {
  color: white;
}
.hotset-sets-tab a:hover,
.hotset-sets-tab .active {
  color: white;
  font-weight: bold;
  text-decoration: none;
  background: url(../img/hotset_tab_bg.png) center center no-repeat;
}
.hotset-sets-list-wrap {
  height: 100%;
  padding-left: 125px;
}
.hotset-sets-list ul {
  display: none;
  height: 155px;
  padding: 0 10px;
  overflow: hidden;
}
.hotset-sets-list ul li {
  display: block;
  float: left;
  width: 140px;
  height: 98px;
  padding: 4px;
  margin: 23px 0;
  cursor: pointer;
  border: 1px solid transparent;
  _border-color: white;
  position: relative;
}
.hotset-sets-list ul li:hover {
  border-color: #d6d6d6;
  background: white;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.28);
}
.ie6 .hotset-sets-list ul li:hover,
.ie7 .hotset-sets-list ul li:hover,
.ie8 .hotset-sets-list ul li:hover {
  border-color: #d6d6d6;
}
.hotset-sets-list ul li a:hover {
  text-decoration: none;
}
.hotset-sets-list ul li p {
  display: block;
  height: 34px;
  width: 120px;
  padding: 6px 10px;
  margin: 0;
  font-size: 12px;
  line-height: 16px;
  text-align: left;
  font-family: "\5FAE\8F6F\96C5\9ED1", sans-serif;
  color: white;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  background-image: url(../img/seticon.png);
  background-repeat: no-repeat;
  background-position: 120px 28px;
  overflow: hidden;
  cursor: pointer;
  position: absolute;
  bottom: 4px;
  left: 4px;
}
.ie6 .hotset-sets-list ul li p,
.ie7 .hotset-sets-list ul li p,
.ie8 .hotset-sets-list ul li p {
  background-color: black;
  filter: alpha(opacity=70);
}
.hotset-sets-list ul li i {
  display: block;
  height: 28px;
  width: 28px;
  background: url(../img/rank-num.png) no-repeat;
  position: absolute;
  left: 4px;
  top: 4px;
}
.hotset-sets-list ul li i.rank-num-1 {
  background-position: 0   0;
}
.hotset-sets-list ul li i.rank-num-2 {
  background-position: -28px 0;
}
.hotset-sets-list ul li i.rank-num-3 {
  background-position: -56px 0;
}
.hotset-sets-list ul li i.rank-num-4 {
  background-position: -84px 0;
}
.hotset-sets-list ul li i.rank-num-5 {
  background-position: -112px 0;
}
.hotset-sets-list ul li i.rank-num-6 {
  background-position: -140px 0;
}
.hotset-sets-list ul li i.rank-num-7 {
  background-position: -168px 0;
}
.hotset-sets-list ul li i.rank-num-8 {
  background-position: -196px 0;
}
.hotset-sets-list ul li i.rank-num-9 {
  background-position: -224px 0;
}
.hotset-sets-list ul li i.rank-num-10 {
  background-position: -252px 0;
}
.other-content {
  margin: 0;
  width: 100%;
  min-width: 990px;
  min-height: 20px;
  background: #f8f8f8;
}
.other-content:before,
.other-content:after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
.other-content .btm-ad {
  width: 960px;
  height: 130px;
  margin: 10px auto;
  overflow: hidden;
}
.gallery-gray-area {
  background-color: #f8f8f8;
}
.gallery-tie-bottom {
  min-width: 960px;
  max-width: 1300px;
  _width: 968px;
  margin: 0 auto;
  min-height: 500px;
  padding: 0 15px 200px;
}
.gallery-tie-bottom-inner {
  border: 1px solid #dadada;
  background: white url(http://img2.cache.netease.com/utf8/gallery/img/bottom-gird-line.png) repeat-y top right;
}
.gallery-tie-main {
  margin-right: 320px;
  text-align: left;
}
.gallery-tie-main-inner {
  float: left;
  width: 100%;
  clear: none;
}
.gallery-tie-right {
  float: right;
  width: 320px;
  text-align: left;
}
.gallery-tie-main #tieArea,
.gallery-tie-main .tie-area {
  padding: 5px 25px;
  border: none !important;
}
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
}

