ul, ol {list-style: none}
img {border: 0;	vertical-align: top}
:focus {outline: 0}
.f-l {float: left}
.f-r {float: right}
.c-b {clear: both}
.clear {clear: both; height: 0; font-size: 0; overflow: hidden}
.clearfix:after { content: "\0020";	display: block;	height: 0;	clear: both; visibility: hidden}
.clearfix {	clear: both; zoom: 1}
.v-a-m {vertical-align:middle}
h1 {font-size: 18px}
h2 {font-size: 16px}
h3 {font-size: 14px}
h4, h5, h6 {font-size: 100%}
.f-w-b {font-weight: bold}
.f-w-n {font-weight: normal}
.black {color: #000}
.red {color: #f00}
.gray {	color: #999}
.t-a-l {text-align: left}
.t-a-c {text-align: center}
.t-a-r {text-align: right}
.t-d-u {text-decoration: underline}
.f-s-12 {font-size: 12px}
.f-s-14 {font-size: 14px}
a {	color: #151515;	text-decoration: none}
a:hover {color: #20a135}
.menu a {color: #666}
.menu a:hover {	color: #20a135}
.other a {	color: #666;padding: 0 6px}
.other a:hover {color: #20a135}
table {	border-collapse: collapse;	border-spacing: 0}
.m-b-10 {margin-bottom: 10px}
.m-b-15 {margin-bottom: 15px}
.m-a {margin: 0 auto}
.doc-hd, .doc-bd {width: 960px;	margin: 0 auto}
.doc-bd {padding-bottom: 20px}
.main {width: 623px; float: left}
.side {	width: 318px; float: right;	border: 1px solid #f0f0f0; border-top: 0}
.bd { padding: 10px 15px}
.btn, .t-2, .tlist-1 li, .tlist-2 li, .tlist-3 li, .list h3 .new, .nav .hot, .nav .new, .list h3 .hot {
	background: url(../images/t018a9b2d1ba37133e5.png) no-repeat
}
.info {	float: left; margin-top: 8px}
.info a {color: #7d7d7d; font-size: 12px}
.info a:hover { color: #20a135}
.info img {	padding-top: 4px}
.btn {border: 0; cursor: pointer; display: inline-block; text-align: center}
.btn-3 {width: 168px; height: 48px;	background-position: 0 -38px}
.btn-3:hover {background-position: -169px -38px}
.btn-4 { width: 169px; height: 48px; background-position: 0 -168px}
.btn-4:hover { background-position: -169px -168px}
.btn-5 { width: 169px; height: 48px; background-position: 0 -216px}
.btn-5:hover { background-position: -169px -216px}
.btn-8 { width: 202px; height: 62px; background-position: 0 -459px}
.btn-8:hover {	background-position: 0 -527px}
.btn-10 {width: 169px; height: 48px; background-position: 0 -597px}
.btn-10:hover {	background-position: -169px -597px}
.btn-11 { width: 168px; height: 48px; background-position: 0 -1085px}
.btn-11:hover {	background-position: -169px -1085px}
.btn-13 {width: 168px; height: 48px; background-position: 0 -827px}
.btn-13:hover {	background-position: -169px -827px}
.btn-cq {width: 202px; height: 61px; background-position: -10px -887px}
.btn-cq:hover {	background-position: -10px -954px}
.btn-14 {width: 168px; height: 48px; background-position: 0 -1029px}
.btn-14:hover {	background-position: -169px -1029px}

.slides {height: 220px;	background: #fff;  position: relative; overflow: hidden;width: 1200px; margin:0 auto;}
.slides .in { width: 1200px; height: 220px; margin: 0 auto; position: relative; z-index: 99}
.slides .slide { width: 1200px; height: 220px; color: #fff;	position: relative;	float: left; display: inline-block;	vertical-align: bottom;	float: none\0;
+float:left;}
.slides .slide h1 {	height: 0; line-height: 100px; overflow: hidden}
.slides .slide h2 {	font: normal 16px "\5fae\8f6f\96c5\9ed1"; position: absolute}
.slides .slide .btn { position: absolute}
.slides .slide .info { color: #fff; position: absolute;	line-height: 22px}
.slides .slide .icon, .slides .slide .tit, .slides .slide .link, .slides .slide .link1, .slides .slide .link2 {	position: absolute}
.slides .slide-1 {width: 1200px;}
.slides .slide-1 h2 {left: 448px; top: 77px}

.slides .slide-1 .link {left: 448px; top: 181px}
.slides .slide-1 .link a { color: #fff}
.slides .slide-1 .link a:hover { color: #ffe500; text-decoration: underline}
.slides .slide-2 {}
.slides .slide-2 h2 {left: 443px; top: 92px}
.slides .slide-2 .btn-3 { left: 443px; top: 126px}
.slides .slide-2 .info { left: 621px; top: 118px}
.slides .slide-2 .icon { width: 312px; height: 149px; left: 88px; top: 32px}
.slides .slide-2 .tit {	width: 164px; height: 48px;	left: 420px; top: 36px}
.slides .slide-2 .link { left: 443px; top: 181px}
.slides .slide-2 .link a { color: #fff}
.slides .slide-2 .link a:hover { color: #ffe500; text-decoration: underline}
.slides .slide-3 {}
.slides .slide-3 h2 {left: 477px; top: 77px}
.slides .slide-3 .btn-3 { left: 477px; top: 128px}
.slides .slide-3 .btn-10 { left: 661px;	top: 128px}
.slides .slide-3 .info {left: 477px; top: 93px}
.slides .slide-3 .icon { width: 286px; height: 174px; left: 95px; top: 19px}
.slides .slide-3 .tit { width: 289px; height: 48px;	left: 461px; top: 26px}
.slides .slide-3 .link { left: 477px; top: 183px}
.slides .slide-3 .link a {color: #fff}
.slides .slide-3 .link a:hover {color: #ffe500;	text-decoration: underline}
.slides .slide-4 {	}
.slides .slide-4 h2 {left: 399px; top: 77px}
.slides .slide-4 .btn-3 { left: 397px; top: 128px}
.slides .slide-4 .link { left: 396px; top: 183px}
.slides .slide-4 .link a { color: #fff}
.slides .slide-4 .link a:hover { color: #ffe500; text-decoration: underline}
.slides .slide-4 .btn-4 { left: 581px; top: 128px}
.slides .slide-4 .btn-5 { left: 763px; top: 128px}
.slides .slide-4 .info { left: 399px; top: 93px}
.slides .slide-4 .icon { width: 190px; height: 174px; left: 110px; top: 20px}
.slides .slide-4 .tit {	width: 289px; height: 48px;	left: 398px; top: 26px}
.slides .slide-5 {	}
.slides .slide-5 h2 {left: 443px; top: 82px}
.slides .slide-5 .btn-14 { left: 443px; top: 118px}
.slides .slide-5 .info { left: 624px; top: 110px}
.slides .slide-5 .icon { width: 190px; height: 157px; left: 126px; top: 26px}
.slides .slide-5 .tit {	width: 254px; height: 48px;	left: 437px; top: 26px}
.slides .slide-5 .link1 { left: 624px; top: 144px}
.slides .slide-5 .link2 { left: 443px; top: 178px}
.slides .slide-5 .link1 a {	color: #fff}
.slides .slide-5 .link1 a:hover { color: #ffe500; text-decoration: underline}
.slides .slide-5 .link2 a {	color: #fff}
.slides .slide-5 .link2 a:hover { color: #ffe500; text-decoration: underline}
.slides .slide-6 {	}
.slides .slide-6 h2 { left: 438px; top: 88px}
.slides .slide-6 .btn-13 { left: 438px;	top: 118px}
.slides .slide-6 .btn-11 {left: 622px; top: 118px}
.slides .slide-6 .btn-12 {left: 788px; top: 126px}
.slides .slide-6 .icon { width: 290px; height: 157px; left: 76px; top: 32px}
.slides .slide-6 .tit {	width: 332px; height: 48px;	left: 437px; top: 32px}
.slides .slide-6 .link { left: 438px; top: 174px}
.slides .slide-6 .link a { color: #fff}
.slides .slide-6 .link a:hover { color: #ffe500; text-decoration: underline}
.slides .tab { height: 30px; position: absolute; left: 0; bottom: 0; z-index: 99; font: 16px/30px "\5fae\8f6f\96c5\9ed1"; margin-left:19px; }
.slides .tab li { float: left}
.slides .tab a { height: 30px; float: left;	color: #fff;  text-align: center}
.slides .tab a:hover {color: #e0f2d8}
.slides .tab .item-1 { width: 100px; border-right: 1px solid #adcdfe; border-left: 1px solid #adcdfe;}
.slides .tab .item-2 { width: 100px; border-right: 1px solid #adcdfe}
.slides .tab .item-3 { width: 100px; border-right: 1px solid #adcdfe}
.slides .tab .item-4 { width: 100px; border-right: 1px solid #adcdfe}
.slides .tab .item-5 { width: 100px; border-right: 1px solid #adcdfe}
.slides .tab .item-6 { width: 100px; border-right: 1px solid #adcdfe}
.slides .tab .item-7 { width: 100px; border-right: 1px solid #adcdfe}
.slides .tab .selected { background: #fff; text-shadow: 0 0 1px #6e8fc5}
.slides .tab .selected a { color: #285192}
.slides .mask {	width: 100%; height: 30px; background: #3a7dcc;	position: absolute;	left: 0; bottom: 0;	z-index: 9;	}
.tetui{float:left; padding:15px 10px 10px 10px;}
.tetui ul{float:left; margin-left:10px; margin-right:4px;width:280px;position:relative;}
.tetui ul img{ width:280px; height:140px;}
.tetui ul li{ height:30px; line-height:30px; font: 14px/28px "\5fae\8f6f\96c5\9ed1"; text-align:center;width:284px; overflow:hidden;  }
.tetui ul li a:hover{ color: #FF0000;}
.tetui ul span{ position:absolute;top:10px;right:0px;height:18px;padding:2px 10px; display:inline-block;background:#285192;color:#FFF;font:12px/18px "Microsoft YaHei";  display:inline;  
}