@charset "UTF-8";

a{
	color:#1d54a7;
	text-decoration:none;
}

a:hover {
	color:#c00000;
	text-decoration:underline;
}

/* ############################################################

	Styles for top page
	Last Up Date: 2014/12/17

############################################################ */

/* ------------------------------------------
	helper class
------------------------------------------ */

/* helper classには基本的にimportantを付けて下さい */

.clearfix:after {
  content: "."; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden;
}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.txt-prime { 
  color: #bf0000!important;
}

.txt-bold {
  font-weight: bold!important;
}

.mha { margin-left:auto!important;margin-right:auto!important; }
.mh0 { margin-left:0!important;margin-right:0!important; }
.mh5 { margin-left:5px!important;margin-right:5px!important; }
.mh10 { margin-left:10px!important;margin-right:10px!important; }
.mh15 { margin-left:15px!important;margin-right:15px!important; }
.mh20 { margin-left:20px!important;margin-right:20px!important; }
.mv0 { margin-top: 0!important;margin-bottom: 0!important; }
.mv5 { margin-top: 5px!important;margin-bottom: 5px!important; }
.mv10 { margin-top: 10px!important;margin-bottom: 10px!important; }
.mv15 { margin-top: 15px!important;margin-bottom: 15px!important; }
.mv20 { margin-top: 20px!important;margin-bottom: 20px!important; }
.ml5 { margin-left: 5px!important; }
.mt5 { margin-top: 5px!important; }
.mr5 { margin-right: 5px!important; }
.mb5 { margin-bottom: 5px!important; }
.ml10 { margin-left: 10px!important; }
.mt10 { margin-top: 10px!important; }
.mr10 { margin-right: 10px!important; }
.mb10 { margin-bottom: 10px!important; }
.ml15 { margin-left: 15px!important; }
.mt15 { margin-top: 15px!important; }
.mr15 { margin-right: 15px!important; }
.mb15 { margin-bottom: 15px!important; }
.ml20 { margin-left: 20px!important; }
.mt20 { margin-top: 20px!important; }
.mr20 { margin-right: 20px!important; }
.mb20 { margin-bottom: 20px!important; }
.ph0 { padding-left:0!important;padding-right:0!important; }
.ph5 { padding-left:5px!important;padding-right:5px!important; }
.ph10 { padding-left:10px!important;padding-right:10px!important; }
.ph15 { padding-left:15px!important;padding-right:15px!important; }
.ph20 { padding-left:20px!important;padding-right:20px!important; }
.pv0 { padding-top: 0!important;padding-bottom: 0!important; }
.pv5 { padding-top: 5px!important;padding-bottom: 5px!important; }
.pv10 { padding-top: 10px!important;padding-bottom: 10px!important; }
.pv15 { padding-top: 15px!important;padding-bottom: 15px!important; }
.pv20 { padding-top: 20px!important;padding-bottom: 20px!important; }
.pl5 { padding-left: 5px!important; }
.pt5 { padding-top: 5px!important; }
.pr5 { padding-right: 5px!important; }
.pb5 { padding-bottom: 5px!important; }
.pl10 { padding-left: 10px!important; }
.pt10 { padding-top: 10px!important; }
.pr10 { padding-right: 10px!important; }
.pb10 { padding-bottom: 10px!important; }
.pl15 { padding-left: 15px!important; }
.pt15 { padding-top: 15px!important; }
.pr15 { padding-right: 15px!important; }
.pb15 { padding-bottom: 15px!important; }
.pl20 { padding-left: 20px!important; }
.pt20 { padding-top: 20px!important; }
.pr20 { padding-right: 20px!important; }
.pb20 { padding-bottom: 20px!important; }
.inB {
  display: inline-block!important;
  *display: inline!important;
  *zoom: 1;
}
.txtL { text-align: left!important; }
.txtC { text-align: center!important; }
.txtR { text-align: right!important; }
.isBlock { display: block!important; }
.isHidden { display: none!important; }
.fs-3 { font-size: 65%!important; }
.fs-2 { font-size: 82%!important; }
.fs-1 { font-size: 90%!important; }
.fs0 { font-size: 100%!important; }
.fs1 { font-size: 115%!important; }
.fs2 { font-size: 125%!important; }
.fs3 { font-size: 150%!important; }
.fs4 { font-size: 165%!important; }
.fs5 { font-size: 175%!important; }
.fwN { font-weight: normal!important; }
.fwB { font-weight: bold!important; }
.flL { float: left; }
.flR { float: right; }

/* ------------------------------------------
	Common parts
------------------------------------------ */
.column--2 .column__Item {
  width: 50%;
  float: left;
}
.column--3 .column__Item {
  width: 33.33%;
  float: left;
}
.column--4 .column__Item {
  width: 25%;
  float: left;
}
.section--def {
  border: solid 1px #ccc;
  border-top: none;
}
.sec__ttl {
  padding: 0.5em 10px;
  margin-bottom: 5px;
  text-align: center;
  border-bottom: solid 1px #ccc;
}
.sec__ttl--def {
  background: #ccc;
}
.sec__ttl--useImg {
  margin: 0;
  padding: 0;
}
.sec__lists {
  margin: 0 4px;
}
.sec__listItem {
  margin-bottom: 10px;
}
.sec__image,
.sec__link {
  display: block;
}
.sec__image {
  margin-bottom: 5px;
}

/* ------------------------------------------
	Layout
------------------------------------------ */

div#container {
	width: 950px;
	margin: 20px auto 40px;
	font-size: 82%;
	line-height: 1.4;
}
div#contents {
	overflow: hidden;  /* clerafix */
	margin-bottom: 30px;
	zoom: 1;  /* clerafix */
}
div#mainContents {
	float: left;
	width: 730px;
	overflow: hidden;
	color: #333333;
}
div#subContents {
	float: right;
	width: 210px;
	overflow: hidden;
	color: #444444;
}
div#extendContents {
	margin-bottom: 30px;
	padding-top: 20px;
	border-top: 1px solid #d9d9d9;
}

/* ------------------------------------------
	Components - common
------------------------------------------ */

/* Button
------------------------------------*/

/* Super class */

div#container .button {
	display: inline-block;
	line-height: 1;
	margin: 0 1px;
	text-decoration: none;
	cursor: pointer;
}
div#container .button span {
	display: inline-block;
	position: relative;
	left: -1px;
	margin-right: -2px;
	cursor: pointer;  /* for IE6 bug */
}

/* Sub class */

div#container .leadButton {
	border-top: 1px solid #c2c2c2;
	border-bottom: 1px solid #c2c2c2;
	color: #444444;
	background: #ffecec url(//image.card.jp.rakuten-static.com/corp/pc/contents/bg_button_pink.gif) repeat-x;
}
div#container .leadButton span {
	padding: 4px 10px 3px 23px;
	border-left: 1px solid #c2c2c2;
	border-right: 1px solid #c2c2c2;
	background: url(//image.card.jp.rakuten-static.com/corp/pc/contents/bg_button_pink_icon.gif) no-repeat 5px 50%;
}

div#container .functionButton {
	border-top: 1px solid #bbba87;
	border-bottom: 1px solid #bbba87;
	color: #6f5f37;
	background: #fdeec7 url(//image.card.jp.rakuten-static.com/corp/pc/contents/bg_button_yellow.gif) repeat-x;
	font-weight: bold;
}
div#container .functionButton span {
	padding: 4px 5px 3px 12px;
	border-left: 1px solid #bbba87;
	border-right: 1px solid #bbba87;
	background: url(//image.card.jp.rakuten-static.com/corp/pc/contents/bg_button_yellow_icon.gif) no-repeat 5px 50%;
}

/* Leading link
------------------------------------*/

div#container .leadInfo {
	margin-bottom: 10px;
	text-align: right;
}
div#container .leadInfo div {
	display: inline;
	padding-left: 8px;
	background: url(//image.card.jp.rakuten-static.com/corp/pc/contents/bg_marker_triangle_red.gif) no-repeat 0 50%;
}

/* List
------------------------------------*/

div#container ul.commonList {
	margin-bottom: 10px;
}
div#container ul.commonList li {
	margin-bottom: 5px;
	padding-left: 12px;
	background: url(//image.card.jp.rakuten-static.com/corp/pc/contents/bg_marker_circle_red.gif) no-repeat 1px 0.5em;
}
div#container ul.commonList li dl {
	zoom: 1;
}

/* Definition list
------------------------------------*/

div#container dl.commonDefinition {
	margin-bottom: 10px;
}
div#container dl.commonDefinition dt.term {
	margin: 0 0 5px -2px;
	padding-left: 14px;
	background: url(//image.card.jp.rakuten-static.com/corp/pc/contents/bg_marker_square_red.gif) no-repeat 0 0.3em;
	font-weight: bold;
}
div#container dl.commonDefinition dd.description {
	margin-bottom: 5px;
}

/* Image & description contents
------------------------------------*/

div#container .imageContents {
	overflow: hidden;  /* clearfix */
	margin-bottom: 10px;
	zoom: 1;  /* clearfix */
}
div#container .imageContents .figure {
	float: left;
	margin-right: 10px;
}
* html div#container .imageContents .figure {
	margin-right: 7px;  /* for IE6 bug */
}
div#container .imageContents .description {
	overflow: hidden;
	zoom: 1;  /* hasLayout */
}

/* ------------------------------------------
	Components - main column
------------------------------------------ */

/* Box section
------------------------------------*/

/* Super class */

div#mainContents div.sectionGroup {
	margin-bottom: 20px;
}
div#mainContents div.sectionWrapper {
	margin-bottom: 20px;
	zoom: 1;  /* for IE6 bug */
}
div#mainContents div.sectionWrapperInner {
	overflow: hidden;  /* clerafix */
	margin-right: -10px;
	zoom: 1;  /* clerafix */
}

div#mainContents div.section {
	margin-bottom: 20px;
	zoom: 1;  /* clerafix */
}
div#mainContents div.sectionGroup div.sectionWrapper,
div#mainContents div.sectionGroup div.section {
	margin-bottom: 10px;  /* overwrite */
}
div#mainContents div.sectionWrapper div.section {
	float: left;
	width: 360px;
	overflow: hidden;
	margin: 0 10px 0 0;  /* overwrite */
	background: none;  /* overwite */
}

div#mainContents div.section div.sectionTitleInner {
	overflow: hidden;  /* clerafix */
	padding: 7px 11px 5px;
	zoom: 1;  /* clerafix */
}
div#mainContents div.section div.sectionTitle h2 {
	float: left;
	line-height: 1.2;
	padding: 4px 5px 3px 13px;
	background: url(//image.card.jp.rakuten-static.com/corp/pc/contents/bg_title_marker.gif) no-repeat 0 2px;
	font-size: 110%;
	font-weight: bold;
}
div#mainContents div.section div.sectionTitle .titleSub {
	float: right;
}

div#mainContents div.section div.sectionContents {
	padding: 10px 11px 1px;
	color: #444444;
}
div#mainContents div.sectionWrapper div.section div.sectionContents {
	background: none;  /* overwite */
}

/* Sub class */

div#mainContents div.guideSectionWrapper {
	background: url(//image.card.jp.rakuten-static.com/corp/pc/contents/bg_box_guide_half.gif);
}
div#mainContents div.guideSectionWrapper div.sectionWrapperInner {
	background: url(//image.card.jp.rakuten-static.com/corp/pc/contents/bg_box_guide_half_bottom.gif) repeat-x 0 100%;
}
div#mainContents div.guideSection {
	background: url(//image.card.jp.rakuten-static.com/corp/pc/contents/bg_box_guide.gif) repeat-y;
}
div#mainContents div.guideSection div.sectionTitle {
	background: url(//image.card.jp.rakuten-static.com/corp/pc/contents/bg_title_guide.gif) no-repeat;
}
div#mainContents div.sectionWrapper div.guideSection div.sectionTitle {
	background-position: -730px 0;  /* overwite */
}
div#mainContents div.guideSection div.sectionTitleInner {
	background: url(//image.card.jp.rakuten-static.com/corp/pc/contents/bg_line_dot_gray.gif) repeat-x 0 100%;
}
div#mainContents div.guideSection div.sectionContents {
	background: url(//image.card.jp.rakuten-static.com/corp/pc/contents/bg_box_guide_bottom.gif) no-repeat 0 100%;
}

.guideSection .contentsBlock {
  margin-bottom: 10px;
  padding-bottom: 5px;
  background: url(//image.card.jp.rakuten-static.com/corp/pc/contents/bg_box_guide_1.gif) no-repeat 0 100%;
}

.guideSection .guideSec_cpn {
  margin-top: 15px;
}

.guideSection .guideSec_status {
  margin-top: 5px;
}

.guideSection .contentsBlockInner {
  overflow: hidden;
  padding: 7px 9px 0 13px;
  background: url(//image.card.jp.rakuten-static.com/corp/pc/contents/bg_box_guide_1.gif) no-repeat;
}

.guideSection .commonDefinition .term {
  padding-bottom: 2px;
  border-bottom: 1px solid #e4e4e4;
}

.clm-2 .clm-2-In {
  float: left;
  margin-left: 10px;
  width: 360px;
}

.clm-2 .clm-2-In:first-child {
  margin-left: 0;
}

#staticInfoSection.clm-2 .clm-2-In .sectionContents {
  height: 170px;
}

div#mainContents div.infoSection div.sectionTitle {
	padding-bottom: 1px;
	border: 1px solid #cfcfcf;
  border-radius: 5px 5px 0 0;
}
div#mainContents div.sectionWrapper div.infoSection div.sectionTitle {
	background-position: -730px 0;  /* overwite */
}
div#mainContents div.infoSection div.sectionTitleInner {
	padding-bottom: 2px;  /* overwrite */
	border-bottom: 1px solid #cfcfcf;
}
div#mainContents div.infoSection div.sectionContents {
	border: 1px solid #d3d3d3;
	border-top: none;
	padding: 10px 10px 0;  /* overwrite */
}

/* ------------------------------------------
	Components - side column
------------------------------------------ */

/* Box section
------------------------------------*/

/* Super class */

div#subContents div.section {
	margin-bottom: 10px;
}
div#subContents div.section div.sectionTitle {
	position: relative;
	margin-bottom: -1px;
	padding-bottom: 2px;
	text-align: center;
	zoom: 1;
}
div#subContents div.section div.sectionTitle h2 {
	line-height: 1.2;
	padding: 4px 11px 2px;
	font-weight: bold;
}
div#subContents div.section div.sectionContents {
	padding: 9px 9px 0;
	border: 1px solid #d3d3d3;
}

/* Sub class */

div#subContents div.primeSection {
	padding-bottom: 6px;
	background: url(//image.card.jp.rakuten-static.com/corp/pc/contents/bg_box_side_prime.gif) no-repeat 0 100%;
}
div#subContents div.primeSection div.sectionTitle {
	margin-bottom: 0;  /* overwrite */
	padding: 0;  /* overwrite */
}
div#subContents div.primeSection div.sectionTitle h2 {
	padding: 0;  /* overwrite */
}
div#subContents div.primeSection div.sectionContents {
	padding: 10px 11px 0;  /* overwrite */
	border: none;  /* overwrite */
	background: url(//image.card.jp.rakuten-static.com/corp/pc/contents/bg_box_side_prime.gif) no-repeat;
}

div#subContents div.mainSection div.sectionTitle {
	color: #ffffff;
	background: url(//image.card.jp.rakuten-static.com/corp/pc/contents/bg_title_side_main.gif) no-repeat 0 100%;
}
div#subContents div.mainSection div.sectionTitle h2 {
	background: url(//image.card.jp.rakuten-static.com/corp/pc/contents/bg_title_side_main.gif) no-repeat;
}

div#subContents div.subSection div.sectionTitle {
	background: url(//image.card.jp.rakuten-static.com/corp/pc/contents/bg_title_side_sub.gif) no-repeat 0 100%;
}
div#subContents div.subSection div.sectionTitle h2 {
	background: url(//image.card.jp.rakuten-static.com/corp/pc/contents/bg_title_side_sub.gif) no-repeat;
}

/* ------------------------------------------
	Unique - main column
------------------------------------------ */

/* Notice box
------------------------------------*/

div#mainContents div.noticeBox {
	margin-bottom: 10px;
	padding: 1px;
	border: 1px solid #cc3333;
	background: #ffffff;
}
div#mainContents div.noticeBoxInner {
	padding: 8px 10px 0;
	border: 1px solid #f1d2d2;
	background: #fffafa;
}
div#mainContents div.noticeBox dt {
	margin-bottom: 5px;
	color: #cc0000;
	font-weight: bold;
}
div#mainContents div.noticeBox dd {
	margin-bottom: 10px;
}
div#mainContents div.noticeBox dd.leadInfo {
	margin-top: -10px;
}

/* Main display
------------------------------------*/

div#mainDisplay01,
div#mainDisplay02 {
	height: 214px;
	margin-bottom: 10px;
}

div#mainDisplay01 ul.mainImage,
div#mainDisplay02 ul.mainImage {
	position: relative;
	overflow: hidden;
	height: 200px;
}

div#mainDisplay01 ul.mainImage li,
div#mainDisplay02 ul.mainImage li {
	position: absolute;
  top: 0;
  left: 0;
	height: 200px;
}

div#mainDisplay01 ul.mainImage li.current,
div#mainDisplay02 ul.mainImage li.current {
	z-index: 100;
}

div#mainDisplay01 ul.selectImage,
div#mainDisplay02 ul.selectImage {
	display: none;
	overflow: hidden;  /* clerafix */
	margin-top: 7px;
	text-align: right;
	zoom: 1;  /* clerafix */
}

div#mainDisplay01 ul.selectImage li,
div#mainDisplay02 ul.selectImage li {
	display: inline-block;
	height: 7px;
	overflow: hidden;
	margin-left: 5px;
	cursor: pointer;
  *display: inline;
  *zoom: 1;
}


div#mainDisplay01 ul.selectImage li img,
div#mainDisplay02 ul.selectImage li img {
	display: block;
}

div#mainDisplay01 ul.selectImage li.current,
div#mainDisplay02 ul.selectImage li.current {
	cursor: default;
}

div#mainDisplay01 ul.selectImage li.current img,
div#mainDisplay02 ul.selectImage li.current img {
	margin-top: -7px;
}

div#mainDisplay01 .selectBalloonBase,
div#mainDisplay02 .selectBalloonBase {
	position: relative;
	width: 100%;
	z-index: 99999;
}

div#mainDisplay01 .selectBalloon,
div#mainDisplay02 .selectBalloon {
	position: absolute;
	right: 0;
	bottom: 7px;
	display: inline-block;
	display: none;
	padding-bottom: 7px;
	background: url(//image.card.jp.rakuten-static.com/corp/pc/contents/bg_balloon_main_display.gif) no-repeat 100% 100%;
}

div#mainDisplay01 .selectBalloon span,
div#mainDisplay02 .selectBalloon span {
	display: inline-block;
  *display: inline;
  *zoom: 1;
	padding: 1px 7px 0;
	color: #ffffff;
	background: #000000;
}



/* Brief text info
------------------------------------*/

div#mainContents div.briefInfo {
	margin-bottom: 10px;
        margin-top:20px;
}
div#mainContents div.briefInfo dt {
	display: inline;
	font-weight: bold;
}
div#mainContents div.briefInfo dd {
	display: inline;
	margin-left: 6px;
	padding-left: 6px;
	background: url(//image.card.jp.rakuten-static.com/corp/pc/contents/bg_marker_triangle_blue.gif) no-repeat 0 50%;
}
/* Banner
------------------------------------*/
div#mainContents .banner{
	margin-bottom:10px;
}

/* Card introduction
------------------------------------*/
/* //141031　変更
------------------------------------*/
div#cardIntroSection div.cardList {
	margin-bottom: 1px;
}
div#cardIntroSection div.cardList ul {
	overflow: hidden;  /* clearfix */
	zoom: 1;  /* clearfix */
}
div#cardIntroSection div.cardList li {
	float: left;
	font-size: 14px;
	width: 50%;
	margin-bottom: 10px;
}
div#cardIntroSection div.cardList li span {
	display: block;
	line-height: 17px;
	margin-bottom: 3px;
	text-align: center;
}
div#container .leadInfo span {
	padding-left: 8px;
	background: url(//image.card.jp.rakuten-static.com/corp/pc/contents/bg_marker_triangle_red.gif) no-repeat 0 50%;
	font-size: 12px;
	line-height: 17px;
}
/* //141031@•ÏX
------------------------------------*/
div#cardIntroSection div.commonListWrapper {
	overflow: hidden;  /* clearfix */
	margin-bottom: 8px;
	zoom: 1;  /* clearfix */
}
div#cardIntroSection ul.commonList {
	padding-bottom: 5px;
}
div#cardIntroSection ul.commonList li {
}

/* Service guide
------------------------------------*/

div#serviceGuideSection div.sectionContents {
	overflow: hidden;  /* clearfix */
	margin-right: -20px;
	zoom: 1;  /* clearfix */
}
div#serviceGuideSection div.contentsGroup {
	float: left;
	width: 350px;
	margin-right: 10px;
}

div#serviceGuideSection dl.commonDefinition,
div#serviceGuideSection ul.commonList,
div#serviceGuideSection .imageContents {
	margin-bottom: 5px;
}

div#serviceGuideSection div.contentsBlock {
	margin-bottom: 10px;
	padding-bottom: 5px;
	background: url(//image.card.jp.rakuten-static.com/corp/pc/contents/bg_box_service.gif) no-repeat 0 100%;
	zoom: 1;
}
div#serviceGuideSection div.contentsBlockInner {
	overflow: hidden;
	padding: 7px 9px 0 13px;
	background: url(//image.card.jp.rakuten-static.com/corp/pc/contents/bg_box_service.gif) no-repeat;
}
div#serviceGuideSection ul.serviceList {
	margin: 5px 0 -13px;
}
div#serviceGuideSection ul.serviceList li {
	overflow: hidden;
	margin-bottom: 10px;
	padding: 0 5px;
	border-bottom: 1px solid #e4e4e4;
	zoom: 1;  /* hasLayout */
}
div#serviceGuideSection ul.serviceList .imageContents {
	margin-bottom: 10px;
}
div#serviceGuideSection ul.serviceList dl.description dt {
	margin-bottom: 5px;
}

div#serviceGuideSection dl.commonDefinition dt.term {
	padding-bottom: 2px;
	border-bottom: 1px solid #e4e4e4;
}
div#serviceGuideSection dl.commonDefinition dd.description em {
	color: #bf0000;
}
div#serviceGuideSection dl.commonDefinition dd.description ul.commonList li {
	padding-left: 10px;  /* overwrite */
}

div#serviceGuideSection ul.cardList li {
	display: inline-block;
	margin-right: 8px;
	vertical-align: top;
}
* html div#serviceGuideSection ul.cardList li {  /* for IE6 */
	display: inline;
	zoom: 1;
}
*:first-child+html div#serviceGuideSection ul.cardList li {  /* for IE7 */
	display: inline;
	zoom: 1;
}
div#serviceGuideSection ul.cardList li a,
div#serviceGuideSection ul.cardList li img {
	vertical-align: middle;
}

/* Press release
------------------------------------*/

div#pressReleaseSection ul.releaseList {
	margin-bottom: 10px;
	padding: 0 2px;
}
div#pressReleaseSection ul.releaseList li {
	margin-bottom: 5px;
}
div#pressReleaseSection ul.releaseList li dl {
	overflow: hidden;  /* clearfix */
	zoom: 1;  /* clearfix */
}
div#pressReleaseSection ul.releaseList li dt {
	float: left;
	margin-right: 15px;
}
* html div#pressReleaseSection ul.releaseList li dt {
	margin-right: 12px;  /* for IE6 bug */
}
div#pressReleaseSection ul.releaseList li dd {
	overflow: hidden;
	zoom: 1;  /* hasLayout */
}

div#pressReleaseSection div.specialInfo {
	margin-bottom: 10px;
	padding-top: 10px;
	background: url(//image.card.jp.rakuten-static.com/corp/pc/contents/bg_line_dot_gray.gif) repeat-x;
}
div#pressReleaseSection div.specialInfo dt {
	display: inline;
	margin-right: 6px;
	color: #a90000;
	font-weight: bold;
}
div#pressReleaseSection div.specialInfo dd {
	display: inline;
	margin-left: 6px;
}

/* Static info
------------------------------------*/

div#staticInfoSection div.sectionContents {
	overflow: hidden;  /* for IE6 */
	zoom: 1;  /* hasLayout */
}

* html div#staticInfoSection dl.commonDefinition dt.term {
	margin-left: 0;  /* overwrite */
}

/* ------------------------------------------
	Unique - side column
------------------------------------------ */

/* Members navi
------------------------------------*/

div#membersNaviSection div.login {
	margin: 0 -5px 10px;
	text-align: center;
}

/* Corporate navi
------------------------------------*/

div#corporateNaviSection dl.commonDefinition dt.term span {
	font-weight: normal;
}

/* Mobile leading
------------------------------------*/

div#mobileLeadSection .imageContents .description p {
	margin-bottom: 5px;
}
div#mobileLeadSection div.extendInfo {
	margin-bottom: 10px;
	padding-top: 8px;
	background: url(//image.card.jp.rakuten-static.com/corp/pc/contents/bg_line_dot_gray.gif) repeat-x;
}

/* Company info
------------------------------------*/

div#companyInfoSection dl.companyInfo {
	margin-bottom: 10px;
	padding-top: 10px;
	background: url(//image.card.jp.rakuten-static.com/corp/pc/contents/bg_line_dot_gray.gif) repeat-x;
	font-size:115%;
}
div#companyInfoSection dl.companyInfo dt {
	font-weight: bold;
}
div#companyInfoSection dl.companyInfo dd {
	margin-bottom: 10px;
}

/* Company info
------------------------------------*/
div#ismsSection {
	margin-bottom: 10px;
	padding-top: 10px;
}

/* jfsaInfoSection info
------------------------------------*/
div#jfsaInfoSection dl.companyInfo dd {
	margin-bottom: 10px;
}



/* ------------------------------------------
	Unique - bottom area
------------------------------------------ */

div#extendContents ul.prList {
	text-align: center;
}
div#extendContents ul.prList li {
	display: inline-block;
	width: 140px;
	vertical-align: top;
	margin: 0 15px;
	text-align: left;
}
* html div#extendContents ul.prList li {
	display: inline;
	zoom: 1;
}
*:first-child+html div#extendContents ul.prList li {
	display: inline;
	zoom: 1;
}
div#extendContents ul.prList .figure {
	display: block;
	margin-bottom: 5px;
}

/* ------------------------------------------
	Unique - for smartphone
------------------------------------------ */
div#suggestSmartphone {
	margin-bottom: 10px;
	text-align: center;
}

/* ------------------------------------------
	Unique - for smartphone
------------------------------------------ */
div.specialContents {
	margin-bottom:6px;
	padding-bottom:10px;
}

div.specialContents ul {
	margin: 0 -20px 10px 0;
	overflow: hidden;
	padding: 0;
}
div.specialContents ul li {
	float: left;
	display:inline;
	zoom:1;
	margin-right: 20px;
	width: 230px;
}

/* ------------------------------------------
	Susumeru contents 20120725
------------------------------------------ */

div#container {
    font-size: 82%;
    line-height: 1.4;
    margin: 10px auto 40px;
    width: 950px;
}

.susumeruArea {
    margin: auto;
    overflow: hidden;
    width: 950px;
    margin-bottom:10px;
}

.susumeruArea ul{
	overflow:hidden;
	float:right;
}

.susumeruArea ul li{
	float:left;
	margin-right:7px;
        display:inline-block;
}

.susumeruArea ul li.twitterBtn{
	margin-right:10px;
}

.susumeruArea ul li.twitterBtn iframe{
	width:95px !important;
}

/* ½Ú‹q½T½|½[½gPhase2
-------------------------- */
div.helpLink {
	width: 100%;
	margin-bottom: 10px;
}

div.helpButton {
	padding: 5px;
	border: 1px solid #D3D3D3;
}


ul.btnCardUser {
	width: 198px;
	margin-top: 4px;
}

div.helpButton ul.btnCardUser li a span {
    display: none;
}

div.helpButton ul.btnCardUser li a {
    background: url(//image.card.jp.rakuten-static.com/corp/pc/contents/btn_card_user.gif) no-repeat scroll 0 0 transparent;
    display: block;
    height: 37px;
    overflow: hidden;
    text-indent: -198px;
}

div.helpButton ul.btnCardUser li a#user {
	background-position: 0px 0px;
}

div.helpButton ul.btnCardUser li a#nonUser {
	background-position: 0 -38px;
}

div.helpButton ul.btnCardUser li a#user:hover {
	background-position: -198px 0;
}

div.helpButton ul.btnCardUser li a#nonUser:hover {
	background-position: -198px -38px;
}

/* ½½½m½ç‚¹½@½k½Ð•ï¿½½½ 
------------------------*/

.unusualInfo {
	padding: 10px 40px 0;
}

.unusualInfo span {
	display: inline-block;
	width: 50%;
	*display: inline;
	*zoom: 1;
}

.tab li a {
  width: 365px;
	height:35px;
	display: block;
}

.tab01 a {
  background:url(//image.card.jp.rakuten-static.com/corp/pc/contents/tab_01.gif) no-repeat;
}

.tab02 a {
  background:url(//image.card.jp.rakuten-static.com/corp/pc/contents/tab_02.gif) no-repeat;
}

.tab .selected {
	background-position: 0 -36px;
}

/* group service carousel
------------------------*/

.groupBox {
  overflow:hidden;
  margin-bottom: 15px;
}

.borderBox {
  border: 1px solid #bbb;
  border-top: none;
  padding: 5px;
}

.carouselWrapper {
  margin: 0 auto;
  width: 645px;
  height: 104px;
  text-align: left;
  position: relative;
}

.carouselWrapper ul li {
  width: 215px;
  float: left;
  margin-bottom: 5px;
}

.carouselInner {
  overflow: hidden;
}

.carouselPrev,
.carouselNext {
  position: absolute;
  top: 0;
  width: 15px;
  height: 104px;
  background: #000;
  cursor: pointer;
}

.carouselPrev {
  left: -30px;
  background: url(//image.card.jp.rakuten-static.com/corp/pc/common/contents/leftArrow_s.gif) no-repeat top left transparent;
}

.carouselNext {
  right: -30px;
  background: url(//image.card.jp.rakuten-static.com/corp/pc/common/contents/rightArrow_s.gif) no-repeat top left transparent ;
}

.groupSlider1 ul li {
  width: 215px;
}

.groupSlider1 ul li > p {
  width: 162px;
  margin: 0 auto;
  line-height: 1.2em;
}

.opc06:hover {
  opacity: .6;
}

.btn {
  display: table;
  height: 50px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  margin: 0 auto;
  padding: 0 0 5px 0;
}

.btn a {
  display: table-cell;
  position: relative;
  text-align: center;
  padding: 0 10px;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  vertical-align: middle;
}

.btnPk a {
  background: #ed5153;
  box-shadow: 0 5px 0 0 #c21416;
}

.btnGr a {
  background: #00a381;
  box-shadow: 0 5px 0 0 #004f3f;
}

.btnBl a {
  background: #00297b;
  box-shadow: 0 5px 0 0 #031e54;
  font-family: serif;
}

.btn a > span {
  display: block;
  line-height: 1.2;
  padding-right: 25px;
  font-size: 14px;
}

.btn a:before {
  content: "";
  width: 17px;
  height: 17px;
  border-radius: 50%;
  position: absolute;
  top: 13px;
  right: 10px;
}

.btn a:after {
  content: "";
  position: absolute;
  top: 17px;
  right: 15px;
  width: 6px;
  height: 6px;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.btnPk a:before {
  background: #c21416;
}

.btnGr a:before {
  background: #004f3f;
}

.btnBl a:before {
  background: #031e54;
}

.btn:hover {
  padding: 5px 0 0 0;
}

.btn:hover a {
  box-shadow: 0 0 0 0;
  text-decoration: none;
}

/* countDown Js
------------------------*/
.js-countdown-date-param {
  padding: 0 5px;
  font-size: 16px;
}

.countdown {
  position: relative;
  height: 35px;
  width: 730px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  background-color: #383c3c;
}

.countdown__word {
  padding-right: 16px;
  font-size: 20px;
}

.countdown__date {
  font-size: 25px;
  color: #ff0;
}

.countdown__end {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 730px;
  height: 22px;
  line-height: 22px;
  font-size: 20px;
}