@font-face {
  font-family: 'Artifika';
  font-style: normal;
  font-weight: 400;
  src: local('Artifika Medium'), local('Artifika-Medium'), url(http://fonts.gstatic.com/s/artifika/v6/z0sjSaXjDxxgrMTOLI1lSfesZW2xOQ-xsNqO47m55DA.ttf) format('truetype');
}
