/*
Theme Name: Astra Child
Template: Astra
Version: 1.3.1
Author:	UpSolution
Theme URI: http://us-themes.com/wp/Astra/
Author URI: http://us-themes.com/
*/

/*Add your own styles here:*/

/* font-face */

@font-face {
    font-family: 'berthold_akzidenz_groteskEx';
    src: url('fonts/extended/akzidgrocffex-webfont.eot');
    src: url('fonts/extended/akzidgrocffex-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/extended/akzidgrocffex-webfont.woff') format('woff'),
         url('fonts/extended/akzidgrocffex-webfont.ttf') format('truetype'),
         url('fonts/extended/akzidgrocffex-webfont.svg#berthold_akzidenz_groteskEx') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'berthold_akzidenz_groteskLtEx';
    src: url('fonts/light-extended/akzidgrocffligex-webfont.eot');
    src: url('fonts/light-extended/akzidgrocffligex-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/light-extended/akzidgrocffligex-webfont.woff') format('woff'),
         url('fonts/light-extended/akzidgrocffligex-webfont.ttf') format('truetype'),
         url('fonts/light-extended/akzidgrocffligex-webfont.svg#berthold_akzidenz_groteskLtEx') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'berthold_akzidenz_groteskMdEx';
    src: url('fonts/medium-extended/akzidgrocffmdex-webfont.eot');
    src: url('fonts/medium-extended/akzidgrocffmdex-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/medium-extended/akzidgrocffmdex-webfont.woff') format('woff'),
         url('fonts/medium-extended/akzidgrocffmdex-webfont.ttf') format('truetype'),
         url('fonts/medium-extended/akzidgrocffmdex-webfont.svg#berthold_akzidenz_groteskMdEx') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* END font-face */

/* General settings */
.l-canvas.type_boxed 						{max-width: none;}
.container 									{max-width: 1280px;margin:0 auto;}

body, p, td, .w-portfolio .w-portfolio-item .w-portfolio-item-title {
font-family: Arial;
}

body {overflow-x: initial;}

.l-content .l-content-h .l-submain          {padding:0px;}
/* END General settings */


/* Header */
.l-subheader.at_middle 						{border-bottom: 0px;line-height: 70px;min-height: 128px;}
.l-subheader.at_middle .w-nav-item .w-nav-item-h	{font-size: 14px;font-family: 'berthold_akzidenz_groteskEx';}
.l-subheader.at_middle .w-nav-item.level_1.current-menu-item .w-nav-anchor.level_1 {font-weight:normal;}
.l-header-h nav div.menu-item 				{text-transform: uppercase;}
.l-header-h nav div.current-menu-item 		{background-color: #00aeef; color: #000000;}

.l-header-h .w-logo-img 					{max-height:none;max-width:none;}

.l-subheader.at_middle .w-nav-anchor.level_1:after {top: -20px;}

.w-nav-list-h .menu-item .w-nav-item-h .w-nav-anchor {-webkit-transition:none;-moz-transition:none;transition:none;}
.w-nav-list-h .menu-item .w-nav-item-h .w-nav-anchor:after {-webkit-transition:none;-moz-transition:none;transition:none;height:0px;}
.w-nav-list-h .menu-item .w-nav-item-h .w-nav-anchor:hover span {text-decoration: none!important;border-bottom:0px!important;}

.l-subheader.at_middle .w-nav-control       {left:30%;top:-70px;}

@media all and (max-width: 1070px) {
    .l-subheader.at_middle .w-nav-anchor.level_1 {padding: 0 10px;}
}

@media all and (max-width: 1016px) {
    .l-header-h .l-subheader.at_middle .w-nav.touch_enabled .w-nav-item {width:100%;}
    .l-header .l-header-h .l-subheader.at_middle .w-nav-anchor.level_1  {padding: 10px 40px!important;}
    .w-nav-item-h .w-nav-anchor                             {text-align: center!important;}
}

@media all and (max-width: 550px) {
    .l-header-h .l-subheader.at_middle .w-nav.touch_enabled {width:100%;padding-right: 0px;}
    .l-header-h .l-subheader.at_middle .w-nav.touch_enabled .w-nav-item {width:100%;}
    .l-header-h .l-subheader.at_middle .w-nav-control       {left:245px;}
    .w-nav-item-h .w-nav-anchor                             {text-align: center!important;}

    .l-subheader.at_middle {padding-left: 0px;padding-right: 0px;}
    .w-logo-img {padding-left: 10px;}
}

/* Above header nav */
.container#header-nav                       {height:40px;}

.above-header                               {float:right;width: 370px;height:40px;list-style: none;background-color: #cacbcc;line-height: 38px;padding-left:15px;margin-bottom:20px;font-size: 0px;}
.above-header li                            {display:inline-block;font-family: Arial;font-size: 13px;font-weight: bold;text-transform: uppercase;}
.above-header li span                       {color: #969799;padding: 0px 12px 0px 12px;font-size: 17px;font-weight: 100;}
.above-header li a                          {color:#fff}

@media all and (max-width: 568px) {
    .l-header-h .above-header     {padding-left: 0%;}
}

@media all and (max-width: 360px) {
    .above-header li span {padding: 0px 4px 0px 2px;}
}

@media all and (max-width: 340px) {
    .above-header li {font-size: 12px;}
}

/* END Header */

/* Content */

ul.subnav 									{text-align: center;font-family: Arial;width: 100%;z-index:20;margin-top: 30px;position:absolute;font-size:0px;}
ul.subnav li 								{display: inline-block;padding: 5px 20px 5px 20px;border: 3px solid #000000;background-color: #fff;position:relative;margin:0 0 0 -3px;}
ul.subnav li.current 						{border: 3px solid #00aeef;z-index:100;} 
ul.subnav li a 								{display: block;font-size: 14px;color:#000000;text-transform: uppercase;}
ul.subnav li a h2                           			{font-size: 14px;color:#000000;text-transform: uppercase;font-family: 'berthold_akzidenz_groteskEx';;margin:0;}
ul.subnav li.current a h2					{color:#000000;} 

.page-template-produits-et-services-php .l-main .l-main-h {background-color: #ededed;}

.l-main .l-main-h p.title 					{color:#00aeef;font-size: 24px;font-family: 'berthold_akzidenz_groteskEx';text-align: center;margin-top: 80px;}
.l-main .l-main-h p.title+p 				{text-align: center;max-width:850px;margin: 0 auto 10px auto;font-size: 16px;font-weight: bold;}

.l-submain p.title + p + p                  {text-align: center;}

@media all and (max-width: 1036px) {
    ul.subnav li a h2  {font-size:13px;}
}

@media all and (max-width: 972px) {
    ul.subnav li a h2  {font-size:12px;}
}

@media all and (max-width: 906px) {
    ul.subnav li a h2  {font-size:11px;}
    .l-subheader.at_middle .w-nav-control {left:35%;}
    .l-subheader.at_middle {min-height: 138px;}
}

@media all and (max-width: 852px) {
    ul.subnav li a h2  {font-size:10px;}
}

@media all and (max-width: 776px) {
    ul.subnav li a h2  {font-size:9px;}
    ul.subnav li       {padding: 5px 12px 5px 12px;}
}

@media all and (max-width: 695px) {
    .above-header       {float:none;position:absolute;width:100%;margin-bottom: 0px;text-align: center;}   
    .w-logo             {margin-top:40px;}
    .l-subheader.at_middle .w-nav-control {left:45%;top:-80px;}
}

@media all and (max-width: 660px) {
    ul.subnav    {display: none;}
    .l-main .l-main-h p.title {margin-top: 30px;}
    .l-main .bloc-expands#domaines {margin-top:0px;}
}

@media all and (max-width: 530px) {
    .l-subheader.at_middle .w-nav-control {left:0px;}
    .l-subheader.at_middle .w-nav.touch_enabled {float:right;padding-right: 35px;}
}
/* Slider */

.l-main .ls-container 						{padding-top:0px;}
.slide-title 								{font-family: 'berthold_akzidenz_groteskEx';font-size:35px;color:#707172;left:32%!important;}
.slide-subtitle 							{font-family: Arial;font-size:18px;color:#3c4141;left:32%!important;}

.ls-fullwidth .ls-nav-next                  {right: 95px !important;}
.ls-fullwidth .ls-nav-prev                  {left:95px !important;}

/* Compagnon */

ul.compagnon 								{list-style: none;width: 78px;height: 138px;border: 2px solid #00aeef;border-right:none;text-align: center;padding: 15px 0px 0px 0px;position: fixed;right: 0px;top: 40%;z-index: 5000;background-color: #fff;}
ul.compagnon li 							{display: block;padding: 10px 0px 10px 0px;}
ul.compagnon li a 							{text-decoration: none;text-transform: uppercase;color:#00aeef;font-family:Arial;font-size:13px;font-weight:bold;}
ul.compagnon hr                             {width: 70%;border: none;background-color: #868689;height: 1px;}

@media all and (max-width: 1023px) {
    ul.compagnon {display:none;}
    .w-portfolio-item-details-content-text ul li {margin-left: 15px;}
}
/* Vignettes */

.bloc-vignettes 							{background-color: #fff;}
.bloc-vignettes ul 							{list-style: none;}
.bloc-vignettes ul.items li 				{display:inline-block;width:25%;height:300px;margin:0px -4px 0px 0px;position: relative;background-repeat: no-repeat;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;-ms-background-size: cover;background-size: cover;}
.bloc-vignettes p.infos 					{font-family: Arial;font-size:13px;color:#fff;background: url(images/background-vignette.png) no-repeat;opacity:0.7;position: absolute;bottom: 0px;width: 100%;padding: 15px 0px 15px 10px;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;-ms-background-size: cover;background-size: cover;}
.bloc-vignettes p.infos span 				{display: block;text-transform: uppercase;font-size:17px;font-weight:bold;line-height: 8px;}

.bloc-vignettes ul.items li.slide			{display:none;width:100%;min-height: 460px;padding-top: 30px;}
.bloc-vignettes ul.items li.slide img		{max-width:530px;max-height: 400px;margin-left:10%;float: left;}
				ul.items li.slide img+div	{width: 47%;padding-right: 10%;float:right;}

.bloc-vignettes h3.title                    {font-size: 20px;font-family: Arial; color:#00aeef;text-transform: uppercase;}

.bloc-vignettes .w-portfolio .w-portfolio-item-details-content-text ul {margin-left: 5%;}

/* Expands */

.bloc-expands 								{background-color: #ededed;padding-bottom: 40px;}
.bloc-expands#fonctionnalites               {background-color: #dbe9f1}
.bloc-expands h4 							{color:#00aeef;font-family: 'berthold_akzidenz_groteskEx';font-size:24px;text-transform: uppercase;text-align: center;padding: 40px 0px 20px 0px;margin-bottom: 0px;}
.bloc-expands h4+p                          {color:#00aeef;font-family: 'berthold_akzidenz_groteskEx';font-size:24px;border-top:1px solid #00aeef;border-bottom:1px solid #00aeef;display: block;max-width: 260px;margin: 0 auto;margin-bottom:25px;text-align: center;padding: 5px 0px;} 
.bloc-expands ul.items 						{list-style: none;margin-top: 25px;width: 80%;margin: 0 auto;}
.bloc-expands ul.items>li 					{display: block; width:100%;height:81px;background-color: #fff;border-bottom:1px solid #00aeef;margin-top: 10px;position:relative;}
.bloc-expands ul.items>li.actif 			{background-color: #00aeef;} 
.bloc-expands ul.items img 					{float: left;margin: 15px 0px 0px 2%;}
.bloc-expands ul.items img.off 				{display: block;}
.bloc-expands ul.items img.on 				{display: none;}
.bloc-expands ul.items li.actif img.off 	{display: none;}
.bloc-expands ul.items li.actif img.on 		{display: block;}
.bloc-expands ul.items li>h3 				{float:left;font-size: 18px;font-family: 'berthold_akzidenz_groteskLtEx';color:#00aeef;text-transform: uppercase;margin: 25px 0px 0px 4%;} 
.bloc-expands ul.items li.actif>h3 			{color:#ffffff;}
.bloc-expands ul.items li span 				{display: block;width: 100px; height:80px;background-repeat: no-repeat;background-image: url(images/expand_off.png);cursor:pointer;position: absolute;right:0px;}
	.bloc-expands ul.items li.actif span 	{background-image: url(images/expand_on.png);}
.bloc-expands ul.items li+div 				{display:none;background-color: #fff;padding: 10px 3%;}
.bloc-expands ul.items li+div ul            {list-style: disc outside none;margin-left:6%;}
ul.items li+div .one-third .wpb_wrapper ul  {margin-left: 6%;} 
.bloc-expands ul.items li+div ul li ul      {margin-left:0!important;}
.bloc-expands ul.items li+div img           {position: relative;float: none;}

.bloc-expands#domaines                      {margin-top: 90px;}

.list-second                                {margin-left: 15px;}

@media all and (max-width: 1200px) {
    .bloc-expands ul.items li>h3 {font-size:16px;}
}

@media all and (max-width: 1100px) {
    .bloc-expands ul.items li>h3 {font-size:16px;margin: 22px 0px 0px 4%;max-width: 60%;}
}

@media all and (max-width: 958px) {
    .bloc-expands ul.items li>h3 {font-size:16px;margin: 28px 0px 0px 4%;max-width: 60%;line-height: 20px;}
}

@media all and (max-width: 911px) {
    .top-footer a {float:none !important;padding-top:0px !important;}
    .top-footer p#inscription {float:none !important;margin-right: 0 !important;}
    .top-footer .g-cols > .one-third      {margin-left: 0;width: 100%;float: none;text-align: center;margin-bottom: 15px;}
    .top-footer .container .g-cols {padding-top: 5px !important;}
    .l-subfooter.at_top {padding-top: 30px;}
    .l-footer-h .g-cols > div.one-third {}
}   

@media all and (max-width: 767px) {
    .bloc-expands ul.items li>h3 {font-size: 14px;margin: 16px 0px 0px 4%;}
    .l-footer .l-footer-h .one-third {border-right:0px;border-bottom:1px solid #fff;}
    .l-footer .l-footer-h .one-third:last-child {border-bottom:0px;}
}

@media all and (max-width: 651px) {
    .bloc-expands ul.items li span {width:135px;}
    .bloc-expands ul.items li>h3    {line-height: 16px;font-size: 13px;margin-top:28px;max-width: 56%;}
}

@media all and (max-width: 510px) {
    .bloc-expands ul.items li>h3    {font-size:12px;max-width: 50%;line-height: 15px}
    .bloc-expands ul.items li span {width: 128px;}
}

@media all and (max-width: 420px) {
    .bloc-expands ul.items li span {width: 100px;background-size: 100% 100%;}
}

@media all and (max-width: 370px) {
    .bloc-expands ul.items li span {width: 80px;background-size: 100% 100%;}
    .bloc-expands ul.items li>h3 {letter-spacing: -1px;max-width: 48%;}
}

/* Tableau */
#packs table                                 {width:100%;margin-top: 20px;margin-bottom: 20px;border:1px solid #68bced;}
#packs table tr                              {width: 100%;border-bottom: 1px solid #e6e6e6;}
#packs table tr:last-child                   {border-bottom:0px;}
#packs table tr.select                       {background-color: #a9f17d;}
#packs table tr.column-title                 {background-color: #68bced;height: 80px;border-bottom:0px;}
#packs table tr.column-title td              {color:#fff;font-size:16px;text-transform: uppercase;font-family: 'berthold_akzidenz_groteskLtEx';margin-top: 30px;padding: 25px 0px;}
#packs table tr.function                     {background-color: #e0eff7;border-bottom:0px;}
#packs table tr.function td                  {font-family: Arial; font-size: 16px;color:#00aeef;}
#packs table tr td                           {font-family: Arial; font-size: 14px;color:#000000;width: 15%;text-align: center;min-height: 40px;height: 100%;vertical-align: middle;padding: 8px 0px;}
#packs table tr td:first-child               {width:55%;text-align: left;padding-left: 8%;}  
#packs table tr td.yes span                  {display: inline-block;margin-top: 6px;width:18px;height:14px;background: url(images/check.png) no-repeat;}
#packs table tr td.no span                   {display: inline-block;margin-top: 6px;width:18px;height:14px;background: url(images/no-check.png) no-repeat;}
#packs table tr td.check                     {background-color: #fff;}
#packs table tr td.uncheck                   {background-color: #ededed;}
#packs table tr td.label p                   {line-height: 18px;}

@media all and (max-width: 930px) {
    #packs .container table tr.column-title td   {font-size:15px;}
}

@media all and (max-width: 800px) {
    #packs .container table tr.column-title td   {font-size:13px;}
}

@media all and (max-width: 465px) {
    #packs .container table tr td:first-child   {padding-left:1%;}
}

@media all and (max-width: 465px) {
    #packs .container table tr.column-title td:first-child   {-webkit-transform: none; -moz-transform: none; transform: none;}
    #packs .container table tr.column-title td               {font-size: 11px;-webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg); transform: rotate(-90deg);}
}

@media all and (max-width: 397px) {
     #packs .container table tr td:first-child                {font-size: 14px}
     #packs .container table tr.column-title td               {font-size: 7px;}
     #packs .container table tr.column-title td:first-child   {font-size: 12px;line-height: 13px;}
     #packs .container table td.label p                       {font-size: 13px;}      
}

/* Steps Projet */

.bloc-steps 								{min-height:570px;background: url(images/steps_bg.jpg) no-repeat top;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;-ms-background-size: cover;background-size: cover;}
.bloc-steps h4 								{font-family: 'berthold_akzidenz_groteskEx';text-transform: uppercase;font-size: 24px;text-align: center;color:#f68b1f;padding: 50px 0px 25px 0px;}
.bloc-steps ul.items 						{border-bottom: 1px solid #dc002e;width: 80%;margin: 0 auto;font-size:0px;}
.bloc-steps ul.items li 					{display: inline-block;height:380px;margin-right:1px;background-color: #fff;max-width: 255px;}
.bloc-steps ul.items li:last-child 			{margin-right: 0px;} 
.bloc-steps ul.items li img 				{margin:35px 0px 10px 40%;}
.bloc-steps ul.items li img+p 				{color:#f68b1f;font-family: 'berthold_akzidenz_groteskEx';text-transform: uppercase;font-size: 14px;text-align: center;max-width: 80%;margin:0px 0px 20px 10%;}
.bloc-steps ul.items li p+p 				{color:#000000;font-size: 13px; font-family: Arial;text-align: center;max-width: 80%;margin-left:10%;line-height: 17px;padding-bottom: 20px;}

@media all and (max-width: 1295px) {
    .bloc-steps ul.items {border:0;padding-bottom: 30px;}
    .bloc-steps ul.items li {width:49%;max-width: 509px;margin-top:1px;height:300px;}
}

@media all and (max-width: 890px) {
    .bloc-steps ul.items li {height:335px;}
}

@media all and (max-width: 767px) {
.bloc-steps ul.items li     {max-width: none;width:100%;height:auto;margin-bottom:1px;} 
.bloc-steps ul.items li img {margin: 35px 0px 10px 44%;}

.top-footer .container a                  {float:none;display: inline-block;text-align: center;padding-top:0px;} 
.top-footer .container p#inscription      {float:none;margin-right:0;}
.top-footer .container .g-cols .one-third {text-align: center;margin-bottom: 15px;}

}

@media all and (max-width: 415px) {
    .bloc-steps ul.items li img     {margin: 35px 0px 10px 40%;}
}

/* Moyens de paiement */

.paiements                                  {background-color: #d9e7ef;padding-bottom: 50px;}
.paiements .container>p                     {color: #00aeef;font-family: 'berthold_akzidenz_groteskEx';font-size: 24px;border-top: 1px solid #00aeef;border-bottom: 1px solid #00aeef;display: block;max-width: 230px;margin: 0 auto;margin-bottom: 40px;text-align: center;padding: 5px 0px;}
.paiements .container>div                   {width: 80%;margin: 0 auto;background-color: #fff;padding: 0px 0px 30px 3%;}
.paiements .container div p.subtitle        {font-size: 18px;font-family: 'berthold_akzidenz_groteskLtEx';color: #00aeef;text-transform: uppercase;margin: 0px 0px 20px 0px;padding-top: 30px;}
.paiements .container div p                 {font-size: 14px;font-family: Arial;}
.paiements .container div ul                {list-style: none;}
.paiements .container div.w-filters-item    {display: inline-block;float:none;}
.paiements .container div.w-portfolio-item  {display: inline-block;height:105px;width:148px;border:2px solid #b0b2b2;margin: 0px 10px 10px 0px;}
.paiements div.w-portfolio-item-meta        {display: none;}
.paiements div.w-portfolio-item-image       {height:80px;width:123px;margin: 10px 0px 0px 10px;background-position: center center;background-repeat: no-repeat;padding-bottom:0px;-webkit-background-size: contain;-moz-background-size: contain;-o-background-size: contain;-ms-background-size: contain;background-size: contain;}
.paiements .w-portfolio-list-h              {box-shadow: none;}
.paiements .w-filters                       {margin-bottom:30px;}

.paiements .w-filters .w-filters-item.active .w-filters-item-link  {border:none;color: #576676;font-weight: bold;}
.paiements .w-filters .w-filters-item .w-filters-item-link:hover {color: #b0b2b2;}
.paiements .w-filters .w-filters-item.active .w-filters-item-link:hover {color: #576676;} 
@media all and (max-width: 426px) {
    .paiements .container div.w-portfolio-item {left:20%!important;}
}

@media all and (max-width: 326px) {
    .paiements .container div.w-portfolio-item {left:16%!important;}
}

/* END Content */

/* Footer */

.l-footer-h 								{background-color: #00aeef;}
.l-footer-h .l-subfooter.at_top 			{background-color: #00aeef;border-color: #00aeef;}
.l-footer-h .textwidget a 					{display: block;text-decoration: none;}
.l-footer-h .textwidget a.logo-footer		{width: 100%;height: 72px;margin-bottom:30px;}
.l-footer-h .textwidget a.logo-point		{width: 99px;height: 46px; display: inline-block;margin-right:25px;margin-top: 30px;}
.l-footer-h .textwidget a.logo-verifone		{width: 255px;height: 47px; display: inline-block;margin-top: 30px;background: url(images/verifone-logo-special-rev-white.png) no-repeat;}

.l-footer-h .textwidget p 					{color:#fff;}
.l-footer-h .textwidget a.fb				{width: 57px;height: 56px; display: inline-block;background: url(images/facebook.png) no-repeat;margin-right:25px;margin-top: 10px;}
.l-footer-h .textwidget a.tw				{width: 57px;height: 56px; display: inline-block;background: url(images/twitter.png) no-repeat;margin-top: 10px;}

.l-footer-h .one-third:first-child          {border-left:0px; border-right:0px;}
.l-footer-h .one-third              		{border-left:1px solid #98c9e6; border-right:1px solid #98c9e6;}
.l-footer-h .one-third:last-child			{border-left:0px; border-right:0px;}

.l-footer-h .widget.widget_nav_menu .menu-item a 		{border-bottom:0px;}
.l-footer-h .l-subfooter.at_top .widget.widget_nav_menu .menu-item a:hover 	{border-bottom:0px;color:#cadb2a;padding: 9px 20px 10px 20px;-webkit-transition: none;-moz-transition: none;-o-transition: none;-ms-transition: none;transition: none;}
.l-footer-h .l-subfooter.at_top a:hover     {color:#cadb2a;}

.l-footer-h .g-cols > .one-third            {width: 33%;text-align: center;margin-left:0%;}

/* Top Footer */

.top-footer                                 {background-color: #000000;font-family: Arial;}
.top-footer p                               {display: inline-block;}
.top-footer .container .g-cols              {width:80%;margin:0 auto;padding-top: 25px;}
.top-footer .container div.wpcf7            {display: inline-block;max-width:415px;}
.top-footer p#inscription                   {text-transform: uppercase;color:#fff;margin-right: 0;font-family: Arial;font-size: 16px;float: left;padding-top: 8px;}
.top-footer input                           {}
.top-footer span input                      {max-width: 80%;color:#fff;}
.top-footer a                               {text-decoration: underline;color:#fff;font-size: 13px;float: right;padding-top: 8px;line-height: 15px;}
.top-footer a:hover                         {color: #cadb2a;}
.top-footer .wpcf7                                      {height:45px;}
.top-footer .wpcf7 form                                 {height:100%;}
.top-footer .wpcf7 form input                           {height:43px;margin: 0;background-color: #707172;}
.top-footer .wpcf7 form span input                      {border-radius:0px;border-color:#00aeef;}
.top-footer .wpcf7 form input[type="submit"]            {box-shadow: none;background-color: #00aeef;border-radius:0px;padding: 8px 10px;color:#ffffff;font-family: Arial;font-weight: bold;font-size: 16px;}

.top-footer .wpcf7 form span input[placeholder]                 {color:#fff;font-family: Arial;font-size: 16px;}
.top-footer .wpcf7 form span input::-webkit-input-placeholder   {color:#fff;font-family: Arial;font-size: 16px;}
.top-footer .wpcf7 form span input::-moz-placeholder            {color:#fff;font-family: Arial;font-size: 16px;}
.top-footer .wpcf7 form span input:-moz-placeholder             {color:#fff;font-family: Arial;font-size: 16px;}
.top-footer .wpcf7 form span input:-ms-input-placeholder        {color:#fff;font-family: Arial;font-size: 16px;}

.top-footer div.wpcf7-response-output                   {display:none;margin:0;height: 43px;color: #fff;font-family: Arial;font-size: 13px;padding: 8px;}
.top-footer div.wpcf7-mail-sent-ok                      {border: 0px!important;margin-right: 30px;min-width: 300px;text-align: center;position:relative;}
.top-footer div.wpcf7-validation-errors                 {border: 1px solid #cadb2a;width: 438px;display: none!important;}
.top-footer .wpcf7 .wpcf7-not-valid-tip                 {float: left;display: block;}
span.wpcf7-not-valid-tip                                {display: inline-block;}

/* END Footer */ 

/* Page Contact */
.ban    {background:url(images/ban_contact.jpg) no-repeat;height: 148px;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;-ms-background-size: cover;background-size: cover;}

.l-sidebar .textwidget p.highlight   {font-size: 16px;color:#fff;font-family: 'berthold_akzidenz_groteskLtEx';background-color: #00aeef;line-height: 36px;}
.l-sidebar .textwidget               {border: 2px solid #eaeaea;}
.l-sidebar .textwidget p             {line-height: 18px;margin-bottom: 8px;padding-left: 8px;}

fieldset                          {border:0;}
fieldset p                        {width:49%;float:left;}
p.part-title                      {color:#00aeef;font-size:18px;font-family: 'berthold_akzidenz_groteskLtEx';width: 100%;float: none;margin-bottom: 10px;text-transform: uppercase;}
p.part-title+hr                   {background-color: #00aeef;width: 100%;height:1px;border:0px;margin-bottom: 20px;}
fieldset p.left                   {margin-right:2%;} 
fieldset p span.tel-694           {}
fieldset p span.tel-694 input     {background-color: #ecf0f1;border: 1px solid #dce2e5;height: 40px;vertical-align: top;color: #2c3e50;}
fieldset p span.tel-694 input:hover {}
fieldset+p img                    {border: 1px solid #d6e9f5;padding: 20px 40px;width: 152px;}

fieldset.project p                        {width: 100%;}
fieldset span.wpcf7-list-item         {width:50%;float:left;margin-left:0px;margin-bottom: 5px;}

input[type="tel"]          {width:100%;}

/* Cachons la case à cocher */
input[type="checkbox"]:not(:checked),
input[type="checkbox"]:checked,
input[type="radio"]:not(:checked),
input[type="radio"]:checked {
  position: absolute;
  left: -9999px;
}

/* on prépare le label */  
input[type="checkbox"]:not(:checked) + .wpcf7-list-item-label,  
input[type="checkbox"]:checked + .wpcf7-list-item-label,
input[type="radio"]:not(:checked) + .wpcf7-list-item-label,  
input[type="radio"]:checked + .wpcf7-list-item-label  {  
  position: relative; /* permet de positionner les pseudo-éléments */  
  padding-left: 30px; /* fait un peu d'espace pour notre case à venir */  
  padding-top: 3px;
  cursor: pointer;    /* affiche un curseur adapté */  
}  

/* Aspect des checkboxes */
/* :before sert à créer la case à cocher */
input[type="checkbox"]:not(:checked) + .wpcf7-list-item-label:before,
input[type="checkbox"]:checked + .wpcf7-list-item-label:before {
  content: '';
  position: absolute;
  left:0; top: 0px;
  width: 20px; height: 20px; /* dim. de la case */
  border: 1px solid #d6e9f5;
  background-color: #eaf4fa;
  border-radius: 3px; /* angles arrondis */
}
 
/* Aspect général de la coche */
input[type="checkbox"]:not(:checked) + .wpcf7-list-item-label:after,
input[type="checkbox"]:checked + .wpcf7-list-item-label:after {
  content: '✔';
  position: absolute;
  top: 0; left: 5px;
  font-size: 14px;
  color: #09ad7e;
  -webkit-transition: all .2s; /* on prévoit une animation */
}
/* Aspect si "pas cochée" */
input[type="checkbox"]:not(:checked) + .wpcf7-list-item-label:after {
  opacity: 0; /* coche invisible */
  -webkit-transform: scale(0); /* mise à l'échelle à 0 */
}
/* Aspect si "cochée" */
input[type="checkbox"]:checked + .wpcf7-list-item-label:after {
  opacity: 1; /* coche opaque */
  -webkit-transform: scale(1); /* mise à l'échelle 1:1 */
}

/* Aspect des radio buttons */
input[type="radio"]:not(:checked) + .wpcf7-list-item-label:before,
input[type="radio"]:checked + .wpcf7-list-item-label:before {
  content: '';
  position: absolute;
  left:0; top: 0px;
  width: 20px; height: 20px; /* dim. de la case */
  border: 1px solid #b0b0b0;
  background-color: #fff;
  border-radius: 12px; /* angles arrondis */
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3) inset;
}
 
/* Aspect général de la coche */
input[type="radio"]:not(:checked) + .wpcf7-list-item-label:after,
input[type="radio"]:checked + .wpcf7-list-item-label:after {
  content: '✔';
  position: absolute;
  top: 0; left: 5px;
  font-size: 14px;
  color: #09ad7e;
  -webkit-transition: all .2s; /* on prévoit une animation */
}

/* Aspect si "pas cochée" */
input[type="radio"]:not(:checked) + .wpcf7-list-item-label:after {
  opacity: 0; /* coche invisible */
  -webkit-transform: scale(0); /* mise à l'échelle à 0 */
}

/* Aspect si "cochée" */
input[type="radio"]:checked + .wpcf7-list-item-label:after {
  opacity: 1; /* coche opaque */
  -webkit-transform: scale(1); /* mise à l'échelle 1:1 */
}

p input[type="submit"]      {text-transform:none;background-color: #88c540;box-shadow:none;}

@media all and (max-width: 960px) {
    fieldset p.left         {margin-right: 0%}
    fieldset p              {width:100%;float:none;}
    fieldset span.wpcf7-list-item {width:100%;display:block;float:none;}
}

.button     {font-family: 'berthold_akzidenz_groteskEx';text-decoration: none;font-size: 15px;padding: 10px 12px;border-radius: 6px;margin: 20px 0px;background-color: #cadb2a;color: #fff;display: inline-block;}
.on-sent-ok {display:none;}
.l-content .wpcf7-response-output {display:none !important;}
/* Page Espace Intégrateur */

#integrator .g-cols                           {width: 80%;padding-left: 3%;margin: 0 auto;}
#integrator .g-cols > .one-quarter            {width: 30%;margin-left: 0;margin:0px 3% 10px 0px;}
#integrator .w-iconbox .w-iconbox-h           {height: 115px;}
#integrator .w-iconbox .w-iconbox-h .w-iconbox-text {padding:0px!important;width:100%;line-height: 115px;}

.l-sidebar-h ul.menu .not-link>a           {cursor:default;font-family: 'berthold_akzidenz_groteskLtEx';font-size:18px !important;text-transform: uppercase;color:#00aaef !important;}
.l-sidebar-h ul.menu .not-link>a:hover     {color: #007ac2 !important;transition:none;-webkit-transition:none;padding: 9px 20px 10px 20px !important;}

.l-sidebar-h ul.menu .menu-item a + .sub-menu {display:none;}
.l-sidebar-h ul.menu .current-menu-ancestor a + .sub-menu {display:block;}
.l-sidebar-h ul.menu .current-menu-ancestor a + .sub-menu .current-menu-ancestor a + .sub-menu {display:block !important;}
.l-sidebar-h ul.menu .menu-item a + .sub-menu .menu-item a + .sub-menu {display: none;}
.l-sidebar-h ul.menu .menu-item a + .sub-menu .current-menu-item a + .sub-menu {display: block;}


.widget.widget_nav_menu .menu-item a:before {content:'';}

.w-iconbox.icon_top .w-iconbox-text         {padding: 50px 10% 30px!important;}
.w-iconbox-text .w-iconbox-text-link        {margin-top: 0px!important;vertical-align: middle;}

.w-iconbox-text .w-iconbox-text-title       {font-size: 16px;font-family: 'berthold_akzidenz_groteskLtEx';color: #00aeef;text-transform: uppercase;}
.w-iconbox-text .w-iconbox-text-title:hover {color:#cadb2a;}

.page-template-espace-integrateurs-doc-php table tr {cursor:default !important;}

/* Page Actus */
.bloc-actus                       {padding-bottom: 40px;}
.bloc-actus .container            {width:70%;}
.bloc-actus h3                    {color: #00aeef;font-family: 'berthold_akzidenz_groteskEx';font-size: 24px;text-transform: uppercase;text-align: center;padding: 40px 0px 20px 0px;margin-bottom: 0px;}
.bloc-actus h4                    {font-size: 18px;font-family: 'berthold_akzidenz_groteskLtEx';color: #f68b1f;text-transform: uppercase;margin-top: 40px;border-bottom: 1px solid #ededed;margin-bottom: 10px;}
.bloc-actus p                     {line-height:18px;}
.bloc-actus img                   {float:left;margin-right:10px;}
.bloc-actus ul                    {margin-left: 20px;}
.bloc-actus ul li                 {line-height:18px;}  
.bloc-actus .l-submain            {border:0;padding: 20px 40px;}
.bloc-actus .l-submain table tr td {border:0;}

/* WPML */
#lang_sel                           {top: 7px;text-align: left;}
#lang_sel ul                        {}
#lang_sel li                        {width:115px;z-index:100;background-color: #cacbcc;padding-left: 5px!important;}
#lang_sel a                         {padding-left:0px;}
#lang_sel a.lang_sel_sel            {background-color: #cacbcc;color:#fff!important;}
#lang_sel a.lang_sel_sel:hover      {color:#fff;}
#lang_sel ul ul a, #lang_sel ul ul a:visited {color:#fff;background-color: #cacbcc;}
#lang_sel ul ul                     {border-top:0px;}
#lang_sel ul ul a                   {background-color: transparent;border:0px;padding-left: 0px;margin-left:5px;}
#lang_sel ul ul a:hover             {background-color: transparent;border:0px;}
#lang_sel a, #lang_sel a:visited    {}
#lang_sel ul li.icl-nl a                   {padding: 5px 0px;} 
#lang_sel ul li a:hover             {color: #fff;}

/* Plan du site */
#plan-du-site                           {}
#plan-du-site .container                {padding: 50px 40px;width: 80%;}
#plan-du-site h2.wsp-pages-title        {display: none;}
#plan-du-site h4                        {font-family: 'berthold_akzidenz_groteskLtEx';color: #00aeef;font-size: 30px;text-align: center;}
#plan-du-site ul.wsp-pages-list         {list-style: none;}
#plan-du-site ul.wsp-pages-list li      {}
#plan-du-site ul.wsp-pages-list li ul   {list-style: none;}
#plan-du-site ul.wsp-pages-list li a        {color: #00aeef;font-family: Arial;}
#plan-du-site ul.wsp-pages-list li a:hover    {color: #cadb2a;border:0px;}

/* Mentions légales */
#mentions                               {}
#mentions .container                    {padding: 50px 40px;width: 80%;}
#mentions h4                            {font-family: 'berthold_akzidenz_groteskLtEx';color: #00aeef;font-size: 30px;text-align:center;text-align: center;}

/* agréments et certifications */
#agrements                              {}
#agrements .container                   {padding: 50px 40px;width: 80%;}
#agrements h4                           {font-family: 'berthold_akzidenz_groteskLtEx';color: #00aeef;font-size: 30px;text-align: center;}

/* Page newsletters */
#newsletters .container                     {padding: 50px 40px;width: 80%;}
#newsletters .container h4                  {color: #00aaef;font-family: 'berthold_akzidenz_groteskEx';font-size: 24px;text-transform: uppercase;text-align: center;}
#newsletters .container ul                  {list-style: none;}
#newsletters .container ul li               {}
#newsletters .container ul li a             {color:#00aeef;}
#newsletters .container ul li a:hover       {color:#cadb2a;border-bottom:0px;} 

@media all and (max-width: 660px) {
    #newsletters .container, #mentions .container, #plan-du-site .container, #agrements .container {width:100%;}
}

/* Template without slider and with expand */
.noSlider-container .bloc-expands {background-color: #cacbcc;}

/* Feature Corsa portfolio */
.w-portfolio-list-h {
    font-size: 0;
    text-align: left; 
    margin: 0;
    box-shadow: 0-1px 0 rgba(0, 0, 0, 0.1) inset;
}.w-portfolio-item {
    float: none;
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    padding: 0;
    margin-bottom: 0;
    width: 25% ;
    overflow: visible;
    margin-right:-4px;
}.w-portfolio-item-anchor {
    display: block;
    height: 300px;
    width: 100% ;
    overflow: hidden;
    position: relative;
    z-index: 1;
}.w-portfolio-item-anchor:after {
    display: none;
    content: '';
    position: absolute;
    bottom: 0;
    left: 50% ;
    margin-left: -20px;
    height: 0;
    width: 0;
    z-index: 2;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid#fff
}.w-portfolio-item.active.w-portfolio-item-anchor:after {
    display: block
}.w-portfolio-item-image {
    background-position: center center;
    background-repeat: no-repeat;-webkit-background-size: cover;
    background-size: cover
}.w-portfolio-item-anchor .w-portfolio-item-meta{
    background-color: #000000;
}.w-portfolio-item-meta {
    padding: 25px 0px 15px 10px;
    text-align: left;
    -webkit-transition: none;-moz-transition: none;-o-transition: none;-ms-transition: none;transition: none;
    -webkit-transform: none;-moz-transform: none;-o-transform: none;-ms-transform: none;transform: none;
    z-index: 2;
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    opacity: 0.7;
    height: 90px;
    -webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;-ms-background-size: cover;background-size: cover;
}.w-portfolio-item-meta p {
    font-family: Arial;
    font-size:13px;
    color:#fff;
    line-height: 16px;
}.w-portfolio .w-portfolio-item .w-portfolio-item-title{
    text-transform: uppercase;
    font-size: 17px;
    font-weight: bold;
    line-height: 16px;
    font-family: Arial!important;
    padding:0;
}.w-portfolio-item-title {
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3)
}.w-portfolio-item-text {
    font-size: 13px;
    line-height: 18px;
    color: #fff;
    margin-top: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    filter: progid: DXImageTransform.Microsoft.Alpha(opacity = 75);
    opacity: 0.75
}.no-touch.w-portfolio-item-hover {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 100% ;
    font-size: 0;
    text-align: center;
    overflow: hidden;
    z-index: 1;-webkit-transition: height 0.3s ease,
    font-size 0.25s ease;
    transition: height 0.3s ease,
    font-size 0.25s ease
}.no-touch.w-portfolio-item-anchor: hover.w-portfolio-item-hover {
    height: 100% ;
    font-size: 40px
}.w-portfolio-item-anchor:after {
    display: none;
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -20px;
    height: 0;
    width: 0;
    z-index: 2;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #fff;
}.no-touch.w-portfolio-item.active.w-portfolio-item-hover {
    display: none
}.no-touch.w-portfolio-item-hover:before {
    display: block;
    content: '';
    height: 100% ;
    width: 100% ;
    filter: progid: DXImageTransform.Microsoft.Alpha(opacity = 75);
    opacity: 0.75;
    background-color: #000;
}.no-touch .w-portfolio-item-hover {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 100%;
    font-size: 0;
    text-align: center;
    overflow: hidden;
    z-index: 1;
    -webkit-transition: height 0.3s ease,font-size 0.25s ease;
    transition: height 0.3s ease,font-size 0.25s ease;
}.no-touch .w-portfolio-item-hover:before {
    display: block;
    content: '';
    height: 100%;
    width: 100%;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=75);
    opacity: 0.75;
    background-color: #000;
}.no-touch .w-portfolio-item-hover i{
    position:absolute;
    top:50%;
    left:50%;
    margin:-30px 0 0 -30px;
    font-size:inherit;
    line-height:60px;
    height:60px;
    width:60px;
    color:#fff
}.w-portfolio-item-details {
    position: absolute;
    top: auto;
    left: 0;
    height: auto;
    width: 100% ;
    overflow: hidden
}.w-portfolio-item-details-h {
    max-width: 1260px;
    margin: 0 auto;
    padding: 60px
}.w-portfolio-item-details-content {
    overflow: hidden
}.w-portfolio-item-details-content-preview {
    float: left;
    margin-right: 4% ;
    width: 60% ;
    line-height: 0
}.w-portfolio-item-details-content-text {
    float: left;
    text-align: left;
    width: 36%;
    font-size: 14px
}.w-portfolio-item-details-close {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 32px;
    text-align: center;
    line-height: 60px;
    height: 60px;
    width: 60px;
    cursor: pointer;
    z-index: 1;
    filter: progid: DXImageTransform.Microsoft.Alpha(opacity = 30);
    opacity: 0.3;-webkit-transition: background-color 0.3s ease,
    opacity 0.3s ease;
    transition: background-color 0.3s ease,
    opacity 0.3s ease
}.w-portfolio-item-details-close:hover {
    filter: progid: DXImageTransform.Microsoft.Alpha(opacity = 100);
    opacity: 1;
    background-color: #f2f2f2
}.w-portfolio-item-details-close:before {
    display: block;
    content: '\2715';
    cursor: pointer
}.w-portfolio-item-details-arrow {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 100% ;
    width: 60px;
    cursor: pointer;
    z-index: 0;
    filter: progid: DXImageTransform.Microsoft.Alpha(opacity = 30);
    opacity: 0.3;-webkit-transition: background-color 0.3s ease,
    opacity 0.3s ease;
    transition: background-color 0.3s ease,
    opacity 0.3s ease
}.w-portfolio-item-details-arrow:hover {
    filter: progid: DXImageTransform.Microsoft.Alpha(opacity = 100);
    opacity: 1;
    background-color: #f2f2f2
}.w-portfolio-item-details-arrow.disabled {
    cursor: default;
    background-color: transparent;
    filter: progid: DXImageTransform.Microsoft.Alpha(opacity = 20);
    opacity: 0.2
}.w-portfolio-item-details-arrow.to_next {
    left: auto;
    right: 0
}.w-portfolio-item-details-arrow i {
    display: block;
    position: absolute;
    top: 50% ;
    left: 0;
    font-size: 44px;
    text-align: center;
    line-height: 60px;
    height: 60px;
    width: 56px;
    font-family: 'Open Sans';
    margin-top: -30px
}.w-portfolio-item-details-arrow.to_next i {
    right: 0;
    left: auto
}
.fa-angle-right:before {
    content: ">";
}
.fa-angle-left:before {
    content: "<";
}

@media all and (max-width: 1023px) {
    .w-portfolio-item {width: 50%;}
    .w-portfolio-item-details-content-preview {width: 100%;float: none;margin-right: 0;margin-bottom: 30px;}
    .w-portfolio-item-details-content-text {float: none;width: 100%;}
}

@media all and (max-width: 599px) {
    .w-portfolio-item {width: 100%;}
    .w-portfolio-item-details-arrow, .w-portfolio-item-details-content-preview {display: none;}
}

#cookie-notice .button {
    background-color: #88c540;
}
