@charset "utf-8";
/* CSS Document */
body { overflow: scroll; }
.headnotice {
	padding: 8px 15px;
	color: #000;
	font-size: 12px;
	border-bottom: 1px solid #F0A24D;
	background-color: #FFF0C0;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#FFF0C0),to(#FFD281));
	background-image: -webkit-linear-gradient(top,#FFF0C0,#FFD281);
	background-image: -moz-linear-gradient(top,#FFF0C0,#FFD281);
	background-image: -ms-linear-gradient(top,#FFF0C0,#FFD281);
	background-image: -o-linear-gradient(top,#FFF0C0,#FFD281);
	background-image: linear-gradient(top,#FFF0C0,#FFD281);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#FFF0C0',EndColorStr='#FFD281');
}
 
.headnotice u {
  text-decoration: none;
  font-size: 14px;
}
a.mg_addad44768,
a.mg_addad44774 { display:none; }
div#sidebar { background:#fff;}
a.recreativ-link { display:none;}
#trafmag_6884ebe4 a.trafmag_logo { display:none !important}
tr.tum a[href^="magnet:"], tr.tum a.downgif,
tr.gai a[href^="magnet:"], tr.gai a.downgif {display: block; float: left;} 
tr.gai a[href^="/torrent/"], 
tr.tum a[href^="/torrent/"] {display: block;padding-left: 31px;}
.rutor_block {
	font-size: 25px;
	padding: 3px;
	margin: 5px;
	border: solid 1px #8BA7CD;
	background-color: #EFF3FB;
	display:block;
	clear:both;
}
.playvideoblock { float:right !important; }
.clr,
.clear{ display:block; clear:both; }
.play_video { display:block; cursor:pointer; text-decoration:underline; line-height:41px; padding-left:50px; background:url(/agrrr/play.jpg) left center no-repeat; }
.play_video.play_music {background-image:url(/agrrr/play-music.jpg);}

#mirror-notice {
    width: 109px;
    float: left;
    height: 32px;
    color: #313131;
    font-size: 9px;
    font-family: Arial;
    text-transform: uppercase;
    line-height: 1.5;
    font-weight: bold;
    padding: 13px 10px 0;
}
#pluso-panel {
	background: #ebebeb;
	display:block;
}
.pluso-box {z-index: 20000000 !important;}
.pluso-wrap div b { font-size: 10px !important; }

.fancybox-bg { display:none !important}
#fancybox-outer {background-color: transparent !important; }
#fancybox-content {border-radius: 15px;border-color:#3094FF !important;background: #fff;overflow:hidden;}
#fancybox-wrap {position: fixed !important; top: 100px !important;}

.fancy-wrap { position: fixed; top:200px; left:200px;}
.fancy-wrap .close{ background: url(/agrrr/close_icon.png); width: 24px;  height: 24px;  position: absolute;  right: -18px;  top: -18px; cursor:pointer;}
.fancy-wrap .fancy-block { border-radius: 15px;  border-color: #3094FF !important;  background: #fff;  overflow: hidden;  border: 10px solid;  position: relative;}
.fancy-wrap .content {   padding: 20px; }

.new_moviesfilter h2 { float:left !important; margin:7px !important;} 

.menu_b.brasil div { background: url(/agrrr/brasil_btn.gif) 0 0 !important }
.menu_b.brasil div:hover { background-position: 81 0 !important }

.menu_b.movies { position: relative; }
.menu_b.movies div { background: url(/agrrr/img/movies_btn.gif) 0 0 !important; height:34px; width:84px; background-repeat:repeat; position:absolute; left:1px; top:-5px;}
.menu_b.movies div:hover { background-position: 84px 0 !important }
.menu_b.movies div i {font-style: normal; display: block; margin: 5px 0 0 21px; color: #eeeded;}

.menu_b.gta5bt { position: relative; }
.menu_b.gta5bt div { background: url(/agrrr/img/gta_btn.gif) 0 0 !important; height:34px; width:84px; background-repeat:repeat; position:absolute; left: 90px; top:-5px;}
.menu_b.gta5bt div:hover { background-position: 84px 0 !important }
.menu_b.gta5bt div i {font-style: normal; display: block; margin: 5px 0 0 21px; color: #eeeded;}

/* ADV */
/* djaga-djaga */
#djaga240x400 {
	margin: 15px 5px 10px;
	border: 1px solid #C4C4C4;
	width: 240px;
}
#oyaya240x400 {
	height: 440px;
	margin-left: 10px;
}
/*--------*/
/*******/

/*** TableSort **/
table.sorted th {
	background: url(/agrrr/img/sort-bg.gif) 100% -70px no-repeat;
	font-size: 12px;
	text-align: left;
	cursor: pointer;
	padding-right: 19px;
}
table.sorted th.headerSortDown {background-position-y: -120px;}
table.sorted th.headerSortUp   {background-position-y: -20px;}

tr.backgr td {
	padding-right: 19px;
}
tr.backgr td:first-child,
table.sorted tr.backgr th:first-child {
	padding-right: 0px;
	background-image: none;
	width:65px;
}

table.sorted td s {display:none}
div#index table.sorted tr.even {
	background-color: #EEF3F5;
}
div#index table.sorted tr.odd {
	background-color: #fff;
}

#b83fce26b2, #b252259673, #bce6d98fb3 { width:600px; height:200px;/* background-color:#eff3fb;*/ margin: 0px auto; overflow: hidden;}
#b72890 { width:728px; height:200px;/* background-color:#eff3fb;*/ margin: 0px auto; overflow: hidden;}
#_ads_368_default { height: 200 !important;}
#top_bnr {margin-top: 15px;}

#MarketGidScriptRootC581518 {
  height: 150px;
  overflow: hidden;
  border: 1px solid #8ba7cd;
  background-color:#eff3fb;
}
#MarketGidComposite581518 .mgline {
	margin:0px 1% !important;
}
/***************/

center.web-mirror {display:none}