/* CSS Document */
html, body {
	padding:	0;
	margin:		0;
	/* width:100%;*/
	font-size:	12px;
	font-family:	Tahoma, Verdana, Arial, Helvetica, sans-serif;
}



table#details  {
	width:	98%;
}
h1 {

	font-size:	20px;
	color:	#4F4F4F;
	font-weight:	normal;
	padding-left: 10px;
}
h2 {

	font-size:	18px;
	color:	#5F5F5F;
	font-weight:	normal;
	padding-left: 10px;
}
h2 a {
	color:	#019F00;
	text-decoration:	none;
}
h2 a:hover {
	text-decoration:	underline;
}

h3 {
	text-align:	center;
	font-size:	16px;
	font-weight:	normal;
	line-height:	1.7em;
}
h3 a {
	padding:	3px;
	color:	#3599B3;
	text-decoration:	none;
}
h3 a:hover {
	background-color: #FFFF88;
	text-decoration: underline;
}
a {
	color:	#0040EF;
}

tr.backgr {
	height:	41px;
	background-image:	url("/parse/s.rutor.org/i/backgr.png");
	background-repeat:	repeat-x;
	color:	#000000;
	font-weight:	bold;
}

tr.backgr td {
	padding-left:		2px;
}

#fforum {
	text-decoration:	none;
	font-size:	30px;
	color:	#4C89C2;
}
#all {
	margin:	0px;
	padding:	0;
}
#up {
	width:	100%;
	height:	110px;
}
#menu {
	width:	100%;
	height:	30px;
	background-image:	url("/parse/s.rutor.org/i/bbackgr.png");
}
#download {
	font-size:	26px;
	padding:	3px;
	margin:	5px;
	border:	solid 1px #8BA7CD;
	background-color:	#EFF3FB;
}

#send_torrent {
	font-size:	18px;
	padding:	3px;
	margin:	3px;
	border:	solid 1px #8BA7CD;
	background-color:	#EFF3FB;
}

.d_small {
	font-size:	12px;
}
input, textarea {
	border:	1px solid #4C89C2;
}

td.up {
	text-align:	right;
}

#rss {
	float:	right;
	margin:	3px;
}

img {
	border: 0 none black;
}

#menu .logout {
	float:	right;
}

#menu a{
	float:	left;
	text-decoration:	none;
	color:	#FFFFFF;
	font-size:	14px;
	padding-right:	4px;
	padding-left:	4px;
}

#menu a:hover {
	text-decoration:	underline;
}

#menu span {
	color:	#BFCBE0;
	float:	left;
	font-size:	16px;
}

td {
	font-size:	12px;
}

div#index tr.dark{
	background-color:	#D5DAE0;
	font-weight: 	bold;
}

div#index tr a {
	text-decoration:	none;
	color:	#000000;
}
div#index tr a:hover {
	text-decoration:	underline;
}
div#index tr.tum {
	background-color:	#EEF3F5;
}
div#index tr:hover {
	background-color:	#D5DAE0;
}
#downgif {
	margin:	5px;
}
.blue {
	color:	blue;
}
.green {
	color: #008000;
}
.red {
	color: #8B0000;
}
table#files {
	border-collapse: collapse;
}
table#files td {
	padding:	1px;
	border:	1px dashed black;
}
div.comment {
	width:	70%;
	margin:	5px;
	padding:	5px;
	border: 	1px dotted black;
	background-color:	#EFF3FF;
}
span.x {
	float:	right;
	cursor:	pointer;
}
span.beforex {
	float:	left;
}
div#ws {
	width:	100%;
}
div#ws div#content {
	position:	absolute;
	left:	10px;
	right:	270px;
}
div#ws div#sidebar {
	width:	250px;
	position:	absolute;
	right:	15px;
}
div#ws div#sidebar div.sideblock {
	width:	100%;
	text-align:	center;
	border:	3px double #FFA302;
	border-style:	double;
	margin-top:	5px;
}

.sideblock2 {
	width:	100%;
	text-align: center;
	margin-top:	2px;
}

div#ws div#sidebar div.sideblock a {
	text-decoration:	none;
}
div#ws div#sidebar div.sideblock a:hover {
	text-decoration:	underline;
}
div#search input#in {
	font-size:	13px;
	color: 	#000;
	background-color:	#fff;
	border:	1px solid #000;
}
div#search input#sub {
	font-size:	16px;
	background-color:	#e3eeff;
	border:	1px solid #000;
}
div#down {
	width:	100%;
	padding-top:	1%;
	font-size:	12px;
	color:	#7F7F7F;
	text-align:	justify;
}
div#down a {
	color:	#4F4F4F;
	text-decoration:	none;
}

div#redpeers {
	border:	1px solid red;
	padding:	5px;
	background-color:	#FFDFDF;
	margin-top:	5px;
	text-align:	justify;
	font-size:	12px;
}

#warning {
	font-weight:	bold;
	border:	1px solid #F16C25;
	margin:	5px;
	padding:	5px;
	background-color:	#FDD99C;
}

div.emule {
	margin:	5px;
	border:	solid 1px #01AF00;
	padding:	3px;
	background-color:	#EFFFEF;
}
div.emule a {
	color:	#187F17;
	font-size:	25px;
}
div#logo {
	float:	left;
	margin:	0px;
	margin-left:	0px;
}

div#vote4us {
	float:	left;
	margin-left:	5px;
	margin-top:	1px;
}

div#bannerh {
	float:	right;
	margin:	5px;
}

td.header {
	font-weight: bold;
	margin: 5px;
}

span.button {
	cursor: pointer;
}

#torrentproblems {
	border:	3px double red;
	padding:	5px;
	background-color:	#FFEFEF;
	margin-top:	5px;
	text-align:	justify;
	font-size:	20px;
}

#our_future {
	border:	3px solid red;
	padding:	5px;
	background-color:	#FFEFEF;
	margin-top:	5px;
	text-align:	justify;
	font-size:	22px;
}

/* c = comments start */
.c_h {
	background-color:	#BFD0FF;
}
.c_t {
	background-color:	#DFE8FF;
}

.c_h_tech {
	background-color:	#BFFFC3;
}
.c_t_tech {
	background-color:	#DFFFE1;
}

.c_h_a {
	background-color:	#FF6F75;
}
.c_t_a {
	background-color:	#FFCFD1;
}

/* comments end */

.code {
	width:	90%;
	padding:	5px;
	margin:	5px;
	border:	1px solid gray;
	background-color:	#EBEBEB;
}

#sddm {
	margin: 0;
	padding: 0;
	z-index: 30;
}

#sddm li {
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	font: bold 11px arial;
}

#sddm li a {
	display: block;
	margin: 0 1px 0 0;
	padding: 4px 10px;
	width: 60px;
	background: #5970B2;
	color: #FFF;
	text-align: center;
	text-decoration: none;
}

#sddm li a:hover {
	background: #49A3FF;
}

#sddm div {
	position: absolute;
	visibility: hidden;
	margin: 0;
	padding: 0;
	background: #EAEBD8;
	border: 1px solid #5970B2;
}

#sddm div a {
	position: relative;
	display: block;
	margin: 0;
	padding: 5px 10px;
	width: auto;
	white-space: nowrap;
	text-align: left;
	text-decoration: none;
	background: #EAEBD8;
	color: #2875DE;
	font: 11px arial;
}

#sddm div a:hover {
	background: #49A3FF;
	color: #FFF;
}

/* [hide] start */
.hidewrap  {

	margin-left:	10px;
	border:	1px solid #C3CBD1;
	margin:	5px;
	z-index: 100;
}

.hidehead  {
	background-color:	#E9E9E6;
	font-weight:	bold;
	padding:	3px;
	padding-left:	20px;
	background-image:	url(/parse/s.rutor.org/t/icon_plus_1.gif); 
	background-repeat:	no-repeat;
	background-position:	6px 6px;
	cursor:	pointer;
}
.hidebody {
	border-top:	1px solid #C3CBD1;  
	padding:	3px;
	display:	none;
	background-color:	#F5F5F5;
}
.hidearea
{
	display:	none;
}
/* [hide] end */
/* news start */
#news_table
{
	padding-left:	5px;
	border-spacing:	2px;
}
.news_date
{
	background-color:	#F2F2F2;
	text-align:	center;	
	border: 1px solid #B4B4B4;
}
.news_title
{
	background-image: url(/parse/s.rutor.org/t/news_line.jpg);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: left top;
	background-color: transparent;
	width: 500px; 
}
.news_title a
{
	color: black; 
	text-decoration: none;
}
.news_title a:hover
{
	text-decoration: underline;
}
#news_table td
{
	padding: 7px;
	padding-top: 2px;
	padding-bottom: 2px;
}
#news_table tr
{
	border-top: 1px solid #B4B4B4;
}
/* news end */
/* fake link start */
.fake_link
{
	color:	#0040EF;
	cursor:	pointer;
}
span.fake_link:hover
{
	text-decoration:	underline;
}
/* fake link end */
.menu_b
{
	text-decoration: none !important;
}
.menu_b div
{
	background-image: url(/parse/s.rutor.org/i/menu_b1.gif);
	width: 81px;
	height: 30px;
	text-align: center;
	vertical-align: middle;
	line-height: 30px;
	color: #FFCC00;
	cursor: pointer;
}
.menu_b div:hover
{
	background-image: url(/parse/s.rutor.org/i/menu_b2.gif);
}