@charset "utf-8";
/* brending */
body {
padding: 300px 0 0;
position: relative;
text-align: center;
min-height: 100%;
height: auto!important;
height: 100%;
background-color: #14021d;
/*background: url(/jjs/img/temp_brand.jpg) 50% 0% no-repeat #000 !important;*/
/*
background-image: url(/jjs/img/brand-dummy.jpg);
background-color: #14021d;
background-repeat: repeat no-repeat ;
background: #000 !important;
background-position: 50% 0%;
background-attachment: fixed;
*/


}
.headnotice, #pluso-panel, #all, #ws { z-index: 1; } 
.headnotice, #pluso-panel, #all, div#ws {
position: relative;
margin: 0 auto;
background-color: #fff;
text-align: left;
}
.headnotice {
width: 1004px !important;
_width: 1000px;
}
#pluso-panel, #all, div#ws {
width: 1034px !important;
}
div#ws {
_z-index: expression(runtimeStyle.zIndex = 1, insertAdjacentHTML('beforeEnd', ''));
}
div#ws div#content, div#ws div#sidebar {
position: relative;
left: 0;
right: 0;
float: left;
}

div#ws div#content {
width: 753px !important;
margin: 0 10px;
}
div#ws:after, div#ws .ws-after {
display: block;
content: '';
width: 100%;
clear: both;
}
#pluso-panel {background: #ebebeb !important;}
#all h1 {
margin-top: 0;
margin-bottom: 0;
padding-top: 0.67em;
padding-bottom: 0.67em;
padding-left: 10px; }

.brandcontrol-alert {
	background: #EFF3FB;
	border: 1px solid #8BA7CD;
	margin:10px;
	padding:10px;
	color: #004CB3;
	font-size: 15px;
}
.brandcontrol-alert a {font-size: 15px; color:#B30000}
/*--------*/

#brand-top {
	display: block;
	width: 100%;
	height: 300px;
	position: absolute;
	z-index: 99999991;
	margin: -300 0 0 0;
}
#brand-sides {
	display: block;
	width: 1034px !important;
	height: 0px;
	margin: 0 auto;
}
#brand-left {
	display: block;
	width: 500;
	height: 100%;
	position: absolute;
	z-index: 99999991;
	margin: 0 0 0 -500;
}
#brand-right {
	display: block;
	width: 500;
	height: 100%;
	position: absolute;
	z-index: 99999991;
	margin: 0 0 0 1000;
}
