@font-face {
  font-family: 'Arapey';
  font-style: normal;
  font-weight: 400;
  src: local('Arapey Regular'), local('Arapey-Regular'), url(https://fonts.gstatic.com/s/arapey/v5/70NHEhnB-ZlzsDpQLtboKA.ttf) format('truetype');
}
@font-face {
  font-family: 'Arapey';
  font-style: italic;
  font-weight: 400;
  src: local('Arapey Italic'), local('Arapey-Italic'), url(https://fonts.gstatic.com/s/arapey/v5/atOvJ76eT_9tVfcNjjnfrPesZW2xOQ-xsNqO47m55DA.ttf) format('truetype');
}
