@font-face {
	font-family: 'ico_panda';
	src:url('http://www.pandasecurity.com/fonts/icons/ico_panda.eot?-tag0bo&p=11');
	src:url('http://www.pandasecurity.com/fonts/icons/ico_panda.eot?#iefix-tag0bo&p=11') format('embedded-opentype'),
		url('http://www.pandasecurity.com/fonts/icons/ico_panda.ttf?-tag0bo&p=11') format('truetype'),
		url('http://www.pandasecurity.com/fonts/icons/ico_panda.woff?-tag0bo&p=11') format('woff'),
		url('http://www.pandasecurity.com/fonts/icons/ico_panda.svg?-tag0bo#ico_panda&p=11') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ico_panda' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ic-caducado:before {
  content: "\e915";
}
.icon-ic-informacion:before {
  content: "\e916";
}
.icon-ic-mover:before {
  content: "\e917";
}
.icon-ic-duplicar:before {
  content: "\e918";
}
.icon-ic-editar:before {
  content: "\e919";
}
.icon-ic-mover2:before {
  content: "\e91a";
}
.icon-ic-filtrar:before {
  content: "\e91b";
}
.icon-ic-ordenar:before {
  content: "\e91c";
}
.icon-ic-computer-plus:before {
  content: "\e91d";
}
.icon-ic-taxi:before {
  content: "\e910";
}
.icon-ic-party:before {
  content: "\e911";
}
.icon-ic-relax:before {
  content: "\e912";
}
.icon-ic-travel:before {
  content: "\e913";
}
.icon-ic-sport:before {
  content: "\e914";
}
.icon-ic-bulb2:before {
  content: "\e90f";
}
.icon-ic-butterfly:before {
  content: "\e901";
}
.icon-ic-doc:before {
  content: "\e902";
}
.icon-ic-escudo3:before {
  content: "\e900";
}
.icon-ic-download:before {
  content: "\e600";
}
.icon-ic-download2:before {
  content: "\e601";
}
.icon-ic-user2:before {
  content: "\e602";
}
.icon-ic-comment:before {
  content: "\e603";
}
.icon-ic-refresh:before {
  content: "\e604";
}
.icon-ic-clock:before {
  content: "\e605";
}
.icon-ic-gear:before {
  content: "\e606";
}
.icon-ic-mail:before {
  content: "\e607";
}
.icon-ic-desktop:before {
  content: "\e608";
}
.icon-ic-computer:before {
  content: "\e609";
}
.icon-ic-tablet:before {
  content: "\e60a";
}
.icon-ic-smartphone:before {
  content: "\e60b";
}
.icon-ic-correct:before {
  content: "\e60c";
}
.icon-ic-laptop:before {
  content: "\e60d";
}
.icon-ic-tablet2:before {
  content: "\e60e";
}
.icon-ic-cloud:before {
  content: "\e60f";
}
.icon-ic-lock:before {
  content: "\e610";
}
.icon-ic-tack:before {
  content: "\e611";
}
.icon-ic-search:before {
  content: "\e612";
}
.icon-ic-zoomin:before {
  content: "\e613";
}
.icon-ic-zoomout:before {
  content: "\e614";
}
.icon-ic-shield:before {
  content: "\e615";
}
.icon-ic-arrow:before {
  content: "\e616";
}
.icon-ic-arrowleft:before {
  content: "\e617";
}
.icon-ic-arrowright:before {
  content: "\e618";
}
.icon-ic-star:before {
  content: "\e619";
}
.icon-ic-star2:before {
  content: "\e61a";
}
.icon-ic-camera:before {
  content: "\e61b";
}
.icon-ic-global:before {
  content: "\e61c";
}
.icon-ic-business:before {
  content: "\e61d";
}
.icon-ic-play:before {
  content: "\e61e";
}
.icon-ic-pause:before {
  content: "\e61f";
}
.icon-ic-stop:before {
  content: "\e620";
}
.icon-ic-foward:before {
  content: "\e621";
}
.icon-ic-rewind:before {
  content: "\e622";
}
.icon-ic-tick:before {
  content: "\e623";
}
.icon-ic-clip:before {
  content: "\e624";
}
.icon-ic-home:before {
  content: "\e625";
}
.icon-ic-printer:before {
  content: "\e626";
}
.icon-ic-shop:before {
  content: "\e627";
}
.icon-ic-card:before {
  content: "\e628";
}
.icon-ic-cart:before {
  content: "\e629";
}
.icon-ic-asterisk:before {
  content: "\e62a";
}
.icon-ic-percent:before {
  content: "\e62b";
}
.icon-ic-correct2:before {
  content: "\e62c";
}
.icon-ic-lock2:before {
  content: "\e62d";
}
.icon-ic-parental:before {
  content: "\e62e";
}
.icon-ic-health:before {
  content: "\e62f";
}
.icon-ic-optimize:before {
  content: "\e630";
}
.icon-ic-diamond:before {
  content: "\e631";
}
.icon-ic-ios:before {
  content: "\e632";
}
.icon-ic-folder:before {
  content: "\e633";
}
.icon-ic-antirrobo:before {
  content: "\e634";
}
.icon-ic-quarintine:before {
  content: "\e636";
}
.icon-ic-cloudnet:before {
  content: "\e637";
}
.icon-ic-grift:before {
  content: "\e638";
}
.icon-ic-exclamation:before {
  content: "\e639";
}
.icon-ic-exclamation2:before {
  content: "\e63a";
}
.icon-ic-warning:before {
  content: "\e63b";
}
.icon-ic-plus2:before {
  content: "\e63c";
}
.icon-ic-minus:before {
  content: "\e63d";
}
.icon-ic-close:before {
  content: "\e63e";
}
.icon-ic-tick2:before {
  content: "\e63f";
}
.icon-ic-question:before {
  content: "\e640";
}
.icon-ic-compass:before {
  content: "\e641";
}
.icon-ic-cloud2:before {
  content: "\e642";
}
.icon-ic-rescue2:before {
  content: "\e643";
}
.icon-ic-actualize:before {
  content: "\e644";
}
.icon-ic-user:before {
  content: "\e645";
}
.icon-ic-users:before {
  content: "\e646";
}
.icon-ic-close2:before {
  content: "\e647";
}
.icon-ic-alert:before {
  content: "\e648";
}
.icon-ic-calendar:before {
  content: "\e649";
}
.icon-ic-mouse:before {
  content: "\e64a";
}
.icon-ic-ebook:before {
  content: "\e64b";
}
.icon-ic-dvd:before {
  content: "\e64c";
}
.icon-ic-glasses:before {
  content: "\e64d";
}
.icon-ic-bulb:before {
  content: "\e64e";
}
.icon-ic-locate:before {
  content: "\e64f";
}
.icon-ic-granullar:before {
  content: "\e650";
}
.icon-ic-support:before {
  content: "\e651";
}
.icon-ic-wifi:before {
  content: "\e652";
}
.icon-ic-water:before {
  content: "\e653";
}
.icon-ic-glass:before {
  content: "\e654";
}
.icon-ic-fridge:before {
  content: "\e655";
}
.icon-ic-chair:before {
  content: "\e656";
}
.icon-ic-food:before {
  content: "\e657";
}
.icon-ic-plug:before {
  content: "\e658";
}
.icon-ic-christmas:before {
  content: "\e659";
}
.icon-ic-notes:before {
  content: "\e65a";
}
.icon-ic-plant:before {
  content: "\e65b";
}
.icon-ic-rss:before {
  content: "\e65d";
}
.icon-ic-googleplus:before {
  content: "\e65e";
}
.icon-ic-facebook:before {
  content: "\e65f";
}
.icon-ic-twitter:before {
  content: "\e660";
}
.icon-ic-citrix:before {
  content: "\e661";
}
.icon-ic-apple:before {
  content: "\e662";
}
.icon-ic-linux:before {
  content: "\e663";
}
.icon-ic-windows:before {
  content: "\e664";
}
.icon-ic-bullet:before {
  content: "\e665";
}
.icon-ic-vaccine:before {
  content: "\e666";
}
.icon-ic-arrow2:before {
  content: "\e667";
}
.icon-ic-eye:before {
  content: "\e668";
}
.icon-ic-arrowdown:before {
  content: "\e669";
}
.icon-ic-arrowtop:before {
  content: "\e66a";
}
.icon-ic-arrowtop2:before {
  content: "\e66b";
}
.icon-ic-arrowdown2:before {
  content: "\e66c";
}
.icon-ic-arrowright2:before {
  content: "\e66d";
}
.icon-ic-arrowleft2:before {
  content: "\e66e";
}
.icon-ic-arrowfull1:before {
  content: "\e66f";
}
.icon-ic-arrowfull2:before {
  content: "\e670";
}
.icon-ic-arrowfull3:before {
  content: "\e671";
}
.icon-ic-arrowfull4:before {
  content: "\e672";
}
.icon-ic-android:before {
  content: "\e673";
}
.icon-ic-arrowdown3:before {
  content: "\e674";
}
.icon-ic-arrowtop3:before {
  content: "\e675";
}
.icon-ic-cruz:before {
  content: "\e676";
}
.icon-ic-square:before {
  content: "\e677";
}
.icon-ic-phone:before {
  content: "\e678";
}
.icon-ic-news:before {
  content: "\e679";
}
.icon-ic-link:before {
  content: "\e67a";
}
.icon-ic-image:before {
  content: "\e67b";
}
.icon-ic-mark:before {
  content: "\e67c";
}
.icon-ic-fileprotect:before {
  content: "\e67d";
}
.icon-ic-coding:before {
  content: "\e67e";
}
.icon-ic-browser:before {
  content: "\e67f";
}
.icon-ic-edit:before {
  content: "\e680";
}
.icon-ic-target:before {
  content: "\e681";
}
.icon-ic-centralized:before {
  content: "\e682";
}
.icon-ic-fileencrypt:before {
  content: "\e683";
}
.icon-ic-filedestructor:before {
  content: "\e684";
}
.icon-ic-keyboard:before {
  content: "\e685";
}
.icon-ic-usb:before {
  content: "\e686";
}
.icon-ic-drive:before {
  content: "\e687";
}
.icon-ic-clouddrive:before {
  content: "\e688";
}
.icon-ic-usbok:before {
  content: "\e689";
}
.icon-ic-dashboard:before {
  content: "\e68a";
}
.icon-ic-install:before {
  content: "\e68b";
}
.icon-ic-cleaner:before {
  content: "\e68c";
}
.icon-ic-launcher:before {
  content: "\e68d";
}
.icon-ic-firewall:before {
  content: "\e68e";
}
.icon-ic-rescue:before {
  content: "\e68f";
}
.icon-ic-info:before {
  content: "\e690";
}
.icon-ic-demo:before {
  content: "\e691";
}
.icon-ic-keyconcept:before {
  content: "\e692";
}
.icon-ic-diploma:before {
  content: "\e693";
}
.icon-ic-webinar:before {
  content: "\e694";
}
.icon-ic-feedback:before {
  content: "\e695";
}
.icon-ic-backup:before {
  content: "\e696";
}
.icon-ico-clean:before {
  content: "\e697";
}
.icon-ic-computer2:before {
  content: "\e698";
}
.icon-ic-management:before {
  content: "\e699";
}
.icon-ic-improve:before {
  content: "\e69a";
}
.icon-ic-osx:before {
  content: "\e69b";
}
.icon-ic-adaptive:before {
  content: "\e69c";
}
.icon-ic-audit:before {
  content: "\e69d";
}
.icon-ic-endpoint:before {
  content: "\e69e";
}
.icon-ic-endpointplus:before {
  content: "\e69f";
}
.icon-ic-fusion:before {
  content: "\e6a0";
}
.icon-ic-63:before {
  content: "\e6a1";
}
.icon-ic-internet:before {
  content: "\e6a2";
}
.icon-ic-partner:before {
  content: "\e6a3";
}
.icon-ic-gatedefender:before {
  content: "\e6a4";
}
.icon-ic-linkedin:before {
  content: "\e6a5";
}
.icon-ic-auditor:before {
  content: "\e6a6";
}
.icon-ic-procesos:before {
  content: "\e6a7";
}
.icon-ic-antirrobo2:before {
  content: "\e6a8";
}
.icon-ic-licencia:before {
  content: "\e6a9";
}
.icon-ic-acercade:before {
  content: "\e6aa";
}
.icon-ic-ladron:before {
  content: "\e6ab";
}
.icon-ic-encriptado:before {
  content: "\e6ac";
}
.icon-ic-firewall2:before {
  content: "\e6ad";
}
.icon-ic-familiar:before {
  content: "\e6ae";
}
.icon-ic-analisis:before {
  content: "\e6af";
}
.icon-ic-parental2:before {
  content: "\e6b0";
}
.icon-ic-navegacion:before {
  content: "\e6b1";
}
.icon-iconoscopia-13:before {
  content: "\e6b2";
}
.icon-ic-monitor:before {
  content: "\e6b3";
}
.icon-ic-wifi2:before {
  content: "\e6b4";
}
.icon-ic-controlapps:before {
  content: "\e6b5";
}
.icon-ic-usb2:before {
  content: "\e6b6";
}
.icon-ic_ad360:before {
  content: "\e6b7";
}
.icon-ic-monitorizacion:before {
  content: "\e6b8";
}
.icon-ic-auditor3:before {
  content: "\e6b9";
}
.icon-ic-procesos2:before {
  content: "\e6ba";
}
.icon-ic-antirrobo3:before {
  content: "\e6bb";
}
.icon-ic-licencia2:before {
  content: "\e6bc";
}
.icon-ic-auditor2:before {
  content: "\e6bd";
}
.icon-ic-ladron2:before {
  content: "\e6be";
}
.icon-ic-encriptado2:before {
  content: "\e6bf";
}
.icon-ic-firewall3:before {
  content: "\e6c0";
}
.icon-ic-analisis2:before {
  content: "\e6c1";
}
.icon-ic-familiar2:before {
  content: "\e6c2";
}
.icon-ic-parental3:before {
  content: "\e6c3";
}
.icon-ic-navegacion2:before {
  content: "\e6c4";
}
.icon-ic-devices:before {
  content: "\e6c5";
}
.icon-ic-monitor2:before {
  content: "\e6c6";
}
.icon-ic-wifi3:before {
  content: "\e6c7";
}
.icon-ic-usb3:before {
  content: "\e6c8";
}
.icon-ic-install2:before {
  content: "\e6c9";
}
.icon-ic-installad:before {
  content: "\e6ca";
}
.icon-ic-euro:before {
  content: "\e6cb";
}
.icon-ic-legal:before {
  content: "\e6cc";
}
.icon-ic-watch:before {
  content: "\e6cd";
}
.icon-ic-server:before {
  content: "\e6ce";
}
.icon-ic-memcard:before {
  content: "\e6cf";
}
.icon-ic-floppy:before {
  content: "\e6d0";
}
.icon-ic-temperature:before {
  content: "\e6d1";
}
.icon-ic-like:before {
  content: "\e6d2";
}
.icon-ic-exam:before {
  content: "\e6d3";
}
.icon-ic-papelera:before {
  content: "\e903";
}
.icon-ic-facebook1:before {
  content: "\e904";
}
.icon-ic-linkedin1:before {
  content: "\e905";
}
.icon-ic-twitter1:before {
  content: "\e906";
}
.icon-ic-instagram1:before {
  content: "\e907";
}
.icon-ic-mediacenter1:before {
  content: "\e908";
}
.icon-ic-rss1:before {
  content: "\e909";
}
.icon-ic-laptoptick:before {
  content: "\e90a";
}
.icon-ic-menu:before {
  content: "\e90b";
}
.icon-ic-plant2:before {
  content: "\e90c";
}
.icon-ic-sun:before {
  content: "\e90d";
}
.icon-ic-speed:before {
  content: "\e90e";
}
.icon-ic-plus:before {
  content: "\e9ce";
}

