@font-face {font-family:'Campton Book';
			src: url('http://www.pandasecurity.com/fonts/campton/Campton Book.eot');
			src: local('â˜º'), url('http://www.pandasecurity.com/fonts/campton/Campton Book.woff') format('woff'), url('http://www.pandasecurity.com/fonts/campton/Campton Book.ttf') format('truetype');
			font-weight: normal;
			font-style: normal;
}@font-face {font-family:'Campton Medium';
			src: url('http://www.pandasecurity.com/fonts/campton/Campton Medium.eot');
			src: local('â˜º'), url('http://www.pandasecurity.com/fonts/campton/Campton Medium.woff') format('woff'), url('http://www.pandasecurity.com/fonts/campton/Campton Medium.ttf') format('truetype');
			font-weight: normal;
			font-style: normal;
}@font-face {font-family:'Campton Light';
			src: url('http://www.pandasecurity.com/fonts/campton/Campton Light.eot');
			src: local('â˜º'), url('http://www.pandasecurity.com/fonts/campton/Campton Light.woff') format('woff'), url('http://www.pandasecurity.com/fonts/campton/Campton Light.ttf') format('truetype');
			font-weight: normal;
			font-style: normal;
}

body,html,*{margin:0;padding:0;}
a{text-decoration:none;transition:all .5s;}
.main,.margin_from_topmenu {padding-top:40px;}
.PromotionPriceAndURL{display:none;}
.MenuPromotionPriceAndURL{display:none;}
.display_none{display:none;}
.fullcover {height:100%;transition:opacity 0.3s ease 0s;width:100%;background:transparent !important;content:"\A";opacity:0;position:fixed;top:0;left:310px;z-index:-1;overflow:hidden;}
.no_scroll{ overflow:hidden;}
#menu_section{font-size:16px;}
#menu_section ul{list-style:none; list-style-image:none;}
#menu_section ul li{list-style:none; list-style-image:none;}

#menu_section #desktop_menu{background-color:#282d38;position:fixed; top:0; left:0; width:100%; height:95px;z-index:3; padding:0; font-family:"Campton Light","Century Gothic";}
#menu_section #desktop_menu.opaque{background-color:#282d38;}

#logo_panda{background:url(../img/logo_panda.png) center no-repeat; position:absolute; left:3em; top:2em; width:122px; height:34px; text-indent:999999px;}

.menu_principal{display:table;float:right;}
.menu_principal_myaccount{margin-right:201px;}
.txt_myaccount{display:inherit;}
.icono_menu_myaccount{display:none;color:#b5b9bf;font-size:30px;}
.menu_principal>li{display:table-cell;vertical-align:top;box-sizing:border-box; height:95px;}
.menu_principal>li>a.opt_barra{color:#8da1a1;display:block; border-top:3px solid transparent; position:relative;padding:36px 25px; }
.menu_principal.menuXS>li>a.opt_barra {padding:36px 34px;}
.menu_principal.menuXXL>li>a.opt_barra {padding:36px 15px;}
.menu_principal>li>a.opt_principal{color:#ffffff;}
.menu_principal>li>a.opt_barra::before{border-top: 3px solid #3498db;content: "";height: 3px;left: 50%;position: absolute;top: -3px;transition: all 0.25s; width: 0;}
.menu_principal>li:hover>a.opt_barra{background-color:#20252e; color:#ffffff;}
.menu_principal>li:hover>a.opt_barra::before{left:0; width:100%;}
.menu_principal>li>.opt_principal{ font-family:"Campton Medium","Century Gothic"; color:#ffffff;}
.menu_principal>li>ul>li:hover{background-color:#13171F;}
.menu_principal>li>ul>li:hover>a{color:#fff;}

#more_options_container{position:absolute; top:0; right:101px; z-index:1;}
#more_options_button{display:block; padding:3em 2.5em;}
#more_options{margin-right:2.5em; }
#more_options,
#more_options:before,
#more_options:after {height: 4px; background-color: #8da1a1; position: absolute; display: block; content: ''; width:24px; padding:0; right:0; transition:all .5s;}
#more_options:before { top: -7px; width:12px;}
#more_options:after { bottom: -7px; width:18px;}
#more_options_button:hover #more_options,
#more_options_button:hover #more_options:before,
#more_options_button:hover #more_options:after {width:24px;background-color:#ffffff;}
#more_options_button_container {display:table;position:absolute;right:101px;top:0;width:100px;}
#more_options_button_container .icono_cerrar{display:none;padding:0.05em;}

#menu_more_options{position:absolute; right:-1200px; top:0; background-color:#20252e; display:table; height:95px; width:900px; transition:all .5s;}
#menu_more_options li{display:table-cell; vertical-align:top;}
#menu_more_options li.transparent{opacity:0;}
#menu_more_options li a{color:#8da1a1; padding:36px 25px; text-align:center; display:block;}

.fondo_submenu{width:100%; left:0;background-color:#20252e; display:none; position:absolute;text-align:center;}
.fondo_submenu>li{display:inline-block;}
.fondo_submenu>li>a{color:#8da1a1; padding:1.125em 2em; display:block;}

#menu_subnivel_devices{display:none;}

#menu_subnivel_myaccount{display:none; background-color:#20252e; position:absolute;text-align:right;right:201px;}
#menu_subnivel_myaccount li{display:table-cell;}
#menu_subnivel_myaccount li a{color:#8da1a1; padding:1.125em 2em 1.125em 3em; display:block; position:relative;}
#menu_subnivel_myaccount li a .icono_myaccount{position:absolute; left:15px; font-size:2em;top:10px;}
#menu_subnivel_myaccount li a .icono_myaccount.icon-ic-user{font-size:1.8em;top:13px;}

.menu_desplegado{background-color:#20252e;}
#search_container{display: table;position:absolute; top:0; right:0; z-index:2;}
#search_container #open_search{ border-left:1px solid rgba(255,255,255,.2);}
.search_option{width:100px; height:95px;position:relative; display:table-cell; box-sizing:border-box; cursor:pointer;}
.search_option .icono_buscar{color: #ffffff; font-size:34px; position:absolute;top:0.95em; left:1em;}

#language_container{position:absolute;top:0;right:0;z-index:2;border-left:1px solid rgba(255,255,255,.2);padding:2.35em 0;width:100px;text-align:center;}
.language-selector{border:1px solid #8da1a1 !important;border-radius:1em;padding:0.2em 0.6em !important;color:#8da1a1;}
.language-selector:hover{background-color:#8da1a1 !important;color:rgb(31, 37, 50) !important;}

#search_container #buscador { display:table-cell; vertical-align:middle; position:absolute;right:0; top:0; width:0; transition:all .5s;background-color:#20252e; height:95px; overflow:hidden;}
#search_container #buscador #buscador_contenedor{display:table; width:100%; position:relative;}
#search_container #buscador #buscador_contenedor #search{position:left:0; width:100px; float:left;}

#search_container #buscador #input_container{display:table-cell; float:left; height:95px; width: calc(100% - 250px);}
#search_container #buscador #input_container #queryTerms{width:100%; height:95px;background-color:#20252e;border:0;color:#ffffff;font-family:"Campton Light","Century Gothic"; font-size:16px;}
#search_container #buscador #input_container #queryTerms:focus{outline:none;}
#search_container #buscador #input_container #queryTerms::-webkit-input-placeholder {color:#8da1a1;font-family:"Campton Light","Century Gothic"; font-size:16px;}
#search_container #buscador #input_container #queryTerms:-moz-placeholder {color:#8da1a1;font-family:"Campton Light","Century Gothic"; font-size:16px;}
#search_container #buscador #input_container #queryTerms::-moz-placeholder {color:#8da1a1;font-family:"Campton Light","Century Gothic"; font-size:16px;}
#search_container #buscador #input_container #queryTerms:-ms-input-placeholder {color:#8da1a1;font-family:"Campton Light","Century Gothic"; font-size:16px;}
#search_container #searcher { display:table-cell; vertical-align:middle; position:absolute;right:0; top:0; width:0; transition:all .5s;background-color:#20252e; height:95px; overflow:hidden;}
#search_container #searcher #buscador_contenedor{display:table; width:100%; position:relative;}
#search_container #searcher #buscador_contenedor #search{position:left:0; width:100px; float:left;}

#search_container #searcher #input_container{display:table-cell; float:left; height:95px; width: calc(100% - 250px);}
#search_container #searcher #input_container #queryTerms{width:100%; height:95px;background-color:#20252e;border:0;color:#ffffff;font-family:"Campton Light","Century Gothic"; font-size:16px;}
#search_container #searcher #input_container #queryTerms:focus{outline:none;}
#search_container #searcher #input_container #queryTerms::-webkit-input-placeholder {color:#8da1a1;font-family:"Campton Light","Century Gothic"; font-size:16px;}
#search_container #searcher #input_container #queryTerms:-moz-placeholder {color:#8da1a1;font-family:"Campton Light","Century Gothic"; font-size:16px;}
#search_container #searcher #input_container #queryTerms::-moz-placeholder {color:#8da1a1;font-family:"Campton Light","Century Gothic"; font-size:16px;}
#search_container #searcher #input_container #queryTerms:-ms-input-placeholder {color:#8da1a1;font-family:"Campton Light","Century Gothic"; font-size:16px;}

.close_container{width:100px; height:95px;position:relative; display:table-cell; box-sizing:border-box;  border-left:1px solid rgba(255,255,255,.2);}
#menu_section .icono_cerrar{color:#8da1a1;font-size:70px;cursor:pointer;font-weight:bold;}
.close_container .icono_cerrar{position:absolute;top:3px;left:17px;}

#subnivel_windows>a.selected{background-color:#13171F;color:#fff;}

#menu_subnivel_windows{display:none; position:absolute;text-align:center; width:1000px;font-size: 1px; letter-spacing: -1px; margin: auto; left:50%; margin-left:-500px; border-top:2px solid #20252e;}
#menu_subnivel_windows .product_menu{font-size: 16px;letter-spacing:0;display:inline-block; vertical-align:top; width:25%; background-position:bottom left; background-repeat:no-repeat;background-color:#13171F; padding:2.5em 0; box-sizing:border-box;border-right:2px solid #20252e; position:relative}
#menu_subnivel_windows .product_menu:last-of-type{border-right:0;}

#menu_subnivel_windows .product_menu a{display:block;}
#menu_subnivel_windows .product_menu a.protection_name{color:#8da1a1; position:absolute; top:4em; width:100%; left:0;}
#menu_subnivel_windows .product_menu .name_oculto{ -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: alpha(opacity=0); -moz-opacity: 0; -khtml-opacity: 0; opacity: 0;}
#menu_subnivel_windows .product_menu a.button_header{width:145px; margin:0 auto; height:35px; line-height:35px; border-radius:25px;margin-top:3.2em; }

#menu_subnivel_windows .product_menu#ap{background-image:url(../img/ap_menu.png);}
#menu_subnivel_windows .product_menu#is{background-image:url(../img/is_menu.png);}
#menu_subnivel_windows .product_menu#gp{background-image:url(../img/gp_menu.png);}
#menu_subnivel_windows .product_menu#gl{background-image:url(../img/gl_menu.png);}

#menu_subnivel_windows .product_menu#ap .protection_class{color:#5bbb71;}
#menu_subnivel_windows .product_menu#is .protection_class{color:#6dabdd;}
#menu_subnivel_windows .product_menu#gp .protection_class{color:#f6f6f6;}
#menu_subnivel_windows .product_menu#gl .protection_class{color:#d7c873;}
#menu_subnivel_windows .product_menu a.protection_name.name_pss{color:#f19d3e;}
#menu_subnivel_windows .product_menu a.protection_name.name_ppc{color:#f19d3e;}

#new_product{position:absolute; top: 0; left:0; width:60px; height:60px; background:url(../img/star_new.png) left top no-repeat; text-indent:-999999px; transition:all .5s;}

#menu_subnivel_windows .product_menu #boton_ap{color:#5bbb71; border:1px solid #5bbb71;}
#menu_subnivel_windows .product_menu #boton_is{color:#6dabdd; border:1px solid #6dabdd;}
#menu_subnivel_windows .product_menu #boton_gp{color:#8da1a1; border:1px solid #8da1a1;}
#menu_subnivel_windows .product_menu #boton_gl{color:#d7c873; border:1px solid #d7c873;}
#menu_subnivel_windows .product_menu #boton_pss{color:#ffffff; border:1px solid #f19d3e; background-color:#f19d3e;margin-top:10px !important; }
#menu_subnivel_windows .product_menu #boton_ppc{color:#ffffff; border:1px solid #f19d3e; background-color:#f19d3e;margin-top:10px !important; }
#menu_subnivel_windows .product_menu #boton_ppa{color:#ffffff; border:1px solid #6dabdd; background-color:#6dabdd;margin-top:10px !important; }

#menu_subnivel_complementos{display:none;position:absolute;text-align:center;background-color:#13171F;}
#menu_subnivel_complementos>li{display:inline-block;}
#menu_subnivel_complementos>li>a{color:#8da1a1;padding:1.125em 2em;display:block;}
#menu_subnivel_complementos>li>a:hover{color:#fff;}


/* Tiny Scrollbar */
#scrollbar1 { width: 520px; margin: 20px 0 10px; }
#scrollbar1 .viewport { width: 500px; height: 200px; overflow: hidden; position: relative; }
#scrollbar1 .overview { list-style: none; position: absolute; left: 0; top: 0; padding: 0; margin: 0; }
#scrollbar1 .scrollbar{ background: transparent url(images/bg-scrollbar-track-y.png) no-repeat 0 0; position: relative; background-position: 0 0; float: right; width: 15px; }
#scrollbar1 .track { background: transparent url(images/bg-scrollbar-trackend-y.png) no-repeat 0 100%; height: 100%; width:13px; position: relative; padding: 0 1px; }
#scrollbar1 .thumb { background: transparent url(images/bg-scrollbar-thumb-y.png) no-repeat 50% 100%; height: 20px; width: 25px; cursor: pointer; overflow: hidden; position: absolute; top: 0; left: -5px; }
#scrollbar1 .thumb .end { background: transparent url(images/bg-scrollbar-thumb-y.png) no-repeat 50% 0; overflow: hidden; height: 5px; width: 25px; }
#scrollbar1 .disable { display: none; }
.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }


/* ESTILOS HEREDADOS de pandastyles.css y styles_2014.css */
#rphMainHeadJsCssE textarea {width:800px;height:250px;}/* Bug en edición CMS para Firefox y Chrome */
#rphMainEdit textarea {width:800px;height:500px;}


/* TEST PANEL DE AVISOS BAJO EL MENU */
#tips_panel{display:none;}
.tips_panel{position:fixed;right:20px;top:110px;width:270px;font-size:1em;font-family:"Campton SemiBold","Century Gothic",Arial;background-color:rgb(216,219,219);background-color:rgba(216,219,219,0.8);text-align:center;z-index:1;display:none;}
.tips_panel strong{font-family:"Campton Bold","Century Gothic",Arial;color:#009c4b;}
.tip_close{text-align:right;text-decoration:none;color:#747474;font-family:"Campton ExtraLight","Century Gothic",Arial;font-size:1.5em;line-height:0.5em;padding:0.5em 0.5em 0 0;cursor:pointer;}
.tip_title{margin-bottom:0.5em;}
.tip_email,.tip_user{outline:none;font-family:"Campton Light","Century Gothic",Arial;text-align:center;border:1px solid #c0c0c0; border-radius:2em;padding:0.4em 1em;margin-top:0.4em;}
.tip_button{background-color:rgb(83,164,104);background-color:rgba(83,164,104,0.8);color:#fff;text-decoration:none;display:block;padding:0.5em;margin-top:1em;}
.tips_panel .error_input{border:1px solid red;}
@media screen and (max-width: 1023px){
.tips_panel{right:auto;left:50%;width:540px;margin-left:-270px;top:150px;background-color:#fff;font-size:18px;border:1px solid #d7d7d7;}
.tip_title{font-size:1.5em;display:inline-block;border-bottom:1px solid #d7d7d7;padding:0.8em;}
.tip_button{background-color:rgb(83,164,104);width:240px;margin:2em auto;padding:0.8em;}
.tip_msg{margin-bottom:1em;}
.tip_email,.tip_user{font-size:1em;}
}
@media screen and (max-width:600px){
.tips_panel{width:auto;left:auto;margin:0 20px;top:110px;}
}
@media screen and (max-width:420px){
.tip_title{font-size:1.15em;}
.tips_panel{width:90%;}
}

/* TEST USA CON TELÉFONO DE SOPORTE A LA VENTA */
#sales_support_phone {bottom:26px;right:26px;position:fixed;z-index:1;background:#fff;border:1px solid #75899f;border-radius:3em;font-family:"Campton Medium","Century Gothic";padding:0.2em;text-align:center; transition:all .5s;}
#sales_support_phone a{color:#437fc0;}
#sales_support_phone h4{color:#4b5964;font-family:"Campton ExtraLight","Century Gothic";}
#sales_support_phone .icono{float:right;font-size:3em;}
#sales_support_phone .sales_support_inner{float:left;padding:0.2em 1em 0 2em;display:none;}
@media screen and (max-width: 1023px){
#sales_support_phone .sales_support_inner{display:block !important;}
#sales_support_phone{font-size:1.4em;}
}

@media screen and (max-width: 1279px){	
.main,.margin_from_topmenu {padding-top:26px;}
#menu_section{font-size:14px;}

.menu_principal>li>a.opt_barra{padding:36px 20px;}
#menu_subnivel_myaccount{right:173px;}
.menu_principal_myaccount{margin-right:173px;}

#more_options_button_container{right:87px;width:86px}
#more_options_button{padding:3.25em 2.5em}
#more_options_container{right:87px;}

#menu_more_options li a{padding-left:20px;padding-right:20px;}

.search_option,.close_container{width:86px;}
.search_option .icono_buscar{left:0.75em;}
.close_container .icono_cerrar{left:8px;}

#language_container{padding:2.7em 0;width:86px;}
}

@media screen and (min-width: 1024px) and (max-width: 1279px){
.menu_principal.menuXL>li>a.opt_barra, .menu_principal.menuXXL>li>a.opt_barra {padding:36px 10px;}
.menu_principal.menuXS>li>a.opt_barra{padding:36px 28px;}
}
@media screen and (max-width: 1023px){
.menu_principal_sections{display:none;float:none;clear:both;background-color:#282d38;width:310px;font-size:1.15em;padding-bottom:1em;position:fixed;height:100%;margin-top:95px;overflow:auto;overflow-x: hidden;}
.menu_principal_sections>li{display:block;height:auto;}
.menu_principal_sections>li>a.opt_barra{border-top:none;}
.menu_principal_sections>li>a.opt_barra::before{display:none;}
.menu_principal_sections>li:hover>a.opt_barra{background-color:inherit;}
.menu_principal>li>a.opt_principal{font-size:1.125em;}
.menu_principal>li>a.opt_barra{padding:18px 0 18px 24px;}

#menu_subnivel_homeusers{display:block;}
.menu_principal_sections .fondo_submenu{width:100%; left:0;background-color:transparent; display:none; position:relative;text-align:left !important;}
.active .fondo_submenu{display:block;}
.menu_principal_sections .fondo_submenu>li{display:block;}
.menu_principal_sections .fondo_submenu>li>a{color:#8da1a1; padding:0.9em 0 0.9em 2.8em; display:block;}
.menu_principal_sections > li{border-left:2px solid transparent;}
.menu_principal_sections > li.active{ border-color:#3498db;background-color:#13171F;padding:1em 0;margin-bottom:1em;}

#menu_subnivel_homeusers{display:none;}
#menu_subnivel_devices{display:inherit;}

#logo_container{text-align:center;}
#logo_panda{width:100%;margin-left:-66px;}
.menu_principal_myaccount{margin-right:87px;}
.menu_principal_myaccount>li>a.opt_barra{padding:31px 25px 31px;}
.icono_menu_myaccount{display:inherit;}
.txt_myaccount{display:none;}
#menu_subnivel_myaccount{right:87px;}

.search_option .icono_buscar{top:0.9em;}

#more_options_button_container{right:auto;left:0;z-index:1;}
#more_options:before, #more_options:after {width:24px;}

#more_options_container{position:relative;top:0;right:inherit;margin-bottom:140px}
#menu_more_options{position:relative;height:inherit;width:inherit;background-color:transparent;top:inherit;right:inherit;}
#menu_more_options li{display:inherit;}
#menu_more_options li a{text-align:left;padding:18px 0 18px 24px;}
#menu_more_options li.close_container{display:none;}
}

@media screen and (max-width: 820px){
#language_container{display:none;width:0px;}
}

@media screen and (max-width: 480px){
#logo_panda{width:38px;margin-left:0;background-position:left center;left:86px;}
#menu_subnivel_myaccount{right:0 !important;width:100%;text-align:center;}
#menu_subnivel_myaccount li{display:inline-block;}
#menu_subnivel_myaccount li a{padding-left:2em;padding-right:1em;}
#menu_subnivel_myaccount li a .icono_myaccount{left:0;}
#search_container #buscador #input_container #queryTerms{width:auto;}
#search_container #searcher #input_container #queryTerms{width:auto;}
}

@media screen and (min-width: 521px) and (max-width: 820px){
}

@media screen and (min-width: 821px) and (max-width: 1023px){
}



/****************************Menu y footer**************************************/
#publishFooter{font-size:16px;font-family:"Campton Book","Century Gothic";}
.footer {background-color:#0d0d0d;}
#footerHome {color:#ffffff;margin:auto;overflow:hidden;width:1003px;padding:40px 0 0 0;background-color:transparent;}
#footerHome .homeLeftDown ul.under {margin-top:0;padding:5px 0 0 10px;}
#footerHome .homeRightDown {margin:40px 10px 0 0;float:left;width:210px;}
#footerHome .homeLeftDown {float:left;margin:40px 10px 0 0;width:270px;}
#footerHome .homeCenterDown {float:left;margin:40px 10px 0 0;width:220px;padding:inherit; padding-top:0;}
#footerHome h5 a, #footerHome h5 a:hover {font-size:1.3em;font-weight:normal;color:#d2d2d2;}
#footerHome .homeCenterDown ul, #footerHome .homeRightDown ul, #footerHome .homeLeftDown ul {list-style:outside none none;margin:20px 0;padding:0;}
#footerHome li {padding:5px 0;font-size:0.9em;font-family:"Campton Light","Century Gothic";}
#footerHome .footerMenu{width:950px;display:inline-table;}
#footerHome .secondline{margin-top:0px;}
#downFooterHome, #downFooterHome a, #downFooterHome a:hover, #footerHome a, #footerHome a:hover {color:#8e8e8e;}
#downFooterHome {clear:both;color:#8e8e8e;font-size:0.7em;margin:auto;padding:20px 0 40px;width:1002px;background-color:transparent;}
#socialmedia {list-style-type:none;margin:30px 0 0 0;width:auto;display:block;float:right;padding:0;}
#socialmedia li {background-image:url("http://resources.pandasecurity.com/newhome2015/img/sprite-icon-socialmedia-2015.png");float:none;}
#socialmedia a {display:block;height:100%;width:100%;}
#sm_contact, #sm_linkedin, #sm_rss, #sm_googleplus, #sm_twitter, #sm_facebook {background:url("http://resources.pandasecurity.com/img/footer/sprite-icon-socialmedia.png") no-repeat scroll center top rgba(0, 0, 0, 0);display:block;float:left;height:37px;margin-left:7px;padding:0;width:40px;}
#sm_contact {background-position:0 0;}
#sm_linkedin {background-position:0 -100px;}
#sm_rss {background-position:0 -200px;}
#sm_googleplus {background-position:0 -300px;}
#sm_twitter {background-position:0 -400px;}
#sm_facebook {background-position:0 -500px;}
#cookieInfo {background:none repeat scroll 0 0 #000;bottom:0;box-shadow:0 0 10px #000;color:#fff;opacity:0.7;padding:10px 0;position:fixed;width:100%;}
#cookieInfo p {margin:auto;width:990px;}
#zoom {z-index:30;}
#formDownload {display:none;height:557px;width:805px;}
#container{overflow:hidden;margin:auto;width:auto;}
#publicContainer{width:100%;}
#form1{margin:0;}


@media screen and (max-width:1002px){
#publishFooter{font-size: 12px;}
#footerHome {width:100%;}
#footerHome .footerMenu{width:auto;display:inline-table;}
#footerHome .homeRightDown, #footerHome .homeLeftDown, #footerHome .homeCenterDown {margin:auto;float:none;width:auto;}
#downFooterHome, #downFooterHome a, #downFooterHome a:hover, #footerHome a, #footerHome a:hover {display:block;}
#downFooterHome {font-size:2em;width:100%;text-align:center;color:transparent;}
#socialmedia {width:auto;overflow:hidden;text-align:center;float:none;}
#socialmedia li {display:inline-block;zoom:1;*display:inline;}
#sm_contact, #sm_linkedin, #sm_rss, #sm_googleplus, #sm_twitter, #sm_facebook {margin-left:17px;margin-right:17px;}
#cookieInfo {display:none;}
#formDownload {height:70%;width:85%;}
}
@media screen and (min-width:641px) and (max-width:1002px){
#footerHome .homeLeftDown, #footerHome .homeRightDown, #footerHome .homeLeftDown, #footerHome .homeCenterDown{font-size:1.5em;width:40%;margin:4%;display:inline-block;zoom:1;*display:inline;vertical-align:top;}
#formDownload {display:none;height:257px;width:405px;}
}
@media screen and (max-width:640px){
#footerHome .homeLeftDown, #footerHome .homeRightDown, #footerHome .homeLeftDown, #footerHome .homeCenterDown{font-size:2em;width:85%;margin:4%;display:inline-block;zoom:1;*display:inline;vertical-align:top;text-align:center;}
}
@media screen and (max-width:480px){
#publishFooter{font-size:8px;}
}