/* Helpers */
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: geometricPrecision;
}

a {
    color: #007abf;
    text-decoration: none;
}

a:hover nobr {
    color: #007abf;
}

a:hover span {
    color: #333;
}

a:hover,
.tagWrapper a:hover,
.tagWrapper a strong:hover {
    color: #333;
}

h3 a:hover {
    color: #007abf !important;
}

h4 {
    font-size: 18px;
    line-height: 20px;
}

.tagWrapper a,
.tagWrapper a strong {
    color: #007abf;
}

.blueTitle {
    color: #007abf;
}

.icon {
    color: #007abf;
}

.icon-search:before {
    color: #007abf;
}

.icon-up:after {
    color: #007abf;
}

.blueKeyword {
    margin: 0 4px 0 0;
    color: #007abf;
}

.keyword a {
    color: #007abf;
}

.author a:hover {
    color: #007abf !important;
}

.greyBackground {
    background-color: #f5f5f5;
}

/* header & navigation*/
ul li a.active {
    color: #007abf !important;
}

#topNav {
    padding: 12px 0 4px 0;
    border-bottom: 1px solid #797979;
}

#topNav .paywallUserNavigation .login a {
    background-color: #007abf;
}

#topNav .paywallUserNavigation .promotion {
    padding-top: 6px;
}

#topNav .paywallUserNavigation .promotion p {
    font-size: 18px;
    line-height: 22px;
}

#topNav .paywallUserNavigation .promotion p:first-child {
    font-size: 24px;
    line-height: 26px;
}

#topNav .paywallUserNavigation .promotion a {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 18px;
    border: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-top: 12px;
    margin-bottom: 6px;
    padding: 4px 8px;
    background-color: #007abf;
    color: white !important;
}

#topNav .paywallUserNavigation .promotion a:hover {
    background-color: #333;
}

#masthead {
    padding: 12px 0 0 0;
}

#masthead ul li#headerDate,
#masthead ul li#headerWeather {
    width: 156px;
    height: 90px;
}

#masthead li#headerWeather a span {
    color: #007abf;
}

#masthead ul li#tagiLogo {
    text-align: center;
}

#masthead ul li#tagiLogo.categoryLogo {
    width: 33.33%;
}

#masthead ul li.navigationTitle {
    width: 33.33%;
    font-size: 36px;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 13px;
}

#masthead ul li.icon-flat-hamburger {
    width: 33.33%;
    font-size: 38px;
    text-align: right;
    padding-top: 8px;
    padding-bottom: 13px;
}

#masthead ul li#tagiLogo.categoryLogo a img,
#masthead ul li#tagiLogo.articleLogo a img {
    margin: 8px 0 13px 0;
    float: left;
}

#mainLogo {
    width: 414px;
    height: 80px;
}

#mainNav {
    border-bottom: 3px solid #333;
}

#mainNav ul li {
    padding: 0 6px 0 0;
    font-size: 22px;
}

#mainNav ul li a:hover {
    color: #007abf;
}

#mainNav .dropdownNavi ul li a {
    background-color: #007abf;
}

#subnavigation ul li a:hover {
    color: #007abf !important;
}

#masthead ul li#tagiLogo.categoryLogo a img,
#masthead ul li#tagiLogo.articleLogo a img {
    width: 200px;
    height: 40px;
}

/* mainContainer Helpers */
#mainContainer .contextBoxTitle a,
#mainContainer .title a {
    color: #007abf;
}

#mainContainer .contextBoxTitle a:hover {
    color: #333;
}

h4.contextBoxTitle span,
h4.contextBoxTitle span a {
    color: #333 !important;
}

h4.contextBoxTitle span a:hover {
    color: #007abf !important;
}

#mainContainer .greyBackground .articleStory h4 a:hover {
    color: #007abf !important;
}

.boerse_box h4 a.title {    
    color: #007abf !important;
}

#mainColLeft ul.ui-tabs-nav li.ui-tabs-selected a {
    color: #007abf !important;
}

/*front*/
#mostPopularLink:hover,
#newsTickerLink:hover,
#mostPopularLink.active,
#newsTickerLink.active {
    color: #007abf;“
}

.mostSharedArticles table td a,
.boxNews table td a,
.boxNews ul li a,
.boxNews ul li span.time {
    color: #333 !important;
}

.mostSharedArticles table td a:hover, 
.boxNews table td a:hover {
    color: #007abf !important;
}

.mostSharedArticles table td a.frontNewstickerMore {
    color: #007abf !important;
}

.mostSharedArticles table td a.frontNewstickerMore:hover {
    color: #333 !important;
}

#mainColLeft #mainColMiddle #bestOfFacebook ul li a:hover {
    color: #007abf;
}

#mainColLeft #mainColMiddle #recommendedStories .story p a:hover{    
    color: #007abf;
}


#mainColLeft #mainColMiddle a:hover span {
    color: #007abf;
}

#mainColLeft #mainColMiddle .boerse_box_small table.button tr {
    border-top: 1px solid #bfbfbf;
    border-bottom: 1px solid #bfbfbf;
}

#mainColLeft #mainColMiddle .TAMorgen {
    margin: 0;
}

#mainColLeft #mainColMiddle .TAMorgen .articleStory:before {
    content: "";
    display: block;
    width: 218px;
    border-top: 1px solid #797979;
    margin-bottom: 6px;
}

#mainColLeft #mainColMiddle .TAMorgen .articleStory {
    margin-bottom: 36px;
}

#mainColRight .sidelineBoxFront p a:hover,
#mainColRight .sidelineBoxFront p a:hover span {
    color: #007abf;
}

#mainColRight .smallTextBox a:hover,
#mainColRight .smallTextBox a:hover span,
.ressortRight .smallTextBox a:hover,
.ressortRight .smallTextBox a:hover span {
    color: #007abf;
}

.boxNews ul li a:hover,
#meistgelesen_rubrik ul li a:hover {
    color: #007abf;
}

.boxNews td,
.boxNews ul li,
#meistgelesen_rubrik ul li {
    border-bottom: 1px solid #bfbfbf;
}

.ressort .ressortMiddle h4 a:hover {
    color: #007abf;
}

.ressortRight h4 a:hover {
    color: #007abf;
}

.ressortRight .teaserEditorialContent .entitled.sportBox {
    position: relative;
    top: -40px;
}

.teaserEditorialContent .entitled.sportBox h4.title a {
    font-size: 18px !important;
    line-height: 20px !important;
    text-decoration: none;
}

.ressort .ressortRight.dasMagazin h5 a:hover {
    color: #007abf;
}

.mostDiscussedArticles td a:hover {
    color: #007abf;
}

.mostSharedArticles #mostPopular table td, 
.mostSharedArticles #newsTicker table td{
    border-top: 1px solid #bfbfbf;
    border-bottom: 1px solid #bfbfbf;
}


/*category(ressorts)*/
.dossiers .search .ui-tabs-nav li.ui-tabs-selected a {
    color: #007abf !important;
}

.letters ul li:hover {
    background-color: #007abf;
    border-color: #007abf;
}

h4 a.showMore {
    color: #007abf !important;
}

h4 a.showMore:hover {
    color: #333 !important;
}

.dossierDiashow p a:hover {
    color: #007abf !important;
}

#mainColLeft ul.ui-tabs-nav li a:hover {
    color: #007abf !important;
}

#slideshowOverview .slideshows .story p a:hover,
#slideshowOverview .slideshows.home .featureStory p a:hover {
    color: #007abf;
}

.multimediaNav a:hover {
    color: #007abf;
}

.diashowTeaser a:hover h4 span {
    color: #007abf;
}

/*Category Dossier, Weather Tabstyle2 for ui-tabs-nav*/
body > .tabStyle2 ul li a {
    color: #007abf;
}

/*category weather*/
#citySearch input[type=button] {
    background-color: #007abf;
}

#weatherZurich table td {
    border-top: 1px solid #bfbfbf;
    border-bottom: 1px solid #bfbfbf;
}

/*category dossiers*/
#mainContainer .articleStory h4 a.showMore {
    color: #007abf !important;
}

/*category ticker*/
.mainColLeftSection #fltrRessort a:hover {
    color: #007abf;
}

.mainColLeftSection #fltrRessort a.aktiv {
    color: #007abf;
}

/*category videos*/
.multimediaNav a.keyword {
    color: #007abf;
}

.descContainer .relatedVideo a.diashowLink:hover {
    color: #007abf;
}

/*category quiz*/
input.buttonQuiz,
.quizNavi input.submitAnswer,
.quizNavi input.nextQuestion {
    background-color: #007abf;
}

#quizQuestion .singleAnswer {
    border-bottom: 1px solid #bfbfbf;
}

#quizQuestion .singleAnswer:hover {
    background-color: #bfbfbf;
}

#quizQuestion .singleAnswer.marked {
    background-color: #bfbfbf;
    border: 1px solid #afafaf;  
}

.sheetComment {
    border-top: 1px solid #bfbfbf;
}

/*category sport*/
#panelTeam table.team tr th,
#panelRestProgramm table.all_games tr th {
    border-bottom: 1px solid #bfbfbf;
}

#panelTeam table.team tr td,
#panelRestProgramm table.all_games tr td {
    border-bottom: 1px solid #bfbfbf;
}

/*contextBox*/
#mainColRight .boxExclusiv .pollbox .storylink a {
    color: #007abf;
}

.teaserEditorialContent .leftCol ul .title,
.teaserEditorialContent .rightCol ul .title {
    border-top: 1px solid #bfbfbf;
}

/*article*/
#aside .author a.twitterLink {
    color: #007abf !important;
}

.relatedArticle h5 a:hover {
    color: #007abf;
}

.bottomLinks >div {
    border-top: 1px solid #797979;
}

#mainColBottomMore .bottomLinks .relatedThemaMedia p a:hover,
#mainColBottomMore .bottomLinks .relatedThemaMedia p a:hover span {
    color: #007abf;
}

#mainColBottomMore .bottomLinks .relatedThema .story p a:hover,
#mainColBottomMore .bottomLinks .relatedThema .story p a:hover span {
    color: #007abf;
}

#mainColBottomMorePublireportage,
#mainColBottom .relatedThema.extern,
#mainColBottomDiashow {
    border-top: 1px solid #797979;
}

#mainColBottom .blogArticles .story p a:hover {
    color: #007abf;
}

#googleAdSense {
    border-top: 1px solid #797979;
}

/*article context boxes*/
#mainColRight .relatedThemaMedia p a:hover {
    color: #007abf;
}

#mainColRight .contextBox .swissquote li {
    border-bottom: 1px solid #bfbfbf;
}

#mainColRight .contextBox.keywordBox ul li {
    border-bottom: 1px solid #bfbfbf;
}

#mainColRight .boxSportstable table th {
    border-bottom: 1px solid #bfbfbf;
}

#mainColRight .boxSportstable table td {
    border-bottom: 1px solid #bfbfbf;
}

/*trot(spickzettel)*/
.trot .circle {
    background-color: #007abf;
}

/*sideline, teasers*/
.publireportage {
    border-top: 1px solid #797979;
}

.teaserEditorialContent .leftCol ul li a,
.teaserEditorialContent .rightCol ul li a {
    color: #007abf !important;
}

.publireportage .publiBox h5 a:hover,
.publireportage .publiBox h5 a:hover nobr,
.teaserEditorialContent h4.title a:hover,
.teaserEditorialContent .publiBox a:hover {
    color: #007abf !important;
}

.teaserEditorialContent p a:hover,
.teaserEditorialContent p a:hover span {
    color: #007abf;
}

.boxExclusiv ul a:hover {
    color: #007abf;
}

.relatedArticle h5 a:hover {
    color: #007abf;
}

.bottomLinks .slideshows p:hover,
.bottomLinks .slideshows p:hover span,
.bottomLinks .videos p:hover,
.bottomLinks .videos p:hover span {
    color: #007abf;
}

.mktpImmo .icon-right {
    color: #007abf;
}

/* zhTipp */
#zhTipp span {
    font-family: "Benton Sans Cond";
}

#zhTipp li.zhTippIcon {
    list-style-type: none;
    background: url(http://files.newsnetz.ch/css/images/zhtipp.png) no-repeat top left;
    padding: 0 0 0 44px;
    min-height: 24px;
    font-size: 16px;
}

#zhTipp li a {
    font-family: "Benton Sans Cond";
    color: #333;
}

#zhTipp li a:hover {
    color: #007abf;
}

#zhTipp .ressortMiddle .featureStory {
    padding: 0;
    margin-bottom: 16px;
}

#zhTipp .ressortMiddle {
    margin: 0 24px 0 0;
}

#zhTipp .ressortMiddle .featureStory {
    padding: 0 12px;
}

#zhTipp .ressortLeft .featureStory {
    position: relative;
    bottom: 19px;
}

#zhTipp .ressortLeft .featureStory a img {
    margin: 0 0 8px 0 !important;
}

#zhTipp .ressortLeft .featureStory ul li {
    font-family: "Benton Sans Cond";
    font-size: 16px;
    line-height: 20px;
}

#zhTipp .ressortLeft .featureStory .overlappingIcon {
    position: relative;
    left: 10px;
    top: 10px;
}

#zhTipp .ressortRight .dasMagazin {
    margin: 0;
}

#article #meistgelesen_rubrik ul li a:hover {
    color: #007abf;
}

/* mainColRight contextBoxes */
#mainColRight .contextBox p.desc a:hover span {
    color: #007abf !important;
}

#mainColRight .contextBox a span ,
#mainColRight .contextBox a b {
    color: #007abf;
}

#mainColRight .contextBox a:hover span ,
#mainColRight .contextBox a:hover b {
    color: #333;
}

.relatedThemaMedia p a {
    color: #181818;
}

.relatedThemaMedia p a:hover span,
.relatedThemaMedia p a:hover {
    color: #007abf;
}

/*dealbreaker*/
.reportComment input[type="submit"] {
    background-color: #007abf;
}

/*recomends*/
.recommendCommentCountNumber:before,
.recommendCommentCountNumber.dislike:before {
    color: #007abf;
}

/*livericekr*/
.liveTicker #mainContent span.btnLiveTickerTicker.active,
.liveTicker #mainContent span.btnLiveTickerSocial.active {
    background-color: #007abf;
    color: #fff;
}

.NnLiveticker button {
    background-color: #007abf;
}

.NnLiveticker .NnDialog .NnIcon.closeIcon {
    color: #007abf;
}

/* footer */
#bottomNav li a:hover {
    color: #007abf;
}

#bottomNav li.active {
    color: #007abf;
}

/* comments */
#Nn2commentsContainer select {
    color: #007abf;
}

#Nn2commentsContainer input[type=submit] {
    background-color: #007abf;
}

#Nn2commentsContainer a:hover {
    color: #007abf;
}

#Nn2commentsContainer a span {
    color: #007abf;
}

#Nn2commentsContainer .NnIcon {
    color: #007abf;
}

/* social media */
.SocialMediaBox[content_typ='article_teaser'] .NnSocialMediaBox >div ul li a span {
    color: #007abf;
}

#mainColLeft #mainColMiddle .SocialMediaBox[content_typ='fb_populaer'] .NnLikeButton a:hover span {
    color: #fff;
}

html .bubbleLoader > div > div {
    background-color: #007abf;   
}

/* RateBox */

#rateBox .poll a {
    background-color: #007abf;
}

#rateBox .votes .bars .bar {
    background-color: #007abf;
}

#rateBox .votes .percents span {
    color: #333;
}

/* RateBox End */

/* Premium */

.premium {
    color: #007abf;
}

/* Premium End */
