/* Helpers */
a {
    color: #007abf;
    text-decoration: none;
}

a:hover nobr {
    color: #007abf;
}

a:hover span {
    color: #333;
}

a:hover {
    color: #333;
}

h3 a:hover {
    color: #007abf !important;
}

h4 {
    font-family: "Benton Sans Cond Black";
    font-size: 18px;
    line-height: 20px;
}

.blueTitle {
    font-family: "Benton Sans Cond";
    color: #007abf;
}

.icon {
    color: #007abf;
}

.icon-search:before {
    color: #007abf;
}

.icon-up:after {
    color: #007abf;
}

.blueKeyword {
    margin: 0 4px 0 0;
    color: #007abf;
    font-weight: bold !important;
    font-family: "Benton Sans Cond Black" !important;
}

.keyword a {
    color: #007abf;
}

.author a:hover {
    color: #007abf !important;
}

.greyBackground {
    background-color: #f5f5f5;
}

/* header & navigation*/
ul li a.active {
    color: #007abf !important;
}

#topNav {
    padding: 12px 0 4px 0;
    border-bottom: 1px solid #797979;
}

#topNav .loginNav .login a {
    background-color: #007abf;
}

#masthead {
    padding: 12px 0 0 0;
}

#masthead ul li#headerDate,
#masthead ul li#headerWeather {
    width: 156px;
    height: 90px;
}

#masthead li#headerWeather a span {
    color: #007abf;
}

#masthead ul li#tagiLogo {
    text-align: center;
}

#mainLogo {
    width: 414px;
    height: 80px;
}

#mainNav {
    border-bottom: 3px solid #333;
}

#mainNav li {
    font-family: "Benton Sans Cond Light";
    padding: 0 6px 0 0;
    font-size: 22px;
}

#mainNav li a:hover {
    color: #007abf;
}

#mainNav li a.active {
    font-family: "Benton Sans Cond Black";
    margin-top: 1px;
}

#mainNav .dropdownNavi ul li a {
    background-color: #007abf;
}

#subnavigation ul li {
    font-family: "Benton Sans Cond Light";
}

#subnavigation ul li a:hover {
    color: #007abf !important;
}

#subnavigation ul li a.active {
    font-family: "Benton Sans Cond Black";
}

#subnavigation ul li.moreCategory a {
    font-family: "Benton Sans Cond Black";
}

#mainNav .dropdownNavi ul li {
    font-family: "Benton Sans Cond";
}

#masthead ul li#tagiLogo.categoryLogo a img,
#masthead ul li#tagiLogo.articleLogo a img {
    width: 200px;
    height: 40px;
}

/*WM 2014*/
.WmSite #header #masthead ul li#tagiLogo {
    width: 420px;
}

.WmSite #header #masthead ul li#wmLogo {
    width: 558px;
    text-align: left;
}

.WmSite #header #masthead ul li#wmLogo img {
    width: 158px;
    margin-top: 4px;
}

.WmSite #subnavigation {
    background-image:url("/css/images/wm2014/banner_Navi_01.png");
    width: 100%;
    border-radius: 4px;
}

.WmSite #subnavigation ul {
    padding: 0 0 0 22px;
}

.WmSite #subnavigation ul li {
    padding-right: 28px;
    padding-bottom: 8px;
}

.WmSite #subnavigation ul li a {
    font-family: "Benton Sans Cond";
    font-size: 18px;
    color: #fff;
}

.WmSite #subnavigation ul li a div.arrow-up {
    position: relative;
    bottom: -12px;
}

.WmSite #subnavigation ul li a:hover {
    color: #fff !important;
}

.WmSite #subnavigation ul li a.active {
    color: #fff !important;
    font-family: "Benton Sans Cond Black";
}

.WmSite #subnavigation ul li a.active div.arrow-up { 
    margin: -10px auto 0;
}

.WmSite #subnavigation_tabs {
    padding: 14px 0 0 22px;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fff;
}

/* mainContainer Helpers */
#mainContainer .contextBoxTitle a,
#mainContainer .title a {
    color: #007abf;
}

#mainContainer .contextBoxTitle a:hover {
    color: #333;
}

h4.contextBoxTitle span a:hover {
    color: #007abf !important;
}

#mainContainer .greyBackground .articleStory h4 a:hover {
    color: #007abf !important;
}

.boerse_box h4 a.title {    
    color: #007abf !important;
}

#mainColLeft ul.ui-tabs-nav li.ui-tabs-selected a {
    color: #007abf !important;
}

/*front*/
#mostPopularLink:hover,
#newsTickerLink:hover {
    color: #007abf;“
}

.mostSharedArticles table td a:hover, 
.boxNews table td a:hover {
    color: #007abf !important;
}

.mostSharedArticles table td a.frontNewstickerMore {
    color: #007abf !important;
}

.mostSharedArticles table td a.frontNewstickerMore:hover {
	color: #333 !important;
}

#mainColLeft #mainColMiddle #bestOfFacebook ul li a:hover {
    color: #007abf;
}

#mainColLeft #mainColMiddle #recommendedStories .story p a:hover{    
    color: #007abf;
}


#mainColLeft #mainColMiddle a:hover span {
    color: #007abf;
}

#mainColLeft #mainColMiddle .greyBackground h4.contextBoxTitle a {
    font-family: "Benton Sans Cond Black";
}

#mainColLeft #mainColMiddle .boerse_box_small table.button tr {
    border-top: 1px solid #bfbfbf;
    border-bottom: 1px solid #bfbfbf;
}

#mainColRight .sidelineBoxFront p a:hover,
#mainColRight .sidelineBoxFront p a:hover span {
    color: #007abf;
}

#mainColRight .smallTextBox a:hover,
#mainColRight .smallTextBox a:hover span {
    color: #007abf;
}

.boxNews ul li a:hover,
#meistgelesen_rubrik ul li a:hover {
    color: #007abf;
}

.boxNews td,
.boxNews ul li,
#meistgelesen_rubrik ul li {
    border-bottom: 1px solid #bfbfbf;
}

.ressort .ressortMiddle h4 a:hover {
    color: #007abf;
}

.ressortRight h4 a:hover {
    color: #007abf;
}

.ressort .ressortRight.dasMagazin h5 a:hover {
    color: #007abf;
}

.mostDiscussedArticles td a:hover {
    color: #007abf;
}

.mostSharedArticles #mostPopular table td, 
.mostSharedArticles #newsTicker table td{
    border-top: 1px solid #bfbfbf;
    border-bottom: 1px solid #bfbfbf;
}


/*category(ressorts)*/
.dossiers .search .ui-tabs-nav li.ui-tabs-selected a {
    color: #007abf !important;
}

.letters ul li:hover {
    background-color: #007abf;
    border-color: #007abf;
}

h4 a.showMore {
    color: #007abf !important;
}

h4 a.showMore:hover {
    color: #333 !important;
}

.dossierDiashow p a:hover {
    color: #007abf !important;
}

#mainColLeft ul.ui-tabs-nav li a:hover {
    color: #007abf !important;
}

#slideshowOverview .slideshows .story p a:hover,
#slideshowOverview .slideshows.home .featureStory p a:hover {
    color: #007abf;
}

.multimediaNav a:hover {
    color: #007abf;
}

.diashowTeaser a:hover h4 span {
    color: #007abf;
}

/*Category Dossier, Weather Tabstyle2 for ui-tabs-nav*/
body > .tabStyle2 ul li a {
    color: #007abf;
}

/*category weather*/
#citySearch input[type=button] {
    background-color: #007abf;
}

#weatherZurich table td {
    border-top: 1px solid #bfbfbf;
    border-bottom: 1px solid #bfbfbf;
}

/*category dossiers*/
#mainContainer .articleStory h4 a.showMore {
    color: #007abf !important;
}

/*category ticker*/
.mainColLeftSection #fltrRessort a:hover {
    color: #007abf;
}

.mainColLeftSection #fltrRessort a.aktiv {
    font-family: "Benton Sans Cond Black";
    color: #007abf;
}

/*category videos*/
.multimediaNav a.keyword {
    color: #007abf;
}

/*category quiz*/
input.buttonQuiz,
.quizNavi input.submitAnswer,
.quizNavi input.nextQuestion {
    background-color: #007abf;
}

#quizQuestion .singleAnswer {
    border-bottom: 1px solid #bfbfbf;
}

#quizQuestion .singleAnswer:hover {
    background-color: #bfbfbf;
}

#quizQuestion .singleAnswer.marked {
    background-color: #bfbfbf;
    border: 1px solid #afafaf;  
}

.sheetComment {
    border-top: 1px solid #bfbfbf;
}

/*category sport*/
#panelTeam table.team tr th,
#panelRestProgramm table.all_games tr th {
    border-bottom: 1px solid #bfbfbf;
}

#panelTeam table.team tr td,
#panelRestProgramm table.all_games tr td {
    border-bottom: 1px solid #bfbfbf;
}

/*contextBox*/
#mainColRight .contextBox h4,
#mainColRight >div.pollBox h4.title,
#mainColLeft #mainColMiddle .boerse_box_small h4 {
    font-family: "Benton Sans Cond Black";
}

#mainColRight .boxExclusiv .pollbox .storylink a {
    color: #007abf;
}

.teaserEditorialContent .entitled.sportBox h4.title a {
    font-family: "Benton Sans Cond Black" !important;
}

.teaserEditorialContent .entitled.sportBox h4.title a span {
    font-family: "Benton Sans Cond Light" !important;
}

.teaserEditorialContent .leftCol ul .title,
.teaserEditorialContent .rightCol ul .title {
    border-top: 1px solid #bfbfbf;
}

h4.contextBoxTitle span,
h4.contextBoxTitle span a {
    font-family: "Benton Sans Cond";
}

/*boersenBox provisorisch*/
#mainColLeft #mainColMiddle h1 {
    font-family: "Benton Sans Cond Black";
    color: #007abf;
}

/*article*/
#aside .author a.twitterLink {
    color: #007abf !important;
}

.relatedArticle h5 a:hover {
    color: #007abf;
}

.bottomLinks >div {
    border-top: 1px solid #797979;
}

#mainColBottomMore .bottomLinks .relatedThemaMedia p a:hover,
#mainColBottomMore .bottomLinks .relatedThemaMedia p a:hover span {
    color: #007abf;
}

#mainColBottomMore .bottomLinks .relatedThema .story p a:hover,
#mainColBottomMore .bottomLinks .relatedThema .story p a:hover span {
    color: #007abf;
}

#mainColBottomMorePublireportage {
    border-top: 1px solid #797979;
}

#mainColBottomDiashow {
    border-top: 1px solid #797979;
}

#googleAdSense {
    border-top: 1px solid #797979;
}

/*article context boxes*/
#mainColRight .relatedThemaMedia p a:hover {
    color: #007abf;
}

#mainColRight .contextBox #pollBox label,
#mainColRight .boxExclusiv .pollbox form label {
    border-bottom: 1px solid #bfbfbf;
}

#mainColRight .voteBar .widthResult div {
    background-color: #bfbfbf;
}

#mainColRight .contextBox .swissquote li {
    border-bottom: 1px solid #bfbfbf;
}

#mainColRight .contextBox.keywordBox ul li {
    border-bottom: 1px solid #bfbfbf;
}

#mainColRight .boxSportstable table th {
    border-bottom: 1px solid #bfbfbf;
}

#mainColRight .boxSportstable table td {
    border-bottom: 1px solid #bfbfbf;
}

/*trot(spickzettel)*/
.trot .circle {
    background-color: #007abf;
}

/*sideline, teasers*/
.publireportage {
    border-top: 1px solid #797979;
}

.teaserEditorialContent .leftCol ul li a,
.teaserEditorialContent .rightCol ul li a {
    color: #007abf !important;
}

.publireportage .publiBox h5 a:hover,
.publireportage .publiBox h5 a:hover nobr,
.teaserEditorialContent h4.title a:hover,
.teaserEditorialContent .publiBox a:hover {
    color: #007abf !important;
}

.teaserEditorialContent p a:hover,
.teaserEditorialContent p a:hover span {
    color: #007abf;
}

.boxExclusiv ul a:hover {
    color: #007abf;
}

.relatedArticle h5 a:hover {
    color: #007abf;
}

.bottomLinks .slideshows p:hover,
.bottomLinks .slideshows p:hover span,
.bottomLinks .videos p:hover,
.bottomLinks .videos p:hover span {
    color: #007abf;
}

.mktpImmo .icon-right {
    color: #007abf;
}

/* zhTipp */
#zhTipp span {
    font-family: "Benton Sans Cond";
}

#zhTipp li.zhTippIcon {
    list-style-type: none;
    background: url(https://files.newsnetz.ch/css/images/zhtipp.png) no-repeat top left;
    padding: 0 0 0 44px;
    min-height: 24px;
    font-size: 16px;
}

#zhTipp li a {
    font-family: "Benton Sans Cond";
    color: #333;
}

#zhTipp li a:hover {
    color: #007abf;
}

#zhTipp .ressortLeft .featureStory {
    padding: 0;
    margin-bottom: 16px;
}

#zhTipp .ressortMiddle {
    margin: 0 24px 0 0;
}

#zhTipp .ressortMiddle .featureStory {
    padding: 0 12px;
    position: relative;
    top: -12px;
}

#zhTipp .ressortMiddle .featureStory a img {
    margin: 0 0 8px 0 !important;
}

#zhTipp .ressortMiddle .featureStory ul {
    position: relative;
    top: -22px;
}

#zhTipp .ressortMiddle .featureStory ul li {
    font-family: "Benton Sans Cond";
    font-size: 16px;
    line-height: 20px;
}

#zhTipp .ressortMiddle .featureStory .overlappingIcon {
    position: relative;
    left: -4px;
}

#zhTipp .ressortRight .dasMagazin {
    margin: 0;
}

#article #meistgelesen_rubrik ul li a:hover {
    color: #007abf;
}

/* mainColRight contextBoxes */
#mainColRight .contextBox p.desc a:hover span {
    color: #007abf !important;
}

#mainColRight .contextBox a span ,
#mainColRight .contextBox a b {
    color: #007abf;
}

#mainColRight .contextBox a:hover span ,
#mainColRight .contextBox a:hover b {
    color: #333;
}

.relatedThemaMedia p a {
    color: #333;
}

.relatedThemaMedia p a:hover span,
.relatedThemaMedia p a:hover {
    color: #007abf;
}

/*dealbreaker*/
.reportComment input[type="submit"] {
    background-color: #007abf;
}

/*recomends*/
.recommendCommentCountNumber:before,
.recommendCommentCountNumber.dislike:before {
    color: #007abf;
}

/*livericekr*/
.liveTicker #mainContent span.btnLiveTickerTicker.active,
.liveTicker #mainContent span.btnLiveTickerSocial.active {
    font-family: "Benton Sans Cond Black";
    background-color: #007abf;
    color: #fff;
}

/* footer */
#bottomNav li a:hover {
    color: #007abf;
}

#bottomNav li.active {
    color: #007abf;
}