@charset "utf-8";
/* CSS Document */
@font-face {
	font-family: 'GothamBoldRegular';
	src: url('gothambold-webfont.eot');
	src: url('gothambold-webfont.eot?#iefix') format('embedded-opentype'), url('gothambold-webfont.woff') format('woff'),
		url('gothambold-webfont.ttf') format('truetype'), url('gothambold-webfont.svg#GothamBoldRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GothamBoldItalic';
	src: url('gothambold-italic-webfont.eot');
	src: url('gothambold-italic-webfont.eot?#iefix') format('embedded-opentype'), url('gothambold-italic-webfont.woff')
		format('woff'), url('gothambold-italic-webfont.ttf') format('truetype'),
		url('gothambold-italic-webfont.svg#GothamBoldItalic') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* RESET */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p,
	blockquote, th, td, input:focus {
	margin: 0;
	padding: 0;
	outline: none;
}

/* STYLE */
body {
	font-size: 13px;
	color: #20303A;
	background: #fff;
	font-family: Arial, Helvetica, sans-serif;
}

.header-bar {
	background: #fc8a00; /* Old browsers */
	background: -moz-linear-gradient(top, #fc8a00 0%, #fc7500 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fc8a00), color-stop(100%, #fc7500));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fc8a00 0%, #fc7500 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fc8a00 0%, #fc7500 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fc8a00 0%, #fc7500 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fc8a00 0%, #fc7500 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc8a00', endColorstr='#fc7500', GradientType=0);
	/* IE6-9 */
}

.rotativo {
	background: url(images/top-img.png) center no-repeat #000;
	-webkit-box-shadow: inset 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
	height: 450px
}

.rotativo-quemsomos {
	background: url(images/quem-somos.jpg) bottom no-repeat #000;
	-webkit-box-shadow: inset 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
	height: 150px;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
}

.clr {
	clear: both;
}

.logotipo {
	margin: 0 0 0 -15px;
	float: left;
	position: absolute;
}

.menu {
	font-family: 'GothamBoldRegular', Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #fff;
	position: relative;
	float: right;
	border-left: 1px solid rgba(0, 0, 0, 0.1);
	border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.menu li {
	list-style: none;
	float: left;
	text-transform: uppercase;
	letter-spacing: 0em;
	border-right: 1px solid rgba(0, 0, 0, 0.1);
	border-left: 1px solid rgba(255, 255, 255, 0.3);
}

.menu li a {
	color: #fff;
	text-decoration: none;
	line-height: 17px;
	padding: 42px 25px;
	display: block;
}

.menu li a:hover {
	background: #b55400;
	color: #fff;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

.caption {
	font-family: 'GothamBoldRegular', Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	width: 590px;
	top: 250px;
	position: relative;
}

.caption h2, .caption-quemsomos h2 {
	font-size: 36px;
	line-height: 120%;
	color: #fff;
	background: rgba(0, 0, 0, 0.9);
	padding: 10px;
	letter-spacing: -0.09em;
	border-top: 4px solid #fc7500;
}

.caption h2 strong, .caption-quemsomos h2 strong {
	color: #fc7500;
}

.caption-quemsomos {
	font-family: 'GothamBoldRegular', Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	position: relative;
	display: inline-block;
	top: 60px;
}

.formulario {
	background: #fc7500;
	padding: 2px;
	color: #fff;
}

.formulario-contact {
	background: #fff;
	padding: 2px;
}

.colunas {
	width: 310px;
	float: left;
}

.colunas-dupla {
	width: 615px;
	float: left;
}

.marginright {
	margin-right: 15px;
}

.mail-icon {
	background: #fc7500;
	padding: 7px 10px;
	float: right;
	position: relative;
	margin-top: -32px;
}

h3 {
	font-family: 'GothamBoldRegular', Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	font-size: 32px;
	letter-spacing: -0.09em;
	color: #fc7500;
}

.formulario h3 {
	color: #fff;
	margin: 7px 0;
}

.formulario-contact h3 {
	color: #fc7500;
	margin: 7px 0;
	font-size: 32px;
}

.colunas h3, .colunas-dupla h3 {
	color: #fc7500;
	font-size: 32px;
}

.contactform {
	display: none;
	padding: 20px 0;
}

.form .input {
	border: 1px solid #ddd;
	background: #efefef;
	background: -moz-linear-gradient(top, #efefef 0%, #ffffff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #efefef), color-stop(100%, #ffffff));
	background: -webkit-linear-gradient(top, #efefef 0%, #ffffff 100%);
	background: -o-linear-gradient(top, #efefef 0%, #ffffff 100%);
	background: -ms-linear-gradient(top, #efefef 0%, #ffffff 100%);
	background: linear-gradient(top, #efefef 0%, #ffffff 100%);
	-webkit-box-shadow: inset 2px 2px 4px 0px rgba(0, 0, 0, .1);
	-moz-box-shadow: inset 2px 2px 4px 0px rgba(0, 0, 0, .1);
	box-shadow: inset 2px 2px 4px 0px rgba(0, 0, 0, .1);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: 3px 0;
	padding: 10px;
	color: #666666;
	width: 290px;
}

.form .input:focus {
	border: 1px solid #4c0855;
	background: #fff;
}

.textarea {
	height: 160px;
}

.hr-triplo {
	border: 0;
	margin: 10px 0;
	padding: 0;
	height: 10px;
	background: url(images/hr-dot.png);
}

.content .wrapper .colunas p, .colunas-dupla p {
	margin: 15px 0;
}

.colunas-dupla p a {
	color: #fc7500;
	text-decoration: underline;
}

.footer {
	background: #222222; /* Old browsers */
}

.logo-footer {
	float: left;
	margin: 20px 0 0;
	width: 30%;
}

.text-footer {
	float: right;
	color: #fff;
	width: 570px;
	text-align: right;
	margin: 30px 0;
}