/*
Theme Name: I-Video
Theme URI: https://wordpress.org/themes/i-video/
Author: Galaxyonlove
Author URI: https://wordpress.org/
Description: simple embed video theme
Version: 1.2
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: ivideo

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

/* links */
a{color: #3A3C3D;outline:none;}
a:hover{color:#ed1e24;text-decoration:none;}
*{text-decoration:none;}
/* headings */
h1{font-weight:normal;font-size: 215%;letter-spacing:-.04em;line-height:100%;margin:.8em 0 .2em;letter-spacing:-0.04em;}
h2{font-weight:normal;font-size:200%;letter-spacing:-.04em;line-height:110%;margin:.7em 0 .2em;letter-spacing:-0.03em;}
h3{font-size:160%;font-weight:normal;letter-spacing:-.04em;line-height:110%;margin:.7em 0 .2em;letter-spacing:-0.02em;}
h4{font-size:140%;font-weight:bold;margin:.7em 0 .2em;letter-spacing:-0.02em;}
h5{font-family:"Palatino Linotype", Georgia, Serif;font-size:140%;font-weight:bold;margin:.5em 0 .2em;letter-spacing:-0.02em;}
h6{font-size:120%;font-weight:normal;text-transform:uppercase;margin:.5em 0 .2em;}
body{
	background:url(images/white_sand.png);
}
#page{
	width:65%;
	max-width:980px;
	margin:0 auto;
}
#header{}
.site-title, .entry-title, .site-info{
	text-align:center;
}
.site-title{
background:#fff;
}
#site-title{
	margin:0;
	width:100%;
	padding: 10px 0;
	font-size: 17px;
	text-transform:uppercase;
}
.entry-title{
	background:#fff;
	font-size: 20px;
	padding: 10px 0;
	font-weight:bold;
}
 .site-info{
	font-size: 17px;
margin-top:25px;
}

iframe{ 
width:100%;
	margin:0 auto;
	display: block;
}
.entry-content{
	background:#fff;
}
.commentlist{
	  background: #FFF;
  padding: 10px 25px;
}

@media screen and (max-width:640px){
	#page {
  width: 90%;
  margin: 0 auto;
}
}