/* ==============================================================
	START: SVET NEWS TICKER
============================================================*/

.svet-ticker {
	background: url("/static/slo/main/img/24ur_ticker/24urticker-bg.png") no-repeat 0 0;
	color: #fff;
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	height: 40px;
	margin: 10px auto 0 auto;
	/*margin-top: 10px;
	margin-bottom: 0px;*/
		
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	transition: all 0.4s ease 0s;
	overflow: hidden;
	z-index: 1000;
	position: relative;
	width: 980px;
}

.svet-ticker.live {
	background: url("/static/slo/main/img/24ur_ticker/24urticker-live-bg.png") no-repeat 0 0;
}

.svet-ticker-bg {
	background: url("/static/slo/main/img/24ur_ticker/24urticker-overlay.png") no-repeat 0 0;
	color: #fff;
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	height: 40px;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	    
	transition: all 0.4s ease 0s;
	padding-left: 280px;
	overflow: hidden;
	position: absolute;
	width: 700px;
}

.svet-ticker.live .svet-ticker-bg {
	background: url("/static/slo/main/img/24ur_ticker/24urticker-live-overlay.png") no-repeat 0 0;
	padding-left: 300px;
	width: 680px;
}


.svet-ticker:hover {
	box-shadow: 0 0 10px #2b3ea8;
}

.svet-ticker .container {
	height: 40px;
	width: 8000px;
	z-index: 500;
	padding-left: 300px;
}

.svet-ticker span{
	line-height: 40px;
	margin-right: 30px;
}
   
/* ==============================================================
   	END: SVET NEWS TICKER
============================================================*/