/* START: Chat box */
#chat .content .chat { background: url(/static/slo/main/img/backgrounds/chat_speech_bubble.gif) no-repeat 0 0 }

#chat .content .chat img { margin: 12px 0 18px 12px }

#chat .content .chat h2 {
	font-size: 16px;
	font-weight: normal;
	background: url(/static/slo/main/img/backgrounds/chat_person.gif) no-repeat 0 2px;
	padding: 0 0 0 22px;
	margin: 0 0 3px 0;
}

#chat .content .chat h2 a {
	color: #0f3da1;
	text-decoration: none;
}

#chat .content .chat h2 a:hover { text-decoration: underline }


#chat .content .chat p {
	font-size: 11px;
	padding: 0 0 0 23px;
	margin: 0 0 5px 0;
}

#chat .content .chat .promo {
	display: block;
	background: url(/static/slo/main/img/backgrounds/chat_time.gif) no-repeat 0 0;
	font-size: 12px;
	padding: 0 0 0 23px;
	margin: 0;
}

#chat .content .chat .live {
	display: block;
	height: 19px;
	background: url(/static/slo/main/img/backgrounds/chat_live.gif) no-repeat;
	font-size: 13px;
	text-align: center;
	color: #fff;
	padding: 3px 0 0 0;
	margin: 0 0 10px 23px;
}
/* END: Chat box */