/* Common for 24ur.com */

/* START: Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}
/* END: Clearfix */

/* START: PNGfix */
.pngfix { behavior: url("/static/shared/js/iepngfix.htc"); }
/* END: PNGfix */

a:active { outline: none }
a:focus { -moz-outline-style: none }

/* START: Search */
#rightsearch {
	width: 285px;
	height: 51px;
	background: url("/static/slo/main/img/backgrounds/right_search.gif") no-repeat;
	padding: 7px 0 0 35px;
	color: #000000;
	margin: 0px 0 0;
}

#rightsearch form input { float: none; }

#rightsearch form input.value { float: left; }

#rightsearch form .select {
	clear: both;
	margin: 0 0 0 56px;
}

#rightsearch form .select input {
	width: auto;
	margin: 0;
	padding: 0;
}

#rightsearch form {
	display: inline;
	margin: 0;
	padding: 0;
}

#rightsearch form .select img { margin: 0 20px 0 0; }
/* END: Search */

/* START: Videobox */
#widebox .top { background: url("/static/slo/main/img/backgrounds/wothertop.gif") no-repeat; }

#widebox .middle { background: url("/static/slo/main/img/backgrounds/wothercen.gif") repeat-y; }

#widebox .bottom { background: url("/static/slo/main/img/backgrounds/wotherbot.gif") no-repeat; }

#widebox li h4 { background: url("/static/slo/img/backgrounds/right_other_tbottitle_off.gif") no-repeat; }

#widebox li .content { background: url("/static/shared/img/backgrounds/right_other_tbotcontent.gif") repeat-y; }

#widebox li .end { background: url("/static/shared/img/backgrounds/right_other_tbotend.gif") no-repeat; }
/* END: Videobox */

/* START: Buttons (BASIC) */
.buttons .video a {
	display: block;
	background: url("/static/slo/main/img/backgrounds/video.gif") no-repeat;
	text-decoration: underline;
	color: #797979;
	padding: 4px 0 0 24px;
}

.buttons .video a:hover {
	text-decoration: none;
	color: #000;
}

.buttons .audio a {
	display: block;
	background: url("/static/slo/main/img/backgrounds/audio.png") no-repeat 0 2px;
	text-decoration: none;
	color: #797979;
	padding: 0 0 0 12px;
}

.buttons .audio a:hover {
	text-decoration: none;
	color: #000;
}

.buttons .foto a {
	display: block;
	background: url("/static/slo/main/img/backgrounds/foto.png") no-repeat 0 2px;
	text-decoration: none;
	color: #797979;
	padding: 0 0 0 16px;
}

.buttons .foto a:hover {
	text-decoration: none;
	color: #000;
}
/* START: Buttons (BASIC) */

/* START: Comments cloud */
.commentsCloud .commentsCloudContent a {
	float: right;
	height: 22px;
	background: transparent url('/static/slo/main/img/backgrounds/cloud_comments_primary_background.gif') no-repeat top left;
	color: #ffffff;
	text-decoration: none;
	line-height: 15px;
	margin: 3px 7px 0 7px;
	padding: 0 0 0 13px;
}

.commentsCloud .commentsCloudContent a span {
	display: block;
	background: transparent url('/static/slo/main/img/backgrounds/cloud_comments_secondary_background.gif') no-repeat top right;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 0 5px 7px 5px;
}

.commentsCloud .commentsCloudContent a:hover {
	text-decoration: underline;
	color: #ffffff;
}
/* END: Comments cloud */

/* START: News video */
#newsvideo {
	width: 650px;
	clear: both;
	padding: 0;
	margin: 0 0 7px 0;
}

#newsvideo .head {
	padding: 0 0 5px;
	width: 650px;
	background: #3b3b3b url("/static/slo/main/img/backgrounds/newsvideo_head.gif") no-repeat;
}

#newsvideo .head h2 {
	color: #ffffff;
	float: left;
	font-size: 18px;
	font-weight: normal;
	padding: 10px 30px 0 20px;
}

#newsvideo .head h2 a {
	color: #ffffff;
	float: left;
	font-size: 18px;
	font-weight: normal;
}

#newsvideo .head #menu {
	position: relative; /* important */  
	overflow: hidden; /* important */
	width: 463px;
	float: left;
}

#newsvideo .head #menu ul {
	float: none;
	position: relative;
	left: 0;
	height: 27px;
	white-space: nowrap;
	margin: 0px;
}

#newsvideo .head #menu .selected { text-decoration: underline; }

#newsvideo .head ul {
	float: left;
	padding: 12px 0px 0px 0px;
	margin: 0px;
}

#newsvideo .head ul li {
	height: 15px;	
	background: url("/static/slo/main/img/backgrounds/newsvideo_menu_bg1.gif") no-repeat;
	padding: 0 12px 0 12px;
	display: inline;
	white-space: none;
}

#newsvideo .head ul li a {
	color: #ffffff;	
	font-size: 11px;
}

#newsvideo .head ul li.left { padding: 0; }

#newsvideo .head ul li.left a {
	display: block;
	height: 15px;
	width: 15px;
	background: url("/static/slo/main/img/backgrounds/newsvideo_menu_left.gif") no-repeat;	
}

#newsvideo .head ul li.left a:hover { background: url("/static/slo/main/img/backgrounds/newsvideo_menu_left_h.gif") no-repeat;	 }

#newsvideo .head ul li.right { padding: 0; }

#newsvideo .head ul li.right a {
	display: block;
	height: 15px;
	width: 15px;
	background: url("/static/slo/main/img/backgrounds/newsvideo_menu_right.gif") no-repeat;	
}

#newsvideo .head ul li.right a:hover { background: url("/static/slo/main/img/backgrounds/newsvideo_menu_right_h.gif") no-repeat; }

#newsvideo .head ul li.first { background: url("/static/slo/main/img/backgrounds/newsvideo_menu_bg.gif") repeat-x; }

#newsvideo .content {
	width: 650px;
	background: url("/static/slo/main/img/backgrounds/newsvideo_content_bg.gif") repeat-y;
	clear: both;
}

#newsvideo .content .pagelister { float: none; }

#newsvideo .content .big {
	width: 214px;
	float: left;
	padding: 0 0 10px 0;
}

#newsvideo .content .big .picture { padding: 10px 0 0 20px; }

#newsvideo .content .big h2 {
	padding: 5px 15px 5px 20px;
	font-size: 16px;
	color: #ffffff;
}

#newsvideo .content .big h2 a {
	padding: 0;
	font-size: 14px;
	font-weight: bold;
	color: #ffffff;
}

#newsvideo .content .big h5 {
	padding: 0 15px 5px 20px;
	font-size: 11px;
	color: #8e8e8e;
	font-weight: normal;
}

#newsvideo .content .big h4 {
	padding: 0 15px 5px 20px;
	font-size: 12px;
	color: #dddddd;
	font-weight: normal;
	line-height: 16px;
}

#newsvideo .content .small {
	width: 436px;
	float: left;
	padding-bottom: 10px;
}

#newsvideo .content .small ul {
	width: 436px;
	list-style-type: none;
	padding: 10px 0 0 0px;
	margin: 0;
}

#newsvideo .content .small ul li {
	float: left;
	width: 106px;
	border-right: 1px solid #434343;
	margin-bottom: 18px;
}

#newsvideo .content .small ul li .picture { padding: 0 0 3px 7px; }

#newsvideo .content .small ul li h4 {
	color: #bbbbbb;
	font-size: 11px;
	font-weight: normal;
	padding: 0 7px 2px 7px;
	line-height: 14px;
}

#newsvideo .content .small ul li h4 a {
	color: #bbbbbb;
	font-size: 11px;
	font-weight: normal;
	padding: 0;
}

#newsvideo .content .small ul li h5 {
	color: #838383;
	font-size: 9px;
	font-weight: normal;
	padding: 0 7px 0 7px;
}

#newsvideo .content .small ul li.last { border: 1px none red; }

/* Start: Predefinition of some classes from default page navigator */
#newsvideo .pagelister { 
	margin: 0 0 0 20px;
	padding: 0 0 10px 0;
}

#newsvideo .pagelister .first a,
#newsvideo .pagelister .previous a,
#newsvideo .pagelister .next a,
#newsvideo .pagelister .last a {
	color: #ffffff;
	padding: 3px 3px 2px 2px;
}

#newsvideo .pagelister span.selected {
	color: #ffffff;
	border: 1px solid #e2e2e2;
	padding: 3px 8px 3px 7px;
}
/* End: Predefinition of some classes from default page navigator */

#newsvideo .end {
	width: 650px;
	height: 5px;
	overflow: hidden; 
	background: url("/static/slo/main/img/backgrounds/newsvideo_end_bg.gif") no-repeat;	
	clear: both;
}
/* END: News video */

/* START: Predefinition of some classes from /static/shared/css/common.css */
#rightmultiblock .middle .full {
	margin: 0;
	padding: 0 0 0 10px;
}

#rightmultiblock .double_smallbox {
	width: 300px;
	margin: 0 0 7px 0;
}

#rightmultiblock .middle .left,
#rightmultiblock .middle .right {
	width: 145px;
	margin: 0 0 0 10px;
}

#rightmultiblock .middle .smallbox { width: 145px; }

#rightmultiblock .middle .left .smallbox { margin: 0; }

#rightmultiblock .middle { padding: 5px 0 0 0; }

ul#rubric .center p {
	margin: 2px 0 0;
}

ul#rubric .center p { padding: 0 0 3px; }

#thematical_news .content {
	font-family: Arial, Helvetica, sans-serif;
}
/* END: Predefinition of some classes from /static/shared/css/common.css */

#newsarchive ul li a, #newsarchive_page ul li a {
	display: block;
	font-size: 12px;
	font-weight: bold;
	padding: 0 0 4px 10px;
	
}

/* START: Default page navigator */
.sortPageLister {
	margin: 15px 0;
	float: left;
}

.pagelister h4 {
	font-size: 12px;
	font-weight: normal;
	float: left;
	padding: 0 17px 0 0;
}

.pagelister {
	font-size: 11px;
	margin: 5px 0;
	padding: 4px 0;
}

.pagelister a,
.pagelister a:hover { font-size: 11px; }

.pagelister span {
	margin: 0;
	padding: 0;
}

.pagelister .first a,
.pagelister .previous a,
.pagelister .next a,
.pagelister .last a { padding: 3px 3px 2px 2px; }

.pagelister .normal a {
	background: #e2e2e2;
	padding: 3px 6px 2px 5px;
}

.pagelister .normal a:hover {
	background: #C6C6C6;
	text-decoration: none;
	color: #ffffff;
}

.pagelister span.selected {
	color: #00429b;
	border: 1px solid #e2e2e2;
	padding: 3px 8px 3px 7px;
}
/* END: Default page navigator */






/* ---- Celeia Poll ---- */

/*
#rightmultiblock .double_smallbox.celeia {
	background: url("/static/slo/main/img/box/right/celeia/celeia-bg.png") center top no-repeat;
	height: 584px;
}

#rightmultiblock .double_smallbox.celeia .link h4 {
    background: none;
    display: block;
    min-height: 15px;
}

#rightmultiblock .double_smallbox.celeia .link h4 a {
    background: none repeat scroll 0 0 transparent;
    color: #00713d;
    display: block;
    height: 16px;
    margin: -7px -30px 264px -13px;
    padding: 7px 30px 7px 13px;
    position: relative;
    text-indent: inherit;
    width: 250px;
}

#rightmultiblock .double_smallbox.celeia .content {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    overflow: hidden;
    position: relative;
    height: 309px;
}

#rightmultiblock .double_smallbox.celeia .end {
    background: none;
    height: 200px;
}

#rightmultiblock .double_smallbox.celeia .fieldset > h3 {
    display: none !important;
}

#fixedpoll.celeia label {
    color: #00723f;
    display: block;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: lighter;
    line-height: 16px;
    margin: 0 0 12px 5px;
}

#fixedpoll.celeia label:hover {
    color: #00331c;
    display: block;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: lighter;
    line-height: 16px;
    margin: 0 0 12px 5px;
}

#fixedpoll.celeia .fieldset {
    font-size: 12px;
    margin: 0 0 104px;
    position: relative;
}

#fixedpoll.celeia .buttons {
    float: left;
    left: 70px;
    position: absolute;
    top: 222px;
    width: 176px;
}




#fixedpoll.celeia .buttons a.female, #fixedpoll.celeia .buttonsTop a.female {
    background: url("/static/slo/main/img/box/right/celeia/zenski-btn.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    display: block;
    float: left;
    height: 31px;
    margin: 0 7px 0 0;
    overflow: hidden;
    padding: 0;
    text-decoration: none;
    text-indent: 100%;
    white-space: nowrap;
    width: 81px;
    
      -webkit-transition: all 0.3s ease-in-out;
	  -moz-transition: all 0.3s ease-in-out;
	  -o-transition: all 0.3s ease-in-out;
	  transition: all 0.3s ease-in-out;
    
}

#fixedpoll.celeia .buttons a.male, #fixedpoll.celeia .buttonsTop a.male {
    background: url("/static/slo/main/img/box/right/celeia/moski-btn.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    display: block;
    float: left;
    height: 31px;
    margin: 0 7px 0 0;
    overflow: hidden;
    padding: 0;
    text-decoration: none;
    text-indent: 100%;
    white-space: nowrap;
    width: 81px;
    
	  -webkit-transition: all 0.3s ease-in-out;
	  -moz-transition: all 0.3s ease-in-out;
	  -o-transition: all 0.3s ease-in-out;
	  transition: all 0.3s ease-in-out;
    
}

#fixedpoll.celeia .buttons a.male:hover, #fixedpoll.celeia .buttonsTop a.male:hover,
#fixedpoll.celeia .buttons a.female:hover, #fixedpoll.celeia .buttonsTop a.female:hover {
    opacity: 0.7;
    
    
}

#fixedpoll.celeia .controls a {
    background: url("/static/slo/main/img/box/rightmini/icon_archive.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #00713d;
    display: block;
    height: 16px;
    padding: 0 0 0 20px;
}

#fixedpoll.celeia .controls a:hover, #fixedpoll.celeia .article a {
    color: #002b18;
}

#fixedpoll.celeia .controls {
    float: left;
    margin: 0 0 0 8px;
}


#fixedpoll.celeia .article {
    margin-left: 8px;
}

#fixedpoll.celeia .article a {
    color: #00713d;
}


#fixedpoll.celeia #fixedpoll_already_voted > h3 {
    display: none;
}

#fixedpoll.celeia .answer_result {
    margin: 0 0 3px;
}

#fixedpoll.celeia .answer_result .option {
    color: #00331c;
    float: left;
    font-size: 11px;
}

#fixedpoll.celeia .buttons a.total, #fixedpoll.celeia .buttonsTop a.total {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    color: #00703e !important;
    display: block;
    float: left;
    font-weight: bold;
    height: 16px;
    margin: 0 7px 0 0;
    padding: 0;
    text-decoration: none;
    text-transform: uppercase;
}

#fixedpoll.celeia .buttonsTop {
    float: left;
    left: 27px;
    line-height: 34px;
    position: absolute;
    top: 222px;
    vertical-align: middle;
    width: 228px;
}

#fixedpoll.celeia .all_votes {
    color: #898989;
    margin: 0 0 76px;
    text-align: left;
    width: 268px;
}

#fixedpoll.celeia .answer_result .votes {
    color: #fff;
    float: right;
}

#fixedpoll.celeia .all_votes {
    color: #fff;
    margin: 0 0 70px;
    text-align: left;
    width: 268px;
}

#fixedpoll.celeia .answer_result .graph {
    background: none repeat scroll 0 0 #fff;
    margin: 4px 0 0;
    width: 100%;
}


@media screen and (-webkit-min-device-pixel-ratio:0) { 
    #fixedpoll.celeia .fieldset { margin: 0 0 110px 0!important; }
    #fixedpoll.celeia .all_votes  { margin: 0 0 80px 0; }
}

#fixedpoll.celeia .article li {
    background: url("/static/slo/main/img/buttons/icon_article_poll.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 12px;
    overflow: hidden;
    padding: 0 0 4px 20px;
}
*/


#fixedpoll.celeia {
	background: url("/static/slo/main/img/box/right/celeia/celeia-bg-2.png") center top no-repeat;
	height: 620px;
}

#fixedpoll.double_smallbox.celeia .link h4 {
    background: none;
    display: block;
    min-height: 15px;
}

#fixedpoll.double_smallbox.celeia .link h4 a {
    background: none repeat scroll 0 0 transparent;
    color: #00713d;
    display: block;
    height: 16px;
    margin: -7px -30px 264px -13px;
    padding: 7px 30px 7px 13px;
    position: relative;
    text-indent: inherit;
    width: 250px;
}

#fixedpoll.double_smallbox.celeia .content {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    overflow: hidden;
    position: relative;
    height: 270px;
}

#fixedpoll.double_smallbox.celeia .end {
    background: none;
    height: 200px;
}

#fixedpoll.double_smallbox.celeia .fieldset > h3 {
    display: none !important;
}

#fixedpoll.celeia label {
    color: #00723f;
    display: block;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: lighter;
    line-height: 16px;
    margin: 0 0 12px 5px;
}

#fixedpoll.celeia label:hover {
    color: #00331c;
    display: block;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: lighter;
    line-height: 16px;
    margin: 0 0 12px 5px;
}

#fixedpoll.celeia .fieldset {
    font-size: 12px;
    margin: 0 0 104px;
    position: relative;
}

#fixedpoll.celeia .buttons {
    float: left;
    left: 70px;
    position: absolute;
    top: 240px;
    width: 176px;
}




#fixedpoll.celeia .buttons a.female,
#fixedpoll.celeia .buttonsTop a.female {
    background: url("/static/slo/main/img/box/right/celeia/zenski-btn.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    display: block;
    float: left;
    height: 31px;
    margin: 0 7px 0 0;
    overflow: hidden;
    padding: 0;
    text-decoration: none;
    text-indent: 100%;
    white-space: nowrap;
    width: 81px;
    
      -webkit-transition: all 0.3s ease-in-out;
	  -moz-transition: all 0.3s ease-in-out;
	  -o-transition: all 0.3s ease-in-out;
	  transition: all 0.3s ease-in-out;
    
}

#fixedpoll.celeia .buttons a.male, 
#fixedpoll.celeia .buttonsTop a.male {
    background: url("/static/slo/main/img/box/right/celeia/moski-btn.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    display: block;
    float: left;
    height: 31px;
    margin: 0 7px 0 0;
    overflow: hidden;
    padding: 0;
    text-decoration: none;
    text-indent: 100%;
    white-space: nowrap;
    width: 81px;
    
	  -webkit-transition: all 0.3s ease-in-out;
	  -moz-transition: all 0.3s ease-in-out;
	  -o-transition: all 0.3s ease-in-out;
	  transition: all 0.3s ease-in-out;
    
}

#fixedpoll.celeia .buttons a.male:hover,
#fixedpoll.celeia .buttonsTop a.male:hover,
#fixedpoll.celeia .buttons a.female:hover,
#fixedpoll.celeia .buttonsTop a.female:hover {
    opacity: 0.7;
    
    
}

#fixedpoll.celeia .controls a {
    background: url("/static/slo/main/img/box/rightmini/icon_archive.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #00713d;
    display: block;
    height: 16px;
    padding: 0 0 0 20px;
}

#fixedpoll.celeia .controls a:hover, #fixedpoll.celeia .article a {
    color: #002b18;
}

#fixedpoll.celeia .controls {
    float: left;
    margin: 0 0 0 8px;
}


#fixedpoll.celeia .article {
    margin-left: 8px;
}

#fixedpoll.celeia .article a {
    color: #00713d;
}


#fixedpoll.celeia #fixedpoll_already_voted > h3 {
    display: none;
}

#fixedpoll.celeia .answer_result {
    margin: 0 0 3px;
}

#fixedpoll.celeia .answer_result .option {
    color: #00331c;
    float: left;
    font-size: 11px;
}

#fixedpoll.celeia .buttons a.total,
#fixedpoll.celeia .buttonsTop a.total {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    color: #00703e !important;
    display: block;
    float: left;
    font-weight: bold;
    height: 16px;
    margin: 0 7px 0 0;
    padding: 0;
    text-decoration: none;
    text-transform: uppercase;
}

#fixedpoll.celeia .buttonsTop {
    float: left;
    left: 15px;
    line-height: 34px;
    position: absolute;
    top: 222px;
    vertical-align: middle;
    width: 248px;
}

#fixedpoll.celeia .all_votes {
    color: #898989;
    margin: 0 0 76px;
    text-align: left;
    width: 268px;
}

#fixedpoll.celeia .answer_result .votes {
    color: #fff;
    float: right;
}

#fixedpoll.celeia .all_votes {
    color: #fff;
    margin: 0 0 70px;
    text-align: left;
    width: 268px;
}

#fixedpoll.celeia .answer_result .graph {
    background: none repeat scroll 0 0 #fff;
    margin: 4px 0 0;
    width: 100%;
    text-align: left;
}


@media screen and (-webkit-min-device-pixel-ratio:0) { 
    #fixedpoll.celeia .fieldset { margin: 0 0 110px 0!important; }
    #fixedpoll.celeia .all_votes  { margin: 0 0 80px 0; }
}

#fixedpoll.celeia .article li {
    background: url("/static/slo/main/img/buttons/icon_article_poll.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 12px;
    overflow: hidden;
    padding: 0 0 4px 20px;
}

#fixedpoll.celeia #result_sum {
    color: #00713d;
    font-family: Open Sans;
    font-size: 21px !important;
    font-weight: lighter;
    text-align: center;
}

#fixedpoll.celeia #result_sum {
    color: #00713d;
    font-family: Open Sans;
    font-size: 21px !important;
    font-weight: lighter;
    text-align: center;
}
#fixedpoll.celeia .answer_result {
    font-family: Arial;
    margin: 0 0 5px;
}

#fixedpoll.celeia .poll_answers input {
    margin-right: 10px;
}
#fixedpoll.celeia .sum.active.total {
    font-size: 15px;
}

#fixedpoll.celeia .answer_result .votes {
    color: #fff;
    float: right;
    font-size: 11px;
}

#fixedpoll.celeia .poll_answers input {
    margin-right: 7px;
}

#fixedpoll.celeia .buttons a.total, #fixedpoll.celeia .buttonsTop a.total{
	font-size: 15px;
}


#main .content.section_frame #left #newsarchive h4,
#main .content.section_frame #left #newsarchive_page h4 {
    float: left;
    font-size: 12px;
    font-weight: normal;
    margin-right: 0;
}

#main .content.section_frame #newsarchive_page > ul {
    margin: 10px;
}

#main .content.section_frame #title h3{
    font-size: 18px;
    font-weight: bold;
    padding: 0 0 25px;
}

#main .content.section_frame #title h1 {
	margin: 0;
}

#main .content.section_frame #newsarchive_page a {
    display: table-cell;
    float: left;
    width: 500px;
}

#main .content.section_frame #newsarchive_page li {
	display: block!important;
}

#main .content.section_frame .pagelister {
    font-size: 11px;
    margin: 20px 0 0;
    padding: 4px 0;
}

