/* START: Top articles */
#toparticles {
	width: 650px;
	margin: -10px 0 7px;
	padding: 0;
}

#toparticles .primary {
	width: 650px;
	height: 10px;
	background: url("/static/shared/img/backgrounds/toparticles_primary.gif") no-repeat;
	font-size: 0;
}

#toparticles .secondary {
	width: 650px;
	height: 10px;
	background: url("/static/shared/img/backgrounds/toparticles_secondary.gif") no-repeat;
	font-size: 0;
}

#toparticles .content {
	width: 644px;
	background: #FFFFFF;
	border-left: solid 1px #c1c1c1;
	border-right: solid 1px #c1c1c1;
	padding: 0 0 0 4px;

}

#toparticles .content .border {
	width: 638px;
	background: url("/static/shared/img/backgrounds/toparticles_background.gif") repeat-x bottom #ffffff;
	border-left: solid 1px #e4e4e4;
	border-right: solid 1px #e4e4e4;
	padding: 0;
	margin: 0;
}

#toparticles .content .visited {
	float: left;
	width: 198px;
	padding: 0 7px 7px 7px;
}

#toparticles .content .commented {
	float: left;
	width: 198px;
	border-left: dotted 1px #999999;
	border-right: dotted 1px #999999;
	padding: 0 7px 7px 7px;
}

#toparticles .content .rated {
	float: left;
	width: 198px;
	padding: 0 7px 7px 7px;
}

#toparticles .content h3 {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	line-height: 21px;
}

#toparticles .content ul {
	padding: 0;
	margin: 14px 0 0;
	list-style-type: none;
	font-family: "Trebuchet MS", Arial, Verdana, Helvetica, sans-serif
}

#toparticles .content ul li {
	display: block;
	background: url(/static/shared/img/icons/arrow_last_comments.gif) no-repeat 0 4px;
	padding: 0 0 0 14px;
	color: #7b6469;
	font-weight: normal;
}

#toparticles .content ul li a {
	color: #7b6469;
	text-decoration: none;
	font-weight: normal;
}

#toparticles .content ul li a:hover {
	color: #7b6469;
	text-decoration: underline;
	font-weight: normal;
}
/* END: Top articles */

/* START: Braking news */
#breakingnews {
	margin: 0 0 7px 0;
	padding: 0;
	width: 650px;
}

#breakingnews .top {
	margin: 0;
	padding: 0;
	width: 650px;
	height: 5px;
	overflow: hidden;
}

#breakingnews  {
	width: 650px;
	padding: 0;
	margin: 0;
	float: left;
}

#breakingnews h4 {
	display: inline;
	width: 76px;
	height: auto;
	float:left;
	padding: 5px 0 0 9px;
	margin: 0 0 5px 0;
}

#breakingnews h3 {
	display: inline;
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
	padding: 5px 12px 5px 0;
	margin: 0 0 5px 0;
	float: right;
	width: 520px;
}

#breakingnews .middle h3 a {
	display: block;	
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
}

#breakingnews .bottom {
	width: 650px;
	height: 5px;
	overflow: hidden;
	clear: both;
}
/* END: Braking news */

/* START: Main news */
#mainnews {
	width: 650px;
	margin: 0 0 7px 0;
}

#mainnews .pic {
	float: left;
	height: auto;
	padding: 0 14px 0;
}

#mainnews h1 {
	padding: 0 14px 0 14px;
}

#mainnews h1 a {
	font-weight: bold;
	font-size: 22px;
}

#mainnews .sponsored_article {
	padding: 0 14px 0 14px;
}

#mainnews h4 {
	font-weight: normal;
	padding: 10px 14px 0 14px;
	font-size: 11px;
}

#mainnews h3 {
	font-weight: normal;
	padding: 3px 14px 0px 14px;
	line-height: 18px;
	font-size: 12px;
}
/* END: Main news */

#righttopbanner {
	text-align: center;
}

/* START: Search */
#rightsearch {
	width: 320px;
	height: 46px;
	background: url("/static/shared/img/backgrounds/right_search.gif") no-repeat;
}

#rightsearch form {
	margin: 0px;
	padding: 7px 0px 0px 42px;	
}

#rightsearch form input {
	float: left;
	font-size: 11px;
	font-family: Arial, Helvetica, Sans-serif;
	margin: 6px 10px 0px 10px;
	width: 168px;
}

#rightsearch form h5 {
	float: left;
	font-weight: bold;
	padding-top: 10px;
	color: #000000;	
}

#rightsearch form .go {
	float: left;
	margin-top: 3px;	
}

#rightsearch form .go a {
	display: block;
	height: 19px;
	width: 17px;
	padding: 5px 0px 0px 1px;
	color: #ffffff;
	font-weight: bold;
	font-size: 10px;
}

#rightsearch form .go a:hover {
	background: url("/static/shared/img/buttons/right_search_go_h.gif") no-repeat;
}
/* END: Search */

/* Start: published today !!IMPORTANT: Only for published today!! */
#publishedToday {
	width: 650px;
	margin: 0px 0px 7px 0px;
}

#publishedToday .primary {
	width: 650px;
	height: 5px;
	background: url("/static/shared/img/backgrounds/smallnews_primary.gif") no-repeat;
	font-size: 0;
}

#publishedToday .secondary {
	width: 650px;
	height: 5px;
	background: url("/static/shared/img/backgrounds/smallnews_secondary.gif") no-repeat;
	font-size: 0;
}

#publishedToday .content {
	width: 644px;
	border-left: solid 1px #c1c1c1;
	border-right: solid 1px #c1c1c1;
	background: #FFFFFF;
	padding: 0 0 5px 4px;
}

#publishedToday ul {
	display: block;
	float: left;
	width: 100%;
	padding: 0;
	margin: 0;
}

#publishedToday li {
	display: block;
	clear: both;
	width: 100%;
	padding: 0;
}

#publishedToday li .picture {
	display: inline;
	float: left;
	width: 114px;
	padding: 0 3px 0 7px;
	margin: 7px 0 0;
}

#publishedToday li .description {
	width: 503px;
	float: left;
	padding: 0 7px 0;
	margin: 7px 0 0;
}

#publishedToday li .description h4 {
	font-weight: normal;
	font-size: 11px;	
	padding: 0;
}

#publishedToday li .description h3 {
	font-weight: normal;
	font-size: 11px;
	line-height: 15px;
	padding: 0;
}

#publishedToday li .description .link {
	display: block;
	padding: 0 10px 5px 0; 
	margin: 3px 0 7px; 
}

#publishedToday li .description .link a {
	display: inline;
	font-size: 9px;
	font-family: Verdana, Arial, Helvetica, Sans-serif;
}

#publishedToday li .description ul {
	/*padding: 0px 0px 5px 0px;*/
	margin: 0;
	list-style-type: none;
	float: left;
	width: 180px;
	margin: 5px 0 0 0;
}

#publishedToday li .description ul li {
	display: inline;
	float: left;
	height: 20px;
	min-width::30px;
	width:auto !important;
	width:30px;
	clear: none;
}

#publishedToday li .description .advertisement {
	display: block;
	padding: 0 0 7px 0;
}

#news_publishedToday {
	width: 650px;
}

#news_publishedToday ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
/* END: published today !!IMPORTANT: Only for published today!! */



























/* START: News archive */
#newsarchive {
	width: 650px;
}

#newsarchive ul {
	width: 600px;
	padding: 26px 20px 22px 30px;
	margin: 0px;
	list-style-type: none;
	clear: both;
}

#newsarchive ul li {
	clear: both;
}

#newsarchive ul li h4,
#newsarchive_page ul li h4 {
	font-weight: normal;
	font-size: 12px;
	float: left;
	
}

#newsarchive ul li a,
#newsarchive_page ul li a {
	display: block;
	font-weight: bold;
	font-size: 12px;
	padding: 0px 0px 4px 95px;	

}

#newsarchive .link {
	clear: both;
	padding: 0px 0px 25px 30px;
}

#newsarchive .link a {
	display: inline;
	padding: 1px 0px 0px 25px;
	font-size: 14px;
}

#newsarchive.picture {
	padding-top: 15px;
	padding-bottom: 15px;
}

#newsarchive.picture ul {
	padding-top: 10px;
	padding-bottom: 10px;
}

#newsarchive.picture ul li {
	background: none;
}

#newsarchive.picture ul li .linkdivider {
	overflow: hidden;
	height: 12px;
	width: 12px;
}

#newsarchive.picture ul li h4 {
	float: none;	
	padding: 3px 0 0;
}

#newsarchive.picture ul li a {
	display: inline;
	padding: 0;
}

#newsarchive.picture ul li .picture {
	float: left;
	padding: 0 10px 10px;	
}

#newsarchive.picture .dot_divider1px {
	clear:both;
	padding: 0;
	margin: 10px 25px 0 30px;
}
/* END: News archive */

/* START: Thematical news */
#thematical_news {
	width: 650px;
	padding: 0 0 6px 0
}

#thematical_news .primary {
	width: 650px;
	height: 5px;	
	background: url("/static/shared/img/backgrounds/rubric_primary.gif") no-repeat;
	font-size: 0;
}

#thematical_news .secondary {
	width: 650px;
	height: 5px;	
	background: url("/static/shared/img/backgrounds/rubric_secondary.gif") no-repeat;
	font-size: 0;
}

#thematical_news .content {
	width: 644px;
	font-family: "Trebuchet MS", Arial, Verdana, Helvetica, sans-serif;
	background:  #FFFFFF;
	border-left: solid 1px #c1c1c1;
	border-right: solid 1px #c1c1c1; 
	padding: 1px 0 3px 4px;
}

ul#rubric {
	width: 640px;
	padding: 0;	
	margin: 0;
	list-style-type: none;
}

ul#rubric li.rubricbox {
	width: 640px;
	padding: 0;	
	margin: 0;
}

ul#rubric li .picturebox {
	float: left;
	width: 113px;
	padding: 0 0 0 27px;
}

ul#rubric li .center {
	float: left;
	width: 242px;
	padding: 6px 10px 0 0; 
}

ul#rubric .list {
	float: left;
	width: 233px;
	padding: 0 7px 0 7px;
	margin: 10px 0 10px;
	border-left: dotted 1px #999999; 
}

ul#rubric .list ul {
	/* width: 247px;
	padding: 15px 0 10px; */
/*	display: inline; */
	margin: 0;
	padding: 0;
	list-style-type: none; 
}

ul#rubric .list ul li {
	display: block;
	font-weight: bold;	
	background: url("/static/shared/img/icons/arrow_last_comments.gif") no-repeat 0 4px;
	margin: 0;
	padding: 0 0 0 14px;
}


ul#rubric li .list h3 {
	padding: 0 0 5px 13px;
	font-size: 18px;
	font-weight: bold;
	color: #948286;
}

ul#rubric li .list h3 a {
	font-weight: bold;
	color: #948286;
	font-size: 18px;
	text-decoration: none;
}

ul#rubric li .list h3 a:hover {
	font-weight: bold;
	color: #948286;
	font-size: 18px;
	text-decoration: underline;
}

ul#rubric li .center h6 {
	font-weight: bold;
	font-size: 15px;
}

ul#rubric li .center h6 a {
	font-weight: bold;
	font-size: 15px;
}

ul#rubric li .center h6 .gray {
	font-weight: bold;
	font-size: 15px;
}

#rubric .sponsored_article {
	padding: 0 0 12px 0;
}

ul#rubric li .center h4 {
	font-weight: normal;
	font-size: 11px;
	padding: 7px 0 7px;
}

ul#rubric .center p {
	display: block;
	width: 240px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding: 0 0 10px;
	margin: 0;
}

ul#rubric li .end {
	width: 650px;
	height: 4px;
	overflow: hidden;
	clear: both;
}

ul#rubric ul li .advertisement a {
	display: block;
	padding: 0 15px 5px 14px;
	margin: 0;
	background: none;
}
/* END: Thematical news */

/* START: Right video (navigation) */
.rightvideo {
	margin: 7px 0 0;
}

.rightvideo .top {
	width: 320px;
	height: 58px;
}

.rightvideo .top h1 {
	display: block;
	font-size: 22px;
	padding: 23px 0 0 30px;
}

.rightvideo .top h1 a {
	font-size: 22px;
	color: #000000;
	font-weight: bold;
}

.rightvideo .content {
	width: 320px;
}

.rightvideo .content .menu {
	padding: 0 18px 0 18px;
}

.rightvideo .content .menu ul {
	display: block;
	width: 284px;
	padding: 0;
	margin: 0;
	list-style-type: none;	
	float: left;
}

.rightvideo .content .menu ul li {
	float: left;
	height: 33px;
	font-weight: bold;
}

.rightvideo .content .menu ul li .left {
	float: left;
	height: 33px;
	width: 5px;
	overflow: hidden;
}

.rightvideo .content .menu ul li .right {
	float: left;
	height: 33px;
	width: 5px;
	overflow: hidden;
	border-right: 1px solid #ffffff;
}

.rightvideo .content .menu ul li a {
	float:left;
	display: block;
	padding: 10px 5px 5px 5px;
	/*padding:7px 0 0 0;*/
}

.rightvideo .content .menu li.selected {
	float: left;
	height: 33px;
}

.rightvideo .content .menu li.selected a {
	float:left;
	display: block;
	padding: 10px 5px 5px 5px;
	/*padding:7px 0 0 0;*/
}
/* END: Right video (navigation) */

/* START: Right video (content) */
.rightvideo .content .buttonleftbox {
	width: 39px;
	float: left;
	height: auto;
}

.rightvideo .content .buttonleftbox .button {
	padding: 197px 0 0 5px;
}

.rightvideo .content .buttonleftbox .button.left a {
	display: block;
	width: 26px;
	height: 26px;
}

.rightvideo .content .buttonleftbox .button.left a:hover {
}

.rightvideo .content .gallery {
	width: 242px; 
	float: left;
}

.rightvideo .content .gallery .picture {
	padding: 15px 40px 0 41px;
}

.rightvideo .content .gallery .picture_text {
	padding: 5px 40px 15px 41px;
	font-weight: bold;
	font-size: 15px;
	line-height: 20px;
}

.rightvideo .content .gallery .picture_text a {
	font-weight: bold;
	font-size: 15px;
	line-height: 18px;	
}

.rightvideo .content .gallery .videocon_gocont_time {
	font-weight: normal;
	font-size: 11px;
	padding: 0;
}

.rightvideo .content .buttonrightbox {
	height: auto;
	width: 39px;
	float: left;
}

.rightvideo .content .buttonrightbox .button {
	padding: 197px 0 5px 22px;
	margin: 0 0 8px;
}

.rightvideo .content .buttonrightbox .button.right a {
	display: block;
	width: 26px;
	height: 26px;
	margin: 0 5px;
}

.rightvideo .content .buttonrightbox .button.right a:hover {
}

.rightvideo .content .gallery .other_picture {
	float: left;
	width: 114px;
}

.rightvideo .content .gallery h5 {
	font-family: Verdana, Arial, Helvetica, Sans-serif;
	font-size: 10px;
	padding: 5px 0 0;
	line-height: 12px;
}

.rightvideo .content .gallery h5 a {
	font-family: Verdana, Arial, Helvetica, Sans-serif;
	font-size: 10px;
	font-weight: bold;
}

.rightvideo .content .gallery .time {
	font-size: 11px;
	padding: 2px 0 10px;
}

.rightvideo .content .gallery .divider {
	float: left;
	width: 14px; 
}

.rightvideo .bottom {
	width: 320px;
	clear: both;
	text-align: center;
	background: url("/static/shared/img/backgrounds/right_video_endcont.gif") no-repeat;
}

.rightvideo .end {
	width: 320px;
	height: 4px;
	clear: both;
	overflow: hidden;
}
/* END: Right video (content) */

/* START: Video lister */
.rightvideo .bottom .lister {
	padding: 17px 0 5px 20px;
}

.rightvideo .bottom .text {
	display: inline;
	padding: 0;
	font-weight: bold;
}

.rightvideo .bottom .text .selected {
	font-weight: normal;
	font-size: 14px;
}

.rightvideo .bottom .link {
	display: inline;
	padding: 0 5px 0;
}
/* END: Video lister */

/* START: Multiblock */
#rightmultiblock .top {
	width: 320px;
	height: 5px;
	overflow: hidden;
	margin: 7px 0 0;
}

#rightmultiblock .middle {
	width: 320px;
	padding: 0;
}

#rightmultiblock .middle .left {
	display: inline;
	width: 160px;
	float: left;
	padding: 0;
}
#rightmultiblock .middle .left .smallbox {
	margin-left: 8px;
}

#rightmultiblock .middle .right {
	display: inline;
	width: 160px;
	float: left;
	padding: 0;
}

#rightmultiblock .middle .full {
	clear: both;
	margin: 0 0 0 8px;
}

#rightmultiblock .bottom {
	width: 320px;
	height: 5px;
	overflow: hidden;
	clear: both;	
}
/* END: Multiblock */

/* START: Small box */
#rightmultiblock .smallbox {
	width: 144px;
}

#rightmultiblock .smallbox h4 {
	overflow: hidden;
	padding: 7px 30px 7px 13px;
}

#rightmultiblock .smallbox .content {
	padding: 11px 13px 4px 13px;
}

#rightmultiblock .smallbox .end {
	height: 9px;
}
/* END: Small box */

/* START: Double small box */
#rightmultiblock .double_smallbox {
	width: 294px;
}

#rightmultiblock .double_smallbox h4 {
	overflow: hidden;
	padding: 7px 30px 7px 13px;
}

#rightmultiblock .double_smallbox .content {
	padding: 11px 13px 4px 13px;
}

#rightmultiblock .double_smallbox .end {
	height: 9px;
}
/* END: Double small box */

/* START: Right bottom banner */
#rightmultiblock .right .banner {}
#rightmultiblock .right .banner h4 {
	display: block;
	text-align: left;
	font-size: 11px;
	font-weight: normal;
	padding: 0 0 3px;
	color: #666666; 
}

#nojavascript {
	width: 980px;
	padding: 20px 0 0 10px;
	margin: 0 auto;
}

#nojavascript h4 {
	border: 1px solid #cc0000;
	padding: 10px;
	color: #cc0000;	
}
/* END: Right bottom banner */

/* START: Title */
#title {
		
}

#title h1 {
	padding: 0 0 10px 0px;
	color: #333333;
}

#title h3 {
	padding: 0 0 25px 0px;
	font-size: 12px;
}
/* END: Title */

/*Start: Calendar result info*/
.resultInfo {
	width: 100%;
	float: left;
}

/* START: Pagelister */
.pagelister {
	float: left;
	padding: 0 0 10px 0;
	font-size: 12px;

}

.pagelister h4 {
	font-size: 12px;
	font-weight: normal;
	float: left;
	padding: 0 17px 0 0;
}

.pagelister .selected {
	font-weight: bold;
}

.pagelister a {
	font-size: 12px;
	color:#333333;	
}

.pagelister a:hover {
	font-size: 12px;
	color:#333333;	
}
/* END: Pagelister */

#multiblock .top {
	width: 990px;
	height: 5px;
	overflow: hidden;
}

#multiblock .middle {
	width: 990px;
	padding: 0 0 10px 0;
}

#multiblock .bottom {
	width: 990px;
	height: 5px;
	overflow: hidden;
	clear: both;
}

#multiblock .mini {
	padding: 10px 0 0 40px;
	margin: 0;
	list-style-type: none;	
	width: 950px;	
}

#multiblock .mini .half {
	width: 144px;
	float: left;
	padding: 0 10px 0 0;
}

#multiblock .mini .half .content {
	background: transparent url(/static/shared/img/backgrounds/right_other_tbotcontent.gif) repeat-y scroll 0%;
}

#multiblock .mini .half .end {
	background: transparent url(/static/shared/img/backgrounds/right_other_tbotend.gif) no-repeat scroll 0%;
}

#multiblock .mini .full {
	width: 294px;
	float: left;
	padding: 0 10px 0 0;
}

#multiblock .mini .full .content {
	background: transparent url(/static/shared/img/backgrounds/right_other_double_tbotcontent.gif) repeat-y scroll 0%;
}

#multiblock .mini .full .end {
	background: transparent url(/static/shared/img/backgrounds/right_other_double_tbotend.gif) no-repeat scroll 0%;
}

#multiblock .mini h4 {
	padding: 7px 13px 7px 13px;
}

#multiblock .mini .content {
	padding: 11px 13px 4px 13px;
}

#multiblock .mini .end {
	height: 9px;
	font-size: 0;
}

#widebox {
	margin-bottom: 15px;
}

#widebox .top {
	width: 650px;
	height: 5px;
	overflow: hidden;
}

#widebox .middle {
	width: 650px;
	padding: 0;
}

#widebox .bottom {
	width: 650px;
	height: 5px;
	overflow: hidden;
	clear: both;
}

#widebox .mini {
	padding: 10px 0 0 20px;
	margin: 0px;
	list-style-type: none;	
	width: 630px;
}

#widebox .mini .half {
	width: 144px;
	float: left;
	padding: 0px 10px 0 0px;
}

#widebox .mini .half .content {
	background: transparent url(/static/shared/img/backgrounds/right_other_tbotcontent.gif) repeat-y scroll 0%;
}

#widebox .mini .half .end {
	background: transparent url(/static/shared/img/backgrounds/right_other_tbotend.gif) no-repeat scroll 0%;
}

#widebox .mini .full {
	width: 294px;
	float: left;
	padding: 0px 10px 0px 0px;
}

#widebox .mini .full .content {
	background: transparent url(/static/shared/img/backgrounds/right_other_double_tbotcontent.gif) repeat-y scroll 0%;
}

#widebox .mini .full .end {
	background: transparent url(/static/shared/img/backgrounds/right_other_double_tbotend.gif) no-repeat scroll 0%;
}

#widebox .mini h4 {
	height: 22px;
	overflow: hidden;
	padding: 7px 0px 0px 13px;
}

#widebox .mini .content {
	padding: 11px 13px 4px 13px;
}

#widebox .mini .end {
	height: 9px;
}
/* END: News video */

/* START: Warning messages */
.warning {
	color: #c7111e;
	font-size: 11px;
	margin: 7px 0 7px 10px;
}

.warning a {
	color: #c7111e;
	font-size: 11px;
	text-decoration: none;
}

.warning a:hover {
	color: #c7111e;
	font-size: 11px;
	text-decoration: underline;
}

.message {
	display: block;
	color: #000000;
	font-size: 11px;
	margin: 7px 0 7px 15px;
}

.message a {
	display: block;
	color: #000000;
	font-size: 11px;
	text-decoration: none;
}

.message a:hover {
	display: block;
	color: #000000;
	font-size: 11px;
	text-decoration: underline;
}
/* END: Warning messages */
