@import url("/static/slo/main/css/box/right/award_game_form.css");
@import url("/static/slo/shared/css/videojs.css");

#main {
	width: 980px;
	margin: 0px auto;
	padding: 0;
	position: relative;
	z-index: 120;
	padding-top: 10px;
}
#left {
	width: 650px;
	float: left;
	background-color: #fff;
	/*padding: 7px 0 0 5px;*/
	/*overflow: hidden; */
}

#right {
	position: relative; /* This is for absolute banner */
	width: 320px;
	float: right;
	/*padding: 7px 5px 0 0;*/
}

/* =====================================
	Vreme 24ur box front
   ===================================*/
.box-medium.front {
    background: white;
    width: 298px;
    margin: 0 0 10px;
    padding: 10px;
    border: 1px solid #cecece;
    
    -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}
.box-medium.front > div {
    background-color: transparent;
    padding: 0;
    background-image: url("/static/slo/microsites/vreme/img/vreme_front_bg.jpg");
    background-position: center -10px;
    background-repeat: no-repeat;
    
    -webkit-box-shadow:inset 0 0 10px #9cc6ed;
    box-shadow:inset 0 0 10px #9cc6ed;
    -moz-box-shadow:inset 0 0 10px #9cc6ed;
    -o-box-shadow:inset 0 0 10px #9cc6ed;
}
.box-medium.front > div > div.weekcast {
    background-color: transparent;
    padding: 45px 0 0;
}
.weekcast > h2 {
    display: block;
    height: 1px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    text-indent: -9999px;
}
.weekcast {
    background-image: url("/static/slo/microsites/vreme/img/weather-logo_small.png");
    background-position: center top;
    background-repeat: no-repeat;
    color: #FFFFFF;
    height: auto;
    position: relative;
    width: 300px;
}
.weekcast .days {
    position: relative;
    width: 290px;
    padding: 10px 5px;
    bottom: 0;
    left:0;
}
.weekcast .days > div {
    float: left;
    margin: 0 4px;
    text-align: center;
    width: 50px;
}
.weekcast .days > div > h2 {
    background-color: #071552;
    color: #FFFFFF;
    display: block;
    font-size: 11px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: capitalize;
}
.weekcast .days > div > .day-content {
	height: 80px;	
	position: relative;
	z-index: 1;
	text-align: left;
}
.weekcast .days > div > .day-content .day-temp {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    height: 40px;
    line-height: 37px;
    text-align: center;
    width: 50px;
    padding: 0;
    background: url("/static/slo/microsites/vreme/img/map-icons/bg/temp-blank-bg.jpg") no-repeat -10px 0;
}
.weekcast .days > div > .day-content .day-wind {
    height: 40px;
    line-height: 40px;
    padding: 0 0 0 5px;
    background:url("/static/slo/microsites/vreme/img/map-icons/bg/plus25-bg.jpg") no-repeat -10px 0;
}
.weekcast .days > div > .day-content .day-wind > img {
    height: 15px;
    margin: 5px 0 0;
    *margin: 0;
    width: 15px;
}
.weekcast .days > div > .day-content > img {
    display: block;
    height: 45px;
    margin: -23px 0 0;
    padding: 0;
    position: absolute;
    right: -11px;
    top: 50%;
    z-index: 2;
    width: 45px;
    max-width: 45px;
}
.g-banner {
    position: absolute;
    left: -40px;
    top: -165px;
    background-color: #fbfbfb;
    width: 900px;
    overflow: hidden;
    text-align: right;
    cursor: pointer;
    height: 780px;
}
.g-banner-content {
    position: absolute;
    z-index: 3;
    width: 270px;
    height: 80px;
    left: 20px;
    top: 180px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: #404041;
    display: table;
}
.g-banner-content a,
.g-banner-content a:visited {
    color: #333;
    text-decoration: none;
    
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition:    all 0.2s ease-in-out;
    -o-transition:      all 0.2s ease-in-out;
    transition:         all 0.2s ease-in-out;
    
    vertical-align: middle;
    display: table-cell;
}
.g-banner-content a:hover {
    text-decoration: none;
    color: #F06623;
}
.g-banner-mask {
    background-image: url("/static/slo/main/img/gostilna-banner-mask.png?v=5");
    background-position: left top;
    background-repeat: no-repeat;
    bottom: 0;
    height: 800px;
    left: -140px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}
.g-banner-mask.g-banner-week {
    background-image: url("/static/slo/main/img/gostilna-week-banner-mask.png?v=5");
}
.g-banner-mask.g-banner-saturday {
    background-image: url("/static/slo/main/img/gostilna-saturday-banner-mask.png?v=5");
}
.g-banner > img {
    max-height: 300px;
    max-width: 300px;
    position: absolute;
    right: 310px;
    top: 0px;
    z-index: 1;
}

/*#div_banner_ABROAD {
    left: 50%;
    margin-left: 500px;
    position: absolute;
    top: 40px;
}*/

#div_banner_ABROAD {
    margin-top: 20px;
}