/*!
 * Bootstrap v2.1.0
 *
 * Copyright 2012 Twitter, Inc
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Designed and built with all the love in the world @twitter by @mdo and @fat.
 */
.dropdown-login .clearfix {
  *zoom: 1;
}
.dropdown-login .clearfix:before,
.dropdown-login .clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.dropdown-login .clearfix:after {
  clear: both;
}
.dropdown-login .hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.dropdown-login .input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.dropdown-login form {
  margin: 0 0 20px;
}
.dropdown-login fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}
.dropdown-login legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 40px;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}
.dropdown-login legend small {
  font-size: 15px;
  color: #999999;
}
.dropdown-login label,
.dropdown-login input,
.dropdown-login button,
.dropdown-login select,
.dropdown-login textarea {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}
.dropdown-login input,
.dropdown-login button,
.dropdown-login select,
.dropdown-login textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.dropdown-login label {
  display: block;
  margin-bottom: 5px;
}
.dropdown-login select,
.dropdown-login textarea,
.dropdown-login input[type="text"],
.dropdown-login input[type="password"],
.dropdown-login input[type="datetime"],
.dropdown-login input[type="datetime-local"],
.dropdown-login input[type="date"],
.dropdown-login input[type="month"],
.dropdown-login input[type="time"],
.dropdown-login input[type="week"],
.dropdown-login input[type="number"],
.dropdown-login input[type="email"],
.dropdown-login input[type="url"],
.dropdown-login input[type="search"],
.dropdown-login input[type="tel"],
.dropdown-login input[type="color"],
.dropdown-login .uneditable-input {
  display: inline-block;
  height: 20px;
  padding: 4px 6px;
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.dropdown-login input,
.dropdown-login textarea {
  width: 210px;
}
.dropdown-login textarea {
  height: auto;
}
.dropdown-login textarea,
.dropdown-login input[type="text"],
.dropdown-login input[type="password"],
.dropdown-login input[type="datetime"],
.dropdown-login input[type="datetime-local"],
.dropdown-login input[type="date"],
.dropdown-login input[type="month"],
.dropdown-login input[type="time"],
.dropdown-login input[type="week"],
.dropdown-login input[type="number"],
.dropdown-login input[type="email"],
.dropdown-login input[type="url"],
.dropdown-login input[type="search"],
.dropdown-login input[type="tel"],
.dropdown-login input[type="color"],
.dropdown-login .uneditable-input {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear .2s, box-shadow linear .2s;
  -moz-transition: border linear .2s, box-shadow linear .2s;
  -o-transition: border linear .2s, box-shadow linear .2s;
  transition: border linear .2s, box-shadow linear .2s;
}
.dropdown-login textarea:focus,
.dropdown-login input[type="text"]:focus,
.dropdown-login input[type="password"]:focus,
.dropdown-login input[type="datetime"]:focus,
.dropdown-login input[type="datetime-local"]:focus,
.dropdown-login input[type="date"]:focus,
.dropdown-login input[type="month"]:focus,
.dropdown-login input[type="time"]:focus,
.dropdown-login input[type="week"]:focus,
.dropdown-login input[type="number"]:focus,
.dropdown-login input[type="email"]:focus,
.dropdown-login input[type="url"]:focus,
.dropdown-login input[type="search"]:focus,
.dropdown-login input[type="tel"]:focus,
.dropdown-login input[type="color"]:focus,
.dropdown-login .uneditable-input:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
}
.dropdown-login input[type="radio"],
.dropdown-login input[type="checkbox"] {
  margin: 4px 0 0;
  *margin-top: 0;
  /* IE7 */

  margin-top: 1px \9;
  /* IE8-9 */

  line-height: normal;
  cursor: pointer;
}
.dropdown-login input[type="file"],
.dropdown-login input[type="image"],
.dropdown-login input[type="submit"],
.dropdown-login input[type="reset"],
.dropdown-login input[type="button"],
.dropdown-login input[type="radio"],
.dropdown-login input[type="checkbox"] {
  width: auto;
}
.dropdown-login select,
.dropdown-login input[type="file"] {
  height: 30px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */

  *margin-top: 4px;
  /* For IE7, add top margin to align select with labels */

  line-height: 30px;
}
.dropdown-login select {
  width: 220px;
  border: 1px solid #bbb;
  background-color: #ffffff;
}
.dropdown-login select[multiple],
.dropdown-login select[size] {
  height: auto;
}
.dropdown-login select:focus,
.dropdown-login input[type="file"]:focus,
.dropdown-login input[type="radio"]:focus,
.dropdown-login input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.dropdown-login .uneditable-input,
.dropdown-login .uneditable-textarea {
  color: #999999;
  background-color: #fcfcfc;
  border-color: #cccccc;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  cursor: not-allowed;
}
.dropdown-login .uneditable-input {
  overflow: hidden;
  white-space: nowrap;
}
.dropdown-login .uneditable-textarea {
  width: auto;
  height: auto;
}
.dropdown-login input:-moz-placeholder,
.dropdown-login textarea:-moz-placeholder {
  color: #999999;
}
.dropdown-login input:-ms-input-placeholder,
.dropdown-login textarea:-ms-input-placeholder {
  color: #999999;
}
.dropdown-login input::-webkit-input-placeholder,
.dropdown-login textarea::-webkit-input-placeholder {
  color: #999999;
}
.dropdown-login .radio,
.dropdown-login .checkbox {
  min-height: 18px;
  padding-left: 18px;
}
.dropdown-login .radio input[type="radio"],
.dropdown-login .checkbox input[type="checkbox"] {
  float: left;
  margin-left: -18px;
}
.dropdown-login .controls > .radio:first-child,
.dropdown-login .controls > .checkbox:first-child {
  padding-top: 5px;
}
.dropdown-login .radio.inline,
.dropdown-login .checkbox.inline {
  display: inline-block;
  padding-top: 5px;
  margin-bottom: 0;
  vertical-align: middle;
}
.dropdown-login .radio.inline + .radio.inline,
.dropdown-login .checkbox.inline + .checkbox.inline {
  margin-left: 10px;
}
.dropdown-login .input-mini {
  width: 60px;
}
.dropdown-login .input-small {
  width: 90px;
}
.dropdown-login .input-medium {
  width: 150px;
}
.dropdown-login .input-large {
  width: 210px;
}
.dropdown-login .input-xlarge {
  width: 270px;
}
.dropdown-login .input-xxlarge {
  width: 530px;
}
.dropdown-login input[class*="span"],
.dropdown-login select[class*="span"],
.dropdown-login textarea[class*="span"],
.dropdown-login .uneditable-input[class*="span"],
.dropdown-login .row-fluid input[class*="span"],
.dropdown-login .row-fluid select[class*="span"],
.dropdown-login .row-fluid textarea[class*="span"],
.dropdown-login .row-fluid .uneditable-input[class*="span"] {
  float: none;
  margin-left: 0;
}
.dropdown-login .input-append input[class*="span"],
.dropdown-login .input-append .uneditable-input[class*="span"],
.dropdown-login .input-prepend input[class*="span"],
.dropdown-login .input-prepend .uneditable-input[class*="span"],
.dropdown-login .row-fluid input[class*="span"],
.dropdown-login .row-fluid select[class*="span"],
.dropdown-login .row-fluid textarea[class*="span"],
.dropdown-login .row-fluid .uneditable-input[class*="span"],
.dropdown-login .row-fluid .input-prepend [class*="span"],
.dropdown-login .row-fluid .input-append [class*="span"] {
  display: inline-block;
}
.dropdown-login input,
.dropdown-login textarea,
.dropdown-login .uneditable-input {
  margin-left: 0;
}
.dropdown-login .controls-row [class*="span"] + [class*="span"] {
  margin-left: 20px;
}
.dropdown-login input.span12, .dropdown-login textarea.span12, .dropdown-login .uneditable-input.span12 {
  width: 926px;
}
.dropdown-login input.span11, .dropdown-login textarea.span11, .dropdown-login .uneditable-input.span11 {
  width: 846px;
}
.dropdown-login input.span10, .dropdown-login textarea.span10, .dropdown-login .uneditable-input.span10 {
  width: 766px;
}
.dropdown-login input.span9, .dropdown-login textarea.span9, .dropdown-login .uneditable-input.span9 {
  width: 686px;
}
.dropdown-login input.span8, .dropdown-login textarea.span8, .dropdown-login .uneditable-input.span8 {
  width: 606px;
}
.dropdown-login input.span7, .dropdown-login textarea.span7, .dropdown-login .uneditable-input.span7 {
  width: 526px;
}
.dropdown-login input.span6, .dropdown-login textarea.span6, .dropdown-login .uneditable-input.span6 {
  width: 446px;
}
.dropdown-login input.span5, .dropdown-login textarea.span5, .dropdown-login .uneditable-input.span5 {
  width: 366px;
}
.dropdown-login input.span4, .dropdown-login textarea.span4, .dropdown-login .uneditable-input.span4 {
  width: 286px;
}
.dropdown-login input.span3, .dropdown-login textarea.span3, .dropdown-login .uneditable-input.span3 {
  width: 206px;
}
.dropdown-login input.span2, .dropdown-login textarea.span2, .dropdown-login .uneditable-input.span2 {
  width: 126px;
}
.dropdown-login input.span1, .dropdown-login textarea.span1, .dropdown-login .uneditable-input.span1 {
  width: 46px;
}
.dropdown-login .controls-row {
  *zoom: 1;
}
.dropdown-login .controls-row:before,
.dropdown-login .controls-row:after {
  display: table;
  content: "";
  line-height: 0;
}
.dropdown-login .controls-row:after {
  clear: both;
}
.dropdown-login .controls-row [class*="span"] {
  float: left;
}
.dropdown-login input[disabled],
.dropdown-login select[disabled],
.dropdown-login textarea[disabled],
.dropdown-login input[readonly],
.dropdown-login select[readonly],
.dropdown-login textarea[readonly] {
  cursor: not-allowed;
  background-color: #eeeeee;
}
.dropdown-login input[type="radio"][disabled],
.dropdown-login input[type="checkbox"][disabled],
.dropdown-login input[type="radio"][readonly],
.dropdown-login input[type="checkbox"][readonly] {
  background-color: transparent;
}
.dropdown-login .control-group.warning > label,
.dropdown-login .control-group.warning .help-block,
.dropdown-login .control-group.warning .help-inline {
  color: #c09853;
}
.dropdown-login .control-group.warning .checkbox,
.dropdown-login .control-group.warning .radio,
.dropdown-login .control-group.warning input,
.dropdown-login .control-group.warning select,
.dropdown-login .control-group.warning textarea {
  color: #c09853;
  border-color: #c09853;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.dropdown-login .control-group.warning .checkbox:focus,
.dropdown-login .control-group.warning .radio:focus,
.dropdown-login .control-group.warning input:focus,
.dropdown-login .control-group.warning select:focus,
.dropdown-login .control-group.warning textarea:focus {
  border-color: #a47e3c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
}
.dropdown-login .control-group.warning .input-prepend .add-on,
.dropdown-login .control-group.warning .input-append .add-on {
  color: #c09853;
  background-color: #fcf8e3;
  border-color: #c09853;
}
.dropdown-login .control-group.error > label,
.dropdown-login .control-group.error .help-block,
.dropdown-login .control-group.error .help-inline {
  color: #b94a48;
}
.dropdown-login .control-group.error .checkbox,
.dropdown-login .control-group.error .radio,
.dropdown-login .control-group.error input,
.dropdown-login .control-group.error select,
.dropdown-login .control-group.error textarea {
  color: #b94a48;
  border-color: #b94a48;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.dropdown-login .control-group.error .checkbox:focus,
.dropdown-login .control-group.error .radio:focus,
.dropdown-login .control-group.error input:focus,
.dropdown-login .control-group.error select:focus,
.dropdown-login .control-group.error textarea:focus {
  border-color: #953b39;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}
.dropdown-login .control-group.error .input-prepend .add-on,
.dropdown-login .control-group.error .input-append .add-on {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #b94a48;
}
.dropdown-login .control-group.success > label,
.dropdown-login .control-group.success .help-block,
.dropdown-login .control-group.success .help-inline {
  color: #468847;
}
.dropdown-login .control-group.success .checkbox,
.dropdown-login .control-group.success .radio,
.dropdown-login .control-group.success input,
.dropdown-login .control-group.success select,
.dropdown-login .control-group.success textarea {
  color: #468847;
  border-color: #468847;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.dropdown-login .control-group.success .checkbox:focus,
.dropdown-login .control-group.success .radio:focus,
.dropdown-login .control-group.success input:focus,
.dropdown-login .control-group.success select:focus,
.dropdown-login .control-group.success textarea:focus {
  border-color: #356635;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
}
.dropdown-login .control-group.success .input-prepend .add-on,
.dropdown-login .control-group.success .input-append .add-on {
  color: #468847;
  background-color: #dff0d8;
  border-color: #468847;
}
.dropdown-login input:focus:required:invalid,
.dropdown-login textarea:focus:required:invalid,
.dropdown-login select:focus:required:invalid {
  color: #b94a48;
  border-color: #ee5f5b;
}
.dropdown-login input:focus:required:invalid:focus,
.dropdown-login textarea:focus:required:invalid:focus,
.dropdown-login select:focus:required:invalid:focus {
  border-color: #e9322d;
  -webkit-box-shadow: 0 0 6px #f8b9b7;
  -moz-box-shadow: 0 0 6px #f8b9b7;
  box-shadow: 0 0 6px #f8b9b7;
}
.dropdown-login .form-actions {
  padding: 19px 20px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border-top: 1px solid #e5e5e5;
  *zoom: 1;
}
.dropdown-login .form-actions:before,
.dropdown-login .form-actions:after {
  display: table;
  content: "";
  line-height: 0;
}
.dropdown-login .form-actions:after {
  clear: both;
}
.dropdown-login .help-block,
.dropdown-login .help-inline {
  color: #595959;
}
.dropdown-login .help-block {
  display: block;
  margin-bottom: 10px;
}
.dropdown-login .help-inline {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  vertical-align: middle;
  padding-left: 5px;
}
.dropdown-login .input-append,
.dropdown-login .input-prepend {
  margin-bottom: 5px;
  font-size: 0;
  white-space: nowrap;
}
.dropdown-login .input-append input,
.dropdown-login .input-prepend input,
.dropdown-login .input-append select,
.dropdown-login .input-prepend select,
.dropdown-login .input-append .uneditable-input,
.dropdown-login .input-prepend .uneditable-input {
  position: relative;
  margin-bottom: 0;
  *margin-left: 0;
  font-size: 14px;
  vertical-align: top;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.dropdown-login .input-append input:focus,
.dropdown-login .input-prepend input:focus,
.dropdown-login .input-append select:focus,
.dropdown-login .input-prepend select:focus,
.dropdown-login .input-append .uneditable-input:focus,
.dropdown-login .input-prepend .uneditable-input:focus {
  z-index: 2;
}
.dropdown-login .input-append .add-on,
.dropdown-login .input-prepend .add-on {
  display: inline-block;
  width: auto;
  height: 20px;
  min-width: 16px;
  padding: 4px 5px;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  text-align: center;
  text-shadow: 0 1px 0 #ffffff;
  background-color: #eeeeee;
  border: 1px solid #ccc;
}
.dropdown-login .input-append .add-on,
.dropdown-login .input-prepend .add-on,
.dropdown-login .input-append .btn,
.dropdown-login .input-prepend .btn {
  margin-left: -1px;
  vertical-align: top;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.dropdown-login .input-append .active,
.dropdown-login .input-prepend .active {
  background-color: #a9dba9;
  border-color: #46a546;
}
.dropdown-login .input-prepend .add-on,
.dropdown-login .input-prepend .btn {
  margin-right: -1px;
}
.dropdown-login .input-prepend .add-on:first-child,
.dropdown-login .input-prepend .btn:first-child {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.dropdown-login .input-append input,
.dropdown-login .input-append select,
.dropdown-login .input-append .uneditable-input {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.dropdown-login .input-append .add-on:last-child,
.dropdown-login .input-append .btn:last-child {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.dropdown-login .input-prepend.input-append input,
.dropdown-login .input-prepend.input-append select,
.dropdown-login .input-prepend.input-append .uneditable-input {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.dropdown-login .input-prepend.input-append .add-on:first-child,
.dropdown-login .input-prepend.input-append .btn:first-child {
  margin-right: -1px;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.dropdown-login .input-prepend.input-append .add-on:last-child,
.dropdown-login .input-prepend.input-append .btn:last-child {
  margin-left: -1px;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.dropdown-login input.search-query {
  padding-right: 14px;
  padding-right: 4px \9;
  padding-left: 14px;
  padding-left: 4px \9;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */

  margin-bottom: 0;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
.dropdown-login /* Allow for input prepend/append in search forms */
.form-search .input-append .search-query,
.dropdown-login .form-search .input-prepend .search-query {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.dropdown-login .form-search .input-append .search-query {
  -webkit-border-radius: 14px 0 0 14px;
  -moz-border-radius: 14px 0 0 14px;
  border-radius: 14px 0 0 14px;
}
.dropdown-login .form-search .input-append .btn {
  -webkit-border-radius: 0 14px 14px 0;
  -moz-border-radius: 0 14px 14px 0;
  border-radius: 0 14px 14px 0;
}
.dropdown-login .form-search .input-prepend .search-query {
  -webkit-border-radius: 0 14px 14px 0;
  -moz-border-radius: 0 14px 14px 0;
  border-radius: 0 14px 14px 0;
}
.dropdown-login .form-search .input-prepend .btn {
  -webkit-border-radius: 14px 0 0 14px;
  -moz-border-radius: 14px 0 0 14px;
  border-radius: 14px 0 0 14px;
}
.dropdown-login .form-search input,
.dropdown-login .form-inline input,
.dropdown-login .form-horizontal input,
.dropdown-login .form-search textarea,
.dropdown-login .form-inline textarea,
.dropdown-login .form-horizontal textarea,
.dropdown-login .form-search select,
.dropdown-login .form-inline select,
.dropdown-login .form-horizontal select,
.dropdown-login .form-search .help-inline,
.dropdown-login .form-inline .help-inline,
.dropdown-login .form-horizontal .help-inline,
.dropdown-login .form-search .uneditable-input,
.dropdown-login .form-inline .uneditable-input,
.dropdown-login .form-horizontal .uneditable-input,
.dropdown-login .form-search .input-prepend,
.dropdown-login .form-inline .input-prepend,
.dropdown-login .form-horizontal .input-prepend,
.dropdown-login .form-search .input-append,
.dropdown-login .form-inline .input-append,
.dropdown-login .form-horizontal .input-append {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  margin-bottom: 0;
  vertical-align: middle;
}
.dropdown-login .form-search .hide,
.dropdown-login .form-inline .hide,
.dropdown-login .form-horizontal .hide {
  display: none;
}
.dropdown-login .form-search label,
.dropdown-login .form-inline label,
.dropdown-login .form-search .btn-group,
.dropdown-login .form-inline .btn-group {
  display: inline-block;
}
.dropdown-login .form-search .input-append,
.dropdown-login .form-inline .input-append,
.dropdown-login .form-search .input-prepend,
.dropdown-login .form-inline .input-prepend {
  margin-bottom: 0;
}
.dropdown-login .form-search .radio,
.dropdown-login .form-search .checkbox,
.dropdown-login .form-inline .radio,
.dropdown-login .form-inline .checkbox {
  padding-left: 0;
  margin-bottom: 0;
  vertical-align: middle;
}
.dropdown-login .form-search .radio input[type="radio"],
.dropdown-login .form-search .checkbox input[type="checkbox"],
.dropdown-login .form-inline .radio input[type="radio"],
.dropdown-login .form-inline .checkbox input[type="checkbox"] {
  float: left;
  margin-right: 3px;
  margin-left: 0;
}
.dropdown-login .control-group {
  margin-bottom: 10px;
}
.dropdown-login legend + .control-group {
  margin-top: 20px;
  -webkit-margin-top-collapse: separate;
}
.dropdown-login .form-horizontal .control-group {
  margin-bottom: 20px;
  *zoom: 1;
}
.dropdown-login .form-horizontal .control-group:before,
.dropdown-login .form-horizontal .control-group:after {
  display: table;
  content: "";
  line-height: 0;
}
.dropdown-login .form-horizontal .control-group:after {
  clear: both;
}
.dropdown-login .form-horizontal .control-label {
  float: left;
  width: 140px;
  padding-top: 5px;
  text-align: right;
}
.dropdown-login .form-horizontal .controls {
  *display: inline-block;
  *padding-left: 20px;
  margin-left: 160px;
  *margin-left: 0;
}
.dropdown-login .form-horizontal .controls:first-child {
  *padding-left: 160px;
}
.dropdown-login .form-horizontal .help-block {
  margin-top: 10px;
  margin-bottom: 0;
}
.dropdown-login .form-horizontal .form-actions {
  padding-left: 160px;
}
.threadedComments .btn,
.dropdown-login .btn {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  padding: 4px 14px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  *line-height: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: #333333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #e6e6e6;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #bbbbbb;
  *border: 0;
  border-bottom-color: #a2a2a2;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  *margin-left: .3em;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}
.threadedComments .btn:hover,
.threadedComments .btn:active,
.threadedComments .btn.active,
.threadedComments .btn.disabled,
.threadedComments .btn[disabled],
.dropdown-login .btn:hover,
.dropdown-login .btn:active,
.dropdown-login .btn.active,
.dropdown-login .btn.disabled,
.dropdown-login .btn[disabled] {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}
.threadedComments .btn:active,
.threadedComments .btn.active,
.dropdown-login .btn:active,
.dropdown-login .btn.active {
  background-color: #cccccc \9;
}

.threadedComments .btn:first-child,
.dropdown-login .btn:first-child {
  *margin-left: 0;
}

.threadedComments .btn:hover,
.dropdown-login .btn:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
  /* Buttons in IE7 don't get borders, so darken on hover */

  background-position: 0 -15px;
}

.threadedComments .btn:focus,
.dropdown-login .btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.threadedComments .btn:active,
.threadedComments .btn.active,
.dropdown-login .btn.active,
.dropdown-login .btn:active {
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
}

.threadedComments .btn.disabled,
.threadedComments .btn[disabled],
.dropdown-login .btn.disabled,
.dropdown-login .btn[disabled] {
  cursor: default;
  background-color: #e6e6e6;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.dropdown-login .btn-large {
  padding: 9px 14px;
  font-size: 16px;
  line-height: normal;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.dropdown-login .btn-large [class^="icon-"] {
  margin-top: 2px;
}
.dropdown-login .btn-small {
  padding: 3px 9px;
  font-size: 12px;
  line-height: 18px;
}
.dropdown-login .btn-small [class^="icon-"] {
  margin-top: 0;
}
.dropdown-login .btn-mini {
  padding: 2px 6px;
  font-size: 11px;
  line-height: 16px;
}
.dropdown-login .btn-block {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.dropdown-login .btn-block + .btn-block {
  margin-top: 5px;
}

.threadedComments .btn-primary.active,
.dropdown-login .btn-primary.active,
.dropdown-login .btn-warning.active,
.dropdown-login .btn-danger.active,
.dropdown-login .btn-success.active,
.dropdown-login .btn-info.active,
.dropdown-login .btn-inverse.active {
  color: rgba(255, 255, 255, 0.75);
}
.dropdown-login .btn {
  border-color: #c5c5c5;
  border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
}
.threadedComments .btn-primary,
.dropdown-login .btn-primary {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  background: #0088cc; /* Old browsers */
  background: -moz-linear-gradient(top,  #0088cc 0%, #0044cc 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0088cc), color-stop(100%,#0044cc)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #0088cc 0%,#0044cc 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #0088cc 0%,#0044cc 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #0088cc 0%,#0044cc 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #0088cc 0%,#0044cc 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0088cc', endColorstr='#0044cc',GradientType=0 ); /* IE6-9 */
}
.threadedComments .btn-primary:hover,
.threadedComments .btn-primary:active,
.threadedComments .btn-primary.active,
.threadedComments .btn-primary.disabled,
.threadedComments .btn-primary[disabled],
.dropdown-login .btn-primary:hover,
.dropdown-login .btn-primary:active,
.dropdown-login .btn-primary.active,
.dropdown-login .btn-primary.disabled,
.dropdown-login .btn-primary[disabled] {
  background: #0044cc;
}

.threadedComments .btn-primary:active,
.threadedComments .btn-primary.active, 
.dropdown-login .btn-primary:active,
.dropdown-login .btn-primary.active {
  background-color: #003399 \9;
}
.dropdown-login .btn-warning {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #faa732;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #f89406;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.dropdown-login .btn-warning:hover,
.dropdown-login .btn-warning:active,
.dropdown-login .btn-warning.active,
.dropdown-login .btn-warning.disabled,
.dropdown-login .btn-warning[disabled] {
  color: #ffffff;
  background-color: #f89406;
  *background-color: #df8505;
}
.dropdown-login .btn-warning:active,
.dropdown-login .btn-warning.active {
  background-color: #c67605 \9;
}
.dropdown-login .btn-danger {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #da4f49;
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #bd362f;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.dropdown-login .btn-danger:hover,
.dropdown-login .btn-danger:active,
.dropdown-login .btn-danger.active,
.dropdown-login .btn-danger.disabled,
.dropdown-login .btn-danger[disabled] {
  color: #ffffff;
  background-color: #bd362f;
  *background-color: #a9302a;
}
.dropdown-login .btn-danger:active,
.dropdown-login .btn-danger.active {
  background-color: #942a25 \9;
}
.dropdown-login .btn-success {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #5bb75b;
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(to bottom, #62c462, #51a351);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #51a351;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.dropdown-login .btn-success:hover,
.dropdown-login .btn-success:active,
.dropdown-login .btn-success.active,
.dropdown-login .btn-success.disabled,
.dropdown-login .btn-success[disabled] {
  color: #ffffff;
  background-color: #51a351;
  *background-color: #499249;
}
.dropdown-login .btn-success:active,
.dropdown-login .btn-success.active {
  background-color: #408140 \9;
}
.dropdown-login .btn-info {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #49afcd;
  background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #2f96b4;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.dropdown-login .btn-info:hover,
.dropdown-login .btn-info:active,
.dropdown-login .btn-info.active,
.dropdown-login .btn-info.disabled,
.dropdown-login .btn-info[disabled] {
  color: #ffffff;
  background-color: #2f96b4;
  *background-color: #2a85a0;
}
.dropdown-login .btn-info:active,
.dropdown-login .btn-info.active {
  background-color: #24748c \9;
}
.dropdown-login .btn-inverse {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #363636;
  background-image: -moz-linear-gradient(top, #444444, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
  background-image: -webkit-linear-gradient(top, #444444, #222222);
  background-image: -o-linear-gradient(top, #444444, #222222);
  background-image: linear-gradient(to bottom, #444444, #222222);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #222222;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.dropdown-login .btn-inverse:hover,
.dropdown-login .btn-inverse:active,
.dropdown-login .btn-inverse.active,
.dropdown-login .btn-inverse.disabled,
.dropdown-login .btn-inverse[disabled] {
  color: #ffffff;
  background-color: #222222;
  *background-color: #151515;
}
.dropdown-login .btn-inverse:active,
.dropdown-login .btn-inverse.active {
  background-color: #080808 \9;
}
.dropdown-login button.btn,
.dropdown-login input[type="submit"].btn {
  *padding-top: 3px;
  *padding-bottom: 3px;
}
.dropdown-login button.btn::-moz-focus-inner,
.dropdown-login input[type="submit"].btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}
.dropdown-login button.btn.btn-large,
.dropdown-login input[type="submit"].btn.btn-large {
  *padding-top: 7px;
  *padding-bottom: 7px;
}
.dropdown-login button.btn.btn-small,
.dropdown-login input[type="submit"].btn.btn-small {
  *padding-top: 3px;
  *padding-bottom: 3px;
}
.dropdown-login button.btn.btn-mini,
.dropdown-login input[type="submit"].btn.btn-mini {
  *padding-top: 1px;
  *padding-bottom: 1px;
}
.dropdown-login .btn-link,
.dropdown-login .btn-link:active {
  background-color: transparent;
  background-image: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.dropdown-login .btn-link {
  border-color: transparent;
  cursor: pointer;
  color: #0088cc;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.dropdown-login .btn-link:hover {
  color: #005580;
  text-decoration: underline;
  background-color: transparent;
}
.dropdown-login [class^="icon-"],
.dropdown-login [class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("/static/slo/shared/img/brandline/glyphicons-halflings.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
  margin-top: 1px;
}
.dropdown-login /* White icons with optional class, or on hover/active states of certain elements */
.icon-white,
.dropdown-login .nav > .active > a > [class^="icon-"],
.dropdown-login .nav > .active > a > [class*=" icon-"],
.dropdown-login .dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-login .dropdown-menu > li > a:hover > [class*=" icon-"],
.dropdown-login .dropdown-menu > .active > a > [class^="icon-"],
.dropdown-login .dropdown-menu > .active > a > [class*=" icon-"] {
  background-image: url("/static/slo/shared/img/brandline/glyphicons-halflings-white.png");
}
.dropdown-login .icon-glass {
  background-position: 0      0;
}
.dropdown-login .icon-music {
  background-position: -24px 0;
}
.dropdown-login .icon-search {
  background-position: -48px 0;
}
.dropdown-login .icon-envelope {
  background-position: -72px 0;
}
.dropdown-login .icon-heart {
  background-position: -96px 0;
}
.dropdown-login .icon-star {
  background-position: -120px 0;
}
.dropdown-login .icon-star-empty {
  background-position: -144px 0;
}
.dropdown-login .icon-user {
  background-position: -168px 0;
}
.dropdown-login .icon-film {
  background-position: -192px 0;
}
.dropdown-login .icon-th-large {
  background-position: -216px 0;
}
.dropdown-login .icon-th {
  background-position: -240px 0;
}
.dropdown-login .icon-th-list {
  background-position: -264px 0;
}
.dropdown-login .icon-ok {
  background-position: -288px 0;
}
.dropdown-login .icon-remove {
  background-position: -312px 0;
}
.dropdown-login .icon-zoom-in {
  background-position: -336px 0;
}
.dropdown-login .icon-zoom-out {
  background-position: -360px 0;
}
.dropdown-login .icon-off {
  background-position: -384px 0;
}
.dropdown-login .icon-signal {
  background-position: -408px 0;
}
.dropdown-login .icon-cog {
  background-position: -432px 0;
}
.dropdown-login .icon-trash {
  background-position: -456px 0;
}
.dropdown-login .icon-home {
  background-position: 0 -24px;
}
.dropdown-login .icon-file {
  background-position: -24px -24px;
}
.dropdown-login .icon-time {
  background-position: -48px -24px;
}
.dropdown-login .icon-road {
  background-position: -72px -24px;
}
.dropdown-login .icon-download-alt {
  background-position: -96px -24px;
}
.dropdown-login .icon-download {
  background-position: -120px -24px;
}
.dropdown-login .icon-upload {
  background-position: -144px -24px;
}
.dropdown-login .icon-inbox {
  background-position: -168px -24px;
}
.dropdown-login .icon-play-circle {
  background-position: -192px -24px;
}
.dropdown-login .icon-repeat {
  background-position: -216px -24px;
}
.dropdown-login .icon-refresh {
  background-position: -240px -24px;
}
.dropdown-login .icon-list-alt {
  background-position: -264px -24px;
}
.dropdown-login .icon-lock {
  background-position: -287px -24px;
}
.dropdown-login .icon-flag {
  background-position: -312px -24px;
}
.dropdown-login .icon-headphones {
  background-position: -336px -24px;
}
.dropdown-login .icon-volume-off {
  background-position: -360px -24px;
}
.dropdown-login .icon-volume-down {
  background-position: -384px -24px;
}
.dropdown-login .icon-volume-up {
  background-position: -408px -24px;
}
.dropdown-login .icon-qrcode {
  background-position: -432px -24px;
}
.dropdown-login .icon-barcode {
  background-position: -456px -24px;
}
.dropdown-login .icon-tag {
  background-position: 0 -48px;
}
.dropdown-login .icon-tags {
  background-position: -25px -48px;
}
.dropdown-login .icon-book {
  background-position: -48px -48px;
}
.dropdown-login .icon-bookmark {
  background-position: -72px -48px;
}
.dropdown-login .icon-print {
  background-position: -96px -48px;
}
.dropdown-login .icon-camera {
  background-position: -120px -48px;
}
.dropdown-login .icon-font {
  background-position: -144px -48px;
}
.dropdown-login .icon-bold {
  background-position: -167px -48px;
}
.dropdown-login .icon-italic {
  background-position: -192px -48px;
}
.dropdown-login .icon-text-height {
  background-position: -216px -48px;
}
.dropdown-login .icon-text-width {
  background-position: -240px -48px;
}
.dropdown-login .icon-align-left {
  background-position: -264px -48px;
}
.dropdown-login .icon-align-center {
  background-position: -288px -48px;
}
.dropdown-login .icon-align-right {
  background-position: -312px -48px;
}
.dropdown-login .icon-align-justify {
  background-position: -336px -48px;
}
.dropdown-login .icon-list {
  background-position: -360px -48px;
}
.dropdown-login .icon-indent-left {
  background-position: -384px -48px;
}
.dropdown-login .icon-indent-right {
  background-position: -408px -48px;
}
.dropdown-login .icon-facetime-video {
  background-position: -432px -48px;
}
.dropdown-login .icon-picture {
  background-position: -456px -48px;
}
.dropdown-login .icon-pencil {
  background-position: 0 -72px;
}
.dropdown-login .icon-map-marker {
  background-position: -24px -72px;
}
.dropdown-login .icon-adjust {
  background-position: -48px -72px;
}
.dropdown-login .icon-tint {
  background-position: -72px -72px;
}
.dropdown-login .icon-edit {
  background-position: -96px -72px;
}
.dropdown-login .icon-share {
  background-position: -120px -72px;
}
.dropdown-login .icon-check {
  background-position: -144px -72px;
}
.dropdown-login .icon-move {
  background-position: -168px -72px;
}
.dropdown-login .icon-step-backward {
  background-position: -192px -72px;
}
.dropdown-login .icon-fast-backward {
  background-position: -216px -72px;
}
.dropdown-login .icon-backward {
  background-position: -240px -72px;
}
.dropdown-login .icon-play {
  background-position: -264px -72px;
}
.dropdown-login .icon-pause {
  background-position: -288px -72px;
}
.dropdown-login .icon-stop {
  background-position: -312px -72px;
}
.dropdown-login .icon-forward {
  background-position: -336px -72px;
}
.dropdown-login .icon-fast-forward {
  background-position: -360px -72px;
}
.dropdown-login .icon-step-forward {
  background-position: -384px -72px;
}
.dropdown-login .icon-eject {
  background-position: -408px -72px;
}
.dropdown-login .icon-chevron-left {
  background-position: -432px -72px;
}
.dropdown-login .icon-chevron-right {
  background-position: -456px -72px;
}
.dropdown-login .icon-plus-sign {
  background-position: 0 -96px;
}
.dropdown-login .icon-minus-sign {
  background-position: -24px -96px;
}
.dropdown-login .icon-remove-sign {
  background-position: -48px -96px;
}
.dropdown-login .icon-ok-sign {
  background-position: -72px -96px;
}
.dropdown-login .icon-question-sign {
  background-position: -96px -96px;
}
.dropdown-login .icon-info-sign {
  background-position: -120px -96px;
}
.dropdown-login .icon-screenshot {
  background-position: -144px -96px;
}
.dropdown-login .icon-remove-circle {
  background-position: -168px -96px;
}
.dropdown-login .icon-ok-circle {
  background-position: -192px -96px;
}
.dropdown-login .icon-ban-circle {
  background-position: -216px -96px;
}
.dropdown-login .icon-arrow-left {
  background-position: -240px -96px;
}
.dropdown-login .icon-arrow-right {
  background-position: -264px -96px;
}
.dropdown-login .icon-arrow-up {
  background-position: -289px -96px;
}
.dropdown-login .icon-arrow-down {
  background-position: -312px -96px;
}
.dropdown-login .icon-share-alt {
  background-position: -336px -96px;
}
.dropdown-login .icon-resize-full {
  background-position: -360px -96px;
}
.dropdown-login .icon-resize-small {
  background-position: -384px -96px;
}
.dropdown-login .icon-plus {
  background-position: -408px -96px;
}
.dropdown-login .icon-minus {
  background-position: -433px -96px;
}
.dropdown-login .icon-asterisk {
  background-position: -456px -96px;
}
.dropdown-login .icon-exclamation-sign {
  background-position: 0 -120px;
}
.dropdown-login .icon-gift {
  background-position: -24px -120px;
}
.dropdown-login .icon-leaf {
  background-position: -48px -120px;
}
.dropdown-login .icon-fire {
  background-position: -72px -120px;
}
.dropdown-login .icon-eye-open {
  background-position: -96px -120px;
}
.dropdown-login .icon-eye-close {
  background-position: -120px -120px;
}
.dropdown-login .icon-warning-sign {
  background-position: -144px -120px;
}
.dropdown-login .icon-plane {
  background-position: -168px -120px;
}
.dropdown-login .icon-calendar {
  background-position: -192px -120px;
}
.dropdown-login .icon-random {
  background-position: -216px -120px;
  width: 16px;
}
.dropdown-login .icon-comment {
  background-position: -240px -120px;
}
.dropdown-login .icon-magnet {
  background-position: -264px -120px;
}
.dropdown-login .icon-chevron-up {
  background-position: -288px -120px;
}
.dropdown-login .icon-chevron-down {
  background-position: -313px -119px;
}
.dropdown-login .icon-retweet {
  background-position: -336px -120px;
}
.dropdown-login .icon-shopping-cart {
  background-position: -360px -120px;
}
.dropdown-login .icon-folder-close {
  background-position: -384px -120px;
}
.dropdown-login .icon-folder-open {
  background-position: -408px -120px;
  width: 16px;
}
.dropdown-login .icon-resize-vertical {
  background-position: -432px -119px;
}
.dropdown-login .icon-resize-horizontal {
  background-position: -456px -118px;
}
.dropdown-login .icon-hdd {
  background-position: 0 -144px;
}
.dropdown-login .icon-bullhorn {
  background-position: -24px -144px;
}
.dropdown-login .icon-bell {
  background-position: -48px -144px;
}
.dropdown-login .icon-certificate {
  background-position: -72px -144px;
}
.dropdown-login .icon-thumbs-up {
  background-position: -96px -144px;
}
.dropdown-login .icon-thumbs-down {
  background-position: -120px -144px;
}
.dropdown-login .icon-hand-right {
  background-position: -144px -144px;
}
.dropdown-login .icon-hand-left {
  background-position: -168px -144px;
}
.dropdown-login .icon-hand-up {
  background-position: -192px -144px;
}
.dropdown-login .icon-hand-down {
  background-position: -216px -144px;
}
.dropdown-login .icon-circle-arrow-right {
  background-position: -240px -144px;
}
.dropdown-login .icon-circle-arrow-left {
  background-position: -264px -144px;
}
.dropdown-login .icon-circle-arrow-up {
  background-position: -288px -144px;
}
.dropdown-login .icon-circle-arrow-down {
  background-position: -312px -144px;
}
.dropdown-login .icon-globe {
  background-position: -336px -144px;
}
.dropdown-login .icon-wrench {
  background-position: -360px -144px;
}
.dropdown-login .icon-tasks {
  background-position: -384px -144px;
}
.dropdown-login .icon-filter {
  background-position: -408px -144px;
}
.dropdown-login .icon-briefcase {
  background-position: -432px -144px;
}
.dropdown-login .icon-fullscreen {
  background-position: -456px -144px;
}
.dropdown-login .btn-group {
  position: relative;
  font-size: 0;
  white-space: nowrap;
  *margin-left: .3em;
}
.dropdown-login .btn-group:first-child {
  *margin-left: 0;
}
.dropdown-login .btn-group + .btn-group {
  margin-left: 5px;
}
.dropdown-login .btn-toolbar {
  font-size: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}
.dropdown-login .btn-toolbar .btn-group {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
}
.dropdown-login .btn-toolbar .btn + .btn,
.dropdown-login .btn-toolbar .btn-group + .btn,
.dropdown-login .btn-toolbar .btn + .btn-group {
  margin-left: 5px;
}
.dropdown-login .btn-group > .btn {
  position: relative;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.dropdown-login .btn-group > .btn + .btn {
  margin-left: -1px;
}
.dropdown-login .btn-group > .btn,
.dropdown-login .btn-group > .dropdown-menu {
  font-size: 14px;
}
.dropdown-login .btn-group > .btn-mini {
  font-size: 11px;
}
.dropdown-login .btn-group > .btn-small {
  font-size: 12px;
}
.dropdown-login .btn-group > .btn-large {
  font-size: 16px;
}
.dropdown-login .btn-group > .btn:first-child {
  margin-left: 0;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-left-radius: 4px;
}
.dropdown-login .btn-group > .btn:last-child,
.dropdown-login .btn-group > .dropdown-toggle {
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-right-radius: 4px;
}
.dropdown-login .btn-group > .btn.large:first-child {
  margin-left: 0;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  border-top-left-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-bottom-left-radius: 6px;
}
.dropdown-login .btn-group > .btn.large:last-child,
.dropdown-login .btn-group > .large.dropdown-toggle {
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  border-bottom-right-radius: 6px;
}
.dropdown-login .btn-group > .btn:hover,
.dropdown-login .btn-group > .btn:focus,
.dropdown-login .btn-group > .btn:active,
.dropdown-login .btn-group > .btn.active {
  z-index: 2;
}
.dropdown-login .btn-group .dropdown-toggle:active,
.dropdown-login .btn-group.open .dropdown-toggle {
  outline: 0;
}
.dropdown-login .btn-group > .btn + .dropdown-toggle {
  padding-left: 8px;
  padding-right: 8px;
  -webkit-box-shadow: inset 1px 0 0 rgba(255,255,255,.125), inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 1px 0 0 rgba(255,255,255,.125), inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 1px 0 0 rgba(255,255,255,.125), inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  *padding-top: 5px;
  *padding-bottom: 5px;
}
.dropdown-login .btn-group > .btn-mini + .dropdown-toggle {
  padding-left: 5px;
  padding-right: 5px;
  *padding-top: 2px;
  *padding-bottom: 2px;
}
.dropdown-login .btn-group > .btn-small + .dropdown-toggle {
  *padding-top: 5px;
  *padding-bottom: 4px;
}
.dropdown-login .btn-group > .btn-large + .dropdown-toggle {
  padding-left: 12px;
  padding-right: 12px;
  *padding-top: 7px;
  *padding-bottom: 7px;
}
.dropdown-login .btn-group.open .dropdown-toggle {
  background-image: none;
  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
}
.dropdown-login .btn-group.open .btn.dropdown-toggle {
  background-color: #e6e6e6;
}
.dropdown-login .btn-group.open .btn-primary.dropdown-toggle {
  background-color: #0044cc;
}
.dropdown-login .btn-group.open .btn-warning.dropdown-toggle {
  background-color: #f89406;
}
.dropdown-login .btn-group.open .btn-danger.dropdown-toggle {
  background-color: #bd362f;
}
.dropdown-login .btn-group.open .btn-success.dropdown-toggle {
  background-color: #51a351;
}
.dropdown-login .btn-group.open .btn-info.dropdown-toggle {
  background-color: #2f96b4;
}
.dropdown-login .btn-group.open .btn-inverse.dropdown-toggle {
  background-color: #222222;
}
.dropdown-login .btn .caret {
  margin-top: 8px;
  margin-left: 0;
}
.dropdown-login .btn-mini .caret,
.dropdown-login .btn-small .caret,
.dropdown-login .btn-large .caret {
  margin-top: 6px;
}
.dropdown-login .btn-large .caret {
  border-left-width: 5px;
  border-right-width: 5px;
  border-top-width: 5px;
}
.dropdown-login .dropup .btn-large .caret {
  border-bottom: 5px solid #000000;
  border-top: 0;
}
.dropdown-login .btn-primary .caret,
.dropdown-login .btn-warning .caret,
.dropdown-login .btn-danger .caret,
.dropdown-login .btn-info .caret,
.dropdown-login .btn-success .caret,
.dropdown-login .btn-inverse .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.dropdown-login .btn-group-vertical {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
}
.dropdown-login .btn-group-vertical .btn {
  display: block;
  float: none;
  width: 100%;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.dropdown-login .btn-group-vertical .btn + .btn {
  margin-left: 0;
  margin-top: -1px;
}
.dropdown-login .btn-group-vertical .btn:first-child {
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
.dropdown-login .btn-group-vertical .btn:last-child {
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}
.dropdown-login .btn-group-vertical .btn-large:first-child {
  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
}
.dropdown-login .btn-group-vertical .btn-large:last-child {
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
}
.dropdown-login .fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.dropdown-login .fade.in {
  opacity: 1;
}
.dropdown-login .collapse {
  position: relative;
  height: 0;
  overflow: hidden;
  overflow: visible \9;
  -webkit-transition: height 0.35s ease;
  -moz-transition: height 0.35s ease;
  -o-transition: height 0.35s ease;
  transition: height 0.35s ease;
}
.dropdown-login .collapse.in {
  height: auto;
}

[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-top: 1px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("../img/glyphicons-halflings.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
}

/* White icons with optional class, or on hover/active states of certain elements */

.icon-white,
.nav-tabs > .active > a > [class^="icon-"],
.nav-tabs > .active > a > [class*=" icon-"],
.nav-pills > .active > a > [class^="icon-"],
.nav-pills > .active > a > [class*=" icon-"],
.nav-list > .active > a > [class^="icon-"],
.nav-list > .active > a > [class*=" icon-"],
.navbar-inverse .nav > .active > a > [class^="icon-"],
.navbar-inverse .nav > .active > a > [class*=" icon-"],
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-menu > .active > a > [class*=" icon-"] {
  background-image: url("/static/slo/shared/img/brandline/glyphicons-halflings-white.png");
}

.icon-glass {
  background-position: 0      0;
}

.icon-music {
  background-position: -24px 0;
}

.icon-search {
  background-position: -48px 0;
}

.icon-envelope {
  background-position: -72px 0;
}

.icon-heart {
  background-position: -96px 0;
}

.icon-star {
  background-position: -120px 0;
}

.icon-star-empty {
  background-position: -144px 0;
}

.icon-user {
  background-position: -168px 0;
}

.icon-film {
  background-position: -192px 0;
}

.icon-th-large {
  background-position: -216px 0;
}

.icon-th {
  background-position: -240px 0;
}

.icon-th-list {
  background-position: -264px 0;
}

.icon-ok {
  background-position: -288px 0;
}

.icon-remove {
  background-position: -312px 0;
}

.icon-zoom-in {
  background-position: -336px 0;
}

.icon-zoom-out {
  background-position: -360px 0;
}

.icon-off {
  background-position: -384px 0;
}

.icon-signal {
  background-position: -408px 0;
}

.icon-cog {
  background-position: -432px 0;
}

.icon-trash {
  background-position: -456px 0;
}

.icon-home {
  background-position: 0 -24px;
}

.icon-file {
  background-position: -24px -24px;
}

.icon-time {
  background-position: -48px -24px;
}

.icon-road {
  background-position: -72px -24px;
}

.icon-download-alt {
  background-position: -96px -24px;
}

.icon-download {
  background-position: -120px -24px;
}

.icon-upload {
  background-position: -144px -24px;
}

.icon-inbox {
  background-position: -168px -24px;
}

.icon-play-circle {
  background-position: -192px -24px;
}

.icon-repeat {
  background-position: -216px -24px;
}

.icon-refresh {
  background-position: -240px -24px;
}

.icon-list-alt {
  background-position: -264px -24px;
}

.icon-lock {
  background-position: -287px -24px;
}

.icon-flag {
  background-position: -312px -24px;
}

.icon-headphones {
  background-position: -336px -24px;
}

.icon-volume-off {
  background-position: -360px -24px;
}

.icon-volume-down {
  background-position: -384px -24px;
}

.icon-volume-up {
  background-position: -408px -24px;
}

.icon-qrcode {
  background-position: -432px -24px;
}

.icon-barcode {
  background-position: -456px -24px;
}

.icon-tag {
  background-position: 0 -48px;
}

.icon-tags {
  background-position: -25px -48px;
}

.icon-book {
  background-position: -48px -48px;
}

.icon-bookmark {
  background-position: -72px -48px;
}

.icon-print {
  background-position: -96px -48px;
}

.icon-camera {
  background-position: -120px -48px;
}

.icon-font {
  background-position: -144px -48px;
}

.icon-bold {
  background-position: -167px -48px;
}

.icon-italic {
  background-position: -192px -48px;
}

.icon-text-height {
  background-position: -216px -48px;
}

.icon-text-width {
  background-position: -240px -48px;
}

.icon-align-left {
  background-position: -264px -48px;
}

.icon-align-center {
  background-position: -288px -48px;
}

.icon-align-right {
  background-position: -312px -48px;
}

.icon-align-justify {
  background-position: -336px -48px;
}

.icon-list {
  background-position: -360px -48px;
}

.icon-indent-left {
  background-position: -384px -48px;
}

.icon-indent-right {
  background-position: -408px -48px;
}

.icon-facetime-video {
  background-position: -432px -48px;
}

.icon-picture {
  background-position: -456px -48px;
}

.icon-pencil {
  background-position: 0 -72px;
}

.icon-map-marker {
  background-position: -24px -72px;
}

.icon-adjust {
  background-position: -48px -72px;
}

.icon-tint {
  background-position: -72px -72px;
}

.icon-edit {
  background-position: -96px -72px;
}

.icon-share {
  background-position: -120px -72px;
}

.icon-check {
  background-position: -144px -72px;
}

.icon-move {
  background-position: -168px -72px;
}

.icon-step-backward {
  background-position: -192px -72px;
}

.icon-fast-backward {
  background-position: -216px -72px;
}

.icon-backward {
  background-position: -240px -72px;
}

.icon-play {
  background-position: -264px -72px;
}

.icon-pause {
  background-position: -288px -72px;
}

.icon-stop {
  background-position: -312px -72px;
}

.icon-forward {
  background-position: -336px -72px;
}

.icon-fast-forward {
  background-position: -360px -72px;
}

.icon-step-forward {
  background-position: -384px -72px;
}

.icon-eject {
  background-position: -408px -72px;
}

.icon-chevron-left {
  background-position: -432px -72px;
}

.icon-chevron-right {
  background-position: -456px -72px;
}

.icon-plus-sign {
  background-position: 0 -96px;
}

.icon-minus-sign {
  background-position: -24px -96px;
}

.icon-remove-sign {
  background-position: -48px -96px;
}

.icon-ok-sign {
  background-position: -72px -96px;
}

.icon-question-sign {
  background-position: -96px -96px;
}

.icon-info-sign {
  background-position: -120px -96px;
}

.icon-screenshot {
  background-position: -144px -96px;
}

.icon-remove-circle {
  background-position: -168px -96px;
}

.icon-ok-circle {
  background-position: -192px -96px;
}

.icon-ban-circle {
  background-position: -216px -96px;
}

.icon-arrow-left {
  background-position: -240px -96px;
}

.icon-arrow-right {
  background-position: -264px -96px;
}

.icon-arrow-up {
  background-position: -289px -96px;
}

.icon-arrow-down {
  background-position: -312px -96px;
}

.icon-share-alt {
  background-position: -336px -96px;
}

.icon-resize-full {
  background-position: -360px -96px;
}

.icon-resize-small {
  background-position: -384px -96px;
}

.icon-plus {
  background-position: -408px -96px;
}

.icon-minus {
  background-position: -433px -96px;
}

.icon-asterisk {
  background-position: -456px -96px;
}

.icon-exclamation-sign {
  background-position: 0 -120px;
}

.icon-gift {
  background-position: -24px -120px;
}

.icon-leaf {
  background-position: -48px -120px;
}

.icon-fire {
  background-position: -72px -120px;
}

.icon-eye-open {
  background-position: -96px -120px;
}

.icon-eye-close {
  background-position: -120px -120px;
}

.icon-warning-sign {
  background-position: -144px -120px;
}

.icon-plane {
  background-position: -168px -120px;
}

.icon-calendar {
  background-position: -192px -120px;
}

.icon-random {
  width: 16px;
  background-position: -216px -120px;
}

.icon-comment {
  background-position: -240px -120px;
}

.icon-magnet {
  background-position: -264px -120px;
}

.icon-chevron-up {
  background-position: -288px -120px;
}

.icon-chevron-down {
  background-position: -313px -119px;
}

.icon-retweet {
  background-position: -336px -120px;
}

.icon-shopping-cart {
  background-position: -360px -120px;
}

.icon-folder-close {
  background-position: -384px -120px;
}

.icon-folder-open {
  width: 16px;
  background-position: -408px -120px;
}

.icon-resize-vertical {
  background-position: -432px -119px;
}

.icon-resize-horizontal {
  background-position: -456px -118px;
}

.icon-hdd {
  background-position: 0 -144px;
}

.icon-bullhorn {
  background-position: -24px -144px;
}

.icon-bell {
  background-position: -48px -144px;
}

.icon-certificate {
  background-position: -72px -144px;
}

.icon-thumbs-up {
  background-position: -96px -144px;
}

.icon-thumbs-down {
  background-position: -120px -144px;
}

.icon-hand-right {
  background-position: -144px -144px;
}

.icon-hand-left {
  background-position: -168px -144px;
}

.icon-hand-up {
  background-position: -192px -144px;
}

.icon-hand-down {
  background-position: -216px -144px;
}

.icon-circle-arrow-right {
  background-position: -240px -144px;
}

.icon-circle-arrow-left {
  background-position: -264px -144px;
}

.icon-circle-arrow-up {
  background-position: -288px -144px;
}

.icon-circle-arrow-down {
  background-position: -312px -144px;
}

.icon-globe {
  background-position: -336px -144px;
}

.icon-wrench {
  background-position: -360px -144px;
}

.icon-tasks {
  background-position: -384px -144px;
}

.icon-filter {
  background-position: -408px -144px;
}

.icon-briefcase {
  background-position: -432px -144px;
}

.icon-fullscreen {
  background-position: -456px -144px;
}

.dropdown .caret {
  margin-top: 8px;
  margin-left: 2px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10001;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}

.dropdown-menu .divider {
  *width: 100%;
  height: 1px;
  margin: 9px 1px;
  *margin: -5px 0 5px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #ffffff;
}

.dropdown-menu a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  color: #333333;
  white-space: nowrap;
}

.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  color: #ffffff;
  text-decoration: none;
  background-color: #0088cc;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #0088cc;
  background-color: #0081c2;
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-repeat: repeat-x;
  outline: 0;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

.dropdown-menu .disabled > a,
.dropdown-menu .disabled > a:hover {
  color: #999999;
}

.dropdown-menu .disabled > a:hover {
  text-decoration: none;
  cursor: default;
  background-color: transparent;
}

.table-condensed th, .table-condensed td {
    padding: 4px 5px;
}

.btn, .btn:hover {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
:-moz-any-link:focus {
  outline: none;
}