a,
a:active,
a:hover,
a:focus {
	outline: none;
}
a:hover {
	text-decoration: none !important;
}
.dropdown-login .login-content {
	display: block;
	width: 190px;
	top: 6px;
	left: 0;
	background-position: center 23px;

	text-align: center;
}
.dropdown-login .missing-dropdown {
	display: block;
	width: 500px;
	top: 6px;
	left: 0;
	background-position: 245px 23px;
	text-align: center;
	z-index: 2;
}
.dropdown-login .missing-dropdown .form-error {
	width: auto;
	margin: 0;
}
.dropdown-login .missing-dropdown label {
	width: 80px;
	display: inline-block;
	margin: 0 10px 0 0;
	text-align: right;
}
.dropdown-login .missing-dropdown .controls {
	width: 358px;
	display: inline-block;
}
.dropdown-login .missing-dropdown .controls > div {
	padding: 10px 20px;
	background-color: #FAFAFA;
	-webkit-border-radius: 6px;
	   -moz-border-radius: 6px;
	        border-radius: 6px;
	line-height: 25px;
}
.dropdown-login .missing-dropdown .controls > div > strong {
	color: #555;
	font-size: 12px;
}
.dropdown-login .missing-dropdown .controls > div > btn {
	margin: 0 0 0 10px;
}
.dropdown-login .register-dropdown {
	display: block;
	width: 292px;
	top: 6px;
	left: 0;
	background-position: 245px 23px;
	text-align: center;
	z-index: 2;
}
.dropdown-login .dropdown-media-content {
	padding: 0;
}
.dropdown-login .dropdown-media a.btn:hover {
	border: 1px solid rgba(0, 0, 0, 0.15) !important;
}
.dropdown-login .dropdown-media .login-main input[type="text"] ,
.dropdown-login .dropdown-media .login-main input[type="password"] {

	width: 156px;
}
.dropdown-login .dropdown-media .login-main .btn {
	width: 140px;
	color: #FFF !important;
	font-weight: bold;
}
.dropdown-login .dropdown-media .login-main {
	padding: 10px 5px 0;
}
.dropdown-login .dropdown-media .register-main {
	padding: 15px 0;

	background-image: url(/static/slo/shared/img/brandline/dropdown-media-shaddow.png);
	background-position: center top;
	background-repeat: no-repeat;
}
.dropdown-login .dropdown-media .login-alt {
	padding: 15px 0 10px;

	background-image: url(/static/slo/shared/img/brandline/dropdown-media-shaddow.png);
	background-position: center top;
	background-repeat: no-repeat;
}
.dropdown-login .dropdown-media .register-main .btn,
.dropdown-login .dropdown-media .login-alt .btn {
	width: 110px;
	text-align: left;
	padding-left: 32px;

	position: relative;
	z-index: 1;

	height: 16px;
	line-height: 16px;

	color: #555;
}
.dropdown-login .dropdown-media .btn .btn-image {
	position: absolute;
	top: -1px;
	left: -1px;

	width: 25px;
	height: 24px;

	background-position: left top;
	background-repeat: no-repeat;
}
#crm-btn-login.btn-loader {
	background-image: url(/static/slo/shared/img/btn-loader.gif) !important;
}
#crm-btn-login.btn-primary.btn-loader,
.btn-primary.btn-loader {
	background-image: url(/static/slo/shared/img/btn-loader-blue.gif) !important;
}
.dropdown-login .dropdown-media .btn-register.btn-loader .btn-image {
	display: none;
}
.dropdown-login .dropdown-media .btn-register.btn-loader {
	background-image: url(/static/slo/shared/img/btn-loader.gif) !important;
}
.dropdown-login .dropdown-media .btn-settings.btn-loader .btn-image {
	display: none;
}
.dropdown-login .dropdown-media .btn-settings.btn-loader {
	background-image: url(/static/slo/shared/img/btn-loader.gif) !important;
}
.dropdown-login .dropdown-media .btn-logout.btn-loader .btn-image {
	display: none;
}
.dropdown-login .dropdown-media .btn-logout.btn-loader {
	background-image: url(/static/slo/shared/img/btn-loader.gif) !important;
}
.dropdown-login .dropdown-media .lost-password.btn-loader {
	background-image: url(/static/slo/shared/img/btn-loader.gif) !important;
	padding-left: 20px !important;
}
.dropdown-login .dropdown-media .btn-register .btn-image {
	background-image: url(/static/slo/shared/img/brandline/btn-image-register.png);
}
.dropdown-login .dropdown-media .btn-facebook .btn-image {
	background-image: url(/static/slo/shared/img/brandline/btn-image-facebook.png);
}
.dropdown-login .dropdown-media .btn-google .btn-image {
	background-image: url(/static/slo/shared/img/brandline/btn-image-google.png);
}
.dropdown-login .dropdown-media .btn-facebook {
	margin: 0 0 10px 0;
}
.dropdown-media .dropdown-media-content {
	background-color: #FFF;

	-webkit-border-radius: 6px;
	   -moz-border-radius: 6px;
	        border-radius: 6px;

	overflow: hidden;

	padding: 3px;

	-webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.4);
	   -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.4);
	        box-shadow: 0 2px 6px rgba(0,0,0,0.4);

	border: 1px solid #DDD;
}
.dropdown-media {
	padding: 28px 20px 20px;

	z-index: 1;

	background-image: url(/static/slo/shared/img/brandline/dropdown-media-arrow.png);
	background-position: center 23px;
	background-repeat: no-repeat;
}

.register-dropdown .dropdown-media-content {
	text-align: left;
}
.login-content .dropdown-media-content
{
	text-align: center;
}

.login-content .dropdown-media-content a.crm-login-close {
	position: absolute;
	top: -6px;
	left: 170px;
	width: 24px;
	height: 24px;
	background-image: url("/static/slo/shared/img/brandline/dropdown-close-bt.png");
	background-position: left 0;
	background-repeat: no-repeat;
	z-index: 100;
}

.login-content .dropdown-media-content a:hover.crm-login-close {
	background-position: right 0;
}

.login-content .dropdown-media-content a.crm-login-close span {
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
}

.register-header,
.register-content,
.register-footer {
	padding: 20px 20px;
}
/*.register-content {
	padding: 20px 20px 10px;
}*/
.register-header {
	background-image: url(/static/slo/shared/img/brandline/dropdown-media-shaddow-top.png);
	background-position: center bottom;
	background-repeat: no-repeat;

	padding: 20px 20px 15px;
}
.register-footer {
	text-align: center;
	background-image: url(/static/slo/shared/img/brandline/dropdown-media-shaddow.png);
	background-position: center top;
	background-repeat: no-repeat;

	padding: 15px 20px;
}
.register-footer small {
	display: block;
	font-size: 11px;
	line-height: 14px;
	padding: 0 20px;
	margin: 0 0 10px 0;
}
.dropdown-login .dropdown-media a.btn-inverse {
	color: #FFF !important;
	margin: 0 0 7px;
}
.register-header h2 {
	display: block;
	font-size: 24px;
	line-height: 24px;
	color: #333;
	padding: 0;
	margin: 0 0 5px 0;
}
.register-header small {
	font-size: 12px;
	line-height: 16px;
	display: block;
	padding: 0;
	margin: 0 0 5px 0;
}
.register-content > div > .title {
	display: block;
	float: left;
	width: 90px;
	text-align: right;
	font-size: 12px;
	line-height: 30px;
	font-weight: normal;
	height: 30px;
	margin: 0 5px 0 0;
}
.register-content > div > .field {
	float: left;
	width: 164px;
}
.register-content > div > .field > input[type="text"] {
	float: left;
	width: 150px;
}
.register-content > div > .field > input[type="text"].hasDatepicker {
	width: 100px;
}
.register-content > div > .field > .ui-datepicker-trigger {
	margin: 5px;
}
.register-content > div > .notice {
	float: left;
	width: 246px;
	display:none;
}
.register-content > div > .field > input[type="radio"] {
	margin: 0 5px 0 10px;
}
.register-content > div > .field > select {
	float: left;
	width: 50px;
	margin: 0 3px 0 0;
}
/*.dropdown-media-content .notice {
  padding: 4px 6px !important;
  margin-bottom: 10px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3 !important;
  border: 1px solid #fbeed5 !important;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #c09853 !important;

  text-align: center;
  display:none;
}*/

.dropdown-media-content .notice {
    background-color: #ffd4d4 !important;
    border: 1px solid red !important;

     -webkit-border-radius: 4px;
  	-moz-border-radius: 4px;
  	border-radius: 4px;

    color: red !important;
    display: none;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 4px 6px !important;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}



.dropdown-media-content .notice h4 {
  margin: 0;
}
.dropdown-media-content .notice .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 20px;
}
.dropdown-media-content .notice-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}
.notice-ok {
	padding: 4px 6px !important;
	margin-bottom: 10px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	border: 1px solid #d6e9c6 !important;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

	text-align: center;
	display:none;
  background-color: #dff0d8 !important;
  border-color: #d6e9c6 !important;
  color: #468847 !important;
}
.notice-failure {
  padding: 4px 6px !important;
  margin-bottom: 10px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border: 1px solid #d6e9c6 !important;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

  text-align: center;
  display: none;
  background-color: #f2dede !important;
  border-color: #ebccd1 !important;
  color: #a94442 !important;
}
.dropdown-media-content .notice-danger,
.dropdown-media-content .notice-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}
.dropdown-media-content .notice-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #3a87ad;
}
.dropdown-media-content .notice-block {
  padding-top: 14px;
  padding-bottom: 14px;
}
.dropdown-media-content .notice-block > p,
.dropdown-media-content .notice-block > ul {
  margin-bottom: 0;
}
.dropdown-media-content .notice-block p + p {
  margin-top: 5px;
}
.dropdown-media-content .control-group.error > label,
.dropdown-media-content .control-group.error .help-block,
.dropdown-media-content .control-group.error .help-inline {
  color: #b94a48;
}
.dropdown-media-content .control-group.error .checkbox,
.dropdown-media-content .control-group.error .radio,
.dropdown-media-content .control-group.error input,
.dropdown-media-content .control-group.error select,
.dropdown-media-content .control-group.error textarea {
  color: #b94a48;
  border-color: #b94a48;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.dropdown-media-content .control-group.error .checkbox:focus,
.dropdown-media-content .control-group.error .radio:focus,
.dropdown-media-content .control-group.error input:focus,
.dropdown-media-content .control-group.error select:focus,
.dropdown-media-content .control-group.error textarea:focus {
  border-color: #953b39;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}
.dropdown-media-content .control-group.error .input-prepend .add-on,
.dropdown-media-content .control-group.error .input-append .add-on {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #b94a48;
}
.dropdown-media-content .notice-danger,
.dropdown-media-content .notice-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}
.dropdown-media-content .table tbody tr.error td {
  background-color: #f2dede;
}
.dropdown-login {
	position: relative;
	z-index: 2;

	color: #999;
}
.dropdown-login .btn-login {
	height: 18px;
	line-height: 18px;

	position: relative;
	z-index: 3;
}
.btn-login [class^="icon-"],
.btn-login [class*=" icon-"] {
	background-image: url(/static/slo/shared/img/brandline/glyphicons-halflings-white.png) !important;
}
.login-main > div > .title {
	text-align: left;
	margin: 0 0 5px 10px;
}
.register-main .ui-datepicker {
	z-index: 1000;
}
.register-content label {
	margin-bottom: 0;
	margin: 0 0 5px;
}
.dropdown-login .register-dropdown {
	padding: 0;
}
#form_crm_login .login-content {
	padding: 0;
}
.nastavitve .ui-datepicker {
	z-index: 100000 !important;
}
.nastavitve .ui-widget-content {
	background: none;
	background-color: #FFF;

	border: 1px solid #DDD;

	-webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.4);
	   -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.4);
	        box-shadow: 0 2px 6px rgba(0,0,0,0.4);
}
.lost-password {
	display: block;
	margin: 0 0 10px;

	font-size: 13px;
	font-weight: bold;
}
.ui-datepicker {
	z-index: 100000 !important;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	background: none !important;
	background-color: #FFF !important;
	border: 1px solid #DDD !important;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

	color: #999 !important;

	font-size: 12px !important;
	font-weight: normal !important;
}
.ui-state-default:hover,
.ui-widget-content .ui-state-default:hover,
.ui-widget-header .ui-state-default:hover {
	background-color: #F7F7F7 !important;
	color: #222 !important;
	border: 1px solid #CCC !important;
}
.form-error {
	padding: 6px 12px;
	margin: 0 0 10px;
	color: #c09853;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #fcf8e3;
	border: 1px solid #fbeed5;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;

	display: none;

	font-size: 12px;
	text-align: left;
}
.form-horizontal .form-error {
	margin-left: 180px;
	margin-bottom: 10px;
}
.register-content .controls > input {
	margin: 0;
	width: 240px;
}
.register-content .form-error {
	width: 216px;
}
.form-horizontal .controls input[type="text"],
.form-horizontal .controls input[type="password"] {
	width: 292px;
}
.form-horizontal .form-error {
	width: 280px;
}
.register-content #crm_f_gender {
	line-height: 30px;
}
.register-content #crm_f_gender > label,
.register-content #crm_f_gender > .controls {
	display: inline-block !important;
}
.register-content #crm_f_gender > label {
	width: 50px;
	margin: 0 10px 0 0;
	text-align: right;
}
.register-content #crm_f_bdate > label,
.register-content #crm_f_bdate > .controls {
	display: inline-block !important;
}
.register-content #crm_f_bdate > label {
	width: 90px;
	margin: 0 10px 0 0;
	text-align: right;
}
.register-content #crm_f_bdate > div > input {
	width: 120px;
}
.register-content #crm_f_gsm > label,
.register-content #crm_f_gsm > .controls {
	display: inline-block !important;
}
.register-content #crm_f_gsm > label {
	width: 90px;
	margin: 0 10px 0 0;
	text-align: right;
}
.register-content #crm_f_gsm > div > input {
	width: 120px;
}
/*.register-content #crm_f_gender > .controls {
	width: 170px;
}*/
.register-content #crm_f_gender > .controls > label {
	padding-top: 0;
}
.login-main .controls > input {
	margin: 0 !important;
}
.login-main > div > label {
	text-align: left;
	padding: 0;
	margin: 0 5px 5px;
}
.crm_overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	background-image: url(/static/slo/shared/img/crm-overlay-white.png);
	background-position: left top;
	background-repeat: repeat;
}
.btn-loader {
	background-image: url(/static/slo/shared/img/btn-loader-blue.gif) !important;
	background-position: 10px center !important;
	background-repeat: no-repeat !important;
	padding-left: 35px !important;
}
.btn-primary [class^="icon-"],
.btn-primary [class*=" icon-"] {
    background-image: url("../img/glyphicons-halflings-white.png") !important;
}
.btn-loader > i {
	display: none;
}
.btn-primary {
	color: white !important;
}
.dropdown-login.welcome .dropdown-media {
	width: 500px;
}
.dropdown-login.welcome .register-header {
	padding: 20px 20px 10px;
	background: none;
}
.dropdown-login.welcome .register-content {
	padding: 0 20px 20px;
	text-align: center;
}
#crm-btn-login {
	margin-bottom: 7px;
}
.dropdown-login .control-group {
	position: relative;
}
.register-content #crm_f_email > label,
.register-content #crm_f_email > .controls,
.register-content #crm_f_password > label,
.register-content #crm_f_password > .controls,
.register-content #crm_f_nickname > label,
.register-content #crm_f_nickname > .controls,
.register-content #crm_f_gender > label,
.register-content #crm_f_gender > .controls,
.register-content #crm_f_bdate > label,
.register-content #crm_f_bdate > .controls,

.register-content #crm_f_person_name > label,
.register-content #crm_f_person_name > .controls,

.register-content #crm_f_person_surname > label,
.register-content #crm_f_person_surname > .controls,

.register-content #crm_f_address_city > label,
.register-content #crm_f_address_city > .controls,

.register-content #crm_f_address_city_2 > label,
.register-content #crm_f_address_city_2 > .controls,

.register-content #crm_f_address_city_3 > label,
.register-content #crm_f_address_city_3 > .controls,

.register-content #crm_f_tel > label,
.register-content #crm_f_tel > .controls,

.register-content #crm_f_tel_code > label,
.register-content #crm_f_tel_code > .controls {
	display: inline-block !important;

	width: 164px;
	margin: 0;
}
.register-content #crm_f_email > .controls,
.register-content #crm_f_password > .controls,
.register-content #crm_f_nickname > .controls,
.register-content #crm_f_gender > .controls,
.register-content #crm_f_bdate > .controls,

.register-content #crm_f_person_name > .controls,
.register-content #crm_f_person_surname > .controls,
.register-content #crm_f_address_city > .controls,
.register-content #crm_f_address_city_2 > .controls,
.register-content #crm_f_address_city_3 > .controls,
.register-content #crm_f_tel > .controls,
.register-content #crm_f_tel_code > .controls {
	position: relative;
	left: 80px;
}
.register-content #crm_f_email > label,
.register-content #crm_f_password > label,
.register-content #crm_f_nickname > label,
.register-content #crm_f_gender > label,
.register-content #crm_f_bdate > label,

.register-content #crm_f_person_name > label,
.register-content #crm_f_person_surname > label,
.register-content #crm_f_address_city > label,
.register-content #crm_f_address_city_2 > label,
.register-content #crm_f_address_city_3 > label,
.register-content #crm_f_tel > label,
.register-content #crm_f_tel_code > label {
	width: 70px;
	margin: 0 10px 0 0;
	text-align: right;

	font-size: 12px;

	position: absolute;
	top: 5px;
	left: 0;
}
.register-content #crm_f_email > div > input,
.register-content #crm_f_password > div > input,
.register-content #crm_f_nickname > div > input,
.register-content #crm_f_gender > div > input,
.register-content #crm_f_bdate > div > input,

.register-content #crm_f_person_name > div > input,
.register-content #crm_f_person_surname > div > input,
.register-content #crm_f_address_city > div > input,
.register-content #crm_f_address_city_2 > div > input,
.register-content #crm_f_address_city_3 > div > input,
.register-content #crm_f_tel > div > input,
.register-content #crm_f_tel_code > div > input {
	width: 148px;
}

.dropdown-menu {
	font-size: 12px;
    line-height: 18px;
}



 /* Essential FileDrop element configuration: */
.fd-zone form {
	margin: 0;
}
 #crm-prof-avatar {
	max-width: 140px;
	min-width: 140px;
}
.user-avatar {
	width: 150px;
	height: 150px;
	margin: 0;
	position: relative;
	z-index: 10;
}
.user-avatar img {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 20;

	width: 140px;
	height: 140px;

	background-image: url(/static/slo/shared/img/settings/user-avatar-140.png);
	background-position: 4px 4px;
	background-repeat: no-repeat;
}
.user-avatar .img-polaroid {
	width: 140px;
	height: 140px;
}
.user-avatar .close {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 30;

	font-size: 14px;

	width: 24px;
	height: 24px;
	line-height: 14px !important;
	background-color: #FFF;
	text-align: center;
	/*opacity: 0.4;*/

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	margin: 0;
	padding: 0;
	border: none;

	border: 1px solid #CCC;
}
.fd-zone {
	position: relative;
	overflow: hidden;
	width: 146px !important;
	left: -64px;
	z-index: 1;
}
.fd-file {
	opacity: 0;
	font-size: 12px;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	padding: 0;
	margin: 0;
	cursor: pointer;
	filter: alpha(opacity=0);
	font-family: sans-serif;

	width: 146px !important;
}
.fd-file:hover {
	cursor: pointer;
}
/* Provides visible feedback when use drags a file over the drop zone: */
.fd-zone.over { border-color: maroon; }
#crm_f_avatar_zone {
	margin: 0 0 0 10px;
}
#crm-forgot-finished .register-header {
	background: none !important;
}
#crm-forgot-finished .register-content {
	text-align: center;
	padding: 0 20px 20px;
}
#crm-forgot-formdiv .register-content {
	padding: 20px 20px 10px;
}
#form_crm_registration .register-content  {
	padding: 20px 20px 10px;
}
#crm-bt-upload.btn-loader {
	background-image: url(/static/slo/shared/img/btn-loader.gif) !important;
}
#form_user_settings_profile .notice-ok,
#form_user_settings_account .notice-ok {
	margin-left: 180px;
	width: 292px;
}
.btn-loader > i {
	display: none !important;
}
.settings-main-content .crm-birthday .crm-birthday-day {
	width: 80px;
}
.settings-main-content .crm-birthday .crm-birthday-month {
	width: 120px;
}
.settings-main-content .crm-birthday .crm-birthday-year {
	width: 80px;
}
.dropdown-login .crm-birthday .crm-birthday-day {
	width: 64px;
	margin-bottom: 4px;
}
.dropdown-login .crm-birthday .crm-birthday-month {
	width: 94px;
	margin-bottom: 4px;
}
.dropdown-login .crm-birthday .crm-birthday-year {
	width: 162px;
	display: block;
	margin: 0;
}
#crm_f_is_human {
	margin: 0;
}
#crm_captcha {
	width: 160px;
	margin: 0 auto;
	font-size: 24px;
	text-align: center;
	padding: 7px 15px;
}
.captcha_reload {
	margin: 5px 0 10px;
	text-align: center;
}
#crm_f_is_human .captcha {
	text-align: center;
}
#captcha_img {
	background-color: #FAFAFA;
	padding: 10px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #EEE;
}
#crm-bt-upload {
	margin-left: 64px;
}
#crm_f_is_human .field {
	text-align: center;
}
.dropdown-login #crm_login_button {
	white-space: nowrap;
}
.register-dropdown .dropdown-media-content #city {
	color: #555555;
	font-weight: bold;
	line-height: 30px;
}
