/* ==============================================
	Discount Banner / Kuponko
   ============================================*/
#discount_banner {
	width: 300px;
	height: 230px;
	position: relative;
	background: url("/static/slo/main/img/box/right/kuponko/kuponko_bg.png") no-repeat 0 0;
	margin: 12px 0 10px;
	padding: 42px 10px 0;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius:5px;
	behavior: url("/static/slo/microsites/xfactor/css/PIE.htc");
}
#discount_banner .logo {
	position: absolute;
	width: 173px;
	height: 52px;
	left: 10px;
	top: -10px;
	text-indent: -9999px;
	display: block;
	background: url("/static/slo/main/img/box/right/kuponko/kuponko_logo.png") no-repeat 0 0;
}
#discount_banner .content {
	position: relative;
	width: 300px;
	height: 178px;
	margin: 0 0 5px;
	z-index: 1;
}
#discount_banner .content > a {
	display: block;
	position: relative;
	z-index: 1;
}
#discount_banner .discount_label {
	position: absolute;
	width: 62px;
	height: 56px;
	top: -51px;
	right: -4px;
	padding: 25px 10px 0;
	z-index: 20;
	text-align: center;
	background: url("/static/slo/main/img/box/right/kuponko/popust_label_bg.png") no-repeat 0 0;
	font-size: 13px;
}
#discount_banner .discount_label span {
	font-size: 19px;
	font-weight: bold;
}
#discount_banner .title,
#discount_banner .price {
	position: absolute;
	bottom: 7px;
	color: #fff;
	z-index: 10;
}
#discount_banner .title {
	width: 200px;
	left: 10px;
	text-transform: uppercase;
	font-size: 13px;
	line-height: 19px;
}
#discount_banner .price {
	width: 80px;
	right: 10px;
	text-align: right;
	text-transform: uppercase;
	line-height: 19px;
}
#discount_banner .price h3 {
	font-weight: normal;
	font-size: 15px;
	margin: 0;
}
#discount_banner .price p.new_price {
	font-weight: bold;
	margin: 0;
	font-size: 17px;
}
#discount_banner .price p.old_price {
	color: #ffe700;
	margin: 0;
	text-decoration: line-through;
	font-size: 17px;
}
#discount_banner .discount_splash {
	width: 300px;
	height: 178px;
	position: relative;
	overflow: hidden;
}
#discount_banner .discount_splash .shade {
	position: absolute;
	z-index: 2;
	bottom: 0;
	left: 0;
	width: 300px;
	height: 79px;
	background: url("/static/slo/main/img/box/right/kuponko/picture_shade.png") repeat-x 0 0;
}
#discount_banner .discount_splash #kuponko_images > img {
	width: 300px;
	border: none;
	float:left;
}
#discount_banner .navigation {
	text-align: center;
}
#discount_banner .navigation h4 {
	color: #0e4f0e;
	font-weight: normal;
	margin: 0 0 2px;
	font-size: 11px;
}
#discount_banner .navigation li {
	display: inline-block;
	margin: 0 2px;
	*float: left;
	*margin: 0 5px;
}
#discount_banner .navigation li a {
	padding: 3px 5px;
	border: 1px solid #0d8d00;
	background: transparent;
	color: #fff;
	font-weight: bold;
	font-size: 13px;
	display: block;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius:3px;
	behavior: url("/static/slo/microsites/xfactor/css/PIE.htc");
}
#discount_banner .navigation li a:hover,
#discount_banner .navigation li a.active {
	border: 1px solid #fff;
	background: #fff;
	color: #00771b;
}
#discount_banner a .nav_left,
#discount_banner a .nav_right {
	position: absolute;
	width: 28px;
	height: 38px;
	top: 40%;
	margin: -19px 0 0 0;
	z-index: 20;
	left: 3px;
	display: none;
	text-indent: -9999px;
	background: url("/static/slo/main/img/box/right/poptvsi/tvlisting.png") no-repeat scroll -320px -69px transparent;
	cursor: pointer;
}
#discount_banner a .nav_right {
	right: 3px;
	left: auto;
	background: url("/static/slo/main/img/box/right/poptvsi/tvlisting.png") no-repeat scroll -348px -69px transparent;
}
#discount_banner a:hover .nav_left,
#discount_banner a:hover .nav_right {
	display: block;
}
#discount_banner a .nav_left:hover {
	background: url("/static/slo/main/img/box/right/poptvsi/tvlisting.png") no-repeat scroll -376px -69px transparent;
}
#discount_banner a .nav_right:hover {
	background: url("/static/slo/main/img/box/right/poptvsi/tvlisting.png") no-repeat scroll -404px -69px transparent;
} 
/*
#discount_banner a:hover .nav_right {
	display: block;
	background: url("/static/slo/main/img/box/right/poptvsi/tvlisting.png") no-repeat scroll -376px -69px transparent;
}
#discount_banner a:hover .nav_left {
	display: block;
	background: url("/static/slo/main/img/box/right/poptvsi/tvlisting.png") no-repeat scroll -404px -69px transparent;
} 
*/
/* ==============================================
	END Discount Banner / Kuponko
   ============================================*/