/* START: Basic dividers */
.hdivider15px {
	width: 15px;
	clear: both;
	overflow: hidden;
	height: 15px;	
}

.hdivider13px {
	width: 13px;
	clear: both;
	overflow: hidden;
	height: 13px;	
}

.hdivider9px {
	width: 9px;
	clear: both;
	overflow: hidden;
	height: 9px;	
}

.hdivider8px {
	width: 8px;
	clear: both;
	overflow: hidden;
	height: 8px;	
}

.hdivider6px {
	width:6px;
	clear: both;
	overflow: hidden;
	height:6px;	
}

.dot_divider1px {
	overflow: hidden;
	height: 1px;
	padding: 0;
	background: url("/static/shared/img/backgrounds/dot_divider.gif") repeat-x;
}
/* END: Basic dividers */

/* START: For dnevnik.hr */
.sng_bgwhite {
	display: inline;
	padding: 0 5px 0;
	background-color: #ffffff;
}

.whitediv6px {
	height: 6px;
	clear: both;
	overflow: hidden;
	background-color: #ffffff;	
}
/* END: For dnevnik.hr */