/* START: Double Facebook box */
.doubleFacebook {
	width: 320px;
	margin: 0 0 7px 0;
}

.doubleFacebook .doubleFacebookHeader {
	background: url(/static/slo/main/img/elements/facebook_header.png) no-repeat 0 0;
	height: 41px;
}

.doubleFacebook .doubleFacebookHeader h2 { display: none; }

.doubleFacebook .doubleFacebookContent {
	background: #fff;
	border-left: 1px solid #c1c1c1;
	border-right: 1px solid #c1c1c1;
}

.doubleFacebook .doubleFacebookContent .fbProfile { float: left; }

.doubleFacebook .doubleFacebookContent .fbActivity { float: left; }

.doubleFacebook .doubleFacebookContent .fbActivity .fbActivityTitle {
	background: #EDEFF4;
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #333333;
	border-bottom: 1px solid #d8dfea;
	border-left: 1px solid #aaa;
	border-right: 1px solid #aaa;
	padding: 10px;
}

.doubleFacebook .doubleFacebookBottom {
	background: url(/static/slo/main/img/backgrounds/double_facebook_bottom_bg.png) 0 0 no-repeat;
	height: 5px;
}
/* END: Double Facebook box */