/*__START: Front box Numbers__________________*/
.eurojackpod_banner {
	height: 297px;
	width: 301px;
	margin: 0 0 10px;
	padding: 0px;
	background:url(/static/slo/microsites/cekin/img/eurojackpot/banner_bg_big.jpg) no-repeat 0 0; 
	-webkit-border-radius:5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.eurojackpod_banner a {
	height: 267px;
	width: 281px;
	display: block;
	padding:0 10px;
	text-decoration: none;
}
.eurojackpod_banner .title {
	*height: 30px !important;
}
.eurojackpod_banner .title h2 {
	float: left;
	width: 200px;
	font:bold 18px/30px 'Trebuchet MS', sans-serif;
	color: #54260b;
	text-shadow: 0 1px 1px #ffffff;
	margin: 0 0 0 3px
}
.eurojackpod_banner .title span {
	float: right;
	width: 75px;
	height: 24px;
	margin: 2px 0 0 0;
	text-align: center;
	font:12px/24px 'AllerRegular', sans-serif;
	color: #54260b;
	text-shadow: 0 1px 1px #ffffff;
	background: url(/static/slo/microsites/cekin/img/eurojackpot/more.png) no-repeat center 0;
}
.eurojackpod_banner .title span:hover {
	background: url(/static/slo/microsites/cekin/img/eurojackpot/more.png) no-repeat center -24px;
}
.eurojackpod_banner .numbers_actual {
	padding: 0px 0 7px 0;
	*height: 70px !important;
}
.eurojackpod_banner .numbers_actual h3 {
	font:normal 16px/30px 'Trebuchet MS', sans-serif;
	color: #54260b;
	text-shadow: 0 1px 1px #ffffff;
	margin: 0 0 5px;
	text-align: center;
}
.eurojackpod_banner .numbers_actual li {
	width: 31px;
	height: 35px;
	margin: 0 3px;
	background:url(/static/slo/microsites/cekin/img/eurojackpot/number_bg.png) no-repeat center center;
	float: left;
	text-align: center;	
}
.eurojackpod_banner .numbers_actual li.last {
	margin: 0 20px 0 5px;
}
.eurojackpod_banner .numbers_actual li span {
	font:bold 16px/30px 'Trebuchet MS', sans-serif;
	color: #54260b;
	text-shadow: 0 1px 1px #ffffff;	
	margin: 1px 0 0 0;
}
.eurojackpod_banner .napoved {
	text-align: center;
	padding: 18px 0 0;
}
.eurojackpod_banner .napoved h3 {
	font:normal 16px/30px 'Trebuchet MS', sans-serif;
	color: #54260b;
	text-shadow: 0 1px 1px #ffffff;
	margin: 0 0 7px;
}
.eurojackpod_banner .napoved h4 {
	font: 20px/16px 'AllerBold', sans-serif;
	color: #54260b;
	text-shadow: 0 1px 1px #ffffff;
	letter-spacing: 1px;
}
/*__END: Front box Numbers__________________*/