/* START: Focus news
----------------------------------------------------------------- */
#focus_news {
	margin: 7px auto 0 auto;
	width: 980px;
	position: relative;
	z-index: 999;
}

#focus_news .content {
	width: 960px;
	height: 106px;
	background-color: #FFF;
	background-image: url(/static/slo/main/img/backgrounds/focus_news_bg.png);
	background-position: center bottom;
	background-repeat: no-repeat;
	padding: 5px 9px 0;
	
	border: 1px solid #dfe4eb;
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}

#focus_news .content .images { margin: 0 0 4px 0; }

#focus_news .content .images img {
	float: left;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-right: 2px solid transparent;
	border-left: 2px solid transparent;
	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}

/* 24ur.com border */
#focus_news .content .images .site_1 a:hover img,
#focus_news .content .images .site_1.selected img {
	border-top: 4px solid #114092;
	border-bottom: 4px solid #114092;
	border-right: 2px solid #114092;
	border-left: 2px solid #114092;
}

#focus_news .content span.site_1 { color: #114092; }

/* Bibaleze.si border */
#focus_news .content .images .site_10001 a:hover img, 
#focus_news .content .images .site_10001.selected img {
	border-top: 4px solid #40b9d9;
	border-bottom: 4px solid #40b9d9;
	border-right: 2px solid #40b9d9;
	border-left: 2px solid #40b9d9;
}

#focus_news .content span.site_10001 { color: #309EC6; }

/* Zadovoljna.si border */
#focus_news .content .images .site_10002 a:hover img,
#focus_news .content .images .site_10002.selected img {
	border-top: 4px solid #963bb6;
	border-bottom: 4px solid #963bb6;
	border-right: 2px solid #963bb6;
	border-left: 2px solid #963bb6;
}

#focus_news .content span.site_10002 { color: #A06096; }

/* Golfportal.info border */
#focus_news .content .images .site_10004 a:hover img,
#focus_news .content .images .site_10004.selected img {
	border-top: 4px solid #00a100;
	border-bottom: 4px solid #00a100;
	border-right: 2px solid #00a100;
	border-left: 2px solid #00a100;
}

#focus_news .content span.site_10004 { color: #429E3A; }

/* Vizita.si border */
#focus_news .content .images .site_10010 a:hover img,
#focus_news .content .images .site_10010.selected img {
	border-top: 4px solid #81cd8b;
	border-bottom: 4px solid #81cd8b;
	border-right: 2px solid #81cd8b;
	border-left: 2px solid #81cd8b;
}

#focus_news .content span.site_10010 { color: #65ba70; }

/* Cekin.si border */
#focus_news .content .images .site_10012 a:hover img,
#focus_news .content .images .site_10012.selected img {
	border-top: 4px solid #e8d348;
	border-bottom: 4px solid #e8d348;
	border-right: 2px solid #e8d348;
	border-left: 2px solid #e8d348;
}

#focus_news .content span.site_10012 { color: #e1bb24; }

/* Moskisvet.com border */
#focus_news .content .images .site_30001 a:hover img,
#focus_news .content .images .site_30001.selected img {
	border-top: 4px solid #e59700;
	border-bottom: 4px solid #e59700;
	border-right: 2px solid #e59700;
	border-left: 2px solid #e59700;
}

#focus_news .content span.site_30001 { color: #E4A41F; }

/* Dominvrt.si border */
#focus_news .content .images .site_30002 a:hover img,
#focus_news .content .images .site_30002.selected img {
	border-top: 4px solid #824a1c;
	border-bottom: 4px solid #824a1c;
	border-right: 2px solid #824a1c;
	border-left: 2px solid #824a1c;
}

#focus_news .content span.site_30002 { color: #824a1c; }

/* Supermodel.si border */
#focus_news .content .images .site_30004 a:hover img,
#focus_news .content .images .site_30004.selected img {
	border-top: 4px solid #555555;
	border-bottom: 4px solid #555555;
	border-right: 2px solid #555555;
	border-left: 2px solid #555555;
}

#focus_news .content span.site_30004 { color: #555555; }

/* Bigbrother.si border */
#focus_news .content .images .site_30006 a:hover img,
#focus_news .content .images .site_30006.selected img {
	border-top: 4px solid #414fb2;
	border-bottom: 4px solid #414fb2;
	border-right: 2px solid #414fb2;
	border-left: 2px solid #414fb2;
}

#focus_news .content span.site_30006 { color: #414fb2; }

/* Okusno.je border */
#focus_news .content .images .site_30009 a:hover img,
#focus_news .content .images .site_30009.selected img {
	border-top: 4px solid #00a100;
	border-bottom: 4px solid #00a100;
	border-right: 2px solid #00a100;
	border-left: 2px solid #00a100;
}

#focus_news .content span.site_30009 { color: #319212; }

/* Slovenijaimatalent.si border */
#focus_news .content .images .site_30008 a:hover img,
#focus_news .content .images .site_30008.selected img {
	border-top: 4px solid #1B4298;
	border-bottom: 4px solid #1B4298;
	border-right: 2px solid #1B4298;
	border-left: 2px solid #1B4298;
}

#focus_news .content span.site_30008 { color: #1B4298; }

#focus_news .content h2 {
	display: block;
	font-size: 13px;
	text-align: center;
}

#focus_news .content h2 img.icon { vertical-align: -2px; }

#focus_news .content h2 img.iconPr { vertical-align: -1px; }

#focus_news .content h2 span {
	font-weight: normal;
	font-size: 12px;
}

.focus_article {
	float: left;
	width: 96px;
}
/* END: Focus news
----------------------------------------------------------------- */