/* START: Footer */
#foot {
	clear: both;
	width: 980px;
	margin: 0 auto;
	font-size: 12px;
	margin: 0 auto;
	padding: 12px 5px 20px 5px;
}

#foot img { display: none; }

#foot A:link,
#foot A:visited,
#foot A:active {
	text-decoration: none;
	color: #000000;
}

#foot A:hover{
	text-decoration: underline;
}

#foot .content {
	background: url("/static/slo/main/img/backgrounds/foot.gif") no-repeat;
	padding: 18px 0 0 30px;
}

#foot .section {
	padding: 0 5px 0 0;
	margin: 0;
	padding: 0;
}
#foot .section .imageItem {
	display:none;
}
#foot .title {
	color: #0f3da1;
	font-weight: bold;
}

#foot .sub_section {
	margin: 0;
	padding: 12px 0 32px 0;
}

#foot .extra {
	padding: 0 5px 0 0;
	margin: 0;
	padding: 0;
	font-size: 11px;
}

#foot .copyright {
	padding: 0 5px 0 0;
	margin: 0;
	padding: 0;
	font-size: 11px;
	color: #b1b1b1;
}

#foot .spliter {
	color: #b1b1b1;
}

#foot .bottom {
	height: 16px;
	background: url("/static/slo/main/img/backgrounds/foot_bottom.gif") no-repeat;
	clear: both;
}
/* END: Footer */
