#forum {
	width: 640px;
	font-family: arial, helvetica, sans-serif;
	font-size: 11px;
	background: #fff;
	padding: 5px;
}

#forum a {
	color: #666666;
	text-decoration: none;
}

#forum a:hover {
	text-decoration: underline;
}

#forum .warning {
	width: 634px;
	background: #c20c09;
	font-size:12px;
	color:#ffffff;
	margin: 0 0 12px 0;
	padding: 3px;
}

#forum #categories { clear: both; }

#forum #category_new_theme {
	float: right;
	background-color: #ffffff;
	padding: 0px 5px 1px 5px;
	font-size: 10px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #bfc8d1;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #bfc8d1;
}

#forum #forum_name {
	background: #ffffff;
	font-weight: bold;
	font-size: 18px;
	clear: both;
	line-height: normal;
	padding: 15px 0px 0px 0px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #c3cdd6;
	border-bottom-style: dashed;
	margin-bottom: 5px;
}

#forum #forum_name a {
	color: #9e9e9e;
	text-decoration: none;
}

#forum #forum_name a:hover {
	text-decoration: underline;
}

#forum #category_name {
	background-image: url(/static/slo/microsites/catchup/img/forum/background_category_name.gif);
	background-repeat: no-repeat;
	padding-left: 10px;
	padding-top: 0px;
	height: 18px;
	font-size: 12px;
	font-weight: bold;
	clear: both;
}
#forum #category_name .cat_name_link { padding-top: 3px; }

.forum_category_name_footer {
	background-image: url(/static/slo/microsites/catchup/img/forum/footer_category_name.gif);
	background-repeat: no-repeat;
	height: 3px;
	border-bottom: 1px solid #ffffff;
}

#forum #category_name a {
	color: #5f768b;
	text-decoration: none;
	float: left;
}

#forum #category_name a:hover {
	text-decoration: underline;
}

#forum #topics {
	width: 640px;
	clear: both;

}

#forum #topics #name, #forum #topics #show, #forum #topics #post, #forum #topics #last {
	float: left;
	border-bottom: 1px solid #e5e9f0;
}

#forum #topics #name_t, #forum #topics #show_t, #forum #topics #post_t, #forum #topics #last_t {
	float: left;
	border-bottom: 1px solid #5B6E8F;
}

#forum #topics #name {
	width: 400px;
	padding-left: 10px;
	background: #ffffff;
	height: 28px;
}

#forum #topics #name a {
	color: #000000;
	text-decoration: none;
	font-weight: normal;
}

#forum #topics #name a:hover {
	text-decoration: underline;
	font-weight: normal;
}

#forum #topics #show {
	width: 50px;
	background: #eaeaea;
	text-align: center;
	height: 28px;
}

#forum #topics #post {
	width: 50px;
	background: #eaeaea;
	text-align: center;
	height: 28px;
}

#forum #topics #last {
	width: 180px;
	background: #ffffff;
	text-align: right;
}

#forum #topics #name_t {
	width: 400px;
	font-weight: bold;
	padding-left: 10px;
	background: #ffffff;
}

#forum #topics #show_t {
	width: 50px;
	background: #eaeaea;
	text-align: center;
	font-weight: bold;
}

#forum #topics #post_t {
	width: 50px;
	background: #eaeaea;
	text-align: center;
	font-weight: bold;
}

#forum #topics #last_t {
	width: 180px;
	background: #ffffff;
	text-align: right;
	font-weight: bold;
}

#forum #last10 {
	clear: both;
	font-weight: bold;
	font-size: 18px;
	padding: 10px 0px 0px 0px;
	color: #9e9e9e;
	line-height: normal;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #c3cdd6;
	border-bottom-style: dashed;
}

#forum #topic .post {
	width: 640px;
}
#forum #topic .post_bg1 {
	background: url(/static/slo/microsites/catchup/img/forum/forum_bg1.jpg);
}
#forum #topic .post_bg2 {
	background: url(/static/slo/microsites/catchup/img/forum/forum_bg2.jpg);
}
#forum #topic .post .blue {
	color: #0000FF;
}
#forum #topic .post .red {
	color: #FF0000;
}
#forum #topic .top_bg1 {
	margin-top: 1px;
	height: 3px;
	background: url(/static/slo/microsites/catchup/img/forum/forum_bg1_top.jpg);
}
#forum #topic .top_bg2 {
	margin-top: 1px;
	height: 3px;
	background: url(/static/slo/microsites/catchup/img/forum/forum_bg2_top.jpg);
}
#forum #topic .bottom_bg1 {
	height: 3px;
	background: url(/static/slo/microsites/catchup/img/forum/forum_bg1_bottom.jpg);
}
#forum #topic .bottom_bg2 {
	height: 3px;
	background: url(/static/slo/microsites/catchup/img/forum/forum_bg2_bottom.jpg);
}

#forum #topic .level_1 { margin-left: 0; width: 640px; }
#forum #topic .level_2 { margin-left: 10px; width: 630px; }
#forum #topic .level_3 { margin-left: 20px; width: 620px; }
#forum #topic .level_4 { margin-left: 30px; width: 610px; }
#forum #topic .level_5 { margin-left: 40px; width: 600px; }
#forum #topic .level_6 { margin-left: 50px; width: 590px; }
#forum #topic .level_7 { margin-left: 60px; width: 580px; }
#forum #topic .level_8 { margin-left: 70px; width: 570px; }
#forum #topic .level_9 { margin-left: 80px; width: 560px; }
#forum #topic .level_10 { margin-left: 90px; width: 550px; }
#forum #topic .level_11 { margin-left: 100px; width: 540px; }
#forum #topic .level_1 .text { width: 485px; }
#forum #topic .level_2 .text { width: 475px; }
#forum #topic .level_3 .text { width: 465px; }
#forum #topic .level_4 .text { width: 455px; }
#forum #topic .level_5 .text { width: 445px; }
#forum #topic .level_6 .text { width: 435px; }
#forum #topic .level_7 .text { width: 425px; }
#forum #topic .level_8 .text { width: 415px; }
#forum #topic .level_9 .text { width: 405px; }
#forum #topic .level_10 .text { width: 395px; }
#forum #topic .level_11 .text { width: 385px; }

#forum #topic .post .padding {
	padding-left: 3px;
}

#forum #topic .post .userdata {
	float: left;
	width: 155px;
	color: #5E778D;
	font-weight: bold;
}

#forum #topic .post .text {
	float: left;
}

#forum #topic .post .text .date {
	display: block;
	float: left;
	font-size: 11px;
	width: 110px;
	color: #818181;
}

#forum #topic .post .text .replyto {
	float: left;
	font-size: smaller;
	width: 110px;
}

#forum #topic .post .text .buttons {
	float: right;
}

#forum #topic .post .text .buttons input {
	float: left;
}

#forum #topic .post .text .buttons .button_post {
	float: left;
}

#forum #topic .post .text input, #forum .button_1 {
	background: #FFFFFF url(/static/slo/microsites/catchup/img/forum/forum_button_arrow_off.png) bottom right no-repeat;
	border: 1px solid #BFC8D1;
	color: #B0B0B0;
	font-weight: bold;
	font-size: 10px;
	cursor: pointer;
	padding-right: 10px;
}
#forum #topic .post .text input:hover, #forum .button_1:hover {
	background: #9A0000 url(/static/slo/microsites/catchup/img/forum/forum_button_arrow_on.png) bottom right no-repeat;
	color: #FFFFFF;
}

#forum #topic .post .text .postcontent {
	clear: both;
	float: left;
	padding-top: 10px;
	width: 99%;
}

#forum #topic .post .text .postcontent .quote {
	border: 1px solid silver;
	width: 95%;
	background: #fff;
	padding: 3px;
}

#forum #topic .post .text .postcontent .quote .post_image {
	width: 90%;
	overflow: auto;
	margin-bottom: 3px;
}

#forum #topic .form_post {
	position: absolute;
	width: 640px;
	background: #fff;
	z-index: 100;
}

#forum #topic .guest {
	font-weight: normal;
	font-style: italic;
	font-size: 10px;
}
#forum #topic .post_count {
	display: block;
	margin-top: 10px;
	font-weight: normal;
}
#forum #topic .post .post_image {
	width: 463px;
	overflow: auto;
	margin-bottom: 3px;
}

#forum #path {
	font-weight: bold;
}

#forum #page_navigator {
	padding-top: 5px;
}

#forum #form {
	width: 640px;
}
#forum #form .form_top {
	background: url(/static/slo/microsites/catchup/img/forum/forum_form_top.jpg) no-repeat;
	height: 4px;
	padding: 0;
	width: 640px;
	overflow: hidden;
}
#forum #form .form_toolbar {
	background: url(/static/slo/microsites/catchup/img/forum/forum_form.jpg);
	width: 636px;
	height: 19px;
	padding-left: 4px;
}

#forum #form .form_toolbar .left {
	margin: 0px;
	padding: 0px;
}

#forum #form .form_toolbar #remove_reply {
	margin: 0px;
	padding: 0px;
}

#forum #form .form_toolbar input {
	background: #FFFFFF url(/static/slo/microsites/catchup/img/forum/forum_form_down_arrow.jpg) bottom right no-repeat;
	border: 1px solid #BFC8D1;
	color: #B0B0B0;
	font-weight: bold;
	font-size: 10px;
	cursor: pointer;
	padding-right: 10px;
}
#forum #form .form_toolbar_bottom {
	background: url(/static/slo/microsites/catchup/img/forum/forum_form_toolbar_bottom.jpg) no-repeat;
	height: 2px;
	width: 640px;
	overflow: hidden;
}

#forum #form .form_toolbar input:hover {
	background: #9A0000 url(/static/slo/microsites/catchup/img/forum/forum_button_arrow_on.png) bottom right no-repeat;
	color: #FFFFFF;
}

#forum #form .form_input {
	background: url(/static/slo/microsites/catchup/img/forum/forum_form_bg.jpg) repeat-y;
	width: 610px;
	padding: 0 15px 15px 15px;
}

#forum #form .form_bottom {
	background: url(/static/slo/microsites/catchup/img/forum/forum_form_bottom_bottom.jpg);
	height: 2px;
	width: 640px;
	overflow: hidden;
}


#forum #form .text_input {
	width: 350px;
	border: 1px solid silver;
}
#forum #form textarea {
	border: 1px solid silver;
	width: 610px;
	height: 200px;
	margin: 0 0 7px;
}

#forum #form #smilies img {
	cursor: pointer;
}

#forum #locked_topic {
	margin: 0px auto;
	width: 200px;
	text-align: center;
}

#form_post_holder {

	height: 300px;
}

.clear {
	clear: both;
}
.left { float: left; }
.right { float: right; }

.hidden_object {
	display: none;
}

.visible_object {
	display: block;
}

.preview_link {
	cursor: pointer;
	font-weight: bold; }

.preview {
	position: absolute;
	padding: 3px;
	left: 0;
	width: 640px;
	background-color: #FFFFFF;
	border: 1px solid black;
	display: none;
	z-index: 200;
}