@import url('/static/slo/shared/css/crm-bootstrap.css');

a,
a:active,
a:hover,
a:focus {
	outline: none;
}
a:hover {
	text-decoration: none !important;
}
.brandLine {
	z-index: 9999;
	width: 100%;

	position: absolute;
	left: 0;
	top: 0;
	right: 0;
}
.brandline-2012 {
	background: none;
	background: transparent;
	background-image: url(/static/slo/shared/img/brandline/brandline-2012-bg.png);
	background-position: left top;
	background-repeat: repeat-x;
	
	position: relative;
	z-index: 1000;
	left: 0;
	top: 0;
	right: 0;

	font-family: Arial !important;
}
.brandline-2012-content > .brandline-left .brandline-microsites > div > .dropdown-media {
	display: none;
	
	position: absolute;
	left: 50%;
	top: 0;
}
.brandline-2012-content {
	background: none;
	background: transparent;
	background-image: url(/static/slo/shared/img/brandline/brandline-2012-bg-content.png?v=2);
	background-position: center top;
	background-repeat: no-repeat;
	
	width: 900px;
	height: 32px;
	
	margin: 0 auto;
	padding: 0 40px;
	
	font-size: 11px;
	
	color: #999;
}
.brandline-2012-content a {
	color: #FFF;
}
.brandline-2012-content a:hover {
	color: #999;
}
.brandline-2012-content span {
	color: #FFF;
}
.brandline-2012-content > .brandline-left {
	float: left;
	height: 32px;
	
	line-height: 30px;
}
.brandline-2012-content > .brandline-right {
	float: right;
	height: 32px;
	
	line-height: 30px;
}
.brandline-2012-content > .brandline-left > div,
.brandline-2012-content > .brandline-right > div {
	float: left;
	
	letter-spacing: 0.6px;
	
	position: relative;
}
.brandline-2012-content > .brandline-left > div {
	margin: 0 10px 0 0;
}
.brandline-2012-content > .brandline-right > div {
	margin: 0 0 0 20px;
}
.brandline-2012-content .brandline-logo > a > span {
	display: none;
}
.brandline-2012-content > .brandline-right .brandline-time,
.brandline-2012-content > .brandline-right .brandline-date,
.brandline-2012-content > .brandline-right .brandline-weather {
	background-position: left center;
	background-repeat: no-repeat;
	
	padding: 0 0 0 20px;

	height: 30px;
	line-height: 30px;
}
.brandline-2012-content > .brandline-right .brandline-weather .dropdown-media {
	display: none;
	position: absolute;
	top: 0;
	left: 50%;
}
.brandline-2012-content > .brandline-right .brandline-time:hover,
.brandline-2012-content > .brandline-right .brandline-date:hover,
.brandline-2012-content > .brandline-right .brandline-weather:hover {
	z-index: 1;
}
.brandline-2012-content > .brandline-right .brandline-weather-content {
	position: relative;
	z-index: 3;
}
.brandline-2012-content > .brandline-right .brandline-weather-content > div {
	float: left;
	margin: 0 2px;
}
.brandline-2012-content > .brandline-right .brandline-weather-content > .weather-icon {
	width: 30px;
	height: 30px;
	
	background-position: center;
	background-repeat: no-repeat;
}
.brandline-2012-content > .brandline-right .brandline-weather-content > .weather-icon > img {
    background: transparent;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE8 */   
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);   /* IE6 & 7 */      
    zoom: 1;

}
.brandline-2012-content > .brandline-right .dropdown-media .brandline-weather-content > .weather-city {
	width: 100px;
	text-align: right;
}
.brandline-2012-content > .brandline-right .brandline-weather:hover {
	cursor: pointer;
}
.brandline-2012-content > .brandline-right .brandline-weather:hover .dropdown-media {
	display: block;
	width: 230px;
	margin: 0 0 0 -145px;
	
	top: 6px;
	
	background-position: 153px 23px;
}
.brandline-2012-content > .brandline-right .brandline-weather .dropdown-media-content .brandline-weather-content {
	color: #999;
	padding: 0 10px;
	
	border: 1px solid #FFF;
}
.brandline-2012-content > .brandline-right .brandline-weather .dropdown-media-content .brandline-weather-content:hover {
	background-color: #f3f3f3;
	border: 1px solid #EAEAEA;
	
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
}
.brandline-2012-content > .brandline-right .brandline-weather .dropdown-media-content .brandline-weather-content:hover,
.brandline-2012-content > .brandline-right .brandline-weather .dropdown-media-content .brandline-weather-content:hover span {
	color: #222;
}
.brandline-2012-content > .brandline-right .brandline-weather .dropdown-media-content .brandline-weather-content span {
	color: #999;
	font-weight: bold;
}
.brandline-2012-content > .brandline-right .brandline-time {
	background-image: url(/static/slo/shared/img/brandline/icon-time.png);
}
.brandline-2012-content > .brandline-right .brandline-date {
	background-image: url(/static/slo/shared/img/brandline/icon-date.png);
}
.brandline-2012-content > .brandline-right .brandline-weather {
	background-image: url(/static/slo/shared/img/brandline/icon-weather.png);
}
.brandline-2012-content > .brandline-right .dropdown-login {
	margin: 0 0 0 20px;
	padding: 2px 0 0;
	height: 28px;
}
.brandline-2012-content > .brandline-right .dropdown-login > .btn-login {
	margin: 2px 0 0;
}
.brandline-2012-content > .brandline-left .brandline-microsites {
	margin: 0;
}
.brandline-2012-content > .brandline-left .brandline-microsites > div {
	display: block;
	float: left;
	
	margin: 0 5px 0 0;
	padding: 0;
	line-height: 18px;
	text-align: center;
	
	width: 18px;
	height: 18px;
	
	background: #555;
	
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	
	border: 2px solid #555;
	
	-webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,0.8);
	   -moz-box-shadow: 0 0 1px 1px rgba(0,0,0,0.8);
		    box-shadow: 0 0 1px 1px rgba(0,0,0,0.8);
		    
    position: relative;
    z-index: 3;
}
.brandline-2012-content > .brandline-left .brandline-microsites > div {
	display: block;
	width: 18px;
	height: 18px;
	position: relative;
	z-index: 4;
	
	margin: 4px 0 0 5px;
}
.brandline-2012-content > .brandline-left .brandline-microsites > div > a {
	display: block;
	width: 18px;
	height: 18px;
	position: relative;
	z-index: 10;
}
.brandline-2012-content > .brandline-left .brandline-microsites > div > a:hover {
	cursor: pointer;
}
.brandline-2012-content > .brandline-left .brandline-microsites > div > .dropdown-media {
	width: 250px;
	
	margin: 0 0 0 -145px;
}
.brandline-2012-content > .brandline-left .brandline-microsites > div > .dropdown-media > .dropdown-media-content > a {
	display: block;
	
	height: 72px;
	
	margin: 5px;
	
	color: #999;
	
	border: 1px solid #EEE;
	padding: 2px;
	
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
}
.brandline-2012-content > .brandline-left .brandline-microsites > div > .dropdown-media > .dropdown-media-content > a > img {
	float: left;
	width: 92px;
	height: 72px;
	
	margin: 0;
	padding: 0;
}
.brandline-2012-content > .brandline-left .brandline-microsites > div > .dropdown-media > .dropdown-media-content > a > div {
	float: left;
	width: 120px;
	height: 65px;
	overflow: hidden;
	margin: 7px 0 0 8px;
	
	text-align: left;
	font-size: 12px !important;
	line-height: 14px !important;
	font-weight: bold;
}
.brandline-2012-content > .brandline-left .brandline-microsites > div > .dropdown-media > .dropdown-media-content > a:hover {
	border: 1px solid #CCC;
}
.brandline-2012-content > .brandline-left .brandline-microsites > .bibaleze > .dropdown-media > .dropdown-media-content > a {
	color: #148EC0 !important;
}
.brandline-2012-content > .brandline-left .brandline-microsites > .bibaleze > .dropdown-media > .dropdown-media-content > a:hover {
	background-color: #F2FAFD;
	border: 1px solid #BEE4F9;
	color: #148EC0;
}
.brandline-2012-content > .brandline-left .brandline-microsites > .cekin > .dropdown-media > .dropdown-media-content > a {
	color: #bc974c !important;
}
.brandline-2012-content > .brandline-left .brandline-microsites > .cekin > .dropdown-media > .dropdown-media-content > a:hover {
	background-color: #FAF7E8;
	border: 1px solid #ebe6cc;
	color: #bc974c;
}
.brandline-2012-content > .brandline-left .brandline-microsites > .dominvrt > .dropdown-media > .dropdown-media-content > a {
	color: #009750 !important;
}
.brandline-2012-content > .brandline-left .brandline-microsites > .dominvrt > .dropdown-media > .dropdown-media-content > a:hover {
	background-color: #eef7f3;
	border: 1px solid #cfe9dd;
	color: #009750;
}
.brandline-2012-content > .brandline-left .brandline-microsites > .frendiinflirt > .dropdown-media > .dropdown-media-content > a {
	color: #E7008B !important;
}
.brandline-2012-content > .brandline-left .brandline-microsites > .frendiinflirt > .dropdown-media > .dropdown-media-content > a:hover {
	background-color: #fff4f8;
	border: 1px solid #f4dbe4;
	color: #E7008B;
}
.brandline-2012-content > .brandline-left .brandline-microsites > .golfportal > .dropdown-media > .dropdown-media-content > a {
	color: #429E3A !important;
}
.brandline-2012-content > .brandline-left .brandline-microsites > .golfportal > .dropdown-media > .dropdown-media-content > a:hover {
	background-color: #ebf7e9;
	border: 1px solid #d6edd4;
	color: #429E3A;
}
.brandline-2012-content > .brandline-left .brandline-microsites > .moskisvet > .dropdown-media > .dropdown-media-content > a {
	color: #BB6200 !important;
}
.brandline-2012-content > .brandline-left .brandline-microsites > .moskisvet > .dropdown-media > .dropdown-media-content > a:hover {
	background-color: #fbf6f0;
	border: 1px solid #f3e0cb;
	color: #BB6200;
}
.brandline-2012-content > .brandline-left .brandline-microsites > .okusnoje > .dropdown-media > .dropdown-media-content > a {
	color: #319212 !important;
}
.brandline-2012-content > .brandline-left .brandline-microsites > .okusnoje > .dropdown-media > .dropdown-media-content > a:hover {
	background-color: #f3faf0;
	border: 1px solid #d4edcc;
	color: #319212;
}
.brandline-2012-content > .brandline-left .brandline-microsites > .osvajalec > .dropdown-media > .dropdown-media-content > a {
	color: #7E2B00 !important;
}
.brandline-2012-content > .brandline-left .brandline-microsites > .osvajalec > .dropdown-media > .dropdown-media-content > a:hover {
	background-color: #fbf5f1;
	border: 1px solid #f1e1d8;
	color: #7E2B00;
}
.brandline-2012-content > .brandline-left .brandline-microsites > .svetiger > .dropdown-media > .dropdown-media-content > a {
	color: #D61F55 !important;
}
.brandline-2012-content > .brandline-left .brandline-microsites > .svetiger > .dropdown-media > .dropdown-media-content > a:hover {
	background-color: #fbf4f6;
	border: 1px solid #f3dfe5;
	color: #D61F55;
}
.brandline-2012-content > .brandline-left .brandline-microsites > .vizita > .dropdown-media > .dropdown-media-content > a {
	color: #03774F !important;
}
.brandline-2012-content > .brandline-left .brandline-microsites > .vizita > .dropdown-media > .dropdown-media-content > a:hover {
	background-color: #f3fdfa;
	border: 1px solid #d3ece3;
	color: #03774F;
}
.brandline-2012-content > .brandline-left .brandline-microsites > .voyo > .dropdown-media > .dropdown-media-content > a {
	color: #2776D0 !important;
}
.brandline-2012-content > .brandline-left .brandline-microsites > .voyo > .dropdown-media > .dropdown-media-content > a:hover {
	background-color: #f0f5fb;
	border: 1px solid #dbe7f4;
	color: #2776D0;
}
.brandline-2012-content > .brandline-left .brandline-microsites > .zadovoljna > .dropdown-media > .dropdown-media-content > a {
	color: #722093 !important;
}
.brandline-2012-content > .brandline-left .brandline-microsites > .zadovoljna > .dropdown-media > .dropdown-media-content > a:hover {
	background-color: #fcf5ff;
	border: 1px solid #efdef6;
	color: #722093;
}
.brandline-2012-content > .brandline-left .brandline-microsites > div:hover > .dropdown-media {
	display: block;
}
.brandline-2012-content > .brandline-left .brandline-microsites > div:hover {
	border: 2px solid #FFF !important;
	z-index: 2;
}


.brandline-2012-content > .brandline-left .brandline-microsites > .site24ur > .dropdown-media > .dropdown-media-content > a {
	color: #333 !important;
}
.brandline-2012-content > .brandline-left .brandline-microsites > .site24ur > .dropdown-media > .dropdown-media-content > a:hover {
	background-color: #F7F7F7;
	border: 1px solid #DDD;
	color: #333;
}
.brandline-2012-content > .brandline-left .brandline-microsites > div.site24ur {
	display: block;
	
	width: 42px;
	height: 30px;
	
	background: transparent;
	background-image: url(/static/slo/shared/img/brandline/brandline-2012-24ur-logo.png);
	background-position: center;
	background-repeat: no-repeat;
	
	margin: 0;
	padding: 0;
	
	margin: 0 5px 0 0;
	padding: 0;
	line-height: 30px;
	text-align: center;
	
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	
	border: none;
	
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
		    box-shadow: none;
}
.brandline-2012-content > .brandline-left .brandline-microsites > div.site24ur > a {
	width: 42px;
	height: 30px;
} 
.brandline-2012-content > .brandline-left .brandline-microsites > div.site24ur:hover {
	border: none !important;
}
.brandline-2012-content > .brandline-left .brandline-microsites > div.site24ur > .dropdown-media {
	top: 6px !important;
}


.brandline-2012-content > .brandline-left .brandline-microsites > div.bibaleze {
	border: 2px solid #235164;
	background-color: #15313c;
	
	background-image: url(/static/slo/shared/img/brandline/brandline-bibaleze-icon.png);
	background-position: 4px 2px;
	background-repeat: no-repeat;
}
.brandline-2012-content > .brandline-left .brandline-microsites > div.moskisvet {
	border: 2px solid #804e00;
	background-color: #4d2f00;
	
	background-image: url(/static/slo/shared/img/brandline/brandline-ms-icon.png);
	background-position: -11px 4px;
	background-repeat: no-repeat;
}
.brandline-2012-content > .brandline-left .brandline-microsites > div.zadovoljna {
	border: 2px solid #621f6b;
	background-color: #3b1340;
	
	background-image: url(/static/slo/shared/img/brandline/brandline-zadovoljna-icon.png);
	background-position: 3px 5px;
	background-repeat: no-repeat;
}
.brandline-2012-content > .brandline-left .brandline-microsites > div.dominvrt {
	border: 2px solid #004f30;
	background-color: #00301d;
	
	background-image: url(/static/slo/shared/img/brandline/brandline-dominvrt-icon.png);
	background-position: 3px 3px;
	background-repeat: no-repeat;
}
.brandline-2012-content > .brandline-left .brandline-microsites > div.okusnoje {
	border: 2px solid #556617;
	background-color: #333e0e;
	
	background-image: url(/static/slo/shared/img/brandline/brandline-okusnoje-icon.png);
	background-position: 2px 1px;
	background-repeat: no-repeat;
}
.brandline-2012-content > .brandline-left .brandline-microsites > div.golfportal {
	border: 2px solid #005f00;
	background-color: #003900;
	
	background-image: url(/static/slo/shared/img/brandline/brandline-golfportal-icon.png);
	background-position: 4px 3px;
	background-repeat: no-repeat;
}
.brandline-2012-content > .brandline-left .brandline-microsites > div.cekin {
	border: 2px solid #6b6432;
	background-color: #413c1e;
	
	background-image: url(/static/slo/shared/img/brandline/brandline-cekin-icon.png);
	background-position: 2px 4px;
	background-repeat: no-repeat;
}
.brandline-2012-content > .brandline-left .brandline-microsites > div.vizita {
	border: 2px solid #1d5e32;
	background-color: #11391e;
	
	background-image: url(/static/slo/shared/img/brandline/brandline-vizita-icon.png);
	background-position: 5px 5px;
	background-repeat: no-repeat;
}
.brandline-2012-content > .brandline-left .brandline-microsites > div.svetiger {
	border: 2px solid #720011;
	background-color: #45000a;
	
	background-image: url(/static/slo/shared/img/brandline/brandline-svetiger-icon.png);
	background-position: 2px 1px;
	background-repeat: no-repeat;
}
.brandline-2012-content > .brandline-left .brandline-microsites > div.osvajalec {
	border: 2px solid #7d2b00;
	background-color: #4b1a00;
	
	background-image: url(/static/slo/shared/img/brandline/brandline-osvajalec-icon.png);
	background-position: 1px 3px;
	background-repeat: no-repeat;
}
.brandline-2012-content > .brandline-left .brandline-microsites > div.voyo {
	border: 2px solid #114178;
	background-color: #0a2748;
	
	background-image: url(/static/slo/shared/img/brandline/brandline-voyo-icon.png);
	background-position: 5px 3px;
	background-repeat: no-repeat;
}
.brandline-2012-content > .brandline-left .brandline-microsites > div.frendiinflirt {
	border: 2px solid #801a4d;
	background-color: #4d0f2e;
	
	background-image: url(/static/slo/shared/img/brandline/brandline-ff-icon.png);
	background-position: 3px 4px;
	background-repeat: no-repeat;
}
.user_display_when_loggedin {
	position: relative;
}
.user_display_when_loggedin .dropdown-media {
	display: none;
	
	position: absolute;
	
	width: 160px;
	left: 50%;
	top: 6px;
	margin: 0 0 0 -100px;
	
	padding: 28px 20px 20px;
	
	
	z-index: 1;
	
	background-image: url(/static/slo/shared/img/brandline/dropdown-media-arrow.png);
	background-position: center 23px;
	background-repeat: no-repeat;
}
.user_display_when_loggedin > .dropdown-media > .dropdown-media-content {
	padding: 5px 5px 0px;
}
.user_display_when_loggedin > .dropdown-media > .dropdown-media-content .btn {
	margin: 0 0 5px;
}
.dropdown-login .user_display_when_loggedin .dropdown-media .btn {
	text-align: left;
	padding-left: 35px;
	
	position: relative;
	z-index: 1;
	
	height: 16px;
	line-height: 16px;
	
	color: #555;
	
	display: block;
}
.dropdown-login .dropdown-media .btn {
	position: relative;
}
.dropdown-login .dropdown-media .btn-settings .btn-image {
	background-image: url(/static/slo/shared/img/brandline/btn-image-settings.png);
}
.dropdown-login .dropdown-media .btn-logout .btn-image {
	background-image: url(/static/slo/shared/img/brandline/btn-image-logout.png);
}
.dropdown-login a {
	color: #0088CC;
}
.dropdown-login a:hover {
	color: #005580;
}
.dropdown-login .control-group .controls > input {
	margin: 0;
}

.dropdown-microsite-title {
	font-size: 12px;
	line-height: 16px;
	color: #999;
	
	letter-spacing: 1px;
	
	background-image: url(/static/slo/shared/img/brandline/dropdown-title-shaddow.png);
	background-position: center bottom;
	background-repeat: no-repeat;
	padding: 0 0 15px;
}
.btn-loader > i {
	display: none !important;
}
.dropdown-login .user_display_when_loggedout,
.dropdown-login .user_display_when_loggedin {
	height: 26px;
    line-height: 20px;
}



.dropdown-login {
	font-family: Arial;
}
.dropdown-login input,
.dropdown-login input[type="text"],
.dropdown-login input[type="password"] {
	font-family: Arial;
	font-weight: normal;
}



.btn-primary [class^="icon-"],
.btn-primary [class*=" icon-"] {
    background-image: url(/static/slo/shared/img/brandline/glyphicons-halflings-white.png) !important;
}

.dropdown-login #crm_login_button {
	white-space: nowrap;
}


.brandline-2012-content {
	font-family: Arial;
	font-size: 11px;
	font-weight: normal;
}

.brandline-proplus {
	margin-left: 20px !important;
	margin-top: 5px !important;
}
.brandline-proplus a {
	display: block;
	width: 20px;
	height: 20px;
	
	background-image: url(/static/slo/shared/brandline/img/brandline-proplus-small.png);
	background-position: top right;
	background-repeat: no-repeat;
}
.brandline-proplus a:hover {
	cursor: pointer;
	width: 80px;
	height: 20px;
	
	background-image: url(/static/slo/shared/brandline/img/brandline-proplus-big.png);
	background-position: top right;
	background-repeat: no-repeat;
}

