/* START: Head menu */
#headmenu {
	width: 980px;
	padding: 0; 
	margin: 0 auto;
}

#headmenu .menu {
	width: 976px;
	height: 67px;
	margin: 0 auto;
}

#headmenu .menu .imageItem {
	margin: -14px 0 0 0;
}

#headmenu .menu .imageSecondaryItem {
	margin: -7px 6px 0 0;
}

#headmenu .menu .image20Yers {
	margin: -18px 0 0 0;
}

#headmenu .node0 li ul li a.electionsMenu {
background: none;
border: 0;
margin: -8px 0 0 0;
display: block;
padding:10px 0 0 19px;
width:51px;
height:33px;
background: url("/static/slo/main/img/buttons/election_bg.png") no-repeat 0 0;
}


#headmenu .node0 li ul li a:hover.electionsMenu,
#headmenu .node0 li ul li.selected .electionsMenu {
background: url("/static/slo/main/img/buttons/election_bg.png") no-repeat 0 -43px;
padding:10px 0 0 19px;
}

#headmenu ul {
	margin: 0;
	padding: 0;	
	list-style-type: none;
	float: left;
}

#headmenu ul.node0 li {
	float: left;
}

#headmenu ul.node0 {
	display: block;
	width: 100%;
	height: 40px;
}

#headmenu .node0 li.selected ul {
	position: absolute;
	left: 0;
	margin: 39px 0 0;
	padding: 0 5px 0 5px;
	width: 974px;
}

#headmenu .node0 li.selected h2 {
	padding: 0 0 0 0;
	margin: 2px 0 0 0;
	height: 37px;
}

#headmenu .node0 li.selected h2 a {
}

#headmenu .node0 li.selected ul li {
	display: block;
	margin: 0;
}

#headmenu ul.node0.haschild {
	margin: 0 0 20px 0;
	position: relative;
}

#headmenu .node0 li h2 {
	display: block;
	float: left;
	height: 24px;
	padding: 2px 0 0;
	margin: 0;
}

#headmenu .node0 li h2 a {
	display: block;
	margin: 0;
	padding: 6px 11px 5px;
}

#headmenu .node0 li ul li h3 {
	display: block;
	float: left;
	padding: 3px 0;
}

#headmenu .node0 li ul li.last h3 {
	background: none;
}

#headmenu .node0 li ul li h3 a {
	display: block;
	padding: 2px 7px;
}

#headmenu .node0 li ul li.selected h3 a {
	display: block;
	padding: 2px 8px 2px 8px;
}

#headmenu .bottom {
	margin: 0;
	clear: both;
}
/* END: Head menu */


/* START: HOCKEY MENU --------------------*/
/*
.menu a.hockey_menu {
	background: url("/static/slo/main/img/Hokej_nav.png") no-repeat 0 0 !important;
	width: 40px;
	height: 32px;
	padding: 18px 0 0 37px !important;
	margin: -16px 0 0 -8px;
	color: #022e5f !important;
}
.menu a.hockey_menu:hover,
#headmenu .node0 li ul li.selected h3 a.hockey_menu {
	background: url("/static/slo/main/img/Hokej_nav.png") no-repeat 0 -50px !important;
	color: white !important;
	background-color:none !important;
}
*/
/* END: HOCKEY MENU --------------------*/

/* ==============================================
	Volitve2012 tab
   ============================================*/
/*
#headmenu #menuitem_930 h2 {
	padding: 0;
	position: relative;
	width: 98px;
}
#headmenu #menuitem_930 h2 a {
	height: 43px;
	width: 98px;
	padding: 0;
	position: absolute;
	top: -7px;
	left: 0;
	text-indent: -9999px;
	background: url("/static/slo/main/img/volitve/volitve2012_sprite_nav.png") no-repeat 0 0 !important;
}
#headmenu #menuitem_930 h2 a:hover {
	background: url("/static/slo/main/img/volitve/volitve2012_sprite_nav.png") no-repeat 0 -43px !important;
}
*/
/* ==============================================
	Slovenija ima talent 2013
   ============================================*/
/*#headmenu #menuitem_512 h2 {
	padding: 0;
	position: relative;
	width: 107px;
}
#headmenu #menuitem_512 h2 a {
	height: 45px;
	width: 107px;
	padding: 0;
	position: absolute;
	top: -6px;
	left: 0;
	overflow: hidden;
	text-indent: -9999px;
	background: url("/static/slo/main/img/buttons/SIT3_24ur_iconMenu.jpg") no-repeat 0 0 !important;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius:5px;
	behavior: url("/static/slo/microsites/xfactor/css/PIE.htc");
	
	-webkit-box-shadow: 0 0 5px  #009cff;
	-moz-box-shadow: 0 0 5px  #009cff;
	box-shadow: 0 0 5px  #000000;
	
	-webkit-transition: box-shadow 0.2s ease-out;
	-moz-transition: box-shadow 0.2s ease-out;
	-o-transition: box-shadow 0.2s ease-out;
	-ms-transition: box-shadow 0.2s ease-out;
	transition: box-shadow 0.2s ease-out;
}
#headmenu #menuitem_512 h2 a:hover {
	background: url("/static/slo/main/img/buttons/SIT3_24ur_iconMenu.jpg") no-repeat 0 -45px !important;
	
	-webkit-box-shadow: 0 0 10px 5px #009cff;
	-moz-box-shadow: 0 0 10px 5px #009cff;
	box-shadow: 0 0 10px 5px #009cff;
}*/




/*-----------------------------------------
-------------------------------------------
********** VOLITVE2014 MENU badge *********/ 


#menuitem_930 h2 {
    background-image: url("/static/slo/main/img/Volitve2014/badge-volitve2014.png?v=2") !important;
    background-position: center center!important;
    background-repeat: no-repeat!important;
    height: 62px !important;
    margin-left: -12px!important;
    margin-right: 7px!important;
    margin-top: -26px!important;
    width: 107px!important;
    
    -webkit-transition: all 200ms ease-out 100ms!important;
    -moz-transition: all 200ms ease-out 100ms!important;
    -o-transition: all 200ms ease-out 100ms!important;
    transition: all 200ms ease-out 100ms!important;
}

#menuitem_930 h2 a{
	opacity: 0;
	
}

#menuitem_930 h2:hover {
    opacity: 0.7;
    
}

/*-----------------------------------------
-------------------------------------------
********** SPORT MENU badge *********/ 


.section_nav.submenuitem_1020 {
    background-image: url("/static/slo/main/img/sport/motogp-badge.png?v=3") !important;
    background-position: center center!important;
    background-repeat: no-repeat!important;
    height: 17px !important;
    margin-left: 0 !important;
    margin-right: 0px !important;
    margin-top: -2px !important;
    width: 59px !important;
        
    -webkit-transition: all 200ms ease-out 100ms!important;
    -moz-transition: all 200ms ease-out 100ms!important;
    -o-transition: all 200ms ease-out 100ms!important;
    transition: all 200ms ease-out 100ms!important;
    
    text-indent: -9999px;
}

.section_nav.submenuitem_1020:hover,
.section_nav.submenuitem_1020:active,
#headmenu .node0 li ul li.selected .section_nav.submenuitem_1020{
	
	background-image: url("/static/slo/main/img/sport/motogp-badge-on.png?v=3") !important;
	background-color: transparent;
	padding: 2px 7px;
	 
	 
}


.section_nav.submenuitem_362 {
    background-image: url("/static/slo/main/img/sport/snl-badge.png?v=3") !important;
    background-position: center center!important;
    background-repeat: no-repeat!important;
    height: 20px !important;
    margin-left: 2px !important;
    margin-right: 4px !important;
    margin-top: -3px !important;
    width: 24px !important;
        
    -webkit-transition: all 200ms ease-out 100ms!important;
    -moz-transition: all 200ms ease-out 100ms!important;
    -o-transition: all 200ms ease-out 100ms!important;
    transition: all 200ms ease-out 100ms!important;
    
    text-indent: -9999px;
    
    display: inline;
	position: relative;
}

.section_nav.submenuitem_362:hover,
.section_nav.submenuitem_362:active,
#headmenu .node0 li ul li.selected .section_nav.submenuitem_362 {
	 background-image: url("/static/slo/main/img/sport/snl-badge-on.png?v=3") !important;
	 background-color: transparent;
	 padding: 2px 7px;
}

.section_nav.submenuitem_363 {
    background-image: url("/static/slo/main/img/sport/lp-badge.png?v=3") !important;
    background-position: center center!important;
    background-repeat: no-repeat!important;
    height: 23px !important;
    margin-left: 4px !important;
    margin-right: 2px !important;
    margin-top: -5px !important;
    width: 23px !important;
        
    -webkit-transition: all 200ms ease-out 100ms!important;
    -moz-transition: all 200ms ease-out 100ms!important;
    -o-transition: all 200ms ease-out 100ms!important;
    transition: all 200ms ease-out 100ms!important;
    
    text-indent: -9999px;

    display: inline;
	position: relative;
}

.section_nav.submenuitem_363:hover,
.section_nav.submenuitem_363:active,
#headmenu .node0 li ul li.selected .section_nav.submenuitem_363 {
	
	 background-image: url("/static/slo/main/img/sport/lp-badge-on.png?v=3") !important;
	 background-color: transparent;
	 padding: 2px 7px;
}

.section_nav.submenuitem_364 {
    background-image: url("/static/slo/main/img/sport/le-badge.png?v=3") !important;
    background-position: center center!important;
    background-repeat: no-repeat!important;
    height: 22px !important;
    margin-left: 2px !important;
    margin-right: 2px !important;
    margin-top: -5px !important;
    width: 24px !important;
        
    -webkit-transition: all 200ms ease-out 100ms!important;
    -moz-transition: all 200ms ease-out 100ms!important;
    -o-transition: all 200ms ease-out 100ms!important;
    transition: all 200ms ease-out 100ms!important;
    
    text-indent: -9999px;
    
    display: inline;
	position: relative;
}

.section_nav.submenuitem_364:hover,
.section_nav.submenuitem_364:active,
#headmenu .node0 li ul li.selected .section_nav.submenuitem_364{
	
	 background-image: url("/static/slo/main/img/sport/le-badge-on.png?v=3") !important;
	 background-color: transparent;
	 padding:2px 7px;
}



.section_nav.submenuitem_364:hover::after {
    background: rgba(255, 154, 31, 1) none repeat scroll 0 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    bottom: 33px;
    color: #fff;
    content: "Liga Evropa";
    font-size: 12px;
    left: -25px;
    padding: 5px 10px;
    position: absolute;
    text-indent: 0;
    width: 70px;
    z-index: 98;
    
-webkit-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.75);
box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.75);
}

.section_nav.submenuitem_363:hover::after{
	background: rgba(255,154,31, 1) none repeat scroll 0 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    bottom: 34px;
    color: #fff;
    content: "Liga prvakov";
    font-size: 12px;
    left: -34px;
    padding: 5px 10px;
    position: absolute;
    text-indent: 0;
    width: 75px;
    z-index: 98;
    
-webkit-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.75);
box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.75);
}

.section_nav.submenuitem_362:hover::after {
    background: rgba(255, 154, 31, 1) none repeat scroll 0 0;
    border-radius: 3px;
    bottom: 33px;
    color: #fff;
    content: "Prva liga Telekom Slovenije";
    font-size: 12px;
    left: -70px;
    padding: 5px 10px;
    position: absolute;
    text-indent: 0;
    width: 159px;
    z-index: 98;
    
-webkit-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.75);
box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.75);
}


/* MOJ FIT */

#menuitem_367 h2 {
    bottom: -5px;
    position: absolute;
    right: 10px;
    height: 48px !important;
    background: none !important;
}