/* START: Head */
#head {
	width: 980px;
	margin: 10px auto 10px auto;
	background: transparent;
}

/* START: Logotype */

#head .content h1 {
	width: 218px;
	height: 110px;
	background: url(/static/slo/main/img/backgrounds/header_logo.png) no-repeat left center;
	margin: 0 auto;
}
#head .content h1 a {
	display: block;
	height: 110px;
	width: 218px;
	position: relative;
}

/*
#head .content h1 {
	width: 147px;
	height: 121px;
	background: url(/static/slo/main/img/backgrounds/15let-24ur-logo.png) no-repeat left center;
	margin: 0 auto;
}
#head .content h1 a {
	display: block;
	width: 147px;
	height: 121px;
	position: relative;
}
*/


#head .content h1 img {
	width: 100%;
	height: 100%;
	border: 0;
}

#head .content a span {
	text-indent: -9999px;
	display: block;
}
/*
	position: absolute;
	z-index: 10;
	top: -19px;
	left: 36px;
	width: 75px;
	height: 62px;
	background-image: url("/static/slo/main/img/hat-24.png?v=2");
	background-position: 0 0;
	background-repeat: no-repeat;
*/

/* END: Logotype *

/* START: Date & Time */
#head .content .datetime {
	float: left;
	color: #333;
	margin: 32px 0 0 0;
}

#head .content .datetime .date { font-size: 12px; }

#head .content .datetime .time {
	font-size: 17px;
	font-weight: bold;
}
/* END: Date & Time */

/* START: Banner */
#head .content .banner {
	position: absolute;
	width: 300px;
	height: 100px;
	background: #fff;
	border: 1px solid #c7d1e9;
	z-index: 100;
	padding: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
/* END: Banner */

/* START: Eyebrow */
#tool_bar {
	width: 314px;
	height: 61px;
	background: #2c3f98;
	margin: 0 0 10px 0;
	padding: 3px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#tool_bar .content { }

/* START: Social icons */
#tool_bar .content .socialIcons {
	float: left;
	width: 276px;
	padding: 4px 19px;
	margin: 3px 0 0 0;
	background-image: url(/static/slo/main/img/social-icons-bg.png);
	background-position: top center;
	background-repeat: no-repeat;
	text-align: center;
}

#tool_bar .content .socialIcons li {
	margin: 0 5px;
	display: inline-block;
}

#tool_bar .content .socialIcons li a {
	float: left;
	display: block;
	width: 20px;
	height: 20px;
	margin: 4px 0 0 0;
	text-indent: -9999px;
}

/*#tool_bar .content .socialIcons li.facebook {
	margin: 0;
}*/

#tool_bar .content .socialIcons li.mobile a { background: url(/static/slo/main/img/buttons/site_social_icons.png) no-repeat 0 0 }
#tool_bar .content .socialIcons li.rss a { background: url(/static/slo/main/img/buttons/site_social_icons.png) no-repeat 0 -20px  }
#tool_bar .content .socialIcons li.favorites a { background: url(/static/slo/main/img/buttons/site_social_icons.png) no-repeat 0 -40px }
#tool_bar .content .socialIcons li.homepage a { background: url(/static/slo/main/img/buttons/site_social_icons.png) no-repeat 0 -60px }
#tool_bar .content .socialIcons li.twitter a { background: url(/static/slo/main/img/buttons/site_social_icons.png) no-repeat 0 -80px }
#tool_bar .content .socialIcons li.facebook a { background: url(/static/slo/main/img/buttons/site_social_icons.png) no-repeat 0 -100px }

#tool_bar .content .socialIcons li.mobile a:hover { background: url(/static/slo/main/img/buttons/site_social_icons.png) no-repeat 0 -120px }
#tool_bar .content .socialIcons li.rss a:hover { background: url(/static/slo/main/img/buttons/site_social_icons.png) no-repeat 0 -140px  }
#tool_bar .content .socialIcons li.favorites a:hover { background: url(/static/slo/main/img/buttons/site_social_icons.png) no-repeat 0 -160px }
#tool_bar .content .socialIcons li.homepage a:hover { background: url(/static/slo/main/img/buttons/site_social_icons.png) no-repeat 0 -180px }
#tool_bar .content .socialIcons li.twitter a:hover { background: url(/static/slo/main/img/buttons/site_social_icons.png) no-repeat 0 -200px }
#tool_bar .content .socialIcons li.facebook a:hover { background: url(/static/slo/main/img/buttons/site_social_icons.png) no-repeat 0 -220px }
/* END: Social Incons */

/* START: Search */
#tool_bar .search {
	/*float: right;
	width: 163px;*/
	height: 26px;
}

/*#tool_bar .search form { float: right }*/

#tool_bar .search .value {
	float: left;
	width: 279px;
	height: 26px;
	background: url(/static/slo/main/img/search.png?v=1) no-repeat 0 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #15287E;
	border: 0;
	padding: 0 4px 0 4px;
	line-height: 26px;
}

#tool_bar .search .button {
	float: left;
	width: 27px;
	height: 26px;
	background: url(/static/slo/main/img/search.png?v=1) no-repeat -316px 0;
	border: 0;
	cursor: pointer;
}

#tool_bar .search .button:hover { background: url(/static/slo/main/img/search.png) no-repeat -343px 0; }
/* END: Search */







#head .content {
	position: relative;
	height: 110px;
}
#head .content .position-left {
	top: 0;
	left: 0;
}
#head .content .position-right {
	top: 0;
	left: 670px;
}





.site-tool-bar {
	position: relative;
}
.site-tool-bar .pns-badge {
	position: absolute;
	top: -2px;
	right: 0px;
	width: 80px;
	height: 70px;
}
.site-tool-bar .pns-badge a {
	display: block;
	width: 80px;
	height: 70px;
	text-indent: -9999px;
	background-image: url(/static/slo/main/img/vip-badge.png?v=2);
	background-position: center left;
	background-repeat: no-repeat;
	opacity: 1;
}
.site-tool-bar .pns-badge a:hover { opacity: 0.8; }


.site-tool-bar  a:active
{
outline: none;
border: none;
}

.site-tool-bar  a:focus
{
-moz-outline-style: none;
outline: none;
border: none;
}

