/* START: Joke of day box
----------------------------------------------------------------- */
#jokeOfDay {
	font-size: 11px;
	color: #000;
}

#rightmultiblock #jokeOfDay h4 { background: url(/static/slo/main/img/backgrounds/right_other_double_tbottitle_on.gif) no-repeat scroll 0 0; }

#rightmultiblock #jokeOfDay .content {
	overflow: inherit;
	margin: 0;
}

.frontJoke {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: bold;
	margin: 0 0 9px 0;
	padding: 0 2px 0 0;
	position: relative;
}
.frontJoke a,
.frontJoke a:hover {
	text-decoration: none;
}
a.jokeContent {
	display: block;
	text-decoration: none;
	line-height: 18px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #333;
	display: block;
	height: 100px;
	overflow: hidden;
}
.jokeArrow {
	background: url(/static/slo/main/img/box/rightmini/joke_slide_arrow.gif) no-repeat left top;
	width: 274px;
	height: 11px;
	display: block;
}
.jokeArrow.opened {
	background: url(/static/slo/main/img/box/rightmini/joke_slide_arrow_close.gif) no-repeat center bottom;
}
.jokeGradient {
	background: url(/static/slo/main/img/box/rightmini/joke_gradient_bg.png) no-repeat center bottom;
	position: absolute;
	bottom: 11px;
	left: 0;
	height: 100px;
	width: 274px;
	display: block;
	_display: none;
}

.frontJoke.withThumb {
	display: inline;
	position: relative;
	text-align: left;
}

#jokeOfDay .content .thumb {
	float: left;
	display: inline;
	position: relative;
	width: 114px;
	margin: 0 8px 0 0;
}

#jokeOfDay .content .thumb .actionButton {
	position: absolute;
	top: 14px;
	left: 33px;
}

#jokeOfDay .content .videoPlayer {
	margin: 0 0 4px 0;
	display: none;
}

#jokeOfDay .content .controls {
	border-top: 1px dotted #C1C1C1;
	margin: 6px 0 0 0;
	padding: 9px 0 0 0;
}

#jokeOfDay .content .rating {
	margin-top: 9px;
	width: 133px;
	float: left;
}

#jokeOfDay .content .rating .scorePositive { margin: 0 8px 0 0; }

#jokeOfDay .content .rating .scoreNegative { margin: 0 10px 0 0; }

#jokeOfDay .content .rating .scoreRed { color: #A7102A; }

#jokeOfDay .content .rating .scoreGreen { color: #38782C; }

#jokeOfDay .content .controls .user_send {
	float: left;
	width: 185px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

#jokeOfDay .content .controls .archive {
	float: right;
	width: 66px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

#jokeOfDay .content .controls .archive a {
	height: 16px;
	background: url(/static/slo/main/img/box/rightmini/icon_archive.gif) no-repeat 0 0;
	padding: 2px 0 0 22px;
}

#jokeOfDay .content .controls .user_send a {
	height: 18px;
	background: url(/static/slo/main/img/box/rightmini/joke_send.gif) no-repeat 0 0;
	padding: 2px 0 0 24px;
	display: block;
}

#jokeOfDay .content .rating .scoreRed,
#jokeOfDay .content .rating .scoreGreen { margin-right: 10px; }

/* START: Default classes for joke of day box */
#jokeOfDay .head a,
#jokeOfDay .content .rating .scorePositive,
#jokeOfDay .content .rating .scoreNegative,
#jokeOfDay .content .rating .scoreRed,
#jokeOfDay .content .rating .scoreGreen,
#jokeOfDay .content .controls .user_send,
#jokeOfDay .content .archive a { display: block; }

#jokeOfDay .content .rating,
#jokeOfDay .content .rating .scorePositive,
#jokeOfDay .content .rating .scoreNegative,
#jokeOfDay .content .rating .scoreRed,
#jokeOfDay .content .rating .scoreGreen { float: left }
/* END: Default classes for joke of day box */

/* START: Joke of day box
----------------------------------------------------------------- */

/*Start: joke send to frend*/
.sendToFrendHolderFix{
	overflow:hidden;
	position: relative;
	width: 300px;
}

.sendToFrendHolder{
	overflow:hidden;
	position: absolute;
	width: 600px;
}

/*.sendToFrendHolder .step1,
.sendToFrendHolder .step2{
	overflow: hidden;
	position: absolute;
	width: 280px;
}*/

.content .voting .sendJokeToFrend {
	width: 128px;
	float: right;
	margin: 9px 0 0 0;
}

.content .voting .sendJokeToFrend a {
	background: transparent url(/static/slo/main/img/backgrounds/article_poslji.gif) no-repeat scroll 0 0;
	display: block;
	height: 18px;
	padding: 2px 0 0 34px;
}

.formContainerStepOne{
	width: auto;
	float: left;
	display: block;
}

.formContainerStepOne p{
	margin: 0;
	padding: 0;
}

.formContainerStepTwo{
	width: auto;
	float: left;
	display: block;
	width: 200px; /*ie fix*/
}

.content .form_line {
	margin: 10px 0 0;
}

.content .form_line .form_line_left {
	float: left;
	padding: 4px 7px 1px 0;
	width: 55px;
	font-size: 12px;
}

.content .form_line .form_line_right {
	float:left;
	margin: 0;
	padding: 0;
	width: 200px;
}

.input_long, .input_middle, .input_small {
	display:block;
	font-size:12px;
	margin: 0;
	padding: 2px 2px 0 2px;
	width: 203px;
	height: 18px;
	border-color:#AAAAAA #EEEEEE #EEEEEE #AAAAAA;
	border-style:solid;
	border-width:1px;
	font-family: Arial, Helvetica, sans-serif;
	color: #939393;
}

#jokeOfDay INPUT:hover {background: #FAFAFA;}
#jokeOfDay INPUT:focus {background: #FAFAFA;}
#jokeOfDay INPUT:focus:hover {background: #FAFAFA;}

#jokeOfDay textarea:hover {background: #FAFAFA;}

#jokeOfDay .jokeSendContainer{
	width: 209px;
	float: left;
	margin: 10px 0 0 62px;
}

#jokeOfDay .jokeSendBtn {
	width: 88px;
	height: 32px;
	float: left;
}

#jokeOfDay .warning {
	color: #C7111E;
	display: block;
	float: left;
	font-size: 11px;
	margin: 3px 0 0;
	padding: 0 0 0 32px;
	width: 239px;
}

#jokeOfDay .backToJoke{
	background: transparent url(/static/slo/main/img/buttons/back_joke.gif) no-repeat scroll 0 3px;
	float: left;
	margin: 10px 0 0 40px;
	padding: 0 0 0 6px;	
}
#jokeOfDay .backToJoke a{}

#jokeOfDay .backToJoke a:hover{}

/*End: joke send to frend*/

/*Start: last jokes */
.jokesLatJokesTop {
	background:transparent url(/static/slo/main/img/backgrounds/jokes_content_bg.gif) repeat-y scroll 0 0;
	margin:0 0 25px;
}

.jokesLatJokesTop .primary {
	background:transparent url(/static/slo/main/img/backgrounds/jokes_primary.gif) no-repeat scroll 0 0;
	font-size:0;
	height:5px;
}

.jokesLatJokesTop .content {
	background:transparent url(/static/slo/main/img/backgrounds/jokes_content.gif) no-repeat scroll center bottom;
	padding:8px 12px 12px;
}

#jokeOfDay .input_big {
	border-color:#AAAAAA #EEEEEE #EEEEEE #AAAAAA;
	border-style:solid;
	border-width:1px;
	display: block;
	font-size: 12px;
	margin: 0;
	padding: 2px;
	width: 203px;
	color: #939393;
	font-family: Arial,Helvetica,sans-serif;
}

#jokeOfDay .message {
	color:#000000;
	display:block;
	float:left;
	font-size:11px;
	margin:0 0 7px 15px;
	padding:0 0 0 20px;
}
/*End: last jokes */

/*Start: FB */
#jokeOfDay .fb {
	border-bottom: 1px dotted #C1C1C1;
	margin: 0;
	padding: 0 0 9px 0;
}
/*End: FB */