@import url("/static/shared/css/helpers.css?v=2");
@import url("/static/slo/main/css/head.css?v=8");
@import url("/static/slo/main/css/focus_news.css?v=3");
@import url("/static/shared/css/common.css?v=4");
@import url("/static/slo/main/css/common.css?v=8");
@import url("/static/slo/shared/css/vote.css?v=2");
@import url("/static/slo/main/css/head_menu.css?v=12");
@import url("/static/shared/css/dividers.css?v=2");
@import url("/static/slo/shared/css/foot.css?v=2");
@import url("/static/slo/main/css/simple_page.css?v=2");
@import url("/static/slo/main/css/new-news.css?v=2");
@import url("/static/slo/main/css/box/right/twitter.css?v=2");
@import url("/static/slo/main/css/box/right/spored-24ur-box.css?v=2");
@import url("/static/slo/main/css/box/right/discount_banner.css?v=2");
@import url("/static/slo/main/css/sub_page_sport.css?v=16");
@import url("/static/slo/main/css/quiz.css?v=36");
@import url("/static/slo/main/css/404.css?v=1");
@import url("/static/slo/main/css/promo-banners.css?v=3");


/** @import url("/static/slo/main/css/tvlisting.css"); css file doesn't exist - 404 error is produced **/

/* START: Globals */


html, body {
	border: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	font: normal 11px Arial, Helvetica, Sans-serif;
}
ol, ul {
	list-style: none;
	margin: 0;
	padding:0
}
body {

}
div, span {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: #0f3da1;
}

a:hover {
	text-decoration: underline;
	color: #0f3da1;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	font: normal 11px Arial, Helvetica, Sans-serif;
}

h1 {
	font-weight: bold;
	font-size: 18px;
}

h2 {
	font-weight: bold;
	font-size: 15px;
}

h3 {
	font-weight: bold;
	font-size: 12px;
}

h4 {
	font-weight: bold;
	font-size: 14px;
}

h5 { font-weight: bold; }

h6 {
	font-weight: bold;
	font-size: 16px;
}
/* END: Globals */

/* START: Video player warnings */
.video_player_warnings {
	width: 560px;
        font-size: 11px;
	background-image: url(/static/shared/img/background_video_player_warning.gif);
	background-repeat: no-repeat;
	padding: 0 0 10px 11px;
}

.video_player_warnings p {
	font-size: 12px;
	font-weight: bold;
	color: #c70f1d;
	padding: 10px 0 0;
}

.video_player_warnings a:link {
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}

.video_player_warnings a:hover {
	font-weight: bold;
	color: #c70f1d;
	text-decoration: underline;
}

#video_player_old_flash {
	display: none;
}
/* END: Video player warnings */

/* START: Embed line */
.embed_field {
	font-size: 11px;
	color: #a2a2a2;
	margin: 0 0 13px 0;
	padding: 0 0 0 46px
}

.embed_field input {
	width: 519px;
	font-size: 11px;
	border-color: #dcdcdc;
	border-width: 1px;
	border-style: solid;
	background-color: #ffffff
}

#content .article-embed {
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 0 15px;
    width: 620px;
}

#content .article-embed > iframe {
    width: 100%;
}

/* END: Embed line */
#div_banner_BELOW_ARTICLE {
	text-align: center;
}
#div_banner_BELOW_ARTICLE > DIV {
	display:none;
	width: auto !important;
	border: 1px solid #D1D3D5;
	padding: 5px 5px 20px;
	position: relative;
	z-index: 100;
	background-color: #fff;
	background-image: url("/static/slo/main/img/oglas_tag.png");
	background-position: right 100%;
	background-repeat: no-repeat;
	margin-bottom: 20px;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius:5px;
}

#div_banner_BEFORE_ARTICLE {
	width: auto !important;
	border: 1px solid #D1D3D5;
	padding: 5px 5px 20px;
	position: relative;
	z-index: 100;
	background-color: #fff;
	background-image: url("/static/slo/main/img/oglas_tag.png");
	background-position: right 100%;
	background-repeat: no-repeat;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius:5px;
}
#div_banner_BEFORE_ARTICLE .before_article_info {
	background-color: rgba(0, 0, 0, 0.7);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius:3px;
	color: #FFFFFF;
	cursor: pointer;
	padding: 4px 5px 4px 10px;
	position: absolute;
	right: 15px;
	top: 15px;
	width: auto;
}
#div_banner_BEFORE_ARTICLE .before_article_info span {
	font-weight: bold;
	padding: 0px 5px;
}
#div_banner_BANDEROLA {
	position: absolute;
	top: -320px;
	right: -180px;
}

.warning a { color: #0f3da1; }

.warning a:hover { color: #0f3da1; }

/* START: Videoteka */
#main .videoteka {
	margin: 0px 10px 0px 5px;
	width: 630px;
	float: left;
}
#main .video-chat {
	float: left;
	width: 340px;
}
#main .headerUefa {
	width: 980px;
	height: 60px;
	background: url(/static/slo/main/img/box/central/header_uefa_video.jpg) no-repeat;
	margin: 10px 0px 7px 5px;
}

#main .live_tv {
	margin: 10px 0px 0px 10px;
}

#main .live_tv_background_top {
	height: 40px;
	background-image: url(/static/slo/main/img/backgrounds/background_top_live_tv.gif);
	background-repeat: no-repeat;
	font-size: 0;
}

#main .live_tv_content {
	background-image: url(/static/slo/main/img/backgrounds/background_content_live_tv.gif);
	background-repeat: repeat-y;
	padding: 0 30px 0 30px;
}

#main .live_tv_info {
	float: left;
	width: 100px;
	padding: 0 10px 0 0;
}

#main .live_tv_info_off {
	color: #666666;
	padding: 10px 0 0 0;
}

#main .live_tv_info_on {
	color: #ff0000;
	font-weight: bold;
	padding: 10px 0 0 0;
}

#main .live_tv_show {
	float: left;
	width: 100px;
}

#main .live_tv_icon {
	height: 45px;
}

#main .live_tv_title {
	font-weight: bold;
}

#main .live_tv_when {
	color: #0f3da1;
}

#main .live_tv_repeat {
	color: #666666;
}

#main .live_tv_line {
	float: left;
	height: 125px;
	border-right: 1px solid #cccccc;
	margin: 0 7px 0 7px;
}

#main .live_tv_background_bottom {
	height: 40px;
	background-image: url(/static/slo/main/img/backgrounds/background_bottom_live_tv.gif);
	background-repeat: no-repeat;
	font-size: 0;
}
/* END: Videoteka */

/* START: Microsite promo boxes */
#main #micrositePromo {
	width: 650px;
	margin: 0 0 7px 0;
}

#main #micrositePromo .micrositePromoContent {
	width: 650px;
	background: url(/static/slo/main/img/backgrounds/microsite_promo_content_background.gif) repeat-y;
}

#main #micrositePromo .micrositePromoSecondary {
	width: 650px;
	height: 19px;
	background: url(/static/slo/main/img/backgrounds/microsite_promo_secondary_background.gif) repeat-y;
}
/* END: Microsite promo boxes */

/* START: Banner backgrounds */
.banner728x90 {
	/*background: url(/static/slo/main/img/backgrounds/banner_728x90_background.gif) no-repeat;*/
	padding: 0px 17px 5px 5px;
}

.banner300x50 { background: url(/static/slo/main/img/backgrounds/banner_300x50_background.gif) no-repeat; }

.banner300x100 { background: url(/static/slo/main/img/backgrounds/banner_300x100_background.gif) no-repeat; }

.banner300x170 { background: url(/static/slo/main/img/backgrounds/banner_300x170_background.gif) no-repeat; }

.banner300x250 { background: url(/static/slo/main/img/backgrounds/banner_300x250_background.gif) no-repeat; }

.banner300x600, .banner_criteo_article iframe { background: url(/static/slo/main/img/backgrounds/banner_300x600_background.gif) no-repeat; }

.banner300x50noTitle { background: url(/static/slo/main/img/backgrounds/banner_300x50_no_title_background.gif) no-repeat; }

.banner300x100noTitle { background: url(/static/slo/main/img/backgrounds/banner_300x100_no_title_background.gif) no-repeat; }

.banner300x170noTitle { background: url(/static/slo/main/img/backgrounds/banner_300x170_no_title_background.gif) no-repeat; }

.banner300x250noTitle { background: url(/static/slo/main/img/backgrounds/banner_300x250_no_title_background.gif) no-repeat; }

/*.banner644x40noTitle {
	background: url(/static/slo/main/img/backgrounds/banner_644x40_no_title_background.gif) no-repeat;
}*/

.banner300x50,
.banner300x100,
.banner300x170,
.banner300x250,
.banner300x600,
.banner_criteo_article iframe,
.banner300x50noTitle,
.banner300x100noTitle,
.banner300x170noTitle,
.banner300x250noTitle,
.bannerNoBorder {
	width: 300px;
	margin: 0 0 7px 0;
}

.banner300x50,
.banner300x100,
.banner300x170,
.banner300x250,
.banner_criteo_article iframe,
.banner300x600 { padding: 10px 10px 16px 10px; }

.banner300x50,
.banner300x50noTitle { height: 50px; }

.banner300x100,
.banner300x100noTitle { height: 100px; }

.banner300x170,
.banner300x170noTitle { height: 170px; }

.banner300x250,
.banner300x250noTitle { height: 250px; }

.banner300x600, banner_criteo_article iframe { height: 600px; }

.banner300x50noTitle,
.banner300x100noTitle,
.banner300x170noTitle,
.banner300x250noTitle { padding: 10px; }

.banner644x40noTitle {

	padding: 2px;
	/*margin: -2px 0 5px 0;*/
	margin: 0 0 10px;

	background-color: #FFF;
	border: 1px solid #D1D3D5;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

	width: 644px;

	display: block;
/*	height: auto !important; */
}

.banner300xX {
	width: 320px;
	margin: 0 0 7px 0;
}

.banner300xX .banner300xXTop {
	height: 5px;
	background: url(/static/slo/main/img/backgrounds/banner_300xX_top_bg.png) no-repeat;
}

.banner300xX .banner300xXContent {
	background: #fff;
	border-left: 1px solid #c1c1c1;
	border-right: 1px solid #c1c1c1;
	padding: 5px 10px 5px 10px;
}

.banner300xX .banner300xXBottom {
	height: 11px;
	background: url(/static/slo/main/img/backgrounds/banner_300xX_bottom_bg.png) no-repeat;
}

/*.banner980x40noTitle {
	margin: 10px auto 5px;
	width: 980px;
	z-index: 999;
}*/

#div_banner_T {
    background: #fff;
    width: 980px;
    padding: 4px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #C1C1C1;
    border-radius: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.absoluteBanner {
	position: absolute;
	top: 0px;
	left: 990px;
	z-index: 999;
}

.banner1440x40 {
	position: fixed;
	bottom: 0;
	z-index: 999;
	left: 50%;
	width: 1440px;
	margin-left:-720px;
}
/* END: Banner backgrounds */

/* START: Video Channel Banner */
.videoChannelBanner {
	display: block;
	width: 320px;
	height: 197px;
	background: url(/static/slo/main/img/video_channel_banner.png) no-repeat 0 0;
	margin: 0 0 10px;
}

.videoChannelBanner span { display: none }
/* END: Video Channel Banner */


/*TAKEOVER IE*/
#takeover-box {
	display: none;
}
ORIGINAL
#embed_flvvideo {
	overflow: hidden;
	width: 624px;
}



.side-padding {
/*	padding-right:170px; */
}
.mobile-banner-box {
	margin-bottom: 10px;
}
.mobile-banner-box ul {
	display: block;
}
.mobile-banner-box li {
	display: block;
}
.mobile-banner-box li a {
	display: block;
}
.mobile-banner-box .intro {
	background-image: url(/static/slo/main/img/mobilno-banner-box.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	width: 300px;
	height: 200px;
}
.mobile-banner-box li a {
	background-image: url(/static/slo/main/img/mobilno-banner-box.png);
	background-position: 0 0;
	background-repeat: no-repeat;

	height: 54px;
}
.mobile-banner-box .mobile-banner-iphone a {
	background-position: 0 -200px;
}
.mobile-banner-box .mobile-banner-android a {
	background-position: 0 -400px;
}
.mobile-banner-box .mobile-banner-windows a {
	background-position: 0 -600px;
}











.splash {
	position: relative;
	padding: 10px;
	background-color: #FFF;
	border: 1px solid #d1d3d5;
	margin-bottom: 10px;

	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;

	z-index: 1;
}
.splash-nav {
	position: absolute;
	top: 25px;
	left: 25px;

	z-index: 6;
}
.splash-nav a {
	display: block;
	width: 91px;
	height: 50px;
	margin-bottom: 3px;
	padding: 2px 11px 2px 2px;
	overflow: hidden;

	background: transparent;
}
.splash-nav .selected {
	background-image: url(/static/slo/main/img/splash-hover-bg.png);
	background-position: 0 0;
	background-repeat: no-repeat;
}
.splash-content {
	position: absolute;
	left: 10px;
	right: 10px;
	bottom: 10px;
	padding: 15px;
	font-size: 12px;

	z-index: 4;

	color: #BBB;
}
.splash-content h2 {
	color: #FFF;
	font-size: 20px;
	line-height: 22px;
	margin: 0 0 3px 0;
	padding: 0;
}
.splash-image {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 628px;
	height: 330px;
	overflow: hidden;

	z-index: 2;
}
.splash-image-bg {
	position: absolute;
	left: 10px;
	top: 10px;
	right: 10px;
	bottom: 10px;

	z-index: 3;

	background-image: url(/static/slo/main/img/splash-content-bg-new.png);
	background-position: 0 0;
	background-repeat: no-repeat;
}
.splash-image-bg-solo {
	position: absolute;
	left: 10px;
	top: 10px;
	right: 10px;
	bottom: 10px;

	z-index: 3;

	background-image: url(/static/slo/main/img/splash-content-bg-solo.png);
	background-position: 0 0;
	background-repeat: no-repeat;
}
.splah-article-link {
	display: block;
	position: absolute;
	left: 10px;
	top: 10px;
	right: 10px;
	bottom: 10px;

	z-index: 5;
}
.splash-media {
	margin-bottom: 5px;
}

.splash-thumb-content {
	display: none;
}

.splash-main-content {
	display: block;
}
.splash-main-content .splahs-image {
	width: 628px;
	height: 330px;
	overflow: hidden;
}
.splash-main-content .splahs-image.three > img,
.splash-thumb-content .splahs-image.three > img {
	width: 500px;
	height: auto;
	margin: -30px 0 0 128px;
}



.splash .item-buttons {
	margin: 3px 0 0;
	padding: 0;
}
.splash .item-buttons li {
	margin: 0;
	padding: 2px 10px 2px 15px;
	display: block;
	float: left;
	font-size: 11px;
	color: #777;
}
.splash .item-buttons .comments {
	background: url("/static/slo/main/img/backgrounds/comments.png") no-repeat scroll 0 4px transparent;
}
.splash .item-buttons .video {
	background: url("/static/slo/main/img/backgrounds/video.png") no-repeat scroll 0 4px transparent;
	padding-left: 18px;
}
.splash .item-buttons .audio {
	background: url("/static/slo/main/img/backgrounds/comments.png") no-repeat scroll 0 4px transparent;
}
.splash .item-buttons .foto {
	background: url("/static/slo/main/img/backgrounds/foto.png") no-repeat scroll 0 4px transparent;
}
.splash-content a {
	color: #999;
	text-decoration: none;
}
.splash-content a:hover {
	color: #FFF;
	text-decoration: none;
}
.splash-content h2 a {
	color: #FFF;
	text-decoration: none;
	text-shadow: 0px 1px 3px rgba(0, 0, 0, 1);
}
.splash-content h2 a:hover {
	color: #999;
	text-decoration: none;
}
.splash-image-bg a {
	display: block;
	width: 628px;
	height: 330px;
}




.wp7_app #left {
	float: none;
	width: auto;
}
.wp7_app #right {
	display: none;
}
.wp7-content {
	width: 870px;
	margin: 20px auto;
	color: #777;
	font-size: 12px;
	line-height: 16px;
}
.wp7-header {
	height: 475px;
	background-image: url(/static/slo/main/img/wp7-header.png);
	background-position: top left;
	background-repeat: no-repeat;
	position: relative;
}
.wp7-header .wp7-fb-like {
	left: 612px;
	position: absolute;
	right: 0;
	top: 22px;
}
.wp7-content h2 {
	font-size: 20px;
	font-weight: bold;
	color: #333;
	margin-bottom: 5px;
	font-weight: normal;
}
.wp7-content .wp7-header h2 {
	display: block;
	position: absolute;
	top: 30px;
	left: 0;
	right: 510px;
	color: #6bbd46;
	font-size: 20px;
	line-height: 20px;
}
.wp7-header .wp7-download-link {
	display: block;
	width: 203px;
	height: 50px;
	position: absolute;
	top: 260px;
	left: 54px;
}
.wp7-header .wp7-download-link:hover {
	cursor: pointer;
}
.wp7-description {
	margin-bottom: 20px;
}
.wp7-gallery {
	padding-top: 15px;

	background-image: url(/static/slo/main/img/wp7-gallery-bg.png);
	background-position: top center;
	background-repeat: no-repeat;
}
.wp7-gallery a {
	display: block;
	float: left;
	margin: 0 5px;
}
.wp7-gallery a img {
	padding: 5px;
	background-color: #FFF;
	border: 2px solid #DDD;

	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	-khtml-border-radius: 7px;
	border-radius: 7px;
}
.wp7-gallery a:hover img {
	border: 2px solid #6bbd46;
}

.video-box {
	background-color: #000;
	margin-bottom: 10px;

	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
	border-radius: 6px;

	background-image: url(/static/slo/main/img/video-box-bg.png);
	background-position: right top;
	background-repeat: no-repeat;
}
.video-box.golf {
	background: #000 url("/static/slo/main/img/backgrounds/golf-videoteka-bg.jpg") no-repeat 0 0;
	width: 649px;

	-moz-border-radius: 0 0 6px 6px;
	-webkit-border-radius: 0 0 6px 6px;
	-khtml-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
}
.video-box-content {
	background-image: url(/static/slo/main/img/video-box-content-bg.png);
	background-position: center top;
	background-repeat: no-repeat;

	padding: 10px 12px 15px;
}
.golf .video-box-content {
	padding: 10px 12px 0;
}
.golf .pagination {
	padding: 5px 12px 15px;
}
.video-box-title {
	padding: 15px 20px;
}
.golf .video-box-title {
	padding: 27px 20px;
	/* background: url("/static/slo/main/img/backgrounds/golf-videoteka-bg.jpg") no-repeat scroll 0 0 transparent; */
}
.golf .video-box-title h2 {
	text-indent: -9999px;
	background: none;
}
.golf .content_free {
	padding: 15px;
}
.golf .content_free .title {
	display: none;
}

.video-box-title h2 {
	display: block;
	float: left;
	width: 163px;
	height: 26px;

	background-image: url(/static/slo/main/img/video-box-title.png);
	background-position: center top;
	background-repeat: no-repeat;

	text-indent: -9999px;
}
.video-box-title h2 a {
	display: block;
	width: 163px;
	height: 26px;
	text-indent: -9999px;
}
.video-box-nav {
	float: right;
}
.video-box-nav .nav-left,
.video-box-nav .nav-right {
	float: left;
}
.video-box-nav a:hover,
.video-box-nav .selected {
	color: #FFF;
	text-decoration: none;
}

.video-box-nav ul {
	display: block;
	float: left;
	width: 420px;
	height: 25px;
	overflow: hidden;
}
.video-box-nav li {
	display: block;
	float: left;
}
.video-box-nav li a {
	display: block;
	font-size: 12px;
	color: #777;
	padding: 7px 10px;
	text-decoration: none;
}
.video-box-nav .nav-left {
	display: block;
	width: 14px;
	height: 21px;
	margin-top: 3px;
	background-image: url(/static/slo/main/img/video-nav-left.png);
	background-position: left top;
	background-repeat: no-repeat;

	text-indent: -9999px;
}
.video-box-nav .nav-left:hover {
	background-position: left bottom;
}
.video-box-nav .nav-right {
	display: block;
	width: 14px;
	height: 21px;
	margin-top: 3px;
	background-image: url(/static/slo/main/img/video-nav-right.png);
	background-position: left top;
	background-repeat: no-repeat;

	text-indent: -9999px;
}
.video-box-nav .nav-right:hover {
	background-position: left bottom;
}
.video-box-content a {
	display: block;
	float: left;
	width: 150px;
	height: 160px;
	margin: 0 3px;

	color: #999;

	text-decoration: none;

	position: relative;
}
.video-section-title {
	position: absolute;
	left: 3px;
	top: 3px;
	padding: 2px 6px 3px 5px;
	font-size: 10px;
	line-height: 10px;
	font-weight: bold;
	text-transform: uppercase;
	color: #BBB;
	background-color: #000;

	-moz-background-clip: border;

-moz-background-inline-policy: continuous;

-moz-background-origin: padding;

background: rgba(000, 000, 000, 0.7) none repeat scroll 0 0;


-moz-border-radius: 0 0 5px 0;
-webkit-border-radius: 0 0 5px 0;
-khtml-border-radius: 0 0 5px 0;
border-radius: 0 0 5px 0;

}
.video-box-content a:hover {
	text-decoration: none;
	color: #FFF;
}
.video-box-content a:hover h3 {
	color: #FFF;
}
.video-box-content a:hover span {
	color: #FFF;
}
.video-box-content a h3 {
	color: #FFF;
	font-size: 12px;
	line-height: 14px;
	margin-bottom: 5px;
	word-wrap: break-word;
	display: block;
	padding: 0 5px;
}
.video-box-content a span {
	color: #999;
	font-size: 10px;
	line-height: 10px;
	display: block;
	padding: 0 5px;
}
.video-box-content a img {
	border: 3px solid #000;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;

	margin-bottom: 7px;
}
.video-box-content a:hover img {
	border: 3px solid #FFF;
}
#main .videoteka {
	width: 960px;
	margin: 0;
	padding: 10px;

	background-color: #000;
	margin-bottom: 10px;

	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
	border-radius: 6px;

	background-image: url(/static/slo/main/img/video-box-bg.png);
	background-position: center top;
	background-repeat: no-repeat;
}

.video-player-video {
	width: 960px;
	height: 540px;
	overflow: hidden;
}
.video-player h2 {
	color: #FFF;
	font-size: 24px;
	display: block;
	float: left;
	width: 800px;
}
.video-player {
	color: #999;
	font-size: 12px;
	line-height: 18px;
}
.video-player-title {
	padding: 15px 20px 5px;
}
.video-player-content {
	padding: 0 20px 15px;
}
.video-player-options {
	float: right;
	padding-top: 3px;
}
.video-player-content a {
	color: #FFF;
	font-weight: bold;
	text-decoration: none;
}
.video-player-content a:hover {
	color: #999;
	text-decoration: none;
}
.video-player-content .article-link {
	background-image: url(/static/slo/main/img/video-box-article-icon.png);
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 15px;
	margin-left: 5px;
}
.videoteka .pagination {
	padding: 0 15px 0 0;
}
.videoteka .pagination-content,
.video-box.golf .pagination-content {
	float: right;
}
.videoteka .pagination-content a,
.video-box.golf .pagination-content a {
	display: block;
	padding: 5px 8px;
	margin-left: 3px;
	border: 2px solid #222;
	font-weight: bold;
	color: #999;
	font-size: 11px;
	line-height: 11px;
	text-decoration: none;

	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}
.videoteka .pagination-content a:hover,
.videoteka .pagination-content .selected,
.video-box.golf .pagination-content a:hover,
.video-box.golf .pagination-content a:selected{
	color: #000;
	border: 2px solid #FFF;
	background-color: #FFF;
	font-weight: bold;
}
.videoteka .pagination-content span,
.video-box.golf .pagination-content span {
	display: block;
	float: left;
}
.videoteka .pagination-content .selected,
.video-box.golf .pagination-content .selected {
	display: block;
	float: left;
	padding: 5px 8px;
	margin-left: 3px;
	border: 2px solid #222;
	font-weight: bold;
	color: #999;
	font-size: 11px;
	line-height: 11px;
	text-decoration: none;

	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;

	color: #000;
	border: 2px solid #FFF;
	background-color: #FFF;
	font-weight: bold;
}
.videoteka .pagination-content .display-none { display: none; }

/* START:
-------------------------------------------------------------------------*/
.videoPlayer .articleBoxTop h4 {
	background: black;
	padding: 8px 20px;
	color: white;
	font-size: 16px;
	border-top:1px solid #666666;
	margin: 0;
	font-weight: bold;
	letter-spacing: 0;
	text-transform: none;
}
/*
.articleBoxMiddle .content_free{
	padding: 20px;
}
*/
.articleBoxMiddle .content_free .embed embed,
.articleBoxMiddle .content_needs_registration .player embed { /* raztegne video na celotno sirino */
	width: 100%;
}
.articleBoxMiddle .content_free .title {
	background: black;
	padding: 5px 20px;
	color: white;
	border-bottom:1px solid #666666;
}
.content_needs_registration .thumbnail {
	height: auto;
	position: relative;
	padding: 10%;
	background: #c1c1c1 url(/static/slo/main/img/bideobg.jpg) no-repeat center center;
}
.video-player .content_needs_registration .thumbnail {
	padding: 10% 20%;
}
.content_needs_registration .thumbnail .buy-video-title > h2 {
	text-align: center;
	font-weight: bold;
	color: #555555 !important;
	font-size: 23px !important;
	margin: 0 !important;
	padding: 0 0 15px !important;
	border-bottom:1px solid #888888;
	width: 100%;
	line-height: 31px !important;
	float: none;
}
.content_needs_registration .thumbnail .buy-video-title > h2 > span {
	width: 98px;
	height: 33px;
	display: inline-block;
	text-indent: -9999px;
	background: url(/static/slo/main/img/voyo_logo.png) no-repeat 0 0;
	margin: 0 0 0 5px;
}
.content_needs_registration .user_ui {
	border-top:1px solid white;
	padding: 20px 0 0 0 !important;
}
.user_ui .buy-video-content.left,
.user_ui .buy-video-content.right {
	float: left;
	width: 50%;
	text-align: center;
	margin: 0 !important;
}
.content_needs_registration .user_ui .buy-video-content > h3 {
	color: #444444;
	position: relative !important;
	margin: 0 0 10px;
	line-height: 1.3em;
	text-transform: none;
	text-align: center !important;
	padding: 0 !important;
}
.video_needs_access .voyo_account .user_id > h3 {
	margin: 15px 0 0 0;
	padding: 0 !important;
}
.video-player .video_needs_access .voyo_account .user_id > h3 {
	margin: 36px 0 0 0;
}
.content_needs_registration .user_ui .buy-video-content .user_username {
	font-style: italic;
	font-size: 14px;
	color: #6e6e6e;
}
.content_needs_registration .user_ui a.buy-video-btn {
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	padding: 10px 15px;
	display: inline-block;
	text-decoration: none;

	border-top: 1px solid black;
	border-bottom: 1px solid #ededed;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	background: #45484d; /* Old browsers */
	background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #45484d 0%,#000000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #45484d 0%,#000000 100%); /* IE10+ */
	background: linear-gradient(top,  #45484d 0%,#000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

	-webkit-transition: background 0.2s ease;
	-moz-transition: background 0.2s ease;
	-o-transition: background 0.2s ease;
	-ms-transition: background 0.2s ease;
	transition: background 0.2s ease;

}
.content_needs_registration .user_ui a:hover.buy-video-btn {
	background: #848484; /* Old browsers */
	background: -moz-linear-gradient(top,  #848484 0%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#848484), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #848484 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #848484 0%,#000000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #848484 0%,#000000 100%); /* IE10+ */
	background: linear-gradient(top,  #848484 0%,#000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#848484', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
/* END:
-------------------------------------------------------------------------*/





/* Spletno oko */
.spletno-oko {
	background-color: #F0F0F0;
	margin: 10px 0;

	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
.spletno-oko-content {
	padding: 14px;
	font-size: 11px;
	color: #777;
}
.spletno-oko-content b {
	color: #000;
}
.spletno-oko-btn {
	padding: 14px;
	text-align: center;
	background-image: url(/static/slo/shared/img/backgrounds/gumb_prijava_bg.png);
	background-position: center top;
	background-repeat: no-repeat;
}
.spletno-oko-btn > div {
	display: inline-block !important;
	margin: 0 auto;
}
.spletno-oko-btn > div a,
.spletno-oko-btn > div img {
	float: left;
}
.spletno-oko-btn > div a {
	line-height: 30px;
	margin-left: 20px;
}
.spletno-oko-btn > div a:hover {
	text-decoration: underline !important;
}
.spletno-oko-btn img:hover { cursor: pointer; }



/*__PNS PROMO BOX__________________*/

.pns_right_promo {
	background: url(/static/slo/main/img/box/right/pns_promo_box/pns_bg_top.png) no-repeat 0 0px;
	margin: 0 0 10px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	behavior: url("/static/slo/microsites/zadovoljna2010/css/PIE.htc");
	display: block;
}
.pns_right_promo .pns_promo_header {
	height: 57px;
	cursor: pointer;
	position: relative;
}
.pns_promo_header.small {
	padding: 0 0 5px;
}
.pns_promo_header > a {
	width: 64px;
	height: 57px;
	display: block;
	float: left;
	background: url(/static/slo/main/img/box/right/pns_promo_box/pns_logo.png) no-repeat 0 0px;
	font: 0px/0px a;
	color: transparent;
	text-shadow: none;
}
.pns_promo_header > h1 {
	font: bold 20px/20px "Trebuchet MS", sans-serif;
	color: white;
	float: left;
	margin: 28px 0 0 0;
	text-transform: uppercase;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	width: 250px;
}
.pns_promo_header > span {
	clear: both;
	display: block;
	width: 100%;
	height: 1px;
	margin: 5px 0 0 0;
	background-color: rgba(255, 255, 255, 0.15);
	*background-color: #333333;
}
.pns_promo_header.small > span {
	display: none;
}
.pns_promo_header .open {
	background: url(/static/slo/main/img/box/right/pns_promo_box/open_btn_bg.png) no-repeat 0 0px;
	width: 17px;
	height: 39px;
	position: absolute;
	top: 19px;
	left: 99%;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;

	-webkit-transition:all 0.3s ease 0.6s;
   -moz-transition:all  0.3s ease 0.6s;
     -o-transition:all  0.3s ease 0.6s;
        transition:all  0.3s ease 0.6s;
}
.pns_promo_header.small .open {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
	left: 100%;
}
.pns_promo_header .open > span {
	background: url(/static/slo/main/img/box/right/pns_promo_box/open_btn_arrow.png) no-repeat 0 0px;
	width: 13px;
	height: 9px;
	display: block;
	margin: 15px 0 0 2px;

	-webkit-transition:all  0.2s ease 0s;
   -moz-transition:all  0.2s ease 0s;
     -o-transition:all  0.2s ease 0s;
        transition:all  0.2s ease 0s;
}
.pns_promo_header:hover .open > span {
	margin: 18px 0 0 2px;
}
.pns_right_promo .pns_promo_content {
	background: url(/static/slo/main/img/box/right/pns_promo_box/pns_bg_bottom.png) no-repeat 0 bottom;
	padding: 20px 10px 10px 10px;
	*background-color: black;
}
.pns_promo_content a {
	display: block;
	color: white;
	text-decoration: none;
	border: none;
}
.pns_promo_content a h2 {
	font: bold 14px/15px 'Trebuchet MS', sans-serif;
	margin: 0 0 5px;
}
.pns_promo_content a h2 > span {
	font: normal 12px/15px 'Trebuchet MS', sans-serif;
	color: #999999;
	margin: 0 0 0px 5px;
}
.pns_promo_content a h3 {
	font: bold 14px/22px 'Trebuchet MS', sans-serif;
	display: inline-block;
	position: relative;
	padding: 0 5px 0 0;
}
.pns_promo_content a h3 > span{
	display: block;
	position: absolute;
	left: 100%;
	top: -1px;
	*left: 85%;
}
.pns_promo_content a h3 > span.oto{
	width: 53px;
	height: 22px;
	background: url(/static/slo/main/img/box/right/pns_promo_box/oto.png) no-repeat 0 0;
}
.pns_promo_content a h3 > span.kino{
	width: 51px;
	height: 22px;
	background: url(/static/slo/main/img/box/right/pns_promo_box/kino.png) no-repeat 0 0;
}
.pns_promo_content a h3 > span.kino2{
	width: 57px;
	height: 22px;
	background: url(/static/slo/main/img/box/right/pns_promo_box/kino2.png) no-repeat 0 0;
}
.pns_promo_content a h3 > span.fani{
	width: 50px;
	height: 22px;
	background: url(/static/slo/main/img/box/right/pns_promo_box/fani.png) no-repeat 0 0;
}
.pns_promo_content a h3 > span.brio{
	width: 67px;
	height: 22px;
	background: url(/static/slo/main/img/box/right/pns_promo_box/brio.png) no-repeat 0 0;
}
.pns_promo_content a h3 > span.spot{
	width: 58px;
	height: 22px;
	background: url(/static/slo/main/img/box/right/pns_promo_box/spot.png) no-repeat 0 0;
}
.pns_promo_content a h3 > span.telemach{
	width: 38px;
	height: 22px;
	background: url(/static/slo/main/img/box/right/pns_promo_box/telemach.png) no-repeat 0 0;
}
.pns_promo_content a h3 > span.siol{
	width: 27px;
	height: 22px;
	background: url(/static/slo/main/img/box/right/pns_promo_box/siol.png) no-repeat 0 0;
}
.pns_promo_content a h3 > span.t2{
	width: 29px;
	height: 22px;
	background: url(/static/slo/main/img/box/right/pns_promo_box/t2.png) no-repeat 0 0;
}
.pns_promo_content a h3 > span.amis{
	width: 45px;
	height: 22px;
	background: url(/static/slo/main/img/box/right/pns_promo_box/amis.png) no-repeat 0 0;
}

.pns_promo_content a h4 {
	font: normal 12px/22px 'Trebuchet MS', sans-serif;
	margin: 0 0 3px;
	clear: both;
}
.pns_promo_content a p {
	font: normal 12px/16px 'Arial', sans-serif;
	margin: 5px 0 10px 0;
	color: #999999;
}


/* galerija */
.pns_right_promo .pns_promo_image {
	height: 200px;
	padding: 0 0 20px;
	margin: 0 0 5px;
	position: relative;
	background: url(/static/slo/main/img/box/right/pns_promo_box/img_bg.png) no-repeat 0 bottom;
}
.pns_right_promo .pns_promo_image > div {
	overflow: hidden;
	position: relative;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	behavior: url("/static/slo/microsites/zadovoljna2010/css/PIE.htc");
}

.pns_right_promo .pns_promo_image div > span {
	width: 300px;
	height: 200px;
	position: absolute;
	background: transparent;
	z-index: 10;
	-moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.8);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.8);
	behavior: url("/static/slo/microsites/zadovoljna2010/css/PIE.htc");
}

/* navigacija */
.pns_right_promo .pns_promo_nav {
	text-align: center;
	width: 100%;
	height: 20px;
	position: relative;
	margin: -10px 0 0 0;
}
.pns_right_promo .pns_promo_nav > .left,
.pns_right_promo .pns_promo_nav > .right {
	width: 120px;
	height: 200px;
	position: absolute;
	z-index: 15;
	top: -225px;
	cursor: pointer;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;

	-webkit-transition:all  0.2s ease 0s;
   -moz-transition:all  0.2s ease 0s;
     -o-transition:all  0.2s ease 0s;
        transition:all  0.2s ease 0s;
}
.pns_right_promo .pns_promo_nav > .left {
	background: url(/static/slo/main/img/box/right/pns_promo_box/arrow_left.png) no-repeat left center;
	left: 0;
}
.pns_right_promo .pns_promo_nav > .right {
	background: url(/static/slo/main/img/box/right/pns_promo_box/arrow_right.png) no-repeat right center;
	right: 0;
}
.pns_right_promo .pns_promo_nav > .left:hover,
.pns_right_promo .pns_promo_nav > .right:hover {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}
.pns_right_promo .pns_promo_nav a {
	display: inline-block;
	width: 10px;
	height: 11px;
	margin: 0 2px;
	background: url(/static/slo/main/img/box/right/pns_promo_box/video_nav.png) no-repeat 0 0px;
	font: 0px/11px a;
	*font: 0px/11px a;
	color: transparent;
	text-shadow: none;
}
.pns_right_promo .pns_promo_nav a:hover,
.pns_right_promo .pns_promo_nav a.selected {
	background-position: 0 -11px;
}

/* ==============================================
	Vote_popularity
   ============================================*/
.vote_popularity {
	padding: 10px;
	overflow: hidden;

	background-color: #32343a;
	background-image: url(/static/slo/microsites/volitve2012/img/priljubljenost-bg.jpg);
	background-position: center bottom;
	background-repeat: no-repeat;

	/*-webkit-border-radius: 6px;
	   -moz-border-radius: 6px;
	        border-radius: 6px;*/

	-webkit-border-radius: 6px 6px 0 0;
	   -moz-border-radius: 6px 6px 0 0;
	        border-radius: 6px 6px 0 0;

	/*margin: 0 0 10px;*/
	margin: 0;
}
.vote_popularity .candidates {
	text-align: center;
	padding: 10px 0 0;
	margin: 0 0 10px;
	/*background-image: url(/static/slo/microsites/volitve2012/img/graf-candidates-bg.png);
	background-position: center top;
	background-repeat: no-repeat;*/
}
.vote_popularity .candidates > div {
	display: inline-block !important;
}
.vote_popularity .candidates > div > div {
	display: inline-block !important;
	position: relative;
	margin: 0 50px;
}
.vote_popularity .candidates > div > h2 {
	display: block;
	margin: 0 0 8px;
	padding: 0;
	font-size: 20px;
	line-height: 20px;
	color: #FFF;
}
.vote_popularity .candidates > div > h2 > small {
	display: block;
	margin: 3px 0 0;
	padding: 0;
	font-size: 11px;
	line-height: 11px;
	color: #999;
	font-weight: normal;
}
.vote_popularity .candidates > div > div > input {
	width: 140px !important;
	height: 50px !important;
	margin: 0 !important;
	font-size: 40px !important;
	left: 0 !important;
	top: 0 !important;
	padding: 110px 0 0 !important;
	cursor: pointer;
}
.vote_popularity .candidates > div > div > input.pahor {
	background-image: url(/static/slo/microsites/volitve2012/img/pahor-small.png) !important;
	background-position: -5px 15px !important;
	background-repeat: no-repeat !important;
}
.vote_popularity .candidates > div > div > input.turk {
	background-image: url(/static/slo/microsites/volitve2012/img/turk-small.png) !important;
	background-position: -19px 15px !important;
	background-repeat: no-repeat !important;
}
.vote_popularity .candidates > div > div > input.zver {
	background-image: url(/static/slo/microsites/volitve2012/img/zver-small.png) !important;
	background-position: -13px 15px !important;
	background-repeat: no-repeat !important;
}
.vote_popularity > #placeholder {
	width: 620px;
	height: 100px;
	padding: 0px;
	position: relative;
	margin: 0px auto 10px;
}
.vote_popularity .title > h2 {
	display: block;
	font-size: 30px;
	line-height: 32px;
	font-weight: 100;
	margin: 0;
	padding: 0 0 20px;

	color: #FFF;
}
.vote_popularity .title > h2 > small {
	font-size: 14px;
	color: #777;
	font-weight: normal;
}
.vote_popularity .tickLabel {
	color: #a6b1cc !important;
}
.vote_popularity #time_label {
	margin: 0 0 10px;
}
.vote_popularity #time_label > span {
	color: #314B77 !important;

	background-color: #FFF;
	padding: 5px 8px;

	font-size: 11px;
	font-weight: bold;

	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
}

.vote_popularity .graf-footer > small {
	display: block;
	font-size: 11px;
	text-align: center;
	margin: 0 0 10px;
	color: #a7b8dc;
}
.vote_popularity .graf-credits {
	text-align: right;
	height: 30px;
	line-height: 30px;
	display: block;
	padding-right: 330px;
	font-size: 11px;

	background-image: url(/static/slo/microsites/volitve2012/img/poweredby.png);
	background-position: center right;
	background-repeat: no-repeat;
	width: 110px;
	margin: 0 auto;
	color: #777;
}
/* ==============================================
	Election Facts box
   ============================================*/
.frontSocialsBox {
	height: 622px;
	/* overflow: hidden; */
	width: 320px;

	background-color: #ebf8ff;

	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
	behavior: url("/static/slo/microsites/xfactor/css/PIE.htc");

	margin: 0 0 10px;
}
.frontSocialsBox .frontSocialsTop {
	height: 142px;
	text-align: center;
	/* overflow: hidden; */
	position: relative;

	background: url("/static/slo/microsites/volitve2012/img/Volitve_dejstva_bg.jpg") no-repeat scroll 0 0;
}
.frontSocialsBox .frontSocialsTop.one_tab ul {
	height: 70px;
	text-align: center;
	position: relative;

	background-image: url(/static/slo/microsites/volitve2012/img/twitter-logo.png);
	background-position: center;
	background-repeat: no-repeat;
}
.frontSocialsBox .frontSocialsTop.one_tab ul > li {
	display: none;
}
.frontSocialsBox .frontSocialsTop ul {
	position: absolute;
	bottom: 0;
	left: 0;
}
.frontSocialsBox .frontSocialsTop li {
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	font-size: 14px;
	display: inline-block;

	height: 40px;
	line-height: 40px;
	margin:0;
	padding:0;
	border: none;
	background: #00587c;
	color: #7ad9ff;
	cursor: pointer;
	width: 158px;
	float: left;
}
.frontSocialsBox .frontSocialsTop li.twitter {
	margin: 0 4px 0 0;
}
.frontSocialsBox .frontSocialsTop li.active,
.frontSocialsBox .frontSocialsTop li:hover {
	background: #ebf8ff;
	color: #016087;
}
.frontSocialsBox .frontSocialsTop {
	/*display: none !important;*/
}
.frontSocialsBox ul,
.frontSocialsBox li {
	display: block;
	margin: 0;
	padding: 0;
}
.frontSocialsBox li {
	padding: 10px;
	border-bottom: 1px solid #FFF;
}
.frontSocialsTop li.fact_check .debate-info {
	background-color: #FFF;
	margin: 0;
	padding: 5px 10px;
	position: absolute;
	right: -7px;
	display: block;
	line-height: 16px;
	z-index: 100;

	-webkit-border-radius: 6px;
	   -moz-border-radius: 6px;
	        border-radius: 6px;
	behavior: url("/static/slo/microsites/xfactor/css/PIE.htc");

	-webkit-box-shadow: 0 2px 4px rgba(49,75,119,0.6);
	   -moz-box-shadow: 0 2px 4px rgba(49,75,119,0.6);
	        box-shadow: 0 2px 4px rgba(49,75,119,0.6);
	        behavior: url("/static/slo/microsites/xfactor/css/PIE.htc");

	background-image: url(/static/slo/microsites/volitve2012/img/gradient-bg.png);
	background-position: center -80px;
	background-repeat: repeat-x;

	display: none;
}
@-webkit-keyframes bounceIn {
		0% {
			bottom: 40px;
			opacity: 0;
		}
		70% {
			opacity: 1;
		}
		100% {
			bottom: 47px;
			opacity: 1;
		}
	}
	@-moz-keyframes bounceIn {
		0% {
			bottom: 40px;
			opacity: 0;
		}
		70% {
			opacity: 1;
		}
		100% {
			bottom: 47px;
			opacity: 1;
		}
	}
	@-o-keyframes bounceIn {
		0% {
			bottom: 40px;
			opacity: 0;
		}
		70% {
			opacity: 1;
		}
		100% {
			bottom: 47px;
			opacity: 1;
		}
	}
	@keyframes bounceIn {
		0% {
			bottom: 40px;
			opacity: 0;
		}
		70% {
			opacity: 1;
		}
		100% {
			bottom: 47px;
			opacity: 1;
		}
	}
.frontSocialsTop li.fact_check:hover .debate-info {
	display: block;

	-webkit-animation-fill-mode: both;
		-moz-animation-fill-mode: both;
		-ms-animation-fill-mode: both;
		-o-animation-fill-mode: both;
		animation-fill-mode: both;
		-webkit-animation-duration: 0.5s;
		-moz-animation-duration: 0.5s;
		-ms-animation-duration: 0.5s;
		-o-animation-duration: 0.5s;
		animation-duration: 0.5s;
		-webkit-animation-name: bounceIn;
		-moz-animation-name: bounceIn;
		-o-animation-name: bounceIn;
		animation-name: bounceIn;
}
.ie9 .frontSocialsTop li.fact_check:hover .debate-info,
.ie8 .frontSocialsTop li.fact_check:hover .debate-info,
.ie7 .frontSocialsTop li.fact_check:hover .debate-info {
	bottom: 47px;
}
.frontSocialsTop .debate-info .popup-arrow {
	background-image: url(/static/slo/microsites/volitve2012/img/popup-Down-arrow.png);
	background-position: left top;
	background-repeat: no-repeat;

	width: 11px;
	height: 6px;

	position: absolute;
	right: 30%;
	top: 100%;
}
.frontSocialsTop .debate-info p {
	color: #7693C4;
	margin: 0;
	font-size: 11px;
}
.frontSocialsTop .debate-info h4 {
	margin: 0;
	color: #314B77;
}
.SocialsContent {
	overflow-y: scroll;
	height: 440px;
}
.frontSocialsBox .social_twitter > a,
.frontSocialsBox .social_facebook > a {
	float: left;
	width: 60px;
}
.frontSocialsBox .social_twitter > a > img,
.frontSocialsBox .social_facebook > a > img {
	border: 3px solid white;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius:3px;
	behavior: url("/static/slo/microsites/xfactor/css/PIE.htc");

	-webkit-box-shadow: 0 2px 4px rgba(49, 75, 119, 0.4);
	-moz-box-shadow: 0 2px 4px rgba(49, 75, 119, 0.4);
	box-shadow: 0 2px 4px rgba(49, 75, 119, 0.4);
	behavior: url("/static/slo/microsites/xfactor/css/PIE.htc");
}
.frontSocialsBox .social_twitter > div,
.frontSocialsBox .social_facebook > div {
	float: right;
	width: 220px;
}
.multi-box .frontSocialsBox .social_twitter > div,
.multi-box .frontSocialsBox .social_facebook > div {
	width: 210px;
}
.frontSocialsBox .social_twitter .mixContent h3,
.frontSocialsBox .social_facebook .mixContent h3 {
	display: block;
	margin: 0 0 5px;
	padding: 0;
}
.frontSocialsBox .social_twitter .mixContent h3 > span,
.frontSocialsBox .social_facebook .mixContent h3 > span {
	color: #4795bd;
}
.frontSocialsBox .social_twitter .mixContent p,
.frontSocialsBox .social_facebook .mixContent p {
	display: block;
	margin: 0 0 5px;
	padding: 0;
	color: #4795bd;
	word-wrap: break-word;
}
.frontSocialsBox .bottomInfo {
	font-size: 11px;

	padding: 5px 0 0;
	margin: 3px 0 0;

	background-image: url(/static/slo/microsites/volitve2012/img/twitter-post-bg.png);
	background-position: center top;
	background-repeat: no-repeat;
}
.frontSocialsBox .bottomInfo img {
	display: none;
}
.frontSocialsBox .bottomInfo .created {
	padding: 0 0 0 20px;

	background-image: url(/static/slo/microsites/volitve2012/img/social_twitter.png);
	background-position: left center;
	background-repeat: no-repeat;
}
.frontSocialsBox .fbProfile {
	display: none !important;
}
.frontSocialsBox .archive {
	height: 29px;
	background: #ebf8ff url("/static/slo/microsites/volitve2012/img/poll-box-archive-bg.png") no-repeat center top;
	padding: 8px 15px 8px 10px;
	position: relative;
}
.frontSocialsBox .archive .shade-bottom {
	height: 10px;
	background: url("/static/slo/microsites/volitve2012/img/shade-bottom.png") no-repeat center top;
	width: 100%;
	position: absolute;
	bottom: 44px;
	left: 0;
	z-index: 5;
}
.frontSocialsBox .frontSocialsTop .shade-top {
	height: 10px;
	background: url("/static/slo/microsites/volitve2012/img/shade-top.png") no-repeat center top;
	width: 100%;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 5;
}
.frontSocialsBox .archive #socialBox_link .twitter-share-button {
	float: left;
	margin: 1px 0 0 0;
}
.frontSocialsBox .archive #socialBox_link .btn {
	float: right;
}
.frontSocialsBox .archive #factCheck_link {
	text-align: center;
}
.frontSocialsBox .archive .btn {
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    color: #333333;
    cursor: pointer;
    font-weight: bold;
    padding: 4px 5px;
    position: relative;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    display: inline-block;
    font-size: 11px;

    background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #dedede 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#dedede)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#dedede 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#dedede 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#dedede 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#dedede 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dedede',GradientType=0 ); /* IE6-9 */
}
.frontSocialsBox .Fact_check .article {
	border-bottom: 1px solid #fff;
	padding: 5px 0 10px;
}
.frontSocialsBox .Fact_check .article a {
	padding: 10px 10px 5px 30px;
	color: #2F59A1;
	display: block;
	font-size: 12px;
	line-height: 16px;
	font-weight: bold;
	background-image: url(/static/slo/microsites/volitve2012/img/link.png);
	background-position: 13px 13px;
	background-repeat: no-repeat;
}
.frontSocialsBox .Fact_check .article a:hover {
	color: #0b2d66;
}
.frontSocialsBox .Fact_check .article .info {
	padding: 5px 0 0 30px;

	background-image: url(/static/slo/microsites/volitve2012/img/twitter-post-bg.png);
	background-position: center top;
	background-repeat: no-repeat;
}
.frontSocialsBox .Fact_check .article .author {
	/* background: url("/static/slo/microsites/volitve2012/img/twitter-post-bg.png") no-repeat center 0; */
	color: #88b0c6;
	text-align: left;
	margin: 0;
	padding: 0;
	display: inline-block;
	font-size: 11px;
}
.frontSocialsBox .Fact_check .article .answer {
	/* background: url("/static/slo/microsites/volitve2012/img/twitter-post-bg.png") no-repeat center 0; */
	color: #0F3DA1;
	background: none;
	margin: 0;
	padding: 0;
	font-weight: normal;
	display: inline-block;
	font-size: 11px;
}

/* ==============================================
	Election 2012 results
   ============================================*/
.elections2012 {
	background: url("/static/slo/microsites/volitve2012/img/elections2012_bg.jpg") no-repeat 0 0;
	margin: 0 0 10px;
	overflow: hidden;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius:5px;
	behavior: url("/static/slo/microsites/xfactor/css/PIE.htc");
}
.elections2012title {
	background: url("/static/slo/microsites/volitve2012/img/elections2012_topbg.png") no-repeat 0 bottom;
	padding: 13px 0px 25px;
	text-align: center;
}
.elections2012title h2 {
	color: #fff;
	font-size: 16px;
}
.elections2012title h2 span {
	font-weight: normal;
	font-size: 13px;
}
#elections2012content {
	text-align: center;
	position: relative;
	*width:100%;
}
#elections2012content .candidate {
	display: inline-block;
	margin: 0 20px;
	width: 220px;
	height: 140px;
	position: relative;
	padding: 0;
	*float: left;
}
#elections2012content .candidate .img {
	width: 140px;
	height: 140px;
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 1;
}
#elections2012content .candidate .img > img {
	width: 100%;
	height: auto;
}
#elections2012content .candidate.small .img > img {
	width: 82%;
	height: auto;
	margin: 10px 0 0 0;
}
#elections2012content .candidate h2 {
	color: #dde2f3;
    font-size: 15px;
    font-weight: normal;
    margin: 0;
    position: absolute;
	top: 50px;
	right: 105px;
	z-index: 5;
}
#elections2012content .candidate .result {
	background: #be3002;
	padding: 7px 13px;
	position: absolute;
	top: 75px;
	left: 18px;
	text-align: center;
	z-index: 10;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius:10px;
	behavior: url("/static/slo/microsites/xfactor/css/PIE.htc");

	-webkit-box-shadow: 0 0 5px  rgba(0,0,0,0.7);
	-moz-box-shadow: 0 0 5px  rgba(0,0,0,0.7);
	box-shadow: 0 0 5px  rgba(0,0,0,0.7);
	behavior: url("/static/slo/microsites/xfactor/css/PIE.htc");
}
#elections2012content .candidate.pahor .result {
	left: 34px;
}
#elections2012content .candidate.turk .result {
	left: 17px;
}
#elections2012content .candidate .result h3 {
	color: #fff;
	font-size: 18px;
}
#elections2012content .candidate .result h3 span {
	font-weight: normal;
	font-size: 16px;
}
.elections2012 .notice {
	border-top: 1px solid rgba(255,255,255,0.2);
	background: rgba(0,0,0,0.4);
	padding: 10px;
	text-align: center;
}
.elections2012 .notice span {
	margin: 0 0 0 20px;
	color: #c7d0ed;
	font-size: 13px;
}
.elections2012 .notice span b {
	color: #d3d9ef;
}
/* ==============================================
	End Election 2012 results
   ============================================*/












   /*ticker
   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
   */
   .twitter_ticker {
   	background-color: #242424;
   	background-image: url("/static/slo/microsites/shared/img/ticker-bg.jpg");
   	background-position: top center;
   	background-repeat: repeat-x;
   	color: #777;
   	font-size: 12px;
   	line-height: 28px;
   	margin-bottom: 10px;
   	letter-spacing: 0.2px;
   	height: 30px;
   	overflow: hidden;
   	position: relative;

   	-moz-border-radius: 0 0 6px 6px;
   	-webkit-border-radius: 0 0 6px 6px;
   	-khtml-border-radius: 0 0 6px 6px;
   	border-radius: 0 0 6px 6px;

   	white-space: nowrap;
   }
   .twitter_ticker a {
   	color: #777;
   	text-decoration: none;
   	display: block;
   	float: left;
   	padding: 8px 0 8px 10px;
   }
   .twitter_ticker_span {
   	color: #555;
   	text-decoration: none;
   	display: block;
   	float: left;
   	padding: 8px 0 8px 10px;
   }
   .twitter_ticker a:hover {
   	color: #FFF;
   	text-decoration: none;
   }
   .twitter_ticker .selected {
   	font-weight: bold;
   	color: #FFF;
   }
   .twitter_ticker .logo {
   	background-image: url("/static/slo/microsites/shared/img/24ur-logo.png");
   	background-position: center;
   	background-repeat: no-repeat;
   	width: 40px;
   	height: 20px;
   	margin: 0;
   	padding: 5px 15px;
   	text-indent: -9999px;
   	opacity: 1;
   }
   .twitter_ticker .logo:hover {
   	opacity: 0.6;
   }
   .twitter_ticker_item {
   	color: #555;
   	text-decoration: none;
   	display: block;
   	float: left;
   	padding: 0px 10px;
   	position: absolute;
   	left: 0;
   }
   .twitter_ticker_holder {
   	position: relative;
   }






   .label, .badge {
       background-color: #999999;
       color: #FFFFFF;
       display: inline-block;
       font-size: 11.844px;
       font-weight: bold;
       line-height: 14px;
       padding: 2px 4px;
       text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
       vertical-align: baseline;
       white-space: nowrap;
   }
   .label {
       border-radius: 3px 3px 3px 3px;
   }
   .badge {
       border-radius: 9px 9px 9px 9px;
       padding-left: 9px;
       padding-right: 9px;
   }
   a.label:hover, a.badge:hover {
       color: #FFFFFF;
       cursor: pointer;
       text-decoration: none;
   }
   .label-important, .badge-important {
       background-color: #B94A48;
   }
   .label-important[href], .badge-important[href] {
       background-color: #953B39;
   }
   .label-warning, .badge-warning {
       background-color: #F89406;
   }
   .label-warning[href], .badge-warning[href] {
       background-color: #C67605;
   }
   .label-success, .badge-success {
       background-color: #468847;
   }
   .label-success[href], .badge-success[href] {
       background-color: #356635;
   }
   .label-info, .badge-info {
       background-color: #3A87AD;
   }
   .label-info[href], .badge-info[href] {
       background-color: #2D6987;
   }
   .label-inverse, .badge-inverse {
       background-color: #333333;
   }
   .label-inverse[href], .badge-inverse[href] {
       background-color: #1A1A1A;
   }
   .btn .label, .btn .badge {
       position: relative;
       top: -1px;
   }
   .btn-mini .label, .btn-mini .badge {
       top: 0;
   }

.custom-static-banner {
	width: 638px;
	border: 1px solid #d1d3d5;
	margin: 0 0 10px 0;
	padding: 10px 0 10px 9px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.custom-static-banner img {
	width: 628px;
}


/* ==============================================
	Telekom Cup 2013
   ============================================*/
@-webkit-keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@-moz-keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@-o-keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@-webkit-keyframes fadeOut {
	0% {opacity: 1;}
	100% {opacity: 0;}
}
@-moz-keyframes fadeOut {
	0% {opacity: 1;}
	100% {opacity: 0;}
}
@-o-keyframes fadeOut {
	0% {opacity: 1;}
	100% {opacity: 0;}
}
@keyframes fadeOut {
	0% {opacity: 1;}
	100% {opacity: 0;}
}

.prize_cup {
	width: 960px;
	margin: 10px auto 0;
	padding: 10px;
	background: url("/static/slo/main/img/box/central/telekom_cup/prize_cup_bg.jpg") no-repeat 0 0;
	position: relative;
	z-index: 1000;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius:5px;

	-webkit-transition:all 0.3s ease-in 0s;
	-moz-transition:all 0.3s ease-in 0s;
	-o-transition:all 0.3s ease-in 0s;
	transition:all 0.3s ease-in 0s;
}
.prize_cup.close {
	height: 67px;
}
.prize_cup.open {
	height: 374px;
}
.prize_cup .prize_first h1 {
	font: 0px/0px a;
	color: none;
	text-shadow: transparent;
}
.prize_cup.close .prize_first h1 {
	background: url("/static/slo/main/img/box/central/telekom_cup/text_1.png") no-repeat center center;
	height: 70px;
	display: block;
	margin: 0px 0 0 15px;
	width: 100%;
}
.prize_cup.close .prize_first.answered h1 {
	background: url("/static/slo/main/img/box/central/telekom_cup/link_txt.png") no-repeat center center;
	height: 45px;
	display: block;
	margin: 10px 0 0 15px;
	width: 100%;
}
.prize_cup.close .prize_first.answered {
	cursor: pointer;
}
.prize_cup.close .prize_first .R,
.prize_cup.close .prize_first .L {
	position: absolute;
	z-index: 10;
	top: 0;
	height: 85px;
}
.prize_cup.close .prize_first {
	height: 85px;
	z-index: 1;

	-webkit-animation: fadeIn 2s ;
	-moz-animation:    fadeIn 2s ;
	-ms-animation:     fadeIn 2s ;
	-o-animation:      fadeIn 2s ;
	animation:         fadeIn 2s ;
}
.prize_cup.open .prize_first {
	height: 85px;

	-webkit-animation: fadeOut 1s ;
	-moz-animation:    fadeOut 1s ;
	-ms-animation:     fadeOut 1s ;
	-o-animation:      fadeOut 1s ;
	animation:         fadeOut 1s ;
}
.prize_cup.open .prize_competition_voyo {
	-webkit-animation: fadeIn 1s ;
	-moz-animation:    fadeIn 1s ;
	-ms-animation:     fadeIn 1s ;
	-o-animation:      fadeIn 1s ;
	animation:         fadeIn 1s ;
}
.prize_cup.close .prize_first .R {
	background: url("/static/slo/main/img/box/central/telekom_cup/klub_R.png") no-repeat center center;
	width: 160px;
	right: 10px;
}
.prize_cup.close .prize_first .L {
	background: url("/static/slo/main/img/box/central/telekom_cup/klub_L.png") no-repeat center center;
	width: 198px;
	left: 10px;
}
.prize_cup.close .prize_competition_voyo {
	display: none;
}
.prize_cup .prize_competition_voyo,
.prize_cup .prize_competition_last {
	background: url("/static/slo/main/img/box/central/telekom_cup/prize_cup_bg2.png") no-repeat 0 0;
}
.prize_cup.open .question {
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	height: 83px;
	font: 0px/0px a;
	color: none;
	text-shadow: transparent;
	width: 100%;
	background: url("/static/slo/main/img/box/central/telekom_cup/question.png") no-repeat center 0;
	margin: 5px 0 0 15px;
}
.prize_cup.open .answers {
	background: url("/static/slo/main/img/box/central/telekom_cup/line.png") no-repeat center 15px;
	height: 163px;
	margin: 0 0 25px;
}
.prize_cup.open .answers select {
	text-align: center;
	position: absolute;
	z-index: 10;
	left: 400px;
	top: 250px;
}
.question-container  h2 {
	font: 0px/0px a;
	color: none;
	text-shadow: transparent;
	width: 100%;
	height: 40px;
	margin: 0;
	background: url("/static/slo/main/img/box/central/telekom_cup/text_h2.png") no-repeat center 0;
}
.question-container h3 {
	text-align: center;
	color: white;
	margin: 5px 0 0;
}
.next_question {
	width: 130px;
	height: 30px;
	margin: 10px auto 5px;
	background: #dddddd;
	border: 2px solid#7d7d7d;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius:5px;
	display: block;

	color: #3e3e3e;
	text-transform: uppercase;
	line-height: 30px;
	text-align: center;

	-webkit-box-shadow: 0 0 8px  rgba(180,241,170,0.4);
	-moz-box-shadow: 0 0 8px  rgba(180,241,170,0.4);
	box-shadow: 0 0 8px  rgba(180,241,170,0.4);
}
.next_question:hover {
	color: #242424;
}
.prize_competition_last a {
	display: block;
	background: url("/static/slo/main/img/box/central/telekom_cup/izkoristi.png") no-repeat center 0;
	height: 116px;
	font: 0px/0px a;
	color: none;
	text-shadow: transparent;
}
.prize_competition_last a:hover {
	background-position: center -116px;
}
.prize_competition_last .selected {
	margin: 0;
	padding: 20px 0;
}
.prize_competition_last .selected > div {
	float: left;
	width: 50%;
}
.prize_competition_last .selected > div  p {
	text-align: right;
	font-size: 15px;
	color: white;
	padding: 10px 10px 0 0;
	height: 65px;
	margin: 10px 0 0 0;


}
.prize_competition_last .selected > div.logo {
	padding: 0 0 0 10px;
}
.prize_cup.open .close_btn {
	background: url("/static/slo/main/img/box/central/telekom_cup/close.png") no-repeat 0 0;
	position: absolute;
	left: 50%;
	bottom: -8px;
	z-index: 10;
	margin: 0 0 0 -21px;
	width: 42px;
	height: 32px;
	cursor: pointer;
}
.prize_cup.close .open_btn {
	background: url("/static/slo/main/img/box/central/telekom_cup/open.png") no-repeat 0 0;
	position: absolute;
	left: 50%;
	bottom: -14px;
	z-index: 10;
	margin: 0 0 0 -25px;
	width: 52px;
	height: 31px;
	cursor: pointer;
}
.termsTelekomCup {
	color: white;
	font-size: 12px;
	text-align: center;
	margin: 0 0 20px;
}
.termsTelekomCup a {
	color: #d2f0d4;
	text-shadow: 0px 0px 2px #d5fbd9;
	font-weight: normal;
}

/* ==============================================
	END Telekom Cup 2013
   ============================================*/

/* ==============================================
	Lastminutebon BOX
   ============================================*/
.lastminute-frame {
	background-color: #f3e3cd;
	margin-bottom: 10px;
	border: 1px solid #c4a477;
	padding: 5px 20px 10px;

	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius:6px;
}
.lastminute-frame .lastminute-header {
	margin-bottom: 5px;
}
.lastminute-frame .lastminute-header span {
	display: block;
	background: url("/static/slo/main/img/box/central/lastminutebon/lastminute-logo.png") no-repeat 0 0;
	width: 135px;
	height: 38px;
	text-indent: -9999px;
	float: left;
}
.lastminute-frame .lastminute-header > a {
	float: right;
	display: block;
	background: url("/static/slo/main/img/box/central/lastminutebon/lastminute-more.png") no-repeat 0 0;
	width: 176px;
	height: 22px;
	text-indent: -9999px;
	margin: 7px -8px 0 0;
}
.lastminute-frame .lastminute-header > a:hover {
	opacity: 0.7;
	filter: alpha(opacity=70);
	-ms-filter: "alpha(opacity=70)";
	-khtml-opacity: 0.7;
	-moz-opacity: 0.7;
}
.lastminute-frame .lastminute-thumb {
	width: 190px;
	float: left;
	margin-right: 19px;
	background: url("/static/slo/main/img/box/central/lastminutebon/lastminute-image-shadow.png") no-repeat 0 107px;
	position: relative;
	z-index: 10;
}
.lastminute-frame .lastminute-thumb:before {
	position: absolute;
	content: "";
	left: -5px;
	right: -5px;
	top: -5px;
	bottom: -5px;
	z-index: 1;
	background-color: #fff;

	-webkit-box-shadow: 0 0px 5px #322715;
	-moz-box-shadow: 0 0px 5px #322715;
	-ms-box-shadow: 0 0px 5px #322715;
	-o-box-shadow: 0 0px 5px #322715;
	box-shadow: 0 0px 5px #322715;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius:5px;

	opacity:0;
	filter: alpha(opacity=0);
	-ms-filter: "alpha(opacity=0)";
	-khtml-opacity: 0;
	-moz-opacity: 0;

	-webkit-transition:all 0.2s ease-in 0s;
	-moz-transition:all 0.2s ease-in 0s;
	-o-transition:all 0.2s ease-in 0s;
	transition:all 0.2s ease-in 0s;
}
.lastminute-frame .lastminute-thumb:hover:before {

	opacity: 1;
	filter: alpha(opacity=100);
	-ms-filter: "alpha(opacity=100)";
	-khtml-opacity: 1;
	-moz-opacity: 1;
}
.lastminute-frame .lastminute-thumb.last {
	margin: 0;
}
.lastminute-frame .img-thumb {
	height: 103px;
	width: 186px;
	border: 2px solid #fff;
	margin-bottom: 10px;
	position: relative;
	z-index: 5;
}
.lastminute-frame .img-thumb .discount,
.lastminute-frame .img-thumb .price {
	position: absolute;
	z-index: 10;
	padding: 5px 10px;
}
.lastminute-frame .img-thumb .discount {
	left: -4px;
	top: -2px;
	background-color: #c70505;
	color: #fff;
	font-weight: bold;

	-webkit-border-radius: 0 0 5px 0;
	-moz-border-radius: 0 0 5px 0;
	-o-border-radius: 0 0 5px 0;
	border-radius:0 0 5px 0;
}
.lastminute-frame .img-thumb .price {
	right: -2px;
	bottom: -2px;
	background-color: #fff;
	color: #cd0505;
	font-weight: bold;
	font-size: 15px;

	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
	-o-border-radius: 5px 0 0 0;
	border-radius:5px 0 0 0;
}
.lastminute-frame .img-thumb > img {
	width: 100%;
	height: 103px;
}
.lastminute-frame .img-thumb .price > span {
	font-weight: normal;
	font-size: 12px;
	line-height: 15px;
	color: #797979;
	text-decoration: line-through;
}
.lastminute-frame .lastminute-info {
	padding: 0 5px;
	position: relative;
	z-index: 5;
}
.lastminute-frame .lastminute-info h2,
.lastminute-frame .lastminute-info h3 {
	color: #3f2502;
	margin-bottom: 3px;
}
.lastminute-frame .lastminute-info p {
	color: #a87631;
	font-size: 11px;
	margin: 0;
}

/* ==============================================
	BLOG
   ============================================*/

.section_360_frame #newsarchive_page > br,
.section_361_frame #newsarchive_page > br {
	display: none;
}
.section_360_frame #title,
.section_361_frame #title  {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 65px;
    margin-bottom: 0;
    position: relative;
}

.section_360_frame #left,
.section_361_frame #left {
    background-color: #fff;
    -webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
    float: left;
    padding: 0 10px 10px 10px;
    width: 630px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}


.section_360_frame #title h1,
.section_360_frame #title h3,
.section_361_frame #title h1,
.section_361_frame #title h3 {
    border-bottom: 1px solid #ccc;
    color: #727272;
    font-family: Helvetica,Arial;
    font-size: 43px;
    font-weight: lighter;
    margin-top: 23px;
    text-shadow: none;
}

.kastelic:hover,
.lampret:hover{
	opacity: 0.8;

	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;

}

.section_360_frame .header-both,
.section_361_frame .header-both {
    display: block;
    height: 150px;
    width: 100%;
}


#simple_page {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #d1d3d5;
    -webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
    font-size: 12px;
    height: 338px;
    margin: 0 0 10px;
    padding: 0 10px 10px;
    width: 628px;
}

#title  {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 65px;
    margin-bottom: 0;
    position: relative;
}

.content.section_frame #title {
	height: auto;
}

.content.section_frame #left {
    padding: 20px;
    width: 600px;
}


#title h1,
#title h3 {
    border-bottom: 1px solid #ccc;
    color: #727272;
    font-family: Helvetica,Arial;
    font-size: 43px;
    font-weight: lighter;
    margin-top: 23px;
    text-shadow: none;
}

.blog-tadeje-lampret {
	width: 320px;
	height: 226px;
	margin-bottom: 10px;
	margin-top: 10px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background: url("/static/slo/main/img/blog_tadeja_brane.jpg") no-repeat 0 top;
	padding: 0;
}

.blog-tadeje-lampret:hover {
	width: 320px;
	height: 226px;
	margin-bottom: 10px;
	margin-top: 10px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background: url("/static/slo/main/img/blog_tadeja_brane.jpg") no-repeat 0 top;
	padding: 0;
	opacity: 0.8;

	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}



.blog-tadeje-lampret > a {
	float: left;
	width: 160px;
	height: 226px;
	text-indent: -9999px;
	display: block;
}
.blog-tadeje-lampret > a:hover {
	background-position: 0 bottom;

	opacity: 0.8;

	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

.lampret {
    background-image: url("/static/slo/main/img/blog/tadeja-big.jpg");
    background-position: right top;
    background-repeat: no-repeat;
    display: inline;
    float: left;
    height: 250px;
    width: 310px;
}

.kastelic {
    background-image: url("/static/slo/main/img/blog/brane-big.jpg");
    background-position: right top;
    background-repeat: no-repeat;
    display: inline;
    float: right;
    height: 250px;
    width: 310px;
}

.section_361_frame .kastelic-s {
    background-image: url("/static/slo/main/img/blog/brane-wide.jpg");
    background-position: left top;
    background-repeat: no-repeat;
    display: inline;
    float: left;
    height: 115px;
    width: 395px;
}

.section_361_frame .lampret-s {
    background-image: url("/static/slo/main/img/blog/tadeja-narrow.jpg");
    background-position: left top;
    background-repeat: no-repeat;
    display: inline;
    float: right;
    height: 115px;
    width: 235px;
}

.section_360_frame .lampret-s {
    background-image: url("/static/slo/main/img/blog/tadeja-wide.jpg");
    background-position: left top;
    background-repeat: no-repeat;
    display: inline;
    float: left;
    height: 115px;
    width: 395px;
}

.section_360_frame .kastelic-s {
    background-image: url("/static/slo/main/img/blog/brane-narrow.jpg");
    background-position: left top;
    background-repeat: no-repeat;
    display: inline;
    float: right;
    height: 115px;
    width: 235px;
}

.section_360_frame .kastelic-s:hover,
.section_360_frame .lampret-s:hover,
.section_361_frame .lampret-s:hover,
.section_361_frame .kastelic-s:hover {
	opacity: 0.8;

	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;

}


.section_360_frame .section_360,
.section_361_frame .section_361  {
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #cccccc;
}
.section_360_frame .pagelister,
.section_361_frame .pagelister  {
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #cccccc;
	width: 100%;
}
.section_360 > a,
.section_361 > a  {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius:5px;
	padding: 3px;
	background-color: #f5f5f5;
	border: 1px solid #e0e0e0;
}
.section_360 > a:hover,
.section_361 > a:hover {
	opacity: 0.8;
	filter: alpha(opacity=80);
	-ms-filter: "alpha(opacity=80)";
	-khtml-opacity: 0.8;
	-moz-opacity: 0.8;
}
.section_360 > .section_content,
.section_361 > .section_content {
	width: 100%;
}
.section_360 > a,
.section_361 > a {
	display: block;
	margin-right: 10px;
	width: 114px;
	float: left;
}
.section_360 .section_title {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 0;
	line-height: 20px;
	color: #1a8bc3;
}


.section_361 .section_title {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 0;
	line-height: 20px;
	color: #f59016;
}

.section_360 .section_title:hover,
.section_361 .section_title:hover {
	opacity: 0.8;
}
.section_360,
.section_361 {
	color: #6b6b6b
}
.section_360 p,
.section_361 p {
	margin: 10px 0 0 0;
	color: #232323
}
.section_360 p > a,
.section_361 p > a  {
	font-weight: bold;
}







#dialog-volitve-video {
	padding: 15px;
	background-color: #000;
	width: 720px !important;
	height: auto !important;

	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-o-border-radius: 8px;
	border-radius: 8px;

	-webkit-box-shadow: 0px 3px 30px 0px rgba(66, 139, 202, 0.75);
	-moz-box-shadow:    0px 3px 30px 0px rgba(66, 139, 202, 0.75);
	box-shadow:         0px 3px 30px 0px rgba(66, 139, 202, 0.75);
}
#dialog-volitve-player .embed {
	margin-bottom: 10px;
}
#dialog-volitve-video .ui-dialog-titlebar {
	display: none;
}
.volitve-video .ui-dialog-titlebar {
	text-align: right;
}
.volitve-video .ui-dialog-titlebar-close {
	padding: 7px 15px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;

	background-color: #000;
	color: #fff;

	font-size: 14px;
	line-height: 18px;

	display: inline-block;


	margin-bottom: 7px;

	-webkit-box-shadow: 0px 0px 30px 0px rgba(66, 139, 202, 1);
	-moz-box-shadow:    0px 0px 30px 0px rgba(66, 139, 202, 1);
	box-shadow:         0px 0px 30px 0px rgba(66, 139, 202, 1);
}
.volitve-video .ui-dialog-titlebar-close:hover {
	color: #b8d8f3;
}


/* ----------------------------------------------
------------   TICKER VOLITVE  -----------------
-------------------------------------------- */

.tickerRelative{
    background-image: url("/static/slo/main/img/ticker-bg.png");
    width: 980px;
    display: block ;
    height: 56px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 980px;
    display: block;
    position: relative;
    margin: 10px auto 0 auto;
    z-index: 999;

    -webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-o-border-radius: 8px;
	border-radius: 8px;

}

.tickercontainer { /* the outer div with the black border */
	width: 500px;
	height: 27px;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.tickercontainer {
    height: 56px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 856px;
}


.tickercontainer .mask { /* that serves as a mask. so you get a sort of padding both left and right */
	position: relative;
	top: 8px;
	height: 18px;
	/*width: 718px;*/
	overflow: hidden;
}
ul.newsticker { /* that's your list */
	position: relative;
	/*left: 750px;*/
	font: bold 10px Verdana;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul.newsticker li {
	float: left; /* important: display inline gives incorrect results when you check for elem's width */
	margin: 0;
	padding-right: 15px;
	/*background: #fff;*/
}

.newsticker {
    height: 56px;
}

.desnoGlasovi {
    font-family: Open Sans, Arial;
    color: #fff;
    height: 46px;
    position: absolute;
    right: 6px;
    text-align: center;
    top: 7px;
    width: 100px;
}


#webTicker > li {
    border-right: 1px solid rgba(255,255,255,0.15);
    display: inline-block;
    height: 56px;
    line-height: 56px;
    margin-left: 20px;
    margin-right: 10px;
}

.tickercontainer .mask {
    height: 56px;
    overflow: hidden;
    position: relative;
    top: 0;
    width: 856px;
}

.stranka {
    color: #fff;
    font-family: Open Sans, Arial;
    font-size: 24px;
    margin-right: 10px;
}

.procenti {
    color: #c0c8ed;
    font-family: Open Sans, Arial;
    font-size: 24px;
    margin-right: 10px;
    font-weight: normal;
}
.city {
	font-weight: 200;
	color: rgba(255,255,255,0.75);
}
.candidate {
	font-weight: bold;
	color: rgba(255,255,255,1);
	text-transform: uppercase;
}
.candidate .perc {
	/*
	color: rgba(255,255,255,1);*/
	font-weight: 200;
	background-color: rgba(255,255,255,0.4);
	color: #fff;
	font-size: 20px;
	-webkit-border-radius: 999em;
-moz-border-radius: 999em;
border-radius: 999em;
display: inline-block;
padding: 3px 15px;
line-height: normal;
}
.sedezi {
    color: #111;
    font-family: Open Sans, Arial;
    font-size: 24px;
    margin-right: 10px;
    font-weight: normal;
}

.glasoviSt {
    font-size: 14px;
    line-height: 16px;
}

.glasovi{
	color: #c8d1f6;
	font-size: 10px;
	line-height: 10px;

}
.glasoviLink {
	display: block;
	margin-top: 1px;
	text-align: center;
}
.glasoviLink a {
	display: inline-block;
	color: #fff;
	padding: 2px 10px;
	margin-top: 1px;
	border: 1px solid rgba(255,255,255,0.3);
	font-size: 11px;
	line-height: 11px;
	-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}
.glasoviLink a:hover {
	border: 1px solid rgba(255,255,255,1);
}
.desnoGlasovi {
    color: #fff;
    font-family: Open Sans, Arial;
    height: 46px;
    position: absolute;
    right: 6px;
    text-align: center;
    top: 5px;
    width: 100px;
}
.desnoGlasovi.mediana .glasoviSt {
	position: absolute;
	top: 50%;
-webkit-transform: translateY(-50%);
-ms-transform: translateY(-50%);
transform: translateY(-50%);
font-weight: bold;
}

#mb-wrapper p, #mb-wrapper a, #mb-wrapper h1, #mb-wrapper h3, #mb-wrapper h4, #mb-wrapper h4, #mb-wrapper h5, #mb-wrapper h6 {
	font-family: Oswald, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 1;
	margin: 0;
	padding: 0;
}

#mb-wrapper h1, #mb-wrapper h3, #mb-wrapper h4, #mb-wrapper h4, #mb-wrapper h5, #mb-wrapper h6 {
	font-weight: 300;
	line-height: 1.2;
	color: #fff;
}

#mb-wrapper h1 { font-size: 40px; }
#mb-wrapper h2 { font-size: 30px; }
#mb-wrapper h3 { font-size: 20px; }
#mb-wrapper h4 { font-size: 14px; }
#mb-wrapper h5 { font-size: 15px; }
#mb-wrapper h6 { font-size: 12px; }

/* ------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------ CONTENT -- */

#mb-wrapper {
	width: 650px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	background: #2c3e50;
	margin-bottom: 10px;
}

#mb-wrapper .mb-header {
	float: left;
	width: 100%;
	padding: 5px 0;
	background: url(http://cdn-media.modernaventures.com/misc/24ur/assets/img/gradient.png);
}

#mb-wrapper .mb-header img, #mb-wrapper .mb-header .mb-categories {
	margin: 20px;
}

#mb-wrapper .mb-header h2 {
	font-family: Georgia;
	font-style: italic;
	font-size: 17px;
	color: #e9a341;
	font-weight: 300;
	margin: 0;
}

#mb-wrapper .mb-header .mb-logo {
	float: left;
}

#mb-wrapper .mb-header .mb-categories {
	float: right;
	color: #fff;
	font-weight: 300;
	text-align: right;
	line-height: 1.5;
}

#mb-wrapper .mb-header .mb-categories a {
	color: #fff;
}

#mb-wrapper .mb-header .mb-categories a:hover {
	color: #ccc;
}

#mb-wrapper .mb-header .mb-categories span {
	color: #888;
	margin: 0 6px 0 8px;
}

#mb-wrapper .mb-offer {
	width: 202px;
	float: left;
	margin: 5px;
	border: 2px solid #2c3e50;
	border-radius: 2px;
	box-shadow: 0 0 7px #161f28;
}

#mb-wrapper .mb-offer:hover {
	border-color: #fff;
}

#mb-wrapper .mb-offer:hover img {
	border-radius: 0;
}

#mb-wrapper .mb-image {
	display: block;
	position: relative;
	overflow: hidden;
	border-radius: 2px 2px 0px 0px;
}

#mb-wrapper .mb-offer img {
	width: 100%;
	height: auto;
	border-radius: 2px 2px 0px 0px;
	display: block;
}

#mb-wrapper .mb-title {
	display: block;
	text-decoration: none;
	padding: 10px;
	background: rgba(0,0,0,0.3);
	border-radius: 0px 0px 4px 4px;
	color: #fff;
}

#mb-wrapper .mb-title .mb-price {
	margin-top: 18px;
	margin-left: 10px;
	font-size: 16px;
	color: #e9a341;
	font-weight: 300;
	float: left;
}

#mb-wrapper .mb-title .mb-price span {
	color: #fff;
	margin-right: 10px;
	text-decoration: line-through;
	opacity: 0.5;
	filter: alpha(opacity=50);
}

#mb-wrapper .mb-title h6 {
	color: #ccc;
}

#mb-wrapper .mb-title span {
	color: #e9a341;
}

#mb-wrapper .mb-title .mb-btn {
	padding: 10px 15px;
	background: #e9a341;
	margin-top: 10px;
	border-radius: 20px;
	float: left;
	font-size: 13px;
	font-weight: 500;
	text-decoration: underline;
	font-style: normal;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.5);
}

#mb-wrapper .mb-title .mb-btn:hover {
	background: #f2b65e;
}

#mb-wrapper .mb-info {
	position: absolute;
	width: 100%;
	height: 52px;
	z-index: 10;
	color: #fff;
	font-size: 15px;
	text-align: right;
	background: url(http://cdn-media.modernaventures.com/misc/24ur/assets/img/gradient-top.png);
}

#mb-wrapper .mb-info p {
	padding: 10px;
	margin: 0;
}

#mb-wrapper .mb-discount {
	position: absolute;
	width: 60px;
	height: 60px;
	top: 10px;
	left: 10px;
	border-radius: 30px;
	color: #fff;
	text-align: center;
	line-height: 60px;
	z-index: 20;

	background: url(http://cdn-media.modernaventures.com/misc/24ur/assets/img/red.png);
}

.banner_contextual_link {
	text-decoration: underline;
	font-weight: bold;
	color: #8d9ce6;
}

#mb-wrapper h4 {
display: inline-block;
    width: 182px;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
}

.flights-banner {
float: left;
margin: 0px 5px 5px 5px;
border-radius: 3px;
border: 2px solid #1895ba;
overflow: hidden;
}

.flights-banner:hover {
border-color: #fff;
}

.flights-banner img {
display: block;
}

/* 24UR PASICA */

.newsflash-article {
	color: #fff;
	background: #3064ab;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden;
	margin: 20px 0;
	text-align: center;
}

.newsflash-article h1 {
	color: #fff !important;
	padding: 0 !important;
	margin: 15px 0 0 0 !important;
	font-size: 22px !important;
	text-shadow: 2px 3px 0px rgba(0, 0, 0, 0.2);
}

.newsflash-article p {
	font-size: 18px !important;
	margin: 10px 0 15px 0 !important;
	padding: 0 40px !important;
	line-height: normal !important;
}

.newsflash-article .pregled-dneva {
	line-height: 46px;
	height: 46px;
	background: url('/static/slo/main/img/pregled_dneva/stripepattern.png') top left repeat;
}

.pregled-dneva img {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.pasica-mir {
    background-image: url("/static/slo/main/img/2SV/mir-pasica.jpg?=v1");
    background-repeat: no-repeat;
    display: block;
    height: 50px;
    margin-top: 8px;
}


#menuitem_3460 {
    background-image: url("/static/slo/main/img/2SV/mir-stamp.png?=v1");
    background-repeat: no-repeat;
    display: block;
    height: 43px;
    margin-left: -2px;
    margin-top: -7px;
    position: relative;
    text-indent: -9999px;
    white-space: nowrap;
    width: 120px;
}

#menuitem_3460 a {
    display: block;
    height: 25px;
    width: 100px;
}


#menuitem_34821 h2, #menuitem_34821.selected h2 {
    background-image: url("/static/slo/main/img/december-stamp-bg.png?=v1") !important;
    background-repeat: no-repeat!important;
    display: block!important;
    height: 43px!important;
    margin-left: -2px!important;
    margin-top: -7px!important;
    position: absolute!important;
    text-indent: -9999px!important;
    white-space: nowrap!important;
    width: 136px!important;
    right: -13px!important;
    top: 0.5px!important;
    position: absolute!important;

              -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
}

/*#menuitem_34821 h2 {
	background:none !important;
}

#menuitem_34821.selected h2 {
	background:none !important;
}*/



/*#menuitem_34821 a {
    display: block;
    height: 43px;
    width: 136px;

}*/

#menuitem_34821:hover {
    opacity: 0.8;
}


.threed > iframe {
	display: none;
}

body.nalgesin #article #video {
	overflow: hidden;
}

body.nalgesin #article #video #video_head {
    background-image: none;
    background: #00377b url('/static/slo/main/img/nalgesin/logo-nalgesin.jpg') center right no-repeat;
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.4);
    border-radius: 5px 5px 0 0;
    position: relative;
}

body.nalgesin #article #video h3 span {
    color: #fff;
}

body.nalgesin #article #video .videoContent {
	background: #1a64a5 url('/static/slo/main/img/nalgesin/nelgisin-bottom.png') center bottom no-repeat;
	border-radius: 0 0 5px 5px;
}

body.nalgesin #embed_flvvideo {
    margin-bottom: 110px;
}

/* NALGESIN MORE VIDEOS */

body.nalgesin .has_more_videos #embed_flvvideo {
	margin: 0;
}

body.nalgesin .has_more_videos #more_video_head {
	background: #00377b !important;
	border-radius: 5px;
}

body.nalgesin .has_more_videos #more_video_head h4 {
	color: #fff;
}

body.nalgesin .has_more_videos #morevideo {
	margin-bottom: 100px;
}

body.nalgesin .has_more_videos #morevideo .end {
	display: none;
}

body.nalgesin .has_more_videos #morevideo ul li h5 a {
	color: #fff !important;
}

body.nalgesin .has_more_videos #morevideo ul li .time {
    color: rgba(255,255,255,0.6) !important;
}

#menuitem_517 {
	padding: 0!important;
	margin: 0!important;
}

#menuitem_517 h2 a {

	background-image: url("/static/slo/main/img/malikoraki-badge.png?v=3") !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    display: inline;
    height: 30px !important;
    margin-left: 10px !important;
    margin-right: 2px !important;
    margin-top: 1px !important;
    position: relative;
    text-indent: -9999px;
    width: 93px !important;
    padding: 0!important;
    cursor: pointer;

      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;

}

#menuitem_517 h2 a:hover {

	opacity: 0.8;
}

/* Video banner fix */

.banner300x170 {
	height: 250px !important;
	background: url(/static/slo/main/img/backgrounds/banner_300x250_background.gif) no-repeat;
}

.banner300x170 > div {
	background: #000;
    height: 250px;
    position: relative;
}

.banner300x170 embed {
	margin-top: 40px;
}

/* box izracun telesne mase */

.box-izracun-telesne-mase {
	width: 320px;
	background: #be475d;
	border-radius: 5px;
	padding: 10px;
	box-sizing: border-box;
	margin-bottom: 10px;
	color: #ffffff;
	font-size: 13px;
}

.box-izracun-telesne-mase * {
	box-sizing: border-box;
}

.box-izracun-telesne-mase h1 {
	font-size: 18px;
	margin: 8px 0 10px 0;
	border-bottom: 1px solid rgba(0,0,0,0.15);
    padding-bottom: 8px;

}

.box-izracun-telesne-mase p {
	margin: 0px 0 10px 0;

}

.box-izracun-telesne-mase .weight-calc label {
	color: rgba(255,255,255,0.9);
	margin-bottom: 6px;
    display: block;
}

.box-izracun-telesne-mase .weight-calc input {
	width: 100%;
    display: block;
    background: rgba(255,255,255,0.3);
    border: none;
    outline: 0;
    margin-bottom: 10px;
    padding: 8px 10px;
    color: #ffffff;
    border-radius: 3px;
    transition: 0.5s all ease;
}

.box-izracun-telesne-mase .weight-calc input:focus {
	box-shadow: 0 0 6px rgba(0,0,0,0.3);
}

.box-izracun-telesne-mase .weight-calc input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #ffffff;
}
.box-izracun-telesne-mase .weight-calc input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #ffffff;
   opacity:  1;
}
.box-izracun-telesne-mase .weight-calc input::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #ffffff;
   opacity:  1;
}
.box-izracun-telesne-mase .weight-calc input:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #ffffff
}
.box-izracun-telesne-mase .weight-calc input:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
  color:    #ffffff;
}

.box-izracun-telesne-mase .weight-calc .calculate-btn {
	display: inline-block;
	width: auto;
	background: rgba(233,71,93,1);
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	margin-top: 5px;
	cursor: pointer;
	transition: 0.5s all ease;
}

.box-izracun-telesne-mase .weight-calc .calculate-btn:hover {
	background: #ffffff;
	color: #be475d;
}

.box-izracun-telesne-mase .weight-calc .calculate-btn:focus  {
	box-shadow: none;
}

.box-izracun-telesne-mase .show-results .calculate-result {
	margin: 10px 0;
	font-size: 16px;
	border-bottom: 1px solid rgba(0,0,0,0.15);
	border-top: 1px solid rgba(0,0,0,0.15);
	padding: 10px 0;
}

.box-izracun-telesne-mase .show-results .calculate-result span {
	font-weight: bold;
}

.box-izracun-telesne-mase .show-results h3 {
	font-size: 14px;
    margin-bottom: 8px;
}

.box-izracun-telesne-mase .show-results table {
	 border-collapse: collapse;
}

.box-izracun-telesne-mase .show-results table tr:nth-child(2n+1) {
	background: rgba(255,255,255,0.1);
}


.box-izracun-telesne-mase .show-results table td {
	font-weight: bold;
	vertical-align: top;
	padding: 8px 5px;
}

.box-izracun-telesne-mase .show-results table td.index-weight {
	width: 25%;
	font-weight: normal;
	text-align: right;
}

/* box izracun telesne mase - BRAND */

.box-izracun-telesne-mase.brand {
    background: #fff8e7 url('/static/slo/main/img/box/right/fit24/zlatopolje-bg.jpg') top center no-repeat;
    color: #000;
    padding: 110px 50px 0;
	position: relative;
}

.box-izracun-telesne-mase.brand .brand-link {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 124px;
	display: block;
}

.box-izracun-telesne-mase.brand h1 {
    font-size: 16px;
    margin: 8px 0 12px 0;
    padding-top: 26px;
    padding-bottom: 12px;
    text-align: center;
}

.box-izracun-telesne-mase.brand h3 {
	font-size: 13px;
}

.box-izracun-telesne-mase.brand .show-results table {
	font-size: 11px;
}

.box-izracun-telesne-mase.brand p {
    margin: 0 0 14px 0;
    line-height: 1.6;
}

.box-izracun-telesne-mase.brand .weight-calc label {
    color: #000;
    font-weight: bold;
}

.box-izracun-telesne-mase.brand .weight-calc input {
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.4);
    color: #000;
}

.box-izracun-telesne-mase.brand .weight-calc input:focus {
    border: 1px solid rgba(0, 0, 0, 1);
}

.box-izracun-telesne-mase.brand .weight-calc .calculate-btn {
    background: #000;
    color: #fff;
}

.box-izracun-telesne-mase.brand .weight-calc .calculate-btn:hover {
    background: rgba(0, 0, 0, 0.8);
}

.box-izracun-telesne-mase.brand .weight-calc input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: rgba(0, 0, 0, 0.8);
}
.box-izracun-telesne-mase.brand .weight-calc input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: rgba(0, 0, 0, 0.8);
    opacity:  1;
}
.box-izracun-telesne-mase.brand .weight-calc input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: rgba(0, 0, 0, 0.8);
    opacity:  1;
}
.box-izracun-telesne-mase.brand .weight-calc input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(0, 0, 0, 0.8);
}
.box-izracun-telesne-mase.brand .weight-calc input:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
    color: rgba(0, 0, 0, 0.8);
}

.box-izracun-telesne-mase.brand .show-results table tr:nth-child(2n+1) {
    background: rgba(0, 0, 0, 0.1);
}

/* ----------------------------------- */

.promo-fit24ur .promo-banner-right {
	background: #027E8D;
	color: #ffffff;
}

.promo-fit24ur .promo-banner-right h2,
.promo-fit24ur .promo-banner-right a h2 {
	color: #ffffff;
}


.promo-fit24ur .promo-banner-right a {
	color: #ffffff;
}

.promo-fit24ur .promo-banner-right a:hover
.promo-fit24ur .promo-banner-right a:hover h2 {
	color: rgba(255,255,255,0.8);
}

/* SANTA hat on 24ur logo */

#head h1 > a::before {
	content: '';
	position: absolute;
	z-index: 999;
	top: -21px;
    left: 70px;
	width: 65px;
	height: 46px;
	background: url('/static/slo/main/img/santahat.png') center center no-repeat;
}
