/* clearfix */
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
	
/* WinIE7 only */
*:first-child+html .clearfix{
	height:1%;
}

 /* WinIE6 and below */
 /*?*/
 * html .clearfix{height:1%;}
 /**/
 
 /* MacIE only */
 /*?*//*/
 .clearfix{
 	display:inline-table;
}
/**/

.micro24 {
	background: transparent;
	background-image: url(/static/slo/main/img/box/central/24ur_microsites_box_top.jpg);
	background-repeat: no-repeat;
	background-position: top left;
	text-align: left;
}

.micro24Left {
	float: left;
	width: 320px;
	overflow: hidden;
	margin-bottom: 7px;
}
.micro24Right {
	float: right;
	width: 320px;
	overflow: hidden;
	margin-bottom: 7px;
}

.micro24Bibaleze,
.micro24Vizita,
.micro24Ms,
.micro24Zadovoljna,
.micro24Cekin,
.micro24DomInVrt,
.micro24Golfportal,
.micro24Okusno,
.micro24Osvajalec,
.micro24Talent,
.micro24ViP,
.micro24MDZ,
.micro24Kmetija,
.micro24Xfactor,
.micro24Gostilna,
.micro24Voyo,
.micro24Jebc,
.micro24Znanobraz {
	width: 320px;
	height: 95px;
	margin-bottom: 5px;
	overflow: hidden;
}
.micro24Title {
	float: left;
	width: 30px;
	height: 95px;
	overflow: hidden;
}
.micro24Title a {
	display: block;
	width: 30px;
	height: 95px;
	overflow: hidden;
}
.micro24Title a:hover {
	text-decoration: none;
}
.micro24Content {
	float: right;
	background-image: url(/static/slo/main/img/box/central/micro_24_bg.png);
	background-position: top left;
	background-repeat: no-repeat;
	width: 290px;
	height: 95px;
	overflow: hidden;
}
.micro24Voyo .micro24Title {
	background-image: url(/static/slo/main/img/box/central/micro_24_voyo.jpg);
	background-repeat: no-repeat;
	background-position: top left;
}
.micro24Bibaleze .micro24Title {
	background-image: url(/static/slo/main/img/box/central/micro_24_bibaleze.jpg);
	background-repeat: no-repeat;
	background-position: top left;
}
.micro24Vizita .micro24Title {
	background-image: url(/static/slo/main/img/box/central/micro_24_vizita.jpg);
	background-repeat: no-repeat;
	background-position: top left;
}
.micro24Ms .micro24Title {
	background-image: url(/static/slo/main/img/box/central/micro_24_ms.jpg);
	background-repeat: no-repeat;
	background-position: top left;
}
.micro24Zadovoljna .micro24Title {
	background-image: url(/static/slo/main/img/box/central/micro_24_zadovoljna.jpg);
	background-repeat: no-repeat;
	background-position: top left;
}
.micro24Cekin .micro24Title {
	background-image: url(/static/slo/main/img/box/central/micro_24_cekin.jpg);
	background-repeat: no-repeat;
	background-position: top left;
}
.micro24Talent .micro24Title {
	background-image: url(/static/slo/main/img/box/central/micro_24_talent.jpg);
	background-repeat: no-repeat;
	background-position: top left;
}
.micro24ViP .micro24Title {
	background-image: url(/static/slo/main/img/box/central/micro_24_vip.jpg);
	background-repeat: no-repeat;
	background-position: top left;
}
.micro24Golfportal .micro24Title {
	background-image: url(/static/slo/main/img/box/central/micro_24_golfportal.jpg);
	background-repeat: no-repeat;
	background-position: top left;
}
.micro24Okusno .micro24Title {
	background-image: url(/static/slo/main/img/box/central/micro_24_okusno.jpg);
	background-repeat: no-repeat;
	background-position: top left;
}
.micro24MDZ .micro24Title {
	background-image: url(/static/slo/main/img/box/central/micro_24_mdz.jpg);
	background-repeat: no-repeat;
	background-position: top left;
}
.micro24DomInVrt .micro24Title {
	background-image: url(/static/slo/main/img/box/central/micro_24_dominvrt.jpg);
	background-repeat: no-repeat;
	background-position: top left;
}
.micro24Osvajalec .micro24Title {
	background-image: url(/static/slo/main/img/box/central/micro_24_osvajalec.jpg);
	background-repeat: no-repeat;
	background-position: top left;
}
.micro24Supermodel .micro24Title {
	background-image: url(/static/slo/main/img/box/central/micro_24_supermodel.jpg);
	background-repeat: no-repeat;
	background-position: top left;
}
.micro24Bigbrother .micro24Title {
	background-image: url(/static/slo/main/img/box/central/micro_24_bigbrother.jpg);
	background-repeat: no-repeat;
	background-position: top left;
}
.micro24Kmetija .micro24Title {
	background-image: url(/static/slo/main/img/box/central/micro_24_kmetija.jpg);
	background-repeat: no-repeat;
	background-position: top left;
}
.micro24Xfactor .micro24Title {
	background-image: url(/static/slo/main/img/box/central/micro_24_xfactor.jpg);
	background-repeat: no-repeat;
	background-position: top left;
}
.micro24Xfactor .micro24Title a span {
	background-image: url(/static/slo/main/img/box/central/micro_24_xfactor_hover.jpg);
	background-repeat: no-repeat;
	background-position: top left;
}
.micro24Gostilna .micro24Title {
	background-image: url(/static/slo/main/img/box/central/micro_24_gostilna.jpg);
	background-repeat: no-repeat;
	background-position: top left;
}
.micro24Jebc .micro24Title {
	background-image: url(/static/slo/main/img/box/central/micro_24_jebc.png?v=2);
	background-repeat: no-repeat;
	background-position: top left;
}
.micro24Znanobraz .micro24Title {
	background-image: url(/static/slo/main/img/box/central/micro_24_znanobraz.png);
	background-repeat: no-repeat;
	background-position: top left;
}
.micro24Content .micro24Thumb {
	float: left;
	width: 125px;
	overflow: hidden;
	display: block;
	margin: 5px 0 5px 5px;
}
.micro24Content .micro24Thumb img {
	border: 4px solid #EEE;
}
.micro24Content ul {
	float: right;
	width: 145px;
	margin: 10px 10px 10px 0;
	padding: 0;
}
.micro24Content li {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
	max-height: 30px;
	_height: 30px;
	overflow: hidden;
}
.micro24Content li a {
	display: block;
	line-height: 14px;
}
.micro24Content li a:hover {
	text-decoration: none;
}
.micro24Content .micro24MainLink {
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px dotted #EEE;
	max-height: 30px;
	_height: 30px;
	overflow: hidden;
	line-height: 16px;
}
.micro24Content .micro24MainLink a {
	font-weight: bold;
	background: none;
	padding-left: 0;
	line-height: 16px;
}

/* VOYO */
.micro24Voyo .micro24Content .micro24Thumb img {
	border: 4px solid #6ca4d9;
}
.micro24Voyo .micro24Content .micro24Thumb img:hover {
	border: 4px solid #346898;
}
.micro24Voyo .micro24Content li a {
	display: block;
	background-image: url(/static/slo/main/img/box/central/dot_voyo.png);
	background-repeat: no-repeat;
	background-position: top left;
	background-position: 0 4px;
	padding-left: 10px;
	color: #6ca4d9;
}
.micro24Voyo .micro24Content li a:hover {
	color: #346898;
}
.micro24Voyo  .micro24Content .micro24MainLink a {
	font-weight: bold;
	background: none;
	padding-left: 0;
}
.micro24Voyo  .micro24Content .micro24MainLink {
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px dotted #6ca4d9;
}

/* JEBELLACESTA */
.micro24Jebc .micro24Content .micro24Thumb img {
	border: 4px solid #2a2a2a;
}
.micro24Jebc .micro24Content .micro24Thumb img:hover {
	border: 4px solid #000;
}
.micro24Jebc .micro24Content li a {
	display: block;
	background-image: url(/static/slo/main/img/box/central/dot_jebc.png);
	background-repeat: no-repeat;
	background-position: top left;
	background-position: 0 4px;
	padding-left: 10px;
	color: #2a2a2a;
}
.micro24Jebc .micro24Content li a:hover {
	color: #616161;
}
.micro24Jebc  .micro24Content .micro24MainLink a {
	font-weight: bold;
	background: none;
	padding-left: 0;
}
.micro24Jebc  .micro24Content .micro24MainLink {
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px dotted #535353;
}

/* BIBALEZE */
.micro24Bibaleze .micro24Content .micro24Thumb img {
	border: 4px solid #97cee2;
}
.micro24Bibaleze .micro24Content .micro24Thumb img:hover {
	border: 4px solid #007099;
}
.micro24Bibaleze .micro24Content li a {
	display: block;
	background-image: url(/static/slo/main/img/box/central/dot_bibaleze.jpg);
	background-repeat: no-repeat;
	background-position: top left;
	background-position: 0 4px;
	padding-left: 10px;
	color: #309ec6;
}
.micro24Bibaleze .micro24Content li a:hover {
	color: #007099;
}
.micro24Bibaleze  .micro24Content .micro24MainLink a {
	font-weight: bold;
	background: none;
	padding-left: 0;
}
.micro24Bibaleze  .micro24Content .micro24MainLink {
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px dotted #acd8e8;
}

/* VIZITA */
.micro24Vizita .micro24Content .micro24Thumb img {
	border: 4px solid #94cbb1;
}
.micro24Vizita .micro24Content .micro24Thumb img:hover {
	border: 4px solid #087b52;
}
.micro24Vizita .micro24Content li a {
	display: block;
	background-image: url(/static/slo/main/img/box/central/dot_vizita.jpg);
	background-repeat: no-repeat;
	background-position: top left;
	background-position: 0 4px;
	padding-left: 10px;
	color: #50a285;
}
.micro24Vizita .micro24Content li a:hover {
	color: #087b52;
}
.micro24Vizita  .micro24Content .micro24MainLink a {
	font-weight: bold;
	background: none;
	padding-left: 0;
}
.micro24Vizita  .micro24Content .micro24MainLink {
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px dotted #9ccaba;
}

/* MS */
.micro24Ms .micro24Content .micro24Thumb img {
	border: 4px solid #e4a41f;
}
.micro24Ms .micro24Content .micro24Thumb img:hover {
	border: 4px solid #965f00;
}
.micro24Ms .micro24Content li a {
	display: block;
	background-image: url(/static/slo/main/img/box/central/dot_ms.jpg);
	background-repeat: no-repeat;
	background-position: top left;
	background-position: 0 4px;
	padding-left: 10px;
	color: #e4a41f;
}
.micro24Ms .micro24Content li a:hover {
	color: #965f00;
}
.micro24Ms  .micro24Content .micro24MainLink a {
	font-weight: bold;
	background: none;
	padding-left: 0;
}
.micro24Ms  .micro24Content .micro24MainLink {
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px dotted #dbc8ae;
}

/* ZADOVOLJNA */
.micro24Zadovoljna .micro24Content .micro24Thumb img {
	border: 4px solid #82308E;
}
.micro24Zadovoljna .micro24Content .micro24Thumb img:hover {
	border: 4px solid #580056;
}
.micro24Zadovoljna .micro24Content li a {
	display: block;
	background-image: url(/static/slo/main/img/box/central/dot_zadovoljna.jpg);
	background-repeat: no-repeat;
	background-position: top left;
	background-position: 0 4px;
	padding-left: 10px;
	color: #82308E;
}
.micro24Zadovoljna .micro24Content li a:hover {
	color: #580056;
}
.micro24Zadovoljna  .micro24Content .micro24MainLink a {
	font-weight: bold;
	background: none;
	padding-left: 0;
}
.micro24Zadovoljna  .micro24Content .micro24MainLink {
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px dotted #d4b6cf;
}

/* CEKIN */
.micro24Cekin .micro24Content .micro24Thumb img {
	border: 4px solid #ebd5a3;
}
.micro24Cekin .micro24Content .micro24Thumb img:hover {
	border: 4px solid #d7ac48;
}
.micro24Cekin .micro24Content li a {
	display: block;
	background-image: url(/static/slo/main/img/box/central/dot_cekin.jpg);
	background-repeat: no-repeat;
	background-position: top left;
	background-position: 0 4px;
	padding-left: 10px;
	color: #d7ac48;
}
.micro24Cekin .micro24Content li a:hover {
	color: #b58108;
}
.micro24Cekin  .micro24Content .micro24MainLink a {
	font-weight: bold;
	background: none;
	padding-left: 0;
}
.micro24Cekin  .micro24Content .micro24MainLink {
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px dotted #efdeb6;
}

/* TALENT */
.micro24Talent .micro24Content .micro24Thumb img {
	border: 4px solid #0b51a9;
}
.micro24Talent .micro24Content .micro24Thumb img:hover {
	border: 4px solid #002553;
}
.micro24Talent .micro24Content li a {
	display: block;
	background-image: url(/static/slo/main/img/box/central/dot_talent.jpg);
	background-repeat: no-repeat;
	background-position: top left;
	background-position: 0 4px;
	padding-left: 10px;
	color: #0b51a9;
}
.micro24Talent .micro24Content li a:hover {
	color: #002553;
}
.micro24Talent  .micro24Content .micro24MainLink a {
	font-weight: bold;
	background: none;
	padding-left: 0;
}
.micro24Talent  .micro24Content .micro24MainLink {
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px dotted #9db9dd;
}

/* ViP */
.micro24ViP .micro24Content .micro24Thumb img {
	border: 4px solid #cc8c2d;
}
.micro24ViP .micro24Content .micro24Thumb img:hover {
	border: 4px solid #9a6b25;
}
.micro24ViP .micro24Content li a {
	display: block;
	background-image: url(/static/slo/main/img/box/central/dot_vip.jpg);
	background-repeat: no-repeat;
	background-position: top left;
	background-position: 0 4px;
	padding-left: 10px;
	color: #cc8c2d;
}
.micro24ViP .micro24Content li a:hover {
	color: #9a6b25;
}
.micro24ViP  .micro24Content .micro24MainLink a {
	font-weight: bold;
	background: none;
	padding-left: 0;
}
.micro24ViP  .micro24Content .micro24MainLink {
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px dotted #9a6b25;
}

/* ZNANOBRAZ */
.micro24Znanobraz .micro24Content {
	background: url("/static/slo/main/img/box/central/znanobrazBg.png?v=1") no-repeat 0 0;
	height: 94px;
}
.micro24Znanobraz .micro24Content .micro24Thumb img,
.micro24Znanobraz .micro24Content .micro24MainLink {
	border-color: #051a4e;
}
.micro24Znanobraz .micro24Content li a {
	color: #ffffff;
}
.micro24Znanobraz .micro24Content li a:hover {
	color: #eaf5ff;
}
.micro24Znanobraz .micro24Content .micro24Thumb img:hover {
	border-color: #eaf5ff;
}


/* GOLFPORTAL */
.micro24Golfportal .micro24Content .micro24Thumb img {
	border: 4px solid #429E3A;
}
.micro24Golfportal .micro24Content .micro24Thumb img:hover {
	border: 4px solid #075600;
}
.micro24Golfportal .micro24Content li a {
	display: block;
	background-image: url(/static/slo/main/img/box/central/dot_golfportal.jpg);
	background-repeat: no-repeat;
	background-position: top left;
	background-position: 0 4px;
	padding-left: 10px;
	color: #429E3A;
}
.micro24Golfportal .micro24Content li a:hover {
	color: #075600;
}
.micro24Golfportal  .micro24Content .micro24MainLink a {
	font-weight: bold;
	background: none;
	padding-left: 0;
}
.micro24Golfportal  .micro24Content .micro24MainLink {
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px dotted #a6d5a2;
}

/* Okusno */
.micro24Okusno .micro24Content .micro24Thumb img {
	border: 4px solid #429E3A;
}
.micro24Okusno .micro24Content .micro24Thumb img:hover {
	border: 4px solid #075600;
}
.micro24Okusno .micro24Content li a {
	display: block;
	background-image: url(/static/slo/main/img/box/central/dot_golfportal.jpg);
	background-repeat: no-repeat;
	background-position: top left;
	background-position: 0 4px;
	padding-left: 10px;
	color: #429E3A;
}
.micro24Okusno .micro24Content li a:hover {
	color: #075600;
}
.micro24Okusno  .micro24Content .micro24MainLink a {
	font-weight: bold;
	background: none;
	padding-left: 0;
}
.micro24Okusno  .micro24Content .micro24MainLink {
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px dotted #a6d5a2;
}


/* MDZ */
.micro24MDZ .micro24Content .micro24Thumb img {
	border: 4px solid #07acdc;
}
.micro24MDZ .micro24Content .micro24Thumb img:hover {
	border: 4px solid #0476b2;
}
.micro24MDZ .micro24Content li a {
	display: block;
	background-image: url(/static/slo/main/img/box/central/dot_mdz.jpg);
	background-repeat: no-repeat;
	background-position: top left;
	background-position: 0 4px;
	padding-left: 10px;
	color: #07acdc;
}
.micro24MDZ .micro24Content li a:hover {
	color: #0476b2;
}
.micro24MDZ  .micro24Content .micro24MainLink a {
	font-weight: bold;
	background: none;
	padding-left: 0;
}
.micro24MDZ  .micro24Content .micro24MainLink {
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px dotted #98e5fb;
}

/* DOMINVRT */
.micro24DomInVrt .micro24Content .micro24Thumb img {
	border: 4px solid #996049;
}
.micro24DomInVrt .micro24Content .micro24Thumb img:hover {
	border: 4px solid #5a2f1d;
}
.micro24DomInVrt .micro24Content li a {
	display: block;
	background-image: url(/static/slo/main/img/box/central/dot_dominvrt.jpg);
	background-repeat: no-repeat;
	background-position: top left;
	background-position: 0 4px;
	padding-left: 10px;
	color: #996049;
}
.micro24DomInVrt .micro24Content li a:hover {
	color: #5a2f1d;
}
.micro24DomInVrt  .micro24Content .micro24MainLink a {
	font-weight: bold;
	background: none;
	padding-left: 0;
}
.micro24DomInVrt  .micro24Content .micro24MainLink {
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px dotted #d9bcb0;
}

/* Kmetija */
.micro24Kmetija .micro24Content .micro24Thumb img {
	border: 4px solid #be9a59;
}
.micro24Kmetija .micro24Content .micro24Thumb img:hover {
	border: 4px solid #be9a59;
}
.micro24Kmetija .micro24Content li a {
	display: block;
	background-image: url(/static/slo/main/img/box/central/dot_dominvrt.jpg);
	background-repeat: no-repeat;
	background-position: top left;
	background-position: 0 4px;
	padding-left: 10px;
	color: #be9a59;
}
.micro24Kmetija .micro24Content li a:hover {
	color: #d9af65;
}
.micro24Kmetija  .micro24Content .micro24MainLink a {
	font-weight: bold;
	background: none;
	padding-left: 0;
}
.micro24Kmetija  .micro24Content .micro24MainLink {
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px dotted #d9bcb0;
}

/* OSVAJALEC */
.micro24Osvajalec .micro24Content ul {
	margin: 10px 10px 0 0
}

.micro24Osvajalec .micro24Content p {
	float: left;
	display: block;
	width: 145px;
	font-size: 11px;
	color: #D15200;
	margin: 0 0 10px 0;
	padding: 0 0 0 5px;
}

.micro24Osvajalec .micro24Content p span {
	font-weight: bold;
}

.micro24Osvajalec .micro24Content .micro24Thumb img {
	border: 4px solid #9a3c00;
}
.micro24Osvajalec .micro24Content .micro24Thumb img:hover {
	border: 4px solid #2f0a00;
}
.micro24Osvajalec .micro24Content li a {
	display: block;
	background-image: url(/static/slo/main/img/box/central/dot_dominvrt.jpg);
	background-repeat: no-repeat;
	background-position: top left;
	background-position: 0 4px;
	padding-left: 10px;
	color: #d15200;
}
.micro24Osvajalec .micro24Content li a:hover {
	color: #2f0a00;
}
.micro24Osvajalec  .micro24Content .micro24MainLink a {
	font-weight: bold;
	background: none;
	padding-left: 0;
}
.micro24Osvajalec .micro24Content .micro24MainLink {
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px dotted #d9bcb0;
}




/* SUPERMODEL */
.micro24Supermodel .micro24Content ul {
	margin: 10px 10px 0 0
}

.micro24Supermodel .micro24Content p {
	float: left;
	display: block;
	width: 145px;
	font-size: 12px;
	color: #555;
	margin: 0 0 10px 0;
	padding: 0 0 0 5px;
}

.micro24Supermodel .micro24Content p span {
	display: block;
	font-weight: bold;
}

.micro24Supermodel .micro24Content .micro24Thumb img {
	border: 4px solid #777;
}
.micro24Supermodel .micro24Content .micro24Thumb img:hover {
	border: 4px solid #333;
}
.micro24Supermodel .micro24Content li a {
	display: block;
	background-image: url(/static/slo/main/img/box/central/dot_supermodel.jpg);
	background-repeat: no-repeat;
	background-position: top left;
	background-position: 0 4px;
	padding-left: 10px;
	color: #555;
}
.micro24Supermodel .micro24Content li a:hover {
	color: #111;
}
.micro24Supermodel  .micro24Content .micro24MainLink a {
	font-weight: bold;
	background: none;
	padding-left: 0;
}
.micro24Supermodel .micro24Content .micro24MainLink {
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px dotted #999;
}


/* SUPERMODEL */
.micro24Bigbrother .micro24Content ul {
	margin: 10px 10px 0 0
}

.micro24Bigbrother .micro24Content p {
	float: left;
	display: block;
	width: 145px;
	font-size: 12px;
	color: #555;
	margin: 0 0 10px 0;
	padding: 0 0 0 5px;
}

.micro24Bigbrother .micro24Content p span {
	display: block;
	font-weight: bold;
}

.micro24Bigbrother .micro24Content .micro24Thumb img { border: 4px solid #a1aef9; }

.micro24Bigbrother .micro24Content .micro24Thumb img:hover { border: 4px solid #414fa8; }

.micro24Bigbrother .micro24Content li a {
	display: block;
	background-image: url(/static/slo/main/img/box/central/dot_bigbrother.jpg);
	background-repeat: no-repeat;
	background-position: top left;
	background-position: 0 4px;
	padding-left: 10px;
	color: #7c88d3;
}
.micro24Bigbrother .micro24Content li a:hover {
	color: #414fa8;
}
.micro24Bigbrother  .micro24Content .micro24MainLink a {
	font-weight: bold;
	background: none;
	padding-left: 0;
}
.micro24Bigbrother .micro24Content .micro24MainLink {
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px dotted #a1aef9;
}

/*---START: X Factor -------*/
.micro24Xfactor .micro24Content .micro24Thumb img {
	border: 4px solid #811616;
}
.micro24Xfactor .micro24Content .micro24Thumb img:hover {
	border: 4px solid #b21e1e;
}
.micro24Xfactor .micro24Content li a {
	display: block;
	background-image: url(/static/slo/main/img/box/central/dot_xfactor.jpg);
	background-repeat: no-repeat;
	background-position: top left;
	background-position: 0 4px;
	padding-left: 10px;
	color: #811616;
}
.micro24Xfactor .micro24Content li a:hover {
	color: #b21e1e;
}
.micro24Xfactor  .micro24Content .micro24MainLink a {
	font-weight: bold;
	background: none;
	padding-left: 0;
}
.micro24Xfactor .micro24Content .micro24MainLink {
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px dotted #811616;
}
/*---END: X Factor -------*/


/* Gostilna */
.micro24Gostilna .micro24Content .micro24Thumb img {
	border: 4px solid #957a5c;
}
.micro24Gostilna .micro24Content .micro24Thumb img:hover {
	border: 4px solid #644d33;
}
.micro24Gostilna .micro24Content li a {
	display: block;
	background-image: url(/static/slo/main/img/box/central/dot_vip.jpg);
	background-repeat: no-repeat;
	background-position: top left;
	background-position: 0 4px;
	padding-left: 10px;
	color: #957a5c;
}
.micro24Gostilna .micro24Content li a:hover {
	color: #644d33;
}
.micro24Gostilna  .micro24Content .micro24MainLink a {
	font-weight: bold;
	background: none;
	padding-left: 0;
}
.micro24Gostilna  .micro24Content .micro24MainLink {
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px dotted #644d33;
}

/* ==============================================
	Micro 24Voyo Banner
   ============================================*/
.micro24Voyo-banner {
	float: left;
}
.micro24Voyo-banner a {
	display: block;
	height: 94px;
	width: 330px;
	background: url("/static/slo/main/img/box/central/Voyo-micro-banner-bg.jpg?v=1") no-repeat 0 0;
	font: 0px/0px a;
	color: none;
	text-shadow: transparent;
}
.micro24Voyo-banner a:hover {
	background-position: 0 -94px;
}
.micro24Voyo .micro24Content {
	background: url("/static/slo/main/img/box/central/Voyo-micro-content-bg.png?v=1") no-repeat 0 0;
	height: 94px;
}
.micro24Voyo .micro24Content .micro24Thumb img,
.micro24Voyo .micro24Content .micro24MainLink {
	border-color: #c0dcf6;
}
.micro24Voyo .micro24Content li a {
	color: #c0dcf6;
}
.micro24Voyo .micro24Content li a:hover {
	color: #eaf5ff;
}
.micro24Voyo .micro24Content .micro24Thumb img:hover {
	border-color: #eaf5ff;
}
/* voyo big box 
.micro24Voyo {
	margin: 0 0 20px;
	width: 650px;
	float: left;
}*/