.test-item { margin: 50px 0; }



/* clearfix */
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
	



.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: auto;
}
.clear {
	clear: both;
}


#newsarchive {
	border: 1px solid #d1d3d5;
	margin: 0 0 10px 0;
	width: 648px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
#newsarchive ul li {
    background: url("/static/slo/main/img/backgrounds/newsarchive_arr.gif") no-repeat scroll -80px 0 transparent;
}
#newsarchive .link a {
    background: url("/static/slo/main/img/backgrounds/arrow_red1.gif") no-repeat scroll 0 0 transparent;
    color: #000000;
    display: inline;
    font-size: 14px;
    padding: 1px 0 0 25px;
}
.sponsored_article {
	margin: 5px 0;
}
span.promo_article {
	background: #cc3333;
	padding: 1px 4px;
	display: inline-block;
	color: #fff;
	text-transform: upercase;
	font: 8px/9px Verdana;
	text-transform: uppercase;
	margin: 5px 0;
	letter-spacing: 0.4px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
#smallnews {
	border: 1px solid #d1d3d5;
	margin: 0 0 10px 0;
	padding: 10px 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.news-category a {
	display: block;
	color: #333;
	text-decoration: none;
	font-size: 12px;
}
.news-category h2 a {
	font-size: 15px;
	color: #AAA;
}
.news-category h2 a:hover {
	color: #333;
}
.news-category a:hover {
	color: #999;
	text-decoration: none;
}
.news-category h2 {
	border-bottom: 3px solid #DCDCDC;
	margin: 0 0 10px;
	padding: 0 0 2px;
	color: #AAA;
	font-size: 14px;
	line-height: 15px;
	font-weight: bold;
	text-transform: uppercase;
}
.news-category h3,
.news-category h3 a {
	font-size: 15px;
	line-height: 16px;
}
.news-category .item-buttons {
	margin: 3px 0 0;
	padding: 0;
}
.news-category .item-buttons li {
	margin: 0;
	padding: 2px 10px 2px 15px;
	display: block;
	float: left;
	font-size: 11px;
	color: #777;
}
.news-category .item-buttons .comments {
	background: url("/static/slo/main/img/backgrounds/comments.png") no-repeat scroll 0 4px transparent;
}
.news-category .item-buttons .video {
	background: url("/static/slo/main/img/backgrounds/video.png") no-repeat scroll 0 4px transparent;
	padding-left: 18px;
}
.news-category .item-buttons .audio {
	background: url("/static/slo/main/img/backgrounds/comments.png") no-repeat scroll 0 4px transparent;
}
.news-category .item-buttons .foto {
	background: url("/static/slo/main/img/backgrounds/foto.png") no-repeat scroll 0 4px transparent;
}
.news-category .item-image {
	float: left;
	width: 114px;
	height: 76px;
	margin: 2px 0;
}
.news-category .item-content {
	float: right;
	width: 175px;
}
.news-category {
	float: left;
	width: 300px;
	margin: 0 9px 20px;
}
.news-category a:hover .item-image {
	opacity: 0.6;
}
.news-category a:hover .item-buttons li {
	color: #999;
}






#thematical_news {
	border: 1px solid #D1D3D5;
	margin: 0 0 10px;
	padding: 10px;
	width: 628px;
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.titleRss {
	border-bottom: 3px solid #DCDCDC;
	color: #AAA;
	font-size: 14px;
	font-weight: bold;
	line-height: 15px;
	margin: 0 0 10px;
	padding: 0 0 2px;
	text-transform: uppercase;
}
.titleRss h2 a {
	color: #AAA;
	text-decoration: none;
}
.titleRss h2 a:hover {
	color: #333;
	text-decoration: none;
}
.titleRss h2 {
	float: left;
}
.newsRss {
	float: right;
}
#thematical_news .item {
	width: 360px;
}
#thematical_news .news-category .item-content {
	width: 245px;
}
.item-content p {
	margin: 0;
}
#thematical_news .news-category {
	margin: 0 0 15px;
}
#thematical_news .news-category-list {
	float: right;
	margin: 0 0 15px;
	width: 250px;
}
#thematical_news .news-category-list li {
	background: url("/static/shared/img/icons/arrow_last_comments.gif") no-repeat scroll 0 4px transparent;
	display: block;
	font-weight: bold;
	margin: 0;
	padding: 2px 0 3px 14px;
	color: #999;
}
#thematical_news .news-category-list li a {
	display: block;
	color: #999;
	text-decoration: none;
}
#thematical_news .news-category-list li a:hover {
	color: #333;
	text-decoration: none;
}
.news-category a p {
	margin: 0;
}
.item-buttons li a {
	font-size: 11px;
}
