#poll {
	position: relative;
	font-size: 11px;
}

#poll form {
	margin: 0;
	padding: 0;
}

#poll h3 {
	display: block;
	margin: 0 0 6px 0;
}

#poll .fieldset {
	position: relative;
	zoom: 1;
	font-size: 12px;
	margin: 0 0 12px 0;
}

#poll label {
	display: block;
	margin: 0 0 5px 16px;
}

#poll label input {
	display: block;
	float: left;
	height: 13px;
	width: 13px;
	overflow: hidden;
	padding: 0;
	margin: 2px 7px 0 0;
	border: none;
}

#poll .controls {
	float: right;
	margin: 0;
}

#poll .controls a {
	display: block;
	height: 16px;
	background: url(/static/slo/main/img/box/rightmini/icon_archive.gif) no-repeat 0 0;
	margin: 0 0 0 0;
	padding: 0 0 0 20px;

}

#poll .buttons {
	float: left;
	width: 150px;
}

#poll .buttonsTop {
	width: 185px;
	float: left;
}

#poll .buttons a.total,
#poll .buttonsTop a.total {
	display: block;
	float: left;
	height: 16px;
	background: url(/static/slo/main/img/buttons/poll_sex_sum_button.gif) no-repeat 0 0;
	text-decoration: none;
	border: 0;
	margin: 0 7px 0 0;
	padding: 0 0 0 32px;
}

#poll .buttons a.male,
#poll .buttonsTop a.male {
	display: block;
	float: left;
	height: 16px;
	background: url(/static/slo/main/img/buttons/poll_sex_male_button.gif) no-repeat 0 0;
	text-decoration: none;
	border: 0;
	margin: 0 0 0 0;
	padding: 0 0 0 18px;
}

#poll .buttons a.female,
#poll .buttonsTop a.female {
	display: block;
	float: left;
	height: 16px;
	background: url(/static/slo/main/img/buttons/poll_sex_female_button.gif) no-repeat 0 0;
	text-decoration: none;
	border: 0;
	margin: 0 7px 0 0;
	padding: 0 0 0 14px;
}

#poll .buttons a.total:hover,
#poll .buttonsTop a.total:hover,
#poll .buttons a.male:hover,
#poll .buttonsTop a.male:hover,
#poll .buttons a.female:hover,
#poll .buttonsTop a.female:hover { text-decoration: underline; }

#poll .answer_result { margin: 0 0 7px 0; }

#poll .answer_result .option { float: left }
#poll .answer_result .votes {
	float: right;
	color: #898989;
}

#poll .answer_result .graph {
	width: 100%;
	background: #e4e4e4;
	margin: 4px 0 0 0;
}

#poll .all_votes {
	width: 268px;
	color: #898989;
	text-align: left;
	margin: 0 0 12px 0;
}

#poll .line {
	border-top: 1px dotted #C1C1C1;
	margin: 6px 0 6px 0;
}

#poll .article li {
	background: url(/static/slo/main/img/buttons/icon_article_poll.gif) no-repeat 0 0;
	padding: 0 0 4px 20px;
}