/*BLANK*/
.promo-banner {
	margin-bottom: 10px;
	overflow: hidden;
	display: table;
	background-color: #eee;
	font-size: 13px;
	color: #333;
}
.promo-banner * {
	-webkit-transition: all 0.2s ease-in-out 0s;
	   -moz-transition: all 0.2s ease-in-out 0s;
	     -o-transition: all 0.2s ease-in-out 0s;
	        transition: all 0.2s ease-in-out 0s;
}
.promo-banner-left,
.promo-banner-right {
	padding: 15px 20px;
	display: table-cell;
	vertical-align: middle;
}
.promo-banner-left {
	width: 135px;
	text-align: center;
	background-position: center center;
	background-repeat: no-repeat;
}
.promo-banner-right {
	width: 435px;
	background-color: #ddd;
	position: relative;
	min-height: 20px;
}
.promo-banner-right:after {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(221, 221, 221, 0);
	border-right-color: #ddd;
	border-width: 15px;
	margin-top: -15px;
}
.promo-banner-right h2 {
	display: block;
	margin: 0;
	margin-bottom: 5px;
	padding: 0;
	font-size: 17px;
	color: #333;
}
.promo-banner-right a {
	display: block;
	color: #777;
}
.promo-banner-right a:hover,
.promo-banner-right a:hover h2 {
	color: #2c3f98;
}
.promo-banner,
.promo-banner-right {
	-webkit-border-radius: 6px;
		 -moz-border-radius: 6px;
					border-radius: 6px;
}

/*24UR*/
/*.promo-banner.promo-24ur .promo-banner-left {
	background-image: url(/static/slo/main/img/promo-banner/logo-24ur.png);
}
.promo-banner.promo-24ur {
	background-color: #e7ebf5;
}
.promo-banner.promo-24ur,
.promo-banner.promo-24ur .promo-banner-right h2 {
	color: #fff;
}
.promo-banner.promo-24ur .promo-banner-right {
	background-color: #3064ab;
	color: #b5c0f8;
}
.promo-banner.promo-24ur .promo-banner-right:after {
	border-right-color:  #3064ab;
}
.promo-banner.promo-24ur .promo-banner-right a {
	color: #D2E5FF;
}
.promo-banner.promo-24ur .promo-banner-right a:hover,
.promo-banner.promo-24ur .promo-banner-right a:hover h2 {
	color: #fff;
}*/

.promo-banner.promo-24ur .promo-banner-left {
	background-image: url(/static/slo/main/img/promo-banner/logo-24ur-white.png);
}
.promo-banner.promo-24ur {
	background: url('/static/slo/main/img/pregled_dneva/stripepattern.png') top left repeat; 
}
.promo-banner.promo-24ur,
.promo-banner.promo-24ur .promo-banner-right h2 {
	color: #fff;
}
.promo-banner.promo-24ur .promo-banner-right {
	background-color: #3064ab;
	color: #b5c0f8;
}
.promo-banner.promo-24ur .promo-banner-right:after {
	border-right-color:  #3064ab;
}
.promo-banner.promo-24ur .promo-banner-right a {
	color: #D2E5FF;
}
.promo-banner.promo-24ur .promo-banner-right a:hover,
.promo-banner.promo-24ur .promo-banner-right a:hover h2 {
	color: #fff;
}

/*IZREDNA NOVICA*/
.promo-banner.promo-izredna-novica .promo-banner-left {
	background-image: url(/static/slo/main/img/promo-banner/logo-izredna-novica.png);
}
.promo-banner.promo-izredna-novica {
	background-color: #240303;
}
.promo-banner.promo-izredna-novica,
.promo-banner.promo-izredna-novica .promo-banner-right h2 {
	color: #fff;
}
.promo-banner.promo-izredna-novica .promo-banner-right {
	background-color: #da1414;
	color: #ffd1d1;
}
.promo-banner.promo-izredna-novica .promo-banner-right:after {
	border-right-color: #da1414;
}
.promo-banner.promo-izredna-novica .promo-banner-right a {
	color: #ffd1d1;
}
.promo-banner.promo-izredna-novica .promo-banner-right a:hover,
.promo-banner.promo-izredna-novica .promo-banner-right a:hover h2 {
	color: #fff;
}

/*PREVERJENO*/
.promo-banner.promo-preverjeno .promo-banner-left {
	background-image: url(/static/slo/main/img/promo-banner/logo-preverjeno.png);
}
.promo-banner.promo-preverjeno {
	background-color: #e8e8e8;
}
.promo-banner.promo-preverjeno,
.promo-banner.promo-preverjeno .promo-banner-right h2 {
	color: #fff;
}
.promo-banner.promo-preverjeno .promo-banner-right {
	background-color: #660004;
	color: #c49c9e;
}
.promo-banner.promo-preverjeno .promo-banner-right:after {
	border-right-color: #660004;
}
.promo-banner.promo-preverjeno .promo-banner-right a {
	color: #c49c9e;
}
.promo-banner.promo-preverjeno .promo-banner-right a:hover,
.promo-banner.promo-preverjeno .promo-banner-right a:hover h2 {
	color: #fff;
}

/*EPILOG*/
.promo-banner.promo-epilog .promo-banner-left {
	background-image: url(/static/slo/main/img/promo-banner/logo-epilog.png);
}
.promo-banner.promo-epilog {
	background-color: #252525;
}
.promo-banner.promo-epilog,
.promo-banner.promo-epilog .promo-banner-right h2 {
	color: #fff;
}
.promo-banner.promo-epilog .promo-banner-right {
	background-color: #a30f00;
	color: #eabeb9;
}
.promo-banner.promo-epilog .promo-banner-right:after {
	border-right-color: #a30f00;
}
.promo-banner.promo-epilog .promo-banner-right a {
	color: #eabeb9;
}
.promo-banner.promo-epilog .promo-banner-right a:hover,
.promo-banner.promo-epilog .promo-banner-right a:hover h2 {
	color: #fff;
}


/* USODNO VINO */
.promo-banner.promo-usodno_vino .promo-banner-left {
	background-image: url(/static/slo/main/img/promo-banner/usodno-vino-left.jpg);
}
.promo-banner.promo-usodno_vino {
	background-color: #e8e8e8;
}
.promo-banner.promo-usodno_vino,
.promo-banner.promo-usodno_vino .promo-banner-right h2 {
	color: #fff;
}
.promo-banner.promo-usodno_vino .promo-banner-right {
    background-image:  url(/static/slo/main/img/promo-banner/usodno-vino-right.jpg);
    color: #d1d0bc;
}
.promo-banner.promo-usodno_vino .promo-banner-right:after {
    border-right-color: #3E3D3B;
}
.promo-banner.promo-usodno_vino .promo-banner-right a {
	color: #d1d0bc;
}
.promo-banner.promo-usodno_vino .promo-banner-right a:hover,
.promo-banner.promo-usodno_vino .promo-banner-right a:hover h2 {
	color: #fff;
}



/**/

/*.promo-banner.promo-usodno_vino .promo-banner-right {
	width: 435px;
	background-color: #ddd;
	position: relative;
	min-height: 20px;
}
.promo-banner.promo-usodno_vino .promo-banner-right:after {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(221, 221, 221, 0);
	border-right-color: #ddd;
	border-width: 15px;
	margin-top: -15px;
}
.promo-banner.promo-usodno_vino .promo-banner-right h2 {
	display: block;
	margin: 0;
	margin-bottom: 5px;
	padding: 0;
	font-size: 17px;
	color: #333;
}
.promo-banner.promo-usodno_vino .promo-banner-right a {
	display: block;
	color: #777;
}
.promo-banner.promo-usodno_vino .promo-banner-right a:hover,
.promo-banner.promo-usodno_vino .promo-banner-right a:hover h2 {
	color: #2c3f98;
}
.promo-banner.promo-usodno_vino .promo-banner,
.promo-banner.promo-usodno_vino .promo-banner-right {
	-webkit-border-radius: 6px;
		 -moz-border-radius: 6px;
					border-radius: 6px;
}*/
