/* START: Tags */
#tags {
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
}

#tags .primary {
	width: 650px;
	height: 5px;
	background: url("/static/shared/img/backgrounds/smallnews_primary.gif") right top no-repeat;
	font-size: 0;
}

#tags .secondary {
	width: 650px;
	height: 5px;
	background: url("/static/shared/img/backgrounds/smallnews_secondary.gif") right no-repeat;
	font-size: 0;
	clear: both;
}

#tags .content {
	background: #FFFFFF;
	border-left: solid 1px #c1c1c1;
	border-right: solid 1px #c1c1c1;
	padding: 0 13px 0 13px;
}

#tags .content h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	line-height: 21px;
}

#tags A:link, visited, active {
	color: #868686;
	text-decoration: none;
}

#tags A:hover {
	color: #868686;
	text-decoration: underline;
}

#tags .size_1 {
	font-size: 10px;
}

#tags .size_2 {
	font-size: 12px;
}

#tags .size_3 {
	font-size: 14px;
}

#tags .size_4 {
	font-size: 16px;
}

#tags .size_5 {
	font-size: 18px;
}
/* END: Tags */