#simple_page {
	border: 1px solid #D1D3D5;
    margin: 0 0 10px;
    padding: 10px;
    width: 630px;
    
	font-size: 12px;
	background: #fff;
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
#simple_page p {
	line-height: 18px;
}

/* START: Newsletter */
#simple_page .newsletter {
	position: relative; /* IE fix */
	background: #e0e6f3;
	padding: 20px 10px 10px;
	text-align: center;
	margin: 20px 0 0 0;
	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius:10px;
}

#simple_page .newsletter h2 {
	font-size: 18px;
	color: #0F3DA1;
	margin: 0 0 15px 0;
}

#simple_page .newsletter h3 {
	font-size: 14px;
	color: #0F3DA1;
	margin: 15px 0;
}

#simple_page .newsletter p {
	margin: 0;
	color: #22396d;
}

#simple_page .newsletter a.signButton {
	display: inline-block;
	background: transparent url('../img/buttons/newsletter_left.jpg') no-repeat top left;
	line-height: 16px; /* This value + 4px + 4px (top and bottom padding of SPAN) must equal height of button background (default is 24px) */
	height: 39px; /* Height of button background height */
	text-decoration: none;
	padding: 0 0 0 11px; /* Width of left menu image */
}

#simple_page .newsletter a.signButton span{
	display: block;
	width: auto;
	background: transparent url('../img/buttons/newsletter_right.jpg') no-repeat top right;
	font-size: 16px;
	font-weight: normal;
	text-transform: none;
	color: #fff;
	padding: 12px 37px 11px 0; /* Set 11px below to match value of 'padding-left' value above */
}

#simple_page .newsletter a.signButton:hover { /* Hover state CSS */
	background-position: bottom left;
	color: #fff;
}
 
#simple_page .newsletter a.signButton:hover span { /* Hover state CSS */
	background-position: bottom right;
	color: #fff;
}
#simple_page a[href $='.pdf'] {
	padding: 2px 0 0 25px;
	background: url('../img/pdf_20x20.png') no-repeat 0 0;
}

/* ==============================================
	Newsletter form
   ============================================*/
#MBOX_window {
	width: 450px;
	left: 50% !important;
	top: 45% !important;
	margin: -250px 0 0 -225px;
	background: rgba(255,255,255,0.4);
	padding: 5px;
	
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-o-border-radius: 12px;
	border-radius:12px;
	
}
#step {
	text-align: center;
	padding: 20px 10px;
	position: relative;
	
	background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #ededed 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#ededed 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#ededed 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#ededed 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#ededed 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */

	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius:10px;
}
#step .close {
	background: #242424;
	width: 30px;
	height: 25px;
	padding: 5px 0 0 0;
	font-size: 16px;
	text-align: center;
	color: #fff;
	position: absolute;
	right: -12px;
	top: -12px;
	cursor: pointer;
	
	-webkit-border-radius: 15px;
	-moz-border-radius:15px;
	-o-border-radius: 15px;
	border-radius:15px;
}
#step h2 {
	margin: 0 0 15px;
}
#step .field,
#step .button_email {
	margin: 0 0 15px;
}
#step .left_content,
#step .help_box_text {
	text-align: left;
	margin: 0 0 0 20%;
}
#step .left_content label {
	font-weight: bold;
	margin: 0 0 2px;
	color: #242424;
	display: block;
}
#step .help_box_text p {
	font-size: 11px;
	color: #8a8a8a;
	margin: 0;
}
#step .middle_content input {
	width: 60%;
	height: 25px;
	border: 1px solid #8a8a8a;
	padding: 0 10px;
		
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius:3px;
}
#step .button_email a {
	padding: 8px 25px;
	display: inline-block;
	color: #fff;
	background: #0032a2;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius:5px;
}
#step .button_email a:hover {
	background: #002168;
}
#step .forminfo {
	padding: 0 20px;
}
#step .forminfo p {
	margin: 0 0 20px;
	color: #717171;
}
#step .feedback_error {
	color: #ff4f4f;
	margin: 3px 0;
}
#step  p.outro {
	font-size: 13px;
	color: #242424;
	padding: 10px;
}
/* ==============================================
	End Newsletter form
   ============================================*/