/* ==============================================
	START: Spored 24ur box
   ============================================*/


.spored-box {
	position: relative;
	margin-bottom: 10px;
}
.spored-box .spored-box-content {
	width: 320px;
	height: auto;
	overflow: hidden;
	
	border: 1px solid #ededed;
	background-color: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius:5px;
}
/*
.spored-box .time-indicator {
	position: absolute;
	left: 66px;
	top: -5px;
	bottom: 0;
	width: 11px;
	background-image: url("/static/slo/main/img/box/right/spored/24ur-spored-cursor.png");
	background-position: 0 0;
	background-repeat: no-repeat;
	z-index: 100;
	pointer-events: none;
}
*/
.spored-box .spored-box-header {
	width: 320px;
	height: auto;
	overflow: hidden;
}
.spored-box .spored-box-header a {
	background-image: url("/static/slo/main/img/box/right/spored/24ur-spored-header.jpg?v=1");
	background-position: right top;
	background-repeat: no-repeat;
	height: 55px;
	display: block;
	text-indent: -9999px;
}
.spored-box .channel {
	padding: 6px 10px 6px 5px;
	background-image: url("/static/slo/main/img/box/right/spored/24ur-spored-line.jpg");
	background-position: 10px bottom;
	background-repeat: no-repeat;
	min-height: 37px;
	cursor: pointer;
	
	-webkit-transition:all 0.2s ease-in 0s;
	-moz-transition:all 0.2s ease-in 0s;
	-o-transition:all 0.2s ease-in 0s;
	transition:all 0.2s ease-in 0s;
}
.spored-box .channel:hover {
	background-color: #e4e3e3;
}
.spored-box .channel:last-child {
	background-image: none;
}
.spored-box .logo,
.spored-box .channel-content {
	float: left;
}
.spored-box .channel-content {
	width: 230px;
	background-image: url("/static/slo/main/img/box/right/spored/24ur-spored-cursor.png");
	background-position: left center;
	background-repeat: no-repeat;
	padding: 0 0 0 15px;
}
.spored-box .logo {
	margin-right: 0;
	width: 60px;
	background-position: center center;
	background-repeat: no-repeat;
	height: 37px;
}
.spored-box .KANALA .logo {
	background-image: url("/static/slo/main/img/box/right/spored/24ur-spored-kanala.png?v=1");
}
.spored-box .POPTV .logo {
	background-image: url("/static/slo/main/img/box/right/spored/24ur-spored-pop.png");
}
.spored-box .POPBRIO .logo {
	background-image: url("/static/slo/main/img/box/right/spored/24ur-spored-brio.png");
}
.spored-box .POPKINO .logo {
	background-image: url("/static/slo/main/img/box/right/spored/24ur-spored-kino.png");
}
.spored-box .POPOTO .logo {
	background-image: url("/static/slo/main/img/box/right/spored/24ur-spored-oto.png");
}
.spored-box .spored-pop-up .logo {
	float: right;
	width: 35px;
	height: 17px;
	margin-right: 0;
	background-position: center center;
	background-repeat: no-repeat;
}
.spored-box .spored-pop-up.KANALA .logo {
	background-image: url("http://spored.24ur.com/app/spored.24ur.com/img/programs/kanala_small.png?v=2");
}
.spored-box .spored-pop-up.POPTV .logo {
	background-image: url("http://spored.24ur.com/app/spored.24ur.com/img/programs/pop_small.png?v=1");
}
.spored-box .spored-pop-up.POPBRIO .logo {
	background-image: url("http://spored.24ur.com/app/spored.24ur.com/img/programs/brio_small.png?v=1");
}
.spored-box .spored-pop-up.POPKINO .logo {
	background-image: url("/static/slo/main/img/box/right/spored/kino_small.png?v=1");
}
.spored-box .spored-pop-up.POPOTO .logo {
	background-image: url("http://spored.24ur.com/app/spored.24ur.com/img/programs/oto_small.png?v=1");
}
.channel-content .title {
	width: 100%;
	margin-bottom: 2px;
	font-size: 13px;
	color: #343434;
	text-transform: uppercase;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: bold;
}
.channel-content .time,
.channel-content .type {
	float: left;
	display: inline-block;
}
.channel-content .time {
	color: #a4a4a4;
	font-size: 12px;
	line-height: 16px;
}
.channel-content .type {
	background-color: rgba(220,33,39,0.5);
	padding: 2px 5px;
	color: #fff;
	font-size: 9px;
	text-transform: uppercase;
	margin-right: 5px;
}

.channel-content .type.film {
	background-color: rgba(217,128,20,0.5);
}
.channel-content .type.risanka {
	background-color: rgba(0,159,243,0.5);
}
.channel-content .type.serija {
	background-color: rgba(84,148,43,0.5);
}
.channel-content .type.telenovela {
	background-color: rgba(196,91,225,0.5);
}


.spored-pop-up {
	position: absolute;
	width: 230px;
	padding: 10px 12px;
	left: -265px;
	top: -10px;
	background-color: #eb9307;
	z-index: 1000;
	color: #fff;
	font-size: 12px;
	margin-right: 12px;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius:5px;
	
	-webkit-transition:all 0.2s ease-in 0s;
	-moz-transition:all 0.2s ease-in 0s;
	-o-transition:all 0.2s ease-in 0s;
	transition:all 0.2s ease-in 0s;
}
.spored-pop-up:hover {
	display: block !important;	
}
.spored-pop-up:before {
	content: "";
	position: absolute;
	left: 100%;
	border-left: 15px solid #eb9307;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
}
.spored-pop-up.POPTV:before {
	top: 75px;
}
.spored-pop-up.KANALA:before {
	top: 125px;
}
.spored-pop-up.POPBRIO:before {
	top: 223px;
}
.spored-pop-up.POPKINO:before {
	top: 173px;
}
.spored-pop-up.POPOTO:before {
	top: 273px;
}
.spored-pop-up .time,
.spored-pop-up .type {
	float: left;
	margin-right: 5px;
	text-transform: uppercase;
	line-height: 16px;
}
.spored-pop-up .type {
	font-size: 9px;
}
.spored-pop-up .time {
	color: #623c00;
}
.spored-pop-up .logo {
	float: right;
}
.spored-pop-up .title {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
}
.spored-pop-up .original-title,
.spored-pop-up .type {
	color: #f0e2cc;
}
.spored-pop-up .logo {
	float: none;
	background-position: right top;
}
.spored-pop-up .description {
	font-size: 12px;
}
.spored-pop-up .original-title,
.spored-pop-up .time-info {
	border-bottom: 1px solid #f0ac24;
	margin-bottom: 5px;
	padding-bottom: 5px;
}
.spored-pop-up .image {
	margin-bottom: 10px;
}





