/* START: Top articles */
#li_top_visited {
	width: 80px;
	text-align: center;
}
#li_top_commented {
	width: 116px;
	text-align: center;
}
#li_top_rated {
	width: 100px;
	text-align: center;
}

.toparticles {
	width: 300px;
	margin: 0 0 7px 0;
}

.toparticles .primary { height: 0px; }

.toparticles .content {
	width: 300px;
	min-height: 260px;
	height: auto !important;
	height: 260px;
	background: url(/static/slo/main/img/box/rightmini/toparticles_content.gif) repeat-y 0 5px;
	padding: 0px;
}

.toparticles .inner_content {
	width: 300px;
	min-height: 260px;
	height: auto !important;
	height: 260px;
}

.toparticles .secondary {
	width: 300px;
	height: 10px;
	background: url(/static/slo/main/img/box/rightmini/toparticles_secondary.gif) no-repeat;
	font-size: 0;
}

/* START: Tabs */
.toparticles .tab_navigation {
	background: url(/static/slo/main/img/box/rightmini/toparticles_primary.gif) top center repeat-x;
	font-size: 11px;
	margin: 0 1px 0 1px;
}

.toparticles .tab_navigation .tab {
	display: block;
	float: left;
	width: 210px;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
}

.toparticles .tab_navigation .border {
	border-left: 1px solid #f7f7f7;
	border-right: 1px solid #f7f7f7;
}

.toparticles .tab_navigation .tab_selected {
	display: block;
	float: left;
	width: 210px;
	background: url(/static/slo/main/img/box/rightmini/toparticles_tab_selected.gif) bottom center no-repeat;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
	padding-bottom: 18px;
	border-bottom: none;
}

.toparticles .tab_navigation a {
	color: #000;
	text-decoration: none;
	padding: 9px 0 8px 0;
	border-bottom: 1px solid #b7b7b7;
}

.toparticles .tab_navigation a:hover {
	color: #000;
	text-decoration: underline;
}
/* END: Tabs */

.toparticles .content .inner_content .commented,
.toparticles .content .inner_content .visited,
.toparticles .content .inner_content .rated {
	width: 280px;
	padding: 7px 10px 0 10px;
}

.toparticles .content .inner_content .commented .nbr,
.toparticles .content .inner_content .visited .nbr,
.toparticles .content .inner_content .rated .nbr {
	float: left;
	width: 25px;
	font-size: 24px;
	font-weight: bold;
	color: #cbcbcb;
	line-height: 26px;
}

.toparticles ul li {
	width: 280px;
	min-height: 43px;
	height: auto !important;
	height: 43px;
	margin: 0;
	padding: 0 0 5px 0;
}

.toparticles ul li .article {
	float: left;
	width: 190px;
	color: #707070;
	font-size: 11px;
	font-weight: normal;
}

.toparticles ul li div h2 {
	float: left;
	font-family: "Trebuchet MS", Arial;
	color: #000;
	font-size: 13px;
	line-height: 15px;
	font-weight: bold;
	margin: 0px 12px 4px 0;
}

.toparticles ul li div h2 a {
	color: #000;
	text-decoration: none;
}

.toparticles ul li div h2 a:hover {
	color: #000;
	text-decoration: underline;
}

/* START: Buttons */
.toparticles ul li .video a {
	display: block;
	float: left;
	height: 21px;
	background: url("/static/slo/main/img/backgrounds/video.gif") no-repeat;
	text-decoration: underline;
	color: #797979;
	padding: 4px 0 0 25px;
	margin: 0 5px 0 0;
}

.toparticles ul li .video a:hover {
	background: url("/static/slo/main/img/backgrounds/video_h.gif") no-repeat;
	text-decoration: none;
}

.toparticles ul li .audio a {
	display: block;
	float: left;
	height: 21px;
	background: url("/static/slo/main/img/backgrounds/audio.gif") no-repeat;	
	text-decoration: underline;
	color: #797979;
	padding: 4px 0 0 19px;
	margin: 0 5px 0 0;
}

.toparticles ul li .audio a:hover {
	background: url("/static/slo/main/img/backgrounds/audio_h.gif") no-repeat;
	text-decoration: none;
}

.toparticles ul li .foto a {
	display: block;
	float: left;
	height: 21px;
	background: url("/static/slo/main/img/backgrounds/foto.gif") no-repeat;
	text-decoration: underline;
	color: #797979;
	padding: 4px 0 0 21px;
	margin: 0 5px 0 0;
}

.toparticles ul li .foto a:hover {
	background: url("/static/slo/main/img/backgrounds/foto_h.gif") no-repeat;
	text-decoration: none;
}
/* END: Buttons */

/* START: Start's indicator */
.toparticles ul li .stars_indicator {
	float: right;
	width: 57px;
	height: 30px;
	color: #0f3da1;
	font-size: 14px;
	font-weight: bold;
	padding: 10px 0 0 0;
}

.toparticles ul li .stars_indicator span {
	float: right;
	margin: 5px 0 0 0;
}

.toparticles ul li .stars_indicator img {
	float: right;
	margin: 0 0 0 10px;
}
/* END: Start's indicator */

/* START: Predefinition of some classes from /static/shared/css/common.css */
.toparticles .commented .commentsCloud .commentsCloudContent a {
	margin: 0 0 0 7px;
}
/* START: Predefinition of some classes from /static/shared/css/common.css */

/* END: Top articles */