/* ==============================================
	START: Twitter box with content
   ============================================*/
/*
.twitterBox {
	width: 320px;
	margin: 0 0 10px; 
}


.twitterBox .twitterHeader h2 {
	display: none;
}

.twitterBox .twitterFollow {
	height: 18px;
	padding: 5px 5px 5px 47px;
	border-top: 1px solid #75c7e1;
	border-left: 1px solid #c1c1c1;
	border-right: 1px solid #c1c1c1;
	border-bottom: 1px solid #75c7e1;
	background:#abedfc url(/static/slo/main/img/twitter-sledi.jpg) no-repeat 0 0;
}

.twitterBox .twitterShare {
	height: 20px;
	padding: 5px;
	border-left: 1px solid #c1c1c1;
	border-right: 1px solid #c1c1c1;
	border-bottom: 1px solid #75c7e1;
	background:#abedfc url(/static/slo/main/img/twitter-objavi.jpg) repeat-y 0 0;
	
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.twitterBox .twitterContent { 
	background: #fff;
	padding: 5px;
	background: #fff;
	border-left: 1px solid #c1c1c1;
	border-right: 1px solid #c1c1c1;
	border-bottom: 1px solid #c1c1c1;
	height: 470px;
	*max-height:470px;
	overflow: auto;
}

.twitterBox .twitterContent #twitt_list li {
	border-bottom: 1px dotted #e4e4e4;
	padding: 10px 0;
}

.twitterBox .twitterContent #twitt_list li>div {
	float: left;
	width: 235px;
}


.twitterBox .twitterContent #twitt_list li>div {
	float: left;
	width: 230px;
}

.twitterBox .twitterContent #twitt_list li img {
	float: left;
	margin: 0 10px 0 0;
}

.twitterBox .twitterContent #twitt_list li h3{
	margin: 0 0 5px;
}

.twitterBox .twitterContent #twitt_list li h3 a {
	line-height: 16px;
	font-size: 12px;
	color: #406c7a;
}

.twitterBox .twitterContent #twitt_list li p {
	margin: 0 0 3px;
	line-height: 16px;
	font-size: 12px;
}

.twitterBox .twitterContent #twitt_list li p a {
	font-size: 12px;
	font-weight: bold;
}

.twitterBox .twitterContent #twitt_list li a {
	color: #406c7a;
	font-size: 10px;
	font-weight: bold;
}
*/
/* ==============================================
	END: Twitter box with content
   ============================================*/
   
   

/* ==============================================
	START: Twitter box image
   ============================================*/


.twitterBox {
    background: none repeat scroll 0 0 #1ABAEE;
    border: 1px solid #1ABAEE;
    height: 600px;
    margin: 0 0 10px;
    overflow: hidden;
    position: relative;
    width: 320px;
    
    -webkit-border-radius: 10px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius: 10px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-radius: 10px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}


.twitterHeader {
    background: url("/static/slo/main/img/twitter-header-bg.png") no-repeat scroll center top transparent;
    height: 100px;
    left: 0;
    margin-bottom: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;
    
    -webkit-box-shadow: 0px 1px 5px rgba(0, 90, 130, 0.4);
    -moz-box-shadow:    0px 1px 5px rgba(0, 90, 130, 0.4);
    box-shadow:         0px 1px 5px rgba(0, 90, 130, 0.4);
}

.twitterBtn {
    background: url("/static/slo/main/img/twitter-btn.png") no-repeat scroll center top transparent;
    height: 32px;
    left: 180px;
    position: absolute;
    top: 65px;
    width: 126px;
    z-index: 1100;
    opacity: 1;
}

.twitterBtn:hover {
	background: url("/static/slo/main/img/twitter-btn.png") no-repeat scroll center top transparent;
	height: 32px;
	left: 180px;
	position: absolute;
	top: 65px;
	width: 126px;
	z-index: 1100;
    opacity: 0.7 !important;
}

.twitterBox .twitterBoxInner {
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	width: 320px;
	height: 600px;
	/*background: url(/static/slo/main/img/twitter_box.png) no-repeat 0 0;*/
	
	opacity: 1;
	filter: alpha(opacity=100);
	-ms-filter: "alpha(opacity=100)";
	-khtml-opacity: 1;
	-moz-opacity: 1;
	
	-webkit-transition:opacity 0.2s ease-in 0s;
	-moz-transition:opacity 0.2s ease-in 0s;
	-o-transition:opacity 0.2s ease-in 0s;
	transition:opacity 0.2s ease-in 0s;
}
.twitterBox:hover .twitterBoxInner{
	opacity: 0;
	filter: alpha(opacity=0);
	-ms-filter: "alpha(opacity=0)";
	-khtml-opacity: 0;
	-moz-opacity: 0;
}
.twitterBox iframe {
    padding-top: 36px !important;
    position: relative !important;
    z-index: 10 !important;
}

.timeline-header{
	display: none !important;
}







