/* Videojs */
#videojs_container a,
#videojs_free_container a {
	color: #999;
	text-decoration: none;
}
#videojs_container a:hover,
#videojs_free_container a:hover  {
	color: #FFF;
	text-decoration: none;
}
.video-new {
	background-color: #000;
}
#videojs_current_title_from_box,
#videojs_free_current_title_from_box,
#videojs_current_title,
#videojs_free_current_title {
	background-color: #000000;
	font-size: 16px;
	line-height: 18px;
	font-weight: bold;
	color: #FFF;
	padding: 10px 2%;
	width: 98%;
    position: relative;
    z-index: 4;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#voyo_video_player #videojs_current_title_from_box,
#voyo_video_player #videojs_current_title {
	/*display: none;*/
}
.video-new > .player-new {
	position: relative;
	z-index: 1;
}
.video-new > .player-new > .screen-new {
	/*width: 624px;*/
	overflow: hidden;
	position: relative;
	z-index: 2;
}
.video-new > .player-new > .related-new {
	position: absolute;
	z-index: 3;
	background-image: url(/static/slo/shared/img/bg-trans-black.png);
	background-position: left top;
	background-repeat: repeat;
	overflow: hidden;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 588px;
	padding: 0;
	height: 340px;
	left: 50%;
	top: 50%;
	margin: -170px 0 0 -294px;
}
.video-new.small > .player-new > .related-new {
	width: 446px;
	height: 196px;
	margin: -98px 0 0 -223px;
}
.video-new > .player-new > .related-new > .video-header-new {
	margin: 0;
	padding: 10px 15px;
}
.video-new > .player-new > .related-new > .video-header-new a {
	display: block;
	float: left;
	padding: 3px 10px;
	background-position: left center;
	background-repeat: no-repeat;
	font-size: 11px;
	line-height: 11px;
	color: #999;
}
.video-new > .player-new > .related-new > .video-header-new a:hover {
	color: #FFF;
	cursor: pointer;
}
.video-new > .player-new > .related-new > .video-header-new .refresh-new {
	background-image: url(/static/slo/shared/img/icon-refresh.png);
	padding: 3px 15px 3px 21px;
}
.video-new > .player-new > .related-new > .video-header-new .link-new {
	background-image: url(/static/slo/shared/img/icon-link.png);
	padding: 3px 18px 3px 22px;
}
.video-new > .player-new > .related-new > .video-header-new .mail-new {
	background-image: url(/static/slo/shared/img/icon-mail.png);
	padding: 3px 17px 3px 21px;
}
.video-new > .player-new > .related-new > .video-header-new .facebook-new {
	background-image: url(/static/slo/shared/img/icon-facebook.png);
	padding: 3px 15px 3px 21px;
}
.video-new > .player-new > .related-new > .video-header-new .twitter-new {
	background-image: url(/static/slo/shared/img/icon-twitter.png);
	padding: 3px 5px 3px 24px;
}
.video-new > .player-new > .related-new > .video-header-new > .refresh-new {
	display: block;
	float: left;
}
.video-new > .player-new > .related-new > .video-header-new > .video-share-new {
	float: right;
}
.video-new > .player-new > .related-new > .video-content-new {
	padding: 10px;
	
	background-image: url(/static/slo/shared/img/white-shine-bg.png);
	background-position: center top;
	background-repeat: no-repeat;
}
.video-new > .player-new > .related-new .list-new {
	
}
.video-new.small > .player-new > .related-new .list-new {
	height: 139px;
	overflow: hidden;
}
.video-new > .player-new > .related-new .list-new > a {
	display: block;
	float: left;
	color: #999;
	font-size: 12px;
	line-height: 14px;
	text-decoration: none;
	margin: 0 1px 5px;
	width: 140px;
	height: 136px;
	position: relative;
	font-weight: bold;
	overflow: hidden;
}
.video-new > .player-new > .related-new .list-new > a > h4 {
	display: block;
	margin: 0 5px;
	padding: 0;
	font-size: 11px;
	line-height: 12px;
	font-weight: bold;
	color: #999;
	letter-spacing: normal;
	text-transform: none;
}
.video-new > .player-new > .related-new .list-new > a:hover,
.video-new > .player-new > .related-new .list-new > a:hover > h4 {
	color: #FFF;
	text-decoration: none;
}
.video-new > .player-new > .related-new .list-new > a > img {
	border: 3px solid #000;
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	
	margin-bottom: 4px;
}
.video-new > .player-new > .related-new .list-new > a:hover > img {
	border: 3px solid #FFF;
}
.video-new > .player-new > .related-new .list-new > a > .time-new {
	position: absolute;
	top: 74px;
	right: 3px;
	color: #FFF;
	font-size: 11px;
	line-height: 11px;
	padding: 4px 8px;
	
	background-image: url(/static/slo/shared/img/bg-trans-black.png);
	background-position: left top;
	background-repeat: repeat;
}
div.videoplayer_notice_renew {
	background-color: #222;
	padding: 30px;
}
div.videoplayer_notice_renew-content {
	-webkit-box-shadow: 0 2px 3px rgba(255, 150, 33, 0.7);
	-moz-box-shadow: 0 2px 3px rgba(255, 150, 33, 0.7);
	box-shadow: 0 2px 3px rgba(255, 150, 33, 0.7);
	background-color: #FFEAB3;
	color: #B27E01 !important;
	padding: 25px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	font-size: 16px;
	text-align: center;
}
div.videoplayer_notice_renew a {
	color: #5E2D00 !important;
	font-weight: bold;
}
div.videoplayer_notice_renew a:hover {
	color: #B27E01 !important;
}

