/* START: Vote (stars) */
.stars a {
	cursor: pointer;
	margin: 10px 0 0;
	float: left;
	display: block;
	width: 22px;	
	width: 16px;
	height: 16px;
	padding: 1px;
	background-image: url(/static/slo/main/img/buttons/stars.gif);
	background-repeat: no-repeat;
	background-position: 0px 1px;
}

.stars a.over {
	background-position: 0 -31px;
}

.stars a.selected {
	background-position: 0 -63px;
}

.stars a.selectedover {
	background-position: 0 -47px;
}

.stars a.selectedless {
	background-position: 0 -15px;
}
/* START: Vote (stars) */