/* START: Okusno.je box */
.okusnoJe {
	width: 300px;
	height: 241px;
	background: url("/static/slo/main/img/backgrounds/right_other_double_tbotend.gif") no-repeat 0 225px;
}

.okusnoJe .boxTop {
	background: url("/static/slo/main/img/backgrounds/right_other_double_tbottitle_okusno_je.gif") left top no-repeat;
	height: 23px;
	padding: 7px 0 0 12px;
}

.okusnoJe .boxTop a h2 {  }

.okusnoJe .boxTop a:hover h2 {  }

.okusnoJe .boxTopContent {  }

.okusnoJe .boxMiddle {
	overflow: hidden;
	border-left: 1px solid #c1c1c1;
	border-right: 1px solid #c1c1c1;
	border-bottom: 1px solid #939393;
	position: relative;
	padding: 0;
	cursor: pointer;
	height: 200px;
	-webkit-border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	border-radius: 0 0 5px 5px;
}

.okusnoJe .box-featured {
	display: block;
}

.okusnoJe .box-featured .featured-content {
	background: url("/static/slo/main/img/backgrounds/okusno_je_content_bg.png") repeat top left;
	padding: 10px;
	position: absolute;
	bottom: 5px;
	width: 268px;
	margin: 0 0 0 5px;
}

.okusnoJe .box-featured .featured-content h3 {
	color: #C88B00;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	margin: 0 0 6px 0;
}

.okusnoJe .box-featured .featured-content:hover h3,
.okusnoJe .boxMiddle a:hover {
	color: #775300;
	text-decoration: none;
}

.okusnoJe .box-featured img {
	width: 300px;
}

.okusnoJe .box-featured .cook-time {
	background: url("/static/slo/microsites/okusno.je/img/splash-time-icon.png") left center no-repeat;
	color: #183135;
	float: left;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-style: italic;
	font-size: 12px;
	padding: 2px 0 2px 22px;
}

.okusnoJe .box-featured .cook-difficulty {
	background: url("/static/slo/microsites/okusno.je/img/difficulty-medium.png") left center no-repeat;
	float: right;
	height: 19px;
	width: 33px;
}

.okusnoJe .box-featured .difficulty-1 { background: url("/static/slo/microsites/okusno.je/img/difficulty-easy.png"); }
/* END: Okusno.je box */