body{color:#333;}
a{color:#333;}
a.red{color:#CC0000;}
a:hover{color:#CC0000;}
h3 a{color:#fff;}
h3 a:hover{color:#fff; font-weight:bold;}
.w1001{width:1002px;}
.fl{float:left;}
.cl{ clear:both}
.mt20{margin-top:20px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt6{margin-top:6px;}
.mt5{margin-top:5px;}
.mt8{margin-top:8px;}
.mt26{margin-top:26px;}
.mb10{margin-bottom:10px;}
.ml11{margin-left:11px;}
.mt70{margin-top:70px;}
.fl{float:left;}
.fr{float:right;}
.cent{margin:0 auto;}
input{ outline:none;}

.ft1{color:#B70000}
.f18{font-size:18px;}
.nor{ font-weight:normal;}
.pdr10{padding-right:10px;}
.trans,a{
    -webkit-transition: all .5s ease;
    -moz-transition:all .5s ease;
    -o-transition:all .5s ease;
    -ms-transition:all .5s ease;
    transition:all .5s ease;
}
.home-top .subweb{ position:relative;}
.home-top .subweb i,.home-top .top-r i,.top-nav .nav li i,.top-nav .nav-rsear .sear-2,.home-left-nav .morenav,.home-left-list li .fx,.home-right .rtit .change,.td-list li .td-tit,.footer .info .copyright .botfx a{ background:url(../images/home-ico.png) no-repeat;}
.home-top{ background:#222; height:33px; line-height:33px;color:#9D9D9D;}
.home-top a{color:#9D9D9D;}
.home-top a:hover{color:#fff;}
.home-top .subweb i{width:23px; height:33px;float:left; display:inline-block;background-position: 0 0;-moz-transform-origin:70% 51%;
	-webkit-transform-origin:70% 51%;
	-o-transform-origin:70% 51%;
	transform-origin:70% 51%;
	transition:transform 1s;
	-moz-transition:-moz-transform 1s,top 1s; /* Firefox 4 */
	-webkit-transition:-webkit-transform 1s,top 1s; /* Safari and Chrome */
	-o-transition:-o-transform 1s,top 1s; /* Opera */}
.home-top .subweb span{ float:left; cursor:pointer;}
.home-top .subweb:hover i{ background-position:0 -33px;-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);}
.home-top .subweb:hover span{color:#fff;}

.home-top .subweb .subweb-list{border:1px solid #ccc;width:127px;z-index:99999; background:#fff; position:absolute;left:-10px;top:33px; display:none;padding:6px 0;border-top:none;}
.home-top .subweb:hover .subweb-list{ display:inline-table;}
.subweb-list a{width:100%; text-indent:10px; line-height:25px; height:25px; float:left;margin:0;padding:0;}
.subweb-list a:hover{ background:#EBEBEB;color:#CC0000}
.home-top .top-r{float:right;}
.home-top .top-r i{width:30px; height:33px; background-position:0 -67px;float:left;}
.home-top .top-r a{padding:0 5px;float:left;}
.home-top .top-r span{padding:0 5px;}

.login-suc{float:left;}
.login-suc img{float:left;border:2px solid #D5D5D5;width:24px; height:24px;margin-top:3px;}
.login-suc a{padding:0 5px;float:left;}
.top-nav{width:100%; height:80px;border-bottom:1px solid #E7E7E7; background:#F4F4F4;}
.top-nav .nav{float:left;margin:36px 0 0 20px;}
.top-nav .nav li{float:left;padding:0 10px; margin:0 10px; height:46px; position:relative}
.top-nav .nav li i{width:10px; height:46px; background-position:-9px -155px;float:left;}
.top-nav .nav li a{font-size:16px;color:#333; float:left;}
.top-nav .nav li a:hover{color:#BE0000;}
.top-nav .nav li:hover{border-bottom:2px solid #BE0000; height:44px;}
.top-nav .nav li.sub:hover{ border:none;}
.top-nav .nav li.sub span{font-size:16px; float:left;}
.top-nav .nav li div{ display:none;width:128px;border:1px solid #ccc;padding:8px; position:absolute;left:-30px;top:45px;border-top:none; background:#fff; z-index:99999;}
.top-nav .nav li.sub:hover div{ display:inline-table;}
.top-nav .nav li:hover div a{float:left;width:62px; text-align:left; line-height:28px; height:28px;font-size:15px;text-indent:10px;margin:5px 0;}
.top-nav .nav li:hover div a:hover{color:#BE0000; background:#EBEBEB; }
.top-nav .nav li:hover .ico{ position:absolute;top:37px;left:-24px; z-index:999999; height:8px;width:128px; background:url(../images/nav-hover.png) center no-repeat;border:none;padding:0;}


.top-nav .nav-rsear{float:right;margin-top:34px;}
.top-nav .nav-rsear .sear-1{float:left; height:14px;padding:7px 0 7px 2px;border:1px solid #E6E6E6; background:#F2F2F2;width:176px;border-right:none; text-indent:10px;color:#afafaf}
.top-nav .nav-rsear .sear-1:focus{
    border-color:#8D8D8D; background:#F2F2F2;color:#333
}
.top-nav .nav-rsear .sear-2{float:left;width:30px; height:30px; background-position:0 -101px;border:none; cursor:pointer;}
.topmenu { height:40px; background:#BE0000; line-height:40px; overflow:hidden;}
.topmenu ul{float:left;margin-left:15px;}
.topmenu li{float:left;padding:0 12px;}
.topmenu li:hover{ background:#990000}
.topmenu li a{color:#fff;font-size:16px;}
.topmenu ul.menu-line{border-left:1px solid #990000;padding-left:15px;}
.menubot{ background:#F4F4F4;border-bottom:1px solid #E7E7E7; height:31px; line-height:31px; overflow:hidden;}
.menubot a{padding-left:15px;font-size:14px;}
.home-left{width:622px;float:left;border-right:1px solid #EAEAEA;padding-right:15px;}
.slideBox{ width:622px; height:322px; overflow:hidden; position:relative;float:left;}
.slideBox .hd{ height:15px; overflow:hidden; position:absolute; right:5px; bottom:5px; z-index:1; display:none;}
.slideBox .hd ul{ overflow:hidden; zoom:1;}
.slideBox .hd ul li{ float:left; margin-right:10px;  width:10px; height:10px; line-height:14px; text-align:center; background:#fff; cursor:pointer; border-radius:50%; text-align:center}
.slideBox .hd ul li.on{ background:#f00; color:#fff; }
.slideBox .bd{  width:622px; height:322px; z-index:0; color:#fff;  }
.slideBox .bd li{ zoom:1; vertical-align:middle;width:622px; height:322px;position:relative;}
.slideBox .bd li div{ position:absolute;padding-bottom:15px; text-indent:20px; color:#fff;left:0;bottom:-80px;width:100%; line-height:20px;font-size:18px; background:url(../images/focusbg.png) repeat-x 0 10px;height:130px;}
.slideBox .bd li h3{font-size:26px; line-height:1.2;padding-top:20px}
.slideBox .bd li div p{font-size:13px;padding-top:12px;padding-left:20px;width:540px}
.slideBox .bd li:hover div{bottom:-35px;}
.slideBox .bd img{ width:622px; height:322px; display:block;  }
		
.slideBox .prev,
.slideBox .next{ position:absolute;top:50%; margin-top:-25px; display:block; width:45px; height:44px; background:url(../images/slider-arrow.png) no-repeat; display:none}
.slideBox .next{ left:0;background-position:-45px 0; }
.slideBox .next:hover{background-position:0 0; }
.slideBox .prev{background-position:-90px 0; right:0; }
.slideBox .prev:hover{background-position:-135px 0; }
.slideBox .prevStop{ display:none;  }
.slideBox .nextStop{ display:none;  }
.slideBox .pageState{ position:absolute;top:290px;right:10px;font-size:16px;color:#999}
.slideBox .pageState span{color:#c00; position:relative;top:-5px}

.jxzt{ line-height:18px; height:18px; overflow:hidden;}
.jxzt .list{float:left;color:#666; width:86%;}
.jxzt .list a{padding:0 5px;/* display:inline-block;*/font-size:12px;color:#666;}
.jxzt .list a:hover{color:#CC0000}

.jxzt-li{width:100%;float:left;border-top:1px solid #F0F0F0;border-bottom:1px solid #F0F0F0;margin-top:15px;}
.jxzt-li .lidiv{width:310px;float:left;border-right:1px solid #F0F0F0;}
.jxzt-li .lidiv .pic{width:83px; height:65px;float:left; overflow:hidden;}
.jxzt-li .lidiv .pic img{width:83px; height:65px;}
.jxzt-li .lidiv .rinfo{width:190px;float:left;padding-left:8px; line-height:22px;}
.jxzt-li .lidiv .rinfo a{font-size:16px;}
.jxzt-li .lidiv .rinfo p{color:#999;}
.jxzt-li .lidiv .moreli{width:100%;float:left;padding:10px 0;}
.jxzt-li .lidiv .moreli a{ background:url(../images/ico-1.png) left center no-repeat;font-size:16px;padding-left:15px;}
.jxzt-li .li2{margin-left:15px;border-right:none;width:290px; overflow:hidden;}
.adlist{overflow:hidden;}
.adlist div{/*margin-left:-10px;float:left;width:634px;*/}
.adlist div a{/*float:left;*/}
/*.adlist img{margin-left:25px;}*/
#ad_7{/*margin-left:10px;*/}
#ad_8{margin-left:25px;}
#ad_9{margin-left:25px;}
.adlist div span{float:left; width:190px; height:70px; overflow:hidden;}
.home-left-nav{width:620px;float:left;border:1px solid #DFDFDF; height:47px; line-height:46px;border-top:3px solid #BE1C1A;margin-top:26px; background:url(../images/linebg.png) 0 46px repeat-x;border-bottom:none; position:relative;}
.home-left-nav a{padding:0 10px;font-size:18px;float:left;}
.home-left-nav a:hover,.home-left-nav a.cur{border-bottom:2px solid #BE1C1A;color:#c00}
.home-left-nav .morenav{width:62px;float:right; background-position:0 -204px; height:47px; cursor:pointer;}
.home-left-nav .morenav .morenav-list{width:620px; position:absolute;left:-1px;top:47px; z-index:999;border:1px solid #DFDFDF;border-top:none;height:47px; line-height:45px; display:none;background:url(../images/linebg.png) 0 46px repeat-x #fff;border-bottom:none;}
/*.home-left-nav .morenav:hover{ background-color:#fff;border-left:1px solid #DFDFDF}
.home-left-nav .morenav:hover .morenav-list{ display:inline-table}*/

.home-left-list{width:100%;float:left;margin-top:12px; display:none}
.home-left-list ul{}
.home-left-list li{width:100%;float:left;border-bottom:1px solid #E5E5E5;padding:15px 0; position:relative;}

.home-left-list li .blog_pic{width:112px; height:112px;float:left; position:relative; overflow:hidden;}
.home-left-list li .blog_pic img{width:112px; height:112px;}
.home-left-list li .blog_pic p{ position:absolute; background:url(../images/bg-1.png);/*width:68px;*/ padding:0 3px; text-align:center; height:30px; line-height:30px;left:0;top:0;}
.home-left-list li .blog_pic p a{font-size:16px;color:#fff;}
.home-left-list li .blog_rinfo{float:left;padding-left:15px;width:490px;}
.home-left-list li .blog_rinfo a{font-size:20px;width:390px; display:inline-block}
.home-left-list li .blog_rinfo p{font-size:14px;padding-top:4px;color:#666; line-height:20px;}
.home-left-list li .blog_rinfo .time{font-size:12px; line-height:normal;padding-top:6px;}
.home-left-list li .blog_rinfo .time i{ font-style:normal;color:#666; display:inline-block; line-height:21px;}
.home-left-list li .blog_rinfo .time span{ display:none;}
.home-left-list li .blog_rinfo .time span a.tag{ width:auto;display:inline-block; background:#E5E5E5; height:21px;-webkit-border-radius:21px;-moz-border-radius:21px;border-radius:21px;padding:0 10px;font-size:12px;margin:0 5px; line-height:21px;}
.home-left-list li .blog_rinfo .time span a.tag:hover{ background:#CC0000;color:#fff;}

.home-left-list li .pic{width:173px; height:112px;float:left; position:relative; overflow:hidden;}
.home-left-list li .pic img{width:173px; height:112px;}
.home-left-list li .pic p{ position:absolute; background:url(../images/bg-1.png);/*width:68px;*/ padding:0 10px; text-align:center; height:30px; line-height:30px;left:0;top:0;}
.home-left-list li .pic p a{font-size:16px;color:#fff;}
.home-left-list li .pic p:hover{background-color:#000000;}
.home-left-list li .rinfo{float:left;padding-left:15px;width:430px;}
.home-left-list li .rinfo a{font-size:20px;width:390px; display:inline-block}
.home-left-list li .rinfo p{font-size:14px;padding-top:4px;color:#666; line-height:20px;}
.home-left-list li .rinfo .time{font-size:12px; line-height:normal;padding-top:6px;}
.home-left-list li .rinfo .time i{ font-style:normal;color:#666; display:inline-block; line-height:21px;}
.home-left-list li .rinfo .time span{ display:none;}
.home-left-list li .rinfo .time span a.tag{ width:auto;display:inline-block; background:#E5E5E5; height:21px;-webkit-border-radius:21px;-moz-border-radius:21px;border-radius:21px;padding:0 10px;font-size:12px;margin:0 5px; line-height:21px;}
.home-left-list li .rinfo .time span a.tag:hover{ background:#CC0000;color:#fff;}
.home-left-list li:hover{ background:#F7F7F7}
.home-left-list li .fx{ position:absolute;top:10px;right:15px; background-position:0 -257px;width:30px; height:30px; z-index:998; display:none; cursor:pointer;}
.home-left-list li .fx .fxlist{ position:relative; display:none;}
.home-left-list li .fx .fxlist p{ position:absolute;width:122px; height:35px; background:#fff;border:1px solid #DFDFDF;right:-20px;top:28px;}
.home-left-list li .fx .fxlist p a{float:left;margin:6px 0 0 5px;}
.home-left-list li .fx:hover .fxlist{ display:inline-table;}
.home-left-list li.left-ad{border:none;padding-bottom:0; overflow:hidden; height:90px;}
.home-left-list li.left-ad p{font-size: 18px;padding: 3px 8px;position: relative;top: -90px; background:url(../images/bg-1.png); width:36px; color:#fff; cursor:pointer;}
.home-left-list li.left-ad p:hover{background-color:#000;}

.home-left-list li:hover .fx,.home-left-list li:hover .rinfo .time span,.home-left-list li:hover .blog_rinfo .time span{ display:inline-table;}
.home-left .more{width:100%;float:left;margin-top:15px;}
.home-left .more a{width:100%; height:44px; line-height:44px; background:#F1F1F1; display:block; text-align:center;font-size:16px;}
.left-flow{position:fixed; top:-26px; z-index:9999;background-color:#ffffff; right:50%; margin-right:-122px;}

.home-right{width:350px;float:right;}
.home-right .rtopline{ background:url(../images/tit-line.png) top left no-repeat;}
.home-right .rbor{border:1px solid #F5F5F5; background-color:#F9F9F9;border-top:none;width:348px;}
.home-right .rtit{width:100%; text-indent:10px;font-size:18px;color:#BE0000;margin-top:10px; position:relative; z-index:10}
.home-right .rtit .change{width:60px; height:18px; background-position:-285px -5px; position:absolute;top:0;right:0}
.home-right .rtit .change:hover{ background-position:-285px -25px;}
.home-right .zd-list{width:328px;float:left;padding:0 10px;}
.tcolor{color:#BE0000; font-style:normal; float:left; padding-right:5px;}
.home-right .zd-list li{border-bottom:1px solid #EAEAEA;padding:6px 0 10px 0px;width:100%;float:left;/* line-height:23px;*/}
.home-right .zd-list li a{font-size:16px; /*display:block;*/ height:33px;}
.home-right .zd-list li a span{/*display:table-cell;*/vertical-align:middle;height:40px; line-height:20px;}
.home-right .zd-list li.nonebor{border-bottom:none;}
.td-list{width:100%;float:left;}
.td-list ul{margin-top:8px;}
.td-list li{width:348px;float:left;border-top:1px solid #F9F9F9;border-bottom:1px solid #F9F9F9;padding:5px 0; position:relative;}
.td-list li .list{float:left; line-height:25px;width:300px;}
.td-list li .list a{float:left;font-size:14px;padding-left:10px;white-space:nowrap;}
.td-list li .td-tit{ position:absolute;right:8px;top:40%; background-position:0 -301px;width:35px; height:21px; line-height:21px; text-align:center;}
.td-list li .td-tit a{font-size:12px;}
.td-list li:hover{ background:#fff;border-top:1px solid #EAEAEA;border-bottom:1px solid #EAEAEA;}
a.more1{ position:absolute;top:3px;right:10px;font-size:12px;padding-right:10px;color:#999;margin-top:3px;}
a.more1:hover{color:#BE1C1A}
.jp-list{width:328px;float:left;padding:0 10px;padding-bottom:10px;}
.jp-list li{width:100%;float:left;margin-top:20px;}
.jp-list li .pic{float:left;width:105px; height:75px; overflow:hidden; position:relative;}
.jp-list li .pic img{width:105px; height:75px;}
.jp-list li .rinfo{width:210px;float:right;}
.jp-list li .rinfo a{font-size:16px; display:block; height:42px; overflow:hidden;}
.jp-list li .rinfo p{padding-top:10px;}
.jp-list li .rinfo .fl a{display:inline; height:auto;}
.jp-list li .rinfo p span{color:#999;}

.jp-list li .pic span{width:105px; height:75px; position:absolute;left:0;top:0; background:url(../images/ico-2.png) center no-repeat;}
.jp-list li .pic span a{width:100%; height:100%; display:block}

.ctoll{padding: 12px 0 0 0px;float: left;width:327px;}  
.ctoll dt{width: 327px;text-align:center;height:20px;border-bottom:1px solid #e5e5e5;position:relative;}
.ctoll dt span{color:#666666;font-size:12px;width:66px;background: #f9f9f9;position:absolute;top:10px;left: 50%;margin-left: -33px;}
.ctoll dd{width:327px;}
.ctoll dd a{color:#343434;font-size:14px;font-family:"Microsoft YaHei";padding:15px 10px 0;float:left;}

.ph-list{width:332px;padding:0 8px;float:left;padding-bottom:15px;}
.ph-list li{width:100%;float:left;margin-top:15px;}
.ph-list li span{float:left;width:18px; height:18px; line-height:18px;color:#fff; background:#666666; text-align:center;margin-top:3px;}
.ph-list li span.redbg{ background:#BE1C1A}

.ph-list li .rinfo{float:left;width:302px;padding-left:5px;height: 23px; overflow: hidden; line-height:23px;}
.ph-list li .rinfo a{font-size:16px;}
.ph-list li .rinfo1{float:left;width:302px;padding-left:5px;}
.ph-list li .rinfo1 a{font-size:16px;}
.ph-list li .rinfo1 p{padding-top:12px;color:#666; line-height:20px;padding-bottom:3px;}
.ph-list li .rinfo1 p a{font-size:12px;}
.ph-list li.line{border-bottom:1px solid #E5E5E5;padding-bottom:10px;}

.rmzw_xx{margin-left:10px;width:333px;}
.rmzw_xx dl{width:333px;padding-top:10px;height:52px;}
.rmzw_xx dt{width:333px;height:28px;color:#333333;font-size:16px;font-family:"Microsoft YaHei";}
.rmzw_xx dt{color:#333333;font-size:16px;font-family:"Microsoft YaHei";}
.rmzw_xx dd{width:333px;}
.rmzw_xx dd h2{width:132px;float:left;color:#666666;font-size:12px;font-family:"Microsoft YaHei";}
.rmzw_xx dd span{width:60px;float:left;color:#be0000;font-size:12px;font-family:"Microsoft YaHei";}
.rmzw_xx dd a{width:115px;float:left;color:#333333;font-size:12px;font-family:"Microsoft YaHei";text-align:right;}

.newhd-list{width:328px;padding:0 10px;float:left;padding-bottom:15px;}
.newhd-list li{width:100%;float:left;margin-top:6px;padding: 5px 0; border-bottom: 1px dotted #CCC;}
.newhd-list li a{font-size:16px;float:left; overflow: hidden; height: 23px; line-height:23px;}
.newhd-list li .info{width:100%;float:left;margin-top:12px;}
.newhd-list li h4{width:100%;float:left;font-size: 16px; padding: 5px 0; color: #666;}

.newhd-list li .info img{width:104px; height:67px;float:left;}
.newhd-list li .info p{width:212px;float:left;padding-left:8px; line-height:23px;color:#999;}
.newhd-list li span.ico{float:left;width:15px; height:22px; line-height:22px; background:url(../images/ico-1.png) left center no-repeat;}
.newhd-list li span.time{float:right;color:#999;line-height:22px; }
.newhd-list li .info .picw{width:80px; height:89px;}
.newhd-list li .info .picw2{width:96px; height:142px;border:1px solid #C6C6C6;}

.view-list{width:328px;padding:0 10px;float:left;padding-bottom:15px;}
.view-list li{width:100%;float:left;margin-top:6px;padding: 5px 0; border-bottom: 1px dotted #CCC;}
.view-list li a{font-size:16px;float:left; overflow: hidden; height: 23px; line-height:23px; width:95%;}
.view-list li .info{width:100%;float:left;margin-top:12px;}
.view-list li h4{width:100%;float:left;font-size: 16px; padding: 5px 0; color: #666;}

.view-list li .info img{width:104px; height:67px;float:left;}
.view-list li .info p{width:212px;float:left;padding-left:8px; line-height:23px;color:#999;}
.view-list li span.ico{float:left;width:15px; height:22px; line-height:22px; background:url(../images/ico-1.png) left center no-repeat;}
.view-list li span.time{float:right;color:#999;line-height:22px; }
.view-list li .info .picw{width:90px; height:90px;}
.view-list li .info .picw2{width:96px; height:142px;border:1px solid #C6C6C6;}

.qk-list{width:100%;float:left;margin-top:15px;padding-bottom:15px;}
.qk-list li{/*background: url(../images/qk-ico.jpg) no-repeat 3px 10px; */height: auto; padding: 5px 0 5px 5px; line-height: 24px; /*height:22px; overflow:hidden;*/ width:95%;}
.qk-list li a{font-size:16px;}
.qk-list li span.ico{float:left;width:15px; height:30px; line-height:22px; background:url(../images/ico-1.png) left center no-repeat;}

.right-wx{width:100%;float:left; background-color:#fff}
.right-wx span{float:left;width:167px; height:193px;border:1px solid #E7E7E7; text-align:center;padding-top:12px;}
.right-wx span p{font-size:18px;color:#999999;padding-top:5px;}

.footer .info .contact{width:220px;}
.footer .info .copyright{float:right; text-align:right;width:500px; }
.footer .info .copyright .con{line-height:25px;color:#999;}
.footer .info .copyright .botfx{width:100%;float:left;margin:20px 0 10px;}
.footer .info .copyright .botfx a{width:35px; height:35px;float:right;margin-left:10px;padding-left:0px;}
.footer .info .copyright .botfx a.wx{ background-position:-400px -10px;}
.footer .info .copyright .botfx a.wx:hover{background-position:-400px -50px;}

.footer .info .copyright .botfx a.sina{ background-position:-443px -10px;}
.footer .info .copyright .botfx a.sina:hover{background-position:-443px -50px;}

.footer .info .copyright .botfx a.qzone{ background-position:-490px -10px;}
.footer .info .copyright .botfx a.qzone:hover{background-position:-490px -50px;}

.footer-link{width:1000px;margin:0 auto;border-top:1px solid #EAEAEA;margin-top:30px;padding-top:20px; text-align:center; line-height:25px;color:#666}
.footer-link a{ display:inline-block;padding:0 5px;color:#666}

.footer-img1,.footer-img2{width:100%; text-align:center;padding:30px 0 0;}
.footer-img1 img,.footer-img2 img{ vertical-align:middle;margin:0 6px;}
.footer-img2{padding:20px 0 0}
.footer-img2 img{margin:0 8px;}

#index-share a{cursor:pointer;}
#index-share a.bds_qzone{ background-position:-490px -10px;}
#index-share a.bds_qzone:hover{background-position:-490px -50px;}
#index-share a.bds_tsina{ background-position:-440px -10px;}
#index-share a.bds_tsina:hover{background-position:-440px -50px;}
#index-share a.bds_weixin{ background-position:-398px -10px;}
#index-share a.bds_weixin:hover{background-position:-398px -50px;}

/*gotop*/
.cbbfixed {position: fixed; _position:absolute;right: 242px;transition: bottom ease .3s;/*top: 800px;*/z-index: 3;cursor:pointer;}
.cbbfixed .cbbtn {width: 38px;height: 38px;display: block;border:1px solid #ccc; background:#fff;}
.cbbfixed .gotop {transition: background-color ease .3s;margin-top: -1px;}
.cbbfixed .gotop .up-icon{float:left;margin:12px 0 0 9px;width:23px;height:12px;background: url(../images/side-icon02.png);}
.cbbfixed .gotop:hover {}
.cbbfixed .cweixin {background: #fff;}
.cbbfixed .cweixin div {background: url(../images/code_edu.jpg);width: 161px;height: 177px;position: absolute;left: -164px;top: -98px;opacity: 0;transform: scale(0);    -webkit-transform: scale(0);transform-origin: 100% 70%;-webkit-transform-origin: 100% 70%;transition: transform ease .3s,opacity ease .3s;-webkit-transition: all ease .3s;display:none\0;*display:none;}
.cbbfixed .cweixin:hover div {display: block;transform: scale(1);-webkit-transform: scale(1);opacity: 1;*display:block;}
.cbbfixed .cweixin .weixin-icon{float: left;margin:12px 0 0 11px;width:18px;height: 18px; background: url(../images/side-icon01.png);}

.clearfix{*zoom:1;}
.clearfix:after{content:'\0020';display:block;height:0;font-size:0;line-height:0;clear:both;overflow:hidden}
.codebox{ width:351px;}
.codebox .incode{ width:354px; float:left; padding-top:15px;}
.codebox .incode span{ display:block; float:left; margin-right:3px; border:1px solid #e5e5e5; width:113px; margin-bottom:10px;}
.codebox .incode img{ padding:6px 6px 0;}
.codebox .incode span p{ text-align:center; font-size:14px; color:#666; height:30px; line-height:30px;}

.modScroll{ position:fixed; _position:absolute;top:-15px;left:50%;margin-left:150px;width:350px;z-index:10;}
#share a{/*width:24px; height:24px;*/}
#share a.bds_sqq{background:url(../images/ico-qq.png) no-repeat;}
#share a.bds_qzone{background:url(../images/ico-qzone.png) no-repeat;}
#share a.bds_tsina{background:url(../images/ico-sina.png) no-repeat;}
#share a.bds_weixin{background:url(../images/ico-wx.png) no-repeat;}

.areaAd{font-size:0}

.menubot{padding-left:7px;width:995px;}
.menubot span{float:left;padding:0 3px;font-size:14;}
.menubot a{float:left;padding:0 7px;}
