@charset "utf-8";

/* 초기화 */
*{margin:0; padding:0;font-family:'dotum', serif;color:#4c4c4c;font-size:12px}

html {overflow-y:scroll;}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin:0;
	padding:0;
	vertical-align:middle;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display:block;
}
body {
	line-height:1;
}
ol, ul {
	list-style:none;
}
blockquote, q {
	quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content:'';
	content:none;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
img, fieldset {
	border:0;
}
input, select, textarea {
	line-height:1.2; vertical-align:middle;
}
body, table, th, td, input,
textarea, button, select {
	font-family: 'Nanum Gothic','dotum', serif;
	font-size:13px;
	color:#343333;
}
address, caption, cite, code,
dfn, em, var {
	font-style:normal;
	font-weight:normal;
}
label {
	cursor:pointer;
}
/* For Screen Reader */
legend {
	display:none;
	visibility:hidden;
}
/* For Screen Reader */
caption {
	display:none;
	visibility:hidden;
}
a { color:#343333; text-decoration:none; }
a:active, a:hover, a:focus { text-decoration:none; }
a:hover { color:#000; }


/* UTIL - 간격 */
.mt5 {margin-top:5px !important}
.mt10 {margin-top:10px !important}
.mt20 {margin-top:20px !important}
.mt30 {margin-top:30px !important}
.mt40 {margin-top:40px !important}
.mt50 {margin-top:50px !important}
.mt60 {margin-top:60px !important}
.mt70 {margin-top:70px !important}
.mt80 {margin-top:80px !important}
.mt100 {margin-top:100px !important}
/* UTIL - 정렬 */
.tc {text-align:center !important}
.tr {text-align:right}
.tl {text-align:left !important}
.fl {float:left}
.fr {float:right}
/* UTIL - Input Box */
.ib15 {width:15px}
.ib25 {width:25px}
.ib30 {width:30px}
.ib40 {width:40px}
.ib50 {width:50px}
.ib75 {width:75px}
.ib80 {width:80px}
.ib110 {width:110px}
.ib150 {width:150px}
.ib160 {width:160px}
.ib170 {width:170px}
.ib200 {width:200px}
.ib250 {width:250px}
.ib300 {width:300px}
.ib370 {width:370px}
.ib400 {width:400px}
.ib500 {width:500px}
.ib550 {width:550px}
.ib600 {width:600px}
.ib700 {width:700px}
.ib750 {width:750px}
.ib800 {width:800px}
.ib800 {width:900px}
/* UTIL - 속성해제 */
.clear_border {border:none !important;padding:0;margin:0;background:none}
.input_clear {border:0;background:none}
.blind {position:absolute;left:-1000000px}
.clbh {clear:both}