@charset "utf-8";

/* ie7이하 업그레이드 알림 / skip네비게이션 */
#skip-to-content {position:relative;z-index:900}
#skip-to-content a {display:block;height:1px;width:1px;margin-bottom:-1px;overflow:hidden;text-align:center;color:#000;white-space:nowrap}
#skip-to-content a:focus,
#skip-to-content a:active {height:auto;width:100%;padding:6px;margin-bottom:10px;color:#fff;background:#666}

/* layout */
#wrap {position:relative;width:100%}
#header {clear:both;position:relative;width:100%;min-width:950px;height:112px;z-index:200;background:url(/images/index/header_bg.png) repeat-x;}
#header:after {display:block;visibility:hidden;clear:both;content:""}
#footer {clear:both;hposition:relative; margin:0px auto;width:950px;z-index:1;padding:0;background:url(/images/index/footer_bg.png) repeat-x;  margin-top:10px;}


/* Common */
.headerWrap {clear:both;width:950px;margin:0 auto;position:relative;height:112px;}
.headerWrap:after {display:block;visibility:hidden;clear:both;content:""}
.headerWrap h1 {position:absolute;top:53px;left:50%;margin-left:-103px;}

.headerWrap .tnb_left {line-height:35px;color:#c1c1c1;float:left;}
.headerWrap .tnb_left a {color:#6b6a6a;display:inline-block;padding:0 2px;}

.headerWrap .tnb_right {line-height:35px;color:#c1c1c1;float:right;}
.headerWrap .tnb_right a {color:#6b6a6a;display:inline-block;padding:0 2px;}

#nav {position:relative;width:231px;margin-top:10px;}
#nav > li > a {display:block;padding:6px 12px;z-index:99999999;position:relative;width:207px;}
#nav > li > a:hover,
#nav > li > a.active {color:#0070d6;background-color:#f1f8ff;border:1px solid #95c2ef;border-right:none;}
#nav > li > a.allcategory {color:#010101;font-weight:bold;}
#nav > li > a.allcategory:hover,
#nav > li > a.allcategory.active  {background:none;border:none;color:#000;}
#nav > li > ul {display:none;position:absolute;left:231px;margin-top:-26px;width:239px;padding:10px 0;background:#f1f8ff;z-index:100;border:1px solid #95c2ef;z-index:9}
#nav > li > ul > li > a {display:block;padding:6px 15px;font-size:12px;color:#4c4c4c;}
#nav > li > ul > li > a:hover {color:#f58220}
#nav > li > ul > li > a.allcategory {color:#010101;font-weight:bold;}
#nav > li > ul > li.acive {color:#0070d6;font-weight:bold;padding:0 0 5px 15px;}


#contactsWrap {clear:both;width:950px;margin:0 auto;}
#contactsWrap:after {display:block;visibility:hidden;clear:both;content:""}

#LnbCategory {position:relative;float:left;width:231px;z-index:1200;border:1px solid #cfcfcf; margin-right:10px;}
#LnbCategory h2 {font-size:20px;color:#181818;font-family:tahoma;font-weight:normal;padding:17px 10px;border-bottom:1px solid #cdcdcd;margin:0 10px;}

#LnbCategory_sub {position:relative;float:left;width:231px;z-index:1200;border:1px solid #cfcfcf;}
#LnbCategory_sub h2 {margin:0 10px;}
#LnbCategory_sub h2 a {font-size:20px;color:#181818;font-family:tahoma;font-weight:normal;padding:13px 10px;display:block;background:url(/images/index/arrow_category.png) no-repeat 193px 50%;}
#LnbCategory_sub #nav {display:none;position:absolute;top:36px;left:-1px;z-index:99999;background:#fff;}
#LnbCategory_sub #nav.active {display:block;border:1px solid #cfcfcf;background:#fff;}

#container {position:relative;float:right;margin:0px 0;padding:0;}
#container:after {display:block;visibility:hidden;clear:both;content:""}


.searchWrap {position:relative;margin:0 0 0 0px;width:702px;border:2px solid #006fd8;padding:0px;z-index:1300;height:44px;}
.searchWrap input {border:none;padding:2px 2px 2px 2px;width:446px;z-index:1;font-size:14px;font-family:tahoma;color:#a0a0a0;}
.searchWrap p {display:inline;width:101px;padding:0px 60px 0 30px;cursor:pointer;background:#fff url(/images/index/arrow_search.png) no-repeat 100px 50% ;line-height:44px;color:#666666;top:0px;left:0;border-right:1px solid #006fd8;}
.searchWrap a {position:absolute;right:0;top:0;margin:0;padding:0;line-height:0;font-size:0;display:inline;background:#0070d6;}
.searchWrap .oversearch {display:none;position:absolute;top:44px;left:-2px;background:#fff;border:2px solid #006fd8;width:80px;padding:5px 10px 5px 30px;font-size:12px;color:#666666;overflow:hidden;z-index:1301;line-height:22px;}
.searchWrap .oversearch a {margin:0;padding:0;line-height:22px;color:#666666;font-size:12px;line-height:22px;background:#fff;}
.searchWrap .oversearch.active {display:block;}
.overMenu { float:left; width:100px}
.searchText {margin-left:150px; margin-top:10px;z-index:1}

#footer .inner {width:950px;margin:0px auto;position:relative;border-bottom:1px solid #cdcdcd;padding-bottom:10px;}
#footer .inner:after {display:block;visibility:hidden;clear:both;content:""}
#footer .inner li {float:left;padding:0 12px;margin:0;}
#footer .inner li strong {font-weight:bold;line-height:37px;margin:0 0 10px 0;padding:0;display:block;}
#footer .inner li p {line-height:25px;margin:0 !important;padding:0 !important;background:none;border:none;font-weight:normal;}
#footer .inner li p a {color:#7d7d7d;margin:0 !important;padding:0 !important;background:none;border:none;font-weight:normal;}
#footer p {line-height:40px;color:#7d7d7d;background:url(/images/index/footer_line.png) repeat-x bottom left;}
#footer p a {display:inline-block;font-weight:bold;color:#7d7d7d;line-height:19px;padding:0 5px;border-radius:2px;}

/**#footer p a {display:inline-block;border:1px solid #cdcdcd;background:#f7f7f7;font-weight:bold;color:#7d7d7d;line-height:19px;padding:0 10px;border-radius:2px;}*/

#footer .icon {float:right; clear:both; display:inline-block;line-height:20px;padding:10px 10px;}

#footer .copyright {clear:both;position:relative;height:100px;}
#footer .copyright h1 {position:absolute;top:15px;left:0;}
#footer .copyright p.copy {position:absolute;top:15px;left:165px;background:none;}
#footer .copyright p.mark {position:absolute;top:15px;right:0;background:none;}

/* index */
#slideshow {position:relative;clear:both; width:704px; height:357px;z-index:1;margin:11px 0 16px 0;border:1px solid #cdcdcd;}
#slides {position:relative; width:100%; height:100%;margin:auto;}
#slides li {width:100%; height:357px;text-align:center;padding:0;}

.pagination {position:absolute;list-style:none; margin:0 auto;z-index:1000;width:150px;right:0;bottom:10px;}
.pagination li {float:left; cursor:pointer; width:20px;height:20px;font-size:0;background:url('/images/index/main_visual_off.png') no-repeat;margin:0 3px 0 0;}
.pagination li:hover {background:url('/images/index/main_visual_on.png') no-repeat;}
.pagination li.current {background:url('/images/index/main_visual_on.png') no-repeat;}

#container .LeftWrap {float:left;width:347px;position:relative; margin-top:5px;}
#container .LeftWrap h3 {font-size:16px;color:#4c4c4c;margin:4px 0 16px 0;}
#container .LeftWrap p {border-top:1px solid #cdcdcd;border-bottom:1px solid #cdcdcd;text-align:center;background:#f0f0f0;line-height:22px;font-size:11px;color:#4c4c4c;}
#container .LeftWrap p img {margin:0 4px 0 15px;}
#container .LeftWrap a.bms {position:absolute;right:0;top:0;}
#container .LeftWrap div li {padding:3px 0;border-bottom:1px solid #cdcdcd;}
#container .LeftWrap div li span {display:inline-block;color:#7d7d7d;}
#container .LeftWrap div li span:nth-child(1) {width:45px;text-align:center;}
#container .LeftWrap div li span:nth-child(2) {width:22px;text-align:center;}
#container .LeftWrap div li span:nth-child(3) {width:205px;}
#container .LeftWrap div li span:nth-child(4) {width:60px;text-align:center;}
#container .RightWrap {float:right;width:347px;position:relative;margin-bottom:8px;}
#container .RightWrap h3 {font-size:16px;color:#4c4c4c;margin:4px 0 16px 0;}
#container .RightWrap a.more {position:absolute;right:0;top:3px;}
#container .RightWrap div {width:100%;}
#container .RightWrap div p.img {float:left;width:131px;}
#container .RightWrap div div.info {float:right;width:216px;}
#container .RightWrap div div.info strong {display:block;margin-bottom:17px;line-height:16px;}

#container .btnWrap01 {clear:both;padding:0 0 0 0;}
#container .btnWrap01:after {display:block;visibility:hidden;clear:both;content:""}
#container .btnWrap01 div {float:left;border:1px solid #cfcfcf;width:237px;height:58px;padding:20px 0px 26px 108px;background:url(/images/index/btn_bms_bg02.png) no-repeat 26px 50%;cursor:pointer;}
#container .btnWrap01 div:hover {background:url(/images/index/btn_bms_bg02on.png) no-repeat 26px 50%}
#container .btnWrap01 div:first-child {margin:0 12px 0 0;background:url(/images/index/btn_bms_bg01.png) no-repeat 26px 50%}
#container .btnWrap01 div:hover:first-child {background:url(/images/index/btn_bms_bg01on.png) no-repeat 26px 50%}
#container .btnWrap01 div strong {display:block;font-size:16px;color:#4c4c4c;margin-bottom:15px;}
#container .btnWrap01 div p {color:#7d7d7d;line-height:16px;}

#contactsWrap .b2cP {clear:both;width:100%;padding:25px 0 0 0;margin:0;position:relative;}
#contactsWrap .b2cP span {display:inline-block;padding:0 0 3px 0px;}
#contactsWrap .b2cP h3 {font-size:22px;color:#181818;font-family:tahoma;font-weight:normal;margin-bottom:10px;display:inline}
#contactsWrap .b2cP h3 span {font-size:22px;color:#0070d6;font-family:tahoma;font-weight:normal;vertical-align:top;}
#contactsWrap .b2cP a.more {position:absolute;right:0;top:27px;}
#contactsWrap .b2cP div {border-bottom:1px solid #cdcdcd;width:100%;position:relative;}
#contactsWrap .b2cP div:after {display:block;visibility:hidden;clear:both;content:""}
#contactsWrap .b2cP div li {float:left;padding:20px 14px;}
#contactsWrap .b2cP div li p {text-align:center;}


#contactsWrap .best {clear:both;width:100%;padding:40px 0 0 0;margin:0;position:relative;}
#contactsWrap .best span {display:inline-block;padding:6px 0 3px 0px;}
#contactsWrap .best h3 {font-size:22px;color:#181818;font-family:tahoma;font-weight:normal;margin-bottom:10px;display:inline;}
#contactsWrap .best h3 span {font-size:22px;color:#0070d6;font-family:tahoma;font-weight:normal;vertical-align:top;padding:0;}
#contactsWrap .best a.more {position:absolute;right:0;top:51px;}
#contactsWrap .best div {border-top:3px solid #181818;border-bottom:1px solid #cdcdcd;width:100%;position:relative;}
#contactsWrap .best div:after {display:block;visibility:hidden;clear:both;content:""}
#contactsWrap .best div li p{text-align:center;}

#contactsWrap .best div ul.box {width:910px;margin:0 auto;}
#contactsWrap .best div ul.box li {float:left;padding:20px 10px; width:160px;}
#contactsWrap .best div ul.box li p {text-align:center;}
 

#contactsWrap .best div .prev {position:absolute;top:90px;left:0; width:20px;}
#contactsWrap .best div .next {position:absolute;top:90px;right:0; width:20px;}


#contactsWrap .mainbanner {clear:both;padding:0;margin:36px 0;}
#contactsWrap .mainbanner a {margin:0 7px 0 6px ;}
#contactsWrap .mainbanner a:last-child {margin:0;}

/* sub */
#subconWrap {clear:both;margin:0px 0;padding:10px 0;width:100%; z-index:2}