.recent-news-view-block .view-content .views-row .field-name-field-date {
  float: left;
  margin-bottom: 10px;
  padding-top: 5px;
}

.field-name-field-date .date-display-single {
  margin: 0;
}
