.ua_weather {
    color: #666;
    padding-bottom: 20px;
    max-width: 450px;
    width: 100%;
    float: right;
}
.ua_weather ul {
    list-style: none;
    text-align: center;
}
.ua_weather ul li {
    margin-left: 0;
}
.ua_weather span a,
.ua_weather ul li span {
    color: #003E7E;
}
