a#space_desc:hover,
a#lunar_desc,
a#astro_desc,
a#clim_desc,
a#solar_desc,
a#bio_desc,
a#cancer_desc,
a#opt_desc,
a#mis_desc,
a#elec_desc,
a#database_desc {
    text-decoration: none;
    color: #6e6e6e;
}