/* Visit Page Title Fixes */
@media (min-width: 1025px) {
    .page-node-38 #page-title {
        top: -273px;
    }
    .page-node-38 .supporting-text {
        top: -224px;
    }
}
@media (max-width: 1024px) and (min-width: 757px) {
    .page-node-38 #page-title {
        top: -233px;
        font-size: 3em;
    }
    .page-node-38 .supporting-text {
        top: -184px;
    }
}

/* UR Updates */
.view-slideshow .flexslider .slides .slide-callout p, .slideshow .flexslider .slides .slide-callout p {
    padding-right: 170px;
}
@media (min-width: 1025px) {
  .recent-news-view-block .view-content .views-row .group-content-body {
      min-height: 560px;
  }
}

.section-corporations-businesses .region-sidebar-second {
    margin-top: 543px;
}
.headline .headline-view .flexslider h3 a {
    font-size: 1.3em;
}
/* ADMIN PAGE EDITS */
.node-spotlight-form #edit-field-audience {
  display: none;
}
.node-spotlight-form .form-item.form-item-promote {
  display: none;
}
.node-spotlight-form .form-item.form-item-sticky {
  display: none;
}

/* Apply Visit Give Fix */
#block-menu-menu-header-right-menu ul li a.menu__link {
  word-wrap:normal;
}