.milo-bold {
  font-family: MiloWeb, sans-serif;
  font-weight: bold;
}
.milo-serif-text {
  font-family: MiloSerifWeb-Text, serif;
  font-weight: normal;
}
.milo-serif-med {
  font-family: MiloSerifWeb, serif;
  font-weight: normal;
}
.milo-black {
  font-family: MiloWeb, sans-serif;
  font-weight: bolder;
}
.milo-serif-black-italic {
  font-family: MiloSerifWeb, serif;
  font-weight: bolder;
  font-style: italic;
}
.milo-text {
  font-family: MiloWeb-Text, sans-serif;
  font-weight: normal;
}
.milo-serif {
  font-family: MiloSerifWeb, serif;
  font-weight: normal;
}
.milo-reg {
  font-family: MiloWeb, sans-serif;
  font-weight: normal;
}
.milo-med {
  font-family: MiloWeb, sans-serif;
  font-weight: normal;
}
