.block-ua-alerts {
  color: #fff;
  margin-bottom: 0px !important;
  background: #ff6600 url(/sites/all/themes/custom/ua_theme/images/emergency-alert.png) no-repeat 50px 8px;
  background-size: 35px 50px !important;
}

.block-ua-alerts a.ua-alert-anchor,
.block-ua-alerts .alert-message {
  display: block;
  min-height: 50px;
  padding: 10px 220px 10px 95px;
  font-size: 17.5956001281738px;
  text-decoration: none;
  text-decoration: none !important;
  color: #fff !important;
  line-height: 1.5 !important;
  font-weight: normal;
}
.block-ua-alerts a.ua-alert-anchor .call-out,
.block-ua-alerts .alert-message .call-out {
  text-transform: uppercase;
}
@media (max-width: 800px) {
  .block-ua-alerts {
    background: #ff6600 url(/sites/all/themes/custom/ua_theme/images/emergency-alert.png) no-repeat 20px 8px;
  }
  .block-ua-alerts a.ua-alert-anchor,
  .block-ua-alerts .alert-message {
    padding: 10px 50px 10px 65px;
  }
 }
}
.block-ua-alerts a,
.block-ua-alerts a:link,
.block-ua-alerts a:active,
.block-ua-alerts a:hover {
  text-decoration: none !important;
  color: #fff !important;
  font-weight: normal;
}

.block-ua-alerts strong {
  font-weight: 700;
}
