.view-news-administration .flag,
.admin-views-view .flag {
  font-size: 0;
  text-indent: -100em;
  overflow: hidden;
  position: relative;
  display: block;
  width: 19px;
  height: 19px;
  background: transparent url('/sites/all/libraries/uniform/themes/default/images/sprite.png') no-repeat scroll 0 -260px;
}

.view-news-administration .unflag-action,
.admin-views-view .unflag-action {
  background-position: -76px -260px;
}
