@charset "utf-8";
/* CSS Document */

body, html {
	margin: 0;
	padding: 0;
	font-family: 'Microsoft Yahei'
}
div, form, ul, ol, li, span, p, dl, dt, dd, img {
	margin: 0;
	padding: 0;
	border: 0;
}
ul, ol, li {
	list-style: none
}
.clear {
	clear: both
}
a {
	text-decoration: none
}
.nav {
	width: 100%;
	height: 57px;
	background: #fff;
	margin: 0 auto;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99999;
	border-bottom: #DB1011 2px solid;
}
.nav2 {
	width: 100%;
	height: 226px;
	background: #DB1011;
	margin: 0 auto;
}
.nav_c {
	width: 1000px;
	margin: 0 auto;
	padding: 12px 0
}
.nav_c2 {
	width: 1000px;
	margin: 0 auto;

}
.logo {
	float: left
}
.paddingtop10{ padding-top:10px}
.download ,.download2 {
	float: right;
	position: relative
}
.download li {
	width: 36px;
	height: 31px;
	float: right;
	margin-left: 10px;
	padding-left: 40px;
	font-size: 12px;
	line-height: 31px;
	color: #404040
}
.download2 li {
	width: 36px;
	height: 31px;
	float: right;
	margin-left: 0px;
	padding-left: 40px;
	font-size: 12px;
	line-height: 31px;
	color: #fff
}
.app {
	background: url(../images/phone.png) no-repeat left center;
}
.weibo {
	background: url(../images/wbo.png) no-repeat left center;
}
.weixin {
	background: url(../images/wechat.png) no-repeat left center;
	cursor: pointer
}
.paper {
	background: url(../images/paper.png) no-repeat left center
}
.syh {
	background: url(../images/syh.png) no-repeat left center
}

.app2 {
	background: url(../images/phone2.png) no-repeat left center;
}
.weibo2 {
	background: url(../images/wbo2.png) no-repeat left center;
}
.weixin2 {
	background: url(../images/wechat2.png) no-repeat left center;
	cursor: pointer
}
.paper2 {
	background: url(../images/paper2.png) no-repeat left center
}
.syh2 {
	background: url(../images/syh2.png) no-repeat 10px center
}
header {
	width: 100%;
	margin: 120px auto 20px;
	padding: 0
}
.topmenuborder {
	border-bottom: #eee 1px solid;
	background: #fff
}
.topmenuborder2 {
	background: #c6171e
}
#topmenu {
	width: 1000px;
	margin: 0 auto;
	padding: 10px 0;
}
#topmenu ul {
	margin: 0;
	padding: 0
}
#topmenu li {
	float: left;
	margin-right: 11px;
	padding-right: 17px;
	font-size: 14px;
	background: url(../images/line.png) no-repeat;
	background-position: right center;color: #666
}
#topmenu li a {
	color: #666
}
#topmenu li a:hover {
	color: #f33
}
#topmenu .last {
	font-size: 14px;
	background: none;
	margin: 0;
	padding: 0;
	cursor:pointer
}


#topmenu2 {
	width: 1000px;
	margin: 0 auto;
	padding: 10px 0;
}
#topmenu2 ul {
	margin: 0;
	padding: 0
}
#topmenu2 li {
	float: left;
	margin-right: 18px;
	padding-right: 23px;
	font-size: 16px;
	background: url(../images/line2.png) no-repeat;
	background-position: right center;
}
#topmenu2 li a {
	color: #fff
}
#topmenu2 li a:hover {
	color: #ffaaac
}
#topmenu2 .last {
	font-size: 16px;
	background: none;
	margin: 0;
	padding: 0
}



#ad_ctop {
	width: 1000px;
	margin: 110px auto 10px;
}
#ad_ctop2 {
	width: 1000px;
	margin: 10px auto 10px;
}
main {
	width: 1000px;
	margin: 0 auto
}
#c_left {
	width: 640px;
	float: left;
	position: relative;
	margin-right: 60px;
}
#c_left_index {
	width: 675px;
	float: left;
	position: relative;
	margin-right: 25px;
}
#c_left .share {
	position: absolute;
	left: -180px;
	top: 0;
	width: 140px;
}

#c_left_index .share2 {
	position: absolute;
	left: 0px;
	top: 0;
	width: 70px;
}


.share2-fixed {
	position: fixed;
	top:60px;
	right: 50%;
	margin-right: 430px;
	width: 70px;
}
.share-fixed {
	position: fixed;
    top: 200px;
    right: 50%;
    margin-right: 540px;
    width: 140px;
}

.logo3{ text-align:center; width:100%; padding:30px 0}
@media screen and (max-width: 1280px) {
#c_left .share {
	position: absolute;
	left: -100px;
	top: 0;
	width: 60px;
	overflow: hidden
}
.share-fixed {
	position: fixed;
	top: 200px;
	right: 50%;
	margin-right: 540px;
	width: 60px;
	overflow: hidden
}
.ad_pf {
	display: none
}
}
.ad_pf {
	display: none
}

.dq{border-right:1px solid #e5e5e5; line-height:45px; text-align:center; width:69px; color:#000; font-weight:bold }
.leftm ul{ width:69px; list-style:none}
.leftm li a{ width:69px; float:left; font-size:16px; color:#404040; border-right:1px solid #e5e5e5; line-height:45px; text-align:center}
.leftm li a:hover{  width:69px; float:left; font-size:16px; color:#fff; line-height:45px; text-align:center; background:#DB1011}
.leftmenu a{ width:69px; float:left; font-size:16px; color:#fff; border-right:1px solid #DB1011; line-height:45px; text-align:center; background:#DB1011}
#c_right {
	width: 300px;
	float: left
}
#c_right .ad {
	width: 100%;
	margin-bottom: 15px;
}
#c_right .pic {
	width: 100%;
	height: auto;
	margin-bottom: 20px
}
#c_right .pic h1 {
	width: 100%;
	border-bottom: #000000 3px solid;
	padding-bottom: 10px;
	margin: 0 auto 10px;
	font-size: 18px;
	font-weight: normal
}
#c_right .pic ul {
	list-style: none;
	padding: 0
}
#c_right .picnews {
	display: block;
	height: 102px;
	width: 145px;
	overflow: hidden;
	background-size: cover;
}
#c_right .pic li {
	display: inline;
	width: 145px;
	height: 130px;
	overflow: hidden;
	float: left;
}
#c_right .pic li+li {
	display: inline;
	width: 145px;
	height: 130px;
	overflow: hidden;
	float: left;
	margin-left: 10px
}
.post_in {
	display: block;
	text-decoration: none;
	height: 30px;
	padding: 14px 0;
	margin-top: 10px;
	font: 20px/30px "Microsoft Yahei";
	color: #404040;
	text-indent: 4px;
	border: 1px solid #e5e5e5;
	border-radius: 4px;
	cursor: pointer;
	text-align: center
}
.post_in:hover {
	color: #DB1011;
	border: 1px solid #DB1011;
}
#c_right .pic li img {
	width: 145px;
	height: 102px
}
#c_right .pic li p {
	width: 145px;
	display: block;
	height: 28px;
	font-size: 14px;
	line-height: 28px;
	padding: 0;
	margin: 0;
	text-align: center
}
#c_right .pic li img.animation {
	-webkit-transition: all 400ms;
	-moz-transition: all 400ms;
	-ms-transition: all 400ms;
	-o-transition: all 400ms;
	transition: all 400ms;
}
#c_right .pic li img.animation:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}
#c_right .rank {
	width: 100%;
	height: auto;
	margin-bottom: 15px
}
#c_right .rank h1 {
	width: 100%;
	border-bottom: #000000 3px solid;
	padding-bottom: 10px;
	margin: 0 auto 10px;
	font-size: 18px;
	font-weight: normal
}
#c_right .rank li {
	border-bottom: 1px solid #F0F0F4;
	line-height: 42px;
	height: 42px;
	text-align: left;
	font-size: 14px;
	float: left;
	width: 300px;
	overflow: hidden
}
#c_right .rank li a {
	color: #404040;
	text-decoration: none
}
#c_right .rank li span {
	color: #999;
	font-size: 14px;
	width: 40px;
	border-right: 1px solid #F0F0F4;
	padding-right: 10px;
	margin-right: 10px
}
#c_left .tile {
	font: bold 28px/36px "Microsoft Yahei";
	margin-bottom: 20px;
	color: #404040;
}
#c_left .post {
	border-bottom: #ddd 1px solid;
	margin-bottom: 20px;
	padding-bottom: 20px;
	font-size:14px
}
#c_left .content p {
	text-indent: 2em;
	text-align: justify;
	font: 16px/32px "Microsoft Yahei";
	color: #404040;
	margin: 32px 0 0;
}
#c_left .content img {
	text-align: center;
	margin: 0 auto;
	display: block;
	max-width: 100%;
	height: auto
}
#c_left .content p img {
	text-align: center;
	margin: 0 auto;
	display: block;
	max-width: 100%;
	height: auto
}
.f_news_list {
	padding: 30px 0 15px;
	position: relative;
	text-decoration: none;
	border-bottom: #dedede 1px solid
}
.f_news_list:hover {
	background: #F8F8F8
}
.f_news_list img.animation {
	-webkit-transition: all 400ms;
	-moz-transition: all 400ms;
	-ms-transition: all 400ms;
	-o-transition: all 400ms;
	transition: all 400ms;
}
.f_news_list img.animation:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}
.f_card_b {
	font-size: 12px;
	line-height: 35px;
	color: #999;
}
.fbq_red, .fbq_blue, .fbq_gray {
	position: absolute;
	bottom: 15px;
	right: 175px;
	font-size: 12px;
	padding: 0 5px;
	border-radius: 3px;
}
.gjz {
	position: absolute;
	bottom: 15px;
	left: 0;
	font-size: 12px;
	color: #bbb
}
.gjz span {
	border-right: #bbb 1px solid;
	margin-right: 10px;
	padding-right: 10px
}
.gjz span:last-child {
	border-right: none
}
.fbq_red {
	color: #e70012;
	border: 1px solid #ffacb2
}
.fbq_blue {
	color: #5b9ef5;
	border: 1px solid #9ec3fa
}
.fbq_gray {
	color: #999;
	border: 1px solid #dedede
}
.fnews_vr {
	position: absolute;
	top: 0.72rem;
	left: 1.28rem;
	width: 1.36rem;
	height: 1.36rem;
	background: url(../images/vr.png) no-repeat;
	background-size: 100% 100%;
}
.fnews_vdr {
	position: absolute;
	top: 0.72rem;
	left: 1.28rem;
	width: 1.36rem;
	height: 1.36rem;
	background: url(../images/vdr.png) no-repeat;
	background-size: 100% 100%;
}
.fnews_vdr2 {
	position: absolute;
	top: 0.66rem;
	left: 2.28rem;
	width: 1.36rem;
	height: 1.36rem;
	background: url(../images/vdr.png) no-repeat;
	background-size: 100% 100%;
}
.f_zt_bqian {
	position: relative
}
.f_zt_ad {
	margin-bottom: 0.24rem
}
.f_zt_ad img {
	width: 100%;
	border: 0
}
.f_card_l {
	overflow: hidden;
	margin-top: 10px;
}
.f_news_list h1 {
	font: 18px/26px "Microsoft Yahei";
	color: #333;
	text-decoration: none;
	overflow: hidden;
	padding: 0;
	margin: 0 0 15px;
}
.f_news_list h2 {
	font-size: 0.72rem;
	line-height: 0.8rem;
	color: #333;
	font-weight: 400;
	width: 12rem;
	max-width: 12rem;
	max-height: 0.72rem;
	overflow: hidden;
}
.f_news_list h3 {
	font-size: 0.64rem;
	line-height: 0.72rem;
	color: #999;
	font-weight: 400;
	width: 12rem;
	max-width: 12rem;
	max-height: 0.72rem;
	overflow: hidden;
}
.f_card_l p {
	font-size: 12px;
	line-height: 0.8rem;
	color: #999;
}
.f_card_l p span {
	margin-right: 0.4rem
}
.f_card_l_bg {
	background: #f8f8f8;
	padding: 0.08rem 0.16rem;
	border-radius: 0.2rem;
}
.f_card_r {
	width: 155px;
	max-height: 109px;
	margin-left: 0.48rem;
	overflow: hidden;
	float: right;
	position: relative
}
.f_card_c {
	width: 640px;
	height: 360px;
	max-height: 360px;
	overflow: hidden;
	position: relative;
	background-size: 100% auto;
}
.f_card_c img {
	width: 640px;
}

.f_card_c_index {
	width: 575px;
	height: 284px;
	max-height: 284px;
	overflow: hidden;
	position: relative;
	background-size: 100% auto;
}
.f_card_c_index img {
	width: 600px;
}

.f_card_r2 {
	width: 6rem;
	max-height: 2.8rem;
	margin-left: 0.48rem;
	overflow: hidden;
	float: right;
	position: relative
}
.f_card_r img {
	width: 100%;
}
.f_card_r2 img {
	width: 100%;
}
.list_case2_img {
	margin-bottom: 0.24rem;
}
.list_case2_img li {
	display: inline-block;
	vertical-align: middle;
	box-sizing: border-box;
	width: 193px;
	overflow: hidden;
	max-height: 135px;
}
.list_case2_img li+li {
	margin-left: 25px
}


.list_case3_img {
	margin-bottom: 0.24rem;
}
.list_case3_img li {
	display: inline-block;
	vertical-align: middle;
	box-sizing: border-box;
	width: 171px;
	overflow: hidden;
	max-height: 120px;
}
.list_case3_img li+li {
	margin-left: 25px
}
.morepic {
	position: absolute;
	bottom: 5px;
	right: 5px;
	background: rgba(0,0,0,.5);
	color: #fff;
	border-radius: 10px;
	padding: 3px 8px;
	font-size: 12px
}
.morepic2 {
	position: absolute;
	bottom: 41px;
	right: 5px;
	background: rgba(0,0,0,.5);
	color: #fff;
	border-radius: 10px;
	padding: 3px 8px;
	font-size: 12px
}
.list_case2_img li img {
	width: 193px;
	border: 0;
	max-height: 135px;
}
.content-r-fixed {
	position: fixed;
	left: 50%;
	bottom: 305px;
	margin-left: 200px
}
.content-r-fixed2 {
	position: fixed;
	left: 50%;
	bottom: 315px;
	margin-left: 200px
}
.newslist {
	margin: 20px 0
}
.newslistl {
	margin: 10px 0 0
}
.content {
	margin-bottom: 20px
}
#tab {
	width: 100%;
	margin: 20px auto;
	position: relative;
}
#tab .tab_menu {
	width: 100%;
	float: left;
	position: absolute;
	z-index: 1;
	background: #fafafa;
}
#tab .tab_menu li {
	float: left;
	width: 106px;
	height: 42px;
	line-height: 42px;
	cursor: pointer;
	text-align: center;
	margin: 0;
	border-top: 3px solid #fafafa;
	border-bottom: 1px solid #ECECEC
}
#tab .tab_box {
	width: 100%;
	height: auto;
	clear: both;
	top: 30px;
	position: relative
}
#tab .tab_menu .selected {
width: 106px;
	cursor: pointer;
	border-top: 3px solid #e23838;
	border-left: 1px solid #ECECEC;
	border-right: 1px solid #ECECEC;
	background: #fff;
	border-bottom: 1px solid #fff
}

.mmmore{ position:absolute; top:0px; right:0; width:108px; z-index:99}

.mmmore li{background: url(../images/down_icon.png) no-repeat 74px 19px; text-align:center; line-height:45px; border-bottom: 1px solid #ECECEC}

#menumore{ width:108px; position:absolute; z-index:9999; right:0; top:0; border-left:#ECECEC 1px solid; border-right:#ECECEC 1px solid; border-bottom:#ECECEC 1px solid; border-top: #e23838 3px solid; background:#fff; display:block}
#menumore dd{ width:108px; font-size:16px; text-align:center; float:left; display:block; line-height:42px; border-bottom:#FAFAFA 1px solid}
#menumore dd a:hover{  border:none; background:#fff; color:#e23838}
#menumore dd a{border:none; background:#fff; color:#000}
#menumore dd:last-child{ border:none}


#topmenu ul li{
 position:relative;
}
#topmenu ul li .menumore2{
 width:990px;
 position:absolute;
 top:18px;
 right:-6px;
 display:none;
 background:#fff;
 z-index:9999;
 padding-right:8px;
 color:#666
}
.menumore2 dd {
	float: right;
	margin-right: 11px;
	padding-right: 17px;
	font-size: 14px;
	background: url(../images/line.png) no-repeat;
	background-position: right center;
	line-height: 53px;
}
.menumore2 dd a {
	color: #666
}
.menumore2 dd a:hover {
	color: #f33
}
.menumore2 .last {
	font-size: 14px;
	background: none;
	margin: 0;
	padding: 0
}
.menumore3{ position:absolute; width:100%; top:40px; left:0; height:41px; border-bottom:#ededed 1px solid; z-index:999; background:#fff}

.hide {
	display: none;
}
.ad1 {
	position: relative
}
/*尾部*/
#footer {
	padding: 15px 0;
	margin-top: 25px;
	background: #262627;
}
#footer .foot {
	width: 1000px;
	margin: 0 auto;
	padding-top: 50px
}
.foot .ps {
	height: 120px;
	margin-bottom: 80px
}
.foot .ps .p {
	float: left
}
.foot .p1 {
	width: 333px;
	border-right: 1px solid #1D1B1C;
	height: 150px
}
.foot .p1 .bottom-logo-baidu {
	display: inline-block;
	width: 157px;
	height: 52px;
	margin-right: 15px;
	margin-bottom: 25px
}
.foot .p1 .bottom-logo-baijia {
	display: inline-block;
	width: 94px;
	height: 52px
}
.foot .p1 .bottom-logo-baijia img {
	width: 100%;
	height: 100%
}
.foot .p1 .t1 {
	font-size: 12px;
	margin-top: 6px;
	color: #fff;
	padding-left: 65px
}
.foot .p1 .t1 a {
	color: #fff
}
.foot .p2 {
	width: 585px;
	border-left: 1px solid #343333;
	padding: 0px 40px;
	height: 150px;
	text-align: left
}
.foot .p2 .t2 {
	color: #fff;
	font-size: 20px;
	margin-bottom: 40px
}
.foot .p2 li {
	display: inline-block;
	display: inline;
*zoom:1;
	width: 80px;
	text-align: left;
	margin-right: 10px;
	display: block;
	float: left
}
.foot .p2 li .isquare {
	width: 5px;
	height: 5px;
	background: #e70021;
	display: inline-block;
	margin-right: 10px;
	font-size: 0;
*display:none
}
.foot .p2 li a {
	color: #fff;
	font-size: 14px;
	line-height: 24px
}
.foot .p3 {
	text-align: center;
	width: 285px;
	border-left: 1px solid #343333;
	height: 150px
}
.foot .p3 img {
	border: 6px solid #fff;
	margin-bottom: 5px;
	width: 110px
}
.foot .p3 .t3 {
	color: #fff;
	font-size: 12px
}
#footer .site-info {
	font-size: 12px;
	color: #69696a;
	text-align: center;
	line-height: 19px;
	height: 19px;
	margin-bottom: 10px
}
#footer .site-info a, #footer .site-info span {
	padding: 0 3px;
	color: #69696a;
	line-height: 19px;
	display: inline-block;
	vertical-align: top
}
.ccc {
	width: 1000px;
	margin: 0 auto
}
.rank_img {
	background-color: #ECECEC
}
.rank_img img {
	width: 300px
}
.rank_img p {
	font-size: 14px;
	line-height: 40px;
	max-height: 40px;
	overflow: hidden;
	font-family: "微软雅黑";
	color: #333;
	text-align: center;
	padding: 0 14px
}
.rank_img li a {
	padding: 0 14px
}
.marginb15 {
	margin-bottom: 15px
}
.rank2 h1 {
	width: 100%;
	border-bottom: #000000 3px solid;
	padding-bottom: 10px;
	margin: 0 auto 10px;
	font-size: 18px;
	font-weight: normal
}
rank2 ul {
	list-style: none;
	padding: 0;
	margin: 0
}
.rank2 li {
	border-bottom: 1px solid #F0F0F4;
	line-height: 42px;
	height: 42px;
	text-align: left;
	font-size: 14px;
	float: left;
	width: 300px;
	overflow: hidden;
	list-style: none;
	padding: 0;
	margin: 0
}
.rank2 li a {
	color: #404040;
	text-decoration: none;
}
.picnews2 {
	display: block;
	width: 300px;
	height: 148px;
	overflow: hidden;
	background-size: cover;
}
.rank2 img.animation {
	-webkit-transition: all 400ms;
	-moz-transition: all 400ms;
	-ms-transition: all 400ms;
	-o-transition: all 400ms;
	transition: all 400ms;
}
.rank2 img.animation:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}
.ios{ color:#fff; background:#E94D3D; position:absolute; width:40px; height:40px; top:128px; left:135px; line-height:40px; font-size:16px;border-radius: 50px;-webkit-border-radius:50px;-moz-border-radius:50px; text-align:center}
.act_top{ position:relative; width:300px; height:auto;}
.ios{ color:#fff; background:#E94D3D; position:absolute; width:40px; height:40px; top:128px; left:135px; line-height:40px; font-size:16px;border-radius: 50px;-webkit-border-radius:50px;-moz-border-radius:50px; text-align:center}
.act_top img{ width:300px; height:148px; border:0}
.act_top h3 {display:block; overflow:hidden; height:50px;  padding:0px 10px  0 ; text-align:center;font: 14px/50px "Microsoft Yahei";}
.act_top a{ color:#333; font-size:20px;background:#F3F5F9; display:block}
.act_top a:hover{ color:#fff; font-size:20px; background:#E94D3D;}

.more{ border-bottom:1px solid #EAECEF; line-height:35px; text-align:center; height:35px;margin-bottom:10px}
.more a{ line-height:35px; color:#666; font-size:12px;}
.more a:hover{ color:#E94D3D}
.play {
	background: url(../images/play.png);
	width: 50px;
	height: 50px;
	background-size: 100%;
	position: absolute;
	top: 155px;
	left: 300px
}
.hidden-box {
	padding: 5px;
	background: #fff;
	border-top: 0;
	position: absolute;
	display: none;
	top: 30px;
	left: 9px;
	border-radius: 5px; z-index:999999
}
.hidden-box2 {
	padding: 5px;
	background: #fff;
	border-top: 0;
	position: absolute;
	display: none;
	top: 40px;
	left: 0px;
	border-radius: 5px
}
.padding-left75{ padding-left:100px; position:relative}

/*页码样式*/
div.page{padding:2px;margin:25px 7px 7px;font-family: 'Microsoft Yahei'; font-size:14px}
div.page a{padding:0.5em 0.64em 0.43em 0.64em;margin:2px;color:#DB1011;border:#DB1011 1px solid; border-radius:8px; text-decoration:none;}
div.page a:hover{padding:0.5em 0.64em 0.43em 0.64em;margin:2px;color:#fff;background-color:#de1818;}
div.page a:active{padding:0.5em 0.64em 0.43em 0.64em;margin:2px;color:#fff;background-color:#de1818;}
div.page span.current{padding:0.5em 0.64em 0.43em 0.64em;margin:2px;color:#6d643c;background-color:#f6efcc;}
div.page span.disabled{display:none;}

/*返回顶部*/
#gotop{height:200px;width:48px;z-index:9999;position:fixed;_position:absolute;right:20px; bottom:50px;}
#gotop li{ width:48px; height:48px; display:block; margin-bottom:2px}
#gotop li a{ width:48px; height:48px; display:block; color:#fff; background:#B7BAC5;text-align:center; line-height:48px}
#gotop li a:hover{ width:48px; height:48px; display:block; color:#fff; background:#e70021}
#gotop li .fudk{display:none; padding:10px; border:1px solid #F0F0F4; background-color:#fff }
#gotop li .fudk p{ padding-top:5px; line-height:22px; color:#666 }
#gotop li:hover .fudk{position:absolute;display:block;right:50px;top:0;z-index:9}

/*焦点图*/
.news_top{ width:675px; background:#F3F5F9; position:relative; height:332px}
.news_top_left{ position:absolute; z-index:9; top:0; left:0;width:675px;max-height:332px; overflow:hidden}
.news_top_left img{width:675px; max-height:332px}
.news_top_right{ position:absolute; z-index:99;left:0; width:675px; text-align:left; height:70px; bottom:-1px; background:url(../images/hbgtm.png) repeat-x top left; }
.news_top_right h1{ margin:0px 15px; padding-top:15px }
.news_top_right h1 a{color:#fff; font-family:"微软雅黑"; font-size:20px; font-weight:500}
.news_top_right h1 a:hover{color:#fff;text-decoration:none}



.newss_top{ width:575px; background:#F3F5F9; position:relative; height:283px}
.newss_top_left{ position:absolute; z-index:9; top:0; left:0;width:575px;max-height:283px; overflow:hidden}
.newss_top_left img{width:575px; max-height:283px}
.newss_top_right{ position:absolute; z-index:99;left:0; width:575px; text-align:left; height:70px; bottom:-1px; background:url(../images/hbgtm.png) repeat-x top left; }
.newss_top_right h1{ margin:0px 15px; padding-top:15px; line-height:24px; height:48px; overflow:hidden }
.newss_top_right h1 a{color:#fff; font-family:"微软雅黑"; font-size:20px; font-weight:500}
.newss_top_right h1 a:hover{color:#fff;text-decoration:none}


.ppll{ height:40px;line-height:40px; display:block}
.yds_wz{ text-align:center;  background:#E94D3D; color:#fff; display:block; width:60px ; float:left; height:40px;line-height:40px;}
.yds_sz{ background:#B7B7B7; color:#fff; display:block; width:200px; float:left; font-size:26px; text-indent:24px; height:40px;line-height:40px; }
.ppll2{ color:#999; font-size:14px; line-height:24px; margin-bottom:25px; margin-right:15px; overflow:hidden; height:72px }
.ppll3{ color:#999; font-size:12px; line-height:24px}

.jdtdm { width:675px; height:332px; margin:0px auto 25px; position: relative; overflow:hidden; margin-bottom: 15px; z-index:999 }
.jdtdms { width:575px; height:283px; margin:0px auto 25px; position: relative; overflow:hidden; margin-bottom: 15px; z-index:999 }

.jdtdm .num { overflow:hidden; height: 15px; position: absolute; bottom:15px; right: 10px; zoom:1; z-index:999; font-size:10px}
.jdtdm .num li { width: 15px; height: 15px; line-height: 15px; text-align: center; font-weight: 400; color: #FFFFFF; background: #B6B6B6; margin-right: 5px; border-radius:50%; -moz-border-radius: 50%; -webkit-border-radius: 50%;cursor:pointer; float: left; }
.jdtdm .num li.on { background: #e70021; } 

.jdtdm .prev,.jdtdm .next { display: none; width: 40px; height: 100px; background: url(../images/btn.png) no-repeat; position: absolute; top: 115px;}
.jdtdm .prev { left: 0; }
.jdtdm .next { right: 0; background-position: right }

/*订阅号*/
.dyhhead { width:1.2rem; height:1.2rem; border-radius:0.6rem; display:inline-block; background-color:#FFFFFF; background-repeat:no-repeat; background-size:100%; float:left;}
.dyhhead img { width:1.2rem; height:1.2rem; border-radius:1.2rem;  }
.dyhspan {height:1.2rem; line-height:1.2rem  }
#c_left .post span {
	margin-right: 0.4rem;
}
.f_card_b span{
	margin-right: 0.4rem;
	 
}
.f_card_b .dyhhead{
	 width:1.2rem; height:1.2rem; border-radius:0.6rem; display:inline-block; background-color:#FFFFFF; background-repeat:no-repeat; background-size:100%; float:left;
	 
}
.f_card_b .dyhhead img{
	width:1.2rem; height:1.2rem; border-radius:1.2rem; 
	 
}

#fixed{background-color:#444;width:100%; left:0;top:0;bottom:0;z-index:9999999; display:none}
#fixed dl{list-style:none;padding:0px;margin:0px; display:block; position:absolute;left:20px; top:0; width:90%}
#fixed dd{font-size:14px; font-family:'microsoft yahei'; float:left; display:block;padding:0 10px;}
#fixed a,#fixed a:link,#fixed a:visited{text-decoration:none;display:block;height:45px;color:#FFFFFF;text-align:center;line-height:45px;overflow:hidden;}
#fixed dd:hover{background-color: rgb(219, 16, 17) }
#open{ position:absolute; top:0px; right:10px; line-height:45px; cursor:pointer; background:url(../images/close.png) no-repeat center; background-size:100%; width:45px; height:100%}