html, body, div, span, applet, object, iframe, caption, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
h1, h2,h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	vertical-align: baseline;
	font-size: 100%;
	outline: 0;
	padding: 0;
	margin: 0;
	border: 0;
	}

:focus {
	outline: 0;
	}

body {
	background: white;
	line-height: 1;
	color: black;
	overflow-y: scroll; overflow-x: auto;
	box-sizing : border-box ;
}

ol, ul {
	list-style: none;
	}

/* tables still need cellspacing="0" in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
	}
caption, th, td {
	font-weight: normal;
	text-align: left;
	}

/* remove possible quote marks (") from <q> & <blockquote> */
blockquote:before, blockquote:after, q:before, q:after {
	content: "";
	}

blockquote, q {
	quotes: "" "";
	}	
/* ||| the end |||*/		

html {
/*	height: 100%; */
	margin-bottom: 1px;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
}

a {
	font: normal 11px Verdana, Arial, Helvetica, sans-serif;
	outline: none;
	cursor: pointer;
}

img {
	border: none;
	text-decoration: none;
}

a:link,
a:visited,
a:active {
	text-decoration: none;
	color: #07519a;
}

a:hover {
	text-decoration: none;
}

ul {
	padding: 0 0 0 2px;
	margin: 0;
	margin-left: 1px;
	list-style: none;
}

ul li {
	padding-left: 10px;
	line-height: 170%;
}

ol li {
	line-height: 170%;
}

fieldset {
	border: 0;
	padding: 5px 0;
}

h1 {
	font-size: 200%;
}

h2 {
	font-size: 155%;
}

h3 {
	font-size: 125%;
}

h4 {
	font-size: 100%;
}

h5 {
	font-size: 120%;
}

h6 {
	font-size: 110%;
}

th {
	padding: 4px;
	text-align: left;
}
fieldset {
	border: none;
}
fieldset a {
	font-weight: bold;
}
input,
select {
	font: normal 11px Tahoma, Geneva, Arial, Verdana, sans-serif;
}
hr {
	border-top: 1px solid #f9f9f9;
	border-right: 0;
	border-left: 0;
	border-bottom: 0;
	height: 1px;
}
.clearfix {
	clear: both;
}

#mainbody {
	font: normal 11px Tahoma, Geneva, Arial, Verdana, sans-serif;
	background-color: #505050 ;
	height: 100%;
}
div.titlebanner{
  margin: 0 auto ;
  text-align: center ;
  width:900px;
  margin:0 auto;
  padding-top:0px;
}

td.searchband{  
  width: 988px ;
  text-align: right ;
  vertical-align: middle ;
  padding: 2px ;
}

td.imageband{  
  width: 988px ;
  vertical-align: top ;
  background-color: #404040 ;
  padding: 15px 10px 15px 10px ;
  text-align: center ;
  border : 1px solid black ;
  min-height : 200px ;
  max-width : 990px ; 
}

.grayed{
  color: #888888 ;
  font-weight: 600 ;
}
.ltgrayed{
  color: #AAAAAA ;
  font-weight: 600 ;
}

.ltreded{
  color: #FF5050 ;
  font-weight: 600 ;
}

.ltblued2{
  color: #0BF3EF ;
  font-weight: 600 ;
}
.greened{
  color: #10AA10 ;
  font-weight: 600 ;
}
.reded{
  color: #AA1010 ;
  font-weight: 600 ;
}
.blued{
  color: #1010AA ;
  font-weight: 600 ;
}
.ltblued{
  color: #22588A ;
  font-weight: 600 ;
}
div.voteinfo{
  padding-top: 5px ;
  padding-right: 16px ;
  font-size: 50% ;
  color: #FFFFFF ;
  height: 25px ;
  text-align: right ;
  float: right ;
}
a.voteinfo{
  font: normal 11px Verdana, Geneva, Arial, sans-serif;
  font-size: 103% ;
  padding-top: 7px ;
  color: #FFFFFF ;
  height: 25px ;
  text-decoration: none ;
}
a.loginlink{
  font: normal 11px Verdana, Geneva, Arial, sans-serif;
  font-size: 103% ;
  font-weight: 600 ;
  padding-top: 7px ;
  color: #FFFFFF ;
  height: 25px ;
  text-decoration: none ;
}
loginlink{
  font: normal 11px Verdana, Geneva, Arial, sans-serif;
  font-size: 103% ;
  font-weight: 600 ;
  padding-top: 7px ;
  color: #FFFFFF ;
  height: 25px ;
  cursor : pointer ;
  text-decoration: none ;
}
div.imageinfo{
  padding-top: 5px ;
  padding-left: 16px ;
  font-size: 50% ;
  color: #FFFFFF ;
  height: 25px ;
  text-align: left ;
  float: left ;
}


td.rightalign{
  text-align: right ;
  font-size: 110% ;
  text-transform: capitalize ;
}

td.rightalign1{
  text-align: right ;
  font-size: 110% ;
}

.catlist{
  background-color: #000000 ;
  border : 1px solid gray ;
  display : block ;
  height : 440px ;
  padding : 0px 0px 0px 0px ;
  margin : 0px 0px 0px 0px ;
  outline-style : none ;
  position : absolute ;
  width : 170px ;
  overflow : hidden ;
  z-index: 100 ;
  word-spacing : 3px ;
}
.catlist:hover{
  display : block ;
}

ul.catlist{
  overflow : hidden ;
  padding : 0px ;
  list-style-type: none ;
  color: white ;
  text-align : left ;
  font-size : 110% ;
  vertical-align : middle ;
}
li.catlist{
  border : 0px ;
  position : relative ;
  height : 30px ;
  overflow : visible ;
  list-style-type : none ;
  color : white ;
  vertical-align : middle ;  
  font-weight : bold ;
}
li.catlist:hover{
  color : black ;
  background-color : gray ;
}
a.catlist{
  font: normal 11px Tahoma, Verdana, Arial, Helvetica, sans-serif;
  border : 0px ;
  overflow : hidden ;
  color : white ;
  font-size: 100% ;
  font-weight : 600 ;
  text-decoration : none ;
  height : 30px ;
  padding-top: 7px ;
  padding-left: 3px ;
}
a.catlist:hover{
  color : black ;
  background-color : gray ;
}





.comdiv{
  width : 866px ;
  vertical-align: top ;
  margin: 0px 45px 0px 45px ;
  padding: 5px 5px 5px 5px ;
  text-align: right ;
  border : 1px solid black ;
}
.comment{
  width: 866px ;
  vertical-align: top ;
  background-color: #303030 ;
  margin: 0px 0px 0px 0px ;
  padding: 5px 5px 5px 5px ;
  text-align: center ;
  border : 1px solid black ;
}
.comuser{
  text-align: left ;
  font-size: 150% ;
  color: #909090 ;
  line-height : 20px ;
}
.comocena{
  line-height : 20px ;
  text-align: right ;
  vertical-align: middle ;
  color: #909090 ;  
}
.comdate{
  color: #909090 ;
}
.comtext{
  padding-top: 10px ;
  font-size: 125% ;
}
.pagenb{
  display : inline-block ;
  width : 20px ;
  height : 18px ;
  color : #E0E0E0 ;
  border : 1px solid #000000 ;
  text-align : center ;
  vertical-align : middle ;
  font: bold 12px Arial, Verdana, Helvetica, sans-serif;
  margin-left : 3px ;
  padding-left : 3px ;
}
a.pagenbl{
  color : #E0E0E0 ;
  font: bold 12px Arial, Verdana, Helvetica, sans-serif;
  text-decoration: none ;
}
a.pagenbl:visited {
  color : #E0E0E0 ;
}
a.pagenbl:hover{
  color : #FF8300 ;
}
.pagenbina{
  display : inline-block ;
  width : 20px ;
  height : 18px ;
  color : #A0A0A0 ;
  border : 1px solid #000000 ;
  text-align : center ;
  vertical-align : middle ;
  font: bold 12px Arial, Verdana, Helvetica, sans-serif;
  margin-left : 3px ;  
  padding-left : 3px ;  
}
.pagenbletter{
  position: relative ;
  top: 2px ;
}
.sortlist{
  background-color: #000000 ;
  border : 1px solid gray ;
  display : block ;
  height : 400px ;
  padding : 0px 0px 0px 0px ;
  margin : 0px 0px 0px 0px ;
  outline-style : none ;
  position : absolute ;
  width : 220px ;
  overflow : hidden ;
  z-index: 100 ;
  word-spacing : 3px ;
}

ul.sortlist{
  overflow : hidden ;
  padding : 0px ;
  list-style-type: none ;
  color: white ;
  text-align : left ;
  font-size : 110% ;
  vertical-align : middle ;
}
li.sortlist{
  border : 0px ;
  position : relative ;
  height : 30px ;
  overflow : visible ;
  list-style-type : none ;
  color : white ;
  vertical-align : middle ;  
  font-weight : bold ;
}
li.sortlist:hover{
  color : black ;
  background-color : gray ;
}
a.sortlist{
  font: normal 11px Tahoma, Verdana, Arial, Helvetica, sans-serif;
  border : 0px ;
  overflow : hidden ;
  color : white ;
  font-size: 100% ;
  font-weight : 600 ;
  text-decoration : none ;
  height : 30px ;
  padding-top: 7px ;
  padding-left: 3px ;
}
a.sortlist:hover{
  color : black ;
  background-color : gray ;
}
.listspan{
  position:relative;
  top:0px;
  left:3px;
  cursor:pointer;
  display:block;
  height:30px;
  padding-top:4px;
}  

div.nkfpanel{
  display : block ;
  height : 400px ;
  padding : 0px 0px 0px 0px ;
  margin : 0px 0px 0px 0px ;
  outline-style : none ;
  position : fixed ;
  overflow : hidden ;
  z-index: 100 ;
  word-spacing : 3px ;
  float: right ;
}
