@charset "utf-8";

/* RESET
 ============================================================ */
* { font-style: normal;}
html { overflow-y: scroll;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td { margin: 0; padding: 0;}
table { border-collapse: collapse; border-spacing: 0;}
fieldset, img { border: 0;}
address, caption, cite, code, dfn, em, strong, th, var, optgroup { font-style: inherit; font-weight: inherit;}
del, ins { text-decoration: none;}
li { list-style: none;}
caption, th { text-align: left;}
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: bold;}
small { font-size: 100%; font-weight: normal;}
img { vertical-align: middle;}
q:before, q:after { content: '';}
abbr, acronym { border: 0; font-variant: normal;}
sup { font-size: 60%; vertical-align: super; }
sub { font-size: 60%; vertical-align: sub; }
legend { color: #000;}
input, button, textarea, select, optgroup, option { font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit;}
a { outline: 0;}
strong { font-weight: bold;}
/* RESET HTML5 */
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; font: inherit; vertical-align: baseline;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block;}

/* Base
 ============================================================ */
body { text-align: center; background-color: #fff; color: #1a1a1a; font: 15px/1.6 Helvetica, 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', HirakakuProN-W3, sans-serif; -webkit-text-size-adjust: 100%;}
a { -webkit-touch-callout: none;}
a:link,
a:visited { color: #2F6BE6; text-decoration: underline;}
a:hover,
a:active { color: #2F6BE6; text-decoration: none;}
a img { vertical-align: bottom;}

/* module
 ============================================================ */
input,
select { font-size: 16px;}
.skip { position: absolute; left: -9999px;}
.left { float: left; display: inline;}
.right { float: right; display: inline;}
.note { font-size: 75%; line-height: 1.2;}
.caption { margin-top: 9px; font-size: 75%; line-height: 1.2;}
.b { font-weight: bold;}
.morebtn { text-align: right;}
.url { word-wrap: break-word;}

.sp01 { margin-top: 10px;}
.sp02 { margin-top: 20px;}
.sp03 { margin-top: 30px;}
.sp04 { margin-top: 40px;}
.sp05 { margin-top: 60px;}
.spb01 { padding-bottom: 10px;}
.spb02 { padding-bottom: 20px;}
.spb03 { padding-bottom: 30px;}
.spb04 { padding-bottom: 40px;}
.spb05 { padding-bottom: 60px;}

.grid01 { width: 100%;}
.grid02.grid1.left { width: 770px;}
.grid02.grid1.right { width: 190px;}
.grid02.grid2.left { width: 640px;}
.grid02.grid2.right { width: 300px;}
.grid021leftwrap,
.grid022leftwrap { margin: 0;}

/* page top */
.infoArea {border-top: 1px #CCCCCC solid; border-bottom: 1px #CCCCCC solid; margin: 0 auto; padding: 8px 24px; font-weight: bold; }

.title { padding: 14px 0 20px; font-size: 186.7%;}
h3.ttl { margin: 25px 0 4px;}
h3.ttl02 { margin: 0 0 4px;}
.links li { border-top: 1px solid #e6e6e6;}
.links a { display: block; padding: 7px 0 7px; color: #1a1a1a; line-height: 1.4; text-decoration: none;}
.links a:hover { background-color: #e6e6e6;}
ul.links a { padding-left: 12px; background: url(/image/pc/ico_ar.png) no-repeat 0 -185px;}
ol.links li a span { display: block; float: left; display: inline; padding-right: 12px;}
.links li .time { font-size: 73.3%;}

.disclist { zoom: normal; padding-left: 1.5em;}
.disclist li { zoom: normal; list-style: disc;}
.numlist { zoom: normal; padding-left: 1.5em;}
.numlist li { zoom: normal; list-style: decimal outside;}

.anchorwrap { position: relative; display: none;}
.anchorwrap .anchor_select { display: none;}
.anchor li a { float: left; display: block; margin-right: 20px; padding: 5px 0 6px 19px; background: url(/image/pc/ico_ar.png) no-repeat 0 -140px; text-decoration: none; font-weight: bold;}
*+html .anchor li a { float: none;}
.anchor li a:link,
.anchor li a:visited { border-top: 1px solid #b3b3b3; color: #b2b2b2;}
.anchor li a:hover,
.anchor li a:active,
.anchor li.current a { border-top: 1px solid #1a1a1a; color: #1a1a1a; background-position: 0 -90px;}
.anchor li a span { font-weight: normal;}

#snsLinks li { float: left; display: inline;}
#snsLinks li a { display: block; text-indent: -9999px; height: 40px; width: 40px; margin-right: 10px; background: url(/image/pc/ico_sns.gif) no-repeat;}
#snsLinks .fb a { background-position: 0 0;}
#snsLinks .fb a:hover { background-position: -50px 0;}
#snsLinks .tw a { background-position: 0 -50px;}
#snsLinks .tw a:hover { background-position: -50px -50px;}
#snsLinks .gp a { background-position: 0 -100px;}
#snsLinks .gp a:hover { background-position: -50px -100px;}
#snsLinks .li a { background-position: 0 -150px; margin-right: 0;}
#snsLinks .li a:hover { background-position: -50px -150px;}

.pagination { overflow: hidden; position: relative; padding: 40px 0;}
.pagination ul { position: relative; left: 50%; float: left; margin-right: 20px;}
.pagination li { position: relative; left: -50%; float: left; display: inline; margin-left: 20px;}
.pagination li.prev { margin-right: 20px;}
.pagination li.next { margin-left: 40px;}
.pagination li a,
.pagination li span { text-align: center; display: block; width: 38px; line-height: 38px; font-weight: bold; text-decoration: none; border-radius: 3px; -o-border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px;}
.pagination li a { border: 1px solid #ccc; color: #000;}
.pagination li a:hover { border: 1px solid #000;}
.pagination li span { border: 1px solid #000; background-color: #000; color: #fff;}
.pagination li.prev a,
.pagination li.prev span { padding: 0 12px 0 28px; background: url(/image/pc/ico_pagination.png) no-repeat 0 -52px;}
.pagination li.next a,
.pagination li.next span { padding: 0 28px 0 12px; background: url(/image/pc/ico_pagination.png) no-repeat 100% 0;}

#loading,
.loading { text-align: center; background: url(/image/loading.gif) no-repeat center center;}

/* base layout
 ============================================================ */
.bodyWrap { padding: 0 20px;}
#contentArea { zoom: 1; text-align: left; overflow: hidden; position: relative; width: 980px; margin: 0 auto;}

#hdMenu { position: absolute; top: 0; left: 0;}
#hdMenu .trigger a { display: block; text-indent: -9999px; width: 40px; height: 40px; background: url(/image/pc/ico_ar.png) no-repeat 0 10px;}
#hdMenu .trigger a:hover { background-position: 0 -40px;}
#searchArea { position: relative;}
#searchArea form { position: absolute; top: 0; right: 0;}
#searchArea input,
#searchArea select,
.customSelect { float: left; display: inline; width: 120px; height: 40px; margin-top: 10px; border: 1px solid #1a1a1a; cursor: pointer; border-radius: 3px; -o-border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -webkit-appearance: none; box-sizing: border-box;}
#searchArea input#search_input { width: 472px; margin-right: 10px; padding-right: 10px; padding-left: 10px; cursor: default; box-sizing: border-box;}
.ie8 #searchArea input#search_input { padding: 10px;}
#searchArea .selectwrap { position: relative; float: left; display: block; width: 120px;}
#searchArea select { left: 0;}
.customSelect { padding: 8px 10px; background: #1a1a1a url(/image/pc/ico_ar.png) no-repeat 86% -238px; color: #fff; font-weight: bold; box-sizing: border-box;}
#searchArea input.searchbtn { height: 40px; margin-left: 20px; background-color: #1a1a1a; color: #fff; font-weight: bold;}
#searchArea input.searchbtn:hover,
.customSelect.customSelectHover { border: 1px solid #808080; background-color: #808080;}

.easy-select-box { zoom: 1; position: relative; float: left; display: inline; width: 120px; height: 40px; margin-top: 10px;}
.easy-select-box .esb-dropdown{ position: absolute; top: 100%; left: 0; z-index: 99; display: none;}
.easy-select-box .esb-displayer{ width: 100px; height: 38px; padding: 0 10px; line-height: 38px; background: #1a1a1a url(/image/pc/ico_ar.png) no-repeat 86% -238px; color: #fff; font-weight: bold; border: 1px solid #1a1a1a; cursor: pointer; border-radius: 3px; -o-border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px;}
.easy-select-box:hover .esb-displayer{ border: 1px solid #808080; background-color: #808080;}
.easy-select-box .esb-dropdown{ overflow: auto; width: 118px; max-height: 200px; border: 1px solid #ccc; background: #fff;}
.easy-select-box .esb-dropdown .esb-item{ padding: 3px; background: #fff; color: #0c2245; cursor: default;}
.easy-select-box .esb-dropdown .esb-item:hover{ background: #3399ff; color: #fff; text-decoration: none;}

#hdWrap .search_inputwrap { margin-right: 0;}
#hdWrap #searchArea form { width: 742px;}
#hdWrap #search_input { width: 742px;}
#hdMenuCont { z-index: 999; text-align: left; display: none; position: absolute; top: 0; left: -320px; width: 299px; padding-left: 20px; border-right: 1px solid #e6e6e6; background-color: #fff; font-size: 86.7%;}
#hdMenuCont .box { padding: 6px 0 26px;}
#hdMenuCont #hdTodayWord.box { padding-right: 20px;}
#hdTodayWord h2 { padding-bottom: 7px;}
#hdTodayWord p { line-height: 1.3;}
#hdTodayWord p.more,
#hdNav .links { margin-top: 5px;}
#hdNav .links li { border-top: 0;}
#hdNav .links li a { padding: 0 0 0 12px; background-position: 0 -190px; line-height: 2; font-weight: bold;}
#hdNav .links li.ft a { font-weight: normal;}
#hdBtn h3 { padding-bottom: 10px;}
#hdBtn a { display: block; text-indent: -9999px; width: 136px; height: 39px; background: url(/image/pc/bt_app.gif) no-repeat 0 0;}
#overlay { z-index: 900; display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: #fff; opacity: 0.1; filter: alpha(opacity=10);}

#ftWrap { background-color: #1a1a1a; font-size: 73.3%; color: #fff;}
#ftWrap .bodyWrap { padding: 0 20px;}
#ftWrap .inner { zoom: 1; text-align: left; overflow: hidden; position: relative; width: 100%; max-width: 1020px; margin: 0 auto; padding: 38px 0; background-color: #1a1a1a;}
#sponsor { float: left; display: inline;}
#sponsor li { float: left; display: inline; height: 30px; margin-right: 20px;}
#sponsor li a { display: block; text-indent: -9999px; background: url(/image/pc/logo_ft.png) no-repeat;}
#sponsor a.spoa { width: 98px; height: 30px; background-position: 0 0;}
#sponsor a.spoy { width: 109px; height: 20px; background-position: 0 -50px;}
#sponsor a.spov { width: 115px; height: 26px; background-position: 0 -100px;}
#ftWrap .menu { float: right; display: inline;}
#ftWrap .menu li { float: left; display: inline; margin-left: 20px;}
#ftWrap .menu li a { color: #fff; font-weight: bold;}
#copyright { clear: both; padding-top: 30px; color: #808080;}
#copyright a.spoy { display: none;}

/* media
 ============================================================ */
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 641px) {
	ul.links a,
	.anchor li a,
	#hdMenu .trigger a,
	.customSelect { background-image: url(/image/pc/ico_ar@2x.png); -webkit-background-size: 50px 300px; -moz-background-size: 50px 300px; background-size: 50px 300px;}
	#snsLinks li a { background-image: url(/image/pc/ico_sns@2x.gif); -webkit-background-size: 100px 200px; -moz-background-size: 100px 200px; background-size: 100px 200px;}
	.pagination li.prev a,
	.pagination li.prev span,
	.pagination li.next a,
	.pagination li.next span { background-image: url(/image/pc/ico_pagination@2x.png); -webkit-background-size: 50px 100px; -moz-background-size: 50px 100px; background-size: 50px 100px;}
	#hdBtn a { background-image: url(/image/pc/bt_app@2x.gif); -webkit-background-size: 136px 39px; -moz-background-size: 136px 39px; background-size: 136px 39px;}
	#sponsor li a { background-image: url(/image/pc/logo_ft@2x.png); -webkit-background-size: 150px 200px; -moz-background-size: 150px 200px; background-size: 150px 200px;}
}
@media only screen and (max-width: 1020px) {
	.winpc #contentArea { width: 100%;}
	.winpc #hdWrap #searchArea { margin-left: 238px;}
	.winpc #hdWrap #searchArea form { width: 100%;}
	.winpc #hdWrap .search_inputwrap { margin-right: 270px;}
	.winpc #hdWrap #searchArea input#search_input { width: 100%;}
	.winpc .grid021leftwrap { margin-right: 200px;}
	.winpc .grid02.grid1.left { width: 100%;}
	.winpc .grid022leftwrap { margin-right: 340px;}
	.winpc .grid02.grid2.left { width: 100%;}
}
@media only screen and (max-width: 940px) {
	.pagination ul { margin-right: 10px;}
	.pagination li { margin-left: 10px;}
	.pagination li.prev { margin-right: 10px;}
	.pagination li.next { margin-left: 20px;}
}
@media only screen and (max-width: 840px) {
	.pagination ul { margin-right: 0;}
	.pagination li { margin-left: 0;}
	.pagination li.prev { margin-right: 0;}
	.pagination li.next { margin-left: 0;}
}
@media only screen and (max-width: 660px) {
	body.winsp,
	.winsp input,
	.winsp select { font-size: 30px;}
	.winsp .grid02.grid1.left,
	.winsp .grid02.grid1.right,
	.winsp .grid02.grid2.left,
	.winsp .grid02.grid2.right { float: none; display: block; width: auto;}
	.winsp #contentArea { width: 100%;}
	.winsp #contentArea .title { text-indent: 0; height: auto; padding-left: 20px; padding-right: 20px; background: none; font-size: 140%;}
	.winsp ul.links a { padding-left: 24px; background: url(/image/sp/ico_ar.png) no-repeat 0 -180px;}
	.winsp .anchorwrap .anchor_select { display: block; -webkit-appearance: menulist-button; position: absolute; opacity: 0; width: 100%; height: 100px; cursor: pointer;}
	.winsp .anchor { width: 100%; height: 100px; line-height: 100px; vertical-align: middle;}
	.winsp .anchor li { display: none;}
	.winsp .anchor li a { display: block; width: 100%; margin-right: 0; padding: 0 20px; background: #1a1a1a url(/image/sp/ico_ar.png) no-repeat 95% -265px; text-decoration: none; box-sizing: border-box;}
	.winsp .anchor li.current { display: block;}
	.winsp .anchor li a:link,
	.winsp .anchor li a:visited { border-top: 0; color: #fff;}
	.winsp .anchor li a:hover,
	.winsp .anchor li a:active,
	.winsp .anchor li.current a { border-top: 0; color: #fff; background-position: 95% -265px;}
	.winsp #snsLinks li a { height: 60px; width: 60px; margin-right: 20px; background: url(/image/sp/ico_sns.gif) no-repeat;}
	.winsp #snsLinks .fb a { background-position: 0 0;}
	.winsp #snsLinks .fb a:hover { background-position: -75px 0;}
	.winsp #snsLinks .tw a { background-position: 0 -75px;}
	.winsp #snsLinks .tw a:hover { background-position: -75px -75px;}
	.winsp #snsLinks .gp a { background-position: 0 -150px;}
	.winsp #snsLinks .gp a:hover { background-position: -75px -150px;}
	.winsp #snsLinks .li a { background-position: 0 -225px;}
	.winsp #snsLinks .li a:hover { background-position: -75px -225px;}
	.winsp .pagination ul { margin-right: 10px;}
	.winsp .pagination li { margin-left: 10px;}
	.winsp .pagination li.prev { margin-right: 10px;}
	.winsp .pagination li.next { margin-left: 10px;}
	.winsp .pagination li a,
	.winsp .pagination li span { width: 1.3em; line-height: 1.5;}
	.winsp .pagination li.prev a,
	.winsp .pagination li.prev span,
	.winsp .pagination li.next a,
	.winsp .pagination li.next span { width: 3em; padding: 0; background-image: none;}

	.winsp .bodyWrap { padding: 0;}
	.winsp #hdMenu { top: 20px; left: 0;}
	.winsp #hdMenu .trigger a { width: 100px; height: 90px; background: url(/image/sp/ico_ar.png) no-repeat 20px 20px;}
	.winsp #hdMenu .trigger a:hover { background-position: 20px -54px;}
	.winsp #searchArea { margin-top: 36px;}
	.winsp #searchArea form { position: relative;}
	.winsp #searchArea .selectwrap,
	.winsp #searchArea select,
	.winsp .customSelect { display: none;}
	.winsp #searchArea input { float: none; display: block; width: 160px; height: 80px; margin-top: 0; border: 0; border-radius: 0; -o-border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -webkit-appearance: none;}
	.winsp #searchArea input#search_input { width: 100%; margin-right: 0; padding-right: 180px; padding-left: 20px; border-top: 1px solid #1a1a1a; border-right: 0; border-bottom: 1px solid #1a1a1a; border-left: 0;}
	.winsp #searchArea input.searchbtn { z-index: 30; position: absolute; top: 0; right: 0; width: 160px; height: 80px; margin-left: 0;}

	.winsp #hdWrap #searchArea form,
	.winsp #hdWrap #search_input { width: 100%; box-sizing: border-box;}
	.winsp #hdMenuCont .box { padding: 28px 0 26px; font-size: 73.3%;}
	.winsp #hdMenuCont #hdTodayWord { display: none;}
	.winsp #hdNav .links li a { padding: 0 0 0 12px; background-position: 0 -185px; line-height: 2; font-weight: bold;}
	.winsp #ftWrap .bodyWrap {}
	.winsp #sponsor { position: relative; left: 50%; float: none; display: block; width: 350px; margin-left: -160px;}
	.winsp #sponsor li { height: 44px;}
	.winsp #sponsor a,
	.winsp #copyright a.spoy { display: block; text-indent: -9999px; background: url(/image/sp/logo_ft.png) no-repeat;}
	.winsp #sponsor a.spoa { width: 142px; height: 44px; background-position: 0 0;}
	.winsp #sponsor li.spoy { display: none;}
	.winsp #sponsor a.spov { width: 160px; height: 36px; background-position: 0 -200px;}
	.winsp #ftWrap .menu { position: relative; left: 50%; float: none; display: block; width: 400px; margin-left: -180px; padding-top: 36px;}
	.winsp #ftWrap .menu li { padding-bottom: 40px;}
	.winsp #copyright { line-height: 1.4;}
	.winsp #copyright a.spoy { position: relative; float: left; width: 58px; height: 36px; margin: 0 5px 3px 0; background-position: 0 -100px;}
}
@media only screen and (max-width: 500px) {
	body.winsp,
	.winsp input,
	.winsp select { font-size: 15px;}
	.winsp input,
	.winsp select { font-size: 16px;}
	.winsp #contentArea .title { padding-left: 10px; padding-right: 10px;}
	.winsp ul.links a { padding-left: 12px; background: url(/image/sp/ico_ar.png) no-repeat 0 -90px; -webkit-background-size: 50px 200px; -moz-background-size: 50px 200px; background-size: 50px 200px;}
	.winsp .anchorwrap .anchor_select { height: 50px;}
	.winsp .anchorwrap .anchor { height: 50px; line-height: 50px;}
	.winsp .anchorwrap .anchor li a { padding: 0 10px; background: #1a1a1a url(/image/sp/ico_ar.png) no-repeat 95% -133px; -webkit-background-size: 50px 200px; -moz-background-size: 50px 200px; background-size: 50px 200px;}
	.winsp #snsLinks li a { height: 30px; width: 30px; margin-right: 10px; background: url(/image/sp/ico_sns.gif) no-repeat; -webkit-background-size: 75px 150px; -moz-background-size: 75px 150px; background-size: 75px 150px;}
	.winsp #snsLinks .fb a { background-position: 0 0;}
	.winsp #snsLinks .fb a:hover { background-position: -37px 0;}
	.winsp #snsLinks .tw a { background-position: 0 -37px;}
	.winsp #snsLinks .tw a:hover { background-position: -37px -37px;}
	.winsp #snsLinks .gp a { background-position: 0 -75px;}
	.winsp #snsLinks .gp a:hover { background-position: -37px -75px;}
	.winsp #snsLinks .li a { background-position: 0 -113px;}
	.winsp #snsLinks .li a:hover { background-position: -37px -113px;}
	.winsp .pagination ul { margin-right: 5px;}
	.winsp .pagination li { margin-left: 5px;}
	.winsp .pagination li.prev { margin-right: 5px;}
	.winsp .pagination li.next { margin-left: 5px;}

	.winsp #hdMenu { top: 10px;}
	.winsp #hdMenu .trigger a { width: 50px; height: 45px; background: url(/image/sp/ico_ar.png) no-repeat 10px 10px; -webkit-background-size: 50px 200px; -moz-background-size: 50px 200px; background-size: 50px 200px;}
	.winsp #hdMenu .trigger a:hover { background-position: 10px -27px;}
	.winsp #searchArea { margin-top: 18px;}
	.winsp #searchArea input { width: 80px; height: 40px;}
	.winsp #searchArea input#search_input { padding-right: 90px; padding-left: 10px;}
	.winsp #searchArea input.searchbtn { width: 80px; height: 40px;}

	.winsp #hdMenuCont { left: -210px; width: 199px; padding-left: 10px;}
	.winsp #hdMenuCont .box { padding: 14px 0 13px;}
	.winsp #hdNav .links li a { padding: 0 0 0 10px; background-position: 0 -92px;}
	.winsp #ftWrap .bodyWrap { padding: 0 10px;}
	.winsp #ftWrap .inner { padding: 20px 0 18px;}
	.winsp #sponsor { width: 175px; margin-left: -80px;}
	.winsp #sponsor li { height: 22px; margin-right: 10px;}
	.winsp #sponsor a,
	.winsp #copyright a.spoy { background: url(/image/sp/logo_ft.png) no-repeat; -webkit-background-size: 100px 150px; -moz-background-size: 100px 150px; background-size: 100px 150px;}
	.winsp #sponsor a.spoa { width: 71px; height: 22px;}
	.winsp #sponsor a.spov { width: 80px; height: 18px; background-position: 0 -100px;}
	.winsp #ftWrap .menu { left: 50%; width: 200px; margin-left: -90px; padding-top: 18px;}
	.winsp #ftWrap .menu li {  margin-left: 10px; padding-bottom: 20px;}
	.winsp #copyright { padding-top: 20px;}
	.winsp #copyright a.spoy { width: 29px; height: 18px; margin-top: 0; background-position: 0 -50px;}
}

/* clear
 ============================================================ */
.cf,
.snslink, .anchor, .pagination,
#hdWrap, #searchArea, #ftWrap .menu, #sponsor { zoom: 1;}

.cf:after,
.snslink:after, .anchor:after, .pagination:after,
#hdWrap:after, #searchArea:after, #ftWrap .menu:after, #sponsor:after { content: "."; display: block; height: 0; clear: both; visibility: hidden;}
