@charset "utf-8";

/* Base
 ============================================================ */
body { background-color: #f3f3f3;}

/* module
 ============================================================ */
#snsLinks { position: absolute; top: 10px; right: 20px;}
#snsLinks li a { height: 20px; width: 20px; background: url(/image/pc/top_ico_sns.gif) no-repeat;}

/* base layout
 ============================================================ */
.bodyWrap { padding: 0;}
#contentArea { max-width: 100%; min-width: 600px; padding: 0;}

#hdMenu { position: absolute; top: 0; left: 20px;}
#searchArea .search_inputwrap { float: left; display: inline;}
#searchArea input#search_input { width: 290px;}

/* ftWrap */
#ftWrap { background-color: #f3f3f3; color: #b2b2b2;}
#ftWrap .inner { width: 560px; padding: 0; background-color: #f3f3f3;}
#sponsor { padding: 50px 0 0 100px;}
#sponsor li a,
#copyright a.spoy { background: url(/image/pc/top_logo_ft.png) no-repeat;}
#sponsor a.spoy { width: 112px; height: 23px;}
#ftWrap .menu { display: none; }
#copyright { text-align: center; margin-top: 13px; padding-bottom: 5px;}
#copyright p.cf { text-align: left; margin-left: 135px;}

/* main
 ============================================================ */
/* mainArea */
#mainArea { width: 560px; height: 250px; margin: 0 auto;}
#toplogo { text-indent: -9999px; height: 65px; background: url(/image/pc/top_logo.png) no-repeat 50% 0;}
#mainArea .lead { text-align: center; margin-top: 35px; padding-bottom: 25px;}

/* media
 ============================================================ */
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 641px) {
	#snsLinks li a { background-image: url(/image/pc/top_ico_sns@2x.gif); -webkit-background-size: 100px 200px; -moz-background-size: 100px 200px; background-size: 100px 200px;}
	#toplogo { background-image: url(/image/pc/top_logo@2x.png); -webkit-background-size: 320px 65px; -moz-background-size: 320px 65px; background-size: 320px 65px;}
	#sponsor li a,
	#copyright a.spoy { background-image: url(/image/pc/top_logo_ft@2x.png); -webkit-background-size: 150px 200px; -moz-background-size: 150px 200px; background-size: 150px 200px;}
}
@media only screen and (max-width: 1020px) {
	.winpc #searchArea .search_inputwrap { float: none; display: block; margin-right: 280px;}
	.winpc #searchArea input#search_input { width: 100%;}
}
@media only screen and (max-width: 660px) {
	.winsp #snsLinks { display: none;}
	.winsp #contentArea { min-width: 100%;}
	.winsp #hdWrap { position: relative; padding-top: 28px;}

	.winsp #searchArea .search_inputwrap { float: none; display: block;}
	.winsp #searchArea input#search_input { width: 100%;}

	.winsp #toplogo { display: block; text-indent: -9999px; margin: 0 auto; width: 318px; height: 64px; background: url(/image/sp/logo.gif) no-repeat 0 0;}
	.winsp #ftWrap { background-color: #1a1a1a; font-size: 73.3%; color: #fff;}
	.winsp #ftWrap .inner { zoom: 1; text-align: left; overflow: hidden; position: relative; width: 100%; max-width: 1020px; margin: 0 auto; padding: 35px 0; background-color: #1a1a1a;}
	.winsp #sponsor { padding: 0;}
	.winsp #copyright { text-align: left; margin-top: 0; padding-bottom: 0;}
	.winsp #mainArea { width: 100%; min-height: 700px; padding-bottom: 60px;}
	.winsp #mainArea .lead { padding: 0 3px;;  font-size: 73.3%; line-height: 1.4;}
	.winsp #mainArea #hdTodayWord { padding: 36px 20px 0; font-size: 73.3%; line-height: 1.4;}
	.winsp #mainArea #hdTodayWord h2 { padding-bottom: 20px;}
	.winsp #mainArea #hdTodayWord p { font-size: 90.9%; line-height: 1.3;}
	.winsp #mainArea #hdTodayWord p.more,
	.winsp #hdNav .links { margin-top: 10px;}
	.winsp #copyright p.cf { margin-left: 0;}
}
@media only screen and (max-width: 500px) {
	.winsp #hdWrap { padding-top: 14px;}
	.winsp #toplogo { width: 159px; height: 32px; background: url(/image/sp/logo.gif) no-repeat 0 0; -webkit-background-size: 159px 32px; -moz-background-size: 159px 32px; background-size: 159px 32px;}
	.winsp #ftWrap .inner { padding: 18px 0;}
	.winsp #mainArea { min-height: 400px; padding-bottom: 30px;}
	.winsp #mainArea .lead { margin-top: 18px;}
	.winsp #mainArea #hdTodayWord { padding: 18px 10px 0;}
	.winsp #mainArea #hdTodayWord h2 { padding-bottom: 10px;}
	.winsp #mainArea #hdTodayWord p.more,
	.winsp #hdNav .links { margin-top: 5px;}
}
