﻿@charset "utf-8";
/* CSS Document 2016新版主網首頁_預設基礎框架 main 2016 version */

/* default frame setting */
*{ margin: 0; padding: 0;}
a, img{ border: none;}
a{ text-decoration: none; color: #1c59b5; outline: none;}
body{ font: 15px/1.62 "ITC Avant Garde Gothic","微軟正黑體", Verdana, Arial, Helvetica, sans-serif;padding-top:28px; overflow-x: hidden;}

.fa { display: inline-block;font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}
.fa-star:before {content: "\f005"; font-size: 14px;}

/*直播區塊*/
.liveVideo{ position: fixed; bottom: 0; right: 0; z-index: 999;  }
.liveVideo iframe{ display: block; }
.liveVideo .boxHeadline{ background: #4077c9; color: #fff; overflow: hidden; padding: 5px 10px; -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;    border-radius: 6px 6px 0 0;   }
.liveVideo .nameText{ float: left;  }
.liveVideo .closeVideo{ float: right; color: #fff;  }

/* basic style setting*/
.floatL{ float:left;}
.floatR{ float:right;}
.aliR{ text-align:right;}
.aliC{ text-align:center;}
.clearfix{ clear: both; float: none !important;}
.topLink{ height: 28px; background-color: #000;}
.maxW{ max-width: 1170px; width: 100%;}
.fullW{ width: 100%;}
.per22{ width: 22%;  width: 21% \9;}
.per34{ width: 34%; width: 32.5% \9;}
.fz16{ font-size: 16px !important;}
.w30{ width: 30%;}
.w33{ width: 33%;}
.w43{ width: 43%;}
.w48{ width: 47.5%;}
.w50{ width: 50%;}
.w70{ width: 70%;}
.w86{ width: 86%;}
.w91{ width: 91%;}
.mgt45{ margin-top: 45px;}
.mgl32{ margin-left: 32px;}
.mgb8{ margin-bottom: 8px !important;}
.mgb20{ margin-bottom: 20px;}
.mgrno{ margin-right: 0 !important;}
.btmline{ border-bottom: 1px solid #e7e7e7; padding-bottom: 8px;}
.btmline2{ border-bottom: 1px solid #e7e7e7; padding-bottom: 3px;}
.tbline{ border-bottom: 1px solid #e7e7e7; padding: 9px 0 5px}
.pdt8{ padding-top: 8px;}
.pdt6{ padding-top: 6px;}
.colgray{ color: #434343;}
.colpure{ color: #9a9a9a;}
.colblue{ color: #1c59b5 !important;}
.bggray{ /* background-color: #ececec; */}
.boxfloL{ width: 49.3%; float: left;}
.boxfloR{ width: 49.3%; float: right;}
.ulfloat{ width: 45%; float: left;}
.ulfloats{ width: 40%; float: left;}
.ulfloatmin{ /* min-height:60px; */}/*兩行高*/
.ulfloatcat{ min-height: 98px;}/*三行高*/
.defaultBlue{color: #1b81cf;}
.jbgray{ color: #6d6d6d;}
.linkmore{ font-size: 15px; float: right; margin-right: 20px;}
.linkmore:hover{ text-decoration: underline;}
.morebtnsub3AD{ float: right; text-align: right; margin-top: 12px;}
.morebtnsub3AD:hover{ text-decoration: underline;}
.smlgry{ font-size: 14px!important; color: #888;}
.minH{ min-height: 270px;}
.jbtitle{ font-size: 19px; color: #212121; font-weight: bolder; padding: 22px 10px 6px;}
.radius4{ -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;}
.radius5{ -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
.radius6{ -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px;}
.radius{ -webkit-border-radius: 7px; -moz-border-radius: 7px; border-radius: 7px;}
.radiusT{ -webkit-border-radius: 6px 6px 0 0; -moz-border-radius: 6px 6px 0 0; border-radius: 6px 6px 0 0;}
.boxsize{ -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.toplinkzone{ font-size: 13px !important;}
.bluec{ background-color: #2fa9cd;}
.w60{ width: 60%;}
.w37{ width: 37%;}

/* search form */
select, input, textarea{
    letter-spacing: 1px;
    vertical-align: middle;
	font: 16px/1.62 "ITC Avant Garde Gothic","微軟正黑體";
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
input[type="button"]{
    text-align: center;
    cursor: pointer;
}
input[type="text"], select{
    border: 1px solid #c2c2c2;
    padding: 0 10px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    box-shadow: 0 1px 2px #f3f3f3 inset;
    font-family: "微軟正黑體";
}
.categoryInputText{
	font-size: 16px !important;
	color: #000 !important;
    cursor: pointer;
    background-image: url(../images/jbank_arrow_down.png) !important;
    background-repeat: no-repeat;
    background-position: right center;
    border: 1px solid #999;
    vertical-align: middle;
}
.arrowInputTextGray{
    cursor: pointer;
    background-image: url(../images/jbank_arrow_down_blue.png);
    background-repeat: no-repeat;
    background-position: right center;
    border: 1px solid #999;
    vertical-align: middle;
}
.keywordBox,.areaBox,.careerBox,.worktBox,.teachBox{
	position: relative;
	display: block;
	float: left;
	padding-right: 10px;
}
.keywordBox .ico{
	display: block;
	position: absolute;
	top: 11px;
	left: 15px;
	font-size: 19px;
	color: #cacaca;
}
.keywordBox .delete{
    display: block;
    position: absolute;
    top: 9px;
    right: 18px;
    font-size: 19px;
    color: #cacaca;
}
.keywordBox .delete img{
    display: none \9;
}
.worktBox{
	display: none;
}
.teachBox{
	display: none;
}
.keywordBox input[type="text"],
.areaBox input[type="text"],
.careerBox input[type="text"],
.worktBox #worktime,
.teachBox input[type="text"]{
	width: 100%;
	padding: 0 \9;
}
/* button setting */
.logbtn{
    display: block;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #FFF;
    font-size: 16px;
    background-color: #4077c9;
    margin: 0;
    transition: all 500ms ease;
}
.logbtn:hover{
	background-color: #2e68bf;
}
.logbtnf{
    display: block;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #FFF;
    font-size: 16px;
    margin: 10px auto 8px;
    background-color: #4077c9;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    transition: all 500ms ease;
}
.logbtng{
    display: block;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #FFF;
    font-size: 16px;
    margin: 10px auto 8px;
    background-color: #0fb2d6;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    transition: all 500ms ease;
}
.logbtng:hover{
	background-color: #03a4c7;
}
.logbtnf:hover,
.logbtn:hover{
	background-color: #2e68bf;
}
.morebtn{ 
	display: block;
	height: 40px; 
	line-height: 40px; 
	letter-spacing: 5px;
	text-align: center; 
	background-color: #4077c9;
    color: #FFF;
    transition: all 500ms ease;
}
.morebtn:hover{
    background-color: #4077c9;
}
.jbbtn{
	display: block;
	float: left;
	font-size: 18px;
	color: #FFF;
	border: 1px solid #4077c9;
	line-height: 40px;
	text-align: center;
	background: #4077c9; 
    transition: all 500ms ease;
}
.jbbtn:hover{
	border-color: #2d66bc;
	background: #2d66bc; 
}
.catelist .list .title,
.rinfo .title{ 
	font-size: 19px; color: #484848; font-weight: bolder; line-height: 1.5;
}
#listSearchLog div:first-child{
	position: relative !important;
}
/* desktop setting start */
#mainwrap{
	position: relative;
	top: 28px;
}
header,
#mainwrap #content{
	max-width: 1170px;
	margin: 0 auto;
	min-height: 100px;
}
#mainwrap #content{
	padding: 20px 0;
}
header{
	position: relative;
}
header h1 a{
    z-index: 997;
    position: absolute;
    top: 25px;
    background: url(../images/2016logo.png) no-repeat;
    display: block;
    height: 60px;
    width: 190px;
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
}
header .scene{
	position: absolute;
	top: 0;
	left: 0;
	width: 1170px;
	height: 100px;
	line-height: 120px;
}
header .scene .ad{
    position: relative;
    display: inline-block;
    font-size: 22px;
    color: #332b2b;
    text-shadow: 0px 0px 0px #332b2b;
    margin: 0 20%;
    height: 100px;
    letter-spacing: 0.5px;
    z-index: 55;
}
header .scene .ad span{
	display: inline-block;
	width: 31px;
	height: 15px;
	background-image: url(../images/default_img.png);
    margin: 40px 8px 33px;
}
header .scene .ad a{
    display: inline-block;
    position: static;
    width: auto;
    max-width: 480px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
header .scene .ad .adicoL{
	background-position: 0 0;
}
header .scene .ad .adicoR{
	background-position: -38px 0;
}
header .scene a{
	position: absolute;
	max-width: 1170px;
	width: 1170px;
    line-height: 3.5;
    margin-top: 20px;
	display: block;
}
/* loginTab */
header .loginTab{
	display: block;
	float: left;
	width: 25%;
	float: right;
	max-width: 300px;
	height: 56px;
	position: absolute;
	right: 0;
	bottom: -1px;
}
header .loginTab li{
	width: 50%;
	float: left;
	width: 48% \9;
}
header .loginTab li a{
	display: block;
	width: 100%;
	font-size: 19px;
	line-height: 55px;
	color: #2b2b2b;
	text-align: center;
	transition: all 500ms ease;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}
header .loginTab li a.active{
	display: block;
	width: 100%;
	font-size: 19px;
	line-height: 55px;
	text-align: center;
	transition: all 500ms ease;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
	color: #FFF;
	background-color: #4077c9;
}
header .loginTab li a.activeg{
	display: block;
	width: 100%;
	font-size: 19px;
	line-height: 55px;
	text-align: center;
	transition: all 500ms ease;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
	color: #FFF;
	background-color: #0fb2d6;
}
header .loginTab li:last-child{
	margin-left: -1px;
}
header .loginTab li:first-child a:before{
	content: "";
    display: block;
    border-right: 1px solid #717171;
    width: 1px;
    height: 25px;
    float: left;
    margin-top: 15px;	
}
header .loginTab li a:after{
	content: "";
    display: block;
    border-right: 1px solid #717171;
    width: 1px;
    height: 25px;
    float: right;
    margin-top: 15px;
}
header .loginTab li:first-child a:hover:before,
header .loginTab li:first-child a:hover:after,
header .loginTab li:last-child a:hover:before,
header .loginTab li:last-child a:hover:after{
	border-color: transparent;
}
header .loginTab li a span{
	display: inline-block;
	margin: 0 5px;
	vertical-align: middle;
}
header .loginTab li a .welcome{
	display: inline-block;
    margin: 0;
    max-width: 105px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
header .loginTab li a .career,
header .loginTab li a .organ{
	width: 25px;
	height: 24px;
}
header .loginTab li a .career{
	background: url(../images/career.png) no-repeat 0 -2px;
}
header .loginTab li a .organ{
    background: url(../images/organ.png) no-repeat 0 -2px;
}
header .loginTab li a.active .career,
header .loginTab li a.active:hover .career,
header .loginTab li a:hover .career{
	background: url(../images/career_hover.png) no-repeat 0 -2px;
}
header .loginTab li a.activeg .organ,
header .loginTab li a.activeg:hover .organ,
header .loginTab li a:hover .organ{
    background: url(../images/organ_hover.png) no-repeat 0 -2px;
}
header .loginTab .userlog a:hover{
    color: #FFF;
    background-color: #4077c9;
}
header .loginTab .organlog a:hover{
    color: #FFF;
    background-color: #0fb2d6;
}
header #userbox{
    display: none;
    position: absolute;
    float: right;
    width: 25%;
    min-width: 250px;
    top: 100px;
    right: 0;
    z-index: 66;
    max-width: 300px;
    min-height: 200px;
    background-color: #333;
    border-top: 3px solid #4077c9;
    border-bottom: 3px solid #4077c9;
}
/*new*/
header #userbox .mastag,
header #organbox .mastag{
	display: block;
/* 	color: #dedede; */
	color: #dcc084;
	font-size: 17px;
	text-align: center;	
	line-height: 2.3em;
	transition: all 500ms ease;
}
header #userbox .mastag:hover,
header #organbox .mastag:hover{
    color: #d1b16b;
}
header #userbox dl dd ul,
header #organbox dl dd ul{
    width: 93%;
    margin: 10px 8px 0;
}
header #userbox dl dd ul li,
header #organbox dl dd ul li{
    list-style-type: none;
}
header #userbox dl dd ul li a,
header #organbox dl dd ul li a{
	display: block;
	color: #dedede;
	line-height: 2.3;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
header #userbox dl dd ul li a:hover,
header #organbox dl dd ul li a:hover{
	text-decoration: underline;
}
header #organbox dl dd ul li a span,
header #userbox dl dd ul li a span{
    width: 5px;
    height: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #FFF;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    margin-top: -3px;
}
header #userbox .otherq{
	display: block;
	color: #dedede;
	text-align: right;	
	margin-bottom: 10px;
	transition: all 500ms ease;
}
header #userbox .otherq:hover,
header #organbox .otherq:hover{
    color: #61b8fa;	
}


/**/
header .logindecstr{
	width: 86%;
    color: #b4b4b4;
    line-height: 2.6;
    margin: 10px auto 0px;
	border-bottom:solid 1px #555;
}
header .logindecstr a{
	color: #b4b4b4;
}
header .logindecstr span{margin-right:5px;}
header #userbox dl,header #organbox dl{
    width: 86%;
    color: #FFF;
    line-height: 2.2;
    margin: 10px auto 5px;
}
header #userbox dl dt{
	display: block;
	float: left;
	clear: both;
}
header #userbox dl dd{
	display: block;
	float: left;
}
header #userbox dl dd span{
	display: inherit;
	color: #8e8e8e;
	font-size: 14px;
	text-align: right;
}
header #userbox dl dd .publish{
    text-align: center;
    color: #ffc107;
    display: block;
    margin-top: 5px;
    height: 23px;
    font-size: 14px;
    letter-spacing: 0.5px;
}
header #userbox dl input[type="text"],
header #userbox dl input[type="password"],
header #organbox dl input[type="text"],
header #organbox dl input[type="password"]{
    width: 100%;
	border: 0;
    border-radius: 0;
    font-size: 15px;
    font-family: Arial,"微軟正黑體";
    padding: 2px 10px;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}
header #userbox dl .support{
	width: 100%;
	border-top: 1px solid #555;
	border-bottom: 1px solid #555;
	margin: 12px 0 15px;
	line-height: 2.5;
	color: #8e8e8e;
}
header #userbox dl .support .fotpw{
	display: inline-block;
	float: right;
	color: #8e8e8e;
}
header #userbox dl .support .fotpw:hover{
	color: #61b8fa;
}
header #userbox dl label{
	margin: 0 3px;
}
header #userbox dl .fbbtn{
	display: block;
	float: left;
	width: 91%;
	height: 35px;
	line-height: 35px;
	text-align: center;
	color: #8e8e8e;
	border: 2px solid #5d5e5f;
	margin: 15px 8px;
	font-family: "微軟正黑體";
	transition: all 500ms ease;
}
header #userbox dl .fbbtn span{
	display: inline-block;
	width: 11px;
	height: 22px;
	background: url(../images/default_img.png) no-repeat 0 -22px;
	vertical-align: middle;
	margin-right: 15px;
}
header #userbox dl .fbbtn:hover{
	color: #b2b2b2;
	border-color: #878787;
}
header #userbox dl input[type="text"],
header #userbox dl input[type="password"]{
    width: 100%;
	border: 0;
    border-radius: 0;
    font-size: 15px;
    font-family: Arial;
    padding: 2px 10px;
}
/*logout page*/
header #userbox .logout::after{
    content:'';
    display:block;
    height:0;
    visibility:hidden;
    clear:both;
}
header #userbox .logout .revise{
	/* margin-bottom: 15px; */	
    margin-bottom: 30px;
}
header #userbox .logout .revise a{
	font-size: 16px;
}
header #userbox dl dd .out{
	color: #8e8e8e;
}
header #userbox dl dd .out::before{
    display: block;
    content: "";
    width: 1px;
    height: 18px;
    float: left;
    background-color: #525252;
    margin: 8px 6px;
}
header #userbox .logout .logbtnf{
	margin-top: 15px;
    clear: both;
}
header .logout dt a,
header .logout dd a{
	color: #b4b4b4;
	font-size: 15px;
}
header .logout a:hover{
	color: #FFF;
}
header .logout span{
	margin: 0 5px;
}
header .logout dd.itm::before{
    display: inline-block;
    content: '';
    width: 7px;
    height: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    background-color: #afcce8;
    vertical-align: middle;
    margin: -2px 7px 0 0;
}
header #userbox dl .publish{
	text-align: center;
	color: #ffc107;
}
header #organbox dl .vip{
    font-size: 20px;
    color: #50c6d7;
    line-height: 1.0;
}
header #organbox dl .cpy{
	color: #FFF;
	font-size: 16px;
    border-bottom: 1px solid #555;
    margin-bottom: 5px;
}
header #organbox dl .cpy a{
    display: block;
    font-size: 16px;
    color: #8e8e8e;
    float: right;
}
header #organbox .logbtnf{
    display: block;
    clear: both;
    background-color: #0fb2d6;
}
/**/
header #organbox{
    display: none;
    position: absolute;
    float: right;
    width: 25%;
    min-width: 250px;
    top: 100px;
    right: 0;
    z-index: 66;
    max-width: 300px;
    min-height: 240px;
    background-color: #333;
    border-top: 3px solid #4077c9;
    border-bottom: 3px solid #0fb2d6;
}
header #organbox dl dt.ehr{
	position: relative;
	top: 2px;
	left: 7.5%;
	border: 1px solid #ffee5b;
	color: #ffee5b;
	font-size: 14px;
	width: 61%;
	line-height: 1.8;
	text-align: center;
	opacity: 0;
}
header #organbox dl dt.ehr:after, 
header #organbox dl dt.ehr:before{
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
header #organbox dl dt.ehr:after{
	border-color: rgba(85, 85, 85, 0);
	border-left-color: #343536;
	border-width: 7px;
	margin-top: -8px;
}
header #organbox dl dt.ehr:before{
	border-color: rgba(255, 238, 91, 0);
	border-left-color: #ffee5b;
	border-width: 8px;
	margin-top: -9px;
}
header #organbox .ehrlog a{
	display: block;
	position: absolute;
	right: 7%;
	top: 10px;
	width: 65px;
	height: 35px;
	text-indent: -9999px;
	background-image: url(../images/ehr_logo.png);
	background-repeat: no-repeat;
}
header #organbox .ehrlog a:hover{
	background-image: url(../images/ehr_logob.png);
}
header #organbox dl dt{
	display: block;
	float: left;
	clear: both;
	margin: 3px 0;
}
header #organbox dl dd{
	display: block;
	float: left;
}
header #organbox dl dt.ident{
	letter-spacing: 7.8px;
}
header #organbox dl .pickit{
    display: inline;
    color: #8e8e8e;
    line-height: 1.5;
    float: right;
    padding-left: 5px;
}
header #organbox dl .support{
	width: 100%;
	border-top: 1px solid #555;
	border-bottom: 1px solid #555;
	padding: 10px 0;
	line-height: 2.5;
	color: #8e8e8e;
}
header #organbox dl .publish,
header #organbox dl .fotpw{
	margin-bottom: 10px;
	display: block;
	color: #8e8e8e;
	line-height: 1.3;
}
header #organbox dl .publish{
	float: left;
	color: #ffc107;
}
header #organbox dl .fotpw{
	float: right;
	text-align: right;
}
header #organbox dl .fotpw:hover,
header #userbox dl dd .out:hover,
header #organbox dl .cpy a:hover{
	color: #61b8fa;
}
header #organbox dl dd .code{
	display: inline-block;
	max-width: 130px;
	max-height: 25px;
	overflow: hidden;
	float: right;
}
header #organbox dl dd .code img{
	width: 100%;
	height: auto;
}
header #userbox dl::after, 
header #organbox dl::after{
    content:'';
    display:block;
    height:0;
    visibility:hidden;
    clear:both;
}
/* #searchArea setting start */
#searchArea{
	width: 100%;
}
#searchArea ul.tabs{
    max-width: 1170px;
    margin: 0 auto;
	list-style: none;
	padding: 0;
}
#searchArea ul.tabs li{
	position: relative;
	display: block;
	float: left;
	color: #040506 !important;
	width: 6%;
	border: 2px solid transparent;
	margin: 6px 5px 0;
}
#searchArea ul.tabs li a{
	position: relative;
	display: inline-block;
	width: 100%;
	height: 30px;
	color: #040506;
	text-align: center;
	line-height: 30px;
	text-decoration: none;
	letter-spacing: 0.5px;
	font-size: 17px;
}
#searchArea ul.tabs:before{
	position: relative;
	left: -84px;
	top: 14px;
	display: inline-block;
	content: "";
	height: 20px;
	border-right: 1px solid #FFF;
	border-left: 1px solid #CCC;
	background-color: #000;
}
#searchArea ul.tabs li.nowtab,
#searchArea ul.tabs li.nowtab a{
	color: #1c59b5 !important;
}
#searchArea li .change{
	display: block;
	position: absolute;
	width: 18px;
	height: 20px;
	bottom: -18px;
	left: 38%;
	background: url(../images/jbank_arrow_down3.png) no-repeat 4px 4px;
}
#searchArea .satisfy{
	display: block;
	width: 22%;
	float: right;
}
#searchArea .satisfy .satisfiedicon{
	height: 32px;
	float: left;
	margin: 0 5px;
}
#searchArea .satisfy .satisfiedtxt{
	width: 50%;
	float: left;
	line-height: 1.28;
	font-size: 15px;
	color: #404647;
}
#searchArea .satisfy img{
	display: inline-block;
	vertical-align: middle;
	margin-right: 2px;
}
#searchArea .fullSearch{ 
	width: 100%;
	background-color: #ececec; 
    border-top: 5px solid #3678d9;
}
#searchArea .fullSearch .btline{
    display: block;
    width: 100%;
    height: 1px;
    background-color: #FFF;
}
#searchArea .jbstart{
	position: relative;
    max-width: 1170px;
    margin: 0 auto;
}
#searchArea .jbminH{
    width: 100%;
    overflow: hidden;
    height: 135px;
}
/*showBox 求職類別選取下拉*/
#searchArea .jbstart .showBox{
    display: none;
    position: absolute;
    left: 5px;
    top: 92px;
    width: 82px;
    border: 1px solid #c2c2c2;
    border-top: 0;
    background-color: #f6f6f6;
    z-index: 89;
}
#searchArea .jbstart .showBox li{
	width: 100%;
	border-bottom: 1px solid #FFF;
}
#searchArea .jbstart .showBox li:last-child{
	border-bottom: 0;
}
#searchArea .jbstart .showBox li a{
	display: block;
	color: #6d6d6d;
	font-size: 16px;
	text-align: center;
	line-height: 2.2;
	color: #303030;
	transition: all 500ms ease;
}
#searchArea .jbstart .showBox li a:hover{
	background-color: #ececec;
}
/*showrecent 最近搜尋條件*/
#searchArea .jbstart .showRecjob,
#searchArea .jbstart .showReccom{
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    width: auto;
    border: 1px solid #c2c2c2;
    background-color: #f6f6f6;
    z-index: 55;
}
/**/
#searchArea #saAllbox{
	clear: both;
	width: 9999px;
	position: relative;
}
#searchArea #saAllbox .sabox{
	position: relative;
	max-width: 1170px;
	width: 100%;
	float: left;
	overflow: hidden;
	z-index: 11;
    padding: 10px 5px 0;
    font-size: 16px;
    padding: 10px 0 0 \9;
}
#searchArea .sabox .jbtags{
	color: #424242;
    line-height: 2.6em;
}
#searchArea .sabox .jbtags p{
	width: 50%;
	float: left;
	font-size: 15px;
	text-align: justify;
}
#searchArea .sabox .jbtags p .tag{
	color: #434343;
    line-height: 2.6em;
    padding: 0 5px;
    transition: all 300ms ease;
}
#searchArea .sabox .jbtags p .tagR{
	color: #e30750;
    line-height: 2.6em;
    padding: 0 5px;
    transition: all 300ms ease;
}

#searchArea .sabox .jbtags p .tag:hover{
	text-decoration: underline;
	color: #1c59b5;
}
#searchArea .sabox .jbtags p input{
	margin: 0 2px;
}
#searchArea .sabox .jbtags .recently{
	width: 50%;
	float: right;
	font-size: 15px;
    text-align: right;
}
#searchArea .sabox .jbtags .recently a img{
	display: inline-block;
	vertical-align: middle;
	padding: 0 3px;
}
#searchArea input[type="text"],
#searchArea select{
	margin-right: 10px;
    height: 44px;
    line-height: 44px;
}
#searchArea .typeleft{
	width: 22%;
	float: left;
    height: 44px;
    line-height: 43px;
    border: 1px solid #c2c2c2;
    padding: 0 10px;
    font-size: 17px;
    -webkit-border-radius: 6px 0 0 6px;
    -moz-border-radius: 6px 0 0 6px;
    border-radius: 6px 0 0 6px;
    box-shadow: 0 1px 2px #f3f3f3 inset;
    background-color: #FFF;
    width: 27% \9;
    padding: 0 \9;
}
#searchArea .keywordBox input[type="text"]{
    padding-left: 10px;
    padding-left: 0 \9;
    color:#000;
}
#searchArea input.ksright{
	width: 78%;
	float: right;
	margin: 0;
    -webkit-border-radius: 0 6px 6px 0;
    -moz-border-radius: 0 6px 6px 0;
    border-radius: 0 6px 6px 0;
    border-left: none;
    width: 73% \9;
}
/* content start */
/* mainjobs */
#mainjobs{}
#mainjobs blockquote{
	padding: 0 35px;
}
#mainjobs blockquote h3,
#mainjobs blockquote p,
#mainjobs blockquote a{
	display: inline-block;
	font-size: 16px;
	display: block \9;
	width: 80% \9;
	float: left \9;
	text-align: left;
}
#mainjobs blockquote h3{
	position: relative;
	font-weight: bolder;
	padding-right: 10px;
	display: block \9;
	float: left \9;
	width: 8% \9;
}
#mainjobs blockquote h3:after{
	content: "";
	position: absolute;
	top: 3px;
	right: -8px;
	width: 1px;
	height: 18px;
	background-color: #000;
	display: block;
}
#mainjobs blockquote p{
	padding-left: 20px;
	color: #1c59b5;
    text-shadow: 0 0 0 #1c59b5;
    letter-spacing: 0.5px;
}
/* mainjobs>leftArea */
#mainjobs #leftArea,
#mainjobs #asideArea{
	margin-top: 15px;
}
#mainjobs #leftArea{
	width: 73%;
	float: left;
}
#leftArea #category{
	position: relative;
	width: 100%;
	margin: 0 auto;
	overflow:hidden;
	background-color:#FFF;
}
#category #cateMenu{
	position: relative;
}
#category #cateMenu li a .dot{
	position: absolute;
	display: block;
	width: 1px;
	height: 25px;
	margin: 5px;
	background-color: #e8e8e8;
	top: 8px;
	left: -6px;
}
#category #cateMenu{
	width: 100%;
	list-style: none;
	margin:  0 0 -2px;
	padding: 0;
	display: block;
	float: left;
}
#category #cateMenu li{
    float: left;
	position: relative;	
	background-color: #f8f8f8;	
	min-width: 16.5%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#category #cateMenu li a{
	position: relative;
	display: block;
	width: 100%;
	height: 50px;	
	line-height: 48px;
	font-size: 20px;
	text-align: center;
	color: #888;
	z-index: 88;
	margin: 0 5px;
	border: 2px solid transparent;
	border-bottom: 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
	width: 150px \9;
}
#category #cateMenu li a:first-child{
	margin-left: 0;
}
#category #cateMenu li:first-child .nowtab{
	border-left: 2px solid #FFF !important;	
}
#category #cateMenu li a.nowtab{
	background-color: #FFF;
	color: #000;
	border-color: #e8e8e8;
	border-left: 2px solid #e8e8e8;
}
#category .sitemap{
	position: absolute;
	right: 5px;
	top: 14px;
    color: #616161;
}
#category .sitemap .qaico{
	width: 20px;
	height: 20px;
	display: inline-block;
	background: url(../images/default_img.png) no-repeat -38px -27px;
	vertical-align: middle;
	margin: 0 3px;
}
#category .catebox{
	float: left;
	width: 100%;
    height: 530px;
	overflow: hidden;
	position: relative;
	z-index:11;
	border-top: 2px solid #e8e8e8;
    border-bottom: 1px solid #f6f6f6;
}
#category2, #category3, #category4{
    display: none;
}
#category .catebox .catelist{
	padding: 21px 10px 0 30px;
}
#category .catebox .catelist .list{
	float: left;
	font-size: 17px;
	line-height: 1.8;
	text-align: justify;
}
#category .catebox .list .title{
	margin-bottom: 6px;
}
#category .catebox .list .title span{
	display: block;
	width: 45px;
	height: 38px;
	float: left;
	border-right: 2px solid #e7e5e5;
	margin: 5px 12px 0 0;
	background-image: url(../images/default_img.png);
	background-repeat: no-repeat;
}
#category .catebox .list .title h2{
	font-weight: bolder;
	color:#666;
}
#category .catebox .list .title p{
    padding: 0 2px;
    color: #1c59b5;
    display: inline-block;
}
/*FB粉絲團*/
#category .catelist .list ul.facebook{}
#category .catelist .list ul.facebook li{
    font-size: 15px;
    width: auto;
    padding-right: 20px;
}
#category .catelist .list ul.facebook li a{
    padding-left: 0;
}
#category .catelist .list ul.facebook li a::before{
    display: none;
}
#category .catelist .list ul.facebook li i{
    margin-left: 3px;
    color: #3b5998;
}
/**/
/*首選推薦-start*/
/*熱門快搜*/
#category .list .hot{
	background-position: 0 -57px;
}
/*精選企業*/
#category .list .organ{
	background-position: 0 -99px;
}
/*推薦主題*/
#category .list .subject{
	background-position: 0 -140px;
}
/*職務找工作-start*/
/*經管  金銷*/
#category .list .manage{
	background-position: 0 -197px;
}
/*工程  製造*/
#category .list .manufacture{
	background-position: 0 -243px;
}
/*資訊  科技*/
#category .list .technology{
	background-position: 0 -286px;
}
/*樂活  服務*/
#category .list .service{
	background-position: 0 -329px;
}
/*其他專業*/
#category .list .othersub{
	background-position: 0 -372px;
}
/*文化  創意*/
#category .list .create{
	background-position: 0 -413px;
}
/*工具/資源-start*/
/*求職工具*/
#category .list .tools{
	background-position: -55px -57px;
}
/*求職專區*/
#category .list .zones{
	background-position: -55px -99px;
}
/*職涯測驗*/
#category .list .examine{
	background-position: -55px -140px;
}
/*生涯規劃*/
#category .list .counselling{
	background-position: -55px -190px;
}
/*特色專區-start*/
/*工作地區*/
#category .list .jobarea{
	background-position: -55px -243px;
}
/*求職身分*/
#category .list .identity{
	background-position: -55px -286px;
}
/*企業資訊*/
#category .list .industry{
	background-position: -55px -329px;
}
/*樂活優惠*/
#category .list .lohas{
	background-position: -55px -372px;
}
/*FB粉絲團*/
#category .list .facebook{
/*     background-position: -55px -417px;
    height: 30px !important;
    margin-top: 0 !important; */
}
/**/
#category .catelist .list ul{
	padding-left: 10px;
}
#category .catelist .list ul li{
	line-height: 1.9;
}
#category .catelist .list .ulfloatmin li{
	line-height: 1.75;
	float:left;
	width: 19%;
    margin-right: 5px;
}
#category .catelist .list .ulfloatcat li{
	line-height: 1.75;
	float:left;
	width: 45%;
    margin-right: 5px;
}
#category .catelist .list ul li a{
	position: relative;
	padding-left: 16px;
	color:#333;
	transition: all 500ms ease;
}
#category .catelist .list ul li a:hover{
    color: #1c59b5;
    text-decoration: underline;
}
#category .catelist .list ul li a::before{
	position: absolute;
	top: 6px;
	left: 0;
	content: "";
	display: block;
	width: 7px;
	height: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
	background-color: #afcce8;
}
#category .catelist .list ul li a.star,
#category .catelist .list ul li a.star:hover{
	color: #e30750;
}
#category .catelist .list ul li a.star::before{
	background-color: #fbcbd6;
}
#category .catelist .list ul li span{
	display: inline-block;
	font-size: 15px;
	color: #a4a4a4;
	margin: 0 5px;
}
#category .catelist .list ul li a.social{
    padding-left: 0;
}
#category .catelist .list ul li a.social::before{
    display: none;
}
#category .catelist .list ul li a.social i{
    font-size: 18px;
    color: #3b5998;
    margin: 0 2px;   
}
#category .catebox .chosenbox:before{
	content: "";
	display: block;
	height: 1px;
	width: 100%;
	background-color: #e9e9e9;
	border-bottom: 2px solid #FFF;
}
#category .catebox .chosen{
	padding: 25px 25px 45px;
 	background-color: #f9f9f9;
} 
#category .catebox .chosen figure a{
	display: block;
	width: 370px;
	height: 180px;
	border: 1px solid #e0e0e0;
	float: left;
	overflow: hidden;
}
#category .catebox .chosen figure a img{
	display: block;
	transition: all 300ms ease;
}
#category .catebox .chosen:hover figure a img,
#servicetool .typebox figure a:hover img,
#category .catebox .liveview .chosen:hover figure img{
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    opacity:0.5;
    -webkit-animation: tool 500ms 1 linear;
    -webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes tool{
    0% {-webkit-transform: perspective(500px) 
                   scale(1)
    }
    100% {-webkit-transform: perspective(1500px) 
                   scale(1.1)
    }
}
/*直播區塊*/
#category .catebox .liveview{
    padding-top: 8px;
}
#category .catebox .liveview .chosen{
    padding: 10px 25px;
}
#category .catebox .liveview .chosen .rinfo h3 a{}
#category .catebox .liveview .chosen:hover .rinfo h3 a,
#category .catebox .chosen:hover .rinfo h3 a{
    color: #386da8;
    text-decoration: underline; 
}
#category .catebox .liveview .chosen figure a{
    height: 110px;
}
#category .catebox .liveview .chosen .rinfo p{
    margin: 5px 0;
    line-height: 1.5;   
    height: 75px;
}
#category .catebox .liveview .chosen .rinfo{
    padding: 0;
}
/**/
#careeredu .typebox figure.large a{
    display: block;
    width: 206px;
    height: auto;
    border: 1px solid #e0e0e0;
    float: left;
    overflow: hidden;
}
#category .catebox .chosen .rinfo{
	width: 46%;
	float: left;
	margin-left: 6%;
	padding: 5px 0;
}
#category .catebox .chosen .rinfo h3 a{
	width: 73%;
	border-left: 5px solid #c2c2c2; 
	padding-left: 10px;
	font-size: 20px;
	float: left;
	height: 30px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	transition: all 500ms ease;
}
#category .catebox .chosen .rinfo span{
	width: 22%;
	float: right;
    height: 30px;
    line-height: 30px;
}
#category .catebox .chosen .rinfo p{
	font-size: 16px;
	line-height: 1.8;
	margin: 18px 0;
	height: 80px;
    overflow: hidden;
    text-align: justify;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
#category .catebox .rinfo .morebtn{
	margin: 30px auto 0;
}
#category2 .morebtn{
	margin: 65px auto 0;
}
/* focusbnr */
#leftArea #focusbnr{
    margin-top: 25px;
}
#leftArea #focusbnr .focusbg{
    overflow: hidden;
    position: relative;
    width: 392px;
    height: 107px;
    border: 12px solid #ececec;
}
#leftArea #focusbnr .fcsblock{
    overflow: hidden;
    position: relative;
    width: 390px;
    height: 105px;
    margin-right: 20px;
    border: 1px solid #d2d2d2;
}
#leftArea #focusbnr .fcsblock ul{
    width: 999999px;
    position: absolute;
}
#leftArea #focusbnr .fcsblock ul li{
    float: left;
}
#leftArea #focusbnr .fcsblock ul li a{
	position: relative;
    display: block;
    width: 390px;
}
#leftArea #focusbnr .fcsblock ul li a .adico{
    display: none;
}
#leftArea #focusbnr .control{
    text-decoration: none;
    position: absolute;
    top: 50%;
    left: 0;
    width: 40px;
    height: 40px;
    line-height: 35px;
    margin-top: -20px;
    font-size: 31px;
    padding-top: 5px;
    font-weight: 100;
    color: #FFF;
    font-family: Helvetica;
    text-align: center;
    background: #4077c9;
    opacity: 0;
    filter: alpha(opacity= 0);
    transition: all 500ms ease;
}
#leftArea #focusbnr .control.left{
    border-radius: 0 5px 5px 0;
}
#leftArea #focusbnr .control.right{
    right: 0;
    left: auto;
    border-radius: 5px 0 0 5px;
}
#leftArea #focusbnr .control:hover{}
#leftArea #focusbnr .stop{
	opacity: 0.5 !important;
	background-color: #7e7e7e!important;
}
/* mainjobs>asideArea */
#mainjobs #asideArea{
	width: 25%;
	float: right;
}
#mainjobs #asideArea .bnrbg{
	border: 1px solid #e0e0de;
	width: 100%;
	overflow: hidden;
}
#asideArea #slidebnr{
	width: 100%;
	margin: 0 auto;
	background: url(../images/banner_bg.jpg) repeat;
	border: 3px solid #FFF;
	padding: 7px;
	background-color: #f5f5f5;
	overflow: hidden;
}
#asideArea #slidebnr .slideblock{
    overflow: hidden;
    position: relative;
    width: 270px;
    height: 240px;
}
#asideArea #slidebnr .slideblock ul{
    width: 999999px;
    position: absolute;
    float: left;
    display: block;
}
#asideArea #slidebnr .slideblock ul li{
    float: left;
}
#asideArea #slidebnr .slideblock ul li a{
	position: relative;
    width: 270px;
}
#asideArea #slidebnr .slideblock ul li a .adico{
    position: absolute;
    width: 53px;
    height: 53px;
    top: 40%;
    left: 40%;
    right: 40%;
    opacity: 0;
    z-index: 33;
    background-color: transparent;
    visibility: hidden;
    transition: all 500ms ease;
}
#asideArea #slidebnr .control{
    text-decoration: none;
    position: absolute;
    top: 50%;
    left: 0;
    width: 40px;
    height: 40px;
    line-height: 35px;
    margin-top: -20px;
    font-size: 31px;
    padding-top: 5px;
    font-weight: 100;
    color: #ffffff;
    font-family: Helvetica;
    text-align: center;
    z-index: 44;
    transition: all 500ms ease;
    background: rgba(45,143,218,0.5);
}
#asideArea #slidebnr .control:hover{
	background: #4077c9;

}
#asideArea #slidebnr .bluebb{
	background: #2d8fda;
}
#asideArea #slidebnr .control.left{
    border-radius: 0 5px 5px 0;
}
#asideArea #slidebnr .control.right{
    right: 0;
    left: auto;
    border-radius: 5px 0 0 5px;
}
#asideArea #slidebnr #witness{
	height: 150px;
	background-color: #bcddf6;
}
#asideArea #witness{
    width: 100%;
	margin-top: 20px;
    border-bottom: 0;
    overflow: hidden;
}
#asideArea #witness h2{
	line-height: 49px;
	color: #484848;
	font-size: 18px;
	background-color: #f4f4f4;
}
#asideArea #witness h2 i{
	padding: 0 10px 0 20px;
	font-size: 23px;
	border-right: 2px solid #e7e5e5;
	display: inline-block;
}
#asideArea #witness h2 span{
	padding-left: 8px;
	color: #484848;
	font-weight: bolder;
}
#asideArea #witness ul{}
#asideArea #witness ul li{
	padding: 5px 21px 2px;
	text-align: justify;
	border: 1px solid #ececec;
	border-top: 0;
	transition: all 500ms ease;
}
#asideArea #witness ul li:hover{
	background-color: #e6eff8;
}
#asideArea #witness ul li a{
	color: #545454;
	line-height: 1.5;
}
#asideArea #witness ul li a h4{
	display: inline-block;
	font-size: 17px;
}
#asideArea #witness ul li a h4 span{
    display: inline-block;
    width: 7px;
    height: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    background-color: #afcce8;
    vertical-align: middle;
    margin: -2px 7px 0 0;
}
#asideArea #witness ul li a .jobs{
	float: right;
	text-align: right;
}
#asideArea #witness ul li a p{
	padding: 3px 0;
	height: 42.5px;
    overflow: hidden;
    letter-spacing: 0.4px;
    line-height: 1.4;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
/* pushjobs */
#pushjobs{}
#pushjobs .pushbg{
	background-color: #f8f8f8;
	border: 1px solid #e8e8e8;
	padding: 25px 10px;
}
#pushjobs .hotjob h3 a{
    font-size: 15px;
    margin-left: 10px;
}
#pushjobs h3 a:hover{
	text-decoration: underline;
}
#pushjobs ul{
	width: 50%;
	float: left;
}
#pushjobs ul li{
	font-size: 16px;
	padding-left: 17.5%;
}
#pushjobs ul li a{
	display: inline-block;
	color: #595959;
	line-height: 1.8;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	transition: all 800ms ease;
}
#pushjobs ul li a:hover{
	text-decoration: underline;
}
#pushjobs ul li a:first-child{
	text-shadow: 0 0 0 #CCC;
}
#pushjobs  ul li a:hover,
#pushjobs  ul li a:first-child{
	color: #235db3;
}
#pushjobs ul li .hire{
    display: inline-block;
    margin: 0 4px;
    vertical-align: top;
    line-height: 1.8;
    color: #aaaaaa;
}
/* famousjobs */
#famousjobs{}
#famousjobs .outbox{
	position: relative; 
	max-width: 1170px; 
}
#famousjobs .outbox .scrollable{
	position: relative; 
	max-width: 1170px;
	overflow: hidden;
}
#famousjobs .scrollable .logobox{
	position: absolute; 
	width: 20000em; 
}
#famousjobs .scrollable .logobox ul{
	display: block;
	float: left;
}
#famousjobs .scrollable .logobox ul li{
	position: relative;
	display: inline-block; 
	width: 24%; 
	height: 107px;
	font-size: 16px; 
	text-align: center;
	margin: 0 1% 1.1% 0;
	border: 1px solid #d6d6d6;
	background-color: #f8f8f8; 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
    float: left; \9;
}
#famousjobs .scrollable .logobox ul li:hover{
	border-color: #dbe3ee;
}
#famousjobs .scrollable .logobox ul li .bdline{
	width: 100%;
	height: 100%;
	border: 3px solid #FFF;
}
#famousjobs .scrollable .logobox ul li a{
	display: block;
	height: 70px;  
	background-color: #f8f8f8; 
	color: #000;
	padding: 15px;
	transition: all 500ms ease;
}
#famousjobs .scrollable .logobox ul li a:hover{
	background-color: #e7eef7; 
}
#famousjobs .scrollable .logobox ul li figure{
	position: relative;
    width: 90px;
    height: 68px;
    border: 1px solid #dcdcdc;
    background-color: #FFF;
    overflow: hidden;
	float: left;
}
#famousjobs .scrollable .logobox ul li figure img{
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 90px;
    max-height: 68px;
    height: auto;
}
#famousjobs .scrollable .logobox ul li .rintro{
	width: 55%;
	float: left;
	line-height: 1.5;
	text-align: left;
	margin-left: 6%;
}
#famousjobs .scrollable .logobox .rintro dt{
	font-size: 17px;
	color: #1d1d1d;
	text-shadow: 0 0 0 #1d1d1d;
}
#famousjobs .scrollable .logobox .rintro dd{
	font-size: 15px;
	color: #595959;
}
#famousjobs .scrollable .logobox .rintro dt,
#famousjobs .scrollable .logobox .rintro dd{
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
#famousjobs .scrollable .logobox .morebox{
	line-height: 65px;
    width: 50%;
    font-size: 1.2em;
    float: left;
}
#famousjobs .scrollable .logobox .click{
	position: absolute;
	top: 0;
	right: 0;
	width: 18%;
	height: 100%;
	color: #FFF;
	float: right;
	font-size: 1.8em;
	background-color: #dbdbdb;
}
#famousjobs .scrollable .logobox .click i{
	display: block;
    margin-top: 72%;
}
#famousjobs .prev,#famousjobs .next{ 
	position: absolute; 	
	width: 29px; 
	height: 30px;
	text-align: center;
	color: #FFF;
	font-size: 20px;
	line-height: 1.5;
	top: -38px; 
	color: #727272;
	background-color: #eaeaea;
	transition: all 500ms ease;
}
#famousjobs .prev{ 
	right: 35px; 
}
#famousjobs .next{ 
    right: 0; 
}
#famousjobs i{
	display: inline-block;
	margin-top: 4px;
	font-weight: bolder;
}
#famousjobs .over{
    background-color: #4077c9;
    color: #FFF;
}
/* servicetool */
#servicetool{}
#servicetool #resume .jbtitle span{
	color: #989898;
	font-size: 16px;
	font-weight: normal;
	font-family: "微軟正黑體";
	padding: 0 6px;
	text-shadow: 0 0 0 #386da8;
} 
#servicetool #resume .literary,
#servicetool .typebox{
    border: 1px solid #e7e7e7;
    overflow: hidden;
    height: 255px;
}
#servicetool #resume .typebox{
    height: 255px;
}
#servicetool #resume .literary figure a{
	position: relative;
    display: block;
    width: 220px;
    height: 220px;
    float: left;
    overflow: hidden;
    margin: 15px 0 0 15px;
}
#servicetool #resume .literary figure a img{
    display: block;
    width: 100%;
    height: 100%;
    transition: all 500ms ease;
}
.typebox > span:hover figure a img,
#servicetool #resume .literary:hover figure a img,
#servicetool #resume .literary:hover figure a img{
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    opacity:0.5;
    -webkit-animation: tool 500ms 1 linear;
    -webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes tool{
    0% {-webkit-transform: perspective(500px) 
                   scale(1)
    }
    100% {-webkit-transform: perspective(1500px) 
                   scale(1.1)
    }
}
#servicetool #resume .literary figure a .lazy{
	min-width: 210px;
	width: auto;
}
#servicetool #resume .literary figure a p{
	display: none;
}
#servicetool #resume .literary figure a .adico{
    display: none;
}
#servicetool #resume .literary .rinfo{
    width: 54%;
    float: left;
    margin: 22px 0 0 4%;
}
#servicetool #resume .literary .rinfo h3 a,
#servicetool .typebox .rinfo h3 a{
	display: block;
    border-left: 5px solid #c2c2c2;
    padding-left: 8px;
    font-size: 20px;
    line-height: 23px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 500ms ease;
}
#servicetool #resume .literary .rinfo .resumecheck{
    height: 150px;
    -webkit-line-clamp: 6;
    margin-bottom: 6px;
}
#servicetool #resume .literary .rinfo .link{
    display: inline;
    float: right;
    padding-right: 8px;
    font-size: 14px;
}
#servicetool #resume .literary .rinfo .link i{
    padding-left: 3px;
}
#servicetool #resume .literary ul li a{
    display: block;
    margin: 4px 0;  
    height: 28px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    line-height: 1.9;
    background-color: #f4f4f4;
    transition: all 500ms ease;
}
#servicetool #resume .literary ul li a:hover{
    background-color: #e6eff8;
}
#servicetool #resume .literary ul li a span{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(../images/default_img.png);
    background-repeat: no-repeat;
    vertical-align: middle;
    margin: 0 5px 0 8px;
}
#servicetool #resume .literary ul li a .iconb{
    background-position: -75px 0;
}
#servicetool #resume .literary ul li a .icong{
    background-position: -99px 0;
}

/**/
.typebox > span:hover .rinfo h3 a{
    color: #4077c9;
    text-decoration: underline;   
}
#category .catebox .chosen .rinfo h3 a:hover,
#servicetool #resume .literary:hover .rinfo h3 a{
    color: #4077c9;
    text-decoration: underline;
}
#servicetool #resume .literary .rinfo p,
#servicetool .typebox .rinfo p{
    font-size: 16px;
    line-height: 1.6;
    margin: 12px 0;
    height: 75px;
	overflow: hidden;
	text-align: left;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

#servicetool #resume .literary .rinfo .detail{
	color: #aeaeae;
	font-size: 15px;
	margin-top: 6%;
}
#servicetool #resume .literary .rinfo .detail span,
#servicetool #resume .literary .rinfo .detail a{
	margin-right: 5px;
}
#servicetool #resume .literary .rinfo .detail a{
	color: #aeaeae;
	transition: all 500ms ease;
}
#servicetool #resume .literary .rinfo .detail a:hover{
	color: #386da8;
	text-decoration: underline;
}
#servicetool #resume .literary .rinfo .detail .time{
	float: left;
}
#servicetool #resume .literary .rinfo .detail .others{
	color: #1c59b5;
	text-align: right;
	float: right;
}
#servicetool #resume .literary .rinfo .detail i{
	color: #789cc5;
	margin: 0 5px;
}

/*servicetool all boxs type*/
#servicetool .typebox{
	padding: 10px 15px;
	height: 255px;
	overflow: hidden;
	padding: 10px 0 \9;
}
#servicetool .typebox figure a{
	display: block;
	width: 206px;
	height: 122px;
	border: 1px solid #e1e1e1;
	float: left;
	margin: 5px 0; 
	overflow: hidden;
}
#servicetool .typebox figure a img{
    display: block;
	width: 100%;
	height: 100%;
    transition: all 300ms ease;
}
#servicetool .typebox .rinfo{
    width: 54%;
    float: left;
    margin: 12px 0 0 4%;
}
#servicetool .typebox ul li a{
	display: block;
	margin: 4px 0;	
	height: 28px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	line-height: 1.9;
	background-color: #f4f4f4;
	transition: all 500ms ease;
}
#servicetool .typebox ul li a:hover{
	background-color: #e6eff8;
}
#servicetool .typebox ul li a span{
	display: inline-block;
	width: 20px;
	height: 20px;
	background-image: url(../images/default_img.png);
	background-repeat: no-repeat;
	vertical-align: middle;
	margin: 0 5px 0 8px;
}
#servicetool .typebox ul li a .iconb{
	background-position: -75px 0;
}
#servicetool .typebox ul li a .icong{
	background-position: -99px 0;
}
/* scrolltop setting */
.sidebtn{
    position: fixed;
    width: 100px;
    height: 200px;
    margin-left: 1180px;
    bottom: 10px;
}
.scrolltop{
    position: absolute;
    opacity: .2;
    width: 40px;
    height: 200px;
    right: 35px;
    bottom: 0px;
    visibility: hidden;
    overflow: hidden;
    transition: all 0.5s ease;
    z-index: 88;
}
.scrolltop:hover{
	opacity: 1;
}
.scrolltop.show{
    visibility: visible;
    cursor: pointer;
	opacity: .7;
}
.scrolltop span{
    display: block;
}
.scrolltop .gotop{
    position: relative;
    width: 40px;
    height: 105px;
    top: 20px;
    z-index: 55;
}
.opc{
    opacity: 1!important;
}
.scrolltop .fire{
    position: absolute;
    width: 40px;
    height: 111px;
    z-index: 44;
}
.scrolltop .fireH{
    display: none;
    position: absolute;
    width: 40px;
    height: 111px;
    z-index: 44;
    top: 95px;
}
.sugbtn{
    display: block;
    position: absolute;
    right: 17px;
    text-align: center;
    color: #FFF;
    width: 75px;
    height: 30px;
    line-height: 30px;
    bottom: 0;
    transition: all 0.5s ease;
    background-color: #949494;
    z-index: 99;
}
.sugbtn img{
    display: block;
    width: 100%;
    height: auto;
}
#toplinkspace{display:none;}

/* DESKTOP
-----------------------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width: 800px) and (max-width: 1169px) {
.m40{ width: 34% !important;}
.w30{ width: 33%;}
.w70{ width: 66%;}
.w43{ width: 42%;}
.mgb8{ margin-bottom: 0 !important;}
header, #mainwrap #content,
#searchArea .jbstart,header .scene,
header .scene a{
	width: 95%;
	margin: 0 auto;
	max-width: 1024px;
}
header .loginTab{
	width: 30%;
}
header #userbox dl, header #organbox dl{
	padding: 10px;
}
header #organbox dl dt.ehr{
	top: -18px;
	left: 0;
}
#searchArea ul.tabs li{
	width: auto;
}
#searchArea ul.tabs::before{
	display: none;
}
.ulfloats{
	width: 50%;
}
#category #cateMenu li{
	width: 18%;
}
#mainjobs #leftArea{
    width: 69.5%;
}
#mainjobs #asideArea{
    width: 30%;
}
#category .catebox .catelist{
    padding: 20px 5px 0 10px;
    text-align: center;
}
#category .catelist .list ul{
    padding-left: 0;
}
#category .catelist .list .ulfloatmin{
	white-space: nowrap;
}
#category .catelist .list ul li a{
	padding-left: 13px;
}
#category .catebox .chosen{
    padding: 44px 15px;
}
#category .catebox .chosen figure a{
	width: 45%;
	height: auto;
}
#category .catebox .chosen figure a img{
	width: 100%;
	height: auto;
}
#category .catebox .chosen .rinfo{
    width: 50%;
    margin-left: 4%;
}
#category .catebox .chosen .rinfo p{
	height: 50px;
	-webkit-line-clamp: 2;
}
#leftArea #adbnr .focusbg{
	width: 45%;
	height: 82px;
}
#leftArea #focusbnr .focusbg{
	width: 250px;
	height: auto;
}
#leftArea #focusbnr .fcsblock{
	width: 100%;
	height: 86px;
}
#leftArea #focusbnr .fcsblock ul li a,
#leftArea #focusbnr .fcsblock ul li a img{
	width: 250px;
	height: 86px;
}
#leftArea #adbnr .focusbg img{
	width: 250px;
	max-height: 86px;
	width: 100%;
}
#asideArea #witness h2{
	line-height: 40px;
}
#asideArea #witness ul li{
	padding: 6px 21px 4px;
}
#pushjobs .pushbg{
	padding: 25px 5px;
	min-height: 217px;
}
#famousjobs .scrollable .logobox ul li{
	width: 23.9%;
}
#famousjobs .scrollable .logobox ul li .rintro{
    width: 50%;
    margin-left: 3%;
}
#famousjobs .scrollable .logobox ul li a{
	padding: 15px 6px;
}
#servicetool #resume .literary figure a,
#servicetool .typebox figure a{
	width: 40%;
	max-height: 190px;
}
#servicetool #resume .literary .rinfo{
	margin: 20px 0 0 4%;
}
#servicetool .typebox figure a{
	height: auto;
}
#servicetool .typebox .rinfo{
    margin: 6px 0 0 4%;
}
#servicetool #salary .typebox a img{
	max-width: 480px;
	width: 100%;
	height: auto;
}
#pushjobs ul li{
    padding: 0 15px 0 14%;
}
}
@media screen and (max-width: 989px) {
#leftArea #adbnr .focusbg{
    width: 45%;
    height: 82px;
}
#leftArea #adbnr .fcsblock, 
#leftArea #adbnr .fcsblock ul li a{
	width: 100%;
	height: 80px;
	max-width: 303px;
}
#leftArea #adbnr .fcsblock ul li a img{
	display: block;
	width: 100%;
	height: auto;	
}
}
@media all and (-ms-high-contrast:none){
.keywordBox .delete img{ 
	display: none;
} /* IE10 */
 *::-ms-backdrop, .keywordBox .delete img{ 
 	display: none;
} /* IE11 */
}