﻿@charset "utf-8";
/* CSS Document main footer setting_ job-index 2016 version */

/*完整版footer*/
#footer{
	clear: both;
	margin-top: 20px;
	color: #FFF;
	background-color: #5f6774;
}
#footer .ftcon{
	max-width: 1170px;
	margin: 0 auto;
	padding-top: 25px;
}
#footer .ftleft{
	width: 27%;
	float: left;
	font-size: 14px;
	padding: 0 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#footer .ftleft .ftlogo{
	display: block;
	padding-left: 15px;
	margin-top: 20px;
}
#footer .ftmiddle{
	width: 60%;
	float: left;
	padding-bottom: 15px;
}
#footer .ftright{
	width: 12%;
	float: left;
}
/*ftleft*/
#footer .ftleft p{
	margin: 15px 0;
}
#footer .ftleft p span{
	font-size: 15px;
}
/*ftmiddle*/
#footer .ftmiddle dl{
	width: 20%;
	float: left;
}
#footer .ftmiddle dl dt{
	font-size: 17px;
	color: #aecce6;
	margin: 15px 0 12px;
}
#footer .ftmiddle dl dt span,
#footer .ftright dl dt span{
	display: inline-block;
	width: 18px;
	height: 18px;
	background: url(/job-bank/images/footer_ico.png);
	vertical-align: inherit;
	margin: 0 8px;
}
#footer .ftmiddle dl dt .about{
	background-position: 0 0;
}
#footer .ftmiddle dl dt .jobs{
	background-position: 0 -33px;
}
#footer .ftmiddle dl dt .career{
	background-position: 0 -64px;
}
#footer .ftmiddle dl dt .zones{
	background-position: 0 -90px;
}
#footer .ftmiddle dl dd a{
	display: block;
	font-size: 14px;
	color: #FFF;
	line-height: 1.8;
	transition: all 500ms ease;
}
#footer .ftmiddle dl dd a:hover{
	color: #96bdde;
	text-decoration: underline;
}
#footer .ftmiddle dl dd i{
	color: #7a8b9d;
	margin: 0 15px 0 12px;
}
#footer .ftmiddle dl.w40 dd{
	width: 45%;
    float: left;
}
/*ftright*/
#footer .ftright dl{}
#footer .ftright dl dt{
    margin: 15px 0;
    color: #a7c8e3;
    font-size: 17px;
}
#footer .ftright dl dt .phone{
	background-position: 0 -118px;
}
#footer .ftright dl dd{
	width: 108px;
	margin: 0 auto;
	background-color: #FFF;
}
#footer .ftright dl dd img{
	display: block;
	margin: 0 auto;
	padding: 12px 0;
}
#footer .ftright dl dd .scan{
	display: block;
	text-align: center;
	color: #FFF;
	background-color: #a0a1a6;
}
#footer .ftright dl dd a{
	display: block;
	margin: 15px auto;
	color: #FFF;
	text-align: center;
	background-color: #ee6364;
    border: 2px solid #e45a5b;
	transition: all 500ms ease;
}
#footer .ftright dl dd a:hover{
    background-color: #e05152;
    border: 2px solid #dd4646;
}
#footer .ftright dl dd a i{
	display: inline-block;
	margin: 0 3px;
	line-height: 1.5;
}
/*ftservice*/
#footer .ftservice .phone .ftico{
	display: block;
	width: 40px;
	height: 35px;
	float: left;
	margin-top: 20px;
	background: url(/job-bank/images/footer_ico.png) -36px 0;
}
#footer .ftservice .phone div{
	width: 88%;
	float: left;
	padding-left: 15px;
}
#footer .ftservice .phone h5{
	font-size: 16px;
    color: #b6becb;
    margin-bottom: 3px;
}
#footer .ftservice .phone p,
#footer .ftservice .phone p a{
	color: #b6becb;
	font-size: 14px;
	letter-spacing: .3px;
}
#footer .ftservice .phone p .mgl{
    margin-left: 15px;
}
#footer .ftservice .phone p .mgr{
    margin-right: 7px;
}
#footer .ftservice .phone p a:hover{
	text-decoration: underline;
}
#footer .ftservice .phone .floR{
	float: right;
	padding-right: 3%;
}
#footer .fttag{}
#footer .fttag ul{
	padding: 15px 0 25px;
	text-align: center;
}
#footer .fttag ul li{
	font-size: 14px;
	color: #91a1bc;
	float: left;
	margin-right: 10px;
}
#footer .fttag ul li:first-child{
	margin-left: 45px;
}
#footer .fttag ul li span{
	font-size: 12px;
}

/*簡化版footer*/
#footer_smll{
    clear: both;
    margin-top: 20px;
    color: #FFF;
    background-color: #5f6774;
}
#footer_smll .smlcon{
	position: relative;
    max-width: 1170px;
    margin: 0 auto;
    padding: 25px 0 10px;
}
#footer_smll a,
#footer_smll .smlright .btminfo p{
	display: inline-block;
}
#footer_smll .smlleft{
	width: 15.8%;
    float: left;
    font-size: 14px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#footer_smll .smlleft a img{
    display: block;
    margin: 5px 3px 0;
}
#footer_smll .smlleft a span{
	font-size: 15px;
	padding: 0 2px;
}
#footer_smll .smlleft a i{
	display: inline-block;
    margin: 0 5px;
}
#footer_smll .smlright{
    width: 84.2%;
    float: left;
    padding-bottom: 15px;
}
#footer_smll .smlright ul{
	float: right;
}
#footer_smll .smlright ul li{
	float: left;
}
#footer_smll .smlleft a,
#footer_smll .smlright ul li a{
	color: #afcde7;
	font-size: 16px;
}
#footer_smll .smlright ul li a{
	margin: 0 45px;
}
#footer_smll .smlright ul li a:last-child{
	margin-right: 0;
}
#footer_smll .smlleft a:hover,
#footer_smll .smlright ul li a:hover{
	text-decoration: underline;
}
#footer_smll .smlright .btminfo{
	clear: both;
	padding-top: 30px;
}
#footer_smll .smlright .btminfo p{
	font-size: 14px;
}
#footer_smll .smlright .btminfo a{
	float: right;
	color: #FFF;
}
#footer_smll .smlright .btminfo a{
	margin-left: 25px;
}
#footer_smll .smlright .btminfo span{
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(/job-bank/images/footer_ico.png) -36px -41px;
	vertical-align: middle;
    margin: 0 5px;
}
/*footer_smll lightbox*/
#footer_smll .fjblock,
#footer_smll .coblock{
	display: none;
	position: absolute;
	border: 2px solid #505d72;
	bottom: 50%;
    right: 0;
    background: #FFF;
    min-width: 330px;
}
#footer_smll .title{
	background: #505d72;
	line-height: 32px;
	padding-left: 10px;
}
#footer_smll .title .exist{
    display: block;
    text-align: center;
    color: #fefefe;
    border: 2px solid #fefefe;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 0 2px;
    float: right;
    margin: 5px;
}
#footer_smll .title .exist i{
	font-size: 16px;
    display: inline-block;
}
#footer_smll .fjblock ul,
#footer_smll .coblock ul{
	font-size: 14px;
    color: #000;
    padding: 7px 10px;
}
#footer_smll ul .ftlink{
	margin: 5px 0;
}
#footer_smll .fjblock a:hover,
#footer_smll .coblock a:hover{
	text-decoration: underline;
}
#footer_smll .coblock span{
	padding-left: 12px;
}
/*all basic setting*/
.w40{ width: 40% !important;}
.w40l{ width: 40%; float: left;}
.w58r{ width: 58%; float: right;}
.bder{ border: 2px solid #777f8d;}
.bdbtm{ border-bottom: 1px solid #555e6c;}
.floR{ float: right;}

/* DESKTOP
-----------------------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width: 990px) and (max-width: 1024px) {
.w40l{
	width: 43%;
}
.w58r{
    width: 57%;
}
#footer .ftservice .phone div{
    width: 86%;
}
#footer .fttag ul li:first-child{
    margin-left: 0;
}
#footer .fttag ul li{
    font-size: 13px;
}
}
@media screen and (max-width: 767px) {
/*footer_small*/
#footer_smll{
	display: none;
}
}
@media screen and (min-width: 768px) and (max-width: 1169px) {
.w40l{
    width: 42%;
}
#footer .fttag ul li{
	margin-right: 0;
}
#footer .fttag ul li:first-child{
    margin-left: 0;
}
#footer .ftleft p{
	text-align: center;
}	
#footer .ftleft p br{
	display: none;
}
#footer .ftservice .phone div{
	width: 87%;
}
/*footer_small*/
#footer_smll{
	width: 100%;
	padding: 0 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#footer_smll .smlleft{
	width: 19%;
}
#footer_smll .smlright{
    width: 81%;
}
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
#footer_smll .smlleft{
    width: 24%;
}
#footer_smll .smlright{
    width: 74%;
}
#footer_smll .smlright ul li a{
	margin: 0 10px;
}
#footer_smll .smlright .btminfo p{
    font-size: 14px;
    width: 349px;
    height: 25px;
    overflow: hidden;
}
#footer_smll .smlright .btminfo a{
    margin-left: 6px;
}
}
