@charset "utf-8";
/* if lt IE 9 IE9以下版本提醒更新*/
#warning{
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
}
#warning .wimg{
    width: 407px;
    height: 379px;
    position: absolute;
    z-index: 55;
    left: 38%;
    right: 38%;
    top: 150px;
    z-index: 1001;
}
#warning .wimg img{
	display: block;
	width: 100%;
	height: auto;
}
#warning .wimg h5{
	 ont-size: 19px;
    line-height: 27px;
    bottom: 6%;
    width: 84%;
    left: 9%;
    position: absolute;
}
#warning .wimg h5 a{
    color: #1d6ce2;
	display: inline-block;
    font-weight: bolder;
}
#warning .wimg h5 a:hover{
	text-decoration: underline;
	color: #c20629;
}
#warning .mask{
	display: block;
    position: absolute;
    z-index: 99;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: #000;
    filter: alpha(opacity= 70);
    -moz-opacity: 0.7;
    opacity: 0.7;
}
