﻿@charset "utf-8";
/* CSS Document */
@import url("reset.css");

.searchbox{
	width:350px;
	height:auto;
	overflow:hidden;
	border:2px solid #0066cc;
	background-color:#ffffff;
  font-family:新細明體;
}
.searchbox .schTitle{
	position:relative;
	width:100%;
	height:30px;
	line-height:30px;
	background-color:#0066cc;
	font-size:13px;
	color:#FFF;
	padding-left:8px;
	font-size:13px;
	color:#FFF;
}
.searchbox .schTitle .closeBtn{
	position:absolute;
	display:block;
	text-decoration:none;
	width:20px;
	height:20px;
	background-image:url(images/close_btn.jpg);
	right:15px;
	top:4px;
	transition:all 500ms ease;
	padding: 0 !important;
}
.searchbox .schTitle .closeBtn:hover{
	color:#FC0;
	background-image:url(images/close_btn_hover.jpg);
}
.searchbox .schList{
	font-size:13px;
	color:#333;
	border-bottom:2px dotted #CCCCCC;
	padding-bottom:10px;
}
.searchbox .schList .title{
	float:left;
	width:56px;
	line-height:1.5em;
	padding:4px 8px 0;
	color:#1663b0;
  cursor:default;
}
.searchbox .schList .side{
	width:275px;
	float:left;
	line-height:1.5em;
	padding:4px 0;
}
.searchbox .schList .side a{
	display:block;
	color:#000 !important;
	text-decoration:none;
	background: none !important;
	border: none !important;
}
.searchbox .schList .side a:hover{
	color:#0066cc;
	text-decoration:underline;
}
.searchbox .deleteBtn{
	display:block;
	float:right;
	color:#1663b0;
	font-size:13px;
	text-decoration:none;
	margin:5px 3px;
	padding:3px;
	border: none !important;
}
.searchbox .deleteBtn .deleteIco{
	display:inline-block;
	width:11px;
	height:11px;
	background-image:url(images/close_btn_s.jpg);
	vertical-align:middle;
	margin-right:5px;
}
.searchbox .deleteBtn:hover{
	background-color:#f2f2f2;
}
#showSearchLog {
    cursor: pointer;
    color: #336699;
    font-size: 13px;
    letter-spacing: normal;
}