/*
 *-----------------------------------------------------------------
 * Licensed Materials - Property of IBM
 *
 * WebSphere Commerce
 *
 * (C) Copyright IBM Corp. 2011, 2012 All Rights Reserved.
 *
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with
 * IBM Corp.
 *-----------------------------------------------------------------
 */

/* CSS Document */

/* Sign-in page
-------------------------------------------------------------------
*/
.sign_in_registration{
		margin: 0 auto;
		width: 773px;
		color: #4d4d4d;
		line-height: 1.1em;
}

.sign_in_registration .title{
		padding: 13px 0px 13px 0px;
		font-size: 14px;
}

.sign_in_registration .myaccount_error{
		color: #CA4200;
}

.sign_in_registration .myaccount_link{
		color: #006ECC;
}

.sign_in_registration .header_new{
		width: 370px;
		float: right;
}

.sign_in_registration .header_return{
		width: 370px;
		float: left;
}

.sign_in_registration .heading{
		padding: 17px 5px 0px 59px;
		font-size: 12px;
}

.sign_in_registration .content{
		width: 370px;
		font-size: 12px;
}

.sign_in_registration .forgot_password_link_padding{
		padding-bottom: 6px;
}

.sign_in_registration .content input,.sign_in_registration .align input
		{
		margin-bottom: 8px;
}

.sign_in_registration .align{
		padding: 15px 5px 0px 15px;
		min-height: 220px;
}

.sign_in_registration .forgot_password_container .align{
		height: 160px;
}

.sign_in_registration .forgot_password_container #WC_ActivationResendForm_div_7
		{
		height: 270px;
}

.sign_in_registration .forgot_password_container #WC_PasswordUpdateForm_div_7
		{
		height: 205px;
}

.sign_in_registration .ad{
		padding-top: 35px;
		padding-bottom: 20px;
		text-align: center;
		width: 100%;
}

/* Used for forgot password page */
.sign_in_registration .forgot_password_container{
		width: 773px;
		float: left;
}

.Mobile .sign_in_registration .forgot_password_container,
.Mobile .sign_in_registration .forgot_password_content
		{
		width: 100%;
		background-color: #fff;
}

.sign_in_registration .forgot_password_content{
		width: 773px;
		font-size: 12px;
}

.Mobile #ResetPasswordForm{
		background-color: #FFFFFF;
		display: block;
		float: left;
		width: 100%;
		margin-top: 10px;
}
.Mobile #ResetPasswordForm>.kaptcha{
		display: block;
    	float: left;
}
.Mobile #ResetPasswordForm>.kaptcha>.field{
		margin-bottom: 5px;
		float: left;
}
.Mobile #ResetPasswordForm>.kaptcha>.field>img{
		float: none;
		float: left;
}
.Mobile #ResetPasswordForm>.kaptcha>.field>br{
		display: none;
}
.Mobile #ResetPasswordForm>.kaptcha>.field>a{
		text-decoration: underline;	
		font-size: 11px;	
		color: #006ECC;
		float: left;
}
.Mobile #WC_UserRegistrationAddForm_div_privacy2{
		display: block;
		float: none;
}
.Mobile #ResetPasswordForm>.kaptcha>label.left{
		display: none;
}
.Mobile #ResetPasswordForm>.kaptcha>label{
		float: left;
}
.Mobile #ResetPasswordForm>.button_footer_line.no_float{
		display: block;
	    float: left;
	    height: auto;
}
.Mobile form#Logon>.align>br{
		display: block;
}
.sign_in_registration .forgot_password_header_return{
		background: url('../images/colors/color1/forgot_password.png');
		background-repeat: no-repeat;
		width: 773px;
		height: 44px;
}

.sign_in_registration .forgot_password_align{
		padding: 5px 5px 30px 59px;
		border-left: solid 1px #c9d3de;
		border-right: solid 1px #c9d3de;
}

.sign_in_registration .update_password_align{
		padding: 5px 5px 10px 59px;
		border-left: solid 1px #c9d3de;
		border-right: solid 1px #c9d3de;
		height: 180px;
}

#ResendActivationForm span.strongtext label{
		display: block;
}

/* Align bullets in sign-in page */
#WC_AccountDisplay_div_23 ul{
		padding-left: 15px;
}

/* UserRegistrationAddForm.jsp */
.sign_in_registration .form .content{
		width: 773px;
}

.sign_in_registration .form .content .align{
		padding: 5px 5px 0px 15px;
		border-left: solid 1px #ccc;
		border-right: solid 1px #ccc;
		height: auto;
}

.sign_in_registration .header_registration{
		background: url('../images/colors/color1/registration_header.png');
		background-repeat: no-repeat;
		width: 773px;
		height: 44px;
}

.sign_in_registration .heading{
		padding: 17px 5px 0px 59px;
}

.registration_header{
		color: #666;
		font-size: 16px;
		font-weight: normal;
}

.checkbox_label{
		/* remove this so that the string is wrapped when it is really long.
	float:left; */
		padding-left: 4px;
		vertical-align: middle;
}

.checkbox_label_registration{
		/* remove this so that the string is wrapped when it is really long.
	float:left; */
		padding-left: 10px;
		vertical-align: middle;
}

.sign_in_registration #resendActivationLink{
		margin: 10px 0px;
}

/* Shopping Cart page
-------------------------------------------------------------------
*/
#box{
		min-height: 400px;
		min-width: 521px;
		padding: 0px 0px 0px 0px;
		margin: 0px;
		display: block;
}

.Mobile #box{
		background-color: #FFFFFF;
	    float: left;
	    margin: 0;
	    min-height: 0;
	    min-width: 0;
	    padding: 0;
	    width: 100%;
}
/* box_1 used in address entry form in OrderShippingDetails page */
#box .body,#box_1 .body{
		margin: 0px;
		padding: 0px;
}

#box .body .title{
		font-weight: bold;
		padding-bottom: 2px;
}

#box .left{
		vertical-align: middle;
		/* causes problems with AjaxAddressBookForm */
		/*	height:20px; */
		line-height: 20px;
}

#box .content_text{
		height: 33px;
		line-height: 39px;
		display: table-cell;
		white-space: nowrap;
		font-size: 12px;
}

/* ShopCartDisplay.jsp border */
/* Removed as per MDS
#box .footer{
	width:100%;
	height:7px;
	background:url('../images/colors/color1/box_footer_tile.png');
	background-repeat:repeat-x;
}

#box .footer .left_corner{
	float: left;
	background: transparent url('../images/colors/color1/box_footer_left.png') no-repeat;
	width: 10px;
	height: 7px;
}

#box .footer .right_corner{
	float: right;
	background: transparent url('../images/colors/color1/box_footer_right.png') no-repeat;
	width: 10px;
	height: 7px;
}*/
#box .contentgrad_header,#box_1 .contentgrad_header{
		height: 33px;
		background: url('../images/colors/color1/box_grad_header_tile.png');
		background-repeat: repeat-x;
		margin: 0px auto;
}

#box .contentgrad_header .left_corner,#box_1 .contentgrad_header .left_corner
		{
		float: left;
		background: transparent
				url('../images/colors/color1/box_grad_header_left.png') no-repeat;
		width: 9px;
		height: 33px;
}

#box .contentgrad_header .right_corner,#box_1 .contentgrad_header .right_corner
		{
		float: right;
		background: transparent
				url('../images/colors/color1/box_grad_header_right.png') no-repeat;
		width: 10px;
		height: 33px;
}

/* ShopCartDisplay.jsp cost breakdown */
/*#total_breakdown{
	float:right;
	padding:5px 9px 10px 0px;
	text-align: right;
	display:inline-block;
	vertical-align:top;
}*/
/*
#total_breakdown #order_total{
	float:left; Dev: to maintain the tab order */
/*min-width: 165px;
}*/
#total_breakdown #order_total  .total_details{
		text-align: right;
		padding-right: 14px;
}

#total_breakdown #order_total  .total_figures{
		text-align: right;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		/*Fix Japanese Yen */
		font-size: 12px;
}

#total_breakdown #order_total .order_total{
		font-weight: bold;
		color: #666;
}

/*
#total_breakdown .promotion_code{
	float:left;
	height:23px;
	padding-right:4px;
	padding-top:3px;
}*/
#total_breakdown .promotion_input{
		float: left;
		height: 23px;
		padding-right: 5px;
}

#total_breakdown .promotion_input input{
		height: 16px;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		border: 1px solid #bfbfbf;
		color: #4D4D4D
}

#total_breakdown .promotion_button{
		float: left;
		vertical-align: middle;
		height: 23px;
}

#total_breakdown .promotion_used{
		clear: both;
		float: left;
		padding-right: 5px;
		text-align: left;
		margin-top: 5px;
}

#total_breakdown .promotion_used a img{
		width: 10px;
}

#total_breakdown .promotion_delete{
		float: right;
		width: 80px;
		padding-left: 3px;
		text-align: left !important;
}

/* ShopCartDisplay.jsp order item table */
#order_details{
		/*float:left;*/
		clear: both;
		padding-bottom: 10px;
		margin-top: 5px;
}

#order_details tr th div .italic{
		font-style: italic;
		color: #4d4d4d;
}

#order_details tr th div p{
		color: #006ECC;
}

.wallet_item_details_link,.remove_address_link{
		color: #4D4D4D;
}

#order_details .strong_content,.strong{
		color: #000;
		font-size: 13px;
}

#order_details td p img{
		/*padding-bottom:4px;*/
		
}

#order_details .align_center{
		text-align: center;
}

#order_details .align_left{
		text-align: left;
}

#order_details .shipAddress{
		width: 150px;
}

#order_details .shipMethod{
		width: 300px;
}

#order_details .requestedShippingDate{
		width: 12%;
}

#order_details .expedite{
		width: 15%;
}

#order_details .received{
		text-align: center;
		padding-right: 8px;
		width: 90px;
}

#order_details .avail{
		text-align: left;
		width: 90px;
}

#order_details .QTY{
		text-align: center;
		width: 40px;
}

#order_details .QTY .short{
		width: 20px;
}

#order_details .each{
		font-family: Verdana, Arial, Helvetica, sans-serif;
		/*Fix Japanese Yen */
		text-align: right;
		width: 70px;
}

#order_details .each .short{
		width: 50px;
}

#order_details .total{
		font-family: Verdana, Arial, Helvetica, sans-serif;
		text-align: right;
		width: 70px;
}

#order_details .total .short{
		width: 50px;
}

#order_details .purchase_date{
		width: 100px;
		padding-left: 8px;
		text-align: left;
}

#order_details .regmemo_textarea{
		margin-bottom: 2px;
		margin-right: -7px;
}

#order_details th{
		height: 18px;
		vertical-align: top;
		padding: 0px;
		font-weight: bold;
}

#order_details tr.nested th{
		border-bottom: 1px solid #ccc;
		height: 19px;
		vertical-align: top;
		padding-top: 1px;
		padding-bottom: 4px;
		color: #666;
		line-height: 18px;
}

#order_details td{
		border-bottom: 1px solid #ccc;
		font-weight: normal;
		padding: 8px 0px;
		text-align: left;
		vertical-align: top;
}

#order_details .img{
		float: left;
		padding-right: 7px;
}

#order_details .product_specs{
		margin-left: 16px;
}

.shipping_billing_img_padding #order_details .img{
		padding-right: 150px;
}

.shipping_billing_img_padding #order_details .itemspecs a.discount{
		padding-left: 0px;
}

#order_details #WC_OrderItemDetailsf_div_1_1.img{
		margin-bottom: 11px;
}

#order_details .itemspecs{
		float: left;
		vertical-align: middle;
}

#order_details .itemspecs a.discount{
		padding-left: 70px;
}

#order_details .itemspecs .icon_link{
		vertical-align: top;
}

.icon_link_align{
		line-height: 16px;
		display: inline-block;
}

.info_icon{
		padding-left: 5px;
}

#order_details .th_align_left_normal{
		border-bottom: 1px solid #ccc;
		font-weight: normal;
		padding: 6px 0px;
		text-align: left;
		vertical-align: top;
}

#order_details .th_align_left_normal .itemspecs{
		/*padding-right:10px;*/
		width: 315px;
}
.Mobile #order_details .th_align_left_normal .itemspecs{
		width: 100%;
}
.Mobile #order_details .th_align_left_normal div.itemspecs>span>a{
		color: #007FBF;
		text-decoration: underline;
}
#order_details .th_align_left_no_bottom{
		border-bottom: 0px;
}

#order_details .th_align_left_dotted_top_solid_bottom{
		/*this class is used when there is a discount*/
		border-top: 1px dashed #ccc !important;
		text-align: left;
		font-weight: normal;
		padding: 6px 7px 6px 7px;
		vertical-align: top;
		border-bottom: 1px solid #ccc !important;
		text-align: right;
		font-style: italic;
		color: #eb690a;
}
.Mobile #order_details .th_align_left_dotted_top_solid_bottom .carDiscount_Name{
		font-size: 12px;
		padding: 0px;
		margin: 0px;
		height: auto;
}
#order_details .align_right,.each,.total{
		text-align: right;
		padding-top: 10px;
}

#order_details input{
		font-family: Verdana, Arial, Helvetica, sans-serif;
		border: 1px solid #bfbfbf;
		color: #4D4D4D
}

.order_details_my_account{
		padding: 4px 0px 4px 0px;
}
.Mobile .order_details_my_account{
		padding: 4px 10px;
}
#box.shopping_cart_box{
		min-height: 240px;
		font-size: 12px;
		color: #4d4d4d;
		font-family: Verdana, Arial, Helvetica, sans-serif;
}

#box.shopping_cart_box .espot_checkout_bottom_right{
		margin-left: 580px;
}

#box.shopping_cart_box .espot_checkout_top{
		/*margin-left:520px;*/
		
}

#box.shopping_cart_box .espot_payment{
		display: inline-block;
}

div#shopping_cart_product_table_tall{
		font-size: 12px;
		color: #4d4d4d;
		line-height: 0px;
}
/* CheckoutLogon.jsp when an unregistered user views the shopping cart */
#customers_new_or_returning{
		padding-top: 15px;
}

#customers_new_or_returning .returning{
		float: left;
		text-align: left !important;
		padding: 10px 0px 50px 20px;
		width: 220px;
		border-right: 1px solid #ccc;
		position: relative;
}
.Mobile #customers_new_or_returning .returning{
		width: 100%;
}
#customers_new_or_returning .returning_button{
		text-align: left !important;
		padding: 10px 0px 0px 0px;
		width: 220px;
		position: absolute;
		bottom: 0px;
}

#customers_new_or_returning .new{
		float: left;
		padding: 10px 15px 73px 15px;
		text-align: left !important;
		width: 660px;
		position: relative;
}
.Mobile #customers_new_or_returning .new{
		width: 100%;
}
#customers_new_or_returning .new_button{
		padding: 10px 0px 0px 0px;
		text-align: left !important;
		width: 220px;
		position: absolute;
		bottom: 0px;
}

#customers_new_or_returning h2{
		font-weight: bold;
		font-size: 16px;
		color: #007fbf;
}

#customers_new_or_returning input{
		font-family: Verdana, Arial, Helvetica, sans-serif;
		border: 1px solid #bfbfbf;
		color: #4D4D4D
}

/* Unregistered checkout address form 
-------------------------------------------------------------------
*/
#unregistered_form{
		font-size: 12px;
}

#unregistered_form .col1_bill{
		border-right: 1px solid #ccc;
		float: left;
		width: 410px;
		padding-left: 8px;
		padding-right: 25px;
}

.col1_bill>h1,.col2_ship>h1{
		color: #666;
		font-weight: bold;
		font-size: 14px;
		padding-bottom: 10px;
}

#unregistered_form .col2_ship{
		float: left;
		width: 400px;
		padding-left: 50px;
}

.sixpixels{
		float: left;
		height: 10px;
		padding-left: 6px;
}

.same_as_billing_checkbox{
		position: relative;
		margin-left: -10px;
}

.denote_required_field{
		margin: 15px 0px;
}

.required-field{
		width: 8px;
		color: #d90101;
		padding-top: 2px;
		display: inline;
}

.form_input{
		width: 185px;
}

.button_right_side_message{
		padding: 0px 0px 14px 10px;
		display: inline-block;
		vertical-align: middle;
		font-size: 14px;
		color: #666;
}

/* ShippingDetailsDisplay.jsp
-------------------------------------------------------------------
*/
#box .header_element_align{
		padding-top: 9px;
		padding-left: 7px;
		float: left;
}

#location .location_select{
		margin-right: 15px;
		float: left;
}

#location .location_select_form{
		padding-right: 0px;
		height: 30px;
}

#location .location_select_button{
		padding-top: 21px;
		padding-left: 5px;
		margin-left: 5px;
		display: block;
}

/* StoreLocator.jsp
-------------------------------------------------------------------
*/
#box .content_header{
		height: 40px;
		background: url('../images/colors/color1/box_header_tile2.png');
		background-repeat: repeat-x;
		border-right: solid 1px #ccc;
		border-left: solid 1px #ccc;
}

#box .content_header .left_corner{
		float: left;
		background: transparent
				url('../images/colors/color1/box_header_lef2t.png') no-repeat;
		width: 8px;
		height: 39px;
}
.Mobile #box .content_header .left_corner{
		background: none;
		height: auto;
		width: auto;		
}
.Mobile .right_column>#box>#WC_RegistrationUpdateCommonPage_div_1>#WC_UserRegistrationUpdateForm_div_6{
		display: none;
}
#box .content_header .right_corner{
		float: right;
		background: transparent
				url('../images/colors/color1/box_header_right2.png') no-repeat;
		width: 11px;
		height: 39px;
}

#box .content_header .shipping_info_espot{
		float: left;
}

#box .content_footer,#box_1 .content_footer{
		height: 39px;
		background: url('../images/colors/color1/box_footer_tile1.png');
		background-repeat: repeat-x;
		border-right: solid 1px #ccc;
		border-left: solid 1px #ccc;
}

#box .espot_checkout_bottom{
		padding-left: 10px;
		font-size: 12px;
}

#box .espot_checkout_bottom .espot_checkout_bottom_right{
		margin-left: 800px;
}

.content_wrapper .content_left_shadow .content_right_shadow .main_content .container_full_width .espot_checkout_top
		{
		margin-left: 740px;
		padding-top: 5px;
		display: block;
		font-size: 12px;
}
.Mobile .content_wrapper .content_left_shadow .content_right_shadow .main_content .container_full_width .espot_checkout_top{
		display: none;
}
/* Add to the above so other top espots aren't affected */
.content_wrapper .content_left_shadow .content_right_shadow .main_content .container_full_width .gift_header .espot_checkout_top
		{
		position: relative;
		top: -35px;
}

#box .content_footer .left_corner,#box_1 .content_footer .left_corner{
		float: left;
		background: transparent
				url('../images/colors/color1/box_footer_left1.png') no-repeat;
		width: 11px;
		height: 39px;
}

#box .content_footer .right_corner,#box_1 .content_footer .right_corner
		{
		float: right;
		background: transparent
				url('../images/colors/color1/box_footer_right1.png') no-repeat;
		width: 11px;
		height: 39px;
}

.button_footer_line{
		padding-top: 18px;
		padding-bottom: 8px;
		float: left;
		/*	clear: left; causes button to disappear and a messed up footer in myaccount pages */
}

.no_float{
		float: none;
}

.content_footer .button_footer_line{
		padding-top: 2px;
}

.store_locator_title{
		font-size: 22px;
		color: #CA4200;
		padding-bottom: 5px;
}

/* SelectedStoreList.jsp
-------------------------------------------------------------------
*/
div#your_store_list .text_padding{
		padding: 10px 0;
		font-size: 14px;
		display: none;
}

/* StoreLocatorResults.jsp
-------------------------------------------------------------------
*/
.number_info{
		padding-top: 4px;
		float: left;
}

div#store_selection div.number_info{
		/* border-bottom: 7px solid #ccc; Seems to cause a grey bar not seen in MadisonsV1 */
		width: 100%;
}

div#store_selection div.number_info span.blue_text{
		height: 23px;
		line-height: 23px;
}

.solid_line{
		border-top: 1px solid #ccc;
}

#bopis_table{
		padding-bottom: 4px;
		margin-top: 10px;
}

#bopis_table td{
		padding: 6px 0px;
		vertical-align: top;
}

#bopis_table .dotted_bottom_border{
		border-bottom: 1px dotted #ccc;
}

#bopis_table td.avail img{
		vertical-align: middle;
}

#bopis_table1{
		float: left;
		padding-bottom: 4px;
		margin-top: 5px;
}

#bopis_table1 .dotted_bottom_border{
		border-bottom: 1px solid #ccc;
}

#bopis_table1 .no_bottom_border{
		border-bottom: 1px solid #ccc;
}

#bopis_table1 td{
		padding: 10px 0px;
		vertical-align: middle;
}

#bopis_table1 .bopis_row{
		
}

#bopis_table1 td.avail img{
		vertical-align: middle;
}

#bopis_table1 input{
		margin-right: 16px;
		margin-left: 8px;
}
.Mobile #bopis_table1 input{
		margin-left: 0px;
		margin-right: 8px;
}
/* ShippingDetailsDisplay.jsp
-------------------------------------------------------------------
*/
#box .main_header{
		height: 33px;
		background: url('../images/colors/color1/box_header_tile1.png');
		background-repeat: repeat-x;
}

#box .main_header .left_corner{
		float: left;
		background: transparent
				url('../images/colors/color1/box_header_left1.png') no-repeat;
		width: 11px;
		height: 33px;
}

#box .main_header .right_corner{
		float: right;
		background: transparent
				url('../images/colors/color1/box_header_right1.png') no-repeat;
		width: 11px;
		height: 33px;
}

#box .main_header_text{
		height: 33px;
		line-height: 33px;
		margin: 0px;
		padding: 0;
		white-space: nowrap;
		font-size: 16px;
		color: #666;
}

#shipping{
		padding-left: 0px;
		font-size: 12px;
}

#shipping .title{
		font-weight: bold;
}

#shipping .shipping_address{
		clear: left;
		float: left;
		padding: 10px 50px 5px 0px;
}

#shipping .title{
		color: #666;
}

#shipping .shipping_method{
		float: left;
		padding: 10px 0px 5px 3px;
}

#shipping .shipping_method .dropdown{
		padding-bottom: 5px;
}

#shipping .shipping_method .checkbox .element{
		padding: 0px 0px 0px 0px;
		margin: 0px;
		border: none;
}

#shipping .shipping_method .checkbox .text{
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 12px;
		vertical-align: 20%;
		padding-bottom: 5px;
		color: #4d4d4d;
}

.shopcart_pagination{
		float: left;
		width: 100%;
}

div.free_gifts_block{
		float: left;
		width: 691px;
}

.Mobile div.free_gifts_block{
		width: 100%;
}

#shipping div.free_gifts_block{
		width: 917px;
}

.Mobile #shipping div.free_gifts_block{
		width: 100%;
}

#box .main_header .left_corner_straight{
		float: left;
		background: transparent
				url('../images/colors/color1/box_header_left_straight.png')
				no-repeat;
		width: 11px;
		height: 33px;
}

#box .main_header .right_corner_straight{
		float: right;
		background: transparent
				url('../images/colors/color1/box_header_right_straight.png')
				no-repeat;
		width: 11px;
		height: 33px;
}

.editAddressLink,.newShippingAddressButton{
		color: #006ECC;
}

/* CheckoutPaymentsAndBillingAddress.jspf
-------------------------------------------------------------------
*/
.payment_heading{
		font-weight: bold;
		width: 150px;
		color: #666;
		font-size: 12px;
		padding: 10px 0px;
}
.Mobile .payment_heading{
		padding: 0px 10px;
}
#billing .billing_address_container,.billing .billing_address_container
		{
		float: left;
}

.card_info{
		display: inline-block;
		width: 350px;
}
.Mobile .card_info{
		width: 100%;
}
.card_info .col1{
		float: left;
		width: 390px;
		padding-top: 5px;
}
.Mobile .card_info .col1{
		width: 100%;
		padding: 0px;
}
.Mobile .card_info .col1 .card_number{
		width: 100%;
}
.card_info .col1 .card_number{
		width: 160px;
		float: left;
}

.card_info .col1 .date{
		display: block;
		padding-top: 5px;
}

.card_info .col1 span input{
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 12px;
}

.card_info .month_year{
		float: left;
		padding-right: 18px;
}

.card_info select{
		width: 63px;
}

.card_info a{
		font-family: Verdana;
		font-size: 8pt;
		color: #404040;
		text-decoration: none;
		padding-left: 4px;
		line-height: 19px;
		vertical-align: top;
}

.card_info a:hover{
		text-decoration: underline;
}

.card_info .payment_amount,.billing_method .payment_amount{
		color: #666;
		font-weight: bold;
		padding-top: 5px;
}

.visaCVV2{
		position: relative;
		bottom: 5px;
}

/* Used with CVV2 link */
.order_link{
		color: #006ECC;
}

/* OrderShippingBillingDetails.jsp - calendar
-------------------------------------------------------------------
*/

/* Dojo defined Tooltip css classes */
.dijitTooltip{
		position: absolute;
		z-index: 2000;
		display: block;
		/* make visible but off screen */
		left: 50%;
		top: -10000px;
		overflow: visible;
}

.dijitTooltipFocusNode{
		padding: 2px 2px 2px 2px;
}

.dijitTooltipConnector{
		position: absolute;
}

.dijit_a11y .dijitTooltipContainer{
		opacity: 1 !important;
		background-color: white !important;
}

.dj_safari .tundra .dijitPopup{
		-webkit-box-shadow: 0px 5px 10px #adadad;
}

.dijitTooltip,.dijitTooltipDialog{
		opacity: 0.95;
		background: transparent;
		/* make the area on the sides of the arrow transparent */
}

.dijitTooltipBelow{
		padding-top: 13px;
}

.dijitTooltipAbove{
		padding-bottom: 13px;
}

.dijitTooltipContainer{
		border: 2px solid #ff0000;
		background: #fff;
		color: #ff0000;
		font-size: small;
		padding: 0.45em;
		border-radius: 6px;
		-moz-border-radius: 7px;
		-webkit-border-radius: 6px;
		width: 100%;
}

.dijitTooltipConnector{
		border: 0px;
		z-index: 2;
}

.dijitTooltipABRight .dijitTooltipConnector{
		left: auto !important;
		right: 3px;
}

.dijitTooltipBelow .dijitTooltipConnector{
		top: 1px;
		left: 3px;
		background: url("../images/colors/color1/tooltipConnectorUp.png")
				no-repeat top left;
		width: 16px;
		height: 14px;
}

.dijitTooltipAbove .dijitTooltipConnector{
		bottom: 0px;
		left: 3px;
		background: url("../images/colors/color1/tooltipConnectorDown.png")
				no-repeat top left;
		width: 16px;
		height: 14px;
}

.dijitTooltipLeft{
		padding-right: 13px;
}

.dijitTooltipLeft .dijitTooltipConnector{
		right: 0px;
		bottom: 7px;
		background: url("../images/colors/color1/tooltipConnectorRight.png")
				no-repeat top left;
		width: 16px;
		height: 14px;
}

.dijitTooltipRight{
		padding-left: 13px;
}

.dijitTooltipRight .dijitTooltipConnector{
		left: 0px;
		bottom: 7px;
		background: url("../images/colors/color1/tooltipConnectorLeft.png")
				no-repeat top left;
		width: 16px;
		height: 14px;
}

.dj_ie .dijitRtl .dijitTooltipLeft{
		margin-right: 0px;
		margin-left: 13px;
}

.dj_ie .dijitRtl .dijitTooltipRight{
		margin-left: 26px;
		margin-right: -13px;
}

.dj_ie .dijitRtl .dijitTooltipDialog{
		zoom: 1 !important;
}

.dijitValidationIcon{
		display: none;
}

/* Needed by dojo calendar classes */
.dijitHidden{
		display: none;
}

.dijitVisible{
		display: block;
		position: relative;
}

.dijitPopup{
		position: absolute;
		background-color: transparent;
		margin: 0;
		border: 0;
		padding: 0;
}

/* Calendar from dijit.css */
.dijitCalendarContainer thead tr th,.dijitCalendarContainer thead tr td,.dijitCalendarContainer tbody tr td,.dijitCalendarContainer tfoot tr td
		{
		padding: 0;
}

.dijitCalendarNextYear{
		margin: 0 0 0 0.55em;
}

.dijitCalendarPreviousYear{
		margin: 0 0.55em 0 0;
}

.dijitCalendarIncrementControl{
		cursor: pointer;
		cursor: hand;
		width: 1em;
}

.dijitCalendarDisabledDate{
		color: gray !important;
}

.dijitCalendarBodyContainer tbody tr td{
		cursor: pointer;
		cursor: hand;
}

.dijitCalendarPreviousMonthDisabled{
		cursor: default !important
}

.dijitCalendarCurrentMonthDisabled{
		cursor: default !important
}

.dijitCalendarNextMonthDisabled{
		cursor: default !important;
}

.dijitCalendarDateTemplate{
		cursor: pointer;
}

.dijitCalendarSelectedYear{
		cursor: pointer;
}

.dijitCalendarNextYear,.dijitCalendarPreviousYear{
		cursor: pointer;
}

.dijitCalendarMonthLabelSpacer{
		/* don't display it, but make it affect the width */
		position: relative;
		height: 1px;
		overflow: hidden;
		visibility: hidden;
}

/* Calendar from tundra.css*/
.dijitCalendarIncrementControl{
		/* next/prev month buttons */
		width: 16px;
		height: 16px;
}

.dijitCalendarIncreaseInner,.dijitCalendarDecreaseInner{
		visibility: hidden;
}

.dijitCalendarDecrease{
		background: url("../images/colors/color1/arrowLeft.png") no-repeat
				center center;
}

.dijitCalendarIncrease{
		background: url("../images/colors/color1/arrowRight.png") no-repeat
				center center;
}

.dijitCalendarWidth{
		width: 200px;
}

.dijitCalendarWidth input{
		width: 132px;
}

table.dijitCalendarContainer{
		font-size: 100%;
		border-collapse: collapse;
		border-spacing: 0;
		border: 1px solid #ccc;
		margin: 0;
}

.dijitCalendarMonthContainer th{
		/* month header cell */
		background: white url("../images/colors/color1/calendarMonthLabel.png")
				repeat-x top;
		padding-top: .3em;
		padding-bottom: .1em;
		text-align: center;
}

.dijitCalendarDayLabelTemplate{
		/* day of week labels */
		background: white url("../images/colors/color1/calendarDayLabel.png")
				repeat-x bottom;
		font-weight: normal;
		padding-top: .15em;
		padding-bottom: 0em;
		border-top: 1px solid #eeeeee;
		color: #293a4b;
		text-align: center;
}

.dijitCalendarMonthLabel{
		/* day of week labels */
		color: #293a4b;
		font-size: 0.75em;
		font-weight: bold;
		text-align: center;
}

.dj_ie7 .dijitCalendarDateTemplate{
		font-size: 0.8em;
}

.dijitCalendarDateTemplate{
		/* style for each day cell */
		font-size: 0.9em;
		font-weight: bold;
		text-align: center;
		padding: 0.3em 0.3em 0.05em 0.3em;
		letter-spacing: 1px;
}

.dijitCalendarPreviousMonth,.dijitCalendarNextMonth{
		/* days that are part of the previous or next month */
		color: #999999;
		background-color: #f8f8f8 !important;
}

.dijitCalendarPreviousMonthDisabled,.dijitCalendarNextMonthDisabled{
		/* days that are part of the previous or next month - disabled*/
		background-color: #a4a5a6 !important;
}

.dijitCalendarCurrentMonth{
		/* days that are part of this month */
		background-color: white !important;
}

.dijitCalendarCurrentMonthDisabled{
		/* days that are part of this month - disabled */
		background-color: #bbbbbc !important;
}

.dijitCalendarDisabledDate{
		/* one or the other? */
		/* background: url(images/noX.gif) no-repeat center center !important; */
		text-decoration: line-through !important;
		cursor: default !important;
}

.dijitCalendarCurrentDate{
		/* cell for today's date */
		text-decoration: underline;
		font-weight: bold;
}

.dijitCalendarSelectedDate{
		/* cell for the selected date */
		background-color: #F5AA31 !important;
		color: black !important;
}

.dijitCalendarYearContainer{
		/* footer of the table that contains the year display/selector */
		background: white url("../images/colors/color1/calendarYearLabel.png")
				repeat-x bottom;
		border-top: 1px solid #ccc;
}

.dijitCalendarYearLabel{
		/* container for all of 3 year labels */
		margin: 0;
		padding: 0.4em 0 0.25em 0;
		text-align: center;
}

.dijitCalendarSelectedYear{
		/* label for selected year */
		color: black;
		padding: 0.2em;
		padding-bottom: 0.1em;
		background-color: #F5AA31 !important;
}

.dijitCalendarNextYear,.dijitCalendarPreviousYear{
		/* label for next/prev years */
		color: black !important;
		font-weight: normal;
}

.dijitCalendarMonthLabelSpacer{
		/* don't display it, but make it affect the width */
		position: relative;
		height: 1px;
		overflow: hidden;
		visibility: hidden;
}

/* Tooltip popups
-------------------------------------------------------------------
*/
/*All the classes are similar to POPUP except that .tooltip_popup and #popup are different. Tooltip popups position should not be absolute and display should be block.*/
.tooltip_popup{
		width: 285px;
}

.tooltip_popup .header{
		background-image: url('../images/colors/color1/popup_header.png');
		background-repeat: no-repeat;
		text-align: left;
		padding-left: 15px;
		height: 23px;
		line-height: 15px;
}

.tooltip_popup .popup_header_title{
		float: left;
		color: white;
		padding: 5px 4px 0px 15px;
		font-size: 11px;
}

.tooltip_popup .close{
		padding: 5px 15px 2px 0px;
		color: white;
}

.tooltip_popup .close .icon{
		padding-top: 2px;
		padding-left: 4px;
		float: right;
}

.tooltip_popup .bodyarea{
		background-image: url('../images/colors/color1/popup_tile.png');
		background-repeat: repeat-y;
}

.tooltip_popup .bodycontent{
		background-image: url('../images/colors/color1/popup_gradient.png');
		background-repeat: no-repeat;
		padding: 12px 17px 12px 15px;
		margin: 0px 1px 0px 1px;
}

.tooltip_popup .bodycontent_short{
		background-image:
				url('../images/colors/color1/popup_gradient_short.png');
		background-repeat: no-repeat;
		padding: 12px 17px 12px 15px;
		margin: 0px 1px 0px 1px;
}

.tooltip_popup .footer{
		background-image: url('../images/colors/color1/popup_footer.png');
		background-repeat: no-repeat;
		text-align: right;
		height: 23px;
		width: 285px;
}

.tooltip_popup_price{
		font-family: Verdana, Arial, Helvetica, sans-serif;
}

/* Edit Address on OrderShippingBilling page
-------------------------------------------------------------------
*/
#centered_single_column_form{
		width: 240px;
		padding-left: 370px;
		padding-right: 25px;
		font-size: 12px;
}

#centered_single_column_form h1{
		color: #666;
		font-weight: bold;
		font-size: 14px;
		padding-bottom: 10px;
}

/* Shipping and billing on summary page
-------------------------------------------------------------------
*/
#shipping .shipping_address_summary{
		float: left;
		padding: 10px 100px 5px 3px;
}

#shipping .shipping_method_summary{
		float: left;
		padding: 10px 0px 5px 3px;
}

#box .contentline{
		height: 8px;
		background-repeat: repeat-x;
		border-left: solid 1px #ccc;
		border-right: solid 1px #ccc;
}

.billing_border{
		border-top: 1px solid #ccc;
}

#billing_summary,.billing_summary,.billing_address,.billing_method,#billing_method
		{
		/*padding:10px 30px 0px 0px;*/
		font-size: 12px;
}

#billing_summary .title,.billing_summary .title,.billing_address .title,.billing_method .title,#billing_method
		{
		color: #666;
}
.shipping_billing_height{
		height: 100%;
}

#WC_SingleShipmentSummary_div_21,#WC_OrderShippingBillingConfirmationPage_div_21
		{
		margin-top: 10px;
}

.itemspecs,.billing_address,.shipping_address_nester,.shipping_address,.shipping_address_content,.description_fixedwidth
		{
		line-height: 18px;
		position: relative;
}

#billing summary .profile,.billing_summary .profile,.shipping_address_content .profile,.shipping_address .profile,.shipping_address_nester .profile
		{
		padding-bottom: 10px;
}
.offerprice{
		color: #eb690a;
}
.order_print_signup{
		line-height: 12px;
		padding: 18px 2px 8px;
		font-size: 12px;
		color: #4d4d4d;
}

.button_footer_line .left{
		padding-left: 5px;
}

.button_side_message{
		padding-left: 10px;
		padding-top: 6px;
		float: left;
		font-size: 14px;
		color: #666;
		display: none;
}

#WC_CheckoutPaymentAndBillingAddressSummaryf_div_6,#WC_UnregisteredCheckout_div_9
		{
		font-size: 12px;
}

#checkoutsms{
		font-size: 12px;
}

/* General
-------------------------------------------------------------------
*/

/* Needed by tooltips such as a billing method not selected during checkout */
iframe{
		display: none;
}

.nodisplay{
		display: none;
}

.breadcrumb_current{
		color: #CA4200;
		font-weight: bold;
}

#breadcrumb .on{
		color: #CA4200;
		font-size: 22px;
}

.top_border{
		border-top: 1px solid #ccc;
		float: right;
		/*width:485px;*/
}

.space{
		height: 6px;
}

div.hidden_summary{
		position: absolute;
		left: -99999px;
}

textarea{
		padding: 2px;
		margin: 2px 0px 0px 0px;
		font-size: 12px;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		border: 1px solid #bfbfbf;
		overflow: auto;
		color: #4D4D4D
}

.checkbox{
		padding-bottom: 3px;
		margin-top: 3px;
		margin-right: 4px;
		width: 13px;
		height: 13px;
		border: none;
		vertical-align: middle;
		line-height: 0px;
}

.button_left_padding{
		margin-left: 6px;
}

.Mobile .button_left_padding{
		margin-left: 10px;
}

.error_msg{
		color: #FF0000;
		padding-bottom: 10px;
		display: block;
}

a.hover_underline:hover,.hover_underline a:hover{
		text-decoration: underline;
}

.no_bottom_border{
		border-bottom: 0px;
}

/* Free gift popup - PromotionChoiceOfFreeGiftsPopup
-------------------------------------------------------------------
*/
.widget_site_popup{
		font-size: 12px;
}

div.widget_site_popup>.middle>.content_left_border>.content_right_border>.content>.body>#radio_choices
		{
		padding: 8px 17px 0 9px;
}

div#radio_choices div{
		margin-bottom: 6px;
}

div#radio_choices div input{
		margin: 0;
		vertical-align: top;
}

div.widget_site_popup>.middle>.content_left_border>.content_right_border>.content>.body>#free_gifts_table
		{
		height: 260px;
		overflow-y: auto;
		overflow-x: hidden;
}

div.widget_site_popup>.middle>.content_left_border>.content_right_border>.content>.footer>.button_container>.button_secondary
		{
		display: block;
		float: right;
}

div#free_gifts_table div.gifts_wrapper{
		padding-bottom: 10px;
		border-top: 1px solid #c6d0dc;
}

div.gifts_wrapper div.gift_item_container{
		border-bottom: 1px solid #c9d3de;
}

div.gift_item_container div.selection{
		float: left;
		padding: 34px 5px 6px 5px;
		width: 25px;
}

div.gift_item_container div.image{
		float: left;
		padding: 6px 5px;
		width: 70px;
}

div.gift_item_container div.product_info{
		float: left;
		padding: 6px 5px;
		width: 250px;
}

div.gift_item_container div.product_info h2{
		font-size: 10px !important;
}

div.gift_item_container div.price{
		float: left;
		padding: 6px 5px;
		text-align: right;
		width: 50px;
}

.product_info p.online_availability{
		padding-top: 5px;
}

/* MyAccountDisplay.jsp
-------------------------------------------------------------------
*/
.my_account{
		width: 718px;
		padding: 0px 0px 0px 0px;
		margin: 0px;
		float: left;
}

.my_account .info{
		padding: 8px;
}

.my_account .content{
		border-left: solid 1px #ccc;
		border-right: solid 1px #ccc;
		border-bottom: solid 1px #ccc;
		display: block;
}

.my_account_content_bold{
		font-weight: bold;
		color: #666;
		font-size: 12px;
}

.status_msg{
		color: #666;
		font-weight: bold;
}

#box .my_account .body{
		border-left: solid 1px #ccc;
		border-right: solid 1px #ccc;
		border-bottom: solid 1px #ccc;
		margin: 0px 0px 0px 0px;
		padding: 0px 8px 0px 8px;
		display: block;
		font-size: 12px;
		color: #4d4d4d;
		min-height: 150px;
}
.Mobile #box .my_account .body{
		padding: 0px;
		border-bottom: none;
}
#Register input,#WC_AccountForm_div_9 input,#my_account_billing input,#shipAddr input
		{
		margin-bottom: 10px;
}

.Mobile #Register input,.Mobile #WC_AccountForm_div_9 input,.Mobile #my_account_billing input,.Mobile #shipAddr input
		{
		font-size: 20px;
		font-weight: normal;
		height: 30px;
		line-height: 30px;
		margin-bottom: 10px;
		width: 98%;
}

.Mobile #Register input[type="radio"],.Mobile #WC_AccountForm_div_9 input[type="radio"],.Mobile #my_account_billing input[type="radio"],.Mobile #shipAddr input[type="radio"]
		{
		width: 15px;
		vertical-align: middle;
}

/* General info table   */
div.info_table{
		border-left: 1px solid #ccc;
		border-right: 1px solid #ccc;
		border-top: 1px solid #ccc;
		margin-bottom: 10px;
		display: -moz-inline-block;
		display: inline-block;
		zoom: 1;
		*display: inline;
}

div.info_table div.row{
		border-bottom: 1px solid #ccc;
}

div.info_table div.row div.label,div.info_table div.row div.info_content,div.info_table div.row div.label1,div.info_table div.row div.label2,div.info_table div.row div.info_content1
		{
		float: left;
		text-align: left;
		padding: 7px 0 3px 5px;
		vertical-align: middle;
}

div.info_table div.row div.label{
		border-right: 1px solid #ccc;
		background-color: #fbfbfb;
		width: 130px;
		padding-left: 8px;
		padding-right: 8px;
		height: auto !important;
		min-height: 23px;
		height: 23px;
}

div.info_table div.row div.info_content{
		background-color: #fff;
		display: -moz-inline-block;
		display: inline-block;
		zoom: 1;
		*display: inline;
		border-right: none;
		padding-right: 7px;
}

div.info_table div.row div.label1{
		width: 210px;
		padding-left: 5px;
		padding-right: 5px;
		height: auto !important;
		min-height: 23px;
		height: 23px;
		overflow-x: auto;
}

div.info_table div.label1{
		overflow-x: auto;
}

div.info_table div.row div.label2{
		width: 100px;
		padding-left: 5px;
		padding-right: 5px;
		min-height: 23px;
		height: 23px;
}

div.info_table div.row div.info_content1{
		display: -moz-inline-block;
		display: inline-block;
		zoom: 1;
		*display: inline;
		border-right: none;
		padding-right: 7px;
		height: auto !important;
		min-height: 23px;
		height: 23px;
		width: 210px;
}

div.info_table div.row div.info_content input,div.info_table div.row div.info_content select
		{
		margin: 0;
		height: 20px
}

/* My Account left navigation
-------------------------------------------------------------------
*/
#left_nav{
		width: 167px;
		padding: 0px 0px 13500px 0px;
		margin: 0px 2px -13500px 0px;
		float: left;
}

#left_nav p{
		line-height: 1.8;
		margin-right: 7px;
}

#left_nav .left_nav_container{
		background-color: #fbfbfb;
		width: 161px;
		padding: 0px 0px 13520px 0px;
		margin: 0px 0px -13500px 0px;
}

#left_nav .left_nav_options{
		border: solid 5px #ccc;
		padding: 5px 0px 25px 7px;
		padding-left: 0px;
		padding-top: 0px;
}

.left_nav_options .subcategory_link,.left_nav_options .subcategory_link a,.left_nav_options .leftnav_myaccount_dotted a
		{
		color: #666;
}

.left_nav_options .sidebar_header{
		border-bottom: 1px solid #ccc;
		border-top: 1px solid #ccc;
		height: 34px;
}

.left_nav_options .sidebar_header{
		padding-left: 7px;
		text-transform: uppercase;
		font-size: 11px;
		color: #666;
		font-weight: bold;
}

.left_nav_options .sidebar_header a{
		padding-left: 0px;
		text-transform: uppercase;
		font-size: 11px;
		color: #666;
		font-weight: bold;
}

/* Duplicate? */
/* #left_nav h2{
	line-height:12px;
	margin-right:7px;
	padding-bottom:5px;
}
*/
#left_nav h2{
		line-height: 35px;
		padding-bottom: 0px;
		background-color: #FFFFFF;
		margin-right: 0px;
}

.leftnav_myaccount_solid{
		border-bottom: 1px solid #ccc;
}

.leftnav_myaccount_dotted{
		border-bottom: dotted 1px #ccc;
}

.left_nav_options .sidebar_header{
		border-bottom: 1px solid #ccc;
		border-top: 1px solid #ccc;
		height: 34px;
}

/* RegistrationUpdateCommonPage.jsp
-------------------------------------------------------------------
*/
.form_2column{
		padding: 15px 0px 0px 0px;
}

.Mobile .form_2column{
		padding: 0px 10px;
}

.form_2column .align{
		padding-bottom: 10px;
}

.form_2column .column{
		width: 335px;
		float: left;
}

.form_2column .column_registration{
		width: 500px;
		float: left;
}

.Mobile .form_2column .column_registration{
		width: 100%;
}

.form_2column .birthdayColumn{
		float: left;
		margin-right: 2px;
}

.form_2column .label_spacer{
		padding-bottom: 5px;
}

/* AddressBookForm.jsp
-------------------------------------------------------------------
*/
.addrbook_header{
		padding-top: 8px;
		float: left;
}

.address input{
		font-size: 12px;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		border: 1px solid #bfbfbf;
		margin: 2px 0 7px;
		padding: 2px;
		height: 15px;
		color: #4D4D4D
}

#addr_title h2{
		font-size: 12px;
}

/* MyAccountQuickCheckoutProfileForm.jsp
-------------------------------------------------------------------
*/
.shipping_billing_content{
		padding: 0px;
		float: left;
}

#my_account_billing{
		padding: 0px 10px 0px 0px;
		float: left;
		border-right: solid 1px #c9d3de;
		margin-bottom: 8px;
}

#my_account_shipping{
		padding-left: 20px;
		float: left;
}

.myaccount_link_legend{
		color: #666666;
		font-size: 14px;
		padding-bottom: 4px;
		font-weight: normal;
}

.my_account .myaccount_link{
		color: #006ECC;
}

.quick_checkout_profile_padding{
		padding-bottom: 7px;
}

/* Order Details table
-------------------------------------------------------------------
*/
div.order_status_table{
		padding: 8px 0;
}

div.order_status_table div.ul{
		list-style: none;
		margin: 0;
		padding: 0;
}

div.order_status_table div.ul div.li{
		float: left;
		padding: 3px 0px;
}
.Mobile div.order_status_table div.ul div.li{
		padding: 10px 0px;		
}
div.order_status_table div.ul div.clear_float{
		float: none;
		font-size: 0;
		padding: 0;
}
.Mobile #OrderStatusDetailsDisplayExt_li_header_1,
.Mobile #OrderStatusDetailsDisplayExt_li_header_2,
.Mobile #OrderStatusDetailsDisplayExt_li_header_8,
.Mobile #OrderStatusDetailsDisplayExt_li_header_9{
		padding: 0px;
}
.Mobile div.order_status_table div.ul div.clear_float{
		padding: 0px !important;
}
div.order_status_table div.column_heading{
		border-bottom: 1px solid #ccc;
		font-weight: bold;
		color: #666;
		padding-left: 5px;
}

div.order_status_table div.row{
		border-bottom: 1px solid #ccc;
		min-height: 30px;
		padding: 10px 0;
}

div.order_status_table div.ul div.row div.li{
		padding: 6px 5px;
}

div.order_status_table div.ul div.row div.clear_float{
		padding: 0;
}

div.order_status_table div.order_number_column_1{
		width: 18%;
}

div.order_status_table div.order_date_column_1{
		width: 18%;
}

div.order_status_table div.status_column_1{
		width: 19%;
}

div.order_status_table div.status_column{
		width: 17%;
}

div.order_status_table div.total_price_column_1{
		text-align: right;
		width: 12%;
}

div.order_status_table div.order_scheduled_column_1{
		width: 18%;
}

div.order_status_table div.next_order_column_1{
		width: 17%;
}

div.order_status_table div.order_status_column_1{
		width: 5%;
}

div.order_status_table div.order_number_column_1 span{
		display: block;
}

div#PreviouslyProcessed{
		padding-right: 10px;
}

div#WaitingForApproval{
		padding-right: 10px;
}

div#Scheduled{
		padding-right: 10px;
}

div.order_status_table div.purchase_order_column_1{
		width: 15%;
}

div.order_status_table div.option_1{
		width: 24%; /* Increased for g18n */
		float: right !important;
}

div.order_status_table div.order_number_column_2{
		width: 27%;
}

div.order_status_table div.last_updated_column_2{
		width: 27%;
}

div.order_status_table div.purchase_order_column_2{
		width: 18%;
}

div.order_status_table div.total_price_column_2{
		text-align: right;
		width: 18%;
}

div.order_status_table div.order_number_column_3{
		width: 30%;
}

div.order_status_table div.purchase_order_column_3{
		width: 20%;
}

div.order_status_table div.next_order_date_column_3{
		width: 20%;
}

div.order_status_table div.total_price_column_3{
		text-align: right;
		width: 20%;
}

div.order_status_table div.option_3{
		width: 24%;
}

div.order_status_table div.option_button{
		float: right;
}

div.order_status_table div.option_button span.primary_button span.button_container span.button_top span.button_bottom a
		{
		position: static;
}

.order_status{
		background: #fff
				url('../images/colors/color1/product_tab_box_tile2.png') repeat-y;
		padding-bottom: 0px;
		width: 100%;
}

.order_status .info{
		padding: 5px 11px 0px 14px;
		line-height: 15px;
}

.order_status .tabfooter{
		background: url('../images/colors/color1/product_tab_box_footer2.png');
		background-repeat: no-repeat;
		height: 14px;
}

.order_status_table div.options_column span.primary_button span.button_container span.button_top span.button_bottom
		{
		min-width: 65px;
}

/* Order History Table */
div.order_status_table.order_history div.status_column{
		width: 26%;
}

div.order_status_table.order_history div.options_column{
		width: 20%;
		float: right !important;
		padding-right: 0 !important;
}
/*************/

/* Scheduled Orders/Subscription Table */
div.order_status_table.subscriptions div.status_column,div.order_status_table.scheduled_orders div.status_column
		{
		width: 7%
}

div.order_status_table.subscriptions div.options_column,div.order_status_table.scheduled_orders div.options_column
		{
		width: 24%; /* Increase for g18n */
		float: right !important;
		padding-right: 0 !important;
}

div.order_status_table.subscriptions div.options_column div.edit,div.order_status_table.scheduled_orders div.options_column div.edit
		{
		margin-top: 0 !important;
}

.myaccount_header.bottom_line{
		background-color: #fff;
		border-bottom: 1px solid #ccc;
}

.myaccount_header.no_side_lines{
		border-right: none;
		border-left: none;
}

.myaccount_content{
		border: solid 1px #ccc;
		margin: 0px 0px 0px 0px;
		padding: 0px 8px 0px 8px;
		display: block;
}

.myaccount_content.margin_below{
		margin-bottom: 8px;
}

.myaccount_desc_title{
		color: #666666;
		font-weight: bold;
		font-size: 12px;
}

.myaccount .bopis_link{
		color: #006ECC;
}

.myaccount_section_header{
		border-bottom: 1px solid #ccc;
		height: 33px;
		margin: 0 auto;
}

.myaccount_subheader{
		background: none repeat scroll 0 0 #FBFBFB;
		border: 1px solid #ccc;
		height: 33px;
		margin: 0 auto;
		padding: 0px 8px 7px;
}

.myaccount_section_header.around_border{
		border: 1px solid #ccc;
}

.my_account .header{
		height: 33px;
		line-height: 33px;
		margin: 0px;
		padding: 0px;
		font-size: 12px;
		padding-left: 8px;
		color: #333333;
}

.my_account .header{
		font-size: 14px;
		color: #666666;
}

/* OrderDetailDisplay.jsp */
#orderConfirmationHeader{
		display: none;
}

/* OrderShipmentDetails.jsp */
.gift_section{
		border: 1px solid #ccc;
		clear: both;
		margin-bottom: 8px;
}

.gift_section_content{
		margin: 0 auto;
		padding: 8px;
}

.gift_section_content.fixed_height{
		height: 220px;
}

/* Right navigation for wish list */
#right_nav{
		width: 192px;
		padding: 0px 0px 3500px 5px;
		margin: 0px 0px -3500px 0px;
		float: right;
}

#wishlist .side_footer{
		background: none;
		width: 192px;
		height: 10px;
}

/* Personal Wish List
-------------------------------------------------------------------
*/
#wishlist{
		width: 192px;
		padding: 0px 0px 5px 0px;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 12px;
		color: #59677d;
		border: 3px solid #e7e7e7;
}

#wishlist .header{
		padding: 6px 4px 4px 8px;
}

#wishlist .header_text{
		padding: 6px 0px 0px 0px;
		line-height: 14px;
}

#wishlist .contents{
		background: none;
		background-repeat: repeat-y;
		padding: 6px 4px 8px 8px;
}

.required-field_wishlist{
		width: 8px;
		color: #d90101;
		position: relative;
		top: 2px;
}

.wishlist_side_space{
		padding-left: 0px;
}

#wishlist .side_footer{
		width: 192px;
		height: 10px;
}

.my_account_wishlist{
		width: 521px;
		padding: 0px 0px 10px 0px;
		margin: 0px;
		float: left;
		font-size: 14px;
}

.my_account_wishlist_container{
		padding-left: 5px;
		padding-right: 5px;
		font-size: 12px;
}

.my_account_wishlist .deleteLink,my_account_wishlist .deleteLink a{
		color: #4d4d4d;
		font-size: 12px;
}

.my_account_wishlist .remove{
		background: url("../images/colors/color1/remove.png") no-repeat scroll 0
				0 transparent;
		display: inline-block;
		height: 7px;
		margin-bottom: 3px;
		margin-right: 3px;
		vertical-align: middle;
		width: 7px;
		text-decoration: none;
}

.multiple_wishlist_actions_border{
		padding-top: 7px;
		padding-bottom: 12px;
}

.multiple_wishlist_link_divider{
		background-image: url(../images/colors/color1/listdiv.png);
		background-position: center bottom;
		background-repeat: no-repeat;
		height: 16px;
		padding-left: 5px;
		padding-right: 5px;
		width: 7px;
}

#box .body588{
		border-left: solid 1px #ccc;
		border-right: solid 1px #ccc;
		border-bottom: solid 1px #ccc;
		width: 521px;
}

.left_wishlist{
		padding: 9px 0;
		float: left;
}

#box .subheader_text{
		font-size: 12px;
		padding-left: 10px;
}

#box .my_account_wishlist #WishlistDisplay_Widget .divider_line_style{
		background-color: #FFFFFF;
		background-position: left;
		clear: both;
		height: 1px;
		font-size: 0px;
}

#box .views_icon{
		position: relative;
		left: -10px;
		top: 10px;
}

div#top_pagination,div .top_pagination{
		margin-top: 5px;
}

/* right sidebar ad - remote widget */
.sidebar_ad_remote_widget{
		height: 25px;
}

/* content area spot - remote widget feed button styling */
.feed_widget_area_right{
		padding: 0px 7px;
		float: right;
}

.feed_widget_label{
		color: #006ECC;
		vertical-align: middle;
		padding-bottom: 7px;
		display: inline-block;
}

.feed_widget_icon{
		zoom: 1; /* gives ie shadow */
		display: -moz-stack;
		display: inline-block;
		padding-top: 7px;
}

/* MyAccount Breadcrumb
-------------------------------------------------------------------
*/
#breadcrumb{
		width: 967px;
		min-height: 25px;
		margin: 0 auto;
		padding: 0px;
		margin-bottom: 2px;
}

.Mobile #breadcrumb{
	    margin: 0;
	    overflow: hidden;
	    width: 100%;
}

#breadcrumb .title{
		padding: 0px 0px 7px 15px;
}
.Mobile #breadcrumb .title{
		padding: 1rem;
}
.Mobile #breadcrumb a#back_link{
		color: #007FBF;
	    display: block;
	    font-size: 12px;
	    font-weight: normal;
}
.myaccount_title{
		color: #222222;
}

#WC_MyAccountDisplay_div_1 .myaccount_breadcrumb{
		color: #59677D;
}

#WC_MyAccountDisplay_div_1 .myaccount_title .landingpage_link{
		color: #CA4200;
		font-size: 22px;
}

#WC_MyAccountDisplay_div_1 .myaccount_title .sub_breadcrumb{
		text-decoration: none;
		color: #008BDF;
		font-size: 12px;
		font-weight: normal;
}

#WC_MyAccountDisplay_div_1 .myaccount_title .current_breadcrumb{
		color: #59677D;
		font-size: 16px;
		font-weight: bold;
}

#WC_MyAccountDisplay_div_1 .myaccount_title .divider{
		vertical-align: 16%;
		font-size: 18px;
}

#four-grid,#four-grid-wishlist,#four-grid-espot{
		/*width: 520px;
	min-width: 520px;*/
		padding: 0px 10px 0px 7px;
		margin: 0px;
		vertical-align: top;
}

#four-grid td,#four-grid-wishlist td,#four-grid-espot td{
		/*width:25%;*/
		
}

#four-grid .item,#four-grid-espot .item{
		padding: 10px 5px 3px 5px;
		vertical-align: top;
}

#four-grid .item .description,#four-grid-wishlist .item .description,#four-grid-espot .item .description
		{
		height: 60px;
		padding-top: 5px;
		padding-left: 5px;
}

#four-grid .item .price,#four-grid-espot .item .price{
		height: 35px;
		padding-left: 3px;
		font-size: 12px;
		font-family: Verdana, Arial, Helvetica, sans-serif;
}

#four-grid .item .button .multiple_buttons,#four-grid-wishlist .item .button .multiple_buttons,#four-grid-espot .item .button .multiple_buttons
		{
		height: 24px;
}

#four-grid .divider_line,#four-grid-wishlist .divider_line,#four-grid-espot .divider_line
		{
		border-top: 1px solid #edeff0;
}

#second_level_category_popup_main_div,#requisition_list_popup_main_div,.multiple_wishlist_popups_div,.cancel_subscription_popups_div
		{
		display: none;
}

#second_level_category_popup,#requisition_list_popup,.multiple_wishlist_popup,.cancel_subscription_popup
		{
		width: 457px !important;
		position: absolute;
		display: block;
		z-index: 9999;
		background-color: #ffffff;
		overflow: hidden;
		border: 3px solid #a2a2a2;
}

#second_level_category_popup .top_left,.multiple_wishlist_popup .top_left,.cancel_subscription_popup .top_left
		{
		background-image: url('../images/colors/color1/popup_topleft.png');
		background-repeat: no-repeat;
		height: 10px;
		width: 8px;
		float: left;
		display: none;
}

#second_level_category_popup .top_right,.multiple_wishlist_popup .top_right,.cancel_subscription_popup .top_right
		{
		background-image: url('../images/colors/color1/popup_topright.png');
		background-repeat: no-repeat;
		background-position: right;
		height: 10px;
		width: 490px;
		float: left;
		display: none;
}

#second_level_category_popup .close,#requisition_list_popup .close,.multiple_wishlist_popup .close,.cancel_subscription_popup .close
		{
		padding: 12px 15px 9px 0;
		color: #666666;
		background-color: #f5f6f7;
		border-bottom: 1px solid #edefe0;
}

#second_level_category_popup .close .icon,#requisition_list_popup .close .icon,.multiple_wishlist_popup .close .icon,.cancel_subscription_popup .close .icon
		{
		padding-top: 2px;
		padding-left: 4px;
		float: right;
}

#second_level_category_popup .bodycontent div.clear_float,#requisition_list_popup .bodycontent div.clear_float,.multiple_wishlist_popup .bodycontent div.clear_float,.cancel_subscription_popup .bodycontent div.clear_float
		{
		clear: both;
}

#second_level_category_popup .footer,#requisition_list_popup .footer,.multiple_wishlist_popup .footer
		{
		text-align: right;
		height: 14px;
		width: 498px;
		display: none;
}

#second_level_category_popup .footer .bot_left,#requisition_list_popup .footer .bot_left,.multiple_wishlist_popup .footer .bot_left
		{
		background-image: url('../images/colors/color1/popup_botleft.png');
		background-repeat: no-repeat;
		height: 14px;
		width: 8px;
		float: left;
}

#second_level_category_popup .footer .bot_right,#requisition_list_popup .footer .bot_right,.multiple_wishlist_popup .footer .bot_right
		{
		background-image: url('../images/colors/color1/popup_botright.png');
		background-repeat: no-repeat;
		background-position: right;
		height: 14px;
		width: 490px;
		float: left;
}

.multiple_wishlist_popup .header{
		text-align: right;
		height: 38px;
		clear: left;
}

.multiple_wishlist_actions_border{
		padding-top: 0px;
		padding-bottom: 5px;
		text-align: right;
}

.multiple_wishlist_popup .multiple_wishlist_actions_border{
		border-top: 1px solid #edeff0;
}

.multiple_wishlist_popup .bodycontent{
		background-repeat: repeat-y;
		padding: 0;
}

.multiple_wishlist_popup h2{
		font-size: 14px;
		font-weight: bold;
		color: #666666;
}

.multiple_wishlist_popup #createForm{
		min-height: 26px;
}

.multiple_wishlist_popup h2{
		padding: 8px;
}

.multiple_wishlist_popup label{
		padding: 8px 8px 0;
}

.multiple_wishlist_popups_div form{
		padding: 8px 8px 0;
}

.bopis_link{
		color: ##006ECC;
}

.wishList_save{
		min-width: 37px;
}

/* Override .widget_product_listing classes in order to re-use the espot */
.my_account_wishlist .widget_product_listing>.top{
		width: 523px;
}

.my_account_wishlist .widget_product_listing>.top>.middle_tile{
		width: 521px;
}

.my_account_wishlist .widget_product_listing>.middle{
		width: 521px;
}

.my_account_wishlist .widget_product_listing>.middle>.left_border>.right_border>.content
		{
		width: 521px;
}

.my_account_wishlist .widget_product_listing>.middle>.left_border{
		width: 521px;
}

.my_account_wishlist .widget_product_listing>.middle>.left_border>.right_border
		{
		width: 521px;
}

.my_account_wishlist .widget_product_listing>.bottom{
		width: 523px;
}

.my_account_wishlist .widget_product_listing>.bottom>.middle_tile{
		width: 521px;
}

.my_account_wishlist .product_listing_container .grid_mode>.row>.product
		{
		width: 173px;
}

.clear_both{
		clear: both;
}

/* Wishlist tables */
.my_account_shared_wishlist #horizontal_grid{
		margin: 0 auto;
		width: 710px;
		padding: 0px 10px;
}

.my_account_shared_wishlist #horizontal_grid tr.item_container td.divider_line
		{
		border-top: 1px solid #ccc;
}

.my_account_shared_wishlist #horizontal_grid tr.item_container td.information
		{
		width: 400px;
}

.my_account_shared_wishlist #horizontal_grid tr.item_container td.information p
		{
		width: 400px;
		font-size: 12px;
}

#horizontal_grid tr.item_container td.divider_line{
		border-top: 1px solid #ccc;
}

#horizontal_grid{
		margin: 0 auto;
		width: 521px;
		padding: 0px 10px;
}

#horizontal_grid tr.item_container td{
		padding: 3px 0px;
		vertical-align: top;
}

#horizontal_grid tr.item_container td.image{
		padding: 2px 0px 2px 5px;
		text-align: center;
		width: 90px;
}

#horizontal_grid tr.item_container td.information{
		width: 185px;
}

#horizontal_grid tr.item_container td.information p{
		width: 185px;
		font-size: 12px;
}

#horizontal_grid tr.item_container td.information h3{
		font-size: 12px;
		font-weight: bold;
		padding-right: 7px;
		width: 185px;
		color: #4d4d4d;
}

#horizontal_grid tr.item_container td.price{
		font-weight: bold;
		text-align: right;
		width: 61px;
		white-space: nowrap;
}
.Mobile #horizontal_grid tr.item_container td.price{
		width: inherit;
}
#horizontal_grid tr.item_container td.price span.price{
		font-weight: bold;
		text-align: right;
		width: 61px;
		white-space: nowrap;
}

#horizontal_grid tr.item_container td.price .price{
		/*fix Japanese YEN */
		font-size: 12px;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-weight: bold;
		text-align: right;
		width: 30px;
}

#horizontal_grid tr.item_container td.add_to_cart{
		text-align: right;
		width: 141px;
		padding-left: 5px;
}

.listPrice{
		/*fix Japense YEN */
		font-family: Verdana, Arial, Helvetica, sans-serif;
		text-decoration: line-through;
		font-weight: normal;
}

td.item	.listPrice{
		font-weight: bold;
		text-decoration: line-through;
}

/* Workaround for large font issues on IE7 */
.sign_in_registration .container h2{
		font-size: 16px;
		font-weight: normal;
}

.sign_in_registration .right h2{
		font-size: 16px;
		font-weight: normal;
}

.sign_in_registration .title h1{
		font-size: 14px;
		font-weight: normal;
}

#SendMsgForm .header h2{
		font-size: 12px;
}

#breadcrumb .title h1{
		font-size: 22px;
}

#my_account_billing h1{
		font-size: 14px;
}

#my_account_shipping h1{
		font-size: 14px;
}

#centered_single_column_form .order_link{
		font-size: 16px;
}

/* Pagination for shopping cart */
#box .paging{
		padding-left: 12px;
}

.shopcart_pagination{
		float: left;
		width: 100%;
}

#ShopcartPaginationText1 .textfloat{
		float: left;
		padding-top: 10px;
}

#ShopcartPaginationText2 .textfloat{
		float: left;
		padding-top: 5px;
}

#ShopcartPaginationText1 .divpadding{
		float: left;
		padding-left: 12px;
		padding-top: 10px;
}

#ShopcartPaginationText2 .divpadding{
		float: left;
		padding-left: 12px;
		padding-top: 5px;
}

/* Recurring order popup */
.recurring_orderdesc_popup_main_div{
		display: none;
}

.recurring_orderdesc_popup{
		width: 498px;
		position: absolute;
		display: block;
		z-index: 9999;
		background-image: url('../images/colors/color2/transparent.gif');
		background-repeat: no-repeat;
		overflow: hidden;
}

.recurring_orderdesc_popup .top_left{
		background-image: url('../images/colors/color2/popup_topleft.png');
		background-repeat: no-repeat;
		height: 10px;
		width: 8px;
		float: left;
}

.recurring_orderdesc_popup .top_right{
		background-image: url('../images/colors/color2/popup_topright.png');
		background-repeat: no-repeat;
		background-position: right;
		height: 10px;
		width: 490px;
		float: left;
}

.recurring_orderdesc_popup .header{
		background-image: url('../images/colors/color2/popup_center_tile.png');
		background-repeat: repeat-y;
		text-align: right;
		height: 23px;
		clear: left;
}

.recurring_orderdesc_popup .bodycontent{
		background-image: url('../images/colors/color2/popup_center_tile.png');
		background-repeat: repeat-y;
		margin: 0;
		padding: 0 0 15px 0;
}

.recurring_orderdesc_popup .bodycontent .recurringOrderInfoPopUp_title{
		font-size: 14px;
		font-weight: bold;
		margin: 0px 11px 0px 11px;
		padding: 0;
}

.recurring_orderdesc_popup .bodycontent .descriptions{
		margin: 5px 12px 0px 12px;
		font-size: 12px;
}

.recurring_orderdesc_popup .bodycontent div.clear_float{
		clear: both;
}

.recurring_orderdesc_popup .footer{
		text-align: right;
		height: 14px;
		width: 498px;
}

.recurring_orderdesc_popup .bot_left{
		background-image: url('../images/colors/color2/popup_botleft.png');
		background-repeat: no-repeat;
		height: 14px;
		width: 8px;
		float: left;
}

.recurring_orderdesc_popup .bot_right{
		background-image: url('../images/colors/color2/popup_botright.png');
		background-repeat: no-repeat;
		background-position: right;
		height: 14px;
		width: 490px;
		float: left;
}
/* Recurring order area on shipping and billing page */
#box .scheduleOrderArea{
		border-left: solid 1px #ccc;
		border-right: solid 1px #ccc;
		margin: 0px 0px 0px 0px;
		padding: 10px 8px 10px 8px;
		display: block;
}

#box .scheduleOrderArea .scheduleOrderAreaInterval{
		float: left;
		padding: 0px 55px 5px 3px;
}

#box .scheduleOrderArea .scheduleOrderAreaStartDate{
		float: left;
		padding: 0px 5px 5px 0px;
}

#box .scheduleOrderArea .title{
		font-weight: bold;
		padding-bottom: 2px;
}

/* CouponWalletDisplay.jsp, CouponWalletTable.jsp
-------------------------------------------------------------------
*/

/* A div to hold the entire couponWallet jsp so that it can be aligned on the page differently in the My Account section. */
.couponWalletContainer{
		float: left;
		width: 700px;
}
.Mobile .couponWalletContainer{
		width: 100%;
}
/* Override definition below since this table is shared between My Coupons and Shopping cart pages */
.couponWalletContainer .couponWalletTable_couponName{
		width: 423px;
}
.Mobile .couponWalletContainer .couponWalletTable_couponName{
		width: 100%;
}
/* Override definition below since this table is shared between My Coupons and Shopping cart pages */
.couponWalletContainer .couponWalletTable_expirationDate{
		width: 151px;
}
/* Override since this table is shared between My Coupons and Shopping cart pages */
#WC_ShopCartDisplay_div_5 #couponWalletTable th,#WC_ShipmentDisplay_div_18 #couponWalletTable th
		{
		height: 28px;
}
/* Override since this table is shared between My Coupons and Shopping cart pages */
#WC_ShopCartDisplay_div_5 #couponWalletTable .button_text,#WC_ShipmentDisplay_div_18 #couponWalletTable .button_text
		{
		width: 39px;
}
/* A div which adds a top border on the checkout page. */
#couponWalletTopBorder{
		border-top: 1px solid #C9D3DE;
		float: right;
		margin-top: 10px;
		width: 100%;
}
/* The coupon wallet table */
#couponWalletTable{
		float: right;
		margin-top: 10px;
		margin-bottom: 10px;
}
/* The header columns of the coupon wallet table */
#couponWalletTable th{
		text-align: left;
		padding-left: 7px;
		border-bottom: 1px solid #C9D3DE;
		font-size: 12px;
		font-weight: bold;
		color: #666666;
}
/* The table dimensions of the coupon wallet table */
#couponWalletTable td{
		border-bottom: 1px dotted #C9D3DE;
		padding: 6px 7px;
		vertical-align: middle;
		font-size: 12px;
}
/* The coupon name column of the coupon wallet table */
.couponWalletTable_couponName{
		width: 247px;
		word-break: break-word;
		color:
}

.couponWalletTable_couponName a{
		font-size: 12px;
}
/* The expiration date column of the coupon wallet table */
.couponWalletTable_expirationDate{
		width: 131px;
		word-break: break-word;
		color: #4d4d4d;
}

.couponWalletTable_buttonColumn{
		width: 88px;
}

.couponWallet_NoCouponsMessage{
		padding-top: 7px;
		font-size: 12px;
}
.Mobile .couponWallet_NoCouponsMessage{
		padding: 10px;
}
/* Scheduled Orders
-------------------------------------------------------------------
*/
#box .order_number_column{
		width: 20%;
}

#box .order_scheduled_column{
		width: 17%;
}

#box .next_order_column{
		width: 17%;
}

#box .order_status_column{
		width: 9%;
}

#box .total_price_column{
		width: 9%;
}

.actions_down_arrow{
		margin: 0px;
		padding: 0px;
		width: 7px;
		height: 5px;
		background-image: url('../images/button_arrow.gif');
		position: absolute;
		top: 8px;
		right: 6px;
}

.actions_popup{
		width: 140px;
		padding: 5px 10px 10px 10px;
		margin: 0px;
		background-color: #ffffff;
		z-index: 2;
		border: 1px solid #c0dcf2;
}

.actions_popup .edit{
		padding-bottom: 4px;
		font-size: 8pt;
		color: #006ECC;
		line-height: 10px;
}

.actions_popup .reorder{
		padding: 4px 0px;
		font-size: 8pt;
		color: #006ECC;
		line-height: 10px;
}

.actions_popup .cancel{
		padding-top: 4px;
		font-size: 8pt;
		color: #006ECC;
		line-height: 10px;
}

.actions_popup .link{
		font-size: 8pt;
		color: #006ECC;
}

/* Cancel Subscription Popup */
.cancel_subscription_popup{
		width: 325px !important;
}

.cancel_subscription_popup h2{
		font-size: 14px;
		font-weight: bold;
}

.cancel_subscription_popup .top_right,.cancel_subscription_popup .footer .bot_right
		{
		background-position: right center;
		width: 317px !important;
}

.cancel_subscription_popup .header{
		background-image:
				url('../images/colors/color2/popup_center_tile_sm.png');
		background-repeat: repeat-y;
		text-align: right;
		clear: left;
}

.cancel_subscription_actions_border{
		padding-top: 7px;
		padding-bottom: 12px;
}

.cancel_subscription_popup .bodycontent{
		background-repeat: repeat-y;
		padding: 0 25px 0px 25px;
}

.cancel_subscription_popup .footer{
		text-align: right;
		height: 14px;
		width: 325px;
}

/* Tabs for Scheduled Order Details
-------------------------------------------------------------------
*/
.tab_container_top{
		width: 100%;
		height: 27px;
}

.tab_container_top .tab_clear{
		width: 22px;
		height: 27px;
		float: left;
}

.tab_container_top .tab_active_left{
		width: 6px;
		height: 27px;
		float: left;
		background-image: url('../images/colors/color1/tab_active_left.png');
}

.tab_container_top .tab_inactive_left{
		width: 6px;
		height: 27px;
		float: left;
		background-image: url('../images/colors/color1/tab_inactive_left.png');
}

.tab_container_top .tab_active_middle{
		height: 27px;
		float: left;
		background-image: url('../images/colors/color1/tab_active_bg.png');
		line-height: 27px;
		margin: 0px;
		padding: 0px 10px;
		white-space: nowrap;
		font-size: 14px;
}

.tab_container_top .tab_active_inactive{
		width: 25px;
		height: 27px;
		float: left;
		background-image:
				url('../images/colors/color1/tab_active_inactive_divider.png');
}

.tab_container_top .tab_inactive_active{
		width: 25px;
		height: 27px;
		float: left;
		background-image:
				url('../images/colors/color1/tab_inactive_active_divider.png');
}

.tab_container_top .tab_inactive_middle{
		height: 27px;
		float: left;
		background-image: url('../images/colors/color1/tab_inactive_bg.png');
		text-align: bottom;
		line-height: 27px;
		margin: 0px;
		padding: 0px 10px 0px 10px;
		white-space: nowrap;
		font-size: 14px;
}

.tab_container_top .tab_link{
		line-height: 27px;
		margin: 0px;
		white-space: nowrap;
		font-size: 14px;
}

.tab_container_top .tab_inactive_right{
		width: 26px;
		height: 27px;
		float: left;
		background-image: url('../images/colors/color1/tab_inactive_right.png');
}

.tab_container_top .tab_active_right{
		width: 26px;
		height: 27px;
		float: left;
		background-image: url('../images/colors/color1/tab_active_right.png');
}

.tab_container_base{
		width: 100%;
		height: 6px;
		padding: 0px;
		background-image:
				url('../images/colors/color1/tab_container_middle.png');
}

.tab_container_base .tab_container_left{
		width: 7px;
		height: 6px;
		background-image: url('../images/colors/color1/tab_container_left.png');
		float: left;
}

.tab_container_base .tab_container_right{
		width: 7px;
		height: 6px;
		background-image: url('../images/colors/color1/tab_container_right.png');
		float: right;
}

/* Scheduled Order details
-------------------------------------------------------------------
*/
#scheduleOrderInputSection .scheduleOrderAreaInterval{
		clear: left;
		float: left;
		padding: 10px 55px 5px 0px;
		width: 120px;
		font-size: 12px;
		color: #666;
}

#scheduleOrderInputSection .scheduleOrderAreaStartDate{
		float: left;
		width: 176px;
		padding: 10px 5px 5px 0px;
		position: relative;
		font-size: 12px;
		color: #666;
}

#scheduleOrderInputSection .scheduleOrderAreaNextDelivery{
		float: left;
		width: 176px;
		padding: 10px 5px 5px 0px;
		position: relative;
}

#scheduleOrderInputSection .title{
		font-weight: bold;
}

#mainTabContainer_tablist{
		display: none;
}

.breadcrumb_item{
		float: right;
		padding: 2px 2px 0px 2px;
}

#orderItemDisplay{
		color: #59677D;
		font-size: 14px;
		font-weight: normal;
		padding: 15px 7px 7px 14px;
}

.Mobile #orderItemDisplay{
		padding: 0px;
		color: #FFFFFF;
}

#orderItemDisplay .breadcrumb_item{
		float: right;
		padding: 2px 9px 0px 0px;
}

#WC_EmptyShopCartDisplayf_div_1{
		min-height: 150px;
		width: 935px;
		padding: 20px 0px 20px 0px;
		text-align: center;
}

.Mobile #WC_EmptyShopCartDisplayf_div_1{
		width: 100%;
}
/* Recurring Orders Table */
div.order_status_table.scheduled_orders div.order_number_column{
		width: 15%;
}

div.order_status_table.scheduled_orders div.order_scheduled_column{
		width: 15%;
}

div.order_status_table.scheduled_orders div.next_order_column{
		width: 15%;
}

div.order_status_table.scheduled_orders div.order_status_column_history
		{
		width: 35%;
}

div.order_status_table.scheduled_orders div.order_status_column{
		width: 10%;
}

div.order_status_table.scheduled_orders div.total_price_column{
		text-align: right;
		width: 10%;
}

.order_content{
		color: #CA4200;
}

/* GenericError.jsp
-------------------------------------------------------------------
*/
.generic_error_container{
		margin-left: auto !important;
		margin-right: auto !important;
		margin-top: 60px !important;
		width: 70% !important;
		min-height: 300px !important;
		float: none !important;
		height: 300px;
}

.generic_error_developers{
		font-weight: bold;
}

/* Store locator page
-------------------------------------------------------------------
*/
.checkout #box .body,.checkout #box_1 .body{
		border-left: solid 1px #ccc;
		border-right: solid 1px #ccc;
		margin: 0px 0px 0px 0px;
		padding: 0px 8px 0px 8px;
		display: block;
		width: 917px;
}

.checkout_show_icon{
		margin-left: 875px;
		padding-top: 5px;
		position: relative;
		top: -32px;
		right: 10px;
}

.checkout_show_icon .hide{
		min-width: 50px;
		font-size: 12px;
		color: #666;
}

.checkout_top_location{
		top: -42px;
}

.content_text_title{
		display: table-cell;
		font-size: 14px;
		font-weight: bold;
		color: #666666;
		padding-bottom: 4px;
}

.gift_content{
		font-size: 12px;
}

.gift_content.no_top_border{
		border-top: none;
}

.gift_content.margin_below{
		margin-bottom: 8px;
}

.remove_store_link{
		color: #006ECC;
}
/* QuickOrderForm.jsp
-------------------------------------------------------------------
*/
#quick_order{
		padding: 11px;
		white-space: normal;
		line-height: 1.4;
		font-size: 12px;
}

#quick_order .line_number{
		float: left;
		padding: 8px 5px 0px 5px;
		width: 15px;
}

#quick_order .input_form{
		float: left;
}

#quick_order .error_text{
		color: #CA4200;
}

#quick_order .headers{
		padding-bottom: 8px;
}

#quick_order .img{
		float: right;
		padding-right: 8px;
}

#quick_order .order_button{
		float: left;
		padding-left: 20px;
}

#quick_order .input_form .QTY{
		float: left;
		border-bottom: solid 1px #c9d3de;
		padding-right: 20px;
		width: 45px;
}

#quick_order .input_form .SKU{
		float: left;
		border-bottom: solid 1px #c9d3de;
		padding-left: 19px;
		width: 197px;
}

#quick_order .input_form .input .SKU_field{
		width: 176px;
		margin-right: 7px;
}

#quick_order .input_fields{
		padding-top: 5px;
}

#content710{
		width: 710px;
		float: left;
		padding-top: 1px;
}

/* Rename widget_home_espots_right for quick order page due to lack of space */
.quick_order_widget_home_espots_right{
		float: right;
		width: 181px;
}

/* Down down (Selection boxes)
-------------------------------------------------------------------
*/
.drop_down{
		height: 23px;
		padding: 2px 0px 1px 0px;
		margin-bottom: 9px;
}

.Mobile .drop_down{
		margin: 0px;
		padding: 0px;
}

.drop_down_payment_method{
		height: 23px;
		padding: 2px 0px 1px 0px;
		margin-bottom: 9px;
}

.drop_down_checkout{
		height: 23px;
		padding: 1px;
		border: 1px solid #ccc margin-bottom:9px;
		width: 185px;
}

.drop_down_shipping,.drop_down_billing,.drop_down_address_book{
		height: 23px;
		padding: 1px;
		border: 1px solid #ccc;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 12px;
}

.drop_down_billing{
		height: 23px;
		padding: 2px 0px 1px 0px;
		margin-right: 5px;
}

.left_drop_down_shipment{
		float: left;
}

.drop_down_country{
		height: 23px;
		padding: 1px;
		margin-bottom: 10px;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		border: 1px solid #ccc;
		width: 200px;
}

.Mobile .drop_down_country{
		width: 99%;
}

.Mobile input#WC_UserRegistrationAddForm_AddressEntryForm_FormInput_address1_1
		{
		width: 40%;
}

.Mobile input#WC_UserRegistrationAddForm_AddressEntryForm_FormInput_address2_1
		{
		width: 20%;
}
/* Accessibility hide title */
.dijitDialogTitleBar{
		height: 1px;
		width: 1px;
		position: absolute;
		overflow: hidden;
		top: -10px;
}

/* RemoteWidgetToolDisplay.jsp
-------------------------------------------------------------------
*/
#remote_widget_tool_content_wrapper_border{
		width: 955px;
		padding: 0 px;
		margin: 0 auto;
		margin-bottom: 0px;
		margin-top: 5px;
		overflow: hidden;
		border: solid 1px #c0dcf2;
}

.remote_widget_tool h1{
		font-size: 22px;
		padding-bottom: 10px;
		color: #CA4200;
}

#remote_widget_tool_box{
		margin: 0 auto;
		width: 930px;
}

#remote_widget_tool_box .remote_widget_tool_create_description{
		padding-top: 10px;
		width: 900px;
}

#remote_widget_tool_box .remote_widget_tool_create_body{
		border-left: 1px solid #ccc;
		border-right: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		display: block;
		margin: 0;
		padding: 3px 15px;
		width: auto;
		font-size: 12px;
}

/* Inner form wrapper */
div.inner_form_wrapper{
		padding: 9px 0;
}

#remote_widget_tool_box .remote_widget_tool_customize{
		padding: 10px 0px;
		float: left;
		font-size: 12px;
		color: #006ECC;
		text-decoration: underline;
		cursor: pointer;
}

#remote_widget_tool_box .remote_widget_tool_customize_button{
		padding-left: 5px;
		cursor: pointer;
		zoom: 1; /* gives ie shadow */
		display: -moz-stack;
		display: inline-block;
		margin-top: 13px;
}

form#inner_form div.row{
		clear: both;
}

form#inner_form div.row div.column{
		float: left;
		width: 260px;
}

div.remote_widget_tool_radio_button_column{
		float: left;
		width: 20px;
}

div.remote_widget_tool_layout_column{
		float: left;
		width: 50px;
		height: 80px;
		text-align: center;
}

div.remote_widget_tool_layout_image{
		height: 55px;
}

div.layout_design_textBox_info{
		color: #666666;
}

input.remote_widget_input_box{
		margin-right: 5px;
}

div.RemoteWidgetTool_color_choice_column{
		float: left;
		width: 77px;
		height: 28px;
		margin-right: 5px;
}

div.colorChose{
		background-color: #eee;
		height: 20px;
		width: 77px;
}

#remote_widget_tool_box .widget_style{
		width: 100%;
}

#remote_widget_tool_box .RegistryCreateHeading{
		border-bottom: 1px solid #ccc;
		padding-top: 8px;
		width: 100%;
}

div.remote_widget_tool_preview_description{
		padding-top: 10px;
		text-size: 10px;
}

div.remote_widget_tool_preview{
		margin-top: 5px;
		margin-bottom: 15px;
}

div.remote_widget_tool_layout_preview{
		text-align: center;
		margin-bottom: 30px;
		clip: rect(0px, 600px, 200px, 0px);
		width: 200px;
}

div.remote_widget_tool_layout_preview_content{
		overflow: auto;
		padding-bottom: 10px;
		padding-top: 10px;
		border-style: solid;
		border-width: 0px;
		border-color: #D2D2D2;
}