/*
	Essential styles that themes can inherit.
	In other words, works but doesn't look great.
*/
 

/****
		GENERIC PIECES
 ****/

.dijitReset {
	/* Use this style to null out padding, margin, border in your template elements
		so that page specific styles don't break them.
		- Use in all TABLE, TR and TD tags.
	*/
	margin:0;
	border:0;
	padding:0;
	line-height:normal;
	font: inherit;
	color: inherit;
}
.dijit_a11y .dijitReset {
	-moz-appearance: none; /* remove predefined high-contrast styling in Firefox */
}

.dijitInline {
	/*  To inline block elements.
		Similar to InlineBox below, but this has fewer side-effects in Moz.
		Also, apparently works on a DIV as well as a FIELDSET.
	*/
	display:inline-block;			/* webkit and FF3 */
	#zoom: 1; /* set hasLayout:true to mimic inline-block */
	#display:inline; /* don't use .dj_ie since that increases the priority */
	border:0;
	padding:0;
	vertical-align:middle;
	#vertical-align: auto;	/* makes TextBox,Button line up w/native counterparts on IE6 */
}

.dijitHidden {
	/* To hide unselected panes in StackContainer etc. */
	display: none !important;
}

.dijitVisible {
	/* To show selected pane in StackContainer etc. */
	display: block !important;	/* override user's display:none setting via style setting or indirectly via class */
	position: relative;			/* to support setting width/height, see #2033 */
}

.dijitInputContainer {
	/* for positioning of placeHolder */
	#zoom: 1;
	overflow: hidden;
	float: none !important; /* needed by FF to squeeze the INPUT in */
	position:relative;
}

.dj_ie INPUT.dijitTextBox,
.dj_ie .dijitTextBox INPUT {
	font-size: 100%;
}
.dijitTextBox .dijitSpinnerButtonContainer,
.dijitTextBox .dijitArrowButtonContainer,
.dijitTextBox .dijitValidationContainer {
	float: right;
	text-align: center;
}
.dijitTextBox INPUT.dijitInputField {
	/* override unreasonable user styling of buttons and icons */
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.dijitTextBox .dijitValidationContainer {
	display: none;
}
.dijitInlineTable {
	/* To inline tables with a given width set (otherwise, use dijitInline above) */
	display:inline-table;
	display:inline-block;		/* webkit and FF3 */
	#zoom: 1; /* set hasLayout:true to mimic inline-block */
	#display:inline; /* don't use .dj_ie since that increases the priority */
	box-sizing: content-box; -moz-box-sizing: content-box;
	border:0;
	padding:0;
}

.dijitTeeny {
	font-size:1px;
	line-height:1px;
}

.dijitOffScreen {
	position: absolute;
	visibility: hidden;
	left: 50%;
	top: -10000px;
}

/*
 * Popup items have a wrapper div (dijitPopup)
 * with the real popup inside, and maybe an iframe too
 */
.dijitPopup {
	position: absolute;
	background-color: transparent;
	margin: 0;
	border: 0;
	padding: 0;
}
.dijit_a11y .dijitPopup,
.dijit_ally .dijitPopup DIV,
.dijit_a11y .dijitPopup TABLE {
	background-color: white !important;
}

.dijitPositionOnly {
	/* Null out all position-related properties */
	padding: 0 !important;
	border: 0 !important;
	background-color: transparent !important;
	background-image: none !important;
	height: auto !important;
	width: auto !important;
}

.dijitNonPositionOnly {
	/* Null position-related properties */
	float: none !important;
	position: static !important;
	margin: 0 0 0 0 !important;
	vertical-align: middle !important;
}

.dijitBackgroundIframe {
	/* iframe used to prevent problems with PDF or other applets overlaying menus etc */
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	border: 0;
	padding: 0;
	margin: 0;
}

.dijitDisplayNone {
	/* hide something.  Use this as a class rather than element.style so another class can override */
	display:none !important;
}

.dijitContainer {
	/* for all layout containers */
	overflow: hidden;	/* need on IE so something can be reduced in size, and so scrollbars aren't temporarily displayed when resizing */
}

/****
		A11Y
 ****/
.dijit_a11y * {
	background-image:none !important;
}
.dijit_a11y .dijitIcon,
.dijit_a11y DIV.dijitArrowButtonInner, /* is this only for Spinner?  if so, it should be deleted */
.dijit_a11y SPAN.dijitArrowButtonInner,
.dijit_a11y IMG.dijitArrowButtonInner,
.dijit_a11y .dijitCalendarIncrementControl {
	/* hide icon nodes in high contrast mode; when necesary they will be replaced by character equivalents
	 * exception for INPUT.dijitArrowButtonInner, because the icon and character are controlled by the same node */
	display: none;
}
.dijitSpinner DIV.dijitArrowButtonInner {
	display: block; /* override previous rule */
}

.dijit_a11y .dijitA11ySideArrow {
	display: inline !important; /* display text instead */
	cursor: pointer;
}

/*
 * Since we can't use shading in a11y mode, and since the underline indicates today's date,
 * use a border to show the selected date.
 * Avoid screen jitter when switching selected date by compensating for the selected node's
 * border w/padding on other nodes.
 */
.dijit_a11y .dijitCalendarDateLabel {
	padding: 1px;
}
.dijit_a11y .dijitCalendarSelectedDate .dijitCalendarDateLabel {
	border-style: dotted !important;
	border-width: 1px;
	padding: 0px;
}
.dijit_a11y .dijitCalendarDateTemplate {
	padding-bottom: 0.1em !important;	/* otherwise bottom border doesn't appear on IE */
}

.dijit_a11y .dijit * {
	background:white !important;
	color:black !important;
}
.dijit_a11y .dijitButtonNode {
	border-color: black!important;
	border-style: outset!important;
	border-width: medium!important;
}

.dijit_a11y .dijitTextBoxReadOnly .dijitInputField,
.dijit_a11y .dijitTextBoxReadOnly .dijitButtonNode {
	border-style: outset!important;
	border-width: medium!important;
	border-color: #999 !important;
	color:#999 !important;
}

/* button inner contents - labels, icons etc. */
.dijitButtonNode * {
	vertical-align: middle;
}
.dijitButtonNode .dijitArrowButtonInner {
	/* the arrow icon node */
	background: no-repeat center;
	width: 12px;
	height: 12px;
	direction: ltr; /* needed by IE/RTL */
}

/****
	3-element borders:  ( dijitLeft + dijitStretch + dijitRight )
	These were added for rounded corners on dijit.form.*Button but never actually used.
 ****/

.dijitLeft {
	/* Left part of a 3-element border */
	background-position:left top;
	background-repeat:no-repeat;
}

.dijitStretch {
	/* Middle (stretchy) part of a 3-element border */
	white-space:nowrap;			/* MOW: move somewhere else */
	background-repeat:repeat-x;
}

.dijitRight {
	/* Right part of a 3-element border */
	#display:inline;				/* IE7 sizes to outer size w/o this */
	background-position:right top;
	background-repeat:no-repeat;
}

/* Buttons */

.dijitToggleButton,
.dijitButton,
.dijitDropDownButton,
.dijitComboButton {
	/* outside of button */
	margin: 0.2em;
}

.dijitButtonContents {
	display: block;		/* to make focus border rectangular */
}
td.dijitButtonContents {
	display: table-cell;	/* but don't affect Select, ComboButton */
}

.dijitButtonNode IMG {
	/* make text and images line up cleanly */
	vertical-align:middle;
	/*margin-bottom:.2em;*/
}

TABLE.dijitComboButton { /* TODO: why not add dijitReset class to ComboButton? */
	/* In ComboButton, borders are on each cell rather than on <table> itself */
	border-collapse: collapse;
	border:0;
	padding:0;
	margin:0;
}
.dijitToolbar .dijitComboButton {
	/* because Toolbar only draws a border around the hovered thing */
	border-collapse: separate;
}

.dijitToolbar .dijitToggleButton,
.dijitToolbar .dijitButton,
.dijitToolbar .dijitDropDownButton,
.dijitToolbar .dijitComboButton {
	margin: 0;
}

.dijitToolbar .dijitButtonContents {
	/* just because it used to be this way */
	padding: 1px 2px;
}

.dj_ie .dijitComboButton {
	/* hack to get inline-table to vertically align w/other buttons */
	margin-bottom: -3px;
}

.dj_webkit .dijitToolbar .dijitDropDownButton {
	padding-left: 0.3em;
}
.dj_gecko .dijitToolbar .dijitButtonNode::-moz-focus-inner {
	padding:0;
}

.dijitButtonNode {
	/* Node that is acting as a button -- may or may not be a BUTTON element */
	border:1px solid gray;
	margin:0;
	line-height:normal;
	vertical-align: middle;
	#vertical-align: auto;
	text-align:center;
	white-space: nowrap;
}
.dj_webkit .dijitSpinner .dijitSpinnerButtonContainer {
	/* apparent WebKit bug where messing with the font coupled with line-height:normal X 2 (dijitReset & dijitButtonNode)
	can be different than just a single line-height:normal, visible in InlineEditBox/Spinner */
	line-height:inherit;
}
.dijitTextBox .dijitButtonNode {
	border-width: 0;
}

.dijitButtonNode,
.dijitButtonNode * {
	cursor: pointer;
}

.dj_ie .dijitButtonNode {
	/* ensure hasLayout */
	zoom: 1;
}

.dj_ie .dijitButtonNode button {
	/*
		disgusting hack to get rid of spurious padding around button elements
		on IE. MSIE is truly the web's boat anchor.
	*/
	overflow: visible;
}

DIV.dijitArrowButton {
	float: right;
}

/******
	TextBox related.
	Everything that has an <input>
*******/

.dijitTextBox {
	border: solid black 1px;
	#overflow: hidden; /* #6027, #6067 */
	width: 15em;	/* need to set default size on outer node since inner nodes say <input style="width:100%"> and <td width=100%>.  user can override */
	vertical-align: middle;
	#vertical-align: auto;
}

.dijitTextBoxReadOnly,
.dijitTextBoxDisabled {
	color: gray;
}
.dj_webkit .dijitTextBoxDisabled INPUT {
	color: #eee; /* because WebKit lightens disabled input/textarea no matter what color you specify */
}
.dj_webkit TEXTAREA.dijitTextAreaDisabled {
	color: #333; /* because WebKit lightens disabled input/textarea no matter what color you specify */
}
.dj_gecko .dijitTextBoxReadOnly INPUT,
.dj_gecko .dijitTextBoxDisabled INPUT {
	-moz-user-input: none; /* prevent focus of disabled textbox buttons */
}

.dijitPlaceHolder {
	/* hint text that appears in a textbox until user starts typing */
	color: #AAAAAA;
	font-style: italic;
	position: absolute;
	top: 0;
	left: 0;
	#filter: ""; /* make this showup in IE6 after the rendering of the widget */
}

.dijitTimeTextBox {
	width: 8em;
}

/* rules for webkit to deal with fuzzy blue focus border */
.dijitTextBox INPUT:focus {
	outline: none;	/* blue fuzzy line looks wrong on combobox or something w/validation icon showing */
}
.dijitTextBoxFocused {
	outline: auto 5px -webkit-focus-ring-color;
}

.dijitTextBox INPUT {
	float: left; /* needed by IE to remove secret margin */
}
.dijitInputInner {
	/* for when an <input> is embedded inside an inline-block <div> with a size and border */
	border:0 !important;
	vertical-align:middle !important;
	background-color:transparent !important;
	width:100% !important;
	/* IE dislikes horizontal tweaking combined with width:100% so punish everyone for consistency */
	padding-left: 0 !important;
	padding-right: 0 !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
}
.dijit_a11y .dijitTextBox INPUT {
	margin: 0 !important;
}
.dijitTextBoxError INPUT.dijitValidationInner,
.dijitTextBox INPUT.dijitArrowButtonInner {
	/* <input> used to display arrow icon/validation icon, or in arrow character in high contrast mode.
	 * The css below is a trick to hide the character in non-high-contrast mode
	 */
	text-indent: -1em !important;
	direction: ltr !important;
	text-align: left !important;
	height: auto !important;
	#text-indent: 0 !important;
	#letter-spacing: -5em !important;
	#text-align: right !important;
}
.dj_ie .dijitTextBox INPUT,
.dj_ie INPUT.dijitTextBox {
	overflow-y: visible; /* INPUTs need help expanding when padding is added or line-height is adjusted */
	line-height: normal; /* strict mode */
}
.dj_ie7 .dijitTextBox INPUT.dijitValidationInner,
.dj_ie7 .dijitTextBox INPUT.dijitArrowButtonInner {
	line-height: 86%; /* IE7 problem where the icon is vertically too low w/o this - real input stays at normal */
}
.dj_ie6 .dijitTextBox INPUT,
.dj_ie6 INPUT.dijitTextBox,
.dj_iequirks .dijitTextBox INPUT.dijitValidationInner,
.dj_iequirks .dijitTextBox INPUT.dijitArrowButtonInner,
.dj_iequirks .dijitTextBox INPUT.dijitSpinnerButtonInner,
.dj_iequirks .dijitTextBox INPUT.dijitInputInner,
.dj_iequirks INPUT.dijitTextBox {
	line-height: 100%; /* IE7 problem where the icon is vertically way too low w/o this */
}
.dijit_a11y INPUT.dijitValidationInner,
.dijit_a11y INPUT.dijitArrowButtonInner {
	/* (in high contrast mode) revert rules from above so character displays */
	text-indent: 0 !important;
	width: 1em !important;
	#text-align: left !important;
}
.dijitTextBoxError .dijitValidationContainer {
	display: inline;
	cursor: default;
}

/* ComboBox & Spinner */

.dijitSpinner .dijitSpinnerButtonContainer,
.dijitComboBox .dijitArrowButtonContainer {
	/* dividing line between input area and up/down button(s) for ComboBox and Spinner */
	border-width: 0 0 0 1px !important; /* !important needed due to wayward ".theme .dijitButtonNode" rules */
}
.dijitSpinner .dijitSpinnerButtonContainer .dijitButtonNode {
	/* dividing line between input area and up/down button(s) for ComboBox and Spinner */
	border-width: 0;
}
.dj_ie .dijit_a11y .dijitSpinner .dijitSpinnerButtonContainer .dijitButtonNode {
	clear: both; /* IE workaround */
}
.dijit_a11y .dijitTextBox .dijitValidationContainer,
.dijit_a11y .dijitTextBox .dijitSpinnerButtonContainer,
.dijit_a11y .dijitComboBox .dijitArrowButtonContainer {
	/* dividing line between input area and up/down button(s) for ComboBox and Spinner */
	border: solid black !important;
	border-width: 0 0 0 1px !important;
}

.dj_ie .dijitToolbar .dijitComboBox {
	/* make combobox buttons align porperly with other buttons in a toolbar */
	vertical-align: middle;
}

/* Spinner */

.dijitTextBox .dijitSpinnerButtonContainer {
	width: 1em;
	position: relative !important;
	overflow: hidden;
}
.dijitSpinner .dijitSpinnerButtonInner {
	width:1em;
	visibility:hidden !important; /* just a sizing element */
	overflow-x:hidden;
}
.dijitComboBox .dijitButtonNode,
.dijitSpinnerButtonContainer .dijitButtonNode {
	border-width: 0;
}
.dijit_a11y .dijitSpinnerButtonContainer .dijitButtonNode {
	border: 0 none !important;
}
.dijit_a11y .dijitTextBox .dijitSpinnerButtonContainer,
.dijit_a11y .dijitSpinner .dijitArrowButtonInner,
.dijit_a11y .dijitSpinnerButtonContainer INPUT {
	width: 1em !important;
}
.dijit_a11y .dijitSpinner .dijitArrowButtonInner {
	margin: 0 auto !important; /* should auto-center */
}
.dj_ie .dijit_a11y .dijitSpinner .dijitArrowButtonInner .dijitInputField {
	padding-left: 0.3em !important;
	padding-right: 0.3em !important;
	margin-left: 0.3em !important;
	margin-right: 0.3em !important;
	width: 1.4em !important;
}
.dj_ie7 .dijit_a11y .dijitSpinner .dijitArrowButtonInner .dijitInputField {
	padding-left: 0.0em !important; /* manually center INPUT: character is .5em and total width = 1em */
	padding-right: 0.0em !important;
	width: 1em !important;
}
.dj_ie6 .dijit_a11y .dijitSpinner .dijitArrowButtonInner .dijitInputField {
	margin-left: 0.1em !important;
	margin-right: 0.1em !important;
	width: 1em !important;
}
.dj_iequirks .dijit_a11y .dijitSpinner .dijitArrowButtonInner .dijitInputField {
	margin-left: 0 !important;
	margin-right: 0 !important;
	width: 2em !important;
}
.dijitSpinner .dijitSpinnerButtonContainer .dijitArrowButton {
	/* note: .dijitInputLayoutContainer makes this rule override .dijitArrowButton settings
	 * for dijit.form.Button
	 */
	padding: 0;
	position: absolute !important;
	right: 0;
	float: none;
	height: 50%;
	width: 100%;
	bottom: auto;
	left: 0;
	right: auto;
}
.dj_iequirks .dijitSpinner .dijitSpinnerButtonContainer .dijitArrowButton {
	width: auto;
}
.dijit_a11y .dijitSpinnerButtonContainer .dijitArrowButton {
	overflow: visible !important;
}
.dijitSpinner .dijitSpinnerButtonContainer .dijitDownArrowButton {
	top: 50%;
	border-top-width: 1px !important;
}
.dijitSpinner .dijitSpinnerButtonContainer .dijitUpArrowButton {
	#bottom: 50%;	/* otherwise (on some machines) top arrow icon too close to splitter border (IE6/7) */
	top: 0;
}
.dijitSpinner .dijitArrowButtonInner {
	margin: auto;
	overflow-x: hidden;
	height: 100% !important;
}
.dj_iequirks .dijitSpinner .dijitArrowButtonInner {
	height: auto !important;
}
.dijitSpinner .dijitArrowButtonInner .dijitInputField {
	-moz-transform: scale(0.5);
	-moz-transform-origin: center top;
	-webkit-transform: scale(0.5);
	-webkit-transform-origin: center top;
	-o-transform: scale(0.5);
	-o-transform-origin: center top;
	transform: scale(0.5);
	transform-origin: left top;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 0 !important;
	padding-right: 0 !important;
	width: 100%;
}
.dj_ie .dijitSpinner .dijitArrowButtonInner .dijitInputField {
	zoom: 50%; /* emulate transform: scale(0.5) */
}
.dijitSpinner .dijitSpinnerButtonContainer .dijitArrowButtonInner {
	overflow: hidden;
}

.dijit_a11y .dijitSpinner .dijitSpinnerButtonContainer .dijitArrowButton {
	width: 100%;
}
.dj_iequirks .dijit_a11y .dijitSpinner .dijitSpinnerButtonContainer .dijitArrowButton {
	width: 1em; /* matches .dijit_a11y .dijitTextBox .dijitSpinnerButtonContainer rule - 100% is the whole screen width in quirks */
}
.dijitSpinner .dijitArrowButtonInner .dijitInputField {
	visibility: hidden;
}
.dijit_a11y .dijitSpinner .dijitArrowButtonInner .dijitInputField {
	vertical-align:top;
	visibility: visible;
}
.dijit_a11y .dijitSpinnerButtonContainer {
	width: 1em;
}
.dijit_a11y .dijitSpinnerButtonContainer .dijitButtonNode {
	border-width: 1px 0px 0px 0px;
	border-style: solid !important;
}

/****
		dijit.form.CheckBox
 	 &
  		dijit.form.RadioButton
 ****/

.dijitCheckBox,
.dijitRadio,
.dijitCheckBoxInput {
	padding: 0;
	border: 0;
	width: 16px;
	height: 16px;
	background-position:center center;
	background-repeat:no-repeat;
	overflow: hidden;
}

.dijitCheckBox INPUT,
.dijitRadio INPUT {
	margin: 0;
	padding: 0;
	display: block;
}

.dijitCheckBoxInput {
	/* place the actual input on top, but all-but-invisible */
	opacity: 0.01;
}

.dj_ie .dijitCheckBoxInput {
	filter: alpha(opacity=0);
}

.dijit_a11y .dijitCheckBox,
.dijit_a11y .dijitRadio {
	/* in a11y mode we display the native checkbox (not the icon), so don't restrict the size */
	width: auto !important;
	height: auto !important;
}
.dijit_a11y .dijitCheckBoxInput {
	opacity: 1;
	filter: none;
	width: auto;
	height: auto;
}


/****
		dijit.ProgressBar
 ****/

.dijitProgressBarEmpty {
	/* outer container and background of the bar that's not finished yet*/
	position:relative;overflow:hidden;
	border:1px solid black; 	/* a11y: border necessary for high-contrast mode */
	z-index:0;			/* establish a stacking context for this progress bar */
}

.dijitProgressBarFull {
	/* outer container for background of bar that is finished */
	position:absolute;
	overflow:hidden;
	z-index:-1;
	top:0;
	width:100%;
}
.dj_ie6 .dijitProgressBarFull {
	height:1.6em;
}

.dijitProgressBarTile {
	/* inner container for finished portion */
	position:absolute;
	overflow:hidden;
	top:0;
	left:0;
	bottom:0;
	right:0;
	margin:0;
	padding:0;
	width:auto;
	height:auto;
	background-color:#aaa;
	background-attachment: fixed;
}

.dijit_a11y .dijitProgressBarTile {
	/* a11y:  The border provides visibility in high-contrast mode */
	border-width:2px;
	border-style:solid;
	background-color:transparent !important;
}

.dj_ie6 .dijitProgressBarTile {
	/* width:auto works in IE6 with position:static but not position:absolute */
	position:static;
	/* height:auto or 100% does not work in IE6 */
	height:1.6em;
}

.dijitProgressBarIndeterminate .dijitProgressBarLabel {
	visibility:hidden;
}

.dijitProgressBarIndeterminate .dijitProgressBarTile {
	/* animated gif for 'indeterminate' mode */
}

.dijitProgressBarIndeterminateHighContrastImage {
	display:none;
}

.dijit_a11y .dijitProgressBarIndeterminate .dijitProgressBarIndeterminateHighContrastImage {
	display:block;
	position:absolute;
	top:0;
	bottom:0;
	margin:0;
	padding:0;
	width:100%;
	height:auto;
}

.dijitProgressBarLabel {
	display:block;
	position:static;
	width:100%;
	text-align:center;
	background-color:transparent !important;
}

/****
		dijit.Tooltip
 ****/

.dijitTooltip {
	position: absolute;
	z-index: 2000;
	display: block;
	/* make visible but off screen */
	left: 50%;
	top: -10000px;
	overflow: visible;
}

.dijitTooltipFocusNode {
	padding: 2px 2px 2px 2px;
}

.dijitTooltipConnector {
	position: absolute;
}
.dijit_a11y .dijitTooltipConnector {
	display: none;	/* won't show b/c it's background-image; hide to avoid border gap */
}

.dijitTooltipData {
	display:none;
}

/* Layout widgets. This is essential CSS to make layout work (it isn't "styling" CSS)
   make sure that the position:absolute in dijitAlign* overrides other classes */

.dijitLayoutContainer {
	position: relative;
	display: block;
	overflow: hidden;
}

body .dijitAlignTop,
body .dijitAlignBottom,
body .dijitAlignLeft,
body .dijitAlignRight {
	position: absolute;
	overflow: hidden;
}

body .dijitAlignClient { position: absolute; }

/*
 * BorderContaienr
 *
 * .dijitBorderContainer is a stylized layout where panes have border and margin.
 * .dijitBorderContainerNoGutter is a raw layout.
 */
.dijitBorderContainer, .dijitBorderContainerNoGutter {
	position:relative;
	overflow: hidden;
}

.dijitBorderContainerPane,
.dijitBorderContainerNoGutterPane {
	position: absolute !important;	/* !important to override position:relative in dijitTabContainer etc. */
	z-index: 2;		/* above the splitters so that off-by-one browser errors don't cover up border of pane */
}

.dijitBorderContainer > .dijitTextArea {
	/* On Safari, for SimpleTextArea inside a BorderContainer,
		don't want to display the grip to resize */
	resize: none;
}

.dijitGutter {
	/* gutter is just a place holder for empty space between panes in BorderContainer */
	position: absolute;
	font-size: 1px;		/* needed by IE6 even though div is empty, otherwise goes to 15px */
}

/* SplitContainer

	'V' == container that splits vertically (up/down)
	'H' = horizontal (left/right)
*/

.dijitSplitter {
	position: absolute;
	overflow: hidden;
	z-index: 10;		/* above the panes so that splitter focus is visible on FF, see #7583*/
	background-color: #fff;
	border-color: gray;
	border-style: solid;
	border-width: 0;
}
.dj_ie .dijitSplitter {
	z-index: 1;	/* behind the panes so that pane borders aren't obscured see test_Gui.html/[14392] */
}

.dijitSplitterActive {
	z-index: 11 !important;
}

.dijitSplitterCover {
	position:absolute;
	z-index:-1;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.dijitSplitterCoverActive {
	z-index:3 !important;
}

/* #6945: stop mouse events */
.dj_ie .dijitSplitterCover {
	background: white;
	filter: alpha(opacity=0);
}

.dijitSplitterH {
	height: 7px;
	border-top:1px;
	border-bottom:1px;
	cursor: ns-resize;
}
.dijitSplitterV {
	width: 7px;
	border-left:1px;
	border-right:1px;
	cursor: ew-resize;
}
.dijitSplitContainer {
	position: relative;
	overflow: hidden;
	display: block;
}
.dj_ff3 .dijit_a11y div.dijitSplitter:focus {
	outline-style:dotted;
	outline-width: 2px;
}

.dijitSplitPane {
	position: absolute;
}

.dijitSplitContainerSizerH,
.dijitSplitContainerSizerV {
	position:absolute;
	font-size: 1px;
	cursor: move;
	cursor: w-resize;
	background-color: ThreeDFace;
	border: 1px solid;
	border-color: ThreeDHighlight ThreeDShadow ThreeDShadow ThreeDHighlight;
	margin: 0;
}

.dijitSplitContainerSizerH .thumb, .dijitSplitterV .dijitSplitterThumb {
	overflow:hidden;
	position:absolute;
	top:49%;
}

.dijitSplitContainerSizerV .thumb, .dijitSplitterH .dijitSplitterThumb {
	position:absolute;
	left:49%;
}

.dijitSplitterShadow,
.dijitSplitContainerVirtualSizerH,
.dijitSplitContainerVirtualSizerV {
	font-size: 1px;
	background-color: ThreeDShadow;
	-moz-opacity: 0.5;
	opacity: 0.5;
	filter: Alpha(Opacity=50);
	margin: 0;
}

.dj_ie .dijitSplitterV, .dijitSplitContainerVirtualSizerH {
	cursor: w-resize;
}
.dj_ie .dijitSplitterH, .dijitSplitContainerSizerV, .dijitSplitContainerVirtualSizerV {
	cursor: n-resize;
}

.dijit_a11y .dijitSplitterH {
	border-top:1px solid #d3d3d3 !important;
	border-bottom:1px solid #d3d3d3 !important;
}
.dijit_a11y .dijitSplitterV {
	border-left:1px solid #d3d3d3 !important;
	border-right:1px solid #d3d3d3 !important;
}

/* ContentPane */

.dijitContentPaneSingleChild {
	/*
	 * if the ContentPane holds a single layout widget child which is being sized to match the content pane,
	 * then the ContentPane should never get a scrollbar (but it does due to browser bugs, see #9449
	 */
	overflow: hidden;
}

/* TitlePane */

.dijitTitlePane {
	display: block;
	overflow: hidden;
}
.dijitTitlePaneTitle {
	cursor: pointer;
}
.dijitFixedOpen {
	/* TitlePane that cannot be closed */
	cursor: default;
}
.dijitTitlePaneTitle * {
	vertical-align: middle;
}
.dijitTitlePane .dijitArrowNodeInner {
	/* normally, hide arrow text in favor of icon */
	display: none;
}
.dijit_a11y .dijitTitlePane .dijitArrowNodeInner {
	/* ... except in a11y mode, then show text arrow */
	display:inline !important;
	font-family: monospace;		/* because - and + are different widths */
}
.dijit_a11y .dijitTitlePane .dijitArrowNode {
	/* ... and hide icon */
	display:none;
}

.dj_ie6 .dijitTitlePaneContentOuter,
.dj_ie6 .dijitTitlePane .dijitTitlePaneTitle {
	/* force hasLayout to ensure borders etc, show up */
	zoom: 1;
}

/* Color Palette
 * Sizes designed so that table cell positions match icons in underlying image,
 * which appear at 20x20 intervals.
 */

.dijitColorPalette {
	border: 1px solid #999;
	background: #fff;
	position: relative;
}

img.dijitColorPaletteUnder {
	/* This single image contains the "icons" for every color in the color palette, and sits behind the transparent <table> */
	border-style: none;
	position: absolute;
	left: 0;
	top: 0;
}
.dijitColorPalette .dijitPaletteTable {
	/* Table that holds the palette cells, and overlays image file with color swatches.
	 * padding/margin to align table with image.
	 */
	padding: 2px 3px 3px 3px;
	position: relative;
	overflow: hidden;
	outline: 0;
	border-collapse: separate;
}
.dj_ie6 .dijitColorPalette .dijitPaletteTable,
.dj_ie7 .dijitColorPalette .dijitPaletteTable,
.dj_iequirks .dijitColorPalette .dijitPaletteTable {
	/* using padding above so that focus border isn't cutoff on moz/webkit,
	 * but using margin on IE because padding doesn't seem to work
	 */
	padding: 0;
	margin: 2px 3px 3px 3px;
}

.dijitColorPalette .dijitPaletteCell {
	/* <td> in the <table>, matching size of color swatches embedded in the img.dijitColorPaletteUnder */
	height: 20px;
	width: 20px;
	font-size: 1px;
	vertical-align: middle;
	text-align: center;
}
.dijitColorPalette .dijitPaletteImg {
	/* transparent (but clickable) <img> node inside of each <td>, overlaying the color swatch.
	 * displays border around a color swatch
	 */
	width: 16px;
	height: 14px;
	border: 1px solid #999;
	cursor: default;
	vertical-align: middle;
}
.dj_iequirks .dijitColorPalette .dijitPaletteImg {
	margin: 1px;	/* needed to fix spacing for ColorPalette in TooltipDialog on IE/quirks */
}
.dijitPaletteTable td {
		padding: 0px;
}
.dijitColorPalette .dijitPaletteCellHover .dijitPaletteImg {
	/* hovered color swatch */
	border: 1px solid #000;
}

.dijitColorPalette .dijitPaletteCellActive .dijitPaletteImg,
.dijitColorPalette .dijitPaletteCellSelected .dijitPaletteImg {
	border: 2px solid #000;
}


.dijit_a11y .dijitColorPalette .dijitPaletteTable,
.dijit_a11y .dijitColorPalette .dijitPaletteTable * {
	/* table cells are to catch events, but the swatches are in the PaletteImg behind the table */
	background-color: transparent !important;
}
.dj_gecko .dijit_a11y .dijitColorPalette .dijitPaletteCellFocused .dijitPaletteImg {
	border: 3px dotted #000;	/* focus border on table cells broken in FF high contrast :-( */
	margin: -1px;
}

.dijit_a11y  .dijitColorPalette .dijitPaletteCellHover .dijitPaletteImg {
	border: 2px solid #000 !important;
}

/* AccordionContainer */

.dijitAccordionContainer {
	border:1px solid #b7b7b7;
	border-top:0 !important;
}
.dijitAccordionTitle {
	cursor: pointer;
}
.dijitAccordionTitleSelected {
	cursor: default;
}

/* images off, high-contrast mode styles */
.dijitAccordionTitle .arrowTextUp,
.dijitAccordionTitle .arrowTextDown {
	display: none;
	font-size: 0.65em;
	font-weight: normal !important;
}

.dijit_a11y .dijitAccordionTitle .arrowTextUp,
.dijit_a11y .dijitAccordionTitleSelected .arrowTextDown {
	display: inline;
}

.dijit_a11y .dijitAccordionTitleSelected .arrowTextUp {
	display: none;
}

.dj_ie6 .dijitAccordionTitle,
.dj_iequirks .dijitAccordionTitle {
	/* avoid IE6/IE quirks size calc bug where accordion ends up too short (themeTesterQuirk.html)
	 * and IE6 bug where the first title bar turns white upon hovering any title bar
	 */
	zoom: 1;
}

/* Calendar */

.dijitCalendarContainer {
	width: auto;	/* in case user has specified a width for the TABLE nodes, see #10553 */
}
.dijitCalendarContainer th, .dijitCalendarContainer td {
	padding: 0;
}

.dijitCalendarNextYear {
	margin:0 0 0 0.55em;
}

.dijitCalendarPreviousYear {
	margin:0 0.55em 0 0;
}

.dijitCalendarIncrementControl {
	vertical-align: middle;
}

.dijitCalendarIncrementControl,
.dijitCalendarDateTemplate,
.dijitCalendarMonthLabel,
.dijitCalendarPreviousYear,
.dijitCalendarNextYear {
	cursor: pointer;
}

.dijitCalendarDisabledDate {
	color: gray;
	text-decoration: line-through;
	cursor: default;
}

.dijitSpacer {
	/* don't display it, but make it affect the width */
  	position: relative;
  	height: 1px;
  	overflow: hidden;
  	visibility: hidden;
}


/* Menu */

.dijitMenu {
	border:1px solid black;
	background-color:white;
}
.dijitMenuTable {
	border-collapse:collapse;
	border-width:0;
	background-color:white;
}

/* workaround for webkit bug #8427, remove this when it is fixed upstream */
.dj_webkit .dijitMenuTable td[colspan="2"]{
	border-right:hidden;
}

.dijitMenuItem {
	text-align: left;
	white-space: nowrap;
	padding:.1em .2em;
	cursor:pointer;
}

.dijitMenuPassive .dijitMenuItemHover,
.dijitMenuItemSelected {
	/*
	 * dijitMenuItemHover refers to actual mouse over
	 * dijitMenuItemSelected is used after a menu has been "activated" by
	 * clicking it, tabbing into it, or being opened from a parent menu,
	 * and denotes that the menu item has focus or that focus is on a child
	 * menu
	 */
	background-color:black;
	color:white;
}

.dijitMenuItemIcon, .dijitMenuExpand {
	background-repeat: no-repeat;
}

.dijitMenuItemDisabled * {
	/* for a disabled menu item, just set it to mostly transparent */
	opacity:0.5;
	cursor:default;
}
.dj_ie .dijit_a11y .dijitMenuItemDisabled,
.dj_ie .dijit_a11y .dijitMenuItemDisabled td,
.dj_ie .dijitMenuItemDisabled *,
.dj_ie .dijitMenuItemDisabled td {
	color:gray !important;
	filter: alpha(opacity=35);
}

.dijitMenuItemLabel {
	position: relative;
	vertical-align: middle;
}

.dijit_a11y .dijitMenuItemSelected {
	border: 1px dotted black !important;
}
.dj_ff3 .dijit_a11y .dijitMenuItem td {
	padding: none !important;
	background:none !important;
}
.dijit_a11y .dijitMenuItemSelected .dijitMenuItemLabel {
	border-width: 1px;
	border-style: solid;
}
.dj_ie8 .dijit_a11y .dijitMenuItemLabel {
	position:static;
}

.dijitMenuExpandA11y {
	display: none;
}
.dijit_a11y .dijitMenuExpandA11y {
	display: inline;
}

.dijitMenuSeparator td {
	border: 0;
	padding: 0;
}

/* separator can be two pixels -- set border of either one to 0 to have only one */
.dijitMenuSeparatorTop {
	height: 50%;
	margin: 0;
	margin-top:3px;
	font-size: 1px;
}

.dijitMenuSeparatorBottom {
	height: 50%;
	margin: 0;
	margin-bottom:3px;
	font-size: 1px;
}

/* the checked menu item */
.dijitCheckedMenuItemIconChar {
	vertical-align: middle;
	visibility:hidden;
}
.dijitCheckedMenuItemChecked .dijitCheckedMenuItemIconChar {
	visibility: visible;
}
.dijit_a11y .dijitCheckedMenuItemIconChar {
	display:inline !important;
}
.dijit_a11y .dijitCheckedMenuItemIcon {
	display: none;
}
.dj_ie .dijit_a11y .dijitMenuBar .dijitMenuItem {
	/* so bottom border of MenuBar appears on IE7 in high-contrast mode */
	margin: 0px;
}

/* StackContainer */

.dijitStackController .dijitToggleButtonChecked * {
	cursor: default;	/* because pressing it has no effect */
}

/* TabContainer */

.dijitTabContainerNoLayout {
	width: 100%;	/* otherwise ScrollingTabController goes to 50K pixels wide */
}

.dijitTabContainerBottom-tabs,
.dijitTabContainerTop-tabs,
.dijitTabContainerLeft-tabs,
.dijitTabContainerRight-tabs {
	overflow: visible !important;  /* so tabs can cover up border adjacent to container */
}

.dijitTabContainerBottom-container,
.dijitTabContainerTop-container,
.dijitTabContainerLeft-container,
.dijitTabContainerRight-container {
	z-index:0;
	overflow: hidden;
	/*border: 1px solid black;*/
}
.nowrapTabStrip {
	width: 50000px;
	display: block;
	position: relative;
}
.dijitTabListWrapper {
	overflow: hidden;
}

.dijit_a11y .tabStripButton img {
	/* hide the icons (or rather the empty space where they normally appear) because text will appear instead */
	display: none;
}

.dijitTabContainerTop-tabs {
	border-bottom: 1px solid black;
}
.dijitTabContainerTop-container {
	border-top: 0px;
}

.dijitTabContainerLeft-tabs {
	border-right: 1px solid black;
	float: left;
}
.dijitTabContainerLeft-container {
	border-left: 0px;
}

.dijitTabContainerBottom-tabs {
	/*border-top: 1px solid black;*/
}
.dijitTabContainerBottom-container {
	border-bottom: 0px;
}

.dijitTabContainerRight-tabs {
	border-left: 1px solid black;
	float: left;
}
.dijitTabContainerRight-container {
	border-right: 0px;
}

DIV.dijitTabDisabled, .dj_ie DIV.dijitTabDisabled {
	cursor: auto;
}

.dijitTab {
	position:relative;
	cursor:pointer;
	white-space:nowrap;
	z-index:3;
}
.dijitTab * {
	/* make tab icons and close icon line up w/text */
	vertical-align: middle;
}
.dijitTabChecked {
	cursor: default;	/* because clicking will have no effect */
}

.dijitTabContainerTop-tabs .dijitTab {
	top: 1px;	/* to overlap border on .dijitTabContainerTop-tabs */
}
.dijitTabContainerBottom-tabs .dijitTab {
	top: -1px;	/* to overlap border on .dijitTabContainerBottom-tabs */
}
.dijitTabContainerLeft-tabs .dijitTab {
	left: 1px;	/* to overlap border on .dijitTabContainerLeft-tabs */
}
.dijitTabContainerRight-tabs .dijitTab {
	left: -1px;	/* to overlap border on .dijitTabContainerRight-tabs */
}


.dijitTabContainerTop-tabs .dijitTab,
.dijitTabContainerBottom-tabs .dijitTab {
	/* Inline-block */
	display:inline-block;			/* webkit and FF3 */
	#zoom: 1; /* set hasLayout:true to mimic inline-block */
	#display:inline; /* don't use .dj_ie since that increases the priority */
}

.dijitTabInnerDiv {
	position:relative;
}


.tabStripButton {
	z-index: 12;
}

.dijitTabButtonDisabled .tabStripButton {
	display: none;
}


.dijitTabCloseButton {
	margin-left: 1em;
}

.dijitTabCloseText {
	display:none;
}

/* images off, high-contrast mode styles */

.dijit_a11y .dijitTabCloseButton {
	background-image: none !important;
	width: auto !important;
	height: auto !important;
	border: thin dotted;	/* non-hover state */
}
.dijit_a11y .dijitTabCloseButtonHover {
	border:thin solid;	/* hover state */
}

.dijit_a11y .dijitTabCloseText {
	display: inline;
}

.dijit_a11y .dijitTabChecked {
	/* the selected tab */
	border-style:dashed !important;
}

.dijit_a11y .dijitTabInnerDiv {
	border-left:none !important;
 }

.dijitTabPane,
.dijitStackContainer-child,
.dijitAccordionContainer-child {
	/* children of TabContainer, StackContainer, and AccordionContainer shouldn't have borders
	 * b/c a border is already there from the TabContainer/StackContainer/AccordionContainer itself.
	 */
    border: none !important;
}

/* InlineEditBox */
.dijitInlineEditBoxDisplayMode {
	border: 1px solid transparent;	/* so keyline (border) on hover can appear without screen jump */
	cursor: text;
}

.dijit_a11y .dijitInlineEditBoxDisplayMode,
.dj_ie6 .dijitInlineEditBoxDisplayMode {
	/* except that IE6 doesn't support transparent borders, nor does high contrast mode */
	border: none;
}

.dijitInlineEditBoxDisplayModeHover,
.dijit_a11y .dijitInlineEditBoxDisplayModeHover,
.dj_ie6 .dijitInlineEditBoxDisplayModeHover {
	/* An InlineEditBox in view mode (click this to edit the text) */
	background-color: #e2ebf2;
	border: solid 1px black;
}

.dijitInlineEditBoxDisplayModeDisabled {
	cursor: default;
}

/* Tree */

.dijitTreeIndent {
	/* amount to indent each tree node (relative to parent node) */
	width: 19px;
}

.dijitTreeRow, .dijitTreeContent {
	white-space: nowrap;
}

.dijitTreeRow img {
	/* make the expando and folder icons line up with the label */
	vertical-align: middle;
}

.dijitTreeContent {
    cursor: default;
}

.dijitExpandoText {
	display: none;
}

.dijit_a11y .dijitExpandoText {
	display: inline;
	padding-left: 10px;
	padding-right: 10px;
	font-family: monospace;
	border-style: solid;
	border-width: thin;
	cursor: pointer;
}

.dijitTreeLabel {
	margin: 0px 4px;
}

/* Dialog */

.dijitDialog {
	position: absolute;
	z-index: 999;
	overflow: hidden;       /* override overflow: auto; from ContentPane to make dragging smoother */
}

.dijitDialogTitleBar {
	cursor: move;
}
.dijitDialogFixed .dijitDialogTitleBar {
	cursor:default;
}
.dijitDialogCloseIcon {
	cursor: pointer;
}
.dijitDialogUnderlayWrapper {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 998;
	display: none;
	background: transparent !important;
}

.dijitDialogUnderlay {
	background: #eee;
	opacity: 0.5;
}

.dj_ie .dijitDialogUnderlay {
	filter: alpha(opacity=50);
}

/* images off, high-contrast mode styles */
.dijit_a11y .dijitSpinnerButtonContainer,
.dijit_a11y .dijitDialog {
	opacity: 1 !important;
	background-color: white !important;
}

.dijitDialog .closeText {
	display:none;
	/* for the onhover border in high contrast on IE: */
	position:absolute;
}

.dijit_a11y .dijitDialog .closeText {
	display:inline;
}

/* Slider */

.dijitSliderMoveable {
	z-index:99;
	position:absolute !important;
	display:block;
	vertical-align:middle;
}

.dijitSliderMoveableH {
	right:0;
}
.dijitSliderMoveableV {
	right:50%;
}

.dijit_a11y DIV.dijitSliderImageHandle,
.dijitSliderImageHandle {
	margin:0;
	padding:0;
	position:relative !important;
	border:8px solid gray;
	width:0;
	height:0;
	cursor: pointer;
}
.dj_iequirks .dijit_a11y .dijitSliderImageHandle {
	font-size: 0;
}
.dj_ie7 .dijitSliderImageHandle {
	overflow: hidden; /* IE7 workaround to make slider handle VISIBLE in non-a11y mode */
}
.dj_ie7 .dijit_a11y .dijitSliderImageHandle {
	overflow: visible; /* IE7 workaround to make slider handle VISIBLE in a11y mode */
}
.dijit_a11y .dijitSliderFocused .dijitSliderImageHandle {
	border:4px solid #000;
	height:8px;
	width:8px;
}

.dijitSliderImageHandleV {
	top:-8px;
	right: -50%;
}

.dijitSliderImageHandleH {
	left:50%;
	top:-5px;
	vertical-align:top;
}

.dijitSliderBar {
	border-style:solid;
	border-color:black;
	cursor: pointer;
}

.dijitSliderBarContainerV {
	position:relative;
	height:100%;
	z-index:1;
}

.dijitSliderBarContainerH {
	position:relative;
	z-index:1;
}

.dijitSliderBarH {
	height:4px;
	border-width:1px 0;
}

.dijitSliderBarV {
	width:4px;
	border-width:0 1px;
}

.dijitSliderProgressBar {
	background-color:red;
	z-index:1;
}

.dijitSliderProgressBarV {
	position:static !important;
	height:0%;
	vertical-align:top;
	text-align:left;
}

.dijitSliderProgressBarH {
	position:absolute !important;
	width:0%;
	vertical-align:middle;
	overflow:visible;
}

.dijitSliderRemainingBar {
	overflow:hidden;
	background-color:transparent;
	z-index:1;
}

.dijitSliderRemainingBarV {
	height:100%;
	text-align:left;
}

.dijitSliderRemainingBarH {
	width:100% !important;
}

/* the slider bumper is the space consumed by the slider handle when it hangs over an edge */
.dijitSliderBumper {
	overflow:hidden;
	z-index:1;
}

.dijitSliderBumperV {
	width:4px;
	height:8px;
	border-width:0 1px;
}

.dijitSliderBumperH {
	width:8px;
	height:4px;
	border-width:1px 0;
}

.dijitSliderBottomBumper,
.dijitSliderLeftBumper {
	background-color:red;
}

.dijitSliderTopBumper,
.dijitSliderRightBumper {
	background-color:transparent;
}

.dijitSliderDecoration {
	text-align:center;
}
.dijitSliderV TD {
	position: relative; /* needed for IE+quirks+RTL+vertical (rendering bug) but add everywhere for custom styling consistency but this messes up IE horizontal sliders */
}

.dijitSliderDecorationH {
	width: 100%;
}

.dijitSliderDecorationV {
	height: 100%;
}

.dijitSliderButton {
	font-family:monospace;
	margin:0;
	padding:0;
	display:block;
}

.dijit_a11y .dijitSliderButtonInner {
	visibility:visible !important;
}

.dijitSliderButtonContainer {
	text-align:center;
	height:0;	/* ??? */
}
.dijitSliderButtonContainer * {
	cursor: pointer;
}

.dijitSlider .dijitButtonNode {
	padding:0;
	display:block;
}

.dijitRuleContainer {
	position:relative;
	overflow:visible;
}

.dijitRuleContainerV {
	height:100%;
	line-height:0;
	float:left;
	text-align:left;
}

.dj_opera .dijitRuleContainerV {
	line-height:2%;
}

.dj_ie .dijitRuleContainerV {
	line-height:normal;
}

.dj_gecko .dijitRuleContainerV {
	margin:0 0 1px 0; /* mozilla bug workaround for float:left,height:100% block elements */
}

.dijitRuleMark {
	position:absolute;
	border:1px solid black;
	line-height:0;
	height:100%;
}

.dijitRuleMarkH {
	width:0;
	border-top-width:0 !important;
	border-bottom-width:0 !important;
	border-left-width:0 !important;
}

.dijitRuleLabelContainer {
	position:absolute;
}

.dijitRuleLabelContainerH {
	text-align:center;
	display:inline-block;
}

.dijitRuleLabelH {
	position:relative;
	left:-50%;
}

.dijitRuleLabelV {
	/* so that long labels don't overflow to multiple rows, or overwrite slider itself */
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.dijitRuleMarkV {
	height:0;
	border-right-width:0 !important;
	border-bottom-width:0 !important;
	border-left-width:0 !important;
	width:100%;
	left:0;
}

.dj_ie .dijitRuleLabelContainerV {
	margin-top:-.55em;
}

.dijit_a11y .dijitSliderReadOnly,
.dijit_a11y .dijitSliderDisabled {
	opacity:0.6;
}
.dj_ie .dijit_a11y .dijitSliderReadOnly .dijitSliderBar,
.dj_ie .dijit_a11y .dijitSliderDisabled .dijitSliderBar {
	filter: alpha(opacity=40);
}

/* + and - Slider buttons: override theme settings to display icons */
.dijit_a11y .dijitSlider .dijitSliderButtonContainer DIV {
	font-family: monospace; /* otherwise hyphen is larger and more vertically centered */
	font-size: 1em;
	line-height: 1em;
	height: auto;
	width: auto;
	margin: 0px 4px;
}

/* Icon-only buttons (often in toolbars) still display the text in high-contrast mode */
.dijit_a11y .dijitButtonContents .dijitButtonText,
.dijit_a11y .dijitTab .tabLabel {
	display: inline !important;
}

/* TextArea, SimpleTextArea */
.dijitTextArea {
	width:100%;
	overflow-y: auto;	/* w/out this IE's SimpleTextArea goes to overflow: scroll */
}
.dijitTextArea[cols] {
	width:auto; /* SimpleTextArea cols */
}
.dj_ie .dijitTextAreaCols {
	width:auto;
}

/* Toolbar
 * Note that other toolbar rules (for objects in toolbars) are scattered throughout this file.
 */

.dijitToolbarSeparator {
	height: 18px;
	width: 5px;
	padding: 0 1px;
	margin: 0;
}

/* Editor */
.dijitIEFixedToolbar {
	position:absolute;
	/* top:0; */
	top: expression(eval((document.documentElement||document.body).scrollTop));
}

.dijitEditor {
	display: block;	/* prevents glitch on FF with InlineEditBox, see #8404 */
}

.dijitEditorDisabled,
.dijitEditorReadOnly {
	color: gray;
}

/* TimePicker */

.dijitTimePickerItemInner {
	text-align:center;
	border:0;
	padding:2px 8px 2px 8px;
}

.dijitTimePickerTick,
.dijitTimePickerMarker {
	border-bottom:1px solid gray;
}

.dijitTimePicker .dijitDownArrowButton {
	border-top: none !important;
}

.dijitTimePickerTick {
	color:#CCC;
}

.dijitTimePickerMarker {
	color:black;
	background-color:#CCC;
}

.dijitTimePickerItemSelected {
	font-weight:bold;
	color:#333;
	background-color:#b7cdee;
}

.dijitTimePickerItemHover {
	background-color:gray;
	color:white;
	cursor:pointer;
}
.dijit_a11y .dijitTimePickerItemSelected .dijitTimePickerItemInner {
	border: solid 4px black;
}
.dijit_a11y .dijitTimePickerItemHover .dijitTimePickerItemInner {
	border: dashed 4px black;
}


.dijitToggleButtonIconChar {
	/* character (instead of icon) to show that ToggleButton is checked */
	display:none !important;
}
.dijit_a11y .dijitToggleButton .dijitToggleButtonIconChar {
	display:inline !important;
	visibility:hidden;
}
.dj_ie6 .dijitToggleButtonIconChar, .dj_ie6 .tabStripButton .dijitButtonText {
	font-family: "Arial Unicode MS";	/* otherwise the a11y character (checkmark, arrow, etc.) appears as a box */
}
.dijit_a11y .dijitToggleButtonChecked .dijitToggleButtonIconChar {
	display: inline !important; /* In high contrast mode, display the check symbol */
	visibility:visible !important;
}

.dijitArrowButtonChar {
        display:none !important;
}
.dijit_a11y .dijitArrowButtonChar {
        display:inline !important;
}

.dijit_a11y .dijitDropDownButton .dijitArrowButtonInner,
.dijit_a11y .dijitComboButton .dijitArrowButtonInner {
	display:none !important;
}

/* Select */
.dijitSelect {
	margin: 0.2em;
	border-collapse: collapse;
}
.dj_ie .dijitSelect,
.dj_ie7 .dijitSelect,
.dj_iequirks .dijitSelect {
	vertical-align: middle; /* Set this back for what we hack in dijit inline */
}
.dj_ie8 .dijitSelect .dijitButtonText {
	vertical-align: top;
}
.dijitToolbar .dijitSelect {
	margin: 0;
}
.dj_webkit .dijitToolbar .dijitSelect {
	padding-left: 0.3em;
}
.dijit_a11y .dijitSelectDisabled .dijitButtonNode {
	border-style: outset!important;
	border-width: medium!important;
	border-color: #999 !important;
	color:#999 !important;
}
.dijitSelect .dijitButtonContents {
	padding: 0px;
	background: transparent none;
	white-space: nowrap;
	text-align: left;
}
.dijitSelectFixedWidth .dijitButtonContents {
	width: 100%;
}

.dijitSelectMenu .dijitMenuItemIcon {
	/* avoid blank area in left side of menu (since we have no icons) */
	display:none;
}
.dj_ie6 .dijitSelectMenu .dijitMenuItemLabel,
.dj_ie7 .dijitSelectMenu .dijitMenuItemLabel {
	/* Set back to static due to bug in ie6/ie7 - See Bug #9651 */
	position: static;
}

/* Fix the baseline of our label (for multi-size font elements) */
.dijitSelectLabel *
{
	vertical-align: baseline;
}

/* Styling for the currently-selected option (rich text can mess this up) */
.dijitSelectSelectedOption * {
	font-weight: bold;
}

/* Fix the styling of the dropdown menu to be more combobox-like */
.dijitSelectMenu {
	border-width: 1px;
}

/* Style the different areas of the button to look like a "real" dropdown */
/* Remove margins on the sub-table */
.dijitSelectMenu .dijitMenuTable {
	margin: 0px;
	background-color: transparent;
}

/* Used in cases, such as FullScreen plugin, when we need to force stuff to static positioning. */
.dijitForceStatic {
	position: static !important;
}

/**** Disabled cursor *****/
.dijitReadOnly *,
.dijitDisabled *,
.dijitReadOnly,
.dijitDisabled {
	/* a region the user would be able to click on, but it's disabled */
	cursor: default;
}

/* TabContainer 
 * 
 * Styling TabContainer means styling the TabList and Its content container  (dijitTitlePane)
 * 
 * Tab List: (including 4 kinds of tab location)
 * 		.dijitTabContainerTop-tabs     - tablist container at top
 * 		.dijitTabContainerBottom-tabs  - tablist container at bottom
 * 		.dijitTabContainerLeft-tabs    - tablist container at left
 * 		.dijitTabContainerRight-tabs   - tablist container at right
 * 
 * Tab Strip Button:
 * 		.dijitTabStripIcon - tab strip button icon
 * 		.dijitTabStripMenuIcon - down arrow icon position
 * 		.dijitTabStripSlideLeftIcon - left arrow icon position
 * 		.dijitTabStripSlideRightIcon - right arrow icon position
 * 
 * 		.tabStripButtonDisabled - styles for disabled tab strip buttons
 * 
 * Tab Button:
 * 		.dijitTabContainerTop-tabs .dijitTabInnerDiv/.dijitTabContent     - styles for top tab button container
 * 		.dijitTabContainerBottom-tabs .dijitTabInnerDiv/.dijitTabContent  - styles for bottom tab button container
 * 		.dijitTabContainerLeft-tabs .dijitTabInnerDiv/.dijitTabContent    - styles for left tab button container
 * 		.dijitTabContainerRight-tabs .dijitTabInnerDiv/.dijitTabContent   - styles for right tab button container
 * 
 * 		.dijitTabContainerTop-tabs .dijitTabChecked .dijitTabInnerDiv/.dijitTabContent    
 * 				- styles for selected status of top tab button
 * 		same to Bottom, Left, Right Tabs
 * 
 * 		.dijitTabHover .dijitTabInnerDiv   - styles when mouse hover on tab buttons
 * 		.dijitTabActive .dijitTabInnerDiv  - styles when mouse down on tab buttons
 * 		.dijitTabChecked .dijitTabInnerDiv  - styles when on buttons of selected tab		
 * 
 * 		.dijitTabCloseButton - the close action buttons lie at the right top of each tab button on closable tabs
 * 		.dijitTabCloseButtonHover - styles when mouse hover on close action button
 * 		.dijitTabCloseButtonActive - styles when mouse down on close action button
 * 
 * Tab Button: (checked status)
 * 
 * Tab Content Container:
 * 		.dijitTabContainerTop-dijitContentPane
 * 		.dijitTabContainerBottom-dijitContentPane
 * 		.dijitTabContainerLeft-dijitContentPane
 * 		.dijitTabContainerRight-dijitContentPane - for background and padding
 * 
 * Nested Tabs:
 * 		.dijitTabContainerNested - Container for nested tabs
 * 		.dijitTabContainerTabListNested - tab list container for nested tabs
 */
/*** some common features ***/
.saturn .dijitTabPaneWrapper {
  background: #ffffff;
}
.saturn .dijitTabPaneWrapper,
.saturn .dijitTabContainerTop-tabs,
.saturn .dijitTabContainerBottom-tabs,
.saturn .dijitTabContainerLeft-tabs,
.saturn .dijitTabContainerRight-tabs {
  /* todo: add common class name for this div */

  border-color: #b5bcc7;
}
.saturn .dijitTabCloseButton {
  background: url("./images/tabClose.png") no-repeat;
  width: 14px;
  height: 14px;
  margin-left: 5px;
  margin-right: -5px;
}
.saturn .dijitTabCloseButtonHover {
  background-position: -14px;
}
.saturn .dijitTabCloseButtonActive {
  background-position: -28px;
}
.saturn .dijitTabSpacer {
  /* set the spacer invisible.  note that height:0 doesn't work on IE/quirks, it's still 10px. */

  display: none;
}
.saturn .dijitTabInnerDiv {
 /* background-color: #efefef;
  -webkit-transition-property: background-color, border;
  -moz-transition-property: background-color, border;
  transition-property: background-color, border;
  -webkit-transition-duration: 0.35s;
  -moz-transition-duration: 0.35s;
  transition-duration: 0.35s;
  color: #494949;*/
}
.saturn .dijitTabHover .dijitTabInnerDiv {
  /*background-color: #abd6ff;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  transition-duration: 0.25s;
  color: #000000;*/
}
.saturn .dijitTabActive .dijitTabInnerDiv {
  /*background-color: #7dbdfa;
  color: #000000;
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  transition-duration: 0.1s;*/
}
.saturn .dijitTabChecked .dijitTabInnerDiv {
  /*background-color: #cfe5fa;
  color: #666;*/
}
.saturn .dijitTabContent {
 /* border-right: 1px solid #b5bcc7;*/
  
  
}
.saturn .dijitTabHover .dijitTabContent {
  border-color: #759dc0;
}
.saturn .dijitTabActive .dijitTabContent {
  border-color: #759dc0;
}
.saturn .dijitTabChecked .dijitTabContent {
  /*color: #000000;
  border-color: #b5bcc7;*/
}
.saturn .tabStripButton .dijitTabInnerDiv {
  background-color: transparent;
}
.saturn .tabStripButton .dijitTabContent {
  border: none;
}
/*** end common ***/
/*************** top tab ***************/
.saturn .dijitTabContainerTop-tabs .dijitTab {
  /*top: 1px;*/
  /* used for overlap */

  /*margin-right: 1px;
  padding-top: 3px;*/
}
.dj_ie7 .saturn .dijitTabContainerTop-tabs .dijitTab {
  top: 3px;
}
/* for top tab padding. change height when status changes */
.saturn .dijitTabContainerTop-tabs .dijitTabContent {
  padding: 3px 6px;
  /*border-bottom-width: 0;
  background-image: url("./images/tabTop.png");
  background-position: 0 0;
  background-repeat: repeat-x;*/
  min-width: 60px;
  text-align: center;
}
.saturn .dijitTabContainerTop-tabs .dijitTabChecked .dijitTabContent {
  /*padding-bottom: 4px;
  padding-top: 6px;*/
}
/* normal status */
.saturn .dijitTabContainerTop-tabs .dijitTabInnerDiv {
  /*background-image: url("./images/tabTop.png");
  background-position: 0 -248px;
  background-position: bottom;
  background-repeat: repeat-x;
  -webkit-box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.04);
  box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.04);*/
}
/* checked status */
.saturn .dijitTabContainerTop-tabs .dijitTabChecked .dijitTabInnerDiv {
  /*background-image: none;
  -webkit-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.05);*/
}
.saturn .dijitTabContainerTop-tabs .dijitTabChecked .dijitTabContent {
  /*background-position: 0 -102px;
  background-repeat: repeat-x;*/
}
/** end top tab **/
/*************** bottom tab ***************/
.saturn .dijitTabContainerBottom-tabs .dijitTab {
  top: -1px;
}
/* calculate the position and size */
.saturn .dijitTabContainerBottom-tabs .dijitTabContent {
  /*padding: 5px 10px;
  border-top-width: 0;
  background-image: url("./images/tabBottom.png");
  background-position: 0 -249px;
  background-repeat: repeat-x;
  background-position: bottom;
  min-width: 60px;
  text-align: center;*/
}
.saturn .dijitTabContainerBottom-tabs .dijitTab {
  /*padding-bottom: 3px;*/
}
/* normal status */
.saturn .dijitTabContainerBottom-tabs .dijitTabInnerDiv {
  /*background-image: url("./images/tabBottom.png");
  background-position: top;
  background-repeat: repeat-x;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);*/
  /*width:139px;*/
}
/* checked status */
.saturn .dijitTabContainerBottom-tabs .dijitTabChecked .dijitTabContent, .
saturn .dijitTabContainerBottom-tabs .dijitTabContent {
  padding-bottom: 5px;
  padding-top: 5px;
  background-position: 0 -119px;
}
.saturn .dijitTabContainerBottom-tabs .dijitTabChecked {
  padding-bottom: 0;
}
.saturn .dijitTabContainerBottom-tabs .dijitTabChecked .dijitTabInnerDiv {
  /*background-image: none;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  border:none;
  border-right: 1px solid #444;
  background: url("../images/colors/saturn/widget_carousel/etichetta-slide.jpg") 0px 34px;*/
}
.saturn .dijitTabContainerBottom-tabs .dijitTabInnerDiv {
  /*background-image: none;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  border:none;
  border-right: 1px solid #444;*/
  }
/** end bottom tab **/
/*************** left tab ***************/
.saturn .dijitTabContainerLeft-tabs .dijitTab {
  border-right-width: 0;
  left: 1px;
  /* used for overlap */

  margin-bottom: 1px;
}
/* normal status */
.saturn .dijitTabContainerLeft-tabs .dijitTabInnerDiv {
  background-image: url("./images/tabLeft.png");
  background-position: -347px -340px;
  background-repeat: repeat-y;
}
.saturn .dijitTabContainerLeft-tabs .dijitTabContent {
  padding: 3px 8px 4px 4px;
  background-image: url("./images/tabLeft.png");
  background-repeat: repeat-y;
  background-position: 0 0;
}
/* checked status */
.saturn .dijitTabContainerLeft-tabs .dijitTabChecked .dijitTabContent {
  padding-right: 9px;
  border-right: none;
  background-image: none;
}
.saturn .dijitTabContainerLeft-tabs .dijitTabChecked .dijitTabInnerDiv {
  background-position: 0 -179px;
  background-repeat: repeat-y;
  -webkit-box-shadow: -1px 0 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: -1px 0 2px rgba(0, 0, 0, 0.05);
  box-shadow: -1px 0 2px rgba(0, 0, 0, 0.05);
}
/** end left tab **/
/*************** right tab ***************/
.saturn .dijitTabContainerRight-tabs .dijitTab {
  border-left-width: 0;
  left: -1px;
  /* used for overlap */

  margin-bottom: 1px;
}
/* normal status */
.saturn .dijitTabContainerRight-tabs .dijitTabInnerDiv {
  background-image: url("./images/tabRight.png");
  background-repeat: repeat-y;
  background-position: -1px -347px;
}
.saturn .dijitTabContainerRight-tabs .dijitTabContent {
  padding: 3px 8px 4px 4px;
  background-image: url("./images/tabRight.png");
  background-position: right top;
  background-repeat: repeat-y;
}
/* checked status */
.saturn .dijitTabContainerRight-tabs .dijitTabChecked .dijitTabContent {
  padding-left: 5px;
  border-left: none;
  background-image: none;
}
.saturn .dijitTabContainerRight-tabs .dijitTabChecked .dijitTabInnerDiv {
  background-position: -348px -179px;
  -webkit-box-shadow: 1px 0 2px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 1px 0 2px rgba(0, 0, 0, 0.07);
  box-shadow: 1px 0 2px rgba(0, 0, 0, 0.07);
}
/** end right tab **/
/** round corner **/
/************ left/right scroll buttons + menu button ************/
.saturn .tabStripButton {
  background-color: #e5f2fe;
  border: 1px solid #b5bcc7;
}
.saturn .dijitTabListContainer-top .tabStripButton {
  padding: 4px 3px;
  margin-top: 7px;
  background-image: url("./images/tabTop.png");
  background-position: 0 0;
}
.saturn .dijitTabListContainer-bottom .tabStripButton {
  padding: 5px 3px;
  margin-bottom: 4px;
  background-image: url("./images/tabTop.png");
  background-position: 0 -248px;
  background-position: bottom;
}
.saturn .tabStripButtonHover {
  background-color: #abd6ff;
}
.saturn .tabStripButtonActive {
  background-color: #7dbdfa;
}
.saturn .dijitTabStripIcon {
  height: 15px;
  width: 15px;
  margin: 0 auto;
  background: url("../form/images/buttonArrows.png") no-repeat -75px 50%;
  background-color: transparent;
}
.saturn .dijitTabStripSlideRightIcon {
  background-position: -24px 50%;
}
.saturn .dijitTabStripMenuIcon {
  background-position: -51px 50%;
}
/*disabled styles for tab strip buttons*/
.saturn .dijitTabListContainer-top .tabStripButtonDisabled, .saturn .dijitTabListContainer-bottom .tabStripButtonDisabled {
  background-color: #d3d3d3;
  border: 1px solid #b5bcc7;
  /* to match border of TabContainer itself */

}
.saturn .tabStripButtonDisabled .dijitTabStripSlideLeftIcon {
  background-position: -175px 50%;
}
.saturn .tabStripButtonDisabled .dijitTabStripSlideRightIcon {
  background-position: -124px 50%;
}
.saturn .tabStripButtonDisabled .dijitTabStripMenuIcon {
  background-position: -151px 50%;
}
/* Nested Tabs */
.saturn .dijitTabContainerNested .dijitTabListWrapper {
  height: auto;
}
.saturn .dijitTabContainerNested .dijitTabContainerTop-tabs {
  border-bottom: solid 1px #b5bcc7;
  padding: 1px 2px 4px;
  margin-top: -2px;
}
.saturn .dijitTabContainerTabListNested .dijitTabContent {
  background: rgba(255, 255, 255, 0) none repeat scroll 0 0;
  border: none;
  padding: 4px;
  border-color: rgba(118, 157, 192, 0);
  -webkit-transition-property: background-color, border-color;
  -moz-transition-property: background-color, border-color;
  transition-property: background-color, border-color;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.saturn .dijitTabContainerTabListNested .dijitTab .dijitTabInnerDiv {
  /* 4 element selector to override box-shadow setting from above rule:
	 *		.saturn .dijitTabContainerTop-tabs .dijitTabChecked .dijitTabInnerDiv { ... }
	 */

  background: none;
  border: none;
  top: 0;
  /* to override top: 1px/-1px for normal tabs */

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.saturn .dijitTabContainerTabListNested .dijitTabHover .dijitTabContent {
  background-color: #e5f2fe;
  border: solid 1px #cfe5fa;
  padding: 3px;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.saturn .dijitTabContainerTabListNested .dijitTabHover .tabLabel {
  text-decoration: none;
}
.saturn .dijitTabContainerTabListNested .dijitTabActive .dijitTabContent {
  border: solid 1px #759dc0;
  padding: 3px;
  background: #abd6ff url("./images/tabNested.png") repeat-x;
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
.saturn .dijitTabContainerTabListNested .dijitTabChecked .dijitTabContent {
  padding: 3px;
  border: solid 1px #759dc0;
  background-position: 0 105px;
  background-color: #cfe5fa;
}
.saturn .dijitTabContainerTabListNested .dijitTabChecked .tabLabel {
  text-decoration: none;
  background-image: none;
}
.saturn .dijitTabPaneWrapperNested {
  border: none;
  /* prevent double border */

}
.dj_ie6 .saturn .dijitTabContent,
.dj_ie6 .saturn .dijitTabInnerDiv,
.dj_ie6 .dijitTabListContainer-top .tabStripButton,
.dj_ie6 .dijitTabListContainer-bottom .tabStripButton {
  background-image: none;
}
