#go_top {
    bottom: 60px;
    height: 36px;
    overflow: hidden;
    position: fixed;
    right: 1px;
    width: 33px;
    cursor:pointer;
}   
#gh-bti {
    clip: rect(0px, 33px, 36px, 0px);
    position: absolute;
}

#go_top:hover #gh-bti {
    clip: rect(38px, 33px, 76px, 0px);
    top: -39px;
}

#go_star {
    bottom: 20px;
    height: 36px;
    overflow: hidden;
    position: fixed;
    right: 1px;
    width: 33px;
    cursor:pointer;
}   
#gh-star {
    clip: rect(0px, 33px, 36px, 0px);
    position: absolute;
}

#go_star:hover #gh-star {
    clip: rect(38px, 33px, 76px, 0px);
    top: -39px;
} 