body{margin:0 0 0 0;background:#121315;color:#666565;font-family:Arial, Helvetica, sans-serif;font-size:11px;}
ul, li{padding:0;margin:0;list-style:none;}
h1, h2, h3, h4{margin:0;padding:0;font-size:14px;}
p {
    font-size: 1.2em;
    margin: 0;
    padding: 3px 0;
}
img{border:0;}
a, a:visited {
    color: #898989;
    font-size: 1.1em;
    text-decoration: underline;
}
a:hover{color:#fff;text-decoration:none;}
a.hl{font-weight:bold;}
form{display:inline;}
label{cursor:pointer;}
input, textarea, select{font-family:Verdana, Arial, serif;font-size:12px;}
.control input, .control textarea, .control select, .common_input{padding:2px 1px;background:#191a1b;border:1px solid #2e2e2e;color:#5e6060;}
.button input{vertical-align:middle;}
.g_clear{clear:both;font-size:0;height:0;}
.g_hidden{display:none;}
.g_hint{font-size:11px;}
.block_header {
    background: url("http://cdnimages.manporn.xxx/images/item_logo02.png") no-repeat scroll 0 -177.5px #000;
    border: 1px solid #2E2E2E;
    color: #F9F1D2;
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 2px;
    padding: 6px 10px 6px 41px;
}
.block_sub_header{padding:5px 10px;display:block;border:1px solid #2e2e2e;background:#252525;font-family:Arial, Helvetica, sans-serif;font-size:11px;margin-bottom:2px;}
.block_sub_header .links{padding-left:10px;}
.block_content{padding:0;color:#bbb;}
.text_content{padding:5px 10px 10px 10px;color:#bbb;}
.text_content .q {
    color: #CCCCCC;
    display: block;
    font-family: Tahoma;
    font-size: 14px;
    padding: 3px;
}

.block_content p.topmost, .text_content p.topmost {
    font-size: 1.3em;
    margin-top: 0;
    padding: 8px 0;
}
.block_content .label{margin-bottom:3px;color:#9b9b9b;padding-left:5px;}
.block_content .control{margin-bottom:10px;}
.block_content .control_group{margin-bottom:10px;}
.block_content .control_group .item{float:left;margin-bottom:5px;}
.block_content .button{padding-top:3px;}
.block_content .button .ajax_wait{padding-left:5px;}
.block_content .field_error{padding:1px;color:#fb6549;font-size:11px;}
.block_content .message_error{margin:0 5px 10px 5px;padding:5px;border:1px solid #2e2e2e;background:#191a1b;color:#fb6549;}
.block_content .message_info{margin:0 5px 10px 5px;padding:5px;border:1px solid #2e2e2e;background:#191a1b;color:#ddd;}
#placenta, #placenta_2{margin:0 auto;padding-bottom:10px;position:relative;width:1198px;}
#top_menu {
    color: #FFFFFF;
    font-size: 13px;
    position: absolute;
    right: 1px;
    text-decoration: none;
    top: 38px;
}
#top_menu a, #top_menu a:visited {
    color: #FFFFFF;
    text-decoration: none;
}
#top_menu a:hover{color:#ffffff;text-decoration:underline;}
#top_menu span{font-weight:bold;color:#fff;}
.hdesc {
    color: #858585;
    font-family: arial;
    font-size: 12px;
    margin: 0;
    padding: 5px 0;
}
.hdesc h1 {
    font-size: 1.1em;
    font-weight: normal;
}
#3b3d3c;left:279px;top:15px;padding:15px 30px;}
#placenta_2 .hdesc{width:280px;padding:5px 30px;}
#header {
    background: url("http://cdnimages.manporn.xxx/images/big_logo03.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 161px;
    margin: 0 auto 2px;
    position: relative;
}
.nav_bg {
    background: url("http://cdnimages.manporn.xxx/images/spriteme2.png") repeat-x scroll 0 -2px rgba(0, 0, 0, 0);
    bottom: 0;
    height: 62px;
    left: 0;
    position: absolute;
    top: 100px;
    width: 1198px;
}
#placenta_2, #placenta_2 .nav_bg{}
.nav{left:0;position:absolute;top:0;width:100%;}
.nav li{float:left;display:inline;padding-right:1px;}
.nav .first{border-left:1px solid #232323;}
.nav li a, .nav li a:visited {
    background: url("http://cdnimages.manporn.xxx/images/spriteme1.png") no-repeat scroll -10px -52px transparent;
    color: #999999;
    display: block;
    float: left;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
}
.nav li a, .nav li a:hover {}
.nav li a span, .nav li a:visited span{display:block;float:left;background:url(http://cdnimages.manporn.xxx/images/m_r.png) 100% 0 no-repeat;padding:0 9px;cursor:pointer;}
.nav li a em, .nav li a:visited em{background:url("http://cdnimages.manporn.xxx/images/spriteme2.png") repeat-x scroll 0px -84px transparent;cursor:pointer;display:block;float:left;font-style:normal;height:29px;line-height:29px;padding:0 20px;text-align:center;text-transform: uppercase;}
font-style:normal;text-align:center;cursor:pointer;}
.nav li a:hover{color:#b7b7b7;text-decoration:underline;}
.nav li a:hover em{text-decoration:underline;}
.nav .activ a, .nav .activ a:visited{color:#fff;text-decoration:none;background:url(http://cdnimages.manporn.xxx/images/m_l_h.png) 0 no-repeat;}
.nav .activ a span, .nav .activ a:visited span{background:url(http://cdnimages.manporn.xxx/images/m_r_h.png) 100% 0 no-repeat;padding:0 9px;}
.nav .activ a em, .nav .activ a:visited em{background:url(http://cdnimages.manporn.xxx/images/m_m_h.png) 0 0 repeat-x;}
.nav_2 {
    color: #A6A5A0;
    font-size: 11px;
    left: 10px;
    overflow: hidden;
    position: absolute;
    top: 35px;
}
.nav_2 li {
    border: 1px solid #242424;
    display: inline;
    float: left;
    margin-right: 1px;
    margin-top: 1px;
    padding-bottom: 0;
}
.nav_2 li a, .nav_2 li a:visited {
    font-size: 1.3em;
    line-height: 1.4em;
    padding: 2px 18px;
    text-decoration: none;
}
.s_forma {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 18px;
    width: 275px;
}
.s_forma .s_input {
    background: url("http://cdnimages.manporn.xxx/images/spriteme1.png") no-repeat scroll -10px -10px rgba(0, 0, 0, 0);
    border: 0 none;
    color: #000000;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    height: 18px;
    line-height: 18px;
    padding: 2px 5px;
    width: 185px;
}
.s_forma .s_but{float:right;}
#data{width:100%;overflow:hidden;}
.box{margin-bottom:5px;background:#252525;border:1px solid #2e2e2e;padding:0px;*height:1%;overflow:hidden;}
.ban_small{float:right;width:240px;text-align:center;}
.ban_big{float:left;width:945px;text-align:center;}
.banner_300{float:left;text-align:center;}
.banner_900{width:99.2%;text-align:center;}
#video_right .banner_300{float:none;width:100%;padding:10px 0;text-align:center;}
#wide_col{width:958px;float:right;margin-bottom:10px;}
.player{background:#1b1b1b;border:1px solid #2e2e2e;padding:3px;}
.member_menu .block_content{margin-bottom:5px;}
#wide_col #video_info_col{width:562px;float:left;}
#wide_col_2{width:628px;float:left;}
#wide_col #related_videos_col{width:196px;float:left;}
#side_col{width:237px;float:left;margin-bottom:10px;}
#video_right{width:323px;float:right;background:#252525;border:1px solid #2e2e2e;}
.tops{padding:20px 20px 20px 0;}
.tops_2{width:100%;overflow:hidden;}
.tops_2 ul{font-size:13px;float:left;width:185px;border-left:1px solid #2e2e2e;margin-left:-1px;padding-left:50px;padding-bottom:20000px;margin-bottom:-20000px;}
.tops_2 li{padding:2px 0 2px 15px;background:url(http://cdnimages.manporn.xxx/images/li.png) 0 50% no-repeat;}
.tops_big ul{font-size:15px;font-weight:bold;}
.logo {
    display: block;
    height: 90px;
    left: 0;
    overflow: hidden;
    position: absolute;
    text-indent: -9999px;
    top: 0;
    width: 376px;
}
#placenta_2 .tops_2 ul{width:175px;}
#footer {
    background: none repeat scroll 0 0 #252525;
    padding: 3px;
}
.f_links {
    display: inline;
    overflow: hidden;
    padding: 5px 0;
    width: auto;
}
.f_links li {
    display: inline;
    padding: 0 10px;
}
.copy {
    display: inline;
    float: right;
    font-size: 1.1em;
    padding: 0 10px;
}
.list_videos{overflow:hidden;}
.list_videos .block_content{padding:0;margin:0;width:110%;overflow:hidden;}
.list_videos .item{float:left;width:230px;padding:3px;font-size:11px;background:#252525;border:1px solid #2e2e2e;margin:0 2px 2px 0;}
.list_videos .item_small{float:left;width:182px;padding:2px;font-size:11px;}
.list_videos .image {
    background: url("http://cdnimages.manporn.xxx/images/thumb00.jpg") no-repeat scroll 0 0 transparent;
    height: 172px;
    margin-bottom: 5px;
    position: relative;
    width: 230px;
}
.list_videos .private, .list_videos .premium{background-color:#000;}
.list_videos .image a{display:block;color:#777;}
.list_videos .image img{display:block;border:0;width:230px;height:172px;display:block;}
.list_videos .info{padding:2px;line-height:18px;}
.list_videos .info a, .list_videos .info a:visited{color:#b9b2a5;text-decoration:none;}
.list_videos .info a:hover{color:#b9b2a5;text-decoration:underline !important;}
.list_videos .info h2{display:block;font-size:12px;font-weight:normal;height:17px;line-height:17px;overflow:hidden;position:relative;text-align:center;white-space:nowrap;width:100%;}
.list_videos .length, .list_videos .added{position:absolute;left:0;top:0;background:#f7e3b3;color:#000;font-size:11px;padding:3px 10px;filter:alpha(opacity=70);-moz-opacity:0.70;-khtml-opacity:0.70;opacity:0.70;display:block;text-decoration:none !important}
.list_videos a:hover .length, .list_videos a:hover .added{color:#716c63;}
.list_videos .added{left:auto;right:0;}
.list_videos .info .added span{color:#fff;font-weight:bold;}
.list_videos .info .rating{text-align:right;}
.list_videos .options{padding-bottom:5px;}
.list_videos .options label{color:#ddd;font-weight:bold;}
.list_videos .options input{vertical-align:middle;}
.list_videos .options a{font-weight:bold;}
.list_videos .actions{padding-top:10px;}
.related .item{margin:0 4px 4px 0;width:230px;}
.related .item .image, .related .item .image img{height:172px;width:230px;}
.list_members_2 .item{width:150px;}
.list_members_2 .item .image, .list_members_2 .item .image img{width:150px;height:120px;}
.list_albums .item {
    float: left;
    font-size: 10px;
    padding: 2px;
}
.list_albums .private{background-color:#000;}
.list_albums .image {
    border: 1px solid #000000;
}
.list_albums .image a{color:#777;}
.list_albums .image img{border:0;}
.list_albums .info{padding:2px;line-height:18px;}
.list_albums .info h2{display:block;overflow:hidden;font-size:11px;white-space:nowrap;}
.list_albums .info .images{float:left;}
.list_albums .info .rating{padding-left:10px;float:left;}
.list_albums .info .added span{color:#fff;font-weight:bold;}
.list_albums .options{padding-bottom:5px;}
.list_albums .options label{color:#ddd;font-weight:bold;}
.list_albums .options input{vertical-align:middle;}
.list_albums .options a{font-weight:bold;}
.list_albums .actions{padding-top:10px;}
.list_categories .block_content{padding:0;margin:0;width:110%;overflow:hidden;}
.list_categories .item{float:left;width:230px;padding:3px;font-size:11px;background:#252525;border:1px solid #2e2e2e;margin:0 2px 2px 0;}
.list_categories .image{width:230px;height:172px;background:url(http://cdnimages.manporn.xxx/images/thumb.jpg) 0 0 no-repeat;margin-bottom:5px;position:relative;}
.list_categories .image a{display:block;color:#777;}
.list_categories .image img{display:block;border:0;width:230px;height:172px;display:block;}
.list_categories .info{padding:2px;line-height:18px;}
.list_categories .info a, .list_categories .info a:visited{color:#b9b2a5;text-decoration:none;}
.list_categories .info a:hover{color:#b9b2a5;text-decoration:underline !important;}
.list_categories .info h2{display:block;font-size:18px;font-weight:normal;height:17px;line-height:17px;overflow:hidden;position:relative;text-align:center;white-space:nowrap;width:100%;}
.list_categories .added{left:auto;right:0;position:absolute;top:0;background:#f7e3b3;color:#000;font-size:11px;padding:3px 10px;filter:alpha(opacity=70);-moz-opacity:0.70;-khtml-opacity:0.70;opacity:0.70;display:block;text-decoration:none !important}
.list_categories a:hover .length, .list_categories a:hover .added{color:#716c63;}
.list_categories.info .added span{color:#fff;font-weight:bold;}
.list_tags .item{float:left;width:137px;padding:5px;font-size:11px;}
.list_tags .item h2{padding-bottom:4px;font-size:14px;text-align:center;}
.list_tags .item .info{padding:2px;line-height:18px;text-align:center;}
.list_comments .comment_row{padding:5px;background:#252525;color:#bbb;margin-bottom:2px;}
.list_comments .comment_row .avatar{width:102px;height:82px;float:left;background:#111;}
.list_comments .comment_row .avatar img{border:1px solid #000;}
.list_comments .comment_row h2{display:block;padding-left:110px;margin-bottom:5px;font-size:14px;font-weight:normal;color:#fff;}
.list_comments .comment_row .anonymous_user{color:#bbb;}
.list_comments .comment_row p{display:block;padding-left:110px;font-size:12px;}
.list_members .item{float:left;padding:5px 16px;width:152px;font-size:11px;}
.list_members .item h2{display:block;overflow:hidden;padding-bottom:4px;font-size:14px;text-align:center;white-space:nowrap;}
.list_members .item .image{background:#000;border:1px solid #000;}
.list_members .item .image a{display:block;color:#777;}
.list_members .item .image img{display:block;border:0;}
.list_members .info{padding:2px;line-height:18px;}
.list_members .info span{color:#fff;font-weight:bold;}
.list_messages .message{padding:5px;margin-bottom:2px;background:#252525;color:#bbb;}
.list_messages .message .delete{width:30px;height:52px;padding-top:30px;float:left;}
.list_messages .message .avatar{width:102px;height:82px;float:left;background:#111;}
.list_messages .message .avatar img{border:1px solid #000;}
.list_messages .message .text{width:596px;padding-left:10px;float:left;}
.list_messages .message h2{margin-bottom:5px;font-size:14px;font-weight:normal;color:#fff;}
.list_messages .message .content{margin-top:8px;margin-bottom:8px;}
.list_messages .actions{padding-top:10px;}
.list_members_blog .text_content{padding:0 5px;}
.list_members_blog .entry{padding:5px;background:#252525;color:#bbb;margin-bottom:2px;}
.list_members_blog .entry .delete{width:30px;height:52px;padding-top:30px;float:left;}
.list_members_blog .entry .avatar{width:102px;height:82px;float:left;background:#111;}
.list_members_blog .entry .avatar img{border:1px solid #000;}
.list_members_blog .entry .text{width:596px;padding-left:10px;float:left;}
.list_members_blog .entry h2{margin-bottom:5px;font-size:14px;font-weight:normal;color:#fff;}
.list_members_blog .entry .content{margin-top:8px;margin-bottom:8px;font-size:12px;}
.list_members_blog .actions{padding-top:10px;}
.list_members_blog .add_entry{margin-top:16px;padding:5px;border:1px solid #2e2e2e;background:#252525;}
.list_members_blog .control textarea{width:99%;}
.list_members_events .event{padding:5px 10px;background:#2d3031;color:#9b9b9b;margin-bottom:2px;}
.pagination{background:url("http://cdnimages.manporn.xxx/images/pages_bg.png") repeat-x scroll 0 0 transparent;border:1px solid #2E2E2E;font-size:16px;height:32px;margin-bottom:5px;padding:6px 3px 0;text-align:center;}
.pagination a, .pagination a:visited{padding:5px 5px;}
.pagination a:hover{background:#646464 url(http://cdnimages.manporn.xxx/images/p2.png) 0 0 repeat-x;color:#222425;border:1px solid #2e2e2e;padding:4px;}
.pagination span{background:#646464 url(http://cdnimages.manporn.xxx/images/p2.png) 0 0 repeat-x;padding:4px;color:#000;font-weight:bold;}
.pagination .block_content{padding:5px 0;}
.tags_cloud a{line-height:18px;}
.search .control, .search .button {
    float: left;
    padding: 2px 0;
}
.search .control input {
    width: 209px;
}
.search_members .control input, .search_members .control select.full_size{width:180px;}
.search_members{margin-bottom:10px;}
.global_comments .control textarea, .global_comments .control input{width:99%;}
.global_comments .info_row{margin-bottom:8px;color:#9b9b9b;}
* html .global_comments .info_row{height:100%;}
.global_comments .info_row span{color:#ddd;}
.global_comments .info_row img{border:none;}
.global_comments .add_comment{margin-bottom:8px;padding:5px;background:#252525;border:1px solid #2e2e2e;}
.global_comments .comments_list{margin-bottom:8px;}
.global_comments .comment_row{padding:5px;background:#252525;color:#bbb;margin-bottom:2px;border:1px solid #2e2e2e;}
.global_comments .comment_row .avatar{width:102px;height:82px;float:left;background:#111;}
.global_comments .comment_row .avatar img{border:1px solid #000;}
.global_comments .comment_row h2{display:block;padding-left:110px;margin-bottom:5px;font-size:14px;font-weight:normal;color:#fff;}
.global_comments .comment_row .anonymous_user{color:#bbb;}
.global_comments .comment_row p{display:block;padding-left:110px;font-size:12px;}
.video_view .cs{padding-top:5px;padding-bottom:10px;background:#111;text-transform:uppercase;text-align:center;}
.video_view .cs a img{border:0;}
.video_view .player{margin-bottom:3px;padding:3px;background:#111;font-size:18px;text-align:center;}
.social{float:left;padding:10px 0;display:inline;}
.video_view h2{margin:0 0 8px 0;color:#ddd;font-size:16px;}
.video_view h3{margin:0 0 8px 0;font-size:12px;font-weight:normal;}
.video_view .rating_container{cursor:pointer;}
.info_row a, .info_row a:visited{color:#f9f1d2;}
.video_view .info_row{margin-bottom:2px;background:#1b1b1b;border:1px solid #2e2e2e;*height:1%;padding:10px 10px;color:#9b9b9b;}
* html .video_view .info_row{height:100%;}
.video_view .info_row span{color:#ddd;font-weight:bold;}
.video_view .info_row img{vertical-align:top;border:none;}
.video_view .info_row .col_1{width:370px;float:left;}
.video_view .info_row .col_2{float:left;}
.video_view .send_to_friend, .video_view .add_to_favourites{margin-bottom:8px;padding:5px;border:1px solid #2e2e2e;background:#252525;}
.video_view .control textarea, .video_view .control input{width:99%;}
.if_rating{width:145px;float:right;text-align:center;padding:10px 0;}
.video_view .info_row .if_rating span{color:#7e7e7e;font-weight:normal;}
.label_like{float:left;}
.desc_like{margin-left:75px;color:#7e7e7e;display:block;}
.video_view .info_row .label_like, .video_view .info_row .desc_like{color:#7e7e7e;font-weight:normal;}
.video_edit .block_content{margin-left:15px;margin-right:15px;}
.video_edit .player{margin-bottom:10px;padding:3px;background:#111;text-align:center;}
.video_edit .info_row{margin-bottom:8px;}
* html .video_edit .info_row{height:100%;}
.video_edit .info_row span{color:#ddd;font-weight:bold;}
.video_edit .info_row img{vertical-align:top;}
.video_edit .info_row .col_1{width:370px;float:left;}
.video_edit .info_row .col_2{float:left;}
.video_edit .control input, .video_edit .control textarea, .video_edit .control select{width:99%;}
.video_edit .control_group .item{width:160px;}
.video_edit .control_upload{margin-bottom:10px;}
.video_edit .control_upload input{vertical-align:middle;}
.video_edit .uploader_popup{border:1px solid #000;}
.video_edit .uploader_progress{overflow:hidden;border:1px solid #000;background:#191a1b;}
.video_edit .uploader_progress .progress_bar{height:15px;margin:2px;background:#000;font-size:11px;color:#5e6060;white-space:nowrap;line-height:15px;text-indent:5px;}
.album_view .cs{padding-top:5px;padding-bottom:10px;background:#111;text-transform:uppercase;text-align:center;}
.album_view .cs a img{border:0;}
.album_view .main_photo{margin-bottom:10px;padding:5px;background:#111;font-size:18px;text-align:center;}
.album_view h2{margin:0 0 8px 0;color:#ddd;font-size:16px;}
.album_view h3{margin:0 0 8px 0;font-size:12px;font-weight:normal;}
.album_view .rating_container{cursor:pointer;}
.album_view .info_row{margin-bottom:8px;color:#9b9b9b;}
* html .album_view .info_row{height:100%;}
.album_view .info_row span{color:#ddd;}
.album_view .info_row img{vertical-align:top;border:none;}
.album_view .info_row .col_1{width:370px;float:left;}
.album_view .info_row .col_2{float:left;}
.album_view .send_to_friend, .album_view .add_to_favourites{margin-bottom:8px;padding:5px;border:1px solid #2e2e2e;background:#252525;}
.album_view .control textarea, .album_view .control input{width:99%;}
.album_images .item{float:left;padding:10px 12px;}
.album_images .item .image a{color:#777;}
.album_images .item .image img{border:1px solid #000;}
.album_edit .main_photo{margin-bottom:10px;padding:5px;background:#111;font-size:18px;text-align:center;}
.album_edit .block_content{margin-left:15px;margin-right:15px;}
.album_edit .info_row{margin-bottom:8px;}
* html .album_edit .info_row{height:100%;}
.album_edit .info_row span{color:#ddd;font-weight:bold;}
.album_edit .info_row img{vertical-align:top;}
.album_edit .info_row .col_1{width:370px;float:left;}
.album_edit .info_row .col_2{float:left;}
.album_edit .image_item .image{float:left;padding:5px 12px 10px 0;}
.album_edit .image_item img{border:1px solid #000;}
.album_edit .image_item .options{width:500px;float:left;padding:5px 12px 0 0;}
.album_edit .image_item .control{margin-bottom:0 !important;}
.album_edit .control input, .album_edit .control textarea, .album_edit .control select, .album_edit .images textarea{width:99%;}
.album_edit .control_group .item{width:160px;}
.logon .block_content{width:500px;margin:20px auto 0 auto;}
.logon .control input{width:99%;}
.signup .block_content{width:500px;margin:20px auto 0 auto;}
.signup table.sms_bill{width:100%;border-collapse:collapse;background:#191a1b;color:#5e6060;}
.signup table.sms_bill td{border:1px solid #2e2e2e;padding:5px;}
.signup table.sms_bill tr.header td{font-weight:bold;color:#bbb;}
.signup .control input, .signup .control select{width:99%;}
.invite_friend .block_content{width:500px;margin:20px auto 0 auto;}
.invite_friend .control input, .invite_friend .control textarea{width:99%;}
.feedback .block_content{width:500px;margin:20px auto 0 auto;}
.feedback .control input, .feedback .control textarea{width:99%;}
.helper_menu a{display:block;padding:3px 0 3px 23px;margin:1px 0;background:#282a2b url("http://cdnimages.manporn.xxx/images/arrow_orange.gif") 10px 8px no-repeat;border:1px solid #000;text-decoration:none;}
.helper_menu a:hover{background:#323637 url("http://cdnimages.manporn.xxx/images/arrow_orange.gif") 10px 8px no-repeat;}
.helper_menu span{display:block;padding:6px;margin:1px 0;font-weight:bold;}
.member_menu .avatar{text-align:center;}
.member_menu .avatar img{border:1px solid #000;}
.member_menu a{display:block;padding:3px 0 3px 23px;margin:1px 0;background:#282a2b url("http://cdnimages.manporn.xxx/images/arrow_orange.gif") 10px 8px no-repeat;border:1px solid #000;text-decoration:none;}
.member_menu a:hover{background:#323637 url("http://cdnimages.manporn.xxx/images/arrow_orange.gif") 10px 8px no-repeat;}
.member_menu span{display:block;padding:6px;margin:1px 0;font-weight:bold;}
.member_profile_view .block_content{margin:5px 0 0 0;}
.member_profile_view .add_to_friends, .member_profile_view .send_message{margin-top:8px;margin-bottom:8px;padding:5px;border:1px solid #2e2e2e;background:#252525;}
.member_profile_view .block_sub_header{font-size:11px;}
.member_profile_view .block_sub_header .button{padding-top:10px;padding-bottom:5px;}
.member_profile_view .control textarea{width:99%;}
.member_profile_view .info_row{margin-bottom:2px;padding:4px 0 4px 10px;background:#252525;color:#9b9b9b;}
.member_profile_view .info_row span{color:#ddd;}
.member_profile_view .info_row .col_1{width:400px;float:left;}
.member_profile_view .info_row .col_2{width:330px;float:left;}
.member_profile_view .actions{margin-top:10px;}
.member_profile_view .actions img{border:none;}
.member_profile_edit .block_content{width:500px;margin:20px auto 0 auto;}
.member_profile_edit .control input, .member_profile_edit .control textarea, .member_profile_edit .control select.full_size{width:99%;}
.message_details .message{padding:5px;}
.message_details .message .avatar{width:102px;height:82px;float:left;background:#111;}
.message_details .message .avatar img{border:1px solid #000;}
.message_details .message .text{width:596px;padding-left:10px;float:left;}
.message_details .message h2{margin-bottom:10px;font-size:14px;font-weight:normal;color:#fff;}
.message_details .message .content{margin-top:8px;margin-bottom:8px;}
.message_details .send_message{margin-top:16px;padding:5px;border:1px solid #2e2e2e;background:#252525;}
.message_details .control textarea{width:99%;}
.global_stats ul{margin:0;padding:0;padding-left:20px;font-size:12px;list-style:square outside;}
.global_stats ul li{padding-bottom:5px;}
.top_referers .item{float:left;width:242px;padding:2px;font-size:13px;}
.top_referers .image{background:#000;border:1px solid #000;}
.top_referers .image a{display:block;color:#777;}
.top_referers .image img{display:block;border:0;}
.top_referers .info{padding:2px;line-height:18px;}
.top_referers .info h2{display:block;overflow:hidden;font-size:13px;white-space:nowrap;}
.url_site{width:100%;overflow:hidden;padding:10px 0 20px;}
.ulname{float:left;color:#7e7e7e;padding:2px 10px 0 0;}
.ul_url{background:#232323;border:1px solid #2e2e2e;color:#7e7e7e;float:left;padding:2px 5px;width:450px;}
.com_link{position:relative;top:4px;}
.single_box{padding-bottom:20px;}
.on_main_coms{width:100%;overflow:hidden;margin-bottom:4px;}
.on_main_coms .block_content{width:110%;overflow:hidden;}
.on_main_coms .comment_row{width:386px;float:left;margin:0 2px 2px 0;border:1px solid #2E2E2E;}
.on_main_coms .comment_row h2{font-size:12px;}
.list_comments .on_main_coms{}
.comment-index-item{}
.list_videos .rating-1{color:#898989;font-size:11px;position:absolute;right:1px;top:0;}
.t-h3{color:#F9F1D2;font-size:14px;font-weight:bold;padding:5px;}
.t-h4{font-size:13px;}
.fb-like{color:#cccccc;}
.connect_widget .connect_widget_text{color:#fff;}
.sp_hd {
    background: none repeat scroll 0 0 #1B1B1B;
    border: 1px solid #2E2E2E;
    color: #FFFFFF;
    font-size: 18px;
    margin: 2px 0;
    overflow: hidden;
    padding: 2px 0;
    text-align: center;
}
.sp_hd a, .sp_hd a:visited{color:#FFffff;}
.search_results {
    position: absolute;
    right: 0;
    top: 37px;
}
.search_results2{font-size:14px;}
.info2{height:14px;line-height:17px;}
#placenta_2 .related{float:left;width:238px;}
.socials {
    background-color: #222222;
    height: 20px;
    opacity: 0.9;
    overflow: hidden;
    position: absolute;
    right: 1px;
    top: 81px;
    width: 422px;
}
.list_videos .info .wash2 {
    display: block;
    font-size: 12px;
    font-weight: normal;
    height: 17px;
    line-height: 17px;
    overflow: hidden;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: 100%;
}
.wasol {
    padding: 8px 5px;
}

.video_comments {}

.block_avatar01 {
    float: left;
    padding: 5px;
}

#member_panel {
    border-bottom: 1px solid #222222;
    height: 28px;
    padding-bottom: 2px;
}

#member_panel .main {
    height: 25px;
    line-height: 28px;
    margin: 0 auto;
    position: relative;
    width: 1200px;
    z-index: 100;
}

#member_panel .main ul {}


#member_panel .main li {
    display: block;
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

#member_panel .main a:link, #member_panel .main a:visited {
    color: #BBBBBB;
    display: block;
    font-size: 11px;
    font-weight: bold;
    padding: 0 15px 1px;
    text-decoration: none;
    white-space: nowrap;
}

#member_panel .main a:hover, #member_panel .main a:active {
color: #eee;
}

#member_panel .ri {
    float: right !important;
}

.profname_r {
    padding-right: 33px;
}

#member_panel .main a.note_color {
    color: #FF6565;
}
.s_form3 {
    background: none repeat scroll 0 0 #000000;
    border: 1px solid #555555;
    border-radius: 3px;
    display: inline;
    height: 31px;
    left: 420px;
    padding-right: 0;
    position: absolute;
    top: 31px;
    width: 510px;
}

.s_input3 {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    color: #EEEEEE;
    float: left;
    font-size: 13px;
    height: 31px;
    line-height: 26px;
    padding: 0 5px;
    width: 441px;
}

.s_submit3 {
    background-color: #CDCDCD;
    border-radius: 3px;
    cursor: pointer;
    float: right;
    font-size: 0;
    height: 31px;
    line-height: 0;
    position: relative;
    text-decoration: none;
    top: 0;
    width: 58px;
}

.s_submit3 input {
    background: url("http://cdnimages.manporn.xxx/images/sub2.png") no-repeat scroll 50% 50% rgba(0, 0, 0, 0);
    border: 0 none;
    font-size: 0;
    height: 33px;
    line-height: 0;
    width: 55px;
}

.index {
    padding: 5px 10px;
}

.index ul {
    float: left;
    width: 193px;
}


@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
/*  */

#placenta, #placenta_2, .nav_bg {
        width: 990px !important;
        height: 29px;
}

#header {
  height: 91px;
}

.block_header {
 background: none;
 padding-left: 20px;
}

#top_menu {
    top: 30px;
    font-size: 32px;
}

.nav_bg {
    width: 980px;
    overflow: hidden;
    height: 28px;
}

.nav li a em, .nav li a:visited em {
    padding: 0 10px;
}

.block_header {
    margin-top: 22px;
}

.block_sub_header {
    font-size: 35px;
}

.list_videos .image, .list_videos .item, .list_videos .image img {
    width: 460px;
}

.list_videos .image, .list_videos .image img {
    height: 344px;
}

.list_videos .item {
    margin: 8px 8px;
}

.info2 {
    margin: 15px;
}

.list_members .item {
     width: 470px;
     font-size: 25px;
}

.list_members .item .image img {
        width: 460px;
        height: 344px;
}

.list_members .block_content a:link, .list_members .block_content a:visited {
    font-size: 40px;
    line-height: 25px;
}

.list_members .item h2 {
    height: 48px;
    margin-top: 5px;
}

.list_comments .comment_row p {
    font-size: 44px;
}

#side_col {
    display: none;
}

.list_categories .item {
            width: 485px;
}

.list_categories .image img {
        width: 480px;
        height: 344px;
}

.list_categories .image {
        width: 480px;
        height: 364px;
}

.list_categories .info h2 {
    font-size: 40px;
    line-height: 28px;
    height: 45px;
}

.member_profile_view .info_row {
    font-size: 55px;
}

.list_videos .info .wash2 {
    height: 40px;
    width: 95%;
    line-height: 50px;
}


.s_form3 {
    top: 15px;
    height: 65px;
    left: 359px;
    width: 625px;
}

.s_input3 {
    width: 510px;
    height: 65px;
    font-size: 27px;
}

.s_submit3 {
    height: 65px;
    width: 100px;
}

.s_submit3 input {
    width: 95px;
    height: 65px;
}

.nav li a, .nav li a:visited {
    font-size: 40px;
}

.list_videos .info a, .list_videos .info a:visited {
    font-size: 40px;
}

.list_videos .length, .list_videos .added {
    font-size: 30px;
}

.block_header {
   font-size: 45px;
}

.pagination {
    font-size: 55px;
    padding: 0px 3px 0;
    overflow: hidden;
    height: 60px;
}

.pagination .block_content{
    padding: 0px;
}

.tops_2 ul {
    width: 175px;
}

.tops_big ul {
    width: 470px;
    font-size: 60px;
    float: left;
}

.tops_big ul li{
    height: 80px;
    overflow: hidden;
    width: 450px;
    margin: 10px;
    float: left;
}

.index ul {
    float: left;
    width: 470px;
    font-size: 60px;
}

.index ul li{
    height: 80px;
    overflow: hidden;
    width: 450px;
    margin: 10px;
    float: left;
}


#wide_col_2 {
    width: 980px;
}

.video_view .player {
    width: 980px;
    height: 784px;
}

#kt_player, #kt_player_internal{
    width: 980px !important;
    height: 784px !important;
}

.social {
    width: 100%;
}



.rating-1 {
    display: none;
}

.related {
    display:none;
}

#video_right {
    display:none;
}

.s_form3 {
    display: none;
}

#gh-bti {
    display: none;
}
#go_star{
    display: none;
}

.f_links{
    display: none;
}

.list_members_2 {
     display: none;
 }

.list_comments {
    display: none;
 }

.private_videos {
    display: none;
 }
 
.nav_2 {
    display: none;
 }

#footer {
  height: 240px;
}
.hdesc {
  font-size: 40px;
}
.copy { 
  font-size: 30px;
  padding-top: 200px;
}

.text_content {
    font-size: 50px; 
 }
 
 .up {
     display: none;
 }
 
 .down_icon {
     display: none;
 }
 
.block_related {
  padding-left: 0;   
 }

#placenta_2 .tops_2 ul {
  width: 470px;
}
/*  */
}

