/* LOCAL */
/* Reset */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, menu, time, mark, audio, video { margin:0; padding:0; border:0; outline:0; font-size:100%; background:transparent; }

/* Global */
body, p, div, ul, li, h1, h2, h3, h4, h5, h6 { margin:0; padding:0; font-weight:normal; }
body {
    background: #161616 url(http://solomid-resources.s3-website-us-east-1.amazonaws.com/probuilds/img/bg/page.png);
    color:#888; font-family:'Roboto Condensed', Arial, 'Trebuchet MS', Verdana; font-size:15px; }
a, input[type=submit] { cursor:pointer; text-decoration:none; color:#888; }
table { width:100%; border-collapse:collapse; }
th, td { text-align:left; }
li { list-style: none; }
input[type=text] { margin:0; padding:0; border:0; font-family:'Roboto Condensed', Verdana, Arial, sans-serif; font-size:15px; }
select { display:none; }

h2 { font-size:23px; font-weight:bold; color:#cbcbcb; height:35px; line-height: 35px; margin-bottom:20px; }

/* Rest */
.module { border-top:1px solid #373737; padding:20px 0; background:url(http://solomid-resources.s3-website-us-east-1.amazonaws.com/probuilds/img/bg/module.jpg) 50% 0 no-repeat; }
.wrap { width:1000px; margin:auto; }

.nav {width: 1000px; height:75px; background-color: #161616;background-image: url("http://solomid-resources.s3-website-us-east-1.amazonaws.com/probuilds/img/bg/page.png"); margin: 0 auto;}
.lang-nav{width: 1000px; height:25px;border-bottom:1px solid #373737; margin:0 auto;background: #161616 url(http://solomid-resources.s3-website-us-east-1.amazonaws.com/probuilds/img/bg/page.png); z-index: 9999999;
}
.nav .logo { background:url(http://solomid-resources.s3-website-us-east-1.amazonaws.com/probuilds/img/logo.png) 20px center no-repeat; width:207px; height:75px; float:left; padding-left:20px; margin-right:20px; }
.nav ul { height:75px;
    overflow-y: visible;
    overflow-x: visible;
}
.nav ul li { line-height:92px; text-align: center; text-transform: uppercase; margin:0 15px; }
.lang-nav .lang-list { height:25px; margin: 0 auto; }
.lang-nav .lang-list li { line-height:normal; width:16px; text-align:left; padding-right: 20px; height:20px; }
.nav ul li a { font-size:17px; }
.nav ul li ul li a { font-size:100%; }
.nav a { color:#cbcbcb; }
.nav a:hover, .nav a.active { color:#ffc400; }
.nav ul li ul li a:hover, .nav ul li ul li a.active { color:#64e318; }
.nav form{ margin: 20px 0 0 0;}
.nav form .search-global{position: absolute; left:0;}

.champ-tooltip-table .champ-img{
    width: 84px;
    height: 84px;
}
.champion-search-results .champ-img{
    width: 80px;
    height: 80px;
}


.flags { background-repeat: no-repeat;width: 16px; height: 11px; }
.us {background-image: url(http://solomid-resources.s3-website-us-east-1.amazonaws.com/probuilds/img/flags/us.png) }
.cn {background-image: url(http://solomid-resources.s3-website-us-east-1.amazonaws.com/probuilds/img/flags/cn.png) }
.de {background-image: url(http://solomid-resources.s3-website-us-east-1.amazonaws.com/probuilds/img/flags/de.png) }
.gr {background-image: url(http://solomid-resources.s3-website-us-east-1.amazonaws.com/probuilds/img/flags/gr.png) }
.es {background-image: url(http://solomid-resources.s3-website-us-east-1.amazonaws.com/probuilds/img/flags/es.png) }
.fr {background-image: url(http://solomid-resources.s3-website-us-east-1.amazonaws.com/probuilds/img/flags/fr.png) }
.it {background-image: url(http://solomid-resources.s3-website-us-east-1.amazonaws.com/probuilds/img/flags/it.png) }
.kr {background-image: url(http://solomid-resources.s3-website-us-east-1.amazonaws.com/probuilds/img/flags/kr.png) }
.pl {background-image: url(http://solomid-resources.s3-website-us-east-1.amazonaws.com/probuilds/img/flags/pl.png) }
.br {background-image: url(http://solomid-resources.s3-website-us-east-1.amazonaws.com/probuilds/img/flags/br.png) }
.ro {background-image: url(http://solomid-resources.s3-website-us-east-1.amazonaws.com/probuilds/img/flags/ro.png) }
.ru { background-image: url(http://solomid-resources.s3-website-us-east-1.amazonaws.com/probuilds/img/flags/ru.png) }
.tr { background-image: url(http://solomid-resources.s3-website-us-east-1.amazonaws.com/probuilds/img/flags/tr.png) }
.id { background-image: url(http://solomid-resources.s3-website-us-east-1.amazonaws.com/probuilds/img/flags/id.png) }
.th { background-image: url(http://solomid-resources.s3-website-us-east-1.amazonaws.com/probuilds/img/flags/th.png) }
.tw { background-image: url(http://solomid-resources.s3-website-us-east-1.amazonaws.com/probuilds/img/flags/tw.png) }
.vn { background-image: url(http://solomid-resources.s3-website-us-east-1.amazonaws.com/probuilds/img/flags/vn.png) }

.welcome h2 { margin-bottom:35px; }

.player-welcome h2 { margin-bottom:0; }
.player-welcome h3 { font-size: 21px; }
.player-welcome p { font-size:18px; }
.player-welcome .border-5 { margin-right:20px; }

.guide-welcome h2 { margin-bottom:0; line-height:28px; height:28px; }
.guide-welcome .champ-img{
    width: 84px;
    height: 84px;
    border: 5px solid #333;
    border-radius: 4px;
    margin: 0 10px 0 0;
}

.teams-welcome .team-logo { width:610px; height:250px; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; }

.search-results ul { margin-top:-20px; float: left;}
.search-results-results.champion-results{float: none !important;}
.search-results ul li { width:230px !important; font-size:14px; margin-top:20px; height:105px; }
.search-results ul li a { padding-right:10px; }

.pro-player-feed-5 h2 { padding-left:40px; }
.pro-player-feed-5 caption { height:40px; line-height:40px; text-indent:50px; text-align:left; background:url(http://solomid-resources.s3-website-us-east-1.amazonaws.com/probuilds/img/bg/player_feed_caption.png) 50% 0 no-repeat; }
.pro-player-feed-5 td { height:40px; background:transparent; }
.pro-player-feed-5 tr { background:url(http://solomid-resources.s3-website-us-east-1.amazonaws.com/probuilds/img/bg/player_feed.png) 50% 0 no-repeat; }
.pro-player-feed-5 .tleft { background:url(http://solomid-resources.s3-website-us-east-1.amazonaws.com/probuilds/img/bg/player_feed_left.png); }
.pro-player-feed-5 .tright { background:url(http://solomid-resources.s3-website-us-east-1.amazonaws.com/probuilds/img/bg/player_feed_right.png); }
.pro-player-feed-5 tr.alt { background:url(http://solomid-resources.s3-website-us-east-1.amazonaws.com/probuilds/img/bg/player_feed_alt.png) 50% 0 no-repeat; }
.pro-player-feed-5 tr.alt .tleft { background:url(http://solomid-resources.s3-website-us-east-1.amazonaws.com/probuilds/img/bg/player_feed_alt_left.png); }
.pro-player-feed-5 tr.alt .tright { background:url(http://solomid-resources.s3-website-us-east-1.amazonaws.com/probuilds/img/bg/player_feed_alt_right.png); }
.pro-player-feed-5 .tleft, .pro-player-feed-5 .tright { width:40px; }
.pro-player-feed-5 .game-time { padding-left:20px; }
.pro-player-feed-5 .item-build { width:210px; font-size:0; text-align: right; }
.pro-player-feed-5 .item-build img { margin-right:2px; }
.pro-player-feed-5 .item-build img.last { margin-right:0; }
.pro-player-feed-5 .view-build { width:90px; text-transform: uppercase; }
.pro-player-feed-5 .dropdown { float: right; margin: 0 40px 0 0;}

.view-more{clear: both;}

.game-table tr { background:url(http://solomid-resources.s3-website-us-east-1.amazonaws.com/probuilds/img/bg/player_feed.png) 50% 0 no-repeat; height: 38px; font-size: 13px; }
.game-table th { height:40px; line-height:40px; background:url(http://solomid-resources.s3-website-us-east-1.amazonaws.com/probuilds/img/bg/player_feed_caption.png) 50% 0 no-repeat; font-size: 14px; }
.game-table tr.alt { background:url(http://solomid-resources.s3-website-us-east-1.amazonaws.com/probuilds/img/bg/player_feed_alt.png) 50% 0 no-repeat; }
.game-table .champion-icon {width: 30px;}
.game-table .champion-icon .champ-img{width: 28px; height: 28px;}
.game-table .kda { width:60px; }
.game-table .items { width:228px; }
.game-table .summoner { width:320px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.game-table .summoners { width:100px;}
.game-table .tleft { background:url(http://solomid-resources.s3-website-us-east-1.amazonaws.com/probuilds/img/bg/player_feed_left.png); }
.game-table .tright { background:url(http://solomid-resources.s3-website-us-east-1.amazonaws.com/probuilds/img/bg/player_feed_right.png); }
.game-table tr.alt .tleft { background:url(http://solomid-resources.s3-website-us-east-1.amazonaws.com/probuilds/img/bg/player_feed_alt_left.png); }
.game-table tr.alt .tright { background:url(http://solomid-resources.s3-website-us-east-1.amazonaws.com/probuilds/img/bg/player_feed_alt_right.png); }
.game-table .tleft, .game-table .tright { width:40px; }

.popular-champions ul { margin-top:-9px; padding:0 1px; }
.popular-champions ul li { float:left; margin-right:20px; margin-top:9px;width: 94px;height:145px; }
.popular-champions ul li.last { margin-right:0; }
.popular-champions .champ-img{
    width: 84px;
    height: 84px;
}

.pro-player-champion-builds ul { margin-left:-10px; margin-top:-10px; }
.pro-player-champion-builds ul li { height:90px; width:300px; margin-left:10px; background:#333; margin-top:10px; }
.pro-player-champion-builds ul li:hover { height:90px; width:300px; margin-left:10px; background:#111; margin-top:10px; }
.pro-player-champion-builds ul li a { padding:5px; }
.pro-player-champion-builds ul li .gold { margin-top:3px; }
.pro-player-champion-builds ul li .icon28x28 { border:1px solid #4a4a4a; }

.team-results ul { margin-left:-15px; margin-top:-15px; }
.team-results ul li { width:140px; margin-left:15px; margin-top:15px; }

.guide-game { width:613px; }
.guide-game tr { background:#262626; }
.guide-game tr.alt { background:#333; }
.guide-game td { height:30px; }
.guide-game th { height:20px; font-weight:normal; color:#fff; }
.guide-game .blue-team { background:url(http://solomid-resources.s3-website-us-east-1.amazonaws.com/probuilds/img/bg/guide_game_blue.jpg) 0 0 repeat-x; }
.guide-game .purple-team { background:url(http://solomid-resources.s3-website-us-east-1.amazonaws.com/probuilds/img/bg/guide_game_purple.jpg) 0 0 repeat-x; }
.guide-game .pro { width:20px; padding:0 3px; }
.guide-game .name { width:120px; overflow: hidden;text-overflow: ellipsis; }
.guide-game .score { width:80px; }
.guide-game .gold { width:40px; }
.guide-game .items { height:100%; width:100%; }
.guide-game .items img,.guide-game .item { margin-top:4px; }
.guide-game .divider { width:10px; background:url(http://solomid-resources.s3-website-us-east-1.amazonaws.com/probuilds/img/bg/guide_game_divider.png); }
.guide-game .score-gold-items-blue { padding-right:4px; }
.guide-game .score-gold-items-purple { padding-left:4px; }

.guide-game-toggle { margin-top:-1px; }

.guide-items h3 { font-size:19px; }
.guide-items ul li { width:74px; font-size: 13px; }
.guide-items ul li.last { margin:0; }

.guide-items ul.buy-order li { width:40px; height:40px; }
.guide-items ul.buy-order li.arrow { width:25px; background:url(http://solomid-resources.s3-website-us-east-1.amazonaws.com/probuilds/img/bg/buy_order_arrow.png) 0 50% no-repeat; margin-left:-7px; z-index:0; }
.guide-items ul.buy-order span { right:-5px; bottom:-5px; text-align:center; background-color:rgba(0,0,0,.7); font-size:10px; width:13px; }

.guide-summoners { width:300px;  text-align: right}
.guide-summoners ul{float: right;}
.guide-runes .rune-page { width:670px; height:436px; background:url(http://solomid-resources.s3-website-us-east-1.amazonaws.com/probuilds/img/bg/runes.png); }
.guide-runes .rune-page img { width:53px; height:56px; }
.guide-runes .rune-page .quint-1, .guide-runes .rune-page .quint-2, .guide-runes .rune-page .quint-3 { width:97px; height:97px; }
.guide-runes .rune-info { width:240px; }
.guide-runes .rune-info li { background:#2c2c2c; margin-bottom:2px; line-height:40px; }
.guide-runes .rune-info li.alt { background:#262626; }

.mark-1 { top:371px; left:157px; } .mark-2 { top:370px; left:84px; } .mark-3 { top:370px; left:23px; }
.mark-4 { top:324px; left:125px; } .mark-5 { top:312px; left:69px; } .mark-6 { top:313px; left:8px; }
.mark-7 { top:266px; left:111px; } .mark-8 { top:254px; left:27px; } .mark-9 { top:223px; left:74px; }
.seal-1 { top:186px; left:37px; } .seal-2 { top:180px; left:107px; } .seal-3 { top:136px; left:66px; }
.seal-4 { top:112px; left:119px; } .seal-5 { top:69px; left:153px; } .seal-6 { top:42px; left:204px; }
.seal-7 { top:23px; left:266px; } .seal-8 { top:4px; left:342px; } .seal-9 { top:54px; left:371px; }
.glyph-1 { top:4px; left:399px; }  .glyph-2 { top:51px; left:430px; }  .glyph-3 { top:6px; left:463px; }
.glyph-4 { top:85px; left:482px; }  .glyph-5 { top:39px; left:505px; }  .glyph-6 { top:4px; left:549px; }
.glyph-7 { top:38px; left:598px; }  .glyph-8 { top:78px; left:555px; }  .glyph-9 { top:133px; left:578px; }
.quint-1 { top:34px; left:29px; }  .quint-2 { top:215px; left:184px; }  .quint-3 { top:161px; left:417px; }

.guide-skills table { }
.guide-skills th, .guide-skills td { height:30px; }
.guide-skills .number { width:30px; background:url(http://solomid-resources.s3-website-us-east-1.amazonaws.com/probuilds/img/bg/skill_number.jpg) 0 0 no-repeat; }
.guide-skills .number span { display:block; width:100%; height:100%; }
.guide-skills .active span { background:url(http://solomid-resources.s3-website-us-east-1.amazonaws.com/probuilds/img/bg/skill_indicator.png) 50% 50% no-repeat; }
.guide-skills .name { background:url(http://solomid-resources.s3-website-us-east-1.amazonaws.com/probuilds/img/bg/skill_name.jpg) 0 100% no-repeat; }
.guide-skills .alt .number { background-image:url(http://solomid-resources.s3-website-us-east-1.amazonaws.com/probuilds/img/bg/skill_name_alt.jpg); }
.guide-skills .alt .name { background-image:url(http://solomid-resources.s3-website-us-east-1.amazonaws.com/probuilds/img/bg/skill_name_alt.jpg); }
.guide-skills .hotkey { width:40px; display:inline-block; }

.guide-masteries table { width: inherit; }
.guide-masteries td { background-position: 50% 5px; background-repeat: no-repeat; font-size: 11px; padding: 0; vertical-align: top; width:290px; }
.guide-masteries td#offense { background-image: url(http://solomid-resources.s3-website-us-east-1.amazonaws.com/probuilds/img/bg/masteries_offensive.png); }
.guide-masteries td#defense { background-image: url(http://solomid-resources.s3-website-us-east-1.amazonaws.com/probuilds/img/bg/masteries_defensive.png); }
.guide-masteries td#utility { background-image: url(http://solomid-resources.s3-website-us-east-1.amazonaws.com/probuilds/img/bg/masteries_utility.png); }
.guide-masteries  td > div { height: 420px; width: 250px; padding:0 20px; margin:auto; -webkit-border-radius: 9px; -moz-border-radius: 9px; border-radius: 9px; border:5px solid #333; }
.guide-masteries .treetitle { font-size: 16px; height: 30px; line-height: 30px; color:#fff; }
.guide-masteries .box, .guide-masteries .box0, .guide-masteries .sb {float: left;margin: 10px 20px;text-align: center;}
.guide-masteries img { height: 40px; width: 40px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; border:1px solid #333; }
.guide-masteries .sb { height: 42px; width: 42px; }
.guide-masteries .box0 .disabled { left: 0; top: 0; z-index: 5; }
.guide-masteries .box0 span {}
.guide-masteries .box span { background: none repeat scroll 0 0 #000; bottom: -7px; color: #FFF; left: 13px; padding: 1px; z-index: 5; }
.guide-masteries .disabled { left: 0; top: 0; z-index: 5; }
.guide-masteries .box .disabled { display: none; }

.h2-addenum { font-size:15px; }

.search { margin-bottom:20px; width:600px; border:1px solid #2e2e2e; background:url(http://solomid-resources.s3-website-us-east-1.amazonaws.com/probuilds/img/bg/search.png) repeat-x; height:40px; }
.search div { }
.search .dropdown {  }
.search input[type=text] { color:#ffc400; height:40px; line-height:40px; padding-left:10px; width:530px;  background: transparent; }
.search input[type=submit] { padding:0; height:40px; width:56px; background:url(http://solomid-resources.s3-website-us-east-1.amazonaws.com/probuilds/img/button/magnify.png) no-repeat 50% 50% transparent; border:none; }

.feedback { width:300px; background:transparent; }
.feedback div { }
.feedback .dropdown {  }
.feedback input[type=text] { border:1px solid #2e2e2e;color:#ffc400; height:40px; line-height:40px; padding-left:10px; width:280px; background:url(http://solomid-resources.s3-website-us-east-1.amazonaws.com/probuilds/img/bg/search.png) center repeat-x; background-size: auto 100%; }
.feedback textarea { border:1px solid #2e2e2e;color:#ffc400; height:200px; line-height:40px; padding-left:10px; width:300px; background:url(http://solomid-resources.s3-website-us-east-1.amazonaws.com/probuilds/img/bg/search.png) center repeat-x; background-size: auto 100%;}
.feedback input[type=submit] { background: #ffd200;
    background: -moz-linear-gradient(top, #ffd200 0%, #ff7000 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffd200), color-stop(100%,#ff7000));
    background: -webkit-linear-gradient(top, #ffd200 0%,#ff7000 100%);
    background: -o-linear-gradient(top, #ffd200 0%,#ff7000 100%);
    background: -ms-linear-gradient(top, #ffd200 0%,#ff7000 100%);
    background: linear-gradient(to bottom, #ffd200 0%,#ff7000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd200', endColorstr='#ff7000',GradientType=0); color: #000000; border:none; line-height:30px; width: 300px; margin: 5px; font-weight: bold}

.pagination li { float:left; padding-right:1px; width:29px; height:30px; line-height:30px; background:url(http://solomid-resources.s3-website-us-east-1.amazonaws.com/probuilds/img/button/list.jpg) 0 0 no-repeat #000; text-align:center; font-size:15px; }
.pagination li.first { -webkit-border-top-left-radius: 4px; -webkit-border-bottom-left-radius: 4px; -moz-border-radius-topleft: 4px; -moz-border-radius-bottomleft: 4px; border-top-left-radius: 4px; border-bottom-left-radius: 4px; }
.pagination li.last { padding-right:0; -webkit-border-top-right-radius: 4px; -webkit-border-bottom-right-radius: 4px; -moz-border-radius-topright: 4px; moz-border-radius-bottomright: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; }
.pagination li.active { background-image:url(http://solomid-resources.s3-website-us-east-1.amazonaws.com/probuilds/img/button/list_active.jpg); }
.pagination li.active a { color:#000; }

.dropdown {
    background: #ffd200;
    background: -moz-linear-gradient(top, #ffd200 0%, #ff7000 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffd200), color-stop(100%,#ff7000));
    background: -webkit-linear-gradient(top, #ffd200 0%,#ff7000 100%);
    background: -o-linear-gradient(top, #ffd200 0%,#ff7000 100%);
    background: -ms-linear-gradient(top, #ffd200 0%,#ff7000 100%);
    background: linear-gradient(to bottom, #ffd200 0%,#ff7000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd200', endColorstr='#ff7000',GradientType=0);
    width:160px; font-size: 15px;
    border-radius: 4px;
}
[class*='dropdown-pros']{
    float: right;
}
/*[class*='dropdown-pros'] ul{
    width: 289px !important;
}
[class*='dropdown-pros'] ul li{
    width: 289px !important;
}
[class*='dropdown-pros'] ul li:hover{
    width: 295px !important;
}
.dropdown.dropdown-pros:nth-of-type(1){
    margin-right: 5px !important;
}*/
.dropdown { height:30px; line-height:30px; position:relative; text-indent:10px; }
.dropdown span.value { display:none;}
.dropdown dt a { background:url(http://solomid-resources.s3-website-us-east-1.amazonaws.com/probuilds/img/button/bright_arrow.png) no-repeat scroll right center; display:block; color:#000; text-decoration:none; outline:none; font-size:15px; }
.dropdown dt a span {cursor:pointer; display:block;}
.dropdown dd { position:relative; width: inherit;}
.dropdown dd ul { display:none; position:absolute; top:-2px; width:inherit; z-index:2;margin: 0; }
.dropdown dd ul li { background:#000; height:30px; line-height:30px; padding:0 3px; width:100%;margin: 0; }
.dropdown dd ul li:hover { background:url(http://solomid-resources.s3-website-us-east-1.amazonaws.com/probuilds/img/button/bright.png) 0 0 repeat-x; height: 30px; padding: 0; margin: 0;}
.dropdown dd ul li:hover a{color: #000;}
.dropdown dd ul li.last { -webkit-border-bottom-right-radius:4px; -webkit-border-bottom-left-radius:4px; -moz-border-radius-bottomright:4px; -moz-border-radius-bottomleft:4px; border-bottom-right-radius:4px; border-bottom-left-radius:4px; }
.dropdown dd ul li a { display:block; color:#888; text-decoration:none; outline:none; text-indent:10px; padding:0; }

.dropdown.expanded { background:#000; }
.dropdown.expanded:before {  }
.dropdown.expanded:after { }
.dropdown.expanded dt a { color:#cbcbcb; background-image:url(http://solomid-resources.s3-website-us-east-1.amazonaws.com/probuilds/img/button/dark_arrow.png); }

.bright-button { background:url(http://solomid-resources.s3-website-us-east-1.amazonaws.com/probuilds/img/button/bright.png) 0 0 repeat-x; height:30px; line-height:30px; position:relative; display:inline-block; }
.bright-button:before { content:url(http://solomid-resources.s3-website-us-east-1.amazonaws.com/probuilds/img/button/bright_l.png); position:absolute; top:0; left:-3px; }
.bright-button:after { content:url(http://solomid-resources.s3-website-us-east-1.amazonaws.com/probuilds/img/button/bright_r.png); position:absolute; top:0; right:-3px; }
.bright-button a { color:#000; padding:0 3px; }
.bright-button .right-arrow { right:0; top:0; }

.border-1 { border:1px solid #333; }
.border-5 { border:5px solid #333; }

.icon18x18 { width:18px; height:18px; }
.icon20x20 { width:20px; height:20px; }
.icon28x28 { width:28px; height:28px; }
.icon40x40 { width:40px; height:40px; }
.icon50x50 { width:50px; height:50px; }
.icon64x64 { width:64px; height:64px; }
.icon80x80 { width:80px; height:80px; }
.icon84x84 { width:84px; height:84px; }
.icon130x55 { width:130px; height:55px; }
.icon132x240 { width:132px; height:240px; }
.icon170x240 { width:170px; height:240px; }

.tooltip:hover div.icon84x84.border-5,.tooltip:hover img.icon84x84.border-5{background: url(http://solomid-resources.s3-website-us-east-1.amazonaws.com/probuilds/img/highlight_overlay.png); border: 0; padding:5px; }
.tooltip:hover img.icon130x55.border-5{background: url(http://solomid-resources.s3-website-us-east-1.amazonaws.com/probuilds/img/highlight_overlay_team.png); border: 0; padding: 5px; }

.item{margin-right: 2px;display: inline-block; position: relative;}
/* special cases */
.guide-game .item:after{top:5px;}
.item5:after{top:5px;left:5px;}
.item.v-middle:after{top: 2px;}

.interactive { margin-top:-55px; height:35px; line-height:35px; font-size:18px; }
.interactive .pagination { margin-top:5px; }
.interactive .search { margin-bottom:0px; width:230px;background:url(http://solomid-resources.s3-website-us-east-1.amazonaws.com/probuilds/img/bg/search_small.png) repeat-x; height:28px; margin-top:4px; }
.interactive .search  input[type=text] { height:28px; line-height:28px; width:180px; }
.interactive .search input[type=submit] { height:28px; width:36px; }
.interactive .dropdown { margin-left:10px; }

ul { overflow:hidden; }
div.loading { top:0; left:0; height:100%; width:100%; background:rgba(0,0,0,.7); z-index:99; }
div.loading img { top:50%; left:50%; margin-top:-24px; margin-left:-24px; border: none; }
div.loading p { top:50%; margin-top:-15px;height:30px; line-height:30px; color:#bc432f; width:100%; }

.footer { padding-bottom:50px; }
.footer h2 { font-size:18px; }
.footer ul { padding:0 20px; }
.footer .left { padding:0 20px; }
.footer .copyright { padding-right:40px; height:35px; line-height:35px; }

#game-feed li div, #build-list li div{ height: 30px;  overflow: hidden;}
#game-feed .pro-history{ margin: 0; }

/* Ads */
.welcome-bnr { width:300px; height:250px; background:#000; float:right; }
.banner-ad { min-height:90px; min-width:768px; text-align:center; z-index:1; }
.notice p, .notice a { background:#b60000; color:#fff; height:40px; line-height:40px; }
.trio-ads { height:250px; }
.trio-ads div { width:300px; height:250px; background:#000; }

/* Stylistic */
.pos-abs { position:absolute; }
.pos-rel { position:relative; }

.hidden { display:none; }
.inline { display:inline; }
.block { display:block; }
.inline-block { display:inline-block; }

.full { height:100%; width:100%; }

.bold { font-weight:bold; }
.normal { font-weight:normal; }

.left { float:left; }
.right { float:right; }
.clear-r { clear:right; }
.clear-l { clear:left; }
.clear { clear:both; }

.v-top { vertical-align:top; }
.v-middle { vertical-align:middle; }
.v-bottom { vertical-align:bottom; }

.text-left { text-align:left; }
.text-right { text-align:right; }
.text-center { text-align:center; }

.text-indent { text-indent:10px; }
.text-indent25 { text-indent:25px; }

.center { margin:auto; }

.m10 { margin:10px; }
.mb5 { margin-bottom:5px; }
.mb10 { margin-bottom:10px; }
.mb20{margin-bottom:20px;}
.ml10 { margin-left:10px; }
.mr5 { margin-right:5px; }
.mr10 { margin-right:10px; }
.mr20 {margin-right: 20px;}
.ms5 { margin:0 5px; }
.ms10 { margin:0 10px; }
.mt5 { margin-top:5px; }
.mt10 { margin-top:10px; }
.mz5 { margin:5px 0; }
.mz10 { margin:10px 0; }
.p5 { padding:5px; }
.p10 { padding:10px; }
.pb5 { padding-bottom:5px; }
.pb10 { padding-bottom:10px; }
.ps5 { padding:0 5px; }
.pl5 { padding-left:5px; }
.pl10 { padding-left:10px; }
.pr5 { padding-right:5px; }
.pr10 { padding-right:10px; }
.ps10 { padding:0 10px; }
.pt5 { padding-top:5px; }
.pt10 { padding-top:10px; }
.pz10 { padding:10px 0; }
.ps40 { padding:0 40px; }

.white { color:#cbcbcb; }
.green { color:#64e318; }
.gold { color:#ffc400; }
.black { color:#000; }
.red { color:#bc432f; }
.blue { color:#55b7cf; }
.purple { color: #eb6ef0; }

.round-corners { -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }

/**
Begin Qtip
**/
/*!
 * qTip2 - Pretty powerful tooltips - v2.0.1-27-
 * http://qtip2.com
 *
 * Copyright (c) 2013 Craig Michael Thompson
 * Released under the MIT, GPL licenses
 * http://jquery.org/license
 *
 * Date: Tue Feb 26 2013 11:17 GMT+0000
 * Plugins: svg ajax tips modal viewport imagemap ie6
 * Styles: basic css3
 */

/* Core qTip styles */
.qtip, .qtip{
    position: absolute;
    left: -28000px;
    top: -28000px;
    display: none;

    max-width: 490px;
    min-width: 50px;

    font-size: 10.5px;
    line-height: 12px;

    direction: ltr;
}

.qtip-content{
    position: relative;
    padding: 5px 9px;
    overflow: hidden;

    text-align: left;
    word-wrap: break-word;

    font-size: 15px;
    line-height: 15px;
}
.tip-title{
    margin-bottom: 10px;
}

.qtip-titlebar + .qtip-content{ border-top-width: 0 !important; }

/* Applied to 'focused' tooltips e.g. most recently displayed/interacted with */
.qtip-focus{}

/* Applied on hover of tooltips i.e. added/removed on mouseenter/mouseleave respectively */
.qtip-hover{}

/* Default tooltip style */
.qtip-default{
  background-image:url(http://solomid-resources.s3-website-us-east-1.amazonaws.com/probuilds/img/bg/page.png); background-color:#161616; color:#cbcbcb; border:2px solid #333;
  -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;
}


/* IE9 fix - removes all filters */
.qtip:not(.ie9haxors) div.qtip-content,
.qtip:not(.ie9haxors) div.qtip-titlebar{
    filter: none;
    -ms-filter: none;
}


/* Tips plugin */
.qtip .qtip-tip{
    margin: 0 auto;
    overflow: hidden;
    z-index: 10;

}

/* Opera bug #357 - Incorrect tip position
https://github.com/Craga89/qTip2/issues/367 */
x:-o-prefocus, .qtip .qtip-tip{
    visibility: hidden;
}

.qtip .qtip-tip,
.qtip .qtip-tip .qtip-vml,
.qtip .qtip-tip canvas{
    position: absolute;

    color: #123456;
    background: transparent;
    border: 0 dashed transparent;
}

.qtip .qtip-tip canvas{ top: 0; left: 0; }

.qtip .qtip-tip .qtip-vml{
    behavior: url(#default#VML);
    display: inline-block;
    visibility: visible;
}
/* Modal plugin */
#qtip-overlay{
    position: fixed;
    left: -10000em;
    top: -10000em;
}

/* Applied to modals with show.modal.blur set to true */
#qtip-overlay.blurs{ cursor: pointer; }

/* Change opacity of overlay here */
#qtip-overlay div{
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;

    background-color: black;

    opacity: 0.7;
    filter:alpha(opacity=70);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
}


/* IE6 Modal plugin fix */
.qtipmodal-ie6fix{
    position: absolute !important;
}


/*!
 * typeahead.js 0.8.1
 * https://github.com/twitter/typeahead
 * Copyright 2013 Twitter, Inc. and other contributors; Licensed MIT
 */

.twitter-typeahead {
    position: relative !important;
    display: inline-block;
    height: 41px;
    *display: inline;
    *zoom: 1;
}
.tt-query {
    position: relative !important;
    /* for unknown reasons, this fixes alignment issues in ie7 */

    *margin-top: -1px !important;
    outline: none;
    vertical-align: top !important;
    background-color: transparent !important;
    /* ie6-8 doesn't fire hover and click events for transparent elements
       for a workaround, use a 1x1 transparent gif */

    background-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7) !important;
}
.tt-hint {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    border-color: transparent !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}
.tt-dropdown-menu{
    padding: 0;
    margin: 0;
    list-style: none;
    background: #000;
    padding: 5px 5px 4px 5px;
}
.tt-dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 100;
    /* TODO: need default z-index, should be configurable */

    display: none;
}
.tt-dropdown-menu.tt-is-open {
    display: block;
}
.tt-dropdown-menu.tt-is-empty {
    display: none;
}
.tt-suggestion{
    display: block;
    white-space: nowrap;
    cursor: pointer;
    background: #0c0c0c;
    background: -moz-linear-gradient(top, #0c0c0c 0%, #151515 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0c0c0c), color-stop(100%,#151515));
    background: -webkit-linear-gradient(top, #0c0c0c 0%,#151515 100%);
    background: -o-linear-gradient(top, #0c0c0c 0%,#151515 100%);
    background: -ms-linear-gradient(top, #0c0c0c 0%,#151515 100%);
    background: linear-gradient(to bottom, #0c0c0c 0%,#151515 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c0c0c', endColorstr='#151515',GradientType=0);
    margin-bottom: 1px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 0 5px;
    width: 580px;
    height: 38px;
    float: left;
}
.tt-suggestion .name, .tt-suggestion .region, .tt-suggestion .league{float: left;
line-height: 38px;
text-transform: none;
font-size: 20px;
color: #ffc400;
margin-left: 10px;}
.tt-suggestion .name{
    width: 205px;
}
.tt-suggestion .region{
    width: 175px;
}
.tt-suggestion img{width:30px;float:left;margin:4px 0;}
.tt-suggestion * {
    white-space: normal;
}
/* rtl support */
/* ----------- */
.twitter-typeahead.tt-rtl {
    direction: rtl;
}
.twitter-typeahead.tt-rtl .tt-dropdown-menu {
    left: auto;
    right: 0;
}

/** template stuff **/
#template_scroller {
    position: relative;
}

#template_container {
    margin: 0px auto;
    position: relative;
    padding-bottom: -30px;
    z-index: 2;
}
#template_container.template-container {
    width: 1000px;
    background-color: #161616;
    background-image: url("http://solomid-resources.s3-website-us-east-1.amazonaws.com/probuilds/img/bg/page.png");

}
#template_skin_splashlink {
    position: absolute;
    top:0;
    left:0;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
}

#template_skin_leaderboard {
    width:100%;
    text-align:center;
    z-index:1;
    position:relative;
}
#template_skin_leaderboard img {
    display: block;
}
#template_skin_leaderboard img,
#template_skin_leaderboard object,
#template_skin_leaderboard embed{
    margin:0 auto;
}

#container .first-child
{
    border-top: 0;
    padding-top: 20px;
}

/* ---------------- */
/* NEW CSS HOMEPAGE */
/* ---------------- */
.search-text{
    width: 610px;
    font-size: 18px;
}
.pro-history{
    float: left;
    margin: 0 0 10px 0;
}
.pro-history img, .champ div{
    width: 30px;
    height: 30px;
    border: 1px solid #474747;
    border-radius: 2px;
}
.champ div{
    margin-right: 4px;
}
.pro-history .block, .pro-history .header{
    background: #141414;
    background: -moz-linear-gradient(top, #141414 0%, #1e1e1e 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#141414), color-stop(100%,#1e1e1e));
    background: -webkit-linear-gradient(top, #141414 0%,#1e1e1e 100%);
    background: -o-linear-gradient(top, #141414 0%,#1e1e1e 100%);
    background: -ms-linear-gradient(top, #141414 0%,#1e1e1e 100%);
    background: linear-gradient(to bottom, #141414 0%,#1e1e1e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#141414', endColorstr='#1e1e1e',GradientType=0);
    height: 40px;
}
.pro-history .block.alt{
    background: #1c1c1c;
    background: -moz-linear-gradient(top, #1c1c1c 0%, #252525 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1c1c1c), color-stop(100%,#252525));
    background: -webkit-linear-gradient(top, #1c1c1c 0%,#252525 100%);
    background: -o-linear-gradient(top, #1c1c1c 0%,#252525 100%);
    background: -ms-linear-gradient(top, #1c1c1c 0%,#252525 100%);
    background: linear-gradient(to bottom, #1c1c1c 0%,#252525 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c1c1c', endColorstr='#252525',GradientType=0);
    height: 40px;
}
.pro-history .block .rowl, .rowl{
    background: url(/resources/img/bg/player_feed_left.png);
    float: left;
    height: 40px;
    width: 40px;
}
.pro-history .block.alt .rowl{
    background: url(/resources/img/bg/player_feed_alt_left.png);
    float: left;
    height: 40px;
    width: 40px;
}
.pro-history .block .rowr, .rowr{
    background: url(/resources/img/bg/player_feed_right.png);
    float: left;
    height: 40px;
    width: 40px;
}
.pro-history .block.alt .rowr{
    background: url(/resources/img/bg/player_feed_alt_right.png);
    float: left;
    height: 40px;
    width: 40px;
}
.pro-history .header{
    color: #FFF;
    width: 920px;
}
.pro-history div{
    float: left;
}
.pro-history .header .time{
    width: 199px;
    margin: 9px 20px 0 0;
    visibility: hidden;
}
.pro-history .time{
    width: 100px;
    margin: 9px 20px 0 10px;
}
.pro-history .champ{
    width: 70px;
    margin: 5px 20px 0 0;
}
.pro-history .player{
    width: 102px;
    margin: 9px 20px 0 0;
}
.pro-history .status{
    width: 35px;
    margin: 9px 34px 0 0;
    white-space: nowrap;
}
.pro-history .kda{
    width: 70px;
    margin: 9px 20px 0 0;
}
.pro-history ._gold{
    width: 50px;
    margin: 9px 22px 0 0;
}
.pro-history .items{
    width: 255px;
    margin: 5px 19px 0 0;
}
.pro-history .items img{
    margin: 0 0 0 4px;
}
.pro-history .summoners{
    width: 72px;
    margin: 5px 0 0 0;
}
.pro-history .summoners img{
    margin: 0 0 0 4px;
}
/*#highest-ratio{
    float: left;
    position: relative;
}*/

.highest-ratio ul { margin-top:-9px; padding:0 1px;}
/*.highest-ratio ul li { float:left; margin-right:9px; margin-top:9px;width: 94px;height:145px; }
.highest-ratio ul li.last { margin-right:0; }*/

.highest-ratio .champ-img{
    width: 84px;
    height: 84px;
}
.highest-ratio .box{
    float: left;
    height: 130px;
    cursor: pointer;
}
.highest-ratio .box.mr5{
    margin-right: 19px;
}
.highest-ratio .box .upper{
    background: #202020;
    border: 1px solid #2E2E2E;
    border-radius: 2px;
    padding: 5px 0 5px 5px;
    float: left;
    width: 157px;
}
.highest-ratio .chart{
    float: left;
    height: 84px;
    position: relative;
}
.highest-ratio .chart div{
    position: absolute;
    bottom: 0;
    width: 20px;
}
.highest-ratio .chart .win{
    background: #89AF3D;
    border-radius: 2px 2px 0 0;
    left: 12px;
    border-bottom: 1px solid #5C5C5C;
}
.highest-ratio .chart .loss{
    background: #E84640;
    border-radius: 2px 2px 0 0;
    left: 42px;
    border-bottom: 1px solid #5C5C5C;
}
.highest-ratio .chart .bb{
    left: 32px;
    border-bottom: 1px solid #5C5C5C;
    width: 10px;
}
.highest-ratio .champ{
    float: left;
    width: 84px;
    height: 84px;
    background-size: 84px !important;
}
.highest-ratio .upper, .highest-ratio .lower{
    float: left;
    width: 160px;
}
.highest-ratio .lower{
    clear: both;
    font-size: 13px;
}
.highest-ratio .lower .champ{
    width: 95px;
    text-align: center;
}
.highest-ratio .lower .win, .highest-ratio .lower .loss{
    width: 27px;
    float: left;
    text-align: center;
}
.wrap .filters{
    background: rgb(72,72,72);
    background: -moz-linear-gradient(left, rgba(72,72,72,1) 0%, rgba(48,48,48,1) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(72,72,72,1)), color-stop(100%,rgba(48,48,48,1)));
    background: -webkit-linear-gradient(left, rgba(72,72,72,1) 0%,rgba(48,48,48,1) 100%);
    background: -o-linear-gradient(left, rgba(72,72,72,1) 0%,rgba(48,48,48,1) 100%);
    background: -ms-linear-gradient(left, rgba(72,72,72,1) 0%,rgba(48,48,48,1) 100%);
    background: linear-gradient(to right, rgba(72,72,72,1) 0%,rgba(48,48,48,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#484848', endColorstr='#303030',GradientType=1 );
    border-top: 1px solid #5D5D5D;
    border-radius: 3px;
    width: 150px;
    height: 30px;
    color:#ffc400;
    box-shadow: 0px 0px 1px #202020;
    position: relative;
    z-index: 1000;
    cursor: pointer;
    overflow: hidden;
}
.wrap .filters div{
    margin: 5px 0 10px 10px;
    font-weight: bold;
    text-shadow: 0px 0px 3px #202020;
    font-size: 14px;
}
.wrap .filters{
    position: absolute;
    right: 40px;
}
.wrap .build-list .arrow{
    position: absolute;
    right: 50px;
    z-index: 1200;
    margin-top: 14px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #949494;
}
.champion-table .bigData{
    float: left;
}
.champion-table .champion, .champion-table .win_per, .champion-table .wins{
    width: 303px !important;
}
.champion-table{
    width: 910px;
    margin-left: 40px;
}
.champion-table .header .champion{
    border-radius: 4px 0 0 4px;
}
.champion-table .header .wins{
    border-radius: 0 4px 4px 0;
}
.pro-table, .champion-table{
    color: #FFF;
    background: #1A1A1A;
    padding: 5px 5px 0 5px;
    float: left;
    border-radius: 4px;
}
.pro-table .header, .champion-table .header{
    cursor: pointer;
}
.pro-table .header .upper, .pro-table .header .downer, .champion-table .header .upper, .champion-table .header .downer{
    background: #ffd200;
    background: -moz-linear-gradient(top, #ffd200 0%, #ff7000 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffd200), color-stop(100%,#ff7000));
    background: -webkit-linear-gradient(top, #ffd200 0%,#ff7000 100%);
    background: -o-linear-gradient(top, #ffd200 0%,#ff7000 100%);
    background: -ms-linear-gradient(top, #ffd200 0%,#ff7000 100%);
    background: linear-gradient(to bottom, #ffd200 0%,#ff7000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd200', endColorstr='#ff7000',GradientType=0);
}
.pro-table .header .upper .text, .pro-table .header .downer .text, .champion-table .header .upper .text, .champion-table .header .downer .text{
    margin-left: 17px;
}
.pro-table .header .arrows, .champion-table .header .arrows{
    float: right;
    width: 0;
    height: 0;
    margin: 8px 7px 7px 0;
    display: none;
}
.pro-table .header .upper .arrows, .champion-table .header .upper .arrows{
    display: block;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #000;
}
.pro-table .header .downer .arrows, .champion-table .header .downer .arrows{
    display: block;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #000;
}
.pro-table .data, .pro-table .data div, .champion-table .data, .champion-table .data div{
    float: left;
    text-align: center;
}
.pro-table .header div, .champion-table .header div{
    float: left;
    background: #8b8a8a;
    background: -moz-linear-gradient(top, #8b8a8a 0%, #535453 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8b8a8a), color-stop(100%,#535453));
    background: -webkit-linear-gradient(top, #8b8a8a 0%,#535453 100%);
    background: -o-linear-gradient(top, #8b8a8a 0%,#535453 100%);
    background: -ms-linear-gradient(top, #8b8a8a 0%,#535453 100%);
    background: linear-gradient(to bottom, #8b8a8a 0%,#535453 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8b8a8a', endColorstr='#535453',GradientType=0 );
    width: 130px;
    padding: 5px 0;
    margin-bottom: 5px;
    text-align: center;
    color: #090909;
}
.pro-table .header .player{
    text-indent: 10px;
    text-align: left;
    border-radius: 4px 0 0 4px;
}
.pro-table .header .server{
    border-radius: 0 4px 4px 0;
}
.pro-table .data, .champion-table .data{
    margin-bottom: 5px;
}
.pro-table .data .player{
    text-align: left;
    text-indent: 10px;
    border-radius: 4px 0 0 4px;
}
.pro-table .data .server{
    border-radius: 0 4px 4px 0;
}
.pro-table .data .light, .champion-table .data .light{
    background: #282828;
    width: 130px;
    padding: 10px 0;
}
.pro-table .data .dark, .champion-table .data .dark{
    background: #242424;
    width: 130px;
    padding: 10px 0;
}
.final-builds{
    margin-bottom: 20px;
    float: left;
}
.final-builds .header, .final-builds .header div{
    float: left;
}
.final-builds .bigData{
    clear: both;
    padding: 5px 3px 0 5px;
    border-radius: 4px;
    background: #1A1A1A;
    margin-bottom: 2px;
}
.final-builds .bigData{
    width: 920px;
    float: left;
    background: #1E1E1E;
}
.final-builds .bigData div{
    float: left;
}
.final-builds .bigData .champ-img{
    width: 36px;
    height: 35px;
    border: 2px solid #313131;
    border-radius: 4px;
}
.final-builds .bigData .items{
    float: left;
}
.final-builds .bigData .items img{
    width: 35px;
    height: 35px;
    border-radius: 4px;
    border: 2px solid #313131;
    margin-right: 2px;
}
.final-builds .bigData .kda, .final-builds .bigData ._gold, .final-builds .bigData .rank, .final-builds .bigData .champ, .final-builds .bigData .item{
    height: 35px;
    border-radius: 4px;
    border: 2px solid #313131;
    background: #121212;
}
.final-builds .bigData .champ{
    width: 35px;
}
.final-builds .bigData .champ img, .final-builds .bigData .item img{
    width: 35px;
}
.final-builds .bigData .kda{
    width: 145px;
    text-align: center;
    line-height: 35px;
}
.final-builds .bigData .rank{
    width: 35px;
    text-align: center;
    line-height: 35px;
    margin-right: 5px;
}
.final-builds .bigData ._gold{
    width: 97px;
    text-align: center;
    line-height: 35px;
    margin: 0 20px;
}
.final-builds .bigData .player{
    width: 185px;
    padding: 0 10px;
    line-height: 35px;
}
.final-builds .header .final{
    width: 295px;
}
.final-builds .bigData .summoners{
    margin: 0 0 0 10px;
}
.final-builds .bigData .summoners .slot div{
    width: 35px;
    height: 35px;
    border: 2px solid #313131;
    border-radius: 3px;
    margin: 0 2px 0 0;
}
.final-builds .header{
    color: #FFF;
}
.final-builds .header .rank{
    width: 88px;
    margin-left: 10px;
}
.final-builds .header .player{
    width: 255px;
    margin-left: 55px;
}
.final-builds .header .kda{
    width: 125px;
}
.final-builds .header ._gold{
    width: 110px;
}
.final-builds.build-order .player{
    width: 100px;
}
.final-builds.build-order .bigData .build-list{
    width: 760px;
    margin-bottom: -10px;
}
.final-builds.build-order .bigData .build-list div{
    margin-bottom: 10px;
}
.final-builds.build-order a:nth-child(2n+1) .bigData{
    background: #1A1A1A;
    border-top: 1px solid #262626;
    margin: 4px 0 6px 0;
}
.final-builds.build-order a:nth-child(2n) .bigData{
    background: #202020;
    border-top: 1px solid #333;
}
.final-builds.popular-items .bigData{
    width: 445px;
    padding: 5px;
}
.final-builds.popular-items .bigData .item-name{
    line-height: 35px;
    margin-left: 10px;
    max-width: 285px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.final-builds.popular-items .bigData .popularity{
    border: 2px solid #313131;
    float: right;
    background: #121212;
    border-radius: 4px;
    line-height: 35px;
    width: 55px;
    text-align: center;
}
.final-builds.popular-items .header{
    width: 100%;
}
.final-builds.popular-items .header .subh{
    width: 455px;
}
.final-builds.popular-items .header .subh:last-child{
    float: right;
}
.final-builds.popular-items .header .item{
    /*width: 292px;*/
}
.final-builds.popular-items .header .popularity{
    /*width: 74px;*/
    float: right;
    padding: 0 5px 0 0;
}
.final-builds.best-players .box{
    width: 55px;
    height: 35px;
    border-radius: 4px;
    border: 2px solid #313131;
    margin-right: 5px;
    background: #131313;
    line-height: 35px;
    text-align: center;
}
.final-builds.best-players .header .player{
    width: 363px;
}
.final-builds.best-players .header .win_per{
    width: 66px;
}
.final-builds.best-players .header .wins{
    width: 56px;
}
.final-builds.best-players .header .loss{
    width: 60px;
}
.final-builds.best-players .player{
    width: 340px;
}
.team-results .block{
  background: -moz-linear-gradient(-45deg, rgba(38,38,38,1) 0%, rgba(17,17,17,0) 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(38,38,38,1)), color-stop(100%,rgba(17,17,17,0)));
  background: -webkit-linear-gradient(-45deg, rgba(38,38,38,1) 0%,rgba(17,17,17,0) 100%);
  background: -o-linear-gradient(-45deg, rgba(38,38,38,1) 0%,rgba(17,17,17,0) 100%);
  background: -ms-linear-gradient(-45deg, rgba(38,38,38,1) 0%,rgba(17,17,17,0) 100%);
  background: linear-gradient(135deg, rgba(38,38,38,1) 0%,rgba(17,17,17,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#262626', endColorstr='#00111111',GradientType=1);
  border-radius: 4px;
    width: 450px;
    float: left
}
.team-results .block .count{
    padding: 5px;
    background: #1A1A1A;
    width: 16px;
    border-radius: 4px;
    color: #FFF;
    text-align: center;
}
.team-results .block{
  margin-right: 10px;
}
.team-results .left p{
  color: #FFF;
  font-size: 18px;
  margin-bottom: 5px;
}
.team-results .block .section{
    margin: 10px;
    width: 130px;
}
.team-results .block .logo{
    width: 130px;
    margin: auto;
    text-align: center;
    height: 94px;
}
.team-results .block .logo img{
    width: 90px;
    height: 90px;
}
.team-results .block .score{
    background: #1A1A1A;
    border: 1px solid #2A2A2B;
    border-radius: 4px;
    padding: 5px;
    text-align: center;
    color: #FFF;
    font-size: 15px;
}
.team-results .block .score .team{
  max-width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.pro-per-box{
    background: #333;
    border-radius: 4px;
    color: #FFF;
    display: block;
    margin: 5px 0 3px 0;
    font-size: 14px;
}
.pro-history .summoners .slot div{
    width: 30px;
    height: 30px;
    border: 1px solid #474747;
    border-radius: 2px;
}
.pro-history .summoners .slot div:nth-child(1){
    margin-right: 4px;
}
.final-builds.build-order .header .player{
    margin-left: 53px;
    width: 115px;
}
.champion-welcome .champ-img{
    width: 80px;
    height: 80px;
    margin: 5px 0 0 0;
}
.champion-welcome .stats{
    border: 3px solid #353536;
    border-radius: 4px;
    float: left;
    clear: left;
    background: rgb(8,8,8);
    background: -moz-linear-gradient(top, rgba(8,8,8,1) 0%, rgba(31,31,31,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(8,8,8,1)), color-stop(100%,rgba(31,31,31,1)));
    background: -webkit-linear-gradient(top, rgba(8,8,8,1) 0%,rgba(31,31,31,1) 100%);
    background: -o-linear-gradient(top, rgba(8,8,8,1) 0%,rgba(31,31,31,1) 100%);
    background: -ms-linear-gradient(top, rgba(8,8,8,1) 0%,rgba(31,31,31,1) 100%);
    background: linear-gradient(to bottom, rgba(8,8,8,1) 0%,rgba(31,31,31,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#080808', endColorstr='#1f1f1f',GradientType=0);
}
.champion-welcome .stats div{
    float: left;
    padding: 12px 0;
    text-align: center;
    width: 80px;
}
.champion-welcome .stats-header{
    margin: 0 0 0 3px;
}
.champion-welcome .stats-header div{
    float: left;
    color: #FFF;
    font-size: 12px;
    padding: 1px 0;
    width: 80px;
    text-align: center;
}
.buildorder-count{
    position: absolute;
    top: 14px;
    right: 8px;
    color: #FFF;
    background: rgba(0,0,0,.5);
    font-size: 14px;
    padding: 0 3px;
    border-radius: 2px 0 0 0;
}

.depend1{
    background: #ffe400;
    width: 5px;
    height: 25px;
    left: 18px;
    float: left;
    top: -23px;
    z-index: 0;
    cursor: default;
    position: absolute;
}
.champ-img img {
    width: 100%;
    height: 100%;
}

.tier1, .tier6 {
    margin-left: 30px;
}

.tier2 {
    margin-left: 60px;
}

.guide-masteries td#ferocity { background-image: url(http://solomid-resources.s3-website-us-east-1.amazonaws.com/probuilds/img/bg/masteries_ferocity.jpg); }
.guide-masteries td#resolve { background-image: url(http://solomid-resources.s3-website-us-east-1.amazonaws.com/probuilds/img/bg/masteries_resolve.jpg); }
.guide-masteries td#cunning { background-image: url(http://solomid-resources.s3-website-us-east-1.amazonaws.com/probuilds/img/bg/masteries_cunning.jpg); }

.staleness-banner {
    text-align: center;
    font-size: 20px;
    padding: 10px;
}
