﻿/* Tipografia */

@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Alfa+Slab+One);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);

/*
@font-face {
    font-family: 'martelheavy';
    src: url('webfonts/martel-heavy/martel_heavy-webfont.eot');
    src: url('webfonts/martel-heavy/martel_heavy-webfont.eot?#iefix') format('embedded-opentype'),
    url('webfonts/martel-heavy/martel_heavy-webfont.woff2') format('woff2'),
    url('webfonts/martel-heavy/martel_heavy-webfont.woff') format('woff'),
    url('webfonts/martel-heavy/martel_heavy-webfont.ttf') format('truetype'),
    url('webfonts/martel-heavy/martel_heavy-webfont.svg#martelheavy') format('svg');
    font-weight: normal;
    font-style: normal;
}
*/

/* Cabecera especiales */

.especial_wrapper {
	height:80px;
	max-width:980px;
	border-top:1px dotted #292929;
	border-bottom:1px dotted #292929;
	margin-top:10px;
}
.especial_kicker {
	font-family:'Raleway', sans-serif;
	font-size:14px;
	font-weight:700;
	text-transform:uppercase;
	text-align:center;
	color:#fff;
	height:18px;
	width:90px;
	padding-top:3px;
	border-radius:6px;
	border:2px solid #fff;
	background-color:#cc3333;
	margin-top:-12px;
}

/*Cintillos con publi adaptables */

.pcintell_wrap {
	height: 26px;
	width: 100%;
	margin-top: 10px;
	border-bottom-width: 4px;
	border-bottom-style: solid;
}

.pccintell_wrap a {
	text-decoration: none;
}

.pcintell_text {
	font-family: 'Oswald', sans-serif;
	font-size: 14px;
	font-weight: 100;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
	float: left;
	max-width: 185px;
	height: 26px;
	padding-top: 4px;
	padding-left: 10px;
	padding-right: 10px;
}

.pcintell_publi {
	float: right;
	height: 26px;
	padding-top: 7px;
}

/* Banners */

.banner_back {
	height: 90px;
	width: 100%;
	border-top: 2px solid #e31d3d;
	border-bottom: 2px solid #e31d3d;
	background-repeat: no-repeat;
	background-position: 100% 100%;
}
.banner_title a {
	font-family: 'Oswald', sans-serif;
	font-size: 19px;
	line-height: 21px;
	color: #e31d3d;
	float: left;
	padding: 10px 0 0 8px;
	background-repeat: no-repeat;
	width: 100%;
	text-decoration: none;
}
.banner_redes {
	float: left;
	padding: 5px 0 0 8px;
	background-image:url("http://www.elperiodico.com/es/ext_resources/ep2015/especiales/elec_redes.png");
	width: 85px;
	height: 27px;
	background-repeat: no-repeat;
	background-position: 100% 100%;
}
.copa_banner {
	height: 90px;
	width: 100%;
	max-width: 980px;
	background-repeat: no-repeat;
	background-position: 100% 100%;
}
.copa_texto a {
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	line-height: 22px;
	font-weight: 300;
	color: #ffffff;
	float: left;
	padding: 8px 0 0 8px;
	width: 100%;
	clear: both;
	text-decoration: none;
}
.copa_subtitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 14px;
	font-weight: 300;
	color: #FFFFFF;
	float: left;
	margin: 6px 0 0 8px;
	padding-top: 6px;
	border-top: 1px dotted #FFFFFF;
}

/* Cabeceras */

.cap_back {
	width: 980px;
	height: 90px;
}
.cap_title a {
	font-family: "Raleway", sans-serif;
	font-weight: 200;
	font-size: 60px;
	line-height:62px;
	height: 90px;
	color: #ffffff;
	padding-left: 12px;
	letter-spacing: -2px;
	float: left;
	margin-top: 12px;
	text-decoration: none;
}
.cap_subtitle {
	font-family: "Raleway", sans-serif;
	font-size: 18px;
	line-height: 20px;
	font-weight: 300;
	height: 40px;
	color: #FFFFFF;
	float: left;
	margin-left: 15px;
	margin-top: 28px;
	padding-left: 10px;
	border-left: 1px dotted #FFFFFF;
}

/* Candidats FCB */

.Candidats_wrapper {
	height: 340px;
	width: 660px;
}

.Candidats_imatge {
	float: left;
	height: 240px;
	margin-right: 2px;
}
.Candidats_imatge img {
    border: none;
}
.Candidats_nom {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 15px;
	color: #FFFFFF;
	background-color: #a40044;
	letter-spacing: 0px;
	text-align: center;
	float: left;
	height: 60px;
	width: 163px;
	margin-right: 2px;
	padding-top: 10px;
}
.Candidats_slogan {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 14px;
	color: #FFFFFF;
	text-align: center;
	float: right;
	width: 128px;
	padding-top: 6px;
	margin: 8px 17px 0px 18px;
	border-top: 1px dotted #FFFFFF;
}
.Candidats_h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 19px;
	font-weight: bolder;
	color: #FFFFFF;
	background-color: #a40044;
	line-height: 18px;
	height: 26px;
	padding-left: 10px;
	padding-top: 10px;
}

/*Live chats */

.chat_wrapper {
	background-color: #DDDDDD;
	height: 250px;
	width: 660px;
	border-top-color: #CC3333;	
}
.chat_foto {
	float: left;
	height: 250px;
	width: 350px;
}
.chat_filete {
	background-color: #cc3333;
	height: 6px;
}
.chat_ficha {
	float: left;
	width: 280px;
	margin-top: 10px;
	margin-right: 15px;
	margin-bottom: 10px;
	margin-left: 15px;
	color: #333333;
	font-family: raleway;
	font-style: normal;
	font-weight: 300;
	font-size: 24px;
	line-height: 28px;
}

.chat_cargo {
	font-family: raleway;
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	color: #333333;
	margin-top: 2px;
	border-bottom: 1px dotted #333333;
	padding-bottom: 10px;
}

.chat_lista {
	font-family: raleway;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	color: #333333;
}
.chat_texto {
	font-family: raleway;
	font-size: 12px;
	line-height: 14px;
	font-weight: 600;
	border-top: 1px dotted #333333;
	padding-top: 10px;
}

/* Vuelos */

.vuelos_container {
	width: 660px;
}
.vuelos_entradilla {
    font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #333333;
	padding-bottom: 18px;
	border-bottom: 1px #333333 dotted
}
.vuelos_col {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 23px;
	line-height: 23px;
	font-weight: bold;
	color: #cc3333;
	width: 320px;
	margin-top: 20px;
}
.vuelos_links {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 14px;
	line-height: 23px;
	color: #333333;
	padding-left: 20px;
	border-bottom: 1px dotted #333333;
	background: url(http://www.elperiodico.com/es/ext_resources/ep2015/cabeceras/vuelos-ico.png) no-repeat scroll 0 5px;
}
.vuelos_links a {
	text-decoration: none;
	color: #333333;
}

/* Entre Todos */

.et_wrapper {
	width: 100%;
	max-width: 980px;
	min-height: 100px;
	margin-top: 10px;
	border-bottom: 2px solid #cc3333;
	clear: both;
}
.et_bloque {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	line-height: 22px;
	font-weight: bold;
	color: #333333;
	float: left;
	width: 32%;
	border-right: 1px dotted #999999;
}
.et_bloque a {
	text-decoration: none;
	color: #333333;
}
.et_texto {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 20px;
	font-weight: normal;
	color: #333333;
	float: left;
	padding: 10px 10px 0 77px;
	background-repeat:no-repeat;
	background-position: 0 10px;
}
.et_footer {
	background-image: url(http://www.elperiodico.com/es/ext_resources/ep2015/cintillos/et_pirindolo.png);
	background-repeat: no-repeat;
	background-position: 20px 0;
	max-width: 980px;
	clear: both;
	float: left;
	width: 100%;
	margin-bottom: 10px;
}
.etm_wrapper {
	width: 300px;
	padding-top: 10px;
	padding-bottom: 5px;
	border-top: 1px solid #cc3333;
	border-bottom: 2px solid #cc3333;
}
.etm_texto {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 16px;
	font-weight: normal;
	color: #333333;
	padding-left: 40px;
	padding-bottom: 10px;
	background-size: 32px;
	background-repeat: no-repeat;
	background-position: 0 5px;
}
.etm_texto a {
	text-decoration: none;
	color: #333333;
}
.etm_texto span {
	font-size: 15px;
	line-height: 25px;
	font-weight: bold;
}


/* Marcadores */

.Marcador_wrap {
	height: 125px;
	width: 660px;
	border-top: 3px solid #cccccc;
	margin-bottom: 20px;
}
.Marcador {
	float: left;
	height: 90px;
	width: 100%;
	border-bottom: 1px solid #cccccc;
}
.Escudo {
	float: left;
	height: 85px;
	width: 73px;
	padding-top: 8px;
}
.Nombre_equipo {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	width: 182px;
	height: 100%;
	font-size: 22px;
	line-height: 24px;
	font-weight: bold;
	color: #333333;
	text-align: right;
	padding-top: 32px;
}
.Goles {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 55px;
	font-weight: bold;
	line-height: 55px;
	color: #ffffff;
	background-color: #cc3333;
	height: 62px;
	width: 60px;
	margin-top: 10px;
	margin-left: 10px;
	text-align: center;
	padding-top: 8px;
	border-radius: 8px;
}
.Competicion {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 17px;
	color: #333333;
	float: left;
	margin: 0 290px 0 290px;
	background-repeat: no-repeat;
	margin-top: 5px;
	padding-left: 24px;
}

/* Andorra 20D General */

/*html {
	font-size: 16px;
}*/

.andorra_wrap {
	background-color: #dddddd;
	max-width: 660px;
	max-height: 300px;
	
}
.andorra_wrap a {
	text-decoration: none;
}
.andorra_wrap .date {
	font-family: "Alfa Slab One", sans-serif;
	font-size: 2.3em;
	color: #333333;
	padding: 1.5% 0 0.5% 1.5%;
	float: left;
}
.andorra_wrap .date span {
	color: #cc3333;
}
.andorra_wrap .title {
	font-family: "Raleway", sans-serif;
	font-size: 2.4em;
	font-weight: 200;
	color: #333333;
	padding: 1.5% 0 0.5% 1.5%;
	float: left;
}
.andorra_candidates {
	max-width: 100%;
	background-color: #cc3333;
	clear: left;
}

.andorra_candidates img {
	max-width: 70%;
	display: inline;
	padding-top: 1em;
}

.andorra_candidates .text {
	font-family: "Raleway", sans-serif;
	font-size: 1.4em;
	line-height: 1.5em;
	font-weight: 300;
	color: #fff;
	text-align: center;
	margin-top: 1.5%;
	margin-right: 2%;
	max-width: 25%;
	max-height: 20%;
	float: right;
}

.andorra_candidates .text span {
	font-weight: 800;
}

.andorra_call {
	font-family: "Raleway", sans-serif;
	font-size: 0.7em;
	line-height: 1.2em;
	font-weight: 300;
	width: 100%;
	color: #fff;
	text-align: center;
	border: 2px solid #FFF;
	border-radius: 6px;
	margin-top: 2%;
	padding: 2%;
	float: right;
}

.andorra_call img {
	padding-top: 0em;
}

/* Andorra 20D Tablet */

@media (max-width:600px) {
.andorra_candidates .text {
	font-size: 1.2em;
	line-height: 1em;
	font-weight: 400;
}

.andorra_wrap a {
	text-decoration: none;
}

.andorra_wrap .date {
	font-size: 2em;
}

.andorra_wrap .title {
	font-size: 2.1em;
	max-width: 100%;
}

.andorra_wrap .date img {
	height: 30px;
}

.andorra_call {
	margin-top: 0.4em;
}

.andorra_call img {
	height: 38px;
}
}

/* Andorra 20D Mobile */

@media (max-width:480px) {
.andorra_wrap {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.andorra_wrap a {
	text-decoration: none;
}
.andorra_wrap .date {
	padding: 1.5% 0 0 0%;
}
.andorra_wrap .title {
	padding: 0 0 1% 1%;
	text-align: center;
}
.andorra_candidates img {
	display: block;
	max-width: 100%;
}
.andorra_candidates .text {
	max-width: 100%;
	float: none;
	font-size: 1.4em;
	line-height: 1.5em;
}
.andorra_call {
	float: none;
	max-width: 100%;
	margin-left: -1%;
	font-size: 0.8em;
	line-height: 1.2em;
}
.andorra_call img {
	margin: 1% auto 0 auto;
}
}

/*HTML libre abusos sexuales */

.abus_wrapper {
	border:5px solid #b50d1e;
	border-radius:12px;
	max-width:660px;
	min-height: 180px;
	padding:10px;
	}
.abus_logo {
	border-bottom:1px dotted #999;
	height:20px;
	text-align:center;
	width:120px;
	margin:auto;
	padding:10px;
	}
.abus_title {
	font-family:"Raleway", sans-serif;
	font-size:24px;
	line-height:26px;
	font-weight:800;
	text-align:center;
	color:#333;
	margin:12px 0 12px 0;
	}
.abus_subtitle {
	font-family:"Raleway", sans-serif;
	font-size:16px;
	line-height:18px;
	font-weight:500;
	text-align:center;
	color:#333;
	padding:0 10px 0 10px;
	margin-bottom:15px;
	}
.abus_call a {
	display:block;
	font-family:"Raleway", sans-serif;
	font-size:16px;
	line-height:18px;
	font-weight:500;
	text-align:center;
	text-decoration:none;
	color:#fff;
	margin:auto;
	width:140px;
	background-color:#b50d1e;
	border-radius:6px;
	padding:5px;
	}
    
/* Oscar 2016 */
    
.oscar_class {
	width:100%;
	margin-bottom:15px;
	float:left;
	display:inline-block;
}
.oscar_others {
	width:230px;
	margin-bottom:50px;
	margin-right:20px;
	float:left;
	display:inline-block;
}
.oscar_title {
	font-family:'Raleway',sans-serif; 
	font-size:28px; 
	font-weight:300; 
	color:#000;
	text-transform:uppercase;
	text-align:center;
	border-bottom: 1px solid #b7a261;
	padding-bottom:2px;
	margin-bottom: 18px;
}
.oscar_title2 {
	font-family:'Raleway',sans-serif; 
	font-size:18px; 
	font-weight:300; 
	color:#000;
	text-transform:uppercase;
	text-align:left;
	border-bottom: 1px solid #b7a261;
	padding-bottom:2px;
	margin-bottom: 18px;
}
.oscar_nominee {
	width:180px; 
	float:left; 
	margin-right:20px;
	margin-bottom:20px;
}
.oscar_nominee2 {
	width:100%; 
	float:left; 
	margin-bottom:12px;
}
.oscar_nominee span {
	font-weight:700; 
	color:#b7a261;
}
.oscar_nominee2 span {
	font-weight:700; 
	color:#b7a261;
	letter-spacing:0.5px;
}
.oscar_nominee p {
	font-family:'Raleway',sans-serif; 
	font-size:16px; 
	font-weight:400; 
	line-height:18px;
	margin-top:0px; 
	padding-top:5px;
}
.oscar_nominee2 p {
	font-family:'Raleway',sans-serif; 
	font-size:14px; 
	font-weight:400; 
	line-height:16px;
	margin-top:0px; 
	padding-top:5px;
	letter-spacing:0.1px;
}
.oscar_winner {
	width:180px; 
	float:left; 
	margin-right:20px;
	margin-bottom: 20px;
	background-color:#b7a261;
	padding-bottom:5px;
}
.oscar_winner span {
	font-weight:700;
}
.oscar_winner p{
	font-family:'Raleway',sans-serif; 
	font-size:16px; 
	font-weight:400; 
	line-height:18px;
	color:#fff;
	margin-top:0px;
	padding:5px 5px 0 5px; 
}
.oscar_winner2 {
	width:100%; 
	float:left; 
	background-color:#b7a261;
	margin-bottom:12px;
	padding-bottom:5px;
}
.oscar_winner2 span {
	font-weight:700;
	letter-spacing:0.7px;
}
.oscar_winner2 p{
	font-family:'Raleway',sans-serif; 
	font-size:14px; 
	font-weight:400; 
	line-height:16px;
	color:#fff;
	margin-top:0px;
	padding:5px 5px 0 5px; 
	letter-spacing:0.3px;
}

/* Módulo servicios */

.epservicios_wrapper {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 40px;
	font-weight: bold;
	width: 300px;
}
.epservicios_picto {
	background-color: #b10000;
	float: left;
	height: 25px;
	width: 25px;
	border-radius: 12px;
	margin-top:7px;
	background-size:70%; 
	background-repeat:no-repeat; 
	background-position: 45% center;
}
.epservicios_pictocat {
	background-color: #4c74c7;
	float: left;
	height: 25px;
	width: 25px;
	border-radius: 12px;
	margin-top:7px;
	background-size:70%; 
	background-repeat:no-repeat; 
	background-position: 45% center;
}
.epservicios_item a {
	vertical-align: middle;
	float: left;
	height: 40px;
	width: 100%;
	border-bottom: 1px dotted #999;
	text-indent:10px;
	text-decoration:none;
	color: #333333;
}
.epservicios_title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 18px;
	font-weight: bold;
	color: #898989;
	border-bottom:1px solid #b10000;
	height:26px;
	margin-bottom:8px;
}
.epservicios_titlecat {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 18px;
	font-weight: bold;
	color: #898989;
	border-bottom:1px solid #4c74c7;
	height:26px;
	margin-bottom:8px;
}


/* Texto Bloqueadores de publicidad  */

	.g-artboard {
			margin:0 auto;
		}
		
		#g-adbloquers-Mesa_de_trabajo_1{
				position:relative;
				overflow:hidden;
				width:628px;
			}
			.g-aiAbs{
				position:absolute;
			}
			.g-aiImg{
				display:block;
				width:100% !important;
			}
			#g-adbloquers-Mesa_de_trabajo_1 p{
				font-family:nyt-franklin,arial,helvetica,sans-serif;
				font-size:13px;
				line-height:18px;
				margin:0;
			}
			#g-adbloquers-Mesa_de_trabajo_1 .g-aiPstyle0 {
				font-family:arial,helvetica,sans-serif;
				font-size:28px;
				line-height:34px;
				font-weight:bold;
				color:#000000;
			}
			#g-adbloquers-Mesa_de_trabajo_1 .g-aiPstyle1 {
				font-size:12px;
				line-height:16px;
				color:#434142;
			}
			#g-adbloquers-Mesa_de_trabajo_1 .g-aiPstyle2 {
				font-family:arial,helvetica,sans-serif;
				font-size:24px;
				line-height:29px;
				color:#a0141b;
			}
			#g-adbloquers-Mesa_de_trabajo_1 .g-aiPstyle3 {
				font-family:arial,helvetica,sans-serif;
				font-size:24px;
				line-height:29px;
				color:#000000;
			}
			
/* Save the children */

.savethechildren_wrapper {
	background-color: #f5f5f5;
	font-family: "Raleway", sans-serif;
	font-size: 16px;
	text-align: center;
	padding: 5px 15px 5px 15px;
}
.savethechildren_wrapper img {
	display: inline;
}
.savethechildren_wrapper a {
	text-decoration: none;
}
.savethechildren_title {
	font-weight: 800;
	border-bottom: 1px solid #bb0000;	
	padding-top: 10px;
	padding-bottom: 5px;
	margin-bottom: 20px;
	color: #898989;
}
.savethechildren_title a {
	color: #898989;
}
.savethechildren_link {
	font-weight: 500;
	color: #333;
	margin: 3px 0 15px 0;
}