@charset "UTF-8";
/*------------------------------------------------------------------------------
    CSS Document (http://www.w3.org/Style/CSS/)

    project:    ElPeriódico - Aviso cookies
    author:     www.maquetadorweb.es
------------------------------------------------------------------------------*/

/*COOKIE
------------------------------------------------------------------------------*/
.msg-cookie{ background-color:#e4e4e4; min-width:972px;}
.msg-cookie .wrap{ width:972px; margin:0 auto; height:40px;  position:relative;}
.msg-cookie .wrap p{ width: 800px;font:normal 12px Arial,Helvetica,sans-serif; color:#575757; padding:5px 0;}
.msg-cookie .wrap ul{ position:absolute; right:0; bottom: 6px;}
.msg-cookie .wrap ul li{ display:block; float:left; width:auto; margin-left:8px}
.msg-cookie .wrap ul li a{background-color:#d1374c; display:block; color:#FFF; text-decoration:none;font:bold 12px Arial, Helvetica, sans-serif; text-align:center; padding:3px 5px}
body.ca .msg-cookie .wrap ul li a {background-color: #006EE3;}
