.widget-ep-woman{
	width: 300px;
	border-bottom: 1px solid #aeaeae;
	margin-bottom: 17px;
}

.widget-ep-woman h2{
	margin: 0;
	padding-bottom: 5px;
}

.widget-ep-woman .logo {
	position: relative;
	width: 300px;
}

.widget-ep-woman .logo a{
	width: 300px;
}


.widget-ep-woman .thumb{
	width: 100%;
	margin: 0px 0px -4px 0px;
}

.widget-ep-woman .titular h3{
	font-family: Arial,Helvetica,sans-serif;
	font-size: 18px;
	line-height: 20px;
	margin: 0;
	padding: 5px 0px 7px 3px;	
	background-color: #eaeaea;	
}

.widget-ep-woman .titular h3 a{
	color: #343434;
	text-decoration: none;
}

.widget-ep-woman .text{
	clear: both;
	display: block;
	margin: 7px 0px 5px 5px;
}


.widget-ep-woman .titular2 h3{
	width: 140px;
	min-height: 40px;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
	line-height: 18px;
	margin: 0;
	border-right: 1px solid #686868;
	float: left;
	margin-right: 7px;
	
}

.widget-ep-woman .titular2 h3 a{
	color: #343434;
	text-decoration: none;
}



.widget-ep-woman .titular3 h3{
	min-height: 40px;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
	line-height: 18px;
	margin: 0;
	padding-top: 5px;
	width: auto;
	padding: 0px;
}

.widget-ep-woman .titular3 h3 a{
	color: #343434;
	text-decoration: none;
}
