/* Reset HTML Elements *//* ----------------------------------------- */
*, html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, label, fieldset, input, p, blockquote, th, td {
	margin:0;
	padding:0
}

table {
	border-collapse:collapse;
	border-spacing:0;
	padding: 0;
	margin: 0;
}
fieldset, img {
	border:0
}
address, caption, cite, code, dfn, em, strong, th, var {
	font-style:normal;
	font-weight:normal
}
ol, ul, li {
	list-style:none
}
caption, th {
	text-align:left
}
q:before, q:after {
	content:''
}
* {
	outline: none;
}
strong {
	font-weight: bold
}
em {
	font-style: italic
}
a img {
	border:none
}
img {
	opacity:0.9;
	filter:alpha(opacity=90);
	-moz-opacity:0.9;
	-khtml-opacity: 0.9;
	-webkit-opacity:0.9;	
}
img:hover {
	opacity:1;
	filter:alpha(opacity=100);
	-moz-opacity:1;
	-khtml-opacity: 1;
	-webkit-opacity:1;	
	cursor: pointer;
}

/*-General Styles------------------------------------------*/

a, a:visited {
	text-decoration:none;
	color: #000;
}
a:hover {
	text-decoration:none;
}
a:active {
	border: none;
	border: 0;
}
p {
	line-height:19px;
	direction: rtl;
	font-family: Tahoma, Geneva, sans-serif;
	text-align: justify;
}
p a, p a:visited {
	text-decoration:none;
	color: #000;
	text-shadow: 0 0 1px #999;
}
.clear {
	clear: both;
}
h1,h2,h3,h4,h5,h6 {
	font-family:'b roya', '2 roya', arial, "Times New Roman", Times;
}
.right{	float:right;}
.left{float:left;}