@charset "utf-8";
/* CSS Document */

#wrapper .single{
	width:940px;
}
#wrapper .single #news{ width:563px;}
#wrapper .single #main_content{ margin:0}
#wrapper .single #news .post{ width:560xp;}
#wrapper .single #news .post .post_content{ width:465px;}