html, body {
	padding:0px;
	margin:0px;
	height:100%;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color:#FFF;
	line-height:1.4;
	font-size:18px;
    min-width:300px; 
}


ul,div,li{
      list-style-type: none;
      padding: 0;
      margin: 0;
}

h1,h2,h3{line-height:1.2}
body {
	/*background-image: url('/res/img/Logo-sm.png');
	background-repeat: no-repeat;
	background-position: right bottom;
	overflow-x: hidden;*/
}

input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label span {
    display:inline-block;
    width:28px;
    height:28px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url('/res/img/CheckBox-MD.png') -31px top no-repeat;
    cursor:pointer;
}
input[type="checkbox"]:checked + label span {
    background:url('/res/img/CheckBox-MD.png') 2px top no-repeat;
}

video {
	cursor: pointer;
}

h3 {
	padding:0px;
	margin:0px;
}

img {
	/*display:block;*/
}

.selsp {
	padding-left: 10px;
	font-weight: bold;
	padding:8px;
	margin:0px;
}
.selsp option {
	background-color: white;
	color: #555;
}

.jifVid {
	margin:0px auto;
	padding:0px;
	box-sizing: border-box;
	text-align:center;
	display: block;
	max-width:100%;
}

#advopt {
	
	background-color: #F8F8F8;
	padding:10px;
}

#advopt .hld {
	display:inline-block;
	text-align:left;
}

#startBtn {
	cursor: pointer;
}

/*#wp {
	min-height:100%;
	position:relative;
	background-image: url("img/bg_slimg.jpg");
	background-size:   cover;                      
    background-repeat: no-repeat;
    background-position: center center;            
}*/

#wp{
	min-height: 100%;
	position: relative;
	background-image: none;
	background-color: #0B0B0B;
}

#hd {
	display: block;
	height:64px;
	line-height:60px;
	overflow:hidden;
	background-image: url('/res/img/hd1.png');
}

#bd {
	/*text-align: center;*/
	padding-bottom:50px;
	padding-left:10px;
	padding-right:10px;
}

#ft {
	min-width: 100%;
	height: 50px;
	position:absolute;
	bottom:0;
	left:0;
	text-align:center;
	line-height: 40px;
}

#ft a{
	font-size:10pt;
	color: #FF0000;
	text-decoration: none;
}


.hdl {
	margin-left:10px;
}
.hdl span {
	color:#6D6D6D;
}
.hdl a {
	font-size:2em;
	color:#FF0000;
	text-decoration:none;
	font-weight:bold;
	display:inline-block;
	overflow:hidden;
}
.hdr {
	margin-right:10px;
}
.fl {
	float:left;
}
.fr {
	float:right;
}
.but {
	display: inline-block;
	padding: 6px 12px;
	/*margin-bottom: 5px;*/
	font-size: .8em;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-moz-user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 0px;
	color: #6D6D6D;
	background-color: #FFF;
	border-color: #CCC;
	text-decoration: none;
}

.but:hover {
	background-color: #FF0000;
	color: white;
}

.upbut {
	vertical-align: top;
	/*
	color: black;
	color: #4EA8FC;
	*/
	font-weight:bold;
	/*
	border-color: #4EA8FC;
	border-color: black;
	*/
}

#upimg {
	vertical-align:middle;
}

.upanch {
	background: url('/res/img/Upload-16x16-W.png') no-repeat 5px center;
	padding-left: 25px !important;
}

.upanch:hover {
	background: url('/res/img/Upload-16x16-W.png') no-repeat 5px center;
}

.upsel {
	background: url('/res/img/Upload-16x16-W.png') no-repeat 5px center;
	color: white !important;  
	/*background-color: #FF0000 !important;  */
	background-color: #C40F0F !important;
	
}

.butresponse {
	display: inline-block;
	padding: 6px 12px;
	margin: 0px;
	font-size: .8em;
	font-weight: 400;
	line-height: 1.42857;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-moz-user-select: none;
	background-image: none;
	border: 1px solid transparent;
	color: black;
	background-color: #FFF;
	border-color: #CCC;
	text-decoration: none;
}

.butresponse:hover {
	/*background-color: #FF0000;*/
	background-color: #C40F0F;
	color: white;
}

.hdin {
	margin:0px auto;
}

.hdbut {
	text-decoration:none;
	/*
	color:#F00;
	font-size: 14pt;
	*/
	color: white;
	padding:5px 10px;
	
}

.hdbut:hover {
	/*background-color: #FF0000;*/
	background-color: #C40F0F;
	color:white;
}

.menu_but {
	background-color:white;
	text-decoration:none;
	color:#555;
	padding:5px 10px;
	border-radius: 4px;
	font-size: .8em;
	border: 1px solid #CCC;
}

.menu_but:hover {
	background-color: #FF0000;
	color:white;
}

.menu_h {
	display:none;
}

.menu_v select {
	background-color: #4EA8FC;
	width:100%;
	padding-left: 10px;
	color: white;
	font-weight: bold;
	padding:8px;
	margin:0px;
}

.menu_v option {
	background-color: white;
	color: #555;
}

.del {
	color: #A94442;
	background-color: #F2DEDE;
	border-color: #EBCCD1;
}

img {
	/*max-width: 100%;
	margin:0px;
	padding:0px;*/
}

#upErr {
	display:none;
	background-color: red;
	font-size: .8em;
}

#upErr .erritem{
	border-bottom: 1px solid black;
}

#upErr .erritem .errfname{
	box-sizing: border-box;
	display:inline-block;
	width: 60%;
	text-align: left;
	padding-left: 10px;
}

#upErr .erritem .errdesc{
	box-sizing: border-box;
	display:inline-block;
	width: 40%;
	text-align: right;
	padding-right: 10px;
}

/*#66AFE9*/
form {
	margin:0px;
	padding:0px;
	text-align: left;
}

.clr {
	clear:both;
}

.fgrp {
	margin-top: 10px;
}

.fgrp a {
	/*color: #F00;*/
}

.egrptop {
	margin-bottom: 0px;
}

.egrptop input, .egrptop textarea {
    border-bottom-left-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
}

.egrpbot {
	margin-bottom:10px;
}

.egrpbot textarea {
    border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
	margin:0px;
	height:100px;
}

.egrpbotedit {
	margin-bottom:0px !important;
}

.egrpbotedit textarea {
    border-radius: 0px !important;
	margin:0px;
	height:100px;
	border-bottom: 0px !important;
}

.egrpimg  {
	background-color: #111;
	text-align: center;
	max-width:100%;
	
	/*margin-bottom: 20px;*/
}

.egrpimg a {
	display:inline-block !important;
	max-width: 100%;
	box-sizing: border-box;
	vertical-align:text-bottom;
	line-height:0;
	font-size:0;
}

.egrpimg img {
	/*display: block; */
	/*display: inline-block;*/
	
	/*max-width: 650px;*/
	/*max-height: 650px;*/
	/*max-width: 100%;*/
	max-width: 1080px;
	width: 100%;
	/*max-height:100%;*/
	/*max-height: 650px;*/
	box-sizing: border-box;
	vertical-align:text-bottom;
	line-height:0;
	font-size:0;
}

h3.tit {
	padding: 5px;
	max-width: 1280px;
	font-size: 12pt;
}

h3.tit a{
	color: #C40F0F;
}

.fmenu {
	margin-bottom: 10px;
	font-size: 14pt;
	font-weight: 700;
	color: #444;
	letter-spacing: 1px;
	text-align: right;
	float: right;
}

.fmenu a {
	/*
	background-color: #C40F0F;
	color: white;
	*/
	background-color: white;
	color: #C40F0F;
	padding: 5px;
	text-decoration: none;
}
.fmenu a.sel {
	text-decoration:none;
	background-color: #4EA8FC;
	color: white;
}

.ftit {
	margin-bottom: 0px;
	font-size: 18pt;
	font-weight: 700;
	color: #FFF;
	letter-spacing: 1px;
	background-color: #0B0B0B;
}

.fwp {
	border: 2px dashed white;
	border-radius: 0px;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
	overflow:hidden;
	margin-top: -10px;
	position: relative;
	height:200px;
	text-align: center;
	display: block;
	color: #fff;
	position: relative;
	line-height: 200px;
}

.fwp span {
	
	vertical-align: middle;
	display: inline-block;
	
	line-height: 25px;
	/*
	margin-top: 25px;
	margin-bottom: 25px;
	*/
	/*
	position: absolute;
	top: 25%;
	left: 50%;
	*/
}

/*.fwp:hover {
	border: 2px solid #4EA8FC;
}*/

.fwpd {
	border: 2px solid #4EA8FC;
}
.iptf {
	display: block;
	width: 100%;
	cursor: pointer;
	opacity: 0;
	height:100%;
	position: absolute;
	top:0px;
	left:0px;
}

.ipt {
	display: block;
	width: 100%;
	padding: 6px 12px;
	border: 1px solid #DDDDDD;
	
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	height: 34px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.ipttop {

}

.ilnk input {
	display: block;
	width: 80%;
	padding: 6px 12px;
	border: 1px solid #DDDDDD;
	border-radius: 4px 0px 0px 4px;
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.075) inset;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	height: 34px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;   
	float:left;
	box-sizing: border-box;
}
.ilnk a{
	float:right;
	width: 20%;
	height: 34px;
	line-height: 34px;
	border: 1px solid #DDDDDD;
	border-radius: 0px 4px 4px 0px;
	box-sizing: border-box;
	text-decoration:none;
	font-size: 12pt;
	color: #333;
	background-color: #FFF;
	border-left:0px;
}

.ilnk a:hover {
	color: white;
	background-color: #FF0000;
}

div.ilnk {
	clear: both;
	text-align:center;
}

.ipti {
	display: inline-block;
	margin: 0px;	
}

label {
	font-weight: 700;
	line-height: 1.42857;
	cursor: pointer;
	font-size: 12pt;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

label.shlbl {
	display: block;
	text-align: left;
}


.sysmsg p {
	margin: 0px;
	padding: 0px;
}

.sysmsg1 {
	text-align: center;
	margin-top:20px;
}

.sysmsg0 {
	padding: 10px 0px;
	margin: 0px -10px;
	border: 1px solid transparent;
	text-align: center;
}

.sysmsg0-info {
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}
.sysmsg0-success {
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}
.sysmsg0-danger {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}
.sysmsg0-warning {
	color: #8a6d3b;
	background-color: #fcf8e3;
	border-color: #faebcc;
}

.alert {
	display: block;
	padding: 0px 10px;
	height: 34px;
	line-height: 34px;
	overflow:hidden;
}

.mtit {
	text-align: left;
	padding:5px;
	font-size: 1.1em;
}

.atit {
	font-size: 16pt;
	color: white;
	padding: 0px 0px;
	border-bottom: 4px solid #202020;
	/*margin-bottom: 10px;*/
	padding: 5px;
	font-weight: bold;
}

.atit a, p.ip a {
	/*color: #C40F0F;*/
	color: white;
}

p.ip {
	text-align: left;
	/*
	padding:5px 0px;
	*/
	line-height: 1em;
	padding:0px;
	margin:0px;
	border-bottom: 4px solid #1F1F1E;
	
	padding: 5px;
}

.bline {
	/*border-bottom: 1px solid #4EA8FC;
	border-top: 1px solid #4EA8FC;*/
}

.aspace1 {
	max-width: 600px;
	margin:0px auto;
	padding:0px;
	margin-bottom: 20px;
	margin-top: 20px;
	overflow:hidden;
}

.foofo {
	padding: 20px;
	text-align: center;
}

imgxs {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
	margin:0px;
	padding:0px;
	display: block;
}

.cntrcnt .mcntr {
	float: left;
}

.cntrcnt {
	margin: 0px auto;
	width: 1000px;
}

.cntr {
	max-width: 642px;
	margin: 0px auto;
	padding: 20px;
	border: 1px solid #DDDDDD;
	border-radius: 0px;
	margin-top: 20px;
	box-sizing: border-box; 
	background-color: rgba(0, 0, 0, 0.8);
}

.outrmain {
	text-align: center;
	margin: 0px auto;
	margin-top: 20px;
}


.outr {
	display: inline-block;
	margin: 0px auto;
	text-align: left;
}

.outrl {
	max-width: 680px;
	width: 100%;
	background-color: #262626;
	margin-bottom: 10px;
}

.cntr2 {
	/*max-width: 642px;*/
	
	/*padding: 20px;*/
	/*border: 1px solid #DDDDDD;
	border-radius: 4px;*/
	/*margin-top: 20px;*/
	box-sizing: border-box; 
	background-color: #111;
	/*padding-top: 20px;*/
	margin-bottom: 20px;
	max-width:100%;
}

.cntr2hd {
	box-sizing: border-box; 
	/*margin-bottom: 20px;*/
}

.ione {
	margin: 0px auto;
	max-width: 602px;
	padding: 0px;
	box-sizing: border-box; 
	margin-top: 20px;
	
	
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	
}

.ionedit {
	margin-top:0px;
}

.ione img {
	margin: 0px auto;
}
/*
.ione p {
	margin: 0px;
	padding: 0px;
}
*/

.ione .ialb {
	text-align: left;
	font-size: 14pt;
	margin:0px;
	padding: 10px;
	border-bottom: 1px solid #DDD;
}

.previewName {
	display:none;
}

.ftos a, .ftos a:visited, .ftos a:active{
	color: #FF0000;
	font-size:9pt;
	padding:2px;
}

.alert-success {
	background-color: green;
	color: white;
}

.alert-danger {
	background-color: #F00;
	color: white;
}

.bdhid {
	overflow: hidden;
}

.datmenu {
	background-color:rgba(0, 0, 0, 0.95);
	position: fixed; 
	top: 60px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	display: none;
	z-index: 100000;
	padding: 10px 10px 0px 10px;;
	box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	overflow-y: auto;
	vertical-align: middle;
}

.hdbut {
	border-radius: 0px;
}
.datmenu a {
	display: block;
	font-size: 12pt;
}
.datmenu a.sel {
	background-color: #C40F0F;
}
.dattog {
	display: inline-block;
}
.hdclose {
	text-transform: uppercase;
	text-align:center;
	font-weight: bold;
}
.slord {
	text-align: center;
	padding-top: 20px;
	font-size: 14pt;
}

.mlog {
	display: none;
}

#mpaste {
	width:100%;
	text-align:center;
	padding:10px;
	box-sizing: border-box;
	display: block;
}

.rhead a {
	color: #C40F0F;
}

.rhold {
	clear: both;
}

.rimg a img {
	height:140px;
	width: 140px;
}

.rimg {
	max-height: 165px;
	overflow: hidden;
	overflow-x: scroll;
	overflow-y: hidden;
}

.rimg a {
	padding: 5px;
	clear: none;
	display: table-cell;
}

.outrmainr {
	clear: both;
}

.rad2 {
	display:none;
}

.rad3 {
	display:block;
}

.rimgn {
	display: table;
	
}

.ridload {
	height:140px;
	width: 140px;
	background-image: url('/res/loading64x64.gif');
	background-size: 32px 32px;
	background-position: center center;
	background-repeat: no-repeat;
	margin: 0px auto;
	display: none;
	clear: both;
}

.timgheader {
	text-align: center;
	font-size: 1.2em;
}

.timgholder {
	max-width: 1000px;
	margin: 0px auto;
}

#timgs {
	justify-content: space-between;
	flex-flow: row wrap;
	display: flex;
}

#timgs a img {
	width: 100%;
}

#timgs a {
	padding: 5px;
	clear: none;
	width: 45%;
}

.tbar {
	border-bottom: 1px solid white;
}
.tbar a {
	text-decoration: none;
	margin: 0px 5px;
	padding: 0px 5px;
	color: white;
}

.tbar a.sel {
	background-color: #C40F0F;
	color: white;
}

.butm {
	margin-top: 10px;
}

/* working 1 */
@media (min-width: 600px) {
	
	.butm {
		margin-top: 0px;
	}
	
	.timgheader {
		font-size: 2em;
	}
	
	.rad2 {
		display:block;
		/*margin-top: 20px;*/
		margin-bottom: 10px;
	}

	.rad3 {
		display:none;
	}
	
	.outrl {
		float: left;
	}
	
	.outrmainr {
		max-width: 1000px;
		min-width: 1000px;
		clear: none;
	}
	
	.rhold {
		margin-top: 0px;
		width:310px;
		overflow:hidden;
		float:right;
		clear: none;
	}
	
	
	.rimg {
		max-height: 450px;
		overflow-x: hidden;
		overflow-y: scroll;
	}

	.rimgn {
		justify-content: space-between;
		flex-flow: row wrap;
		display: flex;
	}
	
	.rimg a {
		display: block;
		/*padding: 5px;*/
		/*float: left;*/
		padding: 0px;
		padding-bottom: 10px;
	}
	
	#timgs a {
		width: 23%;
	}
	
	#mpaste {
		/*display:none;*/
	}
	
	.mlog {
		display: block;
	}
	
	.outr { 
		min-width: 642px;
	}
	.slord {
		padding-top: 20px;
		font-size: 26pt;
	}
	img {
		/*max-width: 600px;*/
	}
	.ione {
		display: inline-block;
		min-width: 600px;
	}
	.islo {
		min-width: 200px;
	}
	.previewName {
		display:table-cell;
	}
	.menu_h {
		display:inline-block;
	}
	.menu_v {
		display:none;
	}
	.ilnk input {
		display: block;
		width: 90%;
	}
	.ilnk a {
		display: block;
		width: 10%;
	}
	.aspace1 {
		min-width: 600px;
	}
	.datmenu {
		display: inline-block;
		position: static; 
		width: auto;
		padding: 0px;
		background-color: transparent;
		overflow:hidden;
		
	}
	.datmenu a {
		display: inline;
		/*font-size: 0.8em;*/
	}
	.dattog {
		display: none;
	}
	.hdbut {
		border-radius: 0px;
	}
	.hdclose {
		display: none !important;
	}
}

.sel {
	background-color: #4EA8FC;
	color: white;
}

table {
    border-collapse: collapse;
}

table, th, td {
    /*border: 1px solid #CCC;*/
	border-bottom: 4px solid black;
}

table tr:hover {
	/*background-color:#F8F8F8;*/

}

table th {
	background-color:black;
}

table th, table td {
	padding: 5px 0px 5px 0px;;
}

table {
	font-size:12pt;
	
	font-weight: bold;
	color: black;
}

table a {
	text-decoration:none;

}

table a.lnk {

}

.adesc {
	color: black;
	text-decoration: underline;
}

.aup {
	color: blue;
}

.adel {
	color: red;
}

@media (min-width: 800px) {
	img {
		/*max-width: 600px;*/
	}
}

.mcustom {
	width: 100%;
	padding:0px;
	margin:0px;
	text-align:center;
	height:32px;
	overflow:hidden;
}

.mcustom a.at300b {
	width: 20% !important;
	margin:0px;
	padding:0px;
	display:inline-block;
	text-align:center;
}

.mcustom a.at300b span.at4-icon {
	
	width: 100% !important;
	height:32px !important;
	background-position: center;
	
}

.mspan {
	display:block;
	background-color:#67C6FB;
}

.pagination{
    display: inline-block;
    padding-left: 0px;
    margin: 20px 0px;
    border-radius: 4px;
}

.pagination >li{
    position:relative;
    float:left;
    list-style-type: none;
}

.pagination > li > a, 
.pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857;
    color: #337AB7;
    text-decoration: none;
    background-color: #FFF;
    border: 1px solid #DDD;
}

.pagination-sm > li > a, .pagination-sm > li > span {
    padding: 5px 10px;
    font-size: 12px;
}

.pagination > li > a {
    background: #FAFAFA none repeat scroll 0% 0%;
    color: #666;
    box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.09) inset;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    z-index: 2;
    color: #FFF;
    cursor: default;
    background-color: #C40F0F;
    border-color: #000;
}

.pagination > li:first-child > a, .pagination > li:first-child > span {
    margin-left: 0px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.pagination > li:first-of-type a, .pagination > li:last-of-type a {
    border-radius: 0px;
}

@media (max-width:500px){
    .pagination{
        left:0;
    }
}


.disabled{
    pointer-events:none;
    opacity:0.4;
}

.text-align-left{
    text-align: left;
}

#images_per_page{
   margin:0;
}

.lblb {
	vertical-align:middle;
	display:inline-block;
	margin-right: 10px;
}
.lblb  img {
	display:inline-block;
	vertical-align:middle;
}

.mban {
	line-height:32px;
	background-color: #4EA8FC;
	padding:5px;
	text-align:center;
	font-weight: bold;
}
.mban img{
	height:32px;
	width:32px;
	vertical-align:middle;
	padding: 0px 10px;
}

.fban {
	text-align:center;
	margin-top: 20px;
}

.fban a {
	color: #4EA8FC;
}

/*social sharing buttons */
.social_networks{
    /*margin:5px  0px;*/
	margin-bottom: 10px;
	overflow:hidden;
	line-height:100%;
	border:2px solid white;
}

.social_networks  li{
    height : 100%;
    margin : 0px;
    padding: 0px;
    display:block;
    float:left;
    width:25%;
    text-align:center;
}

.social_networks li a{
    height: 100%;
    width:100%;
    margin: auto;
}

.social_networks li a img{
   vertical-align: middle ;
}
.social_networks li.voat{
      background-color: #4EA8FC; 
}

.social_networks li.facebook{
    background-color:  #3B5998;
}

.social_networks li.googlePlus {
    background-color: #D0422A;
}

.social_networks li.reddit {
    background-color: #cee3f8;
}

.social_networks li.gmail{
     background-color: #808080;
}

.vcom {
	text-align: center;
	display: block;
	/*background-color: #410000;*/
	color: white !important;
	padding: 2px;
	font-weight: bold;
}

.mlog {
	margin: 0px auot;
	text-align:center;
	margin-top: 20px;
}

.llst {
	background-color: #1F1F1E;
}

tr.llsttr {
	background-color: white;
}

.mopt {
	text-align:center;
	display:block;
	background-color: #410000;
	color: white;
	padding: 2px;
	font-weight: bold;
	
}

.rbox {
	background-color:#262626;
	margin-bottom: 10px;
}

table.atable {
	color: white;
}