@charset "utf-8";
/*精品推荐*/
.inRec{margin:9px 0 0 0;border:1px solid #eee;position:relative;}
.inRec dt{font-size:0;text-indent:-999px;position:absolute;left:-1px;top:-1px;width:43px;height:43px;background:url(../images/icon/jpicon.png) 0 0 no-repeat;overflow:hidden;}
.inRec dd{padding-bottom:4px;}
.ppShow{padding:18px 0 12px 3px;}
.ppShow li{float:left;padding:0 0 0 28px;text-align:center;height:80px;overflow:hidden;width:82px;}
.ppShow li a{display:block;}
.ppShow li img{width:80px;height:60px;display:block;margin-bottom:2px;}
.ppShow li a:hover img{border-color:#f90;}
.ppphoneShow li{width: 74px;height:60px;}
.ppphoneShow li img{width:60px;height:60px;display:block;margin-bottom:2px;}
.inRec p{line-height:38px;height:38px;overflow:hidden;}
.inRec dd p.clo{background:#f5f5f5;}
.inRec dd p:hover{background:#eee;}
.inRec dd p:hover b{background-position:0 -22px;color:#fff;}
.inRec p:hover b a{color:#fff;}
.inRec p b{float:left;display:inline;margin:8px 0 0 25px;font-weight:normal;width:64px;height:22px;line-height:22px;line-height:23px;overflow:hidden;background:url(../images/icon/litem0.gif) 0 0 no-repeat;text-indent:6px;}
.inRec p span a{padding:0 11px;border-right:1px solid #ccc;}

/*软件分类*/
.softcomin{margin-top: 4px;}
.softsort{width: 230px;height: 510px;border:1px solid #E2E2E2;}
.headTit{height: 36px;line-height: 36px;padding:0 10px;border-bottom: 1px solid #ccc;border-top: 1px solid #008ee1}
.headTit h4{font-size: 14px;display: inline-block;}
.headTit h4 span.icon{display: inline-block;width: 11px;height: 11px;background:url(../images/icon/sroticon.jpg) 0 0 no-repeat;margin-right: 5px;}
.headTit a.more{float: right;}
.softsortCt{padding:0 10px;position: relative;}
.softsortCt .headnav{position: absolute;left: -25px;background-color: #FFF;top:235px;margin-top: -110px;}
.softsortCt .headnav span{width: 20px;line-height: 20px;margin:5px 0px;text-align: center;display: block;cursor:pointer;}
.softsortCt .headnav span.cur{background-color: #008ee1;color:#fff;}
.softsortCt .tb{display: none;max-height: 470px;overflow: hidden;}
.softsortCt .tb.cur{display: block;}
.softsortCt dl{border-bottom: 1px solid #E2E2E2;padding:5px 0;}
.softsortCt dl:last-child{border:none;}
.softsortCt dl dt{height: 30px;width: 70px;text-align: center;line-height: 30px;font-weight: bold;}
.softsortCt dl dd{font-size:0;}
.softsortCt dl dd span{display: inline-block;width: 70px;text-align: center;font-size:12px;}
/*最近更新*/
.softNew{width: 520px;height: 510px;border:1px solid #E2E2E2;margin-left: 17px;display: inline;}
.softNewCt{}
.softNewCt .topnews{margin:0 13px;text-align: center;border-bottom: 1px dashed #ccc;}
.topnews h2{height: 40px;line-height: 40px;font-size: 18px;}
.topnews h2 a{color:#008ee1}
.topnews p{line-height: 30px;}
.ivtab dt{height:365px;width:62px;float:right;display:inline;margin:10px;background:url(../images/icon/ttline.gif) 1px 0 repeat-y;}
.ivtab dt span,.ivtab dt a{display:block;height:30px;line-height:30px;_line-height:31px;overflow:hidden;text-indent:23px;font-size:14px;background:url(../images/icon/ttbg.gif) 0 -56px no-repeat;margin:10px 0 20px 0;cursor:pointer;padding:0 0 5px 0;}
.ivtab dt .cur{background-position:-62px -56px;color:#fff;}
.ivtab dd{display:none;}
.ivtab dd.on{display:block;padding:7px 10px 0 10px;}
.ivtab dd p{line-height:30px;height:30px;overflow:hidden;}
.ivtab dd img{width:20px;height:20px;position:relative;top:4px;margin-right:4px;}
.ivtab dd p span{float:right;display:inline;padding-left:10px;position:relative;top:3px;_top:2px;color:#666;}
.ivtab dd p i{width:60px;height:17px;line-height:17px;padding:0 10px 0 0;margin:6px 7px 0 0;border-right:1px solid #999;text-align:right;float:left;display:inline;font-style:normal;overflow:hidden;}
.ivtab dd p i a{color:#999;font-size:12px;width:auto;}
.ivtab dd p i a:hover{color:red;}
.ivtab dd p a{font-size:14px;overflow:hidden;}
.ivtab dd p.ge{padding:0 0 7px 0;border-bottom:1px dashed #ddd;margin:0 0 4px 0;}
/*最新资讯*/
.newsNew{width: 250px;height:510px;border:1px solid #E2E2E2;margin-left: 10px;display: inline;}
.newsNewCt{border-bottom: 1px solid #E2E2E2;margin-bottom: 10px;}
.newsNewCt li{height: 24px;line-height: 24px;overflow: hidden;padding-left: 13px;padding-right: 5px;background: url(../images/icon/dian.jpg) 4px center no-repeat;}
.newsNewCt li a{display: block;width: 180px;-ms-text-overflow: ellipsis;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;float: left;}
.newsNewCt li span{color:#FF0100;float: right;}
.newsNew .ad_qq{overflow: hidden;}
.newsNew .ad_qq img{width: 250px;height: 222px;}
.recsoftCt{padding:0px 10px 10px;}
.recsoftCt dl{padding-top: 10px;padding-bottom: 10px;border-bottom: 1px dotted #ccc;}
.recsoftCt dl:last-child{border:none}
.recsoftCt dt{width: 40px;float: left;overflow: hidden;}
.recsoftCt dd{margin-left: 55px;}
.recsoftCt dd .title{height: 16px;line-height: 16px;overflow: hidden;}
.recsoftCt dd .pinji{line-height: 28px;}
.recsoftCt dd .pinji span{color:#999;}
.recsoftCt dd .down{display: none;}
.recsoftCt dd .down a{display: block;width: 50px;height: 22px;background-color: #008EE1;border:1px solid #037CC3;text-align: center;line-height: 22px;color:#FFF}
.recsoftCt dl.on .down{display: block;}
/*new首屏*/
.firstScreen{margin-top: 5px;}
.firstL{width: 330px;float: left;}
.firstSort{margin-top: 10px;}
.firstSort .title{height: 28px;line-height: 28px;background-color: #288bde;color:#fff;padding:0 15px;font-size:16px;}
.firstSort .title a{color:#fff;}
.firstSort .title a.more{float: right;color:#fff;}
.firstSort .firstSortbd{}
.firstSortmen a:hover{color: #f80;text-decoration: underline;}
.firstSortmen li{position: relative;}
.firstSortmen dl{padding: 14px 0 14px 35px;overflow: hidden;border-width: 0 2px 1px 2px;border-color: #e5e5e5;border-style: solid;overflow: hidden;}
.firstSortmen dl dt{height: 24px;padding: 1px 0 3px;font-size: 16px;overflow: hidden;}
.firstSortmen dl dt a{color: #288BDE}
.firstSortmen em.fsortlogo{width: 16px;height: 16px;float: left;margin: 4px 6px 0 0;_margin-right: 3px;cursor: pointer;background: url(../images/icon/sortbg.png) no-repeat -92px -216px;}
.firstSortmen em.fnet{background-position:-2px -216px;}
.firstSortmen em.fdrive{background-position:-20px -216px;}
.firstSortmen em.fmulti{background-position:-38px -216px;}
.firstSortmen em.fsys{background-position:-56px -216px;}
.firstSortmen em.fwork{background-position:-74px -216px;}
.firstSortmen em.fqt{background-position:-182px -216px;}
.firstSortmen dl dd a{float: left;width: 65px;margin-right: 3px;overflow: hidden;line-height: 26px;}
.firstSortmen .sortDrop {position: absolute;zoom: 1;top: -1px;width: 325px;left: 328px;padding-bottom: 10px;overflow: hidden;background: #fff;border: 1px solid #e5e5e5;background-color: #FFF;z-index: 3;display: none;}
.firstSortmen .sortDrop dl{border:none;}
.firstSortmen li:hover dl{background: #f8f8f8;border-left-color: #f80;}
.firstSortmen li:hover .sortDrop{display: block;}
.firstSortmen li:hover .sortDrop dl{background-color: #FFF;}
.fsilder{position: relative;height: 240px;}
.fsilder .img li{position: absolute;left: 0;top:0;display: none;}
.fsilder .img li.cur{z-index: 1;display: block;}
.fsilder .img li img{width: 400px;height: 210px;display: block;}
.fsilder .img li p{position: absolute;bottom: 0;width:100%;height: 30px;line-height: 30px;text-align: center;color:#fff;background-color: rgba(0,0,0,.5);}
.fsilder .imgBtn{position: absolute;top: 75px;width: 26px;line-height: 54px;font-size:30px;text-align: center;height: 54px;z-index: 2;background-color:rgba(0,0,0,.3);color:#FFF;font-family:initial;cursor:pointer;}
.fsilder .imgBtn.btnnext{left: 0;-webkit-border-radius: 0 26px 26px 0;border-radius: 0 26px 26px 0;}
.fsilder .imgBtn.btnprev{right: 0;-webkit-border-radius: 26px 0 0 26px;border-radius: 26px 0 0 26px;}
.fsilder .imgnav{position: absolute;bottom: 0;text-align: center;width: 100%;}
.fsilder .imgnav span{display: inline-block;width: 12px;height: 12px;background-color: #E5E5E5;-webkit-border-radius: 50%;border-radius: 50%;cursor:pointer;}
.fsilder .imgnav span.cur{background-color:#288bde;}
.fnews .title{height: 40px;line-height: 40px;}
.fnews .title span{font-size:20px;color#333;}
.fnews .title a.more{float: right;color:#aeaeae;font-family: "宋体";}
.fnews .fnewsRecomd{height: 82px;display: block;overflow: hidden;border-bottom: 1px dashed #ccc;margin: 0;}
.fnews .fnewsRecomd dt{width: 97px;height: 67px;float: left;margin: 0 0 0 0;}
.fnews .fnewsRecomd dt img{width: 97px;height: 67px;display: block;overflow: hidden;}
.fnews .fnewsRecomd dd{width: 230px;height: auto;float: right;overflow: hidden;font-family: "微软雅黑";}
.fnews .fnewsRecomd dd a{width: 100%;height: 26px;line-height: 16px;font-size: 14px;font-weight: bold;color: #2a2a2a;display: block;overflow: hidden;position: relative;}
.fnews .fnewsRecomd dd a:before{position: absolute;height: 3px;width:70px;bottom: 0;background-color: #037CC3;content:"";}
.fnews .fnewsUl{}
.fnews .fnewsUl li{height: 14px;line-height: 14px;margin: 11px 0 0 4px;overflow: hidden;font-family: "微软雅黑";}
.fnews .fnewsUl li a{background:url(../images/icon/dian.png) 0 center no-repeat;text-indent:10px;display: inline-block;width: 300px;overflow: hidden;}
.fnews .fnewsUl li em{width: 30px;height: 14px;line-height: 14px;float: right;text-align: right;color: #a3a3a3;font-style: normal;padding-right: 4px;font-family: "宋体";font-size: 12px;}
.firstC{width: 400px;float: left;margin-left: 30px;display: inline;}
.firstC .daytitle{height: 23px;line-height: 23px;border-left: 5px solid #037CC2;text-indent: 10px;font-size: 20px;font-family: "微软雅黑";font-weight: normal;color: #343434;margin-top: 9px;margin-bottom: 5px;}
.intrRecomd .title{height: 22px;line-height: 22px;font-size: 20px;font-family: "微软雅黑";font-weight: normal;color: #fe0032;text-align: center;margin: 15px 0 0 0;overflow: hidden;}
.intrRecomd .title a{color:#FE0032;}
.intrOdd{text-align: center;margin-top: 13px;}
.intrOdd a{display: inline-block;width: 28%;height: 16px;line-height: 16px;color:#97999A;overflow: hidden;}
.intrTabBtn{height: 35px;display: block;overflow: hidden;margin: 5px 0 0 10px;background:url(../images/icon/intr_btnbg.jpg) no-repeat left bottom;}
.intrTabBtn a{width: 64px;height: 35px;float: left;margin: 0 0 0 15px;display: inline;overflow: hidden;font-size: 12px;font-family: "微软雅黑";color: #666;text-align: center;line-height: 22px;cursor: pointer;}
.intrTabBtn a.cur{background: url(../images/icon/intr_hover.jpg) no-repeat;
    color: #fff;}
.intrTabBtn a.first{margin:0;}
.intrTabUl{display: none;}
.intrTabUl.cur{display: block;}
.intrTabUl li{height: 20px;line-height: 20px;overflow: hidden;margin: 10px 0 0 0;font-family: "微软雅黑";}
.intrTabUl li img{float: left;width: 20px;height: 20px;float: left;margin: 0 0 0 0;display: inline;overflow: hidden;}
.intrTabUl li a{width: 265px;height: 20px;line-height: 20px;font-size: 14px;font-weight: normal;color: #333;float: left;margin: 0 0 0 6px;display: inline;overflow: hidden;}
.intrTabUl li span{float: right;font-size: 14px;font-weight: normal;color: #9b9b9b;width: auto;height: 20px;line-height: 20px;overflow: hidden;margin: 0 5px 0 0;font-style: normal;}
.intrTabUl li.intrLibod{border-bottom: 1px dashed #ccc;padding-bottom: 11px;}

.firstR{width: 250px;float: right;}
.dlbox dt{height: 23px;line-height: 23px;border-left: 5px solid #037CC2;text-indent: 10px;font-size: 20px;font-family: "微软雅黑";font-weight: normal;color: #343434;margin-top: 9px;}
.dlbox dt a.more{font-size: 12px;font-weight: normal;color: #adadad;font-family: "宋体";padding-left: 5px;float: right;}
.editorbox dd{width: 240px;height: 59px;display: block;overflow: hidden;border-bottom: 1px dashed #cdcdcd;margin-left: 7px;font-family: "微软雅黑";}
.editorbox dd .aimg{width: 32px;height: 32px;float: left;margin: 13px 0 0 4px;display: inline;overflow: hidden;}
.editorbox dd .aname{width: 176px;height: 14px;line-height: 14px;float: left;font-size: 12px;font-weight: normal;color: #272727;display: inline;overflow: hidden;margin: 13px 0 0 8px;}
.editorbox dd em{width: 176px;height: 14px;line-height: 14px;float: left;font-size: 12px;font-weight: normal;color: #7e7e7e;display: inline;overflow: hidden;font-style: normal;margin: 6px 0 0 8px;}
.projectbox dd .recomd{width: 240px;height: 78px;display: block;overflow: hidden;margin: 10px 0 0 0;}
.projectbox dd .recomd img{width: 240px;height: 78px;overflow: hidden}
.projectbox dd .projectUl li{width: 120px;height: 14px;line-height: 14px;float: left;margin: 9px 0 0 0;font-size: 12px;font-weight: normal;font-family: "微软雅黑";color: #656762;background: url(../images/icon/dian.jpg) no-repeat left center;text-indent: 10px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.projectbox dd .projectUl li a{color: #656762;}
/*常用软件*/
.favsoftcomin{margin-top: 4px;}
.favsoft{width: 770px;border:1px solid #E2E2E2;}
.favsoft .favsoftCt dl{float:left;display:inline;width:153px;padding-bottom:11px;border-right: 1px solid #ededed;}
.favsoft .favsoftCt dl:nth-of-type(5n){border:none;}
.favsoft .favsoftCt dt{background:#f9f9f9;height:35px;line-height:35px;text-align:center;color:#000;font-size:14px;margin-bottom:7px;border-bottom: 1px solid #ededed;}
.favsoft .favsoftCt dd{height: 18px;line-height: 18px;text-indent:44px;margin-top:7px;position: relative;overflow: hidden;}
.favsoft .favsoftCt dd img{position: absolute;left: 20px;width: 18px;height: 18px;overflow: hidden;}
/*下载排行*/
.favsoftcomin .sidebar{width: 250px;border:1px solid #E2E2E2;margin-left: 10px;display: inline;}
.favsoftcomin .sidebar .tabTitle{height: 36px;line-height: 36px;border-bottom: 1px solid #ccc}
.favsoftcomin .sidebar .tabTitle li{width:125px;float: left;text-align: center;cursor:pointer;}
.favsoftcomin .sidebar .tabTitle li.on{border-bottom:1px solid #008EE1}
.favsoftcomin .sidebar .tabItem{padding: 6px 9px 5px 9px;background:url(../images/icon/orank.jpg) 12px 11px no-repeat;display: none;}
.favsoftcomin .sidebar .tabItem.on{display: block;}
.favsoftcomin .sidebar .tabItem li{width: 210px;height: 35px;line-height: 35px;overflow: hidden;text-indent: 34px;border-bottom: 1px dashed #f0f0f0;}

.favsoftcomin .box {margin-top: 10px;}
.favsoftcomin .pc_l,.favsoftcomin .pc_r {width: 385px; height: 430px; float: left; }
.favsoftcomin .pc_l .pc_title,.favsoftcomin .pc_r .pc_title {height: 99px; width: 24px; margin-right: 10px; padding-top: 21px; text-align: center; background-color: #86c91c; float: left; }
.favsoftcomin .pc_l .pc_title a,.favsoftcomin .pc_r .pc_title a {line-height: 20px; font-weight: normal; color: #FFFFFF; font-size: 14px; }
.favsoftcomin .pc_l ul,.favsoftcomin .pc_r ul {width: 105px; height: 120px; float: left; border: 1px dotted #CCCCCC; margin-bottom: 25px; margin-right: 9px; }
.favsoftcomin .pc_l ul li,.favsoftcomin .pc_r ul li {margin-top: 4px; width: 110px; height: 25px; }
.favsoftcomin .pc_l ul li p,.favsoftcomin .pc_r ul li p {font-size: 14px; width: 68px; overflow: hidden; height: 25px; float: left; text-align: left; margin-left: 10px; }
.favsoftcomin .pc_l ul li .pc_icon,.favsoftcomin .pc_r ul li .pc_icon {margin-left: 5px; width: 25px; height: 25px; float: left; }
.favsoftcomin .pc_r ul {float: right; }
/*应用推荐*/
.recbox{}
.recbox .title{padding:0 0 0 43px;background-image:url(../images/icon/syspr14.gif);background-repeat: no-repeat;color:#000;height:42px;line-height:42px;_overflow:hidden;border-top:2px solid #008ee1;}
.recbox.recboxAn .title{background-position:0px -282px;}
.recbox.recboxIos .title{background-position: 0px -330px}
.recbox.recboxGame .title{background-position: 0px -378px}
.recbox.recboxNews .title{background-position: 0px -474px}
.recbox .title h2{font-size:20px;float:left;display:inline;font-family:\5FAE\8F6F\96C5\9ED1,\5B8B\4F53,arial;font-weight:normal;padding:0 10px;}
.recbox .title span,.recbox .title p{float:left;width:auto;height:45px;line-height:45px;position:relative;font-size:14px;}
.recbox .title span i{font-style:normal;height:28px;line-height:28px;color:#666;float:left;display:inline;margin-top:7px;width:75px;text-align:center;cursor:pointer;}
.recbox .title span .cur{background:#008ee1;color:#fff;}
.recbox .content{position: relative;display: none;}
.recbox .content.on{display: block;}
.recbox .content .left{width: 770px;float: left;}
.recbox .corner li{float: left;width: 100px;overflow: hidden;margin-right: 28px;margin-bottom: 20px;margin-top: 10px;}
.recbox .corner li .cc{position: relative;}
.recbox .corner li .cc a.img{display: block;width: 100px;overflow: hidden;}
.recbox .corner li .cc a.img img{width: 100px;height: 100px;}
.recbox .corner li .cc a.img .textbox{position: absolute;top:76px;left: 0;}
.recbox .corner li .cc a.img .textbox .mask{width: 100px;height: 24px;background-color: #000;opacity: .5;filter:alpha(opacity=50);}
.recbox .corner li .cc a.img .textbox .fen{position: absolute;line-height: 24px;font-weight: bold;top:0px;left: 7px;color:#FFF}
.recbox .corner li .cc a.img .textbox .lan{position: absolute;display: block;width: 30px;height: 18px;line-height: 18px;background: #084BB3;color: #fff;text-align: center;font-weight: bold;top:3px;right:3px;overflow: hidden;}
.recbox .corner li .cc a.img span{display: block;text-align: center;height: 20px;line-height: 20px;overflow: hidden;}
.recbox .corner li .cc a.img span:hover{color:#008ee1;}
.recbox .corner li .cc span.bb{display: block;text-align: center;height: 20px;line-height: 20px;overflow: hidden;color:#999}

.recbox .content .right{width: 250px;float: right;}
.recbox .content .right h3{padding:0 0 0 12px;color:#000;}
.recbox .content .right .hotsoft{padding: 6px 9px 5px 9px;background:url(../images/icon/orank.jpg) 12px 11px no-repeat;}
.recbox .content .right .hotsoft li{width: 210px;height: 35px;line-height: 35px;overflow: hidden;text-indent: 34px;border-bottom: 1px dashed #f0f0f0;}
.recbox .content .rnav{position: absolute;top: -43px;right: 0px;height: 45px;line-height: 45px;font-size: 14px;overflow: hidden;}
.recbox .content .rnav a.more{float: right;}
.recbox .content .rnav span{float: right;}
.recbox .content .rnav span a{padding: 0 7px;border-right: 1px solid #cfcfcf;}
.recbox .content .rnav span a:last-child{border:none}
.recbox .title a.more{float: right;display: none;}
.recbox .title a.more.cur{display: block;}
.recbox .newsList{width: 365px;padding: 9px 15px;padding: 10px 13px;float: left;overflow: hidden;font-size: 14px;}
.recbox .newsList.line{border-right: 1px dashed #ddd;padding-left: 0;}
.recbox .newsList li{line-height: 28px;height: 28px;overflow: hidden;}
.recbox .newsList li em{font-style:normal;float:right;color:#999;}
.recbox .newsList li span{padding-right:4px;}
.recbox .newsList li span a{color:#999;}
.recbox .newsList li>a{color:#333;display: inline-block;width: 230px;overflow: hidden;vertical-align: middle;height: 28px;line-height: 28px;-ms-text-overflow: ellipsis;text-overflow: ellipsis;white-space: nowrap;}
.recbox .newsList li span a:hover,#gxsoft .textList li a:hover{color:red;}
.recbox.recboxNews .content .left{display: none;}
.recbox.recboxNews .content .left .leftcont{display: none;}
.recbox.recboxNews .content .left div.leftcont.cur{display: block;}
.recbox.recboxNews .content div.left.cur{display: block;}
.recbox .left_page{padding: 2px 0;height: 29px;margin: 5px 0 0 15px;}
.recbox .left_page div{background: url(../images/icon/index_bg.png) no-repeat;}
.recbox .left_page .prev {width: 296px;background-position: 0 -4px;}
.recbox .left_page .next {width: 300px;background-position: 0 -94px;}
.recbox .left_page .location {width: 140px;font-weight: normal;cursor: default;font-size: 14px;background: url(../images/icon/location_bg.gif) repeat-x;}
.left_page div{height: 30px;line-height: 30px;text-align: center;font-weight: 700;float: left;cursor: pointer;}
/*合作伙伴*/
.ftbox{margin-top: 10px;}
.partner .title{height: 30px;line-height: 30px;border-left: 4px solid #008ee1;font-size: 14px;padding-left: 5px;position: relative;background-color: #f5f5f5;text-indent: 0;}
.partner .title strong{font-size:14px}
.partner .linkbox{}
.partner .linkbox li{float: left;width: 148px;height: 80px;overflow: hidden;margin: 10px 25px 0 0;}
.partner .linkbox .parLink img{width: 148px;height: 55px;vertical-align: middle;}
.partner .linkbox .parLink span{display: block;height: 27px;line-height: 27px;text-align: center;overflow: hidden;}
/*友情链接*/
.Friendlink{margin-top: 10px;}
.Friendlink .modTab{height: 29px;border-bottom: 1px solid #ddd;}
.Friendlink .modTab li {float: left;height: 28px;margin-right: 5px;background: #f8f8f8;cursor: pointer;line-height: 28px;padding: 0 8px;border-style: solid;border-color: #ddd;border-width: 1px 1px 0;font-size: 14px;}
.Friendlink .modTab span{font-size:12px;}
.Friendlink .modTab .cur{border-color: #ddd;border-top: 1px solid #008ee1;height: 29px;}
.Friendlink .modTab .cur span{color:#008ee1;}
.Friendlink .botBox{border: 1px solid #ddd;border-top: none;overflow: hidden;padding: 10px;}
.botBox .xtaberItem{display: none;}
.botBox .xtaberItem.cur{display: block;}
.fLinkTxt{line-height: 22px;}
.fLinkTxt a{margin-right: 8px;color: #666;}
.idcLink{border-top: 1px dashed #eee;padding-top: 10px;margin-top: 10px;}

/*面包屑导航*/
.crumbsNav{height: 40px;line-height: 40px;}
.crumbsNav a{color:#008EE1;}
.crumbsNav i{margin:0 3px;}
.crumbsNav h2,.crumbsNav h1{display: inline;font-weight: normal;color:#008EE1}

/*软件分类页*/
.Sortlist_l {width: 1028px; padding-top: 16px; border: 1px solid #e8e8e8; border-top: none; background-image: url(../../images/index.2.0/bar-1.jpg); background-repeat: no-repeat; background-position: left top; }
.Sortlist_box {margin-top: 10px; padding-top: 0px; padding-bottom: 0px; padding-left: 10px; float: left; clear: both; padding-right: 0px; border-bottom-width: 1px; border-bottom-style: dashed; border-bottom-color: #999999; width: 1018px;}
.Sortlist_box:last-child{border:none;}
.Sortbigicon {width: 130px; height: 130px; float: left; margin-right: 10px; }
.Sortlist_txt {width: 870px; float: left; }
.Sortlist_txt ul {float: left; width: 870px; display: block; }
.Sortlist_txt ul li {float: left; width: 96px; font-family: "微软雅黑"; font-size: 12px; height: 35px; line-height: 31px; }
.Sortlist_txt ul li a {display: block; background: #f6f6f6; text-align: center; width: 94px; height: 31px; line-height: 31px; -padding: 2px 0 0 0; margin-top: 0; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 1px; padding-right: 0; padding-bottom: 1px; padding-left: 0; }

/*分类列表页*/
.sortsList{}
.sortsList .left{width: 700px;float: left;padding:10px;border:1px solid #EAEAEA;padding-top: 5px}
.left .listButton{height: 36px;line-height: 36px;overflow: hidden;border-bottom:1px solid #EAEAEA;border-bottom: 1px solid #0199dc;background-color: #f5f5f5;}
.left .listButton a{width: 90px;font-size:14px;overflow: hidden;margin-right: 5px;text-align: center;display: inline-block;}
.left .listButton a.cur{background-color: #008EE1;color:#FFF;}
.listCont li{padding-top: 20px;padding-bottom: 20px;position: relative;border-bottom: 1px dotted #C9C8C6;}
.listCont li .img{float: left;width: 70px;}
.listCont li .info{margin-left: 70px;width: 520px;overflow: hidden;}
.listCont li .info h4{font-size:14px;line-height: 20px;height: 20px;overflow: hidden;}
.listCont li .info h4 span{}
.listCont li .info .softExt{height: 24px;line-height: 24px;}
.listCont li .info .softExt span{display: inline-block;vertical-align: middle;margin-right: 5px;}
.listCont li .info .softTitle{height: 22px;line-height: 22px;color:#666664;overflow: hidden;-ms-text-overflow: ellipsis;text-overflow: ellipsis;white-space: nowrap;}
.listCont li .info .tags{margin-top: 5px;}
.listCont li .info .tags a{display: inline-block;padding:0 5px;background-color:#BDBAB5;color:#FFF;margin-right:5px;}
.listCont li .softDown{background-color: #008EE1;color:#FFF;text-align: center;height: 22px;width: 68px;line-height: 22px;border:1px solid #027CC3;position: absolute;right:15px;top: 50%;margin-top: -12px;}
.listCont li .softDown:hover{background-color: #027CC3;}

.sortZtlist {padding-left: 3px;}
.sortZtlist li{width:135px;margin-left: 10px;float: left;height: 26px;overflow: hidden;line-height: 26px;text-align: center;border:1px solid #DFDFDF;margin-bottom: 8px;}
.sortZtlist li:hover{background-color: #008EE1;}
.sortZtlist li:hover a{color:#FFF}
/*分页*/
.page{text-align: center;margin-top:20px;font-size:0;}
.page a{display: inline-block;height: 20px;line-height: 20px;padding:0 5px;border:1px solid #B0B0B0;font-size:12px;margin-right: 3px;margin-left: 3px;}
.page span{font-size:12px;}
.sortsList .right{width: 300px;float: right;}
.secondSort li{width:135px;margin-left: 10px;float: left;height: 26px;line-height: 26px;text-align: center;border:1px solid #DFDFDF;margin-bottom: 8px;}
.secondSort li.cur{background-color: #008EE1;}
.secondSort li.cur a{color:#FFF}
.secondSort .title{height: 32px;line-height: 32px;border-bottom: 1px solid #ccc;font-weight: normal;font-size: 16px;margin: 5px 0;padding-left:10px;}
.gg300{margin-top: 20px;width: 300px;text-align: center;overflow: hidden;}
.chartsSoft{margin-top: 20px;}
.sidebarTab .head{height: 40px;line-height: 40px;border-bottom: 1px solid #ccc;font-size:14px;overflow: hidden;}
.sidebarTab .head ul{float: left;}
.sidebarTab .head li{float: left;position: relative;text-align: center;background-color: #F1F0EE;cursor:pointer;}
.chartsSoft .head ul{width: 100%;}
.chartsSoft .head li{width: 49.9%;}
.chartsSoft .head li.short{width: 50px;}
.chartsSoft .head li.yearRk{width: 70px;}
.sidebarTab .head li i{border-width: 0px;border-style:solid dashed dashed dashed;border-color:#008EE1 transparent transparent transparent;width: 0; height: 0;overflow: hidden; position: absolute;left:50%;margin-left: -4px;bottom:-16px;}
.sidebarTab .head li.cur{background-color: #008EE1;color:#FFF;}
.sidebarTab .head li.cur i{border-width: 8px;}
.sidebarTab .head .more{float: right;color:#B3AEAA;}
.sidebarTab .tabItem{display: none;}
.sidebarTab .tabItem.on{display: block;}
.chartsSoft .chartsSoftBox{padding: 6px 9px 5px 9px;background:url(../images/icon/orank.jpg) 12px 11px no-repeat;}
.chartsSoft .chartsSoftBox li{height: 35px;line-height: 35px;overflow: hidden;text-indent: 34px;border-bottom: 1px dashed #f0f0f0;}
.hotSoftTag .head ul{width: 100%;}
.hotSoftTag .head li{width:49.9%;}
.hotSoftTag .tabItem{margin-top: 20px;}
.hotSoftTag .hotsoftBox dl{height: 60px;padding-top: 5px;padding-bottom: 5px;}
.hotSoftTag .hotsoftBox dl dt{float: left;width: 18px;height: 53px;line-height: 1;padding-top: 7px;padding-left: 7px;letter-spacing: 25px;text-align: center;background-color: #c8e8f3;color:#008EE1;overflow: hidden;}
.hotSoftTag .hotsoftBox dl dd{margin-left: 35px;display: block;border-bottom: 1px dashed #ccc;height: 60px;padding-bottom: 5px;}
.hotSoftTag .hotsoftBox dl dd div{float: left;width: 49.9%;height: 30px;line-height: 30px;overflow: hidden;}
.hotSoftTag .hotsoftBox dl dd div img{vertical-align: middle;width: 20px;height: 20px;}
.hotSoftTag .tagBox{padding:6px 9px;}
.hotSoftTag .tagBox a{margin-right: 5px;}
.hotSoftTag .tagBox a:hover{color:#008EE1}
.hotNewTag .head ul,.hotZtTag .head ul{width: 100%;}
.hotNewTag .head li,.hotZtTag .head li{width: 49.9%;}
.sidebarRec{margin-top: 20px;}
.sidebarRec h4{height: 26px;font-size:16px;font-weight: normal;line-height: 26px;border-bottom: 1px solid #E5E5E5;margin-bottom: 10px;}
.sidebarRec ul li{height: 24px;overflow: hidden;padding-left:8px;background: url(../images/icon/dian.png) 0 center no-repeat;line-height: 24px;}
/*回顶部*/
.srolltool{width: 22px;background-color:#008EE1;color:#FFF;text-align: center;position:fixed;z-index: 3;left:50%;top:50%;margin-left: 200px;display: none;}
.srolltool.show{display: block;}
.srolltool *{display: block;height: 65px;padding-top: 10px;cursor:pointer;position: relative;}
.srolltool a{color:#FFF;}
.srolltool i{padding:0;border-width: 5px;width: 0; height: 0;overflow: hidden; position: absolute;left:50%;margin-left: -4px;}
.srolltool i.top{border-style:dashed dashed solid dashed;border-color:transparent transparent #fff transparent;top:0}
.srolltool i.btm{border-style:solid dashed dashed dashed;border-color:#fff transparent transparent transparent;bottom:0px;}

/*下载排行列表页*/
.hotZt{position: relative;border:1px solid #D8D8D8;border-left: none;border-right:none;margin-top: 13px;}
.hotZt .btn{position: absolute;width: 41px;height: 164px;text-align: center;background-color: #008EE1;color:#FFF;background:url(../images/icon/ztbtn.jpg);background-repeat: no-repeat;text-indent: -1000px;top:-1px;overflow: hidden;}
.hotZt .leftBtn{left: 0;background-position: 0 0;}
.hotZt .rightBtn{right:0;background-position:-41px 0;cursor:pointer;}
.hotZt .listZt{margin-left: 60px;margin-top: 13px;margin-bottom: 10px;width: 930px;overflow: hidden;height: 140px;position: relative;}
.hotZt .listZt ul{width: 200%;position: absolute;}
.hotZt .listZt li{border:1px solid #C4C4C4;background-color: #FFF;padding:3px;width: 135px;margin-right: 12px;float: left;}
.hotZt .listZt span{display: block;background-color: #F3F3F3;height: 28px;line-height: 28px;text-align: center;}
/*排行类别*/
.downRank .tabBtn{height: 41px;overflow: hidden;margin-bottom: 10px;}
.downRank .tabBtn span{display:block;height: 37px;float: left;text-align: center;border-bottom: 3px solid #008EE1;margin-right:1px;background-color: #FFF;}
.downRank .tabBtn span a{display: block;height: 36px;line-height: 36px;}
.downRank .tabBtn span.cur a{color:#fff;background-color: #008EE1;}
.sortSystem{height: 41px;margin-left: 5px;}
.sortSystem span{width:78px;height: 37px;}
.rankrubric{width: 800px;margin:0 auto;}
.rankrubric span{width: 198px;}
.downRank .downRankHead{height: 35px;line-height: 35px;background-color: #EDF5F8;}
.downRank .downRankHead span{float: left;text-align: center;}
.softSort{width: 125px;}
.sortTitle{width: 360px;}
.softSize{width: 95px;}
.softLan{width: 90px;}
.softPop{width: 110px;}
.softDro{width: 110px;}
.sortTime{width: 105px;}
.downRankCt li{height: 40px;line-height: 40px;overflow: hidden;border-bottom: 1px solid #F4F4F4;}
.downRankCt li>*{display: inline-block;overflow: hidden;height: 40px;}
.downRankCt li span{text-align: center;}
.downRankCt li .titleimg{margin-left: 20px;}
.downRankCt li .titleimg img{width: 20px;height: 20px;vertical-align: middle;}
.downRankCt li .classname{width: 65px;text-align: center;}
.downRankCt li .classname .sort{color:#a09893;}
.downRankCt li .title{width: 380px;-ms-text-overflow: ellipsis;text-overflow: ellipsis;white-space: nowrap}
.downRankCt li .title img{vertical-align: middle;width: 20px;height: 20px;}
.downRankCt li .size{width: 80px;}
.downRankCt li .lan{width: 90px;}
.downRankCt li .pop{width: 110px;}
.downRankCt li .dro{width: 100px;}
.downRankCt li .time{width: 105px;color:#FF8790;}
/*最新软件和资讯*/
.softNewsHot{margin-top: 30px;}
.softNewsHot .item{width: 200px;margin-right: 7px;float: left;overflow: hidden;}
.softNewsHot .item h4{height: 40px;line-height: 40px;font-size: 16px;font-weight: normal;padding-left: 10px;}
.softNewsHot .item .itemnumbs{padding: 6px 9px 5px 9px;background:url(../images/icon/orank.jpg) 12px 11px no-repeat;}
.softNewsHot .item .itemnumbs li{height: 35px;line-height: 35px;overflow: hidden;text-indent: 34px;border-bottom: 1px dashed #f0f0f0;-ms-text-overflow: ellipsis;text-overflow: ellipsis;white-space: nowrap;}
.softNewsHot .item .itemdian{padding: 6px 9px 5px 9px;}
.softNewsHot .item .itemdian li{height: 35px;overflow: hidden;border-bottom: 1px dashed #f0f0f0;padding-left:8px;background: url(../images/icon/dian.png) 0 center no-repeat;line-height: 35px;-ms-text-overflow: ellipsis;text-overflow: ellipsis;white-space: nowrap;}
/*PC下载详情页*/
.topad{margin-top:10px;}
.softDownIfTop{border:1px solid #008EE1;padding:8px;height: 64px;}
.softDownIfTop .title{float: left;overflow: hidden;}
.softDownIfTop .title a.img{display: block;width: 64px;height: 64px;float: left;}
.softDownIfTop .title a.img img{width: 64px;height: 64px;}
.softDownIfTop .title h3,.softDownIfTop .title h2{margin-left: 70px;height: 64px;line-height: 64px;font-size:24px;-ms-text-overflow: ellipsis;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.softDownIfTop .title h3 div.name,.softDownIfTop .title h2 div.name{width: 490px;overflow: hidden;text-overflow: ellipsis;float: left;}
.softDownIfTop .title h2 div.pcname{width: 790px;}
.softDownIfTop .baidufx{width: 155px;display: inline-block;margin-top: 20px;float: left;margin-left: 5px;display: inline;}
.softDownIfTop .title p{margin-left: 105px;height: 24px;line-height: 24px;font-size:14px;}
.softDownIfTop .anandios{float: left;width: 260px;}
.softDownIfTop .anandios a{display: block;width: 60px;text-align: center;padding-top: 55px;background-image:url(../images/icon/downdetail.png);background-repeat:no-repeat;float: left;margin-left: 64px;_display:inline;}
.softDownIfTop .anandios a.an{background-position:0 0;}
.softDownIfTop .anandios a.ios{background-position:-60px 0;}
.softDownIfTop .anandios a span{display: block;}
.softdtmb{font-size: 12px;margin-left: 10px}
.softDownIfTop .dingcai{height: 64px;float: right;}
.softDownIf{margin-top:10px;}
.softDownIf .left{width: 730px;float: left;border:1px solid #EAEAEA;}
.softinfoBox{width: 400px;float: left;}
.softDownIf .left .softinforel{padding:12px;}
.softDownIf .left .softinfo{width: 400px;font-size: 14px;}
.softDownIf .left .softinfo li{width: 180px;float: left;height: 26px;line-height: 26px;overflow: hidden;white-space: nowrap;-ms-text-overflow: ellipsis;text-overflow: ellipsis;}
.softDownIf .left .softinfo li.l{width:240px}
.softDownIf .left .softinfo li.r{width:150px}
.softDownIf .left .softinfo li:nth-of-type(odd){width:240px}
.softDownIf .left .softinfo li:nth-of-type(even){width:150px}
.softinfoBox .leftxzsc{float: left;}
.softinfoBox .rightrwm{float: left;margin-top:14px;margin-left: 66px;display: inline;}
.softinfoBox .rightrwm span{display: block;font-size:14px;text-align: center;position: relative;cursor:pointer;width: 100px;}
.softinfoBox .rightrwm span::before{background: url(../images/icon/iconewm.png);content:'';width: 23px;height: 23px;position: absolute;left: -27px;}
.softinfoBox .rightrwm img{width: 86px;height: 86px;display: none;position: absolute;left: 105px;top:-35px;}
.softinfoBox .rightrwm span:hover img{display: block;}
.softinfoBox .xzsc{margin-top:10px;font-size:14px;}
.softinfoBox .xzsc a{width: 100px;height: 33px;text-indent: 30px;display: block;line-height: 33px;float: left;cursor: pointer;}
.softinfoBox .xzsc a#seeJt{background: url(../images/icon/icon_dz.jpg) no-repeat 0 }
.softinfoBox .xzsc a#addcollect{background: url(../images/icon/icon_sc.jpg) no-repeat 0 }
.softinfoBox .meg{margin-top:-32px;}
.softinfoBox .meg a{background: url(../images/icon/adbtn.jpg) left top no-repeat;display: block;width: 145px;height: 25px;padding: 35px 0 0 85px;color: #fff;float: left;}
.softinfoBox .dincai{width: 162px;height: 30px;overflow: hidden;float: right;}
.softinfoBox .dincai{}
.softinfoBox .dincai .dincaibox{height: 24px;padding-top: 10px;}
.dincai .dincaibox .icon{display:block;float: left;height: 21px;width: 21px;background-image:url(../images/icon/downdetail.png);background-repeat:no-repeat;margin-right:10px;cursor:pointer;}
.dincai .dincaibox .icon.din{background-position: 0 -130px;}
.dincai .dincaibox .icon.cai{background-position: 0 -94px;}
.dincai .dincaibox .showwidth{margin-top: 13px;width: 80px;height: 5px;display: block;float: left;background-color: #D4D4D4;border:1px solid #B0B0B0;margin-right:10px;}
.dincai .dincaibox .showwidth.showCai{margin-top:5px;}
.dincai .dincaibox .showwidth span{display: block;height: 5px;}
.dincai .dincaibox .showwidth.showDin span{background-color: #FF7E47;}
.dincai .dincaibox .showwidth.showCai span{background-color: #25ABE8;}
.dincai .dincaibox .num.dinnum{line-height: 30px;}
.softDownIf .left .relateSoft{width: 290px;float: right;font-size:14px;}
.softDownIf .left .relateSoft h4{height: 24px;line-height: 24px;color:#008EE1;background-color: #C7EAFF;text-indent: 5px;}
.softDownIf .left .relateSoft li{height: 26px;line-height: 26px;overflow: hidden;border-bottom: 1px dashed #E1E1DF;}
.softDownIf .left .relateSoft li span{float: left;width: 250px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis}
.softDownIf .left .relateSoft li a{color:#008EE1;}
.softDownIf .left .relateSoft li i{float: right;color:#97948F;}
.softDownIf .right{float: right;}
.softDownIf .right .gg300{margin:0;height: 185px;}

.downxzqad{margin-top: 10px;}

.downdecail .left{border:none;padding:0;width: 730px;}
.downdecail .downdecailHeads{height: 40px;line-height: 40px;width: 728px;border:1px solid #EEEDEB;margin-top:20px;background-color: #f7f7f7;z-index: 12;}
.downdecail .downdecailHeads.fixed{position: fixed;top:0;margin-top:0;}
.downdecail .downdecailHeads>div{display: block;position: relative;width:103px;border-right:1px solid #EEEDEB;font-size:16px;text-align: center;float: left;}
.downdecail .downdecailHeads>div:last-child{border:none;}
.downdecail .downdecailHeads>div.cur{border-top:2px solid #008EE1;height: 38px;font-weight: bold;}
.downdecail .downdecailHeads>div.more{border-right:none;width: 200px;background:url(../images/icon/mver.png) 160px -40px no-repeat;}
.downdecail .downdecailHeads>div.more>a{color:#008EE1;}
.downdecail .downdecailHeads>div.more ul{position: absolute;width: 220px;overflow: hidden;border:1px solid #ccc;display: none;background-color: #FFF;z-index: 1;}
.downdecail .downdecailHeads>div.more:hover ul{display: block;}

.downdecail .downdecailItem{padding:10px;border:1px solid #E1E1DF;margin-top: 15px;}
.downdecailItem.downdecailItemJS .title{height: 40px;line-height: 40px;background:url(../images/icon/dian2.png) 0 center repeat-x;}
.downdecailItem.downdecailItemJS .title strong{background-color: #FFF;font-size:18px;display: block;padding-right:15px;float: left;}
.downdecailItem .cont{}
.downdecailItem .cont .imginfo{border-bottom:1px solid #EEE;padding-bottom:10px;position: relative;line-height: 20px;}
.downdecailItem .cont .imginfo img.logoimg{width: 121px;height: 75px;float: left;margin-right:10px;margin-bottom: 10px;}
.downdecailItem .cont .imginfo div.text{}
.downdecailItem .cont .imginfo div.imginfoWrap{line-height: 30px;font-size:14px;min-height:205px;overflow: hidden;}
.downdecailItem .cont .imginfo .more{color:#28B5E8;cursor:pointer;}
.downdecailItem .cont .xgshach li{height: 30px;line-height: 30px;overflow: hidden;}
.downdecailItem .cont .xgshach li a{color:#3166CB;margin-right:10px;}
.downdecailItem .cont .sortTS{padding:10px;}
.downdecailItem .cont .sorttext{padding:10px;}
.downdecailItem .cont .sorttext img{max-width: 680px;}
.downdecailItem .cont .sorttext .text{line-height: 30px;}
.downdecailItem .cont .sortTS .text{min-height: 180px;overflow: hidden;height:180px;line-height: 20px;font-size:14px;}
.downdecailItem .cont .sortTS .text strong{color:#F5B075;}
.downdecailItem .cont .sortTS .more,.downdecailItem .cont .sortZMY .more{color:#28B5E8;cursor:pointer;font-size:12px;}
.downdecailItem .cont .sortZMY .text{min-height: 300px;height: 300px;overflow: hidden;}
.sortTS .text.lan,.imginfo .imginfoWrap.lan,.sortZMY .text.lan{height:auto !important;}
.downdecail .downdecailItem2{padding:0 7px;}
.downdecailItem2 .title{height: 40px;line-height: 40px;font-size:18px;}
.downdecailItem2 .title strong{border-top:2px solid #17A8E5;margin-top:-2px;display: block;float: left;padding:0 10px;}
.downdecailItem2 .cont{padding:10px 0;}
.cont .xgList li{height: 30px;line-height: 30px;overflow: hidden;font-size:14px;padding-left:15px;background:url(../images/icon/dian3.png) 5px center no-repeat;border-bottom: 1px dashed #ccc;width: 300px;margin-right: 30px;float: left;}
.downdecailItem2 .cont .sszttop{height: 145px;overflow: hidden;}
.cont .sszttop img{float: left;width: 270px;height: 145px;display: block;}
.cont .sszttop h4{margin-left: 280px;height: 30px;font-size: 16px;line-height: 30px;}
.cont .sszttop p{margin-left: 280px;}
.cont .ssztlist{margin-top:10px;}
.cont .ssztlist ul li{float: left;width: 220px;background-color: #F5F5F5;margin-right:15px;margin-bottom: 15px;float: left;height: 75px;padding-top: 5px;overflow: hidden;}
.cont .ssztlist ul li .img{width: 70px;height: 75px;float: left;text-align: center;}
.cont .ssztlist ul li img{width: 50px;height: 50px;display: block;margin: 0 auto;}
.cont .ssztlist ul li .img span{display: block;width: 50px;background-color: #008ee1;color:#fff;margin: 5px auto 0px;}
.cont .ssztlist ul li h4{margin-left: 80px;height: 30px;line-height: 30px;font-size:14px;font-weight: normal;}
.cont .ssztlist ul li p{margin-left: 80px;color:#B0B2CB;height: 18px;overflow: hidden;}
.cont .xgxzlist ul li{float: left;width: 220px;background-color: #F5F5F5;margin-right:15px;margin-bottom: 15px;float: left;height: 75px;padding-top: 5px;overflow: hidden;}
.cont .xgxzlist ul li .img{width: 70px;height: 75px;float: left;text-align: center;}
.cont .xgxzlist ul li img{width: 50px;height: 50px;display: block;margin: 0 auto;}
.cont .xgxzlist ul li .img span{display: block;width: 50px;background-color: #008ee1;color:#fff;margin: 5px auto 0px;}
.cont .xgxzlist ul li h4{margin-left: 80px;height: 30px;line-height: 30px;font-size:14px;font-weight: normal;}
.cont .xgxzlist ul li p{margin-left: 80px;color:#B0B2CB;height: 18px;overflow: hidden;}
.cont .sortPic{position: relative;min-height: 400px;overflow: hidden;}
.cont .sortPic .btn{position: absolute;top: 50%;background-repeat:no-repeat;background-position: 0 0;width: 52px;height: 52px;z-index: 2;cursor:pointer;}
.cont .sortPic .btn.prev{background-image:url(../images/icon/prev.png);left: 0;}
.cont .sortPic .btn.next{background-image:url(../images/icon/next.png);right:0}
.cont .sortPic .piccont{position: relative;min-height: 400px;}
.cont .sortPic .piccont li{width: 100%;text-align: center;opacity: 0;filter:alpha(opcity=0);position: absolute;z-index: 0;-webkit-transition: 1s;-moz-transition: 1s; -ms-transition: 1s;-o-transition: 1s;transition: 1s;}
.cont .sortPic .piccont li img{max-width:600px;height:400px;}
.cont .sortPic .piccont li.cur{opacity:1;z-index: 1;}
.downdecailItemXZDZ .head{height: 40px;line-height: 40px;background-color: #F7F7F7;margin-left:-7px;margin-right:-7px;border-bottom: 1px solid #ddd;}
.downdecailItemXZDZ .head span{padding:0 20px;border-right:1px solid #DDDDDD;display: block;float: left;cursor:pointer;}
.downdecailItemXZDZ .head span.cur{border-bottom: 2px solid #94CCFF;}
.cont .XZDZitem{display: none;}
.cont .XZDZitem.cur{display: block;}
.cont .XZDZitem .downDz{width: 280px;float: left;margin-right: 20px;position: relative;}
.cont .XZDZitem .downDz h4{height: 26px;line-height: 26px;background-color: #EAF7FF;;text-indent: 10px;color:#1D5BA8;margin-top: 12px;}
.cont .XZDZitem .downDz .downgs{margin-top:12px;}
.cont .XZDZitem .downDz .downgs a{display: block;float: left;margin-right: 12px;margin-bottom:12px;width: 85px;height: 24px;line-height: 24px;background-image:url(../images/icon/downgs2.jpg);background-repeat:no-repeat;overflow: hidden;padding-left:35px;color:#FFF;}
.cont .XZDZitem .downDz .downlist li{width: 125px;overflow: hidden;float: left;height: 24px;line-height: 24px;}
.cont .XZDZitem .downDz .downlist li span{width: 16px;height: 16px;display: inline-block;vertical-align: middle;margin-right: 5px;}
.cont .XZDZitem .downDz .downlist li .downx1{background: url(../images/icon/downx1.png) 0 0 no-repeat;}
.cont .XZDZitem .downDz .downlist li .downx2{background: url(../images/icon/downx2.png) 0 0 no-repeat;}
.cont .XZDZitem .downDz .downlist li .downx3{background: url(../images/icon/downx3.png) 0 0 no-repeat;}
.cont .XZDZitem .downDz .downlist li .downxnone{background:none;}
.cont .XZDZitem .downDz p.downtu{width: 240px;height: 80px;position: absolute;left: -250px;top: 40px;background: url(../images/icon/downtu.gif) no-repeat;text-indent: -9999px;overflow: hidden;}
.cont .XZDZitem .ad{width: 330px;float: left;}
.cont .plbox .pltitle{height: 24px;line-height: 24px;}
.cont .plbox .pltitle .name{background-color: #008EE1;width: 210px;float: left;margin-right: 10px;}
.cont .plbox .pltitle .name span{color:#FFF;width: 50px;display: block;float: left;text-align: center;}
.cont .plbox .pltitle .name input{background-color: #FFF;width: 155px;float: left;height: 22px;margin-top: 1px;padding-left: 4px;}
.cont .plbox .textarea{margin-top:10px;}
.cont .plbox textarea{display: block;width: 695px;padding:5px 5px;height: 65px;border:1px solid #ccc}
.cont .plbox .btnbox{height: 30px;line-height: 30px;margin-top: 10px;}
.cont .plbox .btnbox .btn{float: right;width: 65px;background-color: #008EE1;text-align: center;color:#FFF;height: 30px;line-height: 30px;cursor:pointer;}
.cont .pllist{margin-top: 10px;}
.cont .pllist .cominfo{background-color: #F3FBF0;height: 26px;padding-left: 10px;height: 24px;line-height: 24px;}
.cont .pllist .cominfo .level{color:#528100}
.cont .pllist .plcontent{padding-top: 10px;color: #666666;font-size: 14px;max-height: 80px;overflow: hidden;line-height: 24px;padding-left: 10px}
.cont .pllist .plcontent .ding{text-align: right;}
.cont .guessbox li{width: 70px;overflow: hidden;float: left;margin-right:15px;}
.cont .guessbox li img{width: 70px;height: 70px;}
.cont .guessbox li p{height: 40px;line-height: 40px;overflow: hidden;text-align: center;}
.cont .xgztbox li{width: 136px;overflow: hidden;float: left;margin-right:5px;}
.cont .xgztbox li img{width: 136px;height: 77px;}
.cont .xgztbox li p{height: 40px;line-height: 40px;overflow: hidden;text-align: center;}
.hotsoft{border:1px solid #E2E2E2;margin-top:10px;}
.hotsoft .title{height: 30px;line-height: 30px;background:url(../images/icon/lingr.png);padding-left: 10px;border-bottom: 1px solid #E2E2E2;}
.hotsoft .hotsoftList{padding:10px;line-height: 24px;}
.hotsoft .hotsoftList a{margin:0 5px;}
.greatrec{margin-top:10px;}
.greatrec .title{height: 30px;line-height: 30px;background-color:#F1F1F1;border-left: 1px solid #FF7700;text-indent: 10px;}
.greatrec .greatrecList{margin-top:10px;overflow: hidden;}
.greatrec .greatrecList ul{margin-right:-35px;}
.greatrec .greatrecList li{border:1px solid #ddd;background-color: #FFF;padding:3px;width: 135px;float: left;margin-right: 35px;-webkit-box-shadow: 5px 5px 5px #F1F1F1;box-shadow: 5px 5px 5px #F1F1F1;}
.greatrec .greatrecList li img{width: 135px;height: 100px;display: block;}
.greatrec .greatrecList li span{display: block;height: 26px;line-height: 26px;text-align: center;background-color: #F1F1F1;}
/*移动下载详情*/
.secondNav{height: 30px;line-height: 30px;background-color: #F5F5F5;margin-top:10px;}
.secondNav li{position: relative;padding:0 20px;float: left;}
.secondNav li .erUl{position: absolute;z-index: 2;width: 150px;display: none;top: 30px;left: 0;width: 330px;padding: 8px 7px 7px;background-color: rgba(1, 153, 220, 0.69);}
.secondNav li .erUl a{color:#FFF;margin:0 5px;}
.secondNav li:hover .erUl{display: block;}
.appsoftDownIf{}
.appsoftDownIf .letfCt{float: left;width: 730px;}
.downdecailItemApp .title{border-bottom: 1px solid #EEE;font-size:16px;margin-bottom: 10px;}
.downdecailItemApp.downdecailItemJS .title strong,.downdecailItemApp .title strong{border-top:none;margin-top: 0;border-bottom: 1px solid #94C804;font-size:14px;}
.downdecailItemApp.downdecailItemJS .title{background:none;}
.downdecailItemApp .cont .xgList li{height: 30px;line-height: 30px;overflow: hidden;font-size:14px;padding-left:15px;background:none;border-bottom: 1px dashed #ccc;width: 300px;margin-right: 30px;float: left;}
.letfCt .imgbox{float: left;width: 130px;padding:0 5px;}
.letfCt .imgbox img{display: block;width: 128px;height: 128px;}
.letfCt .imgbox .dingcai{height: 30px;line-height: 30px;text-align: center;margin-top: 14px;}
.letfCt .imgbox .dingcai a{display: inline-block;background-image: url(../images/icon/downdetail.png);background-repeat:no-repeat;padding-left:23px;width: 40px;overflow: hidden;}
.letfCt .imgbox .dingcai a.dinicon{background-position: 0 -126px;}
.letfCt .imgbox .dingcai a.caiicon{background-position: 0 -90px;}
.letfCt .imgbox .downdz{margin-top: 10px;}
.letfCt .imgbox .downdz a{width: 125px;height: 33px;text-indent: 45px;display: block;line-height: 33px;margin-right: 9px;display: block;cursor: pointer;background: url(../images/icon/detail.png) no-repeat 5px -70px}
.letfCt .centerCt{width: 375px;float: left;}
.letfCt .centerCt h4,.letfCt .centerCt h2{font-size:26px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.letfCt .centerCt .softinfo{}
.letfCt .centerCt .softinfo li{width: 175px;padding-left: 5px;float: left;background-color: #E8E8E8;height: 24px;line-height: 24px;margin-right:5px;}
.letfCt .centerCt .softinfo li.greys{background-color: #F0F0F0;}
.letfCt .centerCt .softinfo li span h2{display: inline-block;font-size: 12px;font-weight: normal;overflow: initial;}
.letfCt .centerCt .meg{margin-top:10px;height: 60px;}
.letfCt .centerCt .meg a.down{background: url(../images/icon/adbtn.jpg) left top no-repeat;float: left;width: 145px;height: 25px;padding: 35px 0 0 85px;color: #fff;}
.letfCt .centerCt .meg a.qtdown{float: left;background: url(../images/icon/downdetail.png);padding-top: 40px;margin-left:5px;height: 20px;line-height: 20px;text-align: center;width: 55px;float: left;_display:block;}
.letfCt .centerCt .meg a.macdown{background-position: -165px 0;}
.letfCt .centerCt .meg a.pcdown{background-position: -245px 0;}
.letfCt .ewmCt{float: left;margin-left: 25px;_display:inline;}
.letfCt .ewmCt img{width: 140px;height: 140px;}
.letfCt .ewmCt span{display: block;height: 60px;line-height: 60px;text-align: center;font-size:14px;}
.appsoftDownIf .rightAc{float: right;width: 300px;overflow: hidden;}
.appsoftDownIf .rightAc{width: 300px;float: right;overflow: hidden;text-align: center;}
.downdecailItemApp .cont .sortPic{min-height: 400px;}
.cont .appXZDZ{border:1px solid #ccc;padding:10px 0;}
.cont .appXZDZ .headNav{width: 145px;float: left;}
.cont .appXZDZ .headNav span{display: block;height: 30px;line-height: 30px;text-align: center;width: 100px;position: relative;cursor:pointer;}
.cont .appXZDZ .headNav span i{border-width: 15px;border-style:dashed dashed dashed solid;border-color: transparent transparent transparent #018DE2;width: 0; height: 0;overflow: hidden; position: absolute;right:-30px;top:0px;display: none;}
.cont .appXZDZ .headNav span.cur{background-color: #018DE2;color:#FFF;}
.cont .appXZDZ .headNav span.cur i{display: block;}
.cont .appXZDZ .XZDZitem{margin-left: 150px;padding-top: 20px;display: none;}
.cont .appXZDZ .XZDZitem .imgleftC{width: 360px;float: left;}
.cont .appXZDZ .XZDZitem .imgleftC img{float: left;width: 80px;height: 80px;}
.cont .appXZDZ .XZDZitem .imgleftC h4{margin-left: 90px;height: 30px;overflow: hidden;line-height: 30px;font-size:18px;}
.cont .appXZDZ .XZDZitem .imgleftC p{margin-left: 90px;height: 24px;line-height: 24px;color:#999997;}
.cont .appXZDZ .XZDZitem .imgrightC{width: 120px;float: left;}
.cont .appXZDZ .XZDZitem .imgrightC a{display: block;height: 40px;line-height: 40px;text-align: center;background-color: #F59821;color:#FFF;margin-bottom: 10px;}
.cont .appXZDZ .XZDZitem .imgrightC a.bgblue{background-color: #008EE2;}
.cont .appXZDZ .XZDZitem.cur{display: block;}
.accordRank{padding:0 10px;margin-top: 20px;}
.accordRank .title{height: 40px;line-height: 40px;font-size:17px;border-bottom: 1px solid #0199dc;}
.accordRank .accordRankList{margin-top: 10px;}
.accordRank .accordRankList li{font-size:14px;height: 50px;overflow: hidden;line-height: 50px;border-bottom: 1px solid #ccc;}
.accordRank .accordRankList li i{width: 18px;height: 18px;float: left;margin-top:15px;margin-right: 10px;text-align: center;display: inline-block;line-height: 18px;background-color: #999999;color:#FFF;}
.accordRank .accordRankList li i.bgbu{width: 18px;height: 18px;text-align: center;line-height: 18px;background-color: #018DE2;}
.accordRank .accordRankList li img{width: 64px;height: 64px;margin-left: 13px;float: left;}
.accordRank .accordRankList li span.name{width:160px;float: left;display: inline-block;overflow: hidden;vertical-align:text-top;}
.accordRank .accordRankList li span.leix{float: right;width: 65px;overflow: hidden;vertical-align:text-top;}
.accordRank .accordRankList li img{display: none;}
.accordRank .accordRankList li.cur{height: 80px;padding-top: 20px;}
.accordRank .accordRankList li.cur img{display:inline-block;}
.accordRank .accordRankList li.cur .name{height: 32px;line-height: 32px;margin-left: 10px;}
.accordRank .accordRankList li.cur .leix{height: 32px;line-height: 32px;margin-left: 10px;float: left;}
.qitaRank{margin-top: 20px;padding:0 10px;}
.qitaRank .title{height: 40px;line-height: 40px;font-size:17px;border-bottom: 1px solid #0199dc;}
.qitaRank .title span{padding:0 5px;float: left;background-color: #FFF;}
.qitaRank .title a.more{float: right;background-color: #FFF;font-size:14px;}
.qitaRank .linkBox{float: left;width: 49.9%;margin-top:10px;}
.qitaRank .qitaRankList{margin-top: 10px;}
.qitaRank .qitaRankList li{float: left;width: 70px;margin-right: 20px;float: left;text-align: center;}
.qitaRank .bizhiList li{width: 120px;float: left;margin-right: 10px;margin-top:10px;margin-bottom: 10px;position: relative;}
.qitaRank .bizhiList li span{position: absolute;height: 24px;line-height: 24px;background-color:rgba(0,0,0,.5);color:#FFF;text-align: center;width: 100%;bottom: 0;left: 0;}
.qitaRank .linkList a{margin:0 5px;}
.qitaRank .qitaRankItem{display: none;}
.qitaRank .qitaRankItem.cur{display: block;}

#autotab {display: none;position: fixed;top: 320px;left: 50%;cursor: pointer;margin-top: -50px;margin-left: 220px;background-color: #FFF;}
#autotab.show{display: block;}
#autotab div{cursor: pointer;line-height: 32px;font-size: 14px;padding-left: 30px;background: url(../images/icon/autotab.jpg) 0 -96px no-repeat;}
#autotab div.cur{color: #0199dc;background-position: 0 -48px;}
#autotab div.fir{background-position: 0 0;}
#autotab div.nota{background-position: 0 -142px}
/* 装机必备首页 */
.neceZt{height: 126px;overflow: hidden;margin-top: 23px;}
.neceZt .btn{width: 37px;height: 126px;background-position: center center;background-repeat:no-repeat;position: absolute;cursor:pointer;}
.neceZt .btn.leftBtn{background-image:url(../images/icon/prevbtn.png);left: 0;}
.neceZt .btn.rightBtn{background-image:url(../images/icon/nextbtn.png);right:0}
.neceZt .listZt{position: absolute;left: 40px;width: 968px;overflow: hidden;height: 126px;}
.neceZt .listZt ul{position: absolute;left: 0;}
.neceZt .listZt li{float: left;width: 230px;text-align: center;height: 126px;margin-right:12px;}
.neceZt .listZt li img{display: block;}
.neceZt .listZt li span{display: block;height: 34px;line-height: 34px;background-color: #848484;color:#FFF;}
.neceItem{margin-top: 5px;}
.neceItem h3.title{height: 60px;line-height: 60px;font-size:20px;border-bottom: 5px solid #3A3E4A;}
.neceItem h3.title span{width: 200px;display: block;border-bottom: 5px solid #008EE1;float: left;text-align: center;}
.neceItem h3.title i{display: block;width: 5px;background-color: #FFF;height: 65px;float: left;}
.neceItem .neceCont{margin-top: 10px;padding-left: 20px;}
.neceItem .neceCont dl{float: left;width: 120px;border:1px solid #CBCCCE;border-top:none;margin-right: 20px;}
.neceCont dl dt{height: 30px;line-height: 30px;text-align: center;background-color: #008EE2;position: relative;color:#FFF;font-size:14px;}
.neceCont dl dt i{position: absolute;border-width: 8px;border-style:solid dashed dashed dashed;border-color: #008EE2 transparent transparent transparent;width: 0; height: 0;overflow: hidden; position: absolute;left:50%;margin-left: -8px;top:30px;}
.neceCont dl dd{text-indent: 10px;margin-top: 10px;}
.neceCont dl dd li{height: 30px;line-height: 30px;}
.neceCont dl dd a{font-size: 14px;vertical-align: middle;display: block;float: left;color: #666666;overflow: hidden;text-decoration: none;height: 30px;}
.neceCont dl dd a img{width: 20px;height: 20px;}
.neceCont dl dd a.name{height: 30px;width: 75px;overflow: hidden;line-height: 30px;text-indent: 10px;}
.neceItemQD dl dt{font-size:16px;background-color: #007334;}
.neceItemQD .neceCont{padding:0;margin-right:-20px;}
.neceItemQD .neceCont dl {width: 190px;margin-right:19px;}
.necesoftRec{margin-top: 10px;margin-right:-10px;}
.necesoftRec .item{float: left;width: 250px;margin-right: 10px;}
.necesoftRec .item .title{height: 40px;line-height: 40px;font-size:16px;}
.necesoftRec .item .itemnumbs{padding: 6px 9px 5px 9px;background:url(../images/icon/orank.jpg) 12px 11px no-repeat;}
.necesoftRec .item .itemnumbs li{height: 35px;line-height: 35px;overflow: hidden;text-indent: 34px;border-bottom: 1px dashed #f0f0f0;-ms-text-overflow: ellipsis;text-overflow: ellipsis;white-space: nowrap;}
.necenewsRec{margin-right:-20px;margin-top: 10px;font-weight: normal;}
.necenewsRec .item{float: left;width: 500px;margin-right: 20px;}
.necenewsRec .item .title{height: 34px;line-height: 34px;border-bottom: 1px solid #CCC;font-size:16px;}
.necenewsRec .item .itemdian li{width:240px;overflow: hidden;padding-left:8px;background: url(../images/icon/dian.png) 0 center no-repeat;line-height: 35px;-ms-text-overflow: ellipsis;text-overflow: ellipsis;white-space: nowrap;float: left;}
.neceFtZt{text-align: center;margin-top:10px;}
.neceFtZt img{height: 160px;margin:0 15px;}

/*专题详情页*/
.specialIfNav{background-color:#EDF8FE;height: 30px;line-height: 30px;text-indent: 30px;}
.specialIfNav a{margin:0 10px;}
.specialIfNav a.cblue{color:#008EE2}
.specialInof{border: 1px solid #ececec;padding: 20px;height: 250px;color: #333;position: relative;margin-bottom: 5px;background: #f5f5f5;}
.specialInof img{width: 508px;height: 247px;float: left;margin-right: 25px;}
.specialInof .cont{float: left;width: 460px;}
.specialInof .cont .title{height: 45px;line-height: 45px;}
.specialInof .cont .title h1{font-size: 24px;color: #f60;font-weight: 400;height: 45px;line-height: 45px;float: left;margin: 0;}
.specialInof .cont .title em {float: left;width: 92px;padding-left: 28px;height: 28px;line-height: 28px;font-size: 14px;color: #333;margin: 10px 0 0 10px;background: url(../images/icon/kicon2.png) 2px 7px no-repeat;}
.specialInof .cont .nr{overflow: hidden;clear: both;margin-bottom: 0;padding-top: 3px;border-bottom: 1px solid #f0f0f0;border-top: 1px solid #f0f0f0;line-height: 28px;font-size:14px;}
.specialList>ul{margin-right: -33px;}
.specialList li{width: 320px;height: 220px;float: left;position: relative;color: #838383;margin: 30px 33px 10px 0;background: url(../images/icon/bg_case_f.png) 0 bottom no-repeat;}
.specialList li div.box{width: 290px;height: 192px;padding: 15px 20px 13px 20px;position: absolute;left: 0;bottom: 14px;background:url(../images/icon/listbg.png) 0 bottom no-repeat;;-webkit-transition:.5s;-moz-transition:.5s;-ms-transition:.5s;-o-transition:.5s;transition:.5s;}
.specialList li a.img{display:block;width:48px;height:48px;float:right;margin-right:5px}
/*.specialList li:hover div.box{bottom:30px;}*/
.list li img{width:48px;height:48px;}
.specialList li a.img img{width: 48px;height: 48px;}
.specialList li a.down{width: 60px;height: 30px;color: #fff;background: #f69600;text-align: center;line-height: 30px;border-radius: 2px;font-size: 14px;position: absolute;top: 70px;right: 20px;}
.specialList li div.info{width: 235px;float: left;}
.specialList li div.info h4 strong{font-size: 16px;font-weight: bold;height: 26px;line-height: 26px;overflow: hidden;color: #2996da;margin-bottom: 4px;cursor: pointer;}
.specialList li div.info span{display: block;width: 250px;height: 16px;line-height: 16px;padding-left: 0;margin: 3px 0 2px 0;}
.specialList li div.info .icont span{display: block;float: left;width: 95px;height: 28px;line-height: 28px;overflow: hidden;padding-left: 20px;font-size: 13px;}
.specialList li div.info .icont span.bb{background: url(../images/icon/kicon.gif) 0 -16px no-repeat}
.specialList li div.info .icont span.time{background:url(../images/icon/kicon.gif) 0 5px no-repeat;}
.specialList li div.info .icont span.size{background:url(../images/icon/kicon.gif) 0 -38px no-repeat;}
.specialList li div.info .icont span.lan{background:url(../images/icon/kicon.gif) 0 -60px no-repeat;}
.specialList li div.text{clear: both;height: 52px;overflow: hidden;}
.specialList li div.text span{font-weight: bold;color: #f60;margin-right: 5px;font-size: 12px;}
.specialList li div.text strong{font-weight: normal;}
.specialList li div.platform{margin: 5px 0 0 0;color: #333;font-size: 14px;height: 24px;}
.specialList li div.platform a{display: inline-block;height: 16px;line-height: 16px;padding-right: 6px;padding-left: 17px;margin-right: 6px;color: #333;background: url(../images/icon/kicon.png) 0 2px no-repeat;position: relative;}
.specialList li div.platform a div.ewm{position: absolute;z-index:2;}
.specialList li div.box i.tuijian{display: block;width: 23px;height: 61px;background: url(../images/icon/azk.gif) -4px -119px no-repeat;position: absolute;color: #fff;text-align: center;padding: 20px 0 0 0;line-height: 15px;top: -18px;left: 0;}
.specialList li.xbtj .box .tuijian{display: block;background: url(../images/icon/zlist.gif) 0 -114px no-repeat;width: 112px;height: 90px;position: absolute;top: -5px;left: -6px;}
.specialList li.xbtj.lp1 .box .tuijian{background-position: 0 0;}
.specialList li.xbtj.lp2 .box .tuijian{background-position: 0 -225px;;}
.aggregate .title{height: 44px;line-height: 44px;border-bottom: 2px solid #008EE2;font-size:20px;text-indent: 10px;}
.aggregate .title a.more{float: right;font-size:14px;}
.softLinRec{margin-top:10px;}
.softLinRec .title{height: 50px;line-height: 50px;border-bottom: 2px solid #008EE2;}
.softLinRec .title span{font-size:18px;margin-left:20px;color:#008EE2;cursor:pointer;}
.softLinRec .title span.cur{color:#D00B03;}
.softLinRec .item{display: none;line-height: 30px;}
.softLinRec .item.cur{display: block;}
.softLinRec .item a{margin:0 8px;}
/*mac装机必备*/
.neceMac{}
.neceMac .neceMacItem{margin-top: 20px;}
.neceMacItem .title{line-height: 35px;font-size: 18px;color: #FFF;font-family: "微软雅黑";padding-left: 12px;background-color: #008EE2;}
.neceMacItem .content{margin-top: 10px;}
.neceMacItem .content .cen_box{height: 131px;width: 330px;padding: 5px;border: 1px solid #999999;float: left;margin-right: 6px;margin-bottom: 6px;}
.neceMacItem .content .cen_box h4{float: left;height: 131px;width: 170px;margin-right: 10px;}
.neceMacItem .content .cen_box h4 img {height: 131px;width: 170px;}
.neceMacItem .content .cen_box div{float: left;height: 131px;width: 150px;line-height: 20px;}
.neceMacItem .content .cen_box div span{font-size: 15px;font-weight: bold;font-family: "微软雅黑";line-height: 30px;height: 30px;width: 145px;display: block;overflow: hidden;}
.neceMacItem .content .cen_box p{width: 150px;display: block;overflow: hidden;height: 70px;}
.neceMacItem .content .cen_box a.downBtn{width: 90px;height: 26px;line-height: 26px;font-size:14px;-webkit-border-radius: 5px;border-radius: 5px;background-color: #008EE2;color:#FFF;display: block;margin:0 auto;text-align: center;border:1px solid #106395;}
/*装机必备底部*/
.neceItemFt{margin-top: 10px;}
.neceItemFt .item{float: left;width: 286px;padding:0 30px;}
.neceItemFt .item .title{height: 30px;line-height: 30px;font-size:16px;border-bottom: 2px solid #E5E5E5;padding-left: 9px;}
.neceItemFt .item .title .more{float: right;}
.neceItemFt .item .itemnumbs{padding: 6px 9px 5px 9px;background:url(../images/icon/orank.jpg) 12px 11px no-repeat;}
.neceItemFt .item .itemnumbs li{height: 35px;line-height: 35px;overflow: hidden;text-indent: 34px;border-bottom: 1px dashed #f0f0f0;-ms-text-overflow: ellipsis;text-overflow: ellipsis;white-space: nowrap;}
.neceItemFt .item .itemdian{padding: 6px 9px 5px 9px;}
.neceItemFt .item .itemdian li{height: 35px;overflow: hidden;padding-left:8px;background: url(../images/icon/dian.png) 0 center no-repeat;line-height: 35px;-ms-text-overflow: ellipsis;text-overflow: ellipsis;white-space: nowrap;}
/*PC装机必备*/
.necePc{margin-top: 10px;}
.necePc .cen{width: 505px;float: left;margin-right: 10px;background-image: url(../images/icon/nece/con-box.jpg);background-repeat: no-repeat;border:1px solid #ccc;border-top:none;margin-bottom: 10px;}
.necePc .cen .cen_t {height: 38px;font-size: 16px;font-weight: bold;color: rgb(255, 255, 255);text-indent: 26px;line-height: 30px;font-family: "微软雅黑";width: 505px;}
.necePc .cen .cen_box {height: 190px;width: 505px;margin-top: 10px;}
.necePc .cen .cen_box ul {height: 190px;}
.necePc .cen .cen_box ul li{height: 30px;}
.cen_box li a {font-size: 14px;vertical-align: middle;display: block;float: left;color: #666666;overflow: hidden;text-decoration: none;height: 30px;}
.cen_box li a:hover {color: #990033;text-decoration: none;}
.cen_box .name {height: 30px;width: 90px;overflow: hidden;line-height: 30px;text-indent: 10px;}
.cen_box .pp {line-height: 30px;width: 300px;overflow: hidden;color: #666666;}
.cen_box a img {height: 30px;width: 30px;margin-left: 10px;}
.cen_box .down {line-height: 30px;width: 60px;text-align: center;color: #0199DC;font-weight: bold;}
/*苹果安卓装机必备*/
.neceIosAn{}
.neceIosAn .item{border:1px solid #008EE2;margin-top: 10px;}
.neceIosAn .item .itemTitle{height: 35px;line-height: 35px;background-color: #008EE2;color:#FFF;padding:0 10px;font-size:16px;}
.neceIosAn .item .itemTitle a.more{float: right;color:#FFF;}
.neceIosAn .item .itemCt{padding-bottom: 10px;}
.neceIosAn .item .itemCt .pet {float: left;width: 344px;height: 200px;border-right-width: 1px;border-right-style: dashed;border-right-color: #DADADA;border-bottom-width: 1px;border-bottom-style: dashed;border-bottom-color: #DADADA;}
.neceIosAn .item .itemCt .pet img {padding: 15px;height: 100px;width: 100px;float: left;}
.neceIosAn .item .itemCt .pet .Pet_t {width: 200px;float: left;height: 75px;margin-top: 20px;margin-left: 10px;}
.neceIosAn .item .itemCt .pet .Pet_t span {font-size: 14px;height: 24px;overflow: hidden;width: 100%;font-family: "微软雅黑";font-weight: bold;}
.neceIosAn .item .itemCt .pet .star{display: block;height: 35px;line-height: 35px;}
.neceIosAn .item .itemCt .pet .star img {width: 95px;height: 15px;padding: 10px 10px 10px 0px;vertical-align: middle;}
.neceIosAn .item .itemCt .pet .star span{display: block;}
.neceIosAn .item .itemCt .pet .star span.star1{background:url(../images/icon/xj_1.jpg) left center no-repeat;}
.neceIosAn .item .itemCt .pet .star span.star2{background:url(../images/icon/xj_2.jpg) left center no-repeat;}
.neceIosAn .item .itemCt .pet .star span.star3{background:url(../images/icon/xj_3.jpg) left center no-repeat;}
.neceIosAn .item .itemCt .pet .star span.star4{background:url(../images/icon/xj_4.jpg) left center no-repeat;}
.neceIosAn .item .itemCt .pet .star span.star5{background:url(../images/icon/xj_5.jpg) left center no-repeat;}
.neceIosAn .item .itemCt .pet .text {height: 80px;}
.neceIosAn .item .itemCt .pet .text p {width: 300px;line-height: 18px;height: 75px;text-indent: 25px;margin-left: 20px;}
.neceIosAn .item .itemCt .pet .xia {height: 25px;display: block;text-align: center;margin-top: 10px;}
.neceIosAn .item .itemCt .pet .xia a {background-color: #008EE2;color: #FFFFFF;display: block;float: right;margin-right: 20px;width: 70px;height: 25px;line-height: 25px;-webkit-border-radius: 3px;border-radius: 3px;}
/*常玩游戏*/
.necewhole {width: 1038px;margin-right: auto;margin-left: auto;margin-top: 8px;background-color: #FFFFFF;height: 3015px;}
.necewhole .cent {height: 500px;width: 1020px;margin-right: auto;margin-left: auto;}
.necewhole .cent_t {border-bottom-width: 1px;border-bottom-style: solid;border-bottom-color: #cccccc;font-size: 15px;font-weight: bold;line-height:30px ;}
.necewhole .cent_t p {font-size: 16px;line-height: 37px;margin-left: 10px;width: 1010px;}
.necewhole .cent_t p a {float: right;font-size: 13px;color: #999999;text-decoration: none;}
.necewhole .cent_t p a:hover {color: #993300;text-decoration: none;}
.necewhole .cent .cent_box {height: 220px;}
.necewhole .cent_sap {height: 220px;width: 245px;margin-right: 10px;float: left;}
.necewhole .cent_sap h1 {background-color:#eeeeee;font-size: 18px;color: #333333;line-height: 35px;text-indent: 10px;border-radius:10px 10px 0 0;}
.necewhole .cent_sap p {float: left;width: 145px;}
.necewhole .cent_sap span {font-size: 12px;line-height: 35px;font-weight: normal;font-family: "微软雅黑";}
.necewhole .cent_sap img {width: 245px;height: 150px;}
.necewhole .cent_sap .sap_bot {background-color:#eee;border-radius:0 0 10px 10px;height: 35px;}
.necewhole .cent_sap .sap_bot h2 {font-family: "微软雅黑";font-size: 18px;margin-right: auto;margin-left: auto;line-height: 35px;text-align:center ;background-image: url(../images/icon/nece/jiantou.png);background-repeat: no-repeat;background-position: 155px center ;}
.necewhole .cent_sap .sap_bot h2 a {color: #ff5e00;}
.necewhole .cent_sap .sap_bot h2 a:hover {color: #000000;}
.necewhole .both{height: 10px;clear:both;}
/*常用说明*/
.shuo_center{width: 1028px;margin:20px auto 0;}
.shuo_center .tt{height: 30px;line-height: 30px;background:url(../images/icon/qdtit.jpg) center left repeat-x;}
.shuo_center .tt span{display: block;float: left;padding:0 15px;font-size:18px;background-color:#03aeda;color:#FFF;}
.shuo_center .box {height: 200px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;border-right-style: solid;border-bottom-style: solid;border-left-style: solid;border-right-color: #CCCCCC;border-bottom-color: #CCCCCC;border-left-color: #CCCCCC;}
.shuo_center .box ul {float: left;width: 500px;margin-left: 10px;margin-top: 10px;}
.shuo_center .box li {list-style-type: none;height: 30px;overflow: hidden;}
.shuo_center .box li a {width: 400px;color: #666666;display: block;float: left;font-size: 14px;text-decoration: none;vertical-align: middle;}
.shuo_center .box li img {float: left;}
.shuo_center .box .name {height: 30px;line-height: 30px;text-indent: 10px;width: 90px;}
.shuo_center .box .pp {color: #666666;line-height: 30px;margin-left: 10px;}
.shuo_center .box .down {color: #999999;font-weight: bold;line-height: 30px;text-align: center;width: 60px;float: right;}
.shuo_center .both{height: 10px;clear:both;}
/*驱动必备*/
.ncecQd_center{width: 1028px;margin:0 auto;}
.qucen {border-bottom-width: 1px;border-bottom-style: dashed;border-bottom-color: #CCCCCC;height: 400px;border-left: 1px solid #ccc; border-right:1px solid #ccc;}
.qucen .title{height: 30px;line-height: 30px;background:url(../images/icon/qdtit.jpg) center left repeat-x;}
.qucen .title span{display: block;float: left;padding:0 15px;font-size:18px;background-color:#03aeda;color:#FFF;}
.qucen_box {width: 510px;border-right-width: 1px;border-right-style: dashed;border-right-color: #CCCCCC;float: left;}
.qucen_box ul {margin-top: 10px;height: 25px;}
.qucen_box h1 {float: left;margin-left: 10px;}
.qucen_box h1 img{width: 30px;height: 30px;}
.qucen_box li {font-size: 14px;float: left;list-style-type: none;line-height: 30px;margin-left: 10px;width: 450px;}
.qucen_box li span {float: left;line-height: 30px;width: 405px;}
.qucen_box li a {float: left;text-decoration: none;color: #0066FF;font-size: 14px;width: 45px;}
.qucen_box li h1 {height: 30px;background-color: #0099FF;width: 70px;display: block;float: right;}
.qucen_box h1 a {color: #FFFFFF;width: 70px;}
.qucen_box h1 a:hover {background-color: #009999;}
/*说明书*/
.manualBox{width: 1028px;margin:0 auto;}
.manualBox .bignav {width: 1028px;height: 80px;float: left;padding: 13px 0px;background: #f6f6f6;}
.manualBox .bignav p {width: 190px;height: 80px;float: left;padding-left: 13px;}
.manualBox .list {width: 230px;height: 1080px;float: left;margin-top: 10px;border: 1px solid #f6f6f6;}
.manualBox .list_t {width: 230px;height: 29px;float: left;border-top: 2px solid #04aeda;border-bottom: 1px dotted #dbdbdb;}
.manualBox .list_t h2 {width: 200px;height: 29px;float: left;line-height: 29px;font-size: 14px;color: #272727;text-indent: 10px;}
.manualBox .list_box {width: 230px;height: 1048px;float: left;}
.manualBox .list_box ul {width: 230px;float: left;}
.manualBox .list_box ul li {width: 210px;float: left;line-height: 25px;font-size: 12px;color: #777;padding: 10px;}
.manualBox .list_box ul li a {margin-right: 7px;}
.manualBox .cc {width: 562px;height: 1084px;float: left;margin: 10px 0px 0px 10px;}
.manualBox .hdm07 {height: 300px;width: 560px;float: left;}
.manualBox .hdm07 h3 {height: 30px;width: 550px;background-color: #f3f3f3;border-bottom: 1px solid #e1e1e1}
.manualBox .hdm07 h3 a {width: 75px;height: 30px;line-height: 30px;display: block;float: left;color: #434242 !important;text-align: center;font-weight: normal;text-decoration: none;font-size: 14px;}
.manualBox .hdm07 h3 a.current {background: url(../images/icon/softdown.png) no-repeat;color: #03aeda !important;font-weight: bold;font-size: 14px;position: relative;}
.manualBox .hdm07 h3 span {width: 160px;height: 30px;display: block;float: left;margin-left: 7px;border-left: 1px dashed #ccc;padding: 0px 20px;}
.manualBox .cc .content {width: 560px;height: 259px;margin-top: 10px;}
.manualBox .cc .content ul {width: 130px;height: 125px;float: left;margin-right: 10px;}
.manualBox .cc .content ul h2 {width: 130px;height: 100px;float: left;}
.manualBox .cc .content ul p {width: 130px;height: 25px;float: left;line-height: 25px;text-align: center;overflow: hidden;}
.manualBox .cc .content ul li a:link {color: #666;text-decoration: none;}
.manualBox .cc .content ul li a:visited {color: #666;text-decoration: none}
.manualBox .cc .content ul li a:hover {color: #c00;text-decoration: underline;}
.manualBox .brand {width: 560px;height: 260px;float: left;}
.manualBox .brand .t {width: 550px;height: 30px;float: left;background: url(../images/icon/line.png) no-repeat bottom left;}
.manualBox .brand .t h2 {width: 390px;height: 30px;float: left;line-height: 30px;font-size: 14px;}
.manualBox .brand .t h3 {width: 140px;height: 30px;float: left;line-height: 30px;font-size: 12px;margin-right: 10px;text-align: right;font-weight:normal ;}
.manualBox .brand .box {width: 560px;height: 210px;float: left;padding: 10px 0px;}
.manualBox .brand .box ul {width: 560px;height: 140px;float: left;}
.manualBox .brand .box ul h2 {width: 190px;height: 130px;float: left;margin-right: 10px;}
.manualBox .brand .box ul h3 {width: 350px;height: 30px;float: left;line-height: 30px;font-size: 14px;}
.manualBox .brand .box ul p {width: 350px;height: 50px;float: left;line-height: 25px;font-size: 12px;color: #666;text-indent: 20px;}
.manualBox .brand .box ul li {width: 160px;height: 25px;float: left;line-height: 25px;font-size: 12px;padding-left: 15px;background: url(../images/icon/dian4.png) no-repeat center left;overflow: hidden;}
.manualBox .brand .box ol {width: 560px;height: 70px;float: left;}
.manualBox .brand .box ol li {height: 70px;width: 70px;float: left;margin-right: 10px;}
.manualBox .right {width: 224px;height: 1084px;float: left;margin-top: 10px;}
.manualBox .smsad {width: 204px;height: 280px;padding: 10px;padding-top: 0px;}
.manualBox .dlist {padding: 10px;padding-top: 0px;}
.manualBox .dlist .t {height: 30px; line-height: 30px;border-bottom: 1px solid #78C9EC;}
.manualBox .dlist .t h2 {height: 30px;line-height: 30px;font-size: 16px;text-indent: 10px;float: left;}
.manualBox .dlist .t  a.more{float: right;font-family: "宋体";}
.manualBox .dlist .box {}
.manualBox .dlist .box ul {background:url(../images/icon/orank.jpg) 5px 3px no-repeat;margin-top: 12px;overflow: hidden;border:none;font-size: 12px;}
.manualBox .dlist .box ul li {height: 35px;line-height: 35px;overflow: hidden;text-indent: 34px;border-bottom: 1px dashed #f0f0f0;}
.manualBox .dlist .linkBox{float: left;width: 50%;}
.manualBox .dlist .linkBox p{height: 18px;line-height: 18px;overflow: hidden;-ms-text-overflow: ellipsis;text-overflow: ellipsis;white-space: nowrap;}
/*苹果首页*/
.aiinRec{margin:0;}
.iaBanner{margin-top:10px;}
.iaBanner .bannerimg img{width: 750px;height: 250px;border:3px solid #EEEEEE;}
.iaBanner .weekrec{width: 250px;}
.iaBanner .weekrec .title{height: 26px;line-height: 26px;border-bottom: 2px solid #DDD;}
.iaBanner .weekrec .title span{border-bottom: 2px solid #88CC03;float: left;display: block;font-size:16px;font-weight: normal;}
.iaBanner .weekrec .cont{margin-top: 15px;}
.iaBanner .weekrec .cont .item{height: 74px;overflow: hidden;margin-bottom: 25px;}
.iaBanner .weekrec .cont .item .img{width: 74px;height: 74px;float: left;}
.iaBanner .weekrec .cont .item .itemtext{margin-left: 84px;}
.iaBanner .weekrec .cont .item .itemtext h4{height: 22px;line-height: 22px;font-weight: normal;color:#392222;}
.iaBanner .weekrec .cont .item .itemtext p{line-height: 26px;color:#919190;}
.iaBanner .weekrec .cont .item .itemtext p span{background-color: #AAA;color:#fff;margin-right: 5px;padding:0 3px;}
.iagaList {margin-top:20px;}
.iagaList .afn{float: left;width: 510px;}
.iagaList .afn p{border: 1px solid #e8e8e8;height: 100px;margin-bottom:10px;}
.iagaList .afn p span{font-size: 26px;line-height: 40px;padding-top: 10px;text-align: center;display: block;width: 100px;height: 90px;background: #51bf23;color: #fff;float: left;}
.iagaList .afn p span a{display: inherit;color: #fff;}
.iagaList .afn p.arj span {background: #71c5d3;}
.iagaList .afn p>a {border-right: 1px solid #ccc;display: inline-block;height: 16px;line-height: 16px;padding: 0 6px;margin: 8px 0;font-size: 12px;}
.iagaList .afn p>a:nth-of-type(6n) {border: none;}
.iagaList .djsf{float: right;width: 525px;height: 220px;overflow: hidden;position: relative;}
.iagaList .djsf li{position: relative;width: 162px;float: left;margin: 0 0 10px 12px;color: #888;padding: 14px 0;border-bottom: 1px solid #ddd;height: 73px;display: inline;}
.iagaList .djsf li.b {width: 162px;height: 72px;font-size: 26px;float: left;margin-left: 12px;display: inline;background: #faa818;color: #fff;text-align: center;padding-top: 15px;line-height: 36px;}
.iagaList .djsf li a img {width: 70px;height: 70px;float: left;margin-right: 10px;}
.iagaList .djsf li strong {height: 20px;overflow: hidden;margin-bottom: 5px;font-size: 15px;font-weight: bold;color: #333;}
.iagaList .djsf span.huanbtn {width: 60px;height: 24px;line-height: 24px;text-align: center;font-size: 14px;background: #94c804;position: absolute;right: 0;top: 88px;color: #fff;cursor: pointer;font-weight: normal;}
.iagaList .djsf li strong {display: block;height: 20px;overflow: hidden;margin-bottom: 5px;font-size: 15px;font-weight: bold;color: #333;}
.iagaList .djsf li span.time{display: block;}
.iagaList .djsf li span.down{display: none;}
.iagaList .djsf li span.down a{color:#fff;}
.iagaList .djsf li:hover span.down{display: block;height: 22px;line-height: 22px;overflow: hidden;position: absolute;background: #94c804;top: 60px;left: 80px;width: 50px;text-align: center;}
.iagaList .djsf li:hover span.time{display: none;}
.AIrecbox{}
.AIrecbox .left{width: 800px;float: left;}
.AIrecbox .left .title{height: 35px;line-height: 35px;border-bottom: 1px solid #008EE1;}
.AIrecbox .left .title h2{font-size:16px;font-weight: normal;float: left;}
.AIrecboxSoft .left .title h2{background:url(../images/icon/aiicon1.jpg) left center no-repeat;padding-left: 40px;}
.AIrecboxGame .left .title h2{background:url(../images/icon/aiicon2.jpg) left center no-repeat;padding-left: 40px;}
.AIrecbox .left .title .rnav{height: 26px;line-height: 26px;float: right;margin-top: 5px;}
.AIrecbox .left .title .rnav span a{padding:0 7px;display: inline-block;}
.AIrecbox .left .title .rnav span a.cur,.AIrecbox .left .title .rnav span a:hover{background-color: #009DD9;color:#FFF;}
.AIrecbox .left .corner{margin-right: -28px;display: none;}
.AIrecbox .left .corner.cur{display: block;}
.AIrecbox .left .corner li{width: 75px;float: left;margin-right: 28px;margin-top: 20px;}
.AIrecbox .left .corner li img{width: 75px;height: 75px;}
.AIrecbox .left .corner li span{display: block;height: 35px;line-height: 35px;text-align: center;}
.AIrecbox .right{width: 230px;float: right;}
.AIaccordRank{padding: 0 10px}
.AIaccordRank .Rtitle{height: 35px;line-height: 35px;font-size: 16px;border-bottom: 1px solid #0199dc;}
.AIaccordRank .accordRankList{margin-top: 10px;}
.AIaccordRank .accordRankList li{font-size:14px;height: 40px;overflow: hidden;line-height: 40px;border-bottom: 1px solid #ccc;}
.AIaccordRank .accordRankList li:last-child{border:none;}
.AIaccordRank .accordRankList li i{width: 18px;height: 18px;float: left;margin-top:10px;margin-right: 10px;text-align: center;display: inline-block;line-height: 18px;background-color: #999999;color:#FFF;}
.AIaccordRank .accordRankList li i.bgbu{width: 18px;height: 18px;text-align: center;line-height: 18px;background-color: #018DE2;}
.AIaccordRank .accordRankList li img{width: 60px;height: 60px;float: left;}
.AIaccordRank .accordRankList li span.name{width:100px;height: 40px;float: left;display: inline-block;overflow: hidden;vertical-align:text-top;}
.AIaccordRank .accordRankList li span.leix{float: right;width: 65px;overflow: hidden;vertical-align:text-top;}
.AIaccordRank .accordRankList li img{display: none;}
.AIaccordRank .accordRankList li.cur{height: 80px;padding-top: 10px;}
.AIaccordRank .accordRankList li.cur img{display:inline-block;}
.AIaccordRank .accordRankList li.cur .name{height: 32px;line-height: 32px;margin-left: 10px;}
.AIaccordRank .accordRankList li.cur .leix{height: 32px;line-height: 32px;margin-left: 10px;float: left;}
.AInews .left{width: 800px;float: left;}
.AInews .left .AInewsL{padding:8px 13px;border:1px solid #F0F0F0;}
.AInews .left .AInewsL .title{height: 37px;line-height: 37px;border-bottom: 1px solid #F0F0F0;}
.AInews .left .AInewsL .title h4{float: left;width: 110px;border-bottom: 1px solid #008EE1;font-size: 20px;color:#6C6667;}
.AInews .left .AInewsL .title a.more{float: right;color:#46ABE8;}
.AInews .left .AInewsL .cont{margin-top: 20px;}
.AInews .left .AInewsL .cont .lpic{width: 220px;float: left;}
.AInewsL .cont .lpic .item{height: 140px;width: 218px;margin-bottom: 20px;}
.AInewsL .cont .lpic .item a{display: block;position: relative;overflow: hidden;height: 100%;}
.AInewsL .cont .lpic .item a img{width: 100%;height: 100%;}
.AInewsL .cont .lpic .item a p{position: absolute;width: 210px;padding-left: 8px;bottom: 0;height: 28px;line-height: 28px;background-color: rgba(0,0,0,.5);color:#fff;font-size:12px;}
.AInews .left .AInewsL .rcont{width: 545px;float: right;}
.AInewsL .rcont .rnewinfo{height: 225px;overflow: hidden;}
.AInewsL .rcont .rnewinfo .item h4{height: 34px;line-height: 34px;font-weight: normal;font-size:18px;text-align: center;overflow: hidden;}
.AInewsL .rcont .rnewinfo .item p{line-height:30px;height: 90px;overflow: hidden;}
.AInewsL .rcont .rnewinfo .item p a{color:#4DA6E5;}
.AInewsL .rcont .rnewlist .rlnav{height: 40px;line-height: 40px;background-color: #F7F7F7;color:#6D6C6F;}
.AInewsL .rcont .rnewlist .rlnav span{display: inline-block;height: 38px;width: 90px;text-align: center;padding:2px 1px 0px;cursor:pointer;}
.AInewsL .rcont .rnewlist .rlnav span.cur{border-top: 2px solid #008EE1;border-left:1px solid #EDEDED;border-right:1px solid #EDEDED;color:#231400;padding:0;}
.AInewsL .rcont .rnewlist .rlitem{display: none;}
.AInewsL .rcont .rnewlist .rlitem li{height: 34px;line-height: 34px;padding-left: 20px;background: url(../images/icon/dian.png) 5px center no-repeat;padding-right: 5px;}
.AInewsL .rcont .rnewlist .rlitem li a{float: left;width: 420px;overflow: hidden;color:#7C7C89;}
.AInewsL .rcont .rnewlist .rlitem li span{float: right;color:#7C7C89;}
.AInewsL .rcont .rnewlist .rlitem.cur{display: block;}


.AInews .right{width: 230px;float: right;}
.AInews .right .title{height: 44px;line-height: 44px;border-bottom: 1px solid #EDEDED;}
.AInews .right .title span{border-bottom: 1px solid #66B2DF;display: inline-block;font-size:16px;}
.AInews .right .title a{float: right;color:#3BA2E4;}
.AInews .right .rztitem ul{padding: 6px 9px 5px 9px;background: url(../images/icon/orank.jpg) 12px 11px no-repeat}
.AInews .right .rztitem.mb{margin-bottom: 15px;}
.AInews .right .rztitem ul li{height: 35px;line-height: 35px;overflow: hidden;text-indent: 34px;border-bottom: 1px dashed #f0f0f0}
.AInews .right .AInewsR{}

/*安卓苹果列表页*/
.aocontain{width:1038px; margin:0px auto; clear:both; clear:both;}
.aocontain .l {width:728px; float:left; padding-bottom:20px;}
.aocontain .r {width:300px; float:left; margin-left:10px; margin-bottom:10px; padding-bottom:20px;_display:inline;}
.aocontain .popapp {width:300px; height:445px; float:left; margin-top:10px;}
.aocontain .rt {width:294px; height:40px; float:left; background:url('../images/android/line.png') no-repeat; padding-left:6px;}
.aocontain .rt h2 {height:40px; float:left; font-family: "微软雅黑", "黑体"; font-size:16px; color:#666; font-weight:normal; padding:0px 15px 0px 5px; background:#fff; line-height:40px;}
.aocontain .popapp_box {width:300px; height:405px; float:left;}
.aocontain .popapp_box ul {width:300px; height:60px; float:left; padding:10px 0px; border-bottom:1px dotted #dbdbdb;}
.aocontain .popapp_box ul h2 {width:60px; height:60px; float:left; margin-right:10px;}
.aocontain .popapp_box ul h2 a:hover, a:active, a:focus {filter: alpha(opacity=60); -moz-opacity: 0.6; opacity: 0.6;}
.aocontain .popapp_box ul h3 {width:210px; height:20px; float:left; line-height:20px; font-size:12px; color:#333;}
.aocontain .popapp_box ul li {width:110px; height:20px; float:left; line-height:20px; color:#333;}
.aocontain .popapp_box ul li a:link{color:#333; text-decoration:none}
.aocontain .popapp_box ul li a:visited{color:#333;text-decoration: none;}
.aocontain .popapp_box ul li a:hover,a:active,a:focus{color:#199900; text-decoration:underline;}
.aocontain .t { width:712px; height:41px; float:left; padding-left:16px; background-image: url('../images/android/news_tit.png'); background-repeat: no-repeat; background-position: left;}
.aocontain .t h2 {height:41px; float:left; font-family: "微软雅黑", "黑体"; font-size:16px; color:#666; font-weight:normal; padding:0px 15px; background:#fff; line-height:38px;}
.aocontain .listbox {width:728px; float:left; padding-bottom:10px;}
.aocontain .sel_item{position:relative; line-height:20px; zoom:1; width:728px;}
.aocontain .sel_item dt{color:#333; position:absolute; top:8px; left:5px; width:60px;}
.aocontain .sel_item dd{overflow:hidden; position:relative;}
.aocontain .sel_item .all{left:0; position:absolute; top:0;}
.aocontain .sel_item .sel{background-color:#87c80c; color:#fff; padding:0 9px; margin-top:7px;}
.aocontain .sel_item a{float:left;line-height:20px; white-space:nowrap; padding:0 9px; margin-top:7px;}
.aocontain .sel_item a:hover{background-color:#87c80c; color:#fff; text-decoration:none;}
.aocontain .left_box {width:680px; float:left;}
.aocontain .star5 {background:url('../images/android/star.gif') no-repeat;}
.aocontain .star4 {background:url('../images/android/star.gif') no-repeat 0 -14px;}
.aocontain .star3 {background:url('../images/android/star.gif') no-repeat 0 -28px;}
.aocontain .star2 {background:url('../images/android/star.gif') no-repeat 0 -42px;}
.aocontain .star1 {background:url('../images/android/star.gif') no-repeat 0 -56px;}
.aocontain .applist {width:728px; height:114px; float:left; padding-bottom:5px;}
.aocontain .so_img {position: relative; width: 74px; height: 74px; float: left; text-align: center; margin:20px 0px;}
.aocontain .so_img span {position: absolute; display: inline-block; background: url('../images/android/i_g.png') no-repeat left top; width: 74px; height: 74px; overflow: hidden; top: 0; left: 0; cursor: pointer;}
.aocontain .applist h2 {width:558px; height:25px; float:left; font-size:16px; font-weight:normal; margin-left:15px; margin-top:10px; font-family:微软雅黑;}
.aocontain em {color:red; font-style:normal;}
.aocontain .applist p {height:25px; width:360px; float:left; margin-left:15px;}
.aocontain .applist p span {height:25px; float:left; line-height:25px; font-size:12px; margin-right:10px; color:#999; background:url('../images/android/line_1.png') no-repeat right; padding-right:10px;}
.aocontain .applist h3 {width:83px; height:14px; float:left; margin-top:3px;_overflow:hidden;}
.aocontain .applist h4 {width:443px; height:50px; float:left; font-size:12px; line-height:25px; font-weight:normal; margin-left:15px; color:#444;}
.aocontain .applist h2 a:link{color:#105eae; text-decoration:none}
.aocontain .applist h2 a:visited{color:#800080;text-decoration: none;}
.aocontain .applist h2 a:hover,a:active,a:focus{color:#c00; text-decoration:underline;}
.aocontain .applist h5 a:link{color:#105eae; text-decoration:none}
.aocontain .applist h5 a:visited{color:#800080;text-decoration: none;}
.aocontain .applist h5 a:hover,a:active,a:focus{color:#c00; text-decoration:underline;}
.aocontain .applist h5 {height:25px; width:678px;  float:left; font-size:16px; font-weight:normal; margin-left:15px; margin-top:10px; font-family:微软雅黑;}
.aocontain .applist h5 span {color:#999; font-size:12px; line-height:25px; margin-left:20px;}
.aocontain .applist h6 {height:50px; width:668px;  float:left; font-size:12px; line-height:25px; font-weight:normal; margin-left:15px; color:#444;}
.aocontain #download {background: url('../images/android/down.jpg') no-repeat; width: 110px; height: 25px; color: white; padding-left: 10px; float:right;}
.aocontain #download a, #demo a {line-height: 25px; text-shadow: 0px 1px 0px white; color:#666;}
.aocontain .AIaccordRank.AORpic{margin-bottom: 15px;}
.aocontain .AIaccordRank.AORpic .Rtitle a.more{float: right;}
.aocontain .AOraccordRank .accordRankList{display: none;}
.aocontain .AOraccordRank .accordRankList.cur{display: block;}
.aocontain .AIaccordRank .Rtitle .rnav{float: right;}
.aocontain .AIaccordRank .Rtitle .rnav span{cursor:pointer;display: inline-block;padding:0 5px;}
.aocontain .AIaccordRank .Rtitle .rnav span.cur{color:#2266BB;}
.aocontain .AIaccordRank .Rtitle a.more{float: right;font-family: "宋体";}
.aocontain .AIaccordRank .mobileWallpaper-list{}
.aocontain .AIaccordRank .mobileWallpaper-list li{float: left;width: 110px;height: 175px;padding: 15px 15px 0 15px;}
.aocontain .AIaccordRank .mobileWallpaper-list li img{width: 110px;height: 175px;}
