@charset "utf-8";
/* 头部 */
/*topnav*/
.topnavBox{background-color: #F5F5F5;border-bottom: 1px solid #E3E3E3;}
.topnav{height: 27px;line-height: 27px;}
.topnavR ul{}
.topnavR ul li{float: left;margin-left: 20px;display: _inline;}
.topnavR ul li span{color:#FF5787}
.topnavR ul li span.ipinfo{color:#444}
.topnavR ul li.releaseBtn{float: right;}
.topnavR ul li.releaseBtn a{width: 58px;height: 24px;line-height: 24px;display: inline-block;text-align: center;color:#FFF}
/*header*/
.header {height: 86px;overflow: hidden;}
.header .logo {float: left;padding-top: 6px;}
.header .logo a {display: block;width: 180px;height: 75px;text-indent: -9999px;background-image: url("../images/logo.png");}
.header form#cse-search-box {padding: 15px 0px 0 80px;}
.header form .form-group {display: inline-block;width: 459px;height: 39px;overflow: hidden;padding-bottom: 5px}
.header form .form-group .form-control {padding: 0px 12px;float: left;width: 363px;height: 35px;border-radius: 4px 0 0 4px;line-height: 35px;border:2px solid #0199dc}
.header form .form-group .btn-default {border: none;width: 68px;height: 39px;border-radius: 0px 4px 4px 0px;color: #fff;cursor: pointer;background-color:#0199dc;}
/*nav*/
.nav{height: 40px;line-height: 40px;background: #0199dc;font-size: 16px;}
.nav ul li{float: left;}
.nav ul li {float: left;display: inline;zoom: 1;}
.nav ul li a {display: inline-block;height: 40px;text-shadow: #0276a8 0px 1px 2px;color: #fff;padding: 0 13px;}
.nav ul li.current a {background-color: #ffaa01;color: #fff}
.nav ul li.last{float: right;}
.nav ul li.last a{background-color: #87C80C;}
.nav ul li.cur a{background-color: #ffaa01;color: #fff}
.nav ul a:hover {background: #ffaa01;text-shadow: #c48402 0px 1px 2px;color: #fff}
/*装机必备导航*/
.necenav ul li {width: 115px;text-align: center;}
.necenav ul li a{display: block;padding:0;}
.necenav ul li.cur a{background-color:transparent;color: #ffaa01;text-shadow: #c48402 0px 1px 2px;}
.necenav ul a:hover {background: none;text-shadow: #c48402 0px 1px 2px;color: #ffaa01}
/*头部结束*/
/*底部*/
.footer {background:#f0f0f0;text-align: center;padding: 20px 0;margin-top: 10px;}
.footer ul {width: 480px;margin: 0px auto;}
.footer .ft_nv1 {background: url(../images/icon/ft_nav.png) 4px -3px no-repeat;}
.footer .ft_nv2 {background: url(../images/icon/ft_nav.png) 4px -33px no-repeat;}
.footer .ft_nv3 {background: url(../images/icon/ft_nav.png) 4px -63px no-repeat;}
.footer .ft_nv4 {background: url(../images/icon/ft_nav.png) 4px -93px no-repeat;}
.footer ul a {color: #666}
.footer ul a:hover {color: #c00}
.footer ul li {width: 80px;height: 30px;float: left;padding-left: 34px;font-size: 14px;}
.footer p {margin: 0px auto;line-height: 24px;height: 24px;overflow: hidden;color: #999;text-align: center;}
.footer p a {color: #999;}
/*底部结束*/
