@charset "UTF-8";
/**
  * Since :150123
  * Author :Ji Seong bong
  * Version :1.1
  * Updated : 160701
*/
/*------------------------------------*\
	Font
\*------------------------------------*/
@font-face{
	font-family:'Noto Sans KR';
	font-style:normal;
	font-weight:500;
	src:url(//www.pooq.co.kr/css/font/NotoSansKR-Medium.woff2) format('woff2'),
		url(//www.pooq.co.kr/css/font/NotoSansKR-Medium.woff) format('woff'),
		url(//www.pooq.co.kr/css/font/NotoSansKR-Medium.otf) format('opentype');
}
@font-face{
	font-family:'Noto Sans KR';
	font-style:normal;
	font-weight:400;
	src:url(//www.pooq.co.kr/css/font/NotoSansKR-Regular.woff2) format('woff2'),
		url(//www.pooq.co.kr/css/font/NotoSansKR-Regular.woff) format('woff'),
		url(//www.pooq.co.kr/css/font/NotoSansKR-Regular.otf) format('opentype');
}
/*!
 *  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
@font-face{font-family:'FontAwesome';src:url('//www.pooq.co.kr/css/font/fontawesome-webfont.eot?v=4.7.0');src:url('//www.pooq.co.kr/css/font/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),url('//www.pooq.co.kr/css/font/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),url('//www.pooq.co.kr/css/font/fontawesome-webfont.woff?v=4.7.0') format('woff'),url('//www.pooq.co.kr/css/font/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),url('//www.pooq.co.kr/css/font/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');font-weight:normal;font-style:normal}.fa{display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.fa-lg{font-size:1.33333333em;line-height:.75em;vertical-align:-15%}.fa-2x{font-size:2em}.fa-3x{font-size:3em}.fa-4x{font-size:4em}.fa-5x{font-size:5em}.fa-fw{width:1.28571429em;text-align:center}.fa-ul{padding-left:0;margin-left:2.14285714em;list-style-type:none}.fa-ul>li{position:relative}.fa-li{position:absolute;left:-2.14285714em;width:2.14285714em;top:.14285714em;text-align:center}.fa-li.fa-lg{left:-1.85714286em}.fa-border{padding:.2em .25em .15em;border:solid .08em #eee;border-radius:.1em}.fa-pull-left{float:left}.fa-pull-right{float:right}.fa.fa-pull-left{margin-right:.3em}.fa.fa-pull-right{margin-left:.3em}.pull-right{float:right}.pull-left{float:left}.fa.pull-left{margin-right:.3em}.fa.pull-right{margin-left:.3em}.fa-spin{-webkit-animation:fa-spin 2s infinite linear;animation:fa-spin 2s infinite linear}.fa-pulse{-webkit-animation:fa-spin 1s infinite steps(8);animation:fa-spin 1s infinite steps(8)}@-webkit-keyframes fa-spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}@keyframes fa-spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}.fa-rotate-90{-ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";-webkit-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg)}.fa-rotate-180{-ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";-webkit-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg)}.fa-rotate-270{-ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";-webkit-transform:rotate(270deg);-ms-transform:rotate(270deg);transform:rotate(270deg)}.fa-flip-horizontal{-ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";-webkit-transform:scale(-1, 1);-ms-transform:scale(-1, 1);transform:scale(-1, 1)}.fa-flip-vertical{-ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";-webkit-transform:scale(1, -1);-ms-transform:scale(1, -1);transform:scale(1, -1)}:root .fa-rotate-90,:root .fa-rotate-180,:root .fa-rotate-270,:root .fa-flip-horizontal,:root .fa-flip-vertical{filter:none}.fa-stack{position:relative;display:inline-block;width:2em;height:2em;line-height:2em;vertical-align:middle}.fa-stack-1x,.fa-stack-2x{position:absolute;left:0;width:100%;text-align:center}.fa-stack-1x{line-height:inherit}.fa-stack-2x{font-size:2em}.fa-inverse{color:#fff}.fa-glass:before{content:"\f000"}.fa-music:before{content:"\f001"}.fa-search:before{content:"\f002"}.fa-envelope-o:before{content:"\f003"}.fa-heart:before{content:"\f004"}.fa-star:before{content:"\f005"}.fa-star-o:before{content:"\f006"}.fa-user:before{content:"\f007"}.fa-film:before{content:"\f008"}.fa-th-large:before{content:"\f009"}.fa-th:before{content:"\f00a"}.fa-th-list:before{content:"\f00b"}.fa-check:before{content:"\f00c"}.fa-remove:before,.fa-close:before,.fa-times:before{content:"\f00d"}.fa-search-plus:before{content:"\f00e"}.fa-search-minus:before{content:"\f010"}.fa-power-off:before{content:"\f011"}.fa-signal:before{content:"\f012"}.fa-gear:before,.fa-cog:before{content:"\f013"}.fa-trash-o:before{content:"\f014"}.fa-home:before{content:"\f015"}.fa-file-o:before{content:"\f016"}.fa-clock-o:before{content:"\f017"}.fa-road:before{content:"\f018"}.fa-download:before{content:"\f019"}.fa-arrow-circle-o-down:before{content:"\f01a"}.fa-arrow-circle-o-up:before{content:"\f01b"}.fa-inbox:before{content:"\f01c"}.fa-play-circle-o:before{content:"\f01d"}.fa-rotate-right:before,.fa-repeat:before{content:"\f01e"}.fa-refresh:before{content:"\f021"}.fa-list-alt:before{content:"\f022"}.fa-lock:before{content:"\f023"}.fa-flag:before{content:"\f024"}.fa-headphones:before{content:"\f025"}.fa-volume-off:before{content:"\f026"}.fa-volume-down:before{content:"\f027"}.fa-volume-up:before{content:"\f028"}.fa-qrcode:before{content:"\f029"}.fa-barcode:before{content:"\f02a"}.fa-tag:before{content:"\f02b"}.fa-tags:before{content:"\f02c"}.fa-book:before{content:"\f02d"}.fa-bookmark:before{content:"\f02e"}.fa-print:before{content:"\f02f"}.fa-camera:before{content:"\f030"}.fa-font:before{content:"\f031"}.fa-bold:before{content:"\f032"}.fa-italic:before{content:"\f033"}.fa-text-height:before{content:"\f034"}.fa-text-width:before{content:"\f035"}.fa-align-left:before{content:"\f036"}.fa-align-center:before{content:"\f037"}.fa-align-right:before{content:"\f038"}.fa-align-justify:before{content:"\f039"}.fa-list:before{content:"\f03a"}.fa-dedent:before,.fa-outdent:before{content:"\f03b"}.fa-indent:before{content:"\f03c"}.fa-video-camera:before{content:"\f03d"}.fa-photo:before,.fa-image:before,.fa-picture-o:before{content:"\f03e"}.fa-pencil:before{content:"\f040"}.fa-map-marker:before{content:"\f041"}.fa-adjust:before{content:"\f042"}.fa-tint:before{content:"\f043"}.fa-edit:before,.fa-pencil-square-o:before{content:"\f044"}.fa-share-square-o:before{content:"\f045"}.fa-check-square-o:before{content:"\f046"}.fa-arrows:before{content:"\f047"}.fa-step-backward:before{content:"\f048"}.fa-fast-backward:before{content:"\f049"}.fa-backward:before{content:"\f04a"}.fa-play:before{content:"\f04b"}.fa-pause:before{content:"\f04c"}.fa-stop:before{content:"\f04d"}.fa-forward:before{content:"\f04e"}.fa-fast-forward:before{content:"\f050"}.fa-step-forward:before{content:"\f051"}.fa-eject:before{content:"\f052"}.fa-chevron-left:before{content:"\f053"}.fa-chevron-right:before{content:"\f054"}.fa-plus-circle:before{content:"\f055"}.fa-minus-circle:before{content:"\f056"}.fa-times-circle:before{content:"\f057"}.fa-check-circle:before{content:"\f058"}.fa-question-circle:before{content:"\f059"}.fa-info-circle:before{content:"\f05a"}.fa-crosshairs:before{content:"\f05b"}.fa-times-circle-o:before{content:"\f05c"}.fa-check-circle-o:before{content:"\f05d"}.fa-ban:before{content:"\f05e"}.fa-arrow-left:before{content:"\f060"}.fa-arrow-right:before{content:"\f061"}.fa-arrow-up:before{content:"\f062"}.fa-arrow-down:before{content:"\f063"}.fa-mail-forward:before,.fa-share:before{content:"\f064"}.fa-expand:before{content:"\f065"}.fa-compress:before{content:"\f066"}.fa-plus:before{content:"\f067"}.fa-minus:before{content:"\f068"}.fa-asterisk:before{content:"\f069"}.fa-exclamation-circle:before{content:"\f06a"}.fa-gift:before{content:"\f06b"}.fa-leaf:before{content:"\f06c"}.fa-fire:before{content:"\f06d"}.fa-eye:before{content:"\f06e"}.fa-eye-slash:before{content:"\f070"}.fa-warning:before,.fa-exclamation-triangle:before{content:"\f071"}.fa-plane:before{content:"\f072"}.fa-calendar:before{content:"\f073"}.fa-random:before{content:"\f074"}.fa-comment:before{content:"\f075"}.fa-magnet:before{content:"\f076"}.fa-chevron-up:before{content:"\f077"}.fa-chevron-down:before{content:"\f078"}.fa-retweet:before{content:"\f079"}.fa-shopping-cart:before{content:"\f07a"}.fa-folder:before{content:"\f07b"}.fa-folder-open:before{content:"\f07c"}.fa-arrows-v:before{content:"\f07d"}.fa-arrows-h:before{content:"\f07e"}.fa-bar-chart-o:before,.fa-bar-chart:before{content:"\f080"}.fa-twitter-square:before{content:"\f081"}.fa-facebook-square:before{content:"\f082"}.fa-camera-retro:before{content:"\f083"}.fa-key:before{content:"\f084"}.fa-gears:before,.fa-cogs:before{content:"\f085"}.fa-comments:before{content:"\f086"}.fa-thumbs-o-up:before{content:"\f087"}.fa-thumbs-o-down:before{content:"\f088"}.fa-star-half:before{content:"\f089"}.fa-heart-o:before{content:"\f08a"}.fa-sign-out:before{content:"\f08b"}.fa-linkedin-square:before{content:"\f08c"}.fa-thumb-tack:before{content:"\f08d"}.fa-external-link:before{content:"\f08e"}.fa-sign-in:before{content:"\f090"}.fa-trophy:before{content:"\f091"}.fa-github-square:before{content:"\f092"}.fa-upload:before{content:"\f093"}.fa-lemon-o:before{content:"\f094"}.fa-phone:before{content:"\f095"}.fa-square-o:before{content:"\f096"}.fa-bookmark-o:before{content:"\f097"}.fa-phone-square:before{content:"\f098"}.fa-twitter:before{content:"\f099"}.fa-facebook-f:before,.fa-facebook:before{content:"\f09a"}.fa-github:before{content:"\f09b"}.fa-unlock:before{content:"\f09c"}.fa-credit-card:before{content:"\f09d"}.fa-feed:before,.fa-rss:before{content:"\f09e"}.fa-hdd-o:before{content:"\f0a0"}.fa-bullhorn:before{content:"\f0a1"}.fa-bell:before{content:"\f0f3"}.fa-certificate:before{content:"\f0a3"}.fa-hand-o-right:before{content:"\f0a4"}.fa-hand-o-left:before{content:"\f0a5"}.fa-hand-o-up:before{content:"\f0a6"}.fa-hand-o-down:before{content:"\f0a7"}.fa-arrow-circle-left:before{content:"\f0a8"}.fa-arrow-circle-right:before{content:"\f0a9"}.fa-arrow-circle-up:before{content:"\f0aa"}.fa-arrow-circle-down:before{content:"\f0ab"}.fa-globe:before{content:"\f0ac"}.fa-wrench:before{content:"\f0ad"}.fa-tasks:before{content:"\f0ae"}.fa-filter:before{content:"\f0b0"}.fa-briefcase:before{content:"\f0b1"}.fa-arrows-alt:before{content:"\f0b2"}.fa-group:before,.fa-users:before{content:"\f0c0"}.fa-chain:before,.fa-link:before{content:"\f0c1"}.fa-cloud:before{content:"\f0c2"}.fa-flask:before{content:"\f0c3"}.fa-cut:before,.fa-scissors:before{content:"\f0c4"}.fa-copy:before,.fa-files-o:before{content:"\f0c5"}.fa-paperclip:before{content:"\f0c6"}.fa-save:before,.fa-floppy-o:before{content:"\f0c7"}.fa-square:before{content:"\f0c8"}.fa-navicon:before,.fa-reorder:before,.fa-bars:before{content:"\f0c9"}.fa-list-ul:before{content:"\f0ca"}.fa-list-ol:before{content:"\f0cb"}.fa-strikethrough:before{content:"\f0cc"}.fa-underline:before{content:"\f0cd"}.fa-table:before{content:"\f0ce"}.fa-magic:before{content:"\f0d0"}.fa-truck:before{content:"\f0d1"}.fa-pinterest:before{content:"\f0d2"}.fa-pinterest-square:before{content:"\f0d3"}.fa-google-plus-square:before{content:"\f0d4"}.fa-google-plus:before{content:"\f0d5"}.fa-money:before{content:"\f0d6"}.fa-caret-down:before{content:"\f0d7"}.fa-caret-up:before{content:"\f0d8"}.fa-caret-left:before{content:"\f0d9"}.fa-caret-right:before{content:"\f0da"}.fa-columns:before{content:"\f0db"}.fa-unsorted:before,.fa-sort:before{content:"\f0dc"}.fa-sort-down:before,.fa-sort-desc:before{content:"\f0dd"}.fa-sort-up:before,.fa-sort-asc:before{content:"\f0de"}.fa-envelope:before{content:"\f0e0"}.fa-linkedin:before{content:"\f0e1"}.fa-rotate-left:before,.fa-undo:before{content:"\f0e2"}.fa-legal:before,.fa-gavel:before{content:"\f0e3"}.fa-dashboard:before,.fa-tachometer:before{content:"\f0e4"}.fa-comment-o:before{content:"\f0e5"}.fa-comments-o:before{content:"\f0e6"}.fa-flash:before,.fa-bolt:before{content:"\f0e7"}.fa-sitemap:before{content:"\f0e8"}.fa-umbrella:before{content:"\f0e9"}.fa-paste:before,.fa-clipboard:before{content:"\f0ea"}.fa-lightbulb-o:before{content:"\f0eb"}.fa-exchange:before{content:"\f0ec"}.fa-cloud-download:before{content:"\f0ed"}.fa-cloud-upload:before{content:"\f0ee"}.fa-user-md:before{content:"\f0f0"}.fa-stethoscope:before{content:"\f0f1"}.fa-suitcase:before{content:"\f0f2"}.fa-bell-o:before{content:"\f0a2"}.fa-coffee:before{content:"\f0f4"}.fa-cutlery:before{content:"\f0f5"}.fa-file-text-o:before{content:"\f0f6"}.fa-building-o:before{content:"\f0f7"}.fa-hospital-o:before{content:"\f0f8"}.fa-ambulance:before{content:"\f0f9"}.fa-medkit:before{content:"\f0fa"}.fa-fighter-jet:before{content:"\f0fb"}.fa-beer:before{content:"\f0fc"}.fa-h-square:before{content:"\f0fd"}.fa-plus-square:before{content:"\f0fe"}.fa-angle-double-left:before{content:"\f100"}.fa-angle-double-right:before{content:"\f101"}.fa-angle-double-up:before{content:"\f102"}.fa-angle-double-down:before{content:"\f103"}.fa-angle-left:before{content:"\f104"}.fa-angle-right:before{content:"\f105"}.fa-angle-up:before{content:"\f106"}.fa-angle-down:before{content:"\f107"}.fa-desktop:before{content:"\f108"}.fa-laptop:before{content:"\f109"}.fa-tablet:before{content:"\f10a"}.fa-mobile-phone:before,.fa-mobile:before{content:"\f10b"}.fa-circle-o:before{content:"\f10c"}.fa-quote-left:before{content:"\f10d"}.fa-quote-right:before{content:"\f10e"}.fa-spinner:before{content:"\f110"}.fa-circle:before{content:"\f111"}.fa-mail-reply:before,.fa-reply:before{content:"\f112"}.fa-github-alt:before{content:"\f113"}.fa-folder-o:before{content:"\f114"}.fa-folder-open-o:before{content:"\f115"}.fa-smile-o:before{content:"\f118"}.fa-frown-o:before{content:"\f119"}.fa-meh-o:before{content:"\f11a"}.fa-gamepad:before{content:"\f11b"}.fa-keyboard-o:before{content:"\f11c"}.fa-flag-o:before{content:"\f11d"}.fa-flag-checkered:before{content:"\f11e"}.fa-terminal:before{content:"\f120"}.fa-code:before{content:"\f121"}.fa-mail-reply-all:before,.fa-reply-all:before{content:"\f122"}.fa-star-half-empty:before,.fa-star-half-full:before,.fa-star-half-o:before{content:"\f123"}.fa-location-arrow:before{content:"\f124"}.fa-crop:before{content:"\f125"}.fa-code-fork:before{content:"\f126"}.fa-unlink:before,.fa-chain-broken:before{content:"\f127"}.fa-question:before{content:"\f128"}.fa-info:before{content:"\f129"}.fa-exclamation:before{content:"\f12a"}.fa-superscript:before{content:"\f12b"}.fa-subscript:before{content:"\f12c"}.fa-eraser:before{content:"\f12d"}.fa-puzzle-piece:before{content:"\f12e"}.fa-microphone:before{content:"\f130"}.fa-microphone-slash:before{content:"\f131"}.fa-shield:before{content:"\f132"}.fa-calendar-o:before{content:"\f133"}.fa-fire-extinguisher:before{content:"\f134"}.fa-rocket:before{content:"\f135"}.fa-maxcdn:before{content:"\f136"}.fa-chevron-circle-left:before{content:"\f137"}.fa-chevron-circle-right:before{content:"\f138"}.fa-chevron-circle-up:before{content:"\f139"}.fa-chevron-circle-down:before{content:"\f13a"}.fa-html5:before{content:"\f13b"}.fa-css3:before{content:"\f13c"}.fa-anchor:before{content:"\f13d"}.fa-unlock-alt:before{content:"\f13e"}.fa-bullseye:before{content:"\f140"}.fa-ellipsis-h:before{content:"\f141"}.fa-ellipsis-v:before{content:"\f142"}.fa-rss-square:before{content:"\f143"}.fa-play-circle:before{content:"\f144"}.fa-ticket:before{content:"\f145"}.fa-minus-square:before{content:"\f146"}.fa-minus-square-o:before{content:"\f147"}.fa-level-up:before{content:"\f148"}.fa-level-down:before{content:"\f149"}.fa-check-square:before{content:"\f14a"}.fa-pencil-square:before{content:"\f14b"}.fa-external-link-square:before{content:"\f14c"}.fa-share-square:before{content:"\f14d"}.fa-compass:before{content:"\f14e"}.fa-toggle-down:before,.fa-caret-square-o-down:before{content:"\f150"}.fa-toggle-up:before,.fa-caret-square-o-up:before{content:"\f151"}.fa-toggle-right:before,.fa-caret-square-o-right:before{content:"\f152"}.fa-euro:before,.fa-eur:before{content:"\f153"}.fa-gbp:before{content:"\f154"}.fa-dollar:before,.fa-usd:before{content:"\f155"}.fa-rupee:before,.fa-inr:before{content:"\f156"}.fa-cny:before,.fa-rmb:before,.fa-yen:before,.fa-jpy:before{content:"\f157"}.fa-ruble:before,.fa-rouble:before,.fa-rub:before{content:"\f158"}.fa-won:before,.fa-krw:before{content:"\f159"}.fa-bitcoin:before,.fa-btc:before{content:"\f15a"}.fa-file:before{content:"\f15b"}.fa-file-text:before{content:"\f15c"}.fa-sort-alpha-asc:before{content:"\f15d"}.fa-sort-alpha-desc:before{content:"\f15e"}.fa-sort-amount-asc:before{content:"\f160"}.fa-sort-amount-desc:before{content:"\f161"}.fa-sort-numeric-asc:before{content:"\f162"}.fa-sort-numeric-desc:before{content:"\f163"}.fa-thumbs-up:before{content:"\f164"}.fa-thumbs-down:before{content:"\f165"}.fa-youtube-square:before{content:"\f166"}.fa-youtube:before{content:"\f167"}.fa-xing:before{content:"\f168"}.fa-xing-square:before{content:"\f169"}.fa-youtube-play:before{content:"\f16a"}.fa-dropbox:before{content:"\f16b"}.fa-stack-overflow:before{content:"\f16c"}.fa-instagram:before{content:"\f16d"}.fa-flickr:before{content:"\f16e"}.fa-adn:before{content:"\f170"}.fa-bitbucket:before{content:"\f171"}.fa-bitbucket-square:before{content:"\f172"}.fa-tumblr:before{content:"\f173"}.fa-tumblr-square:before{content:"\f174"}.fa-long-arrow-down:before{content:"\f175"}.fa-long-arrow-up:before{content:"\f176"}.fa-long-arrow-left:before{content:"\f177"}.fa-long-arrow-right:before{content:"\f178"}.fa-apple:before{content:"\f179"}.fa-windows:before{content:"\f17a"}.fa-android:before{content:"\f17b"}.fa-linux:before{content:"\f17c"}.fa-dribbble:before{content:"\f17d"}.fa-skype:before{content:"\f17e"}.fa-foursquare:before{content:"\f180"}.fa-trello:before{content:"\f181"}.fa-female:before{content:"\f182"}.fa-male:before{content:"\f183"}.fa-gittip:before,.fa-gratipay:before{content:"\f184"}.fa-sun-o:before{content:"\f185"}.fa-moon-o:before{content:"\f186"}.fa-archive:before{content:"\f187"}.fa-bug:before{content:"\f188"}.fa-vk:before{content:"\f189"}.fa-weibo:before{content:"\f18a"}.fa-renren:before{content:"\f18b"}.fa-pagelines:before{content:"\f18c"}.fa-stack-exchange:before{content:"\f18d"}.fa-arrow-circle-o-right:before{content:"\f18e"}.fa-arrow-circle-o-left:before{content:"\f190"}.fa-toggle-left:before,.fa-caret-square-o-left:before{content:"\f191"}.fa-dot-circle-o:before{content:"\f192"}.fa-wheelchair:before{content:"\f193"}.fa-vimeo-square:before{content:"\f194"}.fa-turkish-lira:before,.fa-try:before{content:"\f195"}.fa-plus-square-o:before{content:"\f196"}.fa-space-shuttle:before{content:"\f197"}.fa-slack:before{content:"\f198"}.fa-envelope-square:before{content:"\f199"}.fa-wordpress:before{content:"\f19a"}.fa-openid:before{content:"\f19b"}.fa-institution:before,.fa-bank:before,.fa-university:before{content:"\f19c"}.fa-mortar-board:before,.fa-graduation-cap:before{content:"\f19d"}.fa-yahoo:before{content:"\f19e"}.fa-google:before{content:"\f1a0"}.fa-reddit:before{content:"\f1a1"}.fa-reddit-square:before{content:"\f1a2"}.fa-stumbleupon-circle:before{content:"\f1a3"}.fa-stumbleupon:before{content:"\f1a4"}.fa-delicious:before{content:"\f1a5"}.fa-digg:before{content:"\f1a6"}.fa-pied-piper-pp:before{content:"\f1a7"}.fa-pied-piper-alt:before{content:"\f1a8"}.fa-drupal:before{content:"\f1a9"}.fa-joomla:before{content:"\f1aa"}.fa-language:before{content:"\f1ab"}.fa-fax:before{content:"\f1ac"}.fa-building:before{content:"\f1ad"}.fa-child:before{content:"\f1ae"}.fa-paw:before{content:"\f1b0"}.fa-spoon:before{content:"\f1b1"}.fa-cube:before{content:"\f1b2"}.fa-cubes:before{content:"\f1b3"}.fa-behance:before{content:"\f1b4"}.fa-behance-square:before{content:"\f1b5"}.fa-steam:before{content:"\f1b6"}.fa-steam-square:before{content:"\f1b7"}.fa-recycle:before{content:"\f1b8"}.fa-automobile:before,.fa-car:before{content:"\f1b9"}.fa-cab:before,.fa-taxi:before{content:"\f1ba"}.fa-tree:before{content:"\f1bb"}.fa-spotify:before{content:"\f1bc"}.fa-deviantart:before{content:"\f1bd"}.fa-soundcloud:before{content:"\f1be"}.fa-database:before{content:"\f1c0"}.fa-file-pdf-o:before{content:"\f1c1"}.fa-file-word-o:before{content:"\f1c2"}.fa-file-excel-o:before{content:"\f1c3"}.fa-file-powerpoint-o:before{content:"\f1c4"}.fa-file-photo-o:before,.fa-file-picture-o:before,.fa-file-image-o:before{content:"\f1c5"}.fa-file-zip-o:before,.fa-file-archive-o:before{content:"\f1c6"}.fa-file-sound-o:before,.fa-file-audio-o:before{content:"\f1c7"}.fa-file-movie-o:before,.fa-file-video-o:before{content:"\f1c8"}.fa-file-code-o:before{content:"\f1c9"}.fa-vine:before{content:"\f1ca"}.fa-codepen:before{content:"\f1cb"}.fa-jsfiddle:before{content:"\f1cc"}.fa-life-bouy:before,.fa-life-buoy:before,.fa-life-saver:before,.fa-support:before,.fa-life-ring:before{content:"\f1cd"}.fa-circle-o-notch:before{content:"\f1ce"}.fa-ra:before,.fa-resistance:before,.fa-rebel:before{content:"\f1d0"}.fa-ge:before,.fa-empire:before{content:"\f1d1"}.fa-git-square:before{content:"\f1d2"}.fa-git:before{content:"\f1d3"}.fa-y-combinator-square:before,.fa-yc-square:before,.fa-hacker-news:before{content:"\f1d4"}.fa-tencent-weibo:before{content:"\f1d5"}.fa-qq:before{content:"\f1d6"}.fa-wechat:before,.fa-weixin:before{content:"\f1d7"}.fa-send:before,.fa-paper-plane:before{content:"\f1d8"}.fa-send-o:before,.fa-paper-plane-o:before{content:"\f1d9"}.fa-history:before{content:"\f1da"}.fa-circle-thin:before{content:"\f1db"}.fa-header:before{content:"\f1dc"}.fa-paragraph:before{content:"\f1dd"}.fa-sliders:before{content:"\f1de"}.fa-share-alt:before{content:"\f1e0"}.fa-share-alt-square:before{content:"\f1e1"}.fa-bomb:before{content:"\f1e2"}.fa-soccer-ball-o:before,.fa-futbol-o:before{content:"\f1e3"}.fa-tty:before{content:"\f1e4"}.fa-binoculars:before{content:"\f1e5"}.fa-plug:before{content:"\f1e6"}.fa-slideshare:before{content:"\f1e7"}.fa-twitch:before{content:"\f1e8"}.fa-yelp:before{content:"\f1e9"}.fa-newspaper-o:before{content:"\f1ea"}.fa-wifi:before{content:"\f1eb"}.fa-calculator:before{content:"\f1ec"}.fa-paypal:before{content:"\f1ed"}.fa-google-wallet:before{content:"\f1ee"}.fa-cc-visa:before{content:"\f1f0"}.fa-cc-mastercard:before{content:"\f1f1"}.fa-cc-discover:before{content:"\f1f2"}.fa-cc-amex:before{content:"\f1f3"}.fa-cc-paypal:before{content:"\f1f4"}.fa-cc-stripe:before{content:"\f1f5"}.fa-bell-slash:before{content:"\f1f6"}.fa-bell-slash-o:before{content:"\f1f7"}.fa-trash:before{content:"\f1f8"}.fa-copyright:before{content:"\f1f9"}.fa-at:before{content:"\f1fa"}.fa-eyedropper:before{content:"\f1fb"}.fa-paint-brush:before{content:"\f1fc"}.fa-birthday-cake:before{content:"\f1fd"}.fa-area-chart:before{content:"\f1fe"}.fa-pie-chart:before{content:"\f200"}.fa-line-chart:before{content:"\f201"}.fa-lastfm:before{content:"\f202"}.fa-lastfm-square:before{content:"\f203"}.fa-toggle-off:before{content:"\f204"}.fa-toggle-on:before{content:"\f205"}.fa-bicycle:before{content:"\f206"}.fa-bus:before{content:"\f207"}.fa-ioxhost:before{content:"\f208"}.fa-angellist:before{content:"\f209"}.fa-cc:before{content:"\f20a"}.fa-shekel:before,.fa-sheqel:before,.fa-ils:before{content:"\f20b"}.fa-meanpath:before{content:"\f20c"}.fa-buysellads:before{content:"\f20d"}.fa-connectdevelop:before{content:"\f20e"}.fa-dashcube:before{content:"\f210"}.fa-forumbee:before{content:"\f211"}.fa-leanpub:before{content:"\f212"}.fa-sellsy:before{content:"\f213"}.fa-shirtsinbulk:before{content:"\f214"}.fa-simplybuilt:before{content:"\f215"}.fa-skyatlas:before{content:"\f216"}.fa-cart-plus:before{content:"\f217"}.fa-cart-arrow-down:before{content:"\f218"}.fa-diamond:before{content:"\f219"}.fa-ship:before{content:"\f21a"}.fa-user-secret:before{content:"\f21b"}.fa-motorcycle:before{content:"\f21c"}.fa-street-view:before{content:"\f21d"}.fa-heartbeat:before{content:"\f21e"}.fa-venus:before{content:"\f221"}.fa-mars:before{content:"\f222"}.fa-mercury:before{content:"\f223"}.fa-intersex:before,.fa-transgender:before{content:"\f224"}.fa-transgender-alt:before{content:"\f225"}.fa-venus-double:before{content:"\f226"}.fa-mars-double:before{content:"\f227"}.fa-venus-mars:before{content:"\f228"}.fa-mars-stroke:before{content:"\f229"}.fa-mars-stroke-v:before{content:"\f22a"}.fa-mars-stroke-h:before{content:"\f22b"}.fa-neuter:before{content:"\f22c"}.fa-genderless:before{content:"\f22d"}.fa-facebook-official:before{content:"\f230"}.fa-pinterest-p:before{content:"\f231"}.fa-whatsapp:before{content:"\f232"}.fa-server:before{content:"\f233"}.fa-user-plus:before{content:"\f234"}.fa-user-times:before{content:"\f235"}.fa-hotel:before,.fa-bed:before{content:"\f236"}.fa-viacoin:before{content:"\f237"}.fa-train:before{content:"\f238"}.fa-subway:before{content:"\f239"}.fa-medium:before{content:"\f23a"}.fa-yc:before,.fa-y-combinator:before{content:"\f23b"}.fa-optin-monster:before{content:"\f23c"}.fa-opencart:before{content:"\f23d"}.fa-expeditedssl:before{content:"\f23e"}.fa-battery-4:before,.fa-battery:before,.fa-battery-full:before{content:"\f240"}.fa-battery-3:before,.fa-battery-three-quarters:before{content:"\f241"}.fa-battery-2:before,.fa-battery-half:before{content:"\f242"}.fa-battery-1:before,.fa-battery-quarter:before{content:"\f243"}.fa-battery-0:before,.fa-battery-empty:before{content:"\f244"}.fa-mouse-pointer:before{content:"\f245"}.fa-i-cursor:before{content:"\f246"}.fa-object-group:before{content:"\f247"}.fa-object-ungroup:before{content:"\f248"}.fa-sticky-note:before{content:"\f249"}.fa-sticky-note-o:before{content:"\f24a"}.fa-cc-jcb:before{content:"\f24b"}.fa-cc-diners-club:before{content:"\f24c"}.fa-clone:before{content:"\f24d"}.fa-balance-scale:before{content:"\f24e"}.fa-hourglass-o:before{content:"\f250"}.fa-hourglass-1:before,.fa-hourglass-start:before{content:"\f251"}.fa-hourglass-2:before,.fa-hourglass-half:before{content:"\f252"}.fa-hourglass-3:before,.fa-hourglass-end:before{content:"\f253"}.fa-hourglass:before{content:"\f254"}.fa-hand-grab-o:before,.fa-hand-rock-o:before{content:"\f255"}.fa-hand-stop-o:before,.fa-hand-paper-o:before{content:"\f256"}.fa-hand-scissors-o:before{content:"\f257"}.fa-hand-lizard-o:before{content:"\f258"}.fa-hand-spock-o:before{content:"\f259"}.fa-hand-pointer-o:before{content:"\f25a"}.fa-hand-peace-o:before{content:"\f25b"}.fa-trademark:before{content:"\f25c"}.fa-registered:before{content:"\f25d"}.fa-creative-commons:before{content:"\f25e"}.fa-gg:before{content:"\f260"}.fa-gg-circle:before{content:"\f261"}.fa-tripadvisor:before{content:"\f262"}.fa-odnoklassniki:before{content:"\f263"}.fa-odnoklassniki-square:before{content:"\f264"}.fa-get-pocket:before{content:"\f265"}.fa-wikipedia-w:before{content:"\f266"}.fa-safari:before{content:"\f267"}.fa-chrome:before{content:"\f268"}.fa-firefox:before{content:"\f269"}.fa-opera:before{content:"\f26a"}.fa-internet-explorer:before{content:"\f26b"}.fa-tv:before,.fa-television:before{content:"\f26c"}.fa-contao:before{content:"\f26d"}.fa-500px:before{content:"\f26e"}.fa-amazon:before{content:"\f270"}.fa-calendar-plus-o:before{content:"\f271"}.fa-calendar-minus-o:before{content:"\f272"}.fa-calendar-times-o:before{content:"\f273"}.fa-calendar-check-o:before{content:"\f274"}.fa-industry:before{content:"\f275"}.fa-map-pin:before{content:"\f276"}.fa-map-signs:before{content:"\f277"}.fa-map-o:before{content:"\f278"}.fa-map:before{content:"\f279"}.fa-commenting:before{content:"\f27a"}.fa-commenting-o:before{content:"\f27b"}.fa-houzz:before{content:"\f27c"}.fa-vimeo:before{content:"\f27d"}.fa-black-tie:before{content:"\f27e"}.fa-fonticons:before{content:"\f280"}.fa-reddit-alien:before{content:"\f281"}.fa-edge:before{content:"\f282"}.fa-credit-card-alt:before{content:"\f283"}.fa-codiepie:before{content:"\f284"}.fa-modx:before{content:"\f285"}.fa-fort-awesome:before{content:"\f286"}.fa-usb:before{content:"\f287"}.fa-product-hunt:before{content:"\f288"}.fa-mixcloud:before{content:"\f289"}.fa-scribd:before{content:"\f28a"}.fa-pause-circle:before{content:"\f28b"}.fa-pause-circle-o:before{content:"\f28c"}.fa-stop-circle:before{content:"\f28d"}.fa-stop-circle-o:before{content:"\f28e"}.fa-shopping-bag:before{content:"\f290"}.fa-shopping-basket:before{content:"\f291"}.fa-hashtag:before{content:"\f292"}.fa-bluetooth:before{content:"\f293"}.fa-bluetooth-b:before{content:"\f294"}.fa-percent:before{content:"\f295"}.fa-gitlab:before{content:"\f296"}.fa-wpbeginner:before{content:"\f297"}.fa-wpforms:before{content:"\f298"}.fa-envira:before{content:"\f299"}.fa-universal-access:before{content:"\f29a"}.fa-wheelchair-alt:before{content:"\f29b"}.fa-question-circle-o:before{content:"\f29c"}.fa-blind:before{content:"\f29d"}.fa-audio-description:before{content:"\f29e"}.fa-volume-control-phone:before{content:"\f2a0"}.fa-braille:before{content:"\f2a1"}.fa-assistive-listening-systems:before{content:"\f2a2"}.fa-asl-interpreting:before,.fa-american-sign-language-interpreting:before{content:"\f2a3"}.fa-deafness:before,.fa-hard-of-hearing:before,.fa-deaf:before{content:"\f2a4"}.fa-glide:before{content:"\f2a5"}.fa-glide-g:before{content:"\f2a6"}.fa-signing:before,.fa-sign-language:before{content:"\f2a7"}.fa-low-vision:before{content:"\f2a8"}.fa-viadeo:before{content:"\f2a9"}.fa-viadeo-square:before{content:"\f2aa"}.fa-snapchat:before{content:"\f2ab"}.fa-snapchat-ghost:before{content:"\f2ac"}.fa-snapchat-square:before{content:"\f2ad"}.fa-pied-piper:before{content:"\f2ae"}.fa-first-order:before{content:"\f2b0"}.fa-yoast:before{content:"\f2b1"}.fa-themeisle:before{content:"\f2b2"}.fa-google-plus-circle:before,.fa-google-plus-official:before{content:"\f2b3"}.fa-fa:before,.fa-font-awesome:before{content:"\f2b4"}.fa-handshake-o:before{content:"\f2b5"}.fa-envelope-open:before{content:"\f2b6"}.fa-envelope-open-o:before{content:"\f2b7"}.fa-linode:before{content:"\f2b8"}.fa-address-book:before{content:"\f2b9"}.fa-address-book-o:before{content:"\f2ba"}.fa-vcard:before,.fa-address-card:before{content:"\f2bb"}.fa-vcard-o:before,.fa-address-card-o:before{content:"\f2bc"}.fa-user-circle:before{content:"\f2bd"}.fa-user-circle-o:before{content:"\f2be"}.fa-user-o:before{content:"\f2c0"}.fa-id-badge:before{content:"\f2c1"}.fa-drivers-license:before,.fa-id-card:before{content:"\f2c2"}.fa-drivers-license-o:before,.fa-id-card-o:before{content:"\f2c3"}.fa-quora:before{content:"\f2c4"}.fa-free-code-camp:before{content:"\f2c5"}.fa-telegram:before{content:"\f2c6"}.fa-thermometer-4:before,.fa-thermometer:before,.fa-thermometer-full:before{content:"\f2c7"}.fa-thermometer-3:before,.fa-thermometer-three-quarters:before{content:"\f2c8"}.fa-thermometer-2:before,.fa-thermometer-half:before{content:"\f2c9"}.fa-thermometer-1:before,.fa-thermometer-quarter:before{content:"\f2ca"}.fa-thermometer-0:before,.fa-thermometer-empty:before{content:"\f2cb"}.fa-shower:before{content:"\f2cc"}.fa-bathtub:before,.fa-s15:before,.fa-bath:before{content:"\f2cd"}.fa-podcast:before{content:"\f2ce"}.fa-window-maximize:before{content:"\f2d0"}.fa-window-minimize:before{content:"\f2d1"}.fa-window-restore:before{content:"\f2d2"}.fa-times-rectangle:before,.fa-window-close:before{content:"\f2d3"}.fa-times-rectangle-o:before,.fa-window-close-o:before{content:"\f2d4"}.fa-bandcamp:before{content:"\f2d5"}.fa-grav:before{content:"\f2d6"}.fa-etsy:before{content:"\f2d7"}.fa-imdb:before{content:"\f2d8"}.fa-ravelry:before{content:"\f2d9"}.fa-eercast:before{content:"\f2da"}.fa-microchip:before{content:"\f2db"}.fa-snowflake-o:before{content:"\f2dc"}.fa-superpowers:before{content:"\f2dd"}.fa-wpexplorer:before{content:"\f2de"}.fa-meetup:before{content:"\f2e0"}.sr-only{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0, 0, 0, 0);border:0}.sr-only-focusable:active,.sr-only-focusable:focus{position:static;width:auto;height:auto;margin:0;overflow:visible;clip:auto}

/*------------------------------------*\
	Reset CSS
\*------------------------------------*/

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,main,menu,nav,section,summary,time,mark,audio,video{
	margin:0;
	border:0;
	padding:0;
	max-width:100%;
	background:transparent
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section{
	display:block
}
blockquote,q{
	quotes:none
}
pre{
	display:inline-block
}
blockquote:before,
blockquote:after,
q:before,
q:after{
	content:none
}
ins{
	text-decoration:none
}
del{
	text-decoration:line-through
}
abbr[title],
dfn[title]{
	cursor:help
}
table{
	table-layout:fixed;
	border-collapse:collapse;
	border-spacing:0;
	empty-cells:show
}
input,select{
	margin:0;
	padding:0;
	vertical-align:middle
}
button{
	margin:0;
	border:0;
	padding:0;
	background:transparent;
	font:inherit;
	cursor:pointer
}
button::-moz-focus-inner{
	border:0;
	padding:0
}
a{
	color:inherit;
	text-decoration:none
}
/*------------------------------------*\
	Common Style
\*------------------------------------*/

html,body{
	height:100%
}
body{
	display:table;
	width:100%;
	background:#dbdbdc url(/images/common/bg_body.png?v=2016121301) repeat-y center top;
	font-family:'돋움', dotum, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#4f4f4f
}
#wrap{
	display:table-row;
	height:100%
}
#wrap .wrap-inner{
	position:relative;
	margin:0 auto;
	min-width:1200px;
	width:1200px;
	background-color:#e6e6e7;
}
.a11y-hidden{
	overflow:hidden !important;
	clip:rect(1px, 1px, 1px, 1px) !important;
	position:absolute !important;
	width:1px !important;
	height:1px !important
}
.a11y-hidden.screen-out{
	position:absolute;
	top:-2px
}
.skip-nav{position:absolute;display:block;width:100%;left:0;top:-10000px;z-index:500;font-size:1.3em;text-align:center}
.skip-nav:hover, .skip-nav:focus, .skip-nav:active{position:absolute;top:0;background:#862ccc;padding:1em 0;font-weight:bold;color:#fff;z-index:500}
.btn-close-section{
	overflow:hidden;
	position:absolute;
	top:7px;
	right:23px;
	width:36px;
	height:36px;
	color:#fff;
	font-size:18px;
	line-height:2;
}
.btn-close-section:before{
	display:block;
	margin:0 auto;
	content:url(/images/common/btn_close_bnnr.png?v=2016121301)
}
.direct-scroll{
	position:fixed;
	width:30px;
	bottom:80px;
	left:50%;
	z-index:10;
	margin-left:570px;
}
.direct-scroll button,
.direct-scroll img{
	display:block
}
.direct-scroll button{
	margin-top:1px
}
/*------------------------------------*\
	Navigation
\*------------------------------------*/
#navBar{
	background-color:#272727;
	padding:13px 89px 0;
	height:57px
}
#navBar .logo{
	float:left;
	display:inline-block;
	width:110px;
	height:45px;
	font-size:25px;
	text-align:right;
}
#navBar .logo a{
	overflow:hidden;
	display:block;
	width:100%;
	height:100%;
	color:#a35ef0
}
#navBar .logo a:before{
	display:table;
	content:url(/images/common/top_pooq_logo.png?v=2016121301)
}
#navBar.pooqzone .logo a:before{
	display:table;
	content:url(/images/pooqzone/top-logo.png?v=2016121301)
}
#navBar .main-menu{
	float:left;
	margin-left:20px;
	width:381px
}
#navBar .main-menu ul{
	list-style-type:none
}
#navBar .main-menu ul:after{
	overflow:hidden;
	clear:both;
	display:table;
	height:0;
	content:'';
}
#navBar .main-menu li{
	float:left;
	margin-left:20px
}
#navBar .main-menu li:first-child{
	margin-left:0;
	width:71px
}
#navBar .main-menu li:nth-child(2){
	width:67px
}
#navBar .main-menu li:nth-child(3){
	width:31px
}
#navBar .main-menu li:nth-child(4){
	width:53px
}
#navBar .main-menu li:nth-child(5){
	width:75px
}
/* nth-child for lte IE8 */
.lt-ie9 #navBar .main-menu li:first-child + li{
	width:67px
}
.lt-ie9 #navBar .main-menu li:first-child + li + li{
	width:31px
}
.lt-ie9 #navBar .main-menu li:first-child + li + li + li{
	width:53px
}
.lt-ie9 #navBar .main-menu li:first-child + li + li + li + li{
	width:75px
}
#navBar .main-menu li a{
	overflow:hidden;
	display:inline-block;
	width:100%;
	height:45px;
	font-size:18px;
	color:#fff;
	vertical-align:middle;
	letter-spacing:-.025em
}
#navBar .main-menu li a:before{
	position:relative;
	display:block;
	content:url(/images/common/txt_main_menu.png?v=2016121301)
}
#navBar .main-menu li:nth-child(2) a:before{
	margin-left:-92px
}
#navBar .main-menu li:nth-child(3) a:before{
	margin-left:-180px
}
#navBar .main-menu li:nth-child(4) a:before{
	margin-left:-231px
}
#navBar .main-menu li:nth-child(5) a:before{
	margin-left:-304px
}
/* nth-child for lte IE8 */
.lt-ie9 #navBar .main-menu li:first-child + li a:before{
	margin-left:-92px
}
.lt-ie9 #navBar .main-menu li:first-child + li + li a:before{
	margin-left:-180px
}
.lt-ie9 #navBar .main-menu li:first-child + li + li + li a:before{
	margin-left:-231px
}
.lt-ie9 #navBar .main-menu li:first-child + li + li + li + li a:before{
	margin-left:-304px
}
/* hasLayout IE Fix */
#navBar .main-menu li a:hover,
#navBar .main-menu li a:focus{
	zoom:1
}
#navBar .main-menu li a:hover:before,
#navBar .main-menu li a:focus:before{
	margin-top:-45px
}
#navBar .util-menu{
	float:right;
	width:185px
}
#navBar .util-menu ul{
	list-style-type:none
}
#navBar .util-menu ul:after{
	overflow:hidden;
	clear:both;
	content:'';
	display:table;
	height:0
}
#navBar .util-menu li{
	float:left;
	margin-left:20px
}
#navBar .util-menu li:first-child{
	margin-left:0;
	width:49px;
	text-align:right
}
#navBar .util-menu li:nth-child(2){
	width:36px
}
#navBar .util-menu li:nth-child(3){
	width:60px
}
/* nth-child for lte IE8 */
.lt-ie9 #navBar .util-menu li:first-child + li{
	width:36px
}
.lt-ie9 #navBar .util-menu li:first-child + li + li{
	width:60px
}
#navBar .util-menu li a{
	overflow:hidden;
	display:inline-block;
	width:100%;
	height:45px;
	font-size:14px;
	color:#fff;
	vertical-align:middle;
	letter-spacing:-.025em
}
#navBar .util-menu li a:before{
	display:block;
	margin-left:12px;
	content:url(/images/common/txt_util_menu.png?v=2016121301)
}
#navBar .util-menu li a:hover:before,
#navBar .util-menu li a:focus:before{
	margin-top:-45px
}
#navBar .util-menu li:first-child a.login:before{
	margin-left:-57px
}
#navBar .util-menu li:nth-child(2) a:before{
	margin-left:-126px
}
#navBar .util-menu li:nth-child(3) a:before{
	margin-left:-182px
}
/* nth-child for lte IE8 */
.lt-ie9 #navBar .util-menu li:first-child + li a:before{
	margin-left:-126px
}
.lt-ie9 #navBar .util-menu li:first-child + li + li a:before{
	margin-left:-182px
}
#navBar.pooqzone .util-menu li:first-child{
	float:right;
	width:113px;
	line-height:45px;
}			
#navBar.pooqzone .util-menu li:first-child a:before{
	margin-left:0;
	content:url(/images/pooqzone/txt_pz_logout.png?v=2016121301)
}
#navBar .uni-search{
	position:relative;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	margin-top:8px;
	margin-left:597px;
	width:210px;
	height:28px;
	background:#fff
}
#navBar .uni-search [role='status']{
	overflow:hidden;clip:rect(1px, 1px, 1px, 1px);position:absolute;width:1px;height:1px
}
#navBar .uni-search input{
	overflow:hidden;
	border:0;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	padding-left:10px;
	width:175px;
	height:28px;
	font-size:12px;
	line-height:28px;
	color:#aaa;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box
}
#navBar .uni-search .btn-uni-search{
	overflow:hidden;
	position:absolute;
	top:4px;
	right:10px;
	width:22px;
	height:21px;
	color:#fff;
	vertical-align:middle
}
#navBar .uni-search .btn-uni-search:before{
	display:block;
	content:url(/images/common/btn_srch_uni.png?v=2016121301)
}
#navBar .uni-search.focused .btn-uni-search:before{
	margin-top:-21px
}
#navBar .uni-search.focused ul[role='listbox']{
	position:absolute;
	overflow:hidden;
	display:block;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	margin:1px 0 0 0;
	width:210px;
	background-color:#f5f5f5;
	z-index:100;
}
#navBar .uni-search.focused ul[role='listbox'] li{
	display:block;
	padding:0 12px;
	height:36px;
	font-size:12px;
	line-height:36px;
	color:#666
}
#navBar .uni-search.focused ul[role='listbox'] li:hover,
#navBar .uni-search.focused ul[role='listbox'] li.active{
	background-color:#8135c9;
	color:#fff
}
#navBar .uni-search.focused ul[role='listbox'] li strong.matched-mark,
#navBar .uni-search.focused ul[role='listbox'] li em.matched-mark{
	font-style:normal;
	color:#8135c9
}
#navBar .uni-search.focused ul[role='listbox'] li:hover strong.matched-mark,
#navBar .uni-search.focused ul[role='listbox'] li:hover em.matched-mark,
#navBar .uni-search.focused ul[role='listbox'] li.active strong.matched-mark,
#navBar .uni-search.focused ul[role='listbox'] li.active em.matched-mark{
	color:#fff
}

/*------------------------------------*\
	Common Program Lists
\*------------------------------------*/
.program-lists{
	position:relative;
	margin-top:50px;
	padding:0 88px 0
}
.program-lists .program-lists-title{
	overflow:hidden;
	display:block;
	padding-left:2px;
	font-family:'Noto Sans KR';
	font-size:16px;
	font-weight:500;
	line-height:1.2;
	letter-spacing:-0.05em;
	color:#333;
}
.lt-ie9 .program-lists .program-lists-title,
.ie9 .program-lists .program-lists-title{
	font-family:'맑은 고딕', 'Malgun Gothic', 'Apple SD Gothic Neo', 'Apple Gothic';
	line-height:1.2;
}
.program-lists ul{
	margin:-10px auto 0;
	padding-bottom:2px;
	max-width:1050px;
	list-style-type:none
}
.program-lists ul:after{
	overflow:hidden;
	clear:both;
	display:table;
	height:0;
	content:''
}
.program-lists .program-list-item{
	position:relative;
	float:left;
	margin-top:10px;
	margin-right:8px
}
.program-lists .program-list-item span.icons{
	position:absolute;
	top:5px;
	right:6px;
	width:65px;
	text-align:right;
}
.program-lists .program-list-item .ico-grade{
	display:inline-block;
	overflow:hidden;
	width:29px;
	height:29px;
	font-size:14px;
	font-weight:bold;
	color:#fff
}
.program-lists .program-list-item span.ico-grade-0:before{
	display:inline-block;
	content:url(/images/common/ico-grade-0.png)
}
.program-lists .program-list-item span.ico-grade-12:before{
	display:inline-block;
	content:url(/images/common/ico-grade-12.png)
}
.program-lists .program-list-item span.ico-grade-15:before{
	display:inline-block;
	content:url(/images/common/ico-grade-15.png)
}
.program-lists .program-list-item span.ico-grade-18:before{
	display:inline-block;
	content:url(/images/common/ico-grade-18.png)
}
.program-lists .program-list-item span.ico-free{
	display:inline-block;
	overflow:hidden;
	margin-right:6px;
	width:30px;
	height:30px;
	font-size:14px;
	font-weight:bold;
	color:#fff
}
.program-lists .program-list-item span.ico-free:before{
	display:block;
	content:url(/images/common/ico_contents_free.png)
}
.program-lists .program-list-item span.ribons{
	position:absolute;
	top:6px;
	left:-2px
}
.program-lists .program-list-item span.ribons > span{
	display:block;
	margin-bottom:3px;
	vertical-align:top;
}
.program-lists .program-list-item span.package-inclusive{
	position:absolute;
	left:10px;
	bottom:48px;
}
.program-lists .program-list-item span.package-qvod{
	position:absolute;
	left:4px;
	bottom:60px;
}
.program-lists .program-list-item > a{
	display:block;
	border:1px solid #ddd;
	width:196px
}
.program-lists .program-list-item > a:hover,
.program-lists .program-list-item > a:focus{
	outline:2px solid #a553ff;
	border-color:#862ccc
}
.program-lists .program-list-item > a > img{
	display:block
}
.program-lists .program-info-box,
.program-lists .movie-info-box{
	display:block;
	border-top:1px solid #ddd;
	background-color:#fff;
	font-size:12px;
	line-height:1

}
.program-lists .program-info-box{
	padding:12px 16px 10px;
}
.program-lists .movie-info-box{
	padding:13px 16px;
}
.program-lists .program-list-item > a:hover .program-info-box,
.program-lists .program-list-item > a:focus .program-info-box,
.program-lists .program-list-item > a:hover .movie-info-box,
.program-lists .program-list-item > a:focus .movie-info-box{
	border-color:#862ccc
}
.program-lists .program-title,
.program-lists .movie-title,
.program-lists .program-info{
	display:block
}
.program-lists .program-title,
.program-lists .movie-title{
	font-weight:bold;
	line-height:1.2;
}
.program-lists .program-title{
	width:164px;
	margin-bottom:6px
}
.program-lists .movie-title{
	overflow:hidden;
	width:164px;
	white-space:nowrap;
	text-overflow:ellipsis
}
.program-lists .program-title:after{
	overflow:hidden;
	clear:both;
	display:table;
	height:0;
	content:''
}
.program-lists .program-title > span{
	float:left;
	text-decoration:inherit
}
.program-lists .program-title > span:first-child{
	overflow:hidden;
	max-width:164px;
	white-space:nowrap;
	text-overflow:ellipsis
}
.program-lists .program-info-box.thumb-type-vod .program-title > span:first-child{
	max-width:111px
}
.program-lists .program-title .ep-num{
	overflow:hidden;
	width:53px;
	text-align:right;
	white-space:nowrap
}
.program-lists .program-info > span{
	display:inline-block;
	vertical-align:middle
}
.program-lists .program-info .end-time + span:before,
.program-lists .program-info .air-date + span:before{
	content:'|';
	display:inline-block;
	margin:0 .25em;
}
.program-lists .program-info > span.air-date + span,
.program-lists .program-info > span.end-time + span{
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}

.program-lists .program-info > span.air-date + span{
	max-width:68px
}
.program-lists .program-info > span.end-time + span{
	max-width:98px
}
.program-lists .program-list-item > a:hover .program-title,
.program-lists .program-list-item > a:focus .program-title,
.program-lists .program-list-item > a:hover .program-info,
.program-lists .program-list-item > a:focus .program-info,
.program-lists .program-list-item > a:hover .movie-title,
.program-lists .program-list-item > a:focus .movie-title{
	color:#862ccc;
	text-decoration:underline
}
.program-lists .program-view-more{
	overflow:hidden;
	position:absolute;
	top:4px;
	right:90px;
	width:70px;	
	font-family:'Noto Sans KR';
	font-size:14px;
	font-weight:500;
	text-align:right;
	line-height:1.1;
}
.lt-ie9 .program-lists .program-view-more,
.ie9 .program-lists .program-view-more{
	font-family:'맑은 고딕', 'Malgun Gothic', 'Apple SD Gothic Neo', 'Apple Gothic';
	line-height:1.2;
}
.program-lists .program-view-more:after{
	content:url(/images/common/ico-circle-plus.png);
	margin-left:.25em;
	display:inline-block;
	vertical-align:middle
}
.program-lists .btn-prev-slides,
.program-lists .btn-next-slides{
	overflow:hidden;
	position:absolute;
	top:50%;
	margin-top:-21px;
	width:22px;
	height:42px
}
.program-lists .btn-prev-slides:before,
.program-lists .btn-next-slides:before{
	display:table;
	content:url(/images/common/btn_program_slides_move.png)
}
.program-lists .btn-prev-slides:hover,
.program-lists .btn-next-slides:hover,
.program-lists .btn-prev-slides:focus,
.program-lists .btn-next-slides:focus{
	zoom:1
}
.program-lists .btn-prev-slides:hover:before,
.program-lists .btn-next-slides:hover:before,
.program-lists .btn-prev-slides:focus:before,
.program-lists .btn-next-slides:focus:before{
	margin-top:-42px
}
.program-lists .btn-prev-slides{
	left:46px
}
.program-lists .btn-next-slides{
	right:46px
}
.program-lists .btn-next-slides:before{
	margin-left:-22px
}

/*------------------------------------*\
	Common Program Slider
\*------------------------------------*/
.program-lists .program-slides-wrapper{
	overflow:hidden;
	max-width:1030px;
	margin-left:-1px;
	padding-top:12px;
	padding-left:2px;
	width:1030px
}
.program-lists .program-slides-wrapper ul,
.program-lists .program-slides-wrapper ol{
	width:100%
}
.program-lists .program-slides-wrapper ul[data-item-count='10'],
.program-lists .program-slides-wrapper ol[data-item-count='10']{
	height:344px
}

/*------------------------------------*\
	Footer
\*------------------------------------*/
#footer{
	display:table-row;
	height:1px
}
#footer .foot-inner{
	position:relative;
	margin:0 auto;
	padding-top:70px;
	min-width:1200px;
	width:1200px;
	background-color:transparent
}

/*------------------------------------*\
	Recently Notice
\*------------------------------------*/
#recNotice{
	padding:17px 89px 0;
	background-color:#ddd;
	color:#333;
	height:33px;
}
#recNotice .notice-title{
	overflow:hidden;
	display:inline-block;
	margin-right:12px;
	font-family: 'Noto Sans KR';
	font-weight:500;
	font-size:16px;
	line-height:1.2;
	vertical-align:middle;
	letter-spacing:-0.05em
}
.lt-ie9 #recNotice .notice-title,
.ie9 #recNotice .notice-title{
	font-family:'맑은 고딕', 'Malgun Gothic', 'Apple SD Gothic Neo', 'Apple Gothic';
	line-height:1.2
}
#recNotice > a{
	display:inline-block;
	font-size:11px;
	line-height:19px;
	color:#555;
	vertical-align:middle
}
#recNotice > a.notice-view-more{
	float:right;
	font-family:'Noto Sans KR';
	font-size:14px;
	font-weight:500;
	color:#333;
	line-height:1.1;
}
.lt-ie9 #recNotice  > a.notice-view-more,
.ie9 #recNotice  > a.notice-view-more{
	font-family:'맑은 고딕', 'Malgun Gothic', 'Apple SD Gothic Neo', 'Apple Gothic';
	line-height:1.2
}
#recNotice > a.notice-view-more:after{
	content: url(/images/common/ico-circle-plus.png);
	margin-left: .25em;
	display: inline-block;
	vertical-align: middle;
}

/*------------------------------------*\
	Footer Info
\*------------------------------------*/
#footerInfo{
	padding:30px 89px
}
#footerInfo .footer-menu{
	position:relative;
	float:left;
	margin-bottom:20px
}
#footerInfo .footer-menu:after{
	content:url(/images/common/evt-pooqzone-half.png);
	position:absolute;
	top:-23px;
	right:-120px
}
#footerInfo .footer-menu a{
	float:left;
	margin-left:30px
}
#footerInfo .footer-menu a:first-child{
	margin-left:0;
	width:41px
}
#footerInfo .footer-menu a:nth-child(2){
	width:54px
}
#footerInfo .footer-menu a:nth-child(3){
	width:41px
}
#footerInfo .footer-menu a:nth-child(4){
	width:83px
}
#footerInfo .footer-menu a:nth-child(5){
	width:41px
}
#footerInfo .footer-menu a:nth-child(6){
	width:42px
}
.lt-ie9 #footerInfo .footer-menu{
	width:451px;
}
.lt-ie9 #footerInfo .footer-menu a:first-child + a{
	width:54px
}
.lt-ie9 #footerInfo .footer-menu a:first-child + a + a{
	width:41px
}
.lt-ie9 #footerInfo .footer-menu a:first-child + a + a + a{
	width:83px
}
.lt-ie9 #footerInfo .footer-menu a:first-child + a + a + a + a{
	width:41px
}
.lt-ie9 #footerInfo .footer-menu a:first-child + a + a + a + a + a{
	width:42px
}
#footerInfo .footer-menu a{
	overflow:hidden;
	position:relative;
	display:inline-block;
	height:12px;
	font-size:14px;
	line-height:1;
	color:#fff;
	letter-spacing:-2px;
	vertical-align:middle
}
#footerInfo .footer-menu a:before{
	display:block;
	content:url(/images/common/txt_footer_menu.png)
}
#footerInfo .footer-menu a:nth-child(2):before{
	margin-left:-71px;
}
#footerInfo .footer-menu a:nth-child(3):before{
	margin-left:-155px;
}
#footerInfo .footer-menu a:nth-child(4):before{
	margin-left:-225px;
}
#footerInfo .footer-menu a:nth-child(5):before{
	margin-left:-338px;
}
#footerInfo .footer-menu a:nth-child(6):before{
	margin-left:-409px;
}
.lt-ie9 #footerInfo .footer-menu a:first-child + a:before{
	margin-left:-71px
}
.lt-ie9 #footerInfo .footer-menu a:first-child + a + a:before{
	margin-left:-155px
}
.lt-ie9 #footerInfo .footer-menu a:first-child + a + a + a:before{
	margin-left:-225px
}
.lt-ie9 #footerInfo .footer-menu a:first-child + a + a + a + a:before{
	margin-left:-338px
}
.lt-ie9 #footerInfo .footer-menu a:first-child + a + a + a + a + a:before{
	margin-left:-409px;
}
#footerInfo .copyright{
	overflow:hidden;
	display:inline-block;
	width:282px;
	height:12px;
	color:#393939
}
#footerInfo .copyright:before{
	display:block;
	content:url(/images/common/txt_footer_copyright.png)
}
#footerInfo .company-info{
	clear:both;
	display:block;
	margin-bottom:12px;
	font-size:11px;
	line-height:18px;
	color:#696969;
	text-align:left
}

/*------------------------------------*\
	Login Layer Popup
\*------------------------------------*/
.layer-popup{
	border:1px solid #e0e0e0;
	width:306px;
	background-color:#f5f5f5;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	box-shadow:2px 2px 0 #e6e6e6, -2px -2px 0 #e6e6e6, 2px -2px 0 #e6e6e6, -2px 2px 0 #e6e6e6
}
.login-layer-popup{
	position:relative
}
.login-layer-popup fieldset{
	border-bottom:1px solid #ddd;
	padding:23px 23px 16px;
	height:158px
}
.login-layer-popup fieldset input[type='text'],
.login-layer-popup fieldset input[type='password']{
	margin-bottom:16px;
	border:1px solid #a6a6a6;
	width:100%;
	height:30px;
	background-color:#fff;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	box-shadow:3px 3px 0 #d6d6d6, -3px -3px 0 #d6d6d6, 3px -3px 0 #d6d6d6, -3px 3px 0 #d6d6d6;
	font-family:'돋움', dotum;
	font-weight:bold;
	line-height:30px;
	color:#4f4f4f;
	text-indent:11px
}
.login-layer-popup fieldset .btn-login{
	display:block;
	overflow:hidden;
	margin:-3px 0 15px -1px;
	border:1px solid #a962f9;
	width:264px;
	height:35px;
	background-color:#a962f9;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	font-weight:bold;
	color:#fff
}
.login-layer-popup fieldset .btn-login:before{
	display:block;
	content:url(/images/common/btn_login_common.gif)
}
.login-layer-popup fieldset span.util{
	position:absolute;
	left:23px;
	bottom:41px;
	width:80%
}
.login-layer-popup fieldset input[type='checkbox']{
	margin-left:2px
}
.login-layer-popup fieldset label.option{
	display:inline-block;
	padding:2px 7px 0 1px;
	font-family:'돋움', dotum;
	font-size:11px;
	color:#777;
	vertical-align:top
}
.login-layer-popup .login-util{
	border-bottom:1px solid #fff;
	padding:6px 0 4px 22px;
	background-color:#fff;
	border-radius:0 0 4px 4px
}
.login-layer-popup .login-util a{
	display:inline-block;
	font-family:'돋움', dotum;
	font-size:11px;
	color:#7a7a7a;
	letter-spacing:-1px
}
.login-layer-popup .login-util a:before{
	margin:0 8px 0 1px;
	content:"|"
}
.login-layer-popup .login-util a:first-child:before{
	content:none
}
.login-layer-popup .btn-close{
	display:inline-block;
	position:absolute;
	top:205px;
	right:20px;
	font-family:'돋움', dotum;
	font-size:11px;
	color:#7a7a7a;
	letter-spacing:-1px
}
.login-layer-popup .btn-close:after{
	margin-left:4px;
	content:url(/images/common/btn_close_login.gif)
}

/*------------------------------------*\
	Continued Watch
\*------------------------------------*/
#continuedWatch{
	position:fixed;
	bottom:0;
	left:0;
	z-index:10;
	width:100%;
	height:50px;
	background-color:rgba(34, 34, 34, 0.80);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc222222, endColorstr=#cc222222, GradientType=0)
}
#continuedWatch > div{
	position:relative;
	margin:0 auto;
	padding:12px 0;
	min-width:1200px;
	width:1200px;
	height:26px;
	line-height:26px;
	text-align:center
}
#continuedWatch > div .program-title{
	overflow:hidden;
	display:inline-block;
	max-width:685px;
	font-size:14px;
	font-weight:bold;
	color:#c187ff;
	white-space:nowrap;
	text-overflow:ellipsis;
	vertical-align:top
}
#continuedWatch > div .program-info{
	margin-left:5px;
	font-size:14px;
	color:#fff
}
#continuedWatch > div .start-time{
	margin-left:10px;
	font-size:12px;
	font-weight:bold;
	color:#fff
}
#continuedWatch > div > a{
	margin-left:7px;
	font-size:14px;
	font-weight:bold;
	color:#c187ff;
	text-decoration:underline
}


/*------------------------------------*\
	컨텐츠 없음
\*------------------------------------*/
.no-result{
	padding:100px 0;
	width:100%;
	text-align:center
}
.no-result > img{
	padding:39px 0 32px
}
.no-result > span,
.no-result > strong{
	display:block;
	font-size:16px;
	line-height:30px;
	color:#4f4f4f;
	text-align:center;
	white-space:pre-line
}
