@charset "UTF-8";
/**
  * Since :150123
  * Author :Ji Seong bong
  * Version :1.0
*/

/*------------------------------------*\
	Navigation
\*------------------------------------*/
#navBar{
    
}

/*------------------------------------*\
	Promotion
\*------------------------------------*/
#promotion{
    position:relative
}
#promotion .promotion-slides{
	list-style-type:none;
    overflow:hidden;
	width:100%;
    height:426px
}
#promotion .promotion-slides li{
    overflow:hidden;
	width:100%;
	height:100%;
	background-position:0 bottom;
    background-repeat:no-repeat
}
#promotion .promotion-slides li > a{
    display:block;
    height:100%
}
#promotion .btn-prev-slide,
#promotion .btn-next-slide{
    overflow:hidden;
    position:absolute;
    top:50%;
    margin-top:-21px;
    width:40px;
    height:42px
}
#promotion .btn-prev-slide:before,
#promotion .btn-next-slide:before{
    display:table;
    content:url(/images/main/btn_promotion_move.png?v=2016121301)
}
#promotion .btn-prev-slide:hover,
#promotion .btn-next-slide:hover{
    zoom:1
}
#promotion .btn-prev-slide:hover:before,
#promotion .btn-next-slide:hover:before,
#promotion .btn-prev-slide:focus:before,
#promotion .btn-next-slide:focus:before{
    margin-top:-84px
}
#promotion .btn-prev-slide{
    left:20px
}
#promotion .btn-next-slide{
    right:20px
}
#promotion .btn-next-slide:before{
    margin-left:-40px
}
#promotion .slides-pager-wrapper{
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	height:90px;
	background:transparent url(/images/main/bg_indicator.png) no-repeat 0 0;
	z-index:1;
}
#promotion .autoController{
	overflow:hidden;
	position:absolute;
	right:29px;
	bottom:20px;
	width:22px;
	height:22px
}
#promotion .autoController:before{
	display:table;
	content:url(/images/main/btn-autoplay-controller.png)
}
#promotion .autoController[data-status="true"]:before{
	margin-left:-22px;
}
#promotion .slides-pager{
    position:absolute;
    left:50%;
    bottom:17px;
	z-index:10;
    margin-left:-250px;
    width:500px;
	height:14px;
    text-align:center
}
#promotion .slides-pager a{
    overflow:hidden;
    display:inline-block;
	margin-left:10px;
    width:13px;
    height:14px;
    color:#fff
}
#promotion .slides-pager a:first-child{
	margin-left:0;
}
#promotion .slides-pager a:before{
    display:block;
    margin-left:0;
    content:url(/images/main/bull_promotion_dot.png?v=2016121301)
}
#promotion .slides-pager a.on:before{
    margin-left:-22px
}
html.lt-ie9 #promotion .slides-pager a{
    padding-top:14px;
    height:0;
    background-image:url(/images/main/bull_promotion_dot.png?v=2016121301);
    background-position:0px 0
}
html.lt-ie9 #promotion .slides-pager a.on{
    background-position:-22px 0
}
html.lt-ie9 #promotion .slides-pager a:before{
    content:none
}

/*------------------------------------*\
	Main Top Bannner
\*------------------------------------*/
#mainTopBnnr{
	overflow:hidden
}
#mainTopBnnr .bnnr-inner{
	position:relative;
	margin:0 auto;
	width:1200px;
	background:transparent;
	text-align:center;
	font-size:11px;
	color:#FFF
}
#mainTopBnnr .bnnr-inner a,
#mainTopBnnr .bnnr-inner a img{
	display:block
}
#mainTopBnnr .bnnr-inner .expire{
	position:absolute;
	bottom:15px;
	right:15px;
	width:110px;
	text-align:right
}
#mainTopBnnr .bnnr-inner .expire label{
	vertical-align:middle
}
#mainTopBnnr .bnnr-inner button{
	top:50%;
	right:50px;
	z-index:1;
	margin-top:-18px
}
#mainTopBnnr .bnnr-inner button{
	/** trick for IE **/
	background-color:rgba(255,255,255,0);
}
/*------------------------------------*\
	Main Ribon Bannner
\*------------------------------------*/
#mainBnnr{
    overflow:hidden;
    position:relative;
    margin:30px auto 0;
    width:1022px;
    height:50px
}
#mainBnnr > a{
	display:block
}
#mainBnnr .btn-close-section{
	top:50%;
	right:10px;
	margin-top:-18px;
}
#mainBnnr .btn-close-section{
	/** trick for IE **/
	background-color:rgba(0,0,0,0);
}
/*------------------------------------*\
	personalization
\*------------------------------------*/
.personalization{
    border-bottom:1px solid #d4d4d5;
    padding-bottom:30px
}
.personalization > .program-slides:first-child{
    margin-top:0
}
.personalization + .program-slides{
    margin-top:0
}
#myWatchedPrograms .program-lists-title:before{
    display:block;
    content:url(/images/main/txt_my_watched_program.png)
}
#myWatchedChannel .program-lists-title:before{
    display:block;
    content:url(/images/main/txt_my_watched_channel.png)
}
#mainHitLiveList .program-lists-title:before{
    display:block;
    content:url(/images/main/txt_popular_hotlivetv.png)
}
#mainPopVodsList .program-lists-title:before{
    display:block;
    content:url(/images/main/txt_popular_air_vod.png)
}
#recMainMoviesList .program-lists-title:before{
    display:block;
    content:url(/images/main/txt_recently_movie.png)
}
#recMainMoviesList .btn-prev-slides,
#recMainMoviesList .btn-next-slides{
    top:195px
}
iframe[name='google_conversion_frame']{overflow:hidden !important;clip:rect(1px, 1px, 1px, 1px) !important;position:absolute !important;width:1px !important;height:1px !important}