@font-face {
    font-family: 'PrettyFont';
    font-style: normal;
    font-weight: 400;
    src: local('Oswald Regular'), local('Oswald-Regular'), url(http://themes.googleusercontent.com/static/fonts/oswald/v7/qs_6LdoYjCitupC9judWT-vvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}

@font-face {
    font-family: 'PrettyFont';
    font-style: normal;
    font-weight: 700;
    src: local('Oswald Bold'), local('Oswald-Bold'), url(http://themes.googleusercontent.com/static/fonts/oswald/v7/dI-qzxlKVQA6TUC5RKSb37O3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

.popup_title {
    font-size: 32px;
}

.invite_offer_text {
    font-size: 15px;
}

.add_friend_button.kizi_font {
    font-size: 23px !important;
}

#join_submit_spinner,
#login_submit_spinner {
    margin-top: 0 !important;
}

.mini_game_title {
    font-size: 18px;
}

#friends_center_popup .tabs {
    font-size: 11px;
}

#friends_scroller .user_action_button {
    width: 76px;
}

.join_button, .login_button {
    font-size: 15px;
}

#friend_center_friend_container .friend_level_word {
    width: 38px;
}

#user_friends .add_friend {
    font-size: 9px;
}

@media (min-width: 1301px) {
    .guest-false {
        display: inline-block;
    }
}
