﻿.input-validation-error {
    border-color: #a94442 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.btn-inline {
    display: inline;
    transition: none;
    -webkit-transition: none;
    border: none !important;
}

.btn-inline:hover {
    transition: none;
    -webkit-transition: none;
    border: none !important;
    padding: 0 12px;
}

.boxed-modified {
  border: #ddd 1px solid;
  padding-top: 20px;
  padding-bottom: 20px;
  display: block;
}
