/************************************************
baseArea
************************************************/

body {
	color:#333333;
	-webkit-text-size-adjust: none;
}
h2, h3, h4, h5, h6 {color:#424242;}
/*---------------
webfont(css3)
------------------*/
@font-face{ 
	font-family: 'WebSymbolsRegular';
	src: url('websymbols-regular-webfont.eot');
	src: url('websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('websymbols-regular-webfont.woff') format('woff'),
		 url('websymbols-regular-webfont.ttf') format('truetype'),
		 url('websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
}
.webfont{
	font-family: 'WebSymbolsRegular' !important;
	margin-right:2px;
	color:#666666;
}
a.webfont,
a span.webfont{
	text-decoration:none !important;
}
.rs_skip{}

/*---------------
cmn
------------------*/
p{margin-bottom:1em;}

a:link{
	color: #0e1eb8;
	text-decoration: none;
}
a:visited {
	color: #663333;
	text-decoration: none;
}
a:hover,
a:active{text-decoration: underline;}
/*a:hover span.webfont{text-decoration:none;}*/

*html a:hover span.webfont{
	text-decoration: underline;
}


.clear:before,
.clear:after {
    content:"";
    display:table;
}
.clear:after {
    clear:both;
}
.clear {
	zoom:1;
}/*bag?*/

.brclear{
	clear:both;
}

/*---------------
header
------------------*/
#headerBlockArea{
	position:relative;
	width:100%;
	font-size:86%;
	z-index:0;
	background: url('../img/header_bg_001.gif') 0 0 repeat-x #e2e2e2;
}
#headerBlockArea p{margin-bottom:0;}
#headerBlockArea #headerAreaInner{
	width:992px;
	margin:0 auto;
	z-index:11;
	position:relative;
}
#headerBlockArea .spHeader{display:block;}
#headerBlockArea .logo{
	position:absolute;
	top:0;
	margin-top:23px;
	z-index:1;
	line-height:100%;
}
#headerBlockArea .logo a img{
	margin-right:14px;
}
#headerBlockArea .header_bnr{
	position:absolute;
	right:0;
	z-index:1;
	margin-top:31px;
	line-height:100%;
}
#headerBlockArea a.spmenu{display:none;}
#headerBlockArea #headerSpMenu{display:block;}
#headerBlockArea .submenuBlock{
	margin-top:78px;
	width:100%;
	min-height:47px;
}
#headerBlockArea .submenuBlock .left{
	float:left;
}
#headerBlockArea .submenuBlock .right{
	float:right;
}
#headerBlockArea .fontchange{
	float:left;
	margin:10px 10px 0 0;
	padding: 0;
	border: 0;
	outline: 0;
	background: transparent;
}
#headerBlockArea .fontchange dt{
	float:left;
	font-weight:bold;
	margin:2px 5px 0 0;
}
#headerBlockArea .fontchange dd{
	float:left;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	background: transparent;
}
#headerBlockArea .fontchange dd .normal{
	float:left;
	display:block;
	padding:8px 10px 6px 10px;
	background:#5a5a5a;
	margin-right:6px;
	color:#ffffff;
	text-decoration:none;
	line-height:100%;
}
#headerBlockArea .fontchange dd .large{
	float:left;
	padding:1px;
	border:1px double #cfcfcf;
	background:#ffffff;
	color:#333333;
	text-decoration:none;
}
#headerBlockArea .fontchange dd .large .Back{
	display:block;
	background:#fefefe;
}
#headerBlockArea .fontchange dd .large .Inner{
	display:block;
	padding:5px 8px 5px 8px;
	background: url('../img/btn_bg_001.gif') left bottom repeat-x;
	line-height:100%;
}
#headerBlockArea .fontchange dd .large .webfont{margin-right:3px;}

#headerBlockArea .keyword{
	float:left;
	_width:240px;
	padding:10px 0 8px 10px;
}
#headerBlockArea .keyword .text{
	float:left;
	width:165px;
	min-height:1.3em;
	border-style: none;
	border:1px solid #b3b3b3;
	margin:0;
	padding:5px 5px 5px 22px;
	background: url('../img/search_ico_001.gif') 5px 5px no-repeat #ffffff;
	line-height:100%;
}
#headerBlockArea .keyword a.submit{
	float:left;
	display:block;
	background: url('../img/btn_bg_003.gif') right bottom no-repeat;
	color:#333333;
	text-decoration:none;
}
#headerBlockArea .keyword a.submit span{
	display:block;
	min-height:1.3em;
	padding:8px 6px 4px 6px;
	background: url('../img/btn_bg_002.gif') right top no-repeat;
	line-height:100%;
}
.keydef{color:#999999;}

#headerBlockArea .language{
	float:left;
	margin:17px 0 0 0;
	padding-right:20px;
	border-right:1px solid #999999;
	color:#333333;
	line-height:120%;
}
#headerBlockArea .language li{
	float:left;
	letter-spacing:0.4px;
}
#headerBlockArea .language .slash{
	margin:0 10px;
	color:#999999;
}
#headerBlockArea .language a{color:#333333;}
#headerBlockArea .language a .webfont{display:none;}
#headerBlockArea .readspeak{
	float:left;
	margin:17px 0 0 20px;
	line-height:120%;
	white-space:nowrap;
}
#headerBlockArea .sitemap{
	float:left;
	margin:17px 0 0 10px;
	line-height:120%;
	white-space:nowrap;
}
#headerBlockArea .readspeak .webfont,
#headerBlockArea .sitemap .webfont{
	margin-right:3px;
	color:#666666;
	line-height:0;
}
#headerBlockArea .readspeak a,
#headerBlockArea .sitemap a{color:#333333;}
#headerBlockArea .readspeak a .webfont{display:none;}
#headerBlockArea .sitemap a .webfont{display:none;}
#headerBlockArea .quality{
	float:left;
	margin:8px 0 0 20px;
}
#headerBlockArea .closebtn{display:none;}

#anchor-pagelink {
	display:none;
    position: absolute;
    top: 120px;
	width:970px;
	margin:0 10px;
    font-size: 1px;
    z-index: 0;
}
#anchor-pagelink li{display:inline;}
/*---------------
globalNavi
------------------*/
#globalNaviBlockArea{
	position: relative;
	display:block;
	width:100%;
	min-height:38px;
	line-height:100%;
	letter-spacing:0.4px;
	z-index:1;
	background:#fff;
}
#globalNaviAreaInner{
	width:992px;
	margin:0 auto;
}
#globalNaviBlockArea li{
	float:left;
	width:140px;
}
#globalNaviBlockArea li .webfont{display:none;}
#globalNaviBlockArea li.home		{width:83px;}
#globalNaviBlockArea li.investor	{width:209px;}
#globalNaviBlockArea li a{
	display:block;
	height:22px;
	padding-top:12px;
	border-left:1px solid #fff;
	background:#e60000;
	text-align:center;
	color:#ffffff;
	font-size:115%;
	font-weight:bold;
}
#globalNaviBlockArea li.home a{
	background: url('../img/global_ico_001.gif') 10px center no-repeat #e60000;
	padding-left:27px;
	text-align:left;
}
#globalNaviBlockArea li.investor a{border-right:1px solid #d9d9d9;}
#globalNaviBlockArea li a.active{
	height:25px;
	background:#ffffff;
	color:#333333;
}
#globalNaviBlockArea li.home a.active{
	background: url('../img/global_ico_002.gif') 10px center no-repeat #ffffff;
	padding-left:27px;
	text-align:left;
}
#globalNaviSpBlockArea{
	display:none;
}

/*---------------
footer
------------------*/
#footerBlockArea{
	width:100%;
	margin-top:60px;
	_margin-top:0px;
	padding-bottom:20px;
	font-size:86%;
}
#footerBlockArea p{margin-bottom:0;}
#footerBlockArea #footerBlockAreaInner{
	width:100%;
	border-top:1px solid #c8c8c8;
	z-index:0;
}
#footerBlockArea #footerlinkArea{
	width:100%;
	padding-bottom:40px;
	border-top:1px solid #ffffff;
	background:#e7e7e7;
	color:#333333;
}
#footerBlockArea #footerlinkArea #footerlinkAreaInner{
	width:992px;
	margin:15px auto 0 auto;
}
#footerBlockArea #footerlinkArea #footerlinkAreaInner #footerlinkAreaInnerBg{
	padding:15px 0;
	background: url('../img/footer_bg_001.gif') left top repeat-y;
}
#footerBlockArea #footerlinkAreaInnerBg .menu{
	float:left;
	width:165px;
	margin:0 0 0 33px;
}
#footerBlockArea #footerlinkAreaInnerBg .first{
	width:185px !important;
	margin-left:0px !important;
}
#footerBlockArea #footerlinkAreaInnerBg li{
	padding-left:20px;
	text-indent:-5px;
	line-height:170%;
	margin-bottom:8px;
	
}
#footerBlockArea #footerlinkAreaInnerBg li.heading{
	padding-left:20px;
	text-indent:-0.8em;
	font-weight:bold;
}
*html #footerBlockArea #footerlinkAreaInnerBg li{
	text-indent:0;
}
*html #footerBlockArea #footerlinkAreaInnerBg li.heading{
	text-indent:0;
	position:relative;
	left:-1em;
}
		
#footerBlockArea #footerlinkAreaInnerBg li .webfont{
	display:inline-block;
	margin-right:5px;
	font-size:72%;
	line-height:150%;
	vertical-align:middle;
}
#footerBlockArea #footerlinkAreaInnerBg li.heading .webfont{
	display:inline-block;
	margin:-2px 5px 0 0;
	color:#e20000;
	font-size:115%;
	line-height:150%;
	font-weight:normal;
	vertical-align:middle;
}
#footerBlockArea #footerlinkAreaInnerBg li.parag{margin-top:30px;}
#footerBlockArea #footerlinkAreaInnerBg li a{
	color:#333333;
	vertical-align:middle;
}
#footerBlockArea #footerBnrArea{margin-top:25px;}
#footerBlockArea #footerBnrArea .heading{
	padding-left:15px;
	background: url('../img/heading_bg_003.gif') left top no-repeat;
	font-weight:bold;
}
#footerBlockArea #footerBnrArea ul{
	margin:10px 10px 0 10px;
	background: url('../img/footer_bg_002.gif') left bottom repeat-x;
	font-weight:bold;
}
#footerBlockArea #footerBnrArea li{
	float:left;
	line-height:100%;
	display:table;
}
#footerBlockArea #footerBnrArea li a .Inner img{vertical-align: middle;}
*html #footerBlockArea #footerBnrArea li.last.self a{background:none #FFF;}
*:first-child+html #footerBlockArea #footerBnrArea li.last.self a{background:none #FFF;}

#footerBlockArea #footerBnrArea li.self a .Inner{
	background: #ffffff;
}

#footerBlockArea #footerCaptionArea{
	width:100%;
	background:#ecdfc5;
}
#footerBlockArea #footerCaptionArea #footerCaptionAreaInner{
	width:972px;
	margin:0 auto 0 auto;
	padding:5px 10px;
	background:#ecdfc5;
	text-align:right;
}
#footerBlockArea #footerCaptionArea .webfont{
	margin-right:5px;
	font-size:115%;
	line-height:120%;
	color:#f65700;
}
#footerBlockArea #footerCaptionArea .gt{display:none;}
#footerBlockArea #footerBottomArea{
	width:992px;
	margin:10px auto 0 auto;
}
#footerBlockArea #footerBottomArea .captionList li{
	padding-left: 0.5em;
	text-indent: -0.5em;
	*padding-left: 0;
	*text-indent: 0;
}
#footerBlockArea #footerBottomArea .captionList li img{
	vertical-align: middle;
	margin-right:5px;
}
#footerBlockArea #footerBottomArea .captionList li .webfont{margin:0 5px 0 15px;}
#footerBlockArea #footerBottomArea .captionList li a.linkBlock01{color:#333333;}
#footerBlockArea #footerBottomArea .captionList li a.linkBlock01 .webfont{font-size:86%;}

#footerBlockArea #footerBottomArea .link{margin-top:30px;}
#footerBlockArea #footerBottomArea .link li{
	display:inline;
	margin-right:10px;
}
#footerBlockArea #footerBottomArea .link li a,
ul.captionList li a{
	color:#333333;
	line-height:120%;
	vertical-align:middle;
}
#footerBlockArea #footerBottomArea .link li a .sp {display:none;}
#footerBlockArea #footerBottomArea .copylight{
	margin-top:10px;
	color:#666666;
}
#footerBlockArea #footerBottomArea .copyright{
	margin-top:10px;
	color:#666666;
}

/*---------------
functionBlockArea
------------------*/
#functionBlockArea{
	position:relative;
	width:992px;
	margin:0 auto;
	z-index:2;
}
#functionBlockArea p{margin-bottom:0;}
#functionBlockArea #functionAreaInner{
	margin-top:12px;
	font-size:86%;
	text-align:right;
}
#functionBlockArea .pankuzu{margin-right:10px;}
#functionBlockArea .btn{
	text-align:right;
	*float:right;
	margin-top:10px;
}
#functionBlockArea .readspeakIcon{
	display:inline-block;
	text-align:left;
	*float:left;
	margin:4px 10px 0 0;
}
#functionBlockArea .printBtn{
	display:inline-block;
	text-align:left;
	*float:left;
}

/*---------------
main
------------------*/
#mainBlockArea{
	width:992px;
	margin:0 auto;
	z-index:0;
}

#contentsBlockArea{
	float:left;
	width:750px;
	margin-top:35px;
	font-size:100%;
}
#contentsBlockWideArea{
	margin-top:35px;
	font-size:100%;
}

/*subnaviBlockArea*/
#subnaviBlockArea{
	float:left;
	width:222px;
	margin:35px 0 0 20px;
}

#subnaviBlockArea p{margin-bottom:0;}

#subnaviBlockArea .naviBlock01{border-bottom:2px solid #7c7c7c;}
#subnaviBlockArea .naviBlock01 ul.last,
#subnaviBlockArea .naviBlock01 .last a{border-bottom:0 !important;}
#subnaviBlockArea .naviBlock01 .heading a{
	display:block;
	padding:13px 10px 15px 1.3em;
	*padding:13px 10px 15px 10px;
	background: url('../img/shadow_bg_001.gif') left bottom repeat-x #e60000;
	color:#ffffff;
	font-weight:bold;
	line-height:100%;
	text-indent:-0.4em;
	*text-indent:0;
}
#subnaviBlockArea .naviBlock01 a .webfont{
	display:inline-block;
	margin-right:5px;
	font-weight:normal;
	font-size:72%;
	vertical-align:top;
}
#subnaviBlockArea .naviBlock01 .heading a .webfont{color:#ffffff;}
#subnaviBlockArea .naviBlock01 .webfont{text-decoration:none !important;}
#subnaviBlockArea .naviBlock01 .active a{
	background:#ebebeb !important;
	color:#333333 !important;
}
#subnaviBlockArea .naviBlock01 .active a .webfont{
	visibility:hidden;
}
#subnaviBlockArea .naviBlock01 .active ul a{
	background:#ffffff !important;
	color: #000066 !important;
}
#subnaviBlockArea .naviBlock01 .active ul a .webfont{
	visibility:inherit;
}
#subnaviBlockArea .naviBlock01 ul{
	padding-left:10px;
	line-height:100%;
}
#subnaviBlockArea .naviBlock01 li a{
	display:block;
	*width:100%;
	padding:6px 0px 6px 1em;
	*padding:11px 0px 13px 0;
	border-bottom:1px solid #c6c6c6;
	line-height:170%;
	*line-height:100%;
}
#subnaviBlockArea .naviBlock01 li a .Inner,
#subnaviBlockArea .naviBlock01 ul ul li a .Inner{
	text-indent:-0.8em;
	*text-indent:0;
}
#subnaviBlockArea .naviBlock01 li a .webfont{
	margin-right:5px;
	color:#666666;
	font-weight:normal;
	font-size:72%;
	vertical-align:top;
}
#subnaviBlockArea .naviBlock01 ul ul{
	display:none;
	padding-left:10px;
	border-bottom:1px solid #c6c6c6;
	line-height:100%;
}
#subnaviBlockArea .naviBlock01 ul ul li a{
	display:block;
	*width:100%;
	padding:6px 0px 6px 1em;
	*padding:11px 0px 13px 0;
	border-bottom:1px dotted #c6c6c6;
	line-height:170%;
	*line-height:100%;
}

#subnaviBlockArea .stockPriceBlock{margin-top:30px;}
#subnaviBlockArea .stockPriceBlock .heading{
	padding:8px 10px 10px 10px;
	background: url('../img/subnavi_bg_001.gif') left bottom repeat-x #e60000;
	color:#ffffff;
	line-height:140%;
}
#subnaviBlockArea .stockPriceBlock .heading .title{font-weight:bold;}
#subnaviBlockArea .stockPriceBlock .heading .title span.codeNum{font-weight:normal;}
#subnaviBlockArea .stockPriceBlock .Inner{border:1px solid #c8c8c8;}
#subnaviBlockArea .stockPriceBlock .Inner .tickerBlock{
	float:left;
	width:132px;
	padding:0 3px 0 2px;
	border-right:1px solid #c8c8c8;
	border-bottom:1px solid #c8c8c8;
	font-size:0;
	line-height:0;
}
#subnaviBlockArea .stockPriceBlock .Inner .chart{
	float:left;
	position:relative;
	width:80px;
	height:113px;
	border-bottom:1px solid #999999;
	border-right:1px solid #999999;
	border-top:1px solid #ffffff;
	border-left:1px solid #ffffff;
	background:#eeeeee;
	text-align:center;
	z-index:0
}
#subnaviBlockArea .stockPriceBlock .Inner .chart .text{
	display:block;
	padding:18px 10px 0 10px;
}
#subnaviBlockArea .stockPriceBlock .Inner .chart .icon{
	display:inline-block;
	color:#e60000;
	text-decoration:none !important;
}
#subnaviBlockArea .stockPriceBlock .Inner .chart .gt{
	display:block;
	position:absolute;
	right:5px;
	bottom:5px;
	color:#999999;
	font-size:72%;
	line-height:120%;
}
#subnaviBlockArea .stockPriceBlock .Inner .use{
	display:block;
	position:relative;
	width:218px;
	padding:0 0 5px 0;
	border-bottom:1px solid #999999;
	border-right:1px solid #999999;
	border-top:1px solid #ffffff;
	border-left:1px solid #ffffff;
	background:#eeeeee;
	text-align:center;
	z-index:0
}
#subnaviBlockArea .stockPriceBlock .Inner .use .text{
	display:block;
	padding:4px 10px 0 10px;
}
#subnaviBlockArea .stockPriceBlock .Inner .use .gt{
	display:block;
	position:absolute;
	right:5px;
	top:10px;
	color:#999999;
	font-size:72%;
	line-height:120%;
}


#subnaviBlockArea .naviBlock02{margin-top:20px;}
#subnaviBlockArea .naviBlock02 li{display:inline;}
#subnaviBlockArea .naviBlock02 li p a{
	display:block;
	padding:6px 10px 4px 10px;
	border-bottom:1px solid #ffffff;
	background:#5a5a5a;
	color:#ffffff;
	line-height:120%;
	cursor:pointer;
}
#subnaviBlockArea .naviBlock02 li .text{
	display:inline-block;
	width:180px;
	vertical-align:middle;
}
#subnaviBlockArea .naviBlock02 li .icon{
	display:inline-block;
	width:20px;
	margin-top:-2px;
	color:#ffffff;
	text-align:right;
	vertical-align:middle;
}
#subnaviBlockArea .naviBlock02 li .sp{display:none;}
#subnaviBlockArea .naviBlock02 li .Inner{
	display:none;
	padding:8px 10px 0px 10px;
	border-left:1px solid #c6c6c6;
	border-right:1px solid #c6c6c6;
	border-bottom:1px solid #c6c6c6;
}
#subnaviBlockArea .naviBlock02 li .Inner p,
#subnaviBlockArea .naviBlock02 li .Inner ul{
	margin-bottom:10px;
}
#subnaviBlockArea .naviBlock02 li.ir .Inner{display:block;}
#subnaviBlockArea .naviBlock02 li .Inner li{
	display:block;
	text-align:right;
}
#subnaviBlockArea .naviBlock02 ul#irMmaterial li{
	text-align:left;
    padding-left: 0.8em;
    text-indent: -0.4em;
    _padding-left: 0;
    _text-indent: 0;
	}
*html #subnaviBlockArea .naviBlock02 ul#irMmaterial li{ margin-bottom:8px;}
#subnaviBlockArea .naviBlock02 ul#irMmaterial li.noneLink .icon,
#subnaviBlockArea .naviBlock02 li.ir .Inner li.noneLink .icon{
	margin-left:-6px;
	_margin-left:0px;
    margin-right: 5px;
	width:6px;
}
#subnaviBlockArea .naviBlock02 ul#irMmaterial li.noneLink .icon img,
#subnaviBlockArea .naviBlock02 li.ir .Inner li.noneLink .icon img{
	vertical-align:middle !important;
}
	/*
#subnaviBlockArea .naviBlock02 ul#irMmaterial li.noneLink,
#subnaviBlockArea .naviBlock02 li.ir .Inner li.noneLink{
	padding-left:10px;
    text-indent: 0;
	background:url('../img/ico_009.gif') left 0.8em no-repeat;
}
*/
#subnaviBlockArea .naviBlock02 li.ir .Inner .webfont{
	display:inline-block;
	margin-right:5px;
	color:#666666;
	font-weight:normal;
	font-size:72%;
	line-height:120%;
	vertical-align:middle;
}
#subnaviBlockArea .naviBlock02 li.menu .Inner .webfont{
	display:inline-block;
	margin-right:5px;
	color:#e20000;
	font-weight:normal;
	line-height:120%;
	vertical-align:middle;
}
#subnaviBlockArea .naviBlock02 li .Inner a{
	display:inline;
	padding:0;
	background:none;
	vertical-align:middle;
}
#subnaviBlockArea .naviBlock02 li .Inner p a{color:inherit;}
#subnaviBlockArea .naviBlock02 li .Inner a:hover{text-decoration:underline;}


#topBackArea{
	position:fixed;
	_position:inherit;
	width:55px;
	_width:992px;
	right:10px;
	bottom:0;
	_margin-top:50px;
	_text-align:right;
	line-height:100%;
}

#overflowArea{display:none;}


/************************************************
popLayout
************************************************/
.popLayout #headerBlockArea{
	height:88px;
	padding-bottom:7px;
	_padding-bottom:3px;
	background: url('../img/shadow_bg_001.gif') left bottom repeat-x;
}
.popLayout .BlockInner{
	height:73px;
	border-top:4px solid #e20000;
	background: url('../img/header_bg_001.gif') left bottom repeat-x #e3e3e3;
}
.popLayout #headerAreaInner{
	position:relative;
	min-height:0;
}
.popLayout #headerBlockArea .logo{
	margin:23px 0 0 0px;
}
.popLayout #headerBlockArea .fontchange{
	float:none;
	position:absolute;
	top:21px;
	right:160px;
	z-index:1;
}
.popLayout #headerBlockArea .quality{
	position:absolute;
	top:26px;
	right:20px;
	z-index:1;
	float:none;
	margin:0px;
}
.popLayout #anchor-pagelink{top:50px;}
.popLayout #anchor-pagelink a{
	color:#ffffff;
	text-decoration:none;
}
.popLayout #mainBlockArea{margin-top:40px;}


.popLayout #contents-block{
	width:590px;
	margin:0 auto;
}


/*20140228 add*/
/*---------------
functionBlockArea
------------------*/
#functionBlockArea02{
	position:relative;
	width:992px;
	margin:0 auto;
	z-index:2;
}
#functionBlockArea02 #functionAreaInner{
	margin-top:17px;
	font-size:86%;
	text-align:right;
}
#functionBlockArea02 .pankuzu{margin-right:10px;}
#functionBlockArea02 .btn{
	float:right;
	margin:10px 0 0 0;
	width:auto;
	line-height:20px;
}
#functionBlockArea02 .readspeakIcon{
	display:inline-block;
	text-align:left;
	*float:left;
}
#functionBlockArea02 .printBtn{
	display:inline-block;
	text-align:left;
	*float:left;
}
#functionBlockArea02 #snsBlockArea{float:right;}
#functionBlockArea02 #snsBlockArea .linkedin{
	float:right;
	margin:0 0 0 15px;
	line-height:20px;
}
#functionBlockArea02 #snsBlockArea{float:right;}
#functionBlockArea02 #snsBlockArea .facebook{
	float:right;
	margin:0 0 0 10px;
}
#functionBlockArea02 #snsBlockArea .linkedin{vertical-align:top!important;}
#functionBlockArea02 #snsBlockArea .facebook .fb_iframe_widget span{vertical-align:top!important;}
#functionBlockArea02 #snsBlockArea .twitter{
	float:right;
	height:22px;
	margin:0 0 0 15px;
	vertical-align:top!important;
}
#functionBlockArea02 #snsBlockArea .twitter iframe{width:70px!important;}

/*20140617 add*/
/*---------------
footerBlockArea
------------------*/

#footerBlockArea #footerBnrArea li.bnrBottom{
	padding-bottom:7px;
	background: url('../img/footer_bg_002.gif') left bottom repeat-x;
	font-weight:bold;
}
#footerBlockArea #footerBnrArea li.bnrHead a{
	display:block;
	width:323px;
	height:54px;
	border-top:1px solid #c8c8c8;
	border-left:1px solid #c8c8c8;
	text-align: center;
	cursor:pointer;
	background: url('../img/ico_001.gif') 301px center no-repeat #FFFFFF;
}
#footerBlockArea #footerBnrArea li.bnrBottom a{
	display:block;
	width:242px;
	height:54px;
	border-top:1px solid #c8c8c8;
	border-left:1px solid #c8c8c8;
	text-align: center;
	cursor:pointer;
	background: url('../img/ico_001.gif') 219px center no-repeat #FFFFFF;
}
#footerBlockArea #footerBnrArea li.bnrHead a .Inner{
	display:table-cell;
	width:320px;
	height:54px;
	vertical-align:middle;
	_zoom:1;
}
#footerBlockArea #footerBnrArea li.bnrHead a .Inner img{
	_position:relative;
	_zoom:1;
	_margin:10px 0 -13px 0;
}
#footerBlockArea #footerBnrArea li.bnrBottom a .Inner{
	display:table-cell;
	width:242px;
	height:54px;
	vertical-align:middle;
}
#footerBlockArea #footerBnrArea li.bnrHead.last a{
	width:322px;
	border-right:1px solid #c8c8c8;
}
#footerBlockArea #footerBnrArea li.bnrBottom.last a{
	width:241px;
	border-right:1px solid #c8c8c8;
}
#footerBlockArea #footerBnrArea li.bnrHead a .Inner .vg{/*ie6,7*/
	visibility: hidden;
	width:322px;
	height:20px;
	vertical-align: middle;
	zoom: 1;
}
#footerBlockArea #footerBnrArea li.bnrBottom a .Inner .vg{/*ie6,7*/
	visibility: hidden;
	height: 54px;
	vertical-align: middle;
	zoom: 1;
}

/*20141017 add*/
/*---------------
VCMS PARTS
------------------*/

.parts_body { margin:0 0 15px 15px;}

/* Image Parts */

.img_parts_01 {}
.img_parts_01 img {}

.img_parts_02 {
	float:left;
	width:355px;
	margin:0 10px 15px 0;
}
.img_parts_02 img {}

.img_parts_03 {
	float:left;
	width:230px;
	margin:0 14px 15px 0;
	
}
.img_parts_03 img {}

.img_parts_04 {
	float:left;
	width:170px;
	margin:0 9px 15px 0;
}
.img_parts_04 img {}


.img_parts_05 { margin:0 0 15px;}
.img_parts_05 img {
	float:left;
	margin:0 15px 15px 0;
}
.img_parts_05 p { margin:0; padding:0;
}

.img_parts_06 { margin:0 0 15px;}
.img_parts_06 img {
	float:right;
	margin:0 15px 15px 15px;
}
.img_parts_06 p { margin:0; padding:0;
}

.img_parts_07 {float:left;
	width:310px;
	margin:0 10px 15px 0;}
.img_parts_07 img {
	float:left;
	margin:0 15px 15px 0;
}
.img_parts_07 p { margin:0; padding:0;
}

.img_parts_08 { margin:0 5px 15px; width:150px; float:left;}
.img_parts_08 img {margin:0 15px 5px 0;}
.img_parts_08 p { margin:0; padding:0;
}

/*---------------
20150901
------------------*/

.none_vcms { width:0px!important; height:0px!important; overflow:hidden; visibility:hidden;}
.none_vcms img { width:0px!important; height:0px!important; overflow:hidden; visibility:hidden;}

.toppriority {visibility:hidden;}

/*---------------
20160801 add
functionBlockArea #topFunctionBtn #snsBlockArea
------------------*/
#functionBlockArea02 #topFunctionBtn #snsBlockArea {
}

#functionBlockArea02 #topFunctionBtn #snsBlockArea .linkedin {
	vertical-align: middle!important;
	height: 28px;
}

#functionBlockArea02 #topFunctionBtn #snsBlockArea .facebook{
	margin:4px 0 0 15px;
}

#functionBlockArea02 #topFunctionBtn #snsBlockArea .twitter {
	margin-top:4px;
}

#functionBlockArea02 #topFunctionBtn #snsBlockArea .twitter iframe{
	vertical-align: top!important;
}

