/************************************************
print.css
************************************************/
*html #headerBlockArea,
*html #mainBlockArea{zoom:75%;}

#headerBlockArea a.spmenu,
#headerBlockArea #headerSpMenu,
#anchor-pagelink,
#globalNaviBlockArea,
#footerBlockArea #footerlinkArea,
#footerBlockArea #footerCaptionArea,
#footerBlockArea #footerBottomArea .blankList,
#footerBlockArea #footerBottomArea .captionList,
#footerBlockArea #footerBottomArea .link,
#functionBlockArea,
#subnaviBlockArea,
#topBackArea,
#anchor-pagelink{display:none !important;}

#headerBlockArea{
	margin-bottom:20px;
	border-top:4px solid #e20000;
	background: url('../img/header_bg_001.gif') left bottom repeat-x #e3e3e3;
}
#headerBlockArea .spHeader{display:inherit;}
#headerBlockArea .logo{
	position:inherit;
	margin-top:23px;
}
#headerAreaInner{ height:90px;}
.listOpen_toggle{display:block !important;}
#footerBlockArea{margin-top:10px;}

*html dl.cautionBlock04 dt,
*html dl.cautionBlock04 dd{line-height:1;}
*html .fontAdjust01,
*html .fontAdjust02{position: static;}

/*---------------
webfont(css3)
------------------*/
.webfont{
	margin-right:2px;
	visibility:hidden;
}

/*---------------
TOP
------------------*/
body.toppage #topBlockArea{display:none !important;}
body.toppage #subnaviBlockArea{
	display:block !important;
	margin-left:19px;
}


#subnaviBlockArea .stockPriceBlock .Inner .chart{
	width:78px;
}
#topBnrArea li{
	margin-left:21px;
}

/*---------------
FAQ
------------------*/
.readspeakIcon{display:none;}

/*---------------
Pressrelease
------------------*/

.news_table_vcms { width:750px; min-height:50px!important; border-bottom:1px solid #C5C5C5; margin-bottom:10px; clear:both; display: table;}
.td_01 {width:108px; float: none; padding:0 15px 0 10px; display: table-cell; vertical-align: top;}
.td_02 {width:340px; float: none; padding:0 52px 12px 0; display: table-cell; vertical-align: top;}
.td_03 {width:87px; float: none; display: table-cell; vertical-align: top;}
.td_04 {width:70px; float: none; display: table-cell; vertical-align: top;}
.td_05 {width:54px; float: none; text-align:left; padding-left:10px; display: table-cell; vertical-align: top;}

.td_01,
.td_02,
.td_03,
.td_04,
.td_05 { zoom: 1;	/* IE6,7 */}



/* Clearfix
---------- */

.clearfix {width:100%!important;}
.clearfix:after {
  content: ""!important; 
  display: block!important; 
  clear: both!important;
 }