/************************************************
size800(Overwrite)
************************************************/
body{font-size:115%;}
/*---------------
header
------------------*/
#headerBlockArea{
	position:inherit;
	background:none;
}
#headerBlockArea #headerAreaInner{
	width:100%;
	margin:0;
	padding:0;
	height:auto;
}
#headerBlockArea .spHeader{
	position:relative;
	display:block;
	width:100%;
	padding:4px 0 0 0;
	background: #fff;
	z-index:12;
}
#headerBlockArea .logo{
	position:inherit;
	width:100%;
	margin:5px 0 8px 0;
	background: url("/cmn_vcms/img/shadow_bg_001.gif") repeat-x scroll left bottom;
	padding-bottom:15px;
}
#headerBlockArea .logo img{
	width:90%;
	max-width:383px;
	height:auto;
	margin:5px 0 0 2%;
}
#headerBlockArea .logo img:first-child{
	display:none;
}
#headerBlockArea .logo .logo_img_002{
	display:none;
}
#headerBlockArea a.spmenu{
	float:right;
	display:block;
	width:120px;
	margin:0px 3px 0 0;
	padding:7px 5px 0px 0;
	-webkit-border-top-left-radius: 5px;
	-moz-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background: url('../img/header_bg_002.gif') left top no-repeat #e60000;
	background: -moz-linear-gradient(top, #ff3e3f, #e60000);
	background: -webkit-gradient(linear, left top, left bottom, from(#ff3e3f), to(#e60000)); 
	color:#ffffff;
	font-weight:bold;
	text-align:center;
	text-decoration:none;
	line-height:140%;
}
#headerBlockArea a.spmenu .menuIcon{
	display:inline-block;
	padding-right:5px;
	background: url('../img/line_002.gif') right top no-repeat;
	font-size:76%;
}
#headerBlockArea a.spmenu .searchIcon{
	display:inline-block;
	padding-left:5px;
	font-size:76%;
}
#headerBlockArea a.spmenu p{
	margin:6px 0 10px 0;
}
#headerBlockArea a.spmenu .webfont{
	font-weight:normal;
	font-size:200%;
	color:#ffffff;
}
#headerBlockArea #headerSpMenu{
	display:none;
	position:absolute;
	width:100%;
	top:0;
	background:#f3f3f3;
	z-index:11;
}

#headerBlockArea .header_bnr{
	display:none;
}

#headerBlockArea .submenuBlock{
	width:auto;
	margin-top:0;
}

#headerBlockArea .submenuBlock .left{
	float:none;
}
#headerBlockArea .submenuBlock .right{
	float:none;
}

#headerBlockArea .fontchange{display:none;}
#headerBlockArea .keyword{
	float:none;
	padding:19px 2% 18px 2%;
	background:#5a5a5a;
}
#headerBlockArea .keyword .keywordInner{
	padding:10px;
	background:#efefef;
}
#headerBlockArea .keyword .text{
	float:left;
	width:70%;
	border-style: none;
	border:1px solid #b3b3b3;
	padding-top:10px;
	padding-bottom:10px;
	background: url('../img/search_ico_001.gif') 5px 14px no-repeat #ffffff;
	font-size:115%;
	
	border-top-right-radius: 0px;
    -webkit-border-top-right-radius: 0px; 
    -moz-border-radius-topright: 0px;
	border-bottom-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0px; 
    -moz-border-radius-bottomright: 0px;
}
#headerBlockArea .keyword a.submit{
	float:left;
	display:inline-block;
	width:20%;
	background: url('../img/btn_bg_003.gif') right bottom no-repeat;
	color:#333333;
	font-size:115%;
	text-align:center;
	text-decoration:none;
}
#headerBlockArea .keyword a.submit span{
	display:block;
	padding:12px 2% 10px 2%;
	background: url('../img/btn_bg_002.gif') right top no-repeat;
	line-height:100%;
}
#headerBlockArea .submenuBlock02Inner{
	text-align:center;
}
#headerBlockArea .language{
	float:none;
	margin:15px 0 0 0;
	padding-right:0px;
	border-right:0;
	text-align:center;
}
#headerBlockArea .language li{
	float:none;
	letter-spacing:normal;
}
#headerBlockArea .language .ja{
	display:inline-block;
	width:42%;
	margin-right:6%;
	background:#ffffff;
}
#headerBlockArea .language .ja a{
	display:block;
	padding:12px 10px;
	border:1px solid #d9d9d9;
	overflow:hidden;
	text-align:left;
	line-height:120%;
}
#headerBlockArea .language .ja a .webfont{
	float:right;
	display:inline-block;
	font-size:83%;
	line-height:120%;
	text-decoration:none !important;
}
#headerBlockArea .language .slash{display:none;}
#headerBlockArea .language .en{
	display:inline-block;
	width:42%;
	background:#ffffff;
}
#headerBlockArea .language .en a{
	display:block;
	padding:12px 10px;
	border:1px solid #d9d9d9;
	overflow:hidden;
	text-align:left;
	line-height:120%;
}
#headerBlockArea .language .webfont{display:none;}
#headerBlockArea .language a .webfont{
	float:right;
	display:inline-block;
	font-size:83%;
	line-height:120%;
	text-decoration:none !important;
}
#headerBlockArea .readspeak,
#headerBlockArea .sitemap{
	float:none;
    margin: 15px 0 0 0;
    padding:0;
	line-height: 120%;
    white-space:normal;
	text-align:center;
}
#headerBlockArea .readspeak a,
#headerBlockArea .sitemap a{
	display:inline-block;
	width:87%;
	margin:0;
	padding:12px 2%;
	border:1px solid #d9d9d9;
	background:#ffffff;
	overflow:hidden;
	text-align:left;
	line-height:120%;
}
#headerBlockArea .readspeak .webfont,
#headerBlockArea .sitemap .webfont{display:none;}
#headerBlockArea .readspeak a .webfont,
#headerBlockArea .sitemap a .webfont{
	float:right;
	display:inline-block;
	font-size:83%;
	line-height:120%;
	text-decoration:none !important;
}
#headerBlockArea .quality{display:none;}
#headerBlockArea .closebtn{
	display:block;
	padding-top:15px;
	text-align:center;
}
#headerBlockArea .closebtn a{
	display:inline-block;
	padding:10px 20px;
	background:#5e5e5e;
	color:#ffffff;
	font-weight:bold;
}
#headerBlockArea .closebtn a .webfont{
	display:inline-block;
	margin-right:10px;
	line-height:120%;
	font-weight:normal;
	text-decoration:none !important;
	color:#ffffff;
}
#anchor-pagelink {
	width:100%;
    top: 80px;
	margin:0;
    font-size: 1px;
    z-index: 0;
}


/*---------------
globalNavi
------------------*/
#globalNaviBlockArea{display:none;}
#globalNaviAreaInner{
	width:100%;
	margin:0 auto;
}
#globalNaviSpBlockArea{
	display:block;
	overflow:hidden;
}
#globalNaviSpBlockArea ul{
	border-bottom:1px solid #d9d9d9;
	background:#e60000;
}
#globalNaviSpBlockArea li{
	float:left;
	width:50%;
}
#globalNaviSpBlockArea li.home{display:none;}
#globalNaviSpBlockArea li a{
	display:block;
	height:auto;
	padding:12px 10px;
	border-top:1px solid #d9d9d9;
	background:#e60000;
	overflow:hidden;
	color:#ffffff;
	font-weight:bold;
	text-align:left;
	line-height:120%;
	overflow:hidden;
}
#globalNaviSpBlockArea li a .text{
	display: inline-block;
	width: 88%;
	margin-left: 2%;
	vertical-align: middle;
}
#globalNaviSpBlockArea li a .webfont{
	display:inline-block;
	width: 6%;
	margin: -3px 4% 0 0;
	font-size:83%;
	line-height:120%;
	text-decoration:none !important;
	color:#ffffff;
	text-align: right;
	vertical-align: middle;
}
#globalNaviSpBlockArea li:nth-child(odd) a{border-left:1px solid #d9d9d9;}

/*---------------
footer
------------------*/
#footerBlockArea{
	margin-top:0px;
	padding-bottom:20px;
}
#footerBlockArea #footerBlockAreaInner{
	position:relative;
	width:100%;
	border-top:0;
	z-index:0;
}
#footerBlockArea #footerlinkArea{
	position:relative;
	width:100%;
	padding:30px 0 40px 0;
	border-top:0;
	color:#333333;
}
#footerBlockArea #footerlinkArea #footerlinkAreaInner{
	width:96%;
	margin:0px 2%;
}
#footerBlockArea #footerlinkArea #footerlinkAreaInner #footerlinkAreaInnerBg{display:none;}
#footerBlockArea #footerBnrArea{
	margin-top:0px;
}
#footerBlockArea #footerBnrArea ul{
	width:100%;
	margin:10px 0px 0 0px;
	border-top:1px solid #c8c8c8;
	border-left:1px solid #c8c8c8;
	padding-bottom:0px;
	background: none;
}
#footerBlockArea #footerBnrArea li:nth-child(even) a{border-right:1px solid #c8c8c8;}
#footerBlockArea #footerBnrArea li a img{
	width:85%;
	height: auto;
	padding:0px 0 0 0;
	vertical-align:middle;
}
#footerBlockArea #footerBnrArea li.self a .Inner{text-align:left;}

#footerBlockArea #footerCaptionArea{
	width:100%;
	margin-top:0px;
	padding:0;
	border-top:1px solid #bababa;
	border-bottom:1px solid #bababa;
}
#footerBlockArea #footerCaptionArea #footerCaptionAreaInner{
	width:100%;
	padding:0;
	background:none;
	text-align:left;
}
#footerBlockArea #footerCaptionArea a{
	display:block;
	margin:0;
	padding:15px 10px;
	text-align:left;
	cursor:pointer;
}
#footerBlockArea #footerCaptionArea a .icon{
	display:inline-block;
	margin-right:5px;
	font-size:115%;
	line-height:120%;
	color:#f65700;
	text-decoration:none !important;
}
#footerBlockArea #footerCaptionArea .text{
	display: inline-block;
	width: 89%;
	margin-left: 2%;
	vertical-align: middle;
}
#footerBlockArea #footerCaptionArea a:hover .text{text-decoration:underline;}
#footerBlockArea #footerCaptionArea a .gt{
	display:inline-block;
	width: 8%;
	margin: -3px 0 0 0;
	font-size:83%;
	line-height:120%;
	color:#666666;
	text-decoration:none !important;
	text-align: right;
	vertical-align: middle;
}
#footerBlockArea #footerBottomArea{
	width:100%;
	margin:0;
}
#footerBlockArea #footerBottomArea .captionList{display:none;}
#footerBlockArea #footerBottomArea .link{
	margin-top:0px;
	padding:0px;
}
#footerBlockArea #footerBottomArea .link li{
	margin-right:0px;
}
#footerBlockArea #footerBottomArea .link li a{
	color:#333333;
	display:block;
	padding:15px 10px;
	border-bottom:1px solid #cdcdcd;
	overflow:hidden;
}
#footerBlockArea #footerBottomArea .link li a .text{
	display: inline-block;
	width: 89%;
	margin-left: 2%;
	vertical-align: middle;
}
#footerBlockArea #footerBottomArea .link li a .webfont {display:none;}
#footerBlockArea #footerBottomArea .link li a .sp {
	display:inline-block;
	width: 8%;
	margin: -3px 0 0 0;
	font-size: 83%;
	line-height:120%;
	text-decoration:none !important;
	text-align: right;
	vertical-align: middle;
}

#footerBlockArea #footerBottomArea .copylight{
	margin-top:10px;
	color:#666666;
	text-align:center;
}

/*---------------
functionBlockArea
------------------*/
#functionBlockArea{display:none;}
#functionBlockArea .pankuzu{display:none;}
#functionBlockArea .btn{margin-top:0px;}
#functionBlockArea .readspeakIcon,
.readspeakIcon{display:none;}
#functionBlockArea .printBtn{display:none;}
#rs_playerarea{display:none;}
#readspeaker_button1{width:100%;}
/*---------------
main
------------------*/
#mainBlockArea{
	position:relative;
	width:100%;
	margin:0px auto 0 auto;
	background:#ffffff;
	z-index:2;
}

#contentsBlockArea{
	float:none;
	width:100%;
	margin-top:15px;
	font-size:100%;
}
#contentsBlockArea p{
	margin-bottom:1em;
}

/*subnaviBlockArea*/
#subnaviBlockArea{
	float:none;
	width:100%;
	margin:0px 0 0 0;
	padding-top:30px;
	border-top:3px solid #c8c8c8;
}

#subnaviBlockArea .naviBlock01{display:none;}
#subnaviBlockArea .stockPriceBlock{
	width:100%;
	margin:0px 0 0 0;
	background:#e60000;
	overflow:hidden;
}
#subnaviBlockArea .stockPriceBlock .heading{
	float:left;
	width:27%;
	padding:8px 2% 10px 2%;
	background: none;
	color:#ffffff;
	line-height:140%;
}
#subnaviBlockArea .stockPriceBlock .heading .title{font-weight:bold;}
#subnaviBlockArea .stockPriceBlock .heading .title span.codeNum{display:block;}
#subnaviBlockArea .stockPriceBlock .Inner{
	float:right;
	width:66%;
	padding-left:5px;
	border-left:0;
	background: url('../img/subnavi_bg_002.gif') left bottom repeat-y #eeeeee;
}
#subnaviBlockArea .stockPriceBlock .Inner .tickerBlock{
	width:65%;
	padding:0;
	border:0;
	background: url('../img/subnavi_bg_003.gif') left top repeat-x #ffffff;
	font-size:0;
	line-height:0;
}
#subnaviBlockArea .stockPriceBlock .Inner .tickerBlock .tickerBlockInner{
	display:block;
	height:115px;
	border-right:1px solid #c8c8c8;
	border-bottom:1px solid #c8c8c8;
	padding:0 3px 0 2px;
}
#subnaviBlockArea .stockPriceBlock .Inner .chart{
	width:35%;
	border:0;
}
#subnaviBlockArea .stockPriceBlock .Inner .chart .chartInner{
	display:block;
	height:114px;
	border-bottom:1px solid #999999;
	border-right:1px solid #999999;
	border-top:1px solid #ffffff;
	border-left:1px solid #ffffff;
	background:#eeeeee;
	text-align:center;
}
#subnaviBlockArea .stockPriceBlock .Inner .chart .text{
	padding:23px 5px 0 5px;
	font-size:78%;
	line-height:170%;
}
#subnaviBlockArea .stockPriceBlock .Inner .chart .icon{
	font-size:130%;
	line-height:170%;
}
#subnaviBlockArea .stockPriceBlock .Inner .use{width:auto;}
#subnaviBlockArea .stockPriceBlock .Inner .use .text{font-size:78%;}
#subnaviBlockArea .naviBlock02{margin-top:40px;}
#subnaviBlockArea .naviBlock02 li{
	width:100%;
	font-size:86%;
}
#subnaviBlockArea .naviBlock02 li a{padding:15px 0;}
#subnaviBlockArea .naviBlock02 li p a{padding:15px 10px 13px;}
#subnaviBlockArea .naviBlock02 li .text{
	display:inline-block;
	width:89%;
	margin-left:2%;
	vertical-align:middle;
}
#subnaviBlockArea .naviBlock02 li.ir .icon{
	display:inline-block;
	width:5%;
	margin:-3px 4% 0 0;
	text-align:right;
}
#subnaviBlockArea .naviBlock02 li.menu .icon{display:none;}
#subnaviBlockArea .naviBlock02 li .sp{
	display:inline-block;
	width:5%;
	margin:-3px 4% 0 0;
	text-align:right;
	vertical-align:middle;
	color:#ffffff;
}

#subnaviBlockArea .naviBlock02 li.menu .Inner{display:none !important;}
#subnaviBlockArea .naviBlock02 li .Inner li{
	float:none;
	width:100%;
	font-size:115%;
}
#subnaviBlockArea .naviBlock02 li.ir .Inner li{
	font-size:100%;
}
#subnaviBlockArea .naviBlock02 li .Inner .webfont{
	display:inline-block;
	margin-right:5px;
	color:#666666;
	font-weight:normal;
	font-size:72%;
	line-height:120%;
	vertical-align:middle;
}
#subnaviBlockArea .naviBlock02 li .Inner a{
	display:inline;
	padding:0;
	background:none;
	color:#000066;
	vertical-align:middle;
}
#subnaviBlockArea .naviBlock02 li .Inner a:hover{text-decoration:underline;}
#subnaviBlockArea .naviBlock02 ul#irMmaterial li{
	text-align:left;
    padding-left: 0.4em;
    text-indent: -0.4em;
    _padding-left: 0;
    _text-indent: 0;
}
#subnaviBlockArea .naviBlock02 ul#irMmaterial li.noneLink .icon img,
#subnaviBlockArea .naviBlock02 li.ir .Inner li.noneLink .icon img{
	margin-bottom:3px;
}
#topBackArea{display:none;}

#overflowArea{display:inline;}
#overflowBlock{
	display:none;
	position:absolute;
	top:0;
	left:0;
	background-color:#3e3e3e;
	filter:alpha(opacity=80);
	-moz-opacity:0.80;
	-khtml-opacity: 0.80;
	opacity:0.80;
	z-index:10;
}


/*---------------
rs_playerarea
------------------*/
.rPosition01,
.rPosition02{
	position:inherit;
	left:0;
	bottom:0;
}
.readspeakerArea #rs_playerarea{
	width:94% !important;
	height:auto !important;
	margin:0px auto 20px auto !important;
	border:1px solid #1177cb !important;
	line-height:100% !important;
}
.readspeakerArea #rs_playerarea div{
	float:none !important;
}
.readspeakerArea #rs_playerarea div span{
	line-height:80% !important;
}
.readspeakerArea #rs_playerarea div span a{
	padding-bottom:20px;
}
.readspeakerArea #rs_playerarea #bottomlinks{
	position:inherit !important;
	float:none !important;
	left:0 !important;
	top:0 !important;
	text-align:left !important;
	line-height:140% !important;
}
.readspeakerArea #rs_playerarea div#controls{
	width:98% !important;
	top:40px !important;
	line-height:140% !important;
}
.readspeakerArea #rs_playerarea div#rspopup{width:100% !important;}

/************************************************
Block
************************************************/
.linkBlock01,
.linkBlock02,
.linkBlock03{
	text-indent:0;
}

.h1readBlock{padding:0 10px;}
.headingBlock01 h1{font-size:190%;}
.headingBlock02{margin:1em 0 1em 0;}

.topBlock01{margin-bottom:2px;}
.topBlock01 .headingBlock{
	margin-bottom:0;
	width:98%;
	padding-left:2%;
	background: #e60000;
}
.topBlock01 .headingBlock a{
	display:block;
	padding:10px 2% 10px 0;
	border-bottom:0;
	color:#ffffff;
	font-weight:bold;
	text-indent:0;
}
.topBlock01 .headingBlock a.linkBlock03{
	padding-left: 1.4em;
	text-indent:-0.6em;
}
.topBlock01 .headingBlock a .webfont{color:#ffffff;}
.topBlock01 .contents{
	float:none;
	width:100%;
	margin-left:0px;
}
.topBlock01 .contents h3,
.topBlock01 .contents p{margin:10px 2%;}
.topBlock01 .contents .link{text-align:right;}
.topBlock01 .contents .text{
	display: inline-block;
	width: 91%;
	vertical-align: middle;
}
.topBlock01 .contents .linkBlock02 .webfont {display:none;}
.topBlock01 .contents .linkBlock02 .sp {
	display:inline-block;
	width: 8%;
	margin: -3px 0 0 0;
	font-size: 83%;
	line-height:120%;
	text-decoration:none !important;
	text-align: right;
	vertical-align: middle;
}
.topBlock01 .img{
	float:none;
	width:96%;
	padding:10px 2%;
	text-align:center;
}
.topBlock01 .img img{
	width:100%;
	height:auto;
}
.topBlock02{margin-bottom:2px;}
.topBlock02 .headingBlock{
	margin-bottom:0;
	width:98%;
	padding-left:2%;
	background: #e60000;
}
.topBlock02 .left{
	float:none;
	width:100%;
	margin-bottom:2px;
}
.topBlock02 .right{
	float:none;
	width:100%;
	margin-bottom:0px;
}
.topBlock02 .headingBlock a{
	display:block;
	padding:10px 2% 10px 0;
	border-bottom:0;
	color:#ffffff;
	font-weight:bold;
	text-indent:0;
}
.topBlock02 .headingBlock a.linkBlock03{
	padding-left: 1.4em;
	text-indent:-0.6em;
}
.topBlock02 .headingBlock a .webfont{color:#ffffff;}
.topBlock02 .contents{
	float:none;
	width:100%;
	margin-left:0px;
}
.topBlock02 .contents h3,
.topBlock02 .contents p{margin:10px 2%;}
.topBlock02 .contents ul{padding:0px;}
.topBlock02 .contents ul a{
	display:block;
	padding:15px 10px;
	border-top:1px solid #cdcdcd;
	overflow:hidden;
}
.topBlock02 .contents .text{
	display: inline-block;
	width: 91%;
	/*margin-left: 2%;*/
	vertical-align: middle;
}
.topBlock02 .contents .linkBlock02 .webfont {display:none;}
.topBlock02 .contents .linkBlock02 .sp {
	display:inline-block;
	width: 8%;
	margin: -3px 0 0 0;
	font-size: 83%;
	line-height:120%;
	text-decoration:none !important;
	text-align: right;
	vertical-align: middle;
}
.topBlock02 .img{
	display:none;
}
.topBlock03{margin-bottom:2px;}
.topBlock03 .headingBlock{
	margin-bottom:0;
	width:98%;
	padding-left:2%;
	background: #e60000;
}
.topBlock03 .left{
	float:none;
	width:100%;
	margin-bottom:2px;
}
.topBlock03 .right{
	float:none;
	width:100%;
	margin-bottom:0px;
}
.topBlock03 .headingBlock a{
	display:block;
	padding:10px 2% 10px 0;
	border-bottom:0;
	color:#ffffff;
	font-weight:bold;
	text-indent:0;
}
.topBlock03 .headingBlock a.linkBlock03{
	padding-left: 1.4em;
	text-indent:-0.6em;
}
.topBlock03 .headingBlock a .webfont{color:#ffffff;}
.topBlock03 .contents{
	float:none;
	width:100%;
	margin-left:0px;
	margin-top:0 !important;
}
.topBlock03 .contents h3,
.topBlock03 .contents p{margin:10px 2%;}
.topBlock03 .contents ul{padding:0px;}
.topBlock03 .contents ul a{
	display:block;
	padding:15px 10px;
	border-top:1px solid #cdcdcd;
	overflow:hidden;
}
.topBlock03 .contents .text{
	display: inline-block;
	width: 91%;
	vertical-align: middle;
}
.topBlock03 .contents .linkBlock02 .webfont {display:none;}
.topBlock03 .contents .linkBlock02 .sp {
	display:inline-block;
	width: 8%;
	margin: -3px 0 0 0;
	font-size: 83%;
	line-height:120%;
	text-decoration:none !important;
	text-align: right;
	vertical-align: middle;
}

/*20140228 add*/
/*---------------
functionBlockArea
------------------*/
#functionBlockArea02{width:100%;}
#functionBlockArea02 .pankuzu{display:none;}
#functionBlockArea02 .btn{margin-top:0px;}
#functionBlockArea02 .readspeakIcon,
.readspeakIcon{display:none;}
#functionBlockArea02 #readspeaker_button1{display:none;}


.headingBlock06 h1{font-size:190%;}


/*20140617 add*/
/*---------------
footerBlockArea
------------------*/
#footerBlockArea #footerBnrArea li.bnrHead{
	float:left;
	width:50%;
	line-height:100%;
	background: url('../img/ico_001.gif') 95% center no-repeat #ffffff;
}
#footerBlockArea #footerBnrArea li.bnrBottom{
	float:left;
	width:50%;
	line-height:100%;
	background: url('../img/ico_001.gif') 95% center no-repeat #ffffff;
	padding-bottom:0;
}
#footerBlockArea #footerBnrArea li.bnrHead a,
#footerBlockArea #footerBnrArea li.bnrBottom a{
	display:block;
	background: none;
	width:100%;
	height:54px;
	border-top:none;
	border-bottom:1px solid #c8c8c8;
	border-right:1px solid #c8c8c8;
	text-align: left;
	border-left:none;
	cursor:pointer;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}
#footerBlockArea #footerBnrArea li.bnrHead a .Inner,
#footerBlockArea #footerBnrArea li.bnrBottom a .Inner{
	display:inline-block;
	width:97%;
	padding:0 0 0 2%;
	height:54px;
	background: none;
	text-align: left;
	vertical-align:middle;
	zoom: 1;
}
#footerBlockArea #footerBnrArea ul li.bnrHead.last a,
#footerBlockArea #footerBnrArea ul li.bnrBottom.last a{
	width:100%;
}
#footerBlockArea #footerBnrArea li.bnrHead.self,
#footerBlockArea #footerBnrArea li.bnrBottom.self{
	background: none repeat scroll 0 0 #fff;
	text-align:left;
}


.btnHTML { margin-left:10px!important;}

div.btnBlock03_vcms_top{
	display:inline-block;
	background:url(../img/bg_btnBlock03_vcms_html_sp_.gif);
	color:#cccccc;
	text-align:center;
	width:85px;
	height:34px;
	text-indent: 10px;
	margin-left:-10px;
}

div.btnBlock03_vcms_top a{
	display:inline-block;
	background:url(../img/bg_btnBlock03_vcms_html_sp.gif)!important;
	cursor:pointer;
	text-align:center;
	color:#0E1EB8!important;
	width:85px!important;
	height:34px!important;
	text-indent:10px;
}

div.btnBlock03_vcms_top a:visited{
	color:#663333!important;
}


div.btnBlock03_vcms_pdf{
	display:inline-block;
	background:url(../img/bg_btnBlock03_vcms_pdf_sp_.gif) left;
	color:#cccccc;
	text-align:center;
	width:85px;
	height:34px;
	text-indent: 10px;
	margin-left:-10px;
}

div.btnBlock03_vcms_pdf a{
	display:inline-block;
	background:url(../img/bg_btnBlock03_vcms_pdf_sp.gif) right;
	cursor:pointer;
	text-align:center;
	color:#0E1EB8!important;
	width:85px;
	height:34px;
	text-indent: 10px;
	margin-left:-10px;
}

div.btnBlock03_vcms_pdf a:visited{
	color:#663333!important;
}
