/************************************************
page only
************************************************/
#topBlockArea{
	position:relative;
	width:992px;
	margin:40px auto  0 auto;
	z-index:0;
}
#topBlockArea li{
	position:absolute;
	display:none;
	top:0;
	right:0;
	z-index:2;
}
#topSpBlockArea{
	position:relative;
	display:none;
	margin-top:30px;
	z-index:0;
}
#topSpBlockArea img{
	width:100%;
}
#topSpBlockArea li{
	position:absolute;
	display:none;
	top:0;
	right:0;
	z-index:2;
}
#cautionBlockArea{
	display:block;
	position:relative;
	width:970px;
	margin:40px auto 0;
	padding:8px 10px;
	border:1px solid #d7be8e;
	background:#f7ecd7;
	text-align:center;
	*text-decoration:none;
	z-index:0;
}
#cautionBlockArea .caution{
	display:inline-block;
	margin-right:10px;
	color:#f65700;
	font-size:135%;
	text-decoration:none;
}

.topHeadingBlock{
	position:relative;
	width:100%;
	background: url('../imgtop/index_bg_002.gif') left bottom repeat-x;
}
.topHeadingBlock h2{
	margin-top:10px;
	padding:0px 10px 10px 10px;
	font-size:115%;
	font-weight:bold;
	line-height:120%;
}
.topHeadingBlock #update{
	position:absolute;
	top:-2px;
	right:0px;
	font-size:93%;
	font-weight:normal;
}
*html .topHeadingBlock #update{margin-top:10px;}
*:first-child+html .topHeadingBlock #update{margin-top:10px;}

#topNewsArea{margin-top:20px;}
#topNewsArea .tab{
	width:100%;
	background: url('../imgtop/index_btn_003.gif') left bottom repeat-x;
}
#topNewsArea .tab01{
	float:left;
}
#topNewsArea .tab01 .btn{
	display:block;
	width:247px;
	background: url('../img/bg_news_tab_off.jpg') left top no-repeat;
	zoom:1;
}
#topNewsArea .tab01 a{
	display:block;
	width:227px;
	padding:10px 10px 9px 22px;
	font-weight:bold;
	text-align:center;
	text-decoration:none;
	zoom:1;
}
#topNewsArea .tab01 a .webfont{
	margin-right:10px;
	color:#e20000;
	font-weight:normal !important;
}
#topNewsArea .tab01 .active{
	display:block;
	background: url('../img/bg_news_tab_on.jpg') left top no-repeat;
	zoom:1;
}
#topNewsArea .tab01 a.active {
	padding:10px 10px 10px 22px;
	color:#333333!important;
}
#topNewsArea .tab01 .active a .webfont{color:#666666 !important;}
#topNewsArea .tab02{
	float:left;
}
#topNewsArea .tab02 .btn{
	display:block;
	width:249px;
	background: url('../img/bg_link_tab_off.jpg') left top no-repeat;
	zoom:1;
}
#topNewsArea .tab02 a{
	display:block;
	width:229px;
	padding:10px 10px 9px 22px;
	font-weight:bold;
	text-align:center;
	text-decoration:none;
	zoom:1;
}
#topNewsArea .tab02 a .webfont{
	margin-right:10px;
	color:#e20000;
	font-weight:normal !important;
}
#topNewsArea .tab02 .active{
	display:block;
	background: url('../img/bg_link_tab_on.jpg') left top no-repeat;
	zoom:1;
}
#topNewsArea .tab02 a.active{
	padding:10px 10px 10px 22px;
	color:#333333!important;
}
#topNewsArea .tab02 .active a .webfont{color:#666666 !important;}

#topNewsArea .tabBlock01{
	padding:15px 10px 15px 10px;
	border-left:1px solid #c8c8c8;
	border-right:1px solid #c8c8c8;
	border-bottom:1px solid #c8c8c8;
}
#topNewsArea .tabBlock01 .Block{
	padding:15px 0px 15px 10px;
	background: url('../imgtop/index_bg_003.gif') left bottom repeat-x;
}
#topNewsArea .tabBlock01 .first{background: none;}
#topNewsArea .tabBlock01 .Block .date{
	float:left;
	width:124px;
	margin-top:3px;
}
#topNewsArea .tabBlock01 .Block .article{
	float:left;
	width:354px;
	margin-top:3px;
}
#topNewsArea .tabBlock01 .Block .btnHTML{
	float:left;
	width:92px;
	text-align:right;
}
#topNewsArea .tabBlock01 .Block .btnPDF{
	float:left;
	width:76px;
	margin-left:5px;
	text-align:right;
}
#topNewsArea .tabBlock01 .Block .btnPDF .btnBlock03,
#topNewsArea .tabBlock01 .Block .btnPDF .btnBlock03_False{padding:5px;}
#topNewsArea .tabBlock01 .Block .capacity{
	float:left;
	width:65px;
	margin-top:3px;
	text-align:right;
}

#topNewsArea .tabBlock01 .link{text-align:right;}
#topNewsArea .tabBlock01 .link a{
	margin-left:10px;
	vertical-align:bottom;
}
#topNewsArea .tabBlock02{
	display:none;
	padding:15px 10px 15px 10px;
	border-left:1px solid #c8c8c8;
	border-right:1px solid #c8c8c8;
	border-bottom:1px solid #c8c8c8;
}
#topNewsArea .tabBlock02 .Block{
	padding:15px 0px 15px 10px;
	background: url('../imgtop/index_bg_003.gif') left bottom repeat-x;
}
#topNewsArea .tabBlock02 .first{background: none;}



/*updates
************************/

#tab02 .Block .date{
	float:left;
	width:124px;
}
#tab02 .Block .icon{
	float:left;
	width:60px;
}
#tab02 .Block .icon img{vertical-align:middle;}
#tab02 .Block .text{
	float:left;
	width:530px;
}
#tab02 .link{text-align:right;}
#tab02 .link a{
	margin-left:10px;
	vertical-align:bottom;
}

.news_bottom {background:#FFFFFF; margin-top:-1px;}

.news_bottom .webfont { position:inherit!important;}

#topLinkArea{margin-top:90px;}
#topLinkArea li{
	float:left;
	width:237px;
	margin-right:19px;
	margin-bottom:20px;
}
#topLinkArea li.last{
	margin-right:0px;
}
#topLinkArea li a{
	display:block;
	width:225px;
	padding:6px;
	background: url('../imgtop/index_bg_001_off.gif') left top repeat;
	text-decoration:none;
	cursor:pointer;
	zoom:1;
}
#topLinkArea li a .Inner{
	display:block;
	width:200px;
	padding:15px 10px 15px 15px;
	background: #ffffff;
	min-height:100px;
}
#topLinkArea li a .Inner .ttl{
	width:180px;
}
#topLinkArea li a .Inner .text{
	font-weight:bold;
}
#topLinkArea li a .Inner .read{
	display:block;
	margin-top:10px;
	color:#333333;
}
#topLinkArea li a:hover{
	background: url('../imgtop/index_bg_001_on.gif') left top repeat;
	text-decoration:none;
	zoom:1;
}
#topLinkArea li a:hover .Inner .text{
	text-decoration:underline;
}

#subnaviBlockArea .naviBlock02 .head{
	background: none repeat scroll 0 0 #5A5A5A;
	border-bottom: 1px solid #FFFFFF;
	color: #FFFFFF;
	display: block;
	line-height: 120%;
	padding: 6px 10px 4px;	
}
#subnaviBlockArea .naviBlock02 li.menu  .Inner{display: block !important;}
#subnaviBlockArea #pageRankingArea{margin-top: 20px;}
#subnaviBlockArea #BannerArea{margin-top: 20px;}
#subnaviBlockArea #pageRankingArea .ttl{
	padding:8px 10px 0px 40px;
	height:32px;
	background: url('../imgtop/index_ttl_001.gif') left top no-repeat;
	font-weight:bold;
}
#subnaviBlockArea #pageRankingArea .rank{
	float:left;
	width:17px;
	height:17px;
	margin:2px 10px 0 0;
	color:#ffffff;
	font-weight:bold;
	line-height:120%;
	text-align:center;
}
#subnaviBlockArea #pageRankingArea .page{
	float:left;
	width:155px;
}

#subnaviBlockArea #pageRankingArea .Block01,
#subnaviBlockArea #pageRankingArea .Block02,
#subnaviBlockArea #pageRankingArea .Block03,
#subnaviBlockArea #pageRankingArea .Block04,
#subnaviBlockArea #pageRankingArea .Block05{
	margin-top:2px;
	padding:7px 15px 5px 15px;
	background:#eeeeee;
}

#subnaviBlockArea #pageRankingArea .Block01 .rank,
#subnaviBlockArea #pageRankingArea .Block02 .rank,
#subnaviBlockArea #pageRankingArea .Block03 .rank{
	background: #e20000;
}
#subnaviBlockArea #pageRankingArea .Block04 .rank,
#subnaviBlockArea #pageRankingArea .Block05 .rank{
	background: #666666;
}
#subnaviBlockArea #pageRankingArea .tRight{
	margin-top:2px;
	padding:7px 10px;
	background:#eeeeee;
}
#subnaviBlockArea #topSpNaviArea{display:none;}

#topBnrArea{
	clear:both;
	padding-top:30px;
}
#topBnrArea li{
	float:left;
	margin-right:22px;
	margin-bottom:22px;
}
#topBnrArea li.first{
	margin-left:0px;
}



div.btnBlock03_vcms_top{
	display:inline-block;
	background:url(../img/bg_btnBlock03_vcms_html_top_.gif);
	color:#cccccc;
	text-align:center;
	width:70px;
	height:27px;
	text-indent: 10px;
	margin-left:-10px;
}

div.btnBlock03_vcms_top a{
	display:inline-block;
	background:url(../img/bg_btnBlock03_vcms_html_top.gif);
	cursor:pointer;
	text-align:center;
	color:#0E1EB8!important;
	width:70px;
	height:27px;
	text-indent: 10px;
	margin-left:-10px;
}

div.btnBlock03_vcms_top a:visited{
	color:#663333!important;
}


div.btnBlock03_vcms_pdf_top{
	display:inline-block;
	background:url(../img/bg_btnBlock03_vcms_pdf_.gif);
	color:#cccccc;
	text-align:center;
	width:60px;
	height:27px;
	text-indent: 10px;
	margin-left:-10px;
}

div.btnBlock03_vcms_pdf_top a{
	display:inline-block;
	background:url(../img/bg_btnBlock03_vcms_pdf.gif);
	cursor:pointer;
	text-align:center;
	color:#0E1EB8!important;
	width:60px;
	height:27px;
	text-indent: 10px;
	margin-left:-10px;
}

div.btnBlock03_vcms_pdf_top a:visited{
	color:#663333!important;
}





/* =============================================SP===================================================== */
@media screen and (max-width: 800px){

#topBlockArea{
	display:none;
}
#topSpBlockArea{
	display:block;
}
#topSpBlockArea li{
	width:100%;
}
#cautionBlockArea{
	width:96%;
	margin-top:30px;
	padding:6px 2% 0 2%;
	border-top:1px solid #d7be8e;
	border-bottom:1px solid #d7be8e;
	border-left:0;
	border-right:0;
	text-align:left;
	font-size:78%;
}

.topHeadingBlock{display:none;}

#tabnavi {}

#topNewsArea .tab{
	text-align:center;
	font-size:78%;
}

#topNewsArea .tab01{
	float:none;
	display:inline-block;
	width:48%;
	border-top:1px solid #cccccc;
	border-left:1px solid #cccccc;
	overflow:hidden;
	margin-bottom:-13px;
}
#topNewsArea .tab01 .btn{
	display:block;
	width:100%;
	background: url(../imgtop/index_bg_004_off.jpg) center top repeat-x!important;
}
#topNewsArea .tab01 a{
	display:block;
	width:100%;
	border-bottom:0;
}
#topNewsArea .tab01 .active{
	display:block;
	background: url(../imgtop/index_bg_004_on.jpg) center top repeat-x!important;
}
#topNewsArea .tab01 .active a{
	padding:10px 0;
	color:#333333;
}
#topNewsArea .tab01 a .webfont{
	margin-right:5px;
}
#topNewsArea .tab02{
	float:none;
	display:inline-block;
	width:48%;
	border-top:1px solid #cccccc!important;
	border-left:1px solid #cccccc!important;
	border-right:1px solid #cccccc!important;
	overflow:hidden;
	margin-bottom:-12px;
	margin-left:-5px;
}
#topNewsArea .tab02 .btn{
	display:block;
	width:100%;
	background: url(../imgtop/index_bg_005_off.jpg) center top repeat-x!important;
}
#topNewsArea .tab02 a{
	display:block;
	width:100%;
	border-bottom:0;
}
#topNewsArea .tab02 .active{
	display:block;
	background: url(../imgtop/index_bg_005_on.jpg) center top repeat-x!important;
	margin-bottom:-2px;
}




#topNewsArea .tab02 .active a{
	padding:10px 0;
	color:#333333;
}
#topNewsArea .tab02 a .webfont{
	margin-right:5px;
}

.tabContents { margin-top:-20px;}

#topNewsArea .tabBlock01{
	padding:15px 0px 15px 0px;
	border:0;
}
#topNewsArea .tabBlock01 .Block{
	padding:15px 0px 15px 10px;
	background: url('../imgtop/index_bg_003.gif') left bottom repeat-x;
}
#topNewsArea .tabBlock01 .first{background: none;}
#topNewsArea .tabBlock01 .Block .date{
	float:left;
	width:150px;
	margin-top:3px;
}
#topNewsArea .tabBlock01 .Block .article{
	float:left;
	width:100%;
	margin-top:3px;
}
#topNewsArea .tabBlock01 .Block .btnHTML{
	float:left;
	width:92px;
	margin-top:10px;
	text-align:left;
}
#topNewsArea .tabBlock01 .Block .btnPDF{
	float:left;
	width:92px;
	margin-top:10px;
	margin-left:20px;
	text-align:left;
}
#topNewsArea .tabBlock01 .Block .btnPDF .btnBlock03,
#topNewsArea .tabBlock01 .Block .btnPDF .btnBlock03_False{padding:5px;}
#topNewsArea .tabBlock01 .Block .capacity{
	float:left;
	width:92px;
	margin-top:13px;
	text-align:left;
}

#topNewsArea .tabBlock01 .link{
	padding:10px 1% 0 0;
	border-bottom:1px solid #cccccc;
}

#topNewsArea .tabBlock01 .link .linkBlock01{
	display:block;
	margin-top:10px;
}


/*updates
************************/

#tab02{
	display:none;
	padding:15px 0px 15px 0px;
	border:0;
}
#tab02 .Block{
	position:relative;
	padding:15px 0px 15px 10px;
	background: url('../imgtop/index_bg_003.gif') left bottom repeat-x;
	z-index:0;
}
#tab02 .first{background: none;}
#tab02 .Block .date{
	float:left;
	width:150px;
	margin-top:3px;
}
#tab02 .Block .icon{margin-left:10px;}
#tab02 .Block .text{
	float:left;
	width:90%;
}
#tab02 .Block .text .linkBlock02{
	padding:0;
	width:94%;
}
#tab02 .Block .text .linkBlock03{
	padding:0;
	width:92%;
}
#tab02 .webfont{
	position:absolute;
	right:2%;
	text-decoration:none;
	line-height:1.7;
	margin-top:3px;
}
#tab02 .webfont{
	position:absolute;
	right:4%;
	text-decoration:none;
	line-height:1.7;
	margin-top:3px;
}
#tab02 .link{
	padding:10px 1% 0 0;
	border-bottom:1px solid #cccccc;
}
#tab02 .link .linkBlock01{
	display:block;
	margin-top:10px;
}

.news_bottom .webfont { position:inherit!important;}

#topLinkArea{display:none;}
#subnaviBlockArea #pageRankingArea{display:none;}
#subnaviBlockArea #BannerArea{
	display:block;
	margin:20px 0;
	text-align:center;
}
#subnaviBlockArea #BannerArea img{
	width:222px;
	height:60px;
}
#topBnrArea{display:none;}

#subnaviBlockArea #topSpNaviArea{
	display:block;
}
#subnaviBlockArea #topSpNaviArea li{
	display:block;
	float:left;
	width:50%;
}
#subnaviBlockArea #topSpNaviArea li:nth-child(odd){
	clear:both;
}
#subnaviBlockArea #topSpNaviArea li a{
	display:inline-block;
	min-height:0;
	background: none repeat scroll 0 0 #5A5A5A;
	border-bottom: 1px solid #FFFFFF;
	color: #FFFFFF;
	cursor: pointer;
	display: block;
	line-height: 120%;
	padding: 16px 2px 14px 2px;
	font-size:78%;
	vertical-align:middle;
}

#subnaviBlockArea #topSpNaviArea li .text {
    display: inline-block;
    margin-left: 2%;
    vertical-align: middle;
    width: 89%;
}
#subnaviBlockArea #topSpNaviArea li .sp {
    color: #FFFFFF;
    display: inline-block;
    margin: -3px 4% 0 0;
    text-align: right;
    vertical-align: middle;
    width: 5%;
}
#subnaviBlockArea #topSpNaviArea li:nth-child(even) a{
	border-left:1px solid #ffffff;
}



/* Clearfix
----------- */

.clearfix {width:100%;}
.clearfix:after {
  content: ""; 
  display: block; 
  clear: both;
 }
.cb{ clear:both;}

}
