#vcms_filter{
  position: fixed!important;
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:2;
  background-color:#c0c0c0;
  -moz-opacity: 0.6;
  opacity:.60;
  filter: alpha(opacity=60);
}
#vcms_thumbnailPanel{
	position: absolute;
	left: 0;
	top: 0;
	width: auto;
	padding: 5px 5px 0px 5px;
	border: 0px ridge #ffffff;
	visibility: hidden;
	z-index: 100;
/*background-color: #FFFFFF;*/
/*background: #FFFFFF;*/
	cursor: hand;
	cursor: pointer;
}
#vcms_thumbnailPanel .vcms_thumbfooter{
	color: #FFFFFF;
	margin-top:2px;
	margin-bottom:2px;
	padding: 0px 5px 0px 0px;
	text-align: center;
/*background-color: #000000;*/
	cursor: hand;
	cursor: pointer;
}
#vcms_thumbnailPanel .vcms_thumbtitle{
	color: #FFFFFF;
	font-size:12px;
	margin-top:2px;
	padding: 5px 0px 5px 0px;
	text-align: center;
	background-color: #404040;
	cursor: hand;
	cursor: pointer;
}

#vcms_thumbnailPanel #vcms_thumbnailIMG{
/*background-color: #FFFFFF;*/
	cursor: hand;
	cursor: pointer;
}

#vcms_thumbnailLoading{
	position: absolute;
	visibility: hidden;
	color: #808080;
	border: 1px solid #000000;
	background-color: #FFFFFF;
	padding: 5px;
	z-index: 90;
}
.vcms_thumbnailX{
/*width:100px;*/
	height:18px;
	font-size:12px;
	padding:auto;
	text-align:center;
	border-top:1px solid #ffffff;
	border-bottom:1px solid #000000;
	border-left:1px solid #ffffff;
	border-right:1px solid #000000;
	color:#ffffff;
	background-color:#808080;
}
