@charset "utf-8";

* {
    outline: none !important;
}

body {
    -webkit-overflow-scrolling: touch;
    background-color: #eaeaea !important;
}
/** Fonts **/
@font-face {
    font-family: 'IRANSans';
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/IRANSansWeb_Medium.eot');
    src: url('../fonts/IRANSansWeb_Medium.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('../fonts/IRANSansWeb_Medium.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('../fonts/IRANSansWeb_Medium.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../fonts/IRANSansWeb_Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'IRANSans';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/IRANSansWeb_Light.eot');
    src: url('../fonts/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('../fonts/IRANSansWeb_Light.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('../fonts/IRANSansWeb_Light.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../fonts/IRANSansWeb_Light.ttf') format('truetype');
}

@font-face {
    font-family: 'IRANSans';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/IRANSansWeb.eot');
    src: url('../fonts/IRANSansWeb.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('../fonts/IRANSansWeb.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('../fonts/IRANSansWeb.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../fonts/IRANSansWeb.ttf') format('truetype');
}

@media (max-width: 768px) {
    .font_tiny {
        font-size: 8pt !important;
    }

    .font_small {
        font-size: 9pt !important;
    }

    .font_medium {
        font-size: 12pt !important;
    }

    .font_large {
        font-size: 15pt !important;
    }

    .font_xlarge {
        font-size: 18pt !important;
    }

    .font_xxlarge {
        font-size: 23pt !important;
    }

    h1 {
        font-size: 13pt;
    }
}

@media (min-width: 768px) and ( max-width: 992px) {
    .font_tiny {
        font-size: 9pt !important;
    }

    .font_small {
        font-size: 10pt !important;
    }

    .font_medium {
        font-size: 13pt !important;
    }

    .font_large {
        font-size: 18pt !important;
    }

    .font_xlarge {
        font-size: 24pt !important;
    }

    .font_xxlarge {
        font-size: 32pt !important;
    }

    h1 {
        font-size: 15pt;
    }
}

@media (min-width: 992px) and ( max-width: 1200px) {
    .font_tiny {
        font-size: 10pt !important;
    }

    .font_small {
        font-size: 11pt !important;
    }

    .font_medium {
        font-size: 13pt !important;
    }

    .font_large {
        font-size: 19pt !important;
    }

    .font_xlarge {
        font-size: 26pt !important;
    }

    .font_xxlarge {
        font-size: 34pt !important;
    }

    h1 {
        font-size: 17pt;
    }
}

@media (min-width: 1200px) {
    .font_tiny {
        font-size: 10pt !important;
    }

    .font_small {
        font-size: 12pt !important;
    }

    .font_medium {
        font-size: 14pt !important;
    }

    .font_large {
        font-size: 20pt !important;
    }

    .font_xlarge {
        font-size: 28pt !important;
    }

    .font_xxlarge {
        font-size: 38pt !important;
    }

    h1 {
        font-size: 19pt;
    }
}

.font_bold {
    font-weight: bold !important;
    ;
}

.font_300 {
    font-weight: 300 !important;
    ;
}
/** main body **/
body {
    background-color: #fdfdfd;
    color: #48474d;
    font-family: "IRANSans", "Myriad Pro Regular", "MyriadPro", "Myriad Pro", "open-sans", tahoma, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.7235;
    direction: rtl;
    margin: 0px;
}

textarea:focus, input:focus {
    outline: none;
}

a {
    color: #da251d;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

    a:hover {
        color: #3d9b35;
        text-decoration: none;
    }

.h1, .h2, .h3, h1, h2, h3 {
    font-weight: bold;
    line-height: 1.5;
    padding-right: 10px;
}

*::-moz-selection {
    background: rgba(150, 150, 220, 0.3) none repeat scroll 0 0;
}

a:link {
    text-decoration: none;
    color: inherit;
}
/*  unvisited link */
a:visited {
    text-decoration: none;
    color: inherit;
}
/* visited link */
::-webkit-input-placeholder {
    color: #4e4e4e;
    font-size: 10pt;
}

:-moz-placeholder { /* Firefox 18- */
    color: #4e4e4e;
    font-size: 10pt;
}

::-moz-placeholder { /* Firefox 19+ */
    color: #4e4e4e;
    font-size: 10pt;
}

:-ms-input-placeholder {
    color: #4e4e4e;
    font-size: 10pt;
}

.page-wrap {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.vert_top {
    vertical-align: top;
}

.dark_gray {
    color: #6b6b6b;
}

.red {
    color: #da251d;
}

.blue {
    color: #36618f;
}

.green {
    color: #3d9b35;
}

.white {
    color: #fff;
}

.pale_gray {
    color: #bababa;
}

.green_bg {
    background-color: #e1f7df;
    border: 1px solid #5b9b34;
}

.red_bg {
    background-color: #f4dedd;
    border: 1px solid #9d251f;
}

.bradius_5 {
    border-radius: 5px;
}

.blue_header {
    background-color: #36618f;
    color: #fff;
    text-align: center;
    padding: 20px;
    width: 100%;
}

.tick {
    background: url('../../images/icons/tick.png') scroll no-repeat no-repeat center center;
    width: 25px;
    height: 24px;
    display: inline-block;
    clear: both;
    margin-bottom: -6px;
}

.cross {
    background: url('../../images/icons/cross.png') scroll no-repeat no-repeat center center;
    width: 25px;
    height: 24px;
    display: inline-block;
    clear: both;
    margin-bottom: -6px;
}

.inline_block {
    display: inline-block;
    clear: both;
}
/********************************************************/ /**                       Header                       **/ /********************************************************/
.upper-ribbon {
    background-color: #fafafa;
    border-bottom: 1px solid #bababa;
    height: 80px;
    width: 100%;
    padding: 18px;
}

.upper-ribbon-small {
    background-color: #fafafa;
    border-bottom: 1px solid #bababa;
    height: 50px;
    width: 100%;
    padding: 7px;
}

.upper_ribbon_int {
    padding: 5px;
}

.logo {
    max-width: 190px;
    margin-top: -3px;
    width: 100%;
}

.logo_small {
    max-width: 140px;
    margin: 3px -5px auto auto;
}

.navbar-toggle-wrap {
    display: inline-block;
    clear: both;
}

    .navbar-toggle-wrap div {
        background-color: #36618f;
        height: 30px;
        width: 30px;
        border-radius: 15px;
        margin-left: 6px;
        display: inline-block;
        clear: both;
        padding: 2px;
        cursor: pointer;
    }

        .navbar-toggle-wrap div:hover {
            .navbar-toggle-wrap div;
            background-color: #da251d;
        }

        .navbar-toggle-wrap div img {
            width: 26px;
        }

.upper_dark_ribbon {
    height: 50px;
    background-color: #2a2a2a;
    color: #fff;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    direction: ltr;
    padding: 12.5px;
}

    .upper_dark_ribbon img {
        cursor: pointer;
        border-style: none;
        margin-right: 8px;
        width: 25px;
    }

.pol_username_hover {
    display: none;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.45);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.45);
    border: 1px solid #bababa;
    background-color: #fff;
    position: absolute;
    z-index: 10;
    width: 300px;
    font-size: 10pt;
    direction: rtl;
    text-align: right;
    left: 150px;
    border-radius: 8px;
    margin-top: 10px;
}

.pol_username_footer {
    border-radius: 0px 0px 8px 8px;
    -moz-border-radius: 0px 0px 8px 8px;
    -webkit-border-radius: 0px 0px 8px 8px;
    padding: 10px;
    background-color: #e6e6e6;
    border-top: 1px solid #b0b0b0;
}

.pol_username_tri {
    position: absolute;
    top: -20px;
    right: 150px;
}
/** Menu **/
.menu_toggle {
    margin-right: 10px;
    cursor: pointer;
    max-width: 100%;
}

.menu_toggle_small {
    margin: 3px auto auto -12px;
    display: inline-block;
    clear: both;
    width: 32px;
    height: 30px;
    background: url('../../images/menu_toggle_small.png') scroll no-repeat no-repeat center center;
}

.menu_toggle_small_close {
    background: url('../../images/menu_toggle_small_close.png') scroll no-repeat no-repeat center center !important;
}

.upper_menu_mobile {
    background-color: #2a2a2a;
    color: #fff;
    text-align: right;
}

.upper_menu_mobile_title {
    cursor: pointer;
    padding: 10px;
}

.upper_menu_mobile_container {
    display: none;
}

.upper_menu_item_mobile {
    background-color: #2a2a2a;
    color: #fff;
    padding: 10px;
    padding-right: 20px;
}

.upper_menu_item_mobile_active {
    background-color: #36618f;
}

.upper_menu_item_mobile_dropdown {
    padding: 10px;
    padding-right: 20px;
}

.upper_menu_item_mobile_dropdown_container {
    display: none;
}

.upper_menu_item_mobile_dropdown_item {
    padding: 10px;
    padding-right: 40px;
    background-color: #4c4c4c;
}

.upper_menu_item_mobile_dropdown_item_active {
    background-color: #bababa;
    color: #36618f;
}

.core {
    direction: rtl;
}

.rtl {
    direction: rtl;
}

.ltr {
    direction: ltr;
}

.side_bar_menu {
    position: fixed;
    left: -220px;
    top: 0px;
    width: 220px;
    background-color: #2a2a2a;
    height: 100vh;
}

.side_bar_menu_item {
    padding: 10px;
    padding-right: 25px;
    color: #fff;
    border-bottom: 1px solid #434343;
    transition: background-color 0.2s linear;
    cursor: pointer;
}

    .side_bar_menu_item:hover {
        background-color: #da251d;
    }

.mobile_search {
    padding: 5px;
}

    .mobile_search input {
        background-color: #2a2a2a;
        color: #fff;
        display: inline-block;
        clear: both;
    }

.mobile_search {
    display: inline-block;
    clear: both;
}

.upper_menu_outer {
    border-bottom: 1px solid #bababa;
}

.upper_menu {
    margin: 0 auto;
    max-width: 1200px;
    margin-top: 10px;
    padding: 0px 18px 0px 18px;
}

.upper_menu_item {
    display: inline-block;
    clear: both;
    margin: auto 0px 10px 5px;
    color: #858588;
    padding-left: 5px;
    cursor: pointer;
    border-left: 1px solid #bababa;
}

.active_upper_menu {
    color: #000 !important;
    font-weight: bold;
}

.active_drop_down {
    background-color: #36618f !important;
}

    .active_drop_down a {
        color: #fff !important;
    }
/********************************************************/ /**                        Core                        **/ /********************************************************/
.wrap {
    -webkit-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.37);
    -moz-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.37);
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.37);
    margin-bottom: 400px;
    background-color: #fff;
}

.wrap_fp {
    margin-bottom: 55px;
}

.max_1000px {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

.max_800px {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}
/********************************************************/ /**                       Footer                       **/ /********************************************************/
.footer {
    background-color: #282f33;
    padding: 25px;
    width: 100%;
    height: 345px;
    position: fixed;
    bottom: 55px;
    z-index: -1;
}

@media (max-width:768px) {
    .footer {
        padding: 20px 0px 10px 0px;
    }
}

.footer_bottom {
    background-color: #21272b;
    height: 55px;
    position: fixed;
    border: 0px;
    width: 100%;
    bottom: 0px;
    z-index: -1;
    font-size: 10pt;
    color: #51595b;
    padding: 15px 5px 15px 5px;
}

    .footer_bottom img {
        width: 25px;
        height: 25px;
        background-color: #51595b;
        margin-left: 8px;
        transition: background-color 0.3s;
    }

.footer_col {
    color: #fff;
    font-weight: 300;
    display: inline-block;
    clear: both;
    width: 32%;
    vertical-align: top;
}

.footer_bottom img:hover {
    .footer_bottom svg;
    background-color: #da251d;
}

@media (min-width: 992px) {
    .social_icons {
        text-align: left !important;
    }
}

@media (max-width: 992px) {
    .social_icons {
        text-align: center !important;
    }

    .footer_bottom img {
        width: 22px;
        height: 22px;
        margin-left: 2px;
    }
}

.newsletter {
    background-color: #36618f;
    text-align: center;
    padding: 40px 8px 70px 8px;
}

.newsletter_submit {
    margin-top: 2px;
    cursor: pointer;
    l;
}

.newsletter_input {
    width: 70%;
    max-width: 500px;
    border-style: none;
    padding: 5px;
    height: 52px;
}
/********************************************************/ /**                       General                      **/ /********************************************************/
.loader {
    background: #fff url('../../images/icons/loader.gif') scroll no-repeat no-repeat center center;
}

.alert_loader {
    width: 100%;
    height: 200px;
}

.info {
    color: #0062c0 !important;
    border-bottom: 1px dashed #0062c0;
    cursor: help;
}

.qp_black_background {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 30;
    width: 100%;
    height: 100%;
    display: none;
}

.qp_alert_mainbox {
    background-color: #fff;
    color: #202020;
    position: fixed;
    z-index: 31;
    display: none;
    max-width: 80%;
    max-height: 90%;
    min-width: 280px;
    min-height: 280px;
    text-align: justify;
    border-radius: 4px;
    margin-top: 50px;
}

.qp_alert_mainbox_header {
    border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    border: 0px none #000000;
    background-color: #e8e8e8;
    width: 100%;
    padding: 7px;
    height: 35px;
    font-size: 10pt;
    overflow: hidden;
}

.qp_alert_mainbox_close {
    margin: 3px 5px auto 10px;
    float: right;
    cursor: pointer;
}

.qp_alert_mainbox_container {
    padding: 10px;
    width: 100%;
    max-width: 800px;
    max-height: 80vh;
    overflow-y: auto;
}

    .qp_alert_mainbox_container a, .qp_alert_mainbox_container a:link, .qp_alert_mainbox_container a:visited {
        color: #337ab7;
    }

        .qp_alert_mainbox_container a:hover, .qp_alert_mainbox_container a:focus, .qp_alert_mainbox_container a:active, .qp_alert_mainbox_container a.active {
            color: #da251d;
        }

    .qp_alert_mainbox_container h5 {
        color: #337ab7;
        font-weight: 600;
    }

.qp_alert_info {
    max-width: 400px;
    text-align: justify;
    min-height: 220px;
    font-size: 9pt;
    background: url('../../images/icons/lamp.jpg') scroll no-repeat no-repeat center center;
    overflow-y: auto;
    max-height: 400px;
    padding: 3px;
}

    .qp_alert_info h4 {
        color: #0062c0;
    }

.qp_design_tooltip {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: center;
    position: absolute;
    z-index: 50;
    border-radius: 4px;
    padding: 6px;
    left: 10px;
    top: 10px;
    display: none;
    font-size: 9pt;
}

.qp_design_tooltip_down {
    position: absolute;
    z-index: 50;
    margin-top: 12px;
    display: none;
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

.full_width {
    width: 100%;
}

.padding_2 {
    padding: 2px !important;
}

.padding_5 {
    padding: 5px !important;
}

.padding_10 {
    padding: 10px !important;
}

.padding_15 {
    padding: 15px !important;
}

.padding_20 {
    padding: 20px !important;
}

.padding_25 {
    padding: 25px !important;
}

.no_padding {
    padding: 0px !important;
}

.hide {
    display: none !important;
}

.pointer {
    cursor: pointer;
}
/********************************************************/ /**                  internal theme                    **/ /********************************************************/ /**Blue Owl carousel **/
.blue_carousel_outer {
    background-color: #36618f;
    padding: 25px 10px 10px 10px;
    height: 230px;
}

.blue_carousel .item {
    text-align: center;
    direction: rtl;
}

    .blue_carousel .item h4 {
        color: #fff;
    }

    .blue_carousel .item img {
        width: 130px;
    }

.blue_carousel {
    position: relative;
}

    .blue_carousel .owl-nav-item {
        position: absolute;
        top: 70px;
        color: #fff;
        width: 35px;
        height: 35px;
        border-radius: 17.5px;
    }

    .blue_carousel .owl-prev {
        left: 10px;
        background: url('../../images/icons/arrow-left.png') scroll no-repeat no-repeat center center;
    }

    .blue_carousel .owl-next {
        right: 10px;
        background: url('../../images/icons/arrow-right.png') scroll no-repeat no-repeat center center;
    }

    .blue_carousel .owl-nav-item:hover {
        background-color: #da251d;
    }

.blue_carousel_outer .owl-controls {
    display: none !important;
}
/** large owl carousel **/
.large_owl_carousel .item img {
    display: block;
    width: 100%;
    height: auto;
    opacity: 1;
}

.large_owl_carousel_outer .owl-controls {
    position: absolute;
    width: 100%;
    z-index: 2;
    margin: -50px auto 50px auto !important;
}

    .large_owl_carousel_outer .owl-controls .active span {
        background-color: #da251d !important;
    }

.large_owl_carousel.item {
    min-height: 250px;
}

    .large_owl_carousel .item img {
        min-height: 250px;
        min-width: 683px;
    }

.slider_text_outer {
    position: absolute;
    width: 100%;
    top: 10%;
}

.slider_text {
    color: #f0f0f0;
    direction: rtl;
    text-align: right;
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    padding-right: 10px;
    opacity: 1;
}
/** Fixed background **/
.fixed_bg {
    position: relative;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    min-height: 300px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -ms-background-size: cover;
    color: #fff;
}

.fixed_bg_cover {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 26, 54, 0.40);
    position: absolute;
    top: 0px;
    left: 0px;
}

.fixed_bg .container > div {
    padding: 50px;
    font-weight: bold;
}

h3.pattern-heading {
    margin: 15px 0 5px;
    background: url('../../images/pattern-heading.png')scroll repeat center center !important;
    line-height: 28px !important;
    min-height: 28px;
    padding: 2px 0 !important;
    text-align: center;
    float: none;
    width: 100%;
    border: none !important;
    color: #488dc8 !important;
    font-size: 18px !important;
}

@media (max-width:1200px) {
    .fixed_bg {
        background-size: auto 100%;
    }
}

.fixed_bg_icon {
    width: 50px;
}

.blue {
    color: #36618f !important;
}

.red {
    color: #da251d !important;
}

.green {
    color: #3d9b35 !important;
}

.black {
    color: #000 !important;
}

.pale_gray_bg {
    background-color: #f9f9f9;
}

.dark_gray_bg {
    background-color: #bababa;
}

.blue_bg {
    background-color: #36618f;
}

.reset_row {
    margin: 0px;
}
/** Tabs **/
.tabs_header::after {
    background-color: #da251d;
    border-radius: 3px;
    content: "";
    display: block;
    height: 4px;
    margin: 10px auto;
    width: 50px;
    margin-bottom: 30px;
}

.tabs_subheader::after {
    background-color: #3d9b35;
    border-radius: 2px;
    content: "";
    display: block;
    height: 4px;
    margin: 10px auto;
    width: 40px;
    margin-bottom: 30px;
}

.default_tabs_head {
    text-align: center;
    margin-top: 50px;
    direction: rtl;
    width: 100%;
}

.default_tabs_body > div {
    display: none;
}

@media (max-width : 768px) {
    .default_tab {
        display: inline-block;
        clear: both;
        font-size: small;
        padding: 20px 10px 20px 10px;
        cursor: pointer;
        width: 48%;
        margin: 3px 1px 3px 1px;
        background-color: #4e4e4e;
        color: #fff !important;
    }
}

@media (min-width : 768px) {
    .default_tab {
        display: inline-block;
        clear: both;
        padding: 20px 25px 20px 25px;
        margin: 2px;
        cursor: pointer;
        margin-bottom: -15px;
    }
}

.default_tabs_head .active {
    background-color: #da251d;
    color: #fff;
}

.default_tabs_body {
}

    .default_tabs_body .active {
        display: block;
    }

.triple_box {
    border: 1px solid #e1e1e1;
    padding: 10px;
    margin: 10px;
    width: 30%;
    display: inline-block;
    clear: both;
    vertical-align: top;
    height: 380px;
}

@media (max-width:768px) {
    .triple_box {
        width: 90%;
    }
}

.triple_box img {
    width: 100%;
    max-width: 410px;
}
/********************************************************/ /**                      Buttons                       **/ /********************************************************/
.bttn1 {
    background-color: #3d9b35;
    border-radius: 5px;
    padding: 12px 15px 12px 15px;
    color: #fff;
    border-style: none;
    font-size: medium;
    transition: background-color 0.3s;
}

    .bttn1:hover {
        .bttn1;
        background-color: #39892f;
    }

.bttn2 {
    background-color: #da251d;
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
    color: #fff !important;
    border-style: none;
    font-size: 10pt;
    transition: background-color 0.3s;
}

    .bttn2:hover {
        .bttn1;
        background-color: #1d6580;
    }

.bttn3 {
    background-color: rgba(255, 255, 255, 0.00);
    border-radius: 5px;
    border: 2px solid #da251d;
    padding: 8px 13px 8px 13px;
    color: #da251d;
    font-size: 10pt;
    transition: border-color 0.3s;
}

.bttn4 {
    background-color: #36618f;
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
    color: #fff;
    border-style: none;
    font-size: 10pt;
    transition: background-color 0.3s;
}

    .bttn4:hover {
        .bttn4;
        background-color: #193c62;
    }

.back_to_top {
    position: fixed;
    z-index: 5;
    right: 5px;
    bottom: 5px;
    cursor: pointer;
    display: none;
    width: 60px;
    height: 60px;
}

@media (max-width:768px) {
    .back_to_top {
        width: 50px;
        height: 50px;
    }
}
/*new package style*/
.package-table {
    margin: 0;
}

.package-box .package-wrap {
    border: 1px #686868 solid;
}

.package-box {
    background-color: #EFEFEF;
    margin: 2% 0;
    padding: 0;
}

    .package-box.package-active {
        background-color: #FFFFFF;
    }

    .package-box .package-type {
        background-color: #282828;
    }

    .package-box.package-active .package-type {
        background-color: #424242;
    }

.package-type h3.package-title {
    font-size: 26px;
    font-weight: bold;
    color: #fff;
    margin: 0;
    padding: 10px 0;
}

.package-box.package-active {
    -webkit-box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.75);
    zoom: 105%;
    z-index: 10;
    top: -10px;
}

.package-slogan {
    background: url('../../images/package-bg.jpg') center center repeat-x scroll rgba(65,65,65,1);
    background: -moz-linear-gradient(top, rgba(65,65,65,1) 0%, rgba(40,40,40,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(65,65,65,1)), color-stop(100%, rgba(40,40,40,1)));
    background: -webkit-linear-gradient(top, rgba(65,65,65,1) 0%, rgba(40,40,40,1) 100%);
    background: -o-linear-gradient(top, rgba(65,65,65,1) 0%, rgba(40,40,40,1) 100%);
    background: -ms-linear-gradient(top, rgba(65,65,65,1) 0%, rgba(40,40,40,1) 100%);
    background: linear-gradient(to bottom, rgba(65,65,65,1) 0%, rgba(40,40,40,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#414141', endColorstr='#282828', GradientType=0 );
    color: #fff;
    padding: 10% 0;
    display: block;
}

.package-active .package-slogan {
    background: url('../../images/package-active-bg.jpg') center center repeat-x scroll rgba(0,91,170,1);
    background: -moz-linear-gradient(top, rgba(0,91,170,1) 0%, rgba(0,56,116,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,91,170,1)), color-stop(100%, rgba(0,56,116,1)));
    background: -webkit-linear-gradient(top, rgba(0,91,170,1) 0%, rgba(0,56,116,1) 100%);
    background: -o-linear-gradient(top, rgba(0,91,170,1) 0%, rgba(0,56,116,1) 100%);
    background: -ms-linear-gradient(top, rgba(0,91,170,1) 0%, rgba(0,56,116,1) 100%);
    background: linear-gradient(to bottom, rgba(0,91,170,1) 0%, rgba(0,56,116,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005baa', endColorstr='#003874', GradientType=0 );
    color: #fff;
    padding: 10% 0;
}

.package-slogan .slogan-price {
    display: inline-block;
    font-family: Impact;
    font-size: 92px;
    line-height: 100%;
    margin: 0 0 5% 0;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.75);
}

.package-slogan .slogan-price-unit {
    display: inline-block;
    font-size: 22px;
    line-height: 100%;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.75);
}

.package-slogan img {
    width: 100%;
}

.package-plan .package-info {
    background-color: #FFD01F /*ffcb05*/;
    color: #282828;
    padding: 5px 0;
}

.package-active .package-plan .package-info {
    background-color: #ffcb05 !important;
}

.package-info ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.package-feture {
    text-align: right;
    padding: 2%;
}

    .package-feture ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

        .package-feture ul li {
            font-size: 14px;
            line-height: 250%;
            border-bottom: 1px #E2E2E2 solid;
        }

.package-active .package-feture ul li {
    border-bottom: 1px #EFEFEF solid !important;
}

.package-feture ul li:last-child {
    border-bottom: none;
}

.package-feture .yes-sign {
    width: 25px;
    height: 25px;
    background: url('../../images/icons/yes.png') center center no-repeat scroll;
    display: inline-block;
    margin: 0 5px;
    padding: 0;
    top: 8px;
    position: relative;
}

.package-feture .no-sign {
    width: 25px;
    height: 25px;
    background: url('../../images/icons/no.png') center center no-repeat scroll;
    display: inline-block;
    margin: 0 5px;
    padding: 0;
    top: 8px;
    position: relative;
}

.package-price {
    background-color: #5E5E5E;
    color: #fff;
    line-height: 100%;
    padding: 10px 0;
}

.package-active .package-price {
    background-color: #6b6b6b !important;
}

.package-price .discount-price {
    text-decoration: line-through;
}

.package-price .main-price {
    font-size: 24px;
    font-weight: bold;
}

.package-box-action {
    padding: 10% 0;
}

    .package-box-action .promotion-selected {
        background-color: #00A706;
        color: #fff !important;
    }

.package-active .package-box-action .promotion-selected {
    background-color: #00C107 !important;
}

.package-box-action .promotion-selected:hover {
    background-color: #039303 !important;
}
/** scroll navigator **/
.scroll_navigator {
    line-height: 25px;
    position: fixed;
    right: 10px;
    z-index: 4;
    text-align: center;
    display: none;
}

.scroll_navigator_bullet {
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
}

.scroll_navigator_bullet_active {
    color: #ffb300 !important;
    font-size: 30px;
}

.qp_black_margin_box {
    position: absolute;
    background-color: #000;
    opacity: 0.75;
    z-index: 50;
    display: none;
}

.qp_black_margin_box_comment {
    color: #fff;
    position: absolute;
    z-index: 51;
    top: 10px;
    padding: 10px;
    display: none;
    direction: rtl;
}
