body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0;
}

fieldset, img {
	border: 0;
}

img, object, embed {
	vertical-align: bottom;
}

address, caption, cite, code, dfn, em, th, var {
	font-style: normal;
	font-weight: normal;
}

ol, ul {
	list-style: none;
}

caption, th {
	text-align: left;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
}

q:before, q:after {
	content: '';
}

a * {
	cursor: pointer;
}

html {
	height: 100%;
	background: #242424 url(/images/pattern.gif) 50% 0;
}

body {
	font-size: 12px;
	line-height: 14px;
	font-family: Arial, Helvetica, sans-serif;
	min-height: 100%;
	min-width: 320px;
	position: relative;
	color: #fff;
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none;
}

a {
	color: #fff;
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	color: #f56c08;
}

input, select, textarea {
	font-size: 14px;
	line-height: 16px;
	font-family: Arial, Helvetica, sans-serif;
}

.container {
	max-width: 1235px;
	padding: 0 5px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}

.hidden {
	display: none;
}

.movable-top,
.movable-bottom {
	position: relative;
}

.country {
	margin: 1px 3px 1px 0;
}

.page-error {
	padding: 10px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	color: #e44242;
	border: 1px solid #e44242;
	font-size: 30px;
	line-height: 34px;
	text-align: center;
	margin: 20px 0 0;
}

/* forms */
form .two-sections:after {
	content: "";
	display: block;
	clear: both;
}

form .two-sections .section-one {
	float: left;
	width: 70%;
}

form .two-sections .section-two {
	float: left;
	width: 24%;
	margin: 0 0 0 2%;
	padding: 0 0 0 2%;
	background: url(/images/separator.png) repeat-y;
}

form .section-title {
	display: block;
	font-size: 16px;
	line-height: 18px;
	margin: 15px 0 0;
	border-bottom: 1px solid #5a5a5a;
}

form .section-title:first-child {
	margin: 0;
}

form .section-title.expand {
	cursor: pointer;
	background: url(/images/ico-expand.gif) 100% 3px no-repeat;
}

form .section-title.collapse {
	cursor: pointer;
	background: url(/images/ico-collapse.gif) 100% 3px no-repeat;
}

form .row {
	display: block;
	position: relative;
	width: 100%;
	margin: 15px 0 0;
}

form .row:after {
	content: "";
	display: block;
	clear: both;
}

form .row:first-child {
	margin: 0;
}

form label {
	display: block;
	overflow: hidden;
	color: #dcdcdc;
	margin: 0 0 4px;
}

form label.error {
	color: #e44242;
	font-weight: bold;
}

form label.field-label:after {
	content: ":";
}

form label.field-label.required {
	font-weight: bold;
}

form label.field-label.required:after {
	content: " (*):";
}

form .button-group .row {
	margin: 6px 0 0 0;
}

form .button-group .row:first-child {
	margin: 0;
}

form .button-group .row label {
	float: left;
	color: #9b9b9b;
	margin: 0 15px 0 0;
	cursor: pointer;
}

form .radio,
form .checkbox {
	width: 14px;
	height: 14px;
	float: left;
	margin: 0 5px 0 0;
	cursor: pointer;
}

form .submit {
	height: 30px;
	text-align: center;
	color: #4e4e4e;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid transparent;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	padding: 0 10px;
	cursor: pointer;
	background: #fff;
	background: -moz-linear-gradient(top, #ffffff 0%, #d5d5d5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #d5d5d5));
	background: -webkit-linear-gradient(top, #ffffff 0%, #d5d5d5 100%);
	background: -o-linear-gradient(top, #ffffff 0%, #d5d5d5 100%);
	background: -ms-linear-gradient(top, #ffffff 0%, #d5d5d5 100%);
	background: linear-gradient(to bottom, #ffffff 0%, #d5d5d5 100%);
	-webkit-appearance: none;
}

form .submit.active {
	background: #2a2a2a;
	border: 1px solid #323232;
	color: #a2a2a2;
}

form .submit:disabled {
	cursor: default;
	color: #a7a7a7;
}

form .submit:enabled:hover {
	background: #1e1e1e;
	color: #f56c08;
	border: 1px solid #242424;
}

form .textfield,
form .textarea,
form .selectbox,
form .file {
	border: 1px solid #3a3a3a;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 6px 5px;
	color: #9b9b9b;
	background: none;
	-webkit-box-shadow: inset 0 0 10px rgba(6, 6, 6, 0.2);
	box-shadow: inset 0 0 10px rgba(6, 6, 6, 0.2);
	width: 100%;
	height: 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

form .textarea {
	resize: vertical;
	height: auto;
}

form .selectbox {
	padding: 5px;
}

form .date .selectbox {
	width: auto;
}

form .file {
	position: absolute;
	left: 0;
	top: 0;
	padding: 0;
	opacity: 0;
	font-size: 200px;
	filter: alpha(opacity=0);
}

form .textfield:focus,
form .textarea:focus,
form .selectbox:focus,
form .file:focus {
	border: 1px solid #5a5a5a;
}

form .textfield.error,
form .textarea.error,
form .selectbox.error,
form .file.error,
form fieldset.error .textfield,
form fieldset.error .textarea,
form fieldset.error .selectbox,
form fieldset.error .file {
	border: 1px solid #e44242;
}

form .file-control {
	position: relative;
	width: 100%;
	height: 30px;
}

form .file-control .textfield {
	position: absolute;
	left: 0;
	top: 0;
	padding-left: 12px;
}

form .file-control .button {
	position: absolute;
	left: 3px;
	top: 3px;
	bottom: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 4px 5px 2px 5px;
	font-size: 14px;
	line-height: 16px;
	color: #4e4e4e;
	background: #fff;
	background: -moz-linear-gradient(top, #ffffff 0%, #d5d5d5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #d5d5d5));
	background: -webkit-linear-gradient(top, #ffffff 0%, #d5d5d5 100%);
	background: -o-linear-gradient(top, #ffffff 0%, #d5d5d5 100%);
	background: -ms-linear-gradient(top, #ffffff 0%, #d5d5d5 100%);
	background: linear-gradient(to bottom, #ffffff 0%, #d5d5d5 100%);
}

form .file-control .button.disabled {
	color: #a7a7a7;
}

form .list-selector-popup {
	position: absolute;
	width: 90%;
	height: 160px;
	left: 5%;
	bottom: 46px;
	background: #d5d5d5;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

form .list-selector-popup:after {
	position: absolute;
	content: "";
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-top: 10px solid #c5c5c5;
	left: 45%;
	bottom: -10px;
}

form .list-selector-popup .button-group {
	overflow-y: scroll;
	overflow-x: hidden;
	position: absolute;
	top: 8px;
	left: 8px;
	bottom: 38px;
	right: 8px;
}

form .list-selector-popup .button-group .item {
	display: inline-block;
	width: 32%;
	padding-bottom: 10px;
	vertical-align: top;
}

form .list-selector-popup .button-group .item label {
	color: #4e4e4e;
	margin: 0 15px 0 0;
	cursor: pointer;
}

form .list-selector-popup .filter {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 30px;
	background: #c5c5c5;
	border: none;
}

form .list-selector-popup .filter input {
	width: 100%;
	height: 100%;
	padding: 2px 10px;
	border: none;
	background: #c5c5c5;
	color: #4e4e4e;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

form .bottom {
	background: url(/images/divider.png) left 10px repeat-x;
	overflow: hidden;
	padding: 20px 0 0;
	clear: both;
	position: relative;
}

form .bottom a {
	color: #f56c08;
	font-size: 12px;
	line-height: 16px;
}

form .bottom a:hover {
	color: #bfd128;
}

form .bottom .links {
	float: left;
}

form .bottom .submit {
	float: left;
	margin: 0 10px 0 0;
}

form .bottom .submit.right {
	float: right;
	margin: 0 0 0 10px;
}

form .captcha-control {
	overflow: hidden;
}

form .captcha-control .image {
	float: left;
	border: 0;
	width: 280px;
	height: 52px;
	margin: 0 12px 0 0;
}

form .captcha-control .image img {
	display: block;
	float: left;
	width: 125px;
	height: 52px;
	margin: 0 5px 0 0;
}

form .captcha-control label {
	float: left;
	margin: 0 0 6px;
}

form .captcha-control .textfield {
	width: 135px;
}

form .captcha-control .submit {
	float: left;
	margin: 19px 0 0;
}

form .success {
	margin: 10px;
	padding: 10px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	background: #252525;
	color: #dcdcdc;
	font-size: 14px;
	line-height: 16px;
}

form .generic-error {
	text-align: center;
	margin: 0 10px 10px;
	padding: 10px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	color: #e44242;
	border: 1px solid #e44242;
	font-size: 14px;
	font-weight: bold;
	line-height: 16px;
}

form .info-message {
	margin: 10px;
	padding: 10px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	background: #4e4e4e;
	color: #dcdcdc;
	font-size: 14px;
	line-height: 16px;
}

form .field-error {
	display: none;
	position: absolute;
	max-width: 400px;
	padding: 5px;
	z-index: 9999;
	margin: 2px 0 0 15px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	background-color: #efefef;
	color: #e44242;
	font-weight: bold;
}

form .field-error:before,
form .field-error:after {
	content: "";
	position: absolute;
}

form .field-error.down:before {
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #efefef;
	left: 20px;
	top: -10px;
}

form .field-error.down:after {
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #efefef;
	left: 20px;
	top: -9px;
}

form .field-error.up {
	background-image: none;
}

form .field-error.up:before {
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #efefef;
	left: 20px;
	bottom: -10px;
}

form .field-error.up:after {
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #efefef;
	left: 20px;
	bottom: -9px;
}

form .field-error label {
	margin: 0;
}

form .captcha-control .field-error {
	margin-left: 145px;
	bottom: 35px;
}

form .file-control .field-error {
	margin-top: 30px;
}

form .smileys-support {
	position: relative;
}

form .smileys-support .textarea {
	-webkit-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
}

form .smileys-support .smileys-bar {
	-webkit-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
	background: #3a3a3a;
	padding: 0 3px 4px 3px;
	cursor: default;
}

form .smileys-support img {
	cursor: pointer;
}

form .progressbar {
	position: absolute;
	z-index: 1200;
	width: 60%;
	left: 20%;
	top: 50%;
	height: 40px;
	margin-top: -20px;
}

form .progressbar .text {
	position: absolute;
	width: 100%;
	height: 40px;
	font-size: 22px;
	font-weight: bold;
	line-height: 40px;
	text-align: center;
}

form .progressbar .progress {
	position: absolute;
	height: 40px;
	background: #bfd128;
}

/* toggle button */
.toggle-button {
	display: block;
	color: #4e4e4e;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: bold;
	line-height: 14px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	padding: 8px 10px;
	background: #fff;
	background: -moz-linear-gradient(top, #ffffff 0%, #d5d5d5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #d5d5d5));
	background: -webkit-linear-gradient(top, #ffffff 0%, #d5d5d5 100%);
	background: -o-linear-gradient(top, #ffffff 0%, #d5d5d5 100%);
	background: -ms-linear-gradient(top, #ffffff 0%, #d5d5d5 100%);
	background: linear-gradient(to bottom, #ffffff 0%, #d5d5d5 100%);
	cursor: pointer;
	outline: none;
}

.toggle-button * {
	cursor: pointer;
}

.toggle-button input {
	margin: 0;
	font-size: 11px;
	line-height: 14px;
}

.toggle-button span {
	padding: 0 0 0 3px;
	font-size: 11px;
	line-height: 14px;
}

.toggle-button:hover,
.toggle-button.inversed:hover {
	background: #1e1e1e;
	border: 1px solid #242424;
	padding: 7px 9px;
	color: #f56c08;
}

.toggle-button.active,
.toggle-button.inversed {
	background: #2a2a2a;
	border: 1px solid #323232;
	padding: 7px 9px;
	color: #a2a2a2;
}

.toggle-button.inversed.active {
	color: #4e4e4e;
	padding: 8px 10px;
	border: none;
	background: #fff;
	background: -moz-linear-gradient(top, #ffffff 0%, #d5d5d5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #d5d5d5));
	background: -webkit-linear-gradient(top, #ffffff 0%, #d5d5d5 100%);
	background: -o-linear-gradient(top, #ffffff 0%, #d5d5d5 100%);
	background: -ms-linear-gradient(top, #ffffff 0%, #d5d5d5 100%);
	background: linear-gradient(to bottom, #ffffff 0%, #d5d5d5 100%);
}

.toggle-button.disabled,
.toggle-button.disabled:hover,
.toggle-button.done,
.toggle-button.done:hover {
	background: #fff;
	background: -moz-linear-gradient(top, #ffffff 0%, #d5d5d5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #d5d5d5));
	background: -webkit-linear-gradient(top, #ffffff 0%, #d5d5d5 100%);
	background: -o-linear-gradient(top, #ffffff 0%, #d5d5d5 100%);
	background: -ms-linear-gradient(top, #ffffff 0%, #d5d5d5 100%);
	background: linear-gradient(to bottom, #ffffff 0%, #d5d5d5 100%);
	border: none;
	padding: 8px 10px;
	cursor: default;
	color: #a7a7a7;
}

.toggle-button.done *,
.toggle-button.disabled * {
	cursor: default;
}

.toggle-button.done span {
	background: url(/images/ico-checkmark.png) 0 -2px no-repeat;
	padding: 0 0 0 21px;
}

/* top links */
.top {
	background: #171717;
	border-bottom: 1px solid #272727;
	padding: 3px 0 6px;
	font-size: 11px;
	line-height: 28px;
}

.center-hold {
	max-width: 1235px;
	margin: 0 auto;
	padding: 0 5px;
	text-align: center;
}

.center-hold:after {
	content: "";
	display: block;
	clear: both;
}

.network {
	float: left;
	color: #909090;
	position: relative;
	z-index: 30;
}

.network strong {
	display: inline-block;
	font-weight: normal;
	margin-right: 16px;
}

.network ul {
	display: inline-block;
}

.network li {
	display: inline-block;
	vertical-align: top;
	padding: 0 17px 0 21px;
	background: url(/images/bullet.png) no-repeat 0 50%;
}

.network li:first-child {
	background: none;
	padding-left: 0;
}

.network a {
	color: #bcbcbc;
}

.network a:hover {
	color: #bfd128;
}

.network .more {
	float: left;
	cursor: pointer;
	background: #1c1c1c url(/images/arrow-down-network.gif) no-repeat 100% 50%;
	border: 1px solid #222;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 0 25px 0 9px;
	line-height: 26px;
	position: relative;
}

.network .more:hover ul {
	display: block;
}

.network ul ul {
	position: absolute;
	top: 100%;
	left: -1px;
	width: 100%;
	float: none;
	z-index: 20;
	background: #1c1c1c;
	border: solid #222;
	overflow: hidden;
	display: none;
	border-width: 0 1px;
	border-radius: 0 0 3px 3px;
	-webkit-border-radius: 0 0 3px 3px;
}

.network ul ul li:first-child,
.network ul ul li {
	float: none;
	background: none;
	padding: 0;
	border-top: 1px solid #222;
}

.network ul ul a {
	display: block;
	padding: 0 9px;
}

.member-links {
	float: right;
	overflow: hidden;
}

.member-links ul {
	padding: 7px 0;
	line-height: 14px;
}

.member-links li {
	display: inline-block;
	vertical-align: top;
	padding-left: 15px;
	margin-left: 16px;
	border-left: 1px solid #282828;
}

.member-links li:first-child {
	padding-left: 0;
	margin-left: 0;
	border-left: none;
}

.member-links a {
	color: #f56c08;
}

.member-links a.disabled {
	color: #808080;
}

.member-links a:hover,
.member-links a.disabled:hover {
	color: #fff;
}

/* header */
.header {
	max-width: 1235px;
	padding: 0 5px;
	margin: 0 auto;
	z-index: 20;
}

.logo {
	float: left;
	margin: 27px 15px 0 0;
}

.logo a {
	display: block;
	width: 279px;
	height: 47px;
	background: url(/images/logo.png) no-repeat;
}

.search {
	margin: 0 auto;
	padding: 33px 0;
	overflow: hidden;
}

.search form {
	height: 30px;
	border: 1px solid #2c2c2c;
	background: url(/images/bg-search.png) repeat-x;
}

.search form:after {
	content: "";
	display: block;
	clear: both;
}

.search .search-text {
	padding: 0 0 0 14px;
	overflow: hidden;
}

.search .search-text input {
	height: 30px;
	width: 100%;
	margin: 0 0 0 -14px;
	padding: 0 0 0 14px;
	color: #c5c5c5;
	font-size: 11px;
	line-height: 28px;
	border: 0;
	background: none;
}

.search .search-text input:focus {
	background: url(/images/bg-grey.gif);
	outline: none;
}

.search .advanced {
	float: right;
	font-size: 11px;
	line-height: 13px;
	color: #c5c5c5;
	display: block;
	padding: 8px 9px 9px 9px;
	background: url(/images/bg-search.png) repeat-x 0 -30px;
}

.search .search-button {
	float: right;
	display: block;
	width: 39px;
	height: 30px;
	background: url(/images/btn-search.png) no-repeat;
	text-indent: 100px;
	overflow: hidden;
	cursor: pointer;
}

.social-bookmarks {
	width: 184px;
	float: right;
	margin: 33px 0 0 30px;
}

/* navigation */
.navigation {
	background: #2d2d2d url(/images/bg-nav.gif) repeat-x;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	height: 38px;
	position: relative;
	z-index: 10;
}

.navigation .button {
	display: none;
	width: 100%;
	padding: 8px 0;
	margin: 0;
	border: none;
	outline: none;
	background: #171717;
	height: 38px;
	cursor: pointer;
}

.navigation .button .icon {
	display: inline-block;
	height: 20px;
	width: 29px;
	position: relative;
}

.navigation .button .ico-bar {
	background: #e4e4e4;
	height: 4px;
	width: 100%;
	position: absolute;
	-webkit-transition: .1s ease-in-out;
	-moz-transition: .1s ease-in-out;
	-o-transition: .1s ease-in-out;
	transition: .1s ease-in-out;
	left: 0;
}

.navigation .button .ico-bar:first-child {
	top: 0;
}

.navigation .button .ico-bar:nth-child(2) {
	top: 8px;
}

.navigation .button .ico-bar:nth-child(3) {
	top: 16px;
}

.navigation.open .button .ico-bar {
	background: #f56c08;
	left: 4px;
}

.navigation.open .button .ico-bar:first-child {
	top: -2px;
	-webkit-transform: rotate(45deg)translate(5px,9px);
	-moz-transform: rotate(45deg)translate(5px,9px);
	-ms-transform: rotate(45deg)translate(5px,9px);
	-o-transform: rotate(45deg)translate(5px,9px);
	transform: rotate(45deg)translate(5px,9px);
}

.navigation.open .button .ico-bar:nth-child(3) {
	top: 14px;
	-webkit-transform: rotate(-45deg)translate(2px,-6px);
	-moz-transform: rotate(-45deg)translate(2px,-6px);
	-ms-transform: rotate(-45deg)translate(2px,-6px);
	-o-transform: rotate(-45deg)translate(2px,-6px);
	transform: rotate(-45deg)translate(2px,-6px);
}

.navigation.open .button .ico-bar:nth-child(2) {
	opacity: 0;
}

.navigation .primary {
	float: left;
	font-size: 13px;
	font-weight: bold;
	line-height: 16px;
	border-right: 1px solid #343434;
	display: table;
	width: 85%;
	text-align: center;
}

.navigation .primary li {
	display: table-cell;
	border-left: 1px solid #343434;
	border-right: 1px solid #252525;
}

.navigation .primary li:first-child {
	border-left: none;
}

.navigation .primary a {
	display: block;
	padding: 11px 0;
	text-transform: uppercase;
}

.navigation .primary li:first-child a {
	-webkit-border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

.navigation .primary .selected a {
	color: #5b5b5b;
}

.navigation .primary .selected a:hover {
	background: none;
}

.navigation .primary a:hover {
	background: #1d1d1d url(/images/bg-nav.gif) repeat-x 0 -38px;
}

.navigation .primary .highlight a {
	color: #bfd128;
}

.navigation .primary .highlight a:hover {
	color: #f56c08;
}

.navigation .primary .drop {
	position: relative;
}

.navigation .primary .drop > a:after {
	content: '';
	border-top: 4px solid #dde2e4;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	right: 5px;
	display: inline-block;
	vertical-align: middle;
	margin: 0 0 2px 7px;
}

.navigation .primary .drop:hover a {
	color: #4e4e4e;
	background: #eee;
}

.navigation .primary .drop:hover > a:after {
	border-top: none;
	border-bottom: 4px solid #000;
}

.navigation .primary .drop:hover ul {
	display: block;
}

.navigation .primary ul {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 10;
	width: 100%;
	display: none;
	overflow: hidden;
	border-radius: 0 0 3px 3px;
	-webkit-border-radius: 0 0 3px 3px;
}

.navigation .primary ul li {
	border: solid #cdcdcd;
	border-width: 1px 0 0;
	display: block;
}

.navigation .primary .drop:hover ul a {
	color: #4e4e4e;
	display: block;
	float: none;
	padding: 11px 17px;
	text-transform: capitalize;
	background: #eee;
}

.navigation .primary .drop ul a:hover {
	color: #f56c08;
	background: #202020;
	background: -moz-linear-gradient(top, #202020 0%, #191919 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #202020), color-stop(100%, #191919));
	background: -webkit-linear-gradient(top, #202020 0%, #191919 100%);
	background: -o-linear-gradient(top, #202020 0%, #191919 100%);
	background: -ms-linear-gradient(top, #202020 0%, #191919 100%);
	background: linear-gradient(to bottom, #202020 0%, #191919 100%);
}

.navigation .primary .drop li:first-child a {
	border-radius: 0;
	-webkit-border-radius: 0;
}

.navigation .secondary {
	float: right;
	padding: 12px 0 12px;
	font-size: 11px;
	line-height: 14px;
}

.navigation .secondary li {
	float: left;
	border-left: 1px solid #373737;
}

.navigation .secondary li:first-child {
	border-left: none;
}

.navigation .secondary a {
	float: left;
	margin: 0 20px;
	color: #808080;
	text-decoration: underline;
}

.navigation .secondary a:hover {
	color: #f56c08;
}

/* footer */
.footer {
	width: 100%;
	color: #555;
	font-size: 11px;
	line-height: 16px;
	background: rgba(0, 0, 0, 0.4);
	padding: 10px 0;
}

.footer .footer-wrap {
	max-width: 1235px;
	padding: 0 5px;
	margin: 0 auto;
	overflow: hidden;
}

.footer a {
	color: #555;
	text-decoration: underline;
}

.footer a:hover {
	color: #9a9a9a;
	text-decoration: none;
}

.footer .nav {
	width: 100%;
	overflow: hidden;
	padding: 8px 0;
	text-align: center;
	text-transform: uppercase;
}

.footer .nav li {
	display: inline-block;
	vertical-align: bottom;
	padding: 0 10px;
	position: relative;
}

.footer .nav li:before {
	content: "|";
	position: absolute;
	left: -2px;
	top: 7px;
	color: #969696;
	font-size: 11px;
	line-height: 14px;
}

.footer .nav li:first-child:before {
	content: "";
}

.footer .nav a {
	display: block;
	padding: 8px 22px;
	font-size: 11px;
	font-weight: bold;
	line-height: 14px;
	color: #969696;
	text-decoration: none;
}

.footer .nav a:hover {
	color: #f56c08;
	background: #181818;
	padding: 7px 21px;
	border: 1px solid #1c1c1c;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.footer .nav .active a,
.footer .nav .active a:hover {
	color: #373737;
	background: none;
	padding: 8px 21px;
	border: none;
	-webkit-border-radius: 0;
	border-radius: 0;
}

.footer .copyright {
	float: left;
	padding: 2px 0 2px 41px;
	min-height: 31px;
	background: url(/images/ico-copy.png) no-repeat;
	margin: 16px 50px 0 43px;
}

.footer .txt {
	margin: 18px 43px 0 0;
	text-align: right;
	overflow: hidden;
}

.box {
	background: #272727 url(/images/bg-grey.gif);
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 10px;
	overflow: hidden;
}

.box.message {
	font-size: 14px;
	line-height: 16px;
	margin-bottom: 10px;
}

/* headings *****/
.headline {
	padding: 36px 5px 8px 5px;
}

.headline:after {
	content: "";
	display: block;
	clear: both;
}

h2 {
	float: left;
	color: #9d9d9d;
	padding: 0 2px;
	font-size: 20px;
	line-height: 25px;
}

h2 a {
	text-decoration: underline;
}

.sort {
	float: right;
	min-width: 140px;
	position: relative;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	margin-left: 3px;
	background: #f1f1f1;
	background: -moz-linear-gradient(top, #f1f1f1 0%, #dcdcdc 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f1f1f1), color-stop(100%, #dcdcdc));
	background: -webkit-linear-gradient(top, #f1f1f1 0%, #dcdcdc 100%);
	background: -o-linear-gradient(top, #f1f1f1 0%, #dcdcdc 100%);
	background: -ms-linear-gradient(top, #f1f1f1 0%, #dcdcdc 100%);
	background: linear-gradient(to bottom, #f1f1f1 0%, #dcdcdc 100%);
	cursor: pointer;
}

.sort:hover {
	border-radius: 2px 2px 0 0;
	-webkit-border-radius: 2px 2px 0 0;
	color: #fff;
	text-shadow: 1px 1px 1px #7c7c7c;
	background: #adadad;
	background: -moz-linear-gradient(top, #adadad 0%, #828282 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #adadad), color-stop(100%, #828282));
	background: -webkit-linear-gradient(top, #adadad 0%, #828282 100%);
	background: -o-linear-gradient(top, #adadad 0%, #828282 100%);
	background: -ms-linear-gradient(top, #adadad 0%, #828282 100%);
	background: linear-gradient(to bottom, #adadad 0%, #828282 100%);
}

.sort .icon {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
}

.sort .type-sort {
	background: url("/images/ico-sort.png") 5px 5px no-repeat;
}

.sort .type-video {
	background: url("/images/ico-video.png") 5px 4px no-repeat;
}

.sort .type-fav {
	background: url("/images/ico-favourite.png") 5px 5px no-repeat;
}

.sort .type-visibility {
	background: url("/images/ico-private.png") 5px 4px no-repeat;
}

.sort .type-edit {
	background: url("/images/ico-edit.png") 5px 5px no-repeat;
}

.sort strong {
	display: block;
	font-size: 12px;
	line-height: 15px;
	padding: 5px 18px 5px 28px;
	white-space: nowrap;
	color: #4e4e4e;
	text-shadow: 1px 1px 1px #efefef;
	cursor: pointer;
	background: url(/images/arrow-down.gif) no-repeat 100% 50%;
	max-width: 200px;
	overflow: hidden;
}

.sort:hover strong {
	color: #fff;
	text-shadow: 1px 1px 1px #7c7c7c;
	background: url(/images/arrow-up.png) no-repeat 100% 50%;
}

.sort:hover ul {
	display: block;
}

.sort ul {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	z-index: 100;
	display: none;
	overflow: hidden;
	border-radius: 0 0 2px 2px;
	-webkit-border-radius: 0 0 2px 2px;
	background: #ebebeb;
	background: -moz-linear-gradient(top, #ebebeb 0%, #dcdcdc 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ebebeb), color-stop(100%, #dcdcdc));
	background: -webkit-linear-gradient(top, #ebebeb 0%, #dcdcdc 100%);
	background: -o-linear-gradient(top, #ebebeb 0%, #dcdcdc 100%);
	background: -ms-linear-gradient(top, #ebebeb 0%, #dcdcdc 100%);
	background: linear-gradient(to bottom, #ebebeb 0%, #dcdcdc 100%);
}

.sort ul a {
	display: block;
	padding: 5px 8px;
	font-size: 12px;
	line-height: 15px;
	color: #4e4e4e;
	text-shadow: 1px 1px 1px #efefef;
}

.sort ul a:hover {
	color: #f56c08;
	text-shadow: none;
	background: #202020;
	background: -moz-linear-gradient(top, #202020 0%, #191919 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #202020), color-stop(100%, #191919));
	background: -webkit-linear-gradient(top, #202020 0%, #191919 100%);
	background: -o-linear-gradient(top, #202020 0%, #191919 100%);
	background: -ms-linear-gradient(top, #202020 0%, #191919 100%);
	background: linear-gradient(to bottom, #202020 0%, #191919 100%);
	cursor: pointer;
}

.headline .button,
.headline .more {
	float: right;
	color: #4e4e4e;
	text-shadow: 1px 1px 1px #f0f0f0;
	height: 19px;
	margin-left: 3px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	padding: 6px 0 0;
	background: #f1f1f1;
	background: -moz-linear-gradient(top, #f1f1f1 0%, #dcdcdc 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f1f1f1), color-stop(100%, #dcdcdc));
	background: -webkit-linear-gradient(top, #f1f1f1 0%, #dcdcdc 100%);
	background: -o-linear-gradient(top, #f1f1f1 0%, #dcdcdc 100%);
	background: -ms-linear-gradient(top, #f1f1f1 0%, #dcdcdc 100%);
	background: linear-gradient(to bottom, #f1f1f1 0%, #dcdcdc 100%);
}

.headline .button.done,
.headline .button.done:hover {
	background: #f1f1f1;
	background: -moz-linear-gradient(top, #f1f1f1 0%, #dcdcdc 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f1f1f1), color-stop(100%, #dcdcdc));
	background: -webkit-linear-gradient(top, #f1f1f1 0%, #dcdcdc 100%);
	background: -o-linear-gradient(top, #f1f1f1 0%, #dcdcdc 100%);
	background: -ms-linear-gradient(top, #f1f1f1 0%, #dcdcdc 100%);
	background: linear-gradient(to bottom, #f1f1f1 0%, #dcdcdc 100%);
	color: #a7a7a7;
	text-shadow: 1px 1px 1px #f0f0f0;
	cursor: default;
}

.headline .button.done * {
	cursor: default;
}

.headline .button span {
	padding: 0 9px;
}

.headline .button.done span {
	background: url(/images/ico-checkmark.png) 4px -2px no-repeat;
	padding: 0 9px 0 23px;
}

.headline .more span {
	padding: 0 25px 0 9px;
	background: url(/images/arrow-right.png) no-repeat 100% 5px;
}

.headline .button:hover,
.headline .more:hover {
	color: #fff;
	text-shadow: 1px 1px 1px #7c7c7c;
	background: #adadad;
	background: -moz-linear-gradient(top, #adadad 0%, #828282 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #adadad), color-stop(100%, #828282));
	background: -webkit-linear-gradient(top, #adadad 0%, #828282 100%);
	background: -o-linear-gradient(top, #adadad 0%, #828282 100%);
	background: -ms-linear-gradient(top, #adadad 0%, #828282 100%);
	background: linear-gradient(to bottom, #adadad 0%, #828282 100%);
}

.headline .more:hover span {
	background-position: 100% -20px;
}

.headline .button-info {
	position: relative;
	float: right;
	height: 17px;
	margin: 2px 0 0 10px;
	padding: 3px 8px 0 8px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	color: #4e4e4e;
	background: #bcbcbc;
}

.headline .button-info:before {
	position: absolute;
	content: "";
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-right: 5px solid #bcbcbc;
	left: -5px;
	top: 5px;
}

.empty-content {
	padding: 15px 15px 0;
	font-size: 14px;
	line-height: 16px;
}

/* tags cloud *****/

.tags-cloud {
	margin-top: 20px;
}

.tags-cloud .all {
	display: block;
	text-align: center;
	margin: 10px 0 0;
	font-size: 14px;
	font-weight: bold;
	line-height: 16px;
}

/* search cloud *****/

.search-cloud {
	margin-top: 20px;
	text-align: center;
}

/* advertisement boxes *****/
.spot img,
.spot embed,
.spot object,
.spot iframe {
	vertical-align: bottom;
}

/* top ad */
.top-ad a,
.topad a {
	display: block;
	margin: 31px 0 0;
	width: 100%;
	overflow: hidden;
}

.top-ad img,
.topad img {
	width: 100%;
	height: auto;
}

/* videos ad */
.videos-ad {
	float: right;
	width: 315px;
	height: 683px;
	padding: 2px 40px;
	overflow: hidden;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: #1a1a1a;
	background: rgba(26, 26, 26, 0.7);
	-webkit-box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.3);
	margin-left: 15px;
	position: relative;
}

.margin-fix .videos-ad {
	margin-top: 15px;
}

.videos-ad .spot {
	padding: 27px 0 0;
	overflow: hidden;
}

.videos-ad .spot a {
	width: 315px;
	height: 300px;
	background: #000;
	overflow: hidden;
	display: block;
}

.videos-ad-inline {
	display: inline;
	float: right;
	width: 505px;
	height: 209px;
	margin: 15px 0 0 15px;
	padding: 5px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: #1a1a1a;
	background: rgba(26, 26, 26, 0.7);
	-webkit-box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.3);
	text-align: center;
	font-size: 20px;
	line-height: 25px;
	color: #8a8a8a;
}

form .videos-ad-inline {
	height: 256px;
}

.videos-ad-inline .spot {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

/* albums ad */
.albums-ad {
	float: right;
	width: 315px;
	height: 659px;
	padding: 2px 40px;
	overflow: hidden;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: #1a1a1a;
	background: rgba(26, 26, 26, 0.7);
	-webkit-box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.3);
	margin-left: 15px;
	position: relative;
}

.margin-fix .albums-ad {
	margin-top: 15px;
}

.albums-ad .spot {
	padding: 20px 0 0;
	overflow: hidden;
}

.albums-ad .spot a {
	width: 315px;
	height: 300px;
	background: #000;
	overflow: hidden;
	display: block;
}

.albums-ad-inline {
	display: inline;
	float: right;
	width: 505px;
	height: 314px;
	margin: 15px 0 0 15px;
	padding: 5px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: #1a1a1a;
	background: rgba(26, 26, 26, 0.7);
	-webkit-box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.3);
	text-align: center;
	font-size: 20px;
	line-height: 25px;
	color: #8a8a8a;
}

form .albums-ad-inline {
	height: 361px;
}

.albums-ad-inline .spot {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

/* playlists ad */
.playlists-ad {
	float: right;
	width: 315px;
	height: 683px;
	padding: 2px 40px;
	overflow: hidden;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: #1a1a1a;
	background: rgba(26, 26, 26, 0.7);
	-webkit-box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.3);
	margin-left: 15px;
	position: relative;
}

.margin-fix .playlists-ad {
	margin-top: 15px;
}

.playlists-ad .spot {
	padding: 27px 0 0;
	overflow: hidden;
}

.playlists-ad .spot a {
	width: 315px;
	height: 300px;
	background: #000;
	overflow: hidden;
	display: block;
}

.playlists-ad-inline {
	display: inline;
	float: right;
	width: 505px;
	height: 209px;
	margin: 15px 0 0 15px;
	padding: 5px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: #1a1a1a;
	background: rgba(26, 26, 26, 0.7);
	-webkit-box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.3);
	text-align: center;
	font-size: 20px;
	line-height: 25px;
	color: #8a8a8a;
}

form .playlists-ad-inline {
	height: 256px;
}

.playlists-ad-inline .spot {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

/* bottom adv */
.bottom-adv {
	margin: 30px 0 10px;
	text-align: center;
	font-size: 0;
}

.bottom-adv .spot {
	display: inline-block;
	vertical-align: top;
	width: 300px;
	overflow: hidden;
	margin: 1px;
}

.bottom-adv .spot a {
	width: 300px;
	height: 250px;
	background: #000;
	overflow: hidden;
	display: block;
}

/* lists *****/
.list-comments,
.list-subscriptions,
.list-playlists,
.list-members,
.list-messages,
.list-models,
.list-sponsors,
.list-categories,
.list-tags,
.list-albums,
.list-albums-images,
.list-videos,
.list-videos-screenshots {
	overflow: hidden;
	width: 100%;
	text-align: center;
}

.margin-fix {
	margin: -15px 0 0 -15px;
}

.list-albums-images .margin-fix,
.list-videos-screenshots .margin-fix {
	margin: 0 0 0 -15px;
}

.list-comments .margin-fix {
	margin: -10px 0 0 -10px;
}

.list-tags .margin-fix {
	margin: -23px 0 0 0;
}

.margin-fix .bottom {
	margin: 0 0 0 15px;
}

.margin-fix .bottom .submit,
.margin-fix .bottom .submit.right {
	margin-top: 5px;
}

.margin-fix .generic-error {
	margin: 15px 0 0 15px;
}

.list-playlists .item,
.list-members .item,
.list-models .item,
.list-sponsors .item,
.list-categories .item,
.list-albums .item,
.list-albums-images .item,
.list-videos .item,
.list-videos-screenshots .item {
	float: left;
	display: inline;
	text-align: left;
	margin: 15px 0 0 15px;
	width: 180px;
	padding: 5px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: #393939;
	background: -moz-linear-gradient(top, #393939 0%, #252525 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #393939), color-stop(100%, #252525));
	background: -webkit-linear-gradient(top, #393939 0%, #252525 100%);
	background: -o-linear-gradient(top, #393939 0%, #252525 100%);
	background: -ms-linear-gradient(top, #393939 0%, #252525 100%);
	background: linear-gradient(to bottom, #393939 0%, #252525 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#393939', endColorstr='#252525', GradientType=0);
}

.list-playlists .item a,
.list-members .item a,
.list-models .item a,
.list-sponsors .item a,
.list-categories .item a,
.list-albums .item a,
.list-videos .item a {
	display: block;
	outline: 0;
}

.list-tags .item a {
	padding-left: 10px;
}

.list-videos-screenshots .item {
	width: 110px;
}

.list-albums-images .item {
	width: 200px;
}

.list-models .item,
.list-sponsors .item,
.list-categories .item {
	padding: 5px 5px 10px;
}

.list-playlists .item:hover,
.list-members .item:hover,
.list-models .item:hover,
.list-sponsors .item:hover,
.list-categories .item:hover,
.list-albums .item:hover,
.list-videos .item:hover {
	background: #1a1a1a;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1a1a1a', endColorstr='#1a1a1a', GradientType=0);
}

.list-members .item.unread {
	background: #1a1a1a;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1a1a1a', endColorstr='#1a1a1a', GradientType=0);
}

.list-tags .item {
	float: left;
	text-align: left;
	margin-top: 15px;
	width: 20%;
}

.item em {
	color: #e0e0e0;
}

.item .img {
	position: relative;
	background: #000000;
	overflow: hidden;
}

.list-models .img,
.list-sponsors .img,
.list-categories .img {
	width: 180px;
	height: 260px;
}

.list-videos .img,
.list-playlists .img {
	width: 180px;
	height: 135px;
}

.list-members .img {
	width: 180px;
	height: 180px;
}

.list-videos-screenshots .img {
	width: 110px;
	height: 82px;
}

.list-albums .img {
	width: 180px;
	height: 240px;
}

.list-albums-images .img {
	width: 200px;
	height: 150px;
	text-align: center;
}

.item .img img,
.item .img .no-thumb {
	display: block;
	width: 100%;
	height: auto;
	text-align: center;
}

.item.disabled .img img {
	opacity: 0.3;
}

.list-members .img .no-thumb {
	line-height: 180px;
}

.list-models .img .no-thumb,
.list-sponsors .img .no-thumb,
.list-categories .img .no-thumb {
	line-height: 260px;
}

.list-albums-images .img .no-thumb {
	line-height: 150px;
}

.list-playlists .img img.video2,
.list-playlists .img img.video3,
.list-playlists .img img.video4,
.list-playlists .img img.video5 {
	position: absolute;
	width: 60px;
	height: auto;
	border: 2px solid #7c7c7c;
	opacity: 0.8;
}

.list-playlists .img img.video2:hover,
.list-playlists .img img.video3:hover,
.list-playlists .img img.video4:hover,
.list-playlists .img img.video5:hover {
	opacity: 1;
	z-index: 5;
}

.list-playlists .img img.video2 {
	right: 25px;
	top: 5px;
	z-index: 3;
}

.list-playlists .img img.video3 {
	right: 15px;
	top: 15px;
	z-index: 2;
}

.list-playlists .img img.video4 {
	right: 5px;
	top: 25px;
	z-index: 1;
}

.list-playlists .img .no-thumb {
	line-height: 135px;
}

.item .title {
	font-weight: bold;
	margin: 7px 2px;
	height: 28px;
	overflow: hidden;
	display: block;
}

.item.disabled .title,
.item.processing .title {
	color: #8a8a8a;
}

.item.error .title {
	color: #fc5729;
}

.list-members .item .title,
.list-models .item .title,
.list-sponsors .item .title,
.list-categories .item .title {
	height: 14px;
}

.list-tags .item .title {
	height: 20px;
	font-size: 20px;
	font-weight: bold;
	line-height: 22px;
	margin: 0;
	padding: 15px 0 7px 10px;
}

.list-subscriptions .item .title {
	float: left;
	height: 14px;
	margin: 5px 2px;
}

.item .wrap {
	margin: 0 5px 2px 5px;
	color: #8a8a8a;
	overflow: hidden;
}

.item .wrap:after {
	content: "";
	display: block;
	clear: both;
}

.item .duration,
.item .added,
.item .photos,
.item .videos,
.item .albums,
.item .user {
	float: left;
}

.item .views {
	float: right;
}

.item.unread .views {
	color: #f56c08;
	font-weight: bold;
}

.item .user {
	height: 14px;
	overflow: hidden;
	white-space: nowrap;
}

.item .rating {
	float: right;
	position: relative;
	padding: 3px 21px 0 0;
	margin: -3px 0 0;
}

.item .positive {
	color: #d4d4d4;
	background: url(/images/ico-rating-positive.png) no-repeat 100% 0;
}

.item .negative {
	color: #fc5729;
	background: url(/images/ico-rating-negative.png) no-repeat 100% 3px;
}

.item.private .thumb,
.item .thumb.private {
	opacity: 0.5;
	filter: alpha(opacity=0.2);
}

.item .ico-private {
	padding: 0 0 0 20px;
	background: url(/images/ico-private.png) no-repeat;
}

.item .ico-fav-0 {
	width: 24px;
	height: 24px;
	position: absolute;
	display: none;
	top: 4px;
	left: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	opacity: 0.6;
	background: #000 url(/images/ico-favourite.png) 4px 5px no-repeat;
}

.item .ico-fav-1 {
	width: 24px;
	height: 24px;
	position: absolute;
	display: none;
	top: 4px;
	right: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	opacity: 0.6;
	background: #000 url(/images/ico-later.png) 3px 3px no-repeat;
}

.no-touch .item:hover .ico-fav-0,
.no-touch .item:hover .ico-fav-1 {
	display: block;
}

.no-touch .item .ico-fav-0:hover,
.no-touch .item .ico-fav-1:hover,
.item .ico-fav-0.fixed,
.item .ico-fav-1.fixed {
	display: block;
	opacity: 1;
}

.line-disabled,
.line-error,
.line-processing {
	position: absolute;
	top: 50%;
	left: 15%;
	width: 70%;
	margin-top: -13px;
	text-align: center;
	background: #000000;
	opacity: 0.7;
	padding: 3px 0;
	color: #8a8a8a;
	font-size: 16px;
	font-weight: bold;
	line-height: 20px;
}

.line-error {
	color: #fc5729;
}

.line-premium,
.line-private {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	background: #000000;
	opacity: 0.7;
	padding: 3px 0;
	color: #fc5729;
	font-weight: bold;
}

.list-members .unread-notification {
	position: absolute;
	left: 5px;
	top: 5px;
	padding: 3px 5px;
	background: #f56c08;
	color: #fff;
}

.list-playlists .item-control,
.list-members .item-control,
.list-videos .item-control,
.list-videos-screenshots .item-control,
.list-albums .item-control,
.list-albums-images .item-control {
	text-align: center;
	background: url(/images/divider.png) repeat-x;
	margin: 10px 0 5px 0;
	padding: 10px 0 0;
}

.list-subscriptions .item-control {
	float: right;
}

.item-control .item-control-holder {
	display: inline-block;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: #d5d5d5;
	overflow: hidden;
	vertical-align: top;
}

.item-control .toggle-button {
	float: left;
	padding: 5px 9px;
	margin: 0 1px 0 0;
}

.item-control .toggle-button:last-child {
	margin: 0;
}

.item-control .toggle-button.active,
.item-control .toggle-button:hover {
	padding: 4px 8px;
}

.item-control .toggle-button.disabled:hover {
	padding: 5px 9px;
}

.list-comments .item {
	margin: 10px 0 0 10px;
	color: #8a8a8a;
	padding: 5px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 0 5px rgba(6, 6, 6, 0.2);
	box-shadow: inset 0 0 5px rgba(6, 6, 6, 0.2);
	text-align: left;
	background: #242424;
	background: -moz-linear-gradient(top, #242424 0%, #202020 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #242424), color-stop(100%, #202020));
	background: -webkit-linear-gradient(top, #242424 0%, #202020 100%);
	background: -o-linear-gradient(top, #242424 0%, #202020 100%);
	background: -ms-linear-gradient(top, #242424 0%, #202020 100%);
	background: linear-gradient(to bottom, #242424 0%, #202020 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#242424', endColorstr='#202020', GradientType=0);
}

.list-comments .item:after {
	content: "";
	display: block;
	clear: both;
}

.list-comments.fixed .item {
	float: left;
	width: 592px;
	height: 86px;
	overflow: hidden;
}

.list-comments.fixed.short .item {
	width: 490px;
}

.list-comments .image {
	float: left;
	width: 86px;
	height: 86px;
	margin: 0 6px 0 0;
}

.list-comments .image img {
	width: 86px;
	height: 86px;
	display: block;
}

.list-comments .image .no-thumb {
	background: none repeat scroll 0 0 #000000;
	display: block;
	width: 86px;
	height: 86px;
	line-height: 86px;
	text-align: center;
}

.list-comments .comment-options {
	display: block;
	float: right;
}

.list-comments .comment-options:after {
	content: "";
	display: block;
	clear: both;
}

.list-comments .comment-options a {
	padding: 2px 5px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: #000;
	float: left;
	margin: 0 0 0 5px;
}

.list-comments .comment-options a.disabled {
	cursor: default;
	color: #333;
}

.list-comments .comment-options span {
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: #000;
	padding: 2px 10px;
	font-weight: bold;
	float: left;
}

.list-comments .comment-options .positive {
	color: #bfd128;
}

.list-comments .comment-options .negative {
	color: #f45655;
}

.list-comments .text {
	overflow: hidden;
}

.list-comments .comment-info {
	display: block;
	margin: 0 0 5px;
}

.list-comments p {
	display: block;
	font-size: 14px;
	font-style: italic;
	line-height: 16px;
	padding: 5px 10px;
}

.list-comments .dim-comment p {
	opacity: 0.1;
}

.list-comments .dim-comment:hover p {
	opacity: 1;
}

.list-comments a {
	color: #fff;
	font-weight: bold;
}

.list-comments a:hover {
	color: #f56c08;
}

.list-comments .username {
	color: #fff;
	font-weight: bold;
	padding: 0 5px 0 0;
}

.list-subscriptions .item {
	float: left;
	text-align: left;
	width: 487px;
	margin: 15px 0 0 15px;
	color: #8a8a8a;
	padding: 5px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 0 5px rgba(6, 6, 6, 0.2);
	box-shadow: inset 0 0 5px rgba(6, 6, 6, 0.2);
	background: #242424;
	background: -moz-linear-gradient(top, #242424 0%, #202020 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #242424), color-stop(100%, #202020));
	background: -webkit-linear-gradient(top, #242424 0%, #202020 100%);
	background: -o-linear-gradient(top, #242424 0%, #202020 100%);
	background: -ms-linear-gradient(top, #242424 0%, #202020 100%);
	background: linear-gradient(to bottom, #242424 0%, #202020 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#242424', endColorstr='#202020', GradientType=0);
}

.list-subscriptions .item:after {
	content: "";
	display: block;
	clear: both;
}

.list-messages .item {
	position: relative;
	text-align: left;
	margin: 15px 42px 0 15px;
	background: #404040;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	overflow: hidden;
}

.list-messages .item.me {
	background: #2d2d2d;
	margin: 15px 0 0 57px;
}

.list-messages .item.grouped,
.list-messages .item.me.grouped {
	margin-top: -3px;
}

.list-messages .item.editing {
	background: #171717;
}

.list-messages .image {
	float: left;
	width: 36px;
	height: 36px;
	overflow: hidden;
	margin: 3px;
}

.list-messages .image:hover {
	opacity: 0.7;
}

.list-messages .image a {
	outline: none;
}

.list-messages .image img,
.list-messages .image .no-thumb {
	display: block;
	width: 36px;
	height: 36px;
	background: #000;
}

.list-messages .item.grouped .image img,
.list-messages .item.grouped .image .no-thumb {
	display: none;
}

.list-messages .message-text {
	display: block;
	padding: 10px;
	font-size: 14px;
	line-height: 20px;
	overflow: hidden;
}

.list-messages .item.deleted .message-text {
	color: #909090;
}

.list-messages .message-text .inline-text {
	display: block;
	padding-top: 5px;
	font-style: italic;
}

.list-messages .added {
	position: relative;
	float: right;
	padding: 10px 20px 10px 30px;
	color: #909090;
	line-height: 20px;
}

.list-messages .added.editable {
	padding-right: 25px;
	background: url("/images/ico-edit-message.png") right 10px no-repeat;
	cursor: pointer;
}

.list-messages .added.editable:hover {
	color: #c5c5c5;
}

.list-messages .item.new .added:after {
	display: block;
	position: absolute;
	content: '';
	background: #f56c08;
	width: 8px;
	height: 8px;
	top: 16px;
	left: 12px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.list-messages .load-more {
	margin-top: 15px;
}

.message-form {
	background: #272727 url(/images/bg-grey.gif);
	margin-top: 15px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 10px;
	overflow: hidden;
}

/* pagination */
.pagination {
	margin: 10px 0 0 0;
	width: 100%;
	text-align: center;
	overflow: hidden;
	background: #282828;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.pagination-holder {
	display: inline-block;
	vertical-align: bottom;
}

.pagination ul {
	border-left: 1px solid #1e1e1e;
	border-right: 1px solid #292929;
	text-align: center;
}

.pagination ul:after {
	content: "";
	display: block;
	clear: both;
}

.pagination li {
	float: left;
	border-left: 1px solid #292929;
	border-right: 1px solid #1e1e1e;
	font-weight: bold;
	color: #4d4d4d;
	text-align: center;
}

.pagination a,
.pagination span {
	display: block;
	padding: 12px 12px 14px;
	min-width: 14px;
}

.pagination a:hover {
	color: #f56c08;
	background: #212121;
	background: -moz-linear-gradient(top, #212121 0%, #191919 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #212121), color-stop(100%, #191919));
	background: -webkit-linear-gradient(top, #212121 0%, #191919 100%);
	background: -o-linear-gradient(top, #212121 0%, #191919 100%);
	background: -ms-linear-gradient(top, #212121 0%, #191919 100%);
	background: linear-gradient(to bottom, #212121 0%, #191919 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#212121', endColorstr='#191919', GradientType=0);
}

.pagination .prev,
.pagination .next {
	display: none;
	min-width: 100px;
}

/* load-more */

.load-more {
	margin: 10px 0 0 0;
	text-align: center;
}

.load-more a {
	display: inline-block;
	padding: 12px 28px 14px;
	background: #282828;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	font-weight: bold;
}

.load-more a:hover {
	color: #f56c08;
	background: #212121;
	background: -moz-linear-gradient(top, #212121 0%, #191919 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #212121), color-stop(100%, #191919));
	background: -webkit-linear-gradient(top, #212121 0%, #191919 100%);
	background: -o-linear-gradient(top, #212121 0%, #191919 100%);
	background: -ms-linear-gradient(top, #212121 0%, #191919 100%);
	background: linear-gradient(to bottom, #212121 0%, #191919 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#212121', endColorstr='#191919', GradientType=0);
}

/* content */
.content,
.main-content {
	width: 100%;
	overflow: hidden;
}

.main-container {
	overflow: hidden;
}

.main-container-user {
	width: 1030px;
	float: left;
	overflow: hidden;
}

/* sidebar */
.sidebar {
	float: left;
	width: 195px;
	margin: 0 10px 0 0;
}

.sidebar .comments,
.sidebar .list,
.sidebar .filter {
	overflow: hidden;
	background: #272727 url(/images/bg-grey.gif);
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.sidebar .comments li,
.sidebar .list li,
.sidebar .filter li {
	background: url(/images/divider.png) repeat-x;
	margin: -1px 0 0;
}

.sidebar .comments li:first-child,
.sidebar .list li:first-child,
.sidebar .filter li:first-child {
	background: none;
	margin: 0;
}

.sidebar .list a {
	display: block;
	padding: 10px 12px 13px 14px;
	font-weight: bold;
}

.sidebar .list a:hover {
	background: #1a1a1a;
}

.sidebar .list .rating {
	float: right;
	color: #979797;
}

.sidebar .comments .comment-text {
	font-size: 14px;
	font-style: italic;
	line-height: 16px;
	padding: 10px;
	color: #8a8a8a;
}

.sidebar .comments .comment-info {
	padding: 0 10px 10px 10px;
	overflow: hidden;
}

.sidebar .comments .image {
	float: left;
	width: 30px;
	height: 30px;
	overflow: hidden;
	background: #000;
}

.sidebar .comments .image img,
.sidebar .comments .image .no-thumb {
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
}

.sidebar .comments .username {
	height: 14px;
	overflow: hidden;
	padding: 0 5px 3px 5px;
}

.sidebar .comments .added {
	padding: 0 5px;
	overflow: hidden;
	color: #8a8a8a;
}

.sidebar .filter li {
	position: relative;
}

.sidebar .filter li:hover {
	background: #1a1a1a;
}

.sidebar .filter li * {
	cursor: pointer;
}

.sidebar .filter li input {
	position: absolute;
	left: 16px;
	width: 14px;
	height: 14px;
	top: 10px;
}

.sidebar .filter li label {
	display: block;
	padding: 10px 12px 13px 34px;
	font-size: 12px;
	font-weight: bold;
	line-height: 14px;
}

.sidebar label.group {
	display: block;
	padding: 10px 12px 2px 14px;
}

.sidebar label.group:after {
	content: ":";
}

.sidebar form {
	padding: 10px 12px 10px 14px;
}

.sidebar form .selectbox.age {
	width: 70px;
}

.sidebar .alphabet {
	overflow: hidden;
	padding: 0 0 4px;
	background: #272727 url(/images/bg-grey.gif);
	-webkit-border-radius: 5px;
	border-radius: 5px;
	text-align: center;
}

.sidebar .alphabet span,
.sidebar .alphabet a {
	display: inline-block;
	vertical-align: middle;
	width: 26px;
	height: 25px;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	line-height: 24px;
	margin: 4px 0 0 0;
	border: 1px solid #313131;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

.sidebar .alphabet a.all {
	width: 36px;
}

.sidebar .alphabet a {
	cursor: pointer;
}

.sidebar .alphabet span {
	background: #252525;
	border-color: #252525;
	color: #616161;
}

.sidebar .alphabet a:hover {
	background: #232323;
	border-color: #222;
	color: #f56c08;
}

/* block-channel */
.block-channel {
	padding: 10px;
	overflow: hidden;
	background: #272727 url(/images/bg-grey.gif);
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.block-channel .img {
	float: left;
	margin: 0 10px 0 0;
	border: 2px solid #222;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

.block-channel .img img {
	display: block;
	width: 360px;
	height: 200px;
}

.block-channel .img .no-thumb {
	display: block;
	width: 360px;
	height: 200px;
	text-align: center;
	line-height: 200px;
	background: #000;
}

.block-channel .channel-info {
	float: left;
	width: 449px;
	margin: 0 10px 0 0;
}

.block-channel .channel-list {
	background: #212121;
	overflow: hidden;
	color: #d8d8d8;
	font-size: 12px;
	margin: 0 0 5px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
}

.block-channel .channel-list li {
	background: url(/images/divider.png) repeat-x;
	overflow: hidden;
	padding: 9px 9px 13px 10px;
}

.block-channel .channel-list li:first-child {
	background: none;
}

.block-channel .channel-list .name {
	float: left;
	width: 130px;
	margin: 0 5px 0 0;
}

.block-channel .channel-list .rating {
	padding: 3px 0 0;
	overflow: hidden;
}

.block-channel .channel-list .rating span {
	float: left;
	width: 9%;
	height: 9px;
	background: #2a2a2a;
	margin: 0 1px 0 0;
	border: 1px solid #323232;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.block-channel .channel-list .rating .full {
	border: 0;
	background: #ff8e2a;
	background: -moz-linear-gradient(top, #ff8e2a 0%, #ff7903 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff8e2a), color-stop(100%, #ff7903));
	background: -webkit-linear-gradient(top, #ff8e2a 0%, #ff7903 100%);
	background: -o-linear-gradient(top, #ff8e2a 0%, #ff7903 100%);
	background: -ms-linear-gradient(top, #ff8e2a 0%, #ff7903 100%);
	background: linear-gradient(to bottom, #ff8e2a 0%, #ff7903 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8e2a', endColorstr='#ff7903', GradientType=0);
}

.block-channel .desc {
	background: #212121;
	color: #a7a7a7;
	font-size: 12px;
	line-height: 16px;
	padding: 4px 8px;
	height: 47px;
	overflow: hidden;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
}

.block-channel .channel-rating {
	float: right;
	width: 176px;
	overflow: hidden;
}

.block-channel .channel-rating strong {
	display: block;
	text-align: center;
	color: #fff;
	height: 124px;
	padding: 42px 0 0;
	margin: 0 0 6px;
	background: #1a1a1a;
	background: rgba(26, 26, 26, 0.7);
	-webkit-box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.3);
	font-size: 72px;
	line-height: 74px;
}

.block-channel .channel-rating a {
	text-align: center;
	display: block;
	height: 24px;
	padding: 8px 4px 0 4px;
	color: #4e4e4e;
	overflow: hidden;
	white-space: nowrap;
	font-size: 12px;
	text-shadow: 1px 1px 1px #ededed;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: #f1f1f1;
	background: -moz-linear-gradient(top, #f1f1f1 0%, #dcdcdc 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f1f1f1), color-stop(100%, #dcdcdc));
	background: -webkit-linear-gradient(top, #f1f1f1 0%, #dcdcdc 100%);
	background: -o-linear-gradient(top, #f1f1f1 0%, #dcdcdc 100%);
	background: -ms-linear-gradient(top, #f1f1f1 0%, #dcdcdc 100%);
	background: linear-gradient(to bottom, #f1f1f1 0%, #dcdcdc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1', endColorstr='#dcdcdc', GradientType=0);
}

.block-channel .channel-rating a:hover {
	color: #f56c08;
	text-shadow: none;
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
	background: #212121;
	background: -moz-linear-gradient(top, #212121 0%, #1c1c1c 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #212121), color-stop(100%, #1c1c1c));
	background: -webkit-linear-gradient(top, #212121 0%, #1c1c1c 100%);
	background: -o-linear-gradient(top, #212121 0%, #1c1c1c 100%);
	background: -ms-linear-gradient(top, #212121 0%, #1c1c1c 100%);
	background: linear-gradient(to bottom, #212121 0%, #1c1c1c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#212121', endColorstr='#1c1c1c', GradientType=0);
}

/* block-model */
.block-model {
	padding: 10px;
	overflow: hidden;
	background: #272727 url(/images/bg-grey.gif);
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.block-model .img {
	float: left;
	margin: 0 10px 0 0;
	border: 2px solid #222;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

.block-model .img img {
	display: block;
	width: 280px;
	height: 200px;
}

.block-model .img .no-thumb {
	display: block;
	width: 280px;
	height: 200px;
	text-align: center;
	line-height: 200px;
	background: #000;
}

.block-model .model-list {
	float: left;
	width: 250px;
	margin: 0 10px 0 0;
	overflow: hidden;
}

.block-model .model-list li {
	margin: 11px 0 0;
	padding: 9px;
	background: #222;
	font-size: 12px;
	color: #838383;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3);
}

.block-model .model-list li:first-child {
	margin: 0;
}

.block-model .model-list li span {
	color: #fff;
}

.block-model .model-list li a {
	color: #f56c08;
}

.block-model .model-list li a:hover {
	color: #fff;
}

.block-model .desc {
	background: #212121;
	color: #a7a7a7;
	height: 156px;
	line-height: 17px;
	padding: 5px 9px 0 9px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
	overflow: hidden;
}

.block-model .website {
	background: #212121;
	color: #a7a7a7;
	padding: 9px;
	margin-top: 11px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
	overflow: hidden;
}

/* video / album common */
.sponsor {
	width: 100%;
	overflow: hidden;
	margin: 10px 0 0;
}

.sponsor img {
	width: 100%;
	height: auto;
}

.info-holder {
	width: 100%;
}

.info-holder:after {
	content: "";
	display: block;
	clear: both;
}

.info-buttons {
	width: 100%;
	margin: 0 0 12px;
	text-align: center;
}

.info-buttons:after {
	content: "";
	display: block;
	clear: both;
}

/* block-video */
.block-video {
	padding: 10px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin: -3px 0 0;
	background: #272727 url(/images/bg-grey.gif);
}

.block-video:after {
	content: "";
	display: block;
	clear: both;
}

.block-video .video-holder {
	overflow: hidden;
}

.block-video .player {
	margin: 0 0 10px;
	border: 2px solid #1f1f1f;
	background: #000;
}

.block-video .player .embed-wrap {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
}

.block-video .player .player-wrap {
	width: 100%;
	height: auto;
	position: relative;
}

.block-video .player .player-wrap .poster {
	width: 100%;
	height: auto;
}

.block-video .player .embed-wrap iframe,
.block-video .player .player-wrap #kt_player,
.block-video .player .player-wrap #kt_player_internal {
	position: absolute !important;
	left: 0 !important;
	top: 0 !important;
	width: 100% !important;
	height: 100% !important;
}

.block-video .player .loading {
	display: block;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	line-height: 25px;
	color: #9b9b9b;
	padding: 50px 20px;
}

.block-video .no-player {
	display: block;
	position: relative;
	overflow: hidden;
}

.block-video .no-player img {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0.2;
	filter: alpha(opacity=0.2);
}

.block-video .no-player .message {
	display:  block;
	position: absolute;
	text-align: center;
	padding: 20px;
	left: 0;
	right: 0;
	top: 30px;
	font-size: 20px;
	font-weight: bold;
	line-height: 25px;
	color: #9b9b9b;
}

.block-video .no-player .message em {
	font-size: 20px;
	font-weight: bold;
	line-height: 25px;
	color: #ffffff;
}

.block-video .no-player .message form {
	display: block;
	padding: 20px 0 0 0;
}

.block-video .playlist {
	margin: 0 0 10px;
	padding: 7px;
	border: 2px solid #1f1f1f;
	background: #000;
	text-align: center;
}

.block-video .playlist-holder {
	overflow: hidden;
}

.block-video .playlist .item {
	display: inline-block;
	vertical-align: top;
	position: relative;
	width: 180px;
	border: 7px solid transparent;
	cursor: pointer;
}

.block-video .playlist .item.selected,
.block-video .playlist .item.selected:hover {
	border-color: #f56c08;
}

.block-video .playlist .item:hover {
	border-color: #1f1f1f;
}

.block-video .playlist .item .img {
	width: 180px;
	height: 135px;
}

.block-video .playlist .pagination .prev,
.block-video .playlist .pagination .next {
	display: block;
}
.block-video .playlist .pagination .first,
.block-video .playlist .pagination .last,
.block-video .playlist .pagination .page,
.block-video .playlist .pagination .jump {
	display: none;
}

.block-video .sponsor {
	border: 2px solid #1f1f1f;
	width: auto;
	margin: 10px 0;
}

.block-video .adv {
	float: right;
	margin-left: 10px;
}

.block-video .adv .banner {
	border: 2px solid #1f1f1f;
	margin: 0 0 10px;
	width: 315px;
	height: 300px;
	background: #000;
}

.block-video .adv .banner:last-child {
	margin: 0;
}

/* block-album */
.block-album {
	padding: 10px;
	overflow: hidden;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin: -3px 0 0;
	background: #272727 url(/images/bg-grey.gif);
}

.block-album .album-holder {
	overflow: hidden;
}

.block-album .images {
	position: relative;
	overflow: hidden;
	border: 2px solid #1f1f1f;
	padding: 7px;
	background: #000;
	text-align: center;
}

.block-album .images span.item,
.block-album .images a.item {
	display: inline-block;
	vertical-align: top;
	margin: 7px;
}

.block-album .images span.item {
	opacity: 0.2;
}

.block-album .images a.item:hover {
	margin: 0;
	border: 7px solid #f56c08;
}

.block-album .images .message {
	display:  block;
	position: absolute;
	text-align: center;
	padding: 20px;
	left: 0;
	right: 0;
	top: 30px;
	font-size: 20px;
	font-weight: bold;
	line-height: 25px;
	color: #9b9b9b;
}

.block-album .images .message em {
	font-size: 20px;
	font-weight: bold;
	line-height: 25px;
	color: #ffffff;
}

.block-album .images .message form {
	display: block;
	padding: 20px 0 0 0;
}

.block-album .sponsor {
	border: 2px solid #1f1f1f;
	width: auto;
	margin: 10px 0;
}

.block-album .adv {
	float: right;
	margin-left: 10px;
}

.block-album .adv .banner {
	border: 2px solid #1f1f1f;
	margin: 0 0 10px;
	width: 315px;
	height: 300px;
	background: #000;
}

.block-album .adv .banner:last-child {
	margin: 0;
}

/* video / album rating */
.rating-container {
	float: left;
	margin: 3px 10px 0 0;
	vertical-align: top;
	height: 30px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	overflow: hidden;
	width: 200px;
	background: #d5d5d5;
	background: -moz-linear-gradient(top, #d5d5d5 0%, #ffffff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d5d5d5), color-stop(100%, #ffffff));
	background: -webkit-linear-gradient(top, #d5d5d5 0%, #ffffff 100%);
	background: -o-linear-gradient(top, #d5d5d5 0%, #ffffff 100%);
	background: -ms-linear-gradient(top, #d5d5d5 0%, #ffffff 100%);
	background: linear-gradient(to bottom, #d5d5d5 0%, #ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d5d5d5', endColorstr='#ffffff', GradientType=0);
}

.rating-container .rate-like {
	float: left;
	text-indent: -9999px;
	overflow: hidden;
	width: 34px;
	height: 30px;
	background: url(/images/btn-vote.png) no-repeat;
}

.rating-container .rate-like.voted,
.rating-container .rate-like:hover {
	background-position: 0 -31px;
}

.rating-container .rate-like.disabled {
	background: url(/images/btn-vote.png) no-repeat;
}

.rating-container .rate-dislike {
	float: right;
	text-indent: -9999px;
	overflow: hidden;
	width: 33px;
	height: 30px;
	background: url(/images/btn-vote.png) no-repeat -34px 0;
}

.rating-container .rate-dislike.voted,
.rating-container .rate-dislike:hover {
	background-position: -34px -31px;
}

.rating-container .rate-dislike.disabled {
	background: url(/images/btn-vote.png) no-repeat -34px 0;
}

.rating-container .disabled,
.rating-container .voted {
	cursor: default;
}

.rating-container .rating {
	text-align: center;
	width: 120px;
	margin: 0 auto;
	overflow: hidden;
	padding: 5px 0 0;
}

.rating-container .voters {
	display: block;
	color: #818181;
	text-shadow: 1px 1px 0 #ededed;
	font-size: 10px;
	line-height: 12px;
	text-transform: uppercase;
	margin: 0 0 4px;
}

.rating-container .scale-holder {
	background: #f45655;
	display: block;
	height: 4px;
	position: relative;
	width: 120px;
}

.rating-container .scale-holder .scale {
	position: absolute;
	left: 0;
	top: 0;
	height: 4px;
	background: #bfd128;
}

/* video / album add to favourites */

.btn-favourites {
	display: block;
	position: relative;
	float: left;
	width: 40px;
	height: 30px;
	margin: 3px 10px 0 0;
	text-align: left;
	color: #4e4e4e;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	background: #fff;
	background: -moz-linear-gradient(top, #ffffff 0%, #d5d5d5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #d5d5d5));
	background: -webkit-linear-gradient(top, #ffffff 0%, #d5d5d5 100%);
	background: -o-linear-gradient(top, #ffffff 0%, #d5d5d5 100%);
	background: -ms-linear-gradient(top, #ffffff 0%, #d5d5d5 100%);
	background: linear-gradient(to bottom, #ffffff 0%, #d5d5d5 100%);
}

.btn-favourites:hover {
	-webkit-border-radius: 2px 2px 0 0;
	border-radius: 2px 2px 0 0;
}

.btn-favourites .ico-favourite {
	width: 18px;
	height: 15px;
	position: absolute;
	top: 8px;
	left: 6px;
	background: url(/images/ico-favourite.png) no-repeat;
}

.btn-favourites .drop {
	display: block;
	width: 100%;
	height: 100%;
	background: url(/images/bg-drop-inverted.png) no-repeat 27px -4px;
	cursor: pointer;
}

.btn-favourites:hover .drop {
	background: url(/images/bg-drop-inverted.png) no-repeat 27px -43px;
}

.btn-favourites ul {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 10;
	display: none;
	overflow: hidden;
	border-radius: 0 3px 3px 3px;
	-webkit-border-radius: 0 3px 3px 3px;
}

.btn-favourites:hover ul {
	display: block;
}

.btn-favourites ul li a,
.btn-favourites ul li span {
	white-space: nowrap;
	padding: 8px;
	display: block;
	font-weight: bold;
	color: #4e4e4e;
	background: #d5d5d5;
}

.btn-favourites ul li span {
	position: relative;
	color: #808080;
	padding: 8px 38px 8px 32px;
	background: #d5d5d5 url(/images/ico-checkmark.png) 7px 7px no-repeat;
}

.btn-favourites ul li span .delete {
	position: absolute;
	right: 8px;
	top: 8px;
	color: #808080;
	margin: 0 0 0 10px;
	text-decoration: none;
}

.btn-favourites ul li span .delete:hover {
	color: #4e4e4e;
}

.btn-favourites ul li a:hover {
	color: #f56c08;
	background: #202020;
	background: -moz-linear-gradient(top, #202020 0%, #191919 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #202020), color-stop(100%, #191919));
	background: -webkit-linear-gradient(top, #202020 0%, #191919 100%);
	background: -o-linear-gradient(top, #202020 0%, #191919 100%);
	background: -ms-linear-gradient(top, #202020 0%, #191919 100%);
	background: linear-gradient(to bottom, #202020 0%, #191919 100%);
}

.btn-favourites ul li span a {
	padding: 0;
	background: transparent;
	text-decoration: underline;
}

.btn-favourites ul li span a:hover {
	background: transparent;
}

/* video / album tabs */
.tabs-menu {
	margin-top: 3px;
	overflow: hidden;
	float: right;
}

.tabs-menu ul {
	margin-top: -2px;
}

.tabs-menu li {
	margin: 2px 5px 0 0;
	display: inline-block;
	vertical-align: top;
}

.tabs-menu li:last-child {
	margin: 2px 0 0 0;
}

.tab-content {
	border: 2px solid #1F1F1F;
	padding: 10px;
	color: #9b9b9b;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

/* video / album details */
.block-details {
	margin: -10px 0;
	overflow: hidden;
}

.block-details .info {
	overflow: hidden;
}

.block-details .item {
	width: 100%;
	overflow: hidden;
	padding: 10px 0;
	background: url(/images/divider.png) repeat-x;
}

.block-details .item:first-child {
	background: none;
}

.block-details .item img {
	margin: 1px;
}

.block-details .item a {
	display: inline-block;
	color: #f56c08;
	margin: 1px 0 1px 3px;
	font-weight: bold;
	background: #252525;
	padding: 2px 10px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	white-space: nowrap;
}

.block-details .item a:hover {
	color: #fff;
}

.block-details .item span {
	float: left;
	padding-right: 48px;
	position: relative;
}

.block-details .item span:after {
	display: block;
	content: '|';
	position: absolute;
	right: 24px;
	top: 0;
	color: #353535;
}

.block-details .item span.added-by {
	float: right;
	padding: 0;
}

.block-details .item span.added-by:after {
	display: none;
}

.block-details .item span em {
	color: #dcdcdc;
	margin-left: 3px;
}

.block-details .block-user {
	float: right;
	margin: 10px 0 10px 10px;
	overflow: hidden;
	width: 150px;
}

.block-details .block-user .username {
	margin: 0 0 5px 0;
	font-weight: bold;
}

.block-details .block-user .avatar {
	display: block;
}

.block-details .block-user .avatar img,
.block-details .block-user .avatar .no-thumb {
	display: block;
	width: 150px;
	height: 150px;
	text-align: center;
	line-height: 150px;
	background: #000;
}

/* video / album flagging */
.block-flagging {
	width: 100%;
	overflow: hidden;
}

.block-flagging .block-radios {
	float: left;
}

.block-flagging .block-textarea {
	overflow: hidden;
}

.block-flagging .submit {
	margin: 11px 0 0;
}

/* video screenshots */
.block-screenshots {
	width: 100%;
	overflow: hidden;
	margin: -10px 0 0;
	text-align: center;
}

.block-screenshots span.item,
.block-screenshots a.item {
	display: inline-block;
	vertical-align: top;
	border: 1px solid #1f1f1f;
	width: 167px;
	height: 126px;
	margin: 10px 0 0 0;
}

.block-screenshots a.item:hover {
	border: 1px solid #da6109;
}

.block-screenshots span.item img,
.block-screenshots a.item img {
	width: 167px;
	height: 126px;
}

/* video / album sharing */
.block-share {
	width: 100%;
	overflow: hidden;
}

.block-share .block-bookmarks {
	float: right;
	width: 49%;
}

.block-share .middle {
	width: 50%;
}

.block-share .block-size {
	width: 100%;
	overflow: hidden;
	padding: 2px 0 0;
}

.block-share .block-size a {
	float: left;
	margin: 4px 10px 0 0;
	color: #4e4e4e;
	text-shadow: 1px 1px 0 #e0e0e0;
	background: #d0d0d0;
	height: 23px;
	padding: 9px 17px 0;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: -moz-linear-gradient(top, #d0d0d0 0%, #c5c5c5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d0d0d0), color-stop(100%, #c5c5c5));
	background: -webkit-linear-gradient(top, #d0d0d0 0%, #c5c5c5 100%);
	background: -o-linear-gradient(top, #d0d0d0 0%, #c5c5c5 100%);
	background: -ms-linear-gradient(top, #d0d0d0 0%, #c5c5c5 100%);
	background: linear-gradient(to bottom, #d0d0d0 0%, #c5c5c5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0d0d0', endColorstr='#c5c5c5', GradientType=0);
}

.block-share .block-size a:hover {
	color: #9b9b9b;
	text-shadow: 1px 1px 0 #323232;
	background: #404040;
	background: -moz-linear-gradient(top, #404040 0%, #373737 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #404040), color-stop(100%, #373737));
	background: -webkit-linear-gradient(top, #404040 0%, #373737 100%);
	background: -o-linear-gradient(top, #404040 0%, #373737 100%);
	background: -ms-linear-gradient(top, #404040 0%, #373737 100%);
	background: linear-gradient(to bottom, #404040 0%, #373737 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#404040', endColorstr='#373737', GradientType=0);
}

.block-share .custom-size {
	float: left;
	margin: 4px 0 0 0;
}

.block-share .custom-size label {
	float: left;
	color: #9b9b9b;
	margin: 8px 9px 0 0;
}

.block-share .custom-size .textfield {
	float: left;
	width: 42px;
	margin: 0 8px 0 0;
	text-align: center;
}

/* video / album comments */
.block-comments {
	width: 100%;
	overflow: hidden;
}

.block-comments .toggle-button {
	float: right;
}

.block-comments .block-new-comment {
	background: url(/images/divider.png) repeat-x 0 10px;
	padding: 20px 0 20px 30px;
	display: none;
}

.block-comments .list-comments {
	background: url(/images/divider.png) repeat-x 0 10px;
	padding: 20px 0 0;
}

/* related videos, albums */
.related-videos,
.related-albums {
	width: 100%;
	overflow: hidden;
	margin: 20px 0 0;
}

.related-videos .list-sort,
.related-albums .list-sort {
	overflow: hidden;
}

.related-videos .list-sort li,
.related-albums .list-sort li {
	float: left;
	margin: 0 2px 0 0;
	overflow: hidden;
	-webkit-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
}

.related-videos .list-sort a,
.related-albums .list-sort a,
.related-videos .list-sort span,
.related-albums .list-sort span {
	float: left;
	height: 27px;
	font-weight: bold;
	color: #f56c08;
	background: url(/images/bg-sort.gif) repeat-x;
	padding: 11px 11px 0;
}

.related-videos .list-sort a:hover,
.related-albums .list-sort a:hover {
	color: #fff;
	cursor: pointer;
}

.related-videos .list-sort span,
.related-albums .list-sort span {
	color: #d8d8d8;
	background: url(/images/bg-sort.gif) repeat-x 0 100%;
}

.related-videos .box,
.related-albums .box {
	border-radius: 0 5px 5px;
}

/* playlist subscribe */
.btn-subscribe {
	margin: 3px 10px 0 0;
	float: left;
	position: relative;
	overflow: hidden;
}

.btn-subscribe .toggle-button {
	float: left;
}

.btn-subscribe .button-info:before {
	border-bottom: 5px solid rgba(0, 0, 0, 0);
	border-right: 5px solid #BCBCBC;
	border-top: 5px solid rgba(0, 0, 0, 0);
	content: "";
	left: -5px;
	position: absolute;
	top: 5px;
}
.btn-subscribe .button-info {
	background: none repeat scroll 0 0 #BCBCBC;
	border-radius: 3px;
	color: #4E4E4E;
	float: left;
	height: 17px;
	margin: 5px 0 0 10px;
	padding: 3px 8px 0;
	position: relative;
}

/* member-menu */
.member-menu {
	float: right;
	width: 195px;
	margin-left: 10px;
}

.member-menu .block-main {
	padding: 8px 0 0;
	width: 100%;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden;
	background: #272727 url(/images/bg-grey.gif);
}

.member-menu .block-main .avatar {
	margin: 0 auto 8px;
	width: 180px;
}

.member-menu .block-main .avatar img,
.member-menu .block-main .avatar .no-thumb {
	display: block;
	width: 180px;
	height: 180px;
	line-height: 180px;
	background: #000;
	color: #838383;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
}

.member-menu .block-additional {
	width: 100%;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden;
	background: #272727 url(/images/bg-grey.gif);
	margin: 10px 0 0;
}

.member-menu .block-additional .user-menu li:first-child {
	background: none;
}

.member-menu .user-menu li {
	margin: -1px 0 0;
	background: url(/images/divider.png) repeat-x;
}

.member-menu .user-menu span,
.member-menu .user-menu a {
	display: block;
	font-weight: bold;
	padding: 10px 12px 13px 14px;
}

.member-menu .user-menu span {
	color: #838383;
	padding: 10px 12px 13px 25px;
	background: url(/images/bullet.png) no-repeat 14px 50%;
}

.member-menu .user-menu a:hover {
	background: #1a1a1a;
}

.member-menu .user-menu em {
	display: inline-block;
	margin: 0 0 0 5px;
	width: 14px;
	height: 14px;
	padding: 2px;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	border-radius: 50%;
	background: #fc5729;
	color: #ffffff;
}

.member-menu .user-menu em.small {
	font-size: 9px;
}

.member-menu .user-menu a:hover em {
	color: #ffffff;
}

/* profile */
.profile-list {
	width: 100%;
	overflow: hidden;
}

.profile-list .margin-fix {
	margin: 0;
	overflow: hidden;
}

.profile-list .about-me {
	width: 100%;
	float: left;
	overflow: hidden;
	margin: -2px 0 0 0;
}

.profile-list .column {
	float: left;
	width: 33%;
	margin-right: 10px;
}

.profile-list .column:nth-child(3) {
	float: none;
	width: auto;
	margin-right: 0;
}

.profile-list .item {
	padding: 12px;
	background: #222;
	color: #838383;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 0 10px rgba(6, 6, 6, 0.2);
	box-shadow: inset 0 0 10px rgba(6, 6, 6, 0.2);
}

.profile-list .column .item {
	margin: 0 0 10px;
	overflow: hidden;
}

.profile-list .item em {
	color: #fff;
}

.profile-list .item a {
	text-decoration: underline;
}

/* video / album edit */

.form-upload p {
	display: block;
	margin: 15px 0 0;
}

.form-upload p.preview {
	display: block;
	max-width: 320px;
	overflow: hidden;
	background: #000000;
	position: relative;
}

.form-upload p.preview em {
	position: absolute;
	bottom: 5px;
	background: #000000;
	opacity: 0.8;
	padding: 5px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #dcdcdc;
	font-size: 14px;
	font-weight: bold;
	line-height: 16px;
}

.form-upload p.preview em.left {
	left: 5px;
	margin-right: 50px;
}

.form-upload p.preview em.right {
	right: 5px;
}

.form-upload p.preview em.negative {
	color: #fc5729;
}

.form-upload p.preview img {
	display: block;
	max-width: 320px;
	width: 100%;
	height: auto;
}

.form-upload p.preview.disabled img {
	opacity: 0.3;
}

/* popups */
.popup-title {
	display: block;
	color: #dcdcdc;
	margin: 0 0 5px;
	font-size: 20px;
	line-height: 22px;
}

.popup-holder {
	color: #dcdcdc;
	padding: 10px;
	min-width: 600px;
	max-width: 800px;
	background: url(/images/bg-grey.gif) repeat;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.popup-holder form .two-sections .section-one {
	width: 50%;
}

.popup-holder form .two-sections .section-two {
	width: 44%;
}

/* responsive */

@media screen and (max-width: 1255px) {
	.movable-top, .movable-bottom {
		position: static;
	}
	.network .more {
		display: none;
	}
	.network strong {
		margin-right: 6px;
	}
	.network li {
		padding: 0 6px 0 10px;
	}
	.member-links li {
		padding-left: 10px;
		margin-left: 10px;
	}
	.bottom-adv .spot:nth-child(4) {
		display: none;
	}
	.list-subscriptions .item,
	.list-playlists .item,
	.list-members .item,
	.list-models .item,
	.list-sponsors .item,
	.list-categories .item,
	.list-albums .item,
	.list-albums-images .item,
	.list-videos .item,
	.list-videos-screenshots .item {
		float: none;
		display: inline-block;
		vertical-align: top;
	}
	.list-subscriptions .item {
		width: 380px;
	}
	.videos-ad-inline,
	.playlists-ad-inline,
	.albums-ad-inline {
		display: none;
	}
	.block-channel .channel-info {
		float: none;
		width: auto;
		margin-right: 0;
		margin-top: 10px;
	}
	.block-channel .channel-rating {
		float: none;
		width: auto;
	}
	.block-channel .desc {
		height: auto;
	}
	.main-container-user {
		float: none;
		width: auto;
	}
	.block-video .video-holder,
	.block-album .album-holder {
		float: none;
		width: auto;
	}
	.tabs-menu,
	.btn-favourites,
	.btn-subscribe,
	.rating-container {
		float: none;
		display: inline-block;
		vertical-align: top;
	}
	.block-details .item span.added-by {
		display: none;
	}
}

@media screen and (max-width: 1040px) {
	.main-content {
		display: table;
	}
	.main-container {
		display: table-header-group;
		width: 100%;
	}
	.sidebar {
		float: none;
		width: 100%;
		display: table-footer-group;
	}
	.sidebar .alphabet {
		text-align: left;
	}
	.sidebar .list li, .sidebar .filter li {
		display: inline-block;
		vertical-align: top;
		background: none;
	}
	.sidebar .list .rating {
		margin-left: 8px;
	}
	.btn-favourites ul {
		right: 0;
		left: auto;
		-webkit-border-radius: 3px 0 3px 3px;
		border-radius: 3px 0 3px 3px;
	}
}

@media screen and (max-width: 980px) {
	.network {
		float: none;
	}
	.network .more {
		display: block;
	}
	.member-links {
		float: none;
	}
	.member-links ul {
		line-height: 18px;
	}
	.navigation {
		background: #272727 url(/images/bg-grey.gif);
		height: auto;
		width: 60%;
		margin: 0 auto;
	}
	.navigation .button {
		display: block;
	}
	.navigation .primary {
		float: none;
		display: none;
		width: auto;
		border-right: none;
	}
	.navigation.open .primary {
		display: block;
	}
	.navigation .primary li {
		display: block;
		border-top: 1px solid #343434;
		border-bottom: 1px solid #252525;
		border-left: none;
		border-right: none;
	}
	.navigation .secondary {
		display: none;
		width: 100%;
	}
	.navigation.open .secondary {
		display: table;
	}
	.navigation .secondary li {
		float: none;
		display: table-cell;
		text-align: center;
	}
	.navigation .secondary a {
		float: none;
	}
	.block-model .model-list {
		width: auto;
		float: none;
		margin-right: 0;
	}
	.block-model .desc {
		height: auto;
		margin-top: 11px;
		padding-bottom: 5px;
	}
}

@media screen and (max-width: 940px) {
	.bottom-adv .spot:nth-child(3) {
		display: none;
	}
}

@media screen and (max-width: 860px) {
	.block-album .adv,
	.block-video .adv,
	.playlists-ad,
	.albums-ad,
	.videos-ad {
		display: none;
	}
	.pagination .prev,
	.pagination .next {
		display: block;
	}
	.pagination .first,
	.pagination .last,
	.pagination .page,
	.pagination .jump {
		display: none;
	}
	.profile-list .column {
		float: none;
		margin: 0;
		width: 100%;
	}
	form .bottom .submit.right {
		float: left;
		margin: 0 10px 0 0;
	}
	.related-videos .list-sort li:nth-child(3),
	.related-albums .list-sort li:nth-child(3) {
		display: none;
	}
	.main-container-user form .two-sections .section-one,
	.main-container-user form .two-sections .section-two {
		float: none;
		background: none;
		padding: 0;
		margin: 0;
		width: 100%;
	}
	.main-container-user form .two-sections .section-two {
		margin-top: 20px;
	}
}

@media screen and (max-width: 785px) {
	.header {
		text-align: center;
	}
	.search {
		width: 90%;
		padding: 10px 0;
	}
	.logo {
		margin: 17px 0 0 0;
		float: none;
		display: inline-block;
		vertical-align: top;
	}
	.social-bookmarks {
		margin: 23px 0 0 0;
		float: none;
		display: inline-block;
		vertical-align: top;
	}
	.footer .footer-wrap {
		text-align: center;
	}
	.footer .copyright {
		float: none;
		display: inline-block;
		margin: 8px 0;
		text-align: left;
	}
	.footer .txt {
		text-align: center;
		margin: 0;
	}
	.headline {
		padding: 10px 5px 8px 5px;
	}
	.tags-cloud {
		margin-top: 10px;
	}
	.bottom-adv {
		margin-top: 10px;
	}
	.popup-holder {
		min-width: 500px;
	}
}

@media screen and (max-width: 640px) {
	.profile-list .item,
	.block-model,
	.block-channel,
	.block-album,
	.block-video,
	.tab-content,
	.related-videos .box,
	.related-albums .box,
	.box {
		padding: 5px;
		-webkit-border-radius: 0;
		border-radius: 0;
	}
	.navigation,
	.pagination,
	.member-menu .block-main,
	.member-menu .block-additional,
	.sidebar .list,
	.sidebar .comments,
	.sidebar .alphabet,
	.sidebar .filter {
		-webkit-border-radius: 0;
		border-radius: 0;
	}
	.headline h2 {
		float: none;
		text-align: center;
		margin-bottom: 5px;
	}
	.container {
		padding: 0;
	}
	.bottom-adv .spot:nth-child(2) {
		display: none;
	}
	.list-tags .item .title,
	.list-tags .item a {
		padding-left: 5px;
	}
	.popup-holder {
		padding: 5px;
		min-width: 270px;
		-webkit-border-radius: 0;
		border-radius: 0;
	}
	form .two-sections .section-one,
	form .two-sections .section-two,
	.popup-holder form .two-sections .section-one,
	.popup-holder form .two-sections .section-two {
		float: none;
		background: none;
		padding: 0;
		margin: 0;
		width: 100%;
	}
	form .two-sections .section-two,
	.popup-holder form .two-sections .section-two {
		margin-top: 20px;
	}
	form .button-group .row label {
		float: none;
		overflow: hidden;
	}
	form .list-selector-popup .button-group .item {
		display: block;
		width: auto;
	}
	.member-menu {
		float: none;
		width: 100%;
		margin-left: 0;
		text-align: center;
	}
	.member-menu .block-main {
		padding: 0;
	}
	.member-menu .headline h2 {
		float: none;
	}
	.member-menu .avatar {
		display: none;
	}
	.member-menu .user-menu li {
		display: inline-block;
		background: none;
	}
	.block-video .sponsor,
	.block-video .player,
	.block-video .playlist,
	.block-album .sponsor,
	.block-album .images {
		border: none;
	}
	.related-videos .list-sort li:nth-child(2),
	.related-albums .list-sort li:nth-child(2) {
		display: none;
	}
	.block-album .images .message,
	.block-video .no-player .message {
		top: 0;
		padding: 10px;
		font-size: 12px;
		line-height: 12px;
	}
	.block-album .images .message em,
	.block-video .no-player .message em {
		font-size: 12px;
	}
	.block-album .images .message form,
	.block-video .no-player .message form {
		padding: 0;
	}
	.block-album .images .message form .submit,
	.block-video .no-player .message form .submit {
		font-size: 12px;
		padding: 5px;
		height: 25px;
	}

}

@media screen and (max-width: 560px) {
	.network .more {
		display: none;
	}
	.block-channel .img img,
	.block-channel .img .no-thumb {
		width: 252px;
		height: 140px;
		line-height: 140px;
	}
	.block-channel .channel-rating strong {
		height: 86px;
		padding-top: 20px;
	}
	.list-subscriptions .item {
		width: 300px;
	}
	.list-messages .added {
		float: none;
		overflow: hidden;
		padding: 5px 10px 0 10px;
	}
	.list-messages .added.editable {
		padding-left: 25px;
		background-position: 10px 5px;
	}
	.list-messages .item.new .added {
		padding-left: 25px;
	}
	.list-messages .item.new .added:after {
		top: 11px;
		left: 12px;
	}
}

@media screen and (max-width: 420px) {
	.margin-fix {
		margin: -10px 0 0 0;
	}
	.margin-fix .bottom {
		margin: 0;
	}
	.margin-fix .generic-error {
		margin: 10px 0 0 0;
	}
	.empty-content {
		padding: 10px 0 0;
	}
	.list-comments .comment-options {
		float: none;
		margin-bottom: 3px;
	}
	.list-playlists .item,
	.list-members .item,
	.list-models .item,
	.list-sponsors .item,
	.list-categories .item,
	.list-albums .item,
	.list-videos .item {
		margin: 10px 0 0 0;
		width: 140px;
	}
	.list-subscriptions .item,
	.list-videos-screenshots .item,
	.list-albums-images .item {
		margin: 10px 0 0 0;
	}
	.list-models .img,
	.list-sponsors .img,
	.list-categories .img {
		width: 140px;
		height: 202px;
	}
	.list-models .img .no-thumb,
	.list-sponsors .img .no-thumb,
	.list-categories .img .no-thumb {
		line-height: 202px;
	}
	.list-videos .img,
	.list-playlists .img {
		width: 140px;
		height: 105px;
	}
	.list-members .img {
		width: 140px;
		height: 140px;
	}
	.list-playlists .img .no-thumb {
		line-height: 105px;
	}
	.list-members .img .no-thumb {
		line-height: 140px;
	}
	.list-albums .img {
		width: 140px;
		height: 187px;
	}
	.item .wrap {
		margin: 0 0 2px;
	}
	.item-control-holder a.toggle-button {
		position: relative;
		width: 5px;
		text-indent: 30px;
		overflow: hidden;
	}
	.item-control-holder a.toggle-button:after {
		position: absolute;
		left: 4px;
		top: 4px;
		width: 16px;
		height: 16px;
		background: url("/images/ico-edit.png") 0 0 no-repeat;
		z-index: 5;
		content: '';
	}
	.tab-content {
		border-width: 2px 0 0 0;
	}
	.block-video .playlist {
		padding: 3px;
	}
	.block-video .playlist .item {
		width: 140px;
		border-width: 3px;
	}
	.block-video .playlist .item .img {
		width: 140px;
		height: 105px;
	}
	.block-details .block-user {
		width: 75px;
	}
	.block-details .block-user .avatar img,
	.block-details .block-user .avatar .no-thumb {
		width: 75px;
		height: 75px;
		line-height: 75px;
	}
	.block-details .item span {
		display: block;
		float: none;
		padding: 0 0 3px 0;
	}
	.block-details .item span:after {
		display: none;
	}
	.block-share .block-bookmarks {
		float: none;
		width: 100%;
		margin-bottom: 5px;
	}
	.block-share .middle {
		width: 100%;
	}
	.block-screenshots span.item,
	.block-screenshots a.item,
	.block-screenshots span.item img,
	.block-screenshots a.item img {
		width: 140px;
		height: 105px;
	}
	.block-model .img,
	.block-channel .img {
		float: none;
		border: 0;
		margin: 0 0 5px 0;
	}
	.block-model .img img,
	.block-model .img .no-thumb,
	.block-channel .img img,
	.block-channel .img .no-thumb {
		width: 100%;
		height: auto;
	}
}