#playlist {
width: 50px; height: 15px; position:fixed; right: 0; bottom: 0px; display: none;
}

#playlist_inner {
clear: both; width: 100%; height: 130px; background-color: #000000;
 
}
#playlist_inner #rollleft_btn { width: 50px; height: 100px; background:url(../../../images/default/playlist/pl_prev.png) no-repeat; width:50px; height:100px; display:block; cursor:pointer;  float: left; }
#playlist_inner #rollright_btn { width: 50px; height: 100px; background:url(../../../images/default/playlist/pl_next.png) no-repeat; width:50px; height:100px; display:block; cursor:pointer;  float: right; }

#playlist_inner #videos_strip {
float: left;
width: 800px;
overflow: hidden;
margin-left: 10px;
}
 
#playlist ul#videobar { height: 100px; overflow: hidden; margin: 5px 0px; width: 10000px; clear: both; padding-top: 10px; position: relative; left: 0px; }
span#pid { display: none; }
#playlist ul#videobar li { float: left; width: 126px; height: 76px; margin: 0px 0px; isplay: block; background:url(../../../images/default/playlist/pl_thumb_border1.png) no-repeat; padding: 3px; }
#playlist ul#videobar li:hover { background:url(../../../images/default/playlist/pl_thumb_border3.png) no-repeat; padding: 3px; }
#playlist ul#videobar li.current { float: left; width: 126px; height: 76px; margin: 0px 4px; display: block; background:url(../../../images/default/playlist/pl_thumb_border2.png) no-repeat; padding: 3px;  }
#playlist ul#videobar li.notyet { width: 106px; text-align: center; padding: 22px 10px; font-size: 11px; color: #fff; }
#playlist ul#videobar li  .crop { width: 120px; height: 70px; overflow:hidden; }
#playlist ul#videobar img  { width: 120px; height: 90px; position: relative; top: -9px; }

#playlist ul#videobar li span.remove, #playlist ul#videobar li span.removeFav { background:url('../../../images/default/playlist/remove_video.png') no-repeat; display: block; height: 24px; left: 90px; overflow: hidden; position: relative; top: -24px; width: 26px; opacity:0.5;filter:alpha(opacity=50) }			
#playlist ul#videobar li span.remove:hover, #playlist ul#videobar li span.removeFav:hover { opacity:1;filter:alpha(opacity=100) }						


#playlist ul#playlistbar .current a { background-color: #fff; color: red; margin: 0 4px;  }
 
#playlist #controlls { height: 30px; float: left; margin-right: 10px ; color: #d3d3d3; background: #3a3a3a url(../../../images/default/playlist/pl_head_bg.png) repeat-x; width: 100%; padding: 0px; }
#playlist #controlls #prev_video { width: 25px; height: 30px; float: left; background:url(../../../images/default/playlist/pl_first.png) no-repeat; cursor:pointer; }
#playlist #controlls #prev_video:hover {  background:url(../../../images/default/playlist/pl_first_over.png) no-repeat;}

#playlist #controlls #next_video { width: 25px; height: 30px; float: left; background:url(../../../images/default/playlist/pl_last.png) no-repeat; cursor:pointer; }
#playlist #controlls #next_video:hover {  background:url(../../../images/default/playlist/pl_last_over.png) no-repeat;}

#playlist #controlls #pausePlayBtn { display: block; width: 25px; height: 28px; cursor: pointer; float: left; border: 1px solid red;}
#playlist #controlls #plplay { display: block; width: 25px; height: 30px; cursor: pointer; background: #ff0000; }
#playlist #controlls #plpause { display: block; width: 25px; height: 30px; cursor: pointer; background: #ff0000;}
#playlist #controlls .title { margin-top: 6px; float: left; margin-left: 8px; font-size: 15px; color: #808080; }
#playlist #controlls span.title { font-size: 15px; }
#playlist #controlls .videotitle { float: left; font-size: 15px; margin-top: 6px; margin-left: 5px; color: #fff; }
#playlist #controlls #next_video span, #playlist #controlls #prev_video span { display: none; }
#playlist #controlls select { margin-left: 5px; margin-top: 4px;  float: left; }
#playlist #controlls a { color: #dadada; }
#playlist #controlls a span { display: inline;  }
#playlist #closePl, #playlist #openPl { float: right; margin-right: 8px; padding-top: 5px; cursor: pointer; width: 16px; height: 16px;display: block; margin-top: 6px; }
#playlist #removeList { float: right; margin-right: 8px; padding-top: 5px; cursor: pointer; width: 150px; height: 16px;display: block; margin-top: 2px; }
#playlist #closePl span, #playlist #openPl  span { display: none; }
#playlist #closePl { background:url(../../../images/default/icons/playlist_hide.png) no-repeat; }
#playlist #openPl { background:url(../../../images/default/icons/playlist_show.png) no-repeat; }

#playlist #loopOn, #playlist #loopOff { float: left; margin-right: 5px; margin-left: 5px; padding-top: 5px; cursor: pointer; width: 22px; height: 15px;display: block; margin-top: 6px; }
#playlist #loopOn span, #playlist #loopOff  span { display: none; }
#playlist #loopOn { background:url(../../../images/default/icons/playlist_loop_on.png) no-repeat; }
#playlist #loopOff { background:url(../../../images/default/icons/playlist_loop_off.png) no-repeat; }





/*		NEW PLAYLIST*/

.hidden
{
	display: none;
}

#plContainer
{
	display: none;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 10000;
}

#plPagerHandleLeft
{
	position: absolute;
	left: 0;
	bottom: 0;
	
	width: 50px;
	height: 100px;
}

#plPagerHandleRight
{
	position: absolute;
	right: 0;
	bottom: 0;
	
	width: 50px;
	height: 100px;
}

.plPagerHandle
{
	/*must be over evryyything*/
	z-index: 1000000;
	Xbackground-color: #000;
}


#plContainer
{
	background-color: #000;
}

#plPlayStrip
{
	position:relative;/*IE7*/
	height: 100px;
	margin-left: 50px;
	margin-right: 50px;
	
	padding: 0 5px 0 5px;

	background-color: #000;
	white-space: nowrap;
	overflow: hidden;
}

#plPlayStrip ol
{
	position: relative;
	white-space: nowrap;
	letter-spacing: 1px;/*IE7*/
	list-style: none;
	padding: 0;
	margin: 15px 0 0 0;
}

#plPlayStrip li
{
	width: 126px; 
	height: 76px; 
	background: url(/images/default/playlist/pl_thumb_border1.png) no-repeat; 
	xpadding: 3px;
	padding-right: 5px;

	letter-spacing: normal;
	word-spacing: normal;
	display: inline-block;
	*display: inline; /* For IE6/IE7 */
	zoom: 1; /* For IE6/IE7 */
	list-style: none;
	
	position: relative;
	
	cursor: pointer;
}

#plPlayStrip li.playing
{
	background: url(/images/default/playlist/pl_thumb_border1sel.png) no-repeat; 
}

#plPlayStrip li img
{
	width: 120px;
	height: 90px;
	Xmargin:0px -20px -50px -20px;
	margin-top:-9px;
}


.actionRemoveOverlay
{
	background:url('/images/default/playlist/remove_video.png') no-repeat;
	display: none;
	overflow: hidden;
	position: absolute;
	right: 6px;
	bottom: 0px;
	height: 24px;
	width: 26px;
	z-index: 100000;

	opacity:0.5;
	filter:alpha(opacity=50);
}

.actionRemoveOverlay:hover
{
	opacity:1;
	filter:alpha(opacity=100);
	cursor: pointer;
}


#plPlaylistOptions
{
	width: 100%; 
	height: 30px;
	background-color: #232323;
}

.plPagerHandle, 
.plToggle,
.plLoopToggle
{
	cursor: pointer;
}

.plLoopToggle
{
	margin: 7px 0 0 5px;
}

#plPlaylistSelect
{
	margin: 5px 0 0 5px;
}


.plToggle
{
	margin: 7px 5px 0 0px;
}

#undoLastAction
{
	float: right;
	font: 1em arial,helvetica,sans-serif;
	color: #D3D3D3;
	margin: 7px 55px 0 0;
	font-weight: bold;
	display: none;
	cursor: pointer;
}

#delActualPlaylist
{
	float: right;
	font: 1em arial,helvetica,sans-serif;
	color: #D3D3D3;
	margin: 7px 55px 0 0;
}

#delActualPlaylist:hover
{
	cursor: pointer;
}

#itemTitle
{
	color: #FFF;
	float: left;
	height: 23px;
	margin: 7px 0 0 10px;
}
