@charset "utf-8";

/**
 * tg_pia header / footer
 *
 * 0.extraheader
 * 1.header
 * 2.footer
 *
 *
 **/
/*
GLOBAL CLASS

.tg_pia-SP
.tg_pia-TAB =>body:not(.tg_pia-SP)
.tg_pia-PC =>body:not(.tg_pia-SP)
.tg_pia-isIOS
.tg_pia-isAndroid

PC/TAB boxsize Class
.tg_pia-windowsizeS => max-width: 800px (inner-width: 610px)
.tg_pia-windowsizeM => width: 801px - 1249px (inner-width: 940px)
.tg_pia-windowsizeL => min-width: 1250px (inner-width: 1230px)

*/
/* meadia query set
@media only screen and (min-width: 1180px) {

}
@media screen and (max-width: 1180px) and (min-width: 981px) {

}
@media screen and (max-width: 980px) and (min-width: 769px) {

}
@media only screen and (min-width: 769px) {

}
@media only screen and (max-width: 768px) {

}
*/

/*
-- GLOBAL --
*/
html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}
/* COMMON */
#tg_pia-gheader.tg_pia-ut__fixed {
	position: fixed !important;
	top: 0;
	left: 0;
	-webkit-transform-style: preserve-3d;
	-webkit-transform: translate3d(0,0,0);
}
#tg_pia-gheader.tg_pia-ut__fixed * {
-webkit-transform-style: preserve-3d;
   -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
     -o-transform-style: preserve-3d;
        transform-style: preserve-3d;
}


/*! Flickity v1.1.1
http://flickity.metafizzy.co
---------------------------------------------- */

.flickity-enabled {
  position: relative;
}

.flickity-enabled:focus { outline: none; }

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}
/* draggable */
.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
          tap-highlight-color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}
.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

/*
-- SP --
*/
body.tg_pia-SP {
	min-width: 320px;
}

/* login */

body.tg_pia-SP.tg_pia-status-logout .tg_pia-status-logout {
	display: block;
}
body.tg_pia-SP.tg_pia-status-logout .tg_pia-status-login {
	display: none;
}
body.tg_pia-SP.tg_pia-status-login .tg_pia-status-logout {
	display: none;
}
body.tg_pia-SP.tg_pia-status-login .tg_pia-status-login {
	display: block;
}
/* --------------------
0. extraheader
-------------------- */
body.tg_pia-SP #tg_pia-exheader {
	position: relative;
	display: block;
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-align: center;
}
body.tg_pia-SP #tg_pia-exheader a {position: relative;color: #FFF;display: block; font-weight: bold; white-space: nowrap;overflow: hidden;text-overflow: ellipsis;-webkit-text-overflow: ellipsis;-o-text-overflow: ellipsis;font-size: 11px;}
body.tg_pia-SP #tg_pia-exheader a:hover {text-decoration: none;}

/* --------------------
1. header
-------------------- */
body.tg_pia-SP #tg_pia-gheader {
	width: 100%;
	position: relative;
	background: #FFF;
	z-index: 10;
	text-align: left;
}
body.tg_pia-SP #tg_pia-gheader:after {
	content: "";
	display: table;
	clear: both;
}
body.tg_pia-SP #tg_pia-gheader > .tg_pia-wrapper__inner {
	padding: 0;
	z-index: 9999;
	-webkit-transition: position 0.2s ease-in-out;
	-moz-transition: position 0.2s ease-in-out;
	-o-transition: position 0.2s ease-in-out;
	transition: position 0.2s ease-in-out;
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
}
body.tg_pia-SP #tg_pia-gheader.tg_pia-ut__fixed {
	top: 0;
}
body.tg_pia-SP .tg_pia-wrapper__inner {
	margin: auto;
	position: relative;
}
body.tg_pia-SP #tg_pia-gheader .tg_pia-status-wrpper {
	overflow: hidden;
	position: relative;
	margin: 2.666% 2.666% 0;
}
body.tg_pia-SP #tg_pia-gheader.tg_pia-ut__fixed .tg_pia-status-wrpper {
	display: none;
}
body.tg_pia-SP #tg_pia-gheader #tg_pia-header-logo {
	width: 32.8%;
	max-width: 146px;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	margin: auto;
	z-index: 1;
}
body.tg_pia-SP #tg_pia-gheader #tg_pia-header-logo a {
	display: block;
}
body.tg_pia-SP #tg_pia-gheader #tg_pia-header-logo a img {
	width: 100%;
	max-width: 116px;
}
body.tg_pia-SP #tg_pia-gheader #tg_pia-header-login {
	width: 64%;
	padding: 0;
	float: right;
	position: relative;
}
body.tg_pia-SP #tg_pia-gheader #tg_pia-header-login > ul {
	text-align: right;
	letter-spacing: -.30em;
}
body.tg_pia-SP #tg_pia-gheader #tg_pia-header-login > ul li {
	display: inline-block;
	letter-spacing: normal;
	line-height: 28px;
	height: 28px;
}
body.tg_pia-SP #tg_pia-gheader #tg_pia-header-login > ul li + li {
	margin-left: 18px;
}
body.tg_pia-SP #tg_pia-gheader #tg_pia-header-login > ul li a {
	display: block;
	font-size: 11px;
	text-decoration: none;
	color: #000;
}
/* .tg_pia-header-login ログイン時 */
body.tg_pia-SP.tg_pia-status-login #tg_pia-gheader #tg_pia-header-login {
	max-width: 350px;
}
body.tg_pia-SP.tg_pia-status-login #tg_pia-gheader #tg_pia-header-login > ul li {
	vertical-align: top;
	display: inline-block;
}
body.tg_pia-SP.tg_pia-status-login #tg_pia-gheader #tg_pia-header-login > ul li a {
	word-wrap: break-word;
}
body.tg_pia-SP.tg_pia-status-login #tg_pia-gheader #tg_pia-header-login > ul li a span{
	display: inline-block;
	vertical-align: top;
	max-width: 9em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	text-align: center;
}
/* SUB MENU */
body.tg_pia-SP #tg_pia-gheader .tg_pia-submenu {
	text-align: center;
	position: relative;
	background-color: #F3F3F3;
	height: 32px;
}
body.tg_pia-SP #tg_pia-gheader.tg_pia-ut__fixed .tg_pia-submenu {
	display: none;
}
body.tg_pia-SP #tg_pia-gheader .tg_pia-submenu > ul {
	letter-spacing: -.30em;
	width: 100%;
	padding: 0;
	box-sizing: border-box;
}
body.tg_pia-SP #tg_pia-gheader .tg_pia-submenu > ul > li {
	position: relative;
	text-align: center;
	display: inline-table;
	letter-spacing: normal;
	font-size: 11px;
	text-decoration: none;
	padding: 0 2%;
	height: 32px;
	line-height: 32px;
	white-space: nowrap;
}
body.tg_pia-SP #tg_pia-gheader .tg_pia-submenu > .tg_pia-status-logout > li {
	padding: 0 4%;
}
body.tg_pia-SP #tg_pia-gheader .tg_pia-submenu > .tg_pia-status-logout > li:nth-of-type(3) {
	background-image:url(//image.pia.jp/uploads5/files/7214/5992/2951/new1.png);
	background-repeat:no-repeat;
	background-position:0 8px;
	margin-left: 4%;
}
body.tg_pia-SP #tg_pia-gheader .tg_pia-submenu > ul > li a {
	font-size: 11px;
	color: #666;
	text-decoration: none;
}
body.tg_pia-SP #tg_pia-gheader .tg_pia-submenu .tg_pia-menu__dropdown.tg_pia-ut__focus > a {
	-ms-filter: "alpha( opacity=70 )";
	filter: alpha( opacity=70 );
	opacity: 0.7;
}
body.tg_pia-SP #tg_pia-gheader .tg_pia-submenu > ul > li a span {
	color: #FFF;
	background-color: #BBB;
	border-radius: 8px;
	padding: 3px 6px;
	margin-left: 4px;
	letter-spacing: 1px;
	line-height: 1;
}
body.tg_pia-SP #tg_pia-gheader .tg_pia-submenu .tg_pia-menu__dropdown a {
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
body.tg_pia-SP #tg_pia-gheader .tg_pia-submenu .tg_pia-menu__dropdown.tg_pia-ut__focus > a {
	padding-bottom: 10px;
}
body.tg_pia-SP #tg_pia-gheader .tg_pia-submenu .tg_pia-menu__dropdown > a:after {
	content: '';
    display: inline-block;
    vertical-align: middle;
    width: 8px;
    height: 8px;
    background: url(../images/icon-arrow_down@2x.png) no-repeat 50% 50%;
    background-size: 8px;
    margin-left: 3px;
    position: relative;
}
body.tg_pia-SP #tg_pia-gheader .tg_pia-submenu .tg_pia-menu__dropdown > ul {
	position: absolute;
	display: none;
	right: 0;
	top: 28px;
	z-index: 10000;
	background: #FFF;
	width: 150px;
	text-align: left;
	-webkit-transition: 0.2s ease-in-out;
	-moz-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
	box-shadow:rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
	-webkit-box-shadow:rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
	-moz-box-shadow:rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
}
body.tg_pia-SP #tg_pia-gheader .tg_pia-submenu .tg_pia-menu__dropdown.tg_pia-ut__focus > ul {
	display: block;
}
body.tg_pia-SP #tg_pia-gheader.tg_pia-ut__fixed .tg_pia-submenu .tg_pia-menu__dropdown.tg_pia-ut__focus > ul {
	display: none;
}
body.tg_pia-SP #tg_pia-gheader .tg_pia-submenu .tg_pia-menu__dropdown > ul li {
	width: 150px;
	display: block;
	position: relative;
	border-top: 1px solid #DDD;
}
body.tg_pia-SP #tg_pia-gheader .tg_pia-submenu .tg_pia-menu__dropdown > ul li:first-child {
	border-top: 1px solid #EFEFEF;
}
body.tg_pia-SP #tg_pia-gheader .tg_pia-submenu .tg_pia-menu__dropdown > ul li a {
	color: #000;
	text-decoration: none;
	background: #FFF;
	border: none;
	white-space: normal;
	word-wrap: break-word;
	word-break: break-all;
	line-height: 1.2;
	position: relative;
	display: block;
	padding: 8px 12px;
	font-size: 10px;
	vertical-align: top;
}
body.tg_pia-SP #tg_pia-gheader .tg_pia-submenu .tg_pia-menu__dropdown > ul li a:hover {
	color: #FFF;
	background: #BBB198;
}

/* search form */
body.tg_pia-SP #tg_pia-searchform {
	position: relative;
	background: #FFF;
	padding: 2.666%;
}
body.tg_pia-SP #tg_pia-searchform > .tg_pia-search-frame {
	position: relative;
}
body.tg_pia-SP #tg_pia-searchform > .tg_pia-search-frame .tg_pia-search-text {
	position: relative;
	border: 1px solid #DDD;
	height: 10.7%;
	display: block;
	overflow: hidden;
	-webkit-transition: 0.2s ease-in-out;
	-moz-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
	overflow:hidden;
}
body.tg_pia-SP #tg_pia-searchform > .tg_pia-search-frame .tg_pia-search-text > input[type=text] {
	outline: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	border: none;
	border-radius: 0;
	width: 100%;
	height: 100%;
	line-height: 1.4;
	overflow: hidden;
	font-weight: normal;
	color: #999;
	padding: 0;
	margin: 0;
	font-size: 12px;
	padding: 8px 68px 8px 10px;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	vertical-align: middle;
}
body.tg_pia-SP.tg_pia-isAndroid_low.tg_pia-searchmode__on #tg_pia-searchform > .tg_pia-search-frame .tg_pia-search-text > input[type=text] {
	background: #FFF;
}
body.tg_pia-SP #tg_pia-searchform > .tg_pia-search-frame .tg_pia-search-text > input[type=text]::-webkit-input-placeholder {
	color: #999;
}
body.tg_pia-SP #tg_pia-searchform > .tg_pia-search-frame .tg_pia-search-text > input[type=text]:-ms-input-placeholder {
	color: #999;
}
body.tg_pia-SP #tg_pia-searchform > .tg_pia-search-frame .tg_pia-search-text > input[type=text]::-moz-placeholder {
	color: #999;
}
body.tg_pia-SP #tg_pia-searchform > .tg_pia-search-frame .tg_pia-search-text.tg_pia-form-textfocus {
	border: 1px solid #2E66CC;
}
body.tg_pia-SP #tg_pia-searchform > .tg_pia-search-frame .tg_pia-search-text > input[type=text].tg_pia-form-textfocus,
body.tg_pia-SP #tg_pia-searchform > .tg_pia-search-frame .tg_pia-search-text > input[type=text].tg_pia-form-textfill {
	color: #000;
	font-size: 12px;
}
body.tg_pia-SP #tg_pia-searchform > .tg_pia-search-frame .tg_pia-search-text > .tg_pia-search-btn {
	position: absolute;
	z-index: 2;
	top: 0;
	right: -32px;
	width: 0;
	height: 32px;
	-webkit-transition: 0.2s ease-in-out;
	-moz-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
	overflow:hidden;
}
body.tg_pia-SP.tg_pia-isAndroid_low #tg_pia-searchform > .tg_pia-search-frame .tg_pia-search-text > .tg_pia-search-btn {
	z-index: 20000;
	right: 0 !important;
}
body.tg_pia-SP #tg_pia-searchform > .tg_pia-search-frame .tg_pia-search-text > input[type=text].tg_pia-form-nowtyping + .tg_pia-search-btn,
body.tg_pia-SP #tg_pia-searchform > .tg_pia-search-frame .tg_pia-search-text > input[type=text].tg_pia-form-textfill + .tg_pia-search-btn {
	width: auto;
	right: 0;
}
body.tg_pia-SP.tg_pia-isAndroid_low.tg_pia-searchmode__on #tg_pia-searchform > .tg_pia-search-frame .tg_pia-search-text > .tg_pia-search-btn,
body.tg_pia-SP.tg_pia-isAndroid_low.tg_pia-searchmode__on #tg_pia-searchform > .tg_pia-search-frame .tg_pia-search-text > .tg_pia-search-btn {
	width: 68px;
	z-index: 200;
	right: 0 !important;
	left: auto;
	display: block;
	overflow: auto;
	background: #FFF;
}
body.tg_pia-SP #tg_pia-searchform > .tg_pia-search-frame .tg_pia-search-text > .tg_pia-search-btn input[type=submit] {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	outline: none;
	width: 68px;
	height: 32px;
	background-color: #2E66CC;
	border-radius: 0;
	border-style: none;
	border: none;
	color: #FFF;
	text-indent: 3px;
	padding: 0;
	text-align: center;
	font-size: 13px;
	cursor: pointer;
	zoom: 1;
	overflow: hidden;
}
body.tg_pia-SP.tg_pia-isAndroid_low #tg_pia-searchform > .tg_pia-search-frame .tg_pia-search-text > .tg_pia-search-btn input[type=submit] {
	display: block;
	position: relative;
	z-index: 1;
	background: #2E66CC;
}
body.tg_pia-SP #tg_pia-searchform > .tg_pia-search-frame .tg_pia-search-text svg {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 6px;
    right: 6px;
	z-index: 1;
}
body.tg_pia-SP #tg_pia-searchform > .tg_pia-search-frame .tg_pia-search-text svg .tg_pia-iconsearch {
	fill: #999;
}
body.tg_pia-SP #tg_pia-searchform > .tg_pia-search-frame .tg_pia-search-text > input[type=text].tg_pia-form-textfocus + .tg_pia-search-btn + svg .tg_pia-iconsearch {
	fill: #2E66CC;
}
body.tg_pia-SP #tg_pia-searchform > .tg_pia-search-frame .tg_pia-search-text.tg_pia-form-textfocus:after {
	display: none;
}
body.tg_pia-SP #tg_pia-searchform > .tg_pia-search-frame .tg_pia-search-text > input[type=text].tg_pia-form-textfill + .tg_pia-search-btn + svg,
body.tg_pia-SP #tg_pia-searchform > .tg_pia-search-frame .tg_pia-search-text > input[type=text].tg_pia-form-nowtyping + .tg_pia-search-btn + svg {
	display: none;
}

/* tg_pia-menunavi */
body.tg_pia-SP #tg_pia-menunavi {
  width: 100%;
  padding: 0;
  background: #F3F2ED;
  border-bottom: 1px solid #ddd;
  position: relative;
  z-index: 9998 !important;
  display: block;
  height: 59px;
  /* height: 39px; kuro */
  -webkit-transition: position 0.2s ease-in-out;
  -moz-transition: position 0.2s ease-in-out;
  -o-transition: position 0.2s ease-in-out;
  transition: position 0.2s ease-in-out;
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
}
body.tg_pia-SP #tg_pia-gheader.tg_pia-ut__fixed #tg_pia-menunavi {
	height: 56px;
	/* height: 36px; kuro */
}
body.tg_pia-SP #tg_pia-menunavi .tg_pia-wrapper__inner {padding: 0 2.66%;overflow: hidden;}
body.tg_pia-SP #tg_pia-menunavi .tg_pia-menu {
  /* height: 39px; kuro */
  height: 59px;
  /* line-height: 39px; kuro */
  line-height: 59px;
  z-index: auto;
  position: relative;
}
body.tg_pia-SP #tg_pia-gheader.tg_pia-ut__fixed #tg_pia-menunavi .tg_pia-menu {
  height: 36px;
  line-height: 36px;
}
body.tg_pia-SP #tg_pia-menunavi .flickity-viewport {
  overflow: visible !important;
  height: auto !important;
  min-height: 39px;
}
body.tg_pia-SP.tg_pia-isAndroid #tg_pia-menunavi .flickity-viewport {
  overflow: hidden;
}
body.tg_pia-SP #tg_pia-gheader.tg_pia-ut__fixed #tg_pia-menunavi .flickity-viewport {
  min-height: 37px;
}
body.tg_pia-SP.tg_pia-isAndroid #tg_pia-gheader.tg_pia-ut__fixed #tg_pia-menunavi .flickity-viewport {
  z-index: 1;
}
body.tg_pia-SP #tg_pia-menunavi .tg_pia-menu > li {
  display: inline-block;
  margin: 0;
  position: relative;
}
body.tg_pia-SP #tg_pia-menunavi .tg_pia-menu-cell {padding: 0; white-space: nowrap; background-color: #fff; float: left; }
body.tg_pia-SP #tg_pia-gheader.tg_pia-ut__fixed #tg_pia-menunavi .tg_pia-menu-cell {
  z-index: 1;
}
body.tg_pia-SP #tg_pia-gheader.tg_pia-ut__fixed #tg_pia-menunavi .tg_pia-menu-cell.tg_pia-ut__focus {
  z-index: -1;
}
body.tg_pia-SP #tg_pia-menunavi .tg_pia-menu-cell > a {
  text-decoration: none;
  color: #636361;
  background: #F3F2ED;
  display: block;
  padding: 0 12px;
  border-top: 2px solid #F3F2ED;
  border-bottom: 1px solid #DDD;
  height: 57px;
  /* height: 37px; kuro */
  line-height: 57px;
  /* line-height: 37px; kuro */
  font-size: 12px;

}
body.tg_pia-SP #tg_pia-gheader.tg_pia-ut__fixed #tg_pia-menunavi .tg_pia-menu-cell > a {
  height: 54px;
  /* height: 34px; kuro */
  line-height: 54px;
  /* line-height: 34px; kuro */
}
body.tg_pia-SP #tg_pia-menunavi .tg_pia-menu .tg_pia-ut__isActive > a {
  border-top: 2px solid #E18A45;
  background-color: #FFF;
  padding-top: 1px;
}
body.tg_pia-SP #tg_pia-menunavi .tg_pia-menu .tg_pia-ut__colorOrange > a {
  color: #E18A45;
}
body.tg_pia-SP #tg_pia-menunavi .tg_pia-ut__txbold > a {
  font-weight: bold;
}
body.tg_pia-SP #tg_pia-menunavi .tg_pia-menu-cell.tg_pia-ut__focus > a {
  border-top: 2px solid #E18A45;
  border-bottom: 1px solid #FFF;
  background-color: #FFF;
}
body.tg_pia-SP #tg_pia-menunavi .tg_pia-menu-cell.tg_pia-ut__focus > .tg_pia-ut__listprt {
  border-top: 2px solid #E18A45;
  background-color: #FFF;
  margin-top: 0;
}
body.tg_pia-SP #tg_pia-menunavi .tg_pia-menu-cell.tg_pia-ut__focus.tg_pia-ut__boxhidden > .tg_pia-ut__listprt {
  border-top: 1px solid #F3F2ED;
  border-bottom: 1px solid #ddd;
  background-color: #FFF;
  margin-top: 1px;
}
body.tg_pia-SP #tg_pia-menunavi .tg_pia-menu-cell > ul {
  background: #FFF;
  position: absolute;
  width: 300px;
  top: 60px;
  /* top: 40px; kuro */
  -ms-filter: "alpha( opacity=80 )";
  filter: alpha( opacity=80 );
  opacity: 0.8;
  -webkit-transition:opacity 0.2s ease-in-out;
  -moz-transition:opacity 0.2s ease-in-out;
  -o-transition:opacity 0.2s ease-in-out;
  transition:opacity 0.2s ease-in-out;
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
  cursor: default;
}
body.tg_pia-SP #tg_pia-gheader.tg_pia-ut__fixed #tg_pia-menunavi .tg_pia-menu-cell > ul {
  top: 56px;
}
body.tg_pia-SP #tg_pia-menunavi .tg_pia-menu-cell.tg_pia-ut__focus > ul {
  height: auto !important;
  -ms-filter: "alpha( opacity=100 )";
  filter: alpha( opacity=100 );
  opacity: 1.0;
  box-shadow:rgba(184, 184, 184, 0.701961) 0px 0px 10px 0px;
  -webkit-box-shadow:rgba(184, 184, 184, 0.701961) 0px 0px 10px 0px;
  -moz-box-shadow:rgba(184, 184, 184, 0.701961) 0px 0px 10px 0px;
  box-shadow:rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
  -webkit-box-shadow:rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
  -moz-box-shadow:rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
}
body.tg_pia-SP #tg_pia-menunavi .tg_pia-menu-cell > ul > li {
  width: 50%;
  display: table;
  float: left;
  position: relative;
  border-bottom: 1px solid #DDD;
  border-right: 1px solid #DDD;
  box-sizing: border-box;
}
body.tg_pia-SP #tg_pia-menunavi .tg_pia-menu-cell > ul > li a {
  color: #000;
  text-decoration: none;
  background: #FFF;
  border: none;
  white-space: normal;
  word-wrap: break-word;
  word-break: break-all;
  line-height: 1.4;
  position: relative;
  height: auto;
  padding: 12px 12px 10px 12px;
  display: table-cell;
  vertical-align:middle;
  font-size: 11px;
}
body.tg_pia-SP #tg_pia-gheader.tg_pia-ut__fixed #tg_pia-menunavi .tg_pia-ut__listsmall .tg_pia-menu-cell > ul > li a {
  line-height: 1.3;
}
body.tg_pia-SP #tg_pia-menunavi .tg_pia-ut__listsmall .tg_pia-menu-cell > ul > li a {
  padding: 8px 12px 6px 12px;
  line-height: 1.3;
}

body.tg_pia-SP #tg_pia-menunavi .tg_pia-menu-cell > ul > li a:hover {
  color: #FFF;
  background: #BBB198;
}
body.tg_pia-SP #tg_pia-menunavi .tg_pia-menu-cell .tg_pia-ut__listeven {
  border-right: none;
  width: 50%;
}
body.tg_pia-SP #tg_pia-menunavi .tg_pia-menu-cell .tg_pia-ut__listlast2,
body.tg_pia-SP #tg_pia-menunavi .tg_pia-menu-cell .tg_pia-ut__listlast2 + li {
  border-bottom: none;
}
body.tg_pia-SP #tg_pia-menunavi .tg_pia-menu-cell .tg_pia-ut__listeven.tg_pia-ut__listlast2 {
  border-bottom: 1px solid #DDD;
}
body.tg_pia-SP #tg_pia-menunavi .tg_pia-menu__prev-next-button {
	position: absolute;
	display: block;
    top: 50%;
    border: none;
    cursor: pointer;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
	display: none;
	width: 20px;
	height: 100%;
	background: #F3F2ED;
	margin: 0;
	padding: 0;
	border: none;
	border-radius: 0;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
body.tg_pia-SP.tg_pia-windowsizeL #tg_pia-menunavi .tg_pia-menu__prev-next-button {display: none;}

body.tg_pia-SP #tg_pia-menunavi .tg_pia-menu__prev-next-button:disabled {display: none;}
body.tg_pia-SP #tg_pia-menunavi .flickity-page-dots {display: none;}

body.tg_pia-SP #tg_pia-menunavi .tg_pia-menu__prev-next-button { width: 20px;height: 100%;background: #F3F2ED;border-radius: 0;outline: none;box-shadow: none !important;}
body.tg_pia-SP #tg_pia-menunavi .tg_pia-menu__prevBtn,
body.tg_pia-SP #tg_pia-menunavi .tg_pia-menu__nextBtn {
  width: 36px;
  height: 59px;
  /* height: 39px; kuro */
  position: absolute;
  top: 0;
  display: block;
  border-radius: 0;
  border-bottom: 1px solid #DDD;
}
body.tg_pia-SP.tg_pia-isAndroid #tg_pia-menunavi .tg_pia-menu__prevBtn,
body.tg_pia-SP.tg_pia-isAndroid #tg_pia-menunavi .tg_pia-menu__nextBtn,
body.tg_pia-SP.tg_pia-isAndroid #tg_pia-gheader.tg_pia-ut__fixed #tg_pia-menunavi .tg_pia-menu__prevBtn,
body.tg_pia-SP.tg_pia-isAndroid #tg_pia-gheader.tg_pia-ut__fixed #tg_pia-menunavi .tg_pia-menu__nextBtn {
  z-index: 30000 !important;
}
body.tg_pia-SP #tg_pia-gheader.tg_pia-ut__fixed #tg_pia-menunavi .tg_pia-menu__prevBtn,
body.tg_pia-SP #tg_pia-gheader.tg_pia-ut__fixed #tg_pia-menunavi .tg_pia-menu__nextBtn {
  height: 56px;
  /* height: 36px; kuro */
}
body.tg_pia-SP #tg_pia-menunavi .tg_pia-menu__prevBtn {
  left: 0;
}
body.tg_pia-SP #tg_pia-menunavi .tg_pia-menu__nextBtn {
  right: 0;
}
body.tg_pia-SP #tg_pia-menunavi .tg_pia-menu__prev-next-button {
  padding: 0;
  width: 36px;
  display: block;
}
body.tg_pia-SP.tg_pia-isAndroid #tg_pia-menunavi .tg_pia-menu__prev-next-button {
  z-index: 30000 !important;
}
body.tg_pia-SP #tg_pia-menunavi .tg_pia-menu__prev-next-button.previous {
  right: 0;
  left: auto;
  background: #F3F2ED url(../images/icon-arrow_l@2x.png) no-repeat 50% 52%;
  background-size: 8px 13px;
}
body.tg_pia-SP #tg_pia-menunavi .tg_pia-menu__prev-next-button.next {
  left: 0;
  right: auto;
  background: #F3F2ED url(../images/icon-arrow_r@2x.png) no-repeat 50% 52%;
  background-size: 8px 13px;
}


/* --------------------
2. footer
-------------------- */
body.tg_pia-SP #tg_pia-gfooter {
	clear: both;
	position: relative;
	display: block;
	background: #F3F2EC;
}
body.tg_pia-SP #tg_pia-gfooter,
body.tg_pia-SP #tg_pia-gfooter a {
	color: #666;
	text-decoration: none;
	font-size: 10px;
}
body.tg_pia-SP #tg_pia-gfooter .tg_pia-wrapper__inner {
	padding: 2.66%;
}
body.tg_pia-SP #tg_pia-gfooter .tg_pia-gfooter__sns {
	position: relative;
	display: block;
	background: #F3F3F3;
	text-align: center;
	line-height: 1;
	padding: 10px 0;
}
body.tg_pia-SP #tg_pia-gfooter .tg_pia-gfooter__sns li {
	width: 50px;
	display: inline-table;
	line-height: 0;
	margin: 0 4px;
}
body.tg_pia-SP #tg_pia-gfooter .tg_pia-gfooter__sns li a {
	display: block;
}
body.tg_pia-SP #tg_pia-gfooter .tg_pia-gfooter__sns li img {
	width: 100%;
}
body.tg_pia-SP #tg_pia-gfooter .tg_pia-gfooter__navi {
	position: relative;
	display: block;
	background: #FFF;
}
body.tg_pia-SP #tg_pia-gfooter .tg_pia-gfooter__navi nav {
	position: relative;
	margin: 8px 0 2px;
}
body.tg_pia-SP #tg_pia-gfooter .tg_pia-gfooter__navi h6 {
	color: #999;
	margin-bottom: 0.6em;
}

body.tg_pia-SP #tg_pia-gfooter .tg_pia-gfooter__navi nav ul {
	position: relative;
	margin-bottom: 1.2em;
}
body.tg_pia-SP #tg_pia-gfooter .tg_pia-gfooter__navi nav ul li {
	display: inline-block;
	letter-spacing: normal;
	margin-bottom: 4px;
}
body.tg_pia-SP #tg_pia-gfooter .tg_pia-gfooter__navi nav ul li:after {
	content: "\7c";
	display: inline-block;
	width: 12px;
	text-align: center;
	vertical-align: top;
}
body.tg_pia-SP #tg_pia-gfooter .tg_pia-gfooter__navi nav ul li:last-child:after {
	content: "";
	display: none;
	width: 0;
}
body.tg_pia-SP #tg_pia-gfooter .tg_pia-gfooter__navi nav ul li a {
	display: inline-block;
	vertical-align: middle;
}
body.tg_pia-SP #tg_pia-gfooter .tg_pia-gfooter__navi > nav {
	border-top: 1px solid #EDEDED;
	margin: 0;
}
body.tg_pia-SP #tg_pia-gfooter .tg_pia-gfooter__navi > nav ul {
	margin: 0;
	padding: 2px 0;
	text-align: center;
}
body.tg_pia-SP #tg_pia-gfooter .tg_pia-gfooter__copyright {
	text-align: center;
	padding: 10px 0;
}
body.tg_pia-SP #tg_pia-gfooter .tg_pia-gfooter__copyright small {
	display: block;
	font-style: normal;
	font-size: 9px;
}
body.tg_pia-SP #tg_pia-gfooter .tg_pia-gfooter__logout .tg_pia-wrapper__inner {padding: 0;}
body.tg_pia-SP #tg_pia-gfooter .tg_pia-gfooter__logout {
	text-align: center;
}
body.tg_pia-SP #tg_pia-gfooter .tg_pia-gfooter__logout a {
	font-size: 11px;
	color: #666;
	background: #FFF;
	height: 28px;
	line-height: 28px;
	padding: 0 16px;
	margin: 10px auto 0;
	border: 1px solid #EDEDED;
	display: inline-block;
}

/*
-- PC/TABLET --
*/
body:not(.tg_pia-SP) #tg_pia-gheader.tg_pia-ut__fixed {
	position: fixed !important;
	top: 0;
	left: 0;
	-webkit-transform-style: preserve-3d;
	-webkit-transform: translate3d(0,0,0);
}
body:not(.tg_pia-SP) #tg_pia-gheader.tg_pia-ut__fixed * {
-webkit-transform-style: preserve-3d;
   -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
     -o-transform-style: preserve-3d;
        transform-style: preserve-3d;
}


body:not(.tg_pia-SP).tg_pia-windowsizeS .tg_pia-wrapper__inner {
  width: 610px;
}
body:not(.tg_pia-SP).tg_pia-windowsizeM .tg_pia-wrapper__inner {
  width: 920px;
}
body:not(.tg_pia-SP).tg_pia-windowsizeL .tg_pia-wrapper__inner {
  width: 1230px;
}
/* login */
body:not(.tg_pia-SP).tg_pia-status-logout .tg_pia-status-logout {
	display: block;
}
body:not(.tg_pia-SP).tg_pia-status-logout .tg_pia-status-login {
	display: none;
}
body:not(.tg_pia-SP).tg_pia-status-login .tg_pia-status-logout {
	display: none;
}
body:not(.tg_pia-SP).tg_pia-status-login .tg_pia-status-login {
	display: block;
}
/* --------------------
0. extraheader
-------------------- */
body:not(.tg_pia-SP) #tg_pia-exheader {
	position: relative;
	display: block;
	width: 100%;
	height: 34px;
	line-height: 34px;
	text-align: center;
}
body:not(.tg_pia-SP) #tg_pia-exheader a {position: relative;color: #FFF;display: block; font-weight: bold; white-space: nowrap;overflow: hidden;text-overflow: ellipsis;-webkit-text-overflow: ellipsis;-o-text-overflow: ellipsis;}
body:not(.tg_pia-SP) #tg_pia-exheader a:hover {text-decoration: none;}

/* --------------------
1. header
-------------------- */
body:not(.tg_pia-SP) #tg_pia-gheader {
	width: 100%;
	position: relative;
	background: #FFF;
	z-index: 10;
	text-align: left;
}
body:not(.tg_pia-SP) #tg_pia-gheader:after {
	content: "";
	display: table;
	clear: both;
}
body:not(.tg_pia-SP) #tg_pia-gheader > .tg_pia-wrapper__inner {
	padding: 8px 10px;
	z-index: 9999;
	-webkit-transition: position 0.2s ease-in-out;
	-moz-transition: position 0.2s ease-in-out;
	-o-transition: position 0.2s ease-in-out;
	transition: position 0.2s ease-in-out;
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
}
body:not(.tg_pia-SP) #tg_pia-gheader.tg_pia-ut__fixed {
	top: 0;
}
body:not(.tg_pia-SP) #tg_pia-gheader.tg_pia-ut__fixed > .tg_pia-wrapper__inner {
	padding: 0 10px;
}
body:not(.tg_pia-SP) .tg_pia-wrapper__inner {
	margin: auto;
	position: relative;
}
body:not(.tg_pia-SP) #tg_pia-gheader #tg_pia-header-logo {
	width: 146px;
	height: 30px;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	margin: auto;
	z-index: 1;
}
body:not(.tg_pia-SP) #tg_pia-gheader.tg_pia-ut__fixed #tg_pia-header-logo {
	width: 116px;
	height: 24px;
}
body:not(.tg_pia-SP) #tg_pia-gheader #tg_pia-header-logo a {
	display: block;
}
body:not(.tg_pia-SP) #tg_pia-gheader #tg_pia-header-logo a img {
	width: 100%;
	display: block;
}
body:not(.tg_pia-SP) #tg_pia-gheader .tg_pia-status-wrpper {
	overflow: hidden;
	position: relative;
}
body:not(.tg_pia-SP).tg_pia-windowsizeS #tg_pia-gheader.tg_pia-ut__fixed .tg_pia-status-wrpper {
	display: none;
}
body:not(.tg_pia-SP) #tg_pia-gheader #tg_pia-header-login {
	width: 400px;
	padding: 0;
	float: right;
	position: relative;
}
body:not(.tg_pia-SP) #tg_pia-gheader #tg_pia-header-login > ul {
	text-align: right;
	letter-spacing: -.30em;
	margin-top: 18px;
	height: 36px;
}
body:not(.tg_pia-SP).tg_pia-windowsizeS #tg_pia-gheader #tg_pia-header-login > ul {
	height: 30px;
}
body:not(.tg_pia-SP) #tg_pia-gheader #tg_pia-header-login > ul {

}
body:not(.tg_pia-SP) #tg_pia-gheader #tg_pia-header-login > ul li {
	display: inline-block;
	letter-spacing: normal;
	border: 1px solid #EDEDED;
	line-height: 28px;
	height: 28px;
	margin-top: 4px;
}
body:not(.tg_pia-SP) #tg_pia-gheader.tg_pia-ut__fixed #tg_pia-header-login > ul li,
body:not(.tg_pia-SP).tg_pia-windowsizeS #tg_pia-gheader #tg_pia-header-login > ul li {
	border: none;
	line-height: 24px;
	height: 24px;
	margin-top: 6px;
}
body:not(.tg_pia-SP) #tg_pia-gheader #tg_pia-header-login > ul li + li {
	margin-left: 10px;
}
body:not(.tg_pia-SP) #tg_pia-gheader.tg_pia-ut__fixed #tg_pia-header-login > ul li + li {
	margin-left: 24px;
}
body:not(.tg_pia-SP) #tg_pia-gheader #tg_pia-header-login > ul li a {
	display: block;
	font-size: 12px;
	text-decoration: none;
	color: #000;
	padding: 0px 12px;
}
body:not(.tg_pia-SP) #tg_pia-gheader.tg_pia-ut__fixed #tg_pia-header-login > ul li a,
body:not(.tg_pia-SP).tg_pia-windowsizeS #tg_pia-gheader #tg_pia-header-login > ul li a {
	padding: 0;
}
body:not(.tg_pia-SP) #tg_pia-gheader #tg_pia-header-login > ul li a:hover {
	background-color: #EDEDED;
}
body:not(.tg_pia-SP) #tg_pia-gheader.tg_pia-ut__fixed #tg_pia-header-login > ul li a:hover {
	-ms-filter: "alpha( opacity=70 )";
	filter: alpha( opacity=70 );
	opacity: 0.7;
	background-color: transparent;
}
body:not(.tg_pia-SP).tg_pia-windowsizeS #tg_pia-gheader #tg_pia-header-login > ul li a:hover {
	-ms-filter: "alpha( opacity=70 )";
	filter: alpha( opacity=70 );
	opacity: 0.7;
	background-color: transparent;
}
/* SUB MENU */
body:not(.tg_pia-SP) #tg_pia-gheader .tg_pia-submenu {
	text-align: right;
	position: absolute;
	z-index: 1;
	top: 6px;
	right: 10px;
	max-width: 400px;
}
body:not(.tg_pia-SP) #tg_pia-gheader.tg_pia-ut__fixed .tg_pia-submenu {
	top: 2px;
}
body:not(.tg_pia-SP).tg_pia-windowsizeS #tg_pia-gheader.tg_pia-ut__fixed .tg_pia-submenu {
	display: none;
}
body:not(.tg_pia-SP) #tg_pia-gheader .tg_pia-submenu > ul {
	text-align: right;
	letter-spacing: -.30em;
	position: relative;
}
body:not(.tg_pia-SP) #tg_pia-gheader .tg_pia-submenu > ul > li {
	position: relative;
	text-align: center;
	display: inline-block;
	letter-spacing: normal;
	text-decoration: none;
	padding: 0;
	font-size: 10px;
	color: #666;
	background: #FFF;
}
body:not(.tg_pia-SP) #tg_pia-gheader .tg_pia-submenu > .tg_pia-status-logout > li:nth-of-type(3) > a {
	background-image: url(//image.pia.jp/uploads5/files/7214/5992/2951/new1.png);
	background-repeat: no-repeat;
	background-position: 0 2px;
	padding-left: 16px;
}
body:not(.tg_pia-SP) #tg_pia-gheader .tg_pia-submenu > ul > li a {
	font-size: 10px;
	color: #666;
	background: #FFF;
	text-decoration: none;
	display: block;
}
body:not(.tg_pia-SP) #tg_pia-gheader .tg_pia-submenu > ul > li > a:hover,
body:not(.tg_pia-SP) #tg_pia-gheader .tg_pia-submenu .tg_pia-menu__dropdown.tg_pia-ut__focus > a {
	-ms-filter: "alpha( opacity=70 )";
	filter: alpha( opacity=70 );
	opacity: 0.7;
}
body:not(.tg_pia-SP) #tg_pia-gheader .tg_pia-submenu > ul > li + li {
	margin-left: 15px;
}
body:not(.tg_pia-SP) #tg_pia-gheader .tg_pia-submenu > ul > li a span {
	color: #FFF;
	background-color: #BBB;
	border-radius: 8px;
	padding: 3px 6px;
	margin-left: 4px;
	letter-spacing: 1px;
	line-height: 1;
}
@media all and (-ms-high-contrast:none){
  body:not(.tg_pia-SP) #tg_pia-gheader .tg_pia-submenu > ul > li a span { padding: 3px 6px 0; } /* IE10 */
}
body:not(.tg_pia-SP) #tg_pia-gheader .tg_pia-submenu .tg_pia-menu__dropdown a {
}
body:not(.tg_pia-SP) #tg_pia-gheader .tg_pia-submenu .tg_pia-menu__dropdown.tg_pia-ut__focus a {
	padding-bottom: 10px;
}
body:not(.tg_pia-SP) #tg_pia-gheader .tg_pia-submenu .tg_pia-menu__dropdown > a:after {
	content: '';
    display: inline-block;
    vertical-align: middle;
    width: 8px;
    height: 8px;
    background: url(../images/icon-arrow_down@2x.png) no-repeat 50% 50%;
    background-size: 8px;
    margin-left: 3px;
    position: relative;
}

body:not(.tg_pia-SP) #tg_pia-gheader .tg_pia-submenu .tg_pia-menu__dropdown > ul {
	position: absolute;
	display: block;
	right: -4px;
	top: 22px;
	z-index: 10000;
	background: #FFF;
	width: 170px;
	text-align: left;
	visibility: hidden;
	-ms-filter: "alpha( opacity=0 )";
	filter: alpha( opacity=0 );
	opacity: 0;
	-webkit-transition: 0.2s ease-in-out;
	-moz-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
	box-shadow:rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
	-webkit-box-shadow:rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
	-moz-box-shadow:rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
}
body:not(.tg_pia-SP) #tg_pia-gheader.tg_pia-ut__fixed .tg_pia-submenu .tg_pia-menu__dropdown > ul {
	top: 22px;
}
body:not(.tg_pia-SP) #tg_pia-gheader .tg_pia-submenu .tg_pia-menu__dropdown.tg_pia-ut__focus > ul {
	visibility: visible;
	-ms-filter: "alpha( opacity=100 )";
	filter: alpha( opacity=100 );
	opacity: 1;
}
body:not(.tg_pia-SP) #tg_pia-gheader .tg_pia-submenu .tg_pia-menu__dropdown > ul li {
	width: 170px;
	display: block;
	position: relative;
	border-top: 1px solid #DDD;
}
body:not(.tg_pia-SP) #tg_pia-gheader .tg_pia-submenu .tg_pia-menu__dropdown > ul li:first-child {
	border-top: 1px solid #EFEFEF;
}
body:not(.tg_pia-SP) #tg_pia-gheader .tg_pia-submenu .tg_pia-menu__dropdown > ul li a {
	color: #000;
	text-decoration: none;
	background: #FFF;
	border: none;
	white-space: normal;
	word-wrap: break-word;
	word-break: break-all;
	line-height: 1.5;
	position: relative;
	display: block;
	padding: 8px 12px 8px 16px;
	font-size: 12px;
	vertical-align: top;
}
body:not(.tg_pia-SP) #tg_pia-gheader .tg_pia-submenu .tg_pia-menu__dropdown > ul li a:hover {
	color: #FFF;
	background: #BBB198;
}

/* .tg_pia-login ログイン時 */
body:not(.tg_pia-SP).tg_pia-status-login #tg_pia-gheader #tg_pia-header-login {
	max-width: 350px;
}
body:not(.tg_pia-SP).tg_pia-status-login #tg_pia-gheader #tg_pia-header-login > ul li {
	vertical-align: top;
	display: inline-block;
}
body:not(.tg_pia-SP).tg_pia-status-login #tg_pia-gheader #tg_pia-header-login > ul li a {
	word-wrap: break-word;
}
body:not(.tg_pia-SP).tg_pia-status-login #tg_pia-gheader #tg_pia-header-login > ul li a span{
	display: inline-block;
	vertical-align: top;
	max-width: 14em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	text-align: center;
}

/* search form */
body:not(.tg_pia-SP) #tg_pia-searchform {
	width: 500px;
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	margin: auto;
}
body:not(.tg_pia-SP).tg_pia-windowsizeM #tg_pia-searchform {
	width: 400px;
	left: 180px;
	right: auto;
}
body:not(.tg_pia-SP).tg_pia-windowsizeS #tg_pia-searchform {
	position: relative;
	border-top: 1px solid #DDD;
	padding: 10px 500% 2px;
	margin: 8px -500% 0;
	left: 55px;
    top: 0;
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
}
body:not(.tg_pia-SP).tg_pia-windowsizeS #tg_pia-gheader.tg_pia-ut__fixed #tg_pia-searchform {
	padding: 8px 500%;
	margin: 0 -500% 0;
}
body:not(.tg_pia-SP).tg_pia-windowsizeM #tg_pia-gheader.tg_pia-ut__fixed #tg_pia-searchform {
	left: 155px;
	right: auto;
}
body:not(.tg_pia-SP).tg_pia-windowsizeS #tg_pia-gheader.tg_pia-ut__fixed #tg_pia-searchform {

}
body:not(.tg_pia-SP) #tg_pia-searchform > .tg_pia-search-frame {

}
body:not(.tg_pia-SP) #tg_pia-searchform > .tg_pia-search-frame .tg_pia-search-text {
	position: relative;
	border: 2px solid #CCC;
	height: 32px;
	display: block;
	overflow: hidden;
	-webkit-transition: 0.2s ease-in-out;
	-moz-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
	overflow:hidden;
}
body:not(.tg_pia-SP) #tg_pia-searchform > .tg_pia-search-frame .tg_pia-search-text > input[type=text] {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	border: none;
	width: 100%;
	height: 100%;
	line-height: 1.4;
	line-height: 1\9;
	overflow: hidden;
	font-weight: normal;
	color: #666;
	padding: 0;
	margin: 0;
	outline: none;
	font-size: 14px;
	padding: 8px 68px 8px 10px;
	position: relative;
	/*background: #FFF url(../images/icon-search.png) no-repeat 98% 50%;*/
	border-radius: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	vertical-align: middle;
}
@media all and (-ms-high-contrast:none){
  body:not(.tg_pia-SP) #tg_pia-searchform > .tg_pia-search-frame .tg_pia-search-text > input[type=text] { line-height: 1; } /* IE */
}
body:not(.tg_pia-SP) #tg_pia-searchform > .tg_pia-search-frame .tg_pia-search-text > input[type=text]::-webkit-input-placeholder {
	color: #666;
}
body:not(.tg_pia-SP) #tg_pia-searchform > .tg_pia-search-frame .tg_pia-search-text > input[type=text]:-ms-input-placeholder {
	color: #666;
}
body:not(.tg_pia-SP) #tg_pia-searchform > .tg_pia-search-frame .tg_pia-search-text > input[type=text]::-moz-placeholder {
	color: #666;
}
body:not(.tg_pia-SP) #tg_pia-searchform > .tg_pia-search-frame .tg_pia-search-text.tg_pia-form-textfocus {
	border: 2px solid #2E66CC;
}
body:not(.tg_pia-SP) #tg_pia-searchform > .tg_pia-search-frame .tg_pia-search-text > input[type=text].tg_pia-form-textfocus,
body:not(.tg_pia-SP) #tg_pia-searchform > .tg_pia-search-frame .tg_pia-search-text > input[type=text].tg_pia-form-textfill {
	color: #000;
	font-size: 14px;
}
body:not(.tg_pia-SP) #tg_pia-searchform > .tg_pia-search-frame .tg_pia-search-text > .tg_pia-search-btn {
	position: absolute;
	z-index: 2;
	top: 0;
	right: -32px;
	width: 0;
	height: 32px;
	-webkit-transition: 0.2s ease-in-out;
	-moz-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
	overflow:hidden;
}
body:not(.tg_pia-SP) #tg_pia-searchform > .tg_pia-search-frame .tg_pia-search-text > input[type=text].tg_pia-form-nowtyping + .tg_pia-search-btn,
body:not(.tg_pia-SP) #tg_pia-searchform > .tg_pia-search-frame .tg_pia-search-text > input[type=text].tg_pia-form-textfill + .tg_pia-search-btn {
	width: auto;
	right: 0;
}
body:not(.tg_pia-SP) #tg_pia-searchform > .tg_pia-search-frame .tg_pia-search-text > .tg_pia-search-btn input[type=submit] {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	outline: none;
	width: 68px;
	height: 32px;
	background-color: #2E66CC;
	border-radius: 0;
	border-style: none;
	border: none;
	color: #FFF;
	text-indent: 3px;
	padding: 0;
	text-align: center;
	font-size: 13px;
	cursor: pointer;
	zoom: 1;
	overflow: hidden;
}
body:not(.tg_pia-SP) #tg_pia-searchform > .tg_pia-search-frame .tg_pia-search-text svg {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 6px;
    right: 6px;
	z-index: 1;
}
body:not(.tg_pia-SP) #tg_pia-searchform > .tg_pia-search-frame .tg_pia-search-text:after {
	content: '';
	width: 32px;
	height: 32px;
	display: block;
	background: #BAB198;
	position: absolute;
	top: 0;
    right: 0;
}
body:not(.tg_pia-SP) #tg_pia-searchform > .tg_pia-search-frame .tg_pia-search-text svg .tg_pia-iconsearch {
	fill: #FFF;
}
body:not(.tg_pia-SP) #tg_pia-searchform > .tg_pia-search-frame .tg_pia-search-text > input[type=text].tg_pia-form-textfocus + .tg_pia-search-btn + svg .tg_pia-iconsearch {
	fill: #2E66CC;
}
body:not(.tg_pia-SP) #tg_pia-searchform > .tg_pia-search-frame .tg_pia-search-text.tg_pia-form-textfocus:after {
	display: none;
}
body:not(.tg_pia-SP) #tg_pia-searchform > .tg_pia-search-frame .tg_pia-search-text > input[type=text].tg_pia-form-textfill + .tg_pia-search-btn + svg,
body:not(.tg_pia-SP) #tg_pia-searchform > .tg_pia-search-frame .tg_pia-search-text > input[type=text].tg_pia-form-nowtyping + .tg_pia-search-btn + svg {
	display: none;
}

/* tg_pia-menunavi */
body:not(.tg_pia-SP) #tg_pia-menunavi {
  width: 100%;
  padding: 0;
  background: #F3F2ED;
  position: relative;
  z-index: 9998 !important;
  display: block;
  height: 44px;
  border-bottom: 1px solid #ddd;
  -webkit-transition: position 0.2s ease-in-out;
  -moz-transition: position 0.2s ease-in-out;
  -o-transition: position 0.2s ease-in-out;
  transition: position 0.2s ease-in-out;
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
}
body:not(.tg_pia-SP) #tg_pia-gheader.tg_pia-ut__fixed #tg_pia-menunavi {
	height: 36px;
}
body:not(.tg_pia-SP) #tg_pia-menunavi .tg_pia-wrapper__inner {padding: 0 10px;overflow: hidden;}
body:not(.tg_pia-SP) #tg_pia-menunavi .tg_pia-menu {
  height: 44px;
  line-height: 44px;
  z-index: auto;
  position: relative;
}
body:not(.tg_pia-SP) #tg_pia-gheader.tg_pia-ut__fixed #tg_pia-menunavi .tg_pia-menu {
  height: 36px;
  line-height: 36px;
}
body:not(.tg_pia-SP) #tg_pia-menunavi .flickity-viewport {
  overflow: visible !important;
  height: auto !important;
  min-height: 44px;
}
body:not(.tg_pia-SP) #tg_pia-gheader.tg_pia-ut__fixed #tg_pia-menunavi .flickity-viewport {
  min-height: 36px;
}

body:not(.tg_pia-SP) #tg_pia-menunavi .tg_pia-menu-cell {
  padding: 0;
  white-space: nowrap;
  float: left;
  display: block;
  top: 0;
}
body:not(.tg_pia-SP) #tg_pia-menunavi .tg_pia-menu-cell > a {
  text-decoration: none;
  color: #636361;
  background: #F3F2ED;
  display: block;
  padding: 0 15px;
  border-top: 2px solid #F3F2ED;
  border-bottom: 1px solid #ddd;
  border-bottom: none\9; /* IE10 */
  height: 42px;
  line-height: 42px;
  font-size: 14px;
}
@media all and (-ms-high-contrast:none){
*::-ms-backdrop, body:not(.tg_pia-SP) #tg_pia-menunavi .tg_pia-menu-cell > a { border-bottom: 1px solid #ddd; /* IE11 */}
}

body:not(.tg_pia-SP) #tg_pia-gheader.tg_pia-ut__fixed #tg_pia-menunavi .tg_pia-menu-cell > a {
  height: 34px;
  line-height: 34px;
}
body:not(.tg_pia-SP) #tg_pia-menunavi .tg_pia-menu .tg_pia-ut__isActive > a {
  border-top: 1px solid #F3F2ED;
  background-color: #FFF;
  margin-top: 1px;
}
body:not(.tg_pia-SP) #tg_pia-menunavi .tg_pia-menu .tg_pia-ut__colorOrange > a {
  color: #E18A45;
}

body:not(.tg_pia-SP) #tg_pia-menunavi .tg_pia-ut__txbold > a {
  font-weight: bold;
}
body:not(.tg_pia-SP) #tg_pia-menunavi .tg_pia-menu-cell.tg_pia-ut__focus > a {
  border-top: 1px solid #F3F2ED;
  background-color: #FFF;
  margin-top: 1px;
}
body:not(.tg_pia-SP) #tg_pia-menunavi .tg_pia-menu-cell.tg_pia-ut__focus > .tg_pia-ut__listprt {
  border-top: 2px solid #E18A45;
  border-bottom: 1px solid #FFF;
  background-color: #FFF;
  margin-top: 0;
  margin-top: 1px\9; /* IE10 */
}
@media all and (-ms-high-contrast:none){
*::-ms-backdrop, body:not(.tg_pia-SP) #tg_pia-menunavi .tg_pia-menu-cell.tg_pia-ut__focus > .tg_pia-ut__listprt { margin-top: 0; /* IE11 */}
}

body:not(.tg_pia-SP) #tg_pia-menunavi .tg_pia-menu-cell.tg_pia-ut__focus.tg_pia-ut__boxhidden > .tg_pia-ut__listprt {
  border-top: 1px solid #F3F2ED;
  border-bottom: 1px solid #ddd;
  background-color: #FFF;
  margin-top: 1px;
}

body:not(.tg_pia-SP) #tg_pia-menunavi .tg_pia-menu-cell > ul {
  background: #FFF;
  position: absolute;
  width: 340px;
  width: 342px\9;
  top: 44px;
  left: 0;
  -ms-filter: "alpha( opacity=80 )";
  filter: alpha( opacity=80 );
  opacity: 0.8;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
  cursor: default;
}

body:not(.tg_pia-SP) #tg_pia-gheader.tg_pia-ut__fixed #tg_pia-menunavi .tg_pia-menu-cell > ul {
  top: 37px;
}
body:not(.tg_pia-SP) #tg_pia-menunavi .tg_pia-menu-cell.tg_pia-ut__focus > ul {
  z-index: -1;
  height: auto !important;
  -ms-filter: "alpha( opacity=100 )";
  filter: alpha( opacity=100 );
  opacity: 1.0;
  box-shadow:rgba(184, 184, 184, 0.701961) 0px 0px 10px 0px;
  -webkit-box-shadow:rgba(184, 184, 184, 0.701961) 0px 0px 10px 0px;
  -moz-box-shadow:rgba(184, 184, 184, 0.701961) 0px 0px 10px 0px;
  box-shadow:rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
  -webkit-box-shadow:rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
  -moz-box-shadow:rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
}
body:not(.tg_pia-SP) #tg_pia-menunavi .tg_pia-menu-cell > .tg_pia-ut__boxright {
  left: auto;
  right: 0;
}
body:not(.tg_pia-SP) #tg_pia-menunavi .tg_pia-menu-cell.tg_pia-ut__focus > .tg_pia-ut__boxhidden {
  height: 0 !important;
  opacity: 0 !important;
  visibility: hidden;
}
body:not(.tg_pia-SP) #tg_pia-menunavi .tg_pia-menu-cell > ul > li {
  width: 170px;
  display: table;
  float: left;
  position: relative;
  border-bottom: 1px solid #DDD;
  border-right: 1px solid #DDD;
}
body:not(.tg_pia-SP) #tg_pia-menunavi .tg_pia-menu-cell > ul > li a {
  color: #000;
  text-decoration: none;
  background: #FFF;
  border: none;
  white-space: normal;
  word-wrap: break-word;
  word-break: break-all;
  line-height: 1.3;
  position: relative;
  height: auto;
  padding: 12px 12px 10px 16px;
  display: table-cell;
  vertical-align:middle;
}
body:not(.tg_pia-SP) #tg_pia-gheader.tg_pia-ut__fixed #tg_pia-menunavi .tg_pia-ut__listsmall .tg_pia-menu-cell > ul > li a {
  line-height: 1.3;
}
body:not(.tg_pia-SP) #tg_pia-menunavi .tg_pia-ut__listsmall .tg_pia-menu-cell > ul > li a {
  padding: 6px 12px 4px 16px;
  line-height: 1.3;
}
body:not(.tg_pia-SP) #tg_pia-menunavi .tg_pia-menu-cell > ul > li a:hover {
  color: #FFF;
  background: #BBB198;
}
body:not(.tg_pia-SP) #tg_pia-menunavi .tg_pia-menu-cell .tg_pia-ut__listeven {
  border-right: none;
  width: 169px;
}
body:not(.tg_pia-SP) #tg_pia-menunavi .tg_pia-menu-cell .tg_pia-ut__listlast2,
body:not(.tg_pia-SP) #tg_pia-menunavi .tg_pia-menu-cell .tg_pia-ut__listlast2 + li {
  border-bottom: none;
}
body:not(.tg_pia-SP) #tg_pia-menunavi .tg_pia-menu-cell .tg_pia-ut__listeven.tg_pia-ut__listlast2 {
  border-bottom: 1px solid #DDD;
}

body:not(.tg_pia-SP) #tg_pia-menunavi .tg_pia-menu-cell.tg_pia-ut__focus {
  z-index: -1;
  background-color: transparent;
}
body:not(.tg_pia-SP) #tg_pia-menunavi .tg_pia-menu-cell.tg_pia-ut__isActive {
  background-color: transparent; 
}

body:not(.tg_pia-SP) #tg_pia-menunavi .tg_pia-menu__prev-next-button {
	position: absolute;
	display: block;
    top: 50%;
    border: none;
    cursor: pointer;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
	display: none;
	width: 20px;
	height: 100%;
	background: #F3F2ED;
	margin: 0;
	padding: 0;
	border: none;
	border-radius: 0;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
body:not(.tg_pia-SP).tg_pia-windowsizeL #tg_pia-menunavi .tg_pia-menu__prev-next-button {display: none;}

body:not(.tg_pia-SP) #tg_pia-menunavi .tg_pia-menu__prev-next-button:disabled {display: none;}
body:not(.tg_pia-SP) #tg_pia-menunavi .flickity-page-dots {display: none;}

body:not(.tg_pia-SP) #tg_pia-menunavi .tg_pia-menu__prev-next-button { width: 20px;height: 100%;background: #F3F2ED;border-radius: 0;outline: none;box-shadow: none !important;}
body:not(.tg_pia-SP) #tg_pia-menunavi .tg_pia-menu__prevBtn,
body:not(.tg_pia-SP) #tg_pia-menunavi .tg_pia-menu__nextBtn {
  width: 40px;
  height: 100%;
  background: #F3F2ED;
  position: absolute;
  top: 0;
  display: block;
  border-radius: 0;
}
body:not(.tg_pia-SP) #tg_pia-menunavi .tg_pia-menu__prev-next-button {
  padding: 0;
  width: 40px;
  display: block;
}
body:not(.tg_pia-SP) #tg_pia-menunavi .tg_pia-menu__prev-next-button:hover {
  -ms-filter: "alpha( opacity=70 )";
  filter: alpha( opacity=70 );
  opacity: 0.7;
}
body:not(.tg_pia-SP) #tg_pia-menunavi .tg_pia-menu__prev-next-button.previous {
  right: 0;
  left: auto;
  background: url(../images/icon-arrow_l@2x.png) no-repeat 50% 50%;
  background-size: 10px 16px;
}
body:not(.tg_pia-SP) #tg_pia-menunavi .tg_pia-menu__prev-next-button.next {
  left: 0;
  right: auto;
  background: url(../images/icon-arrow_r@2x.png) no-repeat 50% 50%;
  background-size: 10px 16px;
}
body:not(.tg_pia-SP).tg_pia-windowsizeL #tg_pia-menunavi .tg_pia-menu__prevBtn,
body:not(.tg_pia-SP).tg_pia-windowsizeL #tg_pia-menunavi .tg_pia-menu__nextBtn {
  display: none;
}
body:not(.tg_pia-SP).tg_pia-windowsizeM #tg_pia-menunavi .tg_pia-menu__prevBtn {
  left: 50%;
  margin-left: -500px;
}
body:not(.tg_pia-SP).tg_pia-windowsizeM #tg_pia-menunavi .tg_pia-menu__nextBtn {
  right: 50%;
  margin-right: -500px;
}
@media only screen and (max-width: 980px) {
	body:not(.tg_pia-SP).tg_pia-windowsizeM #tg_pia-menunavi .tg_pia-wrapper__inner {
	width: 860px;
	}
	body:not(.tg_pia-SP).tg_pia-windowsizeM #tg_pia-menunavi .tg_pia-menu__prevBtn {
	left: 0;
	margin-left: 0;
	}
	body:not(.tg_pia-SP).tg_pia-windowsizeM #tg_pia-menunavi .tg_pia-menu__nextBtn {
	right: 0;
	margin-right: 0;
	}
}
body:not(.tg_pia-SP).tg_pia-windowsizeS #tg_pia-menunavi .tg_pia-menu__prevBtn {
  left: 50%;
  margin-left: -353px;
}
body:not(.tg_pia-SP).tg_pia-windowsizeS #tg_pia-menunavi .tg_pia-menu__nextBtn {
  right: 50%;
  margin-right: -353px;
}
@media only screen and (max-width: 690px) {
	body:not(.tg_pia-SP).tg_pia-windowsizeS #tg_pia-menunavi .tg_pia-wrapper__inner {
	width: 550px;
	}
	body:not(.tg_pia-SP).tg_pia-windowsizeS #tg_pia-menunavi .tg_pia-menu__prevBtn {
	left: 0;
	margin-left: 0;
	}
	body:not(.tg_pia-SP).tg_pia-windowsizeS #tg_pia-menunavi .tg_pia-menu__nextBtn {
	right: 0;
	margin-right: 0;
	}
}


/* --------------------
2. footer
-------------------- */
body:not(.tg_pia-SP) #tg_pia-gfooter {
	clear: both;
	position: relative;
	display: block;
	background: #F3F2EC;
}
body:not(.tg_pia-SP) #tg_pia-gfooter,
body:not(.tg_pia-SP) #tg_pia-gfooter a {
	color: #666;
	text-decoration: none;
	font-size: 11px;
}
body:not(.tg_pia-SP) #tg_pia-gfooter a:hover {
	-ms-filter: "alpha( opacity=70 )";
	filter: alpha( opacity=70 );
	opacity: 0.7;
}
body:not(.tg_pia-SP) #tg_pia-gfooter .tg_pia-wrapper__inner {
	padding: 10px;
}
body:not(.tg_pia-SP) #tg_pia-gfooter .tg_pia-gfooter__sns {
	position: relative;
	display: block;
	background: #F3F3F3;
	text-align: center;
	line-height: 1;
	padding: 5px 0;
}
body:not(.tg_pia-SP) #tg_pia-gfooter .tg_pia-gfooter__sns li {
	width: 36px;
	display: inline-table;
	line-height: 0;
	margin: 0 3px;
}
body:not(.tg_pia-SP) #tg_pia-gfooter .tg_pia-gfooter__sns li a {
	display: block;
}
body:not(.tg_pia-SP) #tg_pia-gfooter .tg_pia-gfooter__sns li img {
	width: 100%;
}
body:not(.tg_pia-SP) #tg_pia-gfooter .tg_pia-gfooter__navi {
	position: relative;
	display: block;
	background: #FFF;
}
body:not(.tg_pia-SP) #tg_pia-gfooter .tg_pia-gfooter__navi nav {
	position: relative;
	margin: 8px 0 2px;
}
body:not(.tg_pia-SP) #tg_pia-gfooter .tg_pia-gfooter__navi h6 {
	position: absolute;
	top: 0;
	padding-right: 20px;
}
body:not(.tg_pia-SP) #tg_pia-gfooter .tg_pia-gfooter__navi nav ul {
	position: relative;
	margin-left: 128px;
}
body:not(.tg_pia-SP) #tg_pia-gfooter .tg_pia-gfooter__navi nav ul li {
	display: inline-block;
	letter-spacing: normal;
	margin-bottom: 2px;
}
body:not(.tg_pia-SP) #tg_pia-gfooter .tg_pia-gfooter__navi nav ul li:before {
	content: "\7c";
	display: inline-block;
	width: 12px;
	text-align: center;
	vertical-align: top;
}
body:not(.tg_pia-SP) #tg_pia-gfooter .tg_pia-gfooter__navi nav ul li:first-child:before {
	content: " ";
	display: none;
	width: 0;
}
body:not(.tg_pia-SP) #tg_pia-gfooter .tg_pia-gfooter__navi nav ul li a {
	display: inline-block;
	vertical-align: middle;
}
body:not(.tg_pia-SP) #tg_pia-gfooter .tg_pia-gfooter__navi > nav {
	border-top: 1px solid #EDEDED;
	margin: 0;
}
body:not(.tg_pia-SP) #tg_pia-gfooter .tg_pia-gfooter__navi > nav ul {
	margin: 0;
	padding: 2px 0;
	text-align: center;
}
body:not(.tg_pia-SP) #tg_pia-gfooter .tg_pia-gfooter__copyright {
	text-align: center;
	padding: 10px 0;
}
body:not(.tg_pia-SP) #tg_pia-gfooter .tg_pia-gfooter__copyright small {
	display: block;
	font-style: normal;
	font-size: 9px;
}
body:not(.tg_pia-SP) #tg_pia-gfooter .tg_pia-gfooter__logout .tg_pia-wrapper__inner {padding: 0;}
body:not(.tg_pia-SP) #tg_pia-gfooter .tg_pia-gfooter__logout {
	text-align: center;
}
body:not(.tg_pia-SP) #tg_pia-gfooter .tg_pia-gfooter__logout a {
	font-size: 11px;
	color: #666;
	background: #FFF;
	height: 28px;
	line-height: 28px;
	padding: 0 16px;
	margin: 10px auto 0;
	border: 1px solid #EDEDED;
	display: inline-block;
}
body:not(.tg_pia-SP) #tg_pia-gfooter .tg_pia-gfooter__logout a:hover {
	background: #EDEDED;
	-ms-filter: "alpha( opacity=100 )";
	filter: alpha( opacity=100 );
	opacity: 1;
}
#tg_pia-gfooter .tg_pia-gfooter__descrip_block {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #F3F3F3;
}
#tg_pia-gfooter .tg_pia-gfooter__descrip_block .tg_pia-gfooter__descrip_text {
    font-weight: bold;
}
/*==========
サジェスト部分
==========*/

.ui-widget {
	width: 100% !important;
	background-color: #fff;
	position: absolute !important;
	top: 100%;
	border: 1px solid #ccc;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	z-index: 9999;
}

.ui-menu-item {
	font-size: 12px;
	line-height: 2.84;
	padding: 0 10px;
	font-weight: bold;
	color: #000 !important;
}

.ui-menu-item:hover {
	border: none !important;
	background-color: #ededed !important;
	cursor: pointer;
}

.uksgst_over {
	border: none !important;
	background-color: #ededed !important;
}

.ui-autocomplete {
	position: relative !important;
	top: 0 !important;
	left: 0 !important;
	background: #FFF;
	border: 1px solid #ccc;
}

#tg_pia-searchform > .tg_pia-search-frame .tg_pia-search-text > input[type=text] {
	color: #AAA;
}

#tg_pia-searchform > .tg_pia-search-frame .tg_pia-search-text {
	z-index: 9999;
}

#tg_pia-searchform .tg_pia-search-frame-autocomplete {
	position: absolute;
	top: 36px;
	left: 0;
	z-index: 5000;
	width: 100%;
	background: transparent;
}
body.tg_pia-SP #tg_pia-searchform .tg_pia-search-frame-autocomplete {
	top: 34px;
}
body.tg_pia-SP #tg_pia-searchform .tg_pia-search-frame-autocomplete .ui-autocomplete {
	margin-right: 1px;
}
.tg_pia-windowsizeL #tg_pia-searchform .tg_pia-search-frame-autocomplete .ui-autocomplete {
	width: 428px !important;
}
.tg_pia-windowsizeM #tg_pia-searchform .tg_pia-search-frame-autocomplete .ui-autocomplete {
	width: 328px !important;
}
.tg_pia-windowsizeS #tg_pia-searchform .tg_pia-search-frame-autocomplete {
	top: 46px;
	left: 50%;
	margin-left: -250px;
}
.tg_pia-windowsizeS #tg_pia-searchform .tg_pia-search-frame-autocomplete .ui-autocomplete {
	width: 428px !important;
}
body.tg_pia-TAB.tg_pia-searchmode__on #tg_pia-searchform .tg_pia-search-frame-autocomplete {
	top: 44px;
}
.tg_pia-windowsizeS #tg_pia-gheader.tg_pia-ut__fixed #tg_pia-searchform .tg_pia-search-frame-autocomplete {
	top: 36px;
	top: 44px\9;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .tg_pia-windowsizeS #tg_pia-gheader.tg_pia-ut__fixed #tg_pia-searchform .tg_pia-search-frame-autocomplete:not(:target) {
    top: 44px;
  }
}
.ui-helper-hidden-accessible {
	display: none;
}

@media only screen and (max-width: 768px) {
	.tg_pia-sp-hide {
		display: none !important;
	}
}

#tg_pia-modalLayer {
	position: fixed;
	background: rgba(0,0,0,0.8) /*#000*/;
	width: 100%;
	height: 100%;
	z-index: 2;
	display: none;
	/*-ms-filter: "alpha( opacity=80 )";
	filter: alpha( opacity=80 );
	opacity: 0.8;*/
	top: 0;
    right: 0;
    bottom: 0;
    left: 0;
	overflow: hidden;
}

#tg_pia-modalLayer:after {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 200px;
	top: 0;
	right: 0;
	left: 0;
	margin: auto;
	background: url(../images/searchmode__close-text.png) no-repeat 50% 50%;
	background-size: 63px 16px;
}

body.tg_pia-SP.tg_pia-searchmode__on,
body.tg_pia-TAB.tg_pia-searchmode__on {
	overflow: hidden;
	width: 100%;
	position: fixed;
}

body.tg_pia-SP.tg_pia-searchmode__on,
body.tg_pia-TAB.tg_pia-searchmode__on {
	overflow: hidden;
	width: 100%;
	position: fixed;
}

body.tg_pia-SP.tg_pia-searchmode__on #tg_pia-modalLayer,
body.tg_pia-TAB.tg_pia-searchmode__on #tg_pia-modalLayer {
	display: block;
}
body.tg_pia-SP.tg_pia-isAndroid_low.tg_pia-searchmode__on #tg_pia-content a {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
body.tg_pia-SP.tg_pia-searchmode__on #tg_pia-gheader *,
body.tg_pia-TAB.tg_pia-searchmode__on #tg_pia-gheader * {

}

body.tg_pia-SP.tg_pia-searchmode__on #tg_pia-gheader,
body.tg_pia-TAB.tg_pia-searchmode__on #tg_pia-gheader {
	position: fixed !important;
	top: 0 !important;
	left: 0 !important;
	z-index: 20000;
}
body.tg_pia-TAB.tg_pia-searchmode__on #tg_pia-gheader > .tg_pia-wrapper__inner {
	padding: 0 10px !important;
}
body.tg_pia-TAB.tg_pia-searchmode__on #tg_pia-gheader #tg_pia-searchform {
    padding: 8px 500% !important;
    margin: 0 -500% 0 !important;
}
body.tg_pia-SP.tg_pia-searchmode__on #tg_pia-gheader .tg_pia-status-wrpper,
body.tg_pia-TAB.tg_pia-searchmode__on #tg_pia-gheader .tg_pia-status-wrpper {
	display: none;
}
body.tg_pia-SP.tg_pia-searchmode__on #tg_pia-gheader .tg_pia-submenu,
body.tg_pia-TAB.tg_pia-searchmode__on #tg_pia-gheader .tg_pia-submenu {
	display: none;
}
body.tg_pia-SP.tg_pia-searchmode__on #tg_pia-gheader .tg_pia-submenu .tg_pia-menu__dropdown.tg_pia-ut__focus > ul,
body.tg_pia-TAB.tg_pia-searchmode__on #tg_pia-gheader .tg_pia-submenu .tg_pia-menu__dropdown.tg_pia-ut__focus > ul {
	display: none;
}
body.tg_pia-SP.tg_pia-searchmode__on #tg_pia-gheader #tg_pia-menunavi,
body.tg_pia-TAB.tg_pia-searchmode__on #tg_pia-gheader #tg_pia-menunavi {
	display: none;
}
