@charset "utf-8";
.tg_pia-content__item-enquete{
    padding: 10px;
}

.tg_pia-content__item-enquete h3 {
    color: #666;
}

#tg_pia-enquete_container {
    font-size: 90%;
}

#tg_pia-enquete_point_logo_pc {
    margin: 5px auto;
}

#tg_pia-closing_enquete_title_pc {
    color: #a9a9a9;
    font-weight: bold;
    margin-top: 5px;
}

.tg_pia-piapoint_enquete_pc {
    overflow: hidden;
    border-bottom: 1px dotted #666;
    padding: 5px 0 5px 5px;
}

#display_all_enquete a {
    float: right;
    text-decoration: underline !important;
}
#display_all_enquete a:hover {
    text-decoration: none !important;
}

body.tg_pia-SP.tg_pia-status-login .enquete-sp-balloon {
  position: relative;
  background: #FFF;
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 5px;
  border: 1px solid #999;
  box-shadow: 0px 0px 0px 0px #999;
}

body.tg_pia-SP.tg_pia-status-login .enquete-sp-balloon-body {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 90%;
}
body.tg_pia-SP #tg_pia-gheader.tg_pia-ut__fixed .enquete-sp-balloon {
  display: none;
}
body.tg_pia-SP.tg_pia-searchmode__on #tg_pia-gheader .enquete-sp-balloon {
  display: none;
}
body.tg_pia-SP.tg_pia-status-logout .enquete-sp-balloon {
  display: none;
}
body:not(.tg_pia-SP) .enquete-sp-balloon {
  display: none;
}

#tg_pia-enquete_point_logo_sp {
    display: inline;
    width: 30px;
    vertical-align: middle;
}

#enquete-sp-balloon-title h3 {
    display: inline;
}

#tg_pia-closing_enquete_title_sp {
  color: #a9a9a9;
  font-weight: bold;
  margin-top: 5px;
}

#tg_pia-closing_enquete_sp {
    border-bottom: 1px dotted #666;
    padding: 5px;
}

.tg_pia_enquete_sp_line {
    overflow: hidden;
    border-bottom: 1px dotted #666;
    padding: 5px 0 5px 5px;
}

.tg_pia-enquete-list_inner .tg_pia_enquete_sp_line:last-child {
    border-bottom: none;
}

.tg_piapoint_enquete_sp_point {
    float: right;
}

.tg_piapoint_enquete_sp_point_title {
    margin-right: 55px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.tg_piapoint_enquete_sp_point_title a {
    color: #000;
}

.tg_pia-closing_enquete_line_sp {
    border-bottom: 1px solid #666;
    margin: 5px 0;
}

#display_all_enquete-sp {
    clear:both;
    margin-top: 10px;
}

#display_all_enquete-sp #display_all_enquete-sp_link {
    color: #000;
    text-decoration: underline !important;
}
#display_all_enquete-sp a:hover {
    text-decoration: none !important;
}
#display_all_enquete-sp{
    text-align: right;
}


#display_all_enquete_link {
    margin-top: 10px;
}

.tg_pia-piapoint_enquete_num {
    float: right;
}

.tg_pia-closing_enquete_line_pc {
    border-bottom: 1px solid #666;
}

.tg_pia-enquete-list_inner .tg_pia-piapoint_enquete_pc:last-child {
    border-bottom: none;
}

.tg_piapoint_enquete_sp_point, .tg_pia-piapoint_enquete_pc .tg_pia-piapoint_enquete_num span {
    color: #FFF;
    background-color: #BBB;
    border-radius: 8px;
    padding: 3px 6px;
    letter-spacing: 1px;
    line-height: 1;
    margin-left: 4px;
    display: inline-block;
}

.tg_pia-piapoint_enquete_title {
    width: 80%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis !important;
    -webkit-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

.float_release{
    clear: both;
}

.tg_pia-piapoint_enquete_pc_fail,
.tg_pia-piapoint_enquete_sp_fail {
    padding: 20px 0;
    font-size: 90%;
}
