@charset "UTF-8";

/*
GLOBAL CLASS

.tg_pia-SP
.tg_pia-TAB =>body:not(.tg_pia-SP)
.tg_pia-PC =>body:not(.tg_pia-SP)
.tg_pia-isIOS
.tg_pia-isAndroid

PC/TAB boxsize Class
.tg_pia-windowsizeS => max-width: 800px (inner-width: 610px)
.tg_pia-windowsizeM => width: 801px - 1249px (inner-width: 940px)
.tg_pia-windowsizeL => min-width: 1250px (inner-width: 1230px)

*/
/*====================
media query list
====================*/
/* 1801px以上の時 @media only screen and (min-width: 112.5625em) {}*/
/* 1220px以下の時 @media only screen and (max-width: 76.25em) {}*/
/* 1001px以上の時 @media only screen and (min-width: 62.5625em) {}*/
/* 1000px以下の時 @media only screen and (max-width: 62.5em) {}*/
/*  981px以上の時 @media only screen and (min-width: 61.3125em) {}*/
/*  980px以下の時 @media only screen and (max-width: 61.25em) {}*/
/*  801px以上の時 @media only screen and (min-width: 50.0625em) {}*/
/*  800px以下の時 @media only screen and (max-width: 50em) {}*/
/*  641px以上の時 @media only screen and (min-width: 40.0625em) {}*/
/*  640px以下の時 @media only screen and (max-width: 40em) {}*/
/*  540px以下の時 @media only screen and (max-width: 33.75em) {}*/

/*
-- COMMON --
*/
html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", sans-serif;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}
section {
  clear: both;
}
.tg_pia-initial {
  background: #F3F3F3;
}

.tg_pia-initial.tg_pia-loadcomp.tg_pia-isAndroid_low {

  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  color: #000;
  overflow: hidden;
  text-align: center;
}
.tg_pia-initial.tg_pia-loadcomp.tg_pia-isAndroid_low:before {
  content: '\0073fe\005728\00304a\005ba2\0069d8\00304c\003054\005229\007528\00306e\0030cd\0030c3\0030c8\0030ef\0030fc\0030af\0074b0\005883\003082\003057\00304f\00306f\0030b5\0030fc\0030d0\0030fc\003078\00306e\0030a2\0030af\0030bb\0030b9\0096c6\004e2d\00306b\003088\00308a\0030b5\0030a4\0030c8\00306b\007e4b\00304c\00308a\00306b\00304f\003044\0072b6\006cc1\003068\00306a\003063\003066\00304a\00308a\00307e\003059\003002\006050\00308c\005165\00308a\00307e\003059\00304c\003001\00901a\004fe1\0074b0\005883\003092\003054\0078ba\008a8d\00306e\003046\003048\00518d\005ea6\0030a2\0030af\0030bb\0030b9\009802\00304f\00304b\003001\003057\003070\003089\00304f\006642\009593\003092\00304a\003044\003066\00304b\003089\00518d\005ea6\0030a2\0030af\0030bb\0030b9\003044\00305f\003060\00304d\00307e\003059\003088\003046\003001\005b9c\003057\00304f\00304a\009858\003044\007533\003057\004e0a\003052\00307e\003059\003002';
  display: block;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #DDD;
  background: #FFF;
  top: 0;
  bottom: 0;
  width: 80%;
  position: relative;
  text-align: left;
   
}
.tg_pia-initial #tg_pia-wrapper {
  visibility: hidden;
}
#tg_pia-content * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
#tg_pia-content a {
  word-wrap: break-word;
  color: #000;
}
#tg_pia-content a:hover {
  text-decoration: none;
}

.tg_pia-searchmode__on #tg_pia-adFloating {
	display: none;
}

/* utility */
.tg_pia-ut__boxfloatL {
  float: left;
}
.tg_pia-ut__colorBlue {
  color: #2C66CC !important;
}
.tg_pia-ut__colorRed {
  color: #FF1919 !important;
}
.tg_pia-ut__colorOrange {
  color: #E48940 !important;
}

/* alert modal */
.Y15-modal__block {
  display: none;
}
.Y15-modal__block.Y15-is-active {
  position: fixed;
  z-index: 10500;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: scroll;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#80000000,EndColorStr=#80000000);
}

.Y15-alert-box {
  width: 500px;
  height: auto;
  margin: 10% auto;
  background-color: #fff;
  position: relative;
  padding-bottom: 20px;
}
body:not(.tg_pia-SP) .Y15-alert-box {
  margin: 2% auto;
}
@media only screen and (max-width: 33.75em) {
  .Y15-alert-box {
    position: relative;
    width: 92%;
    height: auto;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 4%;
    margin-bottom: 100px;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
  }
}

.Y15-alert-box__head-title {
  padding: 15px 35px 15px 20px;
  font-size: 18px;
  line-height: 1.2;
  background-color: #FFEA9F;
  color: #FF8500;
  position: relative;
}

.Y15-alert-box__close-btn {
  position: absolute;
  display: block;
  width: 18px;
  height: 18px;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 13px;
  font-size: 24px;
}
.Y15-alert-box__close-btn:hover {
  cursor: pointer;
}

.Y15-alert-box__description {
  font-size: 12px;
  padding: 20px 30px;
  line-height: 1.5;
}
@media only screen and (max-width: 33.75em) {
  .Y15-alert-box__description {
    padding: 10px 15px;
  }
}

.Y15-alert-box__content {
  padding: 0 30px;
}
@media only screen and (max-width: 33.75em) {
  .Y15-alert-box__content {
    padding: 15px;
  }
}

.Y15-alert-box__content-title {
  color: #3066CC;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.Y15-alert-box__check-btns {
  font-size: 0;
  display: inline-block;
  border: 1px dotted #ccc;
  margin-bottom: 20px;
}

.Y15-alert-box__check-btn {
  display: inline-block;
  font-size: 12px;
  text-align: center;
  line-height: 1.2;
  padding: 13px 0;
  margin: 0 10px;
}
.Y15-alert-box__check-btn:hover {
  cursor: pointer;
}
.Y15-alert-box__check-btn.Y15-is-all-check {
  position: relative;
}
.Y15-alert-box__check-btn.Y15-is-all-check:before {
  content: "";
  background: url("../images/icon-all-check.png") no-repeat;
  background-size: contain;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  width: 15px;
  height: 12px;
}
.Y15-alert-box__check-btn.Y15-is-all-check.x2:before {
  background: url("../images/icon-all-check_x2.png") no-repeat;
  background-size: contain;
}
.Y15-alert-box__check-btn.Y15-is-all-clear {
  position: relative;
}
.Y15-alert-box__check-btn.Y15-is-all-clear:before {
  content: "";
  background: url("../images/icon-all-clear.png") no-repeat;
  background-size: contain;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  width: 15px;
  height: 12px;
}
.Y15-alert-box__check-btn.Y15-is-all-clear.x2:before {
  background: url("../images/icon-all-clear_x2.png") no-repeat;
  background-size: contain;
}

/* .Y15-alert-box-dialog */
.Y15-modal__block .Y15-alert-box-dialog {
  position: absolute;
  z-index: 11000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#80000000,EndColorStr=#80000000);
  display: none;
}
.Y15-modal__block .Y15-alert-box-dialog .Y15-alert-box-dialog-message {
  background-color: #FFF;
  width: 80%;
  margin: 60px auto;
  border: 1px solid #FFF;
}
.Y15-modal__block .Y15-alert-box-dialog .Y15-alert-box-dialog-message .Y15-alert-box-dialog-message-innerbox {
  
}
.Y15-modal__block .Y15-alert-box-dialog .Y15-alert-box-dialog-message .Y15-alert-box-dialog-message-header {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  color: #FFF;
  background-color: #666;
  padding: 15px 20px;
  position: relative;
}
.Y15-modal__block .Y15-alert-box-dialog .Y15-alert-box-dialog-message .Y15-alert-box-dialog-message-body {
  font-size: 12px;
  line-height: 1.5;
  text-align: left;
  color: #000;
  padding: 0 20px;
  margin: 20px auto;
}
.Y15-modal__block .Y15-alert-box-dialog .Y15-alert-box-dialog-message .Y15-alert-box-dialog-message-btn {
  padding: 0 20px;
  margin: 20px auto;
  text-align: center;
}
.Y15-modal__block .Y15-alert-box-dialog .Y15-alert-box-dialog-message .Y15-alert-box-dialog-message-btn span {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  color: #FFF;
  background-color: #666;
  display: inline-block;
  padding: 10px 20px;
  margin: 0 auto;
  border-radius: 3px;
}
.Y15-modal__block .Y15-alert-box-dialog .Y15-alert-box-dialog-message .Y15-alert-box-dialog-message-btn span:hover {
  cursor: pointer;
}
/*  */
.Y15-performance__table {
  font-size: 0;
  max-height: 340px;
  overflow: auto;
  margin-bottom: 10px;
  padding-bottom: 1px;
}
@media only screen and (max-width: 33.75em) {
  .Y15-performance__table {
    max-height: 100%;
  }
}

.Y15-performance__t-row {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-bottom: -1px;
  padding: 20px 0;
  position: relative;
}

.Y15-performance__t-data {
  font-size: 12px;
  display: inline-block;
  vertical-align: middle;
}
.Y15-performance__t-data.Y15-is-checkbox {
  width: 10%;
}
.Y15-performance__t-data.Y15-is-checkbox:nth-child(n) label {
  background: url("../images/icon-checkbox.png") no-repeat left top;
  height: 20px;
  line-height: 20px;
  display: block;
  padding: 0 0 0 15px;
  cursor: pointer;
  overflow: hidden;
}
.Y15-performance__t-data.Y15-is-checkbox:nth-child(n) label.Y15-is-checked {
  background-position: left bottom;
}
.Y15-performance__t-data.Y15-is-checkbox:nth-child(n) input[type="checkbox"] {
  display: none;
}
.Y15-performance__t-data.Y15-is-content {
  width: 90%;
}
.Y15-performance__t-data.Y15-is-content span {
  line-height: 1.6;
}

.Y15-performance__date,
.Y15-performance__place {
  display: block;
}

.Y15-performance__place {
  border-bottom: 1px dotted transparent;
  padding-bottom: 10px;
  transition: all 0.15s linear 0s;
  -webkit-transition: all 0.15s linear 0s;
}

.Y15-performance__moreinfo {
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  display: none;
}

.Y15-performance__loadmore {
  position: absolute;
  right: 0;
  bottom: 5px;
  text-decoration: none;
  background-color: #fff;
}
.Y15-performance__loadmore:before {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-top: 4px solid #999;
  top: 50%;
  margin-top: -4px;
  margin-top: 0;
  left: -15px;
}
.Y15-performance__loadmore:hover {
  cursor: pointer;
}
.Y15-performance__loadmore.Y15-is-active:before {
  border-top-width: 0;
  border-bottom: 4px solid #999;
}

.Y15-performance__submit-btn-outer {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
  text-align: center;
}

.Y15-performance__submit-btn {
  background: #FFEA9F url("../images/Y15-performance__submit-btn-icon.png") 15px center no-repeat;
  color: #FF8500 !important;
  font-size: 14px;
  padding: 15px 30px;
  font-weight: bold;
  position: relative;
  box-shadow: 0 4px 0 #F1CD61;
  line-height: 1.65;
  text-indent: 20px;
  display: inline-block;
  border: medium none;
  border-radius: 3px;
  
}

.Y15-performance__submit-btn:hover {
  box-shadow: none;
  cursor: pointer;
  top: 4px;
}

@media only screen and (max-width: 33.75em) {
  .Y15-performance__submit-btn {
    font-size: 13px;
  }
}
/*  */
.Y15-alert-box__close-text {
  display: none !important;
  position: absolute;
  bottom: -50px;
  left: 0;
  right: 0;
  margin: auto;
  display: none;
}
.Y15-alert-box__close-text:hover {
  cursor: pointer;
}
@media only screen and (max-width: 33.75em) {
  .Y15-alert-box__close-text {
    display: block !important;
  }
}

body {
  -webkit-overflow-scrolling: touch;
}
body.tg_pia-alert-alert-box-opened {
  position: fixed;
  width: 100%;
  overflow-y: scroll;
}
.Y15-modal__block.Y15-is-active {
  overflow: hidden;
  overflow-y: scroll;
}
.Y15-alert-box .Y15-alert-box__content {
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

/* isAndroid- */
body.tg_pia-isAndroid.tg_pia-alert-alert-box-opened {
  position: static;
  width: 100%;
  overflow: hidden;
}
body.tg_pia-isAndroid .Y15-modal__block.Y15-is-active {
  overflow: hidden;
  overflow: auto;
  background-color: #000;
}
body.tg_pia-isAndroid .Y15-performance__table {
  font-size: 0;
  max-height: 100%;
  overflow: hidden;
  margin-bottom: 10px;
}
@media only screen and (max-width: 33.75em) {
  body.tg_pia-isAndroid .Y15-performance__table {
    max-height: 100%;
  }
}
body.tg_pia-isAndroid #Y15-modal-base.Y15-is-active {
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: scroll;
  background-color: #000;
}

/* 800px以下の時 */
@media only screen and (max-width: 50em) {
  body.tg_pia-isAndroid .Y15-cart-mobile{
    display:none;
    width: 500px;
    padding: 0;
    margin: 20px auto;
    position: relative;
  }
  body.tg_pia-isAndroid #Y15-modal-cart-base {
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    background-color: #000;
  }
}

@media only screen and (max-width: 33.75em) {
  body.tg_pia-isAndroid #Y15-modal-base .Y15-modal-stage {
    position: relative;
    width: 92%;
    height: auto;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 4%;
    margin-bottom: 40px;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
  }
  body.tg_pia-isAndroid .Y15-cart-mobile{
    position: relative;
    width: 92%;
    height: auto;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 4%;
    margin-bottom: 40px;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
  }
}
/* -isAndroid */

/* noscript */
#tg_pia-noscript {
    text-align: center;
    color: #e63127;
    background-color: #FDE9E9;
    position: relative;
    z-index: 20000;
	padding: 60px 20px;
}

/*
-- SP --
*/
body.tg_pia-SP #tg_pia-wrapper {
  width: 100%;
  position: relative;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  min-width: 320px;
  background: #F3F3F3;
  overflow: hidden;
}

/* Column Layout */
body.tg_pia-SP #tg_pia-content {
  z-index: 1;
  position: relative;
}
body.tg_pia-SP #tg_pia-content:after {
  content: "";
  display: table;
  clear: both;
}

body.tg_pia-SP #tg_pia-content-main {
}


body.tg_pia-SP #tg_pia-content-sub {

}

/* utility */
body.tg_pia-SP .tg_pia-ut__boxfloatL {
  float: left;
}

/* hover-style */
body.tg_pia-SP #tg_pia-content a {
  text-decoration: none !important;
}
body.tg_pia-SP .tg_pia-ut__hoverCaption .tg_pia-ut__hoverCaptionTxtW,
body.tg_pia-SP .tg_pia-ut__hoverCaption .tg_pia-ut__hoverCaptionTxtB {
  display: none;
}
body.tg_pia-SP .tg_pia-ut__hoverTxtUL a {
  text-decoration: none !important;
}

/* tg_pia-content */
body.tg_pia-SP .tg_pia-content__block {
  position: relative;
  display: block;
}
body.tg_pia-SP .tg_pia-content__block header {
  margin: 0 2.66%;
  padding: 3% 0;
  position: relative;
}
body.tg_pia-SP .tg_pia-content__block header:before {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: #DDD;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
body.tg_pia-SP .tg_pia-content__block header h1 {
  font-size: 13px;
  color: #000;
  background: #F3F3F3;
  padding-right: 5px;
  display: inline-block;
  position: relative;
  z-index: 1;
  line-height: 1;
}
body.tg_pia-SP .tg_pia-content__block.tg_pia-content__catlist h1 {
  font-size: 13px;
  color: #000;
  background: #FFF;
  padding: 0 2.82%;
  display: block;
  position: relative;
  height: 35px;
  line-height: 35px;
  margin: 2.66%;
  border-bottom: 1px solid #DDD;
}
body.tg_pia-SP .tg_pia-content__block.tg_pia-content__catlist h2 {
  clear: both;
  font-size: 11px;
  color: #666;
  padding: 0;
  margin-bottom: 2.8169%;
}
body.tg_pia-SP .tg_pia-content__item {
  display: block;
  position: relative;
  width: 100%;
  margin: 0;
  background: #FFF;
}
body.tg_pia-SP .tg_pia-content__catlist .tg_pia-content__item {
  margin: 0 2.8169% 2.8169% 0;
  width: 31.4554%;
}
body.tg_pia-SP .tg_pia-content__item-full {
  display: block;
  position: relative;
  width: 100%;
  margin-bottom: 2.66%;
  background: #FFF;
  overflow: hidden;
}
body.tg_pia-SP .tg_pia-content__listwrapper .tg_pia-content__item-full {
  width: 100%;
  margin-bottom: 2.66%;
}
body.tg_pia-SP .tg_pia-content__item-half {
  display: block;
  position: relative;
  width: 100%;
  margin-bottom: 2.66%;
  background: #FFF;
  overflow: hidden;
}
body.tg_pia-SP .tg_pia-content__listwrapper {
  margin: 0 2.66%;
  overflow: hidden;
}
body.tg_pia-SP .tg_pia-content__catlist .tg_pia-content__listwrapper + .tg_pia-content__listwrapper {
  margin: 2.66% 2.66% 0;
}
body.tg_pia-SP .tg_pia-content__listwrapper.tg_pia-ut__MasonryBlock {
  margin: 0;
  overflow: hidden;
}
body.tg_pia-SP .tg_pia-content__listwrapper:after {
  content: "";
  display: table;
  clear: both;
}
body.tg_pia-SP .tg_pia-content__morelink {
  display: block;
  text-align: right;
}
body.tg_pia-SP .tg_pia-content__morelink a {
  font-size: 12px;
  color: #666 !important;
  padding: 8px 2.66%;
  display: inline-block;
  position: relative;
}
body.tg_pia-SP .tg_pia-content__morelink a:before {
  content: '';
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-right: 2px;
  background: url("../images/icon-arrow_more@2x.png") no-repeat 50% 50%;
  background-size: 6px 10px;
}
body.tg_pia-SP .tg_pia-content__morelink a:hover {
  text-decoration: underline !important;
}

/* item-box-style */
body.tg_pia-SP .tg_pia-ut__MasonryBlock .tg_pia-content__item {
  float: none;
}
body.tg_pia-SP .tg_pia-ut__inner > a {
  padding: 2.66%;
}
body.tg_pia-SP .tg_pia-ut__boxlink {
  visibility: hidden;
}
body.tg_pia-SP.tg_pia-loadset .tg_pia-ut__boxlink {
  visibility: visible;
}
body.tg_pia-SP .tg_pia-ut__boxlink > a {
  display: block;
  position: relative;
}

body.tg_pia-SP .tg_pia-ut__boxlink > a:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: #F3F3F3;
  -webkit-transition: right 0.3s ease-in-out;
  -moz-transition: right 0.3s ease-in-out;
  -o-transition: right 0.3s ease-in-out;
  transition: right 0.3s ease-in-out;
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
}
body.tg_pia-SP.tg_pia-loadset .tg_pia-ut__boxlink > a:after {
  right: -200%;
}
body.tg_pia-SP.tg_pia-loadcomp .tg_pia-ut__boxlink > a:after {
  display: none;
}
body.tg_pia-SP .tg_pia-ut__adboxlink > a {
  display: block;
  position: relative;
}
body.tg_pia-SP .tg_pia-ut__adboxlink > a img {
  width: 100%;
}
body.tg_pia-SP .tg_pia-ut__bnrboxlink > a {
  display: block;
  position: relative;
}
body.tg_pia-SP .tg_pia-ut__bnrboxlink > a img {
  width: 100%;
}

/* item-powerpush-style */
body.tg_pia-SP .tg_pia-content__item-powerpush figure {
  position: relative;
  width: 45.07%;
  min-height: 225px !important;
  display: block;
}
body.tg_pia-SP .tg_pia-content__item-powerpush figure img  {
  width:auto;
  height:auto;
  max-width:100%;
  max-height:100%;
  vertical-align: middle;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
body.tg_pia-SP .tg_pia-content__item-powerpush figure figcaption {
  width: 121.875%;
  min-height: 225px;
  position: relative;
  margin-left: 100%;
  display: block;
  padding: 10px;
}
body.tg_pia-SP .tg_pia-content__item-powerpush figure figcaption:after {
  content: "";
  display: table;
  clear: both;
}

body.tg_pia-SP .tg_pia-content__item-powerpush figure figcaption h2 {
  font-size: 14px;
  margin-bottom: 10px;
}
body.tg_pia-SP .tg_pia-content__item-powerpush figure figcaption span {
  display: block;
  font-size: 8px;
  color: #777;
  margin-bottom: 10px;
  word-break: break-all;
}
body.tg_pia-SP .tg_pia-content__item-powerpush figure figcaption p {
  font-size: 13px;
  margin-bottom: 10px;
}
body.tg_pia-SP .tg_pia-content__item-powerpush figure figcaption small {
  display: block;
  font-size: 7px;
  color: #777;
  word-break: break-all;
}
body.tg_pia-SP .tg_pia-content__item-powerpush.tg_pia-ut__btnlayer figure figcaption:before {
  content: '';
  display: block;
  width: 1px;
  height: 100%;
  min-height: 195px;
  background-color: transparent;
  float: right;
  margin-right: -1px;
  margin-bottom: -30px;
}
body.tg_pia-SP .tg_pia-content__item-powerpush.tg_pia-ut__btnlayer figure figcaption .tg_pia-ut__btnboxlayer {
  float: right;clear: both;width: 40px;height: 40px;background-color: transparent;
}

/* item-weekendlist-style */
body.tg_pia-SP .tg_pia-content__item-weekendlist {
  
}
body.tg_pia-SP .tg_pia-content__item-weekendlist.tg_pia-content__item-full {
  background-color: transparent;
  margin-bottom: 0;
}
body.tg_pia-SP .tg_pia-content__item-weekendlist > h3 {
  color: #666;
  font-size: 11px;
  margin-bottom: 0.4em;
  padding: 2.8% 2.66%;
}
body.tg_pia-SP .tg_pia-content__item-weekendlist > ul {
  word-break: break-all !important;
  background-color: #FFF;
  padding: 4.2% 2.66%;
  margin-bottom: 3.5%;
  letter-spacing: -.3em;
}
body.tg_pia-SP .tg_pia-content__item-weekendlist > ul li {
  letter-spacing: normal;
  font-size: 12px;
  line-height: 1.4;
  padding: 0;
  margin: 0.9% 1.8% 0.9% 0;
  display: inline-block;
  vertical-align: middle;
  word-break: break-all !important;
}
body.tg_pia-SP .tg_pia-content__item-weekendlist > ul li a {
  word-break: break-all !important;
  background-color: #F3F2EC;
  padding: 4px 8px;
  border-radius: 3px;
  display: block;
}
body.tg_pia-SP .tg_pia-content__item-weekendlist > ul + h3 {
}

/* item-lot-style */
body.tg_pia-SP .tg_pia-content__item-lot {
  border-bottom: 1px solid #EDEDED;
}
body.tg_pia-SP .tg_pia-content__item-lot.tg_pia-ut__imgblock img {
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}
body.tg_pia-SP .tg_pia-content__item-lot.tg_pia-ut__imgfloat img {
  display: inline-block;
  width: 50%;
  float: left;
  margin-bottom: 10px;
  margin-right: 16px;
}
body.tg_pia-SP .tg_pia-content__item-lot figure {
  position: relative;
}
body.tg_pia-SP .tg_pia-content__item-lot figure * {
  word-break: break-all;
}
body.tg_pia-SP .tg_pia-content__item-lot > a > figure:after {
  content: "";
  display: table;
  clear: both;
}
body.tg_pia-SP .tg_pia-content__item-lot:nth-of-type(-n+99) figure figcaption {
  padding: 0;
  position: relative;
}
body.tg_pia-SP .tg_pia-content__item-lot:nth-child(-n+99).tg_pia-ut__btnlayer figcaption:before {
  content: '';
  display: block;
  width: 1px;
  height: 100%;
  background-color: transparent;
  float: right;
  margin-right: -1px;
  margin-bottom: -40px;
}
body.tg_pia-SP .tg_pia-content__item-lot:nth-child(-n+99).tg_pia-ut__btnlayer figure .tg_pia-ut__btnboxlayer {
  float: right;clear: both;width: 40px;height: 40px;background-color: transparent;
}

body.tg_pia-SP .tg_pia-content__item-lot figure figcaption h2 {
  font-size: 13px;
  margin-bottom: 4px;
}
body.tg_pia-SP .tg_pia-content__item-lot figure figcaption span {
  display: block;
  font-size: 8px;
  color: #777;
  margin-bottom: 8px;
}
body.tg_pia-SP .tg_pia-content__item-lot figure figcaption p {
  font-size: 13px;
  margin-bottom: 6px;
}
body.tg_pia-SP .tg_pia-content__item-lot figure figcaption small {
  display: block;
  font-size: 7px;
  color: #777;
  word-break: break-all;
}
body.tg_pia-SP .tg_pia-content__item-lot:nth-of-type(n+100) figure {
  position: relative;
  width: 22.535%;
  min-height: 80px;
  display: block;
}
body.tg_pia-SP .tg_pia-content__item-lot:nth-of-type(n+100) figure img  {
  width:auto;
  height:auto;
  max-width:100%;
  max-height:80px;
  vertical-align: middle;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  float: none;
}
body.tg_pia-SP .tg_pia-content__item-lot:nth-of-type(n+100) figure figcaption {
  width: 343.754%;
  min-height: 80px;
  position: relative;
  margin-left: 100%;
  display: block;
  padding: 0 0 0 10px;
}
body.tg_pia-SP .tg_pia-content__item-lot:nth-child(n+100).tg_pia-ut__btnlayer figure .tg_pia-ut__btnboxlayer {
  float: right;clear: both;width: 40px;height: 40px;background-color: transparent;
}

/*@media only screen and (orientation:landscape) {*/
body.tg_pia-SP .tg_pia-content__item-lot:nth-child(-n+99).tg_pia-ut__imgfloat-imgL.tg_pia-ut__btnlayer figure .tg_pia-ut__btnboxlayer {
  margin-top: -14%;
}

/*}*/


/* item-smalllot-style */
body.tg_pia-SP .tg_pia-content__item-banner + .tg_pia-content__item-smalllot {
  margin-top: 20px;
}
body.tg_pia-SP .tg_pia-content__item-smalllot {
  overflow: hidden;
  margin-bottom: 5px;
  padding: 0 2.66%;
  background: transparent;
}
body.tg_pia-SP .tg_pia-content__item-smalllot > a {
  background: #FFF;
}
body.tg_pia-SP .tg_pia-content__item-smalllot figure {
  position: relative;
  width: 18%;
  min-height: 60px;
  display: block;
}
body.tg_pia-SP .tg_pia-content__item-smalllot figure img  {
  width:auto;
  height:auto;
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
body.tg_pia-SP .tg_pia-content__item-smalllot figure figcaption {
  width: 450%;
  min-height: 60px;
  position: relative;
  top: 0;
  margin-left: 100%;
  display: block;
  padding: 0 0 0 10px;
}
body.tg_pia-SP .tg_pia-content__item-smalllot figure figcaption h2 {
  font-size: 11px;
  margin-bottom: 4px;
  font-weight: bold;
}
body.tg_pia-SP .tg_pia-content__item-smalllot figure figcaption p {
  font-size: 10px;
  color: #777;
  margin-bottom: 0;
}

/* item-catlist-style */
body.tg_pia-SP .tg_pia-content__item-catlist {
  overflow: hidden;
  float: left;
}
body.tg_pia-SP .tg_pia-content__item-catlist:before {

}
body.tg_pia-SP .tg_pia-content__item-catlist:nth-of-type(3n) {
  margin-right: 0;
}
body.tg_pia-SP .tg_pia-content__item-catlist:nth-of-type(3n):before {

}
body.tg_pia-SP .tg_pia-content__item-catlist:after {

}
body.tg_pia-SP .tg_pia-content__item-catlist > a {
  padding: 9.009%;
}
body.tg_pia-SP .tg_pia-content__item-catlist figure {
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  display: block;
}
body.tg_pia-SP .tg_pia-content__item-catlist figure:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  padding-top: 100%;
  width: 1px;
  margin-left: -1px;
  position: relative;
}
body.tg_pia-SP .tg_pia-content__item-catlist figure img  {
  width:auto;
  height:auto;
  max-width:90%;
  display: inline-block;
  vertical-align: middle;
}
@media only screen and (min-width: 569px) {
	body.tg_pia-SP .tg_pia-content__item-catlist figure:before {
	padding-top: 80%;
	}
	body.tg_pia-SP .tg_pia-content__item-catlist figure img  {
	max-height:130px;
	}
}
@media screen and (max-width: 568px) and (min-width: 376px) {
	body.tg_pia-SP .tg_pia-content__item-catlist figure img  {
	max-height:100px;
	}
}
@media only screen and (max-width: 375px) {
	body.tg_pia-SP .tg_pia-content__item-catlist figure img  {
	max-height:90px;
	}
}
@media only screen and (max-width: 320px) {
	body.tg_pia-SP .tg_pia-content__item-catlist figure img  {
	max-height:78px;
	}
}
body.tg_pia-SP .tg_pia-content__item-catlist figure figcaption {
  position: relative;
  word-wrap: break-word;
  padding: 10px 0 0 0;
}
body.tg_pia-SP .tg_pia-content__item-catlist figure figcaption h3 {
  font-size: 11px;
  word-break: break-all;
  text-align: left;
}


/* item-news-style */
body.tg_pia-SP .tg_pia-content__item-news {
  padding: 0;
  background: transparent;
}
body.tg_pia-SP .tg_pia-content__item-news > h3 {
  color: #666;
  font-size: 11px;
  padding: 4% 2.66%;
}
body.tg_pia-SP .tg_pia-content__item-news > ul {
  background: #FFF;
}
body.tg_pia-SP .tg_pia-content__item-news > ul li {
  border-top: 1px solid #EDEDED;
  font-size: 12px;
  position: relative;
}
body.tg_pia-SP .tg_pia-content__item-news > ul li:first-child {
  border-top: none;
}
body.tg_pia-SP .tg_pia-content__item-news > ul li a {
  display: block;
  padding: 4% 7.5% 4% 2.66%;
}
body.tg_pia-SP .tg_pia-content__item-news > ul li a:after {
  content: '';
  display: block;
  width: 12px;
  height: 20px;
  background: url("../images/icon-arrow_r@2x.png") no-repeat 50% 50%;
  background-size: 6px 10px;
  position: absolute;
  top: 50%;
  right: 2.66%;
  margin-top: -10px;
}

/* item-banner-style */
body.tg_pia-SP .tg_pia-RectangleAd {
  max-width: 300px;
  margin: auto;
  padding: 20px 0;
  background: transparent;
}
body.tg_pia-SP .tg_pia-content__item-banner {
  max-width: 300px;
  margin: 0 auto 10px;
}
body.tg_pia-SP .tg_pia-content__item-banner figcaption {
  padding: 15px;
}
body.tg_pia-SP .tg_pia-content__item-banner figcaption p {
  font-size: 12px;
  line-height: 1.6;
}

/* HTMLBLOCK -HEROVIAUAL- */
body.tg_pia-SP #tg_pia-content__herovisual a {display: block;}


/* BOOKMARK */
body.tg_pia-SP .tg_pia-function__bookmark {
  position: absolute;
  width: 48px;
  height: 48px;
  bottom: 0;
  right: 0;
  z-index: 100;
  visibility: hidden;
  -moz-transform: rotateX(90deg);
  -webkit-transform: rotateX(90deg);
  -o-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -moz-transition: -moz-transform 0.2s ease-in-out;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  -o-transition: -o-transform 0.2s ease-in-out;
  -ms-transition: -ms-transform 0.2s ease-in-out; 
  transition: transform 0.2s ease-in-out;
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
}
body.tg_pia-SP .tg_pia-content__item-lot:nth-of-type(n+100) .tg_pia-function__bookmark {
  top: 0;
  bottom: auto;
}
body.tg_pia-SP.tg_pia-loadcomp .tg_pia-function__bookmark {
  visibility: visible;
  -moz-transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
body.tg_pia-SP .tg_pia-function__bookmark .tg_pia-function__alertBtn,
body.tg_pia-SP .tg_pia-function__bookmark .tg_pia-function__favoriteBtn {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
body.tg_pia-SP .tg_pia-function__bookmark .tg_pia-function__alertBtn img {
  position: absolute;
  width: 30px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
body.tg_pia-SP .tg_pia-function__bookmark .tg_pia-function__favoriteBtn img {
  position: absolute;
  width: 26px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
body.tg_pia-SP .tg_pia-function__bookmark .tg_pia-function__favoriteBtn img + img {
  display: none;
}
body.tg_pia-SP .tg_pia-function__bookmark .tg_pia-function__favoriteBtn.tg_pia-ut__isSubmitted img {
  display: none;
}
body.tg_pia-SP .tg_pia-function__bookmark .tg_pia-function__favoriteBtn.tg_pia-ut__isSubmitted img + img {
  display: block;
}

body.tg_pia-SP .tg_pia-function__bookmark .tg_pia-favoriteBox {
  position: absolute;
  bottom: 90%;
  right: 4px;
  width: 300px;
  border: 2px solid #F95E77;
  background-color: #fff;
  display: block;
  z-index: 9999;
  cursor: default;
  visibility: hidden;
}
body:not(.tg_pia-isAndroid) .tg_pia-function__bookmark .tg_pia-favoriteBox {
  -moz-transition:bottom 0.2s ease-in-out;
  -webkit-transition:bottom 0.2s ease-in-out;
  -o-transition:bottom 0.2s ease-in-out;
  -ms-transform:bottom 0.2s ease-in-out;
  transition:bottom 0.2s ease-in-out;
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
}

body.tg_pia-SP .tg_pia-function__bookmark .tg_pia-ut__isCompleted + .tg_pia-favoriteBox {
  width: 150px;
  min-width: 0 !important;
  padding: 0 10px;
  right: 4px;
  left: auto !important;
}
body.tg_pia-SP .tg_pia-function__bookmark .tg_pia-ut__isSubmitted + .tg_pia-favoriteBox { 
  width: 150px;
  min-width: 0 !important;
  padding: 0 10px;
  border: 2px solid #999;
}
body.tg_pia-SP .tg_pia-function__bookmark .tg_pia-ut__isSubmitted + .tg_pia-favoriteBox .tg_pia-favoriteBox__text {
  color: #999;
}
body.tg_pia-SP .tg_pia-function__bookmark .tg_pia-favoriteBox__head-title {
  font-size: 14px;
  color: #fff;
  text-align: center;
  background-color: #F95E77;
  padding: 10px 0;
  margin-bottom: 16px;
  position: relative;
}
body.tg_pia-SP .tg_pia-function__bookmark .tg_pia-favoriteBox__close-btn {
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  margin: auto !important;
  width: 17px !important;
}
body.tg_pia-SP .tg_pia-function__bookmark .tg_pia-favoriteBox__close-btn:hover {
  cursor: pointer;
}
body.tg_pia-SP .tg_pia-function__bookmark .tg_pia-favoriteBox__content {
  text-align: center;
  font-size: 0;
}
body.tg_pia-SP .tg_pia-function__bookmark .tg_pia-favoriteBox__btn {
  display: inline-block;
  text-align: center;
  font-size: 12px;
  width: 120px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  text-decoration: none;
}
body.tg_pia-SP .tg_pia-function__bookmark .tg_pia-favoriteBox__btn:hover {
  background: transparent !important;
}
body.tg_pia-SP .tg_pia-function__bookmark .tg_pia-favoriteBox__text {
  font-size: 12px;
  color: #F95E77;
  margin: 14px auto;
}
body.tg_pia-SP .tg_pia-function__bookmark .tg_pia-ut__isFavorite .tg_pia-function__favoriteBtn {
  display: inline-block;
}
body.tg_pia-SP .tg_pia-function__bookmark .tg_pia-ut__isActive.tg_pia-function__favoriteBtn:before {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top: 10px solid #F95E77;
  margin-top: -10px;
  top: 0;
  right: 14px;
  margin-top: auto;
  z-index: 500;
}
body.tg_pia-SP .tg_pia-function__bookmark .tg_pia-ut__isActive.tg_pia-function__favoriteBtn:after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top: 10px solid #fff;
  margin-top: -10px;
  top: -3px;
  right: 14px;
  margin-top: auto;
  margin-bottom: 3px;
  z-index: 10000;
}
body.tg_pia-SP .tg_pia-function__bookmark .tg_pia-ut__isActive.tg_pia-function__favoriteBtn.tg_pia-ut__isSubmitted:before {
  border-top: 10px solid #999;
}
body.tg_pia-SP .tg_pia-function__bookmark .tg_pia-ut__isActive + .tg_pia-favoriteBox {
  visibility: visible;
  bottom: 100%;
}

/* SERVICE BANNER */
body.tg_pia-SP #tg_pia-extracontents {
  clear: both;
  position: relative;
  padding: 24px 0 20px;
}
body.tg_pia-SP #tg_pia-extracontents .tg_pia-servicenavi ul {
  height: 60px;
  z-index: auto;
  position: relative;
  overflow: hidden;
}
body.tg_pia-SP #tg_pia-extracontents .tg_pia-servicenavi ul:after {
  content: "";
  display: table;
  clear: both;
}
body.tg_pia-SP #tg_pia-extracontents .tg_pia-servicenavi li {
  float: left;
}
body.tg_pia-SP #tg_pia-extracontents .tg_pia-servicenavi li a {
  text-decoration: none;
  display: block;
  padding: 0 5px;
  height: 60px;
}
body.tg_pia-SP #tg_pia-extracontents .tg_pia-servicenavi li a img {
  height: 60px;
}

body.tg_pia-SP #tg_pia-extracontents .tg_pia-servicenavi .tg_pia-menu__prev-next-button {
  position: absolute;
  display: block;
  top: 50%;
  border: none;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: none;
  width: 20px;
  height: 100%;
  background: #F3F2ED;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
body.tg_pia-SP #tg_pia-extracontents .tg_pia-servicenavi .tg_pia-menu__prev-next-button:disabled {display: none;}
body.tg_pia-SP #tg_pia-extracontents .tg_pia-servicenavi .flickity-page-dots {display: none;}

body.tg_pia-SP #tg_pia-extracontents .tg_pia-servicenavi .tg_pia-menu__prev-next-button { width: 20px;height: 100%;background: #F3F2ED;border-radius: 0;outline: none;box-shadow: none !important;}
body.tg_pia-SP #tg_pia-extracontents .tg_pia-servicenavi .tg_pia-menu__prevBtn,
body.tg_pia-SP #tg_pia-extracontents .tg_pia-servicenavi .tg_pia-menu__nextBtn {
  width: 30px;
  height: 100%;
  background: #F3F3F3;
  position: absolute;
  top: 0;
  display: block;
  border-radius: 0;
}
body.tg_pia-SP #tg_pia-extracontents .tg_pia-servicenavi .tg_pia-menu__prevBtn {
  left: 0;
}
body.tg_pia-SP #tg_pia-extracontents .tg_pia-servicenavi .tg_pia-menu__nextBtn {
  right: 0;
}
body.tg_pia-SP #tg_pia-extracontents .tg_pia-servicenavi .tg_pia-menu__prev-next-button {
  padding: 0;
  width: 30px;
  display: block;
}
body.tg_pia-SP #tg_pia-extracontents .tg_pia-servicenavi .tg_pia-menu__prev-next-button.previous {
  right: 0;
  left: auto;
  background: url("../images/icon-arrow_l@2x.png") no-repeat 50% 50%;
  background-size: 8px 13px;
}
body.tg_pia-SP #tg_pia-extracontents .tg_pia-servicenavi .tg_pia-menu__prev-next-button.next {
  left: 0;
  right: auto;
  background: url("../images/icon-arrow_r@2x.png") no-repeat 50% 50%;
  background-size: 8px 13px;
}

/* BREADCRAMB */
body.tg_pia-SP .tg_pia-breadcramb {
  clear: both;
}
body.tg_pia-SP .tg_pia-breadcramb ul {
  padding: 0 2.66%;
}
body.tg_pia-SP .tg_pia-breadcramb ul li {
  display: inline-block;
  vertical-align: top;
  font-size: 10px;
  font-weight: bold;
  word-break: break-all;
  position: relative;
  margin-bottom: 0.6em;
}
body.tg_pia-SP .tg_pia-breadcramb ul li + li {
  padding-left: 16px;
}
body.tg_pia-SP .tg_pia-breadcramb ul li + li:before {
  content: '';
  width: 16px;
  height: 16px;
  position: absolute;
  left: 0;
  background: url("../images/icon-arrow_breadcramb@2x.png") no-repeat 50% 50%;
  background-size: 5px 8px;
  text-align: center;
}
body.tg_pia-SP .tg_pia-breadcramb ul li.tg_pia-ut__isCurrent {
  font-weight: bold;
}
body.tg_pia-SP #tg_pia-content .tg_pia-breadcramb ul li a {
  text-decoration: underline !important;
  font-size: 10px;
  font-weight: normal;
}

/* FLOATING AD */
body.tg_pia-SP #tg_pia-adFloating {
  position: fixed;
  z-index: 9998;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  background: rgba(0,0,0,.7);
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
}
body.tg_pia-SP #tg_pia-adFloating .tg_pia-wrapper__inner {
  padding-top: 20.3125%;
}
body.tg_pia-SP #tg_pia-adFloating .tg_pia-adFloating__SP {
  position: absolute;
  top: 0;
}
body.tg_pia-SP.tg_pia-isAndroid #tg_pia-adFloating .tg_pia-adFloating__SP {
  width: 100%;
}
body.tg_pia-SP #tg_pia-adFloating .tg_pia-adFloating__PC {
  display: none;
}
body.tg_pia-SP #tg_pia-adFloating a {
  display: block;
}
body.tg_pia-SP #tg_pia-adFloating a img {
  width: 100%;
}
body.tg_pia-SP #tg_pia-adFloating .tg_pia-adFloating__closeBtn {
  width: 28px;
  height: 28px;
  position: absolute;
  top: -28px;
  right: 2.66%;
  background: url("../images/btn-close_@2x.png") no-repeat 50% 50%;
  background-size: 12px;
  background-color: rgba(0,0,0,.7);
  cursor: pointer;
}
body.tg_pia-SP #tg_pia-adFloating.tg_pia-ut__adClose .tg_pia-adFloating__closeBtn {
  display: none;
}
body.tg_pia-SP #tg_pia-adFloating.tg_pia-ut__adClose {
  height: 0;
  display: none;
}

body.tg_pia-SP #tg_pia-adFloating + #tg_pia-gfooter {
  padding-bottom: 20.3125%;
}

body.tg_pia-SP #tg_pia-adFloating.tg_pia-ut__adClose + #tg_pia-gfooter {
  padding-bottom: 0 !important;
}

@media only screen and (orientation:landscape) {
body.tg_pia-SP #tg_pia-adFloating .tg_pia-wrapper__inner {
  max-width: 320px;
  padding-top: 10.15625%;
}
body.tg_pia-SP #tg_pia-adFloating .tg_pia-adFloating__SP {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}
body.tg_pia-SP #tg_pia-adFloating a {
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  display: table;
}
body.tg_pia-SP #tg_pia-adFloating a img {
  display: table-cell;
}
}

/*
-- PC/TAB --
*/
body:not(.tg_pia-SP) #tg_pia-wrapper {
  width: 100%;
  position: relative;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  background: #F3F3F3;
  overflow: hidden;
}
body.tg_pia-PC #tg_pia-wrapper,
body.tg_pia-TAB #tg_pia-wrapper {
  min-width: 630px;
}
body:not(.tg_pia-SP).tg_pia-windowsizeS #tg_pia-wrapper {
  min-width: 630px;
}
body:not(.tg_pia-SP).tg_pia-windowsizeM #tg_pia-wrapper {
  min-width: 940px;
}
body:not(.tg_pia-SP).tg_pia-windowsizeS .tg_pia-wrapper__inner {
  width: 610px;
}
body:not(.tg_pia-SP).tg_pia-windowsizeM .tg_pia-wrapper__inner {
  width: 920px;
}
body:not(.tg_pia-SP).tg_pia-windowsizeL .tg_pia-wrapper__inner {
  width: 1230px;
}


/* Column Layout */
body:not(.tg_pia-SP) #tg_pia-gheader {
  
}
body:not(.tg_pia-SP) #tg_pia-content {
  z-index: 1;
  padding-bottom: 320px;
  margin: 20px auto 0;
  position: relative;
  padding: 0 10px;

}
body:not(.tg_pia-SP) #tg_pia-content:after {
  content: "";
  display: table;
  clear: both;
}
body:not(.tg_pia-SP) #tg_pia-content-main {
  float: left;
}
body:not(.tg_pia-SP).tg_pia-windowsizeS #tg_pia-content-main {
  width: 610px;
  float: none;
}
body:not(.tg_pia-SP).tg_pia-windowsizeM #tg_pia-content-main {
  width: 610px;
}
body:not(.tg_pia-SP).tg_pia-windowsizeL #tg_pia-content-main {
  width: 920px;
}

body:not(.tg_pia-SP) #tg_pia-content-sub {
  width: 300px;
  float: right;
}
body:not(.tg_pia-SP).tg_pia-windowsizeS #tg_pia-content-sub {
  width: 610px;
  float: none;
  margin-top: 36px;
}

/* utility */
body:not(.tg_pia-SP) .tg_pia-ut__boxfloatL {
  float: left;
}

/* hover-style */
body:not(.tg_pia-SP) #tg_pia-content a {
  text-decoration: none;
}
body:not(.tg_pia-SP) .tg_pia-ut__hoveropacity a {
  -webkit-transition:opacity 0.2s ease-in-out;
  -moz-transition:opacity 0.2s ease-in-out;
  -o-transition:opacity 0.2s ease-in-out;
  transition:opacity 0.2s ease-in-out;
  -webkit-backface-visibility: hidden;
}
body:not(.tg_pia-SP) .tg_pia-ut__hoveropacity a:hover {
  -ms-filter: "alpha( opacity=70 )";
  filter: alpha( opacity=70 );
  opacity: 0.7;
}

body:not(.tg_pia-SP) .tg_pia-ut__hoverBgColorLight a:hover {
  background: #FBF9E2;
}
body:not(.tg_pia-SP) .tg_pia-ut__hoverBgColorLight a:hover h2,
body:not(.tg_pia-SP) .tg_pia-ut__hoverBgColorLight a:hover p {
  text-decoration: underline !important;
}

body:not(.tg_pia-SP) .tg_pia-ut__hoverBgColorDark a:hover {
  background: #EDEDED;
}
body:not(.tg_pia-SP) .tg_pia-ut__hoverBgColorDark a:hover h2,
body:not(.tg_pia-SP) .tg_pia-ut__hoverBgColorDark a:hover p {
  text-decoration: underline !important;
}

body:not(.tg_pia-SP) .tg_pia-ut__hoverBorderB a:before {
  content: "";
  display: block;
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: auto;
  height: auto;
  border: 0px solid #000;
  -ms-filter: "alpha( opacity=40 )";
  filter: alpha( opacity=40 );
  opacity: 0.4;
  -webkit-transition:border 0.1s ease-in-out;
  -moz-transition:border 0.1s ease-in-out;
  -o-transition:border 0.1s ease-in-out;
  transition:border 0.1s ease-in-out;
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
}
body:not(.tg_pia-SP) .tg_pia-ut__hoverBorderB a:hover:before {
  border: 12px solid #000;
}

body:not(.tg_pia-SP) .tg_pia-ut__hoverBorderW a:before {
  content: "";
  display: block;
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: auto;
  height: auto;
  border: 0px solid #FFF;
  -ms-filter: "alpha( opacity=40 )";
  filter: alpha( opacity=40 );
  opacity: 0.4;
  -webkit-transition:border 0.1s ease-in-out;
  -moz-transition:border 0.1s ease-in-out;
  -o-transition:border 0.1s ease-in-out;
  transition:border 0.1s ease-in-out;
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
}
body:not(.tg_pia-SP) .tg_pia-ut__hoverBorderW a:hover:before {
  border: 12px solid #FFF;
}
body:not(.tg_pia-SP).tg_pia-windowsizeM .tg_pia-ut__hoverBorderB a:hover:before,
body:not(.tg_pia-SP).tg_pia-windowsizeS .tg_pia-ut__hoverBorderB a:hover:before,
body:not(.tg_pia-SP).tg_pia-windowsizeM .tg_pia-ut__hoverBorderW a:hover:before,
body:not(.tg_pia-SP).tg_pia-windowsizeS .tg_pia-ut__hoverBorderW a:hover:before {
  border: 8px solid #000;
}
body:not(.tg_pia-SP) .tg_pia-ut__hoverCaption .tg_pia-ut__hoverCaptionTxtW {
  color: #FFF;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#11000000', endColorstr='#11000000');
  background: rgba(0,0,0,.4);
  display: inline-block;
  padding: 10px 20px;
  position: absolute;
  right: 12px;
  bottom: 12px;
  margin: auto;
  -moz-transform: rotateX(90deg);
  -webkit-transform: rotateX(90deg);
  -o-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -moz-transition: -moz-transform 0.2s ease-in-out;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  -o-transition: -o-transform 0.2s ease-in-out;
  -ms-transition: -ms-transform 0.2s ease-in-out; 
  transition: transform 0.2s ease-in-out;
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
}
body:not(.tg_pia-SP) .tg_pia-ut__hoverCaption .tg_pia-ut__hoverCaptionTxtB {
  color: #000;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#88FFFFFF', endColorstr='#88FFFFFF');
  background: rgba(255,255,255,.4);
  display: inline-block;
  padding: 10px 20px;
  position: absolute;
  right: 12px;
  bottom: 12px;
  margin: auto;
  -moz-transform: rotateX(90deg);
  -webkit-transform: rotateX(90deg);
  -o-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -moz-transition: -moz-transform 0.2s ease-in-out;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  -o-transition: -o-transform 0.2s ease-in-out;
  -ms-transition: -ms-transform 0.2s ease-in-out; 
  transition: transform 0.2s ease-in-out;
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
}
:root body:not(.tg_pia-SP) .tg_pia-ut__hoverCaption .tg_pia-ut__hoverCaptionTxtW,
:root body:not(.tg_pia-SP) .tg_pia-ut__hoverCaption .tg_pia-ut__hoverCaptionTxtB {
  display: none\0/; /*IE*/
}
body:not(.tg_pia-SP).tg_pia-windowsizeM .tg_pia-ut__hoverCaption .tg_pia-ut__hoverCaptionTxtW,
body:not(.tg_pia-SP).tg_pia-windowsizeS .tg_pia-ut__hoverCaption .tg_pia-ut__hoverCaptionTxtW,
body:not(.tg_pia-SP).tg_pia-windowsizeM .tg_pia-ut__hoverCaption .tg_pia-ut__hoverCaptionTxtB,
body:not(.tg_pia-SP).tg_pia-windowsizeS .tg_pia-ut__hoverCaption .tg_pia-ut__hoverCaptionTxtB {
  right: 8px;
  bottom: 8px;
  padding: 8px 10px;
  font-size: 12px;
}
body:not(.tg_pia-SP) .tg_pia-ut__hoverCaption a:hover + .tg_pia-ut__hoverCaptionTxtW,
body:not(.tg_pia-SP) .tg_pia-ut__hoverCaption a:hover + .tg_pia-ut__hoverCaptionTxtB {
  -moz-transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
:root body:not(.tg_pia-SP) .tg_pia-ut__hoverCaption a:hover + .tg_pia-ut__hoverCaptionTxtW,
:root body:not(.tg_pia-SP) .tg_pia-ut__hoverCaption a:hover + .tg_pia-ut__hoverCaptionTxtB {
  display: block\0/; /*IE*/
}
body:not(.tg_pia-SP) .tg_pia-ut__hoverTxtUL a {
  text-decoration: none !important;
}
body:not(.tg_pia-SP) .tg_pia-ut__hoverTxtUL a:hover,
body:not(.tg_pia-SP) .tg_pia-ut__hoverTxtUL a:hover figcaption h2,
body:not(.tg_pia-SP) .tg_pia-ut__hoverTxtUL a:hover figcaption p {
  text-decoration: underline !important;
}

/* tg_pia-content */
body:not(.tg_pia-SP) .tg_pia-content__block {
  position: relative;
  display: block;
}
body:not(.tg_pia-SP) .tg_pia-content__block header {
  padding: 16px 0;
  position: relative;
}
body:not(.tg_pia-SP) .tg_pia-content__block header:before {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: #DDD;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
body:not(.tg_pia-SP) .tg_pia-content__block header h1 {
  font-size: 16px;
  color: #000;
  background: #F3F3F3;
  padding-right: 5px;
  display: inline-block;
  position: relative;
  z-index: 1;
}
body:not(.tg_pia-SP) .tg_pia-content__block.tg_pia-content__catlist h1 {
  font-size: 16px;
  color: #000;
  background: #FFF;
  padding: 0 15px;
  display: block;
  position: relative;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #DDD;
  margin-bottom: 10px;
}
body:not(.tg_pia-SP) .tg_pia-content__block.tg_pia-content__catlist h2 {
  clear: both;
  font-size: 14px;
  color: #666;
  padding: 12px 15px 0;

}
body:not(.tg_pia-SP) .tg_pia-content__item {
  display: block;
  position: relative;
  width: 300px;
  margin: 0 5px 10px;
  background: #FFF;
  overflow: hidden;
}
body:not(.tg_pia-SP) .tg_pia-content__catlist .tg_pia-content__item {
  margin: 0;
  width: 305px;
}
body:not(.tg_pia-SP).tg_pia-windowsizeL .tg_pia-content__catlist .tg_pia-content__item {
  margin: 0;
  width: 307px;
}
body:not(.tg_pia-SP) .tg_pia-content__item-full {
  display: block;
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  background: #FFF;
  overflow: hidden;
}
body:not(.tg_pia-SP) .tg_pia-content__listwrapper .tg_pia-content__item-full {
  width: 920px;
  margin: 0 5px 10px;
}
body:not(.tg_pia-SP).tg_pia-windowsizeM .tg_pia-content__listwrapper .tg_pia-content__item-full,
body:not(.tg_pia-SP).tg_pia-windowsizeS .tg_pia-content__listwrapper .tg_pia-content__item-full {
  width: 610px;
}
body:not(.tg_pia-SP) .tg_pia-content__item-half {
  display: block;
  position: relative;
  width: 455px;
  margin: 0 5px 10px;
  background: #FFF;
  overflow: hidden;
}
body:not(.tg_pia-SP).tg_pia-windowsizeM .tg_pia-content__item-half,
body:not(.tg_pia-SP).tg_pia-windowsizeS .tg_pia-content__item-half {
  width: 610px;
}
body:not(.tg_pia-SP) .tg_pia-content__listwrapper {
  margin: 0 -5px;
  overflow: hidden;
}
body:not(.tg_pia-SP) .tg_pia-content__catlist .tg_pia-content__listwrapper {
  margin: 0 0 20px;
  overflow: hidden;
  position: relative;
}
body:not(.tg_pia-SP) .tg_pia-content__catlist .tg_pia-content__listwrapper + .tg_pia-content__listwrapper {
  margin: -10px 0 20px;
}
body:not(.tg_pia-SP) .tg_pia-content__catlist .tg_pia-content__listwrapper {
  background: #FFF;
}
body:not(.tg_pia-SP) .tg_pia-content__catlist .tg_pia-content__listwrapper:before {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  z-index: 1;
  bottom: 0;
  border-bottom: 1px solid #FFF;
}
body:not(.tg_pia-SP) .tg_pia-content__listwrapper:after {
  content: "";
  display: table;
  clear: both;
}
body:not(.tg_pia-SP) .tg_pia-content__morelink {
  display: block;
  text-align: right;
}
body:not(.tg_pia-SP) .tg_pia-content__morelink a {
  font-size: 14px;
  color: #666 !important;
  padding: 8px 0;
  display: inline-block;
  position: relative;
}
body:not(.tg_pia-SP) .tg_pia-content__morelink a:before {
  content: '';
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-right: 2px;
  background: url("../images/icon-arrow_more@2x.png") no-repeat 50% 50%;
  background-size: 6px 10px;
}
body:not(.tg_pia-SP) .tg_pia-content__morelink a:hover {
  text-decoration: underline !important;
}

/* item-box-style */
body:not(.tg_pia-SP) .tg_pia-ut__MasonryBlock .tg_pia-content__item {
  float: left;
}
body:not(.tg_pia-SP) .tg_pia-ut__inner > a {
  padding: 10px;
}
body:not(.tg_pia-SP) .tg_pia-ut__boxlink {
  overflow: hidden;
  visibility: hidden;
}
body:not(.tg_pia-SP).tg_pia-loadset .tg_pia-ut__boxlink {
  visibility: visible;
}
body:not(.tg_pia-SP) .tg_pia-ut__boxlink > a {
  display: block;
  position: relative;
}

body:not(.tg_pia-SP) .tg_pia-ut__boxlink > a:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: #F3F3F3;
  -webkit-transition: right 0.3s ease-in-out;
  -moz-transition: right 0.3s ease-in-out;
  -o-transition: right 0.3s ease-in-out;
  transition: right 0.3s ease-in-out;
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
}
body:not(.tg_pia-SP) .tg_pia-content__catlist .tg_pia-ut__boxlink > a:after {
  background: #FFF;
}
body:not(.tg_pia-SP).tg_pia-loadset .tg_pia-ut__boxlink > a:after {
  right: -200%;
}
body:not(.tg_pia-SP).tg_pia-loadcomp .tg_pia-ut__boxlink > a:after {
  display: none;
}
body:not(.tg_pia-SP) .tg_pia-ut__adboxlink > a {
  display: block;
  position: relative;
}
body:not(.tg_pia-SP) .tg_pia-ut__bnrboxlink > a {
  display: block;
  position: relative;
}

/* item-powerpush-style */
body:not(.tg_pia-SP).tg_pia-windowsizeL .tg_pia-content__item-half.tg_pia-content__item-powerpush {
  float: left;
}
body:not(.tg_pia-SP) .tg_pia-content__item-powerpush figure {
  position: relative;
  width: 225px;
  max-width: 225px;
  min-height: 225px !important;
  display: block;
}
body:not(.tg_pia-SP) .tg_pia-content__item-powerpush figure img  {
  width:auto;
  height:auto;
  max-width:225px;
  max-height:225px;
  vertical-align: middle;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
body:not(.tg_pia-SP) .tg_pia-content__item-powerpush figure figcaption {
  height: 100%;
  min-height: 225px;
  position: relative;
  left: 240px;
  display: block;
  padding: 18px 0;
}

body:not(.tg_pia-SP) .tg_pia-content__item-powerpush figure figcaption:after {
  content: "";
  display: table;
  clear: both;
}

body:not(.tg_pia-SP) .tg_pia-content__item-half.tg_pia-content__item-powerpush figure figcaption {
  width: 198px;
}
body:not(.tg_pia-SP) .tg_pia-content__item-full.tg_pia-content__item-powerpush figure figcaption {
  width: 662px;
}
body:not(.tg_pia-SP).tg_pia-windowsizeM .tg_pia-content__item-half.tg_pia-content__item-powerpush figure figcaption,
body:not(.tg_pia-SP).tg_pia-windowsizeS .tg_pia-content__item-half.tg_pia-content__item-powerpush figure figcaption,
body:not(.tg_pia-SP).tg_pia-windowsizeM .tg_pia-content__item-full.tg_pia-content__item-powerpush figure figcaption,
body:not(.tg_pia-SP).tg_pia-windowsizeS .tg_pia-content__item-full.tg_pia-content__item-powerpush figure figcaption {
  width: 358px;
}

body:not(.tg_pia-SP) .tg_pia-content__item-powerpush figure figcaption h2 {
  font-size: 18px;
  margin-bottom: 10px;
}
body:not(.tg_pia-SP) .tg_pia-content__item-powerpush figure figcaption span {
  display: block;
  font-size: 10px;
  color: #777;
  margin-bottom: 10px;
}
body:not(.tg_pia-SP) .tg_pia-content__item-powerpush figure figcaption p {
  font-size: 16px;
  margin-bottom: 10px;
}
body:not(.tg_pia-SP) .tg_pia-content__item-powerpush figure figcaption small {
  display: block;
  font-size: 9px;
  color: #777;
  word-break: break-all;
}
body:not(.tg_pia-SP) .tg_pia-content__item-powerpush.tg_pia-ut__btnlayer figure figcaption:before {
  content: '';
  display: block;
  width: 1px;
  height: 100%;
  min-height: 195px;
  background-color: transparent;
  float: right;
  margin-right: -1px;
  margin-bottom: -30px;
}
body:not(.tg_pia-SP).tg_pia-windowsizeL .tg_pia-content__item-powerpush.tg_pia-ut__btnlayer figure figcaption:before {
  min-height: 225px;
}
body:not(.tg_pia-SP) .tg_pia-content__item-powerpush.tg_pia-ut__btnlayer figure figcaption .tg_pia-ut__btnboxlayer {
  float: right;clear: both;width: 30px;height: 30px;background-color: transparent;
}

/* item-weekendlist-style */
body:not(.tg_pia-SP) .tg_pia-content__item-weekendlist {
  padding: 18px 15px;
}
body:not(.tg_pia-SP) .tg_pia-content__item-weekendlist > h3 {
  color: #666;
  font-size: 14px;
  margin-bottom: 0.8em;
}
body:not(.tg_pia-SP) .tg_pia-content__item-weekendlist > ul {
  word-break: break-all !important;
}
body:not(.tg_pia-SP) .tg_pia-content__item-weekendlist > ul li {
  font-size: 13px;
  line-height: 1.6;
  padding: 0 10px 0 0;
  display: inline;
  word-break: break-all !important;
}
body:not(.tg_pia-SP) .tg_pia-content__item-weekendlist > ul li a {
  word-break: break-all !important;
}
body:not(.tg_pia-SP) .tg_pia-content__item-weekendlist > ul + h3 {
  margin-top: 15px;
  padding-top: 18px;
  border-top: 1px dotted #CCC;
}

/* item-lot-style */
body:not(.tg_pia-SP) .tg_pia-content__item-lot.tg_pia-ut__imgblock img {
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}
body:not(.tg_pia-SP) .tg_pia-content__item-lot.tg_pia-ut__imgfloat img {
  display: inline-block;
  width: 50%;
  float: left;
  margin-bottom: 10px;
  margin-right: 16px;
}
body:not(.tg_pia-SP) .tg_pia-content__item-lot figure {
  position: relative;
}
body:not(.tg_pia-SP) .tg_pia-content__item-lot figure * {
  word-break: break-all;
}
body:not(.tg_pia-SP) .tg_pia-content__item-lot > a > figure:after {
  content: "";
  display: table;
  clear: both;
}
body:not(.tg_pia-SP) .tg_pia-content__item-lot figure figcaption {
  padding: 6px 10px;
}
body:not(.tg_pia-SP) .tg_pia-content__item-lot figure figcaption h2 {
  font-size: 14px;
  margin-bottom: 6px;
}
body:not(.tg_pia-SP) .tg_pia-content__item-lot figure figcaption span {
  display: block;
  font-size: 10px;
  color: #777;
  margin-bottom: 10px;
}
body:not(.tg_pia-SP) .tg_pia-content__item-lot figure figcaption p {
  font-size: 14px;
  margin-bottom: 10px;
}
body:not(.tg_pia-SP) .tg_pia-content__item-lot figure figcaption small {
  display: block;
  font-size: 9px;
  color: #777;
  word-break: break-all;
}

body:not(.tg_pia-SP) .tg_pia-content__item-lot.tg_pia-ut__btnlayer figure:before {
  content: '';
  display: block;
  width: 1px;
  height: 100%;
  min-height: 195px;
  background-color: transparent;
  float: right;
  margin-right: -1px;
  margin-bottom: -30px;
}
body:not(.tg_pia-SP) .tg_pia-content__item-lot.tg_pia-ut__btnlayer figure .tg_pia-ut__btnboxlayer {
  float: right;clear: both;width: 30px;height: 30px;background-color: transparent;
}


/* item-smalllot-style */
body:not(.tg_pia-SP) .tg_pia-content__item-smalllot {
  height: 120px;
  overflow: hidden;
  margin-bottom: 0;
}
body:not(.tg_pia-SP).tg_pia-windowsizeS .tg_pia-content__item-smalllot {
  margin-bottom: 10px;
}
body:not(.tg_pia-SP) .tg_pia-content__item-smalllot:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  margin: 0 10px;
  height: 1px;
  width: 280px;
  background: #FFF;
  border-bottom: 1px dotted #ccc;
}
body:not(.tg_pia-SP) .tg_pia-content__item-smalllot:last-of-type:after {
  display: none;
}
body:not(.tg_pia-SP).tg_pia-windowsizeS .tg_pia-content__item-smalllot:after {
  display: none;
}
body:not(.tg_pia-SP) .tg_pia-content__item-smalllot figure {
  position: relative;
  width: 100px;
  height: 100px;
  display: block;
}
body:not(.tg_pia-SP) .tg_pia-content__item-smalllot figure img  {
  width:auto;
  height:auto;
  max-width:100px;
  max-height:100px;
  vertical-align: middle;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
body:not(.tg_pia-SP) .tg_pia-content__item-smalllot figure figcaption {
  width: 164px;
  position: relative;
  top: 0;
  left: 116px;
  display: block;
  padding: 4px 0;
}
body:not(.tg_pia-SP) .tg_pia-content__item-smalllot figure figcaption h2 {
  font-size: 13px;
  margin-bottom: 8px;
  font-weight: normal;
}
body:not(.tg_pia-SP) .tg_pia-content__item-smalllot figure figcaption p {
  font-size: 10px;
  color: #777;
  margin-bottom: 0;
}

/* item-catlist-style */
body:not(.tg_pia-SP) .tg_pia-content__item-catlist {
  overflow: hidden;
  margin-bottom: 0;
  float: left;
}
body:not(.tg_pia-SP) .tg_pia-content__item-catlist:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: 10px auto;
  min-height: 80px;
  width: 1px;
  background: #FFF;
  border-right: 1px dotted #ccc;
}
body:not(.tg_pia-SP).tg_pia-windowsizeL .tg_pia-content__item-catlist:nth-of-type(3n) {
  width: 306px;
}
body:not(.tg_pia-SP).tg_pia-windowsizeL .tg_pia-content__item-catlist:nth-of-type(3n):before {
  display: none;
}
body:not(.tg_pia-SP).tg_pia-windowsizeM .tg_pia-content__item-catlist:nth-of-type(2n):before,
body:not(.tg_pia-SP).tg_pia-windowsizeS .tg_pia-content__item-catlist:nth-of-type(2n):before {
  display: none;
}
body:not(.tg_pia-SP) .tg_pia-content__item-catlist:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  margin: auto 10px;
  height: 1px;
  width: 286px;
  background: #FFF;
  border-bottom: 1px dotted #ccc;
}
body:not(.tg_pia-SP) .tg_pia-content__item-catlist figure {
  position: relative;
  width: 80px;
  min-height: 80px;
  display: block;
}
body:not(.tg_pia-SP) .tg_pia-content__item-catlist figure img  {
  width:auto;
  height:auto;
  max-width:72px;
  max-height:72px;
  vertical-align: middle;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
body:not(.tg_pia-SP) .tg_pia-content__item-catlist figure figcaption {
  width: 184px;
  position: relative;
  top: 0;
  left: 96px;
  display: table;
  height: 100%;
  word-wrap: break-word;
}
body:not(.tg_pia-SP) .tg_pia-content__item-catlist figure figcaption h3 {
  font-size: 13px;
  display: table-cell;
  vertical-align: middle;
  word-break: break-all;
}


/* item-news-style */
body:not(.tg_pia-SP) .tg_pia-content__item-news {
  padding: 15px;
}
body:not(.tg_pia-SP) .tg_pia-content__item-news > h3 {
  color: #666;
}
body:not(.tg_pia-SP) .tg_pia-content__item-news > ul li {
  border-top: 1px dotted #666;
  padding: 6px 0;
}
body:not(.tg_pia-SP) .tg_pia-content__item-news > ul li:first-child {
  border-top: none;
}
body:not(.tg_pia-SP) .tg_pia-content__item-news > ul li a {
  display: block;
}
/* item-banner-style */
body:not(.tg_pia-SP) .tg_pia-content__item-banner figcaption {
  padding: 15px;
}
body:not(.tg_pia-SP) .tg_pia-content__item-banner figcaption p {
  font-size: 12px;
  line-height: 1.6;
}

/* HTMLBLOCK -HEROVIAUAL- */
body:not(.tg_pia-SP) #tg_pia-content__herovisual a {display: block;}
body:not(.tg_pia-SP) #tg_pia-content__herovisual a:hover {display: block;}

/* PICKUP */


/* TEXT STYLE */


/* BOOKMARK */
body:not(.tg_pia-SP) .tg_pia-function__bookmark {
  position: absolute;
  width: 48px;
  height: 48px;
  bottom: 0;
  right: 0;
  z-index: 100;
  visibility: hidden;
  -moz-transform: rotateX(90deg);
  -webkit-transform: rotateX(90deg);
  -o-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -moz-transition: -moz-transform 0.2s ease-in-out;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  -o-transition: -o-transform 0.2s ease-in-out;
  -ms-transition: -ms-transform 0.2s ease-in-out; 
  transition: transform 0.2s ease-in-out;
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
}
body:not(.tg_pia-SP).tg_pia-loadcomp .tg_pia-function__bookmark {
  visibility: visible;
  -moz-transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
body:not(.tg_pia-SP) .tg_pia-function__bookmark .tg_pia-function__alertBtn,
body:not(.tg_pia-SP) .tg_pia-function__bookmark .tg_pia-function__favoriteBtn {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
body:not(.tg_pia-SP) .tg_pia-function__bookmark .tg_pia-function__alertBtn img {
  position: absolute;
  width: 30px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
body:not(.tg_pia-SP) .tg_pia-function__bookmark .tg_pia-function__favoriteBtn img {
  position: absolute;
  width: 26px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
body:not(.tg_pia-SP) .tg_pia-function__bookmark .tg_pia-function__favoriteBtn img + img {
  display: none;
}
body:not(.tg_pia-SP) .tg_pia-function__bookmark .tg_pia-function__favoriteBtn.tg_pia-ut__isSubmitted img {
  display: none;
}
body:not(.tg_pia-SP) .tg_pia-function__bookmark .tg_pia-function__favoriteBtn.tg_pia-ut__isSubmitted img + img {
  display: block;
}
body:not(.tg_pia-SP) .tg_pia-function__bookmark .tg_pia-function__alertBtn:hover img,
body:not(.tg_pia-SP) .tg_pia-function__bookmark .tg_pia-function__favoriteBtn:hover img {
  -ms-filter: "alpha( opacity=70 )";
  filter: alpha( opacity=70 );
  opacity: 0.7;
}

body:not(.tg_pia-SP) .tg_pia-function__bookmark .tg_pia-favoriteBox {
  position: absolute;
  bottom: 90%;
  right: 0;
  width: 300px;
  border: 2px solid #F95E77;
  background-color: #fff;
  display: block;
  z-index: 9999;
  cursor: default;
  visibility: hidden;
  -ms-filter: "alpha( opacity=0 )";
  filter: alpha( opacity=0 );
  opacity: 0;
  -moz-transition:all 0.2s ease-in-out;
  -webkit-transition:all 0.2s ease-in-out;
  -o-transition:all 0.2s ease-in-out;
  -ms-transform:all 0.2s ease-in-out;
  transition:all 0.2s ease-in-out;
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
}
body:not(.tg_pia-SP) .tg_pia-function__bookmark .tg_pia-ut__isCompleted + .tg_pia-favoriteBox {
  width: 150px;
  min-width: 0 !important;
  padding: 0 10px;
  right: 0;
  left: auto !important;
}
body:not(.tg_pia-SP) .tg_pia-function__bookmark .tg_pia-ut__isSubmitted + .tg_pia-favoriteBox { 
  width: 150px;
  min-width: 0 !important;
  padding: 0 10px;
  border: 2px solid #999;
}
body:not(.tg_pia-SP) .tg_pia-function__bookmark .tg_pia-ut__isSubmitted + .tg_pia-favoriteBox .tg_pia-favoriteBox__text {
  color: #999;
}
body:not(.tg_pia-SP) .tg_pia-function__bookmark .tg_pia-favoriteBox__head-title {
  font-size: 14px;
  color: #fff;
  text-align: center;
  background-color: #F95E77;
  padding: 10px 0;
  margin-bottom: 16px;
  position: relative;
}
body:not(.tg_pia-SP) .tg_pia-function__bookmark .tg_pia-favoriteBox__close-btn {
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  margin: auto !important;
  width: 17px !important;
}
body:not(.tg_pia-SP) .tg_pia-function__bookmark .tg_pia-favoriteBox__close-btn:hover {
  cursor: pointer;
}
body:not(.tg_pia-SP) .tg_pia-function__bookmark .tg_pia-favoriteBox__content {
  text-align: center;
  font-size: 0;
}
body:not(.tg_pia-SP) .tg_pia-function__bookmark .tg_pia-favoriteBox__btn {
  display: inline-block;
  text-align: center;
  font-size: 12px;
  width: 120px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  text-decoration: none;
}
body:not(.tg_pia-SP) .tg_pia-function__bookmark .tg_pia-favoriteBox__btn:hover {
  background: transparent !important;
}
body:not(.tg_pia-SP) .tg_pia-function__bookmark .tg_pia-favoriteBox__text {
  font-size: 12px;
  color: #F95E77;
  margin: 14px auto;
}
body:not(.tg_pia-SP) .tg_pia-function__bookmark .tg_pia-ut__isFavorite .tg_pia-function__favoriteBtn {
  display: inline-block;
}
body:not(.tg_pia-SP) .tg_pia-function__bookmark .tg_pia-ut__isActive.tg_pia-function__favoriteBtn:before {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top: 10px solid #F95E77;
  margin-top: -10px;
  top: 0;
  right: 10px;
  margin-top: auto;
  z-index: 500;
}
body:not(.tg_pia-SP) .tg_pia-function__bookmark .tg_pia-ut__isActive.tg_pia-function__favoriteBtn:after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top: 10px solid #fff;
  margin-top: -10px;
  top: -3px;
  right: 10px;
  margin-top: auto;
  margin-bottom: 3px;
  z-index: 10000;
}
body:not(.tg_pia-SP) .tg_pia-function__bookmark .tg_pia-ut__isActive.tg_pia-function__favoriteBtn.tg_pia-ut__isSubmitted:before {
  border-top: 10px solid #999;
}
body:not(.tg_pia-SP) .tg_pia-function__bookmark .tg_pia-ut__isActive + .tg_pia-favoriteBox {
  visibility: visible;
  -ms-filter: "alpha( opacity=100 )";
  filter: alpha( opacity=100 );
  opacity: 1;
  bottom: 100%;
}

/* SERVICE BANNER */
body:not(.tg_pia-SP) #tg_pia-extracontents {
  clear: both;
  position: relative;
  padding: 40px 0 30px;
}
body:not(.tg_pia-SP) #tg_pia-extracontents .tg_pia-servicenavi ul {
  height: 70px;
  z-index: auto;
  position: relative;
  overflow: hidden;
}
body:not(.tg_pia-SP) #tg_pia-extracontents .tg_pia-servicenavi ul:after {
  content: "";
  display: table;
  clear: both;
}
body:not(.tg_pia-SP) #tg_pia-extracontents .tg_pia-servicenavi li {
  float: left;
}
body:not(.tg_pia-SP) #tg_pia-extracontents .tg_pia-servicenavi li a {
  text-decoration: none;
  display: block;
  padding: 0 5px;
  height: 70px;
}
body:not(.tg_pia-SP) #tg_pia-extracontents .tg_pia-servicenavi li a img {
  height: 70px;
}

body:not(.tg_pia-SP) #tg_pia-extracontents .tg_pia-servicenavi .tg_pia-menu__prev-next-button {
  position: absolute;
  display: block;
  top: 50%;
  border: none;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: none;
  width: 20px;
  height: 100%;
  background: #F3F2ED;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
body:not(.tg_pia-SP) #tg_pia-extracontents .tg_pia-servicenavi .tg_pia-menu__prev-next-button:disabled {display: none;}
body:not(.tg_pia-SP) #tg_pia-extracontents .tg_pia-servicenavi .flickity-page-dots {display: none;}

body:not(.tg_pia-SP) #tg_pia-extracontents .tg_pia-servicenavi .tg_pia-menu__prev-next-button { width: 20px;height: 100%;background: #F3F2ED;border-radius: 0;outline: none;box-shadow: none !important;}
body:not(.tg_pia-SP) #tg_pia-extracontents .tg_pia-servicenavi .tg_pia-menu__prevBtn,
body:not(.tg_pia-SP) #tg_pia-extracontents .tg_pia-servicenavi .tg_pia-menu__nextBtn {
  width: 40px;
  height: 100%;
  background: #F3F3F3;
  position: absolute;
  top: 0;
  display: block;
  border-radius: 0;
}
body:not(.tg_pia-SP) #tg_pia-extracontents .tg_pia-servicenavi .tg_pia-menu__prevBtn {
  left: 0;
}
body:not(.tg_pia-SP) #tg_pia-extracontents .tg_pia-servicenavi .tg_pia-menu__nextBtn {
  right: 0;
}
body:not(.tg_pia-SP) #tg_pia-extracontents .tg_pia-servicenavi .tg_pia-menu__prev-next-button {
  padding: 0;
  width: 40px;
  display: block;
}
body:not(.tg_pia-SP) #tg_pia-extracontents .tg_pia-servicenavi .tg_pia-menu__prev-next-button:hover {
  -ms-filter: "alpha( opacity=70 )";
  filter: alpha( opacity=70 );
  opacity: 0.7;
}
body:not(.tg_pia-SP) #tg_pia-extracontents .tg_pia-servicenavi .tg_pia-menu__prev-next-button.previous {
  right: 0;
  left: auto;
  background: url("../images/icon-arrow_l@2x.png") no-repeat 50% 50%;
  background-size: 10px 16px;
}
body:not(.tg_pia-SP) #tg_pia-extracontents .tg_pia-servicenavi .tg_pia-menu__prev-next-button.next {
  left: 0;
  right: auto;
  background: url("../images/icon-arrow_r@2x.png") no-repeat 50% 50%;
  background-size: 10px 16px;
}
body:not(.tg_pia-SP).tg_pia-windowsizeM #tg_pia-extracontents .tg_pia-servicenavi .tg_pia-menu__prevBtn {
  left: 50%;
  margin-left: -500px;
}
body:not(.tg_pia-SP).tg_pia-windowsizeM #tg_pia-extracontents .tg_pia-servicenavi .tg_pia-menu__nextBtn {
  right: 50%;
  margin-right: -500px;
}
@media only screen and (max-width: 980px) {
	body:not(.tg_pia-SP).tg_pia-windowsizeM #tg_pia-extracontents .tg_pia-servicenavi .tg_pia-menu__prevBtn {
	left: 0;
	margin-left: 0;
	}
	body:not(.tg_pia-SP).tg_pia-windowsizeM #tg_pia-extracontents .tg_pia-servicenavi .tg_pia-menu__nextBtn {
	right: 0;
	margin-right: 0;
	}
}
body:not(.tg_pia-SP).tg_pia-windowsizeS #tg_pia-extracontents .tg_pia-servicenavi .tg_pia-menu__prevBtn {
  left: 50%;
  margin-left: -353px;
}
body:not(.tg_pia-SP).tg_pia-windowsizeS #tg_pia-extracontents .tg_pia-servicenavi .tg_pia-menu__nextBtn {
  right: 50%;
  margin-right: -353px;
}
@media only screen and (max-width: 690px) {
	body:not(.tg_pia-SP).tg_pia-windowsizeS #tg_pia-extracontents .tg_pia-servicenavi .tg_pia-menu__prevBtn {
	left: 0;
	margin-left: 0;
	}
	body:not(.tg_pia-SP).tg_pia-windowsizeS #tg_pia-extracontents .tg_pia-servicenavi .tg_pia-menu__nextBtn {
	right: 0;
	margin-right: 0;
	}
}

/* BREADCRAMB */
body:not(.tg_pia-SP) .tg_pia-breadcramb {
  clear: both;
}
body:not(.tg_pia-SP) .tg_pia-breadcramb ul {
  padding: 0 0 10px;
}
body:not(.tg_pia-SP) .tg_pia-breadcramb ul li {
  display: inline-block;
  vertical-align: top;
  font-size: 11px;
  font-weight: bold;
  word-break: break-all;
  position: relative;
  margin-bottom: 0.6em;
}
body:not(.tg_pia-SP) .tg_pia-breadcramb ul li + li {
  padding-left: 24px;
}
body:not(.tg_pia-SP) .tg_pia-breadcramb ul li + li:before {
  content: '';
  width: 24px;
  height: 18px;
  position: absolute;
  left: 0;
  background: url("../images/icon-arrow_breadcramb@2x.png") no-repeat 50% 50%;
  background-size: 6px 10px;
  text-align: center;
}
body:not(.tg_pia-SP) .tg_pia-breadcramb ul li.tg_pia-ut__isCurrent {
  font-weight: bold;
}
body:not(.tg_pia-SP) .tg_pia-breadcramb ul li a {
  text-decoration: underline !important;
  font-size: 11px;
  font-weight: normal;
}
body:not(.tg_pia-SP) .tg_pia-breadcramb ul li a:hover {
  text-decoration: none !important;
}

/* FLOATING AD */
body:not(.tg_pia-SP) #tg_pia-adFloating {
  position: fixed;
  z-index: 9998;
  bottom: 0;
  width: 100%;
  height: 100px;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#88000000', endColorstr='#88000000');
  background: rgba(0,0,0,.7);
  overflow: hidden;
  -moz-transition:height 0.2s ease-in-out;
  -webkit-transition:height 0.2s ease-in-out;
  -o-transition:height 0.2s ease-in-out;
  -ms-transform:height 0.2s ease-in-out;
  transition:height 0.2s ease-in-out;
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
}
body:not(.tg_pia-SP).tg_pia-windowsizeS #tg_pia-adFloating {
  height: 85px;
}
body:not(.tg_pia-SP) #tg_pia-adFloating .tg_pia-adFloating__SP {
  display: none;
}
body:not(.tg_pia-SP) #tg_pia-adFloating .tg_pia-adFloating__PC {
  width: 728px;
  margin: auto;
  padding: 5px 0;
}
body:not(.tg_pia-SP).tg_pia-windowsizeS #tg_pia-adFloating .tg_pia-adFloating__PC {
  width: 610px;
}
body:not(.tg_pia-SP) #tg_pia-adFloating a {
  display: block;
}
body:not(.tg_pia-SP) #tg_pia-adFloating a img {
  width: 100%;
}
body:not(.tg_pia-SP) #tg_pia-adFloating .tg_pia-adFloating__closeBtn {
  width: 36px;
  height: 36px;
  position: absolute;
  top: 0;
  right: 0;
  background: url("../images/btn-close_@2x.png") no-repeat 50% 50%;
  background-size: 16px;
  cursor: pointer;
}
body:not(.tg_pia-SP) #tg_pia-adFloating.tg_pia-ut__adClose .tg_pia-adFloating__closeBtn {
  display: none;
}
body:not(.tg_pia-SP) #tg_pia-adFloating.tg_pia-ut__adClose {
  height: 0;
}


body:not(.tg_pia-SP) #tg_pia-adFloating + #tg_pia-gfooter {
  padding-bottom: 100px;
}
body:not(.tg_pia-SP).tg_pia-windowsizeS #tg_pia-adFloating + #tg_pia-gfooter {
  padding-bottom: 85px;
}
body:not(.tg_pia-SP) #tg_pia-adFloating.tg_pia-ut__adClose + #tg_pia-gfooter {
  padding-bottom: 0 !important;
}
