/**

This is the custom.css file

Add your own custom CSS here and avoid modifying the core theme files, 
since that'll make upgrading the theme problematic. 

Your custom CSS will be loaded after the theme's stylesheets, 
which means that your rules will take precedence.

*/
body{
 font-family:Josefin Sans!important;  
}
.yit_post_quote, .arrow:before, li.product .added_to_cart_label, #footer h5, #footer .widget_text .textwidget div.box-sections, .filters-container ul.filters, .yit_portfolio_extra_info h3, .yit_post_content h3.portfolio_content_title, .woocommerce div.product .single-product-tabs ul.tabs div.tab_name, .faq.filters, #faqs-container .faq-wrapper .faq-title, #primary .testimonials-slider, .toggle .tab-index, .woocommerce-page table.shop_table th, #yith-ywraq-form table.shop_table th, .blog.small .yit_post_quote, #payment li, q, .box-title.box-title-line-middle .title-bar:after, .box-title.box-title-line-middle .title-bar:before, .box-title.box-title-line-around .title-bar:after, .box-title.box-title-line-around .title-bar:before, .widget.recent-comments h3, #my-account-content table tr.order, .woocommerce #inquiry-form .product-inquiry, #yith-wcwl-form table.wishlist_table tbody tr, .team-section .member-info .member-name, .team-section .links, .features-tab-container ul.features-tab-labels li, .widget h3, .widget.widget_shopping_cart .product_list_widget li, .woocommerce-page ul.digital-downloads li, .woocommerce ul.products li.product-category .product-category-link .show-category-background h3, .arrow-right:before, .sitemap > div h3, #bbpress-forums li.bbp-body ul.forum, #bbpress-forums li.bbp-body ul.topic, #bbpress-forums #bbp-single-user-details #bbp-user-navigation li, #bbpress-forums div.bbp-reply-author .bbp-author-role, .yit_shortcodes.last-post p.date, .widget.yith-woo-ajax-navigation ul.yith-wcan-list li:after, .widget.woocommerce.widget_layered_nav ul li:after, .widget.yith-woocompare-widget ul.products-list li:after, .widget.widget_display_forums ul li, .widget.widget_display_stats dt:after, .widget.widget_display_replies ul li:after, .widget.widget_display_topics ul li:after, .widget.contact-info h2, .woocommerce .related.products > h3:after, .woocommerce-page .related.products > h3:after, .woocommerce .upsells.products > h3:after, .woocommerce-page .upsells.products > h3:after, .woocommerce .cross-sells > h3:after, .woocommerce-page .cross-sells > h3:after, .woocommerce h3.products-slider-title, .yit-maintenance-mode .socials, #topbar div.container:after, .woocommerce #header-sidebar > div.yit_cart_widget .product_list_widget li, #header-sidebar > div.yit_cart_widget .product_list_widget li, #buddypress div.item-list-tabs ul li a, #buddypress div.item-list-tabs ul li span, #buddypress div.item-list-tabs ul:after, #buddypress table.notifications tbody tr, #buddypress table#message-threads tr td, #buddypress table#message-threads tr.read td, #buddypress table#message-threads tr.unread td, #buddypress table#message-threads tr.alt td, #buddypress ul.item-list li, #buddypress div.item-list-tabs ul li span{
      border-bottom-color: transparent;
}
.contact-info > h3{
  font-size: 36px;
  font-weight: 400;
  color: #FFF;
      font-family: Josefin Sans !important;
}

.theme_3.wpcf7-form input.error, .theme_3.wpcf7-form select.error, .theme_3.wpcf7-form textarea.error {
    background: #F9A7A7 url("http://frontend.sekindo.com/wp-content/plugins/jquery-validation-for-contact-form-7-pro/img/error.png") no-repeat scroll right 5px center;
}
.theme_3.wpcf7-form input.valid, .theme_3.wpcf7-form select.valid, .theme_3.wpcf7-form textarea.valid {
    background: #FFF url("http://frontend.sekindo.com/wp-content/plugins/jquery-validation-for-contact-form-7-pro/img/valid.png") no-repeat scroll right 5px center;
}

.shade-1, .fa.shade-1, #footer span.icon-circle i.fa, .blog-slider .next-blog:hover .icon-circle i.fa, .blog-slider .prev-blog:hover .icon-circle i.fa, .blog-masonry .masonry-brick .yit_post_content a:hover, .images-slider-sc .flex-direction-nav li a:hover::before{
  color: #FFF;
}
.wpcf7-form label.error {
    color: #FF432E;
    font-size: 17px;
    float: none;
    padding-left: 5px;
    padding-top: 10px;
}

.contact-info ul li strong{
  font-size: 26px;
  color: #FFF;
   font-weight: 400;
      font-family: Josefin Sans !important;
}
  


.contact-info ul li{
   font-size: 22px;
  color: #FFF;
   font-weight: 400;
      font-family: Josefin Sans !important;

}
 @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
 .sticklr { display: none; }
  .mobile-hide{ display: none; }
  div.wpcf7-response-output{ display: none!important; }
  
}
.pull-right {
    float: left !important;
}


@-ms-viewport{ width: auto !important; }


@media screen and (min-width: 0px) and (max-width: 720px) {
 input[type="submit"] {
    width: 100%!important;
    border-color: #fff!important;
    height: 45px;
}

 #copyright a {
    color: #9E9E9E;
} 
}
.nav ul > li a{
  text-transform: none;
}
.nav ul > li a{
  font-size: 18px !important;
}

.error-404-text, .error-404-text p{
 display:none; 
}
#searchform{
  display:none;  
}


.blog.big .yit_post_meta, .blog.small .yit_post_content h1.post-title, .blog.small .yit_post_content h2.post-title, .blog.small .yit_post_meta, .single-post .blog.big .share, span.share-text, .single-post .blog.big .yit_post_meta, .single-post .blog.small .yit_post_meta, .single-post .blog.small .yit_post_content, #comments ol li .content, li.product .added_to_cart_label, #copyright .border, #primary .testimonials-slider, .portfolio_big_image h2.post-title.portfolio-title, .woocommerce .cart-collaterals table tr.order-total, .woocommerce-page .cart-collaterals table tr.order-total, #order_review table tfoot tr.total, #order_review table tfoot, #testimonial .arrow-down:before, .portfolio_small_image .portfolio .title-bar:after, .portfolio_small_image .portfolio .title-bar:before, .features-tab-container ul.features-tab-labels li.features-tab-0, .woocommerce ul.products li.product-category .product-category-link .show-category-background h3, #bbpress-forums div.bbp-reply-author .bbp-reply-ip, #yit-popup-footer, .skin2 #nav{
  border-top-color: transparent;
}
.owl-carousel .owl-item img{
 width: 100px!important; 
  float: right;
}

#primary .testimonials-slider ul.testimonial-content li p.meta, #primary .testimonials-slider ul.testimonial-content li p.meta span{
 display:none; 
}
h3, .tabs-container ul.tabs li h4 a, .features-tab-container ul.features-tab-labels li h4 a, .yit_shortcodes.last-post h3 a, .widget.widget_bp_core_login_widget.buddypress.widget #bp-login-widget-form .bp-login-widget-register-link a, .by-vendor-name a.by-vendor-name-link, #tab-yith_wc_vendor h2 a{
      text-transform: none;
      font-weight: 400;
}

.info-c-full .cirlce-noicon   div{
 height:40%!important;
}

.aio-icon-header h3.aio-icon-title{
 text-align:center; 
}

.flip-box-wrap p{
  color: #fff;
  font-size: 16px;
}

h2, .portfolio_big_image h2.post-title.portfolio-title a, .portfolio_small_image h2.post-title.portfolio-title a, #bbpress-forums #bbp-user-wrapper h2.entry-title{
  font-weight: 400!important; 
  
}

#topbar-right .widget_text i, #topbar-right .widget_text img{
  padding-bottom: 8px;
}
#topbar a, #topbar a i{
  
 color: rgb(255, 255, 255);
text-transform: none;
font-size: 17px;
font-weight: 400; 
}

.gc-reset{
 width:400px!important; 
}

.form-control{
 font-size:18px!important; 
}

div.wpcf7-response-output{
display:none!important;
  
}
#slogan{
 display:none; 
}
input[type="text"], input[type="password"], input[type="email"], input[type="search"], input[type="tel"], textarea{
  text-align: left;

  border-radius: 0px;
  padding: 7px 12px;
  width: 100%;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  border: 1px solid #CCC;
  top: 8px;
position: relative;
}

.testimonials-slider ul.testimonial-content li blockquote p{
      color: #FFFFFF;
}

#primary .testimonials-slider ul.testimonial-content li blockquote p{
      padding-top: 15px;
}

#primary .testimonials-slider ul.testimonial-content li p.meta, #primary .testimonials-slider ul.testimonial-content li p.meta span{
 color:#fff; 
}

small, .small{
  font-size: 100%;
  
}
div.wpcf7-response-output{
   margin: 0em -3.5em 0em !important;
padding: 12.2em 1em!important;
background-color: #000000!important;
opacity: 0.8!important;
color: #fff!important;
font-size: 18px!important;
  text-align: center!important; 
  width: 50%!important; 
float: right!important; 
  
}

input[type="submit"]{
  width: 100%!important;
border-color: #fff!important;
}

span.wpcf7-not-valid-tip{
  position: relative;
  color:#FF432E;
top: 10px;
  background-color: #000!important;
}

textarea{
  height: 110px !important;
}

.btn-flat, a.btn-flat, .nav ul > li div div.btn-fb-login a, #welcome-menu-login.nav ul > li #customer_login .button, .yith-wcwl-add-button .add_to_wishlist, .yith-wcwl-add-button .add_to_wishlist::before, div.compare a.compare, div.compare a.compare::before, .yith-wcwl-wishlistaddedbrowse a, .yith-wcwl-wishlistexistsbrowse a, a.button.view, .banner-image .button, .wishlist_table .button, a.btn.animated.btn-flat:hover, table.compare-list .add-to-cart td a, .wishlist-name a.wishlist-anchor, .products-slider.swiper .swiper-slide .opacity .swiper-product-informations span.product-add-to-cart a, a.bp-title-button, .widget.widget_price_filter button[type="submit"], .widget.widget_bp_core_login_widget.buddypress.widget #bp-login-widget-form input#bp-login-widget-submit, .widget.widget_bp_core_login_widget.buddypress.widget .bp-login-widget-user-logout a.logout, a.compare.button, .yit-maintenance-mode form.newsletter input.submit-field, #buddypress div.generic-button a, #buddypress a.button, #buddypress div.generic-button a span, #buddypress div.activity-meta a.button span, #buddypress div.activity-comments form input, #buddypress table#message-threads tr td.thread-options a.button, #buddypress div.messages-options-nav > a, #buddypress input#upload, #buddypress #create-group-form input[type="submit"], .cx-send a.cx-form-btn{
   font-weight: 400; 
  
}
.btn-flat, a.btn-flat, button.button-login, .nav ul > li div div.btn-fb-login, .banner-image .button, #welcome-menu-login.nav ul > li #customer_login .button, .yith-wcwl-add-button .add_to_wishlist, div.compare a.compare, a.button.view, .wishlist_table .button, a.btn.animated.btn-flat, a.btn.animated.btn-flat:hover, table.compare-list .add-to-cart td a, .products-slider.swiper .swiper-slide .opacity .swiper-product-informations span.product-add-to-cart a, .widget.widget_price_filter button[type="submit"], .widget.widget_bp_core_login_widget.buddypress.widget #bp-login-widget-form input#bp-login-widget-submit, .widget.widget_bp_core_login_widget.buddypress.widget .bp-login-widget-user-logout a.logout, a.compare.button, .yit-maintenance-mode form.newsletter input.submit-field, #buddypress div.generic-button a, #buddypress a.button, #buddypress div.activity-comments form input, #buddypress table#message-threads tr td.thread-options a.button, #buddypress div.messages-options-nav > a, #buddypress input#upload, #buddypress #create-group-form input[type="submit"], .cx-send a.cx-form-btn{
  background-color:#000000;
  color:#ffffff;
}

#back-top a, #back-top a:hover{
  font-weight:900!important;
  color: #1C2027;
}


.nav ul > li a{
 font-family:Josefin Sans!important; 
  font-size:15px;
  font-weight:900!important;
}
p, li, address, dt, dd, blockquote, td, th, .product-wrapper .product_cat a, .widget.woocommerce .product_cat a, .product_meta .posted_in a, .product_meta .tagged_as a, .product-share .socials-text a, .woocommerce-breadcrumb a, .breadcrumbs a, .sbHolder a, .woocommerce table.shop_table.cart td.product-name div.product-name a, .form-row a.chosen-single span, #payment label, .filters.faq li a, .filters-container ul.filters li a, #wishlist-share .yith-wcwl-share li a, .random-numbers p, .widget.yit_products_category .product_cat a, .yit_portfolio_extra_info .portfolio_meta span.meta_content, table.wishlist_table td.product-name-price a, .wishlist_table tr td.product-stock-status span.wishlist-in-stock, table.shop_table td.order-number a, .team-section .links a, .woocommerce .order-info mark, tr.order_item td.product-name a, .widget_product_categories a, .widget_nav_menu a, .widget_meta a, .widget_pages a, .widget.recent-posts .recent-post span.num-comments a, .widget.recent-posts .recent-post span.author a, .widget.recent-posts .recent-post span.author, .widget.recent-posts .recent-post span.num-comments, .newsletter-cta-form-container .text h2, .widget.recent-posts .recent-post span.author, .widget.recent-posts .recent-post span.num-comments, .newsletter-cta-form-container .text h2, .woocommerce-page ul.digital-downloads li a, table.compare-list .remove td a, .sitemap ul > li a, .sitemap > div h2 a, div.tagcloud a, table.compare-list .remove td a, .sitemap ul > li a, .sitemap > div h2 a, div h2 a, div.tagcloud a, .widget.widget_categories ul > li a, .widget.widget_archive ul > li a, .widget.yit_recent_reviews .product-review-link a, #modal-window div.modal-opener a, .yit_shortcodes.recent-post .post-meta a, #bbpress-forums li.bbp-body ul.forum li a, #bbpress-forums li.bbp-body ul.topic li a, #bbpress-forums #bbp-single-user-details #bbp-user-navigation li a, .woocommerce form .form-row label, .woocommerce-page form .form-row label, #my-account-sidebar ul li > a, #bbpress-forums div.bbp-reply-author a, #bbpress-forums fieldset label[for], #bbpress-forums #bbp-your-profile fieldset label[for], #bbpress-forums input[type="text"], .ac_results ul, .ac_results ul li, .widget.widget_price_filter #min_price, .widget.widget_price_filter #max_price, ul.yith-wcan-list li a, ul.yith-wcan-label li a, .widget.widget_layered_nav ul li a, .widget.widget_display_forums ul li a, .widget.widget_display_views ul li a, .widget.widget_display_replies ul li a, .bbp-reply-header a.bbp-reply-permalink, .widget.widget_bp_core_members_widget.buddypress.widget .item-options a, .widget.widget_bp_groups_widget.buddypress.widget .item-options a, .widget.widget_bp_core_friends_widget.buddypress.widget .item-options a, .bbp_widget_login label[for], .bbp_widget_login input[type="text"], .bbp_widget_login input[type="password"], .widget.widget_bp_core_login_widget.buddypress.widget #bp-login-widget-form input[type="text"], .widget.widget_bp_core_login_widget.buddypress.widget #bp-login-widget-form input[type="password"], .widget.widget_bp_core_login_widget.buddypress.widget #bp-login-widget-form label, .widget.widget_display_topics ul li a, .yitpopup_wrapper a.close::before, #cboxClose::after, .modal-shortcode .modal .modal-header a.close span::before, a.yith-wcan-reset-navigation.button, .widget.woocommerce.widget_layered_nav_filters ul li a, .widget.yith-woocompare-widget ul li a, .faq-filters ul > li > a, .blog-masonry .masonry-brick .yit_post_content p, #buddypress div#subnav.item-list-tabs ul li a, #buddypress div#subnav.item-list-tabs ul li[id$="-select"] .sbHolder a, #buddypress .messages-options-nav .sbHolder a, #buddypress #whats-new-post-in-box .sbHolder a, #buddypress div#subnav.item-list-tabs ul li[id$="-select"] .sbHolder .sbOptions li a, #buddypress #whats-new-post-in-box .sbHolder .sbOptions li a, #buddypress .messages-options-nav .sbHolder .sbOptions li a, #buddypress div#subnav.item-list-tabs ul li[id$="-select"] label, #buddypress #pag-top .pag-count, #buddypress #pag-top .pagination-links a, #buddypress #pag-top .pagination-links span, #buddypress div.dir-search label input[type="text"], #buddypress ul li .item-container .item .item-meta .activity, #buddypress span.activity, #buddypress #latest-update, #buddypress #activity-stream li .activity-meta a.fav, #buddypress #activity-stream li .activity-meta a.unfav, #buddypress #activity-stream .activity-header p a, #buddypress #activity-stream .activity-comments .acomment-meta, #buddypress #activity-stream .activity-comments .acomment-meta a, #buddypress div.activity-comments form div.ac-reply-content:hover .ac-reply-cancel, #buddypress table.notifications tbody tr td a, #buddypress .groups-members-search form label input[type="text"], #buddypress label, #buddypress table#message-threads tr td a:not(.button), #buddypress div.pagination .pag-count, #buddypress #message-thread .highlight, #buddypress #message-thread .highlight a, #buddypress div.item-list-tabs:not(#subnav) ul li a, .widget_price_filter .price_slider_amount .price_label, #customer_login .wp-social-login-widget .wp-social-login-connect-with{
 font-weight: 400; 
  
}


#testimonial .testimonial-rating{
  display:none;
}

#menu-item-3356 {
 text-align:center; 
  color:#196095;
    font-weight:bold;
}

#menu-item-3356 a{
 text-align:center; 
  color:#196095;
    font-weight:bold;
}

div{
   font-family:Josefin Sans!important; 
}

.icon_description h3{
 color:#ffffff; 
}

.contact-form div.success p{
  color: #196095!important;
  font-size: 16px!important;
  font-weight: bold!important;
  text-align: center!important;
}

#header-sidebar #lang_sel ul > li > ul > li a:hover, .nav ul > li a:hover, .nav ul > li a:focus, .nav .current-menu-item > a, .nav .current-menu-ancestor > a, .nav .current-page-item > a, .nav ul > li:hover > a, #header .nav li.menu-close > a{
 color:#000000!important; 
  font-weight:bold!important;
}

.nav > ul a{
  margin:5px!important;
  
}
.nav ul > li a{
 padding:8px!important; 
}

.nav > ul{
 margin: 0px; 
}

.nav{
 padding: 9px; 
}

#header-sidebar .widget_search_mini{
   margin:14px!important; 
}
#header.fixed-header{
 background-color:#ffffff!important; 
}
#copyright{
 background-color: #1C2027!important;
  color:#ffffff!important;
  margin-top: -2px;
}

#copyright p, #copyright ul li a{
  color: #555555 !important;
  font-weight: 900;
  font-size: 14px;
}

#copyright p, #copyright ul li a:hover{
  color: #ffffff !important;
  font-weight: 900;
  font-size: 14px;
}

#testimonial.testimonial-comic .testimonial-name, #testimonial.testimonial-comic .testimonial-name p.name{
 color:#ffffff!important; 
  font-family:Josefin Sans!important;
}

.widget_product_categories ul li, .widget_nav_menu ul li, .widget.widget_meta ul li, .widget.widget_pages ul li{
 padding-top:38px!important; 
  font-size: 19px;
font-weight: bold;
}



#cfwc_contactform input{
 width:100%; 
}

#cfwc_contactform textarea{
   width:100%;
}

.recaptchatable{
 background-color: #ffffff; 
}
.error-404-text, .error-404-text p{
 display:none; 
}

.contact-form li div.msg-error{
 color:#ffffff; 
}

#email-contact-form{
  color:#000000;
}

#name-contact-form{
   color:#000000;
}

#message-contact-form{
   color:#000000;
}

.contact-form li input.error, .contact-form li textarea.error{
  border: 1px solid #F3E08F !important;
}

.info-c-full-br .icon-circle-list .info-circle-icons{
  
  cursor: default;
}

#recaptcha_response_field{
  color:#000000!important;
  font-family:Arial!important;
  
}
.map_info_text{
 font-weight:900; 
}

::-webkit-input-placeholder {
   color: black;
}

:-moz-placeholder { /* Firefox 18- */
   color: black;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: black;  
}

:-ms-input-placeholder {  
   color: black;  
}





@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1200px) 
and (orientation : landscape) { 


#logo img {
  width:150px;
  height:41px;}
  
  
  #header-container {
    height:80px;}
  
}



.nav ul.sub-menu li a { font-size: 16px !important; text-transform: capitalize; }

.nav ul.sub-menu li a:hover {color:#1960ac!important;}


.nav div.submenu > ul.sub-menu {margin-top:-16px!important;}


div.gform_footer.top_label{width:100%;}


.gform_wrapper ul.gform_fields li.gfield {padding-right:0px;}

#gform_submit_button_1, #gform_submit_button_3, #gform_submit_button_4, #gform_submit_button_5, #gform_submit_button_6 ,#gform_submit_button_7 {background-color:#000000; color:#ffffff!important; font-weight:bold;}

.gform_wrapper .top_label div.ginput_container {margin-top:-8px!important;}

.gform_wrapper .top_label .gfield_label {color:#ffffff; font-weight:normal}


#input_1_1, #input_1_2, #input_1_7 {margin-bottom:5px;}


.gform_wrapper div.validation_error {color:#ffffff;}

.gform_wrapper .validation_message {color:#ffffff; font-size:90%;}

.gform_wrapper li.gfield.gfield_error.gfield_contains_required div.gfield_description { font-weight:normal; margin-top:6px;}


input {color:#000000!important;}
textarea {color:#000000!important;}

#input_6_9, #input_5_9, #input_4_9 {color:#ffffff!important;}



.gform_wrapper .gfield_required { color:#ffffff!important;}



h2.post-title a {color:#4e4e4e!important;
  font-weight: bold!important; }


.blog.big .yit_post_content p {color:#4e4e4e!important;}

span {font-family:Josefin Sans!important;  }


#footer-copyright-group { position:absolute; width:100%; }

.gform_body {width:100%!important;}