.wp-list-table .validation_rules li{ font-size:13px; line-height:18px; padding-bottom:10px;}
table.jvcf7p_form td{ border:none !important; padding:5px;}
.wpcf7-form label.error{color:#900; font-size:11px; float:none; padding-left:5px;}

/* Theme 1 */
.theme_1.wpcf7-form input.error, .theme_1.wpcf7-form select.error, .theme_1.wpcf7-form textarea.error{border-bottom:2px solid #900;outline: none;}

/* Theme 2 */
.theme_2.wpcf7-form input.error, .theme_2.wpcf7-form select.error, .theme_2.wpcf7-form textarea.error{border-right:4px solid #900;outline: none;}
.theme_2.wpcf7-form input.valid, .theme_2.wpcf7-form select.valid, .theme_2.wpcf7-form textarea.valid{border-right:4px solid #060;outline: none;}

/* Theme 3 */
.theme_3.wpcf7-form input.error, .theme_3.wpcf7-form select.error, .theme_3.wpcf7-form textarea.error{ background:url(../img/error.png) no-repeat right 5px center;}
.theme_3.wpcf7-form input.valid, .theme_3.wpcf7-form select.valid, .theme_3.wpcf7-form textarea.valid{background:url(../img/valid.png) no-repeat right 5px center;}

/* Theme 4 */
.theme_4.wpcf7-form input.error, .theme_4.wpcf7-form select.error, .theme_4.wpcf7-form textarea.error{border:1px solid #900;outline: none;}

/*DON't show error msg */
.noErrorMsg.wpcf7-form label.error{ display:none !important; height:0px !important; width:0px !important; overflow:hidden !important;}



.jvcf7p_btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 15px 10px 15px;
  text-decoration: none;
}

.jvcf7p_btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
  color: #ffffff;
}

strong.invalid{ color:red;}
strong.valid{ color:green;}