

#container_homepage { 
	min-height:auto;
	background:#FFF;
}
.bsp_dynamic_footer_height {
	background: #F1F1F1;
}
.homepage_body { height:430px; }

.container_homepage hr { margin:0px 20px; }


/*
*
*	Homepage
*
*/
	.homepage_body { padding:1px; background:#F1F1F1; z-index: 1; position: relative; margin-bottom: 20px; }
	.homepage_body .slideshow_no_download { z-index: -1; position: absolute; top: 0; left:0; }
	.backstretch { 
		background: #F1F1F1; /* Old browsers */

	 }
	 .backstretch img { width:100%; }

	.homepage_action_box {
		margin:112px auto 0;
		padding:18px 46px;
		max-width: 70%;
		display: table;
		background-color: #333;
		background-color: rgba(0,0,0,0.85);
		border-radius:0.5em;
	}
	.homepage_action_box h1 {
		color:#FFF;
		font-size: 21px;
		margin:0 0 20px;
		line-height: 1em;
	}
	.homepage_action_box h2 {
		color:#FFF;
		font-size: 46px;
		margin:0 0 10px;
		line-height: 1em;
	}

	.homepage_logo {
		position:absolute;
		top:6px;
		left:37px;
		width:200px;
	}

	@media only screen and (max-width: 768px) {

		.homepage_action_box #search_keyword_wrapper .input_wrapper .dropdown {
			display:none;
		}
	}

	.homepage_body .slide_arrow {
		position: absolute;
		top:0;
		height:100%;
		background:url("/images/homepage_arrows.png") 0 0 no-repeat; 
		width:90px;
		cursor: pointer;
		display: none;
		opacity: 0.5;
	}


	.homepage_body .arrow_left {
		background-position: 0 45%;
		left:0;
	}
	.homepage_body .arrow_right {
		background-position: -91px 45%;
		right:0;
	}

	.homepage_body .arrow_left:hover, .homepage_body .arrow_right:hover {	opacity: 1; }

	.homepage_body .image_credit {
	display: none;
	background-color: #666;
	background-color: rgba(0,0,0,0.40);
	color:#CCC;
	padding:1px 8px;
	position: absolute;
	bottom:0;
	right: 10px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	font-size: 11px;
	}
	.homepage_body .image_credit a {
	color:#CCC;
	text-decoration: underline;
	}
	.homepage_body .image_credit h2 {
	color:#CCC;
	font-size:11px;
	display:inline;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
	}

	@media only screen and (max-width: 768px) {
		.homepage_body .slide_arrow {
			display:none !important;
		}
	}



.homepage_featured_images .caption { text-align: center; margin:10px 0; }
.homepage_featured_images .caption a { font-weight: bold; }
.homepage_featured_images a.image { height:98px; overflow: hidden; display: block; }

.image_border { border:2px solid #fff; float:left; -moz-box-shadow:0 0 8px 1px #AAA; -webkit-box-shadow:0 0 8px 1px #AAA; box-shadow:0 0 8px 1px #AAA; }

.free_images { margin:5px 0 10px 20px; position: relative; }
.free_images p.pastimages { position:absolute; left:138px; top:10px; color:#999; }
.free_images .item { overflow: hidden; float:left; }
.free_images .item.current_image { height:120px; width:120px; margin-right:5px; border:5px solid #fff; -moz-box-shadow:0 0 8px 1px #AAA; -webkit-box-shadow:0 0 8px 1px #AAA; box-shadow:0 0 8px 1px #AAA;	}
.free_images .item.old_image { height:80px; width:80px; margin:34px 5px 0 0;	}
.free_images .item a { display:block; }
.free_images .item a img { max-width:inherit; }

.free_images .item .horizontally img { height:120px; }
.free_images .item .vertically img { width:120px; }
.free_images .item.old_image .horizontally img { height:80px; }
.free_images .item.old_image .vertically img { width:80px; }




.collectionItem {
	overflow:hidden;
	position: relative;
	margin:0px auto;
}
.collectionItem img {
	display: block;
	width:100%;
}
.collectionItem img.playButton {
	width:auto;
}
.collectionItem span {
	overflow:hidden;
	position: absolute;
	bottom:0px;
	width:100%;
	background:rgba(0,0,0,0.5);
	color:yellow;
	padding:5px;
	text-align: left;
	font-size: 17px;
	font-family: "Helvetica Neue",Arial,Helvetica,sans-serif; -webkit-font-smoothing: antialiased; font-smoothing: antialiased;
}

.collectionItem .clip_text {
	position: absolute;
	top:50px;
	width:100%;
	text-align: center;
	color:yellow;
	font-size: 20px;
}

.collectionItem .playButton {
	position: absolute;
	top:84px;
	left:46%;
}

	@media only screen and (max-width: 768px) {
		.collectionItem {
			margin:0px 10px;
		}

		.topcategories,
		.topcategories .unstyled {
			margin:0px 10px;
		}
	}









			/*
			* btn-secondary button
			*/

			.btn-yellow,
			html body .navbar .nav .btn-yellow {
				padding: 4px 20px;
				-webkit-font-smoothing: antialiased;
				color: #238de5;
				text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
				background-color: yellow;

				border-color: yellow;
				border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
			}
			.btn.btn-yellow:hover,
			.btn.btn-yellow:active,
			.btn.btn-yellow:focus,
			.btn.btn-yellow.active,
			.btn.btn-yellow.disabled,
			.btn.btn-yellow[disabled] {
				color: #238de5;
				background-color: rgb(240, 240, 0) !important;
				/**background-color: #003bb3;*/
			}



			.btn-yellow:active,
			.btn-yellow.active {
				background-color: yellow \9;
			}

			.btn-bsp-yellow,
			.btn-bsp-yellow:hover {
				color: #238de5;
				text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
			}

			.btn-yellow .caret {
				border-top-color: #238de5;
				border-bottom-color: #238de5;
			}

			.btn-group.open .btn-yellow.dropdown-toggle {
			  background-color: yellow;
			}




			.free_sub_callout {
				background:#238de5 url("/images/blue_triangle_pattern.png");
				padding:20px 30px;
				margin-bottom:10px;
			}
			.free_sub_callout .row-fluid {
				margin:0px;
			}
			.free_sub_callout .main {
				font-size:35px;
				color:#FFF;
				line-height: 1.3em;
			}
			.free_sub_callout .sub {
				font-size:25px;
				color:#FFF;
				line-height: 1.3em;
				display: block;
			}
			.free_sub_callout .btn {
				margin-top:19px;
				font-size:20px;
				font-weight:bold;
				text-transform: uppercase;
			}





			.repurchase_sub_callout {
				background:#238de5 url("/images/blue_triangle_pattern.png");
				font-family: "Helvetica Neue",Arial,Helvetica,sans-serif; -webkit-font-smoothing: antialiased; font-smoothing: antialiased;
				padding:20px 30px;
				margin-bottom:20px;
				color:#FFF;
				line-height: 1.5em;
			}
			.repurchase_sub_callout form {
				margin-bottom:0px;
			}
			.repurchase_sub_callout .row-fluid {
				margin:0px;
			}
			.repurchase_sub_callout .main {
				font-size:27px;
				font-weight: bold;
				color:#FFF;
				line-height: 1.3em;
			}
			.repurchase_sub_callout .sub {
				font-size:18px;
				color:#FFF;
				line-height: 1.3em;
				display: block;
			}
			.repurchase_sub_callout .orderinfo {
				font-size:14px;
			}
			.repurchase_sub_callout .btn {
				margin-top:8px;
				font-size:20px;
				font-weight:bold;
				text-transform: uppercase;
			}
