@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  src: url('oswald-light.eot');
  src: url('oswald-light.eot') format('embedded-opentype'),
         url('oswald-light.woff2') format('woff2'),
         url('oswald-light.woff') format('woff'),
         url('oswald-light.ttf') format('truetype'),
         url('oswald-light.svg#Oswald') format('svg');
}

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url('oswald-regular.eot');
  src: url('oswald-regular.eot') format('embedded-opentype'),
         url('oswald-regular.woff2') format('woff2'),
         url('oswald-regular.woff') format('woff'),
         url('oswald-regular.ttf') format('truetype'),
         url('oswald-regular.svg#Oswald') format('svg');
}
