/*
 * Project: Privalia ESPANA 
 * Author: Front-End Team Privalia
 * Description: main for decide.html
 * Version: 001 (Dani, 12-01-10)
 * Version: 002 (2015-11-27)
 * Last modification: Cristina
 */
@import url('reset.css');
@import url('genericos.css');

body 	{background-color:#000;color: #b5b5b5;font:100 12px/1 Tahoma, Arial, Helvetica, Verdana;margin: 0px;padding: 0px}

a 		{color:#b5b5b5;text-decoration:none}
a:hover {color:#fff}
h1 		{padding:0; margin:0;}
ul 		{width:100%; list-style: none; padding:50px 0 0 100px; margin:0; width:372px;}
li a 	{background:no-repeat left center;display:block;height:37px;padding:20px 0 0 65px;}

.pag 	{margin:110px auto;padding:0;width:372px;}
.brasil a {background-image:url(../img/off_BR.jpg);}
.italy a	{background-image:url(../img/off_IT.jpg);}
.mexico a {background-image:url(../img/off_MX.jpg);}
.spain a	{background-image:url(../img/off_ES.jpg);}

.brasil a:hover 	{background-image:url(../img/on_BR.jpg)}
.italy a:hover 	{background-image:url(../img/on_IT.jpg)}
.mexico a:hover 	{background-image:url(../img/on_MX.jpg)}
.spain a:hover 	{background-image:url(../img/on_ES.jpg)}