@font-face {
    font-family: 'icomoon';
    src:    url('icomoon.eot?v5di15');
    src:    url('icomoon.eot?v5di15#iefix') format('embedded-opentype'),
        url('icomoon.woff2?v5di15') format('woff2'),
        url('icomoon.ttf?v5di15') format('truetype'),
        url('icomoon.woff?v5di15') format('woff'),
        url('icomoon.svg?v5di15#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-bars:before {
    content: "\e600";
}
.icon-navicon:before {
    content: "\e600";
}
.icon-reorder:before {
    content: "\e600";
}
.icon-close:before {
    content: "\e601";
}
.icon-remove:before {
    content: "\e601";
}
.icon-times:before {
    content: "\e601";
}
.icon-chevron-left:before {
    content: "\f053";
}
.icon-chevron-right:before {
    content: "\f054";
}
.icon-twitter:before {
    content: "\f099";
}
.icon-facebook:before {
    content: "\f09a";
}
.icon-facebook-f:before {
    content: "\f09a";
}
.icon-pinterest:before {
    content: "\f0d2";
}
.icon-google-plus:before {
    content: "\f0d5";
}
.icon-caret-left:before {
    content: "\f0d9";
}
.icon-caret-right:before {
    content: "\f0da";
}
.icon-comment-o:before {
    content: "\f0e5";
}
.icon-angle-left:before {
    content: "\f104";
}
.icon-angle-right:before {
    content: "\f105";
}
.icon-instagram:before {
    content: "\f16d";
}
