#utility_links_list, #user_nav
{
	visibility: hidden;
}
.jsDisabled #utility_links_list, .jsDisabled #user_nav
{
	visibility:visible;
}
#my_reservations_in
{
	visibility: hidden;
}
#global_header_wrapper, #footer_wrapper
{
	font-family: Arial, Helevetica, Sans-Serif;
	font-size: 11px;
}
#global_header_wrapper { font-size: 12px; } /* CR 21743 */
#global_header_wrapper a /* 21246 */
{
	text-decoration: none;
	color: #888;
}
#footer_wrapper a { color: #888; text-decoration:underline; } /* 21246 */
#global_header_wrapper a:hover, #footer_wrapper a:hover, #footer_wrapper a:focus, #footer_wrapper .footer_links_list a:focus div /* :focus and :focus div for 18484 */
{
	color: #ffffff;
}
a.arrow_link
{
	background: url('img/link_arrow.gif') 100% 0 no-repeat;
	padding-right: 7px;
	font-size: 10px;
}
a.arrow_link:hover
{
	background-position: 100% -11px;
	color: #888;
}
.text_input_bg
{
	background: #edeeee; /* CR 21743 */
	height: 25px; /* CR 21743 */
	display: block;
	margin-right: 9px;

	-moz-border-radius: 3px; /* CR 21743 */
	/* -webkit-box-shadow: 2px 2px 2px 2px; CR 20471 */
	border-radius: 3px; /* CR 21743 */

	/*behavior: url(/skins/common/js/PIE.htc); CR 21743 */
}

.text_input_bg input
{
	background: none; /* CR 21743 */
	border: none;
	margin: 0;
	padding: 6px 8px; /* CR 21743 */
    width: 172px; /* CR 21743 */
}
#my_reservation_panel .text_input_bg input
{
	width: 172px; /* CR 21743 */
}
#loader_container
{
	width: 970px;
	margin: 0 auto;
	display: none;
}
.spinner
{
	width: 16px;
	height: 16px;
	/*background: url('img/spinner.gif') 0 0 no-repeat;*/ /* 23256 */
	display: block;
    position: absolute;
    margin: 8px;
}
/****************
* Global Header XA
****************/
#global_header_wrapper
{
	position: absolute;
	top: 0;
	left: 0; /* CR 21743 */
	width: 100%;
	z-index: 200; /* CR 21743 */
	line-height: 1.2;
	background: #395c7a; /* CR 21743 */
	height: 38px; /* CR 21743 */
}
.header_row
{
	/* border-bottom: solid 1px #696969; CR 21743 */
	width: 100%;
	/* background-color: #3A5C78; CR 21743 */
	position: relative;
	z-index: 5;
}

/****************
* top row
****************/
.header_content_container
{
	width: 970px;
	height: 38px; /* CR 21743 */
	margin: 0 auto;
	/* border-left: solid 1px #696969; CR 21743 */
	/* border-right: solid 1px #696969; CR 21743 */
	color: #b8b7b7; /* color: #CECECE; CR 21743 */
	background: #33536f; /* CR 21743 */
	position: relative; /* CR 21743 */
}

* html .header_content_container
{
	height: auto;
	padding-bottom: 3px;

}

#global_header_wrapper a
{
	color: #FFF; /* color: #bc9d5f;	CR 20471 */
}

#global_header_wrapper a:hover
{
	color: #CECECE; /* color: #ffffff; CR 20471 */
}

/* prj lifetime diamond - 24469 */
#hhonors_logo_link,
#user_nav + #hhonors_dock_logo
{
	/*
	display: inline-block;
	float: left;
	*/
	position: absolute; /* prj lifetime diamond */
	top: 0; /* prj lifetime diamond */
	right: 0; /* prj lifetime diamond */
}

#global_header_wrapper .custom_button
{

	color:#fff;
	padding: 0 40px; /* padding: 0 5px 0 10px; CR 21743 */
	height: 21px; /* height: 20px; CR 21743 */
	/* margin-right: 8px; CR 21743 */
	line-height: 21px; /* line-height: 18px; CR 21743 */
	font-size: 12px; /* font-size: 11px; CR 21743 */
	/* font-weight: bold; CR 21743 */
	text-transform: uppercase; /* CR 21743 */
	cursor: pointer;
	white-space: nowrap;
	position:relative;
	border: 2px solid #a0acb7; /* CR 21743 */
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background: #80a1b6; /* background: #747474; CR 21743 */
/*	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#747474), to(#474747));
	background: -moz-linear-gradient(#747474, #474747);
	background: linear-gradient(#747474, #474747); CR 21743 */

	/* needs to be absolute path */
	/*-pie-background: linear-gradient(#747474, #474747); CR 21743 */

	/*behavior: url(/skins/common/js/PIE.htc); CR 21743 */
}

.custom_button .text
{
	float: left;
}

.custom_button .arrow_icon
{
	background: url('img/button_arrow.png') no-repeat;
	width: 8px;
	height: 8px;
	display: none; /* display: block; CR 21743 */
	float: left;
	margin: 6px 0 0 10px;
}

#global_header_wrapper .custom_button:hover,
#global_header_wrapper .custom_button:focus /* CR 21743 */
{

	color:#fff;

	background: #2f2f2f; /* background: #444; CR 21743 */
	border-color: #1b2b39; /* CR 21743 */
/*	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#747474), to(#000000));
	background: -moz-linear-gradient(#747474, #000000);
	background: linear-gradient(#747474, #000000); CR 21743 */

	/* needs to be absolute path */
	/*-pie-background:  linear-gradient(#747474, #000000); CR 21743 */

	/*behavior: url(/skins/common/js/PIE.htc); CR 21743 */
}

#login_go { margin-left: 14px; } /* CR 21743 */

#utility_links_list
{
	padding: 0; /* padding: 8px 0 0; CR 21743 */
	margin: 0;
	list-style: none;
	/* float: left; */ /* prj lifetime diamond */
	position: absolute; /* prj lifetime diamond */
	top: 0; /* prj lifetime diamond */
	left: 0; /* prj lifetime diamond */
}
#utility_links_list li
{
	padding: 0; /* padding: 0 8px; CR 21743 */
	margin: 0;
	display: inline;
	font-size: 12px; /* font-size: 11px; CR 21743 */
}
.jsDisabled #my_reservations /* CR 21743 */
{
	visibility: visible;
}
#utility_links_list #my_reservations,
#utility_links_list #my_reservations_in { /* CR 21743 */
	border-right: 1px solid #395c7a;
	float: left;
	padding: 12px 18px 12px 20px;
}
#utility_links_list #my_reservations.selected,
#utility_links_list #my_reservations:hover,
#utility_links_list #my_reservations_in.selected,
#utility_links_list #my_reservations_in:hover /* CR 21743 */
{
	/*border-right: solid 1px #474746;
	border-bottom: solid 1px #1C1C1C;
	float: left;
	margin-top: -8px;
	padding: 8px 11px 8px 8px; CR 21743 */
	background: #2c4860; /* CR 21743 */
	color: #FFF; /* CR 21743 */
}

#utility_links_list #sign_up_for_promotions
{
	/*border-right: 1px solid #395c7a; CR 21743*/
	visibility: hidden;
}
#utility_links_list #sign_up_for_promotions a { /* CR 21743 */
	border-right: 1px solid #395c7a;
	float: left;
	padding: 12px 18px;
}
#utility_links_list #sign_up_for_promotions a:hover { /* CR 21743 */
	background: #2c4860;
	color: #FFF;
}
.logged_out #utility_links_list #sign_up_for_promotions { display: none; } /* CR 21743 */

#dock_right_items_container
{
	/* position: absolute; */ /* CR 21743 */  /* prj lifetime diamond */
	/* top: 0; */ /* CR 21743 */
	/* right: 0; */ /* CR 21743 */  /* prj lifetime diamond */
	margin-left: 254px;  /* prj lifetime diamond */
}
.jsDisabled .logged_out #dock_right_items_container { min-width: 235px; }
#user_nav
{
	float: right;  /* prj lifetime diamond */
	/*padding: 8px 0 0; CR 21743 */
	margin-right: 101px;  /* prj lifetime diamond */
}
.logged_in #user_nav { /* CR 21743 */
	/* width: 578px; */  /* prj lifetime diamond */
	float: none;  /* prj lifetime diamond */
}
.logged_out #user_nav .logged_out_view
{
	display: block;
}
.logged_out #user_nav .logged_in_view
{
	display: none;
}
.logged_in #user_nav .logged_out_view
{
	display: none;
}
.logged_in #user_nav .logged_in_view
{
	display: block;
	text-align: right; /* CR 21743 */
	*padding-right: 83px;
	*margin-top: -14px;
}
#user_nav a {
	float: left;
	padding: 12px 0;
}
#user_nav a:hover { /* CR 21743 */
	color: #FFF;
	background: #2c4860;
}
#user_nav #welcome /* CR 21743 */
{
	/*border-right: solid 1px #696969; CR 21743 */
	padding: 12px 6px; /* padding-right: 8px; CR 21743 */
	/*margin-right: 6px; CR 21743 */
	position: relative;
	top: 12px;
	*top: 26px;
}
#user_nav #sign_in.selected
{
	border-left: solid 1px #696969; /* border-left: solid 1px #474746; CR 20471 */
	border-right: solid 1px #696969; /* border-right: solid 1px #474746; CR 20471 */
	border-bottom: solid 1px #696969; /* border-bottom: solid 1px #1C1C1C; CR 20471 */
	float: left;
	margin-top: -8px;
	padding: 8px 11px 8px 8px;
}
#user_nav #sign_in, /* CR 21743 */
#user_nav #explore_benefits,
#user_nav #sign_out
{
	/* margin: 0 8px 0 0; CR 21743 */
	padding-left: 16px; /* CR 21743 */ /* prj lifetime diamond */
	padding-right: 16px; /* CR 21743 */ /* prj lifetime diamond */
	border-left: 1px solid #395c7a; /* CR 21743 */
}
#user_nav #sign_in { border: 0; } /* CR 21743 */
#user_nav #sign_out
{
	float: right; /* CR 21743 */
}
#user_nav .point_status, #user_nav .not_member, #user_nav #my_account
{
	/*margin-right: 5px; CR 21743 */
}
#user_nav .point_status { /* CR 21743 */
	border-left: 2px solid #81919f;
	padding-left: 6px;
	padding-right: 18px; /* prj lifetime diamond */
	position: relative;
	top: 12px;
	*top: 26px;
}
#user_nav #my_account { /* CR 21743 */
	border-right: 1px solid #395c7a;
	padding: 12px 20px;
}
#user_nav #my_account.selected { /* CR 21743 */
	background: #2c4860;
}
#hhonors_dock_logo
{
	float: left;
	border-left: 1px solid #395c7a; /* CR 21743 */
	display: block;
	padding: 11px 14px 10px 11px; /* CR 21743 */
}
#hhonors_dock_logo:hover { background: #2c4860; } /* CR 21743 */
#dock_right_items_container #dock_control
{
	float: left;
}
#dock_control
{
	float: left;
	height: 29px;
	display: none; /* display: block; CR 21743 */
	cursor: pointer;
	background: url('img/dock_icon_arrow_down.gif') 0 -29px no-repeat;
	border-left: solid 1px #696969; /* border-left: solid 1px #474746; CR 20471 */
	width: 18px;
	text-indent: 100%; /* CR 19170 */
	white-space: nowrap; /* CR 19170 */
	overflow: hidden; /* CR 19170 */
}
#dock_control.opened
{
	background: url('img/dock_icon_arrow_up.gif') 0 -29px no-repeat;
}
#dock_control:hover
{
	background-position: 0 0;
}

#expanded_area
{
	display: none; /* CR 21743 */
	/* top: -30px; CR 21743 */
	z-index: 3;
	font-size: 11px; /* CR 21743 */
	margin: 0 auto; /* CR 21743 */
	width: 970px; /* CR 21743 */
}

#expanded_area .header_content_container
{
	background: #2c4860; /* CR 21743 */
	border-left: none;
	border-right: none;
	position: relative; /* CR 21743 */
	margin: 8px 0 0; /* CR 21743 */
}

#expanded_area .header_content_container:before,
#login_form .header_content_container:before { /* CR 21743 */
	background: url(/skins/common/dark_brand/img/dock_content_arrow.png) no-repeat;
	content: '';
	display: block;
	height: 6px;
	position: absolute;
	width: 13px;
	top: -6px;
	left: 0;
}

#expanded_area .header_content_close,
#login_form .header_content_close { /* CR 21743 */
	background: url(/skins/common/dark_brand/img/dock_content_close.jpg) no-repeat;
	position: absolute;
	top: 1px;
	right: 1px;
	height: 35px;
	width: 35px;
	text-indent: 100%;
	overflow: hidden;
	white-space: nowrap;
}

/****************
* login form row
****************/
#login_view
{
	/* display: none; CR 21743 */
	margin-right: 160px; /* CR 21743 */
	float: right; /* CR 21743 */
	width: 657px; /* CR 21743 */
}
#login_view.selected {
	background: #2c4860; /* CR 21743 */
}
#login_form
{
	float: right;
	/* margin-top: 5px; CR 21743 */
	line-height: 19px;
	position: relative; /* CR 21743 */
	margin : 6px 30px 7px 24px; /* CR 21743 */
}
#login_form label
{
	/* float: left;
	margin-right: 8px; CR 21743 */
	position: absolute; /* CR 21743 */
	top: 4px; /* CR 21743 */
	left: 8px; /* CR 21743 */
	font-size: 11px; /* CR 21743 */
}
#login_form label.passwordLabel { left: 203px; } /* CR 21743 */

#login_form .text_input_bg
{
	float: left;
}

#chkRemember, #login_go
{
	float: left;
}
#chkRemember
{
	vertical-align: center;
}
#login_form #remember_label
{
	color: #ebebeb; /* color: #FFF; CR 21743 */
	/* margin: 0 5px 0 4px; CR 21743 */
}
#login_form .header_content_container { /* CR 21743 */
	display: none;
	background: #2c4860;
	padding: 8px 35px 8px 17px;
	position: absolute;
	top: 41px;
	height: auto;
	width: auto;
}
#login_form .header_content_container:before { /* CR 21743 */
	left: 18px;
}
#login_form .header_content_container label { /* CR 21743 */
	position: static;
}
#login_form .header_content_close { top: 0; right: 0; } /* CR 21743 */
#login_go
{

}
#global_header_wrapper #forgot_password { /* CR 21743 */
	margin-right: 11px; /* 18px; CR 21743 */
	/* border-left: solid 1px #696969; CR 21743 */ /* border-left: solid 1px #474746; CR 20471 */
	padding-left: 16px; /* 6px; CR 21743 */
	text-decoration: underline; /* CR 21743 */
	color: #ebebeb; /* CR 21743 */
	font-size: 11px; /* CR 21743 */
}
#account_view.header_content_container
{
	height: auto;
	display: none;
}
#account_view.header_content_container:before { left: 300px; } /* CR 21743 */ /* prj lifetime diamond */
#login_error_view.header_content_container
{
	height: auto;
	display: none;
}
.login_error_message
{
	padding: 8px;
	display: block;
}

/********
* Login Fast Res View
********/
#my_reservation_panel
{
	height: auto;
	display: none;
	width: 872px; /* CR 21743 */
}
#my_reservation_panel.header_content_container:before { left: 58px; } /* CR 21743 */
#my_reservation_panel form
{
	margin: 0;
	padding: 0;
}
* html #my_res_login_form, * html #view_res_form
{
	width: 335px;
}
#my_res_login_form, #view_res_form, #view_res_msg, #existing_travel_links_container
{
	float: left;
	padding: 16px 0 21px; /* padding: 8px; CR 21743 */
}
#view_res_form { /* CR 21743 */
	padding-left: 21px;
	padding-right: 16px;
}
#view_res_msg { /* CR 21743 */
	padding: 59px 0 0;
	width: 255px;
}
#view_res_msg .col { float: left; } /* CR 21743 */
#view_res_msg .c1 { font-size: 12px; padding-top: 6px; width: 49px; } /* CR 21743 */
#view_res_msg .c2 { width: 140px; } /* CR 21743 */
.column_header
{
	/* font-weight: bold; CR 21743 */
	display: block; /* CR 21743 */
	padding-bottom: 5px; /* CR 21743 */
}
/* CR 21743 .stay_details
{
	padding-right: 8px;
}*/
#my_res_login_form div, #view_res_form div
{
	margin-top: 8px; /* margin-top: 6px; CR 21743 */
	position: relative; /* CR 21743 */
}
#my_reservation_panel label
{
	/* float: left; CR 21743 */
	width: 172px; /* width: 120px; CR 21743 */
	text-align: left; /* text-align: right; CR 21743 */
	/* padding-right: 10px; CR 21743 */
	position: absolute; /* CR 21743 */
	left: 8px; /* CR 21743 */
	top: 6px; /* CR 21743 */
	font-size: 11px; /* CR 21743 */
	color: #aaa; /* CR 21743 */
}
#view_res_form label
{
	width: 188px; /* width: 97px; CR 21743 */
}
#my_reservation_panel .text_input_bg
{
	width: 188px; /* width: 115px; CR 21743 */
	float: left;
}
#my_reservation_panel .custom_button
{
	float: left;
	top: -15px; /* CR 21743 */
}
#existing_travel_links_container
{
	margin-left: 37px; /* margin-left: 8px; CR 21743 */
}
#existing_travel_links_container ul
{
	margin: 0;
	padding: 2px 0 0 0;
	list-style: none;
}
#existing_travel_links_container li
{
	margin-top: 4px;
}

/****************
* login view
****************/
.account_container
{
	float: left;
	padding: 12px 16px; /* CR 21743 */
	line-height: 15px;
	width: 245px; /* CR 21743 */
}
.account_container:first-child { /* CR 21743 */
	padding-left: 23px;
}
.account_container:first-child + .account_container { /* CR 21743 */
	border-left: 1px solid #395c7a;
	border-right: 1px solid #395c7a;
	min-height: 75px;
}
#global_header_wrapper .account_container a { /* CR 21743 */
	text-decoration: underline;
}
#global_header_wrapper .account_container .digital-key-indicator a {
	text-decoration: none; /* -str- */
}
#next_stay .custom_button { /* CR 21743 */
	float: left;
	padding: 0 11px;
	margin-top: 15px;
}
.my_account_message { /* CR 21743 */
	clear: both;
	color: #81a1b6;
	margin: 0;
	padding-top: 12px;
	white-space: nowrap;
}
.manage_link_list
{
	margin: 3px 0 0 0;
	padding: 0;
	list-style: none;
	line-height: 9px;
}
.manage_link_list li
{
	float: left;
	margin-right: 6px;
	padding-right: 6px;
	border-right: solid 1px #696969; /* border-right: solid 1px #474746; CR 20471 */
}
.manage_link_list li.last
{
	border-right: none;
	margin-right: 0;
}
.hhonors_copy
{
	float: left;
	width: 192px;
	margin-right: 6px;
}
#join_hhonors_container
{
	display: none;
}
#global_header_wrapper #join_hhonors_button
{
	float: left;
	margin: 20px 0 0;
}
/****************
* Progress Bar
****************/
#account_view #my_account_progress .diamondCompleteUser img {
	-moz-box-shadow: 3px 3px 10px #c4c4c4;
	-webkit-box-shadow: 3px 3px 10px #c4c4c4;
	box-shadow: 3px 3px 10px #c4c4c4;
	behavior: url(/skins/common/js/PIE.htc);
    border: 3px solid #FFFFFF;
	width:150px;
	margin:5px 10px 0 0;
	padding:0px;
}

#my_account_progress {
	float: left;
	position:relative;
	margin: 0 0 0 0;
	padding: 0 0 20px 16px; /* CR 21743 */
	width: 350px; /* CR 21743 */
}
/*.account_container { width:290px; } CR 21743 */

/* my account progress bar */
#my_account_progress .bar_section { float: left; }
#my_account_progress .progress_section { width:100%; }
#my_account_progress .progress_bar, #my_account_progress .bar_section { height:22px; }
/* removed bg image - prj lifetime diamond */
#my_account_progress .blue { background-color:#4d7b99; } /* prj lifetime diamond */
#my_account_progress .silver { background-color:#aaac9a; } /* prj lifetime diamond */
#my_account_progress .gold { background-color:#eab02a; } /* prj lifetime diamond */
#my_account_progress .diamond { background-color:#d5d5d4; } /* prj lifetime diamond */

/* CR 24545 */
#my_account_progress.isTeamMember .blue {
	background-image: url("/skins/common/light_brand/img/blackstripe.png");
	background-repeat: repeat;
}
/* End CR 24545 */

#my_account_progress .bar_section .label {
	color:#fff;
	text-transform:uppercase;
	font-size:9px;
	margin:4px 0 0 4px;
	display: none; /* prj lifetime diamond */
}
#my_account_progress .current_progress {
	background: url('/skins/en_US/HH/img/my_account_info/progress_bar_indicator_arrow.png') 0 0 no-repeat;
	width: 17px; /* prj lifetime diamond */
	height: 47px; /* prj lifetime diamond */
	position: absolute;
	/* top:-5px; */ /* prj lifetime diamond */
	top: -2px; /* CR 24545 */
	z-index:5;
	margin-left: -9px; /* CR 16441 */
	pointer-events: none; /* prj lifetime diamond */
}
#my_account_progress .hhonors_tip {
	position: absolute;
	visibility: hidden;
	z-index: 200;
	top:25px; /* prj lifetime diamond */ /* 24545 */

}
#my_account_progress .level_tooltip {
	position: absolute;
	width: 200px; /* prj lifetime diamond */
	background: white;
	padding: 10px;
	color: #333;
	-moz-border-radius: 5px;
	-webkit-box-shadow: 5px;
	border-radius: 5px;

	/* behavior: url(/skins/common/js/PIE.htc);	*/ /* CR 18414 */
}
#my_account_progress .level_tooltip .tooltip_label { /* prj lifetime diamond */
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 4px;
}
.arrow_top
{
	background: url('img/tool_tip_arrow_top.png') 0 0 no-repeat;
	width: 19px;
	height: 10px;
	position: absolute;
	top: -10px;
}
#my_account_progress .diamond .hhonors_tip { left:95px; } /* prj lifetime diamond */
#my_account_progress .diamond .hhonors_tip .arrow_top { right:18px; }

#my_account_progress .diamondCompleteUser { display:none; }

#my_account_progress .info {}
#my_account_progress .info a.overlay { background-image:none; padding-right:0px; }


#my_account_existingRes { margin-bottom: 20px; }
.progress_bar_nav {
	margin: 6px 0 4px 0; /* prj lifetime diamond */
	}
.progress_bar_nav p {
	margin-top: 1em; /* CR 20471 */
	font-size: 12px; /* prj lifetime diamond */
}
.progressBarCaption {
	color: #fff; /* prj lifetime diamond */
	font-size: 14px;
	text-transform: uppercase;
}
.progress_bar_nav a { text-decoration: underline !important }
.progress_bar_nav a.selected {
	/* font-weight:bold; /* /* prj lifetime diamond */
	cursor: default;
	outline: 0;
	text-decoration: none !important;
	color: #cecece; /* prj lifetime diamond */
}
body #global_header_wrapper .progress_bar_nav a.selected {
	color: #cecece; /* prj lifetime diamond */
}
.progress_bar_nav a.selected:hover {
	color: #cecece !important; /* color: #B38323 !important; CR 20471 */  /* prj lifetime diamond */
	}
p.progress_bar_nav {
	float: left;
	}
.progress_graph p{
	/* width: 85%; */ /* prj lifetime diamond */
	float: left;
	margin: 0;
}
.progress_graph .info{
	width: 15%;
	float: left;
	text-align: right;
}
.progress_graph .overlay-content{
	display: none;
}
#my_account_progress p {
	margin-bottom: 0;
	font-size: 13px; /* prj lifetime diamond */
	font-family: Arial, Helevetica, sans-serif; /* prj lifetime diamond */
	margin-top: 1em; /* prj lifetime diamond - search pages */
	}
#my_account_progress .progress_bar_nav p {
	font-size: 12px; /* prj lifetime diamond */
}
#my_account_progress .progress_bar_nav p.progressBarCaption {
	font-size: 13px; /* prj lifetime diamond */
}
#my_account_progress p strong {
	color: #fff; /* prj lifetime diamond */
	text-transform: uppercase; /* prj lifetime diamond */
	font-weight: normal; /* prj lifetime diamond */
}
.my_acct_progress_bar {
	width: 315px;
	background-color: #FFF;
	height: 22px; /* prj lifetime diamond */
	margin:10px 0 25px 0; /* prj lifetime diamond */
	padding: 3px; /* CR 24545 */
	position:relative;
	}
.progress_full {
	position:relative;
	width: 315px;
	height: 18px;
	background-color: transparent;
	background-image: url(/skins/en_US/HH/img/my_account_info/bg_progress_bar.png);
	background-repeat:no-repeat;
	background-position:0 -2px;
	}
.progress_background {
	z-index: 2;
	width: 261px;
	height: 18px;
	}
#account_view .progress_background span.label {
	position:absolute;
	right:18px;
	top:1px;
	color:#a09f9b;
	font-size:10px;
	font-weight:normal;
	text-transform:uppercase; }
#account_view .progress_background .progress_background span.label {
	position:absolute;
	color:#515049;
	left:5px; }
.progress_background.blue {
	background-image: url("/skins/en_US/HH/img/my_account_info/bg_progress_blue.gif");
}
#account_view .progress_background.blue span.label { color:#fff; }
.progress_background.silver {
	background-image: url("/skins/en_US/HH/img/my_account_info/bg_progress_silver.gif");
}
.progress_background.gold {
	background-image: url("/skins/en_US/HH/img/my_account_info/bg_progress_gold.gif");
}
.progress_background.diamond {
	background-image: url("/skins/en_US/HH/img/my_account_info/bg_progress_diamond.gif");
}
.progress_gold {
	z-index: 1;
	height: 18px;
	background-color: transparent;
	background-image: url(/skins/en_US/HH/img/my_account_info/progress_bar_gold.gif);
	background-repeat:no-repeat;
	}
img.progress_indicator_arrow_top {
	position: absolute;
	background-color: transparent;
	width: 19px;
	height: 11px;
	left: 253px;
	top: -6px;
	}
img.progress_indicator_arrow_bottom {
	position: absolute;
	background-color: transparent;
	width: 19px;
	height: 11px;
	left: 0;
	top: 13px;
	}
p.progress_bar_text {
	margin: 0 0 0 180px;
	font-style:italic;
	}
.progress_info_circle {
	position: absolute;
	top: -35px;
	left: 245px;
	width: 69px;
	height: 77px;
	background-image:url("/skins/en_US/HH/img/my_account_info/progress_info_circle.png");
	background-repeat:no-repeat;
	}
.progress_info_circle p {
	text-align: center;
	margin: 22px 0 0 0;
	color:#FFF;
	font-size: 14px;
	font-weight:bold;
	line-height: 12px;
	}

/* *********************************** */
/* prj lifetime diamond */
/* *********************************** */
#global_header_wrapper .lifetimeDiamondUserOverview {
	display:none;
}
#global_header_wrapper .lifetimeDiamondUserOverview .statusStatement {
	font-size: 12px;
}
#global_header_wrapper .lifetimeDiamondUserOverview .statusStatement .statusLTD {
	display:block;
	font-family: Arial,sans-serif;
	font-size: 19px;
	text-transform: uppercase;
	font-weight: normal;
	line-height: 1;
	color: #fff;
}
#global_header_wrapper .lifetimeDiamondUserOverview .lifetimeStats {
	margin-bottom: 10px;
}
#global_header_wrapper .lifetimeDiamondUserOverview .lifetimeStats p {
	font-size: 11px;
}
#global_header_wrapper .lifetimeDiamondUserOverview .lifetimeStatsPoints {
	float:left;
	width: 36%;
}
#global_header_wrapper .lifetimeDiamondUserOverview .lifetimeStatsStays {
	float:left;
	width: 30%;
}
#global_header_wrapper .lifetimeDiamondUserOverview .lifetimeStatsNights {
	float:left;
	width: 33%;
}
#global_header_wrapper .lifetimeDiamondUserOverview .statsValue {
	display:block;
	font-family: 'Frutiger Neue W01 Light','Calibri',Arial,sans-serif;
	font-size: 19px;
	font-weight: normal;
	line-height: 1;
	color: #fff;
}
#global_header_wrapper .showLTD .progress_bar_nav,
#global_header_wrapper .showLTD .nondiamondCompleteUser,
#global_header_wrapper .showLTD .diamondCompleteUser {
	display:none;
}
#global_header_wrapper .showLTD .lifetimeDiamondUserOverview {
	display:block;
}

/* *********************************** */
/* end prj lifetime diamond */
/* *********************************** */


/******************************************************************************************************************
 alert bar CR 21743 - moved from each brand to global_xa
******************************************************************************************************************/
#alertbar {
    /* background-color: #02182f; CR 21743 */
    /* display: none; CR# 17945 */
    height: 0;
    width: 100%;
	z-index: 199; /* CR 21743 */
	position: absolute; /* relative; CR 21743 */ /* Added in CR# 17945 */
	top: 38px; /* CR 21743 */
}

#alertbar .wrapper {
	/* border-left: 1px solid #001324; CR# 17945 */
	/* border-right: 1px solid #001324; CR# 17945 */
	margin: 0 auto;
    height: 100%;
    width: 970px;
}

ul.alerts {
	margin: 0;
	padding: 0;
	position: absolute;
	z-index: 40;
	width: 970px;
	/* overflow: hidden; CR# 17945 */
	zoom: 100%;
	height: 100%; /*background: #FFF; CR 21743*/ /* Added in CR# 17945 */
	list-style-type: none; /* CR 21743 */
}

li.alert {
	/* border-right: 1px solid #001324; CR# 17945 */
    cursor: pointer;
    position: relative;
    overflow: hidden;
    background-color: #02182f;
    height: 0;
    float: left;
    /*margin-right: 1px; CR 21743*/
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
li.alert.last {
	/* border-right: none; CR# 17945 */
    margin-right: 0;
}
li.alert div {
	display: block;
	margin: 0 45px; /* CR# 17945 margin: 0 25px; */
}
li.alert div.alert-container {
	padding-top: 6px; /* CR 21743 */
	padding-bottom: 11px; /* CR 21743 */
	border-bottom: 1px solid #666;
	height: 18px; /* CR 21743 */
	overflow: hidden; /* CR 21743 */
}
li.alert.open div.alert-container {
	height: auto;
}
li.alert span.expand-icon {
    height: 35px; /* CR 21743 */
    width: 35px;  /* CR 21743 */
    margin: 0;
    padding: 0;
    /* background: url("/skins/en_US/HI/img/alerts/alert_closed-std.png") no-repeat 0px 0px; CR 21743 */

    position: absolute;
    top: 0; /* CR 21743 */
    right: 0; /* CR 21743 */
}
li.red.alert span.expand-icon { background: url(/skins/common/img/alerts/red_alert-min-max.png) no-repeat; }
li.yellow.alert span.expand-icon { background: url(/skins/common/img/alerts/yellow_alert-min-max.png) no-repeat; }
li.green.alert span.expand-icon { background: url(/skins/common/img/alerts/green_alert-min-max.png) no-repeat; }

li.alert p,
li.alert a {
	font-size: 12px; /* CR# 17945 font-size: 10px; */
	font-family: Arial, Helevetica, Sans-Serif; /* Added in CR# 17945 */
}
li.alert p {
    line-height: 2em; /* CR# 17945 line-height: 1.7em; */
    color: #000; /* CR# 17945 color: #fff; */
    margin: 0;
    display: block;
	margin: 0 0 10px 0 !important;
}
li.alert div
{
	line-height: 1.7em; /* CR# 17945 line-height: 1.6em; */
    color: #fff;
    font-size: 11px; /* CR# 17945 font-size: 10px; */
}
li.alert a,
li.alert a:active,
li.alert a:visited {
    /* display: block; CR 21743 */
	color: #202020; /* CR# 17945 color: #35b5f4; */
	text-decoration: underline; /* CR# 17945 text-decoration: none; */
}
li.alert a:hover {
	color: #666; /* CR# 17945 color: #fff; */
	text-decoration: none; /* Added in CR# 17945 */
}

li.red.alert {
	background: #F7C3C3 url(/skins/common/img/alerts/red_alert-icon.png) no-repeat 9px 2px; /* CR 21743 */
	border: 2px solid #E63737; /* CR 21743 */
}
li.yellow.alert {
	background: #FFFCBF url(/skins/common/img/alerts/yellow_alert-icon.png) no-repeat 9px 2px; /* CR 21743 */
	border: 2px solid #EFC25C; /* CR 21743 */
}
li.green.alert {
	background: #D4EAC8 url(/skins/common/img/alerts/green_alert-icon.png) no-repeat 9px 2px; /* CR 21743 */
	border: 2px solid #71BB48; /* CR 21743 */
}
li.alert.shadow:after { /* CR 21743 */
    -moz-box-shadow: 0 0px 10px 0px rgba(0,0,0,0.2); /* CR# 17945 -moz-box-shadow: 0 0px 12px 0px rgba(0,0,0,0.65); */
    -webkit-box-shadow: 0 0px 10px 0px rgba(0,0,0,0.2); /* CR# 17945 -webkit-box-shadow: 0 0px 12px 0px rgba(0,0,0,0.65); */
    box-shadow: 0 0px 10px 0px rgba(0,0,0,0.2); /* CR# 17945 box-shadow: 0 0px 12px 0px rgba(0,0,0,0.65); */
}
/* li.alert.open span.expand-icon { background: url("/skins/en_US/HI/img/alerts/alert_opened-std.png") no-repeat 0px 0px; } CR 21743 */
li.red.alert.open span.expand-icon,
li.yellow.alert.open span.expand-icon,
li.green.alert.open span.expand-icon { background-position: 0 100%; } /* CR 21743 */

li.alert div.close-link-wrapper {
	padding: 7px 0 9px; /* CR 21743 */
	/* height: 26px; CR 21743 */
	line-height: 22px;
	/* display: inline-block; CR 21743 */
	float: left;
	display: none; /* CR 21743 */
}
li.alert.open div.close-link-wrapper { /* CR 21743 */
	display: block;
}
li.alert a.close-link {
	display: inline-block;
	line-height: 24px; /* CR 21743 */
	height: 23px; /* CR 21743 */
	background: #666; /* CR 21743 */
	padding: 0 29px 0 20px; /* CR 21743 */
	color: #FFF; /* Added in CR# 17945 */
	text-decoration: none; /* Added in CR# 17945 */
	-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; /* CR 21743 */
	border: 1px solid #242424; /* CR 21743 */
}
li.alert a.close-link:before {
	content: 'X';
	float: left;
	margin-right: 9px;
}
li.alert a.close-link:hover { background: #2f2f2f; color: #FFF; } /* CR 21743 */
li.red.alert div.alert-container { border-bottom: 2px solid rgba(230,55,55,.5) !important; border-bottom: 2px solid #E63737; } /* CR 21743 */
li.yellow.alert div.alert-container { border-bottom: 2px solid rgba(255,211,36,.5) !important; border-bottom: 2px solid #FFD324; } /* CR 21743 */
li.green.alert div.alert-container { border-bottom: 2px solid rgba(113,187,72,.5) !important; border-bottom: 2px solid #71BB48; } /* CR 21743 */

/****************
* Footer
****************/
.temp_push{
	height: 200px;
}
#footer_wrapper
{
	width: 970px;
	margin: 0 auto;
	padding-top: 30px; /* CR 24291 */
}
#brand_bar
{
	padding: 14px 0 26px; /*26px 0; CR 24291 */
	border-bottom: solid 1px #222222;
}
#footer_logos
{
	margin: 0 10px 0 0;
	padding: 0;
	list-style: none;
	width: 970px; /* 21749 */
}
#footer_logos li
{
	margin: 0;
	padding: 0;
	float: left;
	position: relative;
}
#footer_logos li .footer_logo,
#brand_bar_hilton { /* CR 24291 */
    background: url("img/logo_brandbar.png") 0 0 no-repeat;
    display: block;
    height: 49px;
}
#brand_bar_HH
{
/* 21749 */
}
#brand_bar_hilton { /* CR 24291 */
	background-position: -996px -304px;
    margin: 0 auto;
    width: 111px;
    height: 41px;
}
#brand_bar_hilton:hover { /* CR 24291 */
	background-position: -996px -396px;
}
#footer_logos #brand_bar_HH a
{
	background: transparent url("img/logo_brandbar.png") 0 0 no-repeat; /* 21749 */
	background-position: -904px -302px;
	display: block;
	width: 66px; /* 21749 */
	height: 49px;
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (-moz-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {
	#footer_logos li .footer_logo,
	#brand_bar_hilton { /* CR 24291 */
		background-image: url("img/logo_brandbar@2x.png"); /* CR 24291 */
		background-size: 970px 470px; /* CR 24291 */
	}

	#footer_logos #brand_bar_HH a {
		background: url("img/logo_brandbar@2x.png") 0 0 no-repeat;
		background-size: 970px 470px; /* CR 24291 */
		background-position: -904px -209px;
		display: block;
		width: 66px; /* 21749 */
		height: 49px;
	}
}
#footer_logos #brand_bar_HH a:hover
{
	background-position: -904px -394px; /* 21749 */
}
#footer_logos .brand_name
{
	display: block;
	text-indent:-9999em;
	font-size: 0;
}
/* 21794 */
#footer_logos #brand_bar_WA .footer_logo {
	background-position: -62px -302px; /* 21749 */
	width: 56px;
}
#footer_logos #brand_bar_WA .footer_logo:hover {
	background-position: -62px -394px;
}

#footer_logos #brand_bar_CH .footer_logo {
	background-position: -118px -302px;
	width: 76px; /* 21749 */
}
#footer_logos #brand_bar_CH .footer_logo:hover {
	background-position: -118px -394px;
}
#footer_logos #brand_bar_PY .footer_logo {
	background-position: -194px -302px;
	width: 80px; /* 21749 */
}
#footer_logos #brand_bar_PY .footer_logo:hover {
	background-position: -194px -394px;
}
#footer_logos #brand_bar_QQ .footer_logo {
	background-position: -274px -302px;
	width: 74px; /* 21749 */
}
#footer_logos #brand_bar_QQ .footer_logo:hover {
	background-position: -274px -394px;
}
#footer_logos #brand_bar_HI .footer_logo {
	background-position: 0 -302px; /* 21749 */
	width: 62px; /* 21749 */
}
#footer_logos #brand_bar_HI .footer_logo:hover {
	background-position: -0px -394px;
}
#footer_logos #brand_bar_DT .footer_logo {
	background-position: -348px -302px; /* 21749 */
	width: 70px; /* 21749 */
}
#footer_logos #brand_bar_DT .footer_logo:hover {
	background-position: -348px -394px;
}
#footer_logos #brand_bar_ES .footer_logo {
	background-position: -418px -302px;
	width: 66px;
}
#footer_logos #brand_bar_ES .footer_logo:hover {
	background-position: -418px -394px;
}
#footer_logos #brand_bar_GI .footer_logo {
	background-position: -484px -302px; /* 21749 */
	width: 78px;
}
#footer_logos #brand_bar_GI .footer_logo:hover {
	background-position: -484px -394px;
}
#footer_logos #brand_bar_HP .footer_logo {
	background-position: -562px -302px; /* 21749 */
	width: 66px;
}
#footer_logos #brand_bar_HP .footer_logo:hover {
	background-position: -562px -394px;
}
#footer_logos #brand_bar_RU .footer_logo {
	background-position: -628px -302px; /* 21749 */
	width: 54px;
}
#footer_logos #brand_bar_RU .footer_logo:hover {
	background-position: -628px -394px;
}
#footer_logos #brand_bar_HW .footer_logo {
	background-position: -682px -302px; /* 21749 */
	width: 72px; /* 21749 */
}
#footer_logos #brand_bar_HW .footer_logo:hover {
	background-position: -682px -394px;
}
#footer_logos #brand_bar_HT .footer_logo {
	background-position: -754px -302px; /* 21749 */
	width: 68px; /* 21749 */
}
#footer_logos #brand_bar_HT .footer_logo:hover {
	background-position: -754px -394px;
}
#footer_logos #brand_bar_GV .footer_logo {
	background-position: -822px -302px;
	width: 82px;
}
#footer_logos #brand_bar_GV .footer_logo:hover {
	background-position: -822px -394px;
}

/* removal of 'about_brands' 21749 */


#footer_nav_container
{
	padding: 20px 10px;
	border-bottom: solid 1px #eeeeee;
}
#footer_nav_container ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}
.footer_column_list
{
	width: 237px;
	float: left;
	color: #28557c;
	font-size: 12px;
}
.footer_column_list ul a
{
	font-size: 10px;
	color: #888888;
}
.footer_column_list ul li
{
	margin-top: 5px;
}
#footer_bottom_container
{
	padding: 30px 10px;
}
.footer_links_list {
    font-size: 10px;
    list-style: none outside none;
    margin: 0 0 12px 0;
    padding: 0;
   	color: #888;
}
.link_list_container .footer_links_list
{
   	float:left;
}
#footer_bottom_container h6
{
	margin:0px;
	font-size:10px;
	color:#888;
}
.footer_links_list li,
#footer_bottom_container h6 {
   border-right: 1px solid #888888;
    float: left;
    line-height: 1;
    margin-bottom: 6px;
    margin-right: 6px; /* 21225 - was 8px */
    padding-right: 6px; /* 21225 - was 8px */
    white-space: nowrap;
    padding-top: 1px;
}
 /* 23679 */
.footer_links_list li.liadchoices {
	margin-left: 6px;
	padding-left: 6px;
	border-left: 1px solid #888888;
	height: 10px;
}
.footer_links_list li.liadchoices img {
	position: relative;
	top: -3px;
}
#footer_bottom_container h6
{
	padding-top:0px;
	padding-bottom:1px;
	border-right:none;
}
.link_list_title
{
	border-right: medium none;
	float:left;
}
.footer_links_list li.last {
    border-right: medium none;
    float: left;
    margin-right: 0;
    padding-right: 0;
}

.footer_links_list li.first {
    border-right: medium none;
    float: left;
}
.links_list_container .footer_links_list
{
	margin-bottom:0px;
}
.links_list_container
{
	margin-bottom:12px;
}

.brand_tooltip {
    bottom: 56px;
    position: absolute;
    width: 158px;
    z-index: 50;
    font-size: 11px;
    color: #999;
    line-height: 18px;
    padding: 10px 15px 10px 15px;

    background: #000;
    border: solid 1px #2f2f2f;

    -moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px; /* CR 21684 */
	border-radius: 4px 4px 4px 4px;

	/* visibility: hidden; 18484 - Removed style */

	behavior: url(/skins/common/js/PIE.htc);

}

* html .brand_tooltip
{
	border: solid 1px #2f2f2f;
	border-radius: 0;
}

.arrow_bottom
{
	background: url('img/brand_tooltip_arrow.gif') 0 0 no-repeat;
	width: 20px;
	height: 13px;
	display: block;
	left: 83px;
    position: absolute;
	width: 20px;
	bottom: -11px;
}
#footer_logos .brand_tooltip
{
	left: -9999px; /* left: -55px; 18484 - Removed style */
}
#footer_logos a.footer_logo:hover .brand_tooltip,
#footer_logos a.footer_logo:focus .brand_tooltip { left: -55px; } /* 18484 - Added style */
#footer_logos #brand_bar_HI a.footer_logo:hover .brand_tooltip,
#footer_logos #brand_bar_HI a.footer_logo:focus .brand_tooltip {left: -13px;}
#footer_logos #brand_bar_HI .brand_tooltip .arrow_bottom { left: 33px;}
#footer_logos #brand_bar_WA a.footer_logo:hover .brand_tooltip,
#footer_logos #brand_bar_WA a.footer_logo:focus .brand_tooltip {left: -62px;}
#footer_logos #brand_bar_CH a.footer_logo:hover .brand_tooltip,
#footer_logos #brand_bar_CH a.footer_logo:focus .brand_tooltip {left: -56px;}
#footer_logos #brand_bar_PY a.footer_logo:hover .brand_tooltip,
#footer_logos #brand_bar_PY a.footer_logo:focus .brand_tooltip {left: -54px;}
#footer_logos #brand_bar_QQ a.footer_logo:hover .brand_tooltip,
#footer_logos #brand_bar_QQ a.footer_logo:focus .brand_tooltip {left: -49px;}
#footer_logos #brand_bar_DT a.footer_logo:hover .brand_tooltip,
#footer_logos #brand_bar_DT a.footer_logo:focus .brand_tooltip {left: -58px;}
#footer_logos #brand_bar_ES a.footer_logo:hover .brand_tooltip,
#footer_logos #brand_bar_ES a.footer_logo:focus .brand_tooltip {left: -59px;}
#footer_logos #brand_bar_GI a.footer_logo:hover .brand_tooltip,
#footer_logos #brand_bar_GI a.footer_logo:focus .brand_tooltip {left: -57px;}
#footer_logos #brand_bar_HP a.footer_logo:hover .brand_tooltip,
#footer_logos #brand_bar_HP a.footer_logo:focus .brand_tooltip {left: -57px;}
#footer_logos #brand_bar_RU a.footer_logo:hover .brand_tooltip,
#footer_logos #brand_bar_RU a.footer_logo:focus .brand_tooltip {left: -68px;}
#footer_logos #brand_bar_HW a.footer_logo:hover .brand_tooltip,
#footer_logos #brand_bar_HW a.footer_logo:focus .brand_tooltip {left: -57px;}
#footer_logos #brand_bar_HT a.footer_logo:hover .brand_tooltip,
#footer_logos #brand_bar_HT a.footer_logo:focus .brand_tooltip {left: -57px;}
#footer_logos #brand_bar_GV a.footer_logo:hover .brand_tooltip,
#footer_logos #brand_bar_GV a.footer_logo:focus .brand_tooltip {left: -50px;}
/* 21749 */

.logged_out #utility_links_list .logged_out_view
{
      display: inline;
}
.logged_out #utility_links_list .logged_in_view
{
      display: none;
}
.logged_in #utility_links_list .logged_out_view
{
      display: none;
}
.logged_in #utility_links_list .logged_in_view
{
      display: inline;
}

.jsDisabled #user_nav, .jsDisabled #hhonors_dock_logo { display: inline-block; float: none; } /* CR 23147 */
.jsDisabled #dock_right_items_container #hhonors_logo_link { float: none; } /* CR 23147 */

/* style active links for IE7 and below */
a:active { outline:1px dotted #333; }

/* transitions - CR 21743
------------------------------------- */
.jsEnabled #global_header_wrapper a,
.jsEnabled #global_header_wrapper .custom_button {
	-moz-transition: .2s; -o-transition: .2s; -webkit-transition: .2s;  transition: .2s;
}
