.dj-mtmenu {
	padding-left:10px; /****prev 100 px***********/
	margin: 0; 
	list-style:none; 
	height: 40px; 
	background: none;
    position: relative;
	z-index: 500; 
	/*font-family: 'Open Sans', Helvetica, sans-serif;*/
       font-family:Verdana!important;
	width: 1024px;
	}
.dj-mtmenu li.dj-up {
	list-style:none outside; 
	display:block; 
	float:left;
	margin: 0;
	padding:0;
	padding-right:2px;
	background: url('../images/menu-bg.png') repeat-y scroll right top transparent;
	border: 0px solid  #fff/*#E1EAEF*/;
	/*border-right:1px solid  #ffffcd/*#fff/*#E1EAEF;*/;
	}
.dj-mtmenu li.first{ display:none;}
.dj-mtmenu li.last { border-right:none;}
.dj-mtmenu li.active,
.dj-mtmenu li.hover{ background: none; }

.dj-mtmenu li a.dj-up_a {
	display: block; 
	float:left;
	height: 40px;
	line-height: 40px;
	color:  #fff/*#E1EAEF*/;
	background:none/*#746355/* #002639/*#06365A*/;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	padding: 0 8px;
	cursor: pointer;
	}


.dj-mtmenu li a.dj-up_a span {
	float:left; 
	display:block;
	}
.dj-mtmenu li a.dj-up_a span.dj-drop {
	float:left; 
	display:block;
	padding: 0 15px 0 0;
	/*background: url(../images/menu-arrow.gif) 100% 17px no-repeat;*/
	}
.dj-mtmenu li.hover a.dj-up_a {
	background: none /*#ffffcd/*#E1EAEF*/;
	color: #fff;/*#06365A;	*/
	}
.dj-mtmenu li.active a.dj-up_a {
	background: none /*#841F27/*#ffffcd/*#E1EAEF*/;          /*************added***********/
	color: #EC8F39/*#fff*/;	
	}
.dj-mtmenu li.hover a.dj-up_a span,
.dj-mtmenu li.active a.dj-up_a span {
	background: none;
	text-decoration: none;
	}
.dj-mtmenu li.active a.dj-up_a span.dj-drop,
.dj-mtmenu li.hover a.dj-up_a span.dj-drop{
	/*background: url(../images/menu-arrow.gif) 100% -33px no-repeat;*/
	}
	
.dj-mtmenu li.separator > a {
	cursor: default;
}

.dj-mtmenu li a.dj-up_a span span.image-title {
	background: none;
	padding: 0 0 0 5px;
	display: inline;
	float: none;
	height: auto;
}
.dj-mtmenu img {
	border: 0;
	margin: 0;
}

/************** Second level *********************/
.dj-mtmenu li {
	position:relative; 
	z-index: 200;
}
.dj-mtmenu div.djsubwrap{
	border: none;
	padding: 0;
	background: none;
	position:absolute; 
	top: 40px;
	z-index: 300;
}
.dj-mtmenu div.djsubwrap .cols_10{ width: 692px; }
.dj-mtmenu div.djsubwrap .cols_8{ width: 692px; }
.dj-mtmenu div.djsubwrap .cols_7{ width: 462px;}
.dj-mtmenu div.djsubwrap .cols_6{ width: 462px;}
.dj-mtmenu div.djsubwrap .cols_5{ width: 922px; }
.dj-mtmenu div.djsubwrap .cols_4{ width: 462px; }/**********prev 720**********/
.dj-mtmenu div.djsubwrap .cols_3{ width: 462px; }/*********prev 540***********/
.dj-mtmenu div.djsubwrap .cols_2{ width: 462px; }

.dj-mtmenu li.hover div.djsubwrap div.sub-bg { /* submenu background */
		background: #FDFDEF;/*url('../images/header-bg.png') repeat scroll 0% 0% #161616;*//*#ffffcd/*#E1EAEF*/;/*url(../images/bgSubmenu.png) left top repeat;*/
border-bottom:1px solid #333;border-left:1px solid #333;border-right:1px solid #333;
}
.dj-mtmenu div.djsubwrap{
	display: none;
}
.dj-mtmenu li.hover div.djsubwrap{
	display: block;
	border-top: 0px solid #595350;
	background:url('images/top-shadow.png') repeat-x top 0;
	/* ie7 fix */
}
/*******************************/

.dj-mtmenu ul.dj-submenu {
	list-style: none outside;
	padding: 3px 0;
	margin: 0;
	border: 0;
	/*border-bottom: 1px solid #333;/*#06365A*/
       /*border-left: 1px solid #333;
       border-right: 1px solid #333;*/
	display: block;
       background:#FDFDEF;		
}
.dj-mtmenu ul.dj-submenu li {
	list-style: none outside;
	padding: 0 10px;
	margin: 0;
	display: block;
	float: left;
	width: 210px; /* + 2*10px (padding) = 180px (width of column) prev 160*/
	/* ie7 fix */
	background:url('images/top-shadow.png') repeat-x top 0;
	/*background: linear-gradient(to right, rgba(255, 255, 255, 0.01) 96%, #EDEDED 100%) repeat scroll 0% 0% transparent;*/
	
}
.dj-mtmenu ul.dj-submenu li a {
	font-size: 12px; 
	font-weight: normal;
	line-height: 13px; 
	color:#06365A; 
	text-decoration:none;
	padding: 3px 0;
	margin: 0;
	display: block;
	cursor: pointer;
	padding-left:5px;
	/*border-bottom:1px dotted #CCCCCC;/**********added**********/
}
.dj-mtmenu ul.dj-submenu li ul{
	list-style: none outside;
	border: 0;
	padding: 0 0 0 0px;
	margin: 0;
	display: block;
}
.dj-mtmenu ul.dj-submenu li ul li{
	width: auto;
	padding: 0 0 0 0px;
	margin: 1px 0;
	display: block !important;
	float: none;
	/*background: url(../images/submenuPipe.gif) top left no-repeat;*/
	zoom: 1;
}

.dj-mtmenu ul.dj-submenu li ul li a {
	color:#06365A;
	padding-bottom:10px;
		
}
.dj-mtmenu ul.dj-submenu li ul li ul {
	padding: 0;
}

.dj-mtmenu li.hover ul.dj-submenu li a:hover,
.dj-mtmenu li.hover ul.dj-submenu li a.active {
	color:#ffffcd/*#E1EAEF*/;
	background:#002639/*#06365A*/;
}
.dj-mtmenu li.hover ul.dj-submenu li ul li a:hover,
.dj-mtmenu li.hover ul.dj-submenu li ul li a.active {
	color:#ffffcd/*#E1EAEF*/;
}
.dj-mtmenu li.hover ul.dj-submenu li a.dj-more,
.dj-mtmenu li.hover ul.dj-submenu li ul li a.dj-more {
	/*background: url(../images/sub-arrow.gif) 100% 8px no-repeat;*/
	padding-right: 10px;
}
.dj-mtmenu li.hover ul.dj-submenu li a.dj-more-active,
.dj-mtmenu li.hover ul.dj-submenu li ul li a.dj-more-active{
	/*background: url(../images/sub-arrow.gif) 100% 8px no-repeat;*/
	padding-right: 10px;
	color:#fff;/*#e8c48c;*/
}
.dj-mtmenu li.hover ul.dj-submenu li.hover a.dj-more{ color:#fff; font-size:14px;}          /*******added*******/
.dj-mtmenu li.hover ul.dj-submenu li.hover ul li.hover a.dj-more,
.dj-mtmenu li.hover ul.dj-submenu li.hover ul li.hover li.hover a.dj-more,
.dj-mtmenu li.hover ul.dj-submenu li.hover ul li.hover li.hover li.hover a.dj-more{
	color:#fff;/*#e8c48c;*/
}

.dj-mtmenu li.hover ul.dj-submenu li a.dj-more,
.dj-mtmenu li.hover ul.dj-submenu li ul li a.dj-more,
.dj-mtmenu li.hover ul.dj-submenu li.hover ul li a.dj-more,
.dj-mtmenu li.hover ul.dj-submenu li.hover ul li.hover li a.dj-more,
.dj-mtmenu li.hover ul.dj-submenu li.hover ul li.hover li.hover li a.dj-more {
	color:#fff;/*#dfdfdf;*/
	font-size:14px;
	background:#06365A; /********added**********/
	padding-bottom:5px;
}

/********** clearing **********/
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix { 	
	display: inline-block;
}

/* Hides from IE-mac \*/ * html .clearfix {
    height: 1%;
}

.clearfix {
    display: block !important;
}
/* End hide from IE-mac */
/*************************************overrides******************************/

li.itemid2210,li.itemid2304, li.itemid2305{display:none!important;}

.dj-mtmenu ul.dj-submenu li a {background: #fff ; color:#00243A ; font-size:14px !important;cursor: pointer;border-bottom:1px dotted #00243A; line-height:20px; /*border-top:1px solid #333; border-right:1px solid #333;border-left:1px solid #333;*/}

.dj-mtmenu ul.dj-submenu li a:hover {background: #fff!important ; color:#EBBE5E !important;}


.dj-mtmenu ul.dj-submenu li a.dj-more {background: #00243A !important; color:#fff !important; font-size:14px !important;cursor: text;line-height:13px!important;  /*border-top:1px solid #333; border-right:1px solid #333;border-left:1px solid #333;*/}

.dj-mtmenu ul.dj-submenu li ul li a{background:none !important; color:#00243A !important; font-size:12px !important; font-weight:normal !important;cursor:pointer;border-bottom: none!important; line-height:13px;}
.dj-mtmenu ul.dj-submenu li ul li a:hover{background:none !important; color:#EBBE5E !important;}/*#FFFFCD*/
.dj-mtmenu ul.dj-submenu li ul li{
/*background: url('../images/top-menu-separator.png') repeat-x scroll 0% 0% transparent;*/

border-bottom:1px dotted #00243A;

}
.dj-mtmenu ul.dj-submenu li li:last-child{/*border-bottom:1px solid #333 !important; */}

.dj-mtmenu ul.dj-submenu li li li:last-child{border-bottom:none;}

.dj-mtmenu ul.dj-submenu li li li:first-child{border-top:1px dotted #00243A;}

li.itemid2175 a.dj-more, li.itemid2172 a.dj-more, li.itemid2174 a.dj-more, li.itemid2176 a.dj-more, li.itemid2173 a.dj-more, li.itemid2209 a.dj-more{cursor:pointer!important;}


