.smartsearch{
	height: 100%;
    margin-bottom: 10px;
    position: relative; 
}
.btnsearch{
	border:0px;
	background: transparent;
	cursor: pointer; 
	float:left;
	width:65px;	
	height:27px;
}
.spacelabel{
margin-left:10px;
}
.keyword{
	height: 30px;   
}
.borderinput{ 
position:relative;
margin-top:19px;
}
.chzn-container{
padding:1px 4px 8px 4px;
margin-left:5px;
}
.chzn-drop{
margin-left:4px;
}
.active-result{
line-height:120%;
}
.btsmartsearch
{
border:1px solid #CCCCCC;
width:auto;
height:auto;
z-index: 9000;
background:#FFFFFF;
margin-top:2px;
}
.btsmartspace{
margin:12px auto 10px 10px;
}
.inputboxsearch{	
	width:100%;	
    background-color: #FFFFFF;
	border: 1px solid #CCCCCC;  
    color: #868686;/*prev #888*/
    display: inline-block;
	font-family: sans-serif;
    font-size: 13px;
    height: 26px !important;
    line-height: 29px;  
    transition: border 0.2s linear 0s, box-shadow 0.1s linear 0s;
	text-indent: 3px;
	padding: 0 !important;
}
.inputboxsmart{			
	float:left;
	-moz-box-sizing: border-box;
    background-color: #FFFFFF;
    border: 1px solid #AAAAAA;
    border-radius: 3px 3px 3px 3px; 
    color: #666666;
    display: inline-block;
    font-family: sans-serif;
    font-size: 13px;
    height: 27px;
    line-height: 30px;
    margin: 6px 0px 10px 12px; 
	width:150px;
    padding: 4px 2px;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;		
}
.option-results{
padding:6px 4px;
}
.autocompleter-choices{
font-size:13px;
line-height:25px;
}
.autocompleter-queried{
width:100%;
}
#btss-advanced{
cursor: pointer; 
position:absolute;
top:4px;
right:5px;
z-index:100;
}

div.tooltipsmartseach {  
  color: White;
  position: absolute;
  left: -30px;
  top: -50px;
  height:30px;
  width: 110px;
  border-radius: 5px; 
  background:#545454;
}
div.tooltipsmartseach:before {
  border-color:  #545454 transparent transparent transparent;
  border-style: solid;
  border-width: 6px 6px 6px 6px;
  content: "";
  height: 0px;
  width: 0px;
  line-height: 0;
  position: absolute;
  top: 100%;
  left: 40px;
    
}
div.tooltipsmartseach p {
  margin: 1px;
  color: #FFFFFF;
  font-size:12px;
 
}
#mod-smartsearch-advanced{
 display:none;
}



