@charset "utf-8";
/* CSS Document */

#agg-rating a{
	display:block;
	float:left;
	height:16px;
	width:16px;
	background:url(stars.png) no-repeat;
	margin:5px;
	
}
#rating-values{ font-size:80%; padding-left:5px; width:130px; clear:both}
#agg-rating.avgrated1 a:nth-child(1), #agg-rating.avgrated2 a:nth-child(-n+2),#agg-rating.avgrated3 a:nth-child(-n+3),
#agg-rating.avgrated4 a:nth-child(-n+4),#agg-rating.avgrated5 a{
	background-position:0px -16px;
	}
#agg-rating.rate1 a:nth-child(1), #agg-rating.rate2 a:nth-child(-n+2),#agg-rating.rate3 a:nth-child(-n+3),
#agg-rating.rate4 a:nth-child(-n+4),#agg-rating.rate5 a{
	background-position:0px -16px;
	cursor:pointer;
}
#agg-rating.rated1 a:nth-child(1), #agg-rating.rated2 a:nth-child(-n+2),#agg-rating.rated3 a:nth-child(-n+3),
#agg-rating.rated4 a:nth-child(-n+4),#agg-rating.rated5 a{
	background-position:0px -32px;
}