.nalzza2 {vertical-align:middle;letter-spacing:-1px;font-size:9px;color:#969696;font-family:"Verdana","tahoma";}
.nalzza {vertical-align:middle;letter-spacing:-1px;font-size:9px;color:#505050;font-family:"Verdana","tahoma";}
.idx_wrap {width:760px;padding:0 0 0 2px;margin:-5px 0 0 0}
.idx_new_left {float:left; width:376px;padding:0}
.idx_new_right {float:right; width:376px;padding:0}
.idx_list{position:relative;padding:0}
.idx_list h3{padding:0;margin:0;height:18px}
.idx_list h3 a{position:relative;left:0;display:block;font-size:11px;color:#2f4f4f;padding:1px 0 0 3px;letter-spacing:-0.4px}
.idx_list h3 a.timer{padding-left:16px; background-image:url("http://i.imgtong.com/timer.gif");background-repeat:no-repeat;background-position:4px}
.idx_list h3 a:visited{color:#2f4f4f}
.idx_list ul{list-style-type:none;background-color:#fff;margin:0 2px;padding:1px 0;line-height:167%}
.idx_list li a{color:#333;font-size:12px;vertical-align:middle;line-height:152%}
.idx_list li img{vertical-align:middle}
.idx_list li a:hover{color:#708090;text-decoration:underline}
.idx_list li a.ut{background-image: url("http://i.imgtong.com/ut2.gif");background-repeat: no-repeat;background-position:right;
padding-right:15px;margin-right:2px;vertical-align: middle;}
.idx_list li a.smi{background-image: url("http://i.imgtong.com/smi2.gif");background-repeat: no-repeat;background-position:right;
padding-right:15px;margin-right:2px;vertical-align: middle;}
.idx_fun{position:relative;padding:0;height:46px;clear:both}.idx_fun h3{padding:0;margin:0;}
.idx_fun h3 a{position:relative;left:0;font-size:11px;color:#2f4f4f;padding-left:1px;letter-spacing:-0.4px}
.idx_fun ul{list-style-type:none;background-color:#fff;margin:0;padding:0}
.idx_fun li{width:184px;padding:0 0 2px 0;line-height:14px;float:left}
.idx_fun li a{color:#333;font-size:12px}.idx_fun li img{float:left}.idx_fun li a:hover{color:#708090;text-decoration:underline}
.idx_tb table{width:100%; padding:0; margin:0}.b_c {vertical-align:middle;letter-spacing:-0.4px;font-size:11px;color:#708090;font-family:"돋움,굴림"; }
.idx_tb_bt {width:100%}
.lht160 { line-height:160% !important;}.l_udt{font-size:11px;font-family:"Verdana","굴림";letter-spacing:-0.4px;color:#c0c0c0}
.width375{width:375px;padding-left:2px}