@charset "utf-8";
@import url("jquery.sidr.light.css");
/*@import url("jquery.fancybox-1.3.4.css");*/
/* font */
@font-face{font-family:'avenirHeavy';
src:url("fonts/2A7505_0_0.eot");
src:url("fonts/2A7505_0_0.eot?#iefix") format("embedded-opentype"),
url("fonts/2A7505_0_0.woff") format("woff"),
url("fonts/2A7505_0_0.ttf") format("truetype");
}
@font-face{font-family:'avenirRoman';
src:url('fonts/2A7505_1_0.eot');
src:url('fonts/2A7505_1_0.eot?#iefix') format('embedded-opentype'),
url('fonts/2A7505_1_0.woff') format('woff'),
url('fonts/2A7505_1_0.ttf') format('truetype');
}
@font-face{font-family:'avenirLight';
src:url('fonts/2A7505_2_0.eot');
src:url('fonts/2A7505_2_0.eot?#iefix') format('embedded-opentype'),
url('fonts/2A7505_2_0.woff') format('woff'),
url('fonts/2A7505_2_0.ttf') format('truetype');
}

/*---------------figure---------------*/
Figure {
    display: table;
    width: 400px; /* minimum width */
    *width: auto; /* for IE7 and below */
    *max-width: 50%; /* for IE7 */
    padding: 1px;
    border: ０px solid silver;
    text-align: center;
}
figure.center {
    margin: 1em auto;
}
figure.left {
    float: left;
    margin: 0 16px 1em 0;
}
figure.right {
    float: right;
    margin: 0 0 16px 1em;
}
figcaption {
    display: block;
    font-size: small;
    line-height: 1.5em;
    text-align: left;
    padding: 0.5em;
    background-color: #FFFFFF;
}
figure img,
figure iframe {
    *max-width: 100%; /* for IE7 */
}
/*---------------figure---------------*/

/*---------------photo box---------------*/
div.imagebox {
border: 0px solid #4d4d4d; /* 枠線の幅・スタイル・色 */
background-color: #ffffff;　/* 背景色 */
width: ４00px; /* ボックス横幅 */
float: left; /* 左から順に配置 */
text-align: center;
margin: 0.5em 5px 1em 5px; /* 周囲の余白 */
}
p.image, p.caption {
text-align: center; /* 中央寄せ */
margin: 2px;/* 余白・間隔 */
}
p.caption {
font-size: 80%; /* 文字サイズ */
color: #4d4d4d; /* 文字色 */
}
p.clear {
clear: both;
}
/*---------------photo box---------------*/

/*---------------photo with caption---------------*/
.withCaption {
    float: left;
    margin-bottom: 10px;
    margin-right: 15px;
    max-width: 100%;
}
.withCaption p {
    font-size: 80%;
    max-width: 100%;
}

/*---------------movie-wrap---------------*/
.movie-wrap {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
 
.movie-wrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/*---------------movie-wrap---------------*/


/*---------------photo-resize---------------*/
p.resizeimage {
   max-width: 560px; /* 最大幅 */
   min-width: 280px; /* 最小幅 */
}
p.resizeimage img { width: 100%; }
/*---------------photo-resize---------------*/


/*---------------newsletter---------------*/
.iframe-newsletter {
    position: relative;
    width: 100%;
    padding: 100% 0 0 0;
}
.iframe-newsletter iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/*---------------newsletter---------------*/

/*---------------simpletable---------------*/
.simpletable{
width: 100%;
border-collapse: collapse;
}
.simpletable th{
/*width: 2０%;*/
padding: 6px;
text-align: left;
vertical-align: top;
color: #333;
background-color: #eee;
border: 1px solid #b9b9b9;
}
.simpletable td{
padding: 6px;
background-color: #fff;
border: 1px solid #b9b9b9;
}
/*---------------simpletable---------------*/




/* default reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, center,
dl, dt, dd, ol, ul,li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
time, mark, audio, video{
margin:0;
padding:0;
border:0;
font-style:normal;
font-weight:normal;
vertical-align:baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section{
display:block;
}
html{
overflow-y:scroll;
color:#666;
}
*{
font-size:100%;
letter-spacing:0.02em;
}
body{
font-family:"avenirRoman","ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
line-height:1.5em;
-webkit-text-size-adjust:100%;
}
blockquote, q{
quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after{
content:'';
content:none;
}
input, textarea{
margin:0;
padding:0;
}
h1, h2, h3, h4, h5, h6{
font-size:100%;
font-weight:normal;
}
hr{
height:1px;
border:solid #ddd;
border-width:1px 0 0;
margin:10px 0;
}
img{
vertical-align:baseline;
-ms-interpolation-mode:bicubic;
}
strong{
color:#111;
font-size:1.05em;
line-height:1.4em;
}
dl{
margin:5px 10px;
line-height:1.4em;
overflow:hidden;
clear:both;
}
dt{
clear:both;
float:left;
width:6em;
margin-bottom:5px;
}
dd{
margin-left:6em;
margin-bottom:5px;
}
dl.wide dt{
width:10em;
}
dl.wide dd{
margin-left:10em;
}
dl.break dt{
float:none;
width:auto;
margin-bottom:0;
}
dl.break dd{
margin-left:1em;
}
dl.note{
margin:15px 0;
border-top:1px solid #ccc;
padding-top:15px;
font-size:83%;
}
dl.note dt{
width:2em;
}
dl.note dd{
margin-left:2em;
}

<!--sup a{
font-size:80%;
background:#eee;
border-radius:2px;
border:1px solid #ddd;
padding:2px 5px;
}
sub a{
font-size:80%;
background:#eee;
border-radius:2px;
border:1px solid #ddd;
padding:2px 5px;
}-->


 /* --------- tree ----------- */
ul.tree,
ul.tree ul {
    list-style-type: none;
    margin:0;
    padding:0;
}
ul.tree ul {
    margin-left:20px; 
    position:relative;
}
ul.tree ul.direct {
    margin-left:40px; 
}
ul.tree ul:before {
    content:"";
    display:block;
    width:0;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    border-left:1px solid #999;;
}

ul.tree li  {
    margin:0;
    padding:3px 5px 3px 25px;
    line-height:20px;
    position:relative;
}
ul.tree li.direct  {
    padding:3px 5px 3px 70px;
}

ul.tree li a { 
    line-height:20px;
    position:relative;
}

ul.tree ul li:before {
    content:"";
    display:block;
    width:20px;
    height:0;
    border-top:1px solid #999;
    position:absolute;
    top:10px;
    left: 0;
}
ul.tree ul li.direct:before {
    width:65px;
}
ul.tree ul li.dashe:before {
    border-top:1px dashed #999;
}
ul.tree ul li:last-child:before {
    background: #fff; 
    height: auto;
    top: 10px; 
    bottom: 0;
}

/* ul style delete */
ul li,
ol li{
list-style:none;
}

table{
border-collapse:collapse;
border-spacing:0;
}
caption, th{
text-align:left;
}
a:focus{
outline:none;
}
/* clearfix hack */
.clearfix:after{
content:".";
display:block;
width:1px;
height:1px;
margin:0 -1px -1px 0;
border:0;
padding:0;
clear:both;
visibility:hidden;
}
.clearfix{
display:inline-block;
}
* html .clearfix{height:1%;}
.clearfix{display:block;}
/* Default Link Color */
a{ text-decoration:none; }
a:link{ color:#3e1485; }
a:visited{color:#3e1485; }
a:hover{ color:#3e1485; text-decoration:underline; }
.pdfLink{
background:transparent url('../common_images/icon_pdf.gif') left top no-repeat;
padding-left:24px;
}
.xlsxLink{
background:transparent url('../common_images/icon_ex.gif') left top no-repeat;
padding-left:24px;
}
p{}
.floatLeft,
div.left,
img.left{
float:left;
margin:2px 20px 16px 0;
}
.floatRight,
div.right,
img.right{
float:right;
margin:2px 0 16px 20px;
}
.left{
text-align:left;
}
.right{
text-align:right;
}
.center{
text-align:center;
}
.indent{
margin-left:10px;
}
.readMore{
text-align:right;
}
a.linkWithArrow:link,
a.linkWithArrow:hover,
a.linkWithArrow:visited{
text-decoration:underline;
background:transparent url('../common_images/pankuzu_arrow.png') 3px 0.5em no-repeat;
padding:1px 0 1px 15px;
}
h2 a,
h3 a,
h4 a,
h5 a,
.articleText a{
text-decoration:underline;
}


/******************************************
 * CONTAINERS
 ******************************************/
#wrapper{
width:auto;
position:relative;
z-index:1;
margin:0 auto;
}
.contentsWrapper .readMore a{
padding:5px 10px 5px 5px;
margin:0 0 0 15px;
font-size:90%;
font-family:avenirRoman;
background:url("../common_images/pankuzu_arrow.png") no-repeat right center;
}
.contentsWrapper .readMore a.noBgColor{
background:transparent;
padding:0;
margin-top:0.5em;
display:block;
}
.leftCol{
clear:both;
float:left;
width:615px;
overflow:hidden;
/*	background:blue;*/
}
.leftColTopBlank{
height:46px;
}
.rightCol{
float:right;
width:315px;
padding-top:46px;
/*	background:red;*/
}
.topPage .rightCol{
padding-top:47px;
}



/******************************************
 * HEADER
 ******************************************/
#headerWrapper{
width:100%;
font-family:'avenirRoman';
position:relative;
z-index:500;
}
header{
margin:0 auto;
background:#fff;
}
.logoForSp{
display:none;
}
/* Top Bar */
.subMenu{
width:auto;
background:#3e1485;
}
.subMenu ul{
text-align:right;
width:930px;
margin:0 auto;
padding:0 15px;
position:relative;
font-size:13px;
height:28px;
line-height:28px;
}
.subMenu ul li{
position:relative;
color:#fff;
display:inline;
margin:0 0 0 25px;
}
.subMenu ul li a{
color:#fff;
padding:0;
white-space:nowrap;
}
/* 2nd Bar */
.globalMenu{
padding-top:135px;
min-height:30px;
width:960px;
margin:0 auto;
background:#fff;
position:relative;
}
.globalMenu .logo{
position:absolute;
top:20px;
left:20px;
}
.globalMenu .statement{
position:absolute;
color:#3e1586;
top:32px;
left:120px;
line-height:1.4em;
}
.globalMenu ul li{
float:left;
display:block;
}
.globalMenu ul li a{
color:#fff;
font-size:90%;
}
/* Google Search */
.googleSearch{
position:absolute;
top:20px;
right:15px;
font-size:10pt;
}
.googleSearch .form-search{
overflow:hidden;
}
.googleSearch .input-append{
width:236px;
float:right;
border:1px solid #8DA9B2;
height:23px;
padding:0;
margin:0;
overflow:hidden;
}
.googleSearch .search-query{
width:150px;
height:23px;
line-height:23px;
padding:0 5px;
margin:0;
border:0;
float:left;
font-family:"avenirRoman";
font-size:12px;
vertical-align:top;
}
.googleSearch .btn{
width:76px;
height:23px;
padding:0 0 0 25px;
margin:0;
border:0;
float:right;
text-align:left;
font-family:"avenirRoman";
font-size:12px;
font-weight:normal;
vertical-align:top;
background:#8DA9B2 url(../common_images/search_box_icon_w.png) no-repeat 10px center;
color:#fff;
cursor:pointer;
}
/* japanese and contact */
.japaneseAndContact{
position:absolute;
right:15px;
top:55px;
font-size:10pt;
text-align:right;
padding:0;
}
.japaneseAndContact li{
margin:0 0 0 4px;
}
.japaneseAndContact .japanese a{
color:#666;
background:#f2f2f2;
display:block;
float:left;
height:25px;
line-height:25px;
padding:0 15px;
}
.japaneseAndContact .contactUs a{
padding:0 10px;
height:25px;
line-height:25px;
background-color:#95aebb;
color:#fff;
float:left;
}
/* social media */
.snsBtn{
position:absolute;
right:15px;
top:90px;
}
.snsBtn img{
width:36px;
height:36px;
}
.snsBtn ul{
}
.snsBtn ul li{
float:left;
margin:0 0 0 5px;
height:20px;
}
.snsBtn ul li a{
}
/* Contents Menu */
.contentsMenu{
/*	position:absolute;*/
/*	position:relative;*/
/*	left:0;
bottom:0;
top:135px;*/
}
ul#menubar{
background:#999;
width:850px;
min-height:30px;
padding-left:110px;
font-size:90%;
z-index:510;
}
/* level one */
ul#menubar li{
position:relative;
margin-right:15px;
}
ul#menubar li a{
position:relative;
/*	height:28px;
line-height:28px;*/
height:30px;
line-height:30px;
display:block;
padding:0 8px;
color:#fff;
text-decoration:none;
}
ul#menubar li a:hover,
ul#menubar li a.hover{
background:#3e1586;
}
/* level two */
ul#menubar ul{
display:none;
position:absolute;
top:30px;
left:0;
z-index:511;
}
ul#menubar ul li{
float:none;
background:transparent url(../common_images/bg_dropdown.png);
}
ul#menubar ul li a{
display:block;
border-bottom:1px solid #fff;
min-width:12em;
height:auto;
line-height:18px;
white-space:nowrap;
color:#555;
background:transparent url(../common_images/pankuzu_arrow.png) no-repeat 5px center;
padding:6px 10px 6px 15px;
}
ul#menubar ul li:hover{
background:transparent url(../common_images/bg_dropdown_rev.png);
}
ul#menubar ul li a:hover{
color:#fff;
background:transparent url(../common_images/pankuzu_arrow_rev.png) no-repeat 5px center;
}

/* panks */
.breadcrumb{
position:relative;
white-space:nowrap;
}
.breadcrumb ul{
float:right;
font-size:80%;
overflow:hidden;
padding:5px 0;
margin:0;
}
.breadcrumb ul li{
float:left;
}
.breadcrumb ul li a{
padding:0 15px 0 0 !important;
margin:0 10px 0 0 !important;
background:transparent url('../common_images/pankuzu_arrow.png') right 50% no-repeat;
}

.pageIndex{
margin:5px auto;
text-align:right;
}
.link_before,
.link_next,
.link_page,
.current_page{
display:inline-block;
padding:2px 10px;
margin:0;
height:24px;
line-height:24px;
font-size:85%;
}
.link_before,
.link_next,
.link_page{
background:#3E1485;
color:#fff !important;
}
.link_before,
.link_next{
padding:2px 7px;
}



/******************************************
 * FOOTER
 ******************************************/
.pageTop{
margin:30px auto 0;
text-align:right;
height:30px;
width:930px;
}
.pageTop a{
background:#3E1485;
font-size:83%;
color:#fff;
height:30px;
line-height:30px;
padding:0 10px;
text-align:center;
float:right;
font-family:'avenirRoman';
}
.footerWrapper{
width:auto;
text-align:left;
padding:0 0;
background:#c8c8c8;
}
.footerWrapper footer{
overflow:hidden;
position:relative;
margin:0 auto;
padding:16px 0;
width:930px;
height:auto;
background:#f2f2f2;
}
.footerWrapper ul{
float:left;
width:215px;
border-right:1px dotted #785AAD;
font-size:83%;
padding:0 20px 0 0;
margin:0 20px 0 0;
min-height:15em;
}
.footerWrapper ul:last-child{
border:0;
}
.footerWrapper ul.logo{
width:100px;
}
.footerWrapper ul li{
line-height:1.2em;
margin:7px 0;
}
.footerWrapper ul li a{
color:#4d4d4d;
}
.footerWrapper .copyright{
font-family:Helvetica;
}
#sidr{
display:none;
}





/******************************************
 * CONTENTS
 ******************************************/
.contentsWrapper{
width:930px;
margin:0 12px;
padding:0 0;
overflow:hidden;
background:transparent url('../common_images/mark_bg.png') right bottom no-repeat;
margin:0 auto;
}





/******************************************
 * RIGHT COLUMN
 ******************************************/
.rightCol{
font-size:83%;
line-height:1.4em;
}
.rightCol h3{
margin:5px 0 15px;
color:#3e1586;
font-size:190%;
line-height:1.1em;
}
.rightCol h3 a{
color:#3e1586;
}
.rightCol h4{
font-size:1.0em;
font-family:"AvenirHeavy";
margin-bottom:5px;
}
.rightCol p,
.rightCol .headline{
}
.rightCol .headline a{
color:#666;
}
.rightCol .readMore,
.rightCol .moreNews{
display:block;
text-align:right;
margin:0;
padding:5px 0 0;
}
.rightCol .readMore a,
.rightCol .moreNews a{
color:#666;
font-family:"avenirRoman";
padding:0 10px 0 0;
background:url("../common_images/pankuzu_arrow.png") no-repeat right center;
}
/* Widgets */
.defaultWidget{
width:270px;
display:block;
padding:10px 15px;
background:transparent url('../common_images/10_usuao.png') left top repeat;
margin-bottom:20px;
float:right;
}
.defaultWidget p{
line-height:1.2em !important;
}
.defaultWidget table{
line-height:1.2em !important;
}
.defaultWidget ul{
border-top:1px dotted #4d4d4d;
}
.defaultWidget ul li{
border-bottom:1px dotted #4d4d4d;
padding:8px 2px;
overflow:hidden;
}
ul.circle{
border:0;
}
ul.circle li{
list-style-type:circle !important;
margin:2px 0 2px 16px;
line-height:1.3em;
padding:2px 0;
border:0;
overflow:visible;
}

/* Academic Calendar Widget */
.academic_calendar ul{
border:dotted #4d4d4d;
border-width:1px 0;
padding:10px 0;
}
.academic_calendar ul li{
padding:0 2px;
border:0;
}
/*  Term Calendar Widget */
.term_calendar{
width:266px;
background:#fff;
border:2px solid #3e1586;
}
.term_calendar table{
width:100%;
}
.term_calendar th,
.term_calendar td{
border-bottom:1px dotted #4d4d4d;
padding:7px 0;
line-height:1.3em;
width:33%;
}
.term_calendar tbody th{
color:#333 !important;
}
.e-learning{
background:#3e1586;
color:#fff;
}
.e-learning h3 a{
color:#fff;
}
.e-learning ul{
border-top:1px dotted #fff;
}
.e-learning ul{
padding:8px 2px;
}
.category,
.category a,
h4 a{
margin:0;
color:#666;
}
.category,
.category a{
font-family:"avenirHeavy" !important;
}
.category.campus_community,	.category.campus_community a	{color:#9ebf13;}/* green */
.category.arts_and_culture,	.category.arts_and_culture a	{color:#ff7000;}/* orange */
.category.press_release,	.category.press_release a	{color:#630b0c;}/* brown */
.category.university_news,	.category.university_news a	{color:#81017e;}/* purple */
.category.careers,	.category.careers a	{color:#8da9b2;}/* slate */
.category.research,	.category.research a	{color:#422161;}/* indigo */
.category.alumni,	.category.alumni a	{color:#422161;}/* indigo */
.category.tgu,	.category.tgu a	{color:#422161;}/* indigo */
.category.international_visit,	.category.international_visit a	{color:#006536;}/* forest */
.category.health_sports,	.category.health_sports a	{color:#006536;}/* forest */

.category.science_cafe,	.category.science_cafe a	{color:#9ebf13;}/* green */
.category.music,	.category.music a	{color:#ff7000;}/* orange */
.category.lecture,	.category.lecture a	{color:#630b0c;}/* brown */
.category.exhibits,	.category.exhibits a	{color:#81017e;}/* purple */
.category.special_event,	.category.special_event a	{color:#8da9b2;}/* slate */
.category.alumni,	.category.alumni a	{color:#422161;}/* indigo */
/* {color:#006536} forest */

.date{
display:block;
}
.date a{
color:#666;
}
/* Event Calendar Widget */
.event_calendar ul li .date{
display:block;
font-size:135%;
line-height:1.2em;
font-family:"avenirLight";
color:#fff;
margin:3px 0 5px;
width:100%;
}
.event_calendar ul li .date .year,
.event_calendar ul li .date .month,
.event_calendar ul li .date .day,
.event_calendar ul li .date .dash{
float:left;
padding:5px;
letter-spacing:0.08em;
text-align:center;
}
.event_calendar ul li .date .year{
background:#fff;
color:#666;
}
.event_calendar ul li .month{
background:#808080;
}
.event_calendar ul li .date .day{
background:#4d4d4d;
}
/* Handbook Widget*/
.handbook .thumbnail{
width:100px;
height:140px;
float:right;
margin-left:5px;
background:#c8c8c8 url(../common_images/noimage_thumbnail.png) no-repeat center center;
border:1px solid #999;
}
.handbook li{
line-height:1.2em;
}
.navLink{
}
/* Hierarchy */
.navLink ul{
margin:0 0 1em 0;
padding:10px 0;
border:dotted #4d4d4d;
border-width:1px 0;
}
.navLink ul li{
margin:0 0 0 0;
border-bottom:1px none #95AEBB !important;
padding:2px 0 2px 15px;
background:transparent url('../common_images/pankuzu_arrow.png') left 0.5em no-repeat;
}
.navLink ul ul{
margin:0 0 0 1.5em;
padding:0;
border:0;
}
.navLink ul ul li{
padding:0 0 0 1em;
}
.navLink ul li.current{
background-color:#ddd;
}
.navLink a{
margin:0 1em 0 0;
color:#630b0c;
color:#422161;
display:block;
}
.active a{ text-decoration:underline; }
.active a:link{ color:#630B0C; }
.active a:visited{color:#630B0C; }
.active a:hover{ color:#630B0C;}
/* active Folder */
.activeFolder a{ text-decoration:underline; }
.activeFolder a:link{ color:#630B0C; }
.activeFolder a:visited{color:#630B0C; }
.activeFolder a:hover{ color:#630B0C;}
/* active in active Folder */
.activeFolder .active a{ text-decoration:underline; }
.activeFolder .active a:link{ color:#81017E; }
.activeFolder .active a:visited{color:#81017E; }
.activeFolder .active a:hover{ color:#81017E;}
/* folder Top */
.folderTop .activeFolder .active a{ text-decoration:none; }
.folderTop .activeFolder .active a:link{ color:#630B0C; }
.folderTop .activeFolder .active a:visited{color:#630B0C; }
.folderTop .activeFolder .active a:hover{ color:#630B0C;}
.activeFolder > a{ text-decoration:underline !important; }
.activeFolder > a:link{ color:#81017E; }
.activeFolder > a:visited{color:#81017E; }
.activeFolder > a:hover{ color:#81017E;}


/******************************************
 * LEFT COLUMN for INDEX PAGES
 ******************************************/

/* Slide Area */
#slideArea{
width:960px;
height:auto;
margin:0 auto;
overflow:hidden;
position:relative;
}
#slideArea img{
width:auto;
vertical-align:bottom;
}
.cycle-slideshow{
width:960px;
/*	background:red;*/
margin:auto;
}
div.responsive img{
width:auto;
height:auto;
margin-right:8px;
}
/* PC */
/*
@media screen and (min-width:960px){
*/
.itemWrapper{
position:relative;
width:960px;
height:315px;
}
.itemWrapper .bgImage{
position:absolute;
top:0;
left:0;
z-index:500;
width:960px;
height:450px;
}
/*}*/
.itemWrapper .text{
position:absolute;
top:0;
right:0;
padding:20px;
padding-bottom:40px;
z-index:501;
background:#81017e;
color:#fff;
width:275px;
height:255px;
}
.itemWrapper .text h1,
.itemWrapper .text h2{
color:#fff;
padding:0 0 5px 0;
font-size:145%;
font-family:"avenirRoman";
line-height:1.2em;
}
.itemWrapper .text .excerpt{
margin:0;
padding:15px 0 0 0;
border-top:1px solid #fff;
font-size:91%;
font-family:"avenirLight";
line-height:1.7em;
}
.itemWrapper .text .articleLink a{
color:#fff;
font-size:90%;
display:block;
position:absolute;
bottom:10px;
right:15px;
padding:0 10px 0 0;
background:url("../common_images/pankuzu_arrow_rev.png") no-repeat right center;
}
.cycle-pager{
z-index:500;
position:absolute;
bottom:10px;
left:10px;
overflow:hidden;
}
.cycle-pager span{
font-family:arial;
font-size:1em;
text-align:center;
width:16px;
height:16px;
line-height:16px;
display:inline-block;
color:#4d4d4d;
background:#4d4d4d;
cursor:pointer;
filter:alpha(opacity=50);
-moz-opacity:0.50;
opacity:0.50;
margin-left:8px;
}
.cycle-pager span.cycle-pager-active{
filter:alpha(opacity=80);
-moz-opacity:.8;
opacity:.8;
}
.cycle-pager > *{
cursor:pointer;
}

/* Emergency */
#emergencyinfo{
display:none;
width:906px;
margin:15px auto 0;
padding:5px 10px;
color:#630b0c;
border:2px solid #630b0c;
background:#f5ebeb;
color:#f00;
border:2px solid #f00;
background:#fff;
}
#emergencyinfo h1{
font-size:180%;
line-height:1.2em;
}
#emergencyinfo p{
margin:5px 0;
line-height:1.2em;
}

/* Image Index */
.imageIndex{
display:block;
clear:both;
margin:10px 0 0;
padding:0;
position:relative;
}
.topPage .imageIndex{
margin:30px 0 0;
}
.imageIndex .lead p{
margin-bottom:16px;
line-height:1.4em;
}
.imageIndex .archives{
margin-bottom:16px;
text-align:right;
position:absolute;
top:0;
right:0;
}
.imageIndex .archives a{
background:#95AEBB;
padding:5px 10px;
font-size:90%;
color:#fff;
font-family:avenirRoman;
}
.imageIndex .archives a:hover{
background:#3e1586;
text-decoration:none;
}

ul.flipBoxWrapper{
width:630px;
list-style:none !important;
margin:0;
padding:0;
}
ul.flipBoxWrapper li{
width:300px;
margin:0 15px 15px 0;
list-style:none !important;
padding:0;
float:left;
}
.flipBox .front{
overflow:hidden;
width:300px;
height:155px;
background:#c8c8c8 url(../common_images/noimage_imageIndex.png) no-repeat center center;
}
.flipBox .front img{
display:block;
}
.flipBox h3{
/*	height:2.2em;*/
font-size:100%;
line-height:1.1em;
overflow:hidden;
    vertical-align:middle;
    margin:0;
    padding:10px 10px 7px;
    border:0;
/*	color:#fff !important;
white-space:nowrap;
-o-text-overflow:ellipsis;
-webkit-text-overflow:ellipsis;
text-overflow:ellipsis;*/
}
.flipBox .card{
background:#f2f2f2;
height:150px;
padding-bottom:15px;
position:relative;
}
.researchHighlights .flipBox .card{
color:#666;
}
.researchHighlights .flipBox .card h3{
white-space:normal;
    padding:6px 10px 2px;
}
.itemWrapper .text{	background:#4d4d4d;}
.itemWrapper .text.green{	background:#9ebf13;}
.itemWrapper .text.orange{	background:#ff7000;}
.itemWrapper .text.brown{	background:#630b0c;}
.itemWrapper .text.purple{	background:#81017e;}
.itemWrapper .text.slate{	background:#8da9b2;}
.itemWrapper .text.indigo{	background:#422161;}
.itemWrapper .text.forest{	background:#006536;}

.flipBox .card h3{
border:solid #4d4d4d;
border-width:7px 0 0;
color:#000;
}

.researchHighlights .flipBox .card.green,
.flipBox .card.green	h3,
.flipBox .card.campus_community	h3{	border-color:#9ebf13;}

.researchHighlights .flipBox .card.orange,
.flipBox .card.orange	h3,
.flipBox .card.arts_and_culture	h3{	border-color:#ff7000;}

.researchHighlights .flipBox .card.brown,
.flipBox .card.brown	h3,
.flipBox .card.press_release	h3{	border-color:#630b0c;}

.researchHighlights .flipBox .card.purple,
.flipBox .card.purple	h3,
.flipBox .card.university_news	h3{	border-color:#81017e;}

.researchHighlights .flipBox .card.slate,
.flipBox .card.slate	h3,
.flipBox .card.careers	h3{	border-color:#8da9b2;}

.researchHighlights .flipBox .card.indigo,
.flipBox .card.indigo	h3,
.flipBox .card.alumni	h3,
.flipBox .card.tgu	h3,
.flipBox .card.research	h3{	border-color:#422161;}

.researchHighlights .flipBox .card.forest,
.flipBox .card.forest	h3,
.flipBox .card.international_visit	h3,
.flipBox .card.health_sports	h3{	border-color:#006536;}

.flipBox .card .back p{
padding:5px 10px 0;
margin:0;
/*	height:90px;*/
font-size:83%;
line-height:1.4em;
}
.flipBox a{
text-decoration:none;
}
.flipBox a:hover{
text-decoration:underline;
}
.flipBox .readMore{
display:block;
padding:5px 10px;
position:absolute;
right:0;
bottom:0;
}
.flipBox .readMore a{
font-size:12px;
padding-right:8px;
color:#666;
background-image:url(../common_images/pankuzu_arrow.png);
}
/*
.researchHighlights .readMore a{
color:#666;
background-image:url(../common_images/pankuzu_arrow.png);
}
*/
ul.mini-menu{
min-height:8em;
font-size:80%;
line-height:1.4em;
background:#f2f2f2;
border-top:1px dotted #ccc;
padding:8px 5px 10px;
overflow:hidden;
}
ul.mini-menu li{
display:block;
background:url(../common_images/pankuzu_arrow.png) no-repeat 3px 8px;
margin:0;
padding:3px 3px 3px 14px;
white-space:normal;
}
ul.mini-menu a{
color:#666;
}



/****************
 * TOPPAGE ONLY
 ****************/
/* Revitalization */
.revitalization{
padding:20px 0;
margin-top:30px;
background:transparent url("../common_images/japan.png") no-repeat left 100px;
border-top:1px solid #ddd;
}
.revitalization h2{
}
.revitalization .lead{
margin-left:320px;
margin-bottom:16px;
font-size:90%;
}
.revitalization .lead p{
margin-left:0;
}
.revitalization .readMore{
margin-top:1em;
text-align:right;
}
.revitalization .readMore a{
margin:0 0 0 15px;
font-size:10pt
font-family:avenirRoman;
}
.revitalization .readMore a.noBgColor{
background:transparent;
color:#3E1586;
margin-top:0.5em;
display:block;
}
/* Information */
.information{
width:930px;
padding:0;
margin:30px auto;
border-top:1px solid #c8c8c8;
}
.information h3{
font-size:1.7em;
color:#3e1586;
display:none;
}
/* Carousel */
.jcarousel-wrapper{
background:#f7f7f7;
margin:20px auto;
padding:20px 0;
position:relative;
width:100%;
}
.jcarousel{
position:relative;
overflow:hidden;
margin:0 35px;
width:870px;
}
.jcarousel ul{
width:20000em;
position:relative;
list-style:none;
margin:0;
padding:0;
}
.jcarousel li{
width:164px;
float:left;
}
.jcarousel img{
display:block;
height:auto !important;
}
/** Carousel Controls **/
.jcarousel-control-prev,
.jcarousel-control-next{
position:absolute;
top:20px;
width:35px;
height:100px;
text-align:center;
background:#ccc;
}
.jcarousel-control-prev{
left:0;
background:url('../common_images/prev_btn.png') left top no-repeat;
}
.jcarousel-control-next{
right:0;
background:url('../common_images/next_btn.png') left top no-repeat;
}
.jcarousel-control-prev:hover,
.jcarousel-control-next:hover{
background-position:left -100px;
}





/******************************************
 * ARTICLE                                *
 ******************************************/

/* Page Title Area */
.titleGroup{
margin:10px 0 0;
}
.topPage h2,
.imageIndex h2,
.titleGroup h1{
font-size:160%;
line-height:1em;
font-family:"avenirRoman";
margin:0 0 10px;
color:#3e1586;
font-weight:lighter;
}
.titleGroup .lead,
.titleGroup .lead p{
margin-bottom:20px;
font-size:96%;
line-height:1.5em;
}
.titleGroup .lead{
border-bottom:1px solid #ddd;
}

/* Title Area with Big Image */
.pageTitleWrapper{
position:relative;
margin-bottom:15px;
}
.pageTitleWrapper .pageTitle{
display:block;
height:auto;
overflow:hidden;
z-index:-1;
background:#c8c8c8 url(../common_images/noimage_thumbnail.png) no-repeat center center;
}.pageTitleWrapper .pageTitle img{
width:100%;
vertical-align:bottom;
}
.pageTitleWrapper h2{
padding:12px;
background:#3e1485;
color:#fff !important;
font-size:130%;
line-height:120%;
margin-top:0;
}

/* Heading */
article h1{
font-size:200%;
color:#3e1485;
margin:0 0 50px 0;
padding:0 0 0 0 !important;
}
article h2{
font-family:"avenirRoman";
font-size:180%;
line-height:1.3em;
/*	background:#3e1485;
color:#fff;
padding:5px 10px;*/
color:#3e1485;
margin:60px 0 10px 0;
}
article h2:first-child{
margin-top:0;
}
article h3,
article h4,
article h5{
color:#3e1485;
line-height:1.2em;
}
article h3{
font-size:150%;
padding-bottom:3px;
border-bottom:1px solid #3e1485;
margin:40px 0 10px 0;
}
article h4{
font-size:140%;
margin:30px 0 10px 0;
border-left:3px solid #3e1485;
padding-left:7px;
}
article h5{
font-size:110%;
margin:20px 0 5px 0;
}

article.green	h2,
article.green	h3,
article.green	h4,
article.green	h5,
article.science_cafe	h2,
article.science_cafe	h3,
article.science_cafe	h4,
article.science_cafe	h5,
article.campus_community	h2,
article.campus_community	h3,
article.campus_community	h4,
article.campus_community	h5{color:#9ebf13;}

article.orange	h2,
article.orange	h3, 
article.orange	h4,
article.orange	h5,
article.music	h2,
article.music	h3,
article.music	h4,
article.music	h5,
article.arts_and_culture	h2,
article.arts_and_culture	h3,
article.arts_and_culture	h4,
article.arts_and_culture	h5{color:#ff7000;}

article.brown	h2,
article.brown	h3,
article.brown	h4,
article.brown	h5,
article.lecture	h2,
article.lecture	h3,
article.lecture	h4,
article.lecture	h5,
article.press_release	h2,
article.press_release	h3,
article.press_release	h4,
article.press_release	h5{color:#630b0c;}

article.purple	h2,
article.purple	h3,
article.purple	h4,
article.purple	h5,
article.exhibits	h2,
article.exhibits	h3,
article.exhibits	h4,
article.exhibits	h5,
article.university_news	h2,
article.university_news	h3,
article.university_news	h4,
article.university_news	h5{color:#81017e;}

article.slate	h2,
article.slate	h3,
article.slate	h4,
article.slate	h5,
article.special_event	h2,
article.special_event	h3,
article.special_event	h4,
article.special_event	h5,
article.careers	h2,
article.careers	h3,
article.careers	h4,
article.careers	h5{color:#8da9b2;}

article.indigo	h2,
article.indigo	h3,
article.indigo	h4,
article.indigo	h5,
article.alumni	h2,
article.alumni	h3,
article.alumni	h4,
article.alumni	h5,
article.tgu			h2,
article.tgu			h3,
article.tgu			h4,
article.tgu			h5,
article.research	h2,
article.research	h3,
article.research	h4,
article.research	h5{color:#422161;}

article.grey	h2,
article.grey	h3,
article.grey	h4,
article.grey	h5{color:#4d4d4d;}

article.forest	h2,
article.forest	h3,
article.forest	h4,
article.forest	h5,
article.international_visit	h2,
article.international_visit	h3,
article.international_visit	h4,
article.international_visit	h5,
article.health_sports	h2,
article.health_sports	h3,
article.health_sports	h4,
article.health_sports	h5{color:#006536;}


article.green	.ResearchTitle h2,
article.green	.pageTitleWrapper h2,
article.science_cafe	.pageTitleWrapper h2,
article.campus_community	.pageTitleWrapper h2,
.green	.researchers_profile{background:#9ebf13;color:#fff;}

article.orange	.ResearchTitle h2,
article.orange	.pageTitleWrapper h2,
article.music	.pageTitleWrapper h2,
article.arts_and_culture	.pageTitleWrapper h2,
.orange	.researchers_profile{background:#ff7000;color:#fff;}

article.brown	.ResearchTitle h2,
article.brown	.pageTitleWrapper h2,
article.lecture	.pageTitleWrapper h2,
article.press_release	.pageTitleWrapper h2,
.brown	.researchers_profile{background:#630b0c;color:#fff;}

article.purple	.ResearchTitle h2,
article.purple	.pageTitleWrapper h2,
article.exhibits	.pageTitleWrapper h2,
article.university_news	.pageTitleWrapper h2,
.purple	.researchers_profile{background:#81017e;color:#fff;}

article.slate	.ResearchTitle h2,
article.slate	.pageTitleWrapper h2,
article.special_event	.pageTitleWrapper h2,
article.careers	.pageTitleWrapper h2,
.slate	.researchers_profile{background:#8da9b2;color:#fff;}

article.indigo	.ResearchTitle h2,
article.indigo	.pageTitleWrapper h2,
article.alumni	.pageTitleWrapper h2,
article.research	.pageTitleWrapper h2,
article.tgu	.pageTitleWrapper h2,
.indigo	.researchers_profile{background:#422161;color:#fff;}

article.grey	.ResearchTitle h2,
article.grey	.pageTitleWrapper h2,
.grey	.researchers_profile{background:#4d4d4d;color:#fff;}

article.forest	.ResearchTitle h2,
article.forest	.pageTitleWrapper h2,
article.international_visit	.pageTitleWrapper h2,
article.health_sports		.pageTitleWrapper h2,
.forest	.researchers_profile{background:#006536;color:#fff;}

article.green	h3,
article.green	h4,
article.science_cafe	h3,
article.science_cafe	h4,
article.campus_community	h3,
article.campus_community	h4{border-color:#9ebf13;}

article.orange	h3,
article.orange	h4,
article.music	h3,
article.music	h4,
article.arts_and_culture	h3,
article.arts_and_culture	h4{border-color:#ff7000;}

article.brown	h3,
article.brown	h4,
article.lecture	h3,
article.lecture	h4,
article.press_release	h3,
article.press_release	h4{border-color:#630b0c;}

article.purple	h3,
article.purple	h4,
article.exhibits	h3,
article.exhibits	h4,
article.university_news	h3,
article.university_news	h4{border-color:#81017e;}

article.slate	h3,
article.slate	h4,
article.special_event	h3,
article.special_event	h4,
article.careers	h3,
article.careers	h4{border-color:#8da9b2;}

article.indigo	h3,
article.indigo	h4,
article.alumni	h3,
article.alumni	h4,
article.tgu	h3,
article.tgu	h4,
article.research	h3,
article.research	h4{border-color:#422161;}

article.grey	h3,
article.grey	h4{border-color:#4d4d4d;}

article.international_visit	h3,
article.international_visit	h4,
article.health_sports	h3,
article.health_sports	h4,
article.forest	h3,
article.forest	h4{border-color:#006536;}

/* Article Info */
.articleInfo{
float:right;
font-size:85%;
line-height:1.4em;
margin:0 0 30px;
border-left:1px solid #ddd;
overflow:hidden;
}
.articleInfo li{
float:left;
border-right:1px solid #ddd;
margin:0;
padding:0 12px;
}

/* Article Body */
.articleText{
font-size:90%;
clear:both;
padding-bottom:30px;
}
.articleText p{
margin-bottom:1em;
}
.articleText table{
width:100%;
}
.articleText .caption{
font-size:85%;
line-height:1.4em;
font-family:"avenirRoman";
text-align:left;
}
.articleText blockquote{
margin:5px 0;
padding:7px 10px;
display:block;
border:1px solid #eee;
background:#f6f6f6;
}
.articleText em{
color:#3e1485;
}
.articleText ol,
.articleText ul{
margin:10px 0 10px 25px;
display:block;
line-height:1.4em;
}
.articleText ol li,
.articleText ul ol li{
list-style:decimal;
}
/*
.articleText ul li{
list-style:disc;
}
*/
.articleText ol li,
.articleText ul li{
margin-bottom:0.5em;
}
/*                
.articleText ul li ul li{
list-style:circle;
}*/
.articleText ul.flipBoxWrapper{
margin:0;
}
.articleText ul.flipBoxWrapper.no-description .card{
height:4em;
padding-bottom:5px;
}
/* Images, YouTube */
.articlePH{
width:100%;
background:#4d4d4d;
color:#ccc;
line-height:1.2em;
overflow:hidden;
margin:15px 0;
padding:0;
}
.articlePH .transparent{
	background:transparent;
	color:#666;
}
.articlePH img,
.articlePH iframe{
float:left;
margin-right:15px;
}
.articlePH .caption{
padding:5px 15px;
}
.articlePH .caption p{
margin:5px 0;
}
.articlePH.float{
display:inline-block;
width:300px;
overflow:hidden;
margin:0 0 5px 0;
}
.articlePH.float img{
float:none;
margin:0;
}



/******************************************
 * COMMON PARTS
 ******************************************/
 /* Various Fonts */
.notice{
color:#d00;
}

/* Page Index */
.blur{
padding:5px;
margin:46px 0 30px;
background:#f3f3f3;
}
.box{
margin:3px 0;
padding:8px;
border:1px solid #ccc;
background:#fff;
position:relative;
}
.blur .box{
margin:0;
}
.articleText .box h4{
color:#666;
font-size:85%;
color:#999;
position:absolute;
top:8px;
right:10px;
margin:0;
border:0;
}
.articleText .box ul{
margin-top:0;
margin-bottom:0;
}
.articleText .box li{
margin:0;
}
.articleText ul.no-bullet{
margin-left:10px;
margin-right:10px;
}
.articleText ul.no-bullet li{
list-style-type:none;
}
blockquote h5{
margin:0;
}

/* Process */
.process{
margin:10px 0;
}
.process .phase-title,
.process .phase-period,
.process .phase-description{
padding:3px 6px;
margin:2px;
}
.process .phase-title{
background:#a4bac1;
color:#fff;
}
.process .phase-period{
background:#e8eef0;
}
.process .phase-description{
background:#eee;
}
.process .arrow{
background:url(../common_images/arrow_bottom.png) no-repeat center center;
height:20px;
}

/* Small Font Table */
table.small th,
table.small td{
font-size:80%;
}
/* Normal Table */
.normal_table{
margin:5px 0;
}
.normal_table th,
.normal_table td{
padding:6px 8px;
line-height:1.4em;
background:#f2f2f2;
vertical-align:middle;
border:solid #fff;
border-width:0 3px 3px 0;
}
.normal_table.horizontal tbody th,
.normal_table.horizontal tbody td{
/*	border-width:0 1px 3px 0;*/
}
/*.normal_table.vertital th,	.normal_table.vertital td{	border-width:0 3px 1px 0;}*/
.normal_table thead th,
.normal_table thead td{
}
.normal_table thead th{
background:#3e1586;
color:#fff;
}
.green	.normal_table thead th{background:#9ebf13;color:#fff;}
.orange	.normal_table thead th{background:#ff7000;color:#fff;}
.brown	.normal_table thead th{background:#630b0c;color:#fff;}
.purple	.normal_table thead th{background:#81017e;color:#fff;}
.slate	.normal_table thead th{background:#8da9b2;color:#fff;}
.indigo	.normal_table thead th{background:#422161;color:#fff;}
.grey	.normal_table thead th{background:#4d4d4d;color:#fff;}
.forest	.normal_table thead th{background:#006536;color:#fff;}

.normal_table tbody th{
background:#ddd;
}
.normal_table thead th.blank{	background:transparent;}

/* Calendar Table */
.calendar_table{
margin:5px 0;
}
.calendar_table th,
.calendar_table td{
padding:6px 10px;
line-height:1.4em;
background:#f2f2f2;
vertical-align:top;
border:solid #fff;
border-width:0 3px 3px 0;
}
.calendar_table thead th,
.calendar_table thead td{
padding:6px 10px;
}
.calendar_table thead th{
background:#3e1586;
color:#fff;
}
.calendar_table tbody th{
background:#ddd;
}

/* Additional Info */
.contact,
.additional{
border-top:1px solid #ccc;
margin:30px 0;
padding:15px 0;
border-bottom:0;
font-size:93%;
line-height:1.4em;
}
.contact{
border:1px solid #ccc;
border-width:1px 0;
}
.contact h4,
.additional h4{
color:#3E1485;
font-size:180% !important;
font-family:"avenirRoman";
margin:0 0 10px !important;
border:0;
padding-left:0;
}
.additional ul{
list-style:none;
margin:10px 0 0;
}
.additional ul li{
list-style:none;
background:url(../common_images/article_li.png) no-repeat 2px 4px;
padding:0 0 0 18px !important;
}
.contact address{
}
                            

/******************************************
 * INDIVIDUAL PARTS
 ******************************************/

/**********************
 * Research Highlight *
 **********************/
.ResearchTitle{
position:relative;
margin:0 auto 20px;
padding:0;
}
.ResearchTitle .titleImage img{
width:auto;
vertical-align:bottom;
}
.ResearchTitle h2{
display:block;
width:100%;
margin:0;
padding:12px 15px;
font-size:130%;
line-height:120%;
display:block;
color:#fff;
}
/* Profile */
.profile{
margin:10px 0 0 0;
position:relative;
overflow:hidden;
}
.profile2{
margin:20px 0 0 0;
position:relative;
overflow:hidden;
}



.profile .profilePh{
float:left;
width:210px;
height:210px;
overflow:hidden;
}
.profile .profilePh2{
float:left;
width:300px;
height:210px;
overflow:hidden;
}
.profile .profilePh img{
vertical-align:bottom;
height:210px;
}
.profile .profilePh2 img{
vertical-align:bottom;
height:210px;
}                               
.researchers_profile{
float:right;
width:375px;
height:180px;
padding:15px;
color:#fff;
background:#4d4d4d;
text-align:left;
margin:0 !important;
}
.researchers_profile2{
float:right;
width:285px;
height:180px;
padding:15px;
color:#fff;
background:#422161;
text-align:left;
margin:0 !important;
}                               
.researchers_profile .ResearchersName{
font-family:"avenirHeavy";
font-size:120%;
}

.researchers_profile2 .ResearchersName{
font-family:"avenirHeavy";
font-size:120%;
}


.researchers_profile .profiletext p{
font-family:"avenirLight";
font-size:85%;
line-height:1.2em;
}

.researchers_profile .profiletext2 p{
font-family:"avenirLight";
font-size:85%;
line-height:1.2em;
}


.researchers_profile .awards{
font-family:"avenirLight";
}
.researchers_profile .awards h6{
font-size:120%;
font-family:"avenirHeavy";
color:#fff;
margin:0;
padding:0;
}
.researchers_profile .awards p{
line-height:1.2em;
font-size:85%;
}

/********************
 * News-Event Index *
 ********************/
.newsIndex a,
.eventsIndex a{
color:#666;
}
.newsIndex ul,
.eventsIndex ul{
font-size:84%;
margin:0;
line-height:1.4em;
border-top:1px dotted #4d4d4d;
}
.newsIndex ul li,
.eventsIndex ul li{
padding:7px 0;
border-bottom:1px dotted #4d4d4d;
overflow:hidden;
}
.newsIndex ul li .date,
.newsIndex ul li .category{
display:inline-block;
}
.newsIndex ul li .date{
margin-right:1em;
}
.newsIndex ul li .category,
.eventsIndex ul li .category{
font-family:"avenirRoman";
}
.newsIndex ul li .headline,
.eventsIndex ul li .headline{
overflow:hidden;
}
.eventsIndex .thumbnail{
width:180px;
height:auto;
float:right;
margin-left:5px;
overflow:hidden;
background:#c8c8c8 url(../common_images/noimage_thumbnail.png) no-repeat center center;
border:1px solid #999;
}
.eventsIndex .thumbnail img{
width:180px;
vertical-align:bottom;
}

/* login box */
.well{
padding:10px 15px;
width:auto;
background:transparent url('../common_images/10_usuao.png') left top repeat;
}
.well .form-title{
font-size:160%;
margin-bottom:15px;
color:#3e1586;
}
.well #twuser-input,
.well #twpassword-input{
float:left;
margin-right:20px;
margin-bottom:15px;
font-size:85%;
}
.well #twuser-input label,
.well #twpassword-input label{
}
.well input{
background:#fff;
border:1px solid #ccc;
width:140px;
padding:2px;
vertical-align:middle;
}
.well button{
background:#4d4d4d;
color:#fff;
border:0;
padding:1px 10px;
font-size:90%;
font-family:"avenirRoman";
}
.well ul.nav-pills{
font-size:85%;
padding:0;
margin:5px 0;
width:100%;
}
.well ul.nav-pills li{
float:left;
width:48% !important;
margin:0 2% 0 0 !important;
padding:0 !important;
}
.well ul.nav-pills li a{
padding:5px 0 5px 15px;
margin:0;
background:transparent url('../common_images/pankuzu_arrow.png') left 50% no-repeat;
display:block;
color:#666;
border-bottom:1px dotted #4d4d4d;
}
.well ul.nav-pills li.topline a{
border-top:1px dotted #4d4d4d;
}

/* Sitemap */
.siteMap{
overflow:hidden;
}
.sitemap-half{
width:48%;
margin-right:1.5%;
float:left;
}
.siteMap h2{
display:block;
color:#8da9b2;
margin-bottom:1em;
}
.siteMap h3{
font-family:"avenirRoman";
background:#f3f6f7;
padding:5px;
margin-top:15px;
color:#8DA9B2;
}
.siteMap ul{
display:block;
margin:5px 0 5px 20px;
font-size:90%;
}
.siteMap ul li{
margin:0;
}
.siteMap ul li a{
border-bottom:1px none #95AEBB !important;
padding:0 0 0 15px;
line-height:1.5em;
display:block;
background:transparent url('../common_images/pankuzu_arrow.png') 4px 0.5em no-repeat;
display:block;
}
.siteMap ul li a:hover{
background-color:rgba(141,169,178,0.1);
text-decoration:none;
}


/* President Widget */
.presidentBanner{
width:300px;
float:right;
margin-bottom:20px;
line-height:1.3em;
padding-bottom:10px;
border-bottom:1px solid #999;
}
.presidentProfile{
margin:8px 0;
}
.presidentName{
margin:5px 0;
font-family:"AvenirRoman";
font-size:105%;
margin:0 0 5px 0;
}

/* President's Message */
.presidentFoot{
font-size:83%;
line-height:1.3em;
width:auto;
float:right;
overflow:hidden;
border:0;
padding:0;
position:relative;
}
.presidentFoot img{
vertical-align:bottom;
}

/* History */
table.history th,
table.history td{
padding:7px 0;
line-height:1.4em;
}
table.history .year th,
table.history .year td{
border-top:1px solid #ccc;
}
table.history .month td{
border-top:1px dotted #999;
}

/* Social */
.socialBox p{
 display:inline-block;
 vertical-align:middle;
}



/* Social */

/* Map & Direction */
.campusMap{
overflow:hidden;
width:630px;
}
.mapBox{
float:left;
vertical-align:top;
width:298px;
overflow:hidden;
margin:0 15px 15px 0;
border:1px solid #ccc;
}
.mapBox h3{
padding:8px 12px;
color:#fff !important;
font-size:95%;
margin:0;
border:0;
}
.mapBox.green h3{	background:#9ebf13;}
.mapBox.orange h3{	background:#ff7000;}
.mapBox.brown h3{	background:#630b0c;}
.mapBox.purple h3{	background:#81017e;}
.mapBox.slate h3{	background:#8da9b2;}
.mapBox.indigo h3{	background:#422161;}
.mapBox.grey h3{	background:#d4d4d4;}
.mapBox.forest h3{	background:#006536;}

.mapBox img{
vertical-align:bottom;
/* added 2015/2/3 */
overflow:hidden;
display:block;
text-align:center;
width:300px;
height:155px;
background:#c8c8c8 url(../common_images/noimage_imageIndex.png) no-repeat center center;
}
.mapBox p{
height:50px;
font-size:90%;
padding:10px;
margin:0;
}
a.mapBox{
text-decoration:none;
}



/******************************************
 * for TABLET
 ******************************************/
@media screen and (min-width:568px) and (max-width:959px){
/* LAYOUT */
#wrapper{
margin:0 10px;
overflow:hidden;
}
.leftCol{
clear:both;
width:100%;
overflow:hidden;
}
.rightCol{
clear:both;
width:100%;
padding-top:20px;
}
.rightCol nav{
width:100%;
clear:both;
border-top:1px solid #ccc;
}
.contentsWrapper{
width:auto;
}
/* HEADER */
.subMenu ul{
font-size:83%;
width:auto;
height:auto;
}
.subMenu ul li{
margin:0 20px 0 0;
}
.subMenu ul li a{
color:#fff;
padding:5px 0;
}
.googleSearch,
.japaneseAndContact,
.snsBtn{
right:10px;
}
.globalMenu{
width:100%;
}
.globalMenu .statement{
left:110px;
margin-right:270px;
}
.globalMenu ul li{
}
.contentsMenu{
width:100%;
}
ul#menubar{
width:auto;
margin:0 10px;
padding-left:30px;
}
/* SLIDE AREA */
#slideArea{
width:auto;
}
#slideArea .itemWrapper{
position:relative;
width:100%;
height:auto;
}
#slideArea .itemWrapper .bgImage{
position:relative;
width:100%;
height:auto;
z-index:500;
}
#slideArea .itemWrapper .bgImage img{
width:100%;
height:auto;
}
#slideArea .itemWrapper .text{
position:relative;
padding:10px 20px 30px;
z-index:501;
width:100%;
height:auto;
border:1px none #fff;
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
-o-box-sizing:border-box;
-ms-box-sizing:border-box;
}
#slideArea.cycle-slideshow .itemWrapper .text{
height:200px !important;
}
.cycle-pager{
bottom:210px;
}
/* IMAGE INDEX */
.imageIndex ul{
width:auto;
}
.imageIndex ul li{
width:50%;
display:block;
margin:0 0 20px 0;
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
-o-box-sizing:border-box;
-ms-box-sizing:border-box;
}
.imageIndex ul li:nth-child(odd){
padding-right:10px;
}
.imageIndex ul li:nth-child(even){
padding-left:10px;
}
.imageIndex ul li .front,
.imageIndex ul li .front img{
width:100%;
height:auto;
}
.flipBox .card .back p{
line-height:1.4em;
/*	height:5em;*/
}
/* CAROUSEL */
.information{
width:auto;
}
.jcarousel{
position:relative;
overflow:hidden;
margin:0 35px;
width:auto;
}
.jcarousel li{
width:164px !important;
margin:0 10px 0 0;
float:left;
}
/* RIGHT COLS */
.defaultWidget{
width:100%;
padding:12px;
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
-o-box-sizing:border-box;
-ms-box-sizing:border-box;
}
/* FOOT */
.pageTop{
margin:0;
width:auto;
margin-right:10px;
}
.pageTop a{
width:auto;
}
.footerWrapper footer{
margin:0 10px;
width:auto;
}
.footerWrapper footer ul{
width:21%;
padding:0 10px 0 0;
margin:0 10px 0 0;
}
.footerWrapper footer ul.logo{
padding-right:20px;
}
.footerWrapper footer ul.logo li img{
width:70px;
height:auto;
}
/* ARTICLES */
.articlePH{
padding:0;
}
img.resizable,
.articlePH img{
float:none;
width:100%;
height:auto;
vertical-align:bottom;
}
.articlePH .iframeWrap{
position:relative;
width:100%;
padding-top:56.25%;
padding-top:75%;
}
.articlePH iframe{
float:none;
vertical-align:bottom;
width:100%;
height:100%;
position:absolute;
top:0;
left:0;
}
.articlePH .caption{
padding:5px 10px;
}
.articlePH.float{
display:block;
width:auto;
overflow:hidden;
margin:0 0 5px 0;
}
.articlePH.float img{
float:none;
margin:0;
width:100%;
height:auto;
}
.pageTitleWrapper .pageTitle,
.pageTitleWrapper .pageTitle img{
width:100%;
height:auto;
vertical-align:bottom;
}
.campusMap{
width:auto;
}
.mapBox{
width:48%;
margin:0 1% 2% 0;
}
.mapBox:nth-child(odd){
margin:0 1% 2% 0;
}
.mapBox:nth-child(even){
margin:0 0 2% 1%;
float:right;
}
.mapBox img{
float:none;
width:100%;
height:auto;
vertical-align:bottom;
}
/* Sitemap */
.siteMap ul{
width:100%;
}
.siteMap ul li{
width:auto;
margin:0 0 0 0;
clear:both;
}
/* About */
.presidentBanner{
width:100%;
overflow:hidden;
}
.presidentBanner img{
float:left;
margin-right:20px;
}

/* Research Highlight */
.ResearchTitle{
width:auto;
}
.ResearchTitle .titleImage img{
width:100%;
}
.ResearchTitle h2{
width:auto;
}
.profile .profilePh{
float:none;
}
.researchers_profile{
float:none !important;
width:auto;
height:auto;
}
.researchers_profile2{
float:none !important;
width:auto;
height:auto;
}                 
#emergencyinfo{
width:auto;
}
}





/******************************************
 * for SMARTPHONE
 ******************************************/
@media screen and (max-width:567px){
/* LAYOUT */
.leftCol{
margin-top:20px;
}
.leftCol article section img{
max-width:100%;
height:auto;
}
#wrapper{
margin:0 10px;
}
.leftCol{
clear:both;
width:100%;
overflow:hidden;
}
.rightCol{
clear:both;
width:100%;
padding-top:20px;
}
.rightCol nav{
width:100%;
clear:both;
border-top:1px solid #ccc;
}
.contentsWrapper{
width:auto;
}
/* HEADER */
header .subMenu,
header .globalMenu{
display:none;
}
.logoForSp{
display:block;
z-index:501;
background:#fff;
border-top:10px solid #3e1485;
text-align:center;
padding:10px 0;
height:auto;
position:relative;
}
.googleSearch .btn,
.logoForSp .menuToggle a,
.logoForSp .searchToggle a,
.logoForSp .searchToggle a.active{
background:#8ca7b1 url(../common_images/sp_menubtns.png) no-repeat center top;
}
.logoForSp .menuToggle a{
display:block;
width:30px;
height:30px;
position:absolute;
top:85px;
left:10px;
}
.logoForSp .searchToggle a{
display:block;
width:30px;
height:30px;
background-position:center -30px;
position:absolute;
top:85px;
right:10px;
}
.logoForSp .searchToggle a.active{
background-position:center -60px;
}

/* Google Search */
.googleSearch{
position:relative;
top:0;
right:0;
margin:0;
padding:10px 10px 2px;
background:#fff;
display:none;
}
.googleSearch .form-search{
position:relative;
width:100%;
height:30px;
margin:0;
}
.googleSearch .input-append{
float:none;
width:auto;
height:28px;
}
.googleSearch .search-query{
width:90%;
height:28px;
line-height:28px;
font-size:14px;
}
.googleSearch .btn{
position:absolute;
top:0;
right:0;
width:30px;
height:30px;
padding:0;
float:none;
background-position:center -30px;
z-index:999;
}
.breadcrumb{
display:none;
}
.snsBtn{
margin:30px 10px;
width:auto;
}
/* SLIDE AREA */
#slideArea{
width:auto;
margin:0 -10px -20px;
}
#slideArea .itemWrapper{
position:relative;
width:100%;
height:auto;
margin-bottom:20px;
}
#slideArea div.itemWrapper .bgImage{
position:relative;
width:100%;
height:auto;
z-index:500;
}
#slideArea div.itemWrapper .bgImage img{
width:100%;
height:auto;
}
#slideArea div.itemWrapper .text{
position:relative;
padding:10px 20px 30px;
z-index:501;
width:auto;
height:auto;
border:1px none #000;
display:block;
-moz-box-sizing:content-box;
-webkit-box-sizing:content-box;
-o-box-sizing:content-box;
-ms-box-sizing:content-box;
}
#slideArea.cycle-slideshow .itemWrapper .text{
height:200px !important;
}
.cycle-pager{
bottom:265px;
}
.cycle-pager span{
width:10px;
height:10px;
}
#slideArea div.itemWrapper .text{
}
#slideArea div.itemWrapper .excerpt{
line-height:1.3em;
}
#slideArea div.itemWrapper .text a{
font-size:91%;
font-family:avenirRoman;
}
/* IMAGE INDEX */
ul.flipBoxWrapper{
width:auto;
}
ul.flipBoxWrapper li h2{
margin-bottom:0.25em;
}
ul.flipBoxWrapper li{
width:100%;
display:block;
margin:0 0 0 0;
padding:5px 0;
}
.flipBox .front,
.flipBox .front img{
width:100%;
height:auto;
}
.flipBox h3{
height:auto;
   padding:12px;
}
.flipBox .card{
height:auto;
}
.articleText ul.flipBoxWrapper.no-description .card{
height:auto;
}
.flipBox .card .back p{
border-bottom:0 none #999;
margin:0 !important;
/*	margin:10px 0 0 0;*/
height:auto !important;
font-size:85%;
line-height:1.4em;
}
.revitalization{
border:0;
margin-top:10px;
background:transparent url('../common_images/japan.png') no-repeat center 80px;
}
.revitalization h2{
line-height:1.2em;
}
.revitalization .lead{
margin:380px 0 0;
}
/* CAROUSEL */
.information{
margin:0;
width:auto;
padding:20px 0;
}
.information h3{
display:block;
margin:0;
}
.jcarousel-wrapper{
margin:10px auto;
}
.jcarousel{
position:relative;
overflow:hidden;
margin:0 35px;
width:auto;
}
.jcarousel li{
width:164px !important;
margin:0 10px 0 0;
float:left;
}
.defaultWidget{
width:100%;
padding:12px;
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
-o-box-sizing:border-box;
-ms-box-sizing:border-box;
}
/* RIGHT COLS */
/*.rightCol{
display:none;
}*/
.defaultWidget{
width:100%;
padding:12px;
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
-o-box-sizing:border-box;
-ms-box-sizing:border-box;
}
/* FOOT */
.pageTop{
margin:30px 0 0;
width:auto;
margin-right:10px;
}
.pageTop a{
width:auto;
}
.footerWrapper footer{
margin:0 10px;
width:auto;
}
.footerWrapper footer ul,
.footerWrapper footer ul:last-child{
float:none;
width:auto;
margin:0 10px;
padding:7px 0;
min-height:1em;
border:0;
border-bottom:1px dotted #4d4d4d;
}
.footerWrapper footer ul.logo{
padding:0 0 8px;
width:auto;
overflow:visible;
}
.footerWrapper footer ul.logo img{
margin-left:-10px;
}
.footerWrapper footer ul li a{
display:block;
}
/* ARTICLES */
.articleImage,
.articleImage img{
float:none;
width:100%;
height:auto;
margin:0;
}
.articlePH{
padding:0;
}
img.resizable,
.articlePH img{
float:none;
width:100%;
height:auto;
vertical-align:bottom;
}
.articlePH .iframeWrap{
position:relative;
width:100%;
padding-top:56.25%;
padding-top:75%;
}
.articlePH iframe{
float:none;
vertical-align:bottom;
width:100%;
height:100%;
position:absolute;
top:0;
left:0;
}
.articlePH .caption{
padding:10px 10px;
}
.articlePH.float{
display:block;
width:auto;
overflow:hidden;
margin:0 0 5px 0;
}
.articlePH.float img{
float:none;
margin:0;
width:100%;
height:auto;
}
.pageTitleWrapper .pageTitle,
.pageTitleWrapper .pageTitle img{
max-width:100%;
height:auto;
vertical-align:bottom;
}
.newsIndex ul{
margin:0 0 0 0;
}
.newsIndex ul li .date{
width:80px;
}
.eventsIndex ul li .date{
width:80px;
}
.newsIndex ul li .headline,
.eventsIndex ul li .headline{
margin-top:0.5em;
}

.well ul.nav-pills li{
float:none !important;
width:auto !important;
}
.well ul.nav-pills li.topline a{
border-top:0;
}
/* Sitemap */
.sitemap-half{
width:auto;
float:none;
}
.siteMap ul{
width:100%;
}
.siteMap ul li{
width:auto;
margin:0 0 0 0;
clear:both;
}
/* About */
.presidentBanner{
width:100%;
overflow:hidden;
}
.presidentBanner img{
float:none;
width:100%;
margin:0;
}
/* President's Message */
.presidentFoot{
width:100%;
}
.presidentFoot img{
width:100%;
height:auto;
}
/* Research Highlight */
.ResearchTitle{
width:auto;
}
.ResearchTitle .titleImage img{
max-width:100%;
}
.ResearchTitle h2{
width:auto;
position:relative;
}
.ResearchTitle h2 span{
font-size:0;
font-size:83%;
line-height:1em;
}
.profile .profilePh{
float:none;
}
.profile .profilePh2{
float:none;
}                           
.researchers_profile{
float:none;
width:auto;
height:auto;
}
.campusMap{
width:auto;
}
.mapBox{
float:none;
display:block;
width:auto;
overflow:hidden;
margin:0 0 5px 0;
}
.mapBox img{
float:none;
width:100%;
height:auto;
vertical-align:bottom;
}
.mapBox p{
height:auto;
}
#emergencyinfo{
width:auto;
}
}
