@charset "utf-8";
/* CSS Document */
/* 2012-03-23 박원교 css정리 */
@import url("http://imgcdn.pandora.tv/css/newjp/default_jp2.css");
.container { position:relative; width:100%; padding:16px 0 20px 0; z-index:1;}
.wrap_cont { position:relative; width:980px; margin:0 auto;  }
.container h3, .section_list h3{ overflow:hidden; height:22px; line-height:22px; padding-left:12px; background: url("http://imgcdn.pandora.tv/ptv_img/japan/top/top_icon_04.gif") no-repeat 0 3px; font-size:16px; font-weight:bold; letter-spacing:-1px }
.container h3 a, .section_list h3 a{overflow:hidden; height:22px; line-height:22px; color:#1a4ccb; font-size:16px; font-weight:bold; letter-spacing:-1px;}
.container .spot { position:relative; clear:both; height:366px; margin-bottom:10px;  z-index:2; }
.container .spot .spot_lft { position:relative; float:left; width:670px; z-index:2; }
.container .spot .spot_rgt { position:relative; float:right; width:300px; z-index:1; }
.container .spot .spot_lft .section_list { position:relative; height:173px; margin-bottom:17px; }

/* sbs 서브카테고리 추가 */
.section_list .list_ttl { display:none; position:absolute; top:0; right:28px; height:22px; line-height:22px; }
.section_list .list_ttl a {font-size:12px; color:#222 !important; }
.section_list .list_ttl a:hover {color:#1a4ccb !important;}
.section_list span { padding:0 3px; color:#888; font-size:12px;}
.section_list .list_more {display:block; position:absolute; top:7px; right:30px; font-size:12px; color:#888888; text-decoration: underline;}
.section_list .list_more:hover {display:block; position:absolute; top:7px; right:30px; font-size:12px; color:#1a4ccb;}
.section_list2 .list_more {display:block; position:absolute; top:5px; right:30px; font-size:12px; color:#888888; text-decoration: underline;}
.section_list2 .list_more:hover {display:block; position:absolute; top:7px; right:30px; font-size:12px; color:#1a4ccb;}

.section_list .cate_group { width:300px; position:absolute; top:28px; right:29px; border:4px solid #666; background-color: #f4f4f4;  -moz-box-shadow: 3px 3px 10px #999999; /* Firefox */-webkit-box-shadow:3px 3px 10px #999999; /* Safari */box-shadow:3px 3px 10px #999999; z-index:10; }
.section_list .cate_group .top_area { overflow:auto; position:relative; padding:14px 0 0 19px; }
.section_list .cate_group .top_area .menu { display:block; overflow:hidden; float: left; width:52px; height:25px; line-height:25px; margin-left:-1px; background-color: #fff; border:1px solid #e8e8e8; font-size:11px; text-align:center; }
.section_list .cate_group .top_area .menu:hover { display:block; overflow:hidden; float:left; width:52px; height:25px; line-height:25px; margin-left:-1px; background-color: #ccc; color:#fff; border: 1px solid #ccc; font-size:11px; text-align:center; }
.section_list .cate_group .top_area .menu_act { display:block; overflow:hidden; float: left; width:52px; height:25px; line-height:25px; margin-left:-1px; background-color: #4d5057; color:#fff; border:1px solid #4d5057; font-size:11px; text-align:center; }
.section_list .cate_group .bottom_area { overflow: auto; position: relative; clear: both;  height: 208px; margin-top: 0px; padding:3px 0 0 19px;}
.section_list .cate_group .bottom_area .menu { display: block; overflow:hidden; position: relative; float: left; width: 132px; height: 29px;  line-height: 29px; text-decoration: none; color:#333333; font-size: 12px;}
.section_list .cate_group .bottom_area .menu:hover { color:#fd3639; }
.section_list .cate_group .bottom_area .active { color:#fd3639; font-weight:bold; }

.section_list .thmb_group { clear:both; height:145px; margin-top:6px; z-index:20; }
.section_list .thmb_group .thmb { position: relative; float:left; width:167px; margin:0; padding:0; }
.width615 .section_list .thmb_group .thmb{width:153px;}
.section_list .thmb_group .thmb .thmb_a140x80 {z-index:1; }
.section_tvbox { height:351px; }
.section_tvbox .tvbox_mov { position:relative; width:300px; height:193px; margin:6px 0 13px 0; background: url("http://imgcdn.pandora.tv/ptv_img/newptv/new_none/thmb_tvbox.png") no-repeat left top; color:#222; }
.section_tvbox .tvbox_mov_play .btn_play3 { display:block; position: absolute; right: 0; bottom:10px; width: 61px; height: 61px; margin-right: 10px; background: url("http://imgcdn.pandora.tv/ptv_img/newptv/btn_sprite_play.png") no-repeat scroll left top transparent; }
.section_tvbox dl { margin-bottom:12px; }
.section_tvbox dt { overflow:hidden; height:22px; line-height:22px; margin-bottom:0px; font-size:14px; font-weight:bold; }
.section_tvbox dd { overflow:hidden; width:300px; height:36px; line-height: 18px; margin-bottom: 3px; color:#888888; font-size:12px;}
.section_tvbox .tvbox_thmb { overflow:auto; clear:both; }
.section_tvbox .tvbox_thmb li { display:block; width:76px; float:left; }
.home_hr { clear:both; line-height:0; margin-top: 0px; margin-bottom: 18px; border-top-width: 1px; border-top-style: solid; border-top-color:#e6e6e6;  font-size:0px; }
.container .section_group { width:980px; clear:both; margin-top:2px; z-index:1;}
.cont_lft { position:relative; float:left; width:670px; padding-bottom:14px; z-index:2; }
.container .cont_rgt { position:relative; float:right; width:300px; z-index:1; }
.cont_lft .section_list { position:relative; height:173px; margin-bottom:17px; clear:both}
.container .wrap_section_list{ position:relative;  clear:both; height:173px; margin-bottom:17px; }
.container .section_list2 { position:relative; float: left; width: 334px; height:173px; margin-bottom:17px;}
.container .section_list2 .thmb_group { clear:both; height:145px; margin-top:6px;  z-index:30;}
.container .section_list2 .thmb_group .thmb { position: relative; float:left; width:167px; margin:0; padding:0; }
.container .section_list2 .thmb_group .thmb .thmb_a140x80 {z-index:1; }
.thmb .add_area{ display:block; position:absolute; top:80px; right:-36px; width:117px; z-index:800; }
.container .cont_rgt .section_myid .thmb_group .add_area{ position:absolute; top:60px; left:46px; z-index:2; }
.container .cont_rgt .voderror { width:300px; height:135px; padding-top:5px; }
.container .cont_rgt .voderror_box{ height:133px;}

.container .cont_rgt .section_myid { margin-bottom:14px; }
.container .cont_rgt .section_myid .thmb_group {position:relative; clear:both; margin-top:5px;  z-index:2; }
.container .cont_rgt .section_myid .rgt_thmb { position: relative; height:76px; margin:0; padding:0; z-index:1; }
.container .cont_rgt .section_myid .rgt_thmb .thmb_b100x62{z-index:1; }
.container .cont_rgt .section_myid .btn_main_del { display:block; position: absolute; right:0px; top:2px; width:62px; height:18px; background: url("http://imgcdn.pandora.tv/ptv_img/newptv/btn_sprite.png") no-repeat scroll -283px -36px transparent;  }
.container .cont_rgt .section_prm { margin-bottom:12px; padding-bottom:14px; background:url('http://imgcdn.pandora.tv/ptv_img/newptv/line_dot_hr.png') repeat-x bottom left; }
.container .cont_rgt .section_prm .adimg { overflow:hidden; width:300px; margin:0; margin-top:3px; margin-bottom:5px; padding:0; vertical-align:top; }
.container .cont_rgt .section_prm .adimg img { margin:0; padding:0; vertical-align:top; }
.container .cont_rgt .section_prm dl { display:block; }
.container .cont_rgt .section_prm dt { overflow:hidden; line-height:20px;height:20px; padding-top:1px;  }
.container .cont_rgt .section_prm dd { overflow:hidden;  line-height:16px; max-height:32px; _height:32px; padding-top:2px; color:#888888;}
.btn_more1 { display:block; width:70px; height:15px; line-height:15px; margin-top:2px; padding-left:6px; background: url('http://imgcdn.pandora.tv/ptv_img/newptv/ic_sprite.png') no-repeat scroll 0px -269px transparent; font-size:11px;  }
.container .cont_rgt .section_news { margin-top:9px; }
.container .cont_rgt .section_news ul { margin-top:2px; }
.container .cont_rgt .section_news li { display:block;overflow:hidden; height:20px; padding-left:6px; margin-bottom:3px; background:url('http://imgcdn.pandora.tv/ptv_img/newptv/ic_sprite.png') no-repeat -248px -136px; white-space: nowrap; }
.container .cont_rgt .section_news li a { line-height:20px; }
.container .cont_rgt .section_btad{}
.container .cont_rgt .btad1{padding:0 0 10px 0;}
.container .cont_rgt .btad1 a{line-height:0; vertical-align: top;}
.container .cont_rgt .btad2{height:60px;  margin: 0 0 10px; border: 1px solid #DADBDB;}
.container .cont_rgt .btad3 { width:298px; border: 1px solid #DADBDB; padding:0 0;}
.container .cont_rgt .btad3 h4 {height:31px; line-height:31px;  padding-left:12px; background: url("http://imgcdn.pandora.tv/ptv_img/japan/top/bt_bg.gif") repeat-x; font-size:16px; font-weight:bold}
.container .cont_rgt .btad3 .icon_more_close {background: url("http://imgcdn.pandora.tv/static/share.gif") no-repeat scroll -3px -525px transparent; cursor: pointer;float: left; height: 14px; margin-right: 5px; width: 11px;}



.container .nav_main { overflow:auto; position:relative; clear:both;  }
.container .nav_main .group_nav { width:195px; float:left; text-align:left; }
.container .nav_main h4 { line-height:20px; color:#1a4ccb; font-weight:bold; }
.container .nav_main ul { margin-top:8px; }
.container .nav_main li { overflow:hidden; height:20px; line-height:20px; margin-bottom:4px; color:#888888; }
.container .nav_main span {position:relative; line-height:20px; padding:0 12px 0;}
.container .nav_main span img{position:absolute; top:0; left:0;}
.container .nav_main li a {line-height:20px;color:#888888; }


/* 오른쪽 영역 */
.section_banbox { position:relative; width:300px; height:250px; padding-bottom:10px; }
.right_title{padding:5px;background:#efefef;font-weight:bold}
.icon_more_close {background: url("http://imgcdn.pandora.tv/static/share.gif") no-repeat scroll -3px -525px transparent; cursor: pointer;float: left; height: 14px; margin-right: 5px; width: 11px;}


/* 로그인 박스 */
.new_adBox{position:relative;margin-bottom:10px;}
.new_adBox h4 {height:31px; line-height:31px; padding-left:12px; background: url("http://imgcdn.pandora.tv/ptv_img/japan/top/bt_bg.gif") repeat-x; font-size:16px; font-weight:bold}
.new_adBox .text{padding: 10px 0;line-height:16px;text-align:center}
.new_adBox .btn_area{position:relative;}
.new_adBox .btn_area img{border: 1px solid #DADBDB;}
.new_adBox .joinBox{border:1px solid #dadbdb;border-top-color:#232323;text-align:center;background:url("images/joinbox_bg.gif") repeat-x;padding:16px 0 14px;}
.new_adBox .joinBox a{display:inline-block;height:30px;line-height:30px; }
.new_adBox .join_txt1 {display:block;font-size:15px}
.new_adBox .joinBox .bar{display:inline-block;padding:0 7px;width:1px;color:#ddd}
.ad1_jp{position:relative}
.ad2_jp{position:relative;height:30px;margin-top:5px;padding:0 10px;border:1px solid #dadbdb;background:#eefbff;line-height:30px;font-weight:bold;clear:both}
.ad2_jp a,.ad2_jp a:hover{}

/* main_right */
.main_notice{position:relative;margin-bottom:10px;border:1px solid #DADBDB}
.main_notice h4 {height:31px; line-height:31px; padding-left:12px;background: url("http://imgcdn.pandora.tv/ptv_img/japan/top/bt_bg.gif") repeat-x;font-size:16px; font-weight:bold}
.main_notice ul {padding:12px 0 0 12px;}
.main_notice li {display: block; overflow:hidden; height:20px; padding:0 0 5px 6px; background: url("http://imgcdn.pandora.tv/ptv_img/japan/top/ic_sprite.png") no-repeat scroll -248px -129px transparent; white-space: nowrap;}



.mov_box { position:relative; width:641px; height:341px; background:#000; z-index: 10;}
.pdt22 { padding-top:22px !important; }
.container .cont_lft .section_store {position:relative; width:641px; height:240px; margin-bottom:17px;}
.container .cont_lft .section_store .store_box {margin-top: 6px; width:639px; height:210px; border:1px solid #e8e8e8;}
.f_banner {width:728px; height:90px; clear:both; margin:0 auto;}



/* 로그인 했을떄 */
.bg_sky { height:31px; line-height:31px; padding-left:12px;background: url("http://imgcdn.pandora.tv/ptv_img/japan/top/bt_bg.gif") repeat-x;font-size:16px; font-weight:bold; }
.text_link{color:#039; }
.main_right{float:right;width:300px;margin-left:8px}
.main_right_border{padding:0;border:1px solid #dadbdb}
ol.top5{margin:0 0 0 23px;padding:0;font-weight:bold}
ol.top5 li{margin:0 5px 5px;padding:0}
ol.top5 li a{margin-left:-5px;font-weight:normal}
.main_right_border p{margin:0;padding:5px 0;}
.main_right_img{width:77px;margin:-5px 7px 7px;font-size:12px}
.main_right_img_close{display:block;overflow:hidden;position:relative;top:55px;left:60px;width:13px;height:13px;background:url('http://imgcdn.pandora.tv/static/share.gif') -61px -439px no-repeat;cursor:pointer}


.right_jp{float:right;width:300px}
.right{float:right;width:240px}
.most_view{padding-left:6px;padding-bottom:10px;border-left:1px solid #c8c8c8}
.most_view_title{margin-bottom:8px;padding:20px 0 8px;border-bottom:2px solid #ddd;font-weight:bold;color:#000}
.right_list{margin-top:10px;margin-left:5px;line-height:160%}
.right_more{margin-top:10px;font-size:12px;text-align:right}


.join{float:left;width:665px}
.join_title{padding:5px 0 10px 10px;border-bottom:2px solid #dbdbdb;font-weight:bold}



/* 메인 윙 배너 */
.wrap_main { position:relative; width:980px; margin:0 auto;  }
.wing_banner_left {display:block; position:absolute;left:-175px;top:0; z-index:9999;}
.wing_banner_right {display:block; position:absolute; left:995px;top:0; z-index:9999;}