﻿@font-face {
  font-family: 'Nazanin';
  src: url('fonts/BMitraBold.eot?#') format('eot'),  /* IE6–8 */

       url('fonts/BMitraBold.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: 'Nazanin Bold';
  src: url('fonts/BMitraBold.eot?#') format('eot'),  /* IE6–8 */
       url('fonts/BMitraBold.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */

       
}
