﻿
 /* --------------------- MenuHorizontal - T----------------------------------- */ 
/* topnav */

#TopMenu { padding:0px; width:805px; float:right; } /* imp for english version*/

ul#topnav {
	
	/*margin:auto; padding: 0;*/
   	/* width: 99%;*/
	height:37px;
	list-style: none;
	position: relative;
	font-size: 16px; font-weight:normal;

}
ul#topnav li {
	float: right; /* imp for english version*/
	margin-right:5px;
	padding: 0;
	/*border-right: 1px solid #555;*/
	cursor:default;

}
ul#topnav li a {
	padding: 8px 6px 12px 8px;
	height:14px;
	display: block;
	color: #fff;
	text-decoration: none;
	font-family:"Nazanin Bold";
}

ul#topnav li.navMenuSelect {background:url(../../images/Menu/BGMenuSelect1.png) no-repeat right; height:36px;  color:#015294; margin-right:0px;  } /* imp for english version*/
ul#topnav li.navMenuSelect a {background:url(../../images/Menu/BGMenuSelect1-1.png) no-repeat left top; height:16px;  margin-left:-5px; color:#015294;}
ul#topnav li.navMenuOver { background:url(../../images/Menu/BGMenuOver1.png) no-repeat right; height:36px;  } /* imp for english version*/
ul#topnav li.navMenuOver a {color:#fff; background:url(../../images/Menu/BGMenuOver1-1.png) no-repeat left; }
ul#topnav li.navMenuOver span a { background-image:none;}
ul#topnav li span {
	float: right; /* imp for english version*/
	padding: 5px 5px 4px 5px;
	height:21px;
	position:absolute;
	right: 0;
	top:36px; /* imp for english version*/
	display: none;
	width: 798px;
	background:url(../../images/Menu/BGsubMenu.jpg) no-repeat right top;
	color: #333;
	font-size:14px;
	font-family:"Nazanin Bold";
	text-align:center;
	direction:rtl; /* imp for english version*/
	z-index:10;
/*	-moz-border-radius-bottomright: 10px;
	-khtml-border-radius-bottomright: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	-khtml-border-radius-bottomleft: 10px;
	-webkit-border-bottom-left-radius: 10px;*/
}

ul#topnav li span label {
	text-indent:-100px;
	background:url(../../images/SeperatorC2.png) no-repeat center;
	width:5px;
	height:12px;
	overflow:hidden;
	display:inline-block;
	*display:inline;
	zoom:1;
	vertical-align:middle;
                    padding-left:0px;padding-right:0px;
	}
ul#topnav li:hover span { display: block; font-family:Nazanin; color:#fff; }
ul#topnav li span a { display:inline; padding:0px; font-family:"Nazanin Bold";font-size:14px; color:#000;}
ul#topnav li span a:hover { text-decoration: none; font-family:"Nazanin Bold"; font-size:14px; color:#333;}

/*select mode added by www.Samir.ir*/
ul#topnav li.Select {background:url(../../images/Menu/BGMenuSelect1.png) no-repeat right; height:36px;  color:#015294 }
ul#topnav li.Select span { height:36px; color:#015294 }

/* --topnav */
 /* --------------------- QuickMenuFooter - VB----------------------------------- */ 
/*
#Footer { background:url(../images/FooterBG.png) repeat-x top #e2e2e2;} */
/*#Footer .FooterContainer { width:980px; margin:auto;  min-height:120px; padding: 15px 0;} /* imp for english version*/
#Footer .FooterContent { } 

/* #Footer .FooterLogo { width:125px; height:125px; float:right; overflow:hidden; background:url(../images/FooterLogo.png) no-repeat top right; text-indent:-9999px; } /* imp for english version*/


#FooterLinks {
	text-align:right;
	direction:rtl;
	float:right;
	width:860px;
	line-height:17px;
	margin:20px 120px 0px 0px;
	font-family:"Nazanin Bold";
	font-size:13;
	} /* imp for english version-mah*/
#FooterLinks div { color:#015294;}
#FooterLinks a {
	color:#333333;
	padding:2px;
	padding-top:0px;
	}
#FooterLinks a:hover {
	color:#015294;
	}
#FooterLinks ul {
	list-style:none;
	margin: 0px;
	padding: 0px;
	}
#FooterLinks li {
	display:inline-block;
	*display:inline;
	zoom:1;
	} 
#FooterLinks .FooterSeperator {
	text-indent:-100px;
	background:url(../../images/SeperatorC2.png) no-repeat center;
	width:7px;
	height:12px;
	overflow:hidden;
	display:inline-block;
	*display:inline;
	zoom:1;
	vertical-align:middle;
	}
#RegionVeryBottom {position:relative;}
.MobileVersion {position:absolute;left:0;top:0;font-size:18px;margin-top:10px;}
.MobileVersion a {display:inline-block;padding: 0px;}
.MobileVersion img {width:32px;height:32px;float:right;}
.MobileVersion span {display:inline-block;padding-right:10px;float:right;line-height:32px;}
 /* --------------------- RichText4 - VT----------------------------------- */ 
.Seperator {
font-family: tahoma;
}
.BoxLanguages {
clear:both;
background-color: white;
float: left;
border-radius: 5px;
box-shadow: 2px 2px 5px 
#555;
margin-top: 5px;
padding:10px;

}
.BoxLanguages .Seperator {
padding-left:5px;
padding-right:5px;
}

.BoxLanguages {
clear: both;
background-color: #069;
color: white;
float: left;
border-radius: 3px;
box-shadow: 1px 1px 3px #999;
margin-top: -1px;
padding: 10px;
border-bottom: 9px solid #EEE;
}

.regNLA  {
color: #FFF;
background: #015294;
padding: 3px;
border-radius: 3px;
}

a.regNLA:hover {color:#FFEB00;}
.NewsLetReg {width:500px;}
 /* --------------------- QuickSearch - T----------------------------------- */ 
.HeaderSearch input.SearchBG {
	background:none;
	width:134px;
	height:27px;
	border:none;
	padding:0px 10px 0px 0px;
	vertical-align:middle;
	background:url(../../images/Search/Search144x24.png) no-repeat top;
	}
.HeaderSearch input.SearchBG:focus {
	background:none;
	width:134px;
	height:27px;
	border:none;
	padding:0px 10px 0px 0px;
	vertical-align:middle;
	background:url(../../images/Search/Search144x24Push.png) no-repeat top;
	}
.HeaderSearch a.SearchBtn {
	background:url(../../images/Search/IconSearch26x24.png) no-repeat top;
	width:26px;
	height:27px;
	border:none;
	overflow:hidden;
	display:block;
font-family:"Nazanin Bold";

	}
.HeaderSearch a.SearchBtn:hover {
	background:url(../../images/Search/IconSearch26x24Over.png) no-repeat top;
	width:26px;
	height:27px;
	text-indent:-999px;
	border:none;
	overflow:hidden;
	display:block;
	}
.HeaderSearch {
	width:170px;
	border:none;
	padding:8px 0px 0px 0px;
	}
 /* --------------------- CopyRight - VB----------------------------------- */ 

 /* --------------------- NewsMonoRotator2_2 - L----------------------------------- */ 
.infographic .MonoRotator1Slider { width: 288px !important; margin-top: 10px; }
.infographic .MonoRotator1Slider .Slide { width: 288px !important; height: 200px !important; overflow: hidden; }
.infographic .MonoRotator1Slider .Slide .SliderImg a img { margin: auto; display: block; border: 1px solid #ddd; max-width: 100%;height:auto; }
.infographic .MonoRotator1Slider .Slide .SliderContent { text-align: center; }
.infographic .MonoRotator1Slider .Slide .SliderContent a { color: #015294; display: none; }
.infographic .SliderNavContainer { width: 100%; position: relative; z-index: 9; }
.infographic .SliderNavContainer > a:last-child { float: right; }
.infographic .FrameTitle h2:after { content: '[جدید]'; color: #F00; padding-right: 10px; }
.FrameTitleMore { float: left; padding: 5px 0px 0px 5px; margin-top: -25px; }
.infographic .SliderNavContainer { width: 100%; position: absolute !important; z-index: 9; top: 5px; left: 55px; }
.infographic .FrameTitle h2 a:before { font-size: 0px;  content"": "-داده نما";
}

.infographic .MonoRotator1Slider:hover .Slide { width: 288px !important; height: auto !important; overflow: visible; }

 /* --------------------- CodeText2 - VT----------------------------------- */ 
.slideDownbox, .slideUpbox, .slideTogglebox{
		
		width:200px;
		height:350px;
		background-color:#000000;
		color:white;
	}
	.clear{
		clear:both;
	}
 /* --------------------- RichText3 - T----------------------------------- */ 
.TopNewsTitle {
	font-family:"Nazanin Bold";
	font-size:14px;
	color:#333;
	padding:0px;
	}
#TopNews {
   position: relative;
   overflow: hidden;
   /*border: 1px solid #000;*/
   height: 30px;
   width: 610px;
   float:right; /* imp for english version*/
   margin-right:5px;
   margin-left:5px;
   font-family:"Nazanin Bold";
   font-size:14px;
 }
 
#TopNews a {
   color:#F3000A;
   font-family:"Nazanin Bold";
   font-size:14px;
   }
#TopNews a:hover { color:#fff;}
#TopNews .headline {
	position:absolute;
	top:30px;
	right:0;
	width: 715px;
	height:20px;
	overflow:hidden;
	text-align:right;
	}

#TopNews .Time {
font-family: tahoma;
font-size: 10px;
color: #ffffff;
text-align: right;
text-indent: 5px;

}
#TopNews.Hot .Time {
display:none;
}
#TopNews.Hot a {
color:#ffffff;
background: red;
padding-left: 5px;
padding-right: 5px;
   }
 /* --------------------- RichText2_6 - L----------------------------------- */ 

 /* --------------------- Date - VT----------------------------------- */ 
.DateTime{
font-family: nazanin;

}
 /* --------------------- CodeText1 - T----------------------------------- */ 
.BoxRSS {
	width:278px;
	height:30px;
                     float:left;
}
.IconHome {}
.IconHome img {
	width:24px;
	height:24px;
	vertical-align:middle;
	float:right;
	padding:2px 0px 0px 5px;
	 }
.IconRSS {}
.IconRSS img {
	width:24px;
	height:24px;
	vertical-align:middle;
	float:right;
	padding:2px 0px 0px 5px;
	}
.TextRSS {
margin-right: 0px;
	font-family:"Nazanin Bold";
	font-size:18px;
	color:#ff771b;
	float:right;
	padding:0px 0px 0px 0px;
       width: 107px;
       text-align: center;
background: #fff;
border-radius: 3px;
	}
.TextRSS a {
	font-family:"Nazanin Bold";
	font-size:18px;
	color:red;
	text-shadow:#000 0px 1px;
	}
.TextRSS a:hover {
	color:#015294;
	}

.TextRSS.all {margin-right: 5px;}
 /* --------------------- TabNews - L----------------------------------- */ 
.TabiNewsHomePage .scrollbar1 .Time, .scrollbar { DISPLAY: NONE; }

.TabiNewsHomePage .scrollbar1 .viewport ul li { line-height: 20px !important; }
.TabbedPanelsTabGroup .TabbedPanelsTab span {padding:5px 4px !important;word-spacing:0;}
 /* --------------------- NewsLetterReg - VT----------------------------------- */ 
.newsletgroups ul {display: inline-block;width: 96%;padding: 5px;background: #EEE;}
.newsletgroups li {list-style: none;color:#6F6C6C;color: #6F6C6C;float: right;padding-right: 5px;}
.newsletbottoms {clear:both;text-align: center;padding-top: 10px;}
.newsletbottoms #NewsLetSent {width:70px;color: #333;border: #999 solid 1px;font-family: nazanin;font-size: 14px;border-radius: 5px;}
.newsletmsg {color:red;}
.noteatten{display: inline-block;width: 100%;color: #F00;text-align: center;}
.notedesc {border-bottom: 1px solid #CCC;display: inline-block;padding-bottom: 5px;margin-bottom: 15px;width: 97%;color: #666;}
 /* --------------------- NewsMonoRotator - L----------------------------------- */ 
.AxeRooz .MonoRotator1Slider { width: 288px !important; margin-top: 10px; }

.AxeRooz .MonoRotator1Slider .Slide { width: 288px !important; height: 200px !important; }

.AxeRooz .MonoRotator1Slider .Slide .SliderImg a img { margin: auto; display: block; border: 1px solid #ddd; max-width: 270px; height: 180px; width: auto; }

.AxeRooz .MonoRotator1Slider .Slide .SliderContent { text-align: center;  }

.AxeRooz .MonoRotator1Slider .Slide .SliderContent a { color: #015294; }

.AxeRooz .SliderNavContainer { width: 100%; position: relative; z-index: 9; }

.AxeRooz .SliderNavContainer > a:last-child { float: right; }
 /* --------------------- NewsMonoRotator2 - L----------------------------------- */ 

 /* --------------------- NewsMonoRotator2_1 - L----------------------------------- */ 

 /* --------------------- RichText2_3 - L----------------------------------- */ 
.LiveNews22 .FrameTitle h2 {font-size:26px;color:red;  background: rgba(255,255,255,0.9);}
.LiveNews22 .FrameTitleMore {display:none;}
.LiveNews22 .FrameTitle {
  border-bottom: solid 0px #015294 !important;
  height: 30px;display:none;
}
.LiveNews22  span a {
  color: red;
  display: inline-block;
  font-size: 26px;
  text-align: center;
  width: 100%;
  margin: 0px;
  box-sizing: border-box; /* background:url('/UserFiles/fa/images/BG123.png') no-repeat*/ ;font-family: "Nazanin Bold",B Nazanin,Nazanin,BNazanin,Arial,Tahoma;border-bottom:3px solid #025193;  padding-bottom: 7px;
}
.LiveNews22 {  
  padding:10px 0px 0px 0px;
  box-sizing: border-box;
  border: 0px solid #fff;background: ;}

.LiveNews22 h2 span {
  color: red;
  display: inline-block;
  font-size: 28px;
  text-align: center;
  width: 100%;
}
 /* --------------------- RichText2_4 - L----------------------------------- */ 

 /* --------------------- RichText2 - L----------------------------------- */ 
.Bivaseteh {position:relative;width:290px;height:145px;}
.Bivaseteh img {width:290px;height:100px;}
.Bivaseteh .b1 {display:block;position:absolute;bottom:5px;right:5px;width:125px;background:#015294;padding:2px;cursor:pointer;text-align:center;color:#fff;border-radius:5px;border:1px solid #fff;font-size:18px;}
.Bivaseteh .b2 {display:block;position:absolute;bottom:5px;left:5px;width:125px;background:#015294;padding:2px;cursor:pointer;text-align:center;color:#fff;border-radius:5px;border:1px solid #fff;font-size:18px;}
.Bivaseteh .b1:hover, .Bivaseteh .b2:hover {background:#fff;color:#333;border:1px solid #015294;}
 /* --------------------- MultiMeidaFirstPage - L----------------------------------- */ 
.MuLTiMeDia .FirstPageMultimedia .DataList2 .DataListPicContainer {
float: left;
width: 90px;
height: 60px;
overflow: hidden;
padding-left: 0;
padding-right: 10px; }

.MuLTiMeDia .FirstPageMultimedia .DataList2 img {
height: 60px;
width: 90px;
margin-left: 0;
margin-right: 5px; }

.MuLTiMeDia .FirstPageMultimedia .DataList2 { padding: 5px 0; }

.MuLTiMeDia .DataListContainer { margin-right: 0; }

.MuLTiMeDia table { width: 100%; }


 /* --------------------- NewsVertical - L----------------------------------- */ 
.Didgah .DataList2 {padding-top:0;}
.Didgah .DataList2 h2 a { font-size: 14px; }

.Didgah .DataList2 p span { font-size: 13px; }

.Didgah .DataList2 .DataListPicContainer { 
float: left;
padding-right: 10px;
padding-bottom: 0px;
padding-left: 0; }

.Didgah .DataListContainer { margin-right: 0; }
.Didgah .FrameTitleMore {display:none !important;}
.Didgah .FrameTitle .FrameTitleMore {display:block !important;}
.Didgah .Vspacer3 {padding:0;}
 /* --------------------- RichText5 - L----------------------------------- */ 

 /* --------------------- RichText2_2 - L----------------------------------- */ 
#SMScontent {width:auto;height:auto;;padding:20px;direction:rtl;background:#FFFFFF;display:inline-block;}
#SMScontent p {text-align:center;line-height: 35px;font-size:22px;white-space:nowrap;}

#APPcontent {    width: auto;
    height: auto;padding:20px;direction:rtl;background:#FFFFFF;display:inline-block;}
#APPcontent p {    line-height: 35px;
    font-size: 22px;
    white-space: nowrap;
    text-align: right;
  
    border: 1px solid #eee;
    margin: 10px;}

.MobileVersion2 {
    
    font-size: 18px;
    margin-top: 10px;
   
}

.MobileVersion2 a {    display: block;
    padding: 0;  padding: 10px;
    line-height: 35px;
    height: 35px;}
.MobileVersion2 a:hover {background-color:#eee;}
.MobileVersion2 img {width:32px;height:32px;float:right;}
.MobileVersion2 span {    display: block;
    padding-right: 50px;
    line-height: 35px;
    width: 100%;}