﻿
.TitleSimple { border:solid 1px #ff0000;height: 26px;}
.TitleSimple .FrameTitleTabLeft {  float:right; }/*imp for englesh version*/
.TitleSimple .FrameTitleTabRight { }/*imp for englesh version*/

.TitleSimple .FrameTitleMore a, .FrameNav {float:left;margin: 3px 0 0 5px;text-decoration:underline; }  /*imp for englesh version*/
.TitleSimple .FrameTitleContainer span , .TitleSimple h2 , .TitleSimple h2 a {margin:0;background-color : #ff6600;height: 26px;text-decoration:underline;}/*imp for englesh version*/
.TitleSimple h2 a:hover {text-decoration:underline; }

.TitleSimple .FrameTitleMore a:hover, .FrameNav {text-decoration:underline; }.Box1 { position:relative; direction:ltr;  /*IE8 fixer*/ ; 
border:solid 1px #dddddd;background-color : #f7f7f7;width: 100%;
} /* imp for english version*/
.Box1 .TL { position:absolute; top:-1px; left:-1px; background-color : #f7f7f7;background: url('../images/BDC_Top_Left(1).png') no-repeat left top;width: 6px;height: 6px; } /* imp for english version*/
.Box1 .TR {position:absolute; top:-1px; right:-1px;background-color : #f7f7f7;background: url('../images/BDC_Top_Right(1).png') no-repeat right top;width: 6px;height: 6px;} /* imp for english version*/
.Box1 .BL {position:absolute; bottom:-1px; left:-1px; background-color : #f7f7f7;background: url('../images/BDC_Bottom_Left(9).png') no-repeat left bottom;width: 6px;height: 6px;} /* imp for english version*/
.Box1 .BR {position:absolute; bottom:-1px; right:-1px; background-color : #f7f7f7;background: url('../images/BDC_Bottom_Right(1).png') no-repeat right bottom;width: 6px;height: 6px;} /* imp for english version*/
.Box1 .RCContainer { position:relative; z-index:1; width:100%} /* imp for english version*/
.Box1 .RCContentContainer { margin-bottom: 5px;margin-top: 5px;margin-left: 5px;margin-right: 5px;direction:rtl;}
.Box2 { position:relative; direction:ltr;  /*IE8 fixer*/ ; 
border:solid 1px #dddddd;background-color : #eeeeee;
} /* imp for english version*/
.Box2 .TL { position:absolute; top:-1px; left:-1px; background-color : #eeeeee;background: url('../images/BDC_Top_Left(6).png') no-repeat left top;width: 6px;height: 6px; } /* imp for english version*/
.Box2 .TR {position:absolute; top:-1px; right:-1px;background-color : #eeeeee;background: url('../images/BDC_Top_Right(5).png') no-repeat right top;width: 6px;height: 6px;} /* imp for english version*/
.Box2 .BL {position:absolute; bottom:-1px; left:-1px; background-color : #eeeeee;background: url('../images/BDC_Bottom_Left(8).png') no-repeat left bottom;width: 6px;height: 6px;} /* imp for english version*/
.Box2 .BR {position:absolute; bottom:-1px; right:-1px; background-color : #eeeeee;background: url('../images/BDC_Bottom_Right(5).png') no-repeat right bottom;width: 6px;height: 6px;} /* imp for english version*/
.Box2 .RCContainer { position:relative; z-index:1; width:100%} /* imp for english version*/
.Box2 .RCContentContainer { background-color : #eeeeee;direction:rtl;}
.Box3 { position:relative;  /*IE8 fixer*/ ; 
border:solid 1px #dddddd;padding-bottom: 0px;padding-top: 0px;padding-left: 0px;padding-right: 0px;background-color : #f7f7f7;
} /* imp for english version*/
.Box3 .TL { position:absolute; top:-1px; left:-1px; background: url('../images/BDC_Top_Left(0).jpg') no-repeat left top;width: 6px;height: 6px; } /* imp for english version*/
.Box3 .TR {position:absolute; top:-1px; right:-1px;background: url('../images/BDC_Top_Right(0).jpg') no-repeat right top;width: 6px;height: 6px;} /* imp for english version*/
.Box3 .BL {position:absolute; bottom:-1px; left:-1px; background: url('../images/BDC_Bottom_Left(1).jpg') no-repeat left bottom;width: 6px;height: 6px;} /* imp for english version*/
.Box3 .BR {position:absolute; bottom:-1px; right:-1px; background: url('../images/BDC_Bottom_Right(0).jpg') no-repeat right bottom;width: 6px;height: 6px;} /* imp for english version*/
.Box3 .RCContainer { position:relative; z-index:1; width:100%} /* imp for english version*/
.Box3 .RCContentContainer { margin-bottom: 10px;margin-top: 10px;margin-left: 10px;margin-right: 10px;font-family:BNazanin;font-size:12px;;}
.BoxPhoto { position:relative; direction:ltr;  /*IE8 fixer*/ ; 
border:solid 1px #505050;background-color : #151515;
} /* imp for english version*/
.BoxPhoto .TL { position:absolute; top:-1px; left:-1px; background: url('../images/BoxPhotoLT(2).jpg') no-repeat left top;width: 6px;height: 6px; } /* imp for english version*/
.BoxPhoto .TR {position:absolute; top:-1px; right:-1px;background: url('../images/BoxPhotoRT(2).jpg') no-repeat right top;width: 6px;height: 6px;} /* imp for english version*/
.BoxPhoto .BL {position:absolute; bottom:-1px; left:-1px; background: url('../images/BoxPhotoLB(9).jpg') no-repeat left bottom;width: 6px;height: 6px;} /* imp for english version*/
.BoxPhoto .BR {position:absolute; bottom:-1px; right:-1px; background: url('../images/BoxPhotoRB(2).jpg') no-repeat right bottom;width: 6px;height: 6px;} /* imp for english version*/
.BoxPhoto .RCContainer {  z-index:1;position:relative;width:100%} /* imp for english version*/
.BoxPhoto .RCContentContainer { padding-bottom: 5px;padding-top: 5px;padding-left: 5px;padding-right: 5px;direction:rtl;}
.SimpleBorder { position:relative;  /*IE8 fixer*/ ; 
border:solid 2px #808080;
} /* imp for english version*/
.SimpleBorder .TL { position:absolute; top:-1px; left:-1px;  } /* imp for english version*/
.SimpleBorder .TR {position:absolute; top:-1px; right:-1px;} /* imp for english version*/
.SimpleBorder .BL {position:absolute; bottom:-1px; left:-1px; } /* imp for english version*/
.SimpleBorder .BR {position:absolute; bottom:-1px; right:-1px; } /* imp for english version*/
.SimpleBorder .RCContainer { position:relative; z-index:1; width:100%} /* imp for english version*/
.SimpleBorder .RCContentContainer { padding:5px 0 0 0; }
