﻿

#FirstPageNewsSlider .MainPic img {
width: 330px;
height: 220px;
padding-left: 0;
margin-left: 10px;
border: 1px solid #ccc; 	}

.FirstTopNewsRotator .BR, .FirstTopNewsRotator .BL { DISPLAY: NONE; }

.Box1.FirstTopNewsRotator { border-bottom: 0; }

.FirstTopNewsRotator #FirstPagePager { position: absolute; bottom: 0; left: 40px; z-index: 9; }

.FirstTopNewsRotator .FrameTitleMore { position: absolute; bottom: -3px; left: 0; z-index: 9; }




.GozidehaTop .BR, .GozidehaTop .BL, .GozidehaTop .TR, .GozidehaTop .TL { DISPLAY: NONE; }

.Box1.GozidehaTop { border-top: 0; }



.GozidehaTop .ItemList1 a { width: 205px !important; height: 210px; overflow: hidden; }

.GozidehaTop .ItemList1 { height: 210px; }

.GozidehaTop .NewsSlider3 { height: 210px;margin-top:-25px; }

.GozidehaTop .ItemList1 a img { width: 195px; height: 133px; }



.GozidehaTop .FrameTitle { border: none; }

.GozidehaTop .FrameTitleTabLeft { DISPLAY: NONE; }

.GozidehaTop .RCContainer { height: 230px; }

.GozidehaTop .FrameNav { position: absolute; bottom: -5px; left: 40px; }

.GozidehaTop .FrameTitleMore { position: absolute; bottom: -7px; left: 0; z-index: 9; }


.GozidehaTop .ItemList1 a { margin-left: 5px; font-size:13px; }
.GozidehaTop .ItemList1 h1:last-child a { margin-left: 0; }

.GozidehaBottom .TR, .GozidehaBottom .TL { DISPLAY: NONE; }


.GozidehaBottom .RCContainer { height: 230px; }

.GozidehaBottom .FrameNav { position: absolute; bottom: 0; left: 40px; }

.GozidehaBottom .FrameTitleMore { position: absolute; bottom: -3px; left: 0; z-index: 9; }

.GozidehaBottom .ItemList1 a {font-size:13px;}


.Ostanha .DateStyle {display:none;}
.Ostanha .DottedLineC1  {display:none;}

.Gozaresh li.TabbedPanelsTab:last-child {color:red;}
.Gozaresh li.TabbedPanelsTabSelected {
color: #fff !important;
}



.OstanhaLinks a {
background: #EBE8E8;
color: #000000;
padding: 5px;
border-radius: 5px;
margin: 1px;
display: block;
float: right;
width:152px;
font-size:16px;
}

.OstanhaLinks a:hover{background:#ffffff;color:#015294;border: 1px solid #EBE8E8;padding: 4px;}

.OstanhaLinks .LinkTextSeperator {display:none;}

.OstanhaLinks .FrameTitleMore {display:none;}

.OstanhaLinks .FrameTitle {margin-bottom:5px;}
.OstanhaLinks .TextLink span span {}
.OstanhaLinks .Selected a {
background: #ffffff;
color: #015294;
border: 1px solid #EBE8E8;
padding: 4px;

}
.OstanhaLinks .Selected  {}
.OstanhaLinks .Description {display:none;}
.LinkItem_243 {color:#0979D5  !important;background: #D5D3D3 !important;}

.International a {
width:118px;
background: #CCCCCC;
}


.OsatanhaNewsContainer {width: 630px;
background: #ffffff;
position: absolute;
right: 7px;
padding: 10px;
border: solid 1px #cccccc;
-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;    -webkit-box-shadow: 2px 2px 6px rgba(50, 50, 50, 0.75);    -moz-box-shadow:    2px 2px 6px rgba(50, 50, 50, 0.75);    box-shadow:         2px 2px 6px rgba(50, 50, 50, 0.75);
}
.LoadingNews {text-align:center;}
.LoadingNews img {padding: 10px;width:40px;}
.LoadingNews p {color: #918D8D;
font-family: tahoma !important;
font-size: 11px !important;}

.OstanhaLinks .OsatanhaNewsContainer a { border:none;border-radius:0;float:none;width:auto;}
.OstanhaLinks .OsatanhaNewsContainer  .Time {display:none;}

.LinksTo .LinkImage img {
	width:106px !important;
	height:auto !important;
	float:right;
	}
.LinksTo .LinkImage li {
	text-align:center;
	list-style:none;
	float:right;
	margin:0px;
	}
#RegionContent .LinksTo .LinkImage img {
width: auto !important;
height: 70px !important;
float: none !important;
margin-left: 0px !important;
text-align: center;
}

.Peyvanda .LinkImage img {width:212px !important;height: 58px;}
.Peyvanda li { margin-bottom: 10px; list-style: none; margin-right: 5px; border: 1px solid #ccc;  float:right; }




.OtherLangs {
	width:670px;
	height:20px;
	margin:5px 0px 0px 0px;
	}
.OtherLangs a {
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#333333;
	}
.OtherLangs a:hover {
	color:#015294;
	}
</style>
