@charset "UTF-8";

.TabbedPanels {
	margin: 0px;
	padding: 0px;
 /* IE Hack to force proper layout when preceded by a paragraph. (hasLayout Bug)*/
}

.TabbedPanelsTabGroup {
height:26px; background:url(../images/FrameTitleBG.png) repeat-x bottom;  font-family:"Courier New", Courier, monospace; font-size:14px; font-weight:normal; letter-spacing:-1px; word-spacing:-4px; }

.TabbedPanelsTabGroup .TabbedPanelsTab {
	background:url(../images/TabL.png) no-repeat; margin-left:3px; height:22px; color:#303030; float:right; display:block;
	list-style:none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-moz-outline: none;
	outline: none;
	cursor: pointer;
}/* imp for english version*/


.TabbedPanelsTabGroup .TabbedPanelsTab span {background:url(../images/TabR.png) no-repeat right bottom; height:16px; padding:3px 8px ; display:block;}

.TabbedPanelsTabGroup .TabbedPanelsTabHover {
	background:url(../images/TabLOver.png) no-repeat; margin-left:3px; height:22px; color:#303030; float:right; display:block;
}/* imp for english version*/
.TabbedPanelsTabGroup .TabbedPanelsTabHover span {
	background:url(../images/tabROver.png) no-repeat right bottom; height:16px; padding:3px 8px ;display:block;
}

.TabbedPanelsTabGroup .TabbedPanelsTabSelected {
background:url(../images/FrameTitleL.png) no-repeat; margin-left:3px; height:26px; color:#fff; float:right; display:block; color:#fff;
}/* imp for english version*/

.TabbedPanelsTabGroup .TabbedPanelsTabSelected span {
	background:url(../images/FrameTitleR.png) no-repeat right bottom; height:20px; padding:3px 8px ; display:block;
}

.TabTitle2 { font-family:Tahoma; font-size:11px; font-weight:normal; letter-spacing:0px; word-spacing:0px;}


/* This selector is an example of how to make a link inside of a tab button
 * look like normal text. Users may want to use links inside of a tab button
 * so that when it gets focus, the text *inside* the tab button gets a focus
 * ring around it, instead of the focus ring around the entire tab.
 */
.TabbedPanelsTab a {
	color: black;
	text-decoration: none;
}

/* This is the selector for the ContentGroup. The ContentGroup container houses
 * all of the content panels for each tabbed panel in the widget. For our
 * default style, this container provides the background color and borders that
 * surround the content.
 *
 * The name of the class ("TabbedPanelsContentGroup") used in this selector is
 * not necessary to make the widget function. You can use any class name you
 * want to style the ContentGroup container.
 */
.TabbedPanelsContentGroup {
	clear: both;
}

/* This is the selector for the Content panel. The Content panel holds the
 * content for a single tabbed panel. For our default style, this container
 * provides some padding, so that the content is not pushed up against the
 * widget borders.
 *
 * The name of the class ("TabbedPanelsContent") used in this selector is
 * not necessary to make the widget function. You can use any class name you
 * want to style the Content container.
 */
.TabbedPanelsContent {
	padding:0;
}

/* This selector is an example of how to change the appearnce of the currently
 * active container panel. The class "TabbedPanelsContentVisible" is
 * programatically added and removed from the content element as the panel
 * is activated/deactivated.
 */
.TabbedPanelsContentVisible {
}

/* Vertical Tabbed Panels
 *
 * The following rules override some of the default rules above so that the
 * TabbedPanels widget renders with its tab buttons along the left side of
 * the currently active content panel.
 *
 * With the rules defined below, the only change that will have to be made
 * to switch a horizontal tabbed panels widget to a vertical tabbed panels
 * widget, is to use the "VTabbedPanels" class on the top-level widget
 * container element, instead of "TabbedPanels".
 */

/* This selector floats the TabGroup so that the tab buttons it contains
 * render to the left of the active content panel. A border is drawn around
 * the group container to make it look like a list container.
 */
.VTabbedPanels .TabbedPanelsTabGroup {
	float: left;/* imp for english version*/
	width: 10em;
	height: 20em;
	background-color: #EEE;
	position: relative;
	border-top: solid 1px #999;
	border-right: solid 1px #999;
	border-left: solid 1px #CCC;
	border-bottom: solid 1px #CCC;
}

/* This selector disables the float property that is placed on each tab button
 * by the default TabbedPanelsTab selector rule above. It also draws a bottom
 * border for the tab. The tab button will get its left and right border from
 * the TabGroup, and its top border from the TabGroup or tab button above it.
 */
.VTabbedPanels .TabbedPanelsTab {
	float: none;
	margin: 0px;
	border-top: none;
	border-left: none;
	border-right: none;
}

/* This selector disables the float property that is placed on each tab button
 * by the default TabbedPanelsTab selector rule above. It also draws a bottom
 * border for the tab. The tab button will get its left and right border from
 * the TabGroup, and its top border from the TabGroup or tab button above it.
 */
.VTabbedPanels .TabbedPanelsTabSelected {
	background-color: #EEE;
	border-bottom: solid 1px #999;
}

/* This selector floats the content panels for the widget so that they
 * render to the right of the tabbed buttons.
 */
.VTabbedPanels .TabbedPanelsContentGroup {
	clear: none;
	float: left;/* imp for english version*/
	padding: 0px;
	width: 30em;
	height: 20em;
}

