﻿@charset "utf-8";
/* Template CSS, Design by Alireza Maghari :: alireza@toranjnet.com :: Toranjnet.com :: Toranjdata.ir */

* { 
	margin: 0px;
	padding: 0px;
	}

body {

	margin: 0px;
	padding: 0px;
	
}

/*Transparent Loading Styles*/
.Overlay {position:fixed; top:0; left:0; z-index:9999; overflow:hidden; width:100%; height:100%; background:#ccc; filter:alpha(opacity=75); opacity: 0.75;}
.OverlayContent, .CenterLoading {display:block; position:fixed; z-index:1000000; top:45%; left:40%;
-moz-border-radius-topleft:8px;  -webkit-border-top-left-radius:8px;
-moz-border-radius-topright:8px;  -webkit-border-top-right-radius:8px;
-moz-border-radius-bottomleft:8px;  -webkit-border-bottom-left-radius:8px;
-moz-border-radius-bottomright:8px;  -webkit-border-bottom-right-radius:8px;

}
.OverlayContent { padding:60px 10px 10px 10px; background:url(../images/Loading.gif) center 12px no-repeat #000; color:#CCC; width:250px;}
.OverlayLoading {width:100px; height:100px; background:url(images/Loading.gif) center no-repeat;}




.Farsi {  }
.English { }

table {
direction:rtl; /* imp for english version*/
}

.Table0 { font-size:0px;}

.TableCenter {margin:auto;}


img, img:link, img:visited {
	border: 0px;
	_behavior: url(iepngfix.htc);
}

.Float {
	float: right !important; /* imp for english version*/
	}
.FloatAlt {
	float: left !important; /* imp for english version*/
	}
	
.Dir { direction:rtl; !important } 
.DirAlt { direction:ltr; !important }

.Align {text-align:right;} /* imp for english version*/
.AlignAlt {text-align:left; font-family:Nazanin; font-size:14px; color:#333;} /* imp for english version*/

.BoxPhoto .AlignAlt {text-align:left; font-family:Nazanin; font-size:14px; color:#ccc;} /* imp for english version*/

.Center {text-align:right; float:right;}

.Clear, .clear  {clear:both; height:0px; line-height:0px; font-size:0px;}
	
.Hide { display:none;}
.Visible { display:block;}
.Block { display:block; width:100%; text-align:center; clear:both; }

.Strong, .strong { font-weight:bold;}
	
.ImageFloat {
	float: right; /* imp for english version*/
	margin-left: 5px; /* imp for english version*/
}

.ImageFloatAlt {
	float: left; /* imp for english version*/
	margin-right: 5px; /* imp for english version*/
}

.ImageCnt {
	margin-left: 5px;
	margin-right: 5px;
}

.ImageBorder { background-color:#CCC; padding:1px;	}


.ImageTumb50, .ImageTumb60, .ImageTumb80, .ImageTumb100, .ImageTumb130 {
	margin-top:3px;
	padding:1px;
	clear:right;
	}

.ImageTumb50 img {
	max-height: 50px;
	max-width: 50px;
	_width:50px;
}

.ImageTumb60 img {
	max-height: 60px;
	max-width: 60px;
	_width:60px;
}

.ImageTumb80 img {
	max-height: 80px;
	max-width: 80px;
	_width:80px;
}

.ImageTumb100 img {
	max-height: 100px;
	max-width: 100px;
	_width:100px;
}

.ImageTumb130 img {
	max-height: 130px;
	max-width: 130px;
	_width:130px;
}

.BorderT1 {  padding:5px;  }
.BorderT2 {  padding:5px; }
.BorderT3 {  padding:5px; }

.BoxPhoto .BorderT2 { background: #333; padding:5px; border: dotted 1px #666;}

.VBorder { border-right: #bbbbbb 1px solid; border-left: none;}/* imp for english version*/
.VBorderAlt { border-left: #bbbbbb 1px solid; border-right: none;}/* imp for english version*/

.VBorderDotted { border-right: #bbbbbb 1px dashed; border-left: none;}/* imp for english version*/
.VBorderDottedAlt { border-left: #bbbbbb 1px dashed; border-right: none;}/* imp for english version*/

.Vspacer1 { 
	padding-bottom:1px;
}

.Vspacer3 { 
	padding-top:3px;
	padding-bottom:3px;
}
.Vspacer4 { 
	padding-top:2px;
	padding-bottom:2px;
}
.Vspacer5 { 
	padding-top:5px;
	padding-bottom:5px;
}
.Vspacer8 { 
	padding-top:8px;
	padding-bottom:8px;
}

.Vspacer10 { 
	padding-top:5px;
	padding-bottom:5px;
}

.Vspacer15 { 
	padding-top:15px;
	padding-bottom:15px;
}


.Hspacer1 { 
	padding-right:1px;
	padding-left:0px;
}

.Hspacer3 { 
	padding-right:3px;
	padding-left:3px;
}
.Hspacer5 { 
	padding-right:5px;
	padding-left:5px;
}
.Hspacer8 { 
	padding-right:8px;
	padding-left:8px;
}

.HRspacer2 { 
	padding-right:2px; /* imp for english version*/
	padding-left:0px; /* imp for english version*/
}

.HLspacer2 { 
	padding-left:2px; /* imp for english version*/
	padding-right:0px; /* imp for english version*/
}

.HRspacer8 { 
	padding-right:8px; /* imp for english version*/
	padding-left:0px; /* imp for english version*/
}

.HLspacer8 { 
	padding-left:8px; /* imp for english version*/
	padding-right:0px; /* imp for english version*/
}

.HRspacer12 { 
	padding-right:12px; /* imp for english version*/
	padding-left:0px; /* imp for english version*/
}


.HRspacer30 { 
	Padding-right:30px; /* imp for english version*/
	padding-left:0px; /* imp for english version*/
}

.MarginLeftReset { margin-left:0px !important;}
.MarginRightReset { margin-right:0px !important;}
.PaddingLeftReset { padding-left:0px !important;}
.PaddingRightReset { padding-right:0px !important; }



input[type="checkbox"] {
	border:none; margin-left:5px; vertical-align:middle;
}


.Button 
{
width:110px;
font-size:11px;
font-family:Tahoma;
color:#333333;
border: #999999 solid 1px;
}

.BoxPhoto .Button {
width:110px;
font-size:11px;
font-family:Tahoma;
color:#ccc;
border: #666 solid 1px;
background:#333;
}

.Grid { border:#39F 1px solid; background:#FFF;}

.Grid td {padding:5px; border:none;}
.Grid th {padding:5px; border:none}

.GridHeader {	
	color: #ffffff;
	background-color: #9fb8d7;
	border-left:1px solid #DDD;
	border-bottom:1px solid #DDD;
	height:auto;
	min-height:50px;
	padding:5px;
	font-weight:bold;
	}
	
.GridRow { 	
	border-bottom:1px solid #DDD;
	padding:5px;
	background-color:#ffffff; }

.GridAltRow { 
	border-bottom:1px solid #DDD;
	padding:5px;
	background-color:#F8F8F8;
}

tr.GridRow:hover {
	border-bottom:1px solid #DDD;
	padding:5px;
	background-color:#f1f1f1;
}

tr.GridAltRow:hover {
	border-bottom:1px solid #DDD;
	padding:5px;
	background-color:#f2f2f2;
}	

	
.GridFooter {}


.Item { background:#F5F5F5; border-bottom:#FFF 1px solid;  }
.ItemAlt {background:#EFEFEF; border-bottom:#FFF 1px solid; }


Table.TableStyle {padding:3px; border:#c6c6c6 1px solid; background-color:#f6f6f6; margin:auto; direction:rtl; border-collapse:collapse; font-size:11px;}
Table.TableStyle td { padding:5px; vertical-align:top;  border:1px #FFF solid;}

Table.TableStyle .Item {background-color:#f6f6f6;}
Table.TableStyle .ItemAlt {	background-color:#f1f1f1;}

Table.TableStyle input[type="text"] , Table.TableStyle input[type="submit"] , Table.TableStyle input[type="file"] , Table.TableStyle input[type="password"] , Table.TableStyle textarea , Table.TableStyle .TextField {
font-size:12px;
color:#333333;
font-family:Tahoma;
border:#c6c6c6 solid 1px;
padding:2px;

}

table.TableNoStyle  { border:0 ; padding:0px; }
table.TableNoStyle td { border:0; padding:0px;}





ul.Vertical {text-align:center;}
ul.Vertical li { list-style:none; width:300px; text-align:justify; *text-align:Center; text-justify:kashida; text-align-last:justify; margin:5px auto 10px auto; direction:rtl;}
ul.Horisontal li p { text-align:justify}
ul.Horisontal {text-align:center; }
ul.Horisontal li { list-style:none; width:300px; text-align:justify; *text-align:Center; text-justify:kashida; text-align-last:justify; margin:auto; direction:rtl; display:inline-block; *display:inline; zoom:1;
 margin:5px 10px 10px 10px;}

.kashida { text-align:justify; text-justify:kashida; text-align-last:justify; }  

label { padding-right:3px; vertical-align:middle;}
input[type="radio"] { vertical-align:middle}


p {
	margin: 0px;
	padding: 0px;
	line-height:16px;
	
}




a:focus {
 outline:none;
}



h1 a {
 font-size:12px;  font-family:tahoma;
}

h1 a:hover {
	color: #cc0000;
	
}

h2 {
	
	margin:0px;
	padding:0px;
}

h2 a {
	
	
}
h2 a:hover {
	
	
}

h3 {
	font-family: tahoma;
	font-size: 11px;
	font-style: normal;
	line-height: 16px;
	font-weight: bold;
	color: #999;
	text-decoration: none;
	margin:0px;
}

h3 a {
	color: #114477;
	text-decoration: none;
}
h3 a:hover {
	color: #6da219;
	text-decoration: none;
}


/* text type */

.tt1 {
	font-family: times;
}
.tt2 {
	font-family: tahoma;
}

/* text size */
.ts1 {
	font-size: 15px;
}
.ts2 {
	font-size: 12px;
}
.ts3 {
	font-size: 11px;
}

.ts4 {
	font-size: 10px;
}

/* text color 1 */
.tc1b0 {
	color:#ffffff;
}

.tc1b1 {
	color:#CCCCCC;
}
.tc1b2 {
	color:#747474;
}
.tc1b3 {
	color:#383838;
}

/* text color 2 */

.tc2b1 {
	color:#FF8400;
}
.tc2b2 {
	color:#F5440E;
}
.tc2b3 {
	color:#ae1e23;
}

/* text color 3 */

.tc3b1 {
	color:#5EA3FF;
}
.tc3b2 {
	color:#0063ea;
}
.tc3b3 {
	color:#004AAE;
}

.tc4b1 {
	color:#7BEA8E;
}
.tc4b2 {
	color:#015294;
	font-family:"Nazanin Bold";
	font-size:14px;
}
.tc4b3 {
	color:#060;
}

#ContentBody { color:#333; font-family:Tahoma, Geneva, sans-serif; font-size:11px; line-height:14px;}
#ContentBody p { padding-bottom:8px;} 
#ContentBody h1 { padding-bottom:10px; font-family:Tahoma, Geneva, sans-serif; font-size:16px;}
#ContentBody h2 { padding-bottom:8px; font-family:Tahoma, Geneva, sans-serif; font-size:14px;}
#ContentBody h3 { padding-bottom:8px;  font-family:Tahoma, Geneva, sans-serif; font-size:12px;}
#ContentBody h4 { padding-bottom:8px;  font-family:Tahoma, Geneva, sans-serif; font-size:11px;}
#ContentBody ul { padding-bottom:10px} 
#ContentBody ul li { display:block !important; list-style:none; padding-right:12px; background-image:url(../images/BulletT1.gif); background-position:100% 2px; background-repeat:no-repeat;}
#ContentBody a{ color:#063;}
#ContentBody a:hover{color:#090;}


.SeperatorC2 { text-indent:-100px; background:url(../images/SeperatorC2.gif) no-repeat center;  width:15px; height:12px; overflow:hidden; display:inline-block; vertical-align:middle  }




.DottedLine {
	line-height: 0px;
	font-size: 0px;
	height: 1px;
	background: url(../images/DottedLine.png) repeat-x center;
	}

.DottedLineC1 {
	line-height: 0px;
	font-size: 0px;
	height: 1px;
	background: url(../images/DottedLineC1.gif) repeat-x center;
	}

.LineC1 { border-bottom:1px solid #ccc; height:1px;}

.BulletT1 { padding-right:10px; background:url(../images/Bullet11.gif) no-repeat right 10px; font-family:Nazanin; font-size:14px; color:#333;} /* imp for english version*/

.BoxPhoto .BulletT1 { padding-right:10px; background:url(../images/Bullet11.gif) no-repeat right 10px; font-family:Nazanin; font-size:14px; color:#ccc;} /* imp for english version*/

a.BulletT1 { display:block; padding-right:10px; background:url(../images/Bullet11.gif) no-repeat right 5px; font-size:11px;}/* imp for english version*/

.BoxPhoto a.BulletT1 { display:block; padding-right:10px; background:url(../images/Bullet11.gif) no-repeat right 5px; font-size:11px;}/* imp for english version*/

aBolletT1:hover {background:url(../images/Bullet11.gif) no-repeat right -90px;}/* imp for english version*/



.AlertImg { background:url(../images/alert.gif) no-repeat center; width:100px; height:100px; margin:auto}

/*Rounded BOX TYPE 1 */   
.RC1 { border:1px solid #d4d4d4; position:relative; padding:5px; direction:ltr /*IE8 fixer*/ ;} /* imp for english version*/
.RC1 .TL {background: url(../images/RCTL.png) no-repeat; width:15px; height:15px; position:absolute; top:-1px; left:-1px; } /* imp for english version*/
.RC1 .TR {background: url(../images/RCTR.png) no-repeat; width:15px; height:15px; position:absolute; top:-1px; right:-1px;} /* imp for english version*/
.RC1 .BL {background: url(../images/RCBL.png) no-repeat; width:15px; height:15px; position:absolute; bottom:-1px; left:-1px;} /* imp for english version*/
.RC1 .BR {background: url(../images/RCBR.png) no-repeat; width:15px; height:15px; position:absolute; bottom:-1px; right:-1px;} /* imp for english version*/
.RC1 .RCContainer { direction:rtl; position:relative; z-index:1; width:100%} /* imp for english version*/
.RC1 .RCContentContainer { padding: 5px 0 0 0;}
.RC1 .RCContentContainer2 { padding:8px 4px}

/*Rounded BOX TYPE 1 Gradiant */   
.RC1-G { border:1px solid #d4d4d4; position:relative; padding:5px; direction:ltr /*IE8 fixer*/ ; background:url(../images/RC-G.png) repeat-x bottom;}
.RC1-G .TL {background: url(../images/RCTL-G.png) no-repeat; width:15px; height:15px; position:absolute; top:-1px; left:-1px; }
.RC1-G .TR {background: url(../images/RCTR-G.png) no-repeat; width:15px; height:15px; position:absolute; top:-1px; right:-1px;}
.RC1-G .BL {background: url(../images/RCBL-G.png) no-repeat; width:15px; height:15px; position:absolute; bottom:-1px; left:-1px;}
.RC1-G .BR {background: url(../images/RCBR-G.png) no-repeat; width:15px; height:15px; position:absolute; bottom:-1px; right:-1px;}
.RC1-G .RCContainer { direction:rtl;  width:100%} /* imp for english version*/
.RC1-G .RCContentContainer { padding:5px 0 0 0;}


.Height270>.RC1 { height:258px;}

/*Rounded BOX TYPE 2 - small */   
.RC1s { border:1px solid #d4d4d4; background-color:#f6f6f6; position:relative; padding:5px; direction:ltr /*IE8 fixer*/ ;}
.RC1s.Gradiant { background:url(../images/RCGradiant.png) repeat-x bottom;}
.RC1s .TL {background: url(../images/RCTLs.png) no-repeat; width:5px; height:5px; position:absolute; top:-1px; left:-1px; }
.RC1s .TR {background: url(../images/RCTRs.png) no-repeat; width:5px; height:5px; position:absolute; top:-1px; right:-1px;}
.RC1s .BL {background: url(../images/RCBLs.png) no-repeat; width:5px; height:5px; position:absolute; bottom:-1px; left:-1px;}
.RC1s .BL.Gradiant {background: url(../images/RCBLGradiant.png) no-repeat; width:5px; height:15px; position:absolute; bottom:-1px; right:-1px;}
.RC1s .BR {background: url(../images/RCBRs.png) no-repeat; width:5px; height:5px; position:absolute; bottom:-1px; right:-1px;}
.RC1s .BR.Gradiant {background: url(../images/RCBRGradiant.png) no-repeat; width:5px; height:15px; position:absolute; bottom:-1px; right:-1px;}
.RC1s .RCContainer { direction:rtl; position:relative; z-index:1; width:100%}
.RC1s .RCContentContainer { padding:5px 0 0 0;}




/*list style 1*/
.ListTitle { color:#415865; font-size:11px; padding-right:10px; background:url(../Images/List2.gif) no-repeat 100% 3px; padding-bottom:10px; }
.List1 ul {}
.List1 ul .Container {}
.List1 ul li { display:block; list-style:none; text-align:justify; padding:3px 0;}
.List1 ul li a {} /* imp for english version*/
.List1 ul li span {}
.List1 ul li a:hover {color:#009226;}
 
/*list style 2*/
.List2 ul { color:#415865;}
.List2 ul .Container {}
.List2 ul li { display:block; list-style:none; text-align:justify; padding:3px 0;}
.List2 ul li a { color:#415865; padding:5px 10px; margin-right:5px; background:url(../images/List2.gif) no-repeat right 8px; line-height:14px; } /* imp for english version*/
.List2 ul li span { float:left;}
.List2 ul li a:hover {color:#00273d; padding:5px 10px; background:url(../images/List2.gif) no-repeat 100% -52px;}

/*list style 3*/
.List3 ul {}
.List3 ul .Container {}
.List3 ul li { display:block; list-style:none; text-align:justify; padding:3px 0; height:25px; overflow:hidden;}
.List3 ul li a { } /* imp for english version*/
.List3 ul li span { margin-bottom:10px; margin-top:2px;}
.List3 ul li a:hover {color:#009226;}

/*list style 4*/
.List4 ul {}
.List4 ul .Container {}
.List4 ul li { display:block; list-style:none; text-align:justify; padding:3px 0;}
.List4 ul li a { color:#415865; padding:5px 10px; background:url(../images/Bullet11.gif) no-repeat right 11px; } /* imp for english version*/
.List4 ul li span {}
.List4 ul li a:hover {color:#009226;}


.List5 ul { color:#415865;}
.List5 ul .Container {}
.List5 ul li { display:block; list-style:none; text-align:justify; padding:3px 0;}
.List5 ul li a { color:#415865; padding:5px 10px; margin-right:5px; background:url(../images/Bullet10.gif) no-repeat right 9px; line-height:14px; } /* imp for english version*/
.List5 ul li span { float:left;}
.List5 ul li a:hover {color:#00273d; padding:5px 10px; background:url(../images/Bullet10.gif) no-repeat right -86px;}




/* item list style 1*/
.ItemList1 {}
.ItemList1 ul {}
.ItemList1 ul .Container {}
.ItemList1 ul li { list-style:none; padding:3px 0; float:right; width:110px; height:105px; overflow:hidden; margin:3px 5px; text-align:center;}/* imp for english version*/
.ItemList1 ul li img { margin-bottom:5px;}
.ItemList1 ul li a {}
.ItemList1 ul li span {}
.ItemList1 ul li a:hover {}

.ItemList1 {}
.ItemList1 a { list-style:none; padding:3px 0; float:left; width:105px; height:105px; overflow:hidden; margin:3px 5px; text-align:right; display:block}/* imp for english version*/
.ItemList1 a img { margin-bottom:5px;}

/* Gallery list style 1*/
.GalleryList1 {}
.GalleryList1 ul { }
.GalleryList1 ul .Container {}
.GalleryList1 ul li { list-style:none; padding:5px; float:right; width:135px; height:120px; overflow:hidden; margin:4px; text-align:center; border:1px solid #ccc;} /* imp for english version*/
.GalleryList1 ul li:hover { background:#f1f1f1;}
.GalleryList1 ul li img { margin-bottom:5px; height:56px; width:100px;}
.GalleryList1 ul li a { color:#ccc; font-family:Nazanin; font-size:16px;}
.GalleryList1 ul li span {}
.GalleryList1 ul li a:hover { color:#ff7700;}
.GalleryList1 ul li .ImageShadow {
	border:double #505050 4px;
	padding:0px;
	background:none;
	}




/* CategoryBox */


.CategoryBox h2.C0 { background:url(../images/Bullet12-C9.png) no-repeat right center;}/* imp for english version*/
.CategoryBox h2.C0, .CategoryBox h2.C0 a {  color:#6c572a;}
.CategoryBox h2.C0 a:hover {color:#6c572a; }

.CategoryBox h2.C1 { background:url(../images/Bullet12-C1.png) no-repeat right center;}/* imp for english version*/
.CategoryBox h2.C1, .CategoryBox h2.C1 a {  color:#345567;}
.CategoryBox h2.C1 a:hover {color:#345567; }

.CategoryBox h2.C2 { background:url(../images/Bullet12-C2.png) no-repeat right center;}/* imp for english version*/
.CategoryBox h2.C2, .CategoryBox h2.C2 a {  color:#33ad3c;}
.CategoryBox h2.C2 a:hover {color:#33ad3c; }

.CategoryBox h2.C3 { background:url(../images/Bullet12-C3.png) no-repeat right center;}/* imp for english version*/
.CategoryBox h2.C3, .CategoryBox h2.C3 a {  color:#eeb508;}
.CategoryBox h2.C3 a:hover {color:#eeb508; }

.CategoryBox h2.C4 { background:url(../images/Bullet12-C4.png) no-repeat right center;}/* imp for english version*/
.CategoryBox h2.C4, .CategoryBox h2.C4 a {  color:#e22020;}
.CategoryBox h2.C4 a:hover {color:#e22020; }

.CategoryBox h2.C5 { background:url(../images/Bullet12-C5.png) no-repeat right center;}/* imp for english version*/
.CategoryBox h2.C5, .CategoryBox h2.C5 a {  color:#a71fa7;}
.CategoryBox h2.C5 a:hover {color:#a71fa7; }

.CategoryBox h2.C6 { background:url(../images/Bullet12-C6.png) no-repeat right center;}/* imp for english version*/
.CategoryBox h2.C6, .CategoryBox h2.C6 a {  color:#2b2bb0;}
.CategoryBox h2.C6 a:hover {color:#2b2bb0; }

.CategoryBox h2.C7 { background:url(../images/Bullet12-C7.png) no-repeat right center;}/* imp for english version*/
.CategoryBox h2.C7, .CategoryBox h2.C7 a {  color:#197437;}
.CategoryBox h2.C7 a:hover {color:#197437; }

.CategoryBox h2.C8 { background:url(../images/Bullet12-C8.png) no-repeat right center;}/* imp for english version*/
.CategoryBox h2.C8, .CategoryBox h2.C8 a {  color:#620502;}
.CategoryBox h2.C8 a:hover {color:#620502; }

.CategoryBox { width:220px; height:210px; overflow:hidden; margin:15px 10px 10px 10px; padding:0 0 15px 0; float:right;  background:url(../images/DottedLineC1.gif) repeat-x bottom;}/* imp for english version*/
.CategoryBox h2 { background:url(../images/Bullet12.png) no-repeat right center; margin-bottom:15px; padding-right:25px;}/* imp for english version*/
.CategoryBox h2, .CategoryBox h2 a {  font-family:Tahoma, Geneva, sans-serif; font-size:16px; font-weight:normal; color:#345567; letter-spacing:0px; word-spacing:-1px; display:block; }
.CategoryBox h2 a:hover {color:#345567; text-decoration:underline; }

.CategoryBox ul {}
.CategoryBox li { list-style:none; margin-bottom:10px; margin-right:5px;}/* imp for english version*/
.CategoryBox li a { display:block; padding-right:10px; background:url(../images/Bullet11.gif) no-repeat right 5px; font-size:12px;}/* imp for english version*/
.CategoryBox li a:hover { display:block; padding-right:10px; background:url(../images/Bullet11.gif) no-repeat right -90px;}/* imp for english version*/
.CategoryBox li span { display:none;}


/* CategoryList */
.CategoryList .CategoryBox {margin:15px 10px 10px 10px; padding:0 0 15px 0; background:url(../images/DottedLineC1.gif) repeat-x bottom; height:inherit; width:inherit; float:inherit;}
.CategoryList .CategoryBox h2 { background:url(../images/Bullet12.png) no-repeat right center; margin-bottom:15px; padding-right:25px;}/* imp for english version*/
.CategoryList .CategoryBox h2, .CategoryList .CategoryBox h2 a {  font-family:Tahoma, Geneva, sans-serif; font-size:16px; font-weight:normal; color:#345567; letter-spacing:0px; word-spacing:-1px; display:block; }
.CategoryList .CategoryBox h2 a:hover {color:#345567; text-decoration:underline; }

.CategoryList .CategoryBox ul {}
.CategoryList .CategoryBox li { list-style:none; margin-bottom:10px; margin-right:5px;}/* imp for english version*/
.CategoryList .CategoryBox li a { display:block; padding-right:10px; background:url(../images/Bullet11.gif) no-repeat right 5px; font-size:12px;} /* imp for english version*/
.CategoryList .CategoryBox li a:hover { display:block; padding-right:10px; background:url(../images/Bullet11.gif) no-repeat right -90px;}/* imp for english version*/


/* Data List */
.DataList { clear:both; margin-bottom:10px; padding-bottom:5px; background:url(../images/DottedLineC1.gif) repeat-x bottom;}

.DataList h3, .DataList h3 a { 
    font-family: tahoma; /* imp for english version*/
	font-size: 13px; /* imp for english version*/
	font-style: normal; /* imp for english version*/
	line-height: 16px;
	font-weight: bold; /* imp for english version*/
	color: #000000;
	padding-bottom:4px;}	
.DataList h3 a:hover {	color: #009226;	text-decoration: none;}
.DataList h4 { font-family:Nazanin Tahoma, Geneva, sans-serif; font-size:14px; color:#6da219; margin-bottom:5px; font-weight:normal;}

.DataList2 h4 { font-family:Nazanin; font-size:14px; color:#ff7700; font-weight:normal;}

.DataList p { text-align:justify; padding-top:4px; margin-right:20px;} /* imp for english version*/
.DataList .DataListContainer {margin-right:115px;} /* imp for english version*/

.DataList .DataListPicContainer {float:right; width:105px; overflow:hidden;} /* imp for english version*/
.DataList img {max-height:100px; max-width:100px; _width:100px; }
.DataList .DateStyle {text-align:left; font-size:10px; color:#666;} /* imp for english version*/


.DataList a span.IconNormal {margin-bottom:50px; margin-top:3px;}
.DataList a span.IconPadcast {margin-bottom:50px;margin-top:3px;}
.DataList a span.IconPhoto {margin-bottom:50px;margin-top:3px;}
.DataList a span.IconVideo {margin-bottom:50px;margin-top:3px;}


/* Data List2 */
/* Content Style */
.Content { padding:10px;}
.ContentStyle {}
.ContentStyle .ContentLargeImg {margin: 0px 10px 10px 0px; max-width: 300px; float: left; text-align:left; }/* imp for english version*/
.ContentStyle .ContentLargeImg>img { padding:5px; background:#FFF; border:1px solid #CCC; max-width:300px; max-height:300px;direction:ltr;}/* imp for english version*/

.ContentStyle .ContentLargeImgAlt {margin: 0px 10px 10px 0px; max-width: 300px; float: right; text-align:right; }/* imp for english version*/
.ContentStyle .ContentLargeImgAlt>img { padding:5px; background:#FFF; border:1px solid #CCC; max-width:300px; max-height:300px;direction:ltr;}/* imp for english version*/

.ContentStyle h2 {  
	font-family:"Nazanin Bold"; /* imp for english version*/
	font-size: 23px; /* imp for english version*/
	font-style: normal; /* imp for english version*/
	line-height: 25px;
	font-weight: bold;
	color: #333;
	padding-bottom:6px;
	}
.ContentStyle h3 {
	margin:10px 0 0 0;
	color:#333;
	background-color:#eee;
	font-size:14px;
	font-weight:normal;
	line-height:20px;
	border-bottom:1px solid #ddd;
	border-top:1px solid #ddd;
	padding:5px 5px 5px 5px;
	text-align:justify;
	z-index:1px;
	font-family:"Nazanin Bold";
	}
.MediaContent h3 {
	font-family:Nazanin;
	font-size:20px;
	line-height:20px;
	color:#ccc;
	text-decoration:none;
	line-height:22px;
	text-align:right;
	margin:10px 0px 0px 0px;
	background:none;
	border:none;
	}

.ContentStyle h4 {
	font-family:Nazanin;
	font-size:13px;
	color:#ff7700;
	margin-bottom:10px;
	font-weight:normal;
	}

.ContentStyle p  {color:#666 ; display:block; font-weight:normal ; line-height:18px !important; font-size:11px !important; text-align:justify !important; font-size:12px !important; padding-bottom:10px; text-indent:8px;}
.ContentStyle p * { font-size:12px !important;}
.ContentStyle .GalleryDataListImageContainer { padding:2px; background:#FFF; border:1px solid #CCC; width:78px; height:78px; vertical-align:middle; text-align:center;}
.ContentStyle .GalleryDataListImageContainer img {}

.SubTitleContainer { float:left; margin:5px; padding:10px; border:1px solid #ccc; width:200px; text-align:justify; background-color:#f1f1f1; font-size:11px; line-height:18px; }/* imp for english version*/

.NewsStatusBar {
	padding:0px;
	border-bottom:2px solid #f70;
	margin-bottom:15px;
	font-family:Nazanin;
	font-size:16px;
	color:#666;
	}

	.NewsStatusBar  A
	{
	    padding-right:5px;
	}

/* Media Content Style */

.ContentStyle.MediaContent h2 {
	font-family:"Nazanin Bold";
	font-size:26px;
	color:#ff7700;
	line-height:30px;
	text-align:right;
	}

.ContentStyle.MediaContent h4 { text-align:center;}

.MediaContent img {
	width:500px;
	height:333px;
	padding:0px 0px 10px 10px;
	}
.MediaContent .ImageShadow {
	border:none;
	background:none;
	}
.ContentStyle p  {color:#666 ; display:block; font-weight:normal ; line-height:18px !important; font-size:11px !important; text-align:justify !important; font-size:12px !important; padding-bottom:10px; text-indent:8px;}
.ContentStyle p * { font-size:12px !important;}
.ContentStyle .GalleryDataListImageContainer { padding:2px; background:#FFF; border:1px solid #CCC; width:78px; height:78px; vertical-align:middle; text-align:center;}
.ContentStyle .GalleryDataListImageContainer img {}

.BodyText {
	font-family:Nazanin;
	font-size:20px;
	color:#333;
	line-height:normal;
	text-align:justify;
	}

.BodyText br {
	font-size:5px;
	}

.ContentStyle .BodyText img {
	}/* imp for english version*/
.MainImage {
	padding:10px;
	width:330px;
	height:220px;
	}

.SaveFile { background: url(../images/disk.png) no-repeat center; width:16px; height:16px; float:right; text-indent:-999px; overflow:hidden;}/* imp for english version*/





/* Pager */
#PagerContainer {}
#PagerContainer span.Next { display:none;}
#PagerContainer a span.Next { background:url(../images/SliderIcons.png) no-repeat  -10px -3px; width:10px; height:12px; display:table-cell; text-indent:-100px; overflow:hidden; margin:2px 8px; }
#PagerContainer a:hover span.Next {background:url(../images/SliderIcons.png) no-repeat  -10px -17px;}

#PagerContainer span.Prev { display:none;}
#PagerContainer a span.Prev { background:url(../images/SliderIcons.png) no-repeat  -20px -3px; width:10px; height:12px; display:table-cell; text-indent:-100px; overflow:hidden; margin:2px 8px;}
#PagerContainer a:hover span.Prev {background:url(../images/SliderIcons.png) no-repeat  -20px -17px;}




.tipsy { padding: 5px; font-size: 10px; opacity: 0.8; filter: alpha(opacity=80); background-repeat: no-repeat;  background-image: url(../images/tipsy.gif); }
.tipsy-inner { padding: 5px 8px 4px 8px; background-color: black; color: white; max-width: 200px; text-align: center; }
.tipsy-inner { -moz-border-radius:3px; -webkit-border-radius:3px; }
.tipsy-north { background-position: top center; }
.tipsy-south { background-position: bottom center; }
.tipsy-east { background-position: right center; }
.tipsy-west { background-position: left center; }

.VideoQualityBarL { background:url(../images/VideoQualityBarL.png) no-repeat left; height:16px; padding:7px 8px ; }
.VideoQualityBarR { background:url(../images/VideoQualityBarR.png) no-repeat right;  height:30px; color:#3c3c3c; text-align:right; direction:rtl; } /* imp for english version*/

a.BtnT1 { height:16px; width: 40px; padding-top:2px; text-align:center; float:right; margin-left:2px; background:url(../images/BtnT1.png) no-repeat 0 0; font-size:10px; } /* imp for english version*/
a.BtnT1:hover { color:#006da0}
a.BtnT1Select { height:16px; width: 40px; padding-top:2px; text-align:center; float:right; margin-left:2px; background:url(../images/BtnT1.png) no-repeat 0 -18px; font-size:10px;  color:#fff;} /* imp for english version*/

/* Tiny Scrollbar */
.scrollbar1 {  }
.scrollbar1 .viewport {  height: 100px; overflow: hidden; position: relative; }
.scrollbar1 .overview { list-style: none; position: absolute; left: 0; top: 0; padding: 0; margin: 0; }
.scrollbar1 .scrollbar{ background: transparent url(../images/Scroll/bg-scrollbar-track-y.png) no-repeat 0 0; position: relative; background-position: 0 0; float: left; width: 15px; }
.scrollbar1 .track { background: transparent url(../images/Scroll/bg-scrollbar-trackend-y.png) no-repeat 0 100%; height: 100%; width:13px; position: relative; padding: 0 1px; }
.scrollbar1 .thumb { background: transparent url(../images/Scroll/bg-scrollbar-thumb-y.png) no-repeat 50% 100%; height: 20px; width: 25px; cursor: pointer; overflow: hidden; position: absolute; top: 0; left: -5px; }
.scrollbar1 .thumb .end { background: transparent url(../images/Scroll/bg-scrollbar-thumb-y.png) no-repeat 50% 0; overflow: hidden; height: 5px; width: 25px; }
.scrollbar1 .disable { display: none; }





.DateTimeContainer { color:#fff; padding:5px 0px; display:block; float:left;} /* imp for english version*/

/*Language*/

.LanguageContainer { float:left; Color:#fff} /* imp for english version*/
.LanguageContainer a { color:#fff; padding:5px 0px; display:block; float:left;}/* imp for english version*/
.LanguageContainer a:hover { color:#c6ff94;}
.LanguageContainer a.LangSelect { background:url(../images/LangSelectArrow.gif) no-repeat center top; cursor:default;}
.LanguageContainer a.LangSelect:hover { cursor:default; color:#fff;}
.LanguageContainer .Seperator { float:left; margin-top:7px;}/* imp for english version*/







.HeaderSearch { float:Left; width:230px; border:1px; padding:9px 0 0 0;} /* imp for english version*/

.HeaderSearch input.SearchBG { background:url(../images/TopSearchBG.png) no-repeat right top; width:200px; height:19px; border:none; padding:0 5px; vertical-align:middle} /* imp for english version*/
.HeaderSearch input.SearchBG:focus { background:url(../images/TopSearchBG.png) no-repeat right bottom; width:200px; height:19px; border:none;} /* imp for english version*/

.HeaderSearch a.SearchBtn { background:url(../images/TopSearchBtn.png) no-repeat top; width:21px; height:19px; text-indent:-999px;border:none; overflow:hidden; display:block;} /* imp for english version*/
.HeaderSearch a.SearchBtn:hover { background:url(../images/TopSearchBtn.png) no-repeat center -19px;  } /* imp for english version*/

.AdvSearchBtn { width:24px; height:19px; background:url(../images/AdvSearchArrow.png) no-repeat top center; text-indent:-999px; display:block;  overflow:hidden;}
.AdvSearchBtn:hover { width:24px; height:19px; background:url(../images/AdvSearchArrow.png) no-repeat bottom center; text-indent:-999px; display:block;  overflow:hidden;}
 
.StatusBar { padding:0; text-align:right;} /* imp for english version*/

#TopNews {
   position: relative;
   overflow: hidden;
   /*border: 1px solid #000;*/
   height: 25px;
   width: 500px;
   float:right; /* imp for english version*/
   margin-right:10px;
 }
 
#TopNews a { color:#fff;}
#TopNews a:hover { color:#c6ff94;}

.headline {
   position: absolute;
   top: 30px;
   right:0; /* imp for english version*/
   height: 15px;
   overflow:hidden;
   text-align:right; /* imp for english version*/
 }


/* Main */

#Main .MainContainer { background:url(../images/MainBGTop.png) no-repeat top center; min-height:350px; padding:10px 0;} /* imp for english version*/


#Navigator { direction:rtl;  padding:5px;
} /* imp for english version*/
#Navigator h1 { font-family:"Nazanin Bold"; color:#015294; font-size:23px;  display:block;  margin-bottom:3px;
border-bottom: dotted 1px #ccc; }
#Navigator h1 a { font-family:"Nazanin Bold"; font-size:23px; letter-spacing:-1px; word-spacing:-8px; display:block;  margin-bottom:3px;}
#Navigator h1 a:hover { color:#6da219}
#Navigator ul {}
#Navigator li { display:inline;}
#Navigator li a { font-family:Nazanin; font-size:14px; padding:0 0 0 10px; margin-left:5px; background:url(../images/BulletNav.png) no-repeat left 8px; color:#ff7700;} /* imp for english version-mah*/
#Navigator li a:hover { background:url(../images/BulletNav.png) no-repeat left 8px; color:#333;} /* imp for english version*/



 

a.PlayerOverlay { width:165px; height:110px; margin-top:-115px; position:relative; z-index:1; display:block; background:url(../images/PlayerOverlay.png) no-repeat center;} 
a.PlayerOverlay:hover { background:url(../images/PlayerOverlayOver.png) no-repeat center;}

a.PlayerOverlay_s { width:100px; height:54px; margin-top:-54px;}
a.PlayerOverlay_s:hover { width:100px; height:54px; margin-top:-54px;}


.Column370 { width:370px; float:right;} /* imp for english version*/
.Column240 { width:240px; float:right;} /* imp for english version*/
.Column348 { width:348px; float:right;} /* imp for english version*/
.Column488 { width:488px; float:right;} /* imp for english version*/
.Column620 { width:620px; float:right;} /* imp for english version*/

.Column320 { width:320px; float:right;} /* imp for english version*/


.MR10 { margin-right:10px;} /* imp for english version*/
.ML10 { margin-left:10px;} /* imp for english version*/

.ImageShadow {border-top:1px solid #e2e2e2;  border-left:1px solid #e2e2e2; background:url(../images/ImageShadow.png) no-repeat bottom right ; padding:1px 3px 3px 1px; direction:ltr /*IE8 Border fixer*/ ; } /* imp for english version*/



#TopNews {}
#TopNews a span.IconNormal { background:url(../images/IconSet2.gif) no-repeat 0 0; float:right; width:16px; height:12px; margin-left:3px;} /* imp for english version*/
#TopNews a:hover span.IconNormal { background:url(../images/IconSet2.gif) no-repeat 0 -12px; float:right; width:16px; height:12px; }/* imp for english version*/
#TopNews a span.IconPadcast { background:url(../images/IconSet2.gif) no-repeat -16px 0; float:right; width:16px; height:12px; margin-left:3px;}/* imp for english version*/
#TopNews a:hover span.IconPadcast { background:url(../images/IconSet2.gif) no-repeat -16px -12px; float:right; width:16px; height:12px; }/* imp for english version*/
#TopNews a span.IconPhoto { background:url(../images/IconSet2.gif) no-repeat -32px 0; float:right; width:16px; height:12px; margin-left:3px;}/* imp for english version*/
#TopNews a:hover span.IconPhoto { background:url(../images/IconSet2.gif) no-repeat -32px -12px; float:right; width:16px; height:12px; }/* imp for english version*/
#TopNews a span.IconVideo { background:url(../images/IconSet2.gif) no-repeat -48px 0; float:right; width:16px; height:12px; margin-left:3px;}/* imp for english version*/
#TopNews a:hover span.IconVideo { background:url(../images/IconSet2.gif) no-repeat -48px -12px; float:right; width:16px; height:12px; }/* imp for english version*/


.AdsListVertical, .AdsListHorizontal { text-align:center;}
.AdsListVertical ul li, .AdsListHorizontal ul li { list-style:none;}
.AdsListVertical ul {}
.AdsListVertical ul li { margin-bottom:3px; border:1px solid #d4d4d4; padding:1px;}



.More a { color:#d1751f; padding:5px 8px 0 0; display:block;} /* imp for english version*/
.More a:hover { color:#b15a09; text-decoration:underline;}

.MoreTab { position:absolute; top:0; left:0; padding:2px 4px;}/* imp for english version*/



.ServicesTopNews { padding:0 0 5px 0; border-bottom:1px solid #CCC;}
.ServicesTopNews h2, .ServicesTopNews h2 a { 
    font-family:"Nazanin Bold"; /* imp for english version*/
	font-size: 18px; /* imp for english version*/
	font-style: normal; /* imp for english version*/
	line-height: 18px;
	font-weight: bold; /* imp for english version*/
	letter-spacing:-2px; word-spacing:-1px;
	color: #000000;
	padding-bottom:6px; text-indent:-1px;}	 
.ServicesTopNews h2 a:hover {	color: #009226;	text-decoration: none;} 
.ServicesTopNews h4 { font-family:Tahoma, Geneva, sans-serif; font-size:12px; color:#6da219; margin-bottom:10px; font-weight:normal;}
.ServicesTopNews p { text-align:justify; padding-top:4px;}
.ServicesTopNewsContent {margin-right:305px;}/* imp for english version*/

.ServicesTopNews .ServicesTopNewsPicContainer {float:right; width:295px; overflow:hidden;} /* imp for english version*/
.ServicesTopNews img {max-height:162px; max-width:290px; _width:290px; }
.ServicesTopNews .DateStyle {text-align:left; font-size:11px; color:#666;} /* imp for english version*/


.MediaTopNews {}
.MediaTopNews h2, .MediaTopNews h1 a {font-family:"Nazanin Bold"; font-size: 18px; font-style: normal; line-height: 18px;font-weight: bold; letter-spacing:-2px; word-spacing:-1px; color: #000000; padding-bottom:6px; text-indent:-1px;}	 /* imp for english version*/
.MediaTopNews h1 a:hover {color: #009226; text-decoration: none;}
.MediaTopNews h4 { font-family:Tahoma, Geneva, sans-serif; font-size:12px; color:#6da219; margin-bottom:10px; font-weight:normal;}
.MediaTopNews p { text-align:justify; padding-top:4px;}
.MediaTopNewsContent {}

.MediaTopNews .MediaTopNewsPicContainer {float:right; width:380px; height:240px; overflow:hidden;} /* imp for english version*/
.MediaTopNews img {}




.ServicesTopNewsItemList {}
.ServicesTopNewsItemList ul {}
.ServicesTopNewsItemList ul .Container {}
.ServicesTopNewsItemList ul li { list-style:none; float:right; width:135px; height:120px; overflow:hidden; margin:10px 0px; text-align:center; padding:0 8px;} /* imp for english version*/
.ServicesTopNewsItemList ul li img { margin-bottom:5px; width:120px; height:67px;}
.ServicesTopNewsItemList ul li a {}
.ServicesTopNewsItemList ul li span {}
.ServicesTopNewsItemList ul li a:hover {}


.SpecialSelectedContainer {width:210px; height:220px; float:right; margin:1px; overflow:hidden; padding:0 0 0 5px; background:url(../images/NewsSliderBG.png) repeat-x bottom; text-align:center;} /* imp for english version*/
.SpecialSelectedContainer h2 a {color:#009226; font-family:"Courier New",Courier,monospace; font-size:16px; font-weight:normal; letter-spacing:-2px; line-height:18px; word-spacing:-5px; }
.SpecialSelectedContainer h2 a:hover {color:#009226;}

.SpecialSelectedContainer img {width:203px; height:120px;}
.SpecialItemsContainer {width:105px; height:220px; float:left; margin:1px; border-right:1px solid #ccc; padding-right:10px;} /* imp for english version*/
.SpecialItem {margin-bottom:5px;}
.SpecialItem img {width:100px; height:56px; }

/*--------------------------------------------------------------------------------  */
/* Slider Nav - with page no. */
.SliderNavContainer { margin-top:1px;} 
.SliderNav { }
.SliderNav li { float: left; list-style: none; margin-top:-1px; } /* imp for english version-mah*/
.SliderNav a {background:url(../images/PagerNo.png) no-repeat; width:20px; height:15px; display:block; margin:0 1px; padding-top:1px; text-align:center; }/* imp for english version-mah*/
.SliderNav a.activeSlide {background:url(../images/PagerNo.png) no-repeat 0 -17px; width:20px; display:block; margin:0 1px; }/* imp for english version-mah*/
.SliderNav a:focus { outline: none; }

a span.SliderNext { background:url(../images/SliderIcons.png) no-repeat  -10px -3px; width:10px; height:12px; display:none; float:left; text-indent:-100px; overflow:hidden; margin:0 2px; } /* imp for english version-mah*/
a:hover span.SliderNext {background:url(../images/SliderIcons.png) no-repeat  -10px -17px;} /* imp for english version-mah*/
a span.SliderPrev { background:url(../images/SliderIcons.png) no-repeat  -20px -3px; width:10px; height:12px; display:none; float:left; text-indent:-100px; overflow:hidden; margin:0 2px;}/* imp for english version-mah*/
a:hover span.SliderPrev {background:url(../images/SliderIcons.png) no-repeat  -20px -17px;}/* imp for english version-mah*/
a span.SliderNav { background:url(../images/SliderIcons.png) no-repeat  -10px -3px; width:10px; height:12px; float:left; text-indent:-100px; overflow:hidden; }/* imp for english version-mah*/
a:hover span.SliderNav {background:url(../images/SliderIcons.png) no-repeat  -10px -17px;}

span.SliderSeperator {background:url(../images/SliderIcons.png) no-repeat  0px -3px; width:7px; height:12px; text-indent:-100px; overflow:hidden; float:left; display:none; margin:-2px 5px 0 2px; }/* imp for english version-mah*/


/* Slider Nav */
.ImageDetail {width:325px; height:260px; margin:10px; float:left; background:#161613; border:solid 2px #8399AF; overflow:hidden; position:relative; } /* imp for english version-mah*/ 
.ImageDetail img {position:absolute; top:0; left:0; border:0;} /* imp for english version-mah*/ 


/* MonoRotator2 Slider */
.MonoRotator2Slider { width:335px !important; height:112px !important; overflow:hidden;}
.MonoRotator2Slider .Slide { width:335px;}
.MonoRotator2Slider .Slide h1 { padding:0px;}
.MonoRotator2Slider .Slide h1 a { color:#6da219; padding:5px 0px 8px 10px; display:block; font-size:11px;  font-family:tahoma;}/* imp for english version-mah*/ 
.MonoRotator2Slider .SliderImg  { max-width:100px; max-height:110px; float:left; text-align:center;}/* imp for english version-mah*/ 
.MonoRotator2Slider .SliderImg img  { width:110px; height:110px;}
.MonoRotator2Slider .SliderContent {width:200px; text-align:center; vertical-align:middle; display:table-cell; padding:10px; height:90px;  font-weight:bold}

/* Nashr Slider */
/*#NashrSlider { width:335px !important; height:112px !important; overflow:hidden;}
#NashrSlider .Slide { width:335px;}
#NashrSlider .Slide h1 { padding:0px;}
#NashrSlider .Slide h1 a { color:#6da219; padding:5px 0px 8px 10px; display:block; font-size:11px;  font-family:tahoma;}
#NashrSlider .SliderImg { width:110px; height:110px; float:left; background-color:#666; text-align:center}
#NashrSlider .SliderImg img  { width:110px; height:110px;}
#NashrSlider .SliderContent {width:200px; text-align:center; vertical-align:middle; display:table-cell; padding:10px; height:90px; font-weight:bold}

*/


/* Old Slider Nav - circle without page no.
.SliderNavContainer { margin-top:1px;}
.SliderNav { float:left; }
.SliderNav li { float: right; list-style: none; margin-top:-1px; }
.SliderNav a { text-indent:-100px; overflow:hidden; background:url(../images/SliderIcons.png) no-repeat  -30px -3px; width:8px; height:12px;display:block; margin:0 2px; }
.SliderNav a.activeSlide {text-indent:-100px; overflow:hidden; background:url(../images/SliderIcons.png) no-repeat  -30px -17px; width:8px; height:12px;display:block; margin:0 2px; }
.SliderNav a:focus { outline: none; }

a span.SliderNext { background:url(../images/SliderIcons.png) no-repeat  -10px -3px; width:10px; height:12px; display:block; float:left; text-indent:-100px; overflow:hidden; margin:0 2px; }
a:hover span.SliderNext {background:url(../images/SliderIcons.png) no-repeat  -10px -17px;}
a span.SliderPrev { background:url(../images/SliderIcons.png) no-repeat  -20px -3px; width:10px; height:12px; display:block; float:left; text-indent:-100px; overflow:hidden; margin:0 2px;}
a:hover span.SliderPrev {background:url(../images/SliderIcons.png) no-repeat  -20px -17px;}
a span.SliderNav { background:url(../images/SliderIcons.png) no-repeat  -10px -3px; width:10px; height:12px; display:block; float:left; text-indent:-100px; overflow:hidden; }
a:hover span.SliderNav {background:url(../images/SliderIcons.png) no-repeat  -10px -17px;}

span.SliderSeperator {background:url(../images/SliderIcons.png) no-repeat  0px -3px; width:7px; height:12px; text-indent:-100px; overflow:hidden; float:left; display:block; margin:-2px 5px 0 2px; }

*/

/*------------------------------------------------------------------------------------------*/

.PhotoGallery {
	float:right;
	width:108px;
	height:95px;
	border:1px solid #333;
	margin:5px;
	text-align:center;
	vertical-align:middle;
	padding:5px 0px 0px 0px;
	font-family:Nazanin;
	font-size:13px;
	}/* imp for english version-mah*/
.PhotoGallery img { width:100px; height:70px;}
.PhotoGallery a {
	color:#666;
	}
.PhotoGallery .IconZoom {
	width:16px;
	height:16px;
	background:url(../images/IconZoom.png) no-repeat left bottom;
	float:left;
	margin:3px 0px 0px 13px;
	}
.PhotoGallery2 { float:right; width:100px; height:100px; border:1px solid #ccc; margin:4px; text-align:center; vertical-align:middle; padding:1px;}/* imp for english version-mah*/
.PhotoGallery2 table td {width:100px; height:100px; vertical-align:middle;}
.PhotoGallery2 img { max-height:80px; max-width:80px;}



.ZendeginameBox, .VasiyatnameBox, .SahifeBox, .DivanBox { width:350px; height:140px; padding:20px; padding-top:160px; margin:0 20px; float:right; }/* imp for english version-mah*/

.VasiyatnameBox { background:url(../images/Vasiatname_bg.jpg) no-repeat center bottom;}
.SahifeBox { background:url(../images/Sahife_bg.jpg) no-repeat center bottom;}
.DivanBox { background:url(../images/Divan_bg.jpg) no-repeat center bottom;}
.ZendeginameBox { background:url(../images/zendeginame_bg.jpg) no-repeat center bottom;}

ul.ZendeginameList li {list-style:none; margin:1px; font-weight:bold;}
ul.ZendeginameList li a { border:1px solid #ccc; display:block; padding:5px 0; text-align:center}
ul.ZendeginameList li a:hover {border:1px solid #015f88; color:#015f88}

ul.SahifeSmallVolumList {}
ul.SahifeSmallVolumList li { list-style:none; float:right; margin:1px; }/* imp for english version-mah*/
ul.SahifeSmallVolumList li a { border:1px solid #ccc; background:#f1f1f1; display:block; width:45px; padding:5px 0; text-align:center}
ul.SahifeSmallVolumList li a:hover {border:1px solid #015f88; color:#015f88}

ul.DivanList li {list-style:none; margin:1px; float:right; width:173px; }/* imp for english version-mah*/
ul.DivanList li a { border:1px solid #ccc; display:block; padding:5px 0; text-align:center; background:#f1f1f1;}
ul.DivanList li a:hover {border:1px solid #015f88; color:#015f88}

ul.DivanList2 li {list-style:none; margin:1px;  }
ul.DivanList2 li a { border:1px solid #ccc; display:block; background:#f1f1f1; padding:5px 0; text-align:center; background:#f1f1f1;}
ul.DivanList2 li a:hover {border:1px solid #015f88; color:#015f88}


.NewsSlider3 div {float:right; background:transparent !important;; }/* imp for english version-mah*/



/* VideoPlayer */

	
a.player {	
	display:block; margin:auto;
	width:500px;
	height:340px;
	background:#000 url(/img/global/gradient/h500.png) repeat-x 0 0;
	text-align:center;
	color:#fff;
	text-decoration:none;
	cursor:pointer;
	background:-moz-linear-gradient(top, rgba(55, 102, 152, 0.9), rgba(6, 6, 6, 0.9));
	-moz-box-shadow:0 0 40px rgba(100, 118, 173, 0.5);
}

a.player:hover {
	background:-moz-linear-gradient(center top, rgba(73, 122, 173, 0.898), rgba(6, 6, 6, 0.898));	
}


a.player.plain {
	background-position:-125px 0;
	padding:0px;
	margin-top:0px;
}

a.player.small {
	background:url(/img/player/splash_small.png) no-repeat;
	height:186px;
	padding:0pt 24px 45px;
	width:251px;
	float:left; /* imp for english version-mah*/
	margin-right:30px;
	
	/* 
		width:375px;
		height:232px; 
	*/
}

a.player.small.plain {
	background-position:-24px 0;
	padding:0px;		
}

/* play button */
a.player img {
	margin-top:0px;	
}

a.player.plain img {
	margin-top:0px;	
}

a.player.small img {
	margin-top:0px;		
}

a.player p {
	margin-bottom:-15px;
	padding-top:0px;
}

/*}}}*/


/*{{{ info, overlay, grippie */

/* overlay */ 
.overlay {
	width:500px; height:340px; margin-top:-340px; position:relative; z-index:1; display:block; background:url(../images/PlayerOverlay.png) no-repeat center;
}

.overlay:hover {
	 background:url(../images/PlayerOverlayOver.png) no-repeat center;
}

a.close {
	background:url(/img/overlay/close.png) no-repeat;
	position:absolute;
	top:2px;
	right:5px;/* imp for english version-mah*/ 
	width:35px;
	height:35px;
	cursor:pointer;
}

#overlay_player { 		
	display:block;
	height:450px;
}


.Sootitr {display:block; float:left; font-family:"Nazanin Bold"; font-size:13px; line-height:1.5em; letter-spacing:-1px; word-spacing:-2px; color:#06C;  direction:rtl; margin:5px 10px 5px 5px; /*text-align:justify; color:#000;*/}/* imp for english version-mah*/
.Sootitr .SootitrT {display:block; background:url(../images/SootitrT.png) no-repeat center; width:220px; height:90px;}
.Sootitr .SootitrC {display:block; background:url(../images/SootitrC.png) repeat-y center; width:190px; min-height:50px; padding:0 15px;}
.Sootitr .SootitrB {display:block; background:url(../images/SootitrB.png) no-repeat center; width:220px; height:90px;}



.ImamSearch { background:url(../images/BaEmamSearchBG.png) no-repeat center; width:796px; height:40px; margin:auto; text-align:left; padding:9px 12px; }/* imp for english version-mah*/
.ImamSearch table { float:left;}/* imp for english version-mah*/

.ImamSearch input[type="text"] { border:none; width:640px; color:#666; font-size:18px; }
.ImamSearch input[type="submit"] { background:url(../images/BaEmamSearchBtn.png) no-repeat center; border:none; width:31px; height:30px; }


.AudioContainer { background:url(../images/SoundBG.png) no-repeat center; border:none; height:34px; }

.InnerColumn { padding-right: 10px; border-right: 1px solid #ddd; width: 230px}/* imp for english version*/
.InnerColumn h2 {
	color:#015294;
	font-family:"Nazanin Bold";
	font-size:16px;
	
	}
	
	.InnerColumn .DataList2 H3 A
	{
	    font-size:14px;
	}
	.InnerColumn .DataList2 H4
	{
	    font-size:12px;
	}
	
	.InnerColumn .DataList2 .DataListContainer
	{
	    height:auto;
	}
.TopAds { padding-bottom:10px;}
.TopAds .AdsContainer {min-height:50px; text-align:center; }
.TopAds .AdsContainer img { max-width:850px;}
.TopAds .SymbolL { width:60px; background:url(../images/SymbolL.png) no-repeat Center left;}
.TopAds .SymbolR { width:60px; background:url(../images/SymbolR.png) no-repeat Center right;}

.BaImamBoxBG { background:url(../images/BaImamBoxBG.jpg) no-repeat bottom left; overflow:hidden; height:170px; margin-top:5px; padding:5px; padding-left:118px;   }

ul.BaImamBoxList li { width:100px; float:right;margin:1px; margin-left:5px;}




/* My Jamaran page Style */

#MyJamaran #TopLogin {}
 
#MyJamaran a.LoginTab { color:#fff; padding:3px 0 5px 0; font-size:13px; text-align:center; display:block; background:#7bbd13; z-index:1000000000000; cursor:pointer; } /* imp for english version*/
#MyJamaran a.LoginTab:hover { background-color:#6da219; }
#MyJamaran #LoginPanel { padding:5px 10px; height:45px; color:#666; overflow:hidden; position:relative; z-index:3;display: none; z-index:10000000000; font-size:11px; background-color:#f1f1f1; direction:rtl;}
#MyJamaran #LoginPanel input { font-size:11px; padding:1px; border:1px solid #999; padding:2px; width:120px}

#MyJamaran .WebZoneHeader { display:none;}
#MyJamaran .WebPart {border:1px solid #d4d4d4 !important; padding:5px;}
#MyJamaran .WebPartHeader { background:#07b2d2; color:#fff; padding:4px 6px; font-family:Courier New; letter-spacing:-1px; word-spacing:-2px; font-size:12px; }
#MyJamaran .WebPartContainer { font-family:Tahoma;}
#MyJamaran .WebPartContainer li { list-style:none;}

#MyJamaran .EditArrow {  padding:3px; text-indent:-100px; overflow:hidden; background:url(../images/EditArrow.gif) no-repeat center; width:10px; height:10px;}
#MyJamaran .EditArrowOver { border:1px solid #fff !important; padding:3px; text-indent:-100px; overflow:hidden; background:url(../images/EditArrow.gif) no-repeat center; width:10px; height:10px;}
#MyJamaran .MenuPopup { background:#ddd !important; border:1px red solid !important; display:none; direction:rtl !important;}
#MyJamaran .MenuItem { background:#ccc !important;}

#MyJamaran .MyPhoto { text-align:center;}
#MyJamaran .MyPhoto img { width:300px; max-height:230px;}

/* item list style 1*/
#MyJamaran .ItemList1 {}
#MyJamaran .ItemList1 ul {}
#MyJamaran .ItemList1 ul .Container {}
#MyJamaran .ItemList1 ul li { list-style:none; padding:3px 0; float:right; width:92px; height:110px; overflow:hidden; margin:3px 4px; text-align:center;}/* imp for english version*/
#MyJamaran .ItemList1 ul li img { margin-bottom:5px; width:85px;}
#MyJamaran .ItemList1 ul li a {}
#MyJamaran .ItemList1 ul li span {}
#MyJamaran .ItemList1 ul li a:hover {}

#MyJamaran .ItemList1 {}
#MyJamaran .ItemList1 a { list-style:none; padding:3px 0; float:right; width:92px; height:110px; overflow:hidden; margin:3px 4px; text-align:right; display:block}/* imp for english version*/
#MyJamaran .ItemList1 a img { margin-bottom:5px; width:85px; }

/* Slider Nav - with page no. */
#MyJamaran .SliderNavContainer { margin-top:1px;} 
#MyJamaran .SliderNav { }
#MyJamaran .SliderNav li { list-style: none; margin-top:-1px; float:right; } /* imp for english version-mah*/
#MyJamaran .SliderNav a {background:url(../images/PagerNo.png) no-repeat; width:20px; height:15px; display:block; margin:0 1px; padding-top:1px; text-align:center; }/* imp for english version-mah*/
#MyJamaran .SliderNav a.activeSlide {background:url(../images/PagerNo.png) no-repeat 0 -17px; width:20px; display:block; margin:0 1px; }/* imp for english version-mah*/
#MyJamaran .SliderNav a:focus { outline: none; }

#MyJamaran a span.SliderNext { background:url(../images/SliderIcons.png) no-repeat  -10px -3px; width:10px; height:12px; display:none; float:left; text-indent:-100px; overflow:hidden; margin:0 2px; } /* imp for english version-mah*/
#MyJamaran a:hover span.SliderNext {background:url(../images/SliderIcons.png) no-repeat  -10px -17px;} /* imp for english version-mah*/
#MyJamaran a span.SliderPrev { background:url(../images/SliderIcons.png) no-repeat  -20px -3px; width:10px; height:12px; display:none; float:left; text-indent:-100px; overflow:hidden; margin:0 2px;}/* imp for english version-mah*/
#MyJamaran a:hover span.SliderPrev {background:url(../images/SliderIcons.png) no-repeat  -20px -17px;}/* imp for english version-mah*/
#MyJamaran a span.SliderNav { background:url(../images/SliderIcons.png) no-repeat  -10px -3px; width:10px; height:12px; float:left; text-indent:-100px; overflow:hidden; }/* imp for english version-mah*/
#MyJamaran a:hover span.SliderNav {background:url(../images/SliderIcons.png) no-repeat  -10px -17px;}

#MyJamaran span.SliderSeperator {background:url(../images/SliderIcons.png) no-repeat  0px -3px; width:7px; height:12px; text-indent:-100px; overflow:hidden; float:left; display:none; margin:-2px 5px 0 2px; }/* imp for english version-mah*/

#MyJamaran .NewsSlider3 div {float:right; background:transparent !important; width:300px !important;}/* imp for english version-mah*/


/* VideoPlayer */
#MyJamaran  a.player {	
	width:300px;
	height:230px;
}

#MyJamaran a.player.small {
	background:url(/img/player/splash_small.png) no-repeat;
	height:186px;
	padding:0pt 24px 45px;
	width:251px;
	float:left; /* imp for english version-mah*/
	margin-right:30px;
}

#MyJamaran a.player img {	margin-top:0px;	}
#MyJamaran .overlay {	width:300px; height:230px; margin-top:-230px; position:relative; z-index:1; display:block; background:url(../images/PlayerOverlay.png) no-repeat center;}



