/*
Theme Name: Definicion
Author: Beew
Author URI: http://holabeew.com
Version: 1.0
*/

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}

@font-face {
  font-family: 'Brawler';
  font-style: normal;
  font-weight: 400;
  src: local('Brawler'), url(http://themes.googleusercontent.com/static/fonts/brawler/v3/RuR7cMLAfNlP0yo6tYRcjw.woff) format('woff');
}

body{background:#fff url(images/bg-body.png);font-family:Georgia,"Times New Roman",serif;font-size:14px;color:#666}
a{color:#bb4b0d;text-decoration:none}
a:hover{color:#9c3f0c}
#top{height:10px}
#header{position:relative;background:url(images/bg-header.jpg) no-repeat center 7px;padding-top:10px;width:960px;height:208px;margin-bottom:3px}
#header #logo{background:url(images/bg-logo.png) no-repeat;margin:27px 0 0 40px;width:295px;height:95px;text-indent:-9999em}
#header #logo a{display:block;width:295px;height:95px}
#header form{position:relative;margin:5px 20px 0 0;width:480px;height:47px;background:#1c1c1c;border:1px solid #130000;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-moz-box-shadow:0 1px 0 rgba(255,255,255,0.2);-webkit-box-shadow:0 1px 0 rgba(255,255,255,0.2);box-shadow:0 1px 0 rgba(255,255,255,0.2)}
#header .buscador{margin:3px 5px 5px 10px;width:299px;height:25px;border:0;background:0;font-family:Georgia;font-size:14px;font-style:italic;color:#878787}
#header .button-orange{margin:5px;width:150px;height:38px;padding-left:30px;background:url(images/button-orange.png) repeat-x;font-family:'Brawler',serif;font-size:14px;text-transform:uppercase;color:#f6dbcd;text-align:left;border:1px solid #852f00;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;text-shadow:0 1px 1px rgba(0,0,0,0.5);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.3);-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.3);box-shadow:inset 0 1px 0 rgba(255,255,255,0.3);cursor:pointer}
#header .button-orange:hover{color:#fff}
#header .lupa{position:absolute;background:url(images/icon-lupa.png) no-repeat;width:16px;height:16px;z-index:1;top:17px;right:46px;display:block}
#navegar-por{position:absolute;z-index:300;width:480px;height:72px;top:70px;right:20px;background:#1c1c1c url(images/bg-navegar-por.png) no-repeat 5px 15px;border:1px solid #130000;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-moz-box-shadow:0 1px 0 rgba(255,255,255,0.2);-webkit-box-shadow:0 1px 0 rgba(255,255,255,0.2);box-shadow:0 1px 0 rgba(255,255,255,0.2)}
#navegar-por p{text-align:center;line-height:30px;font-size:11px;text-transform:uppercase;color:#8f8f8f}
#navegar-por ul{display:block;position:relative}
#navegar-por ul li{position:absolute;z-index:9999;border:0;-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none;-webkit-border-radius:none;-moz-border-radius:none;border-radius:none;background:0}
#navegar-por ul li a{position:absolute;z-index:4;top:0;left:0;padding:10px 0 0 15px;color:#fff;width:212px;height:25px;display:block;background:url(images/bg-navegar-por-li.png) repeat-x;border:1px solid #1b1b1b;-moz-box-shadow:0 1px 0 rgba(0,0,0,0.2),inset 0 1px 0 rgba(255,255,255,0.2);-webkit-box-shadow:0 1px 0 rgba(0,0,0,0.2),inset 0 1px 0 rgba(255,255,255,0.2);box-shadow:0 1px 0 rgba(0,0,0,0.2),inset 0 1px 0 rgba(255,255,255,0.2);-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}
#navegar-por #iniciales{position:absolute;left:237px;top:30px;z-index:2;font-weight:normal}
#navegar-por div{position:absolute;z-index:1;top:64px;left:-1px;background:#686868;width:227px;height:21px;margin-left:243px;border-right:1px solid #1b1b1b;border-left:1px solid #1b1b1b}
#navegar-por .icon-arrow-down{position:absolute;z-index:5;right:15px;top:15px}
#navegar-por ul li .icon-carpeta{position:absolute;z-index:5;left:110px;top:11px}
#navegar-por #iniciales .icon-iniciales{margin:0 0 0 10px;background-position:0 2px;height:14px}
#navegar-por ul li ul{display:none;position:absolute;z-index:0;top:33px;left:0;background:#707070 url(images/bg-submenu.png) repeat-x;width:227px;height:auto;padding:5px 0 10px 0;border-right:1px solid #1b1b1b;border-left:1px solid #1b1b1b}
#navegar-por ul li ul li{position:static;display:block;height:auto;width:auto;list-style:none;padding:9px 0;margin:0 15px;background:0;border:0;-moz-box-shadow:0 1px 0 rgba(255,255,255,0.1);-webkit-box-shadow:0 1px 0 rgba(255,255,255,0.1);box-shadow:0 1px 0 rgba(255,255,255,0.1);-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;border-bottom:1px solid #424242;font-family:'Brawler',serif;font-size:10px;font-style:italic;color:#444;text-shadow:0 1px 0 rgba(255,255,255,0.1);height:1%;padding-right:2px;text-align:right}
#navegar-por ul li ul li:hover{color:#333}
#navegar-por ul li ul li a{position:static;display:inline;text-indent:0;height:auto;width:auto;padding:0;background:0;border:0;-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none;-webkit-border-radius:none;-moz-border-radius:none;border-radius:none;float:left;font-family:'Brawler',serif;font-size:13px;font-style:normal;color:#fff;text-shadow:0 1px 0 rgba(0,0,0,0.2);display:block;width:160px;text-align:left;font-weight:normal}
#navegar-por ul li ul li a:hover{color:#ddd}
#navegar-por ul li ul li span{float:right;font-family:'Brawler',serif;font-size:10px;font-style:italic;color:#444;text-shadow:0 1px 0 rgba(255,255,255,0.1)}
#navegar-por ul li ul li.last{position:relative;border:0;padding:0;height:0}
#navegar-por ul li ul li.last div{background:url(images/bg-submenu-bottom.png) no-repeat;position:absolute;margin-left:-15px;margin-top:-54px;width:229px;height:10px;border:0}
#navegar-por ul ul{display:none}
#navegar-por ul li:hover>ul{display:block}
#main-nav{margin:22px auto 0 auto;background:url(images/bg-main-nav.png) repeat-x;width:938px;height:48px;border:1px solid #1b1b1b;border-bottom:0;-webkit-border-top-left-radius:2px;-webkit-border-top-right-radius:2px;-moz-border-radius-topleft:2px;-moz-border-radius-topright:2px;border-top-left-radius:2px;border-top-right-radius:2px;-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.3);-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.3);box-shadow:inset 0 1px 0 rgba(255,255,255,0.3)}
#main-nav ul{display:block;padding:10px 0 10px 25px;overflow:hidden;height:30px}
#main-nav ul li{float:left;display:inline;margin-right:4px;list-style:none}
#main-nav ul li a{display:block;height:30px;width:30px;line-height:30px;text-align:center;background:#434343;color:#fff;font-family:'Brawler',serif;font-size:18px;text-transform:uppercase;text-shadow:0 1px 1px rgba(0,0,0,0.5);-webkit-border-radius:10000px;-moz-border-radius:10000px;border-radius:10000px;-moz-box-shadow:inset 0 1px 0 rgba(0,0,0,0.2),0 1px 0 rgba(255,255,255,0.1);-webkit-box-shadow:inset 0 1px 0 rgba(0,0,0,0.2),0 1px 0 rgba(255,255,255,0.1);box-shadow:inset 0 1px 0 rgba(0,0,0,0.2),0 1px 0 rgba(255,255,255,0.1)}
#main-nav ul li a:hover,#main-nav ul li.current a{background:#282828}
.main-nav-bottom{margin:0 auto;background:url(images/bg-main-nav-bottom.png) no-repeat;width:940px;height:10px}
#destacado{width:960px;padding:10px 0;position:relative}
#destacado-box{margin:0 auto;padding-bottom:10px;background:url(images/bg-destacado.png);overflow:hidden;height:1%;width:940px;border-bottom:1px solid #e1ddce}
#destacado-box .ribbon-destacado{position:absolute;display:block;top:8px;right:26px;z-index:1;height:43px;width:23px;background:url(images/bg-ribbon-destacado.png) no-repeat}
#destacado-box .image-destacado{display:block;width:228px;height:166px;margin:10px 0 0 12px}
#destacado-box .image-destacado span{position:relative;display:block;width:228px;height:166px}
#destacado-box .marco{position:absolute;z-index:2}
#destacado-box .image-thumb{position:absolute;display:block;top:12px;left:12px;z-index:1}
#destacado-box #definicion{position:relative;margin:12px 12px 0 0;width:675px;overflow:hidden}
#destacado-box #definicion .space-bottom{position:absolute;top:41px;left:310px}
#destacado-box #definicion .icon-medal{position:absolute;top:34px;left:327px}
#destacado-box #definicion .title{margin-bottom:15px;padding:10px 0 15px 0;text-align:center;border-bottom:1px solid #d8d3bb;-moz-box-shadow:0 1px 0 rgba(255,255,255,0.5);-webkit-box-shadow:0 1px 0 rgba(255,255,255,0.5);box-shadow:0 1px 0 rgba(255,255,255,0.5)}
#destacado-box #definicion .title a{color:#333}
#destacado-box #definicion p{font-size:15px;font-style:italic;color:#666;line-height:140%;margin-bottom:20px}
#destacado-box #definicion p:first-letter {display:inline-block;margin-right:5px;padding:6px 8px;background:rgba(0,0,0,0.04);font-size:29px;font-weight:bold;font-style:italic;text-transform:uppercase;text-shadow:0 1px 0 rgba(255,255,255,0.5);-moz-box-shadow:0 1px 0 rgba(0,0,0,0.1);-webkit-box-shadow:0 1px 0 rgba(0,0,0,0.1);box-shadow:0 1px 0 rgba(0,0,0,0.1);font-variant:none;float:left;margin:-.06em .2em -.3em -.1em;line-height:1}
#destacado-box #definicion .button{float:right}
#destacado-box #definicion .icon-arrow-right{padding-right:10px;height:20px;background-position:10px 8px}
#ultimas-definiciones{width:960px;height:1%;overflow:hidden}
#ultimas-definiciones .ud-item{width:319px;position:relative;top:1px;left:1px;float:left;border-bottom:1px dashed #c7c6c4;border-right:1px dashed #c7c6c4}
#ultimas-definiciones .ud-item-content{position:relative;margin:10px;padding:15px;height:190px}
#ultimas-definiciones .ud-item-content header .ribbon-grey{position:absolute;top:4px;left:-2px}
#ultimas-definiciones .ud-item-content p{line-height:140%;margin-bottom:30px}
#ultimas-definiciones .ud-item-content p:first-letter {display:inline-block;margin-right:5px;padding:6px 8px;background:rgba(0,0,0,0.04);font-size:29px;font-weight:bold;font-style:italic;text-transform:uppercase;text-shadow:0 1px 0 rgba(255,255,255,0.5);-moz-box-shadow:0 1px 0 rgba(0,0,0,0.1);-webkit-box-shadow:0 1px 0 rgba(0,0,0,0.1);box-shadow:0 1px 0 rgba(0,0,0,0.1);font-variant:none;float:left;margin:-.06em .2em -.1em -.1em;line-height:1}
#ultimas-definiciones .button{position:absolute;margin-top:-45px;margin-left:76px}
#ultimas-definiciones .ud-item-content .icon-arrow-right{padding-right:10px;height:20px;background-position:10px 8px}
#wrap{overflow:hidden;padding-bottom:0}
#content{float:left;width:639px;border-right:1px dashed #c7c6c4;border-bottom:1px dashed #c7c6c4;margin-bottom:10px}
#definicion-post-box{position:relative;padding:30px 15px 15px 15px}
#definicion-post-box .title-definicion a{font-size:18px}
#definicion-post-box .title-definicion a strong{font-size:36px}
#definicion-post-box p{line-height:180%;font-size:17px;margin-bottom:22px}
#definicion-post-box p a{text-decoration:underline}
#definicion-post-box .image-destacado{margin:0 0 0 12px}
#definicion-post-box ul{float:right;width:470px;background:#dadada;padding:12px 5px}
#definicion-post-box ul .title{font-size:11px;color:#acacac;padding-left:15px;width:112px;background:0}
#definicion-post-box .post-entry:first-letter {display:inline-block;margin-right:5px;padding:6px 8px;background:rgba(0,0,0,0.04);font-size:29px;font-weight:bold;font-style:italic;text-transform:uppercase;text-shadow:0 1px 0 rgba(255,255,255,0.5);-moz-box-shadow:0 1px 0 rgba(0,0,0,0.1);-webkit-box-shadow:0 1px 0 rgba(0,0,0,0.1);box-shadow:0 1px 0 rgba(0,0,0,0.1);font-variant:none;float:left;margin:-.06em .2em -.1em -.1em;line-height:1}
#definicion-post-box ul li .icon-compartir{margin-left:10px}
#definicion-post-box ul li{width:90px;list-style:none;display:inline-block;margin-right:15px}
#definicion-post-box .ribbon-grey{position:absolute;top:4px;left:-2px;padding-top:2px;height:16px}
#definicion-post-box .icon-arrow-right-grey{padding-right:15px;height:18px;background-position:7px 6px}
#definicion-post-box .publicidad{width:100%;margin-bottom:25px}
#definiciones-relacionadas-box, #definiciones-referencias-box{padding:15px 10px}
#definiciones-relacionadas-box .title, #definiciones-referencias-box .title{text-align:center;background:url(images/bg-definiciones-relacionadas-title.png) no-repeat 0 8px;font-size:18px;margin-bottom:25px}
#definiciones-relacionadas-box ul{overflow:hidden;height:100%}
#definiciones-relacionadas-box ul li{float:left;color:#bb4b0d;width:45%;margin:0 0 25px 20px;list-style:square}
#definiciones-relacionadas-box ul li a{color:#666;margin-left:5px}
#sidebar{float:left;width:320px}
.dashed-bottom-box .publicidad{width:300px}
.dashed-bottom-box .widget-fb{background:url(_temp/widget-fb-temp.png) no-repeat;width:310px;height:260px;margin-left:-5px}
#ultimas-definiciones-sidebar{float:left;width:110px;padding:10px;margin-right:10px}
#ultimas-definiciones-sidebar header{background:url(images/icon-document.png) no-repeat center bottom;margin-bottom:20px}
#ultimas-definiciones-sidebar header .title{font-size:11px;text-align:center;padding-bottom:30px}
#ultimas-definiciones-sidebar ul li{position:relative;list-style:none;text-align:center;padding:15px 10px;border-bottom:1px solid #d1d1d1;-moz-box-shadow:0 1px 0 rgba(255,255,255,0.5);-webkit-box-shadow:0 1px 0 rgba(255,255,255,0.5);box-shadow:0 1px 0 rgba(255,255,255,0.5)}
#ultimas-definiciones-sidebar ul li:last-child{border-bottom:0;-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none;margin-bottom:28px}
#ultimas-definiciones-sidebar ul li h2 a{display:block;margin-bottom:5px;text-transform:uppercase;font-size:10px;text-shadow:0 1px 0 rgba(255,255,255,0.5);letter-spacing:1px;color:#333;font-style:normal;font-family:'Brawler',serif;font-weight:normal}
#ultimas-definiciones-sidebar ul li h2 a strong{font-family:Georgia,serif;display:block;font-style:italic;color:#666;font-weight:normal;text-transform:lowercase;font-size:14px}
#publicidad-sidebar .publicidad{float:left;width:160px}
#publicidad-bottom{height:99px;padding-top:10px}
#publicidad-bottom .publicidad{margin:0 0 10px 116px;height:90px;width:728px}
#footer{padding:10px 15px;overflow:hidden;height:1%}
#footer ul{float:right}
#footer ul li{display:inline;list-style:none;padding:5px}
#footer ul li:last-child{padding:0 5px 0 0}
#footer p{float:left;font-size:13px;font-style:italic;line-height:140%;color:#999}
#footer a{border-bottom:1px solid #d1d1d1;-moz-box-shadow:0 1px 0 rgba(255,255,255,0.7);-webkit-box-shadow:0 1px 0 rgba(255,255,255,0.7);box-shadow:0 1px 0 rgba(255,255,255,0.7);color:#999}
.left{float:left;display:inline}
.right{float:right;display:inline}
.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}
.container{width:960px;margin:0 auto}
.dashed-left-right{border-left:1px dashed #c7c6c4;border-right:1px dashed #c7c6c4}
.dashed-bottom{border-bottom:1px dashed #c7c6c4}
.icon-medal{display:inline-block;background-image:url(images/icon-medal.png);background-repeat:no-repeat;width:20px;height:15px}
.icon-carpeta{display:inline-block;background-image:url(images/icon-carpeta.png);background-repeat:no-repeat;width:20px;height:15px}
.icon-iniciales{display:inline-block;background-image:url(images/icon-iniciales.png);background-repeat:no-repeat;width:13px;height:12px}
.icon-compartir{display:inline-block;background-image:url(images/icon-compartir.png);background-repeat:no-repeat;width:15px;height:15px}
.icon-arrow-down{display:inline-block;background-image:url(images/icon-arrow-down.png);background-repeat:no-repeat;width:11px;height:7px}
.icon-arrow-right{display:inline-block;background-image:url(images/icon-arrow-right.png);background-repeat:no-repeat;width:21px;height:6px}
.icon-arrow-right-grey{display:inline-block;background-image:url(images/icon-arrow-right-grey.png);background-repeat:no-repeat;width:21px;height:6px}
.uppercase:first-letter {display:inline-block;margin-right:5px;padding:8px 6px;background:rgba(0,0,0,0.04);font-size:29px;font-weight:bold;font-style:italic;text-transform:uppercase;text-shadow:0 1px 0 rgba(255,255,255,0.5);-moz-box-shadow:0 1px 0 rgba(0,0,0,0.1);-webkit-box-shadow:0 1px 0 rgba(0,0,0,0.1);box-shadow:0 1px 0 rgba(0,0,0,0.1)}
.space-bottom{background:url(images/bg-space-bottom.png) no-repeat;height:2px;width:45px}
.button{display:inline-block;line-height:20px;padding:0 10px;font-family:'Brawler',serif;font-size:11px;text-transform:uppercase;color:#bb4b0d;letter-spacing:3px;text-shadow:0 1px 0 rgba(255,255,255,0.5);background-color:rgba(0,0,0,0.05)}
.ribbon-grey{position:relative;padding:1px 7px 0 10px;height:17px;box-shadow:0 1px 0 rgba(0,0,0,0.1);background-color:#d7d7d7;display:block;color:#acacac;font-style:italic;font-size:13px;text-shadow:0 1px 0 rgba(255,255,255,0.3);text-transform:lowercase}
.ribbon-grey .ribbon-right{position:absolute;top:0;right:-11px;width:11px;height:19px;background-image:url(images/bg-ribbon-time.png);background-repeat:no-repeat;background-position:right}
.title{font-family:'Brawler',serif;text-transform:uppercase;font-weight:normal;font-size:16px;text-shadow:0 1px 0 rgba(255,255,255,0.5);letter-spacing:2px;color:#333}
.title-definicion{text-align:center}
.title-definicion a{font-family:'Brawler',serif;font-size:12px;font-weight:normal;text-transform:uppercase;letter-spacing:.10em;text-shadow:0 1px 0 rgba(255,255,255,0.9);color:#333;display:inline-block}
.title-definicion a strong{margin:5px auto 40px auto;padding:5px 0 0 0;display:block;font-weight:normal;font-size:16px;border-top:1px solid rgba(255,255,255,0.6);-moz-box-shadow:0 -1px 0 rgba(0,0,0,0.05);-webkit-box-shadow:0 -1px 0 rgba(0,0,0,0.05);box-shadow:0 -1px 0 rgba(0,0,0,0.05)}
.box-grey{background-color:#e6e6e6}
.box-degrade{display:inline-block;list-style:none;padding:10px 0 0 15px;width:212px;height:25px;margin:0 0 5px 5px;background:url(images/bg-navegar-por-li.png) repeat-x;border:1px solid #1b1b1b;-moz-box-shadow:0 1px 0 rgba(0,0,0,0.2),inset 0 1px 0 rgba(255,255,255,0.2);-webkit-box-shadow:0 1px 0 rgba(0,0,0,0.2),inset 0 1px 0 rgba(255,255,255,0.2);box-shadow:0 1px 0 rgba(0,0,0,0.2),inset 0 1px 0 rgba(255,255,255,0.2);-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;font-family:'Brawler',serif;font-size:13px;text-transform:uppercase;color:#fff;text-shadow:0 1px 1px rgba(0,0,0,0.5)}
.dashed-bottom-box{padding:10px;border-bottom:1px dashed #c7c6c4;overflow:hidden}
.dashed-bottom-box-last{padding:10px;border-bottom:0;overflow:hidden}
.image-destacado{display:block;width:228px;height:166px;margin:10px 0 0 12px}
.image-destacado span{position:relative;display:block;width:228px;height:166px}
.image-destacado .marco{position:absolute;z-index:2}
.image-destacado .image-temp{position:absolute;display:block;top:12px;left:12px;z-index:1}
.archive .ud-item{width:100%;position:relative;top:1px;left:1px;float:left;border-bottom:1px dashed #c7c6c4}
.archive .ud-item-content{position:relative;margin:10px;padding:15px;height:190px}
.archive .ud-item-content header .ribbon-grey{position:absolute;top:4px;left:-2px}
.archive .ud-item-content p{line-height:140%;margin-bottom:30px}
.archive .ud-item-content p:first-letter {display:inline-block;margin-right:5px;padding:6px 8px;background:rgba(0,0,0,0.04);font-size:29px;font-weight:bold;font-style:italic;text-transform:uppercase;text-shadow:0 1px 0 rgba(255,255,255,0.5);-moz-box-shadow:0 1px 0 rgba(0,0,0,0.1);-webkit-box-shadow:0 1px 0 rgba(0,0,0,0.1);box-shadow:0 1px 0 rgba(0,0,0,0.1);font-variant:none;float:left;margin:-.06em .2em -.1em -.1em;line-height:1}
.archive .button{position:absolute;margin-top:-45px;margin-left:392px}
.archive .ud-item-content .icon-arrow-right{padding-right:10px;height:20px;background-position:10px 8px}
#pagination{clear:both;display:block;margin:20px 0;text-align:center;padding:10px 0}
.single #pagination{border-top:1px dashed #c7c6c4;padding-top:30px;margin-top:0}
#pagination a{margin:0 15px;padding:9px 16px;background:url(images/button-orange.png) repeat-x;font-family:'Brawler',serif;font-size:14px;text-transform:uppercase;color:#f6dbcd;text-align:center;border:1px solid #852f00;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;text-shadow:0 1px 1px rgba(0,0,0,0.5);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.3);-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.3);box-shadow:inset 0 1px 0 rgba(255,255,255,0.3);cursor:pointer}
#pagination a:hover{-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.3),inset 0 -1px 6px rgba(0,0,0,0.5);-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.3),inset 0 -1px 6px rgba(0,0,0,0.5);box-shadow:inset 0 1px 0 rgba(255,255,255,0.3),inset 0 -1px 6px rgba(0,0,0,0.5)}
#pagination a:active{-moz-box-shadow:inset 0 1px 3px rgba(0,0,0,0.25),0 1px 0 #fff;-webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,0.25),0 1px 0 #fff;box-shadow:inset 0 1px 3px rgba(0,0,0,0.25),0 1px 0 #fff}
img.centered{display:block;margin-left:auto;margin-right:auto}
img.alignright{padding:4px;margin:0 0 2px 7px;display:inline}
img.alignleft{padding:4px;margin:0 7px 2px 0;display:inline}
.alignright{float:right}
.alignleft{float:left}
.post-entry img{padding:4px;margin:0 0 2px 7px;display:inline;float:right;font-size:16px}
.post-entry img.textimage {padding:0;margin:0;float:none}
.post-entry {font-size:16px;line-height:32px;display: inline-block;}

#adtext {clear: both;float:left;margin: 0 10px 0 0; width: 300px; height: 250px;}

/*.definicion-respons { width: 520px; height: 300px; background-color: none; }*/
.definicion-respons { width: 300px; height: 250px; background-color: none; }

.adsfstp {clear:both;text-align:center;margin:30px;}
.adslot_1 { width: 336px; height: 280px; background:transparent}
.adslot_mob { display:none; }


#definicion-post-box .publicidad {margin-left:100px}

#blaze {text-align:center;}

    #productMenuBar {
    border:0;

    /*text-align:center;*/

    z-index:9999;
    width:300px;
    height:250px;
    margin: 0 auto; left:0px; right:0px;
    }

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 640px) {
/* Styles */

#wrap { max-width:100;float:none;margin:0;padding:0;
  display:block;
  width:auto;
  clear:both;
  }
        #content, #header, .container, #footer {max-width:98%;padding:0; margin: 0;}
        
        #destacado, #ultimas-definiciones {max-width:98%;}
        #destacado-box {max-width:90%;}
/*        #destacado {display:none};*/
        #destacado-box #definicion {max-width:90%;}
        
        #ultimas-definiciones .ud-item {width:960px}
        #ultimas-definiciones .ud-item{max-width:98%}
        #ultimas-definiciones .button { position: relative;margin:0;}
                    
        #ultimas-definiciones .ud-item-content {height: auto;}
                
        
        .icon-arrow-right, #destacado-box .image-destacado, #destacado-box .image-destacado span, #destacado-box .ribbon-destacado, #destacado-box .ribbon-destacado span, #destacado-box .marco, #destacado-box .image-thumb {display:none}
        
        /*#destacado-box #definicion .space-bottom, #destacado-box #definicion .icon-medal {left:10px}*/
        
        #header {height:85px}
        #header #logo {position:relative;margin:0;max-width:68%;background-size: 70% auto;padding:0;top:22px;left:15px}
        
        .post-entry img {max-width:60%;height:auto}
        #definicion-post-box .publicidad, #adtext {position:relative;margin-left:-14px;left:-14px}
        #definicion-post-box .publicidad, #adtext {text-align:left}
        .dashed-bottom-box, .container {padding:0px;margin:0}
        #main-nav, #navegar-por, .ribbon-grey, .main-nav-bottom, #top {display:none}
        .container {width:98%;margin:5px;padding:0}
        #adtext { margin-left:2px;margin-bottom:10px;float:none}
        
        #header form { max-width:28%; height:30px; margin:0; padding:0; top:15px }
        #header .buscador { max-width:60%; height:30px; margin:0; padding: 0 }
        #header .button-orange { float:right;width:25px; height:30px; margin:0; padding:0; font-size:0;background:url(/wp-content/themes/definicion/images/icon-lupa.png), url(/wp-content/themes/definicion/images/button-orange.png);background-position:3px 7px, 0;
background-repeat: no-repeat, repeat-x; }
        #header .lupa { width:16px;height:16px; margin:0; padding: 0; }
        #header .lupa { display:none }
       
        #header #logo a {width:75%}

.definicion-respons { width: 320px; height: 50px; }

.adsfstp {clear:both;text-align:left;margin:0;margin-left:-12px}
.adslot_1 { width: 300px; height: 250px; }
.adslot_mob { width: 320px; height: 100px; margin-bottom:20px;display:block;background:transparent }

#definicion-post-box p{max-width:90%}
/*#definicion-post-box p{font-size:19px}*/

#definicion-post-box p {
				line-height: 150%;
				margin-bottom: 15px;
                font-size:17px;
				}

#blaze {display:none}
        

}