.header {
  position: fixed;
  z-index: 100;
  height: 60px;
  border-top: 5px solid #0096ff;
  min-width: 1200px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.975);
  box-shadow: 0 0 4px rgba(54, 52, 52, 0.7);
  display: block;
  top: 0;
}
.header .header-inner {
  width: 75%;
  min-width: 900px;
  height: 100%;
  margin: 0 auto;
}
.header .header-inner .logo {
  display: inline-block;
  margin: 7px;
}
.header .header-inner .logo .logo-image {
  vertical-align: middle;
  display: inline-block;
  width: 40px;
  height: 40px;
  background: url("images/logo.png") center no-repeat;
  background-size: cover;
}
.header .header-inner .logo .logo-words {
  margin-left: 5px;
  color: #0096ff;
  vertical-align: middle;
  display: inline-block;
}
.header .header-inner .header-btn {
  display: inline-block;
  float: right;
}
.header .header-inner .header-btn .btn {
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  margin-right: 5px;
  margin-left: 5px;
  padding: 18px 20px 16px 20px;
  color: #000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.header .header-inner .header-btn .btn:hover {
  color: #0096ff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.cd-section {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
.cd-section .foreword-item-words {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -80px;
  margin-left: -360px;
  letter-spacing: 7px;
}
.cd-section .foreword-item-words .foreword-item-title {
  margin-bottom: 10px;
  color: #fff;
  font-size: 35px;
}
.cd-section .foreword-item-words .foreword-item-subtitle {
  width: 375px;
  line-height: 30px;
  color: #fff;
  font-size: 18px;
}
.cd-section .scroll-tip {
  cursor: s-resize;
  position: absolute;
  color: #fff;
  top: 92%;
  left: 50%;
  height: 50px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.cd-section .scroll-tip .scroll-image {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: block;
  border: 1px solid #fff;
}
.cd-section .scroll-tip .scroll-image i {
  margin-left: 14px;
  margin-top: 14px;
}
.cd-section .scroll-tip .scroll-image:before {
  content: "";
}
.cd-section .biji-item-all {
  margin: 30px 0;
  width: 900px;
  font-size: 0;
  margin: 0 auto;
}
.cd-section .biji-item-all .biji-item {
  position: relative;
  margin-top: 20px;
  margin-right: -webkit-calc((900px - 800px) / 3);
  margin-right: calc((900px - 800px) / 3);
  margin-bottom: 20px;
  display: inline-block;
  width: 200px;
  height: 250px;
  background-color: #fafafa;
  padding: 10px;
}
.cd-section .biji-item-all .biji-item .biji-image {
  margin: 5px 26px;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  border: 5px solid #eaeaea;
  background-color: #fff;
}
.cd-section .biji-item-all .biji-item .biji-title-chinese {
  text-align: center;
  color: #231f20;
  font-size: 24px;
  display: block;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.cd-section .biji-item-all .biji-item .biji-title-chinese p {
  margin-left: 5px;
  font-size: 18px;
  color: #231f20;
  display: inline-block;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.cd-section .biji-item-all .biji-item .biji-title-english {
  padding-bottom: 10px;
  text-align: center;
  color: #000;
  font-size: 14px;
  border-bottom: 1px solid #909090;
}
.cd-section .biji-item-all .biji-item .biji-web-button {
  margin-top: 10px;
  text-align: center;
}
.cd-section .biji-item-all .biji-item .biji-web-button a {
  text-decoration: none;
}
.cd-section .biji-item-all .biji-item .biji-web-button .biji-home-btn {
  margin: 0 10px;
  width: 25px;
  height: 25px;
  background-color: #0f2e6b;
  color: #fff;
  border-radius: 50%;
  display: inline-block;
  font-size: 16px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.cd-section .biji-item-all .biji-item .biji-web-button .biji-home-btn i {
  margin-top: 4px;
}
.cd-section .biji-item-all .biji-item .biji-web-button .biji-home-btn:hover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #fff;
  color: #0f2e6b;
}
.cd-section .biji-item-all .biji-item .biji-web-button .biji-fb-btn {
  margin: 0 10px;
  width: 25px;
  height: 25px;
  background-color: #3b5998;
  color: #fff;
  border-radius: 50%;
  display: inline-block;
  font-size: 16px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.cd-section .biji-item-all .biji-item .biji-web-button .biji-fb-btn i {
  margin-top: 4px;
}
.cd-section .biji-item-all .biji-item .biji-web-button .biji-fb-btn:hover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #fff;
  color: #3b5998;
}
.cd-section .biji-item-all .biji-item .biji-web-button .biji-instagram-btn {
  margin: 0 10px;
  width: 25px;
  height: 25px;
  background-color: #3f729b;
  color: #fff;
  border-radius: 50%;
  display: inline-block;
  font-size: 16px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.cd-section .biji-item-all .biji-item .biji-web-button .biji-instagram-btn i {
  margin-top: 4px;
}
.cd-section .biji-item-all .biji-item .biji-web-button .biji-instagram-btn:hover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #fff;
  color: #3f729b;
}
.cd-section .biji-item-all .biji-item:nth-child(4n) {
  margin-right: 0;
}
.cd-section .biji-item-all .biji-sportsnotetw-color .biji-image:before {
  content: "";
  width: 85%;
  height: 85%;
  margin: 8%;
  background: url("images/sports.png") center no-repeat;
  background-size: cover;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.cd-section .biji-item-all .biji-sportsnotetw-color:hover .biji-image:before {
  content: "";
  width: 85%;
  height: 85%;
  margin: 8%;
  background: url("images/sports-color.png") center no-repeat;
  background-size: cover;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.cd-section .biji-item-all .biji-sportsnotetw-color:hover .biji-title-chinese {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #0096ff;
}
.cd-section .biji-item-all .biji-sportsnotetw-color:hover .biji-title-chinese p {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #0096ff;
}
.cd-section .biji-item-all .biji-sportsnotehk-color .biji-image:before {
  content: "";
  width: 85%;
  height: 85%;
  margin: 8%;
  background: url("images/sports.png") center no-repeat;
  background-size: cover;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.cd-section .biji-item-all .biji-sportsnotehk-color:hover .biji-image:before {
  content: "";
  width: 85%;
  height: 85%;
  margin: 8%;
  background: url("images/sports-color.png") center no-repeat;
  background-size: cover;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.cd-section .biji-item-all .biji-sportsnotehk-color:hover .biji-title-chinese {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #0096ff;
}
.cd-section .biji-item-all .biji-sportsnotehk-color:hover .biji-title-chinese p {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #0096ff;
}
.cd-section .biji-item-all .biji-basketballnote-color .biji-image:before {
  content: "";
  width: 60%;
  height: 60%;
  margin: 20%;
  background: url("images/basketball.png") center no-repeat;
  background-size: cover;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.cd-section .biji-item-all .biji-basketballnote-color:hover .biji-image:before {
  content: "";
  width: 60%;
  height: 60%;
  margin: 20%;
  background: url("images/basketball-color.png") center no-repeat;
  background-size: cover;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.cd-section .biji-item-all .biji-basketballnote-color:hover .biji-title-chinese {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #ea5504;
}
.cd-section .biji-item-all .biji-hikingnote-color .biji-image:before {
  content: "";
  width: 80%;
  height: 80%;
  margin: 10%;
  background: url("images/hiking.png") center no-repeat;
  background-size: cover;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.cd-section .biji-item-all .biji-hikingnote-color:hover .biji-image:before {
  content: "";
  width: 80%;
  height: 80%;
  margin: 10%;
  background: url("images/hiking-color.png") center no-repeat;
  background-size: cover;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.cd-section .biji-item-all .biji-hikingnote-color:hover .biji-title-chinese {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #6a9e20;
}
.cd-section .biji-item-all .biji-fitnessnote-color .biji-image:before {
  content: "";
  width: 80%;
  height: 80%;
  margin: 10%;
  background: url("images/fitness.png") center no-repeat;
  background-size: cover;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.cd-section .biji-item-all .biji-fitnessnote-color:hover .biji-image:before {
  content: "";
  width: 80%;
  height: 80%;
  margin: 10%;
  background: url("images/fitness-color.png") center no-repeat;
  background-size: cover;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.cd-section .biji-item-all .biji-fitnessnote-color:hover .biji-title-chinese {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #19579f;
}
.cd-section .biji-item-all .biji-moviesnote-color .biji-image:before {
  content: "";
  width: 55%;
  height: 55%;
  margin: 22%;
  background: url("images/movies.png") center no-repeat;
  background-size: cover;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.cd-section .biji-item-all .biji-moviesnote-color:hover .biji-image:before {
  content: "";
  width: 55%;
  height: 55%;
  margin: 22%;
  background: url("images/movies-color.png") center no-repeat;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-size: cover;
}
.cd-section .biji-item-all .biji-moviesnote-color:hover .biji-title-chinese {
  color: #fe2260;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.cd-section .biji-item-all .biji-cyclingnote-color .biji-image:before {
  content: "";
  width: 80%;
  height: 80%;
  margin: 10%;
  background: url("images/cycling.png") center no-repeat;
  background-size: cover;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.cd-section .biji-item-all .biji-cyclingnote-color:hover .biji-image:before {
  content: "";
  width: 80%;
  height: 80%;
  margin: 10%;
  background: url("images/cycling-color.png") center no-repeat;
  background-size: cover;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.cd-section .biji-item-all .biji-cyclingnote-color:hover .biji-title-chinese {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #FABB00;
}
.cd-section .biji-item-all .biji-volleyballnote-color .biji-image:before {
  content: "";
  width: 60%;
  height: 60%;
  margin: 20%;
  background: url("images/volleyball.png") center no-repeat;
  background-size: cover;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.cd-section .biji-item-all .biji-volleyballnote-color:hover .biji-image:before {
  content: "";
  width: 60%;
  height: 60%;
  margin: 20%;
  background: url("images/volleyball-color.png") center no-repeat;
  background-size: cover;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.cd-section .biji-item-all .biji-volleyballnote-color:hover .biji-title-chinese {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #fad32b;
}
.cd-section .biji-background {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-size: cover;
}
.cd-section .careers {
  padding-top: 60px;
  width: 900px;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.cd-section .careers .careers-title {
  margin-bottom: 60px;
  text-align: center;
  font-size: 28px;
  color: #000;
}
.cd-section .careers p {
  margin: 20px 0;
  line-height: 25px;
  font-size: 16px;
  color: #7d7d7d;
  padding: 0 30px;
}
.cd-section .careers .careers-job-all {
  width: 755px;
  margin: 15px auto;
}
.cd-section .careers .careers-job-all .careers-job-item {
  width: 150px;
  margin: 20px 49px;
  display: inline-block;
}
.cd-section .careers .careers-job-all .careers-job-item .careers-job-image {
  margin: 10px 25%;
  border: 1px solid #909090;
  border-radius: 50%;
  height: 75px;
  width: 75px;
  background-color: #fff;
  color: #909090;
}
.cd-section .careers .careers-job-all .careers-job-item .careers-job-image i {
  padding-top: 20px;
  padding-left: 24px;
}
.cd-section .careers .careers-job-all .careers-job-item .careers-job-title {
  font-size: 16px;
  color: #909090;
  text-align: center;
}
.cd-section .careers .careers-more {
  border-radius: 5px;
  border: 1px solid #0096ff;
  text-align: center;
  width: 105px;
  padding: 10px;
  margin: 60px auto;
  color: #0096ff;
}
.cd-section .careers-bgimage {
  z-index: 1;
  width: 100%;
  height: 720px;
  background: url("images/careers.jpg") center center no-repeat;
  background-size: cover;
  opacity: 0.15;
}

#section1 {
  margin-top: 60px;
  height: 700px;
  width: 100%;
  min-width: 900px;
  background: url("images/indexbg.jpg") top center no-repeat;
  background-size: cover;
}

#section2 {
  padding-bottom: 60px;
  padding-top: 60px;
  width: 100%;
  position: relative;
}

#section3 {
  width: 100%;
}

.footer {
  position: relative;
  min-width: 900px;
  height: 100%;
  width: 100%;
  background-color: #444444;
  display: block;
}
.footer .footer-box {
  width: 900px;
  margin: 0 auto;
  padding: 80px 0;
}
.footer .footer-box .footer-contact-us {
  margin-bottom: 40px;
  text-align: center;
  color: #fff;
  font-size: 28px;
}
.footer .footer-box p {
  margin: 0 auto 30px auto;
  text-align: center;
  line-height: 26px;
  width: 380px;
  color: #fff;
  font-size: 16px;
}
.footer .footer-box .footer-email-list {
  width: 285px;
  margin: 20px auto;
}
.footer .footer-box .footer-email-list .footer-email-item {
  margin: 7px 0;
}
.footer .footer-box .footer-email-list .footer-email-item .footer-email-title {
  display: inline-block;
  color: #fff;
  font-size: 16px;
  margin-right: 5px;
}
.footer .footer-box .footer-email-list .footer-email-item .footer-email-address {
  display: inline-block;
}
.footer .footer-box .footer-email-list .footer-email-item .footer-email-address a {
  color: #0096ff;
  font-size: 16px;
}
.footer .footer-box .footer-logo {
  width: 40px;
  height: 40px;
  background: url("images/logo-white.png") center no-repeat;
  background-size: cover;
  margin: 60px auto 10px auto;
}
.footer .footer-box .footer-copyright {
  width: 170px;
  margin: 0 auto;
  color: #fff;
  font-size: 14px;
}

#section2 #biji-sportsnotetw-bg {
  background: url("images/bg_tw.jpg") center no-repeat;
  background-size: cover;
  -webkit-transition: all 1s;
  transition: all 1s;
}
#section2 #biji-sportsnotehk-bg {
  background: url("images/bg_hk.jpg") center no-repeat;
  background-size: cover;
  -webkit-transition: all 1s;
  transition: all 1s;
}
#section2 #biji-basketballnote-bg {
  background: url("images/bg_basketball.jpg") center no-repeat;
  background-size: cover;
  -webkit-transition: all 1s;
  transition: all 1s;
}
#section2 #biji-hikingnote-bg {
  background: url("images/bg_hiking.jpg") center no-repeat;
  background-size: cover;
  -webkit-transition: all 1s;
  transition: all 1s;
}
#section2 #biji-fitnessnote-bg {
  background: url("images/bg_fitness.jpg") center no-repeat;
  background-size: cover;
  -webkit-transition: all 1s;
  transition: all 1s;
}
#section2 #biji-moviesnote-bg {
  background: url("images/bg_movies.jpg") center no-repeat;
  background-size: cover;
  -webkit-transition: all 1s;
  transition: all 1s;
}
#section2 #biji-cyclingnote-bg {
  background: url("images/bg_cycling.jpg") center no-repeat;
  background-size: cover;
  -webkit-transition: all 1s;
  transition: all 1s;
}
#section2 #biji-volleyballnote-bg {
  background: url("images/bg_volleyball.jpg") center no-repeat;
  background-size: cover;
  -webkit-transition: all 1s;
  transition: all 1s;
}
