@charset "UTF-8";

@media only screen and (max-width: 767px) {
body {
	padding: 0;
}

/* !header
---------------------------------------------------------- */

		.header_wrapper01 {
			padding: 5px 0 8px;
		}
			.header_wrapper01In {
				max-width: 767px;
				width: auto;
				margin: 0;
				/*padding: 0 18px 0 10px;*/
				padding: 0 5px;
			}
				.header_category01 {
					display: none;
				}
				.header_media01 {
					display: none;
				}
			.headerLinks {
				float: none;
				margin: 0 0 4px;
				padding: 0;
				overflow: hidden;
			}
				/*.headerLinks .foreignCountry {
					float: none;
                			display: none;
				}*/
				.headerLinks .foreignCountry li {
                			margin-left: 0
				}
						.headerLinks .foreignCountry li a {
							font-size: 85%;
						}
				.headerLinks .sns {
					display: none;
					float: none;
				}
					.headerLinks .sns li {
						float: none;
					}


	#pc_header .header_categoryList02 {
		padding: 0 0 5px;
	}
		#pc_header .header_categoryList02In {
			max-width: 767px;
			width: auto;
			margin: 0 10px;
		}
		#pc_header .headerSpSec01 .h1_basic_sp2 a img {
			width: auto;
			height: 28px;
		}
			#pc_header .header_categoryList02 ul {
			}
				#pc_header .header_categoryList02 ul li {
					margin: 0 4px 20px 8px;
					font-size: .7rem;
				}
                #pc_header .header_categoryList02 ul li a{
					font-weight: bold;
				}
				#pc_header .header_categoryList02 .header_categoryList02In_links{
					max-height: 400px;
					overflow-y: scroll;
				} 
                	#pc_header .header_categoryList02 .sp_header_info {
						display: block;
						border-top: 1px solid #ddd;
						padding-top: 20px;
					}
					#pc_header .header_categoryList02 .sp_header_info ul li a{
						font-weight: normal;
					}
					#pc_header .header_categoryList02 .header_categoryList02In_links > ul{
						padding-bottom: 10px;		
					}
					.sp_copyright_area {
						display: block;
						float: right;
						color: #b0b0b0;
					}
				#pc_header .header_categoryList02 .sns {
					display: block;
					float: none;
					border-bottom: 1px solid #e1e1e1;
					margin: 0 0 30px;
					padding: 80px 0 14px;
					font-size: 0;
					text-align: center;
				}
					#pc_header .header_categoryList02 .sns li {
						display: inline-block;
						float: none;
						font-size: 0;
						margin: 0 15px 0 0;
					}
                    #pc_header .header_categoryList02 .sns li.last {
						margin: 0;
					}
						#pc_header .header_categoryList02 .sns li a {
							background-image: url(/lifehacker_parts/img/common/sp/ico_sp_hd03.png);
							background-repeat: no-repeat;
							background-size: 176px 44px;
							display: block;
							text-indent: -9999px;
							width: 44px;
							height: 44px;
							overflow: hidden;
						}
						#pc_header .header_categoryList02 .sns li.li01 a {
							background-position: 0 0;
						}
						#pc_header .header_categoryList02 .sns li.li02 a {
							background-position: -44px 0;
						}
						#pc_header .header_categoryList02 .sns li.li03 a {
							background-position: -88px 0;
						}
                        #pc_header .header_categoryList02 .sns li.li04 a {
							background-position: -132px 0;
						}
						
	#pc_header .header_mediaList02 {
			padding:90px 0 25px;
	}
		#pc_header .header_mediaList02In {
			max-width: 767px;
			width: auto;
			margin: 0 10px;
			padding:0;
		}
		#pc_header .header_mediaList02 ul{
			max-width:320px;
			width:320px;
             margin:0 auto ;
		}
		#pc_header .header_mediaList02 ul li{
			margin: 0 16px 14px 0;
			display: inline-block;
			width: auto;
		}
		
						
				/* .headerSearch */
				.headerSearch {
					display: none;
					float: left;
				}

			#pc_header .header_spSearchBox01 {
				display: block;
				width: 100%;
				border-bottom: 1px solid #c4c4c4;
				background-color: #fff;
				padding: 80px 0 25px;
				visibility: hidden;
				position: absolute;
				left: 0;
			}
				#pc_header .header_spSearchBox01 .headerSearch {
					display: block;
					width: 210px;
					margin: 0 auto;
					float: none;
				}
					#pc_header .header_spSearchBox01 .headerSearch input {
						width: 178px;
					}
			#pc_header .header_spLinkBox01 {
				display: block;
				width: 100%;
				border-bottom: 1px solid #c4c4c4;
				background-color: #fff;
				padding: 90px 0 20px;
				visibility: hidden;
				position: absolute;
				left: 0;
			}
				#pc_header .header_spLinkBox01 ul {
					width: 280px;
					margin: 0 auto;
				}
					#pc_header .header_spLinkBox01 ul li {
						float: left;
						margin: 0 0 12px;
					}
					#pc_header .header_spLinkBox01 ul li:nth-child(2n) {
						float: right;
					}
					#pc_header .header_spLinkBox01 ul li:last {
						margin: 0;
					}


#pc_header .headerSpSec01 {
	display: block;
	/*overflow: hidden;*/
	*zoom: 1;
}
	#pc_header .headerSpSec01.right{
		margin: 12px 5px 0 0;
	}
	#pc_header .headerSpSec01 .h1_basic_sp2 {
		float: left;
		margin-top:7px;
	}
	#pc_header .headerSpSec01 ul {
		float: right;
		padding: 12px 0 0;
		overflow: hidden;
		*zoom: 1;
	}
		#pc_header .headerSpSec01 ul li {
			float: left;
			margin-left: 15px;
		}
			#pc_header .headerSpSec01 ul li.media{
				display:none;
			}        
			#pc_header .headerSpSec01 ul li.category a {
				display: block;
				background: url(/lifehacker_parts/img/common/sp/ico_sp_hd01.png) no-repeat left top;
				background-size: 20px 36px;
				width: 20px;
				height: 18px;
				overflow: hidden;
				text-decoration: none;
			}
			#pc_header .headerSpSec01 ul li.search a {
				display: block;
				background: url(/lifehacker_parts/img/common/sp/ico_sp_hd02.png) no-repeat left top;
				background-size: 18px 36px;
				width: 18px;
				height: 18px;
				overflow: hidden;
				text-decoration: none;
			}
            #headerTabLogo{
            	display: none;
            }
            
/* !contents
---------------------------------------------------------- */
					#main #pc_global .detailSec01 .snsSec01 .snsBtn,
					#main .pc_global .detailSec01 .snsSec01 .snsBtn{                    
						height: 60px;
						width: auto;
						margin: 0 1.5%;
					}
					#main #pc_global .detailSec01 .snsSec01 .hatenaBtn, 
					#main .pc_global .detailSec01 .snsSec01 .hatenaBtn{
						display: inline-block;
					}
					#pc_global .detailSec01 .snsSec01 .gplus1,
					#main .pc_global .detailSec01 .snsSec01 .gplus1{
						display: none !important;
					}

					#main #pc_global .detailSec01 .snsSec01 .snsBtn.lineBtn, 
					#main .pc_global .detailSec01 .snsSec01 .snsBtn.lineBtn{
						display: inline-block !important;		
					}
                    
					#main #pc_global .ulList01 li.seventh .spbillbordBnr01 ,
					#main .pc_global .ulList01 li.seventh .spbillbordBnr01 {
						width: 100%;
						text-align: center;
					}
			#main #pc_global .ulList01 li .pc_thumb ,
			#main .pc_global .ulList01 li .pc_thumb {
				position: relative;
			}

			#main #pc_global .ulList01 li .sp_thumb ,
			#main .pc_global .ulList01 li .sp_thumb {
				position: relative;
			}
				#main #pc_global .ulList01 li .sp_thumb span.ico ,
				#main .pc_global .ulList01 li .sp_thumb span.ico {
					display: block;
					background: url(/lifehacker_parts/img/common/sp/ico_sp_play01.png) no-repeat left top;
					width: 44px;
					height: 44px;
					position: absolute;
					left: 7px;
					bottom: 20px;
				}
			#main #pc_global .galleryBox01 .closeBtn ,
			#main .pc_global .galleryBox01 .closeBtn {
				padding: 0 0 40px;
			}
	/* .detailSec01 */
		#main #pc_global .detailSec01 .snsSec01 ,
		#main .pc_global .detailSec01 .snsSec01 {
        	height: auto;
		}
					#main #pc_global .detailSec01 .snsSec01 .share_and_date .share_bar .shareBtn ,
					#main .pc_global .detailSec01 .snsSec01 .share_and_date .share_bar .shareBtn {
						margin-right: 3px;
					}
		#main #pc_global .detailSec01 p ,
		#main .pc_global .detailSec01 p {
			margin: 15px 0 0;
			/* display: inline; */
		}
		#main #pc_global .detailSec01 .mainImg ,
		#main .pc_global .detailSec01 .mainImg {
			display: block;
			margin: 0 0 25px;
		}
		#main #pc_global .detailSec01 blockquote ,
		#main .pc_global .detailSec01 blockquote {
			background: #e6e6e6 url(/lifehacker_parts/img/detail/bg_sp_detail01.gif) no-repeat 14px 17px;
			background-size: 31px 25px;
			margin: 15px 0 15px;
			padding: 55px 15px 35px;
		}
		#main #pc_global .detailSec01 .spbillbordBnr02 ,
		#main .pc_global .detailSec01 .spbillbordBnr02 {
			/*background-color: #ccc;*/
			width: 320px;
			position: absolute;
			right: 50%;
			margin-right: -160px;
			bottom: 28px;
			text-align: center;
		}
	#main #pc_global .detailSec01.nonImg ,
	#main .pc_global .detailSec01.nonImg {
		padding: 0 0 20px;
	}
		#main #pc_global .detailSec01.nonImg .spbillbordBnr02 ,
		#main .pc_global .detailSec01.nonImg .spbillbordBnr02 {
			height: auto;
		}
    #main #pc_global .detailSec01 .txt01 .btn_return_ausp,
    #main .pc_global .detailSec01 .txt01 .btn_return_ausp{
		text-align: center;
	}
    #main #pc_global .detailSec01 .txt01 .btn_return_ausp p,
    #main .pc_global .detailSec01 .txt01 .btn_return_ausp p{
        margin-left: 0;
    }
    
/* !contents
---------------------------------------------------------- */
#contents_area {
	width: auto;
	max-width: 767px;
    padding: 0 5px;
}

/* !main
---------------------------------------------------------- */
	#main {
		float: none;
		width: auto;
		margin-left: 0;
	}
		#main .mainIn {
			margin: 0;
		}
			#main .h2_style03 {
				padding-top: 13px;
			}
			#main .h2_style04 {
				padding-top: 13px;
			}
			#main #pc_global ,
			#main .pc_global {
				margin: 0 20px;
			}
				 #main #pc_global .ulList01 ,
				 #main .pc_global .ulList01 {
					 margin: 0 0 30px;
				 }
					 #main #pc_global .ulList01 li ,
					 #main .pc_global .ulList01 li {
						 padding: 0 0 35px;
					 }
							 #main #pc_global .ulList01 li .pc_thumb {
								 display: none;
							 }
							 #main #pc_global .ulList01 li .sp_thumb ,
							 #main .pc_global .ulList01 li .sp_thumb {
								 display: block;
								 float: none;
								 text-align: center;
							 }
								 #main #pc_global .ulList01 li .sp_thumb img ,
								 #main .pc_global .ulList01 li .sp_thumb img {
									 margin: 0 0 14px 0;
								 }
							 #main #pc_global .ulList01 li .sen ,
							 #main .pc_global .ulList01 li .sen {
							 }
								 #main #pc_global .ulList01 li .sen .detail ,
								 #main .pc_global .ulList01 li .sen .detail {
									 display: block;
								 }
					 #main #pc_global .ulList01 li.seventh ,
					 #main .pc_global .ulList01 li.seventh {
						 padding: 0 0 35px;
					 }
						 #main #pc_global .ulList01 li.seventh .bnr ,
						 #main .pc_global .ulList01 li.seventh .bnr {
							 width: 100%;
							 max-width: 787px;
							 height: 50px;
						 }
            #main .pc_archive,
			#main #pc_archive {
				padding: 0 10px 40px;
			}
				#main .pc_archive .h3_style01,
            	#main #pc_archive .h3_style01 {
					display: none;
				}
                body#detail #main .pc_archive .h3_style01,
				body#detail #main #pc_archive .h3_style01 {
				}
			#main #pc_global .galleryBox01 ,
			#main .pc_global .galleryBox01 {
			}
				#main #pc_global .galleryBox01 .mainImg ,
				#main .pc_global .galleryBox01 .mainImg {
					margin: 0 auto 10px;
				}
				#main #pc_global .galleryBox01 ul ,
				#main .pc_global .galleryBox01 ul {
					width: 280px;
					padding: 0 0 20px;
					margin: 0 auto;
				}
					#main #pc_global .galleryBox01 ul li ,
					#main .pc_global .galleryBox01 ul li {
						float: left;
						width: 90px;
						margin: 0 5px 5px 0;
					}
					#main #pc_global .galleryBox01 ul li:nth-child(3n) ,
					#main .pc_global .galleryBox01 ul li:nth-child(3n) {
						margin: 0 0 5px;
					}

					#main #pc_global .galleryBox01 .detail ,
					#main .pc_global .galleryBox01 .detail {
						margin: 0 0 25px;
					}
                 #main .pc_archive .ulList02,
				 #main #pc_archive .ulList02 {
					 display: none;
				 }
                 body#detail #main .pc_archive .ulList02,
				 body#detail #main #pc_archive .ulList02 {
				 }
	
			.h3_style01 span.tit {
				display: inline-block;
				vertical-align: middle;
				max-width: 60%;
				background-color: #f5f5f5;
				padding-right: 18px;
				color: #bfbfbf;
			}
           .h3_style02 span.tit {
				display: inline-block;
				vertical-align: middle;
				max-width: 50%;
				background-color: #f5f5f5;
				padding-right: 18px;
				color: #bfbfbf;
			}
.mmgn {
	width: 100%;
	margin-top:0 ;
}

/* !pc_archive
---------------------------------------------------------- */
	/* .ulList02 */
	#main .pc_archive .ulList02,
	#main #pc_archive .ulList02 {
		margin: 0 0 10px;
	}
    	#main .pc_archive .ulList02 li,
		#main #pc_archive .ulList02 li {
			float: none;
			width: auto;
			margin: 0 0 20px;
			overflow: hidden;
			height:auto;
		}
        	#main .pc_archive .ulList02 li a.img,
			#main #pc_archive .ulList02 li a.img {
				float: left;
				margin: 0 12px 0 0;
				width: 130px;
			}
            #main .pc_archive .ulList02 li a.txt,
			#main #pc_archive .ulList02 li a.txt {
				font-size: 93%;
				font-weight: bold;
				line-height: 1.1;
			}
            #main .pc_archive .ulList02+.powered_by_cx,
            #main #pc_archive .ulList02+.powered_by_cx{
                    margin:0 0 15px;
            }
            #main #pc_global .ulList02 .pcda-info,
            #main .pc_global .ulList02 .pcda-info{
                clear:both;
            }
            #main #pc_global .ulList02 .pcda-info,
            #main .pc_global .ulList02 .pcda-info{
                position: relative; 
                float:right; 
                border:0; 
                bottom:15px;
                height:14px;
                right:0px;
            }
            #main #pc_global .ulList02 .pcda-info a,
            #main .pc_global .ulList02 .pcda-info a{
                padding:0;
            }

	/* .pc_sideBlockBnr01 */
    #main .pc_archive .pc_sideBlockBnr01,
	#main #pc_archive .pc_sideBlockBnr01 {
		position: relative;
		height: 285px;
	}
    	#main .pc_archive .pc_sideBlockBnr01 span,
		#main #pc_archive .pc_sideBlockBnr01 span {
			display: block;
			position: absolute;
			left: 50%;
			top: 0;
			margin-left: -150px;
		}
#main .pc_archive,
#main #pc_archive {
	/*margin: 0 20px;*/
margin: 0;
}
body#detail #main .pc_archive,
body#detail #main #pc_archive {
	padding: 0;
}
		#main .pc_archive .commentSec01 .gig-comments-loginCanvas,
		#main #pc_archive .commentSec01 .gig-comments-loginCanvas {
			margin: 0 0 15px;
		}
        	#main .pc_archive .commentSec01 .gig-comments-addCommentFooter #commentsDiv-postButton a,
			#main #pc_archive .commentSec01 .gig-comments-addCommentFooter #commentsDiv-postButton a  {
				width: 65px;
				padding: 10px 0;
			}
	/* .recommendSec01 */
    #main .pc_archive .recommendSec01,
	#main #pc_archive .recommendSec01 {
	}
    	#main .pc_archive .recommendSec01 ul,
		#main #pc_archive .recommendSec01 ul {
			overflow: hidden;
			margin: 15px 0 10px;
		}
        	#main .pc_archive .recommendSec01 ul li,
			#main #pc_archive .recommendSec01 ul li {
				float: none;
				width: auto;
				margin: 0 0 15px;
				overflow: hidden;
			}
            #main .pc_archive .recommendSec01 ul+.powered_by_cx,
            #main #pc_archive .recommendSec01 ul+.powered_by_cx{
                    margin:0 0 30px;
}
	/* .archivePcPagenationSec01 */
	#main .pc_archive .archivePcPagenationSec01,
	#main #pc_archive .archivePcPagenationSec01 {
		display: none;
	}
	/* .archiveSpPagenationSec01 */
    #main .pc_archive .archiveSpPagenationSec01,
	#main #pc_archive .archiveSpPagenationSec01 {
		display: block;
		margin: 0 0 60px;
	}
    	#main .pc_archive .archiveSpPagenationSec01 ul,
		#main #pc_archive .archiveSpPagenationSec01 ul {
			width: 280px;
			margin: 0 auto;
			font-size: 93%;
			overflow: hidden;
		}
        	#main .pc_archive .archiveSpPagenationSec01 ul li,
			#main #pc_archive .archiveSpPagenationSec01 ul li {
				float: left;
				width: 132px;
			}
            #main .pc_archive .archiveSpPagenationSec01 ul li:nth-child(2),
			#main #pc_archive .archiveSpPagenationSec01 ul li:nth-child(2) {
				float: right;
			}
            	#main .pc_archive .archiveSpPagenationSec01 ul li .tit,
				#main #pc_archive .archiveSpPagenationSec01 ul li .tit {
					margin: 0 0 5px;
					font-weight: bold;
					text-align: center;
					color: #b0b0b0;
				}
                #main .pc_archive .archiveSpPagenationSec01 ul li .img,
				#main #pc_archive .archiveSpPagenationSec01 ul li .img {
					margin: 0 0 8px;
				}
                #main .pc_archive .archiveSpPagenationSec01 ul li .txt,
				#main #pc_archive .archiveSpPagenationSec01 ul li .txt {
					line-height: 1.3;
					font-weight: bold;
				}
#main .pc_archive .archiveSpPagenationSec01 ul li .img img,
#main #pc_archive .archiveSpPagenationSec01 ul li .img img {
    height: auto;
    width: 100%;
}
/* !pc_sideBlock
---------------------------------------------------------- */
	#pc_sideWrapper {
		display: none
	}
	#pc_sideBlock {
		float: none;
		padding: 0;
		margin: 0 auto;
	}
		#pc_sideBlock .h1_basic {
			display: none;
		}
		#pc_sideBlock .h2_style03 {
			display: none;
		}
		#pc_sideBlock .h2_style04 {
			display: none;
		}
		#pc_sideBlock #pc_rankArea,
        #pc_hotEntriesArea,
        #pc_hotKeywordArea,
        #pc_AmazonSalesArea,
        #pc_RecommendedArea,
        #pc_ListAlliances
        {
			display: none;
		}
	/* .pc_sideBlockBnr01 */
	body#detail #pc_sideBlock .pc_sideBlockBnr01 {
	}

/* !amazon
---------------------------------------------------------- */
		div.detailSec01 .amazonSec01 .amazItem ul {
		    position: absolute;
		    left: 143px;
		    width: 100%;
		}

/* !footer
---------------------------------------------------------- */
#pc_footer {
}
	.footer_wrap {
		margin: 0 19px;
		width: auto;
	}
		#footer_nav {
			margin: 0 0 15px;
			float: none;
		}
			#footer_nav ul {
				overflow: hidden;
				text-align: center;
			}
			#footer_nav li {
				display: inline-block;
				float: none;
			}
			#footer_nav li.last {
				margin-right: 0px;
			}
		#footer_copyright_area {
			display: block;
			float: none;
			text-align: center;
		}

/* !banner area
---------------------------------------------------------- */
.pc_topSuperBnr01 {
	display: none;
}
.sp_topSuperBnr0 {
	display: block;
	width: auto;
	/* height: 50px; */
	margin: 0 auto 35px;
	text-align: center;
}


/* !h(n)eading
---------------------------------------------------------- */
.h1_basic01 {}
.h2_style03 {
	margin: 0 20px 30px;
}
.h2_style03 {
	margin: 0 20px 30px;
}
.h2_style04 {
	margin: 0 20px 30px;
}
.h2_style04 {
	margin: 0 20px 30px;
}
.h3_style01 {
	background: url(/lifehacker_parts/img/common/pc/bg_pc_bdr01.gif) repeat-x left 8px;
	padding: 0;
}
.first h2, .h2_style_big {
font-size: 150%;
line-height: 1.2;
margin: 0 0 15px;
}

.h2_style01{
	padding: 5px 0 0;
margin: 0 0 15px;
font-size: 195%;
line-height: 1.2;
}
.h2_style {
margin: 0 0 10px;
font-size: 139%;
}
.noSp {
	display: none !important;
}
.onSp {
	display: block !important;
}

/* Ads
---------------------------------------------------------- */
#KT_SP_top1,
#KT_SP_top2,
#KT_SP_top3{
	width: 300px;
	margin: 10px auto;
}

/* Ads/
---------------------------------------------------------- */
/* add
---------------------------------------------------------- */

		
.static .blockquote01 {
			background: #e6e6e6 url(/lifehacker_parts/img/detail/bg_sp_detail01.gif) no-repeat 14px 17px;
			background-size: 31px 25px;
			margin: 15px 0 15px;
			padding: 55px 15px 35px;
		}

#sp_TSB iframe{
	margin:auto;
}

.headerLinks{ display:none;
             /*float:left;*/
}
#pc_header .headerSpSec01 ul{
	padding:0;
}

.left{
	clear:left;}
.right{
float:right;
}
.right ul li.first{
	padding-bottom:15px !important;
	font-size:78%;
	}
.right ul li.first a{
text-decoration: underline;
}
#pc_header .headerSpSec01 ul li{
	float:right;}	
.right ul li.search{
clear:both;
margin-right:0px;
}
#list_special_ad .sp_thumb img {
    max-width : 100%;
}
  #pc_header{
    position: fixed;
    top: 0;
    z-index:1000;
    background: #F5F5F5;
  }
  #contents_area{
    margin-top: 70px;
    position: relative;
  }
  #sp_topSuperBnr01{
  	z-index: 1010;
  }
  	#main #pc_archive .machiya-buy-widget .ulList02 .buy-box,
	#main .pc_archive .machiya-buy-widget .ulList02 .buy-box{
    	width: 100%;
    	margin: 10px 0;
    	padding: 0;
	}
    	.inner-buy-box .buy-header{
	    font-size:1em;
	    line-height: 1;
	    width:100%;
	    border-bottom: 1px solid #B1B1B1;
	    border-right: none;
	    color: #60ac03;
	    float: none;
	    height:auto;
	    text-align:center;
	    padding: 0 0 14px;
	    margin: 0 0 15px 0;
        letter-spacing: 1px;
	}

	.inner-buy-box .buy-box-image{
	    overflow:hidden;
	    float:left;
	    margin-right:15px;
	    width:100px;
	    height:100px;
	    border:none;
	    padding-left:0;
	}
	.inner-buy-box .buy-box-image a{
		height:100px;
	}

	#main #pc_global .detailSec01 .inner-buy-box .buy-box-detail,
	#main .pc_global .detailSec01 .inner-buy-box .buy-box-detail,
    .amazonSec01 .inner-buy-box .buy-box-detail{
		position: relative;
		margin-left:120px;
	    font-size:0.9em;
	    min-height:100px;
	}
	#main #pc_global .detailSec01 .inner-buy-box .buy-box-detail p,
	#main .pc_global .detailSec01 .inner-buy-box .buy-box-detail p,
    .amazonSec01 .inner-buy-box .buy-box-detail p{
	    margin-top: 5px;
	}

	.inner-buy-box .buy-box-order{
		position: static;
	}
	.inner-buy-box .buy-box-order img{
	    width:130px;
	}
	.inner-buy-box .buy-box-order a:after{
	    content:"購入";
	    position: absolute;
	    top: -3px;
	    left: 64px;
	    font-size: 15px;
	    color:#fff;
	    letter-spacing: 5px;
	    font-weight:normal;
	}
#KT_SP_archive2_pc_inread{margin-bottom: 30px;}
}