@charset "UTF-8";

@media only screen and (max-width: 969px) {
body {
	font-size: 14px;
}

/* !header
---------------------------------------------------------- */
.header_wrapper01In {
width: auto;
margin: 0 auto;
padding: 0 30px;
font-size: 10px;
line-height: 20px;
}
#headerTabLogo {
display: block;
margin: 0 auto;
width: 200px;
clear: both;
padding-top: 20px;
}
#headerTabLogo img{
width: 100%;
}
#pc_header .header_categoryList02In {
width: auto;
margin: 0 auto;
padding: 0 30px;
}
#pc_header .header_categoryList02 {
padding: 125px 0 25px;
}
#pc_header .header_mediaList02 {
padding: 125px 0 25px;
}
#pc_header .header_mediaList02In {
width: auto;
margin: 0 auto;
padding: 0 30px;
}
#pc_header .header_mediaList02 ul li {
display: inline-block;
width: 20%;
margin: 2%;
}

/* !contents
---------------------------------------------------------- */
#contents_area {
	max-width: 969px;
	width: auto;
	padding: 0 30px;

}

/* !main
---------------------------------------------------------- */
	#main {
		float: right;
		width: 100%;
		/*margin-left: -330px;*/
	}
		.mainIn {
			/*margin: 0 0 0 330px;*/
		}
		#main #pc_global .ulList01 li.seventh .bnr ,
		#main .pc_global .ulList01 li.seventh .bnr {
			width: auto;
			max-width: 969px;
		}
				#main #pc_global .ulList01 li .pc_thumb ,
        #main .pc_global .ulList01 li .pc_thumb{
        	height: 131px;
        }
		#main #pc_global .ulList01 li .pc_thumb img[width="133"],
		#main .pc_global .ulList01 li .pc_thumb img[width="133"]{
			width: 230px;
			height: auto;
		}
        span.rt span.rtOver span{
        	font-size: 10px;
        }
        .h3_style02 span.rt .rtIn .num,
        span.rt span.rtOver span.num{
        	font-size: 100%;
        }
		.mmgn{
			margin-top: 0;
        	width: 100%;
		}
#main #pc_archive .ulList02 li,
#main .pc_archive .ulList02 li{
	float: left;
	width: 23%;
	height: 150px;
	margin: 0 1% 10px 1%;
}
	#main #pc_archive .ulList02 li a.img,
	#main .pc_archive .ulList02 li a.img{
    	width: 100%
	}
	#main #pc_archive .ulList02 li a img,
	#main .pc_archive .ulList02 li a img{
    	width: 100%
	}
    #main .h3_style02 span.tit {
		display: inline-block;
		vertical-align: middle;
		max-width: 50%;
		background-color: #f5f5f5;
		padding-right: 18px;
		color: #bfbfbf;
	}
    #main .h3_style01 span.tit span.category {
        word-break: normal; 
		white-space: normal;
	}

/* !pc_sideBlock
---------------------------------------------------------- */
	#pc_sideWrapper{
    display: none
	}
	#pc_sideBlock {
		/*float: left;
		width: 300px;
		padding: 102px 0 0;
		position: relative;*/
    	display: none;
	}
	

/* !amazon
---------------------------------------------------------- */
		#main #pc_archive .amazonSec01 .amazItem ul ,
		#main .pc_archive .amazonSec01 .amazItem ul {
		    position: absolute;
		    left: 143px;
		    width: 250px;
		}


/* !footer
---------------------------------------------------------- */
	.footer_wrap {
		margin: 0 auto;
		width: auto;
		padding: 10px 18px;
		max-width: 969px;
	}

/* !banner area
---------------------------------------------------------- */
.pc_topSuperBnr01 {
	max-width: 969px;
	width: auto;
}
#pc_BB > div {
	width: 50%;
	display: inline-block;
	text-align: center;
}
#main #pc_global .ulList01 li.seventh .pcbillbordBnr01,
#main #pc_global .detailSec01 .pcbillbordBnr02,
#main .pc_global .ulList01 li.seventh .pcbillbordBnr01,
#main .pc_global .detailSec01 .pcbillbordBnr02{
	max-width: 969px;
	width: auto;
	height: 268px
}
#main #pc_global .ulList01 li.seventh .pcbillbordBnr01 iframe,
#main #pc_global .detailSec01 .pcbillbordBnr02 iframe,
#main .pc_global .ulList01 li.seventh .pcbillbordBnr01 iframe,
#main .pc_global .detailSec01 .pcbillbordBnr02 iframe{
	float: none;
	margin: 0 auto;
}
#KT_PC_archive1,
#KT_PC_archive4{
	width: 640px;
	margin: 10px auto;
}
#KT_PC_archive2,
#KT_PC_archive3{
	display: inline-block;
	width: 49%;
    height: 250px;
	margin: 0 0 20px 0;
	text-align: center;
}
/* !banner area
---------------------------------------------------------- */    
#main #pc_archive .archivePcPagenationSec01 ul li a,
#main .pc_archive .archivePcPagenationSec01 ul li a{
	padding: 10px 25px;
	white-space: nowrap;
}

.pc_topSuperBnr01 {
	display: block;
	width: 100%;
	height: 90px;
	margin: 0 auto 21px;
	text-align: center;
	overflow:hidden;
}
	#main #pc_archive .machiya-buy-widget .ulList02 .buy-box,
	#main .pc_archive .machiya-buy-widget .ulList02 .buy-box{
		width: 47%;
	}
    .sideBlockBnr03{
    	width:300px;
    	margin:0 auto;
	}
}