@charset "UTF-8";

@media only screen and (max-width: 360px) {
	body {
		padding: 0;
	}

	/* !header

	---------------------------------------------------------- */
	#pc_header .header_mediaList02 ul{
		width: 300px;
		margin: 0 auto;
		/*margin:0 10px;*/
	}
	#pc_header .header_mediaList02 ul li:nth-child(odd){
		margin: 0 29px 14px 0;
	}
	#pc_header .header_mediaList02 ul li:nth-child(even){
		margin: 0 0px 14px 0;
	}
	#pc_header .header_categoryList02 .header_categoryList02In_links{
		max-height: 300px;
		overflow-y: scroll;
	} 
		
	#contents_area{
		padding: 0;
	}

	#main #pc_global,
	#main .pc_global{
		margin: 0 10px;
	}
	#main .pc_archive,
	#main #pc_archive {
		padding: 0 0 40px;
	}
	.sp_topSuperBnr0{
		margin: 0 auto 25px;
	}
		
	.h3_style01 span.tit span.category{
		white-space:initial;
	}

	#pc_header .header_categoryList02 .header_categoryList02In_links{
		max-height: 310px;
		overflow-y: scroll;
	}
	#pc_header .header_categoryList02 ul li {
		margin: 0 5px 15px 0;
		font-size:.7rem;
	}
	#pc_header .header_categoryList02 .sns {
		margin: 0 0 20px;
	}

	#pc_header .header_categoryList02 .sp_header_info {
		padding-top: 10px;
	}
	#pc_header .header_categoryList02 .header_categoryList02In_links > ul{
		padding-bottom: 0px;
	}
}
