/*html, body {
	margin:0;
	padding:0; 
	background:url('../viva.jpg') no-repeat fixed top center;
}*/

#content {
	z-index: 9;
}

#credits {
    font-size: 18px;
    line-height: 23px;
    position: absolute;
    bottom: 10%;
    text-align: center;
    width: 100%;
    color: #d7c9ad;
    font-family: arial;
    z-index: 999;
    font-weight: normal;
}

#credits a{
  color: #d52428;
  text-decoration:none;
  display:inline-block;
  border-bottom:2px solid #d7c9ad;
  padding-bottom:2px;
  font-weight: bold;
}

#credits a:hover{
  border-bottom-width:4px;
  padding-bottom: 0;
}

#content{
  text-align:center;
  -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
	top: 45%;
}

.viva8th {
	position: absolute;
	top: 50%;
	left: 30%;
	transform: translate(-50%,-50%);
	z-index: 9;
}

.8thwrapper {
	margin: 0 auto;
	text-align: center;
	width: 100%;
}

.bg-transp {
	width: 100%;
	height: 100%;
	position: absolute;
	margin: 0;
	background:rgba(0,0,0, .93);
}

.button-x {
	background-color:#CC0000;
	color: #fff;
	padding: 10px;
	font-size: 14px;
	z-index: 1000;
	width: 100px;
	text-align: center;
	float: right;
	cursor: pointer;
	display: inline-block;
	box-sizing: border-box;
}

.button-x a {
	color: #fff;
	text-decoration:none;
	
}

.button-x a:hover {
	color: #d7c9ad;
}

.aaa {
	width: 100%;
	text-align: center;
	position: relative;
}

.fireworks {
	position: absolute;
	z-index: 99;
	left: 54%;
	top: 7%;
}

.fireworks img {
	width: 268px;
}

.fireworks2 {
	position: absolute;
	z-index: 99;
	left: 19%;
	top: 15%;
}
.viva8th.right {
    top: 50%;
    left: 65%;
}

.viva8th.down {
    top: 79%;
    left: 50%;
}