/*FONT DEFINING*/
@font-face { font-family: 'titillium'; font-style: normal; font-weight: 400; src: url("../fonts/TitilliumWeb-Regular.eot"); src: local("Titillium Web"), local("TitilliumWeb-Regular"), url("../fonts/TitilliumWeb-Regular.eot") format("embedded-opentype"), url("../fonts/TitilliumWeb-Regular.woff") format("woff"); unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
@font-face { font-family: 'titillium'; font-style: normal; font-weight: 600; src: url("../fonts/TitilliumWeb-SemiBold.eot"); src: local("Titillium WebSemiBold"), local("TitilliumWeb-SemiBold"), url("../fonts/TitilliumWeb-SemiBold.eot") format("embedded-opentype"), url("../fonts/TitilliumWeb-SemiBold.woff") format("woff"); unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
@font-face { font-family: 'titillium'; font-style: normal; font-weight: 700; src: url("../fonts/TitilliumWeb-Bold.eot"); src: local("Titillium WebBold"), local("TitilliumWeb-Bold"), url("../fonts/TitilliumWeb-Bold.eot") format("embedded-opentype"), url("../fonts/TitilliumWeb-Bold.woff") format("woff"); unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/*GLOBAL RESET*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; position: relative;  }

ul, ol { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { /*border-bottom:1px dotted;*/ cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ul, ol { /*margin-left: 1.8em;*/ }

ol { list-style-type: decimal; }

nav ul, nav li { margin: 0; }

small { font-size: 85%; }

strong { font-weight: bold; }

td, td img { vertical-align: top; }

sub { vertical-align: sub; font-size: smaller; }

sup { vertical-align: super; font-size: smaller; }

pre { padding: 15px; }

pre, code { white-space: pre; /* CSS2 */ white-space: pre-wrap; /* CSS 2.1 */ white-space: pre-line; /* CSS 3 dan 2.1*/ word-wrap: break-word; /* IE */ }

input, select { vertical-align: middle; }

.ie6 input { vertical-align: text-bottom; }

textarea { overflow: auto; }

input[type="radio"] { vertical-align: middle; }

input[type="checkbox"] { vertical-align: middle; }

.ie7 input[type="checkbox"] { vertical-align: middle; }

label, input[type=button], input[type=submit], button { cursor: pointer; }

button, input, select, textarea { margin: 0; padding: 0; border: 0; background: none; }

input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }

.ie7 img { -ms-interpolation-mode: bicubic; }

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }

img { border: none; vertical-align: bottom; }

a { margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent; color: inherit; transition: color 0.1s linear; -moz-transition: color 0.1s linear; -webkit-transition: color 0.1s linear; }

a:link, a:hover, a:visited { text-decoration: none; outline: none; color: inherit; }

a:hover { color: #d42329; }

p { padding-bottom: 10px; }

td, th { text-align: left; vertical-align: middle; line-height: 120%; }

[onclick] { cursor: pointer; }

label { line-height: 150%; }

.reset { clear: both !important; }

h1, h2, h3, h4, h5, h6 { font-size: 100%; text-decoration: none; display: inline; font-weight: inherit; }

/*clear HEADINGS , fonts , etc*/
h1, h2, h3, h4, h5, h6 { font-size: 100%; text-decoration: none; display: inline; font-weight: inherit; }

/*FONT STYLE*/
.fBold { font-weight: bold !important; }

.fItalic { font-style: italic !important; }

.upC { text-transform: uppercase !important; }

/*FONT SIZE*/
.fS10 { font-size: 10px; }

.fS11 { font-size: 11px; }

.fS12 { font-size: 12px; }

.fS13 { font-size: 13px; }

.fS14 { font-size: 14px; }

.fS16 { font-size: 16px; }

.fS18 { font-size: 18px; }

.fS20 { font-size: 20px; }

.fS22 { font-size: 22px; }

.fS24 { font-size: 24px; }

.fS26 { font-size: 26px; }

/*LINE_HEIGHT*/
.lh100 { line-height: 100%; }

.lh120 { line-height: 120%; }

.lh150 { line-height: 150%; }

.lh200 { line-height: 200%; }

/*TEXT ALIGN*/
.txC { text-align: center; }

.txJ { text-align: justify; }

.txR { text-align: right; }

.font-titillium, .page-nav, .newslist.nl1 li .title, .newslist.nl2, .newslist.nl3 li .title, .newslist.trilist > .list, .newslist.boxstack a.overlay .caption .title, .newslist.boxstack .quickread.trigger, .page-footer .explore .titlebar, .page-footer .explore .channel-title, .page-footer .bottomlinks .links, .gallerybox .titlebar, .gallerybox .thumbcontainer .captionbox .title, .rollHeadlines .viewcontainer .slides li .desc .title, .titlebar.t1, .titlebar.t2, .titlebar.kanalpage, .momentum, .tag-popular a, .sorot .edition, .sorot .title, .sorot .inflink, .fokus li, .fokus .morelink, .channelblock.full .main .desc .title, .channelblock .sub > li .title, .channelblock.small .main .title, .side-tag-populer .container, .indexlist li .title, .indexlist li .upperdeck .channel, .indeks-selector .label, .indeks-selector .selector-container select, .search-desc .keyword, .fotogallery-display, .fotolist.fl1 li .title, .fotolist.fl2 li .title, .videodesc .title, .video-selector, .sidegallery, .videokanal-headline a .caption, .fvboxstack .caption , .fotoHL .caption .title , .quickread-module .title , .titlebar.t5  { font-family: titillium, "arial narrow" , arial; font-stretch: condensed; }

/*GLOBAL STYLES*/
body { font: normal 14px/1.4 helvetica , arial , sans-serif; color: #333; }

.thumbcontainer { position: relative; overflow: hidden; }
.thumbcontainer img { width: 100%; }

.fr { float: right; }

.fl { float: left; }

.p5 { padding: 5px; }

.p10 { padding: 10px; }

.p15 { padding: 15px; }

.p20 { padding: 20px; }

.p25 { padding: 25px; }

.p30 { padding: 30px; }

.p35 { padding: 35px; }

.p40 { padding: 40px; }

.p45 { padding: 45px; }

.p50 { padding: 50px; }

.clearfix:before, .grid:before, .row:before, .page-header .topbar .smicons:before, .newslist.nl1 li:before, .newslist.nl3 li:before, .newslist.trilist:before, .page-footer .explore .block-list:before, .page-footer .bottomlinks:before, .page-footer .bottomlinks .links:before, .gallerybox .titlebar:before, .gallerybox .thumblist:before, .momentum .momentumlist li > a:before, .fokus li:before, .indexlist li > a:before, .pagination:before, .clearfix:after, .grid:after, .row:after, .page-header .topbar .smicons:after, .newslist.nl1 li:after, .newslist.nl3 li:after, .newslist.trilist:after, .page-footer .explore .block-list:after, .page-footer .bottomlinks:after, .page-footer .bottomlinks .links:after, .gallerybox .titlebar:after, .gallerybox .thumblist:after, .momentum .momentumlist li > a:after, .fokus li:after, .indexlist li > a:after, .pagination:after { content: "\0020"; display: block; height: 0; visibility: hidden; }

.clearfix:after, .grid:after, .row:after, .page-header .topbar .smicons:after, .newslist.nl1 li:after, .newslist.nl3 li:after, .newslist.trilist:after, .page-footer .explore .block-list:after, .page-footer .bottomlinks:after, .page-footer .bottomlinks .links:after, .gallerybox .titlebar:after, .gallerybox .thumblist:after, .momentum .momentumlist li > a:after, .fokus li:after, .indexlist li > a:after, .pagination:after { clear: both; }

.clearfix, .grid, .row, .page-header .topbar .smicons, .newslist.nl1 li, .newslist.nl3 li, .newslist.trilist, .page-footer .explore .block-list, .page-footer .bottomlinks, .page-footer .bottomlinks .links, .gallerybox .titlebar, .gallerybox .thumblist, .momentum .momentumlist li > a, .fokus li, .indexlist li > a, .pagination { zoom: 1; }
.row, .row.a, .topbar {background-color:#fff;}

.grid { position: relative; }
.grid.center { margin-left: auto; margin-right: auto; }
.grid.w300 { width: 300px; }
.grid.w663 { width: 663px; }

 .grid.full { width: 975px;  }
  .grid.colA { width: 663px; float: left; }
  .grid.colA .colA-1 { width: 325px; float: left; }
  .grid.colA .colA-2 { width: 325px; float: right; }
  .grid.colB { width: 300px; float: right; } 

.disp { display: none; }
.disp.a { display: block; } 

.button { cursor: pointer; display: block; -moz-user-select: none; outline: 0 none; text-align: center; white-space: nowrap; height: 28px; line-height: 28px; min-width: 40px; padding: 0 8px; font: 600 16px titillium; }
.button.grey { background-color: #f8f8f8; border: 1px solid #dcdcdc; color: #555; background-image: linear-gradient(top, #f5f5f5, #f1f1f1); }
.button.grey:hover { border-color: #c6c6c6; -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); background-image: linear-gradient(top, #f8f8f8, #f1f1f1); }
.button.red { background-color: #d32129; border: 1px solid #b90b13; color: #fff; background-image: linear-gradient(top, #d32129, #b90b13); }
.button.red:hover { border-color: #9f080f; -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); background-image: linear-gradient(top, #b90b13, #9f080f); }
.button:active, .button:focus { -webkit-box-shadow: inset 0 1px 2px black; box-shadow: inset 0 1px 2px black; }
.button.large { font-size: 18px; height: 36px; line-height: 36px; }
.button.medium { font-size: 14px; height: 30px; line-height: 30px; }
.button.small { font-size: 12px; height: 20px; line-height: 20px; }

.portlet { margin-bottom: 15px; }
.portlet .morelink { color: #c00; font-weight: bold; display: block; line-height: 24px; text-align: right; font-family:titillium; }

.searchbar { position: relative; }
.searchbar .searchinput { width: 200px; border: 1px solid #c00; height: 30px; padding: 0 40px 0 10px; line-height: 30px; border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px; -o-border-radius: 8px; -webkit-transition: box-shadow, 0.2s; -moz-transition: box-shadow, 0.2s; -ms-transition: box-shadow, 0.2s; -o-transition: box-shadow, 0.2s; transition: box-shadow, 0.2s; font-size:16px; font-style:italic;}
.searchbar .searchinput:focus { -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1); box-shadow: 0 0 4px rgba(0, 0, 0, 0.1); }
.searchbar .searchinput:focus, .searchbar .searchinput:hover { border-color: #aaa; }
.searchbar .searchsubmit { position: absolute; top: 0; right: 5px; height: 0; width: 30px; padding-top: 30px; background: url("../img/element/sprite.png") -80px 0 no-repeat transparent; }
.searchbar .searchsubmit:hover { background-position: -110px 0; }

.page-header { position: fixed; top: 0; width: 100%; z-index: 9999; }
.page-header .topbar > .container { height: 60px; background-color: #fff; }
.page-header .topbar .logo { display: block; position: absolute; top: 0; left: 0; }
.page-header .topbar .searchbar { position: absolute; top: 15px; left: 250px; }
.page-header .topbar .searchbar .searchinput { width: 300px; }

.page-header .topbar .smicons { position: absolute; top: 20px; right: 10px; }
.page-header .topbar .smicons > li { float: left; margin-left: 20px; }
.page-header .topbar .timeset { font-size: 12px; position: absolute; top: 20px; right: 200px; color: #999; }


.leaderboard { padding: 5px 0; background-color: #fff; }
.leaderboard .container { width: 728px; height: 90px; overflow: hidden; margin-right: auto; margin-left: auto; }

.fullbelt .container { margin-right: auto; margin-left: auto; width: 975px; height: 100px; overflow: hidden; margin-bottom: 10px; }

.bottomframe { position: fixed; width: 100%; bottom: 0; z-index: 99999; }
.bottomframe .container { width: 975px; height: 40px; margin-right: auto; margin-left: auto; position:relative; }
.bottomframe  .close_btn{display:block; height:25px; padding:0 25px 0 15px; font:bold 16px/25px titillium; color:#fff; position:absolute; top:-25px; right:0; background:url('../img/element/close_btn.png') right center no-repeat #000; z-index:999999;}
	.bottomframe  .close_btn:hover{background-color:#f00;}

.headergap { height: 98px; }
.gap{height: 10px;}

.smicons .icon { display: block; background: url("../img/element/sprite.png") 0 0 no-repeat transparent; height: 20px; width: 20px; }
.smicons .icon.fb { background-position: 0 0; }
.smicons .icon.fb:hover { background-position: 0 -20px; }
.smicons .icon.twt { background-position: -20px 0; }
.smicons .icon.twt:hover { background-position: -20px -20px; }
.smicons .icon.gplus { background-position: -40px 0; }
.smicons .icon.gplus:hover { background-position: -40px -20px; }
.smicons .icon.acc { background-position: -60px 0; }
.smicons .icon.acc:hover { background-position: -60px -20px; }

.page-nav > .container { border-top: 1px solid #d0d0d0; border-bottom: 1px solid #d0d0d0; height: 36px; -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2); box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2); background-color: #fbfbfb; }
.page-nav .list-container > li { float: left; position: relative; -webkit-user-select: none;
-webkit-touch-callout: none; -webkit-user-select: none;}
.page-nav .list-container > li > a { display: block; font-weight: 600; border-right: 1px solid #d0d0d0; line-height: 36px; text-align: center; color: #333; -webkit-transition: line-height 0.1s; -moz-transition: line-height 0.1s; -ms-transition: line-height 0.1s; -o-transition: line-height 0.1s; transition: line-height 0.1s; font-size: 16px; }
.page-nav .list-container > li > a.link:hover, .page-nav .list-container > li > a.link.on { line-height: 31px; border-bottom: 5px solid #e60000; }
.page-nav .list-container > li.vnews > a { border-left: 1px solid #d0d0d0; }
.page-nav .list-container > li.vnews .subkanal li > a:hover { background-color: #d42329; }
.page-nav .list-container > li.vbola > a:hover { border-bottom-color: #339900; }
.page-nav .list-container > li.vbola .subkanal li > a:hover { background-color: #339900; }
.page-nav .list-container > li.vlife > a:hover { border-bottom-color: #fd0077; }
.page-nav .list-container > li.vlife .subkanal li > a:hover { background-color: #fd0077; }
.page-nav .list-container > li.vlog > a:hover { border-bottom-color: #8d2079; }
.page-nav .list-container > li.vlog .subkanal li > a:hover { background-color: #8d2079; }
.page-nav .list-container > li.vforum > a:hover { border-bottom-color: #3173a7; }
.page-nav .list-container > li.vforum .subkanal li > a:hover { background-color: #3173a7; }
.page-nav .list-container > li .sublist-container { position: absolute; top: 35px; display: none; z-index: 9999; -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4); box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4); }
.page-nav .list-container > li .sublist-container li > a { display: block; color: #fff; font-size: 16px; padding: 0 10px; min-width: 150px; font-size: 16px; line-height: 30px; padding: 0 10px; min-width: 150px; }
.page-nav .list-container > li .sublist-container.subkanal { left: 0; padding-top: 1px; }
.page-nav .list-container > li .sublist-container.subkanal li > a { color: #fff; background-color: rgba(0, 0, 0, 0.7); line-height: 30px; }
.page-nav .list-container > li .sublist-container.morekanal { right: 0; border: 1px solid #d0d0d0; }
.page-nav .list-container > li .sublist-container.morekanal li > a { color: #333; background-color: #fbfbfb; font-weight: 600; text-align: right; line-height: 35px; }
.page-nav .list-container > li .sublist-container.morekanal li > a:hover { border-right: 5px solid #e60000; padding-right: 5px; background-color: #eaeaea; color: #000; }
.page-nav .list-container > li:hover .sublist-container { display: block; }
.page-nav .list-container.float { position: absolute; top: 0; right: 0; z-index: 9999; }
.page-nav .list-container > li { width: 110px; }
  .page-nav .list-container.static { width: 800px; }
  .page-nav .list-container.static > li:nth-child(n+8) { display: none; }
  .page-nav .morekanal > li:nth-child(-n+6) { display: none; }

.skinframe.fixed { position: fixed; height: 0; overflow: visible; width: 100%; top: 100px; z-index:9999;}
.skinframe {height: 0; overflow: visible; width: 100%; top: -100px; z-index:9999;}
.skinframe .container, .skinframe.fixed .container { position: absolute; width: 160px; height: 600px; top: 0; z-index:9999;}
.skinframe .container.left, .skinframe.fixed .container.left { left: -170px; }
.skinframe .container.right { right: -170px; }
.skinframe .close_btn, .skinframe.fixed .close_btn {display:block; height:25px; padding:0 25px 0 15px; font:bold 16px/25px titillium; color:#fff; position:absolute; top:-25px; right:0; background:url('../img/element/close_btn.png') right center no-repeat #000; z-index:999999;}
	.skinframe .close_btn:hover, .skinframe.fixed .close_btn:hover{background-color:#f00;}

.newslist.nl1 li { border-bottom: 1px dotted #999; padding: 10px 0; line-height: 1.2; }
.newslist.nl1 li:last-child { border: none; }
.newslist.nl1 li .thumbcontainer { width: 40%; float: left; margin-right: 10px; }
.newslist.nl1 li .upperdeck { font-size: 11px; font-weight: bold; color: #e60000; font-variant-caps: all-petite-caps; }
.newslist.nl1 li > a { display: block; }
.newslist.nl2 { padding: 10px; background-color: #f0f0f0; font-size: 15px; }
.newslist.nl2 li { border-bottom: 1px dotted #999; padding: 10px 0; }
.newslist.nl2 li:last-child { border: none; }
.newslist.nl2 li > a { display: block; }
.newslist.nl3 li { border-bottom: 1px dotted #999; padding-bottom: 10px; margin-bottom: 10px; line-height: 1.2;  }
.newslist.nl3 li:last-child { border: none; }
.newslist.nl3 li .upperdeck { font-size: 11px; font-weight: bold; color: #e60000; font-variant-caps: all-petite-caps; }
.newslist.nl3 li .thumbcontainer { width: 40%; float: left; margin-right: 10px; }
.newslist.nl3 li.main { text-align: center; }
.newslist.nl3 li.main .thumbcontainer { width: 100%; float: none; margin-bottom: 5px; }
.newslist.nl3 li.main .upperdeck { font-size: 12px; font-weight: bold; color: #e60000; font-variant-caps: all-petite-caps; }
.newslist.nl3 li.main .title { font-size: 16px; font-weight: 600; }
.newslist.trilist > .list { width: 210px; float: left; margin: 0 5px 15px; font-weight: 600; font-size: 15px; height: 180px; overflow: hidden; }
.newslist.trilist > .list .overlayicon { position: absolute; z-index: 999; bottom: 10px; right: 10px; opacity: .5; width: 40px; }
.newslist.trilist > .list .overlayicon img { width: 100%; }
.newslist.trilist > .list:hover .overlayicon { opacity: 1; }
.newslist.boxstack .colstack { position: relative; }
.newslist.boxstack a.overlay { display: block; position: absolute; height: 100%; width: 100%; z-index: 10; -webkit-transition: background-color 0.2s; -moz-transition: background-color 0.2s; -ms-transition: background-color 0.2s; -o-transition: background-color 0.2s; transition: background-color 0.2s; }
.newslist.boxstack a.overlay .caption { position: absolute; padding: 10px; bottom: 0px; }
.newslist.boxstack a.overlay .caption .title { font-weight: 600; }
.newslist.boxstack .quickread { position: absolute; z-index: 99; top: 10px; right: 10px; display: block; line-height: 30px; height: 30px; padding: 0 10px; background-color: rgba(0, 0, 0, 0.5); color: #fff; font-weight: 600; display: block; }
.newslist.boxstack .quickread:hover { background-color: black; }
.newslist.boxstack a.overlay.white { background-color: rgba(255, 255, 255, ); color: #000; }
.newslist.boxstack a.overlay.white:hover { background-color: rgba(255, 255, 255, 0.6); }
.newslist.boxstack a.overlay.white .caption {background-color: rgba(0, 0, 0, 0.4);}
.newslist.boxstack a.overlay.white .caption .title { color: #fff; }
.newslist.boxstack a.overlay.white .caption .title:hover { color: #c00; }
.newslist.boxstack a.overlay.red { background-color: rgba(255, 0, 0, 0.4); }
.newslist.boxstack a.overlay.red:hover { background-color: rgba(255, 0, 0, 0.6); }
.newslist.boxstack a.overlay.red .caption { color: #fff; }
.newslist.boxstack a.overlay.black { background-color: rgba(0, 0, 0, 0.4); }
.newslist.boxstack a.overlay.black:hover { background-color: rgba(0, 0, 0, 0.6); }
.newslist.boxstack a.overlay.black .caption { color: #fff; }
.newslist.boxstack .pic { overflow: hidden; position: relative; }
.newslist.boxstack .pic, .newslist.boxstack .pic img { height: 100%; }
.newslist.boxstack .pic img { position: absolute; }
.newslist.boxstack .pic.orient-left img { left: 0; }
.newslist.boxstack .pic.orient-center img { left: -9999px; right: -9999px; margin: auto; }
.newslist.boxstack .pic.orient-right img { right: 0; }
.newslist.boxstack .col { float: left; }
.newslist.boxstack .col { width: 331px; } 
.newslist.boxstack .col .colstack.h200 { height: 200px; }
.newslist.boxstack .col .colstack.h200 .caption .title { font-size: 22px; line-height: 24px; }
.newslist.boxstack .col .colstack.h200 .caption .sum { font-size: 12px; }
.newslist.boxstack .col .colstack.h300 { height: 300px; }
.newslist.boxstack .col .colstack.h300 .caption .title { font-size: 26px; line-height: 28px; }
.newslist.boxstack .col .colstack.h400 { height: 400px; }
.newslist.boxstack .col .colstack.h400 .caption .title { font-size: 30px; line-height: 32px; }
.newslist.boxstack .col .colstack.h400 .caption .sum { font-size: 16px; }

.newslist.boxstack .col  .caption .waktu { font-size: 10px; margin: 5px 0; }

.quickread-module{width:100%; height:100%; top:0; bottom:0; left:0; right:0; position:fixed; z-index:99999; } 
	.quickread-module.overlay{ background-color: rgba(0, 0, 0, 0.8);}
.quickread-module .container{width:663px; height:500px; position:absolute; overflow:visible; background-color:#fff; top:50%; left:50%; margin-left:-331px; margin-top:-250px; padding:10px; box-shadow:0 0 3px #000;}
.quickread-module .close_btn{display:block; height:25px; padding:0 25px 0 15px; font:bold 16px/25px titillium; color:#fff; position:absolute; top:-25px; right:0; background:url('../img/element/close_btn.png') right center no-repeat #000;}
	.quickread-module .close_btn:hover{background-color:#f00;}
.quickread-module .container .left{width:340px; float:left; height:100%;}
	.quickread-module .container .right{width:300px; float:right; padding-left:10px; border-left:1px solid #999; height:100%;}
.quickread-module .title { font-size: 22px; font-weight: bold; line-height:30px; padding:10px 0; max-height:60px; overflow:hidden;}
	.quickread-module .content{ max-height:185px; overflow:hidden;}
	.quickread-module .morelink{display:block; color:#c00; font:600 16px/20px titillium; margin-top:15px;}
	.quickread-module .morelink:hover{text-decoration:underline;}

.page-footer .explore { background-color: #eaeaea; }
.page-footer .explore .titlebar { cursor: pointer; padding: 20px 40px; }
.page-footer .explore .titlebar .text { float: left; font-size: 24px; line-height: 40px; }
.page-footer .explore .titlebar .icon { background: url("../img/element/sprite.png") -140px 0 no-repeat transparent; float: left; height: 40px; width: 40px; margin-left: 20px; }
.page-footer .explore .titlebar .icon.open { background-position: -180px 0; }
.page-footer .explore .titlebar .logo { float: right; height: 40px; width: 140px; }
.page-footer .explore .titlebar .logo img { width: 100%; }
.page-footer .explore .channel-title { display: block; font-weight: bold; font-size: 20px; margin-bottom: 10px; font-weight: 600; }
.page-footer .explore .block-list { padding: 0 40px 20px; display: none; }
.page-footer .explore .block-list .block { float: left; width:12.5%; }
.page-footer .explore .block-list .block .links { font-size: 15px; line-height: 26px; }

.page-footer .bottomlinks { background-color: #bfbfbf; padding: 30px;  }
.page-footer .bottomlinks .memberlogo { float: right; font-size: 11px; text-align: center; font-weight:bold; }
.page-footer .bottomlinks .links { width: 500px; float: left; font-size: 16px; line-height: 24px;  }
.page-footer .bottomlinks .links li { width: 35%; float: left; }
.page-footer .copy { padding: 5px 0 20px; text-align: center; }

.gallerybox .titlebar { background-color: #000; color: #fff; line-height: 50px; height: 50px; padding: 0 10px; }
.gallerybox .titlebar .red { color: #c00; }
.gallerybox .titlebar .text { font-size: 40px; font-weight: bold; float: left; }
.gallerybox .titlebar .morelink { font-size: 24px; font-weight:normal; display: block; float: right; padding-top:10px; }
.gallerybox .thumbcontainer { display: block; }
.gallerybox .thumbcontainer .overlayicon { opacity: 0.5; -moz-opacity: 0.5; -webkit-opacity: 0.5; -o-opacity: 0.5; filter: alpha(opacity=50); position: absolute; z-index: 99; }
.gallerybox .thumbcontainer .overlayicon img { width: 100%; }
.gallerybox .thumbcontainer:hover .overlayicon { opacity: 0.7; -moz-opacity: 0.7; -webkit-opacity: 0.7; -o-opacity: 0.7; filter: alpha(opacity=70); }
.gallerybox .thumbcontainer .captionbox { position: absolute; width: 100%; bottom: 0; left: 0; background: url("../img/element/gradoverlay.png") repeat-x center top; color: #fff; }
.gallerybox .thumbcontainer .captionbox .container { padding: 30px 20px 10px; }
.gallerybox .thumbcontainer .captionbox .title { font-size: 16px; line-height: 18px; font-weight: 600; }
.gallerybox .main .captionbox .container { padding: 30px 20px 10px; }
.gallerybox .main .captionbox .title { font-size: 30px; line-height: 34px; }
.gallerybox .thumblist { width: 100%; }
.gallerybox .thumblist > li { float: left; }
.gallerybox .thumblist .captionbox .container { padding: 20px 10px 10px; }
.gallerybox .thumblist .captionbox .title { font-size: 16px; line-height: 18px; }
.gallerybox .main .thumbcontainer .overlayicon { width: 150px; top: 350px; left: 20px; }
  .gallerybox .thumblist > li { width: 20%; }
  .gallerybox .thumblist .overlayicon { width: 30px; top: 10px; left: 10px; } 
  
.galleryboxvideo .titlebar { background-color: #000; color: #fff; font-family:titillium; line-height: 50px; height: 50px; padding: 0 10px; }
.galleryboxvideo .titlebar .red { color: #c00; }
.galleryboxvideo .titlebar .text { font-size: 40px; font-weight: bold; float: left; }
.galleryboxvideo .titlebar .morelink { font-size: 24px; font-weight:normal; display: block; float: right; padding-top:10px; }
.galleryboxvideo .container {border-bottom:solid 4px #ccc;}
.galleryboxvideo .container .main { width:60%; float:left;  }
.galleryboxvideo .container .main img { width:100%; }
.galleryboxvideo .container .main .overlayicon { opacity: 0.5; -moz-opacity: 0.5; -webkit-opacity: 0.5; -o-opacity: 0.5; filter: alpha(opacity=50); position: absolute; z-index: 99; left:230px; top:150px;}
.galleryboxvideo .container .main .overlayicon img { width: 60%; }
.galleryboxvideo .container .main:hover .overlayicon { opacity: 0.7; -moz-opacity: 0.7; -webkit-opacity: 0.7; -o-opacity: 0.7; filter: alpha(opacity=70); }
.galleryboxvideo .container .main .captionbox { position: absolute; width:60%; bottom: 0; left: 0; background:url("../img/element/gradoverlay.png") repeat-x center top; color: #fff; }
.galleryboxvideo .container .main .captionbox .container { padding: 30px 20px 10px; }
.galleryboxvideo .container .main .captionbox .container .title {font-size:30px; font-weight:bold; font-family:titillium; line-height:34px; }
.galleryboxvideo .container .thumblist { width:20%; }
.galleryboxvideo .container .thumblist .thumbcontainer { padding:10px; }
.galleryboxvideo .container .thumblist .thumbcontainer img { width:100%;}
.galleryboxvideo .container .thumblist .thumbcontainer .overlayicon { opacity: 0.5; -moz-opacity: 0.5; -webkit-opacity: 0.5; -o-opacity: 0.5; filter: alpha(opacity=50); position: absolute; z-index: 99;}
.galleryboxvideo .container .thumblist .thumbcontainer:hover .overlayicon { opacity: 0.7; -moz-opacity: 0.7; -webkit-opacity: 0.7; -o-opacity: 0.7; filter: alpha(opacity=70); }
.galleryboxvideo .container .thumblist .thumbcontainer .overlayicon img { width: 20%; }
.galleryboxvideo .container .thumblist .thumbcontainer .title { font-size:16px; font-weight:bold; font-family:titillium; line-height:18px; margin-top:5px;}

.rollHeadlines { width: 100%; overflow: hidden; }
.rollHeadlines .viewcontainer #tombolPlayPause, .rollHeadlines .viewcontainer #tombolPrev, .rollHeadlines .viewcontainer #tombolNext { display: none; }
.rollHeadlines .viewcontainer .slides, .rollHeadlines .viewcontainer .slides li { width: 100%; height: 454px; }
.rollHeadlines .viewcontainer .slides li { position: relative; overflow: hidden; }
.rollHeadlines .viewcontainer .slides li .displayimg { height: 100%; }
.rollHeadlines .viewcontainer .slides li .desc { color: #fff; width: 50%; position: absolute; right: 0; bottom: 30px; }
.rollHeadlines .viewcontainer .slides li .desc .title { font-weight: 600; margin-bottom: 5px; font-size: 28px; line-height: 36px; text-shadow: 0 0 3px #593d67; }
.rollHeadlines .viewcontainer .slides li .desc .container { padding: 20px; background-color: rgba(0, 0, 0, 0.5); }
.rollHeadlines .viewcontainer #slideList { position: absolute; bottom: 10px; left: 10px; }
.rollHeadlines .viewcontainer #slideList li { float: left; margin-right: 5px; border: 1px solid #fff; -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }
.rollHeadlines .viewcontainer #slideList li a { display: block; padding-top: 16px; height: 0; overflow: hidden; width: 16px; }
.rollHeadlines .viewcontainer #slideList li.tampil a { background-color: #fff; }

.titlebar.t1 { border-bottom: 1px solid #c00; height: 11px; position: relative; overflow: visible; z-index: 10; }
.titlebar.t1.mb { margin-bottom: 15px; }
.titlebar.t1 .text { color: #fff; width: 160px; padding: 0 10px; line-height: 22px; font-weight: bold; margin: 0 auto; background-color: #c00; text-align: center; }
.titlebar.t2 { font-size: 20px; }\\
.titlebar.t2.center { text-align: center; }
.titlebar.t2 span { color: #d42329; font-weight: bold; }
.titlebar.t5 { font-weight:600; font-size: 24px; line-height: 36px; color: #d42329;}
.titlebar.t9{border-bottom:1px solid #c00;}
	.titlebar.t9 .text{font:600 24px/30px titillium; border-bottom:2px solid #c00; float:left;}
.titlebar.kanalpage { position: absolute; top: 20px; left: 0; background: rgba(255, 255, 255, 0.8); z-index: 9; font-weight: bold; font-size: 24px; padding: 0 20px; letter-spacing: 3px; color: #d42329; -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); }

.momentum .topbanner img { width: 100%; }
.momentum .container { padding: 0 10px; background-color: #eee; }
.momentum .slide-container { position: relative; height: 190px; overflow: hidden; }
.momentum .momentumlist { position: absolute; top: 0; left: 0; }
.momentum .momentumlist li { border-bottom: 1px dotted #999; padding: 11px 0; line-height: 1.2; }
.momentum .momentumlist li > a { display: block; }
.momentum .momentumlist li .thumbcontainer { width: 40%; float: left; margin-right: 10px; }
.momentum .momentumlist li .upperdeck { font-size: 11px; font-weight: bold; color: #e60000; font-variant-caps: all-petite-caps; }

.staticmomentum .banner { padding-bottom:3px; }
.staticmomentum .banner img { width: 100%; }
.staticmomentum .container { background-color: #eee; }
.staticmomentum .momentumlist { position: absolute; left: 0; }
.staticmomentum .momentumlist li { border-bottom: 1px dotted #999; padding: 3px 0; line-height: 1.35; }
.staticmomentum .momentumlist li > a { display: block; }
.staticmomentum .momentumlist li .thumbcontainer { width: 35%; float: left; margin-right: 10px; }
.staticmomentum .momentumlist li .upperdeck { font-size: 11px; font-weight: bold; color: #e60000; font-variant-caps: all-petite-caps; }

.tag-popular { background-color: #fff; height: 30px; overflow: hidden; border: 1px solid #000; }
.tag-popular a { float: left; height: 30px; line-height: 30px; font-weight: 600; }
.tag-popular a.clef { font-weight: bold; color: #fff; background-color: #000; width: 28px; padding-left: 5px; font-size: 30px; font-style: italic; }
.tag-popular li { float: left; }
.tag-popular li a { padding: 0 10px; border-left: 1px solid #000; }

.sorot .edition { position: absolute; font-weight: bold; color: #fff; bottom: 0; left: 0; background-color: rgba(0, 0, 0, 0.7); font-style: italic; line-height: 24px; padding: 0 10px; }
.sorot .title { font-size: 18px; }
.sorot .inflink { display: block; line-height: 24px; }
.sorot .title, .sorot .inflink { color: #c00; font-weight: bold; }
.sorot { text-align: center; border-bottom: 5px solid #ccc; padding-bottom: 5px; }

.fokus li { font-weight: 600; }
.fokus .morelink { color: #c00; font-weight: bold; display: block; line-height: 24px; text-align: center; }
 .fokus { border-bottom: 5px solid #ccc; padding-bottom: 5px; }
  .fokus .main { margin-bottom: 0px; }
  .fokus .main .desc { position: absolute; bottom: 0; left: 0; width: 100%; color: #fff; }
  .fokus .main .desc .container { padding: 5px 10px; background-color: rgba(0, 0, 0, 0.5); }
  .fokus .main .title { display: none; }
  .fokus .sub { padding: 9px 0; }
  .fokus .sub .thumbcontainer { float: left; margin-right: 10px; width: 50%; } 
  
.tokoh .desc { padding:2px 0 5px; width:100%; background-color: rgba(0, 0, 0, 0.5); bottom:0; position:absolute; } 
.tokoh .desc .title {color:#fff; text-align:center; font-size:22px; font-weight:600; font-variant-caps: all-petite-caps; font-family:titillium;} 

.tokohIndeks-selector .searchbar{width:250px; margin-left:auto; margin-right:auto;}
.tokohIndeks-selector .alph { width:482px; margin:0 auto;}
.tokohIndeks-selector .alph li {float:left; margin:10px 5px 0;}
.tokohIndeks-selector .alph li a{display:block; font:bold 16px/25px titillium; border:1px solid #999; width:25px; text-align:center; color:#c00;}
	.tokohIndeks-selector .alph li a:hover{background-color:#c00; color:#fff; border-color:#c00;}
	.tokohIndeks-selector .alph li a.active{background-color:#c00; color:#fff; border-color:#c00;}

.tokohList.tl1 .list{padding:10px 0; border-bottom:2px dotted #999;}
.tokohList.tl1 .thumbcontainer{width:20%; float:left;}
	.tokohList.tl1 .desc{width:78%; float:right;}
	
.tokohList.tl2 .list{padding:10px 0; border-bottom:1px dotted #999; }
.tokohList.tl2 .thumbcontainer{width:25%; float:left;}
	.tokohList.tl2 .desc{width:73%; float:right; height:90px; overflow:hidden;}
	.tokohList.tl2 .nama-tokoh .text{font-size:18px; line-height:24px; }
	
.tokohList.tl1 .list .nama-tokoh , .tokohList.tl1 .list .desc-tokoh{margin-bottom:10px;}

.tokohList.tl2 .list .nama-tokoh{margin-bottom:5px;}

.tokoh-profile-detail { }
.tokoh-profile-detail .thumbcontainer{ width:250px; float:left;}
.tokoh-profile-detail .desc{float:left; font-size:16px;}
.tokoh-profile-detail .tokoh{float:left; font-size:28px; font-weight: bold; font-family: titillium; width: 100%; text-align: center; }
.tokoh-profile-detail .tokoh-quot{float:left; font-size:32px; font-weight: normal; font-family: titillium; width: 80%; text-align:center; line-height: 34px; margin: 10% 30px 10% 30px; }
.tokoh-profile-detail .quot{width:400px; float:right; font-size:16px;}
.tokoh-profile-detail .desc .smicons .icon.twt ,  .tokoh-profile-detail .desc .smicons .icon.fb , .tokoh-profile-detail .desc .smicons .icon.ig {margin-right: 10px;}
.tokoh-profile-detail .tokoh-box-utama { padding: 10px 0; border-bottom: 1px solid #ccc; }
.pic-crop {float: left;overflow: hidden; position: relative;}
.pic-crop.w75 {width: 75px; height: 90px;}
.pic-crop.w75 img {width: 165px;}
.pic-crop.w130 {width: 130px; height: 160px;}
.pic-crop.w130 img {width: 280px;}
.pic-crop.w250 {width: 250px; height: 300px;}
.pic-crop img {width: 600px; position: absolute;left: -9999px; right: -9999px; margin: auto;}
.tokoh-desc p {font-size: 20px;}
.tokoh .titlebar.t2 span a:hover {
	color: #333;
	border-bottom: 3px solid #c00;
}

.channelblock .titlebar { padding: 10px 0; border-bottom: 3px solid #c00; }
.channelblock .titlebar .logo { display: block; height: 50px; margin: 0 auto; }
.channelblock .subkanal { font-size: 12px; font-weight: bold; font-variant-caps: all-petite-caps; }
.channelblock > .container { margin-bottom: 5px; }
.channelblock.vnews .titlebar { border-color: #d42329; }
.channelblock.vnews .titlebar .logo { background: url("../img/element/sprite.png") 0 -40px no-repeat transparent; width: 114px; }
.channelblock.vnews.small .main .subkanal, .channelblock.vnews .sub .subkanal { color: #d42329; }
.channelblock.vbola .titlebar { border-color: #339900; }
.channelblock.vbola .titlebar .logo { background: url("../img/element/sprite.png") 0 -90px no-repeat transparent; width: 110px; }
.channelblock.vbola.small .main .subkanal, .channelblock.vbola .sub .subkanal { color: #339900; }
.channelblock.vlife .titlebar { border-color: #fd0077; }
.channelblock.vlife .titlebar .logo { background: url("../img/element/sprite.png") 0 -120px no-repeat transparent; width: 95px; }
.channelblock.vlife.small .main .subkanal, .channelblock.vlife .sub .subkanal { color: #fd0077; }
.channelblock.vlife .titlebar { border-color: #fd0077; }
.channelblock.vlife .titlebar .logo { background: url("../img/element/sprite.png") 0 -140px no-repeat transparent; width: 95px; }
.channelblock.vlife.small .main .subkanal, .channelblock.vlife .sub .subkanal { color: #fd0077; }
.channelblock.vforum .titlebar { border-color: #3173a7; }
.channelblock.vforum .titlebar .logo { background: url("../img/element/sprite.png") 0 -190px no-repeat transparent; width: 132px; }
.channelblock.vforum.small .main .subkanal, .channelblock.vforum .sub .subkanal { color: #3173a7; }
.channelblock.vlog .titlebar { border-color: #8d2079; }
.channelblock.vlog .titlebar .logo { background: url("../img/element/sprite.png") 0 -240px no-repeat transparent; width: 93px; }
.channelblock.vlog.small .main .subkanal, .channelblock.vlog .sub .subkanal { color: #8d2079; }
.channelblock.full .main { width: 421px; float: left; }
.channelblock.full .main .desc { color: #fff; width: 60%; position: absolute; right: 0; bottom: 10px; }
.channelblock.full .main .desc .title { margin-bottom: 5px; font-size: 22px; line-height: 26px; text-shadow: 0 0 3px #593d67; font-weight: 600; }
.channelblock.full .main .desc .container { padding: 10px; background-color: rgba(0, 0, 0, 0.5); }
.channelblock .sub > li { height: 78px; border-bottom: 1px dotted #999; }
.channelblock .sub > li a { display: block; padding: 5px 0; }
.channelblock .sub > li .title { font-size: 14px; line-height:18px;  }
.channelblock .sub > li .thumbcontainer { width: 100px; float: left; margin-right: 5px; }
.channelblock.full .sub { float: right; width: 242px; }
.channelblock.full .sub li a { padding: 5px; }
.channelblock.small .main { padding-bottom: 5px; margin-bottom: 5px; border-bottom: 1px dotted #999; }
.channelblock.small .main .thumbcontainer { margin-bottom: 5px; }
.channelblock.small .main .title { font-size: 18px; font-weight: 600; }
.channelblock.small .sub li { height: 68px; }
.channelblock.small .sub li .title { font-size: 14px; }

.side-tag-populer .container { padding-top: 26px; font-style: italic; font-weight: 600; }
.side-tag-populer li { border-bottom: 2px dotted #999; font-size: 20px; }
.side-tag-populer li:nth-child(even) a { color: #888; }
.side-tag-populer li a { display: block; overflow: hidden; color: #444; }
.side-tag-populer li a:hover { color: #c00; }
 .side-tag-populer li a { height: 51px; line-height: 51px; } 

.terpopuler .newslist { padding-top: 25px; }
.terpopuler .morelink { color: #c00; font-weight: bold; display: block; line-height: 24px; text-align: center; font-family:titilium;}

.indexlist { margin-bottom: 10px; }
.indexlist li { border-bottom: 1px solid #ccc; }
.indexlist li > a { display: block; padding: 15px 0; }
.indexlist li > a:hover { background-color: #f6f6f6; }
.indexlist li .thumbcontainer { float: left; width: 30%; }
.indexlist li .title { font-weight: 600; width: 68%; float: right; }
.indexlist li .upperdeck { color: #999; font-size: 12px; font-variant-caps: all-petite-caps; }
.indexlist li .upperdeck .channel { font-size: 14px; font-weight: 600; }
.indexlist li .upperdeck .channel.vnews { color: #d42329; }
.indexlist li .upperdeck .channel.vbola { color: #339900; }
.indexlist li .upperdeck .channel.vlife { color: #fd0077; }
.indexlist li .upperdeck .channel.vlog { color: #8d2079; }
.indexlist li .upperdeck .channel.vforum { color: #3173a7; }
.indexlist li .summary { color: #555; }
 .indexlist li .upperdeck { width: 68%; float: right; }
  .indexlist li .summary { width: 68%; float: right; }
  .indexlist li .title { margin-bottom: 5px; font-size: 18px; } 


.indeks-selector .label { font-weight: bold; float: left; line-height: 30px; margin: 0 20px; }
.indeks-selector .selector-container { padding: 2px 2px 2px 5px; border: 1px solid #666; float: left; margin-right: 10px; }
.indeks-selector .selector-container select { font-weight: bold; color: #666; }
.indeks-selector .selector-container select:focus { outline: none; }

.indeks-selector, .search-desc { padding: 20px 0 10px; border-bottom: 3px solid #999; }

.search-desc .keyword { font-size: 18px; font-weight: 600; color: #c00; }

.pagination { margin: 5px 0 20px; }
.pagination .button, .pagination .pagelist { float: left; margin: 0 2px; }
.pagination .pagelist a { display: block; float: left; color: #555; padding: 0 10px; height: 22px; font: 600 14px/22px titillium; transition: background-color 0.2s; -moz-transition: background-color 0.2s; -webkit-transition: background-color 0.1s; -o-transition: background-color 0.2s; }
.pagination .pagelist a.active, .pagination .pagelist a.active:hover { background-color: #555; color: #fff; }
.pagination .pagelist a:hover { background-color: #c00; color: #fff; }
.pagination .pagelist a.separator:hover { background: none; color: #555; }

.fotoHL{width:100%; position:relative; overflow:hidden;}
	.fotoHL .fotoImg{width:100%;}
	.fotoHL .caption{position:absolute; right:0; bottom:50px; width:40%; background-color:rgba(0,0,0,.6); color:#fff; padding:15px; z-index:10;}
	
		.fotoHL .caption .title{font-size:24px; font-weight:600; margin-bottom:10px;}
	.fotoHL .display{display:block; }

.fotogallery-display { border-bottom: 5px solid #ccc; padding-bottom: 15px; position:relative; overflow:hidden;}
.fotogallery-display .main.thumbcontainer { margin-bottom: 15px; }
.fotogallery-display .foto-desc { padding: 5px 0px 10px; border-bottom: 1px dotted #999; }
.fotogallery-display .titlebar { line-height: 40px; font-size: 18px; font-weight: 600; }

.fotogallery-display .pos{position:absolute; z-index:99; top:490px; right:0; padding:0 30px 0 15px; line-height:40px; height:40px; color:#fff; background-color:rgba(0,0,0,.5); /*display:none;*/}

	.fotogallery-display .pos b{font-size:24px;}
	
.fotogallery-display .navBtn { background: url("../img/element/sprite.png") -140px -40px no-repeat transparent; width: 35px; height: 70px; opacity: 0.75; -moz-opacity: 0.75; -webkit-opacity: 0.75; -o-opacity: 0.75; filter: alpha(opacity=75); position: absolute; z-index: 10; top: 200px; /*display:none;*/}

.fotogallery-display .navBtn:hover { opacity: 1; -moz-opacity: 1; -webkit-opacity: 1; -o-opacity: 1; filter: alpha(opacity=100); }
.fotogallery-display .navBtn.prev { left: 0; }
.fotogallery-display .navBtn.next { background-position: -175px -40px; right: 0; }

/*.fotogallery-display:hover .pos , .fotogallery-display:hover .navBtn{display:block;}*/

.fotogallery-display .gallerydetail .desc .titlebar { color: #666; }
.fotogallery-display .gallerydetail .desc .title { font-size: 30px; line-height: 36px; font-weight: 600; }
.fotogallery-display .gallerydetail .desc .summary { padding: 10px 0; font-size: 16px; }
.fotogallery-display .gallerydetail .thumbnails .titlebar { color: #d42329; padding-left: 15px; }
.fotogallery-display .gallerydetail .thumbnails ul > li { float: left; }
.fotogallery-display .gallerydetail .thumbnails ul > li > .thumbcontainer { opacity: 0.5; -moz-opacity: 0.5; -webkit-opacity: 0.5; -o-opacity: 0.5; filter: alpha(opacity=50); -webkit-transition: opacity 0.5s; -moz-transition: opacity 0.5s; -ms-transition: opacity 0.5s; -o-transition: opacity 0.5s; transition: opacity 0.5s; display: block; } .fotogallery-display .gallerydetail .thumbnails ul > li > .thumbcontainer.on, .fotogallery-display .gallerydetail .thumbnails ul > li > .thumbcontainer:hover { opacity: 1; -moz-opacity: 1; -webkit-opacity: 1; -o-opacity: 1; filter: alpha(opacity=100); }
 .fotogallery-display .gallerydetail .thumbnails { float: right; width: 585px; }
  .fotogallery-display .gallerydetail .thumbnails .titlebar { padding-left: 15px; }
  .fotogallery-display .gallerydetail .thumbnails ul > li { margin: 0 0 15px 15px; }
  .fotogallery-display .gallerydetail .thumbnails ul > li > .thumbcontainer { width: 180px; } 

.shareModule .printBtn{display:block; background: url('../img/element/sprite.png') -140px -150px; width:60px; height:30px;}
.shareModule .emailBtn{display:block; background: url('../img/element/sprite.png') -140px -110px; width:60px; height:30px;}

.shareModule{background-color:#fff; width:100%;}
.shareModule .modList{float:left; margin-right:10px;}


.list-kategori-foto .indeks-selector { padding: 5px 10px; background-color: #eee; }

.fotolist .jmlfoto { padding: 5px; position: absolute; font-weight: normal; color: #fff; bottom: 0; left: 0; background-color: rgba(0, 0, 0, 0.7); }
.fotolist.fl1 { background-color: #efefef; }
.fotolist.fl1 li { float: left; }
.fotolist.fl1 li .title { line-height: 22px; font-weight: bold; padding: 5px 0; }
.fotolist.fl1 li .summary { font-size: 12px; }
.fotolist.fl1 li { width: 310px; margin: 7px; height: 240px; overflow: hidden; }
  .fotolist.fl1 li .title { font-size: 15px; height: 40px; overflow: hidden; } 

.fotolist.fl2 li { float: left; }
.fotolist.fl2 li .title { font-weight: bold; padding: 5px 0; }
.fotolist.fl2 li .summary { font-size: 12px; }
.fotolist.fl2 li { width: 480px; margin-bottom: 20px; height: 350px; overflow: hidden; }
  .fotolist.fl2 li:nth-child(even) { float: right; }
  .fotolist.fl2 li .title { font-size: 18px; line-height: 26px; height: 52px; overflow: hidden; } 

.videodesc .title { font-size: 26px; font-weight: bold; line-height: 32px; padding: 10px 0; }
.videodesc .summary { font-size:17px; font-family:titillium;}
.videodesc .date { padding: 15px 0px 0px; font-size:14px; font-family:titillium; }
.video-selector { font-weight: 600; font-size: 18px; }
.video-selector .container { background-color: #eee; padding: 20px 0 10px; }
.video-selector li a { display: block; padding: 3px 5px 3px 30px; }
.video-selector li a.on { font-weight: bold; background: url("../img/element/pointer-selector-list.png") no-repeat left center transparent; color: #d42329; }

.sidegallery .container { background-color: #eee; padding: 10px; }
.sidegallery .thumbcontainer .overlayicon { position: absolute; z-index: 999; bottom: 10px; right: 10px; opacity: .5; width: 40px; }
.sidegallery .thumbcontainer .overlayicon img { width: 100%; }
.sidegallery .thumbcontainer:hover .overlayicon { opacity: 1; }
.sidegallery .main { margin-bottom: 10px; padding-bottom: 10px; border-bottom: 1px solid #d42329; }
.sidegallery .main .caption { background-color: rgba(0, 0, 0, 0.5); color: #fff; width: 100%; position: absolute; z-index: 99; bottom: 0; }
.sidegallery .main .caption .inner { padding: 10px 40px 10px 10px; }
.sidegallery .sub li { margin-bottom: 10px; padding-bottom: 10px; border-bottom: 1px dotted #999; position: relative; }
.sidegallery .sub li:last-child { margin: 0; padding: 0; border: 0; }
.sidegallery .sub li .thumbcontainer { float: left; margin-right: 10px; width: 110px; }

.videokanal-headline a { display: block; position: relative; overflow:hidden;}
.videokanal-headline a .caption { position:absolute; bottom:0 ; width:100%; background-color: rgba(0,0,0,.5); color: #fff;  font-size: 18px; font-weight: 600; }
	.videokanal-headline a .caption span{display:block; padding:10px;}
.videokanal-headline a .overlayicon { position: absolute; z-index: 999; top: 130px; left: 275px; opacity: .5; width: 100px; }
.videokanal-headline a .overlayicon img { width: 100%; }
.videokanal-headline a:hover .caption { background-color: #000; }
.videokanal-headline a:hover .overlayicon { opacity: 1; }

.videokanal-nav{font-family:titillium; font-weight:bold; font-size:18px; line-height:28px; border-bottom:2px solid #c00; height:13px; margin-bottom:30px;}
.videokanal-nav .menu{margin-left:20px;}
.videokanal-nav .menu li{float:left; border-right:1px solid #333; background-color:#fff;}
.videokanal-nav .menu li:last-child{border-right:none;}
	.videokanal-nav .menu li a{display:block; padding:0 15px; }
	.videokanal-nav .menu li a.on{color:#fff; background-color:#c00;}
	
.videokanal-list li{float:left; width:315px; height:177px; overflow:hidden; position:relative; margin: 0 15px 15px 0;}
.videokanal-list li:nth-child(3n){margin-right:0;}
	.videokanal-list li a{display:block; position:relative;}
		.videokanal-list li img{width:100%;}
		
		.videokanal-list li a .caption{position:absolute; z-index:10; width:100%; height:100%; color:#fff; font:600 20px/24px titillium; text-align:center; text-shadow:0px 1px 2px rgba(0,0,0,.5); opacity:0; transition:opacity .3s}
		.videokanal-list li.vnews .caption {background-color:rgba(216,32,40,.65);}	.videokanal-list li.vbola .caption {background-color:rgba(50,100,0,.65);}	.videokanal-list li.vlife .caption {background-color:rgba(255,0,100,.65);}	.videokanal-list li.voto .caption {background-color:rgba(50,50,50,.65);}	.videokanal-list li.vsport .caption{background-color:rgba(255,50,0,.65);}
			.videokanal-list li a .caption span{display:block; padding:50px 10px 10px;}
			
		.videokanal-list li a:hover .caption{opacity:1;}
		
			.videokanal-list li a .upperdeck{position:absolute; top:0; left:0; font:bold 14px/28px titillium; color:#fff; padding:0 15px;}
			.videokanal-list li.vnews .upperdeck{background-color:#d82028}	.videokanal-list li.vbola .upperdeck{background-color:#390}	.videokanal-list li.vlife .upperdeck{background-color:#ff0066}	.videokanal-list li.voto .upperdeck{background-color:#333}	.videokanal-list li.vsport .upperdeck{background-color:#ff3300}
			
			.videokanal-list .overlayicon { position: absolute; z-index: 999; bottom: 0; right: 0;  width: 50px; opacity:.6; }
			.videokanal-list .overlayicon img { width: 100%; }
			
			.videokanal-list  li:hover .overlayicon , .videokanal-list  li:hover .upperdeck{display:none;}

.videotitle > a{display:block;}		
.videotitle .morelink{display:block; float:right; font-size:14px; margin-top:3px; margin-right:5px; transition:margin .2s;}		
.videotitle > a:hover .morelink{margin-right:0px;}			

.fvboxstack .caption { background-color: rgba(0, 0, 0, 0.5); color: #fff; transition: opacity .2s; position: absolute; font-weight: 600; }
.fvboxstack .caption .container { padding: 10px 60px 10px 10px; }
.fvboxstack .overlayicon { position: absolute; z-index: 999; bottom: 10px; right: 10px; opacity: .5; width: 40px; }
.fvboxstack .overlayicon img { width: 100%; }
.fvboxstack .col.w440 { width: 440px; }
.fvboxstack .col.w440 .colstack { height: 247px; }
.fvboxstack .col.w440 .colstack .caption { bottom: 0; width: 100%; font-size: 18px; }
.fvboxstack .col.w214 { width: 214px; }
.fvboxstack .col.w214 .colstack { height: 120px; }
.fvboxstack .col.w214 .colstack .caption { width: 100%; height: 100%; opacity: 0; }
.fvboxstack .col.w214 .colstack:hover .caption { opacity: 1; }
.fvboxstack .col .colstack { position: relative; margin-bottom: 8px; overflow: hidden; }
.fvboxstack .col .colstack:hover .overlayicon { opacity: 1; }

.popStack td{padding:5px;}
.popStack td img{ width:100%;}
.popStack .container{ display:block; position:relative;  }

.popStack{border:1px solid #999; border-top:0; padding:5px;}
.popStack .caption{position:absolute; width:100%; bottom:0; background-color:rgba(0,0,0,.5); font-family:titillium; color:#ddd; text-align:center; padding:10px 0; opacity:0; transition:opacity .2s;}
.popStack .caption .title{font-size:16px; font-weight:600;color:#fff;} 
.popStack .container:hover .caption{opacity:1;}

@-ms-viewport { width: device-width; }
@media screen and (max-width: 999px) { .skin-container { display: none; } }
@media print { * { background: transparent !important; color: #000 !important; box-shadow: none !important; text-shadow: none !important; }
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
  @page { margin: 0.5cm; } }

.preloader-bar{text-align:center; padding:10px 0;}

.tagbase.vbola .titlebar{border-color:#390;} .tagbase.vbola .titlebar .text{background-color:#390;}
.tagbase.vlife .titlebar{border-color:#ec008c;} .tagbase.vlife .titlebar .text{background-color:#ec008c;}
.tagbase.voto .titlebar{border-color:#333;} .tagbase.voto .titlebar .text{background-color:#333;}
.tagbase.vlog .titlebar{border-color:#92278f;} .tagbase.vlog .titlebar .text{background-color:#92278f;}
.tagbase.vforum .titlebar{border-color:#0f75bc;}.tagbase.vforum .titlebar .text{background-color:#0f75bc;} 
	
	.tagbase .taglist li{float:left; margin:0 5px 5px 0;}
		.tagbase .taglist li a{display:block; background-color:#ddd; height:30px; padding: 0 15px; font:normal 16px/30px  titillium ;}
			.tagbase .taglist li a b{font-style:italic; font-size:20px; color:#666;}

.billboard .container{position:relative;}
.billboard .container.minimized{display:none;}

.billboard .trigger_btn{display:block; height:25px; padding:0 30px 0 15px; font:bold 16px/25px titillium; color:#fff; position:absolute; top:0; left:0;  z-index:9992;}

.billboard .trigger_btn.minimize{	background:url('../img/element/min_btn.png') right center no-repeat rgba(0,0,0,.6);}
	.billboard .trigger_btn.close{	background:url('../img/element/close_btn.png') right center no-repeat rgba(0,0,0,.6);}
	
	.billboard .trigger_btn:hover{background-color:rgba(255,0,0,.6) !important;}

.otp{position:fixed; top:250px; z-index:9999999; width:100%;}
.otp .container{margin-right:auto; margin-left:auto; position:relative;}
	.otp.w600x300 .container{width:600px; height:300px;}
.otp .close_btn{display:block; height:25px; padding:0 25px 0 15px; font:bold 16px/25px titillium; color:#fff; position:absolute; top:-25px; right:0; background:url('../img/element/close_btn.png') right center no-repeat #000; z-index:999999;}
	.otp .close_btn:hover{background-color:#f00;}		
		

/*ramadan portlet*/
.ramadan-2016 .desc {height: 101px;overflow: hidden;float: left;}
.ramadan-2016 .desc .container { padding: 10px; }
.ramadan-2016 .main {float: left;height: 157px;overflow: hidden;position: relative;}
.ramadan-2016 .main .edition {position: absolute;top: 126px;left: 0;height: 30px;line-height: 30px;background-color: rgba(0, 0, 0, 0.29);color: #fff;font-size: 18px;padding: 0 10px;}
.ramadan-2016 .main .desc { position: absolute; top: 170px; width: 100%; background-color: rgba(0, 0, 0, 0.5); }
.ramadan-2016 .main .desc .title { font-size: 24px; }
.ramadan-2016 .carousel {width: 288px;position: relative;float: right;overflow: hidden;height: 157px;}
.ramadan-2016 .carousel .slider {position: absolute;top: 0;left: 0;height: 157px;}
.ramadan-2016 .carousel .slider > li {width: 348px;float: left;height: 157px;background-color:rgba(180, 187, 91, 0.51);}
.ramadan-2016 .carousel .slider > li a { display: block; background-color: #000; }
.ramadan-2016 .carousel .slider > li:nth-child(even) a { background-color: #333; }
.ramadan-2016 .carousel .navBtn {    background: url("../img/element/arrow_ki.png") no-repeat transparent;width: 35px;height: 70px;opacity: 0.75;-moz-opacity: 0.75;-webkit-opacity: 0.4;-o-opacity: 0.75;filter: alpha(opacity=75);position: absolute;z-index: 10;top: 39px;}
.ramadan-2016 .carousel .next {    background: url("../img/element/arrow_ka.png") no-repeat transparent;width: 35px;height: 70px;opacity: 0.75;-moz-opacity: 0.75;-webkit-opacity: 0.4;-o-opacity: 0.75;filter: alpha(opacity=75);position: absolute;z-index: 10;top: 39px;right: -6px;}
.ramadan-2016 .carousel .navBtn:hover { opacity: 1; -moz-opacity: 1; -webkit-opacity: 1; -o-opacity: 1; filter: alpha(opacity=100); }
.ramadan-2016 .carousel .navBtn.prev { left: 0; }
.ramadan-2016 .carousel .navBtn.next { right: -6px; }
.ramadan-2016 .title { color: #fff; font-size: 18px; font-weight: 600; padding: 5px 0; }
.ramadan-2016 .upperdeck { color: #aaa; font-weight: 600; }
.ramadan-2016 .summary { color: #fff; }
.ramadan-2016 .main {width: 280px;}
.ramadan-2016 .carousel {width: 695px;} 
.ijo {
    border-top: 3px solid rgba(76, 129, 25, 0.82);
    width: 280px;
    float: left;
}
.pic-crop {
    padding:  0px;
    position: relative;
}
.ijo-muda {
    border-top: 3px solid rgba(76, 129, 25, 0.45);
    width: 695px;
    float: right;
}
.thumbcontainer-ramadan{
    position: relative;
    overflow: hidden;
    /* width: 292px; */
    height: 157px;
}
.thumbcontainer-ramadan img, .thumbcontainer-ramadan-slide img{width:100%;}
.thumbcontainer-ramadan-slide{width: 349px;}
.picture-crop.w211 {
    width: 133px;
    height: 126px;
    /* border-bottom: 1px solid #CC0000; */
}
.picture-crop {
    float: left;
    overflow: hidden;
    position: relative;
    width: 35%;
    height: 100%;
}
.picture-crop img {
    width: 225px;
    position: absolute;
    left: -9999px;
    right: -9999px;
    margin: auto;
}
.ramadan-2016 .carousel .slider > li .list-brita {
    float: left;
    width: 189px;
    padding: 0px 14px 2px 8px;
    line-height: 25px;
    font-family: titilium;
    font-weight: 500;
}
.ramadan-2016 .carousel .jadwal-imsak {
    top: 126px;
    position: absolute;
    background-color:rgba(170, 179, 119, 0.3);
    width: 695px;
    height: 35px;
    color: #333;
    /* right: 0px; */
    /*left: 300px;*/
    z-index:9;
}
.list-brita .subkanal {
    color: #5C821D;
    margin-top: 11px;
    font-weight: 700;
}
span.jadwal-im {
    display: inline-block;
    margin: 0;
    padding: 0 20px;
    line-height: 40px;
    font-size: 20px;
    color: #FFF;
    height: 40px;
    box-sizing: border-box;
    background: #d3ac23;
}


/*ticker news*/
.ticker-container {
	height: 60px;
	width: 100%;
	text-align: center;
	position: relative;
	overflow: hidden;
	background-color:rgba(186, 184, 98, 0.46);
	color: #4c3a31;
	/*background-color: white;
	color: black;*/
	font-size: 1.1em;
	margin-bottom: 15px;
}
.ticker-container .ticker-caption {
	height: 50%;
	width: 100%;
	background-color: #EC0B43;
	display: table;
	position: absolute;
	color: white;
	font-size: 0.8em;
	z-index: 1;
}
.ticker-container .ticker-caption p {
	height: inherit;
	width: inherit;
	display: table-cell;
	vertical-align: middle;
	font-weight: bold;
}
.ticker-container ul {
	list-style: none;
	padding: 0;
	height: auto;
	    font-size: 14px;
    font-family: titilium;
    font-weight: 500;
}
.ticker-container ul div {
	overflow: hidden;
	position: absolute;
	z-index: 0;
	display: inline;
	min-width: 100%;
	left: 0;
	height: 50%;
	transition: 0.25s ease-in-out;
}
.ticker-container ul div.ticker-active {
	top: 30px;
}
.ticker-container ul div.not-active {
	top: 60px;
}
.ticker-container ul div.remove {
	top: 0;
}
.ticker-container ul div li {
	padding: 5px 0;
}
.ticker-container ul div li a {
	color: #EC0B43;
}

@media (min-width: 500px) {
	.ticker-container {
		height: 30px;
		text-align: left;
	}
	.ticker-container .ticker-caption {
		height: 100%;
		width: 150px;
		background: url('../img/element/ticker-caption-bg.png') no-repeat;
	}
	.ticker-container .ticker-caption p {
		text-align: left;
		padding-left: 7px;
	}
	.ticker-container ul {
		margin-left: 170px;
		height: 100%;
	}
	.ticker-container ul div {
		height: 100%;
		left: 170px;
	}
	.ticker-container ul div.ticker-active {
		top: 0;
	}
	.ticker-container ul div.not-active {
		top: 30px;
	}
	.ticker-container ul div.remove {
		top: -30px;
	}
}

@media (min-width: 768px) {
  .ticker-container {
    margin-bottom: 10px;
  }
}

@media (min-width: 992px) {
  .ticker-container {
    margin-bottom: 20px;
  }
}
.ticker-container .ticker-caption span {
    /* padding: 10px 12px 12px 19px; */
    padding-left: 12px;
    /* padding-top: 2px; */
    /* margin-top: 6px; */
    top: 6px;
    position: relative;
    color:#F0F0F0;
}

span.hari {
    color:#698623;
    padding: 11px;
    font-weight: 700;
}
span.subuh {
    padding: 11px;
}
span.magrib {
    background-color: #AAC24A;
    padding: 11px 25px 11px;
    color: #fff;
}

/* member */
#content #content-kanal {
    width: 663px;
    float: left;
    display: inline;
    padding-top: 30px;
}
.title-content {
    float: left;
    color: #C70607;
    font-size: 20px;
    letter-spacing: 5px;
    padding-bottom: 16px;
    padding: 10px 275px;
}
.padding5 {
    padding: 5px 0px;
    clear: both;
    font-size: 0px;
}
.login_box {
   background: #F6F6F6;
    color: #666666;
    border: 1px solid #D9D9D9;
    padding: 48px 35px 44px 60px;
    margin-bottom: 15px;
}
form {
    margin: 0;
    padding: 0;
}
.form_row {
    margin-bottom: 10px;
    text-align: left;
}
.break_abu {
    clear: both;
    height: 1px;
    background: #E6E6E6;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 0px;
}
.form_row label {
    color: #666666;
    cursor: pointer;
    display: block;
    float: left;
    font-weight: normal;
    padding: 3px 0;
    width: 150px;
}
.btn_lppassword {
    font-weight: bold;
    font-size: 11px;
    width: 72px;
    color: #606060;
    border: 1px solid #C3C3C3;
    padding: 3px;
    cursor: pointer;
    margin: 0px;
}
.inputtext, .inputpassword {
    width: 200px;
    background: #fff;
    height: 24px;
}
.center-login {
    position: relative;
    /* padding: 336px; */
    width: 663px;
    margin-left: 155px;
}
.button_red {
    font-size: 11px;
    font-weight: bold;
    font-family: Verdana, Geneva, sans-serif;
    background-color: #E02834;
    color: #FFFFFF;
    border: 1px solid #870007;
    cursor: pointer;
    padding: 5px;
}
.title-content-left {
    float: left;
    color: #C70607;
    font-size: 20px;
    letter-spacing: 5px;
    padding-bottom: 22px;
    padding: 25px 60px;
}
.login_box p {
    line-height: 21px;
    font-size:12px;
}
.info-login {
    margin-top: 50px;
}
.rul-abu{border-bottom: 1px solid #ccc;margin-top: 30px;}