/*

Theme Name: Flick

Theme URI: http://mythemeshop.com/themes/flick

Author: MyThemeShop

Author URI: http://mythemeshop.com/

Description: Flick is a media-oriented WordPress theme that is perfect for bloggers who post photographs, images, graphics and other media and need a responsive WordPress theme.

Version: 1.0

*/






#title4 a:link {color:#ffffff; text-decoration:none;}      /* unvisited link */
#title4 a:visited {color:#ffffff; text-decoration:none;}   /* visited link */
#title4 a:hover {color:#ffffff; text-decoration:none;}     /* mouse over link */
#title4 a:active {color:#ffffff; text-decoration:none;}    /* selected link */

.uploadseriesdetails{ margin-top:20px; margin-bottom:20px;}
.uploadseriesdetails label{ width:150px; float:left; margin-top:10px;}
.uploadseriesdetails input[type="text"]{width:400px; margin-top:20px;}
.uploadseriesdetails input[type="submit"]{ margin-top:20px;}

.menu4 {background-color: #fca428; width:100%;text-align:center;}
.title6 {background-color: #fc6100; width:100%;text-align:left;color:#000000;font-weight: bold;}
.menu3 {background-color: #94218a; width:100%;text-align:center;color:#ffffff;font-size:14px;}
.menu3 a:link {color:#ffffff; text-decoration:none;}      /* unvisited link */
.menu3 a:visited {color:#ffffff; text-decoration:none;}   /* visited link */
.menu3 a:hover {color:#ffffff; text-decoration:none;}     /* mouse over link */
.menu3 a:active {color:#ffffff; text-decoration:none;}    /* selected link */

.content a:link {color:#2f00c9; text-decoration:none;}      /* unvisited link */
.content a:visited {color:#2f00c9; text-decoration:none;}   /* visited link */
.content a:hover {color:#2f00c9; text-decoration:underline;}     /* mouse over link */
.content a:active {color:#2f00c9; text-decoration:none;}    /* selected link */

.genre{
	font-size: 12px;
	width:80px;
	text-align:center;
	padding-top:4px;
	padding-bottom:4px;
	display:block;
	float:left;
	text-decoration:none;
	border:1px solid black;
	margin-right:4px;
	color: #767BB5;
	font-family: Verdana;
	background-color:#edeaf5;
	margin-bottom:4px;
}
.genre:hover{
	background-color:#FFFFFF;
}

gnr {

    background-color: #0068a3;

    border-bottom-left-radius: 3px;

    border-bottom-right-radius: 3px;

    border-top-left-radius: 3px;

    border-top-right-radius: 3px;

    color: #FFFFFF;

    display: inline-block;

    font-size: 12px;

    font-weight: bold;

    margin-right: 5px;

    margin-top: 5px;

    padding-bottom: 1px;

    padding-left: 10px;

    padding-right: 10px;

    padding-top: 1px;

    text-align: center;

    width: auto;

    text-decoration: none;

}



gnr2 {

    background-color: red;

    border-bottom-left-radius: 3px;

    border-bottom-right-radius: 3px;

    border-top-left-radius: 3px;

    border-top-right-radius: 3px;

    color: #FFFFFF;

    display: inline-block;

    font-size: 14px;

    font-weight: bold;

    margin-right: 10px;

    margin-top: 10px;

    padding-bottom: 3px;

    padding-left: 10px;

    padding-right: 10px;

    padding-top: 3px;

    text-align: center;

    width: auto;

    text-decoration: none;

}



.divh {min-height:350px;}

title2{font-weight: bold;}

gnrs{font-weight: bold;}

rlsd{font-weight: bold;}

dscr{font-weight: bold;}

.img3 { 

float: left;

margin-right: 18px;

margin-bottom: 5px;

width: 180px;

}



html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {

    margin: 0;

    padding: 0;

    border: 0;

    font-size: 100%;

    font: inherit;

    vertical-align: baseline;

}

html {

    overflow-x: hidden;

    -webkit-font-smoothing: antialiased;

}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block }

ol, ul { list-style: none }

blockquote, q { quotes: none }

blockquote:before, blockquote:after, q:before, q:after {

    content: '';

    content: none;

}

table {

    border-collapse: collapse;

    border-spacing: 0;

}

button, input, select, textarea { margin: 0 }

:focus { outline: 0 }

a:link { -webkit-tap-highlight-color: #FF5E99 }

img, video, object, embed {

   

}

iframe { max-width: 100% }

blockquote {

    font-style: italic;

    font-weight: normal;

    font-family: Georgia,Serif;

    font-size: 15px;

    padding: 0 10px 20px 27px;

    position: relative;

    margin-top: 25px;

}

blockquote:after {

    position: absolute;

    content: '"';

    font-size: 40px;

    color: #D0D9E0;

    width: 50px;

    top: -5px;

    left: 0;

    font-family: arial;

}

blockquote p { margin-bottom: 10px }

strong, b { font-weight: bold }

em, i, cite {

    font-style: italic;

    font-family: georgia;

}

small { font-size: 100% }

figure { margin: 10px 0 }

code, pre {

    font-family: monospace,consolas,sans-serif;

    font-weight: normal;

    font-style: normal;

}

pre {

    margin: 5px 0 20px 0;

    line-height: 1.3em;

    padding: 8px 10px;

    overflow: auto;

}

code {

    padding: 0 8px;

    line-height: 1.5;

}

mark {

    padding: 1px 6px;

    margin: 0 2px;

    color: black;

    background: #FFD700;

}

address { margin: 10px 0 }

.wp-caption {

    background: #fff;

    border: 1px solid #f0f0f0;

    max-width: 96%;

    padding: 5px 3px 10px;

    text-align: center;

}

.sticky { }

.gallery-caption { }

.bypostauthor { }

.wp-caption-text { }

/*-[ Framework ]--------------------*/

body {

    font: 14px/23px arial, sans-serif;

    color: #555;

    background-color: #EBEBEB;

}

::-moz-selection {

    background: #222;

    color: white;

    text-shadow: none;

}

::selection {

    background: #222;

    color: white;

    text-shadow: none;

}

#page, .container {

    position: relative;

    margin-right: auto;

    margin-left: auto;

    overflow: hidden;

}

h1, h2, h3, h4, h5, h6 {

    font-weight: bold;

    margin-bottom: 12px;

    color: #444;

}

h1 {

    font-size: 24px;

    line-height: 1.4;

}

h2 {

    font-size: 24px;

    line-height: 1.4;

}

h3 {

    font-size: 22px;

    line-height: 1.4;

}

h4 {

    font-size: 20px;

    line-height: 1.4;

}

h5 {

    font-size: 18px;

    line-height: 1.4;

}

h6 {

    font-size: 16px;

    line-height: 1.4;

}

.sub-title { font-size: 12px }

p { margin-bottom: 20px }

a {

    text-decoration: none;

    color: #627f9f;

    -webkit-transition: background-color, color 0.2s linear;

    -moz-transition: background-color, color 0.2s linear;

    transition: background-color, color 0.2s linear;

}

a:hover { color: #627f9f }

a:link, a:visited, a:active { text-decoration: none }

/*-[ Main container ]---------------*/

.main-container {

    background: #fff;

    clear: both;

    width: 1000px;

    margin: 0 auto;

    padding: 0;

    max-width: 100%;

}

#page, .container {

    max-width: 1000px;

    min-width: 240px;

    overflow: visible;

}

#page {

    padding-top: 20px;

    min-height: 500px;

    float: none;

    clear: both;

    overflow: hidden;

    background: #fff;

    float: left;

    width: 100%;

    margin-top: 20px;

}

/*-[ Header ]-----------------------*/

body > header {

    float: left;

    width: 100%;

    position: relative;

}

.main-header {

    position: relative;

    float: left;

    width: 100%;

    z-index: 99;

}

#header {

    position: relative;

    float: left;

    margin: 0;

    padding: 0;

    height: 40px;

    margin-left: 2%;

}

#header h1, #header h2 {

    font-size: 26px;

    float: left;

    display: inline-block;

    line-height: 26px;

    margin: 10px 0 0 0;

}

#logo a {

    color: #fff;

    text-transform: uppercase;

}

.image-logo { margin-top: 0!important }

.widget.widget-header {

    margin-bottom: 0;

    float: left;

    width: 100%;

    list-style: none;

    margin-top: 45px;

}

.top-ad { text-align: center }

/*-[ Navigation ]-----------------*/

.secondary-navigation .children li .sf-sub-indicator { display: none }

.secondary-navigation {

    min-height: 49px;

    width: 100%;

}

.secondary-navigation a {

    font-size: 14px;

    color: #fff;

    font-weight: 400;

    text-align: left;

    text-decoration: none;

    padding: 13px 25px 13px 25px;

    text-transform: uppercase;

    -webkit-transition: background-color 0.2s linear;

    -moz-transition: background-color 0.2s linear;

    transition: background-color 0.2s linear;

}

.secondary-navigation a:hover {

    background: #627f9f;

    color: #fff;

}

.secondary-navigation a .sub {

    font-size: 11px;

    font-weight: normal;

    color: #9B9B9B;

}

.sf-js-enabled li a.sf-with-ul { }

.sf-js-enabled li  ul.sf-with-ul { padding-right: 20px }

#navigation .sf-sub-indicator {

    display: block;

    width: 11px;

    overflow: hidden;

    position: absolute;

    right: 11px;

    top: 12px;

}

#navigation ul ul .sf-sub-indicator { top: 8px }

#navigation {

    margin: 0 auto 0;

    font-size: 13px;

    position: relative;

    width: 960px;

    : ;

}

#navigation select { display: none }

#navigation ul { margin: 0 auto }

#navigation .menu {

    width: auto;

    float: right;

    position: absolute;

    right: 0;

}

#navigation ul li {

    float: left;

    position: relative;

}

#navigation ul .header-search { float: right }

#navigation > ul > li:last-child { border-right: none }

#navigation ul li a, #navigation ul li a:link, #navigation ul li a:visited {

    overflow: hidden;

    display: block;

}

#navigation > ul > .current a {

    background: transparent;

    color: #5a5a5a !important;

}

#navigation ul li li {

    background: #fff;

    border-left: 1px solid #DADADA;

    border-right: 1px solid #DADADA;

    border-bottom: 0;

}

#navigation ul ul {

    position: absolute;

    width: 192px;

    padding: 20px 0 0 0;

    padding-top: 1px;

    z-index: 400;

    font-size: 12px;

    color: #5B83A7;

    border-bottom: 1px solid #DADADA;

}

#navigation ul ul ul { padding-top: 0 }

#navigation ul ul li { padding: 0 }

#navigation ul ul a, #navigation ul ul a:link, #navigation ul ul a:visited {

    padding: 6px 20px !important;

    position: relative;

    width: 150px;

    border-left: 0;

    background: transparent;

    border-right: 0;

    border-bottom: 1px solid   rgba(255, 255, 255, 0.05);

    color: #444;

    margin: 0;

}

#navigation ul ul a:hover {

    background: #6A8BAF;

    color: #fff;

}

#navigation ul ul li:first-child a { }

#navigation ul ul li:last-child a { border-bottom: none }

#navigation ul ul {

    opacity: 0;

    left: -999em;

}

#navigation ul li:hover ul {

    left: auto;

    opacity: 1;

}

#navigation ul ul ul { top: -1px }

#navigation li:hover ul ul, #navigation li:hover ul ul ul, #navigation li:hover ul ul ul ul {

    left: -999em;

    opacity: 0;

    border-top: 1px solid #EEE;

}

#navigation li:hover ul, #navigation li li:hover ul, #navigation li li li:hover ul, #navigation li li li li:hover ul {

    opacity: 1;

    left: 190px;

}

/*-[ Content ]--------------------*/
.article {
    width: 62.5%;
    float: left;
    margin-bottom: 10px;
    padding: 0 3% 0 2%;
}
#content_box {
    float: left;
    width: 100%;
}
#content { overflow: hidden }
.post {
    float: left;
    width: 100%;
}
.single_post {
    background-color: #fff;
    border-bottom: 1px solid #DADADA;
    padding-bottom: 10px;
    width: 100%;
    overflow: hidden;
}
.single_page {
    background-color: white;
    padding-top: 0;
}
.single-thumbnail {
    clear: both;
    margin-bottom: 20px;
    overflow: hidden;
}
.single-thumbnail img { width: 100% }
.post-content { display: none }
.single .post-content { display: block }
.post.excerpt:hover .post-content {
    color: #fff;
    display: block;
    padding: 10px 15px;
    text-align: justify;
}
.post-single-content {
    font-size: 14px;
    line-height: 22px;
}
.readMore {
    display: none;
    float: right;
    color: #7B7A79;
}
.readMore a {
    background: #4c6077;
    color: #fff;
    padding: 5px 10px;
    display: block;
}
.post.excerpt:hover .readMore {
    display: block;
    margin-right: 30px;
}
.readMore a:hover { color: #fff }
.ss-full-width {
    background: white;
    padding: 20px;
    overflow: hidden;
    padding-top: 0;
}
.ss-full-width #content_box {
    padding-right: 0;
    padding-left: 0;
}
.post.excerpt:hover .featured-thumbnail img { opacity: 0.1 }
.post.excerpt {
    margin-bottom: 30px;
    margin-right: 4%;
    float: left;
    position: relative;

    overflow: hidden;
    max-width: 190px;
    width: 48%;
}
.post.excerpt.last { float: right }
.post.excerpt:hover { background-color: #6a8baf }
.post.excerpt:hover .post-info { display: none }
.post.excerpt:hover header, .post.excerpt:hover header {
    width: 100%;
    left: 0;
    top: 15%;
}
.post.excerpt:hover header .title, .post.excerpt:hover header .title {
    background: #4c6077;
    text-align: center;
}
.wp-post-image { float: left }
.featured-thumbnail {
    float: left;
    max-width: 100%;
    max-height: 280px;
}
#featured-thumbnail {
    float: left;
    max-width: 300px;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.featured-thumbnail img {
    margin-bottom: 0;
    width: 100%;
}
.title {
    margin-bottom: 5px;
    font-size: 18px;
    line-height: 1.2;
    clear: both;
}
.title a { color: #fff }
.title a:hover { color: #fff }
.page h1.title {
    margin-bottom: 20px;
    padding-top: 0;
}
.single .post-info {
    display: block;
    font-size: 13px;
    line-height: 18px;
    color: #777;
    float: left;
    clear: both;
    width: 100%;
    background: none;
    padding: 0;
}
.home .post-info, .archive .post-info {
    width: auto;
    margin-top: 2px;
}
article header {
    position: absolute;
    left: 10%;
    top: 30%;
    width: 80%;
}
.single article header .title {
    background: none;
    color: #444;
    float: left;
    padding: 0 0 0 0;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
}
article header .title, article header .post-info {
    background: #ffffff;
    color: #fff;
    padding: 5px 6px;
    font-weight: normal;
}
.single article header {
    margin-bottom: 15px;
    float: left;
    width: 100%;
    position: relative;
    left: 0;
}
.single .ss-full-width header { margin-bottom: 0 }
.post-info a { color: #ddd }
.post-info a:hover { color: #ddd }
 
.article ul {
    margin: 0.5em 0 0.571em 1.9em;
    list-style-image: url('images/triangle_bullet.gif');
}
.article ol {
    margin: 0.5em 0 0.571em 1.9em;
    list-style-type: decimal;
}

/*-[ Tab widget ]------------------------------*/

#tabber {

    display: block;

    height: auto;

    margin: 0;

    overflow: hidden;

    background-color: #FFF;

}

#tabber .inside {

    background: #fff;

    padding: 5px 15px 5px 15px;

    margin-top: 0;

    border: 1px solid #DADADA;

    border-top: none;

}

#tabber ul.tabs {

    overflow: hidden;

    height: 40px;

    text-align: center;

}

#tabber ul.tabs li {

    background: none;

    float: left;

    display: inline;

    font-size: 14px;

    font-weight: bold;

    cursor: pointer;

    border-bottom: none;

    width: 50%;

    text-align: center;

    margin-left: 0;

}

#tabber ul.tabs li a {

    background: #fff;

    color: #555;

    display: block;

    float: left;

    margin: 0;

    text-align: center;

    padding: 10px 0 9px;

    line-height: 1.4;

    width: 100%;

    border-bottom: 1px solid #DADADA;

    text-transform: uppercase;

}

#tabber ul.tabs li a.selected {

    background: #fff;

    margin: 0;

    color: #333;

    text-decoration: none;

    line-height: 1.4;

    text-align: center;

    border: 1px solid #DADADA;

    border-bottom: none;

    width: 98%;

}

#tabber ul.tabs li.tab-recent-posts a {

    margin: 0;

    text-align: center;

    width: 100%;

}

#tabber ul.tabs li.tab-recent-posts a.selected {

    background: #fff;

    border-bottom: none;

    width: 98.8%;

}

#tabber ul.tabs li a:hover {

    color: #000;

    text-decoration: none;

}

#tabber .inside li {

    list-style: none;

    padding: 13px 0 13px 0;

    margin-left: 0;

    margin-bottom: 0;

}

#tabber .inside li a { line-height: 18px }

#tabber .inside li div.info {

    display: table;

    top: 0px !important;

    margin: 0px !important;

    padding: 0px !important;

}

#tabber .inside li div.info .entry-title {

    margin-bottom: 0;

    font-weight: 400;

}

#tabber .inside li .meta {

    display: block;

    font-size: 13px;

    color: #999;

}

#tabber .tab-thumb {

    border: 1px solid #f0f0f0;

    padding: 4px;

    background: #fff;

    float: left;

    display: inline;

    margin: 0px 12px 0px 0px;

}

.post-number {

    position: relative;

    width: 22px;

    height: 22px;

    text-align: center;

    line-height: 23px;

    font-weight: bold;

    color: #fff;

    bottom: 22px;

    background: #2DB2EB;

}

#tabber .inside .tabsSep {

    margin-top: 7px;

    width: 100%;

    height: 1px;

    background-color: #e8e5de;

    clear: both;

    float: left;

}

/*-[ Tweets Widget ]---------------------------*/

.tweets li { margin-bottom: 15px!important }

.twitter-follow {

    background: url(images/small_twitter.png) no-repeat center left;

    padding: 5px 0 5px 20px;

    float: right;

}

/*-[ Form Input ]------------------*/

input, textarea, select {

    padding: 8px 12px;

    font-size: 12px;

    color: #969696;

}

textarea {

    overflow: auto;

    resize: vertical;

}

select { padding: 12px 20px }

input:focus, textarea:focus { }

::-webkit-input-placeholder {

    color: #585F65;

    text-shadow: 0 1px 1px rgba(255,255,255,0.4);

}

::-moz-input-placeholder {

    color: #585F65;

    text-shadow: 0 1px 1px rgba(255,255,255,0.4);

}

::-ie-input-placeholder {

    color: #585F65;

    text-shadow: 0 1px 1px rgba(255,255,255,0.4);

}

::-o-input-placeholder {

    color: #585F65;

    text-shadow: 0 1px 1px rgba(255,255,255,0.4);

}

::input-placeholder {

    color: #585F65;

    text-shadow: 0 1px 1px rgba(255,255,255,0.4);

}

/*-[ Tables ]--------------------*/

table {

    width: 100%;

    text-align: left;

    margin-bottom: 25px;

    border: 2px solid #F1F4F6;

}

thead {

    background: #F7F8F9;

    font-size: 14px;

    color: #585F65;

}

table th, table td {

    padding: 7px 15px;

    text-align: left;

}

thead th { padding: 14px }

tbody th {

    font-weight: normal;

    border-bottom: 1px solid #F5F7F9;

}

/*-[ Line ]---------------------*/

hr {

    border: none;

    border-bottom: 1px solid #E5E5E5;

    border-bottom: 1px solid rgba(0,0,0,0.1);

    width: 297px;

    margin: 35px 0;

    clear: both;

    position: relative;

}

/*-[ Search Form ]------------------*/

#searchform {

    padding: 0;

    float: left;

    clear: both;

    width: 100%;

}

nav #searchform { float: right }

nav #searchform fieldset {

    padding: 5px 0 5px 15px;

    border: 0;

    border-left: 1px solid #eee;

}

#searchform fieldset { float: left }

#searchform input { border: 0 }

#searchform #search-image {

    background: #6A8BAF;

    color: #fff;

    height: 31px;

    padding: 7px 0;

    cursor: pointer;

    width: 29.4%;

    -webkit-transition: all 0.25s linear;

    -moz-transition: all 0.25s linear;

    transition: all 0.25s linear;

}

#searchform #search-image:hover {

    background: #222;

    color: #fff;

}

.sbutton {

    padding: 8px 12px 10px 12px;

    border: 1px solid #e8e5de!important;

}

.main-header #s { width: 150px }

.sidebar #s {

    width: 70%;

    background-color: #fff;

    border: 1px solid #DADADA;

    border-right: none;

    float: left;

    padding: 7px 0;

    text-indent: 10px;

}

.footer-widgets fieldset, #sidebars fieldset { width: 100% }

.footer-widgets #s {

    border: 1px solid #e0e0e0;

    border-right: none;

    width: 60%;

    float: left;

    padding: 7px 12px;

}

.footer-widgets .sbutton, #sidebars .sbutton {

    float: right;

    background-color: #f9f7f2;

    text-align: center;

}

.sidebar .sbutton { padding-top: 10px }

.breadcrumb {

    margin-bottom: 10px;

    line-height: 24px;

}

/*-[ Read More ]-------------------*/

.read-more {

    margin: 0 0 0 10px;

    line-height: 1.4em;

    background: none;

    padding: 0;

    font-size: 16px;

}

/*-[ Top Ad in Post ]-------------------------------------*/

.topad {

    margin-bottom: 10px;

    clear: both;

}

/*-[ Bottom Ad in post ]-----------*/

.bottomad {

    float: left;

    clear: both;

}

/*-[ Sidebar ]---------------------*/

#sidebars p { line-height: 20px }

.sidebar.c-4-12 {

    float: right;

    width: 30%;

    padding-right: 2%;

    line-height: 20px;

    max-width: 300px;

}

.sidebar.c-4-12 a { color: #555 }

.widget {

    margin-bottom: 27px;

    overflow: hidden;

}

.widget .title {

    font-weight: bold;

    text-transform: uppercase;

    color: #545E68;

    font-size: 12px;

}

.widget li {

    list-style-type: square;

    padding-bottom: 7px;

    margin-bottom: 7px;

    border-bottom: 1px solid #DADADA;

    margin-left: 17px;

    -webkit-transition: all 0.25s linear;

    -moz-transition: all 0.25s linear;

    transition: all 0.25s linear;

}

.widget li:hover { margin-left: 25px }

.widget h3 {

    font-size: 16px;

    line-height: 16px;

    margin: 5px 0 20px 0;

    font-weight: normal;

}

.sidebar .widget h3 {

    background: #acc1d3;

    line-height: 10px;

    background-position: left center;

}

.sidebar .widget h3 span {

    background: #fff;

    padding-right: 15px;

}

.widget .advanced-recent-posts li, .widget .popular-posts li, .widget .category-posts li {

    list-style: none!important;

    margin: 0;

    overflow: hidden;

    -webkit-transition: all 0.25s linear;

    -moz-transition: all 0.25s linear;

    transition: all 0.25s linear;

    color: #aaa;

    padding-left: 0;

    background: none;

    margin-bottom: 10px;

    padding-bottom: 12px;

}

.widget .advanced-recent-posts li:hover, .widget .popular-posts li:hover, .widget .category-posts li:hover { margin-left: 15px }

.advanced-recent-posts p, .popular-posts p, .category-posts p { margin: 0 }

.category-posts a, .advanced-recent-posts a { display: block }

.popular-posts time {

    display: block;

    font-size: 13px;

}



.tags {

    margin: 20px 0 0 0;

    width: 100%;

    float: left;

}

.tags a { margin-left: 5px }

.postauthor {

    margin: 30px 0 0px 0;

    padding: 0;

    border-bottom: 1px solid #DADADA;

    padding-bottom: 30px;

    min-height: 125px;

    background-color: #fff;

    float: left;

    clear: both;

    width: 100%;

}

.postauthor h4 {

    font-weight: bold;

    font-size: 20px;

}

.postauthor h5 {

    font-weight: bold;

    font-size: 14px;

    padding: 0;

    margin: 0;

    line-height: 24px;

}

.postauthor img {

    float: left;

    margin: 5px 25px 15px 0;

}

.postauthor h4 a { color: #473636 }

.clear { clear: both }

.left { float: left }

.right { float: right }

.last { margin-right: 0 !important }



/*-[ pagination ]------------------*/

.pagination {

    clear: both;

    overflow: hidden;

    float: left;

    width: 100%;

    font-family: arial;

    background-color: #FFF;

    padding: 2.8% 0 6.4%;

}

.pagination ul {

    list-style: none;

    margin: 0;

}

.pagination ul li { float: left }

.currenttext, .pagination a:hover {

    color: #fff;

    margin: 0 10px 0 0;

    display: inline-block;

    float: left;

    line-height: 1.2em;

    text-decoration: none;

    padding: 7px 11px;

    background: #5a83a8;

}

.pagination a {

    margin: 0 10px 0 0;

    display: inline-block;

    border: 1px solid #5a83a8;

    float: left;

    line-height: 1.2em;

    text-decoration: none;

    color: #5a83a8;

    padding: 6px 10px;

    -webkit-transition: all 0.25s linear;

    -moz-transition: all 0.25s linear;

    transition: all 0.25s linear;

}

.pagination a:hover {

    color: #fff;

    padding: 6px 10px;

}

.top { float: right }

.pnavigation2 {

    display: block;

    width: 100%;

    overflow: hidden;

    padding: 10px 0;

    float: left;

    margin-bottom: 10px;

}

.nav-previous { float: left }

.nav-next { float: right }

/*-----------------------------------------------

/* Shortcodes

/*---------------------------------------------*/

/*-[ Notifications ]---------------------------*/

.message_box { margin: 15px 0 }

pre {

    overflow: auto;

    background: #F7F7F7 url('images/code.png') 10px 2px no-repeat;

    padding: 2em 1em 1em 1em;

    border: 1px solid #DDD;

    margin: 15px 0;

}

.note {

    background: #FEF4C8;

    color: #666;

    border: 1px solid #FDEBA5;

}

.note p {

    padding: 0.5em 1em 0.5em 2.5em;

    background: url('images/thumb.png') left no-repeat;

    margin: 0.3em 0.8em;

}

.announce {

    background: #D7EFFB;

    color: #666;

    border: 1px solid #BEE5F8;

}

.announce p {

    padding: 0.5em 1em 0.5em 2.5em;

    background: url('images/speaker.png') left no-repeat;

    margin: 0.3em 0.8em;

}

.success {

    background: #E8F6D2;

    color: #666;

    border: 1px solid #DEF1BF;

}

.success p {

    padding: 0.5em 1em 0.5em 2.5em;

    background: url('images/tick.png') left no-repeat;

    margin: 0.3em 0.8em;

}

.warning {

    background: #FFE7E7;

    color: #666;

    border: 1px solid #FFDBDB;

}

.warning p {

    padding: 0.5em 1em 0.5em 2.5em;

    background: url('images/cross.png') left no-repeat;

    margin: 0.3em 0.8em;

}



/*-[ Video Shortcode ]-------------------------*/

.textwidget .youtube-video, .textwidget .vimeo-video, .textwidget .googlemaps { margin: 0 }

.youtube-video, .vimeo-video { margin: 10px 0 10px 0 }

/*-[ Google Maps ]-----------------------------*/

.googlemaps { margin: 5px 15px 10px 0 }

/*-[ Columns ]---------------------------------*/

.one_half { width: 48% }

.one_third { width: 30.66% }

.two_third { width: 65.33% }

.one_fourth { width: 22% }

.three_fourth { width: 74% }

.one_fifth { width: 16.8% }

.two_fifth { width: 37.6% }

.three_fifth { width: 58.4% }

.four_fifth { width: 67.2% }

.one_sixth { width: 13.33% }

.five_sixth { width: 82.67% }

.one_half, .one_third, .two_third, .three_fourth, .one_fourth, .one_fifth, .two_fifth, .three_fifth, .four_fifth, .one_sixth, .five_sixth {

    position: relative;

    margin-right: 4%;

    margin-bottom: 15px;

    float: left;

}

.column-last {

    margin-right: 0!important;

    clear: right;

}

/*-[ Tabs ]------------------------------------*/

.tab_widget {

    display: block;

    position: relative;

    margin: 0 0 20px 0;

}

.tab_widget ul.tabs {

    display: block;

    position: relative;

    list-style: none;

    height: 40px;

    border-bottom: 1px solid #DDD;

    margin: 0;

}

.tab_widget ul.tabs li {

    float: left;

    margin: 0;

    padding: 0;

    height: 39px;

    line-height: 39px;

    border: 1px solid #DDD;

    border-left: none;

    margin-bottom: -1px;

    overflow: hidden;

    position: relative;

    background-image: linear-gradient(bottom, rgb(230,230,230) 9%, rgb(238,238,238) 55%);

    background-image: -o-linear-gradient(bottom, rgb(230,230,230) 9%, rgb(238,238,238) 55%);

    background-image: -moz-linear-gradient(bottom, rgb(230,230,230) 9%, rgb(238,238,238) 55%);

    background-image: -webkit-linear-gradient(bottom, rgb(230,230,230) 9%, rgb(238,238,238) 55%);

    background-image: -ms-linear-gradient(bottom, rgb(230,230,230) 9%, rgb(238,238,238) 55%);

    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.09, rgb(230,230,230)), color-stop(0.55, rgb(238,238,238)) );

}

.tab_widget ul.tabs li:first-child { border-left: 1px solid #DDD }

.tab_widget ul.tabs li a {

    text-decoration: none;

    color: #888!important;

    font-size: 12px;

    display: block;

    padding: 0 10px;

    outline: none;

    font-weight: bold;

    text-shadow: 1px 1px 1px #FFF;

    border: none;

    border-left: 1px solid #F9F9F9;

}

.tab_widget ul.tabs li:first-child a { border-left: none }

.tab_widget ul.tabs li a:hover { background: none }

.tab_widget ul.tabs li.active, .tab_widget ul.tabs li.active a:hover {

    background: #FFF;

    border-bottom: 1px solid #FFF;

}

.tab_widget ul.tabs li.active { border-top: 1px solid #DDD }

.tab_widget ul.tabs li.active a { color: #777 }

.tab_widget .tab_container {

    display: block;

    border-top: none;

    overflow: hidden;

    position: relative;

    clear: both;

    background: #FFF;

    border: 1px solid #DDD;

    border-top: none;

}

.tab_widget .tab_content {

    display: block;

    position: relative;

    padding: 15px;

}


/*-[ Dividers ]--------------------------------*/

.divider {

    clear: both;

    display: block;

    padding-top: 20px;

    width: 100%;

    margin-bottom: 10px;

    text-align: right;

    padding-bottom: 5px;

    border-bottom: 5px solid #EEE;

}

.top-of-page {

    margin-bottom: 10px;

    text-align: right;

    padding-bottom: 5px;

    border-bottom: 5px solid #EEE;

}

/*-----------------------------------------------

/* Responsive

/*---------------------------------------------*/

@media screen and (max-width:1150px) { 

    .shareit {

        position: relative!important;

        width: 100%!important;

        top: 0!important;

        margin: 0!important;

        padding-top: 10px!important;

    }

}

@media screen and (max-width:960px) { 

    .main-header .container { max-width: 96% }

    #page, .container { max-width: 100% }

    .post.excerpt:hover .post-content {

        max-height: 63px;

        overflow: hidden;

    }

    .related-posts li { margin-right: 10px }

    img, embed {

        max-width: 100%;

        height: auto!important;

    }

    .ad-300 img { max-width: 100% }

    .ad-125 li { max-width: 40% }

    .ad-125 img {

        padding: 0;

        background: #FAFAFA;

        border: 0;

    }

    .mts-subscribe input[type="text"] { width: 70% }

}

@media screen and (max-width:900px) { 

    .widget-header { max-width: 70% }

    nav #searchform { display: none }

}

@media screen and (max-width:865px) { 

    .secondary-navigation {

        width: 40%;

        float: right;

    }

    #navigation { width: 100% }

    #navigation ul {

        float: none;

        display: inline-block;

    }

    .js #navigation > ul { display: none }

    .js #navigation select {

        display: inline-block !important;

        max-width: none;

        padding: 7px 15px;

        width: 100%;

        color: #fff;

        background: #4E4E4E;

        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);

        font-size: 12px;

        margin-top: 8px;

        float: right;

        border: 1px solid #3D3D3D;

    }

    .post.excerpt:hover .post-content { display: none }

    .post.excerpt:hover .readMore { margin-top: 15px }

}

@media screen and (max-width:760px) { 

    #header { margin: 0 }

    .footer-widgets #s, #sidebars #s { width: 63% }

}

@media screen and (max-width:720px) { 

    .secondary-navigation a {

        padding-top: 10px!important;

        padding-bottom: 10px!important;

    }

    .article { width: 96% }

    #content_box {

        padding-right: 0px;

        padding-left: 0px!important;

    }

    .sidebar.c-4-12 {

        float: left;

        width: 94%;

        padding-left: 2%;

        padding-right: 2%;

    }

    .f-widget { width: 44% }

    .f-widget-2 { margin-right: 0 }

    .ad-125 li { max-width: 45% }

    .footer-widgets #s { width: 70% }

    #comments { margin-right: 0 }

    .post.excerpt:hover .post-content {

        display: block;

        max-height: 100%;

    }

    .post.excerpt:hover .readMore { margin-top: 0 }

}

@media screen and (max-width:600px) { 

    .widget-header {

        max-width: 96%;

        float: left;

    }

    .featured-thumbnail img { width: 100% }

    .post.excerpt:hover .post-content { max-height: 63px }

}

@media screen and (max-width:550px) { 

    .main-header #s { width: 85% }

    .sbutton { float: right }

    .f-widget { width: 95% }

    footer #s { width: 65% }

    .post.excerpt:hover .readMore { margin-top: 15px }

    .post.excerpt:hover .post-content { display: none }

}

@media screen and (max-width:480px) { 

    #navigation {

        margin-top: 0;

        margin-bottom: 0;

    }

    #header, #header h1, #header h2 {

        width: 100%;

        text-align: center;

        margin-left: 0;

        margin-bottom: 10px;

    }

    .secondary-navigation {

        width: 102%;

        height: 35px;

    }

    .js #navigation select {

        width: 98%;

        margin-right: 0;

    }

    .title { font-size: 16px }

    .home article header .post-info, .archive article header .post-info { display: none }

    .related-posts li { width: 100% }

    .one_half, .one_third, .two_third, .three_fourth, .one_fourth, .one_fifth, .two_fifth, .three_fifth, .four_fifth, .one_sixth, .five_sixth {

        width: 100%;

        margin-right: 0;

    }

}

@media screen and (max-width:400px) { 

    article header {

        overflow: hidden;

        width: 100%;

        left: 0;

    }

    .slidertext {

        font-size: 14px!important;

        line-height: 2.2!important;

    }

    .main-header #s { width: 78% }

    #commentform textarea { width: 90% }

}

@media screen and (max-width:360px) { 

    .title { font-size: 14px }

    .post.excerpt:hover .readMore { display: none }

}

@media screen and (max-width:300px) { 

    nav fieldset, .js #navigation select {

        width: 100%;

        float: left;

    }

    .main-header #s { width: 70% }

}

.uploadchannel{ float:right;}
.myacountlinks h3{font-weight:normal; font-size:16px; }
tbody th,td{ border:2px solid #CCCCCC!important; text-align:none!important;text-align:center;}


#mybox input[type="button"] {
    background: none repeat scroll 0 0 #0068a3;
    border: medium none;
    border-radius: 2px;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    height: 25px;
    margin: 0;
    padding-top: 5px;
    width: 77px;
}
#mybox input[type="submit"] {
    background: none repeat scroll 0 0 #0068a3;
    border: medium none;
    border-radius: 5px;
    box-shadow: none;
    color: #fff;
    font-weight: bold;
    height: 30px;
    margin: 0;
    padding-top: 5px;
    width: 90px;
	cursor:pointer;
}
.totalhost{float:left;}
.mytotalhost{ overflow:hidden; margin-bottom:20px;} 
.single_post{ border-bottom:none;}
.totalhost select{ margin:5px; padding:5px; float:left;}
.totalhost input[type="checkbox"]{ margin-top:18px; float:left}
.totalhost span {
    color: #0068a3;
    float: left;
    margin-left: 2px;
    margin-top: 12px;
}
table.alternate_color tr:nth-of-type(odd) {
background-color:#ffffff;
}
table.alternate_color tr:nth-of-type(even) {
background-color:#f4f4f4;
}
.navlinks {
    border: 2px solid #cccccc;
    overflow: hidden;
    padding: 5px;
margin-top : 20px;
}
table.variousfont{font-size:11px;}

th.views{ background:url('./images/index.gif') 42px 15px no-repeat; cursor:pointer;}
th.viewsasc{ background:url('./images/asc.gif') 42px 17px no-repeat; cursor:pointer;}
th.viewsdesc{ background:url('./images/desc.gif') 42px 17px no-repeat; cursor:pointer;}
th.rating{ background:url('./images/index.gif') 53px 15px no-repeat;cursor:pointer;}
th.ratingasc{ background:url('./images/asc.gif') 53px 17px no-repeat;cursor:pointer;}
th.ratingdesc{ background:url('./images/desc.gif') 53px 17px no-repeat;cursor:pointer;}
th.age{ background:url('./images/index.gif') 42px 15px no-repeat;cursor:pointer;}
th.ageasc{ background:url('./images/asc.gif') 42px 17px no-repeat;cursor:pointer;}
th.agedesc{ background:url('./images/desc.gif') 42px 17px no-repeat;cursor:pointer;}



th.affviews{ background:url('./images/index.gif') 63px 15px no-repeat; cursor:pointer;}
th.affviewsasc{ background:url('./images/asc.gif') 63px 17px no-repeat; cursor:pointer;}
th.affviewsdesc{ background:url('./images/desc.gif') 63px 17px no-repeat; cursor:pointer;}
th.affrating{ background:url('./images/index.gif') 85px 15px no-repeat;cursor:pointer;}
th.affratingasc{ background:url('./images/asc.gif') 85px 17px no-repeat;cursor:pointer;}
th.affratingdesc{ background:url('./images/desc.gif') 85px 17px no-repeat;cursor:pointer;}
th.affage{ background:url('./images/index.gif') 63px 15px no-repeat;cursor:pointer;}
th.affageasc{ background:url('./images/asc.gif') 63px 17px no-repeat;cursor:pointer;}
th.affagedesc{ background:url('./images/desc.gif') 63px 17px no-repeat;cursor:pointer;}


.totalhost span {
    color: #0068a3;
    float: left;
    margin-left: 2px;
    margin-top: 12px;
}

.totalhost select {
    float: left;
    margin: 5px;
    padding: 5px;
}
#mybox   input.requestpayment[type="button"] {width: 100px;} 
.requestwindow {display:none;}
.shownot {}

.column2{width:340px;float:left;min-height:20px;}
.column2 ul li  {
    font-size: 13px;
    height: auto;
    width: 310px !important;
	border-bottom: 1px dotted rgb(128, 119, 119);
    height: auto;
}

.column3{width:205px;float:left;min-height:220px;}
.column3 ul li  {
    font-size: 13px;
    height: auto;
    width: 170px !important;
	border-bottom: 1px dotted rgb(128, 119, 119);
    height: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.column3 h4 {
    background: none repeat scroll 0 0 #fca428;
    color: white;
    font-weight: bold;
    text-align: center;
    width: 190px;
	font-size:15px;
}
.column3 h4.current {
    background: none repeat scroll 0 0 #94218a;
    color: white;
    font-weight: bold;
    text-align: center;
    width: 190px;
	font-size:14px;	
}

.column{width:240px;float:left;min-height:600px;}

.column h4 {
    background: none repeat scroll 0 0 #fca428;
    color: white;
    font-weight: bold;
    text-align: center;
    width: 218px;
	font-size:15px;
	
}
.column h4.current {
    background: none repeat scroll 0 0 #94218a;
    color: white;
    font-weight: bold;
    text-align: center;
    width: 218px;
	font-size:14px;
	
}
.column ul li  {
    font-size: 13px;
    height: auto;
    width: 210px !important;
	border-bottom: 1px dotted rgb(128, 119, 119);
    height: auto;
}

table.alternate_color tr:nth-of-type(odd) {
      background-color:#ffffff;
    }
      table.alternate_color tr:nth-of-type(even) {
      background-color:#e0e0e0;
    }