@charset "UTF-8";
/*
 * cmn_layout.css
 *
 *  version --- 1.0
 *  updated --- 2013/5/13
 */

@import url(reset.css);

/* !Layout
---------------------------------------------------------- */

body {
	font-family: "Meiryo", sans-serif;
	font-size: 14px;
	line-height: 1.8;
	color: #232323;
	-webkit-text-size-adjust: 100%;
}
html[lang="en"] body {
	font-family: arial, sans-serif;
}
html[lang="zh"] body {
	font-family: arial, "Microsoft Yahei", sans-serif;
}


/* !wrapper
---------------------------------------------------------- */

#wrapper {
	min-width: 1000px;
}
	@media screen and (max-width:736px) {
		#wrapper {
			min-width: 100%;
		}
	}

/* !header
---------------------------------------------------------- */

#header {
	position: relative;
	z-index: 99;
	border-bottom: 6px solid #cbcfe5;
}
	.headerInner {
		position: relative;
		width: 960px;
		margin: 0 auto;
	}
	.headerInner:after {
		content: '';
		display: block;
		clear: both;
	}

	@media screen and (max-width:736px) {
		#header {
			padding-bottom: 10px;
			border-bottom: none;
		}
		.headerInner {
			display: table;
			width: 100%;
		}
	}

	/* 採用ヘッダー */
	#header.recruit {
		border-bottom: none;
	}

	/* ナビ無しヘッダー */
	#header.compact {
		padding-bottom: 10px;
	}
	#header.compact + * {
		margin-top: 15px;
	}
	#header.compact:before {
		content: '';
		position: absolute;
		left: 50%;
		bottom: -6px;
		margin-left: -480px;
		display: block;
		width: 960px;
		height: 6px;
		background: #3b499f;
	}
	@media screen and (max-width:736px) {
		#header.compact {
			padding-bottom: 0;
		}
		#header.compact + * {
			margin-top: 10px;
		}
		#header.compact:before {
			content: none;
		}
	}

	/* SGHヘッダー */
	#header.sgh {
		padding-bottom: 10px;
	}
	#header.sgh + * {
		margin-top: 15px;
	}
	#header.sgh:before {
		content: '';
		position: absolute;
		left: 50%;
		bottom: -6px;
		margin-left: -480px;
		display: block;
		width: 960px;
		height: 6px;
		background: #3b499f;
	}
	@media screen and (max-width:736px) {
		#header.sgh {
			padding-bottom: 0;
		}
		#header.sgh + * {
			margin-top: 10px;
		}
		#header.sgh:before {
			content: none;
		}
	}

	/* .headerLogo */
	.headerLogo {
		float: left;
	}
		.headerLogo:after {
			content: '';
			display: block;
			clear: both;
		}
		.headerLogo .logo01,
		.headerLogo .logo02 {
			float: left;
			padding: 9px 0 0;
		}
		.headerLogo .logo02 {
			position: relative;
			margin-left: 15px;
			padding-left: 17px;
		}
		.headerLogo .logo01 a,
		.headerLogo .logo02 a {
			display: block;
			height: 0;
			padding-top: 48px;
			overflow: hidden;
		}
		.headerLogo .logo01 a {
			width: 67px;
			background: url(../img/logo_sgh.png) no-repeat;
		}
		.headerLogo .logo02:after {
			content: '';
			display: block;
			position: absolute;
			top: 9px;
			left: 0;
			bottom: 0;
			width: 0;
			border-left: 1px solid #c0c5e0;
			border-right: 1px solid #5c68af;
		}
		.headerLogo .logo02 a {
			width: 123px;
			background: url(../img/logo_sagawa.png) no-repeat;
		}
		@media only screen and (-webkit-min-device-pixel-ratio: 2) {
			.headerLogo .logo01 a {
				background-image: url(../img/logo_sgh_x2.png);
				background-size: auto 100%;
			}
			.headerLogo .logo02 a {
				background-image: url(../img/logo_sagawa_x2.png);
				background-size: auto 100%;
			}
		}
		@media screen and (max-width:736px) {
			.headerLogo {
				float: none;
				display: table-footer-group;
			}
			.headerLogo .logo01 {
				margin-left: 10px;
			}
			.headerLogo .logo02 {
				margin-left: 8px;
				padding-left: 10px;
			}
			.headerLogo .logo01 a,
			.headerLogo .logo02 a {
				padding-top: 28px;
			}
			.headerLogo .logo01 a {
				width: 39px;
				background-size: auto 100%;
			}
			.headerLogo .logo02 a {
				width: 71px;
				background-size: auto 100%;
			}
		}

	/* .headerContents */
	.headerContents {
		width: 100%;
		display: table-header-group;
	}
		@media screen and (max-width:736px) {
			.headerContents {
				width: 100%;
				display: table-header-group;
			}
		}

	/* .headerUtility */
	.headerUtility {
		width: 100%;
		line-height: 1.35;
		font-size: 13px;
	}
		.headerUtility * {
			list-style: none;
			margin: 0;
			padding: 0;
		}
		.headerUtility > dl > dt {
			display: none;
		}
		.headerUtility,
		.headerUtility dd ul {
			text-align: right;
		}
		.headerUtility dd ul.sp-gNavi,
		.headerUtility dd ul.sp-sitemap {
			display: none;
		}
		.headerUtility > *,
		.headerUtility dd ul > * {
			text-align: left;
			display: inline-block;
			vertical-align: middle;
		}
		.headerUtility dd ul li:before {
			content: '|';
			display: inline-block;
			color: #999;
			margin: 0 .6em 0 .4em;
		}
		.headerUtility dd ul.sub li.lastChild:after {
			content: '|';
			display: inline-block;
			color: #999;
			margin: 0 .6em 0 .4em;
		}
		.headerUtility dd ul li a[target="_blank"]:after {
			content: '';
			display: inline-block;
			width: 10px;
			height: 9px;
			margin-left: .25em;
			margin-right: -.25em;
			background: url(../img/ico_blank01.png) no-repeat;
		}
		.headerUtility .slogan {
			color: #3a3d4d;
			font-size: 12px;
		}
		.headerUtility .slogan br {
			display: none;
		}
		
		.headerUtility .search {
			margin-left: .8em;
		}
		.headerUtility .menu {
			margin-top: 15px;
		}

	/* リード文PC2行対応 */
		.lines2 .headerUtility .slogan p:first-child{
		padding-top:7px;
		}
		.lines2 .headerUtility .slogan br {
			display: inline;
		}
		.lines2 .headerUtility dl{
			margin-top: -10px;
		}

		@media screen and (max-width:736px) {
			.headerUtility {
				position: relative;
				width: 100%;
				padding-top: 40px;
			}
			.headerUtility > dl {
				width: 100%;
				display: block;
				overflow: hidden;
			}
			.headerUtility > dl > dt {
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 33%;
				color: #3b499f;
				background: #f6f6f6;
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(251,251,251,1)), color-stop(100%,rgba(235,235,235,1))); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top,  rgba(251,251,251,1) 0%,rgba(235,235,235,1) 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top,  rgba(251,251,251,1) 0%,rgba(235,235,235,1) 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top,  rgba(251,251,251,1) 0%,rgba(235,235,235,1) 100%); /* IE10+ */
				background: linear-gradient(to bottom,  rgba(251,251,251,1) 0%,rgba(235,235,235,1) 100%); /* W3C */
				font-size: 12px;
				font-weight: bold;
				text-align: center;
				cursor: pointer;
				border-right: 1px solid #e7e7e7;
				border-left: 1px solid #e7e7e7;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
			}
			.headerUtility .lang > dt { border-left: none; }
			.headerUtility .search > dt { left: 33%; }
			.headerUtility .menu > dt { width: 34%; left: 66%;  border-right: none; }

			.headerUtility > dl > dt:before {
				content: '';
				display: inline-block;
				width: 18px;
				height: 18px;
				margin-top: -.25em;
				margin-right: .25em;
				vertical-align: middle;
			}
			.headerUtility .lang   > dt:before { background: url(../img/ico_header_nav_lang.png)   no-repeat; background-size: contain; }
			.headerUtility .search > dt:before { background: url(../img/ico_header_nav_search.png) no-repeat; background-size: contain; }
			.headerUtility .menu   > dt:before { background: url(../img/ico_header_nav_menu.png)   no-repeat; background-size: contain; }

			.headerUtility > dl > dt.is-open {
				color: #fff;
				background: #9da4cf;
				border-color: #9da4cf;
			}
			.headerUtility > dl > dt.is-open:before { background: url(../img/ico_header_nav_close.png) no-repeat; background-size: contain; }

			.headerUtility > dl > dt:after {
				content: '';
				display: inline-block;
				width: 0;
				height: 40px;
				vertical-align: middle;
			}
			.headerUtility > dl > dd {
				display: none;
				background: #9da4cf;
				padding: 12px 10px;
			}
			.headerUtility dd ul {
				text-align: left;
				font-size: 14px;
				overflow: hidden;
			}
			.headerUtility dd ul li {
				float: left;
				width: 50%;
			}
			.headerUtility dd ul.sp-gNavi,
			.headerUtility dd ul.sp-sitemap {
				display: block;
			}
			.headerUtility dd ul.full li {
				width: 100%;
			}
			.headerUtility dd ul li:before,
			.headerUtility > :last-child dd ul li:last-child:after {
				content: none;
			}
			.headerUtility dd ul li a {
				display: block;
				margin: 0 1px 1px 0;
				padding: 0 25px 0 10px;
				font-weight: bold;
				background: #fff url(../img/ico_header_gnavi_arrow_r01.png) no-repeat 95% 50%;
			}
			.headerUtility dd ul.sub li a {
				display: block;
				font-size: 12px;
				font-weight: normal;
				background: #e2e4f1 url(../img/ico_header_subnavi_arrow_r01.png) no-repeat 94% 50%;
			}
			.headerUtility dd ul li a:before,
			.headerUtility dd ul li a span {
				display: inline-block;
				vertical-align: middle;
			}
			.headerUtility dd ul li a:before {
				content: '';
				height: 48px;
				width: 0;
			}
			.headerUtility dd ul.sub li a:before {
				height: 44px;
			}
			.headerUtility dd ul li a:before span {
				display: inline-block;
			}
			.headerUtility .slogan {
				position: absolute;
				bottom: -40px;
				right: 10px;
				font-size: 10px;
			}
			.headerUtility .slogan br {
				display: block;
			}
			.headerUtility .sitemap {
				display: none;
			}
			.headerUtility .lang,
			.headerUtility .search,
			.headerUtility .menu {
				margin: 0;
			}
			.lines2 .headerUtility .slogan br {
				display: none;
			}
			.lines2 .headerUtility .slogan p:first-child{
			padding-top:0;
			}
			.lines2 .headerUtility dl{
				margin-top: 0;
			}
		}

	/* .headerSearch */
	.headerSearch {
		display: inline-block;
		width: 200px;
	}
		.headerSearch form {
			letter-spacing: -.4em;
		}
		.headerSearch form > * {
			letter-spacing: normal;
			text-align: left;
		}
		.headerSearch #SS_searchQuery,
		.headerSearch #SS_searchSubmit {
			display: inline-block;
			margin: 0;
			vertical-align: top;
		}
		.headerSearch #SS_searchQuery {
			width: 170px;
			height: 30px;
			padding: 6px;
			padding: 7px\9;
			background: #f3f3f3;
			font-size: inherit;
			border: 1px solid #dfdfdf;
			box-sizing: border-box;
		}
		.headerSearch #SS_searchSubmit {
			width: 30px;
			height: 0;
			margin: 0;
			padding: 30px 0 0;
			background: url(../img/btn_search.png) no-repeat;
			border: none;
			overflow: hidden;
		}
		@media only screen and (-webkit-min-device-pixel-ratio: 2) {
			.headerSearch #SS_searchSubmit {
				background-image: url(../img/btn_search_x2.png);
				background-size: 100% 100%;
			}
		}
		@media screen and (max-width:736px) {
			.headerSearch {
				display: block;
				width: 100%;
			}
			.headerSearch form {
				display: table;
				width: 100%;
			}
			.headerSearch form > span {
				display: table-cell;
				vertical-align: bottom;
			}
			.headerSearch form > span.submit {
				width: 48px;
			}
			.headerSearch #SS_searchQuery {
				width: 100%;
				font-size: 16px;
				font-weight: bold;
				height: 48px;
				padding-left: 1em;
				padding-right: 1em;
				background: #fff;
				border: none;
			}
			.headerSearch #SS_searchSubmit {
				width: 48px;
				padding-top: 48px;
				background: url(../img/btn_search_sp01.png) no-repeat;
				background-size: cover;
			}
		}

	/* .recruitUtility */
	.recruitUtility {}
		.recruitUtility .switcher {
			position: absolute;
			bottom: -30px;
			right: 0;
			display: table;
			table-layout: fixed;
			width: 218px;
			line-height: 1.35;
			border-left: 1px solid #d6d6d6;
			border-right: 1px solid #d6d6d6;
			vertical-align: bottom;
		}
		.recruitUtility .switcher li {
			display: table-cell;
			text-align: center;
		}
		.recruitUtility .switcher li.fresh {
			padding-left: 22px;
		}
		.recruitUtility .switcher li.career {
			padding-right: 22px;
		}
		.recruitUtility .switcher li a {
			display: block;
		}
		.recruitUtility .switcher li a:before {
			content: '';
			display: inline-block;
			width: 6px;
			height: 6px;
			margin-right: .4em;
			background: url(../img/ico_arrow_r01.png) no-repeat;
			vertical-align: .2em;
		}
		.is-recruit-fresh .recruitUtility .switcher li.fresh a,
		.is-recruit-career .recruitUtility .switcher li.career a {
			margin: -22px 0;
			padding: 22px 0;
			color: #fff;
			background: url(../img/ico_arrow_u02.png) no-repeat 50% 84%;
		}
		.is-recruit-fresh .recruitUtility .switcher li.fresh a {
			background-color: #dd315e;
		}
		.is-recruit-career .recruitUtility .switcher li.career a {
			background-color: #e49c11;
		}
		.is-recruit-fresh .recruitUtility .switcher li.fresh a:before,
		.is-recruit-career .recruitUtility .switcher li.career a:before {
			content: none;
		}
		.recruitUtility .entry {
			position: absolute;
			top: 0;
			right: 0;
		}
		.recruitUtility .entry a {
			display: block;
			padding: 5px 0;
			width: 220px;
			color: #c1c1c1;
			background: #323232;
			text-align: center;
		}
		.recruitUtility .entry a:before {
			content: '';
			display: inline-block;
			width: 15px;
			height: 16px;
			background: url(../img/ico_header_nav_rentry.png) no-repeat;
			margin-right: .5em;
			vertical-align: -.15em;
		}
		@media only screen and (-webkit-min-device-pixel-ratio: 2) {
			.recruitUtility .entry a:before {
				background-image: url(../img/ico_header_nav_rentry_x2.png);
				background-size: contain;
			}
		}
		.recruitUtility .slogan {
			float: left;
			position: relative;
			top: 36px;
			left: 22px;
			font-size: 16px;
			overflow: hidden;
		}
		@media screen and (max-width:736px) {
			.recruitUtility {
				background: #f6f6f6;
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(251,251,251,1)), color-stop(100%,rgba(235,235,235,1))); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top,  rgba(251,251,251,1) 0%,rgba(235,235,235,1) 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top,  rgba(251,251,251,1) 0%,rgba(235,235,235,1) 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top,  rgba(251,251,251,1) 0%,rgba(235,235,235,1) 100%); /* IE10+ */
				background: linear-gradient(to bottom,  rgba(251,251,251,1) 0%,rgba(235,235,235,1) 100%); /* W3C */
				font-size: 12px;
			}
			.recruitUtility:after {
				content: '';
				display: block;
				clear: both;
			}
			.recruitUtility .switcher {
				position: static;
				float: left;
				width: auto;
				border: none;
			}
			.recruitUtility .switcher li:first-child,
			.recruitUtility .switcher li:last-child {
				padding: 0;
			}
			.recruitUtility .switcher li a {
				display: table-cell;
				height: 33px;
				padding: 0 10px;
				vertical-align: middle;
			}
			.is-recruit-fresh .recruitUtility .switcher li.fresh a,
			.is-recruit-career .recruitUtility .switcher li.career a {
				margin: 0;
				padding: 0 10px;
				background-image: none;
			}
			.is-recruit-fresh .recruitUtility .switcher li.fresh a:before,
			.is-recruit-career .recruitUtility .switcher li.career a:before {
				content: '';
				background: url(../img/ico_arrow_u02.png) no-repeat;
			}
			.recruitUtility .entry {
				position: static;
				display: table;
				float: right;
			}
			.recruitUtility .entry a {
				display: table-cell;
				padding: 0 10px;
				height: 33px;
				width: auto;
				vertical-align: middle;
			}
			.recruitUtility .entry a:before {
				vertical-align: -.25em;
			}
			.recruitUtility .slogan {
				float: none;
				position: absolute;
				top: 58px;
				left: auto;
				right: 10px;
				font-size: 10px;
			}
		}
		
/*** english & chinese ***/
.globalLangHeader .headerInner { overflow: hidden;}
	.globalLangHeader .headerContents {
		float: right;
		width: auto;
		padding: 0;
		margin-right: -6px;
	}

@media screen and (max-width:736px) {
	.globalLangHeader .headerContents {
		float: none;
		width: 100%;
		padding: 0;
		margin-right: 0;
	}
		.globalLangHeader .headerUtility .slogan {
			text-align: left;
			bottom: -35px;
			margin-left: 0;
			padding-left: 146px;
		}	

		.globalLangHeader .headerUtility dd ul.sp-sitemap { display: none;}
			.globalLangHeader .headerUtility dd ul li.sp-sitemapGlobal a {
				display: block;
				font-size: 12px;
				font-weight: normal;
				background: #e2e4f1 url(../img/ico_header_subnavi_arrow_r01.png) no-repeat 94% 50%;
			}
			.globalLangHeader .headerUtility dd ul li.en_gnav04 { font-size: 13px;}
}

/* !gNavi
---------------------------------------------------------- */

#gNavi {
	margin-top: 12px;
}
	#gNavi ul {
		display: table;
		border-collapse: collapse;
		width: 960px;
		margin: 0 auto;
	}
	#gNavi li {
		position: relative;
		display: table-cell;
		min-width: 150px;
		vertical-align: top;
	}
	#gNavi li:after {
		content: '';
		display: block;
		position: absolute;
		left: -1px;
		right: 0;
		bottom: -6px;
		height: 6px;
		background: #3b499f;
	}
	#gNavi li:first-child:after {
		left: 0;
	}
	#gNavi li:hover:after {
		background: #6270c0;
		z-index: 1;
	}
	#gNavi li a {
		display: block;
		padding: 8px 0 5px;
		font-weight: bold;
		text-align: center;
		border-right: 1px solid #d6d6d6;
	}
	#gNavi li:first-child a {
		border-left: 1px solid #d6d6d6;
	}
	#gNavi li.gNav01 {
		min-width: 0;
		width: 45px;
	}
	#gNavi li.gNav01 a {
		background: url(../img/ico_home01.png) no-repeat 50% 50%;
		text-indent: -999em;
		overflow: hidden;
	}

	/* hover */
	#gNavi li a:hover {
		background-color: #d9f2ff;
		text-decoration: none;
	}
	/* target */
	#gNavi li a[target="_blank"] > span:after {
		content: '';
		display: inline-block;
		width: 16px;
		height: 16px;
		margin-left: .2em;
		background-repeat: no-repeat;
		background-position: 50% 70%;
		vertical-align: -.1em;
		background-image: url(../img/ico_blank01.png);
	}

	/* active */
	#g01 #gNavi .gNav01,
	#g02 #gNavi .gNav02,
	#g03 #gNavi .gNav03,
	#g04 #gNavi .gNav04,
	#g05 #gNavi .gNav05,
	#g06 #gNavi .gNav06 {
		border-bottom-color: #d5d7ea;
	}

	#g01 #gNavi .gNav01 a,
	#g02 #gNavi .gNav02 a,
	#g03 #gNavi .gNav03 a,
	#g04 #gNavi .gNav04 a,
	#g05 #gNavi .gNav05 a,
	#g06 #gNavi .gNav06 a {
		color: #666699;
		background-color: #efefef;
	}
	#g01 #gNavi .gNav01:after,
	#g02 #gNavi .gNav02:after,
	#g03 #gNavi .gNav03:after,
	#g04 #gNavi .gNav04:after,
	#g05 #gNavi .gNav05:after,
	#g06 #gNavi .gNav06:after {
		background: #d5d7ea;
		z-index: 2;
	}
	#g01 #gNavi .gNav01:before,
	#g02 #gNavi .gNav02:before,
	#g03 #gNavi .gNav03:before,
	#g04 #gNavi .gNav04:before,
	#g05 #gNavi .gNav05:before,
	#g06 #gNavi .gNav06:before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 1px;
		background: #d6d6d6;
	}

	/* 予約 */
	#g07 {} /* 会社案内 */
	#g08 {} /* SGホールディングスについて */
	#g09 {} /* CSR（企業の社会的責任） */
	#g20 {} /* 採用 */
	#g50 {} /* English */
	#g51 {} /* 中文 */
	#g90 {} /* サイトのご利用について */
	#g91 {} /* 各種約款 */
	#g92 {} /* 個人情報保護方針 */
	#g93 {} /* プライバシーポリシー */
	#g99 {} /* サイトマップ */

	@media screen and (max-width:736px) {
		#gNavi {
			display: none;
		}
	}

/*** english & chinese ***/
#gNavi li.gNav05 a { border-right: 1px solid #d6d6d6;}
.globalLangHeader #gNavi ul li.sp-sitemapGlobal { display: none;}

/* !mainimg
---------------------------------------------------------- */

#mainimg {
	width: 100%;
	height: 220px;
	background: url(../img/bg_mainimg01.jpg) top left repeat-x;
	margin-bottom: 30px;
}
#g05 #mainimg,
#g06 #mainimg,
#g07 #mainimg,
#g08 #mainimg { height: 150px;}

	.mainimgInner {
		width: 100%;
		height: 220px;
		color: #fff;
	}

	/* メイン画像背景指定 */
	#g02 .mainimgInner { background: url(../img/mainimg_delivery01.jpg) no-repeat;} /* 法人のお客さま */
	#g03 .mainimgInner { background: url(../img/mainimg_delivery01.jpg) no-repeat;} /* GOAL */
	#g04 .mainimgInner { background: url(../img/mainimg_delivery01.jpg) no-repeat;} /* サービス一覧 */
	#g05 .mainimgInner { background: url(../img/mainimg_send01.jpg) no-repeat;} /* 送る・受け取る */
	#g06 .mainimgInner { background: url(../img/mainimg_contact01.jpg) no-repeat;} /* お問い合わせ */
	#g07 .mainimgInner { background: url(../img/mainimg_company01.jpg) no-repeat;} /* 会社案内 */
	#g08 .mainimgInner { background: url(../img/mainimg_csr01.jpg) no-repeat;} /* CSR（企業の社会的責任） */

	#g02 .mainimgInner,
	#g03 .mainimgInner,
	#g04 .mainimgInner
	{
		background-size: 1280px 220px;
		background-position: top center;
	}
	#g05 .mainimgInner,
	#g06 .mainimgInner,
	#g07 .mainimgInner,
	#g08 .mainimgInner {
		height: 150px;
		background-size: 1280px 150px;
		background-position: top center;
	}

		.mainimgInner .box_mainimg01 {
			width: 960px;
			margin: 0 auto;
			padding: 60px 23px 0 27px;
			box-sizing: border-box;
		}
		#g05 .mainimgInner .box_mainimg01,
		#g06 .mainimgInner .box_mainimg01,
		#g07 .mainimgInner .box_mainimg01,
		#g08 .mainimgInner .box_mainimg01 {
			padding: 20px 23px 0 27px;
		}
			.mainimgInner .txtBox {}

	@media screen and (max-width:736px) {
		#mainimg,
		#g05 #mainimg,
		#g06 #mainimg,
		#g07 #mainimg,
		#g08 #mainimg {
			height: auto;
			margin: 0;
			overflow: hidden;
		}
		.mainimgInner {
			height: auto;
		}

		/* メイン画像背景指定 */
		#g02 .mainimgInner { background-image: url(../img/mainimg_delivery01_sp.jpg); } /* 法人のお客さま */
		#g03 .mainimgInner { background-image: url(../img/mainimg_delivery01_sp.jpg); } /* GOAL */
		#g04 .mainimgInner { background-image: url(../img/mainimg_delivery01_sp.jpg); } /* サービス一覧 */
		#g05 .mainimgInner { background-image: url(../img/mainimg_send01_sp.jpg); } /* 送る・受け取る */
		#g06 .mainimgInner { background-image: url(../img/mainimg_contact01_sp.jpg); } /* お問い合わせ */
		#g07 .mainimgInner { background-image: url(../img/mainimg_company01_sp.jpg); } /* 会社案内 */
		#g08 .mainimgInner { background-image: url(../img/mainimg_csr01_sp.jpg); } /* CSR（企業の社会的責任） */

		#g02 .mainimgInner, #g03 .mainimgInner, #g04 .mainimgInner,
		#g05 .mainimgInner, #g06 .mainimgInner, #g07 .mainimgInner,
		#g08 .mainimgInner {
			height: auto;
			background-repeat: no-repeat;
			background-position: right top;
			background-size: auto 100px;
		}
		.mainimgInner .box_mainimg01,
		#g05 .mainimgInner .box_mainimg01,
		#g06 .mainimgInner .box_mainimg01,
		#g07 .mainimgInner .box_mainimg01,
		#g08 .mainimgInner .box_mainimg01 {
			width: 100%;
			padding: 0;
		}
		.mainimgInner .txtBox {
			display: block;
			width: 100%;
			padding: 13px 10px;
			color: #3b499f;
			background: #eef0fd;
			font-size: 12px;
			box-sizing: border-box;
		}
	}

	.title_mainimg {
		margin-bottom: 12px;
		font-size: 28px;
		font-weight: bold;
		line-height: 1.1;
	}
	@media screen and (max-width:736px) {
		.title_mainimg {
			width: 100%;
			margin: 0;
			padding: 40px 10px 0 10px;
			height: 100px;
			font-size: 18px;
			box-sizing: border-box;
		}
	}
	
/* グローバル版設定 */
/* chinese */
html[lang="en"] #g05 .mainimgInner,
html[lang="zh"] #g05 .mainimgInner {
	background: url(../img/mainimg_company01.jpg) no-repeat;
	height: 150px;
	background-size: 1280px 150px;
	background-position: top center;
} /* 会社案内 */
@media screen and (max-width:736px) {
html[lang="en"] #g05 .mainimgInner,
html[lang="zh"] #g05 .mainimgInner {
	background-image: url(../img/mainimg_company01_sp.jpg);
	background-repeat: no-repeat;
	background-position: right top;
	background-size: auto 100px;
}
}

/* !contents
---------------------------------------------------------- */

#contentsContainer {
	width: 100%;
	overflow: hidden;
}
	.contentsInner {
		width: 960px;
		margin: 0 auto;
	}
	.contentsInner:after {
	  content: '';
	  display: block;
	  clear: both;
	}
	@media screen and (max-width:736px) {
		.contentsInner {
			width: 100%;
			padding: 0;
		}
	}

	/* topicPath */
	.topicPath {
		width: 100%;
		overflow: hidden;
		padding: 15px 0;
	}
		.topicPath > li {
			float: left;
			line-height: 1.1;
			list-style-type: none;
			font-size: 12px;
		}
		.topicPath > li a {
			background: url(../img/ico_topicpath01.gif) right center no-repeat;
			padding-right: 17px;
			margin-right: 8px;
		}

		/* GOAL・採用情報など */
		#contentsContainer > .topicPath {
			width: 960px;
			margin: 0 auto;
		}

	@media screen and (max-width:736px) {
		.topicPath {
			display: none;
		}
	}


	/* #main */
	#main {
		float: left;
		width: 700px;
		margin-right: 40px;
	}
	@media screen and (max-width:736px) {
		#main {
			width: 100%;
			margin: 0;
			padding: 0 10px;
			box-sizing: border-box;
		}
	}

	/* #sub */
	#sub {
		float: right;
		width: 220px;
	}
	@media screen and (max-width:736px) {
		#sub {
			width: 100%;
		}
	}

	/* .l_wide - ローカルナビなしの全幅 */
	.l_wide .contentsInner {
		width: 100%;
	}
	.l_wide .topicPath {
		width: 960px;
		margin: 0 auto;
	}
	.l_wide #main {
		float: none;
		width: 960px;
		margin: 0 auto;
	}
	@media screen and (max-width:736px) {
		.l_wide #main {
			width: 100%;
			margin: 0;
			padding: 0 10px;
		}
	}

	/* .l_center - ローカルナビなしの中央寄せ */
	.l_center #main {
		float: none;
		margin-left: auto;
		margin-right: auto;
	}

	/* .l_top - トップページ系 */
	.l_top .contentsInner {
		width: 100%;
	}
	.l_top #main {
		float: none;
		width: 960px;
		margin: 0 auto;
		padding: 6px 6px 0;
		background: #fff;
	}
	@media screen and (max-width:736px) {
		.l_top #main {
			width: auto;
			padding: 0 10px;
		}
	}

	/* .l_popup - ポップアップ系 */
	.l_popup .contentsInner {
		width: 100%;
		text-align: center;
	}
	.l_popup #main {
		float: none;
		width: auto;
		margin: 0;
		padding: 30px;
		display: inline-block;
	}
	.l_popup #main object {
		vertical-align: bottom;
	}

	.l_wide #main > .section .title_module:first-child,
	.l_center #main > .section .title_module:first-child {
		margin-top: 30px;
	}
	@media screen and (max-width:736px) {
		.l_wide #main > .section .title_module:first-child,
		.l_center #main > .section .title_module:first-child {
			margin-top: 0;
		}
	}

/* !lNavi
---------------------------------------------------------- */

#sub ul, #sub li {
	list-style: none;
	margin: 0;
	padding: 0;
}

/* .title_sub */
#sub .title_sub {
	margin: 0;
	border-bottom: 3px solid #999;
}
	#sub .title_sub a {
		display: block;
		padding: 22px 13px 18px;
		color: #fff;
		background: #3b499f;
		font-size: 16px;
		font-weight: bold;
		border-bottom: 1px solid #b1b6d9;
	}
	#sub .title_sub a:hover {
		color: #39f;
	}
	@media screen and (max-width:736px) {
		#sub .title_sub a {
			padding: 11px 10px 9px;
		}
	}

	.sub_catNavi {
		margin-top: 10px;
	}
	.title_sub + .sub_catNavi {
		margin-top: 0;
	}
	.sub_catNavi a {
		position: relative;
		display: block;
		padding: 10px 12px 8px;
		color: #36509f;
		line-height: 1.35;
		border: 1px solid #dfdfdf;
	}
	.sub_catNavi a:after {
		content: '';
		display: block;
		position: absolute;
		width: 11px;
		height: 16px;
		top: 10px;
		right: 10px;
		background: url(/common/img/ico_arrow_sub_catnavi01_ie8.png) top left no-repeat;
		background-size: contain;
	}
	@media only screen and (-webkit-min-device-pixel-ratio: 2) {
		.sub_catNavi a:after {
			background: url(/common/img/ico_arrow_sub_catnavi01.png) top left no-repeat;
			background-size: contain;
		}
	}
	.sub_catNavi.current a:after {
		content: none;
	}
	.sub_catNavi + #lNavi01 {
		margin-top: -1px;
	}
	.sub_catNavi .subCatTit01 { width: 111px; height: auto; }
	.sub_catNavi .subCatTit02 { width:  93px; height: auto; }
	.sub_catNavi .subCatTit03 { width: 106px; height: auto; } 
	.sub_catNavi .subCatTxt {
		display: block;
		margin-top: 1em;
		font-size: 8px;
	}
	@media screen and (max-width:736px) {
		.sub_catNavi {
			margin-top: 0;
			margin-bottom: -1px;
		}
		.sub_catNavi a {
			padding-top: 8px;
			padding-bottom: 4px;
		}
		.sub_catNavi a:after {
			top: 50%;
			margin-top: -9px;
		}
		.sub_catNavi .subCatTxt {
			margin-top: .25em;
		}
	}

/* lNavi01 */
#lNavi01 {
	line-height: 1.35;
	border: 1px solid #dfdfdf;
}
	#lNavi01 li a {
		display: block;
		padding: 0 12px;
		color: #3b499f;
	}
	#lNavi01 > li + li > a {
		border-top: 1px solid #dfdfdf;
	}
	#lNavi01 > li > a + ul {
		display: none;
	}
	#lNavi01 > li > a.current + ul {
		display: block;
	}
	#lNavi01 a > span,
	#lNavi01 a:before {
		display: inline-block;
		vertical-align: middle;
	}
	#lNavi01 a > span {
		padding-top: .15em;
	}
	#lNavi01 a:before {
		content: '';
		width: 0;
		height: 58px;
	}
	#lNavi01 > li li > a {
		position: relative;
		padding-left: 28px;
	}
	#lNavi01 > li li > a:before {
		height: 50px;
	}
	#lNavi01 > li li > a:after {
		content: '';
		display: block;
		position: absolute;
		top: -1px;
		left: 12px;
		right: 0;
		border-top: 1px dotted #ddd;
	}
	#lNavi01 > li li > a > span:before {
		content: '';
		display: block;
		position: absolute;
		top: 9px;
		left: 12px;
		bottom: 9px;
		width: 5px;
		background: #dcdef1;
	}
	#lNavi01 > li > a[target="_blank"] > span:after,
	#lNavi01 > li li > a[target="_blank"] > span span:after {
		content: '';
		display: inline-block;
		width: 10px;
		height: 9px;
		margin-left: .25em;
		background: url(../img/ico_blank01.png) no-repeat;
		vertical-align: .1em;
	}

	/* current */
	#lNavi01 li a.current {
		color: #7e7e8c;
		background-color: #efefef;
	}
	#lNavi01 > li li > a.current > span:before {
		content: "" ""; /* IE8 */
		background: #fff;
	}

	/* hover */
	#lNavi01 li a:hover {
		color: #39f;
		background-color: #d9f2ff;
	}
	#lNavi01 li a:hover span {
		text-decoration: underline;
	}
	#lNavi01 > li li > a:hover > span:before {
		background: #fff;
	}

	@media screen and (max-width:736px) {
		#lNavi01 > li > a {
			position: relative;
		}
		#lNavi01 > li > a:after {
			content: '';
			position: absolute;
			top: 50%;
			right: 10px;
			margin-top: -8px;
			display: block;
			width: 11px;
			height: 17px;
			background: url(../img/ico_next01.png) no-repeat;
			background-size: contain;
		}
		#lNavi01 a:before {
			content: '';
			width: 0;
			height: 46px;
		}
		#lNavi01 > li li > a:before {
			height: 40px;
		}
	}

	/* Service */
	#lNavi01.lNavi_service > li > a {
		position: relative;
		margin: 0 -1px;
		color: #fff;
		background: #5f699f;
		font-size: 12px;
		z-index: 1;
	}
	#lNavi01.lNavi_service > li > a:after {
		content: '';
		position: absolute;
		top: 50%;
		right: 7px;
		margin-top: -10px;
		display: block;
		width: 17px;
		height: 17px;
		background: url(../img/ico_lnavi02_arrow01_close.png) no-repeat;
	}
	#lNavi01.lNavi_service > li > a.open:after {
		content: '''';
		right: 9px;
		margin-top: -6px;
		background: url(../img/ico_lnavi02_arrow01_open.png) no-repeat;
	}
	#lNavi01.lNavi_service > li > a:before {
		height: 34px;
	}
	#lNavi01.lNavi_service > li > a > span {
		padding: 0;
	}
	#lNavi01.lNavi_service > li > a:hover,
	#lNavi01.lNavi_service > li > a:hover span {
		color: #fff;
		background-color: #4d547a;
	}

/* 関連リンク */
#sub .relatedLinks {
	margin-bottom: 12px;
	line-height: 1.5;
}
#sub .relatedLinks dt {
	padding: .35em 10px .25em;
	font-size: 12px;
	background: #e5e5e5;
}
#sub .relatedLinks li a {
	display: table;
	width: 100%;
	border-bottom: 1px solid #ccc;
}
#sub .relatedLinks li a[target="_blank"] .txt:after {
	content: '';
	display: inline-block;
	width: 10px;
	height: 9px;
	margin-left: .25em;
	background: url(../img/ico_blank01.png) no-repeat;
}
#sub .relatedLinks .pct,
#sub .relatedLinks .txt {
	display: table-cell;
	padding: 12px 0;
	vertical-align: middle;
}
#sub .relatedLinks .pct {
	width: 1%;
	padding-right: 12px;
	white-space: nowrap;
}
#sub .relatedLinks .txt {
	font-weight: bold;
}
#sub .relatedBnr li {
	margin-bottom: 12px;
}
#sub .relatedBnr li a:hover img {
	opacity: .8;
}
@media screen and (max-width:736px) {
	#sub .relatedLinks .pct,
	#sub .relatedLinks .txt {
		padding: 10px;
	}
	#sub .relatedLinks .pct {
		padding-right: 0;
	}
	#sub .relatedBnr li {
		text-align: center;
	}
}

#sub .pickupList {
	line-height: 1.5;
}
#sub .pickupList li {
	margin-top: 10px;
}
#sub .pickupList li + li {
	margin-top: 15px;
}
#sub .pickupList li a {
	display: block;
}
#sub .pickupList .txt {
	display: block;
	margin-top: .25em;
}
#sub .pickupList a[target="_blank"] .txt:after {
	content: '';
	display: inline-block;
	width: 10px;
	height: 9px;
	margin-left: .25em;
	background: url(../img/ico_blank01.png) no-repeat;
}
@media screen and (max-width:736px) {
	#sub .pickupList {
		margin-bottom: -1px;
	}
	#sub .pickupList li,
	#sub .pickupList li + li {
		margin: 0;
	}
	#sub .pickupList a {
		display: table;
		border-bottom: 1px solid #dcdcdc;
	}
	#sub .pickupList .pct,
	#sub .pickupList .txt {
		display: table-cell;
		padding: 10px;
		vertical-align: middle;
	}
	#sub .pickupList .pct {
		padding-right: 0;
	}
	#sub .pickupList .pct {
		width: 50%;
	}
	#sub .pickupList .pct img {
		width: 100%;
		height: auto;
	}
}


/* !footer
---------------------------------------------------------- */

#footer {
	width: 100%;
	clear: both;
	margin-top: 35px;
}
	.footerInnerTop {
		width: 960px;
		margin: 0 auto 15px;
	}
	.footerInnerBottom {
		position: relative;
		width: 960px;
		margin: 0 auto;
		padding: 25px 0;
		text-align: center;
		border-top: 3px solid #3b499f;
	}
	#footer.sgh .footerInnerBottom {
		padding: 0;
	}
	.footerInnerBottom .copyright {
		font-family: Helvetica, Arial, Verdana, sans-serif;
		font-size: 12px;
	}
	#footer.sgh .footerInnerBottom .copyright {
		padding: .75em 0;
		color: #3b499f;
		font-weight: bold;
		text-align: right;
	}
	.list_footerLinks01 {
		list-style-type: none;
	}
	.list_footerLinks01  > li {
		display: inline-block;
		font-size: 12px;
	}
	.list_footerLinks01  > li + li:before {
		content: '|';
		color: #999;
		margin: 0 .6em 0 .2em;
	}
	.list_footerLinks01  > li a[target="_blank"]:after {
		content: '';
		display: inline-block;
		width: 10px;
		height: 9px;
		margin-left: .25em;
		background: url(../img/ico_blank01.png) no-repeat;
	}

	@media screen and (max-width:736px) {
		#footer {
			margin-top: 0;
		}
		.footerInnerTop {
			width: 100%;
			box-sizing: border-box;
			padding: 15px;
			border-top: 1px solid #dfdfdf;
		}
		.footerInnerBottom {
			box-sizing: border-box;
			padding: 20px 10px;
			width: auto;
		}
		#footer.sgh .footerInnerBottom .copyright {
			width: auto;
			text-align: center;
		}
		.list_footerLinks01 {
			text-align: center;
		}
	}

/* ページトップへ */
.pageTop {
	position: fixed;
	right: 0;
	bottom: 50px;
	width: 50px;
	height: 50px;
	z-index: 999;
}
	.pageTop img {
		width: 100%;
		height: auto;
	}
	@media screen and (max-width:736px) {
		.pageTop {
			bottom: 40px;
			width: 40px;
			height: 40px;
		}
	}


/* !Section
---------------------------------------------------------- */

.section {
	margin-bottom: 35px;
}
	.section .section { margin-top: 35px; }
	.section .section .section { margin-top: 0; }

	.section > :first-child,
	.section > .section:first-child {
		margin-top: 0;
	}
	.section > :last-child {
		margin-bottom: 0;
	}
	.section p {
		margin-bottom: 1em;
	}
	.section li > p {
		margin-bottom: 0;
	}
	@media screen and (max-width:736px) {
		.section {
			margin-bottom: 28px;
		}
		.section > .section {
			margin-top: 28px;
		}
	}

	/* inner */
	.box_inner01 {
		/*padding: 0 10px;*/
	}
	@media screen and (max-width:736px) {
		.box_inner01 {
			/*padding: 0;*/
		}
	}
	.section > .box_separate01 {
		padding: 1.5em 5px 0;
		border-bottom: 1px solid #ccc;
	}
	.section > .title_level02 + .box_separate01 {
		padding: 0 5px 0;
	}
		.section > .box_separate01 .list_basic {
			padding-left: 18px;
		}
		
/* どうしても余白間隔調整に必要な場合のみ用いる */
.section .mb0em { margin-bottom: 0 !important;}
.section .mb05em { margin-bottom: 0.5em !important;}
.section .mb1em { margin-bottom: 1em !important;}
