@charset "UTF-8";

/* !HTML5 elements
---------------------------------------------------------- */

article,aside,details,figcaption,figure,footer,header,
hgroup,menu,nav,section{display:block;}


/* !Reset
---------------------------------------------------------- */

body,div,pre,p,blockquote,dl,dt,dd,ul,ol,li,
h1,h2,h3,h4,h5,h6,form,fieldset,th,td{margin:0;padding:0;}
input,textarea{margin:0;font-size:100%;}label{cursor:pointer;}
table{border-collapse:collapse;border-spacing:0;font-size:100%;}
fieldset,img{border:0;}img{vertical-align:top;}address,caption,
cite,code,dfn,em,th,var{font-style:normal;font-weight:normal;}
caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:after,q:before{content:'';}a,input{/*outline:none;*/}
abbr,acronym{border:0;}

/* !Reset Module
---------------------------------------------------------- */

.reset div,.reset dl,.reset dt,.reset dd,.reset ul,.reset ol,.reset li,
.reset h1,.reset h2,.reset h3,.reset h4,.reset h5,.reset h6,
.reset pre,.reset form,.reset fieldset,.reset p,
.reset blockquote,.reset th,.reset td{margin:0;padding:0;}
.reset input,.reset textarea{margin:0;font-size:100%;}
.reset table{border-collapse:collapse;border-spacing:0;font-size:100%;}
.reset fieldset,.reset img,.reset abbr,.reset acronym{border:0;}
.reset address,.reset caption,.reset cite,.reset code,.reset dfn,
.reset em,.reset th,.reset var{font-style:normal;font-weight:normal;}
.reset ol,.reset ul{list-style:none;}.reset caption,.reset th{text-align:left;}
.reset h1,.reset h2,.reset h3,.reset h4,.reset h5,.reset h6
{font-size:100%;font-weight:normal;}.reset a,.reset input{/*outline:none;*/}
.reset q:after,.reset q:before{content:'';}


/* !Additional Reset
---------------------------------------------------------- */

input { 
	font-family: inherit, sans-serif;
}
input[type="submit"],
input[type="reset"] {
	cursor: pointer;
}
input[type="radio"] {
	margin: 0 5px 0 1px;
	position: relative;
	top: -2px;
	vertical-align: middle;
}
label {
	display: inline-block;
}


/* !micro clearfix
---------------------------------------------------------- */

.cf:before,
.cf:after{
  content:"";
  display: table;
}
.cf:after{
  clear:both;
}
