@charset "utf-8";
/* style.css */


#contentsContainer {
	position: relative;
	width: 100%;
	overflow: hidden;
}
.contentsInner{
  background-image: url(../img/mv/ja/mv_bg.jpg);
  background-repeat: no-repeat;
  background-position: 50% 13px;
	}
#contentsContainer .mainvisual .wrapper_rslides ul.buttons{
position: absolute;
top: 230px;
left: 43.4%;
z-index: 1000;
	}
.mainvisual .mv .buttons li{
	margin-bottom: 3px;
	}
#mainvisual .mv .inner {
  width: 100% !important;
  margin: 0 auto;
}
#mainvisual .mv .inner {
  position: relative;
  width: 960px;
  margin: 0 auto;
}
#mainvisual .mv .inner {
  position: relative;
  width: 960px;
  margin: 0 auto;
}
#mainvisual .mv .inner div{
	width: 100%;
	text-align: center;
	}
#mainvisual .mv .inner div img{
	width: auto;
	z-index: 1;
}
#mainvisual .mv .rslides img{
	float: none !important;
	display: inline;
	}
#mainvisual .mv .slide1{
	background-image: url(../img/mv/mv_bg2016a.jpg);
	background-position: 50% 0;
	background-repeat: no-repeat;
	}
#mainvisual .mv #rslides1_s0{
	position: relative;
	background-image: url(../img/mv/mv_bg2016a.jpg);
	background-position: 50% 0;
	background-repeat: no-repeat;
	background-size: 1700px;
	}
#mainvisual .mv #rslides1_s1{
	position: relative;
	background-image: url(../img/mv/mv_bg2016b.jpg);
	background-position: 50% 0;
	background-repeat: no-repeat;
	background-size: 1700px;
	}
#mainvisual .mv .inner
#mainvisual .mv .inner .txt01,
#mainvisual .mv .inner .txt02,
#mainvisual .mv .inner .goal,
#mainvisual .mv .inner .concept {
  position: absolute;
  top:-5px;
}
.slide1 img, .buttons{
	opacity: 0;
	} 
#mainvisual p.topimage{
	position: absolute;
	}
#mainvisual .mv .inner .txt01{
	left:4px;
	}

#mainvisual .mv .inner .txt01 img,
#mainvisual .mv .inner .txt03 img,
#mainvisual .mv .inner .txt04 img,
#mainvisual .mv .inner .txt02 img,
#mainvisual .mv .inner .silhouette2,
#mainvisual .mv .inner .goal img {
  position: relative;
  display: none;
}

#mainvisual .mv .inner .concept {
  display: none;
}

#mainvisual .mv .inner .txt02 {
  top: 217px;
  left: -10px;
}

#mainvisual .mv .inner .txt03{
	position:absolute;
	top:88px;
	left:25px;
	}

#mainvisual .mv .inner .txt03 img{
	opacity:0;
	margin-left:13px;
	width:107px;
	}
#mainvisual .mv .inner .txt03 #goal-g{
	position:absolute;
	margin:9px 0 0 16px;
	}
	
#mainvisual .mv .inner .txt03 #goal-o{
	position:absolute;
	margin:4px 0 0 124px;
	}
	
#mainvisual .mv .inner .txt03 #goal-a{
	position:absolute;
	width:98px;
	margin:5px 0 0 245px;
	}

#mainvisual .mv .inner .txt03 #goal-l{
	position:absolute;
	width:84px;
	margin:5px 0 0 360px;
	}
	
#mainvisual .mv .inner .txt04 img {
	opacity:0;
	margin:84px 0 0 2px;
	width:496px;
	}
	
#mainvisual .mv .inner .goal {
  top: 209px;
  left: 329px;
}

#mainvisual .mv .inner .goal a {
  position: relative;
  display: none;
  width: 141px;
  height: 0;
  padding-top: 136px;
  background: url(../img/mv/mv_goal.png) no-repeat;
  overflow: hidden;
  zoom: 1;
  background-size:138px;
 -webkit-background-size: 140px 276px;
 }

#mainvisual .mv .inner .goal a:hover {
  background-position: 0 -136px;
}

#mainvisual .mv .inner .concept {
  top: 341px;
  left: 297px;
  width: 196px;
  padding: .25em 0;
  text-align: center;
}

#mainvisual .mv .inner .concept a {
  padding-left:8px;
  color: #426AB3;
  text-decoration: none;
  background: url(../img/mv/mv_icon_link.png) no-repeat 0 5px;
  font-size:0.9em;
}

#mainvisual .mv .inner .concept a:hover {
  text-decoration: underline;
}

#mainvisual .mv .inner .silhouette1 {
  position:absolute;
  top: 209px;
  left: 495px;
  width:310px;
  z-index:1;
  opacity:0;
}

#mainvisual .mv .inner .silhouette2 {
  opacity:0;
  position:absolute;
  top: 210px;
  left: 506px;
  width: 310px;
  z-index:0;
}
.prArea {
	position: absolute;
	top: 37px;
	right: 0;
	width: 240px;
	line-height: 1.42;
	background: #fff;
	z-index: 100;
}
	.prArea a {
		height: 100%;
		color: #333;
		text-decoration: none;
	}
	.prArea .txt {
		display: block;
		padding: .75em 1em 35px;
	}
	.prArea .txt span { display: block; }
	.prArea .txt .ttl {
		font-size: 16px;
		font-weight: bold;
	}
	.prArea a:hover .txt .ttl {
		color: #39f;
		text-decoration: underline;
	}
	.prArea a:hover .pct img { opacity: .8; }
	.prArea .txt .exp { margin-top: .5em; }

	.prArea .bx-wrapper { margin: 0; }
	.prArea .bx-wrapper .bx-viewport {
		left: 0;
		border: none;
		box-shadow: none;
		background: transparent;
	}
	.prArea .bx-wrapper .bx-pager {
		color: #666;
		padding: 0;
	}
	.prArea .bx-wrapper .bx-pager,
	.prArea .bx-wrapper .bx-controls-auto { bottom: .5em; }
	.prArea .bx-wrapper .bx-pager.bx-default-pager a {
		background: #fff;
		display: block;
		width: 9px;
		height: 9px;
		margin: 0 3px;
		border-radius: 12px;
		border: 3px solid #e1e3ec;
	}
	.prArea .bx-wrapper .bx-pager.bx-default-pager a.active {
		background: #3b499f;
		border: 3px solid #fff;
	}
@media screen and (max-width:736px) {
	#contentsContainer,
	.contentsInner {
		background-size: auto 340px;
	}
	.contentsInner {
		background-position: 50% 0;
		background-image: none;
	}
	#mainvisual .mv #rslides1_s0,
	#mainvisual .mv #rslides1_s1{
		background-size:180%;
		}
	#mainvisual .mv .inner div img{
	width: 100%;
	margin-left: 5%;
	}
	#contentsContainer .mainvisual .wrapper_rslides ul.buttons{
	top: 75%;
    left: 36%;
		}
	#mainvisual .mv .inner .buttons img{
	width: 80%;	
		}
	.prArea {
			position: static;
			width: 100%;
			margin: -120px 0 20px;
			border: 1px solid #3b499f;
			box-sizing: border-box;
		}
	.prArea .pct img {
    width: 100%;
    height: auto;
}
}

.l_top #main {
	background: url(../img/bg_main.png);
	background: rgba(255,255,255,.26);
}
@media screen and (max-width:736px) {
	.l_top #main {
		margin-left: 5px;
		margin-right: 5px;
		padding: 5px 5px 0;
	}
}


/* メインビジュアル
--------------------------------------------- */

.mainvisual {
	line-height: 1.5;
}
.mainvisual .inner {
	height: auto;
	width: auto !important;
}

@media screen and (max-width:736px) {
	#mainvisual .inner .txt01 { top:  -3px; left:  0px; }
	#mainvisual .inner .txt02 { top: 100px; left:  2px; }
	#mainvisual .inner .goal  { top:  47px; left: 98px; }

	#mainvisual .inner .txt01 img { width: 202px; margin-top:10px; height: auto; }
	#mainvisual .inner .txt02 img { width: 105px; height: auto; !important}

	#mainvisual .inner .goal a {
		width: 88px;
		padding-top: 88px;
		background-size: 100% auto;
	}
	#mainvisual .inner .goal a:hover {
		background-position: 0 0;
	}
	#mainvisual .inner .concept {
		top: 160px;
		left: 10px;
		width: auto;
	}
	#mainvisual .inner .concept a {
		display: block;
		padding: .5em 5px .5em 17px;
		color: #fff;
		background-color: rgba(80,95,170,.6);
		background-position: 5px 45%;
		font-size: 10px;
		line-height: 1;
	}
}

@media screen and (max-width:623px){
	.prArea{
		margin-top: 20px;
		}
	}
@media screen and (min-width:624px) and (max-width:736px) {
		#contentsContainer .mainvisual .wrapper_rslides ul.buttons{
			top: 68%;
    		left: 40%;

		}
		.prArea {
			position: static;
			width: 100%;
			margin: 20px 0;
			border: 1px solid #3b499f;
			box-sizing: border-box;
		}
		.prArea .pct img {
			width: 100%;
			height: auto;
		}
	}
.topPanel {
	position: relative;
	top: -198px;
    margin-bottom: -180px;
	padding: 6px;
    padding-right: 240px;
    z-index: 100;
	background: rgba(255,255,255,.26);
}
.topPanel ol, .topPanel ul, .topPanel li,
.topPanel dl, .topPanel dt, .topPanel dd {
	margin: 0;
	padding: 0;
	list-style: none;
}

	.topPanel .only-sp { display: none; }
	.topPanel .only-pc { display: block; }

	/* track */
	.topPanel .track {
		position: absolute;
		top: 6px;
    	right: 6px;
    	width: 234px;
		height: 180px;
		background: #b81212; /* Old browsers */
		background: -moz-linear-gradient(top, #cc0000 0%, #990000 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cc0000), color-stop(100%,#990000)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #cc0000 0%,#990000 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #cc0000 0%,#990000 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #cc0000 0%,#990000 100%); /* IE10+ */
		background: linear-gradient(to bottom, #cc0000 0%,#990000 100%); /* W3C */
		/* フィルターを使うとIE8,9でスライドパネルが表示されない */
		/* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0000', endColorstr='#990000',GradientType=0 ); /* IE6-9 */ */
		z-index: 3;
	}
	.topPanel .track dt {
		display: table;
		width: 100%;
		color: #fff;
		font-size: 16px;
		font-weight: bold;
		text-align: center;
		line-height: 1.35;
	}
	.topPanel .track dt > span {
		display: table-cell;
		height: 118px;
		vertical-align: middle;
	}
	.topPanel .track dt > span:before {
		content: '';
		display: block;
		margin: 0 auto .5em;
		width: 60px;
		height: 60px;
		background: #fff;
	}

	.topPanel .track form {
		margin-top: -8px;
		text-align: center;
		letter-spacing: -.4em;
	}
	.topPanel .track form * { letter-spacing: normal; }
	.topPanel .track .toiawaseNo,
	.topPanel .track .submit {
		font-family: inherit;
		font-size: inherit;
		height: 22px;
		margin: 0;
		padding: 4px 5px 3px;
		color: #fff;
		background: #e6b3b3;
		border: 3px solid #e6b3b3;
	}
	.topPanel .track .toiawaseNo {
		width: 150px;
		background: #970101;
		box-shadow: inset 1px 1px 2px rgba(0, 0, 0, .3);
		outline: none;
		border-top-left-radius: 2px;
		border-bottom-left-radius: 2px;
	}
	.topPanel .track .toiawaseNo::-moz-placeholder { color: #e2b3b3; }
	.topPanel .track .toiawaseNo:-moz-placeholder { color: #e2b3b3; }
	.topPanel .track .toiawaseNo:-ms-input-placeholder { color: #e2b3b3; }
	.topPanel .track .toiawaseNo::-webkit-input-placeholder { color: #e2b3b3; }

	.topPanel .track .submit {
		background: #e6b3b3;
		border-top-right-radius: 2px;
		border-bottom-right-radius: 2px;
		border-left: none;
		outline: none;
		vertical-align: bottom;
	}
	.topPanel .track .note {
		padding: .5em 0;
		color: #ffdada;
		text-align: center;
		font-size: 12px;
	}
	.topPanel .track .else {
		position: absolute;
		top: 0;
		right: 234px;
		bottom: 0;
		width: 0;
		background: #790101;
		overflow: hidden;
		z-index: 6;
		-webkit-transition: width 200ms ease;
		   -moz-transition: width 200ms ease;
				transition: width 200ms ease;
	}
	.topPanel .track.is-open .else,
	.topPanel .track .else-inner {
		width: 223px;
	}
	.topPanel .track .else ul {
		padding: 10px 10px 0 43px;
		line-height: 1.5;
	}
	.topPanel .track .else ul li a {
		display: block;
		margin-bottom: 2px;
		padding: 0 0 0 27px;
		color: #fff;
		font-weight: bold;
		text-decoration: none;
		background: #a90000 url(../img/panel/panel_icon_link.png) no-repeat 10px 48%;
	}
	.topPanel .track .else ul li a:hover {
		background-color: #620101;
	}
	.topPanel .track .else ul li a span {
		display: table-cell;
		vertical-align: middle;
		height: 52px;
	}
	.topPanel .track .else .close {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 43px;
		background: url(../img/panel/panel_icon_close.png) no-repeat 50% 50%;
		text-indent: -999em;
	}
	.topPanel .panel {
		display: table;
		width: 100%;
		font-weight: bold;
	}
	.topPanel .panel a {
		position: relative;
		display: table-cell;
		color: #fff;
		text-align: center;
		line-height: 1.35;
		vertical-align: middle;
	}
	.topPanel .panel a:hover {
		text-decoration: none;
	}

	/* top */
	.topPanel .panel.top {
		font-size: 16px;
		border-bottom: 2px solid #202860;
	}
	.topPanel .panel.top a {
		height: 118px;
		background: #4152c4; /* Old browsers */
		background: -moz-linear-gradient(top, #4152c4 0%, #2b3680 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4152c4), color-stop(100%,#2b3680)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #4152c4 0%,#2b3680 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #4152c4 0%,#2b3680 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #4152c4 0%,#2b3680 100%); /* IE10+ */
		background: linear-gradient(to bottom, #4152c4 0%,#2b3680 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4152c4', endColorstr='#2b3680',GradientType=0 ); /* IE6-9 */
	}
	/**
	 * IE8-9用にfilterを指定するとtable-cellのボーダーが表示されないため
	 * borderの代わりに擬似要素を使用
	 **/
	.topPanel .panel.top a:before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		border-right: 2px solid #202860;
	}
	.topPanel .panel.top a.redeliver:after {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		border-left: 2px solid #3e4786;
	}
	.topPanel .panel.top a.redeliver:after,
	.topPanel .panel.top a:before {
		height: 118px; /* for IE10 */
	}
	.topPanel .panel.top a:first-child {
		width: 475px;
	}
	.topPanel .panel.top a:hover {
		background: #283278;
	}

	/* bottom */
	.topPanel .panel.btm {
		table-layout: fixed;
		font-size: 14px;
		border-right: 2px solid #444b72;
		box-sizing: border-box;
	}
	.topPanel .panel.btm a {
		height: 60px;
		background: #616ba3;
	}
	.topPanel .panel.btm a:hover {
		background: #434a70;
	}
	.topPanel .panel.btm a:before {
	  position: absolute;
	  content: '';
	  display: block;
	  height: 30px;
	  top: 15px;
	  background: #464d76;
	}
	.topPanel .panel.btm a:before {
		left: -1px;
		border-left: 1px solid #6f78ab;
		border-right: 1px solid #3a4062;
	}
	.topPanel .panel.btm a.wts:before {
		content: none;
	}

	.topPanel .panel.top a > span { display: block; }
	.topPanel .panel.top a > span:before {
		content: '';
		display: block;
		margin: 0 auto .5em;
		width: 60px;
		height: 60px;
		background: #fff;
	}
	.topPanel .panel.btm a > span {
		position: relative;
		display: inline-block;
		padding: 0 10px 0 50px;
		text-align: left;
	}
	.topPanel .panel.btm a > span:before {
		content: '';
		position: absolute;
		top: 45%;
		display: inline-block;
		width: 40px;
		height: 40px;
		margin: -20px 0 0 -50px;
		background: #fff;
	}

	/* icons */
	.topPanel .track dt > span:before { background: url(../img/panel/panel_icon_track.png) no-repeat 50% 50%; }
	.topPanel .panel.top a.business > span:before { background: url(../img/panel/panel_icon_business.png) no-repeat 50% 50%; }
	.topPanel .panel.top a.redeliver > span:before { background: url(../img/panel/panel_icon_redeliver.png) no-repeat 50% 50%; }
	.topPanel .panel.btm a.wts > span:before { background: url(../img/panel/panel_icon_wts.png) no-repeat 50% 50%; }
	.topPanel .panel.btm a.fare > span:before { background: url(../img/panel/panel_icon_fare.png) no-repeat 50% 50%; }
	.topPanel .panel.btm a.branch > span:before { background: url(../img/panel/panel_icon_branch.png) no-repeat 50% 50%; }

@media screen and (max-width:736px) {
		.topPanel .only-sp { display: block; }
		.topPanel .only-pc { display: none; }

		.topPanel {
			margin-bottom: 10px;
			padding-right: 6px;
			top: 20px;
		}
		.topPanel a {
			line-height: 1.125;
		}

		/* track */
		.topPanel .track {
			position: static;
			width: auto;
			height: auto;
		}
		.topPanel .track dt {
			font-size: 12px;
		}
		.topPanel .track dt > span {
			height: auto;
			padding: 0 5px 5px;
		}
		.topPanel .track dt > span:before {
			width: 40px;
			height: 40px;
		}
		.topPanel .track form {
			margin-top: 0;
		}
		.topPanel .track .else {
			display: none;
			position: static;
		}
		.topPanel .track .toiawaseNo,
		.topPanel .track .submit {
			border-width: 1px;
			border-radius: 0;
		}
		.topPanel .track .toiawaseNo {
			width: 68%;
		}
		.topPanel .track .note {
			padding: .25em 0;
		}

		/* top */
		.topPanel .panel.top {
			font-size: 12px;
			font-weight: bold;
		}
		.topPanel .panel.top a {
			height: auto;
			padding: 5px 5px 8px;
			border-top: 2px solid #6775d0;
			border-right-width: 1px;
			border-bottom: none;
		}
		.topPanel .panel.top a:first-child {
			width: 50%;
		}
		.topPanel .panel.top a + a {
			border-left-width: 1px;
		}

		/* bottom */
		.topPanel .panel.btm {
			font-size: 12px;
			font-weight: bold;
			text-align: center;
			border-right: none;
		}
		.topPanel .panel.btm a {
			height: auto;
			padding: 0 5px 5px;
			border-top: 2px solid #7e86b4;
		}
		.topPanel .panel.btm a:before {
			top: 0;
			bottom: 0;
			height: auto;
		}
		.topPanel .panel.top a > span:before {
			width: 30px;
			height: 30px;
		}
		.topPanel .panel.btm a > span {
			padding: 0;
			text-align: center;
		}
		.topPanel .panel.btm a > span:before {
			position: static;
			display: block;
			margin: 0 auto;
			width: 30px;
			height: 30px;
		}

		/* icons */
		.topPanel .track dt > span:before { background-size: 70% auto; }
		.topPanel .panel.top a.business > span:before { background-size: 70% auto; }
		.topPanel .panel.top a.redeliver > span:before { background-size: 70% auto; }
		.topPanel .panel.btm a.wts > span:before { background-size: 70% auto; }
		.topPanel .panel.btm a.fare > span:before { background-size: 70% auto; }
		.topPanel .panel.btm a.branch > span:before { background-size: 70% auto; }

		.topPanel .track dt > span:before {
			margin-bottom: 0;
		}

		.topPanel .panel.btm a.fare > span:before,
		.topPanel .panel.btm a.branch > span:before {
			margin-bottom: 4px;
		}
	}


/* セクション共通 */
.section {
	position: relative;
}
.section .detail {
	position: absolute;
	top: 1em;
	right: 10px;
}
.section .detail li {
	margin-left: 1em;
}
@media screen and (max-width:736px) {
	.section {
		margin-bottom: 20px;
	}
	.section .detail {
		font-size: 12px;
		position: absolute;
		top: 1.5em;
		right: 0;
	}
}


/* お知らせ */
#info .title_module {
	margin-bottom: 0;
}


/* コンテンツフッター */
.contentFooter {
	min-height: 190px;
	background: #fff url(../img/contentfooter_bg.png) repeat-x;
	border-top: 1px solid #d9d9dc;
}
.contentFooter .inner {
	width: 960px;
	margin: 0 auto;
	padding-top: 30px;
}
.contentFooter .inner:after {
	content: '';
	display: block;
	clear: both;
}
.contentFooter .inner > a {
	display: block;
}
.contentFooter .box {
	float: left;
	width: 300px;
	padding-right: 20px;
}
.contentFooter .box h3 {
	margin-bottom: 1em;
	font-size: 16px;
	font-weight: bold;
}
.contentFooter .box h3 * {
	display: inline-block;
	vertical-align: middle;
}
.contentFooter .box h3 img {
	margin-right: 1em;
}
.contentFooter .box .txt {
	line-height: 1.6;
	overflow: hidden;
}
.contentFooter .box p {
	margin-bottom: 1.25em;
}
.contentFooter .box .pct {
	float: right;
	margin-left: 10px;
}
.contentFooter .box.box1 .pct {
	margin-left: -10px;
}
.contentFooter .box a.link-btn {
	display: inline-block;
	padding: .8em 1em .65em;
	border: 1px solid #dadce3;
	border-radius: 6px;
	text-decoration: none;
	background: #fbfbfb;
	background: -webkit-linear-gradient(top, #fff 0%, #f5f5f5 100%);
	background:         linear-gradient(to bottom, #fff 0%, #f5f5f5 100%);
}
.contentFooter .box a.link-btn:hover {
	color: #39f;
	background: #d9f2ff;
}
.contentFooter .box .link-btn:after {
	content: '';
	display: inline-block;
	margin-left: .25em;
	width: 10px;
	height: 9px;
	background: url(/common/img/ico_blank01.png) no-repeat;
}
.contentFooter .box .note {
	font-size: 12px;
}
@media screen and (max-width:736px) {
	.contentFooter {
		min-height: 0;
		margin-bottom: -1px;
		background: #f1f1f4;
	}
	.contentFooter .inner {
		width: auto;
		padding: 0;
	}
	.contentFooter .box {
		float: none;
		width: auto;
		padding: 15px 10px;
		border-bottom: 1px solid #d9d9dc;
	}
	.contentFooter .box2,
	.contentFooter .box .pct,
	.contentFooter .box .txt {
		display: none;
	}
	.contentFooter .box h3 {
		display: table;
		margin-bottom: 0;
		font-size: 14px;
		line-height: 1.5;
	}
	.contentFooter .box h3 > * {
		display: table-cell;
	}
}


/*------------------Smallest Android----------------*/
@media screen and (min-width:0) and (max-width:280px) and (orientation: portrait){
.contentsInner {
background-size: 180%;
background-position: 50.4% 0;
}
.mainvisual .inner {
  height: 120px;
}
#mainvisual .mv .inner .goal {
  top: 72px;
  left: 73px;
  width: 80px !important;
}
#mainvisual .mv .inner .goal a {
  width: 116px;
  padding-top: 40px;
  background: url(../img/mv/mv_goal.png) no-repeat;
  background-size: 41px;
}
#mainvisual .mv .inner .goal a:hover {
  background-position: 0 0;
}
.l_top #main {
 margin-top: 0;
}
}
/*--------------iPhone 5/6/6+XPeria用--------------*/
@media screen and (min-width:281px) and (max-width:320px) and (orientation: portrait){
.contentsInner {
background-position: 50.4% -0.24%;
}
.mainvisual .inner {
  height: 161px;
}
#contentsContainer .mainvisual .wrapper_rslides ul.buttons {
    top: 38%;
    left: 39%;
}
#mainvisual .mv .inner .goal {
  top: 92px;
  left: 110px;
}
#mainvisual .mv .inner .goal a {
  width: 116px;
  padding-top: 59px;
  background: url(../img/mv/mv_goal.png) no-repeat;
  background-size: 60px;
}
#mainvisual .mv .inner .goal a:hover {
  background-position: 0 0;
}
#mainvisual .mv .inner .concept {
  top: 144px;
  left: 88px;
  font-size: 10px;
}
#mainvisual .mv .inner .concept a{
	width:80px;
	background-position: 0 5px;
}
#mainvisual .inner .txt01 img {
  width: 180px !important;
  margin: 0 0 0 7px !important;
}
#mainvisual .mv .inner .txt02 {
  top: 101px;
  left: -5px;
}
#mainvisual .mv .inner .txt02 {
	width:97px;
	}
#mainvisual .mv .inner .txt03 #goal-g {
  position: absolute;
  margin: -42px 0 0 2px;
  width: 44px !important;
}
#mainvisual .mv .inner .txt03 #goal-o {
  margin: -44px 0 0 38px;
  width: 44px !important;
}
#mainvisual .mv .inner .txt03 #goal-a {
  width: 98px;
  margin: -42px 0 0 86px;
}
#mainvisual .mv .inner .txt03 #goal-l {
  width: 84px;
  margin: -42px 0 0 126px;
}
#mainvisual .mv .inner .txt04 img {
  margin: 45px 0 0 11px;
  width: 178px;
}
#mainvisual .mv .inner .silhouette2 {
  top: 84px;
  left: 186px !important;
  width: 155px;
}
.prArea {
			margin: 20px 0;
		}
.l_top #main {
 margin-top: 0;
}
}
@media screen and (min-width:0px) and (max-width:320px) and (orientation: portrait){
.contentsInner {
background-position: 51% -6px;
}
#mainvisual .mv .inner div img {
    margin-left: 6%;
}
.mainvisual .inner {
  height: 194px;
}
#contentsContainer .mainvisual .wrapper_rslides ul.buttons{
	width: 36%;
    top: 38%;
    left: 32%;
	}
#mainvisual .mv .inner .buttons img{
	width: 35%;
	}
#mainvisual .mv .inner .goal {
  top: 110px;
  left: 116px;
}
#mainvisual .mv .inner .goal a {
  width: 116px;
  padding-top: 73px;
  background: url(../img/mv/mv_goal.png) no-repeat;
  background-size: 74px;
}
#mainvisual .mv .inner .goal a:hover {
  background-position: 0 -73px;
}
#mainvisual .mv .inner .concept {
  top: 176px;
  left: 99px;
  font-size: 11px;
}
#mainvisual .mv .inner .concept a{
 width:91px;
   background-position: 0 6px;
}
#mainvisual .inner .txt01 img {
  width: 200px !important;
  margin-left: 7px;
}
#mainvisual .mv .inner .txt02 {
  top: 122px;
  left: -5px;
}
#mainvisual .mv .inner .txt03 #goal-g {
  position: absolute;
  margin: -26px 0 0 4px;
  width: 47px !important;
}
#mainvisual .mv .inner .txt03 #goal-o {
  margin: -28px 0 0 44px;
  width: 46px !important;
}
#mainvisual .mv .inner .txt03 #goal-a {
  width: 98px;
  margin: -26px 0 0 93px;
}
#mainvisual .mv .inner .txt03 #goal-l {
  width: 84px;
  margin: -27px 0 0 138px;
}
#mainvisual .mv .inner .txt04 img {
  margin: 60px 0 0 11px;
  width: 197px;
}
#mainvisual .mv .inner .silhouette2 {
	top: 113px !important;
	left: 22.4% !important;;
	width: 165px;
}
.topPanel{
	top: -85px;
	}
.prArea{
margin-top: -80px;	
}
.l_top #main {
 margin-top: 0;
}
	}
@media screen and (min-width:321px) and (max-width:360px) and (orientation: portrait){
	#contentsContainer .mainvisual .wrapper_rslides ul.buttons{
    top: 42%;
    left: 32%;
}
#mainvisual .mv .inner .buttons img{
	width: 35%;
	}
.topPanel{
	top: -70px;
	}
.prArea{
margin-top: -80px;	
}
	}
@media screen and (min-width:361px) and (max-width:375px) and (orientation: portrait){
.contentsInner {
background-position: 51.6% 3px;
}
.mainvisual .inner {
  height: 194px;
}
#contentsContainer .mainvisual .wrapper_rslides ul.buttons{
	top: 45%;
	left: 32%;
	}
#mainvisual .mv .inner .buttons img{
	width: 42%;
	}
#mainvisual .mv .inner .goal {
  top: 110px;
  left: 116px;
}
#mainvisual .mv .inner .goal a {
  width: 116px;
  padding-top: 73px;
  background: url(../img/mv/mv_goal.png) no-repeat;
  background-size: 74px;
}
#mainvisual .mv .inner .goal a:hover {
  background-position: 0 0;
}
#mainvisual .mv .inner .concept {
  top: 176px;
  left: 99px;
  font-size: 11px;
}
#mainvisual .mv .inner .concept a{
 width:91px;
   background-position: 0 6px;
}
#mainvisual .inner .txt01 img {
  width: 200px !important;
  margin-left: 7px;
}
#mainvisual .mv .inner .txt02 {
  top: 122px;
  left: -5px;
}
#mainvisual .mv .inner .txt03 #goal-g {
  position: absolute;
  margin: -26px 0 0 4px;
  width: 47px !important;
}
#mainvisual .mv .inner .txt03 #goal-o {
  margin: -28px 0 0 44px;
  width: 46px !important;
}
#mainvisual .mv .inner .txt03 #goal-a {
  width: 98px;
  margin: -26px 0 0 93px;
}
#mainvisual .mv .inner .txt03 #goal-l {
  width: 84px;
  margin: -27px 0 0 138px;
}
#mainvisual .mv .inner .txt04 img {
  margin: 60px 0 0 11px;
  width: 197px;
}
#mainvisual .mv .inner .silhouette2 {
  top: 57.5% !important;
  left: 23% !important;;
  width: 165px;
}
.topPanel{
	top: -50px;
	}
.prArea{
	margin-top: -60px;
	}
.l_top #main {
 margin-top: 0;
}
}
@media screen and (min-width:376px) and (max-width:414px) and (orientation: portrait){
.contentsInner {
background-size: 350%;
  background-position: 53.6% -4px;
}
#contentsContainer .mainvisual .wrapper_rslides ul.buttons {
    top: 49%;
    left: 31%;
	width: 35%;
}
.mainvisual .inner {
  height: 194px;
}
#mainvisual .mv .inner .wrapper_rslides ul.buttons img{
	width: 39%;
	}
#mainvisual .mv .inner .goal {
  top: 110px;
  left: 116px;
}
#mainvisual .mv .inner .goal a {
  width: 116px;
  padding-top: 73px;
  background: url(../img/mv/mv_goal.png) no-repeat;
  background-size: 74px;
}
#mainvisual .mv .inner .goal a:hover {
  background-position: 0 0;
}
#mainvisual .mv .inner .concept {
  top: 176px;
  left: 99px;
  font-size: 11px;
}
#mainvisual .mv .inner .concept a{
 width:91px;
   background-position: 0 6px;
}
#mainvisual .inner .txt01 img {
  width: 200px !important;
  margin-left: 7px;
}
#mainvisual .mv .inner .txt02 {
  top: 122px;
  left: -5px;
}
#mainvisual .mv .inner .txt03 #goal-g {
  position: absolute;
  margin: -26px 0 0 4px;
  width: 47px !important;
}
#mainvisual .mv .inner .txt03 #goal-o {
  margin: -28px 0 0 44px;
  width: 46px !important;
}
#mainvisual .mv .inner .txt03 #goal-a {
  width: 98px;
  margin: -26px 0 0 93px;
}
#mainvisual .mv .inner .txt03 #goal-l {
  width: 84px;
  margin: -27px 0 0 138px;
}
#mainvisual .mv .inner .txt04 img {
  margin: 60px 0 0 11px;
  width: 197px;
}
#mainvisual .mv .inner .silhouette2 {
   top: 57.6% !important;
  left: 223px !important;
  width: 165px;
}
.topPanel{
	top: -50px;
	}
.prArea{
	margin-top: -60px;
	}
.l_top #main {
 margin-top: 0;
}
	}
@media screen and (min-width:415px) and (max-width:568px) and (orientation: portrait){
#contentsContainer .mainvisual .wrapper_rslides ul.buttons {
	top: 38%;
    left: 38%;
    width: 25%;
	}
#mainvisual .mv .inner .buttons img{
	width: 63% !important;
	}
.topPanel{
	top: -100px;
    margin-bottom: -120px;
	}
}
@media screen and (min-width:569px) and (max-width:735px) and (orientation: portrait){
.contentsInner {
background-size: 284%;
  background-position: 53.6% -4px;
}
.mainvisual .inner {
  height: 218px;
}
#mainvisual .mv .inner .goal {
  top: 110px;
  left: 116px;
}
#mainvisual .mv .inner .goal a {
  width: 116px;
  padding-top: 73px;
  background: url(../img/mv/mv_goal.png) no-repeat;
  background-size: 74px;
}
#mainvisual .mv .inner .goal a:hover {
  background-position: 0 0;
}
#mainvisual .mv .inner .concept {
  top: 176px;
  left: 99px;
  font-size: 11px;
}
#mainvisual .mv .inner .concept a{
 width:91px;
   background-position: 0 6px;
}
#mainvisual .inner .txt01 img {
  width: 200px !important;
  margin-left: 7px;
}
#mainvisual .mv .inner .txt02 {
  top: 122px;
  left: -5px;
}
#mainvisual .mv .inner .txt03 #goal-g {
  position: absolute;
  margin: -26px 0 0 4px;
  width: 47px !important;
}
#mainvisual .mv .inner .txt03 #goal-o {
  margin: -28px 0 0 44px;
  width: 46px !important;
}
#mainvisual .mv .inner .txt03 #goal-a {
  width: 98px;
  margin: -26px 0 0 93px;
}
#mainvisual .mv .inner .txt03 #goal-l {
  width: 84px;
  margin: -27px 0 0 138px;
}
#mainvisual .mv .inner .txt04 img {
  margin: 60px 0 0 11px;
  width: 197px;
}
#mainvisual .mv .inner .silhouette2 {
   top: 61.8% !important;
  left: 35% !important;
  width: 165px;
}
.l_top #main {
 margin-top: 0;
}
	}
@media screen and (min-width:0px) and (max-width:320px) and (orientation: landscape){
.contentsInner {
  	background-size: 340%;
  	background-position: 50.6% -0.15%;
	}
.mainvisual .inner {
  height: 150px;
}
#mainvisual .mv .inner .buttons img{
	width: 38%;
	}
#contentsContainer .mainvisual .wrapper_rslides ul.buttons {
    top: 44%;
    left: 25%;
}
#mainvisual .mv .inner .txt01 {
	top:-10px;
	left: 13px;
}
#mainvisual .inner .txt01 img {
  margin-top: 0px;
  width: 175px !important;
}
#mainvisual .mv .inner .txt02 {
  top: 95px;
  left: -4px;
}
#mainvisual .inner .txt02 img {
  width: 95px !important;
  height: auto;
}
#mainvisual .mv .inner .txt04 img {
  	width: 175px;
    margin: 40px 0 0 12px;
}
#mainvisual .mv .inner .goal {
  top: 85px;
  left: 110px;
}
#mainvisual .mv .inner .txt03 #goal-g {
  margin: -44px 0 0 6px;
  width: 41px !important;
}
#mainvisual .mv .inner .txt03 #goal-o {
   margin: -44px 0 0 38px;
  width: 39px !important;
}
#mainvisual .mv .inner .txt03 #goal-a {
  margin: -44px 0 0 81px;
  width: 38px !important;
}
#mainvisual .mv .inner .txt03 #goal-l {
  margin: -45px 0 0 119px;
}
#mainvisual .mv .inner .goal a {
  padding-top: 56px;
  background-size: 57px;
}
#mainvisual .mv .inner .goal a:hover {
  background-position: 0 0;
}
#mainvisual .mv .inner .concept {
	top: 136px;
	left: 87px;
	width: 110px;
	font-size: 9px;
}
#mainvisual .mv .inner .concept a{
	padding-left:0;
	background-position: 7px 4px;
}
#mainvisual .mv .inner .silhouette2 {
  width: 132px !important;
  top: 55.7%;
  left: 19.8%;
}
.topPanel{
	top: -40px;
	}
.prArea{
	margin-top: -50px;
	}
.l_top #main {
 margin-top: 0;
}
	}
@media screen and (min-width:321px) and (max-width:480px) and (orientation: landscape){
.contentsInner {
  	background-size: 260%;
  	background-position: 48.6% -0.15%;
	}
.mainvisual .inner {
  height: 196px;
}
#mainvisual .mv .inner .buttons img{
	width: 55%;
	}
#contentsContainer .mainvisual .wrapper_rslides ul.buttons {
    top: 56%;
    left: 36%;
}
#mainvisual .mv .inner .txt01 {
	top:-7px;
	left: 13px;
}
#mainvisual .inner .txt01 img {
  margin-top: 0px;
  width: 270px !important;
}
#mainvisual .mv .inner .txt02 {
  top: 125px;
  left: -3px;
}
#mainvisual .inner .txt02 img {
  width: 135px !important;
  height: auto;
}
#mainvisual .mv .inner .txt04 img {
  	width: 267px;
    margin: 50px 0 0 12px;
}
#mainvisual .mv .inner .goal {
  top: 118px;
  left: 170px;
}
#mainvisual .mv .inner .txt03 #goal-g {
  margin: -36px 0 0 10px;
  width: 64px !important;
}
#mainvisual .mv .inner .txt03 #goal-o {
   margin: -37px 0 0 64px;
  width: 63px !important;
}
#mainvisual .mv .inner .txt03 #goal-a {
  margin: -37px 0 0 128px;
  width: 63px !important;
}
#mainvisual .mv .inner .txt03 #goal-l {
  margin: -36px 0 0 188px;
}
#mainvisual .mv .inner .goal a {
  padding-top: 64px;
  background-size: 65px;
}
#mainvisual .mv .inner .goal a:hover {
  background-position: 0 0;
}
#mainvisual .mv .inner .concept {
	top: 178px;
	left: 151px;
	width: 110px;
	font-size: 12px;
}
#mainvisual .mv .inner .silhouette2 {
  left: 29%;
  width: 183px !important;
  top: 54%;
}
.topPanel{
	top: -30px;
	}
.prArea{
	margin-top: -40px;
	}
.l_top #main {
 margin-top: 0;
}
	}
@media screen and (min-width:481px) and (max-width:568px) and (orientation: landscape){
.contentsInner {
  	background-size: 260%;
  	background-position: 48.6% -0.15%;
	}
.mainvisual .inner {
  height: 196px;
}
#mainvisual .mv .inner .buttons img {
    width: 65%;
}
#contentsContainer .mainvisual .wrapper_rslides ul.buttons {
    top: 66%;
    left: 38%;
}
#mainvisual .mv .inner .txt01 {
  left: 13px;
}
#mainvisual .inner .txt01 img {
  margin-top: 0px;
  width: 300px !important;
}
#mainvisual .mv .inner .txt02 {
  top: 143px;
  left: -3px;
}
#mainvisual .inner .txt02 img {
  width: 135px !important;
  height: auto;
}
#mainvisual .mv .inner .txt04 img {
  	width: 298px;
    margin: 60px 0 0 12px;
}
#mainvisual .mv .inner .goal {
  top: 132px;
  left: 150px;
}
#mainvisual .mv .inner .txt03 #goal-g {
  margin: -23px 0 0 12px;
  width: 68px !important;
}
#mainvisual .mv .inner .txt03 #goal-o {
   margin: -25px 0 0 74px;
  width: 66px !important;
}
#mainvisual .mv .inner .txt03 #goal-a {
  margin: -25px 0 0 148px;
}
#mainvisual .mv .inner .txt03 #goal-l {
  margin: -26px 0 0 214px;
}
#mainvisual .mv .inner .goal a {
  padding-top: 64px;
  background-size: 65px;
}
#mainvisual .mv .inner .concept {
	top: 178px;
	left: 221px;
	width: 110px;
	font-size: 12px;
}
#mainvisual .mv .inner .silhouette2 {
  left: 36.6%;
  width: 169px !important;
  top: 56.9%;
}
.prArea{
	margin-top: 20px;
	}
.l_top #main {
 margin-top: 0;
}
	}
@media screen and (min-width:569px) and (max-width:640px) and (orientation:landscape){
.contentsInner {
  background-size: 224%;
  background-position: 45.6% 0%;
}
.mainvisual .inner {
  position: relative;
  height: 210px;
}
#mainvisual .mv .inner .buttons img {
    width: 72%;
}
#contentsContainer .mainvisual .wrapper_rslides ul.buttons {
    top: 69%;
    left: 39%;
}
#mainvisual .inner .txt01 img {
    margin-left: 7px;
  width: 300px !important;
  margin-top: -2px;
}
#mainvisual .inner .txt02 img {
  margin: -66px 0 0 5px;
  width: 148px !important;
}
#mainvisual .mv .inner .txt03 #goal-g {
  margin: -23px 0 0 12px;
  width: 68px !important;
}
#mainvisual .mv .inner .txt03 #goal-o {
   margin: -25px 0 0 74px;
  width: 66px !important;
}
#mainvisual .mv .inner .txt03 #goal-a {
  margin: -25px 0 0 148px;
}
#mainvisual .mv .inner .txt03 #goal-l {
  margin: -26px 0 0 214px;
}
#mainvisual .mv .inner .txt04 img {
  opacity: 0;
  margin: 61px 0 0 10px;
  width: 299px;
}
#mainvisual .mv .inner .concept {
  top: 188px;
  left: 252px;
  width: 110px;
  font-size: 12px;
}
#mainvisual .mv .inner .goal {
  top: 144px;
  left: 171px;
}
#mainvisual .mv .inner .goal a {
  padding-top: 67px;
  background-size: 68px;
}
#mainvisual .mv .inner .goal a:hover {
  background-position: 0 -67px;
}
#mainvisual .mv .inner .silhouette2 {
	left: 41.6%;
	width: 185px !important;
	top: 119px;
}
.l_top #main {
 margin-top: 0;
}
	}
@media screen and (min-width:641px) and (max-width:667px) and (orientation: landscape){
.contentsInner {
  	background-size: 224%;
  	background-position: 45.6% -0.14%;
	}
.mainvisual .inner {
  height: 209px;
}
#contentsContainer .mainvisual .wrapper_rslides ul.buttons {
    top: 72%;
}
#mainvisual .mv .inner .txt01 {
  left: 13px;
}
#mainvisual .inner .txt01 img {
  margin-top: 0px;
  width: 300px !important;
}
#mainvisual .mv .inner .txt02 {
  top: 143px;
  left: -3px;
}
#mainvisual .inner .txt02 img {
  width: 135px !important;
  height: auto;
}
#mainvisual .mv .inner .txt04 img {
  	width: 298px;
    margin: 60px 0 0 12px;
}
#mainvisual .mv .inner .goal {
  top: 136px;
  left: 163px;
}
#mainvisual .mv .inner .txt03 #goal-g {
  margin: -23px 0 0 12px;
  width: 68px !important;
}
#mainvisual .mv .inner .txt03 #goal-o {
   margin: -25px 0 0 74px;
  width: 66px !important;
}
#mainvisual .mv .inner .txt03 #goal-a {
  margin: -25px 0 0 148px;
}
#mainvisual .mv .inner .txt03 #goal-l {
  margin: -26px 0 0 214px;
}
#mainvisual .mv .inner .goal a {
  padding-top: 66px;
  background-size: 67px;
}
#mainvisual .mv .inner .goal a:hover {
  background-position: 0 0;
}
#mainvisual .mv .inner .concept {
	top: 177px;
	left: 237px;
	width: 110px;
	font-size: 12px;
}
#mainvisual .mv .inner .silhouette2 {
	left: 43.5%;
  	width: 185px !important;
 	top: 55.8%;
  }
.l_top #main {
 margin-top: 0;
}
	}
@media screen and (min-width:668px) and (max-width:736px) and (orientation: landscape){
.contentsInner {
  	background-size: 217%;
  	background-position: 46% -0.16%;
	}
.mainvisual .inner {
  height: 225px;
}
#mainvisual .mv .inner .txt01 {
  left: 13px;
}
#mainvisual .inner .txt01 img {
  margin-top: 0px;
  width: 300px !important;
}
#mainvisual .mv .inner .txt02 {
  top: 143px;
  left: -3px;
}
#mainvisual .inner .txt02 img {
  width: 142px !important;
  height: auto;
}
#mainvisual .mv .inner .txt04 img {
  	width: 298px;
    margin: 60px 0 0 12px;
}
#mainvisual .mv .inner .txt03 #goal-g {
  margin: -23px 0 0 12px;
  width: 68px !important;
}
#mainvisual .mv .inner .txt03 #goal-o {
   margin: -25px 0 0 74px;
  width: 66px !important;
}
#mainvisual .mv .inner .txt03 #goal-a {
  margin: -25px 0 0 148px;
}
#mainvisual .mv .inner .txt03 #goal-l {
  margin: -26px 0 0 214px;
}
#mainvisual .mv .inner .goal {
  top: 136px;
  left: 0;
}
#mainvisual .mv .inner .goal a {
   padding-top: 88px;
  top: 134px;
  left: 163px;
  background-size: 89px;
}
#mainvisual .mv .inner .goal a:hover {
  background-position: 0 -88px;
}
#mainvisual .mv .inner .concept {
	top: 202px;
	left: 257px;
	width: auto;
	font-size: 13px;
}
#mainvisual .mv .inner .concept a {
	padding-left:10px;
  background-position: 0 7px;
}
#mainvisual .mv .inner .silhouette2 {
	top: 58.9%;
	left: 48%;
	width: 185px !important;
  }
.l_top #main {
 margin-top: 0;
}
	}

/*---------------------iPad----------------------*/


@media screen and (width:1024px) and (orientation:portrait){
.contentsInner {
background-size: 241%;
}
}
@media screen and (width:1024px) and (orientation:landscape){
.contentsInner {
background-size: 241%;
}
}

@media screen and (width:598px) and (orientation:landscape){

	#mainvisual .mv .inner .silhouette2 {
    left: 368px !important;
	}
}

/*2015.10.01追加*/
.slidePanelBranchSearch {
		position: absolute;
		background:#394588;
		top: 120px;
		right: 241px;
		bottom: 0;
		height: 0;
		width: 240px;
		overflow: hidden;
		z-index: 5;
		-webkit-transition: top 200ms ease, height 200ms ease;
		   -moz-transition: top 200ms ease, height 200ms ease;
				transition: top 200ms ease, height 200ms ease;
	}
	.slidePanelBranchSearchOpen {
		top: 0;
		height: 118px;
	}
	.branch .slidePanelBranchSearch .close {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		height:24px;
		width: 100%;
		background: url(../img/panel/panel_icon_close2.png) no-repeat 50% 50%;
		text-indent: -999em;
	}
	.keywordSearchBox{
	background:#4d5894;
	margin: 24px 7px 7px;
	padding: 5px 10px 5px 10px;
	}
	.keywordSearchBox a{
		color:#f5f5f9;
		font-size: 12px;
		text-decoration: underline;
	}
	.keywordSearchBox ul{
	text-align: center;
	}
	.keywordSearchBox li{
		background: url("../img/panel/panel_icon_link.png") no-repeat 0 center;
		padding-left:0.7em;
		margin-top: 0;
		display: inline-block;
	}
	.keywordSearchBox form {
    letter-spacing: -0.4em;
    text-align: center;
	}
	#keyword{
		font-family: inherit;
		font-size: inherit;
		height: 22px;
		margin: 0;
		padding: 4px 5px 3px;
		color: #fff;
		background: #cacddf;
		border: 3px solid #cacddf;
	}
	#keyword {
		width: 150px;
		background: #414b86;
		box-shadow: inset 1px 1px 2px rgba(0, 0, 0, .3);
		outline: none;
		border-top-left-radius: 2px;
		border-bottom-left-radius: 2px;
	}
	#keyword::-moz-placeholder { color: #949bbf; }
	#keyword:-moz-placeholder { color: #949bbf; }
	#keyword:-ms-input-placeholder { color: #949bbf; }
	#keyword::-webkit-input-placeholder { color: #949bbf;}
	.keywordTxt{
		font-size:85%;
		color:#FFF;
		text-align: center;
		padding:0;
	}
	#topBranchSearchSubmit{
	font-family: inherit;
	font-size: inherit;
	height: 22px;
	margin: 0;
	padding: 4px 5px 3px;
	color: #fff;
	background: #cacddf;
	border: 3px solid #cacddf;
}
	#topBranchSearchSubmit {
	background: #cacddf;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	border-left: none;
	outline: none;
	vertical-align: bottom;
}
@media screen and (max-width:736px) {
	.slidePanelBranchSearch {
		position: absolute;
		background:#616ba3;
		top: 188px;
		right: 0;
		bottom: 0;
		height: 0;
		width: 100%;
		overflow: hidden;
		z-index: 5;
		-webkit-transition: top 200ms ease, height 200ms ease;
		-moz-transition: top 200ms ease, height 200ms ease;
		transition: top 200ms ease, height 200ms ease;
	}
	.slidePanelBranchSearchOpen {
		top: 70px;
		height: 118px;
	}
		#keyword {
		border-width: 1px;
		border-radius: 0;
	}
	#keyword {
		width: 68%;
	}
	#topBranchSearchSubmit{
		border-width: 1px;
		border-radius: 0;
	}
}

/*2015.12.01追加*/
.app_pc li{
	display: inline-block;
	letter-spacing: normal;
	margin: 0 10px 2em 0;
	padding-top:3px;
	vertical-align: top;
	width: 135px;
}

.app_smt{display:none\9;}/*IE8*/

@media screen and (min-width:736px) {
	.app_smt{display:none;}
}

@media screen and (max-width:736px) {
	.app_pc{display:none;}
	.contentFooter .inner .app_smt > a {
		display: inline;
		}
	.app_smt{
		float: none;
		width: auto;
		}
	.contentFooter .app_smt h3 {
		display: table;
		margin-bottom: 0;
		padding:15px 10px;
		font-size: 14px;
		line-height: 1.5;
		font-weight: bold;
		color: #3b499f;
		width:100%;
		border-bottom:1px solid #d9d9dc;
	}
	.contentFooter .app_smt h3 img {
		margin-right: 1em;
	}
	.contentFooter .app_smt h3 > * {
		vertical-align: middle;
	}
	.app_smt ul{
		background:#e4e4e4;
		list-style-type: none;
		line-height:1.6;
		display:none;
		text-align:center;
		margin:0 -15px ;
		border-bottom:1px solid #d9d9dc;
		}
	.app_smt ul li{
		display: inline-block;
		padding:15px 10px;
		text-align: left;
		vertical-align: top;
		font-size:12px;
	}

}
@media screen and (min-width:667px) and (max-width:736px) and (orientation: landscape){
	#contentsContainer .mainvisual .wrapper_rslides ul.buttons{
		top: 72%;
		left: 41%;
		}
	}
/*-----------------iPad--------------------*/  
@media screen and (min-width:736px) and (max-width:1024px){
	#contentsContainer .mainvisual .wrapper_rslides ul.buttons {
		left: 39%;
		}
	}
@media screen and (min-width:1920px) {
	#contentsContainer .mainvisual .wrapper_rslides ul.buttons{
		top: 230px;
		left: 44.5%;
	}
}

/*-----------------New Responsive-----------------*/
/*! http://responsiveslides.com v1.54 by @viljamis */

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }
