/*
Theme Name: Downloadha 2014
Author: Farhadina
Author URI: http://www.farhadina.ir
Version: 4
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

@charset "UTF-8";

/*
 * http://git.io/normalize
 */


article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section,
summary {
	display: block;margin: 0; padding : 0
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:border-box;outline: 0;
	box-sizing: border-box;
}
audio,
canvas,
video {
	display: inline-block;
}
nav ,
ul ,
ol li,
li {
	list-style: none;
	margin: 0;
	padding: 0
}
audio:not([controls]) {
	display: none;
	height: 0;
}
[hidden], .hide {
	display: none;
}
html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
img {
	border: 0;
}
svg:not(:root) {
	overflow: hidden;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
::selection{
	background: #333333;
	color: #fff
}
::-moz-selection{
	background: #333333;
	color: #fff
}
@font-face {
	font-family: 'BYekan';
	src: url('fonts/BYekan.eot?#') format('eot'),
	url('fonts/BYekan.woff') format('woff'), 
	url('fonts/BYekan.ttf') format('truetype');
}
.clear {
	clear: both;
	height: 0
}
.divider , .dividerf  {
	background: url(images/divider.gif) #f3f4f4 repeat-x;
	height: 6px;
	width: 100%;
	margin: 10px 0px;
}
a {
	color: #3366fa;
	text-decoration: none;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	 transition: all 0.3s ease-out;
}
a:hover {
	color: #0B6BA6
}
body {
	direction: rtl;
	margin: 0;
	overflow-x:hidden;
	color: #3F3A3A; 
	background: #f4f4f3
}
input,textarea,button {
	font:13px/1.5 'BYekan',tahoma;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	 transition: all 0.3s ease-out;
}
h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
	font-family: 'BYekan',arial;
	margin: 0;padding: 0
}
h1 {
	font-size: 18px;
}
h2 {
	font-size: 15px;
}
h3 {
	font-size: 13px;
}
h4 {
	font-size: 12px;
}
h5, h6 {
	font-size: 11px;
}
#main, .header {
	width: 1200px;
	font: 11px/2 tahoma;
	margin: 0px auto;
	overflow-x: hidden;
	height: auto
}
#main {
	background: url(images/bgs.gif) repeat-y right;
}
.site-title {
	float: right;
	background: url(http://www.uptv.ir/wp-content/uploads/2016/01/uptv2.jpg) no-repeat;
	width: 285px;
	margin: 10px 0px 20px;
	height: 105px;
	font: 0px/0 x;
}
.site-title span {
	width: 200px;
	display: none;
	height: 75px;
}
.site-description {
	display: none;
}
.qoutes {
	float: right;
	padding: 45px 10px 0px 0px;
	color: #999;
	font: 12px/2 'BYekan',tahoma;
	text-shadow: 0px 0px 5px #fff;
}
.qoutes span {
	border-right: 2px solid #ccc;
	padding: 0px 5px 0px 0px;
}
.support {
	float: left;
	background: white;
	height: 60px;
	margin: 15px 0px 20px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.support .supt {
	background: url(http://up.taktemp.com/uploads/taktemp_14119395321.png) #98A6A8 no-repeat 0px -275px;
	width: 40px;
	height: 60px;
	float: right;
	-moz-border-radius: 0px 4px 4px 0px;
	-webkit-border-radius: 0px 4px 4px 0px;
	border-radius: 0px 4px 4px 0px;
}
.support .supc {
	float: right;
	width: 200px;
	margin: 5px 10px 0px 0px;
	font: 12px/2 'BYekan',tahoma;
}
.support .supc .dl {
	padding: 2px 6px;
	background: #8EB021;
	color: white;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}
.support .supc .help {
	padding: 2px 6px;
	background: #EAEAEA;
	color: #494B5A;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}
.topbanners-body {
	width: 970px;
	margin: 0 auto;
	overflow: hidden;
}
.spbanners {
	background: #DFDFDF;
	padding: 10px 10px 0px 10px;
	text-align: center;
}
.top-banners-right {
	float: right;
	margin: 0px 0px 10px 0px;
}
.top-banners-left {
	float: left;
	margin: 0px 0px 10px 0px;
}
.nav-primary {
	background: #2c2c2c;
	padding: .9em .75em;
	font: 13px/2 'BYekan',tahoma;
}
.nav-primary ul li {
	float: right;
	margin: 0 0 0 .1.5em
}
.nav-primary ul li a {
	color: #ccc;
	background: #222;
	margin: 0px 0px 0px .5em;
	padding: .4em .75em;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.nav-primary ul li a:hover {
	color: #fff;
	background: #58C9F3
}
.rightsidebar {
	width: 200px;
	background: #333;
	color: #bbb;
	float: right;
}
#search {
	width: 280px;
	float: left;
	background: #3a3a3a;
}
.searchtext {
	float: right;
	background: none;
	width: 230px;
	padding: 2px 6px;
	color: #999;
	text-align: right;
	border: 0;
}
.searchsubmit {
	border: 0;
  	background: url(images/icons.png) no-repeat left -620px;
	cursor: pointer;
	width: 35px;
	height:30px;
	float: left
}
.rightsc {
	height: auto
}
.rightsidebarc {
	padding: 10px 5px;
}
.rightsidebar h3.title {
	background: url(images/icons.png) no-repeat right -450px;
	padding: 2px 35px 2px 0px;
}
.rightsidebar h3.title span {
	background: #333;
	padding: 0px .5em 0 1em
}
.rightsidebar .categories {
	font: 14px/2 'BYekan',tahoma;
	border-top: 1px solid #444;
	border-bottom: 1px solid #444;
	padding: 10px 0px;
	display: block;
	background: #333
}
.status {
	margin: 10px 5px;
	background: #f2f2f2;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	color: #555
}
.status ul {
	padding: 10px;
	font: 11px/2 'BYekan',tahoma;
}
.status-t {
	background: url(images/icons.png) no-repeat  left -200px #FF6C60;
	-moz-border-radius: 4px 4px 0px 0px;
	-webkit-border-radius: 4px 4px 0px 0px;
	border-radius:4px 4px 0px 0px;
}
.status-t span {
	display: block;
	text-align: center;
	color: white;
	padding:50px 0px 10px 0px;
}
.archives {
	margin: 10px 5px;
	background: #3FCBBE;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	color: #fff;
	height: 130px;
}
.status ul {
	padding: 10px;
	font: 11px/2 'BYekan',tahoma;
}
.archives-t {
	background: url(images/icons.png) no-repeat  left -130px #39B7AC;
	-moz-border-radius: 4px 4px 0px 0px;
	-webkit-border-radius: 4px 4px 0px 0px;
	border-radius:4px 4px 0px 0px;
}
.archives-t span {
	display: block;
	text-align: center;
	color: white;
	padding:50px 0px 10px 0px;
}
.archiveselect {
	padding: 10px;
}
#archivekey {
	display: block;
	font: 13px/2 'BYekan',tahoma;
	color: white;
	-moz-border-radius: 4px;
	padding: 0px 3px;
	-webkit-border-radius: 4px;
	border-radius:4px;
	background: url(images/cursor.gif) #50CFC2 no-repeat left;
}
.archivelist {
	display: none;
	background: #3FCBBE;
	-moz-box-shadow: 2px 2px 6px #999;
	-webkit-box-shadow: 2px 2px 6px #999;
	box-shadow: 2px 2px 6px #999;
	z-index: 999;
}
.archivelist li {
	display: block;
	float:right;
	width: 50%;
}
.archivelist a {
	display: block;
	padding: 3px 5px;
	color: #fff;
	background: #3FCBBE;
}
.archivelist a:hover {
	background: #3DC2B9;
	color: #fff
}
.main-container {
	width: 1000px;
	float: left;
	background :#F4F4F3;
}
.bc {
	padding: .75em 3em; 
	background: url(images/home.gif) #fafcfa no-repeat 99% top;
	margin: 0 0 1em 0;
	color: #58C9F3;
	font: 12px/2 'BYekan',tahoma;
}
.bc a {
	color: #9F9F9F;
	padding: 2px 2px;
}
.bc a:hover {
	color: #444;
	border-bottom: 2px solid #FF6C60;
}
.maincontent {
	width: 690px;
	float: right;
	margin: 0px 10px 0px 0px;
}
.maincontent .offers {
	
}
.maincontent .offers .offers-t {
	background: url(images/star2.gif) no-repeat top right #58C9F3;
	width: 30%;
	height: 90px;
}
.maincontent .offers .offers-t-c {
	padding: 16px 55px 0px 0px;
	color: white;
}
.maincontent .offers .offers-t-c span {
	color:#DBF3FD
}
h2.archive-title {
	padding: 4px 7px;
	margin: 0px 0px 10px;
	background: white;
	border-right: 4px solid FF6C60
}
.post {
	margin: 0px 0px 10px 0px;
}
.topbanners468 {
	padding: 10px;
	background: #FAFCFA;
	-moz-border-radius: 4px ;
	-webkit-border-radius: 4px ;
	border-radius: 4px ;
}
article img {
	width: auto !important;
	height: auto !important;
}
.post img, .maincontent img {
	-ms-interpolation-mode: bicubic; 
	max-width: 100%;
} 
.post-content {
	padding: 0px 1em;
}
.post-content{padding:10px;color:#3F3F3F;text-align:justify;font: normal 12px/2.1em 'tahoma';overflow-x:hidden;clear:both;}
.post-content li{margin-right:17px;}

.post-content ol li{margin-right:12px;list-style-type:decimal}
.post-content p {margin:5px 0px 5px 0px;min-height:20px;}
.post-content br {clear:both}
.post-content img {max-width:100%; height: auto;}
.post-content blockquote,.post-content pre{background:#F9F9F9;font:14px BYekan,tahoma;line-height:2em;color:#999999;border-right:4px solid #F88C00;padding:15px;margin:10px 0 10px 0;}
.post-content pre{font:12px Tahoma !important}
.post-content h1,.post-content h2,.post-content h3,.post-content h4{font-family:BYekan,tahoma;color:#3F3F3F;margin:5px 0px;}
.post-content h1{font-size:18px;}
.post-content h2{font-size:15px;}
.post-content h3{font-size:14px;}
.post-content h4{font-size:13px;}
.post-content input,.post-content textarea{border-color: #F1F1F1;border-width:1px;border-style:solid;border-top-color: #DDDDDD;border-left-color: #DDDDDD;background:#F9F9F9;color:#515151;font:12px Tahoma;padding:8px;margin-bottom:10px;display:block;width:100%;min-height:30px;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;}
.post-content input[type="submit"]{border:0;background:#3498DB;color:#FAFAFA}

.post .tags {
	padding: 10px 0px 0px 0px;
	border-top: 1px solid #f5f5f5;
	margin: 10px 0px 0px 0px;
	text-align: justify;
}
.post .notfound {
	background: white;
	border-right: 4px solid #FF6C60
}
.post .tags span {
	height: 7px;
	width: 12px;
	background: #E8C500;
	display: inline-block;
	-moz-border-radius: 20px 2px 2px 20px ;
	-webkit-border-radius: 28px 2px 2px 20px ;
	border-radius: 20px 2px 2px 20px ;
}
.post .arrow {
	width: 7.5%;
	float: right;
	padding: 45px 0px 0px 0px;
	min-height: 50px;
	background: url(images/icons.png) no-repeat 0px -80px;
}
#social-links-in-more {
	overflow: hidden;
}
.social-post-fb, .social-post-cloob, .social-post-twitter{
	width: 24px;
	height: 24px;
	display: block;
	margin: 5px auto;
}
.social-post-fb span , .social-post-cloob span, .social-post-twitter span{
	width: 24px;
	height: 24px;
	display: none;
}
.social-post-fb {
	background: url(images/facebook_social_single.gif) no-repeat;
}
.social-post-cloob {
	background: url(images/cloob_social_single.gif) no-repeat;
}
.social-post-twitter {
	background: url(images/twitter_social_single.gif) no-repeat;
}
.social-post-plusone {
	display: block;
	width: 50px;
	overflow: hidden;
}
.post .entry {
	width: 92%;
	float: left;
	background: white;
	border-right: 4px solid #e2e2e2;
	border-top: 1px solid #e2e2e2;
	border-bottom: 1px solid #e2e2e2;
	border-left: 1px solid #e2e2e2;
}
.post:hover .entry {
	border-right: 4px solid #ff7a7a
}
.post .entry-etc {
	background: #e8e8e8;
	width: 92%;
	float: left;
	border-right: 4px solid #e2e2e2;
	border-top: 1px solid #e2e2e2;
	border-bottom: 1px solid #e2e2e2;
	border-left: 1px solid #e2e2e2;
}
.post .entry header,
.post .entry-etc header {
	padding: 5px;
	font: 12px/2 'BYekan',tahoma;
	color: #aaa;
	margin: 0 0 1em;
	border-bottom: 1px solid #e2e2e2;
}
.post .entry header h1 a ,
.post .entry header h1 ,
.post .entry-etc h1 {
	color: #222;
	font-size: 15px;
}
.post h1 {
	padding: 5px 0px
}
.post .entry header .view {
	background: url(images/icons.png) no-repeat right -188px;
	padding: 0px 22px 0px 0px;
	float: right;
	margin: 0px 0px 0px 15px;
}
.post .entry header .cat {
	background: url(images/icons.png) no-repeat right -216px;
	padding: 0px 22px 0px 0px;
	float: right;
	margin: 0px 0px 0px 15px;
}
.post .entry header .cat a, .post .entry header .view a {
	color: #aaa
}
.post .entry header .cat a:hover, .post .entry header .view a:hover {
	text-decoration: underline;
}
.post footer {
	border-top: 1px solid #e2e2e2;
	margin: 1em 0 0 
}
.post footer div {
	padding: 10px 35px 10px 10px;
	border-left: 1px solid #e2e2e2;
	float: right;
	font: 13px/2 'BYekan',tahoma
}
.post footer div:hover {
	background-color: #eee
}
.post footer .comment {
	background: url(images/icons.png) #f8f8f8 no-repeat right -45px
}
.post footer .author {
	background: url(images/icons.png) #f8f8f8 no-repeat right -90px
}
.post footer .date {
	background: url(images/icons.png) #f8f8f8 no-repeat right -0px
}
.post-more-link a {
	font: 13px/2 'BYekan',tahoma;
	background: #58C9F3;
	color: white;
	padding: .25em .75em;
	margin: 1em 0;
	border-right: 4px solid #31BEE8;
}
.post-more-link a:hover {
	border-right: 8px solid #31BEE8;
	text-shadow: 0px 0px 4px #D7F5FF
}
.post-content .tags {
	padding: 10px 0px;
	color: #999
}

.post-content .tags a {
	color: #777;
	padding: 2px 3px;
}
.post-content .tags a:hover {
	color: #fff;	
	background: #EE6A6A;
} 
#wp_page_numbers ul, #wp_page_numbers li, #wp_page_numbers a {
	background: white;
	text-align: right
}
#wp_page_numbers {
	margin: 10px 0px;
	font:13px/2 'BYekan',tahoma;
}
#wp_page_numbers ul {
	width: 100%;
}
#wp_page_numbers li {
	float: left;
	display: block;
	margin-bottom: 2px;
}
#wp_page_numbers a {
	padding: 3px 10px;
	margin-left: 2px;
	margin-right: 2px;
	display: block;
	color: #777;
	background: #f6f6f6;
	-moz-border-radius: 99px;
	-webkit-border-radius: 99px;
	border-radius: 99px;
}
#wp_page_numbers li a:hover {
	background: #68CEF4;
	color: white;
}
#wp_page_numbers li.space {
	padding: 6px;
	padding-left: 2px;
	padding-right: 2px;
}
#wp_page_numbers li.active_page a {
	background: #eee;
}
#wp_page_numbers li.active_page a:hover  {
	color: black;
}
#wp_page_numbers li.page_info {
	float: right;
	display: block;
	padding: 3px 5px;
	margin-right: 2px;
	color: #fff;
	background: #686D75;
}
.leftsidebar {
	float: left;
	width: 290px;
}
.leftsidebar .widget {
  	margin: 0px 0px 10px 0px;
	background: white;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.leftsidebar .widget .title h3 {
  	background: url(images/icons.png) #e5e5e5 no-repeat right -490px;
	padding: 8px 50px 8px 5px;
	-moz-border-radius: 4px 4px 0px 0px ;
	-webkit-border-radius: 4px 4px 0px 0px ;
	border-radius: 4px 4px 0px 0px;
	color: #666
}

.leftsidebar .newsbox,
.requriedsoft,
.vipsection {
  	margin: 0px 0px 10px 0px;
	background: white;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}


.leftsidebar .newsbox .thumb{
float: right;
}



.leftsidebar .newsbox .title h3 {
  	background: url(images/icons.png) #FF6C60 no-repeat right -547px;
	padding: 8px 50px 8px 5px;
	-moz-border-radius: 4px 4px 0px 0px ;
	-webkit-border-radius: 4px 4px 0px 0px ;
	border-radius: 4px 4px 0px 0px;
	color: white
}
.leftsidebar .vipsection .title h3 {
  	background: url(images/icons.png) #3297DA no-repeat right -607px;
	padding: 8px 50px 8px 5px;
	-moz-border-radius: 4px 4px 0px 0px ;
	-webkit-border-radius: 4px 4px 0px 0px ;
	border-radius: 4px 4px 0px 0px;
	color: white
}
.leftsidebar .newsbox .topnews-key {
  	background: #F3F3F3;
	font: 12px/2 'BYekan',tahoma;
}
.leftsidebar .newsbox .topnews-key a {
  	border-left: 1px solid #E1E3E7;
	display: block;
	background: url(images/star3.gif) #F3F3F3 no-repeat center 0px;
	float: right;
	color: #7A8089;
	width: 33%;	
}
.leftsidebar .newsbox .topnews-key a.last {
  	border:none;
}
.leftsidebar .newsbox .topnews-key a:hover,
.leftsidebar .newsbox .topnews-key a.active {
	background: url(images/star3.gif) #fff no-repeat center -75px
}
.leftsidebar .newsbox .topnews-key a span{
  	padding: 40px 0px 10px;
	display: block;
	text-align: center;	
}
.vipsection ul ,.leftsidebar .newsbox ul {
  	padding: 10px 0px;
}
.vipsection ul li a, .leftsidebar .newsbox ul li a, .relatedpostlist ul li a {
  	background: url(images/arrow.gif) no-repeat right 14px;
	padding: 5px 18px 5px 10px;
	color: #71767B;
	display: block;
}
.vipsection ul li a:hover, .leftsidebar .newsbox ul li a:hover, .relatedpostlist ul li a:hover{
  	background: url(images/arrow.gif) #58C9F3 no-repeat right 14px;
	color: white;
}
.leftsidebar .requrie-title {
	height: 60px;
	width: 25px;
	margin: 0px auto;
	background: url(images/icons.png) no-repeat 0px -345px;
}
.leftsidebar .requriedsoft h3 {
	text-align: center;
	border-bottom: 1px solid #e1e1e1;
	padding: 0 0 15px 0
}
.leftsidebar .requriedsoft ul li{
	padding: 10px;
	border-right: 4px solid #ebebeb;
	border-bottom: 1px solid #e7e7e7;
}
.leftsidebar .requriedsoft ul li:hover{
	border-right: 4px solid #E4E4E4;
}
.leftsidebar .textads a {
	display: block;
	margin: 5px 0px;
	padding: 6px;
	background: #EBECED;
	color: #747D81;
	-moz-border-radius: 3px 3px 0px 0px;
	-webkit-border-radius: 3px 3px 0px 0px;
	border-radius: 3px 3px 0px 0px;
}
.leftsidebar .textads a b {
	font: normal 12px/2 'BYekan',tahoma
}
.leftsidebar .textads a:hover {
	color: #fff;
	-moz-box-shadow: 0px 0px 4px #ccc;
	-webkit-box-shadow: 0px 0px 4px #ccc;
	box-shadow: 0px 0px 4px #ccc;
}
.leftsidebar .textads a.blue:hover {
	background: #3297DA;
}
.leftsidebar .textads a.green:hover {
	background: #E84A3A;
}
.leftsidebar .textads a.yellow:hover {
	background: #F1B20E;
}
#requiredsoft {
	-webkit-box-shadow:inset 0 1px 5px 0 #eee;
	box-shadow:inset 0 1px 5px 0 #eee
}
.requirethumb {
	float: right;
}
.requiredesc p {
	color: #999
}
.requiredesc h4 {
	font:12px/1.5 'BYekan',tahoma
}
.requiredesc h4 a {
	color: #5C5C63
}
.requiredesc h4 a:hover {
	color: #21BAED
}
.requiredesc {
	margin: 0px 10px 0px 0px;
	float: right;
}
/* single */
.post-features {
	background: white;
	border:1px solid #e2e2e2
}
.post-features .keys {
	background: #E2E2E2;
	width: 7%;
	float: right;
}
.post-features .keys a {
	display: block;
	height: 50px;
	width: 100%;
	border-right: 4px solid #c9c9c9;
	font: 0px/0 x;
}
.post-features .keys a:hover {
	background: #f5f5f5;
	border-right: 4px solid #bbb;
}
.post-features .keys .active {
	background: white;
	border-right: 4px solid #68CEF4;
}
.post-features .related {
	background: url(images/icons.png) no-repeat left -535px;
	height: 50px;
	width: 100%;
}
.post-features .comment {
	background: url(images/icons.png) no-repeat left -425px;
	height: 50px;
	width: 100%;
}
.post-features .content {
	width: 93%;
	float: left;
}
.post-features .post-f-c {
	padding: 10px 15px;
}
.post-features .post-f-c h3 span {
	color: #58C9F3
}
.comments-rules {
	border-right: 4px solid #eee;
	padding: 5px;
	margin: 10px 0px;
	color: #999;
}
.comments-rules h4 {
	color: #666
}
#commentform label ,.addcomment label {
	display: block;
	cl
	margin: 10px 0px;
}
#commentform .input-comment ,.addcomment .input-comment {
	width: 40%;
	padding: 8px 5px;
	border: none;
	outline: 0;
	background: #EFEFEF
}
#commentform .input-comment:focus,
.addcomment .input-comment:focus {
	-webkit-box-shadow: inset 0 0px 10px 0 #999;
	box-shadow: inset 0 0px 10px 0 #999
}
#commentform .text-box ,.addcomment .text-box {
	width: 100%;
	padding: 5px;
	background: #EFEFEF;
	border: none;
	outline: 0;
	height: 150px;
}
#commentform .comment-button  ,
.addcomment .comment-button {
	background: #58C9F3;
	padding: 5px;
	color: white;
	cursor:pointer;
	border: none;
	outline: 0;
	margin: 10px 0px 0px 0px;
	border-right: 4px solid #4FB4DA;
}
.commentset {
	margin: 0px 0px 10px 0px;
	padding: 10px 0px 0px 0px;
	word-wrap: break-word;
	border-top: 1px dashed #f1f1f1;
}
.comment-text {
	padding: 8px;
	color: #444;
	margin: 5px 0px 0px 0px;
        background: #f6f6f6;
	-moz-border-radius: 5px 0px 5px 5px;
	-webkit-border-radius: 5px 0px 5px 5px;
	border: 1px solid #e5e5e5;
}
.commentset h4 .name {
	background: url(images/icons.png) no-repeat right -105px;
	padding:0px 32px 0px 0px;
	float: right;
} 
.commentset h4 span.time {
	margin: 3px 10px 0px 0px;
 	font: 11px/2 tahoma;
	color: #999;
	float: left;
} 
.editComment, .editableComment, .textComment{
	display: inline;
}
.comment-childs{
	margin: 5px 0px;
        background: #f0f0f0;
	padding: 4px 6px;
	border-right: 4px solid #d1d1d1;
}
#cancel_reply {
	padding: 5px 0px;
	font: 13px/2 'BYekan',tahoma;
	text-align: left;
}
p.thdrpy {
	text-align: left;
	padding: 10px 0px 6px
}
p.thdrpy a {
	padding: 4px 6px;
	background:#68CEF4;
	color: #fff;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
p.thdrpy a:hover {
	background:#444;
	color: white;
}
#newcommentsubmit{
	color:#999
}
.mvccls{
}
.chalt{
}
#newcomment{
}
.adminreplycomment{
}
#newcommentcontent {
	margin: 5px 25px 5px 0px;
        background: #f6f6f6;
	padding: 4px 6px;
	color: #999;
	text-shadow: 0px -1px 0px #fff;
	-moz-border-radius: 10px 0px 10px 10px;
	-webkit-border-radius: 10px 0px 10px 10px;
}		
#footer {
	background: #FAF9Fa
}
#footer .tagslist {
	width: 49%;
	background: white;
	-moz-border-radius: 4px ;
	-webkit-border-radius: 4px ;
	border-radius: 4px;
	float: right;
}
#footer .tagslist-title {
	background: url(images/tags.gif) #6F6F73 no-repeat center center;
	width: 12%;
	float: right;
	min-height: 150px;
	-moz-border-radius: 0px 4px 4px 0px ;
	-webkit-border-radius: 0px 4px4px 0px ;
	border-radius: 0px 4px 4px 0px;
}
#footer .tagslist-title span {
	display: block;
	width: 100%;
	height: 100%;
}
#footer .tagslist-content {
	width: 84%;
	float: left;
	padding: 1em 0;
	margin-left: 1.5%;
	text-align: justify;
}
#footer .tagslist-content h3 {
	margin: 0 0 .25em;
}
#footer .tagslist-content a {
	color: #999;
	padding: 2px 5px;
	margin: 0 0 0 .5em;
	-moz-border-radius: 3px ;
	-webkit-border-radius: 3px ;
	border-radius: 3px;
	font: 12px/2 'BYekan',tahoma;
}
#footer .tagslist-content a:hover {
	color: #fff;
	background: #58C9F3
}
#footer .dlhacr {
	width: 49%;
	float: left;
	min-height: 150px;
	background: white;
	-moz-border-radius: 4px ;
	-webkit-border-radius: 4px ;
	border-radius: 4px;
}
#footer .dlhacrheader  {
	background: #58C9F3;
	color: white;
	height: 80px;
	position: relative;
	-moz-border-radius: 4px 4px 0px 0px ;
	-webkit-border-radius: 4px 4px 0px 0px ;
	border-radius:  4px 4px 0px 0px ;
}
#footer .dlhacrheader #social  {
	position: absolute;
	right: 3%;
	top: 25%;
	-moz-border-radius:99px ;
	-webkit-border-radius:99px ;
	border-radius: 99px ;
	background: #4FB4DA;
	padding: 4px 7px 0px 7px;
}
#footer .dlhacrheader #social span.is-hidden {
	display: none;
	height: 30px;
	width: 30px;
}
#footer .dlhacrheader #social .fb,
#footer .dlhacrheader #social .tw,
#footer .dlhacrheader #social .g,
#footer .dlhacrheader #social .rss {
	height: 30px;
	width: 30px;
	display:inline-block;
	background: url(images/icons.png) no-repeat 
}
#footer .dlhacrheader #social .fb {
	background-position: -7px -7px;
}
#footer .dlhacrheader #social .tw {
	background-position: -42px -7px;
}
#footer .dlhacrheader #social .g {
	background-position: -78px -7px;
}
#footer .dlhacrheader #social .rss {
	background-position: -113px -7px;
}
#footer .dlhacrheader #social .fb:hover {
	background-position: -7px -43px;
}
#footer .dlhacrheader #social .tw:hover {
	background-position: -42px -43px;
}
#footer .dlhacrheader #social .g:hover {
	background-position:  -78px -43px;
}
#footer .dlhacrheader #social .rss:hover {
	background-position:  -113px -43px;
}
#footer .dlhacrheader #logo {
	position: absolute;
	width: 160px;
	left: 5%;
	top: 25%;
	height: 40px;
	background: url(images/logominigif) no-repeat;
}
#footer .links {
	padding: .75em 0;
	text-align: center;
}
#footer .links ul {
	font: 12px/2 'BYekan',tahoma;
}
#footer .links ul li {
	display: inline-block;
	margin: .75em 0;

	border-left: 1px solid #E6E7EC;
}
#footer .links ul li a {
	color: #74829C;
	text-align: center;
	padding: 2em 1.60em 0 1.60em;
	display: block;
}
#footer .links ul li a:hover {
	color: #58C9F3
}
#footer .links ul li a.first {
	background: url(images/icons.png) center -660px no-repeat;
}
#footer .links ul li a.second {
	background: url(images/icons.png) center -710px no-repeat;
}
#footer .links ul li a.third {
	background: url(images/icons.png) center -760px no-repeat;
}
#footer .links ul li a.four {
	background: url(images/icons.png) center -810px no-repeat;
}
#footer .links ul li a.five {
	background: url(images/icons.png) center -860px no-repeat;
}
#footer .links ul li a.six {
	background: url(images/icons.png) center -250px no-repeat;
}
#footer .links ul li.last{
	border: 0;
}
.fixed {
	position: Relative;
	top: 0;
	width: 200px;
}

@media screen and (max-width: 1030px)  {
.fixed {
	position: fixed;
	top: 0;
	width: 17.8% !important
}
.dividerf {
	margin: 0px 0px 5px; 
}
.post .arrow {
	width: 8.5%;
	float: right;
	padding: 45px 0px 0px 0px;
	min-height: 50px;
	background: url(images/icons.png) no-repeat 0px -80px;
}
.post .entry {
	width: 91%;
}
.post .entry-etc {
	width: 91%;
}
}

@media screen and (max-width: 1200px) { 
.header , #main {
	width: 99%
}
.rightsidebar {
	width: 18%
}
.main-container {
	width: 82%
}
.maincontent {
	width: 68%;
	margin: 0 1% 0 0
}
.leftsidebar {
	width: 29%
}
}
@media screen and (min-width: 980px) { 
.categories ul li {
	position: relative;
}

.rightsidebar 
.cat-item-2,
.cat-item-2037,
.cat-item-3883,
.cat-item-170,
.cat-item-19075,
.cat-item-3260,
.cat-item-5716,
.cat-item-1489,
.cat-item-263,
.cat-item-52,
.cat-item-578,
.cat-item-18265,
.cat-item-981,
.cat-item-15176,
.cat-item-13753,
.cat-item-52,
.cat-item-15179
{
	background: url(images/icons.png) no-repeat -400px -242px !important;
	padding: 0px 28px 0px 0px;
}
.rightsidebar .cat-item- {
	background: url(images/icons.png) no-repeat -400px -344px !important;
	padding: 0px 28px 0px 0px;
}
.rightsidebar .cat-item- {
	background: url(images/icons.png) no-repeat -400px -292px !important;
	padding: 0px 28px 0px 0px;
}
.rightsidebar .cat-item- {
	background: url(images/icons.png) no-repeat -400px -394px !important;
	padding: 0px 28px 0px 0px;
}
.rightsidebar .cat-item- {
	background: url(images/icons.png) no-repeat -400px -394px !important;
	padding: 0px 28px 0px 0px;
}
#pull {
	display: none
}
.categories ul li a {
	display: block;
	padding: 4px 4px;
	color: #e7e7e7
}
.categories ul li a:hover {
	background: #545454;
	color: #fff
}
.categories ul li ul {
	display: none;
	position: absolute;
	top: 0px;
	right: 100%;
	width: 200px;
	background: #5d77ee;
}
.categories ul li ul a {
	color: #fff !important;
}
.categories ul li ul a:hover {
	color: #fff !important;
	background:#52BCE3
}
.categories ul li:hover ul {
	display: block;
}
.categories ul li ul li ul{
	display: none !important;
	position: absolute;
	top: 0px;
	right: 100%;
	width: 200px;
	font:12px/1.5 'BYekan',tahoma;
}
.categories ul li ul li:hover ul{
	display: block  !important;
}
}

@media screen and (max-width: 980px) { 
.status, .archives {
	margin: 10px 0px;
}
.fixed {
	position: static !important;
	width: 100% !important; 
}
.topbanners-body {
	width: 93%;
}
#main {
	background: none;
}
.status {
	float: right;
	width: 49%;
	background: white;
}
.archives {
	float: left;
	width: 49%
}
#main {
	position: relative
}
#pull {
	-moz-border-radius: 3px ;
	-webkit-border-radius: 3px ;
	border-radius: 3px;
	font: 15px/2 'BYekan',tahoma;
	background: #5A5B61;
	color: #fff;
	border-bottom: 4px solid #46474D;
	padding :2px 5px;
	display: block;
	text-align: center;
	margin: 5px 0px;
}
#pull:hover, #pull:active {
	background: #58C9F3;
	border-bottom: 2px solid #46474D;
}
.maincontent {
	width: 98%;
	float: none;
	margin: 0px 1% 20px 1%
}
.leftsidebar {
	width: 98%;
	float: none;
	margin: 0 1%
}
.rightsidebar {
	width: 100%;
	position: absolute;
	right: 0px;
	display: none;
	margin: 30px 0px 0px 0px;
	overflow-y: hidden;
	top: 88px
}
.main-container {
	width: 100%;
	float: none;
}
.rightsidebar .categories {
	border: none
}
.categories ul li a {color: #eee} 
.categories ul li { font:12px/2 'BYekan',tahoma;display: block; float: right; width:100%;padding: 1% 0} 
.categories ul li ul { font:12px/2 'BYekan',tahoma;padding: 2px 5px 20px 5px;display: block; float: left; width:90%;} 
.categories ul li ul li {  float: right; width:25%; ;padding: 0} 
.categories ul li ul a:first-child { border-bottom: 1px solid #444;padding: 0px 0px 3px 0px; } 
.categories ul li ul li ul:after {  clear:both} 
.categories ul li ul li ul {  float: none;width: 100%;padding:5px 0px 0px 0px} 
.categories ul li ul a {color: #ccc} 
.categories ul li ul li ul a:first-child { border: none} 
.categories ul li ul li ul li {  float:none; width:100%;} 
.categories ul li ul li ul li a{ font:11px/2 tahoma !important;color: #999;display: block;padding: 1px 4px;} 
.categories ul li ul li ul li a:hover{background: #555;color: white;} 
.adsright ,.cat-item-13 , .cat-item-19 , .cat-item-96 , .cat-item-35748,.cat-item-27007 , .cat-item-38, .cat-item-34284, .cat-item-13424, .cat-item-54403, .cat-item-35842, .cat-item-15420{ display: none !important; } 
.spbanners div {
	float: none
}
.spbanners iframe , .spbanners img {
	max-width: 100% !important;
}
.support {
width: 32%
}
}

@media screen and (max-width: 720px) { 
#footer .tagslist {
	width:100%;
	float: none;
	margin: 0px 0px 1em;
}

#footer .dlhacr {
	width:100%;
	float: none;
}
.support {
	display: none;
}
.site-title {
	float:none;
	background: url(http://www.uptv.ir/wp-content/uploads/2016/01/uptv.jpg) no-repeat;
	width: 200px;
	margin: 20px auto;
	height: 75px;
	font: 0px/0 x;
}
.qoutes {
	display: none;
}
.nav-primary .last {
	float: none;
}
#achivelist {
	z-index: 9999
}
#search {
	width:100%;
	float: none;
	margin: 20px 0px 0px 0px;
	background: #3a3a3a;
}
.searchtext {
	width: 86%;
}
.searchsubmit {
	width: 10%;
}
.rightsidebar {
	top: 140px
}
}

@media screen and (max-width: 550px) { 



footer .comment{
	display: none !important
}
#footer .dlhacrheader #social  {
	top: 75%;
}
.categories ul li ul li {
	width:49%;
} 
.post-features .keys {
	width: 10%;
}
.post-features .content {
	width: 90%;
}
.nav-primary {
	font-size: 11px
}
.post .arrow {
	width:0;
	display: none;
}
.post .entry {
	float: none;
	width: 100%;
}
#footer .links {
	padding: 1.75em 0 .5em;
}
}
/* Opera */
@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0)
{
.fixed { position:static !important }
}
noindex:-o-prefocus, .fixed {
 position:static !important
}
doesnotexist:-o-prefocus, .fixed{
 position:static !important
}


@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0)

{

.fixed { position:static !important }

}

noindex:-o-prefocus, .fixed {

 position:static !important

}

doesnotexist:-o-prefocus, .fixed{

 position:static !important

}

.downloadbox {
	font: 13px/2 'BYekan','calibri',tahoma;
}
.downloadline {
	padding: 10px 0px;
	display: block;
}
.downloadline a {
	padding: 8px 10px;
	background: #22CA7D;
	border-radius: 5px;
	color: white;
}
.downloadline a span {
	padding: 2px 6px;
	background: rgba(0,0,0,0.2);
	font-size: 12px;
	border-radius: 5px;
	margin: 0px 10px 0px 0px;
	color: white;
}
.downloadbox h3 {
	border-bottom: 1px solid #eee;
	padding: 5px 30px 5px 0px;
	background: url(http://www.downloadha.com/images/download.gif) no-repeat right center;
}
.noticedownload {
	background:#FFE39B;
	border-radius: 5px;
	color: rgba(0,0,0,0.5);
	padding: 5px 10px;
	margin: 0px 0px 15px;
}
.downloadinfo dt {
	width: 30%;
	float: right;
}
.downloadinfo dd {
	width: 65%;
	float: left;
}
.downloadhelp {
	background: #EAEBEE;
	margin: 0px 0px 15px;
	border-radius: 5px;
	font-size: 13px;
	text-align:justify;
	padding: 15px 15px;
	color: #8E8F99;	
}
.downloadhelp h3 {
	color: #535362;
	margin: 0px 0px 10px;	
}
#en-help {
	font-family: 'calibri',tahoma !important;
	text-align: left;
	direction: ltr;
}
#fa-help {
	font-family: 'BYekan',tahoma;
}
.post-ratings{
	width:25%;
	text-align:left;
	direction:ltr;
}
.google-plus-meta{
	position:absolute;
	left:10px;
	top:10px;
}
.index-plus{
	margin-top:10px;
}
.english-description{
	background:#fde2e0;
	border-right:3px solid #e56155;
	text-align:right;
	direction:rtl;
	padding:10px;
	margin-top:10px;
}
.english-description h3{
	font-family:tahoma;
}

.filmnet{
	background:#feffbf;
	border-right:3px solid #b3b601;
	text-align:right;
	direction:rtl;
	padding:10px;
	margin-top:10px;
}
.filmnet h3{
	font-family:tahoma;
}
.download-links{
	background:#dffedd;
	border-right:3px solid #088202;
	padding:10px;
	margin-top:10px;
}
.guide-box{
	background:#dcdcfd;
	border-right:3px solid #020282;
	padding:10px;
	margin-top:10px;
}
.install-description{
	background-color:#ebfcff;
	border-right:3px solid #0391ab;
	padding:10px;
	margin-top:10px;
}
.system-requirements{
	background:#fdf0dc;
	border-right:3px solid #865302;
	padding:10px;
	margin-top:10px;
}
.post-information{
	background:#f9e1fd;
	border-right:3px solid #720286;
	padding:10px;
	margin-top:10px;
}
.password-box{
	background:#e8e8e8;
	border-right:3px solid #9e9e9e;
	padding:10px;
	margin-top:10px;
}
.post-ads{
	background:#feffbf;
	border-right:3px solid #b3b601;
	padding:10px;
	margin-top:10px;
}
.post-box h3{
	font-size:18px!important;
}
.index-plus{
	text-align:center;
}
.gallery {
	margin: 20px -1.1666667% 20px;
	text-align:center;
}

.gallery-item {
	display: inline-block;
	max-width: 33.33%;
	padding: 0 1.1400652% 2.2801304%;
	text-align: center;
	vertical-align: top;
	width: 100%;
}
#gallery-1 .gallery-item{
	float:none!important;
}
.gallery-columns-1 .gallery-item {
	max-width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-icon img {
	margin: 0 auto;
}

.gallery-caption {
	color: #686868;
	display: block;
	font-size: 13px;
	font-size: 0.8125rem;
	font-style: italic;
	line-height: 1.6153846154;
	padding-top: 0.5384615385em;
}

.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
	display: none;
}

/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxWrapper {max-width:none;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0; padding:0; margin:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:#000; opacity: 0.9; filter: alpha(opacity = 90);}
#colorbox{outline:0;}
#cboxTopLeft{width:14px; height:14px; background:url(images/controls.png) no-repeat 0 0;}
#cboxTopCenter{height:14px; background:url(images/border.png) repeat-x top left;}
#cboxTopRight{width:14px; height:14px; background:url(images/controls.png) no-repeat -36px 0;}
#cboxBottomLeft{width:14px; height:43px; background:url(images/controls.png) no-repeat 0 -32px;}
#cboxBottomCenter{height:43px; background:url(images/border.png) repeat-x bottom left;}
#cboxBottomRight{width:14px; height:43px; background:url(images/controls.png) no-repeat -36px -32px;}
#cboxMiddleLeft{width:14px; background:url(images/controls.png) repeat-y -175px 0;}
#cboxMiddleRight{width:14px; background:url(images/controls.png) repeat-y -211px 0;}
#cboxContent{background:#fff; overflow:visible;}
.cboxIframe{background:#fff;}
#cboxError{padding:50px; border:1px solid #ccc;}
#cboxLoadedContent{margin-bottom:5px;}
#cboxLoadingOverlay{background:url(images/loading_background.png) no-repeat center center;}
#cboxLoadingGraphic{background:url(images/loading.gif) no-repeat center center;}
#cboxTitle{position:absolute; bottom:-25px; left:0; text-align:center; width:100%; font-weight:bold; color:#7C7C7C;}
#cboxCurrent{position:absolute; bottom:-25px; left:58px; font-weight:bold; color:#7C7C7C;}

/* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible;  position:absolute; bottom:-29px; background:url(images/controls.png) no-repeat 0px 0px; width:23px; height:23px; text-indent:-9999px;}

/* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
#cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}

#cboxPrevious{left:0px; background-position: -51px -25px;}
#cboxPrevious:hover{background-position:-51px 0px;}
#cboxNext{left:27px; background-position:-75px -25px;}
#cboxNext:hover{background-position:-75px 0px;}
#cboxClose{right:0; background-position:-100px -25px;}
#cboxClose:hover{background-position:-100px 0px;}

.cboxSlideshow_on #cboxSlideshow{background-position:-125px 0px; right:27px;}
.cboxSlideshow_on #cboxSlideshow:hover{background-position:-150px 0px;}
.cboxSlideshow_off #cboxSlideshow{background-position:-150px -25px; right:27px;}
.cboxSlideshow_off #cboxSlideshow:hover{background-position:-125px 0px;}
.yarpp-promote{
	display:none;
}
.buy-box{
	position:relative;
	margin:20px auto;
	text-align:center;
	z-index:999999;
	text-align:center;
}
.rightsidebar .cat-item-150646 {

	background: url(images/icons.png) no-repeat -400px -905px !important;

	padding: 0px 28px 0px 0px;

}
#snippet-box{
	display:none;
}
.wpp-views{
	display:none;
}
.post-type .aligncenter{
	text-align:center;
	margin:20px auto;
	display:block;
}




@media only screen and (max-width: 767px) and (min-width: 480px){
	#b2 {display:none;}
#b1 {display:none;}
}

@media only screen and (max-width: 479px) and (min-width: 320px){
	#b2 {display:none;}
#b1 {display:none;}
}

.link-ads ul li {
	color: #999
}
.link-ads ul li .link {
	color: #8FD253
}
.link-ads ul li a {
	color: #666
}
.link-ads ul li a:hover {
	text-decoration: underline
}
.link-ads ul li {
	background: -moz-linear-gradient(top, #FFFFFF 0%, #F5f5f5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#F5f5f5));
	text-align: center;
	padding: 10px 0px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border:1px solid #eee;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out; 
	margin: 10px 0px;
}
.link-ads ul li:hover {
	background: #f5f5f5
}
.link-ads ul li a {
	font: 13px 'BYekan'
}
.post-content{padding:10px;color:#3F3F3F;text-align:justify;font: normal 12px/2.1em 'tahoma';overflow-x:hidden;clear:both;}
.post-content p {margin:5px 0px 5px 0px;min-height:20px;}
.post-content br {clear:both}
.post-content img {max-width:100%; height: auto;}
.post-content blockquote,.post-content pre{background:#F9F9F9;font:14px BYekan,tahoma;line-height:2em;color:#999999;border-right:4px solid #F88C00;padding:15px;margin:10px 0 10px 0;}
.post-content pre{font:12px Tahoma !important}
.post-content h1,.post-content h2,.post-content h3,.post-content h4{font-family:BYekan,tahoma;color:#3F3F3F;margin:5px 0px;}
.post-content h1{font-size:18px;}
.post-content h2{font-size:15px;}
.post-content h3{font-size:14px;}
.post-content h4{font-size:13px;}
.post-content input,.post-content textarea{border-color: #F1F1F1;border-width:1px;border-style:solid;border-top-color: #DDDDDD;border-left-color: #DDDDDD;background:#F9F9F9;color:#515151;font:12px Tahoma;padding:8px;margin-bottom:10px;display:block;width:100%;min-height:30px;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;}
.post-content input[type="submit"]{border:0;background:#3498DB;color:#FAFAFA}

.post-content input,.post-content textarea{border-color: #F1F1F1;border-width:1px;border-style:solid;border-top-color: #DDDDDD;border-left-color: #DDDDDD;background:#F9F9F9;color:#515151;font:12px Tahoma;padding:8px;margin-bottom:10px;display:block;width:100%;min-height:30px;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;}
.post-content input[type="submit"]{border:0;background:#3498DB;color:#FAFAFA}
.download-links{
	background:#dffedd;
	border-right:3px solid #088202;
	padding:10px;
	margin-top:10px;
}
.post-content2{padding:10px;color:#3F3F3F;text-align:justify;font: normal 12px/2.1em 'tahoma';overflow-x:hidden;clear:both;}

.leftsidebar .film,.anim,.music, .newsbox,
.requriedsoft,
.vipsection {
  	margin: 0px 0px 10px 0px;
	background: white;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.leftsidebar .film .title h3 {
  	background: url(http://www.uptv.ir/wp-content/uploads/2016/06/icons2.png) #3fcbbe no-repeat right -667px ;
	padding: 8px 50px 8px 5px;
	-moz-border-radius: 4px 4px 0px 0px ;
	-webkit-border-radius: 4px 4px 0px 0px ;
	border-radius: 4px 4px 0px 0px;
	color: white
}

.leftsidebar .film ul {
  	padding: 10px 0px;
}
.leftsidebar  .film ul li a, .relatedpostlist ul li a {
  	background: url(http://www.uptv.ir/wp-content/uploads/2016/06/arrow.gif) no-repeat right 14px;
	padding: 5px 18px 5px 10px;
	color: #71767B;
	display: block;
}
.leftsidebar  .film ul li a:hover, .relatedpostlist ul li a:hover{
  	background: url(http://www.uptv.ir/wp-content/uploads/2016/06/arrow.gif) #50cfc2 no-repeat right 14px;
	color: white;
}




.leftsidebar .anim .title h3 {
  	background: url(http://www.uptv.ir/wp-content/uploads/2016/06/icons2.png) #ffc241 no-repeat right -727px ;
	padding: 8px 50px 8px 5px;
	-moz-border-radius: 4px 4px 0px 0px ;
	-webkit-border-radius: 4px 4px 0px 0px ;
	border-radius: 4px 4px 0px 0px;
	color: white
}

.leftsidebar .anim ul {
  	padding: 10px 0px;
}
.leftsidebar  .anim ul li a, .relatedpostlist ul li a {
  	background: url(http://www.uptv.ir/wp-content/uploads/2016/06/arrow.gif) no-repeat right 14px;
	padding: 5px 18px 5px 10px;
	color: #71767B;
	display: block;
}
.leftsidebar  .anim ul li a:hover, .relatedpostlist ul li a:hover{
  	background: url(http://www.uptv.ir/wp-content/uploads/2016/06/arrow.gif) #ffae00 no-repeat right 14px;
	color: white;
}



.leftsidebar .music .title h3 {
  	background: url(http://www.uptv.ir/wp-content/uploads/2016/06/icons2.png) #35a4ec no-repeat right -788px ;
	padding: 8px 50px 8px 5px;
	-moz-border-radius: 4px 4px 0px 0px ;
	-webkit-border-radius: 4px 4px 0px 0px ;
	border-radius: 4px 4px 0px 0px;
	color: white
}

.leftsidebar .music ul {
  	padding: 10px 0px;
}
.leftsidebar  .music ul li a, .relatedpostlist ul li a {
  	background: url(http://www.uptv.ir/wp-content/uploads/2016/06/arrow.gif) no-repeat right 14px;
	padding: 5px 18px 5px 10px;
	color: #71767B;
	display: block;
}
.leftsidebar  .music ul li a:hover, .relatedpostlist ul li a:hover{
  	background: url(http://www.uptv.ir/wp-content/uploads/2016/06/arrow.gif) #35a4ec no-repeat right 14px;
	color: white;
}

.specialpost{
clear: both;
background-color: #2C2C2C;
text-align: center;
color: #fff;
}

.specialpost h3{
font-size: 14px;
background-color: #ff6c60;
}
.specialpost div.spbox {
	float: none;
	clear: both;
	display: inline-block;
}
.lastfilm {display: flex;flex-wrap: wrap;text-align: center;padding: 20px;}
.lastfilms {margin: 4px;float: right;
border: 1px solid #ff6c60;
border-radius: 5px;
}
.lastfilms:hover {filter: contrast(100%) blur(1px) saturate(1%);border-radius: 5px;border: 1px solid #d6c900;}

.animate, .animate * {
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

