/* NOTE: Added the following on 01/21/16 - Modified this on 02/02/16 */
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon/fonts/icomoon.eot?x2xmod');
  src: url('../fonts/icomoon/fonts/icomoon.eot?x2xmod#iefix') format('embedded-opentype'),
       url('../fonts/icomoon/fonts/icomoon.ttf?x2xmod') format('truetype'),
       url('../fonts/icomoon/fonts/icomoon.woff?x2xmod') format('woff'),
       url('../fonts/icomoon/fonts/icomoon.svg?x2xmod#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* Use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-play:before {
    content: "\f198";
}
.icon-search:before {
    content: "\f002";
}
.icon-check:before {
    content: "\f00c";
}
.icon-video-camera:before {
    content: "\f03d";
}
.icon-plus:before {
    content: "\f067";
}
.icon-minus:before {
    content: "\f068";
}
.icon-sign-in:before {
    content: "\f090";
}
.icon-twitter:before {
    content: "\f099";
}
.icon-facebook:before {
    content: "\f09a";
}
.icon-facebook-f:before {
    content: "\f09a";
}
.icon-feed:before {
    content: "\f09e";
}
.icon-rss:before {
    content: "\f09e";
}
.icon-comments-o:before {
    content: "\f0e6";
}
.icon-youtube:before {
    content: "\f167";
}
.icon-instagram:before {
    content: "\f16d";
}
.icon-flickr:before {
    content: "\f16e";
}
.icon-tumblr:before {
    content: "\f173";
}
.icon-close:before {
    content: "\f00d";
}
.icon-remove:before {
    content: "\f00d";
}
.icon-times:before {
    content: "\f00d";
}
.icon-plane:before {
    content: "\f072";
}
.icon-globe:before {
    content: "\f0ac";
}
.icon-google-plus-square:before {
    content: "\f0d4";
}
.icon-dashboard:before {
    content: "\f0e4";
}
.icon-tachometer:before {
    content: "\f0e4";
}
.icon-file-text-o:before {
    content: "\f0f6";
}
.icon-angle-double-left:before {
    content: "\f100";
}
.icon-angle-double-right:before {
    content: "\f101";
}
.icon-angle-left:before {
    content: "\f104";
}
.icon-angle-right:before {
    content: "\f105";
}
.icon-clone:before {
    content: "\f24d";
}
.icon-calendar-check-o:before {
    content: "\f274";
}

/*
COMMENTED THIS OUT ON 10.04.16 (SEE: DS-1111 Sitewide OpenSans to Roboto Font) - RDJ:
Generated by Font Squirrel (http://www.fontsquirrel.com) on August 5, 2015
@font-face {
  font-family: open_sansbold;
  src: url('../fonts/opensans/opensans-bold-webfont.eot');
  src: url('../fonts/opensans/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/opensans/opensans-bold-webfont.woff2') format('woff2'),
       url('../fonts/opensans/opensans-bold-webfont.woff') format('woff'),
       url('../fonts/opensans/opensans-bold-webfont.ttf') format('truetype'),
       url('../fonts/opensans/opensans-bold-webfont.svg#open_sansbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: open_sans_condensedbold;
  src: url('../fonts/opensans/opensans-condbold-webfont.eot');
  src: url('../fonts/opensans/opensans-condbold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/opensans/opensans-condbold-webfont.woff2') format('woff2'),
       url('../fonts/opensans/opensans-condbold-webfont.woff') format('woff'),
       url('../fonts/opensans/opensans-condbold-webfont.ttf') format('truetype'),
       url('../fonts/opensans/opensans-condbold-webfont.svg#open_sans_condensedbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: open_sansregular;
  src: url('../fonts/opensans/opensans-regular-webfont.eot');
  src: url('../fonts/opensans/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/opensans/opensans-regular-webfont.woff2') format('woff2'),
       url('../fonts/opensans/opensans-regular-webfont.woff') format('woff'),
       url('../fonts/opensans/opensans-regular-webfont.ttf') format('truetype'),
       url('../fonts/opensans/opensans-regular-webfont.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
COMMENTED THIS OUT ON 10.04.16 (SEE: DS-1111 Sitewide OpenSans to Roboto Font) - RDJ
*/

/* ADDED THE FOLLOWING ON 10.04.16 (SEE: DS-1111 Sitewide OpenSans to Roboto Font) - RDJ: */
@font-face {
  font-family: 'robotobold';
  src: url('../fonts/roboto/Roboto-Bold-webfont.eot');
  src: url('../fonts/roboto/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/roboto/Roboto-Bold-webfont.woff') format('woff'),
       url('../fonts/roboto/Roboto-Bold-webfont.ttf') format('truetype'),
       url('../fonts/roboto/Roboto-Bold-webfont.svg#robotobold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto_condensedbold';
  src: url('../fonts/roboto/RobotoCondensed-Bold-webfont.eot');
  src: url('../fonts/roboto/RobotoCondensed-Bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/roboto/RobotoCondensed-Bold-webfont.woff') format('woff'),
       url('../fonts/roboto/RobotoCondensed-Bold-webfont.ttf') format('truetype'),
       url('../fonts/roboto/RobotoCondensed-Bold-webfont.svg#roboto_condensedbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoregular';
  src: url('../fonts/roboto/Roboto-Regular-webfont.eot');
  src: url('../fonts/roboto/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/roboto/Roboto-Regular-webfont.woff') format('woff'),
       url('../fonts/roboto/Roboto-Regular-webfont.ttf') format('truetype'),
       url('../fonts/roboto/Roboto-Regular-webfont.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* END ADDED THE FOLLOWING ON 10.04.16 (SEE: DS-1111 Sitewide OpenSans to Roboto Font) - RDJ */

@font-face {
  font-family: oswaldbold;
  src: url('../fonts/oswald/oswald-bold-webfont.eot');
  src: url('../fonts/oswald/oswald-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/oswald/oswald-bold-webfont.woff2') format('woff2'),
       url('../fonts/oswald/oswald-bold-webfont.woff') format('woff'),
       url('../fonts/oswald/oswald-bold-webfont.ttf') format('truetype'),
       url('../fonts/oswald/oswald-bold-webfont.svg#oswaldbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: pt_sansregular;
  src: url('../fonts/pt_sans/pt_sans-web-regular-webfont.eot');
  src: url('../fonts/pt_sans/pt_sans-web-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/pt_sans/pt_sans-web-regular-webfont.woff2') format('woff2'),
       url('../fonts/pt_sans/pt_sans-web-regular-webfont.woff') format('woff'),
       url('../fonts/pt_sans/pt_sans-web-regular-webfont.ttf') format('truetype'),
       url('../fonts/pt_sans/pt_sans-web-regular-webfont.svg#pt_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: pt_sansbold;
  src: url('../fonts/pt_sans/pt_sans-web-bold-webfont.eot');
  src: url('../fonts/pt_sans/pt_sans-web-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/pt_sans/pt_sans-web-bold-webfont.woff2') format('woff2'),
       url('../fonts/pt_sans/pt_sans-web-bold-webfont.woff') format('woff'),
       url('../fonts/pt_sans/pt_sans-web-bold-webfont.ttf') format('truetype'),
       url('../fonts/pt_sans/pt_sans-web-bold-webfont.svg#pt_sansbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on February 5, 2016 */
@font-face {
  font-family: 'great_vibesregular';
  src: url('../fonts/greatvibes/greatvibes-regular-webfont.eot');
  src: url('../fonts/greatvibes/greatvibes-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/greatvibes/greatvibes-regular-webfont.woff2') format('woff2'),
       url('../fonts/greatvibes/greatvibes-regular-webfont.woff') format('woff'),
       url('../fonts/greatvibes/greatvibes-regular-webfont.ttf') format('truetype'),
       url('../fonts/greatvibes/greatvibes-regular-webfont.svg#great_vibesregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
