﻿.searchInfo {
    position: absolute;
    height: 30px;
    width: auto;
    margin-left: 260px;
    margin-top: 4px;
    color: #666;
    font-size:12px;
}

    .searchInfo a {
        color: #666;
    }

        .searchInfo a:hover {
            color: #ff3f00;
        }

.popup_promo {
    position: relative;
    width: 150px;
    height: 70px;
    float: right;
}
