﻿/*Facebox-customize*/
#facebox .body{
    padding:10px;
    background:#fff;
    width:370px
}

#facebox .close{
    position:relative;
    opacity:1
}

#facebox .b{
    background:url(http://76.my/images/facebox/b.png)
}

#facebox .tl{
    background:url(http://76.my/images/facebox/tl.png)
}

#facebox .tr{
    background:url(http://76.my/images/facebox/tr.png)
}

#facebox .bl{
    background:url(http://76.my/images/facebox/bl.png);
    border:0
}

#facebox .br{
    background:url(http://76.my/images/facebox/br.png);
    border:0
}

#facebox .bl,#facebox .br,#facebox .tl,#facebox .tr{
    height:10px;
    width:10px;
    overflow:hidden;
    padding:0
}  