﻿@charset "UTF-8";

@font-face {
  font-family: "lmall-icons";
  src:url("../fonts/lmall-icons.eot");
  src:url("../fonts/lmall-icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/lmall-icons.woff") format("woff"),
    url("../fonts/lmall-icons.ttf") format("truetype"),
    url("../fonts/lmall-icons.svg#lmall-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "lmall-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "lmall-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-correct:before {
  content: "H";
}
.icon-wrong:before {
  content: "F";
}
.icon-fb-share:before {
  content: "h";
}
.icon-twitter:before {
  content: "e";
}
.icon-cars-transport:before {
  content: "r";
}
.icon-phone-tablet:before {
  content: "s";
}
.icon-beauty-personalcare:before {
  content: "u";
}
.icon-electronic-app:before {
  content: "p";
}
.icon-computer-software:before {
  content: "q";
}
.icon-fashion:before {
  content: "G";
}
.icon-medical:before {
  content: "d";
}
.icon-watches-clocks:before {
  content: "A";
}
.icon-toys-game:before {
  content: "C";
}
.icon-shopping-bag:before {
  content: "f";
}
.icon-q-na:before {
  content: "k";
}
.icon-follow-merchant:before {
  content: "b";
}
.icon-shopping-cart:before {
  content: "m";
}
.icon-private-msg:before {
  content: "g";
}
.icon-play-tri:before {
  content: "j";
}
.icon-scan-qr:before {
  content: "i";
}
.icon-favourite:before {
  content: "x";
}
.icon-user-name:before {
  content: "E";
}
.icon-baby-kids:before {
  content: "w";
}
.icon-camera-camcorder:before {
  content: "t";
}
.icon-jewelry:before {
  content: "y";
}
.icon-merchant-shop:before {
  content: "l";
}
.icon-home:before {
  content: "o";
}
.icon-sports-health:before {
  content: "J";
}
.icon-pet-supplies:before {
  content: "c";
}
.icon-password:before {
  content: "B";
}
