﻿
.hometop .titr
{
    color: #000;
    display: block;
    font: bold 23px/27px bnassim;
    text-decoration:none;
}

.hometop .lide  
{
    font:16px/19px IRNazanin;
    display:block;
    text-decoration:none;
    color:#555;
    
}
.hometop2 h1
{
    margin:10px 0;
}
.hometop2 .titr
{
    font:15px/18px bnassim; 
    display:block;
    text-decoration:none;
    color:#282423;
    height:54px;
    overflow:hidden;
}
#mvnmcntab
{
    background-color:#a6a6a6;
    color:#fff;
}
#mvnmcntab li:focus,#mvnmcntab li:active,#mvnmcntab li.active
{
    color:#000;
    background:url('images/icon50.png') no-repeat top left #ff9000;
}
#mvnmcntab #most-vstd.active
{
    background: url("images/icon50r.png")  no-repeat top right #ff9000;
}

#mvnmcntab li
{
    padding:7px 12px;
    cursor:pointer;
    font:15px/18px bnassim !important;
}

#mmtab
{
    color:#fff;
    margin:10px 0;
}
#mmtab li:focus,#mmtab li:active,#mmtab li.active
{
    color:#f1671f;
}


#mmtab li
{
    text-align:center;
    cursor:pointer;
    font:18px bnassim !important;
    border-left:1px solid #808080
}
#mmtab li:last-child{
    border-left:none;
}
.typewrite
{
    border-top:20px solid #fff;
    border-bottom:20px solid #fff;
    padding:0 !important;
}
.typewrite *
{
    margin:0;
    padding:0;
}
.typewrite a
{
    font:16px/14px rnassim !important;
    text-decoration:none;
    display:block;
    color:#111;
    padding:7px 0 3px 0;
    height:31px;
}
.typewrite a:hover,.typewrite a:focus,.typewrite a:active
{
    text-decoration:none;
    color:#111;
}
.typewrite .head
{
    background:url('images/bg10.png') no-repeat;
    font:bold 22px/20px IRNazanin;
    color:#fff;
    text-align:left;
    padding:9px 20px;
    width:145px;
}
.hometop2 
{
    margin-bottom:15px;
    
}
.homemm a
{
    font:18px/19px bnassim;
    display:block;
    text-decoration:none;
    color:#fff;
}
.homemm a:hover
{
    color:#f9651f;
    text-decoration:none;
}
.homemm .title
{
    background:url('images/icon51.png') no-repeat right center;
    color:#fff;
    font:18px bnassim;
    text-align:right;
    padding-right:20px;
    margin-bottom:5px;
}

.homemm .newslist
{
    position:relative;
    overflow:hidden;
    width:100%;
    background-color:#111;
}
.homemm .mmlist .newslist li {
    display:none;
}
.homemm .mmnav
{
    position:absolute;
    right:0;
}
.homemm .mmnav span
{
    display:block;
    padding:7px 6px;
    margin-top:2px;
    color:#fff;
    cursor:pointer;
    background-color:#000;
}
.homemm ul
{
    margin:0;
}
.homemm li
{
    padding:0 !important;
    width:100%;
    position:relative;
}
.mm-hover
{
    position:absolute;
    bottom:0;
    background-color:rgba(0,0,0,0.5);
    color:#fff;
    padding:0 20px;
    position: absolute;
    height: 0;
    transition: max-height 0.15s ease-out;
    overflow: hidden;
    width:100%;
}


.homemm li:hover .mm-hover {
    height: 100px;
    transition: height 0.25s ease-in;
}

.homemm .lide
{
    color:#fff;
    font:11px/14px tahoma;
    height:32px;
    margin-bottom:6px;
    overflow:hidden;
}
.homemm h2
{
    margin:5px 0;
}
.provlistbox
{
    height:78px;
    overflow:hidden;
}
/*********************/
@media (max-width: 980px) {
    .hometop2 > div:nth-child(n+5) {
        display: none;
    }
}
@media (max-width: 800px) {
    .hometop2 > div:nth-child(n+4) {
        display: none;
    }
}
/*********************/

.bullet55
{
    font-weight:bold;
}
.related-top1{
    margin-top:10px;
    max-height:112px;
    overflow:hidden;
}
ul.jqtree-tree {
    margin-right: 0 !important;
}

.adv1 img{
    height:66px;
}
.mmlist{
    padding:20px 30px 30px 30px;
}
.mmnavbar {
    padding-bottom:10px;
    list-style: outside none none;

}
.mmnavbar li {
    background-color: #808080;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    float: left;
    font: bold 14px b nazanin,arial;
    height: 10px;
    margin-right: 5px;
    width: 10px;
}
.mmnavbar li.active {
    background-color: #ff0000;
}
.newsmore2 {
    background: rgba(0, 0, 0, 0) url("/Resource/images/morenews1.png") no-repeat scroll 0 0;
    cursor: pointer;
    display: block;
    height: 30px;
    width: 159px;
}
.homespecial1 div:last-child{
    border:none;
}