﻿/*@font-face {
    font-family: 'IRNazanin';
    src: url('fonts/irnazaninregular.eot');
    src: url('fonts/irnazaninregular.eot?#iefix') format('embedded-opentype'),
         url('fonts/irnazaninregular.woff2') format('woff2'),
         url('fonts/irnazaninregular.woff') format('woff'),
         url('fonts/irnazaninregular.ttf') format('truetype'),
         url('fonts/irnazaninregular.svg#irnazaninregular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
    font-family: 'IRNazanin';
    src: url('fonts/irnazaninbold.eot');
    src: url('fonts/irnazaninbold.eot?#iefix') format('embedded-opentype'),
         url('fonts/irnazaninbold.woff2') format('woff2'),
         url('fonts/irnazaninbold.woff') format('woff'),
         url('fonts/irnazaninbold.ttf') format('truetype'),
         url('fonts/irnazaninbold.svg#irnazaninbold') format('svg');
  font-weight: 700;
  font-style: normal;
}*/
@font-face {
  font-family: rnassim;
  src: url('fonts/nassim-regular.eot?#') format('eot'),  
       url('fonts/nassim-regular.woff') format('woff'),  
       url('fonts/nassim-regular.ttf') format('truetype'); 
}
@font-face {
  font-family: bnassim;
  src: url('fonts/nassim-bold.eot?#') format('eot'),  
       url('fonts/nassim-bold.woff') format('woff'),  
       url('fonts/nassim-bold.ttf') format('truetype'); 
}
@font-face {
  font-family: newstext;
  src: url('fonts/Vazir.woff') format('woff'); 
}

body
{
    font:1.5em/1.3em IRNazanin;
    background: url("images/1bg.png") repeat-x #fff ;
    color:#000;
}
.ltr
{
    direction:ltr;
}
.rtl
{
    direction:rtl;
}
/*.container
{
    background-color:#eceeed;
}*/
.siteheader
{
    position:relative;
    height:101px;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:right top;
}
.siteheader>div
{
    position:absolute;
    left:0;
    bottom:7px;
    line-height:14px;
    color:#fff;
}
.sitemenu0 
{
    margin:0;
    padding:0;
}
    .sitemenu0 a {
        padding: 4px 10px !important;
        color:#555;
        font-size:13px;
    }
.sitemenu0 a:hover, .sitemenu0 a:focus {
    background:none !important;
}


.sitemenu0 .divider
{
    vertical-align:middle;
}
.sitemenu0 .divider span
{
    display:block;
    width:1px;
    background-color:#888;
    height:15px;
}
.headertop
{
    background-color:#ededed;
    height:30px;
}
.searchbox .btn
{
    border:none;
    background-color:#444;
    color:#fff;
    border-bottom:1px solid #888;
    border-top:1px solid #888;
}
.searchbox .btn:hover,.searchbox .btn:focus
{
    background-color:#aaa;
    color:#444;
    border:none;
}
.searchbox .glyphicon
{
    top:0;
}
.sitemenu a
{
    font:14px/18px bnassim !important;
    padding: 10px 8px !important;
}
.sitemenu a.active
{
    color:#fff !important;
}
.sitemenu.navbar 
{
    background:none;
    border:none;
    margin:0;
    background-color:#282423;
    border-radius:0;
    min-height:42px;
}


.sitemenu .divider
{
    width:1px;
    background-color:#666;
    height:15px;
    margin-top:12px;
}
.block1  
{
    overflow:hidden;
}
.block2  
{
    overflow:hidden;
}
.block1 h2,.block1 h3
{
    margin:0;
    padding:0;
    line-height:none;
    display:inline;
    font-size:14px;
}
.block1 span
{
    font-size:10px;
    color:#1a3369;
    margin-left:7px;
    top:4px;
}
.block1 a
{
    font:12px tahoma;
    color:#1a3369;
    text-decoration:none;
}
.block1 a:hover
{
    color:#bd0000;
}
.special-media:last-child{
    border-bottom:none !important; 
}

.media-body
{
    padding-right:17px;
}
.media-body .lide
{
    max-height:58px;
    overflow:hidden;
}
.media-body .rotitr,.media-body .date
{
    font:10px/14px tahoma;
    margin-top:0;
    color:#888;
}
.media-body h2
{
    margin:4px 0;
}
.media-body .titr
{
    color:#000;
    font:0.57em  bnassim;
    display:block;
    text-decoration:none;
}
.block2 .title,.block3 .title
{
    color: #000;
    font: bold  20px IRNazanin;
    text-align: right;
    border-bottom:1px solid #ddd;
    height:16px;
    margin-bottom:20px;
}
.block2 .title span,.block3 .title span
{
    background: url("images/icon51.png") no-repeat right center #fff;
    padding-right: 22px;
    padding-left:7px;
}
.block3 .title span
{
    background: url("images/icon52.png") no-repeat right center #fff;
}
/*
.footermenu
{
    margin:7px auto;
}*/
.sitemenu0.footer
{
    margin: 0 auto;
    padding: 0;
    width: 320px;
}
.sitemenu0.footer .divider
{
    padding-top:6px;
}
.sitemenu0.footer a
{
    color:#fff;
}
.sitemenu0.footer .divider span
{
    background-color:#fff;
}
.footertext *
{
    color:#fff;
    text-decoration:none;
    white-space:nowrap;
}
.footertext a
{
    font:bold 10px tahoma !important;
}
.footertext a:hover
{
    text-decoration:none;
    color:#fff;
}
.footertext .list-unstyled li{
    margin:-4px 0;
}
.panel-heading {
    padding: 5px 15px;
}

.panel-footer {
	padding: 1px 15px;
	color: #A0A0A0;
}

.profile-img {
	width: 96px;
	height: 96px;
	margin: 0 auto 10px;
	display: block;
}
.pagination-container
{
    text-align:center;
}
.archivelist .media:hover a
{
    color:#bd0000;
}
.archivelist .media
{
    padding:7px;
}
.archivelist .media:nth-child(2n+1)
{
    background-color:#fff;
}
#searchfilterform 
{
    border:1px solid #aaa;
    padding:10px;
    border-radius:4px;
    margin:10px 0;
}

/*********************/
@media (max-width: 980px) 
{  
    .sitemenu a
    {
        padding:10px 5px !important;
    }
}
/*********************/

/****mohsen****/
.sitemenu a.active
{
    color:#63e3e4 !important;
    background:rgba(0, 0, 0, 0) url("images/menu-bullet.png") no-repeat scroll bottom center;
    border-bottom:4px solid;
    margin-bottom:-5px;
}
.sitemenu #dropdownMenu1{
    background:none !important;
    border:none !important;
     font: 14px/18px bnassim !important;
     padding:0;
     text-shadow:none !important;
     color:#ddd;
     box-shadow:none !important;
    
}
.sitemenu #dropdownMenu1:hover{
     color:#ffffff;
}
.sitemenu .dropdown-menu a.active {
    color: #D70000 !important;
}
.archivelink1 {
    margin: 0 auto;
    display: block;
    padding: 9px;
    background: #82c333;
    border-radius: 12px;
    color: #ffffff !important;
    text-align: center;
    width: 168px;
    text-decoration: none !important;
    font-size: 18px;
}
.boxtitle-1 {
    color: #8a8a8a;
    border-bottom: 2px solid #ededed;
    padding: 0 0 10px 0;
    margin: 15px 0;
    font-size: 17px;
    font-weight:bold
}
.boxtitle-1 span.orange {
    color: #ffb802;
    margin-right: 5px;
}
.newsmore {
    width: 159px;
    height: 30px;
    background: url(/Resource/images/morenews.png) no-repeat;
    display: block;
    cursor: pointer;
}
.newsmore1 {
    width: 20px;
    height: 18px;
    background: url(/Resource/images/archive20.png) no-repeat;
    display: block;
    cursor: pointer;
}
.ostanmenu {
    background: #888 ;
    padding: 15px 30px;
    position: relative;
}
.ostanmenu li{
    width: 136px;
    display: inline-block;
    /*position: relative;*/
}
.ostanmenu li span{
    /*color: #ffffff !important;*/
    font-size: 13px;
}
.ostanmenu li.jqtree-folder.jqtree-closed{
    background: none;
}
.ostanmenu li.jqtree-folder.jqtree-closed span{
    color: #ffffff !important;
}
.ostanmenu li.jqtree-folder{
    background: #4c4c4c;
}
.ostanmenu li.jqtree-folder span{
    color: #f7cb14 ;
}
.ostanmenu #ostancity >ul >li ul{
    position: absolute;
    background: #4c4c4c;
    z-index: 999;
    padding: 10px;
    right: 0;
    width: 100%;
}

/***end mohsen*/
.related-top-titr{
    color: #000 !important;
    display: block;
    font: 1em irnazanin;
    font-weight:bold;
    overflow: hidden;
    max-height:45px;
    text-decoration: none !important;
}
.related-top-titr:hover {
    color:#305fa0 !important;
}

.titr:hover{
    color: #118ee6;
}
.block3 .titr {
    color: #555;
    font: 15px/18px bnassim;
    text-align: right;
}
.block3 .titr:hover {
    color: #305fa0;
}
.block2 .titr {
    color: #555;
    font: 15px/18px bnassim;
    text-align: right;
}
.block2 .titr:hover {
    color: #305fa0;
}
.input-group .form-control {
    height:22px;
    width: 210px;
}
.input-group-btn .btn{
      height:22px;
}
.input-group-btn .glyphicon-search::before {
    content: "";
    left: 5px;
    position: absolute;
    top: 1px;
}

.gold-title {
    background: #ededed;
    color: #4a4a4a;
    padding:5px 10px;
}
.gold-info {
    background: #ededed;
    color: #4a4a4a;
    padding:0 10px;
}
.gold-info li {
    padding:7px 0 16px;
}
 .gold-info .divider span {
    background-color: #888;
    display: block;
    height: 15px;
    width: 1px;
     margin: 0 10px;
}
 .gold-scroll {
     background: #d6d6d6;
     padding: 0 3px;
    width: 17px;
 }
  .gold-scroll div {
      height: 15px;
 }
 .gold-scroll i {
     font-size: 10px;
     cursor: pointer;
     color: #959595;
 }
 .gold-scroll i:hover {
     color: #525252;
 }

 .scrollToTop {
     width:55px; 
	height:55px;
	padding:18px; 
	text-align:center; 
	background: whiteSmoke;
	font-weight: bold;
	color: #fff !important;
     font-size: 18px;
	text-decoration: none !important;
	position:fixed;
	top:auto;
     bottom: 15px;
	right:40px;
	display:none;
    background: rgba(232, 98, 86, 0.8);
     -webkit-transition: all ease-in-out 0.5s;
     -moz-transition: all ease-in-out 0.5s;
     -ms-transition: all ease-in-out 0.5s;
     -o-transition: all ease-in-out 0.5s;
     transition: all ease-in-out 0.5s;
 }

.scrollToTop:hover{
	    background: rgba(232, 98, 86, 1);

}

.toolbaritem
{
    width:20px;
    height:20px;
    overflow:hidden;
    display:inline-block;
    margin-top:3px;
    margin-left:5px;
    cursor:pointer;
}
.toolbaritem.refresh
{
    background:url(images/refresh.png) no-repeat 0 3px;
}
.toolbaritem.calendar
{
    background:url(images/calendar-month.png) no-repeat 2px 2px;
}
.toolbaritem.report16
{
    background:url(images/report16.png) no-repeat 2px 2px;
}

.danasn
{
    font:15px newstext;
}
.danasn table{
    margin-top:10px;
    width:100%;
}
.danasn a{
    text-decoration:none;
    margin:3px;
    display:block;
    color:#ff6600;
}
.danasn .telegram a
{
    background:url('images/sn.telegram.png') 97% center no-repeat #e4e6e5;
    padding:7px 35px 7px 3px;
}
.danasn .salam a
{
    background:url('images/sn.salam.png') 99% center no-repeat #e4e6e5;
    padding:7px 35px 7px 3px;
}
.danasn .instagram a
{
    background:url('images/sn.instagram.png') 97% center no-repeat #e4e6e5;
    padding:7px 39px 7px 3px;
}
.danasn .twitter a
{
    background:url('images/sn.twitter.png') 95% center no-repeat #e4e6e5;
    padding:7px 45px 7px 3px;
}
.danasn2>div{margin-top:4px;}
.danasn2 a{
    display:inline-block;
    text-decoration:none;
    text-align:center;
    padding:9px 12px;
    background-color:#e4e6e5;
}
.danasn2 img
{
    width:16px;
}
.danasn2 i{
    padding:11px 40px;
    text-align:left;
    font-style:normal;
    background:#e4e6e5 url('images/sn2.link.png') no-repeat 7px center;
    background-size:24px;
    display:inline-block;
    width:100%;
    font:12px tahoma;
}
.danasn2 a:hover{
    opacity:0.7;
}


