/* Home page slider settings */
	/* Author Info */
		.circular-image-thumbnail img {
			width: 80px;
			height: 80px;
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			-ms-border-radius: 50%;
			-o-border-radius: 50%;
			border-radius: 50%;
		}

		.ms-layer.authorInfoSlider span {
			position: absolute;
			display: block;
			white-space: nowrap;
			color: #c0b7ca;
		}

		.ms-layer.authorInfoSlider span.authorPicIncluded {
			top: 27px;
			left: 100px;
		}

		.authorInfoSlider {
			font-size:24px;
			color:white;
		}

	/* Overlay on slider images */
		.ms-slide-bgcont {
			background-color: #000;
		}

		.ms-slide-bgcont img {
			opacity: .4;
		}

	/* Slider Thumbs */
		.ms-tabs.ms-dir-h .ms-thumb-frame {
			height:120px !important;
		}

		.ms-thumb-list {
			overflow: visible !important;
		}

		.ms-thumb-list.ms-dir-h{
			margin-top: -120px !important;
			margin-bottom: 20px;
		}

		.ms-thumb-ol {
			display:none;
		}

		.ms-tabs .ms-thumb {
			background: transparent;
			color: white;
			text-shadow: none;
			text-align: center;
			text-transform: uppercase;
			font-size: 16px;
		}

		.ms-tabs.ms-dir-h .ms-thumb-frame {
			margin-top: 0 !important;
			border:none;
		}


		.ms-tabs .ms-thumb-frame {
			background-color: transparent !important;
		}

		.ms-tabs .ms-thumb-frame-selected, .ms-tabs .ms-thumb-frame:hover {
			background: #8f79aa !important;
		}

	/* MISC */
		.categoryLink {
			color:white;
			text-decoration: none;
			padding: 15px 30px !important;
			display: block;
		}

		.categoryLink:hover {
			color:white;
		}

		.categoryWrapper {
			padding: 0px !important;
		}

		.master-slider a {
			color:white;
			text-decoration: none;
		}

/* FACEBOOK COMMENTS TO BE RESPONSIVE Source: http://stackoverflow.com/questions/22187961/responsive-facebook-comments-css-hack-broken; */
	.fb_iframe_widget,
	.fb_iframe_widget span,
	.fb_iframe_widget span iframe[style] {
		min-width: 100% !important;
		width: 100% !important;
	}

	.fb-comments, .fb-comments * {
		width:100% !important;
	}