/*CSS Document - www.ookamistudio.com
Copyright (c) 2013 All rights reserved*/

@charset "utf-8";

body {
    margin: 0 auto;
    padding: 0 auto;
    font-family: Segoe UI,Arial,sans-serif;
    font-size: 11px;
    color: #8b8b8b;
    /* background: #242424 url(./images/background_home.png) no-repeat; */
    background-position: center 0;
    cursor: default;
}

#container {
    width: 100%;
    margin: 0 auto;
    padding: 0 auto;
    text-align: center;
}

#container_page {
    width: 100%;
    padding-top: 180px;
    min-height: 530px;
    text-align: center;
    background: #FFFFFF; 
}


img {
    border: none;
}

h1,
h2,
h3 {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

input[type="text"],
input[type="password"],
textarea {
    width: 284px;
    height: 32px;
    margin-top: 2px;
    padding-left: 5px;
    border: 1px solid #DEDEDE;
    border-radius: 6px 6px 6px 6px;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    color: #43A2A7;
    background: #171717;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fcfcfc), to(#ffffff) );
    background-image: -moz-linear-gradient(top center,#fcfcfc,#ffffff);
    background-image: -o-linear-gradient(top,#fcfcfc,#ffffff);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fcfcfc", endColorstr="#ffffff");
}

input,
textarea {
    color: #43A2A7;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border linear 0.2s,box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s,box-shadow linear 0.2s;
    -ms-transition: border linear 0.2s,box-shadow linear 0.2s;
    -o-transition: border linear 0.2s,box-shadow linear 0.2s;
    transition: border linear 0.2s,box-shadow linear 0.2s;
}

input:-moz-placeholder {
    color: #ececec;
}

input:focus,
textarea:focus {
    border-color: rgba(98,217,223,0.8);
    outline: 0;
    outline: thin dotted \9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075) ,0 0 8px rgba(98,217,223,0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075) ,0 0 8px rgba(98,217,223,0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075) ,0 0 8px rgba(98,217,223,0.6);
}

textarea:-moz-placeholder {
    color: #ececec;
}

textarea {
    height: 200px;
    margin: 0;
    margin-top: 2px;
    padding-top: 5px;
    border-radius: 6px 6px 6px 6px;
    overflow: auto;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    vertical-align: top;
    box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset;
    -moz-transition: border 0.2s linear 0s,box-shadow 0.2s linear 0s;
    resize: none;
}

select,
.uneditable-input {
    display: inline-block;
    width: 210px;
    height: 34px;
    margin-bottom: 12px;
    padding: 6px 6px 6px 5px;
    border: 1px solid #cccccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 14px;
    color: #999999;
}

input[type="file"] {
    line-height: 18px \9;
}

select {
    width: 220px;
    vertical-align: 4px;
    background-color: #ffffff;
}

select[multiple],
select[size] {
    height: auto;
}

select:focus {
    border-color: rgba(98,217,223,0.8);
    outline: 0;
    outline: thin dotted \9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075) ,0 0 8px rgba(98,217,223,0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075) ,0 0 8px rgba(98,217,223,0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075) ,0 0 8px rgba(98,217,223,0.6);
}

select {
    width: 220px;
    background-color: #FFFFFF;
}

select,
input[type="file"] {
    height: 32px;
    line-height: 28px;
}

label {
    width: 150px;
    margin-left: 2px;
    text-align: left;
    font-size: 11px;
    vertical-align: 2px;
    cursor: pointer;
}

*::selection {
    color: #ffffff;
    background: #43A2A7;
}

*::-moz-selection {
    color: #ffffff;
    background: #43A2A7;
}

*::-webkit-selection {
    color: #ffffff;
    background: #43A2A7;
}

.checkbox [type="checkbox"] {
    width: auto;
    margin-left: -20px;
    vertical-align: -2px;
    cursor: pointer;
}

.checkbox {
    padding-left: 43px;
}

@font-face {
    font-family: "Pricedown";
    font-style: normal;
    font-weight: normal;
    src: url("./font/Pricedown.eot?#iefix") format("embedded-opentype"), url("./font/Pricedown.woff") format("woff"), url("./font/Pricedown.ttf") format("truetype"), url("./font/Pricedown.svg#Pricedown") format("svg");
}

@font-face {
    font-family: "FranklinGothic";
    font-style: normal;
    font-weight: normal;
    src: url("./font/FranklinGothic.eot?#iefix") format("embedded-opentype"), url("./font/FranklinGothic.svg#FranklinGothic") format("svg");
}

/*
// commente 12122015 car le .woff existe pas (cc pour celui qui passe par la :) )
@font-face {
    font-family: "FranklinGothic-Medium";
    font-style: normal;
    font-weight: normal;
    src: url("./font/FranklinGothic-Medium.eot?#iefix") format("embedded-opentype"), url("./font/FranklinGothic-Medium.woff") format("woff"), url("./font/FranklinGothic-Medium.ttf") format("truetype"), url("./font/FranklinGothic-Medium.svg#FranklinGothic-Medium") format("svg");
}
*/

@font-face {
    font-family: Fixedsys;
    src: url("./font/Fixedsys.eot");
}

@font-face {
    font-family: Fixedsys;
    src: url("./font/Fixedsys.ttf");
}

@font-face {
    font-family: American-Purpose;
    src: url("./font/American-Purpose.eot");
}

@font-face {
    font-family: American-Purpose;
    src: url("./font/American-Purpose.ttf");
}

a,
.btn {
    text-decoration: none;
    color: #ffffff;
    -moz-transition-duration: 0.9s;
    -moz-transition-property: all;
    -o-transition-duration: 0.9s;
    -o-transition-property: all;
    -webkit-transition-duration: 0.9s;
    -webkit-transition-property: all;
    transition-duration: 0.9s;
    transition-property: all;
}

a:hover,
.btn:hover {
    -moz-transition-duration: 0.1s;
    -moz-transition-property: all;
    -o-transition-duration: 0.1s;
    -o-transition-property: all;
    -webkit-transition-duration: 0.1s;
    -webkit-transition-property: all;
    transition-duration: 0.1s;
    transition-property: all;
}

a.nav_link {
    text-decoration: none;
    text-transform: uppercase;
    font-family: Arial,sans-serif;
    font-size: 12px;
    color: #ffffff;
}

a.nav_link:hover {
    color: #62d9df;
}

a.nav_link_footer {
    text-decoration: none;
    text-transform: uppercase;
    font-family: Arial,sans-serif;
    font-size: 12px;
    color: #ffffff;
}

a.nav_link_footer:hover {
    color: #62d9df;
}

a.upload_options_btn {
    text-decoration: none;
    text-transform: uppercase;
    font-family: FranklinGothic-Medium,Arial,sans-serif;
    font-size: 14px;
    color: #ffffff;
    cursor: pointer;
}

a.upload_options_btn:hover {
    color: #fff2cc;
}

a.white_link {
    text-decoration: none;
    font-family: Segoe UI,Arial,sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
}

a.white_link:hover {
    color: #fff2cc;
}

a.upload_more_btn {
    text-decoration: none;
    text-transform: uppercase;
    font-family: FranklinGothic-Medium,Arial,sans-serif;
    font-size: 14px;
    color: #beedef;
}

a.upload_more_btn:hover {
    color: #ffffff;
}

a.blue_link {
    text-decoration: none;
    font-family: Arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #62d9df;
}

a.blue_link:hover {
    color: #43A2A7;
}

a.file_link {
    text-decoration: none;
    font-family: Arial,sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #62d9df;
}

a.file_link:hover {
    color: #ffffff;
}

a.red_link {
    text-decoration: none;
    font-family: Arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #d70303;
}

a.red_link:hover {
    color: #363736;
}

a.big_blue_link {
    text-decoration: none;
    font-family: Arial,sans-serif;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    color: #62d9df;
}

a.big_blue_link:hover {
    color: #1a1a1a;
}

a.grey_link {
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    color: #7b8080;
}

a.grey_link:hover {
    color: #62d9df;
}

a.default_link {
    text-decoration: none;
    font-family: Arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #363736;
}

a.default_link:hover {
    color: #62d9df;
}

.input_append,
.input-prepend {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 0;
    white-space: nowrap;
}

.input_append input,
.input_append select,
.input_append .uneditable-input {
    border-radius: 4px 0 0 4px;
}

.input_append .add-on:last-child,
.input_append .btn:last-child {
    border-radius: 0 4px 4px 0;
}

.input_append .add-on,
.input_append .btn,
.input_append .btn-group {
    margin-left: -1px;
}

.black_title {
    margin-left: 5px;
    font-family: FranklinGothic-Medium,Arial,sans-serif;
    font-size: 28px;
    font-style: italic;
    font-weight: bold;
    vertical-align: 5px;
    color: #363736;
}

.checkbox [type="checkbox"] {
    width: auto;
    margin-left: -20px;
    vertical-align: -2px;
    cursor: pointer;
}

.input_confirm {
    display: inline-block;
    float: left;
    margin-top: 9px;
    font-size: 11px;
    font-weight: bold;
    color: #8EC557;
}

.input_error {
    display: inline-block;
    float: left;
    margin-top: 9px;
    font-size: 11px;
    font-weight: bold;
    color: #c70101;
}

.text_input {
    margin-top: 16px;
    text-align: left;
    font-family: Arial,sans-srif;
    font-size: 13px;
    font-weight: bold;
    color: #3e3f3e;
}

.err {
    font-weight: bold;
    font-size: 13px;
    padding:5px;
    height:10px;
    color: #d70303;
}

.paging a {
    color: black;
}

.good {
    font-weight: bold;
    font-size: 13px;
    color: #439230;
    padding:5px;
    height:10px;
}

.captcha {
    display: inline-block;
    width: 80px;
    height: 34px;
    margin-right: 5px;
    border-radius: 5px 5px 5px 5px;
    direction: ltr;
    text-align: left;
    font: bold 13px Arial;
    vertical-align: -10px;
    color: #ffffff;
    background: #62D9DF;
}

.dotted_line {
    width: 288px;
    margin: 20px 0 20px 0;
    border-top: 1px dotted #d9d9d9;
}

.block_form {
    width: 310px;
    height: auto;
    margin: 0 auto;
    padding-top: 13px;
    padding-left: 22px;
    text-align: left;
    background: url(./images/background_form.png) no-repeat;
    background-position: left 0;
}

.block_text_form {
    width: 290px;
}

.form_style {
    margin-right: 19px;
    text-align: center;
    background: #FFFFFF;
}

.rules_text2 {
    vertical-align: 2px;
    color: #7B8080;
}

.para_title {
    text-align: left;
    font-family: FranklinGothic-Medium,Arial,sans-serif;
    font-size: 28px;
    font-style: italic;
    font-weight: bold;
    color: #363736;
}

.admin_toolbar {
    position: fixed;
    margin-top: 95px;
    margin-left: 26px;
    padding: 0;
    padding: 10px 20px;
    border-radius: 7px 7px 7px 7px;
    line-height: 30px;
    opacity: 0.2;
    background: #242424;
    -webkit-box-shadow: 0 3px 7px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 3px 7px rgba(0,0,0,0.3);
    box-shadow: 0 3px 7px rgba(0,0,0,0.3);
    -moz-transition-duration: 0.9s;
    -moz-transition-property: all;
    -o-transition-duration: 0.9s;
    -o-transition-property: all;
    -webkit-transition-duration: 0.9s;
    -webkit-transition-property: all;
    transition-duration: 0.9s;
    transition-property: all;
}

.admin_toolbar:hover {
    opacity: 1;
    -moz-transition-duration: 0.9s;
    -moz-transition-property: all;
    -o-transition-duration: 0.9s;
    -o-transition-property: all;
    -webkit-transition-duration: 0.9s;
    -webkit-transition-property: all;
    transition-duration: 0.9s;
    transition-property: all;
}

ul.admin_toolbar {
    text-align: left;
    list-style-type: none;
}

#header {
    width: 100%;
    height: 50px;
    min-width: 1000px;
    margin: 0 auto;
    padding-top: 0px;
    text-align: center;
    position:fixed;
    background-image: url("images/header_background_UTB.png");
    z-index: 20;
}

li.default_country {
    width: auto;
    height: 17px;
    margin-top: 3px;
    padding-top: 2px;
    padding-right: 4px;
    padding-left: 4px;
    border: medium solid #333333;
    border-radius: 3px 3px 3px 3px;
    text-align: left;
    margin-right:80px;
    border: medium solid #333333;
    text-transform: uppercase;
    font-family: ProximaNova,Arial,sans-serif;
    font-size: 10px;
    color: #FFFFFF;
    background: none repeat scroll 0 0 #333333;
    cursor: pointer;
}

ul.country_block {
    display: inline-block;
    float: right;
    margin: 0 5px 5px 50;
    padding: 0;
    text-align: left;
    list-style: none outside none;
}

ul.switch_lang {
    position: absolute;
    width: auto;
    height: auto;
    padding: 5px 9px 0;
    border-radius: 3px 3px 3px 3px;
    background-color: #333333;
}

ul.switch_lang {
    display: none;
    line-height: 25px;
    list-style: none outside none;
}

ul.country_block:hover .switch_lang {
    display: block;
}

.menu ul,
.menu li {
    display: inline-block;
    list-style-type: none;
}

.menu li > a {
    display: block;
    padding: 0px 10px 0;
    border-left: 1.5px solid #000000;
}

.menu li > a:hover {
    box-shadow: 0 0 15px 2px #2e5a5c inset,0 0 0 #000000;
}

.menu li > a:active {
    box-shadow: 0 0 15px 2px #2ec8d0 inset,0 0 0 #000000;
}

.logo_header {
    margin-left:5%;
    float: left;
    margin-top:10px;
    -moz-transition-duration: 1.5s;
    -moz-transition-property: all;
    -o-transition-duration: 0.9s;
    -o-transition-property: all;
    -webkit-transition-duration: 1.5s;
    -webkit-transition-property: all;
    transition-duration: 1.5ss;
    transition-property: all;
}

.menu {
    display: inline-block;
    margin: 0;
    padding: 0;
    height:50px;
    line-height: 50px;
}

#footer {
    width: 100%;
    margin: 150px auto 0;
    padding: 0 auto;
    background: url(./images/background_footer.png) repeat;
    background-position: left 0;
}

#copyright {
    position: relative;
    bottom: 0!important;
    width: 100%;
    height: 40px;
    
    padding-top: 15px;
    border-top: 1px solid #2a2a2a;
    background: #242424;
}

/* Evite des lignes blanches à la fin */
#biscuitNomNomNom {
    height: 0px;
}

#biscuitMiamMiamMiam {
    height: 0px;
}
/* - */


h2.twitter_feed {
    display: inline-block;
    font-weight: normal;
    vertical-align: top;
}

p.footer_infos {
    width: 490px;
    margin-top: 10px;
    font-size: 13px;
    line-height: 16px;
    color: #7b8080;
}

ul.footer_menu {
    margin-top: 30px;
    padding: 0;
    text-align: left;
}

ul.footer_menu .active {
    margin-right: 15px;
    padding: 4px 5px;
    border-radius: 3px 3px 3px 3px;
    background: #292929;
    cursor: pointer;
}

.footer_menu ul,
.footer_menu li {
    display: inline-block;
    padding-right: 15px;
    list-style-type: none;
}

.footer_content {
    width: 980px;
    height: 65px;
    margin: 0 auto;
    text-align: left;
}

.copyright_content {
    width: 980px;
    margin: 0 auto;
    text-align: left;
}

.footer_leftcol {
    display: inline-block;
    width: 730px;
    height: 0;
    margin-right: -3px;
    vertical-align: top;
}

.footer_rightcol {
    display: inline-block;
    width: 215px;
    height: 0;
    padding-top: 20px;
    padding-left: 29px;
    vertical-align: top;
}

.twitter_feed img.twitter_logo {
    margin: 0 4px -3px 0;
}

.twitter_feed p {
    font-size: 11px;
    line-height: 16px;
}

.auptobox {
    margin-left: 5px;
    vertical-align: 3px;
    color: #ffffff;
}

.copyright_text {
    display: inline-block;

}

.socials {
    display: inline-block;
    width: 350px;
    margin-left: 12px;
    vertical-align: -6px;
}

input.upload {
    width: 600px;
    height: 48px;
    margin-top: 13px;
    padding-right: 5px;
    border: none;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
    font-family: Arial,sans-serif;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    background: #FFFFFF;
}

ul.upload_menu {
    margin-top: 8px;
    padding: 0;
    text-align: center;
}

.upload_menu ul,
.upload_menu li {
    display: inline-block;
    margin-left: 4px;
    padding-right: 7px;
    list-style-type: none;
}

ul.upload_more {
    margin: 55px 0 25px 0;
    padding: 0;
    text-align: center;
}

.upload_more ul,
.upload_more li {
    display: inline-block;
    padding-right: 15px;
    list-style-type: none;
}

ul.upload_more .active {
    padding: 4px 5px;
    border-radius: 3px 3px 3px 3px;
    background: #5ad5db;
    cursor: pointer;
}

.upload_module {
    height: 145px;
    margin-top: -100px;
}

.slogan {
    font-family: FranklinGothic,Arial,sans-serif;
    font-size: 45px;
    font-style: italic;
    letter-spacing: -1.5px;
    color: #ffffff;
}

.subtitle {
    margin-top: 2px;
    font-family: KozGoPro-Light,Arial,sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    color: #ffffff;
}

.button_upload.green {
    box-shadow: 0 6px 0 #439230,0 10px 3px rgba(0,0,0,0.3);
}

.button_upload.green:disabled {
    background-image: -webkit-gradient(linear,left top,left bottom,from(#AAAAAA), to(#8f8f8f) );
    background-image: -moz-linear-gradient(top center,#AAAAAA,#8f8f8f);
    background-image: -o-linear-gradient(top,#AAAAAA,#8f8f8f);
    box-shadow: 0 6px 0 #767676,0 10px 3px rgba(0,0,0,0.3);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#AAAAAA", endColorstr="#8f8f8f");
}

.button_upload {
    padding: 10px 25px 12px;
    border: medium none;
    border-radius: 4px 4px 4px 4px;
    vertical-align: top;
}

.green {
    background-image: -webkit-gradient(linear,left top,left bottom,from(#82CC5D), to(#53B73C) );
    background-image: -moz-linear-gradient(top center,#82CC5D,#53B73C);
    background-image: -o-linear-gradient(top,#82CC5D,#53B73C);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#82CC5D", endColorstr="#53B73C");
}

.button,
.button_upload {
    display: inline-block;
    margin: 0.5em 0.5em 0.5em 7px;
    padding: 7px 20px 9px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0,0,0,0.4);
    font-family: Arial,Helvetica,sans-serif;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    color: #FFFFFF;
    transition: all 0.1s linear 0s;
    cursor: pointer;
}

.green:hover {
    background: linear-gradient(to bottom,#99CC80 0,#53B73C 100%) repeat scroll 0 0 transparent;
}

#files_list_multi {
    border: none;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
    font-family: Arial,sans-serif;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    color: black;
}

.button_upload.grey {
    box-shadow: 0 6px 0 #767676,0 10px 3px rgba(0,0,0,0.3);
}

.grey {
    background-image: -webkit-gradient(linear,left top,left bottom,from(#AAAAAA), to(#8f8f8f) );
    background-image: -moz-linear-gradient(top center,#AAAAAA,#8f8f8f);
    background-image: -o-linear-gradient(top,#AAAAAA,#8f8f8f);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#AAAAAA", endColorstr="#8f8f8f");
}

.grey:hover {
    background: linear-gradient(to bottom,#c6c6c6 0,#8f8f8f 100%) repeat scroll 0 0 transparent;
}

.button_upload.grey:active {
    box-shadow: 0 3px 0 #717171,0 6px 3px rgba(0,0,0,0.2);
}

.button_upload.green:active {
    box-shadow: 0 3px 0 #439230,0 6px 3px rgba(0,0,0,0.2);
}

.button_upload:active {
    position: relative;
    top: 5px;
}

.rules_text {
    margin-left: 5px;
    vertical-align: 2px;
    color: #ffffff;
}

.upload_methode_btn {
    padding: 4px 5px;
    border-radius: 3px 3px 3px 3px;
    text-transform: uppercase;
    font-family: FranklinGothic-Medium,Arial,sans-serif;
    font-size: 14px;
    color: #BEEDEF;
    background: none repeat scroll 0 0 #5AD5DB;
    cursor: pointer;
    -moz-transition-duration: 0.9s;
    -moz-transition-property: all;
    -o-transition-duration: 0.9s;
    -o-transition-property: all;
    -webkit-transition-duration: 0.9s;
    -webkit-transition-property: all;
    transition-duration: 0.9s;
    transition-property: all;
}

.upload_methode_btn:hover {
    color: #ffffff;
    -moz-transition-duration: 0.1s;
    -moz-transition-property: all;
    -o-transition-duration: 0.1s;
    -o-transition-property: all;
    -webkit-transition-duration: 0.1s;
    -webkit-transition-property: all;
    transition-duration: 0.1s;
    transition-property: all;
}

.valid_upload {
    margin-top: 56px;
}

.send {
    margin-top: 35px;
}

.upload_method {
    display: none;
}

.urlmass {
    width: 596px;
    height: 79px;
    margin-top: 20px;
    padding-top: 16px;
    border: none;
    text-align: center;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
}

#main_content {
    display: none;
    width: 1010px;
    height: 200px;
    margin-top: 275px;
    padding-top: 13px;
    padding-left: 22px;
    text-align: left;
    background: url(./images/background_maincontent.png) no-repeat;
    background-position: left 0;
}

.block {
    display: inline-block;
    width: 288px;
    margin-right: 45px;
    text-align: left;
    vertical-align: top;
}

.block_text {
    height: 120px;
}

.block_intro {
    margin-top: 15px;
    font-family: Arial,sans-serif;
    font-size: 17px;
    font-style: italic;
    font-weight: normal;
    color: #43a2a7;
}

.block_details {
    margin-top: 15px;
    font-family: Segoe UI,Arial,sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 14px;
    color: #7b8080;
}

table.comparison {
    margin-top: 50px;
    margin-bottom: 50px;
    border-spacing: 0;
}

table td {
    border: 1px solid #ffffff;
}

tr.cell {
    height: 49px;
}

.comparison_cell {
    background: #f5fffa;
}

.blue_tab_cell {
    background: #f5fbff;
    padding: 10px;
}

td.grey_cell {
    padding-left: 25px;
    border: 0 none;
    text-align: left;
    font-family: Arial,sans-serif;
    font-size: 15px;
    font-style: italic;
    color: #7c8289;
    background: #f3f6f8;
}

td.white_cell {
    padding-left: 25px;
    border: 0 none;
    text-align: left;
    font-family: Arial,sans-serif;
    font-size: 15px;
    font-style: italic;
    color: #7c8289;
    background: #ffffff;
}

td.green_cell {
    font-family: Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
    color: #85bcb5;
}

/* FOND TABLEAU BASE */
td.green_tab_cell {
    font-family: Arial,sans-serif;
    font-size: 14px;
    padding: 5px 15px 5px 15px;
    color: #3c3c3c;
    background: #F0F9F5;
}

td.green_tab_cell a {
    text-decoration: none;
    font-family: Arial,sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #4cb8be;
}

td.green_tab_cell a:hover {
    color: #43A2A7;
}

/* ---- */




td.blue_cell {
    font-family: Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
    color: #7598a9;
}

td.green_cell {
    font-family: Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
    color: #7598a9;
}

td.blue_cell_alt a {
    text-decoration: none;
    font-family: Arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #88b0c4;
}

td.blue_cell_alt a:hover {
    color: #43A2A7;
}

span.method_block {
    display: block;
    width: 187px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 6px;
    border: 1px solid #e2e6e6;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
    background: #f3f6f8;
    -moz-transition-duration: 1.5s;
    -moz-transition-property: all;
    -o-transition-duration: 0.9s;
    -o-transition-property: all;
    -webkit-transition-duration: 1.5s;
    -webkit-transition-property: all;
    transition-duration: 1.5ss;
    transition-property: all;
}

span.method_block:hover {
    background: #e9ecee;
    -moz-transition-duration: 0.9s;
    -moz-transition-property: all;
    -o-transition-duration: 0.9s;
    -o-transition-property: all;
    -webkit-transition-duration: 0.9s;
    -webkit-transition-property: all;
    transition-duration: 0.9s;
    transition-property: all;
}

.comparison {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;

}


.thead_green {
    height: 50px;
    font-family: FranklinGothic,Arial,sans-serif;
    font-size: 30px;
    font-style: italic;
    color: #FFFFFF;
    background: #43a2a7;
}

.thead_green a {
    color: #FFFFFF;
}

.col_name_green {
    width: 207px;
    height: 50px;
    font-family: FranklinGothic,Arial,sans-serif;
    font-size: 30px;
    font-style: italic;
    color: #85bcb5;
    background: #f0f9f5;
}

.col_name_blue {
    width: 207px;
    height: 50px;
    border-radius: 0 10px 0 0;
    font-family: FranklinGothic,Arial,sans-serif;
    font-size: 30px;
    font-style: italic;
    color: #7597a8;
    background: #cee4ef;
}

/* D tableau admin */

.tbl1 {
    width: 100%;
    margin-bottom: 10px;
    padding: 0 10px 10px 13px;
    border: 1px solid #E2E6E6;
    border-collapse: collapse;
    border-radius: 5px 5px 5px 5px;
    text-align: left;
    background: none repeat scroll 0 0 #F3F6F8;
}

.tbl1 TD {
    width: 10px;
    margin-bottom: 10px;
    border: 0;
    text-align: center;
}

.tbl1 .hdr TD {
    margin-top: 19px;
    padding: 4px 0 4px 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: Arial,sans-serif;
    font-size: 17px;
    font-weight: bold;
    white-space: nowrap;
    color: #ffffff;
    background: #43A2A7;
}

.tbl1 .hdr TD a {
    text-decoration: none;
    color: inherit;
}

.tbl1 TD a {
    text-decoration: none;
    color: inherit;
}

.tbl1 TD a:hover {
    text-decoration: none;
    text-decoration: underline;
    color: inherit;
}

/* F tableau admin */

.offers {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 1000px;
    text-align: left;
}

.offer_col {
    vertical-align: top; 
    display: inline-block;
    width: 186px;
    margin-right: 9px;
}

.price_block {
    width: 165px;
    bottom: 0;
    margin-bottom: 10px;
    padding: 0 10px 10px 13px;
    border: 1px solid #E2E6E6;
    border-radius: 5px 5px 5px 5px;
    text-align: left;
    background: none repeat scroll 0 0 #F3F6F8;
}

.price {
    font-family: Pricedown,Arial,sans-serif;
    font-size: 45px;
    font-style: italic;
    color: #7598a9;
}

.reseller_block {
    font-family: Pricedown,Arial,sans-serif;
    font-size: 17px;
    font-style: italic;
    color: #7598a9;
}

.days {
    margin-top: -8px;
    font-family: Segoe UI,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    color: #878c93;
}

.approx {
    font-family: Segoe UI,Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #878c93;
}

.free_days {
    font-size: 15px;
    color: #63c63a;
}

ul.benefits {
    padding: 0;
    list-style: none;
}

.benefits li {
    font-family: Arial,sans-serif;
    font-size: 17px;
    font-style: italic;
    font-weight: normal;
    color: #43a2a7;
}

[class^="beneficon-"],
[class*=" beneficon-"] {
    display: inline-block;
    width: 32px;
    height: 47px;
    margin-right: 10px;
    line-height: 20px;
    vertical-align: -30px;
    background-image: url("./images/valid_icon.png");
    background-position: 16px 16px;
    background-repeat: no-repeat;
}

.beneficon-valid {
    background-position: 0 0;
}

.title_large {
    margin-bottom: 40px;
    font-family: FranklinGothic,Arial,sans-serif;
    font-size: 37px;
    font-style: italic;
    color: #62d9df;
}

.register_left_col {
    display: inline-block;
    width: 535px;
    margin-right: 90px;
    padding-top: 120px;
    text-align: left;
    vertical-align: top;
}

.register_right_col {
    display: inline-block;
    margin-right: -35px;
    text-align: right;
    vertical-align: top;
}

.member_free {
    font-family: Arial,sans-serif;
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    color: #85bcb5;
}

.bonus_number {
    display: inline-block;
    margin-left: 4px;
    font-family: Arial,sans-serif;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    vertical-align: 10px;
    color: #ffcd01;
}

.note {
    margin-top: -2px;
    text-align: left;
    font-size: 10px;
}

.secu {
    text-align: left;
    font-family: Arial,sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.off {
    color: #d70303;
}

.on {
    color: #439230;
}

.faq_list {
    padding: 0;
}

.faq_list ul {
    height: 18px;
    list-style: none;
    background-position: 0 0;
}

.faq_list li {
    list-style: none;
    background-position: 0 0;
}

.linkquestion {
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: Arial,sans-serif;
    font-size: 17px;
    font-style: italic;
    font-weight: normal;
    line-height: 30px;
    white-space: nowrap;
    color: #43a2a7;
    cursor: pointer;
    -moz-transition-duration: 0.9s;
    -moz-transition-property: all;
    -o-transition-duration: 0.9s;
    -o-transition-property: all;
    -webkit-transition-duration: 0.9s;
    -webkit-transition-property: all;
    transition-duration: 0.9s;
    transition-property: all;
}

.linkquestion:hover {
    color: #ffffff;
    background: #43A2A7;
    -moz-transition-duration: 0.1s;
    -moz-transition-property: all;
    -o-transition-duration: 0.1s;
    -o-transition-property: all;
    -webkit-transition-duration: 0.1s;
    -webkit-transition-property: all;
    transition-duration: 0.1s;
    transition-property: all;
}

.question.active {
    font-weight: bold;
    color: #ffffff;
    background: #43A2A7;
}

.questions {
}

.answer {
    margin: 12px 0 12px 15px;
    font-size: 13px;
    line-height: 16px;
}

.faq_line {
    width: 700px;
    height: 1px;
    border-top: 1px dotted #d9d9d9;
}

.tos {
    margin-top: 18px;
    margin-bottom: 25px;
    text-align: left;
    font-family: Arial,sans-serif;
    font-size: 13px;
    line-height: 16px;
    color: #7B8080;
}

.reseller {
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}

table.reseller_percent {
    margin: 30px 0 40px;
    border-spacing: 0;
    text-align: center;
    font-family: FranklinGothic,Arial,sans-serif;
    font-size: 20px;
    color: #85BCB5;
}

td.res_cell_title {
    height: 50px;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-style: italic;
    white-space: nowrap;
    background: none repeat scroll 0 0 #F0F9F5;
}

td.res_cell {
    height: 50px;
    background: none repeat scroll 0 0 #e7f3f1;
}

table.files {
    width: 100%;
    margin-bottom: 20px;
    border-spacing: 0;
    text-align: left;
    font-family: Arial,sans-serif;
    font-size: 14px;
    color: #3c3c3c;
}

td.tri {
    height: 20px;
    padding: 7px 10px 5px;
    background: none repeat scroll 0 0 #F0F9F5;
}

tr.cell_files {
    background: none repeat scroll 0 0 #E7F3F1;
    cursor: pointer;
    -moz-transition-duration: 0.9s;
    -moz-transition-property: all;
    -o-transition-duration: 0.9s;
    -o-transition-property: all;
    -webkit-transition-duration: 0.9s;
    -webkit-transition-property: all;
    transition-duration: 0.9s;
    transition-property: all;
}

tr.cell_files:hover {
    background: none repeat scroll 0 0 #ecf8f7;
    -moz-transition-duration: 0.1s;
    -moz-transition-property: all;
    -o-transition-duration: 0.1s;
    -o-transition-property: all;
    -webkit-transition-duration: 0.1s;
    -webkit-transition-property: all;
    transition-duration: 0.1s;
    transition-property: all;
}

.cell_files td {
    height: 22px;
    padding: 2px 10px;
}

.tri a {
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    color: #7b8080;
}

.tri {
    -moz-transition-duration: 0.9s;
    -moz-transition-property: all;
    -o-transition-duration: 0.9s;
    -o-transition-property: all;
    -webkit-transition-duration: 0.9s;
    -webkit-transition-property: all;
    transition-duration: 0.9s;
    transition-property: all;
}

.tri:hover {
    background: none repeat scroll 0 0 #ecf8f7;
    -moz-transition-duration: 0.1s;
    -moz-transition-property: all;
    -o-transition-duration: 0.1s;
    -o-transition-property: all;
    -webkit-transition-duration: 0.1s;
    -webkit-transition-property: all;
    transition-duration: 0.1s;
    transition-property: all;
}

.bar {
    width: 0;
    height: 25px;
    background-color: #62D9DF;
    background-image: -moz-linear-gradient(top,#62D9DF,#51bcc1);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#62D9DF), to(#51bcc1) );
    background-image: -webkit-linear-gradient(top,#62D9DF,#51bcc1);
    background-image: -o-linear-gradient(top,#62D9DF,#51bcc1);
    background-image: linear-gradient(to bottom,#62D9DF,#51bcc1);
    background-repeat: repeat-x;
}

.progress {
    display: none;
    position: relative;
    width: 100%;
    height: 25px;
    margin-top: 20px;
    margin-bottom: 5px;
    border: 1px solid #D0D4D4;
    border-radius: 3px 3px 3px 3px;
    text-align: left;
    background-color: #E2E6E6;
}

.info_files {
    text-align: left;
    font-family: Arial,sans-serif;
    font-size: 17px;
    font-weight: normal;
    color: #43a2a7;
}

.files_number {
    margin-bottom: 15px;
    text-align: left;
    font-family: Arial,sans-serif;
    font-size: 13px;
    color: #7B8080;
}

.function_block {
    padding-top: 17px;
    padding-bottom: 16px;
    border-top: 1px dotted #D9D9D9;
    text-align: left;
}

.folder_name {
    margin-right: 10px;
    text-align: left;
    font-family: FranklinGothic-Medium,Arial,sans-serif;
    font-size: 23px;
    font-style: italic;
    font-weight: bold;
    color: #43A2A7;
}

.btn.active,
.btn:active {
    outline: 0 none;
    background-color: #E6E6E6;
    background-image: none;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15) inset,0 1px 2px rgba(0,0,0,0.05);
}

.btn {
    margin: 0;
    margin-left: 5px;
    min-height: 36px;
    border: 1px solid rgba(0,0,0,0.1) rgba(0,0,0,0.1) #BEBEBE;
    border-radius: 4px 4px 4px 4px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    font-family: FranklinGothic-Medium,Arial,sans-serif;
    font-size: 16px;
    vertical-align: 2px;
    color: #C4C4C4;
    background-color: #F5F5F5;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#FFFFFF), to(#E6E6E6) );
    background-image: -moz-linear-gradient(top center,#FFFFFF,#E6E6E6);
    background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
    background-repeat: repeat-x;
    box-shadow: 0 1px 0 rgba(255,255,255,0.2) inset,0 1px 2px rgba(0,0,0,0.05);
    cursor: pointer;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFFFFF", endColorstr="#E6E6E6");
    border-image: none;
}

.btn:hover {
    color: #43A2A7;
}

.premium_time {
    display: none;
    position: absolute;
    margin: 0px 0 0 1px;
    height: 20px;
    line-height: 20px;
    padding: 5px 5px 4px 4px;
    border-radius: 3px 3px 3px 3px;
    text-align: left;
    font-size: 11px;
    color: #ffffff;
    background: #e10000;
}

.nav_link:hover .premium_time {
    display: block;
}

.cell_files.active {
    font-weight: bold;
    color: #ffffff;
    background: #50c2c8;
}

.cell_files.active a {
    color: #ffffff;
}

.cell_files.active:hover {
    background: #43A2A7;
}

small {
    vertical-align: 2px;
}

.tabberlive {
    border-top: 1px dotted #D9D9D9;
    padding: 30px;
}

.filename {
    margin-top: 19px;
    padding: 4px 0 4px 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: Arial,sans-serif;
    font-size: 17px;
    font-weight: bold;
    white-space: nowrap;
    color: #ffffff;
    background: #43A2A7;
}

.ad-square {
    display: inline-block;
    width: 300px;
    height: 250px;
    margin: 0 5px 0 5px;
    border: 1px solid #c0c0c0;
}

.ad-leader {
    display: inline-block;
    width: 728px;
    height: 90px;
    margin-top: 10px;
    border: 1px solid #c0c0c0;
}

#ad-panel-auto-58423 .ad-auto-click-url {
    display: none;
}









p.title {
	margin: 0;
	padding-left: 12px;
	text-align: left;
	position: absolute;
}

.block-opt .title.videohd {
	color: #62d9df;
	font-size: 45px;
	font-family: Fixedsys, sans-serif;
	line-height: 25px;
	letter-spacing: -2px;
	text-shadow: 3px 3px 0 #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
}

.block-opt .title.videohd span {
	font-size: 30px;
}

.block-opt .title.power {
	color: #ffffff;
	font-size: 40px;
	font-family: Impact;
	font-style: italic;
	line-height: 35px;
	padding-left: 28px;
	text-shadow: 3px 3px 0 #ab3b0d, -1px -1px 0 #ab3b0d, 1px -1px 0 #ab3b0d, -1px 1px 0 #ab3b0d, 1px 1px 0 #ab3b0d;
	-moz-transform:rotate(-3deg);
	-webkit-transform:rotate(-3deg);
	-o-transform:rotate(-3deg);
}

.block-opt .title.power span {
	margin-left: 51px;
}

.block-opt .title.premium {
	color: #f4c758;
	font-size: 30px;
	font-family: American-Purpose, sans-serif;
	line-height: 28px;
	text-shadow: 2px 4px 0 #3F370C, -2px -2px 0 #3F370C, 2px -2px 0 #3F370C, -2px 4px 0 #3F370C, 2px 2px 0 #3F370C;
}

.block-opt .title.premium span {
	font-size: 40px;
	padding-left: 56px;
}

.block-opt .title,
.block-opt .power,
.block-opt .premium {
	margin-top: -9px;
	text-transform: uppercase;
}

.block-opt .title span,
.block-opt .power span,
.block-opt .premium span {
	display: block;
}

.wrapper-uptostream {
	width: 980px;
	height: auto;
	text-align: center;
}

.block-opt {
	width: 310px;
	margin: 0 5px 0 9px;
	padding-top: 30px;
	display: inline-block;
	vertical-align: top;
}

.block-opt-text {
	background: #1a1a1a;
	height: 45px;
	padding: 12px;
	margin-top: -5px;
	border-radius: 0 0 6px 6px;
}

.block-opt-text p {
	width: 287px;
	margin: 0;
	color: #a6a6a6;
	font-size: 12px;
	font-family: Segoe UI, Arial, sans-serif;
	line-height: 14px;
	text-align: left;
}

.shadow {
	background-image: url("images/shadow.png");
    height: 47px;
    margin: 30px auto 40px;
    text-align: center;
    width: 990px;
}

h1{color:#000;font:22px/1.2 Exo;text-transform:uppercase}
h2{overflow:hidden;*zoom:1;font-size:14px;font-weight:700;margin:0 0 20px;padding:15px 20px;text-transform:uppercase}
h2 a[href]{color:#cacaca;float:right;font-size:12px;font-weight:400;text-transform:none;*margin-top:-16px}
.h2-secure:before{display:-moz-inline-stack;display:inline-block;vertical-align:middle;*vertical-align:auto;zoom:1;*display:inline;margin-right:5px;height:13px;width:11px}

p{margin:10px 0}

.dl-leaders{overflow:hidden;*zoom:1;margin-bottom:10px}
.dl-leaders dt{background:#fff;float:left;padding-right:.3em}.dl-leaders dd{background:#fff;float:right;padding-left:.3em}a{color:#03578e;text-decoration:none}a:hover{text-decoration:underline}
.dl-leaders.recurring_info .ie-before, .dl-leaders.recurring_info:before{content: ''}
.dl-leaders.recurring_info dt {background: #355C76;color: #FFF;float: none;font-size: 12px;padding: 2px 5px;}

.submit{font-size:18px;padding:10px 15px 11px;}
input[type=password],input[type=text],select{-webkit-background-clip:padding;-moz-background-clip:padding;background-clip:padding-box;-webkit-border-radius:2px;-moz-border-radius:2px;-ms-border-radius:2px;-o-border-radius:2px;border-radius:2px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;font-family:"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;background:#f4f9fa;border:1px solid #e4e8e9;color:#3c6986;height:40px;padding:11px 15px;*height:auto}input[type=password]:active,input[type=text]:active,select:active{background:#fafafa;outline:0}input:-moz-placeholder,textarea:-moz-placeholder{color:#d9d9d9}label{font-family:"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;color:#3c6986;margin:20px 0 5px;padding:0 10px}.frm{overflow:hidden;*zoom:1;margin-bottom:20px;padding:0 30px}.frm .dl-leaders dt{font-family:"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;font-size:14px}.frm .dl-leaders dd{color:#355c76;font-size:16px;font-weight:700;line-height:21px}.frm h2{margin:0 -30px}.frm_wrap{margin-left:-25px}.frm-card{-webkit-background-clip:padding;-moz-background-clip:padding;background-clip:padding-box;-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;-o-border-radius:4px;border-radius:4px;background:#f4f9fa;border:1px solid #e4e8e9;padding:20px 30px;}

.frm-card .frm_wrap{width:505px}.frm-card input[type=password],.frm-card input[type=text],.frm-card select{background:#fff}.frm-usr{margin-top:-20px;width:400px}.ctrl{overflow:hidden;*zoom:1;float:left;padding-left:25px}.ctrl input,.ctrl select{*zoom:1;display:block;width:100%}.ctrl label{display:block}.ctrl-addr{clear:both;float:none}.ctrl-city{width:290px}.ctrl-country{width:290px}.ctrl-cvv .ie-after,.ctrl-cvv:after{background:url('http://uptobox.com/images/sprite-xy.png') 0 -272px;content:"";float:right;height:40px;width:88px}.ctrl-cvv input{float:left;width:132px;*width:100px}

.ctrl-exp{line-height:0;text-align:justify;width:185px;*text-align-last:justify;*text-justify:newspaper;*zoom:1}.ctrl-exp:after{display:-moz-inline-stack;display:inline-block;vertical-align:middle;*vertical-align:auto;zoom:1;*display:inline;content:"";width:100%}.ctrl-exp input{display:-moz-inline-stack;display:inline-block;vertical-align:middle;*vertical-align:auto;zoom:1;*display:inline;text-align:center;width:74px;*width:42px}.ctrl-exp label{line-height:1.5}.ctrl-name{width:270px}.ctrl-name input{*width:238px}.ctrl-num{width:230px}.ctrl-num input{*width:198px}.ctrl-phone{clear:both;float:none}.ctrl-state{width:85px}.ctrl-zip{width:85px}.layout{overflow:hidden;*zoom:1;margin:0 auto 100px;width:980px}.layout_body{float:left;margin-right:25px;width:630px}.layout_head{text-align:center;margin:0 0 40px 0}.layout_side{float:left;width:325px}.frm-submit{padding:0}.frm-submit h2{margin:0}.frm-submit .block{float:left;margin:0;}.frm-submit .ctrl{padding:0 30px 0 0;}.frm-submit .frm_wrap{overflow:hidden;*zoom:1;margin:0}.mail-icon{display:-moz-inline-stack;display:inline-block;vertical-align:middle;*vertical-align:auto;zoom:1;*display:inline;width:17px;height:13px;background:url('http://uptobox.com/images/sprite-xy.png') 0 -312px;margin:0 5px -2px 0}.header{height:45px;background:#fff;text-align:center}.subtotal{border-bottom:1px solid #e4e8e9;padding:16px 20px;}.progress{height:38px;padding-top:18px}.progress ul{position:relative;background:url(http://uptobox.com/images/progress-line.png) repeat-x;height:2px}

.layout_body{padding:0 20px; background-color: #fff;border: 1px solid #555;}
input[type="text"], input[type="password"], textarea {font-size:16px;padding: 2px 10px;}
.layout_body iframe{border:none;height:700px;width:620px;}
.layout_body #ccpaymentframeoverlay{height:700px;width:620px;background-color:#ffffff;position:absolute;top: 0;}

.spinner-text{
  margin: 80px auto 0;  
}

.spinner{
  margin: 20px auto 100px;
  width: 60px;
  height: 60px;
  position: relative;
}

.container1 > div, .container2 > div, .container3 > div {
  width: 15px;
  height: 15px;
  background-color: #333;

  border-radius: 100%;
  position: absolute;
  -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
  animation: bouncedelay 1.2s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .spinner-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.container2 {
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.container3 {
  -webkit-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}

.circle1 { top: 0; left: 0; }
.circle2 { top: 0; right: 0; }
.circle3 { right: 0; bottom: 0; }
.circle4 { left: 0; bottom: 0; }

.container2 .circle1 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.container3 .circle1 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.container1 .circle2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.container2 .circle2 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.container3 .circle2 {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

.container1 .circle3 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.container2 .circle3 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.container3 .circle3 {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.container1 .circle4 {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

.container2 .circle4 {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

.container3 .circle4 {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

#embed {
  padding-top: 15px;
}

#embed textarea {
  width:640px;
  height: auto;
  color: black;
  font-weight: normal;
  text-align: center;
}

#outform { 
height: 500px; 
overflow: hidden; 
position: relative; 
width: 1200px; 
} 

#inframe { 
height: 500px; 
left: -108px; 
position: absolute; 
top: -100px; 
width: 100%; 
}

#outformint { 
height: 480px;
left: 250px;
overflow: hidden; 
position: relative; 
width: 550px; 
} 

#inframeint { 
height: 450px; 
left: 0px; 
position: absolute; 
top: -250px; 
width: 220; 
}
