@charset "UTF-8";
html { overflow-y: scroll; height: 100%; -webkit-text-size-adjust: 100%; }

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; outline: 0; font-size: 100%; vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

h1, h2, h3, h4, h5, h6 { font-size: 100%; word-break: break-all; }

p { word-break: break-all; }

abbr, acronym, fieldset { border: 0; }

table { border-collapse: collapse; border-spacing: 0; }

nav ul { list-style: none; }

li { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

a { color: #0055AD; text-decoration: none; -webkit-transition: all 0.02s linear; transition: all 0.02s linear; }

a:visited { color: #0055AD; text-decoration: none; }

a:hover { text-decoration: underline; }

a:active { color: #0055AD; }

img { vertical-align: bottom; }

input, select { vertical-align: middle; margin: 0; padding: 0; }

label, select, input[type="file"], input[type="submit"], input[type="button"], input[type="checkbox"], input[type="radio"] { cursor: pointer; }

button, input[type="submit"] { outline: none; }

textarea, input[type="password"], input[type="text"], input[type="search"] { -webkit-box-sizing: border-box; box-sizing: border-box; outline: none; }

body { color: #333; font-family: 'Helvetica Neue',Helvetica,Arial,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic ProN','メイリオ',Meiryo,sans-serif; background-color: #F2F2F2; font-size: 12px; line-height: 18px; height: 100%; }

.icon { display: inline-block; background-image: url("/img/famitsucom_sprite.png"); background-repeat: no-repeat; }

.iconNavi { position: absolute; top: 50%; left: 0; margin-top: -8px; width: 16px; height: 16px; text-align: center; font-size: 16px; color: #00bd89; }

.iconDevice { width: 30px; height: 14px; text-indent: -9999px; }

.iconNo { background-color: #F2F2F2; -webkit-border-radius: 3px; border-radius: 3px; }

.iconPlatform {
	display: inline-block;
	width: 40px;
	height: 14px;
	line-height: 14px;
	text-align: center;
	color: #fff;
	background-color: #000;
	font-size: 11px;
	font-weight: bold;
	font-family: 'メイリオ',Meiryo,'Helvetica Neue',Helvetica,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic ProN',Arial,sans-serif;
	border-bottom: 1px solid #111;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.5);
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.icon3ds     { background-color: #ad4848; }
.iconPsv     { background-color: #305ed3; }
.iconPs4     { background-color: #5c7abd; }
.iconPs3     { background-color: #5c6679; }
.iconSwitch  { background-color: #ff5555; font-size: 9px; }
.iconWiiu    { background-color: #5fa1c3; }
.iconXboxone { background-color: #2a7466; }
.iconXbox360 { background-color: #56c399; }
.iconPsp     { background-color: #3291a3; }
.iconIphone  { background-color: #95abbf; }
.iconBrowser { background-color: #ad7656; font-size: 8px; width: 45px; }
.iconPc      { background-color: #405691; }
.iconMac     { background-color: #666666; }
.iconAc      { background-color: #ab6814; font-size: 8px; width: 45px; }
.iconAndroid { background-color: #85b546; font-size: 8px; width: 45px; }
.iconWii     { background-color: #91a1af; }
.iconPs2     { background-color: #406a9d; }
.iconDc      { background-color: #dd9f3b; }
.iconDs      { background-color: #ef8f95; }

.iconPs3 { background-position: 0 -14px; }

.iconPsp { background-position: 0 -28px; }

.iconPsv { background-position: 0 -42px; }

.iconWii { background-position: 0 -56px; }

.iconWiiu { background-position: 0 -70px; }

.iconXbox360 { background-position: 0 -84px; }

.icon3ds { background-position: 0 -98px; }

.iconAc { background-position: 0 -112px; }

.iconOs { background-position: 0 -126px; }

.iconIphone { background-position: 0 -140px; }

.iconMobile { background-position: 0 -154px; }

.iconPc { background-position: 0 -168px; }

.iconSs { background-position: 0 -182px; }

.iconWs { background-position: 0 -196px; }

.iconXbox { background-position: 0 -210px; }

.icon3do { background-position: 0 -224px; }

.icon64 { background-position: 0 -238px; }

.iconDc { background-position: 0 -252px; }

.iconFamicom { background-position: 0 -266px; }

.iconForeign { background-position: 0 -280px; }

.iconGameboy { background-position: 0 -294px; }

.iconGamegear { background-position: 0 -308px; }

.iconGba { background-position: 0 -322px; }

.iconGc { background-position: 0 -336px; }

.iconInfo { background-position: 0 -350px; }

.iconKikaku { background-position: 0 -364px; }

.iconMd { background-position: 0 -378px; }

.iconMsx { background-position: 0 -392px; }

.iconNds { background-position: 0 -406px; }

.iconNeogeo { background-position: 0 -420px; }

.iconNgp { background-position: 0 -434px; }

.iconPce { background-position: 0 -448px; }

.iconPs { background-position: 0 -462px; }

.iconSfc { background-position: 0 -476px; }

.iconSms { background-position: 0 -490px; }

.iconPcfx { background-position: 0 -504px; }

.iconPs4 { background-position: 0 -518px; }

.iconXboxone { background-position: 0 -532px; }

.iconBrowser { background-position: 0 -546px; }

.iconPsm { background-position: 0 -560px; }

.iconPs2 { background-position: 0 -574px; }

.iconOption { width: 14px; height: 14px; }

.iconDownload { background-position: -30px -79px; }

.iconAddContents { background-position: -44px -78px; }

.iconCeroZ { background-position: -58px -78px; }

.iconOversea { background-position: -72px -78px; }

.iconRankSmall { width: 20px !important; height: 21px !important; }

.iconRankSmall1 { background-position: -120px -47px; background-color: transparent !important; }

.iconRankSmall2 { background-position: -140px -47px; background-color: transparent !important; }

.iconRankSmall3 { background-position: -120px -68px; background-color: transparent !important; }

.iconRankBig { width: 30px !important; height: 31px !important; }

.iconRankGold, .iconRankBig1 { background-position: -30px -47px; background-color: transparent !important; }

.iconRankSilver, .iconRankBig2 { background-position: -60px -47px; background-color: transparent !important; }

.iconRankBronze, .iconRankBig3 { background-position: -90px -47px; background-color: transparent !important; }

.iconFsocial { width: 24px; height: 25px; }

.iconFTwitter { background-position: -30px -93px; }

.iconFFacebook { background-position: -76px -92px; }

.iconFRss { background-position: -122px -92px; }

.bdcAllDevice { border-color: #292d90; }
.bdcAllDevice:hover { border-color: #292d90 !important; }

.bdcPs4 { border-color: #2d549c; }
.bdcPs4:hover { border-color: #2d549c !important; }

.bdcPs3 { border-color: #666f81; }
.bdcPs3:hover { border-color: #666f81 !important; }

.bdcPsvita { border-color: #4A8C9F; }
.bdcPsvita:hover { border-color: #4A8C9F !important; }

.bdc3ds { border-color: #9F504D; }
.bdc3ds:hover { border-color: #9F504D !important; }

.bdcSwitch          { border-color: #ED3A3E ; }
.bdcSwitch:hover    { border-color: #ED3A3E  !important; }

.bdcWiiu { border-color: #518DB2; }
.bdcWiiu:hover { border-color: #518DB2 !important; }

.bdcXboxone { border-color: #497A56; }
.bdcXboxone:hover { border-color: #497A56 !important; }

.bdcXbox360 { border-color: #6CA63F; }
.bdcXbox360:hover { border-color: #6CA63F !important; }

.bdcPsp { border-color: #5d9fb1; }
.bdcPsp:hover { border-color: #5d9fb1 !important; }

.on.bgcAllDevice { background-color: #292d90; }
.on.bgcAllDevice:hover { background-color: #292d90; }
.on.bgcPs4 { background-color: #2d549c; }
.on.bgcPs4:hover { background-color: #2d549c; }
.on.bgcPs3 { background-color: #666f81; }
.on.bgcPs3:hover { background-color: #666f81; }
.on.bgcPsvita { background-color: #4A8C9F; }
.on.bgcPsvita:hover { background-color: #4A8C9F; }
.on.bgc3ds { background-color: #9F504D; }
.on.bgc3ds:hover { background-color: #9F504D; }
.on.bgcSwitch       { background-color: #ED3A3E ; }
.on.bgcSwitch:hover { background-color: #ED3A3E ; }
.on.bgcWiiu { background-color: #518DB2; }
.on.bgcWiiu:hover { background-color: #518DB2; }
.on.bgcXboxone { background-color: #497A56; }
.on.bgcXboxone:hover { background-color: #497A56; }
.on.bgcXbox360 { background-color: #6CA63F; }
.on.bgcXbox360:hover { background-color: #6CA63F; }
.on.bgcPsp { background-color: #5d9fb1; }
.on.bgcPsp:hover { background-color: #5d9fb1; }

.bgcAllDevice:hover { background-color: #292d90; }

.bgcPs4:hover { background-color: #2d549c; }

.bgcPs3:hover { background-color: #666f81; }

.bgcPsvita:hover { background-color: #4A8C9F; }

.bgc3ds:hover { background-color: #9F504D; }

.bgcSwitch:hover { background-color: #ED3A3E; }

.bgcWiiu:hover { background-color: #518DB2; }

.bgcXboxone:hover { background-color: #497A56; }

.bgcXbox360:hover { background-color: #6CA63F; }

.bgcPsp:hover { background-color: #5d9fb1; }

/* 修正 */
.userNum { padding-left: 0; }

/* 修正 */
.viewData { color: #999; }

.viewNum { display: inline-block; height: 24px; line-height: 24px; color: #FFF; font-weight: bold; padding: 0 5px; }

.tweetNum.hot, .userData.hot { font-size: 12px; display: inline-block; color: #666; padding: 0 4px; height: 14px; line-height: 14px; }

.viewNum.low, .tweetNum.low { color: #FFF !important; background-color: #FF9999 !important; }

.viewNum.middle, .tweetNum.middle { color: #FFF !important; background-color: #FF6666 !important; }

.viewNum.high, .tweetNum.high { color: #FFF !important; background-color: #ff0808 !important; }

.numData.low { color: #FF9999 !important; }

.numData.middle { color: #FF6666 !important; }

.numData.high { color: #FF0808 !important; font-weight: bold !important; }

.fcGold { color: #EDAE00 !important; }

.fcSilver { color: #C5B69E !important; }

.fcBronze { color: #8D3927 !important; }

/* レビュースコア */
.green { background-color: #009A20 !important; color: #FFF !important; }

/*---------------------------------------------- レビュースコア --------------------------------------------*/
.reviewScore { position: absolute; right: 0; top: 0; display: block; width: 40px; height: 40px; line-height: 40px; color: #FFF !important; font-weight: bold; font-size: 18px; text-align: center; font-family: Helvetica,sans-serif; }

.reviewNumLv1 { /* 49～0 */ background-color: #D03000 !important; }

.reviewNumLv2 { /* 49～0 */ background-color: #D03000 !important; }

.reviewNumLv3 { /* 79～50 */ background-color: #F0C000 !important; }

.reviewNumLv4 { /* 79～50 */ background-color: #F0C000 !important; }

.reviewNumLv5 { /* 100～80 */ background-color: #009A20 !important; }

.reviewNumLv0 { display: none; }

/*---------------------------------------------- ボタン --------------------------------------------*/
a.btn, .btn { display: inline-block; height: 24px; line-height: 24px; font-size: 12px; color: #333; padding: 0 7px; margin: 0 7px 0 0; text-align: center; background-color: #E8E8E8; -webkit-border-radius: 3px; border-radius: 3px; font-weight: bold; font-size: 11px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; cursor: pointer; }

.btn:last-child { margin-right: 0; }

a.btn:hover, .btn:hover { text-decoration: none; background-color: #D6D6D6; color: #333; }

a.cvBtn, .cvBtn { color: #FFF; background-color: #f4792a; }

a.cvBtn:hover, .cvBtn:hover { color: #FFF; background-color: #f38c49; }

a.moreBtn { font-size: 13px; width: 50%; height: 32px; line-height: 32px; }

.contentChange a.moreBtn { color: #0055AD; color: #FFF; background: #0055AD; }
.contentChange a.moreBtn:hover { background: #0071e6; text-decoration: none; }

a.btnAllDevive, .btnAllDevive { color: #FFF; background-color: #292d90; }

a.btnAllDevive:hover, .btnAllDevive:hover { color: #FFF; background-color: #3235A7; }

a.btnPs4, .btnPs4 { color: #FFF; background-color: #2d549c; }

a.btnPs4:hover, .btnPs4:hover { color: #FFF; background-color: #3C67B5; }

a.btnPs3, .btnPs3 { color: #FFF; background-color: #666f81; }

a.btnPs3:hover, .btnPs3:hover { background-color: #838A97; color: #FFF; }

a.btnPsv, .btnPsv { color: #FFF; background-color: #4A8C9F; }

a.btnPsv:hover, .btnPsv:hover { color: #FFF; background-color: #5FA6BB; }

a.btn3ds, .btn3ds { color: #FFF; background-color: #9F504D; }

a.btn3ds:hover, .btn3ds:hover { color: #FFF; background-color: #BC6563; }

a.btnPsp, .btnPsp { color: #FFF; background-color: #5d9fb1; }

a.btnPsp:hover, .btnPsp:hover { color: #FFF; background-color: #76B6C8; }

a.btnXboxone, .btnXboxone { color: #FFF; background-color: #497A56; }

a.btnXboxone:hover, .btnXboxone:hover { color: #FFF; background-color: #62916E; }

a.btnXbox360, .btnXbox360 { color: #FFF; background-color: #6CA63F; }

a.btnXbox360:hover, .btnXbox360:hover { color: #FFF; background-color: #7ABB4A; }

a.btnSwitch, .btnSwitch             {color: #FFF;background-color: #ED3A3E ;}
a.btnSwitch:hover, .btnSwitch:hover {color: #FFF;background-color: #e95054 ;}

a.btnWiiu, .btnWiiu { color: #FFF; background-color: #518DB2; }

a.btnWiiu:hover, .btnWiiu:hover { color: #FFF; background-color: #6BA8CE; }

a.btnTwitter, .btnTwitter { color: #FFF; background-color: #25c0f4; }

a.btnTwitter:hover, .btnTwitter:hover { color: #FFF; background-color: #2DC5F7; }

a.btnMail, .btnMail { color: #FFF; background-color: #ffaa00; }

a.btnMail:hover, .btnMail:hover { background-color: #ffb624; color: #FFF; }

a.submitBtn, .submitBtn { max-width: 320px; height: 48px; line-height: 48px; padding: 0 20px; background-color: #e91e63; border: 3px solid #C2185B; color: #FFF; font-size: 16px; }

a.submitBtn:hover, .submitBtn:hover { background-color: #C2185B; color: #FFF; }

.button { line-height: 1; }

.thumbIcon { position: absolute; top: 0; left: 0; padding: 0 7px; height: 20px; line-height: 20px; display: inline-block; text-align: center; color: #FFF; font-weight: bold; text-indent: 0; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; max-width: 10em; }

.newsEnergy { float: left; width: 120px; height: 17px; margin-right: 7px; text-align: center; -webkit-box-sizing: border-box; box-sizing: border-box; }
.newsEnergy .newsEnergyMeter { float: left; width: 60px; height: 100%; margin-right: 7px; background-color: #CCC; -webkit-box-sizing: border-box; box-sizing: border-box; }
.newsEnergy .newsEnergyMeter.no { width: auto; }
.newsEnergy .newsEnergyMeter .meter { width: 100%; height: 100%; background-color: #f50050; }
.newsEnergy .fa { margin-right: 5px; font-weight: bold; }
.newsEnergy .num { float: left; height: 100%; background: #FFF; font-weight: bold; font-size: 14px; color: #f50050; -webkit-box-sizing: border-box; box-sizing: border-box; }

.thumbMark { position: absolute; top: 0; left: 0; }
.thumbMark .triangle { display: block; position: absolute; top: 0; left: 0; border: 26px solid transparent; border-left-color: #f50050; border-top-color: #f50050; z-index: 1; }
.thumbMark .text { position: absolute; top: 0; left: 0; width: 52px; height: 52px; line-height: 28px; font-size: 11px; text-align: center; color: #FFF; z-index: 1; -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); }

/*---------------------------------------------- webフォント --------------------------------------------*/
.fa-caret-down { margin-left: 5px; }

.fa-twitter { color: #67AEEB; }

.fa-angle-left, .fa-angle-right { width: 7px; height: 16px; font-size: 16px; }

.fa-angle-left { margin-right: 3px; }

.fa-angle-right { margin-left: 3px; }

.fa-plus { width: 12px; height: 12px; }

.fa-file-text-o, .fa-user { margin-right: 3px; }

#adBottom, #adTopBig { margin: 0; text-align: center; }

#adTopBig { width: 1000px; margin: 0 auto; }

#adBottom > div, #adTopBig > div { display: inline-block; }

#adTopMovieWrap { width: 100%; }
#adTopMovieWrap .movieTitle { padding: 0 10px; height: 32px; line-height: 32px; overflow: hidden; color: #FFF; text-overflow: ellipsis; white-space: nowrap; background-color: #1b1b1b; font-weight: bold; font-size: 16px; -webkit-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.68); text-shadow: 0 1px 0 rgba(0, 0, 0, 0.68); }
#adTopMovieWrap #adTopMovie { width: 100%; height: 211px; background-color: #FBFBFB; overflow: hidden; }
#adTopMovieWrap iframe { width: 100% !important; height: 100% !important; }

#adTop { width: 1000px; height: 90px; margin: 0 auto; padding: 5px 0; background-color: #F2F2F2; }
#adTop > div { width: 728px; height: 90px; margin: 0 auto; overflow: hidden; }

#adBottom { margin: 0; height: 0; }

#adRect { width: 300px; margin-bottom: 5px; }

.adPremium { margin-bottom: 5px; }
.adPremium ul > li { margin-top: 6px; width: 300px; }
.adPremium ul > li:first-child { margin-top: 10px; }
.adPremium ul > li > a { display: block; width: 300px; height: 60px; }

.adNative { width: 480px; height: 101px !important; overflow: hidden; background: #fefedc; -webkit-box-sizing: border-box; box-sizing: border-box; border-left: 1px solid #E5E5E5; border-right: 1px solid #E5E5E5; border-bottom: 1px dotted #CCC; }
.adNative iframe { width: 100% !important; height: 102px !important; }

.adTopNewsWrap { background-color: #FFF; padding: 8px 0 0; border-left: 1px solid #E5E5E5; border-right: 1px solid #E5E5E5; }

.adTopNews { text-align: center; width: 468px; margin: 0 auto; background-color: #FFF; }

#adLeftFixed { width: 300px; height: 250px; line-height: 250px; }

#adRightCol { width: 300px; height: 60px; line-height: 60px; margin-bottom: 5px; }

#adSideStandard { background-color: #fefedc; padding: 10px; margin: 5px 0; -webkit-box-shadow: none; box-shadow: none; }
#adSideStandard li { margin-top: 5px; padding-top: 5px; border-top: 1px dotted #CCC; overflow: hidden; }
#adSideStandard li:first-child { margin: 0; padding: 0; border: none; }
#adSideStandard li a { display: block; font-size: 11px; line-height: 15px; }
#adSideStandard .thumb { float: left; margin-right: 5px; width: 90px; height: 60px; background-color: #F2F2F2; }

#adArticleTop { width: 468px; height: 60px; line-height: 60px; display: inline-block; margin-bottom: 10px; }

.adArticleBottomWrap { border-top: 1px solid #E5E5E5; padding: 20px; height: 250px; background-color: #FEFEFE; }

.adArticleBottom { display: inline-block; width: 300px; overflow: hidden; }
.adArticleBottom.adBg { background: transparent; }
.adArticleBottom.second { margin-bottom: 0; }

#adRightBgJack, #adLeftBgJack { position: fixed; top: 40px; width: 305px; height: 800px; z-index: 9996; margin-left: -310px; }

#adRightBgJack { margin-left: 995px; }

#adTopStandard { float: right; width: 728px; }
#adTopStandard > ul { background-color: #fefedc; padding: 10px 0; overflow: hidden; }
#adTopStandard > ul > li { float: right; width: 33.3333%; padding: 0 10px; -webkit-box-sizing: border-box; box-sizing: border-box; }
#adTopStandard .thumb { float: left; margin-right: 5px; }
#adTopStandard .title { display: block; font-size: 11px; line-height: 15px; height: 60px; overflow: hidden; }

.adBg { background-color: transparent; }
.adBg:before { display: block; content: '.'; height: 0; visibility: hidden; }

.adTc { text-align: center; }
.adTc.logoOn { text-align: right; }

.adBgOn { background-color: #FFF; }

#adFixedWrap { position: fixed; bottom: -122px; left: 0; width: 100%; height: 90px; visibility: hidden; -webkit-transition: all 0.3s ease; transition: all 0.3s ease; z-index: 9999; text-align: center; }
#adFixedWrap.show { bottom: 0; visibility: visible; -webkit-transition: all 0.3s ease; transition: all 0.3s ease; }

#adFixed { position: relative; display: inline-block; width: 975px; line-height: 90px; height: 90px; }
#adFixed .btn { position: absolute; top: -25px; left: 0; width: auto; padding: 0 10px; margin: 0; font-size: 14px; z-index: 9999; -webkit-border-radius: 3px 3px 0 0; border-radius: 3px 3px 0 0; }
#adFixed .fa { vertical-align: -0.365em; width: 20px; height: 20px; font-size: 20px; }

#adModalOverLay { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(255, 255, 255, 0.75); z-index: 9996; }

#adModal { position: absolute; top: 50%; left: 50%; width: 640px; height: 480px; margin: -240px 0 0 -320px; background-color: #FFF; background-image: url(../img/test_pop_up.jpg); border: 3px solid #333; -webkit-background-size: cover; background-size: cover; -webkit-background-position: 50% 50%; background-position: 50% 50%; -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.48); box-shadow: 0 4px 20px rgba(0, 0, 0, 0.48); -webkit-border-radius: 3px; border-radius: 3px; -webkit-transition: all 0.08s linear; transition: all 0.08s linear; z-index: 9997; }
#adModal .adModalClose { position: absolute; top: -28px; right: -24px; background-color: #333; width: 48px; height: 48px; text-align: center; -webkit-border-radius: 100%; border-radius: 100%; -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.28); box-shadow: 0 1px 2px rgba(0, 0, 0, 0.28); cursor: pointer; z-index: 9998; }
#adModal .adModalClose:hover { background-color: #444; }
#adModal .adModalClose .fa { position: relative; top: 6px; left: 1px; font-size: 36px; color: #FFF; }
#adModal .adModalInner { overflow: hidden; width: 100%; height: 100%; }
#adModal .adModalInner .box1 { float: left; width: 50%; height: 100%; padding: 20px; -webkit-box-sizing: border-box; box-sizing: border-box; }
#adModal .adModalInner .box2 { float: right; width: 50%; height: 100%; padding: 20px; background-image: url(../img/test_pop_up.jpg); -webkit-background-size: cover; background-size: cover; -webkit-background-position: 50% 50%; background-position: 50% 50%; -webkit-box-sizing: border-box; box-sizing: border-box; }
#adModal .adModalInner .box3 { position: relative; text-align: center; width: 100%; height: 100%; }
#adModal .adModalInner h2 { font-size: 20px; margin-bottom: .5em; }
#adModal .adModalInner p { line-height: 1.6; margin-bottom: .5em; }
#adModal a.btn { position: absolute; bottom: 40px; left: 50%; margin: 0 0 0 -240px; width: 480px; height: 64px; line-height: 64px; font-size: 24px; background: #3498db; background-image: -webkit-linear-gradient(top, #3498db, #2980b9); background-image: -moz-linear-gradient(top, #3498db, #2980b9); background-image: -ms-linear-gradient(top, #3498db, #2980b9); background-image: linear-gradient(to bottom, #3498db, #2980b9); }
#adModal a.btn:hover { background: #3cb0fd; background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db); background-image: -moz-linear-gradient(top, #3cb0fd, #3498db); background-image: -ms-linear-gradient(top, #3cb0fd, #3498db); background-image: -o-linear-gradient(top, #3cb0fd, #3498db); background-image: linear-gradient(to bottom, #3cb0fd, #3498db); }
#adModal .siteName { margin-right: .5em; }

#adArticleHeaderBottom { width: 468px; height: 60px; margin-bottom: 14px; }
#adArticleHeaderBottom img:hover { opacity: 0.85; }

/* -------------------------------------------------------
* contentColumn
------------------------------------------------------- */
.container { width: 990px; margin: 0 auto; }

#header, #content, #footer { width: 100%; }

#footer { background-color: #282829; }

#headerInner, #contentInner, #footerInner { width: 100%; }

#footerInnerTop { padding: 20px 0 0 0; }

#footerInnerMiddle { margin: 30px 0 0; padding: 20px 0; }

#footerInnerBottom { padding: 30px 0 40px; }

#contentWrap { padding: 5px 0; }

#mainContentWrap { float: left; width: 685px; }

#sideContent1 { float: left; width: 200px; }

#sideContent2 { float: right; width: 300px; }

#mainContent { float: right; width: 480px; }

.twoColLayout #mainContent { width: 100%; }
.twoColLayout.comic #mainContent { background-color: #FFF; }
.twoColLayout.comic #mainContent > .inner { padding: 10px 0; }

/* -------------------------------------------------------
* w100n layout
------------------------------------------------------- */
.w100n { 	/*	#adLeftBgJack {
			top: 84px;
		}
		#adRightBgJack {
			top: 84px;
		}

		.container {
			width: 1000px;
		}

		#header,
		#bottomHeaderWrap {
			width: 1000px;
			margin: 0 auto;
		}
		#bottomHeader {
			padding: 0 10px;
		}
		#contentWrap {

			background-color: #DBDBDB;
			padding: 5px;
		}
		#adHeaderText {
			width: 1000px;
			margin: 0 auto;
			padding: 0 10px;
			@include prefix(box-sizing, $box-sizing_defaultVal);
		}
		#footer {

			width: 1000px;
			margin: 0 auto;
		}
		#siteLinkCollection {
			padding: 0 20px;
		}
	*/ }
.w100n #content { width: 1000px; margin: 0 auto; background-color: #F2F2F2; }
.w100n #contentWrap { padding: 5px 0; }
.w100n #mainContentNaviWrap, .w100n #subContentNaviWrap { background-color: transparent; -webkit-box-shadow: none; box-shadow: none; }
.w100n #subContentNavi { -webkit-box-shadow: none; box-shadow: none; }
.w100n .subMenuFixed #mainContentNavi { background-color: #262626; }
.w100n #bottomHeaderBottom { width: 990px; margin: 0 auto; }
.w100n.defaultLayout #content, .w100n.scheduleLayout #content, .w100n.gameLayout #content, .w100n.ps4Layout #content, .w100n.ps3Layout #content, .w100n.psvitaLayout #content, .w100n.dsLayout #content, .w100n.wiiuLayout #content, .w100n.xboxoneLayout #content, .w100n.xbox360Layout #content, .w100n.pspLayout #content, .w100n.scheduleLayout #content, .w100n.reviewLayout #content { padding: 0 0 10px; }

/* -------------------------------------------------------
* layout color
------------------------------------------------------- */
.newsLayout #bottomHeaderTopWrap { background-color: #213e80; }

.onlineLayout #bottomHeaderTopWrap { background-color: #1E8141; }

.arcadeLayout #bottomHeaderTopWrap { background-color: #D23832; }

.animeLayout #bottomHeaderTopWrap { background-color: #f35ca8; }

.hobbyLayout #bottomHeaderTopWrap { background-color: #e8680c; }

.presentLayout #bottomHeaderTopWrap { background-color: #188195; }

.wikiLayout #bottomHeaderTopWrap { background-color: #1C638E; }

.eventLayout #bottomHeaderTopWrap { background-color: #B72F26; }

.gameLayout #bottomHeaderTopWrap { background-color: #292d90; }

.ps4Layout #bottomHeaderTopWrap { background-color: #2d549c; }

.ps3Layout #bottomHeaderTopWrap { background-color: #666f81; }

.pspLayout #bottomHeaderTopWrap { background-color: #5d9fb1; }

.psvitaLayout #bottomHeaderTopWrap { background-color: #4A8C9F; }

.xboxoneLayout #bottomHeaderTopWrap { background-color: #497A56; }

.xbox360Layout #bottomHeaderTopWrap { background-color: #6CA63F; }

.switchLayout #bottomHeaderTopWrap { background-color: #ED3A3E ; }

.wiiuLayout #bottomHeaderTopWrap { background-color: #518DB2; }

.dsLayout #bottomHeaderTopWrap { background-color: #9F504D; }

.arcadeLayout #mediaLogo a, .onlineLayout #mediaLogo a { background-image: url(/img/logo_media_white.png); }

/* -------------------------------------------------------
* globalNav
------------------------------------------------------- */
#bottomHeaderTopContainer { height: 40px; }

#bottomHeaderTopWrap { position: fixed; top: 0; width: 100%; height: 40px; background-color: #1e1e1e; -webkit-box-sizing: border-box; box-sizing: border-box; z-index: 9999; -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08); }

#bottomHeaderBottom { position: relative; }

#mediaLogoWrap { position: relative; float: left; width: 186px; height: 40px; }
#mediaLogoWrap:hover { 	/*		@include prefix(border-radius, $border-radius_topVal);
			@include prefix(box-shadow, 0 4px 20px rgba(0,0,0,0.45));
			@include prefix(transition, all 0 linear);
			 #mediaLogo.text a ,
			.fa-caret-down,
			.fa-bars {
				color: #333;
			}

			 #hideContentNavi {
				display: none;
			}
			&:before {
				position: absolute;
				top: 0;
				left: 0;
				content: ' ';
				width: 100%;
				height: 100%;
				background-color: #FFF;
				@include prefix(border-radius, $border-radius_topVal);
				z-index: 9998;
			}
	*/ /*
		#hideContentNaviBtn {
			background-color: #C6C6C6;
			@include prefix(border-radius, $border-radius_allVal);
			cursor: pointer;
			@include prefix(transition, all 0 linear);
			&:hover {
				background-color: #E6E6E6;
			}
			.fa {
				color: #333;
			}
		}
*/ }
#mediaLogoWrap:hover #mediaLogo a { opacity: 0.95; /*
			background: url(/img/logo_media_hover_red.png) center center no-repeat;
*/ }

#mediaLogo { position: relative; float: right; z-index: 9999; height: 40px; }
#mediaLogo a { position: relative; display: block; width: 136px; height: 40px; background: url("/img/logo_media_red.png") 4px 1px no-repeat; text-indent: -9999px; font-weight: normal; }
#mediaLogo a:hover { text-decoration: none; }
#mediaLogo.text .logo { line-height: 42px; margin: 0; }
#mediaLogo.text a { background-image: none; text-indent: 1px; color: #BBB; font-size: 18px; font-weight: bold; height: 44px; }

#hideContentNaviBtn { position: relative; padding: 13px 6px 6px 6px; -webkit-box-sizing: border-box; box-sizing: border-box; width: 40px; height: 40px; z-index: 9999; cursor: pointer; background-color: #F8F8F8; }
#hideContentNaviBtn:hover { background-color: #FFF; }
#hideContentNaviBtn .notified { position: absolute; top: 4px; right: 2px; padding: 0 2px; min-width: 12px; line-height: 16px; height: 16px; -webkit-border-radius: 3px; border-radius: 3px; margin-left: -20px; background-color: #FE0000; color: #FFF; font-size: 11px; text-align: center; z-index: 1; }
#hideContentNaviBtn .fa { float: left; color: #333; }
#hideContentNaviBtn .fa-bars { position: relative; bottom: 2px; left: 6px; font-size: 20px; }
#hideContentNaviBtn .fa-caret-down { position: relative; bottom: -4px; left: 3px; font-size: 12px; margin-left: 5px; }

#contentLogo a { display: block; color: #333; }
#contentLogo a:hover { text-decoration: none; }
#contentLogo .serviceName { display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
#contentLogo .subTitle { font-weight: normal; font-size: 11px; color: #999; display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

.arcadeLayout #contentLogo .subTitle { color: #B22F28; text-align: center; font-size: 8px; font-weight: bold; }
.arcadeLayout .serviceName { display: block; width: 148px; }
.arcadeLayout #hideContentLogo.show { bottom: -60px; }
.arcadeLayout #hideContentLogo .subTitle { color: #B22F28; text-align: center; font-size: 8px; font-weight: bold; }

.onlineLayout #contentLogo .subTitle { color: #1E8041; font-size: 8px; font-weight: bold; }
.onlineLayout #contentLogoArea { width: 200px; }
.onlineLayout #contentHeader .subArea { width: 770px; }

.eventLayout #contentLogo .subTitle { font-size: 11px; color: #999; }
.eventLayout #contentHeader .subArea { height: 36px; }

.saleRankingLayout #contentLogo .serviceName { display: block; font-size: 16px; height: 18px; line-height: 18px; margin-bottom: 3px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
.saleRankingLayout #contentLogo .subTitle { font-size: 11px; color: #999; }

.communityLayout #contentLogo { margin: 15px 0 0 0; }
.communityLayout #contentLogo .subTitle { color: #697F87; display: block; font-size: 11px; margin-bottom: 3px; }
.communityLayout #hideContentLogo .subTitle { color: #697F87; display: block; font-size: 11px; margin-bottom: 3px; }

#hideContentLogo { position: absolute; bottom: 0; padding: 5px 10px; width: 180px; height: 48px; opacity: 0; visibility: hidden; text-align: center; -webkit-transition: all 0.3s ease; transition: all 0.3s ease; background-color: #FFF; border: 1px solid #DBDBDB; border-top: none; -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.18); box-shadow: 0 4px 20px rgba(0, 0, 0, 0.18); }
#hideContentLogo a { display: block; }
#hideContentLogo a:hover { text-decoration: none; }
#hideContentLogo.show { opacity: 1; visibility: visible; -webkit-transition: all 0.3s ease; transition: all 0.3s ease; }
#hideContentLogo img { max-width: 100%; height: auto; }
#hideContentLogo.career a { font-size: 24px; color: #FE0000; font-weight: bold; }
#hideContentLogo.career .subTitle { display: block; margin-top: 6px; color: #333; font-size: 11px; font-weight: bold; }

#hideContentNaviWrap { position: relative; float: left; height: 40px; margin-right: 10px; }

#hideContentNavi { display: none; position: absolute; top: 40px; left: 0; width: 640px; height: 545px; -webkit-border-radius: 0 0 3px 3px; border-radius: 0 0 3px 3px; padding: 10px; background-color: #F8F8F8; -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.45); box-shadow: 0 4px 20px rgba(0, 0, 0, 0.45); -webkit-box-sizing: border-box; box-sizing: border-box; z-index: 9997; -webkit-transition: all 0.08s ease; transition: all 0.08s ease; text-align: left; }
#hideContentNavi a { color: #333; display: block; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
#hideContentNavi a:hover { text-decoration: none; background-color: #F2F2F2; color: #333; }
#hideContentNavi:before { position: absolute; content: ''; top: -8px; left: 16px; border: 4px solid transparent; border-bottom-color: #FFF; }
#hideContentNavi .iconNavi { left: 10px; }
#hideContentNavi .scrollOn { -webkit-overflow-scrolling: touch; overflow-y: scroll; }
#hideContentNavi .scrollOn::-webkit-scrollbar { overflow: hidden; width: 5px; background: #E6E7E8; -webkit-border-radius: 3px; border-radius: 3px; }
#hideContentNavi .scrollOn::-webkit-scrollbar:horizontal { height: 5px; }
#hideContentNavi .scrollOn::-webkit-scrollbar-button { display: none; }
#hideContentNavi .scrollOn::-webkit-scrollbar-piece { background: #E6E7E8; }
#hideContentNavi .scrollOn::-webkit-scrollbar-piece:start { background: #E6E7E8; }
#hideContentNavi .scrollOn::-webkit-scrollbar-thumb { overflow: hidden; -webkit-border-radius: 3px; border-radius: 3px; background: rgba(0, 0, 0, 0.28); }
#hideContentNavi .scrollOn::-webkit-scrollbar-corner { overflow: hidden; -webkit-border-radius: 3px; border-radius: 3px; background: rgba(0, 0, 0, 0.28); }
#hideContentNavi .headerNavi > span, #hideContentNavi .headerNavi > a { position: relative; padding: 0 10px; display: block; height: 26px; line-height: 26px; background-color: #CCC; font-size: 14px; color: #FFF; }
#hideContentNavi .headerNavi > a .fa { position: absolute; top: 50%; right: 10px; color: #FFF; margin-top: -12px; font-size: 24px; font-weight: bold; }
#hideContentNavi.headerNavi a:hover { text-decoration: none; background-color: #D2D2D2; }
#hideContentNavi .level1 { height: 480px; margin-right: -10px; margin-left: 205px; overflow: visible; }
#hideContentNavi .level1:first-child { float: left; margin: 0 5px 5px 0; }
#hideContentNavi .level1:first-child > li { float: none; margin: 0; }
#hideContentNavi .level1 > li { float: left; width: 205px; margin-right: 5px; -webkit-box-sizing: border-box; box-sizing: border-box; }
#hideContentNavi .level1:first-child > li { margin: 5px  0 0 0; }
#hideContentNavi .level1:first-child > li .level2 > li:nth-child(odd) { border-right: 1px dotted #CCC; -webkit-box-sizing: border-box; box-sizing: border-box; }
#hideContentNavi .level1:first-child > li:first-child { margin: 0; }
#hideContentNavi .level1:last-child > li:last-child { margin: 10px 0 0 0; }
#hideContentNavi .level2 { background-color: #FFF; overflow: hidden; border: 1px solid #E5E5E5; border-top: none; }
#hideContentNavi .level2 > li { border-bottom: 1px dotted #CCC; }
#hideContentNavi .level2 > li:last-child { border-bottom: none; }
#hideContentNavi .level2 a { padding: 6px 12px; font-size: 13px; }
#hideContentNavi .newMark { position: absolute; top: 50%; right: 8px; margin-top: -9px; color: #FE0000; font-size: 12px; }

#headerNaviNews.headerNavi > a { background-color: #36649f; border-bottom: 2px solid #25416e; }
#headerNaviNews.headerNavi > a:hover { background-color: #4171ae; border-bottom: 2px solid #305185; }
#headerNaviNews .level2 a { font-size: 13px; }
#headerNaviNews .level2 > li { float: left; width: 50%; }

#headerNaviGameSchedule.headerNavi > a { background-color: #65a435; border-bottom: 2px solid #366d19; }
#headerNaviGameSchedule.headerNavi > a:hover { background-color: #7bbb49; border-bottom: 2px solid #5a9836; }
#headerNaviGameSchedule .level2 a { font-size: 13px; }
#headerNaviGameSchedule .level2 > li { float: left; width: 50%; }
#headerNaviGameSchedule .level2 > li:nth-last-child(2) { border-bottom: none; }

#headerNaviCommunity.headerNavi > a { background-color: #aa4678; border-bottom: 2px solid #873259; }
#headerNaviCommunity.headerNavi > a:hover { background-color: #be5b8c; border-bottom: 2px solid #9f406c; }
#headerNaviCommunity .level2 a { font-size: 13px; }
#headerNaviCommunity .level2 > li { float: left; width: 50%; }
#headerNaviCommunity .level2 > li:nth-last-child(2) { border-bottom: none; }

#headerNaviPlan { height: 525px; background-color: #E6E7E8; }
#headerNaviPlan.headerNavi > span { background-color: #387f7f; border-bottom: 2px solid #215d5b; }
#headerNaviPlan.headerNavi > a { background-color: #387f7f; border-bottom: 2px solid #215d5b; }
#headerNaviPlan.headerNavi > a:hover { background-color: #4a9797; border-bottom: 2px solid #307b78; }
#headerNaviPlan .level2 a { position: relative; font-size: 12px; padding: 4px 8px; text-align: left; }
#headerNaviPlan .level2 a:visited { color: #999; }
#headerNaviPlan .level2 a.newMarkOn { padding-right: 32px !important; }
#headerNaviPlan .level2 a.iconOff { padding: 5px 10px 10px !important; }
#headerNaviPlan .level2 > li { border-top: 1px dotted #CCC; border-bottom: none; }
#headerNaviPlan .level2 > li:first-child { border: none; }
#headerNaviPlan img { max-width: 100%; height: auto; }

#headerNaviBlog { height: 379px; background-color: #E6E7E8; }
#headerNaviBlog.headerNavi > span { background-color: #b85959; border-bottom: 2px solid #a23c3c; }
#headerNaviBlog.headerNavi > a { background-color: #b85959; border-bottom: 2px solid #a23c3c; }
#headerNaviBlog.headerNavi > a:hover { background-color: #ce6c6c; border-bottom: 2px solid #bd5050; }
#headerNaviBlog .level2 a { position: relative; font-size: 12px; padding: 4px 8px; text-align: left; }
#headerNaviBlog .level2 a:visited { color: #999; }
#headerNaviBlog .level2 a.newMarkOn { padding-right: 32px !important; }
#headerNaviBlog .level2 a.iconOff { padding: 5px 10px 10px !important; }
#headerNaviBlog .level2 > li { border-top: 1px dotted #CCC; border-bottom: none; }
#headerNaviBlog .level2 > li:first-child { border: none; }
#headerNaviBlog img { max-width: 100%; height: auto; }

#headerNaviComic { height: 136px; background-color: #E6E7E8; }
#headerNaviComic.headerNavi > span { background-color: #c6954b; border-bottom: 2px solid #b7742b; }
#headerNaviComic.headerNavi > a { background-color: #c6954b; border-bottom: 2px solid #b7742b; }
#headerNaviComic.headerNavi > a:hover { background-color: #cfa15b; border-bottom: 2px solid #c9853c; }
#headerNaviComic .level2 a { position: relative; font-size: 12px; padding: 4px 8px; text-align: left; }
#headerNaviComic .level2 a:visited { color: #999; }
#headerNaviComic .level2 a.newMarkOn { padding-right: 32px !important; }
#headerNaviComic .level2 a.iconOff { padding: 5px 10px 10px !important; }
#headerNaviComic .level2 > li { border-top: 1px dotted #CCC; border-bottom: none; }
#headerNaviComic .level2 > li:first-child { border: none; }
#headerNaviComic img { max-width: 100%; height: auto; }

#serviceHeader { border-top: 1px solid #DBDBDB; overflow: hidden; }

#contentNavi { float: right; width: 786px; text-align: right; }
#contentNavi > ul > li { display: inline-block; }
#contentNavi > ul > li:first-child span { border: none; }
#contentNavi > ul > li > a { display: block; text-align: center; font-weight: bold; height: 40px; line-height: 40px; font-size: 13px; border-bottom: 0 solid; color: #EEE; -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-transition: all 0.13s ease-in-out; transition: all 0.13s ease-in-out; }
#contentNavi > ul > li > a:hover { text-decoration: none; color: #FFF; }
#contentNavi > ul > li > a > span { padding: 0 5px; }

/* -------------------------------------------------------
* mainContentsNav
------------------------------------------------------- */
#mainContentNaviContainer { height: 40px; margin-bottom: 5px; }

#mainContentNaviWrap { position: relative; width: 100%; height: 40px; -webkit-transition: all 0.3s ease; transition: all 0.3s ease; z-index: 9998; -webkit-box-sizing: border-box; box-sizing: border-box; }

#mainContentNavi { padding: 5px; background-color: #262626; height: 40px; -webkit-border-radius: 3px; border-radius: 3px; -webkit-box-sizing: border-box; box-sizing: border-box; }
#mainContentNavi > li { float: left; position: relative; -webkit-transition: all 0.3s ease; transition: all 0.3s ease; }
#mainContentNavi > li:hover .subMenu { opacity: 1; visibility: visible; }
#mainContentNavi > li:last-child:hover span { background-color: #FFF; color: #333; -webkit-border-radius: 3px 3px 0 0; border-radius: 3px 3px 0 0; }
#mainContentNavi > li > span, #mainContentNavi > li > a { position: relative; display: inline-block; min-width: 72px; line-height: 30px; height: 30px; text-align: center; color: #FFF; font-size: 14px; padding: 0 4px; -webkit-border-radius: 3px; border-radius: 3px; -webkit-box-sizing: border-box; box-sizing: border-box; }
#mainContentNavi > li > span:hover, #mainContentNavi > li > a:hover { text-decoration: none; }
#mainContentNavi > li > span.longWord, #mainContentNavi > li > a.longWord { width: 92px; }
#mainContentNavi .subMenu { position: relative; visibility: hidden; opacity: 0; -webkit-transition: all 0.1s ease; transition: all 0.1s ease; position: absolute; top: 30px; right: 0; padding: 10px; width: 340px; height: 470px; -webkit-overflow-scrolling: touch; overflow-y: auto; border: 1px solid  #EEE; -webkit-box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2); box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2); background-color: #FFF; -webkit-border-radius: 3px; border-radius: 3px; -webkit-box-sizing: border-box; box-sizing: border-box; z-index: 1; }
#mainContentNavi .subMenu::-webkit-scrollbar { overflow: hidden; width: 5px; background: #E6E7E8; -webkit-border-radius: 3px; border-radius: 3px; }
#mainContentNavi .subMenu::-webkit-scrollbar:horizontal { height: 5px; }
#mainContentNavi .subMenu::-webkit-scrollbar-button { display: none; }
#mainContentNavi .subMenu::-webkit-scrollbar-piece { background: #E6E7E8; }
#mainContentNavi .subMenu::-webkit-scrollbar-piece:start { background: #E6E7E8; }
#mainContentNavi .subMenu::-webkit-scrollbar-thumb { overflow: hidden; -webkit-border-radius: 3px; border-radius: 3px; background: rgba(0, 0, 0, 0.28); }
#mainContentNavi .subMenu::-webkit-scrollbar-corner { overflow: hidden; -webkit-border-radius: 3px; border-radius: 3px; background: rgba(0, 0, 0, 0.28); }
#mainContentNavi .subMenu li { float: left; width: 50%; }
#mainContentNavi .subMenu li.current a { background-color: #E6E6E6; }
#mainContentNavi .subMenu a { color: #333; display: block; padding: 0 5px; height: 32px; line-height: 32px; font-size: 14px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; -webkit-border-radius: 3px; border-radius: 3px; -webkit-box-sizing: border-box; box-sizing: border-box; }
#mainContentNavi .subMenu a:hover { background-color: #E6E6E6; text-decoration: none; color: #333; }
#mainContentNavi .deviceName { margin-right: 5px; }
#mainContentNavi .relationContent { position: relative; border-top: 1px solid #D6D6D6; margin: 15px 0 0 0; padding: 15px 0 0 0; }
#mainContentNavi .relationContent .message { position: absolute; top: -9px; left: 15px; width: 100%; height: 14px; height: 14px; color: #BBB; font-size: 11px; font-weight: normal; }
#mainContentNavi .relationContent .message span { background-color: #FFF; padding: 0 5px; }

#subContentNaviContainer { height: 36px; }

#subContentNaviWrap { height: 36px; -webkit-transition: all 0.3s ease; transition: all 0.3s ease; z-index: 9997; }

#subContentNavi { background-color: #FFF; border: 1px solid #E5E5E5; border-top: none; }
#subContentNavi > li { float: left; }
#subContentNavi > li > a { display: block; color: #333; padding: 0 8px; height: 36px; line-height: 36px; min-width: 72px; font-size: 13px; text-align: center; -webkit-box-sizing: border-box; box-sizing: border-box; }
#subContentNavi > li > a:hover { text-decoration: none; border-bottom-width: 3px; border-bottom-style: solid; }
#subContentNavi > li.current a { border-bottom-width: 3px; border-bottom-style: solid; font-weight: bold; }

/* -------------------------------------------------------
* subMenuFixed
------------------------------------------------------- */
/* -------------------------------------------------------
* rightSideGameSchedule
------------------------------------------------------- */
#sideFamitsuAccount { padding: 0 0 5px; }
#sideFamitsuAccount ul { margin-right: -5px; }
#sideFamitsuAccount ul li { float: left; margin-right: 5px; }
#sideFamitsuAccount .block { position: relative; display: block; width: 147px; height: 44px; color: #FFF; padding: 3px 0 0 0; -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-border-radius: 3px; border-radius: 3px; }
#sideFamitsuAccount .block .text { display: block; text-align: center; font-weight: bold; font-size: 12px; }
#sideFamitsuAccount .block .text:first-child { font-size: 16px; }
#sideFamitsuAccount .block:hover { text-decoration: none; }
#sideFamitsuAccount .twitter { border: 2px solid #297BBC; background-color: #59ACEE; }
#sideFamitsuAccount .twitter:hover { border-color: #2a7bbd; background-color: #6eb7f2; }
#sideFamitsuAccount .facebook { border: 2px solid #203B72; background-color: #3B5998; }
#sideFamitsuAccount .facebook:hover { border-color: #203B72; background-color: #5072bc; }

#rightSideGameSchedule { background-color: #FFF; -webkit-box-shadow: none; box-shadow: none; }
#rightSideGameSchedule .relationLinkBox h3 { background-color: #333; padding: 8px; font-size: 15px; color: #FFF; }
#rightSideGameSchedule .relationLinkBox h3 .fa { margin-right: 5px; }
#rightSideGameSchedule .all { float: right; margin: -3px 0 0 0; font-weight: bold; font-size: 14px; height: 24px; line-height: 24px; color: #333; padding: 0 7px; text-align: center; background-color: #E8E8E8; -webkit-border-radius: 3px; border-radius: 3px; font-weight: bold; border: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; background: -moz-linear-gradient(top, #E8E8E8 0%, #E8E8E8 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #E8E8E8), color-stop(100%, #E8E8E8)); background: -webkit-linear-gradient(top, #E8E8E8 0%, #E8E8E8 100%); background: -o-linear-gradient(top, #E8E8E8 0%, #E8E8E8 100%); background: linear-gradient(to bottom, #E8E8E8 0%, #E8E8E8 100%); }
#rightSideGameSchedule ul { overflow: hidden; padding: 4px 0; margin-right: -8px; }
#rightSideGameSchedule ul > li { float: left; width: 66px; margin: 4px; -webkit-box-sizing: border-box; box-sizing: border-box; }
#rightSideGameSchedule ul > li > a { display: block; font-size: 16px; height: 32px; line-height: 32px; border: none; color: #FFF; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
#rightSideGameSchedule ul > li > a.btnPs4 { background: -moz-linear-gradient(top, #2d549c 0%, #2d549c 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2d549c), color-stop(100%, #2d549c)); background: -webkit-linear-gradient(top, #2d549c 0%, #2d549c 100%); background: -o-linear-gradient(top, #2d549c 0%, #2d549c 100%); background: linear-gradient(to bottom, #2d549c 0%, #2d549c 100%); }
#rightSideGameSchedule ul > li > a.btnPs4:hover { background: -moz-linear-gradient(top, #3C67B5 0%, #3C67B5 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3C67B5), color-stop(100%, #3C67B5)); background: -webkit-linear-gradient(top, #2d549c 0%, #3C67B5 100%); background: -o-linear-gradient(top, #3C67B5 0%, #3C67B5 100%); background: linear-gradient(to bottom, #3C67B5 0%, #3C67B5 100%); }
#rightSideGameSchedule ul > li > a.btnPs3 { background: -moz-linear-gradient(top, #666f81 0%, #666f81 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #666f81), color-stop(100%, #666f81)); background: -webkit-linear-gradient(top, #666f81 0%, #666f81 100%); background: -o-linear-gradient(top, #666f81 0%, #666f81 100%); background: linear-gradient(to bottom, #666f81 0%, #666f81 100%); }
#rightSideGameSchedule ul > li > a.btnPs3:hover { background: -moz-linear-gradient(top, #838A97 0%, #838A97 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #838A97), color-stop(100%, #838A97)); background: -webkit-linear-gradient(top, #838A97 0%, #838A97 100%); background: -o-linear-gradient(top, #838A97 0%, #838A97 100%); background: linear-gradient(to bottom, #838A97 0%, #838A97 100%); }
#rightSideGameSchedule ul > li > a.btnPsv { background: -moz-linear-gradient(top, #4A8C9F 0%, #4A8C9F 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4A8C9F), color-stop(100%, #4A8C9F)); background: -webkit-linear-gradient(top, #4A8C9F 0%, #4A8C9F 100%); background: -o-linear-gradient(top, #4A8C9F 0%, #4A8C9F 100%); background: linear-gradient(to bottom, #4A8C9F 0%, #4A8C9F 100%); }
#rightSideGameSchedule ul > li > a.btnPsv:hover { background: -moz-linear-gradient(top, #5FA6BB 0%, #5FA6BB 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5FA6BB), color-stop(100%, #5FA6BB)); background: -webkit-linear-gradient(top, #5FA6BB 0%, #5FA6BB 100%); background: -o-linear-gradient(top, #5FA6BB 0%, #5FA6BB 100%); background: linear-gradient(to bottom, #5FA6BB 0%, #5FA6BB 100%); }
#rightSideGameSchedule ul > li > a.btn3ds { background: -moz-linear-gradient(top, #9F504D 0%, #9F504D 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9F504D), color-stop(100%, #9F504D)); background: -webkit-linear-gradient(top, #9F504D 0%, #9F504D 100%); background: -o-linear-gradient(top, #9F504D 0%, #9F504D 100%); background: linear-gradient(to bottom, #9F504D 0%, #9F504D 100%); }
#rightSideGameSchedule ul > li > a.btn3ds:hover { background: -moz-linear-gradient(top, #BC6563 0%, #BC6563 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #BC6563), color-stop(100%, #BC6563)); background: -webkit-linear-gradient(top, #BC6563 0%, #BC6563 100%); background: -o-linear-gradient(top, #BC6563 0%, #BC6563 100%); background: linear-gradient(to bottom, #BC6563 0%, #BC6563 100%); }
#rightSideGameSchedule ul > li > a.btnPsp { background: -moz-linear-gradient(top, #5d9fb1 0%, #5d9fb1 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5d9fb1), color-stop(100%, #5d9fb1)); background: -webkit-linear-gradient(top, #5d9fb1 0%, #5d9fb1 100%); background: -o-linear-gradient(top, #5d9fb1 0%, #5d9fb1 100%); background: linear-gradient(to bottom, #5d9fb1 0%, #5d9fb1 100%); }
#rightSideGameSchedule ul > li > a.btnPsp:hover { background: -moz-linear-gradient(top, #76B6C8 0%, #76B6C8 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #76B6C8), color-stop(100%, #76B6C8)); background: -webkit-linear-gradient(top, #76B6C8 0%, #76B6C8 100%); background: -o-linear-gradient(top, #76B6C8 0%, #76B6C8 100%); background: linear-gradient(to bottom, #76B6C8 0%, #76B6C8 100%); }
#rightSideGameSchedule ul > li > a.btnXboxone { background: -moz-linear-gradient(top, #497A56 0%, #497A56 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #497A56), color-stop(100%, #497A56)); background: -webkit-linear-gradient(top, #497A56 0%, #497A56 100%); background: -o-linear-gradient(top, #497A56 0%, #497A56 100%); background: linear-gradient(to bottom, #497A56 0%, #497A56 100%); }
#rightSideGameSchedule ul > li > a.btnXboxone:hover { background: -moz-linear-gradient(top, #62916E 0%, #62916E 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #62916E), color-stop(100%, #62916E)); background: -webkit-linear-gradient(top, #62916E 0%, #62916E 100%); background: -o-linear-gradient(top, #62916E 0%, #62916E 100%); background: linear-gradient(to bottom, #62916E 0%, #62916E 100%); }
#rightSideGameSchedule ul > li > a.btnXbox360 { background: -moz-linear-gradient(top, #6CA63F 0%, #6CA63F 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6CA63F), color-stop(100%, #6CA63F)); background: -webkit-linear-gradient(top, #6CA63F 0%, #6CA63F 100%); background: -o-linear-gradient(top, #6CA63F 0%, #6CA63F 100%); background: linear-gradient(to bottom, #6CA63F 0%, #6CA63F 100%); }
#rightSideGameSchedule ul > li > a.btnXbox360:hover { background: -moz-linear-gradient(top, #7ABB4A 0%, #7ABB4A 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7ABB4A), color-stop(100%, #7ABB4A)); background: -webkit-linear-gradient(top, #7ABB4A 0%, #7ABB4A 100%); background: -o-linear-gradient(top, #7ABB4A 0%, #7ABB4A 100%); background: linear-gradient(to bottom, #7ABB4A 0%, #7ABB4A 100%); }
#rightSideGameSchedule ul > li > a.btnWiiu { background: -moz-linear-gradient(top, #518DB2 0%, #518DB2 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #518DB2), color-stop(100%, #518DB2)); background: -webkit-linear-gradient(top, #518DB2 0%, #518DB2 100%); background: -o-linear-gradient(top, #518DB2 0%, #518DB2 100%); background: linear-gradient(to bottom, #518DB2 0%, #518DB2 100%); }
#rightSideGameSchedule ul > li > a.btnWiiu:hover { background: -moz-linear-gradient(top, #6BA8CE 0%, #6BA8CE 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6BA8CE), color-stop(100%, #6BA8CE)); background: -webkit-linear-gradient(top, #6BA8CE 0%, #6BA8CE 100%); background: -o-linear-gradient(top, #6BA8CE 0%, #6BA8CE 100%); background: linear-gradient(to bottom, #6BA8CE 0%, #6BA8CE 100%); }

#dailyPvRanking, #weeklyPvRanking { margin-bottom: 5px; }

.pvRanking { background-color: #FFF; border: 1px solid #E5E5E5; -webkit-box-shadow: none; box-shadow: none; }
.pvRanking .content { position: relative; }
.pvRanking .rankNo { position: absolute; top: 50%; left: 10px; margin-top: -16px; width: 32px; height: 32px; line-height: 32px; text-align: center; font-weight: bold; color: #666; background-color: #E6E6E6; font-size: 16px; z-index: 1; -webkit-border-radius: 3px; border-radius: 3px; }
.pvRanking h3 { font-size: 16px; padding: 12px 10px 2px; font-weight: bold; }
.pvRanking .descText { color: #999; font-size: 12px; padding: 0 10px; margin-bottom: 4px; }
.pvRanking .articleTitle { font-weight: normal; }
.pvRanking .articleTitle a { padding: 8px 10px 8px 52px; min-height: 32px; font-size: 13px; color: #333; display: block; }
.pvRanking .articleTitle a:hover { text-decoration: none; background-color: #FCFCFC; }

#retweetRanking { margin-bottom: 5px; background-color: #FFF; -webkit-box-shadow: none; box-shadow: none; }
#retweetRanking .content { position: relative; }
#retweetRanking .rankNo { position: absolute; top: 50%; left: 10px; margin-top: -16px; width: 32px; height: 32px; line-height: 32px; text-align: center; font-weight: bold; color: #666; background-color: #E6E6E6; font-size: 16px; z-index: 1; -webkit-border-radius: 3px; border-radius: 3px; }
#retweetRanking h3 { font-size: 16px; font-weight: bold; padding: 12px 10px 2px; }
#retweetRanking .descText { color: #999; font-size: 12px; padding: 0 10px; margin-bottom: 4px; }
#retweetRanking .articleTitle { font-weight: normal; }
#retweetRanking .articleTitle a { padding: 8px 10px 8px 52px; min-height: 32px; font-size: 13px; color: #333; display: block; }
#retweetRanking .articleTitle a:hover { text-decoration: none; background-color: #FCFCFC; }

#sidePvRanking { margin: 5px 0; background-color: #FFF; -webkit-box-shadow: none; box-shadow: none; }
#sidePvRanking .content { position: relative; }
#sidePvRanking .rankNo { position: absolute; top: 50%; left: 10px; margin-top: -16px; width: 32px; height: 32px; line-height: 32px; text-align: center; font-weight: bold; color: #666; background-color: #E6E6E6; font-size: 16px; z-index: 1; -webkit-border-radius: 3px; border-radius: 3px; }
#sidePvRanking h3 { font-size: 16px; font-weight: bold; padding: 12px 8px 2px; }
#sidePvRanking .descText { color: #999; font-size: 12px; padding: 0 10px 4px; }
#sidePvRanking .articleTitle { font-weight: normal; font-size: 13px; line-height: 18px; }
#sidePvRanking .articleTitle a { padding: 8px 10px 8px 52px; color: #333; display: block; }
#sidePvRanking .articleTitle a:hover { text-decoration: none; background-color: #FCFCFC; }

#sideRetweetRanking { margin: 5px 0; background-color: #FFF; }
#sideRetweetRanking .content { position: relative; }
#sideRetweetRanking .rankNo { position: absolute; top: 50%; left: 10px; margin-top: -16px; width: 32px; height: 32px; line-height: 32px; text-align: center; font-weight: bold; color: #666; background-color: #E6E6E6; font-size: 16px; z-index: 1; -webkit-border-radius: 3px; border-radius: 3px; }
#sideRetweetRanking h3 { font-size: 16px; font-weight: bold; padding: 12px 10px 2px; }
#sideRetweetRanking .descText { color: #999; font-size: 12px; padding: 0 10px 4px; }
#sideRetweetRanking .articleTitle { font-weight: normal; font-size: 13px; line-height: 18px; }
#sideRetweetRanking .articleTitle a { padding: 8px 10px 8px 52px; color: #333; display: block; }
#sideRetweetRanking .articleTitle a:hover { text-decoration: none; background-color: #FCFCFC; }

.pvRankingList > li { border-bottom: 1px dotted #CCC; overflow: hidden; }
.pvRankingList > li:first-child { border-top: 1px dotted #CCC; }
.pvRankingList > li:last-child { margin: 0; border: none; }

.retweetRankingList > li { border-bottom: 1px dotted #CCC; overflow: hidden; }
.retweetRankingList > li:first-child { border-top: 1px dotted #CCC; }
.retweetRankingList > li:last-child { margin: 0; border: none; }

.sidePvRankingList > li { border-bottom: 1px dotted #CCC; overflow: hidden; }
.sidePvRankingList > li:first-child { border-top: 1px dotted #CCC; }
.sidePvRankingList > li:last-child { margin: 0; border: none; }

.sideRetweetRankingList > li { border-bottom: 1px dotted #CCC; overflow: hidden; }
.sideRetweetRankingList > li:first-child { border-top: 1px dotted #CCC; }
.sideRetweetRankingList > li:last-child { margin: 0; border: none; }

.categoryIndicator .ellipsis { display: block; background-color: #DDD; color: #333; height: 16px; line-height: 16px; font-size: 11px; padding: 0 5px; border-right: 3px; }
.categoryIndicator .ellipsis:hover { background-color: #EEE; text-decoration: none; }
.categoryIndicator li { float: left; padding: 0 6px 7px 0; display: inline; }
.categoryIndicator a { display: block; height: 16px; line-height: 16px; font-size: 11px; background-color: #F2F2F2; -webkit-border-radius: 2px; border-radius: 2px; }
.categoryIndicator a:hover { text-decoration: none; }
.categoryIndicator span { display: block; height: 16px; line-height: 16px; padding: 0 3px; }

.categoryClose { margin-left: 5px; font-size: 12px; }
.categoryClose .fa { width: 12px; height: 12px; font-size: 14px; color: #999; padding-right: 5px; }

.cgy { color: #666; }

.cgyMovie { color: #397895; }

.cgyAnime { color: #DB8926; }

.cgyEvent { color: #B0AEAB; }

.cgyInterview { color: #C77C7A; }

.cgySpecial { color: #BF7093; }

.cgyBlog { color: #BDA96D; }

.cgyImp { color: #445995; }

.cgyGame { color: #336699; }

.cgyNews { color: #207549; }

.cgySpecial { color: #A15E11; }

.cgyPs2 { color: #3F699C; }

.cgyPs3 { color: #5E687B; }

.cgyPsp { color: #3291A3; }

.cgyPsv { color: #3060DA; }

.cgyWii { color: #91A1AF; }

.cgyWiiU { color: #397895; }

.cgySwitch { color: #ED3A3E ; }

.cgyXbox360 { color: #4FC196; }

.cgy3ds { color: #BD6465; }

.cgyArcade { color: #A15E11; }

.cgyIos { color: #99B1C4; }

.cgyMobile { color: #DB8926; }

.cgyPc { color: #445995; }

.cgySs { color: #7A8467; }

.cgyWs { color: #955040; }

.cgyXbox { color: #207549; }

.cgy3do { color: #424C60; }

.cgy64 { color: #8DAD78; }

.cgyDc { color: #E3A13C; }

.cgyFc { color: #D5BBAB; }

.cgyGlobal { color: #336699; }

.cgyGb { color: #4C4C4C; }

.cgyGg { color: #5E85A3; }

.cgyGba { color: #B0AEAB; }

.cgyCube { color: #9270AF; }

.cgyInfo { color: #AD7656; }

.cgyPlan { color: #DB8926; }

.cgyMd { color: #787878; }

.cgyMsx { color: #406A91; }

.cgyds { color: #EF8F95; }

.cgyNg { color: #959595; }

.cgyNgp { color: #BDA96D; }

.cgyPce { color: #AAA78D; }

.cgyPs { color: #AAA78D; }

.cgySfc { color: #C77C7A; }

.cgySms { color: #689CC3; }

.cgyPcfx { color: #BF7093; }

.cgyPs4 { color: #5C7ABD; }

.cgyXboxone { color: #2A7466; }

.clearfix:after { content: ' '; display: block; clear: both; }

.clearfix { zoom: 1; }

.contentWrap { background-color: #FFF; padding: 10px; }

#pageTopBack { position: fixed; bottom: 20px; right: 20px; border: 3px solid #666; color: #666; width: 64px; height: 64px; line-height: 61px; background-color: rgba(255, 255, 255, 0.85); -webkit-border-radius: 3px; border-radius: 3px; text-align: center; font-weight: bold; cursor: pointer; z-index: 10000; }
#pageTopBack span { position: absolute; top: 50%; left: 50%; margin: -15px 0 0 -15px; border-top: 3px solid #666; width: 30px; height: 30px; }
#pageTopBack .fa { position: absolute; top: 0; left: 0; color: #666; font-size: 30px; width: 30px; }

#siteInsideSearch { margin-bottom: 5px; }
#siteInsideSearch form { position: relative; margin-bottom: 5px; }
#siteInsideSearch input { width: 240px; height: 40px; -webkit-border-radius: 3px 0 0 3px; border-radius: 3px 0 0 3px; border-right: none; }
#siteInsideSearch button[type="submit"] { position: absolute; top: 0; right: 0; width: 60px; height: 40px; border: 1px solid #CCC; padding: 0; cursor: pointer; background: #FBFBFB; -webkit-border-radius: 0 3px 3px 0; border-radius: 0 3px 3px 0; }
#siteInsideSearch button[type="submit"] .fa { position: relative; top: 0; left: -1px; font-size: 18px; color: #333; }
#siteInsideSearch button[type="submit"]:hover { background-color: #EEE; }

/* -------------------------------------------------------
* siteLinkCollection
------------------------------------------------------- */
#siteLinkCollection > ul { margin-top: 30px; }
#siteLinkCollection > ul::first-child { margin: 0; }
#siteLinkCollection > ul > li { float: left; width: 165px; }
#siteLinkCollection dt { font-weight: bold; font-size: 14px; color: #FFF; margin-bottom: 10px; line-height: 1; text-align: left; }
#siteLinkCollection .menu li { margin-top: 5px; text-align: left; }
#siteLinkCollection .menu li:first-child { margin-top: 0; }
#siteLinkCollection .menu a { color: #D8D8D8; font-size: 12px; }
#siteLinkCollection .menu a:hover { color: #FFF; text-decoration: none; }

#copyRight { text-align: center; color: #FFF; font-size: 12px; }
#copyRight p { text-align: center; }

#commonFooterSocial { text-align: center; }
#commonFooterSocial ul { display: inline-block; }
#commonFooterSocial ul > li { float: left; width: 258px; margin-left: 40px; }
#commonFooterSocial ul > li:first-child { margin: 0; }
#commonFooterSocial ul > li > a { display: block; background: #F2F2F2; border: 3px solid #CCC; -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-border-radius: 3px; border-radius: 3px; color: #333; font-size: 14px; font-weight: bold; padding: 10px; overflow: hidden; line-height: 22px; }
#commonFooterSocial ul > li > a:hover { text-decoration: none; }
#commonFooterSocial ul > li.twitter a { border-color: #297BBC; background-color: #59ACEE; color: #FFF; }
#commonFooterSocial ul > li.twitter a:hover { border-color: #2a7bbd; background-color: #6eb7f2; color: #FFF; }
#commonFooterSocial ul > li.facebook a { border-color: #203B72; background-color: #3B5998; color: #FFF; }
#commonFooterSocial ul > li.facebook a:hover { border-color: #203B72; background-color: #5072bc; color: #FFF; }
#commonFooterSocial ul > li.rss a { border-color: #CC6711; background-color: #F38120; color: #FFF; }
#commonFooterSocial ul > li.rss a:hover { border-color: #CC6711; background-color: #f5913a; color: #FFF; }
#commonFooterSocial .iconFSocial { float: left; display: block; width: 46px; height: 46px; background-color: #CCC; -webkit-border-radius: 5px; border-radius: 5px; }
#commonFooterSocial .comment { display: block; padding: 2px 0 0 0; text-align: left; margin-left: 58px; }

/* -------------------------------------------------------
* hover
------------------------------------------------------- */
#gameScheduleRecommendGame a.gameTItle:hover, #topThisWeekSaleGame a:hover, #topEbtenContent a:hover, .insideSearch:hover .fa, #topGameRanking a:hover, #footerComments .commnetLogin .authCancel:hover, #sideContentsRecent .RecentList h4 a:hover, #siteInsideSearch button[type="submit"]:hover .fa, #siteInsideSearch ul li a:hover, .sideContents a:hover, #topGoodsContent a:hover, #sideContentNavi ul.gameSaleSchedule li a:hover, .recommendArticle .articleTitle a:hover { text-decoration: none; color: #0055AD; }

.socialBtn .twitterBtn { width: 116px; float: left; }
.socialBtn .ballon { position: relative; float: right; padding: 0 5px; display: inline-block; border: 1px solid #CCC; margin-left: 7px; -webkit-border-radius: 3px; border-radius: 3px; color: #333; height: 18px; line-height: 18px; background-color: #FFF; text-align: center; font-weight: normal; font-size: 11px; }
.socialBtn .ballon:before { content: ' '; position: absolute; top: 50%; left: -9px; margin-top: -4px; border: 4px solid transparent; border-right-color: #AAA; }
.socialBtn .ballon:after { content: ' '; position: absolute; top: 50%; left: -8px; margin-top: -4px; border: 4px solid transparent; border-right-color: #FFF; }

.articleThumbnaWrap { position: relative; }

.articleTitle { font-size: 13px; line-height: 18px; font-weight: bold; word-break: break-word; }

.articleRead { color: #606266; font-size: 13px; line-height: 18px; }

.articleCreateDate { color: #94999F; display: inline; }

.articleWrap { position: relative; }

.faviconWrap { display: inline-block; height: 16px; line-height: 16px; color: #999; }

.faviconWrap a { font-size: 11px; color: #999; }

.faviconWrap img { width: 16px; height: 16px; vertical-align: top; margin-right: 5px; display: inline-block; }

.thumbCover { position: relative; }

.thumbWrap, .articlethumbWrap, .articleThumbnailWrap { position: relative; }

.articleThumbnailWrap > a, .thumbWrap .thumb { position: relative; display: block; border: 1px solid #E8E8E8; display: inline-block; width: 120px; height: 90px; -webkit-background-size: cover; background-size: cover; background-position: 50% 20%; text-indent: -9999px; background-repeat: no-repeat; background-color: #F2F2F2; -webkit-box-sizing: border-box; box-sizing: border-box; }

.thumbWrap .original { -webkit-background-size: contain; background-size: contain; background-position: 50% 50%; }

#articleLine { margin-bottom: 5px; }
#articleLine .moreBtnWrap { background-color: #FFF; }

#articleMainLine20 .articleMainLine > li:first-child { padding-top: 0; }

.articleMainLine { background-color: #FFF; padding: 0; border-left: 1px solid #E5E5E5; border-right: 1px solid #E5E5E5; -webkit-box-shadow: none; box-shadow: none; }
.articleMainLine.rankOn .thumbWrap { margin: 0 10px 0 42px; }
.articleMainLine.rankOn > li:first-child { border-top: 1px dotted #CCC; }
.articleMainLine.noMore { padding-bottom: 10px; }
.articleMainLine > li { border-bottom: 1px dotted #CCC; }
.articleMainLine > li:first-child { border-top: none; }
.articleMainLine > li:hover { background-color: #FBFBFB; }
.articleMainLine > li:hover .categoryShow .fa { color: #999; }
.articleMainLine > li .content { padding: 8px 10px; }
.articleMainLine .thumbWrap { float: left; margin: 0 10px 0 0; }
.articleMainLine .tweetNum { float: left; margin: 1px 5px 0 0; }
.articleMainLine .articleCreateDate { float: right; }
.articleMainLine .articleRead { font-size: 12px; line-height: 16px; }
.articleMainLine .articleTitle { font-size: 13px; line-height: 18px; margin: 0 0 4px 0; font-weight: bold; }
.articleMainLine .articleWrap { position: relative; margin-left: 130px; min-height: 90px; }
.articleMainLine .categoryShow { position: absolute; top: -22px; right: -120px; display: block; width: 16px; height: 16px; }
.articleMainLine .categoryIndicator span { max-width: 8em; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.articleMainLine .categoryIndicator.close { overflow: hidden; padding-right: 20px; height: 18px; }
.articleMainLine .articleMetaWrap { overflow: hidden; }
.articleMainLine .articleMetaWrap .leftWrap { margin-right: 120px; }
.articleMainLine .articleMetaWrap .faviconWrap { display: block; margin-bottom: 3px; }
.articleMainLine .limitTime { float: left; margin-right: 5px; color: #FFF; background-color: #FE0000; padding: 0 5px; }
.articleMainLine.noThumbnail .articleWrap { margin-right: 0; min-height: 0; }
.articleMainLine .articleSocialBtnTemp { width: 112px; height: 20px; overflow: hidden; float: left; margin: 0 16px 3px 0; }
.articleMainLine .rankNo { position: absolute; top: 50%; left: -130px; margin-top: -16px; width: 32px; height: 32px; line-height: 32px; text-align: center; font-weight: bold; color: #666; background-color: #E6E6E6; font-size: 16px; z-index: 1; -webkit-border-radius: 3px; border-radius: 3px; }
.articleMainLine .contentClick:hover { cursor: pointer; }
.articleMainLine .contentClick:hover .articleTitle a { text-decoration: underline; }
.articleMainLine .commentNumWrap { float: left; height: 18px; line-height: 18px; margin-right: 7px; font-size: 13px; }
.articleMainLine .commentNumWrap a { color: #f4781a; }
.articleMainLine .commentNumWrap a .fa { margin-right: .2em; }
.articleMainLine .commentNumWrap a .num { font-weight: bold; }

#contentChangeTabWrap { position: relative; margin-bottom: 5px; }

#contentChangeTab li { float: left; width: 25%; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 0 1px; }
#contentChangeTab li:first-child { padding: 0 1px 0 0; }
#contentChangeTab li:last-child { padding: 0 0 0 1px; }
#contentChangeTab li.return a { line-height: 1.3; padding: 8px 0; }
#contentChangeTab h2 { font-weight: normal; }
#contentChangeTab a { position: relative; display: block; text-align: center; height: 45px; line-height: 48px; color: #333; font-size: 13px; cursor: pointer; font-weight: bold; background-color: #D6D6D6; -webkit-border-radius: 3px; border-radius: 3px; -webkit-transition: all 0.08s linear; transition: all 0.08s linear; -webkit-box-sizing: border-box; box-sizing: border-box; }
#contentChangeTab a:hover { text-decoration: none; background-color: #DBDBDB; }
#contentChangeTab a.current { color: #FFF; background-color: #1b1b1b; }
#contentChangeTab a.current:after { position: absolute; content: ''; bottom: -12px; left: 50%; margin-left: -6px; border: 6px solid transparent; border-top-color: #1b1b1b; }
#contentChangeTab a .text { display: block; }

.contentChange > li { display: none; }
.contentChange > li.selected { display: block; }

#newsRankingChangeNavi { overflow: hidden; background-color: #FFF; border-left: 1px solid #E5E5E5; border-right: 1px solid #E5E5E5; padding: 6px 10px 0; }
#newsRankingChangeNavi li { float: left; }
#newsRankingChangeNavi li a { display: block; font-size: 14px; height: 44px; line-height: 40px; text-align: center; -webkit-transition: all 0.08s linear; transition: all 0.08s linear; -webkit-box-sizing: border-box; box-sizing: border-box; }
#newsRankingChangeNavi li a span { padding: 0 15px; border-left: 1px solid #CCC; }
#newsRankingChangeNavi li a.current { border-bottom: 4px solid #1b1b1b; color: #D00000; }
#newsRankingChangeNavi li a:hover { text-decoration: none; color: #D00000; }
#newsRankingChangeNavi li:first-child span { border: none; }

textarea { border: 0; padding: 10px; margin: 0; width: 100%; height: auto; font-size: 14px; resize: vertical; background: #FFF; -webkit-border-radius: 3px; border-radius: 3px; -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset; }

input[type="password"], input[type="text"] { border: 1px solid #CCC; height: 32px; width: 100%; padding: 0 10px; font-size: 13px; -webkit-border-radius: 3px; border-radius: 3px; -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset; }

.objHideList > li { display: none; }
.objHideList > li.selected { display: block; }

.jsCaret .fa-caret-down { -webkit-transition: all 0.12s linear; transition: all 0.12s linear; }
.jsCaret .fa-caret-down.close { -webkit-transform: rotate(180deg); transform: rotate(180deg); -webkit-transition: all 0.12s linear; transition: all 0.12s linear; }

.jsToolChip { position: relative; }

.toolChip { position: absolute; top: 0; left: 0; background-color: #333; color: #FFF; padding: .5em 1em; -webkit-border-radius: 7px; border-radius: 7px; }

.bxslider { overflow: hidden !important; }

.bx-wrapper { margin: 0 !important; }
.bx-wrapper .bx-viewport { -webkit-box-shadow: none; box-shadow: none; border: 5px solid #fff; left: auto; border: none; background: transparent; }
.bx-wrapper .bx-controls-direction a { z-index: 1; }
.bx-wrapper .bx-controls-direction a.bx-prev { left: 0; }
.bx-wrapper .bx-controls-direction a.bx-next { right: 0; }
.bx-wrapper .bx-prev, .bx-wrapper .bx-next { display: inline-block; background: #F2F2F2; cursor: pointer; border: 1px solid #DBDBDB; -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.08); box-shadow: 0 0 1px rgba(0, 0, 0, 0.08); }
.bx-wrapper .bx-prev:hover, .bx-wrapper .bx-next:hover { text-decoration: none; background: #FBFBFB; }

.dropDownMenu { display: none; position: absolute; top: 40px; right: 0; width: 160px; border: 1px solid #BBB; background-color: #FEFEFE; -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.08); box-shadow: 0 0 1px rgba(0, 0, 0, 0.08); z-index: 2; -webkit-border-radius: 3px; border-radius: 3px; }
.dropDownMenu > ul { padding: 10px 0; }
.dropDownMenu > ul > li { border-top: 1px dotted #CCC; }
.dropDownMenu > ul > li:first-child { border: none; }
.dropDownMenu > ul > li > a { display: block; color: #666; font-weight: bold; padding: 5px 10px; line-height: 18px; }
.dropDownMenu > ul > li > a:hover { background-color: #F2F2F2; color: #333 !important; text-decoration: none; }

.fixed { position: fixed !important; top: 0; width: 100%; z-index: 9990; }

.fixedContent { padding-top: 44px; }

.show { display: block !important; }

.hide { display: none !important; }

#overlay { display: none; position: fixed; top: 0; width: 100%; height: 100%; background-color: #333; opacity: 0.65; z-index: 10000; }

.sideBox { margin-bottom: 5px; -webkit-box-shadow: none; box-shadow: none; }

.moreBtnWrap { padding: 8px 8px 5px 8px; position: relative; border-top: none; text-align: center; border-left: 1px solid #E5E5E5; border-right: 1px solid #E5E5E5; border-bottom: 1px solid #E5E5E5; -webkit-box-shadow: none; box-shadow: none; }

.m0 { margin: 0 !important; }

.mr3 { margin-right: 4px !important; }

.mr5 { margin-right: 5px !important; }

.mr10 { margin-right: 10px !important; }

.mr15 { margin-right: 15px !important; }

.mr20 { margin-right: 20px !important; }

.ml3 { margin-left: 3px !important; }

.ml5 { margin-left: 5px !important; }

.ml10 { margin-left: 10px !important; }

.ml15 { margin-left: 15px !important; }

.ml20 { margin-left: 20px !important; }

.mt2 { margin-top: 2px !important; }

.mt3 { margin-top: 3px !important; }

.mt5 { margin-top: 6px !important; }

.mt10 { margin-top: 10px !important; }

.mt15 { margin-top: 15px !important; }

.mt20 { margin-top: 20px !important; }

.mt30 { margin-top: 30px !important; }

.mt40 { margin-top: 40px !important; }

.mt50 { margin-top: 50px !important; }

.mt60 { margin-top: 60px !important; }

.mb2 { margin-bottom: 2px !important; }

.mb3 { margin-bottom: 3px !important; }

.mb5 { margin-bottom: 6px !important; }

.mb10 { margin-bottom: 10px !important; }

.mb15 { margin-bottom: 15px !important; }

.mb20 { margin-bottom: 20px !important; }

.mb30 { margin-bottom: 30px !important; }

.mb40 { margin-bottom: 40px !important; }

.mb50 { margin-bottom: 50px !important; }

.mb60 { margin-bottom: 60px !important; }

.dtc { display: table-cell !important; }

.vt { vertical-align: top !important; }

.vm { vertical-align: middle !important; }

.vb { vertical-align: bottom !important; }

.toh { white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }

.fl { float: left; }

.fr { float: right; }

.fn { float: none; }

.pagerResult { margin-top: 10px; color: #666; font-size: 12px; text-align: center; }

.pager { text-align: center; padding: 20px 10px 10px; }
.pager ul { display: inline-block; font-size: 14px; }
.pager ul li { float: left; margin-left: 6px; }
.pager ul li:first-child { margin-left: 0; }
.pager ul .first { margin-right: 6px; }
.pager .end { margin-left: 12px; }
.pager .unit, .pager .ellipsis { display: block; height: 40px; line-height: 42px; min-width: 40px; text-align: center; }
.pager .unit { background-color: #D6D6D6; padding: 0 5px; text-decoration: none; color: #333; cursor: pointer; font-weight: bold; padding: 0 10px; font-size: 15px; -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-border-radius: 3px; border-radius: 3px; }
.pager .unit:hover { text-decoration: none; background-color: #DBDBDB; }
.pager .unit.current:hover { background-color: #1b1b1b; color: #FFF; }
.pager .current { background-color: #1b1b1b; color: #FFF; cursor: pointer; font-weight: bold; }
.pager .ellipsis { color: #666; }
.pager .prev, .pager .next { position: relative; display: block; line-height: 40px; font-size: 14px; font-weight: bold; }
.pager .nodata { color: #CCC; }

/*
#topicPath {
	margin: 10px 0 0;
	@include prefix(text-shadow, 0 1px 0 #FFF);
	li {
		display: inline;
		line-height: 18px;
	}
	a {
		position: relative;
	}
	.next {
		position: relative;
		bottom: 0;
		padding: 0 3px 0 7px;
		color: #999;
	}
}
*/
#sideFixedBox { -webkit-box-shadow: none; box-shadow: none; background-color: #FFF; }

#sideContentFilter { border: 4px solid #CCC; }
#sideContentFilter h3 { font-size: 16px; padding: 4px 10px; font-weight: normal; background-color: #CCC; }
#sideContentFilter h4 { font-size: 14px; padding: 4px 10px; background-color: #F2F2F2; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
#sideContentFilter a { position: relative; display: block; padding: 4px 10px 4px 38px; color: #333; }
#sideContentFilter a:hover { background-color: #FCFCFC; text-decoration: none; }
#sideContentFilter a.select { background-color: #DDD; text-decoration: none; color: #333; font-weight: bold; }
#sideContentFilter .level2 li { position: relative; border-bottom: 1px solid #E5E5E5; }
#sideContentFilter .level2 a:before { position: absolute; content: ''; top: 50%; left: 10px; margin: -10px 0 0 0; width: 20px; height: 20px; background-color: #E6E6E6; -webkit-border-radius: 3px; border-radius: 3px; cursor: pointer; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08) inset; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08) inset; }
#sideContentFilter .level2 a:hover:before { background-color: #D6D6D6; }
#sideContentFilter .level2 a .fa { position: absolute; top: 50%; left: 12px; font-size: 16px; color: #666; margin-top: -7px; }

#sideSearchFilter h3 { background-color: #CCC; }
#sideSearchFilter .filterNameList { padding: 7px 0; }
#sideSearchFilter .filterNameList .more { background-color: #DDD; }
#sideSearchFilter .filterNameList .more a { text-align: center; color: #333; font-size: 12px; }

#contentFilter { overflow: hidden; }
#contentFilter h3 { margin-bottom: 5px; }
#contentFilter > ul > li { float: left; margin: 0 10px 10px 0; }
#contentFilter > ul > li > a { border: 1px solid #CCC; display: block; max-width: 10em; padding: 0 10px; font-size: 13px; height: 32px; line-height: 32px; color: #333; font-weight: bold; background-color: #DDD; -webkit-border-radius: 3px; border-radius: 3px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
#contentFilter > ul > li > a:hover { text-decoration: none; color: #333; background-color: #CCC; }
#contentFilter > ul > li > a.current { color: #333; font-weight: bold; border-bottom: 3px solid #08B; }

#allUserReviewShortCut .gameJaket:hover img, #gameScheduleRecommendGame a:hover img, .sideCategoryRanking .articlethumbWrap > a:hover, .articleFooterElement .articlethumbWrap > a:hover, .eventthumbWrap > a:hover, .thumbWrap > .thumbnail:hover, #articleHeader .articlethumbWrap a:hover, .recommendArticle .articlethumbWrap a:hover, .topTileContent > li > a:hover img, .tileBox .articlethumbWrap > a:hover, .adNative .articlethumbWrap > a:hover, .topCornerContent .articlethumbWrap > a:hover, .articleMainLine .articlethumbWrap > a:hover { opacity: 0.9; }

#famitsuIntroDuction { padding: 5px 0 0; background-color: #FFF; }
#famitsuIntroDuction .inner { overflow: hidden; background-color: #fefedc; padding: 10px; border: 1px solid #E8E8E8; }
#famitsuIntroDuction h3 { font-size: 20px; margin-bottom: 8px; }
#famitsuIntroDuction .jacket { float: left; width: 156px; background-color: #E8E8E8; }
#famitsuIntroDuction .jacket img { width: 100%; height: auto; }
#famitsuIntroDuction .description { margin-left: 166px; }
#famitsuIntroDuction .data { color: #999; }
#famitsuIntroDuction .picup { line-height: 20px; margin: 5px 0 10px; }
#famitsuIntroDuction .price { margin: 5px 0 10px; color: #C00000; font-size: 16px; font-weight: bold; }

.tileBox { border-top: none; padding: 0 10px; background-color: #FFF; border-left: 1px solid #E5E5E5; border-right: 1px solid #E5E5E5; -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-box-shadow: none; box-shadow: none; }
.tileBox .thumbIcon { font-size: 16px; height: 24px; line-height: 24px; }
.tileBox .articleWrap { position: relative; width: 100%; border: 1px solid #DBDBDB; -webkit-border-radius: 3px; border-radius: 3px; -webkit-box-sizing: border-box; box-sizing: border-box; height: 257px; }
.tileBox .thumbWrap { border: none; }
.tileBox .thumbWrap .thumb { border: none; width: 100%; height: 167.25px; margin: 0; -webkit-border-radius: 3px 3px 0 0; border-radius: 3px 3px 0 0; }
.tileBox ul { margin-right: -10px; }
.tileBox li { float: left; width: 224px; padding: 10px 10px 0 0; }
.tileBox li .mainNews { border: 1px solid #E5E5E5; }
.tileBox li:hover { background-color: #FBFBFB; }
.tileBox li:hover .articleTitle a { text-decoration: underline; }
.tileBox .articleTitleList { padding-left: 10px; }
.tileBox .articleTitleList li { margin-top: 12px; padding-top: 12px; border-top: 1px solid #E2E2E2; -webkit-box-shadow: 0 1px 0 #FFF inset; box-shadow: 0 1px 0 #FFF inset; }
.tileBox .articleTitleList li:first-child { margin: 0; padding: 0; border: none; -webkit-box-shadow: none; box-shadow: none; margin: 0; }
.tileBox .articleTitleWrap { background-color: #FFF; padding: 8px 8px 4px 8px; text-align: center; height: 54px; }
.tileBox .articleTitle { text-align: left; font-size: 13px; line-height: 18px; font-weight: bold; }
.tileBox .subNews .articleTitle { font-size: 13px; width: 100%; height: 44px; overflow: hidden; }
.tileBox .subNews .articlethumbWrap > a { float: right; width: 100%; height: 56px; margin-left: 10px; border: 2px solid transparent; -webkit-box-sizing: border-box; box-sizing: border-box; }
.tileBox .articleSocialBtnTemp { width: 112px; height: 20px; overflow: hidden; margin: 5px; }
.tileBox .contentClick { cursor: pointer; }
.tileBox .articleMetaWrap { overflow: hidden; padding: 0 8px 4px 8px; }
.tileBox .articleCreateDate { float: left; }
.tileBox .commentNumWrap { float: right; font-size: 13px; }
.tileBox .commentNumWrap a { color: #f4781a; }
.tileBox .commentNumWrap a .fa { margin-right: .2em; }
.tileBox .commentNumWrap a .num { font-weight: bold; }

.recommendArticle .articleTitle, .topCornerNews .articleTitle, .tileBox .articleTitle, .topCornerNews .articleRead, .articleMainLine .articleTitle, .articleMainLine .articleRead { position: relative; overflow: hidden; }

.recommendArticle .articleTitle:after, .topCornerNews .articleTitle:after, .tileBox .articleTitle:after, .topCornerNews .articleRead:after, .articleMainLine .articleRead:after { position: absolute; right: 0; bottom: 0; content: ' '; display: block; width: 1.5em; height: 1.5em; background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 80%); background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 80%); background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 80%); -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#55ffffff', endColorstr='#ffffffff', GradientType=1)"; }

.topCornerNews .articleTitle:after { background: none; }

.recommendArticle .articleTitle { height: 54px; }

.topCornerNews .articleTitle { max-height: 40px; }

.articleMainLine .articleRead { height: 32px; }

.tileBox .articleTitle { max-height: 54px; }

.adNative .articleTitle { max-height: 36px; }

.articleMainLine .articleTitle { max-height: 54px; }

.topCornerNews .subNews .articleTitle { height: auto; }

.searchResultWrap { background-color: #FFF; padding: 10px; }

.searchResult { background-color: #F2F2F2; }
.searchResult .condtionAllClear { float: right; margin: 10px 10px 0 0; height: 20px; line-height: 20px; font-size: 10px; color: #666; }
.searchResult h2 { font-style: normal !important; padding-bottom: 10px; padding: 10px; border-bottom: 1px  dotted #BBB; }
.searchResult .conditionList { padding: 10px 10px 10px; }
.searchResult .conditionList li { display: inline-block; padding: 0 7px 0 0; }
.searchResult .conditionList a { color: #666; font-size: 12px; }
.searchResult .conditionList a:hover { text-decoration: none; color: #333; }
.searchResult .conditionList a .fa { color: #999; width: 10px; margin-left: 3px; }
.searchResult .conditionList a:hover .fa { color: #666; }
.searchResult .searchResultNum { font-size: 20px; color: #D30000; padding: 0 3px 0 5px; }

#redirectSp { text-align: center; padding: 20px; }

#changeSmtSite.btn { width: 100%; font-size: 64px; height: 160px; line-height: 160px; margin: 0; -webkit-border-radius: 3px; border-radius: 3px; -webkit-box-sizing: border-box; box-sizing: border-box; color: #FFF; background-color: #e95a0c; }
#changeSmtSite.btn:hover, #changeSmtSite.btn:active { width: 100%; font-size: 64px; height: 160px; line-height: 160px; margin: 0; -webkit-border-radius: 3px; border-radius: 3px; -webkit-box-sizing: border-box; box-sizing: border-box; color: #FFF; background-color: #cd510e; }

#contentHeaderWrap { -webkit-box-shadow: none; box-shadow: none; }

#contentHeader { padding: 20px 0 0; position: relative; background-color: #FFF; border: 1px solid #E5E5E5; -webkit-box-sizing: border-box; box-sizing: border-box; overflow: hidden; }
#contentHeader .subArea { position: relative; float: right; width: 728px; -webkit-box-sizing: border-box; box-sizing: border-box; }
#contentHeader .cvBtn { position: absolute; top: 50%; right: 0; margin: -16px 0 0 0; padding: 0 20px; height: 32px; line-height: 32px; font-size: 13px; }
#contentHeader .logout { position: absolute; bottom: -20px; right: 0; font-size: 11px; }
#contentHeader .tieupList { margin-right: -10px; }
#contentHeader .tieupList > li { background-color: #F2F2F2; float: right; width: 120px; height: 90px; margin-right: 10px; }
#contentHeader .tieupList > li a { display: block; position: relative; border: 1px solid #E8E8E8; width: 120px; height: 90px; -webkit-background-size: cover; background-size: cover; background-position: 50%  50%; background-repeat: no-repeat; -webkit-box-sizing: border-box; box-sizing: border-box; }

#contentLogoArea { float: left; width: 220px; -webkit-box-sizing: border-box; box-sizing: border-box; }

#contentSearch { position: absolute; top: 50%; left: 0; margin: -16px 0 0 0; width: 320px; }
#contentSearch form { position: relative; }
#contentSearch input[type="text"] { width: 260px; height: 32px; -webkit-border-radius: 3px 0 0 3px; border-radius: 3px 0 0 3px; border-right: none; }
#contentSearch button[type="submit"] { position: absolute; top: 0; right: 0; width: 60px; height: 32px; border: 1px solid #CCC; padding: 0; background: #FBFBFB; cursor: pointer; -webkit-border-radius: 0 3px 3px 0; border-radius: 0 3px 3px 0; }
#contentSearch button[type="submit"] .fa { position: relative; top: 1px; left: -1px; font-size: 16px; color: #999; }
#contentSearch button[type="submit"]:hover { background: #EEE; }

#communityCvOverlay { display: none; position: fixed; top: 50%; left: 50%; margin: -185px 0 0 -172px; width: 400px; height: 354px; background-color: #FFF; z-index: 10001; -webkit-border-radius: 3px; border-radius: 3px; -webkit-box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2); box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2); }
#communityCvOverlay .close { position: absolute; top: -20px; right: -20px; width: 40px; height: 40px; -webkit-border-radius: 100%; border-radius: 100%; background-color: #F2F2F2; cursor: pointer; -webkit-box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2); box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2); }
#communityCvOverlay .close:hover { background-color: #DDD; }
#communityCvOverlay .close .fa { position: relative; top: 8px; left: 11px; font-size: 24px; color: #666; }

#communityLogin > .inner { padding: 20px; }
#communityLogin h2 { background-image: url(/img/modal_cominy_icon.png); background-repeat: no-repeat; font-size: 16px; height: 33px; line-height: 33px; padding-left: 45px; margin-bottom: 16px; }
#communityLogin .message { color: #666; font-size: 14px; line-height: 20px; margin-bottom: 10px; }
#communityLogin .fa { position: relative; bottom: -2px; color: #FFF; padding-right: 5px; font-size: 18px; }
#communityLogin .fa-envelope { bottom: -2px; padding-right: 8px; font-size: 15px; color: #BCBCBC; }
#communityLogin .mailRegist { border-top: 1px solid #DBDBDB; padding-top: 10px; color: #999; }
#communityLogin .mailRegist li:first-child { float: right; }
#communityLogin .mailRegist li:last-child { margin-right: 60px; }
#communityLogin .mailRegist .text { color: #999; margin-bottom: 6px; }
#communityLogin .mailRegist input[type="text"] { -webkit-border-radius: 3px 0 0 3px; border-radius: 3px 0 0 3px; }
#communityLogin .btnMail { -webkit-border-radius: 0 3px 3px 0; border-radius: 0 3px 3px 0; }
#communityLogin .btn { height: 32px; line-height: 32px; -webkit-box-sizing: border-box; box-sizing: border-box; }
#communityLogin .btnTwitter { margin-bottom: 10px; font-size: 15px; height: 40px; line-height: 40px; }
#communityLogin .btnLogin, #communityLogin .btnTwitter { width: 100%; }
#communityLogin .login { margin: 20px 0 0 0; text-align: right; }
#communityLogin .registArea { padding: 10px; background-color: #F2F2F2; }

#sideContentFilterNavi { margin-bottom: 5px; }
#sideContentFilterNavi h3, #sideContentFilterNavi h4 { overflow: hidden; padding: 5px 10px; color: #FFF; text-overflow: ellipsis; white-space: nowrap; font-size: 14px; }
#sideContentFilterNavi h3 { background-color: #222; }
#sideContentFilterNavi h4 { color: #333; }
#sideContentFilterNavi .inner { padding: 10px 0; background-color: #fff; -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.12); box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.12); }
#sideContentFilterNavi .inner a { display: block; padding: 3px 10px; color: #333; font-size: 13px; -webkit-transition: all 0.02s linear; transition: all 0.02s linear; }
#sideContentFilterNavi .inner a:hover { text-decoration: none; background-color: #f2f2f2; }
#sideContentFilterNavi .inner .level2, #sideContentFilterNavi .inner .level3 { padding-left: 20px; }
#sideContentFilterNavi .inner .half { float: left; width: 50%; }

.shceduleRelationEvent { margin-bottom: 10px; background-color: #FFF; padding: 10px 10px 2px; -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08); box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08); }
.shceduleRelationEvent h3 { font-size: 16px; margin-bottom: 5px; }
.shceduleRelationEvent ul li { border-bottom: 1px dotted #CCC; overflow: hidden; }
.shceduleRelationEvent ul li:first-child { border-top: 1px dotted #CCC; }
.shceduleRelationEvent ul li:last-child { border: none; }
.shceduleRelationEvent ul li a { display: block; padding: 8px 0; overflow: hidden; }
.shceduleRelationEvent .thumbnail { float: left; margin-right: 8px; display: inline-block; width: 80px; height: 60px; background-color: #F2F2F2; -webkit-background-size: cover; background-size: cover; background-position: 50% 50%; -webkit-box-sizing: border-box; box-sizing: border-box; }
.shceduleRelationEvent .eventTitle { margin-left: 80px; font-size: 13px; line-height: 20px; height: 60px; overflow: hidden; word-break: break-all; }
.shceduleRelationEvent .limitTime { float: left; display: block; color: #E00000; text-decoration: none; }
.shceduleRelationEvent .more { position: relative; top: 0; right: 0; float: right; font-size: 14px; }
.shceduleRelationEvent .more .fa { position: relative; bottom: -1px; margin-left: 5px; }

#sideGameSchedule { background-color: #FFF; border: 1px solid #E5E5E5; }
#sideGameSchedule h3 { background-color: #626262; font-size: 14px; }
#sideGameSchedule h3.click { position: relative; }
#sideGameSchedule h3.click a { color: #FFF; display: block; padding: 5px 10px; }
#sideGameSchedule h3.click a:hover { text-decoration: none; background-color: #727272; }
#sideGameSchedule h3.click .fa { position: absolute; top: 50%; right: 10px; margin-top: -10px; font-size: 20px; font-weight: bold; }
#sideGameSchedule h4 { background-color: #EEE; padding: 5px 10px 2px; font-size: 13px; font-weight: normal; }
#sideGameSchedule ul > li { position: relative; border-bottom: 1px dotted #CCC; }
#sideGameSchedule ul > li:last-child { border: none; }
#sideGameSchedule ul > li .icon { float: left; margin: 2px 5px 0 0; }
#sideGameSchedule ul > li .price { color: #666; font-size: 11px; }
#sideGameSchedule ul > li a { overflow: hidden; display: block; font-size: 12px; line-height: 18px; color: #333; padding: 3px 10px; }
#sideGameSchedule ul > li a:hover { text-decoration: none; background-color: #FBFBFB; }
#sideGameSchedule ul > li .gameJacketWrap { float: left; margin-right: 10px; }
#sideGameSchedule ul > li .gameJacket { width: 54px; height: 54px; background-color: #F2F2F2; border: 1px solid #E5E5E5; text-align: center; -webkit-background-position: 50% 50%; background-position: 50% 50%; -webkit-background-size: cover; background-size: cover; -webkit-box-sizing: border-box; box-sizing: border-box; }
#sideGameSchedule ul > li .noImage { line-height: 54px; font-size: 10px; color: #666; font-weight: bold; }

.searchResultMessage p { line-height: 1.6; font-size: 16px; margin: 20px 0; }
