.topContentBox { padding: 10px 10px 0; border-left: 1px solid #E5E5E5; border-right: 1px solid #E5E5E5; }
.topContentBox.tile { padding-right: 0; }

.topCornerContentList > li { float: left; width: 50%; }

.topCornerContent { margin-bottom: 5px; background-color: #FFF; }
.topCornerContent.first { margin-top: 0; }
.topCornerContent .contentTitle { line-height: 18px; }
.topCornerContent h2 { padding: 5px 8px; font-size: 16px; }
.topCornerContent h2.click { padding: 0; }
.topCornerContent h2.click > a { position: relative; }
.topCornerContent h2.click .fa { position: absolute; top: 50%; right: 10px; margin-top: -12px; color: #FFF; font-size: 24px; font-weight: bold; }
.topCornerContent h2 > a { display: block; background-color: #CCC; padding: 0 8px 0 175px; height: 26px; line-height: 26px; color: #FFF; }
.topCornerContent h2 > a:hover { text-decoration: none; background-color: #DBDBDB; }
.topCornerContent .more { background-color: #FFF; text-align: center; padding: 10px 0; }
.topCornerContent .more a { width: 80%; text-align: center; color: #333; background-color: #E6E6E6; }
.topCornerContent .moreBtnWrap { -webkit-box-shadow: none; box-shadow: none; margin: 0; padding: 8px 8px 5px 8px; }

.topCornerNews .thumbWrap { float: right; margin-left: 10px; }
.topCornerNews .articleTitle { font-size: 14px; line-height: 20px; margin: 0 0 3px 0; }
.topCornerNews .articleRead { font-size: 12px; line-height: 16px; max-height: 48px; overflow: hidden; }
.topCornerNews .subNews .articleTitle { font-size: 13px; display: block; font-weight: normal; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
.topCornerNews .subNews > li { position: relative; padding-left: 10px; line-height: 18px; }
.topCornerNews .subNews > li:last-child a { margin: 0; }
.topCornerNews .subNews > li:before { position: absolute; content: ''; top: 50%; left: 0; margin-top: -5px; border: 4px solid transparent; border-left-color: #666; }
.topCornerNews .articleWrap { margin: 0 130px 10px 0; min-height: 90px; }
.topCornerNews .articleMetaWrap { overflow: hidden; }
.topCornerNews .tweetNum { float: left; margin-right: 7px; }
.topCornerNews .articleCreateDate { float: right; display: inline-block; font-size: 13px; }

.topTileContent { margin: 0 -10px 0 0; }
.topTileContent > li { float: left; width: 146px; margin: 0 10px 5px 0; }
.topTileContent > li:first-child > a { margin-left: 0; margin-right: 5px; }
.topTileContent > li:last-child > a { margin-left: 5px; margin-right: 0; }
.topTileContent > li > a { position: relative; display: block; text-align: center; margin: 0 5px 10px; }
.topTileContent .thumbWrap .thumb { width: 100%; height: 109.5px; }
.topTileContent .articleTitle { background-color: #FFF; text-align: left; font-size: 12px; line-height: 16px; padding: 5px 0 0; font-weight: normal; word-break: break-word; }

.sideContentBox { margin-bottom: 20px; }

#topPcOnlineGame h2 > a { color: #FFF; background: url(/img/bn_news-connect.png) no-repeat #278041 5px 0; }
#topPcOnlineGame h2 > a:hover { background-color: #2e934d; }
#topPcOnlineGame .moreBtn { background-color: #FFF; border: 2px solid #1E7130; color: #1E7130; }
#topPcOnlineGame .moreBtn:hover { text-decoration: none; background-color: #1E7130; color: #FFF; }

#topAttentionApp h2 > a { color: #FFF; background: url(/img/bn_news-app.png) no-repeat #EE58A9 5px 0; }
#topAttentionApp h2 > a:hover { background-color: #f068b1; }
#topAttentionApp .moreBtn { background-color: #FFF; border: 2px solid #EA3799; color: #EA3799; }
#topAttentionApp .moreBtn:hover { text-decoration: none; background-color: #EA3799; color: #FFF; }

#topComicClear h2 > a { color: #FFF; background: url(/img/bn_news-clear.png) no-repeat #00A1E9 5px 0; }
#topComicClear h2 > a:hover { background-color: #1baaec; }
#topComicClear .moreBtn { background-color: #FFF; border: 2px solid #008CE7; color: #008CE7; }
#topComicClear .moreBtn:hover { text-decoration: none; background-color: #008CE7; color: #FFF; }

#topGoodsContent { background-color: #FFF; border: 1px solid #E5E5E5; }
#topGoodsContent h3 { background-color: #E6E6E6; padding: 4px 8px; font-size: 14px; font-weight: normal; }
#topGoodsContent h3.click { position: relative; }
#topGoodsContent h3.click a { color: #333; display: block; }
#topGoodsContent h3.click .fa { position: absolute; top: 50%; right: 10px; margin-top: -10px; font-size: 20px; font-weight: bold; }

#topThisWeekSaleGame { background-color: #FFF; }
#topThisWeekSaleGame li { position: relative; padding: 10px; border-top: 1px dotted #CCC; }
#topThisWeekSaleGame li:first-child { margin: 0; border-top: none; }
#topThisWeekSaleGame .icon { float: left; margin: 0px 5px 0 0; }
#topThisWeekSaleGame .price { color: #666; font-size: 11px; }
#topThisWeekSaleGame a { display: block; font-size: 13px; line-height: 18px; color: #333; }

#topEbtenContents li { border-bottom: 1px dotted #ccc; }
#topEbtenContents a { overflow: hidden; display: block; padding: 10px; line-height: 1.4; }
#topEbtenContents a:hover { background-color: #fbfbfb; }
#topEbtenContents .ebtenTopWrap { overflow: hidden; margin-bottom: 5px; }
#topEbtenContents .ebtenImgBox { float: left; margin-right: 5px; width: 64px; height: 64px; background-color: #f0f0f0; background-repeat: no-repeat; -webkit-background-position: 50% 50%; background-position: 50% 50%; -webkit-background-size: contain; background-size: contain; }
#topEbtenContents .ebtenTitle { overflow: hidden; }
#topEbtenContents .ebtenCatch { color: #666; font-size: 11px; }

#topGameRanking { border: 1px solid #E5E5E5; background-color: #FFF; }
#topGameRanking h3 { background-color: #E6E6E6; padding: 4px 8px; font-size: 14px; font-weight: normal; }
#topGameRanking h3.click { position: relative; }
#topGameRanking h3.click a { color: #333; display: block; }
#topGameRanking h3.click .fa { position: absolute; top: 50%; right: 10px; margin-top: -10px; font-size: 20px; font-weight: bold; }
#topGameRanking ul li { position: relative; padding: 10px; border-top: 1px dotted #CCC; }
#topGameRanking ul li a { display: block; font-size: 13px; line-height: 18px; color: #333; }
#topGameRanking ul li:first-child { border-top: none; }
#topGameRanking .iconDevice { float: left; margin: 0px 5px 0 0; }
#topGameRanking .price { color: #666; font-size: 11px; }
#topGameRanking .wrap { margin-left: 42px; }
#topGameRanking .rankNo { position: absolute; top: 50%; left: 8px; margin-top: -15.5px; width: 31px; height: 31px; line-height: 31px; background-color: #E6E6E6; text-align: center; font-weight: bold; color: #666; font-size: 16px; -webkit-text-shadow: 0 0 0; text-shadow: 0 0 0; -webkit-border-radius: 3px; border-radius: 3px; }
#topGameRanking .iconRankBig { width: 30px; height: 31px; background-color: transparent; }
#topGameRanking .saleNum .num { color: #D00000; font-size: 14px; margin-right: 3px; }

#sideEventContent { position: relative; border: 5px solid #DF3C31; }
#sideEventContent h3 { padding: 5px; color: #FFF; border: 1px solid #181818; background-color: #B72F26; text-align: center; font-size: 16px; }
#sideEventContent .week { font-size: 14px; padding: 0 3px; }
#sideEventContent .eventList { background-color: #181818; }
#sideEventContent .eventList li { padding: 5px 10px; font-size: 12px; border-top: 2px solid #8D1D16; }
#sideEventContent .eventList li:first-child { padding: 5px 10px; border: none; }
#sideEventContent .eventList.noThumb li:first-child { padding-top: 5px; }
#sideEventContent .eventList.noThumb .onAirIcon { display: inline-block; background-color: #FE0000; padding: 0 5px; margin: 0 3px 0 0; height: 18px; line-height: 18px; text-align: center; color: #FFF; font-weight: bold; }
#sideEventContent .eventList a { color: #FFF; }
#sideEventContent .thumbWrap { display: block; height: 135px; margin-bottom: 5px; }
#sideEventContent .thumbWrap > .thumb { width: 100%; height: 135px; text-align: center; margin-bottom: 5px; background-color: #F2F2F2; background-position: 50% 50%; }
#sideEventContent .thumbWrap .onAirIcon { position: absolute; top: 0; left: 0; display: inline-block; background-color: #FBF331; height: 24px; line-height: 24px; padding: 0 5px; text-align: center; color: #C9352B; font-weight: bold; font-size: 16px; -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.28); box-shadow: 0 1px 2px rgba(0, 0, 0, 0.28); z-index: 1; -webkit-animation: link 3s ease-in-out 0s infinite alternate, light 3s ease-in-out 0s infinite alternate, font 3s ease-in-out 0s infinite alternate, font_2 3s ease-in-out 0s infinite alternate; }
#sideEventContent .eventTitle { font-size: 12px; line-height: 18px; max-height: 54px; overflow: hidden; }
#sideEventContent .limitTime { float: left; margin-right: 5px; color: #D42020; height: 18px; line-height: 18px; background-color: #D42020; }
#sideEventContent .limitTime .time { color: #FFF; padding: 0 2px; }
#sideEventContent .more { border-top: 2px solid #8D1D16; background-color: #181818; padding: 10px; }
#sideEventContent .more a { position: relative; height: 26px; line-height: 26px; display: block; padding: 0 0 0 10px; background-color: #e30a0a; color: #FFF; font-size: 14px; -webkit-border-radius: 3px; border-radius: 3px; }
#sideEventContent .more a:hover { text-decoration: none; background-color: #f32a2a; }
#sideEventContent .more a .fa { position: absolute; top: 50%; right: 10px; color: #FFF; margin-top: -12px; font-size: 24px; font-weight: bold; }
#sideEventContent .date { margin-right: 5px; font-size: 20px; }
#sideEventContent .eventTimePass { position: absolute; bottom: 0; right: 0; font-size: 13px; display: block; color: #333; z-index: 1; background-color: #333; color: #FFF; height: 20px; line-height: 20px; padding: 0 10px; }

@-moz-keyframes link { 0% { background-color: #820c08; }
  25% { background-color: #830c08; }
  50% { background-color: #cc0000; }
  75% { background-color: #830c08; }
  100% { background-color: #830c08; } }
@-webkit-keyframes link { 0% { background-color: #830c08; }
  25% { background-color: #830c08; }
  50% { background-color: #cc0000; }
  75% { background-color: #830c08; }
  100% { background-color: #830c08; } }
@-o-keyframes link { 0% { background-color: #830c08; }
  25% { background-color: #830c08; }
  50% { background-color: #cc0000; }
  75% { background-color: #830c08; }
  100% { background-color: #830c08; } }
@-ms-keyframes link { 0% { background-color: #830c08; }
  25% { background-color: #830c08; }
  50% { background-color: #cc0000; }
  75% { background-color: #830c08; }
  100% { background-color: #830c08; } }
@-moz-keyframes light { 0% { box-shadow: none; }
  25% { box-shadow: none; }
  50% { box-shadow: 0px 0px 6px #ff0000; }
  75% { box-shadow: none; }
  100% { box-shadow: none; } }
@-webkit-keyframes light { 0% { box-shadow: none; }
  25% { box-shadow: none; }
  50% { box-shadow: 0px 0px 6px #ff0000; }
  75% { box-shadow: none; }
  100% { box-shadow: none; } }
@-o-keyframes light { 0% { box-shadow: none; }
  25% { box-shadow: none; }
  50% { box-shadow: 0px 0px 6px #ff0000; }
  75% { box-shadow: none; }
  100% { box-shadow: none; } }
@-ms-keyframes light { 0% { box-shadow: none; }
  25% { box-shadow: none; }
  50% { box-shadow: 0px 0px 6px #ff0000; }
  75% { box-shadow: none; }
  100% { box-shadow: none; } }
@-moz-keyframes font { 0% { color: #fff; }
  25% { color: #fff; }
  50% { color: #ff0; }
  75% { color: #fff; }
  100% { color: #fff; } }
@-webkit-keyframes font { 0% { color: #fff; }
  25% { color: #fff; }
  50% { color: #ff0; }
  75% { color: #fff; }
  100% { color: #fff; } }
@-o-keyframes font { 0% { color: #fff; }
  25% { color: #fff; }
  50% { color: #ff0; }
  75% { color: #fff; }
  100% { color: #fff; } }
@-ms-keyframes font { 0% { color: #fff; }
  25% { color: #fff; }
  50% { color: #ff0; }
  75% { color: #fff; }
  100% { color: #fff; } }
@-moz-keyframes font_2 { 0% { text-shadow: none; }
  25% { text-shadow: none; }
  50% { text-shadow: 0px 0px 10px #ff0; }
  75% { text-shadow: none; }
  100% { text-shadow: none; } }
@-webkit-keyframes font_2 { 0% { text-shadow: none; }
  25% { text-shadow: none; }
  50% { text-shadow: 0px 0px 10px #ff0; }
  75% { text-shadow: none; }
  100% { text-shadow: none; } }
@-o-keyframes font_2 { 0% { text-shadow: none; }
  25% { text-shadow: none; }
  50% { text-shadow: 0px 0px 10px #ff0; }
  75% { text-shadow: none; }
  100% { text-shadow: none; } }
@-ms-keyframes font_2 { 0% { text-shadow: none; }
  25% { text-shadow: none; }
  50% { text-shadow: 0px 0px 10px #ff0; }
  75% { text-shadow: none; }
  100% { text-shadow: none; } }
#sideContentNavi h3 { background-color: #CCC; padding: 4px 8px; font-size: 14px; font-weight: normal; }
#sideContentNavi h3.click { position: relative; padding: 0; }
#sideContentNavi h3.click a { padding: 4px 8px; color: #FFF; display: block; }
#sideContentNavi h3.click a:hover { text-decoration: none; }
#sideContentNavi h3.click .fa { position: absolute; top: 50%; right: 10px; color: #FFF; margin-top: -12px; font-size: 24px; font-weight: bold; }
#sideContentNavi h3 span { color: #FFF; display: block; }
#sideContentNavi ul.verticalList { padding: 0; }
#sideContentNavi ul.verticalList li { border-bottom: 1px solid #E5E5E5; }
#sideContentNavi ul.verticalList a { padding: 4px 12px 4px 8px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; color: #333; }
#sideContentNavi ul.verticalList .iconOff { padding: 5px 10px; }
#sideContentNavi ul.verticalList img { max-width: 100%; height: auto; }
#sideContentNavi ul a { position: relative; display: block; font-size: 12px; color: #333; }
#sideContentNavi ul a:hover { text-decoration: none; background-color: #F8F8F8; color: #333; }
#sideContentNavi ul.communityContent li { float: left; width: 50%; }
#sideContentNavi ul.communityContent a { padding: 3px 0; font-size: 13px; color: #333; }
#sideContentNavi ul.gameSaleSchedule li { float: left; width: 50%; }
#sideContentNavi ul.gameSaleSchedule a { padding: 3px 0; font-size: 13px; color: #333; }
#sideContentNavi ul.newsContent li { float: left; width: 50%; border-bottom: 1px solid #E5E5E5; }
#sideContentNavi ul.newsContent li:nth-child(odd) { border-right: 1px solid #E5E5E5; -webkit-box-sizing: border-box; box-sizing: border-box; }
#sideContentNavi ul.newsContent a { padding: 6px 12px; font-size: 13px; }
#sideContentNavi .sideContentWrap { padding: 0; margin-bottom: 5px; background-color: #FFF; border-left: 1px solid #E5E5E5; border-right: 1px solid #E5E5E5; }
#sideContentNavi .newMark { position: absolute; top: 50%; right: 8px; margin-top: -7px; color: #FE0000; font-size: 12px; }
#sideContentNavi .iconNavi { left: 10px; }

#sideNaviNews h3 { background-color: #36649f; border-bottom: 2px solid #25416e; }
#sideNaviNews h3:hover { background-color: #4171ae; border-bottom: 2px solid #305185; }

#sideNaviGameSchedule h3 { background-color: #65a435; border-bottom: 2px solid #366d19; }
#sideNaviGameSchedule h3:hover { background-color: #7bbb49; border-bottom: 2px solid #5a9836; }

#sideNaviCommunity h3 { background-color: #aa4678; border-bottom: 2px solid #873259; }
#sideNaviCommunity h3:hover { background-color: #be5b8c; border-bottom: 2px solid #9f406c; }

#sideNaviPlan h3 { background-color: #387f7f; border-bottom: 2px solid #215d5b; /*
		&:hover {
			background-color: #4a9797;
			border-bottom: 2px solid #307b78;
		}
*/ }

#sideNaviBlog h3 { background-color: #b85959; border-bottom: 2px solid #a23c3c; /*
		&:hover {
			background-color: #ce6c6c;
			border-bottom: 2px solid #bd5050;
		}
*/ }

#sideNaviComic h3 { background-color: #c6954b; border-bottom: 2px solid #b7742b; /*
		&:hover {
			background-color: #cfa15b;
			border-bottom: 2px solid #c9853c;
		}
*/ }
