.noindex{display:none}
*{margin:0;padding:0;}
body{background:#2e2e30;color:#000;font-family:Lucida Sans Unicode, Lucida Grande, sans-serif;font-size:12px;}
img{border:none;}
.clearfix{clear:both;height:0;font-size:1px;line-height:0px;}
a{text-decoration:none;color:#fff;}
a:hover{color:#35b3ee;text-decoration:none;}

/*header*/
#top_container{background:url(/img/bg.png) repeat;margin:0;padding:4px 0 4px 0;text-align:center;border-bottom:1px solid #000;}
#top_container .table{width:998px;float:center;}
.one{width:330px;}
.one h1{text-indent:-1000em;background:url(/img/logo.png) no-repeat;width:270px;height:39px;margin:0 0 0 8px;}
.two{width:668px;}
.two table{width:668px;}
.two table .tone{width:238px;padding-top:2px;}
.two table .ttwo{width:410px;padding-top:2px;}


.two table .tone a{color:#d1d0d0;display:block;font-size:12px;font-family: Verdana, Geneva, sans-serif;}
.two table .tone a:hover{color:#fff;text-decoration:underline;}
.two table .tone a.book{display:inline-block;cursor:pointer;background:url(/img/book.png) left no-repeat;padding:0 0 0 18px;}
.two table .tone a.cat{display:inline-block;cursor:pointer;background:url(/img/cat.png) left no-repeat;margin-top:5px;padding:0 0 0 18px;}
#fbookchar, #scatchar{display:inline-block;}


#fbookmain{background:url(/img/bg.png) repeat;border-top:1px solid #4d4d4d;border-bottom:1px solid #000;}
#fbm{padding:10px 0 10px 10px;}
.add{display:inline;float:left;margin-top:6px;margin-right:20px;;font-size:14px;color:#d1d0d0;text-shadow:1px 1px 1px #000;}
.add a{color:#cf9311;background:url(/img/book1.png) left no-repeat;padding:0 0 2px 22px;font-weight:bold;}
.add a:hover{text-decoration:underline;}
.shar{display:inline;float:left;}

#scatmain{background:url(/img/bg.png) repeat;border-top:1px solid #4d4d4d;border-bottom:1px solid #000;}
#scm{padding:10px 0 10px 10px;}
#scatmain table{width:998px;margin-left:-15px;}
#scatmain table td{border-right:1px dashed #575757;padding:0 0 0 20px;margin:0;}
#scatmain table td.first{}
#scatmain a{text-shadow:1px 1px 1px #000;padding:0 3px 0 3px;color:#d1d0d0;font-size:14px;}
#scatmain a:hover{background:#070707;color:#cf9311;text-decoration:none;}

/*search*/
form{width:375px;}
.web2o_search{border:1px solid #7a7a7a;border-right:0;float:left;background:#1d1d1d;width:280px;height:26px;font-size:14px;padding-left:8px;padding-right:8px;color:#fff;text-shadow:1px 1px 1px #000;}
*+html .web2o_search{padding-top:8px;height:28px;}
.but{width:75px;height:28px;border:0;background:#f3b400;float:left;cursor:pointer;}
.but:hover{}

/*thumbs*/
#content_container{padding-top:10px;padding-left:5px;border-top:1px solid #4d4d4d;}
.thumb{width:320px;height:240px;border:1px solid #cf9311/*ffff99*/;}
html>/**/body .thumb, x:-moz-any-link, x:default {margin-bottom:-1px;}
*+html .thumb{margin-bottom:-1px;}
.thumb{margin-bottom /*\**/:-1px\9;}
.product_vert{background:url(/img/bg.png) repeat;border:0px solid #111111;display:inline-block;width:322px;margin:0 0px 15px 0px;}
.product_vert:hover{background:#131313;}
.bor{padding:0;margin:0;border:1px solid #000;border-top:0;}

.top_detail_cat{font-weight:bold;font-size:20px;text-align:left;padding:2px 0 2px 5px;}
.top_detail_cat span{background:url(/img/fold.png) left no-repeat;padding:0 0 2px 25px;}
.item_details_cat{text-align:center;color:#d1d0d0;}

.item_details{border-top:0;text-align:center;overflow:hidden;}
.product_vert .item_details .cat{color:#fff;text-shadow:1px 1px 1px #000;font-size:11px;padding-left:5px;display:inline;float:left;padding-bottom:0px;}
.product_vert .item_details .cat-1{color:#fff;font-size:11px;padding-right:5px;display:inline;float:right;padding-bottom:0px;}
.product_vert .item_details .cat-1 a:hover{text-decoration: underline !important;}
.product_vert .item_details .cat-2{color:#fff;font-size:11px;padding-right:5px;display:inline;float:right;padding-bottom:0px;}
.product_vert .item_details .cat-2 a{color:#f2c745;text-decoration:none;text-shadow:1px 1px 1px #000;}
.product_vert .item_details .cat-2 a:hover{text-decoration:underline;}
.product_vert .item_details .cat-3{color:#fff;font-size:11px;padding-left:5px;display:inline;float:left;padding-bottom:0px;}
.product_vert .item_details .cat-3 a{color:#f2c745;text-decoration:none;text-shadow:1px 1px 1px #000;}
.product_vert .item_details .cat-3 a:hover{text-decoration:underline;}
.product_vert .item_details span{color:#d1d0d0;font-size:11px;text-shadow:1px 1px 1px #000;}
.product_vert .tumb_a{text-align:left;overflow:hidden;color:#cf9311;text-shadow:1px 1px 1px #000;}
.product_vert .tumb_a:hover{text-decoration:none;}
.product_vert .tumb_a .top_detail{color:#f2c745;text-shadow:1px 1px 1px #000;padding-left:5px;padding-right:5px;width:310px;overflow:hidden;white-space:nowrap;letter-spacing:normal;font-size:12px;}

/*navigation*/
.nav{color:#fff;margin-top:15px;margin-bottom:15px;margin-left:10px;}
.nav span{font-size:18px;font-weight:bold;}
.nav span b{background:#231411;border:1px solid #241614;color:#d34368;padding:2px;text-shadow:1px 1px 1px #000;}
.nav span a{font-size:18px;background:#2c1c19;border:1px solid #241614;padding:2px;color:#fff;text-shadow:1px 1px 1px #000;}
.nav span a:hover{color:#f2c745;background:#231411;text-decoration:none;}

/*keys*/
.categorb{border-top:1px solid #4d4d4d;border-bottom:1px solid #4d4d4d;margin:10px 0 15px 0;}
.categor{background:url(/img/bg.png) repeat;padding:10px 0 10px 10px;border-top:1px solid #000;border-bottom:1px solid #000;}
.categor table{width:998px;margin-left:-15px;}
.categor table td{border-right:1px dashed #575757;padding:0 0 0 20px;margin:0;}
.categor table td.first{border-left:1px dashed #575757;}
.categor a{text-shadow:1px 1px 1px #000;padding:0 3px 0 3px;color:#d1d0d0;font-size:14px;}
.categor a:hover{background:#070707;color:#cf9311;text-decoration:none;}

/*text top*/
.foot-top{width:981px;margin-left:9px;margin-top:25px;margin-bottom:20px;font-size:16px;font-family: Verdana, Geneva, sans-serif;}
.foot-top h2{text-indent:-1000em;background:url(/img/top.png) no-repeat;width:981px;height:44px;}
.foot-top table{width:981px;}
.foot-tab{background:#1c1c1c;color:#d1d0d0;text-shadow:1px 1px 1px #000;}
.foot-tab a{color:#cf9311;font-size:16px;font-weight:bold;padding:0px 2px 0px 2px;}
.foot-tab a:hover{text-decoration:none;background:#070707;color:#d1d0d0;}
.foot-tab td{padding:5px;}

/*friends*/
.friends{margin-left:10px;color:#fff;margin-bottom:7px;text-shadow:1px 1px 1px #000;}
.friends a{color:#fff;}
.friends a:hover{color:#f2c745;text-decoration:underline;}

/*footer*/
.foot{border-top:1px solid #4d4d4d;margin:10px 0 0 0;}
#footer{background:url(/img/bg.png) repeat;border-top:1px solid #000;font-size:11px;padding:2px 0 2px 8px;color:#d1d0d0;}
#footer table{width:990px;font-size:11px;color:#d1d0d0;}
#footer table td.link_foot{width:300px;text-align:left;}
#footer table td.link_foot a{text-shadow:1px 1px 1px #000;}
#footer table td.copy_foot{width:690px;text-align:center;text-shadow:1px 1px 1px #000;}
#footer a{color:#d1d0d0;}
#footer a:hover{color:#fff;text-decoration:underline;}


.arc a{
color:#cf9311;
border:1px solid;
width:27px;
padding:2px 1px 1px 0;
text-align:center;
text-decoration:none;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-weight:700;
font-size:12px;
float:left;
border-color:#cf9311;
margin:2px;
height: 16px;
line-height: 14px;
margin-top: 4px;
background-color: #028D00;
background:url(/img/bg.png);

}

.arc A:hover {
color:#fff;
border-color:#fff;
}

#pmd_logo{
    display: none !important;
}