/*
Theme Name: UNC Base
Theme URI: https://wpcom-themes.svn.automattic.com/_s/
Author: ITS Web Services
Author URI: http://webservices.unc.edu
Description: This is a base theme to be used for sites.unc.edu. It is based off of the _s starter theme. 
Version: 1.1.2
License: GNU General Public License
License URI: license.txt
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Resetting and rebuilding styles have been helped along thanks to the fine work of
Eric Meyer http://meyerweb.com/eric/tools/css/reset/index.html
along with Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
and Blueprint http://www.blueprintcss.org/
*/


/* =Reset
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
html {
	font-size: 62.5%; /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
	overflow-y: scroll; /* Keeps page centred in all browsers regardless of content height */
	-webkit-text-size-adjust: 100%; /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
	-ms-text-size-adjust: 100%; /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}
body {
	text-align: center;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
	display: block;
}
ol, ul {
	list-style: none;
}
table { /* tables still need 'cellspacing="0"' in the markup */
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	font-weight: normal;
	text-align: left;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
a:focus {
	outline: thin dotted;
}
a:hover,
a:active { /* Improves readability when focused and also mouse hovered in all browsers people.opera.com/patrickl/experiments/keyboard/test */
	outline: 0;
}
a img {
	border: 0;
}


/* =Global
----------------------------------------------- */

body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: sans-serif;
	font-size: 16px;
	font-size: 1.6em;
	line-height: 1.5;
}
.clear {
	clear:both;
}

/* Headings */
h1,h2,h3,h4,h5,h6 {
	clear: both;
}
h1 {
	font-size: 197%;
	font-weight: normal;
	font-family: Georgia, "Times New Roman", Times, serif;
	margin: 0 0 12px 0;
	line-height: 1.2em;
	color: #2376A1;
}
h2 {
	margin: 14px 0 8px 0;
	font-size: 85%;
	padding: 5px 8px;
	line-height: 1.4em;
	font-weight: bold;
	color: white;
	text-transform: uppercase;
	background: #56A0D3 url(images/h2_bg_repeat.gif) repeat-x left bottom;
	border-top: #9BBDDE solid 1px;
	position: relative;
}
h3 {
	font-weight:bold;
	font-size:115%;
	color: #56A0D3;
	margin:1em 0 .5em;
}
h4 {
	font-weight:bold;
	font-size:100%;
	margin:1em 0 .5em;
}
h5 {
	font-weight:bold;
	font-size:100%;
	color:#777;
	margin:1em 0 4px;
}
hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}
h2 a, h2 a:visited {
	color:#fff;
	text-decoration:underline;
}
h2 a:hover {
	color:#efefef;
}

/* Text elements */
p {
	margin-bottom: 1.5em;
	line-height:1.5em;
}
ul, ol {
	margin: 0 0 1.5em 3em;
}
.site-content ul {
	list-style: square;
	padding: 0px 20px;
	margin: 1em 5px;
}
ol {
	list-style: decimal;
}
.site-content ul li {
	background: url(images/img_unc_bullet1.png) no-repeat 0 .5em;
	margin: 8px 5px 0 5px;
	list-style-type: none;
	padding-left: 12px;
}
.site-content form ul {
	margin:0;
	padding:0;
}
.site-content form ul li {
	background:none;
	margin:0;
	padding-left:0;
}
ul ul, ol ol, ul ol, ol ul {
	margin-bottom: 0;
	margin-left: 1.5em;
}
dt {
	font-weight: bold;
}
dd {
	margin: 0 1.5em 1.5em;
}
b, strong {
	font-weight: bold;
}
dfn, cite, em, i {
	font-style: italic;
}
blockquote {
	margin: 0 1.5em;
}
address {
	margin: 0 0 1.5em;
}
pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 1.5em;
	line-height: 1.6;
	margin-bottom: 1.6em;
	padding: 1.6em;
	overflow: auto;
	max-width: 100%;
}
code, kbd, tt, var {
	font: 12px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
mark, ins {
	background: #fff9c0;
	text-decoration: none;
}
sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
small {
	font-size: 75%;
}
big {
	font-size: 125%;
}
figure {
	margin: 0;
}
table {
	margin: 0 0 1.5em;
	width: 100%;
	border-collapse: collapse;
}
th {
	font-weight: bold;
	background-color:#efefef;
	vertical-align:middle;
}
th, td {
	padding:4px;
}
table.border th, table.border td {
	border:1px solid #ccc;
}
table tr td p {
	margin-bottom:5px;
}
td {
	vertical-align:top;
}
button,
input,
select,
textarea {
	font-size: 100%; /* Corrects font size not being inherited in all browsers */
	margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
	vertical-align: baseline; /* Improves appearance and consistency in all browsers */
	*vertical-align: middle; /* Improves appearance and consistency in all browsers */
}
button,
input {
	line-height: normal; /* Addresses FF3/4 setting line-height using !important in the UA stylesheet */
	*overflow: visible;  /* Corrects inner spacing displayed oddly in IE6/7 */
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid #ccc;
	border-color: #ccc #ccc #bbb #ccc;
	border-radius: 3px;
	background: #fafafa; /* Old browsers */
	background: -moz-linear-gradient(top,  #fafafa 60%, #e6e6e6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(60%,#fafafa), color-stop(100%,#e6e6e6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fafafa 60%,#e6e6e6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fafafa 60%,#e6e6e6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fafafa 60%,#e6e6e6 100%); /* IE10+ */
	background: linear-gradient(top,  #fafafa 60%,#e6e6e6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#e6e6e6',GradientType=0 ); /* IE6-9 */
	box-shadow: inset 0 2px 1px #fff;
	color: rgba(0,0,0,.8);
	cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
	-webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */
	font-size: 12px;
	font-size: 1em;
	padding: .5em 1em;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
}
button:hover,
html input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	background: #f5f5f5; /* Old browsers */
	background: -moz-linear-gradient(top,  #f5f5f5 60%, #dcdcdc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(60%,#f5f5f5), color-stop(100%,#dcdcdc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f5f5f5 60%,#dcdcdc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f5f5f5 60%,#dcdcdc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f5f5f5 60%,#dcdcdc 100%); /* IE10+ */
	background: linear-gradient(top,  #f5f5f5 60%,#dcdcdc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#dcdcdc',GradientType=0 ); /* IE6-9 */
	border-color: #bbb #bbb #aaa #bbb;
}
button:focus,
html input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
html input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	border-color: #aaa #bbb #bbb #bbb;
	box-shadow: inset 0 2px 3px rgba(0,0,0,.15);
	box-shadow: inset 0 2px 2px rgba(0,0,0,.15);
}
input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box; /* Addresses box sizing set to content-box in IE8/9 */
	padding: 0; /* Addresses excess padding in IE8/9 */
}
input[type="search"] {
	-webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box; /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
	box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
	-webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
	border: 0;
	padding: 0;
}
input[type=text],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
}
input[type=text]:focus,
textarea:focus {
	color: #111;
}
input[type=text] {
	padding: 3px;
}
textarea {
	overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
	padding-left: 3px;
	vertical-align: top; /* Improves readability and alignment in all browsers */
	width: 98%;
}

/* Links */
a, a:visited {
	color: #2376A1;
	text-decoration:none;
}
a:hover,
a:focus,
a:active {
	color: #2376A1;
}
a:hover {
	text-decoration:underline;
}

/* Alignment */
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}

/* Text meant only for screen readers */
.assistive-text {
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}


/* =Menu
----------------------------------------------- */

.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
	background:url(images/primary_nav_bg_repeat_off.gif) repeat top;
	margin: 10px auto;
	width: 920px;
	text-shadow:#385D80 0 0.05em 0.05em;
	font-size:.85em;
}
.main-navigation div.menu-top-menu {
	font-size: 11px;
	margin-left: 0px;
	width: 912px;
}
.main-navigation ul {
	list-style-type: none;
	margin: 0;
	padding-left: 0;
}
.main-navigation li {
	list-style-type:none;
	background:none;
	float: left;
	position: relative;
	padding:0;
	margin:0;
	border-right: 1px solid #3a739b;
	border-left: 1px solid #84b7dc;
}
.main-navigation a {
	display: block;
	text-decoration: none;
	color: #fff;
	line-height: 30px;
	padding: 0 10px;
	text-shadow:1px 1px 1px #2E6B96;
	font-weight:bold;
}
.main-navigation div.menu-top-menu > li:first-child a, .site-navigation div.menu-top-menu > li:last-child {
	border:none;
}
.main-navigation ul ul {
	-moz-box-shadow: 0 3px 3px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.2);
	box-shadow: 0 3px 3px rgba(0,0,0,0.2);
	display: none;
	float: left;
	position: absolute;
		top: 30px;
		left: -1px;
	z-index: 99999;
	width: 180px;
	border-top:1px solid #175B7C;
}

.main-navigation ul ul ul {
	left: 180px;
	top: -1px;
}
.main-navigation ul ul a {
	background: #2376A1;
	line-height: 12px;
	padding: 6px 10px;
	width: 160px;
	height: auto;
	line-height:15px;
}
.main-navigation ul ul li {
	border:none;
	min-width: 180px;
}
.main-navigation li:hover > a {
	background: #2376A1 url(images/primary_nav_bg_repeat_on.gif) repeat-x top;
	color: #fff;
}
.main-navigation ul ul :hover > a {
	background:#2376A1;
	text-decoration:underline;
	color: #fff;
}
.main-navigation ul ul a:hover {
}
.main-navigation ul li:hover > ul {
	display: block;
}
.main-navigation ul li.current_page_item > a,
.main-navigation ul li.current-menu-ancestor > a,
.main-navigation ul li.current-menu-item > a,
.main-navigation ul li.current-menu-parent > a {
	color: #fff;
}
* html .main-navigation ul li.current_page_item a,
* html .main-navigation ul li.current-menu-ancestor a,
* html .main-navigation ul li.current-menu-item a,
* html .main-navigation ul li.current-menu-parent a,
* html .main-navigation ul li a:hover {
	color: #fff;
}

/* Small menu 
.menu-toggle {
	cursor: pointer;
}
.main-small-navigation .menu {
	display: none;
}
*/

/* =Content
----------------------------------------------- */

.sticky {
}
.hentry {
	margin: 0 0 1.5em;
}
.entry-meta {
	clear: both;
}
.byline {
	display: none;
}
.single .byline,
.group-blog .byline {
	display: inline;
}
.entry-content,
.entry-summary {
	margin: 0;
	clear:both;
	position:relative;
}
.page-links {
	clear: both;
	margin: 0 0 1.5em;
}


/* =Asides
----------------------------------------------- */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}


/* =Media
----------------------------------------------- */

.site-header img,
.entry-content img,
.comment-content img,
.widget img {
	max-width: 100%; /* Fluid images for posts, comments, and widgets */
}
.site-header img,
.entry-content img,
img[class*="align"],
img[class*="wp-image-"] {
	height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}
.site-header img,
.entry-content img,
img.size-full {
	max-width: 100%;
/*	width: auto;  Prevent stretching of full-size images with height and width attributes in IE8 */
}
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}
.wp-caption {
	max-width: 100%;
}
.wp-caption.aligncenter,
.wp-caption.alignleft,
.wp-caption.alignright {
	margin-bottom: 1.5em;
}
.wp-caption img {
	display: block;
	margin: 1.2% auto 0;
	max-width: 98%;
}
.wp-caption-text {
	text-align: left;
	font-size: 80%;
	padding: 0 5px;
}
.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}
#content .gallery {
	margin-bottom: 1.5em;
}
.gallery-caption {
}
#content .gallery a img {
	border: none;
	height: auto;
	max-width: 90%;
}
#content .gallery dd {
	margin: 0;
}
#content .gallery-columns-4 .gallery-item {
}
#content .gallery-columns-4 .gallery-item img {
}

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
	max-width: 100%;
}


/* =Navigation
----------------------------------------------- */

#content .nav-previous {
	float: left;
	width: 50%;
}
#content .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}


/* =Comments
----------------------------------------------- */

.bypostauthor {
}

/* =Widgets
----------------------------------------------- */

.widget {
	margin: 0 0 1em;
}

/* Search widget */
#searchsubmit {
	display: none;
}


/* =Layout
----------------------------------------------- */

#page {
	width:920px;
	min-width:920px;
	height:auto;
	margin:0 auto;
	text-align:left;
	padding:0 20px;
}

#main {
	margin-top:10px;
	margin-bottom:30px;
}
#primary.right-content {
	margin: 0 auto;
	float: right;
	width: 700px;
}
#primary.left-content {
	margin: 0 auto;
	float:left;
	width:700px;
}
#primary.left-content #content article {
	padding:0;
}

#content .post {
	border-bottom:1px solid #ccc;
	padding-bottom:10px;
	margin-bottom:10px;
}

#primary.center-content {
	margin:0 0 0 20px;
	float:left;
	width:480px;
}
#primary.full-width-content {
	margin:0 auto;
	width:920px;
}
.secondary.left-sidebar {
	float: left;
	width: 200px;
	padding: 0;
}
.secondary.right-sidebar {
	float:right;
	width:200px;
	padding:0;
}
footer#colophon {
	clear:both;
	width:100%;
}

/* Breadcrumbs
----------------------*/
#breadcrumbsBox {
	margin:0;
	border-bottom:1px solid #cbcbcb;
	border-top: 1px solid #D9D9D9;
	padding: 10px 0 10px;
	float: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	width: 920px;
}
#breadcrumbs {
	float:left;
	width:650px;
	line-height:1.82em;
}
#breadcrumbs strong {
	font-weight:normal;
	color:#333;
	margin-left:5px;
}
#breadcrumbs a:first-child {
	margin-left:0;
}
#breadcrumb-bottom{
	border-top: 1px solid #fff;
	margin-bottom: 10px;
}
#breadcrumbsBox .search {
	float:right;
	width:250px;
	margin-top:-3px;
	text-align:right;
}
#breadcrumbsBox .search input#search {
	text-align:left;
}
#breadcrumbsBox .search .searchButton {
	padding:3px 8px;
	text-align:center;
}

/** Print Styles **/
@media only print {
	header#masthead, footer#colophon, .right-sidebar, .left-sidebar, #utility_bar, .attachment-post-thumbnail, .entry-header .tools-main, #comments {
		display:none;
	}
	#primary.left-content, #primary.right-content, #primary.center-content {
		width:100%;
	}
}
/********************************/
/******** CUSTOM STYLES *********/
/********************************/
html {
	background: #fff url(images/template_bg_full_wide.jpg) top center fixed no-repeat;
	background-size:2000px 1200px;
}
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:small;
}
#masthead #logo {
	float:left;
	width:265px;
}
#masthead #logo > a {
	display:block;
	width:265px;
	height:73px;
	background:url(images/logo_unc_main.png) top center no-repeat;
	margin-top:10px;
}
#masthead > hgroup {
	float:right;
	width:650px;
	text-align:right;
}
header.site-header h1 {
	background: none;
	letter-spacing: 0.04em;
	font-family: Georgia, "Times New Roman", Times, serif;
	padding: 26px 0 0 0;
	margin: 0;
	color: #333;
	font-weight: normal;
	font-size: 220%;
	text-transform: none;
	text-shadow: none;
	border: none;
	line-height:1em;
}
header.site-header h1.site-title a {
	text-decoration:none;
	color: #333;
}
header.site-header h1.site-title a:hover {
	color:#000;
}
header.site-header h2.site-description {
	font-size:12px;
	font-family: Georgia, "Times New Roman", Times, serif;
	background:none;
	text-transform:none;
	color:#222;
	font-weight:normal;
	border:none;
	margin:0;
	padding:3px 0 0;
}
header.site-header > hgroup {
	padding-bottom:10px;
}
#page {
	background-color:#fff;
}
#primary {
	line-height:1.5em;
	word-wrap:break-word;
	overflow:hidden;
}
#primary #content img.wp-post-image {
	/* width:100%; */
	/* height:auto; */
	margin-bottom:5px;
}
h1.entry-title {
	float:left;
}
#primary.right-content h1.entry-title, #primary.left-content h1.entry-title {
	width:545px;
}
table.alternate tr:nth-child(odd) {
	background-color:#F6F6F6;
}
table.noborder th, table.noborder td {
	border:none;
}

.entry-content .pullout {
	float: right;
	margin: 0 2px 15px 15px;
	width: 200px;
	background: #edf5fa;
	padding: 5px 20px;
	font-size: 85%;
	line-height: 1.5;
	color: #555;
	box-shadow: 0 0 1px rgba(100,100,100,.4);
}
.entry-content .pullout.left {
	float: left;
	margin: 0 15px 15px 2px;
}
.pullout ul {
	padding-left: 0;
}

/* sidebar widgets */
.secondary {
	font-size:.9em;
}
.secondary h2.widget-title {
	background: #549cce url(images/h2_bg_repeat.gif) repeat-x scroll left bottom;
	border-top: 1px solid #9BBDDE;
	color: white;
	font-size: .9em;
	font-weight: bold;
	line-height: 1.4em;
	margin: 0;
	padding: 5px 8px;
	position: relative;
	text-shadow: 0 0.05em 0.05em #4F7EAC;
	text-transform: uppercase;
}
.secondary aside.widget ul {
	margin: 0 0 8px 0;
	list-style-type:none;
}
.secondary aside.widget ul li {
	border-bottom: 1px solid #CBCBCB;
	border-top: 1px solid white;
}
.secondary aside.widget ul li a {
	display: block;
	padding: 10px 8px;
	color: #2376A1;
	text-decoration:none;
}
.secondary aside.widget ul li.active-page > a {
	font-weight:bold;
}
.secondary aside.widget ul li a:hover {
	background-color: #56A0D3;
	color: white;
}
#footer-widget-area {
	background:url(images/footer-widget-bg.jpg) repeat-x scroll center bottom #F8F8F8;
	font-size:.85em;
	border-top:1px solid #E0E0E0;
	line-height:1.3em;
	padding:0 0 2px;
}
#footer-widget-area .ftr-widget {
	padding: 10px;
	min-height:77px;
	margin:0;
	float:left;
}
#footer-widget-area h5 {
	border: none;
	color: #666;
	display: block;
	font-size: 1em;
	letter-spacing: 0.03em;
	margin: 2px 0 3px;
	text-transform: uppercase;
	font-weight:bold;
}
#ftr-left {
	width:200px;
}
#ftr-left-center, #ftr-center, #ftr-right-center, #ftr-right {
	width:150px;
}
#footer-widget-area ul {
	list-style-type:none;
	line-height:1.5em;
	margin:0;
	padding:0;
}
#footer-widget-area ul li {
	margin-bottom:2px;
}
/* Social Tools Widget */
.socialtools {
    margin: 0px;
    padding: 3px 4px 4px 8px;
    border: 1px solid black;
    background: #fff;
	border: 1px solid #c9c9c9;
	width: 160px;
   
}
.socialtools p {
    margin: 6px 0;  
}
a span {
	border: none;
}
.artFacebook  {
	width: 16px;
	height: 16px;
	display: inline-block;
	background: url(images/ccm1_017590.png) no-repeat 0 50%;	
}
a:hover .artFacebook  {
	background: url(images/ccm1_017589.png) no-repeat 0 50%;
}
.artDelicious  {
	width: 16px;
	height: 16px;
	display: inline-block;
	background: url(images/ccm1_017584.png) no-repeat 0 50%;	
}
a:hover .artDelicious  {
	background: url(images/ccm1_017583.png) no-repeat 0 50%;
}
.artDigg {
	width: 16px;
	height: 16px;
	display: inline-block;
	background: url(images/ccm1_017586.png) no-repeat 0 50%;	
}
a:hover .artDigg  {
	background: url(images/ccm1_017585.png) no-repeat 0 50%;
}
.artTwitter  {
	width: 16px;
	height: 16px;
	display: inline-block;
	background: url(images/ccm1_017596.png) no-repeat 0 50%;	
}
a:hover .artTwitter  {
	background: url(images/ccm1_017595.png) no-repeat 0 50%;
}
.artEmail  {
	width: 16px;
	height: 16px;
	display: inline-block;
	background: url(images/ccm1_017588.png) no-repeat 0 50%;	
}
a:hover .artEmail  {
	background: url(images/ccm1_017587.png) no-repeat 0 50%;
}
.artFeed  {
	width: 16px;
	height: 16px;
	display: inline-block;
	background: url(images/ccm1_017592.png) no-repeat 0 50%;	
}
a:hover .artFeed  {
	background: url(images/ccm1_017591.png) no-repeat 0 50%;
}
.FBConnectButton_Simple, .FBConnectButton_RTL_Simple {
	background: url(images/ccm1_017590.png) no-repeat 0 0% !important;
	margin: 0 !important;
	padding: 2px 3px 3px 0px !important;
	position: relative;
	top: -5px;
}
a:hover .FBConnectButton_Simple, a:hover .FBConnectButton_RTL_Simple {
	background: url(images/ccm1_017589.png) no-repeat 0 0% !important;

}

.FBConnectButton_Text_Simple {
	margin: 0;
	padding: 0;
}
/* ------- End Social Tools ----------- */

#footer-nav {
	text-align:center;
	font-size:.8em;
	border-top:1px solid #cbcbcb;
}
#footer-nav ul {
	list-style-type:none;
	margin:10px 0;
}
#footer-nav ul li {
	display:inline;
	border-left:1px solid #4993C9;
	background:none;
	margin:0;
	padding:0;
}
#footer-nav ul li:first-child {
	border-left:none;
}
#footer-nav ul li a {
	padding: 0 1.15em;
}
#social-list-container {
	margin: 15px auto 5px !important;
	width: 644px !important;
}
#login-container {
	background: #efefef;
    border: 1px solid #999;
    float: right;
    padding: 2px 10px 4px 10px;
	margin: 10px 0;
}


#login-container a {
	color: #666;
	font-size: 85%;
}

footer p.copyright {
	clear:both;
	font-size: 77%;
	margin-bottom:40px;
}
.gallery-item img {
	background-color:#efefef;
	border:1px solid #ccc !important;
	padding:10px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}
/* Resize Rules */
.tools, .tools-main {
	color:#828282;
	float:right;
	font-size:8pt;
	letter-spacing:normal;
	line-height:normal;
	padding:0;
	width:125px;
	margin-top:10px;
}
.tools-main div {
	width: 16px;
	height: 16px;
	margin-right: 4px;
}
.tools-main div a span, .tools-main div span {
	display:none;
}
#tools_label {
	width:30px;
	position:relative;
	float:left;
	margin:0 8px 0 0;
}
#minustext, #plustext {
	cursor:pointer;
	position:relative;
	float:left;
	padding:0 4px 0 0;
}
#plustext {
	background: url(images/icons_sprite.png) no-repeat -20px -2px; 
}
#minustext {
	background: url(images/icons_sprite.png) no-repeat -1px -2px; 
}
#print {
	border-left:1px solid #CCCCCC;
	float:left;
	margin: -2px 0 0 4px;
	padding:0 0px 4px 8px;
	width: 24px;
	height: 14px;
}
#print a {
	width: 16px;
	height: 16px;
	display: block;
	background: url(images/icons_sprite.png) no-repeat -2px -93px;
}
#accordion h3 {
	cursor:pointer;
}

/**************************/
/** Google Custom Search **/
/**************************/

div#cse * {
	margin: 0; padding: 0; border: 0;
}
* table.gsc-resultsHeader {
	display: none;
}
* div.gsc-resultsRoot {
	background: #fff;
	width: 890px;
	font-family: Verdana, sans-serif;
}
* div.gsc-wrapper {
	width: 890px;
}
* div.gsc-webResult, * div.gsc-webResult.gsc-result, * div.gs-webResult, * div.gs-webResult.gs-result {
	margin: 0; padding: 0; border: 0; background: #fff;
}
* table.gsc-table-result {
	margin: 0; padding: 0;
	border-top: 0;
	border-bottom: 1px dotted #999;
}
* table.gsc-table-result td {
	margin: 0; padding: 0;
	border-top: 0;
	background: #fff;
}
div#cse table td, div#cse td {
	padding: 0; background: #fff;
}
div#cse table.gsc-table-result {
	margin-bottom: 16px;
	border-top: 0;
	border-bottom: 1px dotted #999;
}
div#cse table.gsc-table-result td {
	padding-bottom: 8px;
}
div#cse div.gsc-cursor-box div.gsc-cursor-page {
	padding: 8px;
}
* .gsc-control-cse {
    font-family: Verdana, sans-serif;
    border-color: #FFFFFF;
    background-color: #FFFFFF;
  }
* .gsc-tabHeader.gsc-tabhInactive {
    border-color: #E9E9E9;
    background-color: #E9E9E9;
  }
* .gsc-tabHeader.gsc-tabhActive {
    border-top-color: #FF9900;
    border-left-color: #E9E9E9;
    border-right-color: #E9E9E9;
    background-color: #FFFFFF;
  }
* .gsc-tabsArea {
    border-color: #E9E9E9;
  }
* .gsc-webResult.gsc-result {
  font-family: Verdana, sans-serif;
    border-color: #FFFFFF;
    background-color: #FFFFFF;
  }
* .gsc-webResult.gsc-result:hover {
    border-color: #FFFFFF;
    background-color: #FFFFFF;
  }
* .gs-webResult.gs-result a.gs-title:link,
* .gs-webResult.gs-result a.gs-title:link b {
    color: #0000CC;
  }
* .gs-webResult.gs-result a.gs-title:visited,
* .gs-webResult.gs-result a.gs-title:visited b {
    color: #0000CC;
  }
* .gs-webResult.gs-result a.gs-title:hover,
* .gs-webResult.gs-result a.gs-title:hover b {
    color: #0000CC;
  }
* .gs-webResult.gs-result a.gs-title:active,
* .gs-webResult.gs-result a.gs-title:active b {
    color: #0000CC;
  }
* .gsc-cursor-page {
    color: #0000CC;
  }
* a.gsc-trailing-more-results:link {
    color: #0000CC;
  }
* .gs-webResult .gs-snippet {
    color: #000000;
  }
* .gs-webResult div.gs-visibleUrl {
    color: #008000;
  }
* .gs-webResult div.gs-visibleUrl-short {
    color: #008000;
  }
* .gs-webResult div.gs-visibleUrl-short {
    display: none;
  }
* .gs-webResult div.gs-visibleUrl-long {
    display: block;
  }
* .gsc-cursor-box {
    border-color: #FFFFFF;
  }
* .gsc-results .gsc-cursor-box .gsc-cursor-page {
    border-color: #E9E9E9;
    background-color: #FFFFFF;
    color: #0000CC;
  }
* .gsc-results .gsc-cursor-box .gsc-cursor-current-page {
    border-color: #FF9900;
    background-color: #FFFFFF;
    color: #0000CC;
  }
* .gs-promotion {
    border-color: #336699;
    background-color: #FFFFFF;
  }
* .gs-promotion a.gs-title:link,
* .gs-promotion a.gs-title:link *,
* .gs-promotion .gs-snippet a:link {
    color: #0000CC;
  }
* .gs-promotion a.gs-title:visited,
* .gs-promotion a.gs-title:visited *,
* .gs-promotion .gs-snippet a:visited {
    color: #0000CC;
  }
* .gs-promotion a.gs-title:hover,
* .gs-promotion a.gs-title:hover *,
* .gs-promotion .gs-snippet a:hover {
    color: #0000CC;
  }
* .gs-promotion a.gs-title:active,
* .gs-promotion a.gs-title:active *,
* .gs-promotion .gs-snippet a:active {
    color: #0000CC;
  }
* .gs-promotion .gs-snippet,
* .gs-promotion .gs-title .gs-promotion-title-right,
* .gs-promotion .gs-title .gs-promotion-title-right *  {
    color: #000000;
  }
* .gs-promotion .gs-visibleUrl,
* .gs-promotion .gs-visibleUrl-short {
   color: #008000;
  }
* div#cse div.gs-title, div#cse div.gs-bidi-start-align {
 	font-family: verdana, arial, sans-serif;
 }
* div#cse div.gs-title a.gs-title {
 	text-decoration: none;
 	border-bottom: none;
 }
* div#cse div.gs-title a.gs-title b {
  	color: #4db24c;
 }
* div#cse div.gsc-cursor-page {
  	color: #336699;
 }

 /* Sidebar Menus */
.secondary aside.widget h2 {
	margin:0;
}
.secondary ul.menu {
	margin: 0 0 8px 0;
	list-style-type:none;
}
.secondary ul.menu li {
	border-bottom: 1px solid #CBCBCB;
	border-top: 1px solid white;
}
.secondary ul.menu li a {
	display: block;
	padding: 10px 8px;
	color: #2376A1;
	text-decoration:none;
}
.secondary ul.menu li.active-page > a {
	font-weight:bold;
}
.secondary ul.menu > li > a:hover {
	background-color: #56A0D3;
	color: white;
}
.secondary ul.menu li ul {
	margin:2px 0 6px 15px;
}
.secondary ul.menu li ul li {
	border:none;
}
.secondary ul.menu li ul li a {
	background: transparent url(images/img_unc_menu_bg-arrow.gif) no-repeat 0 .4em;
	padding: 0 0 2px 8px;
	display: block;
	border:none;
}
.secondary ul.menu li ul li a:hover {
	color: #2376A1;
	text-decoration:underline;
}

/* Table Formatting */

table {
	width: 100%;
	border-collapse: collapse;
	margin: 18px 0 10px 0;
	padding-bottom: 18px;
	background-color: #fff;
	}

caption {
	font-style:italic; 
	margin: 0 8px;
	font-size: 116%;
	}

table th {
	font-weight: bold;
	text-align: center;
	padding:5px;
	}

table th,td {
	border-top: 1px solid #bbb;
	padding: .5em 1em .5em .5em;
	}

table.alt tr:nth-child(2n+1) td {
	background-color: #eee;
}

/* Events Calendar Styles */

.tribe_mini_calendar_widget h2,
.tribe_mini_calendar_widget h2 a {
	background: none;
	color: #2376A1;
	text-transform: none;
	font-weight: normal;
	border: none;
	padding: 0;
	text-decoration: none;
}
.tribe_mini_calendar_widget h2 a:hover {
	text-decoration: underline;
}

h2.tribe-events-list-event-title {
	background: none;
	color: #56A0D3;
	text-transform: none;
	border: none;
}
#tribe-events-content h2 a {
	color: #56A0D3;
}
#tribe-events-content h2 a:hover {
	text-decoration: underline;
}
.tribe-grid-allday .hentry.vevent>div, 
.tribe-grid-body div[id*="tribe-events-event-"] .hentry.vevent, 
.tribe-grid-allday .hentry.vevent>div:hover, 
.tribe-grid-body div[id*="tribe-events-event-"] .hentry.vevent:hover {
	background-color: #56a0d3;
	background-color: rgba(86, 160, 211, .75);
}
.tribe-grid-allday .hentry.vevent>div:hover, 
.tribe-grid-body div[id*="tribe-events-event-"] .hentry.vevent:hover {
	background-color: rgba(86, 160, 211, .9);
}
#tribe-events-footer .tribe-events-sub-nav li {
	background: none;
}
