/*
Theme Name:     University of North Carolina at Chapel Hill Theme
Description:    Official theme for unc.edu. Child theme of the UNC Base Theme. 
Author:         ITS Web Services
Author URI:     http://webservices.unc.edu
Template:       unc-sites-base-theme
Version:        1.2.1
*/

@import url("../unc-sites-base-theme/style.css");

/* General Page Styling */
html {
	background:none;
}

#page {
	margin:15px auto 20px;
	background: url(images/unc_doc_bg_repeat.png) repeat left top;
	border: 2px solid #56A0D3;
}
.main-navigation a {
	padding:0 24px 0 25px;
}
.main-navigation li:last-child, .main-navigation li:last-child a {
	border-right:none;
}
.main-navigation li:last-child a {
	padding:0 20px;
}

.entry-header img {
	float:left;
	margin: 0 15px 0 0;
	border: 1px solid #56A0D3;
}

/* Miscellaneous styling */
#breadcrumbsBox {
	padding:7px 0;
}
#breadcrumbTools a.stico_default {
	background: url(images/shareback.jpg) no-repeat 0 0 !important;
	width: 35px;
	height: 18px;
	display:block;
	float:left;
}
#breadcrumbTools a.stico_default span.stbuttontext {
	display:none;
}
#primary.right-content h1.entry-title, #primary.left-content h1.entry-title, h1.entry-title {
	float:none;
	width:auto;
	clear:none;
}
a, a.link {
	cursor:pointer;
}

.entry-content, .entry-summary {
	clear:none;
}
.secondary h2, #home-btm h2 {
	margin:0;
}
.secondary h2 {
	font-size:.95em;
}
.secondary h2 a {
	text-decoration: none;
}
.read-more {
	text-transform: uppercase;
	font-size: .9em;
}

ul.remove-bullets li {
	background-image:none !important;
}

/* Background Image Controls */
#about-wrapper {
	width:960px;
	margin:-2px auto 0;
}
#about-bg-controls {
	opacity:1;
	background-color:#efefef;
	float:right;
	border:1px solid #aaa;
	padding:0 3px;
}
#about-bg-controls a {
	color:#555;
	padding: 0 .3em;
	text-align: center;
	font-size: 85%;
	height: 3.2em;
	line-height: 2.4em;
	letter-spacing: .03em;
	cursor:pointer;
}
body.bgon #about-bg-controls a {
	color: #CCC;
}
body.bgon #about-bg-controls {
	background-color:#555;
	border-color:#333;
	opacity:.9;
}
#about-bg-info {
	display:none;
	position:absolute;
	top:0;
	left:0;
	width:33%;
	padding:20px 40px;
	background:transparent url(images/unc_doc_bg_repeat.png) repeat left top;
	border-right:2px solid #56A0D3;
	border-bottom:2px solid #56A0D3;
	text-align:left;
	font-size:85%;
	line-height:2em;
	z-index:5;
}
#about-bg-minify {
	display:none;
	position:absolute;
	top:0;
	left:0;
	z-index:10;
	background-color:#ccc;
	width:26px;
	line-height:26px;
	cursor:pointer;
	text-align:center;
}
body.aboutbg #page, body.bgon #about-bg-hide, #bg-off-toggle, #bg-toggle-divider, #about-bg-show, #about-bg-hide {
	display:none;
}
body.bgon #bg-off-toggle, body.bgon.aboutbg #about-bg-minify, body.bgon.aboutbg #about-bg-info, body.bgon.aboutbg #about-bg-hide body.bgon #bg-off-toggle, body.bgon #bg-toggle-divider, body.bgon #about-bg-show, body.bgon.aboutbg #about-bg-hide {
	display:inline;
}
body.bgon #bg-on-toggle, body.bgon.aboutbg #about-bg-show, body.bgon.aboutbg #about-bg, body.bgon.aboutbg #bg-toggle-divider, body.bgon.aboutbg #bg-off-toggle, body.bgon.aboutbg #about-bg-info.minimize {
	display:none;
}

/* Layout */
body {
	background-color: #DEDEDE;
	background-attachment: fixed;
	background-image: url(images/background-off.jpg); 
	background-position: top center; 
	background-repeat: no-repeat; 
	margin:	0;
	padding: 0;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	position:relative;
}
.right-content {
	margin: 0 auto;
	float: right;
	width: 700px;
}

#primary.center-content,
.center-content {
	margin: 0 auto;
	padding: 0;
	float: left;
	width: 520px;
}

.secondary.right-sidebar {
	float: right;
	width: 160px;
	margin: 0;
}

.widget img {
	/* margin-top: 10px; */
}

/* Homepage Styles */
#home-top {
	border-bottom: 1px solid #ccc;
	margin-bottom:10px;
	padding-bottom:10px;
}
#menu-home-info li a {
	padding: 7px 8px;
}
#news-menu li a {
	color:#333;
}
#news-menu li a:hover {
	background:none;
	color:#2376A1;
	text-decoration:underline;
}
#news-menu .description {
	float: right;
	font-size: 90%;
	color: #999;
	font-style: italic;
	margin-top: -5px;
}
#events .event {
	border-top:1px solid #fff;
	border-bottom:1px solid #ccc;
	padding:10px 0;
}
#events .event .date {
	background:url(images/icon_calendar.png) no-repeat top center;
	float:left;
	width:46px;
	height:49px;
	text-align:center;
	position:relative;
}
#events .event .date a {
	display:block;
	width:46px;
	height:49px;
	margin:10px 0;
}
#events .event .date a span {
	position: absolute;
	font-variant: small-caps;
	font-family: Arial, Helvetica, sans-serif;
	left: 0;
	width: 100%;
	display: block;
}
#events .event .date a span.month {
	top: -1px;
	color: white;
}
#events .event .date a span.day {
	top: 20px;
	font-size: 167%;
	color: #8E8E8E;
}
#events .event .details {
	float:right;
	width:110px;
}
#events .event .details a {
	color:#333;
}
#events .event .details a:hover {
	color:#2376A1;
}
#events .event .details a span.status {
	font-weight:bold;
	color:#2376A1;
}
#events div.more {
	border-top:1px solid #fff;
	border-bottom:1px solid #ccc;
	padding:5px 8px;
}
#photo-stream p {
	clear:both;
}
.instagram {
	margin: 10px 5px;
	float: left;
}
#campus-updates {
	border-bottom:1px solid #fff;
	margin-bottom:10px;
}
#campus-updates .more {
	text-align: right;
	padding: 6px 0;
	border-bottom: 1px solid #CCC;
	border-top: 1px solid #fff;
	font-size:85%;
}

/* HEADER STYLING */
header.site-header > hgroup {
	padding-bottom: 20px;
}
#masthead #logo {
	padding-bottom: 13px;
}
#header-top {
	border-bottom: 1px solid #CBCBCB;
}

/* UTILITY NAVIGATION */
#search_nav {
	position: relative;
	top:14px;
	float:right;
	margin:0 10px 0 0;
	width:380px;
}
#search_nav ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
#search_nav ul li {
	display: inline;
	font-size: 85%; /* 10px */
	vertical-align: middle;
	margin: 0px;
	padding: 0px;
}
#search_nav ul li span {
	color: #56a0d3;
	padding: 0 2px 0 4px;
}
#search_nav ul li.last {
	border: 0px;
}
#search_nav ul li a {
	color: #2376A1;
}
#search_nav ul li a:hover {}
#search_box {
	position:relative;
	top: 14px;
	float:right;
	width:17.6em;
	height:76px;
}
#search_box fieldset {
	border: 0px;
	margin: 0px;
	padding: 0px;
}
#search_box ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
#search_box ul li {
	font-size: 77%; /* 10px */
	vertical-align: middle;
	margin: 0px;
	padding: 0px 8px 0px 0px;
}
#search_box ul li.search_textfield {
	position:absolute;
	top:0px;
	left:0;
}


#search_box input {
    border-color: #C4C4C4 #AEAEAE #AEAEAE #C4C4C4;
    border-style: solid;
    border-width: 1px;
    color: #333333;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 110%;
    margin: 1px 0 3px;
    padding: 4px;}
	
#search_box input.search_text.utility {width: 152px;}


#search_box ul li.search_submit {
	position:absolute;
	top:0px;
	left:170px;
}
#search_box ul li.search_type {
	position:absolute;
	top:30px;
	padding:0;
}
#search_box ul li.search_type.edu {
	left:0;
}
#search_box ul li.search_type.people {
	left:8em;
}
#search_box ul li.search_type.places {
	left:15em;
}
#search_box input.search_submit {
	display: inline;
	float:left;
	vertical-align: middle;
	width:59px;
	height:25px;
	border:none;
	margin:0;
	padding:0;
	border: 0px;
}
#search_box label.utility_hidden_label {
	position: absolute;
	top: -10000px;
	height: 1px;
	width: 1px;
	overflow: hidden;
}
#search_box legend.utility_hidden_legend {
	height: 0px;
	padding: 0px;
	margin-left: -90000px;
	margin-top: -900000px;
	display: none;
}

input[type="checkbox"], input[type="radio"] {
	border: none !important;
}

/* GOOGLE CUSTOM SEARCH */

#searchBox {
    background-color: #EFEFEF;
    border: 1px solid #DDDDDD;
    margin: 35px 0 20px;
    padding: 24px 14px;
    width: 540px;
}


/* BREADCRUMB STYLING */
#breadcrumbTools {
	float:right;
	width:205px;
}
.sharethis_custom{
	background: url(images/shareback.jpeg) no-repeat scroll left 1px transparent;
	float: left;
	width: 63px;
	padding: 3px 6px 1px 0;
	height: 17px;
	border-right: 1px solid #CCCCCC;
	font-size: 8pt;
	line-height: normal;
}
.tools, .tools-main {
	margin-top:3px;
}

/* End Breadcrumb Styling */

.cta_tall_outer {
	background: url(images/ccm1_033135.gif) no-repeat left bottom;
	}
.cta_tall_inner {
	background: url(images/ccm1_033134.gif) no-repeat right bottom;
	}
.cta_tall_inner a {
	width: 12.31em;
	display: block;
	text-align: center;
	text-transform: uppercase;
	height: 3.75em;
	line-height: 3.75em;
	color: white;
	text-shadow: #385D80 0 0.05em 0.05em;
	width: 100%;
	font-size: 85%;
	}
a.rss_icon {
	position: absolute;
	right: 5px;
	top: 4px;
	}

/* Archive Preview Styling */
article.post-preview {
	padding: 10px 0;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #cbcbcb;
	min-height: 120px;
}
article.post-preview:first-child {
	border-top: 0px solid #fff;
}
	
article.post-preview:last-child {
	border-bottom: 0px solid #cbcbcb;
}
article.post-preview h3 {
	clear:none;
	margin-top: 0;
	color:#2376A1;
	font-size:108%;
}
article.post-preview .featured-image img {
	width: 100%;
	height: auto;
	margin-bottom: 5px;
	margin: 0 15px 0 0;
	display: block;
	float: left;
	width: 140px;
	height: 112px;
	border: 1px solid #56A0D3;
}
article.post-preview .read-more {
	font-size:85%;
}
article.post-preview .excerpt p {
	margin-bottom:5px;
	color:#333;
}


/* Spotlight Carousels */
.spotlight-carousel {
	width:440px;
	margin:0 0 0px 10px;
	float: right;
}
.spotlight-carousel.one-slide .slide-pager-wrapper {
	display:none;
}
.spotlight-carousel.home {
	width:700px;
	position:relative;
	margin: 0;
	overflow:hidden;
	float: none;
}
.spotlight-carousel .slider-wrapper > ul.slider {
    overflow: hidden; 
    padding: 0 0 10px 0;
    margin: 0;
    list-style-type: none;
}
.spotlight-carousel ul li {
	background:none;
	margin:0;
	padding:0;
}
.spotlight-carousel.home .slider-wrapper ul li {
	width:100%;
	z-index: 20 !important;
}
.spotlight-carousel .slide-graphic {
	min-height:300px;
}
.spotlight-carousel.home .slide-graphic {
	float:left;
	width:410px;
}
.spotlight-carousel .slide-graphic img {
	width: 410px;
	height: 298px;
	border: 1px solid #56A0D3;
}
.spotlight-carousel .slide-description {
	font-size: 80%;
	padding: 2px 0 4px 0;
	line-height: 1.22em;
	width: 410px;
}
.spotlight-carousel.home .slide-description {
	float:right;
	width:280px;
	margin-left:10px;
	font-size:100%;
	line-height: 1.5em;
	color: #333;
}
.spotlight-carousel.home .slide-description p {
line-height: 1.5em;
}
.spotlight-carousel.home .slide-description h1 {
	margin-top:0;
	line-height: 1.0em;
	font-size: 197%;
}
.spotlight-carousel.home .slide-description h1 a:hover {
	text-decoration: none;
}
.spotlight-carousel.home .carousel-next,
.spotlight-carousel.home .carousel-prev {
	display: block;
	background: rgba(0,0,0,.5) url(images/white_arrow_left.png) no-repeat -1px -1px;
	border-radius: 50%;
	position: absolute;
	width: 40px;
	height: 40px;
	top: 40%;
	cursor: pointer;
	z-index: 10000;
	opacity: 0;
	-webkit-transition: opacity .5s;
	-moz-transition: opacity .5s;
	transition: opacity .5s;
}
.spotlight-carousel.home .carousel-prev {
	left: 3px;
}
.spotlight-carousel.home .carousel-next {
	right: 3px;
	background-image: url(images/white_arrow_right.png);
	background-position: 2px center;
}
.spotlight-carousel.home:hover .carousel-next,
.spotlight-carousel.home:hover .carousel-prev {
	opacity: 1;
}
.spotlight-carousel.home .carousel-next:hover,
.spotlight-carousel.home .carousel-prev:hover {
	background-color: rgba(0,0,0,.8);
}
.spotlight-carousel .slide-pager {
	left:12px;
}
.spotlight-carousel .slide-pager-wrapper {
	position:relative;
}
.spotlight-carousel.home .slide-pager-wrapper {
	position:absolute;
	bottom:45px;
	right:0;
	width:270px;
	height:62px;
	overflow:hidden;
}
.spotlight-carousel .slide-pager ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    clear: both;
}
.spotlight-carousel .slide-pager ul li {
    margin-right: 10px;
    background:none;
    float:left;
}
.spotlight-carousel.home .slide-pager ul li {
	margin-right:5px;
}
.spotlight-carousel .slide-pager ul li a img {
    border:1px solid #555;
    opacity:.5;
	width:80px;
	height:60px;
	border:1px solid #56A0D3;
}
.spotlight-carousel .slide-pager ul li a img:hover, .spotlight-carousel .slide-pager ul li a.activeSlide img {
    opacity:1;
}
.spotlight-carousel .slide-pager ul li img { 
	display: block;
}
.spotlight-carousel .slide-pager-wrapper, .slide-pager-wrapper {
    margin: 0 auto 10px;
    z-index:100;
    padding:0 0 0 20px;
}	
.spotlight-carousel .slide-pager-prev, .slide-pager-next, .slide-pager-prev {
    display: block;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 25%;
    cursor:pointer;

}
.spotlight-carousel .slide-pager-prev, .slide-pager-prev {
	background:transparent url(images/carousel_arrow_left.png) no-repeat center center;
}
.spotlight-carousel .slide-pager-next, .slide-pager-next {
	background:transparent url(images/carousel_arrow_right.png) no-repeat center center;
}
.spotlight-carousel .slide-pager-prev, slide-pager-prev {
    left:-10px;
}
.spotlight-carousel.home .slide-pager-prev {
	left:-5px;
}
.spotlight-carousel .slide-pager-next, .slide-pager-next {
    right:-7px;
}
.spotlight-carousel .slide-direct, .slide-direct {
    display:none;
}
.spotlight-carousel .slide-pager-prev.disabled, .slide-pager-next.disabled .slide-pager-prev.disabled {
    visibility:hidden;
}
.spot_archive {
	position:absolute;
	bottom:20px;
	right:50px;
	z-index:20;
}
.spotlight_green_outer {
	background: url(images/btn_green_inner.gif) no-repeat right top;
	margin: 0;
	padding: 0 10px 0 0;
	float: left;
}
.spotlight_green_inner {
	background: url(images/btn_green_outer.gif) no-repeat left top;
	padding: 0 0 0 10px;
	font-size: 10pt;
}
.spotlight_green_inner a {
	color: white;
	text-shadow: black 0 0.05em 0.05em;
	text-decoration: none;
	display: block;
	padding: 0 0.5em;
	line-height: 204%;
}

/*Public Service Carousel */

#carousel.public-service {
	background: transparent url(images/slideshowback.png) top center no-repeat;
	height:300px;
}

#carousel.public-service .slider-wrapper {
	padding:10px;
}

#carousel.public-service .slider-wrapper ul.slider, #carousel.public-service .slider-wrapper ul.slider li {
	margin:0;
	padding:0;
}

#carousel.public-service .slider-wrapper ul.slider li .slide-text .slide-description h3 {
	font-size: 1.35em;
}

#carousel.public-service .slider-wrapper ul.slider li .slide-text .slide-description {
	padding:5px 10px;
}

#carousel.public-service .slider-wrapper ul.slider li .slide-text .slide-description p {
	line-height: 1.5em;
	margin: 4px 0 10px 0;
	color: #333 !important;
	font-weight: normal;
	font-size: 1em;
}

#carousel.public-service .slider-wrapper ul.slider li .slide-text {
	width: 40%;
}

#carousel.public-service .slider-wrapper > ul.slider li .slide-graphic {
	width: 370px;
	padding:10px;
}
#carousel.public-service .slider-wrapper ul.slider li .slide-graphic img {
	border:1px solid #56A0D3;
	background:none;
	padding:0;
}

#carousel.public-service .slide-pager-wrapper {
	width: 310px;
	bottom:17px;
}

#carousel.public-service .slide-pager {
	width: auto;
}

#carousel.public-service .slide-pager ul li {
	margin:0 5px;
	padding:0;
}
#carousel.public-service .slide-pager ul li img, #carousel.public-service .slide-pager ul li.activeSlide img {
	border:1px solid #56A0D3;
	padding:0;
}

#carousel.public-service .slide-pager-next {
	right: 0;
	background:transparent url(images/carousel_arrow_right.png) no-repeat scroll center center;
}

#carousel.public-service .slide-pager-prev {
	left: 0;
	background:transparent url(images/carousel_arrow_left.png) no-repeat scroll center center;
}

/* Meet a TarHeel Styling */

.tarheel-featured-image {
	width: 124px;
	height: 90px;
	float: left;
	margin: 0 6px 12px 0;
}
.meet-a-tar-heel .row {
	border-bottom:1px solid #ccc;
	padding:15px 0;
}
.profile-block {
	float:left;
	width:50%;
}
.profile-block .excerpt {
	float:left;
	width:120px;
	font-size:80%;
}
.profile-block .excerpt h3 {
	line-height:15px;
}
.profile-block .excerpt h3, .profile-block .excerpt p {
	margin:0;
	padding:0;
}

.tarheel-profile {
	margin-top: 10px;
}


/* Gravity Forms Styling */
#meet-a-tar-heel-form h2 {
	color: #56A0D3;
	margin-top: 20px !important;
	}

.gform_wrapper .top_label .gfield_label {
	font-size: 80%;
	color: #666;
	}

/*Pagination Styling */
.pagination {
	padding-top:6px;
	text-align:right;
	margin-top: 5px;
}
.pagination ul.page-numbers {
	margin:0 !important;
	padding:0 !important;
}
.pagination .page-numbers li {
	font-size:80%;
	font-weight:bold;
	padding: 0px 8px 0px 4px !important;
	border-right: 1px solid #666;
	display:inline-block;
	background:none !important;
	margin:0 !important;
	line-height:1.3em;
}
.pagination .page-numbers li:last-child {
	border:none;
}
.pagination .page-numbers.current {
	background-color: #69C;
	color: white;
	padding:0 2px;
}

/*Public Service Styling */
#primary.public-center-content {
	margin: 0 auto;
	float: left;
	width: 520px;
}

/*Campus Update Styling */
div.campus-featured-image {
	width: 280px;
	float: left;
	margin: 0 15px 0 0;
	font-size: 85%;
	color: #333;
}

.alertCarolinaMessage {
	display:none;
	background:transparent url(images/alertcarolina-yellow-920x65.png) no-repeat center top !important;
	width:920px;
	height:65px;
	margin:3px 0 20px 0;
	border-radius:5px;
	box-shadow:0 2px 3px #999;
	padding:0 !important;
}
.alertCarolinaMessage a {
	position: relative;
	font-weight: bold;
	font-size: 120%;
	font-family: Arial, Verdana, sans-serif;
	padding: 20px 10px !Important;
	display: block;
	height: 25px;
	text-align: left !important;
	margin-left: 145px;
}

/* New Adverse Banner */
.alertCarolinaMessage.adverse {
	background: transparent url(images/banner-weather-yellow-v2.png) no-repeat left center !important;
}
.alertCarolinaMessage.adverse a {
	color:yellow !important;
	margin-left: 250px !important;
}

/* Social Media Styling */
.social-media .description .image {
	float:left;
	padding:8px;
	border:1px solid #ccc;
	margin:5px 8px;
	width:100px;
	display:block;
	height:68px;
	background-position:center center;
	background-repeat:no-repeat;
	background-image: url(images/share.jpg);
}
.social-media.facebook .description .image {
	background-image: url(images/facebook.jpeg);
}
.social-media.twitter .description .image {
	background-image: url(images/twitter.jpeg);
}
.social-media.youtube .description .image {
	background-image: url(images/youtube.jpeg);
}
.social-media.flickr .description .image {
	background-image: url(images/flickr.jpeg);
}
.social-media.blogs .description .image {
	background-image: url(images/blogs.jpeg);
}

#content.social-media .social-list {
	margin:0;
	padding:0;
}
#content.social-media .social-list li {
	padding: 6px 4px 6px 2px;
	border-bottom: 1px dotted #CCC;
	background:none;
	margin:0;
}

ul.social-media-categories, ul.social-media-categories li {
	margin:0;
	padding:0;
}
ul.social-media-categories {
	margin:5px 0 0;
}
ul.social-media-categories li {
	margin:1px 0;
	padding:0 2px;
}
ul.social-media-categories li label {
	margin-left:3px;
}
.social-media-sidebar .show-hide {
	border-top:1px solid #ccc;
	margin-top:5px;
	padding-top:5px;
}
.twtr-hd, .twtr-ft {
	display:none;
}
#twtr-widget-1 .twtr-tweet .twtr-tweet-text p {
	color: #666 !important;
	line-height: 1.5em !important;
	font-size: 100%;
	font-family: verdana, arial, sans-serif;
}
.social-archive .stay-connected {
	float:left;
	width:230px;
}
.social-archive #content .social-thumbnails ul {
	margin:0;
	padding:0;
}
.social-archive #content .social-thumbnails ul li {
	background:none;
	float:left;
	margin:0 8px 8px 0;
	padding:0;
}
.social-thumbnails ul li img {
	padding:4px;
	border:1px solid #ccc;
}
#photostream .photos {
	text-align:center;
	margin-top:5px;
}

/*Department Styling */

.third {
	float:left;
	width: 33%;
}

.half {
	float: left;
	width: 50%;
}

.departmentlist_header {
	border-bottom: 1px solid #CBCBCB;
	border-top: 1px solid #D9D9D9;
	height: 20px;
	padding: 10px;
}

#content .aznav {
padding: 0;
position: absolute;
font-size: 85%;
float: left;
top: 298px;
}

div.list_chooser {
	float: right;
	font-size: 85%;
}

.aznav a {
	text-align:center;
}
.aznav a:hover {
	text-decoration:none;
}
.aznav a.nolink {
	color: #333;;
	cursor:default;
}

div.azlist li {
	list-style: none;
	margin-left: -30px !important;
	padding: .3em 0px;
	background: none !important;
}

div.azlist h5 {
	font-size: 146.5%;
	font-weight: normal;
	font-family: Georgia,Verdana,Arial,Helvetica,sans-serif;	
}

div.dept_bottom {
	border-bottom: 1px solid #CBCBCB;
	height: 20px;
}

.returntop {
	float:right;
	font-size:80%;	
	font-weight: bold;
}

/* Discover UNC Styling */

#discover-unc-content hr {
	margin-top: 36px;
	margin-bottom: 5px;
}

/* Footer Overrides */
div#login-container {
margin-right: -22px;
}

/** Accordion Styles **/

#content .col3, #content .col2 {
	margin:0;
	padding:0;
}
#content .col3 li, .col3 li, #content .col2 li, .col2 li {
	background: none;
	list-style: none;
	margin: 0;
	padding: .5em;
	border-top: 1px solid #DDD;
}
.col3 li a, .col2 li a {
	font-size:90%;
}

#content .accordion > div > ul {
	margin:0;
	padding:0;
	font-size:85%;
}
#content .accordion > div > ul li, div.accordion > ul > li {
	background-image:none;
	margin:0;
	padding:0;
}
#tinymce .accordion > div > ul > li {
	width:300px;
	background-image:none;
}
#content .accordion > div > ul > li h4, .accordion > div > ul > li h4, .accordion > ul > li > h4 {
	background:#efefef url(images/accordion-bg.png) no-repeat right center;
	color:#56A0D3;
	text-transform:uppercase;
	padding:0 0 0 8px;
	font-size:85%;
	line-height:30px;
	margin:0;
	cursor:pointer;
}
#content .accordion > div > ul > li h4.ui-state-active {
	background:#efefef url(images/accordion-bg-open.png) no-repeat right center;
}
#content .accordion > div > ul > li > ul {
	margin:0;
	padding:0;
	background-color:#E8E8E8;
}
#content .accordion > div > ul > li > ul li {
	margin:0 8px;
	border-bottom:1px solid #C5C5C5;
	border-top:1px solid #fff;
	padding:3px 0;
}
#content .accordion > div > ul > li > ul li:first-child {
	border-top:none;
}
.li_container > ul.ui-accordion, div.accordion > ul {
	width:33%;
}

/**** INTERACTIVE TOUR ****/
#primary.right-content #content article.interactive-tour {
	padding:0;
}
.tour-thumb {
	float:left;
	width:450px;
}
.tour-thumb img, .tour-map {
	border:1px solid #56A0D3;
}
.tour-map {
	float:right;
	width:240px;
	height:300px;
}
.tour-content {
	clear:both;
}

.tour-nav {
	position:relative;
	clear:both;
	margin:5px 0 20px;
}
.site-content .tour-nav .slide-pager {
	margin:0 20px;
	height:68px;
	overflow:hidden;
}
.site-content .tour-nav .slide-pager ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    clear: both;
}
.site-content .tour-nav .slide-pager ul li {
    margin: 0 9px 0 0;
    padding:0;
    background:none;
    float:left;
    width:102px;
    height:68px;
}
.tour-nav .slide-pager ul li a img {
    border:1px solid #555;
	border:1px solid #56A0D3;
	width:100px;
	height:66px;
	opacity:.8;
}
.tour-nav .slide-pager ul li a img:hover, .tour-nav .slide-pager ul li a.activeSlide img {
    opacity:1;
}
.tour-nav .slide-pager ul li img { 
	display: block;
}
.tour-nav .slide-pager-wrapper {
    margin: 0 auto 10px;
    z-index:100;
    padding:0 0 0 20px;
}	
.tour-nav .slide-pager-prev, .tour-nav .slide-pager-next {
    display: block;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 35%;
    cursor:pointer;
}
.tour-nav .slide-pager-prev {
	background:transparent url(images/carousel_arrow_left.png) no-repeat center center;
}
.tour-nav .slide-pager-next {
	background:transparent url(images/carousel_arrow_right.png) no-repeat center center;
}
.tour-nav .slide-pager-prev {
    left:-5px;
}
.tour-nav .slide-pager-next {
    right:-5px;
}
.tour-nav .slide-direct {
    display:none;
}
.tour-nav .slide-pager-prev.disabled, .tour-nav .slide-pager-next.disabled {
    visibility:hidden;
}

/*** MAPS ***/
#map-search-map {
	width: 698px;
	height: 480px;
	border: 1px solid #56A0D3;
	position: relative;
	background-color: #E5E3DF;
}
#map-search-form {
	margin:10px 0;
}
#map-search-input {
	width:145px;
}
#map-search-form input.submit {
	padding:3px 10px;
}

#map-search-list ul {
	margin: 0 0 8px 0;
	list-style-type:none;
}
#map-search-list ul li {
	border-bottom: 1px solid #CBCBCB;
	border-top: 1px solid white;
}
#map-search-list ul li a {
	display: block;
	padding: 10px 8px;
	color: #2376A1;
	text-decoration:none;
}
#map-search-list ul > li a:hover {
	background-color: #56A0D3;
	color: white;
}

/*** Today and Tomorrow ***/

#tandt-eventlist {
	float:left;
	width:200px;
}

#tandt-eventlist ul  {
	background:none;
	margin:0;
	padding:0;
}
#tandt-eventlist ul li {
	background:none;
	width: 195px;
	font-size: 85%;
}
#tandt-map {
	border: #56A0D3 1px solid;
	width: 298px;
	height: 300px;
	float:right;
}

.calendar_date {
   border-bottom: 1px solid #cbcbcb;
   padding:0;
   min-height: 60px;
	}
	
div.calendar_wrapper {
   border-bottom: 1px solid #fff;
   margin: 0 0 0 0;
	}
	
div#content-well .calendar_date {
	background: none;
	}

li.calendar_date {
	font-size: 85%;
	background: none;
	}

.calendar_date a.calendar_graphic {
   float: left;
   width: 46px;
   height: 49px;
   margin:10px 0;
   display: block;
   position: relative;
   text-align: center;
   background: url(images/icon_calendar.png) no-repeat left top;
	}
	
.calendar_date a.calendar_text {
	width: 108px;
}
	
.calendar_date a.calendar_graphic:hover {
   text-decoration:none;
   background: url(images/icon_calendar.png) no-repeat left top;
}
	
.calendar_date a.calendar_graphic span {
   position:absolute;
   font-variant:small-caps;
   font-family:Arial, Helvetica, sans-serif;
   left:0;
   width:100%;
   display:block;
}
	
.calendar_date.first_date {
   border-top: 0px solid #fff;
   border-bottom: 1px solid #cbcbcb;
   padding: 0 0 0 0;
}
	
.calendar_date.last_date {
   border-bottom: 1px solid #cbcbcb;
}
	
.calendar_date a.bottom {
   float:left;
   margin:0 0 0 51px;
   background:none;
   display:block;
   position:relative;
   text-align:left;
   width:auto;
}
	
.calendar_date a.bottom span {
   position:relative;
   display:inline;
}
	
.calendar_month {
   top:0;
   color:#fff;
}
	
.calendar_day {
   top:20px;
   font-size:167%;
   color:#8e8e8e;
}

.calendar_date a.calendar_text, .calendar_date p {
   line-height:1.53em;
   padding: 8px 0;
   margin:0 0 0 51px;
}
	
.calendar_date a.calendar_text {
   padding:8px 0;
}
	
.calendar_date a.calendar_text span {
   color: #2376A1;
   font-weight:bold;
}
	
.calendar_time { 
	font-size: 94%;
	letter-spacing: -0.02em; 
}

.countdown_row {
	margin-bottom: 10px;
}
.countdown_descr {
	margin: 0;
	font-size: 130%;
	color: #fff;
}
.countdown_section {
	padding-bottom: 10px;
}
.hasCountdown {
	float: left;
	width: 198px;
	background: #559FD2 url(images/countdown-bg.png) repeat-x left top !important;
	border: 1px solid #5C8CBB !important;
	color: #fff;
	margin-bottom: 10px;
}
.installation a:hover {
	text-decoration: none;
}

/*--- Carolina Conversations---*/

.carolina-conversations {
    height: 81px;
    background-size: 81px 71px;
    display: block;
    margin: auto;
    padding: 10px;
}

.list-inline {
    padding-left: 0;
    list-style: none;
    margin-left: -5px;
}
.list-inline>li {
    display: inline-block;
    padding-left: 0;
    padding-right: 7px;
    font-size: 12px;
}

.list-inline>li:last-child {
    display: inline-block;
    padding-left: 0;
    padding-right: 0;
    font-size: 13px;
}

#twitter-widget-0 {
    width: auto !important;
    min-width: 100% !important;
}