#page {
  width: 960px;
}

#header-top #search_nav {
	top: -5px;
	display: inline;
	float:none;
	padding: 5px;
}

.noie #masthead #logo {
	padding-bottom: 0;
}

.noie #masthead #logo > a {
	background: url('../images/large_blue_unc.png') no-repeat;
	height: 85px;
	background-size: 270px;
	margin-top: -10px;
	margin-bottom: 15px;
}

#about-wrapper {
	width: 960px;
}

.logged-in #about-wrapper {
	margin-top: 40px;
}

#search_box ul li.search_textfield {
  z-index: 20;
}

#main-nav.main-navigation {
	width: 100%;
	min-width: inherit;
}

#breadcrumbsBox {
	width: 915px;
}

#breadcrumbTools a.stico_default {
   width: 57px;
}

label.utility_inline {
	font-weight: normal;
}

#main-nav.navbar.navbar-default {
	min-height: 28px;
	border-radius: 0;
	background: #519CD1 repeat-x left bottom;
	border-top: #9BBDDE solid 1px;
	border-left: #9BBDDE solid 1px;
	border-bottom: #3a739b solid 1px;
	border-right: #3a739b solid 1px;

}

#main-nav.navbar.navbar-default .navbar-toggle {
	background-color: #519CD1;
	border: none;
	box-shadow: none;
	outline:none;
	float: left;
	margin-left: 15px;
	margin-right: 0;
	filter: none !important;
}

#main-nav.navbar.navbar-default ul > li:first-child {
	border-left: none;
}

#main-nav.navbar.navbar-default ul > li:last-child {
	border-right: none;
}

#main-nav.navbar.navbar-default .navbar-toggle:hover,
#main-nav.navbar.navbar-default .navbar-toggle:focus {
	background: #519CD1;
}

#main-nav.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff !important;

}
#main-nav.navbar.navbar-default li {
	list-style-type: none;
	position: relative;
	padding: 0;
	margin: 0;
	border-right: 1px solid #3a739b;
	border-left: 1px solid #84b7dc;
}

#main-nav.navbar.navbar-default li a {
	display: block;
	text-decoration: none;
	color: #fff;
	text-shadow: 1px 1px 1px #2E6B96;
	font-weight: bold;
	font-size: 12px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	padding-top:4px !important;
	padding-bottom:0 !important;
	padding-left: 14px;
	padding-right: 14px;
	height: 28px;
}

.cta_tall_outer,
.cta_tall_inner {
	background: #519CD1 repeat-x left bottom;
	border-top: #9BBDDE solid 1px;
	border-left: #9BBDDE solid 1px;
	border-bottom: #3a739b solid 1px;
	border-right: #3a739b solid 1px;
}

.giving-button .cta_tall_inner a:hover {
  color: #fff;
}

#main-nav.navbar.navbar-default ul.navbar-nav > li.active > a,
#main-nav.navbar.navbar-default li:hover > a {
	background-color: #56a0d3;
}

.spotlight-carousel.home {
	width: 75%;
	float: left;
}

.ie.ie7 .spotlight-carousel.home .slide-description,
.ie.ie8 .spotlight-carousel.home .slide-description {
	width: 220px;
}


.spotlight-carousel.home .slide-description {
	float: right;
	width: 250px;
	margin-left: 10px;
	font-size: 100%;
	line-height: 1.5em;
	color: #333;
}

.spotlight-carousel.home .slide-description p {
	padding-right: 10px;
}

.spotlight-carousel.home .spot_archive {
	position: static;
}

.spotlight-carousel.home .spot_archive a:hover {
	color: #fff;
	text-decoration: none;
}

.home .slider-slide {
	display:none;
}

#primary.right-content {
	width: 75%
}

#primary.center-content,
#primary.public-center-content {
	margin: 0;
	width: 50%;
	padding: 0 10px;
}

.ie.ie7 #primary.center-content,
.ie.ie8 #primary.center-content {
	width: 465px;
}

#primary.right-content h1,
#primary.site-content h1,
#primary.center-content h1,
#primary.right-content h2,
#primary.site-content h2,
#primary.center-content h2 {
	margin-top: 0;
}

#content .li_container .list-group {
  float:none !important;
  width:initial !important;
}

#content .li_container .list-group li {
  border-top: none;
}

#content .tar-row {
  margin-top: 10px;
}

#content #searchBox {
	width: inherit;
}

#content #searchBox .btn_action {
	height: 28px;
	margin-left: 12px;
	padding: 0 1em;
}

* div.gsc-wrapper,
* div.gsc-resultsRoot {
  width: inherit;
}

#events .event .details {
	position: relative;
	left: -40px;
}

.sidebar.secondary {
  padding-left:0;
}

.sidebar.secondary + .sidebar.secondary {
  margin-left: 0;
  padding-left: 10px;
  padding-right: 0;
}

#home-top .sidebar.secondary,
#home-btm .sidebar.secondary {
	margin-left: 0;
	padding-left: 10px;
}

#home-top .sidebar.secondary + .sidebar.secondary,
#home-btm .sidebar.secondary + .sidebar.secondary{
	margin-left: auto;
	padding-left: 10px;
	padding-right: 10px;
}

#content #carousel.public-service {
  height: inherit;
}

#content #carousel.public-service .slider-wrapper ul.slider {
  width: inherit;
  min-height: 440px;
}

#content #carousel.public-service .slider-wrapper ul.slider li .slide-text{
 width: inherit;
 margin-top: 10px;
}

#content #carousel.public-service .slide-pager-wrapper {
  bottom: -20px;
  right: 20px;
}

#primary.public-center-content {
	margin-top: 20px;
}

.interactive-tour .tour-map {
	width: 175px;
}

#events .event .date a span.day {
	top: 16px;
}

#map-search-map {
	width: auto;
	margin-bottom: 15px;
}

button.maps {
	margin-top: 15px;
}

.departmentlist_header {
  border-bottom: none;
}

#content .azlist .aznav {
  top: 32px;
}

@media (max-width: 767px ) {
	#page {
		margin-top:0;
	}

	.logged-in #page {
		padding-top: 40px;
	}

	#page,
	#primary,
	#about-wrapper,
	.main-navigation,
	#breadcrumbsBox,
	#breadcrumbs,
	.center-content,
	.spotlight-carousel,
	.spotlight-carousel.home,
	footer#colophon #social-list-container {
		width: inherit !important;
		min-width: inherit;
	}

	#header-top #search_box {
		width: 19.6em;
	}

	#header-top #search_nav {
		width: auto;
		top: -5px;
		display: inline;
		float:left;
		font-size: 85%;
	}

	.ie #page #main .alertCarolinaMessage {
		background: none !important;
	}

	#page #main .alertCarolinaMessage {
		height: initial !important;
		background-color: #ffd32a !important;
		background-image: repeating-linear-gradient(125deg, transparent, transparent 20px, rgba(255, 225, 143, 0.5) 20px, rgba(255, 225, 143, 0.8) 40px) !important;
	}

	#page #main .alertCarolinaMessage.adverse {
		background-color: #6D0808 !important;
		background-image: none;
		background-image: repeating-linear-gradient(125deg, transparent, transparent 20px, rgba(213, 8, 8, 0.5) 20px, rgba(213, 8, 8, 0.5) 40px) !important;

	}

	#page #main .alertCarolinaMessage a {
		margin-left: inherit !important;
		margin-left: initial !important;
		color: inherit;
		color: initial;
		height: inherit;
		height: initial;
	}
	#primary .spotlight-carousel,
	.spotlight-carousel.home {
		float: none;
	}

	.spotlight-carousel.home .slide-graphic {
		float: inherit;
		float: initial;
		width: inherit;
		width: initial;
		text-align: center;
	}

	.spotlight-carousel.home .slide-description {
		float: none;
		width: inherit;
	}

	.spotlight-carousel:not(.home) .slide-pager ul {
		width: 300px !important;
	}

	.bgon {
		background-image: none !important;
	}

	#about-wrapper,
	#about-bg-minify,
	#about-bg-info,
	#breadcrumbsBox,
	.spotlight-carousel.home .slide-description .spot_archive,
	.spotlight-carousel:not(.home) .slide-pager-prev,
	.spotlight-carousel:not(.home) .slide-pager-next {
	  display:none;
	}

	.spotlight-carousel.home .slider-wrapper .slider {
		width: inherit !important;
		min-height: 475px !important;
	}

	#primary.right-content,
	#primary.site-content,
	#primary.center-content,
	#home-btm .center-content {
		float: none;
	}

	.sidebar.secondary,
	.sidebar.secondary + .sidebar.secondary {
		padding-left: 0;
		padding-right:0;
		margin-left: inherit;
	}

	#home-top .sidebar.secondary,
	#home-btm .sidebar.secondary {
		padding-left: 15px;
		padding-right: 15px;
	}

	.secondary + .secondary h2{
		margin-top: 15px;
	}

	.unc-social.list-inline {
		text-align: center;
	}

	.unc-social.list-inline .fa-lg {
		font-size: 2em;
	}

	.unc-social.list-inline >li {
		padding: 10px;
	}

	#content #searchBox .btn_action {
		height: inherit;
		margin-left: inherit;
	}

	#events .event .details {
		float: none;
		width: auto;
		padding-left: 100px;
	}

	.interactive-tour .tour-map {
		float: left;
		width: 100%;
	}

	#content #carousel.public-service .slide-pager-wrapper {
		bottom: 10px;
	}

	#content #carousel.public-service .slider-wrapper ul.slider .slide-description p {
		display: none;
	}

}