@media screen and (-ms-high-contrast: active) , ( -ms-high-contrast : none) {
  #mainNavHeader #mainNavHeaderInner a {
    padding-top: 9px;
  }
  div.layer_outer {
    background-image: url(../images/layer/ie9_background.svg);
  }
  #home_newsletter_layer div.layer_bottom {
    padding: 15px 0px 0px 0px;
    margin-top: 0px;
    float: right;
  }
  #mainNavHeader #mainNavHeaderInner li a {
    padding: 20px 0 0 0 !important;
  }
  #basketHeader #basketHeaderInner div.items {
    padding: 1px 0 0 25px;
  }
  #areaNavHeader #areaNavHeaderInner a {
    padding-top: 3px;
  }
  #areaNavHeader #areaNavHeaderInner a:first-child {
    padding-top: 5px;
  }
  div.ipLayerBottom div.ipLayerBottomLeft {
    padding-top: 17px;
  }
  div.ipLayerBottom div.ipLayerBottomLeft a {
    display: block;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 11px;
    color: #8c8e8f;
    background-position: 0px 5px !important;
  }
  div.ipLayerBottom div.ipLayerBottomLeft a:hover {
    display: block;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 11px;
    color: #00C4B3;
    background-position: 0px 5px !important;
  }
  div.layer_outer div.layer_top span.close a,#productQuickview .close a,div.productImageZoomLayerClose span.close a {
    padding-left: 11px;
    background-repeat: no-repeat;
    background-position: 0px 2px !important;
    background-image: url(../images/layer/close.png);
    font-size: 10px;
    color: #787878;
  }
  body#page-checkout-step2 fieldset.delivery .box fieldset.invoice-address {
    margin-right: 21px;
    width: 303px !important;
  }
  body.at_DE#page-checkout-step2 fieldset.delivery .box fieldset {
    margin-right: 20px;
    width: 304px !important;
  }
  body.at_DE#page-checkout-step2 fieldset.delivery .box fieldset.delivery-address {
    margin-right: 0px;
    width: 304px !important;
  }
  body.at_DE#page-checkout-step2 fieldset.delivery .box fieldset {
    border: 1px solid #DADAD9;
    margin-bottom: 0;
    padding: 48px 20px 20px 20px;
    position: relative;
  }
  body.fr_FR#change-invoice-address-dialog form fieldset #invoice-address-email-repeated {
    width: 297px;
  }
  body.fr_FR#change-delivery-address-dialog form fieldset label.email-repeated {
    margin-right: 0px !important;
  }
  body#page-checkout-step4.fr_FR #leftcol div.invoice-address {
    margin-right: 20px;
  }
  body.fr_FR#page-checkout-step4 #leftcol fieldset.personal-data div.invoice-address,body.fr_FR#page-checkout-step4 #leftcol fieldset.personal-data div.delivery-address {
    width: 305px !important;
  }
  body#page-checkout-step4 #leftcol fieldset.personal-data .box.invoice-address legend,body#page-checkout-step4 #leftcol fieldset.personal-data .box.delivery-address legend {
    font-size: 14px;
    margin-bottom: 17px;
    padding-bottom: 6px;
    width: 348px !important;
  }
  body.fr_FR#page-checkout-step4 #leftcol fieldset.personal-data div.delivery-address {
    margin-left: 42px;
  }
  .top-5.teaser .body>ul>li>a {
    background-position: left 2px;
    color: #787878;
    display: block;
  }
  .addToBasket.teaser .body .actions>li>* {
    background-color: transparent;
    background-image: url("../images/icons/blue/arrow/right.png");
    background-position: left 6px;
    background-repeat: no-repeat;
    border: 0 none;
    color: #787878;
    padding: 0 0 0 10px;
    text-align: right;
    width: auto;
  }
  .addToBasket.teaser .dialog-opener {
    margin-right: 0px;
  }
  #page-search.withResults #centercol #searchResultsFilterForm select {
    font-size: 10px !important;
  }
  #page-search.withResults #centercol #searchResultsFilterWorld select option span.hits {
    display: block;
    float: right;
    text-transform: none;
    font-size: 10px !important;
    color: red !important;
  }
  form#searchResultsFilterForm fieldset fieldset label select#searchResultsFilterWorld.noGui option span.hits {
    color: green !important;
    padding: 5px;
  }
  body.es_ES .service.teaser .body .phone {
    left: 50px;
    top: 126px;
  }
  #change-invoice-address-dialog .invoice-address,#change-delivery-address-dialog .delivery-address {
    padding-right: 18px;
  }
  .service.teaser .body .phone .localcode,.service.teaser .body .phone .areacode {
    position: relative;
    bottom: -2px;
  }
  div.contentteaser.teaser_310_295 div.percentage-price,div.contentteaser.teaser_385_310 div.percentage-price span.percentageValue {
    display: block;
    padding-top: 3px;
  }
  div.contentteaser span.priceOld {
    background-position: 0 8px;
  }
  .shareTwitterPlugin {
    max-width: 110px;
  }
  #productTeasers > .right > div {
    min-height: 401px;
  }
}