.facebook.box {
  margin-top: 12px !important;
  margin-bottom: 12px !important;
}

.newsletter.box {
  height: 140px;
  margin-top: 12px !important;
  margin-bottom: 12px !important;
}

.newsletter.box fieldset {
  left: 67px;
  padding: 9px;
  position: absolute;
  top: 98px;
}

.newsletter.box fieldset input[type="text"],
.newsletter.box fieldset input[type="email"] {
  border: 0 none;
  height: 18px;
  margin: 0 3px 0 15px;
  padding-top: 2px;
  width: 147px;
}

.address .company {
  width: 618px;
}

.address .thoroughfare {
  width: 503px;
}

.address .thoroughfare-number {
  width: 105px;
}

.address .postcode {
  width: 75px;
}

.address .locality {
  width: 418px;
}

.address .email {
  width: 438px;
}

#page-checkout-without-signup #centercol {
  padding-top: 0;
}

#page-checkout-without-signup #checkout-step1 {
  margin-bottom: 9px;
}

#leftcol .delivery-option .logo {
  width: 139px;
  height: 28px;
  background-image: url("../images/icons/deliver_sprite.png");
  background-repeat: no-repeat;
}

#delivery-list-content .box .secondRowCell>div>div {
  min-width: 520px;
}

#leftcol .delivery-option.store label .logo{
  background-position: -2044px 0;
  height: 44px;
  width: 116px;
  border-right: 24px solid #f6f6f6;
}

#leftcol .delivery-option label.delivery-option-post .logo {
  background-position: -347px -9px;
}

#leftcol .delivery-option.store label .radio{
  margin-top: 12px;
}

.delivery.teaser.post .icon {
  width: 98px;
  height: 24px;
  background-position: -360px -10px;
}

.delivery.teaser.post .beside-icon {
  width: 58px;
}

.second-textliner {
  padding-top: 0px;
}

#leftcol .payment-option.creditcard .third-textliner {
  line-height: 41px !important;
  padding-top: 0px !important;
}

.checkout .payment-option.creditcard .card-logo {
  width: 143px;
  height: 41px;
}

.payment-option a.notice {
  line-height: 41px;
}

#page-checkout-step4 #leftcol #checkout-step4>.box,
#page-checkout-step4 #leftcol #checkout-step4 .delivery,
#page-checkout-step4 #leftcol #checkout-step4 .personal-data {
  margin-bottom: 20px;
}

#page-checkout-step4 #leftcol #checkout-step4 .basket.box {
  padding-bottom: 15px;
}

#page-checkout-step4 #leftcol #checkout-step4 fieldset.delivery>.box {
  margin-bottom: 0;
}

#page-checkout-step4 #leftcol #checkout-step4 fieldset.delivery fieldset>legend {
  margin-bottom: 18px;
}

#page-checkout-step4 #leftcol #checkout-step4 fieldset.delivery .delivery-option dt {
  min-width: 190px;
}

#page-checkout-step4 #leftcol #checkout-step4 fieldset.personal-data {
  margin-bottom: 11px;
}

#page-checkout-thankyou #centercol {
  padding-top: 40px;
}

#page-checkout-thankyou .status.box {
  padding-bottom: 15px;
  marginb-bottom: 20px;
}

#page-checkout-thankyou .present.box {
  margin-bottom: 0;
}

#page-checkout-thankyou .facebook.box,
#page-checkout-thankyou .newsletter.box {
  float: left;
}

#page-checkout-thankyou .facebook.box {
  margin-right: 10px;
}

#page-checkout-thankyou .newsletter.box {
  width: 377px;
}

.service.teaser .body .phone {
  left: 65px;
  top: 109px;
}

.service.teaser .body .phone .areacode {
  margin-bottom: 1px;
}

#page-checkout-step4 #leftcol fieldset.personal-data .box {
  float: left;
  padding: 15px 20px 20px;
  width: 330px;
}

#newsletter_popunder_layer div.form {
  padding: 361px 0 0 366px;
}

#newsletter_popunder_layer div.form div.emailfield {
  float: left;
  padding: 2px 0 0;
  width: 133px;
}

#newsletter_popunder_layer div.form div.submitbutton {
  float: left;
  padding-left: 18px;
  padding-top: 2px;
}

.dataPrivacyHeadline {
  display: block;
}

.pop-up-layer .ui-dialog.newsletter_success {
  height: 370px !important;
}

/* payment icons */
#page-service #centercol ul#services li.payment a span.icon {
background-position:-145px -90px;
}

#page-service-payment #centercol>div {
background-image: url(/media/teaser/Service_pages/PaymentLogo/service_payment_AT_de.png);
}

/* 400117 */
#footerInfo > div + div > div {
height:100px;
}

.payment-option.on-account .card-logo {
    background-position: -376px -67px;
    width: 62px;
    height: 29px;
}

.payment-option.in-advance .card-logo {
    background-position: -308px -66px;
    width: 59px;
    height: 30px;
}

#page-checkout-step4 .checkout-navigation.bottom-navigation {
  margin-top: 0;
}

#page-checkout-step4 #leftcol fieldset.terms .box label:last-child {
  border-bottom: none!important;
}
#page-checkout-without-signup .personal-data .address label.address-title {
  width: 410px;
}
#page-checkout-step4 tr.shipping {
  font-family: Arial!important;
  font-size: 14px!important;
  color: #323232!important;
}
#footer #footerInfo span.deliverIcon.post_at {
  background-image: url("../images/samples/checkout/delivery/at_DE/postattransparent.png");
  background-position: 0 0;  
  background-repeat: no-repeat;
  background-size: 136px 28px;  
  width: 136px;
  height: 38px;
  display: block;
}
body#page-checkout-step2 fieldset.delivery-option .details {
  margin-left: -13px;
}
#delivery-list-content .box .secondRowBold {
  margin-left: 13px;
}
.summaryDeliveryIntegrated .delivery-option.address-option p.address-option-choose {
  width: 226px;
}
#addressBox .address-option-text-bottom .button {
  margin-left: 36px;
}
.address-option-choose .address-option-text-bottom {
  left: 9px!important;
}
body#page-checkout-step4 #addressBox .address-option-text-bottom .button {
  margin-left: 12px!important;
}