#basket_exit_layer div.layer_inner {
  background-image: url(../images/exitlayer/de_DE.png);
}

#page-service #centercol>div:first-child ul li.payment {
  background-image: url("../images/service/at_DE/backgrounds/payment.jpg");
}

#page-service-payment #centercol>div {
  background-image: url("../images/service/at_DE/backgrounds/payment.jpg");
}

.return.teaser .icon {
  background-image: url("../images/sidebarteaser/at_DE/return.png");
}

body#page-service-PaymentMethods #centercol>div {
  background-image: url("../images/service/at_DE/backgrounds/payment.jpg");
}

.checkout .payment-option.creditcard .card-logo {
  background-image: url("../images/samples/checkout/payment/creditcard.png");
  background-repeat: no-repeat;
  background-position: 0px 0px !important;
}

#leftcol .payment-options .payment-option.creditcard label[for=payment-option-creditcard-visa] span.card-logo,.payment.teaser.visa .icon {
  background-image: url("../images/samples/checkout/payment/visa.png");
}

#leftcol .payment-options .payment-option.creditcard label[for=payment-option-creditcard-visa-electron] span.card-logo,.payment.teaser.visaelectron .icon {
  background-image: url("../images/samples/checkout/payment/visa-electron.png");
}

#leftcol .payment-options .payment-option.creditcard label[for=payment-option-creditcard-mastercard] span.card-logo,.payment.teaser.mastercard .icon {
  background-image: url("../images/samples/checkout/payment/mastercard.png");
}

#leftcol .payment-options .payment-option.creditcard label[for=payment-option-creditcard-amex] span.card-logo,.payment.teaser.amex .icon {
  background-image: url("../images/samples/checkout/payment/american-express.png");
}

.payment-option.paypal label[for=payment-option-paypal] span.card-logo {
  background-image: url("../images/samples/checkout/payment/it_IT/paypal.png");
  background-repeat: no-repeat;
}

.logosprite {
  background-image: url("../images/samples/checkout/payment/creditcards_sprite_de.png");
}

#page-service #centercol ul#services li.payment a span.icon {
  background-position: 6px -92px;
}

#newsletter_popunder_layer div.layer_inner {
  background-image: url(../images/newsletterlayer/newsletter_popun_de_AT.png);
}

#productDetail .lineDayOffer {
  background-image: url("../images/productdetail/dayoffer/de_AT/dayofferright.jpg");
}

#productDetail .lineShortTime {
  background-image: url("../images/productdetail/timebased/de_AT/shorttime.jpg");
}