@media screen and (-webkit-min-device-pixel-ratio:0) {
  #payment-option-bancontact-maestro-fieldset p {
    padding-top: 0px;
  }
  #coupon-form fieldset p {
    padding-top: 0px;
  }
  body#page-checkout-step2 fieldset.invoice-address .address,fieldset.delivery-address .address {
    padding-top: 0px;
  }
  body#page-checkout-step2 fieldset.invoice-address .address,html body#page-checkout-step2.checkout.at_DE fieldset.delivery-address p.address,html body#page-checkout-step2.checkout.be_FR fieldset.delivery-address p.address,html body#page-checkout-step2.checkout.be_NL fieldset.delivery-address p.address,html body#page-checkout-step2.checkout.de_DE fieldset.delivery-address p.address,html body#page-checkout-step2.checkout.es_ES fieldset.delivery-address p.address,html body#page-checkout-step2.checkout.fr_FR fieldset.delivery-address p.address,html body#page-checkout-step2.checkout.nl_NL fieldset.delivery-address p.address,html body#page-checkout-step2.checkout.it_IT fieldset.delivery-address p.address {
    padding-top: 0px !important;
  }
  body#page-checkout-step3.checkout fieldset.chosen-delivery div.delivery-address fieldset.delivery-address p.address,body#page-checkout-step3.checkout fieldset.chosen-delivery div.delivery-address fieldset.delivery-address p.address {
    padding-top: 15px !important;
  }
  fieldset.invoice-address {
    padding: 1px;
  }
  fieldset.delivery-address {
    padding: 1px;
  }
  form .box {
    display: block;
  }
  body#page-checkout-step2 fieldset.delivery-option .box>label {
    position: static;
  }
  #page-basket #leftcol .context>* form.login-form label input {
    display: block;
    width: 115px;
  }
  #page-basket #leftcol .context>* form.login-form label input {
    display: block;
    width: 114px !important;
  }
  #page-search.withResults #centercol #searchResultsFilterForm label select {
    width: 228px !important;
    height: 75px;
    margin-top: 5px;
    border: 0;
    border-top: 1px solid #dadad9;
  }
  #page-basket #leftcol .context>#continue-shopping dd a {
    display: block;
    clear: both;
    padding: 11px 0 4px 7px !important;
  }
  #page-basket #leftcol .context>#continue-shopping dd .icon {
    display: block;
    width: 60px;
    height: 70px;
    float: right;
  }
  form#checkout-step1 fieldset.personal-data div.box fieldset.password label {
    margin-top: 15px;
  }
  body.at_DE#page-checkout-step2 #leftcol .delivery .box fieldset,body.be_FR#page-checkout-step2 #leftcol .delivery .box fieldset,body.be_NL#page-checkout-step2 #leftcol .delivery .box fieldset,body.es_ES#page-checkout-step2 #leftcol .delivery .box fieldset,body.fr_FR#page-checkout-step2 #leftcol .delivery .box fieldset,body.it_IT#page-checkout-step2 #leftcol .delivery .box fieldset,body.nl_NL#page-checkout-step2 #leftcol .delivery .box fieldset,body.be_FR#page-checkout-step3 #leftcol .delivery .box fieldset,body.be_NL#page-checkout-step3 #leftcol .delivery .box fieldset,body.be_FR#page-checkout-step3 .chosen-delivery .invoice-address,body.be_FR#page-checkout-step3 .chosen-delivery .delivery-address,body.be_NL#page-checkout-step3 .chosen-delivery .invoice-address,body.be_NL#page-checkout-step3 .chosen-delivery .delivery-address,body.es_ES#page-checkout-step3 #leftcol .delivery .box fieldset,body.it_IT#page-checkout-step3 #leftcol .delivery .box fieldset,body.nl_NL#page-checkout-step3 #leftcol .delivery .box fieldset,body.nl_NL#page-checkout-step3 .chosen-delivery .invoice-address,body.nl_NL#page-checkout-step3 .chosen-delivery .delivery-address,body.pl_PL#page-checkout-step3 .chosen-delivery .invoice-address,body.pl_PL#page-checkout-step3 .chosen-delivery .delivery-address,body.be_FR#page-checkout-step3 .chosen-delivery .invoice-address,body.be_FR#page-checkout-step3 .chosen-delivery .delivery-address,body.pl_PL#page-checkout-step4 .chosen-delivery .invoice-address,body.pl_PL#page-checkout-step4 .chosen-delivery .delivery-address
    {
    width: 304px;
  }
  body.be_FR#page-checkout-step3.checkout fieldset.chosen-delivery dl.box,body.be_NL#page-checkout-step3.checkout fieldset.chosen-delivery dl.box {
    margin-bottom: 0px !important;
  }
  .special.teaser .title.multiline {
    line-height: 98%;
  }
  #page-basket .openLayer #logon .box,#page-basket .openLayer #signup .box,#page-basket .openLayer .dont-signup .box {
    width: 208px;
  }  
}