@charset "utf-8";
/* ====================================

reset

==================================== */

/*
YUI 3.5.1 (build 22)
Copyright 2012 Yahoo! Inc. All rights reserved.
Licensed under the BSD License.
http://yuilibrary.com/license/
*/
/*
TODO will need to remove settings on HTML since we can't namespace it.
TODO with the prefix, should I group by selector or property for weight savings?
*/
html {
	color: #000;
	background: #fff;
	font-size: 100%;
}
@font-face {
	font-family: 'paddock_pict';
	src: url('/common/webfonts/paddock_pict.eot');
	src: url('/common/webfonts/paddock_pict.eot?#iefix') format('embedded-opentype'), url('/common/webfonts/paddock_pict.ttf') format('truetype'), url('/common/webfonts/paddock_pict.woff') format('woff'), url('/common/webfonts/paddock_pict.svg#paddock_pict') format('svg');
	font-weight: normal;
	font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
	font-family: 'paddock_pict';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-anchor:before {
	content: "\e606";
}
.icon-text_small:before {
	content: "\e605";
}
.icon-top_arrow:before {
	content: "\e607";
}
.icon-text_large:before {
	content: "\e608";
}
.icon-share:before {
	content: "\e609";
}
.icon-search:before {
	content: "\e60a";
}
.icon-rss:before {
	content: "\e60b";
}
.icon-right_arrow:before {
	content: "\e60c";
}
.icon-movie:before {
	content: "\e60d";
}
.icon-menu:before {
	content: "\e60e";
}
.icon-left_arrow:before {
	content: "\e60f";
}
.icon-form:before {
	content: "\e610";
}
.icon-close:before {
	content: "\e611";
}
.icon-brank:before {
	content: "\e612";
}
.icon-bottom_arrow:before {
	content: "\e613";
}
/*
TODO test putting a class on HEAD.
- Fails on FF.
*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0;
}
textarea {
	resize: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
fieldset {
	border: 0;
}
img {
	margin: 0;
	padding: 0;
	border: 0;
	line-height: 0;
	font-size: 0;
	vertical-align: bottom;
}
/*
TODO think about hanlding inheritence differently, maybe letting IE6 fail a bit...
*/
address, caption, cite, code, dfn, em, th, var {
	font-style: normal;
	font-weight: normal;
}
ol, ul {
	list-style: none;
}
caption, th {
	text-align: left;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal; /* Override browser's default bold */
}
q:before, q:after {
	content: '';
}
abbr, acronym {
	border: 0;
	font-variant: normal;
}
/* to preserve line-height and selector appearance */
sup {
	vertical-align: text-top;
}
sub {
	vertical-align: text-bottom;
}
input, textarea, select {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}
/*to enable resizing for IE*/
input, textarea, select {
*font-size:100%;
}
/*because legend doesn't inherit in IE */
legend {
	color: #000;
}
a {
	color: #0F67BA;
	text-decoration: none;
	-moz-transition: background-color 0.15s ease; /*Firefox*/
	-webkit-transition: background-color 0.15s ease; /*Safari,Chrome*/
	-o-transition: background-color 0.15s ease; /*Opera*/
	transition: background-color 0.15s ease;
	font-weight: bold;
}
a:hover {
	text-decoration: underline;
}
a:hover img {
	opacity: 0.8;
	filter: alpha(opacity=80);
	-ms-filter: "alpha( opacity=80 )";
}
.clearfix:before, .clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	zoom: 1;
}
/* ====================================

fonts

==================================== */

/*
YUI 3.5.1 (build 22)
Copyright 2012 Yahoo! Inc. All rights reserved.
Licensed under the BSD License.
http://yuilibrary.com/license/
*/
/**
* Percents could work for IE, but for backCompat purposes, we are using keywords.
* x-small is for IE6/7 quirks mode.
*/


body {
	font: 87.5%/1.8 "Arial", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif; /* 14px */
*font-size:normal; /* for IE */
*font:small; /* for IE in quirks mode */
	color: #4b636d;
}
select, input, button, textarea {
	font: 99% "Arial", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
}
/**
* To help tables remember to inherit
*/
table {
	font-size: inherit;
	font: 100%;
}
/* ====================================

structure

==================================== */
/**
* background
*/

.bg {
	position: fixed;
	z-index: -1;
	-webkit-backface-visibility: hidden;
}
.bg img {
	height: 100% !important;
	width: 100% !important;
}

/**
* Smartphone menu
*/


.animenu input[type=checkbox] {
	position: absolute;
	top: -9999px;
	left: -9999px;
}
.animenu label {
	display: none;
	cursor: pointer;
	user-select: none;
}

/**
* header
*/
#header {
	padding-top: 12px;
	background: url(/common/img/bg_header_01.png) #fff repeat-x;
}
#header .section {
	height: 97px;
	margin: 0 auto;
	position: relative;
	width: 960px\9;/*for IE8*/
}
#header .logo {
	float: left;
	margin-top: 7px;
}
#header .animenu {
	height: 97px;
}
#header .logo a {
	width: 360px;
	height: 40px;
	margin: 0 0 10px;
	display: block;
	background: url(/common/img/logo_sprite.png) 0 0 no-repeat;
	text-indent: -9999px;
}

/*for Retina Display*/
@media(-webkit-min-device-pixel-ratio:2), (min-resolution:2dppx) {
#header .logo a {
	background: url(/common/img/logo_sprite_2x.png) 0 0 no-repeat;
	background-size: 360px auto;
}
}
#spMenu {
	display: none;
}
#header .assistArea {
	position: absolute;
	padding: 0;
	margin: 0;
	right: 0;
	top: 10px;
}
* html #header .assistArea {
	height: 44px;
}
#header .link_01 {
	margin-top: 6px;
	float: right;
}
#header .btn_01 {
	float: right;
}
* html #header .btn_01 {
	float: none;
}
*:first-child+html #header .btn_01 {
	float: none;
}
#header .link_01 li {
	padding: 0 16px;
	float: left;
	background: url(/common/img/line_01.png) top right repeat-y;
	text-align: right;
}
#header .link_01 .firstChild {
	padding-left: 0;
}
#header .btn_01 {
	margin-left: 15px;
}
#header .btn_01 li {
	margin: 8px 0 0 5px;
	float: left;
	text-align: center;
}
#header .btn_01 li a {
	display: block;
	height: 15px;
}
#header .btn_01 li a:hover {
}
#header .btn_01 li span {
}
#header .btn_01 .ja {
	font: 75%/1.2 "Helvetica Neue", Helvetica, "Arial", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;/* 12px */
	padding-top: 1px;
	margin-right: 12px;
}
#header .btn_01 .ja a {
	color: #0f67ba;/*	width: 65px;*/
}
#header .btn_01 .en {
	font: 75%/1.2 "Helvetica Neue", Helvetica, "Arial", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif; /* 12px */
	margin-right: 18px;
}
#header .btn_01 .en a {
	color: #0f67ba;
}
#header .item_02 {
	margin-top: 5px;
	clear: both;
}
#header #fontSize {
	display: none;
	float: right;
}
#header .fontSize {
	width: 90px;
	right: 20px;
}
#header .fontSize, x:-moz-any-link, x:default {
right:26px;
}
* html #header .fontSize {
	right: 15px;
	left: 15px;
}
*:first-child+html #header .fontSize {
	right: 15px;
}
#header .fontSize dt {
	display: none;
	margin-right: 3px;
	padding-top: 4px;
	padding-right: 2px;
	float: left;
	height: 20px;
	text-align: right;
	font-size: 74%;
}
#header .fontSize dd {
	margin-right: 1px;
	float: left;
}
#header .fontSize .small a {
	width: 35px;
	min-height: 26px;
	display: block;
	text-indent: -9999px;
	overflow: hidden;
	background: #e6ebf0 url(/common/img/fontSize_img01.png) no-repeat center center;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-bottomleft: 4px;
	font-size: 94%;
	color: #4b636d;
	padding: 0px 11px;
}
#header .fontSize .large a {
	width: 35px;
	min-height: 26px;
	display: block;
	text-indent: -9999px;
	overflow: hidden;
	background: #e6ebf0 url(/common/img/fontSize_img02.png) no-repeat center center;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	font-size: 94%;
	text-decoration: none;
	text-align: center;
	color: #4b636d;
	padding: 0px 11px;
}
#header .search {
	float: right;
	right: 0;
}
#header .search .field {
	float: left;
	width: 190px;
	min-height: 26px;
	background: #e6ebf0;
	border: 0;
	border-radius: 15px;
	-webkit-border-radius: 15px;/*for Safari,Chrome*/
	-moz-border-radius: 15px;/*Firefox用 */
	color: #4b636d;
	font-size: 74%;
	padding: 1px 0 0 13px;
}
* html #header .search .field {
	height: 18px;
}
*:first-child+html #header .search .field {
	margin-left: 5px;
}
#header .search .btn {
	margin-left: 4px;
	float: left;
	width: 22px;
	height: 22px;
	background: url(/common/img/seach.png) center 2px no-repeat;
	border: none;
	text-indent: -9999px;
	cursor: pointer;
}

@media print {
#header .section {
	width: 100%;
}
#header .logo a {
	background: none;
	text-indent: 0;
	color: #333;
}
#header .assistArea {
	display: none;
}
}
#globalNav {
	border-right: 1px solid #c8cdd2;
	clear: both;
	width: 100%;
}
#globalNav li {
	float: left;
	border-left: 1px solid #c8cdd2;
	font-size: 100%;
	line-height: 1;
	word-wrap: break-word;
	color: #0f67ba;
}
#globalNav a {
	color: #0f67ba;
	display: block;
	min-height: 40px;
	padding: 12px 0.5em;
	padding: 14px 0.5em 14px\9;
	font-weight: bold;
	text-align: center;
	-moz-transition: all 0.15s ease; /*Firefox*/
	-webkit-transition: all 0.15s ease; /*Safari,Chrome*/
	-o-transition: all 0.15s ease; /*Opera*/
	transition: all 0.15s ease;
	position: relative;
}
#globalNav a {
	min-height: 14px\9;
}
#globalNav .service.open a, #globalNav .company.open a {
	background: #e6ebf0;
}
#globalNav .service a:after, #globalNav .company a:after {
	content: url(/common/img/globalnav_img03.png);
	display: inline-block;
	margin-left: 5px;
	vertical-align: top;
	position: relative;
	top: 0;
}
#globalNav .service.open a:after, #globalNav .company.open a:after {
	content: url(/common/img/globalnav_img04.png);
}
#globalNav .service.cur a:after, #globalNav .company.cur a:after {
	content: url(/common/img/globalnav_img05.png);
}
#globalNav .service.cur.open a:after, #globalNav .company.cur.open a:after {
	content: url(/common/img/globalnav_img06.png);
}
#globalNav .mirai a {
	background: url(/common/img/globalnav_meet.png) no-repeat center center;
	height: 42px\9;
}
#globalNav .mirai.cur a {
	background: url(/common/img/globalnav_meet_cur.png) no-repeat center center;
}
#globalNav .mirai.cur {
	background: url(/common/img/globalnav_meet_bg.gif) no-repeat center center;
	background-size: cover;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
#globalNav .mirai a {
	background-image: url(/common/img/globalnav_meet@2x.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 150px 18px;
}
#globalNav .mirai.cur a {
	background-image: url(/common/img/globalnav_meet_cur@2x.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 150px 18px;
}
#globalNav .mirai.cur {
	background: url(/common/img/globalnav_meet_bg@2x.gif) no-repeat center center;
	background-size: cover;
}
}
#globalNav a span {
	display: none;
}
#globalNav .service a {
	width: 143px;
}
#globalNav .press a {
	width: 155px;
}
#globalNav .company a {
	width: 143px;
}
#globalNav .ir a {
	width: 142px;
}
#globalNav .jinji a {
	width: 128px;
}
#globalNav .mirai a {
	width: 242px;
}
#globalNav .meet a {
	width: 242px;
}
#globalNav .jinji {
	text-indent: -6px;
}
#globalNav a:hover {
	background-color: #e6ebf0;
	text-decoration: none;
}
#globalNav .service.cur a, #globalNav .company.cur a {
	background-color: #0e8bd1;
	color: #fff;
}
#globalNav .press.cur a, #globalNav .ir.cur a, /*#globalNav .employment.cur a,*/ #globalNav .jinji.cur a {
	background-color: #0e8bd1;
	color: #fff;
}
#globalNav .mirai.cur a {
	color: #fff;
}
#globalNav .sp {
	display: none;
}

@media print {
#globalNav {
	display: none;
}
}
/**
* path
*/
#path {
	padding: 0;
	background: #e6ebf0;
	box-shadow: 0 0 5px #555;
	border-bottom: 1px solid #ccc\9;/*IE8*/
	position: relative;
	z-index: 1;
}
* html #path {
	height: 30px;
}
#path .section {
	margin: 0 auto;
	width: 960px\9;/*for IE8*/
}
#path ul {
	padding: 0 0 2px;
	overflow: hidden;
}
#path ul li {
	display: inline;
	margin: 0;
	font-size: 71.4%; /* 10px */
	line-heigh: 30px;
}
#path ul li a {
	color: #0f67ba;
	margin-right: 10px;
	padding: 10px 20px 10px 0;
	background: url(/common/img/path_line.png) no-repeat right center;
	-moz-background-size: auto 90%;
	background-size: auto 90%;
}
#path span {
	margin: 0 10px;
}

@media print {
#path .section {
	width: 720px;
}
}
/**
* content
*/


.break {
	word-wrap: break-word;
}
#content-wrapper {
	background: url(/common/img/path_shadow.png) repeat-x top;
}
#content .section {
	margin: 0 auto;
	width: 960px\9;/*for IE8*/
	margin-right: 40px\9;/*for IE8*/
}
#content .col_01 {
	float: left;
}
#content .col_02 {
	float: left;
	width: 680px\9;/*for IE8*/
}
#content .col_03 {
	margin-left: 20px;
	float: left;
}
#content .col_04 {
	float: left;
}
#content .col_05 {
	float: left;
	margin-left: 15px;
}
#content .col_05 img {
	width: 100%;
}
#content .colSection_02 {
	margin-left: -15px;
}
* html #content .colSection_02 {
	margin-left: -30px;
}
#content .col_350 {
	margin-left: 20px;
	width: 350px;
	float: left;
}
#content .col_339 {
	margin-left: 20px;
	width: 339px;
	float: left;
}
#content .col_470 {
	margin-left: 20px;
	width: 470px;
	float: left;
}
.mod_pic_list_01 {
	margin: 0 0 -30px -10px;
	overflow: hidden;
}
.mod_pic_list_01 .block01 {
	margin: 0 0 30px -1px;
	padding: 0 9px;
	border-left: dotted 1px #c8cdd2;
}

@media print {
#content .section {
	width: 720px;
}
#content .col_01 {
	display: none;
}
}
/**
* localNav
*/
.localNav {
	margin-top: 47px;
	font-weight: bold;
}
.localNav .cur {
}
.level2 a {
	font-size: 128.6%; /* 18px */
	line-height: 1.4;
	border-bottom: 1px solid #c8cdd2;
	text-decoration: none;
}
.level2 a {
	display: block;
	padding: 16px 0 14px 12px;
}
.level2 a:hover {
	background-color: #e6ebf0;
}
.level3 {
	margin-bottom: -1px;
	overflow: hidden;
	zoom: 1;
}
.level3 .curParent {
	background: #e6ebf0;
}
.level3 .curParent > a:hover {
	background: #dae0e6;
}
.level3 a {
	background-image: none;
	font-size: 100%; /* 14px */
	line-height: 1.4;
	padding: 10px 0 9px 12px;
	border-bottom: 1px solid #c8cdd2;
}
.level3 .curParent .cur, .level3 .curParent .cur:hover {
	background: #0e8bd1;
	color: #fff;
	text-decoration: none;
	background: #0e8bd1;
	background: #0e8bd1 \9;
	background-size: 10px auto;
}
.level3 a:hover {
	background: #e6ebf0;
}
.level3 .curParent .level4 .cur {
	background: #0e8bd1 url(/common/img/localnavi_lv4_cur.png) 10px center no-repeat;
	background-size: 10px auto;
}
.level4 {
	margin-bottom: -1px;
	overflow: hidden;
	zoom: 1;
}
.level4 .curParent {
}
.level4 .curParent a {
}
.level4 a {
	background-image: none;
	font-size: 85.7%;/* 12px */
	line-height: 1.4;
	padding: 12px 5px 12px 28px;
	position: relative;
	background: url(/common/img/localnavi_lv4.png) 10px center no-repeat;
	background: none \9;
	background-size: 10px auto;
}
.level4 a.cur {
	background: #0e8bd1;
}
.level4 .curParent .cur, .level4 .curParent .cur:hover {
	color: #fff;
	text-decoration: none;
}
.level4 a:hover {
	background: #dae0e6 url(/common/img/localnavi_lv4.png) 10px center no-repeat;
	background: #dae0e6 \9;
	background-size: 10px auto;
}

#companyMenu {
	clear: both;
	overflow: hidden;
	max-height: 0;
	background: #e6ebf0 url(/common/img/megadorop_line01.png) repeat-x top;
	border-bottom: 3px solid #0e8bd1;
	position: relative;
	z-index: 2;
}
#companyMenu .inner {
	margin: 0 auto 24px auto;
	padding: 40px 0 16px;
	max-width: 960px;
	width: 960px\9;/*for IE8*/
}
#companyMenu dl {
	float: left;
}
#companyMenu dl.group {
	width: 48.125%;
	margin-right: 1.875%
}
#companyMenu dl.csr {
	width: 24.0625%;
	margin-right: 1.875%
}
#companyMenu dl.governance {
/*width: 38.75%;*/
	width: 24.0625%;
}
#companyMenu dl dt {
	position: relaive;
	text-align: center;
	margin: 0;
	padding: 0 0 15px;
	border-bottom: 1px solid #c8cdd2;
	line-heigth: 1;
}
#companyMenu dl.group dt:before {
	background-position: 0 0;
}
#companyMenu dl.csr dt:before {
	background-position: 0 -50px;
}
#companyMenu dl.governance dt:before {
	background-position: 0 -100px;
}
#companyMenu dl dt a {
	font-size: 128.6%;
	font-weight: bold;
	line-height: 1;
}
#companyMenu dl dd {
}
#companyMenu dl.group ul{
	width: 47.5806%;
	margin: 0;
	padding: 0;
	float: left;
}
/*
#companyMenu dl.group ul, #companyMenu dl.governance ul {
	width: 47.5806%;
	margin: 0;
	padding: 0;
	float: left;
}
*/


#companyMenu dl.group ul:first-child, #companyMenu dl.csr ul:first-child {
	margin-right: 4.8387%;
}
#companyMenu dl dd ul {
}
#companyMenu dl dd ul {
/zoom : 1;
}
#companyMenu dl dd ul:after {
	content : '';
	display : block;
	clear : both;
	height: 0;
}
#companyMenu dl dd ul li {
}
#companyMenu dl dd ul li a {
	padding: 15px 10px;
	display: block;
	border-bottom: 1px solid #c8cdd2;
	font-size: 85.7%;/* 12px */
	line-height: 1.6;
}
.companyMenuBlock {
	clear: both;
	font-size: 128.6%;
	margin: 0 auto;
	text-align: center;
	border-bottom: 1px solid #c8cdd2;
	margin-bottom: 40px;
	padding-bottom: 15px;
}
.companyMenuBlock span {
	background: url(/common/img/logo_company.png) 0 50% no-repeat;
	padding: 20px 0 20px 60px;
}
.companyMenuBlock a {
	color: #0f67ba;
}
#serviceMenu {
	clear: both;
	overflow: hidden;
	max-height: 0;
	background: #e6ebf0 url(/common/img/megadorop_line01.png) repeat-x top;
	position: relative;
}
#serviceMenu_title {
	margin-top: 31px;
}
#serviceMenu_title p {
	color: #4b636d;
	text-align: center;
	border-bottom: none;
	font-size: 150%;
	padding: 0 0 0 0;
	margin: 27px 0 7px 0;
	margin: 27px auto 7px \9;/*for IE8*/
	width: 960px\9;/*for IE8*/
}
#serviceMenuCategory {
	margin: 0 auto 24px auto;
	max-width: 960px;
	width: 960px\9;/*for IE8*/
}
#serviceMenuCategory li {
	text-align: center;
	float: left;
	width: 18.43%;
	height: 137px;
	margin: 0 1.875% 20px 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: url(/common/img/logo_sprite.png) center 24px no-repeat;
}
#serviceMenuCategory li.serviceMenu01 {
	background-position: center -114px;
}
#serviceMenuCategory li.serviceMenu02 {
	background-position: center -448px;
}
#serviceMenuCategory li.serviceMenu03 {
	background-position: center -782px;
}
#serviceMenuCategory li.serviceMenu04 {
	background-position: center -1116px;
}
#serviceMenuCategory li.serviceMenu05 {
	background-position: center -1450px;
	margin: 0;
}
#serviceMenuCategory li.serviceMenu06 {
	background-position: center -1784px;
	margin-bottom: 0;
}
#serviceMenuCategory li.serviceMenu07 {
	background-position: center -2118px;
	margin-bottom: 0;
}
#serviceMenuCategory li.serviceMenu08 {
	background-position: center -2452px;
	margin-bottom: 0;
}
#serviceMenuCategory li.serviceMenu09 {
	background-position: center -2786px;
	margin-bottom: 0;
}
#serviceMenuCategory li.serviceMenu10 {
	background-position: center -3120px;
	margin: 0;
}
#serviceMenuCategory li.serviceMenu01:hover, #serviceMenuCategory li.serviceMenu02:hover, #serviceMenuCategory li.serviceMenu03:hover, #serviceMenuCategory li.serviceMenu04:hover {
	background-color: #dae0e6;
}
#serviceMenuCategory li.serviceMenu05:hover {
	background-color: #dae0e6;
}
#serviceMenuCategory li.serviceMenu06:hover, #serviceMenuCategory li.serviceMenu07:hover, #serviceMenuCategory li.serviceMenu08:hover, #serviceMenuCategory li.serviceMenu09:hover {
	background-color: #dae0e6;
}
#serviceMenuCategory li.serviceMenu10:hover {
	background-color: #dae0e6;
}

/*for Retina Display*/
@media(-webkit-min-device-pixel-ratio:2), (min-resolution:2dppx) {
#serviceMenuCategory li {
	background: url(/common/img/logo_sprite_2x.png) center 24px no-repeat;
	/*			background-size: 415px auto;*/
	background-size: 360px auto;
}
}
#serviceMenuCategory li a {
	padding: 103px 0 0 0;
	display: block;
	text-decoration: none;
	color: #4b636d;
}
#serviceMenuCategory li.serviceMenu01, #serviceMenuCategory li.serviceMenu02, #serviceMenuCategory li.serviceMenu03, #serviceMenuCategory li.serviceMenu04, #serviceMenuCategory li.serviceMenu05, #serviceMenuCategory li.serviceMenu06, #serviceMenuCategory li.serviceMenu07, #serviceMenuCategory li.serviceMenu08, #serviceMenuCategory li.serviceMenu09, #serviceMenuCategory li.serviceMenu10 {
	-moz-transition: all 0.2s ease; /*Firefox*/
	-webkit-transition: all 0.2s ease; /*Safari,Chrome*/
	-o-transition: all 0.2s ease; /*Opera*/
	transition: all 0.2s ease;
}
.serviceMenubtn {
	width: 150px;
	width: 960px\9;/*for IE8*/
	margin: 0 auto;
	text-align: center;
	clear: both;
	font-size: 112%;
}
.serviceMenubtn a {
	display: block;
	width: 150px;
	background: #0f67ba;
	padding: 15px 10px 15px 10px;
	margin: 0 auto 40px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	color: #fff;
	text-decoration: none;
	-moz-transition: all 0.2s ease; /*Firefox*/
	-webkit-transition: all 0.2s ease; /*Safari,Chrome*/
	-o-transition: all 0.2s ease; /*Opera*/
	transition: all 0.2s ease;
}
.serviceMenubtn a:hover {
	background: #004d9b;
}
/**
* footer
*/
#footer {
	height: 305px;
	width: 100%;
	padding: 0;
	background: #4b636d;
	color: #fff;
	margin-top: 70px;
}
#footer a {
	color: #fff;
	text-decoration: none;
}
#footer a:hover {
	text-decoration: underline;
}
#footer .section {
	margin: 0 auto;
	height: 305px;
	position: relative;
	width: 960px\9;/*for IE8*/
}
.sp_globalNav {
	float: left;
	margin-top: 15px;
}
.sp_globalNav ul {
	margin: 0;
	padding: 0;
}
.sp_globalNav li {
	float: left;
	font-size: 86%;
	margin: 0 30px 0 0;
	padding: 0;
}
.sp_globalNav a {
	color: #fff;
}

@media only screen and (min-width: 600px) {
#footer .btn {
	position: absolute;
	bottom: 0;
	right: 0;
	background: #0e8bd1 url(/common/img/footer_navi.png) no-repeat center center;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	width: 50px;
	height: 50px;
}
#footer .btn a {
	width: 50px;
	height: 50px;
	display: block;
	text-indent: -9999px;
}
#btnSP{
	display:none;
}
#btnSP a{
	display:none;
}
}

@media only screen and (max-width: 599px) {
	#footer .btn{
		display:none;
	}
	#footer .btn a{
		display:none;
	}
	#btnSP {
	position: fixed;
	bottom: 40px;
	right: 20px;
	background: rgba(0, 0, 0, 0.5) url(/common/img/sp_footer_navi.png) no-repeat center center;
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#77000000, EndColorStr=#77000000);
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-bottomright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	width: 50px;
	height: 50px;
	}
	#btnSP a {
		width: 50px;
		height: 50px;
		display: block;
		text-indent: -9999px;
	}
}

#footer .copyright {
	width: auto;
	margin: 0;
	padding: 0;
	color: #A5B1B7;
	position: absolute;
	left: 0;
	bottom: 15px;
}
#footer .copyright p {
	font-size: 100%;
	margin: 0;
}
#footer .copyright p small {
	font-size: 74%;
}
#footer .link_01 {
	position: absolute;
	right: 80px;
	bottom: 15px;
}
#footer .link_01 ul {
	margin: 0;
	padding: 0;
	margin-left: 240px;
}
#footer .link_01 li {
	font-size: 74%;
	padding: 0 0px 0 21px;
	float: left;
	text-align: right;
font-size:100%:
}
#footer .link_01 li a {
	color: #d2d8db;
}
#footer div.footer_recommend {
	background: #e6ebf0;
}
#footer .link_holdings {
	width: 100%;
	background: #435964;
	height: 150px;
	margin-top: 25px;
}
#footer .link_holdings_col01 {
	width: 240px;
	float: left;
}
#footer .link_holdings_col01 h3 {
	font-size: 100%;
	padding-left: 20px;
	padding-top: 25px;
	font-weight: bold;
}
#footer .link_holdings_col02 {
	width: 716px;
	float: left;
}
#footer .link_holdings_col02 ul {
	list-style: none;
	margin: 0;
	padding: 25px 0 0;
}
#footer .link_holdings_col02 ul li {
	width: 33%;
	float: left;
	font-size: 84%;
	margin-bottom: 5px;
}
#footer .link_holdings_col02 ul li a {
	font-weight: normal;
}

@media print {
#footer .section {
	width: 720px;
}
#footer .copyright {
	background: none;
	text-indent: 0;
}
#footer .link_01 {
	display: none;
}
}
/* ====================================

clearfix

==================================== */

.lh0 {
	line-height: 0;
}
/* For modern browsers */
.cf:after, #header:after, #header .section:after, #header .assistArea:after, #header .item_01:after, #header .item_02:after, #header .link_01:after, #header .fontSize:after, #globalNav:after, #globalNav ul:after, #content .section:after, #content .col_02:after, #content .colSection_01:after, #content .colSection_02:after, #pageTopArea .section:after, #footerSitemap .section:after, #footerSitemap .child:after, #footer:after, #footer .link_01:after, .mod_button_01 ul:after, .mod_button_02 ul:after, .mod_button_03 ul:after, .mod_button_09 ul:after, .mod_frame_04 dd:after, .mod_frame_05:after, .mod_frame_12:after, .mod_frame_13:after, .mod_frame_07 .sideTitle:after, .mod_frame_07 .innerArea:after, .mod_frame_07 .summary:after, .mod_frame_07_02 .sideTitle:after, .mod_frame_07_02 .innerArea:after, .mod_frame_07_02 .summary:after, /*.mod_interface_01:after,*/  .mod_frame_07 .sideTitle:after, .mod_frame_07 .innerArea:after, .mod_frame_07 .summary:after, .mod_frame_07_02 .sideTitle:after, .mod_frame_07_02 .innerArea:after, .mod_frame_07_02 .summary:after, .mod_interface_01:after, .mod_interface_02:after, .mod_interface_03:after, .mod_search_01:after, .mod_list_08:after, .mod_list_09:after, .frame_rad_01 .innerArea:after {
	content: "";
	display: table;
}
.cf:after, #header, #header .section:after, #header .assistArea:after, #header .item_01:after, #header .item_02:after, #header .link_01:after, #header .fontSize:after, #globalNav:after, #globalNav ul:after, #content .section:after, #content .col_02:after, #content .colSection_01:after, #content .colSection_02:after, #pageTopArea .section:after, #footerSitemap .section:after, #footerSitemap .child:after, #footer:after, #footer .link_01:after, .mod_button_01 ul:after, .mod_button_02 ul:after, .mod_button_03 ul:after, .mod_button_09 ul:after, .mod_frame_04 dd:after, .mod_frame_05:after, .mod_frame_07 .sideTitle:after, .mod_frame_07 .innerArea:after, .mod_frame_07 .summary:after, .mod_frame_07_02 .sideTitle:after, .mod_frame_07_02 .innerArea:after, .mod_frame_07_02 .summary:after, .mod_frame_12:after, .mod_frame_13:after, .mod_interface_01:after, .mod_interface_02:after, .mod_interface_03:after, .mod_search_01:after, .mod_list_08:after, .mod_list_09:after, .frame_rad_01 .innerArea:after {
	clear: both;
}
/* For IE 6/7 (trigger hasLayout) */
.cf, #header, #header .section, #header .assistArea, #header .fontSize, #globalNav, #globalNav ul, #content .section, #content .col_02, #content .colSection_01, #content .colSection_02, #pageTopArea .section, #footerSitemap .section, #footerSitemap .child, #footer, #footer .link_01, .mod_button_01 ul, .mod_button_02 ul, .mod_button_03 ul, .mod_button_09 ul, .mod_frame_04 dd, .mod_frame_05, .mod_frame_07 .sideTitle, .mod_frame_07 .innerArea, .mod_frame_07 .summary, .mod_frame_07_02 .sideTitle, .mod_frame_07_02 .innerArea, .mod_frame_07_02 .summary, .mod_frame_12, .mod_frame_13, .mod_interface_01, .mod_interface_02, .mod_interface_03, .mod_search_01, .mod_list_08, .mod_list_09, .frame_rad_01 .innerArea {
	zoom: 1;
}
/*responsible*/
/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/


/* common */
HTML, BODY, H1, H2, H3, H4, H5, H6, UL, OL, LI, DL, DT, DD,/*P,*/ FORM {
	margin: 0;
	padding: 0;
}
* {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
ARTICLE, ASIDE, DETAILS, FIGCAPTION, FIGURE, FOOTER, HEADER, HGROUP, MENU, NAV, SECTION {
	display: block;
3
}
BODY {
	webkit-text-size-adjust: 100%;
}
.box {
	float: left;
}
.boxR {
	float: right;
}
IMG {
	border: 0;
	max-width: 100%;
	height: auto;
	width /***/: auto;    /*IE8のみ適用*/
}
#header LI {
	list-style-type: none;
}
DIV.section {
	clear: both;
}
/******************/
/* for PC         */
/* 960px-1440px   */
/******************/

BODY.layoutB {
}
#content .section, #header .section, #footer .section, #path .section {
	max-width: 960px;
	margin: 0 auto;
}
#globalNav {
	min-width: 960px;
	margin: 0 auto;
}
#header .item_05 {
	display: none;
}
.serviceMenubtn_sp {
	display: none;
}
.mod_interface_04 {
	display: none;
}
#header {
	width: 100%;
}
#content {
}
.layoutB #col_02 {
	width: 70.833%;
	float: left;
}
.layoutB #col_01 {
	width: 22.916%;
	float: right;
}
.col_06 {
	width: 100%;
}
.col_07_1, .col_07_2 {
	width: 50%;
}
img.col07__bisection {
	width: 50%;
}
.col_08_1, .col_08_2, .col_08_3, .col_08_1left, .col_08_1right {
	width: 33.33%;
}
.col_08_12, .col_08_23 {
	width: 66.67%;
}
.col_01 {
	width: 23.75%;
}
.col_02 {
	width: 70.833%;
	margin: 20px 0 0;
}
.col_02 p {
	line-height: 1.8;
	margin: 13px 0;
}
.col_01b {
	width: 22.9%;
}
.col_02b {
	width: 70.8%;
}
.col_01 {
	margin-left: 2.291%;
}
.col_02 {
	margin-right: 3.125%;
}
.col_01b {
	padding-left: 3.15%;
}
.col_02b {
	padding-right: 3.15%;
}
.col_09_1, .col_09_2, .col_09_3, .col_09_4 {
	width: 25%;
}
.col_09_12 {
	width: 50%;
}
.col_09_3b {
	width: 25%;
}
.col_09_4b {
	width: 25%;
	float: right;
}
/* margin */
.col_06 {
}
/* 5050 fullsize */
.col_07_1 {
	padding-right: 0.9375%;
}
.col_07_2 {
	padding-left: 0.9375%;
}
/* 5050 */
.layoutB .col_07_1 {
	padding-right: 1.3235%;
}
.layoutB .col_07_2 {
	padding-left: 1.3235%;
}
/* 33 fullsize */
.col_08_1 {
	padding-right: 1.2500125%;
}
.col_08_2 {
	padding-left: 0.6250063%;
	padding-right: 0.6250063%;
}
.col_08_3 {
	padding-left: 1.2500125%;
}
/* 33 3 */
.layoutB .col_08_1 {
	padding-right: 0.9049758%;
}
.layoutB .col_08_2 {
	padding-left: 0.4524879%;
	padding-right: 0.4524879%;
}
.layoutB .col_08_3 {
	padding-left: 0.9049758%;
}
/* 3366 fullsize */
.col_08_1left {
	padding-right: 0.9375%;
}
.col_08_1right {
	padding-left: 0.9375%;
}/*→col_01*/
/* 3366 */
.layoutB .col_08_1left {
	padding-right: 1.3235%;
}
.layoutB .col_08_1right {
	padding-left: 1.3235%;
}
.col_08_12 {
	padding-right: 0.9375%;
}/*→col_02*/
.layoutB .col_08_12 {
	padding-right: 0%;
}
.col_08_23 {
	padding-left: 0.9375%;
}
.layoutB .col_08_23 {
	padding-left: 0%;
}
.col_09_1 {
	padding-right: 1.3933%;
}
.col_09_2, .col_09_3 {
	padding-left: 1.3933%;
	padding-right: 1.3933%;
}
.col_09_4 {
	padding-left: 1.3933%;
}
/* 25_4 fullsize B */
.col_09_12 {
	padding-right: 0.3125%;
}
.col_09_3b {
	padding-left: 0.3125%;
	padding-right: 0.3125%;
}
.col_09_4b {
	padding-left: 0.3125%;
}
.col_09_5, .col_09_6, .col_09_7, .col_09_8 {
	width: 25%;
}
.col_09_5 {
	padding-right: 1.3933%;
}
.col_09_6, .col_09_7 {
	padding-left: 1.3933%;
	padding-right: 1.3933%;
}
.col_09_8 {
	padding-left: 1.3933%;
}
#footer {
	clear: both;
	width: 100%;
}

/******************/
/* for Tablet    */
/* 600px-959px    */
/******************/
@media only screen and (min-width: 600px) and (max-width: 959px) {
/**
* CompanyMenu megamenu
*/

/* 732
170(357) 48.7704%
47.619%
4.7619%
17

170(680)   23.224%
17.333(52)   2.322%
*/
#companyMenu {
	padding: 0 1.875%;
}
#companyMenu dl {
	margin-bottom: 40px;
}
#companyMenu dl {
/zoom : 1;
}
#companyMenu dl:after {
	content : '';
	display : block;
	clear : both;
	height: 0;
}
#companyMenu dl.group, #companyMenu dl.csr {
	float: none;
	width: 100%;
}
#companyMenu dl.group ul{
	float: left;
	margin: 0;
	padding: 0;
	width: 48.7704%;
	margin-left: 2.322%;
	margin-right: 0;
}





#companyMenu dl.group ul:first-child {
	margin-left: 0;
	margin-right: 0;
}
#companyMenu dl.group ul li {
	width: 47.619%;
	margin-left: 4.7619%;
	float: left;
}
#companyMenu dl.group ul li:nth-child(2n-1){
	clear: left;
	margin-left: 0;
}
/*
#companyMenu dl.group ul:first-child, #companyMenu dl.csr ul:first-child {
	margin-left: 0;
	margin-right: 0;
}
#companyMenu dl.group ul li, #companyMenu dl.csr ul li {
	width: 47.619%;
	margin-left: 4.7619%;
	float: left;
}
#companyMenu dl.group ul li:nth-child(2n-1), #companyMenu dl.csr ul li:nth-child(2n-1) {
	clear: left;
	margin-left: 0;
}
*/


#companyMenu dl.governance {
	width: 100%;
}
#companyMenu dl.governance ul,
#companyMenu dl.csr ul{
	width: 100%;
}
#companyMenu dl.governance ul li,
#companyMenu dl.csr ul li{
	float: left;
	width: 23.224%;
	margin-left: 2.322%;
}
#companyMenu dl.governance ul li:nth-child(4n-3),
#companyMenu dl.csr ul li:nth-child(4n-3){
	margin-left: 0;
}
/* layout */
#content .section, #header .section, #footer .section, #path .section {
	max-width: 959px;
	margin: 0 auto;
}
#globalNav {
	min-width: 600px;
	margin: 0 auto;
	padding-left: 0;
	padding-right: 220px; /* mirai area fix */
	position: relative;
}
#header .assistArea {
	margin-right: 15px;
	top: 11px;
}
#globalNav li {
	width: 20%;
}
#globalNav li.mirai, #globalNav li.meet {
	position: absolute;
	right: 0;
	width: 220px;
}
#globalNav li a {
	width: auto!important;
}
#header .item_05 {
	display: none;
}
#header .search .field {
	width: 150px;
}
#header .fontSize {
	display: none!important;
}
#header .btn_01 {
}
#header .btn_01 li {
	width: auto;
}
#header .btn_01 .ja {
	height: 15px;
}
#header .btn_01 .en {
	height: 15px;
}
#footer {
	margin-top: 70px;
}
#footer .sp_globalNav, #footer .copyright {
	margin-left: 15px;
}
#footer .btn, #footer .link_01 {
	margin-right: 15px;
}
/*layout*/


#header {
	width: 100%;
}
#header .logo {
	margin-top: 7px;
	margin-left: 15px;
	float: left;
	width: 295px;
}
#header .assistArea {
	min-height: 41px;
}
#path ul {
	margin-left: 15px;
}
#content {
	margin-left: 4.6875%;
	margin-right: 4.6875%;
}
#content {
	width: 90.625%;
	float: none;
}
.layoutB #col_02 {
	width: 90.625%;
	float: none;
}
.layoutB #col_01 {
	display: none;
}
#header li {
	display: inline-block;
	width: 20%;
}
#header .logo {
	position: static;
}
.col_06 {
	width: 100%;
}
.col_07_1, .col_07_2 {
	width: 50%;
}
.col_08_1, .col_08_2, .col_08_3 {
	width: 50%;
}
.col_08_1a {
	width: 33.33333333333333%;
}
.col_08_12, .col_08_23 {
	width: 66.66666666666666%;
}
.col_01 {
	width: 100%;
}
.col_02 {
	width: 100%;
}
.col_09_1 {
	width: 50%;
}
.col_09_2, .col_09_3, .col_09_4 {
	width: 50%;
}
/* 25_4 fullsize B */
.col_09_12 {
	width: 100%;
}
.col_09_3b, .col_09_4b {
	width: 50% !important;
}
#footer {
	width: 100%;
}
/* margin */
.col_06 {
}
.col_07_1, .layoutB .col_07_1 {
	padding-right: 0.64654725%;
}
.col_07_2, .layoutB .col_07_2 {
	padding-left: 0.64654725%;
}
.col_08_1, .layoutB .col_08_1 {
	padding-right: 0.64654725%;
}
.col_08_2, .layoutB .col_08_2 {
	padding-left: 0.64654725%;
	padding-right: 0 !important;
}
.col_08_3, .layoutB .col_08_3 {
	padding-right: 0.64654725%;
	padding-left: 0 !important;
}
/* 複数時 */
.col_08_1:nth-child(2n-1), .col_08_2:nth-child(2n-1), .col_08_3:nth-child(2n-1) {
	padding-left: 0 !important;
	padding-right: 0.64654725% !important;
}
.col_08_1:nth-child(2n), .col_08_2:nth-child(2n), .col_08_3:nth-child(2n) {
	padding-left: 0.64654725% !important;
	padding-right: 0 !important;
}
.col_08_1left, .layoutB .col_08_1left, .col_08_12,/*→col_02*/ .layoutB .col_08_12/*→col_02*/ {
	padding-right: 0.6465472%;
}
.col_08_1right,/*→col_01*/ .layoutB .col_08_1right,/*→col_01*/ .col_08_23, .layoutB .col_08_23 {
	padding-left: 0.6465472%;
}
.col_01 {
	margin-left: 0 !important;
	margin-top: 30px !important;
}
.col_02 {
	padding-right: 0.6465472%;
}
.col_09_1, .layoutB .col_09_1, .col_09_3, .layoutB .col_09_3 {
	padding-left: 0.64654725%;
	padding-right: 0;
}
.col_09_2, .layoutB .col_09_2, .col_09_4, .layoutB .col_09_4 {
	padding-left: 0;
	padding-right: 0.64654725%;
}
/* 25_4 fullsize B */
.col_09_12 {
	padding-right: 0;
}
.col_09_3b {
	padding-left: 0;
	padding-right: 0.3606%;
}
.col_09_4b {
	padding-left: 0.3606%;
}
/**
* localNav
*/
.localNav {
	border-top: 1px solid #e6ebf0;
	margin-top: 49px;
}
.localNav .cur {
}
.level2 a {
	font-size: 114.3%; /* 18px */
	border-bottom: 1px solid #e6ebf0;
	text-decoration: none;
	display: block;
	padding: 16px 0 14px 12px;
}
.level2 a:hover {
	background-color: #e6ebf0;
}
.level3 {
	margin-bottom: -1px;
	overflow: hidden;
	zoom: 1;
}
.level3 .curParent {
	background: #e6ebf0;
}
.level3 .curParent a:hover {
	background: #dae0e6;
}
.level3 a {
	background-image: none;
	padding: 10px 0 9px 12px;
	border-bottom: 1px solid #c8cdd2;
}
.level3 .curParent .cur, .level3 .curParent .cur:hover {
	background: #0e8bd1;
	color: #fff;
	text-decoration: none;
}
.level3 a:hover {
	background: #e6ebf0;
}
.level4 {
	margin-bottom: -1px;
	overflow: hidden;
	zoom: 1;
}
.level4 .curParent {
}
.level4 .curParent a {
}
.level4 a {
	background-image: none;
	padding: 12px 5px 12px 28px;
	position: relative;
	line-height: 1.4;
}
.level4 a:before {
	content: "—";
	color: #0f67ba;
	font-size: 75%;
	position: absolute;
	margin: 1.7% 0 0;
	left: 12px;
	top: 5%;
}
.level4 a.cur {
	background-image: none!important;
}
.level4 a.cur:before {
	color: #fff;
}
.level4 .curParent .cur, .level4 .curParent .cur:hover {
	background: #0e8bd1;
	color: #fff;
	text-decoration: none;
}
.level4 a:hover {
	background: #dae0e6;
}
#footer {
	width: 100%;
}
#footer {
	height: 335px;
	width: 100%;
	padding: 0;
	background: #4b636d;
	color: #fff;
	margin-top: 70px;
}
#footer .section {
	margin: 0 auto;
	height: 335px;
	position: relative;
	width: 960px\9;/*for IE8*/
}
#footer .link_holdings {
	width: 95%;
	margin: 0 2.5%;
	background: #435964;
	height: 180px;
	margin-top: 25px;
}
#footer .link_holdings_col01 {
	width: 33.3333%;
	float: left;
}
#footer .link_holdings_col01 h3 {
	font-size: 100%;
	padding-left: 35px;
	padding-top: 25px;
	font-weight: bold;
}
#footer .link_holdings_col02 {
	width: 66.6666%;
	float: left;
}
#footer .link_holdings_col02 ul {
	list-style: none;
	margin: 0;
	padding: 25px 0 0;
}
#footer .link_holdings_col02 ul li {
	width: 50%;
	float: left;
	padding-bottom: 5px;
}
#footer .link_holdings_col02 ul li a {
	font-weight: normal;
}
}

/******************/
/* for SP-TB      */
/* 320px-767px    */
/* only Header    */
/******************/
@media only screen and (max-width: 767px) {
BODY {
	min-width: 320px;
}
#header {
	height: 44px;
	padding: 0;
	background: url(/common/img/bg_header_01.png) #ffffff repeat-x left -4px;
	width: 100%;
	box-shadow: 0 0 4px #555;
	position: relative;
}
#header .section {
	width: 100%;
	padding: 9px 0 0;
	max-width: none;
	margin: 0 auto;
}
#header .logo {
	margin-top: 0px;
	margin-left: 9px;
	float: left;
	width: 74%;
	position: static;
}
#header .logo a {
	display: inline-block;
	height: 35px;
	background: url(/common/img/logo_sprite.png) no-repeat;
	-moz-background-size: 205px auto;
	background-size: 205px auto;
	margin: 0;
	width: 88%;
}
/*for Retina Display*/

/*globalNavi*/

.animenu > ul, .animenu > ul ul {
	visibility: visible;
	opacity: 1;
}
.animenu input[type=checkbox]:checked ~ label, .animenu input[type=checkbox] ~ label:hover {
	color: #fff;
}
#spMenu {
	display: block;
}
#spMenu a {
	text-transform: uppercase;
	position: relative;
	display: block;
	background: url(/common/img/sp_menu1.png) no-repeat center center;
	-moz-background-size: 21px 15px;
	background-size: 21px 15px;
	text-indent: -9999px;
	margin: -7px 0 0;
	width: 42px;
	height: 42px;
	float: right;
}
#spMenu a.open {
	background: #0e8bd1 url(/common/img/sp_menu2.png) no-repeat center center;
	-moz-background-size: 21px 15px;
	background-size: 21px 15px;
}
.animenu {
	height: auto!important;
	position: relative;
	max-height: 0;
	overflow: hidden;
	clear: both;
	background: #fff;
	box-shadow: #555 0 4px 4px -4px;
	z-index: 9999;
}
.animenu > ul {
	position: relative;
	margin: 0.5714em 0 !important;
	padding: 0.25em;
	top: -8px;
}
.animenu > ul:after {
	content: '';
	position: absolute;
	left: 2em;
	top: -12px;
	border-bottom-color: inherit;
	background: none;
}
.animenu > ul li {
	display: block;
}
.animenu > ul > li {
	float: none;
	border: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.animenu > ul > li > a {
	float: none;
	display: block;
	padding: 1em;
}
.animenu > ul ul li:first-child > a {
}
.animenu > ul ul li:first-child > a:after {
	content: none;
}
.animenu > ul ul li:last-child > a {
}
.animenu > ul ul a {
	padding-left: 2em;
	display: block;
	width: auto;
}
#globalNav {
	min-width: 320px;
	margin-bottom: 0;
	padding: 0;
	border-top: 3px solid #0e8bd1;
	border-right: 0;
}
#globalNav a {
	color: #0f67ba;
	display: block;
	line-height: 1.2;
	padding: 13px 0!important;
}
#globalNav li {
	float: left;
	text-align: center;
	border-bottom: 1px solid #c8cdd2;
	font-size: 94%;
	width: 50%;
}
#globalNav li.mirai, #globalNav li.meet {
	position: static;
	right: inherit;
	width: 50%;
}
#globalNav li a {
	text-align: center!important;
	width: auto!important;
}
#globalNav .cur a {
	color: #fff;
}
#globalNav .service.cur a, #globalNav .company.cur a {
	background-color: #0e8bd1;
}
#globalNav .service.open a, #globalNav .company.open a {
	background: #fff;
	color: #0f67ba;
}
/*
#globalNav .service.open.cur a,
#globalNav .company.open.cur a {
background-color:#0e8bd1;
color:#fff;
}
*/
#globalNav .service a:after, #globalNav .company a:after, #globalNav .service.open a:after, #globalNav .company.open a:after, #globalNav .service.cur a:after, #globalNav .company.cur a:after {
	content: "";
}
#globalNav dd a {
	padding-top: 15px;
	padding-bottom: 5px;
}
#header .search {
	float: none;
}
#header .search .btn {
	float: none;
}
#header .search .field {
	float: none;
	width: 248px;
}
#header .fontSize {
	display: none;
}
#header .assistArea {
	position: static;
	padding: 120px 0 13px 0;
	margin: 0;
	right: 0;
	top: 0;
}
#header .btn_01 {
	float: none;
	width: 185px;
	margin: 0 auto;
}
#header .assistArea .search {
	text-align: center;
	padding: 15px 0 2px 0;
}
#header .assistArea dd {
	width: 45%;
	padding: 0;
	margin: 15px 0 5px;
	font-size: 100%;
}
#header .assistArea dd a {
}
#header .assistArea dd.ja {
	text-align: left;
	float: right;
	font-size: 74%;
	padding: 2px 0 0;
}
#header .assistArea dd.en {
	text-align: right;
	float: left;
	font-size: 86%;
}
#path {
	display: none;
}
#serviceMenu {
	display: none !important;
}
#companyMenu {
	display: none !important;
}
#footer .link_holdings_col01 h3 {
	font-size: 84%;
}
#footer .link_holdings_col02 ul li {
	font-size: 74%;
}
}

/*for TB,SP Retina Display*/
@media only screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio:2), only screen and (max-width: 767px) and (min-resolution:2dppx) {
#header .logo a {
	background: url(/common/img/logo_sprite_2x.png) 0 0 no-repeat;
	background-size: 180px auto;
	font-weight: normal;
}
}

@media only screen and (max-width: 750px) {
.col_08_23 {
	padding-left: 50px;
}
}

/******************/
/* for SP         */
/* 320px-599px    */
/******************/
@media only screen and (max-width: 599px) {
BODY {
	-webkit-text-size-adjust: 100%;
}
.col_02 {
	width: 70.833%;
	margin: 0 0 0;
}
.col_02 p {
	line-height: 1.8;
	margin: 10px 0;
}
#path, #footer .btn, #header .fontSize {
	display: none!important;
}
#serviceMenu {
	display: none !important;
}
#companyMenu {
	display: none !important;
}
#content .section, #header .section, #footer .section, #path .section {
	max-width: 599px;
	margin: 0 auto;
}

.sp_globalNav {
	width: 100%;
	float: none;
	margin-top: 0;
}
.sp_globalNav ul {
	display: block;
	min-width: 320px;
	clear: both;
	width: 100%;
	border-top: 1px solid #303f47;
}
.sp_globalNav li {
	float: left;
	border-bottom: 1px solid #303f47;
	font-size: 114.3% /* 16px */
	font-weight: bold;
	line-height: 0;
	word-wrap: break-word;
	background: #3c4f59;
	width: 50%;
	margin: 0;
}
.sp_globalNav a {
	color: #fff;
	display: block;
	line-height: 1.2;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
}
/* seta */
.sp_globalNav .current {
	background: #212e36;
}
/* 16px */
.sp_globalNav .service, .sp_globalNav .company, .sp_globalNav .employment {
	border-right: 1px solid #303f47;
}
#footer {
	height: auto;
}
#footer .section {
	height: auto;
}
#footer a:hover {
	text-decoration: none;
}
#footer .link_01 {
	min-width: 320px;
	clear: both;
	width: 100%;
	margin-top: 0px;
	margin-left: 0px;
	position: static;
}
#footer .link_01 ul {
	margin-left: 0px;
}
#footer .link_01 li {
	float: left;
	border-bottom: 1px solid #3b4f5a;
	font-size: 71.4%; /*10px*/
	line-height: 0;
	background: #4b636d;
	word-wrap: break-word;
	width: 50%;
	padding: 0;
}
#footer .link_01 li a {
	color: #fff;
	display: block;
	line-height: 1.2;
	padding-top: 9px;
	padding-bottom: 10px;
	text-align: center;
}
#footer .link_01 .line {
	border-right: 1px solid #3b4f5a;
}
#footer .copyright {
	text-align: center !important;
	width: 100%;
	margin: 0;
	padding: 8px 0;
	position: static;
	background: #4b636d;
}
#footer .copyright p {
	font-size: 100%;
	float: none;
	margin: 0;
}
#footer .copyright p small {
	font-size: 63%;
}
#footer .link_holdings {
	display: none;
}
/* layout */



#content {
	margin-left: 5.625%;
	margin-right: 5.625%;
}
.layoutB #col_02 {
	width: 88.75%;
	float: none;
}
#content {
	width: 88.75%;
	float: none;
}
#col_01 {
	display: none;
}
.col_06, .col_07_1, .col_07_2, .col_08_1, .col_08_2, .col_08_3, .col_08_1left, .col_08_1right,/*→col_01*/ .col_08_12,/*→col_02*/ .col_08_23, .col_09_1, .col_09_2, .col_09_3, .col_09_4, .col_09_12, .col_09_3b, .col_09_4b {
	width: 100%;
}
.col_01 {
	width: 100%;
	margin-top: 60px;
	margin-left: 0;
}
.col_02 {
	width: 100%;
}
#footer {
	width: 100%;
}
/* margin */
.col_06 {
}
.col_07_1 {
	padding-right: 0;
}
.col_07_2 {
	padding-left: 0;
}
.col_08_1left, .col_08_12/*→col_02*/ {
	padding-right: 0;
}
.col_01 {
	padding-left: 0;
}
.col_02 {
	padding-right: 0;
}
.col_08_1right,/*→col_01*/ .col_08_23 {
	padding-left: 0;
}
.col_08_1, .layoutB .col_08_1 {
	padding-right: 0;
}
.col_08_2, .layoutB .col_08_2 {
	padding-left: 0;
	padding-right: 0;
}
.col_08_3, .layoutB .col_08_3 {
	padding-left: 0;
}
.col_09_1 {
	padding-right: 0;
}
.col_09_2, .col_09_3 {
	padding-left: 0;
	padding-right: 0;
}
.col_09_4 {
	padding-left: 0;
}
.layoutB .col_09_1 {
	padding-right: 0;
}
.layoutB .col_09_2, .layoutB .col_09_3 {
	padding-left: 0;
	padding-right: 0;
}
.layoutB .col_09_4 {
	padding-left: 0;
}
.col_09_5, .col_09_6, .col_09_7, .col_09_8 {
	width: 100%;
}
.col_09_5, .col_09_6, .col_09_7, .col_09_8 {
	padding-left: 0;
	padding-right: 0;
}
#footer {
	width: 100%;
}
/**
* localNav
*/
.localNav {
	border-top: 1px solid #c8cdd2;
	margin-top: 47px;
}
.localNav .cur {
}
.level2 a {
	font-size: 114.3%; /* 16px */
	line-height: 1.6;
	border-bottom: 1px solid #c8cdd2;
	text-decoration: none;
}
.level2 a {
	display: block;
	padding: 14px 0 12px 12px;
}
.level2 a:hover {
	background-color: #e6ebf0;
}
.level3 {
	margin-bottom: -1px;
	overflow: hidden;
	zoom: 1;
}
.level3 .curParent {
	background: #e6ebf0;
}
.level3 .curParent a {
}
.level3 a {
	background-image: none;
	font-size: 85.7%; /* 12px */
	line-height: 1.6;
	padding: 10px 0 9px 12px;
	border-bottom: 1px solid #c8cdd2;
}
.level3 .curParent .cur, .level3 .curParent .cur:hover {
	background: #0e8bd1;
	color: #fff;
	text-decoration: none;
	background: #0e8bd1;
	background: #0e8bd1 \9;
	background-size: 10px auto;
}
.level3 a:hover {
	background: #e6ebf0;
}
.level4 {
	margin-bottom: -1px;
	overflow: hidden;
	zoom: 1;
}
.level4 .curParent {
}
.level4 .curParent a {
}
.level4 a {
	background-image: none;
	font-size: 85.7%; /* 12px */
	line-height: 1.6;
	padding: 12px 5px 12px 28px;
	position: relative;
	background: url(/common/img/localnavi_lv4.png) 10px center no-repeat;
	background: none \9;
	background-size: 10px auto;
}
.level4 a.cur {
	background: url(/common/img/localnavi_lv4_cur.png) 10px center no-repeat;
}
.level4 .curParent .cur, .level4 .curParent .cur:hover {
	background: #0e8bd1;
	color: #fff;
	text-decoration: none;
}
.level4 a:hover {
	background: #dae0e6 url(/common/img/localnavi_lv4.png) 10px center no-repeat;
	background: #dae0e6 \9;
	background-size: 10px auto;
}
#globalNav .mirai a {
	background: url(/common/img/globalnav_meet@2x.png) no-repeat center center;
	background-size: 80%;
}
#globalNav .mirai.cur a {
	background: url(/common/img/globalnav_meet_cur@2x.png) no-repeat center center;
	background-size: 80%;
}
}
/*==============================================================================
company menu
================================================================================ */

.companyMenu {
	position: relative;
	z-index: 2;
	background: #0b6fa7;
}
.companyMenu nav {
	width: 960px;
	margin: 0 auto;
}
.companyMenu ul {
	border-left: 1px solid #0a6496;
	border-right: 1px solid #0a6496;
	width: 960px\9;
	margin: 0 auto\9;
}
.companyMenu ul {
/zoom : 1;
}
.companyMenu ul:after {
	content : '';
	display : block;
	clear : both;
	height: 0;
}
.companyMenu ul li {
	float: left;
	border-right: 1px solid #0a6496;
	font-size: 100%;
	line-height: 0;
	word-wrap: break-word;
	color: #fff;
}
.companyMenu ul li a {
	color: #fff;
	display: block;
	height: 40px;
	padding: 20px;
	font-weight: bold;
	text-align: center;
	-moz-transition: all 0.15s ease; /*Firefox*/
	-webkit-transition: all 0.15s ease; /*Safari,Chrome*/
	-o-transition: all 0.15s ease; /*Opera*/
	transition: all 0.15s ease;
}
.companyMenu ul li a:hover {
	background-color: #0a679b;
	text-decoration: none;
}
.companyMenu ul li.cur a {
	background-color: #084d75;
	color: #fff;
}
/* bottom */
.spCompanyMenu {
	margin-top: 70px;
	margin-bottom: -70px; /* kill default margin*/
}
.spCompanyMenu nav {
}
.spCompanyMenu nav ul {
	border-top: 1px solid #c8cdd2;
	background: #e6ebf0;
}
.spCompanyMenu nav ul {
/zoom : 1;
}
.spCompanyMenu nav ul:after {
	content : '';
	display : block;
	clear : both;
	height: 0;
}
.spCompanyMenu nav ul li {
	width: 50%;
	float: left;
	border-right: 1px solid #c8cdd2;
	border-bottom: 1px solid #c8cdd2;
	font-size: 85.7%;
	line-height: 0;
	word-wrap: break-word;
	color: #0f67ba;
}
.spCompanyMenu nav ul li:last-child {
	border-right: none;
}

.spCompanyMenu nav ul li a {
	color: #0f67ba;
	display: block;
	height: 40px;
	padding: 20px 0px;
	font-weight: bold;
	background: #e6ebf0;
	padding: 20px0 5.625%;
	text-align: center;
}
.spCompanyMenu nav ul li.current {
	border-bottom: 1px solid #0b6fa7!important;
	color: #fff;
}
.spCompanyMenu nav ul li.current a {
	background: #0b6fa7!important;
	color: #fff;
}

@media only screen and (min-width: 960px) {
.spCompanyMenu {
	display: none;
}
}

@media only screen and (min-width: 600px) and (max-width: 959px) {
.companyMenu {
}
.companyMenu nav {
	width: 100%;
}
.spCompanyMenu {
	display: none;
}
}

@media only screen and (max-width: 767px) {
.companyMenu {
	display: none;
}
.spCompanyMenu {
	display: block;
}
}
/*==============================================================================
footer social
================================================================================ */

#contents + #footer {
	margin-top: 70px;
}
#footerSocial + #footer {
	margin-top: 0;
}
#footerSocial {
	margin-top: 70px;
	background: #3c4f59;
}
#footerSocial .section {
	margin: 0 auto;
	width: 960px;
	padding: 15px 0;
}
#footerSocial .section {
/zoom : 1;
}
#footerSocial .section:after {
	content : '';
	display : block;
	clear : both;
	height: 0;
}
#footerSocial .section p {
	float: left;
}
#footerSocial .section p img {
	width: 304px;
	margin-top: 5px;
}
#footerSocial .section ul {
	float: right;
}
#footerSocial .section ul li {
	float: left;
}
#footerSocial .section ul li {
	float: left;
	position: relative;
	margin-left: 20px;
}
#footerSocial .section ul li:after {
	content: "";
	display: block;
	position: absolute;
	top: 6px;
	left: -16px;
	width: 1px;
	height: 40px;
	/*background: #303f47;*/
}
#footerSocial .section ul li:first-child:after {
	display: none;
}
#footerSocial .section ul li img {
	width: 50px;
}

@media only screen and (min-width: 600px) and (max-width: 959px) {
#footerSocial .section {
	margin: 0 auto;
	width: auto;
	padding: 15px 15px;
}
}



@media only screen and (max-width: 599px) {
#footerSocial .section {
	margin: 0 auto;
	width: auto;
	padding: 15px 15px;
}
#footerSocial .section p {
	float: none;
	text-align: center;
}
#footerSocial .section ul {
	/*float: none;
	text-align: center;
	margin: 10px 0;*/
    text-align: left;
    margin: 10px 0 0 0;
    float: left;
    position: relative;
    /*width: 68%;
    left: 25%;*/
}
#footerSocial .section ul li {
	float: none;
	display: inline-block;
	/*margin: 0 15px;*/
    margin: 0px 2.5% 18px 2.5%;
}
#footerSocial .section ul li:after {
	display: none;
}
}




/*SNSボタン追加　152826*/
/*TB*/
/*@media only screen and (min-width: 415px) and (max-width: 768px) {*/
@media only screen and (min-width: 569px) and (max-width: 768px) {
#footerSocial .section {
	margin: 0 auto;
	width: auto;
	padding: 25px 0px 37px 0;
}
#footerSocial .section p {
    float: none;
    text-align:center;
    padding-bottom: 14px;
}
#footerSocial .section ul {
width: 420px;
margin: 0 auto;
float: none;
}
#footerSocial .section ul li{
 margin:0 10px 0 10px;
}
}

@media only screen and (min-width: 481px) and (max-width: 568px) {
#footerSocial .section ul{
    left: 5%;
	width: 100%;
}
}

@media only screen and (min-width: 415px) and (max-width: 480px) {
#footerSocial .section ul{
    left: -1% !important;
    width: 102%;
}
}

@media only screen and (min-width: 376px) and (max-width: 414px) {
#footerSocial .section ul{
    width: 68%;
    left: 25% !important;
}
#footerSocial .section ul li.sp{
    margin: 0 2.5% 8px 2.5%;
}
}

@media only screen and (min-width: 321px) and (max-width: 375px) {
#footerSocial .section ul{
    width: 68%;
    left: 23%;
}
}
@media only screen and (min-width: 1px) and (max-width: 320px) {
#footerSocial .section ul{
    width: 68%;
    left: 18%;
}
}