@charset "utf-8";
/* base.css解除・修正CSS */

#footerSocial {
	margin-top: 0;
}
#footer {
	margin-top: 0;
}
/*==============================================================================
Index
================================================================================ */

/* article */
.index_article {
	position: relative;
}
.photo {
}
.photo .pc {
}
.photo .smd {
	display: none;
}
.photo .pc img, .photo .smd img {
	width: 100%;
}
.index_article_inner {
	position: absolute;
	top: 0;
	left: 50%;
	width: 960px;
	margin-left: -480px;
}
.article_data {
	padding-top: 26px;
	padding: 0 15px 0 535px;
	font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}
.article_data {
	padding-top: 40px;
}

@media only screen and (min-width: 1200px) {
.article_data {
	padding-top: 70px;
}
}

@media only screen and (min-width: 960px) and (max-width: 1200px) {
.article_data {
	padding-top: 40px;
}
}
.article_subtitle {
	padding-top: 0px;
	padding-bottom: 10px;
}
.article_data .logo {
}
.article_data ul {
	display: inline;
	list-style: none;
	margin: 0 0 5px;
	padding: 0;
	width: 100%;
	float: left;
	text-align: left;
}
.article_data ul li {
	display: inline;
	font-size: 100%; /* 14px */
	font-weight: bold;
	text-align: center;
}
.article_data p {
}
.article_data .caption {
	color: #4C6471;
	font-weight: bold;
	line-height: 1.4;
	margin: 0 0 5px;
	clear: both;
}
.article_data .caption a {
	color: #4C6471;
	font-size: 228.6%;/* 32px */
}
.article_data .caption2 {
	overflow: hidden;
}
.article_data .caption2 img {
	height: 13px;
	margin-right: 16px;
	float: left;
}
.article_data .caption2 .caption2__subtitle {
	line-height: 1;
	padding-top: 1px;
}
 @-moz-document url-prefix() {
.article_data .caption2 img {
vertical-align:middle;
}
}
.article_data .caption a:hover {
	text-decoration: none;
}
.article_data .summary {
	color: #4C6471;
	font-size: 100%;/* 14px */
	line-height: 1.8;
	margin: 0px 0 10px;
}
.article_data .tags {
font-size:85.7%%;/* 12px */
	line-height: 1.2;
}
.article_data .tags a {
	color: #4c6471;
}
.article_data .tags:before {
	content : '';
	display : inline-block;
	width: 18px;
	height: 16px;
	background-image: url(/img/icon_tags2.png);
}
.article_data .tags span {
	margin: 0 5px;
}
.read_more {
	margin-top: 20px;
}
.read_more a {
	background: rgba(0, 0, 0, 0.5);
	background: #746e70\9;
	color: #fff!important;
	font-weight: normal;
	padding: 7px 10px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	font-size: 112%;
}
.read_more a:hover {
	background: rgba(0, 0, 0, 0.7);
	background: #524e4f\9;
	text-decoration: none;
}

/* cols */
.col_index_01 {
	float: left;
	width: 74.5833%; /* 716 */
	margin-top: 26px;
}
.col_index_02 {
	float: left;
	width: 25.4166%; /* 244 */
	padding-left: 1.6666%; /* 16 */
	margin-top: 26px;
}
.col_index_02:after, .col_index_02:after {
	clear: both;
	content: "";
	display: table;
}
article_recommend {
}
.article_recommend {
/zoom : 1;
}
.article_recommend:after {
	content : '';
	display : block;
	clear : both;
	height: 0;
}
article_timeline {
}
article_timeline {
/zoom : 1;
}
article_timeline:after {
	content : '';
	display : block;
	clear : both;
	height: 0;
}
.mod_index_article {
	float: left;
	height: 315px;
	margin-bottom: 26px;
	position: relative;
	color: #fff;
	overflow: hidden\9;
}
.mod_index_article {
/zoom : 1;
}
.mod_index_article:after {
	content : '';
	display : block;
	clear : both;
	height: 0;
}
.mod_index_article a:link, .mod_index_article a:hover, .mod_index_article a:active, .mod_index_article a:visited {
	color: #fff;
	text-decoration: none;
}
/*
716 (  228 -> 31.8435%, 16 -> 2.2346%, 472 -> 65.9217% )
*/
.mod_index_article.col1-3rd {
	width: 31.8435%;
}
.mod_index_article.col2-3rd {
	width: 65.9217%;
}
.mod_index_article.col-1, .mod_index_article.col-3 {
	margin-left: 0;
	clear: left;
}
.mod_index_article.col-2, .mod_index_article.col-4 {
	margin-left: 2.2346%;
}
/* col1-3rd */
.mod_index_article.col1-3rd {
	background: rgba(0,0,0, 0.5);
filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#77000000, EndColorStr=#77000000);
　/* IE用 */
-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#77000000,EndColorStr=#77000000)";
　/* IE用 */
min-height: 315px;
	height: 315px\9;
}
.mod_index_article.col1-3rd:not(:target) {
	filter: none;
	-ms-filter: none;
}
.mod_index_article.col1-3rd:hover {
	background: rgba(0,0,0, 0.7);
filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#77000000, EndColorStr=#77000000);
　/* IE用 */
-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#77000000,EndColorStr=#77000000)";
　/* IE用 */
}
.mod_index_article.col1-3rd:hover:not(:target) {
	filter: none;
	-ms-filter: none;
}
.mod_index_article.col1-3rd .pic {
	height: 151px;
	overflow: hidden;
}
.mod_index_article.col1-3rd:hover img {
	opacity: 0.7;
	filter: alpha(opacity=70);
	-ms-filter: "alpha( opacity=70 )";
	background: #000;
}
.mod_index_article.col1-3rd dl {
	/*  height:163px;*/
	min-height: 163px;
	/*  padding:10px 4.687% 2em;*/
	padding: 10px 4.687% 3em;
	position: relative;
}
.mod_index_article.col1-3rd dl dt {
	font-size: 128.6%; /* 18px */
	line-height: 1.4;
	word-break: break-all;
}
.mod_index_article.col1-3rd dl dd {
	font-size: 85.7%; /* 12px */
	line-height: 1.4;
}
.mod_index_article.col1-3rd dl dd.datetime {
	position: absolute;
	bottom: 18px;
	color: rgba(255,255,255, 0.7);
	margin-right: 50%;
	text-transform: uppercase;
}
.mod_index_article.col1-3rd dl dd.author {
	position: absolute;
	bottom: 10px;
	right: 60px;
	color: rgba(255,255,255, 0.7);
}
.mod_index_article.col1-3rd dl dd.photo {
	position: absolute;
	bottom: 0;
	right: 0;
}
/* col2-3rd */
.mod_index_article.col2-3rd {
	min-height: 315px;
	height: 315px\9;
}
.mod_index_article.col2-3rd dl {
	position: absolute;
	top: 0;
	z-index: 1;
	min-height: 315px;
	width: 100%;
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 40%, rgba(0,0,0,0.7) 60%, rgba(0,0,0,0.9) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(40%, rgba(0,0,0,0)), color-stop(60%, rgba(0,0,0,0.7)), color-stop(100%, rgba(0,0,0,0.9))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 40%, rgba(0,0,0,0.7) 60%, rgba(0,0,0,0.9) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 40%, rgba(0,0,0,0.7) 60%, rgba(0,0,0,0.9) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 40%, rgba(0,0,0,0.7) 60%, rgba(0,0,0,0.9) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 40%, rgba(0,0,0,0.7) 60%, rgba(0,0,0,0.9) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#e6000000', GradientType=0 ); /* IE6-9 */
	background: rgba(0,0,0, 0.3)\9;
}
.mod_index_article.col2-3rd dl:hover {
	width: 100%;
	background: -moz-linear-gradient(top, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.5) 40%, rgba(0,0,0,0.7) 60%, rgba(0,0,0,0.9) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,0.3)), color-stop(40%, rgba(0,0,0,0.5)), color-stop(60%, rgba(0,0,0,0.7)), color-stop(100%, rgba(0,0,0,0.9))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.5) 40%, rgba(0,0,0,0.7) 60%, rgba(0,0,0,0.9) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.5) 40%, rgba(0,0,0,0.7) 60%, rgba(0,0,0,0.9) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.5) 40%, rgba(0,0,0,0.7) 60%, rgba(0,0,0,0.9) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.5) 40%, rgba(0,0,0,0.7) 60%, rgba(0,0,0,0.9) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#e6000000', GradientType=0 ); /* IE6-9 */
	background: rgba(0,0,0, 0.5)\9;
}
.mod_index_article.col2-3rd dl {
	/*padding:35% 4.687% 15px;*/
	padding: 160px 2.118644068% 2em;
	min-height: 315px;
	height: 315px\9;
}
.mod_index_article.col2-3rd dl dt {
	font-size: 200%; /* 28px */
	line-height: 1.25;
}
.mod_index_article.col2-3rd dl dd {
	font-size: 85.7%; /* 12px */
	line-height: 1.4;
}
.mod_index_article.col2-3rd dl dd.datetime {
	position: absolute;
	bottom: 18px;
	color: rgba(255,255,255, 0.7);
	text-transform: uppercase;
}
.mod_index_article.col2-3rd dl dd.author {
	position: absolute;
	bottom: 10px;
	right: 60px;
	color: rgba(255,255,255, 0.7);
}
.mod_index_article.col2-3rd dl dd.photo {
	position: absolute;
	bottom: 0;
	right: 0;
}
.mod_index_article .pic {
}
.mod_index_article .pic img {
	width: 100%;
}
/* aside */
.col_index_aside01 {
}
.col_index_aside02 {
}
.mod_index_bnr {
	margin: 0 0 26px;
}
.mod_index_bnr img {
	width: 100%;
}
.mod_index_stock {
	background: rgba(0,0,0, 0.5);
filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#77000000, EndColorStr=#77000000);
　/* IE用 */
-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#77000000,EndColorStr=#77000000)";
　/* IE用 */
padding: 35px 0;
	margin: 0 0 26px;
	border: none;
	width: 100%;
	color: #fff;
	width: 228px;
	min-height: 228px;
}
.mod_index_stock:not(:target) {
	filter: none;
	-ms-filter: none;
}
.mod_index_stock h2 {
	font-size: 128.6%;/*  18px */
	line-height: 1.3;
	text-align: center;
}
.mod_index_stock .scode {
	font-size: 85.7%;/*  12px */
	line-height: 1.3;
	text-align: center;
}
.mod_index_stock .pvalue {
	font-size: 342.8%;/*  48px */
	line-height: 1.3;
	text-align: center;
}
.mod_index_stock .points {
	font-size: 171.4%;/*  24px */
	line-height: 1.3;
	text-align: center;
	color: #76BF4C;
}
.mod_index_stock .date {
	font-size: 85.7%;/*  12px */
	line-height: 1.3;
	text-align: center;
}
.ticker {
	height: 250px;
}
.mod_index_news {
	background: #fff;
	padding: 30px 6.5789% 20px;
	margin: 0 0 26px;
}
.mod_index_news h2 {
	font-size: 114.3%;/*  16px */
	line-height: 1.4;
	padding-bottom: 20px;
	text-align: center;
}
.mod_index_news dl {
	font-size: 85.7%;/*  12px */
	line-height: 1.4;
}
.mod_index_news dt {
	margin: 0 0 5px;
}
.mod_index_news dd {
	margin: 0 0 15px;
}
.mod_index_news .mod_button_12c {
	text-align: center;
	padding-top: 5px;
}
.mod_index_fb {
	padding: 35px 6.5789% 20px;
	margin: 0 0 26px;
	background: rgba(0,0,0, 0.5);
filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#77000000, EndColorStr=#77000000);
　/* IE用 */
-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#77000000,EndColorStr=#77000000)";
　/* IE用 */
border: none;
	color: #fff;
	height: 388px;
	overflow: auto;
}
#facebook-feed {
	word-wrap : break-word;
}
.mod_index_fb:not(:target) {
	filter: none;
	-ms-filter: none;
}
.mod_index_fb h2 {
	font-size: 128.6%;/*  18px */
	line-height: 1.3;
	text-align: center;
	margin: 0 0 5px;
}
.mod_index_fb .fb-like {
	margin: 0 0 0 40px;
	width: 140px!important;
	height: 25px!important;
	overflow: hidden!important;
}
.mod_index_fb #facebook-feed {
}
.mod_index_fb #facebook-feed ul {
	margin: 0 0 15px;
}
.mod_index_fb #facebook-feed ul li {
	padding: 20px 0;
	/*	border-bottom:1px solid rgba(255,255,255, 0.5);*/
	font-size: 85.7% /* 12px */
}
.mod_index_fb #facebook-feed ul li span {
	color: rgba(255,255,255, 0.7);
}
.mod_index_fb .mod_button_12c {
	text-align: center;
	margin-bottom: 20px;
}
.extra table td span.pc {
	display: block;
}
.extra table td span.tb {
	display: none;
}

/******************************************************/
/* for Tablet                                         */
/* 600px-959px                                        */
/******************************************************/

@media only screen and (min-width: 600px) and (max-width: 959px) {
.extra table td span.pc {
	display: none !important;
}
.extra table td span.tb {
	display: block !important;
}
#content {
	float: none;
	width: 100%;
	margin: 0;
}
/* article */
.index_article {
	position: relative;
}
.photo {
}
.photo .pc {
	display: none;
}
.photo .smd {
	display: block;
}
.index_article_inner {
	position: static;
	top: inherit;
	left: inherit;
	width: 100%;
	margin: 0;
}
.article_data {
	padding: 30px 3.2552% 40px;
}
.article_data p {
}
.article_subtitle {
	padding: 0;
	margin-bottom: 20px;
}
.article_data .caption2 {
	overflow: visible;
	text-align: center;
}
.article_data .caption2 img {
	float: none;
	margin: 0;
	vertical-align: top;
}
.article_data .caption2 .caption2__subtitle {
	padding: 0;
	margin-top: -2px;
}
.article_data .caption {
	line-height: 1.2;
	margin: 0 0 15px;
	;
}
.article_data .caption a {
	font-size: 257.2%;/* 36px */
}
.article_data .summary {
font-size:114.3%%;/* 16px */
	line-height: 1.6;
	text-align: left;
}
.article_data .tags {
	text-align: center;
}
.article_data .tags:before {
}
.article_data .tags span {
}
.read_more {
	text-align: center
}
.col_index_01 {
	float: none;
	width: 100%;
	padding: 0 3.2552%;
}
.col_index_02 {
	clear: both;
	float: none;
	width: 100%;
	padding: 0 3.2552% 60px;
}
.mod_index_article. col-1, .mod_index_article. col-2, .mod_index_article. col-3, .mod_index_article. col-4 {
margin-left:0;
}
/* col1-3rd */
.mod_index_article.col1-3rd {
/*	  height:315px;*/
}
.mod_index_article.col1-3rd dl {
	/*	  height:163px;*/
	padding: 10px 4.687%;
	position: relative;
}
/* col2-3rd */
.mod_index_article.col2-3rd {
	/*	  height:315px;*/
	overflow: hidden;
}
.mod_index_article.col2-3rd dl {
	position: absolute;
	top: 0;
	z-index: 1;/*	  height:315px;*/
}
.mod_index_article.col2-3rd dl {
/*	  padding:35% 4.687% 15px;*/
}

/* aside */	
.col_index_02 {
/zoom : 1;
margin-top: 0;
}
.col_index_02:after {
content : '';
display : block;
clear : both;
height: 0;
}
.col_index_aside01 {
width: 68.1564%;
float: left;
}
.col_index_aside02 {
float: right;
width: 31.8435%;
}
.col_index_aside03 {
float: right;
width: 31.8435%;
}
.mod_index_bnr, .mod_index_stock, .mod_index_news {
width: 46.5%;
margin-right: 3.5%;
}
.mod_index_fb {
}
.mod_index_stock {
float: left;
}
.mod_index_news {
float: left;
width: 97%;
}
.mod_index_bnr {
width: 100%;
min-height: 100%;
}
.article_data ul {
display: inline;
list-style: none;
margin: 0 0 5px;
padding: 0;
width: 100%;
float: left;
text-align: center;
}
}

/******************************************************/
/* for SP                                             */
/* 320px-599px                                        */
/******************************************************/

@media only screen and (max-width:599px) {
.extra table td span.pc {
	display: none !important;
}
.extra table td span.tb {
	display: block !important;
}
#content {
	float: none;
	width: 100%;
	margin: 0;
}
/* article */
.index_article {
	position: relative;
}
.photo {
}
.photo .pc {
	display: none;
}
.photo .smd {
	display: block;
}
.index_article_inner {
	position: static;
	top: inherit;
	left: inherit;
	width: 100%;
	margin: 0;
}
.article_data {
	padding: 20px 5.625% 35px;
}
.article_data p {
	font-size: 100%;/* 14px */
}
.article_data .caption a {
	line-height: 1.4;
	margin-bottom: 20px;
	font-size: 200%;
}
.article_subtitle {
	padding: 0;
	margin-bottom: 15px;
}
.article_data .caption2 {
	overflow: visible;
	text-align: center;
}
.article_data .caption2 img {
	float: none;
	margin: 0;
	vertical-align: top;
}
.article_data .caption2 .caption2__subtitle {
	padding: 0;
	margin-top: -2px;
	font-size: 85.7%;/* 12px */
}
.article_data .summary {
font-size:100%%;/* 14px */
	line-height: 1.6;
	margin-bottom: 20px;
}
.article_data .tags {
font-size:85.7%%;/* 12px */
	line-height: 1.2;
	position: relative;
	text-align: center;
}
.article_data .tags:before {
	content : '';
	display : inline-block;
	width: 18px;
	height: 16px;
	background-image: url(/img/icon_tags2.png);
}
.article_data .tags span {
	margin: 0 5px;
}
.read_more {
	text-align: center
}
.col_index_01 {
	float: none;
	margin-top: 0;
	padding: 0;
}
.col_index_02 {
	clear: both;
	float: none;
	width: 100%;
	padding: 0;
}
.article_recommend, .article_timeline {
	margin: 0;
	padding: 0;
}
.mod_index_article.col1-3rd, .mod_index_article.col2-3rd {
	background: #fff !important;
	margin: 0 0 0 !important;
	padding: 15px 2.08333%;
	border-bottom: 1px solid #C8CDD2;
	color: #4C6471;
	float: none !important;
	clear: both;
	width: 100%;
	height: auto;
	min-height: 1px;
}
.mod_index_article a:link, .mod_index_article a:hover, .mod_index_article a:active, .mod_index_article a:visited {
	color: #4C6471;
}
.mod_index_article.col1-3rd .pic, .mod_index_article.col2-3rd .pic {
	height: auto;
	float: left;
	width: 28.125%;
}
.mod_index_article.col1-3rd dl, .mod_index_article.col2-3rd dl {
	position: static;
	height: auto;
	min-height: 1px;
	margin-left: 32.122%;
	width: 67.877%;
	padding: 0 2.094%;
	padding: 0;
	background: none;
}
.mod_index_article.col1-3rd dl, .mod_index_article.col2-3rd dl:hover {
	background: none;
	position: static;
	height: auto;
	min-height: 1px;
	margin-left: 32.122%;
	width: 67.877%;
	padding: 0 2.094%;
	padding: 0;
}
.mod_index_article.col1-3rd dl dt, .mod_index_article.col2-3rd dl dt {
	margin: 0;
	padding: 0;
	font-size: 114.3% !important;
	line-height: 1.4;
}
.mod_index_article.col1-3rd dl dd.datetime, .mod_index_article.col2-3rd dl dd.datetime {
	position: static;
	bottom: inherit;
	color: #4C6471;
}
.mod_index_article dl dd.author, .mod_index_article dl dd.photo {
	display: none;
}
.col_index_aside01 {
	margin: auto;
	float: none;
}
.csol_index_aside02 {
	width: 228px;
	margin: auto;
	float: none;
}
.mod_index_bnr, .mod_index_stock {
}
.mod_index_stock {
	float: none;
}
.mod_index_bnr {
	float: none;
}
.mod_index_news {
	background: #FFF;
	padding: 35px 6.5789% 20px;
	width: 228px;
	margin: 0 auto 26px;
}
.mod_index_bnr {
	float: none;
	width: 228px;
	margin: 0 auto 26px;
}
.mod_index_fb {
display:none;
}
.mod_index_fb:not(:target) {
	filter: none;
	-ms-filter: none;
}
.mod_index_fb h2 {
	font-weight: bold;
}
.col_index_01 {
	float: left;
	width: 100%;
	margin-bottom: 26px;
}
.mod_index_fb #facebook-feed ul {
}
}
.mod_index_contents_title {
	background-color: rgba(255,255,255,0.5);
filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#77FFFFFF, EndColorStr=#77FFFFFF);
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#77FFFFFF,EndColorStr=#77FFFFFF)";
	color: #fff;
	float: left;
	width: 100%;
	margin-bottom: 25px;
	width: 715px\9;
}
.mod_index_contents_title:not(:target) {
	filter: none;
	-ms-filter: none;
}
.mod_index_contents_title .img {
	width: 278px;
}
.mod_index_contents_title p {
	float: left;
	padding: 20px 0 13px 20px;
	color: #333333;
}
.mod_index_contents_title .tx {
	margin-top: 13px;
}

@media only screen and (max-width:599px) {
.read_more a {
	padding: 12px 10px;
}
.mod_index_contents_title {
	background: #fff;
	margin: 0;
	border-bottom: 1px solid #C8CDD2;
}
.mod_index_contents_title .img {
	padding: 40px 0 20px;
	margin: 0 auto;
	float: none;
	width: 210px;
}
.mod_index_contents_title .tx {
	display: none;
}
}
 @-moz-document url-prefix() {
#footer {
margin-bottom:-25px;
}
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
#footer {
	margin-bottom: -28px;
}
}


/*----------------*
headline style 
*-----------------*/
.headlineOuter {
	color: #fff;
	background: rgba(0, 0, 0, 0.5);
filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#77000000, EndColorStr=#77000000);/* IE用 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#77000000,EndColorStr=#77000000)";/* IE用 */
}
.headlineInner {
	width: 960px;
	margin: 0 auto;
	position: relative;
}
.headline__heading {
	font-size: 100%;/* 14px */
	font-weight: bold;
	float: left;
	padding-right: 20px;
	padding-top: 14px;
}
.headlineTicker {
	width: 90%;
	height: 50px;
}
.headlineTicker__inner {
	position: relative;
	overflow: hidden;
	padding-top: 14px;
	height: 50px !important;
}
.headlineTicker__inner ul {
	width: 100%;
	position: relative;
}
.headlineTicker__inner ul li {
	display: none;
	height: 50px;
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.headlineTicker__inner ul li a {
	color: #fff;
	font-weight: normal;
}
.btn_readmore {
	background-image: url(../img/icon_read-more.png);
	background-color: rgba(0,0,0, 0.2);
filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#77000000, EndColorStr=#77000000);/* IE用 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#77000000,EndColorStr=#77000000)";/* IE用 */
	background-repeat: no-repeat;
	background-position: center center;
	position: absolute;
	top: 0;
	right: 0;
	width: 50px;
	height: 50px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}
.btn_readmore.js-btn_opened {
	background-image: url(../img/icon_read-more-close.png);
}
.btn_readmore:hover, .btn_readmore.js-btn_opened:hover {
	background-color: rgba(0,0,0, 0.45);
filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#77000000, EndColorStr=#77000000);/* IE用 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#77000000,EndColorStr=#77000000)";/* IE用 */
}
.headlineList {
	display: none;
}
.headlineList ul li:first-child {
	border-top: 1px solid #888;
}
.headlineList ul li {
	padding: 10px 0;
	border-bottom: 1px solid #888;
	overflow: hidden;
}
.headlineList ul li .list__date {
	color: #ccc;
	float: left;
	width: 160px;
}
.headlineList ul li .list__title {
	color: #aaa;
	width: 800px;
	float: right;
}
.headlineList ul li .list__title a {
	color: #fff;
	font-weight: normal;
}
.btn_list__more {
	margin: 0 auto;
	padding: 20px 0;
	width: 200px;
	text-align: center;
}

@media only screen and (min-width: 600px) and (max-width: 959px) {
.headlineInner {
	width: 100%;
	padding: 0 3.2552%;
}
.btn_readmore {
	right: 3.2552%;
}
.headlineList ul li .list__date {
	width: 19%;
}
.headlineList ul li .list__title {
	width: 80%;
	padding-left: 1%;
}
}

@media only screen and (max-width:599px) {
.headlineOuter {
	background-color: #4b636d;
}
.headlineInner {
	width: 100%;
}
.headline__heading {
	float: none;
	height: 50px;
	padding-left: 2.08333%;
	background-color: #3c4f59;
}
.headlineTicker {
	width: 100%;
}
.js-tickerInnerSp {
	display: none;
}
.headlineTicker__inner {
	position: relative;
	overflow: hidden;
	padding: 0 2.08333%;
}
.headlineTicker__inner ul {
	width: 100%;
	position: relative;
	height: auto;
}
.headlineTicker__inner ul li {
	display: none;
	padding-top: 14px;
}
.headlineTicker__inner ul li a {
	color: #fff;
	font-weight: normal;
}
.btn_readmore {
	background-image: url(../img/icon_read-more.png);
	background-color: rgba(0,0,0, 0.2);
filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#77000000, EndColorStr=#77000000);/* IE用 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#77000000,EndColorStr=#77000000)";/* IE用 */
	background-repeat: no-repeat;
	background-position: center center;
	position: absolute;
	top: 0;
	right: 0;
	width: 50px;
	height: 50px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}
.headlineList ul li:first-child {
	border-top: none;
}
.headlineList ul li {
	padding: 15px 2.08333%;
	border-bottom: 1px solid #627b88;
}
.headlineList ul li .list__date {
	width: 100%;
	float: none;
}
.headlineList ul li .list__title {
	width: 100%;
	float: none;
}
.btn_list__more {
	padding: 30px 0;
}
}
                                                  
                                                  
                                                  
.display-none{
display:none;
}

@media only screen and (max-width:599px) {
.col_index_aside02{width: 225px; margin:0 auto; }
}





/*TOPのMeetmore*/
.top_more_meet{
margin-bottom: 26px;
}

.top_more_meet a{
text-align:center;
background-color: rgba( 0, 0, 0, 0.55 );
display:block;
margin:0 0 0 0;
text-decoration:none;
color:#fff;
font-size: 135%;
padding:1.5%;
}
.top_more_meet a:after{
content:'　';
background:url(/img/top_meet_more.png) no-repeat 7px 7px;
}


.top_more_meet a:hover{
background-color: rgba( 0, 0, 0, 0.7 );
}                                             
