@media only screen and (min-width: 769px) {
.snsBox{
  display: none!important;
}
.snsWindow {
  display: none!important;
}
}
/* ---------------------------------------------------------- */
@media only screen and (max-width: 768px) {
.snsBox {
  margin: 0;
  position: fixed;
  bottom: 110px;
  right: 20px;
  z-index: 90;
  display: block!important;
  }

.snsBox ul {
  margin: 0;
}
.snsBox li {
  margin: 0;
  position: relative;
}

.snsBox li img {
    width: 50px;
    height: 50px;
  }
.snsBox li a {
    display: block;
  }
.snsBox li img:hover{
     opacity: 1;
}

.snsWindow {
  margin:-152px 0 0 -96px;
    width: 192px;
    height: 305px;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  right: 0;
  bottom: 0;
  z-index: 600;
}

.snsWindow ul {
  margin: 0 auto;
  width: 192px;
  text-align: center;
}

.snsWindow ul {
    width: 192px;
}

.snsWindow ul li {
  margin: 20px 26px 0 0;
  width: 40px;
  font-size: initial;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}
.snsWindow ul li:nth-child(3n) {
  margin-right: 0;
}
.snsWindow ul li.col2 {
  margin-left: 33px;
}

.snsWindow ul li img{
  width: 46px;
  height: auto;
}

.snsWindow ul li a:hover img {
    opacity: 1;
  }

.snsWindow ul li a span {
  margin-top: 9px;
  display: block!important;
  font-size: 74%;
  color: #FFF;
}

.snsWindow ul li a img {
  opacity: 1;
}

.snsWindow .ttl:first-child{
    margin-top: 0px;
    margin-bottom: 0px;
}

.snsWindow .ttl {
    margin-top: 48px;
    text-align: center;
    font-size: 128%;
    font-weight: 500;
    color: #FFF;
    margin-bottom: 5px;
  }

.snsOverlay {
  position: fixed;
  background: rgba(0, 10, 20, 0.85);
   margin: auto;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 500;
  display: none;
 }

.snsOverlay .close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 28px;
    height: 28px;
  }

  .snsOverlay .close img:hover{
     opacity: 1;
  }
}