@charset "utf-8";
.col_rcmd {
	width: 97.33%;
}
.col_rcmd {
	padding-right: 1.2500125%;
}
.ditail_recommendNav {
	float: left;
	width: 50%;
	margin-left: 20%;
	text-align: center;
}
.mod_button_13 {
	float: left;
}
.mod_button_14 {
	float: right;
}
/* FlexSlider Necessary Styles
*********************************/
.slides li p {
	margin: 14px 0;
}
.slides li p.lead {
	margin: 14px 0;
	font-size: 85.7%; /* 12px */
	color: #4C6471;
	line-height: 1.833;
}
.slides img {
	width: 100%;
	width: auto\9;/*for IE8*/
	margin: 0 auto\9;/*for IE8*/
	height: auto;
	display: block;
}
.slides .img {
	width: 100%\9;/*for IE8*/
	background: #FFF\9;/*for IE8*/
}
.flex-pauseplay span {
	text-transform: capitalize;
}
/* Clearfix for the .slides element */
.slides:after {
	content: "\0020";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
html[xmlns] .slides {
	display: block;
}
* html .slides {
	height: 1%;
}
/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
* include js that eliminates this class on page load */
.no-js .slides > li:first-child {
	display: block;
}
/* FlexSlider Default Theme
*********************************/
.flex-viewport {
	max-height: 2000px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
	margin: 0 0 20px;
}
.loading .flex-viewport {
	max-height: 300px;
}
.flexslider .slides {
	zoom: 1;
}
.carousel li {
	margin-right: 5px;
}
/* Direction Nav */
.flex-direction-nav {
	height: 50px;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
}
.flex-direction-nav a {
	background: #E6EBF0;
	display: block;
	width: 50px;
	height: 50px;
	margin: 0!important;
	position: relative;
	z-index: 10;
	overflow: hidden;
	color: rgba(0,0,0,0);
	-webkit-transition: all .15s ease;
	-moz-transition: all .15s ease;
	transition: all .15s ease;
	border-radius: 4px;
	position: absolute;
	text-indent: -99999px;
}
.flex-direction-nav a:hover {
	background: #CFD3D8;
	cursor: pointer;
}
.flex-direction-nav .flex-prev {
	margin-right: 1px;
	left: 0;
}
.flex-direction-nav .flex-next {
	right: 13px;
}
.flexslider:hover .flex-prev {
	opacity: 0.7;
	left: 10px;
}
.flexslider:hover .flex-next {
	opacity: 0.7;
	right: 10px;
}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover { /*opacity: 1;*/
}
.flex-direction-nav .flex-disabled {
	display: none;
	cursor: default;
}
.flex-direction-nav a:before {
	font-family: 'paddock_pict';
	speak: none;
	color: #657982;
	font-size: 15px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	width: 100%;
	display: inline-block;
	padding: 17px 0 0;
	padding: 17px 0\9;/*for IE8*/
	text-align: center;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
/*
.flex-direction-nav a.flex-next:before  { content: '\e60c'; }
.flex-direction-nav a.flex-prev:before  { content: '\e60f'; }
*/
.flex-direction-nav a.flex-next {
	background: url(../../common/img/btn_img_04.png) #E6EBF0 no-repeat 48% 48%;
}
.flex-direction-nav a.flex-prev {
	background: url(../../common/img/btn_img_03.png) #E6EBF0 no-repeat 48% 48%;
}
/* Control Nav */
.flex-control-nav {
	width: 80%; /*position: absolute;bottom: -40px;*/
	height: 50px;
	padding: 22px 0 0;
	margin: 0 auto;
	text-align: center;
	position: relative;
	z-index: 11;
}
.flex-control-nav li {
	margin: 0 7px;
	display: inline-block;
	zoom: 1;
*display: inline;
}
.flex-control-paging li a {
	width: 7px;
	height: 7px;
	display: block;
	background: #AAA;
	background: rgba(0,0,0,0.2);
	cursor: pointer;
	text-indent: -9999px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;
	margin: 0!important;
}
.flex-control-paging li a:hover {
	background: #999;
	background: rgba(0,0,0,0.4);
}
.flex-control-paging li a.flex-active {
	background: #333;
	background: rgba(0,0,0,0.7);
	cursor: default;
}
.flex-control-thumbs {
	margin: 5px 0 0;
	position: static;
	overflow: hidden;
}
.flex-control-thumbs li {
	width: 25%;
	float: left;
	margin: 0;
}
.flex-control-thumbs img {
	width: 100%;
	display: block;
	opacity: .7;
	cursor: pointer;
}
.flex-control-thumbs img:hover {
	opacity: 1;
}
.flex-control-thumbs .flex-active {
	opacity: 1;
	cursor: default;
}

/******************/
/* for Tablet    */
/* 600px-959px    */
/******************/
@media only screen and (min-width: 600px) and (max-width: 959px) {
.ditail_h2 {
	text-align: center;
}
.col_rcmd {
	width: 97.33%;
}
.col_rcmd {
	padding-right: 1.2500125%;
}
.overflow_setting {
	overflow: hidden;
}
.flex-direction-nav .flex-next {
	right: 14px;
}
}

/******************/
/* for SP         */
/* 320px-599px    */
/******************/
@media only screen and (max-width: 599px) {
.flex-control-nav, .flex-direction-nav {
	display: none;
}
.slides {
	width: 100% !important;
}
.slides li {
	float: none;
}
#detail_recommend {
	border: solid 1px #CCCCCC;
	width: 100%;
	/*height: 600px;*/
/*overflow: auto;*/
	margin-top: 0 !important;
	margin-bottom: 40px;
}
.detail_job {
	padding: 15px 4.687%;
}
.ditail_h2 {
	/*
border-top:2px solid #E6EBF0 !important;
border-left:2px solid #E6EBF0 !important;
border-right:2px solid #E6EBF0 !important;
margin-bottom:0px !important;
padding:30px 0 !important;
*/
	border-top: 2px solid #E6EBF0;
	border-left: 2px solid #E6EBF0;
	border-right: 2px solid #E6EBF0;
	padding: 15px;
	margin-bottom: -30px;
	font-size: 128.6%; /* 18px */
	text-align: center;
}
#detail_recommend .img {
	float: left;
	margin: 0 10px 10px 0;
}
/*service_top_human_resources*/
#detail_recommend .service_cate_human_resources {
	margin-bottom: 0px;
}
#detail_recommend .service_cate_human_resources .img {
	height: auto;
}
/*service_top_housing*/
#detail_recommend .service_cate_housing {
	margin-bottom: 0px;
}
#detail_recommend .service_cate_housing .img {
	height: auto;
}
/*service_top_it_trends*/
#detail_recommend .service_cate_it_trends {
	margin-bottom: 0px;
}
#detail_recommend .service_cate_it_trends .img {
	height: auto;
}
/*service_top_bridal*/
#detail_recommend .service_cate_bridal {
	margin-bottom: 0px;
}
#detail_recommend .service_cate_bridal .img {
	height: auto;
}
/*service_top_education*/
#detail_recommend .service_cate_education {
	margin-bottom: 0px;
}
#detail_recommend .service_cate_education .img {
	height: auto;
}
/*service_top_automobiles*/
#detail_recommend .service_cate_automobiles {
	margin-bottom: 0px;
}
#detail_recommend .service_cate_automobiles .img {
	height: auto;
}
/*service_top_travel*/
#detail_recommend .service_cate_travel {
	margin-bottom: 0px;
}
#detail_recommend .service_cate_travel .img {
	height: auto;
}
/*service_top_gourmet*/
#detail_recommend .service_cate_gourmet {
	margin-bottom: 0px;
}
#detail_recommend .service_cate_gourmet .img {
	height: auto;
}
/*service_top_beauty*/
#detail_recommend .service_cate_beauty {
	margin-bottom: 0px;
}
#detail_recommend .service_cate_beauty .img {
	height: auto;
}
/*service_top_local_life*/
#detail_recommend .service_cate_local_life {
	margin-bottom: 0px;
}
#detail_recommend .service_cate_local_life .img {
	height: auto;
}
.detail_job .img {
	width: 47% !important;
	margin: 0 0 20px;
}
.detail_job .img img {
	width: 100%;
	height: auto;
}
.detail_job .info {
	/*padding: 0 2.083% !important;*/
	position: relative;
}
.detail_job .info h2 {
	position: relative;
}
#detail_recommend p {
	padding: 0;
	clear: both;
}
.detail_job#service_cat01, .detail_job#service_cat02, .detail_job#service_cat03 {
	background: #E6EBF0 !important;
	padding: 15px 4.687% 0 !important;
	margin-bottom: 0 !important;
	border-bottom: 2px solid #BEC8D2;
	border-left: 1px solid #BEC8D2;
	border-right: 1px solid #BEC8D2;
}
.detail_job#service_cat01 {
	border-top: 2px solid #BEC8D2;
}
.detail_job#service_cat03 {
	border-bottom: 2px solid #BEC8D2;
}
.detail_job#service_cat01 .img, .detail_job#service_cat02 .img, .detail_job#service_cat03 .img {
	width: 43%;
	float: left;
}
.detail_job#service_cat01:hover, .detail_job#service_cat02:hover, .detail_job#service_cat03:hover {
	border: 0;
	background: none!important;
}
.detail_job#service_cat01 .info h2, .detail_job#service_cat02 .info h2, .detail_job#service_cat03 .info h2 {
	position: relative;
	left: 50%;/*120px;*/
	top: -88px;
	width: 50%;
}
.detail_job#service_cat01 .info p, .detail_job#service_cat02 .info p, .detail_job#service_cat03 .info p {
	padding: 20px 0 0;
	position: relative;
	top: -35px;
	left: -5px;
}
.col_rcmd_1, .col_rcmd_2, .col_rcmd_3 {
	width: 100%;
}
.col_rcmd_1 {
	padding-right: 0;
}
.col_rcmd_2 {
	padding-left: 0;
	padding-right: 0;
}
.col_rcmd_3 {
	padding-left: 0;
}
.col_rcmd {
	width: 100%;
}
.col_rcmd {
	padding-right: 0;
}
.mod_button_13, .mod_button_14, .ditail_recommendNav {
	display: none;
}
}
#service_topRecommend {
	background-color: rgba(255,255,255,0.5);
filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#77FFFFFF, EndColorStr=#77FFFFFF);
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#77FFFFFF,EndColorStr=#77FFFFFF)";
	padding: 30px 0;
}
#service_topRecommend:not(:target) {
	filter: none;
	-ms-filter: none;
}
#service_topRecommend .section {
	margin: 0 auto;
	max-width: 960px;
	position: relative;
}
#service_topRecommend #service_recommend {
	margin-top: 0;
}
#service_topRecommend #service_recommend .slides li {
	margin-right: 26px;
	padding: 0;
	line-height: 1.0;
}
#service_topRecommend .flex-direction-nav a {
	background-color: #B8C0C8;
}
#service_topRecommend .flex-direction-nav a:hover {
	background-color: #A5ACB4;
}
#service_topRecommend .flex-direction-nav .flex-prev {
	left: 0px;
}
#service_topRecommend .flex-direction-nav .flex-next {
	right: 0px;
}

@media only screen and (min-width: 600px) and (max-width: 959px) {
#service_topRecommend {
	padding: 30px 4.6875%;
}
}
/* banner-area */
.banner-area ul {
	margin-left: -16px;
}
.banner-area ul li {
	width: 228px;
	float: left;
	margin-top: 30px;
	margin-left: 16px;
}
.banner-area ul li a {
	width: 100%;
	line-height: 1.2;
	color: #4A636C;
	text-decoration: none;
    border: none;
    font-size: 12px;
}
.banner-area ul li a img {
	width: 100%;
}
.banner-area ul li a.row1 {
	padding: 37px 20px;
}
.banner-area ul li a.row2 {
	padding: 25px 20px;
}
.banner-area ul li a.pic {
	color: #fff;
	border: none;
}

@media only screen and (min-width: 600px) and (max-width: 959px) {
/* banner-area */
.banner-area ul {
	margin-left: -3%;
}
.banner-area ul {
/zoom : 1;
}
.banner-area ul:after {
	content : '';
	display : block;
	clear : both;
	height: 0;
}
.banner-area ul li {
    width: 30%;
    float: left;
    margin: 30px 1.5% 0;
}
}

@media only screen and (max-width: 599px) {
/* banner-area */
.banner-area {
	margin: 0px auto 50px;
}
.banner-area ul {
	width: 100%;
	margin: 0 0 -30px;
}
.banner-area ul {
/zoom : 1;
}
.banner-area ul:after {
	content : '';
	display : block;
	clear : both;
	height: 0;
}
.banner-area ul li {
	width: 100%;
	height: auto;
	margin-left: 0%;
	margin-right: 0%;
	float: left;
	margin-top: 20px;
}
.banner-area ul li img {
	width: 100%;
}
}
