/*
UploadiFive
Copyright (c) 2012 Reactive Apps, Ronnie Garcia
*/

.uploadifive-button {
    background: #f3f3f3;
  border: 2px dashed #ccc;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 0 1px 1px #fdfdfd;
  box-shadow: inset 0 0 1px 1px #fdfdfd;
  color: #1894AE;
  font: bold 14px/1 "helvetica neue", helvetica, arial, sans-serif;
  padding: 8px 0 9px;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  width: 100%; }
.uploadifive-button:hover {
     background: #f2f2f2;
	 border: 2px dashed #aaa;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 0 1px 1px #fdfdfd;
  box-shadow: inset 0 0 1px 1px #fdfdfd;
    -webkit-box-shadow: inset 0 0 1px 1px #fcfcfc;
    box-shadow: inset 0 0 1px 1px #fcfcfc;
    color: #127085;}
.uploadifive-button:active {
       background: #ddd;
    -webkit-box-shadow: inset 0 0 1px 1px #e3e3e3;
    box-shadow: inset 0 0 1px 1px #e3e3e3;
    }


.uploadifive-queue-item {
	background-color: #F5F5F5;
	border: 2px solid #E5E5E5;
	font: 11px Verdana, Geneva, sans-serif;
	margin: 5px 0 15px 150px;
	padding: 10px;
	width: 630px;
}
.uploadifive-queue-item .close {
	background: url('uploadifive-cancel.png') 0 0 no-repeat;
	display: block;
	float: right;
	height: 16px;
	text-indent: -9999px;
	width: 16px;
}
.uploadifive-queue-item .progress {
	border: 1px solid #D0D0D0;
	height: 3px;
	margin-top: 5px;
	width: 100%;
}
.uploadifive-queue-item .progress-bar {
	background-color: #0099FF;
	height: 3px;
	width: 0;
}

.switch {
  background-color: #F1F1F1;
  padding: 5px;
  text-align: center;
  color: #555;
  font: 10px "helvetica neue", helvetica, arial, sans-serif;
  text-shadow: 0 1px 0 #fff;
  border: 1px dotted #EEE;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
  
 }
.switch:hover {
 background-color: #EEE;
   color: #444;
     border: 1px dotted #E1E1E1;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
 }
.switch:active {
 background-color: #DDD;
 }