.jcarousel-wrapper {
    margin: 20px auto;
    position: relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
padding: 0px 40px;

}

/** Carousel **/

.jcarousel {
    position: relative;
    overflow: hidden;
}

.jcarousel ul {
    width: 6000px;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;

}

.jcarousel li {
    width: 225px !important;
    float: right;

}

.jcarousel img {
    display: inline-block;
    max-width: 100%;
    height: auto !important;
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    top:0px;
width: 40px;
height: 320px;
    text-align: center;
    z-index: 99999;

}
.jcarousel-control-prev {
   right: 0px;
background: url(ar.png) no-repeat right top


}

.jcarousel-control-prev:hover, .jcarousel-control-next:hover{
    color: #333;
}

.jcarousel-control-next {
   left: 5px;background: url(ar.png) no-repeat left top 
}

/** Carousel Pagination **/

.jcarousel-pagination {
    position: absolute;
    bottom: -40px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    margin: 0;
}

.jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;

    font-size: 11px;
    height: 10px;
    width: 10px;
    line-height: 10px;

    background: #fff;
    color: #4E443C;
    border-radius: 10px;
    text-indent: -9999px;

    margin-right: 7px;


    -webkit-box-shadow: 0 0 2px #4E443C;
    -moz-box-shadow: 0 0 2px #4E443C;
    box-shadow: 0 0 2px #4E443C;
}

.jcarousel-pagination a.active {
    background: #4E443C;
    color: #fff;
    opacity: 1;

    -webkit-box-shadow: 0 0 2px #F0EFE7;
    -moz-box-shadow: 0 0 2px #F0EFE7;
    box-shadow: 0 0 2px #F0EFE7;
}
  
@media screen and (max-width: 640px) {
.jcarousel-wrapper {
	padding: 0px 0px;
}
.jcarousel-control-next {
	background-color:white;
	height: 40px;
	width: 40px;
	top: 120px;
	background-position:3px -142px;
	box-shadow: 0px 0px 5px rgba(0,0,0,.2);
	border-radius: 50px;
}
.jcarousel-control-prev {
display: none;
}
}