/*
MihanStore.net
Author: Farhadina.IR
Responsive exclusive theme for Mihanstore
MixIran
*/


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
:focus {/* remember to define focus styles! */
	outline: 0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
nav ul, ul, li {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
::selection {
	background: #B2D3FA;
	color: #000
}
::-moz-selection {
 background:#B2D3FA;
 color:#000
}
@font-face {
	font-family: 'BYekan';
	src: url('fonts/BYekan.eot?#') format('eot'), url('fonts/BYekan.woff') format('woff'), url('fonts/BYekan.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: bold;
	src: url('fonts/IRANSansWeb_Bold.eot');
	src: url('fonts/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */ url('fonts/IRANSansWeb_Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/ url('fonts/IRANSansWeb_Bold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('fonts/IRANSansWeb_Bold.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: normal;
	src: url('fonts/IRANSansWeb.eot');
	src: url('fonts/IRANSansWeb.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */ url('fonts/IRANSansWeb.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/ url('fonts/IRANSansWeb.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('fonts/IRANSansWeb.ttf') format('truetype');
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
* html .clearfix {
	zoom: 1;
} /* IE6 */
*:first-child+html .clearfix {
	zoom: 1;
} /* IE7 */
h1, h2, h3, h4, h5, h6 {
	font-family: 'BYekan';
	font-weight: normal
}
h1 {
	font-size: 22px;
}
h2 {
	font-size: 18px;
}
h3 {
	font-size: 12px;
}
h4 {
	font-size: 12px;
}
h5 {
	font-size: 11px;
}
h6 {
	font-size: 11px;
}
.clear {
	clear: both;
	display: block;
	height: 0;
	font-size: 0px;
}
a, a:visited {
	color: #1596DB;
	text-decoration: none;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
a:hover {
	color: #1074A9
}
.divider {
	background: url(images/divider.gif) #ccc;
	height: 4px;
	margin: 5px 0px;
	clear: both
}
body {
	direction: rtl;
	color: #555;
	background: url(images/topbg.gif) repeat-x top #f8f8f8;
}
#wrapper {
	margin: 0 auto;
	width: 1200px;
	font: 11px/2.5 tahoma;
}
.top {
	height: 60px;
}
.logo {
	height: 60px;
	float: right;
	background: url(images/logo.gif) no-repeat center center white;
	width: 7.5%;
}
.mihanstore {
	width: 15%;
	float: right;
	background: url(images/mihanstore.gif) no-repeat center center;
	height: 60px;
}
.mihanstore a {
	display: block;
	width: 100%;
	height: 100%;
	font: 0px/0 tahoma;
}
.search {
	margin: 12px 10px 0px 10px;
	padding: 3px 10px 3px 0px;
	background: white;
	float: left;
	border-radius: 5px;
}
.search input {
	border: 0px;
	font: 13px/2 'BYekan', tahoma;
	float: right;
}
.search button {
	margin: 0px 10px;
	background: url(images/search.gif) no-repeat;
	height: 30px;
	border: 0;
	float: left;
}
.addtocart {
	float: left;
	background: url(images/basket.gif) no-repeat right center #64CF7F;
	padding: 5px 40px 5px 10px;
	border-radius: 5px;
	color: white;
	margin: 12px 0px 0px;
	font: 13px/2 'BYekan', tahoma;
}
.addtocart .button {
	color: white;
}
.addtocart span {
	border-radius: 5px;
	background: #54BC71;
	padding: 0px 5px;
	margin: 0px 10px 0px 0px;
}
.tellphone {
	float: left;
	padding: 5px 40px 5px 10px;
	border-radius: 5px;
	background: url(images/tell.gif) no-repeat right center;
	margin: 12px 0px 0px;
	font: 13px/1 'BYekan', tahoma;
}
.tellphone p {
	color: #333
}
.mansory {
	height: 400px;
}
.mainnav {
	width: 7.5%;
	height: 400px;
	font: 12px/2 'BYekan', tahoma;
	float: right;
	background: #333;
}
.mainnav ul li {
	display: block;
	padding: 5px;
	text-align: center;
	border-bottom: 1px solid #444;
}
.mainnav ul li a {
	color: #eee;
}
.mainnav .h1, .mainnav .h2, .mainnav .h3, .mainnav .h4, .mainnav .h5, .mainnav .h6 {
	height: 30px;
	display: block;
	width: 30px;
	margin: 0px auto;
}
.mainnav .h1 {
	background: url(images/icons.png) no-repeat right -1095px;
}
.mainnav .h2 {
	background: url(images/icons.png) no-repeat right -1133px;
}
.mainnav .h3 {
	background: url(images/icons.png) no-repeat right -1178px;
}
.mainnav .h5 {
	background: url(images/icons.png) no-repeat right -1213px;
}
.mainnav .h4 {
	background: url(images/icons.png) no-repeat right -1254px;
}
.mainnav .h6 {
	background: url(images/icons.png) no-repeat right -1302px;
}
.topcontent {
	width: 91.5%;
	float: left;
	margin: 10px 0px 0px;
}
.catbody {
	padding: 6px;
	position: relative;
	font: 13px/2 'IRANSans', tahoma;
}
.bigslider {
	width: 75%;
	float: left;
	height: 300px;
	position: relative;
}
.bigslider img {
	width: 100%;
	height: 300px;
}
.slider1c {
	position: absolute;
	bottom: 0px;
	width: 100%;
	background: rgba(0,0,0, 0.6);
	border-bottom: 2px solid #C0C0C0;
}
.slider1c a {
	float: right;
	width: 20%;
	padding: 6px 0px 6px;
	color: white;
	font: 13px/2 'BYekan', tahoma;
	display: block;
	text-align: center;
}
.slider1c .active {
	background: white;
	color: #333;
	border-bottom: 0px solid #DE453D;
}
.slider1c a p {
	color: rgba(255,255,255, 0.6);
	font: 11px/1 'BYekan', tahoma;
}
.slider1c .active p {
	color: #666
}
.shopfeatures {
	background: url(images/bar.gif) repeat-x top;
}
.item-c {
	padding: 8px 80px 10px 0px;
	line-height: 1.75;
}
.shopfeatures .item1 {
	background: url(images/logos.gif) no-repeat right -20px;
	width: 25%;
	margin: 20px 0px 0px;
	float: right;
}
.shopfeatures .item2 {
	background: url(images/logos.gif) no-repeat right -120px;
	width: 25%;
	margin: 20px 0px 0px;
	float: right;
}
.shopfeatures .item3 {
	background: url(images/logos.gif) no-repeat right -220px;
	width: 25%;
	margin: 20px 0px 0px;
	float: right;
}
.shopfeatures .item4 {
	background: url(images/logos.gif) no-repeat right -320px;
	width: 25%;
	margin: 20px 0px 0px;
	float: right;
}
.barbg {
	background: url(images/bar.gif) repeat-x bottom;
	height: 10px;
	width: 100%;
	clear: both;
	margin: 0px 0px 10px;
}
.specialboxes {
	padding: 20px 0px;
	border-top: 1px solid #eee;
	margin: 10px 0px;
}
.specialboxes .bestcat {
	width: 40%;
	float: right;
	height: 230px;
}
.specialboxes .enamad img {
	width: 85%;
}
.specialboxes .bestcat ul li {
	width: 48%;
	display: block;
	height: 118px;
	margin: 0px 0px 15px 2%;
	float: right;
}
.specialboxes .bestcat ul li img {
	width: 100%;
	height: 100px;
}
.specialboxes .specialoffer {
	width: 59%;
	float: left;
	background: white;
	padding: 0px 0px;
	border-radius: 5px;
	border: 2px dashed #d2d2d2;
	border: 0px 2px 2px 2px;
}
.specialoffer ul {
	float: right;
	font: 13px/2 'BYekan', tahoma;
	display: block;
	background: white;
	width: 35%;
	margin: 0px 1% 0px 0px;
	padding: 10px 0px;
	border-radius: 5px;
	overflow: hidden;
}
.specialoffer h3 {
	background: url(images/offer.gif) no-repeat center center;
	width: 100px;
	height: 30px;
	margin: 0px auto 20px;
	font: 0px/0 tahoma;
}
.specialoffer ul a {
	display: block;
	border-radius: 4px;
	padding: 5px;
	background: url(images/arrow.gif) no-repeat left top;
	color: #777
}
.specialoffer ul a:hover {
	background: url(images/arrow.gif) no-repeat left top #f5f5f5;
	color: #555
}
.specialoffer ul .active {
	background: url(images/arrow.gif) no-repeat left bottom #E96163;
	color: #fff
}
.specialoffer .spo-item {
	float: left;
	width: 63%;
	height: 225px;
	font: 12px/2 'BYekan', tahoma;
}
.specialoffer .spo-item .oldprice {
	color: grey;
}
.specialoffer .spo-item .newprice {
	color: #E96163;
	font-size: 15px;
}
.specialoffer .spo-item .photo {
	float: right;
	width: 35%;
}
.specialoffer .spo-item .photo img {
	width: 200px;
	height: 200px;
}
.specialoffer .spo-item .desc {
	float: left;
	width: 60%;
	text-align: center;
}
.timer {
	width: 180px;
	margin: 10px auto;
	height: 50px;
}
.timer div .digit:nth-child(1) {
	display: block;
	float: left;
	height: 20px;
	margin: 0px 0px 0px 6px;
	overflow: hidden;
}
.timer div .digit:nth-child(2) {
	display: block;
	float: left;
	height: 20px;
	overflow: hidden;
}
.timer .d, .timer .h, .timer .m {
	width: 40px;
	background: #43CAF1;
	color: white;
	margin: 0px 5px 0px 0px;
	float: right;
	border-radius: 5px;
	text-align: center;
	font: 18px/1.25 'BYekan', tahoma;
}
.timer .s {
	width: 40px;
	background: #E96163;
	color: white;
	border-radius: 5px;
	margin: 0px 5px 0px 0px;
	float: right;
	text-align: center;
	font: 18px/1.25 'BYekan', tahoma;
}
.timer .d p, .timer .h p, .timer .m p, .timer .s p {
	font: 11px/1.5 'BYekan', tahoma;
}
.produces h2 {
	background: url(images/produce.gif) no-repeat right center;
	padding: 8px 60px 12px 0px;
	line-height: 1.5;
	border-bottom: 1px dashed #ccc;
}
.produces h2 p a {
	border: 1px solid #999;
	color: #777;
	padding: 1px 10px;
	border-radius: 4px;
	font: 12px/2 'BYekan', tahoma;
}
.topproduces h2 {
	background: url(images/top.gif) no-repeat right center;
	padding: 8px 60px 12px 0px;
	line-height: 1.5;
	border-bottom: 1px dashed #ccc;
}
.topproduces h2 p a {
	border: 1px solid #999;
	color: #777;
	padding: 1px 10px;
	border-radius: 4px;
	font: 12px/2 'BYekan', tahoma;
}
.post {
	width: 19%;
	margin: 10px 0.35% 10px;
	float: right;
	text-align: center;
	padding: 10px 0px;
	position: relative;
	border-radius: 4px;
	height: 302px;
	font: 13px/2 'BYekan', tahoma;
	overflow: hidden;
	box-shadow: 0px 0px 5px #ccc;
	background: white;
}
.post .name {
	background: #f9f9f9;
	padding: 4px 5px;
	font: 11px/2 'BYekan', tahoma;
	margin: 10px 0px 0px;
	border-top: 2px dashed #e1e1e1
}
.post .addtocartkey {
	background: #64CF7F;
	color: white;
	padding: 2px 10px;
	border-radius: 4px;
}
.post .name h3 {
	height: 50px
}
.post .name h3 a {
	color: #666;
}
.pagination {
	padding: 10px;
	border-radius: 5px;
	font: 13px/2 'BYekan', tahoma;
	text-align: center;
}
.pagination h3 {
	padding: 0px 0px 10px;
	text-align: center;
}
.pagination a {
	border-radius: 3px;
	background: white;
	padding: 3px 7px;
	margin: 0px 5px;
	color: #666;
	border: 1px solid #e1e1e1;
	background: #eee;
}
.pagination a:hover {
	border-radius: 3px;
	background: #999;
	border: 1px solid #888;
	color: #fff;
}
.thumbpost {
	background: #666;
	position: relative;
	width: 200px;
	text-align: center;
	height: 200px;
	overflow: hidden;
	margin: 0px auto;
}
.thumbpost img {
	position: absolute;
	width: 100%;
	height: 200px;
	top: 0px;
	right: 0
}
.post .thumbpost:hover {
	border-radius: 5px;
}
.post .thumbpost .showmore {
	position: absolute;
	top: -80px;
	width: 93%;
	text-align: center;
	right: 0;
	color: white;
	border-radius: 5px;
	background: url(images/mag.png) no-repeat top center;
	padding: 35px 5px 0px;
	font: 13px/2 'BYekan', tahoma;
}
.thumbpost:hover .showmore {
	position: absolute;
	top: 42px;
}
.thumbpost:hover img {
	opacity: 0.5;
}
.post .price {
	color: #78AD00
}
.baskettable {
	background: #f5f5f5;
	margin: 10px 10px;
	padding: 0px 5px 5px 5px;
}
.baskettable .col1 {
	width: 30%;
	float: right;
	text-align: center;
}
.baskettable .col2 {
	width: 5%;
	float: right;
	text-align: center;
}
.baskettable .col3 {
	width: 30%;
	float: right;
	text-align: center;
}
.baskettable .col4 {
	width: 30%;
	float: right;
	text-align: center;
}
.baskettable .col5 {
	width: 5%;
	float: right;
	text-align: center;
}
.baskettable .title {
	background: #f5f5f5;
	color: #333;
	font: 14px/2 'BYekan', tahoma;
	padding: 10px;
}
.baskettable .item {
	background: #fff;
	font: 14px/2 'BYekan', tahoma;
	color: #333;
	padding: 10px;
}
.baskettable #name img {
	float: right;
	display: block;
}
.baskettable #name h3 {
	width: 68%;
	float: left;
	color: grey;
	text-align: right;
}
.remove {
	background: #F15850;
	color: white !important;
	font: 12px/2 'BYekan', tahoma;
	padding: 3px 5px;
	border-radius: 5px;
}
.feat {
	float: right;
	text-align: center;
	width: 20%;
	margin: 25px 0px 0px;
}
.feat .f1 {
	background: url(images/icons.png) no-repeat right -868px;
	height: 48px;
	width: 48px;
	margin: 0px auto;
}
.feat .f2 {
	background: url(images/icons.png) no-repeat right -940px;
	height: 55px;
	width: 50px;
	margin: 0px auto;
}
.feat .f3 {
	background: url(images/icons.png) no-repeat right -1002px;
	height: 48px;
	width: 50px;
	margin: 0px auto;
}
.finalprice {
	border: 2px solid #BDF9CB;
	color: #666;
	padding: 10px 60px 10px 10px;
	width: 30%;
	border-radius: 5px;
	font: 13px/2 'BYekan', tahoma;
	background: url(images/icons.png) no-repeat right -660px;
	float : left;
	margin: 10px;
}
.finalprice .green {
	color: #70AB34
}
.finalprice .row1 {
	float: right;
	width: 50%;
}
.finalprice .row2 {
	float: left;
	width: 50%;
}
#footer {
	background: #333;
	font: 11px/2 tahoma;
	color: white;
	padding: 10px;
}
#footer .footerwrap {
	width: 1200px;
	margin: 0px auto;
}
.enamad-behp {
	width: 25%;
	float: right;
	text-align: center;
	color: #999;
	font: 13px/2 'BYekan', tahoma;
}
.enamad-behp img {
	background: white;
}
#footer .footerwrap .box {
	width: 35%;
	font: 13px/2 'BYekan', tahoma;
	float: right;
	margin: 0px 0px 0px 1%;
}
#footer .footerwrap .box h3 {
	border-bottom: 1px dotted #999;
	padding: 5px;
	color: #eee;
}
#footer .footerwrap .box ul li a {
	display: block;
	color: #999;
}
#footer .footerwrap .box ul li a:hover {
	color: #eee;
}
#footer .socials {
	width: 160px;
	height: 40px;
	margin: 10px auto 0px;
}
#footer .socials a {
	height: 40px;
	width: 40px;
	float: right;
	display: block;
}
#footer .socials a.s1 {
	background: url(images/socials.gif) no-repeat 0px 0px;
}
#footer .socials a.s2 {
	background: url(images/socials.gif) no-repeat -40px 0px;
}
#footer .socials a.s3 {
	background: url(images/socials.gif) no-repeat -80px 0px;
}
#footer .socials a.s4 {
	background: url(images/socials.gif) no-repeat -120px 0px;
}
.parthner {
	background: url(images/cooperation.jpg) no-repeat top center white;
	text-align: center;
	padding: 145px 0px 10px;
	border-radius: 5px;
}
.parthner p {
	color: grey;
	display: block;
	margin: 10px 0px 0px;
}
.parthner p a.login {
	color: white;
	padding: 4px 10px;
	background: #83DD73;
	border-radius: 5px;
}
.parthner .desc {
	background: rgba(0,0,0,0.5);
	padding: 5px;
	color: white;
}
#screen {
	DIRECTION: ltr;
	position: relative;
}
#left {
	DISPLAY: block;
	WIDTH: 32px;
	HEIGHT: 26px;
}
#right {
	DISPLAY: block;
	FONT-SIZE: 15px;
	WIDTH: 32px;
	HEIGHT: 26px;
}
#left SPAN {
	DISPLAY: none;
}
#right SPAN {
	DISPLAY: none
}
#right {
	BACKGROUND: url(images/prev.gif) no-repeat center bottom;
	position: absolute;
	top: 125px;
	left: 0px;
	z-index: 9999
}
#left {
	BACKGROUND: url(images/next.gif) no-repeat center bottom;
	position: absolute;
	top: 125px;
	right: 0;
	z-index: 9999
}
#view {
	overflow: hidden;
	width: 1135px;
	margin: 0px 32px 0px;
}
#images {
	width: 3000px;
}
#images .pic {
	width: 215px;
	float: left;
	z-index: 999;
	margin: 0px 0px 0px 14px;
}
#images .pic .post {
	width: 100%;
	overflow: hidden;
	float: right;
}
#images .pic .thumbpost {
	width: 200px
}
/* Single */
#whitebg-wrap {
	background: white;
	margin: 10px 0px 0px;
	border-radius: 5px;
}
.navsingle {
	border-bottom: 1px solid #eee;
	padding: 10px 10px 0px;
	background: white;
	font: 13px/2 'BYekan', tahoma;
}
.navsingle-fixed {
	position: fixed;
	top: 0px;
	width: 1200px;
	z-index: 99999;
	padding-right: 0;
	padding-left: 0px;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
}
.navsingle a {
	color: #777;
	margin: 0px 0px 0px 10px;
}
.navsingle a:hover {
	color: #444;
	border-bottom: 2px solid #999
}
.navsingle .active {
	color: #333;
	border-bottom: 2px solid #1596DB
}
.navsingle ul li a {
	padding: 0px 45px 10px 15px;
	float: right;
	display: block;
}
.navsingle .d1 {
	background: url(images/icons.png) no-repeat right -14px;
}
.navsingle .d2 {
	background: url(images/icons.png) no-repeat right -60px;
}
.navsingle .d3 {
	background: url(images/icons.png) no-repeat right -110px;
}
.navsingle .d4 {
	background: url(images/icons.png) no-repeat right -170px;
}
.produceinfo {
	padding: 15px;
}
.produceinfo .photo {
	float: right;
	width: 40%;
	direction: ltr;
}
.produceinfo .photo .bigphoto img {
	width: 450px;
	height: 450px;
	margin: 0px auto;
}
.produceinfo .photo .bigphotonav a {
	display: block;
	float: right;
	height: 100px;
	width: 100px;
	margin: 0px 0px 0px 10px;
}
.produceinfo .photo .bigphotonav a img {
	height: 100px;
	width: 100px;
}
.produceinfo .shortdesc {
	float: left;
	font: 13px/1.75 'BYekan', tahoma;
	width: 57.5%;
	margin: 0px 2.5% 0px 0px;
}
.produceinfo .shortdesc h1 {
	line-height: 1.6766666;
}
.engname {
	border-bottom: 1px solid #eee;
	color: grey;
	display: block;
	padding: 5px 0px 10px;
	margin: 0px 0px 10px;
	font: 13px/2 'calibri', tahoma;
}
.ready, .noready, .blue, .red, .grey, .black, .gold {
	width: 15px;
	height: 15px;
	border-radius: 20px;
	margin: 0px 5px;
	display: inline-block;
}
.ready {
	background: #64CE84;
}
.noready {
	background: #E95C5C;
}
.blue {
	background: #31C2FA;
}
.red {
	background: #E95C5C;
}
.grey {
	background: #999;
}
.black {
	background: #222;
}
.gold {
	background: #FBCA59;
}
.pricebox {
	margin: 15px 0px;
	padding: 10px 0px 20px;
	border-top: 1px solid #eee;
}
.priceicon {
	float: right;
	background: url(images/priceicon.gif) no-repeat center center;
	width: 70px;
	height: 70px;
}
.mainprice, .urprice {
	float: right;
	margin: 10px 0px 0px;
	text-align: center;
	width: 20%;
}
.off {
	float: right;
	margin: 10px 0px 0px;
	text-align: center;
	width: 26%;
}
.color {
	margin: 10px 0px;
}
.mainprice i {
	text-decoration: line-through;
	color: red;
}
.fullcontent {
	padding: 15px 50px;
	border-top: 2px dashed #e2e2e2;
	border-bottom: 2px dashed #e2e2e2;
	font: 13px/2.475 'IRANSans', tahoma;
}
.fullcontent h3:first-child {
	font: bold 18px/2 'IRANSans', tahoma;
}
.urprice i {
	font-size: 110%;
	color: red;
}
.likeb {
	background: url(images/like.gif) no-repeat right center #1596DB;
	padding: 10px 45px 10px 10px;
	color: white !important;
	border-radius: 5px;
	font: 13px/2 'BYekan', tahoma;
}
.off {
	margin: 20px 0px 0px;
	font-size: 80%;
}
.rating {
	width: 30%;
	margin: 20px 0px 0px;
	text-align: right;
	float: right;
}
.addtocartb {
	background: url(images/icons.png) no-repeat right -255px #78AE00;
	padding: 10px 45px 10px 10px;
	color: white !important;
	border-radius: 5px;
	font: 13px/2 'BYekan', tahoma;
}
.waricon {
	background: url(images/icons.png) no-repeat right -340px;
	padding: 10px 45px 10px 10px;
}
.priicon {
	background: url(images/icons.png) no-repeat right -400px;
	padding: 10px 45px 10px 10px;
}
.comments-ratings {
	border-top: 1px dashed #eee;
	padding: 10px;
	margin: 10px 0px;
}
.comments-ratings .comments {
}
.comments-ratings .comments button {
	background: #78AE00;
	border: none;
	padding: 5px 10px;
	color: white !important;
	border-radius: 5px;
	font: 13px/2 'BYekan', tahoma;
}
.comments-ratings .comments input, .comments-ratings .comments textarea {
	width: 50%;
	padding: 5px 5px;
	border-radius: 5px;
	box-shadow: 0px 0px 3px #ccc;
	border: 1px solid #BDC3C7;
	font: 13px/2 'BYekan', tahoma;
	color: grey;
	padding: 3px 5px;
}
.comments-ratings .comments textarea {
	width: 70%;
	height: 100px;
}
.comments-ratings .comments input:focus, .comments-ratings .comments textarea:focus {
	box-shadow: 0px 0px 3px #3399FF;
	border: 1px solid #3399FF;
	color: #333;
}
.comments-ratings .comments textarea {
	width: 70%;
	height: 100px;
}
.comments-ratings .comments label {
	display: block;
	padding: 5px 0px;
}
.comments-ratings .ratings {
	float: left;
	background: #f9f9f9;
	padding: 10px 10px;
	border-radius: 10px;
	margin: 30px 0px 0px;
	width: 48%;
}
.commenttitle {
	background: url(images/icons.png) no-repeat right -490px;
	padding: 8px 60px 8px 0px;
}
.commenttitle a {
	font: 11px/2 'BYekan', tahoma;
	color: white;
	background: #06B5F7;
	color: white;
	padding: 0px 4px;
}
.ratingicon {
	background: url(images/icons.png) no-repeat right -570px;
	height: 50px;
	width: 50px;
	margin: 0px auto;
}
.ratingoptions {
	float: right;
	font: 12px/2.5 'BYekan', tahoma;
}
.pricecalculate {
	margin: 10px;
	border: 2px dashed #e1e1e1;
	padding: 10px;
	font: 13px/2 'BYekan', tahoma;
}
.pricecalculate h2 {
	border-bottom: 1px solid #e1e1e1;
}
.pricecalculate .row1 {
	float: right;
	width: 2.5%;
}
.pricecalculate .row2 {
	float: right;
	width: 7.5%;
}
.pricecalculate .row3 {
	float: right;
	width: 50%;
}
.pricecalculate .row4 {
	float: right;
	width: 13.3%;
}
.pricecalculate .row5 {
	float: right;
	width: 13.3%;
}
.pricecalculate .row6 {
	float: right;
	width: 13.3%;
}
.pricecalculate .row1, .pricecalculate .row3, .pricecalculate .row4, .pricecalculate .row5, .pricecalculate .row6 {
	padding: 20px 0px 0px;
}
.pctitle {
	background: #f5f5f5;
	padding: 5px 0px;
	color: #222;
	margin: 0px 0px 10px;
}
.pctitle .row1, .pctitle .row2, .pctitle .row3, .pctitle .row4, .pctitle .row5, .pctitle .row6 {
	padding: 5px 0px;
}
.formname {
	margin: 10px;
	border: 2px dashed #e1e1e1;
	padding: 10px;
	font: 13px/2 'BYekan', tahoma;
}
.formname label {
	width: 100px;
	display: block;
	float: right;
	padding: 5px 0px 0px;
}
.formname .note {
	padding: 5px 10px;
	border-right: 5px solid #e1e1e1;
	margin: 10px 50px;
}
.formname input, .formname textarea {
	box-shadow: 1px 2px 0px rgba(0, 0, 0, 0.05) inset;
	border: 1px solid #BBBBBC;
	font: 12px/2 tahoma;
	border-radius: 2px;
	width: 25%;
	padding: 6px;
	margin: 10px 0px;
}
.formname textarea {
	height: 100px;
	width: 55%;
}
.formname input:focus, .formname textarea:focus {
	border: 1px solid #468DD2;
	color: #222
}
.formname .pctitle {
	padding: 10px;
}
.formname .pctitle span {
	font: 10px/2 'BYekan', tahoma;
	color: grey;
}

@media screen and (max-width: 1201px) {
#wrapper, #footer {
	padding: 10px 0px;
	width: 100%;
	overflow: hidden;
}
#footer .footerwrap {
	width: 100%;
	overflow: hidden;
}
}
#showmenu, .otherlink {
	display: none;
}

@media screen and (min-width: 980px) {
.single-cat {
	width: 100% !important;
	float: none !important;
	position: relative !important;
	box-shadow: none !important;
	height: auto !important;
}
.single-cat .catbody .main-1, .single-cat .catbody .main-2, .single-cat .catbody .main-3, .single-cat .catbody .main-4, .single-cat .catbody .main-5, .single-cat .catbody .main-6, .single-cat .catbody .main-7, .single-cat .catbody .main-8 {
	color: #72808B;
	display: block;
	border-bottom: 1px solid #f4f4f4;
	padding: 2px 37px 8px 10px !important;
	float: right;
	margin: 0px 0px 0px 10px;
	background: url(images/cats.gif) no-repeat right;
}
.single-cat .catbody li ul {
	background: #fff;
!important;
	width: 100% !important;
	;
	position: absolute !important;
	;
	z-index: 88 !important;
	;
	min-height: 300px !important;
	;
	right: 0px !important;
	;
	top: 40px !important;
	;
	display: none;
}
.single-cat .catbody li:hover ul {
	display: block;
}
.categories .catbody li {
	padding: 2px 5px;
}
.categories .catbody li h4 {
	padding: 6px;
}
.catbody .row {
	width: 23.88%;
	float: right;
	margin-left: 1%;
	padding: 0px 0px 15px;
	border-left: 1px solid #eee;
}
.catbody .row a {
	display: block;
	color: #777;
	padding: 0px 5px;
}
.catbody .row a:hover {
	color: #666;
}
.catbody .row h4 a {
	color: #25B7D3 !important
}
.catbody a {
	color: #6C6C73
}
.categories .catbody .main-1, .categories .catbody .main-2, .categories .catbody .main-3, .categories .catbody .main-4, .categories .catbody .main-5, .categories .catbody .main-6, .categories .catbody .main-7, .categories .catbody .main-8 {
	color: #72808B;
	display: block;
	border-bottom: 1px solid #f4f4f4;
	padding: 2px 37px 3px 0px;
	background: url(images/cats.gif) no-repeat right;
}
.catbody .main-1:hover, .catbody .main-2:hover, .catbody .main-3:hover, .catbody .main-4:hover, .catbody .main-5:hover, .catbody .main-6:hover, .catbody .main-7:hover, .catbody .main-8:hover {
	background-color: #f9f9f9
}
.catbody .main-1 {
	background-position: right -10px !important;
}
.catbody .main-2 {
	background-position: right -60px !important;
}
.catbody .main-3 {
	background-position: right -113px !important;
}
.catbody .main-4 {
	background-position: right -170px !important;
}
.catbody .main-5 {
	background-position: right -220px !important;
}
.catbody .main-6 {
	background-position: right -272px !important;
}
.catbody .main-7 {
	background-position: right -335px !important;
}
.catbody .main-8 {
	background-position: right -390px !important;
}
.categories .catbody li ul {
	background: #fff;
	top: 0px;
	width: 346%;
	box-shadow: 0px 0px 3px #999;
	position: absolute;
	z-index: 9999;
	min-height: 300px;
	right: 97%;
	border-radius: 4px;
	border-right: 1px solid #eee;
	display: none;
}
.catbody li ul.cat-item1 {
	background: url(images/cat-1.jpg) no-repeat left bottom #fff;
}
.catbody li ul.cat-item2 {
	background: url(images/cat-2.jpg) no-repeat left bottom #fff;
}
.catbody li ul.cat-item3 {
	background: url(images/cat-3.jpg) no-repeat left bottom #fff;
}
.catbody li ul.cat-item4 {
	background: url(images/cat-4.jpg) no-repeat left bottom #fff;
}
.catbody li ul.cat-item5 {
	background: url(images/cat-5.jpg) no-repeat left bottom #fff;
}
.catbody li ul.cat-item6 {
	background: url(images/cat-6.jpg) no-repeat left bottom #fff;
}
.catbody li ul.cat-item7 {
	background: url(images/cat-7.jpg) no-repeat left bottom #fff;
}
.catbody li ul.cat-item8 {
	background: url(images/cat-8.jpg) no-repeat left bottom #fff;
}
.catbody li:hover ul {
	display: block;
}
.categories {
	background: white;
	float: right;
	width: 22.5%;
	height: 300px;
	border-radius: 3px;
	position: relative;
	box-shadow: 0px 0px 4px #ccc;
}
.categories h3 {
	background: url(images/categories.gif) no-repeat right center #EE6962;
	padding: 5px 50px 5px;
	color: white;
	border-radius: 3px 3px 0px 0px;
}
}
.categories a.close, .category-back {
	display: none;
}
a.arrow {
	display: none;
}

@media screen and (max-width: 980px) {
a.arrow {
	display: block;
	z-index: 999;
	float: left;
	font: 0px/0px tahoma;
	width: 40px;
	height: 25px;
	background: transparent url("images/icons.png") no-repeat scroll right -1690px;
}
.clearmob {
	clear: both;
}
.motherlink {
	float: right;
}
.otherlink {
	display: block;
}
.categories .otherlink {
	padding: 15px;
}
.categories h3 {
	display: none;
}
.categories ul li {
	display: block;
	border-bottom: 1px solid rgba(255,255,255,0.3);
	background: url(images/icons.png) no-repeat left -1680px;
	padding: 10px 6px;
}
.categories ul li a {
	display: block;
}
.categories .row {
	display: block;
	padding: 0px 15px;
}
.categories .row h4 a {
	font-size: 15px;
	color: #fff;
}
.categories .row ul {
	padding: 0px 10px 5px;
}
.categories .row a {
	display: block
}
.catbody {
	padding: 45px 15px 10px;
	background: #1596DB;
}
.catbody a {
	color: rgba(255,255,255,0.95)
}
.categories ul li ul {
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
	position: absolute;
	right: 100%;
	top: 0px;
	height: 110%;
	background: #1596DB;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	width: 100%;
}
.categories .otherlink a {
	display: block;
	color: #666;
	padding: 5px;
}
.categories .otherlink a.cartshow {
	background: #64CF7f;
	padding: 5px;
	display: inline-block;
	color: white !important;
	border-radius: 2px;
	font: 13px/2 "BYekan", tahoma;
}
.categories a.close {
	position: absolute;
	right: 87%;
	padding: 2px 5px;
	border-radius: 5px;
	top: 15px;
	border: 1px solid #fff;
	z-index: 9999;
	color: white;
	display: block;
}
.category-back {
	position: absolute;
	right: 74%;
	padding: 3px 5px;
	display: block;
	border-radius: 5px;
	top: 15px;
	background: rgba(255,255,255,0.1);
	color: white !important;
}
#mask {
	background: black;
	opacity: 0.8;
	width: 100%;
	height: 100%;
	position: absolute;
	display: none;
	z-index: 99999;
}
.categories {
	position: absolute;
	right: -1300px;
	top: 0px;
	width: 70%;
	height: 120%;
	z-index: 999999;
	font: 13px/2 'BYekan', tahoma;
	color: #ddd;
	overflow: hidden;
	background: white;
	-webkit-transition: all 0.8s ease-out;
	-moz-transition: all 0.8s ease-out;
	-ms-transition: all 0.8s ease-out;
	-o-transition: all 0.8s ease-out;
	transition: all 0.8s ease-out;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}
.fullcontent img {
	max-width: 95% !important;
}
.mansory {
	height: auto;
	margin: 0px 0px 15px;
}
span.xmobile {
	display: none;
}
.baskettable .title {
	background: #f5f5f5;
	font: 11px/2 'BYekan', tahoma;
	color: #333;
	letter-spacing: -1px;
	padding: 10px;
}
.baskettable .item {
	background: #fff;
	font: 11px/2 'BYekan', tahoma;
	color: #333;
	letter-spacing: -1px;
	padding: 10px;
}
.navsingle .addtocart {
	display: none;
}
.specialboxes, .shopfeatures {
	display: none;
}
.rating, .off {
	width: 48%;
}
.produceinfo .photo, .produceinfo .shortdesc {
	width: 100%;
	float: none;
	margin: 0px 0px 15px;
}
.mihanstore {
	width: 100%;
	float: none;
	background: transparent url("images/mihanstore.gif") no-repeat scroll center -10px;
	height: 55px;
}
.feat {
	display: none;
}
.top {
	height: 120px;
	padding: 0px 0px 0px 10px;
}
.navsingle .addtocart {
	margin: 0px 0px 10px;
	border: none !important;
}
.formname input, .formname textarea {
	width: 50%;
}
.baskettable .col3 {
	width: 20%;
}
.baskettable .col1 {
	width: 50%;
}
.baskettable .col4 {
	width: 20%;
}
.pricecalculate {
	font: 12px/2 "BYekan", tahoma
}
.pricecalculate .row1 {
	width: 7.5%;
}
.pricecalculate .row2 {
	display: none;
}
.pricecalculate .row3 {
	float: right;
	width: 52.5%;
}
.baskettable #name h3 {
	width: 100%;
	float: none;
	text-align: center;
}
.baskettable #name img {
	height: 100px;
	display: block;
	width: 100px;
	margin: 10px auto;
}
.finalprice {
	border: 2px solid #BDF9CB;
	color: #666;
	padding: 10px 60px 10px 10px;
	float: none;
	width: auto;
	margin: 10px;
}
.tellphone {
	float: right;
}
.navsingle .d3, .navsingle .d2, .navsingle .d1 {
	background: none;
}
.navsingle ul li a {
	padding: 10px 10px;
}
.mainprice, .urprice {
	float: none;
	margin: 10px 0px;
	text-align: center;
	width: 100%;
}
.logo {
	display: none;
}
.priceicon {
	display: none;
} 
#showmenu {
	display: block;
	margin: 12px 10px 0px;
	float: right;
	border-radius: 5px;
	border: 1px solid #999;
	color: #777;
	background: url(images/icons.png) no-repeat right -1617px #fff;
	font : 13px/2 'BYekan', tahoma;
	padding: 4px 35px 4px 10px;
}
#showmenu:hover {
	color: #666;
}
.mainnav {
	display: none;
}
.bigslider, .topcontent, .specialboxes .bestcat, .specialboxes .specialoffer {
	width: 100%;
	float: none;
}

.post {
	width: 32%;
	height: 300px;
}
.shopfeatures .item1, .shopfeatures .item2, .shopfeatures .item3, .shopfeatures .item4 {
	width: 49%;
}
}

@media screen and (max-width: 780px) {.bigslider {
	display: none;
}
.lslide img {
	width: 100% !important;
	height: auto;
}
#footer .footerwrap .box, .enamad-behp {
	width: 96%;
	float: none;
	margin: 20px 2%;
}
.post {
	width: 96%;
	height: 300px;
	margin-right: 10px;
}
.search {
	display: none;
}
.shopfeatures .item1, .shopfeatures .item2, .shopfeatures .item3, .shopfeatures .item4 {
	width: 99%;
}
}

@media screen and (max-width: 500px) {
.categories a.close {
	right: 80%;
}
.category-back {
	right: 55%;
}
}
table.shoppingcard-items {
	font: 13px/2 'BYekan', tahoma;
	width: 95%;
	margin-bottom: 25px;
	font-size: 13px;
	border: solid 3px #dfdfdf;
	border-radius: 5px;
}
table.shoppingcard-items th {
	text-align: right;
	padding: 7px 5px;
	color: #333333;
	background: #dfdfdf;
}
table.shoppingcard-items td {
	border-top: 1px solid #CCCCCC;
	padding: 7px 5px;
}
input.shoppingcard-discount {
	font: 13px tahoma;
	width: 97px;
	padding: 3px;
	margin-top: 10px;
}
input.shoppingcard-submit {
	font: 13px/2 'BYekan', tahoma;
	font-size: 14px;
	font-weight: bold;
	padding: 5px;
	margin-top: 10px;
	cursor: pointer;
	background: #c2c2c2;
	color: #000;
	border-radius: 5px;
	border: solid 1px gray;
}
select#ostan, select#shahr {
	font: 13px/2 'BYekan', tahoma;
	font-size: 13px;
	font-weight: bold;
	width: 200px;
	padding: 3px;
}
div.checkout {
	direction: rtl;
	font-size: 12px;
}
div.checkout table.checkout-form {
	line-height: 20px;
	font-size: 12px;
	width: 100%;
	border-collapse: collapse;
	border: solid 3px #dfdfdf;
}
div.checkout table.checkout-form th {
	background: #dfdfdf;
	padding: 7px 5px;
	text-align: right;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
}
div.checkout table.checkout-form td {
	line-height: 20px;
	font-size: 12px;
	border-top: 1px solid #f2f2f2;
	padding: 2px 5px;
}
div.checkout table.checkout-form td.label {
	width: 100px;
	text-align: left;
	vertical-align: top;
}
div.checkout table.checkout-form td.input {
	background: none;
	text-align: right;
	direction: rtl;
}
div.checkout table.checkout-form td.input input {
	font-size: 13px;
	padding: 3px;
	width: 300px;
}
div.checkout table.checkout-form td.input input#firstname {
	margin-top: 10px;
}
div.checkout table.checkout-form td.input input#save {
	margin-bottom: 10px;
}
div.checkout table.checkout-form td.input textarea {
	font-size: 13px;
	padding: 3px;
	width: 300px;
	height: 70px;
}
div.checkout table.checkout-form td.firstname label {
	display: inline-block;
	padding-top: 10px;
}
div.checkout table.checkout-form input#verificationcode {
	width: 90px;
}
div.checkout table.checkout-form input#save, div.track input#save {
	width: auto;
	font-size: 14px;
	font-weight: bold;
	padding: 5px;
	margin-top: 10px;
	cursor: pointer;
	background: #c2c2c2;
	color: #000;
	border-radius: 5px;
	border: solid 1px gray;
}
div.success {
	direction: rtl;
	font-size: 13px;
	padding: 20px 10px 0 0;
	color: green;
}
table.checkout-items {
	width: 100%;
	font-size: 13px;
	border-collapse: collapse;
	border: solid 3px #dfdfdf;
}
table.checkout-items th {
	text-align: right;
	padding: 7px 5px;
	color: #333333;
	background: #dfdfdf;
}
table.checkout-items td {
	border-top: 1px solid #CCCCCC;
	font-size: 13px;
	padding: 4px 5px;
}
table.checkout-items td.name {
	width: 420px;
}
table.checkout-sendtype {
	width: 100%;
	font-size: 13px;
	border-collapse: collapse;
	border: solid 3px #dfdfdf;
}
table.checkout-sendtype th {
	text-align: right;
	padding: 7px 5px;
	color: #333333;
	background: #dfdfdf;
}
table.checkout-sendtype td {
	border-top: 1px solid #CCCCCC;
	font-size: 13px;
	padding: 4px 5px;
}
table.checkout-sendtype td.name {
	width: 420px;
}
table.checkout-fields {
	width: 100%;
	font-size: 13px;
	border-collapse: collapse;
	border: solid 3px #dfdfdf;
}
table.checkout-fields th {
	text-align: right;
	padding: 7px 5px;
	color: #333333;
	background: #dfdfdf;
}
table.checkout-fields td {
	border-top: 1px solid #CCCCCC;
	font-size: 13px;
	padding: 4px 5px;
}
table.checkout-fields td.name {
	width: 250px;
}
table.checkout-fields td.fields {
	color: red;
}
table.checkout-fields td.fields select {
	width: 120px;
	padding: 2px;
	font-size: 12px;
}
table.checkout-payment {
	width: 100%;
	font-size: 13px;
	border-collapse: collapse;
	border: solid 3px #dfdfdf;
	border: solid 1px #c0c0c0;
	background: url('/thetba-contents/themes/onlinepayment4.png') no-repeat bottom center;
}
table.checkout-payment th {
	text-align: right;
	padding: 7px 5px;
	color: #333333;
	background: #dfdfdf;
}
table.checkout-payment td {
	border-top: 1px solid #CCCCCC;
	font-size: 13px;
	padding: 4px 5px;
}
table.checkout-payment tr.onlinepaymentrow td {
	padding-bottom: 105px;
}
div.track input {
	font-size: 13px;
	padding: 3px;
}
ul {
	list-style: none outside none;
	padding-left: 0;
	margin: 0;
}
.lslide img {
	width: 450px;
	height: auto;
	margin: 0px auto;
	display: block;
	outline: 1px solid #ccc;
	outline-offset: -1px;
}
.lSGallery li img {
	border: 2px solid #e1e1e1;
	border-radius: 4px;
	max-width: 96% !important;
}
.sep {
	border-bottom: #000000 1px dashed;
	width: 100%;
}
.w1 {
	width: 100%;
	direction: rtl;
	height: 100%;
}
.w2 {
	width: 100%;
	direction: rtl;
	padding: 10px;
}
.commentBox_user {
	width: 98%;
}
.commentBox_admin {
	width: 98%;
}
.commentInfo_user {
	font: 13px/2 'BYekan', tahoma;
	background-color: #F3F2F2;
	width: 100%;
	padding: 10px;
	border-radius: 5px 5px 0px 0px;
	color: #64CF7F;
	box-shadow: #ccc 1px 1px 1px;
	border-left: #E7E7E7 1px solid;
}
.commentInfo_admin {
	font: 13px/2 'BYekan', tahoma;
	background-color: #E6E4E4;
	color: #64CF7F;
	width: 100%;
	padding: 10px;
	border-radius: 5px 5px 0px 0px;
	box-shadow: #ccc 1px 1px 1px;
	border-left: #E7E7E7 1px solid;
}
.commentMsg_user {
	font: 13px/2 'BYekan', tahoma;
	border-radius: 0px 0px 5px 5px;
	background-color: #fff;
	width: 100%;
	padding: 10px;
	word-wrap: break-word;
	direction: rtl;
	color: #575757;
	box-shadow: #ccc 1px 1px 1px;
	border-left: #E7E7E7 1px solid;
}
.commentMsg_admin {
	font: 13px/2 'BYekan', tahoma;
	border-radius: 0px 0px 5px 5px;
	background-color: #fff;
	width: 100%;
	padding: 10px;
	word-wrap: break-word;
	direction: rtl;
	color: #575757;
	box-shadow: #ccc 1px 1px 1px;
	border-left: #E7E7E7 1px solid;
}
.commentInfo_user div {
	padding-right: 10px;
	line-height: 30px;
}
.commentInfo_admin div {
	padding-right: 10px;
	line-height: 30px;
	font: 13px/2 'BYekan', tahoma;
}
.commentInfo_user img {
	float: right;
	clear: left;
	padding-left: 10px;
}
.commentInfo_admin img {
	float: right;
	clear: left;
	padding-left: 10px;
}
.commentDiv_admin {
	width: 80%;
	float: left;
}

@media (max-width: 411px) {
.w2 {
	width: 90%;
	direction: rtl;
	padding: 10px;
}
}

.tags
{
background: #C6F1FF;
    padding: 8px;
    margin: 10px 0px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}