@font-face {
	font-family: 'BebasBold';
	src: url('/templates/new36/font/font/anistar.eot');
	src: url('/templates/new36/font/font/anistar.woff') format('woff'), url('/templates/new36/font/font/anistar.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}