#no-friends { padding: 6px; border: 1px solid #C0D4DE; background-color: #F3F7F9; color: #507D98; margin: 10px 0; }

.friends { margin-bottom: 10px; }
.friends ul, .prof-list { margin-top: 10px; }
.friends li { width: 100px; text-align: center; float: left; margin-right: 10px; }
.friends img { display: block; margin: 0 auto; width: 100px; height: 100px; }

.friends_table h3 { margin-bottom: 6px; font-size: 14px; line-height: 14px; font-weight: bold; }
	.friends_table h3 a span { font-size: 12px; font-weight: normal; color: #6C838E; }
	.friends_table h3 a span:hover { text-decoration: underline; }
.friends_table ul { list-style: none; margin: 0; padding: 0; }
.friends_table td { padding: 10px; border-bottom: 1px solid #EEE; font-size:12px; vertical-align: top; }
.friends_table .active { background-color: #F8F8F8; }
.contact_friends { width: 170px; }
.contact_friends a, .contact_friends span { display: block; padding: 6px; margin-bottom: 4px; line-height: 11px; }
.contact_friends a:hover { background-color: #DAE7ED; text-decoration: none; }

#allfriends .rcol { margin-top: 4px; }
#allfriends h2.lcol a { text-decoration: underline; }
#allfriends h2.lcol a:hover { text-decoration: none; }

#friends_feed { margin: 0 15px; }
#friends_feed table { width: 100%; border-collapse: collapse; border-spacing: 0; margin-bottom: 25px; }
#friends_feed td { vertical-align: top; text-align: left; }
#friends_feed td.f_avatar, #friends_feed td.f_author { border: 1px solid; border-color: #ACCCDA #E2EDF2 #E2EDF2; vertical-align: middle; background-color: #F4F8FA; }
#friends_feed td.f_avatar { width: 50px; border-spacing: 10px; padding: 2px; border-right-width: 0; }
#friends_feed td.f_avatar img { width: 50px; height: 50px; }
#friends_feed td.f_author { padding: 0 10px; border-left-width: 0; border-style: solid; font-size: 11px; }
#friends_feed td.f_author h3 { fonst-size: 14px; font-weight: bold; margin-bottom: 4px; }
#friends_feed td.f_story { padding: 15px 0; }
#friends_feed .f_cover { width: 104px; max-height: 104px; overflow: hidden; margin-right: 10px; float: left; border: 1px solid #E2EDF2; background-color: #F4F8FA; }
	#friends_feed .f_cover img { width: 100px; padding: 2px; }
#friends_feed td.f_det { border-top: 1px solid #E2EDF2; padding: 5px 0; }

.feed_loader { padding: 10px; text-align: center; border-top: 1px solid #E2EDF2; color: #284B5A; margin-bottom: 20px; }
.f_active:hover { border-color: #ACCCDA; background-color: #F4F8FA; cursor: pointer; }

.avatar_cyber{overflow: hidden;}
.profile_frends_left a{
    display:inline-block;
    background:#095CA8;
    padding:10px 20px;
    color:#fff;
    text-transform:uppercase;
    font-weight:normal;
    font-size:0.8em;
    font-family: "BebasBold",sans-serif;
  }
  .profile_frends_left a:hover{

    background:#FED000;
    color:#000;
  }
  .friends_table a{
    color:#095CA8;
  }
  .friends_table a:hover{
    color:#000;
    text-decoration:underline;
  }
  .profile_frends_left > span{
     display:inline-block;
     text-transform:uppercase;
    font-weight:normal;
    font-size:0.8em;
    padding:8px 20px;
    padding-bottom:7px;
    font-family: "BebasBold",sans-serif;
    border-bottom:3px solid #FED000;
  }
  .profile_frends_left{
	margin-bottom:5px;
  }
  .right_text{
	text-align:right;
  }
  .contact_friends a{
    background:#095CA8;
    padding:8px 10px;
    color:#fff;
    font-weight:bold;
    font-size:1em;
  }
  .contact_friends a:hover{
    background:#FED000;
    padding:8px 10px;
    color:#000;
    font-weight:bold;
    font-size:1em;
    text-decoration:none;
  }
  .right_text a{
    color:#095CA8;
    text-transform:uppercase;
    font-family: "BebasBold",sans-serif;
    text-decoration:underline;
  }
  .right_text{
    padding-right:10px;
  }
   .right_text a:hover{
    color:#000;
    text-decoration:none;
  }