/*
Theme Name: NewsPaper by MyThemeShop
Theme URI: http://mythemeshop.com/themes/newspaper
Author: MyThemeShop
Author URI: http://mythemeshop.com/
Description: NewsPaper is a content-oriented WordPress theme that is perfect for blogs, news websites and other websites that post about lots of trending topics across multiple categories.
Version: 1.0.3
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
html { -webkit-font-smoothing: antialiased }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block }
ol, ul { list-style: none }
blockquote, q { quotes: none }
table {
    border-collapse: collapse;
    border-spacing: 0;
}
button, input, select, textarea { margin: 0 }
:focus { outline: 0 }
img, video, object {
    max-width: 100%;
    vertical-align:bottom;
}
iframe { max-width: 100% }
blockquote {
    font-weight: normal;
    font-size: 24px;
    padding-left: 28px;
    position: relative;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 3px;
}
blockquote:after {
    font-family: FontAwesome;
    position: absolute;
    content: "\f10d";
    font-size: 20px;
    top: 0;
    left: 0;
}
blockquote p { margin-bottom: 10px }
strong, b { font-weight: bold }
em, i, cite { font-style: italic }
small { font-size: 100% }
figure { margin: 10px 0 }
code, pre {
    font-weight: normal;
    font-style: normal;
}
pre {
    margin: 5px 0 20px 0;
    line-height: 1.3em;
    padding: 8px 10px;
    overflow: auto;
}
code {
    padding: 0 8px;
    line-height: 1.5;
}
mark {
    padding: 1px 6px;
    margin: 0 2px;
    color: black;
    background: #FFF7A8;
}
address {
    margin: 10px 0;
    font-style: italic;
}
.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%;
    padding: 5px 3px 10px;
    text-align: center;
}
.sticky {

}
.gallery-caption {

}
#gallery-1 img { border: 0!important }
.bypostauthor {

}
.wp-caption-text { margin-bottom: 0 }
dl {

}
dt {
    float: left;
    clear: left;
    width: 100px;
    text-align: right;
    font-weight: bold;
}
dd {
    margin: 0 0 0 110px;
    padding: 0 0 0.5em 0;
    overflow: hidden;
}
/*-[ Framework ]--------------------*/
body {
    font: 15px/32px Roboto, sans-serif;
    color: #575757;
    background-color: #fff;
}
::-moz-selection {
    background: #222;
    color: white;
    text-shadow: none;
}
::selection {
    background: #222;
    color: white;
    text-shadow: none;
}
#page, .container {
    position: relative;
    margin-right: auto;
    margin-left: auto;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin-bottom: 12px;
    color: #444;
}
h1 {
    font-size: 28px;
    line-height: 1;
}
h2 { line-height: 1 }
h3 {
    font-size: 22px;
    line-height: 1;
}
h4 {
    font-size: 20px;
    line-height: 1;
}
h5 {
    font-size: 18px;
    line-height: 1;
}
h6 {
    font-size: 16px;
    line-height: 1;
}
.sub-title { font-size: 12px }
p { margin-bottom: 20px }
a {
    text-decoration: none;
    color: #08C;
    transition: background-color, color 0.2s linear;
}
a:hover { color: #EE210B }
a:link, a:visited, a:active { text-decoration: none }
/*-[ Main container ]---------------*/
.main-container {
    width: 1170px;
    margin: 0 auto;
    clear: both;
    display: block;
    padding: 30px 2% 0px;
}
#page, .container {
    width: 1170px;
    max-width: 100%;
    min-width: 240px;
}
#page {
    min-height: 100px;
    float: none;
    clear: both;
}
/*-[ Header ]-----------------------*/
header {
    float: left;
    width: 100%;
    position: relative;
}
.main-header {
    position: relative;
    float: left;
    width: 100%;
    z-index: 99;
    background: #333333;
}
.main-header .container { background: #fff }
#header {
    position: relative;
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
}
#header h1, #header h2 {
    font-size: 24px;
    float: left;
    display: inline-block;
    line-height: 1;
    position: relative;
    margin-bottom: 0;
}
#logo a {
    float: left;
    line-height: 1;
    color: #fff;
}
.image-logo { margin-top: 0px }
#logo img { float: left }
.logo-wrap {
    margin: 12px 20px 0 0;
    overflow: hidden;
    float: left;
}
.site-description {
    float: left;
    margin-top: 0;
    max-width: 350px;
    clear: left;
}
#header .header-search { float: right }
#header #searchform {
    max-width: 100%;
    float: right;
    width: auto;
    min-width: 206px;
}
#header #s {
    margin: 0 !important;
    width: 80%;
}
.banner-ads {
    text-align: center;
    margin-top: 20px;
    float: left;
    width: 100%;
    height: 90px;
}
.widget-header {
    display: inline-block;
    max-width: 77%;
    margin-bottom: 0px;
}
.widget-header .textwidget {
    float: left;
    margin-top: 46px;
    border-left: 1px solid #cccccc;
    padding-left: 20px;
}
.header-social-icon {
    float: right;
    margin-top: 15px;
}
.header-social-icon li { float: left }
.header-social-icon .share-item { margin-bottom: 0 }
.head-search {
    float: right;
    text-align: center;
    margin-left: 20px;
}
.head-search .fa-search {
    width: 50px;
    height: 50px;
    line-height: 50px;
    position: relative;
    z-index: 2;
    background: #333;
    color: #ddd;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    cursor: pointer;
    transition: all linear .3s;
}
.head-search .fa-search:hover { color: #fff }
#header .head-search #searchform {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    z-index: 1;
    display: none;
}
.head-search #searchform .sbutton, .head-search #searchform .fa-search { display: none; }
#header .head-search #s {
    width: 100%;
    background: #f5f5f5 !important;
    border:1px solid #ddd;
    font-size: 14px;
    padding: 18px;
    color: #000;
    text-indent: 0;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
}
#header .head-search #s::-webkit-input-placeholder { color: #000;}
#header .head-search #s:-moz-placeholder { color: #000;}
#header .head-search #s::-moz-placeholder { color: #000;}
#header .head-search #s:-ms-input-placeholder { color: #000;}
#header .head-search #s:input-placeholder { color: #000;}
/*-[ Navigation ]-----------------*/
.menu-item-has-children > a:after {
    content: "\f101";
    font-family: FontAwesome;
    position: absolute;
    right: 10px;
}
#navigation .menu-item-has-children > a { padding-right: 25px }
.primary-navigation #navigation { float: left }
.secondary-navigation {
    display: block;
    float: left;
    max-width: 100%;
}
.secondary-navigation a {
    color: #222222;
    font-weight: bold;
    text-align: left;
    text-decoration: none;
    padding: 0px 15px;
    line-height: 50px;
    transition: all linear .3s;
}
.primary-navigation a { padding: 8px 30px }
.secondary-navigation a .sub {
    font-size: 11px;
    font-weight: normal;
    color: #9B9B9B;
}
#navigation ul { margin: 0 auto }
#navigation ul li {
    float: left;
    line-height: 24px;
    position: relative;
    text-transform: uppercase;
}
#navigation ul li:hover > a, #navigation ul .current-menu-item > a {
    background-color: #fff;
    color: #333333 !important;
}
#navigation ul li a, #navigation ul li a:link, #navigation ul li a:visited { display: inline-block }
#navigation > ul > .current a {
    background: transparent;
    color: #5a5a5a !important;
}
#navigation ul li li {
    background: #fff;
    border-bottom: 0;
}
#navigation ul ul {
    position: absolute;
    width: 215px;
    padding: 20px 0 0 0;
    padding-top: 0;
    z-index: 400;
    font-size: 12px;
    color: #798189;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
}
#navigation ul ul li { padding: 0 }
#navigation ul ul a {
    padding: 13px 25px 12px 20px;
    position: relative;
    width: 170px;
    border-left: 0;
    background: transparent;
    border-right: 0;
    border-radius: 0;
    border-bottom: 1px solid #ccc;
    margin: 0;
    line-height: inherit;
    color: #333333;
}
#navigation ul ul li:first-child a {

}
#navigation ul ul li:last-child a { border-bottom: 4px solid #333 }
#navigation ul ul { display: none }
#navigation ul ul ul {
    left: 215px;
    top: 0;
}
.sub-menu .menu-item-has-children:after { color: #fff }
#navigation .toggle-caret { display: none }
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after { clear: both }
.clearfix { *zoom: 1 }
a#pull { display: none }
#navigation i { margin-right: 4px }
/* Header Post */
.header-post-wrap {
    background: #eff2eb;
    float: left;
    width: 100%;
}
.header-posts {
    width: 1170px;
    margin: 0 auto;
}
.header-post {
    width: 23.2%;
    float: left;
    margin-right: 2.4%;
    padding: 15px 0;
}
.header-post-img {
    float: left;
    margin-right: 18px;
    position: relative;
}
.title.header-post-title {
    overflow: hidden;
    clear: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    display: table-cell;
    vertical-align: middle;
    height: 70px;
}
.title.header-post-title a { color: #333 }
/* Flyout nav */
#sticky {
    float: left;
    width: 100%;
}
.sticky-nav {
    z-index: 500;
    position: fixed;
    top: 0;
    margin: 0 !important;
    -webkit-backface-visibility: hidden;
}
.admin-bar .sticky-nav { top: 32px }
#sticky a { transition: all 0.25s linear }
/*-[ Content ]--------------------*/
.article {
    width: 68.4%;
    float: left;
    margin-bottom: 50px;
    padding: 0;
}
.home .article { width: 100% }
#content_box {
    float: left;
    width: 100%;
}
.post {
    float: left;
    width: 100%;
}
.single_post {
    float: left;
    width: 100%;
    margin-bottom: 50px;
}
.single_post .post-info span, .single_post .post-info a { font-size: 12px }
.single_post .post-info a { color: #aaa;}
.single_post .post-info .thecategory a { color: #fff }
.single_post .featured-thumbnail .attachment-featuredfull { margin-bottom: 40px }
.single_page { padding-top: 0 }
.post-content {
    margin-bottom: 15px;
    overflow: hidden;
    clear: both;
    float: left;
    width: 100%;
}
.post-single-content-wrap {
    clear: both;
    position: relative;
}
.post-single-content { overflow: hidden }
.readMore {
    float: right;
    color: #7B7A79;
}
.readMore a { color: #EE210B }
.frontPost .readMore a {
    color: #000;
    font-size: 12px;
}
.ss-full-width {
    background: white;
    overflow: hidden;
    padding-top: 0;
    margin-bottom: 50px;
}
.ss-full-width #content_box {
    padding-right: 0;
    padding-left: 0;
}
.post.excerpt {
    clear: both;
    margin-bottom: 30px;
    overflow: hidden;
    padding-bottom: 15px;
    background-color: #fff;
    width: auto;
}
.post-img { max-width: 100% }


.post-image {
    display: block;
    position: relative;
}
.post-image-fullwidth {
    margin-bottom: 10px;
    display: block;
    position: relative;
}
.featured-thumbnail img {
    margin-bottom: 0;
    width: 100%;
    float: left;
}
.title {
    clear: both;
    margin-bottom: 9px;
}
.single-title {
    float: left;
    width: 100%;
}
.page h1.title {
    padding-top: 0;
    margin-bottom: 0;
}
.post-info {
    display: block;
    color: #aaa!important;
    float: left;
    clear: both;
    width: 100%;
    font-size: 12px;
    text-transform: uppercase;
}
.post-info a { color: #aaa }
.post-info > span {
    margin-right: 7px;
    position: relative;
}
.related-posts .post-info {
    clear: none;
    float: none;
}
.post-info .theauthor span {
    position: relative;
}
.post-info > span:last-child:before {
    content: '';
    border: 3px solid #aaa;
    width: 0;
    height: 0;
    position: absolute;
    top: 4px;
    left: 0;
}

.post-info span:last-child {
    padding-left: 8px;
}

.single_post .post-info span:last-child:before {
    display: none;
}
.post-info .thecategory {
    color: #fff;
    display: inline-block;
    line-height: 1;
    border-radius: 3px;
}
.post-info .thecategory a, .post-info .thecategory a:hover {
    color: #fff;
    padding: 6px;
    display: inline-block;
}
/**********latest-posts***********/
article header {
    margin-bottom: 11px;
    float: left;
    width: 100%;
    margin-top: 11px;
}
.single article header {
    margin-bottom: 30px;
    margin-top: 0;
}
/* Featured Post Slider */
.featured-wrap {
    margin-bottom: 60px;
    margin-top: -10px;
}
.featured-post-wrap {
    position: relative;
 
}
/*.featured-post-wrap.featured-post-1 { width: 68.4% }
.featured-post-wrap.featured-post-2, .featured-post-wrap.featured-post-3 { width: 31.6% }*/
.featured-img-wrap {
    position: relative;
    overflow:hidden;
    z-index: 1;
}
.featured-bg {
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
}
.featured-excerpt {
    position: absolute;
    bottom: 0px;
    padding: 10px;
    z-index: 2;
    width: 100%;
    box-sizing: border-box;
    background:rgba(0,0,0,0.3);
}
.featured-excerpt .featured-title {
    color: #fff;
    display: block;
    font-size: 16px;
    margin:0;
    font-weight: 500;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4);
    line-height: 1.2;
}

.featured-excerpt .category-head {
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4);
}
/* End of Featured Post Slider */
.latestPost {
    width: 100%;
    float: left;
    margin-bottom: 20px;
    margin-right: 3%;
}
.featured-category-title {
    float: left;
    width: 100%;
    margin-top: 30px;
}
.more-content-wrap h3 a {
    color: #333;
    font-size: 24px;
    margin-bottom: 15px;
    float: left;
    width: 100%;
}
.home .latestPost, .archive .latestPost, .search .latestPost
{ 
    background: #f4f4f4;
    border: 1px solid #d1d3d3;
    border-radius: 7px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    overflow: hidden;
    width: 24.25%;
    margin-right:1%;
}
.home .latestPost header, .archive .latestPost header, .search .latestPost header
{
    margin: 0;
    padding: 10px 15px;
    height: 90px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
}
/*.home .latestPost:nth-child(3n+1) { clear: both }*/
.latestPost .title {
    display: block;
    line-height: 16px;
}
.front-view-content {

}
.archive .latestPost, .search .latestPost {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    margin-right: 2.333%;
    width: 31%;
}
#tab-group-wrap { text-align: center }
/* Tab Group */
.latest-post-wrap {
    float: left;
    width: 100%;
}
#tab-group {
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 0px auto 51px;
    overflow: hidden;
    display: inline-block;
}
#tab-group li {
    float: left;
    width: 270px;
    border-right: 1px solid #ddd;
    background:#0088cc;
}
#tab-group li:last-child { border-right: none; }
#tab-group .active { background: #006ca2;}
#tab-group a {
    display: block;
    padding: 8px 10px;
color: #fff !important;
}
#tab-group a .fa {
    padding-right: 4px;
    font-size: 15px;
    color: #fff;
}
/* Tab Content */
#tab-content, #popular-categories, .clear { clear: both }
#tab-content {
    position: relative;
    overflow: hidden;
}
#popular-categories h4 {
    margin-bottom: 15px;
    font-size: 24px;
}
#latest-tab-content { display: none }
/* popular categories */
.popular-category {
    width: 23.076%;
    margin-right: 2.564%;
    text-align: center;
    float: left;
    height: 100%;
    position: relative;
    background-size: cover;
    margin-bottom: 10px;
}
.popular-category.last { margin-right: 0px }
.popular-category:before {
    content: "";
    display: block;
    padding-top: 79%;
}
.popular-category a {
    color: #fff !important;
    width: 100%;
    height: 100%;
    transition: all 1s ease;
    position: absolute;
    background: rgba(0,0,0,0.4);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
.popular-category a:hover { color: #fff }
.popular-category a span {
    position: relative;
    top: 50%;
    margin-top: -16px;
    display: block;
}
/* Loading... */
.mts-loading { min-height: 120px }
.mts-loading:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255,255,255,0.8);
    z-index: 11;
}
.clear { clear: both }
.mts-loading:after {
    content: "";
    margin: 0 auto 3em auto;
    font-size: 10px;
    position: absolute;
    top: 25%;
    left: 50%;
    margin-left: -16px;
    z-index: 12;
    text-indent: -9999em;
    border-top: 0.4em solid rgba(0, 0, 0, 0.2);
    border-right: 0.4em solid rgba(0, 0, 0, 0.2);
    border-bottom: 0.4em solid rgba(0, 0, 0, 0.2);
    border-left: 0.4em solid #000;
    -webkit-animation: hometabsloading 0.5s infinite linear;
    animation: hometabsloading 0.5s infinite linear;
    border-radius: 50%;
    width: 2em;
    height: 2em;
}
@-webkit-keyframes hometabsloading { 
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes hometabsloading { 
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.single_post header {
    width: 100%;
    margin-bottom: 8px;
}
article img.left, article img.alignleft, .wp-caption.alignleft {
    margin: 0.3em 1.571em 0.5em 0;
    display: block;
    float: left;
}
article img.right, article img.alignright, .wp-caption.alignright {
    margin: 0.3em 0 0.5em 1.571em;
    display: block;
    float: right;
}
article img.center, article img.aligncenter, .wp-caption.aligncenter {
    margin: 0.3em auto 0.5em auto;
    display: block;
}
article img.aligncenter, article img.alignnone {
    margin-top: 1em;
    margin-bottom: 1em;
    display: block;
    clear: both;
}
article ul {
    margin: .5em 0 .571em 1.9em;
    list-style-type: square;
}
article ol {
    margin: .5em 0 .571em 1.9em;
    list-style-type: decimal;
}
article ul ul, article ol ol, article ul ol, article ol ul {
    margin-top: 0;
    margin-bottom: 0;
}
article .iconlist { margin-left: 0 }
article .iconlist li { list-style-type: none }
/*-[ Tweets Widget ]---------------------------*/
.tweets li { margin-bottom: 15px!important }
/*-[ Facebook like box Widget ]---------------------------*/
.tweets li { margin-bottom: 15px!important }
.fb_iframe_widget, .fb_iframe_widget span {
    max-width: 100%;
    width: 100%!important;
    float: left;
}
/*-[ Custom Nav Widget ]---------------------------*/
.widget_nav_menu .fa > a, .widget_nav_menu .fa > a { padding-left: 5px }
.widget_nav_menu .sub-menu {
    margin-top: 8px;
    margin-left: 10px;
}
.widget_nav_menu .menu-item-has-children > a:after { content: '' }
/*-[ Toggle menu ]---------------------------*/
.toggle-menu ul ul { display: none }
.toggle-menu .toggle-menu-item-parent { position: relative }
.toggle-menu .toggle-caret {
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    cursor: pointer;
    line-height: inherit;
}
.toggle-menu .toggle-caret .fa {
    width: 20px;
    text-align: center;
    font-size: inherit;
    color: inherit;
    line-height: 20px;
}
.toggle-menu .active > .toggle-caret .fa:before { content: "\f068" } /*minus*/
.toggle-menu .toggle-caret:hover .fa {

}
/*-[ Text Widget ]---------------------------*/
.textwidget { line-height: 30px }
/*-[ Form Input ]------------------*/
input, textarea, select {
    padding: 8px 12px;
    font-size: 14px;
    color: #575757;
    border: 1px solid #ddd;
    font-family: inherit;
}
textarea {
    overflow: auto;
    resize: vertical;
}
select {
    padding: 6px 10px;
    border-color: #D8D8D8;
}
input:focus, textarea:focus {

}
/*-[ Tables ]--------------------*/
table {
    width: 100%;
    text-align: left;
    margin-bottom: 25px;
    border: 1px solid #DDD;
}
thead {
    background: #F7F8F9;
    font-size: 14px;
    color: #585F65;
}
table th, table td {
    padding: 7px 15px;
    text-align: left;
}
thead th { padding: 14px }
tbody th {
    font-weight: normal;
    border-bottom: 1px solid #DDD;
}
/*-[ Line ]---------------------*/
hr {
    border: none;
    border-bottom: 1px solid #E5E5E5;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    width: 297px;
    margin: 35px 0;
    clear: both;
    position: relative;
}
/*-[ Search Form ]------------------*/
#searchform {
    padding: 0;
    float: left;
    clear: both;
    width: 100%;
    position: relative;
}
.article #searchform { max-width: 300px }
#searchform fieldset { float: left }
.sbutton, #searchsubmit {
    right: 0px;
    top: 0px;
    padding: 9px 0;
    float: right;
    border: 0;
    width: 41px;
    height: 50px;
    cursor: pointer;
    text-align: center;
    padding-top: 10px;
    color: white;
    transition: all 0.25s linear;
    background: transparent;
    z-index: 10;
    position: absolute;
    border: 0;
    vertical-align: top;
}
#searchform .fa-search {
    font-size: 18px;
    top: 0px;
    color: #575757;
    position: absolute;
    right: 0px;
    padding: 15px 13px;
    height: 18px;
    width: 23px;
    text-align: center;
}
#s, .widget_search #searchform #s {
    width: 100%;
    background-color: #eff2eb;
    float: left;
    padding: 16px 0;
    text-indent: 18px;
    color: #555555;
    border: none;
    border-radius: 3px;
    font-size: 14px;
}
/* Search input placeholder text styling */
::-webkit-input-placeholder { color: #575757 }
:-moz-placeholder { color: #575757 }
::-moz-placeholder { color: #575757 }
:-ms-input-placeholder { color: #575757 }
:input-placeholder { color: #575757 }
/* Microphone icon position fix */
input::-webkit-input-speech-button {
    margin-right: 14px;
    margin-left: 4px;
    cursor: pointer;
}
#searchform fieldset { width: 100% }
.breadcrumb, .breadcrumb > div, .breadcrumb .fa-caret-right, .breadcrumb .root a, .single_post .breadcrumb a {
    float: none;
    color: #aaa;
}
.breadcrumb {
    clear: both;
    padding: 0;
    overflow: hidden;
    font-size: 14px !important;
    font-weight: normal !important;
    margin-bottom: 10px;
    color: #aaa!important;
}
.breadcrumb > div {
    padding: 0;
    overflow: hidden;
    float: none;
    display: inline-block;
}
.breadcrumb > div.breadcrumb-icon { padding: 0 7px }
.breadcrumb .fa-caret-right { padding: 0 }
.breadcrumb .root { padding: 0 }
.breadcrumb .fa-caret-right { padding: 0 0 }
.breadcrumb > div { overflow: visible }
.breadcrumb-icon-small { margin: 0 5px }
.no-results h2 { font-size: 16px }
/*-[ Read More ]-------------------*/
.read-more {
    margin: 0 0 0 10px;
    line-height: 1.4em;
    background: none;
    padding: 0;
    font-size: 16px;
}
/*-[ Top Ad in Post ]-------------------------------------*/
.topad {
    margin-bottom: 10px;
    clear: both;
}
/*-[ Bottom Ad in post ]-----------*/
.bottomad {
    float: left;
    clear: both;
    margin-top: 10px;
}
/*-[ Sidebar ]---------------------*/
#sidebars p { line-height: 30px }
.sidebar.c-4-12 {
    float: right;
    width: 29.1%;
    line-height: 20px;
    max-width: 340px;
    margin-bottom: 50px;
}
.sidebar.c-4-12 a { color: #333 }
#sidebars .wp-post-image, footer .wp-post-image, .post-img img {
    margin-bottom: 0;
    margin-top: 5px;
    margin-right: 20px;
    margin-left: 0;
    
 width: 326px;
 height: 159px;
}
.widget {
    margin-bottom: 50px;
    float: left;
    clear: both;
    width: 100%;
    overflow: hidden;
}
.sidebar .widget h3 {
    color: #333;
    line-height: 1;
    margin-bottom: 35px;
}
.widget .title {
    font-weight: bold;
    text-transform: uppercase;
    color: #545E68;
    font-size: 12px;
}
.widget .post-title {
    line-height: 24px;
    font-size: 20px !important;
    margin-bottom: 10px;
margin-top: 10px;
}
#sidebars .widget li, footer .widget li { font-size: 15px }
footer .widget li { color: #aaa }
.widget li { margin-bottom: 7px }
.widget li:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
}
.widget .post-info, .post-excerpt {
    clear: none;
    width: auto;
    float: none;
    color: #aaa;
    margin-bottom: 5px;
}
.post-excerpt {
    margin-bottom: 0;
    overflow: hidden;
}
.widget h3 {
    font-size: 28px;
    line-height: 40px;
    margin: 0px 0 15px 0;
}
.advanced-recent-posts li, .popular-posts li, .category-posts li, .related-posts-widget li, .author-posts-widget li {
    list-style: none!important;
    margin: 0;
    overflow: hidden;
    transition: all 0.25s linear;
    color: #aaa;
    padding-left: 0;
    background: none;
    margin-bottom: 15px;
    padding-top: 2px;
    padding-bottom: 28px;
}
.advanced-recent-posts p, .popular-posts p, .category-posts p, .related-posts-widget p, .author-posts-widget p {
    margin: 0;
    font-size: 13px;
}
.advanced-recent-posts a, .popular-posts a, .category-posts a, .related-posts-widget a, .author-posts-widget a { display: block }
.widget .meta {
    font-size: 13px;
    color: #777;
    overflow: hidden;
}
/*-[ Social Buttons ]--------------------------*/
#left-share {
    float: left;
    width: 108px;
}
#left-share-inner { width: 108px }
.sticky-ssicon .post-single-content { padding-left: 108px }
.candy-wrapper {
    max-width: 960px;
    margin: 0 auto;
    position: relative;
}
.post-single-content {
    position: relative;
    vertical-align: top;
}
#left-share {
    display: inline-block;
    vertical-align: top;
}
.wrap-ssicon {
    margin: 0 auto;
    display: inline;
    top: 35px;
    z-index: 1;
    vertical-align: top;
}
.sticky-ssicon .wrap-ssicon {
    position: fixed;
    display: block;
}
.at-bottom .wrap-ssicon {
    position: absolute;
    bottom: 0;
    top: inherit;
}
.sticky-stop { clear: both }
/* .sticky-ssicon .shareit {padding-top: 35px;} _NO__DOTCOMMA__AFTER__*/
.sticky-ssicon .left-comment { opacity: 0 }
.left-comment {
    text-transform: uppercase;
    width: 78px;
    float: left;
}
.left-comment span {
    display: block;
    font-size: 30px;
    font-weight: bold;
}
.single-social {
    float: left;
    background: #0071aa;
    color: #fff !important;
    width: 76px;
    text-align: center;
    line-height: 25px;
    border-radius: 4px;
}
.facebooksharebtn .single-social { background: #3b5998 }
.twitterbtn .single-social { background: #00aced }
.gplusbtn .single-social { background: #e64522 }
.pinbtn .single-social { background: #cb2027 }
.linkedinbtn .single-social { background: #007bb6 }
.stumblebtn .single-social { background: #f0473b }
.emailbtn .single-social { background: #333 }
.commerntbtn .single-social { background: #444444 }
.single-social .fa {
    font-size: 13px;
    vertical-align: middle;
    margin-right: 2px;
}
.shareit.top { padding-top: 0!important }
.share-item {
    display: block;
    margin: 0;
    float: left;
    height: 25px;
    font-family: arial;
    font-size: 11px;
    margin-bottom: 7px;
}
.share-item:last-child { margin-bottom: 0 }
.share-item.facebookbtn { min-width: 78px }
.share-item.shareit.top {
    float: left;
    margin-bottom: 10px!important;
    margin-top: 0;
    width: 100%;
}
.share-item iframe { max-width: none }
/*-[ Social Profile Widget ]--------------------------*/
.social-profile-icons ul { margin: 0 -4px }
.social-profile-icons ul li {
    background: none;
    border: none;
    float: left;
    list-style-type: none;
    margin: 0 4px 8px 4px!important;
    padding: 0 !important;
    border: none !important;
}
.social-profile-icons ul li a {
    width: 35px;
    height: 35px;
    display: block;
    float: left;
    border-radius: 3px;
    text-align: center;
    line-height: 35px;
    color: #FFF!important;
    transition: all .4s;
    padding: 0;
}
.sidebar .social-profile-icons ul li a:hover {
    color: #fff;
    background: #333;
}
.sidebar .social-profile-icons ul li a { color: #fff }
.social-profile-icons ul li i {
    font-size: 16px;
    line-height: 35px;
}
.social-profile-icons .social-youtube a { background: #c9322b }
.social-profile-icons .social-rss a { background: #ef922f }
.social-profile-icons .social-twitter a { background: #40bff5 }
.social-profile-icons .social-facebook a { background: #5d82d1 }
.social-profile-icons .social-gplus a { background: #eb5e4c }
.social-profile-icons .social-vimeo a { background: #35c6ea }
.social-profile-icons .social-dribbble a { background: #f7659c }
.social-profile-icons .social-tumblr a { background: #426d9b }
.social-profile-icons .social-instagram a { background: #91653f }
.social-profile-icons .social-flickr a { background: #ff48a3 }
.social-profile-icons .social-pinterest a { background: #e13138 }
.social-profile-icons .social-linkedin a { background: #238cc8 }
.social-profile-icons .social-github a { background: #b5a470 }
.social-profile-icons .social-email a { background: #1d90dd }
.social-profile-icons .social-behance a { background: #1879fd }
.social-profile-icons .social-skype a { background: #13c1f3 }
.social-profile-icons .social-soundcloud a { background: #ff7e30 }
.social-profile-icons .social-stumbleupon a { background: #ff5c30 }
.social-profile-icons .social-dropbox a { background: #3476e4 }
.social-profile-icons .social-foursquare a { background: #0bbadf }
.social-profile-icons .social-reddit a { background: #ff4400 }
/*-[ Footer ]-------------------*/
footer .widget li:first-child {
    border-top: none;
    padding-top: 0;
}
footer .widget .post-info {
    color: #aaa;
    float: none;
    line-height: 20px;
}
.footer-widgets .widget .advanced-recent-posts li {
    margin-bottom: 0 !important;
    padding-top: 12px;
}
.footer-widgets .widget .advanced-recent-posts li:first-child { padding-top: 0 !important }
.footer-widgets h3 { margin: 0 }
.footer-widgets .post-img { width: 35% }
footer {
    overflow: hidden;
    width: 100%;
}
footer a, footer .menu li a { color: inherit }
footer .footeText {
    width: 1170px;
    margin: 22px auto;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}
footer .footeText a {
    color: #fff;
    border-bottom: 2px solid #ee3f02;
}
footer .widget { padding: 1px 0 0 0 }
footer .sidebar .widget .title {
    font-size: 135%;
    color: #D4D8DB;
}
footer .widget { margin-bottom: 20px }
footer {
    position: relative;
    overflow: hidden;
    clear: both;
    background: #333333;
    line-height: 20px;
    padding-bottom: 40px;
}
footer p { color: #8D8D8D }
.footer-widgets {
    overflow: hidden;
    padding: 30px 0 0;
    width: 68.4%;
    float: left;
    margin: 0;
}
.footer-widgets h3 {
    margin-bottom: 15px;
    color: #ddd;
    padding-top: 0;
    font-size: 18px;
    line-height: 1;
    font-weight: 500;
    text-transform: uppercase;
}
.f-widget {
    width: 28%;
    float: left;
    position: relative;
    margin-bottom: 0;
    margin-right: 8%;
}
.widgets-num-4 .f-widget { width: 19% }
footer .copyrights {
    font-size: 14px;
    color: inherit;
}
.copyrights {
    float: right;
    padding-bottom: 30px;
    padding-top: 30px;
    width: 29.1%;
    line-height: 20px;
    max-width: 340px;
}
.copyrights a { color: #aaa }
#copyright-note {
    max-width: 100%;
    clear: both;
}
#copyright-note span { display: block }
.copyrights .footer-social {
    margin-bottom: 7px;
    float: left;
    width: 100%;
}
.copyrights .footer-social a {
    background: #333;
    width: 50px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    text-align: center;
    font-size: 24px;
    color: #fff;
    float: left;
    margin-right: 8px;
    margin-bottom: 8px;
    border-radius: 4px;
    transition: all linear .3s;
}
.copyrights .footer-social a:hover { color: #fff }
.copyrights .footer-social a:last-child { margin-right: 0 }
.copyrights.footer-disable {
    width: 100%;
    max-width: 100%;
    padding: 30px 0px 0px;
}
.copyrights.footer-disable .footer-social {
    float: left;
    width: 50%;
}
.copyrights.footer-disable #copyright-note {
    float: right;
    clear: none;
}
.postsby { margin-bottom: 25px }
/* Clients */
.sponsers-images {
    float: left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    width: 100%;
    margin-bottom: 20px;
}
.sponsers-images h4 {
    color: #aaa;
    font-weight: 100;
    font-style: italic;
    padding: 50px 0 0;
    float: left;
    font-size: 25px;
    margin-right: 35px;
}
.sponsers-images h4 i {
    margin-left: 15px;
    margin-top: 1px;
    float: right;
}
.sponsers-images .sponsor-image-link {
    float: none;
    padding: 40px 20px;
    display: inline-block;
}
.sponsers-images .sponsor-image-link:last-child { padding-right: 0 }
/*-[ Back To Top ]---------------------------*/
.to-top { position: relative }
.toplink .fa-chevron-up {
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 0px;
}
.toplink { padding-right: 27px }
#move-to-top {
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    height: 18px;
    padding: 16px 13px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 24px;
    z-index: 25;
    background: #0071aa;
    border-radius: 4px;
    transition: all 0.25s linear;
    -webkit-backface-visibility: hidden;
}
#move-to-top:not(.filling) {
    opacity: 0;
    visibility: hidden;
}
#move-to-top .fa-chevron-up {
    font-size: 24px;
    position: absolute;
    top: 11px;
}
/*-[ Related Posts ]---------------------------*/
.related-wrap {
    float: left;
    width: 100%;
    margin-bottom: 50px;
    padding-bottom: 30px;
    border-bottom: 1px solid #DDD;
}
.related-left {
    float: left;
    width: 50%;
}
.related-posts {
    clear: both;
    float: left;
    width: 100%;
}
.related-posts h4 { margin-bottom: 35px }
.related-posts .latestPost {
    width: 100%;
    margin-right: 0;
}
.related-posts .last {
    margin-right: 0;
    padding-bottom: 0;
}
.related-posts .latestPost:last-child { margin-bottom: 0 }
.related-posts .latestPost #featured-thumbnail {
    float: left;
    margin-right: 20px;
    position: relative;
    max-width: 31.243%;
}
.related-posts .title {
    font-size: 16px;
    margin-bottom: 0px;
}
.related-posts .latestPost .title a {
    font-size: 20px;
    font-weight: bold;
}
.related-posts article header {
    margin-bottom: 0;
    overflow: hidden;
    width: auto;
    float: none;
}
.related-posts article header p {
    text-transform: uppercase;
    margin-bottom: 0;
}
.related-posts article header p a { color: #333333 }
.related-ads {
    float: right;
    width: 46%;
}
.related-ads .widget-header {
    max-width: 100%;
    float: right;
    margin-top: 60px;
}
/*-[ Post Tags ]---------------------------------*/
.tags {
    margin: 0 0 50px 0;
    width: 100%;
    float: left;
}
.tags a { margin-left: 5px }
/*-[ Recommended for you ]--------------------------------*/
.recommended-posts {
    float: left;
    background: #333;
    margin-top: 30px;
    width: 100%;
}
.recommended-post-img {
    float: left;
    position: relative;
}
.recommended-post header {
    width: auto;
    float: none;
    overflow: hidden;
    padding: 20px;
    box-sizing: border-box;
}

.single article .recommended-post header {
    margin-bottom: 0;
}
.recommended-post .recommended {
    color: #fff;
    background: #0088cc;
    display: inline-block;
    padding: 5px 10px;
    text-transform: uppercase;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 300;
}
.title.recommended-title {
    font-size: 20px;
    line-height: 28px;
}
.title.recommended-title a { color: #fff }
.recommended-post p { margin-bottom: 0 }
.recommended-post p a {
    color: #fff;
    text-transform: uppercase;
}
/*-[ Author Box ]--------------------------------*/
.postauthor {
    margin: 50px 0 0px 0;
    padding: 0;
    min-height: 180px;
    background-color: #eff2eb;
    border: 1px solid #dddddd;
    float: left;
    clear: both;
    width: 100%;
    padding-top: 30px;
    border-radius: 4px;
    box-sizing: border-box;
}
.postauthor h4 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 19px;
    padding-top: 6px;
    padding-bottom: 6px;
    color: #EE210B;
}
.postauthor h5 {
    font-weight: bold;
    font-size: 28px;
    padding: 0;
    margin: 0;
    line-height: 24px;
    text-transform: capitalize;
    margin-right: 20px;
    margin-bottom: 10px;
    padding-left: 20px;
    overflow: hidden;
}
.postauthor h5 a { color: inherit }
.postauthor img {
    float: left;
    margin: 4px 0px 0 20px;
    border-radius: 50%;
}
.postauthor h4 a { color: #473636 }
.author-social {
    overflow: hidden;
    margin-right: 20px;
    margin-bottom: 10px;
    padding-left: 20px;
}
.single_post .author-social a {
    background: #6686b7;
    color: #fff;
    width: 35px;
    height: 35px;
    line-height: 35px;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    margin-right: 5px;
    transition: all linear .3s;
}
.author-social a.twitter { background: #54c1de }
.author-social a.google { background: #e55e4c }
.author-social a.pinterest { background: #ff5e63 }
.author-social a.stumbleupon { background: #ee291b }
.author-social a.linkedin { background: #007bb6 }
.write-for-us {
    float: left;
    width: 100%;
}
.postauthor p {
    overflow: hidden;
    margin-right: 20px;
    padding-left: 20px;
}
.postauthor .write-for-us a {
    background: #ddd;
    display: block;
    text-align: center;
    color: #333333;
    font-size: 16px;
    padding: 7px 10px;
}
.postauthor-top {
    padding-top: 5px;
    padding-bottom: 8px;
    margin-bottom: 15px;
}
.clear { clear: both }
.left { float: left }
.right { float: right }
/*.last { margin-right: 0 !important }*/
/*-[ Tag widget ]------------------------------*/
.tagcloud a {
    font-size: 14px!important;
    padding: 8px 20px;
    margin-bottom: 20px;
    float: left;
    margin-right: 20px;
    background: #0071aa;
    color: #FFFFFF!important;
    position: relative;
    border-radius: 3px;
    text-transform: uppercase;
    transition: all 0.25s linear;
}
.tagcloud a:hover {
    background: #333;
    color: #FFFFFF;
}
.tagcloud a .tab_count {
    position: absolute;
    right: 0;
    top: 0;
    background: #333;
    font-size: 12px;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    margin-top: -10px;
    margin-right: -10px;
    transition: all 0.25s linear;
}
.tagcloud a:hover .tab_count { background: #0071aa }
/*-[ Ad Widgets ]------------------------------*/
.ad-125 ul {
    float: left;
    width: 100%;
    margin: 0;
    list-style: none;
    max-width: 100%;
}
.ad-125 li {
    float: left;
    border: none;
    list-style: none!important;
    padding-left: 0;
    background: none;
    margin-bottom: 15px;
    margin-left: 0;
    max-width: 48%;
}
.ad-125 li:nth-child(2n+2) { float: right!important }
.ad-125 li:nth-last-child(2), .ad-125 li:last-child { margin-bottom: 0 }
/*-[ Calender Widget ]-------------------------*/
#wp-calendar {
    margin-bottom: 0;
    font-size: 14px;
}
#wp-calendar td {
    text-align: center;
    padding: 7px 0;
    border-top: 1px solid #F1F4F6;
    border-right: 1px solid #F1F4F6;
}
#wp-calendar caption {
    font-size: 16px;
    padding-bottom: 10px;
    font-weight: bold;
}
#wp-calendar #prev {
    text-align: left;
    padding-left: 12px;
}
#wp-calendar #next {
    text-align: right;
    padding-right: 12px;
}
#wp-calendar thead th {
    padding: 10px 0;
    text-align: center;
}
/*-[Comments]--------------*/
.nocomments {
    margin-top: 20px;
    clear: both;
    float: left;
    width: 100%;
}
.total-comments {
    font-size: 28px;
    padding-top: 0;
    padding-bottom: 15px;
}
.cnumber { color: #2DB2EB }
#comments {
    padding: 0;
    margin-bottom: 0;
    float: left;
    clear: both;
    width: 100%;
}
#commentsAdd {
    width: 100%;
    float: left;
    clear: both;
    margin-top: 20px;
}
.comment-author {
    line-height: 1;
    margin-bottom: 10px;
}
#comments .avatar {
    float: left;
    margin-right: 20px;
    margin-top: 4px;
}
#comments .avatar.loading {

}
.comment time { padding-left: 10px }
ul.children .commentImageLeft {
    width: 60px;
    height: 90px;
    border-left: 1px solid #c1bbb6;
    border-bottom: 1px solid #c1bbb6;
    position: absolute;
    top: -50px;
    left: -70px;
}
input.text-input, #commentform input { padding: 11px }
input#author, input#email, input#url, .contact-form input, .contact-form textarea {
    width: 300px;
    border: 1px solid #ddd;
    background: #fff;
    max-width: 85%;
    margin-right: 10px;
    border-radius: 4px;
}
.contact-form textarea {
    height: 140px;
    width: 100%;
}
input#author, input#email, input#url, #comment { transition: all 0.25s ease-in-out }
#cancel-comment-reply-link {
    float: right;
    line-height: 24px;
    margin-top: 0;
}
#cancel-comment-reply-link {
    cursor: pointer;
    padding-top: 10px;
    z-index: 100;
    position: relative;
}
#commentform .form-submit input#submit, .contactform #submit, .contact-form input[type="submit"] {
    line-height: 1;
    background-color: #ED1C2F;
    text-transform: uppercase;
    padding: 13px 35px;
    color: #fff;
    text-decoration: none;
    float: left;
    cursor: pointer;
    display: inline-block;
    border: none;
    transition: all 0.2s linear;
    font-weight: bold;
    font-size: 18px;
    border-radius: 4px;
}
.contact-form input[type="submit"] { font-size: 18px !important }
#commentform .form-submit input#submit:hover, .contactform #submit:hover, .contact-form input[type="submit"]:hover {
    background: #333;
    color: #fff;
}
.contactform #submit { float: left }
.contactform label { display: block }
.contactform {
    overflow: hidden;
    margin-bottom: 35px;
}
.error { color: red }
.thanks p { color: green }
ol.commentlist {
    margin-left: 0;
    margin-top: 13px;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
}
.comment {
    list-style: none;
    margin: 0 0 18px 0;
    float: left;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    padding: 0;
}
.commentlist > .comment { border-bottom: 1px solid #ddd }
.commentlist > .comment:last-child { border-bottom: none }
.commentlist .children {
    border-top: 1px solid #ddd;
    border-bottom: none;
}
.commentlist p { margin-bottom: 5px }
.ago {
    color: #999;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 24px;
    float: left;
    margin-top: 5px;
}
.fn {
    line-height: 1.375em;
    font-weight: bold;
    font-size: 14px !important;
}
.comment-meta { font-size: 12px }
.commentmetadata { overflow: hidden }
.commentmetadata li {
    border: 0;
    padding: 0;
    margin-top: 0;
    margin-bottom: 5px;
    list-style: square;
}
.commentmetadata ol li { list-style: decimal }
.reply {
    margin-top: 5px;
    padding-bottom: 0px;
    overflow: hidden;
    float: left;
    margin-right: 12px;
    margin-bottom: 20px;
}
.reply a {
    float: left;
    padding: 0px 10px;
    line-height: 24px !important;
    color: #BDBDBD;
    font-size: 12px !important;
    line-height: 1;
    border-radius: 3px;
    text-transform: uppercase;
}
#commentsAdd #respond h4 { margin-bottom: 19px }
#respond h4 { display: inline-block }
.comment #respond #respond { margin-top: 20px }
.commentlist .children {
    margin-left: 10%;
    margin-bottom: 0;
    margin-top: 0;
    float: left;
    width: 90%;
    padding: 13px 0 0 0;
}
.commentlist .children li { margin-bottom: 0 }
.avatar { float: left }
#respond h3 {
    font-size: 18px;
    margin: 0;
    padding: 0;
}
.comment-awaiting-moderation {
    font-style: italic;
    font-weight: bold;
}
/*-[ Comment Form ]----------------------------*/
#commentform textarea {
    width: 96.1%;
    border: 1px solid #ddd;
    background: #fff;
    padding: 1.5%;
    line-height: 25px;
    font-family: inherit;
    border-radius: 4px;
}
#commentform p {
    margin-bottom: 15px;
    float: left;
    width: 100%;
    clear: both;
}
#commentform p.form-submit { margin-bottom: 10px }
#commentform p label {
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
}
#commentform .wp-review-comment-field a i, #commentform .wp-review-comment-field .review-result i, .comment .wp-review-comment-rating .review-result i, .comment .wp-review-comment-rating a i { color: #FFB300!important }
#commentform .comment-input {
    width: 31.5%;
    float: left;
    clear: none;
    margin-right: 2.5%;
    position: relative;
}
#commentform .comment-input.comment-form-url { margin-right: 0 }
#commentform input#author, #commentform input#email, #commentform input#url {
    width: 100%;
    max-width: 100%;
    margin-right: 0px;
    padding: 9px 11% 10px 5%;
    box-sizing: border-box;
}
#commentform .comment-input:after {
    content: "\f007";
    color: #dddddd;
    position: absolute;
    font-family: fontAwesome;
    right: 5%;
    top: 0;
    line-height: 40px;
    font-size: 16px;
}
#commentform .comment-input.comment-form-email:after { content: "\f0e0" }
#commentform .comment-input.comment-form-url:after { content: "\f0c1" }
.cancel-comment-reply a {
    float: right;
    margin-top: -8px;
}
.required {
    color: red;
    padding: 0;
    line-height: 1;
}
.comment-notes .required {
    padding-left: 0;
    padding-top: 3px;
}
.comment-notes { font-style: italic }
/*-[ pagination ]------------------*/
.pagination {
    clear: both;
    overflow: hidden;
    float: left;
    width: 100%;
    margin-top: 0;
    margin-bottom: 50px;
}
.single .pagination {
    border: 0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    margin-top: 0;
    padding: 2.2% 0;
    width: 100%;
}
.pagination ul {
    list-style: none;
    margin: 0;
}
.pagination ul li {
    float: left;
    margin-bottom: 5px;
}
.currenttext, .pagination a:hover, .single .pagination a:hover .currenttext, #load-posts a:hover {
    color: #fff;
    margin: 0 10px 0 0;
    display: inline-block;
    float: left;
    line-height: 1;
    text-decoration: none;
    padding: 12px 17px;
    background: #333;
    font-size: 20px;
    border-radius: 4px;
}
.pagination a, #load-posts a, #load-posts a.disabled {
    background: #08C;
    margin: 0 10px 0 0;
    display: inline-block;
    float: left;
    line-height: 1;
    text-decoration: none;
    color: #fff;
    padding: 12px 17px;
    font-size: 20px;
    border-radius: 4px;
    transition: all 0.25s linear;
}

#load-posts a, #load-posts a:hover {
    float: none;
    margin: 0;
}
.pagination a:hover { color: #fff }
.pagination .nav-previous { float: left }
.pagination .nav-next { float: right }
.pagination .nav-previous a, .pagination .nav-next a { color: #fff!important; }
.single .pagination a .currenttext, .single .pagination a:hover .currenttext {
    padding: 0;
    background: transparent;
    margin-right: 0;
}
.single .pagination a:hover .currenttext { color: #fff }
#load-posts .disabled, #load-posts .disabled:hover { float: none !important; pointer-events:none; }
/*-[ Contact Form ]------------------*/
.contact-form { position: relative }
.contact-form.loading:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.8);
}
.contact-form label {
    display: block;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.contact-form label { margin-top: 12px }
.contact-form input[type="submit"] {
    margin-top: 12px;
    width: auto;
}
.mtscontact_error { color: #B90101 }
/*-[ AJAX search results ]------------------*/
.widget_search { overflow: visible }
.ajax-search-box-open #s { border-bottom: 1px solid #fff }
.ajax-search-results-container {
    position: absolute;
    top: 45px;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    z-index: 9;
    background: #EFF2EB;
    border: 0;
    border-radius: 0 0 3px 3px;
}
.ajax-search-results-container.loading:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255,255,255,0.8);
}
ul.ajax-search-results {
    margin: 0;
    margin-top: 20px;
    padding: 0;
    float: left;
    width: 100%;
}
.ajax-search-results li {
    margin: 0;
    margin-bottom: 20px;
    display: block;
    min-height: 75px;
    list-style: none;
    padding: 0 20px;
    float: left;
    width: 100%;
    text-align: left;
    box-sizing: border-box;
}
.ajax-search-results li a { font-size: 20px !important }
.ajax-search-results li .meta {
    line-height: 1;
    color: #aaa;
    margin-top: 5px;
}
ul.ajax-search-results a:focus { text-decoration: underline } /*up/down keys navigation*/
.ajax-search-results .wp-post-image {
    margin-bottom: 0;
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 0;
    width: 70px;
}
.ajax-search-meta {
    padding: 10px 20px;
    box-sizing: border-box;
    font-size: 13px;
    float: left;
    width: 100%;
}
.ajax-search-meta .results-count {
    float: left;
    color: #aaa;
}
.ajax-search-meta .results-link { float: right }
.ajax-search-results-container .no-results {
    padding: 15px 4%;
    color: #AAA;
    font-style: italic;
    font-size: 14px;
}
.head-search .ajax-search-results-container {
    background: #fff;
    top: 50px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
}
/*-[ Load More ]-------------------*/
.pace .pace-progress {
    background: #29d;
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    height: 3px;
    transition: width 0.8s;
    -webkit-backface-visibility: hidden;
}
.admin-bar .pace .pace-progress { top: 32px }
.pace-inactive { display: none }
#load-posts {
    margin-bottom: 50px;
    float: left;
    width: 100%;
    text-align: center;
}
#load-posts a.inactive { cursor: default }
#load-posts .fa {
    margin-right: 8px;
    font-size: 18px;
}
/*-[ Misc ]---------------------------*/
pre {
    overflow: auto;
    padding: 25px 15px 15px;
    margin: 15px 0;
    position: relative;
    background: #777;
    font-family: monospace;
    color: #fff;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 3px;
}
pre:before {
    content: "\f121";
    color: #FFF;
    position: absolute;
    font-size: 18px;
    right: 14px;
    top: 6px;
    font-family: fontawesome;
}
.flex-video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    clear: both;
}
.flex-video iframe, .flex-video object, .flex-video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/*-[ Parallax & Zoom Out ]--------------------------------*/
#parallax {
    position: relative;
    padding-bottom: 50%;
    height: 0;
    overflow: hidden;
    background-size: cover;
    margin-bottom: 15px;
}
#page.parallax, #page.zoom-out-page { padding-top: 15px }
#zoom-out-effect, #zoom-out-bg {
    position: relative;
    padding-bottom: 50%;
    height: 0;
}
#zoom-out-effect {
    overflow: hidden;
    margin-bottom: 15px;
}
#zoom-out-bg {
    background-size: cover;
    width: 100%;
}
/*-[ WP Tabs & Review ]--------------------------------*/
.widget .wpt_widget_content ul.wpt-tabs li, .widget .wp_review_tab_widget_content ul.wp-review-tabs li {
    width: 45px;
    height: 45px;
    overflow: hidden;
}
.widget .wpt_widget_content .tab_title.selected, .widget .wp_review_tab_widget_content .tab_title.selected { width: auto }
.widget .wpt_widget_content .has-4-tabs .tab_title:nth-child(3) a, .widget .wp_review_tab_widget_content .has-4-tabs .tab_title:nth-child(3) a { border-left: 1px solid #ffffff }
.widget .wpt_widget_content .tab_title a:before, .widget .wp_review_tab_widget_content .tab_title a:before {
    color: #fff;
    font-family: fontAwesome;
    text-indent: inherit;
    position: absolute;
    left: 14px;
}
.widget .wpt_widget_content .tab_title a#popular-tab:before { content: "\f017" }
.widget .wpt_widget_content .tab_title a#recent-tab:before { content: "\f06d" }
.widget .wpt_widget_content .tab_title a#comments-tab:before { content: "\f086" }
.widget .wpt_widget_content .tab_title a#tags-tab:before { content: "\f02b" }
.widget .wp_review_tab_widget_content .tab_title a#toprated-tab:before { content: "\f005" }
.widget .wp_review_tab_widget_content .tab_title a#recent-tab:before { content: "\f06d" }
.widget .wp_review_tab_widget_content .tab_title a#mostvoted-tab:before { content: "\f164" }
.widget .wp_review_tab_widget_content .tab_title a#custom-tab:before { content: "\f0a3" }
.widget .wpt_widget_content .tab_title a, .widget .wp_review_tab_widget_content .tab_title a {
    color: #fff;
    background: #0071aa;
    font-weight: 500;
    font-size: 20px;
    line-height: 45px;
    padding: 0;
    transition: all linear .3s;
    border-color: #fff;
    padding-left: 45px;
    position: relative;
}
.widget .wpt_widget_content .tab_title a:hover, .widget .wp_review_tab_widget_content .tab_title a:hover {
    background-color: #333;
    color: #fff;
}
.widget .wpt_widget_content .tab_title.selected a, .widget .wp_review_tab_widget_content .tab_title.selected a {
    background: #333;
    padding: 0px 20px 0 40px;
}
.widget .wpt_widget_content, .widget .wp_review_tab_widget_content { border: none }
.widget .wpt_widget_content .inside, .widget .wp_review_tab_widget_content .inside { background: #eff2eb ; padding-top: 20px;}
.widget .wpt_widget_content .tab-content li, .widget .wp_review_tab_widget_content .tab-content li {
    border-bottom: none;
    padding: 20px 20px;
    margin-bottom: 0;
}
.widget .wpt_widget_content .entry-title, .widget .wp_review_tab_widget_content .entry-title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 5px;
}
.widget .wpt_widget_content .wpt-postmeta, .widget .wp_review_tab_widget_content .wp-review-tab-postmeta {
    font-size: 12px;
    text-transform: uppercase;
    color: #aaa;
}
.widget .wp_review_tab_widget_content .wp-review-tab-postmeta { float: left ; color: #aaa;}
.widget .wpt_excerpt, .widget .wpt_comment_content {
    color: #333;
    font-size: 15px;
    margin-top: 5px;
}
.widget .wpt_excerpt p, .widget .wpt_comment_content p { line-height: 24px !important ; color: #aaa; overflow: hidden;}
.widget .wp_review_tab_thumb_small, .widget .wpt_thumb_small { width: auto; height: auto; margin-right: 20px;}
.widget .review-total-only.small-thumb { border-radius: 3px; margin-right: 10px;}

.widget .review-type-circle.review-total-only, .widget .review-type-circle.wp-review-show-total {
    height: 24px;
    padding-top: 3px;
}
.widget .wpt_avatar { margin-right: 20px; }
.widget .wpt_widget_content #tags-tab-content ul li { float: left; margin: 0 8px 8px 0;}
.widget .wpt_widget_content #tags-tab-content ul li a { background: transparent; border-radius: 3px;}
/*-[ WP Subscribe ]--------------------------------*/
.widget #wp-subscribe { border-radius: 4px }
.widget #wp-subscribe p.text {
    opacity: 1;
    margin-bottom: 20px;
}
.widget #wp-subscribe input { text-indent: 0 }
.widget #wp-subscribe input.email-field {
    color: #575757 !important;
    background: #fff !important;
    font-weight: 300;
    padding: 10px 4%;
    border-radius: 4px;
}
.widget #wp-subscribe input.submit {
    background: rgba(0, 0, 0, 0.15) !important;
    color: #fff !important;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
}
.widget #wp-subscribe p.footer-text {
    line-height: 24px;
    font-size: 13px;
    margin-top: 15px;
}
/*-[ WP Review ]--------------------------------*/
.latestPost-review-wrapper, #wpmm-megamenu .review-total-only {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 0px 10px;
    font-size: 14px;
    line-height: 28px;
    border-radius: 3px;
}
.latestPost .review-type-circle.review-total-only, .latestPost .review-type-circle.wp-review-show-total { height: 38px }
.latestPost-review-wrapper .review-total-star {
    margin: 0;
    position: relative;
    top: auto;
    right: auto;
}
.latestPost-review-wrapper .percentage-icon {
    top: 0;
    font-size: inherit;
    font-style: normal;
}
/*-[ Shortcodes ]--------------------------------*/
.message_box { padding: 10px 15px }
a.buttons { line-height: 2 }
.toggle .wps_togglet, .toggle .toggleta { height: 50px }
.toggle .wps_togglet span, .toggle .toggleta span {
    padding-top: 7px;
    background-position: 0 24px;
}
.tab_widget ul.wps_tabs, .tab_widget ul.wps_tabs li { height: 45px }
.tab_widget ul.wps_tabs li a {
    font-size: 16px;
    padding-top: 3px;
}
#wpmm-megamenu.wpmm-visible { font-family: inherit }

.home .latestPost:nth-child(4n) {
  margin-right: 0;
}
.latestPost .title a {
  font-size: 16px !important;
  line-height: 20px;
}
.latestPost .featured-thumbnail img {
     float: none;
    height: 183px;
    min-height: 183px;
    width: 100%;
}
.channels-list-area {
  float: left;
  margin: 20px 0;
  width: 100%;
}
.channels-list-area li {
  
  float: left;
  height: 135px;
  width: 9.5%;
margin-right: 0.5%;
    text-align: center;
box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
}
.channels-list-area li:last-child {
  margin-right: 0;
}
.channels-list-area li a {
  display: block;
border: 1px solid #333;
  border-radius: 5px;
  height:100%;
}
.channels-list-area li a img {
  display: inline-block;
  max-height: 125px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  vertical-align: middle;
}
.main-header .container, #header {
  position: initial;
}
#header .head-search #searchform {
  background: #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
  display: block;
  left: 0;
  padding: 10px;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1;
}
.dramadiv12 {
  float: left;
  width: 22%;
}
.dramadiv3 {
  float: left;
  margin: 0 2%;
  width: 50%;
}
.featured-post-wrap + .featured-post-wrap {
  margin-top: 7px;
}
.dramadiv45 {
  float: left;
  width: 24%;
}
.featured-post-3 h3.featured-title {
  font-size: 26px;
}
.featured-post-3 .category-head {
  font-size: 16px;
}
.channels-list-area li a:hover {
  border-color: #0088cc;
  box-shadow: 0 0 5px #0088cc;
  opacity: 0.9;
}
.channels-list-area li p {
  font-family: arial;
  font-size: 12px;
  margin: 0;
font-weight: bold;
}
.ui-autocomplete
{
    z-index:1000;
}
.ui-menu-item {
  border-bottom: 1px solid #ddd;
  font-size: 14px;
  padding: 5px 10px !important;
  box-sizing:border-box;
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
-ms-box-sizing:border-box;
-o-box-sizing:border-box;
}
.ui-menu-item:hover {
  background: #ddd none repeat scroll 0 0;
  border: medium none;
}
.latestPost:hover {
    border: 1px solid #0088cc;
    box-shadow: 0 0 5px #0088cc;
}
.dramadiv12 .featured-img-wrap .wp-post-image, .dramadiv45 .featured-img-wrap .wp-post-image {
  max-height: 160px;
  min-height: 160px;
  width:100%;
}
.dramadiv3 .featured-img-wrap .wp-post-image {
  max-height: 328px;
  min-height: 328px;
width:100%;
}
/************************ Ads CSS *************************************/

.static_ads {
    display: inline-block;
    padding-bottom: 50px;
}
.col-md-3 {
    float: left;
    margin-right: 10px;
    width: 32%;
}

.static_ads h4 {
    font-size: 16px;
}

.static_ads .col-md-3 img {
    height: 180px;
    margin-bottom: 10px;
}
@media(max-width:800px){
.col-md-3 {
    float: none;
    margin-right: 10px;
    width: 100%;
}

.static_ads .col-md-3 img {
    display: block;
    height: 180px;
    margin: 0 auto;
}


.static_ads h4 {
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 5px;
    text-align: center;
}
}