/* Last change: 31.03.2015 */

#smartbanner {
	padding:5px 0;
	position: absolute;
	left: 0;
	top:-80px;
	width: 100%;
	min-height:80px;
	font-family:'News-Gothic-BT-reg', 'Trebuchet MS', Arial;
	z-index: 9998;
}
#smartbanner .sb-container {
	margin:0 auto;
}
#smartbanner .sb-close {
	position: absolute;
	left: 5px;
	top: 5px;
	display: block;
	width: 20px;
	height: 20px;
	font-family:'News-Gothic-BT-Bd-reg', 'Trebuchet MS', Arial;
	font-size:1em; /* 14px */
	line-height:normal;
	text-align: center;
}

#smartbanner .sb-icon {
	position: absolute;
	left: 30px;
	top: 10px;
	display: block;
	width:61px;
	height:61px;
	border:1px solid #82a7bf;
	border-radius:5px;
	background-size:cover;
}
#smartbanner.no-icon .sb-icon {
	display: none;
}
#smartbanner .sb-info {
	position: absolute;
	left: 105px;
	top: 12px;
	width: 44%;
	font-size:0.875em; /* 14px */
	line-height:normal;
	font-weight: bold;
	color:#06507f;
}
#smartbanner #smartbanner.no-icon .sb-info {
	left: 34px;
}
#smartbanner .sb-info strong {
	display: block;
	font-size:1.125em;
	color:#06507f;
	line-height:normal;
}
#smartbanner .sb-info > span {
	display: block;
	color:#06507f;
	font-size:1em;
	font-family:'News-Gothic-BT-reg', 'Trebuchet MS', Arial;
	font-weight:normal;
}
#smartbanner .sb-info em {
	font-style: normal;
	text-transform: uppercase;
}
#smartbanner .sb-button {
	position: absolute;
	right: 20px;
	top: 20px;
	padding: 0 10px;
	min-width: 10%;
	height: 24px;
	text-align: center;
}

#smartbanner.android {
	background-color:#e6edf2;
	border-bottom:1px solid #cddce5;
}

#smartbanner.android .sb-close {
	color:#06507f;
	border:0;
}

#smartbanner.android .sb-close:hover {
	color:#82a7bf;
}

#smartbanner.android .sb-info strong {
	color:#06507f;
}
#smartbanner.android .sb-button {
	border:1px solid #166e16;
	background-color:#166e16;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
    cursor:pointer;
	color:white;
    display:inline-block;
	font-size:1.125em;
    line-height:normal;
    text-align:center;
	text-decoration:none;
	padding:10px 10px;
    -webkit-user-drag:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    vertical-align:baseline;
    zoom:1;
    -webkit-font-smoothing: antialiased;
    -webkit-transition: 0.1s linear -webkit-box-shadow;
    -moz-transition: 0.1s linear -moz-box-shadow;
    -ms-transition: 0.1s linear box-shadow;
    -o-transition: 0.1s linear box-shadow;
    transition: 0.1s linear box-shadow;
}
#smartbanner.android .sb-button span {

}
#smartbanner.android .sb-button:active, #smartbanner.android .sb-button:hover {
	background-color:#5b995b;
	border-color:#166e16;
    -webkit-box-shadow:0 0 0.5em #b9d3b9;
    box-shadow:0 0 0.5em #b9d3b9;
}

#smartbanner.windows .sb-icon {
	border-radius: 0px;
}
