/* Flickity
------------------------- */

.flickity-enabled {
  position: relative;
}

.flickity-enabled:focus { outline: none; }

.flickity-viewport {
  overflow: hidden;
  position: relative;
  cursor: -webkit-grab;
  cursor: grab;
}

.flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.flickity-slider {
  position: absolute;
  width: 100%;
}

/* ---- previous/next buttons ---- */

.flickity-prev-next-button {
  position: absolute;
  top: 50%;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  background: white;
  background: hsla(0, 0%, 100%, 0.75);
  cursor: pointer;
  /* vertically center */
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.flickity-prev-next-button.previous { left: 10px; }
.flickity-prev-next-button.next { right: 10px; }

.flickity-prev-next-button:disabled {
  opacity: 0.3;
  cursor: auto;
}

.flickity-prev-next-button svg {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%;
}

.flickity-prev-next-button .arrow {
  fill: #333;
}

/* color & size if no SVG - IE8 and Android 2.3 */
.flickity-prev-next-button.no-svg {
  color: #333;
  font-size: 26px;
}

/* ---- page dots ---- */

.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -20px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1;
}

.flickity-page-dots .dot {
  display: inline-block;
  width: 5px;
  height: 0px;
  margin: 0 5px;
  background: #999;
  border-radius: 50%;
  opacity: 0.25;
  cursor: pointer;
}

.flickity-page-dots .dot.is-selected { opacity: 1; }



/* ---- content ---- */

.content-wrap {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 10px;
}

/* ---- main ---- */

.main h2 {
  border-top: 4px double #DDD;
  padding-top: 60px;
  margin-top: 80px;
}

.main h3 {
  border-top: 1px solid #DDD;
  padding-top: 30px;
}



/* ---- call-out ---- */

.call-out {
  border: 2px solid #ED2;
  padding: 10px 20px 10px 80px;
  border-radius: 6px;
  position: relative;
  margin: 20px 0;
}

.call-out:before {
  content: 'i';
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 20px;
  top: 30px;
  background: #ED2;
  border-radius: 50%;
  text-align: center;
  color: white;
  font-size: 1.9em;
  font-family: Consolas, Georgia, serif;
  font-style: italic;
  line-height: 46px;
}

.call-out h2 {
  margin-top: 0;
  padding-top: 10px;
  border-top: none;
}

.call-out--beta-testing p,
.call-out--beta-testing li {
  font-size: 1.2em;
}

.call-out--beta-testing p { line-height: 1.3; }

.call-out--chill { border-color: #8C8; }
.call-out--chill:before { background: #8C8; }

.quick-start p,
.quick-start li:before {
  font-size: 1.2em;
  line-height: 1.2;
}

.quick-start ol {
  list-style: none;
}

.quick-start li {
  position: relative;
  counter-increment: quick-start-item;
}

.quick-start li:before {
  content: counter(quick-start-item) ".";
  position: absolute;
  left: -1.2em;
  font-size: 1.2em;
  font-weight: bold;
  font-family: 'Texta Heavy', sans-serif;
}

/* example
------------------------- */

.example {
  margin-bottom: 40px;
}

.example:after {
  content: '';
  display: block;
  clear: both;
}

.example__code pre { margin: 0 0 20px; }

/* demo galleries
------------------------- */

.gallery {
  background: #FAFAFA;
  margin-bottom: 30px;
  counter-reset: gallery-cell;
}

.gallery-cell {
  width: 850px;
  height: 360px;
  background: #8C8;
  counter-increment: gallery-cell;
}

/*.gallery-cell:nth-child(5n+2) { background: #6A6; }
.gallery-cell:nth-child(5n+3) { background: #E8A; }
.gallery-cell:nth-child(5n+4) { background: #FD0; }
.gallery-cell:nth-child(5n) { background: #66A; }*/

/*.gallery-cell:nth-child(3n+2) { background: #ED2; }
.gallery-cell:nth-child(3n+0) { background: #E90; }*/

/*.gallery-cell:before {
  content: counter(gallery-cell);
  display: block;
  text-align: center;
  line-height: 160px;
  font-size: 80px;
  font-weight: bold;
  color: white;
}

/*.gallery-cell:nth-child(5n+1):before { color: #868; }
.gallery-cell:nth-child(5n+2):before { color: #875; }
.gallery-cell:nth-child(5n+3):before { color: #686; }
.gallery-cell:nth-child(5n+4):before { color: #588; }
.gallery-cell:nth-child(5n):before { color: #668; }*/

.gallery--margin .gallery-cell {
  margin-right: 10px;
}

.half-width-margin .gallery-cell {
  width: 50%;
  margin-right: 10px;
}

.various-size .gallery-cell {
  width: 33%;
  margin-right: 10px;
}
.various-size .gallery-cell.size-180 { width: 180px; }
.various-size .gallery-cell.size-large { width: 75%; }

.media-queried .gallery-cell {
  width: 100%;
  margin-right: 2%;
}

.show-neighbors .gallery-cell {
  width: 66%;
  margin: 0 5px;
}

.gallery--contain-demo .gallery-cell {
  width: 30%;
  margin-right: 2%;
}

.gallery--auto-play-demo .gallery-cell { margin-right: 2%; }

.gallery--images-loaded-demo img {
  display: block;
  height: 160px;
}

.gallery--images-demo {
  margin-bottom: 40px;
}

.gallery--images-demo img {
  display: block;
  height: 160px;
}


.gallery--watch-demo:after {
  content: 'flickity';
  display: none;
}

.gallery--watch-demo .gallery-cell {
  margin-right: 10px;
}

/* prev/next demos
------------------------- */

/* ---- gallery--prev-next-big-arrow ---- */

.gallery--prev-next-big-arrow .flickity-prev-next-button {
  width: 100px;
  height: 100px;
  background: transparent;
}

.gallery--prev-next-big-arrow .flickity-prev-next-button .arrow { fill: white; }
.gallery--prev-next-big-arrow .flickity-prev-next-button.no-svg { color: white; }

/*.gallery--prev-next-big-arrow .flickity-prev-next-button.previous { left: -10px; }
.gallery--prev-next-big-arrow .flickity-prev-next-button.next { right: -10px; }*/

.gallery--prev-next-big-arrow .flickity-prev-next-button:disabled { display: none; }

/* ---- gallery--prev-next-small-outside ---- */

.gallery--prev-next-small-outside {
  margin-left: 40px;
  margin-right: 40px;
}

.gallery--prev-next-small-outside .flickity-prev-next-button {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background: #333;
}

.gallery--prev-next-small-outside .flickity-prev-next-button .arrow { fill: white; }
.gallery--prev-next-small-outside .flickity-prev-next-button.no-svg { color: white; }

.gallery--prev-next-small-outside .flickity-prev-next-button.previous { left: -40px; }
.gallery--prev-next-small-outside .flickity-prev-next-button.next { right: -40px; }

/* page-dot demos
------------------------- */

/* ---- o dots ---- */

.gallery--o-dots .flickity-page-dots {
  bottom: 0px;
}

.gallery--o-dots .flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: transparent;
  border: 2px solid white;
}

.gallery--o-dots .flickity-page-dots .dot.is-selected {
  background: white;
}

/* ---- line-dots ---- */

.gallery--line-dots .flickity-page-dots {
  bottom: -22px;
}

.gallery--line-dots .flickity-page-dots .dot {
  height: 4px;
  width: 40px;
  margin: 0;
  border-radius: 0;
}



/* media query
------------------------- */

@media screen and ( min-width: 768px ) {

  /* ---- hero gallery ---- */

  .hero-gallery__cell {
    height: 440px;
    padding: 40px 0 0;
  }

  .hero-gallery h1 {
    font-size: 5.8em;
    padding-top: 60px;
  }

  .hero-gallery .tagline {
    font-size: 2.1em;
  }

  .slogan--easy,
  .slogan--fun {
    font-size: 4.8em;
  }

  .slogan--tagline {
    margin-top: 20px;
    font-size: 2.4em;
  }

  .feature-list {
    font-size: 3.1em;
  }

  .feature-list li {
    margin-bottom: 20px;
  }

  .by-line {
    font-size: 3.1em;
  }

  .by-line--made {
    padding-top: 40px;
    margin-bottom: 20px;
  }

  /* ---- big-links ---- */

  .big-links__item {
    float: left;
    width: 49%;
    font-size: 1.4em;
  }

  .big-links__item a {
    padding: 20px;
  }

  .big-links__item:nth-child(2n+1) { margin-right: 2%; }

  /* ---- example ---- */

  .example__code,
  .example__demo {
    float: left;
    width: 850px;
	height:360px;
  }
  .example__code { margin-right: 4%; }

  .media-queried .gallery-cell { width: 49%; }

  .gallery--watch-demo:after {
    content: '';
  }

  .gallery--watch-demo .gallery-cell {
    margin-bottom: 10px;
  }

  .gallery--images-demo img {
    height: 400px;
  }


  .other-products__cell {
    float: left;
    width: 49%;
  }

  .other-products__cell:nth-child(2n+1) { margin-right: 2%; }




