body {
	font-size: 13px;
	/*font-family: "細明體",Arial,;*/
	color: #333;
	margin: 0px;
	background-color: #FFF;
}
a:focus {
	-moz-outline-style: none;
}
a:link {
	text-decoration:none;
	color: #666;
	/*font-family: "細明體",Arial, ;*/
}
a:visited {
	text-decoration:none;
	color: #666;
}
a:hover {
	text-decoration:none;
	color: #000;
	/*font-family: "細明體",Arial, ;*/
}
a:active {
	text-decoration:none;
}
li{
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	/*font-family:  "細明體",Arial, ;*/
}
ul{
	margin: 0px;
	padding: 0px;
	/*font-family:  "微軟正黑體","細明體",Arial, ;*/
}
#container {
	margin: 0px auto;
	width: 950px;
}
/********************header*********************/
#header{
	margin: 0px 0px 0px 0px;
	width: 950px;
	height: auto;
	float: left;
}
#top{
	margin: 0px 0px 0px 0px;
	width: 950px;
	height: auto;
	float: left;
}
#topLine01{
	margin: 0px 16px 0px 0px;
	width: 559px;
	height: 8px;
	float: left;
	background-color: #CCC;
}
#topLine02{
	margin: 0px 16px 0px 0px;
	width: 175px;
	height: 8px;
	float: left;
	background-color: #CCC;
}
#topLine03{
	margin: 0px 0px 0px 0px;
	width: 184px;
	height: 8px;
	float: left;
	background-color: #CCC;
}
#logo{
	margin: 20px 0px 0px 0px;
	width: 250px;
	height: 72px;
	float: left;	
}
#logo2{
	margin: 20px 0px 0px 0px;
	width: 160px;
	height: 72px;
	float: left;	
}
#topBox_R{
    margin: 8px 0px 0px 0px;
	width: 375px;
	height: 100px;
	float: right;
}
#topLoginBox{
	margin: 0px 0px 0px 0px;
	width: 175px;
	height: 100px;
	float: left;
	color: #999999;
}
#topLoginBox li{
	margin: 0px 0px 6px 0px;
	width: 170px;
	height: auto;
}
.searchBox{
	margin: 0px 0px 0px 0px;
	width: 20px;
	height: 20px;
	float: left;
	background-image:url(../images/search.png);
	background-repeat: no-repeat;
	cursor: pointer;
	font-size: 20px;
}
.searchBox:hover{
	background-image: url(../images/search_H.png);
}
#topMemberBox{
	margin: 0px 0px 0px 0px;
	width: 184px;
	height: 100px;
	float: right;
}
#topMemberBox li{
	margin: 0px 0px 6px 0px;
	width: 130px;
	height: auto;
}
#topBtnBox{
	margin: 0px 0px 0px 0px;
	width: 950px;
	height: auto;
	float: left;
	color:#999;
	background-color: #CCC;
	background-image: url(../images/menuBg.jpg);
	background-repeat: repeat-x;
}
/*#shopCartBtn a{
	margin: 0px 0px 0px 0px;
	width: 89px;
	height: 24px;
	float: right;
	cursor: pointer;
	font-weight: bold;
	padding-left: 90px;
	padding-top: 10px;
	background-image:url(../images/shopCart.jpg);
	background-repeat: no-repeat;
	background-position: 0px 10px;
}
#shopCartBtn a:hover{
	color: #FF6600;
}*/
/**********************main*********************/
#main{
	margin: 5px 0px 0px 0px;
	width: 950px;
	height: auto;
	float: left;
}
#whatsNewsBox{
	margin: 0px 0px 12px 0px;
	width: 810px;
	height: 32px;
	float: left;
	border: 1px solid #CCC;
	background-image: url(../images/whatsNewImg.png);
	background-repeat: no-repeat;
	padding-left: 140px;
}
#whatsNewsBox li{
	margin: 0px 0px 0px 0px;
	width: 184px;
	height: 32px;
	float: left;
	line-height: 28px;
	line-height: 32px \9;
	background-image: url(../images/arrow01.png);
	background-repeat: no-repeat;
	background-position: 0px 8px;
	padding-left: 16px;
	font-size: 93%;
}
#whatsNewsBox .li2{
	margin: 0px 0px 0px 0px;
	width: 365px;
	height: 32px;
	float: left;
	line-height: 28px;
	line-height: 32px;
	background-image: url(../images/arrow01.png);
	background-repeat: no-repeat;
	background-position: 0px 8px;
	padding-left: 16px;
	font-size: 93%;
	color: #900;
}
#hotCase{/***熱銷單品***開始*/
	margin: 8px 0px 0px 0px;
	width: 749px;
	height: 264px;
	float: left;
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	border-right: 1px solid #999;
}
#hotHandImg{
	margin: 0px 0px 0px 0px;
	width: 57px;
	height: 264px;
	float: left;
}
.hotPdBox{
	margin: 0px 0px 0px 0px;
	width: 172px;
	height: auto;
	float: left;
	cursor: pointer;
}
.mg0{
	margin: 0px;
}
.spW1{
	margin: 0px;
	width: 1px;
	height: 264px;
	float: left;
	background-color: #999;
}
.hotPdImg{
	margin: 0px 0px 0px 0px;
	width: 172px;
	height: 224px;
	float: left;
}
.hotPdImg:hover{
	filter:alpha(opacity=60);
	-moz-opacity:0.6;
	opacity:0.6;
}
.hotPdName{
	margin: 3px 0px 0px 0px;
	width: 106px;
	height: 35px;
	float: left;
	padding-left: 4px;
}
.hotPdPrice{
	margin: 2px 0px 0px 4px;
	width: 48px;
	height: 35px;
	float: right;
	font-size: 18px;
	text-align: right;
	font-weight: bold;
	padding-right: 8px;
	color: #666;
	font-family: Arial;
}
        /***熱銷單品***結束*/
#main_R{
	margin: 0px 0px 0px 0px;
	width: 186px;
	height: auto;
	float: right;
}
#search_R{
	margin: 0px 0px 6px 0px;
	width: 186px;
	height: 40px;
	float: right;
}
#newsBox_R{
	margin: 0px 0px 8px 0px;
	width: 186px;
	height: 50px;
	float: right;
	text-justify: distribute;
	text-align: justify;
}
#adBanner_L01{
	margin: 0px 0px 6px 0px;
	width: 186px;
	height: 40px;
	float: right;
}
.pomoB_R{
	margin: 0px 0px 8px 0px;
	width: 186px;
	height: 264px;
	float: right;
}
#newAttCase{/***最新活動***開始*/
	margin: 0px 0px 0px 0px;
	width: 950px;
	height: auto;
	float: left;
}
#newAttHead{
	margin: 0px 0px 0px 0px;
	width: 950px;
	height: 74px;
	float: left;
}
.pdABox{
	margin: 0px 0px 0px 0px;
	width: 948px;
	height: auto;
	float: left;
	border: 1px solid #CCC;
}
.newAttB_L{
	margin: 0px 0px 0px 0px;
	width: 303px;
	height: 218px;
	float: left;
	border-bottom: 1px solid #CCC;
	border-right: 1px solid #CCC;
	padding: 6px;
}
.bor0{
	border-right: 0px;
}
#pageBsBox{
	margin: 0px 0px 0px 0px;
	width: 622px;
	height: 150px;
	float: left;
	padding: 4PX;
}
#pageBsListBox{
	margin: 0px 0px 0px 0px;
	width: 304px;
	height: auto;
	float: left;
}
#pageBsHead{
	margin: 0px 0px 2px 0px;
	width: 304px;
	height: 26px;
	float: left;
}
#pageBsList li{
	margin: 1px 0px 0px 20px;
	width: 264px;
	height: 24px;
	float: left;
	cursor: pointer;
	padding-left: 20px;
	background-image: url(../images/arrow02.jpg);
	background-repeat: no-repeat;
	background-position: 0px 2px;
}
#pageBsList li:hover{
	background-image:url(../images/arrow03.jpg);
	color: #099;
}
#pageBsList a:hover{
	color: #099;
}
#pageBsImg{
	margin: 0px 0px 0px 0px;
	width: 310px;
	height: 150px;
	float: right;
}
#tabcontent1{
	margin: 0px 0px 0px 0px;
	width: 310px;
	height: 150px;
	float: right;
}
#tabcontent2{
	margin: 0px 0px 0px 0px;
	width: 310px;
	height: 150px;
	float: right;
}
#tabcontent3{
	margin: 0px 0px 0px 0px;
	width: 310px;
	height: 150px;
	float: right;
}
#tabcontent4{
	margin: 0px 0px 0px 0px;
	width: 310px;
	height: 150px;
	float: right;
}
#tabcontent5{
	margin: 0px 0px 0px 0px;
	width: 310px;
	height: 150px;
	float: right;
}
.newAttB_D{
	margin: 0px 0px 0px 0px;
	width: 150px;
	height: 150px;
	float: left;
	border-left: 1px solid #CCC;
	padding: 4px;
}
.hover:hover{
	filter:alpha(opacity=60);
	-moz-opacity:0.6;
	opacity:0.6;
}
            /***最新活動***結束*/
#newProductCase{/***新品上架***開始*/
	margin: 0px 0px 0px 0px;
	width: 950px;
	height: auto;
	float: left;
}
#newProductHead{
	margin: 0px 0px 0px 0px;
	width: 950px;
	height: 74px;
	float: left;
}
#newProductB_L{
	margin: 0px 0px 0px 0px;
	width: 300px;
	height: 441px;
	float: left;
	border-bottom: 1px solid #CCC;
	padding: 6px;
}
.newProductB_R{
	margin: 0px 0px 0px 0px;
	width: 150px;
	height: 214px;
	float: left;
	border-left: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	padding: 6PX 4px;
	cursor: pointer;
}
.newProductB_R02{
	margin: 0px 0px 0px 0px;
	width: 150px;
	height: 214px;
	float: left;
	padding: 6PX 3px;
	border-right: 1px solid #CCC;
	cursor: pointer;
}
.newProductB_R03{
	margin: 0px 0px 0px 0px;
	width: 151px;
	height: 214px;
	float: left;
	padding: 6PX 3px;
	cursor: pointer;
}
.newProductB_R04{
	margin: 0px 0px 0px 0px;
	width: 150px;
	height: 214px;
	float: left;
	border-left: 1px solid #CCC;
	padding: 6PX 4px;
	cursor: pointer;
}
.newProductB_R05{
	margin: 0px 0px 0px 0px;
	width: 309px;
	height: 214px;
	float: left;
	padding: 6PX 4px;
	border-left: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	cursor: pointer;
}
.newProductBImg{
	margin: 0px 0px 0px 0px;
	width: 150px;
	height: 150px;
	float: left;
}
.newProductBPrice{
	margin: 0px 0px 0px 0px;
	width: 150px;
	height: 24px;
	float: left;
	font-size: 18px;
	text-align: center;
	font-weight: bold;
	color: #999;
	font-family: Arial;
}
.newProductBName{
	margin: 0px 0px 0px 0px;
	width: 150px;
	height: 42px;
	float: left;
}
			/***新品上架***結束*/
/********************footer*******************/
#footer{
	margin: 30px 0px 0px 0px;
	width: 950px;
	height: auto;
	float: left;
	background-color: #FFF;
}
#forGood{
	margin: 0px 0px 0px 0px;
	width: 950px;
	height: auto;
	float: left;
	padding-bottom: 0px;
	border-bottom: 3px solid #666;
}
#footer_L{
	margin: 6px 0px 0px 0px;
	width: 440px;
	height: 120px;
	float: left;
	padding-left: 10px;
}
#footer_R{
	margin: 6px 0px 0px 0px;
	width:500px;
	height: 120px;
	float: right;
	text-align: right;
	color:#999;
}
/********************最新消息滑動*********************/
.core{
	height: 50px;
	overflow: hidden;
}
.core a{
	display:block;
	line-height:18px;
	text-decoration:none;
	color:#333;
	font-family:Arial;
}
.core a:hover{
	color: #CC3333;
}
/********************左側主選單*********************/
.leftMenuClass{
	margin: 0px 0px 0px 0px;
	width: 187px;
	height: auto;
	float: left;
}
.leftMenuHead{
	margin: 8px 0px 0px 0px;
	width: 147px;
	height: auto;
	float: left;
	font-size: 121%;
	font-weight: bold;
	padding-left: 28px;
	background-image: url(../images/arrow-LA-h.jpg);
	background-repeat: no-repeat;
	background-position: 8px 2px;
	color: #000;
}
.leftMenuClass h3{
	margin: 10px 0px 6px 0px;
	width: 147px;
	height: auto;
	float: left;
	padding-left: 40px;
	background-image: url(../images/arrow-LM-h.jpg);
	background-repeat: no-repeat;
	background-position: 20px 0px;
}
.leftMenuClass a{
	margin: 2px 0px 2px 0px;
	width: 137px;
	height: auto;
	float: left;
	padding-left: 50px;
	background-image: url(../images/arrow-LM02.jpg);
	background-repeat: no-repeat;
	background-position: 36px 3px;
	background-position: 36px 2px\9;
}
.leftMenuClass a:hover{
	background-image: url(../images/arrow-LM-h02.jpg);
	color: #099;
}
/********************左側選單*********購物資訊************/
#shoppingFlowLeft{
	margin: 0px 0px 0px 0px;
	width: 161px;
	height: auto;
	float: left;
	padding: 6px;
	padding-top: 0px;
	border: 1px solid #CCC;
}
#shoppingFlowLeft h2 a{
	margin: 10px 0px 0px 0px;
	width: 133px;
	height: auto;
	float: left;
	background-image: url(../images/arrow-LA.jpg);
	background-repeat: no-repeat;
	background-position: 10px 2px;
	padding-left: 30px;
	font-size: 0.8em;
}
#shoppingFlowLeft h2 a:hover{
	color: #099;
	background-image: url(../images/arrow-LA-h.jpg);
}
#shoppingFlowLeft li a{
	margin: 0px;
	width: 123px;
	height: auto;
	float: left;
	padding-left: 40px;
	font-size: 13px;
	padding-top: 8px;
	padding-right: 0px;
	padding-bottom: 0px;
}
#shoppingFlowLeft li a:hover{
	color: #099;
}
.ItemTxtBox3{
	margin: 10px 0px 0px 15px;
	width: 760px;
	height: auto;
	float: left;
	line-height: 2.4;
	font-size: 13px;
}
.shoppingHtxt{
	border-top: 2px dotted #666;
	font-size: 21px;
	font-weight: 900;
	color: #333;
}
/********************按鈕*********************/
.ObBtn{
	margin: 0px 0px 0px 0px;
	width: 100px;
	height: 24px;
	float: left;
	background-color: #333;
	line-height: 23px;
	line-height: 25px \9;
	text-align: center;
	color: #FFF;
	cursor: pointer;
	background-image: url(../images/arrow02.png);
	background-repeat: no-repeat;
	background-position: 4px 8px;
}
.ObBtn:hover{
	background-image: url(../images/arrow02H.png);
	color: #099;
}
.ObBtn02{
	margin: 0px 0px 0px 0px;
	width: 120px;
	height: 32px;
	float: left;
	font-size: 15px;
	background-color: #099;
	line-height: 29px;
	line-height: 33px \9;
	text-align: center;
	color: #FFF;
	cursor: pointer;
	background-image: url(../images/arrow02.png);
	background-repeat: no-repeat;
	background-position: 4px 12px;
}
.ObBtn02:hover{
	background-color: #000;
}


/* 7-11退貨便 變利達康樣式CSS*/

.ObBtn03{
	margin: 0px 0px 0px 0px;
	width: 120px;
	height: 32px;
	float: left;
	font-size: 0.99px;
	background-color: #099;
	line-height: 29px;
	line-height: 33px \9;
	text-align: center;
	color: #FFF;
	cursor: pointer;
	background-image: url(../images/content/7-11ObBtn.jpg);
	background-repeat: no-repeat;
}
.ObBtn03:hover{
	background-image: url(../images/content/7-11ObBtn-hover.jpg);
	background-repeat: no-repeat;
}
.ObBtn04{
	margin: 0px 0px 0px 0px;
	width: 160px;
	height: 32px;
	float: left;
	font-size: 15px;
	background-color: #099;
	line-height: 29px;
	line-height: 33px \9;
	text-align: center;
	color: #FFF;
	cursor: pointer;
	background-image: url(../images/content/cvsObBtn.jpg);
	background-repeat: no-repeat;
}
.ObBtn04:hover{
	background-image: url(../images/content/cvsObBtn-hover.jpg);
	background-repeat: no-repeat;
}





/********************下拉選單*********************/
#nav {
	margin: 0px;
	width: 950px;
	color: #333;
	*float:left;
	font-family:  "微軟正黑體",Arial, "新細明體";
}
#nav .mainlevel {
	margin: 0px 0px 0px 0px;
	width: 180px;
	height: 34px;
	float:left;
	cursor: pointer;
	padding-left: 10px;
	line-height: 32px;
    font-size: 15px;
	font-weight: bold;
	*width: 180px;
	font-family:  "微軟正黑體",Arial, "新細明體";
}
#nav .mainlevel:hover {
	background-color: #666;
	background-image: url(../images/menuBgH.jpg);
	background-repeat: repeat-x;
	color:#FFF;
}
#nav .mainlevel ul {
	margin: 0px 0px 0px -10px;
	display:none;
	position:absolute;
	border: 6px solid #666;
	position: relative;
	z-index: 1000;
	*float:left;
	font-family:  "微軟正黑體",Arial, "新細明體";
}
#nav .mainlevel li {
	border-top:1px solid #FFF;
	background-color: #999;
	padding-left: 10px;
	position: relative;
	z-index: 1000;
	font-size: 13px;
	*float:left;
	*width: 178px;
	*height: 34px;
	font-family:  "微軟正黑體",Arial, "新細明體";
}
#nav .mainlevel li:hover {
	background-color: #666;
	color: #FFF;
}
/********************AD 廣告視窗 *********************/
#abgne_float_ad {
	display: none;
	position: absolute;
	width: 430px;
	height: 460px;
	margin: 0px auto;
	background-color: #8B8B8B;
	}
	#abgne_float_ad .EVENT{
		color:#FFFFFF;
		font-size:12px;
		float:left;
		line-height:24px;
		height:24px;
		margin-left:15px;
		padding-top:10px;
		font-family: Helvetica, Arial, sans-serif;
		}
	#abgne_float_ad .abgne_close_ad {
	display: block;
	text-align: right;
	margin-left:392px;
	margin-top:10px;
	cursor: pointer;
	color: #FFFFFF;
	width: 24px;
	height: 24px;
	}
	#abgne_float_ad .XX{
		border: none;
		margin-right:2px;
		}
	#abgne_float_ad .ADimg {
		border: none;
		margin: 0px auto;
		margin:15px;
	}







