﻿@charset "utf-8";
/* CSS Document */
.page_link {
	float:left;
	color:black;
	vertical-align:middle;
	font-size: 16px;
	font-family:Arial;
	text-decoration: none;
	/*letter-spacing:12px;*/
    margin-left:150px;
	}
	
.page_link	ul li {
 list-style: none;
 margin: 0;
 padding: 0;
}
	
.page_link .go_page{
	float:left;
	width:30px;
	height:30px;
	cursor: pointer;
	margin-right: 5px;
	line-height:30px;
    border-style:solid;
    border-width:1px;
	}
.page_link .go_page:hover{
	color:#FFF;
	width:30px; 
	height:30px;
	background-color: #666; 
	cursor: pointer;
    border-style:solid;
    border-width:1px;
	}
.page_link .go_page:hover a {
    color:black;
    }
	

.page_link a{
	color:black;
	vertical-align:middle;
	font-size: 16px;
	font-family:Arial;
	text-decoration: none;
    width:30px;
    height:30px;
    display:block;
	}
	
.page_link	.page_loco{
	color:#FFF;
	width:30px; 
	height:30px;
	background-color: #000; 
	cursor: pointer;
	}
	