﻿@charset "utf-8";
/* CSS Document */


body
{
    font-family: Helvetica, Microsoft Jhenghei, sans-serif;
    line-height: 1;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
a {outline: medium none;}



.sky_bua {
	display: block;
	width: 100%;
	position: fixed;
	height: 26px;
	background-color: #000000;
	z-index: 9999;
	margin: 0px;
	padding: 0px;
	top: 0px;	/*margin-left: -90px;
	*margin-left: -670px!important;*/
} /* IE並不認識fixed，而FF認識 */




.content_top {
	margin-top: 40px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0px;
	width: 1180px;
	height: 170px;
	top: 0;	
}
.content_top .ind-logo{
	float: left;
	width: 287px;
    height: 63px;
	clear:both;}
	
.content_top .search{
   font-size: 12px;
   width: 350px;
   height: 56px;
   float: left;
   position: relative;
   margin-left:540px;
	}
.content_top .search a:link	{
	text-decoration: none;
	color: #999999;}
.content_top .search a:visited {
	color: #a91f24;}
.content_top .search .inputALL {
  font-size: 12px;
  border: #999999 1px solid;
  position: relative;
  top: 7px;
  left: 1px;
  height: 25px;
  width: 236px;
  padding-left: 1px;
  padding-top: 0px;
  letter-spacing: 2px;
  color: #999999;
  margin-left:0px;
}
/*.content_top .search input {
  font-size: 12px;
  border: #999999 1px solid;
  position: relative;
  top: 7px;
  left: 1px;
  height: 24px;
  width: 192px;
  padding-left: 12px;
  padding-top: 0px;
  letter-spacing: 2px;
  color: #999999;
}*/

.txtSearchTextBox {
  font-size: 12px;
  border: 0;
  position: relative;
  left: 1px;
  height: 24px;
  width: 210px;
  padding-top: 0px;
  letter-spacing: 2px;
  color: #999999;
}

.content_top .search .icon-search {
  cursor: pointer;
  border: none;
  top: 8px;
  background: url('../img/images/Sear-icon.jpg') no-repeat;
  width: 28px;
  position: absolute;
  left: 210px;
  height: 26px;
}
.content_top .search .icon-search:hover {
  background: url('../img/images/Sear-icon-over.jpg') no-repeat;}


.content_top .search .icon-WEB {
  cursor: pointer;
  border: none;
  top: 6px;
  float:left;
 /* background: url('../images/Sear-icon.jpg') no-repeat;*/
  width: 28px;
  position: absolute;
  height: 26px;}
	
.icon-WEB img {
  opacity:0.4;
  filter:alpha(opacity=40); /* 针对 IE8 以及更早的版本 */
  }
.icon-WEB img:hover {
  opacity:1;
  filter:alpha(opacity=100); /* 针对 IE8 以及更早的版本 */}	

.member_links {
	margin: 0px auto;
	width: 1180px;
	top: 0;
	color: #FFFFFF;
	/*width: 720px;*/
	height: 26px;
	/*float: right;*/
	font-size: 12px;
	line-height: 26px;
}
.member_links a:link,.member_links a:visited,.member_links a:hover,.member_links a:active{
	text-decoration: none;
	color: #FFFFFF;
	}
.member_links ul{
	font-family:\5FAE\8EDF\6B63\9ED1\9AD4,\65B0\7D30\660E\9AD4, Microsoft Jhenghei;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding:0px;
	/*display:inline;*/
	}
	
.member_links li{
	cursor: pointer;
	float:left;
	list-style: none; 
	margin-left: 25px;
	}
	
/*.member_links a:link a:hover{
	text-decoration: none;
	color: #333333;}
	
.member_links a:visited{
	color: #333333;}*/

.Language_icon {
	cursor: pointer;
	float: left;
	list-style: none;
	background-color: #535353;
	text-align: center;
	color: #ffffff;
	width: 100px;
	height: 26px;
	display: block;
	}
	
.Language_icon:hover {
	background-color: #A6A6A6;
	color: #000000;
}
	
	
.shop_icon{
	margin: 0px auto;
	width: 950px;
    height: 53px;
	clear:both;
	}	
.shop_icon_1180{
	margin: 0px auto;
	width: 1180px;
    height: 53px;
	clear:both;
    border-bottom: 1px solid #8B8B8B;
	padding-top: 10px;
	}	

.sponsor {
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0px;
	width: 1130px;
	height: 36px;
	clear: both;
}

.sponsor ul{
	font-family:\5FAE\8EDF\6B63\9ED1\9AD4,\65B0\7D30\660E\9AD4, Microsoft Jhenghei;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding:0px;}

.sponsor li{
	font-family: \5FAE\8EDF\6B63\9ED1\9AD4,\65B0\7D30\660E\9AD4, Microsoft Jhenghei;
	float:left;
	list-style: none; 
	display:inline;
	margin-left: 40px;
	font-size: 15px;
	line-height:36px;
	text-align: center;
	color:#333333;
	}	

.shop_icon ul,.shop_icon_1180 ul{
	font-family: \5FAE\8EDF\6B63\9ED1\9AD4,\65B0\7D30\660E\9AD4, Microsoft Jhenghei;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	width: 1180px;
	}	
.shop_icon li{
    font-family: \5FAE\8EDF\6B63\9ED1\9AD4,\65B0\7D30\660E\9AD4, Microsoft Jhenghei;
	float:left;
	list-style: none; 
	display:inline;
	margin-left: 70px;
	font-size: 20px;
	line-height:53px;
	text-align: center;
	color:#000000;
	}	
.shop_icon_1180 li{
	float:left;
	list-style: none; 
	display:inline;
	margin-left: 70px;
	font-size: 18px;
	line-height:53px;
	text-align: center;
	color:#000000;
	}	
.shop_icon li a:link,.shop_icon_1180 li a:link, .sponsor li a:link{
	color:#000000;
	text-decoration: none;}	
	
.shop_icon li a:visited,.shop_icon_1180 li a:visited,.sponsor li a:visited{
	color:#000000;}	
	
.shop_icon li a:hover,.shop_icon_1180 li a:hover,.sponsor li a:hover{
	color:#666666;}
	
	
	
	
.Footer {
	margin: 0px auto;
	clear: both;
	position: relative;
	width: 1180px;
	height: 440px;
	/*border-top: 4px solid #000000;*/
}

.Footer .Servic{
	margin: 0px auto;
	clear: both;
	position: relative;
	width: 1180px;
	height: 145px;
}

.Footer ul {
    position: relative;
    display: inline-block;
    float: left;
    margin-right: 23px;
	list-style: none;
    margin: 0;
    padding: 0;
}
.Footer li{
	font-family: Helvetica, Microsoft Jhenghei, sans-serif;
	font-size:12px;
	line-height:24px;
	}	
.Footer li.tit{
	font-size: 18px;
	line-height: 26px;
	font-family: Arial, sans-serif;
	font-weight: bold;
}

.Footer li a:link{
	color:#000000;
	text-decoration: none;}	
	
.Footer li a:hover{
	color:#666666;}
	
.Footer li a:visited{
	color:#000000;}

.Footer ul.HELP{
	padding-top: 30px;
    padding-left: 70px;}
	
.Footer ul.MORE{
	padding-top: 30px;
    padding-left: 127px;}
	
.Footer ul.FOLLOW{
	padding-top: 30px;
    padding-left: 86px;}
	
.Footer ul.ABOUT{
	padding-top: 30px;
    padding-left: 80px;}
	
.Footer ul.LINK{
	padding-top: 30px;
    padding-left: 106px;}
	
.Footer .visa{
	position: relative;
    display: inline-block;
	padding-top: 40px;
	text-align: center;
	font-family: Helvetica, Microsoft Jhenghei, sans-serif;
	font-size:12px;
	line-height: 20px;
	width: 1180px;
	}	

.Footer .icon {
	width:1180px;
	height:40px;
	clear:both;
	}
.Footer .icon ul{
	width: 160px;
	list-style: none;
	margin-right: ;
	margin-left: 510px;
	}
.Footer .icon li{
	float: left;
	margin:4px;
	}

.Footer .visa a:link{
	color:#000000;
	text-decoration: none;}	
	
.Footer .visa a:hover{
	color:#666666;}
	
.Footer .visa a:visited{
	color:#000000;}	
	
.Footer .COPYRIGHT{
	text-align: center;
	font-family: Helvetica, Microsoft Jhenghei, sans-serif;
	font-size: 10px;
	line-height: 26px;
	color: #999999;
}
	
	
/*----------跳出設定視窗-----------*/

.Jump {
	font-family: Helvetica, Microsoft Jhenghei, sans-serif;
	}
	
.Jump ul{
	list-style: none;
    margin: 0;
    padding: 0;
	width: 580px; /*ash 480*/

}
	
.Jump li.tit{
	border-bottom: #999999 1px solid;
	font-size: 24px;
	line-height: 30px;
    
}

.Jump li.tit2{
	margin-left:5px;
	margin-top:10px;
	font-size: 16px;
	line-height: 30px;
}

.Jump .Language_button {
	font-family: Helvetica, Microsoft Jhenghei, sans-serif;
	cursor: pointer;
	border: #999999 1px solid;
	text-align: center;
	color:#000000;
	background-color:#FFFFFF;
	width:150px; /*ash 100*/
	height:36px;
	line-height:34px;
	float:left;
	font-size:14px;
	/*margin-top:10px;*/
	margin-left:5px;
	display: block;}
	
.Jump .Language_button:hover {
	background-color: #FDFADA;
	border: #000000 1px solid;
}
	
.Jump .select {
	margin-left:5px;
	margin-top:5px;
	border: #999999 1px solid;
	width:250px;
	line-height:25px;
	height:25px;}
	
	
.sami_button {
	font-family: Helvetica, Microsoft Jhenghei, sans-serif;
	cursor: pointer;
	border: #999999 1px solid;
	text-align: center;
	color:#ffffff;
	background-color:#333333;
	width:120px;
	height:40px;
	line-height:40px;
	float:left;
	font-size:18px;
	/*margin-top:10px;*/
	margin-left:5px;
	display: block;}
	
.sami_button:hover {
	background-color: #000000;
	border: #000000 1px solid;
}	

/*下拉位置**/
ul.dropdown ul {
	visibility: hidden;
	position: absolute;
	/*top: 100%;*/
	/*right: 0;*/
	z-index: 1002;
	width: 560px;
	padding: 8px;
	border: 1px solid #999;
	float:left;
	 color: black;
}

ul.dropdown ul li {
	
	line-height: 20px;

}
ul.dropdown ul .li-01 {
	width: 220px;

}
ul.dropdown ul .li-02 {
	width: 140px; 
}
ul.dropdown ul .li-03 {
	width: 80px; 
}

ul.dropdown ul .li-04 {
	width: 50px; 
}

ul.dropdown ul .li-05 {
	width: 50px; 
}
ul.dropdown ul .line{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999;
}

ul.dropdown ul ul {
 top: 1px;
 right: 99%;
}

ul.dropdown li:hover > ul {
 visibility: visible;
}

#ShowCartLi-5 li{
	cursor: pointer;
	float:left;
	list-style: none; 
	margin-left: 0px;
	line-height:20px;
   
}

/*麵包屑*/

.breadcrumb {
	display: inline-block;
	overflow: hidden;
	border-radius: 5px;
	counter-reset: flag; 
}

.breadcrumb a {
	text-decoration: none;
	outline: none;
	display: block;
	float: left;
	font-size: 13px;
	line-height: 36px;
	color: white;
	padding: 0 10px 0 30px;
	background: #666;
	background: linear-gradient(#666, #333);
	position: relative;
}

.breadcrumb a:first-child {
	padding-left: 25px;
	border-radius: 5px 0 0 5px;
}
.breadcrumb a:first-child:before {
	left: 14px;
}
.breadcrumb a:last-child {
	border-radius: 0 5px 5px 0;
	padding-right: 20px;
}

.breadcrumb a:after {
	content: '';
	position: absolute;
	top: 0; 
	right: -18px;
	width: 36px; 
	height: 36px;
	transform: scale(0.707) rotate(45deg);
	z-index: 1;
	background: #666;
	background: linear-gradient(135deg, #666, #333);
	box-shadow: 
		2px -2px 0 2px rgba(255, 255, 255, 1), 
		3px -3px 0 2px rgba(255, 255, 255, 1);
	border-radius: 0 5px 0 50px;
}

.breadcrumb a:last-child:after {
	content: none;
}

.breadcrumb a:before {
	border-radius: 100%;
	width: 20px;
	height: 20px;
	line-height: 20px;
	margin: 8px 0;
	position: absolute;
	top: 0;
	left: 30px;
	background: #444;
	background: linear-gradient(#444, #222);
	font-weight: bold;
}


.flat a:before {
	background: white;
}
.flat a.active, 
.flat a.active:after{
	background: #FFF;
}

/*麵包屑End*/

/*-----------------行動版簡化SKY CSS------------------*/

.sky_bua_mobi {
	display: block;
	width: 100%;
	position: fixed;
	height: 100px;
	background-color: #000000;
	z-index: 9999;
	margin: 0px;
	padding: 0px;
	top: 0px;	/*margin-left: -90px;
	*margin-left: -670px!important;*/
} /* IE並不認識fixed，而FF認識*/


.member_links_mobi {
	margin: 0px auto;
	width: 100%;
	top: 0;
	color: #FFFFFF;
	height: 100px;
	font-size: 20px;
	line-height: 100px;
}
/*.member_links_mobi a:link, a:visited, a:hover, a:active{
	text-decoration: none;
	color: #FFFFFF;
	}
.member_links_mobi ul{
	font-family:\5FAE\8EDF\6B63\9ED1\9AD4,\65B0\7D30\660E\9AD4, Microsoft Jhenghei;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding:0px;
	/*display:inline;*/

	
ul.mobi_icon {
	margin: 0px auto;
	width: 100%;
	top: 0;
	color: #FFFFFF;
	height: 100px;
	font-size: 20px;
	line-height: 100px;
	padding: 0px;
}

ul.mobi_icon li {
	font-family:\5FAE\8EDF\6B63\9ED1\9AD4,\65B0\7D30\660E\9AD4, Microsoft Jhenghei;
	cursor: pointer;
	float: left;
	list-style: none;
	background-color: #2F2F2F;
	text-align: center;
	color: #ffffff;
	width: 24%;
	height: 100px;
	/*display: block;*/
	}
	
ul.mobi_icon li:hover {
	background-color: #A6A6A6;
	color: #000000;
}

ul.mobi_icon a:link, ul.mobi_icon a:visited, ul.mobi_icon a:hover, ul.mobi_icon a:active{
	text-decoration: none;
	color: #FFFFFF;
	}

            /* 特定在第一層 > 第二層或以後下拉部分之樣式 */
			ul.mobi_icon ul{
				display: none;
				width: 100%;
				/*float: left;*/
				position: relative;			
				left: 0;
				padding:0;	
				margin: 0;
			}
			/* 當第一層選單被觸發時，指定第二層顯示 */
			ul.mobi_icon li:hover > ul{
				display: block;
			}			
			/* 特定在第二層或以後下拉部分 li 之樣式 */
			ul.mobi_icon ul li {
				width: 100%;
				border-bottom: 1px solid #DDD;
			}
			/* 特定在第二層或以後下拉部分 li （最後一項不要底線）之樣式 */
			ul.mobi_icon ul li:last-child {
				border-bottom: none;
			}

/*-----------------行動版簡化SKY End------------------*/