@charset "utf-8";
/* CSS Document */

.tabs{
	position:relative;
	width:1180px;
	height:440px;
	}    
.Lift-title{
	width:658px;
	float:left;
	}
.tab{
	margin-right:0px;
	float:left;
	width:87px;
 
   }    

.tab > input[type=radio]{display:none;}    
.tab > label{
	cursor: pointer;
	display:block;
	position:relative;
	min-width:70px;
	top:39px;
	height:20px;
	margin-right:-1px;
	background:#fff;
	color: #000;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #AAA;
	border-left-color: #AAA;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #C99;
	font-size: 13px;
	line-height: 20px;
	text-align: center;
	}    
.tab > .content{
	display:none;
	position:absolute;
	top:70px;
	right:0;
	bottom:0;
	left:0;
	/*z-index:1; */     
	padding:0px;
	background:#FFF;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #AAA;
	}    
	
.tab > input[type=radio]:checked + label{
	background:#000;
	z-index:2;
	color: #fff;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #000;
	}    

.tab > input[type=radio]:checked ~ .content{      
    display:block;      
}

.ranking_box{
	width:1180px;
	margin: 0;
	padding: 0;
	}

.ranking_box ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
	}
	
.rk_li{
	position:relative;
	float:left;
	width:228px;
	height:400px;
	padding-right: 8px;
}
		
.rk_no1{
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	z-index: 2;
	}	
.rk_img{
	position: absolute;
	top: 10px;
	border: 0;
	z-index: 1;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0;
	left: 0px;

}	
.rk_txt {
	width:228px;}

.rk_name {
	width:228px;
	height: 30px;
	display:block;
	font-size: 12px;
	line-height: 30px;
	color: #666;
	text-align: center;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #F69;
	}

.kr_price {
	display:block;
	font-size: 15px;
	line-height: 30px;
	width:228px;
	height: 30px;
	text-align: center;
	color: #900;
	font-weight: bold;
}	

.kr_info{
	display:block;
	width:228px;
	height: 50px;
	font-size: 12px;
	line-height: 20px;
	color: #666;
	text-align: right;
	margin-top: 9px;
	}
