﻿@charset "UTF-8";






.modal-backdrop{
	position:fixed;
	top:0;right:0;
	bottom:0;
	left:0;
	z-index:1040;
	background-color:#000000;}
	
.modal-backdrop.fade{opacity:0}

.modal-backdrop,.modal-backdrop.fade.in{opacity:0.8;filter:alpha(opacity=80)}

.modal{
	position:fixed;
	top:50%;
	left:40%;
	z-index:1050;
	width:590px;
	margin:-250px 0 0 -200px;
	background-color:#ffffff;
	/*border:1px solid #999;
	border:1px solid ;
	*border:1px solid #999;*/
	outline:none;
	background-clip:padding-box}

.modal.fade{
	top:-25%;
	}



.modal-header{
	padding:9px 15px;
	border-bottom:1px solid #eee}

.modal-header .close{
	margin-top:2px}




input,button{
	/*border:1px solid #DDD;*/
	font-size:13px;
	margin:0;height:auto}



.close{
	cursor: pointer;
	padding: 2px 3px;
	position: absolute;
	right: 10px;
	top: 14px;
	font-size: 30px;
}

.close:hover{
	background-color:grey;
	color:#ffffff}




#login-modal{
    height:450px;/*ash 350*/
}

#login-modal, #login-modal2, #login-modal3, #login-modal4 {
	display: none;
	width: 600px; /*ash 500*/
	padding-top: 0;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 20px;
	background: white;
	border: 5px solid #999999;
	margin-left: -350px;
	overflow: hidden;
	margin-bottom: 40px;
	margin-top: -300px
}

#signup-modal a:hover,#login-modal a:hover,#login-modal2 a:hover, #forgetform a:hover,.modal a:hover{text-decoration:none}

.modal h1,#forgetform h1,#signup-modal h1,#login-modal h1, #login-modal2 h1,#login-modal3 h1{
	margin:0 -40px;
	background:#EEE;
	border-bottom:1px solid #CCC;
	border-top:1px solid #CCC;
	font-size:16px;
	padding:13px 40px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	text-align:center;
	margin-bottom:30px}

.modal .close,#signup-modal .close,#login-modal .close,#login-modal2 .close,#forgetform .close,#login-modal3 .close,#login-modal4 .close{
	position:absolute;
	top:0;
	right:0;
	padding:12px 18px 16px 18px;
	opacity:.8;
	/*border-left:1px solid #BBB*/}

