﻿/*  CAT id 1   */
.border1 {
    border-bottom-color:#D35400 !important;
}

.bg1 {
    background-color:#D35400 !important;
}

/********************************/

/*  CAT id 2   */
.border2 {
    border-bottom-color:#b20000 !important;
}

.bg2 {
    background-color:#b20000 !important;
}

/********************************/

/*  CAT id 3   */
.border3 {
    border-bottom-color:#023059 !important;
}

.bg3 {
    background-color:#023059 !important;
}

/********************************/

/*  CAT id 4   */
.border4 {
    border-bottom-color:#007935 !important;
}

.bg4 {
    background-color:#007935 !important;
}

/********************************/

/*  CAT id 5   */
.border5 {
    border-bottom-color:#7b98ac !important;
}

.bg5 {
    background-color:#7b98ac !important;
}

/********************************/

/*  CAT id 6   */
.border6 {
    border-bottom-color:#d87072 !important;
}

.bg6 {
    background-color:#d87072 !important;
}

/********************************/

/*  CAT id 7   */
.border7 {
    border-bottom-color:#b26000 !important;
}

.bg7 {
    background-color:#b26000 !important;
}

/********************************/

/*  CAT id 8   */
.border8 {
    border-bottom-color:#6900b2 !important;
}

.bg8 {
    background-color:#6900b2 !important;
}

/********************************/

/*  CAT id 9   */
.border9 {
    border-bottom-color:#0468bf !important;
}

.bg9 {
    background-color:#0468bf !important;
}

/********************************/

/*  CAT id 10   */
.border10 {
    border-bottom-color:#7db200 !important;
}

.bg10 {
    background-color:#7db200 !important;
}

/********************************/

/*  CAT id 11   */
.border11 {
    border-bottom-color:#6800b3 !important;
}

.bg11 {
    background-color:#6800b3 !important;
}

/********************************/

/*  CAT id 12   */
.border12 {
    border-bottom-color:#F4D03F !important;
}

.bg12 {
    background-color:#F4D03F !important;
}

/********************************/

/*  CAT id 13   */
.border13 {
    border-bottom-color:#674172 !important;
}

.bg13 {
    background-color:#674172 !important;
}

/********************************/

/********************************/

/*  CAT id 14   */
.border14 {
    border-bottom-color:#b20000 !important;
}

.bg14 {
    background-color:#b20000 !important;
}

/********************************/

/*  CAT id 15   */
.border15 {
    border-bottom-color:#b20000 !important;
}

.bg15 {
    background-color:#b20000 !important;
}

/********************************/

/*  CAT id 16   */
.border16 {
    border-bottom-color:#b20000 !important;
}

.bg16 {
    background-color:#b20000 !important;
}

/********************************/