@font-face {
font-family: 'GESSTextLight-Light';
src: url('font/GESSTextLight-Light.eot?#iefix') format('embedded-opentype'),
url('font/GESSTextLight-Light.otf')  format('opentype'),
url('font/GESSTextLight-Light.woff') format('woff'),
url('font/GESSTextLight-Light.ttf')  format('truetype'),
url('font/GESSTextLight-Light.svg#GESSTextLight-Light') format('svg');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'GESSTextBold-Bold';
src: url('font/GESSTextBold-Bold.eot?#iefix') format('embedded-opentype'),
url('font/GESSTextBold-Bold.otf')  format('opentype'),
url('font/GESSTextBold-Bold.woff') format('woff'),
url('font/GESSTextBold-Bold.ttf')  format('truetype'),
url('font/GESSTextBold-Bold.svg#GESSTextBold-Bold') format('svg');
font-weight: normal;
font-style: normal;
}
