﻿@charset "UTF-8";
/* CSS Document */
@media only screen and (max-width: 1400px) and (min-width: 960px){
.container {
width: 960px;
}
.writers ul li a span.WriterName, .writers ul li a span{width: 190px;}
nav.menu ul li{
    padding-right: 9.4px; padding-left: 10.4px;
}
.topStoryThump div.cycle-slide {
width: 165px !important;
}
.topStoryThump a img{
    width: 150px;
}
span.currencyTaps span{
    margin: 0px 2px;
}
.currencyUl > div ul li{
    margin-bottom: 5px;
    width: 44px;
}
span.widgetTitle.sel{
    padding: 4px;
}
.rightContainer {
width: 630px;
}
.galleryVedio span.topStoryTitle, .vedioSec span.topStoryTitle {
bottom: 43px !important;
}
.galleryVedio {
    height: 605px;
}
.leftContainer {
width: 300px;
}
.socail div{display:none;}
.radioPdf img{
    width: 135px;
}
footer .logo{
    width: 40%;
}

span#no-template-pager2 a, span#no-template-pager a {
    width: 136px;
    display: block;
    height: 96px;
    float: right;
    margin-left: 27px;
    margin-top: -27px;
}

span#no-template-pager2 a:last-child, span#no-template-pager a:last-child {
    margin-left: 0px;
}
span#no-template-pager2 a img, span#no-template-pager a img {  border: 1px #e7e7e7 solid;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;  width: 136px;  height: 96px;}
.topStoryMain div > a > img, .vedioSec a img, .gallerySec a img, .topStory2 div > a img{
    width: 630px;
    height: 354px;
}
div#media-pager2 div a, div#media-pager2 div a img,
div#media-pager1 div a, div#media-pager1 div a img {
  width: 150px !important;
  height: 96px !important;
}
span#no-template-pager a img{
    width: 122px;
}
.topStoryMain div a{height: 354px;}
.mostPopular ul li, .mostRead ul li{width: 299px;}
.topStory6 ul li:nth-child(3), .topStory6 ul li:nth-child(4), .topStory6 ul li:nth-child(5){
    width: 190px;
}
.topStory6 ul li:nth-child(3) a img, .topStory6 ul li:nth-child(4) a img, .topStory6 ul li:nth-child(5) a img{
    width: 190px;
    height: 107px;
}
.topStory6 ul li:nth-child(3) a:hover span, .topStory6 ul li:nth-child(4) a:hover span, .topStory6 ul li:nth-child(5) a:hover span{
    bottom: -90px;
}
#leftSecNext, #leftSecPrev{
    top: 97px;
}
.newest ul li:first-child a img{
    width: 170px !important;
    height: 96px !important;
}
.newest ul li:first-child a span{
    width: 110px; margin-top: 0px;
    padding: 0px !important;
    font-size: 13px;
    margin-right: 5px;
}
.newest ul li:first-child a{
    height: auto !important;
}
.mostPopular ul li a img, .mostRead ul li a img, .secBlockcycleBG div a img, .heightSec ul li:first-child a img, .leftSec div a img{width:300px;height:169px;}
.topStory6 ul li:nth-child(3) a, .topStory6 ul li:nth-child(4) a, .topStory6 ul li:nth-child(5) a{
    height: 107px;
}
.mostPopular ul li a, .mostRead ul li a, .heightSec ul li:first-child a{height:169px;}
span.topStoryTitle{padding:50px 0px;bottom: -31px;}
.secBlockcycleBG div a span, .secBlockcycleBG div a p{
    width: 280px;
    font-size: 12px;
    
}
.idnext, .idprev{
    top: 100px;
}
.secBlockcycleBG{
    height: 188px;
}
.secBlockcycleBG div a span{font-size: 15px;margin-top: 10px;}
span.pollTitle{font-size: 18px;}
.secBlockcycleBG div a img{
    margin-top: 10px;
}
.heightSec ul li:first-child a span{
    bottom: -10px !important;
    padding: 50px 0px;
}
#gallerySecCnext, #gallerySecCprev, #vedioSecCprev, #vedioSecCnext{top: 138px;}
.heightSec{
    width: 300px;
}
.heightSec ul li a span{
    width: 110px;
    margin-top: 0px;
    font-size: 13px;
}
}
@media only screen and (max-width: 959px) and (min-width: 768px){
    .show-ads {
    display: none !important;    
}
.container, .rightContainer {
width: 730px;
}
.fixedAds{display:none;}
.topStory2 div > a img{width:730px;height:411px}
span#no-template-pager a img{width: 142px;}
nav.menu{
    display: none;
}
.mobileMenu{
    display: block;
}
.socail{
width: 460px;
margin-top: 60px;
}
.topStoryMain div a{
height: 411px;
}
.topStoryMain div > a > img{width: 730px;
height: 411px;}
span.topStoryTitle{
bottom: -20px;
}
.mostPopular ul li a, .mostRead ul li a{
height: 197px;
}
.mostPopular ul li, .mostRead ul li{
width: 349px;
}
.topStory6 ul li:nth-child(3), .topStory6 ul li:nth-child(4), .topStory6 ul li:nth-child(5){width: 223px;}
.mostPopular ul li a img, .mostRead ul li a img{
width: 350px;
height: 197px;
}
.secBlockcycleBG div a span, .secBlockcycleBG div a p{
width: 300px;
}
.heightSec{
width: 350px;
}
.heightSec ul li:first-child a img{
width: 350px;
height: 197px;
}
.heightSec ul li:first-child a{height: 197px;}
.heightSec ul li:first-child a span{
bottom: -20px;
}
.heightSec ul li a span{
width: 160px;
}
.galleryVedio img{
width: 730px;
height: 411px;
}
.gallerySec a img, .vedioSec a img, .gallerySec a, .vedioSec a{
    width: 730px;
    height: 411px;
}
.leftContainer{
display: none;
}
footer .logo{
width: 33%;
margin-top: 80px;
}
.tap-ads-1{display:block !important;  margin-top: 30px;}
}
@media only screen and (max-width: 767px) and (min-width: 480px){
        .show-ads {
    display: none !important;    
}
.container, .rightContainer {
width: 470px;
}
.fixedAds, .headerAds, .latestNews,#footerAds{display:none;}
.topStory2 div > a img{width: 470px; height:264px; }
.topStory2 div > a{height:264px; }
.topStory4 div > a{height:auto; }
span#no-template-pager a img{display:none;}
img.articleImg{
    width: 470px;
    height: 264px;
}
nav.menu{
    display: none;
}
.mobileMenu{
    display: block;
}
.logo{
float: none;
}
.logo a img{
margin: auto; display: block;
}
a.headerAds{
display: none;
}
.secBlockcycleBG div a img{
width: 468px;
height: 263px;
border-left: 0px;
}
.secBlockcycleBG{
height: 490px;
}
.vedioSec a{
height: 264px;
}
.galleryVedio{
height: 304px;
overflow: hidden;
}
#vedioSecCnext, #vedioSecCprev, #gallerySecCnext, #gallerySecCprev{
top: 80px;
}
.gallerySec a{
height: 264px;
}
.gallerySecIco{
top: 30%;
}
.socail{
width: 100%;
margin-top: 20px;
float: none;
}
.topStoryMain div a{
height: 264px;
}
.topStoryMain div > a > img{width: 470px;
height: 264px;}
span.topStoryTitle{
bottom: -20px;
}
.topStory6 ul li:nth-child(3) a, .topStory6 ul li:nth-child(4) a, .topStory6 ul li:nth-child(5) a{
    height: 213px;
}
.mostPopular ul li a, .mostRead ul li a{
height: 264px;
}
.mostPopular ul li, .mostRead ul li{
width: 100%;
}
.topStory6 ul li:nth-child(1), .topStory6 ul li:nth-child(2){
    width: 220px;
}
.topStory6 ul li:nth-child(1) a img, .topStory6 ul li:nth-child(2)  a img{
    width: 220px;
    height: 124px;
}
.topStory6 ul li:nth-child(3), .topStory6 ul li:nth-child(4), .topStory6 ul li:nth-child(5){
    width: 136px;
}
.topStory6 ul li:nth-child(3) a img, .topStory6 ul li:nth-child(4) a img, .topStory6 ul li:nth-child(5) a img{
    width: 136px;
    height: 77px;
}
.topStory6 ul li:nth-child(3) a span, .topStory6 ul li:nth-child(4) a span, .topStory6 ul li:nth-child(5) a span{
    bottom: -130px;
}
.mostPopular ul li a img, .mostRead ul li a img{
width: 470px;
height: 264px;
}
.secBlockcycleBG div a span, .secBlockcycleBG div a p{
width: 96%;
text-align: center;
margin-right: 0px;
padding: 10px;
display: block;
}
.heightSec{
width: 100%;
margin-right: 0px;
}
.heightSec ul li:first-child{
    height: 264px;
}
.heightSec ul li:first-child a img{
width: 470px;
height: 264px;
}
.heightSec ul li:first-child a{height: 264px;}
.heightSec ul li:first-child a span{
bottom: -20px;
}
.heightSec ul li a span{
width: 280px;
}
.galleryVedio img{
width: 470px;
height: 264px;
}
.gallerySec a img, .vedioSec a img, .gallerySec a, .vedioSec a{
    width: 470px;
    height: 264px;
}
.leftContainer{
display: none;
}
footer .logo{
width: 100%;
/* margin-top: 80px; */
}
 .mob-ads-1{display:block !important;  margin-top: 30px;}
}
@media only screen and (max-width: 479px){
        .show-ads {
    display: none !important;    
}
    .mob-ads-1{display:block !important;  margin-top: 30px;}
.container, .rightContainer {
width: 310px;
}
.fixedAds{display:none;}
.headerAds, .latestNews,#footerAds{display:none;}
.topStory6 ul li:nth-child(3), .topStory6 ul li:nth-child(4), .topStory6 ul li:nth-child(5){width: 310px;}
.logo{
float: none;
}
.topStory2 div > a img{width: 310px; height:174px; }
.topStory2 div > a{height:174px; }
.topStory4 div > a{height:auto; }
span#no-template-pager a img{display:none;}
.topStoryR, .topStoryl{top: 70px;}
img.articleImg{
    width: 310px;
    height: 174px;
}
.logo a img{
margin: auto; display: block;
}
.socail div{display: none;}
a.headerAds{
display: none;
}
.secBlockcycleBG div a img{
width: 308px;
height: 174px;
border-left: 0px;
}
.secBlockcycleBG{
height: 340px;
overflow: hidden;
}
.vedioSec a{
height: 174px;
}
.galleryVedio{
height: 214px;
overflow: hidden;
}
#vedioSecCnext, #vedioSecCprev, #gallerySecCnext, #gallerySecCprev{
top: 50px;
}
.gallerySec a{
height: 174px;
}
.gallerySecIco{
top: 30%;
}
.socail{
width: 100%;
margin-top: 20px;
margin-left: 65px;
}
.socail ul{
    margin-bottom: 20px;
}
.topStoryMain div a{
height: 174px;
}
.topStoryMain div > a > img{width: 310px;
height: 174px;}
.gallerySec a img, .vedioSec a img, .gallerySec a, .vedioSec a{
    width: 310px;
    height: 174px;
}
span.topStoryTitle{
bottom: -20px;
}
.mostPopular ul li a, .mostRead ul li a{
height: 174px;
}
.mostPopular ul li, .mostRead ul li{
width: 310px;
}
.mostPopular ul li a img, .mostRead ul li a img{
width: 310px;
height: 174px;
}
.secBlockcycleBG div a span, .secBlockcycleBG div a p{
width: 96%;
text-align: center;
margin-right: 0px;
padding: 10px;
display: block;
}
.heightSec{
width: 100%;
margin-right: 0px;
}
.heightSec ul li:first-child a img{
width: 310px;
height: 174px;
}
.heightSec ul li:first-child a{height: 174px;}
.heightSec ul li:first-child a span{
bottom: -20px;
}
.heightSec ul li a span{
width: 120px;
margin-top: 0px;
}
.galleryVedio img{
width: 310px;
height: 174px;
}
.leftContainer{
display: none;
}
#prev, #next{
    top: 112px;
}
footer .logo{
width: 100%;
/* margin-top: 80px; */
}
nav.menu{
    display: none;
}
.mobileMenu{
    display: block;
}    
}

