﻿@charset "utf-8";
/* CSS Document */
body{
	font-family: 'GESSTextLight-Light';
	margin: 0px;
	padding: 0px;
	direction:rtl;
    background-image: url(../png/bg.png);
    overflow-x: hidden;
}
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1;}
li{list-style:none;}
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
caption,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	padding: 0;
	margin: 0;
	outline: none;
	list-style: none;
	border: 0 none;
}
a{text-decoration:none;color: #fff;}
span,img,li,a,*:before{
	transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s;
	-webkit-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}