﻿@charset "UTF-8";
/* CSS Document */
@import url("../css/font.css");
@import url("../css/reset.css");

.container {
width: 1170px;
margin: 0 auto;
}
.rightContainer {
width: 770px;
float: right;
}
.leftContainer {
width: 370px;
float: left;
border: 1px #fff solid;  
margin-top: 10px;
}
.socail {
    float: left;
    margin-top: 5px;
}
.socail ul li{
    float: left;
    margin-right: 20px;
}
.socail ul li a{background-image: url(../png/social.png);}
.socail ul li a.facebook{
width: 12px;
height: 24px;
display: block;
background-position: 0px 0px;
}
.socail ul li a.twitter{
width: 30px;
height: 24px;
display: block;
background-position: -34px 0px;
}
.socail ul li a.plus{
width: 27px;
height: 24px;
display: block;
background-position: -82px 0px;
}
.socail ul li a.tube{
width: 25px;
height: 24px;
display: block;
background-position: -124px 0px;
}
.socail ul li a.rss{
width: 24px;
height: 24px;
display: block;
background-position: -175px 0px;
}
.socail ul li a.rss:hover {
    background-position: -175px 24px;
}
.socail ul li a.tube:hover {
    background-position: -124px 24px;
}
.socail ul li a.plus:hover {
    background-position: -82px 24px;
}
.socail ul li a.twitter:hover {
    background-position: -34px 24px;
}
.socail ul li a.facebook:hover {
    background-position: 0px 24px;
}
input.txtSearch {
    width: 161px; height: 31px; float: right; 
    font-family: 'GESSTextLight-Light'; direction: rtl; 
    background-color: #000; 
    border: 1px solid #ee1c27; padding-right: 5px; 
    color: #ee1c27;
}

form.searchForm {
    float: left;
    margin-top: 5px;
}

.socail ul {
    float: left;
    margin-top: 8px;
}
.headerAds {
    float: left;
    margin-top: 20px;
    border: 1px #fff solid;
}

.logo {
    float: right;
    margin-top: 28px;
}

header {
    background: #000;
}

nav.menu ul li {
    float: right;
    border-left: 1px #343434 solid;
    padding-right: 18px;
    padding-left: 18px;
}

nav.menu ul li a {
    font-size: 18px;
    line-height: 40px;
}

nav.menu ul li:last-child {
    margin-left: 0px;
    border-left: 0px;
}

nav.menu {
    margin-top: 20px;
    border-top: 1px #343434 solid;
    border-bottom: 1px #343434 solid;
    height: 41px;
    overflow: hidden;
}

nav.menu ul f-child {}

nav.menu ul li:first-child {
    height: 40px;
}

nav.menu ul li a img {
    margin-top: 5px;
}

.topStoryMain div a {
    position: relative;
    height: 433px;
    overflow: hidden;
    display: block;
}


span.topStorySec {
    position: absolute;
    background: #4183d7; 
    right: 11px; text-align: center; color: #fff; padding: 5px 20px; 
    top: 11px;
    border: 1px #fff solid;
}

span.topStoryTitle {
    font-family: GESSTextBold-Bold;
    position: absolute; background-image: -moz-linear-gradient( 90deg, rgb(0,0,0) 0%, rgba(0,0,0,0) 100%); background-image: -webkit-linear-gradient( 90deg, rgb(0,0,0) 0%, rgba(0,0,0,0) 100%); background-image: -ms-linear-gradient( 90deg, rgb(0,0,0) 0%, rgba(0,0,0,0) 100%); 
    bottom: -30px; color: #fff; 
    width: 100%; 
    padding: 50px 10px; 
    font-size: 18px;
}


.galleryVedio span.topStoryTitle,
.vedioSec span.topStoryTitle
{
    bottom: -30px !important; 
}

.topStory {
    margin-top: 10px;
}

.topStoryMain div > a > img {
    border: 1px #e7e7e7 solid; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}

.topStoryThump {
    margin-top: 10px;
    position: relative;
}

.topStoryThump div.cycle-slide-active img
{
    border-color:#f00;
}

.topStoryThump a {
    float: right;
}
.topStoryThump a img {
    border: 1px #e7e7e7 solid; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}

.topStoryThump div.cycle-slide {
    width: 200px !important;
}

.cycle-next{background-image: url(../png/topArrowR.png);display: block;width: 32px;height: 69px;position: absolute;z-index: 99999;top: 14px;right: 10px;background-color: rgba(255,255,255,0.6);cursor: pointer;}
.cycle-prev{background-image: url(../png/topArrowL.png);display: block; width: 32px; height: 69px;position: absolute;z-index: 99999;left: 10px;top: 14px;background-color: rgba(255,255,255,0.6);cursor: pointer;}

.cycle-prev:hover,
.cycle-next:hover
{
    background-color: rgba(255,255,255,0.8);
}

.mostPopular {
    margin-top: 20px;
    border: 1px #fff solid;
}

.mostPopular ul li a, .mostRead ul li a {
    position: relative;
    display: block;
    height: 208px;
    overflow: hidden;
}

.mostPopula ul li {
    width: 370px;
    float: right;
    margin-left: 30px;
    margin-top: 30px;
}

.mostPopular ul li:nth-child(even) {
    margin-left: 0px;
}

.secBlockcycle {
    margin-top: 30px;
    position: relative;
}
.mostRead a.secBlockcycleHe, .poll a.secBlockcycleHe, .newest a.secBlockcycleHe{color:#000;}
a.secBlockcycleHe {
    display: block;
    background: #888;
    color: #fff;
    font-size: 18px;
    padding: 5px;
}

.secBlockcycleBG {
    border: 1px #f2f2f2 solid;
    height: 228px;
     
}

.secBlockcycleBG div a img {
    float: right;
    border: 1px #f2f2f2 solid; 
    border-right: 0px;
    box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
    margin-top: 10px;
}

.secBlockcycleBG div a span {
    font-family: GESSTextBold-Bold;
    color: #fff;
    font-size: 18px;
    margin-right: 20px;
    display: block;
    float: right;
    width: 370px;
    margin-top: 20px;
}

.secBlockcycleBG div a p {
    color: #747474;
    font-size: 14px;
    float: right;
    width: 320px;
    margin-right: 20px;
    margin-top: 20px;
}

.idprev,#prev{background: url(../png/secCycleA.png);width: 30px;height: 57px; display: block; position: absolute; z-index: 9999;left: 1px;top: 137px;}
.idnext,#next{background: url(../png/secCycleA.png);width: 30px;height: 57px; display: block; position: absolute; z-index: 9999;background-position: 31px;top: 137px;right: 1px;}
.heightSec ul li:first-child a span {
    font-family: GESSTextBold-Bold; position: absolute; background-image: -moz-linear-gradient( 90deg, rgb(0,0,0) 0%, rgba(0,0,0,0) 100%); background-image: -webkit-linear-gradient( 90deg, rgb(0,0,0) 0%, rgba(0,0,0,0) 100%); background-image: -ms-linear-gradient( 90deg, rgb(0,0,0) 0%, rgba(0,0,0,0) 100%); 
    bottom: 0px !important; color: #fff; width: 100%; 
    padding: 0px 10px !important; font-size: 18px;
    margin-right: 0px;
}

.heightSec ul li:first-child a {
    position: relative;
    height: 208px;
    overflow: hidden;
    display: block;
}
.syncCopy img {
    width: 90px;
    margin-top: 7px;
}
.heightSec ul li:first-child{height: 170px;}
.heightSec ul li {
    margin-bottom: 20px;
    float: right;
    height: 96px;
    overflow: hidden;
}
.writers ul {
    margin-top: 20px;
}
.writers ul li{
    height: 75px !important;
    width: 100%;
    display: block;
    float: right;
    border-bottom: 1px #fff solid;
    margin-bottom: 20px;
    overflow: hidden;
    }
.writers ul li a img {
border-radius: 50%;
float: left;
}
.writers ul li a span.WriterName{width: 260px;
font-size: 16px;
margin-top: 3px;
text-align: right;
margin-bottom: 10px !important;
margin-right: 10px !important;
color: #949697;}
.writers ul li a span{width: 260px;
font-size: 16px;
margin-top: 3px;
margin-bottom: 0px;
text-align: right;
float: right;margin-right: 20px;}


.writers a.secBlockcycleHe {
    color: #1f1f1f;
}

.writers {
    margin-top: 30px;
}
.heightSec {
    width: 370px;
    float: right;
    margin-top: 30px;
}

.mostPopular ul li a img, .mostRead ul li a img {
    border: 1px #e7e7e7 solid; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}

.heightSec ul li a img {
    border: 1px #e7e7e7 solid; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}

.heightSec ul li:last-child {
    margin-bottom: 0px;
}

.heightSec ul li a span {
    float: right;
    display: block;
    width: 180px;
    margin-left: 15px;
    margin-top: 0px;
    font-size: 16px;
    margin-right: 5px;
    height: 82px;
    overflow: hidden;
}

.heightSec ul li a img {
    float: right;
}

.heightSecleft  {
    margin-right: 30px;
}

.galleryVedioTabs span {
    width: 100%;
    float: right;
    background: #f2f2f2;
    height: 40px;
    border: 1px #fff solid; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
    padding-right: 10px;
    padding-top: 8px;
    cursor: pointer;
}

.galleryVedioTabs {
    height: 40px;
    margin-top: 30px;
}

.galleryVedio {
    margin-top: 30px;
    height: 589px;
    overflow: hidden;
}

.galleryVedioTabs span.sel {
    background-color: #000;
    color: #fff;
}
.gallerySecIco{background: url(../png/gallerySecIco.png);width: 68px; height: 68px; display: block; position: absolute; top: 50%; right: 46%; z-index: 9999;}
.vedioSecIco{background: url(../png/vedioSecIco.png);width: 68px;height: 68px;display: block;position: absolute;top: 40%;right: 46%;z-index: 9999;}

.gallerySec a {
    position: relative;
    display: block;
    height: 433px;
    overflow: hidden;
}
.vdeioSec a {
    position: relative;
    display: block;
    height: 433px;
    overflow: hidden;
}
#gallerySecCprev{background: url(../png/secCycleA.png);width: 30px;height: 57px; display: block; position: absolute; z-index: 9999;left: 0px;top: 188px;}
#gallerySecCnext{background: url(../png/secCycleA.png);width: 30px;height: 57px; display: block; position: absolute; z-index: 9999;background-position: 31px;top: 188px;}
#vedioSecCprev{background: url(../png/secCycleA.png);width: 30px;height: 57px; display: block; position: absolute; z-index: 9999;left: 0px;top: 188px;}
#vedioSecCnext{background: url(../png/secCycleA.png);width: 30px;height: 57px; display: block; position: absolute; z-index: 9999;background-position: 31px;top: 188px;}
.gallerySec a{
    position: relative;
    display: block;
    height: 433px;
    overflow: hidden;
}
.vedioSec a{
    position: relative;
    display: block;
    height: 433px;
    overflow: hidden;
}

.topStoryMain div a:hover span.topStoryTitle {
    bottom: -20px;
}

.mostPopular ul li a:hover span.topStoryTitle, .mostRead ul li a:hover span.topStoryTitle {
    bottom: -20px;
}

.heightSec ul li:first-child a:hover span {
    bottom: 20px;
}

a.heightSecHe {
    display: block;
    padding: 5px;
    border-bottom: 1px #fff solid;
    font-size: 18px;
}

.radioPdf {
    margin-top: 10px;
}

.newest ul li:first-child{
    height: 116px;
}
.newest ul li:first-child a {
    height: auto;
    margin-top: 20px;
}
.block-end{text-align: center; border: 1px #747474 solid;}
.block-end:empty {
    display: none;
}

.newest ul li:first-child a span {
    position: initial;
    font-family: GESSTextLight-Light;
    width: 165px;
    padding: 0;
    font-size: 16px;
    bottom: 0px;
    background: none;
    margin-right: 0px;
}
#leftSecPrev{background: url(../png/secCycleA.png);width: 30px;height: 57px; display: block; position: absolute; z-index: 9999;left: 0px;top: 117px;}
#leftSecNext{background: url(../png/secCycleA.png);width: 30px;height: 57px; display: block; position: absolute; z-index: 9999;background-position: 31px;top: 117px;}

.newest , .newest2 {
    float: none;
    width: auto;
}

.leftSec div a {
    position: relative; height: 208px; overflow: hidden; display: block;
}

.leftSec {
    margin-top: 30px;
    position: relative;
}

.leftSec div a:hover span.topStoryTitle {
    bottom: -20px;
}

.poll {
    margin-top: 30px;
    border: 1px #fff solid;
}

span.pollTitle {
    color: #fff;
    font-size: 24px;
    padding: 5px;
    display: block;
    text-align: center;
}

.pollVotes {
    margin: 10px 10px;
}

span.optionTitle {
    color: #fff;
    font-size: 18px;
    padding-right: 10px;
}

span.value {
    background: #f2f2f2;
    display: block;
    height: 30px;
    margin-top: 10px;
    border: 1px #fff solid;
}

input[type=radio] {
    float: right;
}

.poll label {
}

.pollVotes div {
    margin-top: 5px;
}

span.value span {
    height: 30px;
    display: block;
    float: left;
}

footer {
    background: #000;
    border-top: 2px #343434 solid;
    margin-top: 30px;
}

.mostRead {
    margin-top: 30px;
}

.mostPopular ul li, .mostRead ul li {
    float: right;
    margin-left: 30px;
    margin-top: 20px;
    width: 369px;
}

span.mostReadNum {
    background: rgba(238, 28, 39, 0.5);
    display: block;
    width: 47px;
    height: 32px;
    border-radius: 50%;
    position: absolute;
    text-align: center;
    padding-top: 15px;
    left: 10px;
    top: 10px;
    border: #fff 2px solid;
}

.socail div {
    float: left;
    color: #ef1b25;
    margin-left: 10px;
    margin-top: 10px;
}

.socail div a {
    color: #fff;
    font-size: 18px;
    padding: 0px 10px;
}

.footerCopy {
    float: left;
}

footer .logo {
    width: 50%;
}

.footerCopy div {
    color: #ed1b25;
    text-align: left;
    margin-top: 20px;
    font-size: 18px;
}

.footerCopy div a {
    padding: 0px 10px;
}

.footerCopy div span {
}

.footerCopy div a {
}

.syncCopy span {
    float: left;
    line-height: 29px;
}
.mSubMenu {
    display: none; 
    background: #ee1c27;  color: #fff; position: relative;     
}

.mobileMenu {
    margin-top: 30px; 
    background: #ee1c27; 
    height: 45px; 
    color: #fff;
    position: relative; transition: all 0.2s ease-in-out; -o-transition: all 0.2s; -webkit-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out;
    display: none;
}
.mobileMenu img {
    float: right;
    margin-top: 6px;
    margin-right: 6px;
}

.mobileMenu span {
    float: right;
    margin-top: 10px; 
    margin-right: 10px;
}

.mSubMenu li a {
    color: #fff;
}

.mSubMenu li {
    margin-bottom: 10px;
    margin-right: 10px;
}

.mobileMenu img {
    float: right;
    margin-top: 6px;
    margin-right: 6px;
}

.mobileMenu span {
    float: right;
    margin-top: 10px; 
    margin-right: 10px;
}

.mSubMenu li a {
    color: #fff;
}

.mSubMenu li {
    margin-bottom: 10px;
    margin-right: 10px;
}

body.articalPage {
    background: #fff;
}

.articalPage .heightSec ul li a span {
    color: #000;
}

.articalPage .poll {
    border: 1px #000 solid;
}

.articalPage span.pollTitle {
    color: #000;
}

.articalPage span.optionTitle {
    color: #000;
}

ul.secPager {
float: right;
background-color: #fff;
box-shadow: 0 0 5px 0 rgba(0,0,0,.063);
padding: 10px 10px 0 0;
margin-top: 20px;
}
ul.secPager li {
float: right;
margin-left: 10px;
margin-bottom: 10px;
}
ul.secPager li a {
width: 28px;
height: 23px;
display: block;
background-color: #1f1f1f;
text-align: center;
color: #fff;
font-size: 16px;
padding-top: 5px;
}
.sectionList ul li {
    margin-top: 0px;
    margin-bottom: 30px;
}

.sectionList {
    margin-top: 30px;
}
.topStory2 div > a {
position: relative;
display: block;
height: 336px;
overflow: hidden;
}
.topStory2 div img {
border: 1px #fff solid;
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
}
.topStory2 span#no-template-pager {
position: absolute;
z-index: 999;
top: 4px;
}
.topStoryR{
    background-image: url(../png/topstoryR.png);
    width: 40px;
    height: 40px;
    display: block;
    position: absolute;
    top: 148px;
    right: 1px;
    cursor: pointer;
    z-index: 99999999999;
}
.topStoryl{
    background-image: url(../png/topstoryL.png);
    width: 40px; height: 40px; display: block; position: absolute;
    left: 1px;
    top: 148px;
    cursor: pointer;
    z-index: 99999999999;
}
.topStory2{
    position: relative;
    margin-top: 30px;
} 
span#no-template-pager a:first-child {
    margin-right: 4px;
}

span#no-template-pager a:last-child {
    margin-left: 4px;
}
span#no-template-pager a {
    float: right;
    margin-left: 3px;
}
span#no-template-pager a:hover img{opacity: 1;
    border:1px #ee1c27 solid;}
span#no-template-pager a img{
    opacity: .5;
}
span#no-template-pager a.cycle-pager-active img{
    opacity: 1;
    border:1px #ee1c27 solid;
}
.topStory2 div > a:hover span.topStoryTitle{
    bottom: 0px;
    top: -33px;
}
.topStory3 span.topStoryTitle{
    top: -143px;
    bottom: inherit;
    background-image: -moz-linear-gradient( -90deg, rgb(0,0,0) 0%, rgba(0,0,0,0) 100%); 
    background-image: -webkit-linear-gradient( -90deg, rgb(0,0,0) 0%, rgba(0,0,0,0) 100%); 
    background-image: -ms-linear-gradient( -90deg, rgb(0,0,0) 0%, rgba(0,0,0,0) 100%);
}
.topStory2 div > a:hover span.topStoryTitle{bottom: 0px;top: inherit;}
.topStory3 span#no-template-pager{
    bottom: 0;
    top: inherit;
}
.topStory4 span#no-template-pager a{
    float: none;
    display: block;
    margin-right: 4px;
}
.topStory4 div > a{
    height: auto;
}
.topStory4 div > a:hover span.topStoryTitle{
    top: inherit;
}
.topStory4 span.topStoryTitle{
    position: inherit;    
    bottom: inherit !important; color: #fff; width: 100%; 
    display: block;
    padding: 10px; font-size: 24px;
    background: #f2f2f2;
    color: #000;
    margin-top: 4px;
}
.topStory5 span#no-template-pager{
    left: 0;
}
.topStory6 ul li:nth-child(3), .topStory6 ul li:nth-child(4), .topStory6 ul li:nth-child(5){
    width: 236px;
    margin-left: 30px;
}
.topStory6 ul li:last-child{margin-left: 0px;}
.topStory6 ul li:nth-child(3) a, .topStory6 ul li:nth-child(4) a, .topStory6 ul li:nth-child(5) a{
    height: 133px;
}
.topStory6 {
    position: relative;
}
.topStory6 .topStoryR, .topStory6 .topStoryl {
    top: 31px;
}
.topStory2 span.topStoryTitle {
    bottom: -130px;
}
.topStory3 span.topStoryTitle {
    bottom: inherit;
    top: -130px;
}

.topStory3 div > a:hover span.topStoryTitle {
    bottom: inherit;
    top: -30px;
}
nav.menu ul li:hover {
    background: #fff;
}
nav.menu ul li:first-child:hover {
    background: #b20000;
}

nav.menu ul li:hover a {
    color: #000;
}


.subMenu {
    position: absolute;
    width: 61px;
    background: #fff;
    z-index: 999999999;
    margin-right: -20px;
    border-radius: 0px 0px 10px 10px;
    margin-top: 1px;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
}

.subMenu ul li {
}

.subMenu ul li a {
    color: #000;
}
.subMenu ul li:hover{}
.subMenu ul li {
    border-left: none !important;
    padding-left: inherit !important;
    padding-right: inherit !important;
    width: 90px;
    padding-right: 10px !important;
}

nav.menu ul li:hover .subMenu {
    visibility: visible;
    opacity: 1;
}

.subMenu ul li:first-child:hover {
    background: #fff;
}

.subMenu ul li:first-child:hover {
    background: #b20000 !important;
}
.subMenu ul li:hover {
    background: #b20000 !important;
}
.btn {
text-align: center;
color: #fff;
text-decoration: none;
background-color: #c22129;
padding: 4px 6px;
margin: 3px 6px 2px 3px;
display: block;
float: right;
font-size: 15px;
text-shadow: 0px 0px 4px #000;
border-top: solid 1px #86171d;
border-left: solid 1px #86171d;
border-bottom: solid 1px #e66a71;
border-right: solid 1px #e66a71;
box-shadow: 0px 0px 5px #20558a;
white-space: nowrap;
font-family: 'Times New Roman';
font-size: 17px;
}

.btn {
text-align: center;
color: #fff;
text-decoration: none;
background-color:#c22129;
padding:4px 6px;
margin:3px 6px 2px 3px;
display: block;
float: right;
font-size: 15px;
text-shadow:0px 0px 4px #000;
border-top:solid 1px #86171d;
border-left:solid 1px #86171d;
border-bottom:solid 1px #e66a71;
border-right:solid 1px #e66a71;
box-shadow:0px 0px 5px #20558a;
white-space:nowrap;
font-family:'Times New Roman';
font-size:17px;
}

.btn:active {
border-bottom:solid 1px #bb7706;
border-right:solid 1px #bb7706;
border-top:solid 1px #debe07;
border-left:solid 1px #debe07;
box-shadow:0px 0px 1px #20558a;
margin:1px 6px 4px 3px;
}
.latestNews span {
    color: #b20000; float: right; display: block; width: 80px; font-size: 18px; margin-left: 10px;
}
.latestNews .container > div {
float: right;
}
.currency {
    margin-top: 30px;
}

span.widgetTitle {
    font-size: 18px;
    color: #fff;
    margin: 0px 14px;
    cursor: pointer;
}

.currencyUl > div {
    margin-top: 20px;
}

.currencyUl > div ul li {
    display: inline-block;
    width: 58px;
    border: 1px #e7e7e7 solid;
    padding: 5px;
    color: #fff;
}

.currencyUl > div ul {
}
.articalPage .currencyUl > div ul li span, .articalPage .currencyUl > div ul li p{
    color: #1f1f1f;
}
.currencyUl > div ul li span, .currencyUl > div ul li p {
    text-align: center;
    display: block;
}
.currencyUl > div ul li p{
    font-size: 13px;
}
.currencyUl {
    border-bottom: 1px #e7e7e7 solid;
    padding-bottom: 30px;
    float: right;
}

span.currencyTaps {
    display: block;
    margin: auto;
    background: #0468bf;
    padding: 10px;
    margin-top: 20px;
}

span.widgetTitle.sel {
    color: #000;
    background: #fff;
    padding: 9px 10px 10px 10px;
    margin-right: -3px;
}

.latestNews {
    margin-top: 10px;
    height: 30px;
    background:#000;
    border-bottom: 1px #343434 solid;
    overflow: hidden;
}
.latestNewsF {
    z-index: 999999; position: fixed !important; left: 0; top: 0; right: 0;
    margin-top: 0px;
    padding-top: 20px;
}
.latestNews img {
    float: right;
    margin-top: -10px;
    margin-left: 20px;
    visibility: hidden;
    opacity: 0;
    width: 0;
}


span.commTitle {
font-size: 15px;
margin: 0px -3px 0px 12px;
    color: #fff;
    cursor: pointer;
}

span.commTaps {
    display: block;
    margin: auto;
    background: #4183d7;
    padding: 10px;
    margin-top: 20px;
}

span.commTitle.sel {
    color: #000;
    background: #fff;
    padding: 9px 10px 10px 10px;
    margin-right: -3px;
}
.gallerySec, .vedioSec{
    position: relative;
}
.currency a.secBlockcycleHe, .com-head a.secBlockcycleHe {
color: #1f1f1f;
}
.latestNewsF img 
{
     visibility: visible;
    opacity: 1;
    
    
     width: auto;
}
.fixedAdsF > div > div {
    margin-top: 67px !important;
    transition: all 0.2s ease-in-out; -o-transition: all 0.2s; -webkit-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out;
}

.fixedAds > div > div {
    transition: all 0.2s ease-in-out; -o-transition: all 0.2s; -webkit-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out;
}

.add-form {
    width: 240px;
}
span#no-template-pager2 a, span#no-template-pager a {
    width: 170px;
    display: block;
    height: 96px;
    float: right;
    margin-left: 28px;
    margin-top: 20px;
}

span#no-template-pager2 a:last-child, span#no-template-pager a:last-child {
    margin-left: 0px;
}
span#no-template-pager2 a img, span#no-template-pager a img {  border: 1px #e7e7e7 solid;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;}
  
  .topStory2 span#no-template-pager a {
    margin-left: -17px;
}
.topStory4 span#no-template-pager a {
    margin-top: 10px;
    margin-bottom: -23px;
}
div#media-pager2 div a, div#media-pager2 div a img {
    width: 170px;
    height: 96px !important;
}

.admob 
{
    display:none;}

.content img {
    margin: auto;
    display: block;
}