﻿/* CSS Document */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
body,button,input,select,textarea{font:12px/1.5 \5fae\8f6f\96c5\9ed1,\5b8b\4f53,arial;}
i,s,u,em{font-weight:normal;font-style:normal;text-decoration:none;}
ul,ol,li{ list-style:none; list-style-type:none}
a{ text-decoration:none; color:#333;}
a:hover{color:#bd0a01; text-decoration:underline;}
img{ border:none;}
font{ line-height:24px; font-size:14px;}
html{background-image:url(about:blank);background-attachment:fixed; }
#yxcc ul:before,#yxcc ul:after{content:".";display:block;height:0;visibility:hidden;font-size:0;}
#yxcc ul:after{clear:both;}
#yxcc ul{*zoom:1;}
#top{background-color:#444;}#top,#top h1,#top .top_r,#top .top_r a{ height:42px; line-height:42px; color:#fff;}#top .top_main{ width:1200px; margin:0 auto}#top h1{ float:left; font-size:12px;}#top .top_r{ float:right;}
#top .top_r a{padding:0px 10px;}#top .top_r a:hover{ color:#bd0a01}
#main{ width:1200px; margin:0 auto; overflow:hidden;zoom:1;}
#head{ height:94px; padding-top:30px;}#head .logo{ float:left;}#head .search{ float:left; margin-top:10px;}#head .head_r{ float:right; width:250px; margin-top:5px;}
#head .search{ margin-left:50px; width:500px;}#head form{ width:480px; height:40px;border:2px solid #3072CF}#bdcs-search-form-input{ outline:none;float:left; width:390px; height:36px; line-height:40px; border:none;font-size:14px; color:#999; padding-left:10px;overflow:hidden;} 
#head .search p{ height:25px; line-height:25px; width:100%; overflow:hidden}#head .search p a{ color:#999; margin-right:10px}#head .search p a:hover{color:#bd0a01; text-decoration:underline;}#bdcs-search-form-submit{ cursor:pointer; float:right; width:61px; height:40px; background:url(/Public/images/search.jpg) 0px 0px no-repeat; border:none}
#head .head_r a{ display:inline-block; width:80px; height:20px; text-align:center; padding-top:50px; }#head .head_r .adr{ background:url(/Public/images/new_adr.jpg) center 0px no-repeat}
#head .head_r .jqdz{ background:url(/Public/images/new_adr.jpg) center -85px no-repeat}
#head .head_r .lbzx{ background:url(/Public/images/libao.gif) center 2px no-repeat}
#head .head_r .kfpt{background: url(/Public/images/kfpt.png) center 7px no-repeat;}
.nav_title{ overflow:hidden;zoom:1; border-bottom:3px solid #3072CF; width:105%;}.nav_title li,.nav_title a{ height:45px; line-height:45px; text-align:center; float:left}.nav_title a{ width:233px; font-size:18px;margin-right:6px; display:inline-block; border:1px solid #d9d9d9}
#nav .cur a,.nav_title a:hover{ background-color:#3072CF; border:1px solid #3072CF; color:#fff;}
.nav_bot{ background-color:#eaeaea; height:40px; width:100%; overflow:hidden;}.nav_bot ul li{ display:none; width:100%; height:40px; overflow:hidden;zoom:1;}.nav_bot ul .current{ display:block} .nav_bot a{ height:40px; line-height:40px; font-size:16px; margin:0px 15px;}
.wraper{ width:100%; overflow:hidden;zoom:1; border-top:3px solid #3072CF; margin-bottom:15px;}
#game_rec{ height:auto; margin-bottom:10px;}#game_rec .wraper{ display:none; border-top:none;}#game_rec .current{ display:block}
.game_rec_l{ width:230px; margin-top:15px; float:left; border-right:1px dashed #cdcdcd;}.game_rec_l li{ margin-top:0px; text-align:center; width:110px; height:60px; float:left;}.game_rec_l li a{font-weight:normal;font-size:16px; display:inline-block; width:100%; height:25px; line-height:25px;padding-top:30px;}
.game_rec_l .dj{ background:url(/Public/images/fl_arr.jpg) center 2px no-repeat;}.game_rec_l .bd{ background:url(/Public/images/fl_arr.jpg) center -55px no-repeat;}
.game_rec_l .gl{ background:url(/Public/images/fl_arr.jpg) center -113px no-repeat;}.game_rec_l .zx{ background:url(/Public/images/fl_arr.jpg) center -170px no-repeat;}
.game_rec_l .dj_ios{ background:url(/Public/images/fl_arr2.jpg) center -114px no-repeat;}.game_rec_l .bd_ios{ background:url(/Public/images/fl_arr2.jpg) center 2px no-repeat;}
.game_rec_l .gl_ios{ background:url(/Public/images/fl_arr2.jpg) center -170px no-repeat;}.game_rec_l .zx_ios{ background:url(/Public/images/fl_arr2.jpg) center -55px no-repeat;}
.game_rec_l .dj_ds{ background:url(/Public/images/fl_arr3.jpg) center 1px no-repeat;}.game_rec_l .bd_ds{ background:url(/Public/images/fl_arr3.jpg) center -185px no-repeat;}
.game_rec_l .gl_ds{ background:url(/Public/images/fl_arr3.jpg) center -120px no-repeat;}.game_rec_l .zx_ds{ background:url(/Public/images/fl_arr3.jpg) center -60px no-repeat;}
.game_rec_l .dj_dj{ background:url(/Public/images/fl_arr4.jpg) center -55px no-repeat;}.game_rec_l .bd_dj{ background:url(/Public/images/fl_arr4.jpg) center -170px no-repeat;}
.game_rec_l .gl_dj{ background:url(/Public/images/fl_arr4.jpg) center -112px no-repeat;}.game_rec_l .zx_dj{ background:url(/Public/images/fl_arr4.jpg) center 3px no-repeat;}


.game_rec_r{ margin-top:15px; float:right; width:935px;}.game_rec_r li{ float:left; height:30px; margin-bottom:12px; width:100%; overflow:hidden;zoom:1; line-height:30px;}.game_rec_r a{ display:inline-block; float:left; height:30px; line-height:30px; font-size:14px; margin:0 8px;}.game_rec_r b{ display:inline-block; float:left; height:30px; width:75px; color:#fff; padding-left:8px; line-height:30px; font-size:15px;}
.game_rec_r .hot{ background:url(/Public/images/b_arr.jpg) 0px 0px no-repeat}.game_rec_r .zt{ background:url(/Public/images/b_arr.jpg) 0px -40px no-repeat}.game_rec_r .hj{ background:url(/Public/images/b_arr.jpg) 0px -80px no-repeat}
#banner{ border-top:none}
.banner_l{ width:442px; float:left;}
.focus_box{position:relative; width:442px; height:225px; overflow:hidden;zoom:1;}.focus li,.focus_img img{ width:442px; height:225px;}.focus_img li{ float:left}.focus_img{ position:absolute; left:0px; top:0px;}
.focus_info{ position:absolute; left:0px; bottom:0px; height:35px;width:100%}.focus_info b,.focus_info p,.focus_info span{ z-index:99; color:#fff; font-size:15px;display:inline-block; position:absolute; left:0px; top:0px; height:35px; line-height:35px;}
.focus_info b{ z-index:0; width:100%; background-color:#000; opacity:0.6;filter:alpha(opacity=60)}.focus_info span{ width:120px; right:0px; left:auto;}.focus_info span em{ cursor:pointer; text-indent:-9999px; margin:12px 12px 0px 0px; display:inline-block; width:12px; height:12px; border-radius:50%; background-color:#b3b2b0;}
.focus_info span .cur{ background-color:#3072CF;}.focus_info p{ width:300px; margin-left:10px; overflow:hidden;}
.yxfl{ margin-top:12px;}
#banner .title{ height:36px; background-color:#eaeaea;}#banner .title li{ position:relative; cursor:pointer; float:left; font-size:15px; width:110px; text-align:center; line-height:36px; height:36px;}#banner .yxfl .title .cur{ font-weight:bold;color:#3072CF;background:none;font-size:16px;}
#banner .title i{ display:none}#banner .title .cur i{display:inline-block; width:95px; height:5px; background:url(/Public/images/arr_bot.jpg) 0px 0px no-repeat; position:absolute; left:50px; top:36px;}
.yxfl .info{ display:none; overflow:hidden;zoom:1;}.yxfl .current{ display:block}.yxfl .info li{ float:left; height:27px; width:100%; margin:6px 0px;overlfow:hidden;}.yxfl .info a,.yxfl .info em{ white-space: nowrap;overflow:hidden;zoom:1; float:left; width:150px; *width:140px;text-overflow: ellipsis; display:inline-block; height:27px; line-height:27px;font-size:14px;}.yxfl .info .down{ margin-right:0px;height: 23px;
line-height: 23px;margin-top: 2px; color:#fff;border:1px solid #3072CF;font-size:12px;color:#3072CF; width:40px; float:right; border-radius:3px; text-align:center;}.yxfl .info .down:hover,#djyx .wrap_l .down:hover,#yxph .yxlb .down:hover,.yxgl .gl-down li .down:hover{color:#fff;background-color:#3072CF;text-decoration:none;}
.yxfl .info em{ margin-right:10px;width:55px; text-align:right;float:right}.yxfl .info i{ color:#a9ce05;float:left;height:27px;line-height:27px;font-size:14px;margin-right:5px; }.yxfl_xfl .info i{color:#ff9900}
#banner .yxfl_xfl .title{ height:30px; line-height:30px;position:relative;} #banner .yxfl_xfl .title span{font-weight:bold;font-size:14px;display:inline-block;height:30px;line-height:30px;padding:0 10px;color:#3072CF} .banner_l .yxfl_xfl{ display:none}.banner_l .current{ display:block}
#banner .yxfl_xfl .hd-td span{ font-weight:normal; color:#3f81df;}
#banner .yxfl_xfl .hd-td .active{ font-weight:bold; color:#3072CF}

/**资讯推荐**/
.banner_m{ width:408px; float:left; margin-left:30px}.banner_m .news_tit{ height:40px; background-color:#f9f9f9; border-right:1px solid #dfdfdf;}.news_tit li{ cursor:pointer; font-size:15px; width:134px; float:left; text-align:center; height:39px; line-height:39px; border:1px solid #dfdfdf; border-right:none;}
.news_tit .cur{ background-color:#fff; border-top:3px solid #3072CF;color:#3072CF; height:36px; width:136px; line-height:36px; border-bottom:none;}
.banner_m .news_list{ display:none}.banner_m .current{ display:block}.news_list .tit,.news_list p{ width:100%; overflow:hidden;zoom:1; }.news_list .tit{ font-weight:bold; display:inline-block; height:30px; line-height:30px; margin-top:12px;color:#db322a; font-size:18px; text-align:center;}.news_list p{ color:#999;height:25px; line-height:25px; font-size:14px; text-overflow:ellipsis; white-space:nowrap}
.news_list ul{ margin-top:15px;} .news_list li{ height:31px; width:100%;float:left}.news_list li a,.news_list li span,.news_list li i{font-size:14px; display:inline-block; height:31px; line-height:31px; float:left}.news_list li a{ width:310px; margin-left:5px;overflow:hidden;zoom:1; }.news_list li span{ float:right; color:#999;}.news_list li i{ color:#333}

/**热点专题**/
.banner_r{ width:293px; float:right; background-color:#f3f3f3;}.banner_r .hot_zt,.banner_r .hot_zj{ border-top:3px solid #3072CF; padding:0 15px; overflow:hidden;zoom:1;}.banner_r h2{ height:36px; line-height:36px; font-weight:bold; font-size:18px;color:#3072CF}
.banner_r .hot_zt img{ width:100%; height:78px; float:left}.banner_r .hot_zt span{ width:100%; display:inline-block; height:32px; line-height:32px; font-size:14px; overflow:hidden;}.banner_r span:hover{ text-decoration:underline;color:#bd0a01;}
.banner_r .hot_zj ul{ width:110%;}.banner_r .hot_zj img{ width:70px; height:70px; border-radius:15px;}.banner_r .hot_zj li{ float:left; margin-right:10px; width:82px; text-align:center;}.banner_r .hot_zj span{ display:inline-block; width:100%; height:30px; line-height:30px; overflow:hidden;}
.banner_r .hot_zj li a{ display:inline-block; width:82px; text-align:center}.banner_r .hot_zt li{ height:110px; float:left; width:100%}

/**单机游戏**/
.wraper .title{ height:40px; width:100%}
.wraper .title h2{ font-size:18px; font-weight:bold; height:40px; line-height:40px; width:150px; float:left}
.wraper .title h2 a{ font-size:18px; font-weight:bold;color:#3072CF}
.wraper .title a{ font-size:14px; margin:0px 10px}
.wraper .title .more{ float:right; color:#3072CF; font-size:14px;}
.wraper .title_r{ padding-top:10px;}.wraper .title .left{ width:200px; float:left}.wraper .title .right{ width:700px; float:right}
.wraper .title em{ display:inline-block; width:78px; height:24px; line-height:24px; background-color:#efefef; text-align:center; position:relative; cursor:pointer;}.wraper .title .cur{ color:#fff;background-color:#3072CF}
.wraper .title .cur i{ display:inline-block; width:9px; height:5px; background:url(/Public/images/arr_bot.jpg) 0px 0px no-repeat; position:absolute; left:34px; top:24px;}
#djyx .nav li{ border-bottom:2px solid #f2f2f2; height:46px; width:100%; overflow:hidden}#djyx .nav a,#djyx .nav b{ margin:10px 0px;font-size:14px; display:inline-block; height:26px; line-height:26px;}#djyx .nav b{ color:#fff; width:80px; text-align:center;}#djyx .nav .lx{ background:url(/Public/images/b_arr.jpg) 0px -162px no-repeat;}#djyx .nav .tc{ background:url(/Public/images/b_arr.jpg) 0px -125px no-repeat}
#djyx .nav a{ padding:0px 16px; border-right:2px solid #f2f2f2}
.wraper .wrap_l{ width:880px; float:left; margin-top:10px; overflow:hidden;zoom:1}.wraper .wrap_r{ margin-top:10px; width:293px; float:right; border-top:3px solid #3072CF; overflow:hidden;zoom:1}
.dj_nav{ width:100%; height:40px; border-bottom:2px solid #dfdfdf;}.dj_nav li{ text-align:center; height:40px; line-height:40px; float:left; width:150px;}.dj_nav li em{cursor:pointer; font-size:16px;font-weight:bold; width:148px; display:inline-block; height:40px; line-height:40px;}
.dj_nav li.cur{ border-top:3px solid #3072CF; height:36px; line-height:36px; border-left:1px solid #dfdfdf; border-right:1px solid #dfdfdf; position:relative}.dj_nav li.cur em{ position:absolute; top:0px; z-index:999; left:0px; background-color:#fff; height:40px;line-height:34px; width:100%;border:none;color:#3072CF;}
#djyx .info{ display:none;}#djyx .wrap_l .current{ display:block;}
#djyx .pic{ overflow:hidden;zoom:1;}#djyx .pic img{ border:1px solid #cdcdcd; padding:1px; width:100px; height:142px;}#djyx .pic li{ width:292px; float:left; overflow:hidden;zoom:1; margin-top:20px;}
#djyx .tup{ display:inline-block; width:104px; float:left; margin-right:10px;}#djyx .jj{float:left; width:165px;}#djyx .jj a,#djyx .jj i{height:25px; line-height:25px; font-size:14px;float:left}
#djyx .jj a,#djyx .jj i,#djyx .tup span{ display:inline-block; width:100%; overflow:hidden;zoom:1;}#djyx .tup span{font-size:14px;text-align:center; height:20px; line-height:20px;}#djyx .wrap_l .tit{ color:#3072CF}#djyx .jj a{ font-size:16px; font-weight:bold; height:30px; line-height:30px; margin-bottom:6px;}#djyx .wrap_l .down{ width:120px; text-align:center; margin-top:10px; color:#fff; color:#3072CF;border:1px solid #3072CF;border-radius:5px;}
#djyx .tup span:hover,.djph li p b:hover{color:#bd0a01; text-decoration:underline; }
#djyx .game_list{ border:1px solid #dfdfdf; overflow:hidden;zoom:1; padding:12px 0px; margin-top:15px; *margin-top:25px;*padding-bottom:20px}#djyx .game_list li{ width:255px; margin:10px 0px;*margin:11px 0px; margin-left:12px; _display:inline; height:24px; background:url(/Public/images/arr_r.jpg) 0px 4px no-repeat; padding-left:20px; float:left;}#djyx .game_list a,#djyx .game_list em{ overflow:hidden;zoom:1; width:130px; display:inline-block; height:24px; line-height:24px;font-size:14px; float:left}
#djyx .game_list .down{ margin-top:2px; width:40px; height:20px; line-height:20px; float:right; text-align:center; border-radius:3px;}#djyx .game_list em{ width:60px;color:#999; margin:0px 10px; }

/**单机排行榜**/
.djph h3{height:40px;line-height:40px;font-weight: bold;font-size: 18px;color:#3072CF}.djph li{ width:100%; padding:12px 0px 13px 0px;*padding:12px 0px; float:left; border-bottom:1px solid #ededed}.djph li img{ float:left; margin-right:10px; width:80px; height:80px; border-radius:15px;}
.djph li b,.djph li a{ font-size:14px; height:22px; line-height:22px;}.djph li p{ font-size:14px; color:#999}.djph li p b{ display:inline-block; width:170px; height:30px; line-height:30px; overflow:hidden;}
.djph li em{ float:right; display:inline-block; height:22px; width:22px; line-height:22px; text-align:center; color:#fff; background-color:#a2a2a2; font-size:15px; font-family:Georgia, "Times New Roman", Times, serif;}
.djph .cur .tit,.djph li p{ display:none}.djph .cur p,.djph li .tit{ display:block}.djph li .down{ margin-top:6px; color:#fff; font-size:14px; text-align:center; background-color:#3072CF; width:80px; height:24px; line-height:24px; display:inline-block}
.djph li .tit{ overflow:hidden; width:260px;}
#djyx .djph li img{ border-radius:0; width:74px;padding: 1px;border: 1px solid #dfdfdf; height:104px;}#djyx .djph li p{ height:108px;}#djyx .djph li{ padding:11px 0}

/**手机游戏**/
#sjyx .djph{ display:none}#sjyx .current{ display:block}
#sjyx .dfl{ overflow:hidden;zoom:1; display:none}.wraper .title .right{ display:none}
#sjyx #xfl{ border:1px solid #dfdfdf; margin-top:10px;}#xfl p{ height:55px; padding-left:40px; width:1158px; overflow:hidden;}#xfl b,#xfl a{ font-size:14px; margin:10px; margin-right:11px; line-height:55px;}#sjyx .xfl b{ font-size:16px; font-weight:bold}
#xfl .lx{ background:#f3f3f3 url(/Public/images/xfl_arr.png) 10px 15px no-repeat;}#xfl .wf{ background:url(/Public/images/xfl_arr.png) 10px -33px no-repeat}#xfl .jx{ background:url(/Public/images/xfl_arr.png) 10px -80px no-repeat}
#sjyx .yxrj{ width:105%; display:none}#sjyx .yxrj li,#bbrj .yxrj li{ width:100px; text-align:center; float:left; margin:10px 30px 10px 0px;}#sjyx .wrap_l span,#sjyx .wrap_l li i,#bbrj .yxrj span,#bbrj .yxrj li i{ display:inline-block; float:left; width:100px; overflow:hidden;}#sjyx .yxrj li span,#bbrj .yxrj li span{font-weight:bold; font-size:14px; height:25px; line-height:25px;}#sjyx .yxrj img,#bbrj .yxrj img{ width:80px; height:80px; border-radius:15px;}
#sjyx .wrap_l span:hover,#bbrj .wrap_l span:hover{color:#bd0a01; text-decoration:underline;}
#sjyx .current{ display:block}

/**电视游戏**/
.dsyx .wrap_l{ height:675px; *height:655px; overflow:hidden;zoom:1;}
.dsyx #xfl{ border:1px solid #dfdfdf}.dsyx .dtgd{ position:relative;}.dsyx .dtgd_m{ overflow:hidden; position:relative; height:210px; width:1110px; margin:0 auto;}.dsyx .left_btn,.dsyx .right_btn{ cursor:pointer; width:40px; height:71px; background:url(/Public/images/lb_arr.jpg) 0px -71px no-repeat; position:absolute; top:50px; right:0px;}.dsyx .left_btn{ position:absolute; left:0px; right:auto;background:url(/Public/images/lb_arr.jpg) 0px 0px no-repeat}
.dsyx .dtgd_ul{ position:absolute; left:0px; top:0px;}.dsyx .dtgd img{ width:100px; height:142px; padding:1px; border:1px solid #dfdfdf; float:left}.dsyx .dtgd li{ margin:10px; margin-right:27px; float:left; width:104px; text-align:center}.dsyx .dtgd li b,.dsyx .dtgd li span{ color:#999;float:left; width:100%; height:25px; line-height:25px; text-align:center; overflow:hidden}
.dsyx .dtgd li span{ color:#2a78b4;}.dsyx .dtgd li span:hover{color:#bd0a01; text-decoration:underline;}.dsyx .left_btn:hover,.dsyx .right_btn:hover{ opacity:0.7; filter:alpha(opacity=70)}
.dsyx .yxfl{ border-top:2px solid #dfdfdf; width:425px; margin:0; float:left; margin-bottom:21px; *margin-bottom:15px;}.dsyx .yxfl h3{ height:36px; line-height:36px; font-size:16px; font-weight:bold; color:#3072CF;}.dsyx .yxfl h3 a{ float:right; font-size:14px; line-height:36px;}
.dsyx .pic{ overflow:hidden;zoom:1; width:105%}.dsyx .pic p,.dsyx .pic img{ width:200px; height:100px;float:left}.dsyx .pic p{ margin-right:22px;}.dsyx .pic a{ position:relative; display:inline-block; width:100%; font-size:14px; height:100px; overflow:hidden;zoom:1;}.dsyx .pic img{ position:absolute; left:0; top:0;}.dsyx .pic i,.dsyx .pic i img{width:18px; height:18px; }
.dsyx .pic span,.dsyx .pic i,.dsyx .pic b{ display:inline-block; position:absolute; left:0px; bottom:0px; width:100%; overflow:hidden; z-index:999; height:28px; line-height:28px; color:#fff; font-size:14px;}.dsyx .pic b{ background-color:#000; opacity:0.7;filter:alpha(filter=70); z-index:0;}
.dsyx .pic i{ left:10px; bottom:-4px;}.dsyx .pic span{ padding-left:10px; width:190px;}.dsyx .pic .tit{ height:30px; line-height:30px;}
.dsyx .yxbt{ margin-top:10px;}.dsyx .yxbt li{ height:38px;*height:36px;width:405px; overflow:hidden; padding:0px 10px; float:left}.dsyx .yxbt li a{display:inline-block;overflow:hidden; width:340px; height:38px; float:left; line-height:38px;font-size:14px; margin-right:20px;}
.dsyx .yxbt li em{ float:right; line-height:34px;font-size:14px;}
.dsyx .rj_title{height:30px; line-height:30px; font-size:16px; padding-left:15px; color:#fff; background-color:#3072CF; position:relative}.dsyx .rj_title i{ background:url(/Public/images/arr_bot.jpg) 0px 0px no-repeat; display:inline-block; width:9px; height:5px; position:absolute; left:40px; top:30px;}
.dsyx .right{ float:right}.dsyx .video span{ padding-left:35px; width:160px;}

/**游戏攻略**/
.yxgl{ border-top:none}
.wraper .yxgl .title{ height:30px; line-height:30px;}
.yxgl .wrap_l {width: 838px; border:1px solid #dfdfdf; padding:0 20px;margin-top:0;}.yxgl .wrap_r{margin-top:0;}
.yxgl .yxfl{ margin-bottom:15px; width:410px; border-top:none}
.yxgl .title span{ margin-top:3px; float:left;}
.yxgl .title span a{ color:#999; border-right:1px solid #999; margin:0px; padding:0px 10px; height:15px; line-height:15px; display:inline-block;}
.yxgl .yxfl h3{ height:25px; line-height:25px; background-color:#f3f3f3; padding:0px 10px; margin-bottom:8px; color:#333;}.yxgl .yxfl h3 a{ height:25px; line-height:25px;font-weight:normal}
.yxgl .title h2{ color:#3072CF;}
.yxgl .pic p{ margin-right:10px;}
.yxgl .yxbt li{ width:390px;}
.yxgl .yxbt li a{ width:310px;}
.yxgl .title span a:hover{color:#bd0a01; text-decoration:underline;}
.yxgl .gl-tab{ clear:both; border-top:1px solid #dfdfdf; padding-top:15px;}
.yxgl .gl-nav{ width:120px; float:left}
.yxgl .gl-nav li{ width:120px; height:40px; line-height:40px; font-size:14px; overflow:hidden; cursor:pointer; text-align:center; background-color:#f3f3f3; margin-bottom:5px;}
.yxgl .gl-nav .cur{ background:url(/Public/images/gl_nav.jpg) 0px 0px no-repeat; color:#fff;}
.yxgl .gl-right{ float:right; width:700px;}
.yxgl .gl-bd{ width:340px; float:left;}
.yxgl .gl-sp{ width:340px; float:right;}
.yxgl .gl-right p{ width:100%; height:130px;}.yxgl .gl-right p a{ width:160px; height:130px; float:left; text-align:center;}.yxgl .gl-right p span{ font-weight:bold; overflow:hidden; font-size:12px; display:inline-block; width:100%; height:30px; line-height:30px;}
.yxgl .gl-right img{ width:160px; height:100px;}
.yxgl .gl-down,.yxgl .sp-lb{ margin-top:20px;}
.yxgl .gl-right li{ height:32px; width:100%; float:left; display:block}
.yxgl .gl-down li a,.yxgl .gl-down li span,.yxgl .gl-down li em{ text-align:right;width:50px; overflow:hidden; height:32px; line-height:32px; font-size:14px; margin-right:10px; float:left;}
.yxgl .gl-down li a{ width:218px; text-align:left;white-space:nowrap}
.yxgl .gl-down li .down{ margin:0px; float:right; height:18px; line-height:18px; font-size:12px; margin-top:5px; width:40px; text-align:center; border:1px solid #3072CF; color:#3072CF; border-radius:3px;}
.yxgl .sp-lb li a{ font-size:14px; display:inline-block; width:290px; height:32px; line-height:32px; overflow:hidden}
.yxgl .sp-lb li em{ font-size:14px; float:right; height:32px; line-height:32px;}
.yxgl .gl-sp p a{ position:relative}
.yxgl .gl-sp p i,.yxgl .gl-sp p b{ position:absolute; left:0px; top:0px;}
.yxgl .gl-sp p b{ background-color:#000; width:160px; height:100px; opacity:0.5;filter:alpha(opacity=50)}
.yxgl .gl-sp p i{ width:34px;height:34px; background:url(/Public/images/play.png) 0px 0px no-repeat; z-index:999; left:63px; top:33px;}
.yxgl .gl-right .gl-m{ display:none}.yxgl .gl-right .current{ display:block}

/**单击运行出错**/
#yxcc .rj_ul{ margin-top:10px; overflow:hidden;zoom:1;}#yxcc li p,#yxcc .cur .tit{ display:none}#yxcc .cur p{ display:block}#yxcc li img{ width:100%; height:100px;}#yxcc li .tit{ float:left; font-size:14px; height:30px; line-height:30px; width:100%; overflow:hidden;display:inline-block;}
#yxcc .djyx{ margin:6px 0 10px 0;}#yxcc .rj_li li { width:273px; padding:0 10px; float:left; height:34px; overflow:hidden}#yxcc .rj_li a{line-height:34px;}
#yxcc .yxerr{margin:0 0 10px 0;}

/**壁纸视频**/
#bzsp h3{height:40px;padding-left: 15px; margin-bottom:10px;}#bzsp h3 a{ float:right; font-size:14px; color:#3072CF; padding-top:7px;display:none;}#bzsp h3 a.current{display:block;}
#bzsp h3 em{ display:inline-block; font-size:18px;height:40px;line-height:40px; width:100px; text-align:center; cursor:pointer; float:left}#bzsp h3 em.cur{color:#3072CF;font-weight:bold; position:relative}#bzsp h3 em.cur i{ position:absolute; left:45px; top:0px; width:9px; height:5px; background:url(/Public/images/arr_bot.jpg) 0px 0px no-repeat}
#bzsp ul{ width:105%; display:none}#bzsp ul.current{ width:105%; display:block}#bzsp li{ width:143px; float:left; margin-right:10px; text-align:center;}#bzsp li img{ width:143px; height:100px; float:left}#bzsp li span{ display:inline-block; width:143px; height:30px; line-height:30px; overflow:hidden;}
#bzsp li span:hover,#bzsp h2 a:hover{color:#bd0a01; text-decoration:underline;}

/**游戏排行**/
#yxph .wrap_l{ margin:0px;}#yxph .rank-main{ border:1px solid #dfdfdf; overflow:hidden;zoom:1; margin-top:10px;}#yxph .main{float:right; margin-top:10px; overflow:hidden;zoom:1; display:none}.rank-nav{ width:106px; overflow:hidden; float:left}#yxph .nav li{ cursor:pointer; width:105px; height:60px; line-height:60px; text-align:center; font-size:16px; border-right:1px solid #dfdfdf; border-bottom:1px solid #dfdfdf}
#yxph .nav .cur{ border-right:none;color: #3072CF;}#yxph .yxlb{ width:1070px; float:right; overflow:hidden; display:none}#yxph .current{ display:block}#yxph .yxlb .yxlb_l{ overflow:hidden; width:100%; float:left}#yxph .yxlb .yxlb_r{ overflow:hidden; width:240px; float:right; margin-right:15px;}#yxph .yxlb li{ width:240px; margin-right:26px;border-bottom:1px solid #efefef; padding:10px 0; float:left}
#yxph .yxlb li img{ width:60px; height:60px; border-radius:15px; float:left; margin-right:10px}#yxph .yxlb .yxlb_r li{ margin-right:0px;}#yxph .yxlb .rj_title{ height:32px; line-height:32px; margin-top:10px; font-size:16px; color:#fff; background-color:#1a9ee5; padding-left:10px;}
#yxph .yxlb li div,#yxph .yxlb .cur .tit,#yxph .yxlb .cur span{ display:none; position:relative; height:60px; }#yxph .yxlb .cur div{ display:block; float:right; width:210px}#yxph .yxlb .down{ display:inline-block; width:45px; height:22px; line-height:22px; border-radius:3px; color:#fff; text-align:center;color:#3072CF;border:1px solid #3072CF; float:right}
#yxph .yxlb li em,#yxph .yxlb li .tit,#yxph .yxlb li b,#yxph .yxlb li span{ font-size:14px;display:inline-block; height:20px;line-height:20px; overflow:hidden;}#yxph .yxlb li em{ float:left;width:18px; background-color:#ddd; text-align:center; font-size:12px; }#yxph .yxlb li .tit{width:120px; margin:0 7px; margin-left:10px; float:left}
#yxph .yxlb li span{ color:#999; font-size:12px; width:70px; text-align:right; float:right}#yxph .yxlb .cur em{ color:#fff;}
#yxph .yxlb li b,#yxph .yxlb i{ display:inline-block; width:80px; float:left;height:20px; line-height:20px; overflow:hidden;}#yxph .yxlb i{color:#999}#yxph .yxlb li b{ width:130px}#yxph .yxlb li b:hover{color:#bd0a01; text-decoration:underline;}


#yxph{ position:relative;}
#yxph .title_r{ height:40px; width:100%; padding-top:0; position:absolute; left:170px; top:10px;}
#yxph .title_r em{display: inline-block;width: 78px;height: 24px;line-height: 24px;background-color: #efefef;text-align: center;position: relative;cursor: pointer;float:left;margin-right:3px;}
#yxph .title_r .cur{color: #fff;background-color: #3072CF;}
#yxph .title_r .cur i{display: inline-block;width: 9px;height: 5px;background: url(/Public/images/arr_bot.jpg) 0px 0px no-repeat;position: absolute;left: 34px;top: 24px;}


/**悬浮菜单**/
#right_nav{display:none;border:1px solid #dfdfdf; width:86px; position:fixed; top:300px; left:50%;_position: absolute;_bottom: auto;_top: expression(eval(document.documentElement.scrollTop)); _margin-top:300px }#right_nav li{ cursor:pointer; width:86px; height:24px; padding-top:44px; text-align:center; border-bottom:1px solid #dfdfdf; font-size:14px; color:#666;overflow:hidden;zoom:1;}
#right_nav #dj{ background:#fff url(/Public/images/right_ico.png) -42px 10px no-repeat}
#right_nav #ds{ background:#fff url(/Public/images/right_ico.png) -42px -50px no-repeat}
#right_nav #az{ background:#fff url(/Public/images/right_ico.png) -42px -115px no-repeat}
#right_nav #ip{ background:#fff url(/Public/images/right_ico.png) -42px -178px no-repeat}
#right_nav #rj{ background:#fff url(/Public/images/right_ico.png) -42px -240px no-repeat}
#right_nav #gl{ background:#fff url(/Public/images/right_ico.png) -42px -305px no-repeat}
#right_nav #ph{ background:#fff url(/Public/images/right_ico.png) -42px -367px no-repeat}
#right_nav #up{ background:#dfdfdf url(/Public/images/up.png)13px 10px no-repeat}
#right_nav #up:hover{ background:#999 url(/Public/images/up.png)13px 10px no-repeat}
#right_nav .cur{color:#fff;}
#right_nav #dj.cur{ background:#3072CF url(/Public/images/right_ico.png) 30px 10px no-repeat}
#right_nav #ds.cur{ background:#3072CF url(/Public/images/right_ico.png) 30px -50px no-repeat}
#right_nav #az.cur{ background:#3072CF url(/Public/images/right_ico.png) 30px -115px no-repeat}
#right_nav #ip.cur{ background:#3072CF url(/Public/images/right_ico.png) 30px -178px no-repeat}
#right_nav #rj.cur{ background:#3072CF url(/Public/images/right_ico.png) 30px -240px no-repeat}
#right_nav #gl.cur{ background:#3072CF url(/Public/images/right_ico.png) 30px -305px no-repeat}
#right_nav #ph.cur{ background:#3072CF url(/Public/images/right_ico.png) 30px -367px no-repeat}

/**footer**/
#footer{ background-color:#f3f3f3; overflow:hidden;zoom:1;padding:20px;}
#footer .links{ overflow:hidden;zoom:1;}#footer h4{ width:100px; float:left; font-size:15px; text-align:right; font-weight:bold; color:#999;}#footer .links_m{ width:1050px; float:right; overflow:hidden;}#footer .links_m a{ color:#999; padding:0px 10px; line-height:24px;}#footer .links_m li{ float:left;display:inline-block;white-space: nowrap;}
#footer .copy{ text-align:center; border-top:1px solid #dfdfdf; padding-top:15px; margin-top:15px;}#footer .copy p,#footer #foot-link,#footer strong{ height:24px; line-height:24px; color:#999}#footer a{ color:#3072CF}#footer a:hover{color:#bd0a01; text-decoration:underline;}
