/*basic*/
@charset "utf-8";
/* Copyright 2011, PRESTON UI Library v1.52  */
/* PRESTON CSS basic protect: preston */
/*--- CSS reset ---*/
body,dl,dd,h1,h2,h3,h4,h5,h6,p,form,pre,textarea{margin:0}
ol,li,ul{margin:0;padding:0}
td,th,input{padding:0}
input,button,textarea,select{vertical-align:middle}
li{list-style-type:none;list-style-position:outside}
img{vertical-align:top;border:none}
ul,ol{list-style:none}
pre{white-space:pre-wrap;word-wrap:break-word;font-family:courier new}
em,i,b{font-weight:normal;font-style:normal}
table{border-collapse:collapse;border-spacing:0}
td,th{word-wrap:break-word;word-break:break-all}
section,article,aside,header,footer,nav,dialog,figure{display:block}
/*--- basic General ---*/
h1,h2,h3,h4,h5,h6,textarea{font-size:12px}
body{font:12px/1.2 Tahoma,Helvetica,Arial,sans-serif;background:#FFF;color:#333}
a{color:#333;text-decoration:none}
a:hover{text-decoration:underline}
.tdn:hover{text-decoration:none}
.fl{display:inline;float:left}
.fr{display:inline;float:right}
.fl1{float:left}
.fr1{float:right}
.db{display:block}
.di{display:inline-block}
.din{display:inline}
.dn{display:none}
.cl{clear:left}
.cr{clear:right}
.cb{clear:both}
.fwb{font-weight:bolder}
.fwn{font-weight:normal}
.tdn{text-decoration:none}
.tdu{text-decoration:underline}
.tdl{text-decoration:line-through}
.tac{text-align:center}
.tal{text-align:left}
.tar{text-align:right}
.vm{vertical-align:middle}
.vt{vertical-align:top}
.vb{vertical-align:bottom}
.vtt{vertical-align:text-top}
.vbt{vertical-align:text-bottom}
.cp{cursor:pointer}
.re{position:relative}
.ov{overflow:hidden;zoom:1}
.zo{zoom:1}
.wsn{white-space:nowrap}
.wwb{word-wrap:break-word;word-break:normal}
.cf{zoom:1}
.cf:after{content:'.';visibility:hidden;clear:both;display:block; height:0}
.eq{margin-bottom:-30000px;padding-bottom:30000px}
/*--- extension ---*/
.dib{display:inline-block;*display:inline;zoom:1}
.dit{display:table-cell;width:8000px;*width:auto;zoom:1}
.fl_1 li,.fl_1 dl{display:inline;float:left}
.fl_2 li,.fl_2 dl{float:left}
.fl_dib{letter-spacing:-4px;font-size:0}
.fl_dib li,.fl_dib dl{display:inline-block;*display:inline;zoom:1;letter-spacing:0;font-size:12px;vertical-align:top}
.fl_dib_1 li,.fl_dib_1 dl{display:inline}
.flipy{-moz-transform:scaleY(-1);-webkit-transform:scaleY(-1);-o-transform:scaleY(-1);transform:scaleY(-1);/*IE*/  filter:FlipV}
.flipx{-moz-transform:scaleX(-1);-webkit-transform:scaleX(-1);-o-transform:scaleX(-1);transform:scaleX(-1);/*IE*/ filter:FlipH}
.bnt{border-top:none}
.bnb{border-bottom:none}
.bnl{border-left:none}
.bnr{border-right:none}
.ti{text-indent:2em}
.ti99{text-indent: -9999px}
/*--- basic Variable ---*/
.lh1{line-height:18px}
.lh2{line-height:20px}
.lh3{line-height:22px}
.lh4{line-height:24px}
.lh5{line-height:26px}
.lh6{line-height:28px}
.lh7{line-height:30px}
.lh8{line-height:32px}
.lh9{line-height:34px}
.lh10{line-height:36px}
.lh14{line-height:14px}
.lh15{line-height:15px}
.lh16{line-height:16px}
.lh17{line-height:17px}
.lh18{line-height:18px}
.lh19{line-height:19px}
.lh20{line-height:20px}
.lh21{line-height:21px}
.lh22{line-height:22px}
.lh23{line-height:23px}
.lh24{line-height:24px}
.lh25{line-height:25px}
.lh26{line-height:26px}
.lh27{line-height:27px}
.lh28{line-height:28px}
.lh29{line-height:29px}
.lh30{line-height:30px}
.lh31{line-height:31px}
.lh32{line-height:32px}
.lh33{line-height:33px}
.lh34{line-height:34px}
.h14{height:14px}
.h15{height:15px}
.h16{height:16px}
.h17{height:17px}
.h18{height:18px}
.h19{height:19px}
.h20{height:20px}
.h21{height:21px}
.h22{height:22px}
.h23{height:23px}
.h24{height:24px}
.h25{height:25px}
.h26{height:26px}
.h27{height:27px}
.h28{height:28px}
.h29{height:29px}
.h30{height:30px}
.fa{font-family:Arial}
.mo{font-family:Simsun,"宋体"}
.fa1{font-family:SimHei,"黑体"}
.ft{font-family:Tahoma}
.fv{font-family:Verdana}
.fy{font-family:Microsoft YaHei,SimHei}
.ls3{letter-spacing:-3px}
.ls4{letter-spacing:-4px}
.ls5{letter-spacing:-5px}
.ls6{letter-spacing:-6px}
.ls0{letter-spacing:0;font-size:12px}
.fz0{font-size:0}
.fz12{font-size:12px}
.fz13{font-size:13px}
.fz14{font-size:14px}
.fz20{font-size:20px}
.fz16{font-size:16px}
.fz18{font-size:18px}
.fz21{font-size:21px}
.fz22{font-size:22px}
.fz24{font-size:24px}
.fz26{font-size:26px}
.pa1{padding:1px}
.pa5{padding:5px}
.pa10{padding:10px}
.pa15{padding:15px}
.pa20{padding:20px}
.pa25{padding:25px}
.pa30{padding:30px}
.mar1{margin-right:10px;margin-left:10px}
.mar2{margin-right:5px;margin-left:5px}
.mar3{margin-right:20px;margin-left:20px}
.mar4{margin-right:30px;margin-left:30px}
.mar5{margin-right:15px;margin-left:15px}
.mar6{margin-right:25px;margin-left:25px}
.mar11{margin-right:1px;margin-left:1px}
.mar_auto{margin-right:auto;margin-left:auto}
.mt1{margin-top:1px}
.mt5{margin-top:5px}
.mt10{margin-top:10px}
.mt13{margin-top:13px}
.mt15{margin-top:15px}
.mt20{margin-top:20px}
.mt25{margin-top:25px}
.mt30{margin-top:30px}
.mt35{margin-top:35px}
.ml3{margin-left:3px}
.ml5{margin-left:5px}
.ml8{margin-left:8px}
.ml10{margin-left:10px}
.ml3_ie{_margin-left:-3px}
.ml10_ie{margin-left:10px;_margin-left:7px}
.ml15{margin-left:15px}
.ml20{margin-left:20px}
.ml25{margin-left:25px}
.ml30{margin-left:30px}
.ml35{margin-left:35px}
.mr3_ie{_margin-right:-3px}
.mr5{margin-right:5px}
.mr5_ie{margin-right:5px; _margin-right:2px;}
.mr10{margin-right:10px}
.mr10_ie{margin-right:10px;_margin-right:7px}
.mr15{margin-right:15px}
.mr20{margin-right:20px}
.mr25{margin-right:25px}
.mr30{margin-right:30px}
.mr35{margin-right:35px}
.mb5{margin-bottom:5px}
.mb10{margin-bottom:10px}
.mb15{margin-bottom:15px}
.mb20{margin-bottom:20px}
.mb25{margin-bottom:25px}
.mb30{margin-bottom:30px}
.mb35{margin-bottom:35px}
.pb5{padding-bottom:5px}
.pb10{padding-bottom:10px}
.pb15{padding-bottom:15px}
.pb20{padding-bottom:20px}
.pb25{padding-bottom:25px}
.pb30{padding-bottom:30px}
.pl5{padding-left:5px}
.pl10{padding-left:10px}
.pl15{padding-left:15px}
.pl20{padding-left:20px}
.pl25{padding-left:25px}
.pl30{padding-left:30px}
.pr5{padding-right:5px}
.pr10{padding-right:10px}
.pr15{padding-right:15px}
.pr20{padding-right:20px}
.pr25{padding-right:25px}
.pr30{padding-right:30px}
.pt5{padding-top:5px}
.pt10{padding-top:10px}
.pt15{padding-top:15px}
.pt20{padding-top:20px}
.pt25{padding-top:25px}
.pt30{padding-top:30px}
.cor_1{color:#666}
.cor_2{color:#999}
.cor_3{color:#333}
/*module.css*/
@charset "utf-8";
/*--- layout ---*/
/* 顶部登录 */
.btn_top_login,.btn_top_login span,.top_login .btn_top_login input,.ico_home_top_login,.ico_phone_top_login,.ico_map_top_login,.top_login_coop a.top_login_coop_tle,.top_login_coop_hover a.top_login_coop_tle,.ico_rr_top_login,.ico_rrtuangou,.ico_qq_top_login,.ico_xl_top_login,.ico_simple_top_login,.ico_help_top_login,.ico_triangle_top,.ico_remind_top,.ico_remind_min_top,.ico_wx_top_login{background:url(/images/www/img5/top_login_bg.png?1) no-repeat;}
.top_login .btn_top_login{text-decoration:none;}
.abr{padding-right:5px;margin-right:5px;border-right:solid 1px #ccc;line-height:12px;}
.pt4{padding-top:4px;}
.top_login{height:30px;background:#f0f0f0;border-bottom:solid 1px #D8D8D8;text-align:left;font-size:12px;color:#666;font:12px/1.2 Tahoma,Helvetica,Arial,sans-serif;width:100%;margin:auto;}
.top_login a{color:#666;}
.top_login input.text{width:94px;padding:2px 2px 1px;background-color:#fff;border:solid 1px #a7a7a7;line-height:15px;color:#999;}
.ipt_password{background:url(/images/www/img5/top_login_bg.png) no-repeat 0 -130px;color:#666;}
.top_login .btn_top_login{display:inline-block;padding-left:1px;background-position:left -71px;}
.top_login .btn_top_login span{display:inline-block;height:19px;padding-top:2px\0;padding-right:9px;background-position:right -71px;line-height:19px;text-align:center;font-size:12px;color:#333;}
.top_login .btn_top_login input{display:inline-block;padding-left:8px;height:19px;padding-top:2px\0;padding-right:9px;background-position:right -71px;border:none;line-height:19px;text-align:center;font-size:12px;color:#333;overflow:visible;cursor:pointer;}
.top_login input.checkbox{margin-top:1px;margin-bottom:1px;vertical-align:middle;}
.top_login_left{display:inline;float:left;padding-top:4px;padding-left:7px;}
.top_login_left li{display:inline;float:left;}
.top_login input,.top_login a,.top_login em,.top_login_left label{vertical-align:middle;}
.top_login_left label{margin-right:9px;}
.top_login_right{display:inline;float:right;padding-top:7px;}
.top_login_right span{margin-right:10px;}
.top_login_right a{margin-left:5px;}
.top_login_right a:hover,.top_login_left a:hover{text-decoration:underline;}
.top_login .ico_home_top_login{display:inline-block;width:11px;height:11px;background-position:-89px -31px;vertical-align:middle;overflow:hidden;}
.ico_map_top_login{display:inline-block;width:10px;height:10px;background-position:-90px -46px;vertical-align:middle;overflow:hidden;}
.ico_phone_top_login{display:inline-block;width:8px;height:11px;background-position:-92px -59px;vertical-align:middle;overflow:hidden;}
.ico_simple_top_login{display:inline-block;width:11px;height:11px;background-position:-89px -91px;vertical-align:middle;overflow:hidden;}
.ico_help_top_login{display:inline-block;width:9px;height:9px;background-position:-91px -107px;vertical-align:middle;overflow:hidden;}
.top_login_coop{display:inline;float:left;position:relative;margin-top:6px;margin-left:20px;z-index:30000;}
.top_login_coop a.top_login_coop_tle{display:inline-block;width:85px;height:19px;margin-bottom:1px;background-position:0 -31px;line-height:19px;}
.top_login_coop a:hover{text-decoration:none;}
.top_login_coop_hover a.top_login_coop_tle{display:inline-block;width:85px;height:19px;background-position:0 -51px;}
.top_login_coop a.top_login_coop_tle span{padding-left:7px;display:inline-block;padding-top:2px\0;}
.top_login_coop ul{display:none;}
.top_login_coop_hover ul{display:block;position:absolute;top:19px;left:0;width:85px;background:#fff;z-index:30001;}
.top_login_coop_hover ul li{height:21px;border:solid 1px #cdcdcd;border-top:none;}
.top_login .ico_rr_top_login,.top_login .ico_qq_top_login,.top_login .ico_xl_top_login,.top_login .ico_rr_top_logintuangou,.top_login .ico_139_top_login,.ico_wx_top_login{display:inline-block;width:16px;height:16px;margin:2px 5px 0 5px;vertical-align:middle;overflow:hidden;}
.top_login .ico_rr_top_login,.top_login .ico_rrtuangou{background-position:0 -100px;}
.top_login .ico_qq_top_login{background-position:-20px -100px;}
.top_login .ico_xl_top_login{background-position:-39px -100px;}
.top_login .ico_wx_top_login{background-position:-105px -136px;}
.top_login .ico_139_top_login{background:url(/images/www/139.png) no-repeat 0 3px;}
.passport-main{width:964px;margin:0 auto;}
.top_login_actions{padding-top:2px;}
.ico_triangle_top{display:inline-block;width:7px;height:4px;overflow:hidden;background-position:-70px -39px;vertical-align:middle;}
.remind_pop_top{position:absolute;width:188px;background:#fff;border:solid 1px #cbcbcb;z-index:10000;}
.ico_sharp_remind_1,.ico_sharp_remind_2{position:absolute;top:-14px;left:45%;display:inline-block;width:0;height:0;overflow:hidden;border-style:dotted dotted solid dotted;border-color:transparent transparent #cbcbcb transparent;border-width:7px;font-size:0;}
.ico_sharp_remind_2{top:-13px;border-color:transparent transparent #fff transparent;}
.tle_remind_pop_top{padding:10px;text-align:center;font-family:Microsoft YaHei,SimHei;font-size:14px;border-bottom:solid 1px #ebebeb;}
.ico_remind_top{display:inline-block;width:19px;height:19px;background-position:-60px -97px;vertical-align:middle;}
.item_remind_pop_top{margin-left:10px;margin-right:10px;padding-top:10px;padding-bottom:10px;border-bottom:dotted 1px #dedede;line-height:20px;}
.cor_remind_pop_top_1{color:#999;}
.cor_remind_pop_top_2{color:#ff4200;}
.cor_remind_pop_top_3{float:right;color:#004498;font-family:\5b8b\4f53;}
.cor_remind_pop_top_4{color:#f00;}
.ico_remind_min_top{display:inline-block;width:14px;height:14px;overflow:hidden;background-position:-104px -117px;vertical-align:middle;}
.wrp{width:964px;margin-left:auto;margin-right:auto;zoom:1;}
.wrp:after{content:'.';visibility:hidden;clear:both;display:block;height:0;}
.wrp_new{width:1200px;margin-left:auto;margin-right:auto;zoom:1;}
.wrp_new:after{content:'.';visibility:hidden;clear:both;display:block;height:0;}
/* 弹窗登录 */
span.innerError{display:none;padding:5px;border:1px solid #DADBD8;font-weight:normal;font-size:12px;color:#666;text-indent:10px;background-color:#FFCFCF;}
.cor_login_mod_1 { color: #0086C9; }
.login_pop_module { background: #fff; }
.login_tltle_mod { height: 70px; padding: 0 35px; background: #F9F9F9; line-height: 70px; }
.colse_login_pop_mod { margin-top: 20px; font-size: 3.5em; color: #666; line-height: 20px; font-weight: normal; }
.colse_login_pop_mod:hover { text-decoration: none; color: #f00; }
.login_mod_form { padding: 0 35px; }
.login_ipt_mod_user,.login_ipt_mod_password,.ico_login_mod_wx,.ico_login_mod_sina,.ico_login_mod_qq,.ico_login_phone
,.ico_login_mod_error { background: url(./../images/login_pop_2.png?1) no-repeat; }
.login_ipt_mod_user,.login_ipt_mod_password,.login_ipt_mod_1,.login_ipt_mod { display: block; height: 18px; padding: 15px 5px 15px 48px; line-height: 18px; border: solid 1px #ddd; line-height: 18px; outline: medium none; word-wrap: break-word; color: #a9a9a9; font-size: 14px; }
.login_ipt_mod_password { background-position: -100px 10px; }
.login_ipt_mod_user { background-position: -100px -58px; }
.login_ipt_mod { padding-left: 15px; }
.ipt_mod_password_tips{ position: absolute; left: 49px; top: 15px; display: block; height: 16px; line-height: 18px; color: #a9a9a9; font-size: 14px; }
.btn_login_mod { display: block; line-height: 50px; background: #0086C9; color: #fff; font-size: 18px; text-align: center; }
.other_login_mod { padding: 15px 35px 30px; border-top: solid 1px #ececec; }
.ico_login_mod_wx,.ico_login_mod_sina,.ico_login_mod_qq { display: inline-block; width: 27px; height: 27px; margin-left: 20px; vertical-align: middle; background-position: -50px -35px; }
.ico_login_mod_sina { background-position: -50px -105px; }
.ico_login_mod_qq { background-position: -50px -175px; }
.ico_login_mod_wx:hover { background-position: -50px 0; }
.ico_login_mod_sina:hover { background-position: -50px -70px; }
.ico_login_mod_qq:hover { background-position: -50px -140px; }
.ico_login_phone { display: inline-block; width: 13px; height: 22px; background-position: 0 -74px; vertical-align: middle; }
.ipt_mod_ab { position: absolute; top: 15px; left: 15px; }
.login_error_tip_mod { display: inline-block; line-height: 20px; color: #e10000; }
.ico_login_mod_error { display: inline-block; width: 14px; height: 14px; background-position: 0 -115px; vertical-align: middle; }
.sms_login_mod { padding: 35px; }
.btn_login_veri,.btn_login_veri_no { display: inline-block; width: 145px; text-align: center; line-height: 48px; background: #FEF0E1; border: solid 1px #E8B656; color: #DC9203; cursor: pointer; border-radius: 5px; font-size: 14px; }
.btn_login_veri_no { background: #c6c6c6; border: solid 1px #c6c6c6; color: #fff; }
.login_mod_tip { padding: 10px; background: #FEFCF5; }
.login_mod_veri_pop { position: absolute; top: 100px; right: 300px; width: 400px; padding: 35px; background: #fff; z-index: 20000; }
.wjyBlank_2 { background: black; height: 0; left: 0; position: absolute; top: 0; width: 100%; z-index: 10000; opacity: 0.5; }
.btn_colse_veri_pop { position: absolute; top: 0; right: 25px; }
.pwd_tip{background:url(/images/www/pwd_tip.jpg) no-repeat;}
.pwd_confrim_tip{background:url(/images/www/pwd_confirm.jpg) no-repeat;}
/* basic.css中样式 有些文件没有引用basic.css - begin */
.lp_mt20{margin-top:20px;}
.lp_ml5{margin-left:5px;}
.lp_ml35{margin-left:35px;}
.lp_mt5{margin-top:5px;}
.lp_mt10{margin-top:10px;}
.lp_vm{vertical-align:middle;}
.lp_mt15{margin-top:15px;}
.lp_mt25{margin-top:25px;}
.lp_mt30{margin-top:30px;}
.lp_dn{display:none;}
.lp_re{position:relative;}
.lp_cf{zoom:1;}
.lp_cf:after{content:'.';visibility:hidden;clear:both;display:block;height:0;}
.lp_ml10{margin-left:10px;}
.hide_wri{display:block;overflow:hidden;zoom:1;text-indent:-9999px;}
/* basic.css中样式 - end */
/* 页脚 */
.footer{margin-top:10px;overflow:hidden;}
.footer_link{height:37px;padding-left:10px;background:#F6F9FE;border-bottom:solid 1px #5A9DD4;color:#d8d8d8;line-height:37px;font-family:Tahoma;}
.footer_link li{display:inline;float:left;}
.footer_link a{margin:0 4px 0 7px;color:#2D374B;}
.footer_sublink{margin:10px -50px 0 -50px;letter-spacing:-4px;font-size:0;overflow:hidden;}
.footer_sublink{zoom:1;}
.item_footer_sublink ul{margin-top:25px;margin-right:-30px;}
.item_footer_sublink li{display:inline-block;*display:inline;zoom:1;margin-right:30px;font-size:12px;letter-spacing:0;vertical-align:top;text-align:center;}
.footer_sublink a{color:#666;}
.packet_footer_sublink{float:left;padding-left:50px;background:url(http://365jia.cn/images/footer/footer_link_bg.png) no-repeat right -177px;}
.item_footer_sublink{display:inline;padding:20px 10px;margin-right:50px;float:left;font-size:12px;letter-spacing:0;vertical-align:top;}
.item_footer_sublink a{display:inline-block}
.item_footer_sublink dt{margin-bottom:15px;font-family:Microsoft YaHei,SimHei;font-size:16px;font-weight:bolder;}
.item_footer_sublink dd{line-height:30px;}
.txt_icon_footer_sublink{display:block;text-align:center;line-height:40px;}
.ico_footer_sublink_zswj,.ico_footer_sublink_ahzx,.ico_footer_sublink_wjsq,.ico_footer_sublink_wb,.ico_footer_sublink_wx{display:block;*display:inline-block;width:30px;height:30px;margin:auto;background:url(http://365jia.cn/images/footer/footer_link_bg.png) no-repeat;}
.ico_footer_sublink_ahzx{background-position:0 -34px;}
.ico_footer_sublink_wjsq{background-position:0 -68px;}
.ico_footer_sublink_wb{background-position:0 -103px;}
.ico_footer_sublink_wx{background-position:0 -137px;}
.footer_address{margin-top:10px;padding-top:10px;border-top:solid 1px #eee;color:#939393;line-height:28px;text-align:center;}
.footer_address a{color:#939393;}
.footer_other{margin-top:10px;text-align:center;}
.footer_other a{margin-left:5px;}
.footer_pop{position:absolute;width:78px;padding:10px 20px 15px;background:#fff;border:solid 1px #dcdcdc;border-radius:5px;text-align:center;color:#9d9d9d;line-height:18px;}
.footer_pop h2{font-family:Microsoft YaHei,SimHei;font-size:16px;font-weight:bolder;color:#333;}
.footer_pop p{margin-top:15px;}
.ico_arw_footer_pop_1,.ico_arw_footer_pop_2{position:absolute;top:45%;display:inline-block;width:0;height:0;line-height:0;border-width:8px;font-size:0;}
/* 主导航 */
.basic_menu{width:964px;height:60px;margin:0 auto;overflow:hidden;background:#FFFFFF;}
.basic_menu a{color:#333333;text-decoration:none;}
.basic_menu a:hover{text-decoration:underline;}
.site_logo{display:inline;float:left;}
.site_logo a{display:block;width:148px;height:65px;background:url(/images/www/img5/top_login_bg.png?=v1) no-repeat 0 -200px;text-indent:-9999px;}
.basic_menu_1{display:inline;float:left;height:35px;zoom:1;border-right:solid 1px #E1E1E1;margin-top:14px;margin-bottom:14px;padding-right:1px;padding-left:1px;}
.last{border:none;}
.basic_menu_1 li{display:inline;float:left;line-height:14px;margin-bottom:10px;margin-right:10px;}
.basic_menu_1 ul{clear:both;margin-left:15px;}
.menu_cor_1{font-weight:bolder;color:#BA1218;color:#333;padding-right:7px;background:url(/images/www/img5/top_login_bg.png) no-repeat right -272px;}
.basic_menu a.menu_cor_nws{color:#f00;}
.re_menu{position:relative;zoom:1;}
.ico_menu_new{display:inline-block;width:21px;height:10px;background:url(/images/www/img5/top_login_bg.png) no-repeat -127px -141px;position:absolute;right:-17px;top:-3px;}
/* 频道页顶部导航 */
.top_login_channel{height:30px;background:#f0f0f0;border-bottom:solid 1px #D8D8D8;text-align:left;font-size:12px;color:#666;font:12px/1.2 Tahoma,Helvetica,Arial,sans-serif;}
.top_login_channel_in{width:964px;margin-left:auto;margin-right:auto;}
.top_login_channel_left{display:inline;float:left;}
.top_login_channel_left .nav_list{display:inline;float:left;}
.top_login_channel_item{display:inline;float:left;color:#cacaca;line-height:30px;}
.top_login_channel_left .a_style_1{margin:0 8px;color:#333333;}
#userNickname a{color:#333333;}
.top_login_channel_more{display:inline-block;position:relative;text-align:center;z-index:99;}
.top_login_channel_more_t{display:inline-block;padding:0 14px;line-height:30px;cursor:pointer;color:#333;position:relative;z-index:10001;}
.top_login_channel_more_t .more_link{display:inline-block;vertical-align:middle;}
.top_login_channel_hover .top_login_channel_more_t{background:#fff;padding:0 13px;border-left:solid 1px #C7C7C7;border-right:solid 1px #C7C7C7;background:#fff;}
.ico_top_login_channel_more{display:inline-block;width:7px;height:4px;margin-left:5px;background:url(/images/www/img5/top_login_bg.png) no-repeat -104px -101px;overflow:hidden;vertical-align:middle;}
.top_login_channel_hover .ico_top_login_channel_more{display:inline-block;width:7px;height:4px;margin-left:5px;background:url(/images/www/img5/top_login_bg.png) no-repeat -104px -92px;overflow:hidden;vertical-align:middle;}
.top_login_channel_more_c{display:none;position:absolute;top:29px;left:0;width:80px;padding:5px 0;background:#fff;border:solid 1px #C7C7C7;z-index:10000;line-height:26px;}
.top_login_channel_more_c .cor_top_login_channel_2{display:block;}
.top_login_channel_hover .top_login_channel_more_c{display:block;}
.top_login_channel_right{display:inline;float:right;line-height:30px;color:#cacaca;position:relative;z-index:99;}
.top_login_channel_right .a_style_2{margin:0 6px;color:#666;}
.top_login_channel_info{width:80px;padding:10px 15px;background:#FEFFED;border:solid 1px #DCCA99;position:absolute;left:0;top:30px;}
.cor_top_login_channel_1{color:#BD0A01;font-weight:bolder;}
.cor_top_login_channel_2{color:#666;}
.ico_colse_info{position:absolute;top:0;right:5px;height:15px;line-height:15px;color:#AF9A5F;overflow:hidden;}
.ico_colse_info:hover{color:#f00;text-decoration:none;}
/* 频道页分导航、搜索 */
.subnav_sear{width:964px;height:31px;margin-top:5px!important;margin-bottom:0;overflow:hidden;}
.subnav_sear input{vertical-align:middle;border:none;}
.subnav_sear_logo{display:inline;float:left;/*width: 131px;*/ height:31px;}
.subnav_sear_sear{display:inline;float:left;width:450px;height:31px;margin-left:0;text-align:left;}
.subnav_sear_sear_card{line-height:31px;height:31px;padding-left:20px;padding-top:3px!important;padding-top:8px;width:600px;}
.subnav_sear_sear_card img{vertical-align:middle;}
.subnav_sear_sear p{display:inline;float:left;width:249px;height:22px;margin-left:29px;margin-top:2px;text-align:left;background:url(/images/www/img5/subnav_sear.png) no-repeat 0 0;}
.subnavipt,.subnavipt_onblur,.subnavipt_onfocus{width:210px;line-height:15px;margin-top:3px;margin-left:6px;padding-left:15px;background:url(/images/www/img5/subnav_sear.png) no-repeat -236px -80px;color:#999;}
.subnavipt_onfocus{background:none;color:#333;padding-left:0;line-height:15px;}
.subnavbtn{width:55px;height:22px;margin-top:2px;margin-left:6px;background:url(/images/www/img5/subnav_sear.png) no-repeat 0 -32px;line-height:22px;color:#333;}
.subnav_sear_contact{display:inline;float:right;width:316px;height:31px;background:url(/images/www/img5/subnav_sear.png) no-repeat -248px -34px;line-height:31px;text-align:left;}
.subnav_sear_contact span{margin-left:8px;}
.mt5{margin-top:5px;}
#special_header{display:none;overflow:hidden;}
#special_header a{display:block;text-decoration:none;overflow:hidden;height:100%;}

.switch_btn {
    cursor: pointer;
    right: 12px;
    padding: 5px;
    position: absolute;
    top: 5px;
}
.ico_switch {
    background: url(/images/www/login_pop.png) no-repeat -448px 0;
    display: inline-block;
    height: 21px;
    overflow: hidden;
    width: 23px;
}
.click .ico_switch {
    background-position: -477px 0;
}

.ico_login_error {
  display: inline-block;
  width: 14px;
  height: 14px;
  line-height: 14px;
  text-align: center;
  background: #ff5758;
  border-radius: 50%;
  color: #fff;
  vertical-align: middle;
  font-family: Microsoft YaHei;
}

.cor_login_error {
  color: #fa5b5b;
}

/*/css/ads/guide.css?v=4*/
.underline{text-decoration:underline;}
.pointer{cursor:pointer;}
img{border:none;}
.adLink{text-decoration: none; position: absolute; top: 0px; left: 0px; background:#ffffff;filter:alpha(opacity=1);opacity:0.01;display: inline-block;}
.wjAD{display:none;}

/*ad_wanjiabox_flash*/
.ad_wanjiabox_flash{ z-index: 1100; position: fixed;_position:absolute;_bottom:auto;_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));bottom: 0px; right: 0px; display:none;}

/*WanjiaBoxAD*/
.ad_wanjiabox{z-index:1100;width:100%;height:234px;position:fixed;display:none;}
.popup_msg_container{width:280px;float:right;}
.im_popupWindow{ position: fixed;bottom: 0px;right: 0px;_position:absolute;_bottom:auto;_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));width:280px;}
.wi_draggable{margin-left:2px;height:24px;}
.founctionpic3{position:absolute;top:5px;left:265px;}
.wi_content{margin-bottom:-8px;}
.adWanJiaBoxFlashClose{position:absolute;z-index:999;width:30px;height:30px;margin-left:255px;background:#ffffff;filter:alpha(opacity=1);opacity:0.01;}

/*TopBgbanner*/
.ad_top_bgbanner{margin:0px auto; width:968px; text-align:center; position:relative;}
.ad_top_bgbannerClose{width:30px;height:16px;color:#444;border:1px solid #c6c6c6;float:right;background:#f8f8f8;font-weight:bold;cursor:pointer; padding:0px 4px;position:absolute;top:0px;right:2px;text-align:center;line-height:16px;}

/*FloatLeftAD/FloatRightAD*/
.ad_float_left, .ad_float_right{position:fixed;bottom:80px;display:none;width:100px;height:100px;_position:absolute;_bottom:auto;_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)-100));}
.adFloatLeftClose, .adFloatRightClose{overflow:hidden; background:#eee; width:100px; line-height:16px; height:16px;}
.ad_float_right{right:0px;}

/*FullScreenAD*/
.ad_full{margin:2px auto; width:968px;display:none; text-align:center; position:relative;}
.ad_full .main{height:500px;width:968px; overflow:hidden; left:0px;}
.ad_full .banner{height:50px; display:none;overflow:hidden; left:0px;}
.ad_full .control{display:none; background:#eee; right:0px; top:30px; position:absolute; text-align:right; padding:0px 5px; margin:2px; text-decoration:underline ;}

.ad_full_2{margin:2px auto; width:1200px;display:none; text-align:center; position:relative;}
.ad_full_2 .main{height:500px;width:1200px; overflow:hidden; left:0px;}
.ad_full_2 .banner{height:50px; display:none;overflow:hidden; left:0px;}
.ad_full_2 .control{display:none; background:#eee; right:0px; top:30px; position:absolute; text-align:right; padding:0px 5px; margin:2px; text-decoration:underline ;}



/*CoupletAD/CoupletAD2*/
.couplet{position:fixed; top:100px;_position:absolute;_bottom:auto;z-index:3;}
.coupletCTX{position:relative; display:none; height:0px;}
.LeftAdX{left:0px;position:fixed;height:314px; width:25px; overflow:hidden;_position:absolute;_left:-110px;display:none;}
.LeftAdXClose{position: absolute; text-align:left; cursor: pointer; bottom: 0px;color:#444;background:#eee; width:25px;text-decoration :underline}
.RightAdX{right:0px;position:fixed; height:314px; width:25px; overflow:hidden;_position:absolute;_right:-110px;display:none;}
.RightAdXClose{position: absolute; text-align:left; cursor: pointer; bottom: 0px;color:#444;background:#eee; width:25px;text-decoration :underline}
.LeftAd{left:0px;position:fixed; height:314px; width:100px; overflow:hidden;_position:absolute;_left:-110px;display:none;}
.LeftAdClose{position: absolute; text-align:left; cursor: pointer; bottom: 0px; color:#444;background:#eee; width:100px;text-decoration :underline;}
.RightAd{right:0px;position:fixed; height:314px; width:100px; overflow:hidden;_position:absolute;_right:-110px;display:none;}
.RightAdClose{position: absolute; text-align:right; cursor: pointer; bottom: 0px; color:#444;background:#eee; width:100px;text-decoration :underline;}

/*LargeFloatAD*/
.ad_large_float{width:100%;bottom:80%;position:fixed;_position:absolute;_bottom:auto;_top:expression(eval(document.documentElement.scrollTop+200));z-index:100000;}
.ad_large_float .abody{display:none; position:relative;margin:0 auto;width:964px;}
.ad_large_float .main{position:absolute; left:105px; height:400px; width:750px; z-index:1000;}
.ad_large_float .banner{position:absolute; right:0px; top:45px; height:200px; width:25px; overflow:hidden; display:none;}
.ad_large_float .banner_control{overflow:hidden; width:25px; position:absolute; right:0px; top:245px; background:#eee; display:none;}
.largeFloatClose{width:80px;height:30px;float:right;z-index:10000;background:#ffffff; position:absolute;margin-left:670px;filter:alpha(opacity=1);opacity:0.01;}
/*LargeFloatAD temp*/
.ad_large_float .banner2{position:absolute; left:0px; top:45px; height:200px; width:25px; overflow:hidden; display:none;}
.ad_large_float .banner2_control{overflow:hidden; width:25px; position:absolute; left:0px; top:245px; background:#eee; display:none;}

/*FloatBottomAD/FloatBottomAD1*/
.ad_float_bottom{position:fixed; display:none;_position:absolute;_bottom:auto;_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0))); bottom:0px; z-index:999; height:50px; width:100%;}
.ad_float_bottom1{position:fixed; display:none;_position:absolute;_bottom:auto;_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-50-(parseInt(this.currentStyle.marginBottom,10)||0))); bottom:0px; z-index:999; height:50px; width:100%;}
.ad_float_bottomClose{width:30px;height:16px;color:#444;border:1px solid #c6c6c6;float:right;background:#f8f8f8;font-weight:bold;cursor:pointer; padding:0px 4px;z-index:999;position:absolute;margin-left:924px;text-align:center;line-height:16px;}

/*PagePeelAD*/
.pagepeel{position:fixed; _position:absolute;_bottom:auto;top:0px; width:100%; height:0px;right:0px;display:none; }
.pagepeel .pbody{position:relative; height:0px;}
.pagepeel .thumb{right:0px; top:0px; height:80px; width:80px; overflow:hidden; position:absolute; display:none;}
.pagepeel .control{position:absolute; right:0px;  top:80px; text-align:right; padding:5px; display:none; background:#eee; width:70px; line-height:8px; height:7px; overflow:hidden;}
.pagepeel .main{right:0px; top:0px; height:250px; width:350px; overflow:hidden; position:absolute;}
.bigPeelClose{width:45px;height:45px;z-index:999;position:absolute;background:#ffffff;filter:alpha(opacity=1);opacity:0.01;margin-top:205px;}

/*/css/www/index201502.css*/
@charset "utf-8";
/*--- layout ---*/
.w964 { width: 964px; }
.w228 { width: 228px; }
.w348 { width: 348px; }
.w152 { width: 152px; }
.wp48 { width: 48%; }
.w96  { width: 96px; }
.wp100 { width: 100%; }

a {  color:#2D374B }

.cor_1 { color: #666 }
.cor_2 { color: #999 }
.cor_3 { color: #333 }
.cor_4 { color: #004498; }
.cor_5 { color: #BD0A01; }
.cor_6 { color: #1F3A87; }
.cor_7 { color: #8FAED2; }
.cor_8 { color: #98BF24; }
.cor_9 { color: #9DA9B4; }
.cor_10 { color: #004276; }
.cor_11 { color: #2D374B; }
.cor_12 { color: #f00; }

.tle_alliance .cor_4 { color: #004276; }

.b1 { border: solid 1px #D2E1F1; }
.b2 { border: dotted 1px #d9d9d9; }
.b3 { border: solid 1px #ddd; }
.b4 { border: solid 1px #d4d4d4; }
.b5 { border: solid 1px #eee }

.bg1 { background: #fbfbfb; }
.bg2 { background: #F6F9FE; }
.bg3 { background: #F5F8FC; }

.line_1 { border-top: dotted 1px #dbdbdb; }
.line_2 { border-bottom: dotted 1px #cdcdcd; }
.line_3 { border-bottom: solid 1px #458FCE; }

.cur { cursor: pointer; }
.mr20 { _margin-right: 17px; }
.pt1 { padding-top: 1px; }

.img1 { width: 123px; height: 86px; }
.img2 { width: 100px; height: 60px; }
.img3 { width: 127px; height: 86px; }
.img4 { width: 138px; height: 176px; }
.img5 { width: 104px; height: 43px; }
.img6 { width: 198px; height: 96px; }
.img7 { width: 80px; height: 40px; }
.img8 { width: 199px; height: 87px; }
.img9 { width: 161px; height: 87px; }
.img10 { width: 96px; height: 122px; }
.img11 { width: 199px; height: 87px; }
.img12 { width: 146px; height: 206px; }
.img13 { width: 146px; height: 98px; }

.fz15 { font-size: 15px; }

.ico_arw_1,.ico_search,.ico_ad,.ico_ip,.ico_rebate,.btn_sort,
.ico_1,.ico_2,.ico_3,.ico_4,.picleft_1,.picright_1,.ico_video,.btn_inquiry
,.mF_sd_tab2 .current .title,.plea_menu_3 .p_m_li,.plea_menu_3 .hover,.ico_date,.ico_tsina,.ico_ttx,.ico_twx,.ico_ttq,.ico_trenren,.ico_tdouban
,.ico_no1,.ico_no2,.ico_no3,.ico_no4,.tle_1,.tle_2,.tle_3,.tle_4,.ico_rew,.btn_switch,.btn_switch_close,.ico_img_rx {
   background: url(/images/www/index.1.2.png?v=1) no-repeat;
}

/* 顶部导航 */
.logo {
   display: inline-block;
   /*width: 148px;*/
   
   height: 65px;
   /*background: url(http://cache.365jia.com/images/www/img5/top_login_bg.png) no-repeat 0 -200px;*/
}

h1 {
   display: inline;
   float: left;
}

.weather {
   height: 30px;
   margin: 10px 0 0 0;
   padding: 15px 0 0 0px;
   /*border-left: dashed 1px #e1e1e2;*/
}

.ico_arw {
   display: inline-block;
   border-style: solid dotted dotted;
   border-color: #626262 transparent transparent;
   border-width: 3px;
   width: 0;
   height: 0;
   font-size: 0;
   overflow: hidden;
   vertical-align: middle;
}

.btn_site {
   cursor: pointer;
   vertical-align: middle;
}

.ad_1 {
   width: 176px;
   height: 58px;
   margin: 4px 10px 0 0;
   overflow: hidden;
   background: #CDE0F5;
}

.ipt_search_out {
   border: solid 1px #94A2AF;
   border-bottom-color: #7A8A99;
   border-right: 0;
}

.ipt_search_in {
   height: 25px;
   background: #fff;
   border-top: solid 1px #D2DBE0;
   border-left: solid 1px #D2DBE0;
}

.ipt_1 {
   width: 280px;
   padding: 8px 5px 7px 5px;
   margin: 0;
   line-height: 16px;
   background: #fff;
   border: solid 1px #e6e6e6;
   color: #666;
   font-size: 14px;
   color: #999;
}

.ico_arw_1 {
   display: inline-block;
   width: 9px;
   height: 6px;
   overflow: hidden;
   background-position: -194px -67px;
   cursor: pointer;
}

.btn_search {
   display: inline-block;
   width: 49px;
   height: 33px;
   background-color: #d4d4d4;
   vertical-align: middle;
   text-align: center;
   line-height: 33px;
}

.ico_search {
   display: inline-block;
   width: 21px;
   height: 22px;
   margin-top: 4px;
   background-position: -802px -70px;
}

.nav {
   margin-right: -30px;
   margin-left: -5px;
   padding-top: 12px;
   border-top: solid 3px #458FCE;
}

.nav dl {
   padding-right: 19px;
   margin-right: 14px;
   border-right: solid 1px #e1e1e1;
}

.nav ul {
   letter-spacing: -3px;
   *letter-spacing: -4px;
   font-family:Tahoma;

}

.nav li {
   margin-left: 12px;
   font-size: 14px;
   font-family: 微软雅黑
}


.topad_1 {
   width: 774px;
   height: 80px;
   background: #f5f5f5;
}

.topad_2 {
   width: 176px;
   height: 80px;
   background: #f5f5f5;
}

.ad_list {
   padding: 10px 0;
   border: solid 1px #ececec;
   border-top: none;
}

.ad_list li {
   margin-left: 10px;
   margin-right: 10px;
   line-height: 32px;
}


/* 客户端 */
.plea_menu_1 {
   height: 26px;
   background: #fbfbfb;
   border-bottom: solid 1px #D2E1F1;
}

.plea_menu_1 .p_m_li {
   position: relative;
   padding: 0 13px;
   margin-left: -1px;
   border-left: solid 1px #D2E1F1;
   border-right: solid 1px #D2E1F1;
   line-height: 26px;
   color: #666;
   cursor: pointer;
}

.plea_menu_1 .hover {
   margin-top: -1px;
   margin-bottom: -1px;
   background: #fff;
   border-top: solid 1px #458FCE;
   font-family: Microsoft YaHei,SimHei;
   font-size: 14px;
   line-height: 27px;
   color: #333;
   font-weight: bolder; 
}

/*.tab_tags .plea_menu {
   height: 26px;
   background: #fbfbfb;
   border-bottom: solid 1px #D2E1F1;
}

.tab_tags .plea_menu li {
   position: relative;
   padding: 0 13px;
   margin-left: -1px;
   border-left: solid 1px #D2E1F1;
   border-right: solid 1px #D2E1F1;
   line-height: 26px;
   color: #666;
   cursor: pointer;
}

.tab_tags .plea_menu .hover {
   margin-top: -1px;
   margin-bottom: -1px;
   background: #fff;
   border-top: solid 1px #458FCE;
   font-family: Microsoft YaHei,SimHei;
   font-size: 14px;
   line-height: 27px;
   color: #333;
   font-weight: bolder; 
}

.tab_tags ol {
   display: none;
}

.tab_tags .cont {
   display: block;
}
*/

.ico_ad {
   display: inline-block;
   width: 15px;
   height: 19px;
   background-position: -33px -140px;
   vertical-align: middle;
}

.ico_ip {
   display: inline-block;
   width: 15px;
   height: 16px;
   background-position: -56px -140px;
   vertical-align: middle;
}

/* 优惠券 */
.gallery_bg_1 {
   display: block;
   height: 20px;
   background: #000;
   position: relative;
   margin-top: -20px;
   margin: -20px 0 0;
   opacity:0.6;-moz-opacity:0.6;-khtml-opacity:0.6;filter:alpha(Opacity=60);
}

.gallery_bg_5 {
    display: block;
    height: 20px;
    background: #eeeeee;
    position: relative;
    margin-top: -20px;
    margin: -20px 0 0;
    opacity:0.8;-moz-opacity:0.8;-khtml-opacity:0.8;filter:alpha(Opacity=80);
}

.gallery_bg_wri_1 {
   display: block;
   height: 20px;
   position: relative;
   margin-top: -20px;
   color: #fff;
   text-align: center;
   line-height: 20px;
   cursor: pointer;
}

.gallery_bg_wri_1_1 {
    display: block;
    height: 20px;
    position: relative;
    margin-top: -20px;
    color: #bd0a01;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
}

/* 焦点新闻图 */
.focus {
   width: 368px;
   height: 220px;
}

#myFocus .num li {
   width: 16px;
}

.mF_sd_tab2{position:relative;font:12px/1.2 Tahoma,Helvetica,Arial,sans-serif}/*tab盒子*/
.mF_sd_tab2 dl{float:left;display:inline;margin-right:-1px}/*标题之间的间隔*/
.mF_sd_tab2 dt{float:left;text-align:center;height:29px;position:relative}/*标题区*/
.mF_sd_tab2 .title{display:block;width:48px;height:22px;line-height:22px;line-height:26px\9;*line-height:26px;_line-height:22px;border:1px solid #D2E1F1;position:relative;cursor:pointer;background-color:#fbfbfb}/*标题区*/
.mF_sd_tab2 .current .title{background-position:-138px -96px;height:24px;position:relative;z-index:1;margin-top:-1px;margin-bottom:-1px;color:#fff}/*当前标题区*/
.mF_sd_tab2 .current .title a { color: #fff; }
.mF_sd_tab2 .current .ico_arw_2{display:inline;border-style:solid dotted dotted;border-color:#3A7EBF transparent transparent;border-width:5px;width:0;height:0;font-size:0;overflow:hidden;position:absolute;bottom:-4px;left:20px;z-index:2}
.ico_arw_2{display:none}

.mF_sd_tab2 dd{position:absolute;top:29px;left:0;width:348px;height:175px;overflow:hidden}/*内容区的宽高及边框*/
.mF_sd_tab2 .in_ul{position:absolute;bottom:0;left:0}/*这里是设置内容区的padding*/
.mF_sd_tab2 .in_ul img{width:348px;height:175px}
.img21{width:348px;height:175px}
.mF_sd_tab2 .in_li{float:left}/*真正的内容区从这里开始*/
  
.gallery_bg_2 {
   display: block;
   height: 26px;
   background: #000;
   position: relative;
   margin-top: -26px;
   margin: -26px 0 0;
   opacity:0.4;-moz-opacity:0.4;-khtml-opacity:0.4;filter:alpha(Opacity=40);
}

.gallery_bg_wri_2 {
   display: block;
   height: 26px;
   position: relative;
   margin-top: -26px;
   color: #fff;
   font-weight: bolder;
   text-indent: 15px;
   line-height: 26px;
   cursor: pointer;
}  

/* 通栏广告 */
.ad_2 {
   height: 80px;
   background: #f2f2f2;
   overflow: hidden;
}

.ad_3 {
   height: 264px;
   background: #f2f2f2;
   overflow: hidden;
}

.ad_4 {
   height: 300px;
   background: #f2f2f2;
   overflow: hidden;
}

.ad_5 {
   height: 341px;
   background: #f2f2f2;
   overflow: hidden;
}

/* 全城折扣 */
.ico_rebate {
   display: inline-block;
   width: 33px;
   height: 21px;
   padding-left: 5px;
   background-position: -33px -67px;
   color: #fff;
   line-height: 21px;
}

.btn_sort {
   display: inline-block;
   width: 99px;
   height: 27px;
   margin: 1px;
   background-position: -32px -98px;
   line-height: 27px;
   cursor: pointer;
}

.ico_1,.ico_2,.ico_3,.ico_4 {
   display: inline-block;
   margin: 0 14px 0 13px;
   vertical-align: middle;
   overflow: hidden;
}

.ico_1 {
   width: 20px;
   height: 20px;
   background-position: -215px -68px;
}

.ico_2 {
   width: 20px;
   height: 20px;
   background-position: -245px -70px;
}
.ico_3 {
   width: 20px;
   height: 20px;
   background-position: -274px -68px;
}

.ico_4 {
   width: 20px;
   height: 20px;
   background-position: -308px -68px;
}

/* 图片视频 */
.picleft_1 {
   display: inline-block;
   width: 8px;
   height: 104px;
   background-position: 0 -67px;
   cursor: pointer;
   position: absolute;
   left: 5px; 
   top: 0;
}

.picleft_1:hover {
   background-position: -917px -67px;
}

.picright_1 {
   display: inline-block;
   width: 8px;
   height: 104px;
   background-position: -14px -67px;
   position: absolute;
   right: 5px; 
   top: 0;
}

.picright_1:hover {
   background-position: -931px -67px;
}

.picBox_1 {
   width: 300px;
   height: 86px;
   margin: 0 auto;
   overflow: hidden;
}

.picBoxInner_1 {
   position: absolute;
   left: 0; 
   width: 50000px;
}

.picBoxInner_1 li {
   padding: 0 20px 0 10px;
}

.ico_video {
   display: inline-block;
   width: 15px;
   height: 10px;
   overflow: hidden;
   background-position: -949px -87px; 
   vertical-align: middle;
}

/* 生活检索 */
.plea_menu_2 {
   border-bottom: solid 1px #dedede;
}

.plea_menu_2 .p_m_li {
   padding: 0 7px;
   margin-right: 2px;
   line-height: 21px;
   border: solid 1px #dedede;
   border-bottom: none;
   cursor: pointer;
}

.plea_menu_2 .hover {
   line-height: 22px;
   background: #fff;
   font-weight: bolder;
   position: relative;
   margin-bottom: -1px;
}

.sel_1 {
   height: 20px;
   border: solid 1px #d4d4d4;
   color: #a0a0a0;
}

.ipt_2 {
   padding: 3px 2px 2px;
   height: 16px;
   line-height: 16px;
   border: solid 1px #d4d4d4;
   color: #a0a0a0;
   margin: 0;
   background: none;
}

.ico_date {
   display: inline-block;
   width: 14px;
   height: 14px;
   margin-right: 2px;
   background-position: -538px -69px;
   vertical-align: middle;
}

.ipt_3 {
   padding: 3px 2px 2px;
   height: 14px;
   line-height: 14px;
   border: none;
   color: #a0a0a0;
   margin: 0;
   background: none;
   overflow: hidden;
}


.btn_inquiry {
   display: inline-block;
   width: 36px;
   height: 23px;
   background-position: -157px -67px;
   color: #fff;
   line-height: 23px;
   text-align: center;
   vertical-align: middle;
}

.plea_tab_2 li {
   vertical-align: middle;
}

/* 友情链接 */
.fri_link td {
   width: 12.5%;
   line-height: 20px;
}

/* 优惠券 */
.plea_menu_3 {
   height: 25px;
   margin-top: 1px;
   border-bottom: solid 2px #3E81C1;
}

.plea_menu_3 ul {
   display: inline;
   float: left;
   width: 225px;
}

.plea_menu_3 .p_m_li {
   position: relative;
   width: 78px;
   height: 25px;
   float: right;
   padding-right: 15px;
   margin-right: -18px;
   background-position: -138px -146px;
   line-height: 25px;
   text-align: center;
   color: #004498;
   cursor: pointer;
   line-height:30px\9;*line-height:30px;_line-height:24px;
}

.plea_menu_3 .hover { 
   background-position: -138px -121px;
   color: #fff;
   z-index: 4;
}

.plea_menu_3 .hover a {
   color: #fff;
}

/* 关注万家 */
.ico_tsina,.ico_ttx,.ico_twx,.ico_ttq,.ico_trenren,.ico_tdouban {
   display: inline-block;
   width: 21px;
   height: 21px;
   margin-right: 3px;
   vertical-align: middle;
}

.ico_tsina { background-position: -556px -69px; }
.ico_ttx { background-position: -580px -69px; }
.ico_twx { background-position: -604px -69px; }
.ico_ttq { background-position: -628px -69px; }
.ico_trenren { background-position: -652px -69px; }
.ico_tdouban { background-position: -676px -69px; }

.h2_1 {
   padding: 0 8px;
   line-height: 35px;
   border-top: solid 2px #458FCE;
   border-bottom: solid 1px #DBECEC;
}

/* 联盟 */
.tle_alliance {
   padding: 0 15px;
   background: #fff;
   line-height: 48px; 
   margin-right: 15px;
   border-right: dotted 1px #d9d9d9;
   position: relative;
   zoom: 1;
   font-weight: normal;
   text-align: center 
}

.tle_1,.tle_2,.tle_3,.tle_4 {
   display: inline-block;
   width: 71px;
   height: 17px;
}

.tle_1 { background-position: -536px -93px; }
.tle_2 { background-position: -536px -112px; }
.tle_3 { background-position: -536px -131px; }
.tle_4 { background-position: -536px -150px; }

.br_7 {
    border-color: transparent transparent transparent #d9d9d9;
    border-style: dashed dashed dashed solid;
    border-width: 7px;
    right: -15px;
    font-size: 0;
    height: 0;
    top: 18px;
    overflow: hidden;
    position: absolute;
    width: 0;
}

.br_8 {
    border-color: transparent transparent transparent #fff;
    border-style: dashed dashed dashed solid;
    border-width: 7px;
    right: -14px;
    font-size: 0;
    height: 0;
    top: 18px;
    overflow: hidden;
    position: absolute;
    width: 0;
}

/* 序号 */
.ico_no1,.ico_no2,.ico_no3,.ico_no4 {
   display: inline-block;
   width: 10px;
   height: 18px;
   margin-right: 5px;
   vertical-align: middle;
}

.ico_no1 { background-position: -79px -140px; }
.ico_no2 { background-position: -93px -140px; }
.ico_no3 { background-position: -106px -140px; }
.ico_no4 { background-position: -119px -140px; }

/* 天气 */
.btn_site_pop {
   background: #fff;
   border: solid 1px #D2E1F1;
   line-height: 22px;
}


.btn_site_pop a {
   display: inline-block;
   margin: 0 10px;
   padding: 2px 4px 3px;
   color: #666;
   vertical-align: middle;
}

/* 品牌合作 */
.picleft_2 a {
   position: absolute;
   left: 5px;
   top: 25px;
   font-size: 30px;
   color: #D2E1F1;
}

.picleft_2 a:hover,.picright_2 a:hover {
   color: #bed4eb;
   text-decoration: none;
}

.picright_2 a {
   position: absolute;
   right: 5px;
   top: 25px;
   font-size: 30px;
   color: #D2E1F1;
}

.picBoxInner_2 {
   width: 2000px;
   position: absolute;
   left: 0;
}

.picBox_2 {
   width: 190px;
   height: 86px;
   position: relative;
   margin: 0 15px 0 18px;
   overflow: hidden;
}

.backToTop {
    display: none;
    width: 18px;
    line-height: 1.2;
    padding: 5px 0;
    background-color: #F6F9FE;
    border: solid 1px #B5CBD9;
    color: #1851A5;
    font-size: 12px;
    text-align: center;
    position: fixed;
    _position: absolute;
    left: 50%;
    margin-left: 484px;
    bottom: 100px;
    _bottom: "auto";
    cursor: pointer;
}

/* 人民网模块 */
.ico_rew {
   display: inline-block;
   width: 43px;
   height: 18px;
   background-position: -707px -73px;
   vertical-align: middle 
}

/* 商家大全 */
.shop_link_tags {
   position: absolute;
   zoom: 1;
   height: 218px;
   background: #fff;
   z-index: 5;
   margin-right: -400px;
}

.item_shop_link {
   padding: 8px 0 7px;
   line-height: 20px;
   white-space:nowrap
}

.item_shop_link .mr10 {
   display: inline-block;
   vertical-align: middle;
}

.shop_link_more {
   display: none;
}

.btn_switch {
   position: absolute;
   right: -10px;
   top: -1px;
   display: none;
   width: 9px;
   height: 37px;
   background-position: -786px -70px;
   cursor: pointer;
}

.btn_switch_close {
   display: block;
   background-position: -770px -70px;

}

.hover {
   border-color: #a6c4e3;
}

.shop_link_tags.hover .btn_switch {
   display: block;
}


.show_w .item_shop_link {
   padding-right: 10px;
}

/* 教育模块 */
.btn_edu_1 {
   display: inline-block;
   padding: 1px;
   background: #fff;
   border: solid 1px #98C46D;
   
}

.btn_edu_in_1 {
   display: inline-block;
   padding: 0 8px;
   background: #53AEE9;
   line-height: 22px;
   text-align: center;
   color: #fff;
}

/* 浮动窗口 */
.folat_win {
   padding: 10px;
   background: #ebebeb;
   overflow: hidden;
   height: 180px;
   position: fixed;
   right: 0;
   top: 260px;
   z-index: 1000;
}

.folat_win img {
   width: 93px;
}

.folat_win  h4 {
   font-family: "微软雅黑"; 
   font-size: 18px;
   font-weight: normal;
   color: #004498;
   text-shadow: 0 -1px 0 #fff;
}

.folat_win_line1 { border-bottom: dotted 1px #cacaca; }
.folat_win_line2 { border-bottom: dotted 1px #fcfcfc; }
* html,* html body /* IE6 Fixed Position Jitter Fix */{background-image:url(about:blank);background-attachment:fixed;}
* html .folat_win{position: absolute; top: expression(documentElement.scrollTop +260+ "px" )}

.ell {
    width: 100%;
    overflow: hidden;
    text-overflow:  ellipsis;
    white-space: nowrap;
}

.btn_1 {
   display: inline-block;
   border-top: solid 1px #3C9BE0;
   border-bottom: solid 1px #3C9BE0;
   color: #fff;
}

.btn_1 .btn_in {
   position: relative;
   display: inline-block;
   background: #3C9BE0;
   padding: 0 10px;
   margin: 0 -1px;
   border-left: solid 1px #3C9BE0;
   border-right: solid 1px #3C9BE0;
   line-height: 24px;
}

.btn_1:hover .btn_in { background: #4aa3e2}

.wF_progress{position:relative;width:206px;height:135px;margin:10px;padding-bottom:10px;background:#fff;z-index:1}
.wF_progress .wjy_pic{position:absolute;left:0;top:0;width:100%;height:100%;overflow:hidden;z-index:2;}
.wF_progress .wjy_pic .wjy_pic_item{display:inline;float:left;width:206px;height:100%;}
.wF_progress .wjy_pic .active{z-index:2;}
.wjy_txt h3{margin-bottom:8px;font-size:24px;font-weight:normal;font-family:Microsoft YaHei,SimHei;}
.wjy_txt .ell{width:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;color:#666;line-height:22px;}
.wjy_txt .ico_tag{display:inline-block;padding:0 5px;height:24px;margin-right:10px;line-height:24px;background:#BF4A08;color:#fff;font-size:14px;font-family:\5b8b\4f53;vertical-align:middle;}
.wjy_hover .prev,.wjy_hover .next{background:url(/images/www/slider-arrows.png) no-repeat 0 0;}
.wF_progress .prev,.wF_progress .next{display:inline-block;position:absolute;top:35%;z-index:5;width:10px;height:24px;opacity:0.6;cursor:pointer;}
.wF_progress .prev{left:-10px;}
.wF_progress .next{right:-10px;background-position:-20px 0;}
.wF_progress .prev:hover,.wF_progress .next:hover{opacity:1;}
.wF_progress .wjy_num{position:absolute;bottom:-5px;right:45%;z-index:11;}
.wF_progress .wjy_num li{display:inline;float:left;margin-left:5px;overflow:hidden;cursor:pointer;font-size:1em}
.wF_progress .wjy_num_pro{color:#B7B7B7;}
.wF_progress .active .wjy_num_pro {color: #f40;}
.wjy_pic ul{position:relative;}

.ico_img_rx { display: inline-block; width: 99px; height: 15px; background-position: -614px -151px; vertical-align: middle; }

/*/js/plugins/imgslider/imgslider.css*/
﻿.imgBox{width:100%;height:100%;}
.imgBox ul{list-style:none;}
.imgItem{list-style:none;}
.titleBg{width:100%;height:38px;background:#000000;opacity:0.4;filter: alpha(opacity=40);z-index:9;margin-top:-38px;}
.titleList{width:99%;height:38px;position:relative;z-index:99;margin-top:-40px;clear:both;}
.imgTitle{width:60%;height:38px;float:left;color:#fff;font-size:14px;font-weight:bold;line-height:38px;margin-left:10px;margin-top:0px;padding-top:4px;}
.imgIndex{list-style:none;cursor:pointer;float:right;width:15px;font-size:13px;height:18px;color:#fff;text-align:center;line-height:18px;background:#808080;margin-right:1px;margin-top: 12px;opacity:0.8;filter: alpha(opacity=80);}
.current{background:#F60;}
.loading{width:100%;height:100%;text-align:center;margin-top:90px;font-weight:bold;}

/*/js/plugins/datepicker/jquery-ui-1.10.3.custom.min.css*/
﻿.ui-helper-clearfix:before,.ui-helper-clearfix:after{display:table;border-collapse:collapse;content:""}.ui-helper-clearfix:after{clear:both}.ui-helper-clearfix{min-height:0}.ui-helper-zfix{position:absolute;top:0;left:0;width:100%;height:100%;opacity:0;filter:Alpha(Opacity=0)}.ui-state-disabled{cursor:default!important}.ui-icon{display:block;overflow:hidden;background-repeat:no-repeat;text-indent:-99999px}.ui-datepicker{display:none;padding:.2em .2em 0;width:17em}.ui-datepicker .ui-datepicker-header{position:relative;padding:.2em 0}.ui-datepicker .ui-datepicker-prev,.ui-datepicker .ui-datepicker-next{position:absolute;top:2px;width:1.8em;height:1.8em}.ui-datepicker .ui-datepicker-prev-hover,.ui-datepicker .ui-datepicker-next-hover{top:1px}.ui-datepicker .ui-datepicker-prev{left:2px}.ui-datepicker .ui-datepicker-next{right:2px}.ui-datepicker .ui-datepicker-prev-hover{left:1px}.ui-datepicker .ui-datepicker-next-hover{right:1px}.ui-datepicker .ui-datepicker-prev span,.ui-datepicker .ui-datepicker-next span{position:absolute;top:50%;left:50%;display:block;margin-top:-8px;margin-left:-8px}.ui-datepicker .ui-datepicker-title{margin:0 2.3em;text-align:center;line-height:1.8em}.ui-datepicker .ui-datepicker-title select{margin:1px 0;font-size:1em}.ui-datepicker select.ui-datepicker-month-year{width:100%}.ui-datepicker select.ui-datepicker-month,.ui-datepicker select.ui-datepicker-year{width:49%}.ui-datepicker table{margin:0 0 .4em;width:100%;border-collapse:collapse;font-size:.9em}.ui-datepicker th{padding:.7em .3em;border:0;text-align:center;font-weight:700}.ui-datepicker td{padding:1px;border:0}.ui-datepicker td span,.ui-datepicker td a{display:block;padding:.2em;text-align:right;text-decoration:none}.ui-datepicker .ui-datepicker-buttonpane{margin:.7em 0 0;padding:0 .2em;border-right:0;border-bottom:0;border-left:0;background-image:none}.ui-datepicker .ui-datepicker-buttonpane button{float:right;overflow:visible;margin:.5em .2em .4em;padding:.2em .6em .3em;width:auto;cursor:pointer}.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current{float:left}.ui-datepicker.ui-datepicker-multi{width:auto}.ui-datepicker-multi .ui-datepicker-group{float:left}.ui-datepicker-multi .ui-datepicker-group table{margin:0 auto .4em;width:95%}.ui-datepicker-multi-2 .ui-datepicker-group{width:50%}.ui-datepicker-multi-3 .ui-datepicker-group{width:33.3%}.ui-datepicker-multi-4 .ui-datepicker-group{width:25%}.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header{border-left-width:0}.ui-datepicker-multi .ui-datepicker-buttonpane{clear:left}.ui-datepicker-row-break{clear:both;width:100%;font-size:0}.ui-datepicker-rtl{direction:rtl}.ui-datepicker-rtl .ui-datepicker-prev{right:2px;left:auto}.ui-datepicker-rtl .ui-datepicker-next{right:auto;left:2px}.ui-datepicker-rtl .ui-datepicker-prev:hover{right:1px;left:auto}.ui-datepicker-rtl .ui-datepicker-next:hover{right:auto;left:1px}.ui-datepicker-rtl .ui-datepicker-buttonpane{clear:right}.ui-datepicker-rtl .ui-datepicker-buttonpane button{float:left}.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,.ui-datepicker-rtl .ui-datepicker-group{float:right}.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header{border-right-width:0;border-left-width:1px}.ui-widget{font-size:1.1em;font-family:Trebuchet MS,Tahoma,Verdana,Arial,sans-serif}.ui-widget .ui-widget{font-size:1em}.ui-widget input,.ui-widget select,.ui-widget textarea,.ui-widget button{font-size:1em;font-family:Trebuchet MS,Tahoma,Verdana,Arial,sans-serif}.ui-widget-content{border:1px solid #ddd;background:#eee url(/js/plugins/datepicker/images/ui-bg_highlight-soft_100_eeeeee_1x100.png) 50% top repeat-x;color:#333}.ui-widget-content a{color:#333}.ui-widget-header{border:1px solid #e78f08;background:#f6a828 url(/js/plugins/datepicker/images/ui-bg_gloss-wave_35_f6a828_500x100.png) 50% 50% repeat-x;color:#fff;font-weight:bold}.ui-widget-header a{color:#fff}.ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default{border:1px solid #ccc;background:#f6f6f6 url(/js/plugins/datepicker/images/ui-bg_glass_100_f6f6f6_1x400.png) 50% 50% repeat-x;color:#1c94c4;font-weight:bold}.ui-state-default a,.ui-state-default a:link,.ui-state-default a:visited{color:#1c94c4;text-decoration:none}.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-widget-header .ui-state-hover,.ui-state-focus,.ui-widget-content .ui-state-focus,.ui-widget-header .ui-state-focus{border:1px solid #fbcb09;background:#fdf5ce url(/js/plugins/datepicker/images/ui-bg_glass_100_fdf5ce_1x400.png) 50% 50% repeat-x;color:#c77405;font-weight:bold}.ui-state-hover a,.ui-state-hover a:hover,.ui-state-hover a:link,.ui-state-hover a:visited{color:#c77405;text-decoration:none}.ui-state-active,.ui-widget-content .ui-state-active,.ui-widget-header .ui-state-active{border:1px solid #fbd850;background:#fff url(/js/plugins/datepicker/images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x;color:#eb8f00;font-weight:bold}.ui-state-active a,.ui-state-active a:link,.ui-state-active a:visited{color:#eb8f00;text-decoration:none}.ui-state-highlight,.ui-widget-content .ui-state-highlight,.ui-widget-header .ui-state-highlight{border:1px solid #fed22f;background:#ffe45c url(/js/plugins/datepicker/images/ui-bg_highlight-soft_75_ffe45c_1x100.png) 50% top repeat-x;color:#363636}.ui-state-highlight a,.ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a{color:#363636}.ui-state-error,.ui-widget-content .ui-state-error,.ui-widget-header .ui-state-error{border:1px solid #cd0a0a;background:#b81900 url(/js/plugins/datepicker/images/ui-bg_diagonals-thick_18_b81900_40x40.png) 50% 50% repeat;color:#fff}.ui-state-error a,.ui-widget-content .ui-state-error a,.ui-widget-header .ui-state-error a{color:#fff}.ui-state-error-text,.ui-widget-content .ui-state-error-text,.ui-widget-header .ui-state-error-text{color:#fff}.ui-priority-primary,.ui-widget-content .ui-priority-primary,.ui-widget-header .ui-priority-primary{font-weight:bold}.ui-priority-secondary,.ui-widget-content .ui-priority-secondary,.ui-widget-header .ui-priority-secondary{font-weight:normal;opacity:.7;filter:Alpha(Opacity=70)}.ui-state-disabled,.ui-widget-content .ui-state-disabled,.ui-widget-header .ui-state-disabled{background-image:none;opacity:.35;filter:Alpha(Opacity=35)}.ui-state-disabled .ui-icon{filter:Alpha(Opacity=35)}.ui-icon{width:16px;height:16px}.ui-icon,.ui-widget-content .ui-icon{background-image:url(/js/plugins/datepicker/images/ui-icons_222222_256x240.png)}.ui-widget-header .ui-icon{background-image:url(/js/plugins/datepicker/images/ui-icons_ffffff_256x240.png)}.ui-state-default .ui-icon{background-image:url(/js/plugins/datepicker/images/ui-icons_ef8c08_256x240.png)}.ui-state-hover .ui-icon,.ui-state-focus .ui-icon{background-image:url(/js/plugins/datepicker/images/ui-icons_ef8c08_256x240.png)}.ui-state-active .ui-icon{background-image:url(/js/plugins/datepicker/images/ui-icons_ef8c08_256x240.png)}.ui-state-highlight .ui-icon{background-image:url(/js/plugins/datepicker/images/ui-icons_228ef1_256x240.png)}.ui-state-error .ui-icon,.ui-state-error-text .ui-icon{background-image:url(/js/plugins/datepicker/images/ui-icons_ffd27a_256x240.png)}.ui-icon-circle-triangle-e{background-position:-48px -192px}.ui-icon-circle-triangle-w{background-position:-80px -192px}.ui-corner-all,.ui-corner-top,.ui-corner-left,.ui-corner-tl{border-top-left-radius:4px}.ui-corner-all,.ui-corner-top,.ui-corner-right,.ui-corner-tr{border-top-right-radius:4px}.ui-corner-all,.ui-corner-bottom,.ui-corner-left,.ui-corner-bl{border-bottom-left-radius:4px}.ui-corner-all,.ui-corner-bottom,.ui-corner-right,.ui-corner-br{border-bottom-right-radius:4px}
