/* CSS Document */
body{margin: 0px; padding:0; font-size:12px; color:#666; font-family:Verdana, Geneva, sans-serif; background:#fff1df;}
dl,dt,dd,ul,li,h1,h2,form,input,textarea,p,td,h4,h3{padding:0;margin:0;}
ul,dl{list-style:none;}
img{ vertical-align:top;border:0;}
.clear{clear:both}
.left{float:left}
.right{float:right;}


.header{height:62px; background:url(/images/orange/header_bg-1.jpg) repeat-x;width:100%;clear:both;}
.top{margin:0 auto;height:62px;max-width: 1300px;min-width: 1007px;}
.top_logo{ margin-top:5px;}
.top_nav{ height:30px; margin:22px 0 0 10px;}
.top_nav li{font-size:14px;color:#ffd71a; margin:0 13px 0 0;font-weight:bold;}
.top_nav li a{ text-decoration:none; color:#fff;}
.top_nav li a:hover{ color:#ffd71a;}
  .top_search{ margin-top:16px;padding-right:10px;width:351px; height:33px;}
   .top_search_buttons{ float:left;color:#fff;}
     .top_search_buttons span{ float:left; margin:0 10px 0 0;}
   .top_search_input{ float:right; background:url(/images/orange/search_bg-1.jpg) no-repeat; width:202px; height:33px;}
   .top_search_input input{ float:left; height:28px; background:none; border:1px none; line-height:28px; padding:0 0 0 5px; color:#ffe3bf; width:162px;}
   .top_search_input span{ float:right;margin:0px;padding:0px;}
   .top_search_input span input{ background:none;margin:0px;padding:0px; width:35px; height:28px; cursor:pointer;}
   
#simplemodal-overlay {background-color:#000;}
#simplemodal-container {background-color:#000;border:6px solid #fff;}
#simplemodal-container a.modalCloseImg {background:url(/images/orange/delete.png) no-repeat; width:44px; height:44px; display:inline; z-index:3200; position:absolute; top:-22px; right:-22px; cursor:pointer;}

#jsddm{	margin: 0;	padding: 0; z-index:100000;}	
	#jsddm li {	float: left; list-style: none; display: block;z-index:100000;}
	#jsddm li a { text-decoration: none; color: #fff;z-index:100000;}
	#jsddm li a:hover { color:#ffd71a;z-index:100000;}
	#jsddm li ul { padding: 5px 0 0 0;margin:0; position: absolute; visibility: hidden;z-index:100000;}
	#jsddm li ul li {float: none; display: block;width:auto;background: #a3592e;padding: 5px 10px 5px 10px;color: #ffe3bf;z-index:100000; font-weight:normal;}
	#jsddm li ul li.jsddm_text {background: #a3592e;color:#ffd71a;z-index:100000;}



div.container {
	background:#2ba4d1;
	padding:4px 7px 0 7px;
	margin-left: auto;
	margin-right:auto;
	text-align: left;
	width:990px;
/*	padding:1px;
	padding-top:0;*/
	border:1px solid #ccc;
	border-bottom:none;
	background:#FFF;
	margin-bottom:60px;
}
div.allgames {
    margin-left:auto;
    margin-right:auto;
	height:500px;
}
div.bottomtext {
    clear:both;
	padding:5px 10px 10px 10px;
	color:#797979;
}
#sticky_top { position: fixed;	z-index:1000;}
#sticky_bottom{ position:fixed;    bottom:0;	z-index:1000;}

div.thumb {	
	float: left;
	margin: 5px;
	text-align: center;
	width: 180px;
	height: 135px;
	position:relative;
	border-radius:14px 12px 5px 10px;
}
div.thumb a img {
	border: 1px solid #F2F6F8;
	width: 180px;	
	height: 135px;
	border-radius:10px;
}

div.thumb a:hover img {
	filter:alpha(opacity=70);
	-moz-opacity: 0.70;
	opacity: 0.70;
}

div.thumb a {
	color:#f5f500;
	text-decoration: none;
}
div.thumb a:hover {
	color:#f5f500;
	text-decoration: none;
}



div.thumb-hot {
	width: 370px;
	height: 280px;
}
div.thumb-hot a img {
	width: 370px;	
	height: 280px;
	/* border-radius:10px; */
}

.alpha:hover img {	filter:alpha(opacity=80);	-moz-opacity: 0.80;	opacity: 0.80;	}

div.thumb span.GameName{position:absolute;bottom:-1px;left:1px;width:180px;height:auto;display:none;color:#fde249; background-color:#3F3F3F; padding:5px 0 5px 0; font-weight:bold; font-family:Verdana, Geneva, sans-serif;border-bottom-left-radius:10px;border-bottom-right-radius:10px;}
.sign_new{position:absolute;top:0px;left:0px;width:50px;height:50px;background:url(/images/orange/ico_new.png) 0 0 no-repeat;}
.sign_hot{position:absolute;top:0px;left:0px;width:50px;height:50px;background:url(/images/orange/ico_hot.png) 0 0 no-repeat;}
.sign_top{position:absolute;top:0px;left:0px;width:50px;height:50px;background:url(/images/orange/ico_top.png) 0 0 no-repeat;}

div.thumb-hot span.GameName{width:370px;}

span.GameRating {
	position:absolute;top:2px;right:2px;
    display: none;
    background: url(/images/orange/stars.png) 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}
span.GameRating span {
    background: url(/images/orange/stars.png) 0 0px repeat-x;
	display: block;
    width: 80px;
    height: 16px;
}


.disabledbutton {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
  cursor:wait;
}

a img{
	border:0;
}

#loadingmoregames{ width:100%; text-align:center;}


.foot{  height:30px;width:100%;line-height:30px;color:#fff;clear:both;}
 .foot_container {background:#f96b0d;}
 .foot  a{ color:#fff; text-decoration:none;}
 .foot  a:hover{ color:#fff; text-decoration:underline} 
 .foot .div_left{float:left;margin:0 0 0 10px;width:400px;}
 .foot .div_right{ float:right; width:340px;text-align:right;margin:0 10px 0 0;}
 .foot .div_center{margin:0 auto;width:200px;text-align:center;}

 
#backToTop {
    width:60px;
    height:50px;
    position:fixed;
    bottom:50px;
    right:10px;
	display:none;
}
div.div_floadlogo{
	position:fixed;
	bottom:100px;
	right:100px;
	width:400px;
	height:300px;
}
#floadlogo_image{
	width:400px;
	height:300px;
}
div.div_floadlogo_image{
	position:relative;	
	width:400px;
	height:300px;
}
div.div_floadlogo_text{
	position:absolute;
	color:#fff;
	left:80px;
	top:215px;
	width:220px;
	height:24px;
	font-size:14px;
	line-height:24px;
	overflow:hidden;
	font-weight:bold;
	text-align:center;
}