@charset "utf-8";
/*ad*/
/*1200*97*/
.ad1200-97{width:1180px;margin:0 auto;}

/*466*312*/
.ad466-312{width:480px;}


/*285-214*/
.ad285-214{width:285px; }



/*380-507*/
.ad380-507{width:410px; }



button[type='button'][disabled='disabled']{cursor:not-allowed !important;}
button[type='button'][disabled='disabled']:hover{background-color:#dfdfdf !important;}
/*pichover*/
.pichover .pichover-left {
    width:3px;
    height: 0px;
    background: #f3a107;
    position: absolute;
    left:0;
    bottom: 0;
    z-index:999;
}
.pichover .pichover-bottom {
    width: 0px;
    height: 3px;
    background: #f3a107;
    position: absolute;
    left: 0;
    bottom: 0px;
    z-index:999;
}
.pichover .pichover-top {
    width: 0px;
    height:3px;
    background: #f3a107;
    position: absolute;
    right: 0;
    top: 0px;
    z-index:999;
}
.pichover .pichover-right {
    width:3px;
    height: 0px;
    background: #f3a107;
    position: absolute;
    right:0;
    top: 0;
    z-index:999;
}
/*font*/
/*@font-face {
    font-family: 'simyou';
    src: url('../../../font/SIMYOU.eot');
    src:
    url('../../../font/SIMYOU.eot?#font-spider') format('embedded-opentype'),
    url(../../../font/SIMYOU.woff') format('woff'),
    url('../../../font/SIMYOU.TTF') format('truetype'),
    url('../../../font/SIMYOU.svg#simyou') format('svg');
    font-weight: normal;
    font-style: normal;
}*/
@font-face {
    font-family: 'Raleway5ebd0ae4816584';
    src: url('//cdn.webfont.youziku.com/webfonts/nomal/91524/46818/57e0ef76f629de012cc25a86.gif');
    src: url('//cdn.webfont.youziku.com/webfonts/nomal/91524/46818/57e0ef76f629de012cc25a86.gif?#iefix') format('embedded-opentype'),
         url('//cdn.webfont.youziku.com/webfonts/nomal/91524/46818/57e0ef76f629de012cc25a86.bmp') format('woff'), 
         url('//cdn.webfont.youziku.com/webfonts/nomal/91524/46818/57e0ef76f629de012cc25a86.jpg') format('truetype'),
         url('//cdn.webfont.youziku.com/webfonts/nomal/91524/46818/57e0ef76f629de012cc25a86.png#Raleway') format('svg');
}


/*@font-face {
    font-family: 'YouYuan5c7fd773f16584';
    src: url('http://static.www.gfan.com/statics/font/57d7c3a1f629d80a14a4ae35.gif');
    src: url('http://static.www.gfan.com/statics/font/57d7c3a1f629d80a14a4ae35.gif?#iefix') format('embedded-opentype'),
    url('http://static.www.gfan.com/statics/font/57d7c3a1f629d80a14a4ae35.bmp') format('woff'),
    url('http://static.www.gfan.com/statics/font/57d7c3a1f629d80a14a4ae35.jpg') format('truetype'),
    url('http://static.www.gfan.com/statics/font/57d7c3a1f629d80a14a4ae35.png#YouYuan') format('svg');
}*/
@font-face {
    font-family: 'YouYuan5c7fd773f16584';
    src: url('//cdn.webfont.youziku.com/webfonts/nomal/91524/46614/5800797cf629db1b4015dc97.gif');
    src: url('//cdn.webfont.youziku.com/webfonts/nomal/91524/46614/5800797cf629db1b4015dc97.gif?#iefix') format('embedded-opentype'),
    url('//cdn.webfont.youziku.com/webfonts/nomal/91524/46614/5800797cf629db1b4015dc97.bmp') format('woff'),
    url('') format('truetype'),
    url('#YouYuan') format('svg');}

/*header*/
.header{background-color:#f2f3f3;
    filter: progid:DXImageTransform.Microsoft.Shadow(color='#c9c9c9', Direction=135, Strength=5);/*for ie6,7,8*/
    -moz-box-shadow:1px 1px 4px #c9c9c9;/*firefox*/
    -webkit-box-shadow:1px 1px 4px #c9c9c9;/*webkit*/
    box-shadow:1px 1px 4px #c9c9c9;/*opera或ie9*/}
.header .header-main{width:1180px;height:57px;padding:20px 0;margin:0 auto;border-bottom:4px solid #f3a107;}
.header .header-main>ul{padding-left:20px;}
.header .header-main>ul li{float: left;height:57px;line-height:57px;padding:0 20px;}
.header .header-main>ul li a{font-size:22px;color:#000000;font-family:"YouYuan5c7fd773f16584";text-shadow:0 0 0.1px #000000;}
.header .header-main>ul li a:hover{color:#f3a107;text-shadow:0 0 0.1px #f3a107;}
.header .header-main>ul li.curr a{color:#f3a107;text-shadow:0 0 0.1px #f3a107;}

/*header-mr*/
.header .header-main .header-mr>a{ font-size:14px; padding:0 10px; line-height:57px;}
.header .header-main .header-mr .search-btn{padding:0; margin:14.5px 15px 0 0;width:29px;height:26px;border:1px solid #818282;background:url("../../../images/gfanimages/images/search-btn.png") no-repeat center center;}
.header .header-main .header-mr .search-btn:hover{background-color:#f3a107;width:31px;height:28px;border:none;}

.header .header-main .gf-login{position: relative; margin-right:10px;}
.header .header-main .gf-login>a{ font-size:14px; padding:0 5px;width:104px;display:block;line-height:57px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.header .header-main .gf-login>a:hover{color:#000000;}
.header .header-main .gf-login>a>img{width:22px; height:22px; margin-right:5px;
    -moz-border-radius:11px; /* Firefox */
    -webkit-border-radius:11px; /* Safari 和 Chrome */
    border-radius:11px; /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */}
.header .header-main .gf-login ul{display: none;}

.header .header-main .gf-related{position: relative;}
.header .header-main .gf-related>a{ font-size:14px; padding:0 5px;width:78px;display:block;line-height:57px;}
.header .header-main .gf-related>a:hover{color:#000000;}
.header .header-main .gf-related>a i{ width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 10px solid #666666;
    position: absolute;
    top:24px;
    right:5px;
}
.header .header-main .gf-related ul{display: none;}
.header .header-main .curr>a>i{border-top: 10px solid #f3a107;}
.header .header-main .curr ul{display:block;position: absolute; top:50px;z-index:99;padding:5px;width:76px;background:#ffffff url("../../../images/gfanimages/images/gf_relatedbg.png") no-repeat top center;
    filter: progid:DXImageTransform.Microsoft.Shadow(color='#969696', Direction=135, Strength=5);/*for ie6,7,8*/
    -moz-box-shadow:1px 1px 2px #969696;/*firefox*/
    -webkit-box-shadow:1px 1px 2px #969696;/*webkit*/
    box-shadow:1px 1px 2px #969696;/*opera或ie9*/ }
.header .header-main .curr ul li{text-align: center;height:29px;line-height:29px;border-bottom:1px solid #cbcbcb;}
.header .header-main .curr ul li a{font-size:14px;}
.header .header-main .curr ul li:hover{border-bottom:1px solid #f3a107;}
.header .header-main .curr ul li:last-child{border-bottom:none;}


.header .header-main.header-pic{width:1180px;height:34px;padding:15px 0;margin:0 auto;border-bottom:none;}
.header .header-main.header-pic .logo{width:90px;}
.header .header-main.header-pic .logo>img{width:100%;height:auto;}
.header .header-main.header-pic>ul{padding-left:10px;}
.header .header-main.header-pic>ul li{height:34px;line-height:34px;font-size:14px;color:#999999;}
.header .header-main.header-pic>ul li a{font-size:14px;padding:0 10px;color:#999999;text-shadow:none;font-family: " Microsoft Yahei ", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, 微软雅黑;}
.header .header-main.header-pic>ul li a:hover{color:#f3a107;}
.header .header-main.header-pic>ul li a.curr{color:#f3a107;}
.header .header-main.header-pic .header-mr>a{ font-size:14px; padding:0 10px; line-height:34px;}
.header .header-main.header-pic .header-mr .search-btn{margin:3px 15px 0 0;padding:0;}
.header .header-main.header-pic .gf-login>a{line-height:34px;}
.header .header-main.header-pic .gf-related>a{line-height:34px;}
.header .header-main.header-pic .gf-related>a i{top:12px;}
.header .header-main.header-pic .curr ul{top:34px;}


/*nav*/
.home-nav{
    position: fixed;
    left: 50%;
    margin-left:605px;
    top: 50%;
    margin-top: -95px;
    _position: absolute;
    z-index: 999999;
    display: none;
}
.home-nav ul li{
    width:60px;
    height:30px;
    line-height:30px;
    text-align: center;
    margin-bottom:2px;
    background-color:#000000;
}
.home-nav ul li a{
    display: block;
    width:100%;
    height:100%;
    font-size:14px;
    color:#f3a107;
}
.home-nav ul li a.fix-top{background:url("../../../images/gfanimages/images/fix-top.png") no-repeat center center;}
/*分页*/
.page{text-align: center; margin:20px 0 0;}
.page .page-main{height:34px;line-height:34px;display: inline-block;}
.page .page-main a,
.page .page-main span{border:1px solid #d2d2d2;display: inline-block;width:44px;text-align: center;font-size:12px;margin:0 2px;}
.page .page-main span{background:#f3a107;color:#ffffff;}
.page .page-main a:hover{background:#f3a107;color:#ffffff;}
.page .page-main a:active{background:#d48d07;color:#ffffff;}



/*share  分享*/
.share{
    position: fixed;
    right: 50%;
    margin-right:605px;
    top:200px;
    _position: absolute;
    z-index: 999999;
    width:33px;height:135px;
}
.share ul{width:33px;height:135px;}
.share ul li{background:url("../../../images/gfanimages/images/share.png") no-repeat;width:33px;height:33px;margin-bottom:3px;}
.share ul li:nth-child(1){background-position:0 0;}
.share ul li:nth-child(2){background-position:0 -34px;}
.share ul li:nth-child(3){background-position:0 -68px;}
.share ul li:nth-child(4){background-position:0 -101px;}
.share ul li a{display: block;width:100%;height:100%;}

.gfan-bg{position:fixed;_position:absolute;left: 0;top: 0;width: 100%;height: 100%;filter: alpha(opacity=70);-moz-opacity: 0.7;opacity:0.7;background: #000;z-index:10600;-webkit-transition-duration: 400ms;transition-duration: 400ms;display: none;}
form .input-text:hover{border-color:#ddd;}
.form-horizontal .formControls{padding-right:0;padding-bottom:20px;}
.form-horizontal .formControls input{font-size:10px;}
.form-horizontal .formControls p{position: absolute;left:0;bottom:0;color:#e90101;}
.formControls .foCon-verify{width:220px;}
.formControls .foCon-gain .foCon-gain-img{width:113px;height:29px;border:1px solid #ababab;cursor: pointer;}
.formControls .foCon-gain .foCon-gain-img img{width:100%;height:100%;}
.formControls .foCon-gain a{position: absolute;right:0;bottom:0;}
.formControls .foCon-note input{width:115px;}
.btn-submit input[type=submit]{background-color:#000000;color:#FFFFFF;}
.btn-submit input[type=submit]{background-color:#000000;color:#FFFFFF;}
.btn-submit input[type=submit]:hover,
.btn-submit input[type=submit]:focus{color:#000;background-color:#f3a107;}
.btn-submit input[type=submit].active{color:#000;background-color:#df9304;}
/*登录*/
.gfan-login{width:680px;height:336px;background-color:#FFFFFF;position:fixed;_position:absolute;z-index:11600;top:50%;left:50%;margin:-168px 0 0 -340px;-webkit-transition-duration: 400ms;transition-duration: 400ms; display: none;}
.gfan-login h2{text-align: center;height:49px;line-height:49px;font-size:20px;color:#000000;background-color:#d2d2d2;}
.gfan-login .shut-down{display: block;width:49px;height:49px;position: absolute;top: 0;right:0;background:url("../../../images/gfanimages/images/shut_down.png") no-repeat center center;cursor:pointer;}
.gfan-login .gfan-login-main{width:360px; margin:0 auto;}

/*注册*/
.gfan-register{width:680px;height:486px;background-color:#FFFFFF;position:fixed;_position:absolute;z-index:11600;top:50%;left:50%;margin:-243px 0 0 -340px;-webkit-transition-duration: 400ms;transition-duration: 400ms;display: none;}
.gfan-register h2{text-align: center;height:49px;line-height:49px;font-size:20px;color:#000000;background-color:#d2d2d2;}
.gfan-register .shut-down{display: block;width:49px;height:49px;position: absolute;top: 0;right:0;background:url("../../../images/gfanimages/images/shut_down.png") no-repeat center center;cursor:pointer;}
.gfan-register .gfan-register-main{width:380px; margin:0 auto;}
.gfan-register .form-label {width:70px;float: left;font-size: 16px;}
.gfan-register .formControls{float: left; width:300px;}
.gfan-register .foCon-verify{width:140px;}
.gfan-register .pwd-check{position: absolute;right:0;bottom: 0;height:18px;}
.gfan-register .pwd-check span{display: inline-block;border:1px solid #acacac;width:40px;text-align:center;font-size:10px;height:16px;line-height:16px;}
.gfan-register .pwd-check span.pwd-check01{border:none;background-color:#f4d190;}
.gfan-register .pwd-check span.pwd-check02{border:none;background-color:#f9b73b;}
.gfan-register .pwd-check span.pwd-check03{border:none;background-color:#fca400;}

/*找回密码*/
.gfan-retrieve{width:680px;height:486px;background-color:#FFFFFF;position:fixed;_position:absolute;z-index:11600;top:50%;left:50%;margin:-243px 0 0 -340px;-webkit-transition-duration: 400ms;transition-duration: 400ms;display: none;}
.gfan-retrieve h2{text-align: center;height:49px;line-height:49px;font-size:20px;color:#000000;background-color:#d2d2d2;}
.gfan-retrieve .shut-down{display: block;width:49px;height:49px;position: absolute;top: 0;right:0;background:url("../../../images/gfanimages/images/shut_down.png") no-repeat center center;cursor:pointer;}
.gfan-retrieve .gfan-retrieve-main{width:380px; margin:0 auto;overflow: hidden;}
.gfan-retrieve .gfan-retrieve-main h3 span{display:inline-block;border-bottom:6px solid #000000;width:190px;text-align: center;height:28px;line-height:28px;font-size:16px;padding-top:20px;cursor: pointer;}
.gfan-retrieve .gfan-retrieve-main h3 span.active{border-bottom-color:#f3a107;}

.gfan-retrieve .phone-retrieve .form-label {width:70px;float: left;font-size: 16px;}
.gfan-retrieve .phone-retrieve .formControls{float: left; width:300px;}
.gfan-retrieve .phone-retrieve .foCon-verify{width:140px;}

.gfan-retrieve .gfan-retrieve-main .gfan-retrieve-tabbox{width:760px;}
.gfan-retrieve .gfan-retrieve-main .gfan-retrieve-tabbox>div{float:left;width:380px;}

.gfan-retrieve .email-retrieve-return{position: absolute;z-index:999;left:0;right:0;top:49px;bottom:0; -webkit-transition-duration: 400ms;transition-duration: 400ms;display: none;}
.gfan-retrieve .email-retrieve-return span{display: block;background-color:#FFFFFF;position: absolute;z-index:-8;left:0;right:0;top:0;bottom:0;filter: alpha(opacity=90);-moz-opacity: 0.9;opacity:0.9;}
.gfan-retrieve .email-retrieve-return .email-retrieve-return-m{width:160px;height:45px;margin:120px auto 0;border:1px solid #000000;padding:45px 5px 5px 5px;line-height:22px;text-align: center;background:#FFFFFF url("../../../images/gfanimages/images/email-retrieve-return-m.png") no-repeat center 10px;}

/*搜索*/
.gfan-search{width:1010px;height:544px;background-color:#FFFFFF;position:fixed;_position:absolute;z-index:11600;top:50%;left:50%;margin:-272px 0 0 -505px;-webkit-transition-duration: 400ms;transition-duration: 400ms;display: none;}
.gfan-search .shut-down{display: block;width:49px;height:49px;position: absolute;top: 0;right:0;background:url("../../../images/gfanimages/images/shut_down.png") no-repeat center center;cursor:pointer;}
.gfan-search .gfan-search-main{padding:184px 80px 0;}
.gfan-search .gfan-search-main .search-box input{height:80px;font-size:22px;font-weight: normal;letter-spacing:5px;padding-left:70px;width:calc(100% - 76px);background:#f2f2f2 url("../../../images/gfanimages/images/gfansearch.png") no-repeat 20px center;background-size:30px 30px;
    filter: progid:DXImageTransform.Microsoft.Shadow(color='#c9c9c9', Direction=135, Strength=5);/*for ie6,7,8*/
    -moz-box-shadow:1px 1px 4px #c9c9c9;/*firefox*/
    -webkit-box-shadow:1px 1px 4px #c9c9c9;/*webkit*/
    box-shadow:1px 1px 4px #c9c9c9;/*opera或ie9*/
}
.gfan-search .gfan-search-main .search-list{height:35px;margin-top:40px;}
.gfan-search .gfan-search-main .search-list a{display:inline-block;float:left;width:170px;height:33px;line-height:33px;text-align: center;border:1px solid #888888;color:#000000;padding:0 9px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;margin-right:27px;}
.gfan-search .gfan-search-main .search-list a:last-child{margin-right:0;}
.gfan-search .gfan-search-main .search-list a:hover{width:172px;height:35px;background-color:#000000;border:none;color:#FFFFFF;}

.wrap{width:100%;}
.wrap-main{width:1180px; margin:0 auto;}


@media (max-width: 1360px){
    .home-nav{
        right: 0!important;
        left: auto;
    }
    .share{
        left: 0!important;
        right: auto;
    }
}




.footer{background-color:#14222c; padding:90px 0;clear: both;position: relative;z-index: 99999;}
.footer .footer-main{width:1180px; margin:0 auto;}
.footer-main strong{width:190px; height:100%;}

.footer-main .footer-top{height:236px;}
.footer-main .footer-top ul{width:165px;}
.footer-main .footer-top ul.f-r{margin-top: -20px;}
.footer-main .footer-top ul li{height:34px;line-height:34px;padding-bottom:40px;}
.footer-main .footer-top ul li a{font-size:17px;color:#f3a107;}

.footer-main .friendly{border-top:1px solid #8a6415; border-bottom:1px solid #8a6415;height:240px;}
.footer-main .friendly strong{font-size:17px;color:#f3a107;border-top:2px solid #f3a107;width:110px;margin-right:80px;letter-spacing:10px; text-align: center;font-weight:normal;line-height:40px;}
.footer-main .friendly ul{width:99px;padding-top:5px;}
.footer-main .friendly ul li{height:40px;line-height:40px;padding-bottom:5px;width:99px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.footer-main .friendly ul li a{color:#f3a107;}

.footer-main .footer-bottom{text-align: right;}
.footer-main .footer-bottom p{height:36px;line-height:36px;color:#f3a107;display:inline-block;}
.footer-main .footer-bottom p img{width:16px;}