@charset "utf-8";

.main01{height:475px;margin-top:20px;margin-bottom:20px;}
.main01 .main01-left{width:680px;height:476px;float: left;overflow: hidden;background:#474747 url("../../../images/gfanimages/images/figure474747.png") no-repeat center center;background-size:200px auto;position: relative;}
.main01 .main01-left>span{display: block;width:23px;height:43px;position: absolute;top:50%;
    -webkit-transform:translateY(-50%);    /* for Chrome || Safari */
    -moz-transform:translateY(-50%);       /* for Firefox */
    -ms-transform:translateY(-50%);        /* for IE */
    -o-transform:translateY(-50%);         /* for Opera */
    transform:translateY(-50%);
    z-index:99;cursor:pointer;}
.main01 .main01-left>span.prev{background:url("../../../images/gfanimages/images/prev.png") no-repeat;background-size:100% 100%;left:30px;}
.main01 .main01-left>span.next{background:url("../../../images/gfanimages/images/next.png") no-repeat;background-size:100% 100%;right:30px;}

.main01 .main01-left .main01-left-banner{width:100%; height:100%;}
.main01 .main01-left .main01-left-banner a{display:block;width:100%; height:100%; position: absolute; top:0; left:0;}
.main01 .main01-left .main01-left-banner a>img{ width:100%; height:100%;}
.main01 .main01-left ul {overflow: hidden; position: absolute; bottom:5px; left:50%;
    -webkit-transform:translateX(-50%);    /* for Chrome || Safari */
    -moz-transform:translateX(-50%);       /* for Firefox */
    -ms-transform:translateX(-50%);        /* for IE */
    -o-transform:translateX(-50%);         /* for Opera */
    transform:translateX(-50%);}
.main01 .main01-left ul li{display:inline-block;width:12px; height:12px;background-color:#89898d; margin-left:18px; text-align: center; cursor: pointer; border-radius:100%; -webkit-border-radius:100%; -moz-border-radius:100%; -o-border-radius:100%;}
.main01 .main01-left ul li.cur{width:11px; height:11px;border:1px solid #ee9e07;background:none;}


.main01 .main01-right{width:480px;height:476px;float: right;}
.main01 .main01-right h1{background-color:#535353;height:49px;line-height:49px;font-size:30px;font-weight:normal;border-left:16px solid #f3a107;padding-left:24px; color:#f3a107;}

.main01 .main01-right .main01-rmain{height:122px;margin-top:20px;position: relative;
    filter: progid:DXImageTransform.Microsoft.Shadow(color='#c9c9c9', Direction=135, Strength=5);/*for ie6,7,8*/
    -moz-box-shadow:1px 1px 4px #c9c9c9;/*firefox*/
    -webkit-box-shadow:1px 1px 4px #c9c9c9;/*webkit*/
    box-shadow:1px 1px 4px #c9c9c9;/*opera或ie9*/
}
.main01 .main01-right .main01-rmain>i{display: block;width:16px;height:20px;position:absolute;top:12px;left:0;background-color:#000000;}
.main01 .main01-right .main01-rmain h2{height:44px;line-height:44px;padding:0 38px;text-align:center;}
.main01 .main01-right .main01-rmain h2 a{font-size:20px;color:#000000;padding:0 5px;font-family: "microsoft yahei", "黑体";}
.main01 .main01-right .main01-rmain h2 a:hover{color:#f3a107;}
.main01 .main01-right .main01-rmain ul{overflow: hidden;}
.main01 .main01-right .main01-rmain ul li{float: left;width:195px;padding:5px 0;margin-left:40px;margin-right:5px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.main01 .main01-right .main01-rmain ul li i{display: inline-block;width:5px;height:10px;background-color:#000000;margin-right:5px;}
.main01 .main01-right .main01-rmain ul li a{color:#585656;font-size:14px;font-weight: bold;}
.main01 .main01-right .main01-rmain ul li a:hover{color:#f3a107;}
.main01 .main01-right .main01-rmain:hover>i{background-color:#f3a107;}
.main01 .main01-right .main01-rmain ul li:hover i{background-color:#f3a107;}

.main02{margin-top:20px;margin-bottom:20px;height:auto;position: relative;}
.main02 .main02-left{min-height:3600px;height:auto;width:680px;margin-right:492px;background-color:#eeeeee;overflow: hidden;}
.main02 .main02-left .main02-left-nav{height:35px;line-height:35px;background-color:#000000;color:#ffffff;position:absolute;top:0;z-index:99;width:680px;}
.main02 .main02-left .main02-left-nav a{color:#ffffff;font-size:18px;padding:0 20px;border-right:1px solid #FFFFFF;}
.main02 .main02-left .main02-left-nav a:last-child{border-right:none;}
.main02 .main02-left .main02-left-nav a.current{color:#f3a107;}
.main02 .main02-left .main02-left-box{position: relative;width:10000000px;}
.main02 .main02-left .main02-left-boxmin{padding:35px 0;float: left;width:680px;}
.main02-left-boxmin .main02-modality{width:680px;height:272px;background:#474747 url("../../../images/gfanimages/images/figure474747.png") no-repeat center center;background-size:200px auto;margin-bottom:20px;position: relative;overflow: hidden;}

.main02-left-boxmin .main02-modality01>a,
.main02-left-boxmin .main02-modality01>a img{display:block;width:100%;height:100%;}
.main02-left-boxmin .main02-modality02>a{display:block;width:100%;height:100%;position: relative;}
.main02-left-boxmin .main02-modality02>a .modality02-left,
.main02-left-boxmin .main02-modality02>a .modality02-right{position: absolute;
    top: 0;
    bottom: 0;
    z-index:3;
    width:50%;
    height: 100%;
    background: #000;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;}
.main02-left-boxmin .main02-modality02>a .modality02-left{left:0;}
.main02-left-boxmin .main02-modality02>a .modality02-right{right:0;}
.main02-left-boxmin .main02-modality02>a .modality02-center{position: absolute;
    top:50%;
    left:50%;
    z-index:3;
    width:46px;
    height:46px;
    margin:-23px 0 0 -23px;
    background:url("../../../images/gfanimages/images/modality02_center.png") no-repeat;
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity:1;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;}
.main02-left-boxmin .main02-modality02:hover>a .modality02-left{filter: alpha(opacity=0); -moz-opacity:0;-khtml-opacity:0;opacity:0;}
.main02-left-boxmin .main02-modality02:hover>a .modality02-right{filter: alpha(opacity=0); -moz-opacity:0;-khtml-opacity:0;opacity:0;}
.main02-left-boxmin .main02-modality02:hover>a .modality02-center{filter: alpha(opacity=0); -moz-opacity:0;-khtml-opacity:0;opacity:0;}
.main02-left-boxmin .main02-modality02>a img{width:100%;height:100%;}

.main02-left-boxmin .main02-modality03 .main02-modality-img{position: absolute;top:0;left:0;bottom:0;right:0;width:100%;height:100%;background-color:#000000;}
.main02-left-boxmin .main02-modality03 .main02-modality-img .main02-modality-imgbox{padding-top:8px;height:223px;position: relative;width:100%;}
.main02-modality-img .main02-modality-imgbox .imgbox-silder{margin:0 auto 0;height: 223px;}
.main02-modality-img .main02-modality-imgbox .imgbox-silder .slick-slide{position: relative;overflow: hidden;height:223px;}

.main02-modality-img .main02-modality-imgbox .imgbox-silder img{height:223px;position: absolute;left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);}

.main02 .main02-left .main02-left-boxmin>button[type='button']{width:440px;display:block;margin:0 auto;font-size:18px;height:60px;line-height:60px;border:none;border-radius:10px;background-color:#dfdfdf;cursor: pointer;}
.main02 .main02-left .main02-left-boxmin>button[type='button']:hover{background-color:#f3a107;}
.main02 .main02-left .main02-left-boxmin>button[type='button']:active{background-color:#db930c;}

.main02-left-boxmin .main02-modality-text{width:100%;height:35px;line-height:35px;position:absolute;left:0;bottom:0;z-index:88;}
.main02-left-boxmin .main02-modality-text a.modality-variety{width:90px;height:35px;line-height:35px;display: inline-block;float: left;background-color:#f3a107;color:#000000;font-size:18px;text-align: center;}
.main02-left-boxmin .main02-modality-text a.modality-chapter{width:570px;height:35px;line-height:35px;display: inline-block;float: left;padding-left:20px;font-size:14px;color:#FFFFFF;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.main02-left-boxmin .main02-modality-text a.modality-chapter span{float:right;height:35px;line-height:35px;color:#FFFFFF;padding-right:10px;font-size:11px;}

.main02-left-boxmin .main02-modality-bg{width:100%;height:35px;background-color:#000000;position:absolute;left:0;bottom:0;z-index:80;filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity: 0.5;opacity: 0.5;}
.main02 .main02-right{width:480px;position:absolute;right:0;top:0;bottom:0;}
.main02 .main02-right .main02-rightbox{width: 480px;}
.main02 .main02-right .main02-right01{width:480px;height:300px; position: relative;margin-bottom:20px;background:#474747 url("../../../images/gfanimages/images/figure474747.png") no-repeat center center;background-size:200px auto;overflow: hidden}
.main02 .main02-right .main02-right01>span{display:block;width:90px;height:24px;line-height:24px;text-align: center;position: absolute;top:0;left:16px;z-index:9;background-color:#454647;}
.main02 .main02-right .main02-right01>span a{font-size:14px;color:#fff;}
.main02 .main02-right .main02-right01 img{width:100%;height:100%;}
.main02 .main02-right .main02-right01:hover>span{background-color:#f3a107;}
.main02 .main02-right .main02-right01 .main02-right01-bg{width:100%;height:35px;background-color:#000000;position:absolute;left:0;bottom:0;z-index:80;filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity: 0.5;opacity: 0.5;}
.main02 .main02-right .main02-right01 .main02-right01-text{width:calc(100% - 20px);height:35px;line-height:35px;position:absolute;left:0;bottom:0;z-index:88;font-size:14px;color:#fff;overflow: hidden;padding-left:20px;}
.main02 .main02-right .main02-right01 .main02-right01-text:hover{color:#f3a107;}

.main02 .main02-right .main02-right02{margin-bottom:20px;height:503px;overflow: hidden;}
.main02 .main02-right .main02-right02 h2{border-left:6px solid #f3a107;border-bottom:1px solid #f3a107;height:34px;line-height:34px;position:relative;margin-bottom:22px;}
.main02 .main02-right .main02-right02 h2 span{font-size:30px;letter-spacing:5px;display:inline-block;height:35px;line-height:35px;background-color:#fff;position: absolute;top:0;left:0;padding-left:10px;}
.main02 .main02-right .main02-right02 .main02-right02-main{width:480px;height:446px;background-color:#eeeeee;}
.main02 .main02-right .main02-right02 .main02-right02-main .time-scroll-box{position: relative;}
.main02 .main02-right .main02-right02 .main02-right02-main .time-scroll{position: absolute;z-index:9;display: block;width:2px;top:27px;left:88px;bottom:0;height:calc(100% - 72px);background-color:#a4a4a4;}
.main02 .main02-right .main02-right02 .main02-right02-main ul{position: relative;z-index:99;padding-top:22px}
.main02 .main02-right .main02-right02 .main02-right02-main ul li{height:52px;margin-bottom:10px;}
.main02 .main02-right .main02-right02 .main02-right02-main ul li span.time-list{display: inline-block;text-align:right;width:77px;height:16px;line-height:14px;padding-right:19px;background:url("../../../images/gfanimages/images/time.png") no-repeat right center;font-size:11px;float: left;}
.main02 .main02-right .main02-right02 .main02-right02-main ul li .main02-time{float: left;width:328px;height:52px;margin-left:8px;background-color:#f3f2f2;border-radius:5px;overflow: hidden;
    filter: progid:DXImageTransform.Microsoft.Shadow(color='#c9c9c9', Direction=135, Strength=5);/*for ie6,7,8*/
    -moz-box-shadow:1px 1px 4px #c9c9c9;/*firefox*/
    -webkit-box-shadow:1px 1px 4px #c9c9c9;/*webkit*/
    box-shadow:1px 1px 4px #c9c9c9;/*opera或ie9*/
}
.main02 .main02-right .main02-right02 .main02-right02-main ul li .main02-time .main02-time-top{padding:2px 6px;height:30px;line-height:30px;font-size:14px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.main02 .main02-right .main02-right02 .main02-right02-main ul li .main02-time .main02-time-bottom{height:18px;line-height:18px;background-color:#ebebeb;text-align: right;padding-right:10px;font-size:11px;}

.main02 .main02-right .main02-right03>div{margin-bottom:20px;
    filter: progid:DXImageTransform.Microsoft.Shadow(color='#c9c9c9', Direction=135, Strength=5);/*for ie6,7,8*/
    -moz-box-shadow:1px 1px 4px #c9c9c9;/*firefox*/
    -webkit-box-shadow:1px 1px 4px #c9c9c9;/*webkit*/
    box-shadow:1px 1px 4px #c9c9c9;/*opera或ie9*/}

.main02 .main02-right .main02-right04{}
.main02 .main02-right .main02-right04 h2{border-left:6px solid #f3a107;border-bottom:1px solid #f3a107;height:34px;line-height:34px;position:relative;margin-bottom:22px;}
.main02 .main02-right .main02-right04 h2 span{font-size:30px;letter-spacing:5px;display:inline-block;height:35px;line-height:35px;background-color:#fff;position: absolute;top:0;left:0;padding-left:10px;}
.main02 .main02-right .main02-right04 .main02-right04min{width:480px;height:180px; margin-bottom:20px;background:#474747 url("../../../images/gfanimages/images/figure474747.png") no-repeat center center;background-size:200px auto;}
.main02 .main02-right .main02-right04 .main02-right04min:last-child{margin-bottom:0;}
.main02 .main02-right .main02-right04 .main02-right04min a,
.main02 .main02-right .main02-right04 .main02-right04min a img{display:block;width:100%;height:100%;}
.main02 .main02-right .main02-right04 .main02-right04min:hover{
    filter: progid:DXImageTransform.Microsoft.Shadow(color='#7e7e7e', Direction=135, Strength=5);/*for ie6,7,8*/
    -moz-box-shadow:0 0 10px #7e7e7e;/*firefox*/
    -webkit-box-shadow:0 0 10px #7e7e7e;/*webkit*/
    box-shadow:0 0 10px #7e7e7e;/*opera或ie9*/
}

/*tushang*/
.tushang{margin-bottom:20px;}
.tushang h1{text-align: center;height:80px;line-height:80px;font-size:36px;font-weight:normal;;letter-spacing:5px;background:url("../../../images/gfanimages/images/h1_bg.png") no-repeat center center;margin-bottom:20px;}
.tushang h2{background-color:#000000;height:44px;line-height:44px;margin-bottom:20px;}
.tushang h2 strong{display: inline-block;font-size:18px;padding:0 10px;color:#000000;background-color:#f3a107;font-weight: normal;}
.tushang h2 a{font-size:12px;color:#FFFFFF;padding:0 10px;}
.tushang h2 a:hover{color:#f3a107;}
.tushang .tushang-top{height:348px;margin-bottom:20px;overflow: hidden;}
.tushang .tushang-top .tushang-topbig{width:580px;height:348px;float:left;position: relative;overflow:hidden;background:#474747 url("../../../images/gfanimages/images/figure474747.png") no-repeat center center;background-size:200px auto;}
.tushang .tushang-top .tushang-topbig a{display: block;width:100%;height:100%;}
.tushang .tushang-top .tushang-topbig a img{display: block;height:100%;position: absolute;left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);}
.tushang .tushang-top .tushang-topbig .tushang-text{height:30px;line-height:30px;position:absolute;left:20px;right:0;bottom:0;z-index:99;font-size:12px;color:#ffffff;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.tushang .tushang-top .tushang-topbig .tushang-bg{height:30px;position:absolute;left:0;right:0;bottom:0;width:100%;z-index:9;background-color:#000;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}
.tushang .tushang-top .tushang-topsmall{width:600px;float: right;height:348px;overflow: hidden;}
.tushang .tushang-top .tushang-topsmall .tushang-topsmall-min{float: left;width:280px;margin:0 0 20px 20px;height:164px;position: relative;overflow:hidden;background:#474747 url("../../../images/gfanimages/images/figure474747.png") no-repeat center center;background-size:200px auto;}
.tushang .tushang-top .tushang-topsmall .tushang-topsmall-min a{display: block;width:100%;height:100%;}
.tushang .tushang-top .tushang-topsmall .tushang-topsmall-min a img{display: block;height:100%;position: absolute;left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);}
.tushang .tushang-top .tushang-topsmall .tushang-topsmall-min .tushang-text{height:30px;line-height:30px;position:absolute;left:20px;right:0;bottom:0;z-index:99;font-size:12px;color:#ffffff;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.tushang .tushang-top .tushang-topsmall .tushang-topsmall-min .tushang-bg{height:30px;position:absolute;left:0;right:0;bottom:0;width:100%;z-index:9;background-color:#000;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}

.tushang .tushang-bottom{width:1180px;height:168px;overflow: hidden;}
.tushang .tushang-bottom .tushang-bottom-min{float: left;margin-right:20px;width:280px;height:168px;position: relative;overflow:hidden;background:#474747 url("../../../images/gfanimages/images/figure474747.png") no-repeat center center;background-size:200px auto;}
.tushang .tushang-bottom .tushang-bottom-min:last-child{margin-right:0;}
.tushang .tushang-bottom .tushang-bottom-min a{display: block;width:100%;height:100%;}
.tushang .tushang-bottom .tushang-bottom-min a img{display: block;height:100%;position: absolute;left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);}
.tushang .tushang-bottom .tushang-bottom-min .tushang-text{height:30px;line-height:30px;position:absolute;left:20px;right:0;bottom:0;z-index:99;font-size:12px;color:#ffffff;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.tushang .tushang-bottom .tushang-bottom-min .tushang-bg{height:30px;position:absolute;left:0;right:0;bottom:0;width:100%;z-index:9;background-color:#000;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}

/*main03*/
.main03{margin-bottom:20px;}
.main03 h1{text-align: center;height:80px;line-height:80px;font-size:35px;font-weight:normal;;letter-spacing:5px;background:url("../../../images/gfanimages/images/h1_bg.png") no-repeat center center;margin-bottom:20px;}
.main03 .main03-left,
.main03 .main03-right{position: absolute;
    top: 0;
    bottom: 0;
    z-index:3;
    width:50%;
    height: 100%;
    background: #000;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;}
.main03 .main03-center{position: absolute;
    top:50%;
    left:50%;
    z-index:3;
    width:40px;
    height:40px;
    margin:-20px 0 0 -20px;
    background:url("../../../images/gfanimages/images/modality02_center.png") no-repeat;
    background-size:100% 100%;
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity:1;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;}
.main03 .main03-left{left:0;}
.main03 .main03-right{right:0;}


.main03 .main03-mainbig{width:580px;height:348px;float:left;background:#474747 url("../../../images/gfanimages/images/figure474747.png") no-repeat center center;background-size:200px auto;overflow: hidden;position: relative;}
.main03 .main03-mainbig>span{display: block;width: 90px;height: 24px;line-height: 24px;text-align: center;position: absolute;  top: 0;left: 16px;z-index: 9;background-color: #454647;}
.main03 .main03-mainbig>span a{font-size: 14px;color: #fff;}
.main03 .main03-mainbig a{display:block;width:100%;height:100%;}
.main03 .main03-mainbig a img{display:block;height:100%;position: absolute;left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);}
.main03 .main03-mainbig .main03-text{height:30px;line-height:30px;position:absolute;left:20px;right:0;bottom:0;z-index:99;font-size:12px;color:#ffffff;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.main03 .main03-mainbig .main03-bg{height:30px;position:absolute;left:0;right:0;bottom:0;width:100%;z-index:9;background-color:#000;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}

.main03 .main03-mainsmall{width:600px;height:348px;float:right;overflow: hidden}
.main03 .main03-mainsmall .main03-mainsmall-min{float: left;width:280px;margin:0 0 20px 20px;height:164px;position: relative;overflow:hidden;margin-left:20px;background:#474747 url("../../../images/gfanimages/images/figure474747.png") no-repeat center center;background-size:200px auto;}

.main03 .main03-mainsmall .main03-mainsmall-min>span{display: block;width: 90px;height: 24px;line-height: 24px;text-align: center;position: absolute;  top: 0;left: 16px;z-index: 9;background-color: #454647;}
.main03 .main03-mainsmall .main03-mainsmall-min>span a{font-size: 14px;color: #fff;}
.main03 .main03-mainsmall .main03-mainsmall-min a{display:block;width:100%;height:100%;}
.main03 .main03-mainsmall .main03-mainsmall-min a img{display:block;height:100%;position: absolute;left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);}
.main03 .main03-mainsmall .main03-mainsmall-min .main03-text{height:30px;line-height:30px;position:absolute;left:20px;right:0;bottom:0;z-index:99;font-size:12px;color:#ffffff;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.main03 .main03-mainsmall .main03-mainsmall-min .main03-bg{height:30px;position:absolute;left:0;right:0;bottom:0;width:100%;z-index:9;background-color:#000;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}


.main03 .main03hover:hover .main03-left{filter: alpha(opacity=0); -moz-opacity:0;-khtml-opacity:0;opacity:0;}
.main03 .main03hover:hover .main03-right{filter: alpha(opacity=0); -moz-opacity:0;-khtml-opacity:0;opacity:0;}
.main03 .main03hover:hover .main03-center{filter: alpha(opacity=0); -moz-opacity:0;-khtml-opacity:0;opacity:0;}
.main03 .main03hover:hover>span{background-color:#f3a107;}
.main03 .main03hover:hover>span a{color:#000;}

/*main04*/
.main04{background-color:#f0f0f0;}
.main04 .main04-main{}
.main04 .main04-main h1{height:53px;background:url("../../../images/gfanimages/images/main04luntan.png") no-repeat center center; padding:20px 0;margin-bottom:20px;}
.main04 .main04-main h2{background-color:#000000;height:44px;line-height:44px;margin-bottom:20px;}
.main04 .main04-main h2 strong{display: inline-block;font-size:18px;padding:0 10px;color:#000000;background-color:#f3a107;font-weight: normal;}
.main04 .main04-main h2 a{font-size:12px;color:#FFFFFF;padding:0 10px;}
.main04 .main04-main h2 a:hover{color:#f3a107;}
.main04 .main04-main .main04-box{}
.main04 .main04-box>div{float: left;width:280px;height:304px;margin-bottom:20px;border:1px solid #dcdcdc;margin-right:17.33px;position: relative;}
.main04 .main04-box>div:hover{border-color:#f1a71b;}
.main04 .main04-box>div:nth-child(4n){margin-right:0;}

.main04 .main04-box>div .small04-top{width:280px;height:194px;background:#474747 url("../../../images/gfanimages/images/figure474747.png") no-repeat center center;background-size:200px auto;}
.main04 .main04-box>div .small04-top a,
.main04 .main04-box>div .small04-top a img{display: block;width:100%;height:100%;}
.main04 .main04-box>div .small04-bottom{padding:0 7px;}

.main04 .main04-box>div.main04-small01 .small04-bottom dl{height:40px;padding-top:10px;border-bottom:1px solid #dcdcdc;}
.main04 .main04-box>div.main04-small01 .small04-bottom dl dt{float: left;width:37px;height:37px;overflow: hidden;}
.main04 .main04-box>div.main04-small01 .small04-bottom dl dt a,
.main04 .main04-box>div.main04-small01 .small04-bottom dl dt a img{display: block;width:100%;height:100%;border-radius:5px;}
.main04 .main04-box>div.main04-small01 .small04-bottom dl dd{padding-left:40px;}
.main04 .main04-box>div.main04-small01 .small04-bottom dl dd h4{padding:5px 0;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.main04 .main04-box>div.main04-small01 .small04-bottom dl dd h4 a{font-size:11px;color:#f3a107;}
.main04 .main04-box>div.main04-small01 .small04-bottom dl dd h5{}
.main04 .main04-box>div.main04-small01 .small04-bottom dl dd h5 span{float: right;padding-left:15px;background:url("../../../images/gfanimages/images/xiaoxi.png") no-repeat left center;}
.main04 .main04-box>div.main04-small01 .small04-bottom dl dd h5 a{display:block;font-size:11px;width:160px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.main04 .main04-box>div.main04-small01 .small04-bottom p{line-height:22px;height:44px;padding:7px 0;overflow:hidden;}
.main04 .main04-box>div.main04-small01 .small04-bottom p a{font-size:12px;}

.main04 .main04-box>div.main04-small02>span{display: block;width: 90px;height: 24px;line-height: 24px;text-align: center;position: absolute;  top: 0;left: 16px;z-index: 9;background-color: #454647;}
.main04 .main04-box>div.main04-small02>span a{font-size: 14px;color: #fff;}
.main04 .main04-box>div.main04-small02:hover>span{background-color:#f3a107;}
.main04 .main04-box>div.main04-small02:hover>span a{color:#000;}

.main04 .main04-box>div.main04-small02 .small04-bottom p{line-height:22px;height:44px;padding:6px 0;overflow:hidden;border-bottom:1px solid #dcdcdc;}
.main04 .main04-box>div.main04-small02 .small04-bottom p span{float: right;padding-left:15px;background:url("../../../images/gfanimages/images/xiaoxi.png") no-repeat left center;}
.main04 .main04-box>div.main04-small02 .small04-bottom p a{font-size:12px;}
.main04 .main04-box>div.main04-small02 .small04-bottom .small04-join{text-align: center;padding-top:15px;}
.main04 .main04-box>div.main04-small02 .small04-bottom .small04-join a{display:block;width:104px;height:25px;line-height:25px;font-size:12px;background-color:#dfdfdf; color:#000000;margin:0 auto;}
.main04 .main04-box>div.main04-small02 .small04-bottom .small04-join a:hover{background-color:#f1a71b;}




