/*ADD TEMP FIX FOR RESPONSIVE DEPLOYMENT 8-31-2016 SHOULD BE REMOVED SOON*/
.contentSideOfBar {
    float: right !important;
}



@media only screen and (min-width: 1100px) {
     /*allow news items w/o image. added 1/27/2016*/
    #become_a_student .newsthumb{
    float: left;
    width: auto;
    max-width: 120px; /*or else chrome will stretch it*/
    margin: 0 17px;
    }
    #become_a_student .newstext{
    display: inline;
    margin: 0;
    }

    .three .inner .left{
        width: calc(100% - 392px);
    }
}

#explore .boxed select{
    font-size: 16px;
}

.g-lu-static #left {
    float: left;
}

.boxed:before {
  right: 0px;
  top: -25px;
  width: 40px;
  height: 64px;
}

/*universal border remove on fieldsets*/
fieldset{
  border:0;
}
form label{
  font-family: 'Roboto', sans-serif;
}

#content_main.g-lu-static h1 em, #content_main.g-lu-static h2 em, #content_main.g-lu-static h3 em{
    font-size: 1em;
    font-family: 'PT Serif',serif;
}

#content_main.g-lu-static h4 em, #content_main.g-lu-static p em {
    font-size: 1em;
}



table.blue {
    background: #F0F0F0;
    border: 1px solid #E1E1E1;
    padding: 20px;
}

.g-lu-static{
font-family: 'Roboto', sans-serif;
}

#content_main.g-lu-static ol {
    font-size: 0.9em;
    color: #3d3d3d;
    line-height: 1.625;
}

#content_main.g-lu-static ol li ol {
    font-size: 0.9rem;
    color: #3d3d3d;
    line-height: 1.625;
}

#content_main.g-lu-static ul {
    font-size: 0.9em;
    color: #3d3d3d;
    line-height: 1.625;
    list-style-image: url(/media/14140/templates/edu/images/bullet.png);
}

#content_main.g-lu-static ul li ul{
    font-size: 0.9rem;
    color: #3d3d3d;
    line-height: 1.625;
}

#content_main.g-lu-static ul li:before {
    content: none;
}

.mobileMenu .mega .inner .right{
    padding-bottom: 62px;
}

.mobileMenu ul {
    list-style: none;
    padding-left: 0px;
}

nav a.navBtn {
    cursor: default;
}

.g-lu-static nav ul li {
    padding-right: 34px!important;
}


.luBtn {
    white-space: nowrap;
}

#lightbox {
    z-index: 99999;
    top: 0;
    bottom: 0;
}

.playiconSmall:after {
    content: '';
    background: url('http://cdn.liberty.edu/templates/edu/svg/build/svg/defs-svg/PlayButton.svg');
    background-size: 15px 15px;
    background-repeat: no-repeat;
    height: 14%;
    width: 50%;
    position: absolute;
    bottom: 25%;
    margin-left: 5px;
}

.LPMlabel {
    max-width: 65px;
}



@media all and (max-width: 732px) {
    #vid {
    top: 50%;
    margin-top: -180px;
    left: 50%;
    margin-left: -45%;
    width: 90%;
}
#vid .close {
    background-image: url(//cdn.liberty.edu/templates/edu/svg/build/svg/defs-svg/Close-X.svg);
    height: 20px;
    right: 0px;
    top: -30px;
    width: 20px;
}
#youtube-lightbox{
        height: 90%;
position: relative;
}

}

@media all and (max-width: 700px) {
.playiconSmall:after {
    bottom: 34%;
}
}

@media all and (max-width: 506px) {
.playiconSmall:after {
    bottom: 25%;
}
}

@media all and (max-width: 450px) {
  #vid {
  height:320px;
}
}

@media all and (max-height: 400px) {
  #vid {
      top: 50%;
      margin-top: -25%;
      left: 50%;
      margin-left: -45%;
      width: 90%;
      height: 100%;
  }
  #vid .close {
    background-image: url(//cdn.liberty.edu/templates/edu/svg/build/svg/defs-svg/Close-X.svg);
    height: 20px;
    right: -24px;
    top: -16px;
    width: 20px;
}
}

@media all and (max-width: 298px) {
.playiconSmall:after {
    bottom: 16%;
}
}



.mobileMenu ul {
    padding-bottom: 0;
}

.mobileMenu ul.main {
    padding-bottom: 150px;
}

.mobileMenu .mega .inner .left a:first-of-type {
    width: 100%;
    height: 60px;
    line-height: 60px;
    display: inline-block;
}

.mobileMenu .mega .inner .left a:first-of-type:after {
    height: 100%;
    width: 10px;
    content: "";
    background-image: url(//cdn.liberty.edu/templates/edu/svg/build/svg/defs-svg/BackArrow.svg);
    font-size: 14px;
    fill: #2773cb;
    margin-left: 30px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
}
.vid-main-block{
    width: 640px;
    background: #000;
    position: relative;
    height: 360px;
}
.vid-main-block:after{
    content: '';
    clear: both;
}
.vid-sidebar-block{
    height: 113px;
    text-align: justify;
    font-size: 0.1px;
    min-width: 640px;
    margin-top: 20px
}
.vid-sidebar-block .vidthumbs{
    display: inline-block;

    width: 200px;
    height: 113px;

}
.vid-sidebar-block:after{
    content: '';
    width: 100%;
    display: inline-block;
}
.vidthumbs img{
    display: block;
    width: 100%;
    max-height: 113px;
}
.nowplaying{
    display: inline-block;
    position: relative;
    vertical-align: middle;
    max-width: 100%;
}
.nowplaying::before{
    content: 'Now Playing';
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    color: white;
    z-index: 999;
    left: 0px;
    right: 0px;
    width: 100%;
    text-align: center;
    top: 45%;
}
.nowplaying .vidthumb-overlay{
    opacity: 0.8;
}
.vidthumb-overlay{
    background: #000;
    opacity: 0;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
}
.vidthumbs span{
    font-family: Roboto,sans-serif;
    color: white;
    font-size: 16px;
    text-align: left;
    margin-top: 7px;
    display: block;
}
.vid-sidebar-block .playicon:hover:before {
    height: 55%;
    width: 55%;
    max-height: 80px;
    max-width: 80px;
}
.vid-sidebar-block .playicon:before{
    transition: none;
}

/*!
Video.js Default Styles (http://videojs.com)
Version 4.10.2
Create your own skin at http://designer.videojs.com
*/.vjs-default-skin{color:#ccc}@font-face{font-family:VideoJS;src:url(https://vjs.zencdn.net/f/3/vjs.eot);src:url(https://vjs.zencdn.net/f/3/vjs.eot?#iefix) format('embedded-opentype'),url(https://vjs.zencdn.net/f/3/vjs.woff) format('woff'),url(https://vjs.zencdn.net/f/3/vjs.ttf) format('truetype'),url(https://vjs.zencdn.net/f/3/vjs.svg#icomoon) format('svg');font-weight:400;font-style:normal}.vjs-default-skin .vjs-slider{outline:0;position:relative;cursor:pointer;padding:0;background-color:#333;background-color:rgba(51,51,51,.9)}.vjs-default-skin .vjs-slider:focus{-webkit-box-shadow:0 0 2em #fff;-moz-box-shadow:0 0 2em #fff;box-shadow:0 0 2em #fff}.vjs-default-skin .vjs-slider-handle{position:absolute;left:0;top:0}.vjs-default-skin .vjs-slider-handle:before{content:"\e009";font-family:VideoJS;font-size:1em;line-height:1;text-align:center;text-shadow:0 0 1em #fff;position:absolute;top:0;left:0;-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg)}.vjs-default-skin .vjs-control-bar{display:none;position:absolute;bottom:0;left:0;right:0;height:3em;background-color:#07141e;background-color:rgba(7,20,30,.7)}.vjs-default-skin .vjs-play-progress,.vjs-default-skin .vjs-volume-level{background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAP0lEQVQIHWWMAQoAIAgDR/QJ/Ub//04+w7ZICBwcOg5FZi5iBB82AGzixEglJrd4TVK5XUJpskSTEvpdFzX9AB2pGziSQcvAAAAAAElFTkSuQmCC) -50% 0 #66a8cc}.vjs-default-skin.vjs-has-started .vjs-control-bar{display:block;visibility:visible;opacity:1;-webkit-transition:visibility .1s,opacity .1s;-moz-transition:visibility .1s,opacity .1s;-o-transition:visibility .1s,opacity .1s;transition:visibility .1s,opacity .1s}.vjs-default-skin.vjs-has-started.vjs-user-inactive.vjs-playing .vjs-control-bar{display:block;visibility:hidden;opacity:0;-webkit-transition:visibility 1s,opacity 1s;-moz-transition:visibility 1s,opacity 1s;-o-transition:visibility 1s,opacity 1s;transition:visibility 1s,opacity 1s}.vjs-default-skin.vjs-controls-disabled .vjs-control-bar,.vjs-default-skin.vjs-error .vjs-control-bar,.vjs-default-skin.vjs-using-native-controls .vjs-control-bar{display:none}.vjs-audio.vjs-default-skin.vjs-has-started.vjs-user-inactive.vjs-playing .vjs-control-bar{opacity:1;visibility:visible}@media \0screen{.vjs-default-skin.vjs-user-inactive.vjs-playing .vjs-control-bar:before{content:""}}.vjs-default-skin .vjs-control{outline:0;position:relative;float:left;text-align:center;margin:0;padding:0;height:3em;width:4em}.vjs-default-skin .vjs-control:before{font-family:VideoJS;font-size:1.5em;line-height:2;position:absolute;top:0;left:0;width:100%;height:100%;text-align:center;text-shadow:1px 1px 1px rgba(0,0,0,.5)}.vjs-default-skin .vjs-control:focus:before,.vjs-default-skin .vjs-control:hover:before{text-shadow:0 0 1em #fff}.vjs-default-skin .vjs-control-text{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}.vjs-default-skin .vjs-play-control{width:5em;cursor:pointer}.vjs-default-skin .vjs-play-control:before{content:"\e001"}.vjs-default-skin.vjs-playing .vjs-play-control:before{content:"\e002"}.vjs-default-skin .vjs-playback-rate .vjs-playback-rate-value{font-size:1.5em;line-height:2;position:absolute;top:0;left:0;width:100%;height:100%;text-align:center;text-shadow:1px 1px 1px rgba(0,0,0,.5)}.vjs-default-skin .vjs-playback-rate.vjs-menu-button .vjs-menu .vjs-menu-content{width:4em;left:-2em;list-style:none}.vjs-default-skin .vjs-mute-control,.vjs-default-skin .vjs-volume-menu-button{cursor:pointer;float:right}.vjs-default-skin .vjs-mute-control:before,.vjs-default-skin .vjs-volume-menu-button:before{content:"\e006"}.vjs-default-skin .vjs-mute-control.vjs-vol-0:before,.vjs-default-skin .vjs-volume-menu-button.vjs-vol-0:before{content:"\e003"}.vjs-default-skin .vjs-mute-control.vjs-vol-1:before,.vjs-default-skin .vjs-volume-menu-button.vjs-vol-1:before{content:"\e004"}.vjs-default-skin .vjs-mute-control.vjs-vol-2:before,.vjs-default-skin .vjs-volume-menu-button.vjs-vol-2:before{content:"\e005"}.vjs-default-skin .vjs-volume-control{width:5em;float:right}.vjs-default-skin .vjs-volume-bar{width:5em;height:.6em;margin:1.1em auto 0}.vjs-default-skin .vjs-volume-level{position:absolute;top:0;left:0;height:.5em;width:100%}.vjs-default-skin .vjs-volume-bar .vjs-volume-handle{width:.5em;height:.5em;left:4.5em}.vjs-default-skin .vjs-volume-handle:before{font-size:.9em;top:-.2em;left:-.2em;width:1em;height:1em}.vjs-default-skin .vjs-volume-menu-button .vjs-menu{display:block;width:0;height:0;border-top-color:transparent}.vjs-default-skin .vjs-volume-menu-button .vjs-menu .vjs-menu-content{height:0;width:0}.vjs-default-skin .vjs-volume-menu-button .vjs-menu.vjs-lock-showing,.vjs-default-skin .vjs-volume-menu-button:hover .vjs-menu{border-top-color:rgba(7,40,50,.5)}.vjs-default-skin .vjs-volume-menu-button .vjs-menu.vjs-lock-showing .vjs-menu-content,.vjs-default-skin .vjs-volume-menu-button:hover .vjs-menu .vjs-menu-content{height:2.9em;width:10em}.vjs-default-skin .vjs-progress-control{position:absolute;left:0;right:0;width:auto;font-size:.3em;height:1em;top:-1em;-webkit-transition:all .4s;-moz-transition:all .4s;-o-transition:all .4s;transition:all .4s}.vjs-default-skin:hover .vjs-progress-control{font-size:.9em;-webkit-transition:all .2s;-moz-transition:all .2s;-o-transition:all .2s;transition:all .2s}.vjs-default-skin .vjs-progress-holder{height:100%}.vjs-default-skin .vjs-progress-holder .vjs-load-progress,.vjs-default-skin .vjs-progress-holder .vjs-load-progress div,.vjs-default-skin .vjs-progress-holder .vjs-play-progress{position:absolute;display:block;height:100%;margin:0;padding:0;width:0;left:0;top:0}.vjs-default-skin .vjs-load-progress{background:#646464;background:rgba(255,255,255,.2)}.vjs-default-skin .vjs-load-progress div{background:#787878;background:rgba(255,255,255,.1)}.vjs-default-skin .vjs-seek-handle{width:1.5em;height:100%}.vjs-default-skin .vjs-seek-handle:before{padding-top:.1em}.vjs-default-skin.vjs-live .vjs-progress-control,.vjs-default-skin.vjs-live .vjs-time-controls,.vjs-default-skin.vjs-live .vjs-time-divider{display:none}.vjs-default-skin.vjs-live .vjs-live-display{display:block}.vjs-default-skin .vjs-live-display{display:none;font-size:1em;line-height:3em}.vjs-default-skin .vjs-time-controls{font-size:1em;line-height:3em}.vjs-default-skin .vjs-current-time,.vjs-default-skin .vjs-duration{float:left}.vjs-default-skin .vjs-remaining-time{display:none;float:left}.vjs-time-divider{float:left;line-height:3em}.vjs-default-skin .vjs-fullscreen-control{width:3.8em;cursor:pointer;float:right}.vjs-default-skin .vjs-fullscreen-control:before{content:"\e000"}.vjs-default-skin.vjs-fullscreen .vjs-fullscreen-control:before{content:"\e00b"}.vjs-default-skin .vjs-big-play-button{left:.5em;top:.5em;font-size:3em;display:block;z-index:2;position:absolute;width:4em;height:2.6em;text-align:center;vertical-align:middle;cursor:pointer;opacity:1;background-color:#07141e;background-color:rgba(7,20,30,.7);border:.1em solid #3b4249;-webkit-border-radius:.8em;-moz-border-radius:.8em;border-radius:.8em;-webkit-box-shadow:0 0 1em rgba(255,255,255,.25);-moz-box-shadow:0 0 1em rgba(255,255,255,.25);box-shadow:0 0 1em rgba(255,255,255,.25);-webkit-transition:all .4s;-moz-transition:all .4s;-o-transition:all .4s;transition:all .4s}.vjs-default-skin.vjs-controls-disabled .vjs-big-play-button,.vjs-default-skin.vjs-has-started .vjs-big-play-button,.vjs-default-skin.vjs-using-native-controls .vjs-big-play-button,.vjs-error .vjs-big-play-button,.vjs-error-display{display:none}.vjs-default-skin.vjs-big-play-centered .vjs-big-play-button{left:50%;margin-left:-2.1em;top:50%;margin-top:-1.4000000000000001em}.vjs-default-skin .vjs-big-play-button:focus,.vjs-default-skin:hover .vjs-big-play-button{outline:0;border-color:#fff;background-color:#505050;background-color:rgba(50,50,50,.75);-webkit-box-shadow:0 0 3em #fff;-moz-box-shadow:0 0 3em #fff;box-shadow:0 0 3em #fff;-webkit-transition:all 0s;-moz-transition:all 0s;-o-transition:all 0s;transition:all 0s}.vjs-default-skin .vjs-big-play-button:before{content:"\e001";font-family:VideoJS;line-height:2.6em;text-shadow:.05em .05em .1em #000;text-align:center;position:absolute;left:0;width:100%;height:100%}.vjs-error .vjs-error-display{display:block;position:absolute;left:0;top:0;width:100%;height:100%}.vjs-error .vjs-error-display:before{content:'X';font-family:Arial;font-size:4em;color:#666;line-height:1;text-shadow:.05em .05em .1em #000;text-align:center;vertical-align:middle;position:absolute;left:0;top:50%;margin-top:-.5em;width:100%}.vjs-error-display div{position:absolute;bottom:1em;right:0;left:0;font-size:1.4em;text-align:center;padding:3px;background:#000;background:rgba(0,0,0,.5)}.vjs-error-display a,.vjs-error-display a:visited{color:#F4A460}.vjs-loading-spinner{display:none;position:absolute;top:50%;left:50%;font-size:4em;line-height:1;width:1em;height:1em;margin-left:-.5em;margin-top:-.5em;opacity:.75}.vjs-seeking .vjs-loading-spinner,.vjs-waiting .vjs-loading-spinner{display:block;-webkit-animation:spin 1.5s infinite linear;-moz-animation:spin 1.5s infinite linear;-o-animation:spin 1.5s infinite linear;animation:spin 1.5s infinite linear}.vjs-error .vjs-loading-spinner{display:none;-webkit-animation:none;-moz-animation:none;-o-animation:none;animation:none}.vjs-default-skin .vjs-loading-spinner:before{content:"\e01e";font-family:VideoJS;position:absolute;top:0;left:0;width:1em;height:1em;text-align:center;text-shadow:0 0 .1em #000}.video-js,.vjs-no-js{font-family:Arial,sans-serif}@-moz-keyframes spin{0%{-moz-transform:rotate(0)}100%{-moz-transform:rotate(359deg)}}@-webkit-keyframes spin{0%{-webkit-transform:rotate(0)}100%{-webkit-transform:rotate(359deg)}}@-o-keyframes spin{0%{-o-transform:rotate(0)}100%{-o-transform:rotate(359deg)}}@keyframes spin{0%{transform:rotate(0)}100%{transform:rotate(359deg)}}.vjs-default-skin .vjs-menu-button{float:right;cursor:pointer}.vjs-default-skin .vjs-menu{display:none;position:absolute;bottom:0;left:0;width:0;height:0;margin-bottom:3em;border-left:2em solid transparent;border-right:2em solid transparent;border-top:1.55em solid #000;border-top-color:rgba(7,40,50,.5)}.vjs-default-skin .vjs-menu-button .vjs-menu .vjs-menu-content{display:block;padding:0;margin:0;position:absolute;width:10em;bottom:1.5em;max-height:15em;overflow:auto;left:-5em;background-color:#07141e;background-color:rgba(7,20,30,.7);-webkit-box-shadow:-.2em -.2em .3em rgba(255,255,255,.2);-moz-box-shadow:-.2em -.2em .3em rgba(255,255,255,.2);box-shadow:-.2em -.2em .3em rgba(255,255,255,.2)}.vjs-default-skin .vjs-control-content .vjs-menu.vjs-lock-showing,.vjs-default-skin .vjs-menu-button:hover .vjs-control-content .vjs-menu{display:block}.vjs-default-skin .vjs-menu-button ul li{list-style:none;margin:0;padding:.3em 0;line-height:1.4em;font-size:1.2em;text-align:center;text-transform:lowercase}.vjs-default-skin .vjs-menu-button ul li.vjs-selected{background-color:#000}.vjs-default-skin .vjs-menu-button ul li.vjs-selected:focus,.vjs-default-skin .vjs-menu-button ul li.vjs-selected:hover,.vjs-default-skin .vjs-menu-button ul li:focus,.vjs-default-skin .vjs-menu-button ul li:hover{outline:0;color:#111;background-color:#fff;background-color:rgba(255,255,255,.75);-webkit-box-shadow:0 0 1em #fff;-moz-box-shadow:0 0 1em #fff;box-shadow:0 0 1em #fff}.vjs-default-skin .vjs-menu-button ul li.vjs-menu-title{text-align:center;text-transform:uppercase;font-size:1em;line-height:2em;padding:0;margin:0 0 .3em;font-weight:700;cursor:default}.vjs-default-skin .vjs-subtitles-button:before{content:"\e00c"}.vjs-default-skin .vjs-captions-button:before{content:"\e008"}.vjs-default-skin .vjs-chapters-button:before{content:"\e00c"}.vjs-default-skin .vjs-chapters-button.vjs-menu-button .vjs-menu .vjs-menu-content{width:24em;left:-12em}.vjs-default-skin .vjs-captions-button:focus .vjs-control-content:before,.vjs-default-skin .vjs-captions-button:hover .vjs-control-content:before{-webkit-box-shadow:0 0 1em #fff;-moz-box-shadow:0 0 1em #fff;box-shadow:0 0 1em #fff}.video-js{background-color:#000;position:relative;padding:0;font-size:10px;vertical-align:middle;font-weight:400;font-style:normal;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;max-width:100%}.video-js .vjs-tech{position:absolute;top:0;left:0;width:100%;height:100%}.video-js:-moz-full-screen{position:absolute}body.vjs-full-window{padding:0;margin:0;height:100%;overflow-y:auto}.video-js.vjs-fullscreen{position:fixed;overflow:hidden;z-index:1000;left:0;top:0;bottom:0;right:0;width:100%!important;height:100%!important}.video-js:-webkit-full-screen{width:100%!important;height:100%!important}.video-js.vjs-fullscreen.vjs-user-inactive{cursor:none}.vjs-poster{background-repeat:no-repeat;background-position:50% 50%;background-size:contain;cursor:pointer;margin:0;padding:0;position:absolute;top:0;right:0;bottom:0;left:0}.vjs-poster img{display:block;margin:0 auto;max-height:100%;padding:0;width:100%}.video-js.vjs-has-started .vjs-poster{display:none}.video-js.vjs-audio.vjs-has-started .vjs-poster{display:block}.video-js.vjs-controls-disabled .vjs-poster,.video-js.vjs-using-native-controls .vjs-poster{display:none}.video-js .vjs-text-track-display{text-align:center;position:absolute;bottom:4em;left:1em;right:1em}.video-js.vjs-user-inactive.vjs-playing .vjs-text-track-display{bottom:1em}.video-js .vjs-text-track{display:none;font-size:1.4em;text-align:center;margin-bottom:.1em;background-color:#000;background-color:rgba(0,0,0,.5)}.video-js .vjs-subtitles{color:#fff}.video-js .vjs-captions{color:#fc6}.vjs-tt-cue{display:block}.video-js.vjs-fullscreen .vjs-text-track{font-size:3em}.vjs-default-skin .vjs-hidden{display:none}.vjs-lock-showing{display:block!important;opacity:1;visibility:visible}.vjs-no-js{padding:20px;color:#ccc;background-color:#333;font-size:18px;text-align:center;width:300px;height:150px;margin:0 auto}.vjs-no-js a,.vjs-no-js a:visited{color:#F4A460}

/*cycle*/
.lightSlide{
    background: #000;
    text-align: center;
    width: 100%;
    height: 500px;
    max-height: 680px;
}
.lightSlide img{
  max-height: 90%;
  margin: 0 auto;
  display: block;
}
.lightSlide p {
  text-align: left;
}
#become_a_student .newsBlock {
    margin-right: 15px;
}
.chat-button:before {
    content: '\00B7';
    display: inline-block;
    font-size: 60px;
    left: 0;
    padding: 0 1px;
    color: #5CBB81;
    top: calc(50% - 11px);
    position: absolute;
    webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.chat-button {
    display: inline-block;
    position: relative;
    padding-left: 20px;
    margin-right: 20px;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    cursor: pointer;
}