/**
 * @license
 * MyFonts Webfont Build ID 3254295, 2016-07-21T14:19:51-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: Marydale-Bold by Three Islands Press
 * URL: http://www.myfonts.com/fonts/3ip/marydale/bold/
 * Copyright: Marydale Bold is copyright (c) 1993, 2002, 2006, 2012 by Brian Willson/Three Islands Press (3IP). All rights reserved worldwide.
 * 
 * Webfont: Marydale-Regular by Three Islands Press
 * URL: http://www.myfonts.com/fonts/3ip/marydale/regular/
 * Copyright: Marydale is copyright (c) 1993, 2002, 2006, 2012 by Brian Willson/Three Islands Press (3IP). All rights reserved worldwide.
 * 
 * Webfont: Marydale-Black by Three Islands Press
 * URL: http://www.myfonts.com/fonts/3ip/marydale/black/
 * Copyright: Marydale Black is copyright (c) 1993, 2002, 2006, 2012 by Brian Willson/Three Islands Press (3IP). All rights reserved worldwide.
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=3254295
 * Licensed pageviews: 12,000,000
 * 
 * © 2016 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/31a817");

/**
 * WWVS note: Changed all font-family to same name and use font-weights.
 * Marydale-Regular -> font-weight: 400;
 * Marydale-Bold -> font-weight: 700;
 * Marydale-Black -> Not used
 *
*/

@font-face {font-family: 'Marydale';font-style: normal;font-weight: 400;src: url('webfonts/31A817_1_0.eot');src: url('webfonts/31A817_1_0.eot?#iefix') format('embedded-opentype'),url('webfonts/31A817_1_0.woff2') format('woff2'),url('webfonts/31A817_1_0.woff') format('woff'),url('webfonts/31A817_1_0.ttf') format('truetype');}
@font-face {font-family: 'Marydale';font-style: normal;font-weight: 700;src: url('webfonts/31A817_0_0.eot');src: url('webfonts/31A817_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/31A817_0_0.woff2') format('woff2'),url('webfonts/31A817_0_0.woff') format('woff'),url('webfonts/31A817_0_0.ttf') format('truetype');}
/*@font-face {font-family: 'Marydale-Black';font-style: normal;font-weight: 700;src: url('webfonts/31A817_2_0.eot');src: url('webfonts/31A817_2_0.eot?#iefix') format('embedded-opentype'),url('webfonts/31A817_2_0.woff2') format('woff2'),url('webfonts/31A817_2_0.woff') format('woff'),url('webfonts/31A817_2_0.ttf') format('truetype');}*/
 