@font-face {
  font-family: 'Cookie';
  font-style: normal;
  font-weight: 400;
  src: local('Cookie-Regular'), url(https://fonts.gstatic.com/s/cookie/v7/pKcurCxn_Ato3MXK6jF2CA.ttf) format('truetype');
}
