#topCities .wrap{width: 1020px !important;}
#topCities a{margin-left: 51px !important;}
#mainContainer{ width:100%; min-width:100%; }
#logInButton {
	display: block;
	width: 105px;
	height: 42px;
	background: #1e89ac;
	color: #ffffff;
	font-size: 16px;
	float: none;
	margin: 0 auto; 
	font-style: normal;
	text-align: center;
	line-height: 42px;
}

.register-network > p {
    border-bottom: 1px solid #e7eef2;
    margin: 0 0 7px;
    padding-bottom: 7px;
}

body{min-width: 100%;}