header {
	height: 89px;
	padding-top: 25px;
}

header:after {
	top: 89px;
}

#mainBodyContainer {
	padding-top: 93px;
	padding-bottom: 100px;
}

#logInButton {
	display: block;
	width: 105px;
	height: 42px;
	background: #1e89ac;
	color: #ffffff;
	font-size: 16px;
	float: none;
	margin: 0 auto; 
	text-align: center;
	line-height: 42px;
	font-style: normal;
}


.register-network > p {
    border-bottom: 1px solid #e7eef2;
    margin: 0 0 7px;
    padding-bottom: 7px;
}
#mainLogo {
	float: left;
	display: block;
	height: 40px;
	width: 196px;
}
#mainLogo img {
	display: block;
	height: 40px;
	width: 196px;
}

header .mainMenu  {
	width: 658px;
	display: block;
	padding: 11px 0 0 35px;
	float: left;
}

header .mainMenu a {
	display: block;
	text-align: center;
	float: left;
	margin: 0 25px;
	color: #5e696f;
}
header .mainMenu a:hover {
	color: #1e89ac;
}

#footerMenu li{
	display: table-cell;
	padding-right: 20px;
}

.rainbow {
	display: block;
	position: absolute;
	height: 4px;
	left: 0;
	width: 100%;
	background: url(../../img/rainbow.png) repeat 50% 0;
}

#searchResultPage {
	margin-top: 20px;
}