
#usersMainPageGalleryBlock {
	position: absolute;
	top: 93px;
	left: 0;
	height: 496px;
	overflow: hidden;
	width: 100%;
}
#usersMainPageGallery {
	width: 100%;
	position: relative;
	background-color: #bdbdbd;
}
.box {
	float: left;
	background-color: #bdbdbd;
	position: relative;
	overflow: hidden;
}

.box .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000000;
	opacity: .25;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
	-khtml-opacity: 0.25;
	-moz-opacity: 0.25;
}

.box img {
	display: block;
}

.clear {
	position: relative;
	clear: both;
}

header:after {
	box-shadow: 0 1px 3px #aaaaaa;
}

.rainbow {
	top: 590px;
	box-shadow: 0 -2px 5px #444;
}

#mainBodyContainer {
	padding-top: 589px;
	padding-bottom: 72px;
}
.onlyTablet {
	display: none;
}
.bigTitle, h1, h2 {
	display: block;
	color: #5e6f7b;
	font-size: 28px;
	padding: 30px 0;
	font-weight: normal;
}

.bigTitle {
	text-align: center;
}

h1, h2 {
	text-align: left;
}

mark {
	background: none;
	color: #d15d5d;
}

#mainPageSearchForm label {
	margin: 7px 11px 0 31px;
	float: left;
	color: #636a6f;
}
#registrationForm mark{
	color: #a75184;
}
.formSelect{
	float: left;
	min-width: 95px;
}
#mainPageSearchForm label[for="age_to"] {
	margin: 7px 7px 0;
}

#mainPageSearchForm .button {
	margin-left: 25px;
	width: 105px;
}

#mainPageSearchForm {
	padding-bottom: 43px;
	padding-top: 10px;
}

hr {
	display: block;
	position: absolute;
	left: 0;
	width: 100%;
	border: none;
	border-top: 1px solid #f2f3f3;
	height: 1px;
}
#mainText{
	float: left;
	/*width: 635px;*/

	width: 100%;
	margin-bottom: 22px;
	text-align: justify;
}

section, article {
	display: block;
}

#mainText h1 {
	/*width: 445px;*/
	width: 100%;
	text-align: center;
}

#mainText p {
	line-height: 19px;
	margin-bottom: 19px;
	color: #81868a;
	margin-top: 5px;
}

#stories {
	margin-left: 65px;
	float: left;
	width: 260px;
}

#stories .wrap {
	overflow: hidden;
}

#stories article {
	border-top: 1px solid #9dacbb;
	padding: 20px 0 16px 61px;
	margin-top: -24px;
	margin-bottom: 27px;
	position: relative;
	font-size: 12px;
	font-style: italic;
	line-height: 14px;
	color: #6a7a82;
}

#stories article img {
	display: block;
	left: 2px;
	position: absolute;
	top: 23px;
	width: 52px;
	height: 52px;
}

.bigLocationMark {
	display: block;
	width: 170px;
	height: 50px;
	background: transparent url(../../img/mainpagesprite.png) no-repeat 50% -390px;
	background-image: -webkit-image-set(url(../../img/mainpagesprite.png) 1x, url(../../img/mainpagespritebig.png) 2x);
	margin: 68px auto 0;
}

.locationmark {
	width: 14px;
	height: 14px;
	display: inline-block;
	position: relative;
	border-radius: 7px;
	background: #c47878;
}

.locationmark:before {
	content: " ";
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 6px 5px;
	border-color: #c47878 transparent transparent transparent;
	top: 12px;
	left: 2px;
	display: block;
	position: absolute;
}

.locationmark:after {
	content: " ";
	width: 8px;
	height: 8px;
	display: block;
	position: absolute;
	background: #ffffff;
	border-radius: 4px;
	top: 3px;
	left: 3px;
}

#topCities .wrap {
	margin-left: -53px;
	width: 1076px;
	margin-top: 63px;
	margin-bottom: 35px;
}

#topCities a {
	display: inline-block;
	width: 140px;
	margin-left: 53px;
	color: #c47878;
	margin-bottom: 20px;
}

#topCities a .locationmark {
	margin-right: 20px;
}

#bottomPartBlock {
	min-height: 1472px;
}
#bottomPartBlock .wrap{
	width: 100%;
	left: 0;
	position: absolute;
	background: #fcfdfe;
}
#topMembers {
	height: 497px;
	border-top: 1px solid #f0f3f5;
}


#topMembers .limited {
	padding-bottom: 43px;
	border-bottom: 1px solid #f0f3f5;
}

#topMembers .bigTitle, #useSmoochy .bigTitle {
	text-align: left;
	padding: 48px 0 19px;
}

#topMembers .usersList {
	margin-left: 12px;
}
#topMembers .usersListSimpleContent {
	width: 972px;
	margin-left: -12px;
}

#followUs {
	height: 151px;
	position: relative;
}

#followUs .links {
	position: absolute;
	width: 596px;
	top: 102px;
	left: 50%;
	z-index: 5;
	margin-left: -297px;
}

#followUs .links a {
	text-indent: -100px;
	width: 97px;
	height: 97px;
	display: block;
	float: left;
	margin: 0 26px;
	background: transparent url(../../img/mainpagesprite.png) no-repeat;
	background-image: -webkit-image-set(url(../../img/mainpagesprite.png) 1x, url(../../img/mainpagespritebig.png) 2x);
	white-space: nowrap;
	overflow: hidden;
}

#followUs .links a.facebook {
	background-position: 50% -291px;
}

#followUs .links a.facebook:hover {
	background-position: 50% -1145px;
}

#followUs .links a.youtube {
	background-position: 50% -194px;
}
#followUs .links a.youtube:hover {
	background-position: 50% -1048px;
}

#followUs .links a.twitter {
	background-position: 50% -97px;
}
#followUs .links a.twitter:hover {
	background-position: 50% -951px;
}

#followUs .links a.googleplus {
	background-position: 50% 0;
}

#followUs .links a.googleplus:hover {
	background-position: 50% -854px;
}

#references {
	background: #c47878;
	height: 510px;
	padding-top: 110px;
}

#references .bigTitle {
	color: #ffffff;
	padding: 6px 0 37px;
}
#useSmoochy .bigTitle {
	color: #ffffff;
	padding: 22px 0 29px;
}

#references .innerClear {
	width: 1042px;
	margin-left: -82px;
}

#references .reference {
	width: 265px;
	float: left;
	margin-left: 82px;
	position: relative;
}

#references .reference .avatar {
	width: 174px;
	height: 174px;
	display: block;
	border: 8px solid #e19696;
	border-radius: 87px;
	-webkit-border-radius: 87px;
	overflow: hidden;
	margin: 0 auto 22px;
	background-size: 100% auto !important;
	-moz-background-size: 100% auto !important;
	-webkit-background-size: 100% auto !important;
	-o-background-size: 100% auto !important;
}

#references .reference p {
	display: block;
	padding: 0 29px;
	color: #ffffff;
	text-align: center;
	position: relative;
	line-height: 20px;
}
#references .reference p:before,
#references .reference p:after {
	display: block;
	position: absolute;
	font-size: 56px;
	color: #e19696;
}
#references .reference p:before{
	content: "“";
	left: 0;
	top: -1px;
}
#references .reference p:after {
	content: "”";
	right: 0;
	bottom: -10px;
}
#useSmoochy {
	background: #1e89ac;
	padding-top: 58px;
	height: 465px;
	color: #ffffff;
	font-size: 16px;
	line-height: 20px;
}

#useSmoochy .bigTitle {
	font-weight: bold;
	line-height: normal;
}
#useSmoochy .col1{
	width: 320px;
	float: left
}
#useSmoochy .col2{
	width: 640px;
	padding-left: 54px;
	float: left
}

#useSmoochy .col2 span {
	display: block;
	float: left;
	text-align: center;
}

#useSmoochy .col2 span span {
	display: block;
	background: transparent url(../../img/mainpagesprite.png) no-repeat;
	background-image: -webkit-image-set(url(../../img/mainpagesprite.png) 1x, url(../../img/mainpagespritebig.png) 2x);
	margin: 0 auto;
	float: none;
}

#useSmoochy .col2 span#laptop {
	width: 290px;
}

#useSmoochy .col2 span#laptop span {
	width: 234px;
	height: 165px;
	background-position: 50% -450px;
	margin-bottom: 14px;
}

#useSmoochy .col2 span#tablet {
	width: 166px;
}

#useSmoochy .col2 span#tablet span {
	width: 110px;
	height: 135px;
	background-position: 50% -621px;
	margin-top: 30px;
	margin-bottom: 15px;
}

#useSmoochy .col2 span#mobile {
	width: 108px;
	margin-right: 0;
	margin-left: 22px;
}

#useSmoochy .col2 span#mobile span {
	width: 48px;
	height: 86px;
	background-position: 50% -765px;
	margin-top: 79px;
	margin-bottom: 15px;
}

#useSmoochy .innerClear {
	border-bottom: 1px solid #31aad2;
	padding-bottom: 48px;
}

#signupButton {
	width: 360px;
	height: 75px;
	line-height: 75px;
	font-size: 36px;
	color: #ffffff;
	display: block;
	margin: 40px auto 0;
	background: #095d78;
	text-align: center;
}
#signupButton:hover {
	background: #05526b;
}
footer {
	line-height: 75px;
	border-top: 0;
}

#registrationForm {
	width: 450px;
	min-height: 423px;
	z-index: 20;
	padding: 6px;
	position: absolute;
	left: 50%;
	margin-left: -225px;
	top: 103px;
}

#registrationForm .overlay {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.5;
	top: 0;
	left: 0;
	z-index: -1;
}

#registrationForm .wrap {
	background: #f8fafb;
	min-height: 409px;
	width: 438px;
	z-index: 20;
}

#registrationForm .error-banner {
	position: absolute;
	top: 470px;
	left: 50%;
	margin-left: -150px;
	border: 1px solid #D80007;
	width: 300px;
	padding: 15px 10px;
	background: #FFBABA;
    color: #D80007;
    text-align: center;
}

.register-network {
	/*height: 89px;*/
	height: auto;
	color: #636a6f;
	background: #f3f6f8;
	padding: 10px 22px 0;
}
.register-network p{
  color: #D15D5D;
  font-size: 12px;
  font-style: italic;
  margin-top: 9px;
  text-align: center;
}

#registrationForm .delimiter{
	height: 34px;
	background: #ffffff;
	line-height: 34px;
	text-align: center;
	font-size: 16px;
	color: #636a6f;
}

#fblogin {
	display: block;
	border: none;
	background: #3b5998;
	color: #ffffff;
	text-transform: uppercase;
	height: 34px;
	line-height: 34px;
	padding: 0 48px 0 16px;
	margin: 0 auto;
	cursor: pointer;
	position: relative;
	width: 256px;
}

#fblogin span:after {
	content: " ";
	display: block;
	width: 34px;
	height: 34px;
	border-left: 1px solid #627aad;
	position: absolute;
	right: 0;
	top: 0;
	background: transparent url(../../img/sprite.png) no-repeat 50% -690px;
	background-image: -webkit-image-set(url(../../img/sprite.png) 1x, url(../../img/spritebig.png) 2x);
}

.joinNow {
	color: #5e6f7b;
	font-weight: bold;
	font-size: 16px;
	height: 43px;
	border-bottom: 1px solid #e7eef2;
	line-height: 43px;
	text-align: center;
	margin-bottom: 15px;
}

#RegistrationFront .select.age.element {
	height: 31px;
}

#RegistrationFront .zendForm {
	padding: 0 22px 11px;
}
.zendForm .element.gender .el label {
	height: 30px;
	line-height: 30px;
	margin-right: 10px;
}
.zendForm .element.gender .el label .formRadio{
	width: 30px;
	height: 30px;
	border-radius: 0;
	vertical-align: middle;
	margin-right: 8px;
	background: #ffffff;
	border: 1px solid #d7e2e8;
	position: relative;
}

.zendForm .element.gender .el label .formRadio.formChecked:after {
	display: none;
}
.zendForm .element.gender .el label .formRadio:before {
	content: " ";
	display: block;
	position: absolute;
	width: 22px;
	height: 18px;
	top: 5px;
	left: 3px;
	background: transparent url(../../img/sprite.png) no-repeat;
	background-image: -webkit-image-set(url(../../img/sprite.png) 1x, url(../../img/spritebig.png) 2x);

}
.zendForm .element.gender .el label.option1 .formRadio:before {
	background-position: 50% -636px;
}

.zendForm .element.gender .el label.option2 .formRadio:before {
	background-position: 50% -618px;
}

.zendForm .element.gender .el label.option0 .formRadio:before {
	background-position: 50% -601px;
}

.zendForm .element.gender .el label.option1 .formRadio.formChecked:before {
	background-position: 50% -760px;
}

.zendForm .element.gender .el label.option2 .formRadio.formChecked:before {
	background-position: 50% -742px;
}

.zendForm .element.gender .el label.option0 .formRadio.formChecked:before {
	background-position: 50% -724px;
}

.zendForm .element.gender .el label.option1 .formRadio.formChecked {
	background: #1e89ac;
}

.zendForm .element.gender .el label.option2 .formRadio.formChecked {
	background: #f26598;
}

.zendForm .element.gender .el label.option0 .formRadio.formChecked {
	background: #a75184;
}

.zendForm .element #email, .zendForm .element #password {
	width: 267px;
}

.zendForm .element #zip {
	width: 78px;
}

.zendForm .element .label {
	display: block;
	width: 111px;
	float: left;
	height: 30px;
	line-height: 30px;
	padding-right: 8px;
	text-align: right;
}
.zendForm .element .label:after {
	content: ":";
}
#RegistrationFront .zendForm .element{
	color: #636a6f;
}
#RegistrationFront .zendForm .element.gender .el label{
	color: #88a5b3;
	font-style: italic;
	font-size: 12px;
}
.zendForm .element {
	padding-bottom: 13px;
	clear: both;
}

.zendForm .element.age, .zendForm .element.zip  {
	width: 196px;
	display: inline-block;
	border-bottom: 1px solid #e7eef2;
	margin-bottom: 10px;
	float: left;
	min-height: 45px;
}
#RegistrationFront .formSelect.age {
    min-width: 75px;
}
.zendForm .element.zip  {
	clear: none;
}

.zendForm .element.zip .label {
	width: 72px;
}
.zendForm .element.join {
	float: right;
	width: 120px;
	clear: both;
}

.zendForm .element.terms {
	clear: none;
	font-size: 10px;
	color: #849fac;
	padding: 0;
	width: 270px;
}

.zendForm .element.terms a {
	text-decoration: underline;
}

.zendForm .element #join {
	width: 106px;
	height: 35px;
	text-transform: uppercase;
}

#join:hover, #logInButton:hover {
	background: #0e7293;
	border-color: #0e7293;
	color: #ffffff;
}

.zendForm .element.hidden {
	display: none;
}

#topCities .bigTitle {
	padding: 16px 0 10px;
}

#followUs .bigTitle {
	padding: 33px 0 10px;
}

#topMembers .userInList {
	margin: 10px 12px 0 0;
	float: left;
}

#usersMainPageGallery .tooltip{
	display: none;
	position: absolute;
	width: 166px;
	text-align: center;
	height: 110px;
	top: 20px;
	left: 50%;
	margin-left: -83px;
	color: #ffffff;
	text-shadow: 0 0 3px #000;
}

#usersMainPageGallery .tooltip .nick {
	display: block;
	font-size: 26px;
}
#usersMainPageGallery .tooltip .age {
	display: block;
	font-size: 16px;
	padding-bottom: 12px;
	border-bottom: 1px solid #ffffff;
	font-style: italic;
}
#usersMainPageGallery .tooltip .location {
	display: block;
	padding-top: 12px;
	font-size: 18px;
	text-transform: lowercase;
}

#usersMainPageGallery .smallPromoAva .tooltip {
	width: 120px;
	margin-left: -60px;
}

#usersMainPageGallery .smallPromoAva .tooltip .nick {
  font-size: 20px;
  overflow: hidden;
  text-overflow: clip;
  -moz-text-overflow: clip;
  -webkit-text-overflow: clip;
  -o-text-overflow: clip;
  white-space: nowrap;
  width: 120px;
}

#usersMainPageGallery .smallPromoAva .tooltip .age {
	font-size: 12px;
}

#usersMainPageGallery .smallPromoAva .tooltip .location {
	font-size: 14px;
}


#usersMainPageGallery .box:hover .tooltip {
	display: block;
}

#usersMainPageGallery .box:hover .overlay {
	display: none;
}

#RegistrationFront input.placeholder {
	color: #fff;
}
#RegistrationFront ::-webkit-input-placeholder {
	color: #fff;
}
#RegistrationFront :-moz-placeholder{
	color: #fff;
}
#RegistrationFront ::-moz-placeholder{
	color: #fff;
}
#RegistrationFront :-ms-input-placeholder{
	color: #fff;
}


/* === Promo Users === */
.boxPromoUsers{
  background-color: #BDBDBD;
  float: left;
  overflow: hidden;
  position: relative;
  left: 50%;
  margin-left: -1440px;
  width: 2880px;
}
.rowPromoUsers{
	float: left;
	width: 288px;
	height: 496px;
}
.rowPromoUsers img{
	float: left;
}
.rowPromoUsers .smallPromoAva img{
	height: 165px;
	width: 144px;
}
.rowPromoUsers .bigPromoAva img{
	height: 330px;
	width: 288px;
}
/* === End Promo Users === */

.boxForbidClick{
	display: block !important;
	height: 500px;
	left: 50%;
	margin-left: -295px;
	position: absolute;
	top: 93px;
	width: 579px;
	z-index: 15;
}
.styledSelect{
	font-style: italic;
}

/* === Tablet === */
@media all and (max-width: 990px) and (min-width: 640px){
	section#mainText{
		text-align: center;
		width: 100%;
		padding: 0 10px;
	}
	section#mainText h1{
		text-align: center;
		margin: auto;
	}
	.rainbow {
		box-shadow: none !important;
		-moz-box-shadow: none !important;
		-webkit-box-shadow: none !important;
		display: block;
		height: 4px;
		left: 0;
		position: absolute;
		top: 577px !important;
		width: 100%;
		background: url(../../img/rainbow.png) repeat 50% 0;
	}
	#mainPageSearchForm{
		padding-bottom: 25px !important;
	}
	#mainPageSearchForm #quicksearch{
		padding: 0 55px 0;
	}
	#mainPageSearchForm .bigTitle{
		padding: 10px 0 32px;
	}
	#mainPageSearchForm label{
		float: left;
		margin: 0 !important;
		padding: 5px 15px 0 0;
		text-align: right;
		width: 26%;
	}
	#mainPageSearchForm .formSelect{
		float: left;
		margin: 0 0 26px;
		width: 24%;
	}
	#mainPageSearchForm .formSelect.distance{}
	#mainPageSearchForm .formSelect.distance:before{clear: both;}
	#mainPageSearchForm .formSelect.gender{}
	#mainPageSearchForm .formSelect.age_from{
		width: 10%;
	}
	#mainPageSearchForm .formSelect.age_from + label{
		padding: 5px 7px 0 0;
		width: 5%;
	}
	#mainPageSearchForm .formSelect.age_to{
		width: 9%;
	}
	#mainPageSearchForm button.blue.button{
		float: right;
	}
	section#stories{
		padding: 0 10px;
		text-align: center;
		width: 100%;
		margin: 0;
	}
	section#stories h2{
		text-align: center;
	}
	section#stories article{
		border-top: 0 none;
		float: left;
		margin: 0;
		padding: 65px 15px 15px;
		text-align: center;
		width: 33.3333%;
	}
	#stories article img{
		left: 50% !important;
		margin: 0 0 0 -26px;
		top: 0 !important;
	}
	.bigLocationMark{
		margin-top: 35px !important;
	}
	#topCities .wrap{
		margin: 25px 0 0 0 !important;
		padding: 0 10px;
		width: 100% !important;
	}
	#topCities .wrap a{
		margin: 0 0 20px;
		width: 32.5%;
		padding: 0 0 0 50px;
	}
	#topMembers{
		padding: 0 15px;
		height: auto !important;
	}
	#usersListScrollContent{

	}
	.usersListSimpleContent{
		width: 1905px !important;
	}
	#topMembers .userInList{
		margin: 10px 10px 15px 0px !important;
	}
	#references .innerClear {
		margin-left: 0 !important;
		width: 100% !important;
	}
	#references .reference {
		margin-left: 0px !important;
		width: 33.333% !important;
		padding: 0 15px;
	}
	#references .reference .avatar{
		width: 150px !important;
		height: 150px !important;
		background-position: 50% 0 !important;
	}
	#references .reference p{
		padding: 0 15px 20px !important;
	}
	#references{
		padding-top: 80px !important;
		height: 465px !important;
	}
	#useSmoochy .col1{
		padding: 0 24% 30px;
		width: 100% !important;
		text-align: center !important;
	}
	#useSmoochy .bigTitle{
		text-align: center !important;
	}
	#useSmoochy{
		padding-top: 0px !important;
		height: 420px !important;
	}
	#useSmoochy .col2{
		float: none !important;
		margin: auto;
		padding: 0 !important;
	}
	#signupButton{
		display: none !important;
	}
	#useSmoochy .innerClear{
		border: 0 none !important;
	}
	#bottomPartBlock {
		min-height: 1191px !important;
	}
	#RegistrationFront .formSelect.age{
		width: 75px;
	}
	#topMembers .bigTitle{
		padding-top: 20px;
	}
}

/* === Mobile === */
@media all and (max-width: 640px) and (min-width: 420px){
	#useSmoochy .col2{width: 407px !important;}
	#useSmoochy .col2 span#laptop{width: 190px !important;}
	#useSmoochy .col2 span#tablet{width: 100px !important;}
	#useSmoochy .col2 span#mobile{width: 115px !important;}
	#followUs .links {margin: 0 0 0 -197px !important;width: 394px !important;top: 80px;}
	#followUs .links a {margin: 0 15px !important;}
}
@media all and (max-width: 419px){
	#useSmoochy .col2{width: 295px !important;}
	#useSmoochy .col2 span#laptop{width: 134px !important;}
	#useSmoochy .col2 span#tablet{width: 70px !important;}
	#useSmoochy .col2 span#mobile{width: 85px !important;}
	#followUs .links{margin: 0 0 0 -145px !important;width: 290px !important;top: 77px;}
	#followUs .links a{margin: 0 2px !important;height: 68px !important;width: 68px !important;}
}
@media all and (max-width: 640px){
	.zendForm .element.age, .zendForm .element.zip{margin-bottom: 2px;}
	.zendForm .element.zip .error ul {
		min-width: 135px;
	}
	.zendForm .element.gender  .error {
		bottom: 66px;
	}
	#mainBodyContainer {
		padding-top: 377px;
		padding-bottom: 100px;
	}
	#RegistrationFront input.placeholder {
		color: #636a6f !important;
	}
	#RegistrationFront ::-webkit-input-placeholder {
		color: #636a6f !important;
	}
	#RegistrationFront :-moz-placeholder{
		color: #636a6f !important;
	}
	#RegistrationFront ::-moz-placeholder{
		color: #636a6f !important;
	}
	#RegistrationFront :-ms-input-placeholder{
		color: #636a6f !important;
	}
	#registrationForm{
		top: 62px !important;
		margin-left: -158px !important;
		width: 316px !important;
	}
	#registrationForm .wrap{
		min-height: 475px !important;
		width: 100% !important;
	}
	#registrationForm .error-banner {
		top: 112px;
	}
	#RegistrationFront .zendForm .element .label{
	  color: #636A6F;
	  text-align: left !important;
	  width: 100% !important;
	}
	#RegistrationFront .zendForm .element.gender .el label{
	  color: #88A5B3;
	  font-size: 12px;
	  font-style: italic;
	}
	#RegistrationFront .zendForm .password.element .label,
	#RegistrationFront .zendForm .email.element .label{
		display: none;
	}
	#RegistrationFront .inputField{
		width: 100% !important;
	}
	#RegistrationFront .zendForm .age.element .label{
	  float: left;
	  padding: 0;
	  width: 33px !important;
	}
	#RegistrationFront .zendForm .zip.element .label{
	  float: left;
	  padding: 0;
	  width: 65px !important;
	}
	#RegistrationFront .zendForm .element.age{
		width: 46% !important;
	}
	#RegistrationFront .zendForm .element.zip{
		width: 54% !important;
	}
	#RegistrationFront .zendForm .element.zip .el{
		width: 75px;
	}
	#RegistrationFront .zendForm .element.age .el,#RegistrationFront .zendForm .element.zip .el{
		float: left;
	}
	#RegistrationFront .zendForm .element.terms{
		width: 100% !important;
		text-align: center;
	}
	#registrationForm .delimiter{height: 25px; line-height: 25px;}
	#RegistrationFront .zendForm .element.join{
		position: absolute;
		bottom: 0;
		width: auto !important;
		left: 50%;
		margin: 0 0 0 -60px;
	}
	#RegistrationFront .zendForm .element #join{
		margin: 0 !important;
	}
	.register-network{
		padding: 1px 22px 0 !important;
		height: auto;
	}
	.joinNow{
		margin-bottom: 0px !important;
		height: 38px !important;
		line-height: 38px !important;
	}
	#mainBodyContainer{
		padding-top: 560px !important;
	}
	#mainPageSearchForm .bigTitle{
		padding: 0 0 25px !important;
		font-size: 21px;
	}
	#mainPageSearchForm label{
	  float: left;
	  height: 30px;
	  margin: 0 0 17px !important;
	  padding: 5px 5px 0 0;
	  text-align: right;
	  width: 45%;
	}
	#mainPageSearchForm .formSelect{
	  float: left;
	  margin: 0 5% 17px 0;
	  width: 50%;
	}
	#mainPageSearchForm .formSelect.age_from{
	  margin: 0;
	  width: 30%;
	}
	#mainPageSearchForm .formSelect.gender + label{
		width: 25%;
	}
	#mainPageSearchForm .formSelect.age_from + label{
		width: 10%;
	}
	#mainPageSearchForm .formSelect.age_to{
		margin: 0 5% 0 0;
		width: 30%;
	}
	#mainPageSearchForm button.blue.button{
		float: right;
		margin: 13px 5% 0 0;
	}
	#mainPageSearchForm{
		padding: 10px 0 35px !important;
	}
	#stories,
	#mainText{
		padding: 0 15px;
		width: 100% !important;
	}
	#stories{
		margin: 0 !important;
		padding: 0 15px 4px;
	}
	#mainText{
		text-align: center;
	}
	#stories h2,
	#mainText h1{
	  font-size: 21px;
	  margin: auto;
	  padding: 10px 0 5px;
	  text-align: center;
	  width: 295px !important;
	}
	#stories h2{
		padding: 25px 0 33px;
		font-size: 20px;
	}
	#mainText h1{
		padding: 26px 0 17px;
	}
	#stories .wrap{}
	#stories article{
	  border-bottom: 1px solid #f2f3f3;
	  border-top: 0 none !important;
	  margin: 0 auto 15px !important;
	  padding: 67px 25px 15px !important;
	  text-align: center;
	  width: 95%;
	}
	#stories article:last-child{
		border: 0 none !important;
	}
	#stories article img {
	  left: 50% !important;
	  margin: 0 0 0 -26px;
	  top: 0 !important;
	}
	#topCities .bigTitle{
	  font-size: 20px;
	  padding: 15px 10px 50px !important;
	}
	#topCities .wrap{
	  margin: 0 0 11px !important;
	  padding: 0 15px;
	  width: 100% !important;
	}
	.bigLocationMark{
		margin: 30px auto 6px !important;
	}
	#topCities .wrap a{
	  margin: 0 0 19px;
	  width: 49.2%;
	}
	.usersListSimpleContent{
		width: 1475px !important;
		margin: 0 !important;
	}
	#topMembers #usersListScrollContent{
		height: 160px;
	}
	#bottomPartBlock{
		width: 100%;
		min-height: 1330px !important;
	}
	#bottomPartBlock .wrap{
		position: static !important;
	}
	#topMembers .bigTitle{
		padding: 24px 0 15px;
	}
	#useSmoochy .bigTitle{
		padding: 10px 0;
	}
	#topMembers .bigTitle, #useSmoochy .bigTitle{
		font-size: 20px;
	}
	#references .bigTitle{
		font-size: 20px;
		padding-bottom: 30px;
	}
	#topMembers .limited{
		padding: 0 0 25px !important;
	}
	#topMembers{
		height: 240px !important;
		padding: 0 15px;
		border-bottom: 1px solid #F0F3F5;
	}
	#topMembers .userInList{
	  height: 134px;
	  margin: 10px 5px 10px 0;
	  width: 100px;
	}
	#followUs .bigTitle {
		font-size: 20px;
	}
	#topMembers .limited{
		border: 0 none !important;
	}
	.userInList span,
	.userInList img{
		width: 100px !important;
	}
	#followUs{
		height: 112px !important;
	}
	#followUs .links a{
		height: 68px !important;
		width: 68px !important;
	}
	#references{
		padding-top: 75px !important;
		height: 810px !important;
	}
	#followUs .links a.facebook {
		background-position: 50% -1448px !important;
	}
	#followUs .links a.facebook:hover {
		background-position: 50% -1722px !important;
	}
	#followUs .links a.youtube {
		background-position: 50% -1380px !important;
	}
	#followUs .links a.youtube:hover {
		background-position: 50% -1654px !important;
	}
	#followUs .links a.twitter {
		background-position: 50% -1312px !important;
	}
	#followUs .links a.twitter:hover {
		background-position: 50% -1586px !important;
	}
	#followUs .links a.googleplus {
		background-position: 50% -1243px !important;
	}
	#followUs .links a.googleplus:hover {
		background-position: 50% -1517px !important;
	}
	#references .innerClear{
		width: 100% !important;
		margin: 0 !important;
	}
	#references .reference{
		margin: 0 0 15px 0 !important;
		width: 100% !important;
		padding: 0 20px;
	}
	#references .reference .avatar{
	  background-position: 50% 0 !important;
	  height: 140px !important;
	  width: 140px !important;
	  margin: 0 auto 24px !important;
	}
	#useSmoochy{
		height: 280px !important;
		padding: 15px 10px 10px !important;
	}
	#useSmoochy .bigTitle,
	#useSmoochy .col1{
		text-align: center !important;
		width: 100% !important;
	}
	#useSmoochy .col2{
	  float: none !important;
	  margin: auto !important;
	  padding: 0 !important;
	}
	#useSmoochy .col2 span#laptop span {
	  background-position: 50% -1792px !important;
	  height: 93px !important;
	  margin: 30px auto 5px !important;
	  width: 130px !important;
	}
	#useSmoochy .col2 span#tablet span {
	  background-position: 50% -1889px !important;
	  height: 75px !important;
	  margin: 48px auto 5px !important;
	  width: 62px !important;
	}
	#useSmoochy .col2 span#mobile span {
	  background-position: 50% -1968px !important;
	  height: 48px !important;
	  margin: 75px auto 5px !important;
	  width: 28px !important;
	}
	#useSmoochy .col2 span#laptop{
	  font-size: 12px;
	}
	#useSmoochy .col2 span#tablet{
	  font-size: 12px;
	}
	#useSmoochy .col2 span#mobile{
	  font-size: 12px;
	  margin: 0 !important;
	}
	#useSmoochy .innerClear{
		border: 0 none !important;
	}
	#signupButton{
		display: none !important;
	}
	.activeMenu #mainBodyContainer{
		max-width: 960px;
		position: relative;
	}
	#references .reference p{
    font-size: 13px;
    margin: 0 38px;
    padding: 0 20px !important;
	}
	.boxPromoUsers,
	.boxForbidClick{
		display: none;
	}
	#usersMainPageGallery{
		background-color: #167493 !important;
		height: 496px;
	}
	#RegistrationFront .formSelect.age{
		width: 75px;
	}
	#RegistrationFront .zendForm .element.terms {
		clear: both;
	}
}
@media all and (max-width: 500px){
	#references{
		height: 850px !important;
	}
	#bottomPartBlock{
		min-height: 1370px !important;
	}
}
@media all and (max-width: 419px){
	#references{
		height: 925px !important;
	}
	#bottomPartBlock{
		min-height: 1445px !important;
	}
}
#quicksearch .formSelect.gender ul.options {
	min-height: 185px;
}
ul.options {
	max-height: 150px;
}
#registrationForm .zendForm .element{padding-bottom:8px;}
#registrationForm  .zendForm .element.track_code{height:0; padding: 0;}
#registrationForm  .zendForm .element.terms{padding: 0;}
