* {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	outline: none;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	word-wrap: break-word;
	-webkit-tap-highlight-color:transparent;
	-webkit-appearance: none;
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	-o-text-size-adjust: none;
}

input {
  -webkit-border-radius:0px;
}

html {
	height: 100%;
	width: 100%;
	font-size: 14px;
	color: #81868a;
	min-width: 320px;
	position: relative;
	overflow-x: hidden;
}


a, a:visited, a:active, a:focus {
	text-decoration: none;
	outline: none;
	color: #1e89ac;
}

a img {
	border-style: none;
	outline: none;
}


.hidden, .element.hidden {
	display: none !important;
}

.clear {
	clear: both;
}

body {
	width: 100%;
	min-height: 100%;
  position: relative;
	/* overflow-y: scroll; */
	overflow-x: hidden;
}


#mainContainer {
	height: 100%;
	position: relative;
	background: #ffffff;
	z-index: 1;
}

.limited {
	width: 960px;
	max-width: 100%;
	margin: 0 auto;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 201;
	width: 100%;
	background: #ffffff;
}

header:after {
	content:"";
	display: block;
	position: absolute;
	height: 4px;
	left: 0;
	width: 100%;
	background: url(../img/rainbow.png) repeat 50% 0;
}

/*  FOOTER { */

footer {
	width: 100%;
	border-top: 3px solid #f2f6f7;
	line-height: 72px;
}

.footerAd {
  text-align: center;
  padding: 10px 14px 5px;
  line-height: 1;
  width: 100%;
  text-align: center;
}

.footerAd > iframe {
    width: 100%;
    height: 270px;
    max-width: 100%;
}

#footerMenu {
	float: left;
	list-style: none;
}

#copyRight {
	float: right;
	color: #a1acb6;
}

/* } FOOTER */

.innerClear:after {
	content: " ";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}


.formSelect.gender .styledSelect[data-value='male'] span, .formSelect.gender .styledSelect[data-value='female'] span,.formSelect.gender .styledSelect[data-value='couple'] span,.formSelect.gender .styledSelect[data-value='gay_couple'] span,.formSelect.gender .styledSelect[data-value='lesbian_couple'] span{
	width: 22px;
	display: inline-block;
	height: 18px;
	margin: 5px 5px 5px 5px;
	padding-left: 0;
	background: transparent url(../img/sprite.png) no-repeat;
	background-image: -webkit-image-set(url(../img/sprite.png) 1x, url(../img/spritebig.png) 2x);
	vertical-align: top;
}
.options-li-male:before, .options-li-female:before,.options-li-couple:before,.options-li-gay_couple:before,.options-li-lesbian_couple:before {
	content: " ";
	display: inline-block;
	vertical-align: top;
	width: 22px;
	height: 18px;
	background: transparent url(../img/sprite.png) no-repeat;
	background-image: -webkit-image-set(url(../img/sprite.png) 1x, url(../img/spritebig.png) 2x);
	margin: 6px 13px 6px 8px;
}
.options-li-male:before {
	background-position: 50% -636px;
}
.options-li-female:before {
	background-position: 50% -618px;
}
.options-li-couple:before {
	background-position: 50% -601px;
}
.options-li-gay_couple:before {
	background-position: 50% -672px;
}
.options-li-lesbian_couple:before {
	background-position: 50% -654px;
}
.formSelect.gender .styledSelect[data-value='male'] span{
	background-position: -4px -636px;
}
.formSelect.gender .styledSelect[data-value='female'] span{
	background-position: -4px -618px;
}
.formSelect.gender .styledSelect[data-value='couple'] span{
	background-position: -4px -601px;
}
.formSelect.gender .styledSelect[data-value='gay_couple'] span{
	background-position: -4px -672px;
}
.formSelect.gender .styledSelect[data-value='lesbian_couple'] span{
	background-position: -4px -654px;
}

#chatsContainer {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: -5;
	bottom: 0;
	right: 0;
}

.h1_newest_photovideo {
	margin: 30px 0 17px 0;
	font-weight: normal;
}

#imTabletSwitcher {
	display: none;
}

.usersListSimpleBlock .button, .galeryListSimpleBlock .button{
	z-index: 1;
}

.countNews, .countNewsIm {
  position: absolute;
  top: 0;
  background: #d97f7f;
  width: 25px;
  height: 25px;
  display: none !important;
  text-align: center;
  line-height: 25px;
  font-size: 14px;
  color: #fff;
  z-index: 1;
  white-space: nowrap;
}

.countNewsIm {
  left: 0;
}
.countNews {
  right: 0;
}

.loader{
	text-align: center;
}

.spacedTop {
	padding-top: 14px;
}


@media all and (max-width: 640px) { 
    .upgradeRed_wrapp_no_desk .upgradeButton { margin: 0 0 10px }
}

.upgradeButton {
    display: block;
    margin-bottom: 10px;
    padding: 0 5px;
    background: #81b822;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    line-height: 35px;
}
@media all and (max-width: 640px) { 
  .upgradeButton { font-size: 17px; }
}
.upgradeButton:hover { background: #71a01f; }
.upgradeButton:active,
.upgradeButton:visited,
.upgradeButton:focus { color: #ffffff }
.allPagesUpgradeRedButton_wrapp{
	padding:0 15px;
	margin: 0 auto 10px;
}
.col2 .upgradeRed_wrapp_no_desk{padding:0;}
.allPagesUpgradeRedButton_wrapp .upgradeRedButton{max-width: 780px; margin: 0 auto;}

.confirmEmailBlockWrapp {
	width:100%; padding:0 15px; margin: 0px auto 20px;
}
.confirmEmailBlock {
  position: relative;
  background: white;
  border: 1px solid #719cac;
  margin: -10px auto 10px;
  padding: 10px 15px 10px 30px;
  text-align: center;
	font-size: 15px;
	color:#4c7387 ;
	line-height: 19px;
}

.confirmEmailBlockWrapp.moreMargin {
    margin-top: 35px;
}


@media all and (max-width: 700px){
	div.confirmEmailBlock { font-size: 14px; }
}
div.confirmEmailBlock:before {
  display: block;
  content: '!';
  position: absolute;
  padding: 0 0.5em;
  line-height: 1.5em;
  color: white;
  background: #D15D5D;
  top: -1px;
  left: -1px;
}
.confirmEmailBlock a{text-decoration: underline; font-style:italic;}
.confirmEmailBlock a:hover { text-decoration: none }
.confirmEmailBlock .emailAddress { font-style: italic }

.thank_you_registr_wrapp {
    text-align: center;
    margin: 10px auto 25px;
    padding: 0 10px;
}
.thank_you_registr_wrapp p {
    color: #636a6f;
    font-size: 18px;
    line-height: 24px;
    margin: 5px 0;
}
.thank_you_registr_wrapp h3 {
    color: #636a6f;
    font-size: 22px;
    line-height: 26px;
    margin: 10px 0;
}
.thank_you_registr_wrapp .button {
    height: 34px;
    padding: 0 30px;
    margin: 15px 0;
}
.thank_you_registr_wrapp span.red_text {
    font-weight: 700;
    color: #d15d5d;
}
.thank_you_registr_wrapp .marg_bot_25 { margin-bottom: 25px }
.thank_you_registr_wrapp ol{
	text-align: left;
	counter-reset: li;
	margin: 0 auto;
	padding-left: 0;
	max-width: 400px;
}
.thank_you_registr_wrapp ol > li{
  position: relative;
  margin: 10px 0 0 1px;
  padding: 0 8px 0 1.5em;
  list-style: none;
}
.thank_you_registr_wrapp ol > li:before{
  content: counter(li);
  counter-increment: li;
  position: absolute;
  top: 2px;
  left: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 1em;
  padding: 0px;
  border-top: px solid #A2B8BD;
  color: #636a6f;
  background: transparent;
  font-weight: bold;
  font-size: 18px;
  text-align: left;
}
.thank_you_registr_wrapp .button.blue.invert {
  padding: 0 40px;
  line-height: 40px;
  height: 42px;
}

header{min-width: 100%;}
@media screen and (orientation:landscape) {
	header {
		width : 100%;
	}
}
.tAlignCenter { text-align: center }

.middleWrapperSomeContent {
    text-align: center;
    margin: 20px auto;
}
.loaderWrapp {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    background: rgba(255,255,255,0.3);
    top: 0;
    left: 0;
    text-align: center;
    line-height: 150px;
    z-index: 999999;
    display: none;
}
.loaderWrapp.opacNullWrapp {
    background: rgba(0,0,0,0);
}
.loaderWrapp img {
    position: relative;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    width: 30px;
    height: 30px;
    display: block;
    z-index: 2005;
    margin-top: -15px;
}

a.phonesexButton {
	background-color: #1e89ac;
	font-size: 17px;
	color: #ffffff;
	display: block;
	text-align: center;
	line-height: 35px;
	margin: 0 auto 20px;
	max-height: 35px;
}
a.phonesexButton:after {
	display: inline-block;
	content: '';
	width: 41px;
	background: transparent url(../../img/sprite.png) no-repeat 50% -1411px;
	background-image: -webkit-image-set(url(../../img/sprite.png) 1x, url(../../img/spritebig.png) 2x);
	background-size: 30px;
	height: 20px;
	vertical-align: middle;
}
a.phonesexButton:hover {
	opacity: 0.9;
}
@media all and (min-width: 992px) {
	a.phonesexButton {
		margin-top: 0;
	}
}
.whcaptcha > div{
    height:24px;
}
.whcaptcha {
    display: block;
}
.whcaptchaNumber{
    background-image: url("../../img/numbers.png");
    background-repeat: no-repeat;
    float: left;
    display: block;
    height: 24px;
    margin: 0;
    padding: 0;
    width: 16px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.spaced {
	margin-top: 16px;
}
.ad {
	display: block;
	width: 100%;
	text-align: center; }
.ad.ad--spaced {
	margin-top: 16px; }
.ad.ad--responsive {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 16.67%; }
.ad.ad--responsive .ad__content {
	position: absolute;
	top: 0;
	left: 0;
	margin: auto;
	width: 100%;
	height: 100%; }

.ad__content {
	display: block;
	margin: 0 auto; }

.ad__info {
	display: block;
	width: 100%;
	text-align: center;
	font-size: 12px;
	line-height: 15px;
	color: #1389AE; }
@media only screen and (min-width: 1025px) {
	.ad.ad--responsive {
		padding-bottom: 10.31%;
		margin-top: 16px; } }

.adsContainer {
	width: 100%;
	height: 50px;
	margin: 15px 0;
}

.adsContainer iframe {
	display:block;
	margin: 0 auto !important;
	height: 50px;
}

.adsContainer img {
	margin: 0 auto;
}

.adsContainer.big,
.adsContainer.big iframe {
	height: 250px;
}

.adsContainer.medium,
.adsContainer.medium iframe {
	height: 100px;
}

.adsContainer.thumb,
.adsContainer.thumb iframe {
	height: 124px;
}

.adsContainer.inGallery {
	float:left;
}

.adsContainer.inSidemenu {
	margin:0;
}

.adsContainer.inProfile{
	background : #2aa622;
	height:35px;
	margin: 8px 0;
	text-align:center;
	line-height: 35px;
}
.adsContainer.inProfile a{
	color: white !important;
	font-weight: bold;
	font-size: 14px;
}
.textAdContainer {
	width: 100%;
}
.textAdContainer iframe {
	display:block;
	margin: 0 auto !important;
}
.logged-in-user-stack
{
    background-color: white;
    position: absolute;
    z-index: 2;
}

#pornAppLink.confirmEmailBlockWrapp h3 {
    text-align:center;
    text-decoration: underline;
}

#pornAppLink.confirmEmailBlockWrapp h3 a {
    color:#0000ff !important;
}

.banner_footer{
	text-align: center;
}

.banner_footer a {
	color: #1389AE;
	font-family: Arial,sans-serif;
	font-size: 12px;
}