h1 {
	color: #4c7387;
	font-size: 24px;
	font-weight: bold;
}

h3 {
	font-size: 20px;
	font-weight: normal;
	color: #4c7387;
}

hr {
	display: block;
	height: 4px;
	background: #eff3f5;
	border: none;
	border-top: 1px solid #dfe8eb;
}

#mainLogo img {
	height: 40px;
}

/* TABS  { */

.uiTabs.ui-tabs-nav {
	display: block;
	float: left;
}

.tabsNotActive {
	display: block;
}

.ui-tabs-nav, .tabsNotActive{
	padding-bottom: 14px;
}

li.ui-state-default, .tabsNotActive li {
	display: block;
	float: left;
	padding: 0 15px;
	border-left: 1px solid #baccd2;
}

li.ui-state-default:first-child,
.tabsNotActive li:first-child {
	border-left: none;
	padding-left: 0;
}

li.ui-state-default a, .tabsNotActive li a {
	color: #7a97a6;
	font-size: 16px;
}

li.ui-state-active a , .tabsNotActive li.active {
	color: #1e89ac;
	position: relative;
}

li.ui-state-active a:after, .tabsNotActive li.active:after {
	content: " ";
	display: block;
	position: absolute;
	width: 100%;
	height: 5px;
	background: #15819b;
	bottom: -14px;
	left: 0;
}

.col1 li.ui-state-active a:after, .col1 .tabsNotActive li.active:after {
	content: " ";
	display: block;
	position: absolute;
	width: 100%;
	height: 3px;
	background: #15819b;
	bottom: -6px;
	left: 0;
}

/* } TABS */

.usersListSimpleBlock, .galeryListSimpleBlock {
	margin: 25px 0 15px;
}

.col2 h3, .innerLayout1collumn h3 {
	padding-top: 5px;
	padding-bottom: 10px;
	border-bottom: 1px solid #c4dae2;
	margin-bottom: 3px;
}

.col1section {
	position: relative;
	margin-bottom: 32px;
}

.col1section h3 {
	padding-bottom: 14px;
	border-bottom: 3px solid #c4dae2;
	margin-bottom: 12px;
}

.onlineStatus:before {
	content: " ";
	display: inline-block;
	vertical-align: baseline;
	width: 10px;
	height: 10px;
	margin-right: 10px;
	/**/
	border-radius: 5px;
}

.online {
	color: #b5dd7b;
}
.online:before {
	background-color: #b5dd7b;
}

.offline {
	color: #adc2c7;
}
.offline:before {
	background-color: #adc2c7;
}


a.pink {
	color: #9d6b7d;
}

a.underlined {
	text-decoration: underline;
}

a.underlined:hover {
	text-decoration: none;
}

.xdebug-error {margin-top: 70px;} /* For debugging needs only */
.debug {margin: 10px 0 100px}
