.col2 .usersListSimpleContent {
	width: 685px;
}

.usersListSimpleContent,.usersListSimpleContent .innerContent {
	min-width: 648px;
}

.innerLayout1collumn .usersListSimpleContent {
	margin-left: -8px;
	width: 968px;
}

.userInList {
	display: block;
	float: left;
	margin: 10px 11px 0 0;
	width: 126px;
	height: 164px;
	position: relative;
}

.userInList img {
	width: 126px;
	display: block;
}

.userInList span {
	display: block;
	text-align: center;
	min-height: 24px;
	line-height: 24px;
	background: #56a7c1;
	color: #ffffff;
	width: 126px;
	position: absolute;
	left: 0;
	bottom: 0;
}

@media all and (max-width: 991px) {
	.col2 .usersListSimpleContent, .col2 .usersListSimpleContent .innerContent {
		text-align: justify;
		margin: 0;
		width: 685px;
	}
	.col2 .usersListSimpleContent:after, .col2 .usersListSimpleContent .innerContent:after {

		content: " ";
		width: 50%;
		height: 0;
		visibility: hidden;
		display: inline-block;
	}
	.userInList {
		margin: 10px 11px 0 0;
		display: inline-block;
		float: none;
	}
}
@media all and (min-width: 820px) and (max-width: 920px) {
	.userInList {
		margin: 10px 11px 0 0;
	}
	.col2 .usersListSimpleContent {
		margin-left: -10px;
		margin-right: -10px;
	}
}

@media all and (min-width: 920px) and (max-width: 990px) {
	.userInList {
		margin: 10px 11px 0 0;
	}
	.col2 .usersListSimpleContent {
		margin-left: -25px;
		margin-right: -25px;
	}
}
