/* REUTERS MARKETS Style Sheet | July.2016 */
/* Markets Tabs */
.tabs,
.mod-tabs .tabs{
    clear: both;
    width: 100%;
    padding: 0;
}
.tabs ul,
.markets-module .moduleBody .tabs ul{
    margin: 0;
    padding: 0;
	width: 100%;
	text-align: center;
	background: #f8f8f8;
	border: 1px solid #ccc;
}
.tabs.fixedWidth ul li,
.markets-module .moduleBody .tabs ul li{
    background: #fff;
    border-bottom: 1px solid #f8f8f8;
    list-style-type: none;
	float: left;
	text-align: center !important;
}
.tabs ul li,
.tabs ul li a,
.tabs ul li span,
.tabs ul li span.hrefClone, 
.time-button.current span{
    color: #333;
    display: inline-block;
    font-size: 1em; 
	text-transform: uppercase;
	font-family:knowledge-reg,helvetica,arial,sans-serif;
    font-weight: 400;
	padding:12px 0 13px;
	background: #f8f8f8;
}
.tabs ul li{
    padding: 0;
    margin: 0;
    cursor: pointer;
}
.tabs ul li:first-child{
	float: left;
}
.tabs ul li:last-child{
	float: right;
}
.tabs ul li.current{
	border-bottom: none;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}
.tabs ul li:first-child.current{
	border-left: none;
}
.tabs ul li:last-child.current{
	border-right: none;
}
.tabs ul li.current span.hrefClone, 
.time-button.current span{
    font-family:knowledge-reg,helvetica,arial,sans-serif;
    font-weight: 400;
}
.tabs ul li.current,
.markets-module .moduleBody .tabs ul li.current,
.tabs ul li.current span,
.tabs ul li.current span.time-button.current {
	background: #fff;
	padding-bottom: 9px;
}
.tabs ul li:first-child.current {
	padding-bottom: 9px;
}
.tabs ul li.current a,
.tabs ul li.current span.hrefClone,
.markets-module .moduleBody .tabs ul li.current a,
.markets-module .moduleBody .tabs ul li.current span.hrefClone, .time-button.current {
    color: #333;
}
.tabs.flushLeft {
    margin: 0;
}
.tabs.inline {
    margin: 0 0 10px 0;
}
.tabs.inline ul {
    padding: 0 0 0 10px;
}
.markets-module.module-tabs-light .module-container .module-header{
    margin: 0 0 25px;
}
.module-tabs-light .tabs{
    border-bottom: 1px solid #ccc;
    margin-bottom: 16px;
}
#leadstocks .module-content,
#leadbonds .module-content,
#leadcurrencies .module-content,
#leadcommodities .module-content {
	height: 210px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.mod-tabs-table section.hidden {
	min-height: 0;
}
 /****************/
/* End of Standard Tabs */
/*****************/


/*****************/
/* Chart Modules */
/*****************/
.chart-module .chart-labels {
	padding: 10px 0 30px;
	font-family: knowledge-reg,helvetica,arial,sans-serif;
    font-weight: 300;
	font-size: 1.2em;
	color: #666;
}
.chart-module .chart-labels .index,
.chart-module .chart-labels .sector {
	float: left;
	width: 45%;
}
.chart-module .chart-labels .price-last {
	float: right;
	padding-right: 10px;
	width: 22.5%;
	text-align: right;
}
.chart-module .chart-labels .price-change {
	float: right;
	width: 22.5%;
	text-align: right;
}
.chart-module .chart-table {
	width: 100%;
}
.chart-module .chart-row {
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom: 1px solid #eee;
}
.chart-module .chart-row:last-child {
	border-bottom: none;
}
.chart-module .chart-row .chart-subrow{
	overflow: hidden;
}
.chart-module .chart-row .chart-index,
 .chart-module .chart-row .chart-sector {
	float: left;
	width: 42%;
	font-family: helvetica,arial,sans-serif;
}
.chart-row .chart-index .index-name a,
.chart-row .chart-sector .sector-name a {	
	color: #FF8000;
	text-decoration: none;
}
.chart-row .chart-index .index-name,
.chart-row .chart-sector .sector-name {	
	font-weight: bold;
	font-size: 1.6em;
	color: #333;
}
.stock-sector .chart-row .chart-index .index-name {	
	font-size: 1.4em;
}
.chart-row .chart-index .index-ric,
 .chart-row .chart-sector .sector-ric {
	font-size: 1.4em;
	color: #666;
	display: block;
	padding-top: 10px;
}
.chart-module .chart-row .chart-price-last {
	float: right;
	padding-right: 10px;
	width: 32%;
	text-align: right;
	font-family: helvetica,arial,sans-serif;
	color: #666;
}
.chart-row .chart-price-last .last-price {
	font-size: 1.6em;
	color: #333;
}
.chart-row .chart-price-last .last-price-currency {
	font-size: 1.1em;
	color: #333;
}
.chart-row .chart-price-last .last-price-time {
	font-size: 1.2em;
	display: block;
	padding-top: 10px;
    text-transform: uppercase;
}
.chart-module .chart-row .chart-price-change {
	float: right;
	width: 22.5%;
	text-align: right;
	font-family: helvetica,arial,sans-serif;
}
.chart-row .chart-price-change .price-change {
	font-size: 1.6em;
	font-weight: bold;
}
.chart-row .chart-price-change .percent-diff {
	padding-top: 6px;
	font-size: 1.6em;
	font-weight: bold;
	display: block;
}
.chart-row .chart-price-change .exp-date {
	padding-top: 10px;
	font-size: 1.1em;
	color: #666;
	display: block;
}
.chart-row .chart-price-change .exp-date .exp-date-label{
	font-size: 1em;
}
/* End Chart Modules */


/* Market Tables */
.bond-module #bondTable th,
.currency-module .currency-pair-table th {
	color: #808080;
    font-family: knowledge-reg, helvetica, arial, sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    text-align: right;
    text-transform: uppercase;
}

.bond-module #bondTable tr th,
.currency-module .currency-pair-table th {
	border-bottom: none;
}

.bond-module #bondTable tr:first-child{
    border-bottom: none;
    height: 5em;
}
.mod-tabs-table .bond-module #bondTable tr:first-child{
    height: auto;
}
.bond-module #bondTable th:first-child,
.currency-module .currency-pair-table th:first-child {
	text-align: left;	
}
.mod-tabs-table tr:first-child th{
    text-transform: uppercase;
}
.data-table .data-table-name,
.mod-tabs-table .data-table-name{
	color: #000000;
    font-size: 1.3em;
    font-weight: bold;
}
#marketsTable .data-table-index-name a{
    color: #ff8000;
    text-decoration: none;
}
#marketsTable .data-table-index-ric{
    color: #666666;
    font-size: 12px;
    font-weight: normal;
    margin-top: 4px;
}
.markets-module .dataTable .data-table-time,
.markets-module .dataTable .last-timestamp{
    color: #999;
    font-size: 12px;
    padding-top: 4px;
}
.markets-module .dataTable .data-table-time{
    text-transform: capitalize;
}
.ten-year-yield .bond-module #bondTable .bondName{
    font-size: 1.6em;
}
.mod-tabs-table .data-table-change,
.bond-module #bondTable .bondChange{
	text-align:right;
	clear:both;	
    vertical-align: top;
}
.mod-tabs-table .pos.data-table-change,
.bond-module #bondTable .pos.bondChange,
.mod-tabs-table .neg.data-table-change,
.bond-module #bondTable .neg.bondChange{
    font-weight: bold;
}
.mod-tabs-table .data-table-value,
.bond-module #bondTable .bondVal{
	color: #333;
    font-family: knowledge-reg, helvetica, arial, sans-serif;
    font-weight: 400;
    text-align: right;
    vertical-align: top;
}
#stocksTab.mod-tabs-table .module-container,
#bondsTab.mod-tabs-table .module-container,
#commoditiesTab.mod-tabs-table .module-container{
    padding: 34px 10px 0;
}
#stocksTab.mod-tabs-table .dataTable .data-table-value,
#bondsTab.mod-tabs-table .dataTable .data-table-value,
#commoditiesTab.mod-tabs-table .dataTable .data-table-value,
#commoditiesTab.mod-tabs-table .dataTable .data-table-change {
	padding-bottom: 4px;
}

/* Color Classes */
.pos {
	color: #46AE32 !important;
}
.neg {
	color: #D80A0A !important;
}

/* Currency Converter */
.currency-module {
	padding-top: 40px;
}
.currency-src,.currency-dest {
	font-family: knowledge-reg, helvetica, arial, sans-serif;
    font-weight: 400;
}
.currency-converter .currency-unit {
	font-weight: bold;
	font-size: 1.2em;
	color: #999;
	padding-bottom: 10px;
}
.currency-converter .converter-container {
	position: relative;
	background: #eee;
	height: 36px;
}
.currency-converter .currency-value {
	background-color: #eee;
	-webkit-appearance: none;
	border: 0;
	border-radius: 0;
	height: 36px;
	padding: 0 5px;
	font-size: 2.2em;
	color: #333;
	position: absolute;
	left: 0;
}
.currency-converter .currency-options {
	width: 80px;
	height: 36px;
	padding: 0 5px;
	border: 0;
	border-radius: 0;
	background: url(http://s2.reutersmedia.net/resources_v3/images/down-arrow-white.png) no-repeat right #666;
	background-size: 14px;
	-webkit-appearance: none;
	background-position-x: 58px;
	background-position-y: 16px;
	line-height: 1;
	font-size: 1.6em;
	color: #fff;
	position: absolute;
	right: 0;
}
.currency-converter .converter-arrow {
    background: url(http://s4.reutersmedia.net/resources_v3/images/converter-arrow.png) no-repeat 0 0;
	background-size: 19px;
	height: 19px;
	width: 19px;
	margin: 10px auto 0;
	cursor: pointer;
}
.currency-converter .converter-arrow:hover,
.currency-converter .converter-arrow:active{
    background-position: 0 -19px;
}

/* Currency Pair Table */
.currency-pair{
    display: inline-block;
    margin-bottom: 16px;
    width: 100%;
}
.currency-pair .currency-options {
	float: right;
	padding-top: 10px;
	font-family: knowledge-reg, helvetica, arial, sans-serif;
    font-weight: 400;
	font-size: 1.6em;
	color: #444;
}
.currency-pair .currency-options select{
	width: 64px;
	height: 28px;
	padding: 0 6px;
	border: 0;
	border-radius: 0;
	background: url(http://s4.reutersmedia.net/resources_v3/images/down-arrow.png) no-repeat right #eee;
	background-size: 12px;
	-webkit-appearance: none;
	background-position-x: 45px;
	background-position-y: 13px;
	line-height: 1;
}
.currency-pair .currency-options span {
	padding-right: 10px;
}
.currency-pair-table th {
	font-size: 1.1em;
}
.currency-pair-table .currency-name {
	font-weight: bold;
	font-size: 1.5em;
	color: #333;
	vertical-align: top;
	padding: 10px 0;
}
.currency-pair-table .currency-last,.currency-pair-table .currency-change {
	text-align: right;
	font-size: 1.6em;
	vertical-align: top;
	padding: 10px 0;
}
.currency-pair-table .currency-last {
	color: #666;
}
.currency-pair-table .currency-last .last-timestamp, .last-timestamp {
	font-size: 12px;
	display: block;
	padding-top: 8px;
	text-transform: uppercase;
}
.currency-pair-table .currency-change {
	font-weight: bold;
}


/* Markets Module */
.markets-module .tabs ul{
	width: 298px;
	height: 40px;
}
.mod-tabs {
    margin: 0;
    padding: 0;
}
.mod-tabs-table .more-link {
    margin: 0;
}
.mod-tabs-table .more-link a {
    background: #f5f5f5;
    display: inline-block;
    padding: 16px 10px 16px 0;
    text-align: right;
    width: 100%;
}
.index-data-table {
	height: 208px;
}
.index-data-table .index-data-container {
	position: relative;
}
.index-data-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
	font-size: 1.4em;
}
.index-data-list .index-name {
	position: relative;
	margin: 0 10px;
    padding: 5px 0;
    width: 278px;
    cursor: pointer;
    -webkit-transition: opacity .25s ease-in-out, background .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out, background .25s ease-in-out;
    transition: opacity .25s ease-in-out, background .25s ease-in-out;
}
li.index-name.active {
    background: #eee;
}
.index-name:hover {
    background: #f9f9f9;
}
.index-name .index-tab {
	display: none;
	width: 2px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #ff8000;
}
.index-name .index-tab.active {
	display: block;
}
.data-table-index-name {
	padding: 0 6px;
	font-family: knowledge-medium,helvetica,arial,sans-serif;
	font-weight: 500;
}
.index-name .tab-spacer {
	position: absolute;
    top: -1px;
    left: 0;
    width: 74px;
    height: 3px;
    background: #fff;
}
.index-data-list .index-name:first-child {
    padding-top: 11px;
    border-top: none;
}
.index-data-list .index-divider {
	width: 1px;
    position: absolute;
    background: #ccc;
}
.index-data-list .index-data {
	visibility: hidden;
	opacity: 0;
    width: 278px;
    margin: 0 10px 8px;
    background: #fff;
    border-bottom: 1px solid #ccc;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
@-moz-document url-prefix() { 
  .index-data-list .index-data {
    right: 1px;
  }
  .index-data-list .index-name {
  	width: 278px;
  }
}
.index-data-list .index-data.active {
	visibility: visible;
	opacity: 1;
}
.index-data-list .index-value-change {
	float: right;
	width: 175px;
	padding-left: 10px;
	font-family: knowledge-reg,helvetica,arial,sans-serif;
	font-weight: 400;
}
.index-data-list .index-value {
	position: relative;
	float: left;
	width: 96px;
}
.index-data-list .index-value .quote{
	position: absolute;
	right: 33px;
}
.index-data-list .index-value .currency{
	position: absolute;
    right: 0;
}
.index-data-list .index-change {
	float: right;
}
.index-data-list .index-time {
	position: absolute;
    right: 0;
    bottom: 6px;
	color: #999;
	text-transform: uppercase;
	font-weight: normal;
	font-size: .7em;
    padding-top: 4px;
}
.index-data-list .index-chart {
    position: relative;
    height: 72px;
    overflow: hidden;
}
.index-data-list .index-chart img {
    width: 100%;
}
.markets-module .dataTable {
    background: #fff;
    margin: 0;
    font-family: knowledge-reg, helvetica, arial, sans-serif;
    font-weight: 400;
}
.markets-module .dataTable tr,
.markets-module .bond-module #bondTable th {
    border-bottom: 1px solid #eee;
}
.markets-module .dataTable tr:last-child {
	border-bottom: none;
}
.markets-module .dataTable th,
.markets-module .dataTable td {
    padding: 12px 7px 6px;
    vertical-align: top;
}
.markets-module #leadcommodities .dataTable td {
	padding: 9px 7px 9px;
	text-transform: uppercase;
}
.markets-module #leadcurrencies .dataTable td {
	padding-bottom: 12px;
}
.markets-module .dataTable th,
.markets-module .dataTable td,
.markets-module .dataTable td.data-table-name,
.markets-module .bond-module #bondTable .bondVal,
.markets-module .mod-tabs-table td.data-table-change,
.markets-module .bond-module #bondTable .bondChange {
    font-size: 1.4em;
    text-align: right;
}
.markets-module .dataTable th:first-child,
.markets-module .dataTable tr td:first-child{
    text-align: left;
    vertical-align: top;
}
.markets-module .dataTable#currPairs th{
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.2em;
}
.markets-module .mod-tabs-table .dataTable tr:first-child th{
    padding: 11px 7px;
}
.markets-module .dataTable#currPairs tr:first-child th:first-child,
.markets-module .dataTable#bondTable th,
.markets-module .dataTable#marketsTable th{
	font-family: knowledge-reg, helvetica, arial, sans-serif;
    font-weight: 400;
	color: #666;
	font-size: 1.2em;
}
.chart-table-info{
    text-align: right;
    height: 30px;
}
.chart-table-date-txt,
.chart-table-date{
    color: #999;
    display: inline-block;
    font-size: 1.1em;
    margin: 11px 4px 11px 0;
}
.chart-table-date{
    text-transform: uppercase;
}
.sec-bonds .bond-module td{
    padding: 15px 0;
}
.sec-bonds .bond-module td.bondName{
    display: block;
    font-size: 1.6em;
    font-weight: bold;
    vertical-align: top;
}
.sec-bonds .bond-module #bondTable .bondVal{
    font-size: 1.6em;
}
.sec-bonds .bond-module td.data-table-value .last-timestamp{
    color: #666666;
    font-size: 12px;
    padding: 0;
}
.table-footer {
	position: relative;
	padding: 0;
}
.disclaimer-container {
	position: absolute;
	top: 18px;
	left: 10px;
}
.disclaimer-text {
	color: #999;
    font-size: 1.1em;
    margin: 0;
}
#leadstocks {
	position: relative;
}
.marketslogo {
	position: absolute;
    bottom: 3px;
    right: 14px;
}

/* More Link */
.module .more-link{
    background: #fff;
    font-family: knowledge-reg,helvetica,arial,sans-serif;
    font-weight: 400;
    font-size: 1.6em;
    margin: 0 8px 0 0;
    width: 100%;
}
.module .more-link a{
    color: #444;
    float: right;
    font-size: 1em;
    text-transform: uppercase;
    text-decoration: none;
}
.module.video-module .more-link{
    margin: 12px 8px 0 0;
}
.meme {
	width:100%;
	height:800px;
	background: url("https://i.ytimg.com/vi/Y14oz_bUt7o/maxresdefault.jpg") no-repeat;
	position:absolute;
	top: 110px;
    z-index: 999999999999;
}
