body{
  margin:0;
  overflow-y: scroll; /* This is optional, but you need it for a full width gallery */
}

body.no-scroll {
  overflow-y: hidden;
}

.box{
  display: none;
}

img {
  width: auto;
}

/* *************************************** CATEGORY NAVIGATION BAR *************************************** */

ul.category-navbar{
  display: none !important;
  width: 100%;
  overflow: hidden;
  margin: 0 0 4px 0;
  padding: 20px;
  list-style: none;
  background: #f6f6f6; /* old browsers */
  background: rgba(255,255,255,0.5);
}

ul.category-navbar li{
  display: block;
  float: left;
  width: 20%;
  margin: 0;
  padding: 2px;
  line-height: 16px;
  text-align: center;
}

ul.category-navbar li a{
  display: block;
  margin: 0;
  border-radius: 1px;
  padding: 10px 5px;
  font-size: 12px;
  text-decoration: none;
  background: rgba(255,255,255,0.5);
  cursor: pointer;
  moz-border-radius: 0px;
  -webkit-border-radius: 0px;
}

ul.category-navbar li a:hover{
  text-decoration: none;
  background: #eee;
  color: #222;
}

ul.category-navbar li.select {
  margin: 0;
}

ul.category-navbar li.select a {
  font-weight: 700;
  background: #fff;
}



/* *************************************** CAPTION STYLE *************************************** */
.box{
  cursor: pointer;
  overflow: hidden;.
}

.lightbox-text{
  display: none;
}

.thumbnail-caption{
  position: absolute;
  width: 100%;
  height: 100%;
  background: #313131;
  background: rgba(0,0,0,.8);
  color: #fff;
  display: none;
}

.thumbnail-caption h3 {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}

/* The style for centering the caption (vertically and horizontally) */
.thumbnail-caption>div{
  height: 100%;
  width: 100%;
  display: table !important;
}

.thumbnail-caption>div>div{
  padding: 15px;
  display: table-cell !important;
    vertical-align: middle; /* FOR VERTICAL ALIGN */
    text-align:center; /* FOR HORIZONTAL ALIGN */
}

/* *************************************** LOADING STYLE *************************************** */
#grid1, #grid2 {
  margin-bottom: 30px0;
}
.grid-loader{
  width: 43px;
  height: 20px;
  padding: 10px 15px 10px 15px;
  background: url(http://www.in.gov/core/images/loader.gif) no-repeat;
  background-position:center;
  margin: 20px auto;
}

.grid-loadMore{
  cursor: pointer;
  margin: 20px auto;
  width: 250px;
  height: auto;
  text-align: center;
  color: white;
  background-color: black;
  background: rgba(0,0,0,.6);
  border-radius: 0px;
  padding: 10px 15px 10px 15px;
  font-size: 14px;
  font-family: sans-serif;
}

.grid-loadMore:hover{
  text-decoration: none;
  color: white;
  background: rgba(0,0,0,.8);
}
/* *************************************** LIGHT-BOX STYLE *************************************** */
.lightbox-timer{
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: white;
}

.lb-loader{
  width: 43px;
  height: 11px;
  background: url(http://www.in.gov/core/images/loader.gif);
  
  margin: 20px auto;
}

.autoGrid-lightbox{
  display: none;
  position: fixed;
  z-index: 10000001;
  top:0;
  width: 100%;
  height: 100%;
  background: #313131; 
  background: rgba(0,0,0,.85);

  text-align: center;
}

.autoGrid-lightbox img{
  margin-top: 5px;
  max-width: 100%;
}

.autoGrid-nav{
    margin-top: 0px;
    overflow: hidden;
    position: relative;

    /*  margin-top: -80px;*/


    /*  height: 185px;*/

    width: 100%;
    background: #383838;
    background: #1D1D1D;
    border-bottom: 1px solid #323232;
}

.autoGrid-play, .autoGrid-close, .autoGrid-next, .autoGrid-prev, .autoGrid-font{
  width: 5% !important;
  height: 50px;
  position: relative;
  z-index: 10000002;
  cursor: pointer;
  margin-top: 1%;
}

.autoGrid-play:hover, .autoGrid-close:hover, .autoGrid-next:hover, .autoGrid-prev:hover, .autoGrid-font:hover{
  background: black; 
}

.selected{
  background: black;
}

.selected .iconPlay{
  background-position: -164px -3px;
}

.autoGrid-lbcaption{
  display: block;
  width: 80%;
  float: left;
/*  position: absolute;*/
  left: 0;
  top: 0;
  color: white;
/*  height: 120px;*/
  font-size: 16px;
}

.autoGrid-lbcaption span{
  display: block;
  margin-left: 3px;
  color: #D7D7D7;
  font-size: 11px;
  line-height: 14px;
  padding-bottom: 10px;
}

.autoGrid-lbcaption span a, .autoGrid-lbcaption span a:link, .autoGrid-lbcaption span a:hover, .autoGrid-lbcaption span a:visited{
  color:#fff;
  text-decoration:underline;
}

.autoGrid-lbcaption>div{
  height: 100%;
  width: 100%;
  display: table !important;
}

.autoGrid-lbcaption>div>div{
  padding: 20px 15px;
  display: table-cell !important;
  vertical-align: middle; /* FOR VERTICAL ALIGN */
  text-align:left; /* FOR HORIZONTAL ALIGN */
}

.autoGrid-play, .autoGrid-close{
  float: right;
}

.autoGrid-next, .autoGrid-prev{
  float: right;
}

.iconPlay, .iconClose, .iconNext, .iconPrev, .iconFont{
  position: absolute;

  top: 50%;
  left: 50%;

  height: 25px;
  display: block;
} 

.iconClose{
  width: 25px;
  margin: -13px 0 0 -13px;

  background: url(http://www.in.gov/core/images/icons.png);
  background-position: -2px -3px;
}

.iconPlay{
  width: 17px;
  margin: -13px 0 0 -8px;
  background: url(http://www.in.gov/core/images/icons.png);

  background-position: -137px -3px;

  -webkit-transition:all .3s;
     -moz-transition:all .3s;
       -o-transition:all .3s;
      -ms-transition:all .3s;
          transition:all .3s;
}

.iconFont{
  width: 46px;
  margin: -13px 0 0 -23px;

  background: url(http://www.in.gov/core/images/icons.png);
  background-position: -85px -3px;
}

.iconNext, .iconPrev{
  width: 15px;
  margin: -13px 0 0 -8px;
  background: url(http://www.in.gov/core/images/icons.png);
}

  .iconPrev{
    background-position: -40px -3px;
  }

  .iconNext{
    background-position: -70px -3px;
  }


/* *************************************** GRID STYLE *************************************** */

.centered { 
    margin: auto; 
}

.box {
  /*margin: 2px; 
  padding: 5px;*/
  /*font-size: 11px;*/
  line-height: 1.4em;
  float: left;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
}

.box img,
#tumblelog img {
  display: block;
  width: 100%;
}

.rtl .box {
  float: right;
  text-align: right; 
  direction: rtl;
}

/**** Transitions ****/

.transitions-enabled.masonry,
.transitions-enabled.masonry .masonry-brick {
  -webkit-transition-duration: 0.7s;
     -moz-transition-duration: 0.7s;
      -ms-transition-duration: 0.7s;
       -o-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.transitions-enabled.masonry {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.transitions-enabled.masonry  .masonry-brick {
  -webkit-transition-property: left, right, top;
     -moz-transition-property: left, right, top;
      -ms-transition-property: left, right, top;
       -o-transition-property: left, right, top;
          transition-property: left, right, top;
}


/* disable transitions on container */
.transitions-enabled.infinite-scroll.masonry {
  -webkit-transition-property: none;
     -moz-transition-property: none;
      -ms-transition-property: none;
       -o-transition-property: none;
          transition-property: none;
}

/**** Clearfix ****/
.grid-clearfix:before, .grid-clearfix:after { content: ""; display: table; }
.grid-clearfix:after { clear: both; }
.grid-clearfix { zoom: 1; }


.centered{
  overflow: auto;
}

img {
  width: auto;
}
@media only screen and (max-width : 1024px) {

}

@media only screen and (max-width : 909px) {

  .autoGrid-play {
    display: none;
  }

  .autoGrid-next, 
  .autoGrid-prev {
    display: block;
  }

  .autoGrid-lbcaption span{
    display: block;
    max-width: 85%;
  }

  ul.category-navbar li{
    float: left;
    width: 50%;
  }
}

@media only screen and (max-width : 640px) {
  .autoGrid-lbcaption {
    display: block !important;
    z-index: 99;
  }
    
  .autoGrid-lbcaption span {
    display: none;
  }

  .autoGrid-next, .autoGrid-prev{
    float: left;
  }

  .autoGrid-prev {
    display: none;
  }

  .autoGrid-lbcaption{
    position: absolute;
    left: 0;
    top: inherit;
    bottom: 20px;
    color: white;
    height: 120px;
    font-size: 16px;
  }
}

@media only screen and (max-height : 219px) {
  .autoGrid-lbcaption{
   display: none;
  }
}