.socbtn .socbtn_ico
 ,.socbtn .socbtn_counter{
	display: block;
	float: left;
}
.socbtn .socbtn_ico{
	margin-left: 7px;
}
.socbtn .socbtn_ico{
    width:25px;
    height:22px;
    background-image:url("//ss.sport-express.ru/img/design/v3/social_btn.png");
    background-repeat:no-repeat;
}
.socbtn .socbtn_fb .socbtn_ico{
    background-position:0 0;
}
.socbtn .socbtn_vk .socbtn_ico {
    background-position:-25px 0;
}
.socbtn .socbtn_tw .socbtn_ico {
    background-position:-50px 0;
}
.socbtn .socbtn_counter {
    padding:0 7px;
	 border-color: #d8d8d8;
	 border-width: 1px;
	 height: 20px;
	 line-height: 20px;
	 border-style: solid solid solid none;
}
/* redesign sprite retine */
.socbtn .socbtn_tw .socbtn_ico {
	background-image:url("//ss.sport-express.ru/img/design/v3/sprite_sharing.png");
	background-size: 500px;
	background-image:url("//ss.sport-express.ru/img/design/v3/sprite_sharing_ie8.png") \9;
	background-position: 0 -150px;
}

/* white bg 36x36 */
.socshare .socbtn_ico {
	display: block;
	float: left;
	cursor: pointer;
}
.socshare .socbtn_ico{
	width:36px;
	height:36px;
	background-image:url("//ss.sport-express.ru/img/design/v3/socshare_btn.png");
	background-repeat:no-repeat;
}
.socshare .socbtn_share.socbtn_ico{
	background-position:0 0;
}
.socshare .socbtn_fb.socbtn_ico{
	background-position:-50px 0;
}
.socshare .socbtn_vk.socbtn_ico {
	background-position:-100px 0;
}
.socshare .socbtn_tw.socbtn_ico {
	background-position:-150px 0;
}
/* redesign sprite retine */
.socshare .socbtn_ico.socbtn_tw {
	background-image:url("//ss.sport-express.ru/img/design/v3/sprite_sharing.png");
	background-size: 500px;
	background-image:url("//ss.sport-express.ru/img/design/v3/sprite_sharing_ie8.png") \9;
	background-position: 0 0;
}

.soc_plate{position: absolute; z-index: 1; bottom: -52px; right: 10px; width: 36px; height: 36px; cursor: default;}
.soc_plate>div[data-showhidden_socbtn]{position: absolute; right: 0; top:0; width: 110px; height: 45px; background: url("http://ss.sport-express.ru/img/design/v3/socshare.png") right top no-repeat; display: none;}
/*.soc_plate:hover>div{display: block;}*/

.twitter_read{display: block; width: 67px; height: 20px; background: url("//ss.sport-express.ru/img/design/v3/twitter_read.png") no-repeat left top; margin-top: 5px; }
.twitter_read:hover{background-position: left -20px;}

/* author */
/* redesign sprite retine */
.sharing_author_tw {
	display: block;
	width: 42px;
	height: 41px;
	background-image:url("//ss.sport-express.ru/img/design/v3/sprite_sharing.png");
	background-size: 500px;
	background-image:url("//ss.sport-express.ru/img/design/v3/sprite_sharing_ie8.png") \9;
	background-position: 0 -50px;
}
.sharing_author_tw.desabled{
	background-position: 0 -100px;
}

/* matchcenter */
.sharing_matchcenter{
}
.sharing_matchcenter .sharing_tw
 , .sharing_matchcenter .sharing_fb
 , .sharing_matchcenter .sharing_vk
 , .sharing_matchcenter .sharing_gp
 , .sharing_matchcenter .sharing_ok{
	background-image:url("//ss.sport-express.ru/img/design/v3/sprite_sharing.png");
	background-size: 500px;
	background-image:url("//ss.sport-express.ru/img/design/v3/sprite_sharing_ie8.png") \9;
	display: block;
	float: left;
	width: 24px;
	height: 24px;
	margin-left: 5px;
}
.sharing_matchcenter .sharing_tw{
	background-position: 0 -200px;
}
.sharing_matchcenter .sharing_fb{
	background-position: -50px -200px;
}
.sharing_matchcenter .sharing_vk{
	background-position: -100px -200px;
}
.sharing_matchcenter .sharing_gp{
	background-position: -150px -200px;
}
.sharing_matchcenter .sharing_ok{
	background-position: -200px -200px;
}

.place_translation .sharing_tw{
	display: block;
	overflow: hidden;
	width: 30px;
	height: 30px;
}
.place_translation .sharing_tw>div{
	background-image:url("//ss.sport-express.ru/img/design/v3/sprite_sharing.png");
	background-size: 500px;
	background-image:url("//ss.sport-express.ru/img/design/v3/sprite_sharing_ie8.png") \9;
	display: block;
	width: 20px;
	height: 20px;
	background-position: 0 -250px;
	margin: 5px;
}

/*footer*/
.sharing_footer{}
.sharing_footer .sharing_tw
, .sharing_footer .sharing_fb
, .sharing_footer .sharing_vk
, .sharing_footer .sharing_gp
, .sharing_footer .sharing_ok
, .sharing_footer .sharing_yt
, .sharing_footer .sharing_in
, .sharing_footer .sharing_rs{
	background-image:url("//ss.sport-express.ru/img/design/v3/sprite_sharing.png");
	background-size: 500px;
	background-image:url("//ss.sport-express.ru/img/design/v3/sprite_sharing_ie8.png") \9;
	display: block;
	float: left;
	width: 20px;
	height: 20px;
	margin-left: 10px;
}
.sharing_footer>*:first-child{margin-left: 0;}
.sharing_footer .sharing_tw{
	background-position: 0 -250px;
}
.sharing_footer .sharing_fb{
	background-position: -50px -250px;
}
.sharing_footer .sharing_vk{
	background-position: -100px -250px;
}
.sharing_footer .sharing_gp{
	background-position: -150px -250px;
}
.sharing_footer .sharing_ok{
	background-position: -200px -250px;
}
.sharing_footer .sharing_yt{
	background-position: -250px -250px;
}
.sharing_footer .sharing_in{
	background-position: -300px -250px;
}
.sharing_footer .sharing_rs{
	background-position: -350px -250px;
}
