.normal-sprite {
  background-image: url('images/normal-seb6cb3a6c7.png');
  background-repeat: no-repeat;
}

.b-rio__link-more a:after {
  background-image: url('images/normal-s67d549840b.png');
  background-position: 0 -12px;
  background-repeat: no-repeat;
  height: 12px;
  width: 7px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 2) {
  .b-rio__link-more a:after {
    background-position: 0 -12px;
    -webkit-background-size: 154px 125px;
    -khtml-background-size: 154px 125px;
    -moz-background-size: 154px 125px;
    -ms-background-size: 154px 125px;
    -o-background-size: 154px 125px;
    background-size: 154px 125px;
    background-image: url('images/retina-s7310739d7b.png');
  }
}
.b-rio__link-more a:hover:after {
  background-image: url('images/normal-s67d549840b.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  height: 12px;
  width: 7px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 2) {
  .b-rio__link-more a:hover:after {
    -webkit-background-size: 154px 125px;
    -khtml-background-size: 154px 125px;
    -moz-background-size: 154px 125px;
    -ms-background-size: 154px 125px;
    -o-background-size: 154px 125px;
    background-size: 154px 125px;
    background-image: url('images/retina-s7310739d7b.png');
  }
}

.b-icon_comment_text {
  background-image: url('images/normal-s67d549840b.png');
  background-position: 0 -24px;
  background-repeat: no-repeat;
  height: 17px;
  width: 14px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 2) {
  .b-icon_comment_text {
    background-position: 0 -24px;
    -webkit-background-size: 154px 125px;
    -khtml-background-size: 154px 125px;
    -moz-background-size: 154px 125px;
    -ms-background-size: 154px 125px;
    -o-background-size: 154px 125px;
    background-size: 154px 125px;
    background-image: url('images/retina-s7310739d7b.png');
  }
}
.b-icon_medal-gold {
  background-image: url('images/normal-s67d549840b.png');
  background-position: 0 -71px;
  background-repeat: no-repeat;
  height: 15px;
  width: 14px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 2) {
  .b-icon_medal-gold {
    background-position: 0 -71px;
    -webkit-background-size: 154px 125px;
    -khtml-background-size: 154px 125px;
    -moz-background-size: 154px 125px;
    -ms-background-size: 154px 125px;
    -o-background-size: 154px 125px;
    background-size: 154px 125px;
    background-image: url('images/retina-s7310739d7b.png');
  }
}
.b-icon_medal-silver {
  background-image: url('images/normal-s67d549840b.png');
  background-position: 0 -86px;
  background-repeat: no-repeat;
  height: 15px;
  width: 14px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 2) {
  .b-icon_medal-silver {
    background-position: 0 -86px;
    -webkit-background-size: 154px 125px;
    -khtml-background-size: 154px 125px;
    -moz-background-size: 154px 125px;
    -ms-background-size: 154px 125px;
    -o-background-size: 154px 125px;
    background-size: 154px 125px;
    background-image: url('images/retina-s7310739d7b.png');
  }
}
.b-icon_medal-bronze {
  background-image: url('images/normal-s67d549840b.png');
  background-position: 0 -56px;
  background-repeat: no-repeat;
  height: 15px;
  width: 14px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 2) {
  .b-icon_medal-bronze {
    background-position: 0 -56px;
    -webkit-background-size: 154px 125px;
    -khtml-background-size: 154px 125px;
    -moz-background-size: 154px 125px;
    -ms-background-size: 154px 125px;
    -o-background-size: 154px 125px;
    background-size: 154px 125px;
    background-image: url('images/retina-s7310739d7b.png');
  }
}
.b-icon_medal-all {
  background-image: url('images/normal-s67d549840b.png');
  background-position: 0 -41px;
  background-repeat: no-repeat;
  height: 15px;
  width: 14px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 2) {
  .b-icon_medal-all {
    background-position: 0 -41px;
    -webkit-background-size: 154px 125px;
    -khtml-background-size: 154px 125px;
    -moz-background-size: 154px 125px;
    -ms-background-size: 154px 125px;
    -o-background-size: 154px 125px;
    background-size: 154px 125px;
    background-image: url('images/retina-s7310739d7b.png');
  }
}

.b-nissan_button {
  background-image: url('images/normal-s67d549840b.png');
  background-position: 0 -101px;
  background-repeat: no-repeat;
  height: 24px;
  width: 154px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 2) {
  .b-nissan_button {
    background-position: 0 -101px;
    -webkit-background-size: 154px 125px;
    -khtml-background-size: 154px 125px;
    -moz-background-size: 154px 125px;
    -ms-background-size: 154px 125px;
    -o-background-size: 154px 125px;
    background-size: 154px 125px;
    background-image: url('images/retina-s7310739d7b.png');
  }
}
