@charset "utf-8";

/*-----------------------------------
朝日新聞デジタル -- ヘッダー CSS --

last modified --2016-11-18 11:00(SiteLogoTop/SiteLogo)
2016-03-09 17:20(Language調整)
2016-02-26 11:30(Language追加)
2015-09-16 10:30(#NoticeOfPremium修正)
2015-09-08 15:00(#NoticeOfPremium)
2015-05-15 10:50(お気に入りヘッダー削除)
2015-04-22 18:20(.FavoritesBlock li.loading)
※画像はルートパスで書いてください。
-----------------------------------*/

/* Header
==================== */
#Header{
width:100%;
margin:0 auto;
padding:0;
border-bottom:1px solid #E1E1DA;
background:#FFF;
}
#Header #HeaderInner{
position:relative;
width:980px;
_width:1000px;
margin:0 auto;
padding:10px 10px 8px;
text-align:left;
z-index:300;
}

/* Logo */
#Header #HeaderInner .SiteLogoTop {
display: block;
margin: 0 20px 0 8px;
padding: 0;
float: left;
width: 160px;
height: 34px;
}
#Header #HeaderInner .SiteLogo {
display: block;
margin: 0 70px 0 8px;
padding: 0;
float: left;
width: 110px;
height: 34px;
}
#Header #HeaderInner .SiteLogoTop a,
#Header #HeaderInner .SiteLogo a{
display:inline-block;
margin:0;
padding:0;
*display:inline;
*zoom:1;
}

/* UtilityNav */
#Header #HeaderInner .UtilityNav{
display:block;
float:left;
margin:3px 0 0;
padding:0;
}
#Header #HeaderInner .UtilityNav ul{
margin:0;
padding:0;
}
#Header #HeaderInner .UtilityNav ul li{
display:block;
margin:0 16px 0 0;
padding:0;
float:left;
line-height:1.1;
position:relative;
}
#Header #HeaderInner .UtilityNav ul li a{
display:block;
width:28px;
height:28px;
margin:0;
padding:0;
text-indent:-9999px;
}
#Header #HeaderInner .UtilityNav ul li.Scrap a{
background:url(/css/images/icon_utilitynav_scrap.gif) no-repeat 0 0;
}
#Header #HeaderInner .UtilityNav ul li.Scrap a:hover{
background-position-y:-100px;
}
#Header #HeaderInner .UtilityNav ul li.MyKeyword a{
background:url(/css/images/icon_utilitynav_mykeyword.gif) no-repeat 0 0;
}
#Header #HeaderInner .UtilityNav ul li.MyKeyword a:hover{
background-position-y:-100px;
}
#Header #HeaderInner .UtilityNav ul li.Weather a{
background:url(/css/images/icon_utilitynav_weather.gif) no-repeat 0 0;
}
#Header #HeaderInner .UtilityNav ul li.Weather a:hover{
background-position-y:-100px;
}
#Header #HeaderInner .UtilityNav ul li.Tv a{
background:url(/css/images/icon_utilitynav_tv.gif) no-repeat 0 0;
}
#Header #HeaderInner .UtilityNav ul li.Tv a:hover{
background-position-y:-100px;
}
#Header #HeaderInner .UtilityNav ul li.Font a{
background:url(/css/images/icon_utilitynav_font.gif) no-repeat 0 0;
}
#Header #HeaderInner .UtilityNav ul li.Font a:hover{
background-position-y:-100px;
}
#Header #HeaderInner .UtilityNav ul li.Option a{
background:url(/css/images/icon_utilitynav_option.gif) no-repeat 0 0;
}
#Header #HeaderInner .UtilityNav ul li.Option a:hover{
background-position-y:-100px;
}
#Header #HeaderInner .UtilityNav ul li.Search form{
margin:0;
padding:0;
outline:none;
}
#Header #HeaderInner .UtilityNav ul li.Search fieldset{
border:none;
}
#Header #HeaderInner .UtilityNav ul li.Search{
margin-top:2px;
margin-right:14px;
width:160px;
}
#Header #HeaderInner .UtilityNav ul li.Search input.SearchKeywords{
margin:0;
padding:1px 0 1px 6px;
/padding:2px 0 1px 6px;
float:left;
width:111px;
_width:115px;
height:20px;
/height:19px;
_height:23px;
color:#1E1E17;
font-size:75%;
line-height:15px;
text-align:left;
background:rgb(240,240,233);
background:-moz-linear-gradient(top,rgb(240,240,233) 0%,rgb(255,255,255) 99%);
background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgb(240,240,233)),color-stop(99%,rgb(255,255,255)));
background:-webkit-linear-gradient(top,rgb(240,240,233) 0%,rgb(255,255,255) 99%);
background:-o-linear-gradient(top,rgb(240,240,233) 0%,rgb(255,255,255) 99%);
background:-ms-linear-gradient(top,rgb(240,240,233) 0%,rgb(255,255,255) 99%);
background:linear-gradient(to bottom,rgb(240,240,233) 0%,rgb(255,255,255) 99%);
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0e9',endColorstr='#ffffff',GradientType=0 );
border-top:1px solid #D2D2CB;
border-right:none;
border-bottom:1px solid #D2D2CB;
border-left:1px solid #D2D2CB;
-moz-border-radius:4px 0 0 4px;
-webkit-border-radius:4px 0 0 4px;
border-radius:4px 0 0 4px;
}
#Header #HeaderInner .UtilityNav ul li.Search input.SearchSubmit{
margin:0;
padding:1px 0 0 3px;
float:left;
width:42px;
height:24px;
background:#5A5A53;
border:none;
color:#FFF;
font-size:75%;
font-weight:bold;
text-align:center;
letter-spacing:3px;
-moz-border-radius:0 4px 4px 0;
-webkit-border-radius:0 4px 4px 0;
border-radius:0 4px 4px 0;
cursor:pointer;
}
#Header #HeaderInner .UtilityNav ul li.Search input.SearchSubmit:hover{
background:#B90000;
}

/* UtilityNavTTDD */
#Header #HeaderInner .UtilityNav ul li .UtilityNavTT{
position:absolute;
top:29px;
_top:27px;
z-index:10;
}
#Header #HeaderInner .UtilityNav ul li .UtilityNavDD{
position:absolute;
top:29px;
_top:27px;
z-index:15;
}
#Header #HeaderInner .UtilityNav ul li div .Arrow{
width:0;
height:0;
border-color:transparent;
border-style:dashed dashed solid;
border-width:0 4px 4px;
position:absolute;
top:1px;
z-index:1;
_display:none;
}
#Header #HeaderInner .UtilityNav ul li div .Arrow_bg{
width:0;
height:0;
border-color:transparent;
border-style:dashed dashed solid;
border-width:0 4px 4px;
position:absolute;
top:0;
_display:none;
}
#Header #HeaderInner .UtilityNav ul li div .Frame{
margin:0;
padding:5px 0 0;
position:absolute;
top:4px;
-moz-border-radius:2px;
-webkit-border-radius:2px;
border-radius:2px;
}

/* UtilityNavTT */
#Header #HeaderInner .UtilityNav ul li .UtilityNavTT .Arrow{
border-bottom-color:#3C3C35;
}
#Header #HeaderInner .UtilityNav ul li .UtilityNavTT .Arrow_bg{
border-bottom-color:#3C3C35;
}
#Header #HeaderInner .UtilityNav ul li .UtilityNavTT .Frame{
background:#3C3C35;
border:1px solid #3C3C35;
}
#Header #HeaderInner .UtilityNav ul li .UtilityNavTT .Frame span{
display:block;
margin:0;
padding:0 0 3px;
color:#FFF;
font-size:75%;
font-weight:bold;
letter-spacing:0;
text-align:center;
white-space:nowrap;
}
.mac #Header #HeaderInner .UtilityNav ul li .UtilityNavTT .Frame span{
letter-spacing:-0.05em;
}
#Header #HeaderInner .UtilityNav ul li #ScrapTT{
left:-38px;
}
#Header #HeaderInner .UtilityNav ul li #ScrapTT .Arrow{
left:48px;
}
#Header #HeaderInner .UtilityNav ul li #ScrapTT .Arrow_bg{
left:48px;
}
#Header #HeaderInner .UtilityNav ul li #ScrapTT .Frame{
width:102px;
}
#Header #HeaderInner .UtilityNav ul li #WeatherTT{
left:-8px;
}
#Header #HeaderInner .UtilityNav ul li #WeatherTT .Arrow{
left:18px;
}
#Header #HeaderInner .UtilityNav ul li #WeatherTT .Arrow_bg{
left:18px;
}
#Header #HeaderInner .UtilityNav ul li #WeatherTT .Frame{
width:42px;
}
#Header #HeaderInner .UtilityNav ul li #TvTT{
left:-32px;
}
#Header #HeaderInner .UtilityNav ul li #TvTT .Arrow{
left:42px;
}
#Header #HeaderInner .UtilityNav ul li #TvTT .Arrow_bg{
left:42px;
}
#Header #HeaderInner .UtilityNav ul li #TvTT .Frame{
width:86px;
}
#Header #HeaderInner .UtilityNav ul li #FontTT{
left:-27px;
}
#Header #HeaderInner .UtilityNav ul li #FontTT .Arrow{
left:37px;
}
#Header #HeaderInner .UtilityNav ul li #FontTT .Arrow_bg{
left:37px;
}
#Header #HeaderInner .UtilityNav ul li #FontTT .Frame{
width:76px;
}
#Header #HeaderInner .UtilityNav ul li #OptionTT{
left:-36px;
}
#Header #HeaderInner .UtilityNav ul li #OptionTT .Arrow{
left:46px;
}
#Header #HeaderInner .UtilityNav ul li #OptionTT .Arrow_bg{
left:46px;
}
#Header #HeaderInner .UtilityNav ul li #OptionTT .Frame{
width:98px;
}

/* UtilityNavDD */
#Header #HeaderInner .UtilityNav ul li .UtilityNavDD .Arrow{
border-bottom-color:#FFF;
}
#Header #HeaderInner .UtilityNav ul li .UtilityNavDD .Arrow_bg{
border-bottom-color:#B4B4AD;
}
#Header #HeaderInner .UtilityNav ul li .UtilityNavDD .Frame{
background:#FFF;
border:1px solid #D2D2CB;
}
#Header #HeaderInner .UtilityNav ul li #FontDD{
left:-27px;
}
#Header #HeaderInner .UtilityNav ul li #FontDD .Arrow{
left:37px;
}
#Header #HeaderInner .UtilityNav ul li #FontDD .Arrow_bg{
left:37px;
}
#Header #HeaderInner .UtilityNav ul li #FontDD .Frame{
width:76px;
}
#Header #HeaderInner .UtilityNav ul li #FontDD .Frame ul{
margin:0;
padding:6px 0 0;
}
#Header #HeaderInner .UtilityNav ul li #FontDD .Frame ul li{
display:block;
margin:0;
padding:0 0 8px;
float:none;
font-size:75%;
font-weight:bold;
line-height:1.1;
text-align:center;
white-space:nowrap;
position:static;
}
.mac #Header #HeaderInner .UtilityNav ul li #FontDD .Frame ul li{
letter-spacing:-0.05em;
}
#Header #HeaderInner .UtilityNav ul li #FontDD .Frame ul li a{
display:inline;
margin:0;
padding:0;
width:auto;
height:auto;
color:#787871;
text-indent:0;
background:none;
}
#Header #HeaderInner .UtilityNav ul li #FontDD .Frame ul li a:hover,
#Header #HeaderInner .UtilityNav ul li #FontDD .Frame ul li a:active{
color:#B90000;
text-decoration:none;
}
#Header #HeaderInner .UtilityNav ul li #FontDD .Frame ul li.ChangeBtnActive a{
color:#1E1E17;
}
#Header #HeaderInner .UtilityNav ul li #OptionDD{
left:-143px;
}
#Header #HeaderInner .UtilityNav ul li #OptionDD .Arrow{
left:153px;
}
#Header #HeaderInner .UtilityNav ul li #OptionDD .Arrow_bg{
left:153px;
}
#Header #HeaderInner .UtilityNav ul li #OptionDD .Frame{
width:312px;
}
#Header #HeaderInner .UtilityNav ul li #OptionDD .Frame ul{
margin:0;
padding:3px 0 0;
}
#Header #HeaderInner .UtilityNav ul li #OptionDD .Frame ul li{
display:block;
margin:0;
padding:0 0 9px;
float:left;
font-size:75%;
font-weight:bold;
line-height:1.1;
text-align:center;
white-space:nowrap;
position:static;
}
.mac #Header #HeaderInner .UtilityNav ul li #OptionDD .Frame ul li{
letter-spacing:-0.05em;
}
#Header #HeaderInner .UtilityNav ul li #OptionDD .Frame ul li a,
#Header #HeaderInner .UtilityNav ul li #OptionDD .Frame ul li a:visited{
display:block;
margin:0;
padding:33px 0 0;
width:104px;
height:auto;
color:#1E1E17;
text-align:center;
text-indent:0;
}
#Header #HeaderInner .UtilityNav ul li #OptionDD .Frame ul li a:hover,
#Header #HeaderInner .UtilityNav ul li #OptionDD .Frame ul li a:active{
color:#B90000;
text-decoration:none;
}
#Header #HeaderInner .UtilityNav ul li #OptionDD .Frame ul li.Uranai a{
background:url(/css/images/icon_utilitynav_uranai.gif) no-repeat 38px 0;
}
#Header #HeaderInner .UtilityNav ul li #OptionDD .Frame ul li.Uranai a:hover{
background-position-y:-100px;
}
#Header #HeaderInner .UtilityNav ul li #OptionDD .Frame ul li.Traffic a{
background:url(/css/images/icon_utilitynav_traffic.gif) no-repeat 38px 0;
}
#Header #HeaderInner .UtilityNav ul li #OptionDD .Frame ul li.Traffic a:hover{
background-position-y:-100px;
}
#Header #HeaderInner .UtilityNav ul li #OptionDD .Frame ul li.Map a{
background:url(/css/images/icon_utilitynav_map.gif) no-repeat 38px 0;
}
#Header #HeaderInner .UtilityNav ul li #OptionDD .Frame ul li.Map a:hover{
background-position-y:-100px;
}
#Header #HeaderInner .UtilityNav ul li #OptionDD .Frame ul li.App a{
background:url(/css/images/icon_utilitynav_app.gif) no-repeat 38px 0;
}
#Header #HeaderInner .UtilityNav ul li #OptionDD .Frame ul li.App a:hover{
background-position-y:-100px;
}
#Header #HeaderInner .UtilityNav ul li #OptionDD .Frame ul li.Privilege a{
background:url(/css/images/icon_utilitynav_privilege.gif) no-repeat 38px 0;
}
#Header #HeaderInner .UtilityNav ul li #OptionDD .Frame ul li.Privilege a:hover{
background-position-y:-100px;
}
#Header #HeaderInner .UtilityNav ul li #OptionDD .Frame ul li.Kotobank a{
background:url(/css/images/icon_utilitynav_kotobank.gif) no-repeat 38px 0;
}
#Header #HeaderInner .UtilityNav ul li #OptionDD .Frame ul li.Kotobank a:hover{
background-position-y:-100px;
}

/* UserNav */
#Header #HeaderInner .UserNav{
display:block;
float:right;
margin:7px 0 0;
padding:0;
}
#Header #HeaderInner .UserNav ul{
margin:0;
padding:0;
}
#Header #HeaderInner .UserNav ul li{
display:block;
margin:5px 0 0 10px;
padding:0;
float:left;
font-size:75%;
font-weight:bold;
line-height:1.1;
letter-spacing:0;
text-align:left;
white-space:nowrap;
}
#Header #HeaderInner .UserNav ul li a,
#Header #HeaderInner .UserNav ul li a:visited{
color: #1E1E17;
}
#Header #HeaderInner .UserNav ul li a:hover,
#Header #HeaderInner .UserNav ul li a:active{
color:#B90000;
}
#Header #HeaderInner .UserNav ul li.Status{
margin-top:0;
}
#Header #HeaderInner .UserNav ul li.Status a,
#Header #HeaderInner .UserNav ul li.Status span{
display:block;
margin:0;
padding:4px 0 1px 2px;
text-align:center;
-moz-border-radius:10px;
-webkit-border-radius:10px;
border-radius:10px;
}
#Header #HeaderInner .UserNav ul li.Status a:hover,
#Header #HeaderInner .UserNav ul li.Status span:hover{
text-decoration:none;
}
#Header #HeaderInner .UserNav ul li.Status .Logout{
width:75px;
color:#1E1E17;
background:#FFF;
border:1px solid #D2D2CB;
}
#Header #HeaderInner .UserNav ul li.Status .Logout:hover{
color:#B90000;
border:1px solid #B90000;
}
/*
#Header #HeaderInner .UserNav ul li.Status .Lite{
width:125px;
color:#B90000;
background:#FFF;
border:1px solid #B90000;
}
#Header #HeaderInner .UserNav ul li.Status .LiteLogout{
width:125px;
color:#B90000;
background:#FFF;
border:1px solid #B90000;
}
141030
*/
#Header #HeaderInner .UserNav ul li.Status .Coupon{
width: 75px;
color: #FFF;
background: #B90000;
border: 1px solid #B90000;
}
#Header #HeaderInner .UserNav ul li.Status .Lite{
width:75px;
color:#B90000;
background:#FFF;
border:1px solid #B90000;
}
#Header #HeaderInner .UserNav ul li.Status .LiteLogout,
#Header #HeaderInner .UserNav ul li.Status .CouponLogout{
width:75px;
color:#B90000;
background:#FFF;
border:1px solid #B90000;
}
#Header #HeaderInner .UserNav ul li.Status .Member{
width:75px;
color:#FFF;
background:#B90000;
border:1px solid #B90000;
}
#Header #HeaderInner .UserNav ul li.Status .MemberLogout{
width:75px;
color:#B90000;
background:#FFF;
border:1px solid #B90000;
}

#Header #HeaderInner .UserNav ul li .UserNavDD{
position:absolute;
top:17px;
z-index:15;
}
#Header #HeaderInner .UserNav ul li .UserNavDD .Arrow{
width:0;
height:0;
border-color:transparent;
border-bottom-color:#FFF;
border-style:dashed dashed solid;
border-width:0 4px 4px;
position:absolute;
top:1px;
z-index:1;
}
#Header #HeaderInner .UserNav ul li .UserNavDD .Arrow_bg{
width:0;
height:0;
border-color:transparent;
border-bottom-color:#B4B4AD;
border-style:dashed dashed solid;
border-width:0 4px 4px;
position:absolute;
top:0;
}
#Header #HeaderInner .UserNav ul li .UserNavDD .Frame{
margin:0;
padding:5px 0 0;
position:absolute;
top:4px;
background:#FFF;
border:1px solid #D2D2CB;
-moz-border-radius:2px;
-webkit-border-radius:2px;
border-radius:2px;
}
#Header #HeaderInner .UserNav ul li.Language{
position: relative;
border-right: 1px solid #dcdcd5;
padding: 1px 13px 0;
margin: 4px 4px 0 0;
}
#Header #HeaderInner .UserNav ul li.Language ul li{
float: none;
font-size: 100%;
font-weight: normal;
}
#Header #HeaderInner .UserNav ul li #LanguageDD{
left:-100%;
right: -100%;
margin: auto;
width: 78px;
}
#Header #HeaderInner .UserNav ul li #LanguageDD .Arrow{
left:37px;
}
#Header #HeaderInner .UserNav ul li #LanguageDD .Arrow_bg{
left:37px;
}
#Header #HeaderInner .UserNav ul li #LanguageDD .Frame{
width:76px;
}
#Header #HeaderInner .UserNav ul li #LanguageDD .Frame ul{
margin:0;
padding:6px 0 0;
}
#Header #HeaderInner .UserNav ul li #LanguageDD .Frame ul li{
display:block;
margin:0;
padding:0 0 8px;
float:none;
font-weight:bold;
line-height:1.1;
text-align:center;
white-space:nowrap;
position:static;
}
#Header #HeaderInner .UserNav ul li #LanguageDD .Frame ul li a{
display:inline;
margin:0;
padding:0;
width:auto;
height:auto;
color:#787871;
text-indent:0;
background:none;
}
#Header #HeaderInner .UserNav ul li #LanguageDD .Frame ul li a:hover,
#Header #HeaderInner .UserNav ul li #LanguageDD .Frame ul li a:active{
color:#B90000;
text-decoration:none;
}
#Header #HeaderInner .UserNav ul li #LanguageDD .Frame ul li.ChangeBtnActive a{
color:#1E1E17;
}

/* SocialNav */
#Header #HeaderInner .SocialNav{
display:block;
float:right;
margin:6px 0 0 5px;
padding:0;
}
#Header #HeaderInner .SocialNav ul{
margin:0;
padding:0;
}
#Header #HeaderInner .SocialNav ul li{
display:block;
margin:0 0 0 10px;
*margin:0 0 0 5px;
padding:0;
float:left;
line-height:1.1;
}
#Header #HeaderInner .SocialNav ul li a{
display:block;
width:20px;
_width:20px;
height:20px;
_height:22px;
margin:0;
padding:0;
text-indent:-9999px;
border:1px solid #D2D2CB;
-moz-border-radius:4px;
-webkit-border-radius:4px;
border-radius:4px;
}
#Header #HeaderInner .SocialNav ul li a:hover{
border:1px solid #B90000;
}
#Header #HeaderInner .SocialNav ul li.Twitter a{
background:url(/css/images/icon_socialnav_twitter.gif) no-repeat 5px 6px;
}
#Header #HeaderInner .SocialNav ul li.Twitter a:hover{
background-position-y:-24px;
}
#Header #HeaderInner .SocialNav ul li.Facebook a{
background:url(/css/images/icon_socialnav_facebook.gif) no-repeat 7px 5px;
}
#Header #HeaderInner .SocialNav ul li.Facebook a:hover{
background-position-y:-25px;
}
#Header #HeaderInner .SocialNav ul li.Rssfeed a{
background:url(/css/images/icon_socialnav_rssfeed.gif) no-repeat 5px 5px;
}
#Header #HeaderInner .SocialNav ul li.Rssfeed a:hover{
background-position-y:-25px;
}

/* GlobalNav */
#Header #GlobalNav{
margin:0 auto;
padding:0;
clear:both;
width:100%;
border-top:1px solid #DCDCD5;
}
#Header #GlobalNav #GlobalNavInner{
margin:0 auto;
padding:0;
width:100%;
background:#EBEBE4;
}
#Header #GlobalNav #GlobalNavInner .MainNav{
display:block;
margin:0 auto;
_margin:0;
padding:0 10px;
width:980px;
_width:1000px;
height:24px;
}
#Header #GlobalNav #GlobalNavInner .MainNav .Nav{
display:block;
margin:0;
padding:0;
width:980px;
height:24px;
}
#Header #GlobalNav #GlobalNavInner .MainNav .Nav li{
display:block;
margin:0;
padding:0;
float:left;
width:122px;
height:24px;
font-size:75%;
font-weight:bold;
line-height:1.1;
text-align:center;
position:relative;
top:0;
left:0;
white-space:nowrap;
}
#Header #GlobalNav #GlobalNavInner .MainNav .Nav li.Topnews{
width:126px;
}
#Header #GlobalNav #GlobalNavInner .MainNav .Nav li .NavNew img {
margin-left:3px;
}
#Header #GlobalNav #GlobalNavInner .MainNav .Nav li a{
display:block;
margin:0;
padding:7px 0 0;
width:120px;
_width:122px;
height:17px;
_height:24px;
color:#1E1E17;
border-right:1px solid transparent;
border-left:1px solid transparent;
position:absolute;
top:0;
left:0;
}
#Header #GlobalNav #GlobalNavInner .MainNav .Nav li a:hover,
#Header #GlobalNav #GlobalNavInner .MainNav .Nav li a:active{
padding-top:8px;
height:18px;
_height:26px;
color:#FFF;
text-decoration:none;
background:#7D7D76;
border-right:1px solid #7D7D76;
border-left:1px solid #7D7D76;
top:-1px;
left:0;
}
#Header #GlobalNav #GlobalNavInner .MainNav .Nav li a.Selected{
padding-top:7px;
height:18px;
_height:26px;
color:#B90000;
background:#FAFAF3;
border-right:1px solid #DCDCD5;
border-left:1px solid #DCDCD5;
top:0;
left:0;
}
#Header #GlobalNav #GlobalNavInner .MainNav .Nav li a.Active{
padding-top:8px;
height:18px;
_height:26px;
color:#FFF;
background:#B90000 !important;
border-right:1px solid #B90000;
border-left:1px solid #B90000;
top:-1px;
left:0;
}
#Header #GlobalNav #GlobalNavInner .MainNav .Nav li.Topnews a{
width:124px;
_width:126px;
}
#Header #GlobalNav #GlobalNavInner .MainNav .Nav li.Topnews a span{
padding-left:18px;
background:#EBEBE4 url(/css/images/icon_gnav_home.gif) no-repeat 0 0;
}
#Header #GlobalNav #GlobalNavInner .MainNav .Nav li.Topnews a:hover span,
#Header #GlobalNav #GlobalNavInner .MainNav .Nav li.Topnews a:active span{
background:#7D7D76 url(/css/images/icon_gnav_home.gif) no-repeat 0 -30px;
}
#Header #GlobalNav #GlobalNavInner .MainNav .Nav li.Topnews a.Selected span{
background:#FAFAF3 url(/css/images/icon_gnav_home.gif) no-repeat 0 -120px;
}
#Header #GlobalNav #GlobalNavInner .MainNav .Nav li.Topnews a.Active span{
background:#B90000 url(/css/images/icon_gnav_home.gif) no-repeat 0 -60px;
}
#Header #GlobalNav #GlobalNavInner .MainNav .Nav li.Customize{
position:relative;
}
#Header #GlobalNav #GlobalNavInner .MainNav .Nav li.Customize a{
padding:7px 25px 0 0;
width:95px;
_width:122px;
height:18px;
_height:26px;
}
#Header #GlobalNav #GlobalNavInner .MainNav .Nav li.Customize a:hover,
#Header #GlobalNav #GlobalNavInner .MainNav .Nav li.Customize a:active{
padding-top:8px;
top:-1px;
}
#Header #GlobalNav #GlobalNavInner .MainNav .Nav li.Customize a.Selected{
padding-top:7px;
top:0;
}
#Header #GlobalNav #GlobalNavInner .MainNav .Nav li.Customize a.Active{
padding-top:8px;
top:-1px;
}
#Header #GlobalNav #GlobalNavInner .MainNav .Nav li.Customize a span{
position:absolute;
bottom:0;
right:-3px;
z-index:10;
}
#Header #GlobalNav #GlobalNavInner .MainNav .Nav li.Customize a.Selected span{
bottom:0;
}
#Header #GlobalNav #GlobalNavInner .MainNav .Nav li.Customize a span img {
vertical-align:bottom;
}
#Header #GlobalNav #GlobalNavInner .SubNav{
margin:0 auto;
padding:0;
width:100%;
background:#FAFAF3;
border-top:1px solid #DCDCD5;
}
#Header #GlobalNav #GlobalNavInner .SubNav .SubDropdown{
display:block;
margin:0 auto;
_margin:0;
padding:5px 10px 0;
width:980px;
_width:1000px;
}
#Header #GlobalNav #GlobalNavInner .SubNav .SubDropdown .Nav{
display:block;
margin:0;
padding:0;
}
#Header #GlobalNav #GlobalNavInner .SubNav .SubDropdown .Nav li{
display:block;
margin:0;
padding:0 20px 3px 0;
float:left;
font-size:75%;
font-weight:bold;
line-height:1.1;
text-align:left;
white-space:nowrap;
}
#Header #GlobalNav #GlobalNavInner .SubNav .SubDropdown .Nav li a,
#Header #GlobalNav #GlobalNavInner .SubNav .SubDropdown .Nav li a:visited,
#Header #GlobalNav #GlobalNavInner .SubNav .SubDropdown .Nav li span{
display:block;
margin:0;
padding:2px 0 0;
color:#1E1E17;
}
#Header #GlobalNav #GlobalNavInner .SubNav .SubDropdown .Nav li a:hover,
#Header #GlobalNav #GlobalNavInner .SubNav .SubDropdown .Nav li a:active{
color:#B90000;
text-decoration:none;
}
#Header #GlobalNav #GlobalNavInner .SubNav .SubDropdown .Nav li a.Active{

color:#B90000;
}
#Header #GlobalNav #GlobalNavInner .SubNav .SubDropdown .Nav li .NavNew {
display: inline;
margin-left: 3px;
}
#Header #GlobalNav #GlobalNavInner .SubNav .SubDropdown p.Comment{
margin:0;
padding:2px 12px 0;
float:left;
font-size:75%;
line-height:1.1;
text-align:left;
}
#Header #GlobalNav #GlobalNavInner #CustomizeDD .Nav{
float:left;
}
/*#Header #GlobalNav #GlobalNavInner #CustomizeDD .Nav{
margin-right:20px;
padding-bottom:3px;
border-right:1px solid #E1E1DA;*/
}
#Header #GlobalNav #GlobalNavInner #CustomizeDD .Nav li{
padding-bottom:0;
}
#Header #GlobalNav #GlobalNavInner #CustomizeDD .Nav li span{
color:#5A5A53;
}
#Header #GlobalNav #GlobalNavInner #CustomizeDD .Nav li.Recommend a,
#Header #GlobalNav #GlobalNavInner #CustomizeDD .Nav li.Recommend span{
padding-left:18px;
background:url(/css/images/icon_recommend.gif) no-repeat 0 1px;
}
#Header #GlobalNav #GlobalNavInner #CustomizeDD .Nav li.Recommend a:hover,
#Header #GlobalNav #GlobalNavInner #CustomizeDD .Nav li.Recommend a:active{
background:url(/css/images/icon_recommend.gif) no-repeat 0 -29px;
text-decoration:none;
}
#Header #GlobalNav #GlobalNavInner #CustomizeDD .Nav li.Recommend a.Active{
background:url(/css/images/icon_recommend.gif) no-repeat 0 -29px;
color:#B90000;
}
#Header #GlobalNav #GlobalNavInner #CustomizeDD .Nav li.Select a,
#Header #GlobalNav #GlobalNavInner #CustomizeDD .Nav li.Select span{
padding-left:18px;
padding-right:20px;
background:url(/css/images/icon_tick.gif) no-repeat 0 2px;
border-right:1px solid #E1E1DA;
}
#Header #GlobalNav #GlobalNavInner #CustomizeDD .Nav li.Select a:hover,
#Header #GlobalNav #GlobalNavInner #CustomizeDD .Nav li.Select a:active{
background:url(/css/images/icon_tick.gif) no-repeat 0 -28px;
text-decoration:none;
}
#Header #GlobalNav #GlobalNavInner #CustomizeDD .Nav li.Select a.Active{
background:url(/css/images/icon_tick.gif) no-repeat 0 -28px;
color:#B90000;
}
#Header #GlobalNav #GlobalNavInner #CustomizeDD .Nav li.ToFavorites a{
padding-left:18px;
background:url(/css/images/icon_favorites.gif) no-repeat 0 0;
}
#Header #GlobalNav #GlobalNavInner #CustomizeDD .Nav li.ToFavorites a:hover,
#Header #GlobalNav #GlobalNavInner #CustomizeDD .Nav li.ToFavorites a:active{
background:url(/css/images/icon_favorites.gif) no-repeat 0 -30px;
text-decoration:none;
}
#Header #GlobalNav #GlobalNavInner #CustomizeDD .Nav li.ToFavorites a.Active{
background:url(/css/images/icon_favorites.gif) no-repeat 0 0;
color:#1E1E17;
}
#Header #GlobalNav #GlobalNavInner #CustomizeDD .Nav li.ToFavorites a.Active:hover,
#Header #GlobalNav #GlobalNavInner #CustomizeDD .Nav li.ToFavorites a.Active:active{
background:url(/css/images/icon_favorites.gif) no-repeat 0 -30px;
text-decoration:none;
color:#B90000;
}

/* TopicsBar
==================== */
#TopicsBar{
width:100%;
margin:0 auto;
padding:0;
}
#TopicsBar #TopicsBarInner{
margin:0 auto;
padding:0 10px;
width:980px;
_width:1000px;
}
#TopicsBar #TopicsBarInner dl{
margin:0;
padding:8px 0;
border-bottom:1px solid #DCDCD5;
}
#TopicsBar #TopicsBarInner dl dt{
margin:0;
padding:3px 0 0 2px;
float:left;
width:84px;
/width:86px;
height:14px;
_height:17px;
background-color:#82827B;
color:#FFF;
font-size:75%;
font-weight:bold;
line-height:1.1;
text-align:center;
position:relative;
}
/*#TopicsBar #TopicsBarInner dl dt:after{
content:'';
position:absolute;
top:0;
left:100%;
width:0;
height:0;
border:9px solid transparent;
border-left-color:#82827B;
}*/
#TopicsBar #TopicsBarInner dl dt:hover{
background-color:#B90000;
}
#TopicsBar #TopicsBarInner dl dt:hover:after{
border-left-color:#B90000;
}
#TopicsBar #TopicsBarInner dl dt a{
color:#FFF;
}
#TopicsBar #TopicsBarInner dl dt a:hover,
#TopicsBar #TopicsBarInner dl dt a:active{
color:#FFF;
text-decoration:none;
}
#TopicsBar #TopicsBarInner dl dd{
margin:0;
padding:0 0 0 102px;
}
#TopicsBar #TopicsBarInner dl dd ul{
margin:0;
padding:1px 0 0;
}
#TopicsBar #TopicsBarInner dl dd ul li{
display:inline;
float:left;
margin:0;
padding:0 14px 0 0;
letter-spacing:1px;
}
#TopicsBar #TopicsBarInner dl dd ul li a,
#TopicsBar #TopicsBarInner dl dd ul li a:visited{
display:block;
margin:0;
padding:0;
color:#1E1E17;
font-size:75%;
white-space:nowrap;
}
#TopicsBar #TopicsBarInner dl dd ul li a:hover,
#TopicsBar #TopicsBarInner dl dd ul li a:active{
color:#B90000;
}

/* otamesi coupon（使用時のみ表示）2014-09-17追記
==================== */
#useCouponArea dl.useCouponBox{width:980px; margin:15px auto 10px;}

dl.useCouponBox { text-align:left;}  
dl.useCouponBox dt{
background:#EBEBEB;
padding:10px 8px ;
margin:0px;
-moz-border-radius:8px 8px 0px 0px;/* Firefox */
-webkit-border-radius:8px 8px 0px 0px;/* Safari,Chrome */
border-radius:8px 8px 0px 0px;/* CSS3 */
font-size:100%;
}
dl.useCouponBox dt a:hover{text-decoration:none !important;}
/*閉じた時*/
dl.useCouponBox dt.CpClose{
background:#EBEBEB;
padding:10px 8px ;
margin:0px;
-moz-border-radius:8px;/* Firefox */
-webkit-border-radius:8px;/* Safari,Chrome */
border-radius:8px;/* CSS3 */
font-size:100%;
}
dl.useCouponBox dd {
padding:10px 10px 0;
margin:0;
background:#fff;
border-left:#EBEBEB 5px solid;
border-right:#EBEBEB 5px solid;
border-bottom:#EBEBEB 5px solid;
-moz-border-radius:0px 0px 8px 8px;/* Firefox用 */
-webkit-border-radius:0px 0px 8px 8px;/* Safari,Google Chrome用 */
border-radius:0px 0px 8px 8px;/* CSS3 */
}

dl.useCouponBox dt .useCouponData{ font-weight:bold; font-size:88%; margin-left:10px;}
dl.useCouponBox dt a span.bt_moshikomi{
font-size:88%;
font-weight:bold;
line-height:1 !important;
border: 2px #43a133 solid;
background:#FFF url(/images/otameshi/couponArrow.gif) 5px 50% no-repeat;
color:#43a133;
padding:5px 5px 5px 22px;
-moz-border-radius:5px;/* Firefox用 */
-webkit-border-radius:5px;/* Safari,Google Chrome用 */
border-radius:5px;/* CSS3 */
margin-left:10px;
}
dl.useCouponBox dt a span.bt_moshikomi:hover{
background:#43a133 url(/images/otameshi/couponArrow_on.gif) 5px 50% no-repeat;
color:#FFF;
}

dl.useCouponBox dt a span.CpSlideBtn {
display: block;
margin: 2px 2px 0 0;
padding: 0 9px 0 0;
float: right;
background: #FFF;
line-height: 1.1;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
cursor: pointer;
}
dl.useCouponBox dt a span.CpSlideBtn b{/*詳しく*/
display: block;
margin: 0;
padding: 2px 12px 0;
min-width: 41px;
width: auto !important;
_width: 65px;
font-size: 80%;
font-weight: bold;
text-align: center;
background: url(/images/otameshi/arrow_open_close_bg_dgry.gif) no-repeat right 6px;
}

dl.useCouponBox dt a span.CpSlideBtn b.CpClick{/*閉じる*/
background:url(/images/otameshi/arrow_open_close_bg_dgry.gif)  no-repeat right -15px;
}

dl.useCouponBox dd p{font-size:88%; margin:0 5px;}
/*functionv*/
ul.functionPop {
width: 100%;
margin: 20px 0 5px 10px;
font-size: 0;
}
ul.functionPop li{
margin: 0 4px 15px;
padding: 10px 5px 5px 0;
padding-right:4px\9;
width: 170px;
vertical-align:top;
display:inline-block;
*display: inline;
*zoom: 1; 
text-align:center;
border-radius:5px;
-webkit-border-radius:5px;
-moz-border-radius:5px;
border:1px solid #cecece;
font-size: 16px;
}

ul.functionPop h3{
color:#333;
font-size:100%;
line-height:1.4;
margin:0 0 10px;
}

ul.functionPop li { /*マウスが乗ったら*/
position: relative;
top: 0px; left: 0px;
}
ul.functionPop li .icon{
margin: 0 0 10px;
}

ul.functionPop li .btn_use a {
width: 70%;
margin: 0 auto;
line-height: 1.2;
padding: 5px 5px;
text-align: center !important;
font-weight: bold;
padding: 5px 5px;
color: #43A133 !important;
text-decoration: none;
border: 1px solid #43A133;
background-color:#fff;
display: block;
border-radius:3px;
-webkit-border-radius:3px;
-moz-border-radius:3px;
}

ul.functionPop li .btn_use a:hover{
background-color:#43A133;
color:#FFF!important;
}
ul.functionPop li .text2{
display: none;
position: absolute;
padding: 10px;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
background: #333;
color: #fff;
text-align:left;
font-size:88%;
bottom:42px;
}
ul.functionPop li .text2:after {
position: absolute;
top: 100%;
left: 50%;
width: 0;
height: 0;
margin-left: -10px;
border: solid transparent;
border-color: rgba(51, 51, 51, 0);
border-top-color: #333;
border-width: 10px;
pointer-events: none;
content: " ";
}

ul.functionPop li .text2 span{ color: #FF3 !important; font-size:88%;}
p.btn_use:hover + p.text2,
p.btn_useNone:hover + p.text2 {
display: block;
}
/*非表示の設定*/
div#useCouponArea{
display:none;
}
dl.useCouponBox dd{
display:none;
}


/* 提携プレミアムご案内パーツ（対象者のみ表示）2015-09-16修正
==================== */
#NoticeOfPremium{
width: 978px;
margin: 15px auto 5px;
padding:0;
font-size: 100%;
position:relative;
display:none;
}
#NoticeOfPremium .CloseButton{
position: absolute;
top:5px;
right:5px;
background:#333 url(/css/images/premium_not_display.png) no-repeat center center;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
border:none;
width:20px;
height:20px;
cursor:pointer;
}
#NoticeOfPremium dl{
display: table;
*overflow:auto;
width: 100%;
border: 1px solid #AD924F;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
}
#NoticeOfPremium dt,
#NoticeOfPremium dd {
display: table-cell;
*height: 70px;
*float:left;
padding: 10px;
vertical-align: middle;
}
#NoticeOfPremium dt{
width:170px;
background:#AD924F;
color:#FFF;
}
#NoticeOfPremium dd {
width: 810px;
*width: 750px;
font-size: 95%;
}
#NoticeOfPremium p{text-align:left; padding: 0; letter-spacing:normal;}
#NoticeOfPremium ul {
margin:5px 0 0;
padding:0 ;
text-align: center;
}
#NoticeOfPremium ul li {
margin: 0 5px;
padding: 0;
letter-spacing: 1px;
display: inline-block;
*display:inline;
*zoom:1;
width:300px;
}
/*複数ボタンの時*/
#NoticeOfPremium ul.PluralBtn li{width: auto !important;}
#NoticeOfPremium ul li a {
display: block;
padding: 6px 10px 3px 28px;
color:#fff;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
line-height: 1.1;
text-decoration: none;
text-align: center;
white-space: nowrap;
}
#NoticeOfPremium ul li a.Link{background:#AD924F;}
#NoticeOfPremium ul li a.Link:hover{background-color:#937C43;}
/*
#NoticeOfPremium ul li a span{font-size:88%; margin-left:5px;}
#NoticeOfPremium ul li a.Link{background:#AD924F url(/css/images/premium_arrow_link.png) no-repeat 10px 6px;}
#NoticeOfPremium ul li a.Link:hover{background-color:#937C43;}
#NoticeOfPremium ul li a.NotDisplay{background:#AD924F url(/css/images/premium_not_display.png) no-repeat 10px 5px;}
#NoticeOfPremium ul li a.NotDisplay:hover{ background-color:#937C43;}
*/

/* clear fix
==================== */
#Header #HeaderInner:after,
#Header #HeaderInner .Option:after,
#Header #HeaderInner .Option .Search:after,
#Header #HeaderInner .Option .Utility:after,
#Header #HeaderInner .TopWords:after,
#Header #HeaderInner .Function .Status:after,
#Header #HeaderInner .Function .Service:after,
#Header #HeaderInner .Function #ServiceDD .Frame ul:after,
#Header #HeaderInner .UtilityNav ul:after,
#Header #HeaderInner .UtilityNav ul li.Search:after,
#Header #HeaderInner .UserNav ul:after,
#Header #HeaderInner .SocialNav ul:after,
#Header #GlobalNav #GlobalNavInner .MainNav .Nav:after,
#Header #GlobalNav #GlobalNavInner .SubNav .Sub:after,
#Header #GlobalNav #GlobalNavInner .SubNav .SubDropdown:after,
#Header #GlobalNav #GlobalNavInner .SubNav .SubDropdown .Nav:after,
#Header #GlobalNav #GlobalNavInner #CustomizeDD .FavoritesBlock:after,
#Header #GlobalNav #GlobalNavInner #CustomizeDD .FavoritesBlock li dl dt:after,
#Header #GlobalNav #GlobalNavInner #CustomizeDD .FavoritesBlock li dl dd:after,
#TopicsBar #TopicsBarInner dl:after,
#TopicsBar #TopicsBarInner dl dd ul:after{
visibility:hidden;
display:block;
font-size:0;
content:" ";
clear:both;
height:0;
}
* html #Header #HeaderInner,
* html #Header #HeaderInner .Option,
* html #Header #HeaderInner .Option .Search,
* html #Header #HeaderInner .Option .Utility,
* html #Header #HeaderInner .TopWords,
* html #Header #HeaderInner .Function .Status,
* html #Header #HeaderInner .Function .Service,
* html #Header #HeaderInner .Function #ServiceDD .Frame ul,
* html #Header #HeaderInner .UtilityNav ul,
* html #Header #HeaderInner .UtilityNav ul li.Search,
* html #Header #HeaderInner .UserNav ul,
* html #Header #HeaderInner .SocialNav ul,
* html #Header #GlobalNav #GlobalNavInner .MainNav .Nav,
* html #Header #GlobalNav #GlobalNavInner .SubNav,
* html #Header #GlobalNav #GlobalNavInner .SubNav .SubDropdown,
* html #Header #GlobalNav #GlobalNavInner .SubNav .SubDropdown .Nav,
* html #Header #GlobalNav #GlobalNavInner #CustomizeDD .FavoritesBlock,
* html #Header #GlobalNav #GlobalNavInner #CustomizeDD .FavoritesBlock li dl dt,
* html #Header #GlobalNav #GlobalNavInner #CustomizeDD .FavoritesBlock li dl dd,
* html #TopicsBar #TopicsBarInner dl,
* html #TopicsBar #TopicsBarInner dl dd ul{
zoom:1;
}/* IE6 */
*:first-child+html #Header #HeaderInner,
*:first-child+html #Header #HeaderInner .Option,
*:first-child+html #Header #HeaderInner .Option .Search,
*:first-child+html #Header #HeaderInner .Option .Utility,
*:first-child+html #Header #HeaderInner .TopWords,
*:first-child+html #Header #HeaderInner .Function .Status,
*:first-child+html #Header #HeaderInner .Function .Service,
*:first-child+html #Header #HeaderInner .Function #ServiceDD .Frame ul,
*:first-child+html #Header #HeaderInner .UtilityNav ul,
*:first-child+html #Header #HeaderInner .UtilityNav ul li.Search,
*:first-child+html #Header #HeaderInner .UserNav ul,
*:first-child+html #Header #HeaderInner .SocialNav ul,
*:first-child+html #Header #GlobalNav #GlobalNavInner .MainNav .Nav,
*:first-child+html #Header #GlobalNav #GlobalNavInner .SubNav,
*:first-child+html #Header #GlobalNav #GlobalNavInner .SubNav .SubDropdown,
*:first-child+html #Header #GlobalNav #GlobalNavInner .SubNav .SubDropdown .Nav,
*:first-child+html #Header #GlobalNav #GlobalNavInner #CustomizeDD .FavoritesBlock,
*:first-child+html #Header #GlobalNav #GlobalNavInner #CustomizeDD .FavoritesBlock li dl dt,
*:first-child+html #Header #GlobalNav #GlobalNavInner #CustomizeDD .FavoritesBlock li dl dd,
*:first-child+html #TopicsBar #TopicsBarInner dl,
*:first-child+html #TopicsBar #TopicsBarInner dl dd ul{
zoom:1;
}/* IE7 */



/*=====2014.10追加（お気に入り連載ヘッダー関連）=====*/
#Header #GlobalNav #GlobalNavInner .SubNav{
overflow: hidden;
}
#Header #GlobalNav #GlobalNavInner .SubNav .SubDropdown {
padding: 0 10px;
height: 100%;
position: relative;
}

#Header #GlobalNav #GlobalNavInner .SubNav .SubDropdown .Nav li{
padding: 0 20px 0 0;
}
#Header #GlobalNav #GlobalNavInner .SubNav .SubDropdown .Nav li a,
#Header #GlobalNav #GlobalNavInner .SubNav .SubDropdown .Nav li a:visited,
#Header #GlobalNav #GlobalNavInner .SubNav .SubDropdown .Nav li span{
padding: 7px 0 3px;
}
#Header #GlobalNav #GlobalNavInner #CustomizeDD .Nav li a{
padding-left:25px;
}
#Header #GlobalNav #GlobalNavInner #CustomizeDD .Nav li.ToFavorites a{
padding-left:18px;
background:url(/css/images/icon_favorites.gif) no-repeat 0 5px;
}
#Header #GlobalNav #GlobalNavInner #CustomizeDD .Nav li.ToFavorites a:hover,
#Header #GlobalNav #GlobalNavInner #CustomizeDD .Nav li.ToFavorites a:active,
#Header #GlobalNav #GlobalNavInner #CustomizeDD .Nav li.ToFavorites a.Active,
#Header #GlobalNav #GlobalNavInner #CustomizeDD .Nav li.ToFavorites a.Active:hover,
#Header #GlobalNav #GlobalNavInner #CustomizeDD .Nav li.ToFavorites a.Active:active{
background:url(/css/images/icon_favorites.gif) no-repeat 0 -25px;
text-decoration:none;
color:#B90000;
}
/*
#Header #GlobalNav #GlobalNavInner #CustomizeDD .Nav li.ToFavorites a.Active{
background:url(/css/images/icon_favorites.gif) no-repeat 0 5px;
color:#1E1E17;
}
#Header #GlobalNav #GlobalNavInner #CustomizeDD .Nav li.ToFavorites a.Active:hover,
#Header #GlobalNav #GlobalNavInner #CustomizeDD .Nav li.ToFavorites a.Active:active{
background:url(/css/images/icon_favorites.gif) no-repeat 0 -25px;
text-decoration:none;
color:#B90000;
}*/
#Header #GlobalNav #GlobalNavInner #CustomizeDD .SubDropdown .Nav li.ToScrap a{
background:url(/css/images/icon_customize_scrap.png) 0 3px no-repeat;
}
#Header #GlobalNav #GlobalNavInner #CustomizeDD .SubDropdown .Nav li.ToKeyword a{
background:url(/css/images/icon_customize_keyword.png) 0 3px no-repeat;
}
#Header #GlobalNav #GlobalNavInner #CustomizeDD .SubDropdown .Nav li.ToFunction a{
background:url(/css/images/icon_customize_function.png) 0 3px no-repeat;
}
#Header #GlobalNav #GlobalNavInner #CustomizeDD .SubDropdown .Nav li.ToScrap a:hover,
#Header #GlobalNav #GlobalNavInner #CustomizeDD .SubDropdown .Nav li.ToScrap a:active,
#Header #GlobalNav #GlobalNavInner #CustomizeDD .SubDropdown .Nav li.ToScrap a.Active,
#Header #GlobalNav #GlobalNavInner #CustomizeDD .SubDropdown .Nav li.ToKeyword a:hover,
#Header #GlobalNav #GlobalNavInner #CustomizeDD .SubDropdown .Nav li.ToKeyword a:active,
#Header #GlobalNav #GlobalNavInner #CustomizeDD .SubDropdown .Nav li.ToKeyword a.Active,
#Header #GlobalNav #GlobalNavInner #CustomizeDD .SubDropdown .Nav li.ToFunction a:hover,
#Header #GlobalNav #GlobalNavInner #CustomizeDD .SubDropdown .Nav li.ToFunction a:active,
#Header #GlobalNav #GlobalNavInner #CustomizeDD .SubDropdown .Nav li.ToFunction a.Active{
background-position: 0 -57px;
}

/*=====2014-10-30 目次ボタン追加=====*/
#Header #HeaderInner .UtilityNav ul li.IndexButton{margin: 2px 0 0 0 !important;}
#Header #HeaderInner .UtilityNav ul li.IndexButton a{
margin:0;
padding: 0;
float: left;
width: 42px;
_width: 44px;
height:24px;
background:#FAFAF3;
text-indent:0;
text-decoration:none;
text-align:center;
font-size: 75%;
font-weight: bold;
line-height: 24px;
letter-spacing: 0;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
border:1px solid #D2D2CB;
box-sizing:border-box !important;
}
#Header #HeaderInner .UtilityNav ul li.IndexButton a:hover{
color:#B90000;
text-decoration:none;
background-color:#FFF;
border:1px solid #B90000;
}