@charset "utf-8";

/*-----------------------------------
朝日新聞デジタル -- フッター CSS --
last modified --2015-01-27 11:20--(画像パスを修正)
※画像はルートパスで書いてください。
-----------------------------------*/

/* Footer
==================== */
#Footer{
width:100%;
margin:44px auto 0;
padding:0;
background:#F5F5EE;
border-top:1px solid #E1E1DA;
position:relative;
min-width: 1000px;
}

/* ToTop
==================== */
#Footer #ToTop{
width:100%;
padding:0;
margin:0 auto;
position:relative;
top:-24px;
}
#Footer #ToTop #ToTopInner{
position:relative;
width:980px;
_width:1000px;
height:24px;
margin:0 auto;
padding:0 10px;
}
#Footer #ToTop #ToTopInner p{
display:block;
float:right;
position:absolute;
right:10px;
height:18px;
_height:24px;
margin:0;
padding:5px 10px 0;
background:#F5F5EE;
border-top:1px solid #E1E1DA;
border-right:1px solid #E1E1DA;
border-left:1px solid #E1E1DA;
}
#Footer #ToTop #ToTopInner p a{
color:#696962;
font-size:75%;
font-weight:bold;
}
#Footer #ToTop #ToTopInner p a:hover,
#Footer #ToTop #ToTopInner p a:active{
color:#373730;
text-decoration:none;
}

/* FooterInner
==================== */
#Footer #FooterInner{
width:100%;
padding:0;
margin:0 auto;
border-top:1px solid #D7D7D0;
background:#EBEBE4;
}

/* Services
==================== */
#Footer #Services{
width:980px;
_width:1000px;
margin:-24px auto 0;
padding:15px 10px 5px;
}
#Footer #Services dl{
margin:0;
padding:0;
}
#Footer #Services dl dt{
float:left;
width:243px;
margin:0;
padding:0;
color:#696962;
font-size:75%;
font-weight:bold;
text-align:left;
}
#Footer #Services dl dt span{
display:block;
font-size:80%;
font-weight:normal;
}
#Footer #Services dl dt a{
display:block;
margin:0;
padding:0;
color:#696962;
font-size:100%;
}
#Footer #Services dl dt a:hover,
#Footer #Services dl dt a:active{
color:#373730;
}
#Footer #Services dl dd{
margin:0;
padding:0 0 0 243px;
}
#Footer #Services dl dd ul{
margin:0;
padding:0;
}
#Footer #Services dl dd ul li{
float:left;
margin:0;
padding:0 18px 8px;
}
#Footer #Services dl dd ul li a{
display:block;
margin:0;
padding:0;
text-indent:-9999px;
overflow:hidden;
}
#Footer #Services dl dd ul li.asahidigital a{
width:101px;
height:30px;
background:url(/css/images/logo_services.gif) no-repeat 0 0;
}
#Footer #Services dl dd ul li.asahidigital a:hover,
#Footer #Services dl dd ul li.asahidigital a:active{
background:url(/css/images/logo_services.gif) no-repeat 0 -60px;
}
#Footer #Services dl dd ul li.globe a{
width:83px;
height:30px;
background:url(/css/images/logo_services.gif) no-repeat -161px 0;
}
#Footer #Services dl dd ul li.globe a:hover,
#Footer #Services dl dd ul li.globe a:active{
background:url(/css/images/logo_services.gif) no-repeat -161px -60px;
}
#Footer #Services dl dd ul li.webronza a{
width:115px;
height:30px;
background:url(/css/images/logo_services.gif) no-repeat -304px 0;
}
#Footer #Services dl dd ul li.webronza a:hover,
#Footer #Services dl dd ul li.webronza a:active{
background:url(/css/images/logo_services.gif) no-repeat -304px -60px;
}
#Footer #Services dl dd ul li.apital a{
width:86px;
height:30px;
background:url(/css/images/logo_services.gif) no-repeat -479px 0;
}
#Footer #Services dl dd ul li.apital a:hover,
#Footer #Services dl dd ul li.apital a:active{
background:url(/css/images/logo_services.gif) no-repeat -479px -60px;
}
#Footer #Services dl dd ul li.tenseijingo-syasetsu a{
width:129px;
height:30px;
background:url(/css/images/logo_services.gif) no-repeat -625px 0;
}
#Footer #Services dl dd ul li.tenseijingo-syasetsu a:hover,
#Footer #Services dl dd ul li.tenseijingo-syasetsu a:active{
background:url(/css/images/logo_services.gif) no-repeat -625px -60px;
}
#Footer #Services dl dd ul li.starfile a{
width:140px;
height:30px;
background:url(/css/images/logo_services.gif) no-repeat -814px 0;
}
#Footer #Services dl dd ul li.starfile a:hover,
#Footer #Services dl dd ul li.starfile a:active{
background:url(/css/images/logo_services.gif) no-repeat -814px -60px;
}
#Footer #Services dl dd ul li.middleeast a{
width:90px;
height:30px;
background:url(/css/images/logo_services.gif) no-repeat -1014px 0;
}
#Footer #Services dl dd ul li.middleeast a:hover,
#Footer #Services dl dd ul li.middleeast a:active{
background:url(/css/images/logo_services.gif) no-repeat -1014px -60px;
}
#Footer #Services dl dd ul li.judiciary a{
width:158px;
height:30px;
background:url(/css/images/logo_services.gif) no-repeat -1164px 0;
}
#Footer #Services dl dd ul li.judiciary a:hover,
#Footer #Services dl dd ul li.judiciary a:active{
background:url(/css/images/logo_services.gif) no-repeat -1164px -60px;
}
#Footer #Services dl dd ul li.kotoba a{
width:90px;
height:30px;
background:url(/css/images/logo_services.gif) no-repeat -1382px 0;
}
#Footer #Services dl dd ul li.kotoba a:hover,
#Footer #Services dl dd ul li.kotoba a:active{
background:url(/css/images/logo_services.gif) no-repeat -1382px -60px;
}

/* Information
==================== */
#Footer .Information{
width:980px;
_width:1000px;
padding:20px 10px 10px;
margin:0 auto 24px;
border-bottom:1px solid #D7D7D0;
}
#Footer .Information dl{
float:left;
margin:0;
padding:0;
}
#Footer .Information dl dt{
margin:0;
padding:0 0 8px;
color:#696962;
font-size:75%;
font-weight:bold;
text-align:left;
line-height:1.1;
}
#Footer .Information dl dt a{
display:block;
margin:0;
padding:0;
color:#696962;
font-size:100%;
}
#Footer .Information dl dt a:hover,
#Footer .Information dl dt a:active{
color:#373730;
}
#Footer .Information dl dd,
#Footer .Information dl dd ul{
margin:0;
padding:0;
}
#Footer .Information dl dd ul li{
margin:0;
padding:0 0 8px;
color:#696962;
font-weight:normal;
text-align:left;
line-height:0;
}
#Footer .Information dl dd ul li a{
display:block;
margin:0;
padding:0;
color:#696962;
font-size:75%;
line-height:1.1;
}
#Footer .Information dl dd ul li a:hover,
#Footer .Information dl dd ul li a:active{
color:#373730;
}
#Footer .Information dl.fromAsahiShimbun,
#Footer .Information dl.fromDigitalBusiness,
#Footer .Information dl.GroupCompany{
width:210px;
_width:220px;
padding-right:10px;
}
#Footer .Information dl.WorldWideSite{
width:320px;
}

/* AboutSite
==================== */
#Footer .AboutSite{
width:980px;
_width:1000px;
margin:0 auto;
padding:0 10px;
}
#Footer .AboutSite ul{
margin:0;
padding:0 0 12px;
}
#Footer .AboutSite ul li{
display:inline;
float:left;
margin:0;
padding:0 0 8px;
color:#696962;
font-weight:normal;
text-align:left;
}
#Footer .AboutSite ul li a{
display:block;
margin:0 0 0 11px;
padding:0 0 0 13px;
border-left:1px solid #D7D7D0;
color:#696962;
font-size:75%;
line-height:1.1;
}
#Footer .AboutSite ul li a:hover,
#Footer .AboutSite ul li a:active{
color:#373730;
}
#Footer .AboutSite ul li.Fst a{
margin-left:0;
padding-left:0;
border-left:none;
}
#Footer .AboutSite .Copyright{
clear:both;
margin:0;
padding:0 0 10px;
}
#Footer .AboutSite .Copyright p{
margin:0;
padding:0 0 8px;
color:#696962;
font-size:75%;
text-align:left;
}

/* clear fix
==================== */
#Footer #FooterInner:after,
#Footer #Services dl dd ul:after,
#Footer .Information:after,
#Footer .AboutSite ul:after{
visibility:hidden;
display:block;
font-size:0;
content:" ";
clear:both;
height:0;
}
/* IE6 */
* html #Footer #FooterInner,
* html #Footer #Services dl dd ul,
* html #Footer .Information,
* html #Footer .AboutSite ul{
zoom: 1;
}
/* IE7 */
*:first-child+html #Footer #FooterInner,
*:first-child+html #Footer #Services dl dd ul,
*:first-child+html #Footer .Information,
*:first-child+html #Footer .AboutSite ul{
zoom: 1;
}