@charset "utf-8";

/*-----------------------------------
朝日新聞デジタル　--　基本スタイル・汎用クラス CSS　--

last modified --2015-05-26--
-----------------------------------*/

*{font-size:100%;padding:0;margin:0;}

/* 基本スタイル */
img,fieldset,iframe {border:none;}
ul,ol,li {list-style:none;}
table {border-collapse:collapse;border-spacing:0;}
address,caption,cite,code,dfn,em,th,var {font-style:normal;font-weight:normal;}
embed,object {vertical-align:top;}

/* 汎用クラス */
.normal {font-weight:normal !important;}
.bold {font-weight:bold !important;}
.TxtItalic {font-style:oblique !important;}
.TxtSmall {font-size:75% !important;}
.TxtMedium {font-size:90% !important;}
.TxtLarge {font-size:105% !important;}
.TxtRed {color:#B90000 !important;}
.lh1 {line-height:1 !important;}
.lh11 {line-height:1.1 !important;}
.lh12 {line-height:1.2 !important;}
.lh13 {line-height:1.3 !important;}
.lh14 {line-height:1.4 !important;}
.lh15 {line-height:1.5 !important;}
.lh16 {line-height:1.6 !important;}
.lh17 {line-height:1.7 !important;}
.lh18 {line-height:1.8 !important;}
.lh19 {line-height:1.9 !important;}
.lh20 {line-height:2.0 !important;}
.nowrap {white-space:nowrap !important;}
.BdrTop {border-top:1px solid #e6e6df !important;}
.BdrRight {border-Right:1px solid #e6e6df !important;}
.BdrBottom {border-bottom:1px solid #e6e6df !important;}
.BdrLeft {border-left:1px solid #e6e6df !important;}
.BdrNon {border:none !important;}
.BgColNon {background-color:#FFFFFF !important;}
.vtop {vertical-align:top !important;}
.vmid {vertical-align:middle !important;}
.ImgCenter {text-align:center !important;margin:0px auto 0px auto;}
.ImgLeft {text-align:left !important;}
.ImgRight {text-align:right !important;}
.WidthAuto {width:auto !important;}
.m0 {margin:0 !important;}
.m5 {margin:5px !important;}
.m10 {margin:10px !important;}
.mtb5 {margin-top:5px !important;margin-bottom:5px !important;}
.mtb10 {margin-top:10px !important;margin-bottom:10px !important;}
.mt0 {margin-top:0px !important;}
.mt5 {margin-top:5px !important;}
.mt10 {margin-top:10px !important;}
.mt15 {margin-top:15px !important;}
.mt20 {margin-top:20px !important;}
.mt25 {margin-top:25px !important;}
.mt30 {margin-top:30px !important;}
.mt40 {margin-top:40px !important;}
.mb0 {margin-bottom:0px !important;}
.mb5 {margin-bottom:5px !important;}
.mb10 {margin-bottom:10px !important;}
.mb15 {margin-bottom:15px !important;}
.mb20 {margin-bottom:20px !important;}
.mb25 {margin-bottom:25px !important;}
.mb30 {margin-bottom:30px !important;}
.mb40 {margin-bottom:40px !important;}
.mlr5 {margin-left:5px !important;margin-right:5px !important;}
.mlr10 {margin-left:10px !important;margin-right:10px !important;}
.ml0 {margin-left:0px !important;}
.ml5 {margin-left:5px !important;}
.ml10 {margin-left:10px !important;}
.ml15 {margin-left:15px !important;}
.ml20 {margin-left:20px !important;}
.mr0 {margin-right:0px !important;}
.mr5 {margin-right:5px !important;}
.mr10 {margin-right:10px !important;}
.mr15 {margin-right:15px !important;}
.mr20 {margin-right:20px !important;}
.p0 {padding:0px !important;}
.p5 {padding:5px !important;}
.p10 {padding:10px !important;}
.ptb5 {padding-top:5px !important;padding-bottom:5px !important;}
.ptb10 {padding-top:10px !important;padding-bottom:10px !important;}
.pt0 {padding-top:0 !important;}
.pt5 {padding-top:5px !important;}
.pt10 {padding-top:10px !important;}
.pt15 {padding-top:15px !important;}
.pt20 {padding-top:20px !important;}
.pt25 {padding-top:25px !important;}
.pt30 {padding-top:30px !important;}
.pt40 {padding-top:40px !important;}
.pb0 {padding-bottom:0px !important;}
.pb5 {padding-bottom:5px !important;}
.pb10 {padding-bottom:10px !important;}
.pb15 {padding-bottom:15px !important;}
.pb20 {padding-bottom:20px !important;}
.pb25 {padding-bottom:25px !important;}
.pb30 {padding-bottom:30px !important;}
.pb40 {padding-bottom:40px !important;}
.plr5 {padding-left:5px !important;padding-right:5px !important;}
.plr10 {padding-left:10px !important;padding-right:10px !important;}
.pl0 {padding-left:0px !important;}
.pl5 {padding-left:5px !important;}
.pl10 {padding-left:10px !important;}
.pl15 {padding-left:15px !important;}
.pl20 {padding-left:20px !important;}
.pr0 {padding-right:0px !important;}
.pr5 {padding-right:5px !important;}
.pr10 {padding-right:10px !important;}
.pr15 {padding-right:15px !important;}
.pr20 {padding-right:20px !important;}
.float_l {float:left !important;}
.float_r {float:right !important;}
.clear_n {float:none !important;}
.clear_b {clear:both !important;}
.clearfix:after,.fclear:after,.cFix:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
* html .clearfix,* html .fclear,* html .cFix{zoom:1;} /* IE6 */
*:first-child+html .clearfix,*:first-child+html .fclear,*:first-child+html .cFix{zoom: 1;} /* IE7 */
.hidden {visibility:hidden}