@charset "utf-8";

/*-----------------------------------
朝日新聞デジタル　--　Common CSS　--

last modified --2014-02-24--
-----------------------------------*/

/* 基本スタイル・汎用クラス */
@import/**/"http://www.asahicom.jp/css/asahi-base2013.utf8.css";

/* サイトスタイル */
@import/**/"http://www.asahicom.jp/css/asahi-site2013.utf8.css";
@import/**/"http://www.asahicom.jp/css/asahi-header2014.utf8.css";
@import/**/"http://www.asahicom.jp/css/asahi-footer2013.utf8.css";

/* スマホ・タブレット向けアプリ誘導 */
@import/**/"http://www.asahicom.jp/css/smartlink.utf8.css";