@charset "utf-8";

/*-----------------------------------
朝日新聞デジタル　--　トップページ広告 CSS　--

last modified --2015-04-13 18:00--
-----------------------------------*/

#Header {
z-index: 1;
position: relative;
background: transparent;
}
#mal-ad-container {
position: relative;
top: 0;
}
