@charset "utf-8";body{margin:0;padding:0;font-family:Arial,Helvetica,sans-serif;font-size:13px;background:#ff6600;color:#333333;}a{color:#000000;text-decoration:none;}a:hover{color:#ff6600;}.clear{clear:both;}img{border:none;}.orange{color:#f35f23;}.yellow{color:#ff9b00;}h2{font-size:16px;color:#474e52;padding:0 0 17px 0;margin:0;font-weight:bold;}h3{font-size:16px;color:#FFFFFF;padding:35px 0 25px 0;margin:0;font-weight:bold;}h4{font-size:16px;color:#FFFFFF;padding:0 0 0 18px;margin:0;font-weight:bold;}#wrapper{width:1190px;margin:0 auto;}#adLeft1{width:120px;height:600px;margin-right:70px;margin-top:180px;margin-bottom:70px;}#adLeft2{width:120px;height:600px;margin-right:70px;}#adLeft3{width:120px;height:600px;margin-right:70px;}#adRight1{width:120px;height:600px;margin-left:70px;margin-top:180px;margin-bottom:70px;}#adRight2{width:120px;height:600px;margin-left:70px;}#adRight3{width:120px;height:600px;margin-left:70px;}#all{width:810px;margin:0 auto;float:left;}#header{height:124px;}#logo{width:265px;height:60px;float:left;padding:31px 0 0 0;}#social{width:200px;height:24px;float:right;font-size:11px;color:#FFFFFF;padding:54px 0 0 0;}#social a{color:#FFFFFF;}#social img{vertical-align:middle;}#edit{}#edit .t{background:url(/images/edit-top.gif) 0 0 no-repeat;height:11px;font-size:0;}#edit .content{background:url(/images/edit-mid.gif) 0 0 repeat-y;padding:20px 0;}#search{background:url(/images/bck-search.gif) 0 0 no-repeat;width:738px;height:48px;margin:0 auto;}#search form{padding:0;margin:0;}#search input{background:transparent;border:none;height:41px;font-size:16px;color:#666666;line-height:41px;}#search .in{float:left;width:540px;padding:0 0 0 17px;}#search .bt{float:left;width:131px;padding:3px 0 0 0;}#search-txt{color:#999999;width:738px;margin:0 auto;padding:12px 0 24px 0;}#search-txt a{color:#999999;}.box-unknown{background:url(/images/trust-unknown.gif) 0 0 no-repeat;width:750px;height:168px;margin:0 auto;}.box-unknown img{vertical-align:middle;}.box-unknown .alert1{height:59px;line-height:59px;font-size:24px;color:#FFFFFF;padding:23px 0 0 47px;}.box-unknown .alert2{height:45px;line-height:35px;width:694px;background:url(/images/bck-alert2.gif) 0 0 no-repeat;font-weight:bold;font-size:13px;color:#333333;padding:5px 0 0 0;margin:16px auto 0 auto;text-align:center;}.box-trust-alert{background:url(/images/low-trust.gif) 0 0 no-repeat;width:750px;height:168px;margin:0 auto;}.box-trust-alert img{vertical-align:middle;}.box-trust-alert .alert1{height:59px;line-height:59px;font-size:24px;color:#FFFFFF;padding:23px 0 0 47px;}.box-trust-alert .alert2{height:45px;line-height:35px;width:694px;background:url(/images/bck-alert2.gif) 0 0 no-repeat;font-weight:bold;font-size:13px;color:#333333;padding:5px 0 0 0;margin:16px auto 0 auto;text-align:center;}.box-trust-alert-medium-high .alertt{font-weight:bold;font-size:18px;vertical-align:middle;color:#666666;text-align:right;}.box-trust-alert-medium-high .alert2{height:45px;line-height:35px;width:736px;background:url(/images/bck-alert2.gif) 0 0 no-repeat;font-weight:bold;font-size:13px;vertical-align:middle;color:#333333;padding:5px 0 0 0;margin:16px auto 0 auto;text-align:center;}.box-trust-alert-medium-high{background:url(/images/ok-trust-medium-high2.gif) 0 0 no-repeat;width:750px;height:168px;margin:0 auto;}.box-trust-alert-medium-high img{vertical-align:middle;}.box-trust-alert-medium-high .alert1{height:59px;line-height:59px;font-weight:bold;font-size:30px;color:#666666;padding:23px 0 0 40px;text-align:center;}.box-trust-alert-medium-high .alert2{height:45px;line-height:35px;width:694px;background:url(/images/bck-alert2.gif) 0 0 no-repeat;font-weight:bold;font-size:13px;color:#333333;padding:5px 0 0 0;margin:16px auto 0 auto;text-align:center;}.box-trust-alert-small{height:100px;}.box-trust-alert-small .box-trust-alert-small-bottom{background:url(/images/low-trust.gif) bottom center no-repeat;height:20px;}.box-trust-alert-ok{background:url(/images/ok-trust.gif) 0 0 no-repeat;width:750px;height:76px;margin:0 auto;margin-left:30px;padding:20px;color:#fff;font-size:20px;line-height:36px;text-align:center;}.box-trust-alert-ok-yellow{background:url(/images/ok-trust-yellow.gif) 0 0 no-repeat;width:710px;height:168px;margin:0 auto;padding:20px;color:#fff;font-size:24px;line-height:36px;text-align:center;}.box-trust-alert-ok-yellow .alert2{height:45px;line-height:35px;width:736px;background:url(/images/bck-alert2.gif) 0 0 no-repeat;font-weight:bold;font-size:13px;vertical-align:middle;color:#333333;padding:5px 0 0 0;margin:16px auto 0 auto;text-align:center;}.box-trust-alert-ok-yellow .alert2 img{vertical-align:middle;}
}





#box {
width:738px;
margin:0 auto;
height:auto;
}

#box .arrow{
background:url(/images/ico-triangle.gif) 50% 0 no-repeat;
height:17px;
}

#box .top{
background:url(/images/box-top.gif) 0 0 no-repeat;
height:7px;
font-size:0;
}

#box .content{
background:url(/images/box-mid.gif) 0 0 repeat-y;
}

#box .bot{
background:url(/images/box-bot.gif) 0 0 no-repeat;
height:7px;
font-size:0;
}



#box-comment {
width:738px;
margin:0 auto;
padding:0 0 0 0;
}

#box-comment-left {
width:410px;
float:left;
padding:0px 0 0 0;
position:relative;
height:auto;
}

#box-comment-right {
width:160px;
float:right;
position:relative;
height:auto;
}

#morinfo-txt {

}

.example {
color:#f35f23;
font-style:italic;
font-weight:normal;
}









#facebook-box {
padding:20px 0 0 0;
width:268px;
float:right;
}

#comments-facebook {
width:400px;
}

#ads {
width:160px;
height:600px;
/*background:#333333;*/
margin:40px 0 0 0;
}

#post-comment-box {
padding:0px 0 0 0;
}

#post-comment-box .tt{
background:url(/images/box-4-top.gif) 0 0 no-repeat;
height:7px;
font-size:0;
}

#post-comment-box .mm{
background:url(/images/box-4-mid.gif) 0 0 repeat-y;
}

#post-comment-box .bb{
background:url(/images/box-4-bot.gif) 0 0 no-repeat;
height:7px;
font-size:0;
}

#box-form {
padding:0 0 0 17px;
}

#box-form form{

}

#box-form .line-txt {
height:26px;
padding:12px 0 0 0 ;
}

#box-form .line-txt-l {
float:left;
width:210px;
padding:0 0 0 10px;
}

#box-form .line-txt-2 {
float:left;
width:210px;
padding:0 0 0 60px;
}

#box-form .line-txt2{
height:26px;
color:#5e5e5e;
font-size:11px;
font-style:italic;
padding:10px 0 0 0 ;
}
#box-form .line-1 {
background:url(/images/input1.gif) 0 0 no-repeat;
height:35px;
}

#box-form .line-2 {
background:url(/images/input2.gif) 0 0 no-repeat;
height:116px;
padding:10px 0 0 10px;
}

#box-form .btn {
height:35px;
}

#box-form input {
border:none;
background:transparent;
width:210px;
height:28px;
}

#box-form textarea {
border:none;
background:transparent;
width:460px;
height:100px;
}


#footer {
background:url(/images/edit-mid2.gif) 0 0 repeat-y;
padding:0 0 37px 0;
}

#footer .fb{
float:left;
width:80px;
}

#footer .tw{
float:left;
width:80px;
}


#footer .share{
float:left;
width:216px;
padding:0 0 0 50px;
}

#footer .share-line{
padding:0 0 5px 0;
}


#footer .sitemap{
float:left;
width:207px;
padding:0 0 0 30px;
}

#footer .sitemap ul {
list-style:none;
padding:0;
margin:0;
color:#FFFFFF;
}

#footer .sitemap ul a{
color:#FFFFFF;
}

#footer .sitemap li {
border-bottom:#4f575b 1px solid;
padding:6px 0;
}

#footer .tweet{
float:left;
width:253px;
background:url(/images/ico-twitter.gif) 0 0 no-repeat;
padding:0 0 0 30px;
}

#copyright {
background:url(/images/edit-footer.gif) 0 0 no-repeat;
height:47px;
line-height:47px;
font-style:italic;
text-align:center;
color:#FFFFFF;
}

#copyright a{
color:#FFFFFF;
border-bottom: 1px #F6F9F9 dashed; 
}


/* boxes */

#box-trust-rating {
width:703px;
margin:0 auto;
}

#box-accordion {
width:703px;
margin:0 auto;

}

#box-accordion .active{
background:url(/images/box-acc-active.gif) 0 0 no-repeat;
width:671px;
height:35px;
margin:0 auto;
padding:0 0 3px 0;
}

#box-accordion .active-body{
padding:27px 0;
}

#box-accordion .inactive{
background:url(/images/box-acc-inactive.gif) 0 0 no-repeat;
width:671px;
height:35px;
margin:0 auto;
padding:0 0 3px 0;
}



#box-trust-rating  .t, #box-accordion .t {
width:703px;
background:url(/images/box2-top.gif) 0 0 no-repeat;
height:46px;
line-height:46px;
color:#FFFFFF;
}

#box-trust-rating  .b, #box-accordion .b {
width:703px;
background:url(/images/box2-bot.gif) 0 0 no-repeat;
height:7px;
font-size:0;
}

#box-trust-rating  .m {
width:703px;
background:url(/images/box2-mid.gif) 0 0 repeat-y;
}


#box-accordion .m {
width:703px;
background:url(/images/box2-mid.gif) 0 0 repeat-y;
padding:9px 0 0 0;
}


#box-trust-rating .t-left{
float:left;
width:400px;
}

#box-trust-rating .t-right{
float:right;
width:230px;
height:24px;

font-size:11px;
padding:10px 0 0 0;
}

#box-trust-rating .txt1{
float:left;
width:124px;
line-height:24px;
}

#box-trust-rating .txt2{
background:url(/images/bck-comments.gif);
float:left;
width:96px;
height:24px;
}

#box-trust-rating .numb{ /* variable */
float:left;
width:20px;
font-size:8px;
padding:0 0 0 10px;
line-height:22px;
text-align:center;
}
#box-trust-rating .com{
float:left;
width:63px;
line-height:24px;
}
#box-trust-rating .com a, #box-trust-rating .numb a {
color:#FFFFFF;
}


#box-report {
width:210px;
float:left;
padding:11px 0 9px 18px;
}

#box-report .t2{
background:url(/images/box-report-top.gif) 0 0 no-repeat;
height:4px;
font-size:0;
}

#box-report .b2{
background:url(/images/box-report-bot.gif) 0 0 no-repeat;
height:4px;
font-size:0;
}

#box-report .m2{
background:url(/images/box-report-mid.gif) 0 0 repeat-y;
}

#box-report .image{
padding:5px 0 0 0;
width:196px;
margin:0 auto;
position:relative;
}

#box-report .zoom{
position:absolute;
top:84px;
left:130px;
width:61px;
height:61px;
z-index:3;
}

#box-report .wait{
line-height:18px;
padding:8px 0 14px 0;
text-align:center;

}

#box-report .btn{
width:197px;
margin:0 auto;
}

#box-slider {
width:434px;
float:right;
padding:15px 19px 0 0;
}

#box-slider .share-txt{
float:left;
width:100px;
}

#box-slider .fb{
float:left;
width:80px;
}

#box-slider .tw{
float:left;
width:80px;
}

#slider-top { 
height:35px;

}

#slider-top .pop1 {
float:left;
width:63px;
height:35px;
line-height:35px;
}



#slider-top .last-data { 
float:right;
width:250px;
height:35px;
line-height:20px;
font-size:11px;
padding:0 18px 0 0;
text-align: right;
}


#slider-slider { 
height:127px;
padding:25px 0 0 0;
}

#slider-slider .slider-text{ 
height:18px;
font-size:9px;
}

#slider-slider .very-risk{
float:left;
width:100px;
padding:0 0 0 10px;
}

#slider-slider .safe{
float:right;
width:100px;
text-align:right;
padding:0 10px 0 0;
}

#slider-slider .slider-body{ 
position:relative;
height:109px;
background:url(/images/slider-bck.png) 0 0 no-repeat;

}




#slider-share-result { 
height:22px;
padding:25px 0 0 0;
}


#show-hide {

}

/* accordion */

.mypets{ /*header of 1st demo*/
cursor: hand;
cursor: pointer;
padding: 2px 5px;
border: 1px solid gray;
background: #E1E1E1;
}

.openpet{ /*class added to contents of 1st demo when they are open*/
background: yellow;
}

.technology{ /*header of 2nd demo*/
cursor: hand;
cursor: pointer;
font: bold 14px Verdana;
margin: 10px 0;
/*width:600px;*/
}

.technology .span1{
float:left;
width:300px;
padding:0 0 0 20px;
}


.openlanguage{ /*class added to contents of 2nd demo when they are open*/
color:#FFFFFF;
font-size:13px;
background:url(/images/box-acc-active.gif) 0 0 no-repeat;
width:671px;
height:35px;
margin:0 auto;
padding:0 0 3px 0;
line-height:35px;
}

.closedlanguage{ /*class added to contents of 2nd demo when they are closed*/
color:#333333;
font-size:13px;
background:url(/images/box-acc-inactive.gif) 0 0 no-repeat;
width:671px;
height:35px;
margin:0 auto;
padding:0 0 3px 0;
line-height:35px;
}

.accordsuffix{
float:right;
width:100px;
font-size:11px;
}

.openlanguage .accordsuffix {
color:#FFFFFF;
}

.closedlanguage .accordsuffix {
color:#999999;
}

.accordprefix{
padding:0 0 0 20px;
}

.thelanguage {
width:660px;
margin:0 auto;
padding:20px 0;
clear:both;
}


/* ajax */

.col-left {
width:300px;
float:left;
}


.col-right {
width:400px;
float:left;
}

.clear {
clear:both;
}



/* root element for tabs  */
ul.tabs { 
	list-style:none; 
	margin:0 !important; 
	padding:0;	
	height:30px;
}

/* single tab */
ul.tabs li { 
/*	float:left;	 */
	text-indent:0;
	padding:0;
	margin:0 !important;
	list-style-image:none !important; 
}

/* link inside the tab. uses a background image */
ul.tabs a { 

	background:url(/images/box3-active2.gif) 0 0 no-repeat;
	
	font-size:16px;
	display:block;
	height: 36px;  
	line-height:36px;
	width: 157px;
	text-align:center;	
	text-decoration:none;
	color:#333;
	padding:0px;
	margin:0px 0 0 2px;	
	position:relative;
	top:1px;
	outline: none;

}

* html ul.tabs a { 
	background:url(/images/box3-active2.gif) 0 0 no-repeat;
}

ul.tabs a:active {
	outline:none;
	color:#f35f23;
/*		height: 46px;  
	line-height:46px;	*/
}

/* when mouse enters the tab move the background image */
ul.tabs a:hover {
	color:#f35f23;
}

/* active tab uses a class name "current". its highlight is also done by moving the background image. */
ul.tabs a.current {
	background-position: 0 -49px;		
	cursor:default !important; 
	color:#f35f23 !important;
			height: 46px;  
	line-height:46px;	
}


/* initially all panes are hidden */ 
.panes1 .pane {
	display:none;		
}

/* tab pane styling */
.panes1 .xxxx1  {
	display:none;		
}


#morinfo-box {
width:439px;
float:left;
/*position:relative;*/
}

#morinfo-box .nav {
float:left;
width:159px;

}

#morinfo-box .cnt {
float:left;
width:210px;
padding:0 0 0 30px;

}

#morinfo-box .active{
background:url(/images/box3-active.gif) 0 0 no-repeat;
width:157px;
height:46px;
line-height:46px;
text-indent:17px;
font-weight:bold;
color:#f35f23;

}

#morinfo-box .active a{color:#f35f23;}

#morinfo-box .inactive{
width:157px;
height:37px;
line-height:37px;
text-indent:17px;
font-weight:bold;
}

#morinfo-box .about{
color:#f35f23;
font-style:italic;
font-size:11px;
}

#morinfo-box .t{
background:url(/images/box3-top.gif) 0 0 no-repeat;
height:10px;
font-size:0;
}

#morinfo-box .m{
background:url(/images/box3-mid.gif) 0 0 repeat-y;

}

#morinfo-box .b{
background:url(/images/box3-bot.gif) 0 0 no-repeat;
height:10px;
font-size:0;
}

.map-right {
width:310px;
margin-left: 20px;
float:right;
}

.slider-txt {
color:#FFFFFF;
text-align:center;
padding:45px 10px 0 10px;
font-size:11px;
}
.slider-txt-big {
color:#FFFFFF;
text-align:center;
padding:40px 10px 0 10px;
font-size:23px;
font-style:bold;
}

.thumb_img {
	width: 196px;
	height: 146px;
	}



#box-comment, #show-hide {
	position: relative;
	}	
.fix {
	background: url(/images/fix.png);
	height:100%;
	width:100%;
	position:absolute;
	top:0;
	left:0;
	z-index:100;
}

.in input { width: 570px; height: 20px; margin-top: 3px; outline: solid 0px !important; }

.disabled { color: #aaa; }
.fields .disabled, .fields .orange { font-weight: bold; }

.numb #comments { border: solid 0px; overflow: hidden; padding: 0px; }
.numb { height: 18px !important; width: 18px !important; }
/*#comments iframe { height: 570px; width: 736px; }*/
/*#comments { margin-bottom:30px; width: 736px; }  */
#comments { margin-bottom:30px; width: 436px; }


/* navigation */
#navigation {
/*background:url(/images/navigation.gif) 0 0 no-repeat;*/
background:#ff6600;
height:55px;
width:810px;
}


#navigation  a{
color:#FFFFFF;
}

#navigation .line{
background:url(/images/navigation-line.gif) 0 0 no-repeat;
width:2px;
float:left;
height:55px;
}

#navigation .tab-0{
width:164px;
height:55px;
display:block;
line-height:55px;
text-align:center;
color:#f35f23;
font-size:13px;
font-weight:bold;
float:left;
}

#navigation .tab-0 a:hover, #navigation .tab-0:hover a{
background:url(/images/navigation-current.gif) 0 0 no-repeat;
width:164px;
height:55px;
display:block;
line-height:55px;
text-align:center;
color:#f35f23;
font-size:13px;
font-weight:bold;
float:left;
}

#navigation .selected-0{
background:url(/images/navigation-current.gif) 0 0 no-repeat;
width:164px;
height:55px;
display:block;
line-height:55px;
text-align:center;
color:#f35f23;
font-size:16px;
font-weight:bold;
float:left;
a:link {color:#FF0000;}      /* unvisited link */
a:visited {color:#00FF00;}  /* visited link */
a:hover {color:#FF00FF;}  /* mouse over link */
a:active {color:#0000FF;}  /* selected link */
}



#navigation .tab-1{

width:150px;
height:55px;
display:block;
line-height:55px;
text-align:center;
color:#f35f23;
font-size:13px;
font-weight:bold;
float:left;
}

/*#navigation .tab-1 a {
color:#FFFFFF;
}



.tab-1:hover  a {
color:#f35f23;
}
*/

#navigation .tab-1 a:hover, #navigation .tab-1:hover a{
background:url(/images/nav-1.gif) 0 0 no-repeat;
width:150px;
height:55px;
/*display:block;*/
/*display:inline-block;*/
line-height:55px;
text-align:center;
color:#f35f23;
font-size:13px;
font-weight:bold;
float:left;
position:relative;
}

#navigation .selected-1{
background:url(/images/nav-1.gif) 0 0 no-repeat;
width:150px;
height:55px;
display:block;
line-height:55px;
text-align:center;
color:#f35f23;
font-size:13px;
font-weight:bold;
float:left;
}



#navigation .tab-2{

width:90px;
height:55px;
display:block;
line-height:55px;
text-align:center;
color:#f35f23;
font-size:13px;
font-weight:bold;
float:left;
}

#navigation .tab-2 a:hover, #navigation .tab-2:hover a{
background:url(/images/nav-2.gif) 0 0 no-repeat;
width:90px;
height:55px;
display:block;
line-height:55px;
text-align:center;
color:#f35f23;
font-size:13px;
font-weight:bold;
float:left;
}

#navigation .selected-2 {
background:url(/images/nav-2.gif) 0 0 no-repeat;
width:90px;
height:55px;
display:block;
line-height:55px;
text-align:center;
color:#f35f23;
font-size:13px;
font-weight:bold;
float:left;
}


#navigation .tab-3{

width:90px;
height:55px;
display:block;
line-height:55px;
text-align:center;
color:#f35f23;
font-size:13px;
font-weight:bold;
float:left;
}

#navigation .tab-3 a:hover, #navigation .tab-3:hover a{
background:url(/images/nav-2.gif) 0 0 no-repeat;
width:90px;
height:55px;
display:block;
line-height:55px;
text-align:center;
color:#f35f23;
font-size:13px;
font-weight:bold;
float:left;
}

#navigation .selected-3 {
background:url(/images/nav-2.gif) 0 0 no-repeat;
width:90px;
height:55px;
display:block;
line-height:55px;
text-align:center;
color:#f35f23;
font-size:13px;
font-weight:bold;
float:left;
}



#navigation .tab-4{

width:57px;
height:55px;
display:block;
line-height:55px;
text-align:center;
color:#f35f23;
font-size:13px;
font-weight:bold;
float:left;
}

#navigation .tab-4 a:hover, #navigation .tab-4:hover a{
background:url(/images/nav-4.gif) 0 0 no-repeat;
width:57px;
height:55px;
display:block;
line-height:55px;
text-align:center;
color:#f35f23;
font-size:13px;
font-weight:bold;
float:left;
}

#navigation .selected-4 {
background:url(/images/nav-4.gif) 0 0 no-repeat;
width:57px;
height:55px;
display:block;
line-height:55px;
text-align:center;
color:#f35f23;
font-size:13px;
font-weight:bold;
float:left;
}

#navigation .tab-5{

width:96px;
height:55px;
display:block;
line-height:55px;
text-align:center;
color:#f35f23;
font-size:13px;
font-weight:bold;
float:left;
}

#navigation .tab-5 a:hover, #navigation .tab-5:hover a{
background:url(/images/nav-5.gif) 0 0 no-repeat;
width:96px;
height:55px;
display:block;
line-height:55px;
text-align:center;
color:#f35f23;
font-size:13px;
font-weight:bold;
float:left;
}

#navigation .selected-5 {
background:url(/images/nav-5.gif) 0 0 no-repeat;
width:96px;
height:55px;
display:block;
line-height:55px;
text-align:center;
color:#f35f23;
font-size:13px;
font-weight:bold;
float:left;
}



#navigation .tab-6{

width:96px;
height:55px;
display:block;
line-height:55px;
text-align:center;
color:#f35f23;
font-size:13px;
font-weight:bold;
float:left;
}

#navigation .tab-6 a:hover, #navigation .tab-6:hover a{
background:url(/images/nav-6.gif) 0 0 no-repeat;
width:96px;
height:55px;
display:block;
line-height:55px;
text-align:center;
color:#f35f23;
font-size:13px;
font-weight:bold;
float:left;
}

#navigation .selected-6 {
background:url(/images/nav-6.gif) 0 0 no-repeat;
width:96px;
height:55px;
display:block;
line-height:55px;
text-align:center;
color:#f35f23;
font-size:13px;
font-weight:bold;
float:left;
}


.cnt-tmp {
padding:20px;
}


#search{position:relative; z-index:10}
#search_dropdown{position:absolute; top:50px; left:0px; background:#ffffff; width:100%; margin:0; padding:0; border:solid 1px #cadbe5;}
#search_dropdown li{padding:3px 10px; list-style:none; cursor:pointer;}
#search_dropdown li:hover{background:#dddddd}



/*new css*/
.clr {
	clear:both;height:0; padding:0;
}
.para {
	font-size:14px;
	color:#505050;
	text-align:justify;
	margin:0;
	padding:0;line-height:18px;
}
.h1_title_new {
	margin:0;
	padding:0;
	font-size:26px;
	color:#505050;	
}

.title_h4{font-size:14px;
	color:#ff6600; margin:0; padding:0;	}
.cal_center a {
	text-decoration:underline;
	color:#ff6600;
}
.cal_center a:hover {
	color:#ff6600;
	text-decoration:none;
}
.wrapper {
	width:780px;
	height:auto;
	background: #FFFFFF;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	padding-top: 15px;
	padding-bottom: 15px;
}
.wraper_top {
	width:738px;
	height:4px;
	margin:0 auto;
	background-image: url(../images/content_top.jpg);
}
.wraper_center {
	width: 720px;
	height:auto;
	background: url(../images/content_center.jpg);
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	padding:10px;
}
.wraper_bottom{
	width: 738px;
	height:4px;
	margin:0 auto;
	background: url(../images/content_bottom.jpg);
}

.wraper_white_top {
	width:738px;
	height:4px;
	margin:0 auto;
}
.wraper_white_center {
	width: 720px;
	height:auto;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	padding:10px;
}
.wraper_white_bottom{
	width: 738px;
	height:4px;
	margin:0 auto;
}
.cal_left{
	float:left;
	height:auto;
	width: 176px;
	}
.cal_center{
	float:left;
	height:auto;
	width: 335px;
	margin-top: 0;
	margin-right: 20px;
	margin-bottom: 0;
	margin-left: 20px;
	}
.cal_right{
	float:right;
	height:auto;
	width: 128px;
}
.rating{
    text-align:right; color:#A9A9A9;font-size:18px;
}
.rating_bottom{
    width:100%;
}
.date_time{
    float:left; color:#808080;line-height: 22px;
}

.rating_no_green{float:right; color:#fff; text-align:center; vertical-align:middle;  padding-top:23px; line-height:115px; font-size:22px; font-weight:bold; height:136px; width:128px; background-image:url(../images/green_shield.gif); background-position:center; background-repeat:no-repeat;}
.rating_no_yellow{float:right; color:#fff; text-align:center; vertical-align:middle;  padding-top:23px; line-height:100px; font-size:22px; font-weight:bold; height:136px; width:128px; background-image:url(../images/yellow_shield.gif); background-position:center; background-repeat:no-repeat;}
.rating_no_red{float:right; color:#fff; text-align:center; vertical-align:middle;  padding-top:23px; line-height:100px; font-size:22px; font-weight:bold; height:136px; width:128px; background-image:url(../images/red_shield.gif); background-position:center; background-repeat:no-repeat;}
.rating_icon{float:right;}
.rating_icon ul{list-style:none;margin:0; padding:0;}


/*inner page css new*/
.inner_center {
	width: 752px;
	height:auto;
	background: url(../images/content_center.jpg);
	margin:0 auto;
	padding:10px;
	font-size:27px;
}
.inner_wraper_center {
	width: 752px;
	height:auto;
	background: url(../images/second-page-center.jpg) repeat-y;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	padding:10px;
}


.inner_bottom_green {
	width: 720px;
	height:19px;
	background: url(../images/second-page_green.jpg) repeat-y;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	padding:10px;
	font-size:20px;
	color:#fff;
}
.inner_bottom_green a{color:#fff; text-decoration:none;}
.inner_bottom_green a:hover{color:#EEE;}


.rating_no_image a{color:#fff; text-decoration:none;}
.rating_no_image a:hover{color:#000;}

.inner_page_content{
	width:742px;
	height:auto;
	margin:0 auto;
}
.in_content_left{
	float:left;

}

.in_content_right{
	float:right;
	width:450px;
}


.inner_text{
	font-size:13px;
	text-align:justify;
	color:#000;
}


/* about us page */

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }


#chrome_stats_counter {
height: 117px;
background: url('/images/aboutus/counter-bg.png') no-repeat;
padding: 18px 29px 0 29px;
margin:0 30px;
}

#chrome_stats_counter .stats_numbers {
height: 68px;
padding: 0 0 0 20px;
}

#chrome_stats_counter .stats_numbers .number {
min-width: 190px;
min-height: 48px;
color: #52758b;
font-size: 30px;
font-weight: bold;
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
text-shadow: 0px 0px 5px #cbcbcb;
text-align: center;
line-height: 48px;
padding-top: 4px;
position: relative;
float: left;
}

#chrome_stats_counter .stats_numbers .number.middle {
    border-left: 3px double #d9e3ea;
    border-right: 3px double #d9e3ea;
    margin: 0 20px;
    padding: 4px 20px 0 20px;
}

#chrome_stats_counter .stats_numbers .number .nipple {
    width: 15px;
    height: 8px;
    background: url('/images/aboutus/nipple.png') no-repeat;
    margin: 0 0 0 -10px;
    position: absolute;
    left: 50%;
    bottom: -1px;
}

#chrome_stats_counter .stats_numbers .number .stats_label {
    width: 180px;
    color: #52758b;
    font-size: 16px;
    font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue Condensed Bold", "Helvetica Neue", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-shadow: 0px 1px 0px #d2eeff;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    margin: 0 0 0 -90px;
    position: absolute;
    left: 50%;
    bottom: -49px;
    white-space: nowrap;
}

#chrome_stats_counter.grey { background: url('/images/aboutus/counter-bg2.png') no-repeat; }
#chrome_stats_counter.grey .stats_numbers .number .nipple { background: url('/images/aboutus/nipple2.png') no-repeat; }
#chrome_stats_counter.grey .stats_numbers .number .stats_label { color:#9a9a9a; }

#about-slide { background:#ccc; height:300px; width:800px; margin:7px 5px 0 5px; }
#about-desc { padding:25px; margin:0 5px;
			font-family: 'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',Arial,Helvetica,sans-serif;
			letter-spacing: 1px;
			font-size: 24px;
			line-height: 30px;
			font-weight: 300;
			color: #6A6D71;
			text-shadow: 0px 1px 0px #fff;
			background:#f6f6f6 url(/images/aboutus/f6-highlight.png) no-repeat;	}

.about-section { padding:30px 25px 0 25px; margin:0 5px; }
.about-section h2 { font-size:30px; padding-bottom:10px; }
.about-section .bmember { padding:15px 0; border-top:1px dotted #ccc; }
.about-section .bmember img.photo { float:left; }
.about-section .bmember h3 { padding:0 0 0 160px; font-size:20px; color:#474E52; font-family:Georgia, Times, "Times New Roman", serif; }
.about-section .bmember p a { margin:0 10px 0 0; }

#about-board .bmember p { padding:0 0 0 160px; }


.about-section { padding:30px 25px 0 25px; margin:0 5px; }
.about-section h2 { font-size:30px; padding-bottom:10px; }
.about-section .sealchoice { padding:15px 0; border-top:1px dotted #ccc; }
.about-section .sealchoice img.photo { float:left; }
.about-section .sealchoice h3 { padding:0 0 0 160px; font-size:20px; color:#474E52; font-family:Georgia, Times, "Times New Roman", serif; }
.about-section .sealchoice p a { margin:0 10px 0 0; }

#about-board .sealchoice p { padding:0 0 0 10px; }

#about-advertise { background:#f6f6f6 url(/images/aboutus/f6-highlight.png) no-repeat; padding:20px 25px 10px 25px; margin-top:15px; }
#about-advertise .bmember h3 { padding:0; }
#about-advertise #buy-ad { position:relative; }
#about-advertise #buy-ad span#ad-popup { display:none; color:#F60; font-weight:bold; position:absolute; top:12px; left:180px; }
#about-advertise #buy-ad a#ad-btn { display:block; margin-top:20px; width:160px; height:42px; background:url(/images/aboutus/buy-ad.gif) no-repeat; }

.about-section p.fl { float:left; width:370px; margin:0; }
#about-bottom { height:93px; padding:0; margin:20px 5px -20px 5px; background:url('/images/aboutus/bottom-line.png') no-repeat; }

.buttShowReview {
	-moz-box-shadow:inset 0px 1px 0px 0px #fff6af;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fff6af;
	box-shadow:inset 0px 1px 0px 0px #fff6af;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
	background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
	background-color:#ffec64;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
.buttShowReview:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
	background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
	background-color:#ffab23;
}
.buttShowReview:active {
	position:relative;
	top:1px;
}

img.blur {
filter: blur(5px); -webkit-filter: blur(5px); -moz-filter: blur(5px);
-o-filter: blur(5px); -ms-filter: blur(5px);
filter: url(blur.svg#blur); 
filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='5');
}

img.blur_large {
filter: blur(3px); -webkit-filter: blur(3px); -moz-filter: blur(3px);
-o-filter: blur(3px); -ms-filter: blur(3px);
}


.table { display: table; } 
.row { display: table-row; } 
.cell { display: table-cell; }

