/*==================GLOBAL VARIABLES===================*/
/*==================GLOBAL VARIABLES===================*/
/*==================GLOBAL VARIABLES===================*/
/*==================GLOBAL VARIABLES===================*/
/*==================BUTTON CULERS==============*/
/*==================SPACING============*/
/*==================FONTS============*/
/*box sizing*/
/*border rad*/
/*text overflow*/
/*===============
Breakpoints SETUPS
================*/
#topnav-postjob {
  font-weight: 600; }

header.globalNavSignout {
  background-color: #eee;
  z-index: 1000;
  height: 56px;
  width: 100% !important;
  border-top: 3px solid #4c83c3; }
  header.globalNavSignout .mediumAndUp {
    display: none; }
  header.globalNavSignout .mobileOnly {
    display: block; }
  header.globalNavSignout .container {
    position: relative; }
  header.globalNavSignout .headerLogo {
    text-align: center;
    text-align: left;
    float: left; }
    header.globalNavSignout .headerLogo a {
      display: inline-block;
      color: #FFF;
      text-shadow: 0 -1px 1 #4c83c3; }
      header.globalNavSignout .headerLogo a img {
        position: relative;
        z-index: 9; }
      header.globalNavSignout .headerLogo a:hover {
        text-decoration: none; }
  header.globalNavSignout .navigation {
    display: block;
    border-right: 1px solid #111;
    background: #333;
    position: fixed;
    height: 100%;
    width: 80%;
    top: 0;
    bottom: 0;
    left: -80%;
    z-index: 100;
    display: block;
    float: left;
    margin: 0 0 0 14.4px;
    padding: 0;
    border-right: none;
    background: none;
    position: static;
    height: auto;
    width: auto;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-left: 20px; }
    header.globalNavSignout .navigation li a {
      line-height: 24px;
      padding: 12px;
      display: block;
      font-size: 18px;
      color: #777;
      border-bottom: 1px solid #474747; }
      header.globalNavSignout .navigation li a:hover {
        color: #666;
        background: #ddd;
        text-decoration: none; }
    header.globalNavSignout .navigation li {
      float: left; }
      header.globalNavSignout .navigation li a {
        display: block;
        padding: 16px 16px;
        font-size: 14px;
        border-bottom: none; }
  header.globalNavSignout .actions {
    position: absolute;
    top: 0px;
    right: 0px; }
    header.globalNavSignout .actions li {
      float: left; }
      header.globalNavSignout .actions li .signinOrReg {
        color: #aaa;
        display: block;
        line-height: 24px;
        padding: 16px 16px; }
        header.globalNavSignout .actions li .signinOrReg:hover {
          background: #4c83c3;
          text-decoration: none;
          color: #FFF; }
      header.globalNavSignout .actions li.register {
        padding-top: 12px;
        padding-left: 15px; }
        header.globalNavSignout .actions li.register .today {
          display: inline; }
        header.globalNavSignout .actions li.register .signinOrReg:hover {
          background: #3b71b0; }
  header.globalNavSignout .mediumAndUp {
    display: inline-block; }
  header.globalNavSignout .mobileOnly {
    display: none; }
  header.globalNavSignout .closeSideNav {
    display: none; }
  header.globalNavSignout .actions, header.globalNavSignout .navigation {
    display: block; }
  header.globalNavSignout .closeSideNav {
    display: none; }
  @media (min-width: 984px) and (min-height: 600px) {
    header.globalNavSignout {
      position: fixed;
      top: 0;
      width: 100%; }
      header.globalNavSignout .actions, header.globalNavSignout .navigation {
        display: block; } }

navicon-button {
  display: none; }

.footerSignout {
  background: #333;
  color: #FFF;
  padding: 30px 0;
  margin: 24px 0 0 0; }
  .footerSignout .footerCols > div {
    width: 100%;
    margin: 0 0 30px 0;
    text-align: center; }
    .footerSignout .footerCols > div h5 {
      font-size: 24px !important;
      font-weight: 500;
      margin-bottom: 10px;
      color: #FFF !important; }
    .footerSignout .footerCols > div li {
      padding: 6px 0; }
    .footerSignout .footerCols > div a {
      color: #FFF;
      font-size: 16px; }
    .footerSignout .footerCols > div .socialFooter .fb, .footerSignout .footerCols > div .socialFooter .twitter, .footerSignout .footerCols > div .socialFooter .googlePlus {
      width: auto;
      height: auto; }
      .footerSignout .footerCols > div .socialFooter .fb a, .footerSignout .footerCols > div .socialFooter .twitter a, .footerSignout .footerCols > div .socialFooter .googlePlus a {
        font-size: 12px; }
      .footerSignout .footerCols > div .socialFooter .fb i, .footerSignout .footerCols > div .socialFooter .twitter i, .footerSignout .footerCols > div .socialFooter .googlePlus i {
        font-size: 10px;
        color: #FFF;
        background: #335394;
        padding: 4px 7px;
        -o-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background-clip: padding-box;
        /* stops bg color from leaking outside the border: */ }
    .footerSignout .footerCols > div .socialFooter .twitter i {
      background: #019ad2; }
    .footerSignout .footerCols > div .socialFooter .googlePlus i {
      background: #d34836; }
  .footerSignout .lowerFoot {
    margin-top: 96px; }
    .footerSignout .lowerFoot p {
      font-size: 16px;
      display: block;
      text-align: center;
      color: #FFF; }
    .footerSignout .lowerFoot div {
      text-align: center;
      margin-top: 10px; }
  .footerSignout .footerCols > div {
    text-align: left;
    float: left;
    width: 49%;
    margin: 0 .5% 30px .5%; }
  .footerSignout .footerCols > div {
    width: 32%;
    margin: 0 .5% 30px .5%; }
  .footerSignout .lowerFoot p {
    text-align: left;
    float: left; }
  .footerSignout .lowerFoot div {
    float: right;
    margin-top: 0; }
    .footerSignout .lowerFoot div img {
      margin-left: 10px; }
  .footerSignout .footerCols > div {
    width: 19%;
    margin: 0 .5% 0px .5%; }
    .footerSignout .footerCols > div.wyw {
      display: block; }
      .footerSignout .footerCols > div.wyw p {
        font-size: 37px;
        line-height: 37px;
        font-family: "Raleway", serif;
        text-transform: uppercase;
        color: #FFF; }

body {
  -webkit-transition: -webkit-transform 500ms ease;
  -moz-transition: -moz-transform 500ms ease;
  -o-transition: -o-transform 500ms ease;
  transition: transform 500ms ease; }

body.mobile-nav-open {
  -webkit-transform: translate3d(80%, 0, 0) scale3d(1, 1, 1);
  -moz-transform: translate3d(80%, 0, 0) scale3d(1, 1, 1);
  -ms-transform: translate3d(80%, 0, 0) scale3d(1, 1, 1);
  -o-transform: translate3d(80%, 0, 0) scale3d(1, 1, 1);
  transform: translate3d(80%, 0, 0) scale3d(1, 1, 1);
  /*overflow:hidden; this was messing things up for me -greg Jan/15*/ }

.resp header.globalNavSignout, .responsive header.globalNavSignout {
  background-color: #eee;
  z-index: 1000;
  height: 56px; }
  .resp header.globalNavSignout .closeSideNav, .responsive header.globalNavSignout .closeSideNav {
    display: block; }
  .resp header.globalNavSignout .mediumAndUp, .responsive header.globalNavSignout .mediumAndUp {
    display: none; }
  .resp header.globalNavSignout .mobileOnly, .responsive header.globalNavSignout .mobileOnly {
    display: block; }
  .resp header.globalNavSignout .container, .responsive header.globalNavSignout .container {
    position: relative; }
  .resp header.globalNavSignout .headerLogo, .responsive header.globalNavSignout .headerLogo {
    text-align: center;
    float: none; }
    .resp header.globalNavSignout .headerLogo a, .responsive header.globalNavSignout .headerLogo a {
      display: inline-block;
      color: #FFF;
      text-shadow: 0 -1px 1 #4c83c3;
      width: auto; }
      .resp header.globalNavSignout .headerLogo a:hover, .responsive header.globalNavSignout .headerLogo a:hover {
        text-decoration: none; }
    @media (min-width: 700px) {
      .resp header.globalNavSignout .headerLogo, .responsive header.globalNavSignout .headerLogo {
        text-align: left;
        float: left; } }
    @media (min-width: 800px) {
      .resp header.globalNavSignout .headerLogo a, .responsive header.globalNavSignout .headerLogo a {
        width: auto; } }
    @media (min-width: 984px) {
      .resp header.globalNavSignout .headerLogo, .responsive header.globalNavSignout .headerLogo {
        text-align: left;
        float: left; } }
  .resp header.globalNavSignout .navigation, .responsive header.globalNavSignout .navigation {
    display: block;
    border-right: 1px solid #111;
    background: #333;
    position: fixed;
    margin: 0;
    height: 100%;
    width: 80%;
    top: 0;
    bottom: 0;
    left: -80%;
    z-index: 100;
    -moz-box-shadow: inset -2px 0px 8px -1px #111;
    -webkit-box-shadow: inset -2px 0px 8px -1px #111;
    box-shadow: inset -2px 0px 8px -1px #111; }
    .resp header.globalNavSignout .navigation li, .responsive header.globalNavSignout .navigation li {
      float: none; }
      .resp header.globalNavSignout .navigation li a, .responsive header.globalNavSignout .navigation li a {
        line-height: 24px;
        padding: 12px;
        display: block;
        font-size: 18px;
        text-shadow: none;
        color: white;
        border-bottom: 1px solid #474747; }
        .resp header.globalNavSignout .navigation li a:hover, .responsive header.globalNavSignout .navigation li a:hover {
          color: #FFF;
          background: #3a3a3a;
          text-decoration: none; }
    @media (min-width: 700px) {
      .resp header.globalNavSignout .navigation, .responsive header.globalNavSignout .navigation {
        display: block;
        float: left;
        margin: 0 0 0 14.4px;
        padding: 0;
        border-right: none;
        background: none;
        position: static;
        height: auto;
        width: auto;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none; }
        .resp header.globalNavSignout .navigation li, .responsive header.globalNavSignout .navigation li {
          float: left; }
          .resp header.globalNavSignout .navigation li a, .responsive header.globalNavSignout .navigation li a {
            color: #777;
            display: block;
            padding: 16px 16px;
            font-size: 14px;
            border-bottom: none; }
            .resp header.globalNavSignout .navigation li a:hover, .responsive header.globalNavSignout .navigation li a:hover {
              color: #666;
              background: #ddd; } }
    @media (min-width: 984px) {
      .resp header.globalNavSignout .navigation, .responsive header.globalNavSignout .navigation {
        margin-left: 20px; } }
  .resp header.globalNavSignout .actions, .responsive header.globalNavSignout .actions {
    position: absolute;
    top: 0px;
    right: 0px; }
    .resp header.globalNavSignout .actions li, .responsive header.globalNavSignout .actions li {
      float: left; }
      .resp header.globalNavSignout .actions li .signinOrReg, .responsive header.globalNavSignout .actions li .signinOrReg {
        color: #aaa;
        display: block;
        line-height: 24px;
        padding: 16px 16px; }
        .resp header.globalNavSignout .actions li .signinOrReg:hover, .responsive header.globalNavSignout .actions li .signinOrReg:hover {
          background: #4c83c3;
          text-decoration: none;
          color: #FFF; }
        @media (min-width: 420px) {
          .resp header.globalNavSignout .actions li .signinOrReg, .responsive header.globalNavSignout .actions li .signinOrReg {
            border-bottom: none;
            padding: 16px 16px; } }
        @media (min-width: 984px) {
          .resp header.globalNavSignout .actions li .signinOrReg, .responsive header.globalNavSignout .actions li .signinOrReg {
            border-bottom: none;
            padding: 16px 16px; } }
        .resp header.globalNavSignout .actions li .signinOrReg.join, .responsive header.globalNavSignout .actions li .signinOrReg.join {
          color: #FFF; }
          .resp header.globalNavSignout .actions li .signinOrReg.join .today, .responsive header.globalNavSignout .actions li .signinOrReg.join .today {
            display: none; }
          .resp header.globalNavSignout .actions li .signinOrReg.join:hover, .responsive header.globalNavSignout .actions li .signinOrReg.join:hover {
            cursor: pointer; }
          @media (min-width: 800px) {
            .resp header.globalNavSignout .actions li .signinOrReg.join .today, .responsive header.globalNavSignout .actions li .signinOrReg.join .today {
              display: inline; } }
      .resp header.globalNavSignout .actions li.register, .responsive header.globalNavSignout .actions li.register {
        padding-left: 15px; }
  @media (min-width: 420px) {
    .resp header.globalNavSignout .mediumAndUp, .responsive header.globalNavSignout .mediumAndUp {
      display: inline-block; }
    .resp header.globalNavSignout .mobileOnly, .responsive header.globalNavSignout .mobileOnly {
      display: none; } }
  @media (min-width: 700px) {
    .resp header.globalNavSignout .closeSideNav, .responsive header.globalNavSignout .closeSideNav {
      display: none; } }
  @media (min-width: 984px) {
    .resp header.globalNavSignout .actions, .resp header.globalNavSignout .navigation, .responsive header.globalNavSignout .actions, .responsive header.globalNavSignout .navigation {
      display: block; }
    .resp header.globalNavSignout .closeSideNav, .responsive header.globalNavSignout .closeSideNav {
      display: none; } }
  @media (min-width: 984px) and (min-height: 600px) {
    .resp header.globalNavSignout, .responsive header.globalNavSignout {
      position: fixed;
      top: 0;
      width: 100%; }
      .resp header.globalNavSignout .actions, .resp header.globalNavSignout .navigation, .responsive header.globalNavSignout .actions, .responsive header.globalNavSignout .navigation {
        display: block; } }
  @media (min-width: 700px) {
    .resp header.globalNavSignout.open .navigation, .responsive header.globalNavSignout.open .navigation {
      display: block;
      float: left;
      margin: 0 0 0 14.4px;
      padding: 0;
      border-top: none; }
      .resp header.globalNavSignout.open .navigation a, .responsive header.globalNavSignout.open .navigation a {
        background: none;
        color: white;
        text-shadow: 1px 1px 1px #1767b8; }
        .resp header.globalNavSignout.open .navigation a:hover, .responsive header.globalNavSignout.open .navigation a:hover {
          color: #FFF;
          background: #578bc7;
          text-decoration: none; } }
.resp .navicon-button, .responsive .navicon-button {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 10px;
  margin: 3px;
  transition: 0.25s;
  cursor: pointer;
  user-select: none; }
  .resp .navicon-button .navicon:before, .resp .navicon-button .navicon:after, .responsive .navicon-button .navicon:before, .responsive .navicon-button .navicon:after {
    transition: 0.25s; }
  .resp .navicon-button:hover, .responsive .navicon-button:hover {
    transition: 0.5s; }
    .resp .navicon-button:hover .navicon, .responsive .navicon-button:hover .navicon {
      background: #FFF; }
    .resp .navicon-button:hover .navicon:before, .resp .navicon-button:hover .navicon:after, .responsive .navicon-button:hover .navicon:before, .responsive .navicon-button:hover .navicon:after {
      transition: 0.25s;
      background: #FFF; }
    .resp .navicon-button:hover .navicon:after, .responsive .navicon-button:hover .navicon:after {
      top: -9px; }
    .resp .navicon-button:hover .navicon:before, .responsive .navicon-button:hover .navicon:before {
      top: 9px; }
  @media (min-width: 700px) {
    .resp .navicon-button, .responsive .navicon-button {
      display: none; } }
.resp .navicon, .responsive .navicon {
  position: relative;
  width: 25px;
  height: 3px;
  background: #4c83c3;
  transition: 0.5s;
  border-radius: 10px; }
  .resp .navicon:after, .resp .navicon:before, .responsive .navicon:after, .responsive .navicon:before {
    display: block;
    content: "";
    height: 3px;
    width: 25px;
    background: #4c83c3;
    position: absolute;
    transition: 0.5s 0.25s;
    border-radius: 10px; }
  .resp .navicon:after, .responsive .navicon:after {
    top: -7px; }
  .resp .navicon:before, .responsive .navicon:before {
    top: 7px; }
.resp .open .navicon:before,
.resp .open .navicon:after, .responsive .open .navicon:before,
.responsive .open .navicon:after {
  transition: 0.5s; }
.resp .open.x .navicon, .responsive .open.x .navicon {
  background: transparent; }
  .resp .open.x .navicon:after, .responsive .open.x .navicon:after {
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0; }
  .resp .open.x .navicon:before, .responsive .open.x .navicon:before {
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 0; }

.resp .footerSignout, .responsive .footerSignout {
  background: #333;
  color: #FFF;
  padding: 30px 0;
  margin: 24px 0 0 0; }
  .resp .footerSignout .footerCols > div, .responsive .footerSignout .footerCols > div {
    width: 100%;
    margin: 0 0 30px 0;
    text-align: center; }
    .resp .footerSignout .footerCols > div h2, .responsive .footerSignout .footerCols > div h2 {
      font-size: 24px;
      font-weight: 500;
      margin-bottom: 10px;
      color: #FFF !important; }
    .resp .footerSignout .footerCols > div li, .responsive .footerSignout .footerCols > div li {
      padding: 6px 0; }
    .resp .footerSignout .footerCols > div a, .responsive .footerSignout .footerCols > div a {
      color: #FFF;
      font-size: 16px; }
    .resp .footerSignout .footerCols > div .socialFooter .fb, .resp .footerSignout .footerCols > div .socialFooter .twitter, .resp .footerSignout .footerCols > div .socialFooter .googlePlus, .responsive .footerSignout .footerCols > div .socialFooter .fb, .responsive .footerSignout .footerCols > div .socialFooter .twitter, .responsive .footerSignout .footerCols > div .socialFooter .googlePlus {
      width: auto;
      height: auto; }
      .resp .footerSignout .footerCols > div .socialFooter .fb a, .resp .footerSignout .footerCols > div .socialFooter .twitter a, .resp .footerSignout .footerCols > div .socialFooter .googlePlus a, .responsive .footerSignout .footerCols > div .socialFooter .fb a, .responsive .footerSignout .footerCols > div .socialFooter .twitter a, .responsive .footerSignout .footerCols > div .socialFooter .googlePlus a {
        font-size: 12px; }
      .resp .footerSignout .footerCols > div .socialFooter .fb i, .resp .footerSignout .footerCols > div .socialFooter .twitter i, .resp .footerSignout .footerCols > div .socialFooter .googlePlus i, .responsive .footerSignout .footerCols > div .socialFooter .fb i, .responsive .footerSignout .footerCols > div .socialFooter .twitter i, .responsive .footerSignout .footerCols > div .socialFooter .googlePlus i {
        font-size: 10px;
        color: #FFF;
        background: #335394;
        padding: 4px 7px;
        -o-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background-clip: padding-box;
        /* stops bg color from leaking outside the border: */ }
    .resp .footerSignout .footerCols > div .socialFooter .twitter i, .responsive .footerSignout .footerCols > div .socialFooter .twitter i {
      background: #019ad2; }
    .resp .footerSignout .footerCols > div .socialFooter .googlePlus i, .responsive .footerSignout .footerCols > div .socialFooter .googlePlus i {
      background: #d34836; }
  .resp .footerSignout .lowerFoot, .responsive .footerSignout .lowerFoot {
    margin-top: 96px; }
    .resp .footerSignout .lowerFoot p, .responsive .footerSignout .lowerFoot p {
      font-size: 16px;
      display: block;
      text-align: center;
      color: #FFF;
      float: none; }
    .resp .footerSignout .lowerFoot div, .responsive .footerSignout .lowerFoot div {
      text-align: center;
      float: none;
      margin-top: 10px; }
  @media (min-width: 420px) {
    .resp .footerSignout .footerCols > div, .responsive .footerSignout .footerCols > div {
      text-align: left;
      float: left;
      width: 49%;
      margin: 0 .5% 30px .5%; } }
  @media (min-width: 700px) {
    .resp .footerSignout .footerCols > div, .responsive .footerSignout .footerCols > div {
      width: 32%;
      margin: 0 .5% 30px .5%; }
    .resp .footerSignout .lowerFoot p, .responsive .footerSignout .lowerFoot p {
      text-align: left;
      float: left; }
    .resp .footerSignout .lowerFoot div, .responsive .footerSignout .lowerFoot div {
      float: right;
      margin-top: 0; }
      .resp .footerSignout .lowerFoot div img, .responsive .footerSignout .lowerFoot div img {
        margin-left: 10px; } }
  @media (min-width: 700px) {
    .resp .footerSignout .footerCols > div, .responsive .footerSignout .footerCols > div {
      width: 19%;
      margin: 0 .5% 0px .5%; }
      .resp .footerSignout .footerCols > div.wyw, .responsive .footerSignout .footerCols > div.wyw {
        display: block; }
        .resp .footerSignout .footerCols > div.wyw p, .responsive .footerSignout .footerCols > div.wyw p {
          font-size: 37px;
          line-height: 37px;
          font-family: "Raleway", serif;
          text-transform: uppercase;
          color: #FFF; } }

