/*==============================================SIGNED OUT STYLES FROM HPLAYOUT, WHYGURU, TESTIMONIALLAYOUT, TAKETOUR, UIPOPUPARROW=======================================================*/
/*==================GLOBAL VARIABLES===================*/
/*==================GLOBAL VARIABLES===================*/
/*==================GLOBAL VARIABLES===================*/
/*==================GLOBAL VARIABLES===================*/
/*==================BUTTON CULERS==============*/
/*==================SPACING============*/
/*==================FONTS============*/
/*box sizing*/
/*border rad*/
/*text overflow*/
body.wait {
  cursor: wait; }

.overlay-disable {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #FFF;
  filter: alpha(opacity=10);
  -moz-opacity: .1;
  -khtml-opacity: .1;
  opacity: .1;
  z-index: 100000; }

.clearfix, .avatarGroup, .hp-browse ul.categoriesList li, .hp-browse ul.categoriesList li a, .hp-hiw ul li, .hp-credibility ul.trusted {
  zoom: 1; }
  .clearfix:before, .avatarGroup:before, .hp-browse ul.categoriesList li:before, .hp-browse ul.categoriesList li a:before, .hp-hiw ul li:before, .hp-credibility ul.trusted:before, .clearfix:after, .avatarGroup:after, .hp-browse ul.categoriesList li:after, .hp-browse ul.categoriesList li a:after, .hp-hiw ul li:after, .hp-credibility ul.trusted:after {
    content: "\0020";
    display: block;
    height: 0; }
  .clearfix:after, .avatarGroup:after, .hp-browse ul.categoriesList li:after, .hp-browse ul.categoriesList li a:after, .hp-hiw ul li:after, .hp-credibility ul.trusted:after {
    clear: both; }

select.niceInput::-ms-expand {
  display: none; }

select.niceInput {
  background: transparent url(/images/ddIcon.png) no-repeat right center;
  background-color: #FAFAFA;
  padding-right: 36px;
  padding-right: 6px \9;
  background-image: none \9;
  white-space: nowrap; }
  select.niceInput:focus {
    background: transparent url(/images/ddIcon.png) no-repeat right center;
    background-image: none \9;
    background-color: #fff; }

/* a nice shadowy text input */
.niceInput {
  width: 100%;
  padding: 6px;
  border: 1px solid #DDD;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -o-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
  font-family: "Open Sans", sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: normal;
  resize: vertical;
  background-color: #FAFAFA; }
  .niceInput:focus {
    background-color: #fff;
    border: 1px solid #CCC; }
  .niceInput.auto {
    width: auto;
    display: inline;
    display: inline-block; }
  .niceInput.invalid {
    border-color: #d06320; }
  .niceInput.disabled, .niceInput:disabled {
    background-color: #EEE !important; }

select.niceInput::-ms-expand {
  display: none; }

textarea.niceInput {
  font-size: 13px; }

/* a nice shadowy whtie box. */
.niceWhiteBox {
  background: #FFF;
  border: 1px solid #CCC;
  border-radius: 2px;
  -webkit-box-shadow: 0px 2px 3px #ededed, -2px 0px 3px #ededed;
  -ms-box-shadow: 0px 2px 3px #ededed, -2px 0px 3px #ededed;
  -o-box-shadow: 0px 2px 3px #ededed, -2px 0px 3px #ededed;
  -moz-box-shadow: 0px 2px 3px #ededed, -2px 0px 3px #ededed;
  box-shadow: 0px 2px 3px #ededed, -2px 0px 3px #ededed; }

.uppercaseHeading {
  text-transform: uppercase;
  font-size: 13px;
  color: #9EABB6;
  font-weight: 400;
  display: block;
  padding-left: 0;
  margin-bottom: 3px; }
  .uppercaseHeading a {
    text-transform: none; }

/* creates an image and named pair with a title and subtext */
.avatarGroup .avatar {
  float: left; }
  .avatarGroup .avatar img {
    background: #FFF;
    width: 48px;
    heiht: 48px; }
    .avatarGroup .avatar img.shadowImg {
      -o-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      background-clip: padding-box;
      /* stops bg color from leaking outside the border: */
      -webkit-box-shadow: 1px 1px 1px #DDD, -1px -1px 1px #DDD;
      -moz-box-shadow: 1px 1px 1px #DDD, -1px -1px 1px #DDD;
      -o-box-shadow: 1px 1px 1px #DDD, -1px -1px 1px #DDD;
      box-shadow: 1px 1px 1px #DDD, -1px -1px 1px #DDD; }
  .avatarGroup .avatar.thirtytwo img {
    width: 32px;
    heiht: 32px; }
  .avatarGroup .avatar.twentyfour img {
    width: 24px;
    heiht: 24px; }
.avatarGroup .info {
  float: left; }
  .avatarGroup .info .title {
    color: #333; }
  .avatarGroup .info p {
    margin: 0;
    color: #666; }

.primaryHeading {
  font-size: 18px;
  color: #222;
  line-height: 1;
  margin-bottom: 18px;
  display: block;
  font-family: "Open Sans" !important;
  font-weight: 400; }

.secondaryHeading {
  font-size: 16px;
  color: #444;
  line-height: 1;
  margin-bottom: 6px;
  display: block;
  font-family: "Open Sans" !important;
  font-weight: 400; }

.breakWord {
  word-wrap: break-word; }

p.copy {
  font-size: 14px;
  line-height: 1.5;
  color: #666;
  margin-bottom: 18px; }
  p.copy strong {
    font-weight: 600; }
  p.copy.large {
    font-size: 16px; }
  p.copy.margin_none {
    margin-bottom: 0; }
  p.copy.dark {
    color: #444; }

.center {
  text-align: center; }

.left {
  text-align: left; }

.right {
  text-align: right; }

.preCopy {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  color: #666;
  margin-bottom: 18px;
  white-space: pre-wrap; }

.removeLink {
  color: #ccc; }
  .removeLink:hover {
    color: #d06320;
    text-decoration: none; }

input[type='submit'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

input[type='button'], input[type='submit'], button {
  -webkit-appearance: none; }

.pending {
  color: #d06320; }

.pipe {
  color: #999;
  padding: 0 3px; }

.pull-right {
  float: right; }

.pull-left {
  float: left; }

.hidden {
  display: none;
  visibility: hidden; }

.hide {
  display: none; }

.show {
  display: block; }

.visible {
  display: block;
  visibility: visible; }

.invisible {
  visibility: hidden; }

img {
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic; }

.alert-new {
  background: #d06320;
  font-size: 11px;
  padding: 1px 4px;
  -o-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  color: #FFF; }
  .alert-new:hover {
    color: #FFF; }

.faded {
  opacity: 0;
  -o-transition: .2s opacity linear;
  -ms-transition: .2s opacity linear;
  -webkit-transition: .2s opacity linear;
  -moz-transition: .2s opacity linear;
  transition: .2s opacity linear; }

.faded.noFade {
  opacity: 1; }

.rhythmMargin0 {
  margin-bottom: 0 !important; }

.rhythmMarginSmall {
  margin-bottom: 6px !important; }

.rhythmMargin1 {
  margin-bottom: 12px !important; }

.rhythmMargin {
  margin-bottom: 18px !important; }

.rhythmMargin2 {
  margin-bottom: 36px !important; }

.rhythmMargin4 {
  margin-bottom: 72px !important; }

.disabledText {
  color: #999 !important; }

.verifiedPayment, .verified, .blueIcon {
  color: #4c83c3 !important; }

.verifiedPayment__none, .alert-color {
  color: #d06320 !important; }

.greenIcon {
  color: #b3ce51 !important; }

.lightGrey {
  color: #999; }

.largerText {
  font-size: 16px; }

.translate-cloak {
  display: none; }

.popMsg {
  position: fixed;
  top: 62px;
  bottom: auto;
  right: auto;
  left: 50%;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  background: #333;
  text-align: center;
  width: 400px;
  color: #FFF;
  box-shadow: 1px 1px 1px #000;
  opacity: 0;
  margin-left: -200px;
  z-index: 2000;
  max-height: 0;
  transition: max-height .5s ease;
  -moz-transition: max-height .5s ease;
  -webkit-transition: max-height .5s ease;
  pointer-events: none;
  line-height: 1.4;
  padding: 12px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  max-height: 100%;
  transition: max-height .5s ease;
  -moz-transition: max-height .5s ease;
  -webkit-transition: max-height .5s ease;
  pointer-events: auto;
  opacity: .9; }

.popMsg.hide {
  display: none; }

/*==================HOMEPAGE=============================*/
/*===============
PAGE SETUPS
================*/
body {
  margin-top: 0 !important; }
  @media (min-width: 984px) and (min-height: 600px) {
    body {
      margin-top: 59px !important; }
      body.noheader {
        margin-top: 0 !important; } }
  body.home {
    background: #e0e0e0 !important; }

@media (min-width: 984px) and (min-height: 600px) {
  #PDTopSpacer {
    margin-top: 65px; } }

html.responsive {
  font-size: 45.5% !important; }
  @media (min-width: 420px) {
    html.responsive {
      font-size: 50.5% !important; } }
  @media (min-width: 600px) {
    html.responsive {
      font-size: 58.5% !important; } }
  @media (min-width: 984px) {
    html.responsive {
      font-size: 62.5% !important; } }

.responsive .container {
  width: 100%;
  padding: 0px 12px;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  @media (min-width: 984px) {
    .responsive .container {
      width: 984px;
      padding: 0px; } }

.extra-cta {
  text-align: center;
  padding: 30px 0 60px; }
  .extra-cta h4 {
    font-size: 18px;
    color: #666;
    font-weight: 500;
    padding-bottom: 15px; }
  .extra-cta a {
    padding: 15px;
    font-size: 20px; }

.hp-content-section {
  padding: 0 0 84px 0; }
  .hp-content-section header {
    padding: 96px 0 48px; }
    .hp-content-section header h1, .hp-content-section header h2 {
      color: #333;
      font-size: 38px;
      line-height: 57.0px;
      font-size: 3.8rem;
      line-height: 5.7rem;
      text-align: left;
      font-weight: normal;
      text-rendering: optimizeLegibility !important;
      -webkit-font-smoothing: antialiased !important; }
    .hp-content-section header p {
      color: #999;
      font-size: 23px;
      line-height: 34.5px;
      font-size: 2.3rem;
      line-height: 3.45rem;
      text-align: left; }

/*===============
BANNER
================*/
.hp-banner {
  position: relative;
  background-image: url("/images/hp/hero_small.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center !important;
  background-attachment: scroll;
  padding: 4% 0; }
  .hp-banner .banner-msg {
    position: relative;
    text-align: center; }
    .hp-banner .banner-msg .inner-banner {
      background: rgba(51, 51, 51, 0.8);
      border-radius: 8px 8px 0 0;
      padding: 54px 20px 30px; }
    @media (max-width: 984px) {
      .hp-banner .banner-msg {
        padding: 80px 12px 90px !important; } }
    @media (max-width: 600px) {
      .hp-banner .banner-msg {
        padding: 30px 12px 40px !important; } }
    @media (min-width: 984px) {
      .hp-banner .banner-msg {
        transition-duration: 0.75s;
        transition-timing-function: fade-in-up;
        -moz-transform: translateY(60px);
        -webkit-transform: translateY(60px);
        transform: translateY(60px);
        -webkit-opacity: .15;
        -moz-opacity: .15;
        opacity: .15;
        padding: 20vh 0 0 !important; }
        .hp-banner .banner-msg.effecter {
          -moz-transform: translateY(0px);
          -webkit-transform: translateY(0px);
          transform: translateY(0px);
          -webkit-opacity: 1;
          -moz-opacity: 1;
          opacity: 1; } }
    @media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
      .hp-banner .banner-msg {
        padding: 5% 0 0 !important; } }
    @media all and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
      .hp-banner .banner-msg {
        padding: 5% 0 0 !important; } }
    .hp-banner .banner-msg h1 {
      color: #FFF;
      line-height: 5.25rem;
      font-size: 40px;
      line-height: 60px;
      font-size: 4rem;
      line-height: 6rem;
      line-height: 5.25rem;
      padding: 0;
      font-weight: 500;
      text-rendering: optimizeLegibility !important;
      -webkit-font-smoothing: antialiased !important; }
      @media (min-width: 600px) {
        .hp-banner .banner-msg h1 {
          font-size: 43px;
          line-height: 64.5px;
          font-size: 4.3rem;
          line-height: 6.45rem;
          line-height: 50px;
          line-height: 5rem; } }
      @media (min-width: 984px) {
        .hp-banner .banner-msg h1 {
          font-size: 45px;
          line-height: 67.5px;
          font-size: 4.5rem;
          line-height: 6.75rem; } }
    .hp-banner .banner-msg hr {
      border: 1px solid rgba(255, 255, 255, 0.5);
      width: 80%;
      margin: 0 auto; }
    .hp-banner .banner-msg .banner-cta {
      padding-top: 15px; }
      .hp-banner .banner-msg .banner-cta .post-box {
        float: left;
        width: 33%;
        padding-top: 5px; }
        .hp-banner .banner-msg .banner-cta .post-box .btnGreenFlat {
          font-size: 20px;
          padding: 16px 15px 18px;
          width: 100%;
          line-height: 24px;
          box-sizing: border-box; }
        @media (max-width: 820px) {
          .hp-banner .banner-msg .banner-cta .post-box {
            width: 100%;
            max-width: 400px;
            float: none;
            margin: 0 auto; } }
      .hp-banner .banner-msg .banner-cta .or {
        float: left;
        width: 16%; }
        .hp-banner .banner-msg .banner-cta .or div {
          padding: 20px 0;
          border-radius: 50%;
          color: white;
          font-weight: 700;
          font-size: 20px;
          line-height: 20px;
          border: 4px solid rgba(255, 255, 255, 0.5);
          width: 60px;
          margin: 0 auto; }
        @media (max-width: 820px) {
          .hp-banner .banner-msg .banner-cta .or {
            float: none;
            margin: 20px auto; }
            .hp-banner .banner-msg .banner-cta .or div {
              padding: 0;
              border: none; } }
      .hp-banner .banner-msg .banner-cta .banner-searchBox {
        width: 33%;
        padding-top: 5px;
        position: relative;
        float: left;
        margin: 0 0 0 9%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box; }
        .hp-banner .banner-msg .banner-cta .banner-searchBox input[type='text'] {
          padding: 18px 12px;
          overflow: visible;
          outline: none;
          margin: 0;
          border: none;
          border-radius: 3px;
          background: #fff;
          font-size: 18px;
          width: 100%;
          line-height: 24px;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          -o-box-sizing: border-box;
          box-sizing: border-box; }
        .hp-banner .banner-msg .banner-cta .banner-searchBox a {
          position: absolute;
          top: 14px;
          right: 6px;
          padding: 10px 15px;
          font-size: 19px;
          border-bottom-width: 1px !important; }
          @media (min-width: 270px) {
            .hp-banner .banner-msg .banner-cta .banner-searchBox a {
              display: none; } }
          @media (min-width: 450px) {
            .hp-banner .banner-msg .banner-cta .banner-searchBox a {
              display: block; } }
        @media (max-width: 820px) {
          .hp-banner .banner-msg .banner-cta .banner-searchBox {
            width: 100%;
            max-width: 400px;
            float: none;
            margin: 0 auto; } }
  @media (min-width: 420px) {
    .hp-banner {
      background-image: url("/images/hp/hero_med.jpg"); } }
  @media (min-width: 984px) {
    .hp-banner {
      background-image: url("/images/hp/hero.jpg");
      background-size: cover;
      height: 92vh;
      padding: 0; } }
  @media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .hp-banner {
      background-image: url("/images/hp/hero.jpg");
      background-attachment: scroll;
      background-size: cover;
      height: auto;
      padding: 8% 0 !important; } }
  @media all and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    .hp-banner {
      background-image: url("/images/hp/hero.jpg");
      background-attachment: scroll;
      background-size: cover;
      height: auto;
      padding: 8% 0 !important; } }

.evidence {
  background: rgba(51, 51, 51, 0.8);
  padding: 0 24px;
  box-sizing: border-box;
  position: relative; }
  .evidence ul li {
    float: left;
    width: 33%;
    text-align: center; }
    .evidence ul li h3 {
      font-size: 24px;
      color: #a1c549;
      padding: 0 0 24px 0; }
      .evidence ul li h3 span {
        color: #ccc;
        font-size: 16px;
        font-weight: 400; }
    @media (max-width: 586px) {
      .evidence ul li {
        float: none;
        width: 100%; }
        .evidence ul li h3 {
          padding: 20px 0; } }
  @media (max-width: 586px) {
    .evidence {
      padding-bottom: 32px; } }

.enterprise {
  color: #CCC;
  font-size: 16px;
  line-height: 1.6;
  background: rgba(51, 51, 51, 0.8);
  border-radius: 0 0 8px 8px;
  padding: 24px 0;
  box-sizing: border-box;
  position: relative; }
  .enterprise a {
    text-decoration: underline;
    color: #EEE;
    font-weight: 600; }
    .enterprise a:hover {
      color: #FFF; }

.work-grid {
  height: 600px;
  background: white;
  padding: 120px 0;
  margin: 50px 0 -84px 0; }
  .work-grid div {
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center !important; }
  .work-grid .bordered {
    border: 10px solid white;
    opacity: .6;
    cursor: pointer;
    transition: all .5s; }
    .work-grid .bordered:hover {
      opacity: 1; }
    .work-grid .bordered a {
      display: block;
      height: 100%;
      width: 100%;
      transition: all 1s;
      box-sizing: border-box;
      padding: 10px 20px;
      background: linear-gradient(to bottom, rgba(62, 118, 184, 0) 0%, rgba(255, 255, 255, 0) 100%); }
      .work-grid .bordered a h3 {
        font-size: 18px;
        color: white;
        padding-bottom: 10px;
        opacity: 0; }
      .work-grid .bordered a p {
        font-size: 14px;
        color: #ddd;
        opacity: 0; }
      .work-grid .bordered a:hover {
        text-decoration: none;
        background: linear-gradient(to bottom, rgba(62, 118, 184, 0.85) 0%, rgba(255, 255, 255, 0) 100%);
        padding: 20px; }
        .work-grid .bordered a:hover h3 {
          opacity: 1; }
        .work-grid .bordered a:hover p {
          opacity: 1; }
  .work-grid .top {
    height: 100%; }
  .work-grid .c25 {
    float: left;
    width: 25%; }
  .work-grid .c50 {
    width: 50%;
    float: left; }
    @media (max-width: 930px) {
      .work-grid .c50.main {
        width: 100%;
        float: none;
        overflow: hidden; } }
  @media (max-width: 930px) {
    .work-grid .gridHide {
      display: none; } }
  .work-grid .c30 {
    width: 30%;
    float: left; }
  .work-grid .c70 {
    width: 70%;
    float: left; }
  .work-grid .full {
    width: 100%; }
  .work-grid .h33 {
    height: 33.3%; }
  .work-grid .h50 {
    height: 50%; }
  .work-grid .h67 {
    height: 66.7%; }
  .work-grid .h100 {
    height: 100%; }
  .work-grid .title {
    padding: 10px; }
    .work-grid .title div {
      background: #4c83c3;
      border-radius: 5px;
      padding: 22px 30px;
      text-align: center; }
      .work-grid .title div h2 {
        color: white;
        font-size: 32px;
        font-weight: 500;
        padding: 15px 0; }
      .work-grid .title div p {
        color: #eee;
        font-size: 20px;
        line-height: 26px; }

/*===============
BROWSE
================*/
.hp-browse {
  margin-bottom: 0;
  padding: 0; }
  .hp-browse ul.categoriesList li {
    margin-bottom: 3%;
    float: left;
    margin-right: 3%;
    width: 48.5%; }
    .hp-browse ul.categoriesList li:nth-child(2) a, .hp-browse ul.categoriesList li:nth-child(3) a, .hp-browse ul.categoriesList li:nth-child(6) a, .hp-browse ul.categoriesList li:nth-child(7) a {
      background: #ededed; }
    .hp-browse ul.categoriesList li a {
      display: block;
      -o-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      background-clip: padding-box;
      /* stops bg color from leaking outside the border: */
      padding: 24px 20px;
      box-sizing: border-box;
      transition: all .5s;
      background: white; }
      .hp-browse ul.categoriesList li a .catImg {
        float: left;
        margin-right: 12px; }
        .hp-browse ul.categoriesList li a .catImg img {
          background: #4c83c3;
          border-radius: 50%; }
      .hp-browse ul.categoriesList li a .meta {
        float: left; }
        .hp-browse ul.categoriesList li a .meta h3 {
          color: #333;
          font-size: 20px;
          line-height: 21px;
          padding: 0px 0 0 10px;
          font-family: "Open Sans", sans-serif !important; }
        .hp-browse ul.categoriesList li a .meta span {
          display: block;
          color: #999;
          line-height: 24px;
          font-size: 16px;
          padding: 5px 0 0 10px;
          font-weight: 500; }
      .hp-browse ul.categoriesList li a:hover {
        text-decoration: none;
        background: #4c83c3; }
        .hp-browse ul.categoriesList li a:hover .meta h3 {
          color: #FFF; }
        .hp-browse ul.categoriesList li a:hover span {
          color: #FFF !important; }
        .hp-browse ul.categoriesList li a:hover img {
          background: #85abd6; }
    .hp-browse ul.categoriesList li:nth-child(2n) {
      margin-right: 0; }
    .hp-browse ul.categoriesList li a .catImg {
      display: block;
      text-align: center; }
      .hp-browse ul.categoriesList li a .catImg img {
        width: 50px; }
    @media (max-width: 814px) {
      .hp-browse ul.categoriesList li .catImg {
        display: none !important; }
      .hp-browse ul.categoriesList li .meta h3, .hp-browse ul.categoriesList li .meta span {
        padding: 0 !important; } }
    @media (max-width: 684px) {
      .hp-browse ul.categoriesList li {
        width: 100%;
        float: none;
        margin-right: 0; }
        .hp-browse ul.categoriesList li .catImg {
          display: block !important; }
        .hp-browse ul.categoriesList li a {
          padding: 14px !important;
          background: white !important; }
          .hp-browse ul.categoriesList li a:hover {
            background: #4c83c3 !important; }
            .hp-browse ul.categoriesList li a:hover h3, .hp-browse ul.categoriesList li a:hover span {
              opacity: 1 !important;
              display: block !important; }
            .hp-browse ul.categoriesList li a:hover h3 {
              color: #FFF !important; }
            .hp-browse ul.categoriesList li a:hover span {
              color: #FFF !important; }
        .hp-browse ul.categoriesList li .meta h3, .hp-browse ul.categoriesList li .meta span {
          display: block !important;
          opacity: 1 !important; }
        .hp-browse ul.categoriesList li .meta span {
          font-size: 14px !important;
          color: #999 !important; } }
    @media (max-width: 420px) {
      .hp-browse ul.categoriesList li .catImg {
        display: none !important; } }

/*===============
HOW IT WORKS
================*/
.hp-hiw {
  background: #666; }
  .hp-hiw h1 {
    text-align: center !important; }
  .hp-hiw header h2 {
    color: white; }
  .hp-hiw header p {
    color: #ddd;
    padding-bottom: 15px;
    border-bottom: 2px solid #777; }
  .hp-hiw ul {
    margin-bottom: 12px; }
    .hp-hiw ul li {
      margin-bottom: 20px;
      box-sizing: border-box;
      padding: 20px 20px 30px;
      background: #555; }
      .hp-hiw ul li img {
        display: none;
        margin: 0 auto; }
      .hp-hiw ul li .meta {
        text-align: left;
        margin: 24px auto 0 auto; }
        .hp-hiw ul li .meta h3 {
          color: #FFF;
          margin-bottom: 12px;
          font-size: 20px;
          font-weight: 500;
          font-family: "Open Sans", sans-serif !important; }
        .hp-hiw ul li .meta p {
          color: #ccc;
          font-size: 16px;
          line-height: 24px; }
      @media (min-width: 600px) {
        .hp-hiw ul li {
          margin-bottom: 0px;
          float: left;
          width: 32%;
          box-sizing: border-box;
          margin-right: 2%; }
          .hp-hiw ul li:nth-child(3n) {
            margin-right: 0%; }
          .hp-hiw ul li img {
            display: block;
            float: none;
            margin: 0 auto 12px auto;
            width: auto; }
          .hp-hiw ul li .meta {
            float: none;
            text-align: left;
            width: auto; } }
  .hp-hiw .hiw-cta {
    text-align: center;
    padding-top: 20px; }
    .hp-hiw .hiw-cta button {
      font-size: 18px; }
    .hp-hiw .hiw-cta p {
      color: #999; }
  .hp-hiw.howitworkspage {
    background: none; }

/*===============
Call to action 2
================*/
.hp-cta2 {
  padding: 36px 0;
  text-align: center;
  background: #eee;
  color: #333;
  margin-bottom: -36px; }
  .hp-cta2 p {
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    color: #333; }
    .hp-cta2 p em {
      color: #d06320; }
  .hp-cta2 .postproj, .hp-cta2 .signup {
    margin: 10px;
    height: auto;
    background-position: 0% 0%;
    width: 170px;
    font-size: 16px;
    padding: 12px 15px !important;
    display: inline-block; }
    .hp-cta2 .postproj:active, .hp-cta2 .signup:active {
      padding: 12px 15px; }
  @media (min-width: 420px) {
    .hp-cta2 p {
      width: 70%;
      margin: 0 auto; } }

/*===============
Features
================*/
.hp-featureset .hp-featuresetWrap {
  position: relative; }
.hp-featureset .album-wrap {
  overflow: hidden;
  position: relative;
  z-index: 1;
  width: 96%;
  margin: 0 auto; }
  .hp-featureset .album-wrap ul {
    width: 100%;
    margin-left: 0;
    -o-transition: margin .6s ease-in-out;
    -webkit-transition: margin .6s ease-in-out;
    -moz-transition: margin .6s ease-in-out;
    transition: margin .6s ease-in-out; }
    .hp-featureset .album-wrap ul li {
      width: 100%;
      float: left;
      position: relative;
      overflow: hidden;
      margin: 0 0 6% 0; }
      .hp-featureset .album-wrap ul li figure {
        border: 1px solid #CCC; }
        .hp-featureset .album-wrap ul li figure img {
          vertical-align: top;
          min-width: 100%;
          height: 209px\9;
          max-height: 209px;
          display: block; }
          .hp-featureset .album-wrap ul li figure img:hover + .meta {
            background: #FFF; }
        .hp-featureset .album-wrap ul li figure .meta {
          padding: 12px;
          background: #FFF; }
          .hp-featureset .album-wrap ul li figure .meta h3 {
            padding: 0;
            font-size: 14px;
            line-height: 20px;
            font-family: "Open Sans", sans-serif !important; }
            .hp-featureset .album-wrap ul li figure .meta h3 a {
              color: #333; }
          .hp-featureset .album-wrap ul li figure .meta p {
            margin-top: 6px;
            color: #666; }
            .hp-featureset .album-wrap ul li figure .meta p a {
              color: #666; }
@media (min-width: 480px) {
  .hp-featureset .album-wrap {
    width: 100%; }
    .hp-featureset .album-wrap ul li {
      width: 48%;
      float: left;
      position: relative;
      overflow: hidden;
      margin: 0 4% 4% 0; }
      .hp-featureset .album-wrap ul li:nth-child(2n) {
        margin-right: 0; }
      .hp-featureset .album-wrap ul li figure {
        border: none; }
        .hp-featureset .album-wrap ul li figure a.imgWrap {
          position: relative;
          display: block;
          border: none;
          border: 1px solid #cccccc \9;
          /* IE8 and below */ }
        .hp-featureset .album-wrap ul li figure a.imgWrap:after {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          content: '';
          margin: 0px;
          -o-box-shadow: rgba(0, 0, 0, 0.07) 0 2px 4px, rgba(0, 0, 0, 0.2) 0 0 0 1px inset;
          -webkit-box-shadow: rgba(0, 0, 0, 0.07) 0 2px 4px, rgba(0, 0, 0, 0.2) 0 0 0 1px inset;
          -moz-box-shadow: rgba(0, 0, 0, 0.07) 0 2px 4px, rgba(0, 0, 0, 0.2) 0 0 0 1px inset;
          -ms-box-shadow: rgba(0, 0, 0, 0.07) 0 2px 4px, rgba(0, 0, 0, 0.2) 0 0 0 1px inset;
          box-shadow: rgba(0, 0, 0, 0.07) 0 2px 4px, rgba(0, 0, 0, 0.2) 0 0 0 1px inset; }
      .hp-featureset .album-wrap ul li .meta {
        border: 1px solid #CCC;
        border-top: none; } }
@media (min-width: 700px) {
  .hp-featureset .album-wrap {
    width: 100%; }
    .hp-featureset .album-wrap ul li {
      width: 32%;
      float: left;
      position: relative;
      overflow: hidden;
      margin: 0 2% 2% 0; }
      .hp-featureset .album-wrap ul li:nth-child(2n) {
        margin-right: 2%; }
      .hp-featureset .album-wrap ul li:nth-child(3n) {
        margin-right: 0; } }

/*===============
CREDIBILITY
================*/
.hp-credibility {
  background: #f3f3f3; }
  .hp-credibility .throbbingHeart {
    color: #d06320;
    font-size: 27px;
    line-height: 40.5px;
    font-size: 2.7rem;
    line-height: 4.05rem; }
    @media (min-width: 984px) {
      .hp-credibility .throbbingHeart:hover {
        -webkit-animation: justBeat 1.2s ease 0s infinite normal;
        -moz-animation: justBeat 1.2s ease 0s infinite normal;
        animation: justBeat 1.2s ease 0s infinite normal; } }
  .hp-credibility .tweets li {
    width: 23.5%;
    margin-right: 2%;
    float: left;
    box-sizing: border-box; }
    .hp-credibility .tweets li .arrow-down {
      width: 0;
      height: 0;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 20px solid #f00; }
    .hp-credibility .tweets li:nth-child(4n) {
      margin-right: 0; }
    .hp-credibility .tweets li .mainTweet {
      width: 100%;
      padding: 20px;
      background: #ddd;
      border-radius: 5px;
      display: block;
      box-sizing: border-box;
      min-height: 262px;
      transition: all .5s;
      position: relative; }
      .hp-credibility .tweets li .mainTweet .quoteBlock {
        display: block;
        font-size: 100px;
        color: #4c83c3;
        position: relative;
        top: 25px;
        transition: all .5s; }
        .hp-credibility .tweets li .mainTweet .quoteBlock.qRight {
          top: 35px;
          text-align: right; }
      .hp-credibility .tweets li .mainTweet h4 {
        font-size: 15px;
        font-weight: 500;
        color: #666;
        line-height: 28px; }
      .hp-credibility .tweets li .mainTweet .arrow-down {
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 10px solid #ddd;
        display: block;
        position: absolute;
        left: 50%;
        margin-left: -20px;
        bottom: -10px;
        transition: all .5s; }
      .hp-credibility .tweets li .mainTweet:hover {
        background: #4c83c3;
        text-decoration: none; }
        .hp-credibility .tweets li .mainTweet:hover .quoteBlock {
          color: #79abe5; }
        .hp-credibility .tweets li .mainTweet:hover h4 {
          color: white; }
        .hp-credibility .tweets li .mainTweet:hover .arrow-down {
          border-top: 10px solid #4c83c3; }
    .hp-credibility .tweets li:nth-child(2n) .mainTweet {
      background: #d3d3d3; }
      .hp-credibility .tweets li:nth-child(2n) .mainTweet .arrow-down {
        border-top: 10px solid #d3d3d3; }
      .hp-credibility .tweets li:nth-child(2n) .mainTweet:hover {
        background: #4c83c3;
        text-decoration: none; }
        .hp-credibility .tweets li:nth-child(2n) .mainTweet:hover .arrow-down {
          border-top: 10px solid #4c83c3; }
    .hp-credibility .tweets li .user {
      display: block;
      text-align: center;
      color: #999;
      padding: 20px 0;
      font-size: 16px; }
      .hp-credibility .tweets li .user:hover {
        color: #666; }
    @media (max-width: 814px) {
      .hp-credibility .tweets li {
        width: 49%; }
        .hp-credibility .tweets li:nth-child(2n) {
          margin-right: 0; } }
    @media (max-width: 420px) {
      .hp-credibility .tweets li {
        width: 100%;
        margin-right: 0; } }
  .hp-credibility .quoteList .quoteItem {
    display: block;
    margin-bottom: 60px; }
    .hp-credibility .quoteList .quoteItem img {
      padding: 3px;
      height: 98px;
      width: 98px;
      margin: 0 auto 10px auto;
      display: block; }
    .hp-credibility .quoteList .quoteItem .quoteMeta {
      margin: 0 12px 0 12px; }
      .hp-credibility .quoteList .quoteItem .quoteMeta p {
        margin: 12px 0 6px 0;
        font-size: 14px;
        color: #333; }
      .hp-credibility .quoteList .quoteItem .quoteMeta span {
        font-size: 11px;
        color: #999;
        display: block;
        text-transform: uppercase; }
      .hp-credibility .quoteList .quoteItem .quoteMeta h3 {
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        font-family: "Open Sans", sans-serif !important; }
    @media (min-width: 600px) {
      .hp-credibility .quoteList .quoteItem {
        padding: 0px 60px; }
        .hp-credibility .quoteList .quoteItem img {
          float: left;
          margin: 0 20px 0 0; }
        .hp-credibility .quoteList .quoteItem .quoteMeta {
          overflow: hidden;
          word-wrap: break-word;
          height: 10; } }
    @media (min-width: 984px) {
      .hp-credibility .quoteList .quoteItem {
        padding: 0 2.5%;
        width: 45%;
        float: left; } }
  .hp-credibility ul.trusted {
    margin: 24px 0 24px 0;
    padding: 0; }
    .hp-credibility ul.trusted li {
      text-align: center;
      list-style: none;
      margin-bottom: 24px;
      height: 50px; }
      @media (min-width: 420px) {
        .hp-credibility ul.trusted li {
          float: left;
          width: 50%; } }
      @media (min-width: 600px) {
        .hp-credibility ul.trusted li {
          width: 33%; } }
      @media (min-width: 984px) {
        .hp-credibility ul.trusted li {
          width: 25%; } }

@-webkit-keyframes justBeat {
  0% {
    font-size: 27px;
    line-height: 40.5px;
    font-size: 2.7rem;
    line-height: 4.05rem;
    text-shadow: 1px 1px 3px #f6d8c6, -1px -1px 3px #f6d8c6, 0px -1px 3px #f6d8c6, -1px 0px 3px #f6d8c6; }

  50% {
    font-size: 30px;
    line-height: 45px;
    font-size: 3rem;
    line-height: 4.5rem;
    text-shadow: 1px 1px 6px #f6d8c6, -1px -1px 6px #f6d8c6, 0px -1px 6px #f6d8c6, -1px 0px 6px #f6d8c6; }

  100% {
    font-size: 27px;
    line-height: 40.5px;
    font-size: 2.7rem;
    line-height: 4.05rem;
    text-shadow: 1px 1px 3px #f6d8c6, -1px -1px 3px #f6d8c6, 0px -1px 3px #f6d8c6, -1px 0px 3px #f6d8c6; } }

@-moz-keyframes justBeat {
  0% {
    font-size: 27px;
    line-height: 40.5px;
    font-size: 2.7rem;
    line-height: 4.05rem;
    text-shadow: 1px 1px 3px #f6d8c6, -1px -1px 3px #f6d8c6, 0px -1px 3px #f6d8c6, -1px 0px 3px #f6d8c6; }

  50% {
    font-size: 30px;
    line-height: 45px;
    font-size: 3rem;
    line-height: 4.5rem;
    text-shadow: 1px 1px 6px #f6d8c6, -1px -1px 6px #f6d8c6, 0px -1px 6px #f6d8c6, -1px 0px 6px #f6d8c6; }

  100% {
    font-size: 27px;
    line-height: 40.5px;
    font-size: 2.7rem;
    line-height: 4.05rem;
    text-shadow: 1px 1px 3px #f6d8c6, -1px -1px 3px #f6d8c6, 0px -1px 3px #f6d8c6, -1px 0px 3px #f6d8c6; } }

@keyframes justBeat {
  0% {
    font-size: 27px;
    line-height: 40.5px;
    font-size: 2.7rem;
    line-height: 4.05rem;
    text-shadow: 1px 1px 3px #f6d8c6, -1px -1px 3px #f6d8c6, 0px -1px 3px #f6d8c6, -1px 0px 3px #f6d8c6; }

  50% {
    font-size: 30px;
    line-height: 45px;
    font-size: 3rem;
    line-height: 4.5rem;
    text-shadow: 1px 1px 6px #f6d8c6, -1px -1px 6px #f6d8c6, 0px -1px 6px #f6d8c6, -1px 0px 6px #f6d8c6; }

  100% {
    font-size: 27px;
    line-height: 40.5px;
    font-size: 2.7rem;
    line-height: 4.05rem;
    text-shadow: 1px 1px 3px #f6d8c6, -1px -1px 3px #f6d8c6, 0px -1px 3px #f6d8c6, -1px 0px 3px #f6d8c6; } }

/*===============
SIGN IN
================*/
.hp-login {
  margin-top: -12px; }
  .hp-login .hp-login-picture {
    background: url("../../img/hp/hero_small.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../img/hp/hero_small.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../img/hp/hero_small.jpg', sizingMethod='scale')";
    position: fixed;
    width: 100%;
    height: 410%;
    -webkit-box-shadow: 0 1805px 0px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0 1805px 0px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 1805px 0px rgba(0, 0, 0, 0.15) inset;
    z-index: -1; }
  .hp-login .signinwrap {
    padding-top: 12px;
    padding-bottom: 120px; }
  .hp-login .signinmodule .errorSignin {
    display: none;
    margin: 12px 0;
    padding: 12px;
    background: #C75353;
    border: 1px solid #ae3939;
    font-size: 14px;
    color: #FFF; }
  .hp-login .signinmodule .signin {
    background: #FFF;
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid #333;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.3);
    padding: 24px;
    margin: 12px 0 0 0;
    -o-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }
    .hp-login .signinmodule .signin h1 {
      font-size: 24px;
      color: #333;
      margin-bottom: 24px; }
      .hp-login .signinmodule .signin h1 a {
        display: block;
        margin: 0 auto;
        text-align: center; }
    .hp-login .signinmodule .signin label {
      display: block;
      font-size: 14px;
      color: #444; }
    .hp-login .signinmodule .signin input[type="text"], .hp-login .signinmodule .signin input[type="password"] {
      padding: 8px;
      margin-bottom: 18px;
      color: #333; }
      .hp-login .signinmodule .signin input[type="text"].disabled, .hp-login .signinmodule .signin input[type="password"].disabled {
        background: #EEE;
        color: #999; }
    .hp-login .signinmodule .signin input[type="submit"] {
      width: 100%;
      font-size: 15px;
      -webkit-appearance: none; }
    .hp-login .signinmodule .signin .forgotinfo {
      display: block;
      text-align: center;
      margin: 12px 0;
      font-size: 11px; }
    .hp-login .signinmodule .signin .newuser-blurb {
      color: #666;
      margin: 24px 0 0 0;
      padding: 24px 0 0 0;
      text-align: center;
      border-top: 1px solid #CCC;
      font-size: 14px; }
  .hp-login .marketingModule {
    display: none; }
  @media (min-width: 420px) {
    .hp-login .hp-login-picture {
      background-image: url("../../img/hp/hero_med.jpg");
      filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../img/hp/hero_med.jpg', sizingMethod='scale');
      -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../img/hp/hero_med.jpg', sizingMethod='scale')"; }
    .hp-login .signinwrap {
      padding-top: 72px; }
    .hp-login .signinmodule {
      width: 400px;
      margin: 0 auto; }
      .hp-login .signinmodule .signin input[type="submit"] {
        float: left;
        width: 130px;
        font-size: 15px; }
      .hp-login .signinmodule .signin .forgotinfo {
        float: right;
        display: block;
        text-align: left;
        margin: 0;
        width: 100px;
        font-size: 11px; } }
  @media (min-width: 984px) {
    .hp-login .hp-login-picture {
      background-image: url("../../img/hp/hero.jpg");
      filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../img/hp/hero.jpg', sizingMethod='scale');
      -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../img/hp/hero.jpg', sizingMethod='scale')"; }
    .hp-login .signinmodule {
      float: right;
      width: 40%;
      margin: 0; }
      .hp-login .signinmodule .signin {
        padding: 36px; }
    .hp-login .marketingModule {
      display: block;
      float: left;
      width: 40%;
      margin-top: 60px; }
      .hp-login .marketingModule h1 > a {
        color: #F5F5F5;
        font-size: 23px;
        line-height: 34.5px;
        font-size: 2.3rem;
        line-height: 3.45rem;
        padding: 0;
        display: block;
        -webkit-text-shadow: 2px 2px 5px black;
        -moz-text-shadow: 2px 2px 5px black;
        text-shadow: 2px 2px 5px black;
        text-rendering: optimizeLegibility !important;
        -webkit-font-smoothing: antialiased !important;
        margin-bottom: 12px; }
        .hp-login .marketingModule h1 > a:hover {
          text-decoration: none;
          color: #FFF; }
      .hp-login .marketingModule p {
        color: #F5F5F5;
        -webkit-text-shadow: 2px 2px 5px black;
        -moz-text-shadow: 2px 2px 5px black;
        text-shadow: 2px 2px 5px black; }
      .hp-login .marketingModule img {
        margin-bottom: 12px;
        display: block; }
      .hp-login .marketingModule > a {
        text-align: center;
        color: #F5F5F5;
        display: block;
        -webkit-text-shadow: 2px 2px 5px black;
        -moz-text-shadow: 2px 2px 5px black;
        text-shadow: 2px 2px 5px black; }
        .hp-login .marketingModule > a:hover {
          text-decoration: none;
          color: #FFF; } }

.howitworkspage {
  margin: 0;
  padding-bottom: 0; }
  .howitworkspage header {
    padding: 48px 0;
    background: #333; }
    .howitworkspage header h1 {
      color: #FFF; }
  .howitworkspage ul li {
    float: none;
    width: 100%;
    padding: 84px 0;
    background: #FFF;
    margin: 0 0 0 0; }
    .howitworkspage ul li img {
      width: 50%;
      display: block;
      margin: 0 auto 12px auto; }
    .howitworkspage ul li div.meta {
      float: none;
      text-align: center;
      width: auto; }
      .howitworkspage ul li div.meta h2 {
        line-height: 40px;
        font-size: 32px;
        width: 100%;
        margin: 0 auto;
        font-family: "Open Sans", sans-serif !important;
        color: #333;
        padding-bottom: 12px; }
      .howitworkspage ul li div.meta p {
        font-size: 20px;
        line-height: 35px;
        color: #333;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 1em; }
        .howitworkspage ul li div.meta p:last-child {
          margin-bottom: 0; }
    .howitworkspage ul li.spot {
      display: none; }
    .howitworkspage ul li .hiw-cta {
      margin-top: 50px; }
      .howitworkspage ul li .hiw-cta a {
        font-size: 20px; }
  @media (min-width: 984px) {
    .howitworkspage ul li div.meta h2 {
      line-height: 60px;
      font-size: 50px;
      width: 70%; }
    .howitworkspage ul li div.meta p {
      width: 80%; }
    .howitworkspage ul li img {
      width: 30%; }
    .howitworkspage ul li.spot {
      display: block;
      background-repeat: no-repeat;
      -webkit-background-size: 100%;
      -moz-background-size: 100%;
      -o-background-size: 100%;
      background-size: 100%;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-attachment: scroll;
      background-position: center !important;
      height: 400px; }
      .howitworkspage ul li.spot.spot1 {
        background-image: url("/images/hp/hiw-emp-hire.jpg"); }
      .howitworkspage ul li.spot.spot2 {
        background-image: url("/images/hp/hiw-emp-manage.jpg"); }
      .howitworkspage ul li.spot.spot3 {
        background-image: url("/images/hp/hiw-emp-pay.jpg"); }
      .howitworkspage ul li.spot.spot4 {
        background-image: url("/images/hp/hiw-pro-hire.jpg"); }
      .howitworkspage ul li.spot.spot5 {
        background-image: url("/images/hp/hiw-pro-manage.jpg"); }
      .howitworkspage ul li.spot.spot6 {
        background-image: url("/images/hp/hiw-pro-pay.jpg"); }
      .howitworkspage ul li.spot.fixed {
        background-attachment: fixed; } }

.enterprisePage {
  padding: 24px 0;
  line-height: 1.25;
  font-size: 13px;
  font-family: "Open Sans", sans-serif !important; }
  .enterprisePage strong {
    font-weight: 600; }
  .enterprisePage em {
    font-style: italic; }
  .enterprisePage h1, .enterprisePage h2, .enterprisePage h3, .enterprisePage p {
    font-family: "Open Sans", sans-serif !important;
    color: #333; }
  .enterprisePage h1 {
    font-weight: 400;
    font-size: 1.6em; }
  .enterprisePage h2 {
    font-size: 1.4em;
    margin-bottom: 0; }
  .enterprisePage h3 {
    font-weight: 600;
    font-size: 1.2em; }

@media only screen and (min-width: 900px) {
  .enterprisePage {
    font-size: 16px; }

  .enterprisePage-left {
    float: left;
    width: 55%; }

  .enterprisePage-right {
    float: left;
    width: 40%;
    margin-left: 5%; } }
.enterpriseList {
  position: relative;
  margin-left: 2em; }
  .enterpriseList:before {
    content: "\e61d";
    color: #b3ce51;
    position: absolute;
    top: 0;
    margin-top: 0;
    font-size: 1.25em;
    margin-left: -2em;
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1.5em;
    -webkit-font-smoothing: antialiased; }

.enterpriseForm {
  background: #F3F3F3;
  border-radius: 6px;
  padding: 24px; }

.enterpriseForm-label {
  display: block;
  color: #666;
  margin-bottom: 6px; }

