/*
-----------------------------------------------
Nombre: SeriesDanko.com v.2
Fecha: 12 May 2011
Realizada por: AjMr
Url: http://ajmrdesign.blogspot.com
-----------------------------------------------
*/
/* Cuerpo seriesdanko
-----------------------------------------------
*/
fieldset {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    display: inline;
    height: auto;
    margin: 0;
    padding: 0;
    width: auto;
}

#navbar-iframe {
height:0px;
visibility:hidden;
display:none;
}
body {
background: url('/assets/img/imags_estilos/bg.jpg') no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;

/*background:#1c1c1c url(/assets/img/imags_estilos/bg-wood.png);*/
/*background:#1c1c1c url(/assets/img/imags_estilos/carbon_fibre_v2.png);*/
/*background:#1c1c1c url(/assets/img/imags_estilos/background_7.jpg);*/
font-family: Verdana, Arial, Helvetica, sans-serif;
/*color:#c7c7c7;*/
color:#ffffff;
font-size:16px;
margin:0;
}
a:link, a:visited {
/*color:#ffffff;*/
color:#FF9100;
text-decoration:none;
}
a:hover {
/*color:#ffc029;*/
color:#ffffff;
text-decoration:none;
}
a img {
border-width:0;
}
/* Header seriesdanko
-----------------------------------------------
*/
#fondo-cajas-seriesdanko {
    background:#1c1c1c url(/assets/img/imags_estilos/fondo-contenedor-logo-seriesdanko.png);
    height:40px;
    width: 980px;
    margin: 0 auto;
    padding: 0;
}
.logo-seriesdanko {
    /*background:url(/assets/img/imags_estilos/logo-seriesdanko.v4.png) no-repeat;*/
    background:url(/assets/img/logo-series.png) no-repeat;
    height:40px;
    width: 300px;
    float: left;
}
.logo-pelisdanko {
    /*background:url(/assets/img/imags_estilos/logo-seriesdanko.v4.png) no-repeat;*/
    background:url(/assets/img/logo-pelis.png) no-repeat;
    height:40px;
    width: 300px;
    float: left;
}
.buscador-seriesdanko {
    background:url(/assets/img/imags_estilos/buscador-seriesdanko.png) no-repeat;
    height:40px;
    width: 295px;
    float: right;
}
#form-danko {
    margin-top:4px;
}
#buscar-danko {
    background:none;
    border:none;
    padding: 8px 10px 8px 14px;
    font-style:italic;
    letter-spacing: -1px;
    font-size:17px;
    width: 200px;
}
#boton-danko {
    background:none;
    border:none;
    cursor:pointer;
    padding: 7px 9px 7px 6px;
    font-weight:bold;
    font-family: verdana;
    letter-spacing: -1px;
    font-size:16px;
    color:#ffffff;
    width: 63px;
}
#boton-danko:hover {
color:#ffc029;
}
.redsocial-seriesdanko  {
float:right;
margin-top:4px;
margin-right:10px;
}
.danko-add {
margin-top:3px;
margin-left:30px;
}
.danko-add img,redsocial-seriesdanko img{
    border: none;
}
.addpolaroid {
filter: alpha(opacity=20);
opacity: 0.3;
}
.addpolaroid:hover {
filter: alpha(opacity=90);
opacity: 0.9;
}
/* Series por letra
-----------------------------------------------
*/
#seriesporletra {
    background:url(/assets/img/imags_estilos/fondo-lista-seriesdanko.gif) no-repeat;
    letter-spacing: -2px;
    font-size:28px;
    width: 100%;
    height:45px;
    line-height:43px;
    float: left;
    padding-left:2px;
}
.letrasmini {
    padding-left:10px;
    font-size:14px;
}
#seriesporletra a {
    padding: 0 7px 0 7px;
    border: 2px solid #272626;
    border-radius:7px; -moz-border-radius:7px; -webkit-border-radius:7px;
    -webkit-transition:0.2s; -moz-transition:0.2s; -o-transition:0.2s; -ms-transition:0.2s;
}
#seriesporletra a:hover {
    padding: 0 7px 0 7px;
    border: 2px solid #515050;
    border-radius:7px; -moz-border-radius:7px; -webkit-border-radius:7px;
    color:#ffffff;
    -webkit-transition:0.3s; -moz-transition:0.3s; -o-transition:0.3s; -ms-transition:0.3s;
}
#menu-nuevoscapitulos {
    margin:0;
    padding:0;
    color:#ffc029;
    font-family: arial, verdana, sans-serif;
    border-bottom: 3px solid #484848;
    font-size:15px;
    width: 980px;
    line-height:30px;
    margin-bottom:10px;
    float: left;
}
.favoritos {
    float: right;
}
/* Imagen nuevos capitulos css
-----------------------------------------------
*/
.img-nc {
    background:#333;
    border:1px solid #000;
    border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px;
    padding: 3px;
    height: 129px;
    width: 87px;
    filter:alpha(opacity=70); /* IE */ -moz-opacity:0.7; /* Firefox, Opera, ... */ opacity:0.7; /* CSS 3*/
    -webkit-transition:0.2s; -moz-transition:0.2s; -o-transition:0.2s; -ms-transition:0.2s;
}
.img-nc:hover {
    background:#FF5700;
    padding: 3px;
    border:1px solid #333;
    border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px;
    filter:alpha(opacity=90); /* IE */ -moz-opacity:0.9; /* Firefox, Opera, ... */ opacity:0.9; /* CSS 3*/
    -webkit-transition:0.3s; -moz-transition:0.3s; -o-transition:0.3s; -ms-transition:0.3s;
}
.ict {
    background:#333;
    border:1px solid #000;
    -moz-box-shadow: 0 3px 15px #ccc;
    border-radius:20px; -moz-border-radius:20px; -webkit-border-radius:20px;
    padding: 8px;
    height: 184px;
    width: 120px;
    filter:alpha(opacity=70); /* IE */ -moz-opacity:0.7; /* Firefox, Opera, ... */ opacity:0.7; /* CSS 3*/
    -webkit-transition:0.2s; -moz-transition:0.2s; -o-transition:0.2s; -ms-transition:0.2s;
}
.ict:hover {
    /*background:#ffc029;*/
    background:#FF5700;
    padding: 8px;
    border:1px solid #333;
    -moz-box-shadow: 0 3px 15px #ffc029;
    border-radius:20px; -moz-border-radius:20px; -webkit-border-radius:20px;
    filter:alpha(opacity=90); /* IE */ -moz-opacity:0.9; /* Firefox, Opera, ... */ opacity:0.9; /* CSS 3*/
    -webkit-transition:0.3s; -moz-transition:0.3s; -o-transition:0.3s; -ms-transition:0.3s;
}
.ict-big {
    background:#333;
    border:1px solid #000;
    -moz-box-shadow: 0 3px 15px #ccc;
    border-radius:50px; -moz-border-radius:50px; -webkit-border-radius:50px;
    padding: 8px;
    height: 184px;
    width: 120px;
    filter:alpha(opacity=70); /* IE */ -moz-opacity:0.7; /* Firefox, Opera, ... */ opacity: 0.7; /* CSS 3*/
    -webkit-transition:0.2s; -moz-transition:0.2s; -o-transition:0.2s; -ms-transition:0.2s;
}
.ict-big:hover {
    /*background:#ffc029;*/
    background:#FF5700;
    padding: 8px;
    border:1px solid #333;
    -moz-box-shadow: 0 3px 15px #ffc029;
    border-radius:50px; -moz-border-radius:50px; -webkit-border-radius:50px;
    filter:alpha(opacity=90); /* IE */ -moz-opacity:0.9; /* Firefox, Opera, ... */ opacity: 0.9; /* CSS 3*/
    -webkit-transition:0.3s; -moz-transition:0.3s; -o-transition:0.3s; -ms-transition:0.3s;
}
/* Navegacion enrada informacion titulos
-----------------------------------------------
*/
#navegacionseries {
background:url(/assets/img/imags_estilos/fondo-navegacion-seriesdanko.png) no-repeat;
letter-spacing: -1px;
font-size:16px;
width: 100%;
height:45px;
line-height:43px;
float: left;
}
#navegacionseries a {
padding-left: 25px;
font-weight:bold;
color:#ffc029;
}
#navegacionseries a:hover {
font-weight:bold;
color:#ffffff;
}
/* Contenedores 2 columnas seriesdanko.com
-----------------------------------------------
*/
#outer-wrapper {
width: 980px;
margin:0 auto;
padding:0;
text-align:left;
}
#main-wrapper {
width: 650px;
float: left;
word-wrap: break-word;
overflow: hidden;
}
#sidebar-wrapper {
width: 300px;
float: right;
word-wrap: break-word;
overflow: hidden;
}
/* Posts y tabla mirror
-----------------------------------------------
*/
.leyenda-idioma {
background:#313131;
color:#ffffff;
font-size:11px;
}
.activo-visitado {
color:#ffffff;
font-size:11px;
}
.activoyvisitado {
color:#fc830d;
font-size:11px;
}
.aviso-leyenda {
border-top: 1px solid #313131;
color:#ffffff;
font-size:10px;
}
.leyenda-imagenes {
color:#ffffff;
font-size:11px;
}
.azulverde, .azulverde:visited, .azulverde:active {
text-decoration:none;
color:#bcbfc1;
font-size:10px;
}
.azulverde:hover {
color:#ffc029;
}
.tam10 { font-size:10px; border:none;}
.tam11 { font-size:11px; border:none;}
.tam12 { font-size:12px; border:none;}
.tam13 { font-size:13px; border:none;}
.tam14 { font-size:14px; border:none;}
.tam16 { font-size:14px; border:none;}
.padlados { padding-left:6px; padding-right:6px;}
.padtopes { padding-top:6px; padding-bottom:6px;}
.gris { color:#cccccc; }
.verde { color:#ffc029; }
.azulclaro { color:#bcbfc1; }
.capitulo2, .capitulo1  {
font-size: 14px;
padding: 2px 10px 2px 10px;
border: 1px #333 solid;
-moz-border-radius: 7px;
-webkit-border-radius: 7px;
border-radius: 7px;
background-image: -moz-linear-gradient(top, #ff5f00, #6b0000);
background-image: -webkit-gradient(linear, center top, center bottom, from(#ff5f00), to(#6b0000));
background-image: -o-linear-gradient(top, #ff5f00, #6b0000);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5f00', endColorstr='#6b0000');
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5f00', endColorstr='#6b0000')";
background-image: linear-gradient(top, #ff5f00, #6b0000);
}
#comentariosyfechas,.comentariosyfechas {
margin:0px;
padding:0px;
background:url(/assets/img/imags_estilos/fondo-entrada-comentarios-seriesdanko.png) no-repeat;
font-size:13px;
height:28px;
line-height:25px;
padding-left:40px;
color:#464646;
font-family: verdana;
font-weight: bold;
letter-spacing: -1px;
}
#comentariosyfechas2 {
margin:0px;
padding:0px;
background:url(/assets/img/imags_estilos/comms_in_larga.png) no-repeat;
font-size:13px;
height:35px;
line-height:25px;
padding-left:40px;
color:#464646;
font-family: verdana;
font-weight: bold;
letter-spacing: -1px;
}
#comentariosyfechas3 {
margin:0px;
padding:0px;
background:;
font-size:13px;
height:25px;
line-height:25px;
padding-left:40px;
color:#00EEEE;
font-family: verdana;
font-weight: bold;
letter-spacing: 1px;
}
#comentariosyfechas4 {
margin:0px;
padding:0px;
background:;
font-size:12px;
height:20px;
line-height:25px;
padding-left:40px;
color:#ffffff;
font-family: verdana;
font-weight: normal ;
letter-spacing: 1px;
}
#comentariosyfechas5 {
margin:0px;
padding:0px;
background:;
font-size:6px;
height:10px;
line-height:10px;
padding-left:40px;
color:#FF0000;
font-family: verdana;
font-weight: normal ;
letter-spacing: 1px;
}
#comentariosyfechas a {
color:#464646;
}
#comentariosyfechas a:hover {
color:#000000;
}
.fechapequena {
float:right;
padding-right:15px;
}
.etiquetineditar {
float:right;
padding-right:15px;
}
.editarpost a {
color:#e50606;
}
.editarpost a:hover {
color:#ffffff;
}
.post h3 {
color:#ffffff;
margin:0;
padding:0px;
background:url(/assets/img/imags_estilos/h1-encabezado-seriesdanko.png) no-repeat;
font-size:16px;
height:45px;
line-height:43px;
padding-left:15px;
}
.post h3 a, .post h3 a:visited, .post h3 strong {
display:block;
text-decoration:none;
font-weight:bold;
}
.post h3 strong, .post h3 a:hover {
}
.post {
-moz-border-radius-topleft: 10px;
-webkit-border-radius-topleft: 10px;
-moz-border-radius-topright: 10px;
-webkit-border-radius-topright: 10px;
/* background:#000000; */
margin-top:12px;
line-height:20px;
}
.post a:visited {
/*color:#fc830d;*/
color:#ffffff;
}
.post-body {
padding:15px;
padding-bottom:30px;
font-size:14px;
line-height:18px;
border-bottom: 5px solid #ffc029;
}
/* Comentarios seriesdanko css
-----------------------------------------------
*/
#comments h4 {
margin:0;
padding:0;
padding-top:10px;
padding-bottom:10px;
font-size:16px;
color:#ffffff;
border-bottom: 2px solid #ffc029;
}
#comments h3 {
font-size:14px;
height:45px;
line-height:43px;
color:#ffffff;
border-bottom: 2px solid #ffc029;
}
#comments-block {
border-left: 3px solid #373736;
background:#000000;
font-size:11px;
margin:1em 0 1.1em;
line-height:1.1em;
}
#comments-block .comment-author {
margin:.5em 0;
padding-left:10px;
color:#ffc029;
}
#comments-block .comment-body {
margin:.25em 0 0;
padding-left:10px;
padding-right:10px;
text-align:justify;
}
#comments-block .comment-footer {
text-align: right;
border-bottom: 1px solid #272726;
}
#comments-block .comment-body p {
margin:0 0 .75em;
}
.deleted-comment {
font-style:italic;
color:#e40d36;
}
.responde {
float: right;
padding-right: 10px;
}
#comments-block .avatar-image-container img {
background:url(/assets/img/imags_estilos/anonimo.png) no-repeat;
width: 37px;
height: 37px;
}
/* Navegacion entradas individuales
-----------------------------------------------
*/
#blog-pager-newer-link {
font-size:11px;
float: left;
}
#blog-pager-older-link {
font-size:11px;
float: right;
}
#blog-pager-newer-link a {
background:url(/assets/img/imags_estilos/navegacion.v2-seriesdanko.png) no-repeat;
text-align: center;
font-size:16px;
width:146px;
height:46px;
line-height:46px;
float: left;
}
#blog-pager-older-link a {
background:url(/assets/img/imags_estilos/navegacion.v2-seriesdanko.png) no-repeat;
text-align: center;
font-size:16px;
width:146px;
height:46px;
line-height:46px;
float: right;
}
#blog-pager {
text-align:center;
}
/* Sidebar Content
-----------------------------------------------
*/
h2 {
background:url(/assets/img/imags_estilos/h2-sidebar-seriesdanko.png) no-repeat;
font-size:17px;
height:59px;
line-height:40px;
padding-left:15px;
}
h6 {
margin:0;
padding:0;
margin-top:15px;
// background:url() no-repeat;
font-size:16px;
height:59px;
line-height:40px;
padding-left:15px;
}
#palabrabusque {
margin-top:20px;
}
.sidebar ul {
list-style:none;
margin:0;
padding-top:0;
padding-right:0;
font-size:18px;
margin-bottom:15px;
padding-left:10px;
line-height:35px;
color: #ffc029;
border-bottom: 1px solid #ffc029;
}
.sidebar li {
margin:0;
padding-top:0;
padding-right:0;
list-style:none;
padding-bottom:.25em;
padding-left:10px;
font-size:13px;
line-height:1.5em;
}
.sidebar {
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
<!-- background:#000000; -->
margin:0 0 1.5em;
padding:0 0 1.5em;
}
.widget {
}
#HTML6 {
margin-top:12px;
}
#BlogList1 ul { list-style-type: none; margin: 0; padding: 0; border-bottom: 1px dotted #555; margin-top:16px; font-size:12px; }
#BlogList1 ul li {border-bottom: 1px dotted #555; clear: both; list-style: none; font-size:12px;}
#BlogList1 ul li:hover { background-color: #3c3c3c; }
#BlogList1 img {margin-left:-15px; height: 25px; width: 30px; }
.HTML2 ul, #HTML2 ul {
list-style:none;
margin:0;
padding-top:0;
padding-left:0;
padding-right:0;
padding-bottom:10px;
margin-bottom:15px;
color: #ffc029;
border-bottom: 1px solid #ffc029;
}
.HTML2 li, #HTML2 li {
background:url(/assets/img/imags_estilos/ico-sidebar-seriesdanko.png) 5px no-repeat;
margin:0;
padding-top:0;
padding-right:0;
list-style:none;
padding-left:25px;
font-size:14px;
height:20px;
line-height:22px;
}
.HTML2 li:hover,#HTML2 li:hover {
background:url(/assets/img/imags_estilos/ico-sidebar-hover-seriesdanko.png) 5px no-repeat;
}
#HTML3 ul {
list-style:none;
margin:0;
padding-top:0;
padding-right:0;
font-size:18px;
margin-bottom:10px;
padding-left:13px;
line-height:20px;
color: #ffc029;
border-bottom: 1px solid #ffc029;
}
#HTML3 li {
background:url(/assets/img/imags_estilos/series-vistas-seriesdanko.png) 5px no-repeat;
margin:0;
padding-top:0;
padding-right:0;
list-style:none;
padding-left:25px;
font-size:13px;
height:20px;
line-height:22px;
}
#HTML5 ul {
list-style:none;
margin:0;
padding-top:0;
padding-right:0;
font-size:10px;
margin-bottom:10px;
padding-left:0px;
line-height:17px;
color: #ffc029;
border-bottom: 1px solid #ffc029;
}
#HTML5 li {
background:url(/assets/img/imags_estilos/series-vistas-seriesdanko.png) 5px no-repeat;
margin:0;
padding-top:0;
padding-right:0;
list-style:none;
padding-left:25px;
font-size:13px;
letter-spacing: -1px;
line-height:22px;
}
#HTML7 li {
background:url(/assets/img/imags_estilos/email3.gif) 5px no-repeat;
margin:0;
padding-top:0;
padding-right:0;
list-style:none;
padding-left:25px;
font-size:14px;
height:20px;
line-height:22px;
}
#misetiquetas {
margin: 0 auto;
width: 300px;
}
#loadingscript {
color:#888;
font-family:Century Gothic;
font-size:100px;
letter-spacing:-10px;
text-align:center;
text-shadow:-5px 0 1px #444;
background:url(/assets/img/imags_estilos/loading.gif) no-repeat 50% 50%;
height:907px;
width:300px;
}
.paginaetiquetas {
height: 72px;
margin: 5px 0;
padding: 5px;
width: 300px;
border-bottom: 1px dotted #555555;
}
.paginaetiquetas img {
float: left;
border:1px solid #616161;
height: 72px;
margin-right: 5px;
width: 72px;
}
.paginaetiquetas h5, .paginaetiquetas h5 a {
font-size: 11px;
font-weight: normal;
letter-spacing: -1px;
margin: 0;
}
.paginaetiquetas p {
font-size: 10px;
letter-spacing: -1px;
margin: 5px 0;
}
#navegadionetiquetas {
color: #BBB;
font-size: 14px;
text-align: center;
margin:0 auto;
width:300px;
margin-top:15px;
margin-bottom:20px;
}
#navegadionetiquetas a {
color: #BBB;
display:block;
font-size: 14px;
}
#navegadionetiquetas a:hover {
color:#ffc029;
}
#navegadionetiquetas span {
color: #666;
}
#navegadionetiquetas .siguiente {float: right;padding-right:10px;}
#navegadionetiquetas .anterior {float: left;padding-left:10px;}
#navegadionetiquetas .inicio {text-align: center;}
/* Footer, creditos y aviso legal 2010/2011
-------------------------------------------------
*/
#usuarios-seriesdanko {
background:url(/assets/img/imags_estilos/footer-seriesdanko.png) no-repeat;
padding-left: 0px;
text-align:left;
font-size:14px;
width:278px;
height:45px;
line-height:30px;
float: right;
}
#arriba-seriesdanko a {
float: left;
padding-left:30px;
text-align:left;
font-size:14px;
padding-top: 1px;
}
#rss-seriesdanko {
float: left;
padding-left: 10px;
text-align:left;
padding-top: 9px;
}
#online-seriesdanko {
float: left;
padding-left: 6px;
text-align:left;
padding-top: 4px;
}
#footer-creditos {
text-align:center;
font-size:14px;
font-family:tahoma,arial,sans-serif;
border-top: 2px solid #ffc029;
padding-top: 10px;
padding-bottom: 20px;
}
.avison  {
color: #d60808;
}


.tabla {width:20px;border:none;width: 620px;}
.tabla td {text-align:center;vertical-align:middle;}
.tabla .tam13 {border-bottom: 2px solid #ffc029; margin-bottom:10px;}
.tabla .tam16 {color:#ffc029;padding-left:6px; padding-right:6px;text-align:left;}
.tablis {width: 80%;margin-left:60px;}
#botonn a {
    font-size:12px;
    float: left;
    display:block;
    width:270px;
    line-height:16px;  
    height:16px;
    padding-left:22px;
    margin-left:5px;
    padding-top:0px;
    background:url(http://2.bp.blogspot.com/_92FLPSdwaw0/TTxRGh1NxZI/AAAAAAAACK4/SK9P-7ymEVc/s320/link.png) no-repeat;
    list-style:none;color:#ffffff;text-decoration:none;
}
#botonn a:hover {
    background-position: 0px 0px;
    color:#ffc029;
}
#botonn a:active {
    background-position:0px 0;
}




/* TOP BUTTONS */
.top-buttons { font-family:'Sigmar One',cursive; font-size:24px; }
.top-buttons a { color:grey; width:150px; padding-left:10px }
.top-buttons a:hover { color:white }

.top-buttons>a.series { color:orange;     background:none }

.top-buttons>a.series:hover { color:white; background:orange }
.top-buttons>a.movies:hover { color:white; background:blueviolet }
.top-buttons>a.books:hover  { color:white; background:red }
.top-buttons>a.adults:hover  { color:white; background:deeppink }
