.expandableNavigationBarComponent .navbar .list-inline > li {
    margin-top: 0;
    top: 0;
    position: static;
}

.navbar .list-inline li.primary-menu-item a {
  font-family: 'SalesforceSansBold' !important;
}
