a:link, a:active, a:visited, a:hover {
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}
.header {
  width: 100%;
  background: #C4C37E;
  z-index: 4000;
}
.header a:link, .header a:active, .header a:visited, .header a:hover {
  color: #68682E;
}
.header a.logo {
  display: block;
  width: 185px;
  height: 34px;
  margin: 10px 0;
}
.header a.logo img {
  width: 185px;
  height: 34px;
}
@media handheld, only screen and (max-width:850px) {
  .header a.logo img {
  width: 150px;
  height: 28px;
}
}
.header .fblocks {
  padding-right: 0;
}
.header .hblock-giveaway {
  float: right;
  height: 54px;
  cursor: pointer;
}
.header .hblock-giveaway:hover {
  background: rgba(255, 255, 255, 0.3);
}
#nav-giveaway-image {
  margin-top: 15px;
}
@media (min-device-width : 1000px) and (max-width: 1100px) {
  #nav-giveaway-image {
    margin-top: 20px;
    width: 200px;
  }
}

@media (min-device-width : 851px) and (max-width: 1000px) {
  #nav-giveaway-image {
    margin-top: 25px;
    width: 120px;
  }
}
.header .hblock {
  float: right;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  height: 54px;
  cursor: pointer;
}
.header .hblock:hover {
  background: rgba(255, 255, 255, 0.3);
}
.header .search-c .search-trigger {
  display: block;
  float: right;
  padding: 15px;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
  cursor: pointer;
}
.header .search-c .search-trigger img {
  width: 24px;
  height: auto;
}
.header .search-c .search-trigger:hover {
  background-color: #DDDAB6;
}
.header .search-c .search-form {
  display: none;
  margin-top: 10px;
}
.header .search-c .search-form input {
  background: #fff;
  padding: 6px;
  width: 150px;
  font-size: 13px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.header .lang-b {
  position: relative;
  font-size: 13px;
  color: #68682E;
}
.header .lang-b .dropdown-menu {
  display: none;
  position: absolute;
  z-index: 1001;
  width: 450px;
  left: 0;
  margin: 0;
  padding: 0;
  text-align: left;
  border: 2px solid #dfded1;
  border-bottom: 3px solid #dfded1;
  background: #fff;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  cursor: auto;
  font-size: 12px;
  right: 0;
  left: auto;
  z-index: 5000;
}
.header .lang-b .dropdown-menu .close-drop {
  display: none;
}
.header .lang-b .dropdown-menu b {
  display: block;
  padding: 6px 14px;
  margin-bottom: 8px;
  font-size: 12px;
  background-color: #dfded1;
}
.header .lang-b .dropdown-menu .pd {
  padding: 6px 14px;
}
.header .lang-b .dropdown-menu .more {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  padding: 8px 14px;
  font-size: 12px;
  clear: both;
}
.header .lang-b .dropdown-menu .more a:link, .header .lang-b .dropdown-menu .more a:visited, .header .lang-b .dropdown-menu .more a:active, .header .lang-b .dropdown-menu .more a:hover {
  display: inline-block;
  background: transparent;
  padding: 0;
  margin: 0;
  border: 0;
  color: #990000;
}
.header .lang-b .dropdown-menu .more a:link:hover, .header .lang-b .dropdown-menu .more a:visited:hover, .header .lang-b .dropdown-menu .more a:active:hover, .header .lang-b .dropdown-menu .more a:hover:hover {
  color: #540000;
  border: 0;
  text-decoration: none;
}
.header .lang-b .dropdown-menu hr {
  margin: 15px 0;
}
.header .lang-b .dropdown-menu ul {
  margin: 0 0 8px 0;
  padding: 0;
  list-style: none;
  clear: both;
}
.header .lang-b .dropdown-menu ul li {
  display: block;
  float: left;
  text-align: left;
  margin: 0;
  padding: 0;
  width: 50%;
  min-width: 50%;
  font-size: 12px;
}
.header .lang-b .dropdown-menu ul li a:link, .header .lang-b .dropdown-menu ul li a:visited, .header .lang-b .dropdown-menu ul li a:active, .header .lang-b .dropdown-menu ul li a:hover {
  color: #990000;
  display: block;
  background: #fff;
  padding: 6px 11px 3px;
  border: 0;
  border-left: 3px solid #fff;
  min-width: 150px;
  font-size: 12px;
}
.header .lang-b .dropdown-menu ul li a:hover {
  color: #540000;
  border-left: 3px solid #dfded1;
  text-decoration: none;
}
.header .lang-b .dropdown-menu ul.no-block li {
  padding: 6px 11px 3px;
}
.header .lang-b .dropdown-menu ul.no-block li a:link, .header .lang-b .dropdown-menu ul.no-block li a:visited, .header .lang-b .dropdown-menu ul.no-block li a:active, .header .lang-b .dropdown-menu ul.no-block li a:hover {
  display: inline-block;
  min-width: 0;
  border: 0;
  padding: 0;
}
.header .lang-b .selected-lang {
  padding: 18px;
}
.header .lang-b b {
  font-weight: 300;
}
.header .lang-b b .caret {
  display: inline-block;
  vertical-align: top;
  width: 0;
  height: 0;
  margin-left: 2px;
  margin-top: -3px;
  margin-right: 0px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
@media handheld, only screen and (max-width:850px) {
  .header .lang-b b .caret {
  display: none;
}
}
.header .user-b {
  position: relative;
}
.header .user-b .dropdown-menu {
  display: none;
  position: absolute;
  z-index: 1001;
  width: 450px;
  left: 0;
  margin: 0;
  padding: 0;
  text-align: left;
  border: 2px solid #dfded1;
  border-bottom: 3px solid #dfded1;
  background: #fff;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  cursor: auto;
  font-size: 12px;
  right: 0;
  left: auto;
  z-index: 5000;
}
.header .user-b .dropdown-menu .close-drop {
  display: none;
}
.header .user-b .dropdown-menu b {
  display: block;
  padding: 6px 14px;
  margin-bottom: 8px;
  font-size: 12px;
  background-color: #dfded1;
}
.header .user-b .dropdown-menu .pd {
  padding: 6px 14px;
}
.header .user-b .dropdown-menu .more {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  padding: 8px 14px;
  font-size: 12px;
  clear: both;
}
.header .user-b .dropdown-menu .more a:link, .header .user-b .dropdown-menu .more a:visited, .header .user-b .dropdown-menu .more a:active, .header .user-b .dropdown-menu .more a:hover {
  display: inline-block;
  background: transparent;
  padding: 0;
  margin: 0;
  border: 0;
  color: #990000;
}
.header .user-b .dropdown-menu .more a:link:hover, .header .user-b .dropdown-menu .more a:visited:hover, .header .user-b .dropdown-menu .more a:active:hover, .header .user-b .dropdown-menu .more a:hover:hover {
  color: #540000;
  border: 0;
  text-decoration: none;
}
.header .user-b .dropdown-menu hr {
  margin: 15px 0;
}
.header .user-b .dropdown-menu ul {
  margin: 0 0 8px 0;
  padding: 0;
  list-style: none;
  clear: both;
}
.header .user-b .dropdown-menu ul li {
  display: block;
  float: left;
  text-align: left;
  margin: 0;
  padding: 0;
  width: 50%;
  min-width: 50%;
  font-size: 12px;
}
.header .user-b .dropdown-menu ul li a:link, .header .user-b .dropdown-menu ul li a:visited, .header .user-b .dropdown-menu ul li a:active, .header .user-b .dropdown-menu ul li a:hover {
  color: #990000;
  display: block;
  background: #fff;
  padding: 6px 11px 3px;
  border: 0;
  border-left: 3px solid #fff;
  min-width: 150px;
  font-size: 12px;
}
.header .user-b .dropdown-menu ul li a:hover {
  color: #540000;
  border-left: 3px solid #dfded1;
  text-decoration: none;
}
.header .user-b .dropdown-menu ul.no-block li {
  padding: 6px 11px 3px;
}
.header .user-b .dropdown-menu ul.no-block li a:link, .header .user-b .dropdown-menu ul.no-block li a:visited, .header .user-b .dropdown-menu ul.no-block li a:active, .header .user-b .dropdown-menu ul.no-block li a:hover {
  display: inline-block;
  min-width: 0;
  border: 0;
  padding: 0;
}
.header .user-b .user-info {
  padding: 18px;
  display: inline-block;
  font-size: 13px;
  color: #68682E;
}
.header .user-b .user-info .logout {
  margin-left: 15px;
}
.header .time {
  padding: 0px 17px;
  display: inline-block;
  font-size: 10.5px;
  color: #68682E;
  line-height: 54px;
}
.header .time b {
  display: block;
  font-weight: normal;
}
.main {
  clear: both;
  min-height: 400px;
  padding-top: 20px;
}
body.menu-open .main {
  display: none;
}
.header.top {
  background-color: #fff;
}
li.dropdown {
  position: relative;
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  box-shadow: 0;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
li.dropdown:hover {
  background-color: #366;
}
li.dropdown:hover a {
  color: #fff;
}
.drop-menu {
  display: none;
  position: absolute;
  z-index: 1001;
  width: 450px;
  left: 0;
  margin: 0;
  padding: 0;
  text-align: left;
  border: 2px solid #dfded1;
  border-bottom: 3px solid #dfded1;
  background: #fff;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  cursor: auto;
  font-size: 12px;
}
.drop-menu .close-drop {
  display: none;
}
.drop-menu b {
  display: block;
  padding: 6px 14px;
  margin-bottom: 8px;
  font-size: 12px;
  background-color: #dfded1;
}
.drop-menu .pd {
  padding: 6px 14px;
}
.drop-menu .more {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  padding: 8px 14px;
  font-size: 12px;
  clear: both;
}
.drop-menu .more a:link, .drop-menu .more a:visited, .drop-menu .more a:active, .drop-menu .more a:hover {
  display: inline-block;
  background: transparent;
  padding: 0;
  margin: 0;
  border: 0;
  color: #990000;
}
.drop-menu .more a:link:hover, .drop-menu .more a:visited:hover, .drop-menu .more a:active:hover, .drop-menu .more a:hover:hover {
  color: #540000;
  border: 0;
  text-decoration: none;
}
.drop-menu hr {
  margin: 15px 0;
}
.drop-menu ul {
  margin: 0 0 8px 0;
  padding: 0;
  list-style: none;
  clear: both;
}
.drop-menu ul li {
  display: block;
  float: left;
  text-align: left;
  margin: 0;
  padding: 0;
  width: 50%;
  min-width: 50%;
  font-size: 12px;
}
.drop-menu ul li a:link, .drop-menu ul li a:visited, .drop-menu ul li a:active, .drop-menu ul li a:hover {
  color: #990000;
  display: block;
  background: #fff;
  padding: 6px 11px 3px;
  border: 0;
  border-left: 3px solid #fff;
  min-width: 150px;
  font-size: 12px;
}
.drop-menu ul li a:hover {
  color: #540000;
  border-left: 3px solid #dfded1;
  text-decoration: none;
}
.drop-menu ul.no-block li {
  padding: 6px 11px 3px;
}
.drop-menu ul.no-block li a:link, .drop-menu ul.no-block li a:visited, .drop-menu ul.no-block li a:active, .drop-menu ul.no-block li a:hover {
  display: inline-block;
  min-width: 0;
  border: 0;
  padding: 0;
}
.drop-menu-left {
  right: 0;
  left: auto;
}
.mn {
  display: block;
  background: #7E7F37;
  width: 100%}
.mn ul {
  float: right;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: right;
}
.mn ul li {
  background: none;
  float: left;
  margin: 0;
  padding: 0;
  z-index: 4001;
}
.mn ul li a:link, .mn ul li a:visited, .mn ul li a:active, .mn ul li a:hover {
  text-decoration: none;
  display: inline-block;
  padding: 14px 14px;
  margin: 0;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
  color: #fff;
  font-weight: 200;
  font-size: 12px;
  background: #7E7F37;
  border-left: 1px solid rgba(0, 0, 0, 0.15);
}
@media handheld, only screen and (max-width:1100px) {
  .mn ul li a: link, .mn ul li a:visited, .mn ul li a:active, .mn ul li a:hover {
  padding: 10px 10px;
}
}
.mn ul li div.dd-trig {
  display: none;
}
.mn ul li.active a:link, .mn ul li.active a:visited, .mn ul li.active a:active {
  color: #fff;
}
.mn ul li a:hover, .mn ul li.hovered a, .mn ul li.active a:hover {
  background-color: #366;
}
.mn ul li.dropdown {
  position: relative;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}
.mn ul li.dropdown:hover {
  background-color: #366;
}
.mn ul li.dropdown:hover a {
  color: #fff;
}
.mn ul .dropdown-menu {
  display: none;
  position: absolute;
  z-index: 1001;
  width: 450px;
  left: 0;
  margin: 0;
  padding: 0;
  text-align: left;
  border: 2px solid #dfded1;
  border-bottom: 3px solid #dfded1;
  background: #fff;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  cursor: auto;
  font-size: 12px;
}
.mn ul .dropdown-menu .close-drop {
  display: none;
}
.mn ul .dropdown-menu b {
  display: block;
  padding: 6px 14px;
  margin-bottom: 8px;
  font-size: 12px;
  background-color: #dfded1;
}
.mn ul .dropdown-menu .pd {
  padding: 6px 14px;
}
.mn ul .dropdown-menu .more {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  padding: 8px 14px;
  font-size: 12px;
  clear: both;
}
.mn ul .dropdown-menu .more a:link, .mn ul .dropdown-menu .more a:visited, .mn ul .dropdown-menu .more a:active, .mn ul .dropdown-menu .more a:hover {
  display: inline-block;
  background: transparent;
  padding: 0;
  margin: 0;
  border: 0;
  color: #990000;
}
.mn ul .dropdown-menu .more a:link:hover, .mn ul .dropdown-menu .more a:visited:hover, .mn ul .dropdown-menu .more a:active:hover, .mn ul .dropdown-menu .more a:hover:hover {
  color: #540000;
  border: 0;
  text-decoration: none;
}
.mn ul .dropdown-menu hr {
  margin: 15px 0;
}
.mn ul .dropdown-menu ul {
  margin: 0 0 8px 0;
  padding: 0;
  list-style: none;
  clear: both;
}
.mn ul .dropdown-menu ul li {
  display: block;
  float: left;
  text-align: left;
  margin: 0;
  padding: 0;
  width: 50%;
  min-width: 50%;
  font-size: 12px;
}
.mn ul .dropdown-menu ul li a:link, .mn ul .dropdown-menu ul li a:visited, .mn ul .dropdown-menu ul li a:active, .mn ul .dropdown-menu ul li a:hover {
  color: #990000;
  display: block;
  background: #fff;
  padding: 6px 11px 3px;
  border: 0;
  border-left: 3px solid #fff;
  min-width: 150px;
  font-size: 12px;
}
.mn ul .dropdown-menu ul li a:hover {
  color: #540000;
  border-left: 3px solid #dfded1;
  text-decoration: none;
}
.mn ul .dropdown-menu ul.no-block li {
  padding: 6px 11px 3px;
}
.mn ul .dropdown-menu ul.no-block li a:link, .mn ul .dropdown-menu ul.no-block li a:visited, .mn ul .dropdown-menu ul.no-block li a:active, .mn ul .dropdown-menu ul.no-block li a:hover {
  display: inline-block;
  min-width: 0;
  border: 0;
  padding: 0;
}
.mn ul li.dropdown.left .dropdown-menu {
  right: 0;
  left: auto;
}
.mn ul li.menu-mod a:link, .mn ul li.menu-admin a:link, .mn ul li.menu-mod a:visited, .mn ul li.menu-admin a:visited, .mn ul li.menu-mod a:active, .mn ul li.menu-admin a:active, .mn ul li.menu-mod a:hover, .mn ul li.menu-admin a:hover {
  color: rgba(255, 255, 255, 0.55);
}
@media handheld, only screen and (min-width:850px) {
  .mn ul li.menu-admin .dropdown-menu {
  width: 900px;
}
.mn ul li.menu-admin .dropdown-menu ul li {
  width: 100%}
.mn ul li.menu-admin .dropdown-menu ul li a:link, .mn ul li.menu-admin .dropdown-menu ul li a:visited, .mn ul li.menu-admin .dropdown-menu ul li a:active, .mn ul li.menu-admin .dropdown-menu ul li a:hover {
  padding: 4px 11px;
}
.mn ul li.menu-admin .col {
  width: 25%;
  float: left;
}
}
@media handheld, only screen and (max-width:850px) {
  .mn {
  padding: 0;
  text-align: left;
  z-index: 2001;
  position: absolute;
  background-color: #7E7F37;
  width: 100%;
  top: 60px;
  min-height: 1000px;
  height: 100%;
  margin: 0;
  z-index: 8000;
  display: none;
}
body.menu-open .mn {
  display: block;
}
.mn ul {
  margin-left: 0;
  text-align: left;
  float: none;
}
.mn ul li {
  display: block;
  float: none;
  margin: 0 0 1px 0;
  padding: 0;
  border: 0;
  width: 100%;
  position: static;
  z-index: 5001;
}
.mn ul li a:link, .mn ul li a:visited, .mn ul li a:active, .mn ul li a:hover {
  text-decoration: none;
  padding: 10px 15px;
  color: #fff;
  border: 0;
  font-size: 14px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}
.mn ul li.dropdown {
  position: static;
}
.mn ul li.dropdown a:link, .mn ul li.dropdown a:visited, .mn ul li.dropdown a:active, .mn ul li.dropdown a:hover {
  width: 80%}
.mn ul li div.dd-trig {
  display: block;
  background: rgba(0, 0, 0, 0.17);
  float: right;
  width: 20%;
  font-size: 14px;
  padding: 10px;
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  cursor: pointer;
}
.mn ul li div.dd-trig:hover {
  color: #fff;
}
.mn ul li.active a::after {
  width: 7px;
  height: 7px;
  content: "";
  background-color: #fff;
  display: block;
  float: right;
  border-radius: 3px 3px 3px 3px;
  margin-top: 6px;
  display: none;
}
.mn ul li.active {
  background-image: none;
}
.mn ul li.active a {
  background-color: rgba(0, 0, 0, 0.1);
  background-image: none;
}
.mn ul li.active a:link, .mn ul li.active a:visited, .mn ul li.active a:active, .mn ul li.active a:hover, .mn ul li a:hover, .mn ul li.hovered a {
  color: #fff;
}
.mn ul .dropdown-menu {
  display: none;
  position: static;
  top: 0;
  background-color: #fff;
  width: auto;
  left: 0;
  padding: 0;
  margin: 0;
  text-align: left;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  z-index: 9999;
  width: 100%}
.mn ul .dropdown-menu .close-drop {
  text-align: left;
  padding: 10px;
  cursor: pointer;
  display: block;
  font-size: 14px;
  float: none;
  color: #000;
  display: none;
}
.mn ul .dropdown-menu ul li {
  float: none;
  width: 100%;
  margin: 0;
}
.mn ul .dropdown-menu ul li a:link, .mn ul .dropdown-menu ul li a:visited, .mn ul .dropdown-menu ul li a:active, .mn ul .dropdown-menu ul li a:hover {
  margin: 0;
  font-size: 12px;
}
.mn ul .dropdown-menu ul li.blank b {
  margin: 0;
  width: auto;
}
}
.mn ul li.mobile-only {
  display: none;
}
.mn ul li.desktop-only {
  display: inline-block;
}
@media handheld, only screen and (max-width:850px) {
  .mn ul li.mobile-only {
  display: block;
}
.mn ul li.desktop-only {
  display: none;
}
}
.caret {
  display: inline-block;
  vertical-align: top;
  width: 0;
  height: 0;
  margin-left: 2px;
  margin-top: -3px;
  margin-right: 0px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
@media handheld, only screen and (max-width:850px) {
  .caret {
  display: none;
}
}
#mobile-menu {
  cursor: pointer;
  display: none;
  position: absolute;
  z-index: 5001;
  top: 0px;
  right: 0px;
  line-height: 100%;
  color: #000;
  padding: 22.5px;
  background: #7E7F37;
  color: #fff;
}
#mobile-menu img {
  width: 20px;
  height: auto;
}
#mobile-menu:hover, .menu-open #mobile-menu {
  background-color: #366;
}
#hblock-giveaway-mobile {
  display: none;
}
body.menu-open #mobile-menu {
  width: 100%;
  height: 60px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  top: 0;
  position: fixed;
  text-align: center;
  content: "Close menu"}
@media handheld, only screen and (max-width:850px) {
  #mobile-menu {
  display: block;
}
body.menu-open .mn {
  right: 0;
}
.nav-container, .nav-container.small {
  position: static;
  margin-top: 50px;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.nav-container.small .sc {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
}
.members-container {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 7px;
  padding-bottom: 7px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  text-align: right;
}
.members-container a {
  letter-spacing: .1em;
}
@media (min-width:851px) {
  #nav-giveaway-image-mobile {
    display: none;
  }
}
@media (min-width:466px) and (max-width:850px) {
  .logo {
    display: inline-block;
    float: left;
  }
  #nav-giveaway-image-mobile {
    display: inline-block;
    float: left;
    width: 200px;
    margin-top: 15px;
  }
}
@media (min-width:768px) and (max-width:850px) {
  .col-sm-3 {
    width: 100%;
  }
}
@media (max-width:465px) {
  #nav-giveaway-image-mobile {
    display: none;
  }
}
@media handheld, only screen and (max-width:850px) {
  .header {
    padding-top: 8px;
    padding-bottom: 0px;
  }
  .fblocks {
    display: none;
    position: absolute;
    width: 100%;
    padding-right: 100px;
    top: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  .fblocks .hblock {
    border: none;
    height: 40px;
    padding: 0;
    margin: 0;
  }
  .fblocks .search-c {
    display: none;
  }
  .fblocks .lang-b {
    display: none;
  }
  .fblocks .user-b {
    float: none;
    padding: 0;
    margin: 0;
  }
  .fblocks .user-b .user-info {
    padding: 13px 10px 13px 5px;
    display: inline-block;
    font-size: 13px;
    line-height: 100%;
    color: #68682E;
  }
  .fblocks .time-b {
    display: none;
  }
}
.search-form {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: fixed;
  top: 0;
  z-index: 9999;
  background: rgba(126, 127, 55, 0.95);
  display: none;
}
.search-form .close-search {
  text-align: center;
  margin: auto 0;
  display: block;
  padding: 20px;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
  background: rgba(0, 0, 0, 0.2);
}
.search-form .close-search:hover {
  background: #366;
}
.search-form .form-container {
  width: 800px;
  margin: 60px auto 100px;
}
.search-form .form-container input.search-input {
  background: #fff;
  border: 0;
  font-size: 20px;
  padding: 12px;
  width: 80%;
  float: left;
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  box-shadow: 0;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.search-form .form-container input.butt {
  margin-top: 20px;
  width: 100%;
  font-size: 20px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}
.search-form .form-container input.butt:hover {
  background: #366;
}
.search-form .form-container .search-selector {
  width: 20%;
  float: left;
  height: 52px;
  background: #366;
  cursor: pointer;
  position: relative;
  color: #fff;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}
.search-form .form-container .search-selector.on .active {
  background: rgba(0, 0, 0, 0.15);
}
.search-form .form-container .search-selector:hover {
  background: #2E5C5C;
}
.search-form .form-container .search-selector .active {
  padding: 16px;
  display: block;
  font-weight: normal;
}
.search-form .form-container .search-selector ul {
  position: absolute;
  width: 100%;
  right: 0;
  display: none;
  background: #366;
  min-width: 150px;
}
.search-form .form-container .search-selector ul, .search-form .form-container .search-selector li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.search-form .form-container .search-selector li {
  color: #fff;
  padding: 9px;
  cursor: pointer;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}
.search-form .form-container .search-selector li:hover {
  background: #2E5C5C;
}
footer.footer {
  background: #C4C37E;
  padding: 20px 0;
  color: #68682E;
}
footer.footer a {
  color: #68682E;
}
footer.footer a:hover {
  color: #366;
}
body.menu-open footer.footer {
  display: none;
}
footer.footer .tmtown {
  background: rgba(255, 255, 255, 0.3);
  padding: 5px;
  margin: 20px 0;
}
@media handheld, only screen and (max-width:767px) {
  footer.footer .tmtown {
    text-align: center;
  }
}
footer.footer .tmtown p {
  font-size: 12px;
  margin: 2px 0 0 0;
  padding: 0;
}
footer.footer .tmtown img {
  width: 90px;
  height: auto;
  float: left;
  margin-right: 20px;
}
@media handheld, only screen and (max-width:767px) {
  footer.footer .tmtown img {
  float: none;
}
}
footer.footer ul.social-share, footer.footer ul.social-share li {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}
footer.footer ul.social-share {
  margin-top: 8px;
  margin-left: 20px;
}
@media handheld, only screen and (max-width:767px) {
  footer.footer ul.social-share {
  margin: 0 auto;
  display: block;
  text-align: center;
}
}
footer.footer .ft-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
@media handheld, only screen and (max-width:767px) {
  footer.footer .ft-nav ul {
  text-align: center;
}
}
footer.footer .ft-nav ul li {
  display: inline-block;
  margin: 0 5px 0 0;
  padding: 0;
}
footer.footer .ft-nav ul li a {
  font-size: 14px;
  padding: 2px 0;
  display: block;
}
footer.footer .ft-nav ul li a::before {
  width: 4px;
  height: 4px;
  content: "";
  background-color: rgba(0, 0, 0, 0.2);
  display: block;
  float: left;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin-right: 7px;
  margin-top: 7px;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}
footer.footer .ft-nav ul li:first-child a::before {
  display: none;
}
footer.footer .ft-nav.second {
  margin: 5px 0 20px;
}
footer.footer .ft-nav.second ul li a {
  font-size: 12px;
}
footer.footer .copyright-row {
  margin: 50px 0 0 0;
}
footer.footer .copyright-row p.copyright {
  margin: 0;
  padding: 0;
  font-size: 10.5px;
  color: #8C8A46;
}
footer.footer .copyright-row p.copyright a {
  color: #8C8A46;
}
@media handheld, only screen and (max-width:767px) {
  footer.footer .copyright-row p.copyright {
  text-align: center;
}
}
footer.footer .copyright-row p.last-login {
  text-align: right;
  margin: 0;
  padding: 0;
  font-size: 10.5px;
  color: #8C8A46;
}
footer.footer .copyright-row p.last-login a {
  color: #8C8A46;
}
@media handheld, only screen and (max-width:767px) {
  footer.footer .copyright-row p.last-login {
  text-align: center;
}
}
.sn {
  padding: 0;
  white-space: nowrap;
  text-align: left;
  font-size: 1px;
  float: left;
}
@media handheld, only screen and (max-width:767px) {
  .sn {
    text-align: center;
    float: none;
    margin-bottom: 20px;
  }
}
.sn a {
  background: url("/images/v7/sn-sprites.png") center center repeat-y;
  background-size: 20px auto;
  width: 35px;
  height: 35px;
  display: inline-block;
  border: 0;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
  text-decoration: none;
  margin: 0;
}
.sn a.twitter {
  background-position: 6px 10px;
}
.sn a.fb {
  background-position: 6px -83px;
  margin-left: 0;
}
.sn a.google {
  background-position: 6px -173px;
}
.sn a.linkedin {
  background-position: 6px -355px;
}
.sn a:hover {
  -moz-opacity: .7;
  -khtml-opacity: .7;
  -webkit-opacity: .7;
  opacity: .7;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
  filter: alpha(opacity=70);
}
.innertab {
  font-weight: bold;
}
.innertaboff {
  font-weight: bold;
  background-color: #DFDDD1;
  padding: 8px 10px 8px 10px;
}
.innertabon {
  font-weight: bold;
  color: #ffffff;
  background-color: #336666;
  padding: 8px 10px 8px 10px;
}
.innertabon_hybrid {
  background-color: #F8F7F1 !important;
}
.innertabon a:link {
  color: #ffffff;
}
.innertabon a:active {
  color: #ffffff;
}
.innertabon a:visited {
  color: #ffffff;
}
.innertabon_hybrid a:link {
  color: #000000 !important;
}
.innertabon_hybrid a:active {
  color: #000000 !important;
}
.innertabon_hybrid a:visited {
  color: #000000 !important;
}
.innertabon a:hover {
  color: #fff;
}
.innertaboff a:link {
  color: #5F5B53;
}
.innertaboff a:active {
  color: #5F5B53;
}
.innertaboff a:visited {
  color: #5F5B53;
}
.innertaboff a:hover {
  color: #5F5B53;
}
.nstaboff {
  color: #5F5F4D;
  font-weight: bold;
  line-height: 130%;
  padding-left: 5px;
  margin-right: 15px;
}
.nstaboff-right {
  color: #5F5F4D;
  font-weight: bold;
  line-height: 130%;
  padding-left: 5px;
  margin-left: 25px;
}
.nstaboff_hover {
  color: #5F5F4D;
  font-weight: bold;
  line-height: 130%;
  padding-left: 5px;
  margin-right: 15px;
}
.nstaboff_hover-right {
  color: #5F5F4D;
  font-weight: bold;
  line-height: 130%;
  padding-left: 5px;
  margin-left: 25px;
}
.nstabon {
  color: #2F2D29;
  font-weight: bold;
  background-color: #336666;
  border-bottom: 1px solid #F8F7F1;
  border-left: 1px solid #336666;
  line-height: 130%;
  padding-left: 5px;
}
.nstabon-right {
  color: #2F2D29;
  font-weight: bold;
  background-color: #336666;
  border-bottom: 1px solid #F8F7F1;
  line-height: 130%;
  padding-right: 5px;
}
.nstabdisabled {
  color: #6F6F61;
  background-color: #DFDFC3;
  border-bottom: 1px solid #AFAF99;
  border-left: 1px solid #AFAF99;
}
.nstabdisabled a:link {
  text-decoration: none;
  color: #6F6F61;
}
.nstabdisabled a:visited {
  text-decoration: none;
  color: #6F6F61;
}
.nstabdisabled a:active {
  text-decoration: none;
  color: #6F6F61;
}
.nstabdisabled a:hover {
  text-decoration: none;
  color: #6F6F61;
}
.nsrt_arr_wht {
  background: #366 url('/images/pftv6/arrowBG2.gif') no-repeat right 50%;
  padding: 6px 15px 6px 5px;
}
.nsrt_arr_wht_right {
  background: #366 url('/images/pftv6/arrowBG2-right.png') no-repeat left 50%;
  padding: 6px 5px 6px 15px;
}
.nsdown_arr_wht {
  background: #366 url('/images/pftv6/arrowBG2.gif') no-repeat right 50%;
  padding: 6px 5px 6px 5px;
}
.nssubmenu {
  font-weight: normal;
  padding: 10 10 0 7;
  text-decoration: none;
  line-height: 130%}
.nssubmenu a:link {
  text-decoration: none;
  color: #ffffff;
}
.nssubmenu a:visited {
  text-decoration: none;
  color: #ffffff;
}
.nssubmenu a:active {
  text-decoration: none;
  color: #ffffff;
}
.nssubmenu a:hover {
  text-decoration: none;
  color: #ffffff;
}
.nssub_tabon {
  padding: 3px;
  text-decoration: none;
  font-weight: bold;
  background-color: #3E6F6F;
  margin-right: 5px;
}
.nssub_taboff {
  padding: 3px;
  text-decoration: none;
}
.nssub_taboff a {
  text-decoration: none;
  color: #4F4A4A;
}
.nssub_tabon a {
  text-decoration: underline;
  color: #ffffff;
}
.nstaboff a:link, .nstaboff-right a:link {
  text-decoration: none;
  color: #336666;
}
.nstaboff a:visited, .nstaboff-right a:visited {
  text-decoration: none;
  color: #336666;
}
.nstaboff a:hover, .nstaboff-right a:hover {
  text-decoration: none;
  color: #336666;
}
.nstaboff_hover a:link, .nstaboff_hover-right a:link {
  text-decoration: underline;
  color: #336666;
}
.nstaboff_hover a:visited, .nstaboff_hover-right a:visited {
  text-decoration: underline;
  color: #336666;
}
.nstaboff_hover a:hover, .nstaboff_hover-right a:hover {
  text-decoration: underline;
  color: #336666;
}
.nstabon a:link, .nstabon-right a:link {
  text-decoration: none;
  color: #ffffff;
}
.nstabon a:visited, .nstabon-right a:visited {
  text-decoration: none;
  color: #ffffff;
}
.nstabon a:hover, .nstabon-right a:hover {
  text-decoration: none;
  color: #ffffff;
}
li.active.dropdown.menu-home a i {
  font-size: 17px;
  vertical-align: middle;
}
.search-trigger>i {
  color: rgba(104, 104, 46, 0.7);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
  font-size: 22px;
}
#nav-giveaway-image-mobile {
  -webkit-animation-duration:2.5s;
  -moz-animation-duration:2.5s;
  -ms-animation-duration:2.5s;
  -o-animation-duration:2.5s;
  animation-duration:2.5s;
}
#nav-giveaway-image {
  -webkit-animation-duration:2.5s;
  -moz-animation-duration:2.5s;
  -ms-animation-duration:2.5s;
  -o-animation-duration:2.5s;
  animation-duration:2.5s;
}