.LowerBodySEO a {
  color: #0645AD;
}

.LowerBodySEO h1 {
  font-size: 18px!important;
  margin-bottom: 10px;
}
.LowerBodySEO h2 {
  font-size: 16px;
  margin-bottom: 10px;
}
.LowerBodySEO p { margin-bottom:20px;}