.yt-player {
  margin: 0px auto;
}

.yt-player > div {
  position: relative;
  padding-bottom: 56.25%;
  height: 0px;
}

.yt-player iframe {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}