/* OFERTAS */

.blocoOfertas {
	background:#FFF;
	border:1px solid #CCCCCC;
	position:relative
}
.blocoOfertas span.melhoresOfertas {
	display:block;
	font-size:14px;
	font-weight:bold;
	float:left;
	padding:7px 0 0 0;
	width:100%
}
.blocoOfertas .buscaOfertas {
	background: #9b151e none;
	border: 1px solid #9b151e;
	height:24px;
	float:right;
	margin: 9px 0 0;
}
.blocoOfertas .buscaOfertas legend {display:none}
.blocoOfertas .buscaOfertas label {display:none}
.blocoOfertas .buscaOfertas input.compareOfertas {
	background:#FFF;
	border:0;
	color:#333;
	display:block;
	font-size:1.2em;
	height: 25px;
	line-height: 25px;
	padding: 0 6px;
	width:210px;
	
	position:absolute;
	top:50%;
	margin-top:-12px;
	left:14px;
}
.blocoOfertas .buscaOfertas input.botaoBuscarOfertas {
	background:transparent none;
	border:0;
	color:#FFF;
	cursor:pointer;
	padding: 3px 10px 0;
	*padding: 2px 10px 0
}
.blocoOfertas .listaOfertas {
	clear:both;
	float:left;
	margin: 0 auto;
	padding: 10px 0 25px 0;
}
.blocoOfertas .listaOfertas a span.lojaOfertas {
	display:block;
	font-size:1.1em;
	font-weight:normal
}
.blocoOfertas .listaOfertas a span.produtoOfertas {
	display:block;
	font-size:1.3em;
	font-weight:700
}
.blocoOfertas .listaOfertas a span.precoOfertas,
.blocoOfertas .listaOfertas a span.textoExtraOfertas {
	color:#9A141E;
	display:block;
	font-size:1.3em;
	font-weight:700
}
.blocoOfertas .listaOfertas a img {
	float:none;
	margin:4px auto;
}
.blocoOfertas .menuOfertas {
	border-top:1px solid #e0e0e0;
	clear:both;
	float:left;
	margin: 0 0 0 2em;
	padding: 6px 0;
	width:91.1em
}
.blocoOfertas .menuOfertas li {
	border-right:1px solid #e0e0e0;
	display:block;
	float:left;
	font-size:1.2em;
	text-align:center;
	width:14.1%
}
.blocoOfertas .menuOfertas li.ultimo {border:0}
.blocoOfertas .menuOfertas li a {color:#9b151e}


/* OFERTAS HORIZONTAL */


.blocoOfertasHorizontal {
	padding-bottom:8px !important;
	width:95em
}
.blocoOfertasHorizontal .topoOfertas {
	border-bottom:1px solid #ccc;
	clear:both;
	float:left;
	height: 5em;
	line-height: 5em;
	margin: 0 0 0 2em;
	width:93.1em
}
.blocoOfertasHorizontal span.melhoresOfertas {
	padding:0 !important;
}
.blocoOfertasHorizontal .buscaOfertas {
	bottom:auto !important;
	right:0;
	height:4.8em;
	position:absolute;
	top:0 !important;
	width: 300px;
	z-index:10;
	margin:0 !important;
}
.blocoOfertasHorizontal .buscaOfertas label {
	display:none
}
.blocoOfertasHorizontal .buscaOfertas input.compareOfertas {
	width:175px
}
.blocoOfertasHorizontal .buscaOfertas input.botaoBuscarOfertas {
	float:right;
	font-family: arial;
	font-size: 1.3em;
	font-weight: 700;
	height:3.6em;
	margin:0 19px 0 5px;
	padding:0;
}
.nivelA-tipo6 .blocoOfertas .listaOfertas ul {
	clear:both;
	float:left;
	margin:0 0 0 2em;
	width:91.1em
}
.blocoOfertasHorizontal .listaOfertas ul li {
	float:left;
	padding: 0 1%;
	width:12.2%
}
.blocoOfertasHorizontal .listaOfertas ul li .imagemOferta img {
	margin:0 0 0 22px !important
}
.blocoOfertasHorizontal span.lojaOfertas {
	height: 16px;
}


/* OFERTAS VERTICAL */


.blocoOfertasVertical {
	height:auto !important;
	width:29.8em !important;
	padding-bottom:6.5em !important
}
.blocoOfertasVertical .topoOfertas{
	clear:both;
	height: 3.3em;
	overflow:hidden;
	padding:0.4em 0 0 1.15em;
	width:27.5em !important
}
.blocoOfertasVertical .buscaOfertas {
	bottom:0 !important;
	left:0;
	height:5.6em;
	position:absolute;
	top:auto !important;
	width: 100%;
	z-index:10;
	margin:0 !important;
}
.blocoOfertasVertical .buscaOfertas label {
	display:none
}
.blocoOfertasVertical .buscaOfertas input.compareOfertas {
	width:175px
}
.blocoOfertasVertical .buscaOfertas input.botaoBuscarOfertas {
	float:right;
	font-family: arial;
	font-size: 1.3em;
	font-weight: 700;
	height:4.4em;
	margin:0 20px 0 5px;
	padding:0;
}
.blocoOfertasVertical .listaOfertas {
	float:left;
	padding:0.6em 0 0 2.3em
}
.blocoOfertasVertical .listaOfertas ul {
	float:left
}
.blocoOfertasVertical .listaOfertas ul li {
	border-top:1px solid #d1d1d1;
	clear:both;
	float:left;
	padding: 1em 0;
	*padding: 0.6em 0;
	position:relative;
	width:25.2em
}
.blocoOfertasVertical .listaOfertas ul :first-child,
.blocoOfertasVertical .listaOfertas .destaque + li {
	border-top:0;
}
.blocoOfertasVertical .listaOfertas ul li.destaque {
	border:0;
	height: 25em;
	padding: 0 0 0.8em;
	width:25em
}
.blocoOfertasVertical .listaOfertas ul li .imagemOferta {
	float:left;
	width:6.5em;
	padding:0 2em 0 0
}
.blocoOfertasVertical .listaOfertas ul li .dadosOferta {
	float:left;
	width:16.7em
}
.blocoOfertasVertical .listaOfertas ul li .imagemOferta img {
	margin:0 !important
}
.blocoOfertasVertical .listaOfertas ul li.destaque img {
	border:1px solid #9b161f;
	top:0;
	margin:0 !important
}
.blocoOfertasVertical .listaOfertas ul li span.produtoOfertas {
	padding:2px 0 0 0
}
.blocoOfertasVertical .listaOfertas ul li span.precoOfertas {
	font-weight:700;
	padding-bottom:1px
}
