.logoPrincipal a{
	background: transparent url(../icon/logoPrincipalClicRbsTransparente.png) no-repeat center 8px;
	_background: transparent url(../icon/logoPrincipalClicRbsSemiTransparente.png) no-repeat center 8px;
	display:block;
	float:left;
	height:10.4em;
	text-indent: -9999px;
	width:21.3em
}
.contemAncoras {display:none}
.todoConteudo, .corpoPagina {
	width:100%
}

.todoConteudo {
	/*overflow:hidden;*/
	/*padding-top:32px*/
}

.ad-billboard {
	max-height: 255px;
	overflow: hidden;
	width: 100%;
}

#sasIabBill_open {
	float: left !important;
}

#sasIabBill_close {
	right: 906px !important;
}

.contemTopo, .contemMiolo, .contemMapaDoSite, .contemRodape {
	margin:0 auto;
	width:98.4em
}

.topo {
	float:left;
	height:12.8em;
	width:100%
}

.contemMiolo {
	background:#edece0 none;
	-moz-box-shadow: 0 0 30px #000000; /* para Firefox 3.5+ */
	-webkit-box-shadow: 0 0 30px #000000; /* para Safari e Chrome */
	clear:both
}

.contemSelecaoEstado {
	float: left;
	padding:55px 0 0 15px;
	position:relative;
	width:9em
}

.contemSelecaoEstado .estaEm{
	background: transparent url(../icon/setaSelecaoRegiaoBaixo.gif) no-repeat right center;
	color:#CCC;
	font-size:1.6em;
	font-weight:500;
}
.contemSelecaoEstado .estaEm a {
	color:#CCC;
	font-weight:500;
	padding: 0 16px 0 0
}

.contemSelecaoEstado .escolhaEstado {
	background:transparent url(../icon/bgEscolhaEstado01.gif) no-repeat top left;
	left:43px;
	padding: 0 0 0 8px;
	position:absolute;
	top:45px;
	width: 18em
}

.contemSelecaoEstado .escolhaEstado .irPara {
	background:#FFF none;
	display:block;
	height:2.6em;
	padding: 1.2em 0 0 1.5em;
	width:16.5em
}

.contemSelecaoEstado .escolhaEstado .irPara a{
	color:#333;
	font-size:12px
}

.contemSelecaoEstado .escolhaEstado .definirRegiao {
	background:#333 none;
	display:block;
	float:left;
	padding: 1.5em 0 0 1.5em;
	width: 16.5em;
}

.contemSelecaoEstado .escolhaEstado .definirRegiao dt {
	color:#999;
	font-size:1.2em;
	padding: 0 0 12px
}

.contemSelecaoEstado .escolhaEstado .definirRegiao dd a {
	color:#dfdfdf;
	display:block;
	font-size: 1.2em;
	padding: 0 0 8px 16px
}

.contemSelecaoEstado .escolhaEstado .definirRegiao dd a.selecionada {
	background: transparent url(../icon/bulletSelecaoRegiaoAtivo.gif) no-repeat left 4px;
}

.contemBusca {
	float:left;
	padding: 45px 0 0 4.5em;
	position:relative;
	width:40em;
	z-index:10
}

.contemBusca .elementosBusca {
	background:#FFF url(../icon/bgInputBusca.gif) repeat-x 0 0;
	float:left;
	height:1.9em;
	margin: 0 6px 0 0;
	padding: 0.6em 0 0.6em 0.4em;
	width:30.4em
}

.contemBusca legend,
.contemBusca .elementosBusca label,
.contemBusca .elementosBusca select {
	display:none
}

.contemBusca .inputBusca {
	background:transparent none;
	border:0;
	border-right: 1px solid #333;
	color:#999;
	font-size:1.2em;
	float:left;
	padding: 4px 0 0 2px;
	width:193px
}

.contemBusca .buscaNaWeb .inputBusca {
	border:0;
	width: 297px
}

.contemBusca span.selecaoSiteBusca {
	background: transparent url(../icon/setaSelecaoSiteBusca.gif) no-repeat right 8px;
	display:block;
	float:left;
	padding: 0 20px 0 0
}
.contemBusca input.selecaoSiteBusca {
	background: transparent none;
	border:0;
	overflow:hidden;
	padding: 2px 0 0 7px;
	width:78px
}

.contemBusca input.ativo {
	background:transparent none
}

.contemBusca .buscaNaWeb input.selecaoSiteBusca {
	display:none;
}

.contemBusca ul.selecaoSiteBusca {
	left:194px;
	padding: 2px 0 0 7px;
	position:absolute;
	top: 60px
}

.contemBusca .selecaoSiteBusca li {
	display:none
}

.contemBusca .ativo li {
	display:block;
}
.contemBusca .ativo li a{
	background:#FFF;
	border-bottom: 1px solid #eaeaea;
	display:block;
	padding: 2px 4px 3px 8px;
	width:95px
}

.contemBusca .ativo li a:hover{
	background:#eaeaea;
	text-decoration:none
}


.contemBusca .selecaoSiteBusca li a {
	color:#666;
	font-size:1.2em
}

.contemBusca .selecaoSiteBusca li.ativo {
	display:block;
}
.contemBusca .selecaoSiteBusca li.ativo a {
	background: transparent url(../icon/setaSelecaoSiteBusca.gif) no-repeat right 5px;
	padding-right: 16px
}

.contemBusca .botaoBuscar {
	background:#ffcc00;
	border:0;
	cursor:pointer;
	display:block;
	float:left;
	font-size:1.6em;
	font-weight:500;
	padding: 6px 8px 5px;
	*padding: 2px 2px 3px
}

.contemBusca .selecaoTipoBusca {
	clear:both;
	float:left;
	padding: 4px 0 0;
	width:100%
}

.contemBusca .selecaoTipoBusca label {
	color:#999;
	display:block;
	float:left;
	font-size: 1.1em;
	padding: 0 8px 0 4px
}

.contemBusca .selecaoTipoBusca label.labelNoClicRbsAtivo,
.contemBusca .selecaoTipoBusca label.labelNaWebAtivo
{color:#FC0 !important;}

.contemBusca .selecaoTipoBusca .ativo {color:#ffcc00!important}

.contemBusca .selecaoTipoBusca input {
	float:left
}

.contemTempo {
	float:left;
	padding: 31px 0 0 0;
	width:22em
}

.contemTempo p {font-size:1em; line-height:1.1}

.contemTempo strong a{
	color:#fc0;
	display:block;
	float:left;
	font-size:1.7em;
	line-height: 2;
	padding-right:10px;
	width:110px
}
.contemTempo span {
	display:block;
	float:left;
	font-size:1.1em
}
.contemTempo .data {
	padding: 12px 0 10px;
	text-align:right;
	width:90px
}
.contemTempo .agora {
	float:left;
	padding-top:1px;
	width:35px
}
.contemTempo .data,
.contemTempo .agora {
	color:#FFF;
}

.contemTempo .hora {
	background: transparent url(../icon/bgRelogioTempo.gif) no-repeat 6px 0;
	color:#CCC;
	font-size:1.4em;
	font-weight:500;
	padding: 0 0 0 26px;
	width:45px
}

.contemTempo .temperatura {
	background: transparent url(../icon/bgTermometroTempo.gif) no-repeat 3em 0;
	color:#FFF;
	font-size:1.4em;
	font-weight:500;
	padding: 0;
	text-align:right;
	width:104px
}

.contemTempo .outrasCidades {
	padding: 6px 0 0;
	text-align:right;
	width:210px
}

.contemTempo .outrasCidades a {
	color:#fc0
}

.contemMapaDoSite {
	background:#dad9c9 none;
	clear:both;
	float:left;
	padding: 0 0 40px;
	width:99.8%
}

.mapaDoSite {
	margin: 0 auto;
	padding: 20px 0 40px 2em;
	width: 96.4em
}

.mapaDoSite ul {
	float:left;
	padding: 0 2em 0 0;
	width: 17em	
}

.mapaDoSite ul li {
	font-size:1.2em;
	padding: 0 0 2px;
}

.mapaDoSite ul li.titulo {
	font-weight:500;
	padding: 16px 0 6px
}

.mapaDoSite ul li.destaque {
	clear:both;
	padding: 12px 0 6px
}
.mapaDoSite ul li.destaque a {
	background:#262626;
	color:#fc0;
	display:block;
	float:left;
	padding: 10px;
}

.contemRodape {
	background:#ecebdf none;
	float:left;
	width:100%
}

.rodape {
	margin: 0 auto;
	padding: 20px 0 40px 0;
	width: 96.4em
}

.rodape ul li {
	background:transparent url(../icon/bgBulletRodape.gif) no-repeat right 28px;
	float:left;
	font-size:1.1em;
	padding:22px 8px 0
}

.rodape ul li a {
	font-weight:500
}

.rodape ul li.ivc {
	background:transparent none;
	padding:0
}

.rodape ul li.grupoRbs {
	background:transparent none;
	padding-top:8px
}
.rodape ul li.grupoRbs a{
	background: transparent url(../icon/logoGrupoRBSRodape.gif) no-repeat center center;
	display:block;
	height:33px;
	text-indent:-9999px;
	width:114px
}
@media(max-width:1050px) {
.contemMiolo {
	-moz-box-shadow: 0 0 12px #000000; /* para Firefox 3.5+ */
	-webkit-box-shadow: 0 0 12px #000000; /* para Safari e Chrome */
}
}
