.contemMenu {
	clear:both;
	float:left;
}

.menuNivelA {
	background:#262626 none;
	float:left;
	padding: 0 1.8em;
	width:94.8em
}

.menuNivelA .itemMenu {
	float:left;
	padding: 1px 0;
}

.menuNivelA .primeiro a{
	border:0;
}

.menuNivelA .itemMenu a {
	background:transparent url(../icon/setaMenuNivelALink.gif) no-repeat right center;
	border-right: 1px solid #4c4c4c;
	color:#FFF;
	display:block;
	float:left;
	padding: 12px 27px 12px 12px
}

.menuNivelA .itemMenuClicRbsOff a {
	background:#FC0 url(../icon/setaMenuNivelAClicRbsLink.gif) no-repeat right center;
	color:#000;
	font-weight:500;
	padding: 13px 27px 13px 12px
}

.menuNivelA .itemMenuPublicidade {padding: 0 0 0 28px; width:175px}
.menuNivelA .itemMenuPublicidade a {background:transparent none; border:0; padding:0}
.menuNivelA .itemMenuPublicidade a img{float: none; margin:0 auto}

.menuNivelA .itemMenuOn,
.menuNivelA .itemMenuClicRbsOn,
.menuNivelA .itemMenuClicRbsOff {
	padding:0
}
.menuNivelA .itemMenuOn a,
.menuNivelA .itemMenuClicRbsOn a {
	background:#FFF url(../icon/setaMenuNivelAAtivo.gif) no-repeat right center;
	color:#000;
	padding: 13px 27px 13px 12px
}

.menuNivelA .itemMenuClicRbsOn a {font-weight:500}

.menuNivelB {
	padding: 0 1.8em
}

.menuNivelB .contemMenuListaFilho {
	background:#FFF none;
	clear:both;
	float:left;
	width:94.8em;
}

.menuNivelB ul.menuListaFilho {
	border-left:1px solid #d9d9d9;
	float:left;
	margin: 20px 0 30px;
	padding: 0 1em 0 1.5em;
	width: 13.2em
}

.menuNivelB ul.primeiro {
	border:0
}

.menuNivelB ul.menuListaFilho li {
	padding: 0 0 6px
}

.menuNivelB ul.menuListaFilho li a {
	color:#000;
	font-size: 1.2em;
	padding: 2px 8px
}

.menuNivelB ul.menuListaFilho li.titulo {
	color:#000;
	font-size:1.2em;
	font-weight:700;
	padding: 2px 8px 12px
}

.menuNivelB ul.menuListaFilho li.titulo a{
	color:#000;
	font-size: 1em;
	font-weight:700;
	padding: 0
}

.menuNivelB ul.menuListaFilho li.linkSiteRelacionado a {
	background:#262626 none;
	color:#FFF
}

.menuNivelB ul.menuListaAssunto {
	background:#dad9c9 none;
	clear:both;
	display:block;
	float:left;
	padding: 5px 1em;
	width:92.8em
}

.menuNivelB ul.menuListaAssunto li {
	color:#666;
	float:left;
	font-size:1.3em;
	padding: 4px 10px
}

.menuNivelB ul.menuListaAssunto li.linkSiteRelacionado {
	background:#262626 none;
	color:#FFF
}


/* BOTAO VERSAO MOBILE */
.botaoVersaoMobile {
	padding:0 0 16px 22px;
	float:left;
	clear:both;
	padding-bottom:0\9;
	display:none\9;
}
@media(min-width:1004px) {
.botaoVersaoMobile {
	display:none;
}
}
