html {
	background:#424242 url(../icon/bgHtmlClic2010.gif);
	color:#666;
	font-family:Arial, Tahoma, Helvetica;
	font-size:62.5%
}
body {
	*font-size:101%
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0
}
a {
	color:#666;
	font-weight:normal;
	text-decoration:none
}
a:hover {
	text-decoration:underline
}
table {
	border-collapse:collapse;
	border-spacing:0
}
fieldset,img { 
	border:0
}
img {
	float:left;
	margin: 0 0 4px
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal
}
ol,ul {
	list-style:none
}
caption,th {
	text-align:left
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:500
}
q:before,q:after {
	content:''
}
abbr,acronym { 
	border:0
}
