.miniSeletorSkins {
	left:50%;
	margin-left:125px;
	position:absolute;
	top:12px;
	width:35.4em;
	z-index:10
}

.seletorSkins h6,
.seletorSkins .botaoTodos a{
	color:#999;
	font-size:1.1em;
	float:left;
	padding:4px 10px 0 6px;
}

.seletorSkins .botaoTodos a {
	background:transparent url(../icon/bgSkinBotaoTodos.png) no-repeat right 9px;
}

.contemTodosSeletorSkins {
	background:transparent url(../icon/bgTopAllSeletorSkins.png) no-repeat 51.8em 0;
	height:24em;
	left:50%;
	margin-left:-80px;
	padding-top:11px;
	position:absolute;
	top:34px;
	width:54em;
	z-index:10
}

.todosSeletorSkins {
	background:#262626 none;
	border-top:20px solid #FFF;
	height:20em;
	padding: 2em 1em;
	width:54em
}

.todosSeletorSkins .botaoSkinAnterior a,
.todosSeletorSkins .botaoSkinSeguinte a{
	background:transparent url(../icon/bgBotoesNavegaSkins.png) no-repeat 0 0;
	display:block;
	float:left;
	height:31px;
	margin: 30px 0 0;
	width:18px;
	text-indent:-9999px
}

.todosSeletorSkins .botaoSkinAnteriorInativo a {background-position:0 0}
.todosSeletorSkins .botaoSkinAnteriorAtivo a {background-position:0 -37px}
.todosSeletorSkins .botaoSkinSeguinte a {background-position:-30px 0}
.todosSeletorSkins .botaoSkinSeguinteAtivo a {background-position:-30px -37px}

.todosSeletorSkins .contemListaSeletorSkins {
	float:left;
	height:140px;
	overflow:hidden;
	width:498px;
}

.todosSeletorSkins .contemListaSeletorSkins ul {padding: 0 4px; width:10000px}

.todosSeletorSkins p {
	clear:both;
	display:block;
	padding: 30px 30px 0;
	width:485px;
}

.todosSeletorSkins p a {
	text-decoration:underline;
	}

/* THUMB SKINS MINI */
.miniSeletorSkins li {
	float:left;
	}
.miniSeletorSkins li a{
	background:transparent url(../icon/skinBgClassicoMini.png) no-repeat 0 0;
	border:1px solid #cbcbcb;
	display:block;
	height:17px;
	float:left;
	margin: 1px 2px 1px 1px;
	display:inline;
	overflow:hidden;
	width:25px;
	text-indent:-9999px
}

.miniSeletorSkins li a:hover, .miniSeletorSkins li a.on {
	border:2px solid #feca05;
	margin: 0 1px 0 0
}
.miniSeletorSkins li a.on {
	cursor:default;
	}

.miniSeletorSkins li.skinArabescoDark a {background-image:url(../icon/skinBgArabescoDarkMini.png)}
.miniSeletorSkins li.skinArabescoLight a {background-image:url(../icon/skinBgArabescoLightMini.png)}
.miniSeletorSkins li.skinClassico a {background-image:url(../icon/skinBgClassicoMini.png)}
.miniSeletorSkins li.skinGremio a {background-image:url(../icon/skinBgGremioMini.png)}
.miniSeletorSkins li.skinInter a {background-image:url(../icon/skinBgInterMini.png)}
.miniSeletorSkins li.skinLight a {background-image:url(../icon/skinBgLightMini.png)}
.miniSeletorSkins li.skinPsicodelico a {background-image:url(../icon/skinBgPsicodelicoMini.png)}
.miniSeletorSkins li.skinRoxo a {background-image:url(../icon/skinBgRoxoMini.png)}
.miniSeletorSkins li.skinRabiscosDark a {background-image:url(../icon/skinBgSketchDarkMini.png)}
.miniSeletorSkins li.skinRabiscosLight a {background-image:url(../icon/skinBgSketchLightMini.png)}
.miniSeletorSkins li.skinAvai a {background-image:url(../icon/skinBgAvaiMini.jpg)}
.miniSeletorSkins li.skinFigueirense a {background-image:url(../icon/skinBgFigueirenseMini.jpg)}

.miniSeletorSkins li.skinCriciuma a {background-image:url(../icon/skinBgCriciumaMini.jpg)}
.miniSeletorSkins li.skinChapecoense a {background-image:url(../icon/skinBgChapecoenseMini.jpg)}
.miniSeletorSkins li.skinJoiville a {background-image:url(../icon/skinBgJoivilleMini.jpg)}
.miniSeletorSkins li.skinCarnaval2011 a {background-image:url(../icon/skinBgCarnaval2011Mini.jpg)}
.miniSeletorSkins li.skinPascoa2011 a {background-image:url(../icon/skinBgPascoa2011Mini.png)}

/* THUMB SKINS BIG */
.todosSeletorSkins li {
	float:left;
	}
.todosSeletorSkins li a {
	color:#999;
	display:block;
	float:left;
	font-size:1.2em;
	text-align:center;
	width:98px
}

.todosSeletorSkins li a span{
	background:transparent url(../icon/skinBgClassicoMini.png) no-repeat right top;
	border:1px solid #cbcbcb;
	display:block;
	height:83px;
	float:left;
	margin: 5px 7px 5px 6px;
	overflow:hidden;
	width:83px;
	text-indent:-999px;
	display:inline;
}

.todosSeletorSkins li a:hover, .todosSeletorSkins li a.on {
	color:#fdcc0a;
	text-decoration:none
}
.todosSeletorSkins li a:hover span, .todosSeletorSkins li a.on span{
	border:4px solid #fdcc0a;
	margin: 2px 4px 2px 3px
}
.todosSeletorSkins li a.on {
	cursor:default;
	}
.todosSeletorSkins li.skinArabescoDark a span{background-image:url(../icon/skinBgArabescoDarkBig.png)}
.todosSeletorSkins li.skinArabescoLight a span{background-image:url(../icon/skinBgArabescoLightBig.png)}
.todosSeletorSkins li.skinClassico a span{background-image:url(../icon/skinBgClassicoBig.png)}
.todosSeletorSkins li.skinGremio a span{background-image:url(../icon/skinBgGremioBig.png)}
.todosSeletorSkins li.skinInter a span{background-image:url(../icon/skinBgInterBig.png)}
.todosSeletorSkins li.skinLight a span{background-image:url(../icon/skinBgLightBig.png)}
.todosSeletorSkins li.skinPsicodelico a span{background-image:url(../icon/skinBgPsicodelicoBig.png)}
.todosSeletorSkins li.skinRoxo a span{background-image:url(../icon/skinBgRoxoBig.png)}
.todosSeletorSkins li.skinRabiscosDark a span{background-image:url(../icon/skinBgSketchDarkBig.png)}
.todosSeletorSkins li.skinRabiscosLight a span{background-image:url(../icon/skinBgSketchLightBig.png)}
.todosSeletorSkins li.skinAvai a span{background-image:url(../icon/skinBgAvaiBig.jpg)}
.todosSeletorSkins li.skinFigueirense a span{background-image:url(../icon/skinBgFigueirenseBig.jpg)}

.todosSeletorSkins li.skinCriciuma a span{background-image:url(../icon/skinBgCriciumaBig.jpg)}
.todosSeletorSkins li.skinChapecoense a span{background-image:url(../icon/skinBgChapecoenseBig.jpg)}
.todosSeletorSkins li.skinJoiville a span{background-image:url(../icon/skinBgJoivilleBig.jpg)}
.todosSeletorSkins li.skinCarnaval2011 a span{background-image:url(../icon/skinBgCarnaval2011Big.jpg)}
.todosSeletorSkins li.skinPascoa2011 a span{background-image:url(../icon/skinBgPascoa2011Big.png)}



/* SKINS FUNDO */
body.skinLight {background:#ebebeb url(../icon/skinBgHtmlLight.gif)}
body.skinLight .logoPrincipal a {background-image:url(../icon/logoSkinLightClicRbsTransparente.png)}
body.skinLight .contemSelecaoEstado .estaEm a,
body.skinLight .contemTempo strong a,
body.skinLight .contemTempo .hora,
body.skinLight .contemTempo .temperatura,
body.skinLight .contemTempo .outrasCidades a,
body.skinLight .contemBusca .selecaoTipoBusca label.labelNoClicRbsAtivo, 
body.skinLight .contemBusca .selecaoTipoBusca label.labelNaWebAtivo {color:#262626}
body.skinLight .contemTempo .data, 
body.skinLight .contemTempo .agora {color:#666}
body.skinLight .contemTempo .hora {background-image: url(../icon/bgRelogioTempoSkinLight.gif)}
body.skinLight .contemTempo .temperatura {background-image:url(../icon/bgTermometroTempoSkinLight.gif)}
body.skinLight .contemBusca .botaoBuscar {background-color:#262626; color:#FFCB00}

body.skinArabescoLight {background:#F4F1FA url(../icon/skinBgHtmlArabescoLight.gif) no-repeat center top}
body.skinArabescoLight .contemTempo .hora {background-image: url(../icon/bgRelogioTempoSkinArabescoL.gif)}
body.skinArabescoLight .contemSelecaoEstado .estaEm a, body.skinArabescoLight .contemTempo strong a, body.skinArabescoLight .contemTempo .outrasCidades a  {color:#8151FD;}
body.skinArabescoLight .contemBusca .selecaoTipoBusca label.labelNoClicRbsAtivo, body.skinArabescoLight .contemBusca .selecaoTipoBusca label.labelNaWebAtivo {color:#8151FD !important;}
body.skinArabescoLight .contemTempo .hora, body.skinArabescoLight .contemBusca .selecaoTipoBusca label  {color:#fff;}
body.skinArabescoLight .contemBusca .botaoBuscar {background:#D2C7ED; color:#8151FD;}

body.skinArabescoDark {background:#363636 url(../icon/skinBgHtmlArabescoDark.gif) no-repeat center top}
body.skinArabescoDark .seletorSkins h6, body.skinArabescoDark .seletorSkins .botaoTodos a {color:#fff;}

body.skinRabiscosLight {background:#FFFFFF url(../icon/skinBgHtmlRabiscosLight.gif) no-repeat center 5px;}
body.skinRabiscosLight .contemBusca .selecaoTipoBusca label, body.skinRabiscosLight .contemSelecaoEstado .estaEm a {color:#fff;}
body.skinRabiscosLight .logoPrincipal a {background-position:8px 8px;}

body.skinRabiscosDark {background:#363636 url(../icon/skinBgHtmlRabiscosDark.gif) no-repeat center top}

body.skinRoxo {background:#45304f url(../icon/skinBgHtmlRoxo.png) no-repeat center top}
body.skinRoxo .seletorSkins h6, body.skinRoxo .seletorSkins .botaoTodos a {color:#fff;}
body.skinRoxo {background-position:center 5px;}
body.skinRoxo .logoPrincipal a {background-position:8px 8px;}

body.skinPsicodelico {background:#64471f url(../icon/skinBgHtmlPsicodelico.gif) no-repeat center top}
body.skinPsicodelico .contemTempo .hora {background-image: url(../icon/bgRelogioTempoSkinPsicodelico.gif)}
body.skinPsicodelico .seletorSkins h6, body.skinPsicodelico .seletorSkins .botaoTodos a {color:#fff;}

body.skinAvai {background:#1677BB url(../icon/skinBgHtmlAvai.jpg) no-repeat center top}
body.skinAvai .contemTempo .hora {background-image: url(../icon/bgRelogioTempoSkinAvai.gif)}
body.skinAvai .contemSelecaoEstado .estaEm a, body.skinAvai .contemBusca .selecaoTipoBusca label,
body.skinAvai .seletorSkins h6, body.skinAvai .seletorSkins .botaoTodos a, body.skinAvai .contemTempo .hora {color:#fff;}

body.skinCriciuma {background:#E3B70C url(../icon/skinBgHtmlCriciuma.jpg) no-repeat center top}

body.skinFigueirense {background:#414141 url(../icon/skinBgHtmlFigueirense.jpg) no-repeat center top}

body.skinGremio {background:#015196 url(../icon/skinBgHtmlGremio.jpg) no-repeat center top}
body.skinGremio .contemTempo .hora {background-image: url(../icon/bgRelogioTempoSkinGremio.gif)}
body.skinGremio .contemSelecaoEstado .estaEm a, body.skinGremio .contemBusca .selecaoTipoBusca label,
body.skinGremio .seletorSkins h6, body.skinGremio .seletorSkins .botaoTodos a, body.skinGremio .contemTempo .hora {color:#fff;}

body.skinInter {background:#AA1415 url(../icon/skinBgHtmlInter.jpg) no-repeat center top}
body.skinInter .contemTempo .hora {background-image: url(../icon/bgRelogioTempoSkinInter.gif)}
body.skinInter .contemSelecaoEstado .estaEm a, body.skinInter .contemBusca .selecaoTipoBusca label,
body.skinInter .seletorSkins h6, body.skinInter .seletorSkins .botaoTodos a, body.skinInter .contemTempo .hora  {color:#fff;}

body.skinCriciuma {background:#EABC1E url(../icon/skinBgHtmlCriciuma.jpg) no-repeat center top}
body.skinChapecoense {background:#2b5d2c url(../icon/skinBgHtmlChapecoense.jpg) no-repeat center top}
body.skinJoiville {background:#aa1415 url(../icon/skinBgHtmlJoiville.jpg) no-repeat center top}
body.skinCarnaval2011 {background:#1D1A25 url(../icon/skinBgHtmlCarnaval2011.jpg) no-repeat center top}

body.skinPascoa2011 {background:#94805F url(../icon/skinBgHtmlPascoa2011.jpg) no-repeat center top}
body.skinPascoa2011 {background:#94805F url(../icon/skinBgHtmlPascoa2011.jpg) no-repeat center top}
body.skinPascoa2011 .contemTempo .hora {background-image: url(../icon/bgRelogioTempoSkinPascoa2011.gif)}
