h1 {}

h2 {font-size:1.2em}
.nivelC h2 {background:#edece0 none;color:#262626; font-size:2.4em; font-weight:normal; text-transform:lowercase}
.blocoListaCelebridades h2{font-size:1.6em; font-weight:500; text-transform:none}
.nivelA-tipo4 .nivelC h2{padding-left:18px}

h3 {color:#999;font-size:1.2em; font-weight:normal; padding-bottom:2px}
h3 a {color:#dca70b}
.aba h3 {font-size:1.1em}
.blocoAbasUltimas h3 {float:left;width:350px}
	.nivelA-tipo5 .blocoAbasUltimas h3 {width:210px;}
.nivelA-tipo4 h3 {color:#ffcc00;font-size:1.6em;font-weight:500;text-transform:lowercase}
.nivelA-tipo4 ul li h3 {text-transform:none}
.blocoAbasBlogs h3 {font-size:1.2em}
.blocoPlayerGaleria ul li h3,
.blocoPlayerAudios ul li h3 {color:#999; font-size:1.2em; font-weight:normal}
.blocoListaCelebridades ul li h3 a {color:#999}

/* H4 */
h4 {}
h4.tamanhoA {font-size:2em}
h4.tamanhoB {font-size:1.6em}
h4 a {font-weight:500}
.nivelA-tipo1 h4 {font-size:3.6em}
.nivelA-tipo1 h4,
.areaDestaques .nivelD-modA h4,
.areaDestaques-tipo2 .nivelD-modB h4 {font-size:2.8em}
.aba h4 {font-size:1.2em}
.blocoAbasUltimas h4 {float:left;width:350px}
	.nivelA-tipo5 .blocoAbasUltimas h4 {width:210px;}
.blocoAbasBlogs h4 {font-size:1.3em}
.blocoAbasBlogs h4 a{font-weight:normal}
.blocoListaCelebridades h4 {font-size:1.4em}
.blocoPlayerVideos h4 {font-size:1.6em; float:right; font-size:1.6em; width:109px; word-wrap:break-word;}
.blocoPlayerVideos h4 a{color:#CCC}
.blocoPlayerGaleria h4 {font-size:1.4em}
.blocoPlayerGaleria h4 a{color:#333}
.blocoPlayerAudios h4 {font-size:1.3em}
.blocoPlayerAudios h4 a{color:#FFF; font-weight:normal}

h5 {}
h6 {}
p {font-size:1.2em; padding-bottom:8px; line-height:1.4}
.subBloco p{padding:6px 0 0 0}
.nivelA-tipo1 p {font-size:2em; padding-left:24px}
span.ancoraFinal {
	clear:both;
	display:block;
	text-indent:-9999px;
	width:100%
}

.bloco img {margin: 0 18px 6px 0}

/* MULTIMIDIA */
ul.multimidia {margin-top:5px}
ul.multimidia li 					{font-size:1.2em; line-height:1.5;}
ul.multimidia li a 				{background:transparent url(../icon/iconesDefault2010.gif) no-repeat 0 0; padding: 2px 0 4px 28px}
ul.multimidia li.audioslide a	{background-position: -298px 0;}
ul.multimidia li.mapa a  		{background-position: -271px -30px}
ul.multimidia li.min-a-min a	{background-position: -240px -61px}
ul.multimidia li.infografico a{background-position: -208px -91px}
ul.multimidia li.video a 		{background-position: -179px -122px}
ul.multimidia li.pdf a 			{background-position: -149px -151px}
ul.multimidia li.foto360 a 	{background-position: -120px -180px}
ul.multimidia li.audio a 		{background-position: -90px -212px}
ul.multimidia li.bullet a		{background-position: -55px -242px}
ul.multimidia li.galeria a 	{background-position: -29px -273px}
ul.multimidia li.foto a 		{background-position: 2px -303px}

.nivelA-tipo1 ul.multimidia li a{color:#FFF!important}

.nivelA-tipo1 ul.multimidia li a,
.nivelA-tipo3 .nivelB-modA .nivelC-modA .areaDestaques-tipo1 .nivelD-modA ul.multimidia li a,
.nivelA-tipo3 .nivelB-modA .nivelC-modA .areaDestaques-tipo2 .nivelD-modA ul.multimidia li a,
.nivelA-tipo3 .nivelB-modA .nivelC-modA .areaDestaques-tipo2 .nivelD-modB ul.multimidia li a,
.nivelA-tipo3 .nivelB-modA .nivelC-modA .areaDestaques-tipo3 .nivelD-modA ul.multimidia li a,
.nivelA-tipo3 .nivelB-modA .nivelC-modA .areaDestaques-tipo4 .nivelD-modA ul.multimidia li a,
.nivelA-tipo3 .nivelB-modA .nivelC-modB .nivelD-modE ul.multimidia li a,
.nivelA-tipo3 .nivelB-modA .nivelC-modA .areaDestaques-tipo5 .nivelD-modA ul.multimidia li a,
.nivelA-tipo3 .nivelB-modA .nivelC-modA .areaDestaques-tipo6 .nivelD-modA ul.multimidia li a,
.nivelA-tipo3 .nivelB-modA .nivelC-modA .areaDestaques-tipo6 .nivelD-modE ul.multimidia li a,
.nivelA-tipo3 .nivelB-modA-tipo1 .nivelC-modB .nivelD-modD ul.multimidia li a,
.nivelA-tipo3 .nivelB-modA-tipo2 .nivelC-modB .nivelD-modD ul.multimidia li a,
.nivelA-tipo5 .nivelB-modA .nivelC-modA .nivelD-modD ul.multimidia li a,
.nivelA-tipo5 .nivelB-modA .nivelC-modB .nivelD-modD ul.multimidia li a,
.nivelA-tipo9 .nivelB-modA .nivelC-modA .nivelD-modE ul.multimidia li a
{background-image:url(../icon/iconesFundoEscuro2010.gif); color:#FFF}

.nivelA-tipo3 .nivelB-modA-tipo4 .nivelC-modB .nivelD-modA ul.multimidia li a,
.nivelA-tipo3 .nivelB-modA-tipo4 .nivelC-modB .nivelD-modB ul.multimidia li a,
.nivelA-tipo3 .nivelB-modA-tipo3 .nivelC-modB .nivelD-modA ul.multimidia li a,
.nivelA-tipo3 .nivelB-modA-tipo3 .nivelC-modB .nivelD-modB ul.multimidia li a
{background-image:url(../icon/iconesFundoCinza2010.gif); color:#666}

/* DESTAQUES DO DIA */
.nivelA .nivelB .bloco-destaquesDoDia {
	background:transparent
}
.nivelA .nivelB .bloco-destaquesDoDia h2,
.nivelA .nivelB .bloco-destaquesDoDia h3{
	color:#666;
	float:left;
	padding: 0 16px 0 0
}

.nivelA .nivelB .bloco-destaquesDoDia h3 a {
	color:#666
}

/* URGENTE */
.nivelA .nivelB .bloco-urgente {
	background: #FFF url(../icon/bgBlocoUrgente01.gif) no-repeat left center;
	margin-bottom:20px;
	padding:0
}
.nivelA .nivelB .bloco-urgente h2 {
	background:transparent;
	color:#fc0;
	float:left;
	font-size:1.6em;
	padding: 4px 0 0 6px;
	text-transform:uppercase;
}

.nivelA .nivelB .bloco-urgente h3 {
	color:#333;
	float:left;
	font-size:1.4em;
	font-weight:500;
	padding: 5px 0 0 30px
}

.nivelA .nivelB .bloco-urgente h3 a{
	color:#333;
	font-weight:500
}
/* DESTAQUE */
.blocoDestaque h3,
.blocoDestaque h3 a {
	color:#FFF
}

.blocoDestaque h4 {padding-bottom:4px}
.blocoDestaque h4 a {color:#fc0}
.blocoDestaque p {color:#fff; padding: 0 0 0 18px}

/* AREAS FUNDO ESCURO */
.nivelA-tipo1 h3 a,
.areaDestaques .nivelD-modA h3 a,
.areaDestaques-tipo2 .nivelD-modB h3 a,
.areaDestaques-tipo6 .nivelD-modE h3 a 
{color:#FFF}

.nivelA-tipo5 .nivelC-modA .nivelD-modD h3 a,
.nivelA-tipo5 .nivelC-modB .nivelD-modD h3 a,
.nivelA-tipo3 .nivelB-modA .nivelC-modB-tipo1 .nivelD-modD h3 a,
.nivelA-tipo3 .nivelB-modA-tipo3 .nivelC-modB-tipo1 .nivelD-modE h3 a,
.nivelA-tipo3 .nivelB-modA-tipo4 .nivelC-modB-tipo1 .nivelD-modE h3 a,
.nivelA-tipo9 .nivelB-modA .nivelC-modA .nivelD-modE h3 a
{color:#FC0}

.nivelA-tipo3 .nivelB-modA-tipo3 .nivelC-modB-tipo1 .nivelD-modD h3 a,
.nivelA-tipo3 .nivelB-modA-tipo4 .nivelC-modB-tipo1 .nivelD-modD h3 a 
{color:#DCA70B}

.nivelA-tipo1 h4 a,
.areaDestaques .nivelD-modA h4 a,
.areaDestaques-tipo2 .nivelD-modB h4 a,
.areaDestaques-tipo6 .nivelD-modE h4 a
{color:#FC0}

.nivelA-tipo5 .nivelC-modA .nivelD-modD h4 a,
.nivelA-tipo5 .nivelC-modB .nivelD-modD h4 a,
.nivelA-tipo3 .nivelB-modA .nivelC-modB-tipo1 .nivelD-modD h4 a,
.nivelA-tipo3 .nivelB-modA-tipo3 .nivelC-modB-tipo1 .nivelD-modE h4 a,
.nivelA-tipo3 .nivelB-modA-tipo4 .nivelC-modB-tipo1 .nivelD-modE h4 a,
.nivelA-tipo9 .nivelB-modA .nivelC-modA .nivelD-modE h4 a
{color:#FFF}

.nivelA-tipo3 .nivelB-modA-tipo3 .nivelC-modB-tipo1 .nivelD-modD h4 a,
.nivelA-tipo3 .nivelB-modA-tipo4 .nivelC-modB-tipo1 .nivelD-modD h4 a 
{color:#666}

.nivelA-tipo1 p,
.areaDestaques .nivelD-modA p,
.areaDestaques-tipo2 .nivelD-modB p,
.areaDestaques-tipo6 .nivelD-modE p,
.nivelA-tipo5 .nivelC-modA .nivelD-modD p,
.nivelA-tipo5 .nivelC-modB .nivelD-modD p
{color:#FFF}

.blocoListaCelebridades h3,
.blocoListaCelebridades h3 a,
.blocoListaCelebridades h4 a
{color:#FFF; clear:both}

.textoCelebridades h4 a {
	background:#333 url(../icon/bgBlocoListaCelebridadesSeta.gif) no-repeat right center!important;
	display:block;
	width:140px
}

.nivelD-modE .subBloco p, .nivelD-modD .subBloco p {
	color:#fff;
	}

/* LISTA CELEBRIDADES */
.blocoListaCelebridades h2{
	background: #FFF url(../icon/bgBlocoListaCelebridades.gif) no-repeat right center;
	color:#666;
	float:left;
	margin-top:4px;
	padding: 5px 44px 5px 10px;
	width:6.2em
}

/* TARJA */
span.tarja {
	background:#dad9c9 none;
	clear:both;
	display:block;
	float:left;
	font-size:1.2em;
	padding: 1px 0;
	text-align:right;
	width:100%
}
span.tarja a {padding-right:4px}

.blocoPlayerVideos .botaoVerTodosVideos {clear:both;display:block; padding: 0 34px 0 0}
.blocoPlayerVideos .botaoVerTodosVideos a {background:transparent url(../icon/setaTodosVideos.gif) no-repeat right center; color:#CCC; float:right;font-size:1.2em; padding: 0 10px 0 0;}


/* EXTRAS LANCAMENTO */
.nivelA .nivelB .bloco-destaquesDoDia h2 {font-weight:700}
.mapaDoSite ul li.titulo {font-weight:700} 
