.dataTables_filter {
	display: none;
}

.streams  .clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
.streams #ajax_loading {
	text-align: center;
	display: none;
}

.streams .clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}
.streams .hidden {
	display: none;
}
.nojsmsg {
	padding: 10px 15px 10px 40px;
	margin: 10px 0;
	overflow: hidden;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #e5e181;
	background: #fefde2 url(/media/img/stream/nojs.png) 12px 12px no-repeat;
	color: #666;
}
#viewsave_info {
	padding: 12px 15px 10px 40px;
	overflow: hidden;
	display: none;
	line-height: 16px;
	border-left: 1px solid #bbdbe0;
	border-right: 1px solid #bbdbe0;
	border-bottom: 1px solid #bbdbe0;
	background: #ecf9ff url(/media/img/stream/info.png) 10px center no-repeat;
	color: #0888c3;
}

wbr:after { content: "\00200B" }

.streams .clearfix {
	display: inline-block;
}

.streams * html .clearfix {
	height: 1%;
}

.streams .clearfix {
	display: block;
}

.streams  {
    float: left;
    margin-left: 3px;
    overflow: hidden;
    padding: 12px;
    width: 704px;
}

/* Large display 1200px and above */
@media screen and (min-width: 1200px) {
.streams { width: 910px !important; }
} 

#calendar {
    background-color: #fff;
    margin-top: 12px;
    padding: 12px;
}

.streams a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
.streams table {
    border-collapse:collapse;
    border-spacing:0;
}
.streams table td.lang{
	background-repeat:no-repeat;
	background-position: 8px center;
	text-indent: -999px;
}

.streams table td.german{
	background-image: url('/media/img/stream/german.png');
}

.streams table td.dl{
	background-image: url('/media/img/stream/dl.png');
}

.streams table td.english{
	background-image: url('/media/img/stream/english.png');
}

.streams table td.eng{
	background-image: url('/media/img/stream/eng.png');
}

.streams table td.info{
	background-image: url('/media/img/stream/add.png');
}
.streams option.geropt {
	background-image:url('/media/img/stream/german.png');
	background-repeat: no-repeat; 
	background-position: 3px center; 
	padding-left: 24px;
}
.streams option.engopt {
	background-image:url('/media/img/stream/english.png');
	background-repeat: no-repeat; 
	background-position: 3px center; 
	padding-left: 24px;
}
.streams option.intopt {
	background-image:url('/media/img/stream/eng.png');
	background-repeat: no-repeat; 
	background-position: 3px center; 
	padding-left: 24px;
}
.streams option.dl {
	background-image:url('/media/img/stream/dl.png');
	background-repeat: no-repeat; 
	background-position: 3px center; 
	padding-left: 24px;
}
.streams {
	color: #444;
	font: 12px/15px Arial, sans-serif;
}

.streams a {
	color: #0d8b9b;
	text-decoration: none;
}
.streams a:hover {
	color: #cb6400;
}


div.streams div#stream_container {
	margin:0; 
	padding:0; 
	border:0; 
}
div.streams .gtable {
	width: 100%;
	overflow: hidden;
}
div.streams .gtable th {
	text-align: left;
	padding: 5px 5px;
}
div.streams .gtable thead tr {
	color: #333;
	border: 1px solid #ccc;

}
div.streams .gtable thead tr .sortable{
	cursor: pointer;
}
div.streams .gtable thead th {
	background: #efefef;
}
div.streams .gtable thead th {
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fff), to(#efefef));
	background: -moz-linear-gradient(#fff, #efefef);
	background: linear-gradient(#fff, #efefef);
	-pie-background: linear-gradient(#fff, #efefef);
}
div.streams .gtable tbody tr td {
	border-bottom: 1px solid #eee;
}
div.streams .gtable .clickable {
    cursor: hand; 
    cursor: pointer;
}
div.streams #table1 tbody tr.odd td {
	background-color: #f7f7f7;
}
div.streams #table1 tbody tr.even td {
	background-color: #fff;
}
div.streams .gtable tbody tr:hover td {
	background-color: #FFFAE3;
}
div.streams .gtable td {
	padding: 5px 5px;
}
 div.streams .gtable input {
	vertical-align: middle;
}
div.streams .gtable a img {
	vertical-align: middle;
	margin-right: 5px;
}
div.streams .gtable span.scroll_next img, div.streams .gtable span.scroll_prev img {
	vertical-align: middle;
}
div.streams .gtable span.scroll_next img {
margin:0;
}
div.streams .tablecontrol {
	background: #f7f7f7;
	border-top: 1px solid #fff;
	padding-top: 5px;
}
div.streams .tablecontrol .selectors {
	float: left;
	padding: 5px 10px;
}
div.streams .tablecontrol .stopfilter {
	float: right;
	padding: 5px 10px;
}
div.streams .tablecontrol .inlinesearch {
	float: right;
	padding: 5px 10px;
}
div.streams .stopfilter {
	font: 11px Tahoma, sans-serif;
	margin: 7px 0;
	text-align: right;
}
div.streams .stopfilter a {
	padding: 4px 7px;
	color: #333;
	background: #fff;
	margin: 0;
	border: 1px solid #e4e4e4;
}
div.streams .stopfilter a:hover {
	color: #fff;
	background: #777;
	border: 1px solid #777;
}


div.streams .inlinesearch {
	font: 11px Tahoma, sans-serif;
	margin-top: 4px;
	text-align: right;
}

div.streams .inlinesearch label{
	font-size: 13px;
}

div.streams .inlinesearch input#mybox{
	width: 120px;
}
div.streams  form select , div.streams  form input{
	border: 1px solid #ccc;
	background: #fff url('http://serienjunkies.org/media/img/stream/input-bg.gif') 0 0 repeat-x;
}

div.streams  form select {
	padding: 4px 5px;
}

div.streams  form input {
	padding: 2px 4px;
}

div.streams  form select:hover, div.streams  form input:hover {
	border: 1px solid #999;
}

div.streams  form select:focus, div.streams  form input:focus {
	border: 1px solid #777;
}
div.streams form select, div.streams form input{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
div.streams ul.tabs {
    border-bottom: 3px solid #fff;
    font-size: 13px;
    font-weight: bold;
    line-height: 14px;
    margin: 0;
    padding: 7px 0;
    /* width: 705px; */
}
div.streams .tabs li {
	display: inline;
}
div.streams .tabs a {
    background: #f3f3f3 none repeat scroll 0 0;
    color: #212121;
    font-weight: normal;
    outline: 0 none;
    padding: 6px 12px;
}
div.streams .tabs a:hover {
	color: #555;
	background: #eee;
}
div.streams .tabs .selected a {
    background: white none repeat scroll 0 0;
    color: #ff5118;
}


div.streams  .gtable tr.detail {

}
div.streams  .gtable tr.detail td {
	padding: 0;
}
div.streams  .gtable tr.detail td td, .gtable tr.detail td th {
	padding: 8px 10px;
	color: #777;
}
div.streams  .gtable .detail table {
	width: 100%;
}
div.streams  .gtable .detail table tr td, .gtable .detail table tr th {
	background: #ffffed;
	border-bottom: 1px solid #fff7d1;
}
div.streams  .gtable .detail table tr td span {
	color: #a0a0a0;
}

div.streams .fright {
	float: right;
}
a#show_menu span {
	padding: 0 8px;
	background: url('/media/img/stream/view_mode.png') no-repeat center center;
}

div#viewsave_info div.fright label {
	padding-right: 50px;
}

div#viewsave_info div.fright input[type="radio"], div#viewsave_info div.fright label {
	cursor: pointer;
}

div#viewsave_info div.fright label.active, div#viewsave_info div.fright label:hover{
	text-decoration:underline;
	color: #cb642d;
}

div#viewsave_info div#desc_text {
	float: left; 
	width: 520px; 
	padding-top: 9px;
}

.streams table .sorting_asc span{
	padding-left: 13px;
	background: url('/media/img/stream/sort_asc.png') no-repeat center center;
}
.streams table .sorting_desc span{
	padding-left: 13px;
	background: url('/media/img/stream/sort_desc.png') no-repeat center center;
}
.streams table .sorting span{
	padding-left: 13px;
	background: url('/media/img/stream/sort_both.png') no-repeat center center;
}
.streams table img.hdlogo {
	padding-right: 11px;
}
.streams table td.format{
	background-repeat:no-repeat;
	text-indent: -999px;
	padding-right: 0px;
}

.streams table td.hd{
	background-position: 5px center;
	background-image: url('/media/img/stream/hd.png');
}

.streams table td.sq{
	background-position: 7px center;
	background-image: url('/media/img/stream/sq.png');
}
a.group_parent  {
	color: #000;
	letter-spacing: -1px;
	background-image: url('/media/img/stream/application_cascade.png');
	background-repeat: no-repeat;
	padding: 4px 6px 4px 18px;
	background-position: left center;
}