body {
    margin: 0;
    padding: 0;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 0.9em;
    text-align: center;
    color: #29303B;
    /* background: #636363 url(img/bg.gif); */
    background: #636363 url("img/background_main.jpg") no-repeat fixed center top / cover ;
}

a:link, a:visited {
    /* color: #8a3207; */

    color: #000;
    text-decoration: none;
    word-wrap: break-word;
}

a:hover, a:active {
    /* color: #753206; */
    /* text-decoration: underline; */

    color: #f55f23;
    text-decoration: none;

}

#outer {
    box-shadow: 0 50px 30px 10px rgba(0,0,0,0.75);
	-webkit-box-shadow: 0 50px 30px 10px rgba(0,0,0,0.75);
	-moz-box-shadow: 0 50px 30px 10px rgba(0,0,0,0.75);
    margin: 0 auto;
    margin-top: 90px;
    width: 999px;

}

/* Large display 1200px and above */
@media screen and (min-width: 1200px) {
#outer { width: 1200px !important; }
}

#rap {
    background: #ededed;
    text-align: left;
    font-family: Trebuchet MS, Georgia, Arial, serif;
    font-size: 0.9em;
}

#search {
    background-color: #ffffff;
    padding: 6px;
    margin-bottom: 15px;
}

#inputString {
    -webkit-box-shadow: inset 3px 2px 8px 2px rgba(240, 240, 240, 1);
    -moz-box-shadow: inset 3px 2px 8px 2px rgba(240, 240, 240, 1);
    box-shadow: inset 3px 2px 8px 2px rgba(240, 240, 240, 1);
    background: #ffffff;
    width: 830px;
    height: 40px;
    float: left;
    margin-right: -18px;
    padding-left: 20px;
    padding-right: 10px;
    font-size: 14px;
    color: #333333;
}

/* Large display 1200px and above */
@media screen and (min-width: 1200px) {
#inputString { width: 1033px !important; }
}

#submitSearch {
    width: 128px;
    height: 42px;
    background-color: #F55F23;

    font-size: 14px;
    color: #ffffff;
    border: none

}

/*
#header {
	background: url(http://justpic.info/images/4b65/big.jpg) no-repeat center; 
 	height: 175px;
	margin: 0;
	padding:0;
}
*/

#content {
    float: left;
    padding: 12px;
    margin-left: 15px;

    background-color: #ffffff;
    overflow: hidden;
    width: 680px;
}

/* Large display 1200px and above */
@media screen and (min-width: 1200px) {
#content { width: 886px !important; }
}

#sidebar {
    background-color: #ffffff;
    display: inline-block;
    float: right;
    margin: 0 15px 0 8px;
    padding: 15px;
    width: 210px; 
} 

/* Large display 1200px and above */
@media screen and (min-width: 1200px) {
#sidebar { margin: 0px 15px 0 8px; }
}

.up25 > #sidebar {
    float: right;
    margin-top: 0 !important;
}

a img {
    border: none;
}

h3 {
    margin: 0;
    padding: 0;
    font: normal 1.3em verdana, helvetica, sans-serif;
}

p {
    margin: 0 0 1em;
    padding: 0;
    line-height: 1.5em;
}

h1, h2, h3, h4 {
    font-family: Trebuchet MS,Georgia,Arial,serif;
    font-weight: normal;
}

#header h1 {
    margin: 0;
    font-size: 1.6em;
    color: #f0f0f0;
    letter-spacing: 0.5em;
    padding: 10px;
    text-align: right;
}

h2 {
    margin: 0;
    padding: 5px 0;
    font-size: 1.4em;
    color: #333;
    font-weight: bold;
}

h3 {
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    color: #333;
    font-weight: bold;
}

#sidebar h2 {
    margin: 0;
    padding: 5px;
    font-size: 0.9em;
    color: #333;
    border-bottom: #eee 1px solid;
}

h4 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.1em;
    color: #999;
}

#sidebar ul, #sidebar form {
    list-style-type: none;
    padding: 0.5em;
    margin: 0;
}

#sidebar ul li {
    margin: 0.5em 0 0 0;
    padding: 0;
    font-size: 0.9em;
}

#sidebar ul li h2 {
    background: none;
    border-bottom: #eee 1px solid;
}

#sidebar ul li ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: none;
}

#sidebar ul li ul li {
    margin: 0.5em 0 0 0.5em;
    padding: 0;
    font-size: 1em;
}

#sidebar li a:link, #sidebar li a:visited {
    color: #8a3207;
    text-decoration: none;
}

#sidebar li a:hover {
    color: #753206;
    border-bottom: 1px solid #753206;
}

#header a:link, #header a:visited, #header a:hover, #header a:active {
    color: #f0f0f0;
    text-decoration: none;
    border-bottom: none;
}

#content ul {
    margin-left: 0;
    padding-left: 15px;
    list-style-type: none;
}

#content ul li {
    background: url(img/bullet.png) no-repeat 0 7px;
    padding-left: 1.5em;
}

.post-footer, .copyright {
    margin-bottom: 3em;
    font-size: 0.9em;
    color: #666;
    font-family: Verdana, Arial, Serif;
    border-bottom: #eee 1px solid;
}

.post-content {
    padding: 0;
    margin: 0;
    width: 100%;
    word-wrap: break-word;
}

.post-title {
    margin: 0 0 0.2em;
    text-align: right;
    padding: 0.5em 1em 0 0;
    color: #333;

}

.post-title em {
    text-decoration: none;
    float: left;
    font-style: normal;
    font-size: 0.9em;
    padding: 0;

}

hr {
    display: none;
}

#footer {
    margin: 0;
    padding: 7px 20px;
    border-top: 1px solid #e6e6e6;
    clear: both;
    font-size: 0.9em;
    color: #999;
    background: #fff;
    text-align: center;
}

#footer a {
    border: none;
    color: #7A7636;
}

fieldset {
    border: none;
}

fieldset p {
    width: 100%;
}

.field label {
    display: block;
}

textarea {
    width: 90%;
    height: 20em;
    border: 1px solid #aaa;
}

ul#gnav  {
    list-style: none;
    text-align: left;
    font-size: 1em;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: 0;
    padding: 0;

}


#gnav li {
    list-style: none;
    display: inline;
    margin-right: 5px;
    padding: 0;
    float: left;

}

#gnav li a:link, #gnav li a:visited {
    text-decoration: none;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    color: #ffffff;
    height: 35px !important;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 35px;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f75e0b+11,e20200+100 */
    background: #f75e0b; /* Old browsers */
    background: -moz-linear-gradient(top,  #f75e0b 11%, #e20200 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #f75e0b 11%,#e20200 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #f75e0b 11%,#e20200 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f75e0b', endColorstr='#e20200',GradientType=0 ); /* IE6-9 */

}

#forumNotice {

    text-align: center;
    padding: 30px;
    margin: 15px;
    background: #d00000; /* Old browsers */
    background: -moz-linear-gradient(top,  #d00000 11%, #e50000 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #d00000 11%,#e50000 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #d00000 11%,#e50000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d00000', endColorstr='#e50000',GradientType=0 ); /* IE6-9 */
    font-size: 18px;
    color: #ffffff;
    text-transform: uppercase;
    border: 1px solid #ffffff;
}

#forumNotice a {
    color: #FEA82D;
    font-weight: bold;
    text-decoration: underline;
}


#gnav li a:hover, #gnav li a:active {

    background: #f75e0b;
    color: #ffffff;

}

#gnav li.current_page_item a:link, #gnav li.current_page_item a:visited, #gnav li.current_page_item a:hover, #gnav li.current_page_item a:active {
    background: #ffffff;
    color: #333333;
}

/* new pagination */
div#apz {
    height: 28px;
    vertical-align: bottom;
    font-family: sans-serif;
    font-size: 11px;
    margin: 3px 0 0 5px;
}

.apz_container a.letter {
    margin: 1px 1px 0 0;
    width: 29px;
    height: 28px;
    float: left;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    color: #606060;
    line-height: 28px;
    border: 1px solid #ddd;
    text-decoration: none;
}

.apz_container a.letter:hover {
    border: 1px solid #a0a0a0;
    background-color: #FFF;
    color: #c73131;
}

.apz_container a.letter:active, .apz_container a.letter#selected {
    color: #fff;
    background-color: #000;
    border: 1px solid #000;
}

.clear {
    clear: both;
}

#sidebar h2 span {
    font-weight: normal;
    font-size: 11px;
    padding-left: 53px;
}

.post-content fieldset {
    padding: 8px 0px 4px 8px;
    margin: 12px 0 12px 0;

    color: #000;
    width: 100%;

}



.post-content fieldset br {
    display: block;
    line-height: 30px;

}

.post-content div.info {
    padding: 3px 5px;
    background-color: #f0f0f0;
    width: 100%;
    margin-bottom: 5px;
}

.post-content legend {
    background: #ededed;
    padding: 8px;
}

.post-content legend span {
}



.post-content fieldset div {
    /* border-bottom: 3px solid #ecedfd; */
    margin: 15px 8px 15px 0px;
    line-height: 1.5em;
}

.suggestionsBox {
    background: white none repeat scroll 0 0;
    border: 0 solid #cccccc;
    display: none;
    font-size: 14px;
    line-height: 20px;
    margin-left: 5px;
    margin-top: -22px;
    padding: 10px;
    position: absolute;
    width: 842px;
    z-index: 99;
    -moz-box-shadow: 3px 6px 5px #cccccc;
    -webkit-box-shadow: 3px 6px 5px #cccccc;
    box-shadow: 3px 6px 5px #cccccc;
}

.suggestionList {
    margin: 0;
    padding: 0;
}

.suggestionList span:nth-child(odd) a {
    background-color: #f0f0f0;
}

.suggestionList span a {
    background-color: #fff;
}

.suggestionList a {
    text-decoration: none;
    border: 0;
    color: #333333;
    display: block;
    padding: 4px 4px;
    cursor: pointer;
    border-bottom: 0px solid #e0e0e0;
}

.suggestionList span:last-child a {
    border-bottom: 0;
}

.suggestionList a:hover {
    background-color: #F55F23 !important;
    color: #fff;
}

input {
    font-family: Tahoma, Arial, sans-serif;
    padding: 0;
    margin: 0;
}

input.stext {
    font-size: 14px;
    width: 110px;
    height: 20px;
    line-height: 20px;
    border: 1px solid #cccccc;
    margin-right: 5px;
    display: block;
    padding-left: 3px;
}

#tagcloud {
    width: 190px;
    padding: 10px;
    font-family: Arial, Helvetica;
    border: 1px solid #ccc;
    overflow: hidden;

}

#tagcloud {
    border: 1px solid #ccc;
    background: #303030;
    padding: 10px 5px 10px 5px;
    font-family: Arial, Tahoma, Helvetica;
    width: 190px;
    overflow: hidden;
    text-align: center;
}

#tagcloud .tag1 {
    font-size: 10px;
    color: #5c5c5c;
    font-weight: bold;
}

#tagcloud .tag2 {
    font-size: 11px;
    color: #6b6b6b;
    font-weight: bold;
}

#tagcloud .tag3 {
    font-size: 12px;
    color: #7a7a7a;
    font-weight: bold;
}

#tagcloud .tag4 {
    font-size: 14px;
    color: #8a8a8a;
    font-weight: bold;
}

#tagcloud .tag5 {
    font-size: 17px;
    color: #999999;
    letter-spacing: -1px;
}

#tagcloud .tag6 {
    font-size: 20px;
    color: #a8a8a8;
    letter-spacing: -1px;
}

#tagcloud .tag7 {
    font-size: 23px;
    color: #b8b8b8;
    letter-spacing: -1px;
}

#tagcloud .tag8 {
    font-size: 26px;
    color: #c7c7c7;
    letter-spacing: -1px;
}

#tagcloud .tag9 {
    font-size: 29px;
    color: #d6d6d6;
    letter-spacing: -2px;
}

#tagcloud .tag10 {
    font-size: 32px;
    color: #e5e5e5;
    letter-spacing: -3px;
}

#tagcloud a {
    text-decoration: none;
    line-height: 1em;
    padding: 0 2px;
    border-left: 1px solid #303030;
}

#tagcloud a:hover {
    text-decoration: none;
    background-color: #fff;
    color: #bb0000;
    border-left: 1px solid #ff0000;
}

#tagcloud strong {
    color: #fff;
}

.bottomnav {
    margin-left: 180px;
    text-align: center;
    margin-top: 10px;
    width: 250px;
    font-weight: bold;
}

#scb {
    padding-left: 10px;
    padding-top: 4px;
    padding-bottom: 10px;
    width: 183px;
}

#scb a {
    text-decoration: none;
}

#scb img {
    padding-bottom: 1px;
    border: none;
}

#scb .bkname {
    padding-bottom: 3px;
    font-size: 16px;
    color: #000;
}

#scb .bkname a {
    font-size: 12px;
    font-weight: normal;
}

#scb .bkname a:hover {
    text-decoration: underline;
    color: #000;
}

div#pBadge, div#pBadge a, div#pBadge img {
    position: fixed;
    top: 0;
    right: 0;
    border: 0;
    height: 125px;
}

/* Large display 1200px and above */
@media screen and (min-width: 1200px) {
div#pBadge, div#pBadge a, div#pBadge img  { height: 125px; }
}

/* Large display 1250px and above */
@media screen and (min-width: 1600px) {
div#pBadge, div#pBadge a, div#pBadge img  { width: 185px !important; height: 185px; }
}

.feeds {
    padding-left: 10px;
    padding-top: 4px;
    padding-bottom: 10px;
    width: 183px;
    line-height: 19px;
}

.feeds div.rss {
    background-position: left center;
    background-image: url('http://serienjunkies.org/media/rss/rss.png');
    background-repeat: no-repeat;
    padding-left: 20px;
}

.feeds div#addthis {
    margin-top: 2px;
}

.feeds div#twit {
    background-position: left center;
    background-image: url('http://serienjunkies.org/media/rss/tw.png');
    background-repeat: no-repeat;
    padding-left: 20px;
}

#wrzcontainer {
    font-size: 0.825em;
    font-size: 13px;
    color: #444444;
    font-family: Arial, Helvetica, sans-serif;
    background: url(img/bg.png) repeat-x #47525c;
    border: 2px solid #48535e;
    margin: 0 auto;
    width: 546px;
    padding: 5px;
    position: relative;

}

#wrzresults a, #wrzresults a:visited {
    color: #0196e3;
    text-decoration: none;
    outline: none;
}

#wrzresults a:hover {
    text-decoration: underline;
}

#wrzhead:hover {
    background-color: #47525c;
    border: 1px solid #38434d;
    margin: -1px;
    cursor: pointer;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

}

#wrzhead {
    color: white;
    cursor: pointer;
    font-size: 20px;
    margin: 0 2px 0 0;
    padding: 5px;
    text-shadow: 0 1px 1px black;
}

#wrzhead a, #wrzhead a:hover, #wrzhead a:active {
    color: #fff;
    text-decoration: none;
}

#line {
    height: 1px;
    overflow: hidden;
    background-color: #2b353d;
    border-bottom: 1px solid #687581;
    margin: 10px 0;
}

div#divfromouterspace {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    width: 560px;

}

div#divfromouterspace img {
    float: right;
    padding-right: 5px;
    padding-top: 5px;
}

div#inner {
    border: 7px solid #333333;
    padding-left: 2px;
}

div#cont {
    background-color: #ffffff;
    padding-bottom: 10px;
}

div#head {
    padding: 5px 10px;
    background-color: #dcdcdc;
    font-weight: bold;
    color: #4c4c4c;
    font-size: 16px;
}

div#links ul {
    list-style: square;
    padding-left: 25px;
    margin: 10px 0 0 0;
    color: #333333;
}

div#links ul li {
    padding: 0;
    margin: 0;
}

div#links ul li a {
    color: #0d0d0d;
}

.wp-paginate {
    padding: 0;
    margin: 0;
}

.wp-paginate li {
    display: inline;
    list-style: none;
}

.wp-paginate a {
    background: #fff;
    border: 1px solid #ddd;
    color: #606060;
    margin-right: 4px;
    padding: 3px 6px;
    text-align: center;
    text-decoration: none;
}

.wp-paginate a:hover, .wp-paginate a:active {
    background: #FFF;
    color: #c73131;
    border: 1px solid #a0a0a0;
}

.wp-paginate .title {
    color: #555;
    margin-right: 4px;
}

.wp-paginate .gap {
    color: #999;
    margin-right: 4px;
}

.wp-paginate .current {
    color: #fff;
    background: #000;
    border: 1px solid #000;
    margin-right: 4px;
    padding: 3px 6px;
}

.wp-paginate .page {
}

.wp-paginate .prev, .wp-paginate .next {
}

#content div.is_searchresult {
    border: 1px solid #dddddd;
    margin-bottom: 20px;
}

#content div.is_searchhead {
    padding: 10px;
    margin: 0;
}

#content div.is_searchcontent {
    padding: 0px 10px 0px 10px;
}

#content div.is_searchfooter {
    border-top: 1px solid #eeeeee;
    padding: 5px 10px;
}

#dj_search {
    display: none;
}

#dj_search a:link, #dj_search a:visited {
    color: #226ca8;
    text-decoration: none;
    word-wrap: break-word;
}

#dj_search a:hover, #dj_search a:active {
    color: #59920c;
}

div.search_section {
    padding: 0;
    margin: 0;
    border: 0;
}

p.qsep {
    padding: 5px 2px 5px 29px;
    /* -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px; */
    /* background-color: #F4F4F4; */
    background-color: #ffdcd1;
    /* border: 1px solid #ccc; */
    border: 1px solid #ff5118;
    background-image: url('img/qsep.png');
    background-repeat: no-repeat;
    background-position: 4px center;
    vertical-align: middle;
    /* width: 95%; */
    /* color: #fff; */
}

.qsep > a:hover { color:#ff5118; }

.download_main {
    padding: 15px;
    margin-bottom: 12px;
    background-color: #EDF4FC;
    border: 1px solid #CBE3FF;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#top_banner {
    background: rgba(0, 0, 0, 0) url("http://justpic.info/images4/f326/header.png") no-repeat scroll 0 0;
    height: 218px;   
    margin-top: -6px;
}

fieldset p:first-of-type {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    color: #f55f23;
    font-size: 18px;
    font-weight: 100 !important;
    margin-top: 10px;
    padding: 0 !important;
}

.grey-box {
    background: #f8f8f8 none repeat scroll 0 0;
    padding: 10px;
}

.cat-title {
    color: #f55f23;
    font-size: 18px;
    font-weight: 100 !important;
    padding-left: 10px;
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(255, 82, 24);
    background: rgba(255, 82, 24, 0.8);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #fff !important;
    line-height: 50px;
/* Safari */
-webkit-transform: rotate(-90deg);

/* Firefox */
-moz-transform: rotate(-90deg);

/* IE */
-ms-transform: rotate(-90deg);

/* Opera */
-o-transform: rotate(-90deg);

/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
    color: #ff5218 !important;
}

#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

fieldset p strong {
    padding-left: 10px;
}

.page-item-32641 {
    display: none !important;
}

#content ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#content ul li {
    padding-left: 0;
}

.grey-box li {
    float: left;
    width: 400px;
}