@charset "utf-8";

/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button{margin:0;padding:0}
fieldset,img{border:0 none}
dl,ul,ol,menu,li{list-style:none}
blockquote, q{quotes: none}
blockquote:before, blockquote:after,q:before, q:after{content:'';content:none}
input,select,textarea,button{vertical-align:middle}
input::-ms-clear{display:none}
button{border:0 none;background-color:transparent;cursor:pointer}
body{background:#fff;direction:ltr}
body,h1,h2,h3,h4,th,td,input,select,textarea,button{font-size:12px;line-height:1.5;font-family:'돋움',dotum,sans-serif;color:#333}
a{color:#262626;text-decoration:none}
a:hover{color:#4559e9;text-decoration:underline}
a:active{background-color:transparent}
address,caption,cite,code,dfn,em,var{font-style:normal;font-weight:normal}
header,main,aside,article,footer{display:block}

.screen_out{overflow:hidden;position:absolute;width:0;height:0;line-height:0;text-indent:-9999px}

/* font style */
.fc_2b{color:#2b5cd3}
.fc_e7{color:#e72c68}
.fw_b{font-weight:bold}

/* layout */
.dcWrap{width:1000px;margin:0 auto}
.dcHead{position:relative;width:1000px;z-index:100}
.dcContent{width:1000px;margin-top:10px}
.dcContent:after{display:block;height:0;content:".";font-size:0;visibility:hidden;clear:both}
.content_top{width:1000px;height:1798px} /*161114 수정*/
.content_top:after{display:block;height:0;content:".";font-size:0;visibility:hidden;clear:both}
.dcFoot{width:1000px;padding-bottom:30px}

/* 광고 */
.ad_top{width:728px;height:90px;margin-bottom:7px;padding:5px;border-bottom:1px solid #ddd;border-left:1px solid #ddd;border-right:1px solid #ddd;background:#fff;overflow:hidden}/*161103 overflow:hidden 추가*/
.column_right .ad_top{width:250px;height:250px;margin:7px 0 0 0;padding:0;background:#fff;border:0}

/* area_ignb */
.area_ignb{position:absolute;top:2px;right:5px}
.area_ignb a{display:inline-block;line-height:16px;height:16px;text-indent:-9999px}
*:first-child+html .area_ignb a{text-indent:0}
.area_ignb .set_home{width:84px;background:url(http://nstatic.dcinside.com/dgn/galleryNew/images/sp_main.png) no-repeat 0 -152px}
.area_ignb .set_mobile{width:53px;background:url(http://nstatic.dcinside.com/dgn/galleryNew/images/sp_main.png) no-repeat -98px -152px}
.area_ignb .txt_bar{margin:0 5px 0 4px}

/* top head */
.top_head{display:inline-block;position:relative;z-index:0;width:1000px;height:112px;margin-top:25px;vertical-align:top}
.tit_dclogo{overflow:hidden;position:absolute;left:-50px;top:0;width:325px;height:110px;text-align:center}

/* gnb */
.dcgnb{width:998px;height:36px;background:#4165d0;border:1px solid #344f89;clear:both}
.dcgnb:after{display:block;height:0;content:".";font-size:0;visibility:hidden;clear:both}
.dcgnb li{float:left}
.dcgnb li.on{background:#233e79}
.gnb_list:after{display:block;height:0;content:".";font-size:0;visibility:hidden;clear:both}
.gnb_list .link_gnb{display:block;height:36px;font-weight:bold;color:#fff;font-size:12px;line-height:36px;text-align:center}
.gnb_list .gnb1{width:77px} /* 갤러리 */ 
.gnb_list .gnb2{width:73px} /* m.갤러리 */
.gnb_list .gnb3{width:65px} /* 갤로그 */
.gnb_list .gnb4{width:65px} /*161114 디시뉴스->DAN */
.gnb_list .gnb5{width:65px} /* 이벤트 */
/*.gnb_list .gnb6{width:73px;color:#fff200} /* 애니센터 */
.gnb_list .gnb6{width:65px} /* 160315 위너타 */
.gnb_list .gnb7{width:65px} /* 만두물 */
.gnb_list .gnb8{width:65px} /* 위너타 */
.gnb_list .gnb9{width:73px} /* 디시위키 */




/*160309 갤메인개편 2차메뉴 추가*/
.depth2 {position:absolute;width:150px;top:174px;left:0;z-index:100;border:1px solid #243861;text-align:left }
.depth2 li{height:30px;line-height:30px;background-color:#2b4479;border-top:1px solid #243861}
.dcgnb .depth2 li{float:none}
.depth2 li:first-child{border-top:0}
.depth2  li.on{background-color:#2b4479;font-weight:bold}
.depth2 li a{display:block;height:30px;padding:0 5px 0 14px;font-family:'돋움',dotum;font-size:12px}
.depth2 li a,.depth2 li a:hover,.depth2 li a:active{color:#e5e5e5;text-decoration:none}
.depth2  li.on a,.depth2  li.on a:hover,.depth2  li.on a:active{color:#7da0ff}
.depth2  li a:hover{color:#7da0ff;font-weight:bold}

/* old top_ad_box */
.dcgnb .top_ad_box{position:absolute;top:143px;right:10px}
.dcgnb .ad_bg{display:block;width:246px;height:27px;line-height:27px;background:url(http://nstatic.dcinside.com/dgn/gallery/images/top_ad_box.gif) 0 0 no-repeat;text-align:left}
.dcgnb .ad_bg a{display:block;color:#fff;padding-left:10px}
.dcgnb .ad_bg a span{position:absolute;top:1px;right:10px;color:#ecec40;font-size:11px}

.dcgnb .inr_exposure{position:relative;width:210px;height:27px;overflow:hidden}
.dcgnb .gall_exposure{position:relative}
.dcgnb .gall_exposure:after{display:block;content:"";clear:both}
.dcgnb .gall_exposure .bg_c{position:relative;display:inline-block;float:left;height:27px;margin:0;padding:0}
.dcgnb .gall_exposure .bg_c:after{display:block;content:"";clear:both}
.dcgnb .gall_exposure .bg_c{margin-top:0}
.dcgnb .gall_exposure .bg_c div{display:inline;float:left;height:27px;line-height:27px;font-weight:bold;font-size:14px;color:#78deff}
.dcgnb .gall_exposure .bg_c div span{display:inline-block;height:27px;line-height:27px;margin:0 5px 0 2px}

.dcgnb .gall_exposure .bg_c div.t_1 span{width:65px;background:url(http://nstatic.dcinside.com/dgn/gallery/images/tn_n1.png) 0 center no-repeat}
.dcgnb .gall_exposure .bg_c div.t_2 span{width:77px;background:url(http://nstatic.dcinside.com/dgn/gallery/images/tn_n2.png) 0 center no-repeat}
.dcgnb .gall_exposure .bg_c div.t_3 span{width:70px;background:url(http://nstatic.dcinside.com/dgn/gallery/images/tn_n3.png) 0 center no-repeat}
.dcgnb .gall_exposure .bg_c div.t_4 span{width:23px;background:url(http://nstatic.dcinside.com/dgn/gallery/images/tn_n4.png) 0 center no-repeat}

/* seachbox */
.wrap_search{position:absolute;width:441px;top:40px;left:299px/*margin:40px 0 0 299px*/}
.sch_inr{width:441px}
.sch_inr:after{display:block;height:0;content:".";font-size:0;visibility:hidden;clear:both}
.sch_smit .box_search{float:left;width:368px;height:32px;border-top:7px solid #2b5cd3;border-left:7px solid #2b5cd3;border-bottom:7px solid #2b5cd3;background:#fff}
.sch_smit .tf_keyword{width:323px;height:21px;margin:6px 0 0 9px;border:0;background-color:transparent;line-height:21px;font-weight:bold;font-size:16px;color:#000;outline: none}
.sch_smit .tf_keyword::-webkit-search-cancel-button{-webkit-appearance:none}
.sch_smit .btn_search{float:right;width:66px;height:46px;line-height:39px;background:#2b5cd3;font-size:14px;color:#fff;font-weight:bold}

/* old 검색자동완성 */
.search_keylayer{position:absolute;left:0;top:46px;width:439px;height:auto;background-color:#fff;border:1px solid #d6d6d6;z-index:100}
.keylayer_wrap{width: 100%;font-size:14px;margin-bottom:0;text-align:left}
.key_tit{height: 31px;padding:0 10px;line-height:31px;background-color: #f6f6f8;border-top: 1px solid #d6d6d6;border-bottom: 1px solid #d6d6d6;letter-spacing: -1px;color:#4d76ee}
.keylayer_wrap:first-child .key_tit{border-top: 0px solid #d6d6d6}
.key_list{padding:6px 0 7px}
.key_list li{font-family: "돋움";font-size: 12px;color:#555}
.key_list li a{display:block;overflow:hidden;width:418px;height:18px;padding:0 10px;line-height:19px;white-space:nowrap;text-overflow:ellipsis; -o-text-overflow:ellipsis}
.key_list li a:link ,.key_list li a:visited ,.key_list li a:hover ,.key_list li a:active,.key_list li a:focus{color:#555;text-decoration:none}
.key_list li a:hover{background-color:#f6f6f8} 
.key_close{overflow:hidden;padding:0;background-color: #f6f6f8;border-top: 1px solid #d6d6d6;font-size:11px}
.key_close a{display:block;float:right;height:24px;padding:11px 9px 1px 20px;color:#555;vertical-align:top}
.key_close a:link ,.key_close a:visited ,.key_close a:hover ,.key_close a:active ,.key_close a:focus{color:#555;text-decoration:none}
.key_close a img{margin-right:4px}

/* 인기검색어 */
.list_favorsch{overflow:hidden;position:absolute;top:-24px;left:0;width:383px;padding-left:20px;height:16px;line-height:15px;font-size:11px;background:url(http://nstatic.dcinside.com/dgn/galleryNew/images/sp_main.png) no-repeat -184px 0;text-align:left}
.list_favorsch li{display:inline}
.txt_bar{margin:0 7px;color:#d7d7d7}
.link_favorsch{color:#363636;letter-spacing:-1px}

/* 컨텐츠 */
.column_left{float:left;width:740px;height:1542px;background:#fff}
.column_right{float:right;width:250px;background:#fff}

/* 갤 공통 */
.area_gall{position:relative;width:738px;border-top:1px solid #ddd;border-bottom:1px solid #ddd;border-left:1px solid #ddd;border-right:1px solid #ddd}
.area_gall .sec_tit{width:738px;height:36px;background:#f3f3f3;border-bottom:1px solid #ddd;letter-spacing:-1px}
.area_gall .sec_tit:after{display:block;height:0;content:".";font-size:0;visibility:hidden;clear:both}
.area_gall .sec_tit h3{float:left;padding:0 0 0 18px;font-size:14px;line-height:36px}
.area_gall .link_more{float:left;width:48px;height:36px;margin:0 0 0 9px;background:url(http://nstatic.dcinside.com/dgn/galleryNew/images/sp_main.png) no-repeat -20px 13px;text-indent:-9999px;line-height:36px}

.area_gall .page{position:absolute;top:11px;right:13px}
.area_gall .page:after{display:block;height:0;content:".";font-size:0;visibility:hidden;clear:both}
.area_gall .box_btn{float:left}
.area_gall .box_btn:after{display:block;height:0;content:".";font-size:0;visibility:hidden;clear:both}
.area_gall .page .btn_page{float:left;width:15px;height:15px;background:url(http://nstatic.dcinside.com/dgn/galleryNew/images/sp_main.png) no-repeat -22px -38px;text-indent:-9999px}
.area_gall .page .btn_page.btn_prev{margin-right:2px;background-position:-22px -38px}
.area_gall .page .btn_page.btn_next{background-position:-36px -38px}
.area_gall .page .btn_prev.on{background-position:-52px -38px}
.area_gall .page .btn_next.on{background-position:-64px -38px}

.info_page{float:left;padding:0 11px 0 0;font-size:11px;line-height:13px;font-family:tahoma,sans-serif;color:#555}
.info_page .num_index{color:#555}
.info_page .txt_slash{font-weight:normal}

/* 힛갤 */
.sec_hit .list_hit:after{display:block;height:0;content:".";font-size:0;visibility:hidden;clear:both}
.sec_hit .list_hit li{float:left;width:160px;height:223px;padding:11px 12px 9px 12px;border-right:1px solid #ddd}
.sec_hit .list_hit li:hover{background:#f3f3f3}
.sec_hit .list_hit li .link_thumb{display:block;width:160px}
.sec_hit .list_hit li .link_thumb:hover{text-decoration:none;color:#363636}
.sec_hit .list_hit li.lst{width:159px;border-right:0}
.sec_hit .list_hit li .gl_txt, .sec_hit .list_hit li .gl_name{display:block;width:160px}
.list_hit li .gl_name{color:#4165d0;font-size:11px}
.sec_hit .list_hit li .frame{display:block;position:absolute;top:0;left:0;width:158px;height:158px;border:1px solid #ddd}
.sec_hit .list_hit li .thumb{display:block;position:relative;width:160px;height:160px;margin-bottom:8px;cursor: pointer}
.sec_hit .gl_txt{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;vertical-align:top}
.info_issue{display:block;margin-top:5px;font-size:11px}
.info_issue .txt_info{margin-right:5px;font-weight:bold;color:#555}
.info_issue .txt_info em.emph_g{margin-left:3px}

/* old hit 이미지 */
.ribbon{display: block;position:absolute;top:0;right:0;width:52px;height:52px;text-indent:-9999px}
.oh_1{background:url(http://nstatic.dcinside.com/dgn/galleryNew/images/oh_1.png) no-repeat 0 0}
.oh_2{background:url(http://nstatic.dcinside.com/dgn/galleryNew/images/oh_2.png) no-repeat 0 0}
.oh_3{background:url(http://nstatic.dcinside.com/dgn/galleryNew/images/oh_3.png) no-repeat 0 0}
.oh_4{background:url(http://nstatic.dcinside.com/dgn/galleryNew/images/oh_4.png) no-repeat 0 0}
.oh_5{background:url(http://nstatic.dcinside.com/dgn/galleryNew/images/oh_5.png) no-repeat 0 0}
.oh_6{background:url(http://nstatic.dcinside.com/dgn/galleryNew/images/oh_6.png) no-repeat 0 0}
.oh_7{background:url(http://nstatic.dcinside.com/dgn/galleryNew/images/oh_7.png) no-repeat 0 0}
.oh_8{background:url(http://nstatic.dcinside.com/dgn/galleryNew/images/oh_8.png) no-repeat 0 0}
.oh_9{background:url(http://nstatic.dcinside.com/dgn/galleryNew/images/oh_9.png) no-repeat 0 0}
.oh_10{background:url(http://nstatic.dcinside.com/dgn/galleryNew/images/oh_10.png) no-repeat 0 0}

/* 초개념 */
.sec_cho{width:738px;border-right:1px solid #ddd}
.sec_cho .list_cho{width:708px;padding:15px}
.sec_cho .list_cho:after{display:block;height:0;content:".";font-size:0;visibility:hidden;clear:both}
.sec_cho .list_cho li{float:left;width:338px;height:20px;line-height:20px;margin-right:18px;padding-left:7px;background:url(http://nstatic.dcinside.com/dgn/galleryNew/images/sp_main.png) no-repeat -198px -19px;white-space:normal}
.sec_cho .list_cho li a:hover{text-decoration:underline}

.sec_cho .list_cho li a.txt {display: inline-block;overflow:hidden;max-width:100%;padding-right:2px;white-space:nowrap;text-overflow:ellipsis;vertical-align:top}
.sec_cho .list_cho li.line{display:block;width:708px;height:1px;padding:16px 0 0 0;margin-top:14px;background:url(http://nstatic.dcinside.com/dgn/galleryNew/images/bg_dot.gif) repeat-x 0 0}
.sec_cho .list_cho li.lst{margin-right:0}
.sec_cho .list_cho li.img{width:345px;height:111px;padding-left:0}
.sec_cho .list_cho li.img .link_thumb{width:150px;height:100px}
.sec_cho .list_cho li.img .link_thumb:after{display:block;height:0;content:".";font-size:0;visibility:hidden;clear:both}
.sec_cho .list_cho li.img .thumb{position:relative;float:left;width:150px;height:100px;margin:0 14px 11px 0}
.sec_cho .list_cho li.img .thumb .frame{position:absolute;top:0;left:0;width:148px;height:98px;border:1px solid #ddd}
.sec_cho .list_cho li.img .txt_info{float:left;width:180px;margin-top:3px}
/* .sec_cho .list_cho li.img .txt_info .tit{display:inline-block;overflow:hidden;width:180px;white-space:nowrap;text-overflow:ellipsis;vertical-align:top} */
.sec_cho .list_cho li.img .txt_info .txt{display:block;;width:180px;height:68px;line-height:18px}
.sec_cho .list_cho li.img .txt_info:hover{display:block;text-decoration:underline}


/*161114 DNA(디시뉴스에이드)*/
.area_gall.dna{margin-bottom:7px}
.area_gall.dna .sec_tit h3{letter-spacing:0.05em}
.dna_content .dna_thumb,.dna_content .dna_thumb img,.dna_content .dna_thumb .thumb_txt,.dna_content .dna_thumb .thumb_tit{display:block}

.dna_content{height:211px;overflow:hidden}

.dna_content ul{overflow:hidden}
.dna_content li{float:left;width:160px;height:184px;margin-left:12px;padding:11px 0px 16px 12px;border-left:1px solid #ddd}
.dna_content ul li:first-child{padding-right:0;border-left:0;margin-left:0}
.dna_content .dna_thumb {width:160px}
.dna_content .dna_thumb img{border:1px solid #ddd}
.dna_content .txt_box{margin-top:7px}
.dna_content .thumb_tit,.dna_content .thumb_txt{overflow:hidden;max-height:37px;font-family:'돋움',dotum,sans-serif;font-size:12px;color:#363636}
.dna_content .dna_thumb:hover .thumb_tit ,.dna_content .dna_thumb:hover .thumb_txt{color:#4559e9}

.area_gall.dna .info_page{padding:0 11px 0}
/*//161114 DNA(디시뉴스에이드)*/








/* 개념글 */
.sec_cencept{height:465px;padding:5px 17px 13px 17px;.padding:5px 17px 12.5px 17px}
.sec_cencept:after{display:block;height:0;content:".";font-size:0;visibility:hidden;clear:both}
.sec_cencept .list_recom:after{display:block;height:0;content:".";font-size:0;visibility:hidden;clear:both} /* 160204 */
.sec_cencept .contlist{float:left;width:344px;margin:2px 15px 2px 0}
.sec_cencept .contlist.lst{margin-right:0}
.sec_cencept .cont_tit{position:relative;width:344px;background:url(http://nstatic.dcinside.com/dgn/galleryNew/images/bg_dot.gif) repeat-x 0 bottom;letter-spacing:-1px}
.sec_cencept .cont_tit:after{display:block;height:0;content:".";font-size:0;visibility:hidden;clear:both}
.sec_cencept h4{line-height:36px}
.sec_cencept .link_more{position:absolute;top:0;right:0;float:none;width: 48px;height: 36px;margin: 0 0 0 7px;background: url(http://nstatic.dcinside.com/dgn/galleryNew/images/sp_main.png) no-repeat -20px 13px;text-indent: -9999px;line-height: 36px}
.sec_cencept ul{margin-top:10px}
.sec_cencept ul li{width: 337px;height: 21px;line-height: 21px;margin-right: 15px;padding-left: 7px;background:url(http://nstatic.dcinside.com/dgn/galleryNew/images/sp_main.png) no-repeat -198px -19px;white-space: normal}
.sec_cencept ul li a {display: inline-block;overflow: hidden;max-width:100%;padding-right: 2px;white-space: nowrap;text-overflow: ellipsis;vertical-align: top}

/* 로그인 */
.login_wrap{position:relative;z-index:9;width:248px;height:108px;border:1px solid #ddd;background:#f8f8f8}
.login_wrap .box_user{float: left;position:relative;z-index:0;width:248px;height:108px}
.login_wrap .inp_box.pw{margin-bottom:0}
.login_wrap .int{position:relative;z-index:3;width:130px;height:17px;*margin-top:-1px;padding:3px 0 2px 5px;border:0;border-radius:0;background:#fff;line-height:16px;*line-height:20px;font-size:12px;color:#666;-webkit-appearance:none;zoom:1}

.log_inr{padding:14px 0 0 16px}
.log_inr:after{display:block;height:0;content:".";font-size:0;visibility:hidden;clear:both}
.inp_box{position: relative;z-index: 5;width:138px;height: 20px;margin-bottom:3px;border:1px solid #bebebe;zoom:1}
.login_inp {float:left;width:139px;margin-right:6px}
.login_inp .lab_login{overflow:hidden;position:absolute;top:0;left:0;width:133px;height:20px;padding-left:5px;font-size:11px;line-height:20px;color:#96969b;letter-spacing:-1px;cursor:text} /* 160211 */
.login_inp .lab_id {top:0}
.lbl_long{font-size:11px;color:#555;letter-spacing:-1px}
.login_inp .lab_pw {top:0;height:20px;line-height:20px}
.login_inp .tf_login{float:left;width:133px;height:20px;padding-left:5px;border:0 none;line-height:20px;background:#fff} /* 160211 */

.chk_id_login{position:relative;float:left}
.login_set{margin-top:3px}
.login_set .inp_steady {position:absolute;top:1px;left:0;width:13px;height:13px}
.login_set .lab_steady{float:left;padding:0 0 0 15px;font-size:11px;color:#6d7078;line-height:14px}
.login_set .link_protect {float:left;margin:11px 2px 0 0;color:#5e646f}
.login_set .inp_protect {position:absolute;right:4px;bottom:3px;width:13px;height:13px;border:0 none;z-index:-1}
.login_set .lab_security {float:left;width:21px;height:23px;margin-top:3px;background-position:-120px -67px;text-indent:-9999px;cursor:pointer}
.box_user .check_off .lab_security {width:28px;background-position:-145px -67px}
.login_set{float:left;width:70px}
.box_user .btn_login{width:70px;height:22px;margin-top:6px;line-height:22px;background:#2b5cd3;border:1px solid #2c4373;color:#fff;font-weight:bold;clear:both}
@media screen and (-webkit-min-device-pixel-ratio:0) {.box_user .btn_login{line-height:20px}} /* chrome */
@-moz-document url-prefix(){.box_user .btn_login{line-height:18px}}/* firefox */

.box_user .list_user {overflow:hidden;width:232px;margin:11px 0 0 0;padding-left:16px;font-size:11px;line-height:36px;letter-spacing:-1px;background:#fff;clear:both}
.box_user .list_user li {overflow:hidden;float:left}
.box_user .list_user li a{display:inline-block;line-height:36px;color:#555;vertical-align:top}
.box_user .list_user .fst {padding-left:0;background:none}
.box_user .list_user .link_join {color:#434a55}
.box_user .list_user .link_find {float:left;color:#6d7078}
.box_user .list_user .find_pw {display:inline;margin-left:1px;padding-left:2px}
.box_user .list_user .cd{width:13px;height:9px;margin-left:3px;padding:0 2px;color:#fff;vertical-align:top;text-indent:-9999px}
.box_user .list_user .cd.on{background:#94a4fe;border:1px solid #7185ff}
.box_user .list_user .cd.off{background:#a8a8a8;border:1px solid #9f9f9f}

/* 로그아웃 */
.box_user.logout{height:108px;background:#fff}
.loginfo{position:relative;padding:7px 12px;font-size:11px;background:#f3f3f3}
.btn_logout{position:absolute;top:7px;right:12px;width:52px;height:16px;line-height:16px;background:#2b5cd3;border:1px solid #2c4373;color:#fff;font-size:11px;clear:both}
*:first-child+html .btn_logout{height:18px;top:5px}/* ie7*/
@-moz-document url-prefix(){.btn_logout{line-height:12px}}/* firefox */

.list_top:after{display:block;height:0;content:".";font-size:0;visibility:hidden;clear:both} 
.list_top{padding-left:12px;height:27px;font-size:11px;line-height:27px;background:#fff url(http://nstatic.dcinside.com/dgn/galleryNew/images/bg_dot.gif) repeat-x 0 bottom}
.box_user dt, .box_user dd{float:left;color:#555}
.list_top dt{width:36px}
.list_top dt.rp{width:25px}
.list_top dd{width:42px;color:#2b5cd3}
.list_mdu{padding:0 12px;line-height:25px;background:#fff}
.list_mdu:after{display:block;height:0;content:".";font-size:0;visibility:hidden;clear:both} 
.list_mdu .mdu{width:37px;height:16px;margin:3px 5px 0 0;background: url(http://nstatic.dcinside.com/dgn/galleryNew/images/sp_main.png) no-repeat -87px -71px;text-indent: -9999px;line-height:25px;vertical-align:top}
.list_mdu .num{font-weight:bold}
.list_mdu dd{font-size:11px;color:#555;line-height:25px}
.list_mdu dd.cont_cash{float:right}
.btn_cash{margin-left:4px;padding:0 1px;height:16px;line-height:16px;background:#ff4400;border:1px solid #e72e00;color:#fff;font-size:11px}
@-moz-document url-prefix(){.btn_cash{line-height:12px}}/* firefox */
*:first-child+html .btn_cash{padding:0;margin-left:2px;height:20px}
.box_opt{margin-top:2px;padding:0 12px 6px 12px}
.box_opt:after{display:block;height:0;content:".";font-size:0;visibility:hidden;clear:both} 
.btn_opt{float:left;width:142px;height:18px;background: url(http://nstatic.dcinside.com/dgn/galleryNew/images/sp_main.png) no-repeat 0 -182px;text-indent:-9999px}
@-moz-document url-prefix(){.btn_opt{line-height:12px}}/* firefox */
.btn_member{float:right;width:74px;padding:0 3px;height:18px;line-height:18px;background:#999;border:1px solid #858585;color:#fff;font-size:11px}
@-moz-document url-prefix(){.btn_member{line-height:12px}}/* firefox */
*:first-child+html .btn_member{line-height:16px}/* ie7*/

/* old 마이갤러리 */
.mygallery{width:142px; border:1px solid #f5f5f5;background-color:#fff;position:absolute;left:9px;top:90px;padding:0px 0px 0px 0px;display:none}
.mygallery .wrap{border:1px solid #85a2b8;background-color:#fff}
.mygallery .quick{background:url(http://wstatic.dcinside.com/main/main2011/dcmain/bg_logon.gif) repeat-x; height:61px}
.mygallery .quick li{float:left; display:block; text-align:center;  color:#fff; font-size:11px; letter-spacing:-1px}
.mygallery .quick a:link,
.mygallery .quick a:visited,
.mygallery .quick a:hover,
.mygallery .quick a:active{display:block;height:61px;color:#fff;text-decoration:none}
.mygallery .quick span{display:block; padding-top:30px}
.mygallery ul.tab{background-color:#f3f3f3;border-top:1px solid #93b0c6;border-bottom:1px solid #f5f5f5;overflow:hidden}
.mygallery ul.tab li{float:left;height:28px;line-height:28px; text-align:center;font-size:11px;letter-spacing:-1px;font-family:'dotum';border-bottom:1px solid #adadad; _background-color:#f3f3f3} 
.mygallery li.t1,
.mygallery li.t1 a{width:67px}
.mygallery li.t2,
.mygallery li.t2 a{width:72px}
.mygallery .tab li.t2{border-left:1px solid #adadad}
.mygallery .tab li.on{background-color:#fff;font-weight:bold; border-bottom:1px solid #fff}
.mygallery .tab li a{display:block; height:28px; text-decoration:none; color:#555}
.mygallery ul.list{clear:left; overflow:auto; height:150px; padding-top:10px;overflow:hidden; width:100%; height:100%;scrollbar-highlight-color:#fff; scrollbar-3dlight-color:#ccc;scrollbar-face-color:#fff; scrollbar-shadow-color:#ccc; scrollbar-darkshadow-color:white; scrollbar-track-color:#fff; scrollbar-arrow-color:#c}
.mygallery .list li{font-size:11px; letter-spacing:-1px; text-indent:10px; line-height:17px}

/* 실시간 북적 갤러리 */
.ranking_hotlive .sec_tit h3 {padding:0 0 0 15px;font-size:12px;line-height:36px}
.ranking_hotlive .sv_menu{position:absolute;top:0;right:10px}
.ranking_hotlive .sv_menu a{display:inline-block;line-height:36px;font-size:11px}
.ranking_hotlive .sec_tit .txt_bar{margin:0}
.ranking_hotlive .sec_tit .link_gall.on{color:#2b5cd3}
.ranking_hotlive .sec_tit .link_minorgall.on{color:#ee3c24}
.ranking_hotlive{margin-top:7px;border:1px solid #ddd}
.ranking_hotlive .sec_tit{position:relative;width:248px;height:37px;background:#f3f3f3}
.ranking_hotlive .list_hotlive{position:relative;padding:4px 15px 13.5px 15px;background:url(http://nstatic.dcinside.com/dgn/galleryNew/images/bg_dot.gif) repeat-x 0 bottom}/*161114 수정*/
.ranking_hotlive .list_hotlive li{overflow:hidden;position:relative;height:16px;margin-top:9px;.margin-top:8px;color:#0836a3;vertical-align:top;zoom:1}/*161114 .margin-top:8px 수정*/
.ranking_hotlive .list_hotlive li a{display:block;color:#0836a3;text-decoration:none;line-height:16px;cursor:pointer;letter-spacing:-1px}
.ranking_hotlive .list_hotlive li a img{vertical-align:middle}
.ranking_hotlive .list_hotlive li a:hover{text-decoration:none}
.ranking_hotlive .list_hotlive.gall li .rank{display:inline-block;overflow:hidden;width:14px;height:14px !important;margin-right:5px;border:1px solid #324d84;background:#2b5cd3;text-align:center;text-decoration:none;line-height:14px;vertical-align:top} /* 160204 */
.ranking_hotlive .list_hotlive.minor_gall li .rank{display:inline-block;overflow:hidden;width:14px;height:14px !important;margin-right:5px;border:1px solid #982f23;background:#e2451b;text-align:center;text-decoration:none;line-height:14px;vertical-align:top}
.ranking_hotlive .list_hotlive li .rank em{color:#fff;font-size:10px;font-weight:bold;font-family:tahoma,sans-serif;letter-spacing:-1px} /* 160204 */
.ranking_hotlive .list_hotlive .title{display:inline-block;overflow:hidden;width:176px;margin-top:2px;color:#363636;font-weight:normal;white-space:nowrap;text-overflow:ellipsis;vertical-align:top;line-height:14px}
.ranking_hotlive .list_hotlive.minor_gall .tit{width:176px;}

.ranking_hotlive .list_hotlive li .rank2{display:inline-block;margin-left:2px}
.ranking_hotlive .list_hotlive li.on .title{font-weight:bold}
.ranking_hotlive .list_hotlive li a:hover .title{text-decoration:underline !important}
.ranking_hotlive .link_more{display:block;line-height:34px;color:#555;text-decoration:underline;text-align:right;margin-right:15px}
.ranking_hotlive .ico_ranking{display:inline-block;width:9px;height:14px;margin-left:5px;background: url(http://nstatic.dcinside.com/dgn/galleryNew/images/sp_main.png) no-repeat 0 0;vertical-align:top}
.ranking_hotlive .ico_ranking.up{background-position:0 -20px}
.ranking_hotlive .ico_ranking.down{background-position:0 4px}
.ranking_hotlive .ico_ranking.same{background-position:0 -44px}
/* 신설갤 */
.ranking_hotlive .list_hotlive.new{height:250px;background:none} /* 160203 */
.ranking_hotlive .list_hotlive.new .title{width:218px}

/* 서비스 */
.content_service{width:998px;margin-top:7px;clear:both;border:1px solid #ddd}
.content_service:after{display:block;height:0;content:".";font-size:0;visibility:hidden;clear:both}
.content_service .sec_tit{width:998px;height: 36px;background:#f3f3f3;border-bottom: 1px solid #ddd;letter-spacing: -1px}
.content_service h3{padding:0 0 0 18px;font-size: 14px;line-height: 36px}
.cont_service{height:180px}

/* 디시위키 */
.wiki{float:left;width:319px;height:154px;padding:5px 17px 21px 17px;border-right:1px solid #ddd} /* 160404 */
.wiki .link_random{position: absolute;top: 0;right: 0;width:82px;height: 36px;margin: 0 0 0 7px;background: url(http://nstatic.dcinside.com/dgn/galleryNew/images/sp_main.png) no-repeat -80px 10px;text-indent: -9999px;line-height: 36px}
.wiki .cont_tit{position: relative;height:36px;background: url(http://nstatic.dcinside.com/dgn/galleryNew/images/bg_dot.gif) repeat-x 0 bottom; letter-spacing: -1px}
.cont_service h4{line-height:36px}
.cont_service:after{display:block;height:0;content:".";font-size:0;visibility:hidden;clear:both}
.box_random{padding-top:25px;text-align:center}
.inr_rd{width:319px}
.inr_rd:after{display:block;height:0;content:".";font-size:0;visibility:hidden;clear:both}
.box_random strong.rd_tit{display:inline-block;font-size:24px;color:#0e2e7b;line-height:30px;vertical-align:top}
.box_random .ql{display:inline-block;width:20px;height:30px;margin-right:4px;background: url(http://nstatic.dcinside.com/dgn/galleryNew/images/sp_main.png) no-repeat -181px -42px;vertical-align:top}
.box_random .qr{display:inline-block;width:20px;height:30px;margin-left:4px;background: url(http://nstatic.dcinside.com/dgn/galleryNew/images/sp_main.png) no-repeat -181px -75px;vertical-align:top}
.box_random .ptxt{margin:8px 0 0 0;line-height:18px}

/* 만두몰 */
.mandumall{float:left;width:606px;padding:5px 19px 13px 19px}
.mandumall .cont_tit{position: relative;width:606px;height:36px;margin-bottom:13px;background: url(http://nstatic.dcinside.com/dgn/galleryNew/images/bg_dot.gif) repeat-x 0 bottom; letter-spacing: -1px}
.mall_menu{position:absolute;top:0;right:0}
.mall_menu:after{display:block;height:0;content:".";font-size:0;visibility:hidden;clear:both}
.box_view{width:606px;height:113px}
.mall_menu li{float:left;line-height:36px;text-align:center}
.mall_menu li a{font-size:11px}
.mall_menu li.on a{font-weight:bold;color:#2b5cd3}

/* dcFoot */
.dc_all{width:998px;margin-top:10px;border-top:2px solid #4165d0;border-left:1px solid #ddd;border-right:1px solid #ddd;border-bottom:1px solid #4165d0;clear:both}
.dc_all:after{display:block;height:0;content:".";font-size:0;visibility:hidden;clear:both}
.wrap_view_all{width:1000px}
.sec_notice{overflow:hidden;position:relative;width:998px;height:38px;border-bottom:1px solid #ddd}
.sec_notice ul{height:38px;padding-left:18px}
.sec_notice ul li{padding-left:8px;line-height:38px;background:url(http://nstatic.dcinside.com/dgn/galleryNew/images/bg_nt_dot.gif) no-repeat 0 16px}
.sec_notice ul li .tit{margin-right:18px;font-weight:bold;color:#4165d0}
.sec_ad{overflow:hidden;position:relative;width:998px;height:38px}
.sec_ad ul{height:38px;padding-left:18px}
.sec_ad ul li{padding-left:8px;line-height:38px;background:url(http://nstatic.dcinside.com/dgn/galleryNew/images/bg_nt_dot.gif) no-repeat 0 16px}
.sec_ad ul li .tit{margin-right:18px;font-weight:bold;color:#4165d0}

.sec_ad.open{height:282px}
.sec_ad.open .inr_ad:after{display:block;height:0;content:".";font-size:0;visibility:hidden;clear:both}
.sec_ad.open ul{float:left;height:auto}

.inr_ad{padding:20px 0 20px 25px;border-bottom:1px solid #ddd;overflow:hidden}
.inr_ad:after{display:block;height:0;content:".";font-size:0;visibility:hidden;clear:both} 
.inr_ad dl{float:left;width:142px;height:202px;margin-right:23px;border-right:1px solid #ddd}
.inr_ad dl dt{margin-bottom:5px;font-weight:bold;text-decoration:underline} /* 160203 */
.inr_ad dl dt a{font-weight:bold;text-decoration:underline}
.inr_ad dl dd a{font-size:11px}
.inr_ad dl.lst{margin-right:0;border-right:0}




.box_sv_ad{position:relative}
.box_sv_ad:after{display:block;height:0;content:".";font-size:0;visibility:hidden;clear:both}
.box_sv_ad .link_info{font-size:11px}
.sv_menu{position:absolute;top:2px;right:0}
.sv_menu:after{display:block;height:0;content:".";font-size:0;visibility:hidden;clear:both}
.sv_menu a.sv_comm{float:left;width:80px;background:url(http://nstatic.dcinside.com/dgn/galleryNew/images/sp_main.png) no-repeat 0 0;vertical-align:top;line-height:38px;text-indent:-9999px}
.sv_menu a.sv_fold{background-position:0 -62px} /* 서비스 접기 */
.sv_menu a.sv_open{background-position:0 -90px} /* 서비스 열기 */
.sv_menu a.sv_top{width:64px;background-position:0 -116px} /* 맨위로 */

.list_policy, .copyright{width:1000px;text-align:center}
.list_policy{padding:24px 0 5px 0;font-size:11px}
.list_policy .txt_bar{margin:0 5px}
.copyright{color:#959595}

