#be_hidden_ajax_handler{
    display: none;
}

#btn_facebook_connect{
    float: left;
    margin-top: 3px;
    border: 0px none;
    background-image: url('../../image/beautyexchange/icon/fb.png');
    background-repeat: no-repeat;
    background-position: left center;
    width: 180px;
    height: 18px;
    overflow: hidden;
    display: block;
    text-align: center;
    color: #FFF;
    font-size: 13px;
    font-weight: bold;
}