.homeless_top_zone{
    width: 728px;
    height: 90px;
    margin:10px auto 0 auto;
    border: 1px #B5A9A4 solid;
}

.blogazine_compose_ad{
    width:100px;
}

.right_column .homeless_promo .adunit{
    margin-top:10px;
}

.forum_showcase{
    width:628px;
    height:155px;
    margin:10px auto;
}

.right_column .homeless_ad_tile .adunit{
    margin-top:10px;
}

#threadlist .forum_showcase{
    margin:0px auto;
}

.forum_showcase_td{
    background-color:#E5EDF2;
    border-top:1px solid #C2D5E3;
    border-bottom:1px solid #C2D5E3;
}

.mid_banner{
    border:1px #B5A9A4 solid;
    margin-left:auto;
    margin-right:auto;
    overflow:hidden;
    background-color:#fff;
    position:relative;
}

.channel_btn_zone{
    position:absolute;
    top:30px;
    right:28px;
    width:250px;
    height:50px;
    /*display:none;*/
}

.imp_zone{
    width:1px !important;
    height:1px !important;
    overflow:hidden !important;
}

.crazy_adv{
    position:absolute;
    z-index: 2;

}
.crazy_adv_close{
    position:absolute;
    top:5px;
    right: 5px;
    display:block;
    background:url(about:blank);
    width:50px;
    height:25px;
}

#bottom_up{
    position: fixed;
    bottom: -300px;
    left: 0;
    z-index: 2000;
    width: 100%;
    height: 300px;
}

#bottom_up .wrapper{
    position: relative;
    margin: 0 auto;
    width: 913px;
    height: 100%;
}

#bottom_up .wrapper a.btn_close{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2001;
    white-space: nowrap;
    width: 40px;
    height: 40px;
    display: block;
    overflow: hidden;
    text-indent: 100%;
    background:url(about:blank);
}

.right_bottom_showcase .widget{
    border-color:#FFFFF5;
}

/* Theme link usage */
.theme_link{    
    position:absolute;
    z-index:0;
    width:90%;
    height:1000px;
}

body.dfp-demo #bottom_up {
    display:none !important;
}

.homepage_dominate{
    width:1px;
    margin-top:10px;
    height:1px;
    overflow:hidden;
    position:relative;
}