/* 
    Document   : be_popup
    Created on : 2013年8月27日, 下午12:13:36
    Author     : Pong
    Description:
        Purpose of the stylesheet follows.
*/

.be_overlay{
    opacity: 0.5;
    background-color:#fff;
    z-index:50000;
    width:100%;
    position:fixed;
    top:0px;
    display:none;
}

.be_popup{
    display:none;
    position:absolute;
    min-height: 100%;
    left:0;
    top:0;
    right:0;
    z-index:60000;
    width:100%;
    height:100% !important;
    table-layout:fixed;
    outline:none;
}

.be_popup .be_popup_c{
    display:table-cell;
    text-align:center;
    vertical-align:middle;
    width:100%;
}

.be_popup .be_popup_cb{
    display:none;    
    position: relative;
}

.be_popup .be_popup_img{
    display:none;
    position:relative;
    margin:0 auto;
}

.be_popup .be_popup_top{
    background:url(../../image/beautyexchange/common/box_top.png);
    width:820px;
    height:18px;
}

.be_popup .be_btn.close{
    background:url(../../image/beautyexchange/common/btn_close.png);
    width:13px;
    height:13px;
    position:absolute;
    right:23px;
    top:16px;
}

.be_popup .be_btn.img_close{
    background:url(../../image/beautyexchange/common/img_close.png);
    width:20px;
    height:20px;
    position:absolute;
    right:23px;
    top:16px;
    z-index:99;
}

.be_popup .be_btn.close:hover{
    background-position: center bottom;
}

.be_popup .be_popup_body .notice_header{
    text-align:center;
    width:100%;
    color:#779699;
    padding-bottom:10px;
    letter-spacing: 2px;
}

.be_popup .be_popup_body .notice_footer{
    height:10px;
    width:100%;
}

.be_popup .be_popup_body .be_popup_content{
    min-height:250px;
    width:95%;
    border-top:1px #ccc dotted;
    border-bottom:1px #ccc dotted;
    margin:0 auto 0px auto;
}

.be_popup .notice_icon{
    background:url(../../image/beautyexchange/common/pic_noti.jpg);
    width:176px;
    height:170px;
    float:left;
}

.be_popup .be_popup_message{
    margin:60px 85px;
    min-height:176px;
    color:#bbcacc;
}

.be_popup .be_popup_message .be_popup_text{
    float:left;
    text-align:left;
    margin-left:70px;
    width:360px;
}

.be_popup .message_head{
    font-size:35px;
}

.be_popup .message_content{    
    margin-top:15px;
    color:#666;
}

.be_popup .be_popup_body{
    background:url(../../image/beautyexchange/common/box_tile.png);
    width:820px;
    height:100%;
}

.be_popup .be_popup_bottom{
    background:url(../../image/beautyexchange/common/box_bottom.png);
    width:820px;
    height:18px;
}

.be_popup .message_content a{
    color: #337633;
}