/*
    Document   : common
    Created on : 2013å¹´5æœˆ30æ—¥, ä¸‹åˆ06:04:52
    Author     : Pong
    Description:
        Purpose of the stylesheet follows.
*/

@import url('header.css');
@import url('footer.css');
@import url('overrider.css');
@import url('beautyexchange/be_popup.css');
@import url('banner.css');


*{
    margin:0px;
    padding:0px;
}

iframe{
    border:0px;
}

.fb_share iframe{
    z-index:20;
}

.caption{
    font-size:13px;
}

.clear{
    clear:both;
}

.mobile_link{
    margin:10px 0px;
}
.mobile_link input{
    width:500px;
}

body,html{
    margin:0px;
    padding:0px;
    background-color:#FFFFF5;
    font-size:12px;
    font-family: 'EB Garamond',"ç´°æ˜Žé«”", serif;
    -webkit-text-size-adjust:none;
    text-size-adjust: none;
    -moz-text-size-adjust:none;
    -ms-text-size-adjust:none;
    letter-spacing:1px;
}

html{
    background-color:inherit;
}

a img{
    border:0px;
}

.be_btn{
    display:block;
    float:left;
}

ul{
    list-style:none;
    margin:0px;
    padding:0px;
}

ul li{
    float:left;
    list-style:none;
}

.right_column{
    margin-top:100px;
}

.widget{
    width:300px;
    background-color:#ccc;
    border:1px #B5A9A4 solid;
    float: left;
    overflow:hidden;
    position: relative;
}

.widget .container{
    position:relative;
    width:100%;
}

#page_wrapper{
    width: 965px;
    min-height:800px;
    margin: 0 auto;
    padding: 75px 0 0 0;
}

#page_wrapper .right_column{
}

#page_wrapper.cover_page{
}

#page_wrapper.cover_page{
}

#page_wrapper.cover_page .left_column{
}

#page_wrapper.cover_page .right_column{
    display: none;
}

#page_wrapper.inner_page{
}

#page_wrapper.inner_page{
}

#page_wrapper.inner_page .left_column,
#page_wrapper.inner_page .right_column{
    float: left;
}

#page_wrapper.inner_page .left_column{
    width: 650px;
    margin-right: 15px;
}

#page_wrapper.inner_page .right_column{
    width: 300px;
}

#page_wrapper .fx{
    float: none !important;
    clear: both !important;
}

#grid_content{
    width: auto;
    margin:5px auto 0 auto;
    position:relative;
    overflow: hidden;
}

#page_wrapper .wrap .label{
    z-index:1000;
    width:120px;
    height:21px;
    color:#fff;
    line-height:21px;
    font-size:10px;
    letter-spacing:1px;
    text-align:center;
    position:absolute;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor:default;
}

#grid_content .widget{
    background: url('../image/beautyexchange/blogazine/default_article.png');
}

#grid_content .widget .caption{
    background-color:#333;
    position:absolute;
    bottom:-40px;
    width:100%;
    height:40px;
    color:#fff;
}

#grid_content .widget .caption .text{
    font-size:13px;
    margin:5px;
}

#grid_content .widget .thumbnail_link{
    width: 100%;
    min-height: 150px;
    display: block;
}

#grid_content .label{
    background-color:#915059
}

#grid_content .label.ADVERTISEMENT,
.widget[label='ADVERTISEMENT'] .caption,
.widget[label='ADVERTISEMENT'] .bottom_bar{
    background-color:#31302f;
    display:none !important;
}
#grid_content .label.BEAUTY,
.widget[label='BEAUTY'] .caption,
.widget[label='BEAUTY'] .bottom_bar{
    background-color:#e4b49e;
}
#grid_content .label.BETV,
.widget[label='BETV'] .caption,
.widget[label='BETV'] .bottom_bar{
    background-color:#988193;
}
#grid_content .label.BLOG,
.widget[label='BLOG'] .caption,
.widget[label='BLOG'] .bottom_bar{
    background-color:#9b927f;
}
#grid_content .label.LIFESTYLE,
.widget[label='LIFESTYLE'] .caption,
.widget[label='LIFESTYLE'] .bottom_bar{
    background-color:#897463;
}
#grid_content .label.FASHION,
.widget[label='FASHION'] .caption,
.widget[label='FASHION'] .bottom_bar{
    background-color:#838394;
}

.wrap{
    width:965px;
    margin:0px auto;
}

.wp .wrap{
    width:915px;
}

a{
    color:#666;
    text-decoration:none;
}

a:hover{
    text-decoration:underline;
}

.wrap .top_content{
}

.wrap .top_content .page_title{
    position: relative;
    text-align:center;
    font-size:14px;
    letter-spacing:9px;
    clear:both;
    color:#bc8377;
}

.wrap .top_content .page_title span{
    position: absolute;
    bottom: -42px;
    right: 10px;
    font-size: 12px;
    font-weight: normal;
    font-family: Arial;
    letter-spacing: 1px;
}

.wrap .top_content .top_content_extra{
    border-top: 1px dotted #333;
    margin-top: 15px;
}

.wrap .top_content .page_search_container{
    border-bottom:1px dotted #333;
    height:25px;
    margin: 0;
}

.wrap .top_content .header_links{
    text-align: center;
}

.wrap .top_content .header_links .separator:first-child,
.wrap .top_content .header_links .separator:last-child{
    display: none;
}

.wrap .top_content .wrapper{
    position: relative;
    margin: 0 auto;
    width: 300px;
    background-color: #FFF;
}

.wrap .top_content .page_search{
    margin: 0 auto;
    width:250px;
    height:25px;
    display:block;
    font-size:10px;
    border:0px;
    text-align:center;
    color:#444244;
    letter-spacing:1px;
}

.wrap .top_content .btn_search{
    position: absolute;
    top: 0px;
    right: 4px;
    display: block;
    width: 17px;
    height: 17px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    margin-top: 4px;
    background-image: url('../image/beautyexchange/icon/icon_search.png');
    background-repeat: no-repeat;
    background-position: -34px 0px;
}

.wrap .top_content .page_navigation_container{
    border-bottom:1px dotted #333;
    height:25px;
    line-height:25px;
    margin: 0px;
    text-align: center;
}

.wrap .top_content .page_navigation_container a{
    letter-spacing: 1px;
}

.wrap .top_content .page_search_container + .page_navigation_container{
    border: 0px none;
}

.loadmore{
    width:100%;
    opacity:0.6;
    background-color:#92505A;
    color:#fff;
    height:42px;
    text-align:center;
    z-index:1000;
    display:none;
}

.loadmore[wait='yes']{
    cursor:pointer;
}

.loadmore[loading='yes']{
    cursor:wait;
}

.c{
    clear:both;
}

.scroll_container{
    position:relative;
}

.be_btn.scroll_top{
    background: url('../image/beautyexchange/icon/shortcut_down/shortcut_down.png') center center no-repeat;
    width:28px;
    height:43px;
    top:300px;
    right:-70px;
    position: absolute;
    display: none;
}

.invis_block{
    z-index:10;
}

#scrolltop{
    display:none;
}

.icon.like{
    background: url('../image/beautyexchange/icon/icon_comment.png') 0px 0px;
    width:20px;
    height:20px;
    cursor:pointer;
}

.icon.like.liked,
.icon.like.liked a{
    opacity: 0.5;
    cursor:default;
    filter: alpha(opacity=50);
}

.icon.like a{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;
    text-indent: 100%;
    white-space: nowrap;
}

.icon.comment{
    background: url('../image/beautyexchange/icon/icon_comment.png') 20px 0px;
    width:20px;
    height:20px;
}
.icon.comment a{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;
    text-indent: 100%;
    white-space: nowrap;
}

.like_text{
    line-height:20px;
}

.heart_container{
    position:absolute;
    width:100%;
    height:100%;
    top:0px;
}

.heart_wrap{
    position:relative;    
}

.heart_pop{
    position:absolute;
    background: url('../image/beautyexchange/common/like_effect.png') 0px 0px;
    width:88px;
    height:77px;
    transform: scale(0.5);
    -ms-transform:scale(0.5); /* IE 9 */
    -webkit-transform:scale(0.5); /* Safari and Chrome */
    -webkit-transition: all .2s ease-in-out;
}

.heart_pop.scale{
    transform:scale(1);
    -ms-transform:scale(1); /* IE 9 */
    -webkit-transform:scale(1); /* Safari and Chrome */
}

.widget .bottom_bar{
    width:100%;
    height:30px;
    float:left;
    display:block;

    color:#fff;
    background-color:#915059;
}

.widget .bottom_bar .line{
    width: 96%;
    height: 20px;
    margin: 5px 2%;
}

.widget .bottom_bar .line div{
    float:left;
    margin-right:5px;
    display:block;
}

.widget .like_count a{
    color: #FFF;
}

.widget .bottom_bar .line div.add_fav{
    float:right;
    cursor:pointer;
}

.widget .bottom_bar .line div.add_fav a{
    color: #FFF;
}

.widget .bottom_bar .line div.add_fav.favourited{
    cursor:default;
}

.be_btn.right{
    float:right;
}

.be_btn.close_caption{
    font-family: "arial";
    font-size:11px;   
    color:#fff;
    text-decoration: none;
    width:5px;
}

.be_btn.common.tab{

}

.be_btn.common.inline{
    float:none;
    display:inline;
}

.be_btn.common{
    padding:0 20px;
    height:25px;
    line-height:25px;
    text-align:center;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.be_btn.common:hover{
    text-decoration: none;
}

.be_btn.common.disable,
.be_btn.common.disable:hover,
.pn.pnc.disable,
.pn.pnc.disable:hover{
    background-color:#999;
    cursor:wait;
}

/* Image Uploader */
.be_btn_upload{
    background-color: #FFF;
    padding: 2px 4px;
    display: block;
    overflow: hidden;
}

/* Common notification message */
.notification_message_bg,
.notification_message{
    position: absolute;
    min-width: 100px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: solid 2px #FFF;
    padding: 3px 12px;
    cursor: default;
}

.notification_message_bg{
    background-color: #000;
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

.notification_message{
}

.notification_message_bg .wrapper,
.notification_message .wrapper{
    position: relative;
}

.notification_message_bg .wrapper p,
.notification_message .wrapper p{
    color: #FFF;
    font-size: 13px;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

.wrap .top_content .wrapper .advance_option{
    position:absolute;
    right:-160px;
    top:5px;
}

.wrap .top_content .wrapper .advance_option input{
    margin-left:10px;
}

#comment_ul{
    padding-top:0px;
}

.add_fav{
    cursor:pointer;
}


/* Right Column widgets */
.right_column{
    float:right;
    width:302px;
}

.right_column .widget{
    margin-top:10px;
}

.right_column .widget .caption{
    width:100%;
    bottom:30px;
    height:74px;
    background-color:rgba(0,0,0,0.6) ;
}

.right_column .widget .cover{
    max-width:300px;
    height:auto;
    min-height:100px;
}

.right_column .widget .caption .inner_wrap{
    margin:8px;
    letter-spacing: 1px;
}

.right_column .caption .inner_wrap .title{
    color:#fffff4;
    border-bottom:1px dotted #fffff4;
}

.right_column .caption .inner_wrap .desc a{
    margin-top:3px;
    color:#fff;
    text-decoration: none;
}


.right_column .widget .caption {
    position: absolute;
    color: #fff;
}

.right_column .widget .blogger{
    height:55px;
    background-color:#877e6c;
    width:100%;
    clear:both;
    color:#fffff5;
}

.right_column .widget .summary{
    height:88px;
    background-color:#776e5c;
}

.right_column .widget .blogger .profile_pic{
    max-width:55px;
    max-height:55px;
    float:left;
    position:absolute;
    top:10px;
    left:10px;
}

.right_column .widget .blogger .name{
    float:left;
    line-height:55px;
    margin-left:80px;
}


.right_column .icon.like{
    background-position:0px 0px;
}

.right_column .icon.comment{
    background-position:20px 0px;
}



.right_column .blogger_widget{
    width:302px;
    height:97px;
    margin-top:10px;
    float:left;
    background-color:#9b927f;
}

.right_column .blogger_widget .profile_pic_container{
    width:97px;
    height:97px;
    float:left;
}

.right_column .blogger_widget .detail{
    width:205px;
    float:left;
    height:97px;
    color:#fff;
}

.right_column .blogger_widget .detail .detail_wrap{
    margin:5px;
}

.right_column .blogger_widget .detail .title{
    font-size:12px;
    margin-top:2px;
}

.right_column .blogger_widget .detail .name{
    height:24px;
}

.right_column .blogger_widget .detail .date{
    border-bottom:1px dotted #fff;
    padding-bottom:2px;
}

.right_column .blogger_widget .detail a{
    color:#fff;
}

.right_column .widget{    
    background-color:#000;
}

.right_column .thumbnail{
    max-width:300px;
}

.right_column .blogger_widget .profile_pic{
    max-height:97px;
    max-width:97px;
    float:left;
}

.right_column .label{
    z-index:1000;
    width:120px;
    height:21px;
    color:#fff;
    line-height:21px;
    font-size:10px;
    letter-spacing:1px;
    text-align:center;
    position:absolute;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor:default;
}

.right_column .widget_headline{
    margin-top:10px;
    color:#87706C;
    font-size:17px;
    border-bottom:1px #B4A683 solid;
}

.right_column .widget_article_list a{
    color:#786e5b;
    font-size:13px;
}

.right_column .widget_article_list{
    margin-top:5px;
}

.right_column .widget_article_list li{
    margin-top:5px;
    width:100%;
    position:relative;
}

.right_column .bottom_bar .line {
    width: 96%;
    height: 20px;
}

.right_column .bottom_bar .line div {
    float: left;
    margin-right: 5px;
    display: block;
}

.right_column .icon.like{
    background-position: 0px -60px;
}

.right_column .icon.comment{
    background-position: -20px -60px;
}

.right_column .bottom_bar{
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 85px;
}

.right_column .widget_article_list li .article_thumbnail{
    width:97px;
    height:97px;
    float:left;
    overflow:hidden;    
    background-position: center center;
    background-size: 150px;
    background-repeat: no-repeat;
}

.right_column .widget_article_list li .article_headline{
    border-bottom: 1px dotted #B4A683;
    width:100%;
    height:20px;
}


.right_column .blogger_widget .article_thumbnail{
    width:97px;
    height:97px;
    float:left;
    overflow:hidden;    
    background-position: center center;
    background-size: 97px;
    background-repeat: no-repeat;
}

.right_column .widget_article_list li .detail{
    width:195px;
    float:right;
}