/*
    Document   : default
    Created on : 2013年7月5日, 下午01:04:06
    Author     : Pong
    Description:
        Purpose of the stylesheet follows.
*/

/* header */
#header #be_logo{
    background-image:url(../../image/beautyexchange/top/logo_main.png);
}

#header .member_bg{
    background-color:#db788a;
}

#header .member_bar .field.username{
    background:#fffff4;
}

#header .member_bar .field.password{
    background:#ebe2d7;
}

#header .member_bar .field.login{
    background:#e77a8f;
}

#header .member_bar .field.welcome{
    background:#fffff4;
}

#header .member_bar .field.welcome a{
    color:#BC8377;
}

#header .member_bar .field.search{
    background:url(../../image/beautyexchange/top/icon_search_pink.png) #fffff4 4px 3px no-repeat;
}

#header .member_bar .be_btn.login{
    background:#e77a8f;
    color:#fff;
}

#header .member_bar .be_btn.login:hover{
    background-color:#e070a0;
}

#header .member_bar .label{
    color:#915059;
}

#header input[type='text'],
#header input[type='password']{
    color:#915059;
}

#header .member_bar .social .icon.facebook{
    background: url('../../image/beautyexchange/top/icon_social_facebook.png') #d7556f center 2px no-repeat;
}
#header .member_bar .social .icon.weibo{
    background: url('../../image/beautyexchange/top/icon_social_weibo.png') #e47792 center 2px no-repeat;
}
#header .member_bar .social .icon.snapchat{
    background: url('../../image/beautyexchange/top/icon_social_snap.png') #d3637b center 4px no-repeat;
}
#header .member_bar .social .icon.rss{
    background: url('../../image/beautyexchange/top/icon_social_rss.png') #b5485b center 2px no-repeat;
}
#header .member_bar .social .icon.instagram{
    background: url('../../image/beautyexchange/top/icon_social_instagram.png') #b5485b center 5px no-repeat;
}

#header .menu_bg{
    background-color:#924850;
}

#header .menu_bar .menu_list li{
    color:#fffff5;
}

#header .menu_bar .menu_list li a{
    color:#fffff5;
}

.wrap .top_content .be_btn_search:hover{
    background-position: 0px 0px;
}

.page_navigation_container a{
    color:#7d7677;
}

.be_btn.scroll_top{
    background-color: #e87f92;
}


/* User CP */
.tb a{
    background: #FFF;
    font-weight: normal;
}

.tb .a a, .tb .current a{
    background-color:#f3bcc2;
    color:#fff;
    border-bottom-color: #f3bcc2;
}

#btn_edit_avatar{
    background-color: #e77a8f;
    color: #FFF;
}

#ct .mn .px{
    width: 330px;
}

#ct .mn .ps{
    width: 342px;
}

#ct .mn #birthyear,
#ct .mn #birthmonth,
#ct .mn #birthday{
    width: 112px;
}

#ct .mn input,
#ct .mn select{
    border: solid 1px #e77a8f;
    background-image: none;
    background-color: #fff;
}

button,
li.o{
    background: none;
    background-image: none;
    background-color: #e77a8f;
    color: #FFF;
}

/* PM */
.pml .newpm,
.pml .hover{
    background-color: #FAE5E4;
}

.be_btn.common,
.pn{
    background-color:#e77a8f;
    color:#fff;
}

.be_btn.common:hover,
.pn:hover{
    background-color:#f3bcc2;
    color:#fff;
}

