/* 
    Document   : footer
    Created on : 2013年7月10日, 下午01:21:58
    Author     : Pong
    Description:
        Purpose of the stylesheet follows.
*/

#footer{
    height:130px;    
    width:100%;
    margin-top:10px;
    font-family: Helvetica;
}

#footer .head{
    background:url(../image/beautyexchange/theme/default/bg_footer_top_pink.png) center center;
    width:100%;
    height:4px;
}

#footer .ft_container{
    height:130px;
    background-color:#e77a8f;
}

#footer .ft_container .content{
    margin:0 auto;
    width:890px;
    padding-top:5px;
}

#footer .ft_container #footer_menu a{
    font-size:11px;
    color:#fff;
}

#footer .ft_container #footer_menu li{
    float:lefooter;
    margin-right:10px;
    color:#fff;
    font-size:12px;
}

#footer .bottom{
    margin: 72px auto 20px auto;
    display:block;
    width:890px;
    color:#fff;
}

#footer .bottom .be_ft_icon{
    
}

#footer .bottom .copyright{
    margin-left:10px;
    line-height:20px;  
    font-size:10px;
}