/*
    Document   : header
    Created on : 2013年6月27日, 下午06:31:34
    Author     : Pong
    Description:
        Purpose of the stylesheet follows.
*/


#header{
    width:100%;
    position:fixed;
    top:0px;
    z-index:10000;
}

#header #be_logo{
    width:158px;
    height:149px;
    z-index:10000;
    position:absolute;
    top:0px;
    left:86px;
    text-indent: -9999px;
    background-image:url(../image/beautyexchange/top/logo.png);
    color:#fff;
}

#header #be_logo a{
    display: block;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    text-indent: -100%;
    overflow: hidden;
    border: 0 none;
}

#header #btn_register{
    position: absolute;
    top: 0px;
    left: 250px;
    z-index: 10000;
    width: 91px;
    height: 79px;
    display: block;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    word-wrap: normal;
    background-image: url(../image/beautyexchange/top/btn_register.png);
    background-repeat: no-repeat;
    background-position: left 0;
}

#header #btn_register:hover{
    background-position: left bottom;
}

#header .member_bg{
    height:25px;
    background-color:#D7C5B9;
    width:100%;
    position:relative;
}


#header .member_bar{
    float:right;
}

#header .member_bar .login,
#header .member_bar .social,
#header .member_bar .welcome,
#header .member_bar #head_login_form{
    float:left;
}

#header .member_bar .field{
    float:left;
    height:25px;
    line-height:25px;
    padding:0px 10px;
    letter-spacing:2px;
    cursor:default;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#header .member_bar .field.login{
    background:#e77a8f;
    padding:0 20px;
}

#header .member_bar .field.welcome{
    background:#fffff4;
    padding:0 20px;
    font-size:13px;
}

#header .member_bar .field.welcome a{
    color:#BC8377;
    font-weight:bold;
}

#header .member_bar .field.search{
    background:url(../image/beautyexchange/top/icon_search_pink.png) #fffff4 4px 3px no-repeat;
}

#header .member_bar .search_field{
    width:120px;
    margin-left:15px;
}

#header .member_bar #btn_facebook_login{
    float: left;
    margin: 5px 10px 0px 0px;
    background-image: url('../image/beautyexchange/button/facebook_login.png');
    background-repeat: no-repeat;
    background-position: center top;
    width: 71px;
    height: 16px;
    display: block;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}

#header .member_bar .be_btn.login{
    background:#e77a8f;
    padding:0 20px;
    color:#fff;
    border:0px;
    height:25px;
    font-family: 'EB Garamond', serif;
    font-size:11px;
    letter-spacing:2px;
    cursor:pointer;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#header .member_bar .be_btn.login:hover{
    background-color:#e070a0;
}

#header .member_bar .label{
    float:left;
    color:#915059;
    font-size:10px;
}

#header input[type='text'],
#header input[type='password']{
    border:0px;
    height:25px;
    line-height:25px;
    margin:0px;
    background:none;
    color:#915059;
    width:100px;
    font-size:11px;
    font-family: 'EB Garamond', serif;
    letter-spacing: 2px;
}

#header input[type='password']{
    display:none;
}

#header .member_bar .social .icon{
    width:25px;
    height:25px;
    display:block;
    float:left;
}

#header .member_bar .social .icon.facebook{
    background: url('../image/beautyexchange/top/icon_social_facebook.png') #d7556f center 2px no-repeat;
}
#header .member_bar .social .icon.weibo{
    background: url('../image/beautyexchange/top/icon_social_weibo.png') #e47792 center 2px no-repeat;
}
#header .member_bar .social .icon.pinterest{
    background: url('../image/beautyexchange/top/icon_social_pinest.png') #d3637b center 2px no-repeat;
}
#header .member_bar .social .icon.rss{
    background: url('../image/beautyexchange/top/icon_social_rss.png') #b5485b center 2px no-repeat;
}

#header .menu_bg{
    background-color:#92505A;
    height:30px;
    width:100%;
}

#header .menu_bar{
    position: relative;
    float:right;
    font-size:11px;
    width: 700px;
}

#header .menu_bar #float_menu_setting{
    position: absolute;
    top: 30px;
    right: 0px;
    width: 215px;
    overflow: hidden;
    background-color: #92505A;
    display:none;
}

#header .menu_bar #float_menu_setting li a{
    color: #FFF;
    width:170px;
    display:block;
    padding:8px 23px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#header .menu_bar #float_menu_setting li a:hover{
    background-color:#aaa;
    border-top:1px dotted #fff;
    border-bottom:1px dotted #fff;
    padding:11px 23px;
    text-decoration: none;
}

#header .menu_bar #float_menu_setting .user_profile{
    float: left;
    width: 100%;
    border-bottom: dotted 1px #FFF;
    background-color:#a45a64;
}

#header .menu_bar #float_menu_setting .user_profile .wrapper{
    float: left;
    margin: 5px 10px;
    width: 195px;
    height:67px;
}

#header .menu_bar #float_menu_setting .user_profile img{
    float: left;
    max-width:66px;
    max-height:66px;
}

#header .menu_bar #float_menu_setting .user_profile .info{
    float: right;
    width: 115px;
    text-align: center;
}

#header .menu_bar #float_menu_setting .user_profile .info p{
    color: #FFF;
    font-size: 15px;
    font-weight: bold;
}

#header .menu_bar #float_menu_setting .feature{
    background-color:#b06873;
    float:left;
    width:100%;
    border-bottom: dotted 1px #FFF;
}

#header .menu_bar #float_menu_setting .feature ul{
    width:195px;
}

#header .menu_bar #float_menu_setting .feature ul li{
}

#header .menu_bar #float_menu_setting #menu_btn_link_facebook{
    display: none;
}

#header .menu_bar #float_menu_setting .btn_signout{
    width:80%;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    color: #FFF;
    padding: 10px 10%;
    margin-top: 20px;
    text-decoration: none;
    font-style: italic;
    background-color:#d4939f;
}

#header .menu_bar span.split{
    float:left;
    margin:0 18px; 
    font-size:14px;
}

#header .menu_bar .menu_list{
    float:left;
}

#header .menu_bar .menu_list li{
   float:left;
   color:#fffff5;
   line-height:30px;
   letter-spacing:1px;
}

#header .menu_bar .menu_list li a{
    color:#fffff5;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#header .menu_bar .menu_list li a:hover{
    color:#fffff5;
}

#header .be_btn.pm{
    position: absolute;
    top: 0px;
    right: 30px;
    width: 30px;
    height: 30px;
    padding: 0;
    background-image: url('../image/beautyexchange/top/icon_pm.png');
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.5;
    filter: alpha(opacity=50);
    transition: all 0.5s ease;
}

#header .be_btn.pm:hover,
#header .be_btn.pm.active{
    opacity: 1;
    filter: alpha(opacity=100);
}

#header .be_btn.pm .wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
}

#header .be_btn.pm .wrapper .cnt{
    position: absolute;
    bottom: 2px;
    right: 2px;
    width: auto;
    padding:0 2px;
    height: 14px;
    display: block;
    background-color: #FF0000;
    color: #FFF;
    font-size: 10px;
    font-weight: bold;
    font-family: Arial;
    text-align: center;
    border-radius: 2px 2px;
    display: none;
}

#header .be_btn.setting{
    position: absolute;
    top: 0px;
    right: 0px;
    width:30px;
    height:30px;
    background:url(../image/beautyexchange/top/icon_setting.png) center center no-repeat;
}

#header .h_wrap{
    width:1024px;
    margin:0 auto;
    position:relative;
}

.header_links a.current{
    text-decoration: underline;
}