/* 
    Document   : index
    Created on : 2013年6月27日, 下午06:30:50
    Author     : Pong
    Description:
        Purpose of the stylesheet follows.
*/
.wrap .head_banner{
    width:915px;
    border:1px #B5A9A4 solid;
    height:413px;
    margin-top:10px;
    position:relative;
}

.wrap .top_zone{
    width:915px;
    height:420px;
}

.wrap .top_zone .head_banner .label{
    right:0px;
    background-color:#dac264;
}

.wrap .top_zone .widget{
    position: relative;
    display:block;
    margin:10px 0 0 4px;
}

.wrap .top_zone .ad_tile{
    border:1px #B5A9A4 solid;
    float:left;
    display:block;
    margin:3px 0 0 4px;
    height:125px;
}

.wrap .top_zone .widget .label{
    background-color:#31302f;
}

.wrap .head_banner{
    border:1px #B5A9A4 solid;
    margin-top:10px;
    height:380px;
}

.wrap .head_banner.c2{
    width:607px;
    background-color:#FFAA7F;
    float:left;
    position:relative;
}

.wrap .head_banner.c2 img{
    width:607px;
    height:380px;
}

.wrap .head_banner.c3 img{
    width:915px;
    height:380px;
}

#nv_main #grid_content .widget .caption {
    width: 100%;
    bottom: 20px;
    height: 88px;
    background-color: rgba(0,0,0,0.6);    
}

#grid_content .widget .caption .inner_wrap {
    margin: 8px;
    letter-spacing: 1px;
}

#grid_content .widget .caption .inner_wrap .desc a{
    color:#fff;
    text-decoration: none;
}

.caption .inner_wrap .title {
    color: #fffff4;
    border-bottom: 1px dotted #fffff4;    
    height:22px;

    padding: 0 10px 5px 0;
    font-size: 12px;
    font-weight:normal;
    line-height: 22px;
    overflow: hidden;
}

.widget{
    height:250px;
    background-color:#ccc;
    background-image: url('../../../image/beautyexchange/blogazine/default_article.png');
    border:1px #B5A9A4 solid;
    float: left;
    position: absolute;
    display:none;
    overflow:hidden;
}

.widget.col1{
    width:300px;            
}
.widget.col1 img{
    width:300px;
    max-height:250px;
}
.widget.col1.row2 img{
    width:300px;
    max-height:503px;
}
.widget.col1.row3 img{
    width:300px;
    max-height:758px;
}
.widget.col2 img{
    width:607px;
    max-height:503px;
}
.widget.col2.row2 img{
    width:607px;
    max-height:498px;
}
.widget.col2.row3 img{
    width:607px;
    max-height:758px;
}
.widget.col3 img{
    width:913px;
    max-height:248px;
}
.widget.col3.row2 img{
    width:913px;
    max-height:503px;
}
.widget.col3.row3 img{
    width:300px;
    max-height:758px;
}
.widget.col img{
    width:607px;
    max-height:758px;
}

.widget.row2{
    height:505px;
}

.widget.row3{
    height:758px;
}

.widget.col1.row2{
}

.widget.col1.row3{
}

.widget.col2{
    width:607px;
}

.widget.col3{
    width:913px;
}

.widget .bottom_bar{
    position:absolute;
    bottom:0px;
}

.home_slide{
    visibility: hidden;
}

.home_slide .slides{
    width:915px;
    height:380px;
    overflow:hidden;
}

.home_slide ul li{
    position:relative;
}

.menu_bullet{
    position:absolute;
    bottom:-20px;
}

.menu_bullet .bullet_container{
    display: block;
    margin: 0 auto;
    width: 607px;
    text-align: center;
    height:11px;
    line-height:11px;
}

.menu_bullet .bullet_container li{
    display:inline-block;
    float:none;
}

.menu_bullet.c2{
    width:607px;
}

.menu_bullet.c3{
    width:915px;
}

.be_btn.bullet{
    background:url(../../../image/beautyexchange/icon/icon_dot.png) center top;
    width:11px;
    height:11px;
    cursor: pointer;
}

.be_btn.bullet:hover{
    background-position: center bottom;
}
.be_btn.bullet.selected{
    background-position: center bottom;
}

.be_btn.scroll_top{
    background-color:#e87f92;
}

.loadmore{
    background:url(../../../image/beautyexchange/footer/preloader_main.jpg) center top;
    height:43px;
    line-height:43px;
    color:#fff;
}

#redirect_bar{
    background-color: #DDDEE0;
    width: 100%;
    height: 22px;
    display: block;
    padding: 3px 0 0 0;
}

#redirect_bar p{
    margin: 0 auto;
    width: 240px;
    font-family: "Arial";
    font-weight: bold;
    font-size: 14px;
    text-align: center;
}

#redirect_bar span{
    margin: 0 2px;
}

#redirect_bar a{
    position: absolute;
    top: 4px;
    right: 10px;
    font-size: 13px;
}

.pending_redirect #page_wrapper{
    padding-top: 125px;
}


div#be_object_29244000.widget.col1.row1 div.caption,
div#be_object_29244000.widget.col1.row1 div.bottom_bar {
    display: none;
}