/* 
    Document   : overrider
    Created on : 2013年8月27日, 下午07:07:51
    Author     : Pong
    Description:
        Purpose of the stylesheet follows.
*/

body{
    background-image: none;
}

.nfl .f_c{
    background-color:transparent;
    border:0px;
    border-top:1px #ccc dotted;
    border-bottom:1px #ccc dotted;
}

body, input, button, select, textarea{
    color:#7d7677;
}

/* Form a */
.rfm a,
.flb em{
    color:#e77a8f;
}

.px, .pt, .ps, select{
    border: solid 1px #e77a8f;
    background: url(about:blank) #fff;   
}

.alert_info{
}

/* Profile header */
.bm_h{
    background:transparent;
    border:0px;
}

/* border bottom profile */
.bbda{
    border-bottom:1px #999 dotted;
}

.tbn .mt {
    text-align: center;
    color: #e77a8f;
}

/* Profile */

#wp {

}

.wp {
    margin: 0 auto;
    width: 100%;
}

#ct .appl {
    width: 250px;
}

#pcd ul, #pcd li {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

.appl li{
    margin-top:10px;
}

.appl li a {
    text-decoration: none !important;
    display: block;
    width: 150px;
    margin: 0 auto;    
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;    
}

.appl li a:hover{

}

.left_dot{
    float:left;
}

.right_dot{
    float:right;
}

.tbn li.a{
    background-color:transparent;
}

.buddy li{
    background-color:transparent;
    border:0px;
    border-bottom:1px dotted #999;
    width:100%;
}

.bmn{
    border-bottom:1px dotted #999;
    background-color:transparent;
}

.tb a{
}

.tb .o, .tb .o a{
    padding:0 10px;
    height:25px;
    line-height:25px;
    text-align:center;
    border:0px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background:url(about:blank) #e77a8f;
}

.tb .o:hover{
    background-color:#f3bcc2;
}

.tbmu a,
.xlda dd a{
    color:#e77a8f;
}

/* Error handler text */
.f_c a{
    color:#e77a8f;
}

.pg a, .pg strong, .pgb a, .pg label {
    border: 0px none;
    background-color: transparent;
}

/* common button */
button, li.o{
    border:0px;
    cursor:pointer;
}

/* Text editor */
.tedt{
    border-color:#ccc;
}

.tedt .bar{
    background-color:transparent;
}

.edt {
    border-color:#ccc !important; 
}

.edt .bar{
    background-color:transparent !important;
}

#e_simple, #e_fullswitcher{
    display:none !important;
}


.ct2_a .mn{
    padding-top:16px;
}



.cl.recent_post{
    width:320px;
    float:left;
}

.cl.recent_blog{
    width:320px;
    float:left;   
    margin-left:5px;
}

.hm img.profile_pic{
    max-width:120px;
}

.title{
    padding: 0px;
    height: auto;
    font-size: 13px;
    font-weight: normal;
    line-height: 15px;
    overflow: hidden;
    padding-bottom:5px;
}

.pg, .pgb{
    margin-top:10px;
}

.pg .pgb a{
    padding-left:25px;
}

.xl2 li{
    width:auto;
}

ul.pmb li{
    float:none;
}

.pg a, .pg strong, .pgb a, .pg label{
    padding:0 4px;
}

.tedt{
    margin-top:10px;
}

ul#friends li{
    float:none;
}

.show_message_content{
    margin-top:100px;
}

ul#raid_div li{
    float:none;
}

.opattach:hover .opattach_ctrl .pipe{
    margin: 0 2px;
}