@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;
    background: #121212;
    overflow-x: hidden;
}
img {
    border: none;
    max-width: 100%;
    display: block;
}
a {
    color: #c1e8ed;
    text-decoration: none;
    outline: none;
}
ul, li {
    list-style: none;
}
.clear:after {
    content: '.';
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}
.clear {
    *min-height: 1px;
}
.clearfix:before, .clearfix:after {
    content: '';
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1;
}
.wrapper {
	min-width: 320px;
	padding: 0 10px;
    margin: 0 auto;
    min-height: 100%;
	height: auto !important;
    min-width: 300px;
/*    overflow: hidden;*/
	max-width: 1600px;
	margin: 0 auto;
	position:relative;
}
.wrapper:after {
	content: "";
	height: 130px;
	display: block;
}
.header{
	height: 80px;
	background: #131313;
}
.header-box{
	padding: 0 10px;
	max-width: 1600px;
	margin: 0 auto;
	text-align: justify;
	position: relative;
}
.header-box::after {
	width: 100%;
	height: 0px;
	visibility: hidden;
	overflow: hidden;
	content: '';
	display: inline-block;
}
.logo{
	display: inline-block;
	vertical-align: top;
	margin: 18px 0 0 17px;
}
/*Begin search*/
.search-wrap{
	display: inline-block;
	vertical-align: top;
}
.search {
    width: 560px;
    height: 37px;
	margin-top: 13px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin-top: 11px;
    background: #CCCCDC;
	border-radius: 3px;
}
.search-title{
	margin-top: 6px;
}
.search-center {
    width: 370px;
    display: block;
    margin: 17px auto;
}
.search form {
    display: block;
}
.search .field-text {
    width: 100%;
    height: 37px;
    line-height: 37px;
    padding-left: 10px;
    padding-right: 20px;
    background: none;
    font-family: 'Roboto Condensed', sans-serif;
    border: none;
    outline: none;
    font-size: 14px;
    color: #525252;
    float: left;
    z-index: 1;
	border-left: 1px solid #161719;
	border-top: 1px solid #161719;
	border-bottom: 1px solid #161719;
}
.bttn {
    width: 46px;
    height: 37px;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    outline: none;
    padding: 0;
    z-index: 20;
    color: #a5df55;
    background: url(img/search-icon.png) no-repeat 13px 8px;
}
.search-right {
    width: 46px;
    height: 37px;
    background: #0090FF;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9
}
/*End search*/
/*Begin lang*/
.lang {
	display: inline-block;
	vertical-align: top;
	margin-top: 17px;
    height: 35px;
    line-height: 35px;
	text-align: left;
    cursor: pointer;
/*    position: relative;*/
    background: #333435 url(img/menu-arrow.png) no-repeat 80px center;
	border: 1px solid #161719;
	border-radius: 3px;
}
.lang strong {
    color: #bec5d6;
    display: block;
    font-weight: 400;
    font-size: 12px;
    padding: 0 0 0 32px;
    background: url(http://static.webclicks24.com/images/flags/gb.png) no-repeat 7px 7px;
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-transform: capitalize;
}
#lnglist {
    display: none;
    position: absolute;
/*	top: 47px;*/
    right: 0;
    width: 100%;
	padding: 10px;
    background: #333435;
	border: 1px solid #161719;
    z-index: 3000;
    overflow: auto;
    text-transform: capitalize;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    -webkit-overflow-scrolling: touch;
}
.lang ul li {
    float: left
}
.lang ul li a {
	color: #bec5d6;
    display: block;
    float: left;
    width: 108px;
    padding: 7px 0 7px 32px;
    font-size: 14px;
    line-height: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-transform: capitalize;
    border-radius: 0;
}
.lang ul li a:hover{
	color: #797f8f;
	transition: .2s;
}
.lang strong.en, .lang ul li a.en {
    background: url(img/gb.png) 5px 50% no-repeat;
}
.lang strong.cs, .lang ul li a.cs {
    background: url(img/cz.png) 5px 50% no-repeat;
}
.lang strong.da, .lang ul li a.da {
    background: url(img/dk.png) 5px 50% no-repeat;
}
.lang strong.de, .lang ul li a.de {
    background: url(img/de.png) 5px 50% no-repeat;
}
.lang strong.el, .lang ul li a.el {
    background: url(img/gr.png) 5px 50% no-repeat;
}
.lang strong.es, .lang ul li a.es {
    background: url(img/es.png) 5px 50% no-repeat;
}
.lang strong.fr, .lang ul li a.fr {
    background: url(img/fr.png) 5px 50% no-repeat;
}
.lang strong.ko, .lang ul li a.ko {
    background: url(img/kr.png) 5px 50% no-repeat;
}
.lang strong.it, .lang ul li a.it {
    background: url(img/it.png) 5px 50% no-repeat;
}
.lang strong.hu, .lang ul li a.hu {
    background: url(img/hu.png) 5px 50% no-repeat;
}
.lang strong.nl, .lang ul li a.nl {
    background: url(img/nl.png) 5px 50% no-repeat;
}
.lang strong.ja, .lang ul li a.ja {
    background: url(img/jp.png) 5px 50% no-repeat;
}
.lang strong.no, .lang ul li a.no {
    background: url(img/no.png) 5px 50% no-repeat;
}
.lang strong.pl, .lang ul li a.pl {
    background: url(img/pl.png) 5px 50% no-repeat;
}
.lang strong.pt, .lang ul li a.pt {
    background: url(img/pt.png) 5px 50% no-repeat;
}
.lang strong.sk, .lang ul li a.sk {
    background: url(img/sk.png) 5px 50% no-repeat;
}
.lang strong.sl, .lang ul li a.sl {
    background: url(img/si.png) 5px 50% no-repeat;
}
.lang strong.fi, .lang ul li a.fi {
    background: url(img/fi.png) 5px 50% no-repeat;
}
.lang strong.sv, .lang ul li a.sv {
    background: url(img/se.png) 5px 50% no-repeat;
}
.lang strong.ru, .lang ul li a.ru {
    background: url(img/ru.png) 5px 50% no-repeat;
}
/*End lang*/
/*Begin menu*/
.menu{
	line-height: 41px;
	background: #333435;
	border-top: 1px solid #161719;
}
.menu-box{
	max-width: 1600px;
	margin: 0 auto;
	position: relative;
}
.home{
	float: left;
	cursor: pointer;
	border-left: 1px solid #161719;
	border-right: 1px solid #161719;
	background: url(img/home-icon.png) no-repeat center;
}
.home:hover{
	opacity: .7;
	transition: .2s;
}
.home-text{
	font-size: 15px;
	color: #c9c9c9;
	display: none;
}
.menu li{
	height: 41px;
	float: left;
	border-right: 1px solid #161719;
}
.menu a{
	display: block;
	padding: 0 24px;
	color: #c9c9c9;
	font-size: 15px;
}
.menu a:hover{
	color: #fff;
	transition: .2s;
}

.top-categories,top-tube {
	padding-bottom: 5px;
/*    position: relative;*/
    padding-right: 15px;
    background: url(images/menu-arrow.png) no-repeat right center;
}
.menu ul li .drop-menu {
   width: 100%;
   position: absolute;
   left: 0;
   z-index: 9;
   padding: 15px 0;
   background: rgba(0,0,0,.9);
   display: none;
}
.menu ul li.top-categories:hover .drop-menu,.menu ul li.top-tube:hover .drop-menu {
   display: block;
}
.drop-menu ul {
	float: left;
	width: 20%;
}
.drop-menu ul li {
	width: 100%;
    line-height: 22px;
    padding-left: 22px;
    padding-bottom: 0;
    display: block;
    margin: 0 !important;
	font-size: 13px;
	color: #636363;
}
.drop-menu ul li a {
    background: none !important;
    display: inline-block !important;
    padding-left: 0;
	font-size: 13px;
    height: auto;
    width: auto;
    color: #b6bdce;
    line-height: 22px !important;
}
.drop-menu ul li a:hover {
    color: #636363;
}
/*End menu*/
.title {
	width: 100%;
    height: 44px;
    max-height: 132px;
    line-height: 44px;
    overflow: hidden;
    padding-left: 6px;
    margin: 0 0 3px;
	border-bottom: 1px solid #161719;
}
.title-box {
    text-align: justify;
    text-justify: newspaper;
    zoom: 1;
}
.title-category h2{
	float: left;
}
.top-searchers{
	float: left;
	margin-left: 55px;
	font-size: 14px;
	color: #565b66;
}
.top-searchers p{
	float: left;
	color: #FF6600;
	margin-right: 3px;
}
.top-searchers a{
	color: #b6bdce;
}
.top-searchers a:hover{
	color: #FF6600;
	transition: .2s;
}
.top-searchers-video{
	float: none;
	margin: 8px 0;
}
.title-category .social{
	float: right;
}
.title-box2 {
    text-align: right;
}
.title-box:after,.nav:after {
    width: 100%;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    content: '';
    display: inline-block;
}
.title-video {
    margin-top: 0;
}
.title h2 {
    display: inline-block;
    vertical-align: top;
    padding-left: 5px;
    font-size: 18px;
    font-weight: normal;
    text-align: left;
    color: #0090ff;
    text-transform: uppercase;
}
.social-center-wrap {
    text-align: center;
    margin: 20px 0;
}
.social-center {
    display: inline-block;
}
.nav{
	text-align: justify;
	font-size: 0;
	margin-bottom: 10px;
}
.sort{
	display: inline-block;
	vertical-align: top;
}
.sort li{
	float: left;
	margin-right: 5px;
}
.sort a{
	display: block;
	height: 39px;
	line-height: 39px;
	padding: 0 20px;
	background: #333435;
	color: #9fa5b4;
	font-size: 15px;
}
.sort a:hover,.sort li.sort-active a{
	background: #636363;
	color: #fff;
}
.nav-pagination{
	display: inline-block;
}

.social {
    display: inline-block;
    vertical-align: top;
    width: 145px;
    overflow: hidden;
    margin-top: 6px;
}
.posts{
	text-align: center;
	font-size: 0;
}

.post{
	max-width: 322px;
	width: 19%;
	display: inline-block;
	vertical-align: top;
	background: #333435;
	margin: 4px;
}
.post:hover{
	background: #131313;
}
.post:hover .post-play-icon{
	height: 46px;
	width: 46px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -23px 0 0 -23px;
	background: url(img/post-play-icon.png) no-repeat;
}
.post-img{
	max-width: 320px;
	position: relative;
	border: 1px solid #131313;
}
.post-img:hover,.post:hover .post-img{
	opacity: .7;
	transition: .2s;
	border: 1px solid #161719;
}
.post-views{
	font-size: 11px;
	color: #fff;
	padding-top: 12px;
	text-align: center;
	overflow: hidden;
	position: absolute;
	bottom: 2px;
	right: 2px;
	width: 51px;
	height: 51px;
	border-radius: 50% 50%;
	background: rgba(0,0,0,.5);
}
.post-time-video{	
	font-size: 11px;
	color: #fff;
	text-align: center;
	overflow: hidden;
	position: absolute;
	bottom: 1px;
	right: 1px;
	width: 46px;
	height: 19px;
	line-height: 19px;
	border-radius: 3px;
	background: rgba(0,0,0,.5);
}
.post-name{
	height: 35px;
	line-height: 35px;
	font-size: 15px;
	text-align: center;
	display: block;
	color: #0090ff;
}
.post-name-long{
	padding: 3px 5px 0;
	font-size: 12px;
	color: #0090ff;
	text-align: left;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.post-name-long:hover{
	color: #fff;
	transition: .2s;
}
.post-name:hover,.post:hover .post-name{
	color: #b6bdce;
	transition: .2s;
}
.post-info{
	padding: 5px;
}
.post-category{
	height: 16px;
	overflow: hidden;
	text-align: left;
	padding-left: 20px;
	background: url(img/post-category.png) no-repeat left 1px;
}
.post-date{
	font-size: 12px;
	color: #797f8f;
	float: left;
	padding-left: 20px;
	background: url(img/post-date.png) no-repeat left 1px;	
}
.post-source{
	float: right;
	padding-left: 22px;
	background: url(img/post-source.png) no-repeat 5px 0;	
}
.post-source a{
	font-size: 12px;
	color: #797f8f;
	vertical-align: top;
}
.post-source a:hover{
	color: #fff;
	transition: .2s;
}
.post-category a{
	font-size: 12px;
	color: #b6bdce;
	display: inline-block;
	vertical-align: top;
}
.post-category a:hover{
	color: #797f8f;
	transition: .2s;
}
/*Begin pagination*/
.pagination{
	text-align: center;
	font-size: 0;
}
.pagination a{
	padding: 0 19px;
	display: inline-block;
	font-size: 15px;
	color: #bec5d6;
	height: 39px;
	line-height: 39px;
	margin: 2px;
	background: #333435;
	overflow: hidden;
	border-radius: 2px;
}
.pagination a:hover,.pagination a.pagin-active{
	background: #636363;
	color: #fff;
	transition: .2s;
}
/*End pagination*/
/*End pagination*/
.post-small{
	max-width: 242px;
	width: 23.5%;
	display: inline-block;
	vertical-align: top;
	background: #333435;
	margin: 0 9px 8px 9px;
}
.post-small:hover{
	background: #131313;
}
.post-img-small{	
	max-width: 240px;
	height: 100%;
	border: 1px solid #131313;	
}
.post-img-small:hover{
	opacity: .7;
	transition: .2s;
	border: 1px solid #161719;
}
.post-name-small{
	font-size: 15px;
	height: 31px;
	line-height: 31px;
	text-align: center;
	display: block;
	color: #0090ff;
}
.post-name-small:hover,.post-small:hover .post-name-small{
	color: #b6bdce;
	transition: .2s;
}
/*End pagination*/
/*Begin list*/
div.az {
	margin: 5px auto 30px auto;
}
div.az:after {
	content: ""; 
	width: 0; 
	height: 0; 
	display: block; 
	clear: both;
}
div.az ul {
	width: 20%;
	float: left;
	padding-left: 5px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
div.az ul li {
	display: block;
	width: 100%;
	height: 24px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	text-indent: 12px;
	background: url(img/list-bullet.png) 0 9px no-repeat;
}
div.az ul li > a {
	display: block;
	width: 70%;
	line-height: 24px;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 14px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	float: left;
	text-transform: capitalize;
	color:#b6bdce;
}
div.az ul li > a:hover {
	color:#fff;
}
div.az ul li > span {
	display: block;
	width: 28%;
	line-height: 24px;
	font-size: 11px;
	white-space: nowrap;
	overflow: hidden;
	float: left;
	text-align: right;
}
div.az ul li.space {
	background: none;
}
div.az ul li.letter {
	font-size: 14px;
	line-height: 24px;
	width: 98%;
	background: #333435;
	border-radius: 2px;
	text-transform: uppercase;
	color:#FF6600;
}
.list-count, .list-hot {
    padding: 15px 0;
    margin-bottom: 5px
}
.list-hot li span {
    float: right;
    text-align: right;
    color: #757c8d;
    font-size: 11px;
}
.list-count ul {
    width: 19%;
    margin-right: 1%;
    float: left;
}
.list-count li {
    font-size: 14px;
    line-height: 22px;
    color: #636363;
}
.list-count li a {
    color: #b6bdce;
    font-size: 14px;
}
.list-count li a:hover {
    color: #fff;
    transition: .2s;
}
.list-hot ul {
    float: left;
    width: 19%;
    margin-right: 1%;
}
.list-hot li {
    padding-left: 15px;
    font-size: 14px;
    line-height: 23px;
    background: url(img/list-bullet.png) no-repeat 4px 9px;
}
.list-hot a {
    line-height: 22px;
    color: #b6bdce;
}
.list-hot li a:hover {
    color: #fff;
    transition: .2s;
}
/*End list*/
/*Begin related*/
.related {
    padding: 15px 0;
    margin-bottom: 3px;
}
.related li {
    float: left;
    margin: 0 2px 6px 3px;
}
.related li a {
	padding: 0 16px;
	height: 25px;
	line-height: 25px;
    display: block;
    vertical-align: top;
    font-size: 12px;
    color: #b6bdce;
	background: #333435;
}
.related li a:hover {
    color: #fff;
    transition: .2s;
	background: #636363;
}
/*End related*/
/*Begin banners*/
.banners{
	text-align: center;
	font-size: 0;
}
.banners a{
	display: inline-block;
	height: 250px;
	width: 300px;
	margin: 0 4px 8px 4px;
}
/*End banners*/
/*Begin footer*/
.footer{
	height: 110px;
	margin-top: -110px;
	background: #131313;
	position: relative;
	overflow: hidden;
	border-top: 1px solid #161719;
}
.footer-box{
	padding: 0 10px;
	max-width: 1600px;
	width: 100%;
	margin: 0 auto;
}
.footer-left{
	float: left;
	padding-top: 25px;
}
.footer-left p{
	font-size: 11px;
	line-height: 15px;
	color: #6e7484;
}
.info-site{
	font-size: 11px;
	margin-top: 3px;
}
.info-site p{
	color: #b6bdce;
	display: inline-block;
	vertical-align: top;
}
.info-site span{	
	display: inline-block;
	vertical-align: top;
	height: 2px;
	color: #464a54;
	margin: 0 2px;
}
.info-site a{
	display: inline-block;
	vertical-align: top;
	color: #f49231;
}
.info-site a:hover{
	color: #fff;
    transition: .2s;
}
.footer-logo{
	float: right;
	margin: 35px 5px 0 0;
}
/*End footer*/
.video-box {
	max-width: 900px;
	width: 100%;
	margin: 20px auto 5px;
	text-align: center;
}
.video-title{
	text-align: center;
	font-size: 24px;
	color: #0090ff;
	font-weight: normal;
	margin-bottom: 7px;
}
.video {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
}

.video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%
}

.video-info {
	margin: 4px 0;
	padding: 10px;
}
.video-tags{
	width: 70%;
	float: left;
	text-align: left;
	overflow: hidden;
	padding-left: 22px;
	background: url(img/post-category.png) no-repeat left;
}
.video-tags a{
	font-size: 14px;
	color: #b6bdce;
	display: inline-block;
	vertical-align: top;
}
.video-tags a:hover{
	color: #797f8f;
    transition: .2s;
}
.video-source{
	float: right;
	padding-left: 22px;
	background: url(img/post-source.png) no-repeat left;
}
.video-source a{
	font-size: 14px;
	color: #797f8f;
}
.video-source a:hover{
	color: #b6bdce;
    transition: .2s;	
}
.video-added{
	font-size: 14px;
	color: #797f8f;
	float: left;
	padding-left: 22px;
	background: url(img/post-date.png) no-repeat left;
}
.social-video{
	height: 32px;
	float: right;
}
#back-top {
	position: fixed;
	right: 5px;
	bottom: 10px;
	z-index: 99;
}

.top-btn {
	display: block;
	width: 54px;
	height: 54px;
	background: url(img/button-up.png) no-repeat center center;
	clear: both;
	border-radius: 5px;
	overflow: hidden;
}

@media all and (max-width:1320px) {	
	.wrapper {
		max-width: 1320px;
	}
	.post {
		width: 24%;
	}
	.post-small{
		width: 18%;
	}
}
@media all and (max-width:1024px) {
	.search-wrap{
		width: 50%;
	}
	.search-header{
		width: 100%;
	}
	.post {
		width: 32%;
	}
	.post-small{
		width: 22%;
	}
}
@media all and (max-width:800px) {
	
	.header-box{
		position: relative;
	}

	.menu{
		position: absolute;
		left: 0;
		top: 0;
		z-index: 10;
		background: #131313;
		border: 1px solid #333435;
		display: none;
        height: auto;
		min-height: 100%;
		width: 280px;
	}
	.menu li{
		float: none;
		width: 100%;
		height: 44px;
		line-height: 44px;
		border-bottom: 1px solid #333435;
	}
	.home{
		padding-left: 22px;
    	background: url(img/home-icon.png) no-repeat 22px 14px;
	}
	.home-text{
		display: block;
	}
	.mobile-menu-wrap{
		margin: 8px 12px 0 7px;
		float: left;
		overflow: hidden;
		width: 40px;
		height: 35px;
		background: #333435;
		border-radius: 3px;
		border: 1px solid #161719;
        position: relative;
        z-index: 100;
	}
	.mobile-menu-button{
		width: 100%;
		height: 100%;
		display: block;
		background: url(img/menu-button.png) no-repeat 7px 8px;
	}
	.menu-wrap-left{
		position: absolute;
		left: 280px;
		
		margin: 8px 12px 0 0;
	}
	.open-menu{
		background: url(img/open-menu.png) no-repeat 10px 8px !important;
	}
	.logo{
		margin: 9px 0 0 0;
	}
	.search-wrap{
		width: 100%;
		margin-top: 8px;
		display: none;
		padding: 6px 9px;
		background: #131313;
		border-top: 1px solid #161719;
	}
	.open{
		width: 18px !important;
		height: 18px !important;
		background: url(img/search-close.png) no-repeat !important;
	}
	.search-header{
/*		display: none;*/
		width: 100%;
		margin-top: 0;
	}
	.mobile-search-button{
		position: absolute;
		top: 16px;
		right: 90px;
		display: block;
		height: 21px;
		width: 21px;
		background: url(img/search-button.png) no-repeat;
	}
.lang{
 position: absolute;
 top: 8px;
 right: 5px;
 margin-top: 0;
    background: #333435 url(img/menu-arrow.png) no-repeat 45px center;
}
   .menu ul li.active{
       height: auto;
       padding-right: 0;
   }
   .menu ul li.active .drop-menu{
       width: auto;
       position: relative;
       left: auto;
   }
.menu ul li.top-categories:hover .drop-menu,.menu ul li.top-tube:hover .drop-menu {
 display: none;
}
	.drop-menu ul{
		float: none;
		width: 100%;
	}
	.drop-menu ul li{
		width: 100%;
		height: 34px;
		line-height: 34px;
		border-bottom: 1px solid #333435;
	}
	.lang strong{
		width: 60px;
		text-indent: -9999px;
	}
	.lang strong.en, .lang ul li a.en {
		background: url(img/gb.png) 9px 50% no-repeat;
	}
	.lang span{	
	}
	#lnglist{
		width: 600px;
	}
	
	.post-small{
		width: 30%;
	}
	.footer{
		height: 130px;
		margin-top: -130px;
		text-align: center;
	}
	.footer-left{
		float: none;
		width: 100%;
		padding-top: 10px;
	}
	.footer-logo{
		float: none;		
		display: inline-block;
		margin: 5px 0;
	}
}
@media all and (max-width:700px) {
	.post {
		width: 48%;
	}
	#lnglist{
		width: 550px;
	}
}
@media all and (max-width:600px) {
	
	
	#lnglist{
		width: 450px;
	}
	.sort{
		width: 100%;
		font-size: 0;
		text-align: center;
	}
	.sort li{
		margin: 2px;
		float: none;
		display: inline-block;
	}
	
	.post-small{
		width: 46%;
	}
}
@media all and (max-width:480px) {
	
	#lnglist{
		width: 380px;
	}
	.sort li{
		width: 48%;
	}
	.post {
		width: 48%;
	}
	.post-small{
		width: 45%;
	}
}
@media all and (max-width:420px) {
	
	#lnglist{
		width: 320px;
	}
	.post {
		width: 47%;
	}
	.post-views{
		width: 45px;
		height: 45px;
		padding-top: 10px;
	}
	.post-small{
		width: 44%;
	}
    .mobile-menu-wrap {
        margin-left: 0;
    }
	
}

@media all and (max-width:999px) {
div.az {
		width: 100%; 
		box-sizing: border-box; 
		-moz-box-sizing: border-box;
	}
	.list-count,
	.list-hot {
		padding: 10px 5px
	}
	.list-hot ul {
		width: 100%
	}
	.list-hot li {
		display: inline-block
	}
	.list-hot li a {
		margin-right: 7px
	}
	.list-count ul {
		width: 23%
	}
	.list-count-col-5 {
		display: none
	}
	.footer-wrap {
		padding: 30px 20px 0
	}
	div.az ul {
		width: 100%;
	}
	div.az ul li {
		width: auto; 
		padding-right: 30px; 
		float: left; 
		margin-bottom: 5px;
	}
	div.az ul li > a {
		width: auto; 
		float: left; 
		text-indent: 0; 
		padding-left: 12px;
	}
	div.az ul li > span {
		width: auto; 
		float: left; 
		padding-left: 0px; 
		display: none;
	}
	div.az ul li.letter, div.az ul li.space {
		width: 100%; 
		padding-right: 0;
	}
}
@media all and (max-width:700px) {
	.list-count ul {
		width: 31%
	}
	.list-count-col-4 {
		display: none
	}
	.related {
		text-align: center;
		font-size: 0;
	}
	.related li{
		float: none;
		display: inline-block;
	}
}

@media all and (max-width:768px) {
	#header {
		height: auto;
		text-align: center
	}
	.header-wrap {
		text-align: center
	}
	.logo {
		float: none;
		display: inline-block
	}
	.search-center {
		width: 100%
	}
	.thumb {
		width: 32.6%
	}
}

@media all and (max-width:640px) {
	.social {
		display: none
	}
	.lang ul {
		width: 99%
	}
	.sort,
	.sort-two {
		float: none;
		margin-top: 10px;
		display: inline-block;
		vertical-align: top
	}
	.sort-pagin {
		text-align: center
	}
	.archives-page {
		margin-top: 10px;
		float: none;
		display: inline-block;
		vertical-align: top
	}
	#footer {
		height: auto
	}
	.footer-wrap {
		padding: 15px 5px 0
	}
	#footer ul {
		margin: 5px 0
	}
	.comment-form {
		padding: 15px 5px
	}
}

@media all and (max-width:520px) {
	.thumb {
		width: 49.5%
	}
	.list-count ul {
		width: 48%
	}
	.list-count-col-3 {
		display: none
	}
	.wrapper:after{
		height: 150px;
	}
	.footer{
		height: 140px;
		margin-top: -140px;
		text-align: center;
	}
}


@media all and (max-width:360px) {
	#lnglist{
		width: 295px;
	}
	
	.topmenu {
		float: none;
		display: inline-block;
		width: 100%
	}
/*
	.post{
		width: 99%;
	}
*/
    .mobile-menu-wrap {
        margin-left: 0;
    }
}
/* inPlayer banner */
.pl_adv {
    position: absolute;

    z-index: 999;
}

.pl_adv .pl_adv1 {
    padding: 7px;
    background: rgba(177, 177, 177, 0.61);
    position: relative;
}

.pl_adv .banner {
    width: 300px;
    height: 250px;
}


.pl_adv .pl_close{
    cursor: pointer;
    display: block;
    margin-top: 10px;
    padding: 0 14px 0 7px;
    height: 32px;
    line-height: 30px;
    border: 1px solid #bdbdbd;
    background: #fff;
    color: #6d6d6d;
    font-weight: bold;
    text-align: center;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.pl_adv .pl_close:hover{

    color: #333;
    background-color: #e2e2e2;
}

.pl_adv .pl_title {
    position: absolute;
    z-index: 1000;
    left: 0px;
    top: -31px;
    height: 31px;
    line-height: 31px;
    padding: 0 14px;
    background: rgba(177, 177, 177, 0.61);
    color: @background_color;
    font-weight: bold;
}

.pl_adv {
    margin-left: 290px;
    margin-top: 100px;
}
@media screen and (min-width: 800px) {
   iframe.headbanner {
       display: none;
   }
}


@media only screen and (max-width: 767px){
.pl_adv .pl_adv1 {
    padding: 10px;
    background: rgba(177, 177, 177, 0.61);
    position: relative;
     left: -290px;
    top: -130px;
}
}



