@font-face {
  font-family: 'Cabin Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Cabin Condensed'), local('CabinCondensed-Regular'), url(http://fonts.gstatic.com/s/cabincondensed/v9/B0txb0blf2N29WdYPJjMSlpNuLN9P2dR6eOCPYblbcM.ttf) format('truetype');
}
@font-face {
  font-family: 'Cabin Condensed';
  font-style: normal;
  font-weight: 600;
  src: local('Cabin Condensed SemiBold'), local('CabinCondensed-SemiBold'), url(http://fonts.gstatic.com/s/cabincondensed/v9/Ez4zJbsGr2BgXcNUWBVgEPf4jeoVDNLU0gIpvaTJHt4.ttf) format('truetype');
}
