@charset "EUC-JP";
/*
-----------------------------------------------------
livedoor Blog CSS
FileName: らばQ（3カラム）
Version: 2010.02.25
-----------------------------------------------------
*/
 body{
	background-position: center top;
	margin: 0;
	padding: 0;
	color: #000;
	font-size: 14px;
	line-height: 18px;
	font-family: "メイリオ","Meiryo","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","ＭＳ Ｐゴシック", "MS P Gothic","Osaka",Verdana,Arial, Helvetica, sans-serif;
	text-align: left;
	
	background-image: url('http://labaq.com/user/themes/2015day/background.jpg');
	background-color: #D3F1FF;
	background-repeat: no-repeat;
}
 h1,h2,h3{margin:0;padding:0;}
 img{border:0px;}
 a{color:#0000f; text-decoration:none;}
 a:link{}
 a:visited{color:#00a;}
 a:active{}
 a:hover{color:#3a8e8e;text-decoration:underline;}
 #header{}
 #header td{
  color:#000;
  font-size:12px;
  text-align:right;
  padding-right:10px;
 }
 #header a{}
 #container{
	width: 1100px;
	margin: 0 auto;
	word-break: normal;
}
#outfooter{
	width: 1080px;
	margin: 10px auto 0px;
	/*background-image: url('http://labaq.com/user/themes/2013day/wrapper_bottom.png');
	background-repeat: no-repeat;*/
	/*height: 320px;*/
	position: relative;
	
	border-width: 1px;
	border-style: solid;
	border-color: #444;
}
#banner,#subbanner{
	text-align: left;
	margin: 0;
	height: 290px;
	position: relative;
	width: 100%;
}
 #banner a{text-decoration:none;}
 #banner a:hover{text-decoration:underline;}
 .blogtitle{
	font-size: 20px;
	line-height:24px;
	font-weight: bold;
	padding: 20px 10px 0;
}
.description{
 font-size: 14px;
 padding: 5px 10px 10px;
 line-height: 125%;
}
 #blogcontainer{
	width: 1080px;
	margin: 0px auto 0 auto;
	/*background-image: url('http://labaq.com/user/themes/2013day/wrapper_back.png');
	background-repeat: repeat-y;*/
	background-color:#fff;
	box-shadow: 5px 5px 5px rgba(131,211,250,0.6);
	
	border-width: 1px;
	border-style: solid;
	border-color: #444;
	min-height: 1000px;
}
img.logo{
 border:0px;
 z-index:50;
}

autopagerize_page_element{
 both:clear;
}

#logobase{
	position: relative;
	width: 100%;
	height: 100%;
	/*background-image: url('http://labaq.com/user/themes/2013day/logobase.png');*/
	background-repeat: no-repeat;
}
#logo{
	position: absolute;
	width: 260px;
	height: 140px;
	padding: 0px;
	top: 140px;
	left: 10px;
	
	background-position: 0px -280px;
	background-image: url('http://labaq.com/user/themes/2015day/sprite.png');
	background-repeat: no-repeat;
}
#logochar{
	background-position: -260px -750px;
	position: absolute;
	background-image: url('http://labaq.com/user/themes/2015day/sprite.png');
	width: 220px;
	height: 150px;
	background-repeat: no-repeat;
	left: 560px;
	top: 135px;
}
#logosub{
	margin: 0px;
	position: absolute;
	font-size: 15px;
	line-height: 20px;
	padding: 10px;
	left: 280px;
	width: 310px;
	overflow: hidden;
	top: 140px;
	text-align: left;
	/*background-image: url('http://labaq.com/user/themes/2013day/fukidashi.png');
	background-repeat: no-repeat;*/
	
	background-color: #fff;
	border-radius: 10px;
}
#logoarcs{
	position:absolute;
	left:10px;
	top:0px;
}
#logoad{
	position: absolute;
	left: 790px;
	width: 300px;
	height: 250px;
	top: 10px;
	box-shadow: 5px 5px 5px rgba(131,211,250,0.6);
}

/* タイトルを隠す */
#texttitle{
	position: absolute;
	left: -9999px;
	top: 20px;
	width: 100px;
	height: 50px;
	text-align: left;
	vertical-align: bottom;
	color: #000000;
	z-index: -100;
}

#wrapper{
				float: left;
				width: 780px;
}
#content{
	float: right;
	width: 580px;
	background-color:#fff;
}
#blog{
				padding-right: 10px;
}
#left{
	float: left;
	width: 200px;
	background-color:#fff;
	/*margin-left: 10px;*/
	position: relative;
	/*top: -20px;*/
	box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
	top: -5px;
}
 #lefttop{ display:none; }
 #leftbody{
}
 #leftbottom{}
 #right{
	float: right;
	width: 300px;
	/*padding-right: 10px;*/
	padding-top: 0px;
	background-color:#E8F8FF;
}
 #righttop{ display:none; }
 #rightbody{
}
 #rightbottom{}
 #footer{
				height: 20px;
				display: none;
}

.elsehead, .elsebody, .elsebottom{
	display:none;
}
 
 /*
 * outfooter
 */

#footerad{
				position: absolute;
				width: 728px;
				height: 90px;
				top: 20px;
				left: 20px;
				display:none;
}

#footerbase{
				margin: 0px;
				/*margin: 5px;
				position: absolute;
				top: 120px;
				left: 20px;*/
				background-color: #fff;
				width: 1060px;
				height: 170px;
				font-size: 14px;
				line-height: 17px;
				box-shadow: 5px 5px 5px rgba(131,211,250,0.6);
				padding: 10px;
				
	background-position: 880px 0px;
	background-image: url('http://labaq.com/user/themes/2015day/sprite.png');
	background-repeat: no-repeat;

}
#footerbase ul{
				list-style-type: none;
				text-indent: 0px;
				padding: 0px;
				margin: 0px 0px 5px 0px;
}

#footerbase li.title{
				font-weight: bold;
				color: #888;
}

#footertitle{
				font-size: 14px;
				line-height: 20px;
}
div.footercolmn{
				margin: 5px 20px 0px 0px;
				float: left;
}
#copyright{
				position:absolute;
				bottom:10px;
}

#sitebookmark{
				position: absolute;
				left: 0px;
				bottom: 0px;
				width: 50%;
}

/*------------------------------*/
 .datetop{}
 .datebody{
}
 .date{
				font-size: 14px;
				line-height: 14px;
				font-weight: normal;
				color: #888;
}

.category{
				font-size: 12px;
				line-height: 12px;
				font-weight: normal;
				color: #888;
				float:right;
				position:relative;
				margin-right:10px;
}


.date a:link,
.date a:visited,
.category a:link,
.category a:visited
{
				color: #888;
				text-decoration:none;
}

 .dateend{margin-bottom:15px;}
 .fullbody{
}
.blogbodytop{
				position: relative;
				/*background-image: url('http://labaq.com/user/themes/2013day/title_header.png');
				background-repeat: no-repeat;*/
				background-color:#eee;
				padding-left: 20px;
				padding-top: 8px;
				padding-bottom: 4px;
				border-radius: 0px 10px 0px 0px;
}
.blogbody{
				padding: 8px 10px 10px 20px;
				line-height: 1.5;
				text-align: center;
				/*background-image: url('http://labaq.com/user/themes/2013day/title_bottom.png');
				background-repeat: no-repeat;*/
}
.blogbody h4 
{ 
	border-style: solid;
	border-width: 0px 0px 1px 5px;
	border-color: #008;
	color: #000;
	font-size: 20px;
	font-weight: bold;
	line-height: 30px;
	padding: 8px 0px 8px 10px;
	margin-top:20px;
	margin-bottom:10px;
	clear: both;
	background-color: #EEE;

}

.blogbody h4 
{ 
	border-style: solid;
	border-width: 0px 0px 1px 5px;
	border-color: #008;
	color: #000;
	font-size: 20px;
	font-weight: bold;
	line-height: 30px;
	padding: 8px 0px 8px 10px;
	clear: both;
	background-color: #EEE;
	margin-top:20px;
	margin-bottom:10px;
	margin-left: -10px;
} 


.blogbody h5, 
.blogbody h6 
{
	font-size: 18px;
	line-height:23px;
	font-weight: bold;
  	margin-top:10px;
  	margin-bottom:3px;
	clear: both;
	background-color: #EEE;
    padding: 8px 0px 8px 10px;
}

.blogbody img{
	border:0px;
}

div.main img,
div.mainmore img{
	box-shadow: 2px 2px 10px rgba(0,0,0,0.4);
	margin: 10px 0px;
}
.blogbodybottom{
}
.titlebody{
				padding: 10px 10px 10px 20px;
				color: #FFFFFF;
				/*background-image: url('http://labaq.com/user/themes/2013day/title_back.png');
				background-repeat: repeat-y;*/
				background-color: #3A3D8E;
				border-radius: 0px 0px 10px 0px;
				
}
h2.title,
h1.title{
				font-size: 18px;
				line-height: 23px;
				font-weight: bold;
				color: #FFFFFF;
				text-indent: 0pt;
				text-align: left;
}

.title a:link{
 color: #FFFFFF;
}

.title a:visited{
 color: #FFFFFF;
}

:root *> h2.title:hover{ /* IE6-8以外に適用*/
	color: #FFFFFF;
	text-decoration:none;
	text-shadow: 0px 0px 3px #ddd;
}

:root *> a.title:hover{
	text-decoration:none;
}

 .main, .mainmore, .mainbottom{
 	font-size:16px;
 	line-height:28px;
	text-align: left;
	padding-top: 10px;
	padding-right: 0;
	padding-left: 0;
	width: 100%;
}

 .main a, 
 .mainmore a{
	text-decoration:underline;
}

 .navigate{
	font-size: 14px;
	line-height:21px;
	text-align: left;
	padding-top: 10px;
	word-break: break-all;
	width: 100%;
}

/*
.main p, 
.mainmore p
*/
.blogbody p,
.blogbody br
{
	margin-top: 3px;
	clear: both; 
}


blockquote {
  background: #f7faff;
  border: 1px solid #e7efff;
  padding: 1em;
  margin: 0.75em 0;
  text-align: left;
  color: #2c589e;
 }

 .pict{}
 a.continues{
}
.posted{
	font-size: 12px;
	line-height: 15px;
	color: #9a9a9a;
	text-align: right;
	padding: 5px 0;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #808000;
	margin-top: 5px;
}
 .posted a{}
 .menu{
  font-size:12px;
  line-height:15px;
  text-align:right;
  padding:2px 0 5px;
 }
 .menu a{}
 .nextpage{text-align:right;}
 #categorytitlebody{
  padding:0 15px 15px;
  text-align:left;
 }
 #categorytitle{
	border: 1px solid #24297d;
	color:#24297d;
	padding: 5px;
	font-size: 14px;
	line-height:18px;
	font-weight: bold;
	text-align: center;
	width: 460px;
	left: 40px;
	position: relative;
}
 
 .article_tags {
	font-size: 12px;
	line-height:15px;
	text-align: right;
}
.sponsordlink {
  font-size: 12px;
  font-weight:bold;
}

hr.separator{
	background-position: center center;
	background-image: url(http://labaq.com/user/themes/2013day/separator.png);
	background-repeat: no-repeat;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	border-style:none;
}
/*
div.continuebase{
}
div.continue{
				background-image: url('http://labaq.com/user/themes/2015day/sprite.png');
				background-position:0px -200px;
				background-repeat: no-repeat;
				width: 165px;
				height: 34px;
				text-indent:-9999px;
}
div.continue:hover{
				background-position:0px -240px;
}
div.continue img{
				display:none;
}
*/
div.main img.continue{
				background-image: url('http://labaq.com/user/themes/2015day/sprite.png');
				background-position:0px -200px;
				background-repeat: no-repeat;
				width: 165px;
				height: 34px;
				
				box-shadow: 0px 0px 0px rgba(0,0,0,0);
}
div.main img.continue:hover{
				background-position:0px -240px;
}

div.private-mode-announcement{
				display:none;
}


/*-----------------------------------------------------*/
 .comblogbodybottom{}
 #contentcommentbottom{}
 .formbodybottom{}
 #articletop{}
 #articlebody{}
 #articlebottom{
	background-image: url(http://labaq.com/themes/content_main.png);
	background-color: #FFFFFF;
	background-repeat: repeat-y;
}
 .trackbackurltop{}
 .trackbackurlttl,.trackbackhead,.commenthead,.takecommenthead{font-size:12px;}
 .trackbackurlbody,#trackback,#comment,#takecomment{padding:3px 0px 10px;}
 .trackbackurl{
	padding: 10px 0 20px;
	text-align: center;
}
 .trackbackurl table{}
 input.trackbackbox{width:270px;}
 .trackbackurlbottom{}
 a.posttitle{}
 #trackbackbody,#commentbody{
	padding: 10px 0 10px;
	font-size: 12px;
	text-align: left;
}
 #takecommentbody{}
 .trackbackttl,.commentttl{}
 .trackbacktext,.commenttext{
  line-height:125%;
  padding:5px 0 20px 5px;
 }
 #error{
  padding:10px;
  font-size:12px;
  line-height:125%;
  font-weight:bold;
 }
 #error span{font-weight:normal;}
 .loginon,.loginoff{
  font-size:12px;
  font-weight:bold;
  margin:10px 15px;
  padding:5px;
  border:1px solid #666666;
  text-align:center;
 }
 .loginon a{}
 .loginoff a{}
 #formbody{
  text-algin:center;
  padding:0 0 0px 0px;
 }
 .form{font-size:12px;}
 .form th{
  padding:2px;
  text-align:right;
 }
 .form td{}
 input#author{width:200px;}
 input#email{width:200px;}
 input#url{width:200px;}
 input#bake{}
 textarea#text{width:270px;height:200px;}
 input.button{margin-top:20px;width:80px;}
 #blogcommentbottom{margin-bottom:15px;}
/*------------------------------*/
 .sidetitlebody{
}

.sidetitle{
				text-align: center;
				color: #FFFFFF;
				background-color:#333688;
				
				/*background-image: url('http://labaq.com/user/themes/2013day/sidetitle.png');*/
				height: 20px;
				font-weight: bold;
				/*background-repeat: no-repeat;
				margin-top: 6px;
				margin-bottom: 2px;*/
				font-size: 14px;
				line-height: 20px;
				border-radius: 4px;
				margin: 6px 4px 2px 4px;
}

#right .sidetitle{
				/*background-image: url('http://labaq.com/user/themes/2013day/sidetitle_right.png');*/
}

 .sidetitle a{text-decoration:none;}
 .sidetop{
				height: 2px;
				display: none;
}
.side{
}
 .side a{}
 .sidebody{
				border-style: solid;
				border-color: #E4E4E4;
				border-width: 0px 0px 1px 0px;
				background: 0 3px;
				margin-left: 5px;
				margin-right: 5px;
				padding-top: 3px;
				padding-bottom: 3px;
}
.sidebottom{
				height: 5px;
				display: none;
}
 a.ttllink{}

div.sideparts_200{
	width:100%;
	text-align:left;
}
div.sideparts_200c{
	width:100%;
	text-align:center;
}

div.sideparts_c, 
div.sideparts{
	margin:0px 5px;
	text-align:left;
}

div.sideparts_c{
	text-align:center;
}
 
/*---- navigator ---*/ 
.pager-inner{
	vertical-align:bottom;
	padding:10px;
}
.pager-inner a:link,
.pager-inner a:visited,
.pager-inner a:hover{
 padding: 4px;
 border: 1px solid #24297d;
 color:#24297d;
}
.pager-inner a:hover{
 background-color:#24297d;
 color:#fff;
 text-decoration:none;
}

ul.index-navigator li.paging-number ol.paging-number li.current{
 padding: 4px;
 border: 1px solid #24297d;
 font-weight: bold;
 margin:0pt 2px;
 zoom:1;
}
 
/*------------------------------*/
 .calendarheadbody{}
 .calendarhead{
  padding:8px 5px;
  font-size:10px;
  font-weight:bold;
  text-align:center;
 }
 .calendarhead a{color:#000;}
 .caltop{}
 .calbody{padding-bottom:10px;}
 .calendartable{}
 .caltbl{margin:0 auto;}
 .caltblwkbg{}
 .calendarwd{}
 .caltblwk{
  border-bottom:1px solid #e7e7e7;
  border-top:1px solid #fff;
  border-left:1px solid #fff;
 }
 .caltblwk td{
  width:18px;
  height:22px;
  padding:3px 1px;
  font-size:9px;
  text-align:center;
  border-right:1px solid #fff;
 }
 .calendarweek{
  padding:0 1px;
 }
 .weekday{}
 .sat{}
 .sun{}
 .caltbldaybg{}
 .caltblday{
  margin:0 auto;
  border-left:1px solid #fff;
  }
 .caltblday td{
  width:18px;
  height:22px;
  padding:3px 1px;
  border-right:1px solid #fff;
  border-bottom:1px solid #fff;
  font-size:9px;
  text-align:center;
  }
 .calendar{}
 .calendard{}
 .calon{background:#e6e6e6;}
 .caloff{}
 .caltblday a{
  font-weight:bold;
 }
 .even{}
 .odd{}
 .calbottom{margin-bottom:10px;}
/*------------------------------*/
 input.sf{
  width:110px;
  margin-right:1px;
 }
 .sfbtn{}
 .moblogbody,.linkme,.skypeme{text-align:center;}
 .afbody{text-align:center;padding-bottom:10px;}
 .afbody img{margin-bottom:3px;}
 .photo{text-align:center;}
 .nickname{font-size:12px;font-weight:bold;padding:5px 0;text-align:center;}
 .profbody{}
 .mysite{}
 .message{padding:10px 0;text-align:left;font-size:10px;margin-bottom:10px;line-height:130%;}
 .newslist{padding:5px 5px 0 0;}
 .blogtimes{
  margin:10px auto;
  text-align:center;
 }
 .quotetable{
  color:#000;
  background:#000;
  width:170px;
 }
 .quotetable img{width:160px;}
 .quote{
  font-size:12px;
  padding:1px;
  background:#fff;
 }
 .quote a{color:#0f1f3f;}
 .elsehead{padding-top:6px;text-align:center;}
 .elsebody{
 text-align: center;
 line-height: 2em;
}
 .elsebottom{padding-bottom:10px;}
 .elsebody a{}
 .checkers{padding-bottom:10px;width:117px;font-size:11px;text-align:left;margin:0 auto;}
 .reader{padding-bottom:20px;width:117px;font-size:11px;text-align:left;margin:0 auto;}
 .powered{padding-bottom:10px;}
 .syndicate{}
/*-----------------------------------------------------*/
 #ad{}
 body.ad{background:#fff;}
/*
 .blogbody iframe{
  width:300px;
  margin:10px auto;
  text-align:center;
 }
*/
 a.adtitle{}
 a.addescription{color:#9a9a9a;text-decoration:none;}
 a.adurl{color:#9a9a9a;text-decoration:none;}
 a.adld{}
.voting {
 text-align: right;
 font-size: 0.8em;
 vertical-align: bottom;
}
.bookmark {
	text-align: right;
	vertical-align: bottom;
	top: 7px;
	position: absolute;
	right: 20px;
}
.adsection {
 text-align: center;
 padding: 0px;
 margin: 0px 0px 10px 0px;
}
h3.adsection {
 font-size: small; 
 font-weight: bold; 
 color: #808080;
}
.adsection_body-top {
 position:absolute;
 width:600px;
 height:200px;
 left:380px;
 top:10px;
 border:0px;
 
 z-index:100;
 
}
.adsection_left {
 text-align: left;
 padding: 0px;
 margin: 0px 0px 10px 0px;
}

/* unvisited bold */
#left div.plugin-recent_articles a:link,
 ul.related li a:link {
	font-weight:bold;
	/* color:#000080; */
 }
 
 div.articlelist div.sidebody,
 #right div.plugin-recent_articles div.sidebody{
	height:1em;
	overflow:hidden;
}

 div.plugin-recent_articles a:visited,
 ul.related li a:visited { 
 	font-weight:normal;
 }


/* LabaQ Original CSS */
/* adverse legacy */
.pict{
 margin:0.25em 5px 5px 0.25em;
}

#blog table
{
  width: 80%;
  border-collapse: collapse;
  border-style: solid;
  border-width: 1px;
  border-color: #000084;
}
#blog table th,
#blog table td
{
  border-style: solid;
  border-width: 1px;
  border-color: #000084;
}
#blog table .table-point
{
  white-space: nowrap;
  text-align: right;
}
ul.related {
  list-style-image: url(http://labaq.com/themes/dot_link.png);
}
ul.related a{
  text-decoration:none;
}



/** Google AdSense **************************/
#mainTopAFC {}
#mainMiddleAFC { margin: 10px 0; }
#mainBottomAFC { margin: 0 10px; }
#sidebarAFC { text-align: center; }

.ad-outer { margin: 0 auto; padding: 5px; text-align: right; }
.ad-outer .ad-by { margin:0 15px; font-size: 11px; }
.ad-outer .ad-box { text-align:left; }

.ad-outer .ad-box a{ display:block; margin: 0 8px 0 0!important; padding: 3px 5px!important; }
.ad-outer .ad-box a:hover { padding: 2px 4px!important; }

/* add ( 2010 2 25 ) */
#mainTopAFC .ad-box span.ad-url ,
#mainMiddleAFC .ad-box span.ad-url ,
#mainBottomAFC .ad-box span.ad-url{ margin-left: 10px; }

/* clearfix */
#mainTopAFC .ad-outer { zoom: 1; }
#mainTopAFC .ad-outer:after { content: "."; display: block; clear: both; height: 0; visibility: hidden; }

.ad-by a, .ad-by a:hover { color: #000000; font-weight: bold; }
.ad-box a, .ad-box a:hover { text-decoration:none; }
.ad-box a span.ad-title { font-size: 14px; color: #0000ff; font-weight: bold; text-decoration: underline; line-height:150%; }
#mainBottomAFC .ad-box a span.ad-title { line-height:200%; }
.ad-box a:hover span.ad-title { color: #ff0000; }
.ad-box a span.ad-url,
.ad-box a:hover span.ad-url { font-size: 11px; color: #008000; white-space: nowrap; overflow: hidden; }
.ad-box a span.ad-description,
.ad-box a:hover span.ad-description { display: block; font-size: 12px; color: #000000; }
.ad-box a:hover{
	background: #ffffbb;
	border: 1px solid #ffffbb;
	-moz-border-radius: 5px; /* for fx */
	-webkit-border-radius: 5px; /* for safari */
}

/**  for ncb  **/

/* link */
.ad-box-ncb {
	text-align:left;
	padding:3px 5px;
	display:block;
	line-height:1.5;
}
.ad-box-ncb:hover {
	padding:2px 4px;
	background:#ffffbb;
	border:1px solid #ffffbb;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
/* title */
.ad-box-ncb span.ad-title a { font-size:14px; color:#0000ff !important; font-weight:bold; text-decoration:underline; }
.ad-box-ncb span.ad-title a:hover { color:#ff0000 !important; text-decoration:none; }
#mainBottomAFC .ad-box-ncb span.ad-title a { line-height:200%; }
/* url */
.ad-box-ncb span.ad-url a { font-size:11px; color:#008000 !important; margin-left:10px; text-decoration:none; }
.ad-box-ncb span.ad-url a:hover  { }
/* description */
.ad-box-ncb span.ad-description { font-size:12px; color:#000000 !important; display:block; }

/**  /for ncb  **/

/** ArticlePager - 個別記事ページ */

ul.article-pager {
	list-style-type: none;
	margin-bottom: 10px;
/** ++ border高さを揃えるため */
	overflow: hidden;
}

ul.article-pager li {
	float: left;
	display: inline;
	width: 49%;
	margin: 0;
	padding: 1px 0 0;/** 1px余白（上部） */
}

ul.article-pager li a {
	display: block;
	margin: 0 10px;
}

ul.article-pager li.prev {
	text-align: right;
}

ul.article-pager li.next {
	text-align: left;
}

ul.article-pager li.both {
	border-left: 1px solid #8d8d8d;
}
ul.article-pager:after{
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}

/* 段組用 */
ul.divHorz2,ul.divHorz3 {
	list-style-type: none;
	margin-bottom: 10px;
	font-size: 100%;
	overflow: hidden;
	width: 100%;
}

ul.divHorz2 li {
	float: left;
	display: inline;
	width: 49%;
	margin: 0;
	padding: 1px 0 0;/** 1px余白（上部） */
}

ul.divHorz3 li {
	float: left;
	display: inline;
	width: 32%;
	margin: 0;
	padding: 1px 0 0;/** 1px余白（上部） */
}

/* ライブドアニュースプラグイン サイドバー */
div.plugin-news div.sidebody {
				font-size:12px;
				/*padding: 1px;*/
				border-width: 0px;
				margin-bottom: 1px;
}
div.plugin-news div.sidebody a:link{color:#000080;}
div.plugin-news div.sidebody a:visited{color:#000080;}

a.topsy-sm-retweet{display:none;}




/*------------------ LabaQ CSS -----------------------*/

/* amazon */
.amazlet-box{
				border: 2px solid #FFCC00;
				padding: 5px;
}

.amazlet-box a{
	text-decoration:none;
	font-weight: bold;
}

.amazlet-box br{
	clear:none;
}

.amazlet-review,
.amazlet-detail {
 font-size: 12px;
 line-height:15px;
 white-space:normal;
}
/*
.amazlet-review-average,
.amazlet-powered-date,
.amazlet-detail,
.amazlet-link{
	display:none;
}
*/
/* LabaQ Original CSS +/
/* adverse legacy */
.pict{
 margin:0.25em 5px 5px 0.25em;
}

#blog table
{
  width: 80%;
  border-collapse: collapse;
  border-style: solid;
  border-width: 1px;
  border-color: #000084;
}
#blog table th,
#blog table td
{
  border-style: solid;
  border-width: 1px;
  border-color: #000084;
}
#blog table .table-point
{
  white-space: nowrap;
  text-align: right;
}
ul.related {
				list-style-image: url(http://labaq.com/user/themes/2013day/icon_related.png);
				padding-left: 20px;
				margin-top: 5px;
				margin-bottom: 5px;
				margin-left: 20px;
}
ul.related a{
  text-decoration:none;
}

/* define special effect */
.bigred,
.biggreen,
.bigblue,
.bigblack{
	font-size: 24px;
	line-height:32px;
}

.smallred,
.smallgreen,
.smallblue,
.smallblack{
	font-size: 12px;
	line-height: 18px;
}

.bigred,
.red,
.smallred{
	color:#f00;				
}

.biggreen,
.green,
.smallgreen{
	color:#080;				
}

.bigblue,
.blue,
.smallblue{
	color:#008;				
}

.redblack {
 color: red;
    background-color: black;
}
.yellowblack {
 color: yellow;
    background-color: black;
}
.grayblack {
 color: gray;
    background-color: black;
}
.blackblack {
 color: black;
    background-color: black;
}
.square {
    border: 1px solid black;
}
.redborder {
    border: solid 2px red;
    padding: 1em;
    margin: auto;
    width: 70%;
}

.question {
	border: 1px solid #CCCC00;
	padding: 8px;
	background-color: #FFFFCC;
	width: 500px;
	margin-top: 10px;
	margin-bottom: 10px;
	clear: both;
	text-align: left;
	font-weight: bold;
	font-style: normal;
	position: relative;
	margin-left: 20px;
}

.badanswer {
	border: 1px solid #CC0000;
	padding: 8px;
	background-color: #FFCCCC;
	width: 500px;
	clear: both;
	text-align: left;
	font-weight: bold;
	font-style: normal;
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 20px;
}

.answer {
	border: 1px solid #00CCCC;
	padding: 8px;
	background-color: #CCFFFF;
	width: 500px;
	clear: both;
	text-align: left;
	font-weight: bold;
	font-style: normal;
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 20px;
}

.quotation {
	border: 1px solid #CCCCCC;
	padding: 8px;
	width: 500px;
	clear: both;
	text-align: left;
	font-weight: bold;
	font-style: italic;
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 20px;
	color: #606060;
}

.tips {
	border: 1px solid #CCCCFF;
	padding: 8px;
	width: 500px;
	clear: both;
	text-align: left;
	font-weight: normal;
	font-style: normal;
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #0000CC;
	font-size: 12ox;
	line-height:18px;
	margin-left: 20px;
}

.mona 
{ 
  font-size: 14px; 
  line-height: 14px; 
  font-family: "IPA MONAGOTHIC", "Mona", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; 
}

p.bquote {
				border: 2px solid #aaf;
				margin: 3px -8px 16px -8px;
				padding: 8px;
				background-color: #eef;
				border-radius: 10px;
}

p.photo {
  background: #f7faff;
  border: 1px solid #e7efff;
  padding: 4px;
  color: #000040;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
}

p.headline{
  border: 1px solid #CCCCCC;
  background-color: #EEEEEE;
  font-size: 14px;
  line-height: 20px;
  padding: 4px;
}


/***********************************************
 *	らばQ 画像レイアウト用
 ***********************************************/
.divImgLeftLayout, .divImgRightLayout {
	width: 100%;
}
.divImgLeftLayout img{
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	clear: none;
}

.divImgRightLayout img{
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
	clear: none;
}

.divImgLeftLayout br, .divImgRightLayout br{
	clear: none;
}

.skiplink {
	font-size: 14px;
	font-weight: bold;
	text-align: right;
}

.skiplink a {
	padding: 4px;
	border: 1px solid #FFF493;
	background-color: #FFFCDD;
	text-decoration: none;
}


/* らばQ内では非表示にするためのクラス */
.labaq_hidden {
	display:none;
}

/* ----------------------------------------------- */
/** コメント一覧 */

trackbackurlttl,
trackbackhead,
div.comments-list-title {
	border: 1px solid #EAEAEA;
	font-size: 1.2em;
}

li.comment-set {
	padding: 0 0 10px 20px;
	font-size: 90%;
	text-align: left;
}
ul.comment-info li.comment-author {
	display: inline;
	color: #000080;
	font-weight: bold;
}
ul.comment-info li.comment-date {
	display: inline;
	margin-left: 10px;
	color: #808080;
}

ul.comment-info li {
	display: inline;
}

ul.comment-info li.comment-body {
	display: block;
	margin-top: 5px;
	margin-left: 10px;
}

ul.comment-info li.comment-body img.trackback-rating {}

/* ----------------------------------------------- */
/** コメントフォーム */
tr.input-email,
tr.input-url{
	display: none;
}

div#comment-form-body {
	padding: 15px 0 15px 5px;
}
div#comment-form h3 {
	border: 1px solid #EAEAEA;
	font-size: 16px;
}

div#comment-form-body table {
	border: none;
	width: 450px;
	line-height: 25px;
	font-size: 90%;
	text-align: left;
}

div#comment-form-body table th,
div#comment-form-body table td {
	border: none;
}

div#comment-form-body table th {
	width: 3em;
	padding-right: 5px;
	text-align: right;
	font-weight: normal;
}

input#author {
	width: 65%;
}

input#email {
	width: 65%;
}

input#url {
	width: 85%;
}


input#bake {
	margin: 0 0 0 5px;
}

textarea#text {
	width: 90%;
	height: 250px;
}

input.button {
	margin-top: 10px;
	width: 80px;
}

div#comment-form-body table tr.input-etc td {
	padding-top: 6px;
}

label.input-rating {
	margin-left: 20px;
}

label.input-rating select {
	margin-left: 3px;
}

label.input-rating-face {
	margin-left: 5px;
}

label.input-rating-star {}

div#comment-form-body table tr.submit td {
	text-align: center;
}

/*** コメント認証 */
div.comment-auth-announcement {
	margin: 10px 0;
	border-color: #858585;
	font-size: 90%;
}

div.comment-auth-announcement p a {
	margin: 0 3px;
}

/* 編集用 */
.delete{
	text-decoration:line-through;
	color:#AAA;
}

/* スマートフォン対策 */
#smartphone {
display:none;
}

/***********************************************
 *	らばQ[lq_st] ソーシャルタブ関連CSS
 ***********************************************/
a.lq_st_tab{
				text-decoration:none;
				font-weight:bold;
}

a.lq_st_tab span{
				padding:2px 6px;
				border-radius:4px 4px 0px 0px;
				color:#fff;
				font-size:14px;
				line-height:20px;
}

span.lq_st_share{		background-color: #888;}
span.lq_st_twitter{	background-color: #2299CC;}
span.lq_st_hatena{	background-color: #2C6EBD;}
span.lq_st_facebook{	background-color: #1D3772;}
span.lq_st_message{	background-color: #4aa;}
span.lq_st_zenback{	background-color: #4a4;}
span.lq_st_comment{	background-color: #00f;}
span.lq_st_trackback{	background-color: #80f;}

div.lq_st_div{
				border:3px #aaa solid;
				/*width:100%;*/
				padding:10px;
				display:none;
				font-size:14px;
				line-height:18px;
}

#lq_st_share{			border-color:#888;}
#lq_st_twitter{		border-color:#2299CC;}
#lq_st_hatena{		border-color:#2C6EBD;}
#lq_st_facebook{		border-color:#1D3772;}
#lq_st_message{		border-color:#4aa; text-align:center; }
#lq_st_zenback{		border-color:#4a4;}
#lq_st_comment{		border-color:#00f;}
#lq_st_trackback{		border-color:#80f;}


/*facebook framepage*/
body.lq_st{
				margin:0px;
				background-image:none;
				background-color:#fff;
				text-align:left;
				font-size:14px;
				line-height:18px;

}
div.lq_st_fbtitle{
				border-radius:4px;
				background-color:#1D3772;
				color:#fff;
				padding:4px;
				margin:4px 0px;
}
div.lq_st_twtitle{
				border-radius:4px;
				background-color:#2299CC;
				color:#fff;
				padding:4px;
				margin:4px 0px;
				clear:both;
}
div.lq_st_smtitle{
				border-radius:4px;
				background-color:#4aa;
				color:#fff;
				padding:4px;
				margin:4px 0px;
}
.lq_st_message_input{
				border:1px #888 solid;
				width:95%;
				margin:2px 0px 8px;
}

/*social buttons*/
.lq_stb_clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.lq_stb_clearfix {
	display: inline-block;
}

/* Hides from IE-mac \*/
* html .lq_stb_clearfix {
	height: 1%;
}

.lq_stb_clearfix {
	display: block;
}

/* End hide from IE-mac */
.lq_stb_block div {
	margin-right: 15px;
	float: left;
}

.lq_sb_fl{
	float: right;
}

div.lq_stb_block img{
				vertical-align:middle;
}


