@charset "utf-8";
/* CSS Document 
Use for:	
Version:	1.0
Date:		2011/08/10
Author:		f2er
Update:     2012/05/03
*/

.login_embed_iframe{border:none; width:100%;}
.login_embed_iframe_hor{border:none; width:100%; height:100%}
.login_horizon{height:31px; line-height:31px; /*padding:9px 0;height:12px;*/}
.login_vertical{width:530px;} /*modify by qf 05-03*/
/*辅助样式*/
.mt5{ margin-top:5px;}
.mt10{ margin-top:10px;}
.mt20{ margin-top:20px;}
.mt30{ margin-top:30px;}
.mt35{ margin-top:35px;}
.w256{ width:256px;}

#popup_login_div{ width:400px; margin:0 auto; padding: 16px 0; }
#popup_reg_div{ padding: 0 0 16px 0; }
/*全站登录*/
.login_horizon legend,.login_vertical legend,.login_module legend{ display:none}

/*login_horizon*/

.iptw1{ width:73px;}
.iptw2{ width:154px}
.wtc{ width:352px;}
.wframe{ /*width:620px;*/ width:530px;}
.wframepwd{width:280px;}
.login_horizon a,.login_vertical a{ color:#1278c0;vertical-align:middle;}

/*兼容chrome
@media screen and (-webkit-min-device-pixel-ratio:0){
  .login_horizon a,.login_vertical a{
	vertical-align:top;
  } 
}*/
.login_horizon a:hover,.login_vertical a:hover{color:#ff5712}

/*login_horizon*/
.login_horizon .login_hor,.login_horizon .login_btn{ float:left; margin-right:10px; display:inline;}

.login_horizon label{ color:#333}
.login_horizon .login_ipt,.login_vertical .login_ipt{ border:1px solid #ccc;/* width:144px;*/ padding:2px 3px; background:url(../images/spriteV2.png?v=131127) repeat-x 0 -31px; height:22px; line-height:22px;}
.login_horizon .ptlogin_btn,.login_vertical .ptlogin_btn,.login_vertical .ptlogin_register{ background: url(../images/spriteV2.png?v=131127) no-repeat 0 0; width:72px; height:31px; border:none; cursor:pointer; color:#fff; font-weight:700; margin-right:1px; font-size:14px;}
.login_horizon .ptlogin_btn{ vertical-align:top;*vertical-align:middle;}
.unilogin_box a{margin-right:10px; zoom:1}
.unilogin_box label{ margin:0 10px 0 2px; cursor:pointer;}
/*.login_horizon .QQ,.login_vertical .QQ{ background:url(../images/spriteV2.png?v=131127) no-repeat 0 -294px; width:88px; height:24px; line-height:999;font-size:0; display:inline-block; zoom:1;*display:inline;vertical-align:middle; margin-right:5px;}*/

.login_vertical .ptlogin_register{ background:url(../images/q_sprite.png?v=130504) no-repeat 0 -409px; width:100px;}
/*login_vertical*/
.login_vertical .login_hor{ padding:3px 0 3px 130px; zoom:1; margin-bottom:1px;/* overflow:hidden;*/ position:relative;}
.login_vertical .login_hor label{ float:left; width:120px; margin-left:-130px; display:inline; line-height:28px;text-align:right; font-size:14px; color:#666;}
/*modify by qf 05-03*/
.login_vertical .login_hor span{ line-height:19px;  width:192px;overflow:hidden; font-family:Tahoma, Arial, Helvetica, sans-serif; color:#999;/* margin:5px 0;*/padding: 1px 5px 1px 0; display:inline-block; vertical-align:middle; zoom:1;*display:inline;}
.login_vertical .login_hor .input_tip{ padding:0 5px 0 0; line-height:14px; font-size:12px;}
.login_vertical .login_hor .input_tip_ok{ background: url(../images/spriteV2.png?v=131127 ) no-repeat -113px -57px; color: #CCCCCC; width:25px; height:12px; overflow:hidden;/*position:absolute;right:192px; top:7px;*/}
.login_vertical .login_hor .input_tip_err{color:#000; background: url(../images/q_sprite.png?v=130504) no-repeat -150px -51px #fffed7;/*height:16px;*//*position:absolute;right:5px;*/z-index:10; /*top:3px;*/   border: 1px solid #fdf0dd; padding: 3px 5px 4px 25px; }
.login_vertical .login_change{ margin-left:10px; color:#3a77ac;}
.login_vertical .login_tip label{ float:none; padding-left:0; margin-left:5px; font-size:12px; vertical-align:middle;line-height: 22px;}

.login_vertical .unilogin_box{ padding-left:130px; zoom:1;}
.login_vertical .unilogin_box .QQ{ margin-right:0;}
.login_vertical a.eual_link{vertical-align:baseline;}
/*login_qq*/
.login_qq{ padding:10px 0 0 130px; border-top:1px dashed #b3d9f6;  margin-top:10px;}
/*.login_qq p{ color:#58bc00;font-weight:700; font-size:14px; margin-bottom:10px;}
.login_qq{  color:#fff; font-size:14px; font-weight:700; line-height:31px; height:31px; display:block}*/
/*unilogin_box*/
.login_module{vertical-align:middle;}
.login_module .hd{ /*background:#e9f6ff; border-bottom:1px solid #dcf0ff;*/background:url(../images/qaframe.png) repeat-x 0 -51px;height:42px; line-height:42px; padding-left:10px; color:#3a77ac; position:relative}
.login_module .hd strong{font-size:14px;margin-right:10px;}
.login_hd{ background:url(../images/spriteV2.png?v=131127) repeat-x 0 -88px;/* line-height:40px*/}
/*modify by qf 05-03*/
.login_module .bd{ /*padding:10px 5px 20px;*/ padding:0; zoom:1}
.login_close{ background:url(../images/spriteV2.png?v=131127) no-repeat -100px -57px; z-index:100; cursor:pointer; width:13px; height:13px; overflow:hidden; position:absolute; right:13px; top:13px; text-indent:-999em; overflow:hidden}
.login_close:hover{ background-position:-100px -70px;}

/*login_account*/
.login_account{ overflow:hidden; zoom:1;width:600px;}
.login_yes,.login_no,.login_chpwd{ width:309px; font-size:14px; line-height:22px}
.login_no{ /*height:200px; width:190px;*/ font-size:14px; line-height:22px}
/*.login_yes,.login_no{float:left;}*/
.login_chpwd{ margin:0 auto;}
/*.login_no{ border-right:1px dashed #c0e1f9}*/
.login_yes p,.login_chpwd p{ color:#fe6307; padding-left:80px;font-weight:700}
.login_no p{ color:#FE6307; padding-left:50px;font-weight:700}
.login_yes strong{ color:#3a77ac; padding-left:80px;}
.login_chpwd strong{ color:#58bc00; padding-left:80px;}
.login_no strong{ color:#58bc00; padding-left:50px;}
.login_account h3{ color:#3a77ac; font-size:14px; font-weight:400; margin-bottom:10px; line-height:22px;}
.login_account .login_hor{ padding-left:100px;}
.login_account .login_hor label{ width:85px; margin-left:-95px;}
.login_user,.login_ok,.bd_user{ background:url(../images/q_sprite.png?v=130504) no-repeat 0 -26px; /*width:80px;*/ height:31px; text-align:center; line-height:31px; font-size:14px; font-weight:700; color:#fff; border:none; cursor:pointer}
.login_ok{ background-position:-106px -314px; width:106px;}
.login_user,.bd_user{ background-position:0 -313px;width:106px; }
.login_account .unilogin_box{ margin-top:10px;padding-left:100px;}
.login_account .qq_auto_reg{ padding-left:50px;}

/*login_comfirm*/
.login_comfirm{ color:#3a77ac; line-height:2;}
.login_success{ /*background:url(../images/spriteV2.png?v=131127) no-repeat 105px -321px;*/ padding:25px 0 0 121px; line-height:24px;}
.login_success strong{ color:#58bc00}
.login_success p{ color:#777;font-size:14px;}
.login_success .stip{ color:#2fa600;font-size:18px;}
.login_success .continu_ok{background:url(../images/spriteV2.png?v=131127) no-repeat -72px 0; width:72px; height:31px; display:inline-block;zoom:1;*display:inline;vertical-align:middle;margin-left:5px;}

.login_success .success_ico{background:url(../images/q_sprite.png?v=130504) no-repeat -72px -52px;width:76px;height:59px;float:left;margin:20px 0 0 -91px;display:inline;}
.login_success ul{ margin-top:10px;color:#333}
/*update by qf 05-07*/
.login_comfirm .unilogin_box{ padding:10px 0 10px 141px; zoom:1; color:#555} 
.save_btn{ margin-left:20px; font-weight:700; color:#58bc00; cursor:pointer; font-size:12px;}
.login_forget{ background:url(../images/spriteV2.png?v=131127) no-repeat 0 -453px; padding-left:20px; color:#d66f00; font-size:12px; margin:10px 0 20px;}
.login_okx{ background:url(../images/spriteV2.png?v=131127) no-repeat -72px 0; width:72px; height:31px; border:none; cursor:pointer; color:#3a77ac; text-align:center; font-weight:700;}
.login_captcha {width:56px; height:28px}

.loginDiv{width:530px; background:#FFF;border:2px solid #1b8dd4;position:absolute;left:50%;margin-left:-265px;z-index:201102;display:none}
#loginBg{top:0px;left:0px;position:absolute;background:url(../images/ptlogin_mask.png) repeat;
	_background:url(about:blank);_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod='scale', src='http://ptlogin.3304399.net/resource/images/ptlogin_mask.png');
 display:none;z-index:201101; zoom:1}

.loginErrox{ padding:30px 0;width:420px; text-align:left; height:100px; left:50%; top:50%; margin:0 0 0 -215px;position:absolute; background:#FFF;border:2px solid #1b8dd4;z-index:201102;display:none}
.loginErrox p{font-size:12px;}
.loginErrox a{ color:#40aef2}
/*add by f2er 11-07-12*/
.login_error{ background:url(../images/spriteV2.png?v=131127) no-repeat 55px -216px; padding:5px 0 0 81px; margin-bottom:10px; line-height:20px;}
.login_error strong{ color:#ff0000;font-size:14px;}
.login_error p{ color:#999; /*margin-bottom:15px;*/}
.login_err_tip{color:#f00; /*height:15px;*/height:20px;line-height: 20px;}

#login_tag {zoom:1; height:40px; z-index: 9; line-height:40px;}
.login_hd a {color: #326FA8;text-decoration: none;}

#login_tag li, #login_tag li a, .login_new .top2, .login_new p .btn, .login_new p input.reg{ color:#333333; font-weight:700}
#login_tag li { float: left;position: relative; top:1px;}
#login_tag li a {float:left;color: #333333;font-size: 14px;height: 40px;line-height: 40px;overflow: hidden; padding: 0 14px;}
#login_tag li.selectTag { border-style:solid; border-color:#dae4ed; border-width:0 1px; background:url(../images/spriteV2.png?v=131127) repeat-x 0 -128px; }
#login_tag li.selectTag a {color:#1b8dd4}
.login_new {border-top: 1px solid #d1e0ed;overflow: hidden;padding: 0; width: 100%;}
ul, ol, li, dl, dt, dd, option, td, th {border: 0 none;list-style: none outside none; margin: 0; padding: 0;}

/*确定，保存桌面*/
.login_bc,.login_desk{ background:url(../images/spriteV2.png?v=131127) no-repeat -72px 0; width:72px; height:31px; border:none; cursor:pointer;}
.login_desk{ background:url(../images/q_sprite.png?v=130504) no-repeat 0 -225px; width:86px; margin-left:10px;}
.login_yzmcge{ font-family:Arial, Helvetica, sans-serif; color:#999;margin:5px 0;}

.login_vertical .login_hor .login_required{ color:#f00; /*margin-left:5px;*/}

/* 10/14 */
.loginDiv{ border:4px solid #1c8ed3}
/*#popup_login_div #login_toregister{ display:none}*/
.login_hd{ background:url("../images/spriteV1013.png") repeat-x 0 -26px; padding-left:10px; zoom:1}
#login_tag li,#login_tag li a,#login_tag li.selectTag,#login_tag li.selectTag a{background-image:url("../images/spriteV1013.png"); background-repeat:no-repeat;}
#login_tag li{ float:left; background-position:left -66px; height:36px; padding-left:20px; margin-right:5px; display:inline;}
#login_tag li a{ background-position:right -66px;height:36px; line-height:36px; color:#fff; padding:0 20px 0 0}
#login_tag li.selectTag{ background-position:left -102px; border:none;}
#login_tag li.selectTag a{ background-position:right -102px; color:#1c8ed3}
#login_tag li{ top:4px;}
.login_new{ border-top:none;}
.login_close{ background:url("../images/spriteV1013.png") no-repeat 0 0;}
.login_close:hover{ background-position:0 -13px;}

#lf_label_simple_username {display:none;}
#login_simple_toregister {display:none;}
#login_remember_passwd_tip {display:none;}

#inputCaptcha {width:74px}
#rf_label_simple_username {display:none;}
#rf_label_username {display:inline;}
#auto_reg_simple_tip {display:none;}
#auto_reg_tip {display:block;}

/*==========update QF 05-03==================*/
#popup_reg_frame,#popup_email_reg_frame,#popup_login_frame,#popup_qr_login_frame,#popup_edit_nick_frame{display:block;margin:0 auto;width:100%;}
#sendObj{ position:absolute; left:320px; top:5px;width:110px;height:24px;}
.q_countdown{color:#666;background:url(../images/q_sprite.png?v=130504) no-repeat 0 -111px;width:110px;height:24px;text-align:center;line-height:24px;cursor:pointer;display:block;}
.q_countdown:hover{ text-decoration:none;}
.q_cd{ cursor:default;}
.regSelect{ overflow:hidden; margin-bottom:-10px; padding:15px 20px;zoom:1}
.regSelect li{ margin-bottom:5px;line-height: 20px;}
.regSelect a{ padding:12px 5px 12px 90px;zoom:1;display:block; border:1px solid #fff;}
.regSelect li.current{ border:1px solid #7fafe0}
.regSelect .ptreg,.regSelect .autoreg,.regSelect .mailreg,.regSelect .phonereg{ width:52px;height:52px;float:left; margin:-3px 0 0 -70px;display:inline; background-image:url(../images/q_sprite.png?v=130504);background-repeat:no-repeat;}
.regSelect .q_name{ color:#333;font-size:14px; font-weight:700}
.regSelect a:hover{ border:1px solid #7fafe0;text-decoration:none;}
.regSelect a:hover .q_name{  color:#ff5712}
.regSelect .q_tip{display:block; color:#999; margin-top:5px;}
.regSelect .ptreg{ background-position:0 0}
.regSelect .autoreg{ background-position:-52px 0}
.regSelect .mailreg{ background-position:-104px 0}
.regSelect .phonereg{ background-position:-156px 0}

.q_regtype{ background:#e6f1fd;height:28px;line-height:28px; padding:0 15px; /*font-weight:700;*/color:#1278C0}
.q_regtype ul{overflow:hidden;zoom:1;}
.q_regtype li{float:left;margin-right:15px;display: inline;}
.q_regtype li.cur_regtype{color:#28c112;font-weight:700;}
.wframe .hd{ margin-bottom:10px;}
.login_vertical .login_hor .q_tip{ color:#666762;font-size:14px}

.ue_tip{ border-width:0 1px 1px; border-style:solid; border-color:#ccc; background:#fff;z-index:999; position:absolute; width: 160px; left: 130px; top: 58px;}
.ue_tip li{ color:#999; cursor:pointer; height:19px; font-size:12px;line-height:20px;margin:0 1px; white-space:nowrap; overflow:hidden}
.ue_tip .utype{ display:block;color:#999;height:20px; font-size:12px;line-height:20px;margin:0 1px; padding:0 5px;}
.ue_tip li a{color:#999; text-decoration:none; display:block;;padding:0 5px;}
.ue_tip li .cur_val{ background:#b2d7f7; color:#000;}
.ue_tip li.on a{ background:#E6F1FD;color:#000}

/*============update by QF 05-07=================*/
.q_nickname{}
.q_nickname .q_nc{ font-size:14px;text-align:center;margin-bottom:5px;}
/*.q_nickname .q_wxtip{ border:1px solid #b2b2b2;padding:5px;zoom:1;color:#999;line-height:2}*/
.q_nickname .btn_save{background:url(../images/q_sprite.png?v=130504) no-repeat 0 -52px;width:72px;height:31px;border:none;cursor:pointer;}
.q_mailto{background:url(../images/q_sprite.png?v=130504) no-repeat 0 -257px;width:158px;height:30px;line-height: 30px;text-align: center;font-weight:700;color:#fff;display:block;}
.q_mailto:hover{text-decoration: none;}
.q_wxts{ background:#ffffe3;padding:10px;border:1px solid #fffbd8;width:350px;/*margin:10px 0 0 30px;*/margin:10px auto 0;font-size:12px; line-height:2;}
.q_wxts dt{ color:#555;font-weight:700;margin-bottom:5px;}
.q_wxts dd{ color:#666;line-height: 22px;}
.q_wxts em{ color:#2fa600;font-size:24px;font-style:italic;font-weight:700; margin-right:5px;}
.q_wxts dd a{color:#2fa600;}
.q_wxts dd span{ color:#f00}

.resulteframe{ position:relative; padding:15px 0 0 0;}
.login_desk_absolute{ position:absolute;left:350px;top:85px;}
.q_perinfo li{ /*padding-left:100px;/*zoom:1;overflow:hidden;*/}
.q_perinfo span{ /*float:left;margin-left:-100px;display:inline; width:90px;/*text-align:right;*/}

.verfy_email{ width:500px;margin:0 auto;font-size:14px; padding:50px 0;}
.verfy_email .unilogin_box{ margin:20px 0 0 100px;}
.email_result{ padding-left:100px;zoom:1;overflow:hidden;color:#333;line-height:2}
.email_result .success_ico, .email_result .error_ico{ float:left;width:60px;height:60px;margin-left:-80px;display:inline;  background-image:url(../images/q_sprite.png?v=130504);background-repeat:no-repeat;}
.email_result h2{ margin-bottom:5px;font-size:18px;}
.email_result a{ color:#1c8ed3}
.email_result .success_ico{ background-position:-103px -135px;}
.email_result .error_ico{ background-position:0 -135px;}
.email_result .success_tip{ font-size:18px;color:#2fa600}
.email_result .error_ico{ font-size:18px;/*color:f80000*/}

.verfy_head{ background:url(http://u.4399.com/skins/header_bg.gif) repeat-x;height:68px;overflow:hidden;}
.verfy_head .wrap,.verfy_footer .wrap{ width:960px;margin:0 auto;}
.verfy_head a{display:block; width:356px;}

.verfy_footer{border-top: 1px solid #E5EFF5;line-height: 22px;margin: 20px 0;padding-top: 20px;text-align: center;}
.verfy_footer a{color:#333;}
.verfy_footer a:hover{color:#237DAF}

.verfy_game{ width:960px;margin:0 auto;}
.verfy_game h2{ font-size:14px;color:#1c8ed3; margin-bottom:20px; border-bottom:1px solid #f0efef; padding-bottom:5px;}
.verfy_game .game_list{ overflow:hidden;margin-right:-20px; padding:0 10px;zoom:1}
.verfy_game li{ float:left;overflow:hidden; line-height:2; border:1px solid #f4f4f4;padding:5px 8px;width:74px;white-space:nowrap; margin:0 15px 20px 10px;}
.verfy_game img{display:block;}
.verfy_game a{ color:#4880B3}
.verfy_game a:hover{ color:#FF6A03}

.q_nc_tip p{color:#666762;font-size:14px;margin:0 0 8px 120px}
.q_nc_tip {margin-top:15px}
.edit_nick_bc {margin-left:200px}
.save_to_desktop {display:inline}

.mid_l, .mid_r {width: 5px; background-color:gray}
.top_l, .top_r, .bottom_l, .bottom_r {width: 5px; height: 5px; background-color:gray}
.top_c, .bottom_c {height: 5px; background-color:gray}
.layerBoxCon .commonLayer2 .layerR {padding: 8px 0 5px; margin-left: 60px;}
.layerBoxCon .commonLayer2 .layerL {float: left; width: 50px; padding-right: 10px;}
.mBlogLayer .layerBox .layerBoxTop {height: 27px; line-height: 27px; padding: 1px;}
.mBlogLayer .layerBox .layerBoxTop .topCon {position: relative; height: 27px;line-height: 27px; padding: 0 10px;}

/*====================add by QF 0726===================================*/
#auto_reg_tip,#auto_reg_simple_tip{color:#666762;font-size:14px;font-family: "simsun";line-height: 20px;}

#email_reg_state{line-height: 22px;padding:10px;zoom:1;margin:10px 0 0 5px;padding-top:10px;color:#777;}
#email_reg_state a{color:#1c8ed3;margin:0 5px;}
.login_lstip{ width:350px; margin:6px 0;font-size:13px;}
.login_success span{ color:#ff8a00;}
#postRegAction{margin:6px 0;}

#qq_mail_tip{position: absolute; display: none; z-index: 1000; left: 10px;width:480px;border:2px solid #a0a0a0; top: 82px;}
#qq_mail_tip .qqm_t{ background:url("../images/q_sprite.png?v=130504") repeat-x scroll 0 -287px;height:27px;line-height: 27px;padding:0 10px;color:#333;font-weight:700;}
.qqlogin_close{background:url("../images/q_sprite.png?v=130504") no-repeat -162px -277px;width:8px;height:7px;display:block;position: absolute;right:10px;top:10px;cursor:pointer;overflow: hidden;}
#qq_mail_tip .qqm_b{ background:#fff;padding:10px;zoom:1;font-size:12px;line-height: 22px;}
.qq_alert{background:url("../images/q_sprite.png?v=130504") no-repeat -217px 10px;padding:10px 0 10px 50px;font-size: 14px;}
.qq_alert a{ color:#1278C0;}
#qq_mail_tip .unilogin_box{ margin-left:150px;}

/*====================add by QF 0801(邮箱验证反馈)===================================*/
.verfy_title{width:800px;margin:20px auto;border-bottom:1px solid #ddd;font-size:14px;padding:0 0 10px 10px;font-weight:700;color:#333}
.login_kt,.qqmail_open{background-image:url(../images/q_sprite.png?v=130504);display:inline-block;height:30px;margin-right:10px;vertical-align:middle;zoom:1;*display:inline;background-repeat:none;}
.login_kt{ background-position:-172px -225px;width:72px;cursor:pointer;}
.qqmail_open{background-position:-86px -225px;width:86px;}

.co_logo{ background:url(../images/qaframe.png) repeat-x;height:51px;}
.co_logo img{ margin:10px 0 0 10px;}

.qqwframe .bd{ padding:30px 0;zoom:1}
.btn_later{ background:url(../images/q_sprite.png?v=130504) no-repeat 0 -345px;display: inline-block;width: 106px; vertical-align:middle; height:30px; text-align:center; line-height:31px; font-size:14px; font-weight:700; color:#fff; border:none; cursor:pointer}

#popup_reg_edit_nick{ width:450px; margin:0 auto; padding: 16px 0; }
#popup_reg_edit_nick .q_nc_tip p{ margin: 8px 34px; }
#popup_reg_edit_nick .login_hor { padding: 3px 0 3px 80px; }
#popup_reg_edit_nick .q_wxts { width: 370px; }
#popup_reg_edit_nick .edit_nick_bc { margin-left: 130px; }
#popup_reg_edit_nick .login_hor span { width: 150px; }

/*====================add by QF 0807(邮箱反馈，昵称设置)===================================*/
.email_set{ font-size:12px; margin-top:10px;}
.email_set .eiput{ /*pading:2px 3px;*/border:1px solid #ddd; width:200px;height:24px;}
.email_set label{ font-size:14px;margin-right:10px;}
.email_nametip{ margin-top:10px; background:#fdffe3;font-size:12px; padding:10px; line-height:2}
.email_nametip dt{ font-weight:700}
.email_set .edit_nick_hor {padding: 3px 0; width:450px;}
#edit_nick_btn {padding-left: 60px;}

#popup_edit_nick .q_wxts {margin: 10px 77px 0;}

.wx_dv{ padding:10px 60px;zoom:1;color:#000;}
.wxtip{ line-height:24px; margin-bottom:10px;border:1px solid #fffbd8;padding:10px;zoom:1;line-height:2;background:#ffffe3;}
.wxtip dt{ font-size:14px;font-weight:700;color:#555555;}
.wxtip dd{ color:#666;}
.wxtip .num{ font-size:24px;color:#3b831f;font-family:"Arial";font-style:italic;}
.wxtip a{ color:#3b831f}
.wxtip .spw{ text-decoration:underline;}
.wxtip .tj{ color:#f00;}
.wx_dv .login_bc{ margin-left:150px;}

.email_set .eiput{ line-height: 24px;}

/* add by gwc 2013.04.12 */
#popup_login_div #login_toregister{ display:none}
/*#embed_login_div #login_simple_toregister{  display:none;}*/

#embed_login_div #regbot{ display:none;}
.login_vertical #login_simple_toregister{ background:url(../images/q_sprite.png?v=130504) no-repeat 0 -376px; width:72px; height:31px; /*display:none;*/ float:left; margin-right:10px; text-indent:-9999em;}
/*#embed_login_div  #login_forgetPasswd_1{ margin-left:5px; display:block;}*/

/*#popup_login_div #qq_login{ display:none;}*/

.login_vertical #login_toregister, .login_vertical #login_forgetPasswd_1{ /*padding-top:7px;*/ float:left; white-space:nowrap;line-height:32px; }
.login_horizon  #login_forgetPasswd,.login_horizon  #login_forgetPasswd_1{ margin-left:5px;}

.login_vertical #login_forgetPasswd_1{ display:none; }
.login_horizon #login_forgetPasswd{display:none;}
.login_vertical #login_forgetPasswd{ margin-left:5px;}

#popup_login_div #login_forgetPasswd{ }
#popup_login_div #login_simple_toregister{ display:block;}


.login_vertical .ptlogin_btn{ float:left;margin-right:10px;}
.login_vertical .unilogin_box{ padding-top:15px;}
.login_vertical .unilogin_box .login_tip{ float:left; display:inline; margin:3px 0 0 5px;}
.login_vertical .unilogin_box .ptlogin_register{ float:left;}
.agr_arr{ background:url(../images/q_sprite.png?v=130504) no-repeat -82px -385px; width:18px; height:15px; float:left; display:inline; margin:4px 0 0 1px; position:relative; cursor:pointer;}
.agr_arr_hov{ background-color:#fff; border-width:1px; border-style:solid; border-color:#ccc #ccc #fff #ccc; margin:3px 0 0 0;}
.agr_arr .agrbox{ background:#fff; width:140px; height:25px; line-height:26px; border:#ccc 1px solid; text-align:center; position:absolute; top:15px; left:-1px; display:none;}
.agr_arr .wbor{ background:#fff; width:18px; height:1px; position:absolute; left:0; top:-1px; }
#reg_eula_agree{ width:13px; height:13px; float:left; margin-top:4px;}
#reg_eula_info{ width:auto; float:left; display:inline; margin-right:5px; text-align:left;}
#popup_login_div{ width:auto; margin:0; padding:0; }
#popup_login_div #login_form{ width:400px; padding:16px 0; margin:0 auto;}
#regbot{ background:#f7f7f7; border-top:#e5e5e5 1px solid; padding:3px 0 18px;}
#regbot .regtip{ color:#666762; line-height:38px; font-size:14px; text-align:center;}
#regbot .ptlogin_register{ display:inline-block; line-height:10; font-size:0; overflow:hidden; margin-right:0; }
#regbot .regsub{ text-align:center;}
#regbot .regsub span { margin-right: 5px; }

#regbot {display: none;}

/*add by 情封 第三方模块*/
.ux_login,.login_logging{ font-size:0;}
.ux_login a,.login_logging a,.login_logging span{ font-size:12px;}
.login_logging{ padding:10px 0;zoom:1;text-align:center;}
.login_logging a{ margin-right:5px;color:#1278c0}
.login_logging a:hover{ color:#ff5712}

.login_horizon #lf_label_qqlogin,.login_horizon #lf_label_weibologin,.login_horizon #lf_label_taobaologin,.login_horizon #lf_label_weixinlogin,
.login_vertical #hr_label_qqlogin i,.login_vertical #hr_label_weibologin i,.login_vertical #hr_label_taobaologin i,.login_vertical #hr_label_weixinlogin i{
	background-image:url(../images/login_wt.png?v=222);background-repeat:no-repeat;width:18px; height:18px;display:inline-block; zoom:1;*display:inline;vertical-align:-5px;_vertical-align:-3px;}
	
.login_horizon #hr_label_qqlogin i,.login_horizon #hr_label_weibologin i,.login_horizon #hr_label_taobaologin i,
.login_logging #hr_label_qqlogin i,.login_logging #hr_label_weibologin i,.login_logging #hr_label_taobaologin i,.login_logging #hr_label_weixinlogin i
/* .login_logging #hr_label_weixinlogin i,.login_logging #hr_label_weixinlogin i,.login_logging #hr_label_weixinlogin i, */
{
	background-image:url(../images/login_wt.png?v=222);background-repeat:no-repeat;width:18px; height:18px;display:inline-block; zoom:1;*display:inline;vertical-align:-5px;*vertical-align:-3px;_vertical-align:-3px; /*border:1px solid #ddd;*/}

.login_horizon #lf_label_qqlogin,.login_horizon #lf_label_weibologin,.login_horizon #lf_label_taobaologin{ vertical-align:middle;border:1px solid #ddd;}
.login_horizon #lf_label_qqlogin,.login_vertical #hr_label_qqlogin i,.login_horizon #hr_label_qqlogin i,.login_logging #hr_label_qqlogin i{ background-position:0 0}
.login_horizon #lf_label_weibologin,.login_vertical #hr_label_weibologin i,.login_horizon #hr_label_weibologin i,.login_logging #hr_label_weibologin i{ background-position:0 -18px}
.login_horizon #lf_label_taobaologin,.login_vertical #hr_label_taobaologin i,.login_horizon #hr_label_taobaologin i,.login_logging #hr_label_taobaologin i{ background-position:0 -36px;}
.login_horizon #lf_label_weixinlogin,.login_vertical #hr_label_weixinlogin i,.login_horizon #hr_label_weixinlogin i,.login_logging #hr_label_weixinlogin i{ background-position:0 -56px;}

.login_vertical #hr_label_qqlogin ,.login_vertical #hr_label_weibologin,.login_vertical #hr_label_taobaologin,.login_vertical #hr_label_weixinlogin{ display:inline-block;zoom:1;*display:inline;padding:5px 8px;}
#popup_login_div #qq_login {border-top:none; padding-left:84px;}
#embed_login_div #qq_login {padding-left:0;text-align:center;}

.vertical_body_w {width:350px;}
.login_yes p {padding-left: 14px;}

/* add by gwc 第三方授权后绑定页面调整 */
.login_account{ width:660px;}
.login_no{ /*width:400px;*/ border-bottom:1px dashed #ddd; padding-bottom:30px; }
.login_yes{ padding:0 0 0 30px;}
.login_account .tp_auto_reg{ padding:0 0 0 30px; }
.login_account .tp_auto_reg .qq_logbtn, .login_account .tp_auto_reg .weibo_logbtn, .login_account .tp_auto_reg .taobao_logbtn,.login_account .tp_auto_reg .weixin_logbtn{ background:url(../images/tp_login_btn.png?v=3) no-repeat; width:252px; height:57px; border:none; cursor:pointer;}
.login_account .tp_auto_reg .weibo_logbtn{ background-position:0 -57px;}
.login_account .tp_auto_reg .taobao_logbtn{ background-position:0 -114px;}
.login_account .tp_auto_reg .weixin_logbtn{ background-position:0 -171px;}

.login_yes .login_err_tip {padding-left:14px;}

/*#ext_nick, #welcome_tip, #ext_login_btn {display:inline;}*/

/* add by zgb 2013.06.25*/
.login_prev_tip{ font-size:12px;padding:3px 0 3px 80px;color:#373737;line-height:20px;}
.login_prev_tip .q_tip{ font-size:14px;}

#ext_login_btn{ font-size:12px;}
#ext_login_btn a{ font-weight:700;}
#login_welcome{ font-size:12px;}
#login_welcome .login_nick{ font-weight:700;}


#welcome_tip #hr_label_qqlogin,#welcome_tip #hr_label_weibologin,#welcome_tip #hr_label_taobaologin{ padding:0;font-weight:700}
#welcome_tip #hr_label_qqlogin i,#welcome_tip #hr_label_weibologin i,#welcome_tip #hr_label_taobaologin i{ vertical-align:-4px;}

#embed_login_div .login_nick{ font-weight:700;}
/*#embed_login_div #login_login,#embed_login_div #login_toregister{ color:#373737;font-weight:700;}
#embed_login_div  #login_login:hover,
#embed_login_div  #login_toregister:hover{ color:#ff5712;}

#embed_login_div #login_login{ color:#373737}*/

#login_div a{ color:#373737;font-weight:700;}
#login_div a:hover{ color:#ff5712;text-decoration:underline;}

#login_div .focusa{ color:#1278c0;}
#login_div .focusa:hover{ color:#ff5712;text-decoration:underline;}

/* update by f2er 13-09-11*/
.ptlogin_login_account{ /*width:400px;margin:0 auto;*/}
.ptlogin_login_account .login_no{ width:480px;padding-left:180px;}
.ptlogin_login_account .login_yes{ width:465px;padding:20px 0 0 195px;}

/* add by gwc 13.11.26 */
.login_confirm{ width:400px; margin:0 auto;}
.login_confirm_legend .ifc,
.login_confirm_legend span{ float:left;}
.login_confirm_legend .trs{ background:url(../images/spriteV2.png?v=131127) no-repeat -104px -482px; width:32px; height:23px; display:inline; margin:26px 60px 0 50px;}
.login_confirm_legend .ifs_qq,
.login_confirm_legend .ifs_weibo{ background:url(../images/spriteV2.png?v=131127) no-repeat 0 -521px; width:67px; height:54px; margin-top:10px; }
.login_confirm_legend .ifs_weibo{ background-position:-69px -521px;}
.login_confirm_tips{ padding:35px 10px 10px;}
.login_confirm_tips .t1{ color:#666; line-height:26px; }
.login_confirm_tips .t1 .user{ color:#1278c0;}
.login_confirm_tips .t2{ line-height:40px; font-size:16px; color:#333;}
.login_confirm_tips .t2 .cfm{ color:#1278c0; font-weight:700;}
.login_confirm_btn{ height:37px; line-height:37px; margin-top:20px; padding-left:114px;}
.login_confirm_btn .cancel{ float:left; margin-right:46px; color:#3a77ac; font-size:14px; text-decoration:underline; }
.login_confirm_btn .confirm{ background:url(../images/spriteV2.png?v=131127) no-repeat 0 -482px; width:102px; height:37px; font-size:0; border:0 none; overflow:hidden;}
.login_confirm_btn form{ float:left;}

.login_account_center {margin: 0 auto;}

/*update by aofei 2015.1.4*/
.login_qrentry{ position: absolute; top: 0; right: 95px; background: url(../images/qr_sprites.png) no-repeat 0 -195px; width: 57px; height: 63px; z-index: 10; }
.login_qrmodule{ width: 530px; height: 206px; padding: 15px 0; overflow: hidden; }
.login_qrmodule .qr_imgdiv{ position: relative; z-index: 5; width: 200px; height: 185px; margin: 0 0 0 165px; cursor: default; transition: all ease-out 0.5s; -webkit-transition: all ease-out 0.5s; -moz-transition: all ease-out 0.5s; -o-transition: all ease-out 0.5s; -ms-transition: all ease-out 0.5s; }
.login_qrmodule .qr_tipimg{ _display: none; position: absolute; z-index: 10; right: 0; top: 0; background: url(../images/qr_sprites.png) no-repeat; width: 187px; height: 181px; opacity: 0; transition: opacity ease-out 0.5s; -webkit-transition: opacity ease-out 0.5s; -moz-transition: opacity ease-out 0.5s; -o-transition: opacity ease-out 0.5s; -ms-transition: opacity ease-out 0.5s; }
.login_qrmodule .qr_imgdivani{ width: 400px; margin-left: 60px; }
.login_qrmodule .qr_imgdiv .qr_tipimgani{ opacity: 1; _display: block;}
.login_qrmodule .qr_imgdiv .qr_image{ width: 132px; padding: 10px; margin-left: 23px; border: 1px solid #e0e0e0; }
.login_qrmodule .qr_imgdiv p{ margin-top: 10px; text-align: center; }
.login_qrmodule .qr_imgdiv span{ color: #65c31d; }
.login_qrmodule .qr_msg{ position: relative; z-index: 10; width: 254px; height: 17px; margin: 10px auto 0; line-height: 17px; color: #999; }
.login_qrmodule .qr_msg{ text-align: center; color: #1278c0; }
.login_qrmodule .qr_msg span,.login_qrmodule .qr_msg a{ display: inline-block; *display: inline; *zoom: 1; font-size: 14px; }
.login_qrmodule .qr_msg .downloadbtn{ color: #1278c0; }
.login_qrmodule .qr_msg .helper{ color: #ff7273; }
.login_qrmodule .qr_msg span{ position: relative; background: #ddd; top: 3px; width: 1px; height: 15px; }
.login_qrmodule .qr_errordiv{ display: none; }
.login_qrmodule .qr_error{ display: block; background: url(../images/qr_sprites.png) no-repeat -192px 0; width: 157px; height: 157px; margin: 0 auto; }

.login_qrmodule .qr_correctdiv{ display: none; background: url(../images/qr_sprites.png) no-repeat 0 -314px; width: 240px; height: 56px; margin: 60px auto 0; *margin: 80px auto 0; padding-left: 70px; }
.login_qrmodule .qr_correctmsg{ font-size: 16px; font-weight: 700; padding: 7px 0 10px; }
.login_qrmodule .qr_qrback{ color: #999; }
.login_qrmodule .qr_qrback a{ color: #1278c0; }
.login_qrentry_embed{ position: absolute; top: 0; right: 0; background: url(../images/qr_sprites.png) no-repeat -66px -195px; width: 21px; height: 19px; font-size: 0; z-index: 10; cursor: pointer; }

/*update by aofei 2015.5.13*/
.login_vertical .addinfo{ padding-left: 130px; margin: 15px 0 5px; color: #666; cursor: pointer; } 
.login_vertical .addinfo span{ float: left; *display: inline; }
.login_vertical .addinfo .icon{ background: url(../images/q_sprite.png?v=130504) no-repeat -82px -385px; width: 18px; height: 15px; }


/*update by guobao 2016.05.04 实名提示认证*/
.authentication_tip{ padding:40px; line-height:2;font-size:14px;color:#333;}
.authentication_tip dt{ font-size:16px;}
.authentication_tip a{ color:#1c8ed3}

