#am-ngg-ss-cont{
  width:650px;
}
#am-ngg-ss-cont img{
  border:0;
  background: none;
  padding:0px;
}
#am-ngg-cont {
  position:relative;
  padding:0;
  height:500px;
  width:650px;
  text-align:center;
  background:url('ajax-loader.gif') no-repeat center #ececec;
}
#am-ngg-ss-cont div {
  margin: 0 !important;
}
#am-ngg-image img {
  border: 1px solid #9CA2AB !important;
  margin: 0 !important;
  background: #fff !important;
  padding:1px;
  max-height:500px;
  max-width:630px;
  margin: 0 0 0 -12px;
}
#am-ngg-header {
  background-color:#ececec;
  color:#000;
  width:638px;
  padding:0 6px;
  text-align:center;
}
#am-ngg-title {
  padding-bottom:6px;
  display:inline-block;
  font-size:24px;
  color:#313442;
  font-family: Georgia, Times New Roman, Arial, sans-serif;
  font-weight:bold;
}
#am-ngg-foot{
  background-color:#ececec;
  color:#000;
  width:640px;
  padding:5px;
}
.jcarousel-item {
  list-style:none;
}
.am-ngg-thumb {
  border:1px solid #9CA2AB !important;
  cursor: hand !important;
  cursor: pointer !important;
  padding: 1px !important;
  visibility:hidden;
}
.am-ngg-thumb:hover,
.am-ngg-thumb:focus,
.am-ngg-thumb:active {
  border:1px solid #1e5978 !important;
  cursor: hand !important;
  cursor: pointer !important;
  box-shadow: 2px 2px 5px #333 !important;
}
.am-ngg-highlight {
  border:1px solid #9CA2AB !important;
  box-shadow: 2px 2px 5px #333 !important;
}
#am-ngg-js-warning {
  display:block;
  padding-left:10px;
  padding-right:10px;
  padding-bottom:10px;
  background-color:#fcc;
  border-style:solid;
  border-color:#f00;
  border-width:4px;
  margin:5px;"
}
#am-ngg-caption {
  text-align:left;
  font-size:16px;
  color:#000;
  padding-top:6px;
  display:inline-block;
}
#am-ngg-caption a{
  color:#263676;
}
#am-ngg-caption a:hover, 
#am-ngg-caption a:active, 
#am-ngg-caption a:focus {
  color: #000;
}
#am-ngg-nav-prev {
  color:#fff;
  position:absolute;
  left:0px;
  top:0px;
  display:block;
  padding:3px;
  width:75px;
  height:100%;
  z-index:1;
  text-transform:capitalize;
  text-shadow: #0F0D0D 1px 1px 2px;
}
#am-ngg-nav-prev:hover,
#am-ngg-nav-prev:focus {
  cursor: hand;
  cursor: pointer;
}
#am-ngg-nav-prev:active {
  cursor: hand;
  cursor: pointer;
}
#am-ngg-nav-next {
  color:#fff;
  position:absolute;
  left:569px;
  top:0px;
  display:block;
  padding:3px;
  width:75px;
  height:100%;
  z-index:1;
  text-transform:capitalize;
  text-shadow: #0F0D0D 1px 1px 2px;
}
#am-ngg-nav-next:hover,
#am-ngg-nav-next:focus {
  cursor: hand;
  cursor: pointer; 
}
#am-ngg-nav-next:active {
  cursor: hand;
  cursor: pointer;
}
#am-ngg-nav-next:active .am-ngg-next-gradient{
  margin-left:-7px;
  margin-top:2px;
  box-shadow:none;
}
#am-ngg-nav-next:active .am-ngg-next-text{
  text-decoration:underline;
  margin-left:-7px;
  margin-top:5px;
}
#am-ngg-nav-prev:active .am-ngg-prev-gradient{
  margin-left:-1px;
  margin-top:2px;
  box-shadow:none;
}
#am-ngg-nav-prev:active .am-ngg-prev-text{
  text-decoration:underline;
  margin-left:0px;
  margin-top:5px;
}
#am-ngg-nav-prev:hover .am-ngg-prev-text,
#am-ngg-nav-prev:focus .am-ngg-prev-text{
  text-decoration:underline;
}
#am-ngg-nav-next:hover .am-ngg-next-text,
#am-ngg-nav-next:focus .am-ngg-next-text{
  text-decoration:underline;
}
.am-ngg-nav-disable {
  color:#666 !important;
  cursor: default !important;
  //text-decoration:none !important;
}
.am-ngg-next-text {
  z-index:4;
  display:block;
  height:26px;
  width:81px;
  margin-top:3px;
  margin-left:-9px;
  position:absolute;
  top:80%;
  font-size:18px;
  font-weight:bold;
}
.am-ngg-next-gradient {
  z-index:3;
  height:26px;
  display:block;
  width:81px;
  position:absolute;
  margin-top:0px;
  margin-left:-9px;
  top:80%;
  background-color:#9b0001;
  border-top:1px solid #9ca2ab;
  border-bottom:1px solid #9ca2ab;
  box-shadow:2px 2px 2px #333;
}
.am-ngg-prev-text{
  z-index:4;
  display:block;
  height:26px;
  width:81px;
  margin-top:3px;
  margin-left:2px;
  position:absolute;
  top:80%;
  font-size:18px;
  font-weight:bold;
}
.am-ngg-prev-gradient {
  z-index:3;
  height:26px;
  display:block;
  width:81px;
  position:absolute;
  margin-top:0px;
  margin-left:1px;
  top:80%;
  background-color:#9b0001;
  border-top:1px solid #9ca2ab;
  border-bottom:1px solid #9ca2ab;
  box-shadow:-2px 2px 2px #333;
}
/*all on one page*/
.am-all-on-one-page {
  list-style:none;
  padding:0;
  width:650px;
}
.am-all-on-one-page li {
  overflow:hidden;
  border-bottom:1px dashed #333;
  width:650px;
  margin:0 auto;
  padding:15px 0;
}
.am-aoop-title {
  font-family: "Georgia", "Times New Roman", "Arial", sans-serif;
  color:#313442;
  padding:6px;
  display:block;
  font-size:24px;
  font-weight:700;
  text-align:center;
}
.am-all-on-one-page li img {
  display:block;
  max-width:646px;
  margin:0 auto !important;
  border: 1px solid #9CA2AB;
  background: #fff;
  padding:1px;
}
.am-aoop-caption {
  font-size:16px;
  padding:10px;
  display:block;
  width:630px;
  margin:0 auto 10px;
}