html {
  -webkit-font-smoothing: antialiased; }

@media only screen and (-webkit-min-device-pixel-ratio: 1.25), only screen and (min-device-pixel-ratio: 1.25), only screen and (min-resolution: 200dpi), only screen and (min-resolution: 1.25dppx) {
  html {
    -webkit-font-smoothing: subpixel-antialiased; } }

/*
  Theme Name:Abrams Media - Mediaite 2015
  Theme URI:http://www.abrams-media.com
  Description: F5
  Author:Abrams Media
  Author URI:http://www.abrams-media.com
  Version:0.1
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

header {
  -webkit-backface-visibility: hidden; }

.close-menu-modal {
  width: 100%;
  height: 2000px;
  background: rgba(0, 0, 0, 0.3);
  display: block;
  position: fixed;
  z-index: 99998;
  top: 0; }

.header .hide {
  display: none; }

header .show {
  display: block !important; }

#header-tools {
  display: inline-block; }
  @media only screen and (max-width: 1046px) {
    #header-tools {
      position: absolute;
      top: 0;
      right: 0 !important;
      padding: 6px;
      border-radius: 0 0 0 10px;
      border: 1px solid rgba(0, 0, 0, 0.1); }
      #header-tools a {
        font-size: 0;
        line-height: 0;
        text-shadow: -2px 2px rgba(0, 0, 0, 0.75); }
      #header-tools .menu-toggle {
        z-index: 5;
        position: relative; }
      #header-tools .social-item i {
        font-size: 24px;
        color: #fff; }
      #header-tools button {
        padding: 0;
        border: 0;
        font-size: 0;
        background: none; }
        #header-tools button:hover {
          cursor: pointer; }
      #header-tools .menu-toggle {
        display: none; }
      #header-tools .menu-toggle {
        display: inline-block; } }
  @media only screen and (min-width: 1047px) {
    #header-tools .menu-toggle {
      display: none; } }

header #nav.show {
  padding-bottom: 5px !important;
  padding-top: 10px !important;
  width: 205px !important;
  border: 1px solid #004368 !important; }

header #nav.show li a, header #nav.show:first-child {
  border-top: 0 !important; }

header #header-tools #site-tools .social-item .menu-toggle:focus i {
  color: #fff; }

header #top #logo a img {
  width: 163px !important;
  height: 45px !important;
  margin-bottom: 5px; }

header #header-tools #site-tools .social-item i {
  color: #fff !important; }

header.full {
  height: 80px; }
  @media only screen and (max-width: 1046px) {
    header.full {
      height: 65px; } }
  header.full #header-content {
    margin: 8px auto 0; }

header.compact {
  height: 55px; }
  @media only screen and (max-width: 1046px) {
    header.compact {
      height: 45px; } }
  header.compact #logo img {
    width: 139px;
    height: 36px; }

header {
  transition: height ease-in-out 0.125s;
  -o-transition: height ease-in-out 0.125s;
  -ms-transition: height ease-in-out 0.125s;
  -moz-transition: height ease-in-out 0.125s;
  -webkit-transition: height ease-in-out 0.125s;
  position: fixed;
  top: 0;
  border-bottom: 2px solid #c1262c;
  z-index: 99999;
  box-shadow: inset 0px -15px 25px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 12px #333;
  background: no-repeat center url("images/header-bg.jpg") #1A2134;
  background-size: cover;
  width: 100%;
  height: 85px; }
  @media only screen and (max-width: 1046px) {
    header {
      height: 65px; } }
  header .hide {
    display: none; }
  header .show {
    display: inherit; }
  header #header-content {
    transition: all ease-in-out 0.2s;
    -o-transition: all ease-in-out 0.2s;
    -ms-transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
    -webkit-transition: all ease-in-out 0.2s;
    margin: 0 auto;
    max-width: 1000px;
    text-align: center; }
  @media only screen and (max-width: 1046px) {
    header #nav-cats {
      margin: 0; } }
  header #nav-cats li a {
    font-family: "Open Sans Condensed", arial, sans-serif;
    font-size: 16px;
    letter-spacing: 0.05em; }
  header #logo {
    display: inline-block;
    vertical-align: bottom;
    margin-top: 10px; }
    @media only screen and (max-width: 1046px) {
      header #logo {
        margin: 5px auto; } }
    header #logo img {
      transition: all ease-in-out 0.2s;
      -o-transition: all ease-in-out 0.2s;
      -ms-transition: all ease-in-out 0.2s;
      -moz-transition: all ease-in-out 0.2s;
      -webkit-transition: all ease-in-out 0.2s;
      max-width: 180px;
      height: 50px; }
      @media only screen and (max-width: 1046px) {
        header #logo img {
          height: 36px;
          max-width: 129px;
          margin: 0 auto; } }

#site-nav {
  visibility: hidden;
  height: 20px;
  vertical-align: bottom;
  font-size: 100%;
  display: inline-block;
  width: 50%; }
  #site-nav ol {
    display: table;
    position: relative;
    width: 100%;
    margin-left: 20px; }
    #site-nav ol li {
      display: table-cell;
      margin-left: 39px;
      text-align: center;
      text-transform: uppercase; }
      #site-nav ol li a:hover, #site-nav ol li a:focus, #site-nav ol li a:active {
        outline: 0;
        border-bottom: 1px solid #800000; }
      #site-nav ol li a:hover i, #site-nav ol li a:focus i, #site-nav ol li a:active i {
        color: #800000; }
      #site-nav ol li a {
        display: inline-block;
        border-bottom: 2px solid transparent;
        text-decoration: none;
        letter-spacing: 1px;
        font-weight: 500;
        line-height: 20px;
        color: #4D4D4D;
        transition: all ease-in-out 0.2s;
        -o-transition: all ease-in-out 0.2s;
        -ms-transition: all ease-in-out 0.2s;
        -moz-transition: all ease-in-out 0.2s;
        -webkit-transition: all ease-in-out 0.2s; }
        #site-nav ol li a i {
          transition: all ease-in-out 0.2s;
          -o-transition: all ease-in-out 0.2s;
          -ms-transition: all ease-in-out 0.2s;
          -moz-transition: all ease-in-out 0.2s;
          -webkit-transition: all ease-in-out 0.2s; }
    #site-nav ol li#nav-search {
      margin-left: 0;
      position: absolute;
      top: 20px;
      right: 5px; }
      #site-nav ol li#nav-search a i:before {
        transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
        -moz-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        color: rgba(0, 0, 0, 0.5); }

#nav-cats {
  display: inline-block;
  margin: 0px 18px;
  vertical-align: bottom;
  text-transform: uppercase;
  position: relative; }
  @media only screen and (max-width: 1046px) {
    #nav-cats {
      display: none; } }
  #nav-cats li {
    display: inline-block;
    position: relative;
    height: 28px;
    text-align: left; }
    #nav-cats li a {
      color: rgba(255, 255, 255, 0.9);
      display: inline-block;
      font-family: "Roboto Slab", georgia, "Times New Roman", arial, sans-serif;
      font-size: 17px;
      font-weight: 600;
      line-height: 27px;
      margin-left: 15px;
      margin-top: 0;
      text-shadow: -2px 2px rgba(0, 0, 0, 0.75);
      letter-spacing: .035em;
      width: 100%;
      text-decoration: none; }
      #nav-cats li a:hover, #nav-cats li a:focus {
        text-decoration: underline;
        text-shadow: -2px 2px rgba(0, 0, 0, 0.25);
        color: #eee; }
  #nav-cats li#last-cat {
    display: block; }
  #nav-cats li.nav-new {
    padding-left: 10px;
    background: url("data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAJUlEQVQIW2P4//8/g5KSEhMUS4E4UkDMAqWlYLIwQRaYChhmAgCglwnczebGwAAAAABJRU5ErkJggg==") center left no-repeat; }
  #nav-cats #subcats li a {
    font-size: 13px;
    text-shadow: -2px 2px 2px rgba(0, 0, 0, 0.75);
    letter-spacing: 0.08em;
    text-transform: none;
    font-weight: normal; }
  #nav-cats.show {
    width: 200px;
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
    background: #22293c;
    z-index: 4;
    border-radius: 0 0 0 6px;
    box-shadow: #000 0 0 5px 0; }
    @media only screen and (max-width: 1046px) {
      #nav-cats.show {
        display: none;
        margin-top: 47px; } }
    #nav-cats.show li,
    #nav-cats.show #subcats li {
      display: block;
      border: 0;
      height: auto; }
      #nav-cats.show li ul,
      #nav-cats.show #subcats li ul {
        position: static;
        background: none;
        box-shadow: none; }
      #nav-cats.show li a,
      #nav-cats.show #subcats li a {
        font-size: 18px;
        border-top: 1px dotted rgba(255, 255, 255, 0.3);
        padding: 6px 12px;
        font-weight: bold;
        text-transform: uppercase; }
    #nav-cats.show li:first-child > a {
      border: 0; }
    #nav-cats.show li#last-cat > a {
      display: none; }

@media only screen and (max-width: 1046px) {
  header .social {
    display: none; } }

.social {
  max-width: 300px;
  display: inline-block;
  vertical-align: bottom;
  position: relative;
  margin: 0; }
  .social li {
    display: inline-block;
    margin-left: 5px;
    background-size: cover;
    background-repeat: no-repeat; }
    .social li:first-child {
      margin-left: 0px; }
    .social li a {
      display: inline-block;
      text-indent: -99999px;
      width: 32px;
      height: 32px; }
  .social .soc-google {
    background-image: url(images/googleplus.png); }
  .social .soc-pinterest {
    background-image: url(images/pinterest.png); }
  .social .soc-twitter {
    background-image: url(images/twitter.png); }
  .social .soc-facebook {
    background-image: url(images/facebook.png); }

html {
  -webkit-text-size-adjust: 100%;
  /* Prevent font scaling in landscape while allowing user zoom */
  background: url("data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAJUlEQVQIW2P4//8/g5KSEhMUS4E4UkDMAqWlYLIwQRaYChhmAgCglwnczebGwAAAAABJRU5ErkJggg==") #fbfbfb;
  color: #bbb; }
  html #home {
    background: url("data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAJUlEQVQIW2P4//8/g5KSEhMUS4E4UkDMAqWlYLIwQRaYChhmAgCglwnczebGwAAAAABJRU5ErkJggg==") #fbfbfb; }
  html body {
    height: auto;
    font-family: "Roboto Slab", georgia, "Times New Roman", arial, sans-serif;
    box-shadow: inset 0 0 180px #bababa;
    transition: padding ease-in-out 0.2s;
    -o-transition: padding ease-in-out 0.2s;
    -ms-transition: padding ease-in-out 0.2s;
    -moz-transition: padding ease-in-out 0.2s;
    -webkit-transition: padding ease-in-out 0.2s;
    padding-top: 100px;
    margin: 0;
    color: #222; }
    @media only screen and (max-width: 1046px) {
      html body {
        padding-top: 70px; } }
    html body a {
      color: #333; }
    html body ul {
      margin: 0; }

.subheading {
  font-size: 120%;
  line-height: 1;
  color: rgba(51, 51, 51, 0.5);
  margin: 6px 12px 6px 0; }

.fa-comment:before {
  margin-right: 2px; }

/* @group DFP Skins */
body.skinned #am-skin {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-position: center top;
  background-color: #000; }

body.skinned #credits {
  padding-top: 20px;
  background-color: #fff;
  width: 100%;
  position: relative;
  margin-top: 20px; }

/* @end */
#social-foot ul li {
  padding: 0;
  margin-bottom: 10px; }

#social-foot h3 {
  font-weight: bold;
  margin-bottom: 2px; }

#am-ngg-nav-next {
  left: 475px !important; }

/* @group network-bar    */
.network-bar {
  background: #262626;
  position: relative;
  border-bottom: 2px solid #333;
  height: 46px;
  padding: 2px 0 0; }

.network-bar ol {
  list-style: none;
  width: 1000px;
  padding: 0;
  font-size: 0;
  margin: 0 auto; }

.network-bar li {
  display: inline-block;
  text-indent: -9999px;
  margin: 0 25px 0 0;
  padding: 0; }

.network-bar li:last-child {
  margin: 0;
  padding: 0; }

.network-bar a {
  display: block;
  width: 120px;
  height: 46px;
  background: url("images/network-bar-sprites.png?v=3.0") no-repeat;
  outline: none; }

.network-bar a:hover, .network-bar a:focus, .network-bar .bar-current {
  border-radius: 10px 10px 0 0;
  background-color: #333; }

.bar-mediaite a {
  background-position: 10px -3px; }

.bar-gossipcop a {
  background-position: 10px -50px; }

.bar-geekosystem a {
  background-position: 10px -102px; }

.bar-runwayriot a {
  background-position: 10px -152px; }

.bar-sportsgrid a {
  background-position: 10px -200px; }

.bar-marysue a {
  background-position: 10px -253px; }

.bar-lawnewz a {
  background-position: 10px -301px; }

.bar-thebraiser a {
  background-position: 10px -353px; }

.bar-mediaite a:hover,
.bar-mediaite a:focus, .bar-mediaite a.bar-current {
  background-position: 10px -406px; }

.bar-gossipcop a:hover, .bar-gossipcop a:focus, .bar-gossipcop a.bar-current {
  background-position: 10px -450px; }

.bar-geekosystem a:hover, .bar-geekosystem a:focus, .bar-geekosystem a.bar-current {
  background-position: 10px -502px; }

.bar-runwayriot a:hover, .bar-runwayriot a:focus, .bar-runwayriot a.bar-current {
  background-position: 10px -552px; }

.bar-sportsgrid a:hover, .bar-sportsgrid a:focus, .bar-sportsgrid a.bar-current {
  background-position: 10px -600px; }

.bar-marysue a:hover, .bar-marysue a:focus, .bar-marysue a.bar-current {
  background-position: 10px -655px; }

.bar-lawnewz a:hover, .bar-lawnewz a:focus, .bar-lawnewz a.bar-current {
  background-position: 10px -701px; }

.bar-thebraiser a:hover, .bar-thebraiser a:focus, .bar-thebraiser a.bar-current {
  background-position: 10px -748px; }

@media screen and (max-width: 1024px) {
  .network-bar {
    display: none; } }

/* @end network-bar    */
article ol, article ul {
  margin: 0;
  padding: 0 0 0 10px; }
  article ol li, article ul li {
    list-style-type: disc;
    padding: 10px 10px 10px 0;
    margin-left: 10px; }

article ol li {
  list-style-type: decimal; }

blockquote {
  background-color: #E5E5E5;
  padding: 4px 13px;
  margin: 0 40px 12px;
  clear: both; }

.posts .story blockquote p {
  margin-bottom: 6px; }

.comments blockquote {
  font-family: Arial, helvetica, sans-serif;
  font-size: 11px !important;
  background: #ddd;
  border: 1px solid #ccc;
  margin: 10px 20px; }

.posts .comments blockquote p {
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 18px; }

b, strong {
  font-weight: bold; }

i, em {
  font-style: italic; }

h3 i, h3 em, .featured-post-title em {
  font: 700 95% "Open Sans", arial, sans-serif;
  font-style: italic;
  letter-spacing: -1px; }

main {
  display: table-cell;
  vertical-align: top;
  width: 667px;
  box-sizing: border-box;
  padding: 10px; }
  @media only screen and (max-width: 767px) {
    main {
      display: inherit;
      width: 100%; } }

/* @end */
.full-width {
  max-width: 1000px;
  width: 1000px; }

.min-width {
  max-width: 320px;
  width: 320px; }

.default-width {
  max-width: 100%;
  width: 100%; }

.unit-wrap {
  padding: 10px 0;
  margin: 15px auto !important;
  text-align: center;
  background-color: #e2e2e2;
  box-shadow: 0px 0px 6px #848484; }

.unit-wrap:before {
  content: "Advertisement";
  vertical-align: top;
  margin-top: -5px;
  line-height: 15px;
  width: 85%;
  display: inline-block;
  color: grey;
  font-size: 10px; }

@media screen and (max-width: 1024px) {
  #am-ngg-header, #am-ngg-foot {
    padding: 0 !important; }
  #am-ngg-image img {
    max-width: 100% !important;
    height: auto !important; }
  .jcarousel-container {
    width: auto !important; }
  #am-ngg-nav-next {
    top: auto !important;
    left: auto !important;
    bottom: 0 !important;
    right: 0 !important; } }

#search {
  display: inline-block;
  position: relative;
  height: 28px;
  max-width: 32px; }
  #search form {
    position: absolute;
    right: 34px;
    display: none; }
  #search button {
    display: inline-block;
    padding: 0;
    border: 0;
    font-size: 0;
    background: none; }
    #search button:hover {
      cursor: pointer; }
    #search button:active, #search button:focus {
      outline: none; }
    #search button i {
      color: #fff;
      font-size: 24px;
      margin-right: 6px; }
  #search .search-submit {
    display: none; }
  #search .search-field {
    max-width: 200px;
    background: white;
    border: 1px solid #cccccc;
    border-radius: 6px;
    padding: 3px 8px;
    text-align: center;
    font-style: italic;
    margin: 0;
    margin-top: -8px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 100%;
    line-height: 80%;
    transition: width ease-in-out 0.2s;
    -o-transition: width ease-in-out 0.2s;
    -ms-transition: width ease-in-out 0.2s;
    -moz-transition: width ease-in-out 0.2s;
    -webkit-transition: width ease-in-out 0.2s;
    box-shadow: -5px 0px 10px #000; }
    @media only screen and (max-width: 1046px) {
      #search .search-field {
        height: 24px;
        margin-top: 0; } }

#wrap .page-navigation {
  font-size: 160%;
  line-height: 1;
  text-shadow: -2px 3px black;
  vertical-align: middle;
  font-weight: 700;
  font-family: "Open Sans Condensed", arial, sans-serif;
  background: repeat center url("images/header-bg.jpg") #01334e;
  border-left: 6px solid maroon;
  border-right: 6px solid maroon;
  border-radius: 3px;
  display: table;
  width: 100%;
  max-width: 635px;
  margin: 0;
  box-sizing: border-box;
  text-align: center; }
  #wrap .page-navigation a {
    padding: 10px;
    color: #fff;
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none; }
    #wrap .page-navigation a:hover {
      text-decoration: underline; }
  #wrap .page-navigation .alignright {
    float: right; }

.section-heading {
  color: #FFFFFF;
  font-size: 150%;
  line-height: 1;
  padding: 6px;
  text-shadow: -2px 3px black;
  vertical-align: middle;
  font-weight: 700;
  font-family: "Open Sans Condensed", arial, sans-serif;
  background: repeat center url("images/header-bg.jpg") #01334e;
  border-left: 6px solid maroon;
  border-radius: 3px;
  display: table;
  margin-bottom: 12px;
  width: 100%;
  box-sizing: border-box; }

.heading {
  display: inline-block;
  font-weight: 700;
  box-sizing: border-box;
  width: auto;
  font-family: "Open Sans Condensed", arial, sans-serif;
  font-size: 14px;
  background: repeat center url("images/header-bg.jpg") #01334e;
  text-transform: uppercase;
  color: #efefef;
  padding: 7px 15px;
  border-radius: 4px 4px 0px 0px;
  text-align: center; }

#wrap {
  position: relative;
  width: 100%;
  margin: 15px auto 0;
  color: #333;
  max-width: 1000px;
  background: #f1f1f1; }
  @media only screen and (max-width: 1046px) {
    #wrap {
      width: 728px; } }
  @media only screen and (max-width: 767px) {
    #wrap {
      width: 100%;
      max-width: 400px;
      display: inherit; } }
  #wrap a {
    color: #333; }
  #wrap p {
    margin: 0 0 15px; }

.navigation {
  width: 100%;
  display: inline-block;
  margin: 0 auto; }

#leaderboard {
  position: relative;
  width: 970px;
  max-width: 1000px;
  max-height: 350px;
  text-align: center;
  margin: 0 auto; }
  @media only screen and (max-width: 1046px) {
    #leaderboard {
      width: 728px; } }
  @media only screen and (max-width: 767px) {
    #leaderboard {
      max-width: 320px; } }

.mobile-unit-section {
  display: none; }
  @media only screen and (max-width: 767px) {
    .mobile-unit-section {
      display: inline-block;
      margin: 0 auto;
      width: 100%;
      text-align: center;
      border: 1px solid #ddd;
      padding: 14px 0;
      box-sizing: border-box;
      border-width: 1px 0 1px 0; } }

#mobile-atf {
  display: none; }
  @media only screen and (max-width: 767px) {
    #mobile-atf {
      text-align: center;
      margin-bottom: 10px;
      display: inline-block;
      margin: 0 auto;
      width: 100%;
      text-align: center;
      border: 1px solid #ddd;
      padding: 14px 0;
      box-sizing: border-box;
      border-width: 1px 0 1px 0;
      margin-bottom: 15px; } }

#adhesion {
  display: none;
  width: 100%;
  min-height: 60px;
  background-color: #446;
  background: url("images/header-bg.jpg");
  position: fixed;
  bottom: 0;
  z-index: 99999;
  text-align: center;
  box-sizing: border-box;
  padding: 5px 0 0;
  border-top: 1px solid #c1262c;
  box-shadow: inset 0px -15px 25px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 6px #333; }
  @media only screen and (min-width: 567px) and (max-width: 767px) {
    #adhesion {
      display: none; } }
  #adhesion.show {
    display: block; }

#adhesion-close {
  width: 19px;
  height: 15px;
  background-color: #fff;
  position: absolute;
  top: -16px;
  right: 5px;
  cursor: pointer;
  color: white;
  border-radius: 5px 5px 0 0;
  border: 1px solid #c1262c;
  border-bottom: 0;
  background: url("images/header-bg.jpg");
  box-shadow: inset 0px -15px 25px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 4px #333; }

#newsletter {
  margin: 12px 0 16px;
  color: #262626;
  display: block; }
  #newsletter form {
    display: block;
    border-top: 2px solid #c1262c !important;
    padding: 10px; }
    #newsletter form input[type="text"] {
      box-sizing: border-box;
      border: 1px solid #919191;
      border-radius: 5px;
      color: #919191;
      font-size: 1em;
      height: 26px;
      padding-left: 9px;
      width: 175px; }
    #newsletter form input[type="submit"] {
      background-color: #002030;
      color: #fff;
      margin-left: 6px;
      box-sizing: border-box;
      height: 25px;
      border: 0 solid;
      color: white;
      letter-spacing: 1px;
      border-radius: 3px;
      padding: 5px;
      font: 900 88%/1px "Open Sans", "trebuchet ms", arial, sans-serif;
      text-shadow: -1px 1px 0 rgba(0, 0, 0, 0.15); }

ol.sidebar-posts {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  display: block; }

ol.sidebar-posts .sidebar-posts-header {
  text-align: center;
  border-top: 4px solid #9e0001;
  background-color: #e5e5e5;
  border-bottom: 1px solid #9ca2ab;
  border-bottom: 0;
  padding: 4px 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  color: #002030; }

ol.sidebar-posts li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-block; }

ol.sidebar-posts li a {
  display: table;
  padding: 6px 0;
  border-bottom: 1px solid #d8d8d6; }

ol.sidebar-posts li a .thumbnail {
  display: table-cell;
  float: left;
  width: 96px;
  height: 54px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  vertical-align: top;
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

ol.sidebar-posts li a h4 {
  font-weight: normal;
  margin: 0;
  padding: 0;
  display: table-cell;
  vertical-align: top;
  padding-left: 10px;
  font-size: 14px;
  line-height: 16px;
  font-family: Georgia, Times New Roman, helvetica, Arial, sans-serif; }

#tips {
  margin-bottom: 10px;
  height: 100%; }
  #tips .tips-body {
    border-top: 2px solid #c1262c !important; }
  #tips img {
    margin-right: 5px; }

#sidebar {
  color: #333;
  display: table-cell;
  width: 333px;
  overflow: hidden;
  padding: 13.5px 8px 0;
  border-left: 1px solid rgba(0, 0, 0, 0.05);
  box-sizing: border-box; }
  #sidebar a {
    color: #333;
    text-decoration: none; }
  @media only screen and (max-width: 767px) {
    #sidebar {
      display: block;
      margin: 0 auto;
      width: 100%; } }
  #sidebar .sidebar-title {
    font: bold 16px/20px "Open Sans Condensed", arial, sans-serif !important;
    text-decoration: none; }
  #sidebar #popular-posts {
    border-top: 2px solid #c1262c; }
  #sidebar .unit {
    width: 300px;
    height: 25 0px;
    margin: 0 0 15px; }
    #sidebar .unit .stuck:before,
    #sidebar .unit .past-limit:before {
      content: "";
      border: 1px dashed gray; }
  #sidebar #unit-sidebar,
  #sidebar #rectangle-mid,
  #sidebar #rectangle-btf {
    max-width: 320px;
    overflow: hidden;
    margin-bottom: 15px;
    text-align: center; }
  #sidebar .unit {
    width: 300px;
    height: 250px;
    margin: 0 0 15px; }
    #sidebar .unit .stuck:before,
    #sidebar .unit .past-limit:before {
      content: "";
      border: 1px dashed gray; }

.post {
  position: relative;
  max-width: 310px;
  display: inline-block;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  vertical-align: top;
  padding-top: 13px;
  margin-bottom: 15px; }
  .post h3 {
    font: 700 20px/22px "Open Sans Condensed", arial, sans-serif; }
    .post h3 a {
      text-decoration: none; }
      .post h3 a:hover {
        text-decoration: underline; }
  .post .featured-img {
    display: block;
    width: 100%;
    height: 162px;
    background-size: cover;
    background-repeat: none; }
  .post .dateline {
    font: 300 12px/25px helvetica, arial, sans-serif;
    bottom: 0;
    width: 100%;
    z-index: 1; }
  .post .comments-link {
    display: inline-block;
    position: absolute;
    bottom: 5px;
    right: 7px;
    z-index: 1;
    color: #333;
    font-size: 12px;
    text-decoration: none; }
  .post .excerpt {
    display: none; }
  @media only screen and (min-width: 1047px) {
    .post .dateline {
      font: 300 12px/25px "Open Sans Condensed", arial, sans-serif;
      text-transform: uppercase;
      letter-spacing: 1px; }
      .post .dateline a {
        font: 300 .75rem/25px bold "Open Sans Condensed", arial, sans-serif;
        text-transform: uppercase;
        letter-spacing: .045em;
        text-decoration: none;
        margin-right: 5px;
        color: rgba(18, 25, 45, 0.55); }
        .post .dateline a:hover {
          color: #12192d; }
    .post .comments-link {
      bottom: 10px;
      right: 10px; } }
  @media only screen and (max-width: 1046px) {
    .post {
      max-width: 400px;
      padding-left: 110px;
      min-height: 100px;
      padding: 15px 0 15px 110px;
      margin-bottom: 0; }
      .post h3 {
        margin-bottom: 3px;
        font-size: 18px;
        line-height: 21px; }
      .post .featured-img {
        position: absolute;
        top: 15px;
        left: 0;
        max-width: 100px;
        max-height: 100px;
        background-position: center; }
      .post .dateline {
        background: none;
        padding: 0;
        color: #555;
        position: static;
        margin-top: 0;
        text-shadow: none;
        text-indent: 0; }
        .post .dateline a {
          color: #222;
          text-decoration: none;
          font-style: oblique; }
      .post .comments-link {
        bottom: 15px; } }

#atf-posts {
  margin-bottom: 15px; }
  @media only screen and (min-width: 1047px) {
    #atf-posts {
      margin-bottom: 30px;
      width: 660px; } }

@media only screen and (min-width: 1047px) {
  #lead-post .post {
    width: 100%;
    max-width: 658px;
    min-height: 243px;
    border-top: 2px solid #c1262c;
    background-color: #111;
    padding-top: 0;
    margin-bottom: 15px; }
    #lead-post .post h3 {
      position: absolute;
      width: 260px;
      margin: 15px;
      font-size: 30px;
      line-height: 33px;
      max-height: 200px;
      overflow: hidden;
      z-index: 1; }
      #lead-post .post h3 a {
        color: #efefef;
        text-shadow: 2px 3px rgba(0, 0, 0, 0.8); }
    #lead-post .post .comments-link {
      text-shadow: 2px 2px #000;
      color: #fefefe;
      font-size: 18px;
      bottom: 0px;
      right: 0px;
      padding: 8px 10px;
      background-color: rgba(187, 39, 15, 0.8);
      border-radius: 4px 0 0 0;
      font-weight: bold;
      color: white !important;
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25); }
    #lead-post .post .dateline {
      width: 185px;
      margin: 5px 0 15px 0;
      position: absolute;
      left: 15px;
      height: 16px;
      color: #efefef; }
      #lead-post .post .dateline a {
        color: rgba(255, 255, 255, 0.9);
        font: 0.75rem bold "Open Sans Condensed", arial, sans-serif;
        text-transform: uppercase;
        letter-spacing: 0.045em;
        text-decoration: none;
        margin: 0 5px 0 3px; }
    #lead-post .post .featured-img {
      max-width: 432px;
      min-height: 243px;
      position: absolute;
      right: 0; }
    #lead-post .post .featured-img:before {
      content: '';
      background: linear-gradient(to right, #111111 0%, transparent 100%);
      height: 243px;
      width: 170px;
      position: absolute; }
    #lead-post .post:after {
      content: "";
      display: block;
      width: 100%;
      border-bottom: 1px solid rgba(0, 0, 0, 0.05);
      margin-bottom: 15px; } }

@media only screen and (max-width: 1046px) {
  #lead-post .post {
    padding: 0;
    width: 100%;
    border-top: 2px solid #c1262c;
    background-color: #111;
    max-width: 640px;
    min-height: 200px;
    margin-bottom: 15px; }
    #lead-post .post h3 {
      font: 700 22px/26px "Open Sans Condensed", arial, sans-serif;
      position: absolute;
      width: 185px;
      margin: 15px;
      z-index: 1; }
      #lead-post .post h3 a {
        color: #efefef;
        text-shadow: 2px 3px rgba(0, 0, 0, 0.8); }
    #lead-post .post .featured-img {
      max-width: 420px;
      min-height: 200px;
      background-position: 100px -5px;
      box-shadow: inset 175px -35px 100px -15px #111;
      position: absolute;
      right: 0;
      top: 0; }
    #lead-post .post .dateline {
      color: #efefef;
      width: 185px;
      text-shadow: none;
      margin: 5px 0 15px 0;
      font: 300 12px/14px "Roboto Slab", georgia, "Times New Roman", arial, sans-serif;
      left: 5px;
      padding: 0;
      background: none;
      border-top: none;
      text-indent: 0;
      width: 285px;
      position: absolute;
      bottom: 0;
      color: #efefef;
      text-shadow: 1px 2px #000;
      padding: 2px 10px 4px;
      border-radius: 0px 0px 4px 4px; }
      #lead-post .post .dateline a {
        color: #fefefe; }
    #lead-post .post .comments-link {
      bottom: 20px;
      color: #fefefe;
      right: 10px; } }

.curated-heading {
  display: none; }
  @media only screen and (max-width: 1046px) {
    .curated-heading {
      display: inline-block; } }

@media only screen and (min-width: 1047px) {
  #curated-posts .post {
    position: relative;
    border-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    max-width: 330px; }
    #curated-posts .post:first-child {
      margin-right: 15px; }
    #curated-posts .post .featured-img:before {
      content: '';
      background: linear-gradient(to right, #111111 0%, transparent 100%);
      height: 180px;
      width: 190px;
      position: absolute; }
    #curated-posts .post .featured-img:after {
      content: '';
      background: linear-gradient(to right, #111111 0%, #111111 25%, rgba(17, 17, 17, 0) 65%);
      /* W3C */
      height: 180px;
      width: 320px;
      position: absolute; }
    #curated-posts .post .featured-img {
      box-shadow: 0px 30px 20px rgba(18, 25, 45, 0.55) inset;
      width: 320px;
      height: 180px;
      background-position: 60px -10px; }
    #curated-posts .post h3 {
      transition: all ease-in-out 0.2s;
      -o-transition: all ease-in-out 0.2s;
      -ms-transition: all ease-in-out 0.2s;
      -moz-transition: all ease-in-out 0.2s;
      -webkit-transition: all ease-in-out 0.2s;
      font: 700 20px/24px "Open Sans Condensed", arial, sans-serif;
      position: absolute;
      top: 0;
      width: 60%;
      height: 120px;
      overflow: hidden;
      z-index: 1;
      margin: 15px; }
      #curated-posts .post h3 a {
        transition: all ease-in-out 0.2s;
        -o-transition: all ease-in-out 0.2s;
        -ms-transition: all ease-in-out 0.2s;
        -moz-transition: all ease-in-out 0.2s;
        -webkit-transition: all ease-in-out 0.2s;
        color: #efefef;
        text-shadow: 1px 2px #000;
        text-decoration: none; }
        #curated-posts .post h3 a:hover {
          text-decoration: underline; }
    #curated-posts .post .dateline {
      width: 295px;
      position: absolute;
      bottom: 0;
      color: #efefef;
      text-shadow: 1px 2px #000;
      padding: 0px 10px 4px 15px;
      border-top: 1px solid rgba(255, 255, 255, 0.05);
      border-radius: 0px 0px 4px 4px;
      background: rgba(0, 0, 0, 0.7); }
      #curated-posts .post .dateline a {
        color: rgba(255, 255, 255, 0.9);
        margin-left: 2px; }
        #curated-posts .post .dateline a:hover {
          color: #efefef; }
    #curated-posts .post .comments-link {
      bottom: 0px;
      right: 0px;
      padding: 8px;
      background-color: #bb270f;
      border-radius: 4px 0 0 0;
      font-weight: bold;
      color: white;
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25); } }

@media only screen and (max-width: 1046px) {
  #curated-posts {
    position: relative;
    margin-bottom: 10px; }
    #curated-posts .post {
      padding: 0;
      width: 100%;
      border-top: 1px solid #c1262c;
      background-color: #111;
      max-width: 640px;
      min-height: 200px;
      margin-bottom: 5px; }
      #curated-posts .post h3 {
        font: 700 22px/26px "Open Sans Condensed", arial, sans-serif;
        position: absolute;
        width: 185px;
        margin: 15px;
        z-index: 1; }
        #curated-posts .post h3 a {
          color: #efefef;
          text-shadow: 2px 3px rgba(0, 0, 0, 0.8); }
      #curated-posts .post .dateline {
        margin: 5px 0 15px 0;
        font: 300 12px/14px "Roboto Slab", georgia, "Times New Roman", arial, sans-serif;
        left: 5px;
        background: none;
        border-top: none;
        text-indent: 0;
        width: 285px;
        position: absolute;
        bottom: 0;
        color: #efefef;
        text-shadow: 1px 2px #000;
        padding: 2px 10px 4px;
        border-radius: 0px 0px 4px 4px; }
      #curated-posts .post .featured-img {
        max-width: 420px;
        min-height: 200px;
        background-position: 100px -5px;
        box-shadow: inset 175px -35px 100px -15px #111;
        position: absolute;
        right: 0;
        top: 0; }
      #curated-posts .post .comments-link {
        bottom: 20px;
        color: #fefefe;
        right: 10px; } }

#chron-posts {
  margin-bottom: 15px;
  position: relative;
  padding-top: 10px;
  background: #efefef;
  border-top: 2px solid #c1262c; }
  @media only screen and (min-width: 1047px) {
    #chron-posts .post-chron {
      box-shadow: none;
      border: 1px solid rgba(0, 0, 0, 0.1);
      box-sizing: border-box;
      padding: 10px;
      background: #fbfbfb;
      margin-right: 10px; }
      #chron-posts .post-chron h3 {
        font: 700 20px/24px "Open Sans Condensed", arial, sans-serif;
        min-width: 290px; }
      #chron-posts .post-chron .comments-link {
        font-size: 14px;
        background-color: rgba(187, 39, 15, 0.8);
        color: #efefef;
        font-weight: bold;
        padding: 8px;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
        border-radius: 4px 0 0; }
        #chron-posts .post-chron .comments-link .fa-comment {
          font-weight: bold; }
      #chron-posts .post-chron .featured-img {
        border-top: 1px solid #bb260e;
        border-radius: 0;
        top: 0; } }
  @media only screen and (max-width: 767px) {
    #chron-posts .comments-link {
      position: static;
      display: block;
      padding-right: 7px;
      text-align: right; } }

#live-post {
  border-top: 2px solid #c1262c;
  margin: 0 auto 10px; }
  @media only screen and (min-width: 1047px) {
    #live-post {
      background: #dbdbdb;
      padding: 10px 0px 15px;
      width: 660px;
      box-sizing: border-box;
      background: none; }
      #live-post iframe {
        height: 372px; } }
  #live-post iframe {
    width: 100%;
    height: 320px; }
    @media only screen and (max-width: 767px) {
      #live-post iframe {
        height: 180px; } }

#live-post.live-video-double {
  border-top: 2px solid #c1262c;
  margin-bottom: 15px; }
  #live-post.live-video-double iframe {
    width: 320px;
    height: 180px; }
    @media only screen and (max-width: 767px) {
      #live-post.live-video-double iframe {
        width: 100%; } }
    #live-post.live-video-double iframe:first-child {
      margin-right: 15px; }

#home #tagged-posts {
  border-top: 2px solid #c1262c; }
  @media only screen and (min-width: 1047px) {
    #home #tagged-posts {
      display: table;
      background: #dbdbdb;
      position: relative;
      padding: 10px 0px 15px;
      width: 660px;
      box-sizing: border-box;
      margin: 0 auto 10px;
      background: none; }
      #home #tagged-posts:before {
        position: absolute;
        font-size: 14px;
        padding: 7px 15px;
        top: -31px; }
      #home #tagged-posts .post {
        vertical-align: top;
        margin: 0 0 0 15px;
        display: inline-block;
        height: auto;
        max-width: 350px;
        width: 350px;
        border: 1px solid rgba(0, 0, 0, 0.1) !important;
        position: relative;
        box-sizing: border-box;
        padding: 5px;
        overflow: hidden;
        margin-bottom: 13px;
        min-height: 95px; }
        #home #tagged-posts .post .excerpt {
          padding: 0px 10px; }
          #home #tagged-posts .post .excerpt p {
            font: 500 14px/20px "Roboto Slab", georgia, "Times New Roman", arial, sans-serif; }
        #home #tagged-posts .post .dateline {
          box-sizing: border-box;
          padding: 0px 10px;
          margin-bottom: 5px;
          display: none; }
        #home #tagged-posts .post h3 {
          max-width: 230px;
          margin-bottom: 3px;
          margin-left: 7px;
          padding: 0;
          display: inline-block;
          font: 700 16px/20px "Open Sans Condensed", arial, sans-serif; }
        #home #tagged-posts .post .excerpt {
          display: none; }
        #home #tagged-posts .post .comments-link {
          bottom: 4px;
          right: 0px;
          padding: 8px;
          font-weight: bold;
          bottom: auto;
          top: 69px;
          right: 0px;
          padding: 6px 8px;
          background-color: #bb270f;
          border-radius: 4px 0 0 0;
          font-weight: bold;
          color: white;
          text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25); }
        #home #tagged-posts .post .featured-img {
          display: none;
          position: static;
          display: inline-block;
          position: absolute;
          top: 0px;
          right: 0px;
          width: 100px;
          height: 100px;
          background-position: center;
          border-left: 1px solid rgba(0, 0, 0, 0.1); }
        #home #tagged-posts .post:first-child {
          border-top: none;
          max-height: 363px;
          display: table-cell;
          width: 292px;
          padding: 162px 0 0;
          border-right: none;
          margin-left: 0px; }
          #home #tagged-posts .post:first-child h3 {
            margin-top: 10px;
            font: 700 18px/22px "Open Sans Condensed", arial, sans-serif;
            width: 90%; }
          #home #tagged-posts .post:first-child .featured-img {
            display: inline-block;
            max-width: 289px;
            height: 162px;
            width: 100%;
            max-height: 100%;
            position: absolute;
            top: -1px;
            left: 0; }
          #home #tagged-posts .post:first-child .comments-helper {
            position: absolute;
            top: 0;
            left: 0;
            display: inline-block;
            width: 290px;
            height: 161px; }
          #home #tagged-posts .post:first-child .comments-link {
            position: absolute;
            bottom: 0;
            right: 0;
            top: auto; }
          #home #tagged-posts .post:first-child .excerpt {
            display: inline-block;
            font-size: 12px;
            line-height: 18px;
            padding-bottom: 10px; }
          #home #tagged-posts .post:first-child .dateline {
            display: inline-block; }
        #home #tagged-posts .post:nth-child(2) {
          padding-top: 5px;
          display: inline-block;
          border-top: none;
          max-height: 363px;
          width: 350px;
          margin-left: 15px; }
        #home #tagged-posts .post:nth-child(n+1) {
          margin-bottom: 7px;
          background: #fbfbfb; } }
  @media only screen and (max-width: 767px) {
    #home #tagged-posts .comments-link {
      position: static;
      display: block;
      padding-right: 7px;
      text-align: right; } }

#magazine-post {
  border-top: none;
  margin: 0 0 15px;
  box-sizing: border-box;
  max-width: 635px; }
  #magazine-post .excerpt {
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    padding: 15px 20px 5px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-top: 0; }
  @media only screen and (min-width: 1047px) {
    #magazine-post .post {
      width: 100%;
      border-top: 2px solid #c1262c;
      background-color: #111;
      padding-top: 0;
      max-width: 640px;
      min-height: 250px;
      margin-bottom: 0px; }
      #magazine-post .post h3 {
        position: absolute;
        width: 250px;
        margin: 15px;
        font-size: 30px;
        line-height: 34px;
        z-index: 1; }
        #magazine-post .post h3 a {
          color: #efefef;
          text-shadow: 2px 3px rgba(0, 0, 0, 0.8); }
      #magazine-post .post .comments-link {
        display: inline-block;
        margin: 0;
        color: #fefefe;
        font-size: 18px;
        bottom: 0px;
        right: 0px;
        padding: 8px 10px;
        background-color: rgba(187, 39, 15, 0.8);
        border-radius: 4px 0 0 0;
        font-weight: bold;
        color: white !important;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25); }
      #magazine-post .post .dateline {
        color: #efefef;
        width: 185px;
        text-shadow: none;
        margin: 5px 0 15px 0;
        position: absolute;
        left: 15px;
        padding: 0;
        background: none;
        border-top: none;
        text-indent: 0;
        z-index: 1;
        font: 300 12px/25px "Open Sans Condensed", arial, sans-serif;
        top: 215px;
        height: 16px;
        display: inline;
        text-transform: uppercase;
        letter-spacing: 1px; }
        #magazine-post .post .dateline a {
          color: rgba(255, 255, 255, 0.9);
          font-family: "Open Sans Condensed", arial, sans-serif;
          text-transform: uppercase;
          letter-spacing: 0.045em;
          font-size: 0.75rem;
          font-weight: bold;
          text-decoration: none;
          margin-right: 5px;
          margin-left: 3px; }
      #magazine-post .post .featured-img {
        max-width: 420px;
        min-height: 250px;
        background-position: 0 -5px;
        position: absolute;
        right: 0; }
      #magazine-post .post .featured-img:before {
        content: '';
        background: linear-gradient(to right, #111111 0%, transparent 100%);
        /* W3C */
        height: 250px;
        width: 170px;
        position: absolute;
        top: 0;
        left: 0; }
      #magazine-post .post:after {
        content: "";
        display: block;
        width: 100%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        margin-bottom: 15px; } }
  @media only screen and (max-width: 1046px) {
    #magazine-post .post {
      padding: 0;
      width: 100%;
      border-top: 2px solid #c1262c;
      background-color: #111;
      max-width: 640px;
      min-height: 200px;
      margin-bottom: 15px; }
      #magazine-post .post h3 {
        font: 700 22px/26px "Open Sans Condensed", arial, sans-serif;
        position: absolute;
        width: 260px;
        margin: 15px;
        z-index: 1; }
        #magazine-post .post h3 a {
          color: #efefef;
          text-shadow: 2px 3px rgba(0, 0, 0, 0.8); }
      #magazine-post .post .featured-img {
        max-width: 420px;
        min-height: 200px;
        background-position: 100px -5px;
        box-shadow: inset 175px -35px 100px -15px #111;
        position: absolute;
        right: 0;
        top: 0; }
      #magazine-post .post .dateline {
        color: #efefef;
        width: 185px;
        text-shadow: none;
        margin: 5px 0 15px 0;
        font: 300 12px/14px "Roboto Slab", georgia, "Times New Roman", arial, sans-serif;
        left: 5px;
        padding: 0;
        background: none;
        border-top: none;
        text-indent: 0;
        width: 285px;
        position: absolute;
        bottom: 0;
        color: #efefef;
        text-shadow: 1px 2px #000;
        padding: 2px 10px 4px;
        border-radius: 0px 0px 4px 4px; }
        #magazine-post .post .dateline a {
          color: #fefefe; } }
  @media only screen and (max-width: 1046px) and (max-width: 1046px) {
    #magazine-post .post .comments-link {
      bottom: 20px;
      color: #fefefe;
      right: 10px; } }

footer {
  background-color: #f1f1f1;
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  box-sizing: border-box; }
  footer #unit-footer {
    border: 0;
    /* do not remove! */
    padding: 0;
    margin: 10px auto;
    max-width: 100%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    clear: both;
    position: relative;
    z-index: 2; }
    footer #unit-footer div {
      margin: 0 auto; }
  footer #credits {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 0 40px 0;
    text-align: center;
    position: relative;
    line-height: 15px;
    z-index: 2; }
  footer #credits p {
    color: #002030;
    font-family: Arial, helvetica, sans-serif;
    font-size: 10px; }
  footer #credits img {
    border: 0; }

#info-wrap {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333;
  opacity: 0.7;
  padding: 10px 0;
  text-align: center;
  z-index: 2;
  color: #fff; }

.info {
  width: 200px;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  outline: 1px dotted gray; }

#info-sticky {
  width: 200px;
  margin: 0 auto;
  text-align: center;
  display: inline-block; }

.small {
  outline: 1px dotted red; }

.medium {
  outline: 1px dotted blue; }

.large {
  outline: 1px dotted green; }

.unknown {
  outline: 1px dotted gray; }

@media only screen and (max-width: 767px) {
  .single #wrap {
    max-width: 700px; }
  .single main {
    max-width: 100%; }
  .single article {
    max-width: 100%; }
  .single #post-wrap #post-body {
    max-width: 100%; }
  .single #post-wrap #post-body img {
    margin: 0 auto 10px; } }

article {
  background: #f1f1f1;
  max-width: 640px;
  overflow: hidden; }
  @media only screen and (max-width: 1046px) {
    article {
      max-width: 390px; } }

#post-wrap {
  display: block; }
  #post-wrap #post-social {
    font-size: 0;
    box-sizing: border-box;
    padding: 0; }
    #post-wrap #post-social #share-cont {
      width: 100%; }
      #post-wrap #post-social #share-cont #share {
        background: #f8f8f8;
        padding: 10px 10px 0;
        margin-bottom: 10px;
        overflow: hidden;
        width: 100%; }
        #post-wrap #post-social #share-cont #share .share-item {
          margin: 0 10px 10px 0;
          display: inline-block;
          max-width: 60px; }
        #post-wrap #post-social #share-cont #share .share-facebook iframe#facebook-like-inner {
          height: 62px;
          margin: 0 0 0 2px; }
  #post-wrap #post-body {
    padding: 0 15px 0 0;
    vertical-align: top;
    max-width: 550px;
    box-sizing: border-box; }
  @media only screen and (min-width: 1047px) {
    #post-wrap {
      display: table; }
      #post-wrap #post-social {
        display: table-cell; }
        #post-wrap #post-social #share-cont {
          display: table-cell;
          min-width: 90px; }
          #post-wrap #post-social #share-cont #share {
            width: 58px; }
            #post-wrap #post-social #share-cont #share .share-item {
              margin: 0 0 10px; }
      #post-wrap #post-body {
        display: table-cell; } }

@media only screen and (min-width: 1047px) {
  #post-nav a {
    transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
    position: fixed;
    height: 80px;
    width: 40px;
    overflow: hidden;
    background: #777;
    opacity: 0.5;
    display: block;
    text-decoration: none;
    font-size: 60px;
    white-space: nowrap;
    top: 50%; }
    #post-nav a:hover {
      opacity: 0.75; }
  #post-nav a[rel="prev"] {
    left: 0;
    text-align: left; }
  #post-nav a[rel="next"] {
    right: 0;
    text-align: right;
    text-indent: -280px; } }

#post-heading {
  position: relative;
  margin-bottom: 15px;
  padding: 0 10px 0 0;
  margin-top: -5px; }
  #post-heading h3 {
    font: bold 2rem/110% "Open Sans Condensed", arial, sans-serif;
    margin-bottom: 10px; }
  #post-heading .comments-label-container {
    display: inline-block;
    height: 22px;
    float: right; }
    #post-heading .comments-label-container .category-label {
      padding: 3px 8px;
      font-family: "Open Sans Condensed", arial, sans-serif;
      font-size: 13px;
      font-weight: bold;
      text-transform: uppercase;
      background: brown;
      color: white; }

.dateline {
  display: inline-block;
  line-height: 20px;
  margin-bottom: 5px; }

#post-body {
  font-family: "Roboto Slab", georgia, "Times New Roman", arial, sans-serif; }
  #post-body div {
    max-width: 100%; }
  #post-body p {
    font-family: "Roboto Slab", georgia, "Times New Roman", arial, sans-serif;
    font-size: 16px;
    line-height: 28px; }
    #post-body p a {
      color: #1d455e; }
  #post-body img:first-child {
    max-width: 100%;
    float: left;
    margin: 0 20px 5px 0;
    height: auto; }
    @media only screen and (max-width: 1046px) {
      #post-body img:first-child {
        float: none;
        display: block;
        margin-bottom: 10px; } }
  #post-body #ooyalaplayer {
    max-width: 100%;
    max-height: 390px; }
  #post-body iframe {
    max-width: 100%;
    max-height: 390px; }
  #post-body embed {
    max-width: 100%;
    max-height: 390px; }
  #post-body iframe[id^=twitter] {
    max-height: inherit; }
  #post-body iframe.instagram-media {
    max-height: inherit; }
  #post-body .fb_iframe_widget iframe {
    max-height: inherit; }
  #post-body .twitter-video iframe {
    max-height: inherit; }
  #post-body .twitter-tweet iframe {
    max-height: inherit; }

article[id^="ooyalaplayer"] {
  max-width: 550px;
  position: relative;
  z-index: 0; }

@media only screen and (max-width: 767px) {
  #featured-posts-wrap {
    height: 120px;
    transition: all ease-in-out 0.7s;
    -o-transition: all ease-in-out 0.7s;
    -ms-transition: all ease-in-out 0.7s;
    -moz-transition: all ease-in-out 0.7s;
    -webkit-transition: all ease-in-out 0.7s; }
    #featured-posts-wrap .featured-posts-button {
      height: 114px;
      position: absolute;
      top: 0;
      width: 35px;
      z-index: 99998; }
    #featured-posts-wrap #featured-posts-scrollleft {
      background: linear-gradient(to left, transparent 0%, rgba(40, 40, 40, 0.5) 100%); }
    #featured-posts-wrap #featured-posts-scrollright {
      background: linear-gradient(to right, transparent 0%, rgba(40, 40, 40, 0.5) 100%);
      right: 0; }
    #featured-posts-wrap #featured-posts-hide {
      display: block;
      width: 35px;
      height: 45px;
      background: transparent;
      margin: 0 auto;
      z-index: 99997;
      position: absolute;
      top: 119px;
      right: 0;
      border-radius: 4px;
      z-index: 99998; }
      #featured-posts-wrap #featured-posts-hide:before {
        transition: color ease-in-out 0.7s;
        -o-transition: color ease-in-out 0.7s;
        -ms-transition: color ease-in-out 0.7s;
        -moz-transition: color ease-in-out 0.7s;
        -webkit-transition: color ease-in-out 0.7s;
        content: 'x';
        width: 25px;
        height: 10px;
        display: block;
        margin: 0 auto;
        color: #fff;
        background-color: #c1262c;
        font-size: 16px;
        font-family: sans-serif;
        line-height: 3px;
        box-shadow: rgba(0, 0, 0, 0.7) 0 2px 2px 0;
        text-align: center; }
      #featured-posts-wrap #featured-posts-hide.featured-posts-hide-closed:before {
        color: #c1262c; }
    #featured-posts-wrap.top-shelf-fixed {
      position: fixed;
      top: -75px;
      padding-bottom: 0;
      z-index: 99998;
      margin: 0;
      display: block;
      width: 100%; }
      #featured-posts-wrap.top-shelf-fixed #featured-posts {
        transition: all ease-in-out 0.7s;
        -o-transition: all ease-in-out 0.7s;
        -ms-transition: all ease-in-out 0.7s;
        -moz-transition: all ease-in-out 0.7s;
        -webkit-transition: all ease-in-out 0.7s;
        margin: 0;
        display: block;
        -webkit-overflow-scrolling: touch;
        overflow-x: scroll;
        overflow-x: overlay;
        padding-top: 10px;
        border-bottom: 5px solid #c1262c;
        background-color: #F1F1F1;
        box-shadow: rgba(0, 0, 0, 0.7) 0 2px 3px 0;
        max-width: 100%; }
        #featured-posts-wrap.top-shelf-fixed #featured-posts:first-child {
          margin-left: 0; }
        #featured-posts-wrap.top-shelf-fixed #featured-posts li {
          width: 275px;
          padding-bottom: 0; }
          #featured-posts-wrap.top-shelf-fixed #featured-posts li .featured-post-thumb {
            width: 90px;
            border-radius: 4px 2px 2px 4px; }
          #featured-posts-wrap.top-shelf-fixed #featured-posts li .featured-post-title {
            width: 185px;
            font-size: 15px; }
          #featured-posts-wrap.top-shelf-fixed #featured-posts li:nth-child(4),
          #featured-posts-wrap.top-shelf-fixed #featured-posts li:nth-child(5) {
            display: inline-block; }
    #featured-posts-wrap.top-shelf-expanded {
      top: 47px;
      opacity: 1;
      display: block; } }

#featured-posts {
  max-width: 1000px;
  width: 100%;
  margin: 20px auto;
  padding: 10px 0;
  background: #F1F1F1 none repeat scroll 0% 0%;
  text-align: center; }
  #featured-posts li {
    transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    -ms-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    -webkit-transition: all ease-in-out 0.5s;
    text-align: left;
    display: inline-block;
    height: auto;
    position: relative;
    margin: 0 7px 0 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    background: #FBFBFB none repeat scroll 0% 0%;
    background-size: cover;
    width: 185px;
    vertical-align: top;
    max-height: 190px;
    padding-bottom: 5px; }
    #featured-posts li .featured-post-thumb {
      width: 185px;
      height: 105px;
      border-radius: 4px;
      background-position: center;
      display: inline-block;
      background-size: cover; }
    #featured-posts li .featured-post-title {
      font: bold 15px/19px "Open Sans Condensed", arial, sans-serif;
      width: 185px;
      color: #222;
      max-height: 85px;
      overflow: hidden;
      box-sizing: border-box;
      padding: 0 8px 0;
      display: inline-block; }

@media only screen and (max-width: 767px) {
  #featured-posts {
    display: none;
    white-space: nowrap; }
    #featured-posts li {
      white-space: normal;
      margin: 0 6px !important; }
      #featured-posts li .featured-post-title {
        width: 90px; }
      #featured-posts li .featured-post-thumb {
        vertical-align: top;
        width: 90px;
        border-radius: 4px 4px 0 0; } }

@media only screen and (min-width: 567px) and (max-width: 767px) {
  #featured-posts {
    white-space: nowrap; }
    #featured-posts li {
      white-space: normal;
      width: 230px !important; }
      #featured-posts li .featured-post-title {
        width: 135px !important;
        left: 85px; }
      #featured-posts li .featured-post-thumb {
        width: 90px !important; }
      #featured-posts li:nth-child(3) {
        display: inline-block; }
      #featured-posts li:nth-child(4) {
        display: none; } }

@media only screen and (max-width: 1046px) {
  #featured-posts {
    max-width: 730px; }
    #featured-posts li {
      width: 140px;
      margin: 0 10px; }
      #featured-posts li .featured-post-thumb {
        width: 140px;
        height: 92px;
        border-radius: 4px 4px 0 0; }
      #featured-posts li .featured-post-title {
        height: 80px;
        font-size: 14px;
        max-height: 80px; }
    #featured-posts li:nth-child(5) {
      display: none; }
    #featured-posts:first-child {
      margin-left: 7px; } }

@media only screen and (min-width: 1047px) {
  #featured-posts li {
    margin: 0 7px 0 0;
    border-radius: 4px;
    width: 185px;
    vertical-align: top;
    height: 190px;
    max-height: 190px; }
    #featured-posts li:hover {
      background-color: #fff; }
    #featured-posts li:first-child {
      margin-left: 7px; }
    #featured-posts li .featured-helper .featured-post-thumb {
      height: 105px;
      width: 185px;
      border-radius: 4px 4px 2px 2px; }
    #featured-posts li .featured-helper .featured-post-title {
      font-size: 15px;
      line-height: 19px;
      width: 185px;
      color: #222;
      max-height: 80px;
      overflow: hidden;
      box-sizing: border-box;
      padding: 3px 10px 0;
      display: inline-block; } }

/*

#featured-posts {
  max-width: $fullSiteWidth;
  width: 100%;
  margin: 20px auto;
  padding: 10px 0 5px;
  background: #E1E1E5 none repeat scroll 0% 0%;
  border-radius: 4px;
  text-align: center;
  & li {
    text-align: left;
    width: 240px;
    display: inline-block;
    background-size: cover;
    height: auto;
    position: relative;
    margin-right: 5px;
    & .featured-post-thumb {
      width: 80px;
      height: 80px;
      border-radius: 4px;
      background-position: center;
      display: inline-block;
      background-size: cover;
    }
    & .featured-post-title {
      font-family: $titleFonts;
      font-weight: bold;
      font-size: 14px;
      line-height: 16px;
      position: absolute;
      width: 140px;
      left: 90px;
      top: 0;
    }
  }
}

#featured-posts {@include respond(smallView) {
  & li {
    width: 140px;
    & .featured-post-title {
      width: 75px;
      left: 70px;
      height: 82px;
      overflow: hidden;
    } 
    & .featured-post-thumb {
      width: 65px;
    } 
    &:nth-child(4) {
      display: none;
    }
  }
}}

#featured-posts {@include respond(landscapePhone) {
  & li {
    width: 175px;
    & .featured-post-title {
      width: 80px;
      left: 85px;
    } 
    & .featured-post-thumb {
      width: 80px;
    } 
    &:nth-child(4) {
      display: inline-block;
    }
  }
}}

#featured-posts {@include respond(mediumView) {
  max-width: $midSiteThresh;
  & li:nth-child(3) {
    display: none;
  }
}}

#featured-posts {@include respond(fullView) {
  & li {
    margin: 0 3px 0 0;
    border: 1px solid $shadeMin;
    border-radius: 4px;
    background-color: #e5e5e5;
    &:hover {
      background-color: $shadeMin;
    }
    &:first-child {
      margin-left: 5px;
    }
    & .featured-helper {
      & .featured-post-thumb {
        height: 95px;
        border-radius: 4px 0 0 4px;
        width: 85px;
      }
      & .featured-post-title {
        font-size: 15px;
        left: 85px;
        line-height: 19px;
        width: 155px;
        color: #222;
        max-height: 85px;
        overflow: hidden;
        box-sizing: border-box;
        padding: 7px 10px 0;
        border-radius: 0 4px 4px 0;
      }
    }
  }
}}

*/
#partners {
  max-width: 640px;
  margin-top: 20px; }

#pm-byline-unit {
  display: none; }
  @media only screen and (min-width: 1047px) {
    #pm-byline-unit {
      display: inline-block; } }

div[id^=zergnet-widget] .zergheadline a {
  font: bold 16px/20px "Open Sans Condensed", arial, sans-serif !important;
  height: auto; }

div[id^=zergnet-widget] .zergheadline {
  text-align: left !important;
  margin-top: 5px !important; }

div[id^=zergnet-widget] .zergentity {
  margin: 0 8px 10px 0 !important; }

#zerglayout {
  border-top: 2px solid #a0891f !important;
  width: auto !important; }

.video-label {
  font: bold 16px/20px "Open Sans Condensed", arial, sans-serif !important; }

.video-title {
  max-height: 40px !important; }

footer .trc_rbox_header,
#sidebar .trc_rbox_header {
  line-height: 2em !important;
  background: none !important;
  border-bottom: 2px solid #c1262c !important;
  height: 32px !important; }
  footer .trc_rbox_header:before,
  #sidebar .trc_rbox_header:before {
    font-weight: 700;
    box-sizing: border-box;
    content: "More from Abrams Media";
    width: auto;
    font-family: "Open Sans Condensed", arial, sans-serif;
    font-size: 14px;
    background: repeat center url("images/header-bg.jpg") #01334e;
    text-transform: uppercase;
    color: #efefef;
    padding: 7px 15px;
    border-radius: 4px 4px 0px 0px;
    text-align: center;
    z-index: 999; }

#sidebar #taboola-right-rail-thumbnails-2nd .trc_rbox_header {
  height: 27px !important; }
  #sidebar #taboola-right-rail-thumbnails-2nd .trc_rbox_header .trc_rbox_header_span {
    display: none; }
  #sidebar #taboola-right-rail-thumbnails-2nd .trc_rbox_header:before {
    content: "More from Around the Web"; }

/*# sourceMappingURL=style.css.map */