.apcommentranking{
	width:calc(100% - 32px);
	min-height:160px;
	padding-left:16px;
	padding-right:16px;
	
}
.apcommentranking:after{
	content: "";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
.apcommentranking dl{
	width:146px;
	height:135px;
	margin:2px;
	float:left;
	border:solid 2px #333333;
	position:relative;
}
.apcommentranking dl a{
	display:block;
	width:100%;
	height:100%;
	background-size:cover;
	background-position:center center;
	background-repeat:no-repeat;
}


.apcommentranking dl .rank{
	display:block;
	width:20px;
	font-size:14px;
	text-align:center;
	position:absolute;
	top:3px;
	left:3px;
	padding:2px;
	background:#000000;
	color:#ffffff;
	opacity:0.9;
}

.apcommentranking dl dt{
	display:block;
	margin:0px;
	padding:0px;
	position:absolute;
	bottom:0px;
	left:0px;
	background:#000000;
	color:#ffffff;
	opacity:0.9;
	width:100%;
	height:30px;
	overflow:hidden;
	line-height:15px;

}
.apcommentranking dl .comnumber{
	display:block;
	text-align:center;
	position:absolute;
	top:3px;
	right:3px;
	padding:2px;
	background:#ff3366;
	color:#ffffff;
	opacity:0.9;
}

