/*
Theme Name: やらおん
Theme URI: 
Author: 
Author URI: 
Description: 
Version: 0.1
License: 
License URI:
Tags: 
Text Domain: 

*/

@charset "UTF-8";

a:hover img,
#pankuzu #home a:hover,
#PageTop a:hover{
opacity:0.8;
filter: alpha(opacity=80);
-ms-filter: "alpha( opacity=80 )";
background-color: #fff;
}
.clearfix:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.clearfix{display:inline-table;}
* html .clearfix{height:1%;}
.clearfix{display:block;}
body,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,th,td{margin:0;padding:0;}
blockquote{
	margin-left:2px;
	margin-right:2px;
	padding:10px;
	background:#f9f9f9;
	border:1px dotted #003366;
	font-size:13px;
	line-height:150%;
}
.main_moji1 {
	font-size: 16px;
}
.main_moji2 {
	font-size: 45px;
}
.main_moji3 {
	font-size: 14px;
}
.main_moji4 {
	font-size: 30px;
}

.google {
	margin: 15px 0px 15px 20px;
}

.amazon_tool123{
	font-size:10px;
	padding: 1px;
	margin-bottom: 1px;
	background-color:#F5F5F5;
	width:160px;
	text-align: center;
}

table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:400;}
ol,ul{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:400;}
q:before,q:after{content:'';}
abbr,acronym{border:0;}
a:link,a:visited{color:#3366ee;text-decoration:none;}
a:hover,a:active{text-decoration:underline;}

/* 〓〓〓〓〓 wrap 〓〓〓〓〓 */
body{line-height:1.22;font-family:"Verdana","ヒラギノ Pro W3","ＭＳ Ｐゴシック","Osaka";;font-size:12px;background:#eef2fb;text-align:center}
#wrap-outer{margin:25px auto;padding:5px 0;margin:25px auto;width:1052px;position:relative;background:#cccc repeat scroll 0 0}
#wrap{border:1px solid #CCC;margin:0 auto;width:1040px}
h1 a img{border:5px solid #F5F5F5}

/* 〓〓〓〓〓 linkNav 〓〓〓〓〓 */
#linkNav{background:#4e7295 repeat-x scroll left -66px ;border-bottom:1px solid #DCDCDC;border-top:1px solid #CCC;height:35px;margin:0 auto;overflow:hidden}
#linkNav ul{font-size:13px;background:transparent none repeat scroll 0 0;height:35px}
#linkNav li{border-right:1px solid #CCC;float:left;height:35px;width:104px}
#linkNav li a{color:#fff;display:block;padding:10px 0;text-decoration:none;width:104px;}
#linkNav li a:hover{background:#252525;color:#FFF;text-shadow:none}

#contents{background:#efefef;margin:0 auto;position:relative;text-align:left;width:1040px}
#content-inner{min-height:1300px;float:left;overflow:hidden;width:850px}
#blog{min-height:1000px;float:right;overflow:hidden;width:648px;background:#FFF;border-left:1px solid #CCC;border-right:1px solid #CCC}
#topHeadline{border-bottom:1px solid #CCC;margin-bottom:10px;height:300px;overflow-x:hidden;overflow-y:auto}
#topHeadline dl{padding:15px 5px}
#topHeadline dt{float:left;width:80px;padding:2px 5px;clear:both;color:#555}
#topHeadline dd{margin-left:80px;padding:2px 5px}
.index{padding-top: 10px;color:#111111;font-family:"ＭＳ Ｐゴシック","Mona","mona-gothic-jisx0208.1990-0",sans-serif;font-size:12px;line-height:17px;position:relative}
.index hr{border:none;border-top:dotted 1px #DDD;height:1px;color:#FFF;}

h2{line-height:1.3;font-size:20px;font-weight:700;margin:20px 10px 15px}
h2 a{color:#BA3900 !important}
h2 a:hover{color:#AAA !important;text-decoration:none !important}

#infoTop{background:#F5F5F5 none repeat scroll 0 0;border-left:1px solid #DDD;border-top:1px solid #DDD;margin:10px;padding:5px;height:19px;overflow:hidden}
#infoTop li{border-left:1px solid #FFF;border-right:1px solid #D3D3D3;float:left;padding:0 5px}
.topsy{border:medium none !important;float:right !important;_display:none}
.htb{border:medium none !important}
.htb a{background:#f5f5f5 url(img/yr_sprite.gif)  no-repeat scroll -57px -106px;display:block;height:20px;overflow:hidden;_width:90px;}
.htb a:hover img{opacity:1;filter: alpha(opacity=100);-ms-filter: "alpha( opacity=100 )";background-color:transparent;}
.htb a img{padding:3px 0 0 23px}

#reduction{margin:15px 7px 0 13px;}
#listView #reduction{margin-bottom:30px}
#extended{margin:0 7px 15px 13px;}

#extended p{
line-height:160% !important;
margin-bottom:30px;
}


.more{border-color:#E3E3E3 #C7C7C7 #C7C7C7 #E3E3E3;border-style:solid;border-width:1px;bottom:10px;_bottom:30px;height:32px;left:10px;overflow:hidden;position:absolute;width:230px}
.more a{background:#AAA url(img/yr_sprite.gif) repeat-x scroll left -28px;color:#333;display:block;padding:9px 0;text-align:center;text-shadow:1px 1px 1px #F7F7F7;vertical-align:middle;width:230px}
.more a:hover{background:#252525 none repeat scroll 0 0;color:#FFF;text-shadow:none;text-decoration:none}

#infoBottom{border-bottom:1px dotted #DDD;height:20px;margin:10px 10px 25px;overflow:hidden}
#infoBottom li{border-right:1px solid #D3D3D3;float:right;padding:0 5px}
.lastLi{border:none !important}

.pagenav-outer{border-top:1px solid #DDD;margin:10px;}
.pagenav{background:#F5F5F5 none repeat scroll 0 0;border-left:1px solid #DDD;font-size:13px;overflow:hidden;padding:10px;text-align:left}
.pagenav dt{clear:both;float:left;padding:2px 5px;width:70px}
.pagenav dd{margin-left:70px;padding:2px 5px}
.mt30{margin-top:30px}

/* comment */
#single_content_sidebar{
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	clear:both;
	display:block;
	width:100%;
	min-height:120px;

}
h3#comments{
	margin:0 0 15px;
	padding-left:30px;
	font-size:20px;
	font-weight:700;
	padding:5px;
	clear:both;
	display:block;
	width:100%;
	height:30px;
	
}
.comment_area ol{
	color: #000000;
	font-family:"ＭＳ Ｐゴシック","Mona","mona-gothic-jisx0208.1990-0",sans-serif;
	font-size:12px;
	line-height:13px;
	margin: 10px 5px 5px 30px;
}
.comment_area li{list-style-position:outside;list-style-type:decimal;margin:0 30px;margin-bottom:60px;}
.comment_area li span{font-weight:700;color:#00A667}
.comment_area div{color:#000;margin:10px 0 20px;line-height:110%;}
.comment-form{margin-left:30px;padding-bottom:15px;width:550px}
.comment-forn{margin-left:30px;padding-bottom:15px;width:500px}
.comment-form label{line-height:2}

#comment-text{padding:2px;width:100%}
#comment-author{padding:2px;width:50%}
#comment-post{margin-top:15px;padding:5px 0;width:100%}
#secret{margin-right:5px;vertical-align:middle}
#comment_form{margin:0 auto;text-align:left;width:540px}
input#name{width:60%}
input#submit{margin-right:10px;padding:2px;width:100%}
textarea#comment{width:100%}

/* 〓〓〓〓〓 SiteBottom 〓〓〓〓〓 */
#page_navi{padding-bottom:30px;background:#FFF none repeat scroll 0 0;text-align:center}
#page_navi li{display:inline}
#centerLi{border-left:1px solid #BBB;border-right:1px solid #BBB;margin:0 5px;padding:0 10px}
#pankuzu{color:#AAA;font-size:12px;position:absolute;right:10px;top:-20px}
#pankuzu span{color:#333}
#pankuzu #home a{text-indent:-7777px;background:transparent url(img/yr_sprite.gif) no-repeat scroll -61px -131px;display:block;float:left;height:14px;margin-right:2px;overflow:hidden;width:13px}


/* 〓〓〓〓〓 Side 〓〓〓〓〓 */
#navi{margin-top:20px;float:left;overflow:hidden;width:200px;}
#sub{margin-top:20px;float:right;overflow:hidden;width:190px}

#navi blockquote {margin: 0 auto;padding: 5px;width: 150px;}

#navi dt,#sub dt{border-bottom:1px solid #BCBCBC;font-size:14px;padding:5px 12px 2px}
#navi dd,#sub dd{margin:5px 10px 20px}
#navi dd li,#sub dd li{text-align:justify;padding:2px 0;}
#navi dd li a,#sub dd li a{background:#FFF url(img/yr_sprite.gif) no-repeat scroll -190px -224px;display:block;padding:3px 0 3px 15px}
#navi dd li a:hover,#sub dd li a:hover{text-decoration:none;background-color:#efefef}
#recent-comments-2 a{
	padding:0px !important;
	background-image:none !important;
}
#recent-comments-2 li{
	margin-bottom:5px;
}

/* 〓〓〓〓〓 footer 〓〓〓〓〓 */
#footer{clear:both;margin:0 auto auto;padding-bottom:15px;text-align:center}
#copyright{font-style:normal;clear:both;font-size:13px;padding:25px 5px 10px;color:#333}
#copyright span a{line-height:2;font-size:12px;font-weight:400;color:#AAA}
#PageTop{text-indent:-7777px;bottom:100px;height:130px;left:auto;margin:0 0 0 510px;position:fixed;width:30px;_display:none;}
:root *> #PageTop {margin:0 0 0 1015px;}
#PageTop a{background:#eef2fb url(img/yr_sprite.gif) no-repeat scroll left -106px;display:block;height:130px;overflow:hidden;width:30px}

/* 〓〓〓〓〓 Calendar 〓〓〓〓〓 */
dl dd table.calendar {margin:0 auto;}
table.calendar caption{text-align:center;margin:5px 0;text-transform:uppercase}
dl dd table.calendar th,dl dd table.calendar td{padding:4px;line-height:1.4;text-align:center;vertical-align:middle;font-size:10px}
dl dd table.calendar th{background-color:#eee}
dl dd table.calendar th.sun{background:#F9C;color:#333}
dl dd table.calendar th.sat{background:#9CF;color:#333}
dl dd table.calendar td{color:#888;width:14%}
dl dd table.calendar td a{display:block;line-height:2;background-repeat:no-repeat;background-position:center}

/* 〓〓〓〓〓 searchform 〓〓〓〓〓 */
#searchform{width:200px;background:url(img/yr_sprite.gif) left top no-repeat;display:block;height:24px;position:relative}
#keywords{width:156px;position:absolute;top:3px;left:12px;border:1px solid #FFF}
#searchBtn{position:absolute;top:3px;left:174px}
#search{position:absolute;right:15px;top:263px}

/* 〓〓〓〓〓 tree 〓〓〓〓〓 */

#RC{font-family:"ＭＳ Ｐゴシック",sans-serif;}
#RC p{border-bottom:1px dotted #DDD;line-height:1.4;padding:7px 0}

/* 〓〓〓〓〓 tree 〓〓〓〓〓 */
#permanentHeadline {
    height: 320px;
    margin: 15px 0;
    position: relative;
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 10px;
}
#Left {
    overflow-x : hidden;
    overflow-y : auto;
    width: 310px;
    height: 300px;

}
#Left ul {
    line-height: 19px;
    margin-left: 10px;
    width: 700px;
}

#Right {
    left: 320px;
    position: absolute;
    top: -7px;
}
.comment-notes,.comment-form-email,.comment-reply-title,.comment-form-author{display:none;}
.comment-form-url{display:none;}
.form-allowed-tags{display:none;}


.comment-form-comment{
	margin-bottom:20px;
}

#reduction p{
	text-align:center;
}
#extended p{
line-height:160% !important;
margin-bottom:15px;
}
#extended p span{
line-height:160% !important;
}
#btn_changetheme-outer{margin:0px auto;padding:0px;width:1052px;position:relative;background:#cccc repeat scroll 0 0}
#btn_changetheme {
  width:100% !important;
  color:#ffffff;
  background:#337fcc;
  font-size:44px;
  font-weight:bold;
  text-shadow:0 -1px 0px #225588,0 -2px 0px #225588;
  text-align:center;
  display:block;
  clear:both;
  text-decoration:none;
  border:1px solid #225588;
  padding-top:25px;
  padding-bottom:25px;
  margin-left:auto !important;
  margin-right:auto !important;
  margin-bottom:15px;
  border-radius:5px;
  background:-moz-linear-gradient(rgba(34,85,136,0.5), rgba(34,85,136,1));
  background:-webkit-gradient(linear, 100% 0%, 100% 100%, from(rgba(34,85,136,0.5)), to(rgba(34,85,136,1)));
  box-shadow:1px 2px 2px rgba(0,0,0,0.3), 0px 1px 0px rgba(255,255,255,0.5) inset, 0px -1px 0px rgba(255,255,255,0.2) inset;
}
a#btn_changetheme:hover {
  background:-moz-linear-gradient(rgba(34,85,136,0.4), rgba(34,85,136,0.9));
  background:-webkit-gradient(linear, 100% 0%, 100% 100%, from(rgba(34,85,136,0.4)), to(rgba(119,170,221,0.9)));
}
