/*
Theme Name: yoshihira-custom
Author: yoshihira
Author URI:
Version: 1.0
*/

@charset "utf-8";
* {
    border: 0;
    margin: 0;
    outline: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    font: inherit;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    text-decoration: none;
    vertical-align: baseline;
}

html {
    font-size: 62.5%;
    width: 100%;
    height: 100%;
}

body {
    font-size: 10px;
    font-size: 1.0rem;
    line-height: 1;
    position: relative;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -o-text-size-adjust: 100%;
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    height: 100%;
}

article, aside, dialog, figure, footer, header, main, menu, nav, section {
    display: block;
}

audio, canvas, video {
    display: inline-block;
}

br, hr {
    display: block;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

input, select {
    vertical-align: middle;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
}

input, button, textarea, select {
    -webkit-appearance: none;
    border-radius: 0;
}

body {
    margin: auto;
    padding: 0;
    background-color: #fff;
    color: #363636;
    font: 13px/13px Lucida Grande, Hiragino Kaku Gothic ProN, 'ヒラギノ角ゴ ProN W3', Meiryo, 'メイリオ', sans-serif, Verdana, Tahoma;
}


/* ####################################
  ボタン
##################################### */

.button a {
    background-color: #f2f2f2;
    border: 1px solid #DDD;
    border-radius: 3px;
    color: #363636 !important;
    display: inline-block;
    text-decoration: none;
}

.button a:before {
    border-left: 8px solid transparent;
    border-top: 8px solid #e56f89;
    content: "";
    display: inline-block;
    height: 0;
    margin: 0 8px 0 0;
    transform: rotate(45deg);
    width: 0;
}

.button a:hover {
    border: 1px solid #bfbfbf;
}

.button a:active {
    border: 1px solid #bfbfbf;
    background-color: #e1e1e1;
}

[class^="btn"] a, [class*=" btn"] a, [class^="btn"] button, [class*=" btn"] button {
    padding: 0 5px;
    text-align: center;
    border-radius: 2px;
    line-height: 24px;
    color: #333;
    text-decoration: none;
    background-color: #FFF;
    border: 1px solid #bfbfbf;
    width: auto;
    font-size: 13px;
    cursor: pointer;
}

.btn-dark a {
    background-color: #f9f9f9;
}

[class^="btn"] a:hover, [class*=" btn"] a:hover, [class^="btn"] button:hover, [class*=" btn"] button:hover {
    color: #333;
    background-color: #FFF3EA;
    border: 1px solid #FFBA8C;
}

input.btn-big, a.btn-big {
    background-color: #f9f9f9;
    display: block;
    margin: 0 auto;
    border-radius: 3px;
    width: 300px;
    border: 1px solid #e0e0e0;
    line-height: 30px;
    font-size: 14px;
    color: #333;
    cursor: pointer;
}

input.btn-big:hover, a.btn-big:hover {
    color: #333;
    background-color: #FFF3EA;
    border: 1px solid #FFBA8C;
}

.inline-block {
    letter-spacing: -.40em;
}

.inline-block li, dd.inline-block a {
    display: inline-block;
    list-style: none;
    letter-spacing: normal;
}


/* ####################################
  あとで見る
##################################### */

.atd-parts-wrap {
    height: auto;
    background-color: #FFF;
    border-radius: 0;
    border: 1px solid #d1d1d1;
    margin: 15px 0px 0px;
    width: 100%;
    position: relative;
    padding: 16px;
}

.post-115050 .atd-header-title {
    display: none;
}

.post-115050 .atd-parts-wrap {
    margin: 0;
    padding: 0;
    border: none;
}

.atd-header-title {
    border-left: 5px solid #009785;
    font-size: 16px;
    padding-left: 10px;
    font-weight: bold;
    margin-bottom: 20px;
    line-height: 30px;
}

.atd-bk-item {
    width: 220px;
    height: 210px;
    float: left;
    margin-right: 28px;
    position: relative;
}

.atd-bk-item:nth-child(4n) {
    margin: 0px;
}

.atd-bk-title a {
    display: block;
    word-break: break-all;
    margin-top: 5px;
}

.atd-bk {
    margin: 0 auto 15px auto;
}

.atd-bk:after {
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
}

.atd-bk-thumb a img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    transition: all 0.5s ease;
    /*ここでマウスオーバーが完了する時間や動きが設定できます。*/
}

.atd-bk-thumb a {
    background-color: #000;
    display: block;
}

.atd-bk-thumb a:hover img {
    opacity: 0.7;
    /*ここでマウスオーバー時の透明度が設定できます。（各ブラウザ用）*/
    filter: alpha(opacity=70);
    /*ここでマウスオーバー時の透明度が設定できます。（各ブラウザ用）*/
}

.atd-bk-del {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 20px;
}

.atd-bk-del a:hover {
    text-decoration: none;
    color: #fff;
}

.atd-bk-del a {
    text-decoration: none;
    color: #fff;
    display: block;
    background: #db3425;
    line-height: 20px;
    width: 20px;
    text-align: center;
}

.atd-nav-prev, .atd-nav-count, .atd-nav-next {
    display: inline-block;
}

.atd-nav-prev, .atd-nav-next {
    cursor: pointer;
    user-select: none;
    /* CSS3 */
    -moz-user-select: none;
    /* Firefox */
    -webkit-user-select: none;
    /* Safari、Chromeなど */
    -ms-user-select: none;
    /* IE10かららしい */
}

.atd_list {
    text-decoration: none;
    color: #FFF;
    text-decoration: none;
    padding: 2px 4px;
    border-radius: 2px;
    background: none repeat scroll 0% 0% #3498db;
    margin-left: 50px;
}

.atd-nav a:hover {
    color: #fff !important;
}

.atd_list {
    text-decoration: none;
    color: #FFF;
    text-decoration: none;
    padding: 2px 10px;
    border-radius: 2px;
    background: #009785;
    margin-left: 50px;
}

.icon-li {
    display: none;
}


/* あとで見るnext prevボタン　矢印装飾 */

.atd-nav-prev, .atd-nav-next {
    position: relative;
}

.atd-nav-prev:hover, .atd-nav-next:hover {
    opacity: 0.6;
    filter: alpha(opacity=60);
    transition: all 0.2s ease 0s;
}

.atd-nav-prev::after, .atd-nav-prev::before {
    display: block;
    content: '';
    position: absolute;
}

.atd-nav-prev::after {
    top: -12px;
    left: -17px;
    width: 18px;
    height: 18px;
    background-color: #009785;
    border-radius: 100%;
}

.atd-nav-prev::before {
    z-index: 2;
    top: -7px;
    left: -11px;
    width: 6px;
    height: 6px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

.atd-nav-next::after, .atd-nav-next::before {
    display: block;
    content: '';
    position: absolute;
}

.atd-nav-next::after {
    top: -12px;
    left: 0;
    width: 18px;
    height: 18px;
    background-color: #009785;
    border-radius: 100%;
}

.atd-nav-next::before {
    z-index: 2;
    top: -7px;
    left: 3px;
    width: 6px;
    height: 6px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.atd-nav {
    text-align: center;
    margin-bottom: 10px;
}

.atd-nav-count {
    font-size: 13px;
    margin: 0px 10px;
}

.atd-itiran {
    padding: 1px 10px;
    border-radius: 0px 0px 10px 10px;
    color: #FFF !important;
    text-decoration: none;
    background: none repeat scroll 0% 0% #7DC5E0;
    text-align: center;
    margin: 0px;
}

.atd-itiran a {
    color: #fff !important;
}

.atd-itiran a:hover {
    color: #0054c7 !important;
}

.atd-button a {
    font-size: 0px;
}

.atd-menu {
    position: absolute;
    right: 40px;
    top: 16px;
}

.post-115050 .atd-menu {
    top: -60px;
}

.atd-logo {
    position: absolute;
    right: 16px;
    top: 20px;
}

.post-115050 .atd-logo {
    top: -55px;
}

.atd-menu a {
    letter-spacing: normal;
    display: inline-block;
    background-color: #f2f2f2;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    color: #363636;
    text-decoration: none;
    line-height: 20px;
    padding: 0 5px;
    margin-right: 5px;
}

.atd-menu a:hover {
    color: #333;
    background-color: #FFF3EA;
    border: 1px solid #FFBA8C;
}

.top_atdbtn {
    float: left;
}

.top_atdbtn button {
    margin: -10px 0px 0px;
    font-size: 13px;
    background-color: #7DC5E0;
    border-style: none;
    padding: 3px 5px;
    color: #FFF;
    border-radius: 2px;
}

input.atd-bk-edit {
    width: 100%;
    padding: 2px 4px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .1) inset;
    border: 1px solid #CCC;
}


/* topあとで見るボタン windows chrome css */

.win.chrome .top_atdbtn button {
    margin: -10px 0px 0px;
    font-size: 13px;
    background-color: #7DC5E0;
    border-style: none;
    padding: 3px 5px 0px;
    color: #FFF;
    border-radius: 3px;
}

.touka:hover {
    opacity: 0.8;
    filter: alpha(opacity=60);
}

p {
    line-height: 125%;
}

a {
    color: #0054c7
}

a:hover {
    color: #d01e1e;
}

blockquote {
    margin: 0 0 0 20px;
    padding: 0 0 0 20px;
    border-left: 5px solid #c7532d;
}

img {
    border: none;
}

h2 {
    letter-spacing: -1px;
    line-height: 150%;
}

.hoshi {
    color: #f00 !important;
}

.hoshi a:link {
    color: #f00 !important;
    text-decoration: none;
}

.hoshi a:visited {
    color: #f00 !important;
    text-decoration: none;
}

.hoshi a:hover {
    color: #f00 !important;
    text-decoration: none;
}

.hoshi a:active {
    color: #f00 !important;
    text-decoration: none;
}

.hoshi2 {
    color: #000 !important;
}

.hoshi2 a:link {
    color: #000 !important;
    text-decoration: none;
}

.hoshi2 a:visited {
    color: #000 !important;
    text-decoration: none;
}

.hoshi2 a:hover {
    color: #000 !important;
    text-decoration: none;
}

.hoshi2 a:active {
    color: #000 !important;
    text-decoration: none;
}

.viewclip {
    position: relative;
    bottom: 65px;
    margin-left: 5px;
    width: 170px;
    background-color: transparent;
    /* 背景色なし設定 */
    background-image: url('http://www.ss.iij4u.or.jp/~karlkarl/field/ad-img/black60.png');
    color: #fff;
    font-weight: bold;
}

.demo-show {
    margin: 1em .5em;
    width: 350px;
}

.demo-show h3 {
    margin: 0;
    padding: .25em;
    border-top: 1px solid #386785;
    border-bottom: 1px solid #386785;
    background: #bfcd93;
}

.demo-show div {
    padding: .5em .25em;
}

.clearfix1 {
    clear: both;
}

.clearfix2:after {
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
}

.img-rss {
    width: 150px;
    height: 158px;
}

.link {
    overflow-x: hidden;
    overflow-y: auto;
    height: 500px;
    text-align: left;
    line-height: 1.1;
}


/* ############################################################
  Layout
  ############################################################ */

.frame:before, .frame:after {
    display: table;
    content: ' ';
}

.frame:after {
    clear: both;
}


/* ############################################################
  Header
  ############################################################ */

span.pickup {
    background-color: #db3425;
    color: #fff;
    display: block;
    line-height: 20px;
    text-align: center;
    width: 60px;
}

.frame__header-container {
    box-sizing: border-box;
}

.frame__header {
    margin: 0 auto;
    padding-bottom: 10px;
    width: 1000px;
    position: relative;
}

h1.midasi, h2.midasi {
    margin-bottom: 16px;
    padding: 10px 0;
    border-bottom: 1px solid #d9d9d9;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: bold;
}

a.title_prev, a.title_forward {
    padding: 0 30px;
    text-align: center;
    border-radius: 2px;
    line-height: 30px;
    color: #333;
    text-decoration: none;
    background-color: #FFF;
    border: 1px solid #bfbfbf;
    width: auto;
    font-size: 13px;
    cursor: pointer;
    position: relative;
    margin: 0 0 10px 0;
}

a.title_prev {
    float: left;
}

a.title_prev:before {
    border-right: 8px solid transparent;
    border-bottom: 8px solid #e56f89;
    content: "";
    display: inline-block;
    height: 0;
    margin: 0 0px 0px 8px;
    transform: rotate(45deg);
    width: 0;
}

a.title_forward {
    float: right;
}

a.title_forward:after {
    border-left: 8px solid transparent;
    border-top: 8px solid #e56f89;
    content: "";
    display: inline-block;
    height: 0;
    margin: 0 6px 0 0px;
    transform: rotate(45deg);
    width: 0;
}

a.title_forward:hover, a.title_prev:hover {
    color: #333;
    background-color: #FFF3EA;
    border: 1px solid #FFBA8C;
}

h3.midasi {
    font-size: 16px;
    letter-spacing: -1px;
    color: #666;
    margin: 15px 0 10px 0;
    padding: 0 0 5px 0;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #888;
}

.header__h1 {
    margin: 0;
    width: 350px;
}

.header__h1 img {
    width: 100%;
}

.header__h1 a {
    color: #323232;
    font-size: 30px;
    text-decoration: none;
    line-height: 1;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.header__h1 a:hover {
    color: #d01e1e;
}

.header__h2 {
    color: #777;
    font-size: 13px;
    line-height: 1;
    margin: 8px 0;
}


/* ############################################################
  Body
  ############################################################ */

.frame__body:before, .frame__body:after {
    display: table;
    content: ' ';
}

.frame__body:after {
    clear: both;
}

.frame__body {
    margin: auto;
    padding: 0;
    background-color: #f7f7f7;
}


/* **************************************************
  Alpha
  ************************************************** */

.body__alpha {
    width: 1000px;
    margin: 0 auto;
}

.alpha__sidebar {
    margin: 0 auto;
    width: 1000px;
}

.alpha__sidebar:before, .alpha__sidebar:after {
    display: table;
    content: ' ';
}

.alpha__sidebar:after {
    clear: both;
}

.alpha__sidebar .widget__body {}

.widget__body2 {
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 200px;
}


/*
.alpha__alpha
{
   float: left;
   margin-top: 32px;
} */

.alpha__beta {
    float: right;
    margin-top: 12px;
    width: 750px;
}

.alpha__gamma {
    padding-top: 10px;
}

.widget--archive {
    border-bottom: 1px solid #d1d1d1;
    padding-bottom: 16px;
}

.widget--archive h1 {
    border-left: 5px solid #009785;
    font-size: 16px;
    height: 36px;
    line-height: 36px;
    margin: 16px 0;
    overflow: hidden;
    padding-left: 12px;
    position: relative;
}

.widget--archive li a {
    display: inline-block;
    font-size: 13px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    width: 180px;
    border: 1px solid #ddd;
    border-radius: 3px;
    color: #363636 !important;
    display: inline-block;
    text-decoration: none;
}

.widget--archive li a:hover {
    color: #333;
    background-color: #FFF3EA;
    border: 1px solid #FFBA8C;
}

.widget--menu {
    margin-top: 30px;
    text-align: center;
}

.widget--menu li a {
    margin-right: 16px;
    text-decoration: none;
}


/* **************************************************
  Beta
  ************************************************** */

.body__beta {
    float: right;
    width: 200px;
}

.beta__sidebar {
    margin-top: -16px;
}

.beta__sidebar .widget {
    margin-top: 15px;
}


/* ############################################################
  Footer
  ############################################################ */

div.frame__footer-container {
    border-top: 1px solid #d1d1d1;
}

.footer__sidebar:before, .footer__sidebar:after {
    display: table;
    content: ' ';
}

.footer__sidebar:after {
    clear: both;
}

.footer__sidebar {
    margin-top: -32px;
    margin-left: -37px;
}

.footer__sidebar .widget {
    float: left;
    margin-top: 32px;
    margin-left: 37px;
}

.footer__sidebar .widget__body {
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
    height: 200px;
}

.frame__footer {
    text-align: center;
}

.footer__copyright {
    margin: 20px 0;
}


/* ############################################################
  404
  ############################################################ */

.empty {
    border: 1px solid #d1d1d1;
    text-align: center;
    background-color: #FFF;
    margin-bottom: 16px;
    padding: 30px 0;
    font-size: 15px;
}


/* ############################################################
  R18
  ############################################################ */

.r18 {
    border: 1px solid #e46c82;
    border-radius: 3px;
    color: #e46c82;
    display: inline-block;
    font-size: 11px;
    margin: 0;
    padding: 7px 10px;
    position: absolute;
    right: 0;
    top: 35px;
    width: 190px;
}


/* ############################################################
  Widget
  ############################################################ */

.sidecontent {
    background-color: #FFF;
    margin: 0px;
    padding: 10px 4px 10px;
    margin-top: 15px;
    border: 1px solid #B3B3B3;
    border-radius: 10px;
    height: auto;
    background-color: #EEE9E2;
    width: 208px;
}

.widget--search {
    background-color: #FFF;
    margin: 0px;
    padding: 10px 4px 10px;
    border: 1px solid #B3B3B3;
    border-radius: 10px;
    height: auto;
    background-color: #EEE9E2;
}

h2.avsearch {
    padding: 1px 15px;
    border-radius: 1px;
    color: #FFF !important;
    text-decoration: none;
    background: none repeat scroll 0% 0% #7DC5E0;
    margin-bottom: 15px;
    /*width: 180px;*/
    fotn-size: 100%;
}

h2.sidetitle {
    padding: 1px 15px;
    border-radius: 1px;
    color: #FFF !important;
    text-decoration: none;
    background: none repeat scroll 0% 0% #7DC5E0;
    margin-bottom: 15px;
    /*width: 180px;*/
    fotn-size: 100%;
}

#content-right h2 {
    font-size: 18px;
    margin: 0px 0px 5px 0px;
}

.widget__body--full {
    padding: 0;
}

.widget__body--fixed-height {
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
    height: 200px;
}

.widget__body ul, .widget__body li {
    display: inline-block;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.widget__body--full ul, .widget__body--full ol {
    margin: 10px;
}


/* ############################################################
  Content
  ############################################################ */

.content__header {
    border-left: 5px solid #009785;
    margin: 18px 0;
    overflow: hidden;
    padding-left: 12px;
    position: relative;
}

.archive_header {
    margin: 18px 0 10px;
}

.archive_header h1 {
    width: 45%;
    display: inline-block;
}

.archive_header p {
    margin: 0;
    display: inline-block;
    width: 54%;
    display: inline-block;
    text-align: right;
}

.content__h1 {
    font-size: 18px;
    line-height: 42px;
    margin: 0;
    padding: 0;
}

.content__h1_data {
    font-size: 16px;
    line-height: 28px;
}

.search-no-results .content__h1_data {
    font-size: 18px;
    line-height: 42px;
}

.content__body {
    position: relative;
}

.content__body:before, .content__body:after {
    content: " ";
    display: table;
}

.content__body:after {
    clear: both;
}

.color-green {
    color: #009785;
    font-weight: bold;
}

.color-pink {
    color: #e36c82;
    font-weight: bold;
}


/* ############################################################
  Page Description
  ############################################################ */

.page-description {
    margin: 15px 0px 5px;
}

.page-description p {
    display: inline-block;
}

.page-description .content__desc {
    float: right;
}

.source-description p {
    margin: 0;
    padding: 0;
}

.last-modified-date {
    margin: 16px 0 0;
    padding: 0;
}

.page-description+.content__desc {
    position: relative;
    display: block;
    top: 0;
    text-align: right;
    margin-bottom: 16px;
}

.archive.date .content__desc {}


/* ############################################################
  Entry List
  ############################################################ */

.entry-list {
    margin-right: -8px;
    letter-spacing: -.40em;
}

.entry-list:before, .entry-list:after {
    display: table;
    content: ' ';
}

.entry-list:after {
    clear: both;
}


/* **************************************************
  Entry List Item
  ************************************************** */

.entry-list .entry {
    width: 244px;
    height: auto;
    border: 1px solid #d1d1d1;
    background-color: #FFF;
    display: inline-block;
    margin-right: 8px;
    border-top: none;
    vertical-align: top;
    font-size: 13px;
    margin-bottom: 10px;
    position: relative;
    letter-spacing: normal;
}

.post-innter {
    border-top: 3px solid #009785;
    padding: 8px;
}

.post-innter.post-hoshi {}

.post-innter.post-hoshi2 {
    border-color: #e36c82;
}

.entry-list .entry__body {}

.entry-list .entry-list hr {
    border: 0;
    border-top: 1px dashed #7A7477;
}


/* **************************************************
  Entry Header
  ************************************************** */

.entry__header {}

.entry-list .entry__date, .entry-list .entry__source {
    display: block;
    margin: 0;
    padding: 0;
    background-color: #333;
    color: #FFF;
    text-align: center;
    position: absolute;
    line-height: 20px;
    top: 11px;
    font-size: 12px;
    width: 65px;
}

.entry__date {
    float: left;
    width: 63px;
    line-height: 125%;
}

.entry-list .entry__source {
    margin-left: 8px;
}

.source__type {
    float: left;
    width
}

.entry-list .entry__source .source__type a {
    text-decoration: none;
}

.entry-list .entry__source .source__type.hoshi a, .entry-list .entry__source .source__type.hoshi a:hover {
    color: #f00;
    margin-left: -10px;
}

.entry-list .entry__source .source__type.hoshi1 a, .entry-list .entry__source .source__type.hoshi1 a:hover {
    color: #f00;
    margin-left: -10px;
}

.entry-list .entry__source .source__type.hoshi2 a, .entry-list .entry__source .source__type.hoshi2 a:hover {
    color: #000;
    margin-left: -10px;
}


/* **************************************************
  Entry Body
  ************************************************** */

.entry-list .entry__thumbnail {
    display: block;
    text-decoration: none;
}

.entry-list .entry__thumbnail img {
    width: 100%;
    height: auto;
    display: block;
}

.entry-list .entry__h1 {
    margin: 12px 0;
    font-size: 14px;
    line-height: 1.2;
    height: 48px;
    color: #222;
    font-weight: normal;
    overflow: hidden;
}

.entry__body:hover .entry__h1 {
    color: #d01e1e;
}


/*
.entry__header
{
   white-space: nowrap;
   text-overflow: ellipsis;
   width: 100%;
   overflow: hidden;
}
*/

.entry-list hr {
    border: 0;
    border-top: 1px dashed #A09D98;
}

.entry-list .entry__h1 a {
    text-decoration: none;
}

.meta-txt {
    overflow: hidden;
    margin: -4px 0 10px 0;
    height: 90px;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #777;
}


/* **************************************************
  Entry Footer
  ************************************************** */

.entry-list .entry__footer {
    margin-top: 22px;
    font-size: 13px;
}

.actressname_p {
    margin: 0px 10px 0px 0px;
    float: left;
}

.tags_p {
    margin: 0px 10px 0px 0px;
    float: left;
    clear: both;
}

.entry-list .entry__footer a {
    text-decoration: none;
}

.entry-list .entry__actress {
    float: left;
    margin: 0;
    padding: 0;
    text-overflow: ellipsis;
    max-width: 170px;
    white-space: nowrap;
    overflow: hidden;
    word-wrap: normal;
    /* IE8+ */
}

.entry-list .entry__hint {
    float: right;
    margin: 5px 0px;
}

.entry-list .entry__hint a {
    color: #26a0df;
    font-weight: bold;
}

.entry-list .entry__tags {
    float: left;
    overflow: hidden;
    margin: 0;
    padding: 0;
    max-width: 205px;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    /* IE8+ */
}

.btn-stock {
    position: absolute;
    right: 16px;
    top: 134px;
}

.btn-stock button {
    background-color: #f2f2f2;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    color: #f28735;
    text-decoration: none;
    width: 35px;
    line-height: 20px;
    font-size: 16px;
    display: none;
}

.btn-stock button.atd-btn-added {
    width: 100px;
    line-height: 20px;
    font-size: 13px;
    background-color: #f28735;
    border-color: #f28735;
    color: #FFF;
}

.btn-stock button:hover {
    color: #f28735;
}

.btn-stock button.atd-btn-added:hover {
    color: #FFF;
}

.post-innter:hover .btn-stock button {
    display: block;
}


/* ############################################################
  Single Entry
  ############################################################ */


/* **************************************************
  Entry Header
  ************************************************** */

.single-entry .entry__h1 {
    margin: 0;
    padding: 16px;
    height: auto;
    font-size: 18px;
    line-height: 1.3;
    font-weight: bold;
}

.h1_design {
    background-color: #009785;
    color: #fff;
    margin: -1px -1px 0px;
}

body.page .single-entry .entry__h1 {
    border-left: 5px solid #009785;
    height: 42px;
    margin-top: 18px;
    overflow: hidden;
    padding: 0 0 0 12px;
    position: relative;
    line-height: 42px;
}

.single-entry .entry__meta {
    padding: 16px;
}

.single-entry .post-categories {
    letter-spacing: -.40em;
}

.single-entry .post-categories li {
    letter-spacing: normal;
    display: inline-block;
}

.single-entry .post-categories a {}

.single-entry .entry__meta dt {
    margin: 5px 0;
}

.single-entry .entry__meta dd {
    margin-bottom: 10px;
}

.single-entry .entry__meta dd a {
    margin-right: 8px;
    display: inline-block;
    margin-bottom: 6px;
    font-size: 12px;
}

.single-entry .entry__social {
    background-color: #f6f4f0;
}

.single-entry .entry__social ul {
    margin: 0;
    padding: 16px;
}

.single-entry .entry__social li {
    float: left;
    font-size: 13px;
}

.social__star button {
    width: 128px;
    border-radius: 2px;
    line-height: 24px;
}

.social__star button span {
    margin-right: 8px;
    color: #ff812d;
}

.single-entry .entry__social a {
    display: block;
    width: 130px;
    text-align: center;
    border-radius: 2px;
    line-height: 26px;
    color: #FFF;
    text-decoration: none;
    margin-left: 16px;
}

.single-entry .entry__social a span {
    margin-right: 8px;
    vertical-align: middle;
}

.entry__social__bottom {
    text-align: center;
    margin-top: 16px;
}

.entry__social__bottom a {
    display: block;
    width: 130px;
    text-align: center;
    border-radius: 2px;
    line-height: 26px;
    color: #FFF;
    text-decoration: none;
    margin-left: 16px;
}

.entry__social__bottom a span {
    margin-right: 8px;
    vertical-align: middle;
}

.tag__social {
    letter-spacing: -.40em;
    text-align: center;
    padding: 10px 0 20px 0;
}

.tag__social dt {
    background-color: #f9f9f9;
    display: inline-block;
    letter-spacing: normal;
    border: 1px solid #d1d1d1;
    line-height: 50px;
    padding: 0 20px;
}

.tag__social dd {
    background-color: #FFF;
    display: inline-block;
    letter-spacing: normal;
    line-height: 50px;
    border: 1px solid #d1d1d1;
    margin-left: -1px;
    text-align: center;
    width: 380px;
}

.tag__social dd a {
    display: block;
    width: 130px;
    text-align: center;
    border-radius: 2px;
    line-height: 26px;
    color: #FFF;
    text-decoration: none;
    margin-left: 16px;
}

.tag__social dd a span {
    margin-right: 8px;
    vertical-align: middle;
}

.tag__social dd li {
    display: inline-block;
}

.social__twitter a {
    background-color: #00aced;
}

.social__hatebu a {
    background-color: #3d70c3;
}

.single-entry .entry__social .meta__date {
    float: right;
    line-height: 26px;
}

.entry__main {
    padding: 0px 24px;
    line-height: 1.3;
}

.entry__main ul {
    margin: 0;
    padding: 0;
}


/* **************************************************
 Entry Body
 ************************************************** */

.single-entry .entry__body {
    background-color: #FFF;
    border: 1px solid #d1d1d1;
    margin-top: 10px;
    padding: 10px 16px;
}

.single-entry .entry__body p {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.single-entry .entry__body .line, .single-entry .entry__body h2, .single-entry .entry__body h3 {
    font-size: 18px;
    padding: 10px 3px;
    border-bottom: 1px solid #d9d9d9;
    margin: 10px 0 !important;
    letter-spacing: normal;
    line-height: 1.3;
}

.single-entry .entry__body .boxA {
    background-color: #f6f4f0;
    margin: 0 -16px;
    padding: 10px 16px;
}


/* .entry__main
{
border: 1px solid #B3B3B3;
border-radius: 10px;
height: auto;
background-color: #EEE9E2;
} */

.single-entry .entry__hint {
    margin: 30px 0px 0px;
    text-align: center;
}

.entry__hint a.hint {
    text-decoration: none;
    color: #FFF;
    background: #AA9474 none repeat scroll 0% 0%;
    font-size: 12px;
    padding: 0 7px;
    display: inline-block;
    line-height: 26px;
    margin: 10px 10px 0 10px;
}

li.main_kiji {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

li.guide_button:last-of-type {
    margin-top: 20px;
    text-align: center;
}

li.guide_button:last-of-type a br {
    display: none;
}

li.guide_button:last-of-type a {
    border-radius: 3px;
    font-size: 17px;
    text-decoration: none;
    color: #fff;
    background-color: #0093DE;
    display: block;
    height: 55px;
    line-height: 55px;
    font-weight: bold;
    letter-spacing: 7px;
}

li.guide_button:last-of-type a:hover {
    background-color: #DB3620;
}

.entry__content {
    border: 1px solid #d1d1d1;
    height: auto;
    background-color: #FFF;
    margin-bottom: 16px;
}

.single-entry .entry__content blockquote {
    margin-left: 0;
    border: none;
}

.single-entry .entry__content blockquote a {
    display: block;
}

.single-entry .entry__content blockquote a span {
    font-size: 18px;
    font-weight: bold;
    position: relative;
    top: 0 !important;
    text-decoration: none;
    line-height: 20px;
}

.single-entry .entry__content blockquote a img {
    display: block;
    margin: 16px auto;
}

.single-entry .entry__dmm {
    margin-top: 32px;
    width: 650px;
    margin: 32px auto 20px auto;
}

.entry__dmm blockquote {
    outline: 1px solid #d5d5d5;
    width: 650px;
    clear: both;
    background: #f5f5f5;
    padding: 0;
    margin: 0 auto;
    float: none;
    display: block;
}

.entry__dmm blockquote a {
    border-bottom: 1px solid #d5d5d5;
    padding: 10px 10px;
}

.entry__dmm blockquote a span {
    top: 0 !important;
    font-size: 15px !important;
}

.entry__dmm blockquote span[style*="medium"] {
    padding: 10px;
    font-size: 14px !important;
    display: block;
    letter-spacing: 1px;
    word-break: break-all;
}

.single-entry .entry__dmm br, .single-entry .entry__dmm p {
    display: none;
}

.single-entry .entry__dmm table {
    margin-top: 8px;
}

.single-entry .entry__dmm th, .single-entry .entry__dmm td {
    margin-top: 16px;
    padding: 8px;
    border: 1px solid #ddd;
    line-height: 1.5;
}

.single-entry .entry__dmm tr:nth-child(2n) td {
    background: #fafafa;
}


/* ############################################################
 Related Posts
 ############################################################ */

.single-entry .related_posts {
    border: 1px solid #d1d1d1;
    height: auto;
    background-color: #FFF;
    padding: 16px;
    margin-top: 16px;
}

.single-entry .related_posts.related_posts--none {
    display: none;
}

.related_posts__h1 {
    border-left: 5px solid #009785;
    font-size: 16px;
    padding-left: 10px;
    font-weight: bold;
    margin-bottom: 20px;
    line-height: 30px;
}

.related_posts__body {
    position: relative;
    top: 0;
    overflow: hidden;
    height: auto !important;
}

.related_posts__body .yarpp-related {
    position: relative;
}

.related_posts__row {
    letter-spacing: -.40em;
    height: auto !important;
    margin-right: -12px;
}

.related_posts .related_post {
    letter-spacing: normal;
    display: inline-block;
    margin: 0px;
    width: 168px;
    vertical-align: top;
    margin-right: 14px;
    position: relative;
}

.related_post__date {
    background-color: #383838;
    color: #fff;
    left: 0;
    line-height: 20px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 90px;
    font-size: 11px;
}

.related_posts .related_post__thumbnail img {
    width: 100%;
}

.related_posts .related_post__h1 a {
    display: block;
    line-height: 1.2;
    margin-bottom: 10px;
    overflow-y: hidden;
    height: 63px;
}

.related_posts__footer {
    margin-top: 13px !important;
}

.related_posts--loading .related_posts__more, .related_posts--no_more .related_posts__more {
    display: none;
}


/* ############################################################
DMM
 ############################################################ */

.dmmbox td {
    word-wrap: break-word;
}

.dmmbox_sample {
    height: 600px;
}

.postmetadata {
    margin: 0px;
    font-size: 13px;
    line-height: 15px;
    height: 43px;
    overflow: hidden;
    clear: both;
}

.partscss {
    border-collapse: collapse;
    border: 0px;
    padding: 0px;
    width: 100%;
}

.partscss td {
    border: 0px;
    padding: 5px;
    /* background: none repeat scroll 0% 0% #FFF!important; */
}

.partscss img {
    background: none repeat scroll 0% 0% #FFF !important;
    border: 0px solid #CCC !important;
    padding: 0px !important;
}

.partscss a {
    color: #0054c7;
}

.partscss a:hover {
    color: #d01e1e;
}

img.samplesaisei {
    background: none repeat scroll 0% 0% #FFF;
    border: 0px solid #CCC;
    padding: 5px;
}

.partscss a img:hover {
    background: #fff;
}

.slidedmm {
    list-style: none;
    height: 588px;
    overflow: hidden;
    position: relative;
    top: 10px;
}

.slidedmm:empty {
    display: none;
}

.dmmmore {
    background-color: #f9f9f9;
    display: block;
    margin: 0 auto;
    border-radius: 3px;
    width: 300px;
    border: 1px solid #e0e0e0;
    line-height: 30px;
    font-size: 14px;
    color: #333;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
}

.dmmmore:hover {
    color: #333;
    background-color: #FFF3EA;
    border: 1px solid #FFBA8C;
}

.dmmparts_posts__h3 {
    margin-top: 10px;
    margin-bottom: 0px;
}


/* ############################################################
 page atd_ol_tab
 ############################################################ */

#atd_ol_tab {
    display: none;
    position: fixed;
    top: 5px;
    right: 5px;
    color: #ffffff;
    background: #49B3A6;
    font-size: 12px;
    text-align: right;
    cursor: pointer;
    padding: 10px;
    border-radius: 3px;
    text-align: center;
    border: 1px solid #009785;
}

#atd_ol_tab p {
    line-height: 1;
    margin-top: 5px;
}

#atd_ol_tab:hover {
    opacity: 0.9;
}

span.atd_emphasis {
    font-size: 18px;
    font-weight: bold;
}


/* ############################################################
 page Navigation
 ############################################################ */

.wp-pagenavi {
    letter-spacing: -.40em;
    text-align: center;
    padding: 16px 0;
}

.wp-pagenavi .pages, .wp-pagenavi .current, .wp-pagenavi .extend, .wp-pagenavi a {
    border: 1px solid #d1d1d1;
    background-color: #FFF;
    display: inline-block;
    vertical-align: top;
    font-size: 13px;
    letter-spacing: normal;
    color: #333;
    text-decoration: none;
    line-height: 32px;
    text-align: center;
    padding: 0 12px;
    margin: 0 2px;
}

.wp-pagenavi .current, .wp-pagenavi a:hover {
    border: 1px solid #009785;
    background-color: #009785;
    color: #FFF;
}


/* ############################################################
 Search Form
 ############################################################ */

.search_form {
    float: right;
    margin: 10px 0 0;
    padding: 0;
}

.search_form:before, .search_form:after {
    display: table;
    content: ' ';
}

.search_form:after {
    clear: both;
}

.search_form__input {
    border: medium none;
    color: #363636;
    float: left;
    font-size: 13px;
    height: 30px;
    line-height: 30px;
    padding-left: 8px;
    width: 230px;
}

.search_form__submit {
    background: #666563 none repeat scroll 0 0;
    border: medium none;
    color: #777;
    cursor: pointer;
    float: left;
    height: 30px;
    margin: 0;
    width: 34px;
}

.search_form__submit i {
    color: #fff;
    font-size: 18px;
}


/* ############################################################
 ブログパーツ
 ############################################################ */

#side_content {
    float: left;
    width: 230px;
}

#targetBox {
    margin-top: 12px !important;
    background: #666666 !important;
    border-radius: 0 !important;
    width: 230px !important;
}

#xvideojpcom_title {
    color: #FFF !important;
    font-weight: normal !important;
}

#targetBox .inner_box {
    overflow: hidden;
    margin: 0px !important;
    padding: 5px !important;
    display: block;
    background-color: transparent !important;
}

.mabp_articles {}

.targetArea {
    margin: 0 0 3px 0 !important;
    width: 100% !important;
    border: none !important;
    position: relative;
    padding: 8px;
}

.targetArea br {
    display: none !important;
}

.fontclr1 {
    position: absolute;
    top: 11px;
    background-color: #df483a;
    z-index: 1;
    color: #FFF !important;
    margin: 0 !important;
    line-height: 18px;
    font-size: 12px !important;
    padding: 0 2px;
}

.mabp_title {
    margin: 0 !important;
}

.mabp_title a {
    text-decoration: none !important;
}

.mabp_title a:hover {
    color: #d01e1e !important;
}


/* ############################################################
 Ranking Entry
 ############################################################ */

.featured-entry-list {
    margin-top: 0px;
}

.left_sidebar {
    background-color: #EEE9E2;
    height: auto;
    border-radius: 10px;
    border: 1px solid #B3B3B3;
    width: 225px;
    padding: 4px;
}

.alpha__alpha .featured-entry-list {
    margin-top: -20px;
}

.featured-entry-list:before, .featured-entry-list:after {
    display: table;
    content: ' ';
}

.featured-entry-list:after {
    clear: both;
}

.featured-entry {
    height: 200px;
    width: 215px;
    margin-right: 8px;
    float: left;
}

.featured-entry:nth-child(4n+1) {
    margin: 0px;
}

.featured-entry2 {
    margin: 0px 0px 10px;
}

#ranking-1 {
    background-color: #fff;
    border: 1px solid #d1d1d1;
    height: auto;
    margin: 15px 0 0;
    padding: 9px;
}

#ranking-2 {
    background-color: #fff;
    border: 1px solid #d1d1d1;
    height: auto;
    margin: 0 0 20px;
    padding: 9px;
}

.featured-entry__pickup, .featured-entry__rank {
    margin: 0px;
    padding: 0;
}

.featured-entry__thumbnail {
    height: 152px;
    overflow: hidden;
    text-align: center;
    width: 236px;
}

.featured-entry__thumbnail a {
    display: block;
    margin: auto;
    vertical-align: bottom;
}

featured-entry__body {
    width: 215px;
}

.featured-entry__thumbnail img {
    width: 100%;
}

.featured-entry__h1 {
    overflow: hidden;
    margin: 5px 0px 0px;
    padding: 0;
    font-weight: normal;
    font-size: 13px;
    line-height: 1.1;
    width: 215px;
    height: 30px;
}

.ranking_btnzone {
    float: right;
}

.botton_box {
    text-align: right;
    position: absolute;
    right: 1px;
    bottom: 3px;
}

.movie01 {
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
}

.featured-entry__h1 a {
    text-decoration: none;
}

.txt1 {
    margin-top: -45px;
    overflow: hidden;
    height: 80px;
}

.ranking-title {
    margin: 16px 0 0;
}


/* ############################################################
 Ranking Entry
 ############################################################ */

#pickup_zone {
    float: left;
    margin-top: 12px;
}

.pickup_article {
    margin: 0px 0px 10px;
}

.pickup_header_p {
    margin: 0px;
    padding: 0px;
}

.pickup_img {
    height: 146px;
    margin: 5px 0px 10px;
    overflow: hidden;
    text-align: center;
    width: 215px;
}

.pickup_h1 {
    padding: 0px;
    margin: 8px 0px 10px;
    width: 215px;
    font-size: 13px;
    font-weight: normal;
    overflow: hidden;
    line-height: 1.1;
}

.pickup_btnzone {
    float: right;
}


/* ############################################################
 Tab
 ############################################################ */

.tab-container .tab-list-outer {
    background-color: #eee9e2;
    height: 51px;
    list-style: outside none none;
    padding: 0;
    text-align: center;
}

.tab-container .tab-list {
    border-bottom: 3px solid #009785;
    box-sizing: unset;
    letter-spacing: -.40em;
    height: 48px;
    margin: 0 auto;
    padding: 0;
    text-align: left;
    width: 1000px;
}

.tab-container .tab-list:before, .tab-container .tab-list:after {
    display: table;
    content: ' ';
}

.tab-container .tab-list:after {
    clear: both;
}

.tab-container .tab-list li {
    display: inline-block;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.tab-container .tab-list li a {
    border-right: 1px solid #c9c4be;
    color: #363636 !important;
    display: block;
    font-size: 13px;
    letter-spacing: normal;
    line-height: 48px;
    text-decoration: none;
    transition: all 0.2s ease 0s;
    width: 120px;
}

.tab-container .tab-list .selected a {
    text-decoration: none;
    color: #FFF !important;
    background-color: #009785;
    border-right: 1px solid #009785;
}

.tab-list li a:hover {
    background-color: #009785;
    color: #fff !important;
    border-right: 1px solid #009785;
}

.tab-container .tab-content-container {
    border: 1px solid #d1d1d1;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    width: 1000px;
    border-top: none;
}

.tab-container .tab-content {
    display: none;
    padding: 12px;
    background-color: #FFF;
}

.tab-container .tab-content--actress {
    display: block;
}

div.month_debut_area {
    margin-bottom: 20px;
}

.month_debut_area:nth-child(3) {
    border-left: 0.25em solid #E06E4E;
}

.month_debut_area:nth-child(4) {
    border-left: 0.25em solid #48CE4A;
}

.month_debut_area:nth-child(5) {
    border-left: 0.25em solid #4DA1DD;
}

.month_debut_area:nth-child(6) {
    border-left: 0.25em solid #DD4D84;
}

.month_debut_area:nth-child(7) {
    margin-bottom: 0;
    border-left: 0.25em solid #DBA44C;
}

.actress_debut_box div a {
    margin-left: 10px !important;
}

span.debut_month {
    padding-left: 8px;
    margin-bottom: 5px;
}

.tab-container .tab-content .wp-tag-cloud {
    margin: 0 -5px 0 0;
    padding: 0;
    letter-spacing: -.40em;
}

.tab-container .tab-content .wp-tag-cloud li {
    display: inline-block;
    list-style: none;
    letter-spacing: normal;
    margin-right: 5px;
    margin-top: 6px;
}

.tab-container .tab-content .wp-tag-cloud a {
    display: inline-block;
    background-color: #FFF;
    border: 1px solid #DDD;
    border-radius: 3px;
    color: #363636;
    text-decoration: none;
    line-height: 22px;
    min-width: 117px;
    font-size: 13px;
    text-align: center;
}

#tab-5 .wp-tag-cloud a {
    font-size: 12px;
}

.tab-container .tab-content .wp-tag-cloud a:hover {
    color: #333;
    background-color: #FFF3EA;
    border: 1px solid #FFBA8C;
}

.tab-container .tab-content .wp-tag-cloud a span {
    font-size: 11px;
    vertical-align: top;
    letter-spacing: -0.5px;
}

.tab-container .tab-content .link-list {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.tab-container .tab-content .link-list li {
    display: inline-block;
    margin: 0 8px 0 0;
    padding: 0;
    list-style: none;
}

.tab-container .tab-content .link-list a {
    color: #008;
    text-decoration: none;
    white-space: nowrap;
    word-wrap: normal;
    font-size: 16px;
    line-height: 1.7;
}

.tab-container .tab-content .link-list a:hover, .tab-container .tab-content div.link-list a:hover {
    color: #d01e1e !important;
}

.actress_debut_box {
    margin-left: 15px;
}

.tab_header {
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 6px;
    padding-bottom: 4px;
}

.recommended__title {
    color: #363636;
    display: inline-block;
    font-size: 14px;
    line-height: 36px;
    margin: 0;
    padding: 0;
    position: relative;
}

#tab-2 .recommended__title, #tab-5 .recommended__title {
    color: #363636;
    display: block;
    font-size: 14px;
    line-height: 36px;
    margin: 0;
    padding: 0;
    position: relative;
    border-bottom: 1px solid #d9d9d9;
}

.top_actress_list {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    float: right;
}

.top_actress_list a {
    display: inline-block;
    font-size: 13px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    width: 180px;
}

.top_actress_list a:hover {
    color: #333;
    background-color: #FFF3EA;
    border: 1px solid #FFBA8C;
}

.tabnews_hr {
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    color: #FFF;
    height: 1px;
    border-style: dashed none none;
    border-width: 1px medium medium;
    border-color: rgb(163, 163, 163) -moz-use-text-color -moz-use-text-color;
    margin: 5px 0px 10px;
}

.tab-container .tab-content--recommended .link-list {
    margin-top: 16px;
}


/* ############################################################
 Utility
 ############################################################ */

.aligncenter, div.aligncenter {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.alignleft {
    float: left;
    margin: 0 10px 10px 0;
}

.alignright {
    float: right;
    margin: 0 0 10px 10px;
}

.clear {
    clear: both;
}


/* ############################################################
 WordPress
 ############################################################ */

.wp-caption {
    margin: 10px;
    padding-top: 4px;
    border: 1px solid #ddd;
    background-color: #f3f3f3;
    text-align: center;
}

.wp-caption img {
    float: none;
    margin: 0;
    padding: 0;
    border: 0 none;
}

.wp-caption p.wp-caption-text {
    margin: 0;
    padding: 0 4px 5px;
    font-size: 11px;
    line-height: 17px;
}


/* ############################################################
 WP Calendar
 ############################################################ */

#calendar_wrap {
    margin: 0;
}

#wp-calendar {
    width: 100%;
}

#wp-calendar th {
    text-align: left;
}


/* ############################################################
 Contact Form 7
 ############################################################ */

.wpcf7 {
    display: block;
    width: 600px;
    margin: 50px auto;
}

.wpcf7 input[type="text"], .wpcf7 input[type="email"], .wpcf7 input[type="url"], .wpcf7 textarea {
    background-color: #fff;
    color: #333;
    width: 95%;
    border: 1px solid #ddd;
    font-size: 100%;
    padding: 0.5em;
    border-radius: 4px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .1) inset;
}

.wpcf7 input[type="submit"] {
    width: 50%;
    background-color: #f9f9f9;
    display: block;
    margin: 0 auto;
    border-radius: 3px;
    border: 1px solid #e0e0e0;
    line-height: 30px;
    font-size: 14px;
    color: #333;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
}

.wpcf7 input[type="submit"]:hover {
    color: #333;
    background-color: #FFF3EA;
    border: 1px solid #FFBA8C;
}

.wpcf7-validation-errors {
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    color: #fff;
    background-color: #e46c82;
    padding: 10px;
    margin: 0px 10px;
}

.wpcf7-mail-sent-ok {
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    color: #fff;
    background-color: #007B97;
    padding: 10px;
    margin: 0px 10px;
}

.wpcf7 .wpcf7-not-valid-tip {
    display: block;
    position: static;
    top: 0;
    left: 0;
    border: none;
    color: red;
}

.wpcf7 .wpcf7-not-valid {
    background-color: #FDF0F3 !important;
}

.wpcf7 .screen-reader-response {
    display: none;
}


/* ############################################################
 Others
 ############################################################ */

.not-found-message {
    margin: 16px 0;
    padding: 0;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.1;
}

.no-next-page__message {
    margin: 16px 0;
    font-weight: bold;
    font-size: 17px;
}

.no-next-page__home {
    text-decoration: underline;
}

.rankingtable {
    width: 405px;
    border-collapse: collapse;
}

.rankingtable td, #acrr8_xvideos5 td {
    font-size: 13px;
    padding: 6px;
    border: 1px solid #D9D9D9;
}

.rankingtable tr:nth-child(even), #acrr8_xvideos5 tr:nth-child(even) {
    background: #F9F9F9;
}

.rankingtable tr:nth-child(odd), #acrr8_xvideos5 tr:nth-child(odd) {
    background: #FFF;
}

.breadcrumb {
    color: #009785;
    font-weight: bold;
    padding-top: 22px;
    margin-bottom: -6px;
}

.breadcrumb a {
    text-decoration: none;
}

.breadcrumb span {
    text-decoration: none;
    color: #333;
    font-weight: normal;
}

.breadcrumb a:hover span {
    color: #d01e1e;
}

.dmm__content {
    border: 1px solid #d1d1d1;
    background-color: #FFF;
    padding: 15px 4px;
    margin: 16px 0;
}

.related_posts__h3 {
    border-left: 5px solid #009785;
    font-size: 15px;
    padding-left: 10px;
    font-weight: bold;
    margin-bottom: 20px;
    line-height: 20px;
    margin: 0px 10px;
}

.abod {
    margin: 10px 0px 10px 10px;
}


/* ############################################################
 Comment
 ############################################################ */

.entry__comments {
    border: 1px solid #d1d1d1;
    height: auto;
    background-color: #FFF;
    padding: 16px;
}

.rentry__h3 {
    border-left: 5px solid #009785;
    font-size: 16px;
    padding-left: 10px;
    font-weight: bold;
    margin-bottom: 20px;
    line-height: 30px;
}

.commentwaku {
    margin: 0px 0px 20px 0px;
    padding: 5px 10px 10px 10px;
    border: 1px solid #ccc;
    background: none repeat scroll 0 0 #f7f7f7;
}

.comment__details {
    margin: 0 0 10px;
}

.comment {
    margin: 0 0 0 0px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.comment_form #message {
    background-color: #f7f5f5;
    display: block;
    width: 100%;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    margin: 10px 0;
    height: 80px;
    box-shadow: 0 1px 3px #ddd inset;
    padding: 10px;
    line-height: 1.5;
}

.avatar {
    float: left;
    margin: 0 10px 0 0;
}

.comment__details {
    margin: 0 0 10px;
}

.comment__text p {
    margin: 0;
    padding: 0;
}

.comment_form label {
    display: block;
    margin: 0 0 5px;
}

.dmm_details {
    font-size: 13px;
    text-align: right;
}

.dmm_details a {
    color: #fff;
    background-color: #EE9A9F;
    padding: 1px 5px;
    text-decoration: none;
    border-radius: 2px;
}

.zenbun {
    font-size: 13px;
    text-align: right;
}

.zenbun a {
    color: #FFF;
    background-color: rgb(221, 150, 124);
    padding: 1px 5px;
    text-decoration: none;
    border-radius: 2px;
}


/* ############################################################
 tag吹き出し
 ############################################################ */

.arrow_box {
    position: relative;
    background: #FFF;
    border: 1px solid #d1d1d1;
    margin-bottom: 16px;
    padding: 16px;
}

.last-modifed-date {
    font-size: 12px;
    position: absolute;
    right: 10px;
    top: 10px;
}

.post_review {
    background-color: #f6f4f0;
    padding: 12px;
    margin: 16px 0;
}

.post_review p {
    margin: 16px 0;
    font-size: 14px;
}

.post_review h2 {
    position: relative;
    padding: 10px 16px;
    background-color: #66c0b8;
    color: #FFF;
    display: inline-block;
    font-size: 15px;
    margin-left: -18px;
}

.post_review h2:before {
    content: '';
    position: absolute;
    top: 100%;
    border-style: solid;
    border-color: transparent;
}

.post_review h2:before {
    left: 0;
    border-width: 0 8px 8px 0;
    border-right-color: #00594a;
}

.post_review h2 a {
    font-weight: bold;
    color: #FFF;
}

.source__site {
    letter-spacing: -.40em;
    border-top: 1px solid #d4d4d4;
    padding-top: 3px;
    overflow: hidden;
    height: 34px;
}

.source__site a {
    letter-spacing: normal;
    display: inline-block;
    font-size: 10px;
    background-color: #f2f2f2;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    color: #363636;
    text-decoration: none;
    line-height: 20px;
    padding: 0 5px;
    margin-right: 3px;
    margin-top: 6px;
}

.source__site a:hover {
    color: #333;
    background-color: #FFF3EA;
    border: 1px solid #FFBA8C;
}


/* ↓↓↓↓↓↓ここから近況CSS↓↓↓↓↓↓ */

.box:nth-child(n+2) {
    display: none;
}

#kinkyou_box .title {
    background-color: #e46c82;
    display: inline-block;
    color: #FFF;
    padding: 0 10px;
    font-size: 15px;
    font-weight: normal;
    line-height: 30px;
    margin-top: 10px;
    position: relative;
}

#kinkyou_box .title:after {
    top: 100%;
    left: 8%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-top-color: #e46c82;
    border-width: 6px;
    margin-left: -6px;
}

.kinkyou, .midasi+p {
    background-color: #f6f4f0;
    padding: 16px;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 25px;
}

.kinkyou a, .midasi+p a {
    font-weight: bold;
}

.sample-movie_area {
    width: 90%;
    margin: 0 auto;
}

.sample-movie_area .inner {
    display: flex;
    flex-wrap: wrap;
}

.sample-movie_area h3 {
    background-color: #e46c82;
    display: inline-block;
    color: #FFF;
    padding: 0 10px;
    font-size: 15px;
    font-weight: normal;
    line-height: 30px;
    margin: 0 0 7px 0;
}

.sample-movie_area .movie_box, .sample-movie_area .thumbnail_box {
    flex-grow: 1;
    padding: 0 10px;
}

.sample-movie_area .movie_box {
    width: 55%;
}

.sample-movie_area .thumbnail_box {
    width: 45%;
}

.sample-movie_area img {
    width: 100%;
}

.sample-movie_area blockquote {
    margin: 5px 0 0 0;
    padding: 0;
    border: none;
    font-size: 13px;
    line-height: 130%;
    text-align: justify;
}

.sample-movie_area .movie_box a {
    font-size: 16px;
    font-weight: bold;
}


/* ############################################################
 Link List
 ############################################################ */

.link_list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.link_list li {
    margin: 0;
    padding: 8px 0px 8px 12px;
    border-bottom: 1px dotted #ddd;
    list-style: none;
}

.link_list ul {
    margin: 0;
    padding: 8px 0px 8px 12px;
    border-bottom: 1px dotted #ddd;
    list-style: none;
}

.link_list a {
    //  display: block;
    //  padding: 8px 0px;
}

.link_list a:hover {
    background: #f7f7f7;
}


/* page */

#page_list_actr:before, #page_list_actr:after {
    content: " ";
    display: table;
}

#page_list_actr:after {
    clear: both;
}

#page_list_actr ul.wp-tag-cloud, #page_list_actr ul.wp-tag-cloud li {
    float: left;
    width: 100%;
}

#page_list_actr ul.wp-tag-cloud li {
    margin: 0 0 15px 0;
    list-style: none;
    width: 25%;
}

.atbtn button {
    margin: 0px;
    font-size: 13px;
    background-color: #7DC5E0;
    border: 1px solid #ccc;
    padding: 3px 3px;
    color: #fff;
    border-radius: 2px;
    position: relative;
    top: -5px;
}


/* あとで見るボタン windows chrome css */

.win.chrome .atbtn button {
    margin: 0px;
    font-size: 13px;
    background-color: #7DC5E0;
    border: 1px solid #ccc;
    padding: 3px;
    color: #fff;
    border-radius: 3px;
    position: relative;
    top: -6px;
}

.ran_dmm_navi {
    background: #ee9898;
    color: #fff;
    text-decoration: none;
    padding: 1px 5px;
    font-size: 12px;
}

.ran_movie_navi {
    background: #aa9474;
    color: #fff;
    text-decoration: none;
    padding: 1px 5px;
    font-size: 12px;
    margin-left: 10px;
}


/* ############################################################
 タグ詳細 DMMパーツ
 ############################################################ */


/* DMMパーツ */

.dmmad {
    margin-bottom: 20px;
}

.dmmad h1 {
    font-family: Georgia, Times New Roman, Times, Geneva, serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 130%;
    display: inline-block;
    margin: 0;
    padding: 0;
    padding-left: 10px;
    text-align: left;
    letter-spacing: 0;
    color: #5d2e00;
}

.dmmad .dmm_rental {
    font-size: 11px;
    line-height: 30px;
    float: right;
    padding: 0 10px;
    text-decoration: none;
    letter-spacing: 1px;
    color: #fff;
    background: #6d6d6d;
}

.dmmad .dmm_rental:hover {
    text-decoration: none;
    color: #fff;
    background: #545454;
}

.dmmad .aside-part {
    width: 100%;
    margin: 0 0 10px 0;
}

.dmmad .aside {
    position: relative;
    float: left;
    width: 32%;
}

.dmmad .aside:nth-child(2) {
    margin: 0 2%;
}

.dmmad .rank {
    font-size: 13px;
    font-weight: bold;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    padding: 5px 10px;
    color: #fff;
    background: rgba(233, 0, 0, 1);
}

.dmmad .dmm_thumnail {
    position: relative;
}

.dmmad .dmm_thumnail:hover .mask {
    opacity: 1;
}

.dmmad .dmm_thumnail img {
    width: 100%;
    vertical-align: bottom;
}

.dmmad .mask {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    opacity: 0;
    /* マスクを表示しない */
    color: #fff;
    background-color: rgba(0, 0, 0, .7);
    /* マスクは半透明 */
}

.dmmad .review_box:hover {
    color: #fff;
}

.dmmad .review_box .review_title {
    font-size: 13px;
    overflow: hidden;
    width: auto;
    max-width: 271px;
    height: auto;
    margin: 0;
    padding: 30px 10px 5px;
}

.dmmad .review_msg {
    font-size: 12px;
    line-height: 1.7;
    padding: 5px 10px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.dmmad .review_detail {
    font-size: 11px;
    padding: 5px 10px 0 0;
    text-align: right;
}

.dmmad .title {
    display: inline-block;
    font-size: 13px;
    margin-top: 2px;
    text-decoration: none;
}

.dmmad .title:hover {
    text-decoration: none;
    border-bottom: none;
}


/*---------------------------------
  DMMキャンペーンパーツ
-----------------------------------*/

#dmmcp {
    width: auto;
    margin: 30px 0px 10px;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
}

#dmmcp h1 {
    text-align: left;
    color: #5d2e00;
    font-size: 20px;
    font-family: Georgia, Times New Roman, Times, Geneva, serif;
    font-weight: normal;
    letter-spacing: 0;
    margin: 0;
    padding: 0;
    padding-left: 10px;
    line-height: 130%;
    display: inline-block;
}

#dmmcp .aside-list {
    width: 100%;
    padding: 10px 0;
    box-shadow: 0 0 2px rgba(0, 0, 0, .2);
    background: #ffffff;
    white-space: nowrap;
    overflow-x: scroll;
}

#dmmcp .aside {
    display: inline-block;
    width: 250px;
    white-space: normal;
    vertical-align: top;
}


/*素人限定*/

#dmmcp .videoc {
    width: 192px;
}

#dmmcp .aside:hover {
    border-top: 5px solid #FFCF46;
    margin-top: -5px;
}

#dmmcp .aside:hover a {
    text-decoration: none;
    border-bottom: none;
    color: #f00;
}

#dmmcp .aside img {
    max-height: 168px;
    max-width: 250px;
}

#dmmcp .videoc img {
    height: 192px;
    max-width: none;
    max-height: none;
}

#dmmcp .aside:first-child {
    margin-left: 15px;
}

#dmmcp .aside:last-child {
    margin-right: 15px;
}

#dmmcp .dmm_title {
    overflow: hidden;
    height: 53px;
}

#dmmcp .dmm_title a {
    font-size: 13px;
    text-decoration: none;
    border-bottom: 1px solid #0054c7;
    line-height: 1.3;
}

#dmmcp .dmm_title a:hover {
    text-decoration: none;
    border-bottom: none;
}

#dmmcp .aside:nth-child(n+2) {
    margin-left: 10px
}


/*--------------------------------------------
 ranking_i_s
--------------------------------------------*/

.featured-entry__h1 a i {
    color: red;
    font-weight: bold;
}


/*--------------------------------------------
投稿者番号
--------------------------------------------*/

.pu {
    display: none;
}


/*--------------------------------------------
flashx専用
--------------------------------------------*/

.flashx_navi {
    display: block;
}

.flashx_navi a {
    text-decoration: none;
    color: #fff;
    background: #aa9474;
    padding: 1px 5px;
    font-size: 12px;
}


/*--------------------------------------------
add ttt
--------------------------------------------*/

div.kiji p {
    line-height: 150%;
}

h2.kiji p {
    line-height: 150%;
}

div.kiji h2 {
    display: inline-block;
}

div.kiji h3 {
    display: inline-block;
}


/*--------------------------------------------
広告枠(幅いっぱい)
--------------------------------------------*/

.warp-ad {
    background-color: #fff;
    border: 1px solid #d1d1d1;
    height: auto;
    margin: 12px 0 0;
    padding: 9px;
    text-align: center;
}

.error404 .warp-ad {
    margin-bottom: 16px;
}

.page-template .warp-ad {
    margin-bottom: 20px;
}


/*--------------------------------------------
記事ページ広告枠
--------------------------------------------*/

.single-entry {
    position: relative;
    margin-bottom: 20px;
}

.lp_ad_box {
    width: 220px;
    position: absolute;
    right: 30px;
    top: 200px;
}

.lp_ad_box br {
    display: none;
}

.lp_ad_box p {
    margin: 0px;
}

.lp_ad_box img {
    width: 100%;
}

.featured-entry {
    float: left;
    height: 184px;
    margin-right: 10px;
    position: relative;
    width: 236px;
}

.featured-entry .featured-entry__h1 {
    font-size: 13px;
    font-weight: normal;
    height: auto;
    line-height: 1.1;
    margin: 0;
    overflow: hidden;
    padding: 3px 1px 1px 2px;
    text-align: center;
    top: 130px;
    width: 236px;
}

.featured-entry .massage_badge {
    position: absolute;
    right: 6px;
    top: 1px;
    opacity: 0;
    height: 30px !important;
}

.featured-entry:hover .massage_badge {
    opacity: 1;
    transition: 0.4s ease 0s;
}

.featured-entry .num_order {
    background-color: #383838;
    color: #fff;
    left: 0;
    line-height: 20px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 60px;
}

@media only screen and (max-width:1020px) and (min-width:768px) {
    .featured-entry .massage_badge {
        opacity: 1;
        top: 4px !important;
    }
    .featured-entry .massage_badge a {
        display: inline-block;
        padding: 5px 8px;
    }
}

div.kiji {
    line-height: 150%;
}


/*--------------------------------------------
ジャンルリスト -固定ページ-
--------------------------------------------*/

.post-217778 .entry__body>div, .post-228709 .entry__body>div {
    background-color: #FFF !important;
    border: none !important;
    border-radius: none !important;
    text-decoration: none !important;
    margin: 0 !important;
    width: auto !important;
    text-align: center;
}

.post-217778 .entry__body>div a, .post-228709 .entry__body>div a {
    background-color: #f9f9f9;
    display: block;
    margin: 0 auto;
    border-radius: 3px;
    width: 380px;
    border: 1px solid #e0e0e0;
    line-height: 30px;
    font-size: 14px;
    color: #333;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
}

.post-217778 .entry__body>div a:hover, .post-228709 .entry__body>div a:hover {
    color: #333;
    background-color: #FFF3EA;
    border: 1px solid #FFBA8C;
}

#page_genrelist, #page_serieslist {
    width: 100%;
}

#page_genrelist td, #page_serieslist td {
    vertical-align: top;
    padding: 0 16px;
}

#page_genrelist ul, #page_serieslist ul {
    margin: 0;
    padding: 0 0 0 10px;
}

#page_genrelist ul li, #page_serieslist ul li {
    font-size: 12px;
    margin-bottom: 10px;
}

#page_genrelist ul li a, #page_serieslist ul li a {
    font-size: 13px;
    line-height: 1.3;
}

#page_genrelist ul li a:hover, #page_serieslist ul li a:hover {}

.genre_group, .series_group {}

.genre_group:last-child, .series_group:last-child {
    margin-bottom: 0;
}

.genre_group h2, .series_group h2 {
    color: #E47911;
    line-height: 1.3;
    font-size: 16px;
    padding: 10px 0 0 0;
}


/*limit poster*/

#SPREAD_VIDEO_WRAPPER {
    margin: 0 !important;
    float: left;
}

.limit_poster #targetBox {
    float: right;
    margin: 0 !important;
}


/* フッター逆アクセスランキング */

table.acr_ranking_sys td {
    padding: 5px 3px;
}


/* 動画はこちら */

li.kiji:nth-child(5) {
    /*background-color: #000000;*/
    text-align: center;
}

li.kiji:nth-child(5) a {
    border: 1px solid #D7DADA;
    border-radius: 3px;
    font-size: 17px;
    text-decoration: none;
    color: #fff;
    background-color: #0093DE;
    display: block;
    height: 55px;
    line-height: 55px;
    font-weight: bold;
    letter-spacing: 7px;
}

li.kiji:nth-child(5) a:hover {
    opacity: 0.9;
    background-color: #DB3620;
    border: 1px solid #DB3620;
}

li.kiji:nth-child(5) br {
    display: none;
}


/*--------------------------------------------
アイコンフォント
--------------------------------------------*/

@font-face {
    font-family: 'icomoon';
    src: url('./font/icomoon.eot?mi3zoz');
    src: url('./font/icomoon.eot?mi3zoz#iefix') format('embedded-opentype'), url('./font/icomoon.ttf?mi3zoz') format('truetype'), url('./font/icomoon.woff?mi3zoz') format('woff'), url('./font/icomoon.svg?mi3zoz#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
    content: "\e611";
}

.icon-clipboard:before {
    content: "\e800";
}

.icon-book-open:before {
    content: "\e801";
}

.icon-reply:before {
    content: "\e802";
}

.icon-trash:before {
    content: "\e803";
}

.icon-doc-text:before {
    content: "\e804";
}

.icon-menu:before {
    content: "\e805";
}

.icon-forward:before {
    content: "\e806";
}

.icon-pencil:before {
    content: "\e807";
}

.icon-award:before {
    content: "\e808";
}

.icon-user:before {
    content: "\e809";
}

.icon-cancel:before {
    content: "\e80a";
}

.icon-star:before {
    content: "\e80b";
}

.icon-search:before {
    content: "\e80c";
}

.icon-home:before {
    content: "\e80d";
}

.icon-quote-left:before {
    content: "\e80f";
}

.icon-quote-right:before {
    content: "\e810";
}

.icon-right-dir:before {
    content: "\e811";
}

.icon-hatebu:before {
    content: "\e00a";
}

.icon-facebook:before {
    content: "\e60d";
}


/*--------------------------------------------
ie ハック
--------------------------------------------*/

.ie .tab-container .tab-list-outer {
    height: 48px;
}

.ie .search_form {
    margin: 8px 0 0;
}

.ie .search_form__submit i {
    margin-left: -6px;
}

.dmm_event.banner {
    margin: 10px 0;
}

.dmm_event.banner img {
    width: 100%;
}


/*--------------------------------------------
sidebar dmm_event_box
--------------------------------------------*/

#side_content .dmm_event_box {
    margin: 10px 0;
}

#side_content .dmm_event_box a {
    display: block;
}

#side_content .dmm_event_box img {
    width: 100%;
    transition: opacity 0.3s;
}

#side_content .dmm_event_box img:hover {
    opacity: 0.7;
}

.dmm_event_box {
    background: #fff;
    margin: 10px 0 16px 0;
    box-sizing: border-box;
    padding: 16px;
    border: 1px solid #d1d1d1;
}

.dmm_event_box * {
    box-sizing: border-box;
}

.dmm_event_box .head-title {
    text-align: center;
    font-weight: 700;
    margin: 0;
    font-size: 18px;
}

.dmm_event_box .sub-me {
    text-align: center;
    font-size: 11px;
    margin: 0px;
    padding: 0px;
    color: #f30909;
}

.dmm_event_box .typeA {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.dmm_event_box .typeA li {
    width: 24%;
}

.dmm_event_box .typeA li a {
    display: block;
    text-decoration: none;
    border: 1px solid #e0e0e0;
    margin: 0 0 5px 0;
    position: relative;
}

.dmm_event_box .typeA li a:hover {
    opacity: 0.8;
    border: 1px solid #F89C1A;
    color: #515151;
}

.dmm_event_box .typeA li a .num_order {
    position: absolute;
    bottom: 40px;
    background: rgba(255, 255, 255, 0.7);
    padding: 5px 7px 5px 5px;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
}

.dmm_event_box .typeA li:nth-child(1) .num_order {
    background: #d9b340;
    color: #fff;
}

.dmm_event_box .typeA li:nth-child(2) .num_order {
    background: #6f7b83;
}

.dmm_event_box .typeA li:nth-child(3) .num_order {
    background: #a15326;
}

.dmm_event_box .typeA li:nth-child(4) .num_order {
    color: #515151;
}

.dmm_event_box .typeA li .description {
    font-size: 11px;
    height: 30px;
    overflow: hidden;
    margin: 0px;
}

.dmm_event_box .typeA li img {
    width: 100%;
    padding: 0 !important;
    border: none !important;
}

.dmm_event_box .typeA-button {
    text-decoration: none;
    text-align: center;
    display: block;
    background: #F89C1A;
    color: #fff;
    padding: 10px;
    font-size: 15px;
}

.dmm_event_box .typeA-button:hover {
    background: #F09719;
    box-shadow: rgba(0, 0, 0, 0.2) 0 2px 5px 0;
    transition: all 0.3s;
}

.dmm-event_dmm-gazo2 {
    padding: 10px;
    background: #ea4651;
    width: 80%;
}

.dmm-event_dmm-gazo2 * {
    box-sizing: border-box;
}

.dmm-event_dmm-gazo2 .head-title h3 {
    font-size: 28px;
    line-height: 1.25;
    margin: 0;
    text-align: center;
    color: #fff;
}

.dmm-event_dmm-gazo2 .pc-dmm-gazo__title {
    position: relative;
    width: 50%;
}

.dmm-event_dmm-gazo2 .movie_title_d {
    text-align: center;
}

.dmm-event_dmm-gazo2 .movie_comment_d {
    margin: 10px;
    padding: 10px;
    background: #fff;
}


/*Add-Advertisement*/

.Add-Advertisement {
    height: 100%;
    margin: 0 0 10px;
    padding: 30px;
    border: 1px solid #d5d5d5;
    background: #fff;
}

.Add-Advertisement .h2 {
    font-size: 19px;
    margin: 15px 0 10px 0;
    padding: 0 0 3px 0;
    letter-spacing: -1px;
    color: #0db2ef;
    border-bottom: 1px solid #888;
}

.article-images {
    width: 100%;
    text-align: center;
    margin: 10px 0;
    padding: 10px;
    box-sizing: border-box;
}

.article-images img {
    width: 100%;
    padding: 0px;
    margin: 10px 0;
}


/*--------------------------------------------
   add-ranking__area
---------------------------------------------*/

.add-ranking__area {
    display: flex;
    padding: 0 7px 0 0;
    justify-content: space-between;
    font-size: 13px;
    margin-bottom: 10px;
}

.add-ranking__area .dmm_box {
    width: 236px;
    position: relative;
    z-index: 1;
}

.add-ranking__area .dmm_box img {
    width: 100%;
}

.add-ranking__area .dmm_box .setumei {
    color: #0054c7;
    margin: 0px;
    font-weight: 300;
    box-sizing: border-box;
    font-size: 13px;
    font-weight: normal;
    height: auto;
    line-height: 1.1;
    margin: 0;
    overflow: hidden;
    padding: 1px 1px 1px 2px;
    text-align: center;
    top: 130px;
    width: 236px;
}

.add-ranking__area .num_order {
    position: absolute;
    padding: 0px 8px;
    background-color: #db3425;
    color: #fff;
    display: block;
    line-height: 20px;
    text-align: center;
    z-index: 2;
}

.add-ranking__area .massage_badge {
    position: absolute;
    right: 0px;
    top: 1px;
    display: block;
    height: 30px !important;
    z-index: 2;
    opacity: 0;
}

.add-ranking__area .dmm_box:hover .massage_badge {
    opacity: 1;
    transition: 0.4s ease 0s;
}

.add-ranking__area .massage_badge .tab2 {
    text-decoration: none;
    color: #fff;
    background: #ee9898;
    padding: 1px 5px;
    font-size: 12px;
}

.add-ranking__area .massage_badge .tab3 {
    background: #aa9474;
    color: #fff;
    text-decoration: none;
    padding: 1px 5px;
    font-size: 12px;
    margin-left: 3px;
}
