*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', 'Arial', sans-serif;
	font-size: 16px;
	background: #f0f0f0;
}

html {
	overflow-y: scroll;
}

body.frontpage {
	background: #ffffff;
}

#sb-site {
	background: #f0f0f0;
}

a {
	color: #3a80ea;
}

a:hover {
	color: #5695ff;
}

b, th {
	font-weight: 500;
}

.container {
	width: 100%;
	max-width: 1440px;
	padding: 0 30px;
	position: relative;
}

@media screen and (max-width: 768px) {
	.container {
		padding-left: 15px;
		padding-right: 15px;
	}
}

.container.width100 {
	max-width: 100%;
}

a img {
	border: none;
	outline: none;
}

h1 {
	font-weight: 400;
	font-size: 30px;
	line-height: 1.2;
}

.frontpage h1 {
	font-size: 36px;
	margin-bottom: 10px;
}

h1 .additional {
	font-weight: 400;
	font-size: 16px;
	display: block;
	color: #808080;
	margin-top: 10px;
}

@media screen and (max-width: 560px) {
	h1 {
		font-size: 25px;
	}
	
	.frontpage h1 {
		margin-bottom: 0px;
		border-bottom: 1px solid #e0e0e0;
		padding-bottom: 20px;
		margin-bottom: 20px;
	}
}

h2, h3, h4, h5, h6 {
	font-weight: 500;
}

.clear {
	clear: both;
}

#content {
	min-height: 100vh;
	margin: 0 auto -170px auto;
	padding-bottom: 170px;
}

@media screen and (max-width: 825px) {
	#content {
		margin-bottom: -190px;
		padding-bottom: 190px;
	}
}

.frontpage header {
	box-shadow: none;
	position: absolute;
}

.frontpage #content {
	background: #ffffff;
}

#menu-btn {
	width: 50px;
	height: 50px;
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
}

#menu-btn:hover,
#menu-btn:focus {
	background: #3a80ea;
}

#menu-btn .stripe-1 {
	position: absolute;
	top: 15px;
	left: 12px;
	width: 26px;
	border-top: 3px solid #3a80ea;
}

#menu-btn .stripe-2 {
	position: absolute;
	top: 23px;
	left: 12px;
	width: 26px;
	border-top: 3px solid #3a80ea;
}

#menu-btn .stripe-3 {
	position: absolute;
	top: 31px;
	left: 12px;
	width: 26px;
	border-top: 3px solid #3a80ea;
}

#menu-btn:hover .stripe-1,
#menu-btn:hover .stripe-2,
#menu-btn:hover .stripe-3 {
	border-color: #fff;
}

#sb-site {
	overflow-y: hidden;
}

body.modal-open {
  overflow: inherit;
  padding-right: 0 !important;
}

body.modal-open #sb-site {
	position: static;
	-webkit-transform: none !important;
	transform: none !important;
}
  
.sb-slidebar {
	background: #1d54a7;
}

.sb-toggle-left, .sb-toggle-right {
	cursor: pointer;
}

select {
	font-size: 16px !important;
	border: 1px solid #ccc;
	border-radius: 2px;
	height: 34px;
	outline: none;
	background: #e8e8e8;
}

select:focus {
	border-color: #3a80ea;
	background: #f4f4f4;
}

select:disabled {
	color: #808080;
}

input:not([type=submit]):not([type=reset]):not([type=checkbox]):not([type=radio]):not([type=file]):not([type=image]),
textarea {
	font-size: 16px;
	line-height: 1.42857143;
	background: #d0d0d0;
	border: 1px solid #d0d0d0;
	border-radius: 4px;
	-webkit-appearance: none;
	-moz-appearance:none;
	appearance:none;
	outline: none;
	padding: 6px 7px;
	position: relative;
	transition: all 150ms;
}

input:not([type=submit]):not([type=reset]):not([type=checkbox]):not([type=radio]):not([type=file]):not([type=image]):focus,
textarea:focus {
	background: #f8f8f8;
	border: 1px solid #d8d8d8;
}

input:not([type=submit]):not([type=reset]):not([type=checkbox]):not([type=radio]):not([type=file]):not([type=image]) {
	height: 34px;
	vertical-align: middle;
}

textarea {
	display: block;
}

.panel input:not([type=submit]):not([type=reset]):not([type=checkbox]):not([type=radio]):not([type=file]):not([type=image]),
.panel textarea {
	border: 1px solid #d8d8d8;
	background: #d8d8d8;
}

.panel input:not([type=submit]):not([type=reset]):not([type=checkbox]):not([type=radio]):not([type=file]):not([type=image]):focus,
.panel textarea:focus {
	border: 1px solid #e0e0e0;
	background: #f0f0f0;
}

.btn .fa {
	margin-right: 0.3em;
}

.gallery .btn .fa,
.image-controls .btn .fa,
.vote-controls .btn .fa,
.btn.up-to-gallery .fa {
	margin-right: 0;
}

.btn {
	border-color: #3a80ea;
	color: #3a80ea;
	background: #ffffff;
	outline: none !important;
}

.btn-primary {
	color: #ffffff;
	background: #3a80ea;
}

.btn:hover,
.btn-primary:hover,
.btn:focus, .btn.focus,
.btn-primary:focus, .btn-primary.focus {
	border-color: #3a80ea;
	background: #3a80ea;
	color: #fff;
}

.btn-group .btn.active {
	background-color: #3a80ea;
	color: #fff;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.btn-group .btn:not(.active):hover {
	background-color: #e6f0ff;
	color: #3a80ea;
}

.btn.active {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.btn.active[aria-pressed] {
	background-color: #3a80ea;
	color: #fff;
}

.btn-xs {
	font-size: 12px;
	border: none;
}

.width100 {
	width: 100%;
}

.btn-group.child2 .btn {
	width: 50%;
}

.btn-group.child3 .btn {
	width: 33.333%;
}

.btn-group.child4 .btn {
	width: 25%;
}

.btn-group.child4.width100 .btn {
	width: 20%;
}

.input-group-btn {
	font-size: inherit;
}

.input-group input:first-child {
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}

.input-group .btn {
	border-color: #e8e8e8 !important;
}

.input-group .btn:hover {
	border-color: #3a80ea !important;
}

.gallery .controls .btn,
.image-controls .btn,
.vote-controls .btn,
.btn.up-to-gallery {
	border: none;
}

.gallery .controls .btn:not(:hover):not(:focus):not(.active),
.image-controls .btn:not(:hover):not(:focus):not(.active),
.vote-controls .btn:not(:hover):not(:focus):not(.active),
.btn.up-to-gallery:not(:hover):not(:focus):not(.active) {
	background-color: transparent;
}

.align-right {
	text-align: right;
}

.control-label {
	padding-top: 6px;
	text-align: right;
}

.modal .control-label {
	text-align: left;
}

label {
	font-weight: 400;
}

@media screen and (max-width: 768px) {
	.control-label, .align-right {
		text-align: left;
	}
}

header .container,
footer .container {
	max-width: 1440px;
}

header {
	height: 50px;
	width: 100%;
	background: #fff;
	box-shadow: 0 0 3px rgba(0,0,0,0.25);
	position: fixed;
	z-index: 2;
}

header + #sb-site {
	padding-top: 50px;
}

.logo {
	display: block;
	float: left;
	margin-right: 1.1em;
	padding-top: 13px;
	padding-bottom: 15px;
}

.logo img {
	width: 129px;
	height: 22px;
	display: block;
	opacity: 1;
	-o-transition: 200ms opacity;
	-ms-transition: 200ms opacity;
	-moz-transition: 200ms opacity;
	-webkit-transition: 200ms opacity;
	transition: 200ms opacity;
}

.controls .logo {
	padding: 7px 0;
	vertical-align: middle;
	float: none;
	display: inline-block;
	margin-right: 0.9em;
}

@media screen and (max-width: 160px) {
	header .logo {
		display: none;
	}
}

.mainmenu {
	font-size: 14px;
	display: block;
	float: left;
	margin-left: 0em;
	overflow: hidden;
}

.mainmenu ul, .logins ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	height: 50px;
	display: block;
}

.mainmenu li, .logins li {
	height: 50px;
	display: block;
	float: left;
}

.mainmenu:after,
.logins:after {
	content: "";
	display: block;
	width:0;
	height:0;
	clear: both;
}

.logins {
	font-size: 14px;
	display: block;
	float: right;
	overflow: hidden;
	margin-right: 30px;
}

.mainmenu span,
.logins span {
	cursor: default;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.mainmenu a,
.logins a,
.mainmenu span,
.logins span {
	padding: 15px 14px;
	display: block;
}

.mainmenu a.active,
.logins a.active
.mainmenu span.active,
.logins span.active {
	color: #000000;
}

.mainmenu a:hover,
.mainmenu a:focus,
.logins a:hover,
.logins a:focus {
	background: #3a80ea;
	color: #fff;
	text-decoration: none;
}

.logins:not(.authorized) li:last-child a {
	margin-top: 10px;
	padding: 5px 15px;
	display: block;
	color: #ffffff;
	background: #3a80ea;
	border-radius: 3px;
	margin-left: 9px;
}

.logins:not(.authorized) li:last-child a:hover {
	background: #5695ff;
}

.logins li a.username,
.logins li span.username {
	white-space: nowrap;
	max-width: 180px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.side-menu li a,
.side-menu li span {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 100%;
	width: 100%;
}

.side-menu li a .fa {
	width: 24px;
}

@media screen and (max-width: 1260px) {
	.mainmenu {
		display: none;
	}

}

@media screen and (max-width: 768px) {
	.logins {
		margin-right: 45px;
		float: right;
	}
}

@media screen and (max-width: 680px) {
	.logins {
		display: none;
	}
}

header a:hover {
	text-decoration: none;
}

form .row {
	margin-top: 0px;
	margin-bottom: 5px;
}

.frontpage .hero {
	padding-top: 10px;
}

#uploader {
	position: relative;
}

.frontpage #uploader {
	padding-top: 30px;
	padding-bottom: 15px;
}

#uploadControls2 {
	margin-top: 10px;
}

.uploaddrop {
	border: 3px dashed #3a80ea;
	border-radius: 10px;
	padding: 50px 20px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
	background: #ffffff;
}

#uploadQueue, #uploadLinks { margin-top: 5px; }

.uploaddrop:hover {
	background: #f4f6f8;
}

.uploaddrop .title {
	font-size: 36px;
	color: #3a80ea;
	text-align: center;
}

.uploaddrop .tip {
	color: #808080;
	text-align: center;
}

.panel {
	margin-top: 15px;
	margin-bottom: 15px;
/*	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #e0e0e0;*/
	box-shadow: 0 0 2px rgba(0,0,0,0.25);
	padding: 10px 0;
	background: #ffffff;
}

.frontpage-panel {
	padding: 10px 0;
	line-height: 170%;
	background: #f0f0f0;	
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	box-shadow: 0 0 5px rgba(0,0,0,0.08);
}

p {
	line-height: 170%;
	text-align: justify;
}

.modal-body p {
	margin: 0;
}

.controls {
	min-height: 42px;
	line-height: 42px;
	text-align: left;
	margin-top: 10px;
}

@media screen and (max-width: 480px) {
	p {
		text-align: left;
	}
}

footer {
	padding: 20px 0 5px 0;
}

.bottom-menu {
	font-size: 14px;
	display: block;
	margin: 10px auto;
	text-align: center;
}

.bottom-menu ul {
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
	display: block;
}

.bottom-menu li {
	display: inline-block;
}

.bottom-menu li:not(:first-child):before {
	content: "|";
	margin: 0 5px;
	color: #c0c0c0;
}


.bottom-menu a.active {
	color: #000000;
}

/*a[href*="contact.php"] {
	color: red;
}

.welcometext {
	display: none !important;
}*/

.copyright {
	font-size: 12px;
	color: #808080;
	margin: 20px auto 0 auto;
	text-align: center;
}


.side-menu {
	font-size: 16px;
}

.side-menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: block;
}

.side-menu li {
	display: block;
}

.side-menu li a {
	display: block;
	padding-left: 15px;
	height: 50px;
	line-height: 50px;
	color: #f0f0f0;
	text-decoration: none;
}

.side-menu li a.active {
	color: #3a80ea;
	background: #ffffff;
}

.side-menu li a:not(.active):hover {
	background: #000000;
}

.breadcrumbs {
	list-style-type: none;
	margin: 20px 0 0 0;
	padding: 0;
	/*height: 30px;*/
}

@media screen and (max-width: 512px) {
	.breadcrumbs-for-image {
		display: none;
	}
}

.breadcrumbs li {
	margin: 0;
	padding: 0;
	display: inline-block;
	float: left;
	height: 22px;
	max-width: 300px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.breadcrumbs:after {
	content: " ";
	clear: both;
}

.breadcrumbs li:not(:first-child):before {
	content: "";
	display: block;
	float: left;
	width: 7px;
	height: 22px;
	background: url('/img/icon-arrow-right.png') no-repeat 50% 50%;
	background-size: 100%;
	margin: 0 8px;
}

.breadcrumbs img {
	width: 22px;
	height: 22px;
	display: inline-block;
	position: relative;
	top: -2px;
}

.pricing-plan {
	border-radius: 10px;
	padding: 20px;
	min-height: 200px;
	margin-bottom: 15px;
}

@media screen and (max-width: 768px) {
	.pricing-plan {
		min-height: 0;
	}
}

.billing-plan {
	border-radius: 10px;
	padding: 20px;
	text-align: center;
	min-height: 250px;
	margin-bottom: 15px;
	background: #f0f0f0;
}

.billing-plan .price {
	font-size: 18px;
  font-style: italic;
}

.billing-plan .pay {
	bottom: 50px;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0px;
	right: 0px;
}

.pricing-plan .price {
	font-size: 22px;
}

.plans > div:nth-child(1) > .pricing-plan {
	background: #f0f0f0;
}

.plans > div:nth-child(2) > .pricing-plan {
	background: #f0f0f0;
}

.plans > div:nth-child(3) > .pricing-plan {
	color: #ffffff;
	background: #6a23a6;
}

.pricing-plan h2 {
	margin-top: 0;
	margin-bottom: 0;
}

.plans .btn {
	font-size: 20px;
	line-height: 20px;
	display: block;
	padding: 10px 0;
}

.plans > div > .btn {
	margin: 0 auto 30px auto;
}

ul.dashed {
	list-style-type: none;
	margin: 15px 0 0 23px;
	padding: 0;
}

ul.dashed li {
	margin: 0 0 10px 0;
	padding: 0;
	text-indent: -9px;
}

ul.dashed li:last-child {
	margin-bottom: 0;
}

ul.dashed li:before {
	content: '—';
	margin-left: -14px;
	margin-right: 10px;
}

.smallform {
	max-width: 540px;
}

.mediumform {
	max-width: 800px;
}

.smallform input:not([type=submit]):not([type=reset]):not([type=file]),
.smallform select,
.smallform textarea,
.mediumform input:not([type=submit]):not([type=reset]):not([type=file]),
.mediumform select,
.mediumform textarea {
	width: 100%;
}

.fullform input:not([type=submit]):not([type=reset]):not([type=file]),
.fullform select,
.fullform textarea {
	width: 240px;
}

.error {
	color: tomato;
	text-align: left;
	line-height: 170%;
}

.success {
	color: #008030;
	text-align: left;
	line-height: 170%;
}

.uploadifive-button:before {
	content: "+";
}

.uploadifive-button, .uploadifive-button:hover {
	display: block;
	color: #3a80ea;
	background: none;
	border: none;
	-o-border-radius: 0;
	-ms-border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	-o-text-shadow: none;
	-ms-text-shadow: none;
	-moz-text-shadow: none;
	-webkit-text-shadow: none;
	text-shadow: none;
	cursor: pointer;
}

.uploadifive-button:hover {
	color: #5695ff;
}

input[type=file] {
	cursor: pointer;
}

.gallery-list {
	background: #f0f0f0;
}

.gallery-list .gallery-container {
	/*min-height: 340px;*/
	padding: 0;
}

.gallery {
	margin: 15px 0px 0px 15px;
	padding: 15px 15px 7px 15px;
	-moz-transition: -moz-box-shadow 200ms;
	-webkit-transition: -webkit-box-shadow 200ms;
	transition: box-shadow 200ms;
	box-shadow: 0 0 3px rgba(0,0,0,0.25);
	border-radius: 4px;
	background: #fff;
}

.gallery .cover {
	display: block;
	position: relative;
	max-width: 300px;
	width: 100%;
	height: 200px;
	background-size: contain;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	cursor: pointer;
}

@media screen and (max-width: 989px) {
	.gallery .cover {
		height: 180px;
	}
}

@media screen and (max-width: 768px) {
	.gallery .cover {
		height: 200px;
	}
}

.gallery:hover {
	-moz-box-shadow: 0 0 5px #3a80ea;
	-webkit-box-shadow: 0 0 5px #3a80ea;
	box-shadow: 0 0 5px #3a80ea;
}

.gallery h3 {
	margin-left: -5px;
	padding-left: 5px;
	font-size: 18px;
	font-weight: 400;
	line-height: 28px;
	min-height: 28px;
	margin-top: 8px;
	margin-bottom: 3px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.gallery h3:focus {
	text-overflow: clip;
	white-space: normal;
	overflow: visible;
}

.gallery h3[contenteditable=true]:hover, .gallery h3:focus {
	background: #ffffff;
}

.gallery h3 br {
	display: none;
}

.gallery .count {
	font-size: 85%;
	color: #505050;
}

.thumb-list .thumb-container {
	/*min-height: 160px;*/
	padding: 0;
	opacity: 1;
	-o-transition: opacity 1s;
	-ms-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-webkit-transition: opacity 1s;
	transition: opacity 1s;
}

.thumb-list .thumb-container.new {
	opacity: 0;
}

.thumb-container h1,
.thumb-container h2,
.thumb-container h3,
.thumb-container h4,
.thumb-container h5,
.thumb-container h6 {
	margin-left: 15px;
}

.thumb .img {
	display: block;
	position: relative;
	max-width: 300px;
	width: 100%;
	height: 120px;
	background-size: contain;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	cursor: pointer;
}

.thumb {
	margin: 15px 0px 0px 15px;
	padding: 15px 15px 7px 15px;
	-moz-transition: -moz-box-shadow 200ms;
	-webkit-transition: -webkit-box-shadow 200ms;
	box-shadow: 0 0 3px rgba(0,0,0,0.05);
	border-radius: 0px;
	border: 1px solid #e0e0e0;
	transition: box-shadow 200ms, border 200ms;
	background: #fff;
	position: relative;
}

.thumb .img .fa-clock-o {
	display: block;
	position: absolute;
	right: 0;
	bottom: 0;
	background: rgba(255,255,255,1);
	padding: 2px;
	color: tomato;
}

.top .thumb {
	padding-bottom: 15px;
}

.thumb:hover {
	-moz-box-shadow: 0 0 3px #3a80ea;
	-webkit-box-shadow: 0 0 3px #3a80ea;
	box-shadow: 0 0 3px #3a80ea;
	border-color: #8fb3e3;
}

.thumb-container.flagged .thumb {
	background: #00d000;
}

.top img {
	width: 100%;
	max-width: 300px;
	display: block;
	margin: auto;
}

.top .col-md-3 {
	margin-bottom: 30px !important;
}

@media screen and (max-width: 989px) {
	.thumb .img {
		height: 180px;
	}
}

@media screen and (max-width: 768px) {
	.gallery, .thumb {
		margin-right: 15px;
		max-width: 330px;
	}

	.thumb .img {
		height: 200px;
	}
}

.thumb .imagetitle {
	color: #505050;
	margin-top: 8px;
	font-size: 15px;
	font-weight: 400;
	line-height: 22px;
	min-height: 22px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	text-align: center;
}

.thumb .imagetitle:focus {
	text-overflow: clip;
	white-space: normal;
	overflow: visible;
	background: #e0e0e0 !important;
}

.thumb-list.admin .thumb .imagetitle[contenteditable=true]:hover {
	background: #f0f0f0;
}

.thumb .imagetitle br {
	display: none;
}

.thumb .tooltip-inner {
    white-space: nowrap;
}

.image-controls {
	position: absolute;
	top: 15px;
	left: 15px;
	right: 15px;
	text-align: center;
	background: rgba(255,255,255,0.9);
	display: none;
}

.image-controls .btn {
	border-radius: 0;
}

.thumb:hover .image-controls {
	display: block;
}

@media screen and (max-width:768px) {
	.image-controls {
		position: static;
		top: 0;
		margin-top: 5px;
		background: none;
		display: block;
	}
}

h1 .fa, h2 .fa, h3 .fa {
	color: #3a80ea;
}

.addthis_sharing_toolbox {
	display: inline-block;
	vertical-align: bottom;
}

form.share input[type=text] {
	width: 100%;
}

.close-btn {
	display: block;
	position: absolute;
	width: 18px;
	height: 18px;
	top: 5px;
	left: 30px;
	z-index: 1;
}

@media screen and (max-width: 768px) {
	.close-btn {
		left: auto;
		right: 15px;
	}
}

.close-btn span {
	display: block;
	position: absolute;
	width: 24px;
	height: 2px;
	background: #808080;
	transition: 200ms background;
}

.close-btn span:first-child {
	-o-transform: -o-translate(-4px,7px) -o-rotate(45deg);
	-ms-transform: -ms-translate(-4px,7px) -ms-rotate(45deg);
	-moz-transform: -moz-translate(-4px,7px) -moz-rotate(45deg);
	-webkit-transform: -webkit-translate(-4px,7px) webkit-rotate(45deg);
	transform: translate(-4px,7px) rotate(45deg);
}

.close-btn span:last-child {
	-o-transform: -o-translate(-4px,7px) -o-rotate(-45deg);
	-ms-transform: -ms-translate(-4px,7px) -ms-rotate(-45deg);
	-moz-transform: -moz-translate(-4px,7px) -moz-rotate(-45deg);
	-webkit-transform: -webkit-translate(-4px,7px) webkit-rotate(-45deg);
	transform: translate(-4px,7px) rotate(-45deg);
}

.close-btn:hover span {
	background: #3a80ea;
}

.modal-backdrop.fade {
	-webkit-transition: opacity 0.3s !important;
	-moz-transition: opacity 0.3s !important;
	-ms-transition: opacity 0.3s !important;
	-o-transition: opacity 0.3s !important;
	transition: opacity 0.3s !important;
}

.table {
	display: table;
}

.table .td {
	display: table-cell;
	vertical-align: top;
}

.table th, .table td {
	vertical-align: middle !important;
}

.table th {
	background: #f0f0f0;
}

.table tr:hover {
	background: #fafafa;
}

.show-image {
	display:table;
	margin-top: 15px;
}

.show-image .td-image,
.show-image .td-left,
.show-image .td-right,
.show-image .td-ad,
.show-image td-suggestions {
	display: table-cell;
	vertical-align: top;
}

@media screen and (max-width: 512px) {
	.show-image .td-image .image-outer {
		margin: 0 -15px;
	}
}

.show-image .td-ad {
	padding-left:15px;
	width:215px;
}

.show-image .td-left {
	width:50%;
	padding-right:15px;
}

.show-image .td-right {
	width:50%;
	padding-left:15px;
}

.show-image .td-suggestions {
	width:285px;
	padding-left:15px;
}

.show-image .td-ad .ad {
	background:#a0a0a0;
	width:200px;
	height: 200px;
	margin-bottom: 15px;
}

.show-image .td-suggestions a {
	display: block;
	float: left;
	width: 120px;
	height: 120px;
	margin: 0 0 15px 15px;
	background-position: 50% 50%;
	background-size: cover;
}

@media screen and (max-width: 768px) {
	.show-image {
		display:block;
	}

	.show-image .td-left,
	.show-image .td-right {
		display: none;
	}

	.show-image .td-image {
		display: block;
	}

	.show-image .td-ad, .show-image .td-suggestions {
		display: block;
		width:100%;
		padding:0;
	}
	
	.show-image .td-ad .ad {
		display: inline-block;
		margin-right: 15px;
	}
}

.frontpage-horizontal-block {
	text-align: center;
}

@media screen and (max-width: 320px) {
	.frontpage-horizontal-block {
		margin-left: -22px;
	}
}

@media screen and (min-width: 920px) {
	.modal-lg {
		width:900px;
	}
}

.modal-body {
	padding-left: 20px;
	padding-right: 20px;
}

.modal-header {
	color: #ffffff;
	background-color: #3a80ea;
	border-radius: 5px 5px 0px 0px;
	height:42px;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 10px;
}

#apiModal .modal-header {
	background-color: #f0ad4e;
	border-color: #f0ad4e;
	color: white;
}

.modal-header p {
  margin-top: -8px;
}

#linksArea {
	font-size: 12px;
	min-height: 350px;
}

.btn-success {
	color: #4cae4c;
	border-color: #4cae4c;
}

.btn-success:focus,
.btn-success.focus,
.btn-success:hover:not(.inactive) {
	color: #ffffff;
	background-color: #4cae4c;
	border-color: #4cae4c;
}

.btn-danger {
	color: #d9534f;
	border-color: #d9534f;
}

.btn-danger:focus,
.btn-danger.focus,
.btn-danger:hover:not(.inactive) {
	color: #ffffff;
	background-color: #d9534f;
	border-color: #d9534f;
}

.btn-warning {
	color:#eea236;
	border-color:#eea236
}
	
.btn-warning:focus,
.btn-warning.focus {
	color:#fff;
	background-color:#eea236;
	border-color:#eea236
}

.btn-warning:hover {
	color:#fff;
	background-color:#eea236;
	border-color:#eea236;
}

.btn-warning:active,
.btn-warning.active,
.open>.dropdown-toggle.btn-warning {
	color:#fff;
	background-color:#ec971f;
	border-color:#d58512;
}

.btn-warning:active:hover,
.btn-warning.active:hover,
.open>.dropdown-toggle.btn-warning:hover,
.btn-warning:active:focus,
.btn-warning.active:focus,
.open>.dropdown-toggle.btn-warning:focus,
.btn-warning:active.focus,
.btn-warning.active.focus,
.open>.dropdown-toggle.btn-warning.focus {
	color:#fff;
	background-color:#d58512;
	border-color:#985f0d
}

.btn-warning:active,
.btn-warning.active,
.open>.dropdown-toggle.btn-warning {
	background-image:none
}

.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled.focus,
.btn-warning[disabled].focus,
fieldset[disabled] .btn-warning.focus {
	background-color:#f0ad4e;
	border-color:#eea236
}

.btn-warning .badge {
	color:#f0ad4e;
	background-color:#fff
}

.tooltip-inner {
	max-width:20em;
	white-space: nowrap;
}

.author {
	color: #606060;
}

.imagename {
	height: 42px;
	/*padding-left: 5px;
	margin-left: 5px;*/
}

.up-to-gallery {
	/*margin-left: 5px;*/
}

.posts .post {
	margin: 10px 0;
	padding-bottom: 8px;
	border-bottom: 1px solid #e4e4e4;	
}

.vote-controls {
	height: 42px;
	border-left: 1px solid #808080;
	padding-left: 5px;
	margin-left: 5px;
}

.user-rating {
	font-size: 10px;
	color: #000000;
}

.posts .username {
	color: #606060;
	font-size: 90%;
}

.posts .post .time {
	color: #808080;
	font-size: 12px;
}

.posts .post .time:before {
	margin-right: 10px;
}

.posts .post a[rel=nofollow]:before {
	font-family: FontAwesome;
	font-size: 12px;
	padding-right: 5px;
	content: "\f08e";
}

.posts .post .show-replies {
	font-size:12px;
	margin-left: 15px;
	white-space: nowrap;
}

.posts .post.level-1 {
	margin-left: 0;
}

.posts .post.level-2 {
	margin-left: 30px;
}

.posts .post.level-3 {
	margin-left: 60px;
}

.post-form {
	max-width: 800px;
	margin-left: -30px;
	margin-right: -30px;
}

#post-template {
	display: none;
}

@media screen and (max-width: 900px) {
	.table.post-form > div {
		display: block;
		margin: 0;
	}

	.table.post-form > div:nth-child(2) {
		padding-bottom: 10px;	
	}
}

@media screen and (max-width: 768px) {
	.post-form {
		margin-left: -15px;
		margin-right: -15px;
	}
}

.votes-count {
	border-left: 1px solid #ffffff;
	margin-left: 8px;
	padding-left: 5px;
}

.btn-success .votes-count {
	border-color: #4cae4c;
}

.btn-danger .votes-count {
	border-color: #d9534f;
}

.btn:hover .votes-count,
.btn:focus .votes-count,
.btn.active .votes-count {
	border-color: #ffffff;
}

#loading {
	display: none;
	text-align: center;
}

.vote-like,
.vote-dislike {
	font-size: 12px;
	line-height: 1.5;
}

.vote-like {
	color: #4cae4c;
}

.vote-dislike {
	color: #d9534f;
	margin-left: 10px;
}

.vote-like .votes-count {
	border-left-color: #4cae4c;
}

.vote-dislike .votes-count {
	border-left-color: #d9534f;
}

#uploadControls .width100,
#uploadControls2 .width100 {
	max-width: 320px;
}

#uploadControls .width100.large,
#uploadControls2 .width100.large {
	max-width: 480px;
}

@media screen and (max-width:480px) {
	#uploadControls .width100,
	#uploadControls2 .width100 {
		max-width: 480px;
	}
}


.btn-group.child2 label {
	width: 50%;
}

.align-center {
	text-align: center;
}

.navbar-form input {
	width: 233px;
}

.navbar-form input:focus {
	width: 320px;
}

.alert {
	color: tomato;
}

#overlay {
	display: none;
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(240,240,240,0.95);
	font-size: 32px;
	color: tomato;
}

#overlay.show {
	display: table !important;
}

.overlay-inner {
	padding-left: 30px;
	padding-right: 30px;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.uploadifive-queue-item .filename {
	overflow: hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	width:100%;
	display:inline-block;
}

body.mini .panel {
	-ms-box-shadow: none;
	-o-box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	background: none;
}

body.mini header {
	position: relative;
}

#main-image {
	display: block;
}

#main-image.zoom {
	cursor: zoom-in;
}

#full-image img {
	display: block;
	cursor: zoom-out;
	margin: auto;
}

@media print {
	.no-print,
	header,
	footer,
	.breadcrumbs,
	.controls,
	.show-image .td-ad,
	.image-sub-div,
	.bottom-a,
	#comments-header,
	.posts
	{
		display: none;
	}

	#full-image img {
		width: 100%;
	}
}

.top-image .container-top,
.top-image .image-outer {
	width: 580px;
	padding-left: 0;
	padding-right: 0;
}

@media screen and (max-width: 768px) {
	.top-image .container-top,
	.top-image .image-outer {
		width: 100%;
	}

	.top-image .container-top {
		padding-left: 15px;
		padding-right: 15px;
	}
}

@media screen and (max-width: 512px) {
	.top-image .container-top,
	.top-image .image-outer {
		width: auto;
	}
}

.top-image-outer {
	background: #000;
}

.top-image-outer img {
	margin: auto;
}

.jumbo-share {
	display: table;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
}

@media screen and (max-width: 720px) {
	.jumbo-share {
		display: none;	
	}
}

.jumbo-share > div {
	display: table-row;
}

.jumbo-share > div > div {
	display: table-cell;
	vertical-align: middle;
}

.jumbo-share > div > div:first-child {
	text-align: center;
	border-right: 1px solid #c0c0c0;
	padding-right: 40px;
	display: none;
}

.jumbo-share > div > div:last-child {
	text-align: left;
}

.jumbo-share .count {
	font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
	color: #606060;
	font-size: 60px;
	line-height: 60px;
	font-weight: 600;
	display: block;
}

.jumbo-share .count-sub {
	font-weight: 300;
	font-size: 16px;
	line-height: 16px;
	text-transform: uppercase;
	color: #606060;
	display: block;
}

.share-buttons a {
	text-decoration: none;
	display: inline-block;
	padding: 0 15px;
	line-height: 36px;
	margin-right: 5px;
	border-radius: 4px;
	background: #fff;
}

.share-buttons a.facebook {
	color: #3b5998 !important;
	border: 1px solid #3b5998;
}

.share-buttons a.facebook:hover {
	color: #fff !important;
	background: #3b5998;
}

.share-buttons a.twitter {
	color: #1da1f2 !important;
	border: 1px solid #1da1f2;
}

.share-buttons a.twitter:hover {
	color: #fff !important;
	background: #1da1f2;
}

.share-buttons a.gplus {
	color: #d84b37 !important;
	border: 1px solid #d84b37;
}

.share-buttons a.gplus:hover {
	color: #fff !important;
	background: #d84b37;
}

.share-buttons a.vk {
	color: #597ba5 !important;
	border: 1px solid #597ba5;
}

.share-buttons a.vk:hover {
	color: #fff !important;
	background: #597ba5;
}

.share-buttons a .title {
	font-size: 13px;
}

.share-buttons iframe {
	vertical-align: middle;
	margin-left: 5px;
}

.left-menu {
	margin: 22px 0 0 -20px;
	padding: 0;
	list-style-type: none;
}

.left-menu li {
	display: block;
	margin: 0;
	padding: 0;
}

.left-menu li a {
	display: block;
	padding: 5px 10px 5px 10px;
	margin: 5px 0 5px 10px;
	text-decoration: none;
	border-radius: 4px;
}

.left-menu li a.active {
	background: #3a80ea;
	color: #ffffff;
}

.left-menu li a.important {
	font-weight: bold;
}

.left-menu li a:not(.active):hover {
	color: #3a80ea;
	background: #d7e1f0;
}


#bookshelf {
	float: right;
	display: block;
	margin:0px -20px 0 30px;
}

@media screen and (max-width: 1200px) {
	#bookshelf {
		float: none;
		margin: 0px auto;
		max-width: 100%;
	}
}

.software-icons {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.software-icons li {
	float:left;
	display:block;
}

.software-icons a {
	display:block;
	background:#fff;
	border: 1px solid #e0e0e0;
	border-radius: 5px;
	-moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.05);
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.05);
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.05);
	transition: box-shadow 200ms, border 200ms;
	margin:0 15px 15px 0;
}

.software-icons a:hover {
	-moz-box-shadow: 0 0 3px #3a80ea;
	-webkit-box-shadow: 0 0 3px #3a80ea;
	box-shadow: 0 0 3px #3a80ea;
	border-color: #8fb3e3;
}

.software-icons a img {
	width: 160px;
	height: 90px;
}

code {
	font-size: 14px;
}

.prettyprint {
	background: #f8f8f8 !important;
	padding: 4px 8px;
	border-radius: 5px;
	margin-top: 0.5em;
}

.nav>li:not(.active)>a:hover,
.nav>li:not(.active)>a:focus {
	color: #3a80ea !important;
	background: #d7e1f0 !important;
}

hr {
	height: 0;
	border-bottom: 1px solid #d8d8d8;
}

#confirmation-email {
	color: #008030;
}

.mghead, .mghead23 {
    color: #808080 !important;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 400 !important;
    line-height: 130% !important;
}

.image-with-text,
.mctitle,
.mcdomain {
    text-align: left !important;
}

.marketgid .image-with-text,
.marketgid .mctitle,
.marketgid .mcdomain {
    text-align: center !important;
}

.mctitle a {
    color: #3a80ea !important;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 135% !important;
}

.mcdomain, .fake {
	padding: 0 !important;
}

.mcdomain a {
    color: #b0b0b0 !important;
}

.mgline {
	margin-left: 0 !important;
}

#M117394Composite603981 .mcimg {
	display: block !important;
}

a.complaint {
	font-size: 85%;
	color: #808080;
	text-decoration: underline;
}

a.complaint:hover {
	color: tomato;
}
