
/*Add to cart*/
#mask {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    z-index: 10000;
    display: block;
    opacity: .25;
    filter: alpha(opacity = 25);
}
#popup {
    background-color: #fff;
    width: 450px;
    position: fixed;
    top: 50%;
    z-index: 10001;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #999;
    text-align: center;
    left: 30%;
    padding-bottom: 10px;
    font-family: Arial,Helvetica,sans-serif;
}
#popup h4 {
    background: url("../img/bg/hdrbg.gif") repeat-x scroll 0 0 #E4E3E4;
    text-align: center;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    padding: 8px 2px;
    font-weight: bold;
    margin-bottom: 6px;
    position: relative;
}
#popup a {
    color: #4D4D4D;
    text-decoration: none;
}
#popup h4 a.clsBtn {
    float: right;
    width: 46px;
    height: 16px;
    background: url("../img/bg/close.gif") no-repeat scroll 100% 0;
    display: block;
    margin-right: 4px;
    padding-right: 16px;
    position: absolute;
    right: 0;
    top: 8px;
}
#popup .errmsg {
    float: none;
}
#popup p {
    padding: 4px 8px;
    margin: 0 auto;
    font-size: 120%;
    width: 76%;
}
#popup .errmsg a {
    display: block;
    margin: 0 auto;
    padding: 2px 3px;
    width: 60px;
    border: 2px solid #E4E4E4;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: url("../img/bg/clsbg.gif") repeat-x scroll 100% 0;
    font-size: 110%;
    font-weight: bold;
}
.addtocart a:link, .addtocart a:visited {
    color: #0092db;
    text-decoration: none;
}
.b000, .b001, .b002, .b004, .b005, .b017, .b0001, .b0101, .b0201, .b101, .b102, .b103, .b104, .b111, .b112, .b113, .b115, .b121, .b122, .b201, .b202, .b203, .b204, .b211, .b212, .b213, .b215, .b221, .b222, .b301, .b302, .b303, .b304, .b311, .b312, .b313, .b315, .b321, .b322, .b324, .b401, .b402, .b403, .b404, .b411, .b412, .b413, .b415, .b421, .b422, .b434, .b501, .b502, .b503, .b504, .b511, .b512, .b513, .b515, .b521, .b522, .b601, .b602, .b603, .b604, .b611, .b612, .b613, .b615, .b621, .b622, .b701, .b702, .b703, .b704, .b711, .b712, .b713, .b715, .b721, .b722, .b921, .b922, .b1112, .b1122, .b1201, .b1212, .b1222, .b1301, .b1302, .b1303, .b1304, .b1311, .b1312, .b1313, .b1315, .b1321, .b1322 {
    margin: 0;
    border: 2px solid #FFF;
    padding: 0;
    border-top: 0!important;
    background: transparent;
    color: #4d4d4d;
}
a.d01:link, a.d01:visited, a.d01.active, a.d01:hover, a.d02:link, a.d02:visited, a.d02.active, a.d02:hover, a.d03:link, a.d03:visited, a.d03.active, a.d03:hover, a.d04:link, a.d04:visited, a.d04.active, a.d04:hover, a.d05:link, a.d05:visited, a.d05.active, a.d05:hover, a.d06:link, a.d06:visited, a.d06.active, a.d06:hover, a.d09:link, a.d09:visited, a.d09.active, a.d09:hover, span.d03, span.d01 {
    border: none;
    display: inline-block;
    float: none;
    font-weight: normal;
    font-size: 11px;
    height: 32px;
    line-height: 32px;
    margin: 0 5px 0 0;
    padding: 0 9px;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}
a.d01:link, a.d01:visited, a.d02:link, a.d02:visited, a.d05:link, a.d05:visited, a.d06:link, a.d06:visited, a.d09:link, a.d09:visited, a.addtct:link, a.addtct:visited, span.d01 {
    color: #FFF;
    background-color: #C00;
    border: none;
    display: inline-block;
    font-size: 11px;
    font-weight: normal;
    height: 32px;
    line-height: 32px;
    margin: 0;
    padding: 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    width: 82px;
}
.p01, .p03, .p04, .p21 {
    padding: 6px;
    width: 169px;
}
.b002 .p01 img, .b002 .p09 img, .b002 .p11 img, .b002 .p31 img, .b102 .p01 img, .b102 .p09 img, .b102 .p11 img, .b201 .p01 img, .b201 .p09 img, .b201 .p11 img, .b201 .p31 img, .b201 .p02 td.pic img, .b213 .p01 img, .b222 .p01 img {
    border-color: #c2c2c2;
}
.p01 img, .p02 td.pic img, .p03 img, .p04 img, .p09 img, .p11 img, .p21 img, .p31 img {
    border: 1px solid #CCC;
    float: left;
    width: 60px;
    height: 60px;
}
.addtocart h1, .addtocart h2, .addtocart h3, .addtocart h4, .addtocart h5, .addtocart h6, .addtocart p, .addtocart dd{
    line-height: 15px;
    margin-bottom: 12px;
}
.addtocart i, .addtocart i a:link, .addtocart i a:visited, .addtocart i a:hover, .addtocart em, .addtocart em a:link, .addtocart em a:visited, .addtocart em a:hover {
    font-style: normal;
    color: #c00;
}
.addtocart {
    background-color: #fff;
    width: 780px;
    position: absolute;
    top: 20px;
    z-index: 10001;
    border: 1px solid #999;
    text-align: left;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    float: left;
    font-size: 90%;
}
.swrapper, .feature, .carousel {
    margin: 10px;
    display: inline;
}
.a400, .a200 {
    position: relative;
}
.addtocart div{
    float: left;
}
.addtocart .cart {
    margin: 8px 0 0 20px;
}
#cart {
    margin: 10px;
    float: right;
}
.addtocart .cartInfo {
    width: 760px;
    padding: 0 10px;
    border-bottom: 1px solid #CCC;
}
.addtocart .cartInfo #close {
    float: right;
    margin: 0 10px 0 0;
    cursor: pointer;
    width: 50px;
    overflow: hidden;
    background-color: #939393;
    padding-left: 5px;
    color: #fff;
    line-height: 18px;
}
.addtocart .exclusiveSavingsText {
  padding-bottom: 5px;
}
.addtocart #item_box {
    width: 520px;
    margin-top: 28px;
    background-color: #fff;
    border: none;
}
div.feature, div.carousel {
    border-bottom: 1px solid #CCC;
    margin-bottom: 20px;
    overflow: visible;
    padding-bottom: 20px;
    position: relative;
}
.addtocart #item_box>.a200 {
    background-color: #c6da9e;
}
a.d03:link, a.d03:visited, a.d04:link, a.d04:visited, a.d04.active, a.d03.active, span.d03 {
    background: #666;
    font: Helvetica Neue 55 Roman 11pt uppercase;
    color: #FFF;
    border: none;
}
.carousel h4.a200, .feature h4.a200 {
    font-size: 16px;
    font-weight: normal;
    margin: 0 0 15px;
    padding: 0;
    border: none;
}
.carousel h4.a200, .feature h4.a200 {
    background: none;
    border: none;
    text-transform: uppercase;
}
.addToCartOverlay .carousel h4.a200, .addToCartOverlay .feature h4.a200 {
    padding: 10px;
    text-transform: uppercase;
}
.carousel .perpage, .feature .perpage {
    position: absolute;
    top: 0;
    right: 20px;
    padding: 4px 0;
}
.carousel .perpage .note, .feature .perpage .note {
    font-size: 12px;
}
.addToCartOverlay .perpage span.note {
    display: none;
}
.cartInfo.addToCartOverlay .carousel .b201, .cartInfo.addToCartOverlay .feature .b201 {
    padding: 0;
}
.ready, .show {
    visibility: hidden;
}
.show {
    display: block;
    visibility: visible;
}
.carousel .p01, .feature .p01 {
    padding: 10px 23px;
    width: 140px;
    position: relative;
}
.mathtable td, .mathtable .error, .mathtable .light, .mathtable .note {
    text-align: right;
    vertical-align: top;
    float: none;
}
.mathflyout span.pqty {
    display: none;
}
.addtocart hr {
    border: 0;
    height: 1px;
    width: 100%;
    color: #999;
    background: #999;
    float: none;
    clear: both;
}
.addtocart div.carousel hr {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: -99999px;
    height: 0;
    width: 0;
}
.addtocart ul.cartQtyDropDownList {
    position: absolute;
    list-style: none;
    background: #fff;
    margin: 0 0 0 2px;
    font-size: 14px;
    -webkit-box-shadow: 0 0 2px 1px #ccc;
    -moz-box-shadow: 0 0 2px 1px #ccc;
    -ms-box-shadow: 0 0 2px 1px #ccc;
    box-shadow: 0 0 2px 1px #ccc;
    z-index: 99;
    top: 29px;
    left: 21px;
    padding: 0;
}
ul.cartQtyDropDownList li {
    float: none;
    padding: 0;
    text-align: center;
}
ul.cartQtyDropDownList li a {
    color: #4c4c4c;
    padding: .5em;
    float: none!important;
    display: block;
}
ul.cartQtyDropDownList li a:link, ul.cartQtyDropDownList li a:visited {
    color: #4C4C4C;
}
ul.cartQtyDropDownList li a:link, ul.cartQtyDropDownList li a:visited {
    color: #4C4C4C;
}
ul.cartQtyDropDownList li a:hover, ul.cartQtyDropDownList li a.active {
    color: #0098db;
    background-color: #CEF;
    text-decoration: none;
}
.ready.show {
    visibility: visible!important;
}
.addtocart #item_box .p01 {
    background-color: #fff;
    width: 408px;
}
.addtocart #item_box .p01.cartOverlayProdInfo {
    padding: 20px 10px;
    width: 510px;
}
.addtocart #item_box .p01 img {
    float: left;
    clear: both;
    margin: 0 20px 10px 0;
    height: 90px;
    width: 90px;
    border: 1px solid #ccc;
}
.addtocart #item_box .p01 img.cartOverlayProdImg {
    margin: 0 20px 10px 0;
}
.p01 h4, .p09 h4 {
    margin-bottom: 6px;
    width: 169px;
    padding: 0;
    overflow: hidden;
    font-weight: normal;
}
.p01 h4 {
    clear: both;
}
.feature .p01 h4, .carousel .p01 h4 {
    width: auto;
    font: normal 12px/15px Arial,sans-serif;
    text-align: center;
    color: #4D4D4D;
    height: 30px;
    text-transform: none;
}
.addtocart #item_box .p01 h4 {
    clear: right;
    float: left;
    margin-top: 10px;
    width: 160px;
    height: auto;
    font-weight: bold;
    text-align: left;
    text-transform: none;
}
.addtocart #item_box .p01 h4.cartOverlayProdHead {
    margin-top: 0;
}
.info ul, ul.info, .none ul, ul.none, .info ol, ol.info, .none ol, ol.none {
    margin: 0;
    padding: 0 0 8px;
    clear: both;
    list-style: none;
}
.addtocart #item_box .p01 ul.note {
    font-size: 12px;
    float: left;
    clear: both;
    width: 150px;
}
.addtocart #item_box li {
    padding: 0;
    line-height: 16px;
}
.addtocart #item_box .p01 .pricenew {
    float: right;
    width: 100px;
    margin-top: 10px;
    clear: none;
}
.cartInfo.addToCartOverlay #item_box .p01 .pricenew {
    float: left;
    margin: 0 0 0 20px;
    width: 170px;
    position: relative;
}
.mathstory {
    position: relative;
    float: none;
    text-align: center;
}
.pricenew .mathstory{
    float: none;
}
.mathstory {
    clear: both;
}
.addtocart #item_box .pricenew .mathstory {
    float: left;
    padding-bottom: 0;
}
.cartInfo.addToCartOverlay #item_box .p01 .pricenew .mathstory {
    margin: 0;
    padding: 0;
    width: 210px;
}
table {
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;
    border-spacing: 0;
}
caption, th, td {
    font-weight: normal;
    text-align: left;
}
table, td, th {
    vertical-align: middle;
}
input, select, option, textarea, table, td, th {
    font-size: 1em;
}
caption, th, td {
    vertical-align: top;
    padding: 4px 6px;
}
.mathtable td {
    padding: 6px 4px 6px 6px;
    margin: 0;
    border: 0;
}
.pricenew td {
    padding: 1px 6px;
    text-align: right;
}
.cartInfo.addToCartOverlay #item_box .p01 .pricenew .mathstory table tr td {
    margin: 0;
    padding: 0;
    line-height: 16px;
}
.cartInfo.addToCartOverlay #item_box .p01 .pricenew .mathstory .mathLeft {
    color: #4d4d4d;
    display: block;
    font-family: arial;
    font-weight: normal;
    font-size: .95em;
    margin: 0;
    padding: 13px 0 0 0;
    text-align: left;
    vertical-align: top;
    width: auto;
    word-wrap: break-word;
}
.cartInfo.addToCartOverlay #item_box .p01 .pricenew .mathstory .couponText {
    width: 100px;
}
.cartInfo.addToCartOverlay #item_box .p01 .pricenew .mathstory .mathLeft.mathLeftNoMargin {
    padding: 0;
}
.cartInfo.addToCartOverlay #item_box .p01 .pricenew .mathstory .mathPrice1 {
    color: #4d4d4d;
    font-family: arial;
    font-size: 12px;
    margin: 0;
    padding: 0;
    text-align: right;
    white-space: nowrap;
}
.cartInfo.addToCartOverlay #item_box .p01 .pricenew .mathstory .mathPrice2 {
    color: #c00;
    font-family: arial;
    font-weight: normal;
    font-size: 12px;
    margin: 0;
    padding: 14px 0 0 0;
    text-align: right;
    white-space: nowrap;
}
.cartInfo.addToCartOverlay #item_box .p01 .pricenew .mathstory .mathPrice3 {
    color: #4d4d4d;
    font-family: arial;
    font-weight: bold;
    font-size: 1.2em;
    margin: 0;
    padding: 0;
    text-align: right;
    white-space: nowrap;
}
.cartInfo.addToCartOverlay #item_box .p01 .pricenew .mathstory .mathPriceHR {
    border-top: 1px solid #bfbfbf;
    margin: 10px 0;
    padding: 0;
    width: 100%;
}
.cartInfo.addToCartOverlay #item_box .p01 .pricenew .mathstory .mathLeft2Cols {
    color: #4d4d4d;
    font-family: arial;
    font-weight: normal;
    font-size: .95em;
    margin: 0;
    padding: 13px 0 0 0;
    text-align: left;
    vertical-align: top;
    word-wrap: break-word;
}
.cartInfo.addToCartOverlay #item_box .p01 .pricenew .mathstory .mathLeft2Cols.rebateLabel {
    padding: 0;
}
.pricenew dl.bmsm {
    display: none;
    position: relative;
}
.pricenew dl {
    padding: .25em 0;
}
.cartInfo.addToCartOverlay .cart {
    margin: 10px 10px 0 0;
    padding: 0;
    width: 207px;
    word-wrap: break-word;
    float: right;
}
.addtocart .cartSummary {
    background: #F2F2F2;
    padding-top: 8px;
    margin-bottom: 10px;
}
.addtocart .cartSummary h3, .addtocart .cartSummary h4, .addtocart .cartSummary #cart {
    padding-left: 10px;
}
.cartInfo.addToCartOverlay .cart dl#cart {
    float: left;
    height: 25px;
    margin: 0;
    width: 195px!important;
    border-bottom: 1px solid #CCC;
}
#yourorder form .g04 .c03 h2 font, .addtocart .cart .cartOverlaySummaryFreeShipHead b font {
    color: #C00;
}
dt {
    font-size: 15px;
}
#cart dt, #ftr label, #skipnav {
    float: left;
}
.cartInfo.addToCartOverlay .cart dl#cart dt.cOverlayCartHead {
    float: left;
    text-transform: uppercase;
}
.addtocart #cart a {
    color: #666;
    text-decoration: none;
}
#cart:hover a, #cart:hover a b {
    color: #0092db!important;
    text-decoration: underline;
}
#cartp, #cartpoverlay {
    padding: 5px!important;
    margin: 0;
}
dl#cart dd {
    min-height: 31px;
    position: relative;
}
dl#cart dd {
    float: right;
    font-size: 12px;
    line-height: 1;
    min-width: 100px;
    padding: 2px 8px;
    text-align: center;
    width: 94px;
}
.cartInfo.addToCartOverlay .cart dl#cart dd#cartpoverlay {
    color: #4d4d4d;
    float: right;
    font-weight: normal;
    font-size: 11px;
    line-height: 8px;
    margin: 0;
    min-width: 60px;
    padding: 0;
    text-align: right;
    vertical-align: bottom;
    width: 60px;
}
#cartp b, #cartpoverlay b {
    font-size: 20px;
    font-weight: normal;
    line-height: 1.25;
    display: block;
}
#cart:hover a, #cart:hover a b {
    color: #0092db!important;
    text-decoration: underline;
}
.cartInfo.addToCartOverlay .cart dl#cart dd#cartpoverlay b#hcartitemsoverlay {
    color: #4d4d4d;
    display: inline;
    font-size: 1.0em;
    font-weight: normal;
    line-height: normal;
    margin: 0;
    padding: 0;
}
.cartInfo.addToCartOverlay .cart dl#cart #cartpoverlay b#hcarttotaloverlay {
    color: #c00;
    display: none;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.clear {
    clear: both;
}
.addtocart .cart h3 {
    font-size: 16px;
    font-weight: bold;
    color: #666;
}

.cartInfo.addToCartOverlay .cart h3.cartOverlaySummaryFreeShipHead {
    margin: 10px 0;
    word-wrap: break-word;
    line-height: normal;
}
.addtocart .cartSummary h4 {
    font-size: 12px;
    text-transform: none;
    margin-bottom: 12px;
}
.autoWidthButton, a.autoWidthButton:visited, a.autoWidthButton:link {
    width: auto;
    padding: 0 10px;
}
div.cart a.d01:active, div.cart a.d01:hover {
    color: #FFF!important;
}
.cartInfo.addToCartOverlay .cart a.d01 {
    font-family: HelveticaNeueLTStd-Roman;
    padding: 0 5px;
}
.cartInfo.addToCartOverlay .cart a.d03 {
    font-family: HelveticaNeueLTStd-Roman;
    margin-left:3px;
    margin-right: 0;
    padding: 0 4px;
    display: inline-block;
    height: 32px;
    line-height: 32px;;
    display: inline-block;
    text-transform: uppercase;
}
.carousel-01, .carousel-02, .carousel-03, .carousel-04, .carousel-05 {
    height: 350px;
    margin: 0;
    padding: 0;
}
div.carousel, div.feature {
    border-bottom: 1px solid #CCC;
    margin-bottom: 20px;
    overflow: visible;
    padding-bottom: 20px;
    position: relative;
}
.addtocart #also_box, .addtocart #cart_overlay_box {
    width: 730px!important;
    margin: 10px 25px 10px!important;
}
div.carousel div.prevButton {
    position: absolute;
    height: 24px;
    left: -5px;
    margin-left: 0;
    top: 50%;
    z-index: 8002;
}
div.carousel div.nextButton a, div.carousel div.prevButton a {
    display: block;
    height: 24px;
    outline-style: none;
    z-index: 8002;
    text-indent: -9999px;
    width: 30px;
}
div.carousel div.prevButton a {
    background: url("/sbdpas/img/bg/certona_sprite.png") no-repeat scroll -51px 0 transparent;
}
div.carousel div.prevButton a.inactive, div.carousel div.prevButton a.inactive:hover {
    background: url("/sbdpas/img/bg/certona_sprite.png") no-repeat scroll 8px 0 transparent;
    cursor: default;
}
div.carousel div.nextButton {
    position: absolute;
    height: 30px;
    right: -5px;
    margin-left: 0;
    top: 50%;
    z-index: 8002;
}
div.carousel div.nextButton a {
    background: url("/sbdpas/img/bg/certona_sprite.png") no-repeat scroll -88px 0 transparent;
}
div.carousel div.nextButton a.inactive, div.carousel div.nextButton a.inactive:hover {
    background: url("/sbdpas/img/bg/certona_sprite.png") no-repeat scroll -28px 0 transparent;
    cursor: default;
}
.addtocart #also_box .b201, .addtocart #cart_overlay_box .b201 {
    width: 680px;
    margin-left: 25px;
}
.carousel .b201 {
    border: none;
}
.carousel .p01, .feature .p01 {
    padding: 10px 23px;
    width: 140px;
    position: relative;
}
.carousel-05 .p01, .carousel-04 .p01, .carousel-03 .p01, .carousel-02 .p01 {
    margin: 0 48px;
    min-height: 300px;
    padding: 0;
    width: 130px;
    position: relative;
    text-align: center;
}
.p01 .qvPrd {
    position: relative;
}
.carousel .p01 a img, .feature .p01 a img, #samtopcarousel .p01 img {
    float: none;
    height: 90px;
    width: 90px;
    margin: 10px 25px;
    border: 0;
}
.feature .p01 h4 a, .carousel .p01 h4 a {
    color: #4d4d4d;
    text-decoration: none;
}
.carousel .p01 .pricenew, .feature .p01 .pricenew {
    float: none;
    width: 100%;
    position: absolute;
    bottom: 0;
    clear: both;
}
.carousel .pricenew, .feature .pricenew {
    position: relative;
}
.pricenew.mathtable.mathtableNew {
    position: relative;
}
caption, th {
    text-align: left;
}
.mathflyout th {
    font-weight: normal;
    text-align: right;
    width: 59%;
}
.mathflyout th, .mathflyout td {
    padding: 0;
    line-height: 16px;
    font-size: 12px;
}
.mathflyout {
    -webkit-box-shadow: 1px 2px 5px #ccc;
    -moz-box-shadow: 1px 2px 5px #ccc;
    box-shadow: 1px 2px 5px #ccc;
}
.mathflyout, .mathflyout.left {
    background: #f5f5f5;
    border: 1px solid #c2c2c2;
    position: absolute;
    bottom: -14px;
    padding: 6px;
    width: 204px;
    z-index: 8002;
}
.mathflyout {
    left: 114px;
}
.mathflyout, dl.theprice dd.psave, a.psavelink:link, a.psavelink:visited, a.psavelink:active, a.psavelink:hover {
    border-radius: 0;
    clear: both;
}
.mathflyout .mfoarrow {
    left: -10px;
}
.mathflyout.left .mfarrow, .mathflyout .mfoarrow {
    background: url("/sbdpas/img/bg/certona_sprite.png") repeat scroll -61px -41px transparent;
    height: 20px;
    width: 10px;
    position: absolute;
    bottom: 11px;
    border: 0;
    border-style: none;
}
h3.skupflag, h5.skupflag {
    font-size: 11px;
}
.mathflyout .skupflag {
    color: #4d4d4d;
    line-height: 15px;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 12px;
}
.skupflag img {
    width: auto;
    height: auto;
    float: none;
    margin-right: 4px;
    vertical-align: middle;
    border: none!important;
}
.pricenew dl.theprice {
    padding: 0;
}
.pricenew dl.theprice dt, .pricenew dl.bmsm dt, .pricenew dl.pr0m0 dt {
    text-indent: -9999px;
    color: #fff;
    height: 0;
    line-height: 0;
}
.theprice dt {
    position: absolute;
    width: 0;
    height: 0;
    text-indent: -9999px;
}
.pricenew dl.theprice dd {
    color: #666;
    font-size: 12px;
}
.mathflyout, dl.theprice dd.psave, a.psavelink:link, a.psavelink:visited, a.psavelink:active, a.psavelink:hover {
    border-radius: 0;
    clear: both;
}
.pricenew dd.psave {
    margin-top: 10px;
}
a.psavelink:link, a.psavelink:visited, a.psavelink:active, a.psavelink:hover {
    font-size: 13px;
    text-decoration: none!important;
}
a.psavelink span {
    padding-right: 10px;
    background: url("/sbdpas/img/bg/certona_sprite.png") no-repeat scroll 100px -219px transparent;
}
a.psavelink span {
    white-space: nowrap;
    font-size: 12px;
    display: block;
}
.theprice dd {
    margin: 0;
}
.pricenew dl.skupflag dt {
    text-indent: 4px!important;
}
.searchresult_promomessage {
    display: block;
    width: 100%;
    text-align: left;
    margin: 1em 0;
}
.carousel .searchresult_promomessage {
    display: none;
}
.pricenew dl.theprice dd div {
    float: none;
}
.pricenew dl.skupflag.bmsm dt, .pricenew dl.skupflag.bmsm dd {
    text-indent: 0!important;
    height: auto;
    line-height: inherit;
    font-size: 11px;
    color: #666;
}
div.ComingSoon {
    background-color: #E7E7E7;
    color: #C00;
    font-size: 16px;
    margin: 5px 0;
    float: right;
}
.carousel .ComingSoon {
    background-color: transparent;
    float: none;
    height: 38px;
    line-height: 32px;
}
.carousel .ComingSoon span {
    background-color: #E7E7E7;
}
.patc {
    font-size: 11px;
    bottom: 0;
    padding: 0;
    margin-top: 1em;
    position: relative;
}
.patc label {
    display: block;
    float: left;
    padding: .75em 0;
    width: 13%;
    font-size: 11px;
}
.patc input {
    display: block;
    float: left;
    border: 1px solid #ccc;
    color: #666;
    padding: .7em .5em;
    margin: 0 3%;
    width: 12%;
    text-align: center;
    box-sizing: content-box;
}
.pricenew .patc a.d01 {
    width: 59%;
}
.addtocart div.overlay_feedback {
    float: right;
    margin: 0 25px 5px 5px;
    height: 18px;
    white-space: nowrap;
}
a.psavelink.spic:link, a.psavelink.spic:visited, a.psavelink.spic:active, a.psavelink.spic:hover {
    background-color: #C00;
    border: medium none;
    color: #FFF;
    display: inline-block;
    font-size: 11px;
    font-weight: normal;
    height: 32px;
    line-height: 32px;
    margin: 0;
    padding: 0 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}
#seepriceincart.spicRight {
    height: 32px;
    line-height: 32px;
    padding: 0 5px;
    white-space: nowrap;
}
.patc a.d01:link, .patc a.d01:visited, .pricenew a.d01:link, .pricenew a.d01:visited {
    display: block;
    float: left;
    background-color: #C00;
    color: #FFF;
    font-size: 11px;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}
div.carouselStatus {
    width: 100%;
    display: none;
}
.oo_feedback_float {
    width: 100px;
    height: 50px;
    overflow: hidden;
    font: 12px Arial,Helvetica,sans-serif;
    text-align: center;
    color: #4d4d4d;
    cursor: pointer;
    z-index: 999997;
    position: fixed;
    bottom: 5px;
    border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    right: 10px;
    -webkit-transition: -webkit-transform .3s ease;
}
.oo_feedback_float .screen_reader {
    color: transparent;
    display: block;
    position: relative;
    height: 0;
    width: 0;
    line-height: 0;
    overflow: hidden;
}
.oo_feedback_float .olUp {
    width: 100%;
    height: 100%;
    background: url(oo_float_icon.gif) center 10px no-repeat;
    text-align: center;
    padding: 31px 0 5px;
    position: relative;
    z-index: 2;
    filter: alpha(opacity=100);
    opacity: 1;
    transition: opacity .5s;
    -moz-transition: opacity .5s;
    -webkit-transition: opacity .5s;
    -o-transition: opacity .5s;
}
.oo_feedback_float .olOver {
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 50px;
    z-index: 2;
    opacity: 0;
    filter: alpha(opacity=0);
    transition: opacity .5s;
    -moz-transition: opacity .5s;
    -webkit-transition: opacity .5s;
    -o-transition: opacity .5s;
}
.oo_feedback_float .olOver span {
    color: #0092db;
    display: block;
    padding: 10px 5px;
}
.oo_feedback_float .oo_transparent {
    display: block;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    opacity: .8;
    filter: alpha(opacity=80);
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}
/*pick up today*/
div#blanket {
    border: none;
    margin: 0;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9995!important;
    overflow: hidden;
    background: url('/styleguide/img/black-bg.png');
}
div#pseudobody {
    text-align: center;
    border: none;
    display: block;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9998!important;
    overflow: hidden;
    width: 100%;
}
div#overlaydiv {
    float: none;
    border: 2px solid #b3b3b3;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    height: 430px;
    width: 760px;
    overflow: hidden;
    z-index: 9999!important;
}
iframe#overlayframe {
    height: 100%;
    width: 100%;
    border: none;
    margin: 0;
    frame-border: 0;
}
body#storeinventory {
    overflow: hidden;
}
#wrapall {
    text-align: left;
    margin: 0 auto;
    float: none;
    padding: 0;
    width: 960px;
    position: relative;
    background-color: #fff;
    clear: both;
}
body.moreviews #wrapall, body.moreviews #logobar, body.moreviews .c00 {
    width: 760px;
}
#storeinventory #hdr {
    height: 18px;
}
a#popclose {
    color: #fff;
    position: absolute;
    top: 8px;
    right: 8px;
    padding-right: 16px;
    background: url(/sbdpas/img/ico/ico_closewindow_white.gif) 100% 50% no-repeat;
}
body.moreviews a#popclose {
    right: 35px;
    color: #0092db;
    background: url(/sbdpas/img/ico/ico_closewindow.gif) 100% 50% no-repeat;
}
#storeinventory a#popclose {
    color: #4D4D4D;
    position: absolute;
    top: 8px;
    right: 8px;
    padding-right: 16px;
    background: url(/sbdpas/img/ico/ico_closewindow_gray.gif) 100% 50% no-repeat;
}
#storeinventory a#popclose {
    font-size: 14px;
}
div.wpr.wthirds:after, div.wpr:after, div#hdr:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
body.moreviews #wrapall .c00, body.popup #wrapall .c00 {
    background: transparent!important;
}
.c00 {
    overflow: hidden;
    float: none;
    padding: 0;
    margin: 0 auto;
    width: 960px;
    clear: both;
    background: #fff;
    color: #4d4d4d;
}
body.moreviews .c00 {
    padding: 4px 0 0;
    width: 756px;
}
#wrapall .c00 {
    min-height: 532px;
}
#storeinventory .c00 {
    padding: 0 10px;
    width: 736px;
}
#storeinventory #wrapall .c00 {
    height: 100%;
}
.pop-cont {
    padding: 5px 0;
    text-align: left;
    font-size: 12px;
    width: 100%;
}
.pop-change-store-cont {
    padding-bottom: 20px;
    padding-top: 10px;
    position: relative;
    width: 772px;
}
#storeinventory .pop-change-store-cont {
    border-bottom: 1px solid #CCC;
}
.pop-change-store-cont .img-div {
    float: left;
    width: 150px;
}
#popup a:link, a:visited {
    text-decoration: none;
}
#popup a img {
    border: none;
}
.pop-change-store-cont .img-title {
    float: left;
    font-family: HelveticaNeueLTStd-Light,Arial,sans-serif;
    font-size: 26px;
    line-height: 32px;
    margin-top: 20px;
    width: 550px;
}
form, input {
    display: inline;
}
.pop-change-store-cont .img-div img {
    width: 120px;
    height: 120px;
}
.pop-set-store-cont {
    width: 730px;
    margin: 10px 20px 0 20px;
    padding-bottom: 20px;
    border-bottom: solid 1px #CCC;
    position: relative;
}
.no-border {
    border: 0!important;
    padding-top: 10px;
}
.pop-set-store-cont .in-stock {
    width: 120px;
    float: left;
    font-size: 16px;
    color: #666;
    font-weight: normal;
}
.pop-set-store-cont .miles {
    width: 150px;
    float: left;
}
.pop-set-store-cont .addressdiv {
    font-weight: bold;
}
.pop-set-store-cont .miles .addressdiv {
    width: 150px;
}
.pop-set-store-cont .address {
    width: 280px;
    float: left;
    margin-right: 18px;
}
.pop-set-store-cont .addressdiv {
    font-weight: bold;
}
.error-msg {
    color: red;
    padding: 10px 0 0 0;
    display: none;
    position: absolute;
}
.pop-seach-cont {
    width: 772px;
    clear: both;
    margin-top: 10px;
    padding: 10px 0;
    border-top: solid 1px #CCC;
}
.pop-seach-cont label {
    padding: 10px 0 0 20px;
    float: left;
    font-weight: bold;
}
.pop-seach-cont span {
    padding: 0 0 0 20px;
    float: left;
}
.pop-seach-cont input {
    width: 200px;
    height: 32px;
    line-height: 20px;
    padding-left: 5px;
}
input.search-pop {
    clear: both;
    font-family: 'Arial Regular','Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    color: #888;
    text-align: left;
    line-height: 23px;
    height: 30px;
    width: 100px;
    border: 0;
    padding: 0 10px;
    width: 170px;
    background: #e7e7e7;
    float: left;
}
button.search-pop {
    background: url('/sbdpas/img/bg/search-icon.png') no-repeat center center #e7e7e7;
    width: 30px;
    border: 0;
    height: 30px;
    float: left;
    cursor: pointer;
}
.pop-cont>div#resultsTbl {
    width: 740px;
}
.pop-pagging-cont {
    width: 700px;
    clear: both;
    padding: 20px 20px 20px 0;
    border-bottom: solid 1px #CCC;
}
.pop-pagging-cont .viewstores {
    float: left;
    font-size: 14px;
    font-weight: bold;
    color: #464646;
}
.pop-pagging-cont .sdiv {
    float: right;
}
.pop-pagging-cont .sdiv a {
    float: left;
    padding-left: 10px;
    text-decoration: none;
    color: #666;
}
.showDisplay {
    display: block;
}
.hideDisplay {
    display: none;
}
#resultsTbl .pop-set-store-cont {
    margin: 10px 0;
}
.pop-set-store-cont .qty {
    float: left;
    margin-right: -30px;
    width: 94px;
}
#storeinventory div.qty .text3 {
    text-align: center;
    height: 33px;
    width: 33px;
    line-height: 30px;
}
.pop-set-store-cont .addtocart-btn {
    float: left;
}
.pop-pagging-cont .sdiv a.h-num {
    color: red;
}
#errorSearch {
    margin-left: 20px;
}
#storeinventory .errorMsg b {
    color: red;
    font-size: 12px;
}
#storeinventory p.note {
    clear: both;
    float: left;
    margin-left: 20px;
    width: 82%;
}
.v30 {
    height: 30px;
    line-height: 30px;
}
.vspace, .v30 {
    height: 4px;
    width: 8px;
    line-height: 4px;
}

/*Add on*/

.quickViewOverlay {
    background-color: #FFF;
    padding: 0;
    position: absolute;
    text-align: left;
    top: 20px;
    width: 820px;
    z-index: 20001;
}
.skuWrapper, .quickViewOverlay {
    color: #4d4d4d;
    font-family: Arial,sans-serif;
    float: none;
}
.quickViewOverlay #close {
    position: absolute;
    right: -8px;
    top: -8px;
    z-index: 2;
}
.quickViewOverlay .quickViewScroll {
    overflow: auto;
    float: none;
    position: relative;
}
.quickViewOverlay .quickViewScroll .quickViewDetails {
    position: relative;
    padding: 15px 0 0 0;
}
.layoutWidth07 {
    width: 560px;
    float: left;
}
.quickViewOverlay .productDetailsWrapper {
    float: left!important;
}
#stage {
    margin: 0 5px;
}
.skuWrapper #stage, .quickViewOverlay #stage {
    margin: 0;
}
.gridWidth03 {
    width: 220px;
    margin: 0 10px;
}
.scene7Social {
    float: left;
    margin-bottom: 15px;
}
.scene7Placeholder {
    height: 380px;
    width: 380px;
    margin-bottom: 10px;
}
.quickViewOverlay .scene7Placeholder {
    height: 220px;
    width: 220px;
}
.imageCarousel {
    clear: both;
    height: 60px;
    margin-top: 20px;
    overflow: hidden;
}
.imageCarousel.qvCarousel {
    height: 55px;
    margin: 10px 0;
}
.quickViewOverlay a {
    color: #0092DB;
    text-decoration: none;
}
.imageCarousel .buttons {
    background-image: url(/sbdpas/img/bg/skusprite01.png);
    background-repeat: no-repeat;
    display: block;
    float: left;
    height: 23px;
    margin: 19px 0 0 0;
    outline: none;
    text-indent: -999em;
    width: 15px;
}
.imageCarousel .disable {
    cursor: default;
}
.imageCarousel .prev {
    background-position: 0 -727px;
}
.imageCarousel .next {
    background-position: -16px -727px;
}
.imageCarousel .buttonHide {
    visibility: hidden;
}
.imageCarousel.qvCarousel .buttons {
    margin-top: 16px;
}
.imageCarousel .prev.disable {
    background-position: 0 -702px;
}
.imageCarousel .next.disable {
    background-position: -16px -702px;
}
.imageCarousel .viewport {
    float: left;
    height: 60px;
    overflow: hidden;
    position: relative;
    width: 350px;
}
.imageCarousel.qvCarousel .viewport {
    height: 55px;
    width: 189px;
}
.imageCarousel .overview {
    left: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
}
.imageCarousel .overview li {
    float: left;
    height: 60px;
    margin: 0 5px;
    padding: 0;
    width: 60px;
}
.imageCarousel.qvCarousel li {
    height: 55px;
    margin: 0 4px;
    width: 55px;
}
.imageCarousel .overview li img {
    cursor: pointer;
    height: 52px;
    padding: 4px;
    width: 52px;
}
.imageCarousel.qvCarousel .overview li .currentThumb, .imageCarousel.qvCarousel .overview li img:hover {
    border-width: 3px;
    padding: 0;
}
.imageCarousel.qvCarousel .overview li img {
    height: 49px;
    padding: 3px;
    width: 49px;
}
.imageCarousel .overview li .currentThumb, .imageCarousel .overview li img:hover {
    border: 4px solid #CCC;
    padding: 0;
}
.viewport .mirrored {
    display: none;
}
.clearDiv {
    clear: both;
    display: block;
    float: none;
    overflow: hidden;
    visibility: hidden;
    padding: 0;
    margin: 0;
}
.quickViewOverlay .fullDetails {
    font-size: 12px;
}
.productDetails {
    float: left;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 15px;
}
.gridWidth04 {
    width: 300px;
    margin: 0 10px;
}
.productDetails h1 {
    color: #4D4D4D;
    font-family: HelveticaNeueLTStd-Light;
    font-size: 24px;
    font-weight: normal;
    line-height: 24px;
    margin: 0 0 5px;
}
.itemModel {
    color: #4d4d4d;
    font-size: 11px;
    line-height: 14px;
    margin: 0 0 16px;
}
.reviewsHeader {
    float: none;
    margin: 0 0 18px;
}
.eddie_add_to_cart {
    float: right;
}
#wrapper-bubble {
    position: relative;
    z-index: 9;
}
#top-bubble {
    border-width: thin 0 0 0;
    color: #fff;
    padding: 0;
    text-align: center;
    margin-bottom: 4px;
}
#header-text {
    font-size: 16px;
    text-align: left;
    color: #fff;
    position: relative;
    text-shadow: 1px 1px #00a9ff;
    font-family: 'HelveticaNeueCondensed-Medium', Arial;
}
#bottom-bubble {
    border-width: 0 0 thin 0;
    color: #fff;
    font-family: Arial;
    font-size: 12px;
    text-align: left;
}
a.bubble-link:link, a.bubble-link:visited {
    color: #fff;
    font-family: Arial;
    font-size: 12px;
    text-decoration: underline;
}
.copyBullets {
    color: #4d4d4d;
    margin: 0 0 16px;
    padding: 0 10px;
}
.productDetails ul {
    margin: 0;
    padding: 0;
}
.productDetails ul li {
    list-style-type: none;
}
.copyBullets ul li {
    background: transparent url(/sbdpas/img/bg/skusprite01.png) no-repeat -45px -160px;
    padding: 0 0 10px 9px;
}
.checkmarks {
    background-color: #f7f7f7;
    float: none;
    padding: 10px 10px 0;
    clear: both;
    position: relative;
}
#skuskuset .highlight {
    text-transform: capitalize;
}
.checkmarks ul li {
    background: url(/sbdpas/img/ico/icon_check.png) no-repeat scroll left 1px transparent;
    padding: 0 0 10px 17px;
}
.highlight {
    color: #C00;
    font-weight: bold;
    text-transform: uppercase;
}
.slide {
    position: absolute;
    left: -9999px !important;
    top: 0;
    visibility: hidden;
}
.layoutWidth03 {
    width: 240px;
    float: left;
}
.quickViewOverlay .sideBarWrapper {
    float: left;
}
.sideBarWrapper {
    float: right;
}
.gridWidth03 {
    width: 220px;
    margin: 0 10px;
}
.pricenew, .pricenew .poutter, .pricenew .poutter .pinner {
    float: none;
}
.sideBarWrapper .pricenew {
    float: none;
    width: auto;
}
div.pricenew {
    float: right;
    width: 101px;
}
#pdOfferZone, #skuPromoZone {
    float: none;
}
#skuskuset .pricenew .priceTotal {
    width: 180px;
}
.priceTotal {
    float: right;
    line-height: 15px;
    margin-bottom: 15px;
    text-align: right;
}
.totalText {
    font-size: 12px;
    color: #999;
}
.hide {
    position: absolute;
    left: -9999px!important;
    top: 0;
    display: none;
}
.finalPrice {
    color: #c00;
    font-size: 26px;
    font-weight: bold;
    line-height: 20px;
}
.pricenew dd {
    margin-bottom: 0;
}
.skuWrapper .selectSkuSwatch, .quickViewOverlay .selectSkuSwatch {
    margin-bottom: 15px;
    float: none;
    clear: both;
    position: relative;
}
.skuWrapper .skuSelectControl, .quickViewOverlay .skuSelectControl {
    color: #4D4D4D;
    font-size: 13px;
    font-weight: bold;
    position: relative;
    min-width: 220px;
}
.skuSelectControl p {
    background: #FFF;
    border: 1px solid #CCC;
    font-weight: normal;
    margin: 0;
    position: relative;
    padding: 6px 25px 6px 10px;
}
.skuSelectControl .select_arrow {
    border: solid transparent 8px;
    border-top: solid #4D4D4D 8px;
    display: block;
    height: 0;
    position: absolute;
    right: 8px;
    top: 9px;
    width: 0;
}
.quickViewOverlay .skuSelectControl ul {
    max-height: 200px;
}
.skuSelectControl ul {
    background: white;
    border: 1px solid #CCC;
    display: none;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 5px 3px 5px 0;
    position: absolute;
    max-height: 260px;
    min-width: 215px;
    z-index: 99;
    right: 0;
}
.skuSelectControl ul li {
    list-style-type: none;
    margin: 0;
}
.pricenew li {
    margin-top: 0;
    padding-top: 0;
}

.skuSelectControl:hover ul,.skuSelectControl ul.show {
    display: block;
}

.skuSelectControl ul li a:link, .skuSelectControl ul li a:active, .skuSelectControl ul li a:visited {
    color: #4D4D4D;
    display: block;
    font-size: 12px;
    font-weight: normal;
    padding: 4px 10px;
    white-space: nowrap;
}
.skuWrapper .selectSkuSwatch:after, .quickViewOverlay .selectSkuSwatch:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.eddieQSMain {
    background-color: #F5F5F5;
    float: right;
    width: 205px;
    padding: 4px 0;
}
#eddieQSText {
    font-family: Arial;
    float: right;
    color: #4D4D4D;
    margin: 0 7px;
    text-align: right;
}
.eddieQSTextBlue {
    font-family: Arial;
    color: #0092DB;
    font-weight: bold;
}
.stockMessage {
    color: #c00;
    font-size: 20px;
    margin-bottom: 15px;
    text-align: right;
}
.cartActions {
    text-align: right;
    float: none;
    clear: both;
}
.cartActions label {
    text-transform: uppercase;
}
.cartActions label {
    color: #000;
    font-size: 12px;
    font-weight: bold;
    line-height: 31px;
    margin: 0;
}
.cartActions .itemQty {
    border: 1px solid #ccc;
    color: #4c4c4c;
    font-size: 14px;
    font-weight: bold;
    height: 30px;
    line-height: 25px;
    padding: 0;
    text-align: center;
    width: 30px;
}
.buttonPrimaryLarge, .buttonPrimaryMedium, .buttonPrimarySmall, .buttonPrimaryLarge_disabled, .buttonPrimaryMedium_disabled, .buttonPrimarySmall_disabled, .buttonSecondaryLarge, .buttonSecondaryMedium, .buttonSecondarySmall, .buttonSecondaryLarge_disabled, .buttonSecondaryMedium_disabled, .buttonSecondarySmall_disabled, .buttonTertiaryLarge, .buttonTertiaryMedium, .buttonTertiarySmall, .buttonHeroSkuLarge, .buttonPrimaryAuto, .buttonPrimaryLarge:visited, .buttonPrimaryMedium:visited, .buttonPrimarySmall:visited, .buttonHeroSkuLarge:visited, .buttonPrimaryAuto:visited {
    color: #fff;
    display: inline-block;
    float: none;
    font-family: HelveticaNeueLTStd-Light,Arial,sans-serif;
    font-size: 11px;
    font-weight: normal;
    height: 32px;
    line-height: 33px;
    overflow: visible;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
}
.buttonPrimaryLarge, .buttonPrimaryMedium, .buttonPrimarySmall, .buttonHeroSkuLarge, .buttonPrimaryAuto {
    background-color: #c00;
    cursor: pointer;
    height: 32px;
}
.buttonPrimaryMedium, .buttonSecondaryMedium, .buttonPrimaryMedium_disabled {
    margin: 0;
    max-width: 82px;
    width: 82px;
}
.qty2 .buttonMedium, .cartActions .buttonMedium, .cartActions .buttonPrimaryMedium, .cartActions .buttonSecondaryMedium {
    float: right;
    margin-left: 5px;
}
.addFavorite {
    clear: both;
    float: none;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 20px;
    margin-top: 5px;
    text-align: right;
}
div.reviewssnippet {
    float: left;
    clear: both;
    padding: 0!important;
    font-size: 8pt;
    width: 200px;
}
.reviewsHeader>div {
    float: none;
    width: auto;
}
.quickViewOverlay .reviewsHeader .stReviews {
    display: block!important;
}
.reviewsHeader dl.stReviews {
    height: 23px;
    width: 100%;
}
#skuspecial .stReviews, #skuspecial .stNum {
    width: 300px;
}
dl.stReviews dt {
    position: absolute;
    left: -9999px!important;
    top: 0;
}
dl.stReviews dd.stStars {
    width: 64px;
    height: 12px;
    line-height: 12px;
    text-indent: -9999px;
    background: url("/sbdpas/img/bg/certona_sprite.png") no-repeat transparent;
    background-repeat: no-repeat;
    position: absolute;
    top: 2px;
}
.reviewsHeader dl.stReviews dd.r0 {
    background-position: 0 0;
}

.reviewsHeader dl.stReviews dd.r5 {
    background-position: 0 -22px;
}

.reviewsHeader dl.stReviews dd.r10 {
    background-position: 0 -44px;
}

.reviewsHeader dl.stReviews dd.r15 {
    background-position: 0 -66px;
}

.reviewsHeader dl.stReviews dd.r20 {
    background-position: 0 -88px;
}

.reviewsHeader dl.stReviews dd.r25 {
    background-position: 0 -110px;
}

.reviewsHeader dl.stReviews dd.r30 {
    background-position: 0 -132px;
}

.reviewsHeader dl.stReviews dd.r35 {
    background-position: 0 -154px;
}

.reviewsHeader dl.stReviews dd.r40 {
    background-position: 0 -176px;
}

.reviewsHeader dl.stReviews dd.r45 {
    background-position: 0 -198px;
}

.reviewsHeader dl.stReviews dd.r50 {
    background-position: 0 -220px;
}
.reviewsHeader dl.stReviews dd.stStars {
    background-image: url("/sbdpas/img/reviews/review_stars_lg.png");
    height: 23px;
    width: 118px;
}
.reviewsHeader dl.stReviews dd.r30 {
    background-position: 0 -132px;
}
dl.stReviews dd.stNum {
    height: 15px;
    line-height: 17px;
    font-size: 9px;
    overflow: hidden;
    color: #666;
    position: absolute;
    top: 0;
    left: 63px;
}
.reviewsHeader dl.stReviews dd.stNum {
    color: #4d4d4d;
    font-size: 12px;
    height: 23px;
    left: 123px;
    line-height: 23px;
}
#skuspecial .stReviews, #skuspecial .stNum {
    width: 300px;
}
.promoMessageWrapper {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 20px;
    width: 220px;
}
.promoMessageWrapper div {
    float: none;
}
.promoMessage {
    background-color: #e3f5ff;
    color: #4d4d4d;
    float: none;
    padding: 10px;
}
.promoMessage h3 {
    color: #c00;
    font-size: 13px;
    font-weight: bold;
    line-height: 16px;
    margin-bottom: 5px;
}
.promoMessageWrapper div {
    float: none;
}
.promoMessage h4 {
    color: #4D4D4D;
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 7px;
}
.stReviews {
    height: 15px;
    margin: 0 0 8px;
    width: 145px;
    padding: 0;
    overflow: hidden;
    position: relative;
    float: none;
}
.oversizeDesc {
    float: left;
    margin-top: 15px;
    width: 300px;
    position: relative;
    z-index: 1;
}
.oversizeDesc h2 {
    float: left;
    font-size: 12px;
    font-weight: bold;
    margin: 5px 0 0 0;
    width: 100%;
}

.oversizeDesc span {
    color: #1a98de;
    cursor: pointer;
}

.oversizeDesc .oversizeDescPopup {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ccc;
    color: #4d4d4d;
    display: none;
    float: left;
    left: 113px;
    padding: 5px 10px;
    position: absolute;
    top: 22px;
    width: 180px;
    z-index: 2;
}

.oversizeDesc p {
    font-size: 12px;
}

.showOversizeDesc:hover .oversizeDescPopup {
    display: block;
    background: #f2f2f2;
    content: '';
    position: absolute;
}

.oversizeDescPopup b {
    float: left;
    font-size: 12px;
    margin-bottom: 5px;
    width: 100%;
}

.oversizeDescPopup:after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-top: 08px;
    width: 0;
    height: 0;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    border-bottom: 8px solid #ccc;
}

