@import url('//hello.myfonts.net/count/3056ff');
@font-face {
 font-family: 'Acto';
 font-style: normal;
 font-weight: normal;
 src: url('//fonts.voxmedia.com/unison/curbed/webfonts/3056FF_2_0.woff2') format('woff2'),
      url('//fonts.voxmedia.com/unison/curbed/webfonts/3056FF_2_0.woff') format('woff');
}
@font-face {
 font-family: 'Acto';
 font-style: normal;
 font-weight: bold;
 src: url('//fonts.voxmedia.com/unison/curbed/webfonts/3056FF_0_0.woff2') format('woff2'),
      url('//fonts.voxmedia.com/unison/curbed/webfonts/3056FF_0_0.woff') format('woff');
}
@font-face {
 font-family: 'Acto';
 font-style: italic;
 font-weight: normal;
 src: url('//fonts.voxmedia.com/unison/curbed/webfonts/3098CD_0_0.woff2') format('woff2'),
      url('//fonts.voxmedia.com/unison/curbed/webfonts/3098CD_0_0.woff') format('woff');
}
@font-face {
 font-family: 'RudeSlab';
 font-style: normal;
 font-weight: bold;
 src: url('//fonts.voxmedia.com/unison/curbed/webfonts/3056FF_4_0.woff2') format('woff2'),
      url('//fonts.voxmedia.com/unison/curbed/webfonts/3056FF_4_0.woff') format('woff');
}
@font-face {
 font-family: 'RudeSlab';
 font-style: italic;
 font-weight: bold;
 src: url('//fonts.voxmedia.com/unison/curbed/webfonts/3056FF_3_0.woff2') format('woff2'),
      url('//fonts.voxmedia.com/unison/curbed/webfonts/3056FF_3_0.woff') format('woff');
}
@font-face {
 font-family: 'nitti-grotesk';
 font-style: normal;
 font-weight: 400;
 src: url('//fonts.voxmedia.com/unison/unison_base/nittigrotesk/nittigrotesk-normal.eot');
 src: url('//fonts.voxmedia.com/unison/unison_base/nittigrotesk/nittigrotesk-normal.eot?') format('embedded-opentype'),
      url('//fonts.voxmedia.com/unison/unison_base/nittigrotesk/nittigrotesk-normal.woff2') format('woff2'),
      url('//fonts.voxmedia.com/unison/unison_base/nittigrotesk/nittigrotesk-normal.woff') format('woff');
}