/****** All Rights reserved to mtellawi.com ******/
@font-face {
	font-family: "ge_ss";
	src: url("../fonts/ge_ss.eot"); 
	/* IE 9 */        
	src: url("../fonts/ge_ss.eot?") format("eot"), 
	/* IE 6-8 */             
	url("../fonts/ge_ss.otf") 
	format("opentype"), /* Other browsers */
	url("../fonts/ge_ss.ttf") format("truetype"); 
	/* Safari, Android, iOS */
}

@font-face {
	font-family: "sa_font_li";
	src: url("../fonts/GEDinarTwo_Light.otf"); 
}
@font-face {
	font-family: "sa_font_me";
	src: url("../fonts/GEDinarOne_Medium.otf"); 
}
@font-face {
	font-family: "sa_font_me2";
	src: url("../fonts/GEDinarTow_Medium.otf"); 
}

a.cat_head_li {
	font-family:sa_font_li;
	font-size:16px;
	color:whiteSmoke;
}

a.cat_head_me {
	font-family:sa_font_me;
	font-size:16px;
	color:whiteSmoke;
}

a.cat_head_me2 {
	font-family:sa_font_me2;
	font-size:16px;
	color:whiteSmoke;
}
/*Common Styles*/



a.cost_heed {	font-family: ge_ss;	font-size: 18px;	color:gray;}
body{font:normal 12px tahoma, Arial, Helvetica, sans-serif; color:#333; background:#e3e3e3; line-height:1.3em; padding:0; margin:0; text-align:right; direction:rtl}
.ramadanpatrn{}
.ramadanrit{}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
address, caption, cite, code, dfn, em, strong, th, var, optgroup{font-style:inherit; font-family:inherit;}
img{outline:none;}
fieldset, img{border:none}
ul, ol, li{list-style:none;}
table, td, form, fieldset{border:none; /*border-collapse:collapse; */border-spacing:0;}
caption, th, td{text-align:right; font-weight:normal;}
.nowrap{white-space:nowrap}
h1, h2, h3, h4, h5, h6{font:bold 13px tahoma;}
/*strong{font:bold 12px helvetica;}*/
select, textarea, input{font-size:11px; font-family:tahoma; color:#333}
a, a:link, a:visited, a:active{color:#2664a0; text-decoration:none; outline:none}
a:hover{text-decoration:underline}
.inpttxt{border:1px solid #a0a0a0; height:18px; color:#333; width:200px; padding:0 0 0 2px}
.inptfile{*height:22px;}
.inptbtn{border:none}
.inptslct{border:1px solid #a0a0a0; height:20px;}
.inptchk{width:15px; margin:0 5px 0 0; *margin:-2px 5px 0 0;}
.txtarea{border:1px solid #a0a0a0;}
.besidchk{width:94%;}
.fnt11{font-size:11px;}
.cleaner{zoom:1}
.cleaner:after{clear:both;content:'.';display:block;height:0;visibility:hidden;}
.fr{float:right}
.fl{float:left;} 
.more{background:url(../images/morebg.gif) no-repeat 100% 5px; padding:0 8px 0 0; display:inline-block}
.algnlft{text-align:left}
/**/
.containcont{background:url(../images/contlft.gif) repeat-y 0 0; padding:0 0 0 7px; width:996px; margin:0 auto;}
.container{background:#fff url(../images/contrit.gif) repeat-y 100% 0; padding:0 14px 15px 7px; overflow:hidden; height:100%}

.logoarea{background:url(../images/mainbg.jpg) no-repeat 0 0; height:140px; padding:12px 10px 0; /*width:970px; margin:0 auto*/}
.logoslog{width:210px; height:125px; float:right; margin:15px 0 0}
.logo{display:inline-block}
.slogan{display:inline-block; position:relative; top:-138px; left:-68px;}
*html .logo img, *html .slogan img{filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);}
*html .logo{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/saraya-logo.png'); _position:relative}
*html .slogan{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/slogan.png'); _position:relative}

.srcharea{width:730px; height:140px; float:left;}
.srchbox{background:url(../images/srchareabg2.gif) no-repeat 100% 0; height:35px; padding:0 12px 0 0; margin:-44px 0 0; width:383px; float:left; *position:relative}
.srchboxlft{/*background:url(../images/srchareabg2.gif) no-repeat 0 0;*/ height:30px; padding:5px 0 0 12px;}
.saryaagency{text-align:right; _float:right; margin:0 55px 0 0; }
*html .saryaagency img{filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);}
*html .saryaagency{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/saraya-agency.png'); height:41px;}

.srchlabel{width:120px; float:right; margin:3px 0 0}
.srchbg{background:url(../images/inptsrchbg.gif) no-repeat 100% 0; height:23px; display:block; float:right;}
.srchbg .inpttxt{background:none; padding:2px 2px 0 0; border:2px solid #77aade; border-width:2px 2px 2px 0; height:19px; font:bold 17px arial; display:block; width:190px;}
.srchbox .inptbtn{background:url(../images/srchbtn.gif) no-repeat; width:56px; height:25px; float:right; *margin:1px 0 0}
/*mainnav*/
.mainnav{background:url(../images/mnavtxt.gif) repeat-x 0 -427px;}
.mainnavlft{/*background:url(../images/mnavtxt.gif) no-repeat 0 -543px;*/ padding:0 0 0 10px;}
.mainnav ul{/*background:url(../images/mnavtxt.gif) no-repeat 100% -490px;*/ padding:11px 10px 0 0; height:29px;}
.mainnav li{float:right; margin:0 0 0 8px; padding:0 0 0 7px; /*margin:0 0 0 11px; padding:0 0 0 11px;*/ background:url(../images/sep.gif) no-repeat 0 2px}
.mainnav li a{color:#204b72; font-weight:bold; display:block; background:url(../images/mnavtxt.gif) no-repeat 100% 0; *padding:0 0 5px 0;}
.mainnav li.nav1 a{background-position:100% -34px}
.mainnav li.nav2 a{background-position:100% -69px}
.mainnav li.nav3 a{background-position:100% -104px}
/*.mainnav li.nav4 a{background-position:100% -140px}*/
.mainnav li.nav4 a{background:url(../images/gamesimg2.gif) no-repeat 0 1px;}
/*.mainnav li.nav5 a{background-position:100% -174px}*/
.mainnav li.nav5 a{background:url(../images/games_new.gif) no-repeat 0 0;}
.mainnav li.mosabakat a{background:url(../images/mosabakat2.gif) no-repeat 0 0; margin-top:-2px;}
.mainnav li.nav6 a{background-position:100% -208px}
.mainnav li.nav7 a{background-position:100% -243px}
.mainnav li.nav8 a{background-position:100% -278px}
.mainnav li.nav9 a{background-position:100% -312px}
.mainnav li.nav10 a{background-position:100% -347px}
.mainnav li.nav11 a{background-position:100% -382px}
.mainnav li.nav11{background:none; padding:0; margin:0}
.mainnav li a:hover{position:relative; top:-2px; left:-1px;}
/*end mainnav*/
.stats{margin:5px 0 10px; font-size:11px; text-align:center; /*border:2px solid #dbdbdb; padding-bottom:5px;*/}
.alias{margin:10px 0 0; font:normal 18px arial}
.ticker, .tickerbelow{background:url(../images/tickerpx.gif) repeat-x 0 0; margin:10px 0; height:32px; line-height:32px;}
.tickerlbl, .smarketlbl, .qnewslbl{background:url(../images/tickerlbl.gif) no-repeat 100% 0; float:right; display:block; width:117px; height:32px}
.marquee{float:right; width:685px; padding:0 5px;}
.marquee a{background:url(../images/ticklnkbg.gif) no-repeat 0 50%; padding:0 0 0 30px; margin:0; display:inline-block; font-weight:bold}
.makehome{background:url(../images/adver-elect.gif) no-repeat 0 0; display:block; float:left; width:162px; height:32px;}
.tickerbelow{}
.tickerbelow .marquee{float:right; width:845px; *width:840px; padding:0 5px;}
.tickerlft{background:url(../images/tickerlftbg.gif) no-repeat 0 0;}
.smarketlbl{background:url(../images/smarket.gif) no-repeat 100% 0; width:98px;}
.qnewslbl{background:url(../images/qnewslbl.gif) no-repeat 100% 0;}
.advertxt{padding:11px 0 0; font-weight:bold}

.content, .toparea{margin:10px 0;}
.contrit{width:665px; float:right;}
.lftpanel, .topbanners{width:300px; float:left;}

.classads_btn{background:url(../images/classadpx.gif) repeat-x 0 0; margin:10px 0; height:38px;}
.classads_btn ul{background:url(../images/adslftbg.gif) no-repeat 0 0;}
.classads_btn li{float:right; margin:0 0 0 14px;}
.classads_btn li.frst{margin:0 0 0 11px;}
.classads_btn li a{background:url(../images/all-imgs.gif) no-repeat 100% -127px; display:block; margin:6px 0 0}
.classads_btn li.clasad2 a{background-position:100% -165px;}
.classads_btn li.clasad3 a{background-position:100% -203px;}
.classads_btn li.clasad4 a{background-position:100% -241px;}
.classads_btn li.clasad5 a{background-position:100% -279px;}
.classads_btn li.clasad6 a{background-position:100% -317px;}
.classadlbl{background:url(../images/classadlbl.gif) no-repeat 0 0; display:block; width:117px; height:38px}

/*slider*/
.slider{/*background:url(../images/boxpattern.gif) repeat 0 0*/}
.titletip{/*background:url(../images/titletipbg.png) no-repeat 0 0; _background:url(../images/titletipbg.gif) no-repeat 0 0; height:80px; padding:0 0 0 12px; margin:0 10px -6px; position:relative; z-index:999;*/}
.titletip h2{padding:6px 0 6px 0; height:64px; font:bold 21px arial; color:#b0171f}
.container .titletip h2 a{color:#b0171f}
.titletip h2 a:hover{text-decoration:none; color:#333}

.btop, .btop span, .btop em, .bbotom, .bbotom span, .bbotom em{display:block; height:6px; background:url(../images/slidtpat.gif) repeat-x; line-height:0; font-size:0}
.btop span{background:url(../images/slidlt.gif) no-repeat 0 0; padding:0 0 0 6px}
.btop em{background:url(../images/slidrt.gif) no-repeat 100% 0; padding:0 6px 0 0}
.bbotom{background-position:0 100%;}
.bbotom span{background:url(../images/slidlb.gif) no-repeat 0 100%; padding:0 0 0 6px}

.bbotom em{background:url(../images/slidrb.gif) no-repeat 100% 100%; padding:0 6px 0 0}

.boxdata{border:1px solid #9f9f9f; border-width:0 1px; padding:0 0 0 4px;}
.main_image{width:340px; height:502px; float:right; position:relative; z-index:9; overflow:hidden; background:#f0f0f0; border-left:1px solid #9f9f9f; padding:0 12px;}

.overdesc{position:absolute; right:12px; bottom:0}
.overdesc .desc{width:346px; height:95px; padding:3px 6px 3px 0; color:#fff; background:#000;}
/**html .overdesc{_background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/overlaypx.png', sizingMethod='scale');}*/
/*.overdesc em{display:block; color:#999; font-style:normal}*/
.image_thumb{width:292px; float:left;}
.image_thumb ul{}
.image_thumb li{background:url(../images/horsep.gif) repeat-x 100% 100%; padding:7px 7px 8px; margin-right:4px; cursor:pointer; height:57px}
.image_thumb li.on{background:url(../images/slider_arrow.png) no-repeat 100% 0%; margin:0 -28px 0 0; padding:7px 34px 6px 6px; height:57px; position:relative; z-index:99;}
.image_thumb li a:hover{color:#b0171f; text-decoration:none}
.image_thumb li.on a{color:#fff}
.image_thumb li.on a:hover{color:#fff}

.image_thumb li .thumblft{border:1px solid #ccc;}
.image_thumb li .brief{display:none}
.image_thumb li ul.readnum{display:none}
.overdesc .readnum li{float:left; margin:0 0 0 12px; padding:0 0 0 12px; background:url(../images/footsep.gif) no-repeat 0 2px; font-size:12px;}
.overdesc .readnum li.last{background:none; padding:0 0 0 12px;}
.overdesc .readnum li .red{color:#f30d0d;}
.thumb, .thumblft, .thumblftmor, .thumbnom{padding:1px; border:1px solid #e1e1e1; margin:0 0 2px 6px;}
.thumblft{margin:0 3px 0 0}
.thumblftmor{margin:0 10px 0 0}
.thumbnom{margin:0 0 2px 0}
.overdesc .slidtitle, .brief{font:bold 12px tahoma; min-height:80px;}
*html .overdesc .slidtitle, *html .overdesc .brief{height:80px}
.lititle{font:bold 15px arial;}
.container .overdesc .slidtitle a, .container .overdesc .brief a{color:#fff; line-height:18px}
.overdesc .lititle{display:none}
/*end slider*/


/*slider*/
.slider2{/*background:url(../images/boxpattern.gif) repeat 0 0*/}
.titletip2{/*background:url(../images/titletipbg.png) no-repeat 0 0; _background:url(../images/titletipbg.gif) no-repeat 0 0; height:80px; padding:0 0 0 12px; margin:0 10px -6px; position:relative; z-index:999;*/}
.titletip2 h2{padding:6px 0 6px 0; height:64px; font:bold 21px arial; color:#b0171f}
.container2 .titletip2 h2 a{color:#b0171f}
.titletip2 h2 a:hover{text-decoration:none; color:#333}

.btop2, .btop2 span, .btop2 em, .bbotom2, .bbotom2 span, .bbotom2 em{display:block; height:6px; background:url(../images/slidtpat.gif) repeat-x; line-height:0; font-size:0}
.btop2 span{background:url(../images/slidlt.gif) no-repeat 0 0; padding:0 0 0 6px}
.btop2 em{background:url(../images/slidrt.gif) no-repeat 100% 0; padding:0 6px 0 0}
.bbotom2{background-position:0 100%;}
.bbotom2 span{background:url(../images/slidlb.gif) no-repeat 0 100%; padding:0 0 0 6px}

.bbotom2 em{background:url(../images/slidrb.gif) no-repeat 100% 100%; padding:0 6px 0 0}

.boxdata2{border:1px solid #9f9f9f; border-width:0 1px; padding:0 0 0 4px;}
.main_image2{width:340px; height:360px; float:right; position:relative; z-index:9; overflow:hidden; background:#f0f0f0; border-left:1px solid #9f9f9f; padding:0 12px;}

.overdesc2{position:absolute; right:12px; bottom:0}
.overdesc2 .desc2{width:346px; height:95px; padding:3px 6px 3px 0; color:#fff; background:#000;}
/**html .overdesc2{_background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/overlaypx.png', sizingMethod='scale');}*/
/*.overdesc2 em{display:block; color:#999; font-style:normal}*/
.image_thumb2{width:292px; float:left;}
.image_thumb2 ul{}
.image_thumb2 li{background:url(../images/horsep.gif) repeat-x 100% 100%; padding:7px 7px 8px; margin-right:4px; cursor:pointer; height:57px}
.image_thumb2 li.on2{background:url(../images/slider_arrow.png) no-repeat 100% 0%; margin:0 -28px 0 0; padding:7px 34px 6px 6px; height:57px; position:relative; z-index:99;}
.image_thumb2 li a:hover{color:#b0171f; text-decoration:none}
.image_thumb2 li.on2 a{color:#fff}
.image_thumb2 li.on2 a:hover{color:#fff}

.image_thumb2 li .thumblft2{border:1px solid #ccc;}
.image_thumb2 li .brief2{display:none}
.image_thumb2 li ul.readnum2{display:none}
.overdesc2 .readnum2 li{float:left; margin:0 0 0 12px; padding:0 0 0 12px; background:url(../images/footsep.gif) no-repeat 0 2px; font-size:12px;}
.overdesc2 .readnum2 li.last2{background:none; padding:0 0 0 12px;}
.overdesc2 .readnum2 li .red2{color:#f30d0d;}
.thumb2, .thumblft2, .thumblftmor2, .thumbnom2{padding:1px; border:1px solid #e1e1e1; margin:0 0 2px 6px;}
.thumblft2{margin:0 3px 0 0}
.thumblftmor2{margin:0 10px 0 0}
.thumbnom2{margin:0 0 2px 0}
.overdesc2 .slidtitle2, .brief2{font:bold 12px tahoma; min-height:80px;}
*html .overdesc2 .slidtitle2, *html .overdesc2 .brief2{height:80px}
.lititle{font:bold 15px arial;}
.container2 .overdesc2 .slidtitle a, .container2 .overdesc2 .brief2 a{color:#fff; line-height:18px}
.overdesc2 .lititle2{display:none}
/*end slider*/




/*slider*/
.slider1{/*background:url(../images/boxpattern.gif) repeat 0 0*/}
.titletip1{/*background:url(../images/titletipbg.png) no-repeat 0 0; _background:url(../images/titletipbg.gif) no-repeat 0 0; height:80px; padding:0 0 0 12px; margin:0 10px -6px; position:relative; z-index:999;*/}
.titletip1 h2{padding:6px 0 6px 0; height:64px; font:bold 21px arial; color:#b0171f}
.container1 .titletip1 h2 a{color:#b0171f}
.titletip1 h2 a:hover{text-decoration:none; color:#333}

.btop1, .btop1 span, .btop1 em, .bbotom1, .bbotom1 span, .bbotom1 em{display:block; height:6px; background:url(../images/slidtpat.gif) repeat-x; line-height:0; font-size:0}
.btop1 span{background:url(../images/slidlt.gif) no-repeat 0 0; padding:0 0 0 6px}
.btop1 em{background:url(../images/slidrt.gif) no-repeat 100% 0; padding:0 6px 0 0}
.bbotom1{background-position:0 100%;}
.bbotom1 span{background:url(../images/slidlb.gif) no-repeat 0 100%; padding:0 0 0 6px}

.bbotom1 em{background:url(../images/slidrb.gif) no-repeat 100% 100%; padding:0 6px 0 0}

.boxdata1{border:1px solid #9f9f9f; border-width:0 1px; padding:0 0 0 4px;}
.main_image1{width:340px; height:360px; float:right; position:relative; z-index:9; overflow:hidden; background:#f0f0f0; border-left:1px solid #9f9f9f; padding:0 12px;}

.overdesc1{position:absolute; right:12px; bottom:0}
.overdesc1 .desc1{width:346px; height:95px; padding:3px 6px 3px 0; color:#fff; background:#000;}
/**html .overdesc2{_background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/overlaypx.png', sizingMethod='scale');}*/
/*.overdesc2 em{display:block; color:#999; font-style:normal}*/
.image_thumb1{width:292px; float:left;}
.image_thumb1 ul{}
.image_thumb1 li{background:url(../images/horsep.gif) repeat-x 100% 100%; padding:7px 7px 8px; margin-right:4px; cursor:pointer; height:57px}
.image_thumb1 li.on1{background:url(../images/slider_arrow.png) no-repeat 100% 0%; margin:0 -28px 0 0; padding:7px 34px 6px 6px; height:57px; position:relative; z-index:99;}
.image_thumb1 li a:hover{color:#b0171f; text-decoration:none}
.image_thumb1 li.on1 a{color:#fff}
.image_thumb1 li.on1 a:hover{color:#fff}

.image_thumb1 li .thumblft1{border:1px solid #ccc;}
.image_thumb1 li .brief1{display:none}
.image_thumb1 li ul.readnum1{display:none}
.overdesc1 .readnum1 li{float:left; margin:0 0 0 12px; padding:0 0 0 12px; background:url(../images/footsep.gif) no-repeat 0 2px; font-size:12px;}
.overdesc1 .readnum1 li.last1{background:none; padding:0 0 0 12px;}
.overdesc1 .readnum1 li .red1{color:#f30d0d;}
.thumb1, .thumblft1, .thumblftmor1, .thumbnom1{padding:1px; border:1px solid #e1e1e1; margin:0 0 2px 6px;}
.thumblft1{margin:0 3px 0 0}
.thumblftmor1{margin:0 10px 0 0}
.thumbnom1{margin:0 0 2px 0}
.overdesc1 .slidtitle1, .brief1{font:bold 12px tahoma; min-height:80px;}
*html .overdesc1 .slidtitle1, *html .overdesc1 .brief1{height:80px}
.lititle{font:bold 15px arial;}
.container1 .overdesc1 .slidtitle a, .container1 .overdesc1 .brief1 a{color:#fff; line-height:18px}
.overdesc1 .lititle1{display:none;}
/*end slider*/



.banner{margin:0 0 5px; line-height:11px}
.hafwdth{width:49%;}
/*boxbg*/
.boxbg{background:#fff url(../images/boxbgpx.gif) repeat-x 0 0;}
.boxtitle{background:url(../images/titlebg.gif) repeat-x 0 100%; padding:4px 10px 0; font:normal 18px arial; color:#065696; border:1px solid #eceff1; border-width:0 1px; min-height:30px}
*html .boxtitle{height:30px}
.boxdatapx{padding:10px 10px 5px; border:1px solid #eceff1; border-width:0 1px 1px;}
.boxdatapx2{padding:10px 10px 5px; border:1px solid #eceff1; border-width:0 1px 1px;}
.boxcornrs, .boxcornrs span{background:url(../images/ritcorn.gif) no-repeat 100% 0; display:block; height:6px; padding:0 7px 0 0; font-size:0; line-height:0}
.boxcornrs span{background:url(../images/lftcorn.gif) no-repeat 0 0; padding:0 0 0 7px;}
/*end boxbg*/
/*domenbox*/
.domenbox{}
.domentitle{background:url(../images/sportbg.gif) no-repeat 100% 0; padding:0 12px 0 0}
.domentitle span{background:url(../images/sportbg.gif) no-repeat 0 0; height:30px; padding:8px 0 0; display:block}
.domendata, .domendatabg{padding:8px 0; border:1px solid #3c5d7c;}
.domendatabg{background:#f4f4f4; padding-bottom:0}
.domendatabg .newslstbg li{background:#fff; border:1px solid #e3e3e3}
.wdth75per{width:75%}
.readmore{width:150px; height:175px; float:right; background:#e7e7e7; border:2px solid #ccc; padding:0; margin:0 3px 0 0; overflow:hidden}
.readmore .locallst li{margin:0 0 4px; line-height:15px;}
.redmorbg{background:#566f87; padding:3px;}
.redmortitle{background:url(../images/readmore.gif) no-repeat 100% 0; display:inline-block;}
.fannbox{}


.econbox .domentitle{background:url(../images/econ.png?v11) no-repeat 100% 0;}
.econbox .domentitle span{background:url(../images/econ.png?v11) no-repeat 0 0;}
.econbox .domendata{border:1px solid #ba343c}

.barlaman .domentitle{background:url(../images/barlaman.png?v11) no-repeat 100% 0;}
.barlaman .domentitle span{background:url(../images/barlaman.png?v11) no-repeat 0 0;}
.barlaman .domendata{border:1px solid #ba343c}

.sarayamon .domentitle{background:url(../images/sarayamon.png?v=0.001) no-repeat 100% 0;}
.sarayamon .domentitle span{background:url(../images/sarayamon.png?v=0.001) no-repeat 0 0;}
.sarayamon .domendata{border:1px solid #ba343c}

.islame .domentitle{background:url(../images/islame.png?v15) no-repeat 100% 0;}
.islame .domentitle span{background:url(../images/islame.png?v1115) no-repeat 0 0;}
.islame .domendata{border:1px solid #ba343c}

.syaha .domentitle{background:url(../images/syaha.png?v=0.00001) no-repeat 100% 0;}
.syaha .domentitle span{background:url(../images/syaha.png?v=0.00001) no-repeat 0 0;}
.syaha .domendata{border:1px solid #ba343c}

.matba5 .domentitle{background:url(../images/matba5.png?v=0.00001) no-repeat 100% 0;}
.matba5 .domentitle span{background:url(../images/matba5.png?v=0.00001) no-repeat 0 0;}
.matba5 .domendata{border:1px solid #ba343c}

.naja7story .domentitle{background:url(../images/naja7story.png?v=0.00010) no-repeat 100% 0;}
.naja7story .domentitle span{background:url(../images/naja7story.png?v=0.00010) no-repeat 0 0;}
.naja7story .domendata{border:1px solid #ba343c}

.univer .domentitle{background:url(../images/univer.png?v15) no-repeat 100% 0;}
.univer .domentitle span{background:url(../images/univer.png?v15) no-repeat 0 0;}
.univer .domendata{border:1px solid #ba343c}

.hotfiles .domentitle{background:url(../images/hotfiles.png?v12) no-repeat 100% 0;}
.hotfiles .domentitle span{background:url(../images/hotfiles.png?v112) no-repeat 0 0;}
.hotfiles .domendata{border:1px solid #ba343c}

.sar_vid .domentitle{background:url(../images/sar_vid.png?v0001) no-repeat 100% 0;}
.sar_vid .domentitle span{background:url(../images/sar_vid.png?v0001) no-repeat 96% 0;}
.sar_vid .domendata{border:1px solid #ba343c}

.deathboxNew .domentitle{background:url(../images/deathbg.png?v15) no-repeat 100% 0;}
.deathboxNew .domentitle span{background:url(../images/deathbg.png?v15) no-repeat 0 0;}
.deathboxNew .domendata{border:1px solid #ba343c}

.jaremaworld .domentitle{background:url(../images/jaremaworld.png?v222) no-repeat 100% 0;}
.jaremaworld .domentitle span{background:url(../images/jaremaworld.png?v222) no-repeat 0 0;}
.jaremaworld .domendata{border:1px solid #ba343c}

.kaleej .domentitle{background:url(../images/kaleej.png?v11) no-repeat 100% 0;}
.kaleej .domentitle span{background:url(../images/kaleej.png?v11) no-repeat 0 0;}
.kaleej .domendata{border:1px solid #ba343c}

.cars .domentitle{background:url(../images/cars.png?v11) no-repeat 100% 0;}
.cars .domentitle span{background:url(../images/cars.png?v11) no-repeat 0 0;}
.cars .domendata{border:1px solid #ba343c}

.aqarat .domentitle{background:url(../images/aqarat2.png?v11) no-repeat 100% 0;}
.aqarat .domentitle span{background:url(../images/aqarat2.png?v11) no-repeat 0 0;}
.aqarat .domendata{border:1px solid #ba343c}

.wazaaf .domentitle{background:url(../images/wazaaf.png?v11) no-repeat 100% 0;}
.wazaaf .domentitle span{background:url(../images/wazaaf.png?v11) no-repeat 0 0;}
.wazaaf .domendata{border:1px solid #ba343c}

.foreditor .domentitle{background:url(../images/foreditor.png?v11) no-repeat 100% 0;}
.foreditor .domentitle span{background:url(../images/foreditor.png?v11) no-repeat 0 0;}
.foreditor .domendata{border:1px solid #ba343c}

.thaqafa .domentitle{background:url(../images/thaqafa.png?v11) no-repeat 100% 0;}
.thaqafa .domentitle span{background:url(../images/thaqafa.png?v11) no-repeat 0 0;background-position: -325px  0;}
.thaqafa .domendata{border:1px solid #ba343c}

.technology .domentitle{background:url(../images/technology.png?v111) no-repeat 100% 0;}
.technology .domentitle span{background:url(../images/technology.png?v111) no-repeat 0 0;background-position: -325px  0;}
.technology .domendata{border:1px solid #ba343c}

.hicam .domentitle{background:url(../images/hicam.png?v111) no-repeat 100% 0;}
.hicam .domentitle span{background:url(../images/hicam.png?v111) no-repeat 0 0;background-position: -325px  0;}
.hicam .domendata{border:1px solid #ba343c}

.palst .domentitle{background:url(../images/palst.png?v11) no-repeat 100% 0;}
.palst .domentitle span{background:url(../images/palst.png?v11) no-repeat 0 0;}
.palst .domendata{border:1px solid #ba343c}

.comming_parlman .domentitle{background:url(../images/comming_parlman.png?v11) no-repeat 100% 0;}
.comming_parlman .domentitle span{background:url(../images/comming_parlman.png?v11) no-repeat 0 0;}
.comming_parlman .domendata{border:1px solid #ba343c}

.ramadan .domentitle{background:url(../images/ramadan.png?v=0.00001) no-repeat 100% 0;}
.ramadan .domentitle span{background:url(../images/ramadan.png?v=0.00001) no-repeat 0 0;}
.ramadan .domendata{border:1px solid #ba343c}


.fannbox .domentitle{background:url(../images/boxtitlebg.gif) no-repeat 100% 0;}
.fannbox .domentitle span{background:url(../images/boxtitlebg.gif) no-repeat 0 0;}
.fannbox .domendata{border:1px solid #ba343c}
.jortoday .domentitle span{background:url(../images/jortoday.gif) no-repeat 0 0;}
.politic-news .domentitle span{background:url(../images/politicbg.gif) no-repeat 0 0;}
.kottabbox .domentitle span{background:url(../images/kottabbg.gif) no-repeat 0 0;}
.contribbox .domentitle span{background:url(../images/contribbg.gif) no-repeat 0 0;}
.postsbox .domentitle, .hashembox .domentitle, .monasabatbox .domentitle{background:url(../images/postsbg.gif) no-repeat 100% 0;}
.postsbox .domentitle span{background:url(../images/postsbg.gif) no-repeat 0 0;}
.postsbox .domendata, .hashembox .domendata, .monasabatbox .domendata{border:1px solid #571021;}
.hashembox .domentitle span{background:url(../images/hashembg.gif) no-repeat 0 0;}
.complainbox .domentitle{background:url(../images/complainbg.gif) no-repeat 100% 0;}
.complainbox .domentitle span{background:url(../images/complainbg.gif) no-repeat 0 0;}
.complainbox .domendata{border:1px solid #909090}
.deathbox .domentitle{background:url(../images/deathbg.gif) no-repeat 100% 0;}
.deathbox .domentitle span{background:url(../images/deathbg.gif) no-repeat 0 0;}
.deathbox .domendata{border:1px solid #2e2e2f}
.monasabatbox .domentitle span{background:url(../images/monasabatbg.gif) no-repeat 0 0;}
.needsolbox .domentitle span{background:url(../images/needsolbg.gif) no-repeat 0 0;}
/*end domenbox*/
.padritlft5{padding:0 5px;}
.newslst{}
.newslst li{margin:0 0 6px; padding:0 0 6px; background:url(../images/horsep.gif) repeat-x 100% 100%}
.newslst li.last{background:none; padding:0; margin:0;}
.newslst2 li, .newslstbg li{width:125px; height:150px; float:right; margin:0 18px 10px; overflow:hidden; _display:inline}
.newslstbg li, .writrslst li{background:#f4f4f4; border:1px solid #e3e3e3; padding:3px; margin:0 18px 10px 9px; height:212px; width:129px}
.descmin{min-height:51px;}
*html .descmin{height:51px;}
.writrslst li{height:135px; float:right; _display:inline; margin:0 18px 20px 10px}

.autoscroll{}

.date{color:#999; font-size:11px; margin-top:2px; font-style:normal; display:inline-block}
.morelnk{text-align:left; padding:0 0 0 12px;}
/*headings*/
/*.cars, .hbtitle, .crimtitle, .wierdtitle, .contus, .dirctcont*/
.sport, .fann, .jortitle, .polititle, .kottab, .contrib, .posts, .hashemcorn, .complain, .death, .monasabat, .needsol, .vote, .discuss, .hbtitle, .addcomtitle, .addposttitle, .addartcltitle, .tellfrends{background:url(../images/sport.gif) no-repeat; display:inline-block}
.fann{background:url(../images/fann.gif) no-repeat;}
.jortitle{background:url(../images/jortitle.gif) no-repeat;}
.polititle{background:url(../images/politictitle.gif) no-repeat;}
.kottab{background:url(../images/writrs.gif) no-repeat;}
.contrib{background:url(../images/contrib.gif) no-repeat;}
.posts{background:url(../images/posts.gif) no-repeat;}
.hashemcorn{background:url(../images/hashem_corner.gif) no-repeat;}
.complain{background:url(../images/complain.gif) no-repeat;}
.death{background:url(../images/death.gif) no-repeat;}
.monasabat{background:url(../images/monasabat.gif) no-repeat;}
.needsol{background:url(../images/needsol.gif) no-repeat;}
.discuss{background:url(../images/discuss.png) no-repeat;}
.vote{background:url(../images/vote.png) no-repeat;}
.hbtitle{background:url(../images/hb.gif) no-repeat;}
.addcomtitle{background:url(../images/addcomtitle.gif) no-repeat 100% 0;}
.addposttitle{background:url(../images/adartclbg.gif) no-repeat 100% 0;}
.addartcltitle{background:url(../images/adpostbg.gif) no-repeat 100% 0;}
.tellfrends{background:url(../images/tellfrends.gif) no-repeat 100% 0;}


.kottabiner{background:url(../images/writrsiner.gif) no-repeat 100% 0;}
.wierdiner{background:url(../images/wierdiner.gif) no-repeat 100% 0;}
.contus{background:url(../images/contactus.gif) no-repeat 100% 0;}
.dirctcont{background:url(../images/dirctcont.gif) no-repeat 100% 0;}


.localnews{background:#e7e7e7 url(../images/localnewsbg.gif) repeat-y 100% 0; border:2px solid #ccc; margin:0 18px 0 16px; padding:7px 90px 7px 0; min-height:170px}
*html .localnews{height:170px;}
.localrit, .locallft{width:48.25%; background:url(../images/dotsep.gif) repeat-y 0 0; padding:0 0 0 10px; float:right}
.locallft{background:none; padding:0; float:left}
.locallst{}
.locallst li, .writr-artcls li{background:url(../images/desc.gif) no-repeat 100% 7px; padding:0 12px 0 0; margin:0 0 8px;}
.locallst li.last{margin:0;}
.cars{background:url(../images/cars.gif) no-repeat;}
.marglftrit{padding:0 10px;}
.classad, .classified, .sectitle, .ctytalk, .vartitle, .alsredtitle, .fanniner, .sportiner{background:url(../images/titles.gif) no-repeat 100% 0;}


.classified{background-position:100% 0px; margin:11px 0 0}
.sectitle{background-position:100% -56px; margin:11px 0 0}
.ctytalk{background-position:100% -119px; margin:20px 0 0}
.vartitle{background-position:100% -176px; margin:14px 0 0}
.alsredtitle{background-position:100% -492px;}
.fanniner{background-position:100% -535px;}
.sportiner{background-position:100% -576px;}


.classadimg, .classifiedimg, .sectitleimg, .ctytalkimg, .vartitleimg{background:url(../images/titles.gif) no-repeat 100% -224px; width:74px; height:24px; display:inline-block; float:left}
.classifiedimg{background-position: 100% -216px;width: 76px;height: 37px;}
.sectitleimg{background-position:100% -281px; width:54px; height:37px;}
.ctytalkimg{background-position:100% -357px; width:103px; height:42px;}
.vartitleimg{background-position:100% -425px; width:69px; height:38px;}
/**/
.bigbox{background:url(../images/bigboxpattern.gif) repeat 0 0}
.bigtop, .bigtop span, .bigtop em, .bigbotom, .bigbotom span, .bigbotom em{display:block; height:9px; background:url(../images/bigboxpat.gif) repeat-x; line-height:0; font-size:0}
.bigtop span{background:url(../images/bigboxtl.gif) no-repeat 0 0; padding:0 0 0 9px}
.bigtop em{background:url(../images/bigboxtr.gif) no-repeat 100% 0; padding:0 9px 0 0}
.bigbotom{background-position:0 100%;}
.bigbotom span{background:url(../images/bigboxbl.gif) no-repeat 0 100%; padding:0 0 0 9px}
.bigbotom em{background:url(../images/bigboxbr.gif) no-repeat 100% 100%; padding:0 9px 0 0}
.bigbox .boxdata{border:1px solid #192e42; border-width:0 1px; padding:0}
.bigbox .boxdata2{border:1px solid #192e42; border-width:0 1px; padding:0}

.adslst, .seclst{background:#fff;/* border:1px solid #98acc2; */margin:0 10px 15px; padding:5px 10px; height:186px; overflow:hidden}
.adslst li, .seclst li{margin:0 0 8px 0; padding:0 0 8px 0; background:url(../images/horsep.gif) repeat-x 100% 100%;}
.ctylst, .worldvar{background:#4f80ae; margin:0 0 15px; padding:5px; height:200px; overflow:auto}
.ctylst li, .worldvar li{background:url(../images/ctylstarrow.gif) no-repeat 100% 5px; padding:0 16px 0 0; margin:0 0 8px}
.container .ctylst li a{color:#fff; font-weight:bold}
.container2 .ctylst li a{color:#fff; font-weight:bold}
.worldvar{background:#fff; margin:0 0 5px}
.worldvar li{background:url(../images/redarrow.gif) no-repeat 100% 5px;}
.worldvar li a{font-weight:bold}

/*writrs*/
.writrs{}
.writrs li{background:url(../images/arrow.gif) no-repeat 100% 6px; padding:0 16px 0 0; margin:0 0 8px}
.belowbanrs li{float:right; margin-left:37px;}
.belowbanrs li.last{margin:0; float:left}
.databelow li.libox{width:24.15%; float:right; margin-left:10px}
.databelow li.lastbox{width:24.15%; margin:0; float:left}
.autoheigt{height:278px; overflow:auto}
.minheght{min-height:278px;}
*html .minheght{height:278px;}
.prevtitle{margin:15px 10px 10px;}
.databelow, .hbpc{margin-top:10px;}
.hbpc{}
.hbpcbox{width:32.65%;/* width:320px; _width:318px;*/ float:right; margin:0 0 0 10px;}
.hbpcboxlast{width:32.65%; float:left; margin:0}
/*to hereeeeeeeeeeeeeeeee*/

.newslstsep li{background:url(../images/graysep.gif) repeat-x 100% 100%; padding:0 0 10px 0; margin:0 0 10px 0;}
.title{margin-bottom:15px; font:bold 24px arial; color:#b0171f; margin:20px 0}
.datedark{color:#666;}

.enlarge{height:30px; margin-top:0.5em}
.enlarge a{float:left; margin-right:5px; background:url(../images/incfont.gif) no-repeat 0 0; width:16px; height:16px;}
.enlarge span{float:left; color:#666; line-height:16px; font-size:12px}
.enlarge a.decrease{background:url(../images/decfont.gif) no-repeat 0 0;}
.description{text-align:justify; line-height:1.4em; font:bold 19px arial; margin:0 0 20px}
.description p{margin-bottom:0.5em;}

.interactiv{background:#f6f6f6; border:1px solid #ccc; padding:5px;}
.interactiv a{display:block; float:right; /*background:url(../images/all-imgs.gif) no-repeat 100% 0;*/ margin-left:5px; /*width:22px;*/ height:22px;}
a.twitter{background-position:-127px -373px;}
a.delicious{background-position:-101px -373px;}
a.google{background-position:-76px -373px;}
a.facebook{background-position:-51px -373px;}
a.slashdot{background-position:-26px -373px;}
a.yahoo{background-position:-1px -373px; margin-left:30px}
a.print, a.tellfrnd{margin-left:15px; padding:2px 22px 3px 0; background-position:100% -54px; width:auto; height:auto}
a.print, .print-ico-iner{background:url(../images/all-imgs.gif) no-repeat 100% -29px}
.interactiv .readnum li{float:left; margin:3px 0 0 12px; padding:0 0 0 12px; background:url(../images/versep.gif) no-repeat 0 2px; font-size:12px;}
.interactiv .readnum2 li{float:left; margin:3px 0 0 12px; padding:0 0 0 12px; background:url(../images/versep.gif) no-repeat 0 2px; font-size:12px;}
.interactiv .readnum li.last{margin:3px 0 0 0;}
.interactiv .readnum2 li.last{margin:3px 0 0 0;}

.usrscomnts{width:100%; margin:15px 0; border-collapse:collapse}
.usrscomnts th{background:#566F87 url(../images/usrcom.gif) no-repeat 99% 55%;}
.usrscomnts th, .usrscomnts td{padding:6px; border:1px solid #566f87; vertical-align:top}
.col1{width:40px; font-weight:bold; text-align:center}
.col2{width:475px;}
.col3{width:150px; text-align:center; font-size:11px; background:#e7e7e7}

.addcomform{margin:20px 0 0;}
.addbtn, .sndbtn{background:url(../images/addbtn.gif) no-repeat 0 0; width:61px; height:26px;}
.sndbtn{background:url(../images/sndbtn.gif) no-repeat 0 0; width:60px}
.addcomlst li{margin:0 0 15px;}
.addcomlst li.margless{margin:20px 0 5px;}
.addcomlst .inpttxt{border:2px solid #dfdfdf; height:20px}
.txtarea{border:2px solid #dfdfdf;}
.witbg{background:#fff; margin:0 10px 15px; padding:5px}
.alsoread li{background:url(../images/bollet.gif) no-repeat 100% 6px; padding:0 12px 0 0; margin:0 0 10px}
.wdth70per{width:62%;}
.haf30per{width:37%}
.wdth100{width:100px;}
/*sitemap*/
.sitemap{width:50%; float:right}
.sitemap li{margin:10px 0; font-weight:bold; background:url(../images/showarow.gif) no-repeat 100% 4px; padding:0 12px 0 0;}
.sitemap li li{margin:10px 15px 10px 0; font-weight:normal; background:none; list-style:disc; padding:0}
.readnum li{float:right; margin:0 0 0 12px; padding:0 0 0 12px; background:url(../images/versep.gif) no-repeat 0 3px; font-size:11px;}
.readnum2 li{float:right; margin:0 0 0 12px; padding:0 0 0 12px; background:url(../images/versep.gif) no-repeat 0 3px; font-size:11px;}
.readnum li.last{background:none; padding:0; margin:0}







/*paging*/
.paging{text-align:center; padding:15px 0;}
.paging a, .paging span{margin:0 0 0 5px; padding:4px 8px 5px; border:1px solid #ccc; background:#f6f6f6; background-image:-moz-linear-gradient(top,#ffffff,#efefef); background-image:-webkit-gradient(linear,left top,left bottom,from(#ffffff),to(#efefef)); filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr=#ffffff,endColorStr=#efefef);-ms-filter:"progid:DXImageTransform.Microsoft.Gradient(startColorStr=#FFFFFF, endColorStr=#EFEFEF)"; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; white-space:nowrap; vertical-align:middle; cursor:pointer; overflow:visible; display:inline-block}
.paging a:hover, .paging .current:hover{border-color:#999; background:#f3f3f3; background-image:-moz-linear-gradient(top,#ffffff,#ebebeb); background-image:-webkit-gradient(linear,left top,left bottom,from(#ffffff),to(#ebebeb)); filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr=#ffffff,endColorStr=#ebebeb); -ms-filter:"progid:DXImageTransform.Microsoft.Gradient(startColorStr=#FFFFFF, endColorStr=#EBEBEB)"; outline:0; -moz-box-shadow:0 0 3px #999; -webkit-box-shadow:0 0 3px #999;box-shadow:0 0 3px #999; text-decoration:none}
.paging .current, .paging .current:hover{color:#000;font-weight:bold;background:#ddd;-moz-boz-shadow:none;-webkit-box-shadow:none;box-shadow:none;cursor:default;border-color:#ccc}
.paging .current:hover{}
/*tree*/
.tree{margin:0 0 20px; font-size:11px; color:#333; background:url(../images/graysep.gif) repeat-x 100% 100%; padding:0 0 5px 0}
.tree li{display:inline}
.tree li a{background:url(../images/tree-bg.gif) no-repeat 0 6px; float:right; display:block; font-weight:bold; padding-left:18px; margin-left:9px;}
/*print*/
.print-page{width:800px; margin:15px auto; direction:rtl;}
.print-page .article{min-height:530px;}
*html .print-page .article{height:530px;}
.print-head{margin:0 0 2em; padding:0.5em; border-bottom:1px solid #ccc}
.print-ico-iner{float:left; margin:0; padding:2px 1.75em 3px 0}
.print-page .title{color:#333;}
.date-prnt{float:right;}
.printcopy{color:#999; margin:20px 0 0;}

/*email-page*/
.email-page{width:600px; margin:12px auto; line-height:16px; background:#fff; padding:8px;}
.email-page{width:750px;}
.email-frind{width:100%; margin:15px 0 0}
.email-frind td{padding:6px 6px 8px;}
.email-frind .inpttxt{width:178px;}
.feldset{border:1px solid #ccc; padding:0 10px; margin:0 0 20px;}
.feldset legend{font:normal 19px arial; color:#b0171f}
.frstcol, .frstcolless{width:140px; margin:0 0 0 10px; text-align:left}
.frstcolless{width:100px;}
.algntop{vertical-align:top;}
.algrit{text-align:right;}
.keyboard{background:url(../images/keyboard.gif) no-repeat 0 0; width:32px; height:28px; display:block; float:right; margin:-5px 5px 0 0; cursor:pointer; _position:relative}
.lightgray{color:#aaa; display:inline-block}
/*smilyes*/
.smilyes{width:75%; float:right; padding:10px 0 0}
.smilyes a{width:18px; height:18px; display:block; float:right; margin:0 0 0 3px; background:url(../images/all-imgs.gif) no-repeat -131px -418px;}

.smilyes a.sigh1{background-position:-110px -418px}
.smilyes a.sigh2{background-position:-89px -418px}
.smilyes a.sigh3{background-position:-68px -411px; height:25px; margin-top:-7px;}
.smilyes a.sigh4{background-position:-47px -418px}
.smilyes a.sigh5{background-position:-26px -418px}
.smilyes a.sigh6{background-position:-5px -418px}
.smilyes a.sigh7{background-position:-131px -446px}
.smilyes a.sigh8{background-position:-110px -446px}
.smilyes a.sigh9{background-position:-89px -446px}
.smilyes a.sigh10{background-position:-68px -446px}
.smilyes a.sigh11{background-position:-46px -446px; width:19px}
.smilyes a.sigh12{background-position:-25px -446px}
.smilyes a.sigh13{background-position:-4px -446px}
.smilyes a.sigh14{background-position:-131px -474px}
.smilyes a.sigh15{background-position:-110px -474px}
.smilyes a.sigh16{background-position:-89px -474px}
.smilyes a.sigh17{background-position:-68px -474px}
.posrel{position:relative;}
#keyboard, #keyboard2{position:absolute; right:150px; top:26px; z-index:9999}
#keyboard2{top:152px; *top:138px;}
.fontstyles{clear:right; padding:10px 0 0}
.fontstyles a{width:23px; height:23px; display:inline-block; margin:0 0 0 3px; background:url(../images/all-imgs.gif) no-repeat -110px -506px;}
a.quote{background-position:-110px -506px}
a.hyperlnk{background-position:-83px -506px}
a.linethrough{background-position:-56px -506px}
a.undrline{background-position:-29px -506px}
a.txtitlic{background-position:-2px -506px}
a.txtbold{background-position:-2px -474px}
/*end smilyes*/

.wdth200{width:204px;}
.validat{background:url(../images/validation_advice_bg.gif) no-repeat 100% 3px; padding:0 16px 0 2px; margin:2px 12px 0 0; color:#d40707; font-size:11px; font-weight:bold}
.notes{padding:1px 0 0 13px; background:url(../images/note_bg.gif) no-repeat 0 5px; font-size:11px;}
tr.error td{background:#e22929}
/*error*/
.error, .success{background:#ffcfcf url(../images/error.gif) no-repeat 99% 8px; border:1px solid #e5a3a3; padding:7px 35px 6px 5px; font-size:11px; font-weight:bold; margin:5px 0; color:#c00}
.success{background:#defcd0 url(../images/success.gif) no-repeat 99% 8px; border:1px solid #a5f66b; color:#4eae21}
/*class ads*/
.clasadsrit{width:785px; float:right;}
.clasadcont{border:1px solid #77aade; padding:10px 10px 0 0;}
.clasadslft{width:190px; _width:187px; float:right}
.clastitle{margin-bottom:10px; font:bold 21px arial; color:#b0171f;}
.clasadslst{width:100%}
.clasadslst td{width:150px; height:164px; text-align:right; vertical-align:top; background:url(../images/clasadbg.gif) no-repeat 100% 0; padding:10px 10px 15px 20px; font:bold 12px tahoma;}
.clasadsli{border-top:1px solid #77aade;}
.clasadsli li{border:1px solid #77aade; border-width:0 0 1px 1px;}
.clasadsli li a{background:url(../images/calsadspx.gif) repeat-x 0 0; height:38px; padding:7px 10px 0 0; color:#065696; font:bold 19px arial; display:block}
.clasadsli li a:hover, .clasadsli li.on a{background:#fff; text-decoration:none}
.clasadsli li.on a{margin-right:-1px; _position:relative;}
.clasadsli li a span{background:url(../images/classadsico.gif) no-repeat 100% -6px; padding:6px 37px 10px 0; display:block}
.clasadsli li.cacat1 a span{background-position:100% -55px;}
.clasadsli li.cacat2 a span{background-position:100% -97px;}
.clasadsli li.cacat3 a span{background-position:100% -142px;}
.clasadsli li.cacat4 a span{background-position:100% -187px;}
.clasadsli li.cacat5 a span{background-position:100% -232px;}
/**/
.orng{/*color:#f87f36;*/ color:#ffa200;}
.red, .container a.red{color:#dc1f09}
.red, .container2 a.red{color:#dc1f09}
.navy, .container a.navy{color:#d6343c;}
.navy, .container2 a.navy{color:#d6343c;}
.blak, .container a.blak{color:#333;}
.blak, .container2 a.blak{color:#333;}
.margthalf{margin-top:5px;}
.margt1{margin-top:10px;}
.margt2{margin-top:20px;}
.margb3{margin-bottom:3px;}
.margb1{margin-bottom:10px;}
.margrit5{margin-right:5px;}
.nobg{background:none;}
.algnmid{text-align:center;}
/*footer*/
.footer{padding:15px 0; font-size:11px; background:#7f7f7f url(../images/footerpx.gif) repeat-x 0 0; min-height:80px;}
.footcont{width:980px; margin:0 auto;}
.footlnks{/*text-align:center;*/ width:78%; float:right}
.footlnks li{display:inline;}
.footcont .footlnks li a{padding:0 0 10px 10px; margin:0 0 0 10px; background:url(../images/footsep.gif) no-repeat 0 3px; display:inline-block; color:#dcdcdc;}
.footlnks li.last a{background:none;}
.pwredby{margin:5px 0 0 5px;}
.copyrights{margin:10px 0 0; padding:5px 0 0; border-top:1px solid #a7a7a7;}
.copyrights li a{color:#fff;}

.twitico, .faceico, .followtxt{background:url(../images/facetwit.gif) no-repeat 0 0; display:block; float:left; width:32px; height:32px; margin:0 0 0 5px}
a.twitico:hover, a.faceico:hover{text-decoration:none;}
.faceico{background-position:-40px 0;}
.followtxt{background-position:-88px 0; width:71px;}

.triblebanner{margin:2px 0 0}



.new_s_s
{
	background: url(../images/titlebg.gif) repeat-x 0 100%;
	padding: 4px 10px 0;
	color: #065696;
	border: 1px solid #ECEFF1;
	border-width: 0 1px;
	min-height: 30px;
}


.e3lan {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}


.hbpcbox1{
	width:100%;
	/*width:32.65%;*/
	/* width:320px; _width:318px;*/ 
	float:right; 
	margin:0 0 0 10px;
}
