@font-face {
	font-family: "sa_bold";
	src: url("fonts/GE_SS_Two_Bold_0.otf"); 
}
@font-face {
	font-family: "sa_light";
	src: url("fonts/GE_SS_Two_Light_0.otf");  
}
@font-face {
	font-family: "sa_medium";
	src: url("fonts/GE_SS_Two_Medium.otf"); 
}

.slice
{
	width: 977px;
	height: 40px;
	margin: 0px;
	padding: 0px;
	direction: rtl;
	float: right;
	display: inline-block;
	font-family: sa_medium;
}
/*****************************************************/
.slice a.main
{
	width:86.8px;
	height: 40px;
	display: inline;
	float:right;
	background-image: url(button/home.png);
	margin: 0px 0px 0px 2px;
	text-decoration: none;
}
.slice a.main:hover
{
	background-image: url(button/home_hover.png);
}
.slice a.main_selected
{
	width:86.8px;
	height: 40px;
	display: inline;
	float:right;
	margin: 0px 0px 0px 2px;
	text-decoration: none;
	background-image: url(button/home_selected.png);
}
/*****************************************************/
.slice a.local-news
{
	width:86.8px;
	height: 40px;
	display: inline;
	float:right;
	background-image: url(button/local-news.png);
	margin: 0px 0px 0px 2px;
	text-decoration: none;
}
.slice a.local-news:hover
{
	background-image: url(button/local-news_hover.png);
}
.slice a.local-news_selected
{
	width:86.8px;
	height: 40px;
	display: inline;
	float:right;
	margin: 0px 0px 0px 2px;
	text-decoration: none;
	background-image: url(button/local-news_selected.png);
}
/*****************************************************/
.slice a.international-news
{
	width:86.8px;
	height: 40px;
	display: inline;
	float:right;
	background-image: url(button/international-news.png);
	margin: 0px 0px 0px 2px;
	text-decoration: none;
}
.slice a.international-news:hover
{
	background-image: url(button/international-news_hover.png);
}
.slice a.international-news_selected
{
	width:86.8px;
	height: 40px;
	display: inline;
	float:right;
	margin: 0px 0px 0px 2px;
	text-decoration: none;
	background-image: url(button/international-news_selected.png);
}
/*****************************************************/
.slice a.art-news
{
	width:86.8px;
	height: 40px;
	display: inline;
	float:right;
	background-image: url(button/art-news.png);
	margin: 0px 0px 0px 2px;
	text-decoration: none;
}
.slice a.art-news:hover
{
	background-image: url(button/art-news_hover.png);
}
.slice a.art-news_selected
{
	width:86.8px;
	height: 40px;
	display: inline;
	float:right;
	margin: 0px 0px 0px 2px;
	text-decoration: none;
	background-image: url(button/art-news_selected.png);
}
/*****************************************************/
.slice a.sport
{
	width:86.8px;
	height: 40px;
	display: inline;
	float:right;
	background-image: url(button/sport.png);
	margin: 0px 0px 0px 2px;
	text-decoration: none;
}
.slice a.sport:hover
{
	background-image: url(button/sport_hover.png);
}
.slice a.sport_selected
{
	width:86.8px;
	height: 40px;
	display: inline;
	float:right;
	margin: 0px 0px 0px 2px;
	text-decoration: none;
	background-image: url(button/sport_selected.png);
}
/*****************************************************/
.slice a.games
{
	width:86.8px;
	height: 40px;
	display: inline;
	float:right;
	background-image: url(button/games_new.png);
	margin: 0px 0px 0px 2px;
	text-decoration: none;
}
.slice a.games:hover
{
	background-image: url(button/games_hover_new.png);
}
/*****************************************************/
.slice a.competitions
{
	width:86.8px;
	height: 40px;
	display: inline;
	float:right;
	background-image: url(button/competitions.png);
	margin: 0px 0px 0px 2px;
	text-decoration: none;
}
.slice a.competitions:hover
{
	background-image: url(button/competitions_hover.png);
}
.slice a.competitions_selected
{
	width:86.8px;
	height: 40px;
	display: inline;
	float:right;
	margin: 0px 0px 0px 2px;
	text-decoration: none;
	background-image: url(button/competitions_selected.png);
}
/*****************************************************/
.slice a.Events
{
	width:86.8px;
	height: 40px;
	display: inline;
	float:right;
	background-image: url(button/Events.png);
	margin: 0px 0px 0px 2px;
	text-decoration: none;
}
.slice a.Events:hover
{
	background-image: url(button/Events_hover.png);
}
.slice a.Events_selected
{
	width:86.8px;
	height: 40px;
	display: inline;
	float:right;
	margin: 0px 0px 0px 2px;
	text-decoration: none;
	background-image: url(button/Events_selected.png);
}
/*****************************************************/
.slice a.members
{
	width:86.8px;
	height: 40px;
	display: inline;
	float:right;
	background-image: url(button/sarayaUser_new.png);
	margin: 0px 0px 0px 2px;
	text-decoration: none;
}
.slice a.members:hover
{
	background-image: url(button/sarayaUser_hover_new.png);
}
.slice a.members_selected
{
	width:86.8px;
	height: 40px;
	display: inline;
	float:right;
	margin: 0px 0px 0px 2px;
	text-decoration: none;
	background-image: url(button/members_selected_new.png);
}
/*****************************************************/
.slice a.aboutus
{
	width:86.8px;
	height: 40px;
	display: inline;
	float:right;
	background-image: url(button/aboutus_new.png);
	margin: 0px 0px 0px 2px;
	text-decoration: none;
}
.slice a.aboutus:hover
{
	background-image: url(button/aboutus_hover_new.png);
}
.slice a.aboutus_selected
{
	width:86.8px;
	height: 40px;
	display: inline;
	float:right;
	margin: 0px 0px 0px 2px;
	text-decoration: none;
	background-image: url(button/aboutus_selected.png);
}
/*****************************************************/
.slice a.contactUs
{
	width:86.8px;
	height: 40px;
	display: inline;
	float:right;
	background-image: url(button/contactUs.png);
	margin: 0px 0px 0px 2px;
	text-decoration: none;
}
.slice a.contactUs:hover
{
	background-image: url(button/contactUs_hover.png);
}
.slice a.contactUs_selected
{
	width:86.8px;
	height: 40px;
	display: inline;
	float:right;
	margin: 0px 0px 0px 2px;
	text-decoration: none;
	background-image: url(button/contactUs_selected.png);
}
/*****************************************************/
.slice a.sendUs
{
	width:86.8px;
	height: 40px;
	display: inline;
	float:right;
	background-image: url(button/sendUs.png);
	margin: 0px 0px 0px 2px;
	text-decoration: none;
}
.slice a.sendUs:hover
{
	background-image: url(button/sendUs_hover.png);
}
.slice a.sendUs_selected
{
	width:86.8px;
	height: 40px;
	display: inline;
	float:right;
	margin: 0px 0px 0px 2px;
	text-decoration: none;
	background-image: url(button/sendUs_selected.png);
}
/*****************************************************/
.slice a.wazaefh
{
	width:86.8px;
	height: 40px;
	display: inline;
	float:right;
	background-image: url(button/wazaefh.png?v=0.002);
	margin: 0px 0px 0px 2px;
	text-decoration: none;
}
.slice a.wazaefh:hover
{
	background-image: url(button/wazaefh_hover.png?v=0.002);
}
.slice a.wazaefh_selected
{
	width:86.8px;
	height: 40px;
	display: inline;
	float:right;
	margin: 0px 0px 0px 2px;
	text-decoration: none;
	background-image: url(button/wazaefh_selected.png?v=0.002);
}
/*****************************************************/
.slice a.empty
{
	width:86.8px;
	height: 40px;
	display: inline;
	float:right;
	background-image: url(button/empty.png);
	margin: 0px 0px 0px 2px;
	text-decoration: none;
}
/*****************************************************/