body.frontpage #main-content {
  padding-top: 40px;
  border-top: 2px solid white;
  /*
  -moz-box-shadow: inset 0 48px 15px -41px #b8b8b8;
  -webkit-box-shadow: inset 0 48px 15px -41px #b8b8b8;
  box-shadow: inset 0 48px 15px -41px #b8b8b8;
  */
  }
body.frontpage .marile-teme ul li a {
  color: #116da7; }
  body.frontpage .marile-teme ul li a:hover {
    color: #111; }
body.frontpage header.site .main-area .site-title a {
  height: 85px;
  background: url(../img/logo.png) no-repeat 0px 0px;
}
body.frontpage .sectiune .main {
  padding: 8px 30px 0px 8px;
  margin: 1px 1px 0px 0px; }
  body.frontpage .sectiune .main .comment-no {
    background-color: #626262;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#626262), to(#474747));
    background-image: -webkit-linear-gradient(top, #626262, #474747);
    background-image: -moz-linear-gradient(top, #626262, #474747);
    background-image: -o-linear-gradient(top, #626262, #474747);
    background-image: linear-gradient(to bottom, #626262, #474747); }
    body.frontpage .sectiune .main .comment-no:after {
      border-top: 5px solid #454545; }
body.frontpage .sectiune .img-post {
  margin-bottom: 3px; }

body.frontpage .categorii-drop {
  -webkit-box-shadow:  				inset 0px -1px 0px rgba(255,255,255,0.05), 				0px 2px 0px rgba(0,0,0,0.2), 				0px 1px 0px rgba(0,0,0,0.4) 				;
  -moz-box-shadow:  				inset 0px -1px 0px rgba(255,255,255,0.05), 				0px 2px 0px rgba(0,0,0,0.2), 				0px 1px 0px rgba(0,0,0,0.4) 				;
  box-shadow:  				inset 0px -1px 0px rgba(255,255,255,0.05), 				0px 2px 0px rgba(0,0,0,0.2), 				0px 1px 0px rgba(0,0,0,0.4) 				; }

.promo-parent {
  position: relative; }

.promo-banner {
  display: none;
  width: 980px;
  height: 99px;
  background: url(../img/promo-banner.png);
  position: absolute;
  top: -1px;
  left: 0;
  border-bottom: 1px solid #e3e3e3;
  z-index: 3; }
  .promo-banner .close-button {
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 9px;
    left: 930px; }

.main-controls {
  position: relative;
  width: 980px;
  height: 64px;
  margin: 0 auto 20px auto;
  background: #19191b;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-top: 1px solid black;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; }
  .main-controls .bg {
    position: absolute;
    top: 1px;
    left: 2px;
    width: 326px;
    height: 61px;
    border-bottom: 1px solid black;
    -webkit-box-shadow: inset 0px 1px 0px 0px #4a4a52;
    -moz-box-shadow: inset 0px 1px 0px 0px #4a4a52;
    box-shadow: inset 0px 1px 0px 0px #4a4a52;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    background: #35353e;
    /* Old browsers */
    background: -moz-linear-gradient(top, #35353e 50%, #26262a 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #35353e), color-stop(100%, #26262a));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #35353e 50%, #26262a 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #35353e 50%, #26262a 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #35353e 50%, #26262a 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #35353e 50%, #26262a 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#35353e', endColorstr='#26262a',GradientType=0 );
    /* IE6-9 */ }
    .main-controls .bg:after {
      content: '';
      display: block;
      position: absolute;
      top: 61px;
      left: 50%;
      margin-left: -11px;
      width: 23px;
      height: 14px;
      background: url(../img/icons-sprite.png) no-repeat -151px -968px; }
  .main-controls .item-list {
    position: absolute;
    top: 8px; }
  .main-controls .item {
    display: block;
    float: left;
    width: 326px;
    margin-right: 1px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out; }
    .main-controls .item:last-child {
      margin-right: 0; }
  .main-controls .active a {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    color: #fff; }
  .main-controls .title {
    font-size: 12px;
    color: #a8a8a8;
    text-shadow: 0px 1px #101012; }
  .main-controls .thumb {
    border: 1px solid #060606;
    margin: 0px 10px;
    width: 94px;
    height: 46px;
    -webkit-box-shadow: 0px 0px 0px 1px #4f4f51;
    -moz-box-shadow: 0px 0px 0px 1px #4f4f51;
    box-shadow: 0px 0px 0px 1px #4f4f51;
    float: left; }

.main-items .deschidere-main {
  display: none; }

.live-infotext {
  padding-top: 30px;
  color: #fff;
  text-align: center; }
  .live-infotext .top-light {
    padding-top: 0 !important; }
  .live-infotext .infotext {
    background: url(../img/live-infotext-light.png) no-repeat center 1px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    line-height: 36px;
    font-size: 11px;
    color: #d3d3d3; }
    .live-infotext .infotext a {
      color: #d3d3d3; }
      .live-infotext .infotext a:hover {
        color: #fff; }
    .live-infotext .infotext .icon {
      background: url("../img/icons-sprite.png") no-repeat -106px -893px;
      width: 9px;
      height: 9px;
      display: inline-block;
      position: relative;
      top: 1px;
      right: 2px; }
    .live-infotext .infotext strong {
      font-weight: normal;
      color: #ff0000; }
    .live-infotext .infotext .time {
      color: #fff; }

.live-info {
  position: relative;
  border-top: 1px solid #020202;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  width: 100%;
  height: 32px;
  margin-bottom: 35px;
  background-color: #1b1b1d;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1b1b1d), to(#1a1a1c));
  background-image: -webkit-linear-gradient(top, #1b1b1d, #1a1a1c);
  background-image: -moz-linear-gradient(top, #1b1b1d, #1a1a1c);
  background-image: -o-linear-gradient(top, #1b1b1d, #1a1a1c);
  background-image: linear-gradient(to bottom, #1b1b1d, #1a1a1c);
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; }
  .live-info .live-sign {
    float: left;
    width: 171px;
    height: 29px;
    background: url(../img/new-live.png);
    margin: 1px 0px 0px 2px; }
  .live-info .live-video {
    float: left;
    width: 183px;
    height: 29px;
    background: url(../img/new-video.png);
    margin: 1px 0px 0px 2px; }
  .live-info .live-enescu {
    float: left;
    width: 263px;
    height: 29px;
    background: url(../img/enescu-live.png);
    margin: 1px 0px 0px 2px; }
  .live-info .live-primatv {
    float: left;
    width: 202px;
    height: 29px;
    background: url(../img/primatv-live.png);
    margin: 1px 0px 0px 2px; }
  .live-info .live-yellow {
    float: left;
    width: 122px;
    height: 29px;
    background: url(../img/new-yellow.png);
    margin: 1px 0px 0px 2px; }
  .live-info .button-discuta {
    position: relative;
    padding: 5px 18px 4px 10px;
    margin: 1px 2px 0 0;
    float: right;
    font-size: 14px;
    color: #fff;
    text-shadow: 0px 1px #0b0b0c;
    border-top: 1px solid #4a4a52;
    border-bottom: 1px solid black;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #35353e;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#35353e), to(#27272a));
    background-image: -webkit-linear-gradient(top, #35353e, #27272a);
    background-image: -moz-linear-gradient(top, #35353e, #27272a);
    background-image: -o-linear-gradient(top, #35353e, #27272a);
    background-image: linear-gradient(to bottom, #35353e, #27272a);
    cursor: pointer; }
    .live-info .button-discuta a {
      color: #fff; }
    .live-info .button-discuta:hover {
      background-color: #3b3b45;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#3b3b45), to(#27272a));
      background-image: -webkit-linear-gradient(top, #3b3b45, #27272a);
      background-image: -moz-linear-gradient(top, #3b3b45, #27272a);
      background-image: -o-linear-gradient(top, #3b3b45, #27272a);
      background-image: linear-gradient(to bottom, #3b3b45, #27272a); }
    .live-info .button-discuta:active {
      background-color: #27272a;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#27272a), to(#35353e));
      background-image: -webkit-linear-gradient(top, #27272a, #35353e);
      background-image: -moz-linear-gradient(top, #27272a, #35353e);
      background-image: -o-linear-gradient(top, #27272a, #35353e);
      background-image: linear-gradient(to bottom, #27272a, #35353e); }
    .live-info .button-discuta .icon {
      background: url(../img/button-discuta.png);
      width: 6px;
      height: 10px;
      position: absolute;
      top: 9px;
      right: 6px; }
  .live-info .title {
    position: absolute;
    top: 2px;
    left: 190px;
    width: 660px;
    font-family: Georgia, serif;
    font-size: 20px;
    font-weight: bold;
    color: #fff; }
  .live-info.live-info-enescu .title {
    left: 270px;
    width: 600px;
  }
  .live-info.live-info-primatv .title {
    left: 221px;
    width: 600px;
  }
  .live-info.live-info-yellow .title {
    left: 145px;
    width: 730px;
  }
    .live-info .title a {
      color: #fff; }
    .live-info .title:hover {
      color: #fff;
      text-decoration: underline; }
  .live-info .main-sep {
    width: 712px;
    height: 2px;
    background: url(../img/main-sep.png);
    position: absolute;
    top: 52px;
    left: 150px; }

.sectiune {
  padding: 1px 0;
  border-top: 3px solid #666666;
  margin-bottom: 21px;
  -webkit-box-shadow: inset 0px 1px 0px white, inset 0px -1px 0px #f8f8f8, inset 0 50px 50px -50px #aaaaaa, inset 0 -30px 30px -30px gainsboro;
  -moz-box-shadow: inset 0px 1px 0px white, inset 0px -1px 0px #f8f8f8, inset 0 50px 50px -50px #aaaaaa, inset 0 -30px 30px -30px gainsboro;
  box-shadow: inset 0px 1px 0px white, inset 0px -1px 0px #f8f8f8, inset 0 50px 50px -50px #aaaaaa, inset 0 -30px 30px -30px gainsboro;
  border-bottom: 1px solid gainsboro;
  min-height: 320px;
  position: relative;
  overflow: hidden; }
  .sectiune > .content {
    float: left; }
  .sectiune > aside {
    border-top: 1px solid white;
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    background: #ddd;
    float: right;
    padding: 8px;
    height: 1200px; }
    .sectiune > aside .content {
      background: #fff;
      border-left: 1px solid #c6c6c6;
      border-right: 1px solid #c6c6c6;
      border-top: 1px solid white;
      border-bottom: 1px solid #adadad;
      padding: 5px 9px 0px 9px;
      -moz-box-shadow: inset 0 50px 50px -50px #cacaca, inset 0 -5px 5px -5px #b5b5b5, 0px 1px 0px #dcbebe;
      -webkit-box-shadow: inset 0 50px 50px -50px #cacaca, inset 0 -5px 5px -5px #b5b5b5, 0px 1px 0px #dcbebe;
      box-shadow: inset 0 50px 50px -50px #cacaca, inset 0 -5px 5px -5px #b5b5b5, 0px 1px 0px #dadada; }
      .sectiune > aside .content h3 {
        font-size: 15px;
        font-weight: normal;
        text-transform: uppercase; }
  .sectiune .main {
    float: left;
    width: 384px;
    position: relative; }
  .sectiune .other-articles-frontpage {
    border-left: 1px solid #d5d5d5;
    width: 215px;
    min-height: 255px;
    float: left;
    padding-left: 12px;
    margin-top: 50px;
    margin: 50px 0px 15px -1px; }
  .sectiune .other-articles ul li {
    font-size: 14px;
    font-weight: bold;
    position: relative;
    font-family: Georgia, serif;
    line-height: 18px; }
    .sectiune .other-articles ul li a {
      color: #333; }
      .sectiune .other-articles ul li a:hover {
        color: #0C4568;
        text-decoration: none; }

.mediabox {
  background-color: #282828;
  padding: 4px;
  width: 972px;
  margin-bottom: 20px; }
  .mediabox .media {
    background: #0d0c0c;
    padding: 0px 1px;
    position: relative;
    color: #fff; }
    .mediabox .media .arrow {
      cursor: pointer;
      margin-top: 1px;
      position: relative;
      width: 17px;
      height: 56px;
      border-left: 1px solid #7e808b;
      border-top: 1px solid #7e808b;
      border-right: 1px solid #5c5e66;
      border-bottom: 1px solid #5c5e66;
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-background-clip: padding;
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
      background-color: #6b6d79;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#6b6d79), to(#464648));
      background-image: -webkit-linear-gradient(top, #6b6d79, #464648);
      background-image: -moz-linear-gradient(top, #6b6d79, #464648);
      background-image: -o-linear-gradient(top, #6b6d79, #464648);
      background-image: linear-gradient(to bottom, #6b6d79, #464648);
      z-index: 2; }
      .mediabox .media .arrow .icon {
        background: url(../img/icons-sprite.png) no-repeat -42px -397px;
        width: 6px;
        height: 11px; }
    .mediabox .media .arrow-left {
      float: left; }
      .mediabox .media .arrow-left .icon {
        position: absolute;
        top: 22px;
        left: 5px; }
    .mediabox .media .arrow-right {
      float: right; }
      .mediabox .media .arrow-right .icon {
        position: absolute;
        top: 22px;
        right: 5px;
        background-position: -57px -397px; }
    .mediabox .media .content {
      background: url(../img/bg-media-box.png);
      -webkit-box-shadow: inset 0px 0px 30px #181818;
      -moz-box-shadow: inset 0px 0px 30px #181818;
      box-shadow: inset 0px 0px 30px #181818;
      padding: 20px;
      width: 444px; }
    .mediabox .media header {
      position: relative;
      border-left: 1px solid #353940;
      border-top: 1px solid #676b71;
      background-color: #505358;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#505358), to(#282b30));
      background-image: -webkit-linear-gradient(top, #505358, #282b30);
      background-image: -moz-linear-gradient(top, #505358, #282b30);
      background-image: -o-linear-gradient(top, #505358, #282b30);
      background-image: linear-gradient(to bottom, #505358, #282b30); }
      .mediabox .media header .title {
        font-size: 19px;
        font-weight: normal;
        text-transform: uppercase;
        text-shadow: 0px 1px black;
        padding: 6px 8px 8px 8px;
        display: block; }
    .mediabox .media .lista-imagini {
      float: left;
      margin: 2px 0px 2px 21px; }
      .mediabox .media .lista-imagini li {
        margin-bottom: 0; }
        .mediabox .media .lista-imagini li:last-child {
          margin-right: 0; }
    .mediabox .media ul li img {
      z-index: 1; }
  .mediabox .video {
    float: left; }
    .mediabox .video header {
      -webkit-box-shadow: inset -1px 0px 0px #121212;
      -moz-box-shadow: inset -1px 0px 0px #121212;
      box-shadow: inset -1px 0px 0px #121212; }
  .mediabox .foto {
    float: right; }
    .mediabox .foto header {
      -webkit-box-shadow:  1px 0px 0px #44484e;
      -moz-box-shadow:  1px 0px 0px #44484e;
      box-shadow:  1px 0px 0px #44484e;
      border-left: 1px solid #121212; }
  .mediabox .main {
    position: relative;
    width: 441px;
    height: 261px;
    border: 2px solid black; }
    .mediabox .main .overlay {
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.7);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#9E000000,endColorstr=#9E000000); }
      .mediabox .main .overlay .buttons {
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        -webkit-box-shadow:  0px -1px 0px black;
        -moz-box-shadow:  0px -1px 0px black;
        box-shadow:  0px -1px 0px black;
        text-align: center;
        min-height: 35px;
        padding-top: 15px; }
        .mediabox .main .overlay .buttons span {
          cursor: pointer;
          font-size: 14px;
          font-weight: bold;
          position: relative;
          padding: 7px 13px 7px 10px;
          padding-left: 35px;
          border-radius: 4px;
          -moz-border-radius: 4px;
          -webkit-border-radius: 4px;
          -moz-background-clip: padding;
          -webkit-background-clip: padding-box;
          background-clip: padding-box;
          -moz-background-clip: padding;
          -webkit-background-clip: padding-box;
          background-clip: padding-box; }
          .mediabox .main .overlay .buttons span .icon {
            position: absolute;
            top: 0px;
            left: 6px;
            float: left;
            background: url(../img/icons-sprite.png) no-repeat -3px -389px;
            width: 20px;
            height: 30px;
            border-right: 1px solid #e89b68;
            box-shadow: 1px 0px 0px #a56a11; }
        .mediabox .main .overlay .buttons .play {
          text-shadow: 0px 1px #5f3a09;
          background-color: #eaa51c;
          background-image: -webkit-gradient(linear, left top, left bottom, from(#eaa51c), to(#e07d14));
          background-image: -webkit-linear-gradient(top, #eaa51c, #e07d14);
          background-image: -moz-linear-gradient(top, #eaa51c, #e07d14);
          background-image: -o-linear-gradient(top, #eaa51c, #e07d14);
          background-image: linear-gradient(to bottom, #eaa51c, #e07d14);
          -moz-box-shadow: inset 0px 1px 0px #f2ca77, 0px 0px 2px black;
          -webkit-box-shadow: inset 0px 1px 0px #f2ca77, 0px 0px 2px black;
          box-shadow: inset 0px 1px 0px #f2ca77, 0px 0px 2px black; }
          .mediabox .main .overlay .buttons .play a {
            color: #fff; }
        .mediabox .main .overlay .buttons .vezi-articol {
          text-shadow: 0px 1px #5f3a09;
          background-color: #3194c9;
          background-image: -webkit-gradient(linear, left top, left bottom, from(#3194c9), to(#194c97));
          background-image: -webkit-linear-gradient(top, #3194c9, #194c97);
          background-image: -moz-linear-gradient(top, #3194c9, #194c97);
          background-image: -o-linear-gradient(top, #3194c9, #194c97);
          background-image: linear-gradient(to bottom, #3194c9, #194c97);
          -moz-box-shadow: inset 0px 1px 0px #84c0e0, 0px 0px 2px black;
          -webkit-box-shadow: inset 0px 1px 0px #84c0e0, 0px 0px 2px black;
          box-shadow: inset 0px 1px 0px #84c0e0, 0px 0px 2px black; }
        .mediabox .main .overlay .buttons .vezi-articol .icon {
          background-position: -21px -389px;
          border-right: 1px solid #3383bb;
          box-shadow: 1px 0px 0px #1b517f; }
    .mediabox .main .title {
      padding: 10px;
      color: #999999;
      font-size: 14px;
      font-weight: normal; }
      .mediabox .main .title a {
        color: #fff;
        font-size: 16px;
        font-weight: bold; }

.black-texture {
  background-color: #292b31;
  background-image: url(../img/bg-main-area.png);
  position: relative;
  width: 100%; }
  .black-texture .wrap {
    min-height: 100%; }
  .black-texture .container {
    padding: 8px;
    background: #fff;
    border-top: 1px solid #f2f3f3; }
    .black-texture .container article {
      position: relative; }
  .black-texture .top-light {
    background: url(../img/bg-main-area-light.png) no-repeat center top;
    padding: 18px 0px 30px 0px; }
  .black-texture .comment-no {
    box-shadow: none; }

.black-texture-wide article .main-title a {
  color: #fff; }
.black-texture-wide .container aside {
  margin-top: 8px; }
  .black-texture-wide .container aside .headings li {
    position: relative; }
  .black-texture-wide .container aside .headings .medium-heading {
    display: block;
    float: left;
    width: 305px;
    padding-right: 20px; }
    .black-texture-wide .container aside .headings .medium-heading img {
      float: left;
      margin-right: 10px; }
    .black-texture-wide .container aside .headings .medium-heading h2 {
      font-family: Georgia, serif;
      font-size: 14px;
      font-weight: bold;
      float: left;
      width: 220px;
      color: a;
        color-color: #000; }
  .black-texture-wide .container aside .headings .small-heading {
    margin-left: 650px; }
    .black-texture-wide .container aside .headings .small-heading h2 {
      position: relative;
      color: #4e9bcc;
      font-family: Arial, sans-serif;
      font-size: 12px;
      font-weight: normal;
      margin-bottom: 7px;
      padding-left: 17px; }
      .black-texture-wide .container aside .headings .small-heading h2 .icon {
        position: absolute;
        top: 0;
        left: 0;
        background: url(../img/icons-sprite.png) no-repeat -163px -467px;
        width: 11px;
        height: 13px; }
    .black-texture-wide .container aside .headings .small-heading h3 a {
      color: #16679a; }

.deschidere-clasic {
  overflow: hidden; }
  .deschidere-clasic h1 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 932px;
    padding: 14px 16px;
    background-color: transparent;
    background-color: rgba(0, 0, 0, 0.62);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#9E000000,endColorstr=#9E000000);
    zoom: 1;
    color: #fff;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: bold; }

section.npt {
  border-top: 3px solid #b23b1f; }
  section.npt > aside {
    background-color: #f2d5ce; }
    section.npt > aside .content {
      border-right: 1px solid #b09b95;
      border-bottom: 1px solid #bfa8a2; }
      section.npt > aside .content h3 {
        color: #b72f11; }

section.economie {
  border-top: 3px solid #9e2f50; }
  section.economie > aside {
    background-color: #ebcbcb; }
    section.economie > aside .content {
      border-left: 1px solid #d5b8b8;
      border-right: 1px solid #d5b8b8;
      border-bottom: 1px solid #baa1a1; }
      section.economie > aside .content h3 {
        color: #bd1749; }

section.politica {
  border-top: 3px solid #8f3add; }
  section.politica > aside {
    background-color: #e5d0f7;
    -webkit-box-shadow:  0px 1px 0px #d4c1e5;
    -moz-box-shadow:  0px 1px 0px #d4c1e5;
    box-shadow:  0px 1px 0px #d4c1e5; }
    section.politica > aside .content {
      border-left: 1px solid #cfbce0;
      border-right: 1px solid #cfbce0;
      border-bottom: 1px solid #af9fbd; }
      section.politica > aside .content h3 {
        color: #8d36dc; }

section.entertainment {
  border-top: 3px solid #b91e76; }
  section.entertainment > aside {
    background-color: #f4c7e1;
    -webkit-box-shadow:  0px 1px 0px #bba6b2;
    -moz-box-shadow:  0px 1px 0px #bba6b2;
    box-shadow:  0px 1px 0px #bba6b2; }
    section.entertainment > aside .content {
      border-left: 1px solid #cfbce0;
      border-right: 1px solid #cfbce0;
      border-bottom: 1px solid #af9fbd; }
      section.entertainment > aside .content h3 {
        color: #bc1674; }

section.international {
  border-top: 3px solid #38a9de; }
  section.international > aside {
    background-color: #bee0f0;
    -webkit-box-shadow:  0px 1px 0px #b2d2e1;
    -moz-box-shadow:  0px 1px 0px #b2d2e1;
    box-shadow:  0px 1px 0px #b2d2e1; }
    section.international > aside .content {
      border-left: 1px solid #adccda;
      border-right: 1px solid #adccda;
      border-bottom: 1px solid #97b1be; }
      section.international > aside .content h3 {
        color: #0681bb; }

section.tech {
  border-top: 3px solid #006169; }
  section.tech > aside {
    background-color: #b2cfd2; }
    section.tech > aside .content {
      border-left: 1px solid #a1bcbe;
      border-right: 1px solid #a1bcbe;
      border-bottom: 1px solid #819698; }
      section.tech > aside .content h3 {
        color: #007681; }

section.educatie {
  border-top: 3px solid #126fc5; }
  section.educatie > aside {
    background-color: #b7d4ed;
    -webkit-box-shadow:  0px 1px 0px #a6c0d7;
    -moz-box-shadow:  0px 1px 0px #a6c0d7;
    box-shadow:  0px 1px 0px #a6c0d7; }
    section.educatie > aside .content {
      border-left: 1px solid #a6c0d7;
      border-right: 1px solid #a6c0d7;
      border-bottom: 1px solid #859aac; }
      section.educatie > aside .content h3 {
        color: #0056a5; }

section.lifestyle {
  border-top: 3px solid #ff5f15; }
  section.lifestyle > aside {
    background-color: #edcdbf;
    -webkit-box-shadow:  0px 1px 0px #d7baad;
    -moz-box-shadow:  0px 1px 0px #d7baad;
    box-shadow:  0px 1px 0px #d7baad; }
    section.lifestyle > aside .content {
      border-left: 1px solid #d7baad;
      border-right: 1px solid #d7baad;
      border-bottom: 1px solid #ac958b; }
      section.lifestyle > aside .content h3 {
        color: #e76427; }

section.cultura {
  border-top: 3px solid #deb809; }
  section.cultura > aside {
    background-color: #f3eabd;
    -webkit-box-shadow:  0px 1px 0px #dcd4ab;
    -moz-box-shadow:  0px 1px 0px #dcd4ab;
    box-shadow:  0px 1px 0px #dcd4ab; }
    section.cultura > aside .content {
      border-left: 1px solid #dcd4ab;
      border-right: 1px solid #dcd4ab;
      border-bottom: 1px solid #b0aa89; }
      section.cultura > aside .content h3 {
        color: #cc9e00; }

section.sanatate {
  border-top: 3px solid #3daeb0; }
  section.sanatate > aside {
    background-color: #c0e2e2; }
    section.sanatate > aside .content {
      border-left: 1px solid #aecdcd;
      border-right: 1px solid #aecdcd;
      border-bottom: 1px solid #8ba4a4; }
      section.sanatate > aside .content h3 {
        color: #119c9e; }

section.sport {
  border-top: 3px solid #8ac831; }
  section.sport > aside {
    background-color: #d4e7ba; }
    section.sport > aside .content {
      border-left: 1px solid #c0d1a8;
      border-right: 1px solid #c0d1a8;
      border-bottom: 1px solid #9aa887; }
      section.sport > aside .content h3 {
        color: #53860b; }

section.societate {
  border-top: 3px solid #c7488d; }
  section.societate > aside {
    background-color: #ffd9ee; }
    section.societate > aside .content {
      border-bottom: 1px solid #caacbd; }
      section.societate > aside .content h3 {
        color: #64d080; }

section.medical {
  border-top: 3px solid #be6262; }
  section.medical > aside {
    background-color: #f0d2d2; }
    section.medical > aside .content {
      border-bottom: 1px solid #bea6a6; }
      section.medical > aside .content h3 {
        color: #be6262; }

section.orasul-meu {
  border-top: 3px solid #0069ba; }
  section.orasul-meu > aside {
    height: 307px;
    background-color: #b2d2ea;
    -webkit-box-shadow:  0px 1px 0px #a6c0d7;
    -moz-box-shadow:  0px 1px 0px #a6c0d7;
    box-shadow:  0px 1px 0px #a6c0d7; }
    section.orasul-meu > aside .content {
      border-left: 1px solid #a6c0d7;
      border-right: 1px solid #a6c0d7;
      border-bottom: 1px solid #859aac; }
      section.orasul-meu > aside .content h3 {
        color: #0088ce; }
  section.orasul-meu .lista-orase {
    margin: 10px 0px 20px 20px;
    width: 980px; }
    section.orasul-meu .lista-orase li {
      display: block;
      float: left;
      width: 122px;
      line-height: 20px; }
      section.orasul-meu .lista-orase li a {
        font-size: 14px;
        font-weight: bold;
        color: #125782; }
        section.orasul-meu .lista-orase li a:hover {
          color: #0C4568; }






#homepage_push_video_live {
	position: relative;
	background: url(../img/homepage/pattern.jpg) left top;
	height: 102px;
	border-top: 1px solid #000;
	box-shadow: 0 48px 15px -41px #000 inset;
	padding-top: 40px;
}
#homepage_push_video_live_content {
	position: relative;
	width: 990px;
	margin: 0 auto;
	padding-bottom: 28px;
}
#homepage_push_video_live .inner_shadow_bottom {
	background: url(../img/homepage/inner_shadow_bottom.png) repeat-x left top;
	width: 100%;
	height: 28px;
	position: absolute;
	left: 0;
	bottom: 0;
}
.adevarul_video_live_logo {
	background: url(../img/homepage/adevarul_live_logo.png) no-repeat left top;
	width: 211px;
	height: 37px;
	display: block;
	text-indent: -9999px;
	text-size: 0;
}
#video_live_sections {
	margin: 30px 0 44px;
}
#video_live_sections li {
	font-family: 'adevarul_stagregular';
	color: #68686a;
	font-size: 16px;
	margin: 0 -2px 0 0;
	text-align: right;
	padding: 3px 32px 3px 0;
	border-right: 1px solid #2e2e30;
	cursor: pointer;
}
#video_live_sections li:hover {
	color: #79797c;
	border-right: 1px solid #4e4e58;
}
#video_live_sections li.selected {
	border-right: 1px solid #fff;
}

#video_live_menu {
	width: 235px;
	float: left;
	border-right: 1px solid #000;
}
#video_live_menu2:before {
	position: absolute; display: block; content: '';
    border-right: 1px solid #2f2f31;
    width: 237px;
    height: 70px;
    box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
.video_live_teaser {
	width: 400px;
	float: left;
	padding-left: 30px;
}


.clear {
	clear: both;
}
#homepage_push_video_live figure {
}

#homepage_push_video_live figure a {
	-webkit-box-shadow: 0 0 15px #202020;
	-moz-box-shadow: 0 0 15px #202020;
	box-shadow: 0 0 15px #202020;

	border: 1px solid #4d4d4d;
	display: block;
	width: 86x;
	height: 53px;
	float: left;
	background: url(../img/homepage/play_btn.png) no-repeat left top;
	margin-right: 20px;
	margin-top: 5px;
}
#homepage_push_video_live figure a.play_btn {
	display: block;
	width: 30px;
	height: 30px;
	background: url(../img/homepage/play_btn.png) no-repeat left top;
	border: 0;
	outline: 0;

	position: absolute;
	left: 28px;
	top: 12px;
}


#video_live_archive {
	width: 320px;
	height: 370px;
	float: left;
}
#video_live_archive li {
	position: relative;
	clear: both;
	padding-right: 30px;
	height: 75px;
	padding-top: 10px;
}
#video_live_archive li:hover, #video_live_archive li.selected {
	background: #1a1a1d;
}
#video_live_archive a {
	font-family: Georgia, serif;
	color: #a8a8a8;
	font-size: 12px;
	font-weight: bold;
}

#video_live_archive .time-posted, #sparta .time-posted, .video_live_teaser .time-posted {
	font-family: arial;
	font-size: 11px;
	color: #646464;
	font-style: italic;
}

#video_live_triggers {
	width: 205px;
}
#video_live_triggers li {
	border-top: 1px solid #303033;
	border-bottom: 1px solid #303033;
}
#video_live_triggers a {
	display: block;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	font-family: arial;
	color: #a8a8a8;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 11px 0;
	margin-top: -2px;
}
#video_live_triggers a.selected {
	background: #111114;
}

#video_live_triggers a .icon {
	background: url("../img/icons-sprite.png") no-repeat scroll -47px -767px rgba(0, 0, 0, 0);
	width: 14px;
	height: 12px;
	display: block;
	float: left;
	margin: 0 16px 0 10px;

	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}





.more-live-videos {
	position: relative;
	z-index: 3;
	margin-top: 30px;
	font-size: 12px;
	font-family: arial;
	color: #aeaeaf;
	font-weight: bold;
	cursor: pointer;
}
.more-live-videos .icon {
	width: 0px;
	height: 0px;
	border-style: solid;
	margin: 4px 16px 0 0px;
	display: block;;
	float: left;
	border-color: #afafb0 transparent transparent transparent;
}

.more-live-videos.panelclosed .icon {
	border-width: 8px 5.5px 0 5.5px;
	border-color: #afafb0 transparent transparent transparent;
}
.more-live-videos.panelopened {
	position: relative;
	top: -15px;
}
.more-live-videos.panelopened .icon {
	border-width: 0 5.5px 8px 5.5px;
	border-color: transparent transparent #afafb0 transparent;
}




.video_live_teaser dt {
	width: 370px;
}
.video_live_teaser .time-posted {
	font-size: 11px;
	color: #474748;
	font-style: italic;
	display: block;
	margin-top: 20px;
}
.video_live_teaser dt h5 a {
	font-family: 'adevarul_stagregular';
	font-size: 24px;
	color: #fff;
	margin: -14px 0 35px;
	display: block;
}

.video_live_teaser h6 a {
	margin-top: 30px;
	display: block;
	font-family: Georgia, sans-serif;
	font-size: 21px;
	color: #a8a8a8;
	font-weight: 100;
}

.video_live_teaser dt>a {
	display: block;
	width: 370px;
	height: 210px;
	border: 1px solid #4c4c4c;
	-webkit-box-shadow: 0px 0px 0px 5px rgba(138,138,138,1);
	-moz-box-shadow: 0px 0px 0px 5px rgba(138,138,138,1);
	box-shadow: 0px 0px 0px 5px rgba(138,138,138,1);
}
.video_live_teaser dt>a img {
	-webkit-box-shadow: 0 0 15px #202020;
  -moz-box-shadow: 0 0 15px #202020;
  box-shadow: 0 0 15px #202020;
}

#sparta dd {
	width: 330px;
	float: left;
	margin: 0;
	padding: 0;
	border-left: 1px solid #000;
}
#sparta dd a {
	color: #a7a7a8;
	font-family: Georgia, sans-serif;
	font-size: !2px;
	font-weight: bold;
}
#sparta {
	width: 664px;
	position: absolute;
	left: 266px;
	top: 0;
	padding:0; margin: 0;
}
#sparta h5 a {
	padding-top: 1px;
	display: block;
	font-size: 12px;
}
.troops {
	display: none;
}



/* Tiny Scrollbar */
#video_live_archive_wrapper { }
#video_live_archive_wrapper .viewport { width: 320px; height: 422px; overflow: hidden; position: relative; }
#video_live_archive_wrapper .overview { list-style: none; position: absolute; left: 0; top: 0; padding: 0; margin: 0; }
#video_live_archive_wrapper .scrollbar{ background: #303030; position: relative; background-position: 0 0; float: right; width: 4px; }
#video_live_archive_wrapper .track { background: #303030; height: 100%; width:4px; position: relative; padding: 0 1px; }
#video_live_archive_wrapper .thumb { background: #000; height: 20px; width: 4px; cursor: pointer; overflow: hidden; position: absolute; top: 0; left: 0; }
#video_live_archive_wrapper .thumb .end { background: transparent url(http://baijs.com/tinyscrollbar/examples/simple/images/bg-scrollbar-thumb-y.png) no-repeat 50% 0; overflow: hidden; height: 5px; width: 25px; }
#video_live_archive_wrapper .disable { display: none; }
.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }


/* z */

.zc_top { margin-top: 20px; margin-bottom: 10px;}
.z_top {height: 90px;}

.zc_top_branding { margin-bottom: 20px;}
.z_top_branding {height: 250px;}

.zc_top_1 { margin-top: 10px; margin-bottom: 30px;}

.zc_top_2 { margin-top: 10px; margin-bottom: 30px;}

.zc_top_3 { margin-top: 10px; margin-bottom: 30px;}

.zc_rectangle_1 { margin-top: 10px; margin-bottom: 20px;}

.zc_rectangle_2 { margin-top: 10px; margin-bottom: 20px;}
