﻿.top_cont {
	width: 910px;
	height: 105px;
	background: url(/images/logo_n.gif) no-repeat center top;
	font-size: 20px;
	text-align: right;
	color: #808080;
	font-family: Tahoma;
}
.clear {
	clear: both;
	height: 0px;
	width: 0px;
}

.bottom_cont {
	display:inline-block;
	color: #808080;
	font-family: Tahoma;
	font-size: 12px;
	padding-top: 10px;
}

.top_text {
	float: right;
	font-family: Tahoma;
	margin-top: 70px;
	padding-right: 5px;
}

.no_border {
	border:solid 1px white;
}
	
.main_cont {
	width: 900px;
	border-top: solid 1px #808080;
	padding: 10px 0;
}

a {
	display:inline-block;
	text-decoration:none;
	color: #1c7ebc;
	height: 17px;
	font: 12px Arial;
	margin: 2px 0 0;
	padding-left: 20px;
	background:url(/images/flags_new.png) no-repeat left;
}

a:hover {
	text-decoration: underline;
}
.countries {
	margin-top: 20px;
	padding-bottom: 10px;
	border-bottom: solid 1px #808080; 
}
.l_al {
	text-align:left;
	width:25%;
	position:relative;
	padding-right: 10px;
	float: left;
}
.l_al.last {
	float:right;
	width: auto;
	padding-right: 0;
}
.l_al.prev {
	margin-left: 25px;
	width: auto;
}
.d_cont { display: inline-block; }

.jooble_bot * {
	color: #808080;
	font-family: tahoma;
	font-weight: normal;
}
.jooble_bot a {
	height: auto;
	font: inherit;
	margin: 0;
	padding: 0;
	background: none;
	text-decoration: underline;
}
.jooble_bot a:hover { text-decoration: none; }
.jooble_bot .main_cont { text-align: left; }

a.custom {
	background: none;
	color: #808080;
}