@charset "euc-jp";

/* =======================================================
#other
======================================================= */
#other .wakubox {
	border: 1px solid #a3b3d1;
}
#other p.profedit_info_txt_01 {
	text-align	:	left;
	font-size	:	110%;
	margin	:	0 0 0 20px;
}
#other table.othertable {
	margin	:	10px 10px 20px;
	background-color	:	#fff;
	border-collapse	:	separate;
	border-spacing	:	4px;
	width	:	98%;
}
#other table.othertable td{
	background-color	:	#eee;
	vertical-align	:	middle;
	text-align	:	left;
	padding	:	10px 10px 10px 30px;
}
#other table.othertable th {
	width	:	11em;
	padding-left	:	14px;
	padding-right:1em;
	color	:	#333;
	font-weight	:	bold;
	text-indent	:	5px;
	background-color	:	#e8eaf3;
	vertical-align	:	middle;
	font-size:16px;
}
#other .prof_edit_end {
	font-size:1.1em;
	line-height:1.5em;
}

#other .title_head {
	border: 2px solid #fff;
	background: url("../image/bg_user_add_title_head.png") repeat-x 0px 0px;
	height:31px;
}
#other .title_head h1 {
	text-align:left;
	color: #fff;
	font-weight: bold;
	font-size:16px;
	padding:7px 0 0 15px;
}

#other .personalinfo {
    background-color: #DDDDDD;
    border: 1px solid #CCCCCC;
    margin: 5px auto 15px;
    padding: 5px;
    width: 760px;
    text-align:left;
}
#other .personalinfo div {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    height: 200px;
    line-height: 1.3;
    margin: auto;
    overflow-y: scroll;
    padding: 10px;
}

#other .personalinfo b {
	display:block;
	margin: 0px 0px 5px 0px;
}
#other .personalinfo p {
	text-indent:1em;
	padding: 0px 0px 5px 0px;
	margin: 0px 0px 5px 0px;
	border-bottom: 1px dotted #cccccc;
}

#other input.button01 {
	width:120px ;
	height:30px;
	margin:5px 0;
}