@charset "euc-jp";

/* =======================================================
【cssデフォルトリセット】	reset.css
======================================================= */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,p,
form,fieldset,input,textarea,pre,blockquote,th,td {
	margin	:	0;
	padding	:	0;
}
html {
	overflow-y	:	scroll;
}
body{
	line-height	:	1.4;
}
h1,h2,h3,h4,h5,h6 {
	font-size	:	100%;
	font-weight	:	normal;
}
table {
	border-collapse	:	collapse;
	border-spacing	:	0;
}
ol,ul {
	list-style	:	none;
}
img {
	display	:	block;
	border	:	0;
}
fieldset {
	border	:	0;
}
caption,th {
	text-align	:	left;
}
address,caption,cite,code,dfn,em,th,var {
	font-style	:	normal;
	font-weight	:	normal;
}
abbr,acronym {
	border	:	0;
}

