@charset "euc-jp";


/*==============================================
目次
-----------------------------------------
■スタイル初期化
■共通指定
■アニメーション
■サイト全体の背景指定
■ヘッダー
■フッター
■共通ボックス
■共通メインタイトルバー
■共通コンテンツメインタイトルバー
■共通コンテンツタイトルバー
■共通タブ
■汎用的なリスト
■フロートするリスト
■リンクの矢印など
■戻るリンク
■もっと見るリンク
■共通フロートレイアウト
■共通テーブル
■共通ページャー
■共通ボタン
■共通フォーム
■共通コメント部分
■各種アイコン
■アバター画像サイズの指定
■共通ランキング
■ローダー
■スライドバナーボックス
■スライドバナーボックス
==============================================*/




/* =======================================================
0.5 basicの補てん
======================================================= */

/*
枠組 TOP
 */
#content #top_main{
	width				:	100%;
	float				:	right;
	margin-top			:	1em;
	margin-left			:	-220px;
}

#content #top_main .top_main_block{
	margin-left			:	240px;
	margin-bottom		:	20px;
}

#content #top_left_block{
	width				:	220px;
	float				:	right;
	margin-top			:	1em;
	margin-bottom		:	20px;
}



/* =======================================================
1. home　カラム
======================================================= */
/*----- 左メインカラム #main -----*/
body.home #main {
	float	:	left;
	width	:	640px;
	text-align	:	left;
}

/*----- 右サイドカラム #side -----*/
body.home #side {
	float	:	right;
	width	:	300px;
	padding	:	0 0 15px 0;
	text-align	:	left;
}


/*---------------------------------------
.top_newinfo_box お知らせ
---------------------------------------*/
.top_newinfo_box {
	border	:	1px solid #a3b3d1;
	margin-bottom	:	10px;
	text-align	:	left;
}
.top_newinfo_box dt {
	float	:	left;
	display	:	inline;
	/*padding	:	5px 0 1px 5px; 3件表示 */
	padding	:	2px 0 2px 5px;
}
.top_newinfo_box dd{
	float	:	left;
	display	:	inline;
	/*padding	:	2px 10px 2px 8px; 3件表示 */
	padding	:	5px 10px 5px 8px;
}
.top_newinfo_box dd p{
	width	:	550px;
	background	:	url("../image/mark_arrow_blue_01.gif") no-repeat 0 4px;
	padding-left	:	14px;
	/*line-height	:	1.5em; 3件表示 */
	line-height	:	1.8em;
	color	:	#444;
}

.top_newinfo_box dd strong{
	color	:	#f00;
}

.top_newinfo_box dd span{
	margin	:	0 6px;
}
.top_newinfo_box .mypage_new_box_newinfo dl dd a {
	color	:	#c00;
}

/*---------------------------------------
p.sp_nk_btn スマホへのリンク
---------------------------------------*/
p.sp_nk_btn{
	background-color: #999;
	padding:6px 0;
}
p.sp_nk_btn img.imgover{
	margin:0 auto;
	width:96%;
}

/*---------------------------------------
p.head_infommation ヘッダーお知らせ
---------------------------------------*/
p.head_infommation {
	position	:	absolute;
	top	:	8px;
	left	:	268px;
	display: block;
	line-height: 18px;
	font-size:13px;
}
p.head_infommation a em{
	color:#c00;
	font-weight:bold;
}
/*---------------------------------------
.Topic_TxtBox トップ告知ボックス
---------------------------------------*/
.Topic_TxtBox {
	position:relative;
	margin-top:-4px;
	margin-bottom:12px;
	margin-left: -2.3em;
	font-size:13px;
	text-align:left;
}
.Topic_TxtBox ul li {
	display:inline;
	margin-left: 2.3em;
}
.Topic_TxtBox ul li {
	background: url("../image/mark_arrow_blue_01.gif") 0% 50% no-repeat transparent;
	padding: 0 0 0 15px;
}
.Topic_TxtBox ul li em{
	color:#c00;
	font-weight:bold;
}




/*==============================================
■ニュース
　枠線・タイトル帯
　写真ニュース
　ニュース一覧
==============================================*/
/*---------------------------------------
枠線・タイトル帯
---------------------------------------*/
#main .netkeiba_news_block {
	margin	:	0 0 10px;
	padding	:	0 0 5px;
	border	:	#a3b3d1 1px solid;
	border-top	:	0 none;
}
#main .netkeiba_news_block .box_head {
	position	:	relative;
	height	:	28px;
	background	:	url("../image/home_content_bg_02.png") no-repeat 0 0;
	margin	:	0 0 6px;
}
#main .netkeiba_news_block .box_head h2 {
	position	:	absolute;
	top	:	-6px;
	left	:	2px;
}

/*---------------------------------------
TOPニュース
---------------------------------------*/
#main .netkeiba_news_block .top_news_block{
	padding:0 12px 4px;
}
#main .netkeiba_news_block .top_news_block h1{
	line-height:1.3;
	font-size:20px;
	font-weight:bold;
	padding:2px 0 4px;
}

/*---------------------------------------
写真ニュース
---------------------------------------*/
.netkeiba_news_block .Photo_Box{
  position:relative;
  margin-left:15px;
  display:inline;
  float:right;
  width:140px;
  border:1px solid #ccc;
  text-align:center;
}
.netkeiba_news_block .Photo_Box div{
  padding:5px;
}
.netkeiba_news_block .Photo_Box div img{
  width:130px;
  display:inline;
}
.netkeiba_news_block .Photo_Box div p{
  margin:0;
  text-align:left;
}

/*---------------------------------------
ニュース一覧
---------------------------------------*/
.netkeiba_news_block .NewsIndex_Box{
  position:relative;
  display:inline;
  float:left;
  width:370px;
}

#main .news_txt_box p{
	margin	:	0 0 8px;
	padding	:	0 ;
	line-height	:	1.6;
}

#main .news_list {
	margin	:	0 12px 4px;
}

.news_list .news_list_box ul.news_list_ul {
	margin	:	0;
	border-bottom: 1px dotted #999;
	margin: 0 0 6px;
	padding-left: 4px;
	padding-bottom: 4px;
}
#main .news_list .news_list_box ul.news_list_ul li{
	padding	:	1px 0;
	position	:	relative;
}
#main .news_list .news_list_box ul.news_list_ul li a{
	background	:	url("../image/mark_arrow_blue_01.gif") no-repeat left center;
	padding	:	0 0 0 15px;
}
#main .news_list .news_list_box ul.news_list_ul li a.premium_post{
	background	:	url("../image/icon_premium_post_01.png") no-repeat left center;
	padding	:	2px 0 2px 16px;
	margin-left:-1px;
}
#main .news_list .news_list_box ul.news_list_ul li span.date{
	color:#555;
}
#main .news_list .news_list_box ul li img {
	display	:	inline;
	vertical-align	:	middle;
}
#main .news_list .news_list_box ul p strong{
	color: #c00;
	background-color: #FFF2F2;
}

#main .news_list p.ListSortInfo {
	margin	:	0 ;
	padding	:	0 ;
	float	:	left;
}
#main .news_list p.more_link {

}


/*==============================================
■レース情報
　枠線・タイトル帯
　メインレース名
　競走馬写真
　レースメニュー
　その他の注目レース
==============================================*/
/*----------------------------------------------
枠線・タイトル帯
----------------------------------------------*/
#main .netkeiba_race_block {
	margin	:	0 0 10px;
	padding	:	0 0 10px;
	border	:	#a3b3d1 1px solid;
	border-top	:	0 none;
}
#main .netkeiba_race_block .box_head {
	position	:	relative;
	height	:	28px;
	background	:	url("../image/home_content_bg_02.png") no-repeat 0 0;
	margin	:	0 0 10px;
}
#main .netkeiba_race_block .box_head h2 {
	position	:	absolute;
	top	:	-3px;
	left	:	2px;
}

/*----------------------------------------------
メインレース名
----------------------------------------------*/
#main .netkeiba_race_block .race_head {
	margin	:	0 0 6px;
}
#main .netkeiba_race_block .MainRaceTitle_Box{
	margin:0 10px;
}
#main .netkeiba_race_block .MainRaceTitle_Box dl dt,
#main .netkeiba_race_block .MainRaceTitle_Box dl dd{
	display:inline;
	float:left;
	line-height:24px;
}
#main .netkeiba_race_block .MainRaceTitle_Box dl dt{
	padding-left:15px;
	background	:	url("../image/mark_arrow_blue_01.gif") left center no-repeat;
}
#main .netkeiba_race_block .MainRaceTitle_Box dl dt a{
	font-size:22px;
	font-weight:bold;
}
#main .netkeiba_race_block .MainRaceTitle_Box dl dt img {
	display	:	inline;
	vertical-align	:	bottom;
	margin	:	0 4px 0 4px;
}
#main .netkeiba_race_block .MainRaceTitle_Box dl dd {
	margin-left:10px;
}


/*----------------------------------------------
競走馬写真
----------------------------------------------*/
.netkeiba_race_block .Photo_Box{
	display:inline;
	float:left;
	margin-left:10px;
	width:266px;
}
.netkeiba_race_block .Photo_Box .Photo_Box_Inner{
	padding:7px;
	border:1px solid #cbd7ee;
	text-align:center;
	min-height:240px;
}
.netkeiba_race_block .Photo_Box .Photo_Box_Inner img{
	width:250px !important;
}
.netkeiba_race_block .Photo_Box .Photo_Box_Inner strong{
	color:#d00;
}
.netkeiba_race_block .Photo_Box .Photo_Box_Inner a{
	font-weight:bold;
}


/*----------------------------------------------
レースメニュー
----------------------------------------------*/
.netkeiba_race_block .RaceMenu_Box{
	display:inline;
	float:right;
	margin-right:10px;
	width:340px;
}
.netkeiba_race_block .RaceMenu_Box .RaceMenu_Body{
	padding:6px 0px 6px 8px;
	border:1px solid #c5D2ea;
	border-top:none;
	min-height:212px;
}
.netkeiba_race_block .special_tolink {
	text-align:right;
	margin-right: 8px;
}
/*----- タブ -----*/
.netkeiba_race_block .RaceMenu_Box .Common_Tab_Box{
	margin-bottom:0 !important;
}
.netkeiba_race_block .RaceMenu_Box .Common_Tab_Box ul{
	padding:0 !important;
}
.netkeiba_race_block .RaceMenu_Box .Common_Tab_Box ul li a{
	padding:0 7px !important; /*-タブの余白詰め -*/
}

/*----- チェックポイント -----*/
.RaceNaviBtn_Box ul{
  float:left;
  width:157px;
  margin-right:7px;
}
.RaceNaviBtn_Box ul li{
  margin-bottom:1px;
  height:45px;
  font-size:13px;
  vertical-align:bottom;
}
.RaceNaviBtn_Box ul li a{
  display:block;
  width:175px;
  height:45px;
  font-weight:bold;
  line-height:44px;
  background:url("../image/btn_special_racenavi.png") no-repeat 0 0;
}
.RaceNaviBtn_Box ul li a:hover,
.RaceNaviBtn_Box ul li a:active{
  background-position:0 -45px;
}
.RaceNaviBtn_Box ul.racebtn li span{
  display:block;
  padding-left:40px;
  background:url("../image/icon_racenuvi.png") no-repeat 3px 11px;
}
.RaceNaviBtn_Box ul.racebtn li a:hover span,
.RaceNaviBtn_Box ul.racebtn li a:active span{
  padding-top:1px;
}
.RaceNaviBtn_Box ul.racebtn li a:hover span.Icon_tokubetu,
.RaceNaviBtn_Box ul.racebtn li a:hover span.Icon_shutuba,
.RaceNaviBtn_Box ul.racebtn li a:active span.Icon_tokubetu,
.RaceNaviBtn_Box ul.racebtn li a:active span.Icon_shutuba{
  background-position:3px 12px !important;
}
.RaceNaviBtn_Box ul.racebtn li span.Icon_odds{
  background-position:3px -69px !important;
}
.RaceNaviBtn_Box ul.racebtn li a:hover span.Icon_odds,
.RaceNaviBtn_Box ul.racebtn li a:active span.Icon_odds{
  background-position:3px -68px !important;
}
.RaceNaviBtn_Box ul.racebtn li span.Icon_data{
  background-position:3px -109px !important;
}
.RaceNaviBtn_Box ul.racebtn li a:hover span.Icon_data,
.RaceNaviBtn_Box ul.racebtn li a:active span.Icon_data{
  background-position:3px -109px !important;
}
.RaceNaviBtn_Box ul.racebtn li span.Icon_yoso{
  background-position:3px -149px !important;
}
.RaceNaviBtn_Box ul.racebtn li a:hover span.Icon_yoso,
.RaceNaviBtn_Box ul.racebtn li a:active span.Icon_yoso{
  background-position:3px -148px !important;
}
.RaceNaviBtn_Box ul.racebtn li span.Icon_training{
  background-position:3px -189px !important;
}
.RaceNaviBtn_Box ul.racebtn li a:hover span.Icon_training,
.RaceNaviBtn_Box ul.racebtn li a:active span.Icon_training{
  background-position:3px -188px !important;
}
.RaceNaviBtn_Box ul.racebtn li span.Icon_comment{
  background-position:3px -229px !important;
}
.RaceNaviBtn_Box ul.racebtn li a:hover span.Icon_comment,
.RaceNaviBtn_Box ul.racebtn li a:active span.Icon_comment{
  background-position:3px -228px !important;
}
.RaceNaviBtn_Box ul.racebtn li span.Icon_result{
  background-position:3px -269px !important;
}
.RaceNaviBtn_Box ul.racebtn li a:hover span.Icon_result,
.RaceNaviBtn_Box ul.racebtn li a:active span.Icon_result{
  background-position:3px -268px !important;
}
.RaceNaviBtn_Box ul.racebtn li.nodata{
	position:relative;
  display:block;
  width:157px;
  height:45px;
  line-height:44px;
  background:url("../image/btn_special_racenavi.png") no-repeat 0 -90px;
}
.RaceNaviBtn_Box ul.racebtn li.nodata span{
  display:block;
  padding-left:40px;
  background:url("../image/icon_racenuvi.png") no-repeat 3px 11px;
  font-weight:bold;
  color:#777;
}
.RaceNaviBtn_Box ul.racebtn li.nodata em{
  position:absolute;
  bottom:6px;
  right:6px;
  color:#777;
  line-height:1.0;
  font-size:10px;

}

/*----- レースデータ(予想オッズ・オッズ・結果) -----*/
#main .netkeiba_race_block .Race_Data {
	margin-right:8px;
}
#main .netkeiba_race_block .Race_Data dl{
	margin-bottom:3px;
}
#main .netkeiba_race_block .Race_Data dl dt.data_title {
	margin	:	0 0 4px;
	background	:	url("../image/home_race_dt_bg_01.png") no-repeat top right;
	height	:	24px;
}
#main .netkeiba_race_block .Race_Data dl dt.data_title img {
	float	:	left;
}
#main .netkeiba_race_block .Race_Data dl dd li {
	padding	:	2px 0 !important;
	border-bottom: 1px dotted #bbb;
}
#main .netkeiba_race_block .Race_Data dl dd li dl {
	font-size	:	12px;
	padding	:	0 10px 0 24px;
	margin	:	0;
}
#main .netkeiba_race_block .Race_Data dl dd li.photo_pick dl {
	background	:	url("../image/icon_arrow_red_01.png") no-repeat 8px 3px;
}
#main .netkeiba_race_block .Race_Data dl dd li dl dt {
	float	:	left;
	margin	:	0 10px 0 0;
	padding	:	0;
}
#main .netkeiba_race_block .Race_Data dl dd li dl dt.horse_name {
	width	:	140px;
	margin	:	0 ;
}
#main .netkeiba_race_block .Race_Data dl dd li dl dd {
	text-align	:	right;
}

/*----- コラム -----*/
#main .netkeiba_race_block .Race_Column ul,
#main .netkeiba_race_block .Race_Column p{
	margin-right:6px !important;
}
#main .netkeiba_race_block .Race_Column .Info_Box{
	margin-right:6px !important;
	padding: 5px;
	background: #FDFFE4;
	border: #c1c49a 1px solid;
	font-size:12px;
	line-height:1.2;
}

#main .netkeiba_race_block .Race_Column ul dt.Link_Title a{
	display:block;
	padding-left:1.1em;
	background	:	url("../image/mark_arrow_blue_01.gif") no-repeat 0 4px;
}
#main .netkeiba_race_block .Race_Column ul dt.Link_Title a img{
	display:inline;
}
#main .netkeiba_race_block .Race_Column ul dd.Sub_Txt{
	padding-left:1.1em;
}

/*----- ステップレース -----*/
#main .netkeiba_race_block .Race_Step ul{
	margin-right:6px !important;
}
.Race_Step ul li{
	margin-bottom: 3px !important;
	padding-bottom: 1px !important;
}
.Race_Step .List_Inner_Box .Left_Box{
  display:inline;
  float:left;
  margin-left:0;
  width:72px;
  text-align:center;
}
.Race_Step .MovieThumb{
  width:.2px;
}
.Race_Step .MovieThumb a.OverMovie{
  width:72px;
  height:50px;
}
.Race_Step .List_Inner_Box .Right_Box{
  margin-left:77px;
  width:240px !important;
}
.Race_Step .List_Inner_Box .Right_Box dl dd{
  padding-bottom:2px;
  line-height:1.2;
}
.Race_Step .List_Inner_Box .Right_Box dl dd table{
  margin-left:30px;
}


/*----------------------------------------------
その他の注目レース
----------------------------------------------*/
.other_race {
	margin	:	10px 0 4px;
}
.other_race ul {
	margin	:	0 0 0 10px;
}
.other_race ul li{
	display	:	inline;
	float	:	left;
	width	:	202px;
	height	:	53px;
	margin-right	:	6px;
}
.other_race ul li a{
	position	:	absolute;
	display	:	block;
	width	:	203px;
	height	:	48px;
	background	:	url("../image/bg_top_otherrace.png") 0 0 no-repeat;
	font-size:12px;
}
.other_race ul li a:hover,
.other_race ul li a:active{
	margin-top	:	1px;
	text-decoration	:	none;
}
.other_race ul li a div{
	padding	:	5px 10px;
}
.other_race ul li a div strong{
	font-size	:	14px;
}
.other_race ul li a div img{
	display	:	inline;
	vertical-align	:	middle;
	margin	:	0 3px;
}
.other_race ul li a div span{
	color	:	#333;
}
.netkeiba_race_block ul.race_to_link {
	text-align	:	right;
	margin	:	0 10px;
}
.netkeiba_race_block ul.race_to_link li {
	display	:	inline;
	margin	:	0 0 0 10px;
}
.netkeiba_race_block ul.race_to_link li img {
	display	:	inline;
	vertical-align	:	middle;
}

/*---------------------------------------
#main .horsemanroom_block ホースマンルーム
---------------------------------------
body.home #main .horsemanroom_block {
	margin	:	0 0 14px;
	padding	:	0 0 10px;
	border	:	#a3b3d1 1px solid;
	border-top	:	0 none;
}
body.home #main .horsemanroom_block .box_head {
	position	:	relative;
	height	:	28px;
	background	:	url("../image/home_content_bg_02.png") no-repeat 0 0;
	margin	:	0 0 10px;
}
body.home #main .horsemanroom_block .box_head h2 {
	position	:	absolute;
	top	:	-6px;
	left	:	2px;
}
*/
#main .horsemanroom_block .horsemanroomBox {
	width:100%;
	padding:0;
	margin:0;
}
#main .horsemanroom_block .horsemanroomBox a {
	display:block;
}
#main .horsemanroom_block .horsemanroomBox div.horseman1banner{
	width:620px;
	margin:2px auto 10px;
	overflow:hidden;
}
#main .horsemanroom_block .horsemanroomBox ul.horseman3banner{
	width:620px;
	margin:0 auto 2px;
	overflow:hidden;
}
#main .horsemanroom_block .horsemanroomBox ul li {
	float:left;
	width:200px;
	margin-right:9px;
}
#main .horsemanroom_block .horsemanroomBox ul li:last-child {
	margin-right:0;
}

/*---------------------------------------
#main .horsemanroom_block ホースマンルーム改修
---------------------------------------*/
body.home #main .horsemanroom_block {
	margin	:	0 0 14px;
	padding	:	0 0 10px;
	border	:	#a3b3d1 1px solid;
	border-top	:	0 none;
}
body.home #main .horsemanroom_block .box_head {
	position	:	relative;
	height	:	28px;
	background	:	url("../image/home_content_bg_02.png") no-repeat 0 0;
	margin	:	0 0 10px;
}
body.home #main .horsemanroom_block .box_head h2 {
	position	:	absolute;
	top	:	-6px;
	left	:	2px;
}
/*-- TOPホースマンルーム .horsemanroom_block --*/
.HorsemanRoom_TopList {
	padding-left:10px;
}
.HorsemanRoom_TopList li {
	float:left;
	position: relative;
	margin-right:8px;
	margin-bottom:8px;
}
.HorsemanRoom_TopList li a {
	display:block;
}
.HorsemanRoom_TopList li a:hover {
	filter	:	alpha(opacity=65);
	opacity	:	0.65;
	-moz-opacity	:	0.65;
}
.HorsemanRoom_TopList li .ColumnImage{
	height: 120px;
	overflow: hidden;
	width: 200px;
}
.HorsemanRoom_TopList li .ColumnImage img{
	border:1px solid #000;
	width:198px;
	height:118px;
}
.HorsemanRoom_TopList li .ColumnTitle {
	background-color: rgba(0, 0, 0, 0.506);
	bottom: 0;
	color: #fff;
	display: block;
	padding: 0;
	position: absolute;
	width: 100%;
}
.HorsemanRoom_TopList li .ColumnTitle h3 {
	font-size:13px;
	font-weight:bold;
	padding:4px 4px 0;
}
.HorsemanRoom_TopList li .ColumnTitle p {
	text-align:right;
	font-size:13px;
	color:#ccc;
	padding:0 4px 4px;
}
.HorsemanListLink {
	text-align:right;
	padding:3px 10px; 
}
.HorsemanListLink li{
	display:inline;
	background: url("../image/mark_arrow_blue_01.gif") 0% 50% no-repeat transparent;
	padding: 0 0 0 15px;
	margin-left: 1em;
}




/*---------------------------------------
#main .yoso_rank_block No.1予想
---------------------------------------*/
body.home #main .yoso_rank_block {
	margin	:	0 0 10px;
	padding	:	0 0 10px;
	border	:	#a3b3d1 1px solid;
	border-top	:	0 none;
}
body.home #main .yoso_rank_block .box_head {
	position	:	relative;
	height	:	28px;
	background	:	url("../image/home_content_bg_02.png") no-repeat 0 0;
	margin	:	0 0 10px;
}
body.home #main .yoso_rank_block .box_head h2 {
	position	:	absolute;
	top	:	-10px;
	left	:	2px;
}

body.home #main .yoso_rank_block p.home_yoso_info {
	margin	:	12px 16px 6px;
}

body.home #main .yoso_rank_block ul.sort_rank_tab {
	margin	:	0 0 10px;
}
#main .yoso_rank_block p.ListSortInfo {
	margin	:	0 14px;
	padding	:	0 0 10px;
	float	:	left;
}
/* ==== ランキング ==== */
#main .yoso_rank_block ul.db_data_rank_list {
	padding-top	:	0px;
	margin	:	0 14px;
}
#main .yoso_rank_block ul.db_data_rank_list li {
	border-bottom	:	1px dotted #999;
	margin	:	0 0 6px;
	padding-left	:	4px;
}

#main .yoso_rank_block li dt.rank_data,
#main .yoso_rank_block li dt.rank_data_other {
	float	:	left;
	margin	:	0 10px 0 0;
}
#main .yoso_rank_block li dt.rank_data_other {
	display	:	block;
	width	:	36px;
	line-height	:	23px;
	background	:	#ddd;
	font-weight	:	bold;
	text-align	:	center;
}
#main .yoso_rank_block li .abt_image_box {
	float	:	left;
	margin	:	0 10px 0 0;
	padding-bottom	:	6px;
}
#main .yoso_rank_block li dd.rank_user p.yosoka_name {
	font-size	:	100%;
	font-weight	:	normal;
	margin	:	0 0 4px;
}
#main .yoso_rank_block li dd.rank_user p.yosoka_name a {
	font-weight	:	bold;
}
#main .yoso_rank_block li dd.rank_user p.yosoka_name strong {
	font-weight	:	bold;
	color	:	#c00;
	background-color	:	#fff2f2;
}
#main .yoso_rank_block li dd.rank_user p.main_hit {
	font-weight	:	normal;
}
#main .yoso_rank_block li dd.rank_user p.main_hit img {
	display	:	inline;
	vertical-align	:	middle;
}
#main .yoso_rank_block li dd.rank_user p.main_hit strong {
	font-weight	:	normal;
	color	:	#c00;
}


#main .yoso_rank_block p.detail_link {
	margin	:	3px 10px;
	text-align	:	right;
}

/*---------------------------------------
#main .netkeiba_column_block コラム
---------------------------------------*/

#main .netkeiba_column_block {
	margin	:	0 0 10px;
	padding	:	0 0 10px;
	border	:	#a3b3d1 1px solid;
	border-top	:	0 none;
}
#main .netkeiba_column_block .box_head {
	position	:	relative;
	height	:	28px;
	background	:	url("../image/home_content_bg_02.png") no-repeat 0 0;
	margin	:	0 0 10px;
}
#main .netkeiba_column_block .box_head h2 {
	position	:	absolute;
	top	:	-7px;
	left	:	2px;
}
#main .netkeiba_column_block p.home_column_info {
	margin	:	12px 16px 0;
}

/*----- .home_column_info_ul -----*/

#main ul.home_column_info_ul {
	margin	:	0 0 0 10px;
}
#main ul.home_column_info_ul li {
	width	:	202px;
	float	:	left;
	margin	:	0 5px 14px 0;
}
#main ul.home_column_info_ul li div {
	border	:	1px solid #a3b3d1;
}

#main ul.home_column_info_ul li div p.column_title {
	width	:	172px;
	background	:	url("../image/mark_arrow_blue_01.gif") no-repeat 7px 2px;
	padding	:	0 0 6px 23px;
	margin	:	6px 0 0;
}
#main ul.home_column_info_ul li div p.column_message{
	line-height:1.3em;
	padding	:	2px 0 0 4px;
	margin	:	3px 0 0;
}
#main ul.home_column_info_ul li div p.column_content{
	line-height:1.3em;
	padding	:	2px 0 0 4px;
	margin	:	3px 0 0;
	height:2.5em;
	overflow:hidden;
}
#main ul.home_column_info_ul li div p.column_content a{
	display:block;
	padding-left:1.1em;
	background	:	url("../image/mark_arrow_blue_01.gif") no-repeat 0 2px;
}
#main ul.home_column_info_ul li div p.writer_data{
	width	:	194px;
	padding	:	0 3px 6px;
	margin	:	6px 0 0;
	text-align	:	right;
	line-height:1.2;
	font-size	:	12px;
	color:#555;
}

/*----- .column_schedule -----*/
#main .column_schedule .cate_bar {
	background	:	url("../image/cate_h_bg_01.png") no-repeat top right;
	line-height	:	23px;
	margin	:	8px 8px 0;
}
#main .column_schedule .cate_bar h2{
	padding	:	0 0 0 24px;
	font-size	:	13px;
	font-weight	:	bold;
	background	:	url("../image/cate_h_bg_left_01.png") no-repeat 0 0;
}
#main .column_schedule .weekday_list {
	margin	:	10px;
}
#main .column_schedule .weekday_list ul li {
	float	:	left;
	background:#fff;
	border-top	:	1px solid #ccc;
	border-left	:	1px solid #ccc;
	border-bottom	:	1px solid #ccc;
}
#main .column_schedule .weekday_list ul li.last_child {
	border-right	:	1px solid #ccc;
}
#main .column_schedule .weekday_list ul li a {
	display	:	block;
	margin:1px;
	padding	:	4px 0;
	width	:	5em;
	text-decoration	:	none;
	color	:	#444;
	text-align	:	center;
}
#main .column_schedule .weekday_list ul li a:hover {
	background	:	#bcd5fe;
}
#main .column_schedule .weekday_list ul li a.active {
	font-weight	:	bold;
	background	:	#0851cd;
	color	:	#fff;
}
#main .column_schedule ul.column_list_ul {
	padding	:	0 0 0 12px;

}
#main .column_schedule ul.column_list_ul li {
	background	:	url("../image/mark_arrow_blue_01.gif") no-repeat 7px center;
	padding	:	0 0 0 23px;
	margin	:	6px 0;
	font-size	:	110%;
}

#main .netkeiba_column_block .SP_info_box{
	position:relative;
	margin:0 10px 0 10px;
	padding: 5px 190px 5px 10px;
	background: #FDFFE4;
	border: #c1c49a 1px solid;
}
#main .netkeiba_column_block .SP_info_box img.imgover{
	position:absolute;
	top:10px;
	right:10px;
}

#main .column_schedule  p.detail_link{
	margin	:	0 10px;
	text-align	:	right;
}
/*---------------------------------------
#main .netkeiba_paper_block 競馬新聞
---------------------------------------*/

#main .netkeiba_paper_block {
	position	:	relative;
	margin	:	0 0 10px;
	padding-bottom: 6px;
	border	:	#a3b3d1 1px solid;
	border-top	:	0 none;
}
#main .netkeiba_paper_block .box_head {
	position	:	relative;
	height	:	28px;
	background	:	url("../image/home_content_bg_02.png") no-repeat 0 0;
	margin	:	0 0 2px;
}
#main .netkeiba_paper_block .box_head h2 {
	position	:	absolute;
	top	:	-9px;
	left	:	2px;
	height	:	24px;
}
.Uma36_PRArea {
	padding:4px 6px 6px;
}
.Uma36_SliderBox {
	height: 281px;
}
#Uma36_SlideArea .slick-slide {
	position:relative;
	overflow:hidden;
}
/* 
 * 	ポインター
 */
#Uma36_SlideArea .slick-dots {
	height: 25px;
	margin: 6px 0;
	z-index: 5;
	border:6px solid #dcdcdc;
	background-image:url(../image/slider_btn_bg.png);
	background-position: left bottom;
	background-repeat:repeat-x;
	text-align:center;
	overflow:hidden;
}
#Uma36_SlideArea .slick-dots li { 
	cursor: pointer;
	float: none;
	left: 0;
	position: relative;
	display: inline-block;
	margin:0 3px;
}
#Uma36_SlideArea .slick-dots li button {
	border: 0;
	background: transparent;
	color: transparent;
	cursor: pointer;
	display: block;
	font-size: 0;
	line-height: 0;
	outline: none;
	width: 22px;
	height: 25px;
	padding: 0;
}
#Uma36_SlideArea .slick-dots li button:hover,
#Uma36_SlideArea .slick-dots li button:focus {
	outline: none;
}
#Uma36_SlideArea .slick-dots li .slick-pointer:before {
	content: " ";
	display: block;
	width: 22px;
	height: 25px;
	cursor: pointer;
	background:url(../image/rhinoslider-sprite.png) -88px 0 no-repeat;
	font-size: 10px;
	text-align: center;
	padding: 0;
	color: #333;
	text-decoration:none;
	-webkit-user-select:none;
	-moz-user-select:none;
	user-select:none;
	text-indent:-9633em;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#Uma36_SlideArea .slick-dots li.slick-active .slick-pointer:hover:before,
#Uma36_SlideArea .slick-dots li.slick-active .slick-pointer:focus:before {
	background:url(../image/rhinoslider-sprite.png) -88px -25px no-repeat;
}

#Uma36_SlideArea .slick-dots li.slick-active .slick-pointer:before {
	background:url(../image/rhinoslider-sprite.png) -88px -25px no-repeat;
}

/* Arrows */

#Uma36_SlideArea .slick-prev {
	bottom:0;
	left:6px;
}
#Uma36_SlideArea .slick-next {
	right:6px;
	bottom:0;
}
/* =======================================================
3. サイドカラム	#side
======================================================= */

#side .side_ad {
	margin	:	0 0 10px;
}

/*----- モバイル案内 -----*/
#side .top_mobileinfo {
	border	:	1px solid #a3b3d1;
	margin	:	0 0 15px;
}
#side .top_mobileinfo ul{
	padding	:	2px 0 4px 2px;
}
#side .top_mobileinfo ul li{
	display	:	inline;
	float	:	left;
	margin-right	:	3px;
}
/*----- 予想大会案内 -----*/
#side .top_yosocs {
	border	:	1px solid #a3b3d1;
	margin	:	0 0 15px;
}
#side .top_yosocs div.Banner_Box{
	padding	:	0 0 4px 2px;
}
#side .top_yosocs div.Banner_Box div{
	height	:	28px;
	background	:	url("../image/bg_yosocs_bord.png") 0 0 no-repeat;
	line-height	:	28px;
	text-align	:	center;
}
#side .top_yosocs div.Banner_Box div a{
	color	:	#ff0;
}


/*----- ホースマンVOICE .top_horsemenvoice -----*/
#side .top_horsemenvoice {
	border	:	1px solid #a3b3d1;
	margin	:	0 0 15px;
}

#side .top_horsemenvoice .ojyama_box {
	width	:	294px;
	margin	:	0 auto 10px ;
}

#side .top_horsemenvoice ul.voice_list {
	margin	:	auto;
}
#side .top_horsemenvoice ul.voice_list li img.writer_sam {
	float	:	left;
	margin	:	6px;
}
#side .top_horsemenvoice ul.voice_list li dl {
	width	:	220px;
	float	:	left;
	margin	:	6px 0 0;
	line-height	:	1;
}
#side .top_horsemenvoice ul.voice_list li dl dt {
	padding	:	0 4px;
}
#side .top_horsemenvoice ul.voice_list li dl dd {
	padding	:	6px 4px;
}
#side .top_horsemenvoice ul.voice_list li dl dd.time_data {
	border-top	:	1px dotted #999;
	text-align	:	right;
	padding	:	6px 4px;
}
#side .top_horsemenvoice ul.voice_list li dl dd img {
	display	:	inline;
	vertical-align	:	middle;
}
#side .top_horsemenvoice ul.voice_list li {
	margin	:	0 0 2px;
}


#side .top_horsemenvoice p.detail_link {
	margin	:	4px 6px;
}

/*----- コーヒーブレイク .coffee_area -----*/
#side .coffee_area {
	background	:	url("../image/coffee_bg_01.png") no-repeat left bottom;
	padding	:	0 0 4px;
	margin	:	0 0 20px;
}
#side .coffee_area .photo_area {
	background	:	url("../image/coffee_photo_bg_01.png") no-repeat 0 0;
	width	:	172px;
	padding	:	10px 0 0;
	float	:	right;
	margin	:	0 12px 0 0;
}

#side .coffee_area p {
	margin	:	0 16px;
	line-height	:	1.75;
}
#side .coffee_area .photo_area img {
	margin	:	0 0 0 9px;
}
#side .coffee_area .photo_area p {
	font-size	:	11px;
	text-align	:	left;
	margin	:	0;
	padding	:	6px 0 8px 12px;
	background	:	url("../image/coffee_photo_bg_01_bottom.png") no-repeat left bottom;
	line-height	:	1;
}
#side .coffee_area p.detail_link {
	margin	:	0 26px 16px;
	line-height	:	1;
}

/*----- netkeibaオススメサービス .recommend_service -----*/
body.home #side .recommend_service {
	border	:	1px solid #a3b3d1;
	margin	:	0 0 7px;
}
body.home #side .recommend_service ul {
	width	:	294px;
	margin	:	0 auto 2px ;
}
body.home #side .recommend_service ul li {
	padding	:	0 0 10px;
	line-height	:	0;
}
body.home #side .recommend_service ul li a {
	line-height	:	normal;
}


/*----- プロモエリア .promo_area -----*/
#side .promo_area {
	margin	:	0 0 10px;
}



/*----- ランキングリア .side_box_01 .side_box_02 -----*/

#side .db_rank_01 ul.sort_menu {
	margin	:	0 7px;
}
#side .db_rank_01 ul.sort_menu li{
	float	:	left;
	padding	:	0;
	margin	:	0 2px;
	font-size	:	13px;
	display	:	inline;
	width	:	68px;
	height	:	27px;
}

#side .db_rank_01 ul.sort_menu li a {
	display	:	block;
	width	:	68px;
	background	:	url("../image/tab_side_db_02.png") no-repeat 0 0;
	height	:	0pt;
	overflow	:	hidden;
	padding-top	:	27px;
}

body.home #side .side_box_01 {
	background	:	url("../image/side_rank_03_bg.png") repeat 0 0;
	border-bottom	:	1px solid #a3b3d1;
}
body.home #side .side_box_02 {
	background	:	url("../image/side_rank_04_bg.png") no-repeat left bottom;
}

body.home #side .side_box_01 .head_box {
	background	:	url("../image/side_rank_03_head_bg.png") repeat 0 0 !important;
}
body.home #side .side_box_02 .head_box {
	background	:	url("../image/side_rank_04_head_bg.png") repeat 0 0 !important;
}

body.home #side .side_rank dl.rank_name dd{
	float	:	left;
	padding	:	auto;
}



body.home #side p.ListSortInfo {
	margin	:	6px 10px;
	font-size	:	12px;
	color	:	#555;
}
body.home #side .db_rank_01 ul.rank {
	margin	:	5px 10px;
}
body.home #side .db_rank_01 ul.rank li {
	display	:	block;
	margin	:	0 0 6px;
	font-size	:	12px;
	border-bottom	:	1px dotted #888;
}
body.home #side .db_rank_01 ul.rank li img.horse_photo {
	display	:	inline;
	float	:	left;
}
body.home #side .db_rank_01 ul.rank li dl {
	float	:	right;
	width	:	194px;
}
#side .side_box_01 ul.rank li dt,
#side .side_box_02 ul.rank li dt {
	display	:	block;
	float	:	left;
	margin	:	1px 6px 0 0 ;
}
#side .side_box_01 ul.rank li dd,
#side .side_box_02 ul.rank li dd {
	line-height	:	18px;
}
#side .side_box_01 ul.rank li p {
	text-align	:	right;
}
#side .side_box_02 ul.rank li p {
	width	:	auto;
}


#side .db_rank_01 ul.rank li dt img {
	display	:	inline;
}

#side .side_box_02 ul.rank li dd {
	line-height	:	23px;
}
body.home #side .db_rank_01 p.detail_link {
	margin	:	5px 10px;
}

#side .side_box_01 ul.rank li dd p.score {
	width	:	auto;
}
#side .side_box_01 ul.rank li dd p.score span {
	display	:	inline-block;
	line-height	:	16px;
	padding	:	0 0 0 73px;
	background	:	url("../image/db_icon_star_small.png") no-repeat 0 -160px;
}
#side .side_box_01 ul.rank li dd p.score span.s_star05 {
	background-position	:	0 -144px;
}
#side .side_box_01 ul.rank li dd p.score span.s_star10 {
	background-position	:	0 -128px;
}
#side .side_box_01 ul.rank li dd p.score span.s_star15 {
	background-position	:	0 -112px;
}
#side .side_box_01 ul.rank li dd p.score span.s_star20 {
	background-position	:	0 -96px;
}
#side .side_box_01 ul.rank li dd p.score span.s_star25 {
	background-position	:	0 -80px;
}
#side .side_box_01 ul.rank li dd p.score span.s_star30 {
	background-position	:	0 -64px;
}
#side .side_box_01 ul.rank li dd p.score span.s_star35 {
	background-position	:	0 -48px;
}
#side .side_box_01 ul.rank li dd p.score span.s_star40 {
	background-position	:	0 -32px;
}
#side .side_box_01 ul.rank li dd p.score span.s_star45 {
	background-position	:	0 -16px;
}
#side .side_box_01 ul.rank li dd p.score span.s_star50 {
	background-position	:	0 0;
}

/*----- サイドソート画像 	#side ul.sort_menu -----*/
#side .db_rank_01 ul.sort_menu li.ninki a {
	background-position	:	0 0;
}
#side .db_rank_01 ul.sort_menu li.comment a {
	background-position	:	-68px 0;
}
#side .db_rank_01 ul.sort_menu li.rating a {
	background-position	:	-136px 0;
}

#side .db_rank_01 ul.sort_menu li.ninki a:hover {
	background-position	:	0 -27px;
}
#side .db_rank_01 ul.sort_menu li.comment a:hover {
	background-position	:	-68px -27px;
}
#side .db_rank_01 ul.sort_menu li.rating a:hover {
	background-position	:	-136px -27px;
}

#side .db_rank_01 ul.sort_menu li.ninki a.active {
	background-position	:	0 -54px;
}
#side .db_rank_01 ul.sort_menu li.comment a.active {
	background-position	:	-68px -54px;
}
#side .db_rank_01 ul.sort_menu li.rating a.active {
	background-position	:	-136px -54px;
}


/*----- ご意見箱 .goiken_form_area -----*/

body.home #side .goiken_form_area {
	background	:	url("../image/side_rank_04_bg.png") no-repeat left bottom;
	padding	:	0 0 6px;
	margin	:	0 0 15px;
	zoom	:	1;
}
body.home #side .goiken_form_area .head_box {
	position	:	relative;
	width	:	300px;
	height	:	45px;
}
body.home #side .goiken_form_area .head_box h2 {
	position	:	absolute;
	top	:	0;
	left	:	-6px;
	width	:	306px;
	height	:	45px;
}
body.home #side .goiken_form_area textarea {
	color	:	#444;
	width	:	262px;
	height	:	100px;
	margin	:	6px 0 6px 10px;
	padding	:	6px;
	border	:	1px solid #aaa;
	border-top	:	1px solid #888;
	border-left	:	1px solid #888;
	background	:	url("../image/form_textarea_bg_01.png") no-repeat 0 0;
}
body.home #opi_btn {
	width	:	150px;
	margin	:	0 0 0 75px;
	text-align	:	center;
	cursor: default;
}
body.home #opi_btn.imgover:hover {
	filter: alpha(opacity=65);
	opacity: 0.65;
	-moz-opacity: 0.65;
}
body.home #side .goiken_form_area input[type="checkbox"] {
	display: block;
	float: left;
	margin: 2px 0 0 10px;
}
body.home #side .goiken_form_area input[type="checkbox"] + span {
	display: block;
	overflow: hidden;
	padding: 2px 10px 4px 6px;
	font-size: 12px;
	line-height: 1.3;
}
body.home #side .goiken_form_area #opinion p {
	margin	:	10px 14px 0;
}
body.home #side .goiken_form_area .faq_link {
	margin	:	6px 12px 0;
	padding	:	0 0 6px;
}
body.home #side .goiken_form_area .faq_link p {
	padding	:	6px;
	background-color	:	#f4f9eb;
	border	:	1px solid #d8e1bf;
	color	:	#666;
	text-align	:	left;
	line-height	:	1.3;
}
body.home #side .goiken_form_area .faq_link p a {
	font-weight	:	bold;
}

/*---------------------------------------
スライドバナーボックス
---------------------------------------*/
.top_slideimage_box {
	border: 1px solid #A3B3D1;
	margin: 0 0 15px;
}
.slider_box {
	margin: 0 0 2px 2px;
	height: 266px;
	width:294px;
	background:url(../image/slider_btn_bg.png) left bottom repeat-x;
	overflow:hidden;
}
#SlideArea .slick-slide {
	position:relative;
	overflow:hidden;
}
#SlideArea .slick-slide img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
#SlideArea ..slick-slide:hover img {
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}

/* Slider */
.slick-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}
.slick-list {
	position: relative;
	overflow: hidden;
	display: block;
	margin: 0;
	padding: 0;
}
.slick-list:focus {
	outline: none;
}
.slick-loading .slick-list {
	background: #fff url("./ajax-loader.gif") center center no-repeat;
}
.slick-list.dragging {
	cursor: pointer;
	cursor: hand;
}
.slick-slider .slick-track {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.slick-track { position: relative; left: 0; top: 0; display: block; }
.slick-track:before, .slick-track:after { content: ""; display: table; }
.slick-track:after { clear: both; }
.slick-loading .slick-track { visibility: hidden; }

.slick-slide { float: left; height: 100%; min-height: 1px; display: none; }
.slick-slide img { display: block; }
.slick-slide.slick-loading img { display: none; }
.slick-slide.dragging img { pointer-events: none; }
.slick-initialized .slick-slide { display: block; }
.slick-loading .slick-slide { visibility: hidden; }
.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }

/* Arrows */
.slick-prev,
.slick-next {
	position: absolute;
	display: block;
	width:44px;
	height:25px;
	line-height: 0;
	font-size: 0;
	cursor: pointer;
	background: transparent;
	color: transparent;
	padding: 0;
	border: none;
	outline: none;
	bottom:0;
	z-index: 10;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
	outline: none;
	background: transparent;
	color: transparent;
}
.slick-prev:hover:before,
.slick-next:hover:before {
	opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
	opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
	display:block;
	position: absolute;
	top: 0;
	left: 0;
	content: " ";
	width:44px;
	height:25px;
	font-size: 0;
	line-height: 0;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.slick-prev {
	bottom:0;
	left:0;
}
.slick-prev:before {
	background:url(../image/rhinoslider-sprite.png) 0 0 no-repeat;
	background-position:0 0;
}
.slick-next {
	right:2px;
	bottom:0;
}
.slick-next:before {
	background:url(../image/rhinoslider-sprite.png) 0 0 no-repeat;
	background-position:-44px 0;
}
.slick-prev:hover:before { background-position:0 -25px; }
.slick-next:hover:before { background-position:-44px -25px; }

/* 
 * 	ポインター
 */
#SlideArea .slick-dots {
	bottom: 0px;
	float: left;
	height: 25px;
	left: 50%;
	margin: 0px;
	padding: 0px;
	position: absolute;
	z-index: 5;
}
.slick-dots li { 
	cursor: pointer;
	float: left;
	left: -50%;
	position: relative;
}
.slick-dots li button {
	border: 0;
	background: transparent;
	color: transparent;
	cursor: pointer;
	display: block;
	font-size: 0;
	line-height: 0;
	outline: none;
	width: 22px;
	height: 25px;
	padding: 0;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
	outline: none;
}
.slick-dots li .slick-pointer:before {
	content: " ";
	display: block;
	width: 22px;
	height: 25px;
	cursor: pointer;
	background:url(../image/rhinoslider-sprite.png) -88px 0 no-repeat;
	font-size: 10px;
	text-align: center;
	padding: 0;
	color: #333;
	text-decoration:none;
	-webkit-user-select:none;
	-moz-user-select:none;
	user-select:none;
	text-indent:-9633em;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active .slick-pointer:hover:before,
.slick-dots li.slick-active .slick-pointer:focus:before {
	background:url(../image/rhinoslider-sprite.png) -88px -25px no-repeat;
}

.slick-dots li.slick-active .slick-pointer:before {
	background:url(../image/rhinoslider-sprite.png) -88px -25px no-repeat;
}
/* 枚数コントロールボタン 
.rhino-bullets {
	position: absolute;
	width:156px;
	height:25px;
	left:50%;
	bottom:0;
	z-index: 5;
	margin:0;
	padding:0;
	float:left;
}

.rhino-bullets li {
	position:relative;
	left:-50%;
	float:left;
}

.rhino-bullets li a.rhino-bullet {
	display: block;
	width: 22px;
	height: 25px;
	cursor: pointer;
	background:url(../image/rhinoslider-sprite.png) -88px 0 no-repeat;
	font-size: 10px;
	text-align: center;
	padding: 0;
	color: #333;
	text-decoration:none;
	-webkit-user-select:none;
	-moz-user-select:none;
	user-select:none;
	text-indent:-9633em;
}

.rhino-bullets li a.rhino-bullet:hover, .rhino-bullets li a.rhino-bullet:focus {
	background:url(../image/rhinoslider-sprite.png) -88px -25px no-repeat;
}

.rhino-bullets li a.rhino-bullet.rhino-active-bullet {
	background:url(../image/rhinoslider-sprite.png) -88px -25px no-repeat;
}
*/

<!--
/*-- RSS・ソーシャルメディア --*/
#side .SocialInfoBox {
border	:	1px solid #a3b3d1;
margin	:	0 0 15px;
}
#side .SocialInfoBox h2{
position	:	relative;
height	:	23px;
background	:	url("/style/netkeiba.ja/image/side_content_bg_02.png") repeat 0 0;
margin	:	2px;
padding-left:3px;
}
#side .SocialInfoBox ul{
margin:2px;
}
#side .SocialInfoBox ul li{
border-bottom:1px dotted #888;
padding:8px;
}
#side .SocialInfoBox ul li:first-child{
padding-top:6px;
}
#side .SocialInfoBox ul li:last-child{
border-bottom:0 none;
}
#side .SocialInfoBox ul li img.SocialImg01 {
float:left;
}
#side .SocialInfoBox ul dl{
padding-left:121px;
}
#side .SocialInfoBox ul dl dt{
line-height:1.4;
margin-bottom:8px;
font-size:12px;
}
#side .SocialInfoBox ul dl dd{
text-align:left;
}
#side .SocialInfoBox ul dl dd iframe{
margin:0;
}
a.SocialTxtBtn01 {
display:inline-block;
border-radius: 2px;
border: 1px solid #ccc;
color: #333;
font-weight: bold;
background: #f5f5f5;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0.95, #d9d9d9), color-stop(0.00, #f8f8f8));
background: -webkit-linear-gradient(top, #f8f8f8 0%, #d9d9d9 95%);
background: -moz-linear-gradient(top, #f8f8f8 0%, #d9d9d9 95%);
background: -o-linear-gradient(top, #f8f8f8 0%, #d9d9d9 95%);
background: -ms-linear-gradient(top, #f8f8f8 0%, #d9d9d9 95%);
background: linear-gradient(top, #f8f8f8 0%, #d9d9d9 95%);
-pie-background: linear-gradient(top, #f8f8f8 0%, #d9d9d9 95%);
position: relative;
text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.506);
padding: 4px 6px;
}
-->
</style>



/* =======================================================
0. キーワード広告 .ad_words_box
======================================================= */
.ad_words_box {
	border	:	1px solid #ccc;
	padding	:	10px;
	margin-bottom:10px;
}
.ad_words_box dl {
}
.ad_words_box dl dt {
	float	:	left;
	margin	:	0 40px 0 0;
	font-weight	:	bold;
}
.ad_words_box dl dd li {
	float	:	left;
	margin	:	0 40px 0 0;
}


/*======================================
0.レース速報 .RaceLiveFlashBox
======================================*/
#RaceFlash {
	min-height:120px;
	background:url("../image/gif-load.gif") no-repeat center center;
}
.RaceLiveFlashBox {
	margin	:	0 0 10px;
	padding	:	0 0 5px;
	border	:	#a3b3d1 1px solid;
	border-top	:	0 none;
	background:#fff;
}
.RaceLiveFlashBox .box_head {
	position	:	relative;
	height	:	28px;
	background	:	url("../image/home_content_bg_02.png") no-repeat 0 0;
	margin	:	0 0 6px;
}
.RaceLiveFlashBox .box_head h2 {
	position	:	absolute;
	top	:	-12px;
	left	:	2px;
}
.RaceLiveFlashBox ul li{
	width	:	200px;
	background	:	#e6e6e6;
	float	:	left;
	padding	:	0 0 3px;
	margin-left:9px;
}
.RaceLiveFlashBox ul.Kaisai_2col li{
	width	:	305px;
}
.RaceLiveFlashBox ul li dt.race_top_hold_data{
	background	:	url("../image/race_top_hold_data.png") 0 0;
	padding	:	5px 6px 0;
	margin	:	3px 3px 0;
	position:relative;
}
.RaceLiveFlashBox span.Jyomei {
	font-size:110%;
	font-weight:bold;
	color:#333;
}
.RaceLiveFlashBox span.Condition {
	display:block;
	position:absolute;
	top:3px;
	right:2px;
	font-size:13px;
	text-align:right;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #fff;
	border:1px solid #e6e6e6;
	padding:1px 6px;
}
.RaceLiveFlashBox span.Tenki img{
	display:inline;
	vertical-align:middle;
}
.RaceLiveFlashBox span.DirtCondi {
	color: #633;
}
.RaceLiveFlashBox span.TurfCondi {
	color: #060;
}
.RaceLiveFlashBox ul li dd.race_top_data {
	background	:	#fff;
	margin	:	3px 3px 0;
	border	:	1px solid #ccc;
}
.race_top_data dl {
	padding: 4px 0px;
	position: relative;
}
.race_top_data .Num{
	float:left;
	display:block;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color:#fff;
	line-height:1.2;
	text-align:center;
	margin: 0 6px;
	padding:2px 0;
	width:40px;
}
.Hassou .Num{
	background:#5885d4;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#9eb8e6),to(#5885d4));
	background-image: -webkit-linear-gradient(top,#9eb8e6,#5885d4);
	background-image: -moz-linear-gradient(top,#9eb8e6,#5885d4);
	background-image: -ms-linear-gradient(top,#9eb8e6,#5885d4);
	background-image: -o-linear-gradient(top,#9eb8e6,#5885d4);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#9eb8e6', endColorstr='#5885d4',GradientType=0 )";
	background-image: linear-gradient(top,#9eb8e6,#5885d4);
	border:1px solid #5885d4;
}
.Kekka .Num{
	background:#5885d4;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#dc7e7e),to(#e34848));
	background-image: -webkit-linear-gradient(top,#dc7e7e,#e34848);
	background-image: -moz-linear-gradient(top,#dc7e7e,#e34848);
	background-image: -ms-linear-gradient(top,#dc7e7e,#e34848);
	background-image: -o-linear-gradient(top,#dc7e7e,#e34848);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#dc7e7e', endColorstr='#e34848',GradientType=0 )";
	background-image: linear-gradient(top,#dc7e7e,#e34848);
	border:1px solid #e34848;
}
.race_top_data .Num p.RaceNum {
	font-weight:bold;
	font-size:14px;
}
.race_top_data .Num p.RaceStartTime {
}
.race_top_data a {
	text-decoration:none;
	display:block;
	position:relative;
	height:100%;
}
.race_top_data a:hover{
	text-decoration:none;
	background:#ffffd4;
}
p.RaceName {
	font-weight:bold;
}
p.RaceData {
	color: #444;
	font-size: 12px;
	margin: 0 4px 0 0;
	text-align: right;
}
a p.RaceData:hover {

}

/*--レースのグレードアイコン*/
.Icon_Grade{
	display:inline-block;
	height:16px;
	margin:0 0 -3px 6px;
	padding:0 0 0 28px;
	background: url(../image/common/Icon_RaceRank_01.png?140818);
	background-repeat:no-repeat;
}
.Icon_G1{
	background-position:0 0;
}
.Icon_G2{
	background-position:0 -20px;
}
.Icon_G3{
	background-position:0 -40px;
}
.Icon_G{
	background-position:0 -60px;
}
.Icon_Open{
	background-position:0 -80px;
}
.Icon_Un1600{
	height:17px;
	background-position:0 -100px;
	padding:0 0 0 34px;
}
.Icon_Un1000{
	height:17px;
	background-position:0 -120px;
	padding:0 0 0 34px;
}
.Icon_Un900{
	height:17px;
	background-position:0 -140px;
	padding:0 0 0 34px;
}
.Icon_Un500{
	height:17px;
	background-position:0 -160px;
	padding:0 0 0 34px;
}
.Icon_JG1{
	background-position:0 -180px;
}
.Icon_JG2{
	background-position:0 -200px;
}
.Icon_JG3{
	background-position:0 -220px;
}