.jcarousel-wrapper {
    margin: 0px 5px;
    position: relative;

}

/** Carousel **/

.jcarousel {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    width: 1225px !important;
padding:0 20px 15px 45px ;
  float: left;

}



/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    top: 50%;
    margin-top: -35px;
    width: 25px;
    height: 110px;
    text-align: center;
z-index:9999;
font-size:0px;
    text-decoration: none;


}

.jcarousel-control-prev {
    left: -4px;
  background-image:url(http://www.watchmygf.me/images/video-slider-prev.png);
background-repeat:no-repeat;
background-position:center center;
}

.jcarousel-control-next {
    right: 3px;
    background-image:url(http://www.watchmygf.me/images/video-slider-next.png);
background-repeat:no-repeat;
background-position:center center;
}

/** Carousel Pagination **/

.jcarousel-pagination {
    position: absolute;
    bottom: -40px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    margin: 0;
}

.jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;

    font-size: 11px;
    height: 10px;
    width: 10px;
    line-height: 10px;

    background: #fff;
    color: #4E443C;
    border-radius: 10px;
    text-indent: -9999px;

    margin-right: 7px;


    -webkit-box-shadow: 0 0 2px #4E443C;
    -moz-box-shadow: 0 0 2px #4E443C;
    box-shadow: 0 0 2px #4E443C;
}

.jcarousel-pagination a.active {
    background: #4E443C;
    color: #fff;
    opacity: 1;

    -webkit-box-shadow: 0 0 2px #F0EFE7;
    -moz-box-shadow: 0 0 2px #F0EFE7;
    box-shadow: 0 0 2px #F0EFE7;
}





