@font-face {
	font-family: 'icons';
	src:url('fonts/icons.eot?v85eie');
	src:url('fonts/icons.eot?v85eie#iefix') format('embedded-opentype'),
		url('fonts/icons.ttf?v85eie') format('truetype'),
		url('fonts/icons.woff?v54eie') format('woff'),
		url('fonts/icons.svg?v85eie#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icons' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-serienfilm_vert:before {
	content: "\e901";
}
.icon-giga-serienfilme-typogram-hori:before {
	content: "\e900";
}
.icon-giga-windows:before {
	content: "\e613";
}
.icon-giga-software:before {
	content: "\e600";
}
.icon-giga-film:before {
	content: "\e601";
}
.icon-giga-games:before {
	content: "\e602";
}
.icon-giga-android:before {
	content: "\e603";
}
.icon-giga-apple:before {
	content: "\e604";
}
.icon-giga:before {
	content: "\e605";
}
.icon-sketch-arrow-left-flip:before {
	content: "\e801";
}
.icon-sketch-arrow-left:before {
	content: "\e802";
}
.icon-sketch-arrow-right-flip:before {
	content: "\e803";
}
.icon-sketch-arrow-right:before {
	content: "\e800";
}
.icon-giga-shop-typogram:before {
	content: "\e616";
}
.icon-giga-stagr-typogram:before {
	content: "\e615";
}
.icon-giga-windows-typogram:before {
	content: "\e614";
}
.icon-giga-tech-typogram:before {
	content: "\e902";
}
.icon-rss-circle:before {
	content: "\e60b";
}
.icon-googleplus-circle:before {
	content: "\e60c";
}
.icon-youtube-circle:before {
	content: "\e60d";
}
.icon-facebook-circle:before {
	content: "\e60e";
}
.icon-twitter-circle:before {
	content: "\e60f";
}
.icon-giga-typogram:before {
	content: "\e610";
}
.icon-giga-software-typogram:before {
	content: "\e606";
}
.icon-giga-film-typogram:before {
	content: "\e607";
}
.icon-giga-android-typogram:before {
	content: "\e608";
}
.icon-giga-apple-typogram:before {
	content: "\e609";
}
.icon-giga-games-typogram:before {
	content: "\e60a";
}
.icon-mail:before {
	content: "\e002";
}
.icon-ribbon:before {
	content: "\e009";
}
.icon-clock:before {
	content: "\e014";
}
.icon-video:before {
	content: "\e018";
}
.icon-printer:before {
	content: "\e020";
}
.icon-cog:before {
	content: "\e023";
}
.icon-heart:before {
	content: "\e024";
}
.icon-search:before {
	content: "\e036";
}
.icon-zoom-in:before {
	content: "\e037";
}
.icon-zoom-out:before {
	content: "\e038";
}
.icon-circle-plus:before {
	content: "\e040";
}
.icon-circle-minus:before {
	content: "\e041";
}
.icon-circle-check:before {
	content: "\e042";
}
.icon-circle-cross:before {
	content: "\e043";
}
.icon-square-plus:before {
	content: "\e044";
}
.icon-square-minus:before {
	content: "\e045";
}
.icon-square-check:before {
	content: "\e046";
}
.icon-square-cross:before {
	content: "\e047";
}
.icon-cloud-upload:before {
	content: "\e066";
}
.icon-cloud-download:before {
	content: "\e067";
}
.icon-user:before {
	content: "\e074";
}
.icon-comment:before {
	content: "\e076";
}
.icon-arrow-left:before {
	content: "\e094";
}
.icon-arrow-right:before {
	content: "\e095";
}
.icon-arrow-up:before {
	content: "\e096";
}
.icon-arrow-down:before {
	content: "\e097";
}
.icon-volume:before {
	content: "\e098";
}
.icon-mute:before {
	content: "\e099";
}
.icon-grid:before {
	content: "\e102";
}
.icon-flag:before {
	content: "\e108";
}
.icon-maximize:before {
	content: "\e112";
}
.icon-minimize:before {
	content: "\e113";
}
.icon-plus:before {
	content: "\e114";
}
.icon-minus1:before {
	content: "\e115";
}
.icon-check:before {
	content: "\e116";
}
.icon-cross:before {
	content: "\e117";
}
.icon-menu:before {
	content: "\e120";
}
.icon-skip-back:before {
	content: "\e050";
}
.icon-rewind:before {
	content: "\e051";
}
.icon-play1:before {
	content: "\e052";
}
.icon-pause:before {
	content: "\e053";
}
.icon-stop:before {
	content: "\e054";
}
.icon-fast-forward:before {
	content: "\e055";
}
.icon-skip-forward:before {
	content: "\e056";
}
.icon-shuffle:before {
	content: "\e057";
}
.icon-repeat:before {
	content: "\e058";
}
.icon-search2:before {
	content: "\f002";
}
.icon-envelope-alt:before {
	content: "\f003";
}
.icon-star:before {
	content: "\f005";
}
.icon-star-empty:before {
	content: "\f006";
}
.icon-ok:before {
	content: "\f00c";
}
.icon-time:before {
	content: "\f017";
}
.icon-play-circle:before {
	content: "\f01d";
}
.icon-camera:before {
	content: "\f030";
}
.icon-share-square-o:before {
	content: "\f045";
}
.icon-play:before {
	content: "\f04b";
}
.icon-chevron-left:before {
	content: "\f053";
}
.icon-chevron-right:before {
	content: "\f054";
}
.icon-remove-sign:before {
	content: "\f057";
}
.icon-ok-sign:before {
	content: "\f058";
}
.icon-info-sign:before {
	content: "\f05a";
}
.icon-ok-circle:before {
	content: "\f05d";
}
.icon-ban:before {
	content: "\f05e";
}
.icon-arrow-right1:before {
	content: "\f061";
}
.icon-minus:before {
	content: "\f068";
}
.icon-eye-open:before {
	content: "\f06e";
}
.icon-comment1:before {
	content: "\f075";
}
.icon-chevron-up:before {
	content: "\f077";
}
.icon-chevron-down:before {
	content: "\f078";
}
.icon-shopping-cart:before {
	content: "\f07a";
}
.icon-folder-open:before {
	content: "\f07c";
}
.icon-external-link:before {
	content: "\f08e";
}
.icon-sign-in:before {
	content: "\f090";
}
.icon-twitter:before {
	content: "\f099";
}
.icon-facebook1:before {
	content: "\f09a";
}
.icon-rss:before {
	content: "\f09e";
}
.icon-hand-o-right:before {
	content: "\f0a4";
}
.icon-arrow-circle-right:before {
	content: "\f0a9";
}
.icon-arrow-circle-down:before {
	content: "\f0ab";
}
.icon-bars:before {
	content: "\f0c9";
}
.icon-googleplus:before {
	content: "\f0d5";
}
.icon-caret-down:before {
	content: "\f0d7";
}
.icon-caret-up:before {
	content: "\f0d8";
}
.icon-envelope:before {
	content: "\f0e0";
}
.icon-comments-o:before {
	content: "\f0e6";
}
.icon-quote-left:before {
	content: "\f10d";
}
.icon-quote-right:before {
	content: "\f10e";
}
.icon-spinner:before {
	content: "\f110";
}
.icon-mail-reply:before {
	content: "\f112";
}
.icon-external-link-square:before {
	content: "\f14c";
}
.icon-thumbs-up:before {
	content: "\f164";
}
.icon-thumbs-down:before {
	content: "\f165";
}
.icon-youtube-play:before {
	content: "\f16a";
}
.icon-download:before {
	content: "\e611";
}
.icon-facebook:before {
	content: "\e612";
}

