/*
Theme Name: mp3theme
Theme URI: http://gofuckyourself.com/
Description: Amazing Theme for Music Download
Author: Anonymous
Version: 1.3
License: GNU General Public License (Only apply for php files on this theme, NOT css and images=
Tags: amazing, download, engine
*/

/* CSS Document */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/*
#href:http://localhost/jinfo_v2/wp-content/themes/mp3theme/tophp.php
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, cite, code,
del, dfn, em, img, ins, kbd, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, hgroup {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/********************************************/
/* mp3theme CSS starts */ 
/********************************************/
/********************************************/
/* General rules and boxes*/ 
/********************************************/

body{
	font-family:Arial, Helvetica, sans-serif;
	background:black url(http://i1201.photobucket.com/albums/bb358/4Japan/qDZUf.jpg) top left repeat-x; 
}

#container {
	text-align:center;
	/* width:100%; */
	overflow:hidden;
}

#table {
	border:none;
	margin:0 auto;
	width:97%;
	margin-bottom: 40px;
}

.flex #table, .flex #table tbody {
	display: block;
}

.flex #table tr {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.flex #table tr td {
	display: block;
	margin: 5px 0;
	flex-basis: 200px;
}

td {
	/*outline: 1px solid green;*/
	text-align:center;
	border:none;
	vertical-align:top;
}

.box {
	background: url(../img/box_bg.png) no-repeat top left;
	background-size: contain;
	height: 196px;
	width: 175px;
	overflow: hidden;
	margin: 0 auto;
	margin-top: 12%;
	display: block;
	position: relative;
}

.download_btn {
	border-radius: 4px;
	padding-left: 9px;
	padding-right: 9px;
	border: 2px solid #CCC;
	color: #CCC;
	height: 21px;
	padding-top: 9px;
	padding-bottom:2px;
	border-image: initial;
	background: white;
	display: block;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 4px;
	overflow: hidden;
	text-decoration: none;
	z-index: auto;
	position:absolute;
	left:50%;
	width:100px;
	margin-left:-58px;
	top:120px;
	font-size: 12px;
	font-family: Tahoma, Arial, Verdana;
	vertical-align:middle;
}


.download_btn:hover {
	border: 2px solid white;
	color: white !important;
	background: #C00;
}

.zoom_btn{
	background-image: url(http://i1201.photobucket.com/albums/bb358/4Japan/w70oR.png);
	background-position: 60% 65%;
	background-repeat: no-repeat;
	top: 20px;
	display: block;
	height: 100px;
	left:50%;
	margin-left:-50px;
	position: absolute;
	width: 100px;
}


.no_js table, .no_js tbody, .no_js tr, .no_js td {
	display:inline-block !important;	
}


.no_js .opacity_handler{
	-moz-opacity:1 !important; filter:alpha(opacity=100) !important; opacity:1 !important; 	
}


.opacity_handler{
	display:inline-block;
	position:absolute;
	top: 0px;
	left: 0px;
	zoom:1; 
	filter: alpha(opacity=0);  /* IE */		
	opacity:0;
	height: 100%;
	width: 100%;
	z-index: 0;
}

.play_btn{
	display:inline-block;	
	zoom:1;
	background: url(../img/play_mini.png) no-repeat center right;
	height: 31px;
	width: 31px;
	right: 9px;
	top: 8px;
	position: absolute;
	/*border-bottom-left-radius: 3px;*/
}



.box .thumb{
	margin-top:5px;
	border-radius:6px;
}

.box h3 {
	line-height: 17px;
	position: absolute;
	width: 90%;
	text-align: center;
	height: 14px;
	display: block;
	bottom: 11px;
	left: 5%;
	overflow: hidden;
	font-size: 11px;
	color: #666;
	font-family: Arial, Verdana;
}

.date_symbol {
	color: rgb(195, 212, 230);
	font-family: Arial, Verdana;
}

.box.current_box h3 {
	color: #09C;
}

.text{
	display:none;
}

/*************************************/
/* Overlay parts */
/*************************************/

#overlay{
	width:100%;
	height:100%;
	position:fixed;
	left:0;
	top:0;
	 background: url(../img/black_bg.png) repeat; 
}

.overlay_content{
	height:100%;
	margin:0 auto;
	position:relative;		
}

#all_big_btns{
	text-align:center;	
}


.big_btn , .link_btn{
	width:314px;
	height:134px;
	display:block;
	display:inline-block;
}

.part {
	font-family: Tahoma;
	color: white;
	width: 16px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	top: 13px;
	left: -27px;
	position: absolute;
	vertical-align: top;
	font-size: 15px;
	padding: 10px;
}

.part.g1, .part.g6 {
	background: rgb(175, 12, 12);
}

.part.g2, .part.g7 {
	background: rgb(233, 165, 22);
}

.part.g3, .part.g8 {
	background: rgb(58, 158, 54);
}

.part.g4 {
	background: rgb(0, 79, 179);
}

.part.g5 {
	background: rgb(219, 21, 116);
}

.link_btn{
	bottom:auto;
	background:url(../img/btn_modal.png) no-repeat;	
	width: 259px;
	height: 41px;
	text-align:center;
	padding-top:23px;
	font-weight:bold;
	position:relative;
	margin: 0 auto;
	color:black;
	text-decoration:none;	
}

.link_btn:hover {
	color:red;
	text-decoration:underline;	
}

.link_btn:hover .part {
	text-decoration: none;
	color: white;
}

.big_btn a{
	width:240px;
	height:50px;
	display:block;
	margin-left:37px;
	margin-top:25px;
	position:absolute;
}


#o_download_btn{
	background:url(../img/btn_modal_download.png);
}

#o_info_btn{
	background:url(../img/btn_modal_info.png);
}

#o_video_btn{
	background:url(../img/btn_modal_video.png);
}

#music_links{
	width:260px;	
	margin-left:-130px;
	top:48%;
	left:50%;
	display:block;
	position:absolute;
	overflow:visible;
	padding-top: 67px;
}

#download_title{
	background:url(../img/download_title.png) center no-repeat;
	height:50px;
	position:absolute;
	width:530px;
	margin-left:-115px;
	top:0px;
	font-size: 1px;
	vertical-align:bottom;
	color:#111;	
}


#top_bar{
	height: 33px;
	vertical-align:top;
	padding-top:10px;
	padding-left:8px;
	color:#999;
	background:black;
	position:fixed;
	width:100%;
	font-size: 20px;
	top:0;
	left:0;	
	
}

#text_right {
	padding-bottom: 5px;
	background: black;
	position: absolute;
	padding-left: 9px;
	right: 12px;
	padding-top: 10px;
	padding-right: 40px;
	top: 0;
	color: #333;
	cursor: default;
}

#text_left{
	cursor:default;	
}


#author{
	font-weight:bold;
	color:#CCC;
	text-decoration:none;
}

#author:hover{
	color:white;
}

#text_right a{
	font-size: 15px;
	font-weight:bold;
	padding-left:2px;
	padding-right:2px;
	text-decoration:none;
	color:#CCCCCC;
	padding-bottom:12px;
}

#text_right a:hover, #author:hover{
	text-decoration:underline;

}


#text_right a#top_info{
	color:yellow
}



#text_right a#top_video{
	color:red;
}



#text_right a#top_download{
	color:#00BCFB;
}

#mp3_info{
	padding-right: 20px;
	padding-left:30px;
	color:white;
	line-height:24px;
	font-size:14px;
	overflow:hidden;
	position:relative;
	margin-top: 43px;
}



.ie7 #mp3_info{
	top:33px; /* Fix for IE7 bug */
}

.no_overflow #mp3_info{
	overflow:auto !important;	
}

#mp3_info h1{
	font-size:24px;
	font-weight:bold;
	line-height:24px;
	margin-top: 20px;
	position:relative;
}


#link_author{
	color:white;
	text-decoration:underline;	
}

#link_author:hover{
	color:red;	
}

#big_cover_container{
	float:left;
	background:#333;
	background:url(../img/pattern_01.jpg) repeat;
	height:100%;
	line-height: 0;
}

#big_cover {
	transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
}


#big_cover.invisible{	
  zoom:1;
  position:fixed;
  display:inline-block;
  filter: alpha(opacity=0) !important;
  -moz-opacity: 0 !important;
  opacity:0 !important;
  width:auto !important;
  height:auto !important;
}


#black_line{
	height:15px;
	background:black;	
}


.inside_info_btn {
padding: 0;
color: white;
background: url(../img/white_download.png) 2px no-repeat rgb(190, 0, 137);
display: inline-block;
padding-right: 10px;
font-size: 12px;
text-decoration: none;
border-radius: 4px;
vertical-align: middle;
margin-right: 7px;
line-height: 29px;
padding-bottom: 1px;
padding-left: 45px;
}

.inside_info_btn:hover{
	background: url(../img/black_download.png) 2px no-repeat white !important;
	color:black;
}

#inside_buttons{
	position:relative;
	line-height: 37px;
	margin-top: 15px;
}


#label_download{
	font-weight: bold;	
	line-height: 20px;
	font-size: 15px;
}


#fake_scroll{
	position:absolute;
	height:100%;
	width:200px;
	overflow-y:scroll;
	overflow-x:hidden;
	top:0;
	left:0;
	
}

#overlay_info {
	overflow:hidden;
}

html.no_overflow, .no_overflow body {
	overflow:hidden;
	/*padding-right:17px;*/
}

.no_overflow #container{
	overflow-y: scroll;
}

#text{
	padding-top:18px;
	padding-bottom:30px;
}

#text p {
	margin-bottom: 15px;
}


#overlay_video{
	position:fixed;
	left:50%;
	top:49%;
	margin-top:-260px;
	margin-left:-427px;		
	height: 530px;
	min-width: 850px;
}


#overlay_video:before {
	font-weight: bold;
	font-size: 12px;
	color: rgb(102, 102, 102);
	right: 0;
	top: -21px;
	position: absolute;
	display: block;
	content: "Powered by Google";
}

#text_right #close_overlay{
	display: block;
	background:url(../img/close_btn.png) top;
	height:30px;
	width:30px;
	display:block;
	padding:0;
	margin:0;
	position:absolute;
	top: 8px;
	right:0px;
	cursor:pointer !important;	
	text-decoration: none;
	color: black;
}

#text_right #close_overlay:hover{
	background:url(../img/close_btn_hover.png) no-repeat;
}

#down_link{
	color:#CCCCCC;
	cursor:pointer !important;
	text-decoration:underline;
	display:block;
	padding-top:18px;
	padding-bottom:5px;
	text-transform:uppercase;
	text-align:center;
	font-weight:bold;
	font-size:12px;	
}

#down_link:hover{
	color:yellow;	
}

.ie6 #top{
	display:none;
}

.pagination_btn{
	background:none;
	border:none;
	box-shadow: none;	
}


.pagination_btn a{
	height:160px;
	width:160px;
	margin-top:14px;
	display:block;
}

.next_btn a{	
	background:url(../img/arrow_r.png) no-repeat;
}

.next_btn a:hover{
	background-position: -160px 0;
}

.prev_btn a{
	background:url(../img/arrow_l.png) no-repeat;
}

.prev_btn a:hover{
	background-position: -160px 0;
}


/* Only CSS */


body#only{
	text-align:center;	
}

body#only #mp3_info h1{
	position:relative;
	left:0;
	top:0;
	margin-top: 20px;
	
}
body#only #mp3_info{
	margin:0;
	padding:0;
	
}


body#only #inside_buttons {
	position:relative;
	top:0;
	left:0;
	margin-top: 12px;	
}


body#only #text {
	padding-top: 30px;
}

body#only .inside_info_btn{	
	background:#AC060B;
}
body#only .inside_info_btn:hover {
	background:white;
}

body#only #big_cover{
	border:1px solid black;
	box-shadow: 0px 0px 3px #FFF;
}

#logo_and_search {
	/*padding-top: 25px;*/
	/*padding-left: 30px;*/
	padding-top: 45px;
	padding-left: 50px;
	text-align: left;
}

#logo_and_search img {
	width: 350px;
	height: 110px;
}

#search_form {
	min-width: 400px;
	top: 59px;
	position: absolute;
	right: 38px;
}

.small #search_form {
	min-width: 400px;
	top: 30px;
	position: absolute;
	right: 38px;
}

.small #search_form input, .small #search_form a {
	top: 39px;
}


#search_form input, #search_form a {
	top: 48px;
	border-radius: 10px;
	border: none;
	height: 37px;
	right: 0px;
	position: absolute;
	padding: 0;
	line-height: 15px;
	margin: 0;
}

input[type="text"], input[type="password"], textarea, select { 
	outline: none;
}

#search_form #search{
	width: 151px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	right: 43px;
	font-size: 14px;
	border-top-right-radius: 0;  
	border-bottom-right-radius: 0;
	height: 17px;
}

#search_form #search.holder{
	color: #BBB;
}

#search_form #submit{
	border-left: 1px solid #b6bdc1;
	border-top-left-radius: 0px;  
	border-bottom-left-radius: 0px;
	width: 43px;
	font-size: 14px;
	background: url(../img/search.png);
	cursor:pointer;
}

#search_form #submit:hover{
	background: url(../img/search_hover.png);
	box-shadow: 0px 0px 9px 4px rgba(0,0, 0, .75);
	border-left: 1px solid #444;
}

#search_form a {
	float: right;
	margin-left: 6px;
	position: static;
	padding-right: 15px;
	padding-left: 15px;
	text-align: center;
	text-decoration: none;
	background: url(../img/btn_bg.png);
	display: inline-block;
	margin-top: 0px;
	color: #657482;
	padding-top: 11px;
	height: 26px;
	cursor: pointer;
}

.small #search_form a {
	background-position: center center;
	border-radius: 5px;
	font-size: 10px;
	height: 21px;
	padding-top: 5px;
}

#search_form a:hover{
	background: #555;
	box-shadow: 0px 0px 9px 4px rgba(0,0, 0, .75);
	color:#FFF;
}

#pagination{
	display: none;
	margin: 40px;
	position: relative;
	background: #460000;
	border-radius: 6px;
	margin-top: 0;
}

body.loaded #pagination {
	display: block;
}

#pagination a, .current_page {
	display: inline-block;
	height: 25px;
	width: 120px;
	padding-top: 10px;
	text-align: center;
	background: #8B0000;
	text-align: center;	
	color:#fff;
	cursor: pointer;
	text-decoration: none;
	font-weight: bold;
}

.small #pagination{
	display: none;
}


#pagination a:after, .current_page:after {  
	top: 0px;
	right: -17px;  
	width: 0;
	height: 0;
	content: "";  
	color:#8B0000;
	border-left: 17px solid #8B0000;
	border-top: 17px solid transparent;
	border-bottom: 18px solid transparent;  
	position: absolute;
}

#pagination a:before, .current_page:before {  
	top: 0px;
	left: -17px;
	width: 0; 
	height: 0; 
	content: "";
	color:#8B0000;
	border-right: 17px solid #8B0000; 
	border-top: 17px solid transparent;
	border-bottom: 18px solid transparent; 
	position: absolute;
}

@media (max-width: 1279px) and (min-width: 1024px) {
	body:not(.small) h1 .album_separator {
		display: none;
	}
	body:not(.small) h1 #link_author {
		display: none;
	}

}


.small #big_cover_container {
	text-align: center;
	height: auto;
	float: none;
	max-width: 100%;
	margin-top: 43px;
}

.small #label_download, .small #text_left{
	display: none;
}

.small #mp3_info {
	margin-top: 20px;
	height: auto !important;
	text-align: center;
}

.small #big_cover {
	margin-top: 0 !important;
	width: 100%;
}

.small #overlay_info  {
	overflow: auto;
}

.small #overlay_video  {
	left: auto;
	margin-left: 0;
	min-width: 250px;
}
.small #overlay_video #yt_iframe {
	max-width: 100%;
}

body.loaded.small #pagination{
	display: none;
}

.small_video_mobile {
	position: relative;
	display: inline-block;
	line-height: 0;
	border: 1px solid white;
	margin-bottom: 10px;
}

.small_video_mobile img {
	opacity:0.4;
}

.small_video_mobile::after {
	position: absolute;
	display: block;
	background: url(../img/play_button.png) center center no-repeat;
	height: 100%;
	width: 100%;
	content: "";
	top: 0;
	left: 0;
}

body.loaded.no_pages #pagination{
	display: none;
}

/* single page - mobile starts */ 

.single #container {
	display: none;
}

.single #overlay {
	display: block;
	min-height: 100%;
	position: relative;
	height: auto;
	opacity: 1 !important;
}

.single .small #text_right a {
	display: none;
}

.single .small #text_right #close_overlay {
	display:block;
	height:100px !important;
	width:100px !important;
	background: url(../img/close_btn_100.png?);
	padding:0;
	margin:0;
	top:-6px;
	right: 0;
}

.single .small #top_bar {
	height:80px;
	position:absolute;
	padding-left: 0;
}

.single .small #big_cover_container {
	margin-top:80px;
}


.single.no_overflow, .single.no_overflow body {
	overflow: auto !important;
}

.touch .box .play_btn {
	display: none !important;
}

.touch .box .download_btn {
	display: none !important;
}

.touch .zoom_btn {
	margin: 0;
	background: transparent;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	padding: 0;
}

.touch .opacity_handler {
	opacity: 1 !important;
	
}


#a, #b {
	text-align: center;
	margin: 0 0 40px 0;
	position: relative;
	clear: both;
}

#a iframe , #b iframe { 
	margin-top: 14px;
	margin-bottom: 14px;
}

@media (min-width:1544px) {
	#a {
		position: absolute;
		top: 41px;
		left: 27%;
	}
}


@media (min-width:1280px) {
	.small #a {
		position: absolute;
		top: 24px;
		left: 250px;
		text-align: center;
	
		width: inherit;
	}
}


/* Mortal Kombat! */

#text a {
	color: rgb(0, 214, 255);
}

#minilogo {
	display: none;
}

.single .small #minilogo, .small #logo {
	background: url(../img/minilogo.png) no-repeat 10px 20px;
	display: block;
	height: 60px;
	width: 200px;
	position: absolute;
	padding-top: 20px;
	padding-left: 10px;
	padding-right:10px;
	padding-bottom:10px;
	left: 0;
	top:0;
	z-index: 999;
}

.small #logo {
	top:auto;
	left:auto;
	position:relative;
	z-index: inherit;
}

.small #logo img{
	display:none;
}

/* super small! */
@media (max-width:472px) {

	.small #logo {
	padding: 20px 0;
	margin: 0 auto;
	}

	.small #search_form {
		right: auto;
		padding-right: 10px;
		position: relative;
		top: auto;
		left: auto;
		min-width: inherit;
		text-align: center;
		width: 204px;
		margin: 0 auto;
	}

	#logo_and_search {
		min-height: 168px;
		padding: 15px 0 0 0;
	}
}
/* IE */

.notification {
	position: relative;
    top: 0;
    width: 100%;
    left: 0;
    display: none;
}

.notification p {
	display: inline-block;
	background: yellow;
	padding: 10px 20px;
	border-radius: 6px;
};
