

.logo{
	background:url(../images/new/logo.png) no-repeat;
	float:left;
	height:69px;
	overflow:hidden;
	text-indent:-9999px;
	width:175px;
}
.logo a{
	display:block;
	height:100%;
}

#wrapper{overflow:hidden; padding: 0;margin: 0; width: auto !important;}
#header{
	width:940px;
	margin:0 auto;
	overflow:hidden;
	padding:13px 0 0;
}

.box-title{
	width:650px;
	float:left;
	text-align:center;
}
#header h1{
	font-size:34px;
	line-height:31px;
	color:#fff;
	text-align:center;
	font-weight:normal;
	margin:0 0 15px 70px;
	padding:8px 0 0;
	letter-spacing:1px
}
.login-box{
	float:right;
	padding:15px 0 0;
}
.login{
	display:inline-block;
	text-decoration:none;
	text-transform:uppercase;
	font-size:12px;
	line-height:15px;
	color:#82a2be;
	margin:0 0 0 30px;
}

.pastebox-form
{
	width: 940px;
	margin: 0 auto;
	display: block;
}

.pastebox-container
{
	background: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 10px;
}
	
body{
	color:#000;
	font:15px/24px Arial, Helvetica, sans-serif;
	margin:0;
	min-width:940px;
	background:#1c4d76 url('../images/new/bg-main.png') repeat-x 52% 71px;
}	
	
	.visual{
	overflow:hidden;
	padding:30px 0 42px;
	width:940px;
	margin:0 auto;
}
.steps-list{
	padding:0;
	margin:0;
	list-style:none;
	overflow:hidden;
	font-size:0;
	line-height:0;
	text-align:center;
}
.steps-list li{
	text-align:center;
	position:relative;
	display:inline-block;
	vertical-align:top;
	font-size:23px;
	line-height:30px;
	margin:0 0 0 137px;
}
.steps-list li:after{
	position:absolute;
	content:'';
	background:url(../images/new/arrow.png) no-repeat;
	width:104px;
	height:273px;
	top:5px;
	left:-144px;
}
.steps-list li:first-child:after{background:none;}
.steps-list li:first-child{margin:0 -11px 0 0;}
.steps-list li img{
	vertical-align:top;
	margin:0 0 9px;
}
.steps-list .step-text{
	overflow:hidden;
	display:block;
}
.step-text strong{
	font-size:23px;
	line-height:30px;
	color:#fff;
	display:block;
}
.step-text span{
	display:block;
	color:#c8e0f5;
	font-size:15px;
	line-height:20px;
}


.btn-box{
	overflow:hidden;
	text-align:center;
	padding:41px 0 41px 14px;
	width:926px;
	margin:0 auto;
}
.btn-box .learn-more:hover{
	border:3px solid #9ad331;
	background:rgba(152,209,47,0.2);
	text-decoration:none;
}
.btn-box .learn-more{
	padding:10px 47px;
	border-radius:8px;
	color:#fff;
	font-size:29px;
	line-height:32px;
	display:inline-block;
	text-decoration:none;
	background:none;
	margin:0 0 0 26px;
	border:3px solid #497aa7;
}
.btn-box .learn-more:first-child{margin:0;}
.info-holder{
	background:#21537e;
	width:100%;
	overflow:hidden;
}
.info-box:after{
	content:'';
	display:block;
	clear:both;
}
.info-box{
	width:940px;
	padding:60px 0 0;
	margin:0 auto;
	color:#c8e0f5;
}
.info-box img.alignleft{
	float:left;
	margin:0 56px 0 0;
}
.info-box p{margin:0 0 15px;}
.info-box .text{
	overflow:hidden;
	padding:13px 0 10px;
}
.info-box h2{
	font-size:23px;
	line-height:28px;
	color:#fff;
	margin:0 0 9px;
	text-shadow:1px 0 0 rgba(0,0,0,0.6);
}
.info-holder.bg{background:none;}
.info-box img.alignright{
	float:right;
	margin:-18px -3px 30px 30px;
}
.sponsor-holder{background:#1c4d76;}
.sponsor{
	overflow:hidden;
	text-align: left;
	width:940px;
	margin:0 auto;
	padding:56px 0 30px;
}
.sponsor .title{
	font-size:15px;
	line-height:24px;
	margin:0 0 15px;
	color:#c8e0f5;
	font-weight:normal;
	display:block;
}
.sponsor ul{
	padding:0;
	margin:0;
	list-style:none;
	font-size:0;
	letter-spacing:-4px;
	line-height:0;
	text-align: center;
}
.sponsor ul li{
	display:inline-block;
	vertical-align:middle;
	font-size:12px;
	margin:0 0 0 28px;
}
.sponsor ul li:first-child {
	margin: 0;
}

.pastebox-form .row{
	width:940px;
	margin:0 -80px;
	padding:21px 80px 38px;
	position:relative;
	overflow:hidden;
}
.pastebox-form .row:before {
	border-radius: 50%;
	bottom: -95px;
	box-shadow: 0 -20px 80px rgba(255, 255, 255, 0.4);
	content: "";
	height: 42px;
	left: 0;
	position: absolute;
	width:1100px;
}
.pastebox-form .description{
	float:left;
	background:url(../images/new/sprite.png) no-repeat 8px -27px;
	padding:11px 0 22px 66px;
	font-size:13px;
	line-height:19px;
	color:#c8e0f5;
	width:600px;
}


.row-box{
	width:100%;
	position:relative;
}
.row-box:after{
	content:'';
	position:absolute;
	background:url(../images/new/border.png) no-repeat;
	width:1092px;
	height:4px;
	bottom:-2px;
	left:0;
}

.pastebox-form .description p{margin:0;}

.pastebox-form button[type="submit"]
{
	cursor:pointer;
	float:right;
	position:relative;
	font-size:28px;
	line-height:53px;
	height:53px;
	border-radius:8px;
	width:174px;
	text-align:center;
	padding:0 12px 2px 0;
	color:#fff;
	border:none;
	margin:0 0 0 20px;
	background:#9ed535 url(../images/new/sprite.png) no-repeat 149px 21px;
	text-shadow:1px 0 0 rgba(0,0,0,0.1);
}
#footer{background:#164770;position:static;display: block;}
.footer-holder{
	overflow:hidden;
	width:940px;
	margin:0 auto;
	padding:27px 0;
	font-size:11px;
	line-height:20px;
}
#footer .login-box{
	float:left;
	font-size:11px;
	line-height:20px;
	padding:0;
}
#footer .login{
	font-size:11px;
	margin:0 0 0 43px;
}
#footer .login:first-child{margin:0;}
.footer-nav{
	float:right;
	margin:0 47px 0 0;
}
.footer-nav ul{
	padding:0;
	margin:0;
	list-style:none;
	overflow:hidden;
}
.footer-nav ul li{
	float:left;
	margin:0 0 0 39px;
}
.footer-nav ul li:first-child{margin:0;}
.footer-nav ul a,
.login-box a {
	text-decoration:none;
	color:#82a2be;
	text-transform: uppercase;
}
.footer-nav ul a:hover,
.login-box a:hover {text-decoration:underline;}

#footer .login-box a {
	font-size:11px;
	margin:0 0 0 43px;
}

#footer .login-box a:first-child
{
	margin: 0;
}

.copyright{
	float:right;
	color:#82a2be;
}
.copyright a{
	text-decoration:none;
	color:#82a2be;
}
.copyright a:hover{text-decoration:underline;}