html, body {
font: normal 11px Arial, Tahoma, Verdana, sans-serif;
}

.widepage {width: 1240px;}
.widepage .header {width: 1240px;}
.widepage .header .content {background: url(http://img.powershow.com/themes/original/images/wideheader.png) 0 0 no-repeat; width: 1222px; height: 62px;}
.viewpageads,
.widepage .viewpageads {display: block; width:200px; float: left; margin-right: 10px; overflow: hidden;}
.widepage .links2 {width: 430px;}
.widepage #right {width: 468px;}
.widepage #right .boxtitle.blue,  .widepage .rightcolumn .boxtitle.blue{width: 420px; background-position: 0 -489px;}
.widepage .header .freetemplate {display: block;}
.footer {font-family: Tahoma, Verdana, Arial, sans-serif;}

.widepage .centercolumn {width: 552px; position: relative; left: 210px; float: left; padding: 0;  line-height: normal;}
.widepage .leftcolumn {display: block; width:200px; float: left; margin-right: 10px; position: relative; left: -552px; line-height: normal;}
.widepage .rightcolumn {width: 468px; overflow: hidden; float: right;  line-height: normal;}

.widepage .profileleft {width: 467px; overflow: hidden; float: left; line-height: normal; position: relative; left: 210px;}
.widepage .profileright {width: 553px; overflow: hidden; float: right;  line-height: normal;}
.widepage .profileads {display: block; width:200px; float: left; margin-right: 10px; position: relative; left: -467px; line-height: normal; overflow: hidden;}

.widepage .pagecontent {padding-bottom: 125px;}

/* Expand-collapse bars */
.expandbar {height: 36px; overflow: hidden; background: url(http://img.powershow.com/themes/original/images/expandbar.png) 0 -36px repeat-x; margin-bottom: 2px;}
.expandbarleft, .expandbarright {width: 8px; height: 36px; background: url(http://img.powershow.com/themes/original/images/expandbar.png) 0 0 no-repeat; float: left; overflow: hidden;}
.expandbarright {background-position: -8px 0; float: right;}
.expandbartitle {font-size: 14px; font-weight: bold; margin: 10px 0 0 10px; cursor: pointer;}
.expandbar .arrow-open, .expandbar .arrow-closed {
float: left;
width: 15px;
height: 15px;
overflow: hidden;
background: url(http://img.powershow.com/themes/original/images/expandbar.png) 0 -74px no-repeat;
margin: 0px 5px 0 2px;
}
.expandbar .arrow-open {background-position:0 -89px;}
.comment .agreebar {border: #ccc 1px solid;}

/* large fake buttons (view page) */
.largebutton {width: 99px; height: 32px; position: relative; overflow: hidden;}
.largebutton .upstate,
.largebutton .downstate {width: 754px; height: 96px; background-image:url(http://img.powershow.com/themes/original/images/buttons.jpg); background-position: 0 0; position: relative; top: 0; left: 0;}
.largebutton .downstate {top: -32px;}
.disabled .upstate {top: -64px;}
.largebutton .text {padding-top: 204px;}
.largebutton .icon {background: transparent;}
.largebutton .icon.done {width: 30px; height: 24px; background: url(http://img.powershow.com/themes/original/images/buttons.jpg) -684px -68px no-repeat; left: 5px; top: -200px;}

#button_shareit {width: 110px;}
#button_shareit .upstate, #button_shareit .downstate {left: -277px; background-position: 0 0;}
#button_send .upstate, #button_send .downstate  {left: -178px; background-position: 0 0;}
#button_flag {width: 74px;}
#button_flag .upstate, #button_flag .downstate  {left: -104px; background-position: 0 0;}
#button_favorite {width: 104px;}
#button_favorite .upstate, #button_favorite .downstate {left: 0; background-position: 0 0;}
#button_edit .upstate, #button_edit .downstate {left: -581px; background-position: 0 0;}
#button_delete .upstate, #button_delete .downstate {left: -387px; background-position: 0 0;}
#button_embed {width: 95px;}
#button_embed .upstate, #button_embed .downstate  {left: -486px; background-position: 0 0;}
#button_claim {width: 74px;}
#button_claim .upstate, #button_claim .downstate  {left: -680px; background-position: 0 0;}

.fakebutton .upstate,
.fakebutton .downstate {background-image: url(http://img.powershow.com/themes/original/images/gray-buttons.png);}
.fakebutton .disabled {background-position: 0 -50px;}
.tiny .disabled {background-position: -177px -50px;}
.larger .disabled {background-position: -59px -50px;}
.fakebutton.tcommentwrite .upstate {background-position: -253px 0;}
.fakebutton.tcommentwrite .downstate {background-position: -253px -24px;}

.fakebutton .icon {background: url(http://img.powershow.com/themes/original/images/gray-buttons.png) -214px 0 no-repeat; float: left; width: 14px; height: 14px; overflow: hidden; margin-top: 1px;}
.fakebutton .icon.flag {width: 12px; position: relative; left: 10px;}
.fakebutton .icon.disagree {background-position: -226px 0px; width: 14px; position: relative; left: 12px;}
.fakebutton .icon.agree {background-position: -240px 0px; width: 14px; position: relative; left: 12px;}

.fakebutton .disabled .icon.flag {background-position: -214px -14px;}
.fakebutton .disabled .icon.disagree {background-position: -226px -14px;}
.fakebutton .disabled .icon.agree {background-position: -240px -14px;}

.boxtitle .backlink {font-family: Arial, Tahoma, Verdana;}
#form_about {font-family:  Arial, Tahoma, Verdana;}
.comments .sort select {font: 11px normal Arial, Tahoma, Verdana;}
.comments .write_form textarea {font: 12px normal  Arial, Tahoma, Verdana;}
.comments .sort {top: 5px; float: left;}
.comments .commentsnum {margin-top: 5px;}

.featuredbox .sort {float: left; padding: 0 0 0 15px;}

.userform select, .userform input, .userform textarea {font-family: Arial, Tahoma;}
.edit_form textarea {font: 12px normal Arial, Tahoma, Verdana;}
.pagination input {font-family: Arial, Tahoma;}
.listingtop .sort select, .listingtop .filter select {font: 11px normal Arial, Tahoma, Verdana;}

/* stylish (yes, they are) dropdown boxes */
.filter, .sort {position: relative; top: 3px; color: #3a6a89; font-weight: bold; z-index: 150; width: 165px; float: right; line-height: normal; font-family: Arial, Tahoma, Verdana; }
.listingtop .filter, .listingtop .sort {margin-right: 20px;}
.searchcontent .filter, .searchcontent .sort {margin: 0 0 0 20px; line-height: normal;}
.filter {width: 158px;}
.boxtitle .sort {width: 165px; color: #fff; left: 5px;}
.relatedbox .sort {posiiton: relative; left: -80px; margin-right: 0px; }
.boxtitle.blue {overflow: visible;}
.filter select, .sort select {display: none;}
.dropdown, .dropdownvalues {font-weight: normal; color: #2c556f; white-space: nowrap;}
.dropdown {
    cursor : pointer;
    display: inline;
    background: url(http://img.powershow.com/themes/original/images/dropdown.png) 0 0 no-repeat;
    width: 84px;
    height: 15px;
    float: right;
    padding: 5px;
	line-height: normal;
    position: relative; top: -5px;
    }
.smalldropdown {background-position: 0 -25px; padding: 3px 5px; float: none; display: inline-block; width: auto; color: #000; vertical-align: middle; top: 0; position: relative;}
.photooptions .smalldropdown {width: 70px; text-align: center; float: left; display: inline;}
.photooptions .smalldropdown-arrow {float: left; display: inline;}
.dropdown-arrow {width: 25px; height: 25px; background: url(http://img.powershow.com/themes/original/images/dropdown.png) 100% 0 no-repeat; float: right; display: inline; position: relative; top: -5px; cursor: pointer;}
.smalldropdown-arrow {float: none; display: inline-block; width: 22px; height: 21px; background-position: 100% -25px; vertical-align: middle; top: 0; position: relative;}
.dropdownvalues {position: absolute;  border: #a1b4d9 1px solid; border-bottom: 0; right: 0; top: 19px; z-index: 150;}
.dropdownvalues a {display: block; width: 107px; padding: 5px; border-bottom: #a1b4d9 1px solid; background: #d4e4fb; text-decoration: none; color: #2c556f;}
.dropdownvalues a:hover {background: #ecf3fc;}

.leftbox {float: left; margin-right: 15px;}
.dateinput input, input.dateinput {font-size: 11px; padding: 2px; background: #fff; border: #a5acb2 1px solid; width: 150px;}
.dateinput input, input.dateinput {background: #e3e3e3; width: 65px;}
