@charset "utf-8";

/*--------------------------
	Reset CSS
---------------------------*/
body,
h1,h2,h3,h4,h5,h6,
p,ul,ol,dl,dt,dd,li,
table,th,td,
form,select,option,input
address,pre,strong,em,iframe{
	margin:0;
	padding:0;
	font-size:100%;
	border:0;
}
html,body {
	height: 100%;
}
body{
	font-family:sans-serif;
	font-size:81.25%;/*13px*/
	*font-size:small;
	line-height:1.5;
	color: #333;
}
img{
	border:0;
}
img, input, select, textarea { 
	vertical-align: middle;
}
ul,ol{
	list-style-type:none;
}
table {
	border-collapse: collapse; 
	border-spacing: 0;
}

/*	Link
------------------------------*/
a:link { text-decoration: underline; }
a:visited { text-decoration: underline; }
a:hover { color: #ff0000; text-decoration: none; }
a:active { color: #ff6600; text-decoration: none; }

/*	clearfix
------------------------------*/
.clearfix:after {/*for modern browser*/
   content: "";
   display: block;
   clear: both;
}
.clearfix {
	*zoom:1; /*for IE6,7*/
}

/*	skip
------------------------------*/
.skipLink,
.skipTitle {
	width: 0;
	height: 0;
	font-size: 1px;
	visibility: hidden;
}

/*	forSmartPhone
------------------------------*/
#toSmartphone {
	text-align: center;
}

/*--------------------------
	Base Layout
---------------------------*/
body {
	min-width: 950px;
}

#contents,#main,#side {
	margin-bottom: 17px;
}

/* Base Container */
.baseContainer {
	width: 930px;
	padding: 0 10px;
	margin: 0 auto;
	position: relative;
	*zoom:1;
}

/* Row Container */
.rowContainer+.rowContainer {
	margin-top: 17px;
	/*margin-top: 30px;*/
}

.rowContainer+.separatorLine {
	margin-top: 10px;
}

*+html .rowContainer {
	margin-top: 17px;
	zoom:1;
}

/* Main Column Width Container */
.mainCol {
	width: 690px;
	float: left;
	*zoom:1;
}

/* Sub Column Width Container */
.sideCol {
	width: 225px;
	float: right;
}

/* Container clearfix */
.baseContainer:after,
.rowContainer:after,
.main:after {
	content: "";
	display: block;
	clear: both;
}

/* 2-Column */
.col2 {
	float: left;
	width: 460px;
	margin-left: 10px;
	display: inline;
}
.mainCol .col2 {
	width: 340px;
}

.baseBg .col2 {
	width: 450px;
}

/* 3-Column */
.col3 { 
	float: left; 
	width: 302px;
	margin-left: 12px;
	_display: inline;
}

.mainCol .baseBg .col3 {
	width: 218px;
}

/* 4-Column */
.col4 { 
	float: left; 
	width: 225px;
	margin-left: 10px;
	_display: inline;
}

.baseBg .col4 {
	width: 220px;
}

/* 5-Column */
.col5 { 
	float: left; 
	width: 178px;
	margin-left: 10px;
	_display: inline;
}

/* 1/4 Column */
.col1q {
	float: left;
	width: 220px;
	margin-left: 10px;
	_display: inline;
}

/* 3/4 Column */
.col3q {
	float: left;
	width: 700px;
	margin-left: 10px;
	_display: inline;
}

.baseBg .col3q {
	width: 680px;
}

.first { 
	clear: left;
	margin-left: 0;
}


/*--------------------------
	main visual (slider)
---------------------------*/
#mainVisual {
	width:100%;
	position: relative;
	overflow: hidden;
}

#slider {
	*zoom:1;
}

#slider:after {
	content:"";
	display: block;
	clear: both;
}

#slider li {
	float: left;
	width:800px;
	position: relative;
}

#prev,#next {
	height: 260px;
	width: 50%;
	top:0;
	position: absolute;
}

#prev { left: -400px;}
#next { right: -400px;}

#prev a,#next a {
	display: block;
	width: 100%;
	height: 260px;
}
#prev a { background: url(/general/img/brandpanel/mask-left.png) right top no-repeat;}
#next a { background: url(/general/img/brandpanel/mask-right.png) left top no-repeat;}


#prev a img,#next a img {
	position: absolute;
	top:110px;
}
#prev a img { right:-20px;}
#next a img { left:-20px;}

#pager {
	width:100%;
	position: absolute;
	bottom:10px;
	text-align: center;
}

#pager a {
	display: inline-block;
	*display: inline;
	*zoom:1;
	width: 10px;
	height: 10px;
	margin: 0 3px;
	background: url(/general/img/brandpanel/bg-pager.png) left bottom no-repeat;
	text-indent: -9999px;
}

#pager a.selected {
	background-position: left top;
}

/*--------------------------
	breadClumb
---------------------------*/
#breadClumb {
	margin-bottom: 17px;
	padding: 8px 0;
	background: url(/general/img/common/bg-body.png) center top repeat-y;
}

#breadClumb li {
	display: inline;
}

#breadClumb a {
	padding-right: 13px;
	background: url(/general/img/common/ico-arrow_03.png) right center no-repeat;
}


/*--------------------------
	side Menu
---------------------------*/
.tit+.sideMenu {
	margin-top: 10px;
}

.sideMenu li+li {
	border-top: #ddd 1px solid;
}

.sideMenu a {
	display: block;
	padding: 10px 10px 10px 26px;
	color: #333 !important;
	background: url(/general/img/common/ico-arrow.png) 10px 1em no-repeat #fff;
	*zoom:1;
}

.sideMenu a.blankLink {
	background: url(/general/img/common/ico-blank.png) 10px 1em no-repeat #fff;
	padding-left: 28px;
}

.sideMenu a:hover,
.sideMenu a.current {
	background-color:#dfdfd0;
}

.sideMenu a.current {
	text-decoration: none;
}

.sideMenu li div.sublink a {
	padding: 8px 10px 10px 40px;
	background-position: 24px 0.9em;
}

.sideMenu em {
	display: block;
	padding: 10px 10px 10px 10px;
	color: #008b00 !important;
	letter-spacing: 0.1em;
	font-weight: bold;
	font-style: normal;
	font-size: 115%;
	background: #fff;
	*zoom:1;
}

.sideMenu span {
	display: block;
	padding: 10px 10px 6px 26px;
	color: #008b00 !important;
	letter-spacing: 0.1em;
	font-weight: bold;
	background: #fff;
	*zoom:1;
}

/*--------------------------
	side Menu -- LocalNavi (MenuCorporate, MenuIr, MenuRecruit) Folding Control
---------------------------*/
#MenuCorporate,
#MenuIr,
#MenuRecruit {
	display: none;
}

.localnavCorporate #MenuCorporate,
.localnavIr #MenuIr,
.localnavRecruit #MenuRecruit {
	display: block !important;
}

/*--------------------------
	side Menu -- LocalNavi (MenuCsr) Folding Control
---------------------------*/
.localnavCsr #MenuCsr {
	display: block !important;
}

/*--------------------------
	side Menu -- LocalNavi (Order) Folding Control
---------------------------*/
.localnavOrder #MenuOrder {
	display: block !important;
}


/*--------------------------
	page top
---------------------------*/
.pagetop {
	margin-top: 17px;
	text-align: right;
}

.pagetop span{
	display: inline-block;
	padding-right: 12px;
	background: url(/general/img/common/bg-pagetop_02.png) right top no-repeat;
}

.pagetop a {
	display: inline-block;
	height: 26px;
	padding-left: 30px;
	background: url(/general/img/common/bg-pagetop_01.png) left top no-repeat;
	line-height: 26px;
	font-size: 13px;
}

#side+.pagetop {
	clear: both;
}

/*--------------------------
	Search Area
---------------------------*/
.searchArea {
	overflow: hidden;
	*zoom:1;
}

.searchArea input,
.searchArea label {
	float: left;
}

.searchBox {
	height: 16px;
	padding: 5px 5px 5px 24px;
	border: #008900 2px solid;
	background: url(/general/img/common/ico-search.png) 5px center no-repeat #eee;	
}

.searchBox:focus {
	outline:none;
}


/*--------------------------
	Styles
---------------------------*/

/* Heading
---------------------------*/
/* PageTitle */
.ptitle {
	margin-bottom: 15px;
	padding-bottom: 8px;
	border-bottom: #ddd 5px solid;
}

/* Headline */
.tit {
	margin-bottom: 5px;
	padding-bottom: 8px;
	border-bottom: #ddd 5px solid;
}

.tit-moreLink {
	position: relative;
}

.tit-moreLink .moreLink {
	position: absolute;
	right:0;
	top:0;
}

/* Headline with Text */
.text-tit-xsmall {
	font-size: 84%;
	font-weight: bold;
	line-height: 1;
	padding-left: 5px;
}

.text-tit-small {
	font-size: 92%;
	font-weight: bold;
	line-height: 1;
	padding-left: 5px;
}

.text-tit-medium {
	font-size: 100%;
	font-weight: bold;
	line-height: 1;
	padding-left: 5px;
}

.text-tit-large {
	font-size: 117%;
	font-weight: bold;
	line-height: 1;
	padding-left: 5px;
}

.text-tit-xlarge {
	font-size: 134%;
	font-weight: bold;
	line-height: 1;
	padding-left: 5px;
}

.text-tit-xxlarge {
	font-size: 150%;
	font-weight: bold;
	line-height: 1;
	padding-left: 5px;
}


/* Subhead */
.baseBg h3 {
	margin-bottom: 8px;
}

/* Heading in the Sidebar */
.sideCol .tit {
	border-bottom: #008900 3px solid;
}


/* Style of Block Area
---------------------------*/
/* Base Colored */
.baseBg {
	padding: 10px;
	background: #008900;
	overflow: hidden;
	*zoom:1;
	color:#fff;
}

.baseBg+.baseBg {
	margin-top: 10px;
}

.baseBg.bk {
	background: #333;
}

.baseBg.bk2 {
	background: #222;
}

.baseBg.gray {
	background: url(/general/img/common/bg-dot_01.png);
}

.baseBg.wh {
	background: #fff;
	color:#333;
}

.baseBg  a,
.baseBg  a:hover {
	color: #fff;
}

.baseBg.wh a,
.baseBg.wh a:hover {
	color: #333;
}


/* Border of Gray */
.borderBox {
	padding: 10px;
	border :#ddd 1px solid;
	overflow: hidden;
	*zoom:1;
}

/* Table Layout of the Virtual */
.table {
	display: table;
	width: 100%;
	*zoom:1;
}

.tableHeader,
.tableCell {
	display: table-cell;
	*float: left;
}

.tableStyle_01 .tableHeader,
.tableStyle_01 .tableCell {
	padding: 10px;
	border:#e7e7e7 1px solid;
	vertical-align: middle;	
}

.tableStyle_01 .tableHeader {
	background: #e7e7e7;
}


/* Grid Alignment Buttons
---------------------------*/
.gridBtns {
	margin-right: -10px;
	overflow: hidden;
	*zoom:1;
}

.gridBtns li {
	float: left;
	margin-bottom: 10px;
	margin-right: 10px;
	*margin-right: 5px;
}

.gridBtns li.lastLine {
	margin-bottom: 0;
}

/* Style 2-Column */
#main .gridBtns {
	margin-right: -8px;
	*margin-right: -16px;
}

#main .gridBtns li {
	margin-right: 8px;
	*margin-right: 5px;
}

/* News List
---------------------------*/
.newsBox {
	border :#ddd 1px solid;
	padding: 0 10px;
}

.tit+.newsBox {
	margin-top: -5px;
}

.newsBox dl {
	margin-top: -1px;
}

.newsBox dt {
	clear: left;
	float: left;
	width: 10em;
	padding: 5px 0;
	border-top: #ddd 1px solid;
}

.newsBox dd {
	padding: 5px 0;
	margin-left: 10em;
	overflow: hidden;
	border-top: #ddd 1px solid;
}

.newsBox dd+dd {
	padding-top: 0;
	border-top: none;
}

/* .newsBox .firstLine {
	border-top: none;
}*/

.newsBox dl+p {
	padding: 5px 0;
	border-top: #ddd 1px solid;
}

.newsBox .pdfLink {
	padding-top: 0;
	padding-left: 25px;
	background-position: 3px 0;
}

.newsBox .arrowLink {
	padding-left: 25px;
	background: url(/general/img/common/ico-arrow.png) 5px 0.3em no-repeat;
}

/* Other List
---------------------------*/
/* Tandem List */
.linkList li {
	margin-bottom: 10px;
}

.linkList li.lastLine {
	margin-bottom: 0;
}

/* Side-by-Side List */
.inlineList li {
	display: inline;
	padding-right: 5px;
}

/* List with Bullet */
.bulletList li {
	padding-left: 15px;
	background: url(/general/img/common/ico-dot.png) 5px 0.55em no-repeat;
}

.baseBg .bulletList li {
	padding-left: 15px;
	background: url(/general/img/common/ico-dot_02.png) 5px 0.55em no-repeat;
}

/* Columns List */
.col2List,
.col3List,
.col4List {
	overflow: hidden;
	*zoom:1;
}

.col2List li,
.col3List li,
.col4List li {
	float: left;
	margin-right: 1%;
}

.col2List li {width: 48%;}
.col3List li {width: 32%;}
.col4List li {width: 24%;}


/* Link Icon
---------------------------*/
.blankLink {
	display: inline-block;
	padding-left: 17px;
	background: url(/general/img/common/ico-blank.png) left 0.3em no-repeat;
}

.baseBg .blankLink {
	background-image: url(/general/img/common/ico-blank_02.png);
}

.arrowLink {
	display: inline-block;
	padding-left: 15px;
	background: url(/general/img/common/ico-arrow.png) left 0.25em no-repeat;
}

.arrowLink02 {
	display: inline-block;
	padding-left: 22px;
	background: url(/general/img/common/ico-arrow.png) 6px 0.25em no-repeat;
}

.baseBg .arrowLink {
	background-image: url(/general/img/common/ico-arrow_02.png);
}

.pdfLink {
	display: inline-block;
	padding: 3px 0 3px 22px;
	background: url(/general/img/common/ico-pdf.png) left 0.35em no-repeat;
}


/* Separator Line
---------------------------*/
.separatorLine {
	padding-top: 10px;
	border-top: #ddd 1px solid;
}

.separatorLine_wh {
	padding-top: 10px;
	border-top: #fff 1px solid;
}


/* Table Style
---------------------------*/
.table01 {
	width: 100%;
}

.table01 th,
.table01 td {
	border: #ddd 1px solid;
	vertical-align: middle;
}

.table01 th[scope="col"] {
	padding: 5px 10px;
	background: #008900;
	color:#fff;
}

.table01 th[scope="row"] {
	padding: 10px;
	background: #f0f0f0;
}

.table01 td {
	padding: 10px;
	background: #fff;
}


/* Mouse Over
---------------------------*/
a.over {
	display: inline-block;
	background-color: #fff;	
}

a.over:hover img {
	opacity:0.7;
	filter: alpha(opacity=70);
	-ms-filter: "alpha(opacity=70)";
}


/* Float
---------------------------*/
.fl {float: left;}
.fl-img {float: left; margin-right: 10px;}
.fr {float: right;}
.fr-img {float: right; margin-left: 10px;}
.clear {clear: both;}

/* Justification
---------------------------*/
.ta-l {text-align: left;}
.ta-c {text-align: center;}
.ta-r {text-align: right;}

/* Margin Adjustment
---------------------------*/
.mb0 {margin-bottom: 0 !important;}
.mb5 {margin-bottom: 5px !important;}
.mb10 {margin-bottom: 10px !important;}
.mb12 {margin-bottom: 12px !important;}
.mb15 {margin-bottom: 15px !important;}
.mb17 {margin-bottom: 17px !important;}
.mb20 {margin-bottom: 20px !important;}
.mb25 {margin-bottom: 25px !important;}
.mb30 {margin-bottom: 30px !important;}
.mb35 {margin-bottom: 35px !important;}
.mb40 {margin-bottom: 40px !important;}
.mb45 {margin-bottom: 45px !important;}
.mb50 {margin-bottom: 50px !important;}

.mt0 {margin-top: 0 !important;}
.mt5 {margin-top: 5px !important;}
.mt10 {margin-top: 10px !important;}
.mt15 {margin-top: 15px !important;}
.mt20 {margin-top: 20px !important;}
.mt25 {margin-top: 25px !important;}
.mt30 {margin-top: 30px !important;}
.mt32 {margin-top: 32px !important;}
.mt35 {margin-top: 35px !important;}
.mt40 {margin-top: 40px !important;}
.mt45 {margin-top: 45px !important;}
.mt50 {margin-top: 50px !important;}

.mr0 {margin-right: 0 !important;}
.mr5 {margin-right: 5px !important;}
.mr10 {margin-right: 10px !important;}
.mr15 {margin-right: 15px !important;}
.mr20 {margin-right: 20px !important;}
.mr25 {margin-right: 25px !important;}
.mr30 {margin-right: 30px !important;}
.mr32 {margin-right: 32px !important;}
.mr35 {margin-right: 35px !important;}
.mr40 {margin-right: 40px !important;}
.mr45 {margin-right: 45px !important;}
.mr50 {margin-right: 50px !important;}

.ml0 {margin-left: 0 !important;}
.ml5 {margin-left: 5px !important;}
.ml10 {margin-left: 10px !important;}
.ml15 {margin-left: 15px !important;}
.ml20 {margin-left: 20px !important;}
.ml25 {margin-left: 25px !important;}
.ml30 {margin-left: 30px !important;}
.ml32 {margin-left: 32px !important;}
.ml35 {margin-left: 35px !important;}
.ml40 {margin-left: 40px !important;}
.ml45 {margin-left: 45px !important;}
.ml50 {margin-left: 50px !important;}


/* Font Adjustment
---------------------------*/
.f12 {font-size: 12px !important;}
.f-small {font-size: 84.6%;} /*11px*/


/* For "We can not find the page you requested" page
   For "Page not found" page
---------------------------*/
div#sorryArea {
	margin: 50px 60px 100px;
	line-height: 1.8;
	letter-spacing: 0.1em;
}

div.pageNotfound {	/* for "Page not found" page */
	margin: 40px 50px 0 !important;
	padding-bottom: 30px !important;
}

div#sorryArea h1 {
	margin-bottom: 1em;
	padding-bottom: 0.5em;
	border-bottom: 2px solid #ccc;
	font-size: 1.25em;
	font-weight: bold;
	color: #1a881a;
	text-align: center;
}

div#sorryArea p.sorryLink {
	text-align: center;
}

div#sorryArea p.sorryLink a,
div#sorryArea ul li a {
	background-position: left 0.45em;
}

div#sorryArea div.forEng {	/* for "Page not found" page */
	padding: 15px 20px 25px;
	background-color: #f9f9f9;
	font-family: Verdana,Arial,Helvetica,sans-serif;
}

/* noscript
---------------------------*/
div.noscriptBox {
	margin:10px;
	border:1px solid #ccc;
	background-color: #fff;
}
div.noscriptBox p {
	padding: 10px;
	color: #333;
}
