﻿html, body, div, span,  object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
 form, label, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    /*vertical-align: baseline;*/
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
ol, ul {
    list-style: none;
}

/* スライドバナー＋検索エリア */
#slidebanner-ekinet{
    font-family:"ＭＳ ゴシック",sans-serif;
    font-size:13px;
    line-height:1.4em;
    width:100%;
    margin:0 auto;
    position:relative;
}

button{
    padding:0px !important;
}

/* スライドバナーエリア */

/* えきねっとリンク部 */
.ekinet-area-link{
    z-index:9999;
    position:absolute;
    left:10px;
    bottom:10px;
}

/* IE8 CSSハック */
html>/**/body .ekinet-area-link{
    bottom:8px\9;
}


/* IE9 CSSハック */
.ekinet-area-link:not(:target) {
    bottom:10px;
}
/* Firefox CSSハック */
.ekinet-area-link, x:-moz-any-link  {
    position: absolute;
    left:10px;
    bottom:-5px;
    line-height:0em;
}



#es-module input::-moz-focus-inner {border:0;}

.ekinet-area-link2{
    z-index:9999;
    text-align:right;
    position:absolute;
    right:10px;
    bottom:10px;
    font-size:12px !important;
}
/* Firefox CSSハック */
.ekinet-area-link2, x:-moz-any-link  {
    position: absolute;
    right:10px;
    bottom:10px;
    font-size:12px !important;
}


/* パネルエリア */
#sbe-con{
    width:930px;
    height:310px;
    margin:0 auto;
}

/* 代替画像エリア */
#sbe-con-p{
    z-index:4;
    position:absolute;
}

/* えきねっとエリア */
#ekinet-area{
    z-index:5;
    position:absolute;
    top:10px;
    left:0px;
    width:290px;
    height:290px;

}
/*151120追記*/
#ekinet-area img{
	vertical-align:baseline;
}

/* えきねっとエリア：タブ */

#es-module .box-tab {display:none;}
#es-module .active {display:block;}

#es-module .list-tab li {float:left;}
#es-module .list-tab #tab1,
#es-module .list-tab #tab2 {}
#es-module .list-tab a,
#es-module .list-tab span {
    display:block;
    width:97px;
    height:32px;
    background-image:url(/general/img/ekinet/nav_sprite.png);
    background-repeat:no-repeat;
    text-indent:-9999px;
    white-space:nowrap;
    overflow:hidden;
    outline:none;
}
/* 空席・予約 */
#es-module .list-tab #tab1 a {background-position:0 0;}
#es-module .list-tab #tab1 .active {background-position:0 -32px !important;}
#es-module .list-tab #tab1 a:hover {background-position:0 -64px !important;}
#es-module .list-tab #tab1 .active:hover {background-position:0 -32px !important;}
/* 乗換・運賃 */
#es-module .list-tab #tab2 a {background-position:-97px 0;}
#es-module .list-tab #tab2 .active {background-position:-97px -32px !important;}
#es-module .list-tab #tab2 a:hover {background-position:-97px -64px !important;}
#es-module .list-tab #tab2 .active:hover {background-position:-97px -32px !important;}
/* JR＋宿泊 */
#es-module .list-tab #tab3 a{width:96px !important;}
#es-module .list-tab #tab3 a {background-position:-194px 0;}
#es-module .list-tab #tab3 .active {background-position:-194px -32px !important;}
#es-module .list-tab #tab3 a:hover {background-position:-194px -64px !important;}
#es-module .list-tab #tab3 .active:hover {background-position:-194px -32px !important;}




/* えきねっとエリア：中身 */
.box-tab{
    clear:both;
    height:260px;
    background: rgba(255,255,255,0.9);
    filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#E6FFFFFF,EndColorStr=#E6FFFFFF);
    -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#E6FFFFFF,EndColorStr=#E6FFFFFF)";
    position:relative;
}
/* for IE9 */
.box-tab:not(:target){
    filter: none;
    -ms-filter: none;
}

.active{
    display:block;
}

.hidden{
    display:none;
}

#ekinet-area-inner{
    z-index:9977;
}


.cont-box{
    padding:15px 10px;
}

.box-tab select{
    padding:3px 5px;
}

.box-tab dl{
    margin:0 0 10px 0;
}

.box-tab dt{
    display:inline;
    float:left;
    clear:both;
    margin:0 10px 0 0;
    width:60px;
}

.box-tab dd{
    height:20px;
    position:relative;
}

.customSelectInner{
    position:absolute;
}

.box-tab dd img{
    padding:0px 5px 8px 0;
}



.w55{
    width:38px;
}
.w200{
    width:182px;
}

.fs10{
    font-size:10px !important;
}

.pt05{
    padding:5px 0 0 0 !important;
}
.pb05{
    padding:0 0 5px 0 !important;
}

.p-bold{
    font-weight: bold;
}


/* セレクトボックス */
select{
	cursor:pointer;
	z-index:800;
}
#ekinet-area select{
    padding:2px 10px;
    cursor:pointer;
	z-index:800;
}
.customSelect{
    border:1px solid #c9c9c9;
    background-image:url("/general/img/ekinet/ico_select.png");
    background-color:#fff;
    background-repeat:no-repeat;
    background-position:right center;
    padding:2px 5px;
    cursor:pointer;
    height:16px;
    margin-bottom:4px;
    z-index:800px;
}
.customSelect span{
    cursor:pointer;
}
.customSelectInner{
    width:170px;
    height:16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#ekinet-area-inner button:focus{
    outline:2px solid #06c;
}
.p-sta1 input:focus,
.p-sta2 input:focus,
.customSelect.customSelectFocus,
.select-box:focus,
.l-focus{
    outline:2px solid #06c;
    border:1px solid #fff;
}

.cont-box dl,
.cont-box p{
    clear:both;
}

/* 擬似セレクトボックス */
.select-box{
    display:block;
    border:1px solid #c9c9c9;
    background-image:url("/general/img/ekinet/ico_select.png");
    background-color:#fff;
    background-repeat:no-repeat;
    background-position:right center;
    padding:2px 12px 2px 5px;
    cursor:pointer;
    width:176px;
    height:16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom:4px;
    color:#333;
}
.select-box:link,
.select-box:visited,
.select-box:hover,
.select-box:active{
    color:#333;
    text-decoration:none;
}

/* ラジオボタン */
.ekinet-radio{
    text-align:center;
    height:19px;
    overflow:hidden;
    line-height:1em !important;
    font-size:13px;
    margin-bottom:0px !important;
}

.ekinet-radio input[type="radio"]{
    filter: alpha(opacity=0);
    -moz-opacity:0; opacity:0;
    position: absolute;
    padding:0 0 0px 20px;
}


.ekinet-radio label{
    background-image: url("/general/img/ekinet/btn_radio.png");
    background-repeat:no-repeat;
    background-position:left top;
    padding:0 0 0 20px;
    margin:0 40px 0 0;
    cursor:pointer;
    overflow:hidden;
    display:inline-block;
    height:19px;
}

.ekinet-radio-checked{
    background-position:0 -20px !important;
    height:17px;
}

.ekinet-radio img{
    padding-top:3px;
}

.mr00{
    margin-right: 0px !important;
}

/* テキストボックス（位置ずれ調整） */

.p-sta1 input,
.p-sta2 input{
    background-color:#fff;
    border:1px solid #c9c9c9;
    width:170px;
    height:18px;
}

.p-sta1{
    position:relative;
    margin:0 0 2px 0;
}
.p-sta1 input{
    position:absolute;
}
.p-sta1 img{
    position:absolute;
    right:5px;
}
.p-sta2{
    position:relative;
    margin:0 0 2px 0;
}
.p-sta2 input{
    position:absolute;
    top:0;
}
.p-sta2 img{
    position:absolute;
    right:5px;
    top:0px;
}

/* 検索ボタン */

.ekinet-area-btn{
    text-align:center;
    margin:5px 0;
    clear:both !important;
}

.ekinet-area-btn button{
    border:0px;
    background-color:#transparent !important;
    cursor:pointer;
}

.box-tab button{
    background-color:#transparent !important;
    margin-top:10px;
    /* IE8 CSSハック */
    margin-top:5px\9;
    cursor:pointer;
}
#contents2 .ekinet-area-btn button{
    margin-top:0px !important;
}

/* Firefoxでのずれ防止 */
.box-tab button, x:-moz-any-link  {
    margin-top:10px;
}
#contents2 p{
    font-size:12px;
    margin-bottom:5px;
}
#contents2 hr{
    margin-top:2px  !important;
}

/* えきねっと：境界線 */

.box-tab hr{
    height:1px;
    color:#bfbfbf;
    background-color: #bfbfbf;
    border:none;
    display:block;
    margin:8px 0 8px 0;
}

/* えきねっと：人数選択画面 */
.detail_open,
#ekinet-person-close{
    cursor:pointer;
}

#ekinet-person-detail{
    display:none;
    position:absolute;
    top:28px;
    left:295px;
    background-image:url("/general/img/ekinet/bg_tips.png");
    background-position:0px -146px;
    padding:10px 20px 10px 29px;
    z-index:997;
    overflow:visible;
    font-size:90%;
}

#ekinet-person-close{
    position: absolute;
    top:5px;
    right:5px;
}

#ekinet-person-detail p{
    margin:0 0 5px 0;
}


/* えきねっと：宿泊地選択画面 */
.detail_open,
#ekinet-area-close{
    cursor:pointer;
}

#ekinet-area-detail{
    z-index:9999;
    display:none;
    position:absolute;
    top:0px;
    left:295px;
    width:520px;
    height:295px;
    background-image:url("/general/img/ekinet/bg_tips.png");
    padding:5px 20px 10px 29px;
}
/* for IE9 */
#ekinet-area-detail:not(:target){
    filter: none;
    -ms-filter: none;
}

#ekinet-area-tri{
    position:absolute;
    top:188px;
    left:-9px;
}

#ekinet-area-close{
    position: absolute;
    top:5px;
    right:5px;
}

#ekinet-area-txt{
    margin-bottom:3px;
}

#ekinet-area-detail dl{
    display:inline-block;
    float:left;
    margin:3px 0 7px 0;
}

#ekinet-area-detail dt{
    color:#fff;
    background-color:#535353;
    text-align:center;
    padding:4px 10px;
    height:16px;
    border-right:1px solid #fff;
}

#ekinet-area-detail dd{
    border-right:1px solid #aaacab;
    overflow-y:auto;
    height:216px;
}


#ekinet-area-detail dd li:hover{
    color:#fff;
    background-color:#23aa8f;
}

.br-none{
    border-right: 0px transparent !important;
}

.ekinet-area-detail-cat01{
    width:140px;
}
.ekinet-area-detail-cat02{
    width:130px;
}
.ekinet-area-detail-cat03{
    width:250px;
}

.area_checked{
    color:#fff;
    background:#23aa8f url("/general/img/ekinet/ico_checked.png") no-repeat 8px 50%;
}

.ekinet-area-detail-cat02 ul,
.ekinet-area-detail-cat03 ul{
    display:none;
}

.bg-dotted{
    background-image:url("/general/img/ekinet/bg_list_dotted.gif");
    background-repeat:repeat;
    background-attachment:scroll;
    
}

#ekinet-area-detail dd li{
    text-align:center;
    cursor:pointer;
    height:20px;
    margin-bottom:1px;
    padding:3px 0 0;
}

.detail-active{
    display:block !important;
}

/* えきねっと：エラー画面 */

.ekinet-err{
    color:#ff0000;
    //display:none;
    position:absolute;
    left:304px;
    width:280px;
    height:60px;
    background-image: url(/general/img/ekinet/bg_error.png);
    background-repeat: no-repeat;
    padding:20px 20px 0;
    z-index:9999;
}

.error_1{
    top:100px;
}
.error_2{
    top:170px;
}

/* for IE9 */
#ekinet-err:not(:target){
    filter: none;
    -ms-filter: none;
}

#ekinet-err-close{
    position: absolute;
    top:10px;
    right:10px;
}

#ekinet-err p{
    display:inline-block;
}

.noclick{
    cursor:default !important;
}

.noclick:hover{
    color:#4c4c4c !important;
    background:none !important;
    height:22px;
}


/* ボタンホバー */

#kuuseki-btn{
    width:222px;
    height:36px;
    overflow:hidden;
    background-color:transparent;
    background-image:url("/general/img/ekinet/btn_01search.jpg");
    background-position:top left;
    background-repeat:no-repeat;
}
#kuuseki-btn:hover{
    background-repeat:no-repeat;
    background-position:bottom left !important;
}

#norikae-unchin-btn{
    width:222px;
    height:36px;
    overflow:hidden;
    background-color:transparent;
    background-image:url("/general/img/ekinet/btn_02search.jpg");
    background-position:top left;
    background-repeat:no-repeat;
}
#norikae-unchin-btn:hover{
    background-repeat:no-repeat;
    background-position:bottom left !important;
}

#SubmitLodging{
    width:222px;
    height:36px;
    overflow:hidden;
    background-color:transparent;
    background-image:url("/general/img/ekinet/btn_03search.jpg");
    background-repeat:no-repeat;
}
#SubmitLodging:hover{
    background-repeat:no-repeat;
    background-position:bottom left !important;
}

#ekinet-person-detail button,
#ekinet-area-detail button{
    width:220px;
    height:27px;
    overflow:hidden;
    background-image:url("/general/img/ekinet/btn_set.jpg");
    background-repeat:no-repeat;
    background-position:top left;
}
#ekinet-person-detail button:hover,
#ekinet-area-detail button:hover{
    background-repeat:no-repeat;
    background-position:bottom left !important;
}

/* 時間外 */

#es-module .cont-box2_eki {
	padding:1px 0;
	width:290px;
	min-height:261px;
	background:url(/general/img/ekinet/bg_timeeout_eki.png) 0 0 no-repeat;
}
#es-module .cont-box2_dp {
	padding:1px 0;
	width:290px;
	min-height:261px;
	background:url(/general/img/ekinet/bg_timeeout_dp.png) 0 0 no-repeat;
}
#es-module #black-box {
	margin:54px 8px 0 8px;	
    border:none;
    border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	padding:12px 12px 12px 15px;
	background-color:#757574;
	letter-spacing:1px;
	font-weight:bold;
	color:#fff;
}
#es-module #black-box a {color:#fff;}
#es-module #black-box a.link-window {
	margin-right:3px;
	padding:0 11px 0 0;
	background:url(/general/img/ekinet/icon_win_white.png) right center no-repeat;
}