@charset "Shift_JIS";

/*--------------------------
　サイトフッター
---------------------------*/
#jreFooter {
	min-width: 950px;
	padding: 18px 0 20px;
	background: url(/general/img/footer/bg-footer.png) center top no-repeat;
	text-align: center;
}

.footLink {
	margin-bottom: 10px;
}

.footLink li {
	display: inline;
	padding: 0 10px;
	border-right: #666 1px solid;
}

.footLink li:first-child {
	border-left: #666 1px solid;
}