@charset "Shift_JIS";

/*--------------------------
　サイトヘッダー
---------------------------*/
#jreHeader {
	margin-top: 15px;
}

#jreLogo {
	width: 74px;
	height: 70px;
	float: left;
}

.jreHeader-inner {
	width: 842px;
	float: right;
	*zoom:1;
}

#utility {
	float: right;
	margin-bottom: 10px;
}

/*言語選択ナビ
-------------------------------*/
#langNav {
	display: inline-block;	
	*display: inline;
	*zoom:1;
	vertical-align: middle;
}
#langNav li {
	float: left;
}

#langNav a {
	display: block;
	height: 17px;
	background: url(/general/img/header/bg-langnav.png) no-repeat;
	text-indent: -9999px;
}

#langNav .ln-en a {
	width: 70px;
	background-position: 0 0;
}
#langNav .ln-sc a {
	width: 76px;
	background-position: -70px 0;
}
#langNav .ln-tc a {
	width: 76px;
	background-position: -146px 0;
}
#langNav .ln-kr a {
	width: 68px;
	background-position: -222px 0;
}


/*グローバルナビ
-------------------------------*/
#globalNav {
	clear: right;
	float: left;
	width: 530px;
	height: 45px;
}

#globalNav li {
	float: left;
}

#globalNav a {
	display: block;
	height: 45px;
	background: url(/general/img/header/bg-gnav.png) no-repeat;
	text-indent: -9999px;
}

#globalNav .gn-railway a {
	width: 222px;
	background-position: 0 0;
}
#globalNav .gn-info a {
	width: 138px;
	background-position: -222px 0;
}
#globalNav .gn-company a {
	width: 170px;
	background-position: -360px 0;
}

#globalNav .gn-railway a:hover,
.ctgRailway #globalNav .gn-railway a {
	background-position: 0 -45px;
}
#globalNav .gn-info a:hover,
.ctgInfo #globalNav .gn-info a {
	background-position: -222px -45px;
}
#globalNav .gn-company a:hover,
.ctgCompany #globalNav .gn-company a {
	background-position: -360px -45px;
}


/*リンクナビ
-------------------------------*/
#linkNav {
	float: right;
}

#linkNav li {
	float: left;
}

#linkNav a {
	display: block;
	height: 45px;
	background: url(/general/img/header/bg-snav.png) no-repeat;
	text-indent: -9999px;
}

#linkNav .ln-suica a {
	width: 81px;
	background-position: 0 0;
}
#linkNav .ln-otona a {
	width: 157px;
	background-position: -81px 0;
}

#linkNav .ln-suica a:hover,
.ctgSuica #linkNav .ln-suica a {
	background-position: 0 -45px;
}
#linkNav .ln-otona a:hover,
.ctgOtona #linkNav .ln-otona a {
	background-position: -81px -45px;
}

/*Yahoo検索BOX
-------------------------------*/
#srchBox {
	display: inline-block;
	*display: inline;
	*zoom:1;
	width:236px;
	_width:234px;
	height: 26px;
	background-color:#FFFFFF;
	border :#aaaaaa 1px solid;
	border-radius: 2px;
	color:#000000;
	vertical-align: middle;
	overflow: hidden;
}

#srchBox #srchForm {
	white-space:nowrap;
	margin: 0;
	padding: 0;
}

#srchBox #srchInput {
	width:200px;
	height: 24px;
	vertical-align:bottom;
	line-height: 22px;
}

#srchBox #srchBtn {
	width:30px;
	*padding-top: 2px;
}

#srchBox.watermark #srchInput{
	padding:1px 1px 2px 1px;
	border:none;
	background: #fff url(/general/img/header/yjlogo_type4.gif) 5px center no-repeat;
}

#srchBox #srchInput.nomark {
	background: none;
}

div#srchBox img {	/* yahoo serch tracking ID display */
	display: none;
}


/*clearfix
-------------------------------*/
.jreHeader-inner:after,
#langNav:after,
#globalNav:after,
#linkNav:after {
	content:"";
	display: block;
	clear: both;
}

.jreHeader-inner,
#langNav,
#globalNav,
#linkNav {
	*zoom:1;
}
