@charset "Shift_JIS";

/*--------------------------
　JR東日本トップページ
---------------------------*/

/*ブランドパネルのずれ補正 (Firefoxで縦方向のスクロールバーを強制表示)
----------------------------*/
html { height: 100.2%;}


/*重要なお知らせ
----------------------------*/
div.emergency {
	padding: 13px;
	background: url(/general/img/common/bg-body.png) center top repeat-y;
}

.emergency-box {
	width: 926px;
	margin: 0 auto;
	padding: 2px;
	background: url(/general/img/common/bg-stripe_01.png);
}

.emergency-box ul {
	margin: 0;
	padding: 10px 10px 5px 40px;
	background: url(/img/jretop/ico-emergency.png) 10px center no-repeat #fff;
}

.emergency-box ul li {
	margin-bottom: 5px;
}

/*
.emergency-box a {
	color: #333;
}
*/

/*運行情報
----------------------------*/
#infoTop {
	padding: 15px 0;
	background: url(/img/jretop/bg-infotop.png) center top repeat-y;
	position: relative;
}

/*行設定*/
.infoRow+.infoRow{
	margin-top: 10px;
}

.infoRow {
	position: relative;
	*zoom:1;
}

.infoRow:after {
	content:"";
	display: block;
	clear: both;
}

.infoRow.firstLine {
	height: 40px;
}



/*運行情報見出し*/
#infoTop h2 {
	width: 120px;
	padding-bottom: 11px;
	border-bottom: #69c800 5px solid;
	position: absolute;
	left:0;
	top:0;
}

#infoTop h2 .help {
	position: absolute;
	right:0;
	top:0;
}

		/*運行ステータス情報*/
		#infoTop .statusBox {
			position: absolute;
			left: 130px;
			top: 0;
			width: 670px;
			height: 40px;
			background: url(/img/jretop/txt-nodata.png) center center no-repeat;
		}
		
		#infoBox {
			width: 670px;
			height: 40px;
			background: url(/img/jretop/bg-infotop.png) center top repeat-y;
		}

		#infoBox ul#infoItem01,
		#infoBox ul#infoItem02 {
			float: left;
			padding: 2px;
			background: url(/general/img/common/bg-stripe_02.png);
			overflow: hidden;
			*zoom:1;
		}

		#infoBox ul#infoItem02 {
			margin-left: 10px;
		}

		#infoBox ul#infoItem01 li,
		#infoBox ul#infoItem02 li {
			float: left;
			display: inline;
			position: relative;
			width: 119px;
			margin-left: 2px;
			padding: 8px 5px;
			background-color: #000;
		}

		#infoBox ul#infoItem01 li:first-child,
		#infoBox ul#infoItem02 li:first-child {
			margin-left: 0;
		}

		#infoBox ul#infoItem01 li dl dt,
		#infoBox ul#infoItem02 li dl dt {
			float: left;
			clear: left;
			width: 99px;
		}

/*遅延証明書*/
#infoTop .infoDelay {
	position: absolute;
	right: 0;
	top:0;
}

/*運行情報リンク*/
.infoLink {
	background: #fff;
	overflow: hidden;
	*zoom:1;
}

.infoLink h3 {
	float: left;
	width: 90px;
	padding: 13px 0 12px;
	background: #e6e6e6;
	text-align: center;
}

.infoLink ul {
	padding: 10px 0  0 12px;
	overflow: hidden;
	*zoom: 1;
}

.infoLink li {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	margin-right: 20px;
	font-size: 14px;
}

.infoLink li a.pdfLink {
	padding: 0 0 0 22px !important;
	background: url(/general/img/common/ico-pdf.png) left 0.1em no-repeat !important;
}

/*運休情報*/
.infoStop {
	width: 330px;
	float: left;
}

/*お知らせ*/
.infoMsg {
	width: 590px;
	float: right;
}

		/*運行情報PDF*/
		#infopdfupload {
			margin-top: 10px;
			padding: 10px 15px;
			background: #fff;
			line-height: 2;
		}

		#infopdfupload ul li.linkList {
			padding: 0 0 0 22px;
			background: url(/general/img/common/ico-arrow.png) 3px 0.5em no-repeat;
		}

		#infopdfupload ul li.pdfList {
			padding: 0 0 0 22px;
			background: url(/general/img/common/ico-pdf.png) left 0.3em no-repeat;
		}

		#infopdfupload ul li a {
			color: #f00;
		}


/*コンテンツメニュー
----------------------------*/
#menuTop {
	padding: 15px 0;
	background: url(/general/img/common/bg-body.png) center top repeat-y;
}

/*バナー領域
----------------------------*/
#bnrArea {
	padding: 15px 0;
}

#bnrArea .col4 {
	margin-bottom: 15px;
}

/*画像hover処理
----------------------------*/
#infoTop div.infoRow h2 a:hover img.trainInfoLink,
#infoBox ul#infoItem01 li dl dt a:hover img,
#infoBox ul#infoItem02 li dl dt a:hover img,
#bnrArea a:hover img {
	opacity:0.7;
	filter: alpha(opacity=70);
	-ms-filter: "alpha(opacity=70)";
}
