@charset "Shift_JIS";

/* ----------------------------------------------------
	JR Top スライドバナー用 CSS
----------------------------------------------------- */
/*--------------------------
　sb-area (t-slider)
---------------------------*/

#sb-area {
	z-index:1;
	position:absolute;
	top:0px;
	left:0px;
	width:100%;/* 20150627 */
	height:310px;
	overflow:hidden;
	/*background-color:#007a52; for mac FF 20141127 */
}
#t-slider{
	width:1920px !important;
	height:310px !important;
	margin:0 auto !important;
	position:relative;
}
.caroufredsel_wrapper{
	width:100% !important;
	margin:0 !important;
}
#t-slider {*zoom:1;}
#t-slider:after {
	content:"";
	display:block;
	clear:both;
}
#t-slider li {
	width:100%;
	margin:0 !important;
	text-align:center;
	position:relative;
	overflow:hidden;
}
#t-slider li img{
    margin:0 auto;
}
#sb-area #t-prev,
#sb-area #t-next {
	position:absolute;
	top:138px;
	width:36px;
	height:36px;
}
#sb-area #t-prev {left:8px;}
#sb-area #t-next {right:8px;}

#t-pager-wrapper{
	z-index:9877;
	position:absolute;
	width:100%;
	bottom:10px;
	right:0px;
}

#t-pager {
	text-align:right;
	z-index:9888;
	width:930px !important;
	margin:0px auto;
	position:relative;
}
#t-pager a {
	display:inline-block;
	*display:inline;
	*zoom:1;
	width:14px;
	height:14px;
	margin:0 7px;
	background:url(/general/img/brandpanel/t_pager_w.png) left bottom no-repeat;
}

#t-pager a span{
	display:none;
	height:34px;
}

#t-pager a.selected {background-position:left top;}



/* ----------------------------------------------------
	slideBanner
	ekinetSearch
----------------------------------------------------- */
#slidebanner-ekinet {
	/*background-color:#e7eee9; 20141127 */
}
#sbe-con {
	position:relative;
	width:930px;
	height:310px;
	margin:0 auto;
}
#ekinet-area {
	position:absolute;
	top:0;
	right:0;
	width:242px;
	height:310px;
	//background:url(/general/img/ekinet/bg_ekinet.gif) left top no-repeat;   /* 2015.06.27 Del */
}


/* ----------------------------------------------------
	「詳しくはこちら」ボタン
----------------------------------------------------- */

#t-slider li span{
    z-index:8887;
	position:relative;
	width:930px;
	margin:-70px auto 0;
	padding-bottom:70px;
	display:block;
	text-align:right;
}

#t-slider a{
	z-index:8888;
	display:inline-block;
	width:140px;
	height:34px;
	background-image:url("/general/img/brandpanel/btn_show.png");
	background-position:top left;
	background-repeat:no-repeat;
}

#t-slider a:hover{
	background-position:bottom left !important;
	background-repeat:no-repeat;
}
