@charset "Shift_JIS";

/* ----------------------------------------------------
	JR Top スライドバナー用 CSS　※JS呼び込みされない場合
----------------------------------------------------- */
/*--------------------------
　sb-area (t-slider)
---------------------------*/

#sbe-con p{
	position:absolute;
	z-index:9999;
}

#sb-area {
	position:absolute;
	top:0px;
	left:-50%;
	margin-left:50%;
	width:100%;/* 20150627 */
	height:310px;
	overflow:hidden;
	/*background-color:#007a52; for mac FF 20141127 */
}
#t-slider{
	width:100% !important;
	height:310px !important;
	margin:0 auto !important;
}

#t-slider:after {
	content:"";
	display:block;
	clear:both;
}
#t-slider li {
	width:100%;
	height:310px;
	text-align:center;
	position:relative;
}
#t-slider li img{
	position:absolute;
	left:-495px;
	padding-left:25%;
    width:1920px;
    height:310px;
}


/* ----------------------------------------------------
	slideBanner
	ekinetSearch
----------------------------------------------------- */
#slidebanner-ekinet {
	/*background-color:#e7eee9; 20141127 */
}

#ekinet-area {
	position:absolute;
	top:0;
	right:0;
	width:242px;
	height:310px;
	//background:url(/general/img/ekinet/bg_ekinet.gif) left top no-repeat;   /* 2015.06.27 Del */
}


/* ----------------------------------------------------
	「詳しくはこちら」ボタン
----------------------------------------------------- */

#t-slider li span{
    z-index:8887;
	position:relative;
	width:930px;
	height:34px;
	display:block;
	text-align:right;
}

#t-slider a{
	z-index:8888;
	display:inline-block;
	position:absolute;
	top:320px;
	right:0px;
	width:140px;
	height:34px;
	background-image:url("/general/img/brandpanel/btn_show.png");
	background-position:top left;
	background-repeat:no-repeat;
}

#t-slider a:hover{
	background-position:bottom left !important;
	background-repeat:no-repeat;
}
