@charset "UTF-8";

/*************************************************************
2column
mainContent/subContent
*************************************************************/

div#container {
margin:0 auto;
width:920px;
text-align:left;
}

div#content{
	padding-bottom:15px;
	}

div#mainContent {
float:left;
width:605px;
}

div.section{
	margin-bottom:10px;
	}

div#subContent {
float:right;
width:300px;
}