@charset "utf-8";

/*======================================

	common

=======================================*/
* {
margin:0;
padding:0;
}
	
body {
	line-height: 1;
	background-color: #eee;
	/*\*/
	/*letter-spacing: 0.2em; /* バックスラッシュハックMACIE5用-文字間をフォントサイズの0.1em分に指定 */
	/**/
}
/*FF3 only*/
/*センターに中央配置レイアウトすると1pxずれるの回避*/
html>/**/body , x:-moz-any-link, x:default{
margin-left:-1px;
}

p,
pre,
address,
cite {
	margin:0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-size:100.01%;
}

hr{display:none;}
img{border:none;}

table,tr,td{
	margin:0;
	padding:0;
	}

/*======================================

	lr_box

=======================================*/
.lr_box{
}
.l{
float:left;
}
.r{
float:right;
}

.clearfix:after {
  content: ".";  /* 新しい要素を作る */
  display: block;  /* ブロックレベル要素に */
  clear: both;
  height: 0;
  visibility: hidden;
}

.clearfix {
  min-height: 1px;
}

* html .clearfix {
  height: 1px;
  /*\*//*/
  height: auto;
  overflow: hidden;
  /**/
}


/*======================================

	module

=======================================*/
.module{
margin-bottom:10px;
}
